[2016-04-05 11:55] bozana opened #1340 "error on catalog category and series view page"
if no category or series matching the given path are found...

[2016-04-05 12:15] jnugent commented on #1310
Tagging @jmacgreg so he's on on this too.

[2016-04-05 14:04] NateWr commented on #1231
I've marked the chapter display as "ok" for this ticket. But if files are associated with chapters, these aren't displayed with the chapter information.

I don't see any way to retrieve the associated files with `Chapter.inc.php` or `ChapterDAO.inc.php`. But that could be a good improvement to consider in the future.

[2016-04-05 14:20] NateWr opened #1341 "Add help panel links to press/journal set-up wizard"
This could be a good next step for the help panel.

[2016-04-05 14:56] NateWr commented on #1231
PRs for OMP and OJS (nothing for pkp-lib):

https://github.com/pkp/omp/pull/263
https://github.com/pkp/ojs/pull/811

@asmecher I've reorganized the checklist at the top of this issue. There's only one critical bug remaining for OMP 1.2 which I'm not really well-placed to solve, so I'm assigning this ticket to you (though anyone's welcome to pick it up).

The other two issues can probably be postpo

[2016-04-05 15:17] asmecher commented on #1339
@luandro, could you post on our support forum at http://forum.pkp.sfu.ca? That's the best way to get support, and if it turns out to be a bug, we'll take care of channeling it back into the issue system.

[2016-04-05 15:17] #1339 closed

[2016-04-05 15:54] asmecher commented on #1263
@bozana Thanks!

[2016-04-05 16:28] crism commented on #1336
Interestingly “Do not display…” is _checked_ in the form, meaning the database value should be true. It’s `1` for the null locale, but `0` for `en_US`, meaning the null value is the one being honored…

[2016-04-05 16:40] asmecher commented on #1231
I'll test to see why the Travis build failed for the OMP PR.

[2016-04-05 16:51] crism commented on #1336
Yeah, something is busted, but I can’t find it in a careful trace. I deleted the no-locale version of `hideCoverPageArchives`, then visited the issue cover tab; hide is set to true, saved it as-was, and now the no-locale `hideCoverPageArchives` is back.

[2016-04-05 16:52] asmecher commented on #1231
The tests seem to have failed on a networking problem on the Travis servers.

[2016-04-05 17:05] asmecher commented on #1340
Thanks, @bozana!

[2016-04-05 17:05] #1340 closed

[2016-04-05 17:56] asmecher commented on #1231
Regarding...

    When Settings > Press > Enable this press to appear publicly on the site is not checked, the public site is still available.

...the traditional behavior of this setting in OJS is to prevent linking to that press from elsewhere in the system, but to leave the site available if you know the URL. The idea was that you could create a new press/journal and configure and explore it be

[2016-04-05 18:07] asmecher commented on #1295
That last PR to OMP needs porting to OMP, right?

[2016-04-05 19:07] mtub commented on #1332
Yes, this is exactly what I was hoping for ;) - let's just update the list until everything has been resolved. Thanks, @asmecher.

[2016-04-05 20:04] crism commented on #1336
More fun with error log messages:
[code]
This is when saving the cover tab, _after_ deleting the no-locale setting of `hideCoverPageArchives` from the database, and clearing the data cache. I think maybe the form template doesn’t properly handle this value (despite the `multilingual=true`).

[2016-04-05 20:12] crism commented on #1336
The form data includes `coverPageAltText[en_US]` and `coverPageDescription[en_US]` as parameters, but just `hideCoverPageArchives` and `hideCoverPageCover`. It seems like those latter parameters are not properly internationalized. Where’s the breakdown?

[2016-04-05 20:47] crism commented on #1336
My best guess now is that this actually has to do with how Smarty templates get processed when checkboxes are allegedly multilingual. A survey of my database shows no apparently inappropriately no-locale settings values, except three for `issue_settings`, all Boolean, with checkbox controls.

[2016-04-05 20:56] crism commented on #1336
Indeed, when I delete the offending no-locale settings from `issue_settings`, all of my PHP warnings go away—unless I save the cover settings for an issue again, in which case they start snowing my error log again. Changing the bug title to reflect this.

[2016-04-05 21:25] crism opened #1342 "[OJS] issue TOC grid fails with fatal error"
Against `HEAD`:
[code]
The correct method is `getSeq()`.

[2016-04-05 21:38] crism commented on #1342
Ugh… usage is all over the place in terms of `getSeq()` _vs._ `getSequence()`. Any suggestions on which direction to fix this?

[2016-04-05 23:50] asmecher commented on #1342
Both are at play in the OMP master codebase (which we're working hardest on ATM), and overall living happily in coexistence -- though I'd suggest we standardize after OMP 1.2 comes out and before OJS 3.0 does. FYI, OMP 1.2 is going to occupy almost all my attention for the next week or two, but thereafter I'll be getting back to the OJS master branch stuff you're filing. If you're finding it too u

[2016-04-05 23:53] asmecher commented on #1336
Ah, yes, you've hit the nail on the head: the form builder vocabulary code that we use to standardize (somewhat) form elements doesn't support multilingual checkboxes. We discussed how to support these and decided that they were simply a bad idea, so we need to review where the code expects them to behave and change the controls used. These elements are likely hold-overs from OJS 2.x.

[2016-04-06 00:02] asmecher commented on #1231
Regarding https://github.com/pkp/pkp-lib/issues/1231#issuecomment-205823399:

You're right that there's no `ChapterDAO` call for this. Your best bet is to use the `SubmissionFileDAO::getLatestRevisions` function, make sure they're available files, and then check for a chapter association using `$monographFile->getData('chapterId')`.

[2016-04-06 00:03] asmecher commented on #1231
Regarding https://github.com/pkp/pkp-lib/issues/1231#issuecomment-205753424:

I don't have a strong opinion about this; we're certainly going to have to work on this in later releases whichever way we go. If you think it's best, go ahead and remove the Added date.

[2016-04-06 09:28] bozana commented on #1295
@asmecher, yes, I will have to check all those import/export issues for OJS :-)

[2016-04-06 09:52] NateWr commented on #1231
Ok, small PR to remove the Added date from full monograph templates:

https://github.com/pkp/omp/pull/265

Thanks for clarifying the Settings > Press > Enable feature. My thinking is that it doesn't have a use in an OMP context, since we don't have any page on the site that lists presses in the same way that we have the overall site index for OJS. I suspect we could probably remove the feature, bu

[2016-04-06 10:29] NateWr opened #1344 "OMP Help Panel integration for OMP 1.2"
This issue is just for tracking the following PRs against the OMP 1.2 milestone:

https://github.com/pkp/pkp-lib/pull/1343
https://github.com/pkp/omp/pull/266

The original issue which isn't pegged to OMP 1.2 is #1032.

[2016-04-06 11:19] bozana opened #1346 "Plugin authorization"
Admin user cannot use plugin settings function on the administration > settings > plugins page, if the plugin is context specific. S.: https://github.com/pkp/omp/blob/master/classes/security/authorization/internal/PluginLevelRequiredPolicy.inc.php#L47-L49. Is this intended to be so? If so:
The (not translated) message "##user.authorization.pluginLevel##" appears, because it is in the manager.xml l

[2016-04-06 13:29] bozana opened #1347 "User Import/Export Issues"
- [x] a) the path element for user_group element should be removed (s. https://github.com/pkp/pkp-lib/commit/89fa15d55b47580457207f1edd4e91836414f74e) -- XML validation expects it at the moment. (PR OMP: https://github.com/pkp/omp/pull/267) (PR OJS: https://github.com/pkp/ojs/pull/818) (PR OMP, OJS: https://github.com/pkp/pkp-lib/pull/1348)
- [x] b) plugins.importexport.users.uploadFile key is mis

[2016-04-06 14:49] bozana commented on #1347
A better validation error reporting is required (s. e) above), but this can be deferred for OJS 3.0.

[2016-04-06 17:04] asmecher opened #1349 "Make page numbers multilingual"
See http://forum.pkp.sfu.ca/t/multi-language-article-page-numbers/10696

[2016-04-06 17:08] asmecher commented on #1347
Thanks! Does any of that OMP PR need to be ported to OJS?

[2016-04-06 17:12] asmecher commented on #1231
Marvelous -- thanks, @NateWr!

[2016-04-06 17:39] asmecher commented on #1032
@NateWr, I turned those two PRs into rebases on my own fork:
https://github.com/pkp/pkp-lib/pull/1350
https://github.com/pkp/omp/pull/268

I think the Travis builds were failing on your OMP PR because the final commit included two submodule updates; it should only include the lib/pkp submodule update. I'll see if the tests pass this way.

[2016-04-06 18:44] emersoncpp opened #1351 "Browser back button issue: ERR_CACHE_MISS"
The error occurs when you click back button after details of an reviewer for the Reviwer Assignment function.

The browser displays: ERR_CACHE_MISS

OJS 2.4.8.0

[2016-04-06 18:46] asmecher commented on #1351
That's a Chrome error message, not an OJS/OCS/OMP/OHS one. See e.g.:
http://stackoverflow.com/questions/26515991/chrome-err-cache-miss

FYI, the [support forum](http://forum.pkp.sfu.ca/) is usually the best place to start when looking for support.

[2016-04-06 18:46] #1351 closed

[2016-04-06 18:49] emersoncpp commented on #1351
Asmecher, It is also occurring in other browsers.

[2016-04-06 18:52] asmecher commented on #1351
I can only guess, but I suspect it's due to your browser not wanting to re-submit a form POST, which would be required in order to go back to the previous page.

If your browser permitted you to go back, POSTing the form that generated that page in the first place, then it would likely cause actions to be inadvertently duplicated, which would be bad.

[2016-04-06 18:55] asmecher commented on #1032
Merged. Two additional changes were required, FYI, @NateWr:

- [Javascript linting tweaks](https://github.com/pkp/pkp-lib/pull/1350/commits/3e1e30cff118c45f6837e06f6956e90b967f9451)
- [Change the help check script to ignore anchors](https://github.com/pkp/pkp-lib/pull/1350/commits/2f4dfa680b60bab23d486da9ed3fa4b43931116c)

That last one should eventually be improved to check that anchors exist in

[2016-04-06 19:22] asmecher commented on #1346
Can you check the URL to see if that area is served up with a context, or whether the context path is `index`?

[2016-04-06 19:24] asmecher commented on #1344
Those are both merged in via my own forks of those branches. See [this comment on issue 1032](https://github.com/pkp/pkp-lib/issues/1032#issuecomment-206482412).

[2016-04-06 19:40] asmecher commented on #1344
@NateWr, this looks fabulous. I can see lots of room for more content links (e.g. the Catalog Entry tabset is pretty high on the list) but as a content and content delivery baseline for 1.2 we're on very good footing. I'll close this entry for now, but will update the UI/UX checkout install and let @stranack know when that's done in case he wants to review it.

[2016-04-06 19:40] #1344 closed

[2016-04-06 20:07] asmecher commented on #1238
@jmacgreg, one of the common use cases for publishing an article to an already-published issue is if the journal is using a megajournal-style model (where the "current" issue gets new articles). I'd argue that the article publication date should be set to the day the article is scheduled, not the date the issue was published.

[2016-04-06 20:16] mtub commented on #1238
I agree with what @asmecher said - in fact the change you suggest, @jmacgreg, would really contradict the meaning of "publishing" an article. You should not set the publication date to an earlier date.

[2016-04-06 21:45] asmecher commented on #1332
OK, scheduling for 3.0 -- it won't be an issue for OMP 1.2.

[2016-04-06 22:03] asmecher commented on #1070
Deferring from OMP 1.2.

[2016-04-07 02:34] jmacgreg commented on #1238
Right, on further consideration totally agreed (as I probably was when the original article/issue date_published code was introduced). This was a problem reported by a client, IIRC; I'll see if I can track down what the issue was and if there was a larger issue behind the scenes, but otherwise I'm ok with closing this.

[2016-04-07 02:34] #1238 closed

[2016-04-07 09:32] NateWr commented on #1344
Just a note to say I did a quick look over everything in master and it looks like it's all in place and working well. :+1:

[2016-04-07 09:49] bozana commented on #1346
It is on this URL: http://.../index.php/press1/admin/settings i.e. with context path. It is the Administration area > Settings > Plugins.

[2016-04-07 10:18] bozana opened #1352 "CSV Import/Export Plugin"
The CSV Import/Export Plugin in OMP doesn't work. How is it supposed to work?

[2016-04-07 15:23] crism commented on #1342
The ubiquity of various classes’ `getSeq*()` makes it very difficult to track all the usage. I’ll change this one call to match the method name, rather than risk changing the method.

[2016-04-07 15:34] crism commented on #1342
Oh, dear… the call is actually being made on whatever is passed to `TocGridHandler::getDataElementSequence()`… which might not always be a `PublishedArticle` instance. Hrmph.

[2016-04-07 15:44] mfelczak opened #1353 "[OJS] Navbar user home should stay in journal context for single journal installs"
Check site settings for journal redirect, similar to conditional display of "My Journals" in user block.

[2016-04-07 18:05] beghelli opened #1354 "Statistics report generator fixes/tweaks"
- [x] Add documentation about setting the correct base url and downloading the GeoLocation tool into the README file.
- [x] Add a link to the statistics page into the tools index one;
- [x] The report generator handler is not updating the advanced settings when changing the basic ones with the date range opened/selected
- [x] Spin up a loading icon after switching the templates, to make sure users

[2016-04-07 22:40] crism commented on #1342
`Plugin` and its subclasses were consistent about `*Seq()`; I’ve left them alone. However, `DataObject` subclasses were variously using `*Seq()` and `*Sequence()`, which is a problem for generic things like grid handling. I’ve standardized all of them on `*Sequence()`. I’ll test locally before sending pull requests, but if anyone else wants to look this over, please do—I recognize it’s potentially

[2016-04-08 12:56] beghelli opened #1356 "Categories ordering is not working"

[2016-04-08 13:00] #1356 closed

[2016-04-08 13:06] beghelli commented on #986
Checked both code and UI and it's working as expected. Closing for now.

[2016-04-08 13:06] #986 closed

[2016-04-08 13:09] #1354 closed

[2016-04-08 15:39] crism opened #1357 "[OMP] category grid error when reordering empty categories"
Against `HEAD`, editing the catalog entry for a book, I try to reorder chapters, some of which have no contributors. I get an error message in the log:
[code]
That method is:
[code]

[2016-04-08 15:41] crism commented on #1357
Ah, no—those headers are for the chapter contributors (though it looks odd if there are none). The proximal bug here is that if a chapter has no contributors, reordering fails when it tries to handle the authors.

[2016-04-08 15:56] crism commented on #1357
And to correct my original report—this is something that was already `getSequence()`, nothing to do with #1342.

[2016-04-08 16:08] crism opened #1359 "[OJS] PHP error when saving article metadata"
Against `HEAD`, testing another issue, I open the metadata for an article, reorder the authors, and save the metadata. I get an error in the log:
[code]
Should probably be `getLocalizedCoverage()`.

[2016-04-08 17:29] asmecher commented on #632
@jnugent, a reminder to have a look at this one!

[2016-04-08 17:30] asmecher commented on #993
@beghelli, how's progress on this one?

[2016-04-08 17:37] asmecher commented on #1342
Thanks, @crism; I'll leave these open until OMP 1.2 is out, then give it a proper look.

[2016-04-08 17:44] #1204 closed

[2016-04-08 17:45] asmecher commented on #1204
Thanks, @bozana!

[2016-04-08 17:45] asmecher commented on #1199
Merged, thanks!

[2016-04-08 17:45] #1199 closed

[2016-04-08 17:47] asmecher commented on #1352
Are you trying via the web interface? That's not implemented (yet); it's currently command-line only.

[2016-04-08 17:50] beghelli commented on #993
Still moving operations from NotificationsHandler to the grid, also reusing some of the tasks grid code. I will try to finish this today so we can have some testing before release. I will let you know in a few hours.

[2016-04-08 17:54] beghelli commented on #1357
This is not related to OMP, tested and works well. I think I fixed this for OMP but not for OJS, taking a look. Anyway, removing from OMP timeline.

[2016-04-08 18:02] crism commented on #1357
@beghelli, how is this not related to OMP? I only have a Chapters grid in OMP, not in OJS. This is observable in the `HEAD` of OMP as of this morning.

[2016-04-08 18:04] beghelli commented on #1357
@crism oups, sure, made a confusion about OJS, sorry. But I can order my chapters and authors correctly. Are you sure your code is up to date?

[2016-04-08 18:05] crism commented on #1357
It seems to be up to date. What happens if one or more chapters have no authors or other contributors?

[2016-04-08 18:07] beghelli commented on #1357
:) sorry, you're right, since your first message. Fixing that now, and thanks for watching this so closely.

[2016-04-08 18:11] asmecher commented on #1344
This is great -- we've struggled with this for many years and it finally feels like it's done right.

[2016-04-08 18:22] beghelli commented on #1357
Done @crism , this should fix it. And sorry again for overlooking your well documented issue. Cheers.

[2016-04-08 18:29] crism commented on #1357
@beghelli LOL, thanks. I’ll give this a test shortly.

[2016-04-08 21:39] crism commented on #1357
Confirm this is working.

[2016-04-08 23:34] asmecher commented on #1346
I couldn't reproduce this, @bozana, but I'm guessing you've removed the Manager user group assignment the administrator usually gets? If so, I'll defer this to post-1.2.

[2016-04-08 23:55] #1357 closed

[2016-04-11 08:37] bozana commented on #1238
@jmacgreg and @asmecher, what shall we do with those empty dates, that probably come in with the quick submit plugin? I.e. how to deal with them in the Crossref export? At the moment, the article can not be exported if the date is missing.

[2016-04-11 12:46] bozana commented on #1263
The needed native export improvements for OJS 3.0:
- [ ] a) The filter for supplementary files.

[2016-04-11 14:03] jmacgreg commented on #1238
Hi Bozana,

Can you refresh my memory if there is any date at all to fall back on? That is, is there an issue publication date?

[2016-04-11 14:33] bozana commented on #1238
Hi James, yes there is the issue publication date, but if the article publication date is not set, the article is not considered for the Crossref export. This could also lead to this issue: http://forum.pkp.sfu.ca/t/ojs-2-4-7-1-crossref-zero-items/10808.
It could eventually stay as it is -- it requires the user to enter those publication dates, but...
At the other places in the system we display t

[2016-04-11 15:02] beghelli commented on #993
https://github.com/pkp/omp/pull/273
https://github.com/pkp/pkp-lib/pull/1362

Though we have to still decide where to link this page. I will show how it looks like on the meeting today and I can quickly implement what we decide there.

[2016-04-11 15:33] #993 closed

[2016-04-11 15:56] asmecher commented on #1238
I would rather leave this as is, and in the future (OJS 3.0) really try to make these fields more logical. The fallback-on-issue behavior was an expedient fix to a problem (Google Scholar was getting poisoned metadata), but it's made the code unnecessarily convoluted, and there are cases like this.

[2016-04-11 16:07] jmacgreg commented on #1238
My suggestion for OJS 2.4.x would be to fall back to the issue publication date if there isn't an article publication date set. As alec suggests, that becomes convoluted. I curse that Quick Submit plugin almost daily.

[2016-04-11 16:10] bozana commented on #1238
Hihihihi :-)
Shall I then change the Crossref plugin behavior -- to export the issue publication date if the article publication date is missing and thus consider also those articles for the export?

[2016-04-11 16:12] jmacgreg commented on #1238
Yes please! I think that's the best solution for now. We can maybe have a meeting to discuss a better implementation for OJS 3 later? I'll be on the dev call today so we can chat quickly then too. :-)

[2016-04-11 16:41] mtub opened #1363 "[OMP] update ca_ES locale for OMP 1.2 release"
* Files provided via Marc
* minor updates for application and library
* further update scheduled for OMP 1.2.1

[2016-04-11 16:42] mtub opened #1364 "[OMP] update es_ES locale for OMP 1.2 release"
* Files provided via @marcbria
* updates for application and library

[2016-04-11 17:13] #1262 closed

[2016-04-11 17:38] mtub commented on #1363
Thanks, @asmecher. Closing… :)

[2016-04-11 17:38] #1363 closed

[2016-04-11 18:04] bozana opened #1367 "Consider articles with no publication date for the Crossref export/registration"
Currently the articles with a missing publication date are not considered for the Crossref export/registration.
They should be considered and the issue publication date should be taken instead.

[2016-04-11 19:01] crism commented on #1260
There are two different grids used for promotion: `grid.files.review.SelectableReviewRevisionsGridHandler` (which does not seem to select files by default) and `grid.files.copyedit.SelectableCopyeditFilesGridHandler` (which does).

[2016-04-11 19:20] alonsoj opened #1368 "[OJS] Improve SEO of reading tools"
Reading tools adds an unnecessary '/0' at the end of urls.

For example http://journals.sfu.ca/present/index.php/demojournal/rt/metadata/1/0 instead
http://journals.sfu.ca/present/index.php/demojournal/rt/metadata/1

[2016-04-11 19:26] bozana commented on #1295
The needed native import improvements for OJS 3.0:
- [ ] a) The supplementary files are not considered in the export.
- [ ] b) Only issue(s) can be imported. Allow article(s) import too?

[2016-04-11 19:28] bozana opened #1369 "Improve Publication Date"
The publication date should be improved in OJS 3.0:
- consider something similar to ONIX dates in OMP
- move them into the submission_settings table
- rename the current date published (e.g. date scheduled)

[2016-04-11 21:37] crism commented on #1260
Ugh… somewhere in there, maybe in the hooks, the `selected` flag gets set by default in one case, and not in the other. I haven’t managed to figure out where… anyone else have any pointers?

[2016-04-11 22:28] asmecher commented on #1295
@bozana, I merged that latest PR, thanks -- I'll let you update any checkboxes here that need checking.

[2016-04-11 23:23] asmecher commented on #1364
Closing for OMP 1.2 -- all merged.

[2016-04-11 23:23] #1364 closed

[2016-04-11 23:24] asmecher commented on #1317
Closing for OMP 1.2 -- all merged.

[2016-04-11 23:24] #1317 closed

[2016-04-11 23:27] asmecher commented on #1279
Closing for OMP 1.2.

[2016-04-11 23:27] #1279 closed

[2016-04-12 08:31] bozana commented on #1295
Thanks @asmecher! Those are new checkboxes, for later :-) Maybe I should add them above, with all the others?

[2016-04-12 11:47] bozana commented on #1367
@jmacgreg, could you please take a look at/test the commit above?
@ctgraham, would you mind to take a look at it too?
If OK, I'll make a PR...
THANKS A LOT!!!

[2016-04-12 14:34] hauschke commented on #382
I cannot edit the wiki, so I'll dump my considerations here.

"Megajournal" means to me that there are no more issues. This can be handled via "virtual" issues, for example one per year. There should be a built in mode for showing the latest articles in descending chronogical order on the frontpage.

Another important feature is the ability to build "collections":
Peerj calls this "subject overlay

[2016-04-12 14:49] bozana commented on #1123
Here are the PRs for porting the feature to OJS 3.0:
pkp-lib: https://github.com/pkp/pkp-lib/pull/1370
omp: https://github.com/pkp/omp/pull/277
ojs: https://github.com/pkp/ojs/pull/819

The issue can then be closed, I believe...

[2016-04-12 15:22] crism commented on #1123
Nice—thanks, @bozana!

[2016-04-12 15:22] jmacgreg commented on #1367
@bozana, I just tested and it works great!! I made sure to try and export articles without publication dates , and can confirm that the issue's publication date was pulled in instead.

[2016-04-12 15:24] bozana commented on #1367
Thanks a lot @jmacgreg!!! I will then make a PR...

[2016-04-12 15:28] asmecher commented on #382
Thanks, @hauschke, I've dropped a link into the wiki that points back here.

[2016-04-12 16:00] ctgraham commented on #1367
Why are we requiring the publication date for export to Crossref?  If I'm reading the schema correctly, the `journal_article`'s `publication_date` is not required.
http://doi.crossref.org/schemas/crossref4.3.6.xsd

[2016-04-12 16:11] bozana commented on #1367
@ctgraham, when I tried to validate without publication_date, my editor complains. Thus I suppose there should be minOccurs="0" if it wouldn't be needed.

[2016-04-12 16:22] jmacgreg commented on #1367
Pulling in @AhemNason in case he has any thoughts on the matter. IMO, if the issue has a publication date but the article (for some reason) doesn't, we should still include the issue pub date.

[2016-04-12 16:23] jmacgreg commented on #1367
... and if neither the issue AND the article have a publication date, something has probably gone horribly wrong :P

[2016-04-12 16:24] asmecher commented on #1295
If you like; that might help avoid things getting lost if this list gets longer.

[2016-04-12 16:25] ctgraham commented on #1367
Ah, yes.  The absence of the minOccurs implies minOccurs = 1.  My bad.

My last question then is: Are we confident that adding in the issue publication date is better than raising an error to the user regarding the missing data?  This could get messy in a publish-as-you go case, could it not?

[2016-04-12 16:28] AhemNason commented on #1367
Yeah. This is definitely a relevant issue. It's actually pretty common for the stuff to be put in by the Quick Submit plugin to actually be missing the Issue Pub Date, for example (maybe that's an old problem?). I think it should build out for one or the other in absence.

It's relevant for dating the backfile too. They need the publication of the article _online_ as well as the publication of the

[2016-04-12 16:31] mtub commented on #1367
Frankly, I don't get the importance of the issue publication date. I think it's okay to proceed as suggested for the moment (fall back to issue date), but when thinking about how to redesign this, I'd suggest priority for the article publication date, making this mandatory and don't allow for this to be empty. If journals have a publication date for their issues, that's fine, but the article publi

[2016-04-12 17:11] asmecher commented on #1123
Looks good, thanks!

[2016-04-12 17:11] #1123 closed

[2016-04-12 17:25] asmecher commented on #1353
Thanks for the reminder, @mfelczak -- looks good. Can you cherry-pick this to ojs-dev-2_4 too?

[2016-04-12 17:46] mfelczak commented on #1353
Thanks @asmecher, cherry-picked to ojs-dev-2_4: https://github.com/pkp/ojs/pull/821

[2016-04-12 17:46] #1353 closed

[2016-04-12 18:01] crism commented on #1260
OK! This finally comes down to the value of `submission_files.viewable`. The question, then, is why are revisions not set as viewable? It’s not the display grids’ problem at all.

[2016-04-12 18:01] asmecher commented on #1285
Thanks, I see it now. The "Notifications" header is actually a misnomer; that potentially shows a list of emails. Maybe that should be renamed. And I had thought the "X" button at the top of the modal is sufficient -- are people getting stuck?

[2016-04-12 18:32] stranack commented on #1285
A better label for this can be part of our sprint discussions.

No, I don't think anyone was getting stuck, it was more a question of consistency between how modals behave. It can temporarily confuse some people who expect it to operate the same way each time.

[2016-04-12 18:43] crism commented on #1260
Looks like this was [previously addressed](https://github.com/pkp/pkp-lib/blob/master/classes/file/SubmissionFileManager.inc.php#L329), but just for submissions:
[code]
@asmecher, what’s the rationale for when files should be viewable or not? What implication does it have beyond not being selected by default in a selectable grid?

[2016-04-12 21:16] crism commented on #1260
Hrm, but… the _only_ place the `selected` flag is set (as far as I can find) is in `SelectableItemsFeature::getInitializedRowInstance()`. It calls `isDataElementSelected()`, which varies by `GridHandler` subclass… what if some of the grid handlers just always returned `true`? I’m thinking just:
 * `SelectableCopyeditFilesGridHandler`
 * `SelectableReviewRevisionsGridHandler`

Is there any downside

[2016-04-13 13:46] bozana commented on #1178
Hi @NateWr and @asmecher, I am just working on the last item of this issue -- to allow editors to select and overwrite the reviewer recommendation. Currently there is no place in the DB to follow the history of the reviewer recommendations. Thus, do we want/need to follow the recommendation history and create a new DB table review_recommendations containing all the necessary information or do you

[2016-04-13 15:29] bozana commented on #1178
The solution looks now like this:
a) when there are no reviewer comments/recommendations yet:
![reviewerrecommendationbyeditor1](https://cloud.githubusercontent.com/assets/378421/14498871/66a55f3c-019c-11e6-9034-424d3822eca8.png)

b) when the reviewer comments/recommendations are there:
![reviewerrecommendationbyeditor2](https://cloud.githubusercontent.com/assets/378421/14498880/6e63eaa4-019c-11e6

[2016-04-13 16:02] ctgraham commented on #1310
@jnugent, @jmacgreg, @asmecher, I'd like to get a handle on what the future direction is for our SPF implementation.  Is this issue the place for that discussion?  In the Tech Committee call we referenced a "current GitHub Issue", and it seems this one has the most context so far.

[2016-04-13 16:37] asmecher commented on #1310
Hi @ctgraham -- I'll send out an email to survey some possible meeting times in a sec.

[2016-04-13 17:33] asmecher commented on #1178
Yes, @bozana, that looks fine. I'd suggest we just use the event log to record changes.

[2016-04-13 18:20] mfelczak opened #1372 "[OHS] Fatal error when searching users"
Default sort is set to 'id' which doesn't have a sort mapping for users, leading to an invalid SQL statement. Change default sort to 'username'.

[2016-04-13 18:40] crism opened #1373 "[OJS] breadcrumbs have double-escaped HTML"
Against `HEAD`, the navigational breadcrumbs are doubly-escaped in HTML. For example, a journal has a section called “Editors' Notes”; the source HTML for the breadcrumbs is `Editors&amp;#039; Notes`, which displays as “Editors&#039; Notes.”

[2016-04-13 20:21] asmecher commented on #1373
This is the master branch, I presume?

[2016-04-13 20:24] crism commented on #1373
Yes, @asmecher—sorry for not being clear.

[2016-04-13 20:35] asmecher commented on #1372
Merged, thanks.

[2016-04-13 20:35] #1372 closed

[2016-04-13 21:48] eggragator opened #1374 "XML Issue/Articles Export Plugin Failure"
I have a strange problem with our OJS system. I am working on migrating our OJS data to a new server, including two journals. The .xml export plugin worked fine for one journal, but not the other. At first I thought it was a size issue, but it persisted after we had increased our limit to 100MB (to exceed the existing journal size). This is the error:
![image](https://cloud.githubusercontent.com/a

[2016-04-13 21:55] asmecher commented on #1342
Thanks, @crism, it's merged. FYI, you can cause the Travis CI tests to run with a lib-pkp checkout from your own branch in cases where both the application and the library need modifications; see: https://pkp.sfu.ca/wiki/index.php?title=Github_Documentation_for_PKP_Contributors#PKP_library_submodule_changes

[2016-04-13 21:55] #1342 closed

[2016-04-13 22:08] asmecher commented on #1374
Hi @eggragator -- could you post this on our support forum at http://forum.pkp.sfu.ca/? If it does turn out to be a bug, we'll shepherd it back here.

[2016-04-13 22:08] #1374 closed

[2016-04-13 22:10] crism commented on #1342
Thanks for the merge, and the Travis tip, @asmecher!

[2016-04-13 22:19] asmecher commented on #1373
Got it, thanks. This looks like a one-off issue; I didn't see other cases of the same problem.

[2016-04-13 22:19] #1373 closed

[2016-04-13 22:39] asmecher commented on #1359
Actually, just needed a `null` parameter specified. Fixed.

[2016-04-13 22:39] #1359 closed

[2016-04-14 00:16] crism commented on #1359
Thanks for the quick fix!

[2016-04-14 11:33] alonsoj opened #1375 "[OJS] Updating issue without volume results on 0 on database"
When updating an issue with empty volume the corresponding field on database gets 0 instead NULL.

[2016-04-14 12:03] bozana opened #1376 "reviewer comments for editor only"
If there are only reviewer comments for editor, they will not be displayed in review detail.
PR is coming...

[2016-04-14 12:30] bozana commented on #1376
PR pkp-lib omp-stable-1_2_0: https://github.com/pkp/pkp-lib/pull/1377
PR pkp-lib omp-dev-1_2: https://github.com/pkp/pkp-lib/pull/1378
PR pkp-lib master: https://github.com/pkp/pkp-lib/pull/1379

[2016-04-14 12:54] ctgraham commented on #1303
I think this issue can be closed based on the above merges.

[2016-04-14 14:53] asmecher commented on #1303
Thanks!

[2016-04-14 14:53] #1303 closed

[2016-04-14 15:27] asmecher commented on #1376
That's a respectable first bug for OMP. Thanks!

[2016-04-14 15:27] #1376 closed

[2016-04-14 16:17] asmecher commented on #1375
@alonsoj, what version of OJS are you using?

[2016-04-14 16:36] bozana commented on #1031
Hi @mfelczak and @asmecher, would you mind to take a look at this change (for this issue): https://github.com/bozana/pkp-lib/commit/93f99149b61ac1ccbd12980b6a8ef2f289137490

I will have to check, if the installation process is covered within this -- the time zone settings during/for the installation -- I don't think so.
And I will have to test it with PostgreSQL -- I have to install it first...
Th

[2016-04-14 16:39] mfelczak opened #1380 "[OHS] Use GET instead of POST for search"
To allow navigation back to search results without form resubmission warnings/errors.

[2016-04-14 16:41] asmecher commented on #1031
Looks reasonable to me, @bozana, just one comment!

[2016-04-14 16:42] bozana commented on #1031
Maybe one more comment: I think we will have to use offset, because: "Named time zones can be used only if the time zone information tables in the mysql database have been created and populated." (s. http://dev.mysql.com/doc/refman/5.7/en/time-zone-support.html)
And PHP time zone has to be set before calculating the offset.

[2016-04-14 16:43] bozana commented on #1031
@asmecher, thanks a lot! I will make the recommended change and test those two other cases (installation and PostgreSQL)...

[2016-04-14 16:45] asmecher commented on #1380
Merged, thanks!

[2016-04-14 16:45] #1380 closed

[2016-04-14 16:50] pmarrone opened #1381 "Calling mkdirtree when open_basedir prevents access to a folder triggers infinite recursion"
The code in classes/file/FileManager.inc.php mkdirtree relies on file_exists() to end the recursive exploration of the directory structure.

[code]

If the open_basedir directive is set (or also, theoretically, safe mode) and the current directory in mkdirtree actually exists but is outside the accessible directories, file_exists returns false and the recursion goes all the way to the root directo

[2016-04-14 17:34] mfelczak opened #1383 "[OHS] Search until month select box missing"

[2016-04-14 18:08] alonsoj commented on #1375
@asmecher, 2.4.8 version

[2016-04-14 21:28] bozana commented on #1178
The PR to enable editors to set or adjust the reviewer recommendation:
pkp-lib: https://github.com/pkp/pkp-lib/pull/1384
ojs: https://github.com/pkp/ojs/pull/822

At the moment the event is logged and so the change recorded. There are e.g. following information: date, editor ID, reviewer ID, submission ID, but there is no information at the moment what is/was the recommendation. Eventually we coul

[2016-04-15 18:58] asmecher commented on #1332
@mtub, I've dealt with all the ones listed so far. Do you expect to turn more of these up in the near future? If so, let's leave this issue open; otherwise, let's close it.

[2016-04-15 19:06] asmecher commented on #469
Not a high priority.

[2016-04-15 20:55] #994 closed

[2016-04-15 21:08] asmecher commented on #1283
Deferring to 3.0.1, unless someone thinks it's really necessary for 3.0.

[2016-04-15 21:18] asmecher commented on #1178
The event logs can be viewed in Editorial History > History. (These need review -- I can see a few untranslated keys on mine already -- but that's outside the scope of this entry.) Can you double-check to see that the log entry corresponding to this change is viewable there?

[2016-04-15 21:21] #1383 closed

[2016-04-15 21:36] asmecher commented on #1247
This ended up being a one-liner.

[2016-04-15 21:36] #1247 closed

[2016-04-15 22:00] bozana commented on #1178
Yes, I see them :-) THANKS!!!

(What do you mean with logging issue left on this one? :-))

[2016-04-15 22:20] asmecher commented on #908
Fixed in the master branch; thanks for reporting!

[2016-04-15 22:20] #908 closed

[2016-04-15 22:27] asmecher commented on #1178
Just checking whether the editor filling in/changing a recommendation gets logged properly.

[2016-04-15 22:34] asmecher commented on #620
Removed registry_dir. Thanks, @marcbria!

[2016-04-15 22:34] #620 closed

[2016-04-15 22:36] asmecher commented on #593
This has been fixed with the redesign of the publication area.

[2016-04-15 22:36] #593 closed

[2016-04-15 23:08] asmecher commented on #1287
Added.

[2016-04-15 23:08] #1287 closed

[2016-04-16 09:54] mtub commented on #1332
Thanks, @asmecher. Will close the issue. There will be more in the future, but not of the same kind: I guess we still have to deal with strings that, in en_US, match both journal and book operations, but lack proper translations that can be used both in OJS and OMP. Let's defer that to the future.

[2016-04-16 09:54] #1332 closed

[2016-04-16 15:50] asmecher opened #1386 "Support qualifications for DC identifiers in OAI interface"
The OAI DC interface lists identifiers from the publication format's metadata, but without qualifiers to indicate what type of identifier is present. Add some way to distinguish.

[2016-04-16 18:40] asmecher commented on #1260
I think we were nervous about making permissive assumptions about how files are treated by default, but I can foresee that your expectations will be pretty normal amongst our user community. I'm OK to go ahead with the proposed change.

[2016-04-17 17:16] asmecher opened #1387 "Add "indexed / not indexed" flag to publication formats (+ defaults)"
Add "indexed / not indexed" flag to publication formats (+ defaults). Or perhaps "type". This will help tell Google Scholar (and probably others) what content needs indexing and what is e.g. datasets.

[2016-04-18 11:17] alonsoj opened #1388 "[OJS] Adding editor from select review page not logging email"
When adding an editor from select review page (/journal/editor/createReviewer/article_id) and selecting "**Send the user a welcome email containing their username and password.**" option, OJS sends an email to the  new editor but not logs the email sent at the **Email Log** section.

[2016-04-18 13:31] NateWr commented on #1178
Looking good @bozana. Once Alec signs off on this, can you assign this issue back to me? I want to tinker with the UX on this a bit, but I'm not sure what I want to do with it yet.

[2016-04-18 13:38] bozana commented on #1178
Hi @NateWr, I believe @asmecher finished with this, so I will assign it to you :-)

[2016-04-18 13:56] NateWr opened #1389 "Smarty variable not rendered in registration form template"
Just noticed this. It "works" because it evaluates to `true`, but should get fixed anyway.

![password-required](https://cloud.githubusercontent.com/assets/2306629/14606549/af23543a-0575-11e6-82a9-0e98abcea3f8.png)

[2016-04-18 15:25] NateWr commented on #681
Already fixed! https://github.com/pkp/pkp-lib/issues/990#issuecomment-191800885

[2016-04-18 15:25] #681 closed

[2016-04-18 15:49] asmecher commented on #1388
@alonsoj, that message is not considered "article-related" so isn't tracked in the article's email log; also, we would prefer to avoid logging messages that include passwords somewhere that is visible to others.

[2016-04-18 15:57] NateWr commented on #782
This is working in latest master.

[2016-04-18 15:57] #782 closed

[2016-04-18 16:40] alonsoj commented on #1388
@asmecher, and how can i know if the message has been sent properly?

[2016-04-18 16:43] asmecher commented on #1388
@alonsoj, I'd suggest checking your server's mail sending log. The location will depend on your server's specific setup.

[2016-04-18 16:46] alonsoj commented on #1388
@asmecher, yes, but our editors want to check it for themselves

[2016-04-18 16:48] asmecher commented on #1388
Can you describe the requirement a little further? Are Editors suspicious that OJS isn't sending emails when they press the Send button?

[2016-04-18 16:49] NateWr opened #1390 "[OJS] Update OJS frontend"
There are a number of areas where the OJS frontend needs to be brough up-to-speed with some of the changes for OMP, as well as content that's still missing, particularly from article views.

- [x] Test existing settings for homepage content.
- [x] Test all default sidebar blocks
- [x] Search pages. #1667
- [x] Pagination (issue archives, announcements, search results)
- [x] Page titles in the head

[2016-04-18 17:23] alonsoj commented on #1388
I have tested myself and if in some cases the mail doesn't arrive to the reviewer (maybe mail server down). If the editor is not sure that the mail arrives to the reviewer I think this option lacks some of its usefulness (quick reviewer assignment).

[2016-04-18 17:40] asmecher commented on #1388
@alonsoj Yes, I thought that might be the case. We've been working on better conforming to mail server's expectations around SPF (Sender Protection Framework), which in the past has caused some mail servers not to deliver some messages. FYI, even if these messages were logged in the article's email log, it's not a guarantee that the message was received by the reader; mail servers will accept the

[2016-04-18 17:40] #1388 closed

[2016-04-18 17:53] asmecher opened #1391 "Allow protocol-relative URLs in compiled CSS"
Otherwise the protocol (e.g. http://) gets compiled into the CSS, and requests via a different protocol (e.g. https://) can cause warnings.

[2016-04-18 18:07] asmecher commented on #1391
PR: https://github.com/pkp/pkp-lib/pull/1392

@jmacgreg, this causes cached CSS to use protocol-relative URLs.

I checked the Google CDN URLs and the OMP 1.2 release already supports protocol-relative URLs. If you plan to upgrade to OMP 1.2, it'll be fixed there; if it'll take a while, you can just disable CDNs in `config.inc.php` to cause OMP to use local copies (which will be fetched according t

[2016-04-18 19:06] jmacgreg commented on #1391
Hi Alec, thanks - I've currently modified some cache files (not a permanent solution, obvs), but will look at the CDN flag as well. They'll be upgrading to 1.2 shortly though, so rather than forget that we enabled that, I may just let this be. Thanks!

[2016-04-18 19:39] crism commented on #1260
Uh… and I seem to have screwed up the project name in the commit messages. Sorry about that.

[2016-04-18 20:43] crism commented on #1297
Interestingly, the “My Assigned” grid doesn’t have this problem, just “Unassigned.”

[2016-04-18 21:53] crism commented on #1297
I may have been barking up the wrong tree. @beghelli, clicking “Load more” sends _two_ XHR requests. They’re indistinguishable, except for the `_` parameter, but seem to have contradictory parameters. They look like: `$$$call$$$/grid/submissions/unassigned-submissions/unassigned-submissions-list-grid/fetch-rows?grid-submissions-unassignedsubmissions-unassignedsubmissionslistgridPage=1&grid-submiss

[2016-04-19 02:29] asmecher commented on #1387
There was already a "supplementary" flag; re-used that.

[2016-04-19 02:29] #1387 closed

[2016-04-19 18:24] asmecher commented on #1381
Thanks, @pmarrone, I've merged and cherry-picked this to the relevant branches. Closing!

[2016-04-19 18:24] #1381 closed

[2016-04-19 18:53] crism commented on #1297
A stack trace at the point the permission denied dialog pops up:

function | file
--- | ---
`jQuery.event.trigger` | `jquery.js:4537`
`.trigger/<` | `jquery.js:5235`
`.each` | `jquery.js:384`
`jQuery.prototype.each` | `jquery.js:137`
`.trigger` | `jquery.js:5234`
`$.pkp.classes.features.InfiniteScrollingFeature.prototype.loadMoreItems_` | `InfiniteScrollingFeature.js:334`
`$.pkp.classes.Handler.pr

[2016-04-19 18:58] crism commented on #1297
Which, interestingly, still gets called twice; I have to dismiss the error dialog twice. I have a suspicion some code somewhere is called twice, leading to the double call (there are two identical event handlers on the loader) _and_ the doubled parameter set in each call, which may be resulting in the error.

[2016-04-19 20:08] APODEPO opened #1394 "[OJS]"

[2016-04-19 20:09] #1394 closed

[2016-04-19 20:31] crism commented on #1297
Nope, that’s interesting but not in the way I’d thought. When the submissions page is first loaded, there are only three (distinct) click handlers. After each click, a new, redundant handler is added, which may be diagnostic, but means that redundancy is not the source of the first failure.

[2016-04-19 20:32] crism commented on #1297
Whoa!

[2016-04-20 09:43] NateWr opened #1395 "[OJS] Can't upload new Issue Galley file"
When the Upload button is clicked, the modal form attempts to submit.

Issues > (any issue) > Edit > Issue Galleys > Create Issue Galley

[2016-04-20 09:52] NateWr commented on #1220
As part of work on #1390, I've removed the `access_legend.tpl` for now. When we turn to re-adding support for subscriptions, we can re-add it with a better sense of how it ought to work.

[2016-04-20 10:23] NateWr opened #1396 "[OJS] Masthead settings tab won't load when second language activated"
The Settings > Journal > Masthead page results in an unexpected end of input JavaScript error when a second language is enabled.

The second language should be enabled and have all the checkboxes selected (UI, Submission, etc).

![selection_020](https://cloud.githubusercontent.com/assets/2306629/14671546/47dcd80c-06ea-11e6-9eaa-84a6e800c8fe.png)

[2016-04-20 10:47] NateWr opened #1397 "[OJS] Consolidate information entry into fewer fields"
@asmecher Do you think we could make some progress for OJS 3.0 on consolidating all of these different textareas we have for different journal info into a couple basic pages? Here's a list of the data entry we have that feeds into the frontend pages:

- Settings > Journal > Masthead > Journal Description
- Settings > Journal > Masthead > Masthead
- Settings > Journal > Masthead > Journal History
-

[2016-04-20 11:58] NateWr commented on #1390
The following content doesn't appear to be displayed on the frontend:

- Settings > Journal > Masthead > Journal History
- Settings > Journal > Policies > Publication Scheduling
- Settings > Workflow > Production

[2016-04-20 13:57] NateWr commented on #1294
It looks like OJS just has the single sign-off, rather than the separate metadata/publication sign-offs. So I think we're ok to close this one.

[2016-04-20 13:57] #1294 closed

[2016-04-20 15:13] NateWr opened #1399 "Add language selection for admin backend"
I'd suggest putting it into the User Profile area.

[2016-04-20 15:23] crism commented on #1220
Cool, thanks, @NateWr. Should we close this?

[2016-04-20 15:26] asmecher commented on #1399
(Note: this comes from http://forum.pkp.sfu.ca/t/omp-1-2-language-selector-in-administration-interface)

@NateWr, I wonder whether the user is flipping the language back and forth frequently and expecting to stay on the same page. Having to navigate away to the profile and back again might be painful if that's the case.

[2016-04-20 15:28] NateWr commented on #1220
I'm fine closing it, but not sure if @asmecher wants to keep it around for when we get to subscriptions.

[2016-04-20 15:30] NateWr commented on #1399
Hmm, maybe. I'm trying to think of what they would be doing if they were doing that, but I can't think of anything. Let's see if the forum poster says anything.

[2016-04-20 15:30] asmecher commented on #1220
I'm content to handle that outside this entry. Thanks, @NateWr and @crism!

[2016-04-20 15:30] #1220 closed

[2016-04-20 15:39] amatsumiro commented on #1399
They would be doing a huge data input.
Like one step submit in OJS or something like that in OMP.
OMP has multiple language input inside the form, but they prefer have the old way too.

[2016-04-20 15:50] asmecher commented on #1399
@amatsumiro, OJS 2.x had two language choosers: one to set the interface language, and one to set the form language. The interface language chooser was disabled on forms; the form language chooser has been replaced by having the alternate language fields pop out when the user enters them. Can you describe what the users are looking for a little further? Is it e.g. to have the "main" form element l

[2016-04-20 16:09] bozana commented on #1199
@asmecher, would this be something to consider for OJS 3.x?

[2016-04-20 16:12] asmecher commented on #1199
Yes, certainly for the master branch but I'm not sure what release to target yet. Could you file a new issue to review/correct the public profile more broadly?

[2016-04-20 16:45] asmecher opened #1400 "Registration form PHP-side validation problems result in fatal error"
PHP Fatal error: Call to undefined method RegistrationForm::fetchJson() in /var/www/html/omp/lib/pkp/pages/user/RegistrationHandler.inc.php on line 73

[2016-04-20 17:44] amatsumiro commented on #1399
They are looking for something like this:
http://i.imgur.com/LEsUBKV.png

A selector to change the interface language, like it already works in "view interface". Everything in journal primary language until I change the language.
When I acess "management interface" omp use currently language in "view interface". If view in portuguese, management in portuguese too, If they want management in englis

[2016-04-20 18:18] ctgraham opened #1401 "PKP PLN check for scheduled_tasks is missing parameter"
In OJS 2.x dev

See:
https://github.com/pkp/ojs/blob/c28b02f665346256fc733e9448540dc7a6ded6a9/plugins/generic/pln/PLNPlugin.inc.php#L637

Should be:
[code]

[2016-04-20 19:26] crism commented on #1297
OK, still more information. At `GridHandler.js:603`, there’s a call to `$.get()`. At this point, `this.fetchRowsUrl` _already_ has `long-thingPage=1&long-thingItemsPerPage=5`, but `params` is being added to that, which _adds_ `long-thingPage=2&long-thingItemsPerPage=5`. So where are the pre-built parameters coming from? Maybe when the grid is first built?

[2016-04-20 19:59] crism commented on #1297
So this happens right off the bat; the first thing in `GridHandler::fetchGrid()` is `setUrls()`, which AFAICT sets the URLs to include the first-page parameters. Let’s see what happens if we strip those off…

[2016-04-20 20:05] crism commented on #1297
Well, that doesn’t make things worse, so I’m going to keep that code, but it doesn’t fix the problem…

[2016-04-20 21:18] asmecher commented on #446
@NateWr, OTOH you introduced a pattern for "show more" / "show less" links... Do you remember OTOH? (It's possible I'm inventing this memory)

[2016-04-20 21:40] NateWr commented on #446
The CSS `ellipsis` property only works for truncating single-line text strings.

There are two other "show more" patterns for multi-line content.

The [ExtrasOnDemand](https://github.com/pkp/pkp-lib/blob/master/js/controllers/ExtrasOnDemandHandler.js) control is good for hiding larger chunks of the UI. It has a title and wraps its content in a visual container. So it's right for hiding groups of f

[2016-04-20 23:21] asmecher commented on #446
Thanks, @NateWr, that's just what I was looking for.

[2016-04-20 23:36] asmecher commented on #446
There's pretty much no hard-coded truncation in the templates anymore. Content with this for OJS 3.0.

[2016-04-20 23:36] #446 closed

[2016-04-20 23:45] asmecher commented on #1397
@stranack, what do you think?

@NateWr, not a good argument not to do anything, but just FYI: we did about 4 setup re-orgs on OMP 1.0 (which largely resulted in the current not-thrilling structure) and it's going to be hard to get enthusiastic about a fifth. Unless it's alcoholic.

[2016-04-21 00:06] #1400 closed

[2016-04-21 00:10] asmecher commented on #1326
It's going to be so thrilling to launch OJS 3.0, which requires at least 5.3.x and means we've been able to tear out a tremendous amount of compatibility cruft.

[2016-04-21 00:10] #1326 closed

[2016-04-21 00:17] asmecher commented on #1395
@NateWr, I tested this and it worked for me. I don't have an "Upload" button anymore (since the plupload rewrite you did); I only have "Upload File", which selects and then uploads. What browser are you using? Any chance you've got something old hanging around your composer.json or template cache?

[2016-04-21 01:10] stranack commented on #1397
I like this idea of simplifying these settings.

[2016-04-21 02:01] asmecher commented on #1397
I can handle it. Let's talk during the next call or, if there's an opportunity, during the sprint.

[2016-04-21 15:36] crism commented on #1297
@beghelli—after a few days barking up wrong trees, I have a handle on it.

When the dashboard is freshly-loaded, the `RoleBasedHandlerOperationPolicy` constructor is called with operations `fetchGrid`, `fetchRows`, and `fetchRow`. When it’s called for the load more operation, it’s only given the operations `fetchGrid`, `fetchRow`, and `deleteSubmission`. But `fetchRows` is the operation needed her

[2016-04-21 16:20] asmecher opened #1402 "Test RESTful URLs setting"
It may not currently be working; see http://forum.pkp.sfu.ca/t/clear-restful-urls-in-ojs3

[2016-04-21 18:39] stranack opened #1403 "Redirect to the current page after Login As"
When the editor uses the Login As link in the Participants grid (e.g., for the author), the confirmation popup comes up, but after hitting OK, you are taken to the editor's Submissions list and you are NOT logged in as the intended user.

[2016-04-21 18:46] stranack opened #1404 "OJS 3: Step 4 of New Submission Hangs"
On step 4 of OJS 3, when the author hits Finish Submission and OK to the popup confirmation, the system hangs. The submission is successfully made and can be accessed by returning to the submission list.

[2016-04-21 18:53] stranack opened #1405 "Admin View: Move Users & Roles"
Currently "Users & Roles" appears under "Settings". I don't think this is really a setting so much, and it deserves to be moved up to the left sidebar, perhaps appearing between "Settings" and "Tools".

[2016-04-21 18:59] stranack opened #1406 "Change "Submissions" Link in Reader Interface"
From the reader interface, the menu under the user profile name includes "Submissions", "View Profile", and "Logout". The Submissions link is chosen to get to the submission list, but also to Issues, Settings, and Tools. Can we broaden that link to something like "Dashboard" -- which is more inclusive of everything found by following that link?

Right now, when directing a user to the "Tools" for

[2016-04-21 19:23] stranack opened #1407 "Adapt OMP catalog management into OJS for continuous publication"
Providing the option in OJS 3 (or 3.1) to treat articles like stand-alone items (like books in OMP), catalog management could allow for a continuous publication option as well as give us some interesting content display choices on the journal home page.

Featured Articles, Spotlights, New Releases would all apply well in this scenario. Journals could also add major themes as categories or even cre

[2016-04-21 19:25] beghelli commented on #1297
@crism , really sorry, I thought I had solved this. It seems to be exactly what I said on my first comment, but I forgot to implement.

I think it is fixed by the commit above, can you double check with your database to see if that really solves the problem? It is not on the official repo yet, only on mine, so if you want to test you can fetch my repository, master branch (it will be quick, it is

[2016-04-21 20:18] crism commented on #1297
@beghelli, perfect! That did it… it was staring me in the face. And no worries—this quest was extremely educational, especially in light of the upcoming sprint.

[2016-04-21 20:56] stranack opened #1408 "Help button on Production page misplaced"
The Help link appears correctly on Submission, Review, and Copyediting, but is still displaying below the Participants grid on the Production stage.

http://journals.sfu.ca/uiux/index.php/publicknowledge/workflow/index/32/5

[2016-04-21 21:01] stranack opened #1409 "Add Discussion Fails for Layout Editor"
In the Production Stage, the LE has access to the Add Discussion link, is able to fill in the discussion form, and everything appears to work. However, the discussion does not display in the Discussion grid.

http://journals.sfu.ca/uiux/index.php/publicknowledge/workflow/index/32/5

Logged in as  Stephen Hellier

[2016-04-21 22:09] crism commented on #1402
In fact, the recommended rewrite rules won’t work, since some resources are at `.../lib.pkp/js/lib/jquery/...` _e.g._, and rewriting those to start with `index.php` would fail. So it looks like my rewrite rules are being ignored, but it would just break differently if they weren’t. Hm.

[2016-04-21 22:12] crism commented on #1402
Except the rewrite rule is being honored when I try to visit a journal directly (as the error message quoted above)… The problem is that Apache is trying to find `index.php/test` instead of dispatching that URL to `index.php`. Yuck.

[2016-04-22 00:47] stranack opened #1410 "Add a "Schedule for Publication" button"
On the Production stage, can we consider adding a "Schedule for Publication" button just above the Participants grid? This would trigger a modal with the Publication Metadata information.

It took me forever to find where to schedule the submission!

This would also be consistent with other stages, where the buttons above the Participants grid trigger a significant action.

It would also simplify

[2016-04-22 14:36] NateWr opened #1411 "Submission file upload can not be performed with keyboard controls"
Our file upload form for submission files doesn't work if you tab to the upload file button and try to use spacebar or enter/return to upload a file. The form is submitted and the file browser is never opened.

[2016-04-22 15:01] asmecher commented on #1404
Is this on the UI/UX install of OJS3?

[2016-04-22 15:10] asmecher commented on #1408
The "help" issue is still open against OJS; what's currently there is a mix of the most recent stuff in lib-pkp and some intermediate stage stuff in ojs. https://github.com/pkp/pkp-lib/issues/1032

[2016-04-22 15:10] #1408 closed

[2016-04-22 15:19] NateWr commented on #1397
Definitely a good candidate for a drunken pull request event.

[2016-04-22 15:26] NateWr commented on #1399
@amatsumiro So that I can be sure I understand you correctly, let me describe how I understand the problem and you can tell me whether I'm on the right track.

When they are entering data into the editorial interface, they might be viewing in Portugese. But they might be presented with a field label that they don't understand. In that case, they want to switch over to English (or another language)

[2016-04-22 15:30] NateWr commented on #1395
Maybe it was old cruft or maybe it was #1411 that I was running into. Anyway, with a mouse it works fine for me.

[2016-04-22 15:30] #1395 closed

[2016-04-22 15:31] amatsumiro commented on #1399
Yeah!

Exactly that!

Grato,

Tarcisio Pereira

On Fri, Apr 22, 2016 at 8:26 AM -0700, "Nate Wright" <notifications@github.com> wrote:

@amatsumiro So that I can be sure I understand you correctly, let me describe how I understand the problem and you can tell me whether I'm on the right track.

When they are entering data into the editorial interface, they might be viewing in Portugese. But they m

[2016-04-22 15:33] NateWr commented on #1399
@asmecher I'm not entirely opposed to a language switcher in the backend. But I wonder if this might be a good opportunity to explore plugin modularity in our backend UI. Maybe we could add hooks to add items in the top bar or in the left sidebar, then add the language switcher with a small plugin?

[2016-04-22 15:42] NateWr commented on #1390
OJS PR: https://github.com/pkp/ojs/pull/827
(no pkp-lib PR needed)

This takes care of a number of issues. I thought it would be best to get them committed before the sprint. Still a bunch of things to work out.

[2016-04-22 17:14] stranack commented on #1404
Yes.

On 2016-04-22 8:01 AM, Alec Smecher wrote:

--
--
Kevin Stranack, MLIS, MAEd
Learning and Development Consultant
Email: kevin@stranack.ca
Twitter: @stranack
Skype: kstranack
Web: http://stranack.ca

[2016-04-22 17:33] asmecher commented on #1399
That sounds plausible, though we're risking heading into requiring tools to e.g. administer the order of sidebar plugins in the back-end as well.

[2016-04-22 18:34] #1297 closed

[2016-04-22 18:35] asmecher commented on #1297
Merged your PR -- thanks, @crism. @beghelli, does that resolve the issue fully?

[2016-04-22 20:05] asmecher commented on #1406
I forget whether it was @NateWr or @beghelli? One of the two of you, IIRC, was interested in clarifying the use of "dashboard" and had some concrete ideas.

[2016-04-22 21:43] asmecher commented on #1403
@stranack, oops, I solved a user ID bug that was preventing you from performing the "log in as".

There's a second issue here, though: sounds like you're expecting the user to be redirected to the equivalent page in the new user's account (e.g. workflow for that same submission), then back again when they "log out as". That's not an unreasonable expectation but it's not currently written that way.

[2016-04-22 21:46] asmecher commented on #1409
I can't replicate this; maybe it's an older issue? (I updated the install today.) Can you check again?

[2016-04-22 21:49] asmecher commented on #1402
@crism, what SAPI are you using? mod_php? CGI? FastCGI?

[2016-04-22 22:30] crism commented on #1402
@asmecher, `phpinfo()` reports “Apache 2.0 Handler” as the server API (this is with Apache 2.4.6).

[2016-04-23 00:35] asmecher commented on #1404
Just chucking a fix in before I disappear and pop up in Montreal -- but this should be fixed now.

[2016-04-25 07:33] henkela opened #1413 "Revision process has to be clarified"
Revision panel isn't self-explaining. There should be some hints for the authors what to do on the panel...

[2016-04-26 12:28] NateWr opened #1415 "Frontend usernav template file needs to be organized under frontend templates directory"
Currently it sits at `/pkp-lib/header/frontend/usernav.tpl`.

(It might make more sense to refactor this so it doesn't require a separate template from `header.tpl`.

[2016-04-26 19:41] asmecher opened #1416 "Tweak & distribute ORCiD integration plugin"
...from the sprint:
https://github.com/asmecher/pkp-orcidprofile

(After finishing, move issue to master branch for forward-porting.)

[2016-04-27 01:46] beghelli opened #1417 "Implement usage stats visualization at submission public page"
https://docs.google.com/document/d/1OomMk0p3nzYj_FWJ7XRsgBepIEVms9deK_4SdL4Excg/edit

[2016-04-27 01:53] beghelli commented on #1417
Pull requests:
https://github.com/pkp/omp/pull/282
https://github.com/pkp/pkp-lib/pull/1418

[2016-04-27 10:13] alonsoj commented on #1416
@asmecher, how about login with orcid token?

[2016-04-27 13:18] asmecher commented on #1416
@alonsoj, we didn't tackle that use case but I've been thinking about it over the last few days; it would be fairly simple to add based on the interactions we've already coded. I won't make promises for a particular release but it's definitely on my mind.

[2016-04-27 20:26] luizbgomide opened #1419 "[OJS] Cover images are shown as broken images in other interface languages (2.4.8.0)"
Issues that have cover image set in one language show fine only in that language, on the other interface languages it is shown as a broken image link.

Here you can see it: http://seer.fclar.unesp.br/alfa/issue/view/550
Below are the database settings for this issue.
![DB settings for issue](https://cloud.githubusercontent.com/assets/18707781/14867176/b38d7da0-0c9d-11e6-9d2f-aeb033b4cafb.png)

Thi

[2016-04-27 22:19] crism commented on #1402
I’m finding evidence that this is a known problem with FastCGI. Might it affect `mod_php` too? Using a `PT` flag instead of `L` in the rewrite rules didn’t help…

[2016-04-27 22:31] mimolore commented on #866
Hi Alec, I have a similar problem in my OJS installation 2.4.7.1 on centos server. this is the mesage on chrome console, when I try load a image to a journal or i want to access like admin or manager: "**Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org/**." . The server admi

[2016-04-28 14:54] bozana commented on #1417
OJS PR: https://github.com/pkp/ojs/pull/831

[2016-04-28 15:55] asmecher commented on #866
@mimolore, I think that's a different issue; could you post this in our support forum at http://forum.pkp.sfu.ca/?

[2016-04-28 17:46] asmecher commented on #1417
Merged! Great to have you all working on this.

[2016-04-29 06:50] willinsky opened #1420 "Copyright Display in About Not Right in Setup"
A concern has been expressed by COASP about OJS journals without copyright notice, and in particular CC licenses which they require and which we try to make the default for OJS.  But in this version 2.4.7.1 it doesn't seem right and more generally maybe we need to make the display of it more of a default.
<img width="880" alt="screen shot 2016-04-28 at 11 30 30 pm" src="https://cloud.githubusercon

[2016-04-29 15:34] bozana commented on #1031
For setting timezone in PostgreSQL s. TIMEZONE part here: http://www.postgresql.org/docs/8.3/static/sql-set.html

[2016-04-29 15:41] bozana commented on #1031
I am not sure if this solution solves the daylight saving time (DST) issues, but I believe it does: the PHP considers DST, we calculate the offset to UTC using the PHP time and use that to set the time zone for DB.
For MySQL we don't have another possibility than to use the offset, but for PostgreSQL we could use the names from the time zone setting, and the PostgreSQL would deal with DST. If this

[2016-04-29 15:42] bozana commented on #1031
pkp-lib omp-dev-1_2 PR: https://github.com/pkp/pkp-lib/pull/1421

[2016-04-29 18:13] asmecher commented on #1417
(Go ahead and close this if it's ready, @beghelli.)

[2016-04-29 18:40] asmecher commented on #1402
@crism, the basic litmus test for a rewrite setup is to use a `phpinfo()` script (call it `test.php`). If you can't supply something after the script's name (e.g. `http://.../test.php/something/else/here`), then your PHP/Apache/rewrite config is broken.

[2016-04-29 19:10] asmecher commented on #1419
@luizbgomide, thanks for reporting; please try the patch at https://github.com/pkp/ojs/commit/097dafb14fd460fd7b330fd044f894dc16de6bfa.diff and let me know if it works for you.

[2016-04-29 19:10] #1419 closed

[2016-04-29 19:15] luizbgomide commented on #1419
Fixed!
Thanks for help.

[2016-04-29 19:18] beghelli commented on #1417
I would like to implement caching, will try to finish today.

[2016-04-29 22:37] asmecher commented on #1420
@willinsky, something isn't right with that installation. Best guess: I think it's been upgraded but that the file permissions on the `cache/t_compile` directory are incorrect, so it's showing old cached templates because it can't replace the old files with new ones.

Solution: delete all `.php` files from `templates/t_compile`, ensure that file permissions are set so that OJS can create new files

[2016-04-29 23:36] jalperin commented on #1420
fixed on stanford instance. Some weird permission thing going on with stanford's set up.

[2016-04-30 00:02] willinsky commented on #1420
Here's what we have in Setup...

3.2 Permissions
Copyright Notice
The Copyright Notice will appear in About the Journal. It should describe for readers and authors whether the copyright holder is the author, journal, or a third party. It should include additional licensing agreements (e.g. CREATIVE COMMONS licenses) that grant rights to readers (see EXAMPLES), and it should provide the means for s

[2016-04-30 00:05] asmecher commented on #1420
Because the copyright statements and dates are attached to individual articles, they need to appear at the article level (which should be working, I'm pretty sure). Since we moved to that we can't really make journal-wide statements because copyrights (and licenses) attached to individual articles might differ.

[2016-04-30 01:26] #1417 closed

[2016-04-30 18:46] willinsky commented on #1420
In light of concerns over the availability of Copyright Notices in OJS journals from OASP, I want to propose a rewording of Permissions 3.2 in Setup intended to increase posting of copyright policies, through rewording. Here is the[ alternative wording](https://docs.google.com/document/d/1eWiasfuWQUJTMawQVdXLGv1ZlIvLh-21zPwEtbGPSF0/edit#)

I am proposing that the author be the default choice for t

[2016-05-02 18:07] ctgraham opened #1423 "PKP PLN Network Status is confused by URL aliases"
@ubermichael, see [my question](http://forum.pkp.sfu.ca/t/pkp-pln-status-question/10932/15?u=ctgraham) and [@mjordan's reply](http://forum.pkp.sfu.ca/t/pkp-pln-status-question/10932/16?u=ctgraham) regarding a journal which has multiple legitimate DNS names.

A problem seems to arise in the use of `$journal->getUrl()` instead of `$base_url`.

[2016-05-02 18:18] ctgraham commented on #1423
If I'm understanding the concern correctly, we did something similar with usageEvents:
https://github.com/ulsdevteam/ojs/blob/uls-install/plugins/generic/usageEvent/UsageEventPlugin.inc.php#L289-L302

Perhaps this kind of "canonicalUrl" disambiguation should be promoted to the `PKPRequest` object?

[2016-05-02 23:49] asmecher commented on #1423
Grepping through for uses of `$journal->getUrl`, pretty much all of those use cases should be replaced with the more consistent and dependable `Request::url`. Once that's done, I'd suggest deprecating or removing `$journal->getUrl` entirely.

[2016-05-03 00:07] asmecher opened #1424 "Update fr_CA translation"
From sprint.

PRs:
https://github.com/pkp/ojs/pull/830
https://github.com/pkp/pkp-lib/pull/1414

[2016-05-03 00:07] asmecher commented on #1424
I've created this to track the fr_CA pull requests before the OJS 2.4.9 release. I think both of these need some last tweaks, correct, @mtub?

[2016-05-03 14:09] NateWr commented on #1406
I think dashboard makes the most sense or all users, but I think our past usage has introduced some confusion around that term. At least, it's my sense that some people only want to call the workflow the dashboard, or don't want to use the word at all.

Ideally it would be short enough to fit on one line in that admin menu, but nothing is coming to mind at the moment.

[2016-05-03 18:00] ctgraham commented on #1423
Replacing usages of $journal->getUrl() with Request::url() doesn't resolve the disambiguation of multiple base_urls, does it?

[2016-05-03 18:02] asmecher commented on #1423
Using `Request::url` should cause OJS to forcibly generate URLs per `base_url[...]` overrides, regardless of where the user is coming from.

[2016-05-03 18:08] ctgraham commented on #1423
Something is not quite right there.  In dev-2_4, `$journal->getUrl()` is just `return Request::url($this->getPath());`  So, if it is nomalizing on base_url or base_url[], the assumption of the issue as reported above is wrong.

[2016-05-03 18:21] ctgraham commented on #1423
Found it.  Request::url() honors the base_url[] overrides, but ignores the base_url.  In my case, I have just a single journal install, and only base_url is set, no base_url[] overrides.  Apache, however, will direct 5 different DNS entries to this install.

[2016-05-03 18:22] asmecher commented on #1423
When `base_url[...]` isn't supplied (that's different than `base_url` without `[...]`), OJS will respond according to whatever incoming URL it's invoked from. If you supply `base_url[...]` directives, then that'll force OJS to use whatever is configured as canonical.

[2016-05-03 18:27] ctgraham commented on #1423
That makes sense to me.

I don't think, however, that as a single journal install I should need to enter a base_url[] override for the PKP PLN to work.  :smile:

[2016-05-03 18:39] asmecher commented on #1413
@henkela, which of our applications are you using, and what version? A screenshot of the panel you're referring to would also help.

[2016-05-03 19:39] asmecher commented on #1396
@NateWr, I can't duplicate that locally. Can you dump the response that failed parsing here? I suspect it has a PHP warning or error jammed into it.

[2016-05-04 11:51] NateWr opened #1425 "Add hook in headerHead.tpl for themes to load custom fonts, etc"
Right now they have to override the whole `frontend/components/headerHead.tpl` file. A hook would make sense for loading custom fonts without having to redeclare all the other stuff in the head.

[2016-05-04 11:54] NateWr commented on #1390
OJS PR: https://github.com/pkp/ojs/pull/833
(no pkp-lib PR needed)

Ticks off a few more issues, but still more to do.

[2016-05-04 11:56] NateWr commented on #1396
[code]

[2016-05-04 12:13] NateWr commented on #1399
My thinking is that the backend is now a developer zone -- I'm not interested in any drag-and-drop build-your-own-backend kind of world. But the hooks system used in WordPress has been a useful tool for this kind of developer-facing modularity in the backend.

The top admin bar, where we have the tasks and user login, could consist of only two hooks:

[code]

Then OJS itself could deposit content

[2016-05-04 16:23] asmecher commented on #1396
Can you add the following just before line 133 in `lib/pkp/classes/core/DataObject.inc.php`:

    if (!is_array($this->_data[$key])) error_log('NOT LOCALIZED: ' . $key);

Then surf over there again and check what gets logged.

[2016-05-04 17:12] ubermichael commented on #1423
I think the patch linked above gets us most of the way there, although I still haven't been able to replicate @ctgraham's specific problem.

[2016-05-04 19:03] ctgraham opened #1426 "$_SERVER[HOSTNAME] should not be used for host identification"
In OJS 2.4.x, `$_SERVER['HOSTNAME']` is considered an option for host identification if `$_SERVER['HTTP_X_FORWARDED_HOST']` and `$_SERVER['HTTP_HOST']` are unavailable.
https://github.com/pkp/pkp-lib/blob/ojs-stable-2_4_8/classes/core/PKPRequest.inc.php#L338

Are there any know web engines where the actual HOSTNAME would be legitimate?  The HTTP_\* variables make sense, but if they are absent it p

[2016-05-04 19:13] crism commented on #1416
I very much want to bring this into the OJS 3._x_/OMP 1.2 world, and have forked the plugin to that end. Would that break OJS 2._x_ compatibility, or can we meet both goals in one codebase?

[2016-05-04 19:20] ctgraham commented on #1416
@asmecher, @alonsoj: pluggable, hierarchical authentication (including OAuth-based) is on Pitt's near-term objectives for general OJS development.  ORCID would make a good candidate for a proof-of-concept.

[2016-05-04 19:38] crism commented on #1416
Should the plugin really be in the generic cateogory? Authorization seems more appropriate now.

[2016-05-04 19:42] ctgraham commented on #1416
Does an AuthPlugin for us mean authorization, authentication, or both?

I suspect this should be in the generic category to continue to implement the "Link your ORCID" functionality, but should also (optionally) implement an AuthPlugin for authentication.

[2016-05-04 20:29] asmecher commented on #1416
The AuthPlugin category needs an overhaul. Plus the plugin as more concerns than just authorization/authentication. For now I'd recommend keeping it in `generic`.

We have a couple other partners who have identified this plugin for future work and have applied for funding accordingly, so I'd like to make sure we don't step on their toes. I'll point them to this issue.

I'd suggest we take the curr

[2016-05-04 20:57] asmecher commented on #1416
(By the way, I'm still cleaning up the current master branch of the plugin, and would like to get that into a decent state before we fork it for OJS 3. I'll get that done this week.)

[2016-05-04 21:43] crism commented on #1416
Thanks for the feedback. I’ll keep familiarizing myself with the OJS 3 plugin API, but hold off on significant changes until the base is stable.

[2016-05-04 23:36] asmecher commented on #1367
Sorry, once again I've lost track of this issue. @bozana, is the attached PR ready for review/merge? It looks like @jmacgreg has used it; does any of the subsequent conversation require changes? (It doesn't look like it, at a glance.)

[2016-05-05 09:41] NateWr commented on #1396
Incoming!

[code]

[2016-05-05 10:59] NateWr opened #1428 "Handle frontend display of chapter files better"
Monographs with chapter file associations should display those files alongside the chapter. Also, long author lists should be displayed better.

[2016-05-05 15:04] NateWr commented on #1428
I've made a number of changes that should improve things. However, I'm waiting to discuss a few things with Alec before issuing a PR.

Before:

![omp-chapter-files-old](https://cloud.githubusercontent.com/assets/2306629/15046985/8c81980c-12da-11e6-9ecd-08b3e2fc757f.png)

After:

![omp-chapter-files-new](https://cloud.githubusercontent.com/assets/2306629/15046988/93771966-12da-11e6-91bf-6f7463030f7

[2016-05-05 15:17] beghelli commented on #1428
I like it. What do you think about still using the publication format name
for all files? See chapter 2: I think it's confusing to not know the
publication format of the two first files. Maybe somethin like PDF -
filename would solve that confusion.

2016-05-05 12:04 GMT-03:00 Nate Wright <notifications@github.com>:

[2016-05-05 17:03] NateWr commented on #1428
I agree it's not optimal to lose the publication format. But I don't like jamming it into a single string -- I don't think it will look very professional.

I consider it a bit of an edge case where we're not going to get an optimal display anyway. One idea would be to design a special segmented button, so that the publication format is displayed within the button (just not concatenated onto the st

[2016-05-05 23:25] asmecher commented on #1396
YEEK

[2016-05-06 00:04] asmecher commented on #1416
@crism and @ctgraham, I've gotten everything cleaned up and working for OJS 2.x, including email-based claims for authors. Would either/both of you mind taking the newest code for a spin?

The URLs it sends are horrendous, but I'm going to stave that off for future improvement.

[2016-05-06 09:04] henkela commented on #1413
I'm using OJS (git clone). I tested it with a colleague and it was a bit confusing to know what to do... I reinstalled it on a prduction server and will post a screenshot if it didn't change already.

[2016-05-06 11:19] NateWr commented on #1428
pkp-lib https://github.com/pkp/pkp-lib/pull/1429
omp https://github.com/pkp/omp/pull/283

@alec I issued PRs to `master`. Should I issue them to any other branch?

I decided to deliver a flat array of files and then write a smarty helper function that would pluck files from the list by various parameters. Although it ends up in some repetitive looping, I think it makes the template logic much more

[2016-05-06 12:03] bozana commented on #1367
@asmecher, the PR is ready and no changes are needed, just a general question exists, if we are sure we want to do it this way and not rather raising the error and let the user correct/enter the date. I think we could proceed with the PR and use the issue date, because we are doing the same on other places in the system i.e. it is consistent i.e. the issue date is already in the metadata elsewhere

[2016-05-06 12:30] ctgraham commented on #1367
I still lean toward the opinion that if an Article is missing the Publication Date, this is an error condition that should be flagged in the plugin, rather than substituting in the Issue's Publication Date instead.

I'll solicit feedback from our scholarly publishing folks.

[2016-05-06 15:36] asmecher commented on #1428
@NateWr, we require a payment plugin to be configured, even if that's only the manual payment plugin, which gets a default configuration. So that conditional should always evaluate true unless something has been actively misconfigured.

This is a lot cleaner code-wise than what we used to have.

Marching orders!
- @jmacgreg, can you apply the contents of those two PRs (https://github.com/pkp/pkp-l

[2016-05-06 16:32] asmecher commented on #1416
Also bringing in @ajnyga!

[2016-05-06 17:14] jmacgreg commented on #1428
Done the cherry-pick!

[2016-05-06 17:28] stranack commented on #1428
The looks much better.

We should also think about a better way to display the author bios, but I don't think that is a priority for 3.0.

[2016-05-06 17:55] stranack opened #1430 "DOI placement"
I don't know if we've thought too much about this, as our test data does not include DOIs. Here's a request from UVic...

Something to consider for the next upgrade of OJS –

I am starting to include DOIs for some of our journals at UVic and am wondering if I could suggest a better placement for them on the abstract page. Currently they appear at the bottom of the page under FullText.

 Could we h

[2016-05-06 18:40] crism commented on #1416
Trying to test this in OJS 2.4.8, and feeling like an idiot. I’ve mostly only worked with the OJS 3 beta… how the heck do I enable this, @asmecher? I unpacked it in `plugins/generic/orcidProfile`, and ran `tools/upgrade.php upgrade`. I don’t see any site-wide plugins admin, and it doesn’t show up in the per-journal plugins list. I can’t find anything in the docs, either, about site-wide plugin adm

[2016-05-06 18:42] asmecher commented on #1416
No problem, @crism. Log in with a Journal Manager account, go to System Plugins > Generic Plugins, and find it in the list there; enable it, edit and save its settings page, and you should be good to go.

[2016-05-06 18:44] crism commented on #1416
Yep, I’m an idiot. It was right there; I’m just really not used to this interface.

[2016-05-06 18:45] crism commented on #1416
[code]

[2016-05-06 18:54] asmecher commented on #1416
Really? Weird. What does your URL to that page look like?

[2016-05-06 18:56] crism commented on #1416
`.../ojs/index.php/pww-proc/manager/plugin/generic/orcidprofileplugin/settings`, and it seems to be working OK. I suspect that `getManagementVerbs()` is wrong; when I started porting to OJS 3, that was one of the first things I needed to fix. As it stands, I think it always returns an empty array.

[2016-05-06 18:58] asmecher commented on #1416
OJS3 doesn't use `getManagementVerbs`; it uses `getActions` now. Grep through some of the `plugins/generic/*` for this function in the OJS 3 codebase; I think the plugins there have all been updated accordingly.

[2016-05-06 18:59] crism commented on #1416
Yeah, that’s the conclusion I reached… but I wonder if it’s responsible for this warning? The assertion error is caused when an unknown verb is sent to the plugin.

[2016-05-06 19:00] crism commented on #1416
README needs directions on wiring up the ORCID API. What’s the redirect URI we give to ORCID? It’s not obvious to me.

[2016-05-06 19:02] asmecher commented on #1416
Are you seeing that on the setup form? It shouldn't be there...

[2016-05-06 19:06] crism commented on #1416
No, but to create the ORCID authentication credentials, I need to tell ORCID what the redirect URI is. I can’t get the client ID and client secret (which the setup form _does_ require) without that.

[2016-05-06 19:07] asmecher commented on #1416
Oh, gotcha. Just give it your journal's domain name; that'll permit anything within that domain.

[2016-05-06 19:09] crism commented on #1416
Got it, thanks. Success! Populated my admin ORCID ID with my sandbox ID. Now to test authentication…

[2016-05-06 19:16] crism commented on #1416
Plugin only acknowledges the numeric part of the ID; if using the Sandbox API, takes it as a normative ORCID.

[2016-05-06 19:19] crism commented on #1416
Registration says “Errors occurred processing this form: The email address fields do not match.” Not sure what fields (plural) it’s referring to… even correcting for the Mailinator address I used for the ORCID sandbox, I still get this error. (I think maybe it doesn’t like sandbox-styled ORCID IDs? Will test with the real thing now.)

[2016-05-06 19:24] crism commented on #1416
Oh, never mind—either the system had a spasm, or I did; there are two e-mail fields. `d-:` Not enough coffee today. Anyway, registration with a proper non-sandbox ORCID authentication worked fine.

[2016-05-06 19:25] crism commented on #1416
I’d really like to configure it to be a proper authentication source… but this is working as designed for now.

[2016-05-06 20:32] asmecher commented on #1367
@ctgraham, I fully support that suggestion -- for OJS 3.0. Note that I've already had to re-address the issue of publication dates for OMP 1.2 to get into Google Scholar, and for the moment if a user hasn't explicitly entered a publication date (via ONIX hell) then the content simply won't get indexed. We'll probably need to raise a notification for the user there but my general approach is that w

[2016-05-06 20:42] asmecher commented on #1413
Would that be the master branch, or something else?

[2016-05-06 22:30] crism commented on #1402
Hmm… no, it comes through in `PATH_INFO`. Something else is going on here, but I’ve back-burnered this for now. This is a cosmetic thing, and if it turns out to be a pain here, I can live without it.

[2016-05-06 22:38] asmecher opened #1431 "Investigate declined review re-assignment modification"
See: http://forum.pkp.sfu.ca/t/issue-with-reassigning-reviewers-who-have-previously-declined-in-ojs-2-4-x

[2016-05-06 22:45] asmecher commented on #1409
Seems to already have been resolved; can't duplicate.

[2016-05-06 22:45] #1409 closed

[2016-05-06 22:45] #1404 closed

[2016-05-06 23:22] asmecher opened #1432 "Copyediting: People use Notify in Participants grid to communicate, rather than Discussion grid"
...but it fails to enter the message in the discussion grid correctly (bug)

[2016-05-06 23:23] asmecher commented on #1432
FYI, @stranack, this is filed from the usability testing outcomes spreadsheet.

The "Notify" link isn't supposed to create a Discussion, it just sends an email. I have a dim recollection of a conversation about this but can't recall the details. Do you think it would make sense to make Notify instead create a discussion?

[2016-05-09 13:56] mfelczak commented on #1430
+1 for moving up the DOI on the article landing page.

It may be worthwhile to review CrossRef's DOI display guidelines. We're adhering to most recommendations, but not all (e.g. DOI display in the TOC).

http://www.crossref.org/02publishers/doi_display_guidelines.html

[2016-05-09 16:40] asmecher commented on #1396
Nate, what's the genesis of this database? Looking e.g. at `coverPageDescription`, it appears to be localized appropriately in the codebase, but your database seems to contain an unlocalized version of that setting (`locale is null or locale=''`).

[2016-05-09 16:52] asmecher commented on #1260
Merged -- thanks for your patience and work on this one, @crism!

[2016-05-09 16:52] #1260 closed

[2016-05-09 18:39] jnugent opened #1433 "SPF fixes should be reverted and altered"
The current SPF fixes introduced in OJS 2.4.6 and subsequently ported to other branches have resulted in a few problems with email.  Current mailings appear to be from the principal contact from the journal, which makes it difficult to filter in email MUAs, as well as the email logs built into each PKP application.  The bigger problem is that the changes do not really affect SPF.  SPF tests perfor

[2016-05-09 18:54] stranack commented on #1432
We should review how people are using the two communication systems and decide from there. Is it confusing to have two methods? Should we get rid of Notify now that we have discussions?

There were a few cases where people were using Notify, but it was breaking the workflow because a file wasn't being made available (Copyeditors to Authors, I believe).

However, if we can ensure that using either

[2016-05-09 18:58] stranack commented on #1406
I'd vote for "dashboard". While not perfect, at least it represents a broader concept of what users will get when selecting it. We could then keep an eye on our ongoing usability testing to see if it causes any unforeseen problems.  It is also the term used by Wordpress, which seems to be working for them.

[2016-05-09 19:02] stranack commented on #1403
I think it is fine not to get to the equivalent page. If we can add something like that in the future, great -- but for now, it is OK with that bug fixed.

[2016-05-09 19:19] asmecher commented on #1403
OK, thanks! Rescheduling for consideration of that latter part.

[2016-05-09 19:26] stranack commented on #1406
On step 5 of the author submission, we are currently providing a link back to the "dashboard". If we decide to NOT go with "dashboard" we need to fix this.

[2016-05-09 19:31] asmecher opened #1434 "Author's view of metadata form: close button does not work"

[2016-05-09 20:02] stranack opened #1435 "Copyediting Request Email Template - Replace code with data"
When the editor uses the Add Participant link to add a copyeditor, and chooses the Copyediting Request template, the resulting template is displaying code rather than the data:

http://journals.sfu.ca/uiux/index.php/publicknowledge/workflow/index/45/4

For example:
{$copyeditorName}:
{$submissionCopyeditingUrl}
 {$copyeditorUsername}

[2016-05-09 20:02] asmecher commented on #1406
Changing "Submissions" back to "Dashboard" would be a revert of part of https://github.com/pkp/pkp-lib/issues/985. I think "Dashboard" was better, though we did get some feedback (e.g. from FUB) questioning that choice. @beghelli, unless you have any major objections, could you revert that part of issue #985?

[2016-05-09 20:05] stranack opened #1436 "Copyediting Request does not trigger a Task"
When a copyeditor is assigned, he/she should receive a new Task, right? That doesn't seem to be happening:

http://journals.sfu.ca/uiux/index.php/publicknowledge/workflow/index/45/4

When logged in as mfritz, there is no new task related to this assignment.

[2016-05-09 20:08] asmecher commented on #1435
That was caused by out-of-date email templates on the UI/UX install; I've fixed that.

[2016-05-09 20:08] #1435 closed

[2016-05-09 20:09] stranack opened #1437 "Task rewording required - "query" to "discussion""
The text used when a task is created for a new discussion is "There is a new query to respond to". This should be "There is a new discussion to respond to".

We should probably review all of the task text, but for now we should at least fix this.

[2016-05-09 20:18] asmecher commented on #1437
I grepped the locale files and this was the only exception I found. Fixed.

[2016-05-09 20:18] #1437 closed

[2016-05-09 22:42] asmecher commented on #1155
Merged!

[2016-05-09 22:42] #1155 closed

[2016-05-09 23:56] asmecher commented on #1433
@ctgraham, I think you were following this thread pretty closely; do you think you'll have a chance to review Jason's proposals to see if they match up against your expectations and setup?

[2016-05-10 00:34] #1434 closed

[2016-05-10 00:45] stranack opened #1438 "Allow Editors to change file element type"
It could be useful to allow editors to be able to change the file element type -- e.g., from Research Instrument to Research Materials.

[2016-05-10 00:47] stranack opened #1439 "Element vs Component"
In the Settings, we refer to these as "Article Components" -- see Settings > Workflow > Components.

In the file grids, we still refer to these as "Elements".

I believe we agreed that Components was the preferred term.

[2016-05-10 01:52] asmecher commented on #1265
Fixed the criticial stuff, leaving the UI/UX stuff for post-3.0.

[2016-05-10 02:48] asmecher commented on #1428
Great, I think we have this covered for the moment!

[2016-05-10 14:17] ctgraham commented on #1433
I am cloning our Scholarly Exchange service to a development server today.  If the update passes testing there, I will apply it to the live instance for further testing.

[2016-05-10 15:03] asmecher commented on #1433
Many thanks as always, @ctgraham!

[2016-05-10 15:23] ctgraham commented on #1433
@jnugent, shouldn't there always be a return-path set with the new scheme?

I have `default_envelope_sender` set in config.inc.php.

When I checkout your branches, login as Admin, navigate to a journal, select Prepared Emails, then select and send a template.  If `force_default_envelope_sender` is set, I get a return-path of the `default_envelope_sender`.  If `force_default_envelope_sender` is not

[2016-05-10 15:34] jnugent commented on #1433
We only want to set one if force is on.  The last thing I want to do is force changes on a systems admin who has already made tweaks at the MTA level within the OS.

[2016-05-10 19:05] mfelczak commented on #1031
Hi @bozana, this looks good.

Both MySQL and PostgreSQL actually support timezone names provided that the timezone data has been initialized. But I think using the offset is better, since it will account for DST and ensure that PHP and the DB are always at the same offset.

Since PHP and the DB require regular updates to timezone information (i.e. dates each year when DST begins and ends), it is p

[2016-05-10 19:31] beghelli commented on #1391
@asmecher  oups, didn't meant to close, just merged the pull request.

[2016-05-10 20:57] asmecher commented on #1391
Actually, that's fine with me! Thanks, @beghelli.

[2016-05-10 20:57] #1391 closed

[2016-05-11 12:21] NateWr commented on #1396
It's definitely a database that's been around a while, I think. What is the `coverPageDescription`? I'm not seeing any reference to that setting on the Settings > Journal > Masthead page.

[2016-05-11 12:24] NateWr commented on #1428
@jmacgreg The CSS cache needs to be deleted so it's recompiled on the SFU installation. And it looks like the JS is still not getting concatenated -- 20+ second load times on the site over here.

[2016-05-11 12:28] NateWr commented on #1428
Also, that empty space below the cover image [shouldn't be there](https://github.com/pkp/omp/blob/master/templates/frontend/objects/monograph_full.tpl#L235) if there are no non-chapter files. @stranack can you take a screenshot of the Publication Formats grid for that monograph? That might give me a hint as to what's going on.

[2016-05-11 12:36] jmacgreg commented on #1428
@NateWr done and done - all good now? (Note to self to add the minified thing to our install scripts)

[2016-05-11 12:38] NateWr commented on #1428
@jmacgreg 2.5s now and CSS looks good. Thanks!

[2016-05-11 12:48] NateWr opened #1440 "[OJS] Can't upload a cover image for articles"
It looks like the data is there but there's nowhere in the workflow to add a cover image. I'd suggest adding it to Submission > Metadata > Publication tab.

[2016-05-11 13:06] NateWr commented on #1396
Not sure if this is related, but I just went to upgrade the database. I went into the `versions` table and adjusted the `ojs2` entry from `2|9|0|0` to `3|0|0|0`. I then ran `php tools/upgrade.php upgrade`.

I then refreshed a page (Publication stage in the workflow) and for about 10-15 seconds my apache error log spit out thousands of lines like this:

[code]

This was with only one language enabl

[2016-05-11 15:48] NateWr opened #1441 "[OJS] Article published date is set to required but can be saved empty"
Should it be required? Does a publication date get set automatically when an issue is published?

[2016-05-11 15:48] asmecher commented on #1396
`coverPageDescription` is the field labeled "Cover caption" on the issue cover form.

Can you re-insert the line mentioned in https://github.com/pkp/pkp-lib/issues/1396#issuecomment-216918773 and see what fields are problematic now? (I'm not sure OTOH why the upgrade would've corrected anything, but it's possible.)

If you haven't built your DB for something specific, I'd consider grabbing a fresh

[2016-05-11 17:06] asmecher commented on #1441
We're talking about this in more detail over at https://github.com/pkp/pkp-lib/issues/1367 -- until then the field *should* be filled in, but can't be strictly required due to the legacy data situation.

[2016-05-11 17:06] #1441 closed

[2016-05-11 17:11] stranack commented on #1428
@NateWr I deleted some non-chapter files (and filed an issue that we should be able to edit file types), so this may be some leftovers from that. I've signed you up for the installation so you can take a look around.

[2016-05-11 17:41] NateWr commented on #1390
Ticked off a few more things in this issue:

https://github.com/pkp/ojs/pull/835
https://github.com/pkp/pkp-lib/pull/1442

[2016-05-11 17:47] asmecher commented on #1390
Merged those both, thanks!

[2016-05-11 19:30] asmecher opened #1443 "Fix tabbing from username to password on login"

[2016-05-11 20:12] asmecher commented on #1443
@NateWr, I think this was already filed or mentioned somewhere but I couldn't spot it.

[2016-05-11 20:17] asmecher opened #1444 "Fix admin.mergerUsers.noneEnrolled locale key typo"
See http://forum.pkp.sfu.ca/t/missing-admin-mergeusers-noneenrolled

[2016-05-11 20:22] #1444 closed

[2016-05-11 21:54] asmecher commented on #608
In fact, closing this in favour of the already-filed one linked above. One reason I haven't leaped on this yet is that there isn't an official composer package for pnotify (yet).

[2016-05-11 21:54] #608 closed

[2016-05-12 07:32] ajnyga commented on #1416
When adding more authors, the ORCID field is not locked meaning that the submitting author can write to it.

[2016-05-12 08:33] NateWr commented on #1396
I don't yet have too much specific stuff in my OJS database. Could you email me a fresh copy of the test DB?

[2016-05-12 08:34] NateWr opened #1445 "[OMP] Empty div in monograph_summary.tpl if no series position"
https://github.com/pkp/omp/blob/master/templates/frontend/objects/monograph_summary.tpl#L17-L19

[2016-05-12 08:54] NateWr commented on #1428
Thanks, that clarified things quickly. I've issued a PR that should address that:

https://github.com/pkp/omp/pull/284

@stranack I noticed that you created a "Chapter" for the whole book. Is there a reason that you didn't want the whole-book files to appear on the right? They'll get a larger button presentation that's more prominent on the top right, and it will keep the data clean (rather than a

[2016-05-12 09:00] NateWr commented on #1443
It's mentioned in one my massive list issues (https://github.com/pkp/pkp-lib/issues/639). I flagged this issue in that one but anything urgent probably needs its own issue like this, pegged against a milestone.

[2016-05-12 09:40] NateWr commented on #1390
A PR for OMP with a couple of header-related changes made recently to OJS: https://github.com/pkp/omp/pull/285

A PR for the search bar borders in the head: https://github.com/pkp/ojs/pull/836

[2016-05-12 10:04] NateWr commented on #1432
I think that we agreed to make Notify use the Discussions system. I don't think it's a good idea to have two separate messaging techniques (from a UI or code perspective).

The issue we ran into is that Notify seems to be more intuitive to people. So we thought it would be good to keep Notify but have it create a Discussion. This would have a knock-on benefit of bringing awareness to the Discussio

[2016-05-12 10:27] NateWr commented on #1432
Alec, I think that there's some scope for a more general solution to how our JS components might talk with each other, perhaps using `SiteHandler` as an event router of sorts. Could be a useful shortcut for this Notify use-case, but also could be handy for our workflow Notifications as well.

Perhaps we could chat about this at some point? There may already be some infrastructure in place. I'm jus

[2016-05-12 10:30] NateWr opened #1446 "[UI] Clarify the need to check box when copyeditor uploads revised file"
Copyediting: When copyeditor uploads revised file, we need to clarify the need to check the box next to the appropriate file. People miss this and it is critical that they do this.

_(Filed from usability testing outcomes.)_

[2016-05-12 10:37] NateWr commented on #1144
This is just a note for whenever we turn back to this issue: there are some more UX issues that came out of the usability testing that should probably be addressed alongside this issue.

[2016-05-12 10:42] NateWr opened #1447 "[UI] Improve recipient selection process for new discussions"
Usability testing outcome:

I suspect we'll get more mileage by styling it a bit like the From/To areas familiar from email clients.

[code]

[2016-05-12 12:37] NateWr commented on #1397
How are the Journal Initials and Journal Abbreviation used? I noticed "Initials" (which is saved as `acronym`) is used in email templates, but wasn't sure about abbreviation.

![selection_040](https://cloud.githubusercontent.com/assets/2306629/15214737/bb70b3c0-1846-11e6-8743-dd779058e76e.png)

[2016-05-12 12:48] NateWr commented on #1397
Do we plan to support categories in OJS 3? Any idea how I can enable them?

[code]

[2016-05-12 15:00] NateWr commented on #1397
Settings > Journal > Policies includes two checkboxes: `requireAuthorCompetingInterests` and `requireReviewerCompetingInterests`. Neither of these appear to be used anywhere that I could find.

The latter is very similar to `reviewerCompetingInterestsRequired` which appears on the Settings > Workflow > Review form.

I'm going to just drop them completely unless someone tells me they're needed, in

[2016-05-12 15:53] asmecher commented on #1416
@ajnyga, the submitter can only claim the first author entry for themselves using the ORCID login. We could hide the ORCID field entirely during submission, but I thought in this case it was better to leave it present so that the submitting author could enter other authors' ORCIDs if they were available. Then the email claim process only happens for unentered ORCIDs. All submitted ORCIDs are valid

[2016-05-12 15:53] asmecher commented on #1416
@crism, by the way, I'm finished tinkering -- would you like me to fork the plugin into `ojs-dev-2_4` and `master` (OJS 3) branches? I know you were eager to experiment with the master branch and I hate to stand in your way :)

[2016-05-12 15:56] crism commented on #1416
@asmecher, I’ve forked it at https://github.com/PublishingWithoutWalls/orcidSso—I’ll send pull requests when I’ve made useful progress.

[2016-05-12 16:08] asmecher commented on #1416
Thanks, @crism -- I've created an `ojs-dev-2_4` branch to distinguish it from `master` (OJS 3.0), and added a note to the `README.md` to clarify. Let me know if I can clarify anything WRT the OJS 3.0 plugin structures!

[2016-05-12 16:16] ajnyga commented on #1416
I do not think that typos are the risk. Probably a larger risk is mixing ORCIDs with each other while they are not human readable as such. I think that the ORCID recommendation is to only insert ORCIDs through a validation process.

Another thing I noticed that the email that the plugin sends is empty. I did not have time to check this in detail but it maybe is because the plugin is missing this (

[2016-05-12 16:23] asmecher commented on #1416
@ajnyga, thanks -- added that. If you like, you can also create the email template manually from the Journal Manager's "Prepared Emails" area.

[2016-05-12 17:12] NateWr commented on #1397
PRs with some big cutbacks:
pkp/pkp-lib#1397
https://github.com/pkp/omp/pull/286
https://github.com/pkp/ojs/pull/837

## Changes

Removed:
- Settings > Journal > Masthead > Journal History
- Settings > Journal > Policies > Privacy Statement
- Settings > Journal > Policies > Focus and Scope
- Settings > Journal > Policies > Open Access Policy
- Settings > Journal > Policies > Publication Scheduling

[2016-05-12 17:12] asmecher commented on #1397
Regarding https://github.com/pkp/pkp-lib/issues/1397#issuecomment-218744117:

The Acronym is used in CrossRef, Refworks, BibTeX, URN and DOI exports, and as a prefix for subjects in email templates.
The Abbreviation is used in OMP in ONIX, but not currently in OJS.

I could maybe argue for a role for both (e.g. "LangSciJ" vs. "LSJ", but wouldn't do it with any enthusiasm. It might be a good idea o

[2016-05-12 17:31] asmecher commented on #1397
Regarding https://github.com/pkp/pkp-lib/issues/1397#issuecomment-218746636:

No, I don't think categories (a la OMP, where submissions get categorized according to a controlled vocab) will be all that useful in OJS. A roughly equivalent feature would be to use keywords as the OJS 2.x tag cloud plugin does, which is probably more useful as it gets automatically organized by existing metadata.

We

[2016-05-12 17:33] asmecher commented on #1397
Regarding https://github.com/pkp/pkp-lib/issues/1397#issuecomment-218784807:

Agreed, probably best to drop them for now. I believe the reviewer settings are accidental duplicates. The author setting will probably need to be hooked up at some point, but I don't think it's a common requirement so it can be post-3.0.

[2016-05-12 17:36] asmecher commented on #1447
IMO the user creating the conversation will frequently, but not always, want to be part of it. Thinking e.g. of a high-level editor who wants to connect e.g. a translator with a copyeditor, but doesn't want to be part of the conversation.

[2016-05-12 17:38] asmecher commented on #1390
(both merged)

[2016-05-12 17:51] asmecher commented on #1432
We do use the SiteHandler as a bespoke message broker in a few places. I've tried to avoid this approach because it loads that handler down with considerations for other widgets, but perhaps it's a good opportunity for a generalized feature if we need a lot of that kind of communication.

The developer who wrote the Javascript framework documented it laboriously; see e.g. here: https://pkp.sfu.ca/

[2016-05-12 18:32] stranack commented on #1397
I did have a least one person specifically ask for categories (as exist in OJS 2) to be transferred to OJS 3. They have multiple journals on one installation and find it helpful (especially for categorizing student journals from professional journals).

[2016-05-12 18:35] stranack commented on #1397
For continuous publishing, categories (as in OMP) could serve a useful purpose in OJS 3. Journals could use a feature much like the Catalogue to organize and display articles on the home page, and in categorized lists. I think it is at least worth considering, even for 3.1.

[2016-05-12 18:37] stranack commented on #1432
Yes to Notify creating a new Discussion entry.

[2016-05-12 18:39] stranack commented on #1428
Nope, no reason. I agree that this would be a better way to handle it. I'm assuming I'll be able to label the button something like "Complete Book PDF".

[2016-05-12 19:22] crism commented on #1416
OK, I have the settings working, at least, in OJS 3. It seems impossible to provide simultaneous OJS 2 and 3 compatibility, since the plugin API has changed (`manage()` now takes only 2 arguments). Or am I missing something?

Next steps:
 - [ ] Get the new registration and submission forms wired up to the plugin
 - [ ] Genericize it (change journal references to context) so that it will work in OM

[2016-05-12 19:34] asmecher commented on #1416
We don't want the plugin to be compatible with both; that's why I created an `ojs-dev-2_4` branch (for 2.4.x) as opposed to `master` (for 3.0). It might be possible to maintain compatibility but it'll be tedious and probably less reliable in the long run.

[2016-05-12 19:45] crism commented on #1416
That’s what I thought, @asmecher, but I wanted to confirm. I’ll send a pull request when I get the first part up there done.

[2016-05-12 20:05] asmecher commented on #1397
For continuous publication, let's leave that discussion to https://github.com/pkp/pkp-lib/issues/1407.

[2016-05-12 20:06] asmecher commented on #1407
From @stranack, https://github.com/pkp/pkp-lib/issues/1397#issuecomment-218846778:

[2016-05-12 20:15] asmecher commented on #1443
Quick fix: I just set the tab index and left the position as it was.

[2016-05-12 20:16] NateWr commented on #1443
Sorry we can't do that. Tabindex is a no-go for accessibility concerns.
Just assign this to me and I'll figure sonething out
On 12 May 2016 21:15, "Alec Smecher" <notifications@github.com> wrote:

[2016-05-12 20:18] asmecher commented on #1443
Ah, OK. All yours.

[2016-05-12 21:43] asmecher commented on #1397
@NateWr, it looks like e.g. the copyright notice is no longer displayed but I don't see that in your notes.

[2016-05-12 21:46] asmecher commented on #1397
@willinsky, could you take a glance at Nate's proposal in https://github.com/pkp/pkp-lib/issues/1397#issuecomment-218823349 for simplifying the setup fields? Some of those are long-standing OJS fields that I think were devised in an attempt to communicate best practices to editors as much as expose journal workings to outside participants.

[2016-05-12 22:24] asmecher opened #1449 "CrossRef minor improvements"

[2016-05-12 22:26] asmecher commented on #1449
- Extend issue publication year to support a broader range: https://github.com/pkp/ojs/commit/99a011d19c95e74d94fe7bb859d433ab0f8e5dff
- Suppress `pages` element when page numbering could not be parsed: https://github.com/pkp/ojs/commit/1b3a9f192ab8a91ab116729013db23ab30b033b2

[2016-05-12 22:27] asmecher commented on #1449
- We discussed falling back on the issue publication date when the article publication date isn't available. That's already the case. (`plugins/importexport/crossref/CrossRefExportDom.inc.php`)

[2016-05-12 22:55] bozana commented on #1449
@asmecher, here the PR needed for the publication date: https://github.com/pkp/ojs/pull/820 -- there you see the issue number belonging to the PR :-)

[2016-05-12 23:01] asmecher commented on #1449
I must be going blind! I think I was looking at the master branch, which already does this (a little differently). I've merged that PR and cherry-picked it over to `ojs-stable-2_4_8`.

[2016-05-12 23:01] #1367 closed

[2016-05-13 00:25] asmecher commented on #1446
I think this recently got resolved here: https://github.com/pkp/pkp-lib/issues/1260

[2016-05-13 00:30] asmecher commented on #381
This might get resolved via https://github.com/pkp/pkp-lib/issues/1416

[2016-05-13 02:17] willinsky commented on #1397
This looks a great consolidation. I don't see the Copyright Policy, which is one I added rewording to and which we have had reasonable requests about encouraging an explicit posting of it.

[2016-05-13 08:30] NateWr commented on #1428
You won't actually be able to name the button.

This was a difficult choice and I'm open to alternatives. When there's just a single file in a pub format, it uses the pub format name (eg - the chapters say PDF instead of the full file name). It falls back to the file name if there are multiple files per pub format.

So in your case, since there'd only be one PDF for the whole book, it would displa

[2016-05-13 09:13] NateWr commented on #1446
I'm not actually clear on what the issue was, just wanted to get it filed. @stranack do you know if this is resolved now?

[2016-05-13 09:23] NateWr commented on #1407
I'd like to see "Sections" used for categorizing articles for continuous publishing, instead of adding a new Categories system. Any reservations there?

In terms of the UI for continuous publishing, I'd love to see us accomplish the user-facing side of this by simply removing one element in the submission metadata modal. The Publication Date could then be a "scheduled posting" so it will just go l

[2016-05-13 09:42] NateWr commented on #1397
Regarding https://github.com/pkp/pkp-lib/issues/1397#issuecomment-218823533 on Acronym/Abbrevation:

I'm fine just leaving it alone.

Regarding https://github.com/pkp/pkp-lib/issues/1397#issuecomment-218828717 and https://github.com/pkp/pkp-lib/issues/1397#issuecomment-218845850:

Can I strip out the template code for now and start a list of features that may/may not make it for OJS 3.0 (eg - cate

[2016-05-13 16:32] crism opened #1450 "[OMP][OJS] Update ORCID plugin for OMP 1.2/OJS 3"
The plugin developed from the sprint (#1416) works with OJS 2._x_, but needs adaptation to be compatible with the latest and greatest.
 - [x] Get registration and settings working with OJS 3
 - [x] Get the new registration and submission forms wired up to the plugin in OJS 3
 - [x] Genericize it (change journal references to context) so that it will work in OMP 1.2 as well

[2016-05-13 16:34] crism opened #1451 "[OMP][OJS] create ORCID-based SSO authentication service"
Dependent on #1450, once the ORCID plugin (from #1416) is working with the current stack, adapt it to be an authentication plugin as well.

[2016-05-13 16:37] crism commented on #1450
Something is wonky with registration. @asmecher, any suggestions? I think `Registry` and `HookRegistry` are transient, right? So all the plugins should register all their hooks every time a page is hit… but `OrcidProfilePlugin` only registers its hooks on the plugin administration page. When I add error logging to `HookRegistry::register()` and `HookRegistry::call()`, I see other plugins working c

[2016-05-13 17:52] asmecher commented on #1397
On https://github.com/pkp/pkp-lib/issues/1397#issuecomment-218998466:

Yes, that's probably the best approach.

The Copyright Statement and Copyright Notice are different things. The Copyright Notice is a journal-wide statement of policy that authors might want to read before they submit. It should go in About, and may not strictly apply to all articles (e.g. if it's changed over the years). The C

[2016-05-13 18:16] asmecher commented on #1407
Nate, I like that proposal. Nice and simple.

Some journals will probably want to use both continuous publishing and issues -- effectively there would be a pool of articles without issues that would build up somewhere, and get periodically reshuffled into issues -- so rather than forcing JMs into one track or the other we might...
- Disentangle the selection of an issue from the publishing action

[2016-05-13 18:33] asmecher commented on #1450
@crism, that probably means the plugin isn't registered with the system. To get it registered, you need to either install it through the web interface, or if it's already in place (e.g. by unpacking the tarball), run the upgrade script. (Back up your DB before you do that.)

[2016-05-13 18:41] crism commented on #1450
The plugin management interface shows it, and I can enable and disable it, and change its settings. However, it might not be fully registered—the upgrade script dies, because it tries to upgrade the database from the old version of OJS, too, which involves deleting a table which doesn’t exist.

[2016-05-13 18:44] asmecher commented on #1450
OTOH you could also register the plugin like this:

    INSERT INTO `versions` (`major`, `minor`, `revision`, `build`, `date_installed`, `current`, `product_type`, `product`, `product_class_name`, `lazy_load`, `sitewide`) VALUES (1,0,0,0,'2016-04-25 11:05:46',1,'plugins.generic','orcidProfile','OrcidProfilePlugin',1,0);

[2016-05-13 18:51] crism commented on #1450
Ah, `versions` is where it lives… but `orcidProfile` is already there.

[2016-05-13 18:59] asmecher commented on #1450
Can you send me a copy of the plugin code you're currently working with?

[2016-05-13 19:01] crism commented on #1450
https://github.com/PublishingWithoutWalls/orcidSso/tree/feature/ojs3

[2016-05-13 19:05] crism commented on #1450
Hm… when I try to delete the plugin, I’m told it doesn’t exist. That could be part of the problem… I’ll install it through the Web interface.

[2016-05-13 19:09] crism commented on #1450
The filename/plugin name mismatch (`orcidSso` vs `orcidProfile`) may also have been a problem. Trying to do too much at once… `d-:`

[2016-05-13 19:14] asmecher commented on #1450
Yes, the name mismatch would explain it.

[2016-05-13 19:17] asmecher commented on #1428
I'm hesitant to add more names or options to this. I suspect the amount of pain in working with it as is will be equal or less than that for adding new controls etc.

IMO identifying the file type (e.g. PDF) is better done graphically (e.g. by using PDF iconography) separately from the label text.

[2016-05-13 19:19] crism commented on #1450
Buh. That seems to have done it. Sorry for the noise.

[2016-05-13 19:29] asmecher commented on #1450
No problem, there's a little too much magic in there for my tastes and you're not the first to run into it.

[2016-05-13 20:09] mfelczak commented on #1031
@asmecher, unless @bozana has anything else to add, this should be ready to go.

[2016-05-13 20:10] bozana commented on #1031
@mfelczak and @asmecher, nothing to add, ready to go :-) Thanks!!!

[2016-05-13 20:10] asmecher commented on #1031
Good enough for me, thanks!

[2016-05-13 20:10] #1031 closed

[2016-05-13 21:36] asmecher commented on #1397
@willinsky, I thought this was going to be more controversial! Are you OK to accept Nate's proposed changes, or would you like to see them in action first?

[2016-05-13 22:31] asmecher commented on #1432
Partially implemented:
- https://github.com/pkp/ojs/compare/master...asmecher:i1432-fix?expand=1
- https://github.com/pkp/pkp-lib/compare/master...asmecher:i1432-fix?expand=1

This partially solves the problem by creating a new query when the notify tool is used. But it creates a few new problems:

- Some actions in "notify" have workflow implications, e.g. notifying the copyeditor should create a

[2016-05-14 14:08] beghelli opened #1452 "Viewing PDF files in new versions of Firefox is broken"
Tested versions that present the problem: 46 and 47 (nightly build).

The problematic visualization:

![step 2_ojs_jias 20751](https://cloud.githubusercontent.com/assets/593977/15268887/16f1e4b6-19c4-11e6-80ff-cb0c345a6ca7.JPG)

[2016-05-14 14:10] beghelli commented on #1452
Actually this is a bug related to an older version of OJS, confirming if we still have this in the most recent one.

[2016-05-14 14:34] beghelli commented on #1452
And yes, it is problematic in newer versions also, which is something to be expected, because in workflow pages we don't use the PDF viewer plugin (which still works ok).

It seems a Firefox bug, and it doesn't impact the public pages, even with older installs, because those always rely on external browser plugins to open the PDF's.

[2016-05-16 08:44] NateWr commented on #1428
The problem with identifying the file type graphically is that most file types don't have a graphic that can be used with clarity. PDF is a rare instance of a recognizable icon. But what about HTML, ePub, the eLens Reader?

[2016-05-16 09:10] NateWr commented on #1432
@asmecher: Shouldn't a new discussion create a new task for all participants?

In addition to the spaghetti problem, we'll also run into bugs related to race conditions. Everything's coming in async so we can't know that a `#queriesGrid .pkp_controllers_grid` exists when the Notify action is triggered.

My thinking with the `SiteHandler` was that a queries grid could tell `SiteHandler` "I'm respon

[2016-05-16 09:24] NateWr commented on #1407
I think that we'll have a few homepage options in the default theme which allow a JM to kind of choose how they present their publishing schedule. For instance, I'm hoping that we'll have options to display the latest issue and/or a list of latest articles, and journals can choose what they want to prioritize.

This may not be a 3.0 thing, but I raised some of this in that email I sent out about h

[2016-05-16 10:34] NateWr opened #1453 "[OJS] Multi-context site settings needs work"
When multiple journals exist, there's a site settings panel under Administration > Site Settings. This needs to be improved and the frontend settings needs to be tested.

[2016-05-16 10:36] NateWr commented on #1397
@asmecher I've added copyright notice to the list of recommended content for About the Journal.

I've also stripped out all the categories code. I may have gone farther than you wanted here and stripped out too much. Take a look particularly at https://github.com/pkp/ojs/pull/837/commits/19ca02308019cc8e1a2f16c2fae25627168a5ba4.

[2016-05-16 13:05] NateWr opened #1454 "[UI] Clarify difference between file metadata and article metadata"
From usability testing outcomes:

[2016-05-16 13:07] NateWr commented on #1454
https://github.com/pkp/pkp-lib/pull/1455

![selection_047](https://cloud.githubusercontent.com/assets/2306629/15290302/80fa54f4-1b6f-11e6-8041-d4ff39028a24.png)

[2016-05-16 13:15] NateWr opened #1456 "[UX] Easy wins from usability testing"
Filing a few easy wins from previous rounds of usability testing so we have an Issue to tag commits against without spinning out lots of new issues/notifications.

- [x] Registration: Add indication of password requirements to registration form
- [x] Submission: On submitter’s Dashboard, rename column label from “Element” to “Component” to match language.
- [x] Submission: Rename "Submission Check

[2016-05-16 14:29] bozana opened #1457 "Public identifiers for OJS 3.0"
- [x] a) add "identifiers" tab to the metadata/edit modal of each publication object (issue, article, galley)
- [x] b) move "publisher-id" (custom URL identifier) to the new "identifiers" tab
- [x] c) remove old custom URL identifiers journal settings options -- they should always be there
- [x] d) implement DOI plugin
- [x] e) implement URN plugin
- [x] f) implement a different pub ids assignment

[2016-05-16 14:32] NateWr commented on #1456
https://github.com/pkp/pkp-lib/pull/1458
https://github.com/pkp/omp/pull/287
https://github.com/pkp/ojs/pull/838

[2016-05-16 16:22] NateWr opened #1461 "[UI] Remove tasks grid in frontend"
Instead of the full tasks grid, we'll just display the notification count in the user dropdown.

[2016-05-16 16:29] NateWr commented on #1461
PRs:
https://github.com/pkp/pkp-lib/pull/1462
https://github.com/pkp/omp/pull/288
https://github.com/pkp/ojs/pull/840

Screenshot
![selection_052](https://cloud.githubusercontent.com/assets/2306629/15296107/b23e66f6-1b8b-11e6-88b1-40ec0d0b3292.png)
:

[2016-05-16 18:25] asmecher commented on #1428
I thought that sort of thing was part of plenty of standard icon sets, but now I'm definitely jumping up and down on your toes, Nate -- I'll back whatever you recommend here.

[2016-05-16 19:39] asmecher commented on #1461
Merged, thanks! The tests were failing because the submodule commit wasn't last in the list; I'll watch to see if this resolves itself now that it's merged.

[2016-05-16 19:39] #1461 closed

[2016-05-16 20:10] asmecher commented on #1454
Merged, thanks!

[2016-05-16 20:10] #1454 closed

[2016-05-16 20:12] asmecher commented on #1428
@NateWr, I've merged https://github.com/pkp/omp/pull/284, thanks -- but leaving this open as I don't think it's ready to be closed.

[2016-05-16 22:09] willinsky commented on #1397
Of course, I'd love to see them in action, but am feeling that this is an improvement and that less guidance is needed now that in the past.

[2016-05-16 22:38] #1305 closed

[2016-05-16 23:21] jalperin commented on #1397
Regarding abbreviations, they are not being used correctly in the screenshot. Journals do have [formal abbreviations](http://images.webofknowledge.com/WOK46/help/WOS/A_abrvjt.html) that get used at citation time. It's an outdated practice, but was a space saving measure back in the day, and still used by some citation styles.

[2016-05-17 00:19] asmecher commented on #1457
Does this need an OMP PR before it can be merged?

[2016-05-17 08:36] bozana commented on #1457
I would like to first keep it simple and make just the minimal necessary changes in OMP, s. https://github.com/bozana/omp/commit/4b072a4af9d89a4c6cad1d05fef9051b5db24602 (I will wait with this OMP PR till the other PR are merged, OK?)
Then, when everything OK, I can migrate the new pub id concept to OMP too.
OK so?

[2016-05-17 09:08] NateWr commented on #1415
This is obsolete due to changes in https://github.com/pkp/pkp-lib/issues/1461

[2016-05-17 09:08] #1415 closed

[2016-05-17 10:16] bozana commented on #1397
The journal abbreviation is also used in public identifiers (e.g. DOI), as part of the suffix pattern.
Maybe to also consider the information DOAJ is requesting for journals and how to make it easier i.e. guide journal managers to enter those information, s.: https://doaj.org/application/new
I.e., for example:
14) and 18) URL containing information about APCs and submission charges,
26) URL contai

[2016-05-17 12:25] bozana commented on #1397
Ah, sorry, I mean journal initials are used in pub ids, not abbreviation... :-\

[2016-05-17 16:29] asmecher commented on #1457
Sure, that's fine, as long as the pkp-lib PR doesn't break OMP.

[2016-05-17 16:42] NateWr commented on #1456
Restore some file information: https://github.com/pkp/pkp-lib/pull/1458/files/a11174d89c5627356d39cf79d8ba54e4a3bb9d46#r63414475

[2016-05-17 17:32] bozana commented on #1457
Hmmm... Even better then to merge everything together i.e. I will make the OMP PR above as soon as I've integrated all the review comments :-) THANKS!!!

[2016-05-17 17:50] NateWr commented on #1406
Sorry I jumped the gun on this one, but I went ahead and named it Dashboard as part of changes in #1461.

[2016-05-17 18:03] NateWr commented on #1443
Ok, I've been doing a bunch of work around login/registration (mostly registration) on the back of this issue, in part related to work I want to do for #975.

I've stripped out some more dependencies on the backend JS framework (we're very close to dropping it as a dependency on the frontend!).

I'm also working on improving the registration process in general, and went ahead and took a stab at th

[2016-05-17 18:14] asmecher commented on #1397
New PRs with a fresh rebase and tests fixed:
- https://github.com/pkp/pkp-lib/pull/1463
- https://github.com/pkp/ojs/pull/841
- https://github.com/pkp/omp/pull/289

@NateWr, if you do any further work on this, could you do a hard reset to my branch?

@willinsky, any opinion on https://github.com/pkp/pkp-lib/issues/1397#issuecomment-219676561? I suspect they've based a lot of these requirements dir

[2016-05-17 18:23] asmecher commented on #1443
Much improved, but we need to be careful how we refer to reviewer roles. "Internal Reviewer" and "External Reviewer" are just defaults, and they can be renamed, opened and closed for self-registration, etc.

[2016-05-17 18:31] NateWr commented on #1443
This is actually pulling the role names directly. Thoughts on moving the multi-context role selection into `registerSite.tpl` and the backend only?

[2016-05-17 22:06] crism commented on #1450
I’m stymied again. The output filter `profileFilter()` fires 20 times! The pattern matches 4 of those times, meaning I get 4 ORCID buttons.

It looks like (based on printing `$output` in the error log) the filter fires for every non-trivial `{...}` in the template, rather than just firing when the template is done. Is this a change from OJS 2._x_? Or is `unregister_outputfilter()` not working corr

[2016-05-18 01:14] mfelczak opened #1464 "[OJS] Extend issue and article publication year to minimum year - 50"
This was partially addressed for issues via [99a011d19c95e74d94fe7bb859d433ab0f8e5dff](https://github.com/pkp/ojs/commit/99a011d19c95e74d94fe7bb859d433ab0f8e5dff)

It should also be extended to article publication dates for older content imported to OJS.

[2016-05-18 04:55] chrisgreencorn opened #1465 "[OJS 2.4.7.1] Russian prepared email in English locale."
In OJS 2.4.7.1, the prepared email for "PAYPAL INVESTIGATE PAYMENT" is in Russian when the en_US local is selected. Bug not present in 2.4.8.0.

[2016-05-18 06:34] mtub opened #1466 "[OJS] OJS 2 license information: make it harder to reset permissions"
In OJS 2's setup, there's a section on permissions, that has this option:

This makes it much too easy to accidentally or intentionally reset permissions on already published articles, which should be avoided (e.g. because in most open access journals, the publisher doesn't hold the copyright). As with #408, this seems to stem from a view centered on test journals. But we are dealing with live jou

[2016-05-18 09:51] NateWr opened #1467 "[UI] Reviewer interests selection auto-complete returns unrelated results"
The autocomplete tool used to return results in the reviewer interests input returns the same set of results each time, and they're not related to the input.

Related to #1443 but keeping it separate so that issue doesn't get too large.

[2016-05-18 10:01] NateWr opened #1468 "[UI] Work out theme registration, enabling and parent-child relationships"
I'm repurposing this issue for general work that needs to be done on themes. Some issues identified to be reworked:

- [x] Themes appear in selection list (Website > Appearance) even if they're not enabled (enabled doesn't mean active?).
- [x] Themes should overwrite the `getEnabled` method to check if they're currently active.
- [x] Hooks registered in constructor fire whether the theme is enable

[2016-05-18 15:12] NateWr commented on #1443
Ok, I've dug a bit deeper and I'm now priming the default Reader/Author role assignment in context [from the backend](https://github.com/NateWr/pkp-lib/commit/05214b6609c8bdb7969e639c503ae349dbc4f2eb#diff-4e84768943459d3da90a50abcd8a248bR122). I'd like to discuss how we use the Author role nad whether it might make more sense to change permissions around submissions than to add the Author role (ma

[2016-05-18 18:33] vnen commented on #1433
I'm having problem with some emails that are not being sent and I believe it's because of this. Only some specific OJS functions are not sending it though (namely the submission ack), while others send the email with no problem (such as the rejection email).

I can see an error in the PHP error log: `OJS SMTPMailer: Did not receive expected 250 or 251`

But I'm not aware how to debug this further

[2016-05-18 18:41] ctgraham commented on #1433
@vnen, check out this post on the support forum: http://forum.pkp.sfu.ca/t/upgraded-to-2-4-6-and-submission-acknowledgement-email-is-not-sent-anymore/798/46?u=ctgraham

I suspect what you are seeing is a rejected message due to a null reply-to.

You are also welcome to test out this fuller SPF fix, if you are comfortable with git and with testing bleeding edge code.

[2016-05-19 00:02] #1465 closed

[2016-05-19 04:23] henkela opened #1469 "[OJS] "Forgot password" doesn't deliver reset password"
Hi,
I'm using OJS 3 (updated shortly after Code Sprint this year). I tried to use "forgot password" on the admin account. Then I got an e-mail containing a link, which basically just led to the login-page of my ojs-installation. This triggered the second mail "password successfully reset.
But I never had to type a password. Did I misunderstand something or is there a bug?
Keep up the good work!
Be

[2016-05-19 07:00] asmecher opened #1470 "Test/fix cover image view"
See http://forum.pkp.sfu.ca/t/omp-1-2-coverhandler-function-cover-does-not-work/12754

[2016-05-19 10:01] NateWr commented on #1443
I've got the commits prepared for ojs/omp/pkp-lib. But I suspect we'll have some merge conflicts with #1397 so I'll hold off on issuing PRs until those changes are in and I can re-stage the changes.

[2016-05-19 11:35] asmecher commented on #1467
Got it, thanks!

[2016-05-19 11:35] #1467 closed

[2016-05-19 11:45] NateWr commented on #1443
Note to self: the tag-it configuration fix in https://github.com/pkp/pkp-lib/issues/1467 needs to be ported over to the frontend.

[2016-05-19 13:30] asmecher commented on #1443
I think https://github.com/pkp/pkp-lib/issues/1443#issuecomment-220300974 got attached to the wrong bug entry.

[2016-05-19 13:33] #1464 closed

[2016-05-19 13:34] NateWr commented on #1443
No this is the right issue. I kind of took over the issue and turned it into a wider revamp of login/registration, and the `tag-it` component is now initialized in the theme for the frontend.

[2016-05-19 13:48] asmecher commented on #1443
Ah, OK.

[2016-05-20 19:31] mfelczak commented on #1074
We need to disallow numeric public ids on the following:
- issue id
- issue galley id
- article id
- article galley id
- supplementary file id

[2016-05-20 19:40] mfelczak commented on #1074
@bozana, @mtub: is the bug with public ids of the form "volumeNo-No" recent or was this fixed [here](https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8853)? I can't reproduce it on my local install.

[2016-05-20 19:51] vnen commented on #1433
It seems that the problem is indeed an empty *reply-to* header: `Reply-To: "" <>`. That's what I'm getting in my local dev environment.

pkp/ojs#832 solves it with a caveat: it sends an empty *From* header (`Form: "" <>`) unless I activate `force_default_envelope_sender`. Just as a note, I tested the patch on top of 2.4.8.0 release, not an any dev branch.

[2016-05-20 20:51] vnen commented on #1433
No help on the live server though, still getting the cryptic message: `OJS SMTPMailer: Did not receive expected 250 or 251`.

[2016-05-21 08:54] asmecher opened #1472 "Fix representations/galleys/galley files cardinality problem"
- [x] Get rid of viewableFiles category (use generic instead) -- this will help in the future to facilitate code sharing e.g. as these types of plugins interact with the workflow (think document-centric tools)
- [x] Get rid of galley type selection, as this is actually more file format specific
- [x] ...more?...

[2016-05-21 08:58] asmecher commented on #1472
- [ ] Fix CounterPlugin call to isPdfGalley, isHTMLGalley (which may be removed)

[2016-05-23 09:23] asmecher opened #1474 "Cancel buttons in submission wizard do not work"
See: http://forum.pkp.sfu.ca/t/cancel-button-in-omps-submission-wizard/12943

[2016-05-23 09:35] #1474 closed

[2016-05-23 11:01] asmecher opened #1476 "Announcement notifications hard-coded to announcement ID #1"
See http://forum.pkp.sfu.ca/t/ocs-announcements-problems-and-the-mailing-list/12967/3

[2016-05-23 11:03] asmecher commented on #1476
Commits (needing testing):
https://github.com/asmecher/ocs/commit/94cc0094e8bfeb8745e7872b22e4a1a35c2121eb
https://github.com/asmecher/pkp-lib/commit/c4dc4fa2ebc8416f54cc44bd222a63936208b528

[2016-05-23 12:28] ctgraham commented on #1433
@ven, do you get this message after applying the changes from https://github.com/pkp/pkp-lib/pull/1182, https://github.com/pkp/ojs/pull/832, and https://github.com/pkp/pkp-lib/issues/1433?

[2016-05-23 14:11] vnen commented on #1433
@ctgraham well, #1433 is this issue itself. I applied #1182 too, but it gave me error in `array_key_exists` receiving wrong arguments besides the same error about SMTP.

[2016-05-23 14:46] NateWr commented on #1456
I've restored the file metadata info as requested in https://github.com/pkp/pkp-lib/pull/1458/files#r63414475.

![selection_065](https://cloud.githubusercontent.com/assets/2306629/15474318/44a129c8-20fc-11e6-8ece-29c668d0e5f3.png)

![selection_069](https://cloud.githubusercontent.com/assets/2306629/15474539/2a03da6a-20fd-11e6-859f-b1e5c3b48abf.png)

![selection_070](https://cloud.githubusercontent

[2016-05-23 18:25] ctgraham commented on #1433
@ven, sorry, that third link should have been this pull: https://github.com/pkp/ojs/pull/337

[2016-05-24 10:26] asmecher opened #1477 "Warning when editing announcements"
See http://forum.pkp.sfu.ca/t/omp-1-2-announcements-section-problem-cant-edit-announces/13024

[2016-05-24 10:28] #1477 closed

[2016-05-24 10:34] asmecher commented on #1476
Confirmed working; cherry-picked the above 2 commits over to `ocs-dev-2_3`.

[2016-05-24 10:34] #1476 closed

[2016-05-24 11:13] asmecher commented on #1456
I particularly like that last one, @NateWr. Agreed about editable naming with a sensible default.

[2016-05-24 11:32] asmecher opened #1478 "Permit Layout Editors (assistants) to access Publication Formats grid"
See http://forum.pkp.sfu.ca/t/omp-1-2-layout-editor-in-the-production-phase/12996 for details.

[2016-05-24 11:33] asmecher commented on #1478
This was already fixed with https://github.com/pkp/pkp-lib/commit/8c85273d53c622fa503c0c1679bb12247092c908 but needs back-porting to `omp-stable-1_2_0` and `omp-dev-1_2`.

[2016-05-24 11:35] asmecher commented on #1478
Back-ported to the other branches.

[2016-05-24 11:35] #1478 closed

[2016-05-24 11:46] asmecher commented on #1468
The `ThemePlugin` subclass should take care of mapping hooks etc. into a sensible API that hides the details from the theme implementer, but ideally without limiting the themer should they want more control over how the system behaves. So I'm ambivalent about changing the loading behavior, but if we do have examples of theme plugins that need to register hooks, I wonder whether that indicates that

[2016-05-24 13:05] asmecher commented on #1397
@NateWr, I've merged this into master for pkp-lib, OJS, and OMP after a little further tinkering with tests. I removed the enabled/disabled flag from the Masthead form -- it was only partially implemented there and that was causing problems. (Generally I favour not putting controls like this in multiple places, so I'm happy to leave it on the Admin's "edit" form.) IIRC this merge was holding you u

[2016-05-24 13:31] asmecher opened #1479 "Update setup help areas according to pkp/pkp-lib#1397"
@stranack, here's our first merge requiring help updates to OMP and OJS (master branches).

[2016-05-24 13:31] asmecher commented on #1479
(from pkp/pkp-lib#1397)

[2016-05-24 13:43] asmecher commented on #1443
(I've merged in the PRs for issue #1397.)

[2016-05-24 14:36] NateWr commented on #1397
:+1: I'll take a look thanks.

[2016-05-24 14:55] asmecher commented on #1450
@crism, did you get un-stumped? If I wanted to see this behavior in action, I'd check out your master branch with an OJS 3.0 master branch install, correct?

[2016-05-24 15:08] NateWr commented on #1456
New PRs:

https://github.com/pkp/pkp-lib/pull/1480
https://github.com/pkp/omp/pull/291
https://github.com/pkp/ojs/pull/845

This restores the read-only metadata, assigns a [generated name](https://github.com/pkp/pkp-lib/pull/1480/commits/c836efbdd2087536dfa04452d8504b2f452ad8fa#diff-52cfff01111662d4dbe1e94ee1a4fc25R525) when [a file is created](https://github.com/pkp/pkp-lib/pull/1480/commits/c836

[2016-05-24 15:22] #1406 closed

[2016-05-24 15:53] NateWr commented on #1443
PRs:
https://github.com/pkp/pkp-lib/pull/1481
https://github.com/pkp/omp/pull/292
https://github.com/pkp/ojs/pull/846

Done:
- Auto-registers users to Reader/Author role types when registering within context.
- Improves reviewer opt-in and interests selection.
- When registering out of context, provides a list of journals with roles. Pretty heavy-handed but a lower-priority registration area.
- Re

[2016-05-24 17:27] crism commented on #1450
I was working on other stuff for the past few days… the ORCID authentication now works, but I need to fix the return URL. If you want to take a look, see the `feature/ojs3` branch.

[2016-05-24 17:54] asmecher commented on #1456
There are a few JS tweaks required before this one will pass testing.

[2016-05-24 20:49] mfelczak commented on #1202
Also fixes bug where the submission and fast track fees should only be displayed during initial submission/review and the publication fee should only be displayed post-review once the article has been accepted.

[2016-05-24 20:53] mfelczak commented on #1202
Updated issue description and commit message.

[2016-05-24 21:00] misilot opened #1482 "Error loading index.php when trying to install first time"
Hello,

I get the following errors when trying to install the 2.4.7-1 for the first time.

[code]

I am using:
PHP 7.0.6 (cli) (built: Apr 29 2016 11:46:41) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
On centos 7.

Thank you,

Tom

[2016-05-25 06:55] asmecher commented on #1482
@misilot, PHP 7 introduces a `String` class, and OJS already has its own, so the two conflict. For the moment, I would suggest using PHP 5.x. See https://github.com/pkp/pkp-lib/issues/1118 for details.

[2016-05-25 06:55] #1482 closed

[2016-05-25 08:02] asmecher commented on #1202
I guess this cuts off a potential revenue source -- but agreed :)

[2016-05-25 08:02] #1202 closed

[2016-05-25 09:20] NateWr opened #1483 "[UI] Backend style update"
While implementing the context-sensitive help, there was an intention to do some [broad style adjustments](https://github.com/pkp/pkp-lib/issues/1032#issuecomment-196988788) for the backend.

In addition, since the initial revamp, I've become better acquainted with the platform and want to make a few more adjustments around button styles, font sizes, etc, to improve readability and give it a sligh

[2016-05-25 10:00] NateWr opened #1484 "[OJS] Missing help text"
Filing this before it gets forgotten and accidentally shipped. :)

This modal should probably get detailed help text in the OJS in-content help panel rather than a detailed description at the top.

[2016-05-25 11:03] misilot commented on #1482
@asmecher Thanks, I will try PHP5.6, do you know when OJS3.0 might be released? Since, #1118 talks about that version. The only reason I ask, is active support ends 31 Dec 2016 for PHP5.6, which is the end of the year, and would like to not be playing the replace PHP version game if it all possible.

Thank you!

[2016-05-25 11:10] bozana commented on #1074
Hi @mfelczak, the bug is still there in ojs-stable-2_4_8 and ojs-dev-2_4. You can reproduce it like this:
You will need at least two issues, lets say issue with ID=1 and issue with ID=2.
Go to setup 4.3 and select the option "Custom identifiers will be used to identify issues.".
Then give the issue with ID=1 the custom public identifier "02-1", and the issue with ID=2 the custom identifier "01-2".

[2016-05-25 14:12] asmecher commented on #1482
@misilot, we'll be releasing OJS 3.0 this summer, and will release a version of OJS 2.4.x that supports PHP7 this year as well. I wasn't aware that PHP7 usage was at an appreciable level in the wild yet.

[2016-05-25 16:02] NateWr opened #1485 "[UI] Assign submissions to issues from issue table of contents"
Users should be able to assign a submission to an issue from the issue management table of contents.

![selection_090](https://cloud.githubusercontent.com/assets/2306629/15547127/6411f5e0-229a-11e6-9462-09a7e25d3a64.png)

[2016-05-25 21:35] mfelczak commented on #1074
Thanks for the confirmation, @bozana -- I was able to reproduce it.

This is similar to a previous [bug report](https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8853) dealing with retrieving published articles via public IDs. I'll extend that fix to the following:
- issues
- issue galleys
- article galleys
- supplementary files

Can you please confirm that the following commit fixes the issue for you?

[2016-05-26 06:46] alonsoj opened #1486 "[OJS] Journals page design layout with ul"
Hello:

I think it would be desiderable to design layout of journals page with ul list, or at least adding a div with a class to every div to facilitate css design. And a mosaic view of the journals it would be great. For OJS 2.x and 3.

Maybe related to issue #1390

Greetings

[2016-05-26 07:55] asmecher commented on #1486
Hi @alonsoj -- could you post this on our forum at http://forum.pkp.sfu.ca/ rather than this issue tracker? Here we tend to work on specific development tasks, and the forum is better for broad discussion.

[2016-05-26 07:55] #1486 closed

[2016-05-26 08:26] beghelli opened #1487 "Timed view reports wrong numbers when metrics data refers to non existing galley"

[2016-05-26 08:34] asmecher commented on #1485
Agreed -- though oddly enough nobody has ever asked for this in OJS 2.x, which also has article-centric scheduling into issues. IMO this is a secondary priority for OJS 3.0, though I'll leave it scheduled there for now.

[2016-05-26 08:53] beghelli commented on #1487
I forgot to add the pkp/pkp-lib at the commit message. The commit that fixes this issue is here: https://github.com/pkp/ojs/commit/941b74db4867aeeb9d42fca2eec7a63f6ac3b319

[2016-05-26 08:55] #1487 closed

[2016-05-26 11:05] NateWr opened #1488 "[UI] Author and Reviewer dashboards/workflows need review"
There may or may not be issues with them, but the ones in OJS haven't had a look to see if there are any styling/language errata that need to be worked out.
## Overall dashboard
- [x] Editorial History > Notes: text under the buttons in modal.
- [x] Read and unread tasks are both shown as bold.
- [x] Article metadata > Contributors > Add contributor: required fields notice appears below buttons
##

[2016-05-26 11:42] NateWr commented on #1483
PRs (mostly everything is in pkp-lib):
https://github.com/pkp/pkp-lib/pull/1489
https://github.com/pkp/omp/pull/293
https://github.com/pkp/ojs/pull/848

This was almost entirely style changes, but there were a few minor markup changes, so we'll see how the tests do.

This represents a pretty big change all-around. I took quite a few liberties here so if there's anything that anyone considers a reg

[2016-05-26 11:59] asmecher commented on #1483
Thanks, Nate -- merging as the tests pass, and looking forward to exploring some of the changes once I pull down locally. (Insert joke about the blindness of server-side developers.)

[2016-05-26 13:23] NateWr commented on #1483
Sorry one more little PR: https://github.com/pkp/pkp-lib/pull/1490

[2016-05-26 13:24] asmecher commented on #1483
(Merged the little PR above; working on the OMP test failure)

[2016-05-26 13:26] NateWr commented on #1484
PR: https://github.com/pkp/ojs/pull/849

(It was the submission metadata modal.)

[2016-05-26 13:29] asmecher commented on #1484
Merged. Ready for closing?

[2016-05-26 13:40] NateWr commented on #1456
Ok fixed those errors and tests are running on the PRs now.

[2016-05-26 13:41] #1484 closed

[2016-05-26 14:04] NateWr commented on #1443
Ok I've fixed the tests that were failing. They were looking for an Author role checkbox to click which no longer exists (it's a hidden field).

However, in OMP some where looking for Volume Editor. Is this an author-type role? Maybe just double-check I haven't caused problems by fixing the tests. https://github.com/pkp/omp/pull/292/commits/e78813168f1443724a6d3578c226058e4951ae0b

[2016-05-26 14:22] #1483 closed

[2016-05-26 14:57] NateWr commented on #1399
I went ahead and implemented a language bar. We can talk about improving extensibility of the UI after 3.0 I think.

PRs
https://github.com/pkp/pkp-lib/pull/1491
https://github.com/pkp/ojs/pull/850
https://github.com/pkp/omp/pull/294

[2016-05-26 15:00] asmecher commented on #1399
All merged -- just trying to keep ahead of all the PRs!

[2016-05-26 15:00] #1399 closed

[2016-05-26 15:13] asmecher commented on #1443
There are several author user groups in OMP by default: authors, volume editors, chapter authors, and translators. In the test data, a couple of these are represented.

I suspect that element of testing isn't working, because that role isn't currently allowed for user self-registration.

If there are ambiguous author user groups available for self-registration, a user who starts a submission but d

[2016-05-26 15:19] NateWr commented on #1443
Hmm, this is at the point of registration, not submission. So I don't think there's any use in offering role selection for Volume Editor at this stage.

Would you rather me re-work this PR to implement what we discussed about role assignment during submission, so that there's no role opt-in during registration (except Reviewers)? I was planning on doing it after this was merged but I can take anot

[2016-05-26 15:22] asmecher commented on #1443
What I'm suggesting is keeping the role selection in the tests, but moving it from the point of registration to the point of submission.

[2016-05-26 15:22] NateWr commented on #1443
Although having said that, I was plannign on doing that as part of a larger revamp of the submission process, so could drag things out quite a bit...

I suppose the immediate problem is: the tests expect to a user to register as a Volume Editor, but in actuality every user is being auto-registered as Author and Volume Editor (I believe). Will that cause problems for the tests or is it good enough

[2016-05-26 15:24] NateWr commented on #1443
Ok I see now there's a role selection under Contributors during submission. I can work on adjusting the tests for that next week.

[2016-05-26 16:02] dtwardy commented on #1433
Hi!

One of our clients stumbled upon a similar issue regarding specific servers (namely freenet.de) rejecting mails sent via OJS. Due to the fact that "ReplyTo:" is at times set to "null" some mails are being rejected. After inspecting the code I've encountered an error in function "setReplyTo" in "Mail.inc.php": there's a "return" missing after that if-clause.

When testing with a permanent addr

[2016-05-26 16:10] jnugent commented on #1433
Hi @dtwardy

Thanks for the note.  We've actually committed fixes to the OJS and PKP-lib code bases that address the null replyTo address.  They aren't part of the this issue and mentioned pull requests, but they are there.  This issue is meant to address the fact that the SPF fixes currently in place alter the From: header for all mail and make them all appear as though they are coming from the j

[2016-05-26 16:30] vnen commented on #1433
Well, I forgot to reply to this, sorry.

@ctgraham I applied those patches and it seems to be working fine now. Though I also moved to Gmail as SMTP server. It seems to reject the bulk mail sent when trying to notify readers that a new issue was published, but that's another problem. The submission acknowledgement is being sent fine now.

[2016-05-26 17:47] dtwardy commented on #1433
Sorry, my bad. Looking for those patches then.

[2016-05-27 12:56] asmecher opened #1492 "Review form element options can't be added"
See http://forum.pkp.sfu.ca/t/omp-1-2-cant-add-item-types-in-review-form/13136

Clicking "Add Item" does nothing.

[2016-05-27 13:12] asmecher opened #1493 "Mailing list warning and potential message duplication"
See: http://forum.pkp.sfu.ca/t/fails-users-notification-in-the-mailing-list/4972/3

[2016-05-27 15:12] asmecher commented on #1493
Confirmed and committed to `ojs-stable-2_4_8` and `ojs-dev-2_4`.

[2016-05-27 15:12] #1493 closed

[2016-05-27 17:38] jmacgreg opened #1494 "[PKP PLN] Add issue-level information to deposit package"
It is important to preserve a historical record of issue-level information that changes over time. We should capture the following kinds of elements in each deposit package:
- Editorial masthead info (under OJS 2.x this would be editorial groups, and the names/emails/affiliations assigned to each group)
- Publisher info (setup step 1.5)
- Sponsoring organizations (1.6)
- Sources of support (1.7)
-

[2016-05-27 17:39] jmacgreg commented on #1494
Adding a few participants: @mjordan, @ubermichael.

[2016-05-27 18:25] ubermichael commented on #1494
None of that seems particularly challenging. It's  matter of exporting the data from OJS and including it in each deposit Bag. For me, the biggest challenge is figuring out how to get at the data in OJS, but that's just because I'm not too familiar with the internals.

[2016-05-27 21:55] sondh opened #1495 "[OJS] OJS 3.0 Undefined method getFileSize()"
We have a fairly vanilla version of OJS 3.0 we are playing with, see image for setup.

![screen shot 2016-05-27 at 11 26 05 am](https://cloud.githubusercontent.com/assets/2636627/15621842/8899fa00-23ff-11e6-83ae-02ee2bab6e7c.png)

Trying to load a simple HTML file into a gallery and view the page resulted in the following error

`Fatal error: Call to undefined method ArticleGalley::getFileSize() i

[2016-05-27 22:27] mjordan opened #1496 "[PKP PLN] "Primary contact" used in preamble to terms of use"
The preamble to the terms of use says "As Primary Contact, I, in good faith" but if I am not mistaken, accepting the terms of use is only available to the Journal Manager role, and that the journal manger may not be the same person as the primary contact. I think it's more accurate to say "As journal manager, I, in good faith....".

Tagging @jmacgreg for clarification on this distinction, creditin

[2016-05-28 08:27] asmecher commented on #1495
@sondh, I'm working on some fairly big changes to this aspect of the code over at https://github.com/pkp/pkp-lib/issues/1472 -- I hope to get it merged into the master branch in the next week or so. I'd suggest watching for notifications on that issue, and when it's merged, let me know if it's working better for your requirements.

[2016-05-28 08:27] #1495 closed

[2016-05-29 13:14] bozana opened #1498 "Improve Crossref statuses"
There are some things to be improved in the Crossref plugin for OJS.2.4.x:
- [x] 1) Let the scheduled task always update statuses of unregistered DOIs -- to have all the current statuses. -- At the moment this is done only if 'automatic deposit' is configured. I would like to separate status update from automatic deposit i.e. always update statuses (if there are Crossref username + password), and

[2016-05-29 19:13] bozana commented on #1074
Thanks @mfelczak, this fixes the issue :-) I've also tested it for the other objects. There is just one minor thing to eventually consider: Now, if the public identifier is a number, the error message says "The public identifier X already exists for another object...", which could be true, but I am not sure if it is clear to the users, so maybe to display the error message, that the identifier can

[2016-05-30 08:51] NateWr commented on #1456
It looks like the tests error'd out and now there are merge conflicts. Do you want me to re-stage these PRs, @asmecher?

[2016-05-30 09:35] NateWr commented on #1443
@asmecher Ok, I've tried to update the tests to select the submitter's role during the submission process. However, since I don't have the tests running locally, and I'm not very familiar with the testing platform, I'm not really sure if my selectors are correct:

https://github.com/pkp/omp/pull/292/commits/d4982620fdeffd4967133bf94a90c45488f24476#diff-d4cb414fc50b015543ba2f6ed21ab808R90

I'll kee

[2016-05-30 12:11] NateWr commented on #1425
Superseded by #1468

[2016-05-30 12:11] #1425 closed

[2016-05-30 14:19] mfelczak commented on #1074
Thanks @bozana, much appreciated.

Agreed that the error message isn't ideal. I didn't want to introduce a new locale key since it'd require a round of translations.

@asmecher, https://github.com/pkp/ojs/pull/855 should be ready to go.

[2016-05-30 22:12] NateWr commented on #1468
It may be possible to use LESS variables for `{$baseUrl}` by passing it in at compile time like this:

[code]

[2016-05-31 08:23] bozana commented on #824
Hi @jmacgreg and @ctgraham, the same question appeared in the forum: http://forum.pkp.sfu.ca/t/ojs-crossref-plugin-doi-to-issues-only/13291, so maybe to decide how shall we proceed with this issue for OJS 2.4.x?
I believe the minimum invasive thing to do would be to leave "Export issues" page mostly as it is and just behave accordingly:
- if only issue object (and no article object) is selected in

[2016-05-31 08:39] henkela opened #1499 "[OJS] bug in admin roles?"
I'm not sure about this.
My system currently only contains the admin and one other user. I submitted an article as the user. Then - as admin - I wanted to use assign the submission but although admin has been assigned to be Journal editor I can't add admin as journal editor in add paricipant dialog. For testing, I added jouenal manager as role for admin. This can be used in the add participants di

[2016-05-31 11:56] jmacgreg commented on #824
Hi @bozana, that sounds good to me.We should probably run the XML output by Crossref though, just to make sure it looks appropriate to them.

[2016-05-31 12:32] asmecher commented on #1074
(Oops, https://github.com/pkp/ojs/pull/855#issuecomment-222674333 should have been posted here)

[2016-05-31 12:54] asmecher commented on #1456
@NateWr, the OMP tests worked fine -- I've cherry-picked all that -- and either the OJS commit was an occasional timeout or it might be related to the scrolling problem @beghelli was looking at independently. Let's see how far the tests get; it's all in master now.

[2016-05-31 12:54] #1456 closed

[2016-05-31 13:02] asmecher commented on #1499
@henkela, if I understand your situation correctly, it's currently by design -- the admin doesn't get implicit manager/editor access -- but that's likely going to lead to problems like yours, where admins are expected to get that access. See https://github.com/pkp/pkp-lib/issues/440 for some discussion and a proposed solution. Did I understand the issue correctly?

[2016-05-31 13:11] bozana commented on #1074
Oh, good point @asmecher! -- it didn't cross my mind :-O

[2016-05-31 13:17] asmecher commented on #1439
Hmm, could you include a screenshot of where you see Elements? I'm looking in the wrong place.

[2016-05-31 13:18] lilients opened #1500 "[OMP] hide physical dimensions when empty"
Hi,

a physical publicationformat is displayed with "Physical Dimensions" at the book page although there is no information added.
![bug_physical-dimensions](https://cloud.githubusercontent.com/assets/7815226/15675578/ea5da674-2742-11e6-9e3e-d86d70cbb551.PNG)

I changed the line 390 in /templates/frontend/objects/monograph_full.tpl from
`{if $publicationFormat->getPhysicalFormat()}`
to:
`{if $publ

[2016-05-31 13:39] asmecher commented on #1500
Thanks for reporting, @lilients -- throwing over to you, @NateWr, for a quick bit of fun.

[2016-05-31 13:42] asmecher commented on #1443
OJS seems happy but there's a typo in OMP: https://travis-ci.org/pkp/omp/jobs/133875725

    Parse error: syntax error, unexpected ';' in /home/travis/build/pkp/omp/tests/ContentBaseTestCase.inc.php on line 94

[2016-05-31 13:46] henkela commented on #1499
Thanks for the quick reply!
Well, sort of yes. ;-)
In the roles tab I see that admin has the role jornal editor and expected that this is the role for assigning submissions to review, hence give admin the rights to do so. But only if I assign journal manager as a role to the admin the account is able to do so.

By the way, if I assign external user and author to the same user that user can be assi

[2016-05-31 14:11] NateWr commented on #1500
Looks like a good solution @lilients. Are you able to submit a PR?

[2016-05-31 14:12] asmecher commented on #1499
Hmm, I'm having trouble replicating this, though I'm not sure I'm following the same pattern. Would it be possible for you to send me a database dump (neutering it as necessary) and steps to reproduce?

[2016-05-31 14:18] asmecher commented on #1410
Incidentally, this is one of the cases in OMP where we added a banner-style notification to guide the user towards the next step after hitting a dead-end.

Tagging @bozana, because this has implications for her work on e.g. DOIs. Scheduling is one point at which DOIs could get stamped, so there may be a need for a modal that pops up with an opportunity for modals to augment the built-in fields.

[2016-05-31 14:33] lilients commented on #1500
here it is: https://github.com/pkp/omp/pull/295

[2016-05-31 14:44] stranack commented on #1439
It is used on all of the grids - Submission Files, Review Files, Draft Files, etc. See:
http://journals.sfu.ca/uiux/index.php/publicknowledge/workflow/index/1/3

Screenshot:
https://dl.dropboxusercontent.com/u/9529729/element-label-in-grids.png

[2016-05-31 16:51] NateWr commented on #1468
Ok I wasn't able to get this finished up before I go. Notes for later:

- Parent-child relationships work for styles and templates but not yet for scripts.
- Need to test the global site index. Not sure if styles/scripts will load properly there.
- @asmecher Am I right in thinking these two methods in the default theme are only for the default theme. They shouldn't be replicated in other themes, a

[2016-05-31 17:35] henkela commented on #1499
These are the steps that I did to observe both the admin not being able to put a submission to review and an author being his own reviewer.
I installed a fresh OJS with admin and english and german language.
Then I added a dummy journal.
After that I added an user assigned with external reviewer and author.
I logged in as this user.
I submitted an article as this user.
I logged of as this user.
No

[2016-05-31 17:41] henkela opened #1501 "[OJS] Systematic in locales"
Hi there,
is there any systematic in the locales? I mean what to put in ojs/lib/pkp/locale and what in ojs/locale? When I added some german translations it appeared to me slightly arbitrary, i.e. submission.xml exists in locale/en_US but in lib/pkp/locale/de_DE
Also there where some keys in the xml's for german that seemed to me unused - at least in OJS. Is there some docu about this?
Best,
Andrea

[2016-06-01 05:18] henkela commented on #1501
Sorry. Forget about it, I just found the developers wiki

[2016-06-01 05:18] #1501 closed

[2016-06-01 07:40] bozana opened #1502 "article report considers only UI and primary locale"
... but an article metadata can be in another locale, not necessarily in the  primary locale, but in the article locale, as far as I know it... so in that case, if not found in UI and primary locale, the article will not be listed (OJS 3.0)...

[2016-06-01 07:44] asmecher opened #1503 "Introduce REST API"
Introduce a REST API for OJS 3.0/OMP 1.2+ (at the earliest).

[2016-06-01 07:44] asmecher commented on #1119
(See https://github.com/pkp/pkp-lib/issues/1503 for some early spec work on this)

[2016-06-01 08:01] asmecher commented on #1503
Some early experimentation over at https://github.com/asmecher/pkp-lib/commit/e54010a7b7718004685b9fb6ceeb986d5ba1d83f:

- Tried the Slim microframework on @mjordan's recommendation. Widely used, minimal duplication of implementations and reasonably small dependency list.
- Added an APIRouter class to map certain PKP-style requests into it:
 - PKP's `index.php` wrapper is still used for all reques

[2016-06-01 08:23] ndege opened #1504 "Running instance behind proxy with ssl"
... currently we run an OJS 3.0 instance behind a proxy with ssl. Getting in trouble with browser warnings if the OJS includes css and javascript not correctly with https but http. I'm not sure if I detect the correct position at  ./lib/pkp/classes/core/PKPRequest.inc.php -> getProtocol() for building the baseUrl with whom scripts will be included, but there seems no hint to assess for example HTT

[2016-06-01 09:04] henkela opened #1505 "[OJS] Language translation not working in 'Workflow Settings' and 'Submission'"
Hi,
me again :$
When I added the german translations I came cross fields that are not replaced when I change the language from english to german. Most of them were just missing but at least ##grid.genres.article## is not getting replaced although I added it to locale/de_DE/default.xml
If you could point me to the appropriate php-file I could have a look myself if something's missing there, too.
Be

[2016-06-01 09:34] asmecher commented on #1505
@mtub might be the best to answer these kinds of questions -- but if the English-language translation is working but the German is not, then perhaps the translation has been added to the wrong .xml file? Translation files are loaded selectively.

[2016-06-01 09:35] asmecher commented on #1504
Hi @ndege -- we did run into this a while back, particularly in CSS. See for example this issue:
https://github.com/pkp/pkp-lib/issues/1391

What URLs are showing up as mixed for you? Javascript, CSS, CDN usage, or something else (font assets)?

[2016-06-01 09:43] henkela commented on #1505
Hmm, I found the grid.genres.article in locale/en_US/default.xml that's why I added it to the according default.xml. I do find both values in the cache/fc-locale files, too. Just it isn't replaced when I load the page.

[2016-06-01 09:45] asmecher commented on #1468
Sounds good, @NateWr. Yes, you're correct -- `getContextSpecificPluginSettingsFile()`, `getInstallSitePluginSettingsFile()`, and `settings.xml` are only required to enable the plugin by default. You might find as you add a second theme plugin that there is some change in behavior required to make only the default plugin active during the installation process; if that's the case feel free to prod m

[2016-06-01 09:47] asmecher commented on #1505
Ah, defaults are handled a little differently. When you create a journal (or press in OMP) some settings are installed into the database -- see `registry/journalSettings.xml`. Then the user goes through setup and customizes those in the database. If the translation isn't present at the time the defaults are installed, the settings in the database will be untranslated. Does that make sense?

[2016-06-01 10:01] henkela commented on #1505
I understand that.
Are there any means to push changes on the defaults to the database? Like, for example, let's say there is an update of OJS that introduces a new defaults-field, how would the database get updated?

[2016-06-01 10:38] asmecher commented on #1505
@henkela, generally we avoid situations where we make assumptions about changes like that -- for example, introducing a default policy during an upgrade, when the journal might not at all agree with that policy. But there are some examples, e.g. introducing a new email template or making a correction to a typo in the database. These are implemented in the upgrade script, which is coordinated in `d

[2016-06-01 12:24] ctgraham commented on #1503
+1, watching.

[2016-06-01 13:35] mjordan commented on #1503
@asmecher about authen/z, would using Slim's middleware be an option? The example I pointed to uses it at https://github.com/mjordan/ocr_rest/blob/master/index.php#L23 to do basic IP whitelisting.

Not to complicate matters, but another PHP microframework that might be worth evaluating is [Silex](http://silex.sensiolabs.org/), which is a Symphony component.

[2016-06-01 14:23] asmecher commented on #1503
@mjordan, we have our own rulesets for authorization/authentication, and porting these over to another framework will be a colossal pain. I want to decrease the amount of homebrew infrastructure we maintain but would advocate for baby steps -- introducing something like slim that doesn't dupe a lot of it, but uses modern/standard approaches, is a step in the right direction.

I'll assess this as I

[2016-06-02 08:53] asmecher commented on #1439
I think @NateWr recently removed headers from certain grids, including all the files grids. On my (more current) checkout there are no column titles. Can you confirm, Nate?

[2016-06-02 10:54] ndege commented on #1504
Hi Alec, thanks for your answer! We solved this a bit quick and dirty at first to give the local server a self-signed certificate. So now it works but of course it isn't an elegant way.

Javascript and CSS files will be included by http protocol. I try various settings but with code inspecting I found no proper solution that ojs knows that the proxy speak https. For me it's a question which lies a

[2016-06-02 14:47] bozana commented on #1457
Hi @asmecher, I integrated the recommended changes from the code review, please see the PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/1459
ojs: https://github.com/pkp/ojs/pull/839
omp: coming...
THANKS A LOT!!!

[2016-06-02 20:26] ctgraham opened #1507 "RECAPTCHA breaks on SSL if SSL is optional"
In OJS 2.x, if a site is viewed over HTTPS, but config.inc.php's `force_ssl` is unset, RECAPTCHA is served over HTTP instead of HTTPS, and any sane browser will block the component, making validation impossible.

See:
https://github.com/pkp/ojs/blob/397061d442f66cd788f4b1d50b16be000e769a0c/classes/user/form/RegistrationForm.inc.php#L114-L115
and
https://github.com/pkp/ojs/blob/dbe779f2bd97e9a0f284

[2016-06-03 09:38] henkela opened #1508 "[OJS] Small bug with search button"
On a fresh install of OJS the search button is ill-placed. screenshot attached
![search-button-bug](https://cloud.githubusercontent.com/assets/8665047/15774992/a51264bc-297f-11e6-88ec-839742636f40.png)

[2016-06-03 10:02] henkela opened #1509 "Misleading german translation"
lib/pkp/locale/de_DE/grid.xml  grid.action.order is translated as "Bestellung", which would be the translation for 'to place an order' and not the translation of 'to sort'. The appropriate term would be "Reihenfolge". The "follow-up" grid.action.cancelOrdering "Bestellung abbrechen" should be something like "Sortiermodus beenden".
 "Sortiermodus aktivieren" is an appropriate (field grid.action.ord

[2016-06-03 10:04] henkela commented on #1508
PS: Once a journal is added the search button is in the right position. minor bug though

[2016-06-03 10:16] mtub opened #1510 "Errors in the German translation of OJS (master branch)"
Tracking errors spotted in the de_DE locale of OJS (master branch). Let's collect those here. Some of them might stem from an outdated locale - we will have to port locale files from OJS 2 and OMP 1.2.

If found in `pkp-lib`, we also have to pay attention to multiple applications using these locale files (e.g. avoid hard-coding words like "journal").

Please add errors in the comments…

- [x] chec

[2016-06-03 10:19] mtub commented on #1509
Hi @henkela, thanks for your review and suggestions!

I will have a look at all translation-related pull requests and issues. But I'd like to point out that we are in the middle of porting the OJS 2 and OMP 1.2 translations to the master branch of OJS (-> OJS 3) and that the files your are reviewing right now are partly outdated. In order to spare you some time it might be better to wait for the t

[2016-06-03 10:27] asmecher commented on #1508
@NateWr, probably a layout tweak.

[2016-06-03 10:34] asmecher commented on #1472
Pulls (work in progress):
- https://github.com/pkp/ojs/pull/858
- https://github.com/pkp/pkp-lib/pull/1511

[2016-06-03 11:08] henkela commented on #1509
Hi @mtub,
Allright I'll add the things I find to #1510. But for now, I'll add missing translations on my fork since I'm soon going productive with it.

[2016-06-03 11:15] mtub commented on #1509
Ok, thanks! You can also look at #1510 updates and references to monitor updates to this locale. When looking for a translation of a specific key in the master branch, it might be worth looking at the ojs-dev-2_4 branch. Often it is already translated in that branch.

[2016-06-03 11:44] henkela commented on #1509
Thanks for the hint... I'll have a look at ojs-dev-2_4

[2016-06-03 13:06] henkela commented on #1508
@NateWr, @asmecher
not sure about it but min-height: 40px; for .pkp_navigation_primary should resolve this issue

[2016-06-03 15:32] asmecher commented on #1472
Remaining work:
- [ ] Fix missing Validation::isAuthor: https://github.com/pkp/ojs/commit/07f2eb1ad6d7d67597d0459b3d13a502397bd5b0#commitcomment-17663480
- [ ] Fix HTML galley plugin (including CSS and image uploads)

[2016-06-06 09:19] henkela opened #1513 "[OJS] Workflow Settings -> Submission Preparation Checklist multilingual broken"
Hi @asmecher,
I came cross another strange behavior. In Workflow settings I switched to german, which worked - so far so good :-). Then I wanted to edit an item of Submission Preparation Checklist. First obesrvation: the edit-context that opens is empty, hence it doesn't contain the existing text. Then I copied the existing text from the the checklist opened the edit-context again and pasted and e

[2016-06-06 11:31] henkela commented on #1510
Some more missing translations
Aussehen/Appearence:
- [ ] check manager.setup.journalThumbnail.description

mangaer.website.archiving/Archiving:
- [ ] check manager.website.archiving
- [ ] check manager.setup.enableArchive
- [ ] check manager.setup.lockssTitle
- [ ] check manager.setup.clockssTitle
- [ ] check manager.setup.clockssDescription

Sprachen/Languages:
- [ ] check Tooltip-String of "Upl

[2016-06-06 21:41] crism commented on #1450
OK, finally getting back to this. The fact that ORCID and names are on different tabs is troublesome. If I can get it filling in the ORCID correctly, that will be a start, though. Hidden fields, or read-only fields for name parts on the public tab, maybe?

[2016-06-07 13:37] ctgraham commented on #1311
Superseded by https://github.com/pkp/pkp-lib/issues/1433

[2016-06-07 13:37] #1311 closed

[2016-06-07 13:39] ctgraham commented on #1310
Superseded by https://github.com/pkp/pkp-lib/issues/1433

[2016-06-07 13:39] #1310 closed

[2016-06-08 07:12] henkela commented on #1513
PS: same thing happens when I use "Add Item" in the german context. The item appears in the english context only.

[2016-06-08 08:09] henkela commented on #1510
Some translations I missed in "Setup":
- [ ] manager.settings.journalDescription
- [ ] manager.settings.websiteDescription
- [ ] manager.settings.publicationDescription
- [ ] manager.settings.distributionDescription

[2016-06-08 19:23] crism commented on #1450
It’s working for profile updating. However, it looks weird; the CSS isn’t getting loaded, and I can’t figure out why not. The call to `PKPTemplateManager::addStyleSheet()` is firing, but it doesn’t seem to result in any change to the CSS delivered to the browser. What am I missing?

[2016-06-08 19:30] crism commented on #1450
Ah… it _is_ being set correctly; the OJS home page picks up on it. However, the templates for the dashboard don’t properly acknowledge the stylesheet variables!

[2016-06-08 19:33] crism commented on #1450
Nope, I take it back. The plugin stylesheets are being added in the wrong context! Sorted, I think.

[2016-06-09 05:40] WaDelma opened #1514 "[OJS] Re-mapping old ARTICLE_FILE_* constants to SUBMISSION_FILE_* ones is broken?"
In the [3.0.0_update.xml](https://github.com/pkp/ojs/blob/master/dbscripts/xml/upgrade/3.0.0_update.xml#L38) file there is line:
`<query>UPDATE submission_files SET file_stage = '8' WHERE file_stage = '3'</query>`
followed by:
`<query>UPDATE submission_files SET file_stage = '3' WHERE file_stage = '8'</query>`

If I am not missing anything, wouldn't this mean that all things with `file_state = '3'

[2016-06-09 08:17] WaDelma opened #1515 "[OJS] Allow users to remove their own accounts"
If an user wants to remove their account, they should be able to.

[2016-06-09 12:55] misilot opened #1516 "Change in Policy with OJS"
Hello,

I was wondering if with the new version of OJS if this FAQ answer would change?

https://pkp.sfu.ca/wiki/index.php/PKP_Frequently_Asked_Questions#How_do_I_add_another_Site_Administrator.3F, more specifically the part about  **you may want to consider sharing account information**. In this day of age password sharing shouldn't even be a thought anymore, as it removes all accountability for

[2016-06-09 12:59] misilot commented on #1482
@asmecher Thanks! It isn't so much that PHP7 isn't at an appreciable level in the wild, but there have been considerable improvements to the code for PHP7 and the end of support for PHP5.6 (the last version 5 release) is coming soon.

[2016-06-09 13:36] asmecher commented on #1516
The best way is to insert a second administrator role, which is also described in the FAQ answer.

[2016-06-09 13:37] asmecher commented on #1482
Thanks, @misilot. We'll definitely have PHP7-capable releases before then; I'm keeping an eye on PHP7 uptake.

[2016-06-09 13:37] misilot commented on #1516
I was more asking about the future releases, not how it is currently. Or is that how it is going to be, now allowing ease of transitioning site administrators in and our as they come and go?

[2016-06-09 14:08] asmecher commented on #1516
@misilot, this hasn't changed yet for the OJS 3.0 release. I'd be happy to consider contributions here but generally we don't receive a lot of feedback on how site administrators are handled (beyond the occasional request for a secondary account) so it's not a high priority for development yet.

[2016-06-09 16:09] mfelczak commented on #1482
@asmecher and @misilot, I was curious about this myself and dug up some concrete dates. Active development for PHP 5.6 will end Dec 31, 2016 but security updates will continue to be released until Dec 31, 2018.

[2016-06-09 17:11] ubermichael opened #1517 "[OJS] PLN Gateway always reports Archive_Tar missing"
The PLN Gateway doesn't include the Archive/Tar.php library before checking if the Archive_Tar class is available.

[2016-06-09 17:19] ubermichael commented on #1517
Looks like I already made a PR for this at https://github.com/pkp/ojs/pull/809 but didn't file the issue.

[2016-06-09 17:22] ubermichael commented on #1423
I think I'm a little out of the loop here. What's up with this issue & PR?

[2016-06-09 17:59] ctgraham commented on #1516
+1 from me.  Admin should be treated as any other role.

[2016-06-09 18:22] ctgraham commented on #1423
As of Tuesday of this week, I changed the way our crons run to potentially work around this issue.  Previously, the crons were run with absolute paths:
`/usr/local/bin/php /usr/local/journals/my.journal.name/htdocs/ojs/tools/runScheduledTasks.php /usr/local/journals/my.journal.name/htdocs/ojs/plugins/generic/pln/xml/scheduledTasks.xml`
This caused invalid base_urls to appear in the runs ("/usr/loc

[2016-06-09 22:37] asmecher commented on #1516
We'd need to work out a few small policy decisions -- are administrators allowed to administrate other administrators? Can they unenroll themselves? (I suspect the answer is "yes", even though they may shoot themselves in the foot/face).

[2016-06-09 22:38] asmecher commented on #1515
@WaDelma, we'd need to consider what should happen to e.g. published content they submitted, peer reviews they participated in, etc.; those are considered part of the editorial record and may need to be audited later.

[2016-06-10 12:49] ctgraham commented on #1516
My votes are "yes" and "yes".

[2016-06-10 13:30] jmacgreg commented on #1498
(I had no idea you could have checklists in Github!! That's amazing!!)

[2016-06-10 13:32] AhemNason commented on #1498
It's just markdown :)

Just throw in ```[ ]``` before an item and it'll create a checkbox. I hope to go over this stuff sooner than later, by the way. Unfortunately, it might have to happen either while I'm away or the following week.

[2016-06-10 15:03] NateWr commented on #1500
Thanks @lilients! I've merged that PR now (sorry for the delay, I was off on holiday).

[2016-06-10 15:03] #1500 closed

[2016-06-10 15:43] asmecher commented on #1397
@NateWr, @bozana pointed out that many of the plugins still refer to the `publisherInstitution` setting, which these PRs removed.

[2016-06-10 15:52] bozana commented on #1397
Aaaa... good to know where it is i.e. is not... :-) Thanks!

[2016-06-10 15:56] asmecher commented on #1472
Fixed!

[2016-06-10 16:00] NateWr commented on #1397
Where was the field, was it a TinyMCE field, what is it for, what content was meant to go in it, how are plugins using it?

[2016-06-10 16:03] bozana commented on #1472
@asmecher, I found one more thing I believe: You can add several files to a galley now, using the row action "upload file" and then it looks strange in the grid?
And we should figure out how to deal with other kind of files e.g. supp files. Would they be added as galleys?

[2016-06-10 16:03] asmecher commented on #1397
It was on the production stage settings form `templates/controllers/tab/settings/productionStage/form/productionStageForm.tpl`, which got removed entirely; it's going into various kinds of extracts:

- plugins/importexport/doaj/DOAJExportDom.inc.php
- plugins/importexport/doaj/DOAJPlugin.inc.php
- plugins/importexport/crossref/CrossRefExportDom.inc.php
- plugins/importexport/datacite/classes/DOIEx

[2016-06-10 16:06] NateWr commented on #1397
What is it? The name of the publisher? A description of the publisher?

[2016-06-10 16:22] NateWr commented on #1503
1. In terms of auth, what are we able to re-use when hitting the API from a third-party client (say, a different domain or from a mobile app)? We'll probably need an oauth implementation before we can support any POST/PATCH/PUT/DELETE requests, and oauth2 is far simpler than oauth1. I think it's worth requiring SSL (oauth2 requirement) since we can impose some up-front standards on this thing.

2.

[2016-06-10 16:34] NateWr commented on #1439
Confirmed! File grid headers didn't really say anything meaningful, I felt. Ok change?

[2016-06-10 16:51] NateWr commented on #1508
Thanks @hekela. This is because the site index doesn't include a primary navigation menu. I'd like to resolve this by maybe thinking about what a site index menu might contain, but if not I'll probably just adjust the height. That said, we probably need to test to see what the search actually searches in teh site index, rather than per-journal.

[2016-06-10 17:43] stranack commented on #1439
We did have one suggestion to make the grid columns sortable by clicking on the grid header, but if that isn't something we plan to do, then the change is find with me.

[2016-06-10 17:55] NateWr commented on #1439
I'd rather encourage use of the filters. Sorting/ordering presents other problem because we may not have all entries visible at one time in some grids, but not others.

[2016-06-10 22:10] asmecher commented on #1503
I'm not sure that will play well with URL rewriting.

[2016-06-11 10:41] NateWr commented on #1468
Initial PRs:

https://github.com/pkp/pkp-lib/pull/1519
https://github.com/pkp/ojs/pull/860

Themes now fire off an [init()](https://github.com/pkp/pkp-lib/pull/1519/files#diff-a8bc8a63802d1659d8ddc41a44c55b9fR64) method where they can run code only when the theme is active. Themes can [add stylesheets and scripts](https://github.com/pkp/ojs/pull/860/files#diff-6df5306de8589db221dce98a0815f09aR25)

[2016-06-11 12:01] NateWr commented on #1468
The readme for my [sample child theme](https://github.com/NateWr/default-child) repo now includes some better documentation which should probably get moved over to a more permanent place and incorporated in a blog post at some point.

[2016-06-11 12:29] NateWr opened #1520 "Move frontend footer template file into frontend templates directory"
`/common/frontend/footer.tpl` is still getting called all over the place.

[2016-06-12 15:22] jnugent commented on #1514
I had to think long about this one because this was over three years ago, and there was some juggling to make sure that the switches between file constants didn't collide with other ones during the process. In some cases, more than one old  constant merged into a new one.  This looks like a bug - I think I must have pasted in a few extra <query> elements from a copy and left one at the end.   In t

[2016-06-13 07:27] bozana commented on #1397
Yes, that was the name of the publisher, I think.

[2016-06-13 12:22] ndege commented on #1510
At the installer:

- [ ] installer.localeSettingsInstructions

[2016-06-13 15:28] ctgraham opened #1522 "TinyMCE missing on manager/editUser"
In OJS 2.4.x, the TinyMCE editor is not initialized for the Address and Bio field when a manager is editing a user.

See: http://forum.pkp.sfu.ca/t/creating-hyperlink-in-edit-boxes/13541

[2016-06-13 16:15] rlammey commented on #1498
These updates look great. Patricia from our support team had a quick question:

For #5 I am curious about the status ‘Deposited: the DOI has been deposited to Crossref, but may not be active yet.’ if a DOI is deposited it’s automatically ‘active’ (at least in the linking sense), maybe I’m missing something?

I was thinking its when you've deposited the XML but it hasn't been processed (sitting in

[2016-06-13 16:40] bozana commented on #1498
@rlammey, yes, you are right:
For #5: 'Deposited' means when deposited XML is successfully processed (and we get the status = "completed" from Crossref deposits API) but the DOI is still not 'live' -- we were told that "there is a delay between a deposit completing successfully and a DOI being 'ready'.".
And 'Submitted' is when the XML is uploaded/submitted but hasn't started to be processed yet.

[2016-06-13 19:36] vodou commented on #1118
PHP7 removes `mysql_connect()`, which means I'm getting this on an OJS installation I'm trying to migrate to Ubuntu 16.04 LTS (which installs PHP7 by default):

`Fatal error:  Uncaught Error: Call to undefined function mysql_connect() in /var/www/vhosts/SERVER/lib/pkp/lib/adodb/drivers/adodb-mysql.inc.php:456`

[2016-06-13 21:05] vodou commented on #1118
Never mind -- I fixed my "problem" by setting the DB driver in `config.inc.php` to `mysqli` instead of `mysql`.

[2016-06-14 13:57] asmecher commented on #1522
Is there a PR for this?

[2016-06-14 15:26] asmecher commented on #1514
Thanks for reporting, @WaDelma. Just FYI, we haven't done any testing of the upgrade process, so it's very likely you'll run into major problems running an OJS 2.x journal through the upgrade. I'll be working on this in the coming weeks.

[2016-06-14 15:26] #1514 closed

[2016-06-14 19:30] ctgraham commented on #1522
There is now!

[2016-06-14 21:27] asmecher commented on #1522
Committed and cherry-picked to `ojs-stable-2_4_8`. Thanks, @ctgraham!

[2016-06-14 21:27] #1522 closed

[2016-06-15 15:58] asmecher commented on #1507
@ctgraham, I've merged both PRs, thanks -- does this fully resolve the issue?

[2016-06-15 15:59] ctgraham commented on #1507
Yes, to my knowledge.

[2016-06-15 16:01] asmecher commented on #1507
Great -- thanks as always!

[2016-06-15 16:01] #1507 closed

[2016-06-15 21:19] asmecher commented on #1472
Thanks -- I fixed the multiple file listing problem in the grid. Supplementary files should be created as galleys for now but I think we'll probably have to figure out a way to promote content from previous stages. Let's talk about this on Monday.

[2016-06-15 21:43] asmecher commented on #1468
Have at 'er. I don't think this will have an adverse impact with the existing theme structure being so young.

The `Templates::Common::Footer::PageFooter` hook is used in a couple of plugins:

- plugins/generic/googleAnalytics/GoogleAnalyticsPlugin.inc.php
- plugins/generic/phpMyVisites/PhpMyVisitesPlugin.inc.php

The `{$additionalHeadData}` variable is used in...

- plugins/generic/exampleGeneric

[2016-06-15 22:12] asmecher commented on #1457
Thanks, @bozana! I merged the pkp-lib PR and cherry-picked the OJS one in (submodule hash conflict).

[2016-06-16 16:59] bozana commented on #1472
Hmmm... I think we should find another solution for the galley files: Now I can apparently 'replace' them and the last uploaded file will be always shown, but the others are still there. So they can be accessed (e.g. ...article/download/1/7/18-1) and they are considered for export. Maybe it will also be difficult to deal with the situation on some other places, if necessary? I cannot change/delete

[2016-06-16 18:00] crism commented on #1450
Huh… some recent change in OJS caused `Request::getJournal()` _and_ `Request::getContext()` to return `null`.

[2016-06-16 18:14] crism commented on #1450
Oh, nevermind… was trying to register site-wide (context 0)—that don’t work yet.

[2016-06-16 18:26] ctgraham commented on #1303
Because of the buggy behavior of the previous code, we might want to cherry-pick this to stable_2_4_8 for 2.4.8-1.

[2016-06-16 18:31] ronniebrito opened #1524 "OMP password reset"
cant reset password on OMP 1.2

need to add "Password: {$password}<br />" string into emailTemplates.xml file, on PASSWORD_RESET mail.
this also affects other locales

[2016-06-16 21:53] bozana commented on #1472
Maybe just a not here, for Monday, that the current way to find supplementary files is not clear/explicit: I could, for example, upload a Multimedia component as a supplementary file as well as a part of a submission (dependent file), so how to know if it is a supplementary file that should be published and exported (e.g. for Crossref)?

[2016-06-17 09:29] NateWr opened #1525 "Google Analytics plugin"
I presume the plugin will get a re-work in time for OJS 3. If so, it should probably use the new tracking code, which only requires a single property ID:

https://developers.google.com/analytics/devguides/collection/analyticsjs/#the_javascript_tracking_snippet

Also, one hook, `Templates::Common::Footer::PageFooter`, should output the code on all frontend pages.

[2016-06-17 09:58] NateWr commented on #1468
Ok I've had a look at the plugins and I do think the hook, `Templates::Common::Footer::PageFooter`, should remain for cases where dynamic script output needs to take place, rather than linking to `<script>` files.

`$additionalHeadData` is interesting, since it's from before the frontend/backend split. Here's what I found:

- plugins/generic/exampleGenericPlugin/ExampleGenericPlugin.inc.php - Coul

[2016-06-17 10:13] NateWr commented on #1443
Thanks @bozana!

[2016-06-17 10:13] #1443 closed

[2016-06-17 10:17] NateWr opened #1526 "Fix autocomplete for reviewers on frontend"
Autocomplete returns irrelevant results. This was fixed in #1467 but the registration form changes were already in the process of being merged. See #1467 for simple fix.

[2016-06-17 10:38] NateWr commented on #1314
A `302` response could be sending the wrong message since it's actually the permanent location of the galley.

[2016-06-17 10:46] NateWr commented on #609
Obsolete due to new upload control.

[2016-06-17 10:46] #609 closed

[2016-06-17 10:47] NateWr commented on #595
Closing this as I think we covered this in other issues. We now generate a title from the uploaded file, and we have a more straightforward single file upload control, and we cleaned up the metadata.

[2016-06-17 10:47] #595 closed

[2016-06-17 13:08] bozana opened #1527 "Public identifiers for OMP"
Migrate pub ids changes from OJS master to OMP master, s. https://github.com/pkp/pkp-lib/issues/1457

- [x] a) add "identifiers" tab to the metadata/edit modal of each publication object (monograph, publication format, file)
- [x] b) introduce "publisher-id" (custom URL identifier) field, add it to the new "identifiers" tab
- [x] c) consider "publisher-id" (custom URL identifier) in the reader int

[2016-06-19 15:14] NateWr opened #1528 "[OJS] Improve submission process"
This issue covers improvements to be made to the submission process. This includes improving how users discover and initiate an attempt to submit, the registration process, and the actual submission flow.

An initial comment: https://github.com/pkp/pkp-lib/issues/975#issuecomment-166318343

In addition, a review of the submission process threw up a number of smaller improvements that could be made

[2016-06-19 15:28] NateWr opened #1529 "[OJS] Improvements to discussions grid"
The following are a few improvements to the discussions grid identified during a review of the workflow. The easy ones should be done for OJS 3.0 and the others considered depending on our time and release schedule.
- [x] Discussions: smaller font size for participant names in existing discussion view.
- [x] ~~Discussions: Add Discussion button is causing scroll to jump to top.~~ could not reprodu

[2016-06-19 15:33] NateWr opened #1530 "[OJS] Discussion tasks could be more descriptive"
Currently the tasks created by a new/updated discussion are pretty vague.

It does mention the submission it's related to, but it'd be really great to provide more details, eg:

I'd be inclined to give them a good number of characters so that editors might have a good chance of knowing if they can skip a message they may have been CC'd in on. Or be able to quickly get back to a message they saw be

[2016-06-19 15:37] NateWr opened #1531 "[OJS] One-click feature to add reviews to email doesn't hide reviewer name"
All editorial actions on the Review stage include a link to automatically insert reviews into the email sent to the author. When clicked, these reviews include the reviewer's name, even if the review is marked as a blind review.

I believe the reviewer's name should not be included.

This effects the modals for Request Revisions, Resubmit for Review, Send to Copyediting, and Decline Submission.

[2016-06-19 15:42] NateWr opened #1532 "[OJS] Can't submit review modal without uploading a file"
When viewing a review from the Reviewers grid, the form in the review modal expects a file to be uploaded. But it's also possible that an Editor may set the review recommendation without any file to upload.

The form in this modal should submit even if no files are uploaded.

[2016-06-20 11:49] bozana commented on #1532
Just a note, if I remember it well: when saving this form, the review is considered as completed. Till now there had to be either reviewer comments or files for a review to be completed, thus I don't know what effect it could have elsewhere in the system if there are not there...

[2016-06-20 12:39] ojsbsb commented on #357
We have just checked this in a fresh install of OJS 2.4.8: The problem is still present. And as @mtub said, cancelled reviewers should not be able to access unpublished articles they are not involved with. In fact, editors will think that by cancelling the review, they take away the access right as well - especcially as there is no other function to do so.

@asmecher, would it be of interest if we

[2016-06-20 13:10] NateWr commented on #1532
Maybe when I tested I didn't have a review comment either. I'll test again to check but yeah, one or the other should be required probably.

[2016-06-20 16:15] ubermichael opened #1533 "[OJS] PLN Plugin SQL and Non-Aggregated Columns"
Postgres is more picky about non-aggregated columns mixed with DISTINCT and GROUP BY. There's one query in DepositObjectDAO that doesn't aggregate all the columns, and it's causing deposits from Postgres-backed journals to fail.

This issue is similar to pkp/pkp-lib#1038 but specific to Postgres.

[2016-06-20 16:22] ubermichael opened #1534 "[OJS] PLN Plugin Missing Deposit Type Prevents Deposits"
In at least one journal, the plugin_settings table is missing a setting for the PLN plugin: object_type which defaults to 'Issue.' Without that setting, _processNewDepositObjects($journal) falls through the switch cases doing nothing. No packages are created and no packages are sent to the PLN.

[2016-06-20 16:24] ubermichael commented on #1534
@asmecher What's the PKP policy for switch statements without a default? Seems like this should have logged something or created a notification or something.

See this example:  https://github.com/pkp/ojs/blob/ojs-dev-2_4/plugins/generic/pln/classes/tasks/Depositor.inc.php#L221

The switch does nothing when $objectType is null.

[2016-06-20 16:25] asmecher commented on #357
Yes, @ojsbsb, please go ahead. I agree with the solution you've proposed, we just haven't had a chance to implement something yet.

[2016-06-20 16:29] asmecher commented on #1534
@ubermichael, I generally prefer to have sensible defaults if possible:

    case 'notDefaultCase':
        doSomething();
        break;
    case 'namedDefaultCase':
    default:
        doSomethingElse();
        break;

If there's no sensible default, then generally we've been using asserts:

    default: assert(false);

Not sure if the assertion would've helped in your case.

[2016-06-20 16:39] asmecher commented on #1528
This is probably just tradition. I don't suspect there's much utility in it.

Contributors do not get accounts automatically -- they'll have to register separately. Author records are maintained separately from user accounts, so ORCiDs will eventually be supported as a linking aid. Currently for other authors to be granted access they'll need to have a user account assigned through the participant

[2016-06-20 16:41] ubermichael commented on #1534
Thanks Alec. I don't think the assert would have helped here either.

[2016-06-20 20:04] asmecher commented on #1534
@ubermichael, I've merged the PR, but note that OJS 2.4.8-1 will be released from the `ojs-stable-2_4_8` branch, not the `ojs-dev-2_4` branch the PR was merged into. I can cherry-pick this over to `ojs-stable-2_4_8`, but are there any others I should pick in as well?

[2016-06-20 20:58] ubermichael commented on #1534
@asmecher Yes, please cherry-pick this one and https://github.com/pkp/ojs/pull/867

I didn't even thing to do the PRs against the stable branch. Sorry about that.

[2016-06-20 22:19] crism commented on #1450
OK! Need to make it work for author info and for site-wide registration/profile… but progress.

[2016-06-20 22:33] asmecher commented on #1450
Sorry I haven't been watching this more closely! I've been traveling -- but I'm finished now.

[2016-06-21 05:34] salmoomen commented on #438
Dear Sir
Is it possible to send a copy to me on
salmoomen@yahoo.com
I really appreciate that
Regards
Saad

[2016-06-21 07:44] NateWr commented on #1532
On second though, it seems like the Recommendation should be the one condition for marking a review completed.

![selection_021](https://cloud.githubusercontent.com/assets/2306629/16221697/18b27f1e-378c-11e6-89be-dc588eb5e90d.png)

That's the only bit of the process that is really necessary for editorial interaction, and it means an editor still has to signal some kind of intent before we mark the

[2016-06-21 08:03] NateWr commented on #1468
Ok I've updated the PRs with the comments from your code review. I just need a bit of direction on this comment (https://github.com/pkp/pkp-lib/issues/1468#issuecomment-226730236) and then I think we'll be good to go.

[2016-06-21 08:11] NateWr commented on #1528
Thanks @asmecher!

[2016-06-21 08:54] NateWr commented on #1396
I found the issue. I needed to set the `connection_charset` and `database_charset` in the `config.inc.php` file. Once these were set to their appropriate `utf8` and `utf-8` settings, the Masthead loads and a number of other opaque errors I've been dealing with also appear to have gone.

[2016-06-21 08:54] #1396 closed

[2016-06-21 09:54] NateWr commented on #1472
https://github.com/pkp/pkp-lib/pull/1535

This PR addresses a few clarity issues around the file upload for galleys in OJS.

- Change "Upload File" to "Change File" to reflect the one-file-per-grid relationship.
- Remove the "Add Another File" button from the file upload wizard's confirmation tab for files in the `SUBMISSION_FILE_PRODUCTION_READY` stage.

I'm not sure what implications this has fo