[2016-11-01 15:27] NateWr commented on #1780
@jmacgreg can you describe a bit more what you're expecting to see but not seeing? I've just tested quickly and I see the announcements displayed properly. The **Short Description** is meant to be a summary for presentation in announcements lists. The **Description** should be the full text of the announcement which only appears on the single announcement's page.

Are you seeing something differen

[2016-11-01 16:08] bozana opened #1937 "Resequence the category items"
The first article in the TOC cannot be changed, s. http://forum.pkp.sfu.ca/t/ojs-3-cannot-order-articles/23629/

`$categoryData->rowsId` in the function `_saveRowsInCategoriesSequence` in `lib/pkp/classes/controllers/grid/feature/OrderCategoryGridItemsFeature.inc.php` contains also the parent category ID (e.g. section ID), that can be the same as the category item ID (e.g. article ID), e.g.:
[code

[2016-11-01 16:44] bozana commented on #1937
PR:
master: https://github.com/pkp/pkp-lib/pull/1938

[2016-11-01 16:47] bozana commented on #1937
@NateWr, I don't know how your time is to code review this PR? Else, I'll ask @asmecher...

[2016-11-01 17:52] ctgraham commented on #1905
There is also a flaw in the logic of:
[code]
The [`switch` statement uses loose comparisons](http://php.net/manual/en/control-structures.switch.php), so `case false` will eat `case 0`.

[2016-11-01 19:14] pkel commented on #1924
We did some analysis on the above output and our current ojs2 filesystem. In 1704 cases our filenames did not match the ojs2 naming scheme - the revision number in the database was different from the one in file_name field and the actual filename. This was due bad migration from our old journal system and **is no problem of ojs**.

Running the upgrade again with the above mismatches fixed, type on

[2016-11-01 21:39] mfelczak opened #1939 "[OJS] Enable minified JS by default in OJS 2.4.x"
PKPTemplateManager.inc.php:113 includes a flag for using minified JS based on a config setting ("enable_minified"). However, that setting is not included in config.TEMPLATE.inc.php -- it should be added and enabled by default.

[2016-11-02 01:19] vormia commented on #1906
@NateWr,
Arabic reader got used to variegations in the layout since journals spread through main cities in late ninteenth century. This came as a tradition inherited from the layout design of ancient books written in middle ages. They used to put the main content of the book in the center space near the paper fold, while writing another related content (maybe another book) in all margins. As you c

[2016-11-02 09:21] NateWr commented on #1906
Thanks @vormia!

[2016-11-02 09:31] NateWr commented on #1937
Sure!

[2016-11-02 10:20] NateWr commented on #1937
Merged!

I wasn't able to reproduce the original problem, but if I understand it correctly, it only occurs when there's a conflict between the section id and article id. I tested with the changes as well and didn't see any problems so :+1:

[2016-11-02 10:22] bozana commented on #1937
Thanks a lot @NateWr! I will then cherry-pick to other branches...

[2016-11-02 10:24] NateWr commented on #1859
@bozana code review?

[2016-11-02 10:52] NateWr commented on #1762
@asmecher The OJS tests for this failed on the [same unrelated test](https://travis-ci.org/pkp/ojs/jobs/172310626#L851) as #1765. I've restarted the tests to see if it was a one-off, but do we maybe have tests failing in `master` at the moment?

[2016-11-02 11:03] NateWr commented on #592
@asmecher should this be cherry-picked to ojs-stable-3_0_0, omp_dev_1_2 and omp-stable_1_2_0?

[2016-11-02 11:11] bozana commented on #592
I always think like this: if it is a bug fix that the current users of ojs-stable-3_0_0 or omp-stable-1-2_0 could use, then cherry-pick it to that brunches. If it is a 'smaller' and well tested change or feature, that would be good to go into the next OMP release, cherry-pick it to omp-dev-1_2. But...

[2016-11-02 12:42] bozana commented on #1937
All PRs merged, thus closing...

[2016-11-02 12:42] #1937 closed

[2016-11-02 12:45] bozana commented on #1859
Yes, sure :-)

[2016-11-02 13:02] bozana commented on #1859
@NateWr, does this have to be migrated for OMP as well?

[2016-11-02 13:14] bozana commented on #1859
Ah, OMP has no site management... Sorry! :-(

[2016-11-02 13:16] NateWr commented on #1859
No worries. I think they're going to put site management in place for OMP at some point...

[2016-11-02 13:28] bozana commented on #1859
@NateWr, everything merged. The PKPSiteSettingsForm and SiteSetupForm should be cleaned up, but maybe to open a new issue for that? -- also depending on the decisions for OMP -- I think first there was such a feature for OMP, then it was removed, now maybe it will come again... :-)
And this issue can be closed, right?

[2016-11-02 13:34] bozana commented on #592
Hmmm.. also, the next small releases could be made using the stable branches, so maybe, as Alec said here https://github.com/pkp/pkp-lib/issues/1709#issuecomment-257439133:

[2016-11-02 13:35] NateWr commented on #1765
There's some new code that got merged today with the old sidebar references. #1859

[2016-11-02 13:36] NateWr commented on #1859
Maybe this should be cherry-picked... leave open for now.

[2016-11-02 13:48] NateWr commented on #1772
PRs (tests running):
https://github.com/pkp/pkp-lib/pull/1942
https://github.com/pkp/ojs/pull/1080
https://github.com/pkp/omp/pull/345

I went through and updated manually everywhere I could find that seemed appropriate. There are still some areas (file uploads, tinymce fields) where I'm not sure how a required attribute would work.

Because this was a manual job, I think there's a high likelihood

[2016-11-02 16:20] NateWr commented on #1565
PR:
https://github.com/pkp/pkp-lib/pull/1944

Tests at:
https://github.com/pkp/ojs/pull/1081

![multilingual-control](https://cloud.githubusercontent.com/assets/2306629/19937185/1d07d7bc-a118-11e6-94a1-0ece3ea5f99c.gif)

I also removed the flag icons that were in place. Flags tend to be a bad proxy for languages, and politically contentious in some cases. Since we only had very partial implementat

[2016-11-02 16:22] jalperin commented on #1565
Amazing.

On Nov 2, 2016 9:20 AM, "Nate Wright" <notifications@github.com> wrote:

[2016-11-02 16:34] wolass opened #1946 "{$abstractTermIfEnabled} is not rendering in the emails for review request to a reviewer"
I get this at the top of the abstract when I am asking a reviewer for a review:

`{$abstractTermIfEnabled}`

[2016-11-02 16:44] wolass opened #1947 "Rewiew link in the submissions window takes me to the review and not to the workflow if I am both reviewr and editor of the submission"
When acting both a reviewer and an editor on the same paper, after clicking `Review` link I am always sent to the review window. And I can never reach the  "workflow" part.

so I need to use the adress in the browser `/workflow/#/1` to get to the submission workflow page.

Is this intended?

[2016-11-02 16:47] wolass opened #1948 "{$journalTitle} not rendering in a decision email"
I've noticed that my emails are being sent with the following phrase:

`We have reached a decision regarding your submission to {$journalTitle},`

This is not rendering correctly.

[2016-11-02 18:52] asmecher commented on #1939
Note that I can't speak to the quality/completeness of the minified JS in OJS 2.x -- it's been a long time since that received any JS attention. It'll need some testing, and unless there's a good reason to spend time on it, I'd rather leave a dead horse un-kicked.

[2016-11-02 19:14] mfelczak commented on #1939
Thanks @asmecher -- I may be able to have a look. I'm not familiar with the process, but is there anything that I would need to do beyond minifying the core PKP JS included by default in the header?

[2016-11-02 19:16] asmecher commented on #1939
Minifying the JS, pushing the updated JS to github, and turning on the config option would be enough. Kick it around a little for testing. (I think there's almost zero code in the 2.x releases that uses this framework -- probably just the citation assistant.)

[2016-11-02 19:21] mfelczak commented on #1939
Thanks @asmecher, that's helpful. At the moment all that unminified JS is being included in the header across all pages (even though it sounds like it's not really being used).

[2016-11-02 19:50] asmecher commented on #1565
Agreed, this looks like a huge improvement! The tests are unhappy, though it just looks like it needs a tweak or two.

[2016-11-02 19:58] asmecher commented on #1772
The tests are failing, both for OJS and OMP in different places, so I think there must be a legit breakage.

[2016-11-02 19:58] asmecher commented on #1772
(The tests fail consistently at the same spot regardless of whether it's MySQL or PostgreSQL, which is a hint that it's probably not a false positive)

[2016-11-02 20:01] asmecher commented on #1762
I'll check and see.

[2016-11-02 20:08] bozana commented on #1934
PRs:
master: https://github.com/pkp/ojs/pull/1083

[2016-11-02 20:28] asmecher commented on #1762
@NateWr, it looks like there was an accidental submodule add at the end of https://github.com/pkp/pkp-lib/commit/d61cc9f2da653346845e1ca1a287c4cae714dc8d -- I've removed it and committed submodule updates to the apps. Will see if that fixes things.

[2016-11-02 20:31] asmecher commented on #1765
@NateWr, is this one ready for code review etc.?

[2016-11-02 20:42] asmecher commented on #1867
@NateWr, yes, that sounds good.

@ania-appb, can you confirm that this still isn't working as expected? Can you check the resulting cookie to see what its expiry is when you use the checkbox?

[2016-11-02 20:45] asmecher commented on #1930
@NateWr, I'm a little antsy about mixing business logic (how full titles are assembled) into a function that's generally concerned with data access, but on second thought, getting a localized title is already sort of business-logicky. Yes, I think that approach makes sense -- but are you intentionally removing the other logic that used to apply when glomming the strings together?

[2016-11-02 20:45] mfelczak opened #1950 "[OMP] Audit file notification displays raw HTML"
When an author was assigned to audit final proofs, she received the following notification:

[code]

[2016-11-02 20:59] asmecher commented on #1885
@bozana and @NateWr, I think I've fixed the race condition that was causing intermittent test failures (usually on the MySQL tests). If you see something that you think looks like a repeat of the problem, let me know before you restart the tests, please!

[2016-11-02 21:00] asmecher commented on #1950
This sounds to me like an OMP 1.1.x problem, not a 1.2.0 problem. The audit stuff was removed for 1.2.0 in favour of the discussions tool.

[2016-11-02 21:12] asmecher commented on #1762
Yup, that did it! Mind rebasing, @NateWr?

[2016-11-02 21:14] mfelczak commented on #1950
Confirmed that this was in an OMP 1.1.1 install, closing.

[2016-11-02 21:14] #1950 closed

[2016-11-02 21:28] asmecher commented on #592
Yes, I think these are low-risk enough to justify back-ports.

[2016-11-02 21:30] asmecher commented on #1827
I think it would just take a little bit of work to modify this so that it would work also with OMP -- so I'd suggest trying that, keeping it as a separate repository, and adding the plugin as a submodule to both OJS and OMP repos.

[2016-11-02 22:40] asmecher commented on #1946
@wolass, which of our applications are you using, and what version?

[2016-11-02 22:41] asmecher commented on #1947
@wolass, I presume this is OJS 3.0 you're using?

[2016-11-02 22:41] asmecher commented on #1948
@wolass, what version of OJS are you using?

[2016-11-02 22:43] bozana commented on #1934
@NateWr, could you take a look at this PR -- because you have already worked on that? This is just issue cover image localization, I will do the article cover image localization tomorrow...

[2016-11-02 22:51] asmecher opened #1951 "Add support for custom issue ordering"
OJS 2.x supports custom issue ordering in the archive; OJS 3.0 is missing the grid feature to support this. Add it.

[2016-11-02 22:57] wolass commented on #1946
Oh sorry all my comments are about ojs 3.0.0

[2016-11-02 23:04] #1951 closed

[2016-11-02 23:10] asmecher commented on #1947
(Confirmed!)

[2016-11-02 23:10] asmecher commented on #1948
(Confirmed: OJS 3.0.)

[2016-11-02 23:11] asmecher commented on #1948
Was this install upgraded from a previous version of OJS, or is it a fresh installation with new data?

[2016-11-02 23:12] asmecher commented on #1946
Was this upgraded from a previous version of OJS, or is it a fresh install?

[2016-11-02 23:12] asmecher commented on #1947
Do you expect to have a production environment where editors are also reviewers, or is this just test data?

[2016-11-02 23:17] wolass commented on #1948
Upgrade fri 2.4.7

On Thu, Nov 3, 2016, 12:11 AM Alec Smecher <notifications@github.com> wrote:

--
<https://about.me/wojciechfrancuzik?promo=email_sig&utm_source=email_sig&utm_medium=external_link&utm_campaign=chrome_ext>
<https://about.me/wojciechfrancuzik?promo=email_sig&utm_source=email_sig&utm_medium=external_link&utm_campaign=chrome_ext>

Wojciech Francuzik, M.D.
[image: https://]about.me/
w

[2016-11-02 23:54] asmecher commented on #1905
Ah -- interesting. Your last comment alone may well explain really bad behavior on the part of this plugin, @ctgraham.

[2016-11-03 00:21] asmecher commented on #1948
@wolass, try applying either of the attached patches, and execute the following SQL...

    UPDATE email_templates_default_data SET body=REPLACE(body, '{$journalTitle}', '{$contextName}'), subject=REPLACE(subject, '{$journalTitle}', '{$contextName}');
    UPDATE email_templates_data SET body=REPLACE(body, '{$journalTitle}', '{$contextName}'), subject=REPLACE(subject, '{$journalTitle}', '{$contextN

[2016-11-03 00:21] #1948 closed

[2016-11-03 05:55] wolass commented on #1946
Upgrade from 2.4.7

[2016-11-03 10:05] bozana commented on #1934
Ah, sorry @NateWr, could you please wait with this -- I forgot to consider import/export :-(

[2016-11-03 10:19] NateWr commented on #1930
@asmecher I'm not aware of any previous logic for glomming the strings together. `Submission` objects have no `getPrefixedTitle` method and the `getFullTitle` method just concatenates them with a space:

https://github.com/pkp/pkp-lib/blob/master/classes/submission/Submission.inc.php#L477-L496

As far as I'm aware, throughout the system just kind of ignores prefixes (oversight?) except in `getFull

[2016-11-03 10:45] NateWr commented on #1859
I was just updating with some changes for #1765 and I found a bug with this. If you edit the sidebar from the site settings panel, but you do it with a specific journal context loaded, it updates that journal context, not the overall site.

This needs further work.

[2016-11-03 11:33] NateWr commented on #1765
Tests passed! Ready for code review.

[2016-11-03 15:42] asmecher commented on #1765
All merged, thanks, @NateWr -- note that I'm _not_ going to back-port this to the stable branches, as it'd break compatibility with third-party plugins, despite the fact that this represents a divergence between the stable and master branch locale files that we've been able to avoid so far.

[2016-11-03 15:42] #1765 closed

[2016-11-03 15:46] asmecher commented on #1930
I mean the glomming in `PKPString::concatTitleFields` (called e.g. from `Submission::getFullTitle`).

[2016-11-03 17:08] asmecher opened #1953 "Update COinS plugin for OJS 3.0"
Update the plugin from OJS 2.x code to OJS 3.x code; test with Zotero to ensure that the COinS data is being detected on the article and issue pages and that the data can be correctly ingested.

The front-end hooks that used to be used to embed content have almost certainly changed.

This plugin is currently suppressed from the build package via `tools/buildpkg.sh`; once it's rewritten, allow the

[2016-11-03 17:33] asmecher commented on #1946
Try applying either of the attached patches in the `lib/pkp` subdirectory (both are equivalent, just for different branches). That email variable isn't used in OJS 3.0 anymore, but the patch will add it just in case you have OJS 2.x templates still in place, as you do after your upgrade.

[2016-11-03 17:33] #1946 closed

[2016-11-03 19:54] bozana commented on #1934
@NateWr, the PRs above are ready for code review :-) Thanks a lot!

[2016-11-03 21:13] RichardPilbery opened #1954 "[OJS] 3.0.0 lens.js"
The NlmToLensConverter.Prototype has two functions called test. As a result, when using this converter instead of Elife, the error "Uncaught Error: No suitable converter found for this document(…)" appears in the javascript console and the 'Loading article' gif remains on screen.

If you remove the second function this.test (line 5506–5508) from the file plugins > generic > lensGallery > lib > len

[2016-11-03 22:13] asmecher commented on #1954
@RichardPilbery, that's third-party code -- we don't maintain it. See https://github.com/elifesciences/lens/ for the github repo. I'd suggest following up with them to see why the XML isn't getting rendered -- first, I'd suggest ensuring that the XML validates properly, just OTOH.

[2016-11-04 08:46] RichardPilbery commented on #1954
Their code is not the problem. I've run my XML through an instance of their Master branch code and it renders fine. The elifesciences [NlmToLensConverter](https://github.com/elifesciences/lens/blob/develop/converter/lens_converter.js) prototype does not contain two instances of the test function like the OJS version does.

[2016-11-04 11:31] knjigor opened #1955 "[OJS] 3.0.0 schemaValidate, proxy settings and allow_url_fopen"
Refer to http://forum.pkp.sfu.ca/t/ojs-3-crossref-error/23770/14?u=knjigor

[2016-11-04 11:32] knjigor opened #1956 "[OJS] 3.0.0 XML export validation message encoding"
Refer to http://forum.pkp.sfu.ca/t/ojs-3-crossref-error/23770/14?u=knjigor

[2016-11-04 14:35] sami7969 opened #1957 "Can't add Participants"
I am  trying to add participants like copededitor for the submission but the panel which shows the participants is not loading what is the issue

[2016-11-04 15:26] asmecher commented on #1957
@sami7969, the best place to start in debugging is our forum at http://forum.pkp.sfu.ca/. Include as much information as possible, e.g. which of our applications you're using and what version. Check your PHP error log for any relevant messages and post those too. If it turns out to be a bug (as opposed e.g. to a platform, configuration, or data error) we'll migrate the issue over here to github.

[2016-11-04 15:26] #1957 closed

[2016-11-04 15:38] asmecher commented on #1954
@RichardPilbery, that code (`lens.js`) is part of Lens Reader. OJS 3.0 includes the [beta 4 release](https://github.com/elifesciences/lens/releases/download/2.0.0-beta4/lens-2.0.0-beta4.zip) of Lens Reader, which includes the code you're referencing.

[2016-11-04 15:46] RichardPilbery commented on #1954
@asmecher You're right, it does! I didn't look at the beta as they've released [v2.0.0,](https://github.com/elifesciences/lens/releases/tag/2.0.0) which does not have this error. Any chance the plugin could be updated in OJS?

[2016-11-04 15:49] asmecher commented on #1954
@RichardPilbery, yes, I've filed that here:
https://github.com/asmecher/lensGalley/issues/9
If you do swap out the beta for the full release, please report on whether any issues crop up!

[2016-11-04 15:49] #1954 closed

[2016-11-04 21:28] asmecher opened #1958 "Use modern constructor syntax"
PHP7 will soon drop support for old-style `ClassName()` constructors; use `function __construct` instead.

[2016-11-07 10:21] bozana commented on #1956
@knjigor, unfortunatelly I cannot reproduce it :-( Could you maybe use browser developer tools (or Firebug for Firefox), and check the `Response header` when you click on the button "Download XML" (in those developer tools under "Network" and then when you open/click on the POST request), to see the "Content-Type" and "charset" there? -- You will have to open the tools and "Network" menu before yo

[2016-11-07 11:13] bozana commented on #1955
For XML validation, the PHP method `schemaValidate` is used. It gets the Crossref schema URL as parameter. I don't know how this method then uses the URL and how to solve the proxy problem :-( @asmecher, do you think `stream_context_set_default` (like for example described here) would work?
Or, does anybody know how we could download localy all the "millions" ;-) schemas, that the Crossref schema

[2016-11-07 11:25] knjigor commented on #1956
Hi Bozana
Here are results:
Firebug:
[code]

[2016-11-07 11:30] knjigor commented on #1956
Changing code in `classes/plugins/PubObjectsExportPlugin.inx.php` has fix error in encoding, but we still have error in validation and converting objects, I think that this is network (proxy) related:

[code]

[2016-11-07 12:07] bozana commented on #1956
@knjigor, would it be possible for you to test this: Could you comment out this line https://github.com/pkp/pkp-lib/blob/master/classes/xslt/XMLTypeDescription.inc.php#L126 and then click on the button "Download XML"? -- This should display you the output/final XML file without those validation messages. When you then look at the page source code, is the character encoding correct?

[2016-11-07 12:14] mpbraendle commented on #1907
We see the same problem for the year of publication - was this fixed, too? I do not see an indication in the code.

[2016-11-07 12:20] knjigor commented on #1956
@bozana
Yes encoding is correct and I get proper xml, only "error" that I get is `This XML file does not appear to have any style information associated with it. The document tree is shown below.` every thing else is ok.

[2016-11-07 12:22] NateWr commented on #1868
@asmecher This was buried in a PR discussion but I wanted to make sure that you saw it:

I ran into some problems when I changed the date_format_short in config:

[code]

I noticed that this breaks the Posted column in the Announcements grid. That column calls DateGridCellProvider which uses strftime() rather than date(), and so doesn't support as many format options.

https://github.com/pkp/pkp-l

[2016-11-07 12:42] knjigor commented on #1956
I have tried to deposit DOI for one article to Crossref and I get notification `Registration successful!`, I have checked on Crossref admin site and deposit is received successfully.
Thank You very much for assistance.

[2016-11-07 12:51] NateWr commented on #1868
@defstat The code in the pull requests is looking good. I'm running into display errors when I use a text representation of the month in the short date format:

[code]

When I view a Back Issue, for example, the month comes out as `00`. Same for Announcement expiry dates. Even if I update the date and save it, the value is still coming out like that. The date does appear to be getting saved correc

[2016-11-07 12:53] bozana commented on #1956
@knjigor, thank you for testing and reporting!!! I will then merge the change for encoding problem, when validation errors appear. The line for schema validation should actually not be commented out -- this was only a test to double check that XML character encoding is working fine. I still have to figure out how to resolve that validation error :-( but will let you know as soon as I/we have somet

[2016-11-07 15:04] knjigor commented on #1956
I will leave it commented. I have tested submitting in test environment (test api), and it worked without errors, unfortunately I already had to submit DOI's to Crossref because this is a live journal. After submitting I have check Crossref admin and it all  went well.

[2016-11-07 15:06] bozana commented on #1956
OK, thanks! I hope we can soon figure out the solution for the other problem...

[2016-11-07 15:39] bozana commented on #1956
PRs:
master: https://github.com/pkp/ojs/pull/1088
ojs-stable-3_0_0: https://github.com/pkp/ojs/pull/1089

[2016-11-07 16:12] NateWr commented on #1934
Looks good @bozana! I had a couple of very minor code style questions, but feel free to merge if you disagree.

I do think that we'll probably get some UX/UI feedback at some point from people who don't want to have to switch languages to upload alternate cover images. But I'm happy with this as a good-enough UX for now.

[2016-11-07 16:16] bozana commented on #1934
Thanks a lot @NateWr, I'll make the suggested changes and let you know. Then I will cherry-pick it to ojs-stable-3_0_0 as well...

[2016-11-07 16:19] NateWr commented on #1930
Ah, no, the `contactTitleFields` is only for joining a title with a subtitle. With the prefix, we're just concatenating them with a space.

[2016-11-07 16:40] defstat commented on #1868
@NateWr could it be because of a general problem related to the comment you made to @asmecher ? It seems that date_format function in the template is not enough to "translate" the "%d %M, %Y" format.
I changed a template to see if that's the case, as follows:

[code]

and it worked.

[2016-11-07 17:26] NateWr commented on #1930
Ok, I went through the references and didn't find many places where the title without a prefix is desired.

I searched specifically in the `importexport` plugin directory but didn't see any references to the prefix. The only place I found the prefix used was in the form where it's entered and in ordering search results.

I did find references to `getLocalizedTitle()` in the following files and I w

[2016-11-08 07:03] HighwayStar commented on #1469
Sorry for late answer, but I tried it now and changes now are in xml files, but Reload default soesnt work for me. For both global email template reset and Reset for each template does nothing for me. Template text remains the same.

[2016-11-08 10:07] bozana opened #1959 "PubmedNlm30CitationSchemaFilterTest and CURL SSL Version"
This test is failing with the error: `DOMDocument::loadXML(): Space required after the Public Identifier in Entity, line: 1`. This is because all the URLs are redirected to `https` and the result XML is:
[code]

Changing the webservice URLs in `plugins/citationLookup/pubmed/filter/PubmedNlm30CitationSchemaFilter.inc.php` to `https` leads to this error: `error:14094410:SSL routines:SSL3_READ_BYTES:

[2016-11-08 10:41] bozana commented on #1825
@asmecher, sorry for such a delay :-( I've just taken a look and have a few very minor comments/questions...

[2016-11-08 11:04] bozana commented on #1930
I think `getLocalizedTitle` in `ArticleTombstoneManager.inc.php` is for sections, thus this is not relevant.
For `OAIMetadataFormat_RFC1807.inc.php`: I believe the title display via OAI should be consistent for all OAI formats, if possible. For example, also here to be considered then: `https://github.com/pkp/ojs/blob/master/plugins/metadata/dc11/filter/Dc11SchemaArticleAdapter.inc.php#L84`. Thus

[2016-11-08 12:15] NateWr commented on #1930
Thanks @bozana. I think I've got all the necessary bits updated, including Submissions and OMP Series. I ran through searches for `getTitle`, `getLocalizedTitle`, `getPrefix`, `getLocalizedPrefix`, `getFullTitle` and `getLocalizedFullTitle`. Anywhere the prefix was explicitly set (form data, metdata output and import/export plugins), I added the optional flag to prevent `getTitle` and `getLocalize

[2016-11-08 12:16] NateWr opened #1961 "Spotlight grid causes fatal error"
When I try to load the Spotlight grid under Catalog > Spotlights in the current OMP `master` branch, I get the following fatal PHP error:

[code]

Maybe a PHP 7 thing?

[2016-11-08 13:44] ajnyga opened #1962 "[OJS] OJS 3.0: Section editor gets assigned to all submissions"
I tested the section editor functionality in OJS 3.0 and encountered a problem:
- I create one section editor account
- I create two sections in the journal A and B and assign the section editor to section B
- I submit a new article to section A
- The section editor is automatically assigned to the submission althought she is not assigned to section A

I encoutered this problem with two separate i

[2016-11-08 14:40] kasioumis commented on #1614
@asmecher are there any news/timeline on porting implicit authentication (Shibboleth SSO) to OJS3? A github issue to track? Thanks!

[2016-11-08 15:02] ctgraham opened #1963 "Port implicit authentication to master"
See https://github.com/pkp/pkp-lib/issues/1614

Implicit authentication (such as Shibboleth) is currently only coded to OJS 2.x, and needs to be ported to master.

Ideally, this would happen in the plugin framework, instead of being "magic" in the config.inc.php.  This make a dependency on https://github.com/pkp/pkp-lib/issues/1923

[2016-11-08 15:03] ctgraham commented on #1614
@kasioumis, I've filed this here: https://github.com/pkp/pkp-lib/issues/1963

[2016-11-08 15:37] NateWr commented on #1868
Ahh @defstat, I was confusing the smarty `date_format` [approach](http://www.smarty.net/docsv2/en/language.modifier.date.format.tpl) with PHP's `date()` [formatting](http://php.net/manual/en/function.date.php). `M` in `date()` is a short month name (Oct), but `%M` in Smarty's `:date_format` is "minute as a decimal number".

This is maddening. :)

It looks like your `dateformatPHP2JQueryDatepicker`

[2016-11-08 16:23] asmecher commented on #1961
That was my typo in adding CSRF checking. Fixed, thanks!

[2016-11-08 16:23] #1961 closed

[2016-11-08 16:37] asmecher commented on #1959
I've been wrestling with this (among other things) since Friday -- it looks like OpenSSL/CURL is hard to update on the current Travis testing environment, so I've just disabled the test for now (especially since it's related to code that's only IIRC used in the defunct Citation Assistant).

The commit: https://github.com/asmecher/pkp-lib/commit/281624a0221c1be6261f793273627b1dc0b46ac7

I'll merge

[2016-11-08 16:42] asmecher commented on #1962
This is intended behavior -- in cases where only one user fulfills a role, that user is automatically assigned to submissions when they come in.

[2016-11-08 16:51] ajnyga commented on #1962
But the journal has a normal editor as well. What if I specifically do not want to give section A articles to the section editor - only the section B articles?

[2016-11-08 16:51] asmecher commented on #1958
This is all merged (and should fix the tests, @NateWr and @bozana, for OJS master). I'll port to OMP master when I get the chance (probably tomorrow).

[2016-11-08 18:06] lclaudius opened #1964 "[OJS] Line breaks"
I'm creating a new journal on OJS 3.0.0 (Ubuntu 16.04, php5.6, postgresql 9.5). Most pages were edited without problems, but not the author guidelines page. I have added HTML code through the code window, but all closing tags receive a hard line break after them.

If I inspect the HTML code on the editor, there are no line breaks; but the source code for the generated page shows them.

[2016-11-08 18:06] asmecher commented on #1959
I've cherry-picked that test disable around, FYI.

[2016-11-08 18:11] lclaudius opened #1965 "[OJS] Access denied"
I'm creating a new journal on OJS 3.0.0 (Ubuntu 16.04, php5.6, postgresql 9.5). When I log in with the main admin account to make some configuration change, the management pages pop out messages about the present role lacking authorization for the page, and then "access denied". My name still appears on the top bar. If I click on "profile", I'm taken to the login page again, and then I'll be able

[2016-11-08 18:22] mchladek opened #1966 "[OJS] Correct and Clean Up EndNote Citation Export"
This is following up on this discussion from the PKP Forum: <http://forum.pkp.sfu.ca/t/ojs-how-to-cite-endnote-export-issue-year-instead-of-journal-name/12113>

There seems to be a number of inaccuracies with the tags used when exporting a citation to the EndNote `.enw` file format. These include the following:

1. The `%B` tag is meant to be a secondary title but is currently filled with the publ

[2016-11-08 19:23] ajnyga commented on #850
@bozana, whats the situation with this? If I understood correctly, the filter is pretty much ready.

[2016-11-09 05:54] WaDelma commented on #1965
Did you keep the page open for long? There is limited time how long session lasts without doing anything.

[2016-11-09 05:58] WaDelma commented on #1962
I think the work around for this is just to another dummy section editor. What I understood from @asmecher comment is that if you only have one section editor they will be assigned automatically, but if you have more than one it doesn't happen. Correct if I am wrong.

[2016-11-09 08:35] bozana commented on #1931
@asmecher, just to let you know, that I tested it also with a 'real' data and I think it works correctly now.

[2016-11-09 10:05] bozana opened #1967 "keywords not saved"
keywords are not saved. the pr is coming...

[2016-11-09 10:27] bozana commented on #1967
PRs:
master: https://github.com/pkp/pkp-lib/pull/1968
ojs-stable-3_0_0: https://github.com/pkp/pkp-lib/pull/1969
omp-stable-1_2_0: https://github.com/pkp/pkp-lib/pull/1970
omp-dev-1_2: https://github.com/pkp/pkp-lib/pull/1971

[2016-11-09 10:27] bozana commented on #1967
Phew... so many PRs... :-P Everything merged, thus closing...

[2016-11-09 10:27] #1967 closed

[2016-11-09 10:58] bozana commented on #1709
I have not back-port it to omp-stable-1-2_0 and omp-dev-1_2 because apparently I will have to back-port even more commits, these are based on/build upon. Those two branches misses a lot of commits from master, so lets see first which branch will be used for the next omp release...

[2016-11-09 11:01] bozana commented on #1709
@asmecher, I would then add a new element for keywords. Shall they be separated from subjects (submission metadata subject field) or shall there be a common subject element for both of them? Shall the items be separated by ";" and use just one element or shall every keyword have its own element? THANKS!!!

[2016-11-09 11:17] ajnyga commented on #1962
Yep, I tried a similar solution where I assigned the section editor role to the editor as well. The result is the same as probably would be if I would add a dummy account.

I still think that the default functionality with one editor and one section editor is misleading and does not seem logical. But I can of course work with this now that I know what to tell the journals.

[2016-11-09 12:22] bozana commented on #1959
Great, thanks @asmecher! This could eventually stay open till a solution for OpenSSL/CURL (not only for Travis, but also other users?) is find?

[2016-11-09 12:25] bozana commented on #850
@ajnyga, yes, the filter is ready, but I haven't had time to test it properly, i.e. to test the actual registration yet... :-\

[2016-11-09 12:44] ajnyga commented on #1853
Hi,

I am experiencing similar problems as well.

1. Adding an editor or section editor in the submission stage works, but the buttons (Send to review, Send to copyediting, Decline submission) only appear if I refresh the page

2. Removing a participant works, but I have to refresh the page to actually remove the name from the list. This problem happens in all stages: submission, review, copyediti

[2016-11-09 12:57] lclaudius commented on #1965
No, WaDelma. Logged in, went straight to the management pages, and got the error message. Only after logging in again I'm able to use the management pages.

[2016-11-09 13:01] ajnyga commented on #850
Hi,
I could do some basic testing. I have an api key from one of our journals.

[2016-11-09 16:44] ctgraham opened #1973 "PKPComponentRouter documentation misidentifies the path/to/component mapping"
The PKPComponentRouter inline documentation suggests that after the `$$$call$$$` literal, there parameters of "path/to/" represent a file path under  a "components folder".  This appears to actually be the folder "classes/controllers".
https://github.com/pkp/pkp-lib/blob/4772e4afa3463d8ab0b7d8f3df03f70db0f90add/classes/core/PKPComponentRouter.inc.php#L23-L25

[2016-11-09 17:31] bozana commented on #1709
PRs for k) above:
master: https://github.com/pkp/pkp-lib/pull/1975

@asmecher, could you take a look at this PR?

[2016-11-09 18:00] bozana commented on #1958
Great work @asmecher! Thanks a lot!

[2016-11-09 18:08] asmecher commented on #1965
Do you have the `session_check_ip` option enabled in `config.inc.php`? If so, try disabling it -- it may be that your IP address is changing (e.g. if it's behind a proxy bank of some kind), which would cause OJS to reject the session when that option is enabled.

[2016-11-09 18:31] ctgraham opened #1976 "Smarty typos in tab/settings/appearance/form/ templates"
There are some minor typos which prevent HTML ids from being populated correctly.

Missing smarty delimiters:
https://github.com/pkp/pkp-lib/blob/b2f2c999c5f41070507627488e68cafc7c953d37/templates/controllers/tab/settings/appearance/form/favicon.tpl#L16
https://github.com/pkp/pkp-lib/blob/b2f2c999c5f41070507627488e68cafc7c953d37/templates/controllers/tab/settings/appearance/form/homepageImage.tpl#

[2016-11-09 18:42] ctgraham commented on #1973
Nope, looks like it's still wrong.  It could be "classes/controllers", or just "controllers".

[2016-11-09 18:58] lclaudius commented on #1965
Good call, asmecher! It was indeed on. I'm using a fixed IP, but the OJS server is behind Cloudflare. I disabled the session_check_ip option and now it's working. Thanks!

[2016-11-09 18:58] #1965 closed

[2016-11-09 20:17] #1973 closed

[2016-11-09 20:31] mdmstw opened #1979 "[OJS] Slow SQL query due to unnecessary join"
Version: OJS 2.4.8.0 (also in 2.4.8.1)
File: classes/submission/sectionEditor/SectionEditorSubmissionDAO.inc.php
Line: 836

Line 836 contains an unnecessary and redundant JOIN which causes the query to run quite slowly (30 seconds as opposed to 0.2 seconds with a system of several thousand users and tens of thousands of review_assignments).

Lines 836 and 837 are both joining the same review_assig

[2016-11-09 20:56] ctgraham commented on #1979
+1.  Seems sound.  Do you have interest in making a pull request?

[2016-11-09 20:58] #1976 closed

[2016-11-09 20:59] asmecher commented on #1976
Merged and cherry-picked around, thanks!

[2016-11-09 21:00] asmecher commented on #1959
Yes, I think that's a good idea.

[2016-11-09 21:02] asmecher commented on #1709
I think it would be better to allow each keyword to be entered in its own XML element, rather than using a separator inside the element -- likewise for every field that's backed by a `ControlledVocab` structure.

[2016-11-09 21:05] asmecher commented on #1964
@lclaudius, certain fields go through the Smarty `nl2br` filter upon display, which converts newlines into `<br/>` elements. It makes sense to remove these, since that content is entered through the TinyMCE editor, which should take care of layout. If you want to remove some of these yourself before someone gets a chance to fix this issue, look for the `|nl2br` in e.g. `templates/frontend/pages/su

[2016-11-09 21:20] mdmstw commented on #1979
I don't currently have an interest in making a pull request, but wanted to simply notify any active (or official) maintainers for possible correction in a future patch. I very rarely work with the OJS code and am not terribly familiar with the system in its entirety. Thank you, though.

[2016-11-09 21:21] ctgraham commented on #1979
This is the place for the notification.  We'll take care of it.  Thanks.

[2016-11-09 22:21] bozana commented on #1709
OK, I will change it... Thanks!!!

[2016-11-09 22:27] asmecher commented on #1931
At a glance, this looks good -- does it also adequately handle data that went through the original migration?

[2016-11-09 22:50] asmecher commented on #1868
The Smarty implementation uses `strftime`, rather than `date`. See e.g. http://andy-carter.com/blog/php-date-formats. If we stick with `strftime`, it shouldn't be necessary to convert between them, I think.

[2016-11-09 22:59] bozana commented on #1931
Yes, it can just not repair missing publication files, s. https://github.com/pkp/pkp-lib/issues/1931#issuecomment-257385293

[2016-11-09 23:00] asmecher commented on #1931
OK, yes, I think your logic is good. I'll merge this -- and thanks for taking on a tough one that was at least partially my mess!

[2016-11-09 23:20] asmecher commented on #1931
Oh -- one small fix to make: the `$i` variable isn't initialized before it's used.

[2016-11-09 23:57] asmecher commented on #1955
It looks like `stream_context_create` is one way to do it -- looking at http://php.net/manual/en/context.http.php -- but it would need some testing. Another option would be to add an option to disable validation completely -- this would work around this problem but also would be useful for other purposes, such as production deployment if/where validation was too time-consuming. But I would rather

[2016-11-10 00:48] asmecher commented on #1897
Feedback from SI:

[2016-11-10 00:54] asmecher opened #1980 "Review form button placement"
In many places, forms include a Cancel button on the left and a Submit button on the right. On (not unusually) large displays this may mean the Submit button gets pushed to the bottom right of the screen, where it can be easily overlooked.

See e.g. the Reviewer's interface.

Should the buttons be kept closer together?

[2016-11-10 00:55] asmecher commented on #1980
(@NateWr, I suspect the answer is "yes", but assumptions etc. etc.)

[2016-11-10 01:09] asmecher opened #1981 "Make filename similarity requirement configurable"
Currently there's a hard-coded filename similarity that leads to a possible revision detection. Make this a configuration file option.

[2016-11-10 01:17] #1981 closed

[2016-11-10 01:54] asmecher commented on #1907
@mpbraendle, I've just surveyed the year and it's overall covered. I added a tweak to improve this (see just above). But depending on how e.g. citation formats work, they may expect the year to be entered regardless. If you do see it somewhere you don't wish it to appear, please post details here.

[2016-11-10 01:58] asmecher commented on #1966
Many thanks, @mchladek!

[2016-11-10 01:58] #1966 closed

[2016-11-10 01:59] asmecher commented on #1966
Also cherry-picked to `ojs-stable-3_0_0`.

[2016-11-10 07:08] lclaudius commented on #1964
@asmecher, thank you for your interest. There is no `submission.tpl` in `templates/frontend/pages`. There are two `submission.tpl` files in other directories:

`./lib/pkp/templates/controllers/tab/authorDashboard/submission.tpl
./lib/pkp/templates/controllers/tab/workflow/submission.tpl`

However, none of them includes a call to `nl2br`. I'll investigate a bit further.

[2016-11-10 07:30] lclaudius commented on #1964
The file is `submissions.tpl` and it is located on directory `lib/pkp/templates/frontend/pages`. I removed the call to `nl2br` from line 56, and this solved the problem.

Thank you, @asmecher, for your help. I'll advise if I find any other unwarranted nl2br calls.

[2016-11-10 07:30] #1964 closed

[2016-11-10 09:40] bozana commented on #1931
Thanks a lot @asmecher! I fix the variable initialization here: https://github.com/pkp/omp/pull/348. Then I will cherry-pick it all to omp-stable-1_2_0 and omp-dev-1_2.

[2016-11-10 11:14] NateWr commented on #1868
I had a look at `strftime` vs `date` and I see `strftime` is more commonly used because it can provide translated month names.

@defstat, so I guess just update `dateformatPHP2JQueryDatepicker` to convert from the `strftime` format to jQuery Datepicker.

[2016-11-10 11:22] NateWr commented on #1980
This is something I've noticed as well. And a general problem is that save buttons get lost on our big, page-wide forms (eg - Settings > Appearance). I think this is an area to think about when we get around to refactoring the FBV.

A similar problem exists with action links in grids on large screens.

[2016-11-10 12:58] bozana commented on #1709
@asmecher, I changed it. Now it looks like this:
[code]

OK so?

[2016-11-10 13:12] NateWr commented on #1740
@asmecher It looks like I may have accidentally deleted the branch with this in it during a cleanup a while back.  Are we good with this solution for now? Should I re-submit the PR?

[2016-11-10 13:12] NateWr commented on #1671
Bumping this to 3.1. It's not an urgent issue, though one I'd like to solve on our quest towards better accessibility.

[2016-11-10 13:15] NateWr commented on #1488
Reassigning this to 3.1. There are a few things in here worth addressing but not urgent.

[2016-11-10 13:16] NateWr commented on #1270
Bumping onto our 3.1 milestone.

[2016-11-10 13:29] #1956 closed

[2016-11-10 13:31] bozana commented on #1805
@stranack, could this issue be closed?

[2016-11-10 13:38] NateWr commented on #592
Cherry-picked. Closing.

[2016-11-10 13:38] #592 closed

[2016-11-10 13:55] NateWr commented on #1930
Tests have passed. @bozana, mind doing a code review?

[2016-11-10 14:15] NateWr commented on #1958
I ran into an issue that I think is related to this. The Site Settings form calls `parent::Form()` directly in the constructor:

https://github.com/pkp/pkp-lib/blob/master/controllers/tab/settings/siteSetup/form/SiteSetupForm.inc.php#L26

This method no longer exists. It seems like a reference to the `Form` class's constructor, which I suppose was used to bypass calling the constructor of the dire

[2016-11-10 14:16] NateWr commented on #1859
A fix for this is waiting on the Site Settings form to be fixed. https://github.com/pkp/pkp-lib/issues/1958#issuecomment-259700288

[2016-11-10 17:44] bozana commented on #1728
PRs:
master: https://github.com/pkp/pkp-lib/pull/1986

@asmecher, could you take a look at this PR?

[2016-11-10 19:04] ctgraham commented on #1923
Right now, I'm picturing the inheritance of plugin settings happening as follows:

- The plugin code via `Plugin::isSitePlugin()` defines whether it is locked to the context-specific level (false), locked to the site level (true), or whether it can be scoped to the site level and the context-specific level ( integer constant evaluating to true ).
- In the plugin's site-level settings, a new boolea

[2016-11-10 20:58] gpassero commented on #1741
Also:
##journal.viewAllIssues## ( on journal start page :( )

[2016-11-10 21:48] bozana commented on #1601
@NateWr, could you review the code for the PR above: https://github.com/pkp/ojs/pull/1095

[2016-11-10 22:29] bozana commented on #1930
@NateWr, the code looks good, so it can be merged and cherry-picked (if necessary) :-)

[2016-11-11 10:42] bozana commented on #1768
@WaDelma, the only article import is implemented, thus could this issue be closed now?

[2016-11-11 11:36] #1768 closed

[2016-11-11 14:57] bozana commented on #1728
@asmecher, I am currently working on the import error display and removing the already processed/imported submissions (in case of an error) i.e. a) and g) from this issue: https://github.com/pkp/pkp-lib/issues/1709. I will then merge this changes there too and soon make a new PR, with all of them, so that you do not have to look at this -- I will remove this PR and issue and combine them with the

[2016-11-11 15:00] bozana commented on #1728
This issue moves to l) here: https://github.com/pkp/pkp-lib/issues/1709. Thus, closing...

[2016-11-11 15:00] #1728 closed

[2016-11-11 20:08] ctgraham commented on #1905
These PRs are ready for review/merge:
https://github.com/pkp/ojs/issues/1069
https://github.com/pkp/pkp-lib/issues/1917

[2016-11-11 20:51] asmecher commented on #1728
No problem, thanks!

[2016-11-13 20:42] asmecher commented on #1958
@NateWr, mind checking df8bd79 and  cdf2403? They should correct the problem you reported above.

[2016-11-13 20:43] asmecher commented on #1859
(The hold-up on #1958 should be resolved.)

[2016-11-14 07:47] defstat commented on #1868
@NateWr the converted dateformatPHP2JQueryDatepicker is checked in.

Reference: http://api.jqueryui.com/datepicker/#option-dateFormat and http://andy-carter.com/blog/php-date-formats

[2016-11-14 12:00] NateWr commented on #1601
The code looks good @bozana. I ran into an issue when trying to test this, that's probably related to the user import code rather than the CLI functionality. To reproduce:

1. Export all users from the journal: `php importExport.php UserImportExportPlugin export test.xml publicknowledge`.

2. Go to Users in a journal and search for `Kumar` from the test data. He should appear in the search without

[2016-11-14 13:21] NateWr commented on #1930
Thanks @bozana! I've cherry-picked them over. Closing.

[2016-11-14 13:21] #1930 closed

[2016-11-14 13:29] NateWr commented on #1565
The tests passed. Only the `pkp-lib` PR needs to be merged. Mind doing a code review @asmecher?

[2016-11-14 13:45] NateWr commented on #1762
I think this one is ready for code review. Just one of the tests failed, but it failed during a test that shouldn't involve any of these templates so I think it was a fluke. They're re-running just to check.

@bozana would you do code review?

[2016-11-14 14:12] NateWr commented on #1859
Yep, that fixes it! :+1:

[2016-11-14 14:17] NateWr commented on #1958
Woops, meant to comment over here. Yep, that fixes it. :+1:

[2016-11-14 15:55] bozana commented on #1601
@NateWr, thanks a lot! You are right, but I am not sure how the system is supposed to work. There is a sentence on the Import Users UI tab: "Note that if the imported file contains any usernames or email addresses that already exist in the system, the user data for those users will not be imported and any new roles to be created will be assigned to the existing users.". As in the case you mentione

[2016-11-14 16:30] defstat commented on #1868
@NateWr I added the code for the

https://github.com/pkp/pkp-lib/blob/master/templates/frontend/objects/announcement_full.tpl#L19
https://github.com/pkp/pkp-lib/blob/master/templates/frontend/objects/announcement_summary.tpl#L24

[https://github.com/pkp/pkp-lib/pull/1898/commits/817194a6ad2baf551edd8f45bed6c7710393d309]

About the submodule, I will try today to do that (never done that before). If

[2016-11-14 16:38] bozana commented on #1709
PRs for a), g) and l) above:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/1987
ojs master: https://github.com/pkp/ojs/pull/1096
omp master: https://github.com/pkp/omp/pull/354

[2016-11-14 16:43] asmecher commented on #1565
Merged, thanks!

[2016-11-14 16:43] #1565 closed

[2016-11-14 16:55] #1958 closed

[2016-11-14 17:12] asmecher commented on #1709
Just a couple of comments, but it also looks like the tests aren't working.

[2016-11-14 17:14] asmecher commented on #1709
Also...

Yes, thanks! More verbose but more usable, I think.

[2016-11-14 17:15] asmecher commented on #1740
@NateWr, please do, thanks. This kind of front-end stuff is not my forte, and no better solution has come to mind.

[2016-11-14 17:35] asmecher commented on #1601
@NateWr, I suspect you removed all roles from Kumar, but didn't actually delete his user account (to do that would require a "Merge Users").  So he would've still been in the DB, just with no roles.

When the import ran, it found him and used that account.

The import/export tools don't currently bother with roles -- we might add that later but it's not a bug, strictly speaking.

[2016-11-14 17:51] asmecher commented on #1905
Thanks, @ctgraham! @bozana, can I give this to you?

[2016-11-14 18:00] asmecher commented on #1901
Objections to moving this over to 3.0.2, @jmacgreg?

[2016-11-14 18:03] bozana commented on #1601
@asmecher, the plugin could eventually assign the roles from XML file to the existing user. Shall we change the code to be so, also because of the sentence above presented to the users? Or leave it for now as it is?

[2016-11-14 18:03] NateWr commented on #1859
I spent a while on this today and I'm not sure I've got the best solution. I ended up adjusting a series of methods for block plugins to circumvent the automated context discovery function `getSettingMainContext` here:

https://github.com/pkp/pkp-lib/blob/master/classes/plugins/BlockPlugin.inc.php#L51-L92

The main context has to be overridden on the site settings form because the admin pages can

[2016-11-14 18:27] NateWr commented on #1859
@asmecher Above is the comment I mentioned about the site-wide sidebar blocks.

[2016-11-14 18:59] asmecher commented on #1601
Hmm, I'm not sure what the expectation will be. Suggest asking @AhemNason, who's done a lot of import/export work with OJS.

Mike, when importing article/issue XML that makes reference to user accounts and describes role associations (e.g. `asmecher` is the Translator of submission `ABC`), how would you expect the system to act when `asmecher` is already found in the system but isn't e.g. enrolled

[2016-11-14 19:00] bozana commented on #1601
Just, that this is Users import, not article/issue... :-)

[2016-11-15 00:00] asmecher commented on #1601
Ah, of course, that explains why I was confused :) So yes, I think it makes sense for roles/user groups to be assigned when existing users are found.

[2016-11-15 00:05] asmecher commented on #1859
Ah. Yes, there's some nasty business there that used to be necessary back when pkp-lib needed to support a variety of context "depths" for the sake of OHS (where all operations take place without a "context"), OJS (where you have a single level of context, the Journal) and OCS (where you have up to two levels of context, the Conference and the Scheduled Conference).

Even if we do decide to rewrit

[2016-11-15 00:10] asmecher commented on #1911
@kaschioudi, do you think this is something you could look at?

[2016-11-15 00:24] asmecher commented on #1825
Thanks, I fixed things up per your review!

[2016-11-15 01:14] asmecher opened #1989 "Some notification emails sent out with empty recipient list"
See e.g. ` NOTIFICATION_TYPE_EDITOR_ASSIGNMENT_SUBMISSION`, which is sent out from `PKPSubmissionSubmitStep4Form.inc.php` when a submission is assigned to an editor upon receipt:

                // Update assignment notifications
                import('classes.workflow.EditorDecisionActionsManager');
                $notificationManager->updateNotification(
                        $request,

[2016-11-15 03:04] kaschioudi commented on #1911
Sure. Any available documentation for locale somewhere?

[2016-11-15 10:13] NateWr commented on #1868
@defstat Not sure if you were able to connect with Alec about the submodule commit. Here's how it works. When the tests run for OJS or OMP, they automatically load the `pkp-lib` submodule. So when you have changes to `pkp-lib` and `ojs`, you add a special commit to `ojs` which the tests use to know which commit of `pkp-lib` to test against.

The way it works is to add a commit with a message forma

[2016-11-15 12:47] defstat commented on #1868
@NateWr I am doing the following
1. I have already forked the ojs repository, on which I made the changes regarding the files there. I made a branch (branch A, let's say. its name is the same as the branch in lib/pkp (1868-make-datepicker-respect-date-formats)) for that, and I had pushed the changes an made a pull request for the changes (#1082)
2. I've just committed the lib/pkp to the same defst

[2016-11-15 13:08] NateWr commented on #1868
That looks correct @defstat. It looks like you have a conflict with the master branch though, where the PR says "This branch has conflicts that must be resolved".

In this case, you probably need to rebase your `pkp-lib` changes against the latest changes in master. To do this, undo the submodule commit in `ojs`:

`$ git reset HEAD~1`

Then you need to rebase your branch of `pkp-lib` against the l

[2016-11-15 15:21] pkel opened #1990 "[OJS 3] Error message not disappearing."
Problem specifiyng ORCID in profile settings. If I only type *0000-0002-1825-0097* into the field ORCID, an error message appears:

*The ORCID iD you specified is invalid. Please include the full URI (e.g. "http://orcid.org/0000-0002-1825-0097").*

Changing the input to the provided example successes with an appropriate message on the top of the site, but the above error message stays visible. On

[2016-11-15 15:31] pkel opened #1991 "[OJS3] Missing possibility to resend activation email."
In case of lost activation email (i.e. deletion by spamfilter, unavailable smtp server, etc), there is no way to unlock the account. I fixed this by `UPDATE users SET disabled=0`. It would be nice if users can trigger a resend on their own.

[2016-11-15 16:22] defstat commented on #1868
@NateWr thank you very much!

hmmm, I merged the master branch into the 1868-make-datepicker-respect-date-formats :( :(... Surely not the correct thing to do! I will try to fix it!

[2016-11-15 17:43] ctgraham commented on #1923
Where I'm currently headed with this is a new plugin setting "enable_site_config" with a English meaning of "Use Site Settings".  In the context 0 (site context), if set this means that the plugin will settings at the context-specific level will be disallowed/ignored.  If unset at the site context, this checkbox can be used in the journal/press/conference context to indicate that the plugin will u

[2016-11-15 20:14] bozana commented on #1931
Everything merged, thus closing...

[2016-11-15 20:14] #1931 closed

[2016-11-15 20:41] bozana commented on #1601
Here is PR for the bug above, to assign the roles from the import XML file if the user already exists:
master: https://github.com/pkp/pkp-lib/pull/1995

[2016-11-15 20:42] bozana commented on #1601
@NateWr, could you take a look at this fix for the bug you found: https://github.com/pkp/pkp-lib/pull/1995 ?

[2016-11-15 20:48] bozana commented on #1709
@asmecher, could you take a look at these PRs for a), g) and l) above:
lensGalley master: asmecher/lensGalley#10
pkp-lib master: #1987
ojs master: pkp/ojs#1096
omp master: pkp/omp#354

I also don't know why ojs tests are failing, they run through for me locally :-(

[2016-11-16 11:31] pkel opened #1996 "[OJS3] Flaws in registration"
#### 1. {$email} not replaced
In the error message for disabled account due to missing activation, the email variable is not resolved.
![screenshot](https://cloud.githubusercontent.com/assets/11337857/20345663/816ff6f4-abf8-11e6-8b79-5e7a92f7eacc.jpg)

#### 2. missing template
On the activation page which is linked in the activation email only a name of the object to show is displayed.
![screensho

[2016-11-16 11:49] pkel commented on #1990
#### Error on wrong input:
![screenshot](https://cloud.githubusercontent.com/assets/11337857/20346149/dabec508-abfa-11e6-85ce-9ab4973f0f09.jpg)
#### State after correction:
![screenshot2](https://cloud.githubusercontent.com/assets/11337857/20346164/e1937f7c-abfa-11e6-8841-968a6689540c.jpg)

[2016-11-16 12:50] defstat commented on #1868
@NateWr
I did the following:
1. cd lib/pkp folder
2. checkout 1868-make-datepicker-respect-date-formats branch
3. hard reset (to erase the merge)
4. push force (to update the defstat/pkp-lib) -> now the branch has the code that had before the merge
5. checkout master
6. updated the master branch from pkp/pkp-lib
7. checkout 1868-make-datepicker-respect-date-formats branch
8. rebase onto master
9.

[2016-11-16 13:10] bozana commented on #1762
@NateWr, cool work! :-)
I don't know why the OJS tests are failing :-( -- it is case for other PRs as well...
I think you will have to rebase and correct the submodule update commits, but then you can merge... THANKS!

[2016-11-16 13:13] bozana commented on #1905
Sure! Acron, the 'lovely' issue I am 'looking forward' to dive in and wonder :-)

[2016-11-16 14:13] defstat commented on #1868
@NateWr

Well I have done some progress. It turns out that I hadn't updated the master branch from pkp/ojs, and rebased the initial branch of (1868-make-datepicker-respect-date-formats branch of defstat/ojs). Now, I made some changes on the master branch (.ignore files, and the main push for the merge with the original code), and now I can see those changes on the 1868-make-datepicker-respect-date

[2016-11-16 15:18] bozana commented on #1905
As far as I can see and understand it, these PRs are OK and they help solve the issue.
@ctgraham, I will merge the PRs, then add the submodule update commit to ojs-dev-2_4 and also change master, ojs-stable-3_0_0, omp-stable-1_2 and omp-dev-1_2 accordingly. Thanks!!!

[2016-11-16 16:54] bozana commented on #1905
PRs:
master: https://github.com/pkp/pkp-lib/pull/1997
ojs-stable-3_0_0: https://github.com/pkp/pkp-lib/pull/1998
omp-dev-1_2: https://github.com/pkp/pkp-lib/pull/2001
omp-stable-1_2_0: https://github.com/pkp/pkp-lib/pull/2000

[2016-11-16 16:55] bozana commented on #1905
Hmmm... I wasn't sure if I should cherry-pick it to ojs-stable-2_4_8 as well. @asmecher, what do you think?

[2016-11-16 20:11] naok62 opened #2002 "License missed"
Hello,
I looked at your project and I noticed the absence of a license file, could I know which you want to use in the project, I would be happy to send my first PR to the project
Thanks  :)

[2016-11-16 21:10] mfenner commented on #1877
@ctgraham just one clarification: whether and when DataCite changes its schema to better support both "Journal Title" and "Publisher" is up to the DataCite Metadata Working Group, and the next schema revision is probably at least another 12 months away.

[2016-11-16 21:13] mfenner commented on #1877
Another related issue is that DataCite metadata currently don't support `volume`, `issue` and `pages`. I am currently a bit torn on this one: one hand this info is needed to properly format a citation, on the other hand these fields are pretty useless in an online-only world, and the DOI should be enough to locate the article.

[2016-11-16 21:44] asmecher commented on #2002
@naok62, which of our applications/repositories are you looking at?

[2016-11-16 21:49] pkel opened #2003 "[OJS3] Filename problems"
[This article](https://jstatsoft.tr1k.de/index.php/jss/article/view/v034i01) was inserted in the system by using the native XML import on [this file](https://cloud.tr1k.de/index.php/s/koNvlxDjAWL5usA).

If you try to download the the R Source Package or the R example code, you will see that the file extensions are not preserved. `.tar.gz` is replaced by `.gz` and `.R` by `.r`.

Perhaps this is rel

[2016-11-17 08:05] naok62 commented on #2002
Je fais référence au projet  : pkplib

[2016-11-17 10:26] bozana commented on #1905
I decided today to cherry-pick it to ojs-stable-2_4_8 too... :-)

[2016-11-17 10:44] bozana commented on #1989
@asmecher, do you know/could you tell me when the emails are sent out, for which notifications, and where to look for it? I will search by myself and report if I figure it out...

[2016-11-17 12:27] bozana commented on #1989
In https://github.com/pkp/pkp-lib/blob/master/classes/notification/form/PKPNotificationSettingsForm.inc.php the notification types are defined that every user can subscribe to i.e. unsubscribe from. When a notification is created here https://github.com/pkp/pkp-lib/blob/master/classes/notification/PKPNotificationOperationManager.inc.php#L155, it will be checked if the user unsubscribed from that n

[2016-11-17 13:24] bozana commented on #1989
Hmmm... one more question: for the first 3 notification types i.e. when a submission is not assigned yet, which roles should be considered: only ROLE_ID_MANAGER or maybe also ROLE_ID_SECTION_EDITOR? And ROLE_ID_GUEST_EDITOR?

[2016-11-17 13:54] bozana commented on #1989
The notification types mentioned here can have a user -- it makes sense. I will also check for the others that currently have userId = null, but shall we maybe also consider something like `if userId == null then do not send email`, in such a case?

[2016-11-17 14:05] bozana commented on #1989
And now, that I had a look at the function sendNotificationEmail, if there is no user, the e-mail should not be set, s. https://github.com/pkp/pkp-lib/blob/master/classes/notification/PKPNotificationOperationManager.inc.php#L438. How is this then possible?

[2016-11-17 14:06] pkel opened #2006 "[OJS3] Native XML broken"
### 1.
[code]
I get this error message on export of an article out of ojs3. The article was exported from a migrated installation, then imported to a clean installation. Checking `submission_files` table brought me to the conclusion, that **the importer missed to do sanity checks on the specified upload user**, who does not exist in the clean installation. `submission_files.uploader_user_id` is `N

[2016-11-17 14:14] bozana commented on #1905
everything merged, closing...

[2016-11-17 14:14] #1905 closed

[2016-11-17 14:32] bozana commented on #1853
I changed the title of the issue, because there are more of the kind:
-- when submission is deleted (e.g. from unassigned queue)
-- when unpublishing a back issue, the back issue list is not updated
-- when publishing a future issue, the issue disappears from the future issue list, but it is not visible in the back issue list before reloading the page
-- when removing a participants from the list,

[2016-11-17 14:34] bozana commented on #2006
@pkel, the first two issues are considered here https://github.com/pkp/pkp-lib/issues/1709 and will be resolved with the latest PRs, that still have to be code reviewed and merged (s. https://github.com/pkp/pkp-lib/issues/1709#issuecomment-260763039)
Your 3. issue doesn't have to do anything with XML import/export and I added it to other reload issues, s. https://github.com/pkp/pkp-lib/issues/1853

[2016-11-17 14:42] #2006 closed

[2016-11-17 14:46] ctgraham commented on #333
I plan to implement this as:

- Remove any "p{1,2}[.]? *" prefix from the pages, per the problematic former documentation for the input field.
- Split the string on commas to identify non-contiguous ranges
- Split the substrings on dashes to identify contiguous ranges

There are existing functions Article::getStartingPage() and Article::getEndingPage() which assume integer returns.

This processin

[2016-11-17 15:21] bozana commented on #1989
Well, after testing all this now, I think there is no such problem :-) If there is no user the email will not be send. Thus, @asmecher, are you sure you have seen this issue occur? Maybe it is something else?

[2016-11-17 17:00] asmecher commented on #2002
That library (and all the applications that use it) are licensed under the GPL version 2. The license file is distributed in the application, and the pkp-lib library is bundled with it for distribution, hence `docs/COPYING` (the GPL license) is in the application repository but not the pkp-lib repository. Code headers in `pkp-lib` note that it's GPLv2, for what it's worth.

[2016-11-17 17:00] #2002 closed

[2016-11-17 17:27] asmecher commented on #1905
Belatedly: yes, thanks!

[2016-11-17 17:34] asmecher commented on #1709
Regarding https://github.com/pkp/pkp-lib/issues/1709#issuecomment-260763039: all reviewed, looks good! One small tweak needs doing (the constructor syntax). Could you try rebasing and making sure the lib-pkp submodule commit is up to date? I suspect that'll fix the tests. I'm not sure what's breaking there, but it's breaking consistently, which suggests it's not just a passing hiccough. This is a

[2016-11-17 17:42] asmecher commented on #1989
Thanks, @bozana, it looks like you're right -- I missed that check. I've asked for more information.

[2016-11-17 19:24] ajnyga commented on #1853
Just noticed that it's the same thing with most of these: if there are more than one item, the item is removed succesfully, but the last item needs a page refresh. I guess the same fetch-grid does not load in those cases?

[2016-11-17 20:02] ctgraham commented on #333
Proposed function:
[code]

[2016-11-18 04:20] OhnO395 opened #2007 "[ojs3][migrate] Can't load pdf."
i'm migrate data from 2.4.4-1 to 3.0.1 until finish, but i can't download .pdf file from new web.

old web (can download)
![image](https://cloud.githubusercontent.com/assets/3378704/20418522/cb8b9f7a-ad80-11e6-8a71-5fc9bbd4708c.png)

new web (It a blank)
![image](https://cloud.githubusercontent.com/assets/3378704/20418534/dc70f2ae-ad80-11e6-95a0-695a341e1d3b.png)

how to fix it?

thank you.

[2016-11-18 04:35] asmecher commented on #2007
@OhnO395, could you post this in the forum (searching first to see if you can find your answer in the posts that are already there)? If it turns out to be a bug, we can move it into this venue. http://forum.pkp.sfu.ca/

[2016-11-18 04:35] #2007 closed

[2016-11-18 11:38] bozana commented on #1989
I've just spoken with Carola, and I think this is not the issue, so it can be closed.
We realized that the notification NOTIFICATION_TYPE_SUBMISSION_SUBMITTED does not necessarily goes to all managers, which was expected and wished. The notification will be created only if there is no section/series editor and not only one/single user with the role ROLE_ID_MANAGER. Which is OK i.e. not buggy behav

[2016-11-18 12:17] NateWr commented on #1868
Latest PRs:
https://github.com/pkp/ojs/pull/1106
https://github.com/pkp/pkp-lib/pull/1898

It looks like your `pkp-lib` PR is pulling in some commits from Bozana. Is that intentional?

Sometimes, I find it is easiest just to restart from scratch. Checkout the `master` branch, make sure it's up-to-date, then create a new branch off of that. You can then cherry-pick in just the commits you want from

[2016-11-18 12:27] defstat commented on #1868
@NateWr No its not. It happened after the rebase of the pkp-lib branch on the master branch and resolving the conflicts...
OK I will make the changes on a new branch. Thanks.

[2016-11-18 12:36] #1601 closed

[2016-11-18 12:36] NateWr commented on #1601
Nice!

[2016-11-18 12:43] NateWr commented on #1762
Ok. Rebased and tests are running again. :)

[2016-11-18 12:47] NateWr commented on #1772
Re-kicked the tests on these. @bozana can you code review?

[2016-11-18 12:47] NateWr commented on #1856
I'm officially handing this one off, @asmecher. Check the previous comment for details.

[2016-11-18 13:14] defstat commented on #1868
@NateWr  I think its ok now
https://github.com/pkp/ojs/pull/1106

[2016-11-18 14:04] bozana commented on #1989
OK, we figured out what is going on for the e-mails that should be send by editors when clicking on "Send To Copyediting" and "Send To Production" -- they are not send if the author user is the same user as manager or editor, which might be right decision: here, only users with ROLE_ID_AUTHOR are searched for: https://github.com/pkp/pkp-lib/blob/master/controllers/modals/editorDecision/form/Editor

[2016-11-18 15:02] bozana commented on #1762
All merged... :-) Thanks!!!

[2016-11-18 16:44] asmecher commented on #1989
Thanks @bozana!

Yes, I agree that this is a better approach -- it would also resolve the problem of emails getting generated with empty recipient lists, which is a bug (and not just a policy).

Wouldn't the `SUBMISSION_ACK` email template meet that requirement already?

[2016-11-18 16:45] asmecher commented on #1856
Yup, thanks -- it's already waaaay up my to-do list.

[2016-11-18 17:28] bozana commented on #1989
Yes, it has the current user i.e. the submitter as recipient i.e. it always has a recipient. Shall this email template then be sent to the primary contact and specified e-mail address in the submission settings, although the e-mail text is then slightly different?

[2016-11-18 17:31] asmecher commented on #1989
Hmm, I don't have a strong preference here. Note that I just added the `SUBMISSION_ACK_NOT_USER` email template to git -- it was missing (never ported from OMP). On balance, I'd suggest using the `SUBMISSION_ACK` email.

[2016-11-18 19:17] asmecher commented on #333
@ctgraham, looks good -- and this might be a good candidate for some unit testing, if you have any interest in tinkering with that. Bet you never guessed you'd be writing code to parse language that's most of 3,000 years old...!

[2016-11-18 19:36] crism opened #2009 "[OMP] Bootstrap theme plugin for OMP 1.2"
The OJS Bootstrap plugin is fantastic. We’d like to be able to harmonize the design between our OMP and OJS installations… so let’s see if we can port the OJS plugin to OMP!

[2016-11-18 19:37] crism commented on #2009
@NateWr, @asmecher, @stranack—tagging at Alec’s suggestion.

[2016-11-18 19:47] ctgraham commented on #333
Yes!  I wanted to write a unit test for this, but when I searched the tests/ folder, I couldn't find anything to do with functional testing for Articles or for Submissions.  Where do I find them?

[2016-11-18 21:36] asmecher commented on #333
They'd probably be best placed in `tests/classes/article` for `Article.inc.php`, or `lib/pkp/tests/classes/submission` for `Submission.inc.php`. Neither of these exist yet.

[2016-11-18 21:44] asmecher commented on #2009
Thanks, @crism! Are you working with OMP master, `omp-stable-1_2_0`, or `omp-dev-1_2`? Various bits and pieces of the `master` branch have been back-ported to one or both of the other branches, and some remains only in `master`. We'll likely release our next OMP directly from `master`, in line with our plans to bring OMP and OJS together for simultaneous releases and decrease the amount each app s

[2016-11-18 22:16] crism commented on #2009
We’re currently running `omp-stable-1_2_0`, but can do development against whatever makes sense, as long as there’s a not-too-future stable release we can deploy it with.

[2016-11-19 00:26] asmecher commented on #1911
Not really, just that we assume throughout the code that it's `xx_YY` format. We need to relax that to support more diversity, and make sure that places assuming `xx_YY` will still behave nicely. @mtub, I think you were throwing around some proposals via email; would you mind putting the notes here for Kassim?

[2016-11-19 00:26] asmecher commented on #2009
What's your timeline for this? It's entirely possible that we'll release from `master` in time.

[2016-11-19 00:37] asmecher opened #2010 "Consider site-wide search (multi-journal)"
See http://forum.pkp.sfu.ca/t/ojs-global-search/651 -- apparently the search feature is currently only journal-specific in OJS 3.0. (We used to support global, multi-journal search in OJS 2.x.)

Consider fixing global search, unless there's a good reason not to provide it.

[2016-11-19 03:04] crism commented on #2009
Our timeline is ASAP, in a strict literal sense. We can start releasing content with a less-attractive façade, and announce the upgrade to great fanfare. `(-:`

[2016-11-20 18:57] ajnyga commented on #1782
Hi,

I noticed the same problem. In `review_form_element_settings` table the old OJS2 forms have I different array compared to the forms that are created with OJS2.

In `setting_name` "possibleResponses" I have two level arrays for the OJS2 forms:

And single level arrays for OJS3 forms in the same field:

So that is basically the reason that the old OJS2 show "array" as values after upgrading to

[2016-11-21 09:31] bozana commented on #1772
@NateWr, everything fine. A rebase seems to be needed, but then, it can be merged... Thanks!

[2016-11-21 11:59] NateWr commented on #1847
It looks like this is an issue with the `registerFormContexts.tpl` file, which only appears on the site-wide registration form. It doesn't check if registration has been disabled for each context.

https://github.com/pkp/pkp-lib/blob/master/templates/frontend/components/registrationFormContexts.tpl

[2016-11-21 12:36] NateWr commented on #2009
Hi @crism, sounds good! I'd love for someone else to take responsibility for the OMP version. :)

I suppose the question is the best way to manage shared code between the OMP and OJS version. Although there's quite a lot of overlap, to be honest I think where the themes overlap is also where you'll see very little code being changed over time. A lot of it is set-and-forget, like all the bootstrap

[2016-11-21 14:28] NateWr commented on #1868
HI @defstat, it looks like those commits from Bozana are still in the `pkp-lib` branch:

https://github.com/pkp/pkp-lib/pull/1898/commits

Are those supposed to be there?

[2016-11-21 14:38] defstat commented on #1868
@NateWr

The pkp/pkp-lib PR is https://github.com/pkp/pkp-lib/pull/2011
The pkp/ojs PR is https://github.com/pkp/ojs/pull/1106

I closed the https://github.com/pkp/pkp-lib/pull/1898 PR

[2016-11-21 14:41] NateWr commented on #1772
Ok, tests are running on rebase number six. :laughing:

[2016-11-21 15:03] NateWr commented on #1868
Ok, thanks! Yeah always drop a copy of the latest PRs or I lose track. :)

The `pkp-lib` PR looks good. I just made one review comment on the OJS PR, but once that's sorted you're ready to go.

Before merge, there will be a couple more things left to do:

1. Your https://github.com/pkp/ojs/pull/1106 has merge conflicts. It looks like it's just `lib/pkp` that is conflicting. Usually, that means you

[2016-11-21 15:05] bozana commented on #1989
PRs:
a) https://github.com/pkp/pkp-lib/pull/2012
b)
ojs: https://github.com/pkp/ojs/pull/1107
omp: https://github.com/pkp/omp/pull/359

@asmecher, could you take a look at the PRs?

[2016-11-21 15:32] NateWr commented on #1762
@asmecher I cherry-picked this into `ojs-stable-3_0_0`. I tried to cherry-pick it into `omp-stable-1_2_0` and `omp-dev-1_2`, but ran into a conflict:

[code]

That suggests that those two branches are missing some pretty critical commits from way, way back. That `SiteHandler` stuff was removed when we disconnected the frontend from the backend JS library.

To be honest, I don't feel like I have an

[2016-11-21 15:48] NateWr commented on #1740
New PR:
https://github.com/pkp/pkp-lib/pull/2014

Tests running at:
https://github.com/pkp/ojs/pull/1108

[2016-11-21 16:25] asmecher commented on #1762
Since this isn't a critical bugfix, and since we're releasing OJS 3.0.1 from `master` fairly soon, feel free to leave this one unported if it's going to take much investigation.

[2016-11-21 16:53] asmecher commented on #1989
Thanks, @bozana, this looks good. Additional authors might find the emails confusing if e.g. they haven't been assigned for workflow access, but we'll see if feedback bears that out. Go ahead!

[2016-11-21 16:57] bozana commented on #1989
Thanks @asmecher! Merged. I will then cherry-pick it to ojs-stable-3_0_0, omp-dev-1_2 and omp-stable-1_2_0 and then close the issue...

[2016-11-21 17:20] bozana commented on #1989
PR i.e. cherry-picks:
a)
ojs-stable-3_0_0: https://github.com/pkp/pkp-lib/pull/2017
omp-stable-1_2_0: https://github.com/pkp/pkp-lib/pull/2016
omp-dev-1_2: https://github.com/pkp/pkp-lib/pull/2015

b)
ojs-stable-3_0_0: https://github.com/pkp/ojs/pull/1109
omp-stable-1_2_0: https://github.com/pkp/omp/pull/360
omp-dev-1_2: https://github.com/pkp/omp/pull/361

[2016-11-21 17:56] NateWr commented on #1859
@asmecher I refactored the plugins to not use `contextDepth`, getting rid of `getSettingMainContext()` and some other stuff.

However, I did a search for `contextDepth` and found a lot of remnants of it deep in the system (Application, Router, etc) that I didn't want to touch. Not sure if you want to touch that or not but I don't think I should. :)

I've updated the PRs (tests running). Mind if I

[2016-11-21 18:02] NateWr commented on #1762
Ok, closing this issue then.

[2016-11-21 18:02] #1762 closed

[2016-11-21 18:04] asmecher commented on #1859
Sure, assign away. (Are the PRs the same as linked above?) I can take care of cleaning out the other context depth stuff -- there's a lot of ancient history to it.

[2016-11-21 18:04] asmecher commented on #1859
(@ctgraham, we spoke a little about this during the TC call.)

[2016-11-21 18:20] crism commented on #2009
@NateWr, that’s the direction I was thinking… refactoring will be “fun” afterward.

[2016-11-21 18:46] NateWr commented on #1859
@asmecher Yeah, still the same PRs in https://github.com/pkp/pkp-lib/issues/1859#issuecomment-260411934

[2016-11-21 18:49] ajnyga commented on #1740
Hi,

Have you tested the changed code with Safari as well? I just arranged 15 OJS3 workshops last week for our journals and basically with all Safari browsers only the drag and drop option worked for uploads. You could not select a file with Safari by pressing the button and searching for the file.

Many users also noticed the problem mentioned in this issue, so nice to hear that it is getting sol

[2016-11-21 22:08] bozana commented on #1989
everything merged, thus closing...

[2016-11-21 22:08] #1989 closed

[2016-11-21 22:17] bozana opened #2018 "Section and published article ordering"
Published article ordering should be per section and this is not always considered, e.g. when a published article changes section.
The function loadData in TocGridHandler does not consider the custom section ordering plus the section reordering does not function well.
The function setDefaultCustomSectionOrders in SectionDAO consideres all sections and not only those that exist in that issue.
The f

[2016-11-22 00:51] asmecher commented on #1782
I've done some exploration with both OJS 3.0 and OJS pre-3.0.1 (master) and can't replicate this behavior. Note that there's a part of the upgrade script (`fixReviewForms` in `classes/install/Upgrade.inc.php`) that takes care of OJS 2.x to 3.x migration; I wonder if that somehow wasn't executed?

[2016-11-22 01:15] #1846 closed

[2016-11-22 01:16] asmecher commented on #1892
Moving that last aspect of the issue to OJS 3.0.2.

[2016-11-22 01:18] jmacgreg commented on #1780
Sorry guys, I can't actually figure out what I was on about before. Closing for lack of internal clarity.

[2016-11-22 01:18] #1780 closed

[2016-11-22 01:18] asmecher commented on #1847
@NateWr, related: https://github.com/pkp/pkp-lib/issues/1892#issuecomment-257554502

[2016-11-22 01:36] jmacgreg commented on #1782
I can no longer seem to be able to replicate this either. I can't recall which OJS instance I was trying to upgrade, unfortunately.

[2016-11-22 04:56] ajnyga commented on #1782
Thanks @asmecher, I will check that code. I used the released OJS 3.0 for upgrading from 2.4.8.1. We have 45 journals and all the review forms had the same problem. This is of course something I can probably fix with a script even after the upgrade.

[2016-11-22 10:38] NateWr commented on #1740
Hi @ajnyga, no, I haven't tested on Safari. I don't have a Mac and I'm not aware of any solid VM for testing Safari. Unfortunately, Safari is the new IE8 in terms of browser issues.

Are you able to checkout the change to see if it works on Safari?

[2016-11-22 10:39] NateWr commented on #1740
@bozana, do you mind doing code review on this? The tests seemed to pass except for just one of the `pgsql` tests which seemed to [time out](https://travis-ci.org/pkp/ojs/jobs/177690101#L1819-L1834).

I'll rebase this to fix the `lib/pkp` conflict.

[2016-11-22 10:52] NateWr commented on #1772
Restarted the OJS tests which timed out...

[2016-11-22 12:03] NateWr commented on #1847
PRs:
https://github.com/pkp/pkp-lib/pull/2019
https://github.com/pkp/ojs/pull/1110
https://github.com/pkp/omp/pull/362

These PRs:
- Pass a `$contexts` variable to every template which only includes enabled contexts open for registration.
- Set the `$disableUserReg` flag in site-wide context when all contexts disable registration, so that registration links are hidden.
- Show an error message if t

[2016-11-22 12:06] NateWr commented on #1892
Just for future reference, some changes were made in https://github.com/pkp/pkp-lib/issues/592#issuecomment-255766456 but I think they only address site-wide registration when all contexts have `disableUserReg`. If no publicly-accessible journals exist, I think registration will still be reachable but incomplete-able.

[2016-11-22 12:41] distriker opened #2021 "OJS 3.0 only works fine with PHP 5.3 (not with 7)"
Hi everyone:
I am trying to use OJS 3.0 with PHP 7 but, after many attemps, I have discovered that it just works with PHP 5.3. Do you know how could I solve it or if exist a possibility to make a fork with OJS build-in PHP 7?

Thanks in advance.

Regards

[2016-11-22 12:42] bozana commented on #1740
@NateWr, would you correct those JS linting/compiling messages?

[2016-11-22 12:46] bozana commented on #1772
@NateWr, no idea why OJS tests are failing :-( Mind you rebase and push it again? :-(

[2016-11-22 12:56] WaDelma commented on #2021
OJS 3.0 should work with PHP 7. What error you get? Did you remember to switch your database driver to mysqli (Assuming you use mysql)?

[2016-11-22 13:02] distriker commented on #2021
Hi @WaDelma! Thank you for your answer. The error is:

[Here you have the full error](https://gist.github.com/distriker/ba8dbc3c971d9cc4e83f6d4bddc17b25).

I have checked in my control panel if I have activated mysqli and yes, it is activated.
Regards

[2016-11-22 13:07] WaDelma commented on #2021
Note: I haven't tried PHP 7 myself, but based on #1118 it should work.

You should be able to suppress those errors.

[2016-11-22 13:16] ajnyga commented on #1740
@NateWr thanks, I can do the testing with Safari and will report back how this works.

[2016-11-22 13:16] bozana commented on #1868
@defstat and @NateWr, just to make sure, that I understand the latest status of the issue: There are some missing changes in OJS and OMP should be considered as well, right?

[2016-11-22 13:41] defstat commented on #1868
@bozana There are three thinks (@NateWr could correct me if I am wrong):
1. missing changes in OJS
2. I must check if changes should be made to OMP (I haven't worked with OMP yet)
3. resolve ojs/PR conflicts

the current PRs are
The pkp/pkp-lib PR is #2011
The pkp/ojs PR is pkp/ojs#1106

[2016-11-22 13:47] distriker commented on #2021
I have set the driver to mysqli like vodou say, but the errors persists.

[2016-11-22 14:41] NateWr commented on #1737
I took a quick stab at this today by just consolidating the `.gitignore` directives into the global `.gitignore` file. But of course git them removes the cache directories and the caching system doesn't create them if they don't exist.

Seems like it shouldn't be too difficult to create the necessary directories on initial setup, but it's more then I want to bite off right now.

Punting to 3.0.2 u

[2016-11-22 14:54] NateWr commented on #1772
Hmm, I noticed that they all failed on the same `createIssue` test. I created an issue manually just to check and didn't have problems. I've restarted the OJS tests, but if they fail at the same place again, maybe there's something going on.

[2016-11-22 15:04] NateWr commented on #1740
Thanks @bozana, tests running again.

[2016-11-22 16:15] bozana commented on #1868
Thanks @defstat!

[2016-11-22 16:24] bozana commented on #1740
@NateWr, tests passed, I will merge...

[2016-11-22 16:28] bozana commented on #2018
PR:
ojs master: https://github.com/pkp/ojs/pull/1112

[2016-11-22 17:13] asmecher commented on #2021
@distriker, some tweaks were committed after the release of OJS 3.0. Those should be in the `ojs-stable-3_0_0` branch in git (both the `ojs` repo and the `pkp-lib` submodule). Those fixes will be released shortly in OJS 3.0.1.

[2016-11-22 17:13] #2021 closed

[2016-11-22 17:15] asmecher commented on #1737
Alternately, why not just make the cache clear functions more selective in what they remove?

[2016-11-22 17:26] bozana commented on #2018
@asmecher, could you take a look at this PR?

[2016-11-22 17:46] asmecher commented on #2018
I haven't tested it, but it looks good, @bozana -- if you've tested it, please go ahead!

[2016-11-22 17:51] bozana commented on #2018
Thanks a lot @asmecher! I merged it and will cherry-pick it to ojs-stable-3_0_0...

[2016-11-22 18:43] bozana commented on #2018
Everything merged, thus closing...

[2016-11-22 18:43] #2018 closed

[2016-11-22 19:16] asmecher opened #2022 "Add section to the submission filter form in the editorial back-end"
See http://forum.pkp.sfu.ca/t/ojs3-browsing-articles-by-section/25002 for details.

[2016-11-23 05:48] stranack opened #2023 "Remove "designation" from components"
This doesn't appear to serve any purpose, and can be confusing.

This applies to both OJS and OMP.

[2016-11-23 05:50] stranack opened #2024 "Remove "Allow files of this type to be sorted by chapter" from Component Options"
When creating or editing a component in OJS3, one of the Options is: "Allow files of this type to be sorted by chapter".

This appears to be OMP-specific, so should be removed from OJS 3.

[2016-11-23 05:56] mithunjj opened #2025 "[OJS] Unwanted emails are triggered"
After upgrading to OJS 3.0 from OJS 2.x, lots of mails are triggered to the root user.

<img width="1016" alt="ojs" src="https://cloud.githubusercontent.com/assets/5390465/20552299/90da3e3e-b16f-11e6-9f45-fb68dd5d4789.png">

I had followed this https://github.com/pkp/pkp-lib/issues/1838#issuecomment-251711066

But in vain.

Please help me with a fix.

[2016-11-23 09:30] defstat commented on #1868
@bozana

New PRs
OJS: https://github.com/pkp/ojs/pull/1114
pkp-lib: https://github.com/pkp/pkp-lib/pull/2026

[2016-11-23 17:22] bozana commented on #1868
Everything fine here, just if there is something to consider for OMP...

[2016-11-23 18:11] asmecher commented on #2025
@mithunjj, could you post this in our [support forum](http://pkp.sfu.ca/support/forum/) rather than here? If it turns out to be a new bug, we'll migrate it to an entry here instead.

[2016-11-23 18:11] #2025 closed

[2016-11-23 18:15] pkel commented on #2003
This problem is a general problem and is not due xml import. I will add a different issue.

[2016-11-23 19:39] asmecher commented on #1847
@NateWr, is this one ready to be assigned to someone for review?

[2016-11-23 22:40] asmecher commented on #1771
The "dependent" and "supplementary" designations are important for OJS too:

- "Dependent" files are e.g. CSS and images that go along with an HTML document
- "Supplementary" content flag is used for two things:
 - In OMP, whether or not the document gets included in GS indexing
 - In OJS, whether or not the document is considered a "component" (supplementary) rather than part of the "collection"

[2016-11-23 23:29] asmecher commented on #2009
@crism, I'd suggest working with the master branch. We're unlikely to introduce any "problematic" changes between now and the release of whatever OMP comes next, and the current master branch should be fairly stable (with stability issues expected to be trivial to fix). It'll give us concrete feedback to move us towards an OMP release, and in return, I can help backstop any problems you do encount

[2016-11-23 23:44] asmecher opened #2027 "Forward-port External Feed plugin to OJS 3"

[2016-11-24 00:36] asmecher opened #2028 "Make review forms import nicely into email"
...since emails have changed over to HTML-capable.

See http://forum.pkp.sfu.ca/t/ojs-3-reviewer-form-problems/24128/14 for details.

[2016-11-24 00:37] #2028 closed

[2016-11-24 09:58] NateWr commented on #1740
Yeah this should probably get cherry-picked since it's such a big problem for a couple browsers.

[2016-11-24 10:04] NateWr commented on #1847
Ooh, tests passed first try! @asmecher yep, ready for review.

@bozana, you seem to be getting lots done these days so I'll assign to you, but no worries if you're too busy.

[2016-11-24 11:12] bozana commented on #1847
No problem, I'll do... :-)

[2016-11-24 11:46] bozana commented on #1847
@NateWr, everything fine, except, that I do not understand this last point: "Only show role selection in user profile for contexts that haven't disabled registration". How is this supposed to behave? -- because I see no difference when on a users profile > roles page...
Also there is "+ Register with other journals"/"+ Hide other journals" on the users profile > roles page, but I cannot see there

[2016-11-24 13:49] bozana commented on #1868
I've just taken a look at OMP and if I see it correctly there is currently no place that this change should be considered. The only two places that eventually could be considered are the date text input fields here: controllers/grid/catalogEntry/form/marketForm.tpl and controllers/grid/catalogEntry/form/pubDateForm.tpl. But they maybe function in a different way? -- the date format is to be define

[2016-11-24 13:55] bozana commented on #1873
@NateWr, @stranack, @asmecher: any idea where to display them in OJS and OMP? Else maybe for 3.0.2?

[2016-11-24 13:56] bozana commented on #1740
@NateWr, will you cherry-pick it?

[2016-11-24 13:59] bozana commented on #1828
The 1. point is also in this issue (s. b)): https://github.com/pkp/pkp-lib/issues/1807.
The second I do not know what to do with :-\
The third, @NateWr, any ideas on that?
Else, maybe to deffer this to 3.0.2?

[2016-11-24 14:00] bozana commented on #1807
I am not familiar with those issues i.e. do not know the solution immediately, thus either someone else does or could we defer it to 3.0.2?

[2016-11-24 14:01] bozana commented on #1791
@ctgraham, @asmecher: because the 3.0.1 should come in a few days, can we defer this to 3.0.2?

[2016-11-24 14:59] defstat commented on #1868
@Bozana

new PR for pkp/pkp-lib: https://github.com/pkp/pkp-lib/pull/2030
same PR for pkp/ojs: https://github.com/pkp/ojs/pull/1114

[2016-11-24 15:32] Ph-We commented on #1828
As to the second, I could clarify that. Now entering a new keyword is 'physically' bound to certain keys. Whereas theoretically this should be bound to certain _characters_ (",", ";" etc) wherever they may be in the keyboard layout. So if this is a problem, I would propose to make 'ENTER' the only key that triggers a new keyword. Is it OK?

[2016-11-24 15:38] bozana commented on #1868
Everything merged, thanks @defstat, we can then close the issue...

[2016-11-24 15:38] #1868 closed

[2016-11-24 17:52] bozana commented on #1847
I merged this PR, but you could still see/explain me what is with the last point.... Should this be cherry-picked or closed? :-)

[2016-11-24 18:41] mtub commented on #1911
Hi @kaschioudi, our first use case would be going for these two locale names:

sr_RS@latin
sr_RS@cyrillic

(following the gettext example, see https://www.gnu.org/software/gettext/manual/html_node/Locale-Names.html)

[2016-11-24 21:02] bozana commented on #1933
PRs:
master: https://github.com/pkp/ojs/pull/1118

[2016-11-24 21:08] bozana commented on #1933
@asmecher could you take a look at the PR above?
@ctgraham, do you also think this concept/solution is OK so i.e. if there is something you think is not right in the concept? -- just to have one more person (that knows about the metrics) taking a look/thinking about it...
THANKS!!!

[2016-11-24 21:57] stranack opened #2032 "Revise wording in Workflow Settings"
In the Workflow Settings, under Notification of Author Submission, the text reads:

"Send a copy to the primary contact, identified in Setup Step 1."

We no longer have setup steps, so it should be reworded:

"Send a copy to the primary contact, identified in the Journal Settings."

This applies to OMP as well, where the text should read:

"Send a copy to the primary contact, identified in the Pre

[2016-11-25 08:39] isgrim opened #2033 "[OMP] Error in OAI ListRecords with previously published Submission"
Dear PKP Team,

I found an issue with OAI and ListRecords if there exists a Submission which was previously published but later removed from the catalog, but with the publication formats still marked as "available".
I tracked the issue down to a query for the OAI records, the publication formats of the submission will be returned twice, one time from the tombstone entries marking the deletion and

[2016-11-25 15:40] #2032 closed

[2016-11-25 15:43] asmecher commented on #2033
Thanks, @isgrim -- I agree with your diagnosis. I was hoping to get a DB dump from another user with the same issue (http://forum.pkp.sfu.ca/t/omp-oai-pmh-problems/22458/4) but let me try to come up with a patch and if you're able to test it that would be very helpful.

[2016-11-25 16:07] asmecher commented on #2033
@isgrim, the quickest solution to this appears to be to make a few previously-optional (`LEFT`) joins mandatory; see https://github.com/pkp/omp/commit/6067facae4265d621c223e512d9c35908375251a for details. Could you give this a try it and report back whether it works as expected?

[2016-11-25 16:07] asmecher commented on #1807
Agreed!

[2016-11-25 16:07] asmecher commented on #1791
Agreed!

[2016-11-25 18:27] stranack opened #2034 "Disable "Type" metadata by default"
When setting up a new journal, in the Submission Metadata section, both Keywords and Type are selected by default.

Can we uncheck both boxes for Type by default? This is one of the most confusing metadata fields.

[2016-11-25 18:34] stranack opened #2035 "Plugin - "Hosted By PKP|PS" Block"
This shouldn't be shipped with the release. This should only be available to PKP|PS staff.

[2016-11-25 18:38] stranack opened #2036 "Components - Restore Defaults Doesn't Work"
I removed a couple of the default components, and then hit Restore Defaults to bring them back.

It doesn't appear to have done anything to restore those.

[2016-11-25 18:42] asmecher commented on #2034
Done!

[2016-11-25 18:42] #2034 closed

[2016-11-25 18:43] asmecher commented on #2035
I don't think it is shipped within OJS. Where are you seeing it?

[2016-11-25 18:49] stranack opened #2037 "Website Settings > Appearance > Lists"
Could we consider getting rid of the lists configuration?

It is used much less now (e.g., Emails), users can configure the Items per Page on the list itself now, and the configuration option has always been confusing for users during initial setup.

Also, the Page Links doesn't seem to work. I set it to "3", saved, but the email list still had 7 page links.

[2016-11-25 18:57] asmecher commented on #1828
@Ph-We, with the 3rd-party control (Tag-It) that we're using, changing key-bindings unfortunately isn't an option. It might be possible to find a more flexible control, but it's potentially a lot of work. One option might be to contribute back to the upstream project to add support for keybinding flexibility, but long story short, it's not an easy change.

[2016-11-25 18:57] asmecher commented on #1873
This is something I've forgotten to raise during the UI/UX call for several weeks running. Deferring to 3.0.2. Definitely could use some input from Kevin and Nate on this one.

[2016-11-25 18:58] asmecher commented on #1859
Moving to 3.0.2 -- a little too disruptive for a late-stage merge into `master` for 3.0.1.

[2016-11-25 20:29] asmecher commented on #1847
Way to punish good behavior!

[2016-11-25 21:11] bozana commented on #1847
I don't see/feel it that way, so no worries... :-)

[2016-11-25 21:37] stranack commented on #2035
http://journals.sfu.ca/capetown2016/index.php/cjsa/management/settings/website

OK, it might be part of the PKP|PS installation script.

[2016-11-25 21:50] asmecher commented on #2035
Yep, I think so!

[2016-11-25 21:50] #2035 closed

[2016-11-25 22:15] bozana commented on #1771
Yes correct!
Just a note, for me or someone else, to remember/find it more easy, in OJS:
1) in CrossRef plugin: component vx. collection: s. https://github.com/pkp/ojs/blob/master/plugins/importexport/crossref/filter/ArticleCrossrefXmlFilter.inc.php#L166-L194
2) in DataCite plugin: s. https://github.com/pkp/ojs/blob/master/plugins/importexport/datacite/filter/DataciteXmlFilter.inc.php#L403-L407
@a

[2016-11-25 22:17] asmecher commented on #1771
Don't be silly, I have to write down my own birthday.

[2016-11-25 22:18] bozana commented on #1771
:-DDD OK, I am relieved... But, who knows, maybe you can keep this kind of information but not your birthday :-)

[2016-11-25 22:20] asmecher commented on #1933
Merged, thanks, @bozana!

[2016-11-25 22:20] #1933 closed

[2016-11-25 22:21] asmecher commented on #1723
Moving off to OJS 3.0.2.

[2016-11-25 22:23] asmecher commented on #1772
Moving to 3.0.2.

[2016-11-28 10:45] NateWr commented on #1873
A few ideas off the top of my head, not sure if they're worth much:

1. If this is something very common or that a lot of journal editors are looking at upon immediate submission, we could consider adding a link the submissions list which appears for editors (Delete | More Information | Comments for the Editor).

2. If I were an editor, I feel like my first instinct would be to look under the Meta

[2016-11-28 11:16] NateWr commented on #1740
Cherry-picked!

[2016-11-28 11:42] pkel opened #2038 "OJS update to 3.0.1-0 fails due INSERT"
For my installation the upgrade from 3.0.0 to 3.0.1-0 failed. Problematic was a unique key violation during the inserts in `dbscripts/xml/upgrade/3.0.1_update.xml`. Both plugins already had an entry.
Replacing `INSERT` with `INSERT IGNORE` fixes the problem.

[code]

[2016-11-28 11:44] NateWr opened #2039 "Role selection in other journals on user profile page broken"
When a user access their user profile page from within a journal context, role selection for other journals is hidden in a RevealMore UI control. However, no other journals are ever listed, even when they should be.

This could be a bug introduced with #1847.

[2016-11-28 11:46] NateWr commented on #1847
The role selection seems to show properly when in the site-wide context (ie - it only shows role selection for journals which allow user registrations). But when on a specific journal, other journals are supposed to be hidden in the "other journals" UI control, but none seem to be getting shown.

I'm not sure if this was caused by this change, but I've filed a new issue for it. #2039

I'm thinking

[2016-11-28 11:46] #1847 closed

[2016-11-28 11:54] NateWr commented on #1772
@asmecher The tests seem to be failing on the `createIssue` task. However, they don't include any information. They seem to be timing out here.

https://travis-ci.org/pkp/ojs/builds/177992614

I've created an issue manually to see if I could spot any problem but didn't see anything. Do you have any ideas?

[2016-11-28 12:04] NateWr commented on #1859
(updated for a fix identified by the tests. tests running again.)

[2016-11-28 12:25] Ph-We commented on #1709
Hi @bozana, @asmecher,

The schema names seem to be different in the database and in the code, so the procedure fails.

[2016-11-28 15:53] asmecher commented on #2038
@pkel, this is probably because you had a pre-release version of OJS 3.0.1 installed (or manually installed those plugins). Your work-around is fine, but because `INSERT IGNORE` is a MySQL-specific SQL extension (and not supported e.g. under PostgreSQL) we're unlikely to merge it in.

[2016-11-28 15:53] #2038 closed

[2016-11-28 19:01] NateWr commented on #1934
@bozana I'm having some trouble with localized article images. I'm trying to update the bootstrap theme to support hte localized images: https://github.com/NateWr/bootstrap3/issues/43

However, I'm getting a Fatal Error when `$article->getLocalizedCoverImage()` is called on an article with an image that was uploaded before this change was in place.

[code]

I also found that I don't see the existi

[2016-11-28 20:46] novikoffav commented on #1828
Hi, In my OJS 3.0.1 also no keywords on article page. How to fix it?

[2016-11-28 21:31] asmecher commented on #2022
PRs:
- https://github.com/pkp/pkp-lib/pull/2041
- https://github.com/pkp/ojs/pull/1120
- https://github.com/pkp/omp/pull/363

@kaschioudi, could you review this one?

[2016-11-28 21:55] asmecher commented on #1828
@novikoffav, this issue is scheduled for OJS 3.0.2, so keywords won't be displayed on article pages until that release. If you want, watch this issue and when it gets some developer attention you can be notified (and possibly apply the changes to your own install).

[2016-11-29 06:56] Ph-We commented on #1828
Hi @asmecher,
How can I track the issue with keywords not being included into DC/GS metadata. It was removed from here (see 3) into another one, then renamed and so still has not been solved. Thank you!

[2016-11-29 08:30] isgrim commented on #2033
@asmecher Thanks Alec, I will give this a try!

[2016-11-29 09:37] isgrim commented on #2033
@asmecher
Sorry, this did not help. If the publication format for the unpublished submission is still marked as available, the fatal error during ListRecords still occurs with these changes. If I make the publication format unavailable the ListRecords query is successful but does not contain any tombstones for deleted records.

I checked which query was actually executed, using database debug outp

[2016-11-29 10:54] judgej commented on #1838
Just for other peope trying to resolve this problem (and for myself), what exactly are the final changes that need to be made on 3.0.0?

[2016-11-29 11:05] NateWr commented on #1828
@Ph-We On the right sidebar of the issue (#1815) you'll see a Subscribe button you can use to get notifications of any changes to that issue.

[2016-11-29 11:38] NateWr commented on #1934
I was able to upgrade the database, though I had to manually set the core version to 3.0.0 and then upgrade to 3.0.1 (`php tools/upgrade.php upgrade`). However, the old cover image data doesn't seem to have been upgraded.

Here's a database entry for two submissions. ID `9` has a cover image uploaded before the changes and ID `10` has one uploaded after the changes:

[code]

Did I miss an upgrade

[2016-11-29 12:27] ajnyga commented on #1740
Hi,

This does not fix the issue with Safari. Only drag and drop works. I will open a new issue on this later today.

[2016-11-29 12:35] Ph-We commented on #1828
Hi @NateWr, I know, thanks. But that issue is not labeled as OJS related. And it is not related to keywords.

[2016-11-29 14:48] NateWr opened #2042 "Add theme api methods for manipulating parent scripts, styles and options"
Child Themes should be able to de-register scripts, styles and options from a Parent Theme.

[2016-11-29 14:54] NateWr commented on #2042
PR:
https://github.com/pkp/pkp-lib/pull/2043

Tests Only:
https://github.com/pkp/ojs/pull/1121

[2016-11-29 16:46] NateWr opened #2044 "Article cover images don't appear in search results"
Article cover images aren't displayed in search results because the template variable, `$coverImagePath`, used in `/templates/frontend/objects/article_summary.tpl`, is only available in the issue templates.

We can add this variable to the search templates, but it won't work if we ever decide to add site-wide, cross-journal searching.

I'd like to add a new method to `Article` and `Issue` objects,

[2016-11-29 17:10] NateWr commented on #2044
PRs (tests running):
https://github.com/pkp/ojs/pull/1122
https://github.com/NateWr/bootstrap3/pull/46

[2016-11-29 17:48] asmecher opened #2045 "Review form elements are brought into email draft despite inclusion flag status"
See http://forum.pkp.sfu.ca/t/how-to-setup-a-review-form-so-that-it-does-not-get-included-in-email-to-the-author/25551 for details.

[2016-11-29 17:49] #2045 closed

[2016-11-29 17:57] asmecher commented on #1934
@bozana is probably not going to be available for a few days -- reopening the issue for a bit.

[2016-11-29 19:05] asmecher commented on #1873
From an editor's perspective, I think I'd expect to see it upon entering the Submission stage as a (maybe dismissable) notification. I don't think mixing it with the scholarly metadata makes logical sense, although I agree that it was the first place I looked when considering where to put it.

[2016-11-29 22:06] asmecher opened #2046 "Fix scheduled tasks tool constructor syntax"
See http://forum.pkp.sfu.ca/t/runscheduledtasks-php-fails-in-ojs-3-0-1-call-to-undefined-method-scheduledtasktool-scheduledtasktool/25698/2 for details.

[2016-11-29 22:06] #2046 closed

[2016-11-29 22:07] asmecher commented on #2046
Commits:
- https://github.com/pkp/omp/commit/ce360acdb70d68e999d35938c3bd25b5971dd62e
- https://github.com/pkp/ojs/commit/129016e8c296543dffed4ad7e3e3a895cfb701c7

[2016-11-30 12:50] ajnyga opened #2047 "[OJS] Submission notes visible for authors in OJS 3.0"
If I have understood correctly, submission notes should only be visible for editorial staff?

However, If I log in with an author role and look for my submission on the "My authored" list, I can access the submission notes by clicking the blue triangle => "More information".

This gives me an error "The current role does not have access to this operation.", but after clicking OK and again OK for a

[2016-11-30 13:36] ajnyga commented on #1873
Before reading this I was convinced that the comments would be available in "Pre-Review Discussions". Basically a message from the author. Is there a reason why you are not considering this option?

[2016-11-30 15:12] mfelczak commented on #1838
Hi @judgej, I've updated the instructions above (https://github.com/pkp/pkp-lib/issues/1838#issuecomment-263539251) to include a summary of all of the necessary steps to fix this issue in an OJS 3.0.0 install.

[2016-11-30 16:12] asmecher opened #2048 "Add setting for site-wide Google Analytics tracking"
See http://forum.pkp.sfu.ca/t/where-can-i-put-the-id-of-google-analytics/25818 for details.

[2016-11-30 16:41] ctgraham commented on #2048
I'm working on this within the context of https://github.com/pkp/pkp-lib/issues/1923 .

This should most certainly *not* be a config.inc.php setting.

[2016-11-30 17:41] asmecher commented on #2048
@ctgraham, gotcha -- that's just been a convenient fallback based on the OJS 2.x site/journal config division. Improvements welcome of course.

[2016-11-30 18:08] asmecher opened #2049 "Respect "editor only" section flag on submission process"
See http://forum.pkp.sfu.ca/t/option-to-archive-journals-instead-of-remove/25214/7 for details.

[2016-11-30 18:09] #2049 closed

[2016-11-30 19:49] asmecher opened #2050 "Don't expose front-end URLs via OAI when publishing disabled"
See http://forum.pkp.sfu.ca/t/oai-pmh-and-access-to-journal-content-in-ojs-3-0/25809/3 for details.

[2016-11-30 20:41] asmecher commented on #2042
Don't forget to assign someone to review these when they're ready!

[2016-11-30 20:50] jmacgreg opened #2051 "Add custom review forms to reviews report"
Custom review forms aren't currently included in the "Comments" column of the Reviews report. Consider adding.

[2016-11-30 20:54] asmecher commented on #1828
@Ph-We, regarding:

Where do you expect to see them in the OAI interface (i.e. what DC element)?

[2016-11-30 22:49] asmecher opened #2052 "Permit new decisions to restore archived submissions to active queue"
See http://forum.pkp.sfu.ca/t/how-to-revert-a-declined-paper-back-in-submissions-ojs3/25294/2 for details.

[2016-11-30 23:17] asmecher opened #2053 "Editor assign email template not available on Submission stage"
See http://forum.pkp.sfu.ca/t/ojs-3-editorial-assignment-email-not-showing/24383 for details.

[2016-11-30 23:20] asmecher commented on #2053
Committed to master; not back-ported to `ojs-stable-3_0_1` pending feedback.

[2016-12-01 00:29] asmecher commented on #1873
@ajnyga, that is a good suggestion.

[2016-12-01 00:50] asmecher commented on #2033
Ah, @isgrim, it looks like one more SQL change was required -- try adding https://github.com/asmecher/omp/commit/ebcc8e127ccde54caa56a653822624e48c816995 as well. I've reproduced the problem locally and this additional change appears to get it.

[2016-12-01 00:51] asmecher commented on #2033
(Note to self: NOT MERGED pending feedback/testing.)

[2016-12-01 00:52] asmecher commented on #2039
@NateWr, mind if I leave this one with you?

[2016-12-01 00:57] asmecher commented on #1772
@NateWr, your `lib/pkp` submodule is old and needs a rebase -- it's missing some of Bozana's more recent changes that are already in your OJS branch. Once it's rebased it'll run (I've tested locally).

[2016-12-01 06:24] Ph-We commented on #1828
Hi @asmecher,

I am talking about DC/GS metadata in OJS 3. In OJS 2 those looked like this:

`<meta name="citation_keywords" xml:lang="en" content="democracy"/>
<meta name="citation_keywords" xml:lang="en" content="politics"/>`

So it was not a DC element. It was HighWire, adopted by Google Scholar. And that is correct if we are talking about indexing in GS.

[2016-12-01 12:04] bozana commented on #1934
@NateWr, this upgrade script change should actually consider the old and unlocalized cover images: https://github.com/bozana/ojs/commit/493d18dc2cece5c78cf39dd6caf1a6e63db8a221#diff-694ad44b2764303882d41942f9516d5e. Thus, I wonder why this do not change the submission 9 :-O And I wonder since when is the other entry with the aray value for the coverImage for submission 10 there -- because also in

[2016-12-01 12:47] bozana commented on #1709
@Ph-We, how do you see that i.e. what errors do you see? THANKS!!!

[2016-12-01 13:07] bozana commented on #1828
If I understand it correctly, there should then be added something like this, but for keywords, or this replaced with keywords: https://github.com/pkp/ojs/blob/master/plugins/generic/googleScholar/GoogleScholarPlugin.inc.php#L102-L106 -- the keywords are apparently not get in the same way, with getSubject, as in 2.4.x, but with getKeywords in SubmissionKeywordDAO, right @asmecher?

[2016-12-01 14:52] Ph-We commented on #1828
UPD: Actually, in OJS 2 keywords were written both as HighWire (GS) and Dublin Core. The latter looked like this:
[code]
And that was correct too.

[2016-12-01 18:13] asmecher commented on #1828
Hmm, it looks like we have options for both Keywords and Subjects in OJS 3, and the Subjects field behaves as you expect WRT indexing, but Keywords does not. I don't recall any reasoning for having both of these -- I suppose it's possible that we merged OMP and OJS 2.x metadata concerns and ended up with redundant fields?

[2016-12-01 18:34] Ph-We commented on #1828
Hi @asmecher,
It is recommended to add DC to HighWire, since the latter does not describe some resources (including articles) fully. There is no redundancy here (if I get what you mean).

[2016-12-01 19:29] firas4431 opened #2054 "[OJS]Add new step in submission"
hi

i need to add new step to the 5 steps in the submission the file and the result come and see in the editor and section Reviewers in ojs "in result become 6 steps" because the policies of the journal need that,
i can create the form in new step and store the data in table in db but i can't insert this step in five step and also can't put the link to this information in editing page and section

[2016-12-01 20:01] crism opened #2055 "[OJS] Uploaded files are sometimes missing from filesystem"
With version 3.0.0-0… a user is uploading images associated with articles. For some reason, the user tries to upload a redundant copy of an image, which OJS guesses is a revision of the first image, and creates a new revision in the database. However, no file is created in the filesystem, which leads to later errors, as there is no file with the calculated filename.

I’m working with the user to c

[2016-12-01 20:04] crism opened #2056 "[OJS] missing files cause crashes and other bad behavior"
With version 3.0.0-0… as reported in #2055, sometimes a file is not present on the filesystem, though there is an entry for it in the database. Attempting to download or view the files causes a 500 Internal Server Error. Promoting a submission to review causes the missing files to be skipped. Errors are logged on the server, but the user is left with little information to act on (in this case, att

[2016-12-01 20:24] crism commented on #2055
It looks like this was triggered by very similarly-named illustrations. _E.g._, user uploads `illustration with long name 1.jpg`, and all is well. User then uploads `illustration with long name 2.jpg`; OJS presumes by the similar filename that this is a revision of the first file. The user, not facile with OJS yet, doesn’t notice and proceeds.

Obviously, that wouldn’t produce the desired results,

[2016-12-02 00:26] cziaarm opened #2057 "[OMP] Featured and New release checkboxes failing"
Hello,

Just tried this on a newly installed OMP with a single monograph submitted. Trying to use the "featured" or "new relase" check box on http://..../index.php/test/manageCatalog results in the error below.

Thanks,

Rory

PHP Fatal error:  Call to a member function getId() on a non-object in /home/cziaarm/PKP/OMP-VENDOR/controllers/grid/manageCatalog/CatalogMonographsGridHandler.inc.php on li

[2016-12-02 01:03] asmecher opened #2058 "JQuery Validator needs language specified"
See http://forum.pkp.sfu.ca/t/ojs3-french-canadian-translation/24365/5.
The configuration directive that's needed for `.validate()` is [documented here](http://stackoverflow.com/questions/6181886/how-to-change-jquery-validator-language-message).

[2016-12-02 01:06] asmecher commented on #2057
@cziaarm, what version of OMP are you using?

[2016-12-02 11:34] WaDelma opened #2059 "ORCIDs are saved into database as whole URI."
Currently ORCIDs are asked to be written with whole URI (http://orcid.org/****-****-****-****) and saved as such into database.

orcid.org allows using `https` so the better way to display links to ORCIDs would be: 'https://orcid.org/****-****-****-****'.

I could remove that prefix and substitute it with the `https` version, but the bigger problem is that OJS is saving ORCIDs as URIs in database:

[2016-12-02 12:10] isgrim commented on #2033
Thanks @asmecher .
That change seems to have fixed the error. Do you think this fix is safe to use in a production evironment or should we wait a littler longer until more feedback comes?

[2016-12-02 16:46] asmecher commented on #2059
@WaDelma, ORCID seems to require the use of complete, `http` URLs according to its guidelines:
https://orcid.org/trademark-and-id-display-guidelines
I suspect they'll probably move over to `https` at some point, but until they do, I'd like to stick to their standards.

[2016-12-02 16:47] asmecher commented on #2033
I've tested it locally, and your feedback is a good additional check. It's a small, uncomplicated change. Long story short: you're safe to use it in production, and I'll merge it into our git repos for release in whatever OMP comes next. Thanks!

[2016-12-02 16:49] #2033 closed

[2016-12-02 17:18] WaDelma commented on #2059
Well the URL can be constructed in front end and not saved in the database.

It's also kinda strange that OSJ asks the ORCID as URL even though it's not necessary.

[2016-12-02 17:53] mtub commented on #2059
@asmecher, just adding my two cents here...

The ORCID guidelines cover the display of ORCID identifiers, they do not forbid that we ask for (and store) ORCID iDs in a bare, non-URI format. Also, the guidelines merely recommend

which I read as protocol-agnostic (though all examples are http and in some older document they explicitly sag "http-URI". My favorite way of handling ORCID iDs would be:

[2016-12-02 18:36] asmecher commented on #2059
Hi all -- have a look at this prior Bugzilla entry:
https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8963

[2016-12-02 19:47] dtwardy opened #2060 "[OJS] Upgrade Tool upgrade.php shows wrong version as latest"
When using the command line tool (../tools/upgrade.php) the tool lists OJS 2.4.8.1 as latest version. Since I'm upgrading from OJS 3.0.0 to OJS 3.0.1 this behaviour doesn't make any sense. I suppose a variable hasn't been updated?

I've checked this with a fresh OJS 3.0.0 installation so no legacy problems.

[2016-12-02 19:49] asmecher commented on #2060
@dtwardy, that's an XML document on the PKP website. I was hesitant to throw this over to 3.0.0 as of the initial release of that version, but now that we've released 3.0.1 and that's proven reasonably stable I'll likely update it within the next week or so. There's no implication for your local install.

[2016-12-02 19:49] #2060 closed

[2016-12-02 19:51] dtwardy commented on #2060
Ok, great.

[2016-12-02 21:13] jalperin opened #2061 "Do an audit of internal (editorial) stats using "real" data"
There may be cases where the stats being produced by the stats plugins are producing inaccurate results because the users didn't "do the right thing" (i.e., something was published without registering an editorial decision).

Specific activities:
- [ ] Could contact Alex from SciELO for some specific examples of problems
- [ ] Consult some clients on what statistics they want
- [ ] Review existing

[2016-12-02 22:16] asmecher commented on #2061
@jalperin, these are all good things to do but are pretty vague. They'll be likelier to move up the priority list if there are specific problems you can identify.

[2016-12-02 22:18] jalperin commented on #2061
I don't have the specifics, but this has been raised as an issue, and we
should spend some time to explore it. The first two tasks are to contact
users for specifics.

On Dec 2, 2016 14:16, "Alec Smecher" <notifications@github.com> wrote:

[2016-12-02 22:21] asmecher commented on #2061
Is there an email thread or something with Scielo that provides context?

[2016-12-02 22:23] jalperin commented on #2061
Stems from my meeting with them. Will ask their Alex to comment here (task
one!)

On Dec 2, 2016 14:21, "Alec Smecher" <notifications@github.com> wrote:

[2016-12-05 06:51] WaDelma commented on #2059
Okay. I still would prefer saving only the ID part in database so changing it's display wouldn't need database changes.

[2016-12-05 07:09] HighwayStar commented on #1504
I have same issue trying to run ojs from current master behinnd ssl nginx.

Got following console log in chromium on main page
[code]

I have following frontend nginx config
[code]
and following backend (non-ssl) nginx

[code]

[2016-12-05 07:20] WaDelma commented on #2059
Apparently ORCID is working on changing to https, but it will take some time: http://support.orcid.org/forums/175591-orcid-ideas-forum/suggestions/7018328-use-https-by-default
That Trello link in there doesn't seem to work, so can't see how far along they are.

[2016-12-05 10:31] cziaarm commented on #2057
Hello,

This was from development  ff81202fa1f44cfc2a8aebb508639b9e1ee47332 to be precise.

Cheers,

Rory

[2016-12-05 13:43] bozana commented on #1828
@asmecher, maybe current subject field/metadata means the earlier subject classification filed/metadata?

[2016-12-05 13:58] bozana commented on #2054
Are you just changing and adding the code or developing this in a plugin? Also, could you maybe try to better explain what exactly you would like to do, where to put/insert what? I think this question would better fit in the support forum, that in the GitHub Issues...

[2016-12-05 14:04] ctgraham commented on #2054
See: http://forum.pkp.sfu.ca/t/add-new-step-in-submission/25895

[2016-12-05 14:12] bozana commented on #2054
Ah, thanks @ctgraham, thus the issue can be closed...

[2016-12-05 14:12] #2054 closed

[2016-12-05 15:52] bozana commented on #850
Hi @ajnyga, I finally managed to test the registration and it worked well. I will now make some refinements and cleaning and will then push everything again. If you could then maybe test it as well, it would be great! I will let you know... THANKS!!!

[2016-12-05 16:24] mittinatten opened #2062 "Problems upgrading from OJS 3.0 to 3.0.1 with PostgreSQL"
I had some problems upgrading from OJS 3.0 to 3.0.1 on a Postgres 9.2.18 databse. The following comit seemed to fix the problem https://github.com/ubbdst/ojs/commit/6c199a82b72cad73dadf15a0cfce42ad19c03539 (you can ignore the ArticleDAO-part, that was a fix for failed merge that was mistakenly included in the same commit).

I haven't verified that everything works as expected because I also had ot

[2016-12-05 16:50] Ph-We commented on #1828
@bozana, @asmecher,

**DC.Subject** is just the same as **citation_keywords**. I mean, **DC.Subject** is the field for keywords in Dublin Core (DC). And it is absolutely OK, they go together. That is the way they should be :)

[2016-12-05 18:10] alappe opened #2063 "[OJS] Problems with native xml import"
Aloha,

I'm running OJS 3.0.1 on PHP 7.0.13. When trying to use the native import function, I do get the error

when I try it with the provided `testissue.xml` from the `tests/functional` directory. Using `xmllint --valid $FILE`, it complains about the missing DTD. When adding `<!DOCTYPE issue PUBLIC "-//PKP//OJS Articles and Issues XML//EN" "http://pkp.sfu.ca/ojs/dtds/native.dtd">`, it results in

[2016-12-05 18:53] ajnyga commented on #850
Hi, good to know. I did a couple of test as well around a week ago and everything worked fine at least with the test server. Let me know when you are done cleaning and I will test again. It would be great to have this in 3.0.2

[2016-12-05 18:55] asmecher commented on #2063
Hi, @alappe -- we changed "native" XML formats between OJS 2.x and 3.x; the DTD describes the schema for OJS 2.x import/exports, and for OJS 3.x we're using an XSD (XML schema) based descriptor. You can find this in `plugins/importexport/native/native.xsd` and `lib/pkp/plugins/importexport/native/pkp-native.xsd`, and there's sample XML in `plugins/importexport/native/tests/functional/testissue.xml

[2016-12-05 19:03] alappe commented on #2063
Hey @asmecher,

thanks for the quick reply. But that means I should be able to import the `plugins/importexport/native/tests/functional/testissue.xml` into the 3.0.1, right? Because that also fails with:

[2016-12-05 19:07] bozana commented on #2063
@alappe, that test XML is not updated, thus you will not be able to import it. You could use `tests/data/60-content/issue.xml` instead, but you will have to have the user group "Author" in your installation, because it is used in this example XML file.

[2016-12-05 19:08] alappe commented on #2063
Ah, perfect… this should help me to get my actual xml runnig… thanks @bozana!

[2016-12-05 19:16] asmecher commented on #2059
@WaDelma, I suspect they'll update their policies in order to permit `https` URLs, and at that point I agree it might make sense to just store the ID part. I'd just rather not second-guess their plans until then, and for now, they're fixed to `http` URLs. So yes, I think we're probably agreed on approach and reasoning, just perhaps not on timing :)

[2016-12-05 19:48] bozana commented on #850
@ajnyga, I pushed the new version, so it's all yours for testing :-))) /* I squished all the commits into 3, for an easier code review later */

[2016-12-05 20:16] ajnyga commented on #850
Great, it is a public holiday tomorrow in Finland, but I will take a look on Wednesday.

[2016-12-05 20:50] asmecher commented on #2057
Thanks, @cziaarm -- I've just committed a fix to this; please let me know if that resolves the issue for you.

[2016-12-05 21:17] WaDelma commented on #2059
Fair enough. I was just kinda shocked that ORCID iDs were in URL form in the database :P

[2016-12-05 22:18] asmecher opened #2064 "Standardize emailed URL handling"
Some emailed URLs rely upon the email variable including the `<a href="...">...</a>` markup being included in the variable. (See `EditorDecisionWithEmailForm::initData`.) Others assume the email template will provide the markup.

For the sake of allowing the submission URL to appear in TinyMCE fields as a "pretty" variable, the markup should be included in the variable.

This is currently not done

[2016-12-06 09:50] Ph-We commented on #2062
We had to use MySQL instead of PostgreSQL because of those issues.

[2016-12-06 10:46] HighwayStar commented on #1504
I found that problem caused by lofic inside getBaseUrl() function
[code]

allowProtocolRelative now always false, (I cant find use of this function in ojs with parameter spicified),.

If set default parameter $allowProtocolRelative = false   ssl works as expected. Are there any side effects?

[2016-12-06 12:21] bozana commented on #2063
@alappe, one more thing: the `uploader` (from the `revision` element) will also have to exist in your installation...

[2016-12-06 14:16] ctgraham commented on #333
Test is written.

[2016-12-06 15:15] bozana commented on #1726
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2066
ojs master: https://github.com/pkp/ojs/pull/1124 (remove unused localele keys + submodule update)
omp master: https://github.com/pkp/omp/pull/365 (just submodule update)

[2016-12-06 15:51] asmecher commented on #333
@ctgraham, is there a PR open for this? If so, mind dropping a link here?

[2016-12-06 16:13] ctgraham opened #2068 "DOI Export Plugin assertion "register" is noisy"
This line asserts a user variable rather than a boolean:
https://github.com/pkp/ojs/blob/1581c87595ebbb84df8b59d4fec26084cb4ef009/plugins/importexport/datacite/classes/DOIExportPlugin.inc.php#L242

The intent is to assert that there is content in the user variable, not that the user variable is a boolean true.

[2016-12-06 16:27] bozana commented on #1726
@asmecher, could you take a look at the PRs above?

[2016-12-06 16:47] ctgraham commented on #333
Cap'n!  There be pulls here!

[2016-12-07 09:49] cziaarm commented on #2057
@asmecher issue resolved.

Thanks a million!

[2016-12-07 10:25] NateWr commented on #1740
Carola is reporting issues with this change in OMP. Re-opening and assigning to the OMP 1.2.1 milestone. She'll provide a fuller report here.

[2016-12-07 10:47] WaDelma commented on #2059
I contacted ORCID support and got this answer:

[2016-12-07 10:57] cziaarm commented on #2057
Scratch that...

apologies for the poor UAT (only had one submission on my dev env).

For the featured checkboxes there looks to be an index related problem.

checkboxes for featured will check the  next unchecked box and uncheck the last checked box, rather than the one that is actually clicked on.

New releases are behaving as expected.

[2016-12-07 11:53] CFanselow commented on #1740
Hi,

I have three installations where the file browser windows does not open anymore after pulling from omp-stable-1_2_0: one where I upgraded from OMP 1.1.1-1 and two OMP 1.2.0 installations. We didn't have problems with uploading files before (including the double window problem).

I cleared all caches (browser, OJS-admin area, cache-folder) but that didn't change anything.

There's also no entr

[2016-12-07 12:14] NateWr commented on #1740
Thanks @CFanselow. Hmm, I'll have to do some testing in OMP to see if I can replicate the problem.

If it is working fine having reverted that change, I think you're probably safe leaving it. One thing you might want to check is whether you get any problems with IE on Windows. That's the problem this commit was trying to solve, so you'll at least have a sense of what you've reverted to if there is

[2016-12-07 12:37] NateWr commented on #2042
Yes sir! You win! :)

Rebased and ready for code review.

[2016-12-07 12:42] NateWr commented on #1772
Rebased and tests running.

[2016-12-07 14:43] NateWr opened #2069 "Article cover images in portrait dimensions can cause extra gaps"
This is just a place-holder issue for a PR that's coming in just a minute.

![selection_019](https://cloud.githubusercontent.com/assets/2306629/20972037/80cc5ba4-bc8b-11e6-9239-bb608f5f612f.png)

[2016-12-07 14:46] NateWr commented on #2069
PR:
https://github.com/pkp/ojs/pull/1127

I went ahead and merged this myself since it's CSS-only.

[2016-12-07 14:46] #2069 closed

[2016-12-07 15:07] bozana commented on #1934
These issues should be considered too:
-- remove strange old cover images with array values in the DB - from 3.alpha or 3.beta?
-- remove empty 3.0 cover images
-- remove the old 2.4.x cover images, for which a new cover image exists

[2016-12-07 15:11] bozana commented on #1934
@NateWr, could you code review and test the PR above? Just change the version to 3.0.0.0 before doing the DB update... THANKS!

[2016-12-07 15:29] NateWr commented on #1934
@bozana I ran into an error when running the upgrade.

[code]

I set the version to 3.0.0.0 in the database, then went to `/tools` and ran `php upgrade.php upgrade`. Is it a problem since I maybe already upgrade this database in teh past?

[2016-12-07 16:00] bozana commented on #1934
Ah, yes, I also always have to comment out this line: https://github.com/pkp/ojs/blob/master/dbscripts/xml/upgrade.xml#L110
But that is not the right solution :-P @asmecher, is there a way to say: "If not exist, insert..." here: https://github.com/pkp/ojs/blob/master/dbscripts/xml/upgrade/3.0.1_update.xml#L15-L16, to make it idempotent? Something like MySQL INSERT IGNORE, REPLACE, or INSERT … ON D

[2016-12-07 16:12] NateWr commented on #1934
Great! The upgrade worked this time and the cover image issue is fixed. :+1:

[2016-12-07 16:48] bozana commented on #1934
Great, thanks @NateWr! I will then merge it...
@asmecher, are those SQLs fine with PostGreSQL?

@asmecher, how about one of the following SQL statements, for solving the idempotent issue above:
[code]

[code]
?

[2016-12-07 16:54] bozana commented on #2062
Thanks @mittinatten! Those were my queries :-P I'll correct them as you suggested/tested i.e. separate the queries for MySQL and PostgreSQL, OK so @asmecher? THANKS!!!

[2016-12-07 17:24] bozana commented on #2062
@mittinatten, did you accidentally change the MySQL query in Upgrade.inc.php? And, because I do not understand what does this mean `SUBSTRING(iss.setting_value, \'\\.\\k+$\')` i.e. `\\k+$`, would maybe also this work: `CONCAT(LEFT( iss.setting_value, POSITION(\'.\' in iss.setting_value) - 1 ), \'_\', j.primary_locale, SUBSTRING(iss.setting_value, POSITION(\'.\' in iss.setting_value)))`? THANKS A L

[2016-12-07 18:22] mittinatten commented on #2062
@bozana, I'm not at a computer where I can test things until tomorrow, then I can do some more thorough testing.

Yes, I simply overwrote the MySQL queries, so something needs to be done to separate the queries. As I said the commit is only intended to point to where there where conflicts between Postgres and MySQL, and there might still be errors. I had other unrelated problems, so I am not sure

[2016-12-07 18:53] mittinatten commented on #2062
To expand on the part you didn't understand, I was trying to do a regex for the substring after the last period. Probably something like `regexp_replace(iss.setting_value, '.*\.(\w+)$', '\1')` is better (where the backslashes and the single quotes will probably need to be escaped).

[2016-12-07 19:08] asmecher commented on #2062
@bozana, yes, separate queries for MySQL and PostgreSQL for non-standard SQL syntax would make sense. It looks like you and @mittinatten are moving ahead on this -- thanks to both!

[2016-12-07 19:09] asmecher commented on #1934
@bozana, yes, both those queries run OK for me.

[2016-12-07 19:14] asmecher commented on #2042
Merged, thanks!

[2016-12-07 19:14] #2042 closed

[2016-12-07 19:29] bozana commented on #2062
@mittinatten, thanks a lot! I've found a PostgreSQL DB/installation, so I hope I will be able to test the upgrade script properly...

[2016-12-07 19:32] asmecher commented on #2059
Thanks, @WaDelma! Please let me know what you hear.

[2016-12-07 21:09] asmecher commented on #1856
Committed using a `cve.controlled_vocab_entry_id` GROUP BY.

[2016-12-07 21:09] #1856 closed

[2016-12-07 21:20] asmecher commented on #333
Thanks, @ctgraham! Sending to @bozana for review...

[2016-12-07 21:54] jmacgreg commented on #1921
Hi all, for what it's worth we ran into this with a journal that we're upgrading at PKP as well. The issue was the same - duplicate entries in the review_rounds table. We bypassed this by deleting all but the oldest duplicate entries:

CREATE TABLE review_rounds_old SELECT * FROM review_rounds;
DELETE FROM review_rounds WHERE review_round_id NOT IN (SELECT MIN(review_round_id) FROM review_rounds_o

[2016-12-07 22:07] bozana commented on #1934
PR for the plugin settings insert statement:
master: https://github.com/pkp/ojs/pull/1129

[2016-12-07 22:08] bozana commented on #2062
PR:
master: https://github.com/pkp/ojs/pull/1129

[2016-12-07 22:45] bozana commented on #2062
@mittinatten, I tested it and it worked for me, but it would be great if you could run the upgrade with this changes as well, just to double check/test: https://github.com/pkp/ojs/commit/8b7ccdd689e82adbc052f5146ebf43793f471e68. THANKS A LOT!!!

[2016-12-07 23:23] asmecher commented on #2068
Merged, thanks!

[2016-12-07 23:23] #2068 closed

[2016-12-07 23:44] bozana commented on #2062
Maybe a note here: when abbreviation is used for the table that is being updated, PostgreSQL doesn't recognizes it. For example this line in the update statement:
`WHERE iss.setting_name = \'coverImage\' AND iss.locale = \'\' AND i.issue_id = iss.issue_id AND j.journal_id = i.journal_id'`.
The part `iss.setting_name = \'coverImage\' AND iss.locale = \'\' ` is not recognized correctly, so that all

[2016-12-08 07:54] bozana commented on #1934
Everything merged, thus closing...

[2016-12-08 07:54] #1934 closed

[2016-12-08 09:48] mittinatten opened #2071 "[OJS3] Create new issue stalls when volume number is not an integer"
When you create a new issue with a non-integer volume number in OJS 3.0.1 the interface stalls. There is an error message in the log, but the interface simply stalls with no indication of what went wrong. It seems like non-integer _issue_ numbers work.

In our particular case an editor tried to use the volume number "1b" on a test server, don't know if this is important or just an experiment. But

[2016-12-08 13:09] lilients opened #2072 "[OJS] Versioning for published articles"
Hi @asmecher, @NateWr, @bozana and everybody interested :)

I am currently finishing the [work](https://github.com/pkp/pkp-lib/issues/1086) my colleague @felixgruender did to enable versioning of published articles and files in OJS. Because this is a big topic with many aspects to concider and a lot of code I separated the task into tree steps and wrote descriptions at my github wiki.

1. file ver

[2016-12-08 14:24] ctgraham opened #2073 "Localize RECAPTCHA display"
C.f.: http://forum.pkp.sfu.ca/t/fake-user-spam-regestration/25285/8

The RECAPTCHA javascript API construction has the (unused) [option of setting a language](https://developers.google.com/recaptcha/docs/display#js_param).  This could (should?‡) be tied into the user's selected locale.  A mapping of locale to [language code](https://developers.google.com/recaptcha/docs/language) would be needed.

[2016-12-08 15:12] ctgraham opened #2074 "DOMDocument::createElementNS() is being used without consideration for escaping"
C.f. http://forum.pkp.sfu.ca/t/crossref-xml-export-plugin-not-working-in-ojs-3/26255/4?u=ctgraham

Examples include at least:
https://github.com/pkp/ojs/blob/master/plugins/importexport/crossref/filter/IssueCrossrefXmlFilter.inc.php
and
https://github.com/pkp/ojs/blob/master/plugins/importexport/crossref/filter/ArticleCrossrefXmlFilter.inc.php

Can be resolved by `htmlspecialchars()` or by `DOMDoc

[2016-12-08 16:17] asmecher commented on #2073
That's a duplicate -- although this one is better filed!
https://github.com/pkp/pkp-lib/issues/1786

[2016-12-08 16:17] #2073 closed

[2016-12-08 16:31] ctgraham opened #2075 "Review first_page / last_page parsing"
Review the semantics of startPage and endPage for DOAJ (c.f. https://doaj.org/features).

The current code assumes a single page range or the magic of a single e-prefixed page number:
https://github.com/pkp/ojs/blob/c3c29f172c9a5b2d579d969f4044101617fd7921/plugins/importexport/doaj/filter/DOAJXmlFilter.inc.php#L99-L113

This might be improved with the new features coming out of https://github.com/

[2016-12-08 16:44] ctgraham commented on #2075
Also review citationFormat plugins [bibtext](https://github.com/pkp/ojs/blob/56e9bed67eb6dd1fe8db889fe25628da27541176/plugins/citationFormats/bibtex/citation.tpl#L26) and [endnote](https://github.com/pkp/ojs/blob/4af018f3a9c5908df9ca9d8b1c8de80471acff79/plugins/citationFormats/endNote/citation.tpl#L34).  Do these require numeric-only output?

[2016-12-08 16:54] ctgraham opened #2076 "Review page counting code: MEDRA and EndNote"
The MEDRA export tries to count pages here:
https://github.com/pkp/ojs/blob/c3c29f172c9a5b2d579d969f4044101617fd7921/plugins/importexport/medra/filter/ArticleMedraXmlFilter.inc.php#L199-L216

In 2.4.x, so did the EndNote citation format:
https://github.com/pkp/ojs/blob/dbe779f2bd97e9a0f2842c4357fb56496b7179e4/plugins/citationFormats/endNote/citation.tpl#L36-L44
But now it just expresses a range:
h

[2016-12-08 16:59] bozana commented on #2074
I will then fix this with htmlspecialchars...

[2016-12-08 17:00] asmecher commented on #2071
@mittinatten, I'm open to the idea of relaxing the numeric requirement, but we'd need to survey the various third-party standards that field gets fed into in order to see whether they would have difficulty with non-numerics.

[2016-12-08 17:00] ctgraham commented on #2074
I'm already most of the way through a search-and-replace.

[2016-12-08 17:01] bozana commented on #2074
Thanks a lot!

[2016-12-08 17:30] bozana commented on #333
Aye aye Capt'n!

[2016-12-08 17:32] asmecher commented on #2057
@cziaarm, checking the boxes may cause the order of items to jump around somewhat -- is that perhaps causing it to look like the wrong box gets checked/unchecked?

[2016-12-08 18:04] asmecher commented on #1504
The `$allowProcotolRelative` variable is called with a `true` value in the Less compilation code (`PKPTemplateManager::compileLess`). This is necessary because the same cached CSS is served up regardless of whether the site is accessed from HTTP or HTTPS.

[2016-12-08 18:59] ajnyga commented on #1853
I saw that @asmecher mentioned here http://forum.pkp.sfu.ca/t/workflow-for-uploading-without-quick-submit-plugin/26338/2 the problem with the buttons not appearing after adding an editor to a submission.

Are the buttons appearing for automatically for someone when you add an editor? Out of around 70 users who have participated in our OJS3 workshops, everyone has had to refresh the page to make th

[2016-12-08 19:34] ctgraham commented on #2074
https://github.com/pkp/pkp-lib/issues/2077
https://github.com/pkp/ojs/pull/1131

Requires testing and porting to OMP.

[2016-12-09 08:19] cziaarm commented on #2057
You are right. I just hadn't noticed the reordering (test submissions had very similar titles).

Working as expected. :)

Thanks!

Rory McNicholl
Lead developer
Digital Archives & Research Technologies
University of London Computer Centre
Senate House
Malet Street
London
WC1E 7HU

t: +44 (0)20 7863 1344
e: rory.mcnicholl@london.ac.uk
w: http://www.ulcc.ac.uk/

The University of London is an exempt

[2016-12-09 11:00] mittinatten commented on #2062
It seems to do the trick, as far as I can tell!

[2016-12-09 11:45] bozana commented on #2062
Thanks a lot! Can this issue then be closed?

[2016-12-09 12:07] mittinatten commented on #2062
Yes. Thank you!

[2016-12-09 12:07] #2062 closed

[2016-12-09 12:22] bozana commented on #333
Thanks a lot @ctgraham!
I can then try to port it to master as well...

[2016-12-09 12:28] NateWr commented on #2072
Hi @lilients, thanks for posting about this.

I think you're on the right track, raising concerns about the way the GUI for this data is split up into three places. I think this causes some unique problems and I'd like to explore that a bit more to see if we can find a more robust way of guiding the user through this process.

My main concern is that we're asking the user to make a decision about

[2016-12-09 12:53] NateWr opened #2078 "Fix scroll-jumping in HTML article galley views"
The article galley views currently use bottom padding to show the HTML galley at full screen:

https://github.com/pkp/ojs/blob/master/plugins/generic/htmlArticleGalley/display.css

This causes a problem because the scroll position can get adjusted, even if the scrollbar is hidden with `overflow-y`. This can probably be better handled as the PDF view is handled:

https://github.com/pkp/ojs/blob/mas

[2016-12-09 13:27] Shubash commented on #1913
Hi
I have same problem with our journal. I didnot create the backup before upgrade to 2.4.8.1 to 3.0.1. So what can i do now. We have face many error with our journal. I try to bypass but it is not working. is there any other solution you have? I am not good at coding or commanding. I need a quick response.
Thanks
Shubash

[2016-12-09 14:07] bozana commented on #2074
I can test an port this...

[2016-12-09 16:10] bozana commented on #333
I reviewed and tested the changes -- they work well! Thanks a lot @ctgraham!
There are a few minor things, that I can add after the merge:
-- issue year is escaped in NativeFilterHelper, but not in O4DOIXmlFilter
-- e-mail is escaped in O4DOIXmlFilter and IssueCrossrefXmlFilter, but not in DOAJXmlFilter and PKPAuthorNativeXmlFilter
-- the escape for DOI in DataciteXmlFilter is missing
-- the escap

[2016-12-09 16:13] bozana commented on #2074
This is the right issue...  -- I first added the following comment to the wrong issue...

I reviewed and tested the changes -- they work well! Thanks a lot @ctgraham!
There are a few minor things, that I can add after the merge:
-- issue year is escaped in NativeFilterHelper, but not in O4DOIXmlFilter
-- e-mail is escaped in O4DOIXmlFilter and IssueCrossrefXmlFilter, but not in DOAJXmlFilter and P

[2016-12-09 16:41] asmecher commented on #1726
Just one comment, otherwise looks good!

[2016-12-09 17:21] asmecher commented on #1913
@Shubash, could you post your question in http://forum.pkp.sfu.ca/ along with as much detail as you can include?

[2016-12-09 19:18] Vitaliy-1 commented on #1786
ReCaptcha uses browser language but not the language of page html. Ideally when user changes language the ReCaptcha must change language to. In theory this can be supported by adding the first 2 letters from html lang attribute to the end of the reference to google ReCaptcha. But supported languages must be explicitly pointed.

[2016-12-09 20:15] asmecher commented on #1853
Surprisingly I didn't run into this during any of my normal testing/development -- but that's probably because my test/dev setup has the journal configured such that editors are assigned automatically, so I don't run into the situation where an article goes from none assigned (Send To Review not displayed) to one or more assigned (button should be present). Fixing this is a high priority for the n

[2016-12-09 20:23] asmecher opened #2079 "Full-text indexing not working"
See http://forum.pkp.sfu.ca/t/ojs-3-full-text-search-not-working/26259/8 for details.

[2016-12-09 20:24] #2079 closed

[2016-12-09 21:55] vedranvucic commented on #1808
I think that references should be visible on details page.  I think that link of references to other services i.e Google  should be optional since we cannot depend on those services and their company policies.  Thus, simple placement of references written in text field as you described should be sufficient. All the rest can depend on other plugin(s).

[2016-12-11 09:47] cabotine opened #2081 "[OJS] Missing about.onlineSubmissions... keys in de_DE locale"
In the German translation of the general locale.xml seems to be three lines missing:
https://github.com/pkp/ojs/blob/master/locale/de_DE/locale.xml

[code]

in the english version it looks like that.

[code]

I used:
[code]

Thank you very much!

[2016-12-11 11:02] bozana opened #2082 "Task notification for section editor after being assigned to a submission"
s. https://forum.pkp.sfu.ca/t/ojs3-no-task-created-for-editor-assignement/25938

[2016-12-11 15:22] ajnyga opened #2083 "[OJS] Author View Metadata modal javascript error"
Hi,

If after submitting a manuscript I login as an author and want to view the submission metadata, I get this javascript error:

`Error: There is no handler bound to this element!  Handler.js:142:10`

The javascript that is causing the error is here:
https://github.com/pkp/ojs/blob/ojs-stable-3_0_1/templates/controllers/modals/submissionMetadata/form/issueEntrySubmissionReviewForm.tpl

On row 64

[2016-12-11 15:44] mtub commented on #2081
Thanks, @cabotine. I've added the three missing keys, building upon your suggestion, but in a shorter version that is more in sync with the rest of the strings. Pull request will follow, see below.

[2016-12-11 16:17] mtub commented on #2072
I support this and all of your specific comments at the end. This is how I would imagine versioning of metadata and galleys to look like, both from a reader's and from an editor's point of view.

[2016-12-12 10:50] bozana commented on #2074
Additionally the escape parameter for url creation is added.

[2016-12-12 10:52] bozana commented on #2074
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2084
ojs master: https://github.com/pkp/ojs/pull/1135

[2016-12-12 12:42] NateWr opened #2085 "Improve touch controls of frontend about nav dropdown"
When on a touch device, a tap on a top-level navigation menu in the default theme will go to that link instead of opening the dropdown menu. Older devices used to automatically detect such taps, but I think they've started removing that support. In any case, on my Android it's not working.

Because the About menu item is repeated in sub-items, we can just remove the URL from the top-level item. Bu

[2016-12-12 14:18] bozana opened #2087 "Wrong usage event object when accessing article page"
The variable "publishedArticle" here https://github.com/pkp/ojs/blob/master/plugins/generic/usageEvent/UsageEventPlugin.inc.php#L62 does not exist, thus a wrong publication object and URL are constructed/returned.

[2016-12-12 14:21] bozana commented on #2074
Everything merged here, thus closing...

[2016-12-12 14:21] #2074 closed

[2016-12-12 14:28] bozana commented on #2087
PRs:
ojs master: https://github.com/pkp/ojs/pull/1137
ojs ojs-stable-3_0_1: https://github.com/pkp/ojs/pull/1138

[2016-12-12 14:59] ajnyga commented on #2085
Hi,

I am not sure if this is connected, but during a OJS3 workshop one of the particpants was using an Ipad. It work well, but the user was not able to log out from the dashboard. For some reason you had to select the user profile page first and only then you could click on "log out" successfully.

[2016-12-12 15:06] NateWr commented on #2085
Thanks @ajnyga. Yes, probably the same sort of problem.

[2016-12-12 15:08] NateWr commented on #1772
All tests failed at `testCreateIssues` again. @asmecher are you sure this is working or should I dig into the test failure some more?

[2016-12-12 15:38] NateWr commented on #1867
PRs:
https://github.com/pkp/pkp-lib/pull/2088
https://github.com/pkp/ojs/pull/1139

No OMP PR necessary.

[2016-12-12 16:11] #2087 closed

[2016-12-12 16:38] lilients commented on #2072
Hi @NateWr,

thank you for your reply and your concrete feedback. I also think creating a new version by default is a good idea. But I found it hard to explain to my colleges and I fear it is confusing for users who only want to have a look at the current state and do not want to create a new version.

I understand your sketched workflow and think it is a very good approach - I especially like the

[2016-12-12 18:12] NateWr commented on #2044
Tests passed! @bozana, can you code review?

[2016-12-12 18:32] NateWr commented on #1867
Tests passed. @asmecher code review?

@mtub Heads up. I removed the `user.login.rememberUsernameAndPassword` translation key in a bunch of locales.

[2016-12-12 18:38] mtub commented on #1867
Yeah, I noticed :)

[2016-12-12 18:51] bozana opened #2089 "List incomplete submissions in the managers active submissions lists"
The incomplete submissions are displayed in the "My Authored" grid, if the submitter is an author. In order to be able to remove the incomplete submissions submitted by an editor (either using the normal submission workflow or QuickSubmit plugin), the "orphaned" submissions (submissions that are incomplete and have nobody assigned to them in an Author role) will be displayed in the editors "Active

[2016-12-12 18:54] mtub commented on #2072
Hii @lilients, I fear that your approach will lead to the wrong behaviour - if I can change files and metadata (of the most recent version) easily but have to press a button to create a "new version", people might just update their most recent version of that article instead of creating a new version. But in most cases creating a new version is the correct approach - this is why adding versioning

[2016-12-12 19:09] asmecher commented on #1867
"Eagle Eyes" Tullney.

[2016-12-12 19:11] asmecher commented on #1867
Merged, thanks! I'll remove the test locale on the master branch in a sec.

[2016-12-12 19:17] asmecher commented on #2072
Maybe we could support a MediaWiki-style "this is a minor revision" distinction that would lead to the revision being tracked, but receiving lesser consideration? I'm thinking about e.g. whitespace removals, typo fixes, etc. that are perhaps important to track but definitely shouldn't receive full "revision" status.

[2016-12-12 19:20] asmecher commented on #1867
I haven't back-ported this to `ojs-stable-3_0_1` because of the translation requirements. Ready to close, @NateWr?

[2016-12-12 19:36] bozana commented on #2089
PR
master: https://github.com/pkp/pkp-lib/pull/2090

[2016-12-12 19:36] bozana commented on #2089
@asmecher, could you take a look at the PR above? THANKS!!!

[2016-12-12 19:45] mtub commented on #2072
Hi Alec, but most journals adhering to a more formal publication ethics will consider these changes not as "minor" - you will want to avoid that two people linking to the same article (version), using the same DOI etc., do not talk about the same works. This is why I think versioning is so important, so that journals can update/correct articles without acting against publication standards. But the

[2016-12-12 20:50] asmecher commented on #1772
The problem is `templates/controllers/grid/issues/form/issueForm.tpl` -- with these changes in place, the Volume, Number, Year, and Title fields are all required, but that shouldn't be the case. They should only be required when the respective checkboxes are ticked.

[2016-12-12 21:07] asmecher commented on #2072
How about if we were to track all revisions (including minor ones), thus linking would be stable, and expose all revisions of published content -- but allow for expand/collapse of changes that are flagged "minor"?

[2016-12-12 21:25] lilients commented on #2072
Hi everybody,

I would not differentiale between different types of corrections. I concur with @mtub that _every_ change should be a new version. Even a typo could be quoted and would lead to wrong quotes if corrected.

I think we could add the default feature to my last proposal. After the publication of a version a new tab will be created by default, so that users will edit a new version. To vie

[2016-12-12 21:27] asmecher commented on #2072
@stranack, your input on this would also be valuable!

[2016-12-12 21:57] asmecher commented on #2083
@bozana, would you mind taking a look at this one? Thanks!

[2016-12-12 22:18] asmecher opened #2091 ""Omit this section from About the Journal" in Section Settings is not used"
@NateWr suggests, and I tend to agree...

This suggests that we should remove the setting entirely.

[2016-12-12 22:18] asmecher commented on #2091
@stranack, your feedback on this is welcome!

[2016-12-13 01:05] jmacgreg opened #2092 "[OJS] Reviewer doesn't have adequate permission to download review file"
The problem has been discussed here: http://forum.pkp.sfu.ca/t/ojs-3-the-current-role-does-not-have-access-to-this-operation/24614/16 and in addition we have just run into the same problem on a journal we host.

Problem behaviour: a reviewer accepts a review, and goes to Step 3, where they should be able to download the review file. When they click on the review file, they receive the following JS

[2016-12-13 05:38] ajnyga commented on #2083
I was thinking whether the cover image preview needs any javascript if the user is just viewing an image. The quickest solution could be a simpler preview function for just viewing an image.

[2016-12-13 09:10] ajnyga commented on #2083
Ok, so it seems that tinymce needs to have a handler attached to the form. I made a small hack where I attached the AjaxFormHandler to the form and after that the tinymce error was gone. Below is a template that is working. You probably have a more eloquent solution to the handler problem, I do not know the code well enough. Note that I also removed the cover image delete link and changed the alt

[2016-12-13 10:55] #1867 closed

[2016-12-13 12:17] NateWr commented on #1662
I'm curious about how we might use this as a feature prototype to explore using events internally as a way to better maintain and signal state with the workflow. This may involve dusting off some of our previous discussion around Notifications.

[2016-12-13 12:45] NateWr commented on #2072
Great discussion. It looks like we've got two things which feel technically similar but may have different conceptual bases or use-cases. I'll try to outline those to see if we can spark some further thinking along these lines.

1. Journals want to make a significant revision to an article, one which should be prominently displayed to end users and may include substantial changes to key article co

[2016-12-13 13:34] bozana commented on #2044
All well @NateWr :-) You can then merge it after a rebase.
Just that I don't know why do you have that submodule commit...

[2016-12-13 13:52] NateWr commented on #2044
Thanks @bozana! All merged. Closing.

[2016-12-13 13:52] #2044 closed

[2016-12-13 14:12] NateWr commented on #1772
Thanks @asmecher! This presents some new problems but I'll file those in a separate request. Tests running again.

[2016-12-13 14:13] bozana commented on #1726
It is necessary to separate submission locale filed from the title and abstract fields, not to be displayed in the submission step 3 (where title and abstract are displayed), because it should be displayed in the submission step 1.

[2016-12-13 14:15] NateWr opened #2093 "Improve error feedback for missing fields in issue volume, number and year input"
The issue fields for Volume, Number and Year are only required if the associated checkboxes to display those details are checked. The error feedback is poor for this because the errors appear near the checkboxes and are unstyled. A couple of approaches.

1. Add a JS handler for the form to update the required indicators when the checkboxes are ticked. This involves manually adding/removing element

[2016-12-13 14:25] NateWr commented on #1859
@asmecher So the tests are failing on the static pages tests. I tried enabling the static pages plugin in my local install and it causes the Settings > Journal > Masthead tab to break. It loads nothing. I've checked my error log and as far as I can tell there's no fatal errors. Just the usual warnings and notices I get with every page load (dozens of them due to PHP 7 standards).

Can you reproduc

[2016-12-13 14:51] bozana commented on #1726
PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/2094
ojs: https://github.com/pkp/ojs/pull/1142
omp: https://github.com/pkp/omp/pull/367

[2016-12-13 14:52] lilients commented on #2072
Thank you @NateWr. Yes, I think the two use cases make sense.

1. The [article metadata versioning](https://github.com/lilients/ojs/wiki/Article-versioning-in-OJS) should be a solution for the first use case. Metadata like the title, authors, abstract, etc. will be stored for each version. Each article metadata version and each attached file should also have a different DOI (I will implement that

[2016-12-13 14:53] bozana commented on #1726
@asmecher, the tests are still running, but could you please take a look at these new 3 RRs? -- I had to separate submission locale field in a new template, to be able to use it in different places. Also, I added the possibility to change the monograph locale, which wasn't there -- is this OK i.e. could you think of any reason why this is not a good idea? THANKS!!!

[2016-12-13 15:28] pkel opened #2095 "[OJS3] Submission of Forms is Broken on Review Stage"
In our test installation we get some weird behaviour on the review stage page when we try to submit a form. After hitting the *ok* button, the page only shows the loading symbol and nothing else happens.

Reloading the page manually helps - the expected result is shown, including the notification popups in the upper right part. This happens on adding a paricipant and adding a discussion. On adding

[2016-12-13 16:47] NateWr commented on #1906
Here's an initial pass at RTL orientation for locales. Locales can opt-in to this by adding a `direction="rtl"` attribute to their locale in `/registry/locales.xml`.

The styles are "good enough", though I'm sure there are some things that have gotten missed. I'm open to working on this further but I'd like to get some eyes on it from actual users before investing more time.

PRs:
https://github.c

[2016-12-13 20:08] ajnyga opened #2097 "[OJS] Updating to OJS3 - revision files and initial copyedit files missing"
Hi,

It seems that revision files and initial copyedit files are missing after upgrading to OJS3. The files do exist but the database is not getting upgraded correctly.

More details here:
http://forum.pkp.sfu.ca/t/updating-from-ojs2-to-ojs-3-all-revisions-and-initial-copyedits-missing/26631

[2016-12-13 22:09] bozana commented on #2074
I forgot to remove htmlspecialchars for URLs after using the "escape" parameter for the request URL function, so that URLs are escaped double and thus incorrect :-(
Here the fix PRs:
master: https://github.com/pkp/ojs/pull/1144
ojs-stable-3_0_1: https://github.com/pkp/ojs/pull/1145

[2016-12-14 05:47] ajnyga commented on #2097
Hi @bozana and @asmecher

I did a clean install of 2.4.8.1. added on article and the upgraded to OJS3. A few things I found out.

There is a line in `review_round_files`. However, the value in the `file_id` field is wrong. The value given there is the file_id for the original review file. And while that file has file stage set to 4, it does not appear in the revisions. In my test case just by chan

[2016-12-14 09:43] pkel commented on #2095
Testers are reporting that the **notify participant function** triggered from the review stage does not send emails either. Currently, there is no possibility to contact a sleeping reviewer from within ojs.

[2016-12-14 09:52] pkel opened #2098 "[OJS3] Only tiny area clickable for tick boxes in tasks popup"
![ojs3-tick-box](https://cloud.githubusercontent.com/assets/11337857/21177227/82394cea-c1ea-11e6-9d8e-d7a9f079aae1.jpg)

The tick boxes which are used to select items for deletion in the tasks notification popup are only clickable in the upper left part.

[2016-12-14 10:09] pkel opened #2099 "[OJS3] Reviewer role hides access to SE view of review stage"
If a SE assigns himself as reviewer he is not able to access the review management page any more but only sees what a normal reviewer does. Finishing the review does not help. Fiddling with the URL and changing it to `/workflow/index` does help, but is a bit inconvenient.

You may ask, why this is necessary. Our SEs use this in OJS2 to contact reviewers anonymously. It is mainly used when SE want

[2016-12-14 10:39] pkel opened #2100 "[OJS3] Default Theme. Review interests on registration not visible"
![reviewing-interests](https://cloud.githubusercontent.com/assets/11337857/21178864/bb7bac8a-c1f1-11e6-8dcd-f2746d166d1d.jpg)

The textbox for adding review interest during registration is not framed and thus not visible.

[2016-12-14 11:39] NateWr commented on #2072
I totally get that you've got a deadline on this. We'll probably have to go through a slower development process to make sure we've got things right before rolling it out to everyone. Are you building this as a plugin for now?

I'm a little wary of the sub-tab approach, mostly because of the problem whereby title and metadata live outside of these tabs. But I think this is the result of a more gen

[2016-12-14 17:20] lilients commented on #2072
I think it is a very good approach to think things through before implementing. ;) And I appreciate your feedback a lot!

Felix started the versioning at the core - not as a plugin. You can have a look at the code here: https://github.com/lilients/ojs (most relevant for the article metadata versioning is this commit https://github.com/lilients/ojs/commit/dd0757060a3ee0703e7410fc6a07cf7690e0c831).

[2016-12-14 19:30] asmecher commented on #2100
@pkel, what version of OJS are you using?

[2016-12-14 19:35] asmecher commented on #2099
@pkel, see e.g. http://forum.pkp.sfu.ca/t/ojs3-section-editor-acting-also-as-reviewer/25553. We're likely to further restrict SE access to submissions they're also assigned as reviewers on. You might consider using the Discussions tool to have SEs communicate feedback to Editors, then have the Editor communicate those back to Reviewers/Authors.

[2016-12-14 19:44] ajnyga commented on #2097
Regarding the other issue I mentions, showing more that one revision file, you have to edit `controllers/grid/files/SubmissionFilesGridDataProvider.inc.php` => `prepareSubmissionFileData` line 164 or you have to skip `prepareSubmissionFileData` in `controllers/grid/files/review/ReviewGridDataProvider.inc.php`.

[2016-12-14 19:50] asmecher commented on #2095
Do you mean "but notification is *not* sent"? What version of OJS are you using? Have you checked your server's mail logs to see whether the messages are getting rejected there?

[2016-12-14 20:02] asmecher commented on #1906
The tests are failing -- you need to add the new attribute to the DTD.

[2016-12-14 21:05] asmecher commented on #2095
Also, when you see an endless spinner, it usually corresponds to a message in your PHP error log. Check there for details. Also please include your OJS version in issue reports.

[2016-12-14 21:11] asmecher commented on #1662
Agreed -- the notifications stuff is a little byzantine and will be expensive to maintain as is.

[2016-12-14 22:29] pkel commented on #2095
Sorry for not specifying the version in my latest bug reports. I will try to make this better in the future.

The installation is using 3.0.1.

Error printing to stdout is active in OJS settings but no error showed up. Does this catch all relevant errors?

I use smtp configuration in config.inc.php for mail transfer. Where are the corresponding logs stored?

[2016-12-14 22:30] pkel commented on #2098
This is a test setup. I can provide access, if necessary. Version is 3.0.1

[2016-12-14 22:45] pkel commented on #2099
I understand your argument but it would be wise then, to prevent SE from assigning themselves as reviewer. Currently they lock themselves out if they do so -- at least it seems like they do. A small manipulation in the url reveals the SE view on the review.

A perfect solution for us would be a *hide my name in this discussion* function. The SE > E > R path adds some overhead.

[2016-12-14 22:47] pkel commented on #2100
3.0.1. See [here](https://jstatsoft.tr1k.de/index.php/jss/user/register).

[2016-12-14 22:50] asmecher commented on #2095
When errors are sent to stdout, then in cases where OJS expects a response in JSON format, it'll get both the JSON and a PHP error message -- hence it won't be able to parse them, and you'll get an endless spinner.

If you're using SMTP, the logs will be stored on your SMTP server, and you probably won't have access to them. In that case, you might try adding some error logging -- e.g. in `lib/pkp

[2016-12-14 22:52] asmecher commented on #2100
Thanks, I can reproduce this locally too. @NateWr, mind taking a look?

[2016-12-14 22:54] pkel commented on #2095
I will setup proper logging and report back.

The weird thing is that most emails go through. Why would the server reject especially those about a new discussion?

[2016-12-14 22:58] asmecher commented on #2099
It's a common requirement for journals to occasionally use their Section Editors to review certain submissions, and in that case, they definitely shouldn't be able to access the editorial workflow of those submissions, even if they're in sections that the editor edits. Your use case is different, and definitely less common. Currently OJS doesn't handle either very well, as you've noted, but given

[2016-12-14 23:10] pkel commented on #2099
I do not want to change your plans, but you will have to think about somthing to prevent self lockout by reviewer role self assignment. I think a small warning *hereby you will loose your SE capabilities* can do a lot here. Otherwise all our SE will be trapped at least once.

[2016-12-14 23:13] asmecher commented on #2095
It's common for servers to reject emails if they don't like the addressing -- e.g. if the sender's domain isn't something the server thinks it has jurisdiction over. Without access to the email server's logs, if these are dropping into oblivion they can be hard to debug, unfortunately.

[2016-12-14 23:26] asmecher commented on #2099
Agreed, I think a warning upon assignment makes sense.

[2016-12-14 23:34] asmecher commented on #2097
@ajnyga, would you be willing to provide a database dump to work with? (Anonymized as you like, and sent privately, of course.)

[2016-12-14 23:57] asmecher commented on #1726
All looks good and the tests passed! Just one trivial comment, please go ahead and merge.

[2016-12-14 23:57] asmecher commented on #1726
(The monograph locale not updating was a bug, thanks!)

[2016-12-14 23:59] asmecher commented on #1772
@NateWr, the OMP tests appear to be OK (I just restarted one straggler), but the OJS tests still seem to be stuck on the create issue test. Would you like me to try locally again?

[2016-12-15 00:00] asmecher commented on #1859
Have you got the most recent static pages plugin checked out? Might need to pull the master branch over there.

[2016-12-15 00:49] asmecher opened #2101 "Update PubMed plugin for OJS 3.x"
It's not yet rewritten for OJS 3.x -- see http://forum.pkp.sfu.ca/t/export-to-pubmed-xml-in-ojs-3-x-not-working/26700.

[2016-12-15 01:13] asmecher opened #2102 "Consider "Select All" feature for export tools"
See http://forum.pkp.sfu.ca/t/select-all-button-in-tools-import-export-in-ojs-3-x/26699 for feature request.

[2016-12-15 11:05] bozana opened #2103 ""&" in URL wrongly escaped and escaped "&" wrongly interpreted"
The "&" in URL is escaped as "&amp;" but this is not the URL escape, but HTML escape -- the function rawurlescape or "%26" should be used, s. https://github.com/pkp/pkp-lib/blob/master/classes/core/PKPRouter.inc.php#L580
Hmm... no, the issue is something else :-P
If the "&" is encoded, no matter if with "&amp;" or "%26", OJS cannot find the right page :-O

[2016-12-15 11:30] ajnyga commented on #2097
Hi,

I will anonymize names, emails, article titles and abstracts and send it to you. Our database is around 500 mb. Do you have suggestions on how to send that? Of course this same problem appears also in the clean install I made and that is a small database with only a few users, one journal and article.

[2016-12-15 12:34] ajnyga commented on #1782
Hi,

While testing the issue with the missing revision files I also tested the upgrading of review forms using a fresh install of 2.4.8.1. The result is that the forms still show "Array" so they are not converted correctly.

`fixReviewForms` does run during the upgrade:
![screenshot_12](https://cloud.githubusercontent.com/assets/16347527/21224138/4d97e7fa-c2d3-11e6-848e-93079ae84f0b.png)

But the

[2016-12-15 12:50] ajnyga commented on #1782
I think that in https://github.com/pkp/ojs/blob/master/classes/install/Upgrade.inc.php line 710
`			$row['setting_value'] = serialize($newOptions);`
Should be
`			$row['setting_name'] = serialize($newOptions);`
Now you are passing an array with the two keys to the Replace function and the new value is not getting saved at all. Only the original which is still under the setting_name key.

[2016-12-15 13:18] cabotine opened #2104 "[OJS] Missing keys/values in lib/pkp/locale/de_DE/submission.xml"
Hi,
the keys for How to Cite and Citation Formats seem to be missing in the German translation:
[code]
Best
Frank J.

[2016-12-15 14:41] jprk opened #2105 "OJS2->OJS3 upgrade corrupts file owner information"
I have a bunch of submissions in OJS 2.4.5 where a submission is accompanied by a single note, which has a file attached (CrossRef output PDF for the submission file). When these submissions are being upgraded for OJS 3.0.1, not only the note file disappears from the view (see issue #1932), but also the submission file owner seems to be set to the owner of the note file ...

[2016-12-15 16:05] #1726 closed

[2016-12-15 16:21] bozana commented on #2089
merged, thus closing...

[2016-12-15 16:21] #2089 closed

[2016-12-15 21:06] bozana commented on #2092
It seems that this OJS 2.4.x files have all `viewable = 0` in the database, which is not correct and makes this condition not pass: https://github.com/pkp/pkp-lib/blob/master/classes/security/authorization/internal/SubmissionFileAssignedReviewerAccessPolicy.inc.php#L55.
Apparently the property "viewable" was not considered in the upgrade script. I do not know if there is any rule to apply to corre

[2016-12-15 22:53] bozana commented on #2103
PR:
master: https://github.com/pkp/pkp-lib/pull/2107

[2016-12-15 22:54] bozana commented on #2103
@asmecher, could you please review this? THANKS!!!

[2016-12-16 07:41] jprk commented on #2105
Could it be that `Upgrade::setFileUploader()` (see https://github.com/pkp/ojs/blob/051b64129e8ce516c166d549a859270934dcf1d9/classes/install/Upgrade.inc.php#L915-L920) called too early -- on files where the uploader information has not been extracted from OJS 2.4.x `article` table?

[2016-12-16 11:46] ajnyga commented on #2083
This same issue causes the review form to crash if the reviewer checks the submission metadata in step 1: http://forum.pkp.sfu.ca/t/ojs3-moving-between-steps-in-submission-and-review-forms-sometimes-cause-errors/26283/9

[2016-12-16 12:09] ajnyga opened #2108 "[OJS] tinymce error (downloadable font: OS/2: bad linegap: -32 ) with Firefox"
While testing OJS3 I noticed that my co-workers Firefox 50 keeps on getting this error in console:
`downloadable font: OS/2: bad linegap: -32 (font-family: "tinymce" style:normal weight:normal stretch:normal src index:1) source: http://mydomain.fi/lib/pkp/lib/vendor/tinymce/tinymce/skins/lightgray/fonts/tinymce.woff  skin.min.css:1:30806`

I use Firefox 50 as well, but for some reason I do not get

[2016-12-16 14:43] bozana commented on #2103
Closing this issue, because I wrongly interpreted the "escape" parameter, s. the conversation in the PR... Thanks a lot @ctgraham!

[2016-12-16 14:43] #2103 closed

[2016-12-16 16:09] asmecher commented on #2108
@NateWr, any idea?

[2016-12-16 16:10] bozana commented on #2105
In OJS 2.4.x there is not always (if at all) information about the file uploader in the DB, that's why (almost) all are set to journal manager. S. this forum post mentioning that too: http://forum.pkp.sfu.ca/t/updating-from-ojs2-to-ojs-3-all-revisions-and-initial-copyedits-missing/26631. Also the discussion here: https://github.com/pkp/pkp-lib/issues/1805#issuecomment-2462764951.

[2016-12-16 16:40] bozana commented on #2074
Remove double escape mEDRA URLs

[2016-12-16 17:02] jprk commented on #2105
Okay, but in this case I think that the information is there. I will try to
confirm when I am back at work...

--
odesláno z mobilního telefonu Xperia Ray
Dne 16.12.2016 17:10 "bozana" <notifications@github.com> napsal(a):

[2016-12-16 17:12] ajnyga commented on #2108
I am getting this in Firefox 50 / OSX. As I mentioned earlier, in FF50/Win7 I could not see this.

Someone here https://github.com/roundcube/roundcubemail/issues/4788 says that:

And it seems that OJS3 is using 4.1.7.

[2016-12-16 18:45] bozana opened #2109 "Section editors can access submission and data only if they are assigned to that submission"
At the moment section editors can access submission either if they are assigned to the section, that submission is assigned to, or if they are assigned to the submission.
In case of some file downloads, currently the section editors are only permitted to download a file if the file submission is assigned to their section, which is wrong -- a section editor does not have to be assigned to a section

[2016-12-16 19:23] bozana commented on #2109
PRs:
pkp-lib ojs-stable-3_0_1: https://github.com/pkp/pkp-lib/pull/2110
ojs ojs-stable-3_0_1: https://github.com/pkp/ojs/pull/1148 (just submodule update for the tests)

[2016-12-16 20:46] asmecher opened #2111 "Guest Editor role is inoperative"
It's rarely mentioned in the code and doesn't appear to be working.

[2016-12-18 19:10] asmecher opened #2112 "Related Items plugin needs rewrite for OJS 3.x"
See http://forum.pkp.sfu.ca/t/custom-blocks-not-shown-in-plugin-list-in-ojs-3-0-1/26865/7 for details.

[2016-12-18 21:04] mtub opened #2113 "[OMP] rethink use of "fair copy""
I was wondering: Is "fair copy" really the right term to talk about the final corrected version of a manuscript? The term is only used once, but I noticed some difficulties in translating it into other languages, which might have something to do with the use of fair copy in talking about hand-written documents.

Also, `editor.monograph.editorial.fairCopy` is no longer used and could be removed fro

[2016-12-19 15:33] NateWr commented on #2098
Confirmed. Element overlap due to hacky workarounds on the task grid layout.

![tasks-grid-overlap](https://cloud.githubusercontent.com/assets/2306629/21318266/618e4d3c-c600-11e6-964c-b3812dbd3f8d.png)

[2016-12-19 15:35] NateWr commented on #2100
Yeah I keep noticing this and forgetting to file. Thanks @pkel. The field is there, just styled invisibly until you focus it. :)

[2016-12-19 15:45] NateWr commented on #2108
Thanks for the detective work @ajnyga! @asmecher any concerns updating the bundle of TinyMCE? Should we hold that for a major update (3.1)?

[2016-12-19 15:58] asmecher commented on #2108
Go for it on the master branch; we can back-port to `ojs-stable-3_0_1` if needed and once we're relatively sure it's stable.

[2016-12-19 16:56] bozana commented on #2109
@asmecher, could you code review the PR above? I tested it with OMP as well -- it should be OK. This is for ojs-stable3_0_1, but if OK, I will cherry-pick it to master too...

[2016-12-19 17:20] ajnyga opened #2114 "[OJS] Localised filenames complicate uploading submission files in multilingual journals"
The issue is described here: http://forum.pkp.sfu.ca/t/ojs3-uploading-submission-files-in-multilingual-installations-does-the-file-name-have-to-be-localized/26842/1

The easiest solution would be to use only the primary locale for filenames.

[2016-12-19 17:38] NateWr commented on #1859
I checked out the master branch of the static pages plugin. Still couldn't reproduce any problem there. @asmecher are you suggesting that I should include a submodule commit for the static pages plugin bringing it up to master?

I did find a syntax error introduced in 3d68ac9b717a25c2df9c9a6360988f53dca64e7e. For now I've fixed that and restarted the tests to see where we get.

The PRs are still t

[2016-12-19 21:32] bozana commented on #2097
I took a look at the revisions files upgrade problem: They are not considered/inserted into the table `review_round_files`. This can be easily done for the upgrade from 2.4.x to 3.0.x (with the SQL from @ajnyga above), but it will be a little bit difficult to repair it for those that already upgraded and are using 3.0.x, because some information is missing -- we do not know the review round any mo

[2016-12-19 22:39] bozana commented on #1901
PR:
ojs master: https://github.com/pkp/ojs/pull/1150
ojs ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1151

[2016-12-19 22:40] bozana commented on #1901
@jmacgreg, could you take a look at these changes i.e. PRs, if they are OK so?

[2016-12-19 22:45] bozana commented on #1901
@asmecher, I am not sure if something should be changed in the lensGalley plugin, could you take a look at that?

[2016-12-19 23:09] jmacgreg commented on #1901
@bozana these look great to me! They mirror my previous brief tests of what were needed. I also thought this was assigned to me - so thank you for completing it!

[2016-12-20 04:00] asmecher opened #2115 "Configured date formats need to be respected in front end"
See e.g. http://forum.pkp.sfu.ca/t/ojs-3-do-not-respect-the-defined-values-from-config-inc-php/21817/5

[2016-12-20 04:03] #2115 closed

[2016-12-20 04:10] asmecher commented on #2109
Thanks, @bozana -- this is a pretty profound change, but luckily not too big, and I do think it'll relieve a lot of confusion around submission access. Please go ahead.

[2016-12-20 04:12] asmecher commented on #2109
@stranack, FYI: this change means that Section Editors no longer automatically get access to submissions based on the section that it's assigned to. It only matters what *submissions* a section editor is assigned to. *However*, Section Editors get automatic assignments to new submissions in their sections.

This makes it explicit which submissions a section editor has access to, and e.g. removing

[2016-12-20 04:35] asmecher commented on #1901
The Lens viewer will need to update the Lens library for the new URLs. I'm holding off doing that for the moment as apparently they broke the mobile view -- see https://github.com/asmecher/lensGalley/issues/9 for details. We can revisit this once it becomes a problem.

[2016-12-20 12:23] NateWr commented on #2114
Just copying the report here for ease.

[2016-12-20 12:50] NateWr commented on #1906
Tests passed. They're re-running now because I had to rebase for a merge conflict. But should be good to go. @bozana can you code review?

[2016-12-20 13:12] bozana opened #2117 "Display native export validation errors"
Currently the errors are only in the log file and the XML is not displayed, thus it is difficult to debug i.e. see what is wrong. Thus, display the validation errors and invalid XML to the user, as it is in DOI export plugins.

[2016-12-20 13:14] ajnyga opened #2118 "[OJS] Enable journal to appear publicly on the site when path written with capital letters leads to an error"
In OJS 3.0.1. a situtation where site admin tries to enable a jouranl to appear publicly AND the journal path is written with capital letters:
![screenshot_18](https://cloud.githubusercontent.com/assets/16347527/21351733/cc697ef8-c6c6-11e6-959f-cd4a3059a82f.png)

I get this error:
![screenshot_19](https://cloud.githubusercontent.com/assets/16347527/21351743/d392272a-c6c6-11e6-9dcd-89fd5de2e781.png

[2016-12-20 14:24] ajnyga commented on #2097
Hi,

Thanks @bozana

I think that we have two somewhat separate issues. Firstly the issue of migrating revisions to OJS3 and second, the way the revisions are shown in OJS3.

I know that there are a lot of situations where an author submits more than one file when sending revisions and usually it is not the case the she would be sending several revisions of the same file. Usually the second file c

[2016-12-20 14:50] bozana commented on #2118
Yes capital letters seem not to be allowed for journal path in OJS 3.0.x. Is this meant to be so @asmecher ?
@ajnyga, in the meantime, would it be possible for you to first change it to something different e.g. "sehl1" and then back to "sehl" again?

[2016-12-20 15:25] bozana commented on #2097
Hmmm... If I see it correctly the copyediting files are migrated to the copyediting discussions. @asmecher, is this OK/correct/meant to be so?
They are also revisions of the same file i.e. with the same file id and different revision numbers. They are displayed as all revisions i.e. only the latest.

[2016-12-20 15:46] ajnyga commented on #2118
Hi,

Yes that is probably a working solution, I already changed this in the database.

[2016-12-20 16:00] ctgraham opened #2119 "BibTeX plugin missing comma between pages and doi element"
OJS 2.4.8-1: BibTeX citation output is malformed.

Reported: http://forum.pkp.sfu.ca/t/probleme-mit-bibtex-modul/27053

Cause is a missing comma on:
https://github.com/pkp/ojs/blob/dbe779f2bd97e9a0f2842c4357fb56496b7179e4/plugins/citationFormats/bibtex/citation.tpl#L26

[2016-12-20 16:59] asmecher commented on #2097
Hi @bozana and @ajnyga:

From @bozana:

I would prefer not to make assumptions about missing data -- if the assumption is wrong and people start reporting that file access is not as expected, then we'll have to consider four scenarios instead of the current two. Better to correct the upgrade scripts for new upgrades and leave already-performed upgrades as they are, though perhaps with some documen

[2016-12-20 17:44] bozana commented on #1901
everything merged, thus closing...

[2016-12-20 17:45] bozana commented on #2109
everything merged, thus closing...

[2016-12-20 17:45] #2109 closed

[2016-12-20 17:50] #1901 closed

[2016-12-20 18:02] bozana commented on #2117
PRs
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2122
ojs master: https://github.com/pkp/ojs/pull/1156
omp master: https://github.com/pkp/omp/pull/372

[2016-12-20 18:03] bozana commented on #2117
@NateWr, tests are running, but... could you take a look at those PRs?

[2016-12-20 19:45] ajnyga commented on #2097
Hi @asmecher and @bozana

Great to hear that you are taking this into account in the upgrade script. We are upgrading to OJS3 in mid January and together with #2047 and #1782 this is the most important thing to get fixed.

Alec you probably meant to write that "authors have been using the revisions system to store different files" - not reviewers. That is the case.

Basically the authors have used

[2016-12-21 09:26] primoz-svetek commented on #1901
Sorry, I am not sure: Will this change get into OJS 2.4.9?

[2016-12-21 09:33] bozana commented on #1901
@primoz-svetek, yes, it will be in the next OJS release

[2016-12-21 10:10] bozana commented on #1906
@NateWr, it seems good to me :-) I can again try to rebase and make a PR for you -- till you solve the problem locally, OK?

[2016-12-21 10:34] pkel commented on #2095
With the php error to stdout disabled and after a restart of the webeserver, I can't reproduce this any more. Mails are sent correctly and I have no infinite spinner any more on the Review Stage.

[2016-12-21 10:34] #2095 closed

[2016-12-21 10:48] NateWr commented on #2117
@bozana Looks good! A couple of minor recommendations. I haven't run this through any tests myself. Do you have a dataset I can use to produce a validation error to test this?

[2016-12-21 10:51] NateWr commented on #1906
That'd be really great @bozana, thanks. Would you be able to do it for the PRs in these two issues too?

https://github.com/pkp/pkp-lib/issues/1859
https://github.com/pkp/pkp-lib/issues/1772

If I can get these three issues merged and closed, I can safely blow away my whole fork and start fresh.

[2016-12-21 10:51] bozana commented on #1772
New PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2123
ojs master: https://github.com/pkp/ojs/pull/1155

[2016-12-21 11:00] bozana commented on #1906
Yes sure, I've already done/merged 1772, just OMP left... and I will take a look at 1859 as well...
I am afraid to start several PRs for one repository/application at once -- It feels like the tests are failing then more often, so I will do one by one per application... Hihihihi :-) And I close and reopen the PRs till the tests are green -- sometimes it seems to work Hihihihi :-)

[2016-12-21 11:10] NateWr commented on #1906
That could explain why I have so many problems with the tests. I tend to blitz a bunch of quick fixes and churn out PRs all at once. :)

[2016-12-21 11:14] bozana commented on #1906
new PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2124
ojs master: https://github.com/pkp/ojs/pull/1157
omp master:

[2016-12-21 13:05] bozana commented on #1772
everything merged to master, can the issue be closed?

[2016-12-21 13:21] bozana commented on #2097
PRs
ojs master: https://github.com/pkp/ojs/pull/1159
@asmecher, could you take a look at the PR?

[2016-12-21 13:35] NateWr commented on #1772
Thanks @bozana!

[2016-12-21 13:35] #1772 closed

[2016-12-21 13:59] bozana commented on #2097
Concerning copyediting:
If there is only one initial copyediting file, it will have the file stage 9 i.e. it should be presented in the copyedited grid. However it is not presented there, because of `viewable = 0`, which is also the problem here: https://github.com/pkp/pkp-lib/issues/2092. I.e. those viewable issues still have to be corrected.

If there were more copyediting rounds, the files will

[2016-12-21 15:44] bozana commented on #1906
everything merged, can the issue be closed?

[2016-12-21 16:49] crism commented on #2111
I can confirm this—our users were puzzled when their guest editors couldn’t access submissions. Temporary workaround is to just make them Journal Editors.

[2016-12-21 17:34] asmecher commented on #1906
To all external appearances, yes -- please do!

[2016-12-21 17:36] asmecher commented on #1772
Phew! Thanks, @bozana and @NateWr.

[2016-12-21 17:39] #1906 closed

[2016-12-21 17:40] asmecher commented on #2119
Merged and cherry-picked to `ojs-stable-2_4_8`. Thanks, @ctgraham!

[2016-12-21 17:40] #2119 closed

[2016-12-21 17:50] asmecher commented on #2111
See also this change to section editor access: https://github.com/pkp/pkp-lib/issues/2109

With that in place, there's really no need to distinguish between Section Editor and Guest Editor in the code. You can create a new role, using Section Editor as the role type, called "Guest Editor", to distinguish between the two types. So your work-around will be good going forward.

[2016-12-21 18:30] asmecher commented on #2111
Committed to master.

[2016-12-21 18:30] #2111 closed

[2016-12-21 18:31] asmecher commented on #2095
Thanks, @pkel!

[2016-12-21 19:35] bozana commented on #1859
new PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2127
ojs master: https://github.com/pkp/ojs/pull/1161

[2016-12-21 20:32] bozana commented on #1859
merged, can this be closed, or shall this be cherry-picked?

[2016-12-21 20:45] asmecher commented on #1859
It looks like it at least needs porting over to OMP, no?

[2016-12-21 22:41] jmacgreg opened #2128 "Restrict some editorial permission levels to "suggest" rather than "decide" actions"
Some editorial workflows would benefit from the ability to have finer-grained editorial permission levels, where sub-editors can only make suggestions on an article (similar to reviewer recommendations), rather than a decision. The final decision would fall back to a higher-level editor.

[2016-12-21 22:45] asmecher commented on #2118
I would suggest we relax the lowercase requirement. For users with existing OJS 2.x journals, a change to capitalization will break inbound links.

[2016-12-22 00:33] asmecher commented on #2113
Tagging @willinsky and @stranack on this one.

[2016-12-22 08:35] bozana commented on #1859
No, I first also thought so, but OMP has no site :-)

[2016-12-22 09:24] bozana commented on #2117
Thanks a lot @NateWr! I fixed everything, I think. If you comment this line, you can see the error message when exporting a submission: https://github.com/pkp/pkp-lib/blob/master/plugins/importexport/native/filter/SubmissionNativeXmlFilter.inc.php#L166

[2016-12-22 11:27] NateWr commented on #1859
Yep! The changes to LanguageBlockToggle should be compatible so that no changes are needed in OMP. And when OMP gets a site-wide context, we'll need to build that site settings panel up fresh anyway, so we can handle that then I think.

[2016-12-22 11:49] NateWr commented on #2117
Thanks! Tested, looks good. All merged!

[2016-12-22 14:32] ctgraham opened #2129 "Proxy settings are not considered when fetching plugins.xml from PKP"
Reported: http://forum.pkp.sfu.ca/t/allow-url-fopen-issue/27144

`PluginGalleryDAO::_getDocument()` does not consider proxy settings from config.inc.php and tries to fetch PLUGIN_GALLERY_XML_URL directly.
https://github.com/pkp/pkp-lib/blob/c6ba14e654e9290d62aecbb18869d4c7b2b3ddeb/classes/plugins/PluginGalleryDAO.inc.php#L61

[2016-12-22 16:34] asmecher opened #2130 "Provide access to previous revisions of files in files grids"
See e.g. the discussion at https://github.com/pkp/pkp-lib/issues/2097.

[2016-12-22 16:36] asmecher commented on #2097
@ajnyga, there are many parts of OJS2 where only the latest revision is available via the workflow, and you'd have to go back to the Files Manager to access previous revisions. We can do better than that with OJS3 -- I agree that we should provide links to previous revisions -- but haven't gotten to it yet. (Filed: https://github.com/pkp/pkp-lib/issues/2130)

I haven't heard of anyone else using t

[2016-12-22 16:37] asmecher commented on #2097
@bozana, pkp/ojs#1159 looks good to me, thanks!

[2016-12-22 16:42] ctgraham opened #2131 "OJS3: Errors on installation page are unobtrusive"
In the OJS 3.0.1 installation, errors made in the "Administrator Account" section are classed to "error", but this class is not formatted any differently than the ordinary text.

![hidden-install-error](https://cloud.githubusercontent.com/assets/7001322/21432907/9f2812a8-c83b-11e6-9fa2-54d15c83c55b.PNG)

[2016-12-22 16:51] ctgraham commented on #2131
CSS rule `.pkp_form label.error` would kick in if these messages were in a `label` instead of a `span`.

[2016-12-22 17:15] ctgraham commented on #2131
The `span` is sourced here:
https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_1/templates/form/formSection.tpl#L23
but perhaps adding the selector `.pkp_form span.error` to the existing CSS declaration is preferable?
https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_1/styles/form/form.less#L46-L54

[2016-12-22 17:45] ctgraham commented on #2076
I'm pretty sure MEDRA supports a repeating `PageRun` element, which describes contiguous sequences of pages.  See: https://www.medra.org/schema/onix/DOIMetadata/2.0/ONIX_DOIMetadata_2.0.xsd
[code]

Since we don't capture the number of pages, and can't reliably calculate it, this would be preferable.

[2016-12-22 18:08] ctgraham commented on #2076
What little documentation I've found on the Refer/BibIX format we're using for EndNote also suggests that the current expression of a page range rather than a page count is legitimate.

http://web.archive.org/web/20070905162121/http://www.ecst.csuchico.edu/~jacobsd/bib/formats/refer.html

[2016-12-26 21:18] distriker opened #2132 "[OCS] Empty page after upload the files without possibility to install"
Hi everyone!
I am interested in Open Conference System because I want to build the website of a conference. It is very strange because the last update of OCS was in 2014, but I tried to install it. However, I uploaded all the files to my server but when I enter in the site it shows an empty page, without anything.

Have you got any idea about that? As an alternative I have thought to use Open Jour

[2016-12-26 21:42] distriker opened #2133 "[OCS] Virus Win.Trojan.Toa-5370166-0 detected"
Hi everyone!

I am having problems with Open Conference System. I uploaded it with Filezilla and it doesn't show me the install process. I was trying again, but this time I use the hosting file manager. I received a bad surprise when I get an error in the uploading process: «El archivo que cargó, ocs-ocs-dev-2_3(2).zip, contiene un virus, por lo que se canceló la carga: Win.Trojan.Toa-5370166-0 FO

[2016-12-26 21:49] Vitaliy-1 opened #2134 "OJS 3.0.1: Statistics plugin needs additional testing"
Statistics plugin logs are creating normally but very little information goes into metrics table.

maybe related (or not) errors upon processing logs:
huge number of this:
`PHP Warning: preg_match(): Delimiter must not be alphanumeric or backslash in .../lib/pkp/classes/core/PKPString.inc.php on line 342`

and
[code]

Don`t know if this problem is systemic or only on my server configuration (ubunt

[2016-12-30 20:35] asmecher commented on #2133
@distriker, where are you getting these files from if not the PKP website?

[2016-12-30 20:35] asmecher commented on #2132
Closing in favour of https://github.com/pkp/pkp-lib/issues/2133. FYI, this issue tracker is a good place to go if you're fairly sure you're hitting a specific bug, but for general inquiries you might be better served by posting in the forum at http://forum.pkp.sfu.ca/.

[2016-12-30 20:35] #2132 closed

[2016-12-31 10:07] mtub opened #2135 "Improve password reset to use one-use, time-limited hash"
**Describe the problem you would like to solve**
Password reset is a two-step process that emails a temporary password and asks the user to change it on the next login. This can be confusing for users who are accustomed to receiving a one-time link to set a new password when they forget a password.

**Describe the solution you'd like**
When the user has forgotten a password, send an email with a o

[2017-01-01 07:59] TobiasWantzen commented on #2135
What's the alternative? Spontaniously I'd send a temporary password by mail, valid for 2 hours, »User must change password on next log in.« activated.

[2017-01-02 09:05] ajnyga commented on #1782
@asmecher can you confirm whether the change I suggested above is correct. I am preparing to update our production server to OJS3.0 next Monday and this is one of the things I need to fix before that. I can of course make the change locally to the upgrade script.

[2017-01-02 13:27] ajnyga commented on #2097
Thanks for the comments and changes!

The problem with splitting the files is that I do not know which files to split and checking it manually is not really an option. Now that you have #2130 I will probably apply the fix I suggested above to get the revisions to show and when #2130 is ready, I will remove my own fix. The thing is that I am upgrading our server to OJS3 next Monday and need to make

[2017-01-02 16:58] WaDelma commented on #2135
Usually password resets are handled by sending link to change the password that can be only used one time and is only valid for certain time.

[2017-01-03 13:32] ajnyga opened #2136 "[OJS] Empty sidebar breaks javascript in front end"
After a test upgrade to OJS 3.0.1 I noticed that my journals are not showing anything in article usage statistics:
![screenshot_25](https://cloud.githubusercontent.com/assets/16347527/21609110/336f3a68-d1c9-11e6-8912-c1156fca7545.png)

First I thought that the statistics migration has gone wrong but after looking into the usage stats plugin I noticed that I can easily print all usage data to the a

[2017-01-04 15:00] bozana commented on #2092
@asmecher, I think this condition: `$submissionFile->getViewable()` is maybe not necessary for review assignments: In normal case, the files that an editor selects for the review i.e. in the "Review Files" grid are viewable. However, the editor can deselect the checkbox when editing such a file and the file will then have viewable = 0. But, if that file is assigned to a reviewer, in the "Reviewers

[2017-01-04 17:25] almeidafilho opened #2137 "[OMP]"
How can I resolve that?
ic method Application::getName() should not be called statically, assuming $this from incompatible context in /home/storage/7/e0/51/observaprocessos/public_html/revistaobservaprocessos/lib/pkp/classes/install/form/InstallForm.inc.php on line 144

Deprecated: Non-static method Application::getName() should not be called statically, assuming $this from incompatible context in

[2017-01-04 17:38] RafaelMansilha commented on #1919
Hi @bozana , have you looked at this?? I'm having the same problem here.

http://forum.pkp.sfu.ca/t/omp-1-2-cant-upload-images-with-tinymce/13683/6?u=rafaelmansilha

[2017-01-04 18:12] bozana commented on #2092
Currently I only see one purpose of "viewable" in OJS 3.x -- to control whether a reviewer file should be viewable by the author. When uploaded, the reviewer files have `viewable = 0`. Those reviewer files that are selected when informing the author e.g. by "Send To Copyedit" get then `viewable = 1`. And just those are viewable for the author.
To control whether a reviewer can view a file should m