[2015-07-24 15:02] #552 closed

[2015-07-24 15:02] #534 closed

[2015-07-24 16:22] #571 closed

[2015-07-24 23:22] jmacgreg opened #615 "[OJS] Update CrossRef export info"
Changes:
- check if contributor list is empty; if so, don't include;
- use issue publication date if article publication date doesn't exist;
- add ISSN documentation/warning to settings page.

[2015-07-25 04:59] molavy opened #616 "[OJS] logout random problem with domain but not with ip address"
recently user reported logout from website randomly specific on post data to server
i check it and when i use domain address of website if must login on every post data
but on accessing website with ip address there is no such problems

[2015-07-25 07:25] asmecher commented on #616
@molavy, could you post this on our support forum (http://forum.pkp.sfu.ca/) rather than creating a bug entry?

[2015-07-25 07:25] #616 closed

[2015-07-25 12:13] asmecher commented on #600
Nate, I like the try/catch solution you've proposed. Can you include it in your branch (if you haven't already) so it doesn't get forgotten?

[2015-07-25 12:14] asmecher commented on #598
Makes sense, Nate. Agreed.

[2015-07-25 13:16] asmecher opened #617 "Permit email header to include sender identity"
See http://forum.pkp.sfu.ca/t/email-header-add-name/1591

From Carola:

    if (!(strstr($header, '{$senderName}') === false)) {
        $header = str_replace('{$senderName}', Request::getUser()->getFullName(), $header);
    }

    if (!(strstr($this->getBody(), '{$senderName}') === false)) {
          $this->setBody(str_replace('{$senderName}', Request::getUser()->getFullName(), $this->getBody())

[2015-07-25 14:50] asmecher commented on #617
Pulls:
https://github.com/pkp/pkp-lib/pull/618
https://github.com/pkp/omp/pull/132

Bruno, could you take a look?

[2015-07-25 14:51] asmecher commented on #617
Carola, this code is for OMP 1.2, and there have been quite a few changes around email handling (for example, they're now HTML-enabled, and there's support for listing and selecting the variables that will appear in TinyMCE controls). For OMP 1.1.1, I think all you'll need are the changes to MailTemplate.inc.php that move the replacement of email variables with the associated text into the `send()

[2015-07-26 03:48] molavy commented on #616
thanks
http://forum.pkp.sfu.ca/t/logout-random-problem-with-domain-but-not-with-ip-address/2582
but there is no answer

[2015-07-26 07:33] asmecher commented on #616
@molavy, there's a response now. Please be patient -- we're a small team, but we'll get to your question when we can.

[2015-07-27 07:47] asmecher opened #619 "Can't SWORD deposit into DSpace 3.2"
See http://forum.pkp.sfu.ca/t/sword-cannot-deposit-into-dspace-3-2/2119/8 for details.

Another aspect of this is that the SWORD deposit (via import/export) appears to report success when there's actually an error message returned.

[2015-07-27 14:26] marcbria opened #620 "[OJS] "registry" folder seams hardcoded when calling upgrade.php."
For a while I noticed this error: http://pkp.sfu.ca/support/forum/viewtopic.php?f=8&t=13179

Today I found the problem is that tools/upgrade.php seams to ignore "registry_dir" variable.

In my case, this var is not in ojs's root: registry_dir = /home/ojs/webdata/papers/registry

When I created the /registry folder in ojs's root, upgrade log don't report that was unable to find emailTemplates.xml f

[2015-07-27 14:38] beghelli commented on #563
I am not sure if the social media metrics visualization by year, month or day ever worked. Only the total (comments, likes, etc) is aggregated by time, so we can't really provide likes aggregated by time because we don't have this info.

[2015-07-27 14:40] beghelli commented on #563
To be able to upgrade to V5 would be nice if I could use any server to fetch stats from to test.

[2015-07-27 14:47] #535 closed

[2015-07-27 18:34] ubermichael commented on #599
This should have closed automatically after the merge.

[2015-07-27 18:34] #599 closed

[2015-07-27 18:35] ubermichael commented on #586
This should have closed automatically after the merge.

[2015-07-27 18:35] #586 closed

[2015-07-27 18:35] ubermichael commented on #583
This issue should have been closed automatically after the merge.

[2015-07-27 18:35] #583 closed

[2015-07-27 18:40] ubermichael opened #621 "[OJS] Use deposit UUID as name of working directory"
The PLN plugin uses 'bag' as the working directory for all deposit packages. This is error prone and causes problems during deserialization. Use the deposit UUID instead.

Patch coming soon.

[2015-07-27 18:51] jalperin commented on #563
pkp-alm.lib.sfu.ca  has v5.

time does work for many sources, but not all

[2015-07-27 19:44] beghelli commented on #563
ok, I will make a conditional then. Right now we are assuming separated sources for all stats in time aggregation. I will check for that and if we don't have I will just remove the graphs and show the total. Does that sounds ok?

[2015-07-28 12:55] NateWr commented on #600
Done. Should I close this issue or do you prefer to wait until it's merged?

[2015-07-28 13:32] ctgraham commented on #526
This was merged to dev-2_4 by https://github.com/pkp/ojs/pull/502

[2015-07-28 13:32] #526 closed

[2015-07-28 13:35] ctgraham opened #622 "[OJS] copyAccessLogFileTool reports "Success" even when shell command fails"
`exec` status should be checked
https://github.com/pkp/ojs/blob/ojs-stable-2_4_6/tools/copyAccessLogFileTool.php#L180
and
https://github.com/pkp/ojs/blob/ojs-stable-2_4_6/tools/copyAccessLogFileTool.php#L190

[2015-07-28 13:58] ctgraham opened #623 "[OJS] copyAccessLogFileTool confuses Solaris with *.*"
https://github.com/pkp/ojs/blob/ojs-stable-2_4_6/tools/copyAccessLogFileTool.php#L116

`glob('*.*')` returns unwanted results in Solaris, but `glob('*')` works fine in Solaris and elsewhere.

See previous related discussion in Bugzilla:
http://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8962

[2015-07-29 13:44] NateWr opened #624 "[OJS] Published journal table of contents mixes up articles/reviews"
The test data shows 4 articles and 1 review for the back issue (Vol 1, No 1). But if you view the issue on the frontend it shows 1 article and 4 reviews.

It isn't actually swapping the reviews/articles, though. The item in the articles section is an article and the reviews section contains 3 articles and 1 review.

[2015-07-29 13:47] AhemNason opened #625 "Change in documentation for page numbers in setup"
In **Setup > Step 4.3** the bit about page numbers could use an adjustment. The example includes pp. and then the page range, but based on export capability for things like CrossRef, those pp.s end up being problematic. I'd recommend just showing the basic page number range here so people don't take the example literally and end up having to change all their page numbers if they decide to use DOIs

[2015-07-29 13:52] AhemNason commented on #333
Hey Alec, I'm mostly just chiming in here to say that if we had the granularity for page numbers it might be preferable to having other exporters having to split the content? But maybe not. I know that there are plenty of metadata standards for citations or articles that look for a first/last page and there are some that can handle a straight-up range. This is definitely going to come up in any co

[2015-07-29 14:45] NateWr opened #626 "Reduce access logic handling in issue template files"
`/templates/issue/view.tpl` includes a long chunk of code that handles access logic in the template:

[code]

I'd love to see as much of that logic as possible offloaded into the issue handler PHP file. Ideally, each galley might have its own flag indicating if it's available or not, so that the code can be simplified to something like this:

[code]

As a template author I might not understand all

[2015-07-29 15:04] asmecher commented on #626
Absolutely. There's some encapsulation of this in IssueAction for OJS 2.x, but that's also not very well written.

[2015-07-29 15:17] NateWr commented on #626
Speaking of this access logic, are [these lines](https://github.com/pkp/ojs/blob/master/templates/issue/view.tpl#L62-L68) supposed to be *outside* of the `foreach` loop? Been trying to make sense of it but can't really understand the use-case, or what kind of information is meant to be displayed here.

[2015-07-29 15:22] asmecher commented on #626
@NateWr, it looks to me like those lines are supposed to provide a legend explaining the icons that are used further down on each published article to indicate the article's access status.

[2015-07-29 16:04] NateWr commented on #626
I've been trying to wrap my head around this a bit. The legend appears above, so I don't think those lines are it.

Also, I'm not entirely sure if `$restrictOnlyPdf` is correct [here](https://github.com/pkp/ojs/blob/master/templates/issue/view.tpl#L54-L60). Shouldn't the restricted/unrestricted access images appear beside a galley regardless of whether the payment gateway is only set up to restric

[2015-07-29 16:14] asmecher commented on #626
@mfelczak is probably the best guy to ask -- he wrote that stuff. Michael, mind taking a look?

[2015-07-29 16:35] NateWr commented on #626
I think I figured it out. It adds access icons to each galley only if `$restrictOnlyPdf` is true. Otherwise it just adds one icon to the whole row of galleys. I'll move forward on that assumption so hopefully someone will tell me if it's wrong.

[2015-07-29 16:59] asmecher commented on #625
Scheduling for OJS 2.4.7 for the sake of keeping it with issue #333.

[2015-07-29 18:37] asmecher commented on #600
Your preference. FYI, you can get git to close issues when commits are merged using commit messages. See: https://help.github.com/articles/closing-issues-via-commit-messages/

[2015-07-29 19:36] asmecher opened #627 "Show warning for systems without XSL support"
If XSL support isn't installed, OMP apparently doesn't provide any warning, but e.g. the ONIX codelists just appear empty. Show a warning of some kind, ideally on the installation form.

(XSLTransformer seems to want to return false from the constructor in this case, which it can't do -- it's a constructor. Fix that too.)

[2015-07-29 19:41] asmecher commented on #621
Merged and cherry-picked. Thanks, @ubermichael.

[2015-07-29 19:41] #621 closed

[2015-07-29 19:50] asmecher commented on #620
Marc, as a general solution I'd actually rather remove that setting from `config.inc.php` entirely -- it's not consistently used (as you've noticed), but there are also other registry directories, e.g. `lib/pkp/registry` and `plugins/generic/translator/registry`.

If I removed that setting from `config.inc.php`, would it it leave you up a creek? Or would you be able to use a symlink approach like

[2015-07-29 20:59] asmecher commented on #566
Actually, that's a mis-diagnosis. This commit fixed it: https://github.com/pkp/pkp-lib/commit/275d9d8dfb501ff8fbbfe3d57b964083570fc49d
The problem was that we were using an implicit boolean cast in one case, and `isset(...)` in another.

[2015-07-29 20:59] #566 closed

[2015-07-30 00:02] asmecher opened #628 "Add filter for submission file grids"
Add a filter for these; according to Heidelberg it's useful for when lists get long.

[2015-07-30 00:12] asmecher commented on #628
A commit: https://github.com/asmecher/pkp-lib/commit/a3be70fb7951f6db823fb93c72226b2a31ecf501
(Copyedit queries stuff needs merging first)

[2015-07-30 07:51] marcbria commented on #620
I can arrange my installation to keep registry folder in ojs-root, but my concern is:
a) make sense to keep /registry in root (exposed to attacks) or is a folder that must be under webdata (not directly reachable by apache)?
b) make sense to keep multiple "registry" folders distributed or it's better to keep them centralized?
Just to clarify myself... you are suggesting remove the variable in conf

[2015-07-30 09:17] #600 closed

[2015-07-30 11:07] NateWr opened #629 "Problem loading localized string in production galley approval"
The strings `manager.emails.disable` and `manager.emails.enable` are not loading in [ArticleGalleyGridCellProvider:71](https://github.com/pkp/ojs/blob/master/controllers/grid/articleGalleys/ArticleGalleyGridCellProvider.inc.php#L71).

Although the text isn't visibly displayed in current master, it is in my UI branch.

I'm going to chunk this into the beta milestone because without this text I spen

[2015-07-30 11:46] NateWr commented on #629
Related commit: [NateWr/ojs:header_ui](https://github.com/NateWr/ojs/commit/df877d0a7788460ff5807c3722ad2dec9fea7dd9)

[2015-07-30 15:43] asmecher commented on #620
There's nothing critical in the `registry` directory that shouldn't be potentially exposed for direct requests via the web server; I suspect you're the first person to try putting it somewhere else in OJS's long history. The only place that's really crucial to keep outside the web root is the files directory, because user uploads are kept there.

The reason we've got `registry` directories in the

[2015-07-30 15:45] asmecher commented on #629
Nate, locale components are brought in using...

   AppLocale::requireComponents(component1, component2, component3, ...);

...where each component is a `LOCALE_COMPONENT_...` constant (see `PKPLocale.inc.php` for definitions of these). You can grep for the locale file that contains the key, then find the matching constant. Make sense?

[2015-07-30 15:47] NateWr commented on #629
Yeah I don't have any problem finding and modifying the strings. But this one doesn't seem to be getting "found". I get that occasionally throughout, where some strings just mysteriously don't load on one page load. But in this case it happens with every page load, so I figure something is missing.

[2015-07-30 15:55] asmecher commented on #629
Adding...

    AppLocale::requireComponents(LOCALE_COMPONENT_PKP_MANAGER);

...to `ArticleGalleyGridCellProvider::getCellActions` resolves this for me, using your branch.

[2015-07-30 15:57] NateWr commented on #629
Ahh ok, my mistake. I just assumed that all the locale strings would be loaded in for each page load. I'll take a look. May not make much sense to be using the manager strings there.

[2015-07-30 15:58] asmecher commented on #629
Agreed, manager keys probably shouldn't be used. There's also `common.enable` and `common.disable`, which should already be loaded, so no need for another `AppLocale::requireComponents` in the bargain

[2015-07-30 17:34] asmecher commented on #608
See also https://github.com/pkp/omp/pull/119

[2015-07-30 23:55] asmecher opened #630 "Migrate old copyediting process data to new queries structure"

[2015-07-31 08:19] marcbria commented on #620
So will have (at least) 3 registry folders:
1) /registry
2) /lib/pkp/registry
3) /plugins/generic/translator/registry

My problem here is with the concept: I happily buy the 2 registry model (accepting the ojs & lib-pkp division) but in my brain a distributed "registry" (with 3 or more folders) sounds like a potential problem to OJS admins that don't have a centralized (o bicentralized) point/s to

[2015-07-31 12:04] fstopgear opened #631 "File metadata should include DOIs"
Based on previous conversations.  File metadata should include hooks into the public identifiers, especially DOI.

[2015-07-31 12:04] #631 closed

[2015-07-31 12:09] jnugent opened #632 "File metadata should include DOIs"
Based on previous conversations. File metadata should include hooks into the public identifiers, especially DOI.

[2015-07-31 12:17] jnugent commented on #632
Commits:

https://github.com/pkp/omp/pull/134
https://github.com/pkp/pkp-lib/pull/633

[2015-07-31 14:57] asmecher commented on #631
Welcome aboard, @fstopgear ;)

[2015-07-31 22:17] asmecher commented on #519
Merged!

[2015-07-31 22:17] #519 closed

[2015-07-31 22:22] asmecher commented on #632
Thanks, Jason. I've passed this along to FUB to see if they've got any comments.

[2015-07-31 23:11] jmacgreg opened #634 "[OJS] Update PubMED XML export to include affiliation info, keywords"
1) The PubMED XML export plugin only includes affiliation information for the first author. It should include affiliation information for all authors.

2) The plugin should also include keyword information in an ObjectList element set after the abstract - see http://www.ncbi.nlm.nih.gov/books/NBK3828/#publisherhelp.Can_I_submit_author_keywor.

[2015-08-04 20:20] asmecher commented on #628
Pull: https://github.com/pkp/pkp-lib/pull/635

Jason, mind reviewing this?

[2015-08-04 21:16] asmecher opened #636 "Implement search by section"
See http://forum.pkp.sfu.ca/t/search-in-sections/2822/2 for details.

[2015-08-05 11:32] beghelli opened #637 "Interstitial issue download not working"
There's an authorization problem that I figured it out already, but on top of this there's a double execution of the viewDownloadInterstitial operation, and the second time the issue galley id parameter is passed as an array.

The download operation is also not being able to deliver the file:
Fatal error:  Call to undefined method IssueFile::getFileName() in /home/beghelli/dev/pkp-workspace/ojs/cl

[2015-08-05 15:33] asmecher commented on #637
@beghelli, FYI, @NateWr is tinkering around in the same area. Maybe the two of you should coordinate if you're interested in working on this.

[2015-08-05 15:42] NateWr commented on #637
Hopefully the merge will come in today and then we'll all be looking at the same thing.

[2015-08-05 18:21] NateWr opened #639 "[UI] Frontend issues"
The following are outstanding issues in the new UI related to the frontend.

- [x] Only right sidebars work! (main content panel needs a `float: right` when only a left sidebar exists... may not work with 2 sidebars) See [PR#561](https://github.com/pkp/ojs/pull/561)
- [x] ~~If no footer categories/links exist, there's still a gray bar across the bottom of the screen.~~

**Register/Login**
- [x] Re

[2015-08-06 08:30] NateWr commented on #626
Closing this as several improvements have been made and the subscription stuff is going to be rewritten anyway.

[2015-08-06 08:30] #626 closed

[2015-08-06 09:18] NateWr commented on #629
Forgot to reference from the commit. This is addressed in [PR #555](https://github.com/pkp/ojs/pull/555)

[2015-08-06 09:39] NateWr opened #643 "[UI] Strings missing in backend navigation menu"
The manager context isn't loaded in, so Settings > Website/Workflow/Distribution strings aren't available.

I took a stab at this by adding a check for user roles in `PKPHandler::setupTemplate()`:

[code]

But the `ROLE_ID_MANAGER` wasn't yet defined. Ideally this would only get loaded in on the backend, and only when a manager is viewing. But I didn't see an easy way to query user roles in `PKPTe

[2015-08-06 14:29] asmecher commented on #643
I'll fix this.

[2015-08-06 14:30] #629 closed

[2015-08-06 15:31] #643 closed

[2015-08-06 16:42] asmecher opened #649 "Spinner always spinning on login page"
The spinner is always visible and spinning on the login page. (No need to click Submit to see this.)

[2015-08-06 16:42] asmecher opened #650 "Double bullets on Administrator's settings page"

[2015-08-06 16:57] #650 closed

[2015-08-06 17:32] ctgraham opened #653 "[OJS] native import causes fatal error during Issue cleanup after failure"
If importing multiple issues with one or more issues being successful and a later issue failing, the native importexport plugin will call `NativeImportDom::cleanupFailure ($dependentItems)` and then try to individually delete the successful issues.
https://github.com/pkp/ojs/blob/f4cf6ed7bb782c0c0a9f0afaa4e6fc1ecfccdd77/plugins/importexport/native/NativeImportDom.inc.php#L72

The iteration through

[2015-08-06 19:45] asmecher opened #654 "Section editors listbuilder entries can't be deleted"
When editing a section, entries in the section editor listbuilder cannot be deleted. There should be a delete icon of some sort on each row.

[2015-08-06 19:59] asmecher opened #655 "Dialog/modal markup seems to remain in the DOM after closing"
This showed up in the 50-SectionsTest, which edits an existing section, then creates another one, without navigating away from the page. Because the Selenium selectors need to unambiguously identify elements to interact with, the tests started failing.

Adding this reload process worked around the problem:
https://github.com/asmecher/ojs/commit/184bcbd1566128023ec967ca9a9111f193e9432e#diff-5b5090c

[2015-08-07 00:30] asmecher commented on #655
I suspect this is because of the setTimeout in ModalHandler.js leaving 300ms for the closing animation; the tests run faster than that. For now, adding a Selenium pause to give it time.

[2015-08-07 00:45] asmecher opened #656 "Infinite scrolling is broken"
The data build tests barf when attempting to locate a submission as editor (dbarnes), because the expected .gridPagingScrolling element is not found. See:

https://github.com/pkp/pkp-lib/blob/master/tests/WebTestCase.inc.php#L385

This leads to the following from Selenium:

    ERROR: Element css=#activeSubmissionsListGridContainer .gridPagingScrolling not found

I don't think it'll be necessary t

[2015-08-07 08:26] NateWr commented on #656
I dove into this today without luck. I can't figure out how `controllers/grid/feature/infiniteScrolling.tpl` (which includes that markup) is meant to get loaded into the grid. And if I just add it to `grid.tpl` it doesn't fix the infinite scrolling.

I decided to try to see what's changed from when it was working. But I went all the way back to start-of-May commits for ojs/pkp-lib and still the in

[2015-08-07 08:47] NateWr commented on #656
Woot! Should have looked in the javascript, of course.

(Note, infinite scrolling is still broken. This only restores the `.gridPagingScrolling` element for the test.)

[2015-08-07 14:23] NateWr commented on #649
Fixed in #658.

[2015-08-07 14:23] #649 closed

[2015-08-07 14:46] NateWr opened #659 "[UI] Issue and article galleys don't load"
We have some critical problems with issue and article galleys that need to be fixed for OJS 3.0b.

- [x] Non-pdf Issue galleys load 404. `viewInterstitial` op seems to be broken
- [x] PDF Issue galleys load template but not PDF file. `Call to undefined method IssueFile::getFileName()` See #637
- [x] All article galleys fail to load
- [x] `issue/interstitial.tpl` needs to be refactored into new tem

[2015-08-07 14:49] NateWr opened #660 "[UI] Journal logos and alternate header not loading on journal index page"
`$currentJournal` is available but all of the variables that should be assigned from it, like `$displayPageHeaderLogo`, are not defined on the journal index page. As a result, several things don't appear which should.

Only seems to effect `index.tpl`. The logo appears on other pages.

Alternate header also affected.

[2015-08-07 14:50] NateWr opened #661 "[UI] Missing items from article details page that should be added for OJS 3.0b"
The following content is missing from the article details page on the frontend. Which items need to go into 3.0b?

- [ ] Missing Keywords (need to fix tag-it component first. See #602)
- [ ] Missing Citations (now available to enter in c03de1c83e14fa5f8f3bc26ac6d2f2da70ccf968)
- [ ] Missing Metrics
- [ ] Missing DOI
- [ ] Missing Cover image
- [ ] Missing Copyright
- [ ] Missing Licensing
- [ ] Mi

[2015-08-07 14:53] NateWr commented on #661
Since I won't be getting much done until Monday night, anyone should feel free to just chuck missing content into the article template. I can pretty it all up next week.

[2015-08-07 14:54] NateWr opened #662 "[UI] Untouched search templates"
There are four templates in `/search/` which haven't been touched and may not work. It wasn't clear to me what they do: `authorDetails.tpl`, `authorIndex.tpl`, `categories.tpl`, `category.tpl`.

Do these need to be up and running for 3.0b?

[2015-08-07 14:58] NateWr opened #663 "None of the links on the For Readers, For Authors and For Librarians pages seem to work."

[2015-08-07 15:05] NateWr opened #664 "Can't edit or overwrite issue galley file"
1. Dashboard > Issues > Edit Issue > Issue Galleys > Edit
2. Upload an image. Then Save.
3. Then go and try to change the image.

It seems to upload, but when clicking the save button, the file doesn't change. A fatal error appears in my Apache error log:

[code]

[2015-08-07 15:10] NateWr opened #665 "Grids in administration screens need styling."
This is easy and should be done for 3.0b because arrows can cover checkboxes.

[2015-08-07 15:17] NateWr opened #666 "Can't delete role from user"
Settings > Users > Edit User > Roles.

1. To the left of the role there should be a delete button which is not appearing. Needs some CSS work to attach a delete icon.

2. Even with content attached, clicking on the delete button doesn't seem to delete role from the user.

[2015-08-07 15:33] NateWr opened #667 "Submission metadata that uses tag-it component isn't saved"
This includes Languages, Subjects, Discipline(s), Keywords, Supporting Agencies.

Improvements to the tag-it component styles exist in [this PR](https://github.com/pkp/pkp-lib/pull/646), but don't address the problem with saving. See [this comment](https://github.com/pkp/pkp-lib/pull/646#issuecomment-128343057).

[2015-08-07 15:43] asmecher commented on #662
authorIndex and authorDetails are part of a "browse by author" interface that used to be linked from the navigation sidebar block. It'll be necessary for OJS 3.0, but not necessarily OJS 3.0b.

The categories.tpl and category.tpl templates are part of a means to organize large collections of journals by subject; in OJS 2.4.x it's possible to enable an option permitting journal managers to assign e

[2015-08-07 15:47] asmecher commented on #666
See also https://github.com/pkp/pkp-lib/issues/654

[2015-08-07 15:48] asmecher commented on #654
See also https://github.com/pkp/pkp-lib/issues/666

[2015-08-07 15:49] NateWr commented on #662
Ok, I'll assign this to the OJS 3.0 milestone then.

[2015-08-07 16:32] NateWr commented on #666
The commit above adds the icon, but clicking it still does nothing.

[2015-08-07 16:33] NateWr commented on #654
The commit above adds the missing icon, but clicking it still does nothing.

[2015-08-07 17:05] #665 closed

[2015-08-07 17:18] NateWr commented on #614
ONce over was done. See https://github.com/pkp/pkp-lib/issues/665

[2015-08-07 17:18] #614 closed

[2015-08-07 18:38] beghelli opened #672 "Can't add new conversation in copyediting"
The form doesn't load the grids/listbuilders for users and files, and when you submit it returns an invalid JSON response, it seems.

[2015-08-07 19:15] asmecher commented on #666
Fixed.

[2015-08-07 19:15] #666 closed

[2015-08-07 19:15] asmecher commented on #654
Fixed.

[2015-08-07 19:15] #654 closed

[2015-08-07 19:30] asmecher commented on #672
Bruno, this seems OK to me -- could you inspect the responses with FireBug and see if there's an error message in there or something? (BTW, I did remove the unused but not-null queries.user_id column from the database -- not sure if that's causing what you reported, but I don't think so.)

[2015-08-07 22:59] asmecher commented on #667
Fixed. This was probably caused by a change of behavior in the tag-it library.

[2015-08-07 22:59] #667 closed

[2015-08-07 23:00] asmecher commented on #656
FWIW scrolling works for me on Firefox; @beghelli is checking it anyway.

[2015-08-08 00:20] asmecher commented on #624
Fixed. This turned out to be a couple of things -- an incorrectly named column name, and the way that sections were getting created we had duplicate sequence numbers in the database. To fix the latter, you'll need to reorder your sections:

Settings > Journal > Sections, Order, Save.

[2015-08-08 00:20] #624 closed

[2015-08-08 18:59] asmecher commented on #656
Note that submission lists show row counts ("5 of 18 Items") but these don't update with additional loads.

[2015-08-08 19:34] asmecher opened #673 "Languages tag-it input autocomplete needs fixing"
The languages input on the submission metadata form is an autocomplete, but the autocomplete source is OMP-specific (references ONIX codelist numbers).

To get this working for OJS we'd need the tag-it control to support the distinction between keys (en) and values (English), so that users can enter autocomplete-assisted language names while actually specifying language codes in the back end. Tag-

[2015-08-08 20:32] asmecher commented on #663
- Renamed the about/about page back to about/index (trusting you don't mind, @NateWr; this makes /about sufficient for the index page)
- Re-added IDs so anchors can jump to the relevant section

The contents of those sections are just defaults and can be tweaked in setup after journal creation; they may refer to sections of About that won't exist, if no content is specified for them in Setup.

[2015-08-08 20:32] #663 closed

[2015-08-09 12:20] NateWr commented on #663
Looks good. :+1:

[2015-08-10 00:23] mtub opened #674 "cherry-pick locale updates to OJS 2 stable branch"
* apply latest locale additions and updates from ojs-dev-2_4 to ojs-stable-2_4_6 branches

[2015-08-10 18:42] ubermichael opened #676 "Minor bug fixes in PLN Plugin"
I found some very minor issues with the PLN plugin while creating the screen cast.

 * _logMessage() in DepositPackage lines 55-61 doesn't use $this when it should.
 * There is no HTTP error when a staging server returns a status code > 200. DepositPackage lines 347-353 should log the HTTP response code, which is in $result['status'], not $result['error'].
 * We should accept staging servers runni

[2015-08-10 18:43] asmecher opened #677 "Exclude old plugins from beta build"
The pre-beta codebase still contains a lot of old OJS 2.4.x plugins that need rewriting. Exclude them from the build process for the sake of the beta release, and file issues to correct them.

E.g. (not comprehensive):
- Google Analytics
- phpMyVisites
- Counter stats

[2015-08-10 18:53] beghelli commented on #656
Fixed.

[2015-08-10 18:53] #656 closed

[2015-08-10 18:58] beghelli commented on #637
This is duplicating the above issues. Closing and handling the bug there.

[2015-08-10 18:58] #637 closed

[2015-08-10 19:03] beghelli commented on #672
I tested that using the pkp test instance. But locally is working fine also.

[2015-08-10 19:03] #672 closed

[2015-08-10 19:04] beghelli commented on #576
Already fixed in another entry.

[2015-08-10 19:04] #576 closed

[2015-08-10 19:14] beghelli opened #678 "Awaiting approval notification in production doesnt go away after submission is approved"

[2015-08-10 19:26] beghelli commented on #584
After the review is sent, the submission is still assigned. After archived, the submission is gone from the assigned list, but it doesn't appear on the archived one.

If we change to the archived list when the submission isn't really archived, there will be room for confusion. The grid is called "Archived Submissions" anyway.

I think we can add an extra grid column with a checkbox for the complet

[2015-08-10 19:28] asmecher commented on #678
The approval checkbox for approving galley files has been removed and I don't think we need it. For now I've removed the getViewable() check on galley files from the front end (this used to distinguish between approved and unapproved galley files). We'll have to see if anyone wants this -- I don't think we've had may requests for it in OJS 2.4.x.

[2015-08-10 19:31] beghelli commented on #584
After discussing with Alec, decided to go on with the first option.

For reviewers, the archived list will show the submissions that they already worked on (sent the review).

[2015-08-10 19:34] beghelli commented on #678
Can I just remove this notification then?

[2015-08-10 19:42] asmecher commented on #678
Yes, for OJS. For now at least, OMP will probably still need it.

[2015-08-10 22:13] beghelli opened #679 "Error creating a new review round"
It seems an invalid JSON response is sent back to the browser.

[2015-08-10 23:14] beghelli commented on #584
Fixed also a couple of problems (data loading and filter) with the general archived submissions list.

[2015-08-10 23:14] #584 closed

[2015-08-11 15:00] beghelli commented on #678
Needs more work to remove all the notification code (creation, update, etc). This change also BREAKS OMP until we add an application workflow tab handler there.

[2015-08-11 15:49] NateWr commented on #656
Hmm, still not loading new results for me. Must be something in my config. We'll see if anyone else has the problem I guess.

[2015-08-11 20:40] samueloph opened #680 "[OJS] site.tpl nest at least two <p> in journal description"
If you go to /index/admin/editJournal/1 and edit the journals description, your homepage will get at least 1 error per journal with description at the W3C validator because you can't nest \<p\> tags. Also, for every breakline that the description have, one more nested \<p\> will be generated.

It's something like this:
site.tpl creates one \<p\>, then the text inserted in /index/admin/editJournal/

[2015-08-12 14:40] NateWr opened #681 "TinyMCE content placeholder dropdown needs to be aligned and styled"
This can be seen in the Review > Add Reviewer modal, with the email message.

![selection_005](https://cloud.githubusercontent.com/assets/2306629/9226854/79a11770-4108-11e5-808b-4d5b7cb0ac0a.png)

[2015-08-12 15:08] beghelli opened #682 "Set cookie request method is using the wrong cookie path sometimes"
The request method is supposed to be always setting the cookies using the base path, so they can work throughout the entire site. But when you have an installation that's placed directly into the server public folder (so no directory after the domain name) the get base path returns null, which is used into the setcookie php method as the path parameter. If path is null, the function will set the p

[2015-08-12 15:56] #682 closed

[2015-08-12 15:58] asmecher commented on #681
(FYI, that widget is implemented in `plugins/generic/tinymce/plugins/pkpTags`.)

[2015-08-12 21:53] NateWr opened #683 "TinyMCE localized popover doesn't save changes until focus removed"
If you open a localization popover in a tinymce field (eg - settings > journal > description), then enter content into the secondary language, then click the save button without moving focus away from the localization popover, it doesn't appear to save your latest changes.

I'm guessing that something is listening to the blur event to update the data. But just a guess...

[2015-08-12 22:18] bozana opened #685 "Data Privacy Option for Statistic Plugin"
Add the data privacy option to the statistic plugin:
-- the logged IP address shall be hashed with a daily randomly generated salt,
-- the user shall be informed about tracking,
-- there should be an opt-out possibility for the users.

[2015-08-13 18:07] asmecher commented on #677
OK for now.

[2015-08-13 18:07] #677 closed

[2015-08-13 21:32] asmecher opened #686 "Consider removing affiliation from DC creator element"
See https://github.com/pkp/ojs/pull/574

[2015-08-14 16:58] AhemNason opened #688 "QuickSubmit Plugin doesn't create article publication dates"
There's an outstanding issue where folks are trying to register something for CrossRef and they hit an error about publication date. If articles were submitted via quicksubmit plugin, article publication dates aren't included in the metadata.

[2015-08-17 16:59] AhemNason opened #689 "[OJS] issue with orcid id formatting in crossref export"
As per [this forum discussion](http://forum.pkp.sfu.ca/t/problems-with-the-doi-crossref-automatic-registration/3437/3), it seems like there's an issue with the way the CrossRef plugin is pulling in orcid IDs? The most relevant part of the error is this:

It sounds like the user has the rest of their content handled properly.

[2015-08-17 23:32] asmecher commented on #689
See this thread: http://pkp.sfu.ca/support/forum/viewtopic.php?f=8&t=13004

[2015-08-17 23:32] #689 closed

[2015-08-18 13:07] ctgraham opened #690 "force_login_ssl setting should not allow HTTPS form on HTTP page"
My security folks are griping about this, and they are right:
http://blogs.msdn.com/b/ie/archive/2005/04/20/410240.aspx
(see Critical Mistake 1)

With the force_login_ssl setting, the login form should not be presented over HTTP, even if the form's target is HTTPS.

[2015-08-18 15:34] asmecher commented on #679
Bruno, did the above commit fix this issue?

[2015-08-18 15:50] asmecher commented on #463
Bruno, is this entry complete?

[2015-08-18 16:04] beghelli commented on #679
yes, it did.

[2015-08-18 16:06] beghelli commented on #463
no, it is not. I couldn't finish before beta release, have some commits here that I need to finish. Working on them today.

[2015-08-18 19:01] gpieri opened #691 "[OJS] Empty "Edit Profile Form" when Administrator that is not a Journal Manager edit an user"
When an Administrator tries to edit a user profile through the Journal Management pages (<journal>/manager/editUser/<userId>) the form is empty. The Administrator is able to update the user profile.

[2015-08-18 19:36] asmecher commented on #628
Reassigning to Bruno for review.

[2015-08-18 19:38] asmecher commented on #655
Work-around seems to have worked.

[2015-08-18 19:38] #655 closed

[2015-08-18 19:46] asmecher commented on #691
Thanks, @lepidus!

[2015-08-18 19:46] #691 closed

[2015-08-18 21:47] asmecher commented on #679
Thanks, @beghelli!

[2015-08-18 21:47] #679 closed

[2015-08-19 00:04] beghelli commented on #628
Reviewed.

[2015-08-19 00:55] beghelli opened #692 "Cancelled reviews are counted as completed ones in reviewer stats"
See http://forum.pkp.sfu.ca/t/possible-issue-with-counting-of-completed-reviews-in-sectioneditorsubmissiondao-class-ojs-2-4-3/3565

[2015-08-19 16:47] #628 closed

[2015-08-19 18:06] asmecher commented on #680
@samueloph, try the attached patch (both are equivalent, just for different branches) and please report back if it resolves the problem for you.

[2015-08-19 19:16] asmecher opened #693 "Form elements should not be nested"
HTML `<form>` elements should not be nested. See:
http://stackoverflow.com/questions/379610/can-you-nest-html-forms

This currently happens in grid filter forms when the grid itself is included in a form (e.g. `templates/controllers/modals/editorDecision/form/initiateExternalReviewForm.tpl`) but possibly also elsewhere.

[2015-08-19 19:46] asmecher opened #694 "Reconcile registration/login forms with form builder vocabulary (and fix multilingual fields)"
On second thought, filing the linked comment as an issue for better tracking.

See https://github.com/pkp/pkp-lib/commit/f30ae0e68bd391464655300fa5001a761112f690#commitcomment-12792961

Assigning to you for a heads-up, Nate, though that doesn't necessarily mean you're on the hook for fixing it.

[2015-08-19 22:50] asmecher commented on #686
Merged and cherry-picked; see the pull request for relevant discussion.

[2015-08-19 22:50] #686 closed

[2015-08-19 23:19] #674 closed

[2015-08-20 00:40] samueloph commented on #680
Thank you @asmecher .

I didn't think the fix would be so simple, I should have checked before, I could've made the PR to don't occupy you with this trivial things, sorry.

[2015-08-20 01:54] UTSLibraryITS opened #695 "Security issue: various flaws with password hashes and reset"
Hi there,

There is several flaws in the way the PKP \ OJS library handles password hashes:

1. **Password Reset**

 https://github.com/pkp/pkp-lib/blob/master/classes/security/Validation.inc.php#L274

 Firstly, the most serious issue relates to the password reset hash / token. Not only is the token only 6 characters long, it's generated from the user ID, username and password hash! Therefore, if

[2015-08-20 16:19] asmecher commented on #695
Hi @UTSLibraryITS -- good to have another set of eyes on this, as this aspect of the code has changed very little since OJS 2.0 was released a decade ago. A PR would be welcome. (The ojs-stable-2_4_6 and ojs-dev-2_4 branches are probably best -- either one is good and I'll cherry-pick to the other.) Please maintain backwards compatibility for already-generated hashes if at all possible.

Note that

[2015-08-20 16:50] asmecher commented on #690
Agreed, good spotting.

[2015-08-20 17:42] asmecher opened #696 "Consider PR for user form reconciliation"

[2015-08-20 19:11] mfelczak opened #697 "[OJS] Move addThis from article footer to sidebar reading tools"
From an UIUX perspective, readers will have sharing options available immediately in the sidebar, without needing to scroll down to the bottom of the entire article (for HTML galleys).

[2015-08-20 19:27] asmecher commented on #690
Merged and cherry-picked, thanks!

[2015-08-20 19:27] #690 closed

[2015-08-20 19:53] asmecher commented on #660
I suspect this relates to the distinction we used to have between "home header logo" (only on the homepage) and  "page header logo" (everywhere else).

[2015-08-20 20:11] asmecher commented on #664
Fixed -- good spotting.

[2015-08-20 20:11] #664 closed

[2015-08-20 20:55] asmecher commented on #653
Resolved this by removing the whole clause.

[2015-08-20 20:55] #653 closed

[2015-08-21 16:49] NateWr commented on #694
*shakes fist at the sky*

Ok, so ideally I'd like to see this separated from backend dependencies like the FBV, especially since there are really only a few forms to worry about on the frontend (login, registration, search).

Frameworks like Bootstrap have utility classes for designing forms, and I'd like to not get in the way of that with all the helper classes that FBV chucks into things.

So, t

[2015-08-21 17:09] asmecher commented on #694
@NateWr, I think we should probably address the FrameBuilderVocabulary as a whole. There are some parts of it that need review. It had a few laudable goals, IIRC:
- Decrease repetition of markup
- Standardize form appearances
It hasn't done either of these very well, and I suspect you'd have a much better idea of how to accomplish both. I do think there's value in keeping the front end forms and b

[2015-08-24 13:35] beghelli opened #698 "DataCite plugin silently fails to handle titles with more than 255 characters"
I am not sure if that's a requirement, but even if it is, the plugin should not just silently fail, it should warn the user about that and let it export the other objects.

[2015-08-24 15:56] asmecher commented on #698
From: http://forum.pkp.sfu.ca/t/problem-with-dara-export-plugin/3568/5
Bruno, did you confirm where the 255-character limit is coming in? I didn't spot anything at a glance.

[2015-08-24 16:38] asmecher opened #699 "Ensure that all languages are indexable by crawlers"
**Describe the problem you would like to solve**
Users can switch languages while reading a multilingual journal. However, the currently active language is stored in a cookie on the user's device and not in the URL. As a result, a search engine crawler can not index information in languages other than the journal's primary language.

**Describe the solution you'd like**
No consensus has been reach

[2015-08-24 22:51] asmecher opened #700 "Clean up plugin API"
There's lots of room for plugin API cleanup, much of it stemming from quasi-backwards compatibility with OJS 2.x. Clean it up.

[2015-08-24 22:57] asmecher commented on #700
Pulls:
https://github.com/pkp/pkp-lib/pull/701
https://github.com/pkp/ojs/pull/578
https://github.com/pkp/staticPages/pull/4
https://github.com/pkp/customBlockManager/pull/3

Bruno, could you take a look at this?

[2015-08-25 11:47] beghelli commented on #698
I had nothing to do with DataCite, instead was something related to a closed source plugin based on DataCite.

[2015-08-25 11:47] #698 closed

[2015-08-25 13:11] dtwardy opened #702 "[UI] Switching form language while registering as a new user doesn't work"
Occuring in OJS 2.4.6

When registering as a new user switching form language doesn't work. If there's nothing entered in the required fields trying to switch the language produces an error message and if all the required information are entered instead of changing the language it just saves the information and the system creates a new user.

[2015-08-25 13:17] dtwardy opened #703 "[UI] Switching between languages in setup step 4 deletes OA Policy"
Occuring in 2.4.6

When entering setup step 4 and changing the form language and switching it back again, the field "Open Access Policy" gets deleted.

[2015-08-27 18:15] beghelli commented on #700
Done!

[2015-08-28 12:25] beghelli opened #705 "Payments records are not moved to target user when merging"
See: http://forum.pkp.sfu.ca/t/previous-payment-transactions-are-missing/3756/3

[2015-08-31 10:48] beghelli opened #712 "Crossref plugin scheduled task is not using the correct task interface"

[2015-08-31 12:32] #712 closed

[2015-08-31 15:50] asmecher commented on #695
@UTSLibraryITS, thanks, I've given this a first review and made a few comments. It looks very well considered.

@ctgraham, how do you feel about taking a look? It would be nice to get another set of eyes on it.

[2015-08-31 20:28] #700 closed

[2015-08-31 21:46] asmecher commented on #700
Merged and ported to OMP.

[2015-09-01 02:08] UTSLibraryITS commented on #695
Thanks for the feedback. I've committed some changes which should address the issues you've raised.

[2015-09-01 18:02] asmecher commented on #702
@dtwardy, thanks for reporting. Try applying either of the attached patches -- they're equivalent, just applied to different branches. Either should work.

[2015-09-01 18:02] #702 closed

[2015-09-01 18:16] asmecher commented on #703
@dtwardy, I can't reproduce this locally. Can you try the following query in MySQL to determine if perhaps there's something wrong with your locale settings?

    SELECT * FROM journal_settings WHERE setting_name='openAccessPolicy';

[2015-09-01 18:17] asmecher commented on #479
James, I suspect this one slipped off the side of your desk. If you want me to tackle it, feel free to reassign to me.

[2015-09-01 21:40] jmacgreg commented on #479
Oops, thanks - will fix!

[2015-09-01 21:47] jalperin commented on #479
We really should just implement citeproc js

Juan
On Sep 1, 2015 2:40 PM, "JB MacGregor" <notifications@github.com> wrote:

[2015-09-02 11:55] bozana opened #715 "authors disambiguation scheme"
S. http://forum.pkp.sfu.ca/t/saving-article-metadata-changes-empty-field-behaviour-in-database/3649/6
Pull request is coming... :-)

[2015-09-02 15:56] NateWr opened #719 "OMP categories only support one level of nesting"
The add category form allows me to choose any category as a parent category. However, it only supports one level of category nesting. Options:

1. Only allow top-level categories to be selected.
2. Support unlimited category nesting.

[2015-09-02 20:28] beghelli opened #720 "Submission metadata omit authors setting is not working when notifying users and including TOC"
See: http://forum.pkp.sfu.ca/t/omit-authors-name-in-notifyusers-mail/

[2015-09-03 08:55] dommitchell opened #721 "Tiny MCE corrupts DOAJ XML"
We've been alerted to a bug in the creation of DOAJ XML for those journals using the Tiny MCE editor.

For those publishers who copy their abstracts from Word into the Tiny MCE editor, the cut 'n' paste action also copies the MS Word stylesheet junk into the abstract field.  This gets pulled into the XML when the XML is generated using the plugin.  See the sample below from an OJS publisher.

<p c

[2015-09-03 14:30] asmecher opened #722 "Prevent email sending interaction with acron plugin"
When acron event processing piggy-backs on a request that is POSTing an email, the POST data may interact nefariously with the scheduled task emails. From ticket 2015090110000079.

[2015-09-03 14:36] NateWr commented on #699
I've addressed this in my ui branch of OMP. I'll update it for OJS too, so assigning to myself.

[2015-09-03 15:30] jalperin opened #723 "Strip out citation plugins and replace with CSL"
It should be pretty trivial to remove all the citation templates and replace them with CSL.

Using [citeproc-js](http://gsl-nagoya-u.net/http/pub/citeproc-doc.html) we shouldl be able to take a generic bibtex file, and just put it through citeproc to generate any of the other formats.

[2015-09-03 16:37] asmecher opened #724 "OAI requests for nonexistent journals result in site-wide OAI URL behavior"
Inventing a non-existent journal for an OAI request... (where "flarm" doesn't exist)

    http://localhost/git/ojs/index.php/flarm/oai?verb=ListSets

...behaves identically to the site-wide OAI URL.

It should respond with a "no such records" result, or perhaps a 404 or something.

[2015-09-03 17:52] #722 closed

[2015-09-03 18:52] asmecher opened #725 "Extend discussions to Submission, Review stages"

[2015-09-03 20:13] #725 closed

[2015-09-04 13:33] NateWr opened #727 "[OMP] Can't create publication format"
There are no publication formats to select from when trying to create a publication format for a book.

![omp-no-pub-format](https://cloud.githubusercontent.com/assets/2306629/9684811/f9aa269e-5311-11e5-853c-ce07aeffe8b2.png)

[2015-09-04 17:27] jmacgreg opened #728 "[OJS] Miscellaneous CrossRef fixes"

[2015-09-05 16:34] asmecher commented on #727
@NateWr, double-check to see if your PHP installation has XSL support. You might need to install a PHP module.

[2015-09-07 15:47] bozana opened #729 "assign an id to the objects for review nav item"
in order to differetiate and style it with css...
the pull request is coming...

[2015-09-08 09:02] NateWr commented on #727
That fixed it.

[2015-09-08 09:02] #727 closed

[2015-09-08 09:10] bozana commented on #560
I think this issue can be closed -- it seems to be merged...

[2015-09-08 09:11] bozana commented on #486
I think this issue can be closed -- it seems to be merged...

[2015-09-08 09:13] bozana opened #730 "Automatic DOI registration to DataCite"
Enable, similar to the CrossRef import/export plugin, the automatic DOI registration to DataCite i.e. using a cron job or Acron plugin.

[2015-09-08 09:22] bozana opened #731 "missing unregistered articles URL in crossref plugin settings"
I solved it like this: https://github.com/bozana/ojs/commit/a701c6a60fe59bd84fe8005ce648e3cc16608f9a
If OK so, I can make a pull request...

[2015-09-08 15:43] asmecher commented on #560
Done, thanks!

[2015-09-08 15:43] #560 closed

[2015-09-08 15:43] asmecher commented on #486
Done, thanks!

[2015-09-08 15:43] #486 closed

[2015-09-08 16:52] bozana opened #732 "consider the expire parameter for the cookies"
Consider a third parameter '$expire' in the function function setCookieVar so that one could determin/set the expire date for a cookie.
Pull request is coming...

[2015-09-08 19:45] asmecher commented on #729
Merged, thanks!

[2015-09-08 19:45] #729 closed

[2015-09-08 19:47] asmecher commented on #730
@beghelli, could you have a look? Thanks!

[2015-09-08 19:48] asmecher commented on #731
Please do, and could you translate the German string as well?

[2015-09-08 19:52] asmecher commented on #732
Merged and cherry-picked, thanks!

[2015-09-08 19:52] #732 closed

[2015-09-08 19:58] bozana commented on #731
I can even translate all the languages containing this key :-) Because I know how to tell "<a href="{$unregisteredURL}">" in all languages :-)

[2015-09-08 20:00] asmecher commented on #731
Typical European, knows how to speak every language... ;)

[2015-09-08 20:01] bozana commented on #731
Hihihihi :-)

[2015-09-08 21:01] beghelli commented on #685
I reviewed the code already, but I think that Bozana is going to change one thing still right @bozana?

[2015-09-08 21:12] bozana commented on #685
Yes, true, this change is coming end of this week...

[2015-09-09 16:15] asmecher commented on #731
Merged! Thanks, @bozana.

[2015-09-09 16:15] #731 closed

[2015-09-09 16:26] asmecher commented on #705
Just a couple of comments -- but I think the majority of this code is already in the master codebase, so it should be ported there rather than leaving the bug to be rediscovered later. You'll have to modernize some of the reference use -- pretty much all references can be removed -- but otherwise it shouldn't be any different. Mind forward-porting as well? OMP and OJS master.

[2015-09-09 20:41] asmecher commented on #678
Bruno, I've added a copy of the OJS version of the file for now, but I wasn't sure how it should be different for OMP. The basics are now working, so this is ready to continue.

[2015-09-10 12:05] jmacgreg commented on #575
This may not be a bug - for text-mining purposes, viewFile (ie. a direct link to the file, rather than to the page and its other contents) may be more appropriate. Following up with CrossRef about this now.

[2015-09-10 14:18] jmacgreg commented on #575
CrossRef prefers the raw galley file in all cases (even HTML) - so "viewFile" is correct here. Closing.

[2015-09-10 14:18] #575 closed

[2015-09-10 16:06] bozana commented on #685
@beghelli: I changed some things: The salt can now be saved in a file and the information for the users/readers is improved. Could you please review it too?

[2015-09-10 18:48] #705 closed

[2015-09-10 18:50] beghelli opened #734 "Usage stats loader task doesn't warn about not being able to move files"
See: http://forum.pkp.sfu.ca/t/problems-with-usagestats-metrics-not-updated-v2-4-6-files-not-moved/3297/7

The problem is not appearing on the scheduled tasks logs because the usage stats loader task is not using the _moveFile that's implemented by the FileLoader class, which notifies if it can't move the files.

[2015-09-11 13:04] samueloph opened #736 "[Feature Request]Change encryption on upgrade to OJS3"
Hi all,

In OJSs installations prior to the version 3, the default password encryption schema chosen was MD5. Every sysadmin should have the responsibility to enforce the SHA1 option, but we all know a lot of people just went with the default MD5 one.

I saw a few times Alec saying that the devteam is working hard on OJS3 to make sure the transition go as smooth as possible to everyone. BTW congra

[2015-09-11 13:10] ctgraham opened #737 ""Patch" upgrading should not be a recommended path"
Patch based upgrading is deeply flawed:
* it is technically complicated, yet is presented as the "first" option in our documentation
* it is unable to address binary files
* it misrepresents the relationship between the upstream codebase and local modifications
 * upstream should always be represented as the authority
 * generally valuable local modifications should be encouraged to be pushed upst

[2015-09-11 13:13] ctgraham commented on #736
+1, see also: https://github.com/pkp/ojs/pull/584

[2015-09-11 14:28] beghelli commented on #734
Fixed and ported to master

[2015-09-11 14:28] #734 closed

[2015-09-11 15:42] asmecher commented on #737
Thanks, @ctgraham, this is an obvious improvement now that you've pointed it out.

[2015-09-11 15:50] asmecher commented on #737
Ported around to various branches (and OMP).

[2015-09-11 15:50] #737 closed

[2015-09-11 16:22] asmecher commented on #736
Agreed, @samueloph. I'll close this issue in favour of the one Clinton referenced (https://github.com/pkp/pkp-lib/issues/695) -- could you take a look at that issue (and the pull request) and see if it's satisfactory for you?

[2015-09-11 16:22] #736 closed

[2015-09-11 17:11] ctgraham commented on #736
Aside from https://github.com/pkp/pkp-lib/issues/695, this issue should also affect this config.inc.php option:
https://github.com/pkp/ojs/blob/master/config.TEMPLATE.inc.php#L251

Remove that setting from 3.x maybe?

[2015-09-11 17:11] asmecher commented on #563
@beghelli, is anything still active here? As far as I know, the plugin has been moved out of the main repo and we should be ready to go with OJS 2.4.7 WRT ALMs.

[2015-09-11 17:14] ctgraham commented on #737
3.x would be a great opportunity to remove the patch upgrade "option" entirely.  If we really wanted to keep some form of it, perhaps replace it with brief, generic instructions on how to run a diff of the existing install against a clean codebase and then apply that diff against the new version.

[2015-09-11 17:15] asmecher commented on #578
Merged and cherry-picked. Already OK in OJS master.

[2015-09-11 17:15] #578 closed

[2015-09-11 17:23] asmecher commented on #585
I think this might have unintended consequences. The bilingual message is actually not a bad idea. Closing for now.

[2015-09-11 17:23] #585 closed

[2015-09-11 17:23] #588 closed

[2015-09-11 17:24] #589 closed

[2015-09-11 17:39] asmecher commented on #737
@ctgraham, agreed again. We're currently carting around 4GB of patch files between various versions, and each new release generates another >300M of them. Will remove from the master branch documentation; IMO this stuff has been supplanted culturally by git/github.

[2015-09-11 19:19] jmacgreg commented on #483
I cannot replicate, nor remember, this issue. Closing.

[2015-09-11 19:19] #483 closed

[2015-09-11 19:40] asmecher commented on #447
Committed the above for 2.4.7, but deferring the issue and leaving it open for ongoing improvements.

[2015-09-11 19:41] asmecher commented on #459
@AhemNason, @jmacgreg -- what do you guys suggest we do with this WRT OJS 2.4.7?

[2015-09-11 19:42] asmecher commented on #481
Likewise, @AhemNason and @jmacgreg -- suggestions for OJS 2.4.7 release?

[2015-09-11 19:58] ctgraham opened #739 "Allow new COUNTER Releases and Reports"
Refactor reports/counter plugin to allow recent updates to COUNTER releases and reports.  New implementation should support external calls to COUNTER, such as from SUSHI-Lite.

[2015-09-11 20:07] ctgraham opened #740 "Avoid unset array warning in Custom Block plugin"
Fetch of block content can be empty at:
https://github.com/ulsdevteam/ojs/blob/090c3f257077d9057c17c44efb0266bf16640e0a/plugins/generic/customBlockManager/CustomBlockPlugin.inc.php#L192

Don't use `array_key_exists()` if `$blockContent` isn't an array.

[2015-09-11 20:07] ctgraham commented on #740
https://github.com/pkp/ojs/pull/591

[2015-09-11 20:09] asmecher commented on #487
Deferring for now.

[2015-09-11 20:09] asmecher commented on #500
@AhemNason and @jmacgreg, suggestions for 2.4.7?

[2015-09-11 20:10] asmecher commented on #501
@AhemNason @jmacgreg whee

[2015-09-11 20:10] asmecher commented on #502
@jmacgreg etc

[2015-09-11 20:11] ctgraham opened #741 "Make Google Analytics available at the Site level"
Google Analytics, as a context specific plugin, does not output on the site homepage level.  It's pretty reasonable that the Site Administrator would want it to.

http://forum.pkp.sfu.ca/t/google-analytics-homepage/3561/6

[2015-09-11 20:11] ctgraham commented on #741
https://github.com/pkp/ojs/pull/599

[2015-09-11 20:13] asmecher commented on #739
@beghelli, could you have a look at this?

[2015-09-11 20:18] asmecher commented on #741
Thanks, @ctgraham, looks good! Merged for OJS 2.4.7.

[2015-09-11 20:18] #741 closed

[2015-09-11 20:33] asmecher commented on #636
Deferring from 2.4.7 for now.

[2015-09-11 20:36] asmecher commented on #715
Merged, thanks!

[2015-09-11 20:36] #715 closed

[2015-09-11 20:38] asmecher commented on #574
That makes sense. Merged, thanks!

[2015-09-11 20:38] #574 closed

[2015-09-14 22:17] asmecher commented on #620
Thanks, @marcbria.

[2015-09-14 23:53] asmecher commented on #724
That should cover it.

[2015-09-14 23:53] #724 closed

[2015-09-14 23:54] asmecher commented on #333
Deferring from OJS 2.4.7 for now.

[2015-09-15 00:03] #740 closed

[2015-09-15 16:52] asmecher commented on #558
Just checked -- #540 actually does cover this. Closing.

[2015-09-15 16:52] #558 closed

[2015-09-15 17:08] asmecher commented on #336
@ctgraham, this should fix it:
https://github.com/pkp/ojs/pull/606

The problem is that the plugin is assuming that we're dealing with a page request and failing to behave gracefully when it's actually a component request. There are already similar checks in other plugins.

If you're still using an install where it's easy to check, could you try this out?

[2015-09-15 18:45] ctgraham commented on #336
Yes, https://github.com/pkp/ojs/pull/606 resolves the error in the Announcement Feeds plugin for me.  The error in the External Feeds plugin remains, but I suppose this can be resolved by adding:
[code]
to the top of ExternalFeedPlugin::displayHomepage()?

[2015-09-15 20:48] asmecher commented on #336
Thanks, adding the above and merging.

[2015-09-15 20:53] #336 closed

[2015-09-15 21:03] asmecher opened #742 "Permit editors to change submission locales"
Currently it's not possible for editors to change the primary locale of a submission. Add it to the Editor's metadata form.

[2015-09-15 21:44] #391 closed

[2015-09-15 23:24] asmecher opened #743 "Add recipient control on email forms"
...for extra CC, BCC, or recipient entries.

See: http://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8908

[2015-09-15 23:26] asmecher opened #744 "Add "Browse by Issue Number""
See http://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8943 for details.

[2015-09-15 23:26] asmecher commented on #744
@NateWr, if you have a sec, I'd suggest considering the linked entry for OMP's front end.

[2015-09-16 17:58] ctgraham opened #745 "Passwords should not be emailed. Ever."
Multiple email templates email the password to the user.  This is insecure and entirely avoidable, especially considering the improved password reset process of https://github.com/pkp/ojs/pull/584

See at least OJS:
https://github.com/pkp/ojs/blob/master/locale/en_US/emailTemplates.xml#L783
https://github.com/pkp/ojs/blob/master/locale/en_US/emailTemplates.xml#L124
https://github.com/pkp/ojs/blob/

[2015-09-16 18:00] asmecher opened #746 "Port notification fixes from OMP stable to master"
See: http://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8969

[2015-09-16 18:01] asmecher commented on #746
@beghelli, I think this is probably ready for attention.

[2015-09-16 18:09] asmecher commented on #745
@ctgraham, I agree, but also suspect we'll get some users adamant that passwords *should* be emailed. I suggest the following small change: Remove the password from the default email templates, but leave support in the code for the `{$password}` variables if the JM wants to make use of them. I don't think any other change would be required.

[2015-09-16 18:19] ctgraham commented on #745
That possible divergence of opinion is why I opened this here well before doing any work on the task.

Do you think we wouldn't be able to convince users accustomed to the password being emailed to instead expect a single-use access token such as the password reset?

Perhaps we could target just the quick fix for OJS 2.x, and ensure better practices for master?

[2015-09-16 18:23] asmecher commented on #745
I'm just guessing, based on the amount of confusion that we've heard regarding the two-step password reset process.

That sounds ideal to me!

[2015-09-16 18:47] samueloph commented on #736
Yeah, in my opinion it should, but this got more complicated since there's somebody already working on the encryption schema.

I'm gonna comment in their PR to see If we can get into an agreement.

[2015-09-16 18:50] samueloph commented on #745
Great!

[2015-09-16 23:19] asmecher opened #748 "Style discussion participants"
Once a discussion has been created (in any stage), it can be viewed and replies etc. added. This view presents a list of participants as a bulleted list, and it's currently unstyled and looks weird.

[2015-09-16 23:39] asmecher opened #749 "Cannot read review"
It's no longer possible to read a review. See the screenshot attached to a related problem:
https://github.com/pkp/pkp-lib/commit/2fbdfcc52c3b2e0aee63c4e49b51732d87dc629a#commitcomment-13275645

There's an `<a>` element with no text contents that used to have a CSS-defined icon; the new layout did away with icons attached to (some? many?) link actions, including the note ones used by the Review li

[2015-09-17 17:09] asmecher commented on #634
1) @jmacgreg -- the affiliation is only included for the first author by design -- see http://pkp.sfu.ca/bugzilla/show_bug.cgi?id=7774

2) Implemented.

[2015-09-17 17:09] #634 closed

[2015-09-17 17:27] asmecher commented on #721
Thanks, @dommitchell -- I've updated the XML generator to strip any HTML from abstracts (including some very trivial text-to-html conversion to cover things like line breaks and paragraphs). Existing users can apply https://github.com/pkp/ojs/commit/e4a80292871b44d17516a75134024e02f3c2de43 and the change will be included in OJS 2.4.7. Invalid characters are a data problem and this won't address it

[2015-09-17 17:27] #721 closed

[2015-09-17 20:52] #720 closed

[2015-09-17 22:30] asmecher opened #750 "Remove password emailing"
Implement https://github.com/pkp/pkp-lib/issues/745 for the master branch of OJS and OMP, but remove support for these variables in the templates entirely.

[2015-09-17 22:32] asmecher commented on #745
@samueloph and @ctgraham, I've removed the `{$password}` variable from the email templates in `ojs-dev-2_4`. They'll still be supported for users who already have them in the templates. For OJS 3.0 and OMP 1.2, I've filed this issue to remove support for emailed passwords entirely: https://github.com/pkp/pkp-lib/issues/750

Note that the manager's "hello, you're now a reviewer, here's your account

[2015-09-17 22:32] asmecher commented on #745
(Let me know if that missed any of your concerns!)

[2015-09-17 23:00] #692 closed

[2015-09-17 23:07] asmecher commented on #695
Hi all -- just a heads-up that I'd like to put the wraps on OJS 2.4.7 and would love to include this change. @UTSLibraryITS, if you could give this a once-over and open a pull request against the `ojs-dev-2_4` branch, I'd be happy to take it from there. I really appreciate your contributions on this, @UTSLibraryITS, @ctgraham and @samueloph!

[2015-09-17 23:26] asmecher commented on #347
Done.

[2015-09-17 23:26] #347 closed

[2015-09-18 03:03] UTSLibraryITS commented on #695
I think I've successfully switched the pull request to the dev branch (after a few failed attempts).

Please let me know if that's okay.

[2015-09-18 17:40] asmecher opened #752 "Add support for .xz-packaged plugins"
See: https://github.com/pkp/pkp-lib/pull/751

[2015-09-18 18:32] ctgraham commented on #745
Isn't the USER_REGISTER template used for both self-registration and for mediated registration?  If we really remove the password from this template by default, I think the default locale keys of
https://github.com/pkp/pkp-lib/blob/ojs-dev-2_4/locale/en_US/manager.xml#L116
and
https://github.com/pkp/pkp-lib/blob/ojs-dev-2_4/locale/en_US/user.xml#L120
will need to be adjusted.

I'm not nearly as op

[2015-09-18 23:14] asmecher commented on #745
Thanks, @ctgraham, that approach also makes sense to me. Merged.

[2015-09-18 23:24] asmecher commented on #745
Oops -- I should've checked the Travis test results. @ctgraham, this breaks the tests, which register a number of users through the user registration form.

Consider a normal user self-registration. With this change merged in...
- User enters information, including a password
- The password is mailed back to the user
- The user must immediately change the password again (!)

[2015-09-19 21:22] NateWr commented on #744
@asmecher I don't know what "browse by issue number" means or what's being asked for here. Let's clarify this at next UI/UX meeting.

[2015-09-19 22:57] #748 closed

[2015-09-19 22:59] NateWr opened #754 "Permissions error when uploading a file to a discussion"
When I try to upload a file to a discussion from the view discussion modal I get the following access permissions error:

`##user.authorization.invalidReviewRound##`

Logged in as editor (`dbarnes`)

[2015-09-19 23:01] NateWr opened #755 "Can't select files to add to a discussion"
The following PHP notice is thrown, which disrupts the ajax return value. The file selection never loads:

[code]

[2015-09-19 23:07] NateWr opened #756 "pnotify error panels appear after fixed when adding a new note"
Seen in OMP > Review > Discussion > Add Note > Try to add empty note to cause error. Fix the error, then save. A pnotify error panel will appear after the save is successful and the modal is closed.

[2015-09-20 02:05] NateWr opened #758 "Reviewer grid needs UI/UX overhaul"
There's a whole lot going on here in terms of various states and state-dependent actions. I think this is a good candidate for cleaning up for OMP 1.2 because some changes in the UI swept away the old icon s which were used to display this status.

I think we might do better by adding a column so there are three in the grid:

- Reviewer
- Available action (nothing, send reminder, accept, unconside

[2015-09-20 02:18] NateWr commented on #749
Ahh woops. Should have referenced this issue in [this PR](https://github.com/pkp/pkp-lib/pulls). This issue should now be fixed, though I've switched to text instead of icons for now. Some improvements suggested in #759.

This isn't the only place icons went missing. I think the file read/unread status indicator is also gone. Probably some more elsewhere. Please keep an eye out and let me know.

[2015-09-21 12:21] ctgraham commented on #745
Looking into this, @asmecher .  I'm not sure why the password reset would be triggered in normal user self-registration; I didn't intend for it to be.

[2015-09-21 12:50] ctgraham commented on #745
My read is that the failure is actually coming from dbarnes' login.  The editorial users are being created by the journal manager, and now each of these are being created with a temporary password.

I think we need to simulate the Journal Manager unchecking the "Must Change Password" box here:
https://github.com/pkp/pkp-lib/blob/ojs-dev-2_4/tests/data/PKPCreateUsersTest.inc.php#L48

[2015-09-21 16:40] asmecher commented on #745
Yes, @ctgraham, it looks like you're correct. Are you tinkering with this or would you like me to fix it?

[2015-09-21 16:41] beghelli opened #760 "Plugins scheduled tasks files hour setting are using a non existing hour"
see here: http://forum.pkp.sfu.ca/t/problems-with-usagestats-metrics-not-updated-v2-4-6-files-not-moved/3297

[2015-09-21 16:50] asmecher commented on #755
Fixed: https://github.com/pkp/pkp-lib/commit/3a2d50706da7ac5d3a63b891501d3ffa8de1b921

[2015-09-21 16:50] #755 closed

[2015-09-21 17:41] ctgraham commented on #745
I'd be interested in fixing it, but I have a couple of things to attend to locally, and then will need to read up on the test framework a bit.  I imagine it will just be something like:
[code]
but I have not even looked at the available methods yet.

[2015-09-21 17:43] asmecher commented on #745
I'll tinker with it and let you know what the exact change was, @ctgraham. I appreciate your contributions here.

[2015-09-21 18:55] beghelli commented on #739
Clinton, finished reviewing it. I left some questions that will help me to get a final review, feel free to answer them here or contact me directly. Thanks!

[2015-09-21 19:54] asmecher commented on #745
@ctgraham, the above commits should cover it. This was necessary to fix the tests:
https://github.com/pkp/pkp-lib/commit/5fc23e40d76bfe88be98682fb61ddcb99ed0c469

[2015-09-21 19:54] #745 closed

[2015-09-21 20:13] asmecher commented on #748
Looks good, @NateWr!

[2015-09-21 20:20] asmecher commented on #754
What stage are you on when you try to do the upload? (e.g. internal review?)

[2015-09-21 21:19] asmecher commented on #756
@NateWr, I wasn't seeing quite the same behavior as you, but could you try re-creating the problem with the above commit to master included? (Update your `lib/pkp` checkout.)

[2015-09-21 23:06] asmecher commented on #695
@UTSLibraryITS, thanks -- I've taken your PR and added a couple of trivial tweaks to it:
https://github.com/pkp/ojs/pull/615

I'll let this run through a little testing before I merge it, but generally it's looking good!

[2015-09-21 23:25] asmecher commented on #695
@UTSLibraryITS, this fails an installation test -- it looks like the administrator account's password isn't correctly set or something similar.

[2015-09-22 01:48] UTSLibraryITS commented on #695
Can you provide a link to the build log?

[2015-09-22 03:02] asmecher commented on #695
Here it is: https://travis-ci.org/asmecher/ojs/builds/81492916

[2015-09-22 08:03] ojsde commented on #730
@beghelli, what shall I do? :-\

[2015-09-22 08:04] bozana commented on #730
@beghelli, what should I do? :-)

[2015-09-22 08:06] bozana commented on #730
@beghlli, oh, I see, I have to change the frequency...

[2015-09-22 08:34] bozana opened #761 "position footer hooks consistently"
Those two footer hooks are on different places -- one is before and the other is after the page footer:
Templates::Common::Footer::PageFooter (in templates/common/footer.tpl) and Templates::Article::Footer::PageFooter (in templates/article/footer.tpl)

[2015-09-22 09:19] bozana commented on #730
@beghelli, I hope I did it correctly this time?

[2015-09-22 10:13] griffithepress opened #763 "Emails go to submitting author rather than principal contact for editorial correspondence"
When I designate a principle contact (PC) who is not the submitting author and then invoke an Editor->Author email (for example during review acceptance or copy editing), the submitting author always seems to be in the To: field, and the new PC is not included. This is listed as RESOLVED FIXED in 2.3 as per http://pkp.sfu.ca/bugzilla/show_bug.cgi?id=4856 but it isn't working in our 2.4.2 installat

[2015-09-22 14:15] bozana opened #764 "duplicate missing keys in translator plugin"
When using the "check" function in the translator plug-in, sometimes the missing locale key fields are listed several times. This leads to overriding of the entered translations, when saving the web form.
The problem is in the function TranslatorAction::testLocale: In this function every plug-in is went thought. Some generic plug-ins contain other plug-ins (e.g. block, report), that use the same l

[2015-09-22 14:35] bozana opened #765 "inconsistent language names in registry/locales.xml"

[2015-09-22 14:36] bozana commented on #765
The language names are sometimes in the given language and sometimes in English. An user asked if there could be "Русский" instead of "Russian". If so, I can make a pull request with the change...

[2015-09-22 15:25] mtub commented on #765
@bozana We've planned to have the names in the respective language and replace the English names accordingly. I've changed a few of them when new new translations came in. Have to make sure that we use the same name in locale files and in the registry. Can go through all of them and patch accordingly. Do you mind if I take over?

[2015-09-22 15:32] bozana commented on #765
@mtub, of course not :-) please go ahead... :-)

[2015-09-22 18:13] asmecher commented on #764
Merged for OJS 2.4.7 -- thanks, @bozana. How do you feel about forward-porting to OMP or OJS master? The code is probably in the https://github.com/pkp/translator rather than the app repo.

[2015-09-22 18:39] asmecher commented on #763
@griffithepress, the linked entry is something slightly different.

In OJS 2.x, there is a distinction between user records (who you log in as) and author records (who gets credit for the author). The "principal contact" designation goes against the author record, but this designation doesn't actually apply to the workflow process in OJS, because OJS depends on user records, not author records. Cu

[2015-09-22 18:39] #763 closed

[2015-09-22 19:27] asmecher commented on #761
Thanks!

[2015-09-22 19:27] #761 closed

[2015-09-23 09:49] bozana commented on #764
Sure... :-)

[2015-09-23 19:42] asmecher opened #766 "Remove "from" display name use from forced envelope sender setting"
See: https://github.com/pkp/pkp-lib/blob/ojs-dev-2_4/classes/mail/Mail.inc.php#L411

[2015-09-23 19:43] #766 closed

[2015-09-23 19:46] asmecher opened #767 "Forward-port "force envelope sender" setting"
...and also forward-port https://github.com/pkp/pkp-lib/issues/766

[2015-09-23 20:15] ctgraham opened #768 "Enable webservice support for PUT"
We support GET and POST; I need PUT, so that's the next one to be supported.

https://github.com/pkp/pkp-lib/blob/master/classes/webservice/WebService.inc.php#L86

[2015-09-23 22:29] asmecher opened #770 "Consider adding "save and continue" to setup forms"
...to permit stepping through them one at a time.

[2015-09-23 23:46] NateWr commented on #754
Error occurs on Internal and External Review. The upload dialogue loads up for Submission and Editorial stages.

[2015-09-24 01:06] NateWr commented on #756
I was able to reproduce the problem with the latest master. Here's a gift showing it.

![pnotify-panels-error](https://cloud.githubusercontent.com/assets/2306629/10063000/c0e966b8-6260-11e5-988d-e2ed11eaeba6.gif)

[2015-09-24 02:06] NateWr commented on #770
Is this during the settings wizard? Which settings pages are these? I can't seem to find them based on the URL that Kevin posted in the ux review doc.

[2015-09-24 20:28] ctgraham opened #771 "Webservice requests need a bit more error checking"
If CURL fails when making a webservice call, it does so very silently.

This is terribly inconvenient for debugging.

For example, after [WebService::_callPostWebService()'s curl_exec()](https://github.com/ulsdevteam/pkp-lib/blob/1a9ac5a032aaf4539a7378b6be3ad5a3d496325f/classes/webservice/WebService.inc.php#L150-L158), we should check curl_error().

[2015-09-24 21:13] asmecher commented on #770
The wizard does have a Save & Continue; this is after that's all said and done, when you go through the normal settings area through the dashboard. This would step through the tabs.

[2015-09-24 21:15] asmecher commented on #756
Ah, thanks. Will look at it.

[2015-09-24 22:07] asmecher commented on #768
@ctgraham, are you still working on this? I don't see a PR from that branch.

[2015-09-24 23:22] asmecher opened #772 "Respond to nonexistent monographs with a 404"
May facilitate http://forum.pkp.sfu.ca/t/how-to-remove-a-journal-from-google-scholar/4218/4

[2015-09-25 12:01] ctgraham commented on #768
Hmmm.., I wonder why the [PR](https://github.com/pkp/pkp-lib/pull/769) wasn't automatically linked here based on the title?

Maybe for the best, because I'm going to open another issue presently and add it into that PR.

[2015-09-25 17:55] asmecher commented on #772
@beghelli, could you give this a careful review? Here's the rationale:

Previously, AuthorizationDecisionManager, PolicySet, and AuthorizationPolicy were all independent classes. They duplicated some functions and code. One problem is that while AuthorizationPolicies could supply callback advice, PolicySets could not.

Rather than duplicate the relevant code in PolicySet, I decided to make a subcl

[2015-09-25 19:08] ctgraham commented on #622
The associated PR is here: https://github.com/pkp/ojs/pull/551

[2015-09-25 19:08] ctgraham commented on #623
The associated PR is here: pkp/ojs#551

[2015-09-26 00:07] asmecher commented on #768
Merged and cherry-picked into master. Thanks!

[2015-09-26 00:07] #768 closed

[2015-09-26 00:08] #771 closed

[2015-09-26 21:26] NateWr commented on #770
I worry that this could be confusing with very little gain. In almost every piece of software I use, saving a settings page returns the same settings page with updated values. They're structured as tabs, not as a step-by-step wizard. And I'm not convinced there's much of a logical sequence to our settings pages either. When I save new Author Guidelines, do I always want to edit the Series?

Clicki

[2015-09-28 21:43] asmecher commented on #770
Kevin and I agree, @NateWr.

[2015-09-28 21:43] #770 closed

[2015-09-28 23:31] asmecher commented on #754
Fixed:
https://github.com/pkp/ojs/commit/05cfbcd28bbb442e89843f6b6a9e345e303f2be7
https://github.com/pkp/omp/commit/e167e1414d51fbabb1aa83fbbf48dc401c6f2213
https://github.com/pkp/pkp-lib/commit/0ab739e6a9e412ed40c922d2b80f6dc55ac5f89e

Nate, let me know if you have any more trouble with this.

[2015-09-29 14:37] bozana opened #774 "clear div necessary in the object for review details view"
a 'div style="clear:both;"' is missing in the details view of an object for review -- thats why the footer is strangely positioned (below the cover image).

[2015-09-29 14:44] bozana commented on #774
S. pull request https://github.com/pkp/ojs/pull/620

[2015-09-29 22:31] asmecher commented on #774
Merged!

[2015-09-29 22:31] #774 closed

[2015-09-30 14:57] bozana commented on #694
I accidentally saw this issue i.e. this affiliation example :-) Freie Universität Berlin is not multilingual -- the university policy at the moment is that the name is only Freie Universität Berlin -- even FU is not correct -- earlier there was no policy so the peple tried to translate it and used the acrony, but now everybody should use only the one long version... :-)

[2015-09-30 15:18] NateWr commented on #694
So I'm still not convinced it's a good idea to make this field multilingual *on the frontend*. It seems very unusual to ask the user to supply a translation for an institution's name. It assumes that a) the user knows the other language or b) they are capable of providing a translation in that language.

Both of these strike me as edge cases -- even though I understand there are several countries

[2015-09-30 16:14] mtub commented on #765
Will deal with other applications later on.

[2015-09-30 16:14] asmecher commented on #765
Merged all 4 PRs, thanks!

[2015-09-30 16:18] bozana opened #777 "Giving section editor access to book review process"
S. http://forum.pkp.sfu.ca/t/giving-section-editor-access-to-book-review-process/579

[2015-09-30 16:21] #777 closed

[2015-09-30 17:21] asmecher commented on #694
Makes sense. I'd suggest making it single-language on the registration page, but supporting multiple languages within the profile form. When we get down to the level of published article metadata I do think it's important to (optionally) support multilingual institution names; but because we pre-fill author records from user profiles, unless we facilitate storing this information at the user level

[2015-09-30 17:50] NateWr commented on #694
:+1:

I switched milestone to OMP 1.2 since that will be first and we'll probably want to sort it out for that.

[2015-09-30 17:51] asmecher commented on #694
I'll go ahead and fix the current form control since I'm working with testing anyway.

[2015-09-30 17:55] asmecher commented on #694
^ The affiliation field works again on the registration form; it's single-language and fixed to the context's primary locale, which I think will be expected behavior.

[2015-09-30 18:35] asmecher commented on #695
I looked a little further into the problem; it was caused by the `password` field in the `users` table not being extended in the main schema descriptor. I've updated my branch to suit and created a branch in the `lib/pkp` submodule where the main descriptor is:

https://github.com/pkp/pkp-lib/compare/ojs-dev-2_4...asmecher:i695-fix
https://github.com/pkp/ojs/compare/ojs-dev-2_4...asmecher:i695-fix

[2015-09-30 20:25] asmecher commented on #695
Pulls:
https://github.com/pkp/pkp-lib/pull/780
https://github.com/pkp/ojs/pull/624

[2015-09-30 20:25] asmecher commented on #695
Merged. Thanks for contributing, @UTSLibraryITS! This will be included in OJS 2.4.7.

[2015-09-30 20:25] #695 closed

[2015-09-30 20:26] asmecher opened #781 "Forward-port hashing improvements to OMP 1.2 / OJS 3.0"
Forward-port https://github.com/pkp/pkp-lib/issues/695

[2015-09-30 20:27] asmecher commented on #695
Filed a forward-porting issue: https://github.com/pkp/pkp-lib/issues/781

[2015-09-30 20:49] anewmn opened #782 "Journal Page Footer"
Text or HTML entered into the the 'Journal Page Footer' textbox does not appear on the journal's fronted page while using OJS 3.0b.

[2015-10-01 09:01] bozana opened #784 "replace a missing translation with the english text"
Instead of ##..key..## the English text should be displayed, when a translation is missing.

[2015-10-01 18:27] NateWr commented on #694
Is there anything left on this issue or are we comfortable making a break with the FBV on the frontend now?

[2015-10-01 18:29] NateWr commented on #782
Thanks for filing this. We're still discussing how we want to handle the footer in OJS 3.0. I'll chuck this issue into the 3.0 milestone, but hopefully we'll at least have a direction in mind before too long.

[2015-10-01 19:21] asmecher commented on #781
Pulls:
https://github.com/pkp/pkp-lib/pull/785
https://github.com/pkp/ojs/pull/627

@ctgraham and @UTSLibraryITS, if you have the time and interest, would you mind taking a look? It differs from the fix for issue #695 in a few ways:

- The majority of the changes are moved into the lib/pkp submodule, where they can also apply to OMP etc.
- I'm using Composer instead of a git submodule to bring in

[2015-10-01 19:57] asmecher commented on #694
Let's talk about it on Monday. I don't see why we'd want a different form toolset on the front end vs. back end -- IMO we should fix the FBV and use it throughout.

[2015-10-02 11:05] NateWr commented on #754
The upload modal opens now. However, I get an error when I try to upload a file. The ajax `post` request returns a `500` error:

[code]

The following JSON is returned:

[code]

And the following error message is displayed.

[code]

[2015-10-02 12:25] bozana commented on #784
S. https://github.com/pkp/pkp-lib/pull/786

[2015-10-02 13:14] NateWr opened #787 "[OMP] Cover thumbnail sizes should be configured by theme"
I'd like to see the cover thumbnail image size defined by the theme, rather than as an option in the settings. It's not really possible to design a theme that works well with any thumbnail size.

Default values could be set in `ThemePlugin.inc.php` with each theme overwriting it as necessary.

[code]

[2015-10-02 18:49] asmecher opened #788 "Ensure ability to overwrite reviewer files by Editor"
Ensure there is the ability to overwrite files uploaded by peer reviewers.
Must be able to send redacted files to authors so integrity of “blind” or “double blind” review is maintained.
(Priority for SI)

[2015-10-02 18:50] asmecher opened #789 "Double-check file uploads in IE"
We have reports that plupload isn't working as integrated in OMP 1.1.1 in IE browsers.

[2015-10-05 13:45] nennad opened #790 "One file disappearing when trying to upload multiple files"
Hi there, I'm just testing the OJS 3.0b and during submission I have run into an issue with plupload.
When I try to drag & drop multiple files one file always disappear from the list immediately after drop.
I've tried in Google Chrome(Version 45.0.2454.101 (64-bit)) and Safari(Version 9.0 (11601.1.56)).

[2015-10-05 14:42] gpieri opened #791 "[OJS] Disabled users are receiving notification emails"
OJS is currently sending emails to disabled users when a notification is created.

This is particularly problematic when an issue is published because all disabled users receive the notification email.

[2015-10-05 16:01] asmecher opened #792 "Improve escaping of PHP contents into Javascript"
The way we're currently escaping PHP contents into Javascript, e.g. the following in a template:

    $('#contextSubmissionForm').pkpHandler('$.pkp.controllers.dashboard.form.DashboardTaskFormHandler',
        {ldelim}
            {if $contextCount == 1}
                singleContextSubmissionUrl: '{url|escape:"jsparam" context=$context->getPath() page="submission" op="wizard" escape=false}',

[2015-10-05 16:29] asmecher commented on #790
Hi @nennad -- The plupload tool is intended to be configured for single file upload only. If you'd like to upload multiple files, you'll need to go through the file upload wizard once for each file. We're aware that this could be improved and have been looking at examples like Wordpress for batch uploads, but haven't made it a priority yet.

[2015-10-05 16:29] #790 closed

[2015-10-05 16:49] NateWr opened #793 "Remove LinksHandler.inc.php"
The footer link categories currently link the category title in addition to the links. The category title just links through to a page which lists the links.

I've gotten rid of this (the category is just text, not a link), so I think we can get rid of the following files:

[code]

I wasn't sure if I could just delete them without causing problems, or if this is a bad idea. But I didn't want to le

[2015-10-05 20:20] ctgraham opened #794 "XML Writer could support Comments"
XML comments could be useful sometimes, say for example if you were working on EZID and needed [a good way to reuse Crossref's code and structure](https://github.com/chasehd/EzidDOI/commit/6088bd0fae8fd86fa9a82d01401c2df3fd320a9b#commitcomment-13598683) with minimum disruption.

[2015-10-05 21:37] asmecher commented on #792
Pulls:
https://github.com/pkp/pkp-lib/pull/796
https://github.com/pkp/omp/pull/140

[2015-10-05 22:14] #792 closed

[2015-10-06 13:46] ctgraham commented on #794
PR is https://github.com/pkp/pkp-lib/pull/795

[2015-10-06 15:14] NateWr opened #797 "[OMP] Approve proofs modal broken"
Under the Production > Publication Formats section in the workflow, an Approve Proofs link will appear. Clicking on that loads a modal. The modal includes two `load_url_in_div` handlers which fail to load because elements with the same IDs already exist on the page.

![approve-proofs](https://cloud.githubusercontent.com/assets/2306629/10312838/bc79c8a0-6c44-11e5-8002-7f4826f4dbac.png)

The same [p

[2015-10-06 15:21] ctgraham opened #798 "DOIExportDom fails to return cached objects"
In response to [bugzilla 8494](http://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8494), I think [our fix](https://github.com/pkp/ojs/commit/e5cc74d01e058b9f388544ee2d3ee576ad9478f0) breaks caching for DOIExportDom.

I think we want to retain the return of `$cache->get()`, but would like another set of eyes. (perhaps @bozana as the contributor?)
https://github.com/pkp/ojs/commit/e5cc74d01e058b9f388544ee2d

[2015-10-06 15:45] bozana commented on #798
@ctgraham, I will take a look... :-)

[2015-10-06 16:11] bozana opened #799 "DataCite and CrossRef scheduled tasks error e-mails"
The scheduled task error e-mails are sent to the admin: "CrossRef info sender - ... - Error" and "DataCite info sender - ... - Error" because the "return true" is missing in the function executeActions.

[2015-10-06 16:25] NateWr commented on #797
Fix confirmed. THanks.

[2015-10-06 16:25] #797 closed

[2015-10-06 18:02] asmecher commented on #799
Thanks!

[2015-10-06 18:02] #799 closed

[2015-10-06 19:37] bozana commented on #798
@ctgraham, I took a look and yes, you are right :-)

[2015-10-06 19:57] bozana commented on #798
Hmm... I've just tried to test it and in my case the cache seems to be never used i.e. it always goes into the if statement...

[2015-10-06 20:02] ctgraham commented on #798
In the default install it may never get called twice.  I was testing a change to the EZID plugin where I called retrievePublicationObjects twice:
https://github.com/ulsdevteam/EzidDOI/blob/remove-unneeded-code/classes/EzidExportDom.inc.php#L52
https://github.com/ulsdevteam/EzidDOI/blob/remove-unneeded-code/classes/EzidExportDom.inc.php#L81
The second call triggers the cache.

[2015-10-06 20:09] bozana commented on #798
Aaaaaaaaaaa... :-))) Thanks @ctgraham !!! :-)))

[2015-10-06 20:23] asmecher commented on #798
I've merged in https://github.com/pkp/ojs/issues/630 -- is that all that needs doing here?

[2015-10-06 20:28] ctgraham commented on #798
It is unless you want to evaluate master for the original concern from [8494](http://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8494).  I think master will cache correctly, but may suffer from the original unset array variable.

[2015-10-06 20:39] bozana commented on #509
When the public galley id is missing, then there is:
WARNING: assert(): Assertion failed\n  In file: classes/article/ArticleGalleyDAO.inc.php\n  At line: 140
The pull request is coming...

[2015-10-06 20:43] asmecher commented on #798
Thanks, @ctgraham. @bozana, would you mind taking a peek at master for that?

[2015-10-06 21:01] asmecher commented on #793
Nuke away!

[2015-10-06 21:06] asmecher commented on #791
Merged -- thanks, @gpieri!

[2015-10-06 21:06] #791 closed

[2015-10-06 21:41] bozana commented on #798
@asmecher I made a pull request for master branch fixing only this issue. The code in master however seems to be older -- it seems that lots of changes were not included there i.e. it needs more thoroughly attention ...

[2015-10-06 21:54] asmecher commented on #798
You're right, @bozana -- I think it would be better to grab the current `ojs-dev-2_4` plugins and replace the code currently in `master` with them, then rewrite them for the `master` branch coding style/standards.

[2015-10-06 22:56] asmecher commented on #509
Thanks, looks good to me!

[2015-10-07 12:27] ctgraham commented on #794
@asmecher, the inheritance here is corrected.  Since the new functionality won't really be called from anything in core, perhaps it could be moved up to 2.4.7?

[2015-10-07 14:05] asmecher commented on #794
Moved up to 2.4.7 and merged. I'll also cherry-pick to master, though I hope the custom XML stuff won't last long there. Thanks, @ctgraham.

[2015-10-07 14:05] #794 closed

[2015-10-07 15:34] NateWr opened #800 "[OMP] Proof files grid fails to load when files are selected from previous stages"
I was able to reproduce this issue with the fresh test database. Rather than explain the steps I thought it would be easiest just to show how to reproduce this:

![omp-proof-files-issue](https://cloud.githubusercontent.com/assets/2306629/10342412/db035d6e-6d10-11e5-8fa5-86f878b7f42f.gif)

1. The book that's being used to reproduce this has been published. It's the Bricks to Brains one.

2. The gri

[2015-10-07 16:40] asmecher opened #802 "Improve publication formats grid / proof file approval process"
See e.g. https://github.com/pkp/omp/pull/141

[2015-10-07 19:59] asmecher commented on #800
Nate, this appears to be caused by database encoding problems:
http://stackoverflow.com/questions/19361282/why-would-json-encode-returns-an-empty-string
I used the same dump you have and my charsets are OK; can you try re-creating your DB, making sure to specify the character set:

    CREATE DATABASE my_db DEFAULT CHARACTER SET utf8;

...and loading the dump again? Also, ensure that you config.in

[2015-10-08 14:20] ctgraham opened #804 "Crossref translations contain untranslated English and unused keys"
The Crossref importexport plugin's pl_PL, vi_VN, and zh_TW are untranslated.  The ar_IQ locale contains an unused common.xml file.  Locales ca_ES, eu_ES, fa_IR, hr_HR, id_ID, it_IT, ja_JP, no_NO, ro_RO, sr_SR, sv_SE, and uk_UA are outdated and contain unused keys.

[2015-10-08 16:03] asmecher opened #805 "Remove overspecified content management tools"
...primarily the social media and other link lists for the footer. There's a lot of code and very little flexibility in how content can be presented.

[2015-10-09 12:43] zebrax0r opened #806 "[OCS] Should be able to 'quick submission' for conference abstract/papers"
Have had numerous requests from users to 'cut out the meta-data upload and onerous requirements of submission, similar to OJS' inside OCS.

The idea is a "one click quick submit" such that a user can login to OCS to register for a conference, but also then click 'upload' to send a PDF/word doc etc to the conference abstract/review committee.

Simple enough, but a heavily requested feature. I've go

[2015-10-09 13:43] jmacgreg opened #807 "[OJS] add iParadigms functionality to CrossRef plugin"
See attached diff. Adds iParadigm XML required for plagiarism checking using the iThenticate service.
[iParadigms.diff.txt](https://github.com/pkp/pkp-lib/files/10802/iParadigms.diff.txt)

[2015-10-09 15:10] ctgraham opened #808 "In the Crossref Issue Export, messaging does not match function"
In User Home > Journal Manager > Import/Export Data > Crossref Export/Registration Plugin > Select Issues, we check each issue for unregistered Articles.  If the issue contains unregistered articles, we add it to the display.
https://github.com/pkp/ojs/blob/ojs-dev-2_4/plugins/importexport/crossref/CrossRefExportPlugin.inc.php#L134

Whether the issue is displayed with "Update" or "Register" functi

[2015-10-09 16:14] asmecher commented on #807
Added.

[2015-10-09 16:14] #807 closed

[2015-10-09 16:24] asmecher commented on #479
@jmacgreg, I've cherry-picked the following commit into ojs-dev-2_4:
https://github.com/jmacgreg/ojs/commit/9f6c64b1ea09f53fa90f85bc062764b5345bac82

Is that all that's required for this issue? If so, please close it.

[2015-10-09 16:27] jmacgreg commented on #479
Thanks!

[2015-10-09 16:27] #479 closed

[2015-10-09 16:35] asmecher commented on #630
Pulls:
https://github.com/pkp/pkp-lib/pull/809
https://github.com/pkp/omp/pull/144

[2015-10-09 16:36] #630 closed

[2015-10-09 17:42] asmecher commented on #730
@beghelli, I'm not sure if this was completed; if so, please move back to OJS 2.4.7 and close.

[2015-10-09 17:43] asmecher commented on #685
@beghelli, it looks like this one was merged but not closed. If it is complete, please move back to 2.4.7 and close.

[2015-10-09 18:02] #798 closed

[2015-10-09 20:13] asmecher commented on #754
Sorry, Nate, I still can't duplicate this. Can you give me the specifics you're working with? If the OMP test database, what submission, and what user account? Is this the modal where you create a discussion, or the one you use after that to compose additional replies? (They're subtly different.)

[2015-10-11 12:46] #765 closed

[2015-10-12 08:14] marchitelli commented on #730
Can you add the same feature for mEDRA registration? I think that could be useful

[2015-10-12 11:15] jprk opened #810 "Journal Settings: `metaCitations` defined twice"
I have tracked down a strange bug in my OJS 2.4.5 install, which demonstrated itself as the following entry in our web server error log:

    [Sun Oct 11 09:02:31 2015] [error] [client 213.151.87.2] ojs2 has produced an error
    Message: WARNING: Cannot use a scalar value as an array
    In file: /var/www/ojs/classes/journal/JournalSettingsDAO.inc.php
    At line: 83
    [...]

Indeed, there was

[2015-10-12 12:16] ctgraham commented on #810
I have see this in multiple installs recently.  I have not identified a cause.

Looking at 2.4.6, however, I had assumed that the boolean locale-less entry is the correct one.

[2015-10-12 12:27] NateWr commented on #789
I was finally able to test this today but I wasn't able to reproduce the problem. I tested on a brand new installation of OMP 1.1.1-1 as well as OMP master, using a VM for Win7/IE10 and Win7/IE11. In all cases the `plupload` component loaded and I was able to upload files.

[2015-10-13 07:28] selwyntcy opened #813 "404 Not Found on Statistics in 3.0b1"
The Statistics page seems broken, with error 404 when accessing `index.php/quest/manager/statistics` with a logged in user (mine with Journal Manager role).

[2015-10-13 09:23] selwyntcy commented on #813
The correct request path seems to be `index.php/quest/management/tools/statistics`.

[2015-10-13 15:51] asmecher opened #814 "PayPal plugin error on cancel"
See http://forum.pkp.sfu.ca/t/omp-paypal-plugin/4573:

    Fatal error: Call to undefined method PayPalPlugin::getAuthorizedContextObject() in [...]/lib/pkp/classes/handler/PKPHandler.inc.php on line 446

[2015-10-13 15:54] #814 closed

[2015-10-13 16:50] asmecher commented on #810
That's bug 8899: http://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8899

[2015-10-13 16:50] #810 closed

[2015-10-13 16:55] asmecher commented on #789
@NateWr, can you check on the SI install? I'll send you credentials in a sec.

[2015-10-13 17:16] asmecher commented on #813
Assigning to @beghelli -- but @selwyntcy, note that this is beta-level code so you'll run into this kind of thing.

[2015-10-13 21:33] mfelczak opened #815 "[OHS] Missing locale data for user registration error messages"

[2015-10-13 23:11] jprk commented on #810
Thanks for information. The Bugzilla entry contains also a description of fix for existing OJS installs, thank you for that as well.

[2015-10-14 07:40] martinpub opened #816 "[OJS] Pdf links not displayed in search results depending on locale"
Hi,

We have encountered a problem with our dual-locale journals, they don't display pdf links of one language in the search results.

Examples:
1. Journal 1 (Journal's primary locale: Swedish) don't display links to English pdfs when Swedish is the selected UI language.
2. Journal 2 (Journal's primary locale: English) don't display links to Swedish pdfs when English is the selected UI language.

[2015-10-14 11:36] bricas opened #817 "[OJS] lib/password_compat includes .git file in release tarball"
Not a big deal, but, after downloading the OJS 2.4.7 tarball, I noticed the lib/password_compat directory has a .git file, which is messy for us since we track our OJS install in git.

[2015-10-14 12:05] ctgraham commented on #817
If using git for OJS tracking, consider `git clone`ing the repo directly, rather than downloading the tarballs.

[2015-10-14 12:32] ctgraham opened #818 "Native export fails when missing copyright holders"
When show_errors is on and an article does not have copyright holders, the native export fails when trying to iterate the null return.

$article->getCopyrightHolder(null) is not guaranteed to return an array() at:
https://github.com/pkp/ojs/blob/98753f9f1b4dd3f730d400ab44746e55d70e966b/plugins/importexport/native/NativeExportDom.inc.php#L298

[2015-10-14 13:43] ctgraham opened #819 "piwik plugin doesn't play well with others"
See: http://forum.pkp.sfu.ca/t/google-analytics-in-ojs-2-4-6-0/4617

Piwik plugin overwrites the output in insertFooter() rather than appending to it.
https://github.com/pkp/ojs/blob/fddc0a90d6ca922117f2384e12ab1d2046d7c4a1/plugins/generic/piwik/PiwikPlugin.inc.php#L172

[2015-10-14 15:53] asmecher commented on #817
Thanks for reporting, @bricas -- I've added the .git directory from the password_compat library to the package builder's exclusion list.

[2015-10-14 15:53] #817 closed

[2015-10-14 15:56] asmecher commented on #818
Merged and cherry-picked to ojs-stable-2_4_7. Thanks, @ctgraham!

[2015-10-14 15:56] #818 closed

[2015-10-14 15:57] asmecher commented on #819
Merged and cherry-picked to ojs-stable-2_4_7. Thanks again, @ctgraham!

[2015-10-14 15:57] #819 closed

[2015-10-15 14:52] samueloph opened #821 "It is not safe to rely on the system's timezone settings"
I'm just reporting the error that I received while using https://github.com/lepidus/fullJournalTransfer

ojs2 has produced an error
 Message: WARNING: date(): It is not safe to rely on the system's timezone settings. You are *required* to use the date.timezone setting or the date_default_timezone_set() function. In case you used any of those methods and you are still getting this warning, you most

[2015-10-15 15:04] asmecher commented on #821
Hi @samueloph -- there's nothing in OJS to specifically set time zones; your best option is to use a .htaccess PHP configuration directive or edit your system's php.ini configuration file to set the default time zone there.

[2015-10-15 15:09] bozana opened #822 "Wrong URL when exporting and registering DOIs via command line"
$url = $router->url($request, null,... i.e. $request->url(null, ... leads to 'index' instad of the actual journal path in the URL, when export and registration is executed via command line.
S. also http://forum.pkp.sfu.ca/t/doi-registration-not-working-via-command-line/4585

[2015-10-15 15:14] samueloph commented on #821
Hi @asmecher, I'm using a vanilla installation of PHP, it looks like the timezone is not set by default, shouldn't OJS check for it and use "date_default_timezone_set()" if not set, as told by the message?

I found this "PHP 5.3 now requires that you either have a timezone set in your php.ini file or that you pass the desired timezone via the date_default_timezone_set() function before calling the

[2015-10-15 15:26] asmecher commented on #821
Hi @samueloph -- we could add a config.inc.php setting where you could define a timezone, but that would be an exact duplication of the php.ini setting, so we've opted not to do it for now. It would make sense if there were some other logic affecting the time zone setting, such as a user-specific time zone option, but we haven't had sufficient call for that yet.

[2015-10-15 15:40] samueloph commented on #821
@asmecher I didn't make the tests myself, but it looks there are cases where not checking for this causes performance losses (http://php.net/manual/pt_BR/function.date-default-timezone-set.php).

I was thinking in a different approach, something like checking if the timezone is set (ini_get), if not, set it as "UTC" in Core.inc.php (ini_set), as this would be the chosen one anyway, as seen in "We

[2015-10-15 16:10] asmecher commented on #821
IMO the best behavior would be to throw a warning -- which is exactly what PHP is already doing. The performance differences noted on the PHP site comments won't be noticeable; dates are rarely fetched in OJS. But if you'd like to propose something in a pull request, I'd be happy to take a look.

[2015-10-15 18:35] asmecher commented on #815
Merged, thanks!

[2015-10-15 18:35] #815 closed

[2015-10-15 18:39] asmecher commented on #808
Merged the fix for the first issue. Thanks, @ctgraham -- could you file a new issue for the second?

[2015-10-15 18:39] #808 closed

[2015-10-15 18:56] ctgraham opened #824 "Does the Crossref Issue Export care about Issues, or Articles?"
Branch from https://github.com/pkp/pkp-lib/issues/808

In User Home > Journal Manager > Import/Export Data > Crossref Export/Registration Plugin > Select Issues, we check each issue for unregistered Articles. If the issue contains unregistered articles, we add it to the display.
https://github.com/pkp/ojs/blob/ojs-dev-2_4/plugins/importexport/crossref/CrossRefExportPlugin.inc.php#L123

The messagi

[2015-10-15 19:05] asmecher commented on #824
Thanks for filing!

[2015-10-15 19:25] ctgraham commented on #824
I should also mention that while we think the Crossref plugin should be concerned with Issue DOIs, we don't actually use Issue DOIs ourselves.  That's why I'd prefer a wider conversation before "fixing" this myself.

[2015-10-15 19:40] asmecher commented on #824
Agreed; I don't know, but perhaps @jmacgreg and @mnason have some ideas?

[2015-10-15 21:43] bozana commented on #822
I forgot one more change for the CrossRef, thus the last reference is the right one...

[2015-10-15 21:57] bozana commented on #824
I think that theoretically it is possible to use the DOIs for any objects but we decided long time ago that this plug-in will base and support only i.e. mainly articles, i.e. articles have to be chosen in the plug-in settings. If additionally somebody assigns DOIs also to the issues, the issue DOI will be exported by/in the article XML export too. I think the same is for the supp files -- they can

[2015-10-15 22:34] jmacgreg commented on #824
Yep, what Bozana said. :-) CrossRef, as far as I know, only permits article
(and supp file) DOIs to be registered.

On Thu, Oct 15, 2015 at 6:57 PM, bozana <notifications@github.com> wrote:

--

James MacGregor
Publishing Services Coordinator
Public Knowledge Project (PKP)
Twitter: @jmacgreg
Skype: j.macgreg

[2015-10-15 23:41] asmecher opened #825 "Revamp approvals and production tabs"
- The approvals are too scattered through different areas
- The tabsets for publication formats are problematic (reloads; buried content)
- The publication format stuff being presented in two places is confusing

[2015-10-16 12:06] ctgraham commented on #824
From the Crossref docs:

http://help.crossref.org/deposits

[2015-10-16 14:25] ojsbsb commented on #784
@bozana I think this is really useful - just one question: Will en_US be hardcoded as the only fallback language? I am asking because depending on the journal, it might make sense to have a custom language set as primary fallback (for example de_DE, if the journal is published in, say, de_DE and cs_CZ) and use en_US only if the translation isn't defined for the primary fallback language either.

[2015-10-16 15:11] mtub commented on #784
Hi @ojsbsb, see https://github.com/pkp/defaultTranslation.

We've thought about falling back to another language, but there's only one locale that we can safely consider as complete: en_US. Cascading through multiple languages seems a little bit too much. But if you see a need for this feature, we can take the discussion to the [Forum](http://forum.pkp.sfu.ca/c/translations).

[2015-10-16 19:12] asmecher commented on #825
Pulls:
https://github.com/pkp/pkp-lib/pull/826
https://github.com/pkp/omp/pull/146

[2015-10-19 15:58] NateWr opened #827 "[OMP] Saved modals "eat" an element when reloaded"
I think this only happens on OMP but haven't checked OJS in a while. When you load a modal with an ajax form, then save that form, and the modal reloads, it will "eat" its containing element. So:

[code]

When saved and the form refreshes, we'll have this structure:

[code]

I think I remember something like this happening in OJS, I just want to get it down so it doesn't get forgotten before 1.2 g

[2015-10-19 18:48] asmecher commented on #827
OTOH there might be a convention where there's normally a wrapper element in the form template that gets consumed and then re-created when the form is reloaded. Possibly that's missing in some cases.

[2015-10-19 20:39] mtub opened #828 "Update OpenAIRE plugin"
A few years ago, the OpenAIRE plug-in has been added to OJS (see http://pkp.sfu.ca/support/forum/viewtopic.php?t=7085&f=28). OpenAIRE is an important European Union-funded project (https://www.openaire.eu/project-factsheets). One of its goals is to increase literature repository interoperability through common guidelines and some standards for OAI use. Those guidelines help implement means to trac

[2015-10-20 11:19] NateWr commented on #789
I was able to reproduce this on the demo SI install using Win7/IE9. As far as I can tell, IE9 relies on the Flash component. So a few things to check:

1. Is the URL to the flash fallback correct in `uploadOptions` in the `UploadHandler.js`? And is the `.swf` file actually there?

2. Is `flash` one of the defined runtimes in `UploaderHandler.DEFAULT_PROPERTIES_`?

The plupload widget at http://plu

[2015-10-20 12:52] NateWr commented on #789
Ok, after some testing I was able to reproduce with my local OMP 1.1.1 install and tracked down the problem to a missing `html4` runtime on [this line](https://github.com/pkp/pkp-lib/blob/a7879d98142e52c23af21a74201f160f48727d48/js/controllers/UploaderHandler.js#L128).

It looks like `html4` was removed in [this commit](https://github.com/pkp/pkp-lib/commit/e8ed551b2ead30726bee931dad2d0e132282d3ab

[2015-10-20 13:59] NateWr commented on #800
I can no longer reproduce this.

[2015-10-20 13:59] #800 closed

[2015-10-20 21:05] asmecher opened #830 "Author dashboard needs styling"
- Submission Library and View Metadata link actions
- Submission progress bar (to match workflow dashboard)

[2015-10-20 21:06] asmecher commented on #830
@NateWr, this is the Author's view of a submission in progress. It's basically a subset of the information available to the editorial insiders.

[2015-10-20 23:22] asmecher commented on #816
Thanks for reporting, @martinpub; I've scheduled this for attention in OJS 2.4.8.

[2015-10-20 23:26] asmecher commented on #822
Merged and cherry-picked to ojs-dev-2_4, thanks!

[2015-10-20 23:26] #822 closed

[2015-10-21 09:26] bozana commented on #828
@mtub, wouldn't it be again a project we could work together on? On a weekend... :-)

[2015-10-22 18:27] ctgraham opened #831 "Password reset fails with addition of expiration token"
Validation::generatePasswordResetHash() now adds an expiration token for OJS.
https://github.com/pkp/ojs/blob/ojs-dev-2_4/classes/security/Validation.inc.php#L307-L341

We have a lovely method which validates a password reset hash and expiration.
https://github.com/pkp/ojs/blob/ojs-dev-2_4/classes/security/Validation.inc.php#L349-L359

We never use it.

Instead, we compare a newly generated reset

[2015-10-22 18:29] asmecher commented on #831
Thanks for reporting, @ctgraham. Are you working on this, or shall I?

[2015-10-22 18:29] asmecher commented on #695
This appears to have broken the password reset process (!) -- see:
https://github.com/pkp/pkp-lib/issues/831

[2015-10-22 18:30] ctgraham commented on #831
Testing a change to PKPLoginHandler::resetPassword() now.

[2015-10-22 18:30] asmecher commented on #831
Thanks, @ctgraham. I'll looking into writing a test up to prevent regressions like this once a fix is in place.

[2015-10-22 18:30] gpieri opened #832 "[OJS] Password reset is not working on OJS 2.4.7"
Password reset is not working on OJS 2.4.7.

The link provided in the email leads to a page with the following message: "Sorry, the link you clicked on has expired or is not valid. Please try resetting your password again."

[2015-10-22 18:34] asmecher commented on #832
@gpieri, see:
https://github.com/pkp/pkp-lib/issues/831

[2015-10-22 18:34] #832 closed

[2015-10-22 19:03] ctgraham commented on #824
See some current confusion on the existing setup here:
http://forum.pkp.sfu.ca/t/why-are-some-issues-missing-for-crossref-xml-export/4765

I think this use-case (batch updating metadata, issue-by-issue) would also point toward changing the plugin's workflow and not just the messaging of the "No Issues" message.

[2015-10-22 19:56] asmecher commented on #831
For instructions on how to apply the patch to an OJS 2.4.7 installation, see here:
https://github.com/pkp/pkp-lib/pull/833#issuecomment-150335585

[2015-10-22 20:22] #831 closed

[2015-10-22 21:15] UTSLibraryITS commented on #695
The submodule changes mustn't have come through when we switched branches.

Because the password reset functionality was definitely working pre-2.4.7.

It's in production at https://epress.lib.uts.edu.au/journals/index.php/index/login/lostPassword

On 23 Oct 2015, at 5:29 AM, Alec Smecher <notifications@github.com> wrote:

[2015-10-22 21:17] asmecher commented on #695
Not to worry, @UTSLibraryITS -- that's what regression tests are for. I'll see about putting together a test for the password reset process.

[2015-10-23 05:32] crism opened #834 "SHA-1 is being deprecated"
The OMP installation process says, under security “SHA1 is recommended.” SHA-1 is being deprecated; browsers, for instance, are dropping support for SHA-1 signed certificates by 2017, some of them possibly sooner. SHA-2 or SHA-3 support should be added as soon as feasible.

[2015-10-23 15:12] luandro opened #835 "fresh OJS installation gets redirected to same place no matter the url"
I've tried many times installing [OJS 2.4.7-1](https://pkp.sfu.ca/ojs/ojs_download/) on my server, but something seems not to be working. You can check what happens live [here](http://104.236.19.211), not matter where I click it ends up on the same page.

I've gone thru all the [installation](http://pkp.sfu.ca/ojs/README) process, giving permission to all the files, and doing the manual setup "php

[2015-10-23 15:37] luandro commented on #835
Got it to work on normal LAMP stack. Seems it's not compatible with Nginx or MariaDB. My guess would be Nginx.

[2015-10-23 17:35] asmecher commented on #835
@luandro, the problem is likely because of Nginx, PHP, and the `path_info` server variable. See e.g. https://www.nginx.com/resources/wiki/start/topics/examples/phpfcgi/ for an example configuration that should include `path_info`.

[2015-10-23 20:21] asmecher commented on #834
@crism, we recently shifted our password hashing to current standards and this is about to be merged into OMP and OJS3: https://github.com/pkp/pkp-lib/issues/781

[2015-10-23 20:21] #834 closed

[2015-10-23 22:32] #781 closed

[2015-10-25 03:06] luandro commented on #835
I finally got `path_info` server variable to work by changing my default `fastcgi_params` to:

[code]
[source](http://kbeezie.com/php-self-path-nginx/)

You can check it's working: `curl http://104.236.19.211/test.php/foo/bar.php\?v\=1`. But if you try the [index](http://104.236.19.211), where ojs installation dashboard should show up, I still get redirected around.

[2015-10-25 03:11] asmecher commented on #835
@luandro, that test URL is only working because of the `.php` suffix in the `bar.php` part; if that's not included you'll see that your server isn't properly sending the request via the `test.php` script.

[2015-10-25 03:11] #835 closed

[2015-10-25 03:24] luandro commented on #835
So what am I missing? Are there any other files I should be modifying besides `fastcgi_params`?

[2015-10-25 03:27] asmecher commented on #835
@luandro, I don't have any experience with Nginx configuration -- but one option would be to turn on the `disable_path_info` option in `config.inc.php`. This will result in uglier URLs but won't require `path_info` to work.

[2015-10-25 03:32] luandro commented on #835
I don't have any experience with Nginx config either. Changing `disable_path_info` to `On` works, but could there be any issues in the future because of that?

Really appreciate the support.

[2015-10-25 03:34] asmecher commented on #835
If you can live with the URLs that this mode uses, then you should be fine. I'd suggest trying stackoverflow for help with the nginx setup; they're usually very quick.

[2015-10-26 10:48] NateWr opened #836 "New OMP 1.2 Frontend"
This is just a ticket to help track various tasks related to polishing off the new frontend for 1.2. It will make it easier for me to peg PRs to a specific issue.

- [x] Ensure header looks good without logo. [PR](https://github.com/pkp/omp/pull/147)
- [x] Style catalog entries and sections for full catalog, category, series, new releases and search results. [PR](https://github.com/pkp/omp/pull/14

[2015-10-26 10:57] NateWr commented on #749
I'm going to close this as it overlaps with #758.

[2015-10-26 10:57] #749 closed

[2015-10-26 11:21] NateWr commented on #827
You were right. It was just the catalog modal that was walking up the dom one level when refreshing. [PR#148](https://github.com/pkp/omp/pull/148)

[2015-10-26 11:21] #827 closed

[2015-10-26 11:29] #793 closed

[2015-10-26 14:02] martinpub commented on #816
Thanks @asmecher!

[2015-10-27 19:51] #825 closed

[2015-10-27 19:53] asmecher commented on #825
Merged!

[2015-10-27 22:29] asmecher opened #840 "Review and fix issues identified in UB-Heidelber repo"
See: https://github.com/UB-Heidelberg/omp/issues

[2015-10-28 01:10] asmecher commented on #789
Merged and cherry-picked to `omp-dev-1_1` and `omp-stable-1_1_1`. Thanks, Nate!

[2015-10-28 01:10] #789 closed

[2015-10-28 05:08] jalperin commented on #789
how is supporting IE still a thing in the world?

On Tue, Oct 27, 2015 at 6:10 PM, Alec Smecher <notifications@github.com>
wrote:

[2015-10-28 10:59] NateWr commented on #789
@jalperin To be honest, not much longer. IE8 is nearing extinction and IE9 is almost out the door. Many people have dropped support already, but I suspect we'll need to hang on a bit longer since our user base is trapped in legacy IT departments. That said, IE 10/11/Edge are pretty good and Microsoft has finally gone to an automated update system. Safari is now the problem-kid in the browser famil

[2015-10-28 13:30] ctgraham opened #842 "Missing page title for site registration"
http://forum.pkp.sfu.ca/t/how-to-change-the-heading-title-of-registration-page-or-journals-list-page/4856/4?u=ctgraham

[2015-10-28 14:34] beghelli opened #843 "Implement statistics dimensions settings"
The default statistic plugin in OJS aggregates stats by city. Most of the users so far don't need that. We also want to implement another dimension (institution), and this also is not a requirement for most of the users.

It would be good to have a place in the plugin settings page to control which extra dimension one would want to use for their site.

[2015-10-28 14:48] asmecher commented on #842
Merged and cherry-picked to ojs-stable-2_4_7, thanks!

[2015-10-28 14:48] #842 closed

[2015-10-28 15:31] nmpx opened #844 "[OJS] Enabling ordering mode with no journals"
Fresh install of OJS 3.0b. I clicked the 'order' button to see it.

The result brings up a 'done' button and another link to 'cancel ordering', except that clicking either does nothing. And you can't click either 'order' or 'create a journal'. Essentially... you're trapped on this page.

Refreshing does 'unfreeze' it but.... Here's a screenshot.

![ojs-bug](https://cloud.githubusercontent.com/asse

[2015-10-28 15:46] ctgraham commented on #843
+1

[2015-10-28 15:56] ctgraham opened #845 "Allow inheritance of DOI export -> Crossref export -> EZID export"
Right now, DOIExportPlugin duplicates the logic of checking for DOIs as a check for exportability.  This should be a call to the existing `canBeExported()` method.  See, for example:
https://github.com/pkp/ojs/blob/ojs-2_4_7-0/plugins/importexport/datacite/classes/DOIExportPlugin.inc.php#L1041

Calling `$this->canBeExported()` when listing articles for export allows inheriting classes, such as Cro

[2015-10-28 16:44] NateWr opened #846 "PublicationFormat::getReadableDates() not returning readable dates"
I haven't had much time to look into this, but as far as I can tell the `getReadableDates` method does not return a valid date.

The relevant code in the template files is [here](https://github.com/pkp/omp/blob/master/templates/frontend/objects/monograph_full.tpl#L243-L268) and can be viewed on most book pages in the Smithsonian test data. Example:

![bad-date](https://cloud.githubusercontent.com/

[2015-10-28 17:04] asmecher commented on #846
Fixed by https://github.com/pkp/pkp-lib/commit/df7dd55dad8e310c4b777458ec5995cb348b65fe; caused by unintended consequences of http://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8634

[2015-10-28 17:04] #846 closed

[2015-10-28 17:08] asmecher commented on #844
Thanks for reporting, @nmpx. @beghelli, I think this is probably a boundary condition in the ordering stuff for when the list is empty; probably a JS error.

[2015-10-28 20:23] beghelli opened #847 "File download is not being logged anymore"
The problem was introduced by the usage of the request object when logging events in the usage stats plugin. The problem is that for file downloads, the hook download finished is called after a clean registry action.

[2015-10-28 23:48] beghelli commented on #772
@asmecher Sorry the delay, looking into it now.

My first worry is that we are breaking the conceptual idea here. Policy set objects are not authorization policies, they are objects that have authorization policies. Also, the authorization decision manager is not a policy set.

The callback advice should be implemented by authorization policies only right? I mean, those are the ones that have effe

[2015-10-29 00:06] beghelli commented on #617
Done reviewing.

[2015-10-29 13:41] ctgraham opened #848 "ReportPlugin::report() parameter $request is missing in UsageStatsReportPlugin::report()"
Followup to: https://github.com/pkp/pkp-lib/issues/253 and http://forum.pkp.sfu.ca/t/apache-error-log-ojs-usage-statistics-report/4883

https://github.com/pkp/ojs/blob/f4cf6ed7bb782c0c0a9f0afaa4e6fc1ecfccdd77/pages/manager/StatisticsHandler.inc.php#L160
and
https://github.com/pkp/ojs/blob/0fe3c1996662ef00d03939ea9b2a41a3d6a95471/plugins/reports/timedView/TimedViewReportPlugin.inc.php#L89
Set the p

[2015-10-29 15:52] asmecher commented on #848
@beghelli, could you take a look at this one? Thanks!

[2015-10-29 15:59] asmecher opened #850 "Implement CRUD API for DOAJ"
See https://doaj.org/api/v1/docs for details.

[2015-10-29 16:53] #617 closed

[2015-10-29 17:03] asmecher commented on #772
Here's the policy change that led me down this rabbit-hole:
https://github.com/pkp/pkp-lib/pull/773/files#diff-a44e423067de7f99b59c90f2fe2bccebR26
Without the ability to add callback advice to policy sets, it wasn't clear to me where a good place to add this behavior was.

[2015-10-29 17:57] asmecher commented on #617
Also ported to OJS master.

[2015-10-29 19:38] asmecher commented on #805
Pulls:
pkp-lib: https://github.com/pkp/pkp-lib/pull/851
omp: https://github.com/pkp/omp/pull/153

@NateWr, this removes all the footer category/footer link/social media stuff entirely and just leaves the footer field on the Appearance setup form.

I suspect the user impact of this removal (>3k LOC!) will be nearly zero, because these were confusing and probably avoided. However, they were an attem

[2015-10-29 23:42] #802 closed

[2015-10-29 23:43] #754 closed

[2015-10-30 10:29] bozana opened #852 "Automatic DOI registration to mEDRA"
S. https://github.com/pkp/pkp-lib/issues/730#issuecomment-147325056

[2015-10-30 10:29] #730 closed

[2015-10-30 10:30] #784 closed

[2015-10-30 14:10] ctgraham opened #853 "Configuring an Alternate Header is insane."
In OJS Journal Setup 5.3, the instructions for the Alternate Header state, "Alternately, instead of title and logo, an HTML version of the header can be inserted into the text box below. Leave textbox blank if not required."
https://github.com/pkp/ojs/blob/ojs-stable-2_4_7/locale/en_US/manager.xml#L205
This strongly suggests to me that I could override the title and logo options with arbitrary HTM

[2015-10-30 17:47] asmecher commented on #853
@ctgraham, I agree that the current implementation is at least a little rickety. However, I'm hesitant to change it for existing users, since it's been that way for a long time. We're overhauling this substantially for OJS 3.0.

[2015-10-30 17:49] beghelli commented on #772
the SubmissionRequiredPolicy.inc.php is already an AuthorizationPolicy right? Why not leave it there? You wanted to move this behavior to anywhere else?

[2015-10-30 19:21] ctgraham commented on #853
For 2.x, to make the UI match the existing function, we could move the text box up to the "5.3 -> Journal title" section, and change the instruction to something like, "If you want to use arbitrary HTML inside the Journal Title, the content of the H1 can be inserted into the text box below".

Of course, that presumes that the existing "5.3 -> Journal title -> Title text" option doesn't accept HTML

[2015-10-30 19:28] asmecher commented on #853
On second thought, and looking at the template -- yep, you're absolutely right, dropping this into the `<h1>` is insane. Let's make it less insane.

[2015-10-30 19:44] asmecher commented on #700
Summary of the changes:

- The `Plugin::getManagementVerbLinkAction` function has been removed.
- The `Plugin::getActions` function has been added.
- The `Plugin::manage` function has been simplified.

See e.g. https://github.com/pkp/translator/pull/3 for an example of these changes applied to an existing OMP 1.1.x-level plugin.

In the management interface, plugins can use `Plugin::getActions` to

[2015-10-30 21:55] #767 closed

[2015-10-30 22:16] beghelli commented on #847
Needs porting to OMP and OJS master after the privacy work is there

[2015-11-02 09:58] bozana commented on #847
@beghelli, I ported it to OMP stable, s. https://github.com/pkp/omp/pull/137. I believe it can be cherry-picked to OMP master then :-)

[2015-11-02 11:52] NateWr commented on #805
I'm in favor of this change. However, it will impact Smithsonian and doesn't offer a way to add multiple columns, which is a very common footer design pattern.

What do you think about re-purposing the Right Sidebar for the footer? Is that something we could get into this PR? We could even leave it identified as right sidebar under the hood, but just label it Footer Sidebar in the admin area. Idea

[2015-11-02 13:57] NateWr commented on #754
Sorry for the late response. I just ran through a test locally and was unable to reproduce, so must have been something off in my last test.

[2015-11-02 16:09] bozana opened #855 "DataCite export link for issues is missing"
S. https://github.com/pkp/ojs/commit/85d4a834573c8e20bdc8005cad98f6e61530c471#commitcomment-14128350

[2015-11-02 18:55] ctgraham opened #856 "Journal Statistics DAO cross product is too large"
The cross product of articles and users in the Journal Statistics DAO
https://github.com/pkp/ojs/blob/a9459eb851921827e34402a321ff206422f34a34/classes/journal/JournalStatisticsDAO.inc.php#L31-L45
is causing problems with very large selects.

See:
http://forum.pkp.sfu.ca/t/error-in-stats-reports-page/4683/2

This would probably be cleaner and faster as two selects.

[2015-11-02 20:15] ctgraham opened #857 "Add support for CRediT standard for contributor attribution"
Update July 17th 2025

Requirements:
The functionality from the existing plugin https://github.com/pkp/credit has been moved to the core:
There is a possibility to define CRediT roles (s. https://credit.niso.org/) and their degrees (‘lead’, ‘equal’, or ‘supporting’) for authors/contributors. So for each contributor one or several CRediT roles can be assigned and optionally degree for those roles -

[2015-11-02 20:31] asmecher commented on #856
@beghelli, could you take a look?

[2015-11-02 20:48] asmecher commented on #754
No worries; I'll keep an eye out for trouble here too.

[2015-11-02 22:39] asmecher commented on #857
Thanks, @ctgraham. Were you able to find any concrete documentation for the standard?

[2015-11-03 11:22] beghelli opened #858 "Timed view report fails if no galley is present in database anymore"
The check for an article is there, but for a galley is not. Some databases who might have old statistics for non existing galleys will not be able to generate the report.

[2015-11-03 12:17] beghelli commented on #856
This is working for me, reviewed and had just one comment. Will wait for the forum user feedback to see if that solves his problem.

[2015-11-03 13:23] ctgraham commented on #856
Looking at prior interactions, @ birkok may or may not be comfortable with the technical aspects of applying a patch.
http://forum.pkp.sfu.ca/t/upgraded-to-2-4-6-and-submission-acknowledgement-email-is-not-sent-anymore/798/6

We may not get direct feedback from the forum.

[2015-11-03 13:29] beghelli commented on #856
Ok, I will test with the largest database I have here and compare the execution time. I think that this is enough to merge.

[2015-11-03 14:12] ctgraham commented on #857
I don't know there is much "concrete" at this point aside from the [proposed taxonomy](http://dictionary.casrai.org/Contributor_Roles).  There appears to be quite a bit of (too much?) implementation flexibility:

http://dictionary.casrai.org/Contributor_Roles#Frequently_Asked_Questions

The Interest Group might be a good connection for PKP (or Development Partners).

Mirroring the functionality of

[2015-11-03 14:32] bozana opened #859 "Enable exclude and clear of issue objects DOIs also if DOI shouldn't be assigned to the issues"
When 'Issues' is not selected in DOI plug-in settings, the option to exclude and clear issue objects DOIs is not shown on the issue (meta)data page. It would be good to have those options available, s. for example http://forum.pkp.sfu.ca/t/plugin-dois-with-crossref/4872.

[2015-11-03 19:41] asmecher opened #861 "Format amounts with appropriate currency symbols"
See feature request:
http://forum.pkp.sfu.ca/t/currency-symbols-should-be-added

[2015-11-03 20:42] asmecher commented on #861
Implemented for OMP 1.2; not applicable to OJS 3 yet.

[2015-11-03 20:42] #861 closed

[2015-11-04 00:11] #859 closed

[2015-11-04 13:01] jnugent opened #862 "Implement better logging for web service requests"
Alec has already provided a code sample to log web service requests to a log file when things fail.  Make this general, as a config.inc.php option for system admin debugging.

[2015-11-04 16:58] asmecher commented on #580
Pulls:
https://github.com/pkp/ojs/pull/662
https://github.com/pkp/pkp-lib/pull/865

[2015-11-04 18:05] nmpx opened #866 "OJS: Eternally loading"
Not sure if this problem is replicated in other areas, but I was in Journal Settings -> policies.

Filled in some of the fields and hit 'save'. Got the notification that it was saved, but the 'I'm processing' image didn't stop after 5 minutes.

Attached is a screenshot.

edit: I checked a few other places and the loading image never goes away.

![bug02](https://cloud.githubusercontent.com/assets/5

[2015-11-04 18:48] nmpx opened #867 "OJS 3.0b: Journal Page Header not on front page"
After uploading a header image for the journal page (which was kind of wonky in and of itself but I'm not sure how to describe it), this image is not being displayed on the front page. Tried clearing my browser cache, removing and re-uploading the image, it never shows up anywhere.

![bug03 1](https://cloud.githubusercontent.com/assets/5183702/10948202/6fc0828e-82fa-11e5-8058-50e2c6bb3c62.png)

An

[2015-11-04 18:52] asmecher commented on #866
@nmpx, there's probably a PHP error message in the log. Is this an install you're testing on one of our servers?

[2015-11-04 18:55] asmecher commented on #660
See also https://github.com/pkp/pkp-lib/issues/867

[2015-11-04 18:55] asmecher commented on #867
This is a duplicate of https://github.com/pkp/pkp-lib/issues/660 -- noted there.

[2015-11-04 18:55] #867 closed

[2015-11-04 19:03] nmpx commented on #660
Should I make a different issue for the fact that the Alternate Header doesn't seem to display anywhere?

[2015-11-04 19:18] mxbees opened #868 "OJS 3.0b: Journal Appearance, image management/deletion"
In playing around with the various appearance options I'm encountering UI issues around the image management.

When you delete an image, it doesn't disappear from the UI. If you hit 'save' and get the notification that your changes have been saved, the image is still there. Then, if you try to delete it again (as in, you think it is still there because it didn't go anywhere). You'll get the confir

[2015-11-04 19:19] nmpx commented on #866
@asmecher no, not on one of your servers. i'm on a virtual machine. where are your servers?

[2015-11-04 21:09] ctgraham opened #869 "Don't show Install / Update / Delete links for plugins if the filesystem permissions prohibit the action."
In OJS 2.x, in the Plugin Management, the Install, Update, and Delete links appear regardless of whether the webserver can write to the plugins.

It's a pretty simple check to cleanup the interface.

[2015-11-05 06:33] asmecher commented on #866
Can you check in your PHP error log (probably somewhere in `/var/log/` on the VM) for errors?

[2015-11-05 17:29] #580 closed

[2015-11-05 17:32] asmecher opened #871 "Forward-port site identifier"
Foward-port the site identifier (used for statistics, but also the beacon)

[2015-11-05 18:00] asmecher commented on #660
Thanks, @nmpx, I've flagged it here too.

[2015-11-05 19:09] asmecher commented on #744
Followed up with SI and then John.

Currently the metadata field SI is using is called "Position in this Series":

![position](https://cloud.githubusercontent.com/assets/200411/10978662/021a8154-83ad-11e5-8c6e-19dfd6031a54.png)

Clarified with John why we didn't call this Volume in the first place:

SI's description of how browsing would work (paraphrased):

- Readers would hit the press homepage

[2015-11-05 19:30] asmecher commented on #868
Thanks, @nmpx. @NateWr, I suspect there's overlap here with existing entries; could you review and combine as needed?

[2015-11-05 19:36] nmpx commented on #866
My log didn't register any errors. I actually decided to destroy the machine and do a very fresh install (debian 8/apache/php/mysql). I'm still getting the eternally loading image.

[2015-11-05 19:38] asmecher commented on #866
The other possibility is that you're hitting a Javascript error -- the formatting of the "Save" button suggests to me that this is the case. If you don't have it, can you install a developer tool like Firebug and check the console there to see if there are any listed Javascript errors, either before hitting "Save" or upon hitting it?

[2015-11-05 19:44] nmpx commented on #866
Here's what I'm getting from Chrome's console:

[code]

[2015-11-05 19:55] asmecher commented on #866
Hmm, nothing unusual there. What version of the software are you using? (3.0 beta, or master checkout? If a master checkout, is it up to date both in the ojs and pkp-lib repositories?)

I've just checked a recent checkout of the master branch and couldn't duplicate the problem.

[2015-11-05 20:41] nmpx commented on #866
Ah. I'm using 3.0 beta. Should I be testing master checkout to ensure that any bugs I find are still relevant? I can do that.

[2015-11-05 20:44] asmecher commented on #866
Hi @nmpx -- yes, it would be better to check out the master branch from git (both ojs and pkp-lib); we've done quite a bit of work since the beta release. Let me know if you get stuck on anything. Two current gotchas:

    cd lib/pkp
    composer update

(You might need to install Composer first)

...and if you keep your current DB from OJS 3.0b, you'll need to run (in MySQL)...

    ALTER TABLE u

[2015-11-05 20:48] nmpx commented on #866
Okay. cool. I'm close this issue then.

[2015-11-05 20:48] #866 closed

[2015-11-05 21:13] asmecher commented on #866
Thanks!

[2015-11-06 06:01] mtub opened #872 "OJS: DOI plugins' options have to be renamed"
In ojs-dev-2_4 and master branches:

CrossRef, Datacite, Medra plugins' shared common.xml has four options:
* All Issues
* All Articles
* Export specific galleys
* Export specific supplementary files

This is misleading - all four options lead to a select page to select issues, articles, etc. Rename to
* Export issues
* Export articles
* Export galleys
* Export supplementary files

[2015-11-06 13:16] ctgraham commented on #872
In aligning this, you might want to also consider "Unregistered Articles" in
https://github.com/pkp/ojs/blob/ojs-dev-2_4/plugins/importexport/crossref/locale/en_US/locale.xml#L38
In the Crossref plugin, this key stands in parallel to common.export.issues and common.export.articles.

[2015-11-06 16:01] asmecher commented on #872
Merged the two PRs linked above; leaving open for @ctgraham's comment.

[2015-11-06 16:49] asmecher commented on #862
Pulls were:
https://github.com/pkp/ojs/pull/661
https://github.com/pkp/pkp-lib/pull/864

[2015-11-06 16:52] asmecher commented on #862
Committed to ojs-dev-2_4; needs forward-porting to OMP and OJS master.

[2015-11-07 01:03] asmecher commented on #805
Re-using plugins for this is an option, but it seems cumbersome to me to get users to create blocks and then arrange them in the sidebar. I'd rather we worked a little with TinyMCE directly. There are a few options...

- http://bloggingspree.com/how-to-make-columns/ (likely outdated, but an equivalent should exist for newer TinyMCE)
- Create some styles and enable the style drop-down in TinyMCE

E

[2015-11-07 01:08] asmecher commented on #788
@bozana, could you take a look at this? Off the top of my head, what would be required is a way for the editor to edit and anonymize uploaded files, then upload a new revision of them.

[2015-11-07 01:10] asmecher commented on #744
@bozana, another one to consider! I think this might've also come up at Free University Berlin?

[2015-11-07 19:57] jnugent commented on #862
Forward ported to OMP and OJS master

[2015-11-09 07:24] jalperin opened #873 "The version.xml descriptor has invalid XML in OJS 2.4.7"
[See here](https://github.com/pkp/ojs/blob/ojs-stable-2_4_7/dbscripts/xml/version.xml)

[2015-11-09 07:26] jalperin commented on #873
to be more precise: the `</patch>` has been removed from every line, apparently by commit [fe82b9ae8ef88](https://github.com/pkp/ojs/commit/fe82b9ae8ef884120a328af6231047f54b3bad3e)

[2015-11-09 09:10] bozana commented on #872
@ctgraham, just do double check: do you mean to change it to "Export all unregistered articles", "Export issues" and "Export articles"? THANKS!!!

[2015-11-09 10:31] beghelli commented on #856
Tested here, but my largest database doesn't have enough records to even get close to my max_join_size, that is 18446744073709551615. The speed is the same using a single query and two. Will merge since it can avoid problems with people that has sql_big_selects disabled, although I think that other parts of the system could have problems with that in this case...

[2015-11-09 16:14] asmecher commented on #873
Hmm, that's a fubar in the automated build script's regular expression. I wonder why the automatic XML linting never caught this? Looking now.

[2015-11-09 16:32] asmecher commented on #873
This was a problem with the validation testing script -- errors were being displayed but the  build wasn't failing. https://github.com/pkp/ojs/commit/9e22463d3687eaad0e8fd2ceecd3238cde305693#diff-354f30a63fb0907d4ad57269548329e3L42

[2015-11-09 16:32] #873 closed

[2015-11-09 16:40] NateWr commented on #744
Given the Smithsonian's description of how their users find monographs by volume number, it would be great to be able to sort and search by this value.

[2015-11-09 16:47] NateWr commented on #868
I wasn't able to replicate this with latest master of OJS. Just to be clear, here are the steps I took to reproduce:

1. Login as Journal Manager (`dbarnes`)
2. Go to Settings > Website > Appearance.
3. Click the **Upload** link under Journal Thumbnail. The file upload modal appeared.
4. Click Add Files. Select a file. Click Start Upload. Click Ok. The image appeared under Journal Thumbnail.
5. Cl

[2015-11-09 17:20] NateWr commented on #836
From Alec regarding the AddThis plugin:

[2015-11-09 17:41] NateWr opened #874 "[OJS] File hidden from galley grid when More Information clicked"
Here's an odd one. Just reporting it so I don't forget as I'm focused on something else.

Click: Submission > Production > Galleys > (Any File) > More Information. The modal loads but as it does the grid underneath is refreshed and the file disappears from the list. Reloading the page restores the file, so it's not actually deleted.

I used "Diouf, Genetic transformation of forest trees" from the

[2015-11-09 18:02] beghelli commented on #685
Needs to forward port to master

[2015-11-09 19:15] asmecher commented on #843
@ctgraham, I merged this after reading but not testing. If you need this and manage to give it a quick spin, I'd appreciate the feedback. Thanks, @beghelli!

[2015-11-09 19:16] asmecher commented on #744
@NateWr's emailed mockup:

![book-volume-number-ui](https://cloud.githubusercontent.com/assets/200411/11043793/53e784ea-86d3-11e5-9c6f-4eaf34b53b77.gif)

[2015-11-09 19:36] ubermichael opened #875 "PLN Plugin Requires Acron"
The PLN plugin should check and warn if Acron isn't enabled.

PR coming in a moment.

[2015-11-09 21:38] bozana opened #876 "DOI Exclude and Clear Option in OMP"
S. http://forum.pkp.sfu.ca/t/no-dois-for-physical-publication-formats/4885

[2015-11-09 21:40] #874 closed

[2015-11-09 21:46] #676 closed

[2015-11-09 23:48] asmecher commented on #579
Implemented in issue #580.

[2015-11-09 23:48] #579 closed

[2015-11-10 00:10] asmecher commented on #756
Fixed, thanks!

[2015-11-10 00:10] #756 closed

[2015-11-10 08:53] NateWr opened #877 "[UI] Make participants grid more visible"
I'd recommend chucking it underneath the buttons on the right in the workflow, and leaving it up rather than having it as a fly-out. It may also make sense to not use the Category Grid, in order to save a bit of space, if we think there will only be 3-4 people assigned at any given stage.

This will also address a few issues with the participants grid mentioned in #604.

[2015-11-10 08:54] NateWr opened #878 "[UI] Add link to profile in backend"
This is split out from #605 as it needs to be implemented for OMP 1.2. The "Logged In As" display was also commonly used.

[2015-11-10 10:33] #858 closed

[2015-11-10 10:34] #856 closed

[2015-11-10 10:36] #848 closed

[2015-11-10 10:36] #847 closed

[2015-11-10 10:39] beghelli commented on #843
Just to keep track the need to port to master

[2015-11-10 10:41] beghelli commented on #843
Maybe that's not a good idea, will use another issue number.

[2015-11-10 10:41] #843 closed

[2015-11-10 10:43] beghelli opened #879 "Foward port stats dimension settings to master"
See: https://github.com/pkp/pkp-lib/issues/843

[2015-11-10 10:47] beghelli opened #880 "Archived usage stats log files are taking too much disk space"
In high traffic sites, one usage stats log file can take up to 25 MB. The archiving process should compress them, if possible.

[2015-11-10 11:56] switowski opened #881 "[OJS] Incorrect notification signature"
Hi,

I just encountered the same error as described here:
https://pkp.sfu.ca/support/forum/viewtopic.php?f=8&t=8493
When a new article is created, the notification email is send but the signature is weird, because it contains:
contactName of the journal (so not the name of the author !)
signature of the author

So the e-mail that is send is a bit confusing. I tried to pinpoint where does this erro

[2015-11-10 12:27] NateWr opened #882 "Offload AddThis plugin display/stats code"
Right now the AddThis plugin interacts directly with the AddThis API for stats and manually outputs content for four pre-determined styles. Why not let AddThis do all that work?

We'd cut out a bunch of template, settings and stats code from the plugin and would have less we'd need to keep in sync if AddThis changes it's own system.

[2015-11-10 15:43] asmecher commented on #877
How about if we keep it as a category grid, but don't present the category rows without entries?

[2015-11-10 15:47] NateWr commented on #877
Sure. Is that possible with via CSS or does it involve touching the grid template files?

[2015-11-10 16:04] asmecher commented on #877
It's something I'd do in PHP-land. I'll take care of it if you like -- it shouldn't collide with the rest of this issue.

[2015-11-10 16:14] jmacgreg commented on #563
Hi all, just doing a review of some ALM issues. @beghelli, can this be closed?

[2015-11-10 17:14] beghelli commented on #563
@jmacgreg item 1 from Juan's first comment wasn't solved. There is no stats by time in the events (likes, comments), just for sources (facebook, etc). Not sure what to do.

[2015-11-10 17:22] asmecher commented on #877
(Changed participants grid to exclude user groups that aren't active for the submission.)

[2015-11-10 17:26] NateWr commented on #877
:+1:

[2015-11-10 18:18] asmecher commented on #881
Hi @switowski -- can you confirm...

- The signature at the end of the email
- The reply-to name and address
- The "from" name and address
- Which template you're seeing the text of ("You have a new notification from..." or "Thank you for submitting the manuscript, ...")

Feel free to anonymize these if you need; I just need to know which are appropriate and which are causing confusion.

[2015-11-10 19:28] switowski commented on #881
Hi @asmecher,

sure, this is the whole email:
[code]
Here, the AAAAA is the contactName of the journal and BBBBB is the person submitting the article.
I hope that helps.

[2015-11-10 20:17] asmecher opened #883 "Update UPGRADE docs to include information on submodules"
- Need discussion of lib/pkp rebase, not just app rebase
- OJS 2.4.7 added the password-compat submodule, so leaving out `git submodule init` and `git submodule update` will leave that library missing.

[2015-11-10 20:46] asmecher opened #884 "Permit X in ONIX-formatted ISSNs"
See http://forum.pkp.sfu.ca/t/bug-in-doi-medra-plugin/5070

[2015-11-10 20:49] #884 closed

[2015-11-10 20:57] ctgraham commented on #884
We have a validator for this, no?
https://github.com/pkp/pkp-lib/blob/ojs-dev-2_4/classes/validation/ValidatorISSN.inc.php

[2015-11-10 20:58] asmecher commented on #884
Yes, but this data model needs ONIX-formatted ISSNs, which have the hyphens stripped. This regexp is intended for formatting, not validation.

[2015-11-10 20:59] ctgraham commented on #884
Ah, I guess I could read before commenting.

[2015-11-10 20:59] asmecher commented on #884
No, then I'd have to start doing that.

[2015-11-10 21:53] asmecher opened #885 "Browse plugin drops whitespace in before HTML header"
...causing the page to be displayed per the server's charset configuration, e.g. Latin1.

See:
http://forum.pkp.sfu.ca/t/ojs-2-4-7-1-browse-by-sections-and-polish-letters/5065

[2015-11-10 21:54] #885 closed

[2015-11-10 22:35] asmecher commented on #881
@switowski, can you try the patch attached to https://github.com/pkp/pkp-lib/pull/887 (applied in the lib/pkp subdirectory) and see if that corrects the problem?

[2015-11-11 12:01] switowski commented on #881
@asmecher , yes that fixed the problem (no signature is better than a confusing one :)
Thank you very much for help !

[2015-11-11 13:45] ctgraham opened #888 "EditorSubmissionDAO::_getUnfilteredEditorSubmissions() needs a bit more filtering"
We are pulling in LEFT OUTER joins without WHERE clause filtering unnecessarily in:
https://github.com/pkp/ojs/blob/f4cf6ed7bb782c0c0a9f0afaa4e6fc1ecfccdd77/classes/submission/editor/EditorSubmissionDAO.inc.php#L301-L340

For an example, consider [`edit_assignments e` and `users ed`](https://github.com/pkp/ojs/blob/f4cf6ed7bb782c0c0a9f0afaa4e6fc1ecfccdd77/classes/submission/editor/EditorSubmission

[2015-11-11 14:33] ctgraham opened #889 "Fatal error in editing submission metadata on missing section"
Steps to reproduce:
* In OJS 2.4.7, navigate to a submission without a valid section assignment.
* Select "Summary"
* Select "Edit Metadata"
Expected result:
The form to edit the metadata
Actual result:
The form to edit the metadata, up until the fatal error when [checking the unset $section for abstract requirements](https://github.com/pkp/ojs/blob/973d391c76a073bc700b4cdc036da1ee8cbdfc3e/templat

[2015-11-11 16:46] asmecher commented on #881
Thanks for confirming!

[2015-11-11 16:46] #881 closed

[2015-11-11 19:48] ctgraham commented on #843
@beghelli , for existing installs, won't this change disable the city and region collection for users who don't explicitly turn it on after upgrading?  Is this intended?

[2015-11-12 16:55] ctgraham opened #890 "UsageStats settings form enhancements"
Enhancements for the UsageStats plugin Settings form in OJS 2.4.7:
- [x] The Regex parsing for Access Logs should allow named parameters.  Currently, the order of parameters in the access log must be identical for all users.
- [x] The Data Privacy option should not depend on a config.inc.php entry.  The filename should be able to be provided directly in the interface.
- [x] The Data Privacy option

[2015-11-12 16:56] asmecher opened #891 "Fix METS export XML error message"
See http://forum.pkp.sfu.ca/t/mets-export-plugin-error-2-4-6/5069

[2015-11-12 16:58] asmecher commented on #891
(Awaiting feedback before closing)

[2015-11-12 19:48] asmecher commented on #890
(Temporarily scheduling for 2.4.8 so it doesn't get lost.)

[2015-11-12 20:34] asmecher commented on #889
This same problem will crop up in many other cases -- missing sections are a data error and we haven't checked for it. See https://github.com/pkp/pkp-lib/issues/255 for discussion. On the other hand, this change isn't major and will be helpful. @ctgraham, I don't see an open PR -- could you flag it here when it's ready?

[2015-11-12 20:40] asmecher commented on #889
Sorry, I found it:
https://github.com/pkp/ojs/pull/669

[2015-11-12 20:41] asmecher commented on #889
Thanks, @ctgraham!

[2015-11-12 20:41] #889 closed

[2015-11-12 21:05] asmecher commented on #888
@jnugent, @mfelczak, and @jmacgreg, this will probably be of interest to some subset. This would also reduce the server load for these queries, which will be of interest to Certain Large Clients. @jmacgreg, I'm not sure if you've allocated either Michael or Jason to work on this? If so, this is a good place to talk about it and I'm happy to pitch in too.

[2015-11-12 21:12] jmacgreg commented on #888
No current allocations. Michael or Jason, any interest in (and time for) taking a look?

[2015-11-12 21:38] asmecher opened #892 "Fix creation of author biography entries from user biographies"
See http://forum.pkp.sfu.ca/t/omp-displaying-bio-in-catalog-book-abstracttab/662/5

[2015-11-12 21:40] asmecher commented on #892
PR: https://github.com/pkp/pkp-lib/pull/893

[2015-11-13 13:49] bozana commented on #890
@asmecher, could you please explain why the salt file path should be in the config.inc.php ?

[2015-11-13 14:28] ctgraham commented on #845
I think this can be scheduled against 2.4.8 and closed.

[2015-11-13 14:33] ctgraham commented on #739
I think this is back to you, @beghelli .

[2015-11-13 14:36] ctgraham commented on #623
This can be scheduled against 2.4.8 and closed based on https://github.com/pkp/ojs/pull/551

[2015-11-13 14:36] ctgraham commented on #622
This can be scheduled against 2.4.8 and closed based on https://github.com/pkp/ojs/pull/551

[2015-11-13 15:05] ctgraham commented on #872
Yes, I think "Export unregistered articles" would better align with the renamed labels.
Key `plugins.importexport.crossref.export.unregistered` is used in both:
https://github.com/pkp/ojs/blob/ojs-dev-2_4/plugins/importexport/doaj/templates/index.tpl#L20
and
https://github.com/pkp/ojs/blob/ojs-dev-2_4/plugins/importexport/crossref/templates/index.tpl#L25
and the renaming works in both.

Whether DO

[2015-11-13 16:51] asmecher commented on #845
Thanks, @ctgraham!

[2015-11-13 16:51] #845 closed

[2015-11-13 16:53] asmecher commented on #890
Sorry, @bozana, I'm not following -- got a link to a commit or something?

[2015-11-13 18:51] asmecher commented on #543
Merged into `ojs-dev-2_4` for release in OJS 2.4.8. Thanks for contributing, @davidjb, and for reviewing and testing, @ctgraham.

[2015-11-13 18:51] #543 closed

[2015-11-13 19:29] ctgraham commented on #419
I think this is resolved by https://github.com/pkp/ojs/pull/655 for https://github.com/pkp/pkp-lib/issues/856.

[2015-11-13 19:40] asmecher commented on #419
Thanks, @ctgraham.

[2015-11-13 19:40] #419 closed

[2015-11-16 09:17] bozana commented on #890
@asmecher Hihihihi :-) I don't know exactly why did we put the salt file path in the config.inc.php and not in the plugin settings form, so I thought you could surely explain it better -- it concerns the second point from this issue... :-)

[2015-11-16 13:24] ctgraham commented on #890
One potential reason for having an entry in config.inc.php would be if there is a distinction between a System Administrator who has access to the OS and file-level configuration, and a Site Administrator, who has access to the web configuration.

I'm having a hard time seeing that as a benefit here.

In general, I personally think most entries in config.inc.php belong in the UI instead.

[2015-11-16 16:20] #892 closed

[2015-11-16 16:22] ctgraham opened #895 "Backport *8636* NOTIFICATION_TYPE_WARNING Content"
OJS 2.x doesn't yet have the benefit of actually being able to use the NOTIFICATION_TYPE_WARNING.

See: https://github.com/pkp/pkp-lib/commit/69abd954ac84d3f29cc8d788cbfebe3d7f858869
and: http://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8636

[2015-11-16 16:39] #895 closed

[2015-11-16 18:37] ctgraham opened #897 "ThesisFeedPlugin is missing request type check"
See: http://forum.pkp.sfu.ca/t/custom-reports-generator-interface-not-loading/5113/2
Similar to: https://github.com/pkp/ojs/pull/606 for https://github.com/pkp/pkp-lib/issues/336

[2015-11-16 18:58] asmecher commented on #897
Thanks, @ctgraham; merged and cherry-picked to `ojs-stable-2_4_7`.

[2015-11-16 18:58] #897 closed

[2015-11-16 19:35] samueloph opened #898 "[OJS]Strange behavior if journal url = rt"
I just found out that if I create a new journal with its abbrev. "rt", giving urls like localhost/rt/manager, this journal won't work properly, I think this is happening because OJS already have a "rt" folder.

Maybe it could prevent users from making "rt" journals or identifying such cases to differentiate between the journal and the system folder.

[2015-11-16 19:42] asmecher commented on #898
@samueloph, are you using mod_rewrite? If so, the problem is likely in those rules.

[2015-11-16 21:01] samueloph commented on #898
oh god I forgot. Yeah i'm using it, so this isn't a OJS problem, I'm closing this.

Thanks and sorry.

[2015-11-16 21:01] #898 closed

[2015-11-16 21:20] asmecher commented on #898
No worries!

[2015-11-17 13:23] ctgraham opened #899 "Google Analytics setting references "boolean instead of "bool""
Typeo on:
https://github.com/pkp/ojs/blob/0a28c81dc409065d4495e28ce3b903d81db7d60c/plugins/generic/googleAnalytics/GoogleAnalyticsSettingsForm.inc.php#L110

Reported in:
http://forum.pkp.sfu.ca/t/google-analytics-plugin-db-error-ojs-2-4-7-1/5181

[2015-11-17 13:59] ctgraham commented on #890
@asmecher , so your concern is separating the configuration of items that would be changed in a OS or hardware change from items that would be OS independent?

I didn't like the concept of having a plugin setting that then needed to be manually entered in the config.inc.php, even if it is a filesystem location.  I think generally moving any settings into a UI improves the end-user experience.

@bo

[2015-11-17 16:33] asmecher opened #901 "Google Analytics plugin uses nonstandard "boolean" rather than "bool" setting type"
See http://forum.pkp.sfu.ca/t/google-analytics-plugin-db-error-ojs-2-4-7-1/5181

[2015-11-17 16:33] asmecher commented on #901
Oops -- duplicate of https://github.com/pkp/pkp-lib/issues/899

[2015-11-17 16:33] #901 closed

[2015-11-17 16:38] asmecher commented on #899
Thanks -- merged and ported to `ojs-stable-2_4_7`. Doesn't apply to `master` (the plugin there needs re-syncing with current `ojs-dev-2_4` first).

[2015-11-17 16:38] #899 closed

[2015-11-18 09:11] bozana commented on #890
Unfortunately, I don't have any preference here :-( Originally I thought it would be easier to deal with the plug-in options only at one place i.e. only within the plug-in settings, but adding those two extra lines in the config.inc.php is not a problem. If there is no strong advantage of using the config.inc.php for this, I would say we could include it into the plug-in settings.

[2015-11-18 16:20] beghelli commented on #890
I think that, since there is no way to use this plugin setting without touching the server itself, the option inside the config.inc.php file only helps to prevent users to change this and to expect some result without creating the proper location to the file.

[2015-11-18 16:28] ctgraham commented on #890
@beghelli , are you saying that keeping the setting in config.inc.php forces a server-level interaction and better guarantees a proper change?  Or are you saying that moving the setting to the plugin better ensures a proper change because we can provide immediate feedback?

I think the second is true: we can validate the user's input in the plugin and provide immediate feedback if the file locatio

[2015-11-18 17:03] beghelli commented on #890
sorry if I made myself unclear. I said that keeping the setting into the configuration file is an easy way to enforce that only system administrators will try to use that setting. Since they are going to need to create the file in the server, they can easily edit the configuration file.

[2015-11-18 17:22] nmpx opened #902 "OJS 3.0b: Weird text in Plugin Gallery Dropdown Menu"
(Yes, I am now using the github master, so all my issues should be current, I hope.)

In the Plugin Gallery Dropdown Menu, I'm seeing this text:

     ##plugins.categories.viewableFiles##

    ##plugins.categories.ImplicitAuth##

See screenshot below

![bug05](https://cloud.githubusercontent.com/assets/5183702/11248411/0b786bac-8def-11e5-9a9f-9d475df29184.png)

[2015-11-18 17:37] mxbees opened #903 "OJS 3.0b3: Announcements not showing on front page and clicking 'Read More' results in 404 error"
When turning on announcements, you get the header on the front page, however none of the announcements show up on the page. Not clear if it ought to be showing announcements, but it's peculiar. See screenshot.

Also, one the Announcements page, when you click a 'Read More' link, it results in a 404 error.

![bug06](https://cloud.githubusercontent.com/assets/5183702/11248786/164016c8-8df1-11e5-8ff9

[2015-11-18 18:00] nmpx commented on #868
Hey. I followed your directions exactly and had the same problem. This is also a fresh install of the git master dev branch (installed today). The rest of my environment:

- Debian 8
- PHP 5.6.14-0+deb8u1 (cli) (built: Oct  4 2015 16:13:10)
- mysql  Ver 14.14 Distrib 5.5.46, for debian-linux-gnu (x86_64) using readline 6.3
- Server version: Apache/2.4.10 (Debian)

I made a screencast of what I did

[2015-11-18 18:51] nmpx opened #904 "OJS 3.0b2: Creating New Journals Hangs"
When creating new journals, I find that after hitting save, the page hangs...

Getting out requires hitting 'cancel'. However, if you refresh the page, it turns out that you have successfully created a new journal.

Refer to this screencast to see what I did: https://youtu.be/PmwPVoNq9iE

[2015-11-18 19:00] asmecher commented on #904
Hi @nmpx -- were you able to track down the PHP error log? That probably contains something relevant.

[2015-11-18 19:08] ctgraham commented on #890
Why force the sysadmin to manually create the file?  One of my proposed changes is to [automatically create the file if needed](https://github.com/ulsdevteam/ojs/commit/e809b7f554bc92ae7e10d951555a99555e0ac197#diff-8fa6ae6b02bb4af0936e0e2e94c6afdcR233).  This could even have a restrictive `umask` statement to ensure readability only to the web user, which might enhance the data privacy.

[2015-11-18 19:25] beghelli commented on #890
My concern is just to avoid journal managers being able to change this, but I think that's a site plugin already, so journal managers can't manage it.

[2015-11-18 19:26] ctgraham commented on #890
Correct.  This is a site level plugin.

[2015-11-18 19:29] nmpx commented on #904
Subsequent attempts to reproduce the error aren't panning out. Closing issue.

[2015-11-18 19:29] #904 closed

[2015-11-18 20:20] nmpx opened #905 "OJS 3.0b: Deleting Journal Error"
When deleting journals, once you hit 'ok', nothing happens. However, after you refresh the page, you see that the journal's associated data has been deleted, but not the journal itself. Renamed to 'untitled'.

See screencast: https://youtu.be/l9trNfoYgEY

From the error log:

[code]

[2015-11-18 22:01] asmecher commented on #905
Thanks, @nmpx -- I've committed a change that should fix this.

[2015-11-18 22:01] #905 closed

[2015-11-18 22:42] asmecher commented on #902
@nmpx, can you check whether the following line exists in `locale/en_US/locale.xml`?

    <message key="plugins.categories.viewableFiles">Article Galley Plugins</message>

[2015-11-18 22:43] asmecher commented on #903
@NateWr, I think you were working on this recently.

[2015-11-19 07:58] NateWr commented on #903
@asmecher OJS is out-of-sync with a few of the recent frontend changes. Should get cleaned up once we polish off the OMP frontend.

[2015-11-19 14:14] nmpx commented on #905
The change works and delete journals functions as expected.

[2015-11-19 14:42] ctgraham opened #906 "The username must contain only lowercase letters, numbers, and hyphens/underscores."
What is driving the requirement that "The username must contain only lowercase letters, numbers, and hyphens/underscores."?

With Shibboleth authentication, the best practice username would be a scoped attribute, eg. user@institution-scope (usually this is just an email address).

Are there any known dependencies that will break if we loosen the username validation?

[2015-11-19 14:58] nmpx commented on #902
Yes, that line is there.

[2015-11-19 15:38] nmpx commented on #868
Ok. I finally have the PHP error logs for the above:

[code]

[2015-11-19 15:44] nmpx opened #907 "OJS 3.0b2: Switching between journals removes front page theme/styling"
When I try to switch between journals using the 'switch journals' option in the sidebar, the first journal on the list has the expected theme. However, if I click on other journals, there is no styling (it looks like the theme failed to load).

See screencast: https://youtu.be/W0K1jtX3bHo

No PHP errors and this is my apache log:

[code]

[2015-11-19 15:52] mxbees opened #908 "OJS 3.0b2: Enabling Announcement feed plugin causes plugin page to eternally load"
On a newly created journal, if you enable the announcement feed plugin (and only that one), trying to access the plugin page/tab again gets you the eternally loading circle of doom.

php log:

    [Thu Nov 19 10:44:28.760645 2015] [:error] [pid 2354] [client 10.0.2.2:43260] PHP Fatal error:  Declaration of AnnouncementFeedGatewayPlugin::fetch() must be compatible with GatewayPlugin::fetch($args, $

[2015-11-19 16:16] nmpx opened #909 "OJS 3.0b2: Required fields without asterisks"
In the Journal Setting, under the contact tab, it shows that only two fields are required as denoted by the \* adjacent to the label.

However, both the name and email for the technical contact are actually required, but do not have an adjacent \* to mark this. Basically, its confusing.

![bug10](https://cloud.githubusercontent.com/assets/5183702/11276179/f610e7c4-8eae-11e5-938b-6c1035653f9e.png)

[2015-11-19 16:32] asmecher commented on #905
Great, thanks!

[2015-11-19 16:33] asmecher commented on #906
No, nothing should depend on the username having specific content. FWIW, we might also reconsider our separation of usernames and emails; I've fought against this before but I'll concede that I find that approach useful.

[2015-11-19 16:33] asmecher commented on #902
Hmm, maybe there are some outdated cache files? Try deleting `cache/*.php` from your install and see if that changes it.

[2015-11-19 17:35] nmpx commented on #902
I just cleared the cache and it remains.

[2015-11-19 18:33] nmpx opened #910 "OJS 3.0b2: UI problem with 'switch journals'"
When in the administrative backend, there is an option in the left sidebar to 'switch journals' (which I think is a great idea, btw).

I guess my problem with how this works is that it takes you to the front page of the journal, rather than the dashboard. I find this behaviour counter-intuitive.

Expected behaviour: that switching journals in the admin backend would take you to the dashboard of th

[2015-11-19 18:38] nmpx commented on #910
Update: Also just noticed that the menu, if you have too many journals, that it only shows four with no discernible way to access the other journals.

[2015-11-19 18:49] mxbees opened #911 "OJS 3.0b2: Multi-language journal creation glitch"
When creating a new journal, if you have more than one language enabled, you see each field in both English and French (in this particular case) for the title. Once you fill this in, when you click on the journal description you get this screen:
![bug11_01](https://cloud.githubusercontent.com/assets/5183702/11280454/1b6ae01e-8ec4-11e5-8918-9ed833a72a87.png)
The problem, is that after you've entere

[2015-11-19 19:08] nmpx opened #912 "OJS 3.0b2: Settings wizard navigation"
In the settings wizard, the various settings are presented in a tabular view. However, clicking on a tab does not switch to that tab. Because of this (or in addition) it might be useful to have a 'back' button on top of 'continue'.

[2015-11-19 19:09] nmpx commented on #903
I grabbed the php errors for this, in case it is useful.
[code]

[2015-11-20 19:34] asmecher commented on #910
@NateWr, the "Switch Journals" sidebar extends below the bottom of the screen when the list of journals is long.

As for having it take users between similar pages on different journals, we'd need to consider cases where the user doesn't have access to that area, which will be common. I'd suggest always presenting the list of journals, but if the user doesn't have access, the resulting page bounce

[2015-11-20 19:36] asmecher commented on #911
The way we do multilingual inputs is this: normally the field is presented in the main language, but when you enter that field, several languages may be presented for entering. @nmpx, try clicking outside the field before trying to save the form. Clicking outside the fields collapses the set back down to just the main language.

@NateWr, perhaps we could use a UI clue to make this clearer.

[2015-11-20 21:48] asmecher commented on #907
@nmpx, can you check the source code for the page with the missing style to see if he following line shows up?

    <link rel="stylesheet" href="http://(something)/index.php/(something else)/$$$call$$$/page/page/css?name=defaultthemeplugin" type="text/css" />

If it does, what do you get when you get when you navigate to that URL? (Note the two placeholders.)

[2015-11-20 22:46] asmecher commented on #908
Yes, this plugin still needs rewriting. I'll schedule it for OJS 3.0 and give it some attention after the front-end has been synced up.

[2015-11-20 23:01] asmecher commented on #909
Fixed, thanks!

[2015-11-20 23:01] #909 closed

[2015-11-23 12:56] felixgruender opened #914 "OJS 3.0b1: OAI interface doesn't work"
In OJS3 beta, the OAI interface is broken. As far as I've seen, the reason for this is that the functions "getFileType()" and "getFilePath()" are called on an ArticleGalley object.
In OJS 2.x, that's no problem as the functions of parent classes are called (PKPFile::getFileType() and ArticleFile::getFilePath()).
But in OJS 3, the inheritance schema is different (ArticleGalley extends Representatio

[2015-11-23 14:18] NateWr opened #915 "Bring OJS master up-to-date with latest frontend changes"
This issue tracks tasks required to bring the OJS frontend up-to-date with changes for OMP. #836

- [ ] OJS logo displayed on homepage even if journal title specified under Settings > Website > Appearance. Journal::getLocalizedPageHeaderTitle() looks for separate homepage/other page logos that don't exist in settings anymore.
- [x] Fix primary nav menu issues [see PR](https://github.com/pkp/omp/pu

[2015-11-23 17:45] asmecher commented on #914
@felixgruender, you're right. We changed the mapping between files and galleys to support multiple files per galley, but haven't updated the OAI classes to suit that yet. A similar change is already in place for the OMP OAI interface, so we'll probably work with that.

[2015-11-23 17:52] asmecher opened #917 "Update references to Codehaus"
The Lucene plugin refers to codehaus.org, which has been shut down. Update the documentation.

[2015-11-23 18:28] samueloph opened #918 "[OJS]NativeImportExportPlugin accepts malformed xml"
The NativeImportExportPlugin currently accepts articles without abstract, and abstract is a required field in the submission templates (and the edit ones).

This causes some stranges situations where articles's titles are showed as a text (without link to the abstract/pdf) and blocks the edition of the article until somebody set ups an abstract.

Is this the right behaviour?

[2015-11-23 19:01] gpieri opened #919 "[OJS] Notify users fails when notifying "All published authors""
Editor can't notify "All published authors" of a new published issue.

The request fails with an Internal Server error because Authors don't have a getDisabled() function.

[2015-11-23 20:46] asmecher commented on #918
It's possible for abstracts to be optional, if the section is flagged as "abstracts not required". So strictly speaking, the XML isn't invalid; it depends on the system's section configuration.

[2015-11-23 22:41] #918 closed

[2015-11-23 22:43] samueloph commented on #918
Oh, sorry, my boss asked me about this "issue" and I'm not familair enough with OJS on the user side to know this. Gonna double my attention next time.
Thanks.

[2015-11-23 22:56] asmecher commented on #918
Not to worry -- there are a ton of options and it's easy to overlook one.

[2015-11-24 00:14] asmecher commented on #919
Merged and cherry-picked to `ojs-dev-2_4`. Thanks as always, @gpieri!

[2015-11-24 12:34] NateWr opened #921 "OMP backend nav doesn't include link to View Site"

[2015-11-24 16:13] #821 closed

[2015-11-24 17:49] asmecher commented on #902
Hi @nmpx,

Hmm, strange -- I haven't been able to duplicate that behavior here. Could you send me a database dump, and the URL (everything after the "index.php" part) that you're seeing this on?

[2015-11-24 22:52] asmecher commented on #627
There already was a warning -- but I've improved the coding.

[2015-11-24 22:52] #627 closed

[2015-11-25 01:52] asmecher commented on #750
I opted to leave the password variable as an option. Otherwise we'd have to parse through and modify email templates for existing users; I see no harm in supporting emailed password for users of legacy email templates.

[2015-11-25 01:52] #750 closed

[2015-11-25 11:17] NateWr opened #923 "[UI] Backend buttons do not support text wrapping"
This is an issue across the backend. Screenshot in [this issue](https://github.com/UB-Heidelberg/omp/issues/36#issuecomment-159398976) filed by Heidelberg.

[2015-11-25 14:39] #836 closed

[2015-11-25 14:39] NateWr opened #924 "Browse block plugin always displays labels"
Categories (and maybe Series) label appears in the browse block even if no categories exist.

[2015-11-25 14:40] NateWr opened #925 "[UI] File download display on frontend"
Float alignment issue

![float-alignment-issue-omp](https://cloud.githubusercontent.com/assets/2306629/11399975/71be6522-9382-11e5-8f5f-111114ae26aa.png)

[2015-11-25 14:47] NateWr commented on #925
The section which displays pub IDs displays even though it's got nothing to display.

![pubids-empty](https://cloud.githubusercontent.com/assets/2306629/11400127/65c0c250-9383-11e5-9c9a-547c6cccabc3.png)

[2015-11-25 17:06] nmpx commented on #911
I did eventually discover this. I doubt that I'd be the only person hitting 'save' once all the visible fields are filled in, so some sort of contextual clue would be helpful.

[2015-11-25 17:39] nmpx commented on #902
Sure. Here's the URL part: /test3/management/settings/website

and the database dump:

[xnmp_data-dump.txt](https://github.com/pkp/pkp-lib/files/44139/xnmp_data-dump.txt)

[2015-11-25 17:42] nmpx commented on #907
I'm not seeing the line in the source for the page.

[2015-11-25 19:33] nmpx opened #927 "OJS 3.0b2: Slight textual error in the Native XML Plugin"
The text reads:

I'm guessing the OMP should be OJS.

Honestly, just logging this so it isn't forgotten when this is put into production.

![bug12](https://cloud.githubusercontent.com/assets/5183702/11407544/7a1d45b8-9381-11e5-829c-3490f9160f3c.png)

[2015-11-26 23:23] asmecher commented on #902
Hmm, I still can't replicate this behavior. Just in case of a git problem, try...

    cd lib/pkp
    git checkout master
    git pull
    cd ../..
    git checkout master
    git pull

Then flush your cache:

    rm -f cache/*.php

Then try loading the page again.

[2015-11-26 23:27] asmecher commented on #907
Were you having trouble with journal creation when the problem journal was created? If so, it's possible that the journal wasn't configured to use the default theme plugin when it was created. It seems like that journal doesn't have a theme chosen. If it's possible to navigate, try going into the Appearance settings area, choosing the default theme, then saving the settings.

[2015-11-26 23:51] asmecher commented on #927
Fixed, thanks!

[2015-11-26 23:51] #927 closed

[2015-11-26 23:55] asmecher commented on #836
That was a big one! Congrats.

[2015-11-27 00:29] #875 closed

[2015-11-27 15:54] infotegra opened #928 "[OHS] error"
Hello
I have installed the latest OHS version 2.3.2, but I always presents this error in the log / s:

 harvester2 has produced an error\n  Message: WARNING: Invalid argument supplied for foreach()\n  In file: /var/www/html/ohs/lib/pkp/classes/i18n/PKPLocale.inc.php\n  At line: 138

I have also blank page with Reading Tools (rtadmin) and not recorded in the log

I am installing the ohs on centos 7

[2015-11-27 16:21] asmecher commented on #928
Hi @infotegra -- someone will respond to your query on the forum:
http://forum.pkp.sfu.ca/t/error-ohs-2-3-2-pkplocale-inc-php-line-138/5400

Please only use one means to contact us; otherwise it clutters our systems.

[2015-11-27 16:21] #928 closed

[2015-11-27 16:33] asmecher opened #929 "Fix user URL field on author details form"
See http://forum.pkp.sfu.ca/t/omp-bug-with-userurl/5396

[2015-11-27 16:38] asmecher commented on #929
Patch for OMP 1.1.1: https://github.com/pkp/pkp-lib/commit/fa17d3290d9a81b3111448b4697fa397a2e02e56.diff

[2015-11-27 16:38] #929 closed

[2015-11-28 01:04] asmecher commented on #561
Ported to OMP.

[2015-11-28 01:04] #561 closed

[2015-11-30 11:52] NateWr opened #931 "[UI] Remove author spotlight stuff from frontend templates"
There's still some lingering code in `/templates/frontend/components/spotlights.tpl` and maybe the spotlight object template.

[2015-11-30 11:56] NateWr opened #932 "[UI] Make grid row dropdown caret styles generalisable and accessible"
The dropdown caret for grid rows with actions has a couple of problems that need to be sorted.

- It's too small on some screens. Some people don't see it as a dropdown caret.
- It needs an actual element (rather than :psuedo element) in order to be focusable and therefore accessible to keyboard users.
- Right now we have to position it and the other content in the grid awkwardly using over-prescr

[2015-11-30 12:05] NateWr commented on #911
Yeah the localisation popovers are a handy technique, but they will result in these kinds of confusing moments. I don't have any great ideas for solving multilingual input at this time and I think the downsides of the current method are small enough that it doesn't really justify a major re-engineering of the technique for now.

Perhaps one thing we could try is simply disabling the save button as

[2015-11-30 13:48] NateWr opened #933 "[UI] pnotify panels are covered up by modal screens"
pnotify panels need their `z-index` increased so they appear above the modal background screens.

[2015-11-30 14:56] NateWr opened #934 "[UI] Book chapters need work on monography_full.tpl"
Demo contents books with chapters:

The ABCs of Human Survival
Northern Rover: The Life Story of Olaf Hanson

[2015-11-30 16:06] ctgraham opened #935 "Poor SQL performance for ReviewFormDAO::getActiveByAssocId()"
When testing access to editing a Journal Section in OJS 2.4, I'm finding slow performance on the query in `ReviewFormDAO::getActiveByAssocId()`.

In a sample with 37 review_forms records and 12,133 review_assignments records, on MySQL 5.1, the [as-is query with two LEFT JOINS](https://github.com/pkp/pkp-lib/blob/ojs-dev-2_4/classes/reviewForm/ReviewFormDAO.inc.php#L279-L292) runs for 1:18.93.

A m

[2015-11-30 17:05] asmecher commented on #935
@ctgraham, reviewing the SQL and this change looks good to me.

Both formulations work in PostgreSQL (testing for syntax, not for correct results).

Personally I try to avoid subqueries but I suspect that's a historical aversion and no longer relevant.

[2015-11-30 20:42] ctgraham commented on #935
One potential problem with subqueries is that MySQL and Postgres differ on whether `NOT IN (NULL)` is true or false/undefined.  That oddity is still relevant, to my knowledge.

Since I see multiple other instances of double `LEFT JOIN`s in this file, some of which depend on a negative match, I suggest `EXISTS` / `NOT EXISTS` to the rescue.  Hopefully this is as efficient in Postgres as it is in My

[2015-11-30 21:14] ctgraham commented on #935
Hmmmm... I'm pretty sure the original lines in question are completely spurious.  `SELECT a.* FROM a LEFT OUTER b LEFT OUTER c WHERE a.* GROUP BY a.*` is effectively a very slow `SELECT a.* FROM a WHERE a.*`

[2015-11-30 21:44] asmecher opened #936 "Update country codes"
These need updating. See: forum.pkp.sfu.ca/t/fixed-bug-in-contry-code-for-serbia/5334/5

[2015-11-30 21:50] asmecher commented on #936
@mtub, could you look at this pull request?
https://github.com/pkp/pkp-lib/pull/937

[2015-11-30 22:55] asmecher commented on #935
Huh. Yep, you're right -- and that explains why the query was so poorly-performed.

[2015-12-01 16:59] asmecher opened #938 "Check dashboard access to assigned submissions for SEs"
Check e.g. dbuskins' access to assigned submissions, e.g. fperini and dbernnard.

[2015-12-01 20:04] mfelczak opened #939 "[OHS] Submitter archive update produces 404"
After editing an archive ...

[2015-12-01 22:16] asmecher opened #940 "Sample issue"
(Demonstration issue, please ignore)

I spotted this:

- [x] xyz is broken
- [ ] abc is broken
- [ ] also tuv

[2015-12-01 22:16] asmecher commented on #940
I think xyz is supposed to work that way.

[2015-12-01 22:18] #940 closed

[2015-12-01 22:19] jalperin commented on #940
no way! xyz is supposed to work this way, not that way!

[2015-12-02 05:52] asmecher commented on #940
^ @willinsky, this is roughly what you predicted.

[2015-12-02 06:19] #939 closed

[2015-12-02 06:58] willinsky opened #941 "UI Design Suggestions: Dashboard"
- [x] “My Authored” might be better as third in this list. It is very much the least likely to be used, and hits one with this blank space that says you haven’t authored anything! Having Unassigned at the top is a reminder or reassurance that is in hand.
- [ ] I think we can title our pages with more precision. I’d propose “Editorial Dashboard” rather than generic dashboard, and as we have other d

[2015-12-02 07:02] willinsky opened #942 "UI Design Suggestions: Submission and Review"
- [ ] I think we should standardize page titles (as I suggested Editorial Dashboard above) and Editorial Workflow for this page, placed above the submission title (even as I regret adding a line to a page). We already have this working well with other pages we have such Press Settings, which has the precision and press-specific nature I’m looking for.
- [ ] The right-hand buttons. Some colored and

[2015-12-02 07:11] willinsky opened #943 "UI Design Suggestions: Editorial Stage"
- [ ] Having the links for the linked Catalog Entry, etc. appear in a different place depending on how many authors, and as if it followed from the authors, leads to ask whether that set of links can always be right-justified on the line with the authors, and if not then I’d be tempted to set aside my desire to reduce lines by suggesting it be right justified on its own line, below the authors, an

[2015-12-02 07:16] willinsky opened #944 "UI Design Suggestions: Production"
- [ ] Having both Upload Files and Select Files gives one pause. Elsewhere, we combine them Upload/Select Files. But we might just include Upload Files in Select Files, as Select files is the broader concept, by having, once you open it a “Select a file in this workflow” and “Upload a file.”
- [ ] Inconsistent use of capitals, re “Add publication format” vs. “Add DIscussion,” with the former prefe

[2015-12-02 07:18] willinsky opened #945 "UI Design Suggestions: Add Participant and Upload"
- [ ] Add title “Notify the Participant” above “Choose a predefined…”
- [ ] Can there be an option not to notify the Participant (may be self or standing beside one)?

![screen shot 2015-12-01 at 11 17 21 pm](https://cloud.githubusercontent.com/assets/10342108/11524689/b34f0718-9881-11e5-8b11-4a99b04e0168.png)

- [ ] At this point, it is not clear why there is a very loud Stop Upload button and a

[2015-12-02 07:23] willinsky commented on #940
hoping to do better
John

On Dec 1, 2015, at 9:52 PM, Alec Smecher <notifications@github.com<mailto:notifications@github.com>> wrote:

^ @willinsky<https://github.com/willinsky>, this is roughly what you predicted.

—
Reply to this email directly or view it on GitHub<https://github.com/pkp/pkp-lib/issues/940#issuecomment-161188526>.

[2015-12-02 15:09] nmpx commented on #911
I can see the reasoning behind this, since it is a rather small UI issue. Disabling the save button unless all required fields might work. Although, I can see that being as confusing for people as the other.

As it stands, the error will pop up after you hit save and the UI will inform you that you missed a field.

If there isn't a quick/easy way to address this, then leaving as it is might be the

[2015-12-02 15:20] nmpx commented on #902
Did above and, yup, still there.

Um. I guess if you can't replicate it I'll close this for now since it might just be me.

Alternatively, I have this in a vagrant box and could export the machine and send that to you, if you think it'll help.

[2015-12-02 15:29] nmpx commented on #907
Okay, after playing around, I figured how how, exactly, I made this happen.

I wasn't having trouble making the journals, however, this error pops up if you create a new journal but skip the wizard (by closing it as soon as it comes up). Which would make sense as to why there isn't a theme associated...

[2015-12-02 16:40] asmecher commented on #902
@nmpx, yes, a Vagrant image would be helpful, thanks! I'll leave this open until we've figured that angle out.

[2015-12-02 17:03] asmecher commented on #907
Ah, good spotting. I've added a default setting that should cover this case.

[2015-12-02 17:03] #907 closed

[2015-12-02 17:39] nmpx commented on #902
Ok! Here it is:

http//f.nmp.pw/nmpx-ojs3b-testing.box

Let me know if you have problems downloading it.

[2015-12-02 18:18] mfelczak opened #946 "[OHS] Archive and record counts should exclude disabled archives"

[2015-12-02 18:19] mfelczak commented on #946
... on publicly accessible pages

[2015-12-02 19:10] asmecher commented on #938
Tested -- works OK.

[2015-12-02 19:10] #938 closed

[2015-12-04 13:32] ctgraham opened #947 "Use of proxy settings is not consistent"
In OJS 2.x, config.inc.php defines proxy settings for remote URL calls.
https://github.com/pkp/ojs/blob/ojs-dev-2_4/config.TEMPLATE.inc.php#L469-L482

These settings are used in the FileWrapper classes [HTTPFileWrapper](https://github.com/pkp/pkp-lib/blob/ojs-dev-2_4/classes/file/wrappers/HTTPFileWrapper.inc.php) and [HTTPSFileWrapper](https://github.com/pkp/pkp-lib/blob/ojs-dev-2_4/classes/file/w

[2015-12-04 16:57] asmecher commented on #946
Did this get a PR? I don't see one, but I might've missed it.

[2015-12-04 16:57] asmecher commented on #946
Ah: https://github.com/pkp/harvester/pull/4

[2015-12-04 17:24] mjordan opened #948 "Improve check for Archive_Tar in the PKP PLN plugin"
We should improve how the PKP PLN plugin handles problems with the Archive_Tar extension (see [this issue](http://forum.pkp.sfu.ca/t/ojs-2-4-6-lockss-plugin-blank-pages/4346/7) on the forum, for example) so that its absence from OJS's include path doesn't result in a WSOD on the plugin manager page. @asmecher can you advise on the best way to handle this? Tagging @ubermichael.

[2015-12-04 17:32] mjordan commented on #948
We should also consider checking for other dependencies as per http://forum.pkp.sfu.ca/t/error-404-on-my-ojs/4764/16.

[2015-12-04 20:21] asmecher commented on #902
Hi @nmpx -- I finally tracked this down. I was looking in the wrong place.
I've fixed it now: https://github.com/pkp/pkp-lib/commit/8245a43661805acac139c9ad804e00a10c7cd024

Thanks for your persistence!

[2015-12-04 20:21] #902 closed

[2015-12-04 23:52] asmecher commented on #945
The file uploader related stuff is already (at least mostly) filed here:
https://github.com/pkp/pkp-lib/issues/609

Long story short, we're using a multiple-file uploader control when we should be using a single-file uploader. The mismatch is confusing to users.

[2015-12-04 23:55] asmecher commented on #941
John, to your last point, if you scroll the list to the bottom, it should load more entries. (This is becoming a reasonably standard approach for accessing long lists in web apps.)

[2015-12-04 23:59] asmecher commented on #948
Two possible approaches to avoiding breakage from missing dependencies:

- Check for the existence of the class before permitting the user to enable the plugin. (`class_exists` or similar)
- Only import the class just before it's required, not at the head of a file. In the case that the class is missing and the plugin is enabled, this will mean the whole site won't get broken (in the case of a gen

[2015-12-05 06:26] willinsky commented on #941
Then perhaps it is not working, as I did scroll down to the bottom again to no effect.

[2015-12-07 20:36] asmecher commented on #948
Looks good -- merged the PR.

[2015-12-07 20:36] #948 closed

[2015-12-08 15:34] NateWr opened #949 "Can't login as user"
The button in the confirmation modal that pops up when trying to login as a user doesn't do anything. There's no JS error in the console.

[2015-12-08 15:43] NateWr opened #950 "[UI] New submission button is unclear in multi-journal/press context"
![new-submission-multi-context](https://cloud.githubusercontent.com/assets/2306629/11659845/39c45542-9dc2-11e5-80db-b1e4b8cd3ec4.png)

1. No indication that you're starting a new submission.
2. Select dropdowns that take action when an option is selected are not accessible, because keyboard users can not access options beyond the first.

@asmecher Would it be terrible if we just required people to

[2015-12-08 15:52] NateWr commented on #910
I've updated the *Switch Journals* link ([commit](https://github.com/NateWr/pkp-lib/commit/b482eb6ad9994f021f1429a350e77d5968f2fe62)) so that it points to the backend dashboard on each journal's site. That makes more sense so we're not switching backend-to-frontend.

Working on the links opening off-canvas now.

[2015-12-08 17:09] NateWr commented on #910
[Now](https://github.com/NateWr/pkp-lib/commit/705a6451b7eabe84805c1433600eee4262c9af16) menus won't stray off-screen. Woot!

![long-nav-menus](https://cloud.githubusercontent.com/assets/2306629/11662403/5abdd5e6-9dce-11e5-8ec6-a2004d8a4848.gif)

[2015-12-08 17:15] NateWr commented on #921
Address by [this PR](https://github.com/pkp/pkp-lib/pull/951)

[2015-12-08 17:15] #921 closed

[2015-12-08 17:15] NateWr commented on #910
[PR here](https://github.com/pkp/pkp-lib/pull/951)

[2015-12-08 17:15] #910 closed

[2015-12-08 17:16] NateWr commented on #878
Address in [this PR](https://github.com/pkp/pkp-lib/pull/951).

[2015-12-08 17:16] #878 closed

[2015-12-08 18:38] asmecher commented on #950
@NateWr, we originally planned for the dashboard to be journal (context) agnostic, i.e. not to care whether or not you were in a specific context. When in the "index" context, the dashboard was to list all submissions, regardless of press or journal. But I don't think that approach has been well maintained, and might not be advisable anyway -- mixing submissions from different presses/journals is

[2015-12-08 22:09] NateWr opened #952 "[UI] Grid cell content in labels leads to bold text"
My next grid discovery project: some grid content is wrapped in a `<span class="label"></span>`. This leads it to be displayed as bold.

![grid-cell-content-in-label](https://cloud.githubusercontent.com/assets/2306629/11670150/38661588-9df8-11e5-875a-c88e56052c64.png)

The `.label` is used for file ids, but it's not clear why this other content has label. It'd be best to find and remove that at it

[2015-12-08 22:16] NateWr commented on #844
I'd recommend just hiding the order button if the grid is empty, if that's an easy thing to do. Happy to take a look at it.

[2015-12-09 18:57] #680 closed

[2015-12-09 19:39] NateWr commented on #941
@willinsky Regarding “Editorial Dashboard”: what are the other dashboards we have?

[2015-12-09 19:58] NateWr commented on #942
- "Editorial Workflow": it's not clear to me what problem this is supposed to solve. We're in the context of a submission, not just an editorial workflow. Marketing materials, galley production all takes place here.  I'm not in favor of changing this (which would actually break consistency with the design on other pages) unless user tests suggest there is some confusion happening here that needs t

[2015-12-09 20:11] NateWr commented on #944
- Upload/Select files: I'd like to switch to "Add File" throughout if this won't cause any problems.
- Notifications (the box with the info circle): These are supposed to be alerts that tell the person what to do next. I don't think they do their job very well and they've often left me more confused. I don't know what to do with them, but if we use them, they need to be stand out. If we're adjusti

[2015-12-09 22:21] willinsky commented on #941
Yes, you are right, we have no other "Dashboard" per se. My thinking: we have "Website Settings," "Press Settings," etc., that refer to the domain to which they apply, while Dashboard does not. And they have tabs and settings, and look much like the dashboard, apart from the submissions. I understand that we have multiple settings and thus need to identify them further and only one dashboard, but

[2015-12-09 22:42] willinsky commented on #942
The "Editorial Workflow" describes the activity the page is concerned with, and does, I think, apply to all 4 tabs, while the title of the submission is not the title of the page in that sense, and in the way that other titles of the pages operate, and which we can consistently present graphically.

[2015-12-10 06:05] asmecher commented on #932
@NateWr, I've cherry-picked the commits (both pkp-lib and omp) and fixed some of the wait conditions that were causing the tests to fail.

@willinsky, I think the points at the start of this entry address some of the things you'd identified in your postings?

[2015-12-10 06:05] #932 closed

[2015-12-10 06:40] asmecher commented on #949
Fixed, thanks!

[2015-12-10 06:40] #949 closed

[2015-12-10 06:48] asmecher opened #953 "Add ability to save metadata without completing submission"
Step 3 of the author's submission process ends with the "Finish" button, which completes the submission. Users might want to enter the cataloging metadata and save it without formally completing the submission, allowing them to return later when they're ready.

[2015-12-10 09:14] NateWr opened #954 "No stylesheet loaded on frontend when not in press context and logged out"
This seems to only effect multi-press contexts. If you go straight to index.php, there will be no press context and it will prompt you to login. No stylesheet is getting loaded. Once logged in, it directs to a press and the stylesheet loads.

[2015-12-10 09:34] NateWr commented on #942
I disagree.

Page titles are not there merely to describe the page content. They are primarily there to track position within the system. On all pages in the admin panel, page titles correspond to items in the navigation menu. "Press Settings" is a clue to finding your way back to the page via the navigation menu.

There is no link to "Editorial Workflow" nor would it be possible for us to create

[2015-12-10 09:35] NateWr commented on #942
If my assertions are wrong on this account, this will be clear in user testing and we'll have reasonable data on which to solve the problem.

[2015-12-10 10:06] NateWr commented on #941
The size of the grid row toggle caret (>) was increased in 99beb0ca3807232042dfeb23e1a8d899ccb51dbe.

[2015-12-10 10:10] NateWr opened #955 "[UI] Improvement to grids with scroll-for-more-results"
Several of the grids no longer reveal more on scroll, likely due to style adjustments I made a while ago. We need to check each grid and ensure it actually works as intended.

Also, the feature is nice, but not initially intuitive. Usually endless scrolling occurs when the component is the primary or sole content on the page, and happens naturally during browser scroll. I think we should consider

[2015-12-10 10:11] NateWr commented on #941
I've filed a specific issue on the grid scroll-for-more stuff. #955.

[2015-12-10 11:50] NateWr opened #958 "[UI] Display of identifiers on frontend needs to be looked at"
The section which displays pub IDs displays even though it's got nothing to display.

![pubids-empty](https://cloud.githubusercontent.com/assets/2306629/11400127/65c0c250-9383-11e5-9c9a-547c6cccabc3.png)

I may need a bit of a briefing on identifiers to figure out how the data is structured and we want it to display.

[2015-12-10 11:50] NateWr commented on #925
The second part of this ticket about DOIs and identifiers has it's own ticket now. #958

[2015-12-10 14:19] ctgraham opened #959 "es_ES translation of plugins.generic.usageStats.usageStatsLoaderName seems off"
In https://github.com/pkp/ojs/blob/ojs-dev-2_4/plugins/generic/usageStats/locale/es_ES/locale.xml#L33,
plugins.generic.usageStats.usageStatsLoaderName reads like an error message, but should be the name of the process.

[2015-12-10 15:48] asmecher commented on #954
Nate, that should've been fixed by this:
https://github.com/pkp/omp/commit/a816ad768347dfab0fe07dc29b59168efa804266
...but for existing installs, you'll need to...

    insert into site_settings (locale, setting_name, setting_value, setting_type) values ('', 'themePluginPath', 'default', 'string');

[2015-12-10 15:48] #954 closed

[2015-12-10 15:49] asmecher commented on #955
@beghelli wrote the infinite scrolling; he might be able to help with debugging.

[2015-12-10 16:40] #925 closed

[2015-12-10 16:42] #923 closed

[2015-12-10 16:44] NateWr commented on #931
[PR](https://github.com/pkp/omp/pull/175)

[2015-12-10 18:17] beghelli commented on #871
Unique site id is already implemented by the usage event plugin, that's already in both OMP and OJS dev and master branches. If you had problem trying to retrieve it might be because the unique id setting is only created when the usage event plugin build an usage event. That might not happen before the VersionCheck tries to use it. Does that makes sense @asmecher ?

[2015-12-10 18:17] #931 closed

[2015-12-10 19:02] beghelli commented on #955
@NateWr @asmecher will take a quick look, it should be something simple related to the markup

[2015-12-10 19:23] asmecher commented on #871
Yes, thanks!

[2015-12-10 19:23] #871 closed

[2015-12-10 19:27] asmecher opened #960 "Consider renaming "Discussions" in workflow"
The "Discussions" tool (primarily used for Copyediting and Proofreading processes but also appearing e.g. in Submission as a pre-review tool) could use a better name.

Suggestion from @willinsky: Prefix name of stage. "Copyediting Discussion"; "Production Discussion".

Suggestions from SI: Stage Management; Production Stage Management; Process Management; Procedure Management; Administration; Exec

[2015-12-10 19:28] asmecher commented on #960
@NateWr, FYI, moved the discussion here.

Personally, I think @willinsky's suggestion is workable, but I think SI's issue was specifically with the word "Discussion", which would still be used.

[2015-12-10 19:29] asmecher commented on #958
@NateWr, remind us to talk about this on Monday.

[2015-12-10 20:33] asmecher commented on #959
(Assigning @mtub -- probably just needs bouncing off a Spanish speaker)

[2015-12-10 21:31] asmecher commented on #941
On "Dashboard" -- it's ambiguous whether this refers to the tabbed interface with the submission lists, or to the back-end homepage as a whole (with links to Administration, Setup, etc). To me, it applies to the whole backend homepage, which is more than the editorial tools. That's bolstered by the "Dashboard" link from front-end that you click to get there.

[2015-12-11 01:16] beghelli commented on #955
Discovered what it is. There used to be an height value to trigger grid scrollbar, now it seems that it is gone. If you manually change the height to something smaller than the grid actual height, the scrolling works again. I will take a look to what @NateWr changed and will try to adapt.