[2018-03-05 11:46] marcbria commented on #1921
I'm always curious about the file OJS file syntax... is there an explanation somewhere?
For instance "373-48-452-1" means:
- article ID: 373
- file ID: 452
- ...

[2018-03-05 12:04] #3436 closed

[2018-03-05 12:52] marcbria commented on #3351
@asmecher forget about the infinite loop. As bozana pointed, it was related with an issue in my DB.

BTW, issues to test are mixed in this tread. I created a titanpad to keep them sorted:
https://pad.riseup.net/p/ojs3-upgrade-integrity-checks

Extend or modify the list if you like.

[2018-03-05 15:04] #1692 closed

[2018-03-05 15:17] bozana commented on #3444
Hi @mfelczak, I cannot reproduce it at my local installations, neither using the current ojs-stable-3_1_0 branch nor master.
Is that 3.1.0.0?

[2018-03-05 15:26] mfelczak commented on #3444
Hi @bozana, yes this was for a 3.1.0.0 install -- I'll upgrade it to 3.1.0-1 and confirm whether that resolves the issue.

[2018-03-05 15:27] bozana commented on #3423
Yes, I think this is true: earlier there was a task notification, now there is no task notification.

@ajnyga and @forgive38, is then the current situation (that e-mail notification above and the review round status display on the dashboard and review page) enough?

@forgive38, yes, then it would in a certain sense solve that question in the forum... Thanks for pointing at it!

[2018-03-05 15:27] bozana commented on #3444
Great! Thanks a lot!

[2018-03-05 15:34] NateWr commented on #3356
I'm not familiar with all of the different images OJS 2.x supported. But in OJS 3 we've got two:

- An image for your logo, nameplate or other branding that's displayed on every page.
- A general image, usually expected to be a picture, for display on the homepage.

If `homeHeaderTitleImage` fits one of these roles, it should probably be migrated. If not, it probably shouldn't be.

[2018-03-05 15:39] NateWr commented on #3386
We should probably look at how @bozana did the Editorial Recommendation notifications and mimic that approach.

[2018-03-05 15:50] NateWr commented on #2612
This leans towards the requirement for tasks with due dates in https://github.com/pkp/pkp-lib/issues/1662#issuecomment-322143644. I'm all for it but we'll need due dates attached to tasks before we can make it a reality.

[2018-03-05 15:59] NateWr commented on #3429
Yeah sorry it was very bare bones because we were rushing to get it working in time for a PS journal release last year. I'll try to document a bit better.

[2018-03-05 16:08] bozana commented on #3428
I suppose this then always happens when two or more articles of the same issue are exported/registered at the same time. In this case only one XML file with one timestamp is generated and every article representation in that XML file contains journal_issue element with its DOI element. I wonder why is this happening now for the first time and not earlier, because this was always the case :-O Have

[2018-03-05 16:19] NateWr commented on #3448
The current behaviour is defined here: https://github.com/pkp/ui-library/blob/master/src/mixins/global.js#L47-L77

I'm pretty sure this is how we do the localisation consistently throughout the system, including the PHP-based translations, as well as the `getLocalized*()` methods. I'm open to reconsidering how the `__()` function works or the localized data methods, but I want to keep the JS and P

[2018-03-05 16:22] bozana commented on #3448
Submissions data has a slightly different "getLocalized" approach, I think: instead of journal primary locale the submission locale is required/considered...

[2018-03-05 16:27] Vitaliy-1 opened #3449 "Add support for SASS compilation"
Actually, as Bootstrap has switched to SCSS, I'm wondering if it makes sense to add the support for server-side compilation, just like for LESS. I will make a pull request with proposed changes. Although I'm missing there something because the code is not working as I planned.
**edit**: after some refactoring seems to work fine.

[2018-03-05 16:29] bozana commented on #3134
I believe this issue means the same: https://github.com/pkp/pkp-lib/issues/2638

[2018-03-05 16:46] ajnyga commented on #3448
That looks a lot different from this: https://github.com/pkp/pkp-lib/blob/master/classes/submission/Submission.inc.php#L140-L160

[2018-03-05 16:46] t4x0n commented on #3134
Yes @bozana,  is the same issue!

[2018-03-05 16:57] NateWr commented on #3448
You're right! Thanks both. I'll write an additional mix-in for the submission list components to localize submission data specially.

Know of any other objects with special localization rules?

[2018-03-05 17:03] ajnyga commented on #3448
I think that everything else should fall back to primary locale, but @bozana definitely has a better overall idea.

[2018-03-05 17:09] NateWr commented on #3362
Just tried to reproduce after updating things and it seems alright. Closing.

[2018-03-05 17:09] #3362 closed

[2018-03-05 17:14] pkel commented on #3202
We also have these disturbing templates appearing in some places. How can I get rid of them? I already tried to use the *Reset All Templates* button on `/management/settings/publication` > *Emails*  but they are still there.

[2018-03-05 17:37] defstat commented on #3403
@EmuAGR Any news on that?

[2018-03-05 17:46] defstat commented on #3420
@vasylOstrovskyi do you maybe want me to add the code you suggested?

[2018-03-05 17:56] EmuAGR commented on #3403
Hi, sorry for spacing out. Is there an easy way to apply all the little commits of the fix in one single patch? If there isn't, I'll do it manually.

[2018-03-05 18:04] NateWr commented on #3415
PR:
https://github.com/pkp/pkp-lib/pull/3450

OMP PR for tests and removes what seems to be an unnecessary template:
https://github.com/pkp/omp/pull/509

[2018-03-05 20:40] #3356 closed

[2018-03-05 22:11] bozana commented on #3409
@t4x0n, I think this is related to the issue above, so I will close this issue for now. Please, feel free to reopen it, if it still does not work for you after you have upgraded to OJS 3.1.1 and used "Reload defaults" for those wished languages...

[2018-03-05 22:11] #3409 closed

[2018-03-06 07:18] forgive38 commented on #3447
With ojs stable 3.1.0, I have this option at the end of tab 'Appearance'  in Website > Settings

"Lists
Limit the number of items (for example, submissions, users, or editing assignments) to show in a list before showing subsequent items in another page. Also, limit the number of links to display to subsequent pages of the list."

If I put 5 for number of list items, I have only 5 tasks displayed

[2018-03-06 08:36] forgive38 commented on #2180
Just our opinion for this: we think that just display name and not other variables like URL or DATE is ambiguous.
Perhaps one solution is to have a preview tab or a step with the mail in final form but read only and the user can confirm or go back.

Ps: I have tried the PR, see my comments.

[2018-03-06 08:56] ajnyga commented on #3423
I think that in our case the email was exactly what was requested. I just have not reached the editor again to ask for details. Originally I thought that she meant that there are no email notifications concerning reviews, but maybe there are but just the "all are in" is missing now (as it was planned).

[2018-03-06 09:48] NateWr commented on #3415
@bozana would you code review?

[2018-03-06 09:56] rcgillis commented on #3447
Thank you, Simon. But that's not what I'm referring to.  I'm referring to the "Tasks" queue at the top of the page.The list settings have no impact on that. If one of the pkp devs chime in, I can show them an example of a journal where its occurring.

[2018-03-06 10:08] NateWr commented on #3429
Addressed in https://github.com/pkp/browseBySection/commit/1cfe1f20e8c085ff29716296d60b5a7d26eb6f2c

Can you take a look @bozana and see if you can get it working with the Usage instructions?

[2018-03-06 11:02] EmuAGR commented on #3403
I replaced
 	templates/controllers/grid/navigationMenus/form/navigationMenuForm.tpl
 	templates/controllers/grid/navigationMenus/form/navigationMenuItemsForm.tpl
with the latest version from master, but the problem persists. When I save the changes made in the form, I still get a 404 error.

[2018-03-06 11:14] NateWr commented on #3448
PRs:
https://github.com/pkp/ui-library/pull/12
https://github.com/pkp/pkp-lib/pull/3453
https://github.com/pkp/ojs/pull/1865

@ajnyga this fixes the specific localization error. It also fixes the general localize method used in the new Vue.js components. They were treating empty strings as completed translations, so the usual fallback from current locale to primary locale to anything wasn't workin

[2018-03-06 11:47] bozana commented on #3429
Cool @NateWr ! Everything perfect! :-)

[2018-03-06 11:47] #3429 closed

[2018-03-06 11:58] bozana commented on #3415
Great! Thanks a lot!!!

[2018-03-06 11:58] #3415 closed

[2018-03-06 12:04] ajnyga commented on #3448
Any chance to get this to 3.1.0.1 stable?

[2018-03-06 14:07] NateWr commented on #3447
@rcgillis Am I right in thinking it's just a matter of the task list going too far, so that the buttons at the bottom are off the screen, and you can't scroll to them? Does it look like this?

![selection_076](https://user-images.githubusercontent.com/2306629/37036475-b4308ba6-2147-11e8-85d5-68b280a7b912.png)

If so I can take a look at that.

[2018-03-06 14:36] NateWr commented on #3447
PR:
https://github.com/pkp/pkp-lib/pull/3454

Tests:
https://github.com/pkp/ojs/pull/1866

[2018-03-06 14:38] NateWr commented on #3448
Tests passed. @asmecher can you code review?

@ajnyga I'll prepare some PRs for 3.1.0-1.

[2018-03-06 14:47] NateWr commented on #3258
Flagging this one up again @asmecher. Any luck on the Bugzilla archive?

I do feel pretty confident about removing this code if we can't track down the original intent. It's impact would have most likely been on the frontend where the code was rebuilt from the ground up.

[2018-03-06 14:53] NateWr commented on #3287
Sorry for the delay @defstat. This looks good! I just had the one question for Bozana about logging things during install. I'm not very familiar with our install/upgrade stuff.

Otherwise it's ready for merge. Just needs a rebase. Let me know when that's done and I can merge.

[2018-03-06 14:58] NateWr commented on #3395
Duplicate of #2617

[2018-03-06 14:58] #3395 closed

[2018-03-06 15:01] ajnyga commented on #3448
Great thanks!

[2018-03-06 15:13] NateWr commented on #1128
@mfelczak Most of these states are now displayed to an author in their submissions list. Is there anything here you'd like to keep as a feature request? If so, go ahead and add it to the project I created for the submissions list: https://github.com/pkp/pkp-lib/projects/8

[2018-03-06 15:18] NateWr commented on #372
This was implemented as part of #2894

[2018-03-06 15:18] #372 closed

[2018-03-06 15:18] NateWr commented on #2785
This was implemented as part of #2894

[2018-03-06 15:18] #2785 closed

[2018-03-06 15:21] NateWr commented on #2976
@ajnyga Just saw your codepen about the icons. What do you think about [this](https://codepen.io/natewr/pen/gvNNqm)?

[2018-03-06 15:34] MarHerUMR opened #3456 "[OJS] Open the Help menu in the settings to plugins"
I had a closer look into the _Help_ menu in the _Website Settings_. So right now on every tab of the _Website Settings_ in the upper right the _Help_ link provides the possibility to display basic help for the settings tabs. The content for this help provided from the `HelpHandler.inc.php` and is generated from Markdown files in `docs/manual/LOCALE/`.
The HelpHandler does not call any hooks, there

[2018-03-06 15:43] ajnyga commented on #2976
Good idea, if of course it seems that the icons add value to the UI. I was not too sure about that, just something that came to mind. What do you think about using the term non-blind (referring to the twitter conversation)?

This has been in stand still. Basically I have everything ready for 3.1.0.1 and almost ready version for the master branch as well but have been waiting for a conference call

[2018-03-06 16:02] bozana commented on #3287
Oh, I see my name here, but apparently I have missed something earlier, or?

[2018-03-06 16:15] NateWr commented on #3287
Referring to this comment @bozana. I just made it so you didn't miss anything. :) https://github.com/pkp/pkp-lib/pull/3382#pullrequestreview-101572949

[2018-03-06 16:17] NateWr commented on #3447
Tests passed. @asmecher can you code review?

[2018-03-06 16:27] asmecher commented on #3447
Looks good, @NateWr, please go ahead!

[2018-03-06 16:28] NateWr commented on #3418
My understanding is that competing interests are only entered when a reviewer selects a review assignment. I looked in the user profile area and couldn't see any area to input competing interests outside of a review assignment. Am I missing something?

[2018-03-06 16:29] #3447 closed

[2018-03-06 16:40] NateWr commented on #3379
PR:
https://github.com/pkp/ojs/pull/1868

[2018-03-06 17:04] NateWr commented on #3422
Confirmed with my iPad. In my case, the user is not actually assigned.

I don't have access to the console there. Do you see any messages in the browser's console?

[2018-03-06 17:33] NateWr commented on #2180
This looks really nice @defstat! I think we do need to extend it to the other forms. So right now it's working when you create a new reviewer. There's also email fields associated with selecting an existing reviewer and selecting an existing user (who isn't a reviewer). It should work for those too. Other comments:

- When switching email templates and switching back, it would be nice if the varia

[2018-03-06 17:34] NateWr commented on #2976
Which twitter conversation?

[2018-03-06 17:36] NateWr commented on #3379
Tests passed. @asmecher any objections to merge here?

[2018-03-06 17:39] asmecher commented on #3448
Thanks, @NateWr, please go ahead, though I'm still concerned that I'm not up to speed on the Vue components enough to review these properly -- not sure why I'm complaining to you about this :)

[2018-03-06 17:40] NateWr commented on #3456
I like this idea. One thing to consider is that the in-app help guide is linked together as a book with a table of contents. If plugins are able to use the help panel, I'd like them to be able to open their own book or a single markdown file if desired.

This could significantly simplify some of the plugin settings modals.

[2018-03-06 17:40] NateWr commented on #3449
PR: https://github.com/pkp/pkp-lib/pull/3451

[2018-03-06 17:42] ajnyga commented on #2976
https://twitter.com/ajnyga/status/968823360703606787

[2018-03-06 17:51] asmecher commented on #3258
@NateWr, Kurt is working to re-archive Bugzilla again, so it's temporarily back up. Here's what I was missing:

![image](https://user-images.githubusercontent.com/200411/37048426-b960b346-2122-11e8-88e6-47a6f1509b93.png)

So it looks like that line of code is related to the tag functionality we've added to TinyMCE. There's a nearby comment...

    // Show the placholder when the editor is deactiva

[2018-03-06 17:53] NateWr commented on #3404
GitHub should notify us of any dangers in a `package.json` or `composer.json` file in a project root, presuming the dependency is popular enough to be observed by GitHub.

If the git submodules are third-party, we'll need something different. But I think most of our submodules are ours, right?

[2018-03-06 17:56] NateWr commented on #3314
Is there anything here that should be filed for the future or can it be closed?

[2018-03-06 17:59] NateWr commented on #3370
This is because the templates look specifically for the keywords in the current locale.

https://github.com/pkp/ojs/blob/master/templates/frontend/objects/article_details.tpl#L128-L143

Should we instead be doing the fallback mechanism for `Submission::getLocalizedData()` which is, I believe:

1. Current locale
2. Submission locale
3. Primary locale
4. Any locale

[2018-03-06 18:02] NateWr commented on #3352
Should this be closed or should we consider some changes here?

[2018-03-06 18:04] asmecher commented on #3404
We don't use a lot of third-party submodules, but we do have in `lib/pkp`...

- `js/lib/jquery/plugins/spectrum`
- `js/lib/pnotify`
- `lib/swordappv2`

I had thought that github would warn us about `lib/pkp/composer.json`, but I didn't get any notification for https://github.com/pkp/pkp-lib/issues/3392. I wonder whether it's up to the package maintainer to flag older releases as dangerous?

[2018-03-06 18:05] asmecher commented on #3314
Closing before someone else answers this question :)

[2018-03-06 18:05] #3314 closed

[2018-03-06 18:06] asmecher commented on #3370
We don't have the `4. Any locale` fallback, and I'd argue that it would be confusing. Otherwise yes, I think you've got it (though OTOH I think we're not totally consistent on 2/3).

[2018-03-06 18:06] asmecher commented on #3352
Closing (until someone re-opens it).

[2018-03-06 18:06] #3352 closed

[2018-03-06 18:09] NateWr commented on #2976
I'm not a fan of "non-blind" because it's as ambiguous as "open" and doesn't clarify much. We could search for a word like "Identified", "Named", "Disclosed", "Visible", etc. A fully public review could be "Public".

This is the kind of thing where getting more input from practitioners is really valuable.

[2018-03-06 18:11] NateWr commented on #3370
That was what I thought too, but it appears we do:

https://github.com/pkp/pkp-lib/blob/master/classes/core/DataObject.inc.php#L61-L68

https://github.com/pkp/pkp-lib/blob/master/classes/submission/Submission.inc.php#L150-L154

[2018-03-06 18:13] NateWr commented on #3448
All merged. :+1:

[2018-03-06 18:13] #3448 closed

[2018-03-06 18:15] asmecher commented on #3379
@NateWr, this does a string concatenation (see `PKPString::concatTitleFields`) -- I wonder whether it wouldn't be a better idea to expose things in a way that would be better styled using CSS?

[2018-03-06 18:18] asmecher commented on #3370
Huh, right you are. OK, let's stay consistent for now; it's not something we've received feedback about either way.

[2018-03-06 18:58] asmecher commented on #3418
Ah, this clears up my misunderstanding.

We currently have two roles for competing interests declarations:
- When an author submits a submission, they can declare one
- When a reviewer accepts a review, they can declare one

I had thought that we supported another option: a reviewer could declare one in their user account, and the editor could see it during the reviewer selection process. We don't

[2018-03-06 18:58] #3418 closed

[2018-03-06 19:05] asmecher commented on #3202
@pkel, I'd suggest checking the `email_templates_default` and `email_templates_default_data` tables for them, and removing what you don't want. (Make sure you remove them from both tables -- look in `email_templates_default_data` first, identify the email key there, and then remove from `email_templates_default`.)

[2018-03-06 19:27] asmecher commented on #3435
Another option would be to try fetching a document placed inside the files directory. But my overall opinion on this is that our installation form and documentation are clear, and we don't have a huge obligation to someone who isn't reading them. It's entirely possible I'm grumpy about this subject.

[2018-03-06 19:48] ajnyga commented on #2976
I like "Disclosed", but I think that native speakers should decide.

We could of course think "open review" as an umbrella term and "Public review" and "Disclosed review" could be under it.

I agree that more input is needed. The problem is that "open review" means very different things to different people. But I also think that at some point OJS will have tools for "public review" and we can not

[2018-03-06 19:54] ajnyga commented on #3435
I agree that people should read documentation. So I am not thinking that you are obliged to add this, just that it would most likely save you a lot of time. But it is really your call. I know how to keep our installations save without it as well.

[2018-03-07 05:38] asmecher commented on #2009
No apology necessary!

[2018-03-07 05:41] asmecher commented on #2428
Ah, it sounds like there's a specific problem with that form, in that it's not correctly bouncing the data. No, I don't think a correctly-functioning bounce shouldn't violate the safety of a CSRF check -- it should just basically say "there was a problem" and present the form again with the submitted data pre-populated for review and submission. If it's a malicious attempt to trick a user into sub

[2018-03-07 09:15] martinpub commented on #3356
OK, I see. Manual upload is not ideal for a big multi-journal site, but it'll solve our problem.

[2018-03-07 09:23] bozana commented on #3418
Are here maybe reviewing interests instead of competing interests meant?

[2018-03-07 10:33] NateWr commented on #3404
It looks like GitHub only tracks Ruby and NPM dependencies: https://help.github.com/articles/about-security-alerts-for-vulnerable-dependencies/#githubs-security-alerts-for-vulnerable-dependencies

It looks like Spectrum is available as a [npm module](https://www.npmjs.com/package/spectrum-colorpicker).

pnotify is also available as a [npm module](https://www.npmjs.com/package/pnotify), but we'll h

[2018-03-07 10:38] bozana opened #3459 "sitemap fix"
Sitemap has to consider the new URLs...

s. https://forum.pkp.sfu.ca/t/error-in-sitemaps/38844/

[2018-03-07 10:47] NateWr commented on #3418
Reviewer interests are displayed during reviewer selection now.

[2018-03-07 10:57] bozana commented on #3418
As, sorry... yes... cool... then all alright... :+1:

[2018-03-07 11:52] mittinatten opened #3460 "Deduplicate email-recipients for new issue notifications"
This is a feature request based on https://forum.pkp.sfu.ca/t/ojs-3-same-email-announcement-sent-twice-to-some-users/37603

Problem: Users with several roles will sometimes get several copies of an announcement email. The list of recipients needs to be deduplicated before sending.

[2018-03-07 11:53] NateWr commented on #3379
Good idea. There isn't quite the typographic range for this to work great in the default theme but it's good to have it in place for child themes. I've made the changes now and prepared other themes for that too if you want to take another look.

Default:
![selection_080](https://user-images.githubusercontent.com/2306629/37090819-c1ca6f28-21fd-11e8-9f98-eeb26152e3e8.png)

Manuscript:
![selection_0

[2018-03-07 13:27] bozana commented on #3459
Hmmm... Now that the nav menus are dynamic, the sitemap could always change. What does this mean?

[2018-03-07 13:36] bozana commented on #3459
@NateWr or @defstat, is it possible to have other navigation menus than 'primary' and 'user', e.g. in other themes?
Is there a possibility to differentiate between the user URLs that should not be considered in the sitemap and the others, public URLs that should be considered in the sitemap?
Could a solution be to only consider the 'primary' menu in the sitemap?

[2018-03-07 14:39] bozana commented on #3459
PR:
ojs master: https://github.com/pkp/ojs/pull/1869

[2018-03-07 14:40] bozana commented on #3459
@NateWr, could you take a look at the PR above?

[2018-03-07 14:46] bozana commented on #2050
Maybe this journal option should also be considered for issue and articles display in any case? -- I.e. if there are some "published" issues and articles in such a journal (with this setting option) and if someone knows the URLs, the content is displayed...

[2018-03-07 15:21] NateWr commented on #3459
@bozana I don't think the navigation menus should be considered at all for the sitemap. An individual menu is completely arbitrary. A theme may contain several menus, and they probably won't link to everything that should be included in a sitemap. They may also contain duplicates.

Instead, I think you'll need to provide a link to every Navigation Menu Item Type. This will also catch plugins which

[2018-03-07 16:00] bozana commented on #3459
Ah, yes, I see... OK, then I will not consider nav menus but everything they consider... right?

[2018-03-07 16:01] NateWr commented on #3459
:+1:

[2018-03-07 16:50] bozana commented on #3459
@NateWr, theoretically a plugin could add any kind of menu item type, also the one that should not go to the sitemap, correct? -- Thus, maybe I should provide a hook in the sitemap function, so that plugins can add URLs there if needed?

[2018-03-07 17:04] ajnyga commented on #3422
`Error: Syntax error, unrecognized expression: #submissionEditorDecisionsDiv,#copyeditingEditorDecisionsDiv,[id^=reviewDecisionsDiv` jquery.min.js:554

[2018-03-07 17:07] NateWr commented on #3422
Bingo! Missing the closing `]` in the attribute value selector.

https://github.com/pkp/pkp-lib/blob/master/js/controllers/grid/users/stageParticipant/StageParticipantGridHandler.js#L38-L40

[2018-03-07 17:11] NateWr commented on #3459
Yeah, I can see two approaches. You could hook the [exclusions list](https://github.com/pkp/ojs/pull/1869/files#diff-010b63053d4fff74cd337439930fd590R128). Or, ideally, the whole XML output of the sitemap should be hooked if it individual nodes can be removed, so that a plugin can tailor that.

[2018-03-07 17:44] bozana commented on #3459
@NateWr, I pushed the new changes: I decoupled it form nav manu items -- I think it is not necessary? -- and provided a hook for the plugins. Then a plugin that would like to add an URL would do something like:

[code]

OK so?

[2018-03-07 19:35] mfelczak commented on #3447
@NateWr: would it be possible to please also backport this to ojs-stable-3_1_0 ?

[2018-03-08 01:42] asmecher commented on #3460
@mittinatten, is your account that received two messages listed in `notification_mail_list`? It's possible that you got a notification through the normal notification system and another through the mailing list feature -- I don't see at a glance where duplicates could be sent out otherwise.

[2018-03-08 08:20] mittinatten commented on #3460
Right, it was a new issue-notification, not an announcement per se. I think it was only editors that got two emails (most of them are reviewers and/or authors as well).

[2018-03-08 10:26] NateWr commented on #587
Could not reproduce. Presuming obsolete.

[2018-03-08 10:26] #587 closed

[2018-03-08 11:02] NateWr commented on #3459
That sounds good @bozana. I had one comment about announcements in the code and I've filed [an issue in the browseBySection plugin](https://github.com/pkp/browseBySection/issues/6) to add the URLs.

We'll also need to consider navigation menu items that use the Custom Page type. Each of these should be included. But I think otherwise we're good.

[2018-03-08 11:09] NateWr commented on #3447
@mfelczak I've merged this commit with `ojs-stable-3_1_0` now. :+1:

[2018-03-08 13:45] NateWr commented on #3287
@defstat looks like all is well with that comment. So once you rebase let me know and I can merge it.

[2018-03-08 14:07] t4x0n commented on #3422
hi @NateWr,  if I add this closing ` ] ` should work good?   or is better wait to release 3.1.1?

[2018-03-08 15:19] MarHerUMR commented on #3456
The structure of the _HelpHandler_ makes it fairly easy to add additional help chapters to the end of the toc. I played around a bit and two presentation possibilities came to my mind. Either just appending the additional help chapters to the `<ul>` (keeping it in the toc structure) or add their own list under a section heading.

![Possibility 1](https://user-images.githubusercontent.com/23074158/

[2018-03-08 15:30] bozana commented on #3459
@NateWr, thanks a lot!

I see that those custom page menu items are visible/accessible also if they are not assigned to a menu area. Is this correct/meant to be so? -- I.e. I can then just search after those items with that type for that journal and consider them, right?

I will add the URLs for each announcement and I will add the URLs in the browseBySection plugin...

[2018-03-08 15:32] NateWr commented on #3459
Yeah, every custom menu item page should be included, regardless of whether it's added to a menu or not. I think the goal is for this feature to eventually replace the Static Pages plugin. :+1:

[2018-03-08 15:33] NateWr commented on #3422
@t4x0n I think so. If you're able to test the fix for me that'd be great!

[2018-03-08 16:03] asmecher opened #3462 "Refine password element for user import (and possibly export)"
Currently there's no way to import users specifying plain-text passwords.

`lib/pkp/plugins/importexport/users/pkp-users.xsd` specifies an `encryption` attribute, but `lib/pkp/plugins/importexport/users/filter/UserXmlPKPUserFilter.inc.php` doesn't refer to it.

Refine the `password` element (and attributes) to allow clearer import/export of password data, including plain-text password imports.

[2018-03-08 16:04] asmecher commented on #3462
This is related to https://github.com/pkp/pkp-lib/issues/3261, so assigning to you, @defstat. No milestone assigned yet.

[2018-03-08 17:27] bozana commented on #3459
@NateWr, I added a new function to the NavigationMenuItemDAO, so that now there is also the pkp-lib PR. I also replaced the custom XML with standard DOM functionality. Would you like to take a new look?
#3463
pkp/ojs#1869

[2018-03-08 18:19] t4x0n commented on #3422
@NateWr is not working for me on iOS neither MacOS...  I think is another problem but I can't confirm it ... in Chrome console you can see the error too!

[2018-03-08 18:24] t4x0n commented on #3422
maybe the problem is jQuery 1.11.0... I want to try change to 1.11.3 but I am not sure about how :/

[2018-03-08 18:29] defstat commented on #3287
@NateWr PRs are rebased. Thanks!

[2018-03-08 18:30] NateWr commented on #3287
:+1: can this issue be closed?

[2018-03-08 18:42] defstat commented on #3287
@NateWr we could close it for now and see if the changes work for the users. If we have anything else to do, we could open it again, if you agree.

[2018-03-08 19:06] ajnyga commented on #3422
After adding the closing `]` I am not seeing the problem anymore. No errors with Safari 11.0.3. This is in the current master branch.

[2018-03-08 19:30] defstat commented on #3403
@EmuAGR I am not sure about the state of your code right now. Please replace the above mentioned 3 files with the originals of your code base.

Could you please tell me whether the problem happens at the site level or at the journal level?

[2018-03-08 19:39] EmuAGR commented on #3403
Returning them back to 3.1.0-1 . I have only one journal in my site, so I can't really tell.

[2018-03-08 19:53] t4x0n commented on #3422
I am trying in Safari 11.0.3 too but not with the master branch, with OJS 3.0.1-1

maybe a have troubles with my files in cache because I can't make changes... sorry I am not helping

[2018-03-08 20:08] defstat commented on #3403
@EmuAGR Thank you. Unfortunately, downloading the code from https://pkp.sfu.ca/ojs/ojs_download/ I can not reproduce the 404 error. Could you somehow send me your code base in order to try to reproduce it? You could zip the code folder from your server, and send that somehow?

[2018-03-08 20:19] mfelczak commented on #3447
Thanks @NateWr!

[2018-03-08 20:25] asmecher commented on #3460
@mittinatten, did you check if your account is listed in `notification_mail_list`?

[2018-03-08 21:27] asmecher commented on #3379
Oops, followed up on the PR rather than the issue:

[2018-03-09 00:29] asmecher commented on #520
@defstat, I added a few new comments. The necessary tweaks are minor, so please feel free to go ahead and merge once you've looked them over. Thanks!

[2018-03-09 03:39] amandastevens opened #3464 "Move Gitbooks to PKP website so they can be indexed"
-Subdomain has been created on PKP server - docs.pkp.sfu.ca.  -Write script so that books get downloaded every day.
-Create index page or website page that will list these documents.  Have subdirectory for each guide.
-Make sure it is all indexed

[2018-03-09 07:42] ajnyga commented on #3422
the js cache seems to be especially hard to empty sometimes, but disabling the minified setting usually helps.

[2018-03-09 07:43] mittinatten commented on #3460
There is only one user in that list. One of the users who got two emails has the following roles:

Name | designation
--|--
Reviewer | R
Section editor | SecE
Author | AU
Reader | Read
Journal editor | JE

The admin user (me) only got one email, and has the following roles

Name | Designation
-- | --
Journal manager | JM
Journal editor | JE

[2018-03-09 10:09] NateWr commented on #3456
That looks great @MarHerUMR! I think I prefer the version with Plugins in it's own header. Do you have a PR or work-in-progress where we can see what you're doing with this?

[2018-03-09 10:24] NateWr opened #3465 "Style the author browsing index"
There's an author index at `/search/authors`. I never knew this (:rofl:) and it hasn't been styled in any of the themes.

[2018-03-09 10:25] NateWr commented on #3465
We also need a navigation menu item type pointing to this page.

[2018-03-09 10:45] NateWr commented on #3459
Cool, just a few tiny comments. I checked the sitemap and it validated on a third-party service I found so all :+1: to merge if you want.

Related thought: should we provide a link and description of this sitemap under Settings > Distribution > Indexing? Something like:

[2018-03-09 10:51] #3287 closed

[2018-03-09 10:54] NateWr commented on #3379
Merged. :+1:

[2018-03-09 10:54] #3379 closed

[2018-03-09 13:35] bozana commented on #555
Because I have been working on the fixing the sitemap for OJS 3, s. https://github.com/pkp/pkp-lib/issues/3459, I could similarly add a sitemap to OMP now. However, if I accidentally miss an URL (because I am not aware of every one at the moment) would it be a problem?

[2018-03-09 14:01] jmacgreg commented on #555
Less of a problem than OMP not having a site map. :-)

[2018-03-09 14:09] marcbria commented on #1921
As Bozana suggested, setting revised_file_id to NULL fixed the issue and upgrade script finished it's job.
Reported as [solved] in pkp's forum.
Thanks a lot!

[2018-03-09 15:43] asmecher commented on #3465
It's essentially dead code -- the method it uses to disambiguate authors is particularly silly. Until we fix that, I wouldn't suggest spending much time on the layout or knitting it into navigation.

[2018-03-09 15:44] bozana commented on #3465
Hmmm... So maybe to exclude it from the sitemap as well?

[2018-03-09 15:45] asmecher commented on #3465
Yes, for now.

[2018-03-09 16:03] bozana opened #3467 "not approved files should be displayed on the article page"
This code line does not look if a file is viewable i.e. approved, so that those files that are not approved can still be accessed, if the terms (e.g. Open Access) is already set for them: https://github.com/pkp/omp/blob/master/pages/catalog/CatalogBookHandler.inc.php#L197. They are not displayed on the book view page, but if their URL is known, they can be downloaded.

NOTE: approvement is only an

[2018-03-09 16:03] cibita opened #3468 "[OJS]"
when I try instal ojs this happens

Errors occurred during installation
A database error has occurred: Access denied for user 'cibita'@'localhost' (using password: YES)

I tried many times please, help

[2018-03-09 16:31] asmecher commented on #3468
@cibita, the best place to get support is our support forum, http://forum.pkp.sfu.ca/ -- please search there for answers to your question, and if you don't find it, post a new topic with all available details.

[2018-03-09 16:31] #3468 closed

[2018-03-09 17:26] t4x0n commented on #3422
Yes! thanks @ajnyga it is working now! I am not seeing the problem anymore!

[2018-03-09 17:30] bozana commented on #555
This issue is closely related to the https://github.com/pkp/pkp-lib/issues/3459, so I will list all PRs here and there:
PRs:
https://github.com/pkp/pkp-lib/pull/3463
https://github.com/pkp/ojs/pull/1869
https://github.com/pkp/pkp-lib/issues/3459
https://github.com/pkp/browseBySection/pull/7

[2018-03-09 17:38] bozana commented on #3459
@NateWr, I considered all your comments: I fixed the functions parameters descriptions, added the sitemap information to the form page Settings > Distribution > Indexing, but I also introduced the sitemap for OMP, s. https://github.com/pkp/pkp-lib/issues/555, so I moved the shared code to the pkp-lib, and I removed the search/authors URL form the OJS sitemap.
Sorry that the new changes came again

[2018-03-09 18:13] bozana commented on #3467
@asmecher, OK so?

[2018-03-09 19:40] defstat commented on #3420
@NateWr
PRs
pkp-lib: #3469
OJS: pkp/ojs#1870

[2018-03-09 19:49] defstat commented on #3403
@EmuAGR If it's OK with you I am closing the issue for now, but please feel free to send me your code base in order to check the problem you are facing.

[2018-03-09 21:16] defstat commented on #520
@asmecher Tests pasted. PRs merged.

[2018-03-10 05:05] asmecher commented on #520
Thanks, @defstat!

[2018-03-12 15:01] mfelczak commented on #3444
Hi @bozana, we've upgraded the install to 3.1.0-1 and can confirm that the problem still persists. I'll email you the login details if you'd like to review the install.

[2018-03-12 15:18] mfelczak commented on #1128
Closing this issue, thanks @NateWr!

[2018-03-12 15:18] #1128 closed

[2018-03-12 16:51] asmecher commented on #3467
Let's talk about this during the meeting in a few minutes -- I think both approaches may be valid (either having approval affect ability to access the file, or having it stay irrelevant) but we'll need to be consistent between listing and allowing access.

[2018-03-12 17:36] israelcefrin commented on #3281
Hi Alec, I've suggested phar file only taking in mind memory limit setting that we could declare in one single file and not be in risk of timed out limit (I think that's the way wp-cli works).
But I also never worked with that before and think that perhaps it could bring unnecessary complexity to development.
As you suggested I will work on defining parameters and I agree that something like `tool

[2018-03-12 17:59] #3465 closed

[2018-03-12 18:50] Vitaliy-1 commented on #3449
From my point of view, apart from the commit, there is a need only to add the support for including extra SCSS files before compiling.

[2018-03-12 19:08] asmecher commented on #2112
This plugin depends on Reading Tools functionality, which has been removed.

[2018-03-12 19:08] #2112 closed

[2018-03-12 19:11] NateWr commented on #3459
No worries about the fresh PRs! I did a review of all three and tested it out in OJS. Looks good! I just had a few comments but merge when you're ready.

[2018-03-12 19:16] bozana commented on #3444
Ah, I've figured it out @mfelczak: it is because of the variables that cannot be replaced: $editorialContactName, $submissionUrl and $editorUsername. They are assigned here: https://github.com/pkp/pkp-lib/blob/master/controllers/grid/users/stageParticipant/form/PKPStageParticipantNotifyForm.inc.php#L242-L261, but only for those specific e-mail templates. I.e. the custom templates are not considere

[2018-03-12 19:19] asmecher commented on #3444
@bozana, I'm afraid I'm not following -- how is this affecting email template selection?

[2018-03-12 19:20] bozana commented on #3444
The e-mail template can be selected it is just that its body part is not displayed in the tinyMCE field. It is only not displayed when the variables cannot be replaced.

[2018-03-12 19:23] asmecher commented on #3444
Is it due to a JS or PHP error or something? Still not sure where this would be broken.

[2018-03-12 19:24] bozana commented on #3444
It is because of this code line: https://github.com/pkp/pkp-lib/blob/master/js/controllers/grid/users/stageParticipant/form/StageParticipantNotifyHandler.js#L121
Thus, maybe to just check if there are any variables before executing it?
This would lead that the variables are displayed as such...

[2018-03-12 19:27] bozana commented on #3444
Yes, this could be maybe a solution: to display the variables as variables, then the user can edit them?
But maybe there could be another solution, something like having a pool of variables user can use for custom e-mail templates and that would be replaced appropriately?

[2018-03-12 19:29] bozana commented on #3444
For now, I can add an if statement in that JS code line, if jsonDataContent.variables exist, then use that code line... ?

[2018-03-12 20:34] asmecher commented on #3444
The quickest solution would be to have the variables presented as they are. I suspect it would be pretty quick/easy to get the custom TinyMCE PKP tags plugin (`plugins/generic/tinymce/plugins/pkpTags`) to format them nicely, though we'd need to sure there was a cue to the user that we don't have a value for them.

[2018-03-12 20:54] bozana commented on #3444
Hmmm... If OK I will then just fix that code line above, add the check and then later we can see... -- I would need to take a look at those pkpTags...

[2018-03-12 21:06] asmecher commented on #3281
I think a few `ini_set` commands could be added for command-line execution in the `lib/pkp/classes/cliTool/CliTool.inc.php` parent class.

[2018-03-12 21:25] bozana commented on #3444
PRs:
pkp-lib ojs-stable-3_0_1: https://github.com/pkp/pkp-lib/pull/3470
ojs ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1873 (only submodule update)

pkp-lib master: https://github.com/pkp/pkp-lib/pull/3471
ojs master: https://github.com/pkp/ojs/pull/1874 (only submodule update)

[2018-03-12 21:25] bozana commented on #3444
@asmecher, could you take a look?

[2018-03-12 21:39] asmecher commented on #3444
Looks good, @bozana -- please go ahead.

[2018-03-12 21:54] #3459 closed

[2018-03-12 21:55] #555 closed

[2018-03-13 08:03] #3444 closed

[2018-03-13 09:37] heike-r opened #3472 "Enable editors to send custom email to all authors of a submission"
It would be useful if an editor could send an email to the submitting author and all co-authors. We would use this feature to inform authors when their article is published online. Since we use the _publish as you go_ model, the 'new issue published' notification does not suffice. Also, the discussion tool does not work for this, since I can not add co-author email addresses and these co-authors a

[2018-03-13 10:18] bozana commented on #3448
@NateWr, I just found one more place i.e. the localization for submission files: https://github.com/pkp/pkp-lib/blob/master/classes/submission/SubmissionFile.inc.php#L45.
Maybe it is not important for this issue, but just that you know... :-)

[2018-03-13 10:23] bozana commented on #3467
@asmecher, could you take a look at the PR now, after the change of the concept?

[2018-03-13 15:36] NateWr commented on #3472
This is an interesting case to keep in mind when we improve support for publish-as-you-go.

[2018-03-13 15:40] NateWr commented on #3448
Thanks @bozana, good to know!

[2018-03-13 16:01] NateWr commented on #3422
Thanks to both of you. I've confirmed the fix as well.

PR:
https://github.com/pkp/pkp-lib/pull/3473

Tests:
https://github.com/pkp/ojs/pull/1875

[2018-03-13 16:37] asmecher opened #3474 "Restrict SubmissionFileRequestedRevisionRequiredPolicy to revision files only"
Currently the `SubmissionFileRequestedRevisionRequiredPolicy` does not check what kind of file it's being applied to in the review stage. The intent of the policy is to allow the author to revise anything they want, but without a check on the file stage, this can apply to review files outside of the revisions grid. Limit it to `SUBMISSION_FILE_REVIEW_REVISION` files only.

[2018-03-13 16:38] asmecher commented on #3474
PR: https://github.com/pkp/pkp-lib/pull/3475

@bozana, could you take a quick look?

[2018-03-13 16:45] asmecher commented on #3467
This looks good, please go ahead!

[2018-03-13 16:48] #3467 closed

[2018-03-13 20:01] stranack opened #3476 "Disabled themes remain on Appearance page when disabled"
When a theme is disabled on the plugin page, it continues to show up on the Appearance tab dropdown menu. Ideally, it should no longer appear there.

[2018-03-13 20:46] asmecher opened #3477 "Permit editors to see competing interests for declining reviewers"
From Laval:

If reviewers are declining requests because of competing interests, it would be nice for the editor to be able to see the statement. Currently reviewer competing interests are only shown with the completed review.

[2018-03-14 07:50] Vitaliy-1 commented on #3476
We need simply put this line: https://github.com/pkp/pkp-lib/blob/master/controllers/tab/settings/appearance/form/PKPAppearanceForm.inc.php#L110
into an `if` condition:
something like:
[code]

[2018-03-14 09:54] pkel commented on #3202
@asmecher, the `_default` templates where fine, but I found 37 entries in `email_templates` while `email_templates_data` was empty. There might be an error with ojs2 -> 3 migration or the *Reset All Templates* function. I purged `email_templates` and everything looks fine now. Thanks.

[2018-03-14 10:15] #3474 closed

[2018-03-14 10:15] bozana commented on #3474
All well, good catch!

[2018-03-14 16:19] #3421 closed

[2018-03-14 16:44] asmecher commented on #3474
Thanks! Also cherry-picked to `ojs-stable-3_1_0`.

[2018-03-14 16:53] asmecher commented on #3476
That was quick! Thanks, @Vitaliy-1!

[2018-03-14 16:53] #3476 closed

[2018-03-15 07:27] Glottotopia commented on #3180
Speaking only for OMP, the amount of metadata in a catalog is very small, and searching/arranging/filtering that data could completely be done client side. That excludes the full texts of course. See here for an example with actual (static) data from an OMP installation: http://langsci.github.io/catalog

[2018-03-15 11:52] bozana opened #3481 "submission URL in recommendation form emails"
the recommendataion form emails contain the wrong link to the submission in the workflow -- the stageId parameter is missing...

[2018-03-15 12:03] bozana commented on #3481
PRs:
https://github.com/pkp/pkp-lib/pull/3482
https://github.com/pkp/ojs/pull/1876 (only submodule update)

[2018-03-15 12:48] #3481 closed

[2018-03-15 18:34] asmecher commented on #3460
@mittinatten, I'm having a hard time tracking this down, either through local testing or code examination. The code that fetches the user list is de-duplicated on the SQL side with a `SELECT DISTINCT`.

Are you sure there aren't e.g. two users in the journal that forward to the same email account? That still seems the most likely cause to me.

If not, I'd suggest adding some `error_log` calls to t

[2018-03-15 19:13] ajnyga opened #3483 "OJS Non-expiring subscription type does not work"
Hi @asmecher,

OJS 3.1.0.1

If you create a continuous subscription type in OJS3, two problems occur:
1. It is not possible to add a new subscription with that type without giving the dateStart and dateEnd dates in the form, but at the same time the dates are not stored: https://github.com/pkp/ojs/blob/master/classes/subscription/form/SubscriptionForm.inc.php#L190

2. When you give the dates and e

[2018-03-15 19:19] ajnyga opened #3484 "OJS Searching for individual or institutional subscriptions does not work"
In OJS 3.1.0.1 the search function for the subscription listings does not work. Doing a search just returns the same results as you would get without doing a search.

[2018-03-15 21:32] tfluhr commented on #3403
Hi there.

We are experiencing a very similar issue with our OJS instance.  We're not able to edit existing website settings (settings->website->navigation menus).

I've attached of the console and edit window pop up.

We are running v 3.1.0.1 and php v 5.6.34-1+ubuntu14.04.1+deb.sury.org+1

Any help would be appreciated!

Thanks.

-tim

![console](https://user-images.githubusercontent.com/3507718

[2018-03-16 10:32] tgc opened #3485 "Missing sidebar items after upgrade from OJS 2.4.x with PostgreSQL"
Upgrading from OJS 2.4.x to OJS 3.1.0-1 when using a PostgreSQL database leaves many sitebar items missing.
The issue is that the fix implemented in https://github.com/pkp/pkp-lib/issues/2310 fails to be applied because in PostgreSQL LIKE is case-sensitive so no matches are made since at least in my OJS 2.4.x instance plugin_name contents are all lowercase.
Please either use LOWER or UPPER to ensu

[2018-03-16 11:41] MarHerUMR commented on #3456
Yeah, I just added the handling for the next/previous links. I think it is a little bit rough. But it's a start. I'll add a .zip with the changed HelpHandler and the customized staticPages plugin.
[help-work-in-progress.zip](https://github.com/pkp/pkp-lib/files/1819028/help-work-in-progress.zip)

[2018-03-16 13:18] bozana commented on #3394
PR: https://github.com/pkp/citationStyleLanguage/pull/29

@NateWr, could you take a look?

[2018-03-16 15:09] bozana commented on #3302
PRs:
https://github.com/pkp/pkp-lib/pull/3486
https://github.com/pkp/ojs/pull/1877
https://github.com/pkp/omp/pull/513

[2018-03-16 15:10] bozana commented on #3302
@asmecher, could you review the PRs?

[2018-03-16 15:14] bozana commented on #3302
Maybe a note: because there are lots of forms depending on the submission locale -- differently to the OJS 2.4.x -- this is the better way to solve it, and most obvious for the user, I believe: that the form locale has to be enabled when the submission locale is enabled, and that the submission locale is disabled when the form locale is disabled.
The existence of both locales is however justified

[2018-03-16 16:31] bozana commented on #3259
The following PRs solve these issues #3278, #3326, https://github.com/pkp/pkp-lib/issues/3259 and #2618, using the PR #3169 as a basis (but changing it as discussed there):
pkp-lib master: #3399
ui-library master: pkp/ui-library#10
ojs master: pkp/ojs#1840

[2018-03-16 16:32] bozana commented on #3259
Thus I will close this issue...

[2018-03-16 16:32] #3259 closed

[2018-03-16 16:35] asmecher commented on #3485
Good spotting, @tgc -- committed a fix to `master` and `ojs-stable-3_1_0`.

[2018-03-16 16:35] #3485 closed

[2018-03-16 16:38] bozana commented on #3237
@jmacgreg, shall we add the change or ask Crossref if they are planing to solve it differently?

[2018-03-16 17:01] defstat commented on #3420
@NateWr reminder

[2018-03-16 17:03] bozana commented on #3228
I've just tested this with the current master branch:
a) All files a reviewer uploads are saved as extra files i.e. no revisions from earlier files.
b) Neither reviewer nor editor have the "Delete" option in the normal Reviewer/Reviewer Files grid. @asmecher , is this meant to be so for some reason?
c) But the "Delete" action is provided for the editor when he/she makes a decision: for example, if

[2018-03-16 17:13] jmacgreg commented on #3237
Hi Bozana,

I think we have to resolve this on our end, unfortunately. Are you able to make the PR, or did you want me to?

[2018-03-16 17:14] mjordan commented on #3261
[This thread in the forums](https://forum.pkp.sfu.ca/t/is-ojs-gdpr-compliant/37521/20) is relevant. We probably should do the work to munge personal info before we release the 3.x version of the PN plugin.

[2018-03-16 17:22] bozana commented on #3237
I can do it -- I just was not sure... Thanks!!! :-)

[2018-03-16 17:23] asmecher commented on #3228
Thanks, @bozana -- I think in b) the editor should be able to delete these files. I'm less sure about the best approach for reviewers, but broadly speaking, I think someone should be able to delete what they've uploaded, as long as the review is still open.

[2018-03-16 17:32] bozana commented on #3228
Ah sorry @asmecher, I tested a finished review :-( You are right: the reviewer is able to delete the files as long as he/she is not finished with it. So this is OK, right?

[2018-03-16 17:44] asmecher commented on #3228
Yes, that sounds good.

[2018-03-16 17:53] defstat commented on #520
@bozana
Regarding your comment

PRs:
pkp-lib: #3261
OJS: pkp/ojs#1878

[2018-03-16 18:47] asmecher commented on #3302
This solution is fine -- there's a bigger aspect needing clean-up, which is that I think we're not consistent about the use of primary locales with respect to submission files. I think sometimes we're assuming it's the submission locale, other times the jouranal's locale. But that's outside of this fix -- I just had a few comments; please go ahead and merge when you've gone through them. Thanks!

[2018-03-16 18:50] asmecher commented on #3190
@mfelczak, what version of OJS (or OMP) is having trouble installing? Do you get a message in the interface, or does it carry on as expected but without the plugin installed, or does the spinner turn endlessly? Is anything in the PHP error log?

[2018-03-16 19:51] mfelczak commented on #3190
Hi @asmecher, getting the following in the error log: "Incorrect MD5 checksum!"

[2018-03-16 20:00] asmecher commented on #3190
Try again? It looks like I had a typo in a filename in the gallery XML.

[2018-03-16 20:25] mfelczak commented on #3190
Fixed, thanks!

[2018-03-16 20:31] defstat commented on #3462
@asmecher
The user export function exports a password hash and its encryption (as given in config.inc.php)
The user import function seems to set the user password as given from the exported xml hashed password (indeed not taking into account the encryption algorithm).

I suppose that the first thing here is to check on import the `password_needs_rehash` for the db hash.
- If false, the password ha

[2018-03-16 21:25] asmecher commented on #3462
The use case for plain-text imports is when creating content for OJS from another system. What you're proposing makes sense.

[2018-03-17 00:24] asmecher opened #3488 "Improve error presentation in file upload wizard"
See e.g. https://github.com/ajnyga/allowedUploads/issues/3#issuecomment-373600792.

[2018-03-17 01:06] asmecher commented on #3180
There's a related thread about this in the forum: https://forum.pkp.sfu.ca/t/omp-filtering-for-book-catalog/39618

[2018-03-17 07:58] ekacahyaprima opened #3489 "[OJS] OJS 3.1.0 has bug about opening the plugin"
We have tried to use OJS 3.1.0. We want to upluad the Theme plugin such as bootstraps, etc. However, the Plugin cannot be reopenend in the OJS dashboard afterward. it is just looping. Finally, we uninstall it.

Anybody help me please...

Thank you.

[2018-03-17 14:55] bozana commented on #3237
Sorry @jmacgreg, one more question: the elements `<collection property="text-mining">` seem not to be affected by that, just `<collection property="crawler-based">`, is that right? -- I've just seen this example here: http://www.labs.crossref.org/documents/prospect/examples/annals_of_psychoceramics_b_515151_3.xml, linked from https://support.crossref.org/hc/en-us/articles/214298866...

[2018-03-17 15:47] bozana commented on #3237
I've also realized, that, in a rare case that someone removes all galleys, this would need to be deposited as empty collection elements in order to say Crossref to update that data, s. https://support.crossref.org/hc/en-us/articles/213022486-Updating-your-metadata bzw. https://support.crossref.org/hc/en-us/articles/115003564483. Thus I will consider this in the PR as well...

[2018-03-17 16:09] bozana commented on #3237
PR: https://github.com/pkp/ojs/pull/1879

[2018-03-17 16:51] #3302 closed

[2018-03-17 17:25] bozana commented on #3237
@jmacgreg, I merged the PR above: It changes just the element `<collection property="crawler-based">`. If there is a PDF galley in the submission locale, this one will be taken; else if there is any other PDF, it will be taken; else all galleys will be taken.
The element `<collection property="text-mining">` stays as it was i.e. containing all galley URLs.

[2018-03-17 17:25] #3237 closed

[2018-03-18 00:21] asmecher commented on #3489
@ekacahyaprima, please post on our support forum at http://forum.pkp.sfu.ca/ -- if it turns out to be a bug we can migrate the issue back here.

[2018-03-18 00:21] #3489 closed

[2018-03-18 11:01] mczirfusz opened #3490 "Do not use journal contct in reply-to when sending issue and announcement notification emails"
A quick feedback on the new issue notification. The principal contact is added in the new issue notification as well as notification e-mails as a "reply-to" which resulted in that our journal editor received a large number of automatic replies and mail delivery error e-mails.

I would suggest not to have a "reply-to" in both new issue notifications and announcements.

Also referencing #2561

[2018-03-18 16:26] asmecher opened #3491 "Use mbstring-capable regexp functions in searching"
See https://forum.pkp.sfu.ca/t/unicode-normalization-in-search-results/39239/36.

[2018-03-18 16:28] asmecher commented on #3491
PR: https://github.com/pkp/pkp-lib/pull/3492

[2018-03-18 18:05] ajnyga commented on #3490
There is a bounce setting in Settings => Workflow => Emails. Do you have something there?

#2561 only added the option of not sending the notification and https://github.com/pkp/pkp-lib/pull/2402 changed the reply-to address from the site contact to journal contact if the latter is available.

The question whether there should be a reply-to at all is of course debatable, I have no strong opinions

[2018-03-18 20:05] mczirfusz commented on #3490
@ajnyga Thanks for the clarification and for linking the useful [thread in the forum](https://forum.pkp.sfu.ca/t/ojs3-notifications-sender-and-reply-to-address/28703). I think #2402 makes sense, i.e. to use a context-specific reply-to address.

We have a bounce address set. The issue was that mail delivery errors of the new issue notification (sent out by me as a journal manager) went both to the

[2018-03-18 22:41] #3491 closed

[2018-03-19 10:14] mczirfusz commented on #3483
I can also confirm this.
IP access also does not work for non-expiring institutional subscriptions.

[2018-03-19 11:51] NateWr commented on #3456
Thanks @MarHerUMR, would you be able to work these up as Pull Requests? It's easier for us to get a sense of what's changed, and how, when it's provided as a Pull Request.

[2018-03-19 11:56] NateWr commented on #3422
Merged.

[2018-03-19 11:56] #3422 closed

[2018-03-19 12:20] NateWr commented on #3394
:+1: Merge when you'd like!

[2018-03-19 12:25] NateWr commented on #3420
Sorry for the delay, @defstat. Can you give me some steps to reproduce this issue so I can test it out?

[2018-03-19 12:45] ajnyga opened #3493 "OJS Saving the access settings, ajax fails"
OJS 3.1.0.1 and master branch

Saving the Settings => Distribution => Access form is partly broken. When saving the form the whole page is reloaded and the change is not visible in the form. If you leave and return to the tab, you can then see the change you made to the setting. So it is connected to the ajax handler probably, but not sure how.

[2018-03-19 13:19] jmacgreg commented on #3237
Thanks Bozana! As far as I understand it, you have it correct for the text-mining bit. It should only be the "crawler-based" item that should be affected.

[2018-03-19 13:51] #3394 closed

[2018-03-19 14:02] #520 closed

[2018-03-19 14:10] bozana commented on #3493
Hmmm... @ajnyga, somehow this is not the case with my local installation (master branch)... :-O

[2018-03-19 14:27] defstat commented on #3420
Not a problem @NateWr ...
The first comment starts with the steps to reproduce the issue. If you need more info, I will try to be more specific.

[2018-03-19 14:27] ajnyga commented on #3493
hmm, I am seeing the same thing for example here: https://demo.publicknowledgeproject.org/ojs3/testdrive
If you compare to the other forms under distribution, you can see that the access form first tries to reload using ajax but then reloads the whole page.

[2018-03-19 14:30] ajnyga commented on #3493
Also, if in the payments tab there you select "Payments will be enabled for this journal. " but do not select a payment plugin and hit save, the form gets stuck.

[2018-03-19 16:20] ajnyga commented on #3493
I have a clean install of OJS 3.1.0.1, no modifications or plugins and I am seeing this on that installation. But on the PKP test server which is also 3.1.0.1 the selection is saved.

I am also seeing this (the selection not getting saved + ajax save not working properly) on a vagrant ojs I just created. I believe it always uses the latest master branch?

[2018-03-19 16:34] ajnyga commented on #3493
This is a screen capture from master branch (vagrant ojs):
![2018-03-19 18 32 02](https://user-images.githubusercontent.com/16347527/37608775-15cef6fc-2ba4-11e8-8b40-dd96dfe673b7.gif)

[2018-03-19 16:37] defstat commented on #3462
@asmecher
I prepared a PR that adds the following to the import process
- Plain-text password import: If the imported XML element does not define an encryption attribute, then the function encrypts the value of the element, supposing that its a plain-text password. (No checks are performed - for example - for the length of the password.)
- Import of passwords that the `password_needs_rehash` retur

[2018-03-19 16:59] ajnyga commented on #3488
just in case you see the notifications here more easily...

Hi @asmecher if I apply those changes to 3.1.0.1 code I get:

[code]

This happens only with the file types that are not allowed so the error is triggered by the error handling.

[2018-03-19 22:44] aolney commented on #3017
[Looks like this has been discussed for OJS for some time](https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=7925)

[2018-03-19 23:01] asmecher commented on #3488
@ajnyga, do you get the same problems on the `master` branch? They work for me.

[2018-03-20 05:04] ajnyga commented on #3488
Works great on master branch! I do not understand why not in 3.1.0.1 though. Have to try again, because I do not think there is many changes there?

[2018-03-20 05:15] ajnyga commented on #3488
The difference is maybe this https://github.com/pkp/pkp-lib/commit/0d3691b683a8ec14bf03da7666e992d3f5720870#diff-a293ff86bd7eb54b4ef4cb047dd4c550

[2018-03-20 09:07] NateWr opened #3495 "Modify API URLs in ui-library when restful_urls enabled"
When `restful_urls` is enabled in the configuration, URLs will no longer include the `index.php` portion of the URL. However, the ui-library will continue to include `index.php` in ajax requests that it makes.

Relevant code is here: https://github.com/pkp/ui-library/blob/master/src/mixins/global.js#L105-L111

[2018-03-20 09:16] ajnyga commented on #3493
@bozana
This depends on the server it seems.
I tested this with a XAMPP (php 5.6, OS X) on a localhost + OJS 3.1.0.1 => the saved setting is visible after saving the form (meaning it works)
PKP Vagrant OJS and master branch => the saved setting is not visible after saving the form (not working)
My own online test server (php 5.6, 64-redhat-linux-gnu) + OJS 3.1.0.1 => the saved setting is not visib

[2018-03-20 09:25] NateWr commented on #3420
:+1: All merged.

[2018-03-20 09:25] #3420 closed

[2018-03-20 10:00] ajnyga commented on #3493
For the issue that the whole page gets reloaded, in the indexing tab you get this response `{"status":true,"content":"","elementId":"0","events":null}` for the `save-form-data?tab=indexing` query.

For the `save-form-data?tab=indexing` query the response is empty.

[2018-03-20 10:06] withanage commented on #2818
Nils has already implemented some of the specifications discussed before.  We  have some questions and need some advice how to proceed on ?

## Notifications

* In the submission contributor form, the authorization request is sent,  after ![02_author_metadata_send_notifcation](https://user-images.githubusercontent.com/1921992/37647811-8040e9f8-2c2d-11e8-9afd-8353eabe98de.png) is enabled and save b

[2018-03-20 10:13] ajnyga commented on #3493
also @bozana removing the access tab from the forced page reload fixes the other issue I am seeing here, I mean the fact that the setting is not saved (or it is saved, but the reloaded form has the old setting). This is of course understandable, because

So the combination of a) certain server environments + b) the forced reload of the whole page + c) the ajaxform functionality seems to result int

[2018-03-20 10:25] ajnyga commented on #2818
Great job! These are purely my views:

1. I like the idea of having the checkbox there, but how does the editor do the request for ORCIDs later? I mean if the author chooses the deselect those (maybe does not know what it means), then how does the editor ask for the ORCIDs afterwards? Maybe you could just have a "Ask for co-author ORCIDs" button somewhere available just for the editor. The editor

[2018-03-20 11:21] MarHerUMR commented on #3456
Ok. Please ignore the first commit (ed5fd64).

[2018-03-20 12:07] isgrim commented on #2818
Hi @ajnyga ,
you wrote

The form from the screenshot is the form (AuthorForm class in the code) the editor is presented when editing the Submission Metadata, the checkbox there is exactly for this purpose. Any time the checkbox is set while editing Author data an E-Mail would be generated with a new link to ORCID initiating the authorisation process.

And to point 3.
The sync only happens after th

[2018-03-20 12:20] ajnyga commented on #2818
Thanks @isgrim !

So the author does not see the checkbox, when she is submitting the article? The same form is used there.

Ok!

[2018-03-20 12:38] isgrim commented on #2818
@ajnyga

At the moment: Yes, but it is not working, because the plugin currently only sends the e-mail if the author is already created.
This is due to a limitation, how the `Form#execute` hook is placed in the AuthorForm class. I would have to change the `Authorform#execute` method and submit a separate pull request for pkp-lib, but I was not yet ready to go that far without confirmation from PKP

[2018-03-20 13:04] APOLOUCY opened #3497 "[OCS]"

[2018-03-20 15:05] mczirfusz opened #3500 "Review overdue - move to end of the day"
A review is marked as overdue already during the day of the due date. It would be perhaps more convenient for the reviewers to mark a review as overdue only the next day and leave the whole day for them to complete the review.
[OJS 3.1.0-1]

[2018-03-20 15:17] NateWr commented on #3130
PRs:
https://github.com/pkp/pkp-lib/pull/3499
https://github.com/pkp/ui-library/pull/14
https://github.com/pkp/ojs/pull/1881
(will prepare OMP soon, just getting tests going)

The PRs above implement a number of changes that address users with dual assignments on a submission. The access chart in [this comment](https://github.com/pkp/pkp-lib/issues/3130#issuecomment-357675761) should be more or le

[2018-03-20 15:34] asmecher commented on #3497
It looks like this is just an exploration of github, so I'll close this, but let me know if my guess is wrong.

[2018-03-20 15:34] #3497 closed

[2018-03-20 15:37] marcbria opened #3501 "Provide reviewer's with a certificate to credit their work"
As you know, a challenge for little-medium journals is how to keep a good DB of article's reviewers.

At the same time, in my country, looks like reviewing is starting to be taken in consideration as a merit for our academics, so journals started to ask us to extract a list of reviewers (once or twice a year) to elaborate certificates. Right now our method is rough... we just created a "view" (dir

[2018-03-20 15:38] jifarquharson commented on #3130
Hi @NateWr,
I'd certainly be willing to road-test these changes. Thanks for all the effort you've put into this.

[2018-03-20 15:46] ajnyga commented on #2818
Ok, I am maybe thinking the editor workload of doing the request separately for each author vs. having a single button which sends the request for all authors without an orcid. There are of course many cases where there are no secondary authors, but also those extreme cases where there something like 10 authors in single article.

[2018-03-20 15:55] mczirfusz opened #3502 "[OJS] upgrade - missing reviewer files from the grid"
We recently upgraded from OJS 2.3.6 to 3.1.0-1.

Some files sent by the reviewers are missing from the grid, but are found in the file system in the correct place. These involve XXXX-13-XXXX-Y-5-XXXXXXXX type files in which Y is higher than 1. That means, if a reviewer attached more than one file, only the one attached first appears in the grid.

also mentioning #2173 - perhaps related to point 2

[2018-03-20 16:04] asmecher commented on #3501
Alternately, how about a report plugin? These are fairly quick to write, and generally just map a SQL call (or set of calls to DAOs if the SQL already exists there) into a CSV.

[2018-03-20 16:19] cristiaan3003 opened #3503 "[OJS] npm run build"
I'm following this guide

https://pkp.sfu.ca/wiki/index.php?title=Github_Documentation_for_PKP_Contributors

when I execute

npm run build

npm ERR! Linux 4.9.0-6-amd64
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "run" "build"
npm ERR! node v4.8.7
npm ERR! npm  v2.15.11
npm ERR! code ELIFECYCLE
npm ERR! OJS3@3.1.1 build: `cross-env NODE_ENV=production webpack --progress --hide-modules`
npm ERR! E

[2018-03-20 16:19] ajnyga commented on #3502
See https://github.com/pkp/pkp-lib/issues/2173#issuecomment-285711524, does that sound familiar?

[2018-03-20 16:28] NateWr commented on #3130
@asmecher and @bozana the tests are not happy, but I'm working on that. Would you want to get started with a code review while I'm sorting that out? PRs in [this comment](https://github.com/pkp/pkp-lib/issues/3130#issuecomment-374636239). Hoping to get a really thorough review on this one. :face_with_head_bandage:

[2018-03-20 16:37] asmecher commented on #3503
@cristiaan3003, can you post this on our support forum rather than here? http://forum.pkp.sfu.ca/

[2018-03-20 16:37] #3503 closed

[2018-03-20 16:38] PascualRico opened #3504 "ERROR upgrade OJS 2.4.6 to 3.1.0-1"
Hi
I'm upgrading OJS 2.4.6 to OJS 3.1.0-1 and when I run “php tools/upgrade.php upgrade” always return such error
[code]
My system consists of the following:
- PHP 7.0
- MySQL 5.7.21
- Apache 2.4.18

I don’t know how could i solve that?

[2018-03-20 16:53] mczirfusz commented on #3502
@ajnyga Yes, thank you very much, I think this is the same. As I understand from the discussion it should not have shown up as a problem in our upgrade (2.3.6 > 2.4.8 > 3.1.0-1), because #2173 was already closed when 3.1 was released. Am I right?

Shall I close this and let reopen #2173?

[2018-03-20 17:06] asmecher commented on #3130
Congrats on getting it this far, @NateWr! @bozana and I will both take a thorough look -- right, @bozana? ;)

[2018-03-20 17:30] ajnyga commented on #3502
@bozana knows this best, so tagging her here.
In our case I ended up fixing things with home made post-upgrade scripts, because the upgrade boat had already sailed. So I do not really have thorough info on what happens with 2.4.8 to 3.1.0.1 upgrades.

If I remember correctly the problem was that in OJS2 you could not upload separate reviewer files. I mean it looked like you could, but also in OJS2

[2018-03-20 18:24] mczirfusz commented on #3502
Thank you, @ajnyga. Yes, I understand what you are writing, and to be honest I also thought that we are uploading two files in OJS2, not one file and a revision.

I think I will leave our current system as it is. We had only 3 articles in the current workflow which were affected, so I manually uploaded files not visible in the grid as a duplicate. As for the archives, in the rare case we need them

[2018-03-20 19:14] mfelczak opened #3506 "Untranslated locale key for scheduledTaskLogs log file"
This is in a clean OJS 3.1.0 install.

The log file is named ##admin.scheduledTask.openAccessNotification##-5aac1d15f3456-20180316.log

[2018-03-20 19:41] asmecher commented on #3504
@PascualRico, it's likely an OJS 2.x data error; the support forum is a better place to debug these kinds of issues. I'd suggest working through this thread in particular: https://forum.pkp.sfu.ca/t/error-upgrade-2-4-8-2-to-3-1-0/35305

[2018-03-20 19:41] #3504 closed

[2018-03-20 22:05] asmecher commented on #3488
Yes, I wouldn't be surprised if it was something like that. I'm going to merge for `master` and leave it un-backported on `ojs-stable-3_1_0` -- it's essentially cosmetic.

[2018-03-20 22:06] #3488 closed

[2018-03-20 22:06] asmecher commented on #3488
(https://github.com/pkp/pkp-lib/pull/3507)

[2018-03-20 23:04] asmecher commented on #2818
^ Looking very good so far, @isgrim and @withanage. @ajnyga's feedback on this suits me just fine.

[2018-03-21 05:51] ajnyga commented on #3130
Hi @NateWr, this is looking very good!

Just a couple of things that come to mind:

This shows links to author and editorial workflow. But it works also when you are editor and reviewer, right?

With this change I think it is also very important to clearly communicate that it does not solve "editor as author" problem completely which has been raised many times in the forums. The editor can still f

[2018-03-21 06:53] ajnyga opened #3508 "OJS Prevent editors from creating discussions if they are not stage participants"
Hi @NateWr this maybe is within your realm?

At the moment an editor can start and participate in a discussion even if she is not a stage participant.

This causes a problem. When discussion is started for example with the author, only the author is added as a participant to the discussion. Now, when the author answers the discussion message, the editor does not receive any notification about the

[2018-03-21 10:20] NateWr commented on #3508
I remember we did something about this (or just talked about it) not that long ago. I think the concern then was that the current user should always be selected by default as a participant. If that's in place, the only additional thing we'll need to do is make sure that the current user is available as a participant, even if they're not assigned.

[2018-03-21 10:41] NateWr commented on #3130
You're right, once assigned as a reviewer, they no longer have a link to the editorial workflow. I can think of two ways of addressing this:

1. Provide the dual-link option like the editor+author combo.
2. Force the reviewer link until the submission has entered the copyediting stage. Once in copyediting (or later), show the editorial workflow link.

I'm leaning towards (2), because it goes furth

[2018-03-21 11:34] dennmuel commented on #1550
Maybe it would be possible to reuse some library work by making it possible to upload a standardised nomenclature like the [Library of Congress Subject Headings](http://id.loc.gov/authorities/subjects.html) or the equivalents in other languages (e.g. [Gemeinsame Normdatei](http://www.dnb.de/DE/Standardisierung/GND/gnd_node.html) in Germany).

[2018-03-21 12:05] ajnyga commented on #3508
You are leaning towards the alternative solution, right? I think that is the more complicated solution but probably also more flexible.

We did discuss this when I tried to explain the logic how available discussion participants are listed for open reviews. There by default blind reviewers should not be included in the listing but if the user herself is a blind reviewer, then her name should be in

[2018-03-21 12:36] heike-r opened #3509 "[OJS] DataCite export plugin sets accepted date = submitted date instead of actual accepted date"
When registering DOIs for articles via the DataCite Export / Registration Plugin, the accepted date in the xml is the same as the submitted date and therefor incorrect. This is now the case in OJS 3.1.0.1, but also has been the case when we were using the old OJS 2.4.8.
I am no programmer, but I think [this line](https://github.com/pkp/ojs/blob/d8d8bc2f190fb331680d4623a6aca238559ce697/plugins/impo

[2018-03-21 13:04] NateWr commented on #3508
:+1:

...but only the current user when a discussion is created.

[2018-03-21 13:06] NateWr commented on #3456
This looks nice @MarHerUMR, can you show me what a link to open a plugin help chapter looks like on the template side of things?

[2018-03-21 13:39] ajnyga commented on #3130
How about a situation where the editor is acting as an open reviewer? I agree that editors should not act as reviewers, but the logic there, I think, is that the editor breaks the blindness of the review. This is not the case with open reviews?

Yes, I do not think the problem applies to sub-editors to begin with and using the sub-editor role is a solution that is in many cases offered also at the

[2018-03-21 13:41] ajnyga commented on #3508
I can look at this as part of the open reviews work. I am waiting for this to be merged https://github.com/pkp/pkp-lib/issues/3130#issuecomment-374895449 and the release of 3.1.1. and then aiming for that slot with my additions.

[2018-03-21 13:58] bozana commented on #3506
@mfelczak and what is the primary installation, site and journal locale?

[2018-03-21 14:03] bozana commented on #3509
Hmmm... I think this is because we do not have that date extra in a DB field -- we only have editors decisions dates, that could be several... I'll take a look if there is a better algorithm we can use...
Thanks!

[2018-03-21 15:08] bozana commented on #3502
Hmmm... Just to be sure what's the problem here -- I've already forgotten all the older cases :-P -- @mczirfusz, are all files there (in the DB table submission_files, for example, and in the files folder)? I.e. is it so that you just do not see all revisions in the GUI?

[2018-03-21 15:15] MarHerUMR commented on #3456
I'm not quite sure how to answer the question.

Do you want to know how the link in the table of contents looks like??

[code]

I tried to make it so it matches the structure of the other help documents by adding the locale at the beginning. The path to the help file would be "/plugins/generic/staticPages/help/en/static-pages.md" for the static pages help file.

Hope this is what you wanted to kno

[2018-03-21 16:19] asmecher commented on #3506
@mfelczak, I think the attached commit should resolve it; if possible, please apply it and confirm.

[2018-03-21 16:19] #3506 closed

[2018-03-21 16:54] mczirfusz commented on #3502
Hi @bozana, I give you one example. The review was done in our old 2.3.6 system, the reviewer uploaded three files (OJS understood this one file and its two revisions). After upgrading to 3.1.0-1, only the firstly attached file is visible in the GUI.

_DB: all 3 rows exist in submission_files:_
`|5756|1|NULL|NULL|2514|application/msword|42496|lektori_urlap_csatolando_ojs.doc|5|0|2013-02-23 16:00:4

[2018-03-21 16:56] ajnyga commented on #3502
If you click the blue triangle and "edit" (or something similar) can you see links to the revisions there?

[2018-03-21 17:02] mczirfusz commented on #3502
Clicking on More Information there are no items in the History tab and no Notes to display.

[2018-03-21 17:05] ajnyga commented on #3502
Ok, because I think that the history tab is the place where there should be links to old revisions of the file. I think I manually changed these cases to separate files (this is slowly coming back to me, we upgraded to OJS3 in January 2017).

[2018-03-21 17:09] bozana commented on #3502
I think everything is correct, just that that file grid only shows the first revision, instead of last revision, as it is in another file grids.
That the older revisions are not easy accessible via the GUI is a problem for all files grid and considered here: https://github.com/pkp/pkp-lib/issues/2130

[2018-03-21 17:12] bozana commented on #3502
Hmmm... In the normal case the reviewer files cannot be revised in OJS 3... :-P

[2018-03-21 17:25] bozana commented on #3502
Hmmm... So actually, those reviewer files revisions should be migrated as separate files, with different file ID.

[2018-03-21 17:28] ajnyga commented on #3502
See Alec's comment from 2016: https://github.com/pkp/pkp-lib/issues/2097#issuecomment-268297097

[2018-03-21 17:33] bozana commented on #3502
@asmecher, I need you help/decision: In OJS 2.4.x the reviewer could upload several files, that were saved as different revisions of the same file. Those were migrated as such to OJS 3.1. In OJS 3.1 however the reviewer cannot upload a revision of a file -- every new upload will be saved as a new file.
Is it enough to only display the latest reviewer file revision from OJS 2.4.x or do you think we

[2018-03-21 17:41] ajnyga commented on #3502
Ah, ok, that is a 3.1. thing I suppose? In that case I think that the upgrade should definitely create these as separate files and you are of course right that it is a different scenario then!

[2018-03-21 17:53] ajnyga commented on #3502
I honestly think that both in author revisions and reviewer files the users did not know they were uploading revisions in OJS2. The UI simply did not show this in any way. The only place you could see this from was the mystical filename. So I would opt for converting at least these files to separate files.

But if you think that there are several cases where they are actually intended as revisions

[2018-03-21 18:02] bozana commented on #3502
@ajnyga, do you maybe have a OJS 3.0.2 (test) installation? Can a reviewer upload a revision of a reviewer file there?  -- because you said it's a 3.1 thing...

[2018-03-21 18:03] bozana commented on #3502
In the meantime I think I will then just treat the reviewer files revisions all the other revisions for now, and once the issue https://github.com/pkp/pkp-lib/issues/2130 is solved, everything will be fine...  :-)
Thanks!

[2018-03-21 18:09] bozana opened #3510 "display last revisions of reviewer files"
Currently the first revision of a reviewer file is displayed (considered) in the reviewer files grid.
In OJS 3 there is no possibility to upload a revision of a reviewer file -- every file upload will be saved as a new file, with the new file id. So here there is no problem.
However, in OJS 2 every reviewer file upload was saved as a revision of the same file. Thus, in order to be able to easier a

[2018-03-21 18:17] bozana commented on #3510
PRs:
https://github.com/pkp/pkp-lib/pull/3511
https://github.com/pkp/ojs/pull/1883 (only submodule update)

[2018-03-21 18:17] bozana commented on #3510
@asmecher, could you take a look?

[2018-03-21 18:53] ajnyga commented on #3502
No, I am confusing the reviewer files and author revision files issues here. The review files case is just like you thought also in 3.0.2 => you can not upload revisions.

[2018-03-21 19:21] bozana commented on #3228
PRs:
https://github.com/pkp/pkp-lib/pull/3512
https://github.com/pkp/ojs/pull/1884 (only submodule update)

[2018-03-21 19:21] bozana commented on #3228
@asmecher, could you take a look?

[2018-03-21 19:59] bozana commented on #3509
I will then use the last SUBMISSION_EDITOR_DECISION_ACCEPT that editor made, and only for the article export (it is maybe not relevant for a galley/file).

[2018-03-21 20:03] bozana commented on #3509
PR: https://github.com/pkp/ojs/pull/1885

[2018-03-21 20:04] bozana commented on #3509
@NateWr, could you take a look?

[2018-03-21 22:58] asmecher commented on #3510
Makes sense to me -- please go ahead!

[2018-03-22 00:11] asmecher commented on #1550
@dennmuel, yes, if the classification can meet three conditions:
- It uses non-language-specific identifiers,
- it's translated widely, and
- it's available under a GPL-compatible license.

[2018-03-22 00:17] asmecher commented on #3228
Please go ahead -- I'm not sure why those would've been excluded, but there's no reason.

[2018-03-22 07:33] dennmuel commented on #1550
@asmecher , thanks for your quick reply.

I fear, I don't know one, that meets these conditions. At least to my knowledge, most countries have their own standard for library subject keywords. From the top of my head, the only classification system not necesseraily used, but at least known and translated world wide and based on numeric identifiers is the [DDC](https://en.wikipedia.org/wiki/Dewey_De

[2018-03-22 08:32] ajnyga commented on #1550
Related discussion here: https://github.com/pkp/pkp-lib/issues/1828#issuecomment-296985434
And a related plugin: https://github.com/ajnyga/finto

In general I think that instead of trying to find a vocabulary that would meet everyones requirements, it should be made easier to connect vocabularies available through APIs to OJS/OMP and the keywords should be saved as keyword+URI pairs if URI is avai

[2018-03-22 08:50] #3510 closed

[2018-03-22 09:05] NateWr commented on #3456
I'm wondering about how you open the help page directly to a plugin's help page. For example, to open the submissions section from within OJS, you include a link like this:

[code]

That opens the help panel to the submissions page. What's it look like when you open to a plugin help menu?

Thanks for sharing the internal URL structure, too. I like it. I haven't had a chance to actually test this o

[2018-03-22 09:56] isgrim commented on #2818
@ajnyga you wrote earlier:

I would also prefer to store only the ID, the host can be determined by the API Url setting in the Plugin, but that would differ from the current validation in the Author and User Forms. I don't know if it is good practice to change the semantics of a core OJS Field by the plugin.
So maybe this has to be changed in pkp-lib?
@asmecher, what do you think?

[2018-03-22 10:09] NateWr commented on #3509
:+1: Looks good, go ahead!

[2018-03-22 10:28] #3228 closed

[2018-03-22 10:54] MarHerUMR commented on #3456
Ah, now I get it. I just added it like in the other plugin templates:

[code]

I'll remind you about this, when the new version is released.

[2018-03-22 12:49] mczirfusz commented on #3130
Also an issue which might be able to address in case of _editor-reviewer double role_ [OJS 3.1]:
Assume, I am an editor serving also as a reviewer, and therefore the name of the author is currently not visible for me in the GUI which is good. But if I search for the author name of that anonymised submission, this is still found as a result.
(In most cases it is not a problem, but for example if th

[2018-03-22 13:26] NateWr commented on #3130
@mczirfusz We do have a check in place to prevent this with any roles which require assignments (eg - sub-editors and assistants, [here](https://github.com/pkp/pkp-lib/blob/master/classes/services/queryBuilders/PKPSubmissionListQueryBuilder.inc.php#L311-L314)). But we don't support `ROLE_ID_MANAGER` users acting as blind reviewers. It's just not possible to blind the author name in this case, and

[2018-03-22 15:23] NateWr commented on #3130
@ajnyga How do you feel about this for cases where a reviewer (any review type) has also been assigned a role in the editorial workflow (I also added the "Review submitted" feedback).

![selection_097](https://user-images.githubusercontent.com/2306629/37779643-c8df3bd4-2de4-11e8-8cf9-39ccc3fc0630.png)

In such cases, the user still won't get the full editor experience from the submission list (for

[2018-03-22 15:37] ajnyga commented on #3130
Hi @NateWr

I think that the important thing is that users do not end up in a situation where they "loose" the access to the editorial workflow altogether. You see this fairly often at the forum.

Does the limited editor experience mean that after adding herself as a reviewer, the editor looses control over review assignments in that submission?

I would happy even with a solution where you would

[2018-03-22 15:39] NateWr commented on #3130
Sorry for the confusion @ajnyga. The editor will still have full access to the submission workflow. What they won't get is all the additional features that are available directly from the submission list. They won't see the dropdown toggle with additional details straight in the submission list. They'll need to go to the workflow to see those details.

[2018-03-22 15:48] forgive38 commented on #3156
Hi
Can you merge to ojs stable 3 1 0 too ?
thank you

[2018-03-22 17:18] asmecher commented on #2818
DOIs are a little different because there might be other service providers, and I don't think ORCID has that in mind. Just for the sake of keeping it simple, I'd favour storing the host as well; if a use case comes up later, we could split it apart in the upgrade process without too much work.

[2018-03-22 19:16] ajnyga commented on #2818
Are you sure that different service providers for DOIs use different domain names for the resolved links?

[2018-03-22 19:27] lmaylein commented on #2818
The official resolver url is https://doi.org (deprecated: http://dx.doi.org)

[2018-03-22 19:28] lmaylein commented on #2818
To display DOIs without the resolver urls is also outdated:
https://www.crossref.org/display-guidelines/

[2018-03-22 19:37] ajnyga commented on #2818
Sure the display guidelines require it, but OJS stores just the `prefix/suffix` and add the domain name when it is displayed. I have not strong opinion whether we should store ORCID with the domain name, just figured that it would make sense to use the same approach as with the DOIs.

[2018-03-22 20:31] asmecher commented on #2818
@ajnyga and @lmaylein, I stand corrected! I don't hear a strong preference for approach and don't have one myself, so I'd recommend continuing with the current storage habits until there's a need to change.

[2018-03-22 21:00] #1865 closed

[2018-03-22 23:55] asmecher commented on #3272
See https://github.com/pkp/pkp-lib/issues/3206#issuecomment-357667977

[2018-03-23 10:48] #3272 closed

[2018-03-23 16:31] mfelczak opened #3514 "New journal settings wizard displays untranslated key ##manager.masthead.title##"
In OJS 3.1.0-1, in the journal settings wizard displayed after a new journal is created.

Masthead tab => Masthead setting title

[2018-03-23 16:32] AhemNason opened #3515 "Timestamps in Crossref plugin do not match schema requirements"
Our current timestamps for Crossref are 32bit, 12 characters. According to the Crossref schema document, however, the current standard is 64 bit double (19 characters).

https://data.crossref.org/reports/help/schema_doc/4.3.0/4_3_0.html#timestamp

Their validation is dependant on the size of the number, so a timestamp from 2013 written in 64 bit double will always be "newer" than a 2018 deposit wr

[2018-03-23 16:34] asmecher commented on #3514
Dupe of e.g. https://github.com/pkp/pkp-lib/issues/3225

[2018-03-23 16:34] #3514 closed

[2018-03-25 11:51] markagregory commented on #3130
Please forgive me if this is a FAQ. I have just added the copyeditor role to one of the team and he can copyedit only two papers out of four that are in copyedit now. For the other two papers he gets the message "You don't currently have access to that stage of the workflow."

Is the only solution now to create a new account for the copyeditor with the copyedit role?

[2018-03-25 15:30] bozana commented on #3502
I will then close this issue now -- The most recent reviewer file revision will be displayed with this change: https://github.com/pkp/pkp-lib/issues/3510, and the issue https://github.com/pkp/pkp-lib/issues/2130 should then provide an easier access to the earlier revisions...

[2018-03-25 15:30] #3502 closed

[2018-03-26 12:21] bozana opened #3517 "require locale component for identifier tab, add a hook"
consider LOCALE_COMPONENT_PKP_SUBMISSION
and provide a template hook, so that the plugins can hook into the identifier tab form...

[2018-03-26 12:24] mczirfusz opened #3518 "[OJS] "Possible Duplication or Revision Detected" - confusing file upload process"
Enhancement request for warning "Possible Duplication or Revision Detected" in (author) file upload process.

Currently, uploaded files will be checked against existing files to identify possible revisions. ([State number 3](https://github.com/pkp/pkp-lib/blob/ffd8a58a62546a74a2ad0eb5da7f2c37261dd2de/templates/controllers/wizard/fileUpload/form/fileUploadForm.tpl))

This caused some confusion for

[2018-03-26 12:35] bozana commented on #3517
PRs:
https://github.com/pkp/pkp-lib/pull/3519
https://github.com/pkp/ojs/pull/1889
https://github.com/pkp/omp/pull/517

[2018-03-26 13:12] NateWr commented on #3130
Hi @markagregory, we use this GitHub repository for discussion about the development of the software's code. The PKP forum is a better place for questions about how to use it. I've moved your question over there and provided an answer:

https://forum.pkp.sfu.ca/t/copyeditor-cant-access-all-submissions-in-the-copyediting-stage/40146

[2018-03-26 13:34] NateWr commented on #3500
I believe this should already be the case.

https://github.com/pkp/pkp-lib/blob/master/classes/submission/reviewAssignment/ReviewAssignment.inc.php#L473-L482

@mczirfusz are you able to provide a reproducible set of steps for me to test out?

[2018-03-26 13:37] NateWr commented on #3501
I _suspect_ that every journal will have it's own inclusion criteria for deciding which reviewers actually get a certificate. Since users can self-enrol as reviewers, it might not be a great idea to just provide the certificates without some minimum criteria (eg - must have reviewed X articles in last X days).

[2018-03-26 13:42] NateWr commented on #3493
@asmecher may have some insight into the reload on the access page. There is a toggle there about subscriptions, and it may have been intended to display the submissions nav link when that toggle is activated and payments is disabled. Just a guess.

[2018-03-26 13:47] NateWr commented on #3464
Can I mockup the index page? :) Are we planning to use Jekyll or some other static site generator? Does anyone mind if I whack the Community Priority and Dev Housekeeping tags on this?

[2018-03-26 13:49] jmacgreg commented on #3464
Whack away! And right now the way we're doing this is generating the gitbook docs at docs.pkp.sfu.ca, but redirecting the web root to https://pkp.sfu.ca/pkp-software-documentation/ for the "TOC". Open to suggestions for doing this better (I was actually futzing around with using OMP to manage a documentation catalogue, but very quickly hit some problem areas).

[2018-03-26 13:50] jmacgreg commented on #3464
I'd also like to use a better/different theme for the documentation - right now it's just the gitbook standard. See eg. http://docs.pkp.sfu.ca/ojs3/. We can do this better.

[2018-03-26 13:55] NateWr commented on #3464
Is it ok if the web root is a HTML/markdown file under version control and one of our tech people has to commit to modify it? This would only be the root/hub. The docs would remain GitBooks editable by non-technical users....

[2018-03-26 14:36] #3517 closed

[2018-03-26 14:39] NateWr commented on #3495
PRs:
https://github.com/pkp/pkp-lib/pull/3520
https://github.com/pkp/ui-library/pull/15

Tests only:
https://github.com/pkp/ojs/pull/1890

[2018-03-26 14:43] NateWr commented on #3495
Just added the 3.1.1 milestone because this should be an easy merge if all the tests pass.

[2018-03-26 14:44] henkela opened #3521 "[OJS] Paging in Submissions#active panel"
Hi,

I just finally upgraded to OJS 3.1.0.1 from OJS 3.0.0 using the release tarball, which went very smoothly. Thanks for that. The upgrade.php upgrade only gave a warning at lib/pkp/classes/submission/PKPSubmissionFileDAO.inc.php and another *DAO. But the updated OJS works just fine and the Submissions view looks much nicer! A big thank you for that, too.
Now, my question: in OJS 3.0.0 a made a

[2018-03-26 15:38] ajnyga commented on #3493
Hi,

Yes I was thinking the same thing. I guess the page reload is not a problem, but the issue I show in the GIF above is. As I mention there, that only happens with some server environments, but the problem seems to happen at least with the OJS Vagrant. I am using Firefox there.

I think that part of the problem is that the form uses the ajaxform.js whereas the paymentmethod setting page uses a

[2018-03-26 16:42] bozana commented on #3500
@NateWr, I am not sure, but: shouldn't the check be for the current date?

[2018-03-26 17:14] NateWr commented on #3495
Merged.

[2018-03-26 17:14] #3495 closed

[2018-03-26 19:11] asmecher commented on #3493
That reload is a hack [implemented here](https://github.com/pkp/ojs/blob/ojs-stable-3_1_0/controllers/tab/settings/DistributionSettingsTabHandler.inc.php#L39..L43) to force the sidebar menu to reload when subscriptions were enable/disabled, so that the payments area would be shown. We have a few of these awaiting a better inter-component means of communication that would allow a more graceful appe

[2018-03-26 19:26] jmacgreg commented on #3464
Yep, totally fine!

[2018-03-26 20:25] mczirfusz commented on #3500
@NateWr I was able to reproduce it also on the OJS testdrive. I added a reviewer with response and review due dates set for the current day (26 March), and then I see Overdue in the Editor workflow - both if the reviewer has already accepted the review (Test Reviewer), and in the case the reviewer has not even answered the request (test test); see the screenshot below with the two cases.
![image](

[2018-03-26 20:45] mczirfusz commented on #3518
see also https://github.com/pkp/pkp-lib/issues/2055#issuecomment-264284264

[2018-03-27 07:15] ajnyga commented on #2894
@NateWr
Just checking: does this now allow searching reviewers with email addresses?

[2018-03-27 07:43] forgive38 opened #3523 "[OJS] How to change email template management"
Hello,

Some thoughts on mail management, because our publishers are asking us for improvements.

First, as it says in
https://forum.pkp.sfu.ca/t/ojs-3-x-x-choice-to-pick-language-for-forms-and-templates-when-sending-e-mails/31849/4,
they want to be able to choose the email language: currently the email locale depends on the user interface language, even if the receiver has chosen a working langua

[2018-03-27 08:13] ajnyga commented on #3493
Hi @asmecher

Yes I noticed that code in there. It is just that switching the setting in the access tab does not affect the visibility of the payment menu. Only the payment setting hides/shows the menu. So, that is why I was thinking why refresh the whole page on the access form as well?

But, as I said above, that is not actually the problem here. The problem is that the ajaxhandler does not seem

[2018-03-27 08:26] NateWr commented on #3521
I'm going to close this issue since we won't be addressing it directly, but feel free to continue to comment if you have questions.

[2018-03-27 08:26] #3521 closed

[2018-03-27 08:47] NateWr commented on #3500
You're both right. This check was a bit of a face-palm. I was trying to do a `<` comparison with `YYYY-MM-DD 00:00:00` strings. And then comparing against the wrong date.

PR:
https://github.com/pkp/pkp-lib/pull/3524

Tests:
https://github.com/pkp/ojs/pull/1891

@bozana can you code review?

[2018-03-27 09:01] NateWr commented on #2894
Yep!

[2018-03-27 09:45] NateWr opened #3525 "Select language when using email templates"
When sending an email template, it should be possible to send an email template in the language appropriate for the recipient.

- Ability to determine and auto-select recipient language where possible.
- Override the default with the language we'd like.
- All variables used in the email should be rendered in the correct language.

There is an existing setting under the user profile for "Working La

[2018-03-27 09:58] NateWr commented on #2037
Agreed.

[2018-03-27 10:01] NateWr commented on #2655
Looks like this was merged last year. Does this issue need to remain open, @asmecher?

[2018-03-27 10:02] NateWr commented on #390
Is anyone aware of any arbitrary UI limits that remain or can this issue be closed?

[2018-03-27 10:04] NateWr commented on #3523
Hi @forgive38, just to let you know I've created a Project to collect all of our requests and ideas around email templates, drafting and sending. It won't help you right now but it may give you a sense of what's going on around this. https://github.com/pkp/pkp-lib/projects/10

[2018-03-27 14:53] asmecher commented on #390
If there are, this bug entry won't be useful in finding/fixing them. Closing.

[2018-03-27 14:53] #390 closed

[2018-03-27 14:55] NateWr opened #3527 "Fix anonymised reviewers when user assigned as ROLE_ID_MANAGER"
See: https://github.com/pkp/pkp-lib/pull/3499#pullrequestreview-106487065

[2018-03-27 14:56] asmecher commented on #2655
Nope -- closing.

[2018-03-27 14:56] #2655 closed

[2018-03-27 14:56] NateWr commented on #3130
:tada: Merged!

There's still [one outstanding issue](https://github.com/pkp/pkp-lib/issues/3527) but I thought it best to merge so translators can get to work.

I'll tackle that last issue now.

[2018-03-27 14:56] #3130 closed

[2018-03-27 14:58] asmecher commented on #3130
:tada: :tada: :tada:!

[2018-03-27 15:10] NateWr commented on #3527
The fix was exactly as you said, @bozana. :+1: Can you do a quick review on this?

PR:
https://github.com/pkp/pkp-lib/pull/3528

Tests:
https://github.com/pkp/ojs/pull/1893
https://github.com/pkp/omp/pull/518

[2018-03-27 15:16] bozana commented on #3527
That looks good, so when the tests pass we can merge...

[2018-03-27 18:11] ctgraham opened #3529 "Abstract submission word count is inaccurate"
The word count method in 2.4.x incorrectly counts "empty" words when two or more spaces occur together in the abstract.  It also fails the boundary condition of allowing an abstract of exactly the allowed word count.
https://github.com/pkp/ojs/blob/d7a976e8c3108138f0254daa724481597a6d780d/classes/author/form/submit/AuthorSubmitStep3Form.inc.php#L43

The 3.x solution is better:
https://github.com/p

[2018-03-27 19:30] mfelczak opened #3530 "CSL Plugin should use journal abbreviation for abbreviated journal title display"
Currently journal initials are being used as per https://github.com/pkp/citationStyleLanguage/blob/master/CitationStyleLanguagePlugin.inc.php#L319

This results in citations being formatted as e.g. "JIDC" as opposed to "J Infect Dev Ctries"

[2018-03-28 00:56] asmecher commented on #3529
Merged, thanks!

[2018-03-28 00:56] #3529 closed

[2018-03-28 00:57] asmecher commented on #3529
Also cherry-picked to `ojs-stable-2_4_8`.

[2018-03-28 06:54] ajnyga commented on #2297
@asmecher @NateWr
In multijournals installations this is something that is creating a lot of problems. Users registered in another journal can log in to a journal but they do not have permissions to for example send submissions. We get a lot of these and users seem to be lost as there is no clear instructions how to add the required role. Just an error message saying that "you can not do that".

I

[2018-03-28 09:40] NateWr commented on #3530
I used the initials because we require that field, so we can be certain it exists. Journal abbreviation is not required. And, funny enough, our test data seems to put "publicknowledge" for Journal Initials and "JPK" for Journal Abbreviation.

Given this, what would you see as the appropriate behaviour when no Journal Abbreviation exists? Should it fall back to the Journal Initials or the Journal N

[2018-03-28 09:50] NateWr commented on #2297
Personally, I don't think users should need to "acquire" the Author role at all. Unless a journal has shut down non-commissioned submissions (ie - by closing all registrations), any user should be able to initiate a submission.

If they already have an Author role in any context, and they initiate a submission in another context, we should just take them to the submission page and make them select

[2018-03-28 09:56] ajnyga commented on #2297
Would this cause problems with things like GDPR? When I suggested that journal manager should be able to add roles for users from other journals, @bozana raised the question of GDPR and the fact that the user has to register the role herself for the related legistlation to be fulfilled.

Or do you think that doing a submission can be regarded as a contract as such? I mean automatically add the rol

[2018-03-28 10:05] NateWr commented on #2297
I am not a lawyer, but if the journals are all part of the same site (eg - `journal.fi/...`) I think they would all fall under the same terms. In the same way that an admin can assign a user a new role, so could we do this automatically, I would think.

Even if the journals are separate, though, it's hard to see what the difference would be. When a user makes a submission, to comply with GDPR the

[2018-03-28 10:15] ajnyga commented on #2297
Just tagging the other issue here: https://github.com/pkp/pkp-lib/issues/3022
And the discussion: https://forum.pkp.sfu.ca/t/ojs3-editing-user-roles-in-multi-journal-installations/28711

As you can see there, site admin can assign roles freely, but the journal managers can not. But this could just be an issue when someone else is doing something in your behalf.

Actually Alec comments to your sugg

[2018-03-28 10:29] NateWr commented on #2297
I'd rather just get them started on their submission. They can select an Author role as part of the first form they submit in the process. Something like "Submitting as" with a select of Author roles (or, if only one `ROLE_ID_AUTHOR` role exists, we can include a hidden field).

[2018-03-28 10:34] ajnyga commented on #2297
That would probably mean changing some of the access policies in the form, but I do think that is a good idea to add those to the form.

If @asmecher agrees I can try doing this during the weekend (while eating mämmi).

[2018-03-28 11:38] NateWr commented on #3527
Merged!

[2018-03-28 11:38] #3527 closed

[2018-03-28 11:46] NateWr commented on #3075
Identifying which review assignments are completed was added in with #3130, as shown in the screenshot in this comment: https://github.com/pkp/pkp-lib/issues/3130#issuecomment-375346211.

[2018-03-28 11:56] NateWr opened #3533 "Can't search by full name when enrolling existing user as reviewer"
1. Assign a new reviewer
2. Enroll existing user
3. When searching, if you write a first and last name, like `Domatilia Sokoloff`, it won't match. It appears to only match the search phrase against first or last names.

We can use the `/users` API endpoint to perform the search, but we'll need to figure out how to get it working with the autosuggest field. It may be best to wait until we refactor

[2018-03-28 12:04] NateWr opened #3534 "Show reviewers their reviewing statistics"
Show reviewers some stats about their current/past review assignments. Some ideas:

- Total reviews
- Declined reviews
- Completed reviews
- Active reviews
- Double-blind / Blind / Open review counts
- % breakdown of recommendations
- % published

[2018-03-28 12:12] NateWr opened #3535 "Section settings heading "Indexing" is not clear to end-users"
This should be changed to "Options" or "Settings", or a further description should be provided.

![selection_103](https://user-images.githubusercontent.com/2306629/38028084-b1b906b6-3289-11e8-8844-a470ee9502a7.png)

[2018-03-28 12:14] NateWr opened #3536 "Don't display Review Form selection in Section settings when no review form exists"
If no review forms exist, the setting should not show at all.

[2018-03-28 12:18] NateWr commented on #3508
While you're at it... from some UI/UX testing we recently finished:

[2018-03-28 12:20] NateWr opened #3537 "Add a floating notification when a discussion is created"
When a discussion is created and the modal closes, a floating notification should appear saying "Discussion created."

[2018-03-28 12:27] ajnyga commented on #3535
Maybe check also what the options actually do at the moment. Looking especially at the "will not be peer-reviewed". Does that affect something? But also the other options there, are we sure that they actually work because I think that the abstract option did not work (maybe it does now that you can add the word limit as well...)

[2018-03-28 14:05] bozana commented on #2297
Hi all, just a comment regarding data privacy: I think the problem is when someone else (e.g. journal manager or editor) does something for another person/user (and the user does not know about that i.e. does not agree i.e. does not have a chance to agree/disagree). I.e. it would need explicitly agreement of the user. If a user him/herself would like to do something, that is OK.
Thus, for example,

[2018-03-28 14:21] mfelczak commented on #3530
Hi @NateWr, might be good to fall back on the journal initials if the journal abbreviation is missing. This will preserve display for existing journals that may be using the initials for a custom short-title display or as a manual workaround for this bug.

[2018-03-28 15:11] asmecher commented on #2297
Yes, but probably not for service providers using OJS as SaaS, where journals might appear at different domains with no indication of shared platform.

Yes, but for journals using the default role configuration (99% I'd guess) there will really only be a single author role allowing self-registration, so it's a moot point. I think we can choose the author role when there's only one, and prompt for

[2018-03-28 15:13] asmecher commented on #2297
I had to look that up -- happy Easter!

[2018-03-28 15:16] asmecher commented on #3508
That's already filed separately: https://github.com/pkp/pkp-lib/issues/1619

[2018-03-28 15:59] ajnyga commented on #2297
So to sum up:
User without the author role selects "Make a new submission"
=> we check if the context has only one author role, if it does we automatically add the role
=> if there are more than one role, then add the role selection to the first stage of the submission role: "You need to select one of the author roles available for this context".

[2018-03-28 16:02] asmecher commented on #2297
Yes, sounds great. This might mean excluding the first step of the submission wizard from requiring the author role, but OTOH we've done something like that elsewhere so there might be a pattern to follow.

[2018-03-28 22:01] marcbria commented on #3501
@NateWr, in all my journals there is no criteria... they make a certificate for every reviewer that makes a review, even if the article is not published.

@asmecher I will take a second look to the report tool, but I think we decided to go with a mysql view because some info was missed.

[2018-03-28 22:21] diegoabadan commented on #3501
In Brazil this scenario is also common.

[2018-03-29 05:30] ajnyga commented on #2297
But @asmecher do check the AuthorizationDecisionManager code I mention above.

Because if you look at line https://github.com/pkp/pkp-lib/blob/master/classes/security/authorization/AuthorizationDecisionManager.inc.php#L129
And line https://github.com/pkp/pkp-lib/blob/master/classes/security/authorization/AuthorizationDecisionManager.inc.php#L124

I can not understand how the `if` on line 129 could

[2018-03-29 07:06] ajnyga opened #3539 "Site level navigation menus should load also inside a context"
Hi @defstat @NateWr

It seems that the site level navigation menus are only visible when context is 0.

It would make sense that site level menus would be visible also when inside another context, for example a journal. Because then you could create site wide navigation menus that you can access also when you are visiting a context. I think that many multijournal sites would like to have some sort

[2018-03-29 10:11] martinpub opened #3540 "[OJS] Legacy whitespace (line breaks) stripped in reviewer comments when presented in UI"
Hi,

We have an issue where editors are complaining that the formatting in reviewer comments got lost during the upgrade from OJS 2.4.6 to 3.1.0-1.

I checked the database and the whitespace is still present, but discarded in the UI presentation. I think it might be related to https://github.com/pkp/pkp-lib/issues/2641 and similar updates, and the addition of HTML-formatting possibilities to the r

[2018-03-29 10:48] bozana opened #3541 "introduce a new counter assoc type constant for other files in OMP"
if the genre of the publication format file is not document category or if it is a supplementary or dependent genre, use the new assoc type constant for other files:
[code]

This was not considered for OMP here: https://github.com/pkp/ojs/commit/49b66ccdac13b79976b841ef6d19d4c7c369d545#diff-0ba427a74546e24346392e0015253edc
That came with the counter plugin for OJS i.e. with this issue: https://git

[2018-03-29 11:04] bozana commented on #3541
PRs:
https://github.com/pkp/omp/pull/519

[2018-03-29 11:05] bozana commented on #3541
@asmecher, if this fix can still go.., else, no problem, after the release... :-)

[2018-03-29 11:40] bozana commented on #3541
Ah, no, forget this PR for now -- I am not sure how those counter rules for book parts are -- for example the genres appendix, bibliography, glossary, index, preface... are defined in OMP as supplementary, but they should maybe be normally counted...

[2018-03-29 11:40] #3541 closed

[2018-03-29 13:01] ajnyga commented on #2297
Hi @asmecher and @NateWr

I know this is what we discussed.

But while doing this change, I found this function that is already used in several places `$userGroupDao->getDefaultByRoleId`. Like you probably guessed, it fetches a single default author role from a given context.

This seemed so perfect, that I created a pr based on that: https://github.com/pkp/pkp-lib/pull/3542

If you still feel lik

[2018-03-29 13:06] ajnyga commented on #3540
Does your `allowed_html ` setting in `config.inc.php` look like this: https://github.com/pkp/ojs/blob/master/config.TEMPLATE.inc.php#L269 ?

[2018-03-29 13:18] bozana opened #3543 "both editor actions "Accept and Skip Review" and "Accept Submission" are logged as "(Accept and Skip Review)""
s. https://github.com/pkp/ojs/pull/1850

The action labels are taken here: https://github.com/pkp/pkp-lib/blob/master/controllers/modals/editorDecision/form/PromoteForm.inc.php#L81
That array is constructed from several arrays (s. https://github.com/pkp/ojs/blob/master/classes/workflow/EditorDecisionActionsManager.inc.php#L45-L48), where two of them contain the key SUBMISSION_EDITOR_DECISION_ACCEP

[2018-03-29 13:34] NateWr commented on #3501
Even this represents a certain criteria, too, since in some journals a user can self-register as a reviewer, and be considered as such, even if they've never been assigned a review.

And then we define this minimum criteria we will get a request for generating the certificates for reviewers who have never reviewed, for those who have historically done so but whose reviews aren't in the system.

An

[2018-03-29 13:40] NateWr commented on #3539
As far as I can tell, the only navigation menu items that work in context `0` are Custom Pages and Remote URLs. There's also the user login, dashboard, etc. stuff.  What else would you see going in these menus?

Also, there's a complication around the fact that every theme defines its own navigation menu areas. So even if you create a site-wide navigation menu, it'd still have to be assigned to a

[2018-03-29 14:06] NateWr commented on #2297
That sounds good to me. I won't be able to code review this until at least next week but happy to take a look then.

[2018-03-29 14:09] ajnyga commented on #3539
Hi,

For example
- link to site front page (now not accessible from within a journal)
- link to site wide search form (index/search)
- link to site wide browse by issue (when available)
- link to site wide presentation pages, like About, Policies, Contact etc. (About is now pasted to the site front page template which is not a good place for longer text)

Sure, but the situation where you would ne

[2018-03-29 14:11] ajnyga commented on #2297
No hurry from my part!

[2018-03-31 16:16] ajnyga commented on #2564
Hi @NateWr

See https://github.com/pkp/pkp-lib/pull/3544 for the latest pr. It seems to be working with one locale, but two form locales caused an error. Did not hae time to check it closer yet...

<img width="638" alt="nayttokuva 2018-3-31 kello 18 55 27" src="https://user-images.githubusercontent.com/16347527/38165172-f456cacc-3517-11e8-916f-cff5445b9b04.png">

[2018-03-31 17:27] bozana opened #3545 "edit galley file metadata"
There is no possibility to edit the file metadata in the galleys grid

s. also https://forum.pkp.sfu.ca/t/supplementary-files-metadata/40144

[2018-04-02 09:59] NateWr commented on #3539
Ok, you've convinced me. :) I see a few parts to this, in descending order of priority:

1. There are some site-wide URLs that we don't have navigation menu items for, like site-wide search, site-wide front page, and any custom pages / remote urls. These should be available when building a context-specific navigation menu.

2. It would be nice if there were some way to assign a site-wide navigatio

[2018-04-02 10:18] NateWr opened #3546 "CSL doesn't escape quotation marks properly"
The following title:

[code]

Will be output as a citation with the second quote escaped like this:

[code]

[2018-04-02 10:22] NateWr opened #3547 "CSL has trouble with serbian characters in some cases"
A submission with the following title:

Returns an empty citation with _some_ formats, including Chicago and ACS.

[2018-04-02 11:04] NateWr commented on #3530
PR:
https://github.com/pkp/citationStyleLanguage/pull/30

Tests:
https://github.com/pkp/ojs/pull/1899

(I'm looking at a couple of other CSL issues #3546 and #3546. If they're easy I may roll them into this PR.)

[2018-04-02 11:52] NateWr commented on #3546
@asmecher and @bozana I'm not too good at character encodings, but `htmlspecialchars` doesn't seem to be sufficient for this case. It's causing the `&quot;` addition.

Also, if HTML in titles (https://github.com/pkp/pkp-lib/issues/2564#issuecomment-377704207) is ever implemented, we won't be able to use it there anyway. Do you have alternative ideas for sanitizing the title here?

[2018-04-02 12:11] NateWr commented on #3547
I couldn't spot anything we were doing wrong on our end. I've filed an issue at the citeproc-php repo to see what's happening on their end. https://github.com/seboettg/citeproc-php/issues/49

[2018-04-02 12:12] NateWr commented on #3530
@bozana would you code review?

[2018-04-02 12:42] ajnyga commented on #3539
Great, thanks for considering this!

For 2 and 3 the scenario I was thinking is that the site and the journals all use the same theme. But of course it would be even better if there would be an easy way of adding the site navigation to other journal themes as well.

What I am thinking is that the code would always check for context 0 menus, regardless of the current context. I actually think that

[2018-04-02 12:59] NateWr commented on #3539
Do you mean that `{load_menu name="primary"}` would always load menus from the site-wide context if they were assigned? I think we'll run into issues with this, where a host runs many journals through a single install, but wants to use the site index for it's own site without impacting on the journals.

[2018-04-02 13:30] ajnyga commented on #3539
Hi,

I see what you mean. When I tried to implement a site wide menu, I created a new site menu called `sitewide` and added a new menu area to the template that was used both by the site and the journals. So there was no conflict between the default `primary` menus.

What if a menu could have a "sitewide" setting and only these menus would be checked inside all contexts?

[2018-04-03 06:40] martinpub commented on #3540
Hi @ajnyga, yes it does.

[2018-04-03 07:38] martinpub commented on #3540
@ajnyga It's the same as with the reviewer comments, no HTML but newline-formatted.

[2018-04-03 07:46] ajnyga commented on #3540
So both for abstracts and reviewer comments, there is no html formatting saved in the database? Did you have tinymce editor disabled in OJS2?

[2018-04-03 07:52] martinpub commented on #3540
Probably, yes. And we have a lot of data of this kind. OJS 2 rendered it alright, so it was never discovered I guess. Is a fix possible do you think or do have to consider running some processing on the raw data?

[2018-04-03 07:59] ajnyga commented on #3540
Tagging @bozana here, she maybe has a better idea.

But I think that the easiest solution for your would be to make a small script that takes your current data (abstracts, reviewer comments) and runs that through nl2br and stores it back to the database.

Probably you could also just do a mysql find and replace like this for the right fields https://stackoverflow.com/questions/7177007/sql-query-to

[2018-04-03 08:07] martinpub commented on #3540
I see, thanks @ajnyga. Will see if @bozana has anything to add. We should probably reset our removal of the nl2br filter, as I understand it will produce redundant line breaks for new data.

[2018-04-03 09:14] mittinatten commented on #3460
Hi,
I added some debug messages as suggested and couldn't find any duplicate emails when I published a test issue.

I see that some editors have test accounts, i.e. one official account with their institutional email and another with gmail or similar. Maybe they got confused about this somehow (even though this was the first thing I asked when I got the error report).

Sorry for bothering about a

[2018-04-03 09:14] #3460 closed

[2018-04-03 10:39] vedranvucic commented on #3546
I am willing to be very cooperative in order to solve this issue. I will prepare test environment for that purpose.

[2018-04-03 10:49] NateWr commented on #3546
Thanks @vedranvucic!

[2018-04-03 11:09] NateWr commented on #3464
Some quick mockups on what the hub page could look like using a simple card-based approach. The cards can be mixed and matched as needed so that we don't have to maintain too much in terms of layout. Each app is just a card dump of resources.

Don't pay too much attention to styles here (typography, colors). We'll probably adjust this to match whatever PKP's branding is at the time. At this stage,

[2018-04-03 12:08] mczirfusz commented on #2323
A question regarding this issue. _Is this behaviour the one which was intended?_
- The message in the Reviewers block is that a response is overdue.
- The message in the Round Status remained as it was before the patch: "A review is overdue".
![image](https://user-images.githubusercontent.com/16511307/38247614-3ea6c0c0-3746-11e8-9214-9af711423da7.png)
- As the latter information is used in the Act

[2018-04-03 13:24] AhemNason commented on #3464
Just a comment, Nate, that I think this looks excellent.

[2018-04-03 13:58] jmacgreg commented on #3464
Likewise Nate, this looks great! @AhemNason and I reviewed briefly, and will be following up with a few more questions/comments.

[2018-04-03 14:32] martinpub opened #3549 "[OJS] Issue cover on issue view page links to the same page"
Hi,

When viewing an issue in OJS, the cover image is currently linking to the exact same page (the path issue/view/[issue_id]). Is this intentional or something that could be removed in order to avoid linking confusion? Apparently, some of our editors expect the link to go to the issue galley, which I know is not possible due to the possibility of having multiple galleys.

Thanks for considering!

[2018-04-03 14:46] asmecher commented on #3549
@martinpub, what version of OJS are you using? (Please include this with your posts.)

Generally if you're asking a question it's best to use the forum (http://forum.pkp.sfu.ca/) but let me know what version you're using and we can have a look here.

[2018-04-03 15:40] ajnyga commented on #3464
These are beautiful "quick mockups"! I think the official name should be "Help or something".

[2018-04-03 19:04] asmecher commented on #3539
I don't have an opinion on the SaaS question in https://github.com/pkp/pkp-lib/issues/3539#issuecomment-377898525 -- maybe @jmacgreg does?

[2018-04-03 19:07] mtub commented on #3464
Really nice :+1:

[2018-04-03 19:35] martinpub commented on #3549
Hi, sorry @asmecher, it's 3.1.0-1. As I wasn't sure if this was a bug report or a feature request, I posted here.

[2018-04-03 19:43] asmecher commented on #3549
Thanks, @martinpub -- the link you're referring to is generated at https://github.com/pkp/ojs/blob/ojs-3_1_0-1/templates/frontend/objects/issue_toc.tpl#L32. Personally I use links like this all the time to grab/share URLs but I'm not sure if that's what was intended here. Tagging @NateWr for his opinion.

[2018-04-04 11:25] NateWr commented on #3539
I try to avoid adding options which only work when other, undeclared conditions are met (I know we have lots of these). In this case, such an option would only work if every context was using a theme with the specified theme area.

I'd rather require more manual intervention to solve a problem up-front than create confusion with a only-sometimes-working automated solution.

[2018-04-04 11:28] mczirfusz opened #3551 "Overdue response / overdue review clarification"
Currently in OJS 3.1, the _overdue response_ and _overdue review_ messages are confusing after the #2323 fix.
Details with screenshots: https://github.com/pkp/pkp-lib/issues/2323#issuecomment-378227227

Consider to

https://github.com/pkp/pkp-lib/issues/2323#issuecomment-378565907 @NateWr

[2018-04-04 11:29] NateWr commented on #3549
Yeah I think the link could be removed. I think maybe once we linked to a full-resolution version of the cover image?

[2018-04-04 16:07] ajnyga commented on #3130
Hi @NateWr
I noticed that the Editoria notes / gossip action is only visible for open review requests at the moment because of this condition (isAuthorBlind): https://github.com/pkp/pkp-lib/blob/master/controllers/grid/users/reviewer/ReviewerGridRow.inc.php#L148

Although the variable name suggest that it checks something about the author, it actually just checks the review method for the current

[2018-04-05 07:22] martinpub opened #3552 "[OMP] Upgrade script for OMP 3.1.1 halts at checkPhpVersion"
Hi! We are upgrading from OMP 3.1.0 to 3.1.1 and get an error when running the database upgrade script. The full output is this:

[code]
Any ideas? We are using git to upgrade.

Edit: I realised that maybe the forum is a better fit for this question, sorry about that.

[2018-04-05 08:52] NateWr commented on #3130
Hi @ajnyga, I haven't yet confirmed the issue, but I think you're right. The conditional check there should be:

[code]

[2018-04-05 09:52] ajnyga commented on #3130
Hi,

The $isAuthorBlind variable basically checks if the current review assignment row is a blind review assignment, right? (a better name would perhaps be $isReviewBlind?)

What I do not understand here is why would the Editorial notes action be depended at all on the review method? I mean even if this is trying to hide the editorial notes from an editor who is also the author of the submission,

[2018-04-05 14:00] ajnyga commented on #3423
So @NateWr if this is the reason for original issue, then I guess this could be easily fixed and closed. Unless there was something else in this thread that was about a different issue?

[2018-04-05 14:07] NateWr commented on #3423
I think @bozana took a closer look at this than me and she has a better sense of what needs to be done for this issue.

[2018-04-05 14:13] ajnyga commented on #3423
Ok sure, I think it is a fairly clear bug, I will add a pr here for you to review.

[2018-04-05 14:16] ajnyga commented on #3423
pr: https://github.com/pkp/pkp-lib/pull/3553

[2018-04-05 14:33] asmecher commented on #3552
@martinpub, are you sure your `lib/pkp` submodule is on the right branch/tag (to match the OMP repository)?

[2018-04-05 16:54] martinpub commented on #3552
Oh yes, @asmecher, that's most likely the problem, I forgot that. Will try it when I'm back at work, thanks!

[2018-04-05 17:07] asmecher commented on #3552
Pretty sure that's the cause, so I'll close this issue!

[2018-04-05 17:07] #3552 closed

[2018-04-06 06:17] martinpub commented on #3552
I can confirm this was the issue. Thanks @asmecher.

[2018-04-06 07:40] t4x0n commented on #2564
maybe you know that, but... in OJS 3.1.1 the titles with italics look like this yet:
![image](https://user-images.githubusercontent.com/5422984/38408550-69fb3ba6-3954-11e8-906c-3e7807eff102.png)
I think this was solved in this version

[2018-04-06 07:57] t4x0n commented on #3003
Hi @NateWr,
thanks for try to improve this issue, looks better and sometimes work, because when you click out the textfield the popover contract and the issue appear, but like I say now work sometimes, and I need to try in other browsers yet ;)

[2018-04-06 14:54] asmecher commented on #2564
Yes, italics/HTML in article titles isn't supported yet.

[2018-04-06 15:54] ajnyga opened #3554 "[OJS] Mass assigning stage participants"
Some journals tend to discuss the submissions together with the whole editorial board.

In these cases it would be nice, if you could assign multiple users to a stage at once. Basically, instead of having a radio button to choose the stage participant, there would be checkboxes in front of the user names.

I did not check the details of the code, but I think that this would be a fairly straight fo

[2018-04-06 17:00] asmecher commented on #3058
@NateWr, would you mind reviewing https://github.com/pkp/pkp-lib/pull/3555? It adds source maps in the `cache` directory with the same name as the `.css` file, with `.map` appended.

[2018-04-06 17:01] asmecher commented on #298
#520 got merged, and this is now quite old; closing.

[2018-04-06 17:01] #298 closed

[2018-04-09 06:07] jmvezic commented on #699
@Vitaliy-1 Was this issue ever pushed to OJS 2? Because I'm not getting all languages indexed in my installation either.

[2018-04-09 07:05] Vitaliy-1 commented on #699
Think no. As I wrote here it is complex problem. Because crawlers are indexing only one locale per URL, there is a need to change the URL to every non-primary locale.
I suppose, the best thing here is to give additional query string; and primary locale always should have default URL and be associated with indexing (DOI, PMID, OAI etc.)

[2018-04-09 10:37] jmvezic commented on #699
You mean as a parameter or as an actual part of path? I tried your solution with SessionManager but it gives me a "too many redirects" error. That could be due to the fact I already have some redirects based on the country of visitor, though...

[2018-04-09 11:55] Vitaliy-1 commented on #699
Suppose, as a parameter would be easier and I saw that this was implemented in minimum one OJS 2 journal. If you already have redirects its quite possible you need to rewrite that part of code. Keep in mind that approach with subdomain probably will require registering a subdomain.

[2018-04-09 12:33] NateWr commented on #3130
Editorial notes are attached to users, not review assignments. However, my thinking is that editorial notes are likely to contain information that could disclose identity. For example, we may eventually allow an editor to search for users by editorial notes. In such a case, an editor/author who can access the editorial notes of a blind reviewer could determine the reviewer's identity.

That's the

[2018-04-09 12:55] jmvezic commented on #699
Yeah, subdomain would actually be more difficult in my scenario, not because of the registering but because we also have an OMP installation and we plan on having a Wordpress installation as a base directory, all on the same domain.

In any case, I'll try doing a paramater and will report back here with how it goes.

[2018-04-09 12:56] ajnyga commented on #3130
Hi,

Yes hiding the editorial notes from the editor/author combo is understandable and yes, you are probably right that it is best to hide only the necessary things from the editor and editorial notes on open reviews is probably not among those. There is of course the possibility that the other editor dealing with the review stage writes something there regarding the selection of the reviewer that

[2018-04-09 13:25] ajnyga commented on #3130
sure! Probably later today.

[2018-04-09 13:37] bozana opened #3556 "getTemplatePath basePath"
The basePath in the function Plugin::getTemplatePath is wrongly concatenated, s. https://github.com/pkp/pkp-lib/blob/master/classes/plugins/Plugin.inc.php#L338. Instead of "+=" there should be ".=".
This function is currently only used in the UsageStatistics plugin, so the statistics graph cannot be displayed on the article page because of that.

s. also https://forum.pkp.sfu.ca/t/ojs-3-1-1-0-arti

[2018-04-09 13:55] bozana commented on #3556
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3557
ojs master: https://github.com/pkp/ojs/pull/1901 (submodule update only)

pkp-lib ojs-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3559
ojs ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/1902 (submodule update only)

[2018-04-09 14:31] NateWr commented on #3058
Hmm, after looking into this a bit, I realize I know much less about source maps than I thought I knew. :)

This change does create a source map and it does appear to be read by the browser:

![selection_127](https://user-images.githubusercontent.com/2306629/38502933-ac3ded86-3c08-11e8-8b06-0649118bda99.png)

But it points to the wrong paths for the source files, most likely because we don't load

[2018-04-09 14:32] NateWr commented on #3058
Also, when we add `.map` files we'll need to remove them when clearing the cache.

[2018-04-09 14:41] jmacgreg opened #3561 "Remove email requirement for authors/contributors"
Currently all authors/contributors to a submission (OMP, OJS, etc.) are required to have an email address. This is problematic for a few reasons:

- in the case of historical metadata where email addresses aren't known or don't exist
- where authors don't want to share their email addresses
- where submitting authors should take reasonable proactive precautions in terms of sharing personally ident

[2018-04-09 14:46] NateWr opened #3562 "Add separate fields for submission and distribution copyright terms"
Settings > Distribution > Copyright Notice is often used for displaying copyright terms to a submitting author, such as on the submissions page. However, it is also displayed in the licensing terms of the published article landing page. Typically, the author-facing terms are longer and require more legalese, whereas the published article needs a more concise statement of copyright/licensing terms.

[2018-04-09 14:57] rcgillis commented on #3562
For the licensing terms, we could possibly explore the usage of rights statements: http://rightsstatements.org/en/documentation/usage_guidelines.html
Would need to include a few things: who is the copyright holder? (e.g. the authors, the journal, a publisher). A license on top of who owns the copyright (i.e. Creative Commons, or possibly the Rights statements that I've referred to).

[2018-04-09 15:30] stranack commented on #3561
Strongly agree. When OJS is used for displaying digitized back issues, we currently have to add fake email addresses for every article, which is bad practice.

[2018-04-09 16:38] #3556 closed

[2018-04-09 16:43] asmecher commented on #1864
Closed in favour of https://github.com/pkp/pkp-lib/issues/3561

[2018-04-09 16:43] #1864 closed

[2018-04-09 16:43] asmecher commented on #3316
Closed in favour of https://github.com/pkp/pkp-lib/issues/3561

[2018-04-09 16:43] #3316 closed

[2018-04-09 16:45] bozana opened #3563 "place sr_SR migration before files migration"
during the migration from ojs 2 to ojs 3, the new file names are generated. if an article is using sr_SR locale, that does not exist any more in ojs 3.1, the file name generation using the locale keys “common.file.namingPattern” and “common.file.anonymousNamingPattern” will not work correctly i.e. the file name will be “##common.file.namingPattern##” and “##common.file.anonymousNamingPattern##”. t

[2018-04-09 17:18] bozana commented on #3563
@asmecher, could you take a look, if I maybe missed to consider something when changing this position... ?

[2018-04-09 17:49] asmecher commented on #3058
Hrm, I thought this was going to be an easy one-liner. I'll take another look. (TBH I've never worked with source maps at all.)

[2018-04-09 18:54] ajnyga commented on #3130
pr to fix the display: https://github.com/pkp/pkp-lib/pull/3564

The label for the editorial notes field now only states that "Notes entered here will only be visible to administrators, journal managers, editors, and subeditors". But as you said above these are notes that are saved for the reviewing user, not just the current review assignment at hand. So it would probably be a good idea to state

[2018-04-09 19:16] tfluhr commented on #3403
Hi.

We're still experiencing this issue. I have been able to edit nav menus by querying the database directly but still can not edit them through the UI.

Is there any additional info I can provide to help troubleshoot this?

Thanks!

-tim

[2018-04-10 00:40] israelcefrin commented on #3016
@bozana  I've committed a new patch to be applied into OJS3.1.1, given new OJS version shows hunk fail when I attempt  apply current one:  https://github.com/israelcefrin/ojs/commit/26ac913eefa6076c5827455746e8cfa0bf4cd06e
Should I create a pull request to master branch as you did?

[2018-04-10 03:21] t4x0n opened #3565 "[OJS 3.1.1] missing string editor.article.coverImage (all languages)"
hi,
in a submission, when you click on View Metadata is missing the string editor.article.coverImage
![imagen](https://user-images.githubusercontent.com/5422984/38534292-da212114-3c53-11e8-9aa3-5e643e29f4e4.png)

I looked in the repository, but only da_DK have this string: https://github.com/pkp/ojs/search?l=XML&q=editor.article.coverImage&type=

[2018-04-10 07:01] bozana commented on #3565
Hmmm... yes, it was removed with this change: https://github.com/pkp/ojs/commit/e0d97bc71491a5a9591eab6815de3572577c3ff8#diff-ee2e16995d3d642d898806a469e591d0. @NateWr, shall we reconstruct them?

[2018-04-10 07:06] bozana commented on #3016
@israelcefrin, I am not sure if GitHub will keep that link forever, also when you delete your branch or ... Maybe you could try? Else, in case of such a PR it will... THANKS!!!

[2018-04-10 07:25] bozana commented on #3423
Yes, the PR from @ajnyga, solves the bug, but the task notification is still to be made, as wished by @forgive38. I wanted to check with others in the team when in general we create those task notifications... then that fix will come too...

[2018-04-10 08:08] bozana commented on #2641
Hmmm... it is possible that someone does not use TinyMCE, correct? -- @asmecher, do we consider/support this in OJS 3? Then this solution will lead for the text to have no line breaks...
In OJS 2 it was the same...

[2018-04-10 08:31] ajnyga commented on #3540
In OJS3 disabling tinymce will cause a lot of errors. You basically can not use the settings area in OJS3 without it. So In my opinion it should be forced to be enabled (or move to whole tinymce plugin to the core)

[2018-04-10 08:48] NateWr commented on #3130
How about this?

(Can you roll this into your PR?)

[2018-04-10 08:54] NateWr commented on #3565
Arg! Yes, my bad. This should probably make it into any 3.1.1-1 release.

[2018-04-10 09:50] bozana commented on #3563
Hmmmm... I think one more thing has to be done: the default user_group_settings should be 'installed'/'updated' with this migration...

[2018-04-10 10:07] NateWr commented on #3500
Merged to `master`, `ojs-stable-3_1_1` and `omp-stable-3_1_1`. :+1:

[2018-04-10 10:44] ajnyga commented on #3130
Hi @NateWr
Changed the translation and the remaining isAuthorBlind variables. Do you have a some way of notifying other translators about these kind of changes? Maybe there should be a translator mailing list or similar?

[2018-04-10 11:54] bozana commented on #2641
Or, if we assume that TinyMCE is always used, as mentioned here https://github.com/pkp/pkp-lib/issues/3540#issuecomment-380018934, than we can leave the TinyMCE settings as they are and remove those `nl2br` everywhere for display, but maybe consider them for upgrade from OJS 2?

[2018-04-10 12:47] bozana commented on #3016
@israelcefrin, I will put the link to the PR here: https://github.com/pkp/ojs/pull/1906/files, so the PR can be closed...

[2018-04-10 12:50] israelcefrin commented on #3016
Tks @bozana, I will use this link as source for future upgrades from OJS 2.4.x.

[2018-04-10 14:37] NateWr commented on #3130
I believe all of our regular translators receive an email before a release. Marco might be overwhelmed if he had to manage translations for every change.

[2018-04-10 15:03] ajnyga commented on #3130
Sure, I was just thinking that cases like these where there is no totally new translation (no new or removed key), the change could go unnoticed.

[2018-04-10 16:07] ambs opened #3570 "Localization key typo"
Not too important, but there is this typo
submission.submit.form.citaionsRequired
on submission.xml

[2018-04-10 16:08] #3500 closed

[2018-04-10 16:10] harpraam opened #3571 "[OJS 3.1.1] Announcement not showing in main page"
halo all, can fix my problem?

![image](https://user-images.githubusercontent.com/26021475/38568957-3184317e-3d14-11e8-80f4-0bcf5399f159.png)

mainpage not showing
![image](https://user-images.githubusercontent.com/26021475/38568992-4c0cf35a-3d14-11e8-886e-305a673b9c2d.png)

[2018-04-10 16:48] asmecher commented on #3130
On locale keys that change meaning: if a re-translation is needed, I'll typically delete the old translation from all the locale files I can't provide good translations for. That forces the translator to retranslate and could result in a missing locale key if they don't get to it, but that's better than keeping an incorrect translation around.

[2018-04-10 16:51] asmecher commented on #3570
Good spotting -- fixed! (And cherry-picked back to `ojs-stable-3_1_1` and `omp-stable-3_1_1`.)

[2018-04-10 16:51] #3570 closed

[2018-04-10 16:53] asmecher commented on #3571
Hi @harpraam -- I see you're already working on this on [our support forum](https://forum.pkp.sfu.ca/t/ojs-3-1-1-announcement-in-homepage-not-show/40786). Please don't post the same issue multiple times -- the forum is the best place to track this down.

[2018-04-10 16:53] #3571 closed

[2018-04-10 17:02] asmecher opened #3572 "Remove OJS 2.x upgrade tools"
This is a place-holder for when we decide the OJS 2.x migration tools can be removed.

[2018-04-10 17:03] asmecher commented on #3572
To be grepped/remove:

- `SUBMISSION_FILE_PUBLIC` (and possibly other `SUBMISSION_FILE_`... constants)

[2018-04-10 17:09] marciofoz opened #3573 "Change database tables schema for Clustering"
When running PKP/OJS in Percona XtraDB Cluster (MySql Cluster), all tables are required to have a primary key. Not all of the PKP/OJS tables contain a primary key.

Reference: https://dev.mysql.com/doc/refman/5.7/en/group-replication-requirements.html

"Primary Keys. Every table that is to be replicated by the group must have an explicit primary key defined. Primary keys play an extremely importan

[2018-04-10 17:14] asmecher commented on #3573
@marciofoz, this is a side-effect of the database toolset we use for schema management (ADODB), and our need to support both MySQL and PostgreSQL, which have their own peculiarities around schema management, indexing, etc. If you'll look at those tables you'll generally find a unique index with a name that has a `_pkey` suffix. This takes the place of explicitly defined primary keys in a way that

[2018-04-10 17:16] asmecher commented on #3540
I think we should definitely force the TinyMCE plugin to remain enabled -- I've never heard of a good reason for disabling it -- or better yet, move it into the core and stop pretending it's an optional piece of OJS.

Are `nl2br` calls common for fields that are authored with TinyMCE? I wouldn't think so -- that combination would lead to a lot of extra whitespace, I think.

[2018-04-10 18:33] jmacgreg commented on #2430
Closing as we've only had one request for this, I don't think it's a pressing issue.

[2018-04-10 18:33] #2430 closed

[2018-04-10 18:37] mfelczak opened #3574 "With publication disabled Current and Archives pages still available via URLs"
In OJS 3.1.1 if the following is enabled: Settings > Distribution > Access > OJS will not be used to publish the journal's contents online

... then the Current and Archives navigation menu items are correctly not displayed but both the Current and Archives pages are still accessible via their respective URLs (along with associated articles).

For journals that use OJS to only manage submissions t

[2018-04-10 18:47] jmacgreg opened #3575 "Add a consent statement configuration option"
Similar but different to a privacy statement, a consent statement should be available for:

- user registration
- manuscript submission
- any eventual notification subscriptions that don't otherwise require user registration

Managers should be able to make consent mandatory for the above processes.

Some form of draft consent statement should be provided by default, but it should be editable - sa

[2018-04-10 18:52] jmacgreg opened #3576 "Add privacy statement to user registration page"
In OJS 3, the privacy statement is currently only included on the first page of article submission. It should also be included on any user registration page. (I think it was so in OJS 2.x, possibly just an oversight here.)

[2018-04-10 19:36] jmacgreg opened #3577 "Auto-prune user accounts after a period of inactivity"
Auto-prune inactive user accounts after a period of inactivity. The journal should be able to specify the period of inactivity, and the account into which the user should be merged. For example: if the journal enables this option, and sets the period of inactivity to 1 year, any user that hasn't logged in for 1 year should be merged into an admin account.

This should be an option for journals, se

[2018-04-10 19:42] crism opened #3578 "Clean code for PHP 7"
Summary of PRs: https://github.com/pkp/pkp-lib/issues/3578#issuecomment-404679076

## ojs
- [x] `PHP Warning:  Declaration of SubmissionFileDAO::fromRow($row) should be compatible with PKPSubmissionFileDAO::fromRow($row, $fileImplementation) in classes/article/SubmissionFileDAO.inc.php on line 23`
- [x] `PHP Warning:  Declaration of & UserSettingsDAO::getSetting($userId, $name, $journalId = NULL)

[2018-04-10 19:51] asmecher commented on #3577
I can think of other useful conditions that would need to be met: they should have no submissions assigned, no discussions/notes, no review assignments, etc. -- basically no participation anywhere in the workflow.

Is the goal to help clean up spam registrations? Are we getting spam registrations en masse with the current releases of OJS, or is this an archaeological dig?

I'd be tempted to put so

[2018-04-10 19:52] asmecher commented on #3578
(Be warned that the form stuff is potentially going to be a bunch of work. Things like plugin registrations are pretty trivial.)

[2018-04-10 19:53] crism commented on #3578
Thanks, @asmecher. I see you already fixed a few of these, too, after the 3.1.1-0 tag.

[2018-04-10 21:16] asmecher commented on #2297
Thanks, @ajnyga and @NateWr -- and apologies as always for being slow to respond. Nate, let me know if you're not sure about something.

[2018-04-11 03:41] ajnyga commented on #2297
Thanks! @asmecher, did you check the bug here: https://github.com/pkp/pkp-lib/issues/2297#issuecomment-377126319 (not related to the pr anymore, but will most likely affect something else later)

[2018-04-11 06:55] bozana commented on #3563
Thanks @asmecher! I've tested it, so I'll merge it...

[2018-04-11 06:56] #3563 closed

[2018-04-11 07:00] bozana commented on #3540
OK, thanks @asmecher and @ajnyga!
@martinpub, then yes, the solution @ajnyga suggested is the best way to solve the problem -- to write a script that will replace line breaks with html br elements in all those fields/values in the DB, if they do not already contain html.
Forcing TinyMCE to remain enabled can be then the separate issue...

[2018-04-11 07:01] bozana commented on #2641
OK, because we assume the TinyMCE to always be used, we do not have to do anything further here i.e. the removal of nl2br is correct...
Thanks @asmecher!

[2018-04-11 09:09] isgrim commented on #2818
We added another functionality:

Automatically send emails during the process of publishing an issue to the article authors who don't have a valid ORCID access token stored.
If the author then authorizes the ORCID profile access (by clicking the link in the email), the article will be added to the ORCID profile. This is the same email which will be send by ticking the chechbox on the author metada

[2018-04-11 12:36] alexxxmendonca commented on #3577
I agree that this is a good idea, but I also agree with Alec that it makes sense only if the user has no historical data. Because if they do have some historical data, that data would be added to the Admin's own historical data.

So in my view it would have be something like an auto-prune for completely inactive accounts.

[2018-04-11 13:57] bozana opened #3580 "UsageStatsOptoutBlockPlugin is not displayed"

[2018-04-11 15:19] bozana commented on #3580
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3581
ojs master: https://github.com/pkp/ojs/pull/1910 (only submodule update)

[2018-04-11 15:19] bozana commented on #3580
@NateWr, could you take a look at the PR above?

[2018-04-11 18:51] asmecher commented on #2297
Check out https://github.com/pkp/pkp-lib/blob/master/classes/security/authorization/AuthorizationDecisionManager.inc.php#L228 -- the `$callOnDeny` is passed into this by reference, thus gets set in the calling scope too.

[2018-04-11 19:12] ajnyga commented on #2297
Thanks!
I wonder why the example here did not work for me: https://github.com/pkp/pkp-lib/issues/2297#issuecomment-329101825 ? (not really important if you know that the code is correct at the moment)

[2018-04-11 20:50] mfelczak commented on #3574
Closing, was logged-in as admin during testing. This works as expected.

[2018-04-11 20:50] #3574 closed

[2018-04-11 22:30] asmecher opened #3585 "Allow a review round to be canceled after it has been created"
See https://forum.pkp.sfu.ca/t/new-review-round-while-previous-review-round-has-not-been-finished-yet/37686 for several useful suggestions.

- Don't enable "create new round"  button until revisions have been submitted
- Allow an empty review round to be deleted

[2018-04-11 22:44] asmecher commented on #2527
@Vitaliy-1, I'm having trouble replicating this locally, but I think what's probably happening is that one of the other plugins is assigning something different to the `$article` template variable, then the Recommend By Author plugin is using

    $articleArrays = $smarty->get_template_vars('article');

...to fetch what thinks is going to be a `PublishedArticle` object assigned by OJS, but it's tu

[2018-04-12 04:31] ajnyga commented on #2297
I give up! Hopefully I do not have to work with the policies any time soon 🤣

[2018-04-12 04:56] ajnyga commented on #2818
Hi!

Great to see you working on this, thank you!

About sending the emails when the issue is published. Would this lead to a situation where the journals need to send metadata to places like Crossref and DOAJ twice to get the stored ORCIDs included in the metadata? I mean when you publish the article and register the DOI you probably won't have the ORCID data stored yet and the automated registra

[2018-04-12 06:13] ajnyga commented on #2297
@NateWr nevermind the conversation above, the pr above is ready for review whenever you have the time.

[2018-04-12 07:07] martinpub commented on #3540
OK @bozana, thanks, we will get to it.

[2018-04-12 09:30] NateWr commented on #3130
That's a good question and I don't know what the implications are for what is effectively internal communication. Am I, for example, permitted to request a copy of any email that my builders may have sent to each other about me? Or do they have a right of privacy for internal communications? I don't know...

[2018-04-12 11:16] bozana commented on #3540
@martinpub, maybe you could post your solution here? -- for the others having the same problem, to have a start point... Or at least what DB fields are affected i.e. should be considered?

[2018-04-12 11:53] bozana commented on #2527
@Vitaliy-1, I also tested this locally with two simple plugins an did not have any problems, neither with `Templates::Article::Main` nor with `Templates::Article::Footer::PageFooter` hook. Thus, maybe to see what other plugins are using that hook in your installation and what are they doing with the `article` object? Or also to test it somehow step-by-step with your plugin, e.g. starting with a ve

[2018-04-12 13:38] martinpub commented on #3540
@bozana, sure we can, will report back here when we've had a chance to look at it.

[2018-04-12 14:00] NateWr commented on #3130
I wouldn't trust myself to interpret law, but tagging @jmacgreg because he's working through the GDPR stuff now.

[2018-04-12 14:01] isgrim commented on #2818
Hi @ajnyga,
some answers to the questions below. I will also be able to tell you more after an internal meeting next Tuesday.

Yes I think the same e-mail can be send when "schedule for publication" is selected, because the plugin already hooks into this step to send the meta-data for already published issues.

Yes the e-mails will still be sent, only the data pushing would then be disabled. But I

[2018-04-12 16:17] asmecher commented on #2818
Just a note about the members' API -- generally we're trying to avoid dependency on it, as most of our user community won't be able to pay for it. But if there are useful optional pieces of functionality that depend on it, then those would be fine to incorporate, as long as they're optional.

[2018-04-12 17:52] jmacgreg commented on #3130
I'll include this question in the GDPR policy document draft (to be sent out relatively widely on Friday, @ajnyga you'll receive access to this) for review. The question concerns stuff like reviewer comments, editorial history, etc. I don't have an answer at this time, and will appreciate a larger community perspective here.

[2018-04-12 19:30] ajnyga commented on #3130
Sounds good! After reading about GDPR for the past few weeks and talking with some library folks, I am not sure if anyone has all the answers. The clauses are just leave so much for interpretation.

[2018-04-12 20:10] marciofoz commented on #3573
@asmecher
Ok, I understand.
Let me know: changed the tables definitions, should the application address these new integrity constraints?
BR

[2018-04-13 07:42] isgrim commented on #2818
Yes, we are making sure that the plugin is still functional with the Public API. And like I wrote earlier in a comment, the collecting of ORCID ids via emails to author will still work with the free Public API.

[2018-04-13 07:48] ajnyga commented on #2818
This all sounds very good! Let me know if you need help with testing etc. Starting from next summer I will probably have more time to participate in coding as well, that is if there is any left then :)

[2018-04-13 07:56] ajnyga opened #3588 "[OJS] Creating a new discussion when user has two assignments causes a duplicate key error"
Hi,

Scenario: user has two stage assignments editor and funding coordinator. The user starts a new discussion. In the participant list the user is mentioned twice and also selected twice by default:
<img width="335" alt="nayttokuva 2018-4-13 kello 10 55 24" src="https://user-images.githubusercontent.com/16347527/38723280-3c829ee8-3f09-11e8-9ffc-772f4f3d2e1a.png">

If the user leaves both those se

[2018-04-13 08:00] ajnyga commented on #3588
Ok, so we just need to make sure that in queryform and querynoteform that there are no duplicate users in the list. I will send a pr soon...

[2018-04-13 08:32] NateWr commented on #3588
If can, try to concatenate their roles so all roles are still visible:

[2018-04-13 08:35] ajnyga commented on #3588
Technically this seems to be enough: `$newParticipantIds = array_unique($this->getData('users'));` here https://github.com/pkp/pkp-lib/blob/master/controllers/grid/queries/form/QueryForm.inc.php#L281

[2018-04-13 08:39] ajnyga commented on #3588
Ok, so this is not a similar issue in 3.1.1. There if you have a user with two stage assignments, it seems that the last assignment "wins". For example a user with editor and author assignment will only be visible in the discussion list with the author role.

[2018-04-13 08:49] ajnyga commented on #3588
Ok, so I will do the fix above to our server (will be moving to 3.1.1 after a couple of weeks) and I will do a pr according to your suggestion for the master branch. This is basically a visual enhancement that will show all the assigned roles for the user in the listing there. As I said, 3.1.1 will not cause a similar error as 3.1.0.1.

[2018-04-13 10:17] ajnyga commented on #2297
Ok, so in multijournal installations. Even if there is a site wide privacy policy, I guess it could be possible that a single journal has some different journal policies, right? Also joining the workflow of a new journal as an author will mean that your personal data is handled by different people than before, right?

@jmacgreg what do you think?

I think it would be easy to add a solution where e

[2018-04-13 11:37] MarHerUMR opened #3589 "[OJS3] API parameter year for issues does not work after update to 3.1.1.0"
The user _mlfct_ reported in the [german forum](https://forum.pkp.sfu.ca/t/rest-api-benutzen/39862/3) that the _year_ parameter for the issues endpoint does not work anymore:

The filter for volumes seems to be broken too.

I tested it myself with my development installation (updated to the current master branch yesterday) and could reproduce the error for the _year_ parameter. The API returned ev

[2018-04-13 13:00] NateWr commented on #2297
Use radio buttons so the user can see all the options at the start, and use `$userGroupDao->getDefaultByRoleId` to pre-select an option.

Not that I know of.

If this is necessary for GDPR then so be it. But I'd just like to encourage us to be a bit conservative about what extra conditions, checkboxes, and agreements we require a user to get through in the submission process. We should only ever a

[2018-04-13 13:06] ajnyga commented on #3576
Are we going to have a site wide privacy statement or separate privacy statements for each journal or both?

If we will have a journal privacy statement, what happens when user registers on site level to several journals at once? Or when a user joins a new journal later (gains for example author role in a new journal)? Related to https://github.com/pkp/pkp-lib/issues/2297#issuecomment-381127600

[2018-04-13 13:06] ajnyga commented on #2297
Ok, I will do a pr that adds the selection you mentioned. The privacy statement text I will leave out for now. Let's see what happens with the registration form first regarding GDRP.

[2018-04-13 13:12] jmacgreg commented on #2297
As a general practice I'd suggest always at least including a link to the journal's privacy policy whenever a user is updating their data (and that should maybe be filed as a separate issue). I don't think there's a need for an explicit consent action as part of enabling a role, if someone has already registered.

There should also be a means to consent to data processing as part of the submission

[2018-04-13 13:13] jmacgreg commented on #3576
I think "both", but at least ensure that things are available at the journal level first.

[2018-04-13 13:33] ajnyga commented on #2297
Ok so the privacy statement is actually already on the submission page...

[2018-04-13 13:56] NateWr commented on #3456
Hi @MarHerUMR, just coming back to take a look at this now. Can you share some example code of how you've modified the Static Pages plugin to make it compatible with this PR? That will give me a trail to follow when trying it out with some of our plugins.

[2018-04-13 14:03] NateWr commented on #3589
Confirmed.

[2018-04-13 14:03] MarHerUMR commented on #3456
Sure. Did you have a look into the [file](https://github.com/pkp/pkp-lib/files/1819028/help-work-in-progress.zip) file I previously uploaded? It contains the customized static pages plugin.

If it would be easier for you I could provide a work in progress pull request.

[2018-04-13 14:11] NateWr commented on #3589
PR:
https://github.com/pkp/ojs/pull/1912
https://github.com/pkp/ojs/pull/1913 (`ojs-stable-3_1_1`)

[2018-04-13 14:57] NateWr commented on #3589
Tests passed. Merged to `master` and `ojs-stable-3_1_1`.

[2018-04-13 14:57] #3589 closed

[2018-04-13 15:08] NateWr commented on #3554
User selection could be addressed alongside #2860.

[2018-04-13 15:37] NateWr commented on #3565
PR:
https://github.com/pkp/ojs/pull/1914
https://github.com/pkp/ojs/pull/1915 (`ojs-stable-3_1_1`)

@bozana I think I've restored all the translations that I removed. Can you give me another set of eyes on this?

[2018-04-13 15:51] NateWr commented on #2875
I'd love an assist on this one from someone with PHPUnit experience. :smile:

[2018-04-13 15:54] NateWr commented on #2815
I'm tempted to never fix this and instead just keep migrating grids over to ListPanels. Objections?

[2018-04-13 15:55] asmecher commented on #2875
Catch me on Slack!

[2018-04-13 15:56] NateWr commented on #3134
Closing as duplicate.

[2018-04-13 15:56] #3134 closed

[2018-04-13 16:01] NateWr commented on #2099
I believe this issue was addressed in #3130, so I'll close this. But please re-open if there's something more to do here.

[2018-04-13 16:01] #2099 closed

[2018-04-13 16:01] ajnyga commented on #3588
Adding all the stage assignments besides the user name is actually more difficult I thought. The reason is that at the moment the code is looping through the assignments. And inside one assignment there is only one role.

You could do this, but I hate that you are calling stage assignments dao twice:
[code]

[2018-04-13 16:17] pilasou opened #3590 "When a reviewer decline an invitation, he/she is still flagged as having 1 active submission"
Bonjour,

Problem occurs in the master branch code.

When a reviewer decline an invitation to review, dateConfirmed is set to NOW but not dateCompleted, (see file ReviewerAction.inc.php ligne 59 à 62).

In UI, even if the reviewer decline, it still has an active status in the reviewer selection window.

Repro step:
1) Make new submission
2) Connect as editor and send it to review
3) Select a revie

[2018-04-13 16:26] asmecher commented on #3590
@pilasou, are you asking about OJS, OMP, or OCS? How recent is your master branch checkout?

[2018-04-13 16:30] pilasou commented on #3590
OJS, we last sync yesterday.

[2018-04-13 16:54] asmecher commented on #2297
@ajnyga, if you're stuck on a particular aspect of the policy framework and want to walk me through a scenario (e.g. give me a database dump and set of steps to reproduce an unexpected outcome), I'd be happy to take a look. It's a pain to debug.

[2018-04-13 16:59] ajnyga commented on #2297
@asmecher the policy aspect is really not a problem here anymore, it was just a side track because I thought that there was a coding error there.

The discussion here has been really just about whether the enrollment should be automatic or not. We actually came to a conclusion that it should not be automatic and will be doing basically this: https://github.com/pkp/pkp-lib/pull/3542#discussion_r181

[2018-04-13 17:02] ajnyga commented on #3588
Ok take that back, this is a solution where you call the stageassignment dao for each user, but twice like above, what do you think @NateWr

[code]
(https://github.com/pkp/pkp-lib/blob/master/controllers/grid/queries/form/QueryForm.inc.php#L209-L237)

[2018-04-13 17:03] asmecher commented on #2297
Sure -- but if you find yourself bashing your head on this sometime later, the offer is available.

[2018-04-13 17:16] ajnyga commented on #3588
@NateWr the latter solution as a pr: https://github.com/pkp/pkp-lib/pull/3591
But unsure if that is the way to go...

[2018-04-13 17:49] pilasou commented on #3590
@asmecher here the code we add to correct the problem (ligne 59 in ReviewerAction.inc.php)
   $currentDate = Core::getCurrentDate();
   $reviewAssignment->setDeclined($decline);
   $reviewAssignment->setDateConfirmed($currentDate);
   if ($decline == 1) {
                $reviewAssignment->setDateCompleted($currentDate);
   }
   $reviewAssignment->stampModified();
   $reviewAssignmentDao->updateOb

[2018-04-13 19:14] asmecher commented on #3530
@NateWr, I don't see that in the test scripts -- maybe custom data or old data?

[2018-04-13 21:01] asmecher commented on #3590
@pilasou, I think the solution is not to include declined reviews in the counts at all, rather than marking declined reviews as complete (which probably has other implications and would require updating previously declined reviews too). Have a look at https://github.com/pkp/pkp-lib/pull/3592 and see if applying it in `lib/pkp` resolves the issue.

@NateWr, would you mind reviewing this PR? https:/

[2018-04-14 18:01] ajnyga commented on #2297
Hi, @NateWr @asmecher

This is the new version of the pr: https://github.com/pkp/pkp-lib/pull/3542

At the moment this is happening in master branch:
- if editor submits a manuscript and only has manager roles, the editor will be added to the contributors list of that submission, but not as an author in the stage assignments. This is probably what most editors expect when they send things like edi

[2018-04-16 08:32] ajnyga commented on #3508
The new https://github.com/pkp/pkp-lib/pull/3548 includes addition that always adds the current user to the new discussion as participant. This means mahager roles without stage assignment and also reviewers in review stage.

What is still missing though is the modal window saying "are you sure you only want to send this message to yourself?" We should not block that totally like https://github.co

[2018-04-16 09:38] NateWr commented on #3530
Yeah maybe! I haven't reset in a looong time. :+1:

[2018-04-16 09:51] NateWr commented on #3242
This sounds awesome! I'll get started today or tomorrow.

[2018-04-16 10:08] NateWr commented on #3547
A fix is in place with `citeproc-php`. When it is next released, just bump the version number and we should be good to go. :+1:

[2018-04-16 10:36] NateWr commented on #3508
I'm of two minds on this one. In general, I agree if someone wants to use a tool in a certain way we shouldn't block it unless we have a good reason. I send emails to myself all the time as a form of note taking. :)

However, I wonder if there are data-sanity reasons why we might want to enforce at least two participants in a discussion. The prospect of someone saving data in the system that would

[2018-04-16 11:38] bozana commented on #3530
@NateWr, everything all right, it can be merged.
And yes, it is true for the tests, s. https://github.com/pkp/ojs/blob/master/tests/data/20-CreateJournalTest.php#L62

[2018-04-16 12:06] jmvezic commented on #699
@asmecher

How should I go about doing this? In which file would it best to make these changes? I tried doing it in the header.tpl of a theme, but I get all sorts of errors (probably because I'm using RESTful URLs?)

I'm using 2.4.8.3, for reference.

[2018-04-16 15:41] bozana opened #3593 "issue galley locale required validation"
instead of using getSupportedLocaleNames here https://github.com/pkp/ojs/blob/master/controllers/grid/issues/form/IssueGalleyForm.inc.php#L47, the function getSupportedLocales should be used

s. also https://forum.pkp.sfu.ca/t/issue-galley-an-issue-galley-locale-is-required-what/41095

[2018-04-16 15:53] bozana commented on #3593
PRs:
ojs master: https://github.com/pkp/ojs/pull/1917
ojs ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/1918

[2018-04-16 16:43] bozana commented on #3565
@NateWr, I only took a look at the first PR assuming that the second is the same. Everything all right, just one comment/question :-) THANKS!

[2018-04-16 16:52] NateWr commented on #3565
Thanks @bozana. Good catch on that locale key! I've fixed that and redone the stable PR due to some rebasing issues. I'll merge when the tests pass.

[2018-04-16 18:02] jmacgreg commented on #2993
Hi all, see also https://pad.foebud.org/google-alternatives for some alternatives. The Recaptcha-specific section is quoted below:

[2018-04-17 07:16] #3580 closed

[2018-04-17 08:29] #3593 closed

[2018-04-17 08:57] NateWr commented on #3565
Merged to master and stable 3.1.1. :+1:

[2018-04-17 08:57] #3565 closed

[2018-04-17 09:40] NateWr opened #3594 "Implement form support in Vue.js/REST API"
_The commit history on this is very large, so I will summarize the PRs and discussion here._

## Summary
These PRs replace the context and site settings forms. A set of Vue.js components controls forms on the client side. Forms are submitted to the API, which uses service classes to validate, sanitize, get, create and update objects.

Significant infrastructural changes have been put in place, whi

[2018-04-17 09:49] NateWr opened #3595 "Implement modals/tabs support in Vue.js"
Modals and tabs represent a tricky problem for converting to Vue.js, because they are containers for other components. The typical Vue.js approach is to write components nested inside of other components directly into their templates, but this will make it much harder for third parties to customize our UI.

We'll need to think of a clever, consistent way of using [slots](https://vuejs.org/v2/guide

[2018-04-17 10:00] NateWr commented on #3456
Just linking the PR to this issue so it can be found more easily: https://github.com/pkp/pkp-lib/pull/3496

[2018-04-17 10:21] eniocarboni opened #3596 "The keywords and metadata Agencies if required block Submission"
In "Settings" -> "Workflow" -> "Tab submission" -> "section Submission Metadata" if we add the metadata "Keyword (s)" and "Supporting Agencies" and select "Required" then during a "Submission" we will have problems as described below:

when an author clicks in "New Submission" and arrives at step 3 "3-Enter Metadata" it happens that:

CASE 1: keywords free, agencies free
  always ok

CASE 2: keywo

[2018-04-17 12:50] bozana opened #3597 "remove double SQL for metrics supp file migration"
the same query is executed here: https://github.com/pkp/ojs/blob/ojs-stable-3_1_1/dbscripts/xml/upgrade/3.1.1_update.xml#L32
and here: https://github.com/pkp/ojs/blob/ojs-stable-3_1_1/dbscripts/xml/upgrade/3.1.1_update.xml#L32

s. also https://forum.pkp.sfu.ca/t/upgrade-from-ojs-3-0-1-1-to-3-1-1-takes-a-long-time-1hr/40980

[2018-04-17 12:56] bozana commented on #3597
PRs:
ojs master: https://github.com/pkp/ojs/pull/1921
ojs ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/1922

[2018-04-17 14:46] #3597 closed

[2018-04-17 15:22] jmacgreg opened #3600 "Make reader and author registration optional / opt-in"
Right now it looks like, when a user registers for a journal (OJS 3) they are automatically registered as authors and readers, with an option to also register as a reviewer. If there is an option to register for multiple different roles, these should be explicitly listed and available as opt-in only.

[2018-04-17 15:34] asmecher commented on #3596
Hi @eniocarboni -- what version of OJS (or OMP) are you using?

[2018-04-17 15:38] eniocarboni commented on #3596
ojs 3.1.0.1

[2018-04-17 15:53] asmecher commented on #3596
@eniocarboni, this is already fixed in OJS 3.1.1: https://github.com/pkp/pkp-lib/issues/3311

[2018-04-17 15:53] #3596 closed

[2018-04-17 15:56] eniocarboni commented on #3596
Thank you very much, I will update soon

[2018-04-17 17:08] asmecher commented on #3595
Forms are generally the lowest level of all the intertwingled JS handlers we use, so I think it'll make sense to work on some of those first (#3594) and then pick a fairly simple tab set to follow up with (e.g. the user profile tabs and/or the information center).

[2018-04-17 17:30] asmecher opened #3601 "Extend internal articles report round 1"
Add "URL" column (URL -> internal editor submission URL); add column for all metadata (eg. keywords should be a column; same w/subject; etc.); add DOIs (if available, even in draft form); add journal initials to .csv filename

[2018-04-17 17:32] asmecher opened #3602 "Add context to reports"
Add descriptive text for each report to their listing on the Statistics page; break out menu item into its own menu item

[2018-04-18 04:13] Vitaliy-1 commented on #699
@jmvezic
I suppose you need to intercept web request on a higher level in the class that is responsible for handling them. In OJS 3 I worked with SessionManager class. Although, maybe this can be done through a plugin with an appropriate hook (I'm not sure). I modified templates only for pointing the right links to locales' pages.

[2018-04-18 07:41] jmvezic commented on #699
@Vitaliy-1
I suppose I could have a go at it, I haven't interfered with classes yet for fear of breaking something. You think Google would "catch" the parameter if it was added dynamically through SessionManager?

[2018-04-18 08:49] NateWr commented on #3547
PRs:
https://github.com/pkp/citationStyleLanguage/pull/32
https://github.com/pkp/ojs/pull/1924

[2018-04-18 08:51] NateWr commented on #2887
Tests passed. @bozana can you do code review?

[2018-04-18 09:59] ajnyga commented on #2297
Sure, I will add that to the pr later today.

[2018-04-18 12:52] pkel opened #3604 "[OJS3.1] Supervisors' issues with the review process"
The following concerns were highlighted by the supervising staff of our
journal. They have to make sure that no submissions get lost or delayed
due to ambiguous communication between reviewers, authors and section
editors. They have to be able to track down inactivity of authors,
reviewers and section editors. The current submission list does not
support this very well.

**Related Issues:**  I fou

[2018-04-18 13:39] MarHerUMR commented on #3456
I just added the pr #3605, but screwed up the linking of the commit to the issue.

[2018-04-18 13:59] Vitaliy-1 commented on #699
1. If a user is using specific locale, the URL string must include specific locale parameter.
2. If a user goes to the link with specific locale parameter, the language should change appropriately.
3. Suppose, primary locale shouldn't have optional locale parameter in order not to break indexing that all your articles already have. Or you should provide redirection. For example, if you have DOI's,

[2018-04-18 15:07] jmvezic commented on #699
Okay, so I've made a bit of hack which could work in my case, I hope. I've added, in the `article/header.tpl` file of my theme the following code:

[code]

What that does is redirect the article view page to the URL which ends with `?lang=en_US`, for example `http://www.site.com/journal/article/view/1402?lang=en_US`. In case the user (or Googlebot for that matter) changes the language via the lang

[2018-04-18 19:11] ajnyga commented on #2297
@NateWr added that suggestion: #3542

[2018-04-18 20:37] progerjkd commented on #1793
I got the similar error when upgrading from ojs 2.4.8.3 to 3.1.1.0.

The patch that @mittinatten  [ ubbdst/pkp-lib@b29444d](https://github.com/ubbdst/pkp-lib/commit/b29444da6d1c2f130bcab17ac2edfac3129d6109) provided fixed the "ERROR: type "serial" does not exist".
But now i'm getting the following error:

$ time php tools/upgrade.php upgrade
[pre-install]
[load: upgrade.xml]
[version: 3.0.1.0]
[co

[2018-04-18 21:10] asmecher commented on #1793
@progerjkd, this is a closed issue -- could you post on the forum at http://forum.pkp.sfu.ca/ instead?

[2018-04-19 00:01] asmecher opened #3607 "Fix listing of custom block plugins in apperance form"
See https://forum.pkp.sfu.ca/t/ojs-3-1-1-the-newly-added-custom-blocks-cannot-be-repositioned/40839 for details.

[2018-04-19 00:09] asmecher commented on #3607
OJS 3.1.1-0 and OMP 3.1.1-0 users can fix this by applying [this patch](https://github.com/pkp/customBlockManager/commit/d16d3887857a627e584d8ab5806c49331a1e0485.diff) in the `plugins/generic/customBlockManager` directory.

If you're not comfortable patching, you can download and install [this version of `plugins/generic/customBlockManager/CustomBlockManagerPlugin.inc.php`](https://raw.githubuserc

[2018-04-19 00:09] #3607 closed

[2018-04-19 06:12] t4x0n opened #3608 "edit review assignment to add review form"
Many times the editors have forgotten to select the review form when sending a manuscript for review, and it is not possible to attach the form after the reviewer was assigned, it would be very helpful to incorporate this option.

There is currently no way to send the form to the reviewers if this error has been made.

[2018-04-19 07:30] ajnyga commented on #3608
do you mean change the review form from default to a custom form the journal has?

[2018-04-19 07:42] NateWr commented on #3456
So is #3496 now obsolete? Should that PR be closed?

[2018-04-19 08:55] eniocarboni opened #3609 "Keywords and Agencies metadata: when one of the two is mandatory"
With reference to the closed issue #3596, now with Ojs version 3.1.1.
If one of the keywords or Agencies metadata is a required field and this field is not filled in, it is notified perfectly but the content of the other field is also deleted (if it was compiled).

[2018-04-19 10:51] bozana commented on #3016
@israelcefrin, sorry, I think, this line should be also removed: https://github.com/bozana/ojs/blob/b942b210ce893e7714f226d1a912f1e14c3e7db9/dbscripts/xml/upgrade.xml#L162. Could you add it to your patch?

[2018-04-19 11:18] bozana commented on #3016
@asmecher, here are the PRs to remove the function `repairSuppFilesFilestage`:
ojs master: https://github.com/pkp/ojs/pull/1925
ojs ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/1926
OK so?

[2018-04-19 11:40] luisja58 opened #3610 "OMP-3.1.1.0 Payment side MENU does not appear"
When active  Payments  in Distribution Settings, the Payments menu does not appear on the left side.
If a user send notification of payment (Manual Fee Payment ), the manager can not see it.

[2018-04-19 11:59] ajnyga commented on #3016
Hi @bozana to sum up: we will never migrate the old OJS2 supplementary files back to supplementary files in journals that have already upgraded to OJS3 earlier?

[2018-04-19 12:42] luisja58 opened #3611 "[OMP-3.1.1.0] Payment send notification of payment Fatal error"
When  a user send notification of payment (Manual Fee Payment ): FATAL ERROR
Solution:
lack of library in lib\pkp\classes\payment\QueuedPaymentDAO.inc.php
add:   import('lib.pkp.classes.payment.QueuedPayment');

[2018-04-19 12:52] luisja58 opened #3612 "[OMP-3.1.1.0] Payment send notification: name of the file is null"
When notification is sent to the press of the paid item, the field name of the file does not appear.
Solution:
lack of library in: classes/payment/omp/OMPPaymentManager.inc.php
add lib in function getPaymentName
import('lib.pkp.classes.submission.SubmissionFile');

[2018-04-19 13:24] bozana commented on #3016
The function convertSupplementaryFiles, s. https://github.com/pkp/ojs/blob/master/classes/install/Upgrade.inc.php#L1054, is still there, for those migrating from OJS 2 now. It will migrate supp files from OJS 2 to the galleys grid. If this is not wished (because the journals actually never wanted those files to be public), that the patch above has to be applied first, before doing the upgrade.

[2018-04-19 14:06] bozana commented on #3609
Hi @eniocarboni, what do you mean with "the content of the other field is also deleted (if it was compiled)" ? Thanks!

[2018-04-19 14:12] bozana commented on #3609
Ah, I think I see what you mean... the other tagit fields

[2018-04-19 14:38] NateWr commented on #2860
I've converted the existing users grid to a ListPanel and now I'm looking at implementing the site-wide users list for admins. I've read through #440 and I have a few questions about use-cases and typical data. Can a few of you check my assumptions and answer questions here?

1. The most common use-case is an admin with no context-specific roles who wants to login as a Journal Manager to perform a

[2018-04-19 15:04] bozana commented on #3609
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3614
ojs master: https://github.com/pkp/ojs/pull/1927 (only submodule update)

pkp-lib ojs-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3615
ojs ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/1928 (only submodule update)

pkp-lib omp-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3616
omp omp-stable-3_1_1: https://github.com/pkp/o

[2018-04-19 15:05] bozana commented on #3609
@asmecher, could you take a look?

[2018-04-19 16:54] asmecher commented on #3611
@luisja58, are you able to send in a pull request for this? If not, I can take care of it.

[2018-04-19 16:55] asmecher commented on #3612
@luisja58, are you able to send in a pull request for this? If not, I can take care of it.

[2018-04-19 17:17] asmecher commented on #3610
@luisja58, you're correct that the manual payment plugin currently doesn't have an area to manage payments. This plugin isn't currently intended for production use, unless you manually intervene in the database or code a plugin to do so -- is the Paypal plugin not an option?

[2018-04-19 17:39] asmecher commented on #3609
These tagit controls are such a pain :P Yes, please go ahead, just a couple of minor comments!

[2018-04-19 17:58] asmecher commented on #2860
All correct, @NateWr, with just a few comments on point 4 (and implications for point 3). It's impossible to answer that question in a single way; consider the following very different but valid deployments:
- SaaS: Administrator will generally be service provider and will only log in to debug/provide support. Journal managers etc. will probably only be active in one journal and will not want to b

[2018-04-19 18:25] ajnyga commented on #2860
Just want to point out that https://forum.pkp.sfu.ca/t/ojs3-editing-user-roles-in-multi-journal-installations/28711 / https://github.com/pkp/pkp-lib/issues/3022 has a lot of requests and is fairly close to this issue.

I do a lot of enrolling for journals as site admin in a multijournal install. For me personally having to go to a context to do that is not a problem, it takes the same amount of ti

[2018-04-19 19:09] t4x0n commented on #3608
No, I say when you send to review a manuscript without choosing a form (by mistake). After that, you (as editor) cannot choose a review form, and the reviewer cannot see any form to submit he or she review comments. Sorry but I am not good at English... do you understand?

[2018-04-19 19:13] asmecher commented on #3600
This was an intentional change made with the front-end refactor; see https://github.com/pkp/pkp-lib/issues/1443#issuecomment-219802606. Does GDPR prohibit us from pre-checking these checkboxes? (Tagging @NateWr)

[2018-04-19 19:32] asmecher commented on #3594
So a couple of notes about the current Form Builder Vocabulary structure. Overall it's been inflexible and weird and unpleasant to work with, but there are a few things it has done decently:

- Abstracted away labeling and kept the required markup minimal (and accessibility standardized, if not wonderful)
- Managed details like TinyMCE support with the flip of an attribute
- Managed escaping/XSS (

[2018-04-19 19:40] asmecher opened #3617 "Investigate SQL Server support for OJS"
Contributed PRs:
- https://github.com/pkp/ojs/pull/1919
- https://github.com/pkp/pkp-lib/pull/3603

[2018-04-19 22:15] asmecher commented on #3590
@pilasou and @NateWr, thanks for the feedback -- I think I've found a solution that's shorter, better and easier: exclude declined reviews from consideration entirely by changing the join. Mind having another look at the PR (#3592)?

[2018-04-19 23:34] asmecher commented on #3242
@NateWr, https://github.com/asmecher/pkp-lib/commit/6f4efcbf436da1a6f5da572dbdb93ef82b439d05 should fix template overrides -- mind giving it a try? Which plugin are you working with for testing?

[2018-04-20 01:03] stranack opened #3618 "Add link to Review page on Revisions Required email template"
Could we add a link to the submission's Review page in the body of the Revisions Required email? I have had a large number of authors creating a new submission to upload their revised paper.

Some text and a link might help guide them in the right direction. E.g.,:

To upload your revised paper, go to the Revisions section of your original submission:
https://yourjournal.ca/...

[2018-04-20 03:32] ajnyga commented on #3600
I do not think it prohibits us from suggesting the selections as long as you can remove the selection easily.

[2018-04-20 06:50] ajnyga commented on #3608
just to make sure, do you have a custom form besides the default form OJS has? I did not know it is possible to do a review request without choosing a form. If that is possible, then I think it is a clear bug.

[2018-04-20 07:10] luisja58 commented on #3610
What we really need is that the user can choose the payment method they want, but if it is not possible, the first choice is to pay in cash (deposit account or bank transfer)

[2018-04-20 08:37] bozana commented on #3016
Ah, yes, now I understand -- those files have SUBMISSION_FILE_PROOF and are in the proof folder, but they do not have an associated galley -- that function `repairSuppFilesFilestage` did not create a galley for such files... because the `convertSupplementaryFiles` did it before, but this is however not true for new supp files uploaded to OJS 3.x... Grrrr...
I actually should consider assoc_type an

[2018-04-20 08:43] isgrim commented on #2818
@ajnyga Thank you for the offer. I will let you know if more testing is needed.

Because you showed a valid point, we decided to change the point in time when automatic mails are send to authors for collecting/authorizing ORCID record access. The e-mails will now be sent as a Submission is promoted to production, this also aligns nicely with the sending the meta data to in a later step when the co

[2018-04-20 09:04] ajnyga opened #3619 "[OJS] Uploading supplementary file revisions fails in some circumstances"
Hi @bozana  and @asmecher

Here is a nasty little bug, enjoy :wink:

OJS 3.0.1 (probably also 3.1.1)

Scenario:
Author uploads revision files (probably applies to other uploading situations as well).
- Upload file A as a new file, select article component "other"
- Upload an almost similar file B and select "this is not a revision of an existing file" and article component "other"
- Continue => OJ

[2018-04-20 09:34] ajnyga commented on #2818
Thanks @isgrim, sounds good!

Concerning the question you had, I personally do not see it as a problem that the journal primary contact is sending those messages. It is already used to send a lot of other similar messages. There is a bounce setting in Settings > Workflow > Emails. Can you see if the applies to messages sent by plugins as well? I do not have a clear idea how it works in OJS.

[2018-04-20 10:26] #3609 closed

[2018-04-20 10:29] bozana commented on #3016
The function to find the wrongly migrated supp files using the old, buggy function `repairSuppFilesFilestage` would be:
[code]
Then it have to be seen, in what file_stage those files actually are, in order to migrate them back correctly.

[2018-04-20 14:45] defstat opened #3622 "OJS 3.1.1 Submission Library upload link error"
see also: https://forum.pkp.sfu.ca/t/ojs-3-1-1-submission-library-upload-link-to-a-black-page

[2018-04-20 15:14] defstat commented on #3622
@asmecher

PRs:
pkp-lib: #3623
OJS: pkp/ojs#1931

[2018-04-20 15:19] jmacgreg opened #3624 "Improve handling of cookies to eliminate cookie content for unregistered users"
**Describe the problem you would like to solve**
OJS creates a session cookie for every user who visits a journal. This requires journal providers under European GDPR laws to get consent to use a cookie from every user.

This is annoying and unnecessary for readers of the journal. And it is difficult to configure for publishers.

**Describe the solution you'd like**
Remove the requirement to use c

[2018-04-20 15:35] bozana commented on #3619
Phew, I am investigating... I think I found the bug... will come back soon...

[2018-04-20 15:48] bozana commented on #3619
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3625
ojs master: https://github.com/pkp/ojs/pull/1932 (only submodule update)

[2018-04-20 15:48] bozana commented on #3619
@ajnyga, could you maybe test the pkp-lib patch?

[2018-04-20 16:05] bozana commented on #3609
Hmmm... Actually this should be correct... Hmmm... Could you double check if the changes are in your file lib/pkp/controllers/tab/publicationEntry/PublicationEntryTabHandler.inc.php?

[2018-04-20 16:11] eniocarboni commented on #3609
Yes checked, there are in the file.

[2018-04-20 17:39] bozana commented on #3609
Hmmm... I've just checked it in my local master branch -- it should be the same as 3.1.1: I have keywords required and supporting agencies enabled but not required. Then I enter something in the supporting agencies field and nothing in keywords filed. I get the form error message, but the supporting agencies filed input is still there... :-O

[2018-04-20 17:41] bozana commented on #3609
Did you entered it so that a "tag" is made out of it i.e. adding a coma and a space after a word? Hmmm.... :astonished:

[2018-04-20 20:42] eniocarboni commented on #3609
Ok, maybe I understand that we are looking at 2 different parts.
If, as an editor, you go to an existing submission and then click on the top in "Metadata", then everything works perfectly (as you describe it).
If, instead, as an author, you creates a new "submission" and you get to step 3 "3-Enter Metadata", then here you have the problem as described in my first comment with reference to the iss

[2018-04-21 23:38] t4x0n commented on #3608
If I understand, OJS does not have a default form for reviews, and I talk about this kind of forms:
![imagen](https://user-images.githubusercontent.com/5422984/39089382-5b99257e-459c-11e8-83e6-cec5502e2397.png)

and about that, of course, we have customs forms for reviews, but the problem is when an editor forget to assign a review form, like in this picture:
![imagen](https://user-images.githubus

[2018-04-22 14:11] thiagogomesverissimo opened #3628 "[OCS 2.3.6] Schedule events in the past with more than 2 years ago (route: manager/timeline)"
Hi,

There are situations that we need to register events that happened more than two years ago, so I think we could change the code below and make it more flexible.

File: classes/manager/form/TimelineForm.inc.php

[code]

[2018-04-23 09:32] NateWr commented on #3590
This may complicate https://github.com/pkp/pkp-lib/issues/3344. Editors want to know the ratio of declined submissions, and maybe also a count (is it 2/3 or 40/60?), when selecting reviewers.

From an API standpoint, we should probably be delivering information on the number of declined review assignments at `/users/reviewers`.

[2018-04-23 10:07] NateWr commented on #3600
**AUDIBLE GROAN**

[2018-04-23 10:39] NateWr commented on #3242
Hmm, maybe I'm missing a step to get this working for me? I have:

- Pulled the PRs for OJS and pkp-lib. They appear to have all commits.
- Run `composer update` in `lib/pkp`.
- Checked out the `i3242_smartyv3` branch of the `browseBySection` plugin.
- Activated `bootstrap3` theme.

When I load the frontend, the site loads the default templates and none of the ones from the theme. Any theme that d

[2018-04-23 10:43] bozana commented on #3016
@asmecher, the PR from @israelcefrin would then be the right one -- to migrate supp files from OJS 2 to submission files grid only, and removing the function repairSuppFilesFilestage: https://github.com/pkp/ojs/pull/1906/files. Could you take a quick look i.e. confirm, if OK so?

[2018-04-23 10:55] NateWr commented on #3022
I've given this a "Community Priority" label because there does seem to be demand in the forum for better handling of this scenario.

I think we should consider an "Invite user to be a X" feature. It would send an invitation email, which would grant a user a role when they click on the link in the email. It should also display the invitation URL, so a Journal Manager can copy/paste that into any e

[2018-04-23 11:06] ajnyga commented on #3022
Hi,

Invite makes sense and would work very well IMHO, I think this was also discussed as one option in the forum thread above.

A connected matter is that is it ok GDPR wise that for reviewers we create an user account (name, email) without the consent of the user when the reviewer does not exist in the database?

[2018-04-23 11:07] ajnyga commented on #3016
(waiting for repairRepairRepairSuppFilesFilestage 🤣 )

[2018-04-23 11:15] bozana commented on #3016
:rofl:  Correct... Sorry... :worried:

[2018-04-23 11:15] bozana commented on #3609
Ah, OK, I see... will take a look... forget about that... :-P

[2018-04-23 11:39] bozana commented on #3016
@ajnyga, the latest decision is that we will not migrate supp files as galleys but only to submission files grid... -- it seems that this is the case how mostly the supp files were used in OJS 2...

[2018-04-23 11:42] ajnyga commented on #3016
So the supplementary files will not be added as galleys at all after upgrade from OJS2 to OJS3? Meaning that if there is an article that has actual supplementary files, these have to be added manually after the upgrade? Right?

[2018-04-23 11:45] bozana commented on #3016
Yes, I think so. S. https://forum.pkp.sfu.ca/t/ojs-3-1-1-bug-image-files-missing-for-all-papers-including-published-papers/40645/12.
We could then maybe provide a patch the other way around -- for those that do want to have them as galleys... :-)

[2018-04-23 12:29] bozana commented on #3609
I added the PRs above. @eniocarboni, would it be possible for you to test if these changes solve the problem: https://github.com/pkp/pkp-lib/pull/3630? THANKS!!!

[2018-04-23 16:33] NateWr commented on #2860
Thanks, that's helpful! A couple more technical questions/assumptions:

1. There will only ever be one `ROLE_ID_SITE_ADMIN` account and that account will have the role assignment on every context?

2. Only `ROLE_ID_SITE_ADMIN` should have access to the site-wide user list?

3. When a user is disabled, they are disabled from all contexts or just the "current" one? If the latter, should disabling fr

[2018-04-23 17:53] asmecher opened #3632 "Filter out un-actionable plugins from plugin grid by default"

[2018-04-23 18:11] ajnyga commented on #2860
My own views:
1. In a multijournal installation it could be handy to have more than one, but not a big deal at least for us. The site admin should have a role assignment in every context, but it would not require things like task notifications for new submissions from every context.

2. Probably a good idea to limit the access for just site admins.
But for situations where a journal manager wants

[2018-04-23 22:05] stranack opened #3633 "Ability to modify email before publishing a new issue"
When an editor chooses to notify readers when publishing a new issue, they do not see the email text that is going out and do not have the ability to modify the template text.

It would be helpful if they could see/modify the email before hitting Send and having it go out.

[2018-04-24 08:13] ajnyga commented on #3633
There is no dedicated template when publishing a new issue. It uses a generic notification template.

I agree that the message used now is too simple, see: https://github.com/pkp/pkp-lib/issues/2406
Also see

[2018-04-24 09:06] eniocarboni commented on #3609
@bozana, yes, the problem no longer exists.

[2018-04-24 14:25] jmacgreg opened #3635 "Add context to user profile "API Key" tab"
The "API Key" tab in the user profile may be confusing to users who don't know what it's there for. Some context should be provided. I'd suggest describing briefly what the key can be used for, and what is needed to complete configuration. If there is a permanent location to API documentation, consider linking to that.

[2018-04-24 18:46] ajnyga commented on #3619
Well that was a long movie, but the good guys won in the end!

It worked very well, thank you!

[2018-04-24 19:39] ajnyga commented on #2297
@asmecher this would be ready for review as well. https://github.com/pkp/pkp-lib/pull/3542

[2018-04-24 20:56] crism opened #3637 "User notification form crashes in site-wide context"
[code]
Call to `$context->getId()` fails since there is no active context. Needs the usual dodge to set it to 0…

[2018-04-24 21:26] stranack opened #3638 "Suggested username removes accented character"
When a new user with an accented name registers (e.g., Joe Valdés), the Suggest tool strips out the accented character, suggesting: jvalds

Is there an easy way to allow the most accurate unaccented version -- e.g., jvaldes

[2018-04-25 03:58] ajnyga opened #3639 "[OJS] Introduce "Publish only" mode to OJS/OMP to simplify workflow"
Hi,

This is a large change in OJS, but I think that many journals would benefit from it.

There are a lot of journals that use OJS just for publishing purposes, meaning that they do not accept new submissions or use most of the editorial workflow.

These journals usually just use the quicksubmit plugin to add new manuscripts. However, the whole workflow is designed only thinking journals that do

[2018-04-25 09:31] NateWr commented on #3635
I think we shouldn't show the API Key tab in the user profile unless the `api_key_secret` is set in the config file. That should get it out of the way for 99% of users.

I also think there's a case, for now, for only showing it to Admins and Journal Managers. It's still in such a young state, and we're not aware of any third-party integrations. Anyone experimenting with it is likely to be an Admin

[2018-04-25 09:59] ajnyga commented on #3608
Sure

[2018-04-25 14:21] bozana opened #3640 "remove viewInformationCenter link on the submisison step2"
As on other submisison files grid, there should be no action link "More Information" for authors on the submission step2.
S. also https://forum.pkp.sfu.ca/t/ojs-3-the-current-role-does-not-have-access-to-this-operation/24614/23

[2018-04-25 14:28] bozana commented on #3619
OK, then I will rebase, merge and cherry-pick... THANKS!!!

[2018-04-25 14:56] bozana commented on #2860
Maybe just one comment on the first item:

It is so per default, using the system functions i.e. the only admin user is created at the installation. But there are lots of cases where the users add another "admin" user manually in the DB.

[2018-04-25 15:38] bozana commented on #3640
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3644
ojs master: https://github.com/pkp/ojs/pull/1939 (only submodule update)

[2018-04-25 16:13] t4x0n commented on #3608
"OJS does have a hardcoded default form" sorry @ajnyga, I never saw this form except now that you tell me that it exists, everyday you learn something new 😄

so, about my initial comment? when editor send to review a manuscript without choosing the custom form, if I understand, you are considering edit this part of the process for add the form?

thank you!!

[2018-04-25 16:53] stranack opened #3646 "When publishing new issue, PUBLISH_NOTIFY template not used"
I expected the email that goes out to readers when I publish a new issue to be based on the PUBLISH_NOTIFY template, but it does not. Instead, it uses the more basic notification email:

You have a new notification from Maximum Journal of Theme Testing:

An issue has been published.

Link: https://dev.publicknowledgeproject.org/ojs3/uiux/index.php/max/issue/current

Can we use the PUBLISH_NOTIFY t

[2018-04-25 17:06] t4x0n opened #3647 "add Spanish translate for plugins"
I add some xml files for plugins Spanish translate:

PR: pkp/ojs#1934 (subscriptions plugin)
PR: pkp/ojs#1933 (recommend by similarity plugin)
PR: asmecher/lensGalley#27 (lens galley)

[2018-04-25 17:09] t4x0n commented on #3570
@asmecher look this PR: pkp/pkp-lib#3626 and consider it for fix the same issue in pt_PT

[2018-04-25 19:26] ajnyga commented on #3536
@NateWr https://github.com/pkp/ojs/pull/1941

[2018-04-26 04:03] ajnyga commented on #3608
This is what I have in my test installation now (I still have to do some testing before a do a pr, but almost ready):

<img width="793" alt="nayttokuva 2018-4-26 kello 6 55 23" src="https://user-images.githubusercontent.com/16347527/39285020-e0aafb2c-491e-11e8-9595-95c3159968c1.png">

@NateWr note that I changed the default label there and will also change it for the form used to assign a new revi