[2020-11-27 17:02] NateWr commented on #6385
Ok, I've updated the PKP ones and all of my little test plugins. @ajnyga and @Vitaliy-1 just a heads up here. There is no urgency to this, but you'll want to convert your plugins' locale files from XML to PO for a 3.3-compatible release. You can generate the PO file with:

[code]

[2020-11-27 17:02] #6385 closed

[2020-11-27 17:14] asmecher commented on #6386
I just made that function `final` in `Plugin.inc.php` rather than enforcing it in the surrounding code. That'll force plugin devs to fix up their code.

[2020-11-27 17:21] NateWr opened #6387 "Restore keywords tests"
With https://github.com/pkp/pkp-lib/issues/6378 the tests for inputting keywords in the backend have been failing. The tests pass on my machine, so I think the UI control is still working. I removed the tests in https://github.com/pkp/ojs/pull/2920/commits/a1a0bfbb6679819bfa2943e766a5e1584b36e2a3 so that the changes could be merged for 3.3's RC. But they should be fixed and restored before 3.3 is

[2020-11-27 17:23] NateWr commented on #6378
Arg! Sorry @asmecher, the tests got me again. The tests are failing around the keywords input during the workflow (not submission) and I've been unable to sort it out. I've removed all references to the keywords metadata control from the tests, so the OJS test should pass. Can you merge this in once those have passed?

I've filed a separate issue for me to fix and restore the metadata tests at htt

[2020-11-27 17:25] asmecher commented on #6380
Merged -- thanks, @defstat!

[2020-11-27 17:57] amandastevens commented on #6324
Thanks, Nate, I understand now why it's set up this way.  I remember there being discussion when 3.2 was released about re-allowing Section Editors to schedule articles for publication in an upcoming release. Is that still planned?

[2020-11-27 18:44] asmecher commented on #6321
Thanks, @hcoussy, I've committed all of these to the `master` branch; we're about to release the Release Candidate for OJS 3.3 and will test this thoroughly!

[2020-11-27 18:44] #6321 closed

[2020-11-27 18:46] asmecher commented on #6375
It's the perfect time to tag @bozana :) See related: https://github.com/pkp/pkp-lib/issues/440

[2020-11-27 19:21] withanage commented on #6377
@asmecher  thanks for  pointing out.

I have fixed  the  tests and retagged the 3_2_1-2.

@arturbonnett   I have tested it with the sandbox API. It would be nice, if you could also test it.

[2020-11-27 19:46] asmecher commented on #1921
This issue is flagged against OJS 3.3 but the 2.x to 3.x upgrade process has been removed, so those still doing 2.x migrations will need to upgrade first to the newest OJS 3.2.x. I'm going to close this as a WONTFIX as it doesn't affect all users and there are workarounds documented here.

[2020-11-27 19:46] #1921 closed

[2020-11-27 19:48] asmecher commented on #4637
Cosing -- the translator plugin has been obsoleted by the move to Weblate.

[2020-11-27 19:48] #4637 closed

[2020-11-27 19:54] asmecher commented on #4560
Fixed in pkp/pkp-lib#4883

[2020-11-27 19:54] #4560 closed

[2020-11-27 20:07] asmecher commented on #6378
All merged -- will bump submodules in the repos, but the tests on your PRs worked. Thanks!

[2020-11-27 20:07] #6378 closed

[2020-11-27 20:21] ajnyga commented on #5819
OPS: https://github.com/pkp/ops/pull/79
pkp-lib: https://github.com/pkp/pkp-lib/pull/6354

[2020-11-27 20:54] amandastevens commented on #6008
I don't think any of the documentation refers to specific system requirements or PHP version. Guides that have a section about installing always refer to the README or software download page on the website for requirements

[2020-11-27 22:44] mhvezina opened #6389 "Trying to register an article with the DOAJ plugin throws an error : new DOAJ API version"
[Context OJS 3.1.2-4]

Trying to register an article via the DOAJ plugin throws an error:

![image](https://user-images.githubusercontent.com/10760472/100487530-1b5b4400-30d7-11eb-8d4c-6db907dabd5a.png)

DOAJ has released version 2 of the whole API. All the URLs that were currently used for the API should be changed from “/api/v1/{endpoint}” to “/api/v2/{endpoint}”.  (https://blog.doaj.org/2020/07

[2020-11-27 22:50] asmecher commented on #6389
@dommitchell, is the API v2 backwards-compatible with the API v1? (There are thousands of deployed OJS installs that are going to be giving this error -- if it's possible to set the DOAJ service to respond to the v1 API without a redirect, that might save both our teams a lot of work!)

[2020-11-28 05:38] dommitchell commented on #6389
Thanks @asmecher and @mhvezina I am checking with our developers.

[2020-11-28 17:02] Vitaliy-1 commented on #5917
PRs
pkp-lib master: https://github.com/pkp/pkp-lib/pull/6388
OJS master: https://github.com/pkp/ojs/pull/2924
OMP master: https://github.com/pkp/omp/pull/887
OPS master: https://github.com/pkp/ops/pull/87

[2020-11-29 21:47] thumos333 commented on #6329
@NateWr Thanks! I told the admin to take a look at this value and he fixed it. No more 'index.php' in address lines.

[2020-11-30 06:01] ajnyga commented on #6385
could assign me to this so that I won't forget

[2020-11-30 08:08] withanage commented on #5912
Hi everyone,

If any of you would like to test the plugin in OJS 3.2, you can install  it from  until it goes into the plugin-gallery.

https://github.com/withanage/ror#installation.

I am thankful for any early-testing feedback.
https://github.com/withanage/ror/issues

[2020-11-30 09:46] NateWr commented on #6324
Section Editors assigned to the submission should be able to schedule articles for publication if the Section Editor role is assigned to the Production stage (in the default role configuration, this is the case).

[2020-11-30 10:49] NateWr opened #6390 "Issue filter leads to fatal error"
**Describe the bug**
Using the new issue filter in the submissions list leads to an unexpected error. This is caused by a fatal error when the API handler tries to count the issue result iterator.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Submissions > Active
2. Type into the issue filter.
3. See error

**What application are you using?**
3.3 RC

**Additional information**
The er

[2020-11-30 10:50] NateWr commented on #6390
PR:
https://github.com/pkp/ojs/pull/2925

[2020-11-30 11:02] NateWr opened #6391 "Confusion when article assigned to issue but not scheduled for publication"
**Describe the problem you would like to solve**
In 3.2 the issue assignment and scheduling for publication actions were separated, so that it is possible to assign a submission to an issue without scheduling it for publication. This led to confusion for editors who assigned submissions to issues but didn't realise they still had not scheduled it for publication.

The issue assignment field was up

[2020-11-30 11:36] #6380 closed

[2020-11-30 15:29] NateWr opened #6392 "Create and delete discussion leads to fatal error"
**Describe the bug**
When creating or deleting a discussion, a fatal error is encountered related to the ADODB removal.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any submission.
2. Create a discussion.
3. See error.
4. Reload page and try to delete the empty discussion.
5. See error.

**What application are you using?**
3.3 RC

**Additional information**
Fatal error when creating

[2020-11-30 15:32] NateWr commented on #6390
Merged.

[2020-11-30 15:32] #6390 closed

[2020-11-30 15:55] heike-r commented on #6278
As journal editor, I would greatly appreciate an additional metadata field in the article metadata. Some of our authors deposit data in specific repositories (DNA sequences, automatically generated images, satellite data, spectroscopic data, raw microscopy images, ....) and we would like to ask more of them to do this. However, we would not publish the datasets themselves as there are far to many

[2020-11-30 16:11] NateWr opened #6393 "Author can not access review stage"
**Describe the bug**
When the author tries to access the review stage the tab does not load and there is a fatal error encountered due to the ADODB rewrite.

**To Reproduce**
Steps to reproduce the behavior:
1. Move a submission through the review stage into the production stage.
2. Login as the author and go to the author view of the submission workflow.
3. Click the Review tab.
4. See error

**W

[2020-11-30 16:25] heike-r opened #6395 "indicate equal author contribution and corresponding author"
The succession of names in the author list is very important in our field of research. Usually, the first author gets the most credit. Thus, it is very important that we can indicate if the first and the second author contributed equally to an article. We can do this in the pdf but to see this directly on the article's website in OJS would be also important.

_Suggestion for solution_
Maybe add a

[2020-11-30 16:25] NateWr commented on #6393
PR:
https://github.com/pkp/pkp-lib/pull/6394

Tests:
https://github.com/pkp/ojs/pull/2926
https://github.com/pkp/omp/pull/888

[2020-11-30 16:42] NateWr commented on #6278
Thanks @heike-r! Do you know if DataCite's `relatedidentifier` specifies what kind of relationship there is? There are a lot of potential things that a related DOI might represent, and I suspect other metadata depositing services might have their own categories. It would be interesting to know what Crossref supports.

If there's enough overlap, it could be a distinct metadata setting. But if the d

[2020-11-30 16:53] NateWr opened #6396 "Editor can not share files to be reviewed with reviewer"
**Describe the bug**
When assigning a reviewer, the editor can select which files to be shared with the reviewer. Even if they select files to be shared, these do not appear the reviewers list of Review Files.

**To Reproduce**
Steps to reproduce the behavior:
1. Move a submission to review.
2. Upload a file to Review Files.
3. Add a reviewer. Before finalising the add, check the "Select files for

[2020-11-30 19:20] asmecher commented on #5912
@withanage, this is exciting! We have tagged the OJS3.3 RC1 as `3.3.0.0` in the release (and will reserve `3.3.0.1` for RC2, and so on). This means you can add testing versions of the plugin to the plugin gallery by designating them as compatible with 3.3.0.0 if you like -- it'll make it easier for people to test with.

[2020-11-30 19:47] jmacgreg commented on #5912
Awesome news, Dulip! I'll let the PS team know.

[2020-11-30 20:51] asmecher commented on #5035
Covered by: https://github.com/pkp/pkp-lib/issues/2102

[2020-11-30 20:51] #5035 closed

[2020-12-01 04:51] epistemehealth commented on #6395
One issue that I wonder about with co-first authorship, is whether Crossref metadata can work with multiple "first" authors. I have tried testing this using the Crossref [Metadata Quality Check](https://www.crossref.org/02publishers/parser.html) with two authors with the attribute `sequence="first"`. It didn't throw any errors, but I don't know if anyone has ever registered co-first authors via Cr

[2020-12-01 05:32] epistemehealth commented on #1661
Can I add another +1 to shift this up the workflow?
Reviewers should get their thank you email upon review submission. This is standard practice for every other submission and review system I have used.

It's currently (OJS 3.1.2-1) unavailable until a review has been read by an editor. But it makes sense for an editor to wait until all the reviews for a paper are in before reading them. This mean

[2020-12-01 07:37] heike-r commented on #6278
@NateWr
What I gathered from the documentation of the DataCite Metadata Schema 4.3 (https://support.datacite.org/docs/schema-optional-properties-v43) is this:

**relatedIdentifier**
Definition: Identifiers of related resources. These must be globally unique identifiers.
values: freetext

**relatedIdentifierType** (mandatory if relatedidentifier is given)
values: controlled list with 19 options (mo

[2020-12-01 11:21] NateWr commented on #6278
Thanks @heike-r, that's helpful! I wasn't sure looking at the DataCite documentation whether there was a `relationType` that is appropriate for datasets, but the Crossref link you posted specifically mentions datasets.

So for DataCite we'd use the following:

[code]

There's an alternate `relatedIdentiferType` of `URL` that we could use when a DOI does not exist. So it could be:

[code]

Since Cr

[2020-12-01 11:47] NateWr commented on #5917
All merged, thanks @Vitaliy-1!

[2020-12-01 11:47] #5917 closed

[2020-12-01 12:20] NateWr commented on #6393
Merged.

[2020-12-01 12:20] #6393 closed

[2020-12-01 12:26] NateWr commented on #6395
This is going to be a really difficult one for us to do adequately across so many different disciplinary norms. (For example, in some disciplines there are distinctions to be made from last author.)

I think we are more likely to go in the direction of the CRediT standard, as you linked to #857, since we can implement a sensible UI for that and have it work across all disciplines.

Where first or

[2020-12-01 15:57] Vitaliy-1 opened #6397 "Use display() instead of fetch() to pass front-end templates to Smarty"
OJS 3.2.1 and the master branch, other versions are also affected

**Describe the bug**
In `RegistrationHandler::register` several templates are passed to Smarty/TemplateManager depending on the condition, 2 templates, `frontend/pages/message.tpl` and `frontend/pages/error.tpl` are passed with the fetch method, which contracts with other front-end templates, which are assigned with the display met

[2020-12-01 16:25] Vitaliy-1 commented on #6397
PRs
pkp-lib master: https://github.com/pkp/pkp-lib/pull/6398
Tests for OJS master: https://github.com/pkp/ojs/pull/2927

[2020-12-01 17:51] NateWr opened #6399 "Can not add or edit a category"
**Describe the bug**
When I try to create a category, the modal closes but the category is not listed in the grid. When the page is reloaded, the grid will not load.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Journal > Categories
2. Create a category.
3. See error in log.
4. Refresh page
5. See that category grid does not load.
6. See second error in log.

**What applic

[2020-12-01 17:56] #6399 closed

[2020-12-01 18:37] Vitaliy-1 opened #6400 "Update themes to be compatible with OJS 3.3.0"
Changes from OJS 3.2.1 that can affect themes (may be updated):

1. **Support for the ROR plugin**. The plugin adds `rorId` property to the author object as well as `$rorIdIcon`. Pages affected: article landing page. Related issue: https://github.com/pkp/pkp-lib/issues/5912
2. **Categories**. Not a new feature but check if this information is included in the article. Pages affected: article landin

[2020-12-01 18:46] #6392 closed

[2020-12-01 19:02] ajnyga commented on #5610
@asmecher
Here is a pr for OPS: https://github.com/pkp/ops/pull/80

Once that is merged, I will do another pr for OJS/OMP/lib where I move those duplicated keys from the shared lib to OJS and OMP.

[2020-12-01 20:04] asmecher commented on #6397
This is some very old behaviour, and I wonder if changing it wouldn't lead to other code missing expectations in hard-to-debug ways. Are there cases where plugins aren't able to use both hooks to get the job done? Perhaps we could continue the current pattern, but as a deprecated behaviour, and propose something else for new code.

[2020-12-01 20:15] ajnyga commented on #5819
OPS: pkp/ops#79
pkp-lib: #6401

Rebased and running tests, ping @asmecher @NateWr

[2020-12-01 20:24] mpbraendle commented on #3573
These three still occur in my prod (3.1.2-4) and test (3.2.1-2) environments with the query above. We would not be able to put the database to a MariaDB cluster because a test script would fail. However, the database was originally migrated from a OJS 2.4.8 system.

[2020-12-01 20:29] ajnyga commented on #5610
tests passing

[2020-12-01 20:53] dommitchell commented on #6389
Asking @Steven-Eardley to comment here. Thanks!

[2020-12-01 21:06] asmecher commented on #5610
Thanks, @ajnyga, this looks good -- please do prepare the other PRs and I'll merge all at the same time.

[2020-12-01 21:19] asmecher commented on #5819
Thanks, @ajnyga! I think there are two things outstanding on this...
- Consideration of stats, and
- Port to OJS/OMP

I'm on the fence about sneaking this into 3.3.0rc2 (planned for Dec 7) -- @ajnyga, do you have time to work on this, and do you have an opinion either way on 3.3.0rc2 vs. 3.3.1?

[2020-12-01 21:30] asmecher commented on #3573
Hmm, @mpbraendle, I'm trying to pin down MySQL's expectations. On my system, I get the following for `DESCRIBE sessions`:
[code]
I would expect the presence of a `PRI` under the `Key` column to satisfy the clustering requirement for that table; does yours look the same?

[2020-12-02 01:24] asmecher opened #6402 "Resolve TinyMCE plugin warning"
Resolve the PHP warning:
[code]

[2020-12-02 06:48] mpbraendle commented on #3573
Checked again with

[code]

So the primary key is there, but no auto_increment (in column Extra). As I see from https://mariadb.com/kb/en/mariadb-galera-cluster-known-limitations/  , the latter is not a requirement.

[2020-12-02 09:40] NateWr commented on #6397
@asmecher I thought that `fetch` was only meant to be used when the template needs to be returned in a JSON response. Is that not right?

[2020-12-02 10:20] bozana commented on #6145
PRs:
usageStats: https://github.com/pkp/usageStats/pull/40
pkp-lib: https://github.com/pkp/pkp-lib/pull/6403
ojs: https://github.com/pkp/ojs/pull/2928
omp: https://github.com/pkp/omp/pull/889
ops: https://github.com/pkp/ops/pull/88

[2020-12-02 10:20] bozana commented on #6145
@NateWr, could you take a look at the PRs?

[2020-12-02 10:34] NateWr commented on #5642
Re-opening briefly as there was a small bug that prevented the exports from working. The `window` global can't be accessed within a template, so the URL redirect wasn't working. The following PRs fix that and also make a couple of minor UX changes.

PR:
https://github.com/pkp/pkp-lib/pull/6404
https://github.com/pkp/ui-library/pull/131
https://github.com/pkp/ojs/pull/2929
(OMP/OPS coming)

[2020-12-02 11:00] NateWr commented on #5642
Great! Just the one comment on the locale key stuff but this is looking good. Thanks for fixing the usage stats report and the heading structure on the COUNTER page, too!

[2020-12-02 11:14] bozana opened #6405 "cannot create an issue galley"
**Describe the bug**
When I click on the Save button in the Issue Galley form I get the following PHP error message:
`PHP Fatal error:  Uncaught PDOException: SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'seq' cannot be null in /../ojs-master/lib/pkp/lib/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOStatement.php:115\n ...
`
I t seems that the required seq column is nowhere set

[2020-12-02 11:30] Steven-Eardley commented on #6389
The API has changed for Journals (retrieve) and Applications (CRUD) - the data model has changed slightly, so v1 requests are no longer compatible and receive a 400 error:
[code]

The Articles v2 articles API is compatible with v1, so we use a 301 redirect to the correct v2 endpoint. It would be technically feasible to answer these requests without a redirect, but it's better for clients to follow

[2020-12-02 12:09] bozana commented on #5642
Is this comment maybe meant to go here: https://github.com/pkp/pkp-lib/issues/6145 ?

[2020-12-02 12:20] NateWr commented on #5642
Woops! Yes, sorry. Too many issues open at once! :laughing:

[2020-12-02 13:53] Vitaliy-1 opened #6406 "Unable to pick a year in the advanced filters of the search form"
**Describe the bug**
Search form: dateFromYear and dateToYear select input is empty and doesn't contain any options to choose from.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the search page, advanced filters
2. Pick published after or published before year input
3. See that they don't contain any options

**What application are you using?**
 OJS 3.3

**Additional information**
Se

[2020-12-02 14:01] Vitaliy-1 commented on #6397
I considered that 1) there is already a similar fix to the registration complete template that was done some time ago: https://github.com/pkp/pkp-lib/pull/4977 and it didn't lead to any issue, 2) using `::fetch` hook will cause code duplication and, 3) not using `::fetch` hook may cause a fatal error that isn't quite apparent, e.g., when a variable or custom smarty plugin/function /block is assign

[2020-12-02 14:13] Vitaliy-1 commented on #6397
Aha, according to the code, `fetch()` also [returns a template](https://github.com/smarty-php/smarty/blob/c295786e43735802a1a22d22bc6d72153d19af46/libs/sysplugins/smarty_internal_templatebase.php#L117) (in contrast to `display()`) and differs by passing different last parameter that leads to different rendering somewhere deeper in the code.

[2020-12-02 14:36] Vitaliy-1 commented on #6397
Yeah, looks like the aim of `fetch()` is to reuse the output in a variable later. Also, `display()` has [an additional check](https://github.com/smarty-php/smarty/blob/c295786e43735802a1a22d22bc6d72153d19af46/libs/sysplugins/smarty_internal_template.php#L220) if the cache is modified. In the if condition referenced above `display` variable is `0` in case if `fetch()` method is used and `1` if `dis

[2020-12-02 16:13] asmecher commented on #6402
Users encountering this warning can resolve it by applying https://github.com/pkp/tinymce/commit/7e94f3aa17699ab92418522ad945d4a174e636f4 in `plugins/generic/tinymce`.

[2020-12-02 16:13] #6402 closed

[2020-12-02 16:46] Vitaliy-1 opened #6407 "Fatal error while trying to access Journal Settings - Categories tab"
**Describe the bug**
If at least one category exists, trying to access the categories tab in the journal settings causes a fatal error. If there are no categories, a fatal error appears after creating one:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard -> Journal Settings -> Categories tab
2. See neverending spinner if at least 1 category exists

**What application ar

[2020-12-02 16:52] Vitaliy-1 commented on #6407
Sorry, already resolved: https://github.com/pkp/pkp-lib/issues/6399

[2020-12-02 16:52] #6407 closed

[2020-12-02 17:07] Vitaliy-1 opened #6408 "User-facing category page is inaccessible"
**Describe the bug**
A category page cannot be viewed. Receiving a fatal error while trying to access:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a category page, e.g., accessible by URL `../first-category`
2. Check the page available at: `.../[journal_path]/catalog/category/first-category`

**What application are you using?**
 OJS 3.3

[2020-12-02 17:11] asmecher opened #6409 "OMP Payments menu does not display when enabled"
**Describe the bug**
The Payments menu does not always appear when it should on the back-end menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Distribution
2. Enable Payments and configure e.g. the manual payment plugin
3. Save the form.

You will see the Payments link appear on the sidebar as expected :+1:

Now reload the page, and it will disappear again when it should

[2020-12-02 17:12] asmecher commented on #6409
@NateWr, I think this is related to the change of the backend to a single Vue container.

[2020-12-02 17:25] jonasraoni opened #6410 "[OJS] NativeImportExportPlugin errors on OJS 3.1.2"
**Describe the bug**
I've got some errors when trying to export an issue. I'm not sure they are connected with unexpected things in the installation 🤔
As it's an "old" OJS version and not important at all for me at this moment (I was just checking what it's outputted by the plugin), I'll skip debugging it further.

- Warning:
PHP Warning:  htmlspecialchars() expects parameter 1 to be string, array

[2020-12-02 20:47] asmecher commented on #5540
@Vitaliy-1, I think something related to this is causing the OMP Travis tests to fail recently. The logs fill with..
[code]
Could you take a look?

[2020-12-02 20:50] asmecher commented on #5540
@Vitaliy-1, hmm, this must be something related to my repo, as it's not failing on the official master branch. Let me look into it more before bringing you in.

[2020-12-02 22:05] mhvezina opened #6411 "Datacite plugin not up to date : different credentials for test site vs prod site"
_Context OJS 3.1.2-4_

_Datacite plugin version 2.0_

Datacite has abandonned the test prefix (https://blog.datacite.org/test-prefix-10-5072-retiring-june-1/) and now has 2 different and separated environments : one for testing and one for production, hence different credentials.

If I am not wrong it seems that the DataCite Export/Registration Plugin hasn’t been updated to take this change into a

[2020-12-02 23:20] asmecher commented on #6410
@jonasraoni, see https://github.com/pkp/pkp-lib/issues/5372 -- there are also patches e.g. for 3.1.2. This adds support for XML exports that do not contain base64-encoded binaries, but instead reference URLs or files externally. I think that'll be a sufficient solution, and the resulting XML is much more pleasant to work with.

[2020-12-02 23:20] #6410 closed

[2020-12-02 23:24] asmecher commented on #6411
Hi @bozana! Could you have a look at this one?

[2020-12-02 23:41] asmecher commented on #6408
Fixed! @Vitaliy-1, this affects theme plugins that override `templates/frontend/pages/catalogCategory.tpl` and use the `$subcategories` template variable (see the identical patches for [OJS](https://github.com/pkp/ojs/commit/02762bef7006cc5d39566105f7da5209c92e3ec3), [OMP](https://github.com/pkp/omp/commit/359e95b8963dac3e2d166e2cd71ed6e850503475), and [OPS](https://github.com/pkp/ops/commit/15e00

[2020-12-02 23:41] #6408 closed

[2020-12-02 23:49] asmecher commented on #6405
Fixed, thanks!

[2020-12-02 23:49] #6405 closed

[2020-12-02 23:51] asmecher commented on #6389
Thanks, @Steven-Eardley. We're a distributed open-source application, so 10k+ users will need to upgrade or change their code to get it to follow the redirect; in practice, many of these don't have the tech resources they would need to do that. If it's possible to avoid the redirect on your end, it'll save both our teams a lot of support questions!

[2020-12-03 00:05] asmecher commented on #6406
@Vitaliy-1, does your installation have any published content? The `SearchHandler` calls on [`PublicationService::getDateBoundaries`](https://github.com/pkp/pkp-lib/blob/master/classes/services/PKPPublicationService.inc.php#L253) to determine the oldest and newest published content, and the date options in the drop-down are populated from there.

[2020-12-03 00:17] asmecher commented on #6361
Merged for `stable-3_2_1`, but needs forward-porting to `master`.

[2020-12-03 04:46] jalperin opened #6412 "There is no way to clear a search in the Plugin Gallery"
**Describe the bug**
If you search for something in the Plugin Gallery, the only way to undo your search is to clear the words of the search and click the "search" button again. There should be a way to clear the search to return to the full plugin list.

**What application are you using?**
 OJS version 3.2.2

[2020-12-03 08:29] #6145 closed

[2020-12-03 08:54] Ge2C opened #6413 "[OJS] Fattal error! when install OJS-master from github"
First I will explain that i new here, and i want to try to fix some problem in ojs template system and then i try download the source code. I already run all command in "Using Git development source" section and everything run well, but when i try to run ojs trough my local server, it show some fatal error. I try to look the problem it seem that vendor helper function crashing with PKP local funct

[2020-12-03 10:19] NateWr commented on #6408
Thanks, I've noted it down as something to mention around the ADODB removal.

[2020-12-03 11:56] Vitaliy-1 commented on #6406
Yes, it has. Moreover, this works properly with the other themes than the Default. I think it's related to the replacement of `html_select_date` with a new function `html_select_date_a11y`

[2020-12-03 12:09] bozana opened #6414 "error when creating a counter AR1 report"
**Describe the bug**
The COUNTER AR1 report cannot be created.
Will try to figure out why -- if it is only in my installation...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Reports > COUNTER Reports
2. Click on 'Article Report 1:   2020'
3. The report is not created, see error in the PHP error log

**What application are you using?**
 OJS version 3.3 master branch

**Additional inf

[2020-12-03 14:00] NateWr commented on #6409
There's no Payments page in OMP or OPS, so this was code that should have only been in OJS. These PRs move the relevant code out of the shared lib.

PR:
https://github.com/pkp/ui-library/pull/132
https://github.com/pkp/pkp-lib/pull/6415
https://github.com/pkp/ojs/pull/2932

[2020-12-03 14:07] NateWr commented on #5540
I've encountered it in my OMP test failures here: https://travis-ci.com/github/pkp/omp/builds/205889218. I'll look into it now unless either of you have already figured it out?

[2020-12-03 14:18] NateWr commented on #5540
I think this arises when there are no custom datetime formats defined for a journal, press or preprint server. It should be fixed in https://github.com/pkp/pkp-lib/pull/6404/commits/872a4fe620188d826b6b66d8bf82d20172318f42. It's being tested now at https://github.com/pkp/omp/pull/890 and will get merged in with that if it passes.

[2020-12-03 14:34] NateWr commented on #6414
If it is expecting to get a string but gets an integer instead, it's possible this is the new submission file ids. They used to use a `fileId-revision` syntax (string) but now use a `submissionFileId` (int).

[2020-12-03 14:37] NateWr commented on #6413
What version of composer are you using? We use composer to [apply a patch](https://github.com/pkp/pkp-lib/blob/master/composer.json#L44-L50) to one of the dependencies so if composer is not doing this you may run into an issue.

[2020-12-03 14:41] NateWr commented on #6406
Yes, the new function is necessary to comply with accessibility requirements. It was working in the default theme when this change was made (recently, at https://github.com/pkp/pkp-lib/issues/5182).

@Vitaliy-1, since you've got a database where this isn't working, can I assign you to investigate? I suspect either the `getDateBoundaries` are not returning something valid, or the `html_select_date_

[2020-12-03 14:54] NateWr commented on #6396
Picking this one up.

[2020-12-03 15:21] Ge2C commented on #6413
I use composer version 2.0.7, I try again and got a message patching error like this
`  ...
 - Installing laravel/framework (v7.29.3): Extracting archive
 - Applying patches for laravel/framework
    lib/laravel-helper-4017.diff (Inhibit __ Laravel helper)
   Could not apply patch! Skipping. The error was: Cannot apply patch lib/laravel-helper-4017.diff
`

[2020-12-03 15:35] NateWr commented on #6396
PR:
https://github.com/pkp/pkp-lib/pull/6416

Tests:
https://github.com/pkp/ojs/pull/2933

[2020-12-03 15:40] NateWr commented on #6413
cc @asmecher

[2020-12-03 15:43] #6409 closed

[2020-12-03 16:04] asmecher commented on #6413
@Ge2C, what operating system are you using? Does it have the GNU patch tool installed?

[2020-12-03 16:06] NateWr commented on #5540
The commit fixes the PHP notice even though the tests are still failing. Anyway, nothing more related to this issue I think.

[2020-12-03 16:06] #5540 closed

[2020-12-03 16:13] Vitaliy-1 commented on #6406
@NateWr, on my test instance `start_year` is a current year (2020) and `end_year` is a year of a first publication (2016). Changing [this](https://github.com/pkp/pkp-lib/blob/c7bf76903d29210e042f982391f6a4ec22031314/classes/template/PKPTemplateManager.inc.php#L2286-L2289) to:
[code]
Solves the issue for me. Smarty documentation also suggests that `start_year` is a current one. But this looks like

[2020-12-03 16:24] NateWr commented on #6406
It looks like I reversed `$startYear` and `$endYear`! https://github.com/pkp/ojs/blob/master/pages/search/SearchHandler.inc.php#L94-L95

Do you mind fixing that? It should start with hthe earliest year and end with the latest year.

[2020-12-03 16:47] asmecher commented on #6409
Ah! No wonder I was confused. Thanks, @NateWr!

[2020-12-03 16:49] kristinmhoffmann commented on #1661
Adding another +1 for this feature, on behalf of a journal we host as a library publisher.

[2020-12-03 17:12] Ge2C commented on #6413
I use windows, with WSL with PHP 7.4 and unfortunately I don't install GNU patch tool, and never use it

[2020-12-03 17:14] asmecher commented on #6413
@Ge2C, you'll need to install GNU Patch and add it to your system's PATH environment variable.

[2020-12-03 17:14] #6413 closed

[2020-12-03 18:04] NateWr commented on #5642
Merged!

[2020-12-03 18:04] #5642 closed

[2020-12-03 18:21] Vitaliy-1 commented on #6406
OJS master: https://github.com/pkp/ojs/pull/2934

[2020-12-03 18:49] dommitchell commented on #6389
@asmecher I am opening an issue in the DOAJ repo and we will get this done.

[2020-12-03 19:02] asmecher commented on #6389
Much appreciated, @dommitchell (and @Steven-Eardley)! Meanwhile I'm going to schedule this for OJS 3.3, scheduled for release in Q1 next year, and we can hopefully future-proof things a little and review the API interactions.

[2020-12-03 19:36] Vitaliy-1 opened #6417 "Quick Submit: this field is required message appears when date published is filled"
**Describe the bug**
When filling out the Quick Submit Plugin form, picking up the published date through a datepicker UI for the first time causes the message "This field is required." to appear underneath. The message disappears after filling this field for the second time. Looks like related to the UI library in general. It doesn't cause any side effects, e.g., the form can be saved anyway.

**

[2020-12-03 19:46] asmecher opened #6418 "Fix test scripts for MySQL 8.x"
**Describe the bug**
The test scripts do not successfully create a database and database user with MySQL 8.x.

**To Reproduce**
Steps to reproduce the behavior:
1. Check out the Vagrant image https://github.com/pkp/vagrant
2. Modify it for Ubuntu Focal (which uses MySQL 8.x by default)
3. Attempt to run the image build: `vagrant up`

The following error will result:
[code]
The change is described

[2020-12-03 20:08] asmecher commented on #6406
@Vitaliy-1, I've merged https://github.com/pkp/ojs/pull/2934 and cherry-picked/ported to OJS `stable-3_2_1`, OMP `stable-3_2_1`, and OMP `master` (where the identical fix is needed) -- but should the same accessibility requirement not also apply to OMP? The `getDateBoundaries` function is not used in `SearchHandler.inc.php` in OMP.

[2020-12-03 21:08] #6418 closed

[2020-12-04 09:52] defstat opened #6419 "Publication APC Fee indication not present"
**Describe the bug**
Publication APC Fee indication not present when "Schedule For Publication" action is selected

**To Reproduce**
Steps to reproduce the behavior:
1. If the journal is set to ask for APC Fee, try Schedule the submission for publication
2. At v3.1.2 the form had the following indication (and actions)
![image](https://user-images.githubusercontent.com/560456/101147446-0e81a780-362

[2020-12-04 10:45] defstat opened #6420 "Institutional Subscription: failure to add IP-range"
**Describe the bug**
When Subscriptions are enabled, the Journal manager can't add IP-range.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Payments > Institutional Subscriptions
2. Create New Subscription
4. Try add IP ranges
5. Save
6. No error is displayed - you get a notice in the PHP Logs
7. Edit the newly created Subscription
8. IP Range is missing

**What application are you us

[2020-12-04 11:03] defstat commented on #6420
@asmecher

**PR**
OJS: pkp/ojs#2937

[2020-12-04 11:59] bozana commented on #6414
PR:
ojs: https://github.com/pkp/ojs/pull/2938

[2020-12-04 11:59] bozana commented on #6414
@NateWr, true. Would this be the correct fix?

[2020-12-04 12:20] NateWr opened #6421 "Dependent file upload fails when confirm revision is detected"
**Describe the bug**
When uploading a dependent file that has a name similar to an existing file, the software will detect a possible duplicate and ask the user if this is a revision of an existing file.

If you select no, it is not a dependent file, and click next, the upload fails with an exception in the authorization handler.

I was only able to reproduce this with dependent files.

I suspect

[2020-12-04 12:35] #6396 closed

[2020-12-04 12:40] defstat opened #6422 "ONIXCodelist retrieval fails when running under Windows server"
**Describe the bug**
Getting ONIXCodelist fails when running under Windows server

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Submission > Publication > Publication Formats > Add publication format
2. The UI does not display an error but the for never get's loaded
3. A fatal error is added to the PHP logs: `PHP Fatal error:  Uncaught GuzzleHttp\\Exception\\RequestException: cURL er

[2020-12-04 12:45] defstat commented on #6422
@asmecher

**PR**
pkp-lib: #6423

[2020-12-04 12:46] NateWr commented on #6422
Nice catch. @asmecher do you mind reviewing this?

[2020-12-04 12:55] bozana opened #6424 "emptry review report"
**Describe the bug**
The review report is empty, although data exists.

**To Reproduce**
Steps to reproduce the behavior:
Having some reviews in your system
1. Go to Reports > Review Report
2. See empty (with no data) document

**What application are you using?**
 OJS version 3.3 master branch

**Additional information**
'retrieve' calls in ReviewReportDAO do not return anything :-O

[2020-12-04 12:56] NateWr commented on #6406
Thanks both! @asmecher OMP does not have a search option to limit by publication date (or any search options).

[2020-12-04 12:56] #6406 closed

[2020-12-04 13:21] NateWr commented on #6414
Looks right to me! I guess in the counter specification the ID might be a string, so yeah just casting our submission ids to string should do it.

Not sure what's going on with that OJS test. That subscription test has gotten unstable, but the failure looks like a race condition (element detached from dom). I restarted them just to see if they'll pass or if we need to sort this out.

[2020-12-04 13:51] bozana commented on #6391
Connected with this: (in master branch) When a published issue is assigned to an article the article has to be immediately published. In that case and if the default DOI suffix (i.e. issue variable in the DOI suffix) is used, a DOI cannot be assigned to the article -- the default DOI suffix expects an issue, but when a published issue is assigned and thus article is published, the DOI cannot be ed

[2020-12-04 14:53] defstat opened #6425 "Displaying the catalog's file fails"
**Describe the bug**
Displaying the catalog's file fails

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Monograph's page
2. Click on the button that refers to the monograph's file, in order to view it
3. The page `catalog/view` page is shown but it is empty
4. Browser report javascript error

**What application are you using?**
 OMP 3.3

**Additional information**
The problem seems

[2020-12-04 14:54] ajnyga commented on #5819
@asmecher discussed the stats issue with @NateWr and it seems the code already works like Nate described above, so no changes needed.

Running tests:
OMP https://github.com/pkp/omp/pull/891
OJS: https://github.com/pkp/ojs/pull/2936
OPS: https://github.com/pkp/ops/pull/79
pkp-lib: https://github.com/pkp/pkp-lib/pull/6401

[2020-12-04 14:56] defstat commented on #6425
@NateWr @asmecher

**PR**
OMP: pkp/omp#892

[2020-12-04 15:39] Vitaliy-1 opened #6426 "PHP server freeze and constraint violation when creating/editing issues"
**Describe the bug**
Testing issue creation with PHP built-in server. After filling the data of a new issue form and pressing the save button leads to a substantial server freeze - 7 min in my case. PHP error log is empty, except a notice, which, I think, isn't related:
[code]
Headers general data:
[code]
The waiting time for a response was 7.6 min. During this time server didn't respond on any re

[2020-12-04 15:47] Vitaliy-1 commented on #6426
I don't see anything suspicious in the `custom_issue_orders` table except the new issues that I'm trying to create on the master branch have a suspiciously high `seq` value
[code]

[2020-12-04 16:07] NateWr commented on #6425
I'm not able to reproduce this myself. Presumably it depends on the PDF being shown? Can you share the PDF (privately if it's not public)?

[2020-12-04 16:07] Ge2C opened #6428 "Can't use FieldRichTextarea with image plugins for theme option. #6427"
**Describe the bug**
When use FieldRichTextarea as theme option can't upload images event plugins already enable.

**To Reproduce**
Steps to reproduce the behavior:
1. Add theme option type FieldRichTextarea with image plugins enable.
2. Go to 'settings > website'.
3. Scroll down to rich text area field.
4. Click on Image logo.
5. Click on upload.
6. Chose image.
7. Click on upload.
8. Image not d

[2020-12-04 16:09] Ge2C commented on #6428
Fix #6427

[2020-12-04 16:11] NateWr commented on #6419
This should probably be implemented as a pre-publication check in 3.3. (See `Publication::validatePublish`.) And the UI for marking a payment received or waived could be a new form in a new tab in the publication forms area.

[2020-12-04 16:11] Vitaliy-1 commented on #6426
Able to reproduce on a clean install:
1. Create 2 empty issues.
2. Publish them.
3. Apply a new issue ordering.
4. Create a new issue and try to edit it.

[2020-12-04 16:17] defstat commented on #6425
I have send you the PDF on slack, but I don't think it is that. The javascript error was `Uncaught ReferenceError: PDFJS is not defined`.

On the other hand it could be a Windows error, because of the native `\` backslashes - it could be a case that the script's source is not getting loaded because of the `\` not being escaped. I will check again.

[2020-12-04 16:41] NateWr opened #6429 "Export users to CSV form loads all user groups"
**Describe the bug**
The export users to CSV form lets you choose which user groups to export. This loads all user groups, even user groups from a different context.

It should only load user groups from the current context. And it should have additional validation checks to ensure that no user groups are included for a different context.

**To Reproduce**
Steps to reproduce the behavior:
1. Creat

[2020-12-04 16:44] defstat opened #6430 "The selection of Review Files is not persisted in the DB"
**Describe the bug**
The selection of Review Files is not persisted in the DB

**To Reproduce**
Steps to reproduce the behavior:
1. As an Editor go to submission's review stage
2. Add a reviewer and try to select a file to send for review
3. Save and edit the reviewer entry again
4. The file is not checked anymore
5. As a Reviewer, the Review contains no file
6. No error is produced.

**What appli

[2020-12-04 16:50] defstat commented on #6430
Duplicate: #6416

[2020-12-04 16:50] #6430 closed

[2020-12-04 18:10] jmvezic opened #6432 "Email templates offer first alphabetically available installed language even if language is not active"
**Describe the bug**
Don't know if this is exactly a bug or intended behavior, but maybe it should be an option:

**To Reproduce**
Steps to reproduce the behavior:
1. Install some languages as administrator, such as Croatian and Arabic
2. Switch UI to Croatian and under website settings, choose Reload defaults for Croatian
3. Go to workflow settings, e-mail templates
4. Templates which don't have

[2020-12-04 19:13] #6414 closed

[2020-12-04 20:48] asmecher commented on #6422
Looks good to me -- merged, thanks, @defstat!

[2020-12-04 20:48] #6422 closed

[2020-12-04 21:18] asmecher commented on #6424
@bozana, https://github.com/pkp/reviewReport/commit/123f4ad8c366248429e8494da1b9242e4d70ad02 should have fixed it -- can you run a quick test? (I've already tested and committed to `master` in the review report repo.)

[2020-12-04 22:17] asmecher commented on #6420
Thanks, @defstat, good spotting!

[2020-12-04 22:17] #6420 closed

[2020-12-04 23:41] asmecher commented on #6429
Fixed the list of user groups going out of context; the report fetch code already limited on context ID, so no further checks are needed there.

[2020-12-04 23:41] #6429 closed

[2020-12-05 00:20] asmecher commented on #6426
@Vitaliy-1, the above fix (committed to OJS master) works for me, but can you please double-check that it resolves the hang on your system too?

[2020-12-05 11:09] withanage opened #6433 "OMP 3.3 General testing unloaded template variables"
**Describe the bug*

### Template variable form.dropzone.dictCancelUpload  was not loaded, although it was defined.

**To Reproduce**
upload a  file which exceeds maximum file upload limit.

**Additional information**
![Screenshot from 2020-12-05 12-03-02](https://user-images.githubusercontent.com/1921992/101240915-9c779400-36f2-11eb-9073-d88d8cb20a61.png)

###   Template variable grid.category.ca

[2020-12-05 11:53] withanage opened #6434 "OMP External review discussion"
**Describe the bug**
Add external reviewer discussion to submission in OMP in the external review stage.

The error repeats also in Copyediting and production discussions.

**What application are you using?**
OMP 3.3

**Additional information**

Error message:

`[Sat Dec 05 12:52:05.894221 2020] [php7:notice] [pid 6540] [client ::1:58988] PHP Fatal error:  Uncaught Error: Call to undefined method

[2020-12-05 13:08] bozana commented on #6424
All good, thanks! :+1:

[2020-12-05 13:08] #6424 closed

[2020-12-05 13:19] bozana opened #6435 "article DOI with %i in their suffix cannot be created/assigned"
**Describe the bug**
The DOIs that contain the %i (issue variable) in their suffix cannot be assigned to an article -- there is always the message "You can not generate a DOI until this publication has been assigned to an issue" (also if the article is assigned to an issue). This is not the case for galleys.

**To Reproduce**
Steps to reproduce the behavior:
Having DOI plugin enabled and set to us

[2020-12-05 15:33] Ge2C commented on #6428
I already send the fix for this in this #6427 can you merge it with the master brace?

[2020-12-06 15:21] Vitaliy-1 commented on #6436
Hi @gurumelo,

I've transferred the issue, as it looks like not specific to the Health Sciences theme.
Hmm, I would expect such behavior, I mean apply Site level CSS to all journals on the OJS instance. @NateWr, am I mistaken when thinking that this behavior is implemented deliberately? Also, I think there was a similar topic but can't find any.

[2020-12-06 16:09] withanage opened #6437 "OMP Ordering Submission Preparation Checklist"
**Describe the bug**
Submission preparation checklist  ordering
![omp](https://user-images.githubusercontent.com/1921992/101285499-c78ee000-37e5-11eb-8d21-003f09b083a5.gif)
triggers Error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to _management/settings/workflow#_ then Checklist

**What application are you using?**
 OMP  3.3.

**Additional information**
`PHP Fatal error:  Uncaught

[2020-12-06 16:30] withanage opened #6439 "OMP Adding new roles"
**Describe the bug**
Adding a new role in OMP triggers an error.

**To Reproduce**
Steps to reproduce the behavior:

management/settings/access#roles

**What application are you using?**
OMP  3.3

**Additional information**
`[Sun Dec 06 17:24:37.828795 2020] [php7:notice] [pid 15641] [client ::1:36782] omp: Invalid user group id!, referer: http://localhost/omp-master/index.php/publicknowledge/mana

[2020-12-06 17:58] ajnyga commented on #5610
@asmecher running test on all three applications.
In OJS and OMP I have moved all the duplicated keys from the shared library to the app locale files in all existing locales. In OPS I have only moved the new keys to en_US while all the other locales in OPS need to translate these.

pkp-lib: https://github.com/pkp/pkp-lib/pull/6438
OJS: https://github.com/pkp/ojs/pull/2940
OMP: https://github.com/p

[2020-12-06 18:58] defstat opened #6441 "DOI Plugin - Settings Form - Assign DOIs Action fails"
**Describe the bug**
DOI Plugin - Settings Form - Assign DOIs Action fails

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Plugins > Public Identifier Plugins > DOI > Settings
2. Click on "Assign DOIs"
3. No UI Error - PHP Error: ` PHP Fatal error:  Uncaught PDOException: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'setting_type' in 'field list'`

**What application are you

[2020-12-06 19:23] defstat commented on #6441
@asmecher @NateWr

**PR**
OJS: pkp/ojs#2942

[2020-12-06 19:28] defstat opened #6442 "DOI Plugin - Settings Form - Reassign DOIs Action fails"
**Describe the bug**
DOI Plugin - Settings Form - Reassign DOIs Action fails

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Plugins > Public Identifier Plugins > DOI > Settings
2. Click on "Reassign DOIs"
3. No UI Error - PHP Error: `PHP Fatal error:  Uncaught Error: Call to undefined method PublicationDAO::getDriver() in \\ojs-3-dev\\lib\\pkp\\classes\\publication\\PKPPublicationDAO.

[2020-12-06 19:56] defstat commented on #6442
@asmecher

**PR**
OJS: pkp/ojs#2943
OMP: pkp/omp#895

[2020-12-06 20:33] defstat opened #6443 "Assign custom DOI to Issues and Representations UI behavior"
**Describe the bug**
Assign custom DOI to Issues and Representations seems to need the appropriate form to be saved twice in order for the DOI to be saved

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Issues > Issue
2. Click on Issue > Edit
3. Go to Identifiers tab
4. If "DOI Suffix" is enabled, find the corresponding textbox
5. Add a "DOI Suffix" and click "Save"
6. Click Issue > Ed

[2020-12-06 20:55] defstat opened #6444 "Clear DOI action does not refresh related form"
**Describe the bug**
Clear DOI action does not refresh related form

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Issues > Issue
2. Click on Issue > Edit
3. Go to Identifiers tab
4. If a DOI is assigned, click "Clear DOI"
5. The action works properly but the UI does not refresh.

**What application are you using?**
 OJS, OMP 3.3

[2020-12-06 21:05] withanage opened #6445 "OMP 3.3. Published file download link triggers error."
**Describe the bug**
Published Galleys link does not work e.g.
http://localhost/omp-master/index.php/publicknowledge/catalog/view/4/3/25

**To Reproduce**
Steps to reproduce the behavior:

Create galley and publish a file  in Backend
Download galley file in backend

**What application are you using?**
OMP 3.3

**Additional information**
` PHP Fatal error:  Uncaught Error: Call to undefined method

[2020-12-06 21:10] withanage opened #6446 "OMP 3.3 Create new version of a published monograph"
**Describe the bug**
Create a new version of a published monograph

**To Reproduce**
![omp](https://user-images.githubusercontent.com/1921992/101292460-dab6a580-380f-11eb-965d-5cf552721365.gif)

**What application are you using?**
OMP 3.3

**Additional information**
` Slim Application Error:\nType: TypeError\nMessage: Argument 2 passed to PKP\\Services\\QueryBuilders\\PKPSubmissionFileQueryBuilder

[2020-12-06 22:14] defstat opened #6447 "CrossRef Plugin: Settings page - Articles Tab - fails to load grid"
**Describe the bug**
CrossRef Plugin: Settings page - Articles Tab - fails to load grid

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Plugins > Import/Export > Crossref Plugin > Settings > Articles tab
2. The Articles Grid has failed to load

**What application are you using?**
 OJS version 3.3

[2020-12-06 23:33] defstat commented on #6447
@asmecher

**PR**
OJS: pkp/ojs#2944

[2020-12-07 00:04] defstat opened #6448 "Crossref Plugin - Posting deposit metadata fails"
**Describe the bug**
Posting deposit metadata fails with 400 http bad request error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Plugins > Import/Export Plugins > Crossref plugin
2. Click on Articles tab
3. Select an Article to Deposit
4. Click Deposit
5. The UI displays a communication error with the server

**What application are you using?**
 OJS version 3.3

**Additional inform

[2020-12-07 01:16] defstat commented on #6448
@asmecher

**PR**
OJS: pkp/ojs#2945

[2020-12-07 07:22] ajnyga commented on #6187
OPS: https://github.com/pkp/pkp-lib/issues/6187
No changes to pkp-lib required

Note that for Categories the order is defined in the category settings.

[2020-12-07 07:39] ajnyga commented on #6366
Could not reproduce this with the current master. What kind of metadata was filled when this happened?

[2020-12-07 08:18] ajnyga commented on #6251
The piece of code referenced above handles the relationship between the different versions of the preprint. Each version in OPS can have their own DOI. I wrote the `PreprintCrossrefXmlFilter` when the `relations` data did not exist in OPS.

I will add VoR DOI to the XML export as well, but like Nate points out above we will need to have means to redeposit as well. This is not only the case here, b

[2020-12-07 08:21] ajnyga commented on #5932
Please move this for 3.4. I will try to implement this soon after the release of 3.3 because it might cause some havoc in the master branch when merged.

[2020-12-07 10:50] NateWr commented on #6436
I recall a discussion about this. I agree that it's not intuitive, but it is the way it has worked for such a long time and has become a part of some people's workarounds.

For example, some institutional hosts will have a custom footer on all of their journals, and use the site-wide stylesheet to style it. So they expect the site-wide CSS file to work across all sites.

I'm on the fence about whe

[2020-12-07 11:00] NateWr commented on #6366
I think that this appears when there are no keywords and the keyword metadata is available (or the same for other controlled vocab). It required entering a keyword to kick off the search for suggested keywords, and this appears when there are no search results.

I have not tried to reproduce it myself but I think that I have noticed it on occasion. It may not appear 100% of the time.

[2020-12-07 11:33] NateWr commented on #6442
Merged, thanks!

[2020-12-07 11:33] #6442 closed

[2020-12-07 11:36] NateWr commented on #6441
Thanks!

[2020-12-07 11:36] #6441 closed

[2020-12-07 11:37] NateWr commented on #6397
@asmecher any objection here? If there's a concern about breaking things, I guess 3.3 is the right time to introduce this change.

[2020-12-07 11:40] NateWr commented on #6187
Merge, thanks!

[2020-12-07 11:40] #6187 closed

[2020-12-07 11:47] Vitaliy-1 commented on #6426
@asmecher, yes, it fixes the issue.

[2020-12-07 11:47] #6426 closed

[2020-12-07 11:49] NateWr commented on #6432
Hi @jmvezic, thanks for the report. The email templates should fallback to the journal's primary language. Which language is selected as the primary language under Settings > Website > Setup > Languages?

When you edit one of the email templates that does not have Croatian support, for example Announcement, do you see the email template's subject and body shown in English?

[2020-12-07 11:50] ajnyga commented on #3022
Sorry, did not have time for doing this for 3.3., but starting to work on this now and aiming for 3.4.

I will start by creating the new InviteToRoleForm visible for journal managers.

We can continue discussing the details for these two big questions:
1. Can (and how) a journal manager create new user accounts without consent, ie. do we preserve the Add user form?
2. How would this work in review

[2020-12-07 11:52] NateWr opened #6449 "HTML Notification message is rendered as HTML"
Split off from #6433:

[2020-12-07 11:54] NateWr commented on #6434
I think this was fixed in https://github.com/pkp/pkp-lib/issues/6392. Can you try updating with the latest changes and see if you can reproduce this?

[2020-12-07 11:58] NateWr commented on #6435
I was unable to reproduce this myself. When a publication is assigned to an issue, the form response should update the publication's object in the browser, and this should get passed down to the Identifiers form, so that the DOI field is updated and it is possible to generate a DOI.

Can you check your browser's console log when assigning to an issue to see if there is some error that may be occur

[2020-12-07 12:01] jmvezic commented on #6432
Hi @NateWr

Yes, choosing English does fallback the templates to English.

What I described is when using another primary language like Croatian. This is especially pronounced in a multijournal installation where there are numerous languages installed, each journal using another primary locale. From that perspective, it might be a good idea to offer a journal-wide or even a site-wide "fallback" la

[2020-12-07 12:04] NateWr commented on #6443
Additionally, when an Issue DOI is assigned, clicking the Clear DOI button does not update the form. The DOI appears to be cleared but the form does not refresh.

[2020-12-07 12:06] defstat commented on #6443
@Nate #6444

[2020-12-07 12:07] NateWr commented on #6443
Regarding the double-save problem: the pub IDs allow a DOI suffix to be entered but not yet "assigned" to the issue. In order for this option to work, the identifiers form needs to have some JavaScript that shows/hides the checkbox based on whether an DOI suffix has been entered.

I'm inclined to remove the checkbox option and to assign the DOI whenever a DOI suffix is entered. @bozana can you thi

[2020-12-07 12:10] bozana commented on #6435
Hmmm... Strange... I do not see any errors (just a warning for the OJSSID cookie)... The article DOI field is always disabled with that message, also when the article is assigned to an issue and then I do something else and then go back to the article... I'll investigate further...

[2020-12-07 12:12] NateWr commented on #6445
@withanage can you update your OMP copy and try again? I think that this was fixed recently and the line of code in the `master` branch looks ok: https://github.com/pkp/omp/blob/master/plugins/generic/usageEvent/UsageEventPlugin.inc.php#L114

[2020-12-07 12:15] jmvezic commented on #3022
@ajnyga

Yes, it seems to me like the "invite to role" can be pushed without the conclusion on the "add user" discussion.

As for the "add user", it is a bit tricky. On one hand, people don't like being added to systems and sites without their consent. It also probably violates some GDPR rules. On the other hand, OJS aims to make it easy for all users to deal with the processes needed to publish a

[2020-12-07 12:31] bozana commented on #6435
Oh, thanks to @NateWr, we figured out that my issue is only identified by the title and there is no issue number there... Thanks!

[2020-12-07 12:34] NateWr commented on #6435
I've updated this issue to reflect that it's primarily a UX issue. The DOI assignment field will show a warning when it can't assign a DOI because it does not have the correct data from an issue. This warning says something like:

However, this warning can be encountered even if a submission is assigned to an issue, if that issue does not have a volume or number. This is probably rare, but the war

[2020-12-07 12:37] NateWr commented on #6446
I think this has been fixed. Can you update your copy and try to reproduce? The current code is at https://github.com/pkp/omp/blob/master/classes/services/PublicationService.inc.php#L274-L275.

[2020-12-07 12:40] NateWr commented on #6447
Thanks @defstat!

[2020-12-07 12:40] #6447 closed

[2020-12-07 12:46] NateWr commented on #6432
Hi @jmvezic,

I'm not sure that I fully understand the issue yet. Here's what should be happening:

1. Every journal has a primary language and additional languages.
2. When an email template does not have a subject or description in one language, it performs the following steps to find a fallback:
  a. Use the subject or description in the primary language.
  b. Use the subject or description in

[2020-12-07 13:08] jmvezic commented on #6432
@NateWr

That's right, it falls back to the language that's disabled. It seems like the only thing it checks is if it's _installed_, and doesn't check if it's enabled or not. Additionally, it seems there are no checks on a journal level whether that specific journal is using the language at all.

This is especially problematic in a multi-journal installation. Say you have the following situation:

[2020-12-07 13:53] bozana commented on #6439
PR:
pkp-lib: https://github.com/pkp/pkp-lib/pull/6450

[2020-12-07 13:53] NateWr opened #6451 "Can not change journal's primary language"
**Describe the bug**
When trying to change the journal's primary language, the setting does not update. The error logs show a fatal error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Website > Setup > Languages.
2. Change the primary language
3. See error

**What application are you using?**
3.3 RC

**Additional information**
The error log:
[code]

[2020-12-07 13:53] bozana commented on #6439
@NateWr, would/could you take a look?

[2020-12-07 13:55] bozana commented on #6439
after the "fix php error, using stdClass as array", the new error appears when removing a group, but this is maybe a separate issue:
`PHP Fatal error:  Uncaught Error: Cannot use object of type stdClass as array in /.../omp-master/lib/pkp/classes/security/UserGroupDAO.inc.php:417\nStack trace:\n#0 /.../omp-master/lib/pkp/controllers/grid/settings/roles/UserGroupGridHandler.inc.php(318): UserGroupD

[2020-12-07 14:02] bozana opened #6452 "error when removing a user group"
**Describe the bug**
I created a new user group and then try to remove it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to User & Roles > Roles > a User Group
2. Click on "Remove" action
3. See error in the php error log file

**What application are you using?**
 OMP version 3.3

**Additional information**
`PHP Fatal error: Uncaught Error: Cannot use object of type stdClass as array in

[2020-12-07 14:06] NateWr commented on #6432
Thanks @jmvezic! I understand now and I was able to reproduce the problem. You're right that the locale fallback will find email templates in any installed language, even if the journal has not enabled the language.

So the fallback code is working correctly, but the email templates are loading data for all locales, even those that are not enabled in the journal.

[2020-12-07 14:07] bozana commented on #6452
PR:
pkp-lib: https://github.com/pkp/pkp-lib/pull/6453

[2020-12-07 14:07] bozana commented on #6452
@asmecher, would/could you take a look?

[2020-12-07 14:16] NateWr commented on #6451
PR:
https://github.com/pkp/pkp-lib/pull/6454

Tests:
https://github.com/pkp/ojs/pull/2946

[2020-12-07 14:16] NateWr commented on #6437
This should be fixed by the PR here: https://github.com/pkp/pkp-lib/issues/6451#issuecomment-739945567

[2020-12-07 15:16] NateWr commented on #6433
The missing file upload key was fixed in https://github.com/pkp/pkp-lib/commit/81237fc7530dc36146f43b87a5f262c005caa2fd. The following PR fixes the other two issues in OMP.

PR:
https://github.com/pkp/omp/pull/898

[2020-12-07 15:49] NateWr commented on #5819
@asmecher I reviewed this and decided to merge it in time for RC2. I hope that's ok. It's a surprisingly light addition and will benefit from the planned testing on RC2. I did some tests on the stats and couldn't find anything unusual as I declined and reverted the decline. I think we're good on that front.

I'll update the change orientation and add a testing script for this.

[2020-12-07 15:49] #5819 closed

[2020-12-07 16:19] NateWr commented on #6439
Merged, thanks everyone!

[2020-12-07 16:19] #6439 closed

[2020-12-07 16:21] #6451 closed

[2020-12-07 16:21] NateWr commented on #6437
Fixed in https://github.com/pkp/pkp-lib/commit/a3de66ff9f8718f5917b9d2bba228e3c987b534b

[2020-12-07 16:21] #6437 closed

[2020-12-07 16:35] NateWr commented on #6419
I see now that `stable-3_2_1` does not have this feature either (I missed that part on first read of the issue). It looks like the Editor Decision form lets you request payment when the submission is accepted. But there is no warning that payment has not been received.

@asmecher can you confirm whether the feature as it is in 3.2.x is sufficient? We haven't yet had an issue filed from someone usi

[2020-12-07 16:38] defstat opened #6455 "Native Import/Export Plugin - Fixes for v3.3"
**Describe the bug**
Native Import/Export Plugin - Fixes for v3.3

[2020-12-07 16:41] asmecher commented on #6397
@NateWr, I think the two options we have are
1. Maintain the current behaviour until we introduce a 3rd-party toolset to replace hooks (or even replace the Smarty toolset)
2. Change the current behaviour and work on more modern solutions separately

Replacement of hooks or templating is a long time out, so if you think this will make things easier, then I'm OK to merge it for 3.3.

[2020-12-07 16:42] asmecher commented on #6426
Great, thanks, @Vitaliy-1!

[2020-12-07 16:45] NateWr commented on #6397
Ok, I've merged this in for now, since it's a minimal change that I think just aligns the rendering of this template with the others in the same handler. It should suffice for now...

[2020-12-07 16:45] #6397 closed

[2020-12-07 16:45] defstat commented on #6455
@asmecher

**PRs**
pkp-lib: #6456
OMP: pkp/omp#899

[2020-12-07 16:47] asmecher commented on #6452
Merged -- thanks, @bozana!

[2020-12-07 16:54] asmecher commented on #6455
Merged -- thanks, @defstat!

[2020-12-07 16:54] #6455 closed

[2020-12-07 16:55] asmecher commented on #5819
Great, no objections -- thanks, @ajnyga and @NateWr (and @alexxxmendonca for helping shape this)!

[2020-12-07 17:12] NateWr commented on #6443
OK, I've looked into this further and it doesn't look very easy to make this modification. I agree that it's not very intuitive, but since this is the way it has worked for a long time I'm inclined to leave it as-is for the 3.3 RC.

We can revisit this when we move issues and submission files over to the new form system, in the same way that we did with the DOI setting for Publications.

[2020-12-07 17:15] #6433 closed

[2020-12-07 18:18] ajnyga commented on #5121
We encoutered this very early with OJS3: https://forum.pkp.sfu.ca/t/usage-stats-warnings-system-cant-remove-the-base-url/28553

Basically if one journal has a custom base_url, then _every_ journal needs to have a custom base_url even if that base_url is the default url of the journal. Otherwise you end up loosing stats.

[2020-12-07 18:26] bozana commented on #6452
@asmecher, sorry, I wrote a wrong second error message above -- I've just edited it again. That is still not solved... Any idea?

[2020-12-07 18:33] asmecher opened #6457 "Disentangle beacon and upgrade warning disables"
Both the beacon (`enable_beacon`) and upgrade warning (`show_upgrade_warning`) options can be disabled in `config.inc.php`. However, it appears that disabling `show_upgrade_warning` also kills the beacon. Disentangle them so that the upgrade warning can be disabled without force-disabling the beacon.

[2020-12-07 18:53] asmecher commented on #5610
Those are all merged (manually to resolve conflicts) -- thanks, @ajnyga! Is this issue ready to be closed?

[2020-12-07 18:57] ajnyga commented on #5610
I think this can be closed. If something was missed (someone finds more Publish/Publication in OPS) then we can deal with those separately. The pr's I made covered everything mentioned above and also a lot of other cases not mentioned.

[2020-12-07 19:03] asmecher commented on #5610
:+1: Thanks, @ajnyga! This will go out in OJS/OMP/OPS3.3rc2 shortly.

[2020-12-07 19:03] #5610 closed

[2020-12-07 19:12] defstat opened #6458 "Discussions Grid produces a warning"
**Describe the bug**
Discussions Grid produces a warning `PHP Warning:  Declaration of QueryNoteFilesGridHandler::authorize($request, $args, $roleAssignments) should be compatible with SubmissionFilesGridHandler::authorize($request, &$args, $roleAssignments)`

[2020-12-07 19:18] defstat commented on #6458
@asmecher

**PR**
pkp-lib: #6459

[2020-12-07 19:18] asmecher opened #6460 "Error editing identification code in OMP"
See https://forum.pkp.sfu.ca/t/omp-3-2-0-3-publications-formats-publication-date/61275/10:

[2020-12-07 19:19] asmecher commented on #6460
Users with OMP 3.2.x can resolve this by applying https://github.com/pkp/omp/commit/e2f0ffd90232f0a9e46a228024a09a810a64b44a. (Please use `--dry-run` option to `patch` to confirm clean application.)

[2020-12-07 19:19] #6460 closed

[2020-12-07 22:24] asmecher commented on #5121
@ajnyga, since you've run into this before, could you give https://github.com/pkp/pkp-lib/pull/6461 a look? Thanks!

[2020-12-07 22:29] asmecher commented on #6458
Thanks, @defstat!

[2020-12-07 22:29] #6458 closed

[2020-12-07 22:33] asmecher commented on #6452
Fixed, thanks!

[2020-12-07 22:33] #6452 closed

[2020-12-07 23:38] asmecher commented on #6448
Thanks, @defstat -- looks good at a glance and we'll give it good test coverage during the RC stage.

This needs porting to OPS, so I've merged it for `master` but won't close the issue yet. Can you have a look at porting?

[2020-12-07 23:41] asmecher commented on #6361
Merged forward-port to `master`: https://github.com/pkp/omp/pull/896

[2020-12-07 23:41] #6361 closed

[2020-12-08 07:07] ajnyga commented on #5121
looks safe to me. $baseUrl = Config::getVar('general', 'base_url'); is also used if no context base_url's are set in config, so falling back to that should work in all cases I can think of.

[2020-12-08 19:59] asmecher opened #6462 "Inconsistency in JWT (API key) encoding/decoding"
https://github.com/NateWr/pkp-lib/commit/26da3ca2d588085ef80638eb292542c128a60991 changed the format of encoded user secrets that were stored in JWTs. [Previously they were created JSON-encoded](https://github.com/NateWr/pkp-lib/commit/26da3ca2d588085ef80638eb292542c128a60991#diff-ec34dc745a443ad1651bf482674cb6be78ffd4f7ec46ba5d22e778a2476a1e0aL60), and [passed through `json_decode`](https://githu

[2020-12-08 20:31] asmecher commented on #5960
@defstat, I'm not sure where these PRs stand since the summer; could you review and rebase if needed? Thanks/sorry!

[2020-12-08 20:40] asmecher commented on #6460
https://github.com/pkp/omp/commit/30242472ae1fb26b1a881286326403d246508d37 similarly fixes market and publication date editing.

[2020-12-08 20:47] librariam commented on #6353
+1 from PKP|PS, confirming the same behaviour as reported on 3.1.2.4

[2020-12-09 17:27] pmangahis opened #6463 "Enable/Disable all email templates"
**Describe the problem you would like to solve**
Editors and Journals managers would like to have more control over the automated emails that get sent from the system. Currently, there are only a select number of email templates that give them the option to enable or disable. They would like to have more control over this to fit their workflow.

**Describe the solution you'd like**
Have an enable

[2020-12-09 20:16] asmecher commented on #6463
@pmangahis, are there particular emails that they're looking to disable? The current logic behind emails that cannot be disabled is that they are only emails that can be sent manually.

[2020-12-09 20:58] asmecher commented on #6457
Committed and back-ported to OJS/OMP/OPS 3.2.x stable branches.

[2020-12-09 20:58] #6457 closed

[2020-12-09 23:23] pmangahis commented on #6463
They would like to be able to disable EDITOR_DECISION_SEND_TO_EXTERNAL as the journal only uses an internal view for some sections (they're okay with having this disabled globally). They want to be able to record a Revision Required decision which they can't do from the submission tab.

[2020-12-10 21:30] asmecher commented on #6463
OJS doesn't include a formal internal review process (OMP does), so just to make sure I understand what they're doing -- are they using e.g. the discussion features for an internal review process, then not using the review stage?

[2020-12-10 22:05] pmangahis opened #6465 "PKP PN for OPS"
**Describe the problem you would like to solve**
PKP PN is currently not available for OPS

**Describe the solution you'd like**
Port the PKP PN plugin

**Who is asking for this feature?**
PKP PS had recently met with a potential client who was interested in migrating from another preprint platform and had inquired about archiving support.

[2020-12-10 23:03] asmecher commented on #6465
This would need to be discussed at the PN advisory level before support for OPS could be added -- it's more than a matter of porting the plugin to OPS.

[2020-12-11 01:56] ewhanson commented on #6062
Hi @NateWr and @asmecher, thanks for your initial feedback and for taking a look at the work so far. I prepared draft pull requests for OJS, pkp-lib, and the UI library.

Thanks!

PRs:
pkp/ojs#2949
pkp/ui-library#134
#6466

[2020-12-11 12:52] bozana commented on #5948
Hi @NateWr, I've taken a look how the submissions and publications work now in OJS and without taking a look how the tests are currently written (and thus what does this may imply) yet:
Do we really need both of these:

- Correct submission and publication statuses when issue is unpublished.
- Correct submission and publication statuses when an issue is published, unpublished and the republished.

[2020-12-11 14:11] jmvezic opened #6467 ""Reload defaults" for language invalidates $contextPath variable in "for authors", "for readers", etc."
**Describe the bug**
When reload defaults is clicked/activated for a language, the variable $contextPath no longer resolves to the journal's context in translations, but rather converts to escaped text (for example: http://ipaddress/ojs/index.php%7B$contextPath%7D/about/submissions#authorGuideline instead of http://ipaddress/ojs/index.php/journalabbrv/about/submissions#authorGuideline. This is rep

[2020-12-11 18:13] kaitlinnewson opened #6468 "3.3 - unable to close window with "x" in export users"
Tested in the 3.3 demo instance being used by the DIG, using Firefox for MacOS. Did not test other browsers.

In the Users Export window for exporting users to CSV, clicking the "x" to close the window does not work. It also does not work when trying to close via keyboard. The window does close by clicking other inactive parts of the window.

**What application are you using?**
 OJS 3.3.0.1

**Add

[2020-12-11 18:22] kaitlinnewson opened #6469 "3.3 - Exporting users "Slim application error""
Tested in the OJS 3.3.0.1 demo instance being used by the DIG, using Firefox for MacOS. Did not test other browsers.

**Describe the bug**
When trying to export users to CSV after selecting all user roles, an error message appears and the exported file does not download.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Statistics > Users
2. Click on Export
3. Click Export again in the n

[2020-12-11 18:59] amandastevens opened #6470 "Error when I try to add or edit a component"
In the OJS 3.3 Release Candidate, when I go to Workflow Settings > Components and try to add or edit a component, I get an error "Failed Ajax request or invalid JSON returned."

Ordering components works.  Deleting a component seems to work.

[2020-12-11 21:15] pmangahis opened #6471 "3.3 - Author Dashboard results in HTTP 500 error after a decision"
**Describe the bug**
Not really sure if this is a bug or a DB issue, but after a decision has been recorded as Revision Required or Declined by an editor at the Review stage, the author is unable to access the submission dashboard for the manuscript (HTTP 500 error). This issue doesn't occur if the manuscript is accepted or declined from the Submission tab or accepted in the Review stage.

**What

[2020-12-11 21:19] pmangahis opened #6472 "3.3 - UI/UX button Issue when logged in as other users"
The username variable appears when using the login as a feature as shown below.

![image](https://user-images.githubusercontent.com/50342731/101955792-4fdcfe80-3bb3-11eb-947c-b1a27e9ee5ef.png)

Noted on rc2.

[2020-12-11 22:17] ctgraham opened #6473 "Allow for access to public Library Files without forcing a download"
**Describe the problem you would like to solve**
Example: Designers and Managers want a place to store publicly available files which can be rendered directly to the browser, rather than requiring the `Content-Disposition` of "attachment".

**Describe the solution you'd like**
Add an endpoint of `{context}`/libraryFiles/viewPublic/`{id}`

**Who is asking for this feature?**
Site designers looking

[2020-12-11 23:02] asmecher opened #6474 "Submission files upgrade step is slow"
During upgrade to 3.3, the following step appears to hang for a long time:
[code]
Review it for opportunities to improve performance.

[2020-12-11 23:44] asmecher commented on #6474
I encountered a data problem in the dataset I was testing with:
[code]
This was resolved by cleaning up the relationship between `review_files` and `submission_files` before upgrading:
[code]

[2020-12-12 00:38] ewhanson commented on #6471
I also came across this. Seems to be caused by a deprecated helper `array_last` method from Laravel that was removed in Laravel 6.0 here: https://github.com/pkp/pkp-lib/blob/9578d9a11756f655ff406510d10d22ff6ea179ce/pages/authorDashboard/PKPAuthorDashboardHandler.inc.php#L163

I tried it out and got it working by replacing `array_last($editorDecisions)` with `end($editorDecisions)`.

@asmecher, I c

[2020-12-12 01:12] asmecher commented on #6471
Please do, thanks for tracking this down! (We recently updated our Laravel libraries and missed this one.)

[2020-12-12 01:30] ewhanson commented on #6471
Done!

PR:
#6475

[2020-12-13 12:07] withanage commented on #6434
@NateWr

 I  have tested the scenarios again and it is  already fixed.

[2020-12-13 12:07] #6434 closed

[2020-12-13 12:12] withanage commented on #6445
@NateWr
Sory, yes. It was already fixed. I have updated and tested it for the  publication formats and works well.

[2020-12-13 12:12] #6445 closed

[2020-12-13 12:24] withanage commented on #6446
@NateWr  I have tested the versioning feature again and  it works.
I have tested this  issue on the

OMP https://github.com/pkp/omp/commit/dbe9cc2d899f59d2de86f8509f163844401db9b0
lib/pkp https://github.com/pkp/pkp-lib/commit/538dc7ad6856f47b860a79b870ddf7db852ecbca

and confirm it works.

Only small remark is that, it took a very long time (which can be any other cause) , but after a refresh of

[2020-12-13 14:07] Gucio926 opened #6476 "PKPApplication.inc.php on line 815"
Hello, I hope this is some simple mistake and easy to fix.

...lib/pkp/classes/core/PKPApplication.inc.php on line 815

I didn't even start the installation, it appeared after uploading all files to the server.
Maybe someone has an idea how to solve it?

[2020-12-13 14:41] #6476 closed

[2020-12-13 17:15] withanage opened #6477 "[OMP] Publication can not be saved without selecting a Series ID"
### Description

In OMP  3.2.1 under Workflow in Publication  metadata:

After removing the cover image of a submission, saving is not possible.

The  issue is reported in https://forum.pkp.sfu.ca/t/omp-3-2-problem-with-cover-image/61861/8

A temporary workaround  has been suggested too.

### Reason

If  no series is specified, the PUT Request form payload seriesId defaults to 0

e.g.http://localh

[2020-12-14 09:50] NateWr opened #6478 "Remove use of Google Font CDN"
The default theme uses the Google Font CDN if the `enable_cdn` config option is set. The performance gains from that have diminished over the years and with [browser changes](https://wicki.io/posts/2020-11-goodbye-google-fonts/) coming soon or implemented already that will go away.

We should remove dependency on the Google Font CDN by downloading the files and self-hosting them. Care needs to be

[2020-12-14 09:51] jmvezic opened #6479 "Clicking "Export issues" with no issues checked throws an unhandled error"
**Describe the bug**
In the Native XML plugin, under "Export issues", clicking "Export issues" with no issues selected throws an unhandled error:

[code]

Export Articles, on the other hand, exports an XML without articles, but doesn't throw an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Tools -> Import/Export
2. Go to Native XML Plugin
3. Go to Export Issues
4. Click "Expor

[2020-12-14 09:56] jmvezic opened #6480 "Spinner animation doesn't hide after completing export of articles or issues"
**Describe the bug**
When exporting articles and issues via Native XML plugin, the spinner animation keeps being displayed after completing the export or canceling the download. Only refreshing the page hides it.

**To Reproduce**
Steps to reproduce the behavior:
1 .Go to Tools -> Import/Export
2. Go to Native XML Plugin
3. Go to Export Issues or Export Articles
4. Export some items
5. Download th

[2020-12-14 10:25] NateWr commented on #5678
Codesniffer has a beautifier and fixer that can automatically apply formatting changes: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Fixing-Errors-Automatically

[2020-12-14 10:30] NateWr commented on #5948
In theory it shouldn't need testing, but I'd like to test the full process of publish -> unpublish -> republish to make sure that no submissions are accidentally dropped in the process. That's because publications need a special status, `STATUS_SCHEDULED`, to be published when an issue is published. So if during the unpublish process a publication gets set to the wrong status or something, it's po

[2020-12-14 10:59] NateWr commented on #6446
Hmm, if it requires a page refresh to see that the new version was created, that's a bug of some kind. Can you try checking your browser's console log? Maybe there was a JS error of some kind that prevented it from refreshing properly.

[2020-12-14 11:19] ajnyga opened #6481 "Posting as an author in OPS 3.3. does not refresh the authorDashboard view"
**Describe the bug**
OPS 3.3. Trying to Post as an author will not close the publishing requirements window and does not refresh the authorDashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Allow authors to post using a screening plugin
2. Log in as an author and try to post your preprint
3. The form will show that the selection was saved, but the view is not refreshed. The window sh

[2020-12-14 11:32] NateWr opened #6482 "Section editor can upload to unassigned review round"
**Describe the bug**
When an editorial user is assigned to the review stage and allowed to upload to the Review Files, they can modify the review round ID to upload a file to the wrong review round, and therefore upload files to a submission they are not assigned to.

**To Reproduce**
Reproduction steps are available in a separate document.

**What application are you using?**
3.3 RC 2

[2020-12-14 11:51] NateWr commented on #6468
Ugh, there's also an untranslated string in there: https://github.com/pkp/pkp-lib/blob/master/templates/stats/users.tpl#L48

My bad.

[2020-12-14 11:54] NateWr commented on #6471
Thanks @ewhanson!

[2020-12-14 11:54] #6471 closed

[2020-12-14 11:59] NateWr commented on #6474
Does that foreign key constraint look like a similar problem to https://github.com/pkp/pkp-lib/issues/6337? That was addressed in the migration by removing all `review_round_files` that pointed to a non-existent submission file: https://github.com/pkp/pkp-lib/pull/6372/files

Can we add something like that to the migration for `review_files`?

[2020-12-14 12:03] NateWr commented on #6481
Can you check the console log for any errors that might be preventing this?

[2020-12-14 12:03] ajnyga commented on #6481
I am just looking into this

[2020-12-14 12:14] ajnyga commented on #6481
No errors present. None in javascript console or the error log

This is what is loaded when I click on Post

![Uploading Screenshot 2020-12-14 at 14.13.42.png…]()

[2020-12-14 12:44] ajnyga commented on #6481
Noticed that when I click Post as a moderator, I also get this call `http://localhost/ops-master/index.php/publicknowledge/api/v1/submissions/1` which is totally missing when I do the same thing as an author.

[2020-12-14 14:38] NateWr opened #6483 "Default theme exceeds viewport width in some cases"
**Describe the bug**
When the viewport is between 1180-1199 pixels wide, the default theme exceeds the viewport width and links on the edge of the page can fall slightly off of it.

**What application are you using?**
3.3 RC2

[2020-12-14 16:35] mjaoj commented on #5912
This is great! When is this going to be available?

[2020-12-14 19:14] pmangahis opened #6484 "3.3 Drag and drop Reviewer file upload (Further testing required)"
**Describe the bug**
As per my discussion with Nate, this may not be a bug but a hidden feature that requires further testing.

![3 3 Reviewer drag and drop](https://user-images.githubusercontent.com/50342731/102124686-71c9c180-3dfd-11eb-84c0-4bc07b39e96d.gif)

**To Reproduce**
Steps to reproduce the behaviour:
In 3.3. rc2 it seems that the reviewer also has the ability to use the multi-file drag

[2020-12-14 19:59] ajnyga commented on #6481
@NateWr
OPS:  https://github.com/pkp/ops/pull/95
pkp-lib: https://github.com/pkp/pkp-lib/pull/6485

This is a fix for two issues:
1. allow authors to access production stage actions (like relate form and post, unpost).
2. Close the publish form and refresh the view when author does post

[2020-12-15 06:03] pmangahis opened #6486 "Add Additional Subscription Contact Information"
**Describe the problem you would like to solve**
When a Subscription Manager goes to add a Create a New Subscription (Individual or Institutional) they are prompted to attach a contact. Currently, the only information that is available to the Subscription Manager is the Name. However, it would be difficult to determine offhand if there are two users that have the same name.

![no_useraccount](http

[2020-12-15 08:35] withanage commented on #5912
@mjaoj

This plugin will be available with OJS 3.3.3  with standard support.

But for OJS 3.2, if you would like to use it already you have to have a OJS 3.2.1 installation from the source code after 30.11 or you have to tweak the template.

Please have a look at the update  instructions.
https://github.com/withanage/ror#installation.

@ainulrafiq  did a test installation and you can see the plugi

[2020-12-15 10:26] NateWr commented on #6481
Thanks, it looks good. Can you add a PR for OJS to run the tests there, just in case the `pkp-lib` change has any side effects?

[2020-12-15 11:27] ajnyga commented on #6481
OJS: https://github.com/pkp/ojs/pull/2952

Tests running

[2020-12-15 11:46] NateWr commented on #6484
It looks like the Reviewer Attachments work ok because there is no genre selection that occurs during upload. So although the UI doesn't make much sense the uploads don't cause problems.

However, we need to test what happens in other instances of the file upload, like Review Files / Copyedited / Discussions / Galleys to make sure there are no bugs that occur when multiple files are dragged and dr

[2020-12-15 12:10] NateWr commented on #6143
Duplicate of https://github.com/pkp/pkp-lib/issues/6396

[2020-12-15 12:10] #6143 closed

[2020-12-15 14:33] NateWr commented on #6481
Thanks, all merged!

[2020-12-15 14:33] #6481 closed

[2020-12-15 17:17] withanage commented on #3022
I had a discussion with the legal department  about GDPR  and wanted to comment just for information.

This I can confirm again and as long as the managing editor  is legally bound by the publisher to obtain signatures they can create the users and this process can be outside the platform.

But there is one point they noted, if the ojs installation is an multi-journal installation, a journal manag

[2020-12-15 23:29] asmecher commented on #6470
@amandastevens, could you try this again? The genre form currently causes a warning...
[code]
...but that's just a warning, not an error. However, the testing server was previously configured to display warnings to the browser (which is not recommended) where they'll cause trouble with AJAX requests. Israel fixed that and I suspect this has gone away as a result.

[2020-12-15 23:31] asmecher commented on #6470
(The warning itself is resolved in this commit: https://github.com/pkp/pkp-lib/commit/0c2be384eba0734db94a0a31262b4a27fda46404)

[2020-12-15 23:51] asmecher commented on #6469
Here's the more detailed error report:
![image](https://user-images.githubusercontent.com/200411/102286462-3d353300-3eed-11eb-8791-a432c2012d9c.png)
This is happening because the server is running PHP7.2, but there is syntax in the report plugin that requires PHP7.3 or newer.

The 7.3 requirement is not reflected in the README etc -- I'll double-check and update those.

[2020-12-15 23:51] #6469 closed

[2020-12-15 23:58] asmecher commented on #6469
(Pinged Michael and Israel to find a hosting solution for this.)

[2020-12-16 00:26] asmecher commented on #6467
@jmvezic, thanks for reporting -- if you apply https://github.com/pkp/pkp-lib/commit/459635c6dfd4a120e58f8f0f58435b836fb16866 in `lib/pkp`, that should resolve the issue. Please confirm if you're able!

[2020-12-16 00:26] #6467 closed

[2020-12-16 00:27] asmecher commented on #6470
Actually, I was able to confirm on the install myself -- it's resolved. Closing, thanks!

[2020-12-16 00:27] #6470 closed

[2020-12-16 07:54] jmvezic commented on #6467
The bug is still there in the latest version of 3.3 (master branch). It's now a bit different, though - now all the links in the editor just say "{$contextPath}" without the rest of the path. Attaching a screenshot. Links on the webpage itself are still invalid on reloading defaults, they are, for example:

http://ipaddress/journal1/index.php%7B$contextPath%7D/user/register

There is also a separa

[2020-12-16 09:20] NateWr commented on #3022
Ideally, a journal manager should not have access to any private information about a user who is not enrolled in their journal. They shouldn't even know that the user is enrolled in another journal. In my view, the feature should work like this:

When the user accepts the invite, they can enter all of their registration details. If the user accepts the invite, but they already have a user account

[2020-12-16 11:39] NateWr commented on #6062
Looks good, Erik! I haven't looked at the code, but here are a few suggestions for the UI/UX.

1. Move the menu item to the top group and call it "DOIs". This should be treated like content that is managed regularly rather than settings.
2. "Article DOI Management" -> "Article DOIs" (same with issues)
3. Convert the issue select filter to `FieldSelectIssues` (plural -- see the submission lists)
4.

[2020-12-16 11:39] NateWr commented on #6062
I forgot to add that you can see the hacking I did for these suggestions at https://github.com/NateWr/ui-library/commit/d6c0273ab8e9a26722516b7d5599aa288c17f2d5

[2020-12-16 11:42] NateWr commented on #6062
Sorry, I also forgot my recommendations for the expanded item area. The actions should be moved down below the list. This will also keep it from cluttering the summary with badges/buttons.

![doi-single](https://user-images.githubusercontent.com/2306629/102344394-bdae6f00-3f93-11eb-8cb9-51cce9485041.png)

[2020-12-16 11:48] NateWr commented on #6062
Last one, I swear! I notice that the list includes incomplete submissions. These can probably be removed (pass a false `isIncomplete` param in the `getParams`). You might even consider removing everything that's not in Copyediting/Production -- though check with James/Mike first.

[2020-12-16 14:19] jmvezic commented on #3022
@NateWr Agreed, that seems like the ideal solution which also respects GDPR.

So the workflow would be as follows (If I understand correctly):

- Editor (or only journal manager?) enters an e-mail address of the user they want to register/add to the journal
- OJS checks if the e-mail already exists, if there is already a user account with entered e-mail
- If there is:
  - OJS sends invite for acce

[2020-12-16 14:34] jmvezic opened #6487 "Can't install plugins from plugin gallery"
**Describe the bug**
Upon clicking "OK" after "Install", nothing happens. error.log file prints out:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Website, Plugins, Plugin Gallery, any plugin
2. Install
3. Ok

**What application are you using?**
 OJS 3.3.0.1. (latest master)

**Additional information**
Please add any screenshots, logs or other information we can use to invest

[2020-12-16 14:50] jmvezic opened #6488 ""Log out as user" has unresolved {$username} variable on public interface"
**Describe the bug**
The user dropdown menu on the public-facing interface (not editorial/backend interface) has an unresloved {$username} variable when logged in as another user, appearing as:

"Log out as {$username} username"

The link appears correctly in the editorial/backend interface, though.

**To Reproduce**
Steps to reproduce the behavior:
1. Have journal manager role
2. Go to Users and

[2020-12-16 15:23] NateWr commented on #3022
Yes, but I'd like to see the conditional logic only applied when the user accepts an invitation. So:

- Editor enters email address
- Email invitation is sent with details
- User clicks to accept invitation
- If account exists:
  - If user is logged in, OJS does everything automatically and shows a page that only asks for the consent confirmation.
  - If user is not logged in, OJS says "you've got

[2020-12-16 16:22] alexxxmendonca commented on #3022
That workflow looks good, @NateWr.

[2020-12-16 16:26] defstat opened #6489 "OPS: pages/management/index.php typo"
**Describe the bug**
`pages/management/index.php` typo produces a http 500 error

**What application are you using?**
OPS version 3.3

[2020-12-16 16:30] defstat commented on #6489
@asmecher

**PR**
[OPS]: pkp/ops#97

[2020-12-16 17:58] asmecher commented on #6488
Thanks for testing and reporting, @jmvezic! I think that's a duplicate of https://github.com/pkp/pkp-lib/issues/6472.

[2020-12-16 17:58] #6488 closed

[2020-12-16 18:03] defstat opened #6490 "Native Import/Export Plugin - Several Changes"
**Describe the problem you would like to solve**

Native Import/Export plugin
- [ ] Has duplicate code across applications
- [ ] When the import process fails, the process may leave the DB with garbage data
- [ ] The Export process does not display possible process errors in app
- [ ] OPS Import/Export Implementation

### Has duplicate code across applications
The duplication is dealt in two ways:

[2020-12-16 18:06] ajnyga commented on #3022
@NateWr do you have preference where the user actually accepts / declines the roles in the UI?
`user/profile#roles` tab is one option.

[2020-12-16 18:08] defstat commented on #6490
@asmecher @NateWr

**PRs**
[PKP-LIB]: #6491
[OJS]: pkp/ojs#2955
[OMP]: pkp/omp#901
[OPS]: pkp/ops#98

[2020-12-16 18:10] ainulrafiq commented on #5495
Dear @jonasraoni , I am new to use the OHS 2.3, PHP 5.6. Since installing the system, it is passed 5 hours and the archives still 0 records. I checking the error log, but there is no mention about this.

Let's sharing.

Thank you!

Regards,
Rafiq

[2020-12-16 19:36] pmangahis opened #6492 "OJS 3.2 Email Signature not populating in reviewer request"
**Describe the bug**
In OJS 3.1 the user-provided signature (**{$editorialContactSignature}**)would populate in the review request. However, in OJS 3.2 it only populates the user's name and email address.

Screencapture recording available here: https://share.getcloudapp.com/12uKPXBz

**To Reproduce**
Steps to reproduce the behaviour
1. Assign reviewer in manuscript
2. Generate request
3. User-pro

[2020-12-16 19:59] asmecher commented on #6487
Thanks, @jmvezic! This issue can be resolved by applying https://github.com/pkp/pkp-lib/commit/9414c3a865a04d6a801749e3ed8f4d22767c393b in the `lib/pkp` submodule/subdirectory.

[2020-12-16 19:59] #6487 closed

[2020-12-16 21:45] gemusehandler opened #6493 "Google Scholar's indexing of OMP is still not working"
OMP = version 3.1.2.4

I think the issue is well described Monica Westin, Google Scholar partnerships lead/technical program manager
I picked the information up from this thread:
https://forum.pkp.sfu.ca/t/how-to-make-google-scholar-harvest-the-omp-metadata/3987/16

Simply put: OMP adds the Dublin Core metadata to the "head" of the abstract page of the book, elements like:
link rel="schema.DC" hre

[2020-12-16 21:52] asmecher commented on #6493
@withanage, could you take a look at this one?

[2020-12-16 21:55] asmecher commented on #6133
@pmangahis, would https://github.com/pkp/pkp-lib/issues/4092 resolve this?

[2020-12-16 22:01] withanage commented on #6493
@asmecher, sure, I will take a look into it.

[2020-12-16 22:03] gustavotonini opened #6494 "Future Issues - Reordering does not save"
We have the same problem as #6067 (grid reordering does not save) at Issues -> Future Issues. When editing the sections' order, it does not save the new configuration.

Path: /index.php/<journal>/manageIssues#futureIssues

[2020-12-16 22:24] asmecher opened #6495 "Incorrect URLs in default context settings"
This commit (https://github.com/pkp/ojs/commit/848801ffd60f220a7117b5fb3bdf9297e15dd9d3#diff-ac9c95d7167eefb01fbba2228574a5cef0ccdc98236248acb35f11254018ebd3) changed the following locale keys (`locale/xx_YY/default.xml`, now `locale/xx_YY/default.po`) from...
[code]
...to...
[code]

On my 3.2.1-2 installation with a freshly-created journal, this has the following result:
1. Go to Settings > Websi

[2020-12-16 22:24] asmecher commented on #6495
@NateWr, I would revert the change back to the older approach but I'm not sure whether it was made because of seeming incompatibility with other systems (e.g. your dev environment)? Do you recall why the change was introduced?

[2020-12-16 22:33] asmecher commented on #6494
@gustavotonini, what version of OJS are you using? (Please include this with issue reports.)

[2020-12-16 22:34] gustavotonini commented on #6494
We are using 3.2.1.1

[2020-12-16 22:36] asmecher commented on #6494
https://github.com/pkp/pkp-lib/issues/6067 is fixed in OJS 3.2.1-2. Did you try applying the patch provided there?

[2020-12-16 22:40] gustavotonini commented on #6494
Yes, I applied but it didn't work. Do I have to expire the template's cache or something?

[2020-12-16 22:51] asmecher commented on #6494
Ah, I understand now -- this is a similar issue with re-ordering, but affecting the Future Issues list instead of the Submission Checklist. I'll see if I can reproduce the issue locally using OJS 3.2.1-2 (the latest stable release).

[2020-12-16 23:17] ewhanson commented on #6062
Thanks, @NateWr! This all sounds great and is really helpful. I'll work on getting this implemented and ping you once it's done.

[2020-12-16 23:22] asmecher commented on #6494
I'm afraid I wasn't able to reproduce this behaviour with 3.2.1-2; I'd recommend upgrading to the latest stable release, and if the problem still appears, add a note here.

[2020-12-17 01:42] asmecher commented on #6467
@jmvezic, are you sure the Reload Defaults button is having an effect here? If you try saving a conspicuous change to the "For Readers" entry, then hit Reload Defaults, does it revert that change?

[2020-12-17 07:50] jmvezic commented on #6467
@asmecher Yes, making a change before hitting the "reload defaults" does work (it doesn't revert the change), however the issue is I have about 50 journals which never changed the text of those entries from default, all of which now have invalid URLs after hitting reload defaults (to load in some new e-mail template translations).

[2020-12-17 07:53] jonasraoni commented on #5495
Hi @ainulrafiq!

I've been testing it against PHP 7.2 - 7.4 and MySQL 5.7 it worked fine. So, considering there's no issues in your setup, maybe the archive you're trying to index is faulty or timing out (I've added some extra things to the code, to help monitoring errors and also to setup the timeouts, but I'm unable to merge at this moment).

You can try to run the command below in the console t

[2020-12-17 10:50] NateWr commented on #3022
I want a new, simplified UI for accepting an invitation. After they've accepted, it can take redirect them to their user profile page where they can edit anything they want further.

![accept-invitation](https://user-images.githubusercontent.com/2306629/102477953-ef3b3f00-4054-11eb-9e04-70353bb4a8e7.png)

This should appear as a backend page but with no header or navigation menu. (Consider adding

[2020-12-17 11:10] NateWr commented on #6490
Thanks @defstat. The CLI stuff looks interesting. Can you share the commands to use to run imports/exports from the terminal?

[2020-12-17 11:19] NateWr commented on #6495
I can reproduce the error myself, so probably best to revert it. I suspect that at one point in time I had a `base_url` with a trailing slash, and that led me to make that change. But my current config has it without the trailing slash and I think that's the expected configuration.

[2020-12-17 11:28] #6489 closed

[2020-12-17 11:32] NateWr commented on #6494
Closing this for now, but we're happy to reopen this when there are reproduction steps to confirm the bug.

[2020-12-17 11:32] #6494 closed

[2020-12-17 11:34] defstat commented on #6490
### Test CLI commands
## OJS

- `php importexport.php NativeImportExportPlugin export --xmlFileName test_issues_export_1.xml --journal_path publicknowledge issue 1`
- `php importexport.php NativeImportExportPlugin export --xmlFileName test_articles_export_1.xml --journal_path publicknowledge article 3`
- `php importexport.php NativeImportExportPlugin export --xmlFileName test_articles_export_2.xml

[2020-12-17 13:26] NateWr opened #6496 "Can't load Metadata tab of Publication Format [OMP]"
**Describe the bug**
The metadata tab of a publication format does not load due to a fatal error.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a submission's workflow and click Publication > Publication Formats.
2. Add a Publication Format.
3. Expand the options for that format and click Edit.
4. Try to load Metadata tab.

**What application are you using?**
OMP 3.3 RC2

[2020-12-17 15:44] Vitaliy-1 commented on #6006
DOI/Crossref tests are failing when I'm trying to run them locally. Logs:
[code]
Looks like DOI plugin isn't enabled on my test instance.

[2020-12-17 15:48] Vitaliy-1 commented on #6006
(I'm running the test against current OJS master branch)

[2020-12-17 16:29] ajnyga commented on #3022
You mean `backend.tpl`?

[2020-12-17 16:58] denismaier commented on #3691
Looks like this should be available by now. Correct?  Any hints how this can be used? Is that documented somewhere?

[2020-12-17 17:17] NateWr commented on #3691
@denismaier good point, this should be documented as part of the [Theme API](https://github.com/pkp/pkp-docs/blob/master/pkp-theming-guide/en/theme-api.md).

Use it by adding a style to the context `htmlGalley`:

[code]

[2020-12-17 18:23] denismaier commented on #3691
@NateWr thanks, I'll have a look. Where should  you store the stylesheet?

[2020-12-17 18:24] NateWr commented on #3022
Yep!

[2020-12-17 18:25] NateWr commented on #3691
With your custom theme plugin.

[2020-12-17 18:34] denismaier commented on #3691
Ok. And how do you tefetence the stylesheet in the html?

[2020-12-17 18:43] NateWr commented on #3691
You don't. It will be automatically injected into the `<head>` of the HTML. The goal of this feature is to separate out the style (specific to a theme) from the galley (which will persist over time and through journal branding changes).

[2020-12-17 19:15] asmecher commented on #6495
Fixed, thanks!

[2020-12-17 19:15] #6495 closed

[2020-12-17 19:17] denismaier commented on #3691
I see. For testing and development purposes I nevertheless have a link to a stylesheet in the html. Do I have to remove that before uploading? Or will that just be ignored or overriden?

[2020-12-18 19:57] asmecher commented on #6467
@jmvezic, I fixed the issue separately with the path being incorrectly formed when the journal is created (e.g. `http://ipaddress/journal1/index.phpdemojournal/user/register`, missing the `/` between `index.php` and `demojournal`): https://github.com/pkp/pkp-lib/issues/6495

I think what you're saying, though, is that Reload Defaults *isn't* having an effect on these settings. The fact that you ca

[2020-12-18 20:03] ctgraham commented on #6473
These referenced PRs are designed to add the functionality without requiring a translation round, but a subsequent clarification of the message `settings.libraryFiles.public.viewInstructions` should probably trigger a translation round.

[2020-12-18 20:17] asmecher commented on #6473
A long time ago, we used to have a MIME type list for files that should be presented inline vs. downloaded; does it make sense to present both download and view options for all file types? Has browser behaviour improved? https://github.com/pkp/pkp-lib/blob/ojs-2_4_8-2/classes/file/PKPFileDAO.inc.php

The immediate need for this is gone since we're presenting "inline"-style galleys (HTML, XML) usin

[2020-12-18 20:39] ctgraham commented on #6473
My opinion is that the `Content-Disposition: attachment` header is unnecessary at this point and generally shouldn't be used.  Let the browser deal with the file.

I would have just changed the link to inline everything, but, I don't want to introduce a backwards-incompatible change to stable, and I do want to backport to stable.

Thus, an overly verbose compromise.

[2020-12-18 20:56] jmvezic commented on #6467
@asmecher, so that bit behaves correctly, yes. The changed setting remains the same, as it should.

The issue is when the default texts _aren't_ changed. So say journal managers don't want to change them - they think the default texts are just fine. Then later on they reload the language defaults and suddenly the links in those texts no longer work (because the variable no longer resolves to the j

[2020-12-18 21:03] pmangahis commented on #6133
@asmecher, I think in addition to providing some clarification on the notifications option within the profile setting having better clarity around review round status would also be helpful for authors.

[2020-12-19 00:54] pmangahis opened #6500 "Chinese Locale Translation Display authors name in the wrong order"
A hosted client has pointed out that when an OJS user uses a Chinese language locale (Simplified or Traditional) the way the names are displayed appears in the wrong order, which I had confirmed by a Chinese reader.

Currently, names in both English and Chinese show up as First, Last Name. But the proper way to display a Chinese the names should appear Last Name, First name.

For example, the prop

[2020-12-19 01:20] asmecher commented on #6500
The way full names are built from family and given names is implemented in [Identity::getFullName](https://github.com/pkp/pkp-lib/blob/stable-3_2_1/classes/identity/Identity.inc.php#L72). There are two forms: conventional, and last name first (e.g. `Alec Smecher` and `Smecher, Alec`).

I'd recommend introducing two new locale keys so that the construction can be done on a locale-by-locale basis. F

[2020-12-19 11:44] eocarragain opened #6501 "Galley url_path not imported in Native XML Import/Export"
**Describe the bug**
When importing via Native XML, I have set a url_path attribute on the article_galley element. This is supported in the XSD: https://github.com/pkp/pkp-lib/blob/master/plugins/importexport/native/pkp-native.xsd#L224

However when importing the XML, the url_path attribute is ignored

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Import/export
2. Import an xml file c

[2020-12-19 17:03] bozana commented on #6411
PR:
ojs master: https://github.com/pkp/ojs/pull/2958

[2020-12-19 17:04] bozana commented on #6411
@asmecher, could you take a look at the PR?

[2020-12-21 09:50] NateWr commented on #3691
This feature injects a `<link>` tag into the `<head>` of the HTML. If won't remove or overwrite any existing tags. So if you have a `<link>` tag in your HTML, the browser will still try to fetch that CSS file. I recommend you remove it from your existing HTML.

[2020-12-21 11:03] jmvezic commented on #3094
I don't know how this is stored in the background. If it's stored as "weeks" integer, that should be converted to "days" for journals that are upgrading OJS, to avoid 2 weeks -> 2 days conversion.

[2020-12-21 13:50] NateWr commented on #6500
Perhaps we can mark all of the other translations with the `fuzzy` flag so that translators will review them?

[2020-12-21 17:10] NateWr commented on #6501
Thanks @eocarragain! @defstat can you review the PR linked above?

[2020-12-21 18:24] jnugent opened #6502 "Missing files break issue table of contents generation"
Israel and I discovered this in OJS 3.3.  We upgraded a test installation from 3.2.1 to 3.3 and received a blank screen loading the journal index, which was also loading the table of contents for the current issue.  Turning on debugging results in the following error message attached as a screenshot.

Missing files are a fact of life for our clients, perhaps this exception can be caught and dumped

[2020-12-22 08:48] withanage commented on #3022
Thanks all. This is a very  good plan  in respect with the GDPR guidelines.

Until this feature is properly implemented, I am going to remove  the https://github.com/pkp/pkp-lib/blob/master/templates/controllers/grid/settings/user/userGridFilter.tpl#L40:L43

locally , so that Journal managers/ Editors can't search other users from mult-journal installations.

If you think, it is also useful the co

[2020-12-22 09:05] defstat commented on #6006
Hi @Vitaliy-1. There is a test [https://github.com/pkp/ojs/blob/master/cypress/tests/integration/Crossref.spec.js#L14] right before the one that failed. Did that run?

[2020-12-22 09:11] NateWr commented on #3022
I think we need to leave that in for now because it is the only way for admins to locate users in the system. However, a plugin that hooked into the search request and returned an error message if `includeNoRole` is passed would probably be useful. (Removing the HTML won't prevent the request on its own.)

[2020-12-22 10:38] NateWr commented on #6502
@jnugent can you provide reproduction steps? It's not clear precisely what is missing in the "missing files" and repro steps clear up any ambiguity.

[2020-12-22 12:05] ajnyga opened #6503 "OAI _getRecordsRecordSet sql query becomes very slow in larger sites"
**Describe the bug**
I a larger multijournal installation calls to OAI can get very slow. The reason is the `_getRecordsRecordSet` class which cases slow queries https://github.com/pkp/ojs/blob/master/classes/oai/ojs/OAIDAO.inc.php#L207-L265.

Dividing the query to two parts will make `_getRecordsRecordSet` considerably faster.

**What application are you using?**
OJS 3.1.2, same should apply to n

[2020-12-22 12:07] defstat commented on #6425
@asmecher @NateWr

**PR**
[OMP]: pkp/omp#902

This PR fixes the "PDF not getting displayed".

I am still getting the `Uncaught ReferenceError: PDFJS is not defined` error on my Chrome console, but with no obvious consequences. If you are not getting the same JS error, it could be my installation.

[2020-12-22 12:23] defstat commented on #3261
Hi @SantiMaceri! Is there a PR that we could test/review regarding that?

[2020-12-22 12:35] jnugent commented on #6502
Hi @NateWr ,

Sure.  Just create an OJS 3.3 installation with a full file tree, and then delete one of the proof files that would normally be a galley in the table of contents. We found this bug accidentally when we upgraded an install from 3.2 to 3.3 and mistakenly used the wrong files_dir value.

[2020-12-22 13:00] defstat commented on #6490
@NateWr @asmecher

We should probably consider submission-publication-issue states when adding submissions-publications-issues through the import/export.

Having in mind (https://github.com/pkp/pkp-lib/issues/5837), maybe an issue to discuss is whether the submissions-publications-issues should keep the "published" statuses. (This could be related to other indicators like submissions::progress)

[2020-12-22 13:02] defstat commented on #5992
@jhennig thanks for spotting this.

Please check if the PR bellow fixes the issue.

**PR**
[PKP-LIB]: #6504

[2020-12-22 13:03] NateWr commented on #6502
Just to make sure you mean delete the file on the filesystem, not delete the file from the galley in the UI, right?

[2020-12-22 13:10] NateWr commented on #6490
I think yes, the import should import it in precisely the same state it was in when it was exported.

[2020-12-22 13:26] jnugent commented on #6502
That's correct.

[2020-12-22 14:30] akerbeltz commented on #5000
This isn't just about ancient languages. We have a similar issue just now in that one of the academic journals we're moving onto OJS accepts articles in English, Scots Gaelic and Irish. We've done enough of the translations for Scots Gaelic but we can't translate the Irish files just so that we can mark articles which are published in Irish as being in Irish, not got the budget for that.
Site admi

[2020-12-22 14:47] withanage commented on #3022
Sure, I will try it as a plugin and  look,   if I can hook in  and disable the  search resutls only for JMs and  JEs , so that we do not break the functionality for the admins.

[2020-12-22 15:02] Vitaliy-1 commented on #6006
@defstat, I've re-run the tests and now they are passing. Looks like a false alarm, sorry. I'll let you know if be able to reproduce it again and find the reason.

[2020-12-22 15:05] NateWr commented on #6482
PR:
https://github.com/pkp/pkp-lib/pull/6506

Tests:
https://github.com/pkp/ojs/pull/2963

[2020-12-22 15:21] ajnyga commented on #6503
OJS: https://github.com/pkp/ojs/pull/2964

Ping @asmecher, if you check this I can prepare it for OPS and OMP as well (although I do not think there are any large sites that are hit by this yet)

[2020-12-22 15:45] #6482 closed

[2020-12-22 16:23] defstat commented on #6006
@Vitaliy-1 thanks, no problem.

I am closing it for now

[2020-12-22 16:23] #6006 closed

[2020-12-22 16:28] #5992 closed

[2020-12-22 17:45] jnugent opened #6508 "OMP download statistics chart uses wrong id"
The front end download statistics chart in OMP (version 3.2.1, but also master branch) is using a Publication object instead of a monograph object when fetching stats.

https://github.com/pkp/usageStats/blob/master/UsageStatsPlugin.inc.php#L613

The visible symptom of this problem is that the chart displays sporadically, or perhaps not at all, depending on whether or not the publication id also co

[2020-12-24 16:47] Vitaliy-1 opened #6509 "User subscriptions page is inaccessible"
**Describe the bug**
Trying to visit user subscriptions page throws a fatal error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Activate subscriptions: Distribution -> Acess -> The journal will require subscriptions to access some or all of its contents.
2. Visit the journal's user subscriptions page `...user/subscriptions`
3. See the error

**What application are you using?**
 OJS

[2020-12-24 17:25] Vitaliy-1 opened #6510 "Non-expiring institutional subscription can't be added"
**Describe the bug**
The form requires the start and end date to be included, after inclusion and trying to save the form - message appears that states that those fields shouldn't be specified.
Also `required` label is missing for the input field `Institution name`.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable payments: Distribution -> Payments -> Enable
2. Go to Payments -> Subscr

[2020-12-26 14:56] Ph-We commented on #5912
Would it make possible to add more than one affiliations this way? Thank you!

[2020-12-28 17:17] Vitaliy-1 commented on #6509
PR to OJS master: https://github.com/pkp/ojs/pull/2967

[2020-12-28 20:55] diegoabadan opened #6511 "OJS is very slow with a large table of contents (hundreds of items)"
We published conference proceedings in OJS. When we updated one of them to OJS 3.2.1-2, access to the table of contents became extremely slow. We note that there is no specific SQL that takes too long, but the number of SQL queries is high.

Nothing appears until all queries are completed, and the sum of them plus PHP processing is a bottleneck.

**Highlights:**
- Editions with more than 300 publi

[2020-12-28 21:15] asmecher commented on #6511
@diegoabadan, is your database server on the same system as the PHP is executing?

[2020-12-28 21:19] diegoabadan commented on #6511
No, the database is on a nearby server that also serves other instances of OJS, connected via a private network.

The `persistent = Off ` option doesn't seem to help.

[2020-12-28 21:23] diegoabadan opened #6512 "web_cache = on does not work in OJS 3.2"
When activating the `web_cache = on` option in OJS 3.2 the error occurs:

[code]

Reference: https://github.com/pkp/ojs/blob/stable-3_2_1/config.TEMPLATE.inc.php#L180

In the PKP forum more people had the same problem:

https://forum.pkp.sfu.ca/t/ojs-3-0-2-fatal-error-getuservar-on-null/29923

https://forum.pkp.sfu.ca/t/upgrade-ojs-2-4-6-to-ojs-3-x-error/40193/11

[2020-12-28 21:25] asmecher commented on #6511
@diegoabadan, we've had a report or two that the overhead imposed by running a database that's on a separate server is considerable. It's probably the cumulative effect of network overhead for each of the queries, and the total effect is considerable. Is it an option to try running the database on the same system?

[2020-12-28 21:27] diegoabadan commented on #6511
I will do the test and return with the result.

thanks!

[2020-12-28 22:47] diegoabadan commented on #6511
Running the database on the same server as the application made the time much shorter. It now typically takes a little over 4s to load the first resource, which can range from 3s to just over 6s.

A typical journal on this same server, using an external database, takes less than 2s.

External test images to help:

Proceedings

1. Test 1:

![image](https://user-images.githubusercontent.com/15090895

[2020-12-29 00:25] robsonsw opened #6513 "In-app help redirect all link to SUMMARY"
**Describe the bug**
All links in help sidebar/floatbar (in-app help) redirect to SUMMARY.md file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any internal page
2. Click on 'Help' Tab
3. Click on any item in summary
4. Wait loading... See only SUMMARY again.

**What application are you using?**
 OJS version 3.2.0-3 (estable)

**Additional information**
![image](https://user-images.

[2020-12-29 13:36] amandastevens opened #6514 "OPS 3.3 - Galleys uploaded to submission but notification says "Awaiting Galleys""
I'm testing OPS 3.3. I made a submission as an author and uploaded one PDF galley file. When I log in as a Moderator and view the submission, above the Production tab it says "Notification: Awaiting Galleys." However, when I go to the Preprints tab and Galleys, there is a galley file there.

![Awaiting galleys](https://user-images.githubusercontent.com/35044512/103287583-7919cf00-49a8-11eb-8b8c-d1

[2020-12-29 14:03] Vitaliy-1 commented on #6512
Hi @diegoabadan,

Can you describe the steps needed to reproduce the error, like in the template? I'm unable to reproduce it on my test 3.2.0 instance, so I'm assuming you have additional plugins or settings enabled or something else.

[2020-12-29 14:37] diegoabadan commented on #6512
I tested it on an OJS instance that was upgraded from 2.4.8-5 to 3.2.x. Next I will confirm in an installation made from the current OJS.

I noticed now that not all pages and in not all situations the error 500 occurs.

How to reproduce the problem:
1) Open a private window in your browser, without logging in to OJS
2) Try with any of these resources:
/issue/current
/issue/archive
/about/editoria

[2020-12-29 15:00] Vitaliy-1 opened #6515 "View available subscriptions link on user subscription page should be conditional"
**Describe the bug**
If the subscription option is enabled, the user subscription page becomes accessible on the front-end. On the bottom of the page, just before the footer, there is a link `View Available Subscription Types` that points to the `.../about/subscriptions` page:

![screencapture-localhost-8000-index-php-publicknowledge-user-subscriptions-2020-12-29-16_47_58](https://user-images.gith

[2020-12-29 15:09] diegoabadan commented on #6512
I confirmed the same problem in an instance with OJS 3.1.2.4 and without having undergone upgrades.

[2020-12-29 19:01] salmanm2003 opened #6516 "[OJS] Removing a nav menu item causes an error"
Hi,
I have an issue with removing a nav menu item from OJS settings > website > setup > navigation , as the system throwing an error:
```PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Illuminate\Database\Connection::prepareBindings() must be of the type array, int given, called in /var/www/html/lib/pkp/lib/vendor/laravel/framework/src/Illuminate/Database/Connection.php on line 487 and

[2020-12-29 21:59] robsonsw commented on #6513
The issue only occours if default language is not english! If I change the file **[HelpHandler.inc.php](https://github.com/pkp/pkp-lib/blob/master/pages/help/HelpHandler.inc.php)**:

[code]

to:

[code]

The in-app help works wells.

I trying change some codes and testing with error_log()... but I don't know if this (change this file) is the best way to deal with it.

[2020-12-29 23:50] amandastevens opened #6517 "OPS 3.3 - Author can't edit metadata / submission locale error"
On the site there are 4 languages installed: English, Espanol, Portuguese, and Francais. English is the primary locale and the other languages are enabled for the UI and forms. English is the only language for submissions.

I was testing whether an author can edit the metadata for their own submission. I granted metadata editing permission to the author as an administrator.

I logged in as the aut

[2020-12-30 00:16] amandastevens opened #6518 "OPS 3.3 - Assign DOI button is blank"
I'm testing assigning DOIs in OPS 3.3. I have enabled and configured the DOI plugin. When I go to the Identifiers tab, the DOI preview appears and there appears to be a button next to the preview field to assign the DOI, but the button is blank.

![Assign DOI](https://user-images.githubusercontent.com/35044512/103321877-64b5f080-4a01-11eb-9b36-ede2c4f2eed4.png)

When I click the button, the DOI pr

[2020-12-30 00:58] amandastevens commented on #6516
I also can't remove a navigation menu item. I can't check the error log so I'm not sure if I received the same error. But when I tried to remove the item a box appeared that said "Are you sure you wish to delete this item? This action cannot be undone," I clicked "OK," and nothing happened.  The box did not disappear.  I refreshed the page and the menu item was still there.

[2020-12-30 14:28] salmanm2003 commented on #6516
I think I know what it is causing the issue.
You just need to add the id to an array inside the query here:
[https://github.com/pkp/pkp-lib/blob/master/classes/navigationMenu/NavigationMenuItemDAO.inc.php#L240-L241](url)

[2020-12-30 14:33] Vitaliy-1 commented on #6512
Thanks! Now I'm able to reproduce it also. Master branch is also affected

[2020-12-30 15:44] Vitaliy-1 commented on #6512
PR to pkp-lib master: https://github.com/pkp/pkp-lib/pull/6519
Tests OJS master: https://github.com/pkp/ojs/pull/2968

[2020-12-30 19:27] #6513 closed

[2020-12-30 22:20] eocarragain commented on #6501
Thanks @NateWr
New pull request against pkp-lib incorporating @defstat's advice here: https://github.com/pkp/pkp-lib/pull/6521

Cheers, Eoghan

[2020-12-31 10:31] Vitaliy-1 opened #6522 "Submission Library's modal closing doesn't trigger focus shift for submission authors"
**Describe the bug**
If an author of a submission opens and then closes the submission library modal, the focus doesn't shift back, I mean to the link where it was before the model was opened. The issue seems to be not browser specific, at least i can reproduce it in Googe Chrome (v. 87) and Firefox (v. 84)
Associated error in browser's log:
[code]

**To Reproduce**
Steps to reproduce the behavior

[2021-01-02 12:13] rajeevrnt opened #6523 "[OJS]"
Why don't you sent reset password link on registered email id? This practice is commonly used by banks or other institutions.

[2021-01-03 16:40] asmecher commented on #6523
@rajeevrnt, please include all the information we might need to understand your bug report or feature request; see the templates here: https://github.com/pkp/pkp-lib/issues/new/choose

[2021-01-04 08:35] rajeevrnt opened #6524 "Forget Admin Password"
Why don't you sent reset password link on registered email id or registered mobile? This practice is commonly used by banks or other institutions.
I was trying to reset the password for (ADMIN ), but I am not receiving password on my registered email id.

[2021-01-04 09:58] BessemAamira opened #6525 "[OJS] reorder submission tab"
**Describe the problem you would like to solve**
Our editors need a way to reorganise the submission tab (submitting a new article),  including asking the author to specify metadata first before uploading a submission file

**Describe the solution you'd like**
Enables to user to specify the submission order in "The submission tab" in the steps of "Workflow settings".

**Who is asking for this feat

[2021-01-04 10:48] NateWr commented on #6516
All merged, thanks @salmanm2003!

[2021-01-04 10:48] #6516 closed

[2021-01-04 12:33] NateWr commented on #6509
Thanks @Vitaliy-1!

[2021-01-04 12:33] #6509 closed

[2021-01-04 12:38] NateWr commented on #6512
Thanks for the report and the fix!

[2021-01-04 12:38] #6512 closed

[2021-01-04 12:44] #6523 closed

[2021-01-04 12:44] NateWr commented on #6523
Duplicate of https://github.com/pkp/pkp-lib/issues/6524.

[2021-01-04 12:46] NateWr commented on #6524
Hi @rajeevrnt! We prefer to handle support queries on our [community forum](https://forum.pkp.sfu.ca/c/questions/5). Can you post your question there? We reserve the GitHub issues for confirmed bugs or more technical queries.

[2021-01-04 12:46] #6524 closed

[2021-01-04 13:01] diegoabadan commented on #6512
I confirm the correction.

thanks!

[2021-01-04 13:16] diegoabadan commented on #6511
For this usage scenario for Proceedings, I was able to get around the problem by enabling the option `web_cache = on` after https://github.com/pkp/pkp-lib/issues/6512 correction

I suspect that with the growth of rolling pass publications, journals with a more intense publication flow may be affected.

[2021-01-04 16:38] NateWr commented on #6468
Fixed in 140cecd.

[2021-01-04 16:38] #6468 closed

[2021-01-04 16:59] NateWr commented on #6472
PR:
https://github.com/pkp/pkp-lib/pull/6527

Tests:
https://github.com/pkp/ojs/pull/2972

[2021-01-04 18:19] #6472 closed

[2021-01-04 18:46] pmangahis opened #6528 "Ability to bulk-delete old incomplete submissions"
**Describe the problem you would like to solve**
We've received 2 requests from hosted clients to have a multi-select option to remove incomplete submissions.

**Describe the solution you'd like**
Currently, JMs need to delete incomplete submissions from authors and QuickSubmit plugin.

**Who is asking for this feature?**
Journal Editors, Journal Manager

[2021-01-04 18:47] asmecher commented on #6525
There is some explanation/discussion of the reason the submission steps are in their current order here: https://forum.pkp.sfu.ca/t/new-features-for-submission-workflow-change-steps-orders-and-handle-assigned-editor/32491

[2021-01-04 23:14] asmecher commented on #3933
@Vitaliy-1, could you send in a PR for the second issue, and verify whether the 4th still applies on the `master` branch?

[2021-01-05 00:07] asmecher commented on #6425
@defstat, are you seeing backslashes in the plugin's URL on Windows? I think the proposed change will at least stop it from breaking the string, but that still seems wrong to me -- backslashes shouldn't appear in the URLs.

[2021-01-05 00:58] asmecher commented on #6508
Good spotting, @jnugent! Are you working with a specific installation I can test with? If so, please send me the details privately.

[2021-01-05 01:13] asmecher commented on #6320
See also: https://github.com/pkp/ojs/pull/2961

[2021-01-05 07:51] rajeevrnt commented on #6524
Why don't you sent reset password link on registered email id or registered mobile? This practice is commonly used by banks or other institutions.
I was trying to reset the password for (ADMIN ), but I am not receiving password on my registered email id.

[2021-01-05 10:05] NateWr commented on #6528
Thanks @pmangahis. Can you say a little bit more about the use-case and the steps that editors are taking? I assume that editors/managers are identifying old incomplete submissions in some way before deciding what to remove. How do they determine which ones to remove? Why do they feel they need to remove them?

[2021-01-05 10:56] NateWr opened #6529 "Author can not upload revisions when decision is to resubmit for review"
**Describe the bug**
When requesting revisions, the editor can choose whether or not the revisions will be subject to another round of review. If the editor chooses the resubmit for review option (`SUBMISSION_EDITOR_DECISION_RESUBMIT`), then the author will not have permission to upload revisions.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a submission and move it to the review s

[2021-01-05 11:52] NateWr commented on #6310
Fix from @eocarragain merged, thanks! It looks like our other themes already support this, it was just the property that was missing.

[2021-01-05 11:52] #6310 closed

[2021-01-05 14:48] NateWr commented on #6529
Merged to master and stable-3_2_1.

[2021-01-05 14:48] #6529 closed

[2021-01-05 18:39] asmecher commented on #6467
@jmvezic, I think this is actually just a leftover issue from the earlier couple of fixes (https://github.com/pkp/pkp-lib/commit/459635c6dfd4a120e58f8f0f58435b836fb16866 and https://github.com/pkp/pkp-lib/issues/6495) -- the "Reload defaults" feature doesn't interact at all with the settings you're looking at, and the `{$contextPath}` variable should never appear in the settings the way you're see

[2021-01-05 18:45] asmecher commented on #6524
@rajeevrnt, see Nate's [comment above](https://github.com/pkp/pkp-lib/issues/6524#issuecomment-753955480). Please don't re-post the same content.

[2021-01-05 19:08] pmangahis commented on #6528
In one case the journal was doing a manual import from BePress using the QuickSubmit plugin. I think when there is an error during the submission process using QuickSubmit it still creates a record. They want to be able to remove duplicates.

In the other journal, it seems that the journal has multiple pages (over 10) of incomplete submissions from what I can tell were the authors created that the

[2021-01-05 19:17] neves01 opened #6532 "Trying to set Georgia font in OMP"
**Describe the bug**

Im trying to add a custom font (Georgia) on my OMP install. The default font Noto-sans always overrides.

**To Reproduce**

Steps to reproduce the behavior:
1. Edit **DefaultThemePlugin.inc.php** and add/modify:

[code]

2. Edit **styles/variable.less**:

[code]

3. Refresh the omp website, and inspect some body element.

**What application are you using?**

  OMP
  Code vers

[2021-01-05 19:27] Vitaliy-1 commented on #3933
The issue with IP ranges remains, although now this input is just empty, will take a closer look.

[2021-01-05 19:51] asmecher commented on #6518
This should be resolved -- though an update to the OPS repository on your testing installation will be required to confirm. (It worked for me locally.)

[2021-01-05 19:51] #6518 closed

[2021-01-06 00:12] asmecher commented on #6496
I think this was already fixed by https://github.com/pkp/omp/commit/dbe9cc2d899f59d2de86f8509f163844401db9b0 -- is that commit included in your test install?

[2021-01-06 09:30] NateWr commented on #6528
Thanks! I think the QuickSubmit issue is probably something that we should address at its source. With the incomplete submissions, do you know if these were done by a single malicious user or spam bot? Or had they just accumulated over many years?

[2021-01-06 09:32] NateWr commented on #6496
Correct. I can't reproduce this in latest master.

[2021-01-06 09:32] #6496 closed

[2021-01-06 09:50] NateWr commented on #6532
A couple of things to check:

1. This line indicates that the `<link>` tag will only be added to an HTML galley view: `array('baseUrl' => '', 'contexts' => 'htmlGalley')`. You can get rid of the `contexts` property if you want it to appear everywhere.
2. What is `enable_cdn` set to in your config.inc.php?
3. Have you cleared the template cache under Administration > Clear Template Cache? This will

[2021-01-06 11:24] Vitaliy-1 commented on #3933
The second issue was already fixed.
PR to OJS master: https://github.com/pkp/ojs/pull/2976

[2021-01-06 12:04] neves01 commented on #6532
The changes happened with step **3**. Thanks @NateWr!

[2021-01-06 12:17] NateWr commented on #6502
The following PRs fix this issue and try to degrade gracefully or return appropriate 404 responses when a file is missing. Here's what happens:

- When downloading a submission file in the backend, a 404 page is displayed.
- When downloading a galley file in the frontend, a 404 page is displayed.
- When viewing a PDF galley file in the frontend, the pdf.js loads with an error message that says the

[2021-01-06 12:20] #6532 closed

[2021-01-06 12:24] rajeevrnt commented on #6524
Dear Asmecher
But my problem is not resolved. What to do?

[2021-01-06 12:28] rajeevrnt commented on #6524
I have already posted on the name of **IJELLH**. please find the below link

https://forum.pkp.sfu.ca/t/forget-password-email-not-receiving/36574/2

[2021-01-06 13:46] #3933 closed

[2021-01-06 13:57] bozana commented on #6062
Hi @ewhanson, I have taken a look into the code and everything looks very good for me (a lot of things are also new for me, but as far as I could see it for now...). Great work! :star:
I have only two questions:
It is checked if the Crossref plugin is enabled in order to add/provide the Crossref functions, right? I think the import/export plugins are enabled per default, so maybe it could be check

[2021-01-06 14:06] jnugent commented on #6508
Master PR: #https://github.com/pkp/usageStats/pull/42

[2021-01-06 14:49] NateWr commented on #6508
I've merged that PR, cherry-picked to the `stable-3_2_1` branch of pkp/usageStats, and updated in the submodule in OMP's `stable-3_2_1` branch. Thanks @jnugent!

[2021-01-06 14:49] #6508 closed

[2021-01-06 15:17] NateWr commented on #6421
This happens when a handler's `authorize` method returns `false` without adding any policies. In such cases there is no `AuthorizationDecisionManager`. The PRs below fix this by checking for an `AuthorizationDecisionManager` before trying to get the last failure message.

PRs (master):
https://github.com/pkp/pkp-lib/pull/6534
https://github.com/pkp/ojs/pull/2979

PRs (stable):
https://github.com/p

[2021-01-06 15:19] NateWr commented on #6421
Ugh.. I went through all this and forgot to fix the original problem: that there is an auth failure. Working on that now...

[2021-01-06 15:36] NateWr commented on #6421
Ok, fixed the authorization problem in `stable-3_2_1`. It doesn't exist in the `master` branch because we have abandoned the revision confirmation form. I removed some dead code in `master` related to that.

Tests are running.

[2021-01-06 16:52] pmangahis commented on #6528
I think it might be both cases for the other journal.

[2021-01-06 16:55] pmangahis commented on #743
+1 from PKP|PS to add a CC field on editorial decisions

[2021-01-06 17:02] NateWr opened #6536 "Restrict usage/abuse of new notify feature"
OJS/OMP/OPS 3.3 will introduce a new feature that allows managers to [send an email to all users with a role](https://github.com/pkp/pkp-lib/issues/4017). The manager can select the user roles they want to email, compose an email, and have it sent to all users.

This feature can cause problems if not used properly. Sending some kinds of unsolicited emails to certain users may violate local anti-sp

[2021-01-06 17:04] NateWr commented on #6536
And one more question: what should be the default? Should we ship our software with this feature disabled by default? Or should we disable some user roles (like readers) by default?

[2021-01-06 17:50] asmecher commented on #6524
Someone will follow up on that post.

[2021-01-06 19:52] pmangahis opened #6537 "OMP 3.3 Submission Drag and Drop not functioning well"
**Describe the bug**
The drag and drop function does not seem to work when a Press Editor or Author submits a manuscript however it does allow for multiple file selection.
![OMP_drag_drop](https://user-images.githubusercontent.com/50342731/103813102-65a7dd00-5014-11eb-8d6d-bff0bc7381fc.gif)

Update: It does seem to work, but a little finicky.

https://user-images.githubusercontent.com/50342731/103

[2021-01-06 20:40] pmangahis opened #6538 "OMP 3.3 Unable to grant reviewer access to Files for review"
**Describe the bug**
If a press manager forgets to select files for review during the intitial request, they are unable to grant reviewers access to these (as well as additional files)

**To Reproduce**
Steps to reproduce the behavior:
1. Send Reviewer request (without files by accident)
2. Click on blue Reviewer name
3. Click edit
4. Select files and press save
5. Return to edit screen, files are

[2021-01-06 20:45] jonasraoni opened #6539 "Optionally require reCaptcha during the login"
**Describe the problem you would like to solve**
In order to pass through some auditing, the editors need to increase the application security by requiring the reCaptcha validation in the login page.

**Describe the solution you'd like**
As the reCaptcha is already working in the register page, we just need to port it to the login page.
An extra configuration (`captcha_on_login`) might be added to

[2021-01-06 21:00] pmangahis opened #6540 "OMP 3.3 Reviewers don't have access to review files"
**Describe the bug**
When a Press Manager sends a review request, files are selected as part of the request. However, when a reviewer goes to the Review request no files are provided to them.

**To Reproduce**
Steps to reproduce the behavior:
1. Add reviewer
2. Confirm files to be reviewed - all files have been selected
3. Send request

**What application are you using?**
OMP 3.3 r2

**Additional

[2021-01-06 21:48] jonasraoni commented on #6539
PRs:
[PKP-LIB](https://github.com/pkp/pkp-lib/pull/6541)
[OMP](https://github.com/pkp/omp/pull/905)
[OJS](https://github.com/pkp/ojs/pull/2981)
[OPS](https://github.com/pkp/ops/pull/101)

[2021-01-06 21:54] asmecher commented on #6540
Good spotting, @pmangahis! This actually affects 3.2.x as well -- there was an assumption in a piece of the code that all reviews are external reviews, but yours is an internal review.

@israelcefrin, could you update the testing install to the latest `master` (both `ops` and `pkp-lib` repositories) so the fix (which has been committed) can be verified?

[2021-01-06 22:01] asmecher opened #6542 "[OMP] Fix pull forward of submission stages files into Internal Review"
**Describe the bug**
When attempting to pull submission files into the review stage, the selected files do not appear in Internal Review (and are actually promoted to External Review instead).

**To Reproduce**
Steps to reproduce the behavior:
1. Go a submission's workflow in Internal Review
2. Click "Upload/Select Files" beside "Review Files"
3. Select a file and save the form
3. Notice that the

[2021-01-06 22:02] #6542 closed

[2021-01-06 22:37] asmecher commented on #6538
This is a duplicate of https://github.com/pkp/pkp-lib/issues/6540 (i.e. the fix there resolves this as well) -- but thanks as always for the comprehensive reports!

[2021-01-06 22:37] #6538 closed

[2021-01-06 23:29] asmecher commented on #6539
Thanks, @jonasraoni -- I've left some comments here: https://github.com/pkp/pkp-lib/pull/6541#pullrequestreview-563102644

[2021-01-06 23:33] pmangahis opened #6543 "OMP 3.3 Review Confirmation Status - no change"
**Describe the bug**
After a Press reviewer views the internal reviewer comments, there is no change in the interface.

https://user-images.githubusercontent.com/50342731/103832771-078af200-5034-11eb-8373-6851538a980c.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. Click Read Review
2. Confirm

**What application are you using?**
OMP 3.3 r2

**Additional information**
Compared this again

[2021-01-06 23:40] asmecher commented on #6543
It looks like after you clicked "Confirm" you had to click outside the modal to get it to close (i.e. there was a problem saving the changes) -- can you confirm?

[2021-01-07 00:08] pmangahis commented on #6543
Tried clicking confirm and waiting for the screen to close on its own and there's still shows 'Read Review.'

[2021-01-07 00:10] asmecher commented on #6502
Looks good -- comments added to individual PRs.

[2021-01-07 01:45] asmecher commented on #6543
So just to confirm -- the window does close on its own? Could you PM me a link to the installation via Slack?

[2021-01-07 10:01] ajnyga commented on #6493
Note: https://github.com/pkp/pkp-lib/issues/5686

[2021-01-07 11:16] NateWr commented on #6537
It looks like you're on a Mac, right? Is that Safari or Chrome? I was able to reproduce this in Linux/Chromium but not Linux/Firefox.

[2021-01-07 11:47] marcbria commented on #6536
Hi Nate,

I loved your last 3.3 demo but this feature was a surprise to me and since then it don't let me sleep. ;-)
But now that I read more about it and I see your arguments against, I find peace in my soul again. :+1:

Long story short: I full agree with your analysis and IMHO, the downsides of this are more important than the potential benefits.
So if this feature is going to be included, I wo

[2021-01-07 11:50] NateWr opened #6544 "Allow authors to specify a license for their preprints"
**Describe the problem you would like to solve**
Authors are not able to specify license/copyright information for their preprints. The manager can configure the preprint server to assign licensing information when the preprint is posted, but the author does not have any control over this.

**Describe the solution you'd like**
It should be possible for the author to choose a license. It may also b

[2021-01-07 11:57] NateWr opened #6545 "Remove use of fileId when referring to submissionFileId"
In `ArticleHandler` and `PreprintHandler`, the variable name `fileId` is used to refer to the `submissionFileId` when viewing a galley. This is confusing because elsewhere `fileId` is used to refer to the underlying file in the `files` table. This should be cleaned up to prevent bugs from occurring in the future.

[2021-01-07 12:14] marcbria commented on #6536
I missed to give my two cents about the "User unsubscribe" option...

When thinking in this "unsubscribe" feature, I will suggest focusing in readers, authors roles (the ones less bounded with the journal) that are the ones that won't like to get more info from the journal.

With them in min, I think we must include a "unsubscribe" option in all mail footers to make extremely easy to remove yourse

[2021-01-07 12:50] NateWr commented on #6421
Merged.

[2021-01-07 12:50] #6421 closed

[2021-01-07 15:19] ratcosta opened #6546 "[OJS]"
Não sei o que aconteceu nas configurações do portal do administrador, as funções de inserir informações, descrição, aparência do site como incluir logo da revista e etc. sumiram....Como faço para resolver?

[2021-01-07 15:21] NateWr commented on #6502
All merged, thanks everyone!

[2021-01-07 15:21] #6502 closed

[2021-01-07 15:32] openacademia commented on #6536
Hi Nate,

Happy to hear this feature will make a comeback! It was possible in OJS 2, which was quite useful – especially to be able to send alerts to Readers only. As you all know, the current Announcement feature sends and email to all registered users which makes the checkbox on the registration page (Yes, I would like to be notified of new publications and announcements.) rather useless as ther

[2021-01-07 15:50] NateWr commented on #6536
Thanks @openacademia, that's really helpful. I think your discussion of the need to manage/curate the reviewer pool is probably worth documenting in a separate feature request. I can imagine some dedicated tools to help with this and I can see how this list is one of the most valuable assets of a journal.

And yes, in 3.2.x users can opt out of announcement and issue email notifications. I'm not s

[2021-01-07 16:19] NateWr commented on #6546
Please post your question in the support topic of our [community forum](https://forum.pkp.sfu.ca/c/questions/5).

[2021-01-07 16:19] #6546 closed

[2021-01-07 16:35] NateWr commented on #6517
Thanks for the report! Confirmed and fixed in the following PRs.

PR:
https://github.com/pkp/pkp-lib/pull/6547

Tests:
https://github.com/pkp/ojs/pull/2982

[2021-01-07 16:40] pmangahis commented on #6537
Mac + Chrome.

[2021-01-07 16:45] NateWr commented on #6537
:pray: I hope it's just Chrome that's effected... Are you able to test on Safari too? I only have an iPad so I can't test any drag-and-drop functionality in Mac/Safari.

[2021-01-07 16:55] NateWr commented on #6483
Fixed in https://github.com/pkp/ojs/commit/9ca2e7a8df939de7c89599ecdd4ae067869f2845 (OJS), https://github.com/pkp/omp/commit/9100f5b8647f50bfdc31a3a9c371edecccd88d49 (OMP), and https://github.com/pkp/ops/commit/c95874744d530ca2acfe5d16ab7a25855a87042a (OPS).

[2021-01-07 16:55] #6483 closed

[2021-01-07 17:08] asmecher opened #6548 "User issue payment unlocks issue globally for users who aren't logged in"
**Describe the bug**
When a single user purchases an issue, the issue becomes available to anyone who isn't logged in. See https://forum.pkp.sfu.ca/t/re-ojs-3-2-1-1-3-2-0-3-subscription-module-bug-article-galley-unlocked-to-public/65074/2 for the report.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure payments, including issue fees and a closed-access issue
2. Log out and view the

[2021-01-07 18:17] mpbraendle opened #6549 "Bug in DB upgrade script (OJS 3.1.2-4 --> OJS 3.2.1-2) --> data loss!"
In the upgrade for the OJS 3.1.2-4 --> 3.2.1-2, journal e-mail template data get lost due to wrong SQL queries:

https://github.com/pkp/ojs/blob/9ca2e7a8df939de7c89599ecdd4ae067869f2845/dbscripts/xml/upgrade/3.2.0_update.xml#L38-L51

There is no column "email_id" in the table email_templates_data (OJS 3.1.2)!

±-----------±-------------±-----±----±--------±------+
| Field | Type | Null | Key | Def

[2021-01-07 18:27] rcgillis opened #6550 "ORCID invalid notification needs HTML stripped"
**Describe the bug**
When one doesn't enter in the ORCID info correctly into the Author Profile. It produces an error notification. The notification is fine, it's just that it doesn't have the HTML stripped from it. Haven't seen this occurring for other notifications.

**To Reproduce**
When entering the author information in the contributor information in the author information (name, affiliation

[2021-01-07 19:06] asmecher commented on #6550
This is a duplicate of https://github.com/pkp/pkp-lib/issues/6449.

[2021-01-07 19:06] #6550 closed

[2021-01-07 19:26] asmecher commented on #6548
Resolved by the following commit: https://github.com/pkp/ojs/commit/54ea204a4cd92d7254d6ac4ed718ccba27700911

[2021-01-07 19:26] #6548 closed

[2021-01-07 19:42] asmecher commented on #6549
@mpbraendle, the `email_id` column is added in a previous upgrade step (dbscripts/xml/upgrade/3.2.0_preupdate_email_templates.xml).

[2021-01-07 19:45] pmangahis opened #6551 "ONIX 3.0 Monograph Export Plugin - wrong instructions"
**Describe the bug**
In OMP 3.2.0.2, the message on the ONIX plugin if the Press information is not properly filled in is inaccurate. It refers to a path that doesn't actually exist. I think this should tell users to complete the Press information in Setting > Press > Publisher Identity

![image](https://user-images.githubusercontent.com/50342731/103937364-838d4480-50dd-11eb-8565-c31e01056c19.png)

[2021-01-07 20:14] pmangahis commented on #6537
Works well with Firefox, it's pretty finicky in Safari as well.

[2021-01-07 21:14] asmecher commented on #6196
Also ported back to `stable-3_2_0`.

[2021-01-07 21:15] israelcefrin opened #6552 "OMP 3.3 Open HTML galley asking to log in to the system"
**Describe the bug**
The HTML galley for the book is redirecting to the login form. If you are logged in, it redirects you to the main catalog page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Any book
2. Click on HTML on the sidebar
3. See error

**What application are you using?**
 OMP 3.3

**Additional information**

https://user-images.githubusercontent.com/4992902/10

[2021-01-07 21:40] asmecher commented on #6552
@israelcefrin, did the installation get updated since https://github.com/pkp/pkp-lib/issues/6502 was resolved? That change introduced a database change, so content that was created with 3.3rc1/rc2 will be missing the relevant entries.

[2021-01-07 23:39] asmecher commented on #6551
This has already been fixed as part of https://github.com/pkp/pkp-lib/issues/5865 for release in OMP 3.3; fixing it for 3.2.x isn't a high priority.

[2021-01-07 23:39] #6551 closed

[2021-01-08 00:35] asmecher commented on #6552
Alternately, do you have the payment system enabled but not fully configured? For example, if you've chosen the PayPal plugin but not fully configured it, this kind of behaviour may result.

[2021-01-08 01:14] asmecher commented on #4645
@mfelczak, I'm going to close this as a WONTFIX now that we're removing the OJS 2.x to 3.x upgrade mechanism.

[2021-01-08 01:14] #4645 closed

[2021-01-08 01:17] asmecher commented on #3223
(Closing -- this is an old entry and it looks like there was a resolution.)

[2021-01-08 01:17] #3223 closed

[2021-01-08 01:23] asmecher commented on #6510
Fixed -- thanks, @Vitaliy-1!

[2021-01-08 01:23] #6510 closed

[2021-01-08 02:02] asmecher commented on #6449
@NateWr, I can get the notifications to display with the following change (I'm not even going to draft PR it):
[code]
...but I'm not at all sure whether opening this up so broadly will cause problems, or whether there are other places that `<notification>` is used that need similar consideration. What's your take?

[2021-01-08 07:34] mpbraendle commented on #6549
Thank you, will try those steps on our restored OJS 3.1.2-4 DB and see what happens then.

[2021-01-08 10:15] defstat commented on #6502
@NateWr @asmecher  I am executing `php tools/upgrade.php upgrade`, and the `files` table is not getting updated with the `mimetype` column. Should I execute another script for the migration to be executed?

[2021-01-08 12:32] Gabriel-Agustin opened #6553 "[OJS]"

[2021-01-08 13:43] Vitaliy-1 opened #6556 "Accessing search authors page produces a fatal error"
**Describe the bug**
Visiting searchAuthors page produces a fatal error:
[code]

[2021-01-08 14:12] #6553 closed

[2021-01-08 15:06] defstat opened #6554 "Fatal Error when calling getPath for files"
**Describe the bug**
When trying to Set Availability for a Publication Format, a fatal error occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Submission > Publication > Publication Formats
2. Click "Not Available" button to change availability
3. The process does not end, and the PHP error log has the fatal errro

**What application are you using?**
 OJS, OMP or OPS version 3.3

[2021-01-08 15:17] defstat commented on #6554
@NateWr @asmecher

**PR**
[pkp-lib]: #6555

[2021-01-08 16:08] defstat commented on #6425
@asmecher yes. The "problem" is that the code is mixing filepaths and urls to create urls. Most of the time the code uses `DIRECTORY_SEPARATOR` for concatenating paths together (and urls also). On Windows `const DIRECTORY_SEPARATOR = \;`. That is introducing the backslash in the url path.

For example, regarding this issue, there is [https://github.com/pkp/omp/blob/b05abbbc624ec642ede1f8d88422b715

[2021-01-08 18:00] asmecher commented on #6502
Is this an upgrade from 3.3.0rc1, or from an older (formally released) version of OJS like 3.2.1-x?

[2021-01-08 18:09] PublicSphere-Web commented on #6502
its from 3.3.0 (in fact from the master branch as it were on 21.12.2020

[2021-01-08 18:10] ctgraham commented on #6536
Feedback from the ULS:

The absence of this feature has come up repeatedly in the upgrades to 3.x, and reimplementation is welcome.

- Of most interest and importance is the ability of the user to control the emails received, including a clear opt-in, and clear unsubscribe option.
- A taxonomy of types of messages to unsubscribe to would be helpful to recipients (if accurate), but also a challenge

[2021-01-08 18:12] defstat commented on #6502
its from 3.3.0 (in fact from the master branch as it were on 21.12.2020)

[2021-01-08 18:21] Vitaliy-1 commented on #6556
What about turning Authors DAOResultFactory into VirtualArrayIterator with something like:
[code]
or the latter isn't designed for such cases?

[2021-01-08 18:23] asmecher commented on #6502
You'll need to regenerate your database -- there are no upgrade steps coded for the RC states.

[2021-01-08 18:47] asmecher commented on #6556
I'd like to get rid of the whole custom set of classes (`ItemIterator`, `ArrayItemIterator`, `VirtualArrayIterator`, then eventually `DAOResultFactory` etc) in favour of the Laravel lazy collection toolset -- so I'd rather avoid introducing a new use case for one of them.

[2021-01-08 19:02] asmecher commented on #6556
There is a change that themes could make to save a SQL query (https://github.com/pkp/ojs/commit/19c508d569c4175ba1b7a5461be882b7fa483fa2#diff-a70e64d25a6d43598b840748a81c6ac1a1a74827297c7e9994d5fcd371b2c5e3) -- but I've fixed the underlying `wasEmpty` function in this case, so it's strictly optional.

[2021-01-08 19:02] #6556 closed

[2021-01-08 20:48] israelcefrin commented on #6552
I will have to update it, since this is install was deployed in December 17th. I will let this for the last and run a few more tests because I will have to recreate the base and re-add content to make it work properly.

[2021-01-08 21:01] asmecher commented on #6411
@bozana, sorry for the wait, but I merged the PR -- is this issue ready to be closed?

[2021-01-08 21:03] asmecher commented on #6097
@bozana, in line with https://github.com/pkp/ojs/pull/2597#issuecomment-756492977, could you look at porting the (updated) mEDRA plugin to using Guzzle?

[2021-01-08 21:35] israelcefrin opened #6557 "OMP 3.3 - Creating categories in backend crashes the sidebar in the frontend"
**Describe the bug**
The categories are being created correctly in backend. However, it is not possible to navigate through them because the sidebar doesn't show the respective blocks when exist categories.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dashboard > Settings Press > Categories'
2. Click on 'Add Category'
3. Create a category
4. Save
5. Reload the public reader interfa

[2021-01-08 23:07] kshuttle opened #6558 "OJS 3.3 Release Candidate: Public file in publisher library not available"
This issue came up in testing for the 3.3 release candidate. After uploading a file to the publisher library and making it public, the file is **not** accessible by an anonymous user via direct URL. This was tested in the[ Journal of PKP: OJS Testing](https://sfulib710.publicknowledgeproject.org/ojs3/testing-3_3/index.php/ojs33_testing/index). Under Workflow > Publisher Library, the following file

[2021-01-09 01:30] asmecher commented on #6448
(@defstat, don't forget to port this to OPS, please!)

[2021-01-09 01:32] asmecher commented on #6558
@Vitaliy-1, could you take a look at this? (If you've already fixed related aspects since the 3.3rc2 release candidate, this may have already been resolved.)

[2021-01-09 01:34] asmecher commented on #6446
(@withanage, assigning to you for feedback!)

[2021-01-09 01:37] asmecher commented on #5121
Thanks, @jnugent and @ajnyga -- merged!

[2021-01-09 01:37] #5121 closed

[2021-01-09 03:44] israelcefrin commented on #6540
@asmecher is it required to recreate the database also?

[2021-01-09 11:18] withanage commented on #6446
@asmecher  @NateWr

I have tested  on a fresh OMP installation

OMP https://github.com/pkp/omp/commit/c05c4e2819819ec777d4ba8bc17701a3c963c1af
pkp-lib https://github.com/pkp/pkp-lib/tree/3945761b44436b021189ee90c8d58749ab859c85

I can confirm this is fixed without errors in javascript and also in the PHP level.

My tests ran  on Google-chrome and  the redirect works  too!

Longer taking of the red

[2021-01-09 15:05] apacetech commented on #6529
I am using Open Journal Systems 3.2.1.2 and I still facing same issue
![image](https://user-images.githubusercontent.com/6003206/104094969-3d410c80-52ba-11eb-9197-e9b61ebe9729.png)

Please help

[2021-01-09 17:36] Vitaliy-1 commented on #6558
I'm unable to reproduce it with the current master branch OJS/OMP/OPS.
Strangely, I can download a file by the [URL](https://sfulib710.publicknowledgeproject.org/ojs3/testing-3_3/index.php/ojs33_testing/libraryFiles/downloadPublic/id/1) specified, tried several scenarios but maybe I'm missing something. Is this file still inaccessible?

[2021-01-09 18:30] jnugent commented on #6557
I've debugged this on the back end and the fatal error being generated here is:

[Sat Jan 09 10:06:08.402419 2021] [cgi:error] [pid 30058:tid 47449582774016] [client 142.134.185.19:35488] AH01215: PHP Fatal error:  Uncaught Error: Call to a member function getId() on string in /www/omp3/testing-3_3/cache/t_compile/e9acfaa63992be8b73da417127735d220ff56549_0.plugins-1-plugins-blocks-browse-blocks-br

[2021-01-10 15:15] librariam opened #6559 "OJS 3.3rc Can't mark task notifications as "New" or "Read" or "Delete""
**Describe the bug**
Task notifications have an option to be selected and marked as "New" or "Read" or to be deleted. But when "Mark New" or "Mark Read" or "Delete" buttons are clicked, nothing happens - there is no change to the notifications.

**To Reproduce**
1. Receive a task notification (e.g. new article submitted or assigned)
2. Select one or more notifications by checking the checkbox
3. C

[2021-01-10 15:21] librariam opened #6560 "OJS 3.3cr Error on access to another stage has unrelated content"
**Describe the bug**
Not sure if this is a byproduct of testing in the sandbox. When accessing a stage I don't have access to, an error pops up as it should but it has a long URL that isn't there in the current version.

![image](https://user-images.githubusercontent.com/45104797/104126957-6cdd2c80-532d-11eb-8737-a6246cca1d4d.png)

**What application are you using?**
OJS 3.3cr

[2021-01-10 15:29] defstat commented on #6448
@asmecher

**PR**
OPS: pkp/ops#102

[2021-01-10 17:50] withanage commented on #5686
@mwestin-googlescholar

Hi Monica,
I am  implementing  the support for  Google scholar tags  and have some questions.

In the documentation here
https://scholar.google.com/intl/en/scholar/inclusion.html#indexing
The google-scohlar only defines journal and publication titles  `citation_journal_title` or `citation_conference_title`,   is there also a tags for books and edited volumes titles ? or  wi

[2021-01-10 19:56] ajnyga commented on #6251
OPS: https://github.com/pkp/ops/pull/103

[2021-01-10 21:51] librariam opened #6561 "OJS 3.3 rc - Duplicate username in lougout as message - Logout as {$username} username"
**Describe the bug**
When logged in as another user, I see a "Logout as {$username} username" - with an unresolved variable and an actual username.

![image](https://user-images.githubusercontent.com/45104797/104136419-f27bcf00-5363-11eb-8d41-fca3f23791d2.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as another user
2. Navigate to a submission workflow
3. See the "Logout as {$u

[2021-01-11 10:50] NateWr commented on #6449
For accessibility reasons, the toast notifications can not contain links or buttons. That's because a link or button (or any interaction) which only appears for a set time is not accessible to those who might take longer to move their focus into the area. I'm having trouble locating the precise WCAG rule at the moment, but this is documented in the [notification section](https://docs.pkp.sfu.ca/de

[2021-01-11 11:06] NateWr commented on #6554
`PKPFileService::getPath()` was removed as part of [these changes](https://github.com/pkp/pkp-lib/issues/6502#issuecomment-755267086). The call to the method shouldn't be there anymore in `PublicationFormatGridRow`. Can you update and check to see if you can still reproduce this?

[2021-01-11 11:12] NateWr commented on #6425
:+1:

Presumably this code, which defines `DIRECTORY_SEPARATOR`, can be removed now? https://github.com/pkp/pkp-lib/blob/master/includes/bootstrap.inc.php#L28-L31

[2021-01-11 11:14] NateWr commented on #6501
Merged, thanks @eocarragain!

[2021-01-11 11:14] #6501 closed

[2021-01-11 11:18] defstat commented on #6554
I can't reproduce it. Closing the issue and the PR

[2021-01-11 11:18] #6554 closed

[2021-01-11 11:36] NateWr commented on #6536
Thanks @ctgraham!

This didn't sound right to me at first but the more I think about it the more it makes sense. Thinking about the use-cases described, it seems like there is a real distinction in how this feature might be used based on role:

- Emails to manager, subeditor and assistant roles. These are probably operational and could even be justified as required for the person accepting the rol

[2021-01-11 11:46] NateWr commented on #6446
Thanks!

[2021-01-11 11:46] #6446 closed

[2021-01-11 11:46] NateWr commented on #6529
This fix will not be available until 3.2.1-3 is out.

[2021-01-11 11:58] NateWr commented on #6561
Duplicate of https://github.com/pkp/pkp-lib/issues/5390.

[2021-01-11 11:58] #6561 closed

[2021-01-11 12:03] NateWr commented on #6557
Thanks for the fatal error! The problem is that `$category` is a `string` but the template expects it to be a `Category` object.

[2021-01-11 12:05] NateWr commented on #6558
I get a 403 response with the URL you posted, @Vitaliy-1. Were you by any chance logged in to that testing install?

[2021-01-11 12:08] NateWr commented on #6559
Confirmed. Nothing in the error log but the style does not change and the `unread` class is still applied after marking read.

[2021-01-11 12:13] NateWr commented on #6400
Is this issue still pending or have you completed the theme updates?

[2021-01-11 12:16] Vitaliy-1 commented on #6558
Yep, now it's 403 for me either. Initially, I'd tried several scenarios, including Tor. I don't have access to that instance, thus all attempts were without being logged in.

[2021-01-11 12:23] Vitaliy-1 commented on #6400
Completed, Thanks for the reminder!

[2021-01-11 12:23] #6400 closed

[2021-01-11 12:44] NateWr opened #6563 "Authorization header with JWT can cause fatal error"
**Describe the bug**
The ArticleHandler permits access to unpubllished content when an API key is passed in an Authoriziation header (see [here](https://github.com/pkp/ojs/blob/master/pages/article/ArticleHandler.inc.php#L48-L55)).
However, if an authorization header is passed but it is not a JWT or formatted so that a value gets assigned to `$jwt`, it cases an exception in `JWT::decode()`.

I thi

[2021-01-11 12:50] NateWr commented on #6517
Merged.

[2021-01-11 12:50] #6517 closed

[2021-01-11 13:41] janiosarmento opened #6564 "Changing Journals in multiuser OJS throws a 404 error"
**Describe the bug**
When changing Journals, in a multijournal installation, OJS throws a 404 rather than going to the new Journal home, because it tries to return to the same object in a context it is invalid.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any object particular to a given Journal (a submission, e.g.)
2. Click on the Journal selection icon, and change the context.
3.

[2021-01-11 14:10] NateWr commented on #6558
OK I figured out what the issue is. When first uploading a file, the form shows the URL with a placeholder, `id`, instead of the ID of the file:

[code]

After upload, it replaces that with the correct ID of the file:

[code]

So the access control is working, but the upload form is confusing. It shouldn't show the URL until after the file is created and an ID exists. I'll update the original post

[2021-01-11 14:14] NateWr commented on #6558
@Vitaliy-1 I've unassigned you from this because I think there are more important bugs to fix first for 3.3.

[2021-01-11 14:21] ajnyga commented on #6294
Running `$pubId = $doiPubIdPlugin->getPubId($submission); `will cause:
`PHP Fatal error:  Uncaught Error: Call to undefined method Publication::getSubmissionId() in /omp-master/classes/plugins/PubIdPlugin.inc.php:70`

[2021-01-11 14:26] NateWr commented on #6560
I can see this is happening on the test instance, but I can't reproduce it locally.

@israelcefrin do you know if there is any customization or configuration of the test instance that might be adding the request URL to an authorization failure message? It looks like this comes back in the response as part of the `content`, so it's definitely something being added on the server side.

The URL that

[2021-01-11 14:32] NateWr commented on #6294
Are you sure your code is synced with the latest `master`? https://github.com/pkp/omp/blob/master/classes/plugins/PubIdPlugin.inc.php#L70

[2021-01-11 14:35] israelcefrin commented on #6560
@NateWr  I will check the install, but no customization is applied to these installations. Maybe it could be related to this RC, I have to update to the most current master branch.

[2021-01-11 14:36] ajnyga commented on #6294
That has changed in October 2020 the last time

[2021-01-11 14:37] ajnyga commented on #6294
Note that the DOI settings form does not allow you to choose "Submission" as an alternative for creating DOIs. You can only choose Publication. But that is not present even here:
https://github.com/pkp/omp/blob/master/classes/plugins/PubIdPlugin.inc.php#L54-L58

[2021-01-11 14:53] ajnyga commented on #6294
Maybe something like:

[code]

[2021-01-11 15:27] mwestin-googlescholar commented on #5686
Thanks, @withanage! It is great to hear that you're working on these metatags.

Regarding book types, there are some really useful additional setups for distinguishing edited volumes from monographs, using URL markers rather than metatags.

I'll be happy to discuss the various ways that OMP could be set up for Google Scholar indexing. Perhaps we could set up a time to chat? I had a number of calls

[2021-01-11 16:50] NateWr commented on #6537
Well that was some rabbit hole to go down. The following PR adjusts how we're detecting/tracking drag events. I've been able to test and find an approach that works in Linux/Chromium and Linux/Firefox.

@defstat would you be able to test on Windowns/Edge or Windows/IE?

I'm not able to test on Mac/Chrome or Mac/Safari. I'll see if we can get some help here. Or we can merge it and get the test inst

[2021-01-11 17:15] asmecher commented on #6449
Gotcha, I hadn't even thought of the accessibility implications here. So would you recommend looking for HTML-bearing notifications and adapting them for plain-text?

[2021-01-11 17:22] asmecher commented on #6448
Merged, thanks! Did you test it with OPS?

[2021-01-11 17:25] NateWr commented on #6449
Yeah, I think we'll need to do that for our accessibility reviews. In some cases, a link or other thing is a really useful thing, so we may need to come up with alternative approaches for the UI. For example, after a theme is changed, it'd be really nice to give a quick link to view it. But we'll need a permanent place to show that, not a toast notification.

[2021-01-11 17:27] asmecher commented on #6540
Yes, I'm afraid so!

[2021-01-11 17:30] henriqueramos commented on #5390
@NateWr Hey Nate, addressed this issue on this two pull requests here:

https://github.com/pkp/pkp-lib/pull/6562
https://github.com/pkp/ojs/pull/2983

Could you please take a look? Thank you!

[2021-01-11 17:37] bozana commented on #6411
Yes, thanks!

[2021-01-11 17:37] #6411 closed

[2021-01-11 17:38] ctgraham commented on #6536
Concur that the reviewers email might be best tied to a larger stats and recommitment process.  (That is one of our recent use-cases.)

[2021-01-11 17:53] bozana commented on #4915
Hi all, and maybe above all @ajnyga, this issue is still there i.e. the editor has the possibility to start a review discussion with all participants (author and all reviewers) and in that case all participants see the names of each other in the participant list but also the usernames in the column "From" and "Last reply".
It seems to be a bigger problem to anonymize those names there, right @ajny

[2021-01-11 17:57] jnugent opened #6565 "Upgrade to 3.3 from 3.2.1-2 generates a warning for every submission file"
I tested a very large upgrade from OJS 3.1.2, going first to 3.2.1-2, which ran successfully with no warnings. Taking that upgraded installation and then upgrading to the current master branch for 3.3 generated a warning about "A submission file was expected but not found at ...." for every file in the files_dir directory.

![Screenshot from 2021-01-11 13-37-28](https://user-images.githubuserconte

[2021-01-11 18:22] bozana opened #6566 "move mEDRA plugin to its own repository, accessible via plugin gallery"
s. https://github.com/pkp/ojs/pull/2597#issuecomment-756492977

[2021-01-11 19:22] pmangahis commented on #6540
Just tried this now on an internal review request, the reviewers are still not getting access to the files in the request even though files were selected by the Section Editor in the Reviewer request.

![image](https://user-images.githubusercontent.com/50342731/104228188-5901fb00-53ff-11eb-953f-4a8b63823002.png)

The option to grant access after the request has been sent seems to work now though.

[2021-01-11 19:35] emmauhl opened #6567 "OJS 3.3rc - Cannot Delete Journal Sections"
**Describe the bug**
Journal sections have the option to be deleted, but when the deletion confirmation pops up, nothing happens when "OK" is pressed/there is no response. Refreshing will show that the section remains undeleted, so the lack of response is not just on the UI end. Checked in both Admin and Journal Manager roles.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Journal > S

[2021-01-11 19:56] pmangahis commented on #6543
Just retested this now, and yes, the screen closes on its own after clicking confirm.  The dashboard seems to update properly now that Israel updated the OMP test installation.

[2021-01-11 20:26] asmecher commented on #6543
OK! I'm not sure what the initial cause of this was, but it seems to be fixed, correct?

[2021-01-11 20:27] asmecher commented on #6567
Could you take a look, @bozana? I suspect this'll be a pretty straight forward fatal error.

[2021-01-11 20:30] asmecher commented on #5266
(Bumping to long-fabled "later")

[2021-01-11 20:49] asmecher commented on #6539
Thanks, @jonasraoni! The PRs listed above are ready for merge once the `master` branch has been forked to `stable-3_3_0`.

[2021-01-11 20:50] janiosarmento opened #6568 "UI requires a mouse in Firefox and Safari (Mac)"
**Describe the bug**
UI can't be used without a mouse in Firefox/Mac neither in Safari/Mac. It works fine in Chrome/Mac.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to anywhere in the backend.
2. Try to navigate.

**What application are you using?**
 OJS 3.3.0.1 and OMP 3.3.0.1

**Additional information**

Firefox:

https://user-images.githubusercontent.com/7367281/104236377-3a1e5b80-

[2021-01-11 20:57] asmecher commented on #6565
Hmm, I just tried it and didn't get any warnings -- could it be a file permission problem or something? The 3.2.x to 3.3.x upgrade just checks for the presence of files, it doesn't actually do anything to rearrange the filesystem.

[2021-01-11 20:59] asmecher commented on #6425
Ah, I see the problem (and the fix). @defstat, that looks good, but there's an unnecessary change to `plugins/generic/pdfJsViewer/templates/display.tpl`; could you remove that?

[2021-01-11 21:10] asmecher commented on #6503
Merged -- thanks, @ajnyga!

[2021-01-11 21:10] #6503 closed

[2021-01-11 21:11] asmecher commented on #6563
Deferring to later.

[2021-01-11 21:23] jnugent commented on #6565
No, same thing just happened when I tried it again.  This time I rolled back to 3.1.2, and upgraded straight to 3.3.  To ensure that I had no file permissions issues I chowned the entire files_dir tree 777 and ran the upgrade as root.  Same result - everything works fine, and while those warnings are printing I can check the database log and see the correct queries running.

[2021-01-11 21:25] asmecher commented on #6565
Hmm, interesting. Are you using the RC2 package or the `master` branch? If the former, can you try the latter?

[2021-01-11 21:45] israelcefrin opened #6569 "OMP 3.3 - Metadata Keyword displaced causing tip box information permanently open"
**Describe the bug**
When there's a keyword for the publication and you click the "?" to check info about "type", the word moves into the field above and it is not possible to close the info box.

**To Reproduce**
Steps to reproduce the behavior:
1. Choose a submission with has keywords
2. Go to the 'Submission page'
3. Click on 'Publication > Metadata'
4.  Click on "Type ? " to open its modal inf

[2021-01-11 21:46] jnugent commented on #6565
This was with the `master` branch.  I'm about to go offline for the night but tomorrow I can stick some debugging in the upgrade code and see why I am getting that warning.

[2021-01-11 21:49] asmecher commented on #6540
Thanks, @pmangahis, you caught an additional case of a similar problem! Fixed with https://github.com/pkp/pkp-lib/commit/d9925ea288135d769253cc5153fc22e84f3d7be2. I've tested it locally and will close this issue, but if you see anything else similar, please add a note here.

[2021-01-11 21:49] #6540 closed

[2021-01-11 21:54] asmecher commented on #6540
(Correction: this did not affect 3.2.x, where `SUBMISSION_FILE_INTERNAL_REVIEW_FILE` had not been introduced to distinguish internal from external review files. Those commits have been reverted.)

[2021-01-11 21:57] asmecher commented on #6569
@NateWr, assigning this one to you, thanks!

[2021-01-11 22:01] israelcefrin opened #6570 "OMP 3.3 - Searching for keyword is returning no value, even with data"
**Describe the bug**
Using the search tool to search by keywords is not returning any result.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the 'Search form'
2. Type any know keyword you may have used in submissitons
3. Click "search:
4. See error

**What application are you using?**
 OMP  version 3.3

**Additional information**

https://user-images.githubusercontent.com/4992902/1042

[2021-01-11 22:04] asmecher commented on #6565
Please do, thanks!

[2021-01-11 22:08] israelcefrin commented on #6560
@librariam could you please re-run these tests to double-check whether it has been fixed?

[2021-01-11 22:10] asmecher commented on #3094
@jmvezic, they're stored as a number of weeks in the `context_settings` table -- look for settings called `numWeeksPerResponse` and `numWeeksPerReview`.

[2021-01-11 22:21] pmangahis commented on #6543
I believe so!

[2021-01-12 01:02] henriqueramos commented on #6140
@NateWr Hello Nate, could you please check my pull requests to address this issue?

https://github.com/pkp/ojs/pull/2985
https://github.com/pkp/pkp-lib/pull/6571

Thank you!

[2021-01-12 02:02] librariam commented on #6560
@israelcefrin Yes! I can confirm this is now fixed after you upgraded the 3.3 rc testing

[2021-01-12 02:06] israelcefrin commented on #6560
@NateWr  I will close this issue since it was fixed by deploying the newest code from the master branch.

[2021-01-12 02:06] #6560 closed

[2021-01-12 09:23] ajnyga commented on #4915
I think the discussion above agreed (@NateWr ?) that a clear warning would be sufficient here. So if you have anonymized reviewers and authors in the same discussion you would have to confirm that you want to have these participants despite of anonymized review.

The discussion feature is complicated because reviewers are not stage participants and there are a lot of cases to consider.

[2021-01-12 09:26] NateWr commented on #4915
I had to remind myself of what's been done here in the past. So the issue before was that an author or reviewer could create a discussion with another author or reviewer. The names appeared in the participant list when creating a new discussion.

That part has been fixed. An author shouldn't be able to create a discussion with a reviewer and vice-versa. But the editor can still create discussions

[2021-01-12 09:28] ajnyga commented on #4915
I believe this was a feature that was asked for open reviews. So we should not block it completely.

[2021-01-12 09:48] NateWr commented on #4915
The validation error should only be shown for anonymous and double anonymous review assignments.

[2021-01-12 10:23] bozana commented on #6097
You have already move it for mEDRA ca. 4 months ago :-) So mEDRA is done :-)

[2021-01-12 10:45] bozana commented on #4915
Thanks @ajnyga and @NateWr! I will take a look...

[2021-01-12 11:07] NateWr commented on #6565
That's interesting. Because these file paths are saved into the database and then used to access the files for downloading. Can you try taking one of the paths it says it can't find and looking for the file in the database, then working backwards to see if you can download the file in the UI?

[code]

That should give you the submission file id and the submission id, so then go to the submission's

[2021-01-12 11:11] NateWr commented on #6568
@janiosarmento can you provide more details about what keys you're using when trying to navigate with the keyboard? I don't have a mac to test, but the overall UI should be navigable with TAB/CTRL+TAB and ENTER. The tabs should be navigable with the left/right keys. These are standard keyboard interactions that should be consistent from browser to browser.

[2021-01-12 11:32] NateWr commented on #6569
@israelcefrin I'm unable to reproduce a case where the keyword is shown below the input area, and then when clicking elsewhere the keyword is moved up into the input area. From the video, it looks like the shift possibly happens on a `blur` event, though the method to move keywords in/out of the input is not attached to a `blur` event. It could be that the `blur` is causing an undetectable change

[2021-01-12 11:40] NateWr commented on #6570
This is a known limitation: https://github.com/pkp/pkp-lib/issues/5388

[2021-01-12 11:40] #6570 closed

[2021-01-12 12:18] janiosarmento commented on #6568
Hi @NateWr,

I'm using regular TAB, Shift + TAB, Enter.

As I said, in Chrome everything works as expected.

In Firefox TAB cycles through all interface elements, but it never focus on left menu.

In Safari it's more erratic: it cycles through interface elements until the focus goes to the address bar; after that, TAB only switches from address bar to main page, and back and forth.

I don't have a

[2021-01-12 12:26] NateWr commented on #6568
Is there any chance that you're running browser extensions or maybe even system-wide keyboard shortcut extensions that could be interfering with this? Let's see if we can get others on Mac/Windows to reproduce this.

@pmangahis would you be able to test this for us on Mac/Safari and Mac/Firefox? Here are steps to test:

1. Load the submissions page in the backend.
2. Use the TAB key to move focus

[2021-01-12 12:37] NateWr commented on #6568
I have tested in Chrome/FF/Edge in Windows and don't have any problems yet. Let's see if this is a general Mac issue...

[2021-01-12 12:44] jnugent commented on #6565
@NateWr the warning appears for every single file in the files_dir.  In my test installation, with a 23Gb files_dir tree, there are thousands of warnings.  I can find every file in the UI without problem.  The warnings appear whether I upgrade directly from 3.1.2 to 3.3, or I go through an intermediate 3.2.1-2 step. I am about to start debugging it.

[2021-01-12 12:52] janiosarmento commented on #6568
In Safari I don use amy extension or plugin, just the plain browser (I don't use it daily, just for testing purposes). On the other hand, I use Firefox beta, and it might be interfering with the keyboard navigation.

Other than that, no system-wide key modifiers are installed.

I agree, we better see whether other people find the same issues or not.

[2021-01-12 13:02] jnugent commented on #6565
Hehe.  So, the test in:

`./lib/pkp/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php`

at:

[code]
Shouldn't that test be negated?  Right now the error message prints if it does indeed fine the file at the `$path` in question.

[2021-01-12 13:21] NateWr commented on #6565
:laughing: Yep! Good spot, fixed in https://github.com/pkp/pkp-lib/commit/1406e4051b878a55583275ce17be98be6e41e362.

[2021-01-12 13:21] #6565 closed

[2021-01-12 13:31] NateWr commented on #6462
Do you think use of API keys are widespread enough yet to warrant including this? Needing to regenerate an API key doesn't seem like a big task to undertake...

[2021-01-12 13:42] rcgillis opened #6572 ""Preferred Public Name" field missing as an option for import/export"
**Describe the bug**

The user export/import feature doesn't include the ability to include "Preferred Public Name" field that is now used for users.

**To Reproduce**
Field is missing from list of included fields in the XSD: https://github.com/pkp/pkp-lib/blob/b13557719c65270c57c40828353c58f49cb11002/plugins/importexport/users/pkp-users.xsd

**What application are you using?**
OJS 3.2.1

**Additi

[2021-01-12 13:46] NateWr commented on #6557
PR:
https://github.com/pkp/omp/pull/906

[2021-01-12 13:53] NateWr commented on #6484
I tested this today and it looks like this is ok. For things like Review Files / Copyedited files, as well as for Discussions, multiple files are uploaded and assigned to the correct genre. When uploading a revision of an existing file, or uploading a file to a galley, only one file in the group is uploaded.

So I think we're ok on this. Let's call it a hidden, undocumented feature. ;)

[2021-01-12 13:53] #6484 closed

[2021-01-12 13:58] israelcefrin commented on #6569
@NateWr I've tested on Chrome, Firefox and Safari (all for Mac).  Firefox is the only one that doesn't show the keyword below the input field. The 2 others, even reloading, keep showing the keyword misplaced.

[2021-01-12 14:13] netsensei opened #6573 "Importing Apache logs in UsageStats will yield no results (0 results) for totalFileViews, pdf, html and other"
**Describe the bug**

I have apache logs that I need to import in OJS in order to generate usage statistics. These logs look like this:

i.e. when I view a PDF of a single article:
[code]

I import these logs using the provided script `php tools/runScheduledTasks.php plugins/generic/usageStats/scheduledTasksExternalLogFiles.xml`.  The log files are processed and I can see the data being amended to

[2021-01-12 14:44] librariam opened #6574 "OJS 3.3rc - Error key with no message when layout editor tries to schedule an article to an issue"
**Describe the bug**
This is for OJS 3.3rc testing instance. When a layout editor tries to schedule an article to an issue, they get an error saying they don't have access - as they should. The problem is that the error shows the key, not the message.

This issue appeared after yesterday's upgrade of 3.3rc testing instance - I saw the proper error message pre-upgrade. @israelcefrin said he could n

[2021-01-12 15:37] NateWr commented on #6189
@asmecher I've hit a wall on this one. The save for later button's name/value is serialized into the request as `&saveFormButton=1`. Once that button is pushed once, no matter what I do, I can not get that value out of subsequent submit requests. Here are the things that I've tried:

1. Give the other submit button a name/value. Clicking on the submit button still sends `saveFormButton=1` and the

[2021-01-12 15:37] #6557 closed

[2021-01-12 15:38] NateWr commented on #6569
Do you mean the keyword appears within the input area? (That's where it should appear.)

[2021-01-12 16:25] NateWr commented on #6559
PR:
https://github.com/pkp/pkp-lib/pull/6575

Tests:
https://github.com/pkp/ojs/pull/2986

[2021-01-12 16:27] israelcefrin opened #6576 "OMP 3.3 - Disable/enable press for public appearing is not available"
**Describe the bug**
It is not possible to disable a press from public view. The section/option when editing a Press is not available.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Administration'
2. Click on the clue arrow beside any press title
3. Click on 'Edit'
4. See the error in the modal (missing optio)

**What application are you using?**
OMP 3.3

**Additional information**

[2021-01-12 16:31] asmecher commented on #6097
@bozana, I have no recollection of that :) thanks for checking!

[2021-01-12 16:47] NateWr commented on #6514
I'm not able to reproduce this exactly. When I make a submission, then login as moderator, I see a notification telling me to assign a user to upload a galley. I haven't been able to get the Awaiting Galleys notification to appear. Can you share the URL to the test instance in Slack and I'll see if I can reproduce it there.

I went ahead and removed the production stage notice advising to add a pa

[2021-01-12 16:48] asmecher commented on #6565
:open_mouth: ...so I have to check why I didn't see those warnings during my own test! Will look into it...

[2021-01-12 16:49] asmecher commented on #6462
API keys are used by some Coalition Publica journals, and we have a set of instructions to walk them through setting up the required plugins. Many of them will be non-technical so I'd rather not impose a requirement to regenerate tokens, if we can avoid it.

[2021-01-12 16:54] israelcefrin opened #6577 "OMP 3.3 - Removing presses is not updating the list automatically"
**Describe the bug**
When a press is removed, neither the modal closes or the list is automatically update. It seems that didn't work the request.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Administration'
2. Click on the blue arrow beside any press title
3. Click on 'remove'
4. Click on 'ok' in the modal
4. See the error

**What application are you using?**
 OMP 3.3

**Additiona

[2021-01-12 16:57] NateWr commented on #6565
It was probably after your tests, alec: https://github.com/pkp/pkp-lib/commit/9578d9a11756f655ff406510d10d22ff6ea179ce#diff-f4951b8d90b205bf60a1111a761b62eb75f598c0c536738da01d027561a33f1cR320

[2021-01-12 17:03] asmecher commented on #6565
That's possible -- thanks, @NateWr. Anyway, I'll verify while working on some other upgrade stuff.

[2021-01-12 17:09] asmecher opened #6578 "Update TinyMCE"
See Dependabot PR: https://github.com/pkp/ui-library/pull/135
See security issue listing: https://github.com/pkp/ui-library/security/dependabot/package-lock.json/tinymce/open

(There are probably other open PRs from Dependabot on the same issue in e.g. pkp-lib)

[2021-01-12 17:11] asmecher commented on #6543
Thanks!

[2021-01-12 17:11] #6543 closed

[2021-01-12 17:22] NateWr commented on #6574
Thanks @librariam!

@asmecher it looks like some translation updates from weblate got merged back in for `en_US` and removed locale keys: https://github.com/pkp/pkp-lib/commit/50391bfe2915d1f7a620fc46ab297b1e76cf0893#diff-cf438054f827419632df838470fe2bd8050c822674dd59b4d27f84b62a3638dc

It looks like this happened for [OJS](https://github.com/pkp/ojs/commits/master/locale/en_US) and [OMP](https://

[2021-01-12 17:25] NateWr commented on #6574
Sorry, @librariam, I forgot to respond to this part. I think this is probably related to the metadata editing permission on the stage assignment. As a manager/editor, go to the submission, find the Participants list, and edit the layout editor assignment. There's a checkbox to allow the user to edit metadata. Try checking that and then see if the layout editor can edit.

[2021-01-12 17:37] asmecher commented on #6574
Tracked this down to a malformed `api.po` after a non-Weblate commit -- it looks like Weblate responded by axing the rest of the file! Please go ahead and re-add those keys, @NateWr.

[2021-01-12 19:30] pmangahis opened #6580 "Show Email Address of Reviewers when sending request"
Maybe related to #2180

**Describe the problem you would like to solve**
An Editor would like to find a way to view the Reviewers email address while sending the review request. Currently, only the Reviewer name is displayed. The Editors must go to the Activity log after the review has been requested to confirm this.

![image](https://user-images.githubusercontent.com/50342731/104362592-d8a7cc80-5

[2021-01-12 20:51] israelcefrin opened #6581 "OMP 3.3 - Pagination setting not working"
**Describe the bug**
Limiting the number of listed items/pagination is not working. It keeps showing the total of items up to 25 at least.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Websiste > Setup > Lists'
2. Adjust the items per page and Page links to a lower number, i.e.: 2
3. Go to 'Submissions'
4. Check a tab with more than 2 items
5. See the error

**What application are y

[2021-01-12 23:06] kshuttle opened #6582 "OJS 3.3 Release Candidate: Descriptions of email templates not translated in all languages"
In testing OJS 3.3 I installed several languages and browsed the email templates. In some languages (such as Finnish), the templates themselves are fully translated, but some email template descriptions remain in English.
![image](https://user-images.githubusercontent.com/59741486/104385074-6d212780-54e7-11eb-93c0-7c37810f2e62.png)

[2021-01-13 00:36] asmecher commented on #6581
I think this is superseded by https://github.com/pkp/pkp-lib/issues/2037.

[2021-01-13 00:36] #6581 closed

[2021-01-13 10:07] NateWr commented on #6574
Merged!

[2021-01-13 10:07] #6574 closed

[2021-01-13 10:08] NateWr commented on #6559
Merged.

[2021-01-13 10:25] ajnyga commented on #6514
Yes I think it can be removed because you do not have layout editors in OPS.

[2021-01-13 10:35] NateWr commented on #6140
Thanks @henriqueramos, this is looking good! Just the one comment about the `$upgradeUrl`. Once that is done, can you also prepare pull requests for OMP and OPS?

[2021-01-13 10:40] NateWr commented on #6514
Thanks! I've merved that PR. I'll leave this issue open until we can reproduce and fix the "Awaiting Galleys" message that Amanda found.

[2021-01-13 11:09] NateWr commented on #6582
Thanks @kshuttle! @asmecher and @ajnyga I noticed that the Finnish translation is marked 100% complete but it looks like several of the email subjects use an English translation: https://translate.pkp.sfu.ca/translate/ojs/emails/fi_FI/?q=resubmit&type=all&ignored=False&checksum=&offset=

Should these be marked `#, fuzzy` or removed from the .po files to trigger translation?

[2021-01-13 11:13] ajnyga commented on #6582
You mean the descriptions? Yes, I've just been lazy and have not translated those originally. They are fairly long and there are several of them. I am fine with both removing them and marking them fuzzy.

[2021-01-13 11:49] NateWr commented on #6462
Ahh, got it. Does this look like an adequate solution, @asmecher? I think that the API key will always be a string, which is encoded in json with double quotes. And I don't think double quotes can appear in the API key generated from JWT.

If this looks alright, I'll merge and cherry-pick to `stable-3_2_1`. I notice that the swordServer plugin does not have a stable branch. Should it get one (and

[2021-01-13 11:56] NateWr commented on #6564
@janiosarmento can you tell me what roles you have in each journal?

[2021-01-13 13:03] NateWr commented on #857
I had a discussion with two early career researchers about the CRediT standard and how it should be implemented in our software. The consensus was that it was a) a very good thing and b) authors need an opportunity to declare their own roles as well as dispute other authors' claims.

The main issue is the regular abuse by supervisors and senior academics of authorship attribution, when they claim

[2021-01-13 14:15] bozana opened #6584 "when a submission is removed from the issue TOC the publication still contains issueId"
**Describe the bug**
When a submission is removed from the issue TOC, the issueId still remains in the db table publication_settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a back issue > a submission > click on the action "Remove"
2. see the db table publication_settings

**What application are you using?**
 OJS version 3.3, master branch

**Additional information**
-

[2021-01-13 14:21] bozana commented on #6584
@NateWr, actually I am not sure what is the right behavior for this case -- because the submission was published and then removed -- maybe it is correct so (to have the issueId bounded to the publication, but somehow I don't think so)? (I found the issue when writing the tests for https://github.com/pkp/pkp-lib/issues/5948).

[2021-01-13 14:42] NateWr commented on #6391
The following PRs adjust this so that the user can see when a publication is assigned to an issue but not yet scheduled for publication. They can also unassign a publication from an issue. All of the states are shown in the video below.

![issue-assignment](https://user-images.githubusercontent.com/2306629/104466318-ff3f3380-55ac-11eb-936f-a4f13700206a.gif)

PRs:
https://github.com/pkp/ui-library/

[2021-01-13 14:45] NateWr commented on #6584
Yes, this is how it is meant to work. It can be a little bit confusing. But when an issue is published, it only publishes the submissions that are assigned to it and have the `STATUS_SCHEDULED` status. So it's possible for a submission to be assigned to an issue but not scheduled for publication.

With the versioning, we've introduced a new status, `STATUS_SCHEDULED`. So now a submission can be qu

[2021-01-13 14:45] #6584 closed

[2021-01-13 16:53] Vitaliy-1 opened #6585 "Upgrade fails if submission file has revisions on restructuring submission_files table"
**Describe the bug**
Upgrade from OJS 3.2.1-2 to OJS 3.3 fails with a fatal error:
[code]

**To Reproduce**
Upgrade OJS instance which contains submission files with revisions

**What application are you using?**
 OJS 3.3 - state of the current master branch

**Additional information**
AS far as I understand `submission_file_id` should contain unique incremental values. All revisions should be rec

[2021-01-13 17:00] NateWr opened #6586 "Allow manager to make editorial decisions when editor is not assigned"
**Describe the problem you would like to solve**
Managerial staff for journals will triage new submissions and would like to desk reject inappropriate submissions. If no editors were assigned automatically, they have to assign an editor before the editorial decisions will be shown.

**Describe the solution you'd like**
Managers should have access to editorial decisions even if no editor is assigne

[2021-01-13 17:05] Vitaliy-1 opened #6587 "Upgrade from command line fails if installed is set to Off in config"
**Describe the bug**
Receiving a fatal error when upgrade starts with `installed` set to Off:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set `installed` to Off in `config.inc.php`
2. execute `php tools/upgrade.php upgrade` from a terminal
3. See error

**What application are you using?**
 OJS 3.2.1-2 to OJS 3.3 upgrade (current master branch)

**Additional information**
I have a

[2021-01-13 17:08] ewhanson commented on #6537
Hi @NateWr, I've tested the ui-library pull request with Safari, Firefox, and Chrome on Mac, and it's working on all three.

[2021-01-13 17:13] NateWr commented on #6444
@asmecher I can not seem to get this form to refresh. The problem lies in the fact that this button is a LinkAction which fires a RemoteConfirmationAction inside of the form. So any events that are passed back do not cause the form to reload. Can you remember if there is any way to trigger a form reload from a child element of the form?

I tested and this is also in `stable-3_2_1`. I'm hesitant to

[2021-01-13 17:15] NateWr commented on #6537
:pray: Thanks @ewhanson! I've merged this. @defstat if you still have the time, can you give this a quick test on Windows? It should be in the latest `master` branch (you'll need to run `npm run build` again).

[2021-01-13 17:18] asmecher commented on #857
@NateWr, just flagging that some of this might be possible to delegate to the ORCID workflow, since it already provides a way to ping secondary contributors so that they can authenticate themselves against that service.

[2021-01-13 17:19] NateWr commented on #6585
Can you find reproduction steps from a clean database? The migration should account for files with revisions so I'm wondering if there's something else going on...

[2021-01-13 17:23] nuest commented on #857
I think it would be great to capture author contributions in OJS with CRediT. Just one more related idea (I can try to dig up the original article on that - it's not mine): OJS could show the authors in randomised order or suggest/force alphabetical order on the website, as the real contributions are properly modeled.

[2021-01-13 17:37] NateWr commented on #6576
This was dropped as far back as 3.2.0. The following PRs add it back for OMP and OPS:

PRs:
https://github.com/pkp/ops/pull/106
https://github.com/pkp/omp/pull/907

[2021-01-13 17:56] willinsky commented on #857
@nuest Daniel, we have always to be careful, as platform developers, to support publisher policies and practices, including the promotion of what we see as best practices among those policies and practices. CReDiT has that publisher support at this point, so we can make it an option. Do you see that for randomized or alphabetical author order?

[2021-01-13 17:57] defstat commented on #6537
Hi @NateWr.. Edge works as it supposed to.. Same with Chrome and Firefox.

On Internet Explorer, on the other hand, I seem to hit on something like that (https://forum.vuejs.org/t/ie-issue-propertie-not-allowed-in-strict-mode-and-blank-page-result/21443/7). That results the page to not display correctly, and multiple javascript errors.

![image](https://user-images.githubusercontent.com/560456/104

[2021-01-13 18:05] fgnievinski commented on #857
may I suggest offering initially simply a free-form field where the lead author can paste the entire contributors' role statement, such as:

"ABC contributed to conceptualization, data curation, and formal analysis; DEF contributed to funding acquisition and project administration; GHI contributed in supervision and writing."

normally the statement is discussed and composed among team members out

[2021-01-13 18:07] fgnievinski commented on #857
also please note that it's becoming more and more common for journals to incorporate the contributors' role statement in the published article, at the bottom of the text, just before References.

[2021-01-13 18:22] defstat commented on #6425
@asmecher removed.

[2021-01-13 18:30] defstat commented on #6448
@asmecher yes I successfully deposited on a test account

[2021-01-13 18:31] asmecher commented on #6425
Merged -- thanks, @defstat!

[2021-01-13 18:31] #6425 closed

[2021-01-13 18:38] asmecher commented on #6448
Perfect, thanks!

[2021-01-13 18:38] #6448 closed

[2021-01-13 18:40] NateWr commented on #6577
Found a bunch of bugs with that one, thanks @israelcefrin!

PR: