[2021-05-07 01:07] kshuttle opened #7033 "Delete unused "Review request attached" email templates in OJS"
The following email templates are listed in OJS but no longer function as part of the workflow since it is not possible to attach a submission to a review request.

Template name: REVIEW_REQUEST_ATTACHED

Subject: "Article Review Request"

Template name: REVIEW_REQUEST_ATTACHED_SUBSEQUENT

Subject: "Article Review Request"

[2021-05-07 01:22] asmecher commented on #7033
Is the request to re-add the review by attachment feature, or to remove the unused email templates?

[2021-05-07 04:07] gireeshcse commented on #7022
Thanks @asmecher. Setting both ```enable_beacon``` and ```show_upgrade_warning``` to ```Off``` in config.inc.php solved the issue.

[2021-05-07 07:41] defstat commented on #6490
@asmecher After merging ops also I think we could close this issue for now.

[2021-05-07 08:45] defstat opened #7034 "Import/Export plugin - remove get_class dependency for filter retrieval"
**Describe the bug**
There are some cases where the `get_class()` function is being used for retrieving class specific filter.  Namespaces introduction may result to unspecified filter when the get_class is being used

**What application are you using?**
 OJS, OMP or OPS main branch

[2021-05-07 08:50] defstat commented on #7034
@asmecher @NateWr

**PR**
[pkp-lib]: #7035

[2021-05-07 12:08] ajnyga commented on #5299
So this OJS test https://github.com/pkp/ojs/blob/main/cypress/tests/data/60-content/AmwandengaSubmission.spec.js#L206 has an url pointing to a different submission than `AmwandengaSubmission`. The submission with ID 9 is `FpaglieriSubmission` and it is not yet in the system when that test is run.

Also, if we change the url to `/index.php/publicknowledge/article/view/1 ` which will then point to `

[2021-05-07 13:40] defstat opened #7036 "OMP Chapter edit form - Files Select control has multiple files added"
The edit form of the a chapter displays more than one submission files to be corelated with the chapter. See screenshot bellow

![image](https://user-images.githubusercontent.com/560456/117458458-fe168580-af52-11eb-8d93-bf86b57e3bde.png)

[2021-05-07 17:57] asmecher commented on #6490
Thanks, closing!

[2021-05-07 17:57] #6490 closed

[2021-05-07 18:05] asmecher commented on #3646
@jmvezic, I believe that's the intention; I've scheduled this for 3.4 to reflect that. (There are already some much-improved mass email tools in 3.3 that you can use to send out notifications with better control over the content, but this issue specifically still hasn't been implemented yet.)

[2021-05-07 18:21] benaltair commented on #7006
# TinyMCE A11y
Hi @NateWr, my pleasure. I checked out the keyboard shortcuts from TinyMCE and they do mention Alt+F10 for the toolbar but afaik that is already used by browsers like Chrome to select _their_ toolbar. I couldn't get it to work for me. Additionally, I've seen an `aria-label` attribute used on a parent of a widget (like a multiline text editor) to announce available keyboard shortcuts

[2021-05-07 19:42] kshuttle commented on #7033
Hi @asmecher,

In discussions with @NateWr and the folks from Open Academia we agreed that these could be probably be deleted since there has not been a demand for them to be reinstated in the workflow. However, I did see [this discussion](https://github.com/pkp/pkp-lib/issues/6758) about reinstating email attachments in OJS 3.x. If this will include the ability to attach the full-text submission

[2021-05-07 23:03] benaltair commented on #5200
In case this makes it easier to implement, adding the `aria-label` attribute to the element should replace the literal reading of `>` or similar for a screen reader. You could have something like this, which would be an easier implementation as it can be done without affecting much existing code:
[code]

[2021-05-08 01:09] asmecher commented on #6377
(Closing old/fixed entry)

[2021-05-08 01:09] #6377 closed

[2021-05-08 01:25] asmecher commented on #6099
The OPS tests were breaking on a check on the country field being required -- I've committed a change that removes the check to get tests working again, but can you have a look, @jonasraoni? https://github.com/pkp/ops/commit/490bb83c035e927abb97cb5492879397e883779a

[2021-05-10 08:53] defstat commented on #6999
Ηι @hcuser12 thanks for testing and confirming - regarding the Open Access issue, I can see in your export file that a

`source_submission_file_id="38"`

See bellow:

`<submission_file xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="39" created_at="2021-05-10" date_created="" file_id="12" stage="proof" updated_at="2021-05-10" viewable="false" genre="MANUSCRIPT" sales_type="openAccess" **

[2021-05-10 09:30] mstf0ta-app opened #7043 "[OJS]"
Hello ,

i have a problem while install OJS 3.3.0.6

i test mysql and mysqli and got same error
the error is while installing i got error 500
some tables created but the install is crushed
mysql server is  MariaDB 10.3.29-MariaDB
in error log i got this

10-May-2021 08:18:41 UTC] PHP Fatal error:  Uncaught PDOException: SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in y

[2021-05-10 09:43] NateWr opened #7044 "Add calendar integrations for review assignment emails in Outlook and Gmail"
**Describe the problem you would like to solve**
Reviewers frequently miss deadlines to respond to review requests or complete review assignments.

**Describe the solution you'd like**
Popular email clients support markup in the email that can integrate with a user's calendar. Google supports [event registration markup](https://developers.google.com/gmail/markup/reference/event-reservation) and Ou

[2021-05-10 09:52] #6920 closed

[2021-05-10 09:56] NateWr commented on #7003
That sounds interesting, @nongenti. I'd recommend using a full chapter path `/book/{id}/chapter/{cid}` or `/book/{id}/c/{cid}` instead of `c+{cid}`. That will match the existing structure for versions (`/book/{id}/version/{vid}`) and keep the path parts independent.

[2021-05-10 10:02] NateWr commented on #5299
Yep, that all sounds right. Use `submission.id` instead of `9` and log `dbarnes` out. You can log out by adding `cy.logout()` in the test.

[2021-05-10 10:26] NateWr commented on #6782
I think you're right that I am deep into unlikely but worst-case scenarios. I think my concern is not so much on the institution's side -- the institution can probably track all activity on its network. I'm more concerned about OJS as a store of information on time, place and content.

A worst-case scenario I can imagine is in a country where it is dangerous to access certain information. An acade

[2021-05-10 10:51] NateWr commented on #5200
I think we want to solve this problem for sighted users as well. Including text labels is a UX bonus for them as well, especially in the context of RTL languages (Arabic, Farsi, Hebrew).

[2021-05-10 11:12] NateWr opened #7045 "Check aria-hidden attribute on multilingual progress and tooltip components"
**Describe the bug**
These components use `<button>` elements alongside `aria-hidden` attributes to provide icon-based visual toggles with text-based labels for users running assistive technology.

It looks like `aria-hidden` is not allowed on clickable elements, or their parents (see [MDN](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-hidden_attrib

[2021-05-10 11:15] NateWr opened #7046 "Form group legends not read by screen readers"
**Describe the bug**
Our form groups use `<fieldset>` and `<legend>` elements to group fields. However, the `<legend>` is not read out properly by a screen reader because it is not a direct child of the `<fieldset>` element.

The following is not valid:

[code]

It should be structured like the following:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Journal > Mast

[2021-05-10 13:17] bozana opened #7047 "Update Crossref Reference Linking plugin documentation"
**Describe the problem you would like to solve**
Upadate the Crossref Reference Linking plugin documentation https://docs.pkp.sfu.ca/crossref-ojs-manual/en/references
Note: the eventual necessity to Reload Scheduled Tasks (of the Acron plugin) should be documented/solved

[2021-05-10 13:19] hcuser12 commented on #6999
I've updated 2 files from your latest commit. It's still not viewable - not it asks for logging in/payment before viewing.
But I've also found probable cause - it's `direct_sales_price` that makes it inaccessible. Submission file is imported with _empty value_ (not `NULL` or `0` but just empty value). When I do update that file to "Open access" (or change directly in database to `0`) that database

[2021-05-10 13:19] bozana opened #7048 "Consider the entered DOIs in references"
**Describe the problem you would like to solve**
Extract/consider the DOIs that are manually entered in the reference list.

[2021-05-10 13:35] hcuser12 commented on #6999
After exporting and comparing XMLs it seems that the only difference is attribute `direct_sales_price="0"` for `<submission_file/>` node.
After adding this attribute my XML file is properly imported and the submission file works.
I'll do more test for your changes in next few days.

Regarding `source_submission_file_id` you mentioned earlier - there is no such attribute in my original XML file.

[2021-05-10 14:38] luizbgomide commented on #6991
A few more tests on a secondary DB server with a temporary 3.3.0-3 install (to be the same version as I have in production), these are the results:
Green: load time for the user page.
Blue: searching for "luiz" in the current journal
Red: searching for "josé" in all journals
![image](https://user-images.githubusercontent.com/18707781/117661460-c9821400-b174-11eb-9f39-6c983a78f108.png)

The load ti

[2021-05-10 15:21] benaltair commented on #7006
@NateWr I hope I'm wrong about TinyMCE and just missing something - I'm sure the audits will help figure that out 😊

The issues look good. I'll add more details if something comes to mind.

[2021-05-10 15:22] #7006 closed

[2021-05-10 16:32] asmecher commented on #7043
@mstf0ta-app, could you post on our support forum at https://forum.pkp.sfu.ca? That's the best place to get help.

[2021-05-11 09:08] NateWr opened #7050 "Remove unused issue import test files"
The files `testissue.xml` and `testissue-with-errors.xml` are used by `FunctionalNativeImportTest`. However, this test is no longer used. The issue import test is handled by Cypress and a separate `issue.xml` sample file is used.

Remove these files to prevent confusion.

[2021-05-11 09:12] NateWr commented on #7050
PR:
https://github.com/pkp/ojs/pull/3127

[2021-05-11 09:14] #7021 closed

[2021-05-11 09:16] NateWr commented on #7026
This would also be a good candidate for making use of special markup in Gmail/Outlook to accept/decline. See https://github.com/pkp/pkp-lib/issues/7044.

[2021-05-11 09:39] NateWr opened #7051 "Issue grid slow on journals with very large issue lists"
**Describe the problem you would like to solve**
The issue grid does not support pagination, so journals with lots of issues can take a long time to load.

**Describe the solution you'd like**
Add pagination to the issue grids, showing 20 issues at once.

**Who is asking for this feature?**
A journal with 5,000+ issues. See [forum](https://forum.pkp.sfu.ca/t/ojs-3-2-1-4-please-split-the-backend-ba

[2021-05-11 09:51] NateWr opened #7052 "Can't access all journals from dropdown when exceeds viewport height"
**Describe the bug**
When the list of journals from the dropdown menu in the header is taller than the viewport, you can't access all journals unless you scroll to the bottom of the page. One user reported not being able to access them even on the bottom of the page from the plugins list.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a bunch of journals in the journal switcher.
2. Red

[2021-05-11 16:48] dagosalas opened #7053 "The Downloads label does not appear in the gallery section."
**Describe the bug**
The Downloads label does not appear in the gallery section. This is very confusing for screen readers and aesthetically the lack of that word is noticeable. The class assigned to h2 is incorrect, it currently has _class="pkp_screen_reader"_ (which makes it disappear) and the correct class should be _class="label"_ (which makes the word Downloads show).

**To Reproduce**
Steps

[2021-05-11 16:56] gemusehandler opened #7054 "OMP Google Scholar Plugin generates incorrect (not functioning) download link"
**Describe the bug**
The Google Scholar OMP plugin produces in the head incorrect download links.
In this way the plugin will not work.

This is de code in lines 121 to 128
[code]

Changing the 'fileID' into 'id' solves the issue in my installation (line 123 and 126).
see for instance [BookRxiv](https://bookrxiv.ac/index.php/monograph/catalog/book/27) where this change is applied.

**fieldID** pro

[2021-05-12 09:34] NateWr commented on #7053
Hi @dagosalas, this is a deliberate design decision. The belief is that the visual prominence of the button along with the label is sufficient for a sighted user to identify them as download links. The `<h2>` with the downloads label is present to help readers using assistive technology navigate to the download links.

I'm going to close this for now, as we don't plan to change it, but I'll keep a

[2021-05-12 09:34] #7053 closed

[2021-05-12 09:36] #7050 closed

[2021-05-12 12:58] luizbgomide opened #7055 "[OJS 3.3.0.3] Request the ability to delete an Incomplete Submission"
Currently there is no way to delete an unfinished submission, I think this would be an useful feature.
![image](https://user-images.githubusercontent.com/18707781/117978791-9f615b00-b308-11eb-830b-5f6eaae7df37.png)

[2021-05-12 13:20] luizbgomide opened #7056 "[OJS 3.3.0.3] Clear Issue Objectis DOI doesn't work"
The button to Clear assigned DOIs doesn't seem to work, nothing happens when clicking it, either with published or unpublished issues.
![image](https://user-images.githubusercontent.com/18707781/117981985-eb61cf00-b30b-11eb-9006-0ab3bf2a3f69.png)

[2021-05-12 13:24] #7056 closed

[2021-05-12 14:34] asmecher commented on #7055
I think this is a duplicate of: https://github.com/pkp/pkp-lib/issues/4540

[2021-05-12 14:34] #7055 closed

[2021-05-12 15:45] luizbgomide commented on #7055
I meant giving the author the ability to delete incomplete submissions.

[2021-05-12 20:51] ctgraham commented on #6782
Interestingly, COUNTER is currently soliciting feedback from publishers and institutional users regarding reporting on the level of geographic subdivisions and institutional attribution of OA access.
https://www.projectcounter.org/counter-consultation/

[2021-05-12 21:33] kshuttle opened #7057 "New email template informing authors that their revised submission has been received"
A new template should be added to the workflow in the review stage allowing a section or journal editor to inform an author that their revised submission has successfully uploaded. Currently authors do not receive confirmation that their revisions have been received. This is related to improving the UX for uploading revisions: https://github.com/pkp/pkp-lib/issues/4976

Sent by: Section or journal

[2021-05-13 11:29] NateWr commented on #4976
Here is a mockup for a new workflow to submit revisions. The goal is to have a dedicated page for submitting the revisions with a final confirmation step. This will ensure that:

- We can send one email to editors when the revisions are ready for review.
- We can expand this revision workflow in the future to include things like helping the author revise submission metadata, complete a revision ch

[2021-05-13 11:41] alexxxmendonca commented on #4976
This looks really great, @NateWr !

Please consider adding an additional step before the uploading process where authors are asked to respond to the Decision Letter.

Most journals use this to check whether all requests made by the reviewers have been met and some even share this author's response to the reviewers themselves in subsequent rounds (specially, but not limited to, when authors' identi

[2021-05-13 13:46] elton557 commented on #6724
@asmecher, Hello, you can guide me, the upgrade is taking too long, I ran the test with the new version 3.3.0-6 and even then it is taking a long time, I started on 05-10-2021 and today it is still running.

[2021-05-13 14:48] Vitaliy-1 opened #7058 "Unable to sent email to the assigned reviewer"
**Describe the bug**
Fatal error occurs when pressing Email Reviewer button on the review stage under assigned reviewer.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Make a submission and forward it to the review stage
2. Assign a reviewer
3. Press Email Reviewer button under the reviewer
4. See error.

**What application are you using?**
 OJS master branch

**Additional informatio

[2021-05-13 14:55] asmecher commented on #7055
Authors can delete their incomplete submissions from the submissions list (testing with 3.3.x); see bottom right:
![image](https://user-images.githubusercontent.com/200411/118143815-97fd8880-b3c0-11eb-85a8-e37d9974e082.png)

[2021-05-13 15:56] luizbgomide commented on #7055
Ohh, my bad, in this case, the issue is that Submissions created as **Journal Manager** or **Journal Editor** don't have the **Delete** button, as can be seem in the screenshot below:
![image](https://user-images.githubusercontent.com/18707781/118151891-84671780-b3ea-11eb-83e3-d78df9a7ad79.png)

[2021-05-13 16:11] asmecher commented on #7055
Ah, I see; that is an oversight, but should be corrected when we get to https://github.com/pkp/pkp-lib/issues/4540.

[2021-05-13 16:21] NateWr commented on #4976
Thanks @alexxxmendonca, I think in the future we will be able to include additional steps like this. For now, our friends at @ubiquitypress are interested in contributing work on this for 3.4, so I'm keen to limit the scope of the changes to ensure that they're able to complete the work on time. But I know they're interested in similar features down the road.

[2021-05-13 16:23] asmecher commented on #7058
@Vitaliy-1, I already fixed the ReviewerForm issue this morning; I think the "must be compatible" statement is just a warning. Can you see if it's still broken?

[2021-05-13 19:30] benaltair opened #7059 "Bug: Misspelling of `Separate` in OJS default text"
# Description
Fairly simple but, if I'm not mistaken, the default text in the **Submission Preparation Checklist** has a typo. In the item below, the bold **seperate** should read sep**a**rate.

I couldn't find this in any repos - I'm not sure where it's kept but happy to submit a PR.

# What application are you using?
 OJS version 3.2.1.2

# Screenshot
![image](https://user-images.githubuserconte

[2021-05-13 20:40] withanage commented on #7054
@gemusehandler

Hi  Frank,

thanks a lot for pointing out. Have created the PRs and  this will be roiled out with 3.3.0-7

[2021-05-13 22:21] diegoabadan commented on #1822
We are implementing this plugin for OPS and OJS 3.3 (or higher) for SciELO Brasil.

The jobs are at home stage and we do not have an estimate to finish it.

It will be possible to accompany your evolution in our repository: https://github.com/lepidus/dataverse

[2021-05-13 23:11] asmecher commented on #7059
@benaltair, I think this is customized text, i.e. not something in the OJS default text.

[2021-05-13 23:15] asmecher commented on #1822
That's excellent news, @diegoabadan!

[2021-05-13 23:18] asmecher commented on #7054
@withanage, don't forget the `stable-3_3_1` branch too!

[2021-05-14 00:22] benaltair commented on #7059
@asmecher That would make sense 🤦🏼‍♂️ Thanks!

[2021-05-14 00:22] #7059 closed

[2021-05-14 09:54] user2711 opened #7060 "Article landing page development"
Our journal administrators need a way to publish the full text article in the article landing page, considering that our journals are fully open access.
At the moment the OJS article landing page includes metadata (title, abstract, keywords and references), but we would like to have the possibility to publish the full text in the same page, including the graphs and tables.
Evidently it could incre

[2021-05-14 10:08] ruienf commented on #3119
Hi!

I've encountered the same problem; for me, the "on-the-fly" solution was to sort the locale keys (our journal has 3 languages - pt_PT (primary), en_US and es_ES).

Although our primary language is pt_PT, we'd like to have the english version of our titles, abstracts and keywords in DOAJ (for better dissemination of our articles).

We're able to get a proper .xml file order by adding ksort ($a

[2021-05-14 12:08] odkr commented on #6469
We have just hit the same bug on an OJS v3.3.0-6 instance running Debian v10.9 using Apache v2.4.38, MariaDB v10.3.27 und PHP v7.3.27-1.

[2021-05-14 15:48] asmecher commented on #6469
@odkr, this probably isn't the same issue, though it might look the same. Can you include the error message you received?

[2021-05-14 16:57] alexxxmendonca opened #7062 "Keep record of Submission Checklist"
**Describe the problem you would like to solve**
The submission checklist is in many ways a method to make authors agree and comply with editorial policies.

Its use may vary from simple author reminders regarding manuscript format (font size, spacing, number of pages, image captions etc) to actual statements and commitments to the targeted journal or preprint server (declarations of originality,

[2021-05-14 17:14] asmecher commented on #7060
There is some relevant conversation about active developments on the forum; see: https://forum.pkp.sfu.ca/t/how-to-upload-an-html-file-and-display-it-as-full-text-no-docx-nor-jats/67417

[2021-05-14 17:27] asmecher opened #7063 "Introduce PO file validation in validation testing"
When there are typos in PO files, Weblate stops loading subsequent content, leading to situations like this that risk re-translation of content:

https://forum.pkp.sfu.ca/t/arabic-strings-missing/67579/5

Add PO file validation to the validation unit testing to catch these early. PO files can be validated using e.g.:
[code]
(Beware: it may report "fuzzy" flags as fatal errors; that would be overly

[2021-05-14 19:17] withanage commented on #5338
@ nongenti  from  Heidleberg University will contribute to this ticket.

[2021-05-14 19:34] asmecher commented on #5299
Fixed the issue with the assumed submission ID in the URL: https://github.com/pkp/ojs/commit/a3bc974a2a7e50c703cdbb8b9030dd275a9657ba

[2021-05-16 07:08] withanage commented on #7054
@asmecher

stable-3_3_1 is also  added.

@gemusehandler  , also appreciate a testing round   and can you confirm and close ;-)

[2021-05-17 09:57] NateWr commented on #7062
Thanks @alexxxmendonca. This overlaps with issues raised about GDPR/privacy compliance (https://github.com/pkp/pkp-lib/issues/6180) as well as some discussion in our forum about [policy compliance](https://forum.pkp.sfu.ca/t/documentation-of-the-state-of-submission-checkboxes-at-time-of-submission/62631/8).

In the forum topic, I highlight the distinction between "pre-submission" checks, such as m

[2021-05-17 10:03] NateWr commented on #7060
Thanks @user2711, in addition to the forum post that Alec mentioned, you can find some detailed discussion about how we might support `fullText` from a variety of sources (HTML file, JATS XML, a WYSIWYG editor) in https://github.com/pkp/pkp-lib/issues/6279.

I'm going to close this as a duplicate of #6279 but feel free to post any follow-up or questions there.

[2021-05-17 10:03] #7060 closed

[2021-05-17 10:16] user2711 commented on #7060
I'm not sure if it's a duplication. We need to have an extra field besides the metadata to paste the whole text of the article, including the graphs and tables, but in mentioned discussions the question is to show the html.
We would like to avoid: 1. converting a word/pdf to html and add it as a galley; 2. extra clicking to see the article, i.e. by it could be displayed in the same page of abstrac

[2021-05-17 13:22] NateWr commented on #5328
@asmecher I've refactored publications and submissions now, in order to demonstrate the patterns on some more complex objects. There's a lot of code churn in these PRs (primarily due to replacing calls to `DAORegistry::getDAO('SubmissionDAO')`). The best overview of how this works is my [last comment](https://github.com/pkp/pkp-lib/issues/5328#issuecomment-832022628) and I've left the refactor of

[2021-05-17 13:42] eniocarboni commented on #5709
This would be an interesting use case when never using the "Publication" tab.
Why don't you add a new status=6 in the submissions table with the "Archived" label?

[2021-05-17 13:55] bozana commented on #6895
@ctgraham and @mfelczak, what are the exact requirements for the institution tracking i.e. institutional usage stats? -- Would only subscription journals like to track that, or also OA journals?
I/we am/are not sure if we can rely on the current subscription data -- to use the entered IP (ranges) and institution name (or later ROR) of an active institutional subscription? -- This would only work f

[2021-05-17 15:04] NateWr commented on #6895
@ctgraham and @mfelczak in addition to the question about subscription or OA journals, we're still not clear on _where the IP data comes from_. For a journal that wants to track institutional usage stats, where do they get their IP ranges from (is it PSI or do they have their own IP range data)? What does this data look like (are there 3-5 institutions or hundreds/thousands)? How often is it updat

[2021-05-17 15:13] ctgraham commented on #6895
I'm imagining that for OA the Journal would need to setup no-cost IP-based subscriptions (or no-cost login-based subscriptions?) for the institutions they want to track.  PSI / theIPregistry would be a likely source of bulk IP data.

[2021-05-17 15:37] mfelczak commented on #6895
Hi all, my understanding is that subscription and delayed open access journals receive IP ranges from the respective institutions, so the data can be assumed to be accurate at the time that the subscription record is created. Each journal manages its own institutional subscription records and the data is stored on a per-journal basis. Once entered, IP ranges are not typically updated or checked fo

[2021-05-17 15:53] #6970 closed

[2021-05-17 16:21] alexxxmendonca commented on #7062
Hi @NateWr !

Really happy to know that you see value in this.

This makes sense.

An alternative would be to force the author to accept the new conditions next time they are logged in. But the fact that they logged in doesn't necessarily mean that they will be submitting a preprint.

The concern here is: how do we make sure the author is aware of changes in the submission conditions when they sub

[2021-05-17 17:08] henriqueramos commented on #4622
Hello @NateWr and @asmecher.

PR's created for [pkp-lib](https://github.com/pkp/pkp-lib/pull/7049/files) and [ojs](https://github.com/pkp/ojs/pull/3132).

[2021-05-17 20:15] mfelczak opened #7065 "ONIX schema reference in native.xsd is no longer valid"
**Describe the bug**
In https://github.com/pkp/omp/blob/main/plugins/importexport/native/native.xsd the [ONIX schema reference](http://ns.editeur.org/onix/3.0/reference) is no longer valid and leads to a 404. We're currently using `http://ns.editeur.org/onix/3.0/reference` which looks like it needs an update.

**What application are you using?**
OMP 3.3.0

**Additional information**
With the excep

[2021-05-17 21:37] asmecher commented on #7065
That's a namespace URI and doesn't actually have to resolve to a file. Is there a validation problem or something that you're running into?

[2021-05-18 00:05] benaltair opened #7066 "XML viewer not working: Cannot read property `textContent` of null"
**Describe the bug**
I can't view any JATS XML files that I've uploaded. I just see the spinner and get this error in the console:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add the XML file as a Galley ([example](https://drive.google.com/file/d/12TMhmP7LtRL-1bb_vkRmMdgjSXAj1KZ-/view?usp=sharing))
2. Click on the galley to open it on the publication page
3. See spinner

**What ap

[2021-05-18 00:24] benaltair commented on #7066
On a second read, might be related to: https://github.com/pkp/pkp-lib/issues/6307

[2021-05-18 11:06] NateWr commented on #6895
Thanks @ctgraham and @mfelczak. So I think that we have a clear understanding of the use-case for subscription-based journals, as well as the small collection of journals piloting the subscribe-to-open business model. It sounds like the use-case for OA journals is less clear, and maybe based on assumptions rather than an actual journal or journals with a plan in mind.

This matters because subscri

[2021-05-18 11:17] NateWr commented on #7060
In the issue, the discussion begins with a question about extracting content from the HTML galley, but it goes into our plans for a `fullText` property which would include what you're asking for: an editable text field to enter the body of the article and display it on the landing page.

[2021-05-18 11:27] NateWr commented on #7062
Can you give an example of a submission policy change that would impact a user when creating a new version? Are we talking about licensing terms or privacy agreements?

[2021-05-18 11:46] alexxxmendonca commented on #7062
For example, this is a new addition that we made in our Submission Checklist (which we are using more as Submission _Conditions_ rather than Checklist):

_The authors agree that if the manuscript is accepted and posted on the SciELO Preprints server, it will be withdrawn upon retraction._

It's an important statement that authors must agree with before submitting because we were getting a lot of a

[2021-05-18 12:21] NateWr commented on #7066
Yeah, the Lens Reader breaks when it encounters JATS XML that it doesn't understand. And unfortunately JATS XML is very diverse so most XML won't load in it. I'll close this as a duplicate, but point you to [this issue](https://github.com/pkp/pkp-docs/issues/492) in our docs hub, where we discuss an XML Production Guide. The guide doesn't exist yet, and the short answer is that JATS XML is still v

[2021-05-18 12:21] #7066 closed

[2021-05-18 13:44] kaitlinnewson commented on #1822
@diegoabadan If you need help with any testing, please get in touch - we're using both Dataverse and OJS at Scholars Portal and would be happy to help out with testing and/or documentation on this!

[2021-05-18 14:00] diegoabadan commented on #1822
Thanks @kaitlinnewson

We will be happy with your tests. We will notify everyone here when we have a preliminary package to test the first features of the plugin.

We are concluding the first step: allowing the configuration of a Dataverse in OPS (and OJS).

Now we are thinking about the best strategy for integration with the changes we had in this area since OJS 3. We intend to use Article Compon

[2021-05-18 14:43] bozana commented on #6895
As far as I could see, the following two issues were the original requirements for tracking the institutional usage stats:
https://github.com/pkp/pkp-lib/issues/3369
https://github.com/pkp/pkp-lib/issues/2676
The first assumes an IP-institution service that currently does not exist so that we can use it -- the ISP/ASP databases do not provide the specific institution name. Thus, this is similar to

[2021-05-18 15:58] Vitaliy-1 commented on #7058
Still receiving this; it's a fatal error:
[code]

[2021-05-18 16:21] asmecher commented on #7058
@Vitaliy-1, are you using PHP8? I think this is a preexisting problem that was promoted from a warning to a fatal error only recently. You might see others like this. In any case, https://github.com/pkp/pkp-lib/commit/5c16d28b5bf938e018799285d1039a93c49913bf should fix it.

[2021-05-18 16:38] mfelczak commented on #7065
Yes, we're working with a typesetter trying to validate XML ahead of importing content into OMP.

[2021-05-18 16:41] mfelczak commented on #7065
The typesetter ran into the following error:

`Failed to read schema document 'ONIX_BookProduct_3.0_reference_notstrict.xsd', because 1) could not find the document; 2) the document could not be read; 3) the root element of the document is not <xsd:schema>.`

[2021-05-18 16:43] asmecher commented on #7065
That file is available e.g. here: https://github.com/pkp/omp/blob/stable-3_3_0/plugins/importexport/native/ONIX_BookProduct_3.0_reference_notstrict.xsd

I don't think an XML validator will be looking for it at the URI in the initial description; the typesetter should be able to put it in the same place as the `native.xsd` schema, as `native.xsd` refers to `ONIX_BookProduct_3.0_reference_notstrict.

[2021-05-18 18:10] mfelczak commented on #7065
Perfect, thanks!

[2021-05-18 18:10] #7065 closed

[2021-05-18 21:38] ctgraham commented on #6895
I don't think we'll find "institution" references in the columns or data of the COUNTER reports.  Rather, the "institution" (or "customer") is part of the SUSHI filters on which the COUNTER report is based.

See: https://app.swaggerhub.com/apis/COUNTER/counter-sushi_5_0_api/1.0.0#/default/getConsortiumMembers

@bozana , I support your bullet point suggestion.  I think the OA use case *is* an OA jo

[2021-05-19 01:23] asmecher commented on #5328
I also like the idea in theory but I'm concerned about the number of files associated with each entity (I know, that may not actually be a problem...) and the number of places someone will have to look in order to work with the database, e.g. changing its structure. If you're on the fence, I'd tip the balance towards the Repository pattern, particularly since Laravel already adopts it.

I've read

[2021-05-19 11:15] henriqueramos opened #7068 "Consider implementing the phpdotenv usage to handle configuration"
Currently our configuration file it is a [static file](https://github.com/pkp/ojs/blob/c192565e655110850fe30378652aa58fbd292502/config.TEMPLATE.inc.php), based at the [INI file ](https://en.wikipedia.org/wiki/INI_file) concept.

This concept works well, but did not allow us to change and mock things easily for testing, or used it with [environment variables](https://en.wikipedia.org/wiki/Environme

[2021-05-19 11:19] henriqueramos commented on #7068
As mentioned by @marcbria on Slack:

[code]

We could try to implement the phpdotenv at `PKP\config\Config::reloadData` or at `PKP\config\ConfigParser::readConfig`.

[2021-05-19 11:20] henriqueramos commented on #7068
Also, currently our phpunit tests aren't running in one separated "disposable" environment. Every test uses the configuration data (including database config) from the main config.inc.php file.

[2021-05-19 11:47] NateWr commented on #7068
Can you give some code examples showing the limitations you're hitting with the current `config.inc.php` file?

[2021-05-19 12:10] NateWr commented on #7062
Wouldn't this be a condition that applies to all author's works? I mean, even if an author didn't create a new version, they'd still be bound by this policy. So to me it's a policy that applies to all authors, not just to the moment of creating a new version.

[2021-05-19 12:11] Vitaliy-1 commented on #7068
The one that Laravel uses?
It looks to me that `PKP\config\Config` is the functional analogue of Laravel's `Illuminate\Config\Repository` class, which we initialize in our `PKPContainer` and `PKP\config\ConfigParser` has similarities with `Illuminate\Foundation\Bootstrap\LoadConfiguration`. Unifying those looks like another move towards the current Laravel integration approach.

[2021-05-19 12:11] jonasraoni commented on #7068
One good thing about .ini files is that we can leave comments there =]

I think `.ini` files are ok, but I personally would store configurations using a JSON format, since it supports hierarchies and arrays out-of-the-box :)

About adding support to extend/overwrite configurations using environment variables:
- From a Docker perspective, it sounds really useful, as you can just pass "-e" arguments

[2021-05-19 13:01] alexxxmendonca commented on #7062
Yes, agreed.

As long as we can make sure that the authors are aware of the new policies, that's fine.

We want to avoid authors posting new versions thinking that the old policies are still in place. That's all.

[2021-05-19 13:23] gemusehandler commented on #7054
@asmecher
It works, so I can confirm!

[2021-05-19 13:28] NateWr commented on #7068
I would be inclined to draw on [Laravel's configuration pattern](https://laravel.com/docs/8.x/configuration), in part because it aligns more of our code base with the same underlying framework. They do support environment variables as well, and we can write PHP code into the config area if we really needed to.

Am I right in thinking the main issue with the current approach is that you'd liike to

[2021-05-19 14:06] marcbria commented on #7068
In the docker channel in slack we had a nice conversation a month ago about config.inc.php with Andrew and @asmecher

Summarizing, we said:

There are 3 things other well-known projects are doing to have a better configuration files that I think we can learn about:

1. **Config as environment vars:** Andrew pointed Drupal, but Nextcloud (see "[Auto configuration via environment variables](https://

[2021-05-19 15:08] NateWr commented on #5328
Thanks for the code review, @asmecher. It was very helpful! And thanks @henriqueramos as well!

Ok, I think I will try that route and see how it goes.

Yes, exactly. I see them as "dumb" classes that only know how to interact with the data store. For example, a submission DAO will know to write a data object to the `submission` and `submission_settings` table. It may also know that at least one pu

[2021-05-19 15:15] asmecher commented on #7054
Thanks, @gemusehandler! @withanage, please go ahead and merge anything that's still remaining, and close the issue.

[2021-05-19 15:17] NateWr commented on #7068
Thanks for bringing all that in @marcbria, that's really helpful!

I agree with this. WordPress stores a lot of settings in the database and this makes it really hard to deploy staging/production environments.

Yeah, I'm curious about this side of it. It may be that some shared hosts prevent or limit the ability to modify the environment. It would be interesting to explore what impact this might h

[2021-05-19 15:50] marcbria commented on #7068
Nate, if I understand well, you like Henrique's proposal to integrate phpdotenv but you like to do it in the Laravel's way?
If yes, I also think is a good idea to keep OJS tight to Laravel's patterns and best practices.

Guys, thanks you all for your work.

[2021-05-19 18:35] pmangahis commented on #3094
+1 from Hosted journal

[2021-05-19 18:37] pmangahis commented on #5885
+ 1 from Hosted journal

[2021-05-19 18:49] #7054 closed

[2021-05-19 19:12] ajnyga commented on #6777
Noticed today that the fix I propose above actually broke the count (although was fast)

This is how I fixed it now. It is now both fairly fast and also actually works. I basically cast the issueId as (string). This works in mysql, not sure what happens in postgre.

[code]

(Funny thing with this one, was confused why my issueDao is different from the stable branch, had totally forgot I did this c

[2021-05-19 21:54] asmecher commented on #6777
That'll work for PostgreSQL without problems, at a glance. Mind opening a PR for it?

[2021-05-19 23:25] pmangahis commented on #4325
+1 from a potential hosted client

[2021-05-19 23:49] asmecher commented on #5328
:+1: Good, based on this we can clearly and briefly define the distinction between DAOs and Repositories (DAOs dumb, Repositories smart) and I like the idea of slimming down the DAOs as much as possible not just from a pattern perspective but it also makes the refactoring progress fairly clear.

Have you got a pattern in mind for relationship classes, e.g. `stage_assignments`, `review_files`, or `

[2021-05-20 07:38] dommitchell commented on #3119
In case it is of any help to PKP, DOAJ displays the first language from the result of doing a FIND operation on the XML. The results come back in DOM order.

[2021-05-20 07:49] hungdang6676 commented on #6929
So is there anyway to fix this bug?

[2021-05-20 08:58] NateWr commented on #6898
Arg! The new syntax, `filename*=UTF-8''"`, doesn't seem to be working correctly in most browsers. I have confirmed the bug in Chrome and another user has [confirmed it in a number of browsers](https://forum.pkp.sfu.ca/t/ojs-omp-3-3-0-6-galley-name-generated-with-the-id-not-with-the-metadata-name/67756/5).

In the following screenshot, you can see that the response headers look correct, but Chromiu

[2021-05-20 09:19] NateWr commented on #6898
Ok, I noticed that the [Google Docs example](https://github.com/pkp/pkp-lib/issues/6898#issuecomment-814066305) that @jonasraoni provided uses both `filename=` and `filename*=UTF-8` in the `Content-Disposition` header. We were just using `filename*=UTF-8`. I changed this to use both and it seems to fix the issue in Chrome.

@asmecher does this seem correct based on your reading of the RFC? Or by u

[2021-05-20 09:38] NateWr commented on #6929
@hungdang6676 unfortunately, we haven't been able to prioritize this work yet.

[2021-05-20 10:51] NateWr commented on #6895
Thanks @bozana and @ctgraham!

I think you may be correct. Although we might find a general interest from OA journals in knowing who is visiting them, there's not a strong use case for tracking this information outside of specific reporting requirements in which journals know the institutional IPs they want to track.

I'm wary of coupling this too closely with subscriptions for a few reasons.

1.

[2021-05-20 10:58] NateWr commented on #7017
When fixing this, we should also introduce a new formatting rule that orders `use` imports alphabetically: https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/3.0/doc/rules/import/ordered_imports.rst

[2021-05-20 11:11] NateWr commented on #5328
No, not really. I think they could be handled using the `Collector` approach. So a user's stage assignments might be retrieved like this:

[code]

In these cases, no DAO is needed. But I'd be happy to look at other options. A separate repository/dao could work just as well:

[code]

I think this could be more or less intuitive on a case-by-case basis. A `stageAssigment` feels like a separate "thin

[2021-05-20 14:31] pmangahis commented on #4325
+ from 2 additional hosted clients

[2021-05-20 15:47] eniocarboni opened #7071 "[OJS3 PostgreSQL] error upgrade from 3.1.2 to 3.3.0-6"
**Describe the bug**
When upgrade fom OJS 3.1.2 to 3.3.0-6 (PostgreSQL only):
[code]
In PostgreSQL you can not add column **not null** with no default value if table is not empty (mysql insert '0' for any row in new column)

the problem is in https://github.com/pkp/pkp-lib/blob/559edb8599e688c1f520a9d68d8ac526f90081b4/classes/migration/upgrade/PKPv3_2_1SubeditorCategoriesMigration.inc.php#L32
I th

[2021-05-20 17:16] jonasraoni commented on #7017
Perhaps there's a Smarty template formatter out there as well :)
Also, I think such cases will probably to be manually fixed:
[code]

[2021-05-20 20:31] asmecher commented on #6898
From RFC5987 section 4.2:

So we should be OK to use both `filename*` and `filename`, with `filename*` taking precedence in clients that support both.

[2021-05-20 23:15] asmecher commented on #7071
@eniocarboni, thanks for tracking this down! At a glance it should also be possible to use
[code]
...rather than setting a default `0`. Can you confirm whether this resolve the issue via a direct upgrade from 3.1.2 to 3.3.0-6?

[2021-05-21 02:52] henriqueramos commented on #7068
Using the `env` function it's great, but there's one small issue with it, he got the data from `$_SERVER`, not from environment variables (using the `getenv` native method), this changed at Laravel 5.8. There's even a [polyfill](https://github.com/phpexpertsinc/Laravel57-env-polyfill) for it.

In one of my previous companies, we've developed a support class to handle data from `getenv`, instead to

[2021-05-21 08:14] eniocarboni commented on #7071
Yes I confirm I just tested the upgrade with

  `$table->bigInteger('assoc_type')->nullable();`

[2021-05-21 08:50] marcbria commented on #4029
If I remember well, all this was fixed.
@asmecher , do you mind to close the issue?

[2021-05-21 08:53] marcbria commented on #3196
Not sure if we finally made it for 2.4.x but we are using weblate now and 2.x is legacy, so if they don't exist the translations won't be updated.

@asmecher do you mind to close this too?

[2021-05-21 11:49] fradeve commented on #4976
Hi everyone!
After a conversation with @NateWr and within our Editorial team, Ubiquity Press is going pick this up. We have agreed on the specs as follows.

When Revisions have been requested:

## 1. Revisions request

![1 - Revision request](https://user-images.githubusercontent.com/1682677/119132192-50b36f80-ba32-11eb-8b90-2a5c96e0d7f7.png)

`(Author > Workflow > Review)`

* Replace the existing

[2021-05-21 13:10] ajnyga commented on #4976
Is there a reason not to allow further changes to the files after they have been submitted? I mean having something like View Revisions -> Edit.

[2021-05-21 15:56] asmecher commented on #4029
Sure!

[2021-05-21 15:56] #4029 closed

[2021-05-21 16:39] alexxxmendonca commented on #4976
This all looks great. Nice work!

I have just one question. I noticed that sometimes it's mentioned "Review files" instead of "Revision Files":

I wonder if these were typos and it's actually meant to be "Revision Files"?

Just want to make sure we are all talking about the same thing.

Review Files -> Files sent by the reviewers
Revision Files -> Files sent by authors after a "Revision"-type Deci

[2021-05-21 16:51] asmecher commented on #3196
Sure!

[2021-05-21 16:51] #3196 closed

[2021-05-21 17:02] asmecher commented on #7071
Thanks for confirming, @eniocarboni -- I've committed this to `stable-3_3_0`, `stable-3_3_1`, and `main`!

[2021-05-21 17:03] #7071 closed

[2021-05-21 17:29] twakeford commented on #4976
Good spot!

I think that there is an error that we will fix and also confusion in terminology.

**Terminology**
**Review Files** > refers to the section title on the Editor display that lists all files in the Review process.

= The first example is correct - the list presented to the author will replicate the Review Files list. i.e the editor will pass the files that have been reviewed back to the

[2021-05-21 17:47] alexxxmendonca commented on #4976
Perfect! Thanks for clarifying!

[2021-05-21 19:43] henriqueramos commented on #4622
I've implemented a Job to run the `Application::getSubmissionSearchIndex` processes. Also, have fixed the `failed_jobs` implementation.

Could you please take a look on the PR? @asmecher and @NateWr.

[2021-05-21 23:14] asmecher commented on #6963
PRs:
- https://github.com/pkp/pkp-lib/pull/7073
- https://github.com/pkp/ojs/pull/3134

@bozana, would you mind taking a look at this (before I adapt them for OPS and OMP)?  Essentially they convert the raw SQL to Laravel's querybuilder which permits better augmentation of the queries by calling code for counts etc. This doesn't improve the performance of the DRIVER plugin, though -- that'll still

[2021-05-22 00:00] kshuttle opened #7074 "Include discussion emails in activity log"
**Describe the problem you would like to solve**
Currently, emails created as part of a discussion are not included in the journal's activity log. The activity log records messages and corresponding files that are sent when someone new (such as a copyeditor or layout editor) is assigned to a submission. However, if a new discussion is begun during that stage of the process for questions or files t

[2021-05-22 00:29] asmecher commented on #6077
@NateWr, this PR (https://github.com/pkp/pkp-lib/pull/7075) uses PharData (built into any modern PHP, apparently) to extract plugins rather than depending on `exec()`; can you have a quick look? The relevant changes are here: https://github.com/pkp/pkp-lib/pull/7075/commits/f03c9f34ba0d4d9815d1f376eec7ce0bf09edec8#diff-15610b2b0d4270f5d74eb05245533740010391e1f29ec4a5346f46d960e832e9R67

[2021-05-22 09:50] TheMechanicalButterfly opened #7076 "ReviewFormElement::getMultipleResponsesElementTypes() cannot be called statically"
OJS version: Stable 3.3.1
PKP-LIB version: Stable 3.3.1
PHP version: 8.0.0

When trying to add a new review field via the dashboard, the frontend sends a request to `https://{baseUrl}/{context}/$$$call$$$/grid/settings/review-forms/review-form-elements-grid/create-review-form-element?reviewFormId=1&_=1621676390447`

This triggers the following PHP error:

[code]

New review fields cannot be added.

[2021-05-23 14:26] bozana commented on #6895
Thanks a lot @ctgraham and @NateWr.
I see there is `Institution_Name` and `Institution_ID` -- the institution for which the usage is being reported ("The World" in case of Gold_OA) -- in the header of the COUNTER reports. And the parameter for SUSHI as @ctgraham said. So yes, the `institution` is used, and on article level...
@NateWr, I agree with your DB table model. Maybe just one thing: we woul

[2021-05-24 09:50] NateWr commented on #6898
Thanks, merged to `stable-3_3_0` and cherry-picked to `stable-3_3_1` and `main`.

[2021-05-24 09:50] #6898 closed

[2021-05-24 10:03] NateWr commented on #7068
It looks like [Laravel 8 uses phpdotenv](https://laravel.com/docs/8.x/configuration#environment-configuration) and also now reads from the [$_ENV super global](https://laravel.com/docs/8.x/configuration#retrieving-environment-configuration). Maybe there's not a distinction to be made, now, and we can experiment with using phpdotenv but configuring it similar to Laravel?

[2021-05-24 10:08] NateWr opened #7077 "Hover/focus states misaligned in default theme navigation menu"
**Describe the bug**
When hovering over a navigation menu item in the default theme, the dropdown menu is shifted right slightly. This is corrected when clicking on the parent menu item, which causes the focus to be set. The dropdown menu shifts left again.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a navigation menu with at least one dropdown menu.
2. Move mouse over the nav men

[2021-05-24 10:47] twakeford commented on #4976
There is a stage not documented above that I believe also needs to be included in this work:

When the Editor currently makes the decision to request revisions, they are presented with a file list of all files in the 'Review Files' list AND any files uploaded by the reviewers as part of the review. The Editor must tick any files that they wish to share with the author (I'm not actually sure why th

[2021-05-24 10:47] NateWr commented on #6077
Looks like a good improvement to me! I noticed this line from the PHP docs for `extractTo`:

Any chance that's going to catch some people by surprise? Or does `tar` preserve permissions as well?

[2021-05-24 11:00] NateWr opened #7078 "Dropzone.js causes upload timeouts on large files"
**Describe the bug**
The Dropzone.js library used for file uploads has a default timeout of 30 seconds. This is causing timeouts even in cases where the server timeout limit has been increased.

The [timeout configuration option](https://www.dropzonejs.com/#config-timeout) should be set based on PHP's `max_execution_time`.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the browser's dev

[2021-05-24 11:19] alexxxmendonca commented on #4976
@twakeford this makes sense to me!

[2021-05-24 12:55] NateWr commented on #4976
Thanks @fradeve and @twakeford. This all looks really good! A couple of minor changes/clarifications:

In the first screenshot there are two notifications. One at the top that says revisions requested and then one below in the revisions section with a button to ask for revisions. These should be combined so that there is only one notification at the top of the review round at any time. The revisio

[2021-05-24 12:57] alexxxmendonca commented on #4976
+1

[2021-05-24 13:14] ctgraham commented on #6869
I prefer option 2.  The config.inc.php file is inflexible and overused; it should be reserved for settings which cannot logically be stored in the database, like the database credentials.

[2021-05-24 13:34] twakeford commented on #4976
Ok, that all makes sense. The editing of the component type was an addition I added during the mock-ups. It isn't high on the priority list and unlikely to have much demand, so to keep scope as narrow as we can, that function may get removed.

re

I'm not getting any attached files when I select them during the decision process.

re

That sounds good - could we do that as a second attack at this w

[2021-05-24 14:12] NateWr commented on #4976
Yeah, I think it will actually get done separately, but...

...we can't just remove the full Review Files from the list. That's because we likely have journals that are making use of those files being there as part of their standard workflow. We at least need to know more about who is using them and why, and how they would need to adjust their workflows, before removing them.

[2021-05-24 16:22] NateWr commented on #5328
@asmecher I've refactored the Command/Query classes to use a `Repository` class for each entity. Code can get a `Repository` using the facade:

[code]

Or where dependency injection is supported, classes can type hint the repository in the constructor arguments:

[code]

This is looking pretty simple, although some classes do get [a bit large](https://github.com/NateWr/pkp-lib/blob/i5328_service_p

[2021-05-24 16:46] NateWr commented on #7076
@asmecher this looked like a straightforward fix but I'm not too familiar with the review form stuff. Any concerns here?

PR:
https://github.com/pkp/pkp-lib/pull/7079

Tests:
https://github.com/pkp/ojs/pull/3136

[2021-05-24 17:46] hxo82 commented on #7074
@kshuttle @NateWr
Not sure if this is a component of this particular request, but I'd love to also suggest that when you start a discussion, the email that ends up in the recipient's inbox contains the actual email sent through the discussion rather than a notification to log in and see a message. I think this would streamline communications, and you know for sure the recipient receives the messag

[2021-05-24 18:40] ctgraham opened #7080 "PLUGIN_GALLERY_ALL_CATEGORY_SEARCH_VALUE is defined in the wrong context"
**Describe the bug**
Constant `PLUGIN_GALLERY_ALL_CATEGORY_SEARCH_VALUE` is defined in [PluginGalleryGridHandler.inc.php](https://github.com/pkp/pkp-lib/blob/3df5242508a3554c7e6bee531d7027327cdc21ad/controllers/grid/plugins/PluginGalleryGridHandler.inc.php#L34), but it is used in [PluginGalleryDAO](https://github.com/pkp/pkp-lib/blob/3df5242508a3554c7e6bee531d7027327cdc21ad/classes/plugins/PluginG

[2021-05-25 08:40] jmvezic commented on #6432
@asmecher @NateWr perhaps this might also be a good issue to resolve with 3.4. milestone: https://github.com/pkp/pkp-lib/milestone/49

[2021-05-25 08:42] NateWr commented on #7074
Hi @hxo82, you can find an issue filed for that here: https://github.com/pkp/pkp-lib/issues/6222.

[2021-05-25 08:53] jmvezic commented on #3022
@ajnyga is the commit you made compatible with 3.3.0-6? I'd love to try it out if you need some testing.

[2021-05-25 09:11] marcbria commented on #4919
Recently, with @ajnyga we realize that 307 redirection is really required... even I still don't know why.
Editing former post to avoid confusions.

[2021-05-25 09:34] NateWr commented on #7078
PR:
https://github.com/pkp/pkp-lib/pull/7081

Tests:
https://github.com/pkp/ojs/pull/3137

[2021-05-25 09:58] bolelligallevi commented on #6201
Hi @isgrim, any update on the plugin porting to OMP?
Best regards,
Stefano

[2021-05-25 10:10] ajnyga commented on #3022
That's only part of the work, I maybe have something for testing in June

[2021-05-25 10:23] isgrim commented on #6201
Hi @bolelligallevi ,

my colleague (Christian Marsilius, @nongenti )is working on it. I think we have a functional version on our development server. I have to check with him, in what state the code is.

Regards,

Nils

[2021-05-25 10:27] NateWr commented on #7077
This problem arises because the Popper.js library, which we use to handle the dropdowns on click, automatically adjusts the position of the dropdown based on the screen position. There were some slight discrepancies between this automatic positioning and the CSS-based hover positions.

The following PRs reduce the frequency of jank. However, because Popper.js will shift a dropdown away from the ed

[2021-05-25 10:46] NateWr commented on #6944
PR:
https://github.com/pkp/pkp-lib/pull/7082

Tests:
https://github.com/pkp/ojs/pull/3140

[2021-05-25 11:07] bozana commented on #6782
Hi all, I would like to discuss with you how we could/should improve the data model for usage statistics.
1. As noted above some columns (issue_id and section_id) are only used for easier reporting. I understand from the discussion above that we would like to keep them.
2. COUNTER R5 does not consider tracking of issue TOC and galleys, as well as journal landing page, but I suppose we would still

[2021-05-25 11:35] twakeford commented on #4976
Makes sense - can someone confirm whether they can see any functionality in the current list? If I tick one of the files uploaded by a reviewer, this _does_ make it available to the author, but ticking any of the other files doesn't seem to do anything (i.e. no attachments, nothing obvious in the author Revisions page...). I may be missing something, but from what I can see the list seems to be of

[2021-05-25 12:10] jmvezic commented on #3022
Great to hear, I'll try to replicate my production database (which has _a lot_ of journals and users) to development server, which should be a great testing ground for the feature.

[2021-05-25 12:17] hxo82 commented on #7074
Thanks @NateWr !

[2021-05-25 13:13] crosfield commented on #7077
I see, ok, thanks @NateWr!

[2021-05-25 15:33] bozana commented on #6782
So maybe to have:
DB table metrics_total:
load_id, context_id, pkp_section_id, issue_id, submission_id, representation_id, assoc_type, assoc_id, day, month, file_type, country_id, region, city, institution_id, access_type (`Controlled` or `Gold_OA`), metric_type?, metric
(Based on assoc_type we would know if it is `Total_Item_investigations` or `Total_Item_Requests`).

DB table metrics_unique:
(wo

[2021-05-25 16:23] alexxxmendonca commented on #6465
+1

SciELO is also very interested in this, for OPS.

[2021-05-25 16:46] asmecher commented on #6077
This behaviour is the same as `tar`; I think we're OK. Thanks!

[2021-05-25 16:46] #6092 closed

[2021-05-25 16:51] asmecher opened #7083 "Reduce dependency on `exec`"
Continuation of https://github.com/pkp/pkp-lib/issues/6077, which resolved plugin installation (the most common pitfall).

The `exec` PHP function is required in a few remaining places:
- tar and mysqldump are used by the Backup plugin
- `pdftotext` (as configured in `config.inc.php`) is used by the search indexing toolset
- `tar` is called by the DataCite plugin

Where good alternatives exist, re

[2021-05-25 16:52] asmecher commented on #6077
The plugin dependency on `exec` has been removed for release in 3.4.0; closing this issue with the remainder filed at https://github.com/pkp/pkp-lib/issues/7083, since those are far less important priorities (based on support forum posts).

[2021-05-25 16:52] #6077 closed

[2021-05-25 19:47] asmecher commented on #7080
(See also https://github.com/pkp/pkp-lib/issues/6092, in which constants are being moved into classes.)

[2021-05-25 22:49] asmecher commented on #7076
This has my blessing, thanks: https://github.com/pkp/pkp-lib/pull/7079#issuecomment-848314133

[2021-05-26 09:12] NateWr commented on #6944
Merged to `stabe-3_3_0`, cherry-picked to `stable-3_3_1`, and manually applied to `main`.

[2021-05-26 09:12] #6944 closed

[2021-05-26 09:26] NateWr commented on #4976
@twakeford, I just did a test in `stable-3_3_0` and I see files from all three sections getting attached to the email that is sent to the author. Here are the steps I took:

1. Upload a file to Review Files.
2. Upload a file to a Review Assignment (ie - from a Reviewer)
3. Upload a file to Revisions.
4. Click Accept Submission.
5. Select all three files to share with the author (the first step of

[2021-05-26 09:28] NateWr commented on #4976
Now that I think about it, I bet that the Review Files were made available in this list precisely because _not all files were included in revisions_! So I think with the new revision workflow, since all files will be in revisions, even if they were not revised, we'll no longer need to permit editors to attach Review Files to the decision email.

[2021-05-26 11:32] twakeford commented on #4976
That's what I'm thinking - if we're providing all the Review Files to the author anyway as part of the revisions process, then the editor won't need to select them individually at all....

[2021-05-26 11:44] NateWr commented on #4976
Yeah, you're right. Sorry that hadn't occurred to me. :+1:

[2021-05-26 12:21] bozana commented on #6782
I've just spoken with @NateWr and we came to a few other conclusions:
1. We will keep the format (PDF, HTML and other) granularity for our users.
2. Important for our UI is also the differentiation between primary and supplementary files (the dependent files are ignored). (The supplementary files have `assoc_type = ASSOC_TYPE_SUBMISSION_FILE_COUNTER_OTHER`. (Eventually I can change this to ASSOC_T

[2021-05-26 12:47] bozana commented on #6782
DB table metrics_context&issue:
load_id, context_id, assoc_type, assoc_id, day, month, file_type?, metric_type?, metric
(assoc_type = context, issue)

DB table metrics_submission(abstract&files):
load_id, context_id, pkp_section_id, issue_id (ojs), submission_id, representation_id, assoc_type, assoc_id, day, month, file_type, metric_type?, metric
(assoc_type = submission, submission file, submissi

[2021-05-26 12:50] NateWr opened #7084 "Use GitHub's support for a contact link in issue templates"
I noticed that Libero has a special entry when creating an issue that links to their community support:

![issue-link](https://user-images.githubusercontent.com/2306629/119662433-4bd32f00-be29-11eb-9b92-6e5f065701ea.png)

We should do something similar linking to our Community Forum. Looks like it's a .yml in the issue templates: https://github.com/libero/editor/blob/master/.github/ISSUE_TEMPLATE/

[2021-05-26 13:52] asabharwal commented on #6275
@marcbria and @NateWr!

Thank you for this discussion.  I have been looking for this information for the past couple of years, and you had the solution here.  I would also like to thank @rcgillis for pointing me here.

I think, that the ISO language codes (either the 2 or 3-digit formats like EN or ENG) would be a better alternate to seeing fully spelled-out label albeit this should be a journal's

[2021-05-26 14:59] NateWr commented on #6782
Thanks @bozana! For Alec and Jonas, do you know if there are any SQL tricks we can use for date tracking? At the moment each row includes a `day` (YYYYMMDD) column and a `month` (YYYYMM) column. This makes it easy to sum up records by month. But is there any way to do this in SQL with a single `DATE` column? Would it be possible to store the date in a single column but still sum results monthly?

[2021-05-26 15:08] ajnyga commented on #6782
Thanks! I will read this through as soon as I can, starting from tomorrow I will be away for a week.

[2021-05-26 18:54] jonasraoni commented on #6782
Hi @bozana! I think the best for this case would be to use a time series database, but as it's not feasible, follow some ideas =]

- As we're not looking for increasing the time granularity, we could replace the `day` column by a set of columns, from `day1` until `day31`, this way we would be able to pack a whole month into a single record.
- [Partitioning](https://www.postgresql.org/docs/11/ddl-p

[2021-05-27 07:04] jmvezic commented on #6724
I'm getting similar errors as people commented here. Upgrading from 3.2.1-2 to 3.3.0-6, I first get:

[code]

To fix that, I ran

[code]

which updated 8 rows, but after running the upgrade script again, I get:

[code]

after which I did

[code]

and the script continues on.

This is a production database (copied to dev environment to test the upgrade) which has never been altered in any way manua

[2021-05-27 09:27] NateWr commented on #6782
I think we should have separate tables. Then we can get rid of `assoc_type` and use just `context_id` or `issue_id` with foreign keys. I don't think we would need `file_type` here, would we?

Instead of using `assoc_type`/`assoc_id` let's rely on the existing columns that identify what they are (we can use foreign keys too). So by adding a single column, `is_primary_file`, we can use the value of

[2021-05-27 10:18] jmvezic commented on #6724
Regarding the mentioned errors, I see that in version 3.2 (latest 3.2.1-4), both fields (review_round_id and publication_id) can be NULL and default to NULL:

[code]
and
[code]

Doesn't it make sense if 3.3 now defines them as NOT NULL to run and UPDATE or DROP before the schema upgrade?

[2021-05-27 11:22] jmvezic commented on #6724
@asmecher after applying your three patches (and doing the updates of NULL fields), the script is indeed quite faster, but after some time it hangs on the same thing as @elton557 mentioned:

[code]

mysqld is also running at 100% CPU on that single command, looks like it's stuck.

[2021-05-27 12:38] ccmaria commented on #5713
Hello,
I m sorry. But, how do I import a table into omp? what are the formats?

[2021-05-27 13:02] NateWr commented on #7004
PRs:
https://github.com/pkp/pkp-lib/pull/7085
https://github.com/pkp/ojs/pull/3141
https://github.com/pkp/pkp-docs/pull/760

[2021-05-27 13:05] bozana opened #7086 "Metadata tab missing for remote publication formats"
**Describe the bug**
s. https://forum.pkp.sfu.ca/t/metadata-for-remotly-hosted-publication-formats-in-omp-3-2-1/67761

**To Reproduce**
Steps to reproduce the behavior:
1. Create a remote publication format with an URL
2. Click on 'Edit'
3. See there is not tab 'Metadata'

**What application are you using?**
OMP version 3.3.0 (but the bug seems to be in 3.2.1 too)

**Additional information**
It se

[2021-05-27 13:11] ctgraham commented on #6782
The differentiation is Controlled = Subscription; Gold OA = Open Access.  The naming of Platinum/Diamond and other nuances are not recognized by COUNTER.

C.f. https://www.projectcounter.org/wp-content/uploads/2020/02/Webinar-understanding-the-use-of-OPEN-ACCESS-content.pdf

[2021-05-27 17:14] elton557 commented on #6724
Hello, I am really facing the same problem, I upgraded on 10-05-2021 and even today is in the same place and now I realized that the mysql process is really 100%.
<img width="1440" alt="Screen Shot 2021-05-27 at 14 12 01" src="https://user-images.githubusercontent.com/52458645/119868687-bea9dc00-bef5-11eb-8faf-57f2f4568f34.png">
<img width="764" alt="Screen Shot 2021-05-27 at 14 12 12" src="https:

[2021-05-27 17:16] asmecher commented on #6724
@jmvezic, how big is your database? (i.e. how many rows in `submission_files`?)

[2021-05-27 17:21] asmecher commented on #5713
@ccmaria, could you post your question (with details) on our support forum at https://forum.pkp.sfu.ca? That's the best place to get help.

[2021-05-27 17:23] jmvezic commented on #6724
@asmecher the submission_files table has 48844 rows. The whole database dump is 381 MB.

It the meantime, the script broke with
[code]

so I guess it did manage to get out of that stuck DELETE command.

[2021-05-27 18:31] jmvezic commented on #6724
As a sidenote, upgrading from 3.2.1-2 to 3.2.1-4 is completely successful without errors with the same database, but upgrading to 3.3.0-6 is unsuccessful.

[2021-05-27 19:33] asmecher commented on #6724
@jmvezic, you should be able to resolve the `Duplicate Entry`...`review_round_files_pkey` message following these instructions: https://github.com/pkp/pkp-lib/issues/1921#issuecomment-265585370

The upgrade is slow, and we've noted that for improvement here, but it does sound like it is working through the content rather than hung indefinitely.

[2021-05-27 19:42] jmvezic commented on #6724
@asmecher Huh, that's interesting regarding the duplicate entries. Our database was always MySQL. I'll try that solution tomorrow, and play around with the upgrade some more. 2+ hours of downtime wouldn't be an option for us since we're hosting 50+ journals.

I suspect that JOIN statement in the DELETE command is what's slowing it down?

[2021-05-27 19:45] asmecher opened #7087 "PKP|PN: Call to undefined function DAOResultFactory::close"
From @ubermichael:

[2021-05-27 19:46] asmecher opened #7088 "PKP|PN: Suppressed fatal error: require_once()"
From @ubermichael:

[2021-05-27 19:48] elton557 commented on #6724
@asmecher , my upgrade has been running for 2 weeks now, I will wait for a help, because I will not be able to update in production with this slowness.

[2021-05-27 19:49] asmecher commented on #7087
Affects OJS 3.3.0-x. Either commit above will resolve the issue (they are equivalent, just applied to different branches).

[2021-05-27 19:49] #7087 closed

[2021-05-27 19:52] asmecher commented on #7088
@ubermichael, do you have the Archive/Tar PEAR module installed?

[2021-05-27 19:53] ubermichael commented on #7088
`pear list` says I do: Archive_Tar      1.4.9   stable

[2021-05-27 19:54] asmecher commented on #6724
We're aware that the upgrade is performing way too slowly for larger databases, and I've asked someone on our hosting team to look at it, but don't have any feedback yet.

[2021-05-27 19:56] asmecher commented on #7088
What does line 32 of `plugins/generic/pln/vendor/scholarslab/bagit/lib/bagit.php` look like?
Mine reads:
[code]

[2021-05-27 20:03] ubermichael commented on #7088
Mine is `require_once __DIR__ . "/../vendor/autoload.php";` which is odd.

And nothing in plugins/generic/pln/vendor/scholarslab has that require line.

[code]

[2021-05-27 20:10] asmecher commented on #7088
@defstat, it looks like v2.0.4-1 of the PLN plugin might have included a customization to the Bagit dependency where line 32 of `vendor/scholarslab/bagit/lib/bagit.php` was changed from...
[code]
...to...
[code]
...causing the problem described in the initial report. Does this ring any bells for you? Maybe the package was built manually (rather than using the [plugin build tool](https://docs.pkp.s

[2021-05-28 07:50] jmvezic commented on #6724
@asmecher The workaround you mentioned (https://github.com/pkp/pkp-lib/issues/1921#issuecomment-265585370) doesn't do anything - it returns 0 rows affected. I'll investigate further...

[2021-05-28 08:45] jmvezic commented on #6724
Regarding that error
[code]
there is only one row in my (pre-upgrade) database with those constraints:
[code]

So I suspect something goes wrong in this part: https://github.com/pkp/pkp-lib/blob/main/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php#L545

[2021-05-28 10:26] marcbria commented on #6272
Sorry a lot to arrive late to this issue.

Reading is not clear to me if @twakeford proposal was taken in consideration.

Moving all notifications to email_templates also sounds a good idea to me.
It also opens the door to a "disable this template" feature to give much more control over notifications.

Take care,
m.

[2021-05-28 14:03] amandastevens opened #7089 "Make the in-app Help more noticeable in OJS"
We have received informal feedback from a number of users and service providers that OJS users are unaware of the in-app help that is available by clicking "Help" on almost every page in the OJS backend dashboard. When a user clicks the Help button it opens instructions about how to use that part of the dashboard and links to other PKP documentation.

PKP's Documentation Interest Group is planning

[2021-05-28 15:55] asmecher opened #7090 "Warning in administration interface about latestVersionInfo"
From https://forum.pkp.sfu.ca/t/problems-after-upgrading-to-ojs-3-3-0-6/67962:

This will occur when the version check is disabled.

[2021-05-28 15:59] asmecher commented on #7090
For OJS 3.3.0-x users before 3.3.0-7, you can apply this:
https://github.com/pkp/pkp-lib/commit/e6494e1b6c1798aa1d8e791e25f0df03a5733cef

[2021-05-28 16:27] bozana commented on #6782
Hi all,
Thanks a lot!
I like the idea of partitioning the table by year. Also if possible archiving it depending on the statistics usage. I believe that most users only/in most use cases want to see the statistics of the last year or so, but I might be wrong? If we would go this way I would tend not to separate the table by assoc_type -- the entries per year should be well handlebar.
What do other

[2021-05-28 16:33] bozana commented on #6782
Maybe a note for those knowing better/dealing with the user requirements: Having the Geo and institution data only in the new counter metrics table, we will not be able to have abstract and file type usage and Geo/Institution data, also not issue usage and Geo/Institution data, e.g. we will not be able say something like "There were X PDF downloads from Germany/University of Blabla". We would be a

[2021-05-28 19:56] kaitlinnewson commented on #6469
We had this issue crop up again on an upgraded install, and found that user exports didn't work until we upgraded to PHP 7.4 (from 7.3), and [another forum user ran into this as well](https://forum.pkp.sfu.ca/t/slim-application-error-when-exporting-users-from-statistics-ojs-3-3-0-5/67674). This may need to be updated in the release docs.

[2021-05-30 07:24] jonasraoni commented on #7089
About the interface, the best experience I had were guided tours (focused + short), they are even better when used to present new features:

![image](https://user-images.githubusercontent.com/361921/120095863-f8b2f200-c130-11eb-978d-4bbd18cd0f22.png)

[2021-05-31 06:26] javedbirhmani opened #7091 "galley upload problem in ojs 3.3.0.5"
when i submit submission in quick submit option i cant upload galley kindly help me,,

[2021-05-31 08:24] jmvezic commented on #6724
Managed to get it working finally...

Here's the steps I took in case anyone else stumbles upon these problems:

## 1. Due to https://github.com/pkp/pkp-lib/issues/6732, do the following:
1.1. Dump the current version MySQL database to a file with `mysqldump`
1.2. Replace engine MyISAM to InnoDB in the .sql dump file with `sed 's/ENGINE=MyISAM/ENGINE=InnoDB/' current_database.sql > innodb_database

[2021-05-31 09:53] NateWr opened #7092 "Accessibility improvements for our DataGrid table component"
The [Table](https://docs.pkp.sfu.ca/dev/ui-library/dev/#/component/Table) component in our UI Library follows recommendations in the [WAI-ARIA example for a DataGrid](https://www.w3.org/TR/wai-aria-practices-1.1/examples/grid/dataGrids.html). This guide from an accessibility expert recommends some [additional steps](https://adrianroselli.com/2021/04/sortable-table-columns.html) to improve accessib

[2021-05-31 10:21] NateWr commented on #6782
I don't think we should make too many assumptions about what people want. We should be support not just high-level yearly reports but also things like individual curiosity, internal market research, etc.

That may still be possible when partitioning the table by year. But in the stats UI we will want people to be able to specify any date range and get results back, regardless of whether the start/

[2021-05-31 10:27] NateWr commented on #6272
@marcbria which proposal are you referring to? If you're talking about user control over notifications, they can opt out of this in their user profile. We hope to improve the opt-in/out UI as part of our work on emails in 3.4.

[2021-05-31 11:42] marcbria commented on #6272
Hi Nate,

I was talking about this: https://github.com/pkp/pkp-lib/issues/6272#issuecomment-782887303

Some notifications are not email_templates yet (are regular translation strings).

If they all are moved to email_templates, we got some benefits:
a) A centralized place to find and understand them all (email_templates include a nice searcher, an explanation...)
b) Journals will be able to modify

[2021-05-31 11:44] bozana commented on #6782
OK, thanks @NateWr. That sounds clear :-)
So then maybe to separate the tables first only by assoc_type and see how that goes. And eventually, in the future, we could separate them by year as well.
I see you suggest to keep the Countries, Regions and Cities also in our DB? Do we need that now?

[2021-05-31 11:45] NateWr commented on #7089
I'm not confident that we can or should keep the help panel. I see the following problems with it:

1. It is often not very relevant. Only in a few places is it genuinely useful (eg - for some settings). Elsewhere, the text mostly describes information that is either already in the UI or should be.
2. It's structure as a document and a set of descriptions is not appropriate for the user's context.

[2021-05-31 11:49] NateWr commented on #7091
Hi @javedbirhmani, we use the issues here on GitHub to manage our development tasks. You can get help on our [community forum](https://forum.pkp.sfu.ca/c/questions/5).

[2021-05-31 11:49] #7091 closed

[2021-05-31 11:55] NateWr commented on #6272
@marcbria I think this email is already an email template `SUBMISSION_ACK` that can be modified from the email templates list under Settings > Workflow > Emails.

[2021-05-31 11:59] NateWr commented on #6782
My instinct is to not use strings in the table, but to only use IDs to keep the database size and query time down. But I'm not an expert in this so open to other ideas. Right now, with the country/region/city stored as strings in the table, we have no way to perform translation in the future. Perhaps for country it's enough to use ISO codes to have a unique identifier, but I'm not sure about the e

[2021-05-31 12:53] mpbraendle opened #7093 "Error in XML Schema for Import/Export"
OJS 3.x

When loading the XML schemas for import/export into the Oxygen XML Editor
https://github.com/pkp/ojs/blob/main/plugins/importexport/native/native.xsd
https://github.com/pkp/pkp-lib/blob/main/plugins/importexport/native/pkp-native.xsd
https://github.com/pkp/pkp-lib/blob/main/xml/importexport.xsd

the following validation error is reported by the Xerces processor for https://github.com/pkp/

[2021-05-31 13:48] marcbria commented on #6272
You are right Nate. I mixed this SUBMISSION_ACK with the "A new article has been submitted to which an editor needs to be assigned" notification, that (as far as I can see in 3.2.1-4) is not yet an email_template:

![imagen](https://user-images.githubusercontent.com/2779168/120202310-bec41780-c226-11eb-82f0-73061f0b4b05.png)

My journals reported this message to be annoying because they don't expe

[2021-05-31 14:30] ronste opened #7094 "PKPFileService::download() calls exit function"
OJS Version 3.3.x

File: PKPFileService.inc.php

At the end of the download() function exit() is called interrupting execution.

See: https://github.com/pkp/pkp-lib/blob/e6494e1b6c1798aa1d8e791e25f0df03a5733cef/classes/services/PKPFileService.inc.php#L159

Expected behaviour: Execution status is returned and script execution continues.

[2021-05-31 15:57] imartin-UPC commented on #5971
Is there any progress on this issue?

[2021-05-31 15:58] marcbria commented on #5583
I was saving for the end the most damaged of our journals (that passed by some institutions till it arrive to our hands) and when I upgrade from 3.1 to 3.2, this is what I found:

- 890 missing files.
- 2436 articles with review assignation issues.
- 3446 orphan authors.
- 11693 orphan citations.

Data was lost some time ago (no idea where and/or when) and there is nothing I can do to fix this so

[2021-05-31 15:58] asmecher commented on #6724
@jmvezic, thanks for documenting this -- can you clarify, does the upgrade seem to run more quickly with your changes in place, or was the run time always 5-10 minutes?

[2021-05-31 17:10] asmecher commented on #3227
This should already be taken into account per @Vitaliy-1's email changes for 3.4!

[2021-05-31 17:28] alexxxmendonca commented on #7089
I really like @jonasraoni's suggestion as well (ScholarOne has a similar feature, as well, in fact).

You raised very important points, @NateWr.

I like a combination of both in-app resources/help for first timers and a fixed method of obtaining more in-depth help. It's important that users know exactly where to get help when they need it.

That's a very good point.

[2021-05-31 17:46] pilasou opened #7095 "[OJS 3.3] All file downloaded has "download-file + extension" as name"
As an editor, when I clic on a file name in a submission to download the file, it is always downloaded with the same name (ex: download-file.docx). This is happening no matter the stage (Submission, Review, etc.) or the Element (Text, Image, etc.).

This is happening in our own installment (Open Journal Systems 3.3.0.6) as well as on OJS Test Drive (Open Journal Systems 3.3.0.5)

**To Reproduce**

[2021-05-31 18:33] asmecher commented on #7095
I think this is probably a duplicate of https://github.com/pkp/pkp-lib/issues/6898#issuecomment-844901761. Can you see if this change resolves the issue (applied in the `lib/pkp` subdirectory)? https://github.com/pkp/pkp-lib/commit/27ecd4cd9fa3645020c967f1f907f828228ee2ef

[2021-05-31 18:38] pilasou commented on #7095
OK, I look into it! I will confirm if it solve the issue. Thanks.

[2021-05-31 19:37] jmvezic commented on #6724
@asmecher Previously the runtime was 2+ hours, but I'm still investigating some things to make sure there wasn't any caching from MySQL involved as I iterated through upgrade->restore dump->upgrade etc.  I combined some of your optimization commits while leaving some out.

[2021-05-31 20:13] asmecher commented on #6724
Thanks, @jmvezic, this sounds promising. Can you summarize what changes you made compared to the stock 3.3.0-x release?

[2021-05-31 20:13] mfelczak commented on #6782
Hi @bozana, my understanding is that Editors and likely funding agencies are interested in the distinction between article landing page vs full-text access even if we don't report on e.g. PDF vs. HTML vs. XML for the full-text views. I understand the distinction as a rough measure of reader engagement with content, although I realize that in practice that's not going to be 100% accurate, e.g. when

[2021-05-31 20:21] jmvezic commented on #6724
@asmecher definitely, I'll just play around with chunk size a bit more, the size seems to have a bit of influence on execution time - not much but some. The worst run I've seen so far is 9 minutes 30 seconds and the best is 3 minutes. Just trying to make 100% sure there's no caching involved and that it's consistent with the same database .

[2021-05-31 20:25] asmecher commented on #6724
Much appreciated, @jmvezic! I'll be really interested to see how the changes run on @elton557's larger database. You've already noted the potential risk in chunking when the table is being modified, which is definitely something to watch out for.

[2021-05-31 20:55] asmecher commented on #7093
Thanks, @mpbraendle, I've removed the duplicate line (also for OMP and OPS). Ported to `stable-3_3_0` and `stable-3_3_1` where needed.

[2021-05-31 20:55] #7093 closed

[2021-05-31 21:49] asmecher commented on #7094
@ronste, that's a long-standing behaviour; can you write a little more about what you're trying to do that this is blocking?

[2021-05-31 21:58] asmecher commented on #6469
@kaitlinnewson, are you getting the exact error message in the image above? I suspect it's something similar but different. Can you include the full message you're getting?

[2021-05-31 22:20] ewhanson opened #7096 "OJS 2 Supp Files Missing in OJS 3.2"
Supplementary files that should become public galley files are dropped from the database during a migration from OJS 2.4.x to OJS 3.2.x.

[2021-05-31 22:29] ewhanson commented on #7096
Hi @asmecher, Here 's the PR for the supplementary files fix for the upgrade from OJS 2 to OJS 3.2.

Let me know what you think of it. Thanks!

PR:

pkp/ojs#3143

[2021-06-01 00:07] asmecher commented on #6782
__On segmenting by year__:

I'm not at all sure about programatically-generated table names (e.g. metrics_2019); I think this is a can of worms best avoided. I recommend looking at what e.g. Matomo does for long-running stats support without sacrificing performance.

__On grouping by month / year__:

Here's a short write-up of some ways to do this but lacking much discussion of efficiency: https:/

[2021-06-01 01:25] asmecher commented on #5328
@NateWr, you have my blessing -- I'm sure some of the details will crystallize as I start working with this, but considering it's a clean refactor of one of the most frequently-used entities, it looks very good.

[2021-06-01 04:29] apcshields opened #7097 "Update from OJS v3.2.1-1 fails with PHP fatal error"
I've been trying to update a production OJS server from v3.2.1-1 to any v3.3.0(-x). Each time, the update process fails with the error:

`mod_fcgid: stderr: PHP Fatal error:  Uncaught Error: Call to a member function getConnection() on null in /[****]/ojs/lib/pkp/lib/vendor/laravel/framework/src/Illuminate/Database/Capsule/Manager.php:74`

I thought it was possible that something about the databas

[2021-06-01 07:35] ronste commented on #7094
We use the download functionality for the export function of the DNB plugin. A temporary zip file is created that needs to be removed after successful download. Up to now (I'm working on the upgrade for OJS 3.3) we used the FileManager class to implement the download functionality. The FileManger does return execution to the calling script. I just wanted to follow the recommendations from the deve

[2021-06-01 07:42] ronste commented on #7094
By the way, what is the reason for exiting after the download?

[2021-06-01 08:31] jmvezic commented on #6724
I'm letting the 3.3.0-6 default script run now in order to compare outputs of both the new and old script, to make sure they do exactly the same thing, I'll update this comment with results, but so far the output seems the same and it's looking good. The only thing I left out is
[code]
from both the default/stock and the updated script since I'm working on a test server without files, and this dis

[2021-06-01 10:01] NateWr commented on #5583
I think the best way to preserve this data is to keep it in a permanent
database backup. In an ideal world you might have one for every year of
operation and even now could go back and identify where some of the deleted
submissions came from (maybe deleted journals?). But either way I wouldn't
recommend keeping them in your production database.

On Mon, 31 May 2021, 16:58 Marc Bria, ***@***.***> w

[2021-06-01 10:05] bozana commented on #5971
Hi @imartin-UPC, I first now see this issue, so I will take a look... Can you just tell me what do you try to export, an article? And as work? Thanks!

[2021-06-01 10:10] imartin-UPC commented on #5971
Hi @bozana. Thanks for your interest. Articles are registered fine (as works). However, when I try to register a full issue of the journal, I get the error shown above.

[2021-06-01 10:56] jmvezic commented on #6724
Right, so the default script is done, same output and result as the new script, here are the results:

- Default 3.3.0-6 script:
  - 2 hours and 54 minutes
- New script (https://github.com/jmvezic/pkp-lib/commit/451da92dd4ac8d663d6d938d84a57850baaf4a19):
  - 5 minutes 30 seconds (plus or minus a minute depending on other workloads on the VM)

On the same database, mysqld restarted every time to ma

[2021-06-01 11:25] marcbria commented on #5583
Thanks Nate.

Yes, this was the plan, but I was wondering about a better solution. :-(

BTW, one thing I like from our new docker approach is that I will keep each journal with their historic database:
![imagen](https://user-images.githubusercontent.com/2779168/120315091-415ade80-c2dc-11eb-844d-a4cf1ce6e1c6.png)

I know I will never use them, but it gives me peace of mind. ;-)

Deleting authors an

[2021-06-01 11:43] bozana commented on #6782
The MaxMind PHP library returns country and region iso code, as well as country, region and city geonameID, as well as region names in several languages.
But, it seems that the DB-IP lite city database only contains the country iso code and only one/original name for region and city :-P
MaxMind lite city database is more accurate and provides the iso and geonameID, and several region names (for ex

[2021-06-01 11:46] jmvezic commented on #6762
@asmecher I'm aware this is a fixed issue but I'm not entirely sure if it's part of a stable release yet? I don't see it in the release notes for 3.2, is there a 3.2.1-5 planned for this?

[2021-06-01 12:09] marcbria commented on #5583
Could somebody confirm those cleaning-queries will do the work:

[code]

**DISCLAIMER for others who fall in this thread with this same problem:**
PLEASE do not run these queries until someone more savvy can confirm that they are safe.
Note that they are removing data from your DB so it may break your system.

Cheers,
m.

[2021-06-01 12:15] NateWr commented on #7094
We are preparing OJS to support third-party file systems, such as AWS, Azure or other cloud providers. In the future, a file download may result in a URL redirection to a remote service, so we want to enforce the behaviour that a download request is the end of the operation. In some ways, the design is intended to catch use cases like yours so that we can get them migrated to something new.

For 3

[2021-06-01 12:25] NateWr commented on #7097
Hi @apcshields, have a look at https://github.com/pkp/pkp-lib/issues/6703 where similar issues were addressed (particularly the recommendations in https://github.com/pkp/pkp-lib/issues/6703#issuecomment-771555833). It may be an issue with the web-based upgrade process and there is a suggestion at https://github.com/pkp/pkp-lib/issues/6703#issuecomment-772868354.

I'm going to close this as a dupli

[2021-06-01 12:25] #7097 closed

[2021-06-01 12:30] NateWr commented on #6272
Hi @marcbria, your editors should be able to opt out of this notification by going to their user profile > Notifications. This email uses the generic "Notifications" template, which I think we'll endeavour to replace with proper editable email templates. But if you'd like to file an issue for this I can assign it to our emails project.

[2021-06-01 12:46] NateWr commented on #6782
I like Alec's idea of looking at what Matamo does. My idea was mostly about saving space (eg - saving `123` 1 million times might be smaller than saving `Barcelona`) but maybe that's not very relevant if these geo ids are already pretty small. But we still want a way to match geo ids to things like lat/lon coordinates and a human-readable name. This example from DB-IP's website:

[code]

I imagine

[2021-06-01 12:51] suenugus commented on #1813
I agree with promedacademy that authors should be able to withdrawn submissions. In any event the ability for someone to do this is essential for all sorts of reasons. I hope the priority tag on this will have this enabled soon.

[2021-06-01 13:17] kaitlinnewson commented on #6469
@asmecher I think it was the same, the beginning of the error in the logs is below. It's the same error the user in the forum post had as well, and [a reply there](https://forum.pkp.sfu.ca/t/slim-application-error-when-exporting-users-from-statistics-ojs-3-3-0-5/67674/5) indicated a PHP 7.4 requirement:

`[Wed May 26 10:39:29.217401 2021] [php7:notice] [pid 4794] [client ...] Slim Application Erro

[2021-06-01 14:19] NateWr commented on #4975
During a review of other platforms, @israelcefrin noted that Janeway visually distinguishes between incomplete and complete submissions in the author dashboard. This is a distinction we should also make clear when we separate author assignments from editorial assignments.

![janeway-author-submissions](https://user-images.githubusercontent.com/2306629/120339111-bcc48c00-c2ec-11eb-9810-25159b154a11

[2021-06-01 15:14] ronste commented on #7094
ScheduledTask doesn't seem to be an option for our plugin. In particular because there are OJS admins around that don't have administrative access to the hosting server to set up cronjobs. The plugin has to work without administrative access to the server.

For now I rather just copy the appropriate functions from FileManager to the plugin. With 3.4 I will consider the job queue system.

[2021-06-01 15:14] #7094 closed

[2021-06-01 15:47] asmecher opened #7098 "Custom email templates lost upon changing language configuration"
From https://forum.pkp.sfu.ca/t/records-in-email-templates-settings-are-deleted-when-enabling-forms-language-in-any-journal/68053 and https://forum.pkp.sfu.ca/t/ojs-3-2-1-1-email-templates-were-restored-to-default:

It appears that the email templates are removed when a locale is enabled (under "Forms" but probably elsewhere). This is happening due to...

1. [`LanguageGridHandler::saveLanguageSett

[2021-06-01 15:54] pmangahis commented on #2676
+1 from hosted client

[2021-06-01 16:37] asmecher commented on #6469
Thanks, @kaitlinnewson -- I misread the missing PHP feature as starting in PHP7.3 when actually it's PHP7.4. To resolve this, either upgrade to PHP7.4 or apply this change: https://github.com/pkp/pkp-lib/commit/bcf058116776569876bf6b5624f0b585ba79bbb6

The change will be released in OJS/OMP/OPS 3.3.0-7.

[2021-06-01 16:47] asmecher commented on #6762
@jmvezic, the fix is first included in OJS 3.3.0-4 (we use the Milestone drop-down for this, see top right).
The latest 3.2.1-x release is 3.2.1-4, released February 5, 2021, but the fix for this issue was merged into `stable-3_2_1` on March 1st, so it isn't included in any 3.2.1-x release package. If there ever is a 3.2.1-5 release it'll be included there, but we aren't releasing from older branc

[2021-06-01 18:41] pilasou commented on #7095
Hi, so applying [ #6898 (comment)](https://github.com/pkp/pkp-lib/issues/6898#issuecomment-844901761) changed things, but did not get them back to normal. Now, when a file is downloaded, OJS uses the name of the file as uploaded. It is better than the generic download-file name but not as better as it was in 3.1 (the former version we used) where file names contained submission ID (ex: 10458-Texte

[2021-06-01 18:52] asmecher commented on #7095
Hi @pilasou! Thanks for the confirmation on the "bug" part of this. For the greater question of how files ought to be named, there's a lot of discussion here: https://github.com/pkp/pkp-lib/issues/4957

The short version is that we haven't been able to identify a filename form that has been satisfactory for everyone, and every change makes part of our community unhappy. Have a look at the proposed

[2021-06-01 18:52] #7095 closed

[2021-06-01 19:05] asmecher commented on #6724
In the past, OJS has not defined `FOREIGN KEY` relationships in the database explicitly, so it's been possible, for example, for a `submission_files` entry to refer to an entry in `submissions` that doesn't exist. (Every submission file should be associated with a submission.) As we start to add `FOREIGN KEY` constraints, these inconsistencies will start to matter, so we're flagging them during up

[2021-06-01 19:07] asmecher commented on #6724
I do think it'll be necessary to `chunkById` in this case.

[2021-06-02 09:18] NateWr opened #7099 "[OMP] Pub ID assignment appears in metadata tab for Publication Formats"
**Describe the bug**
The pubId assignment UI appears in the Identifiers and Metadata tabs when enabled for publication formats. It should only appear in the identifiers tab.

See the [report in the forum](https://forum.pkp.sfu.ca/t/two-places-to-assign-publication-format-dois-in-omp-3-2-1/68034/2).

**To Reproduce**
Steps to reproduce the behavior:
1. Enable DOIs for publication formats.
4. See er

[2021-06-02 09:21] NateWr commented on #7099
PR:
https://github.com/pkp/omp/pull/978

[2021-06-02 10:23] odkr commented on #6469
Sorry, for the late reply! I am not sure, whether our issue is the as @kaitlinnewson's:

Type: ParseError
Message: syntax error, unexpected '...' (T_ELLIPSIS), expecting ']'
File: /var/www/journals_phl_univie_ac_at/ojs-3.3.0-6/lib/pkp/classes/user/Report.inc.php
Line: 67
Trace: #0 /var/www/journals_phl_univie_ac_at/ojs-3.3.0-6/lib/pkp/classes/core/PKPApplication.inc.php(175): customAutoload('/var/

[2021-06-02 14:29] unkej commented on #4504
Is there anything in progress for notifications for continuous publishing? Couldn't find a more up to date issue.

[2021-06-02 14:49] NateWr commented on #7099
Merged to `stable-3_3_0` and cherry-picked to `stable-3_3_1` and `main`.

[2021-06-02 14:49] #7099 closed

[2021-06-02 15:56] asmecher commented on #6469
@odkr, yes, I think it is the same. If you can try applying the patch [linked above](https://github.com/pkp/pkp-lib/issues/6469#issuecomment-852272720), it should resolve the issue!

[2021-06-02 18:52] alexxxmendonca commented on #6295
We've upgraded to OPS 3.3.0.6 and the basic statistics still need revision:

![image](https://user-images.githubusercontent.com/4059679/120536372-6cb3fb00-c3ba-11eb-9c2d-ff7f7782787f.png)

- It says 0 submissions accepted even though we currently have over 900 preprints posted
- It says 623 submissions "published" (correct wording should be "posted") even though we currently have over 900 preprint

[2021-06-02 19:03] alexxxmendonca commented on #6187
I think this has not been fixed.

This preprint was posted on June 2: https://preprints.scielo.org/index.php/scielo/preprint/view/2401

And yet, in the "Latest preprints" home page feed it is appearing below preprints that have been posted on June 1:

![image](https://user-images.githubusercontent.com/4059679/120537737-04661900-c3bc-11eb-8d63-947ea8100e2f.png)

The one that appears directly above

[2021-06-03 06:46] kosson commented on #6729
I can confirm the solution. I've just upgraded from 3.2.1.2 to 3.3.0.6 and I needed to alter the tables form InnoDB to MyISAM. So the command was `SELECT CONCAT('ALTER TABLE ', TABLE_SCHEMA, '.', TABLE_NAME,' ENGINE=MyISAM;') FROM Information_schema.TABLES WHERE TABLE_SCHEMA = 'abrorgro_rrbsi' AND ENGINE = 'InnoDB' AND TABLE_TYPE = 'BASE TABLE'`.

After this I've done the upgrade form command line

[2021-06-03 10:19] bozana commented on #6782
I took a look how Matamo saves Geo data, s. https://developer.matomo.org/guides/database-schema#log-data-persistence-visits:

The UserCountry plugin is here: https://github.com/matomo-org/matomo/tree/4.x-dev/plugins/UserCountry.
They use a local, updated and corrected copy of https://salsa.debian.org/iso-codes-team/iso-codes/-/raw/main/data/iso_3166-2.json to get the region names (for reports). I.

[2021-06-03 11:06] elton557 commented on #6724
@asmecher, Hello, this new script seems to be faster, I ran the upgrade but I received this new error, can you help me?

PHP Notice:  Undefined offset: 1 in /var/www/submission_scielo_br/htdocs/lib/pkp/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php on line 589
ERROR: Upgrade failed: DB: PDOException: SQLSTATE[HY000]: General error: 1390 Prepared statement contains too many placeholder

[2021-06-03 11:25] bozana commented on #6782
I also roughly took a look how Matomo is saving all those data:
They save each visit in the DB, s. https://developer.matomo.org/guides/database-schema. This is what we do in the log files.

Then that log data is aggregated by the archiving process into archive data. (A scheduled task is used to aggregate the log data.) Reports are then built using archive data.
Log data is aggregated into archive

[2021-06-03 11:46] bozana commented on #6782
Ah, I have forgotten: why would we need latitude and longitude? Depending on that, maybe to save them also in the counter r5 geo table, instead of having those additional tables for country, region, city?

[2021-06-03 12:28] NateWr commented on #6187
It looks like Scielo's preprints list is being sorted by the submitted date instead of the posted date. I was unable to reproduce this with the `stable-3_3_0` branch, so I suspect it's a customization in the Scielo install. It looks like the theme has been customized so I'd look there for possible differences with the templates in the `stable-3_3_0` branch.

[2021-06-03 12:40] NateWr commented on #6782
So that we can show [usage stats on a map](https://github.com/pkp/pkp-lib/issues/3368). See an example from [bepress](https://bepress.com/reference_guide_dc/readership-activity-map/).

[2021-06-04 07:48] bozana commented on #6782
Hmmm... the latitude and longitude returned from the Geo databases are at the level less than the city... For example: having different IP addresses from Berlin I get different lat/long from the DB-IP city lite database. (I haven't find an example yet where the city or region was unknown, to see what lat/long is returned then.)
I don't think we would like to collect stats for one lat/long... so ma

[2021-06-04 08:16] jmvezic commented on #6375
@asmecher As far as I can tell, this logic is handled differently in 3.3 (from the administration - hosted journals) and it works fine there. If you want, I can make a PR for this for the 3.2 branch?

[2021-06-04 08:21] odkr commented on #6469
Will do! Thanks!

[2021-06-04 13:20] jnugent opened #7100 "Impossible to create institutional subscription if membership is required"
**Describe the bug**

This is sort of related to pkp/pkp-lib#4271

If a journal manager defines an institutional subscription type and checks off the box requiring membership

"Subscriptions require membership information (e.g. of an association, organization, consortium, etc.) "

And then proceeds to attempt creation of a new institutional subscription, the form fails validation because the form

[2021-06-04 14:13] bozana commented on #5971
PR: https://github.com/pkp/medra/pull/3 (include a commit for updating the copyright year)

[2021-06-04 14:15] bozana commented on #5971
Hi @imartin-UPC, here are the changes needed to fix the problem: https://github.com/pkp/medra/commit/4052477c794616892ec5331535bcd08e97e19eac
You could maybe create a diff and apply it as patch for your installation.
I will release the new plugin version and the release soon, that will be then available for 3.3.0.6 and coming 3.3.0.7 via the plugin gallery.

[2021-06-04 15:16] bozana commented on #6782
Somehow I first now see the comment from @mfelczak above :-P
Having the institution (and Geo data) only in the new counter r5 table can reduce the DB table grow over time -- that's why the suggestion.
The full text view/download would be there -- the total_item_requests and unique_item_requests provide those numbers.
However, we could eventually not be able to differentiate the abstract views beca

[2021-06-04 15:43] asmecher opened #7101 "Make the journal health report (STATISTICS_REPORT_NOTIFICATION) respect the template enabled/disabled flag"
See https://forum.pkp.sfu.ca/t/disabled-email-are-sent-out/68105/2:

Since the journal editor can enable and disable the email template, the task should check this flag before sending the notification.

[2021-06-04 16:28] pilasou opened #7102 "[OJS 3.3] Language parameter user.authorization.journalDoesNotPublish does not exist."
The language parameter user.authorization.journalDoesNotPublish does not exist in any PO files in OJS. I cannot find it on Weblate.
It is displayed when the journal has configured the Distribution option : "OJS will not be used to publish the journal's contents online.". If a user try to access an issue page or an article page, the parameter is displayed....this is not to happen quite often...
I w

[2021-06-04 17:16] jnugent commented on #7100
Update.  I looked at this in 3.3 and it seems that what was implemented in 4271, the disabling of that checkbox if an institutional subscription is chosen, is working fine.  I thought that was merged into 3.2.1?

[2021-06-04 17:23] imartin-UPC commented on #5971
It worked like a charm. Thanks a lot!!!

[2021-06-04 19:10] amandastevens opened #7103 "If you create a new role with JM permissions, they are automatically assigned to all new submissions"
**Describe the bug**
This was reported by a PKP PS hosted client on OJS 3.2.1. I tested it on 3.2.0 and 3.3 and found the same thing. The user created a new role with the permission level of Journal Manager. All new submissions made to the journal are now assigned to the user in that role. It happens when there are multiple users in the Journal Editor and Section Editor role. It happens when there

[2021-06-07 09:20] bozana commented on #6782
I've found this free basic world city database: https://simplemaps.com/data/world-cities.
The good thing is that the lat/long is approximately in the middle of the cities, which does not have to be the case when we use the IP address and DB-IP city lite database. Another good thing that we would know what is the capital i.e. primary city of a country, so we would have the country lat/long too (we

[2021-06-07 09:59] NateWr opened #7104 "Journal should be identified in From/Reply-To headers of outgoing emails"
**Describe the problem you would like to solve**
Recipients of emails sent by a journal want to know what journal the email is related to. There have been suggestions to include the journal initials in [every email subject](https://github.com/pkp/pkp-lib/issues/3227#issuecomment-361683841). This can work, but it can also be cumbersome to add these details to every email template.

**Describe the s

[2021-06-07 09:59] NateWr commented on #3227
An alternative approach to including journal initials is described in https://github.com/pkp/pkp-lib/issues/7104.

[2021-06-07 10:17] NateWr commented on #6782
If the lat/lon provided by DB-IP doesn't match the city/region/country, then you're right, it probably doesn't make sense to try to store the lat/lon that we get. We'll end up with too many records.

It looks like the free version of that world cities database is heavily skewed towards North America (there's a visual comparison halfway down the page). It would be interesting to test its success ra

[2021-06-07 10:37] NateWr commented on #7101
This email is one of the notifications that each user can enable/disable in their user profile. Shouldn't that be the primary source of information on whether this email is sent?

I know that right now, we have several email templates that can be enabled/disabled, and this results in the underlying email notification being enabled/disabled. But this is counterintuive, because many email templates

[2021-06-07 10:39] NateWr commented on #7102
Confirmed in `stable-3_3_0`. In addition to adding the missing key in the `.po` file, let's also add a test to check this setting works.

[2021-06-07 10:49] NateWr commented on #7103
@asmecher it looks like this is intentional, when there is only one user in a JM user group. But it also looks like this goes back to the OJS 3 beta (and maybe earlier):

https://github.com/pkp/pkp-lib/blame/b2b45d77413f62d091714aa0c48521c8dbe1ee1c/classes/submission/form/PKPSubmissionSubmitStep4Form.inc.php#L54

It looks like this was functionality applied to assistant roles that was later adapte

[2021-06-07 11:12] bozana commented on #6782
@NateWr, the DB-IP provides a match on the city level, but best possible approximation for the IP address, so that we could e.g. have several lat/long connected with one city. If city is unknown, it does not provide lat/long (e.g. for the country).
So one solution could maybe be that we store that DB-IP lat/long for both, city and country. If next time a user from the same city or country would vi

[2021-06-07 12:49] NateWr commented on #6782
It makes me nervous to have every instance using different data. I worry we'd end up with hard-to-reproduce bug reports where a city is misidentified at one lat/lon. I guess another approach would be to try to save lat/lon only to a certain decimal point, that would be broad enough to protect privacy and aggregate data properly?

I don't think we want to show country-based data by lat/lon... That

[2021-06-07 13:08] alexxxmendonca commented on #6187
@diegoabadan do you think this could be related to the theme developed by Lepidus?

[2021-06-07 13:34] diegoabadan commented on #6187
From what I could see in the theme code, it is without this fix. I asked our team to generate a corrected version.

[2021-06-07 13:35] alexxxmendonca commented on #6187
@diegoabadan thank you!

[2021-06-07 13:46] NateWr opened #7105 "Allow queued jobs to be processed by a cron job"
**Describe the problem you would like to solve**
The job queue introduced in #4622 will be processed automatically in server environments where it is not possible to run cron jobs or service workers. However, some admins will want to process the queue through a cron job.

**Describe the solution you'd like**
Add support for a single cron job that will process scheduled tasks, as the current cron c

[2021-06-07 14:22] mfelczak commented on #6782
Hi @bozana, provided that we're able to distinguish full-text access, i.e. views and downloads, as distinct from other types of article requests (abstracts, supp files) that should be sufficient. I'm still a bit fuzzy on the details here, are you suggesting that all reader access events (full-text, abstracts, supp files) would be mixed within a single count? If that's the case, it might be helpful

[2021-06-07 14:58] henriqueramos commented on #7105
I've create a pull request for [OJS ](https://github.com/pkp/ojs/pull/3144) and [pkp-lib](https://github.com/pkp/pkp-lib/pull/7106), once they're approved, I will do it for OMP and OPS.

[2021-06-07 16:45] asmecher commented on #7101
I think we're seeing forum posts about this because many users have started receiving notifications that they aren't used to receiving, and are probably passing negative feedback to the journal. The journal is finding the "disable" button on that template, expecting it to inhibit the notifications entirely, but the button isn't doing anything.

If adjusting the code so that disabling the email tem

[2021-06-07 17:37] #5971 closed

[2021-06-07 22:28] hilongo commented on #2644
We are running into this issue too... 3.3.0.5 Multi-journal multi-language installation, if that info is useful

[2021-06-07 22:49] goncalocruz77 opened #7107 "[OJS] Failed Ajax Request or invalid JSON Request"
Hi, I have an error in an application made with OJS. When I try to include magazine sessions I get the error Failed Ajax Request or invalid JSON Returned.

![Erro OJS](https://user-images.githubusercontent.com/14839168/121096684-0fa8b280-c7c9-11eb-983e-95d3e859d7b4.jpg)

![Erro OJS 2](https://user-images.githubusercontent.com/14839168/121096877-6a420e80-c7c9-11eb-8be6-c634c1f46ebe.jpg)

Has anyone

[2021-06-08 07:54] NateWr commented on #7101
Yeah I think that the email work for 3.4 is going to try to refactor how users opt-in/out of emails, which should make it easier for each user to opt-out of that email. I can see that a journal may wish to disable it completely, especially if some of their section editors are guest editors or other roles that they don't want to have data about the journal.

In my view, an optimal solution would be

[2021-06-08 13:00] IWCMoussaS commented on #4246
Hi all,
I am sorry maybe this is solved, but from our version of OJS 3.2.1.1, is not there any option to add Reviewer from previous round.
Cheers

[2021-06-08 14:24] bozana opened #7108 "The pubIds plugins not loaded for CLI in ImportExportPlugins"
**Describe the bug**
When executing:
`php tools/importExport.php  MedraExportPlugin register journalPath articles articleId`
the error occurs:
"The specified objects could not be found."

Also, when exporting an article via CLI using NativeImportExportPlugin, the DOIs are not exported.

**To Reproduce**
Steps to reproduce the behavior:
s. above

**What application are you using?**
 OJS version 3.3

[2021-06-08 16:40] NateWr commented on #6978
@asmecher I'm running into a SQL error with the GROUP BY in [this query](https://github.com/pkp/omp/blame/main/classes/press/SeriesDAO.inc.php#L285-L293):

[code]

I can see that the tests passed so I'm wondering if this is a configuration problem that I should fix or maybe something that's not caught by our tests?

[2021-06-08 16:46] asmecher commented on #6978
That's MySQL, I presume? What version?

[2021-06-08 16:47] bozana commented on #7108
PRs:
ojs stable-3_3_0: https://github.com/pkp/ojs/pull/3145
ojs stable-3_3_1:
ojs main:

[2021-06-08 16:48] bozana commented on #7108
@NateWr, could you please take a look? If OK I will port to other branches...

[2021-06-08 16:58] bozana opened #7109 "Use keywords (and subjects) in DataCite export"
**Describe the bug**
A string is expected but array given in this line: https://github.com/pkp/ojs/blob/stable-3_3_0/plugins/importexport/datacite/filter/DataciteXmlFilter.inc.php#L175
Write each subject into its own XML element.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What application are you using?**
 OJSS vers

[2021-06-08 16:59] NateWr commented on #6978
mysql  Ver 8.0.25-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu))

[2021-06-08 16:59] asmecher commented on #7101
Thanks, @NateWr, and I'm OK to wait for 3.4. I think this could be disabled entirely either on the level of the scheduled task or the notification, and don't have a preference for which is better in this case, but both kinds of disables will be needed elsewhere in the system.

[2021-06-08 17:13] NateWr commented on #5328
The following PRs convert announcements, submissions and publications to repositories in OJS, OMP and OPS. I expect the tests to fail. I'll get them passing, provide PRs for a few plugins before merging, and prepare updates to the docs before merging.

PRs:
https://github.com/pkp/pkp-lib/pull/7064
https://github.com/pkp/ojs/pull/3131
https://github.com/pkp/omp/pull/979
https://github.com/pkp/ops/p

[2021-06-08 17:28] jonasraoni commented on #6963
@asmecher, one thing that I've noticed in the wild: The "Identity" verb of https://raco.cat (OJS 3.1.1.4) takes a long time to return, but other "limited" verbs (`ListSets`, `ListRecords` with a `set` argument) are ok.

[2021-06-08 19:45] asmecher commented on #6978
@NateWr, I think this can be fixed by changing the
[code]
...to...
[code]
...but your version of MySQL is clearly pickier around this than Antti-Jussi's. If this fixes it on your machine, it's safe to commit for all. Can you check?

[2021-06-08 22:38] asmecher commented on #6963
That's likely due to the query determining the date of the first record. To make that query performant we'll either need to use functional indexes (not yet supported in our MySQL baseline), or move to using soft deletes (Illuminate supports these nicely but we don't use them yet). Or cache that value somewhere.

[2021-06-08 22:40] asmecher commented on #6963
@bozana, I've addressed your review comments; could you take a second look? Thanks!

[2021-06-08 23:45] bozana commented on #7108
@withanage, could you maybe test the fix with your OJS version?

[2021-06-09 00:00] asmecher commented on #7100
Is this maybe a subscription type that was created before #4271 was merged in? It shouldn't be possible to create an institutional subscription type that requires membership information since 3.1.1-5.

[2021-06-09 00:05] asmecher commented on #7102
Thanks, @pilasou! I've added the two keys, and tested the feature.

[2021-06-09 00:05] #7102 closed

[2021-06-09 00:06] asmecher commented on #6375
@jmvezic, please feel free, thanks!

[2021-06-09 00:37] bozana commented on #7109
PRs:
ojs stable-3_3_0: https://github.com/pkp/ojs/pull/3146
ojs stable-3_3_1:
ojs main:

[2021-06-09 00:37] bozana commented on #7109
@NateWr, may I ask you to take a look at this PR too?

[2021-06-09 01:06] asmecher commented on #6724
@elton557, regarding the "too many placeholders" message in [your comment above](https://github.com/pkp/pkp-lib/issues/6724#issuecomment-853786214), this change (applied in `lib/pkp`) should fix it:

If you can confirm that it gets you past the stage you're trapped in, I can commit it for the next release.
[code]

[2021-06-09 08:47] NateWr commented on #7103
At the risk of blowing this up into something bigger than it needs to be: one of the things I'd like to see is the ability to configure automatic assignments during the editorial workflow. It would be nice if journals could configure, for example, that a Layout Editor is automatically assigned when a submission reaches the Production stage. This would help automate the hand-off, especially to mana

[2021-06-09 08:56] NateWr commented on #7108
Hmm, I'm not that familiar with this plugin type. But the DOI object property should get added to the object's schema by the DOI plugin itself: https://github.com/pkp/pkp-lib/blob/main/classes/plugins/PKPPubIdPlugin.inc.php#L49. This should get loaded automatically by the dispatcher: https://github.com/pkp/pkp-lib/blob/main/classes/core/Dispatcher.inc.php#L157

Maybe the DOI export plugin bypasses

[2021-06-09 09:02] NateWr commented on #7109
Looks good to me. :+1:

[2021-06-09 09:14] NateWr commented on #6978
You're a SQL genious, @asmecher! Fixed it up fine and I'll roll this fix into my PRs for #5328.

[2021-06-09 10:03] Vitaliy-1 opened #7111 "Reconsider data caching mechanisms"
**Describe the problem you would like to solve**
There are several places in the code that may suffer performance issues and can benefit from data caching. E.g.:

- Event Discovery uses Reflection classes/method to link listeners with events, which are rather slow. [Related issue](https://github.com/pkp/pkp-lib/issues/6970) and [discussion](https://github.com/pkp/pkp-lib/pull/7005#discussion_r6253

[2021-06-09 10:18] Gypsop opened #7112 "A preview of metadata and uploaded files at step 4 of submission"
Could you please add a preview of the metadata inputted and files uploaded before the author finish the submission? Now there is only a text notice and authors need to click on each step to make confirmation.

Some authors told us that it is stressful when they are making a submission, and hope there could be an overall preview of all the contents in the submission before clicking the "confirm and

[2021-06-09 10:46] bozana commented on #7108
Ah, OK, this is a good point @NateWr! This issue is then relevant for all ImportExport plugins, when using the CLI, because yes, the CLI does not use dispatcher, router,...
At least it is definitely relevant for DOIPubIdExportPlugin, but probably also for NativeExportImportPlugin, executeCLI function.
But, one more thing: it is not enough to just load the pubIds plugins, the register method should

[2021-06-09 10:55] jnugent commented on #7100
Hi @asmecher no, this is a newish 3.2.1-2 installation (upgraded to 3.2.1 in Nov 2020, using stable-3_2_1 at the time).  The subscription was created a week or so ago.  Looking at the subscription type form, there might be a small bug in the JS handler added in #4271 - when creating a new subscription type, if I select "institutional" in the radio button, the option to require membership greys out

[2021-06-09 11:10] bozana commented on #7108
@NateWr, I have changed the solution, could you please take a look? Thanks a lot!

[2021-06-09 12:00] elton557 commented on #6724
Hello, I made the adjustments to the code, but now I have this error:

Next Illuminate\Database\QueryException: SQLSTATE[HY000]: General error: 1390 Prepared statement contains too many placeholders (SQL: delete from `submission_files` where `new_file_id` in (11, 42, 41, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 92, 91, 90, 89, 88, 87, 86, 85, 84, 107, 106, 112, 141, 140, 150

[2021-06-09 12:15] NateWr commented on #7108
@bozana that looks good to me. I wonder if every CLI tool should load these plugins, but that's a discussion for another issue.

[2021-06-09 12:18] diegoabadan commented on #7111
Related to: https://github.com/pkp/pkp-lib/issues/3304

[2021-06-09 14:59] diegoabadan commented on #6511
Hi! We have an example of a journal with a database on the same server and it takes more than 5s to load the TOC:

http://www.seer.unirio.br/segurofundamental/issue/view/417
http://www.seer.unirio.br/segurofundamental/issue/view/380

It's not a time that makes use unfeasible, but I consider it a negative use experience.

Note: This time is for repeated accesses, where there is already some cache o

[2021-06-09 16:03] asmecher commented on #6375
Thanks, @jmvezic, I've merged that change for `stable-3_2_1`!

[2021-06-09 16:03] #6375 closed

[2021-06-09 16:06] asmecher commented on #7111
I had to stop work on #3304 because it degraded performance compared with our old file-based caching; I suspect implementing https://github.com/pkp/pkp-lib/issues/6328 will decrease the reliance on that toolset and permit us to return to it without the same performance hit.

[2021-06-09 16:57] asmecher commented on #6724
Thaks, @elton557, this additional change (building on https://github.com/pkp/pkp-lib/issues/6724#issuecomment-857294376) should get you through that message:
[code]

[2021-06-09 18:32] ajnyga opened #7114 "Controlled Vocabularies store duplicate values"
**Describe the bug**
Controlled Vocabularies seems to have multiple duplicates for the same word. The database structure uses a separate `controlled_vocab_entry_settings` table that seems to be designed to leave out duplicates. However, also in one journal installations for example keywords get several duplicate values.

ping @marcbria for more examples. Ping @asmecher regarding the converation in

[2021-06-09 19:47] ctgraham commented on #6782
From Lorraine Estelle at COUNTER, regarding clarification on the `Access_Types` values:

This diverges slightly from my [earlier comment](https://github.com/pkp/pkp-lib/issues/6782#issuecomment-849622431), specifically that OA_Gold means "has always been open access" and Controlled means "has ever not been open access".

[2021-06-09 21:17] #7108 closed

[2021-06-09 21:52] withanage commented on #7108
@bozana

thanks a lot for your fix. :+1:

Actually,  where I found the bug in  OJS 3.2.1.

I applied your patch locally to OJS 3.2.1 and  am confirming  it works for the crossref plugin.

Actually, I am thinking, how this went unnoticed, cause may be everybody is using the acron plugin ;-)

Just created a PR from your changes.

PR
https://github.com/pkp/ojs/pull/3151

[2021-06-10 04:42] jmvezic commented on #6724
@asmecher Wouldn't that introduce the problem mentioned before, with the Laravel chunking of delete not being consistent?

[2021-06-10 04:49] asmecher commented on #6724
No, both delete `submission_files` entries with `new_file_id` values in the list. The new form just breaks the deletes into batches of up to 100, rather than the full set all at once.

[2021-06-10 06:54] #7109 closed

[2021-06-10 07:29] henriqueramos commented on #4622
@NateWr and @asmecher could you please review it again? Thank you!

[2021-06-10 07:57] ajnyga commented on #6875
We have started to encounter this problem with several journals after upgrading to 3.2.1.
Is there any potential solution for this?

[2021-06-10 09:21] bozana commented on #6782
@ctgraham, thanks a lot! Thus, as mentioned above, for OJS we could assume everything Controlled for subscription journals and everything Gold_OA for OA journals, right? We would however need to track it, because eventually a subscription based journal becomes OA, and probably for OMP (that I still haven't taken a look at)...

[2021-06-10 10:18] bozana commented on #6782
Here the new data model i.e. DB tables:

(context landing page, + catalog landing page for OMP)
metrics_context:
load_id, context_id, date, metric

(only OJS: issue toc and galleys)
metrics_issue:
load_id, context_id, issue_id, issue_galley_id, date, metric

(submission abstract page)
metrics_submission:
load_id, context_id, submission_id, date, metric

(submission file downloads)
metrics_submissi

[2021-06-10 10:30] bozana commented on #6782
Any objections to the data model :point_up: (maybe above all @NateWr and @asmecher)?

[2021-06-10 10:34] marcbria commented on #7114
Checking the same in one of my OJS 3.2.1-4 (in single-tenant) journals.

I used this query to find the duplicates:
[code]

That throws a lot duplicates:
![imagen](https://user-images.githubusercontent.com/2779168/121510275-bec2d500-c9e7-11eb-8cb2-6a9db6faede6.png)

Checking first of the list to confirm the query is working fine...
![imagen](https://user-images.githubusercontent.com/2779168/1215105

[2021-06-10 10:48] bozana commented on #6782
@NateWr, one more question regarding different files: we track the supp files, but there was a request to track the remote galleys/publication formats (s. https://github.com/pkp/pkp-lib/issues/1314). This would require the display of remote galleys in OMP to first call our function instead of providing the URL directly. What do you think about it? Depending on that we would need to differentiate i

[2021-06-10 10:53] ajnyga commented on #7114
I just tested this using the default publicknowledge journal created when you run tests. So a clean db with one journal and test data.

I added the same keyword to three submissions. Both by just writing the word and hitting enter and the by selecting it from the predefined list.

The results is three individual entries in the db:
<img width="710" alt="Screenshot 2021-06-10 at 13 51 38" src="https

[2021-06-10 11:04] bozana commented on #7086
PRs:
omp stable-3_3_0: https://github.com/pkp/omp/pull/980
omp stable-3_3_1:
omp main:

[2021-06-10 13:02] NateWr commented on #6782
The DB tables look good to me, @bozana. So we are only tracking `access_type` for institutional and geographic stats, right? That makes sense to me since COUNTER only seems concerned with institutional reporting (and geography might be used for a national/government institution of some kind).

I think we should leave the stats database structure as-is. For tracking remote galleys/publication forma

[2021-06-10 13:12] ctgraham commented on #6782
One thing which surprised me about COUNTER's expectation is that delayed open access is considered "controlled", even for access which happens after the embargo has passed.

This does mean that we need to track, at the submission level, whether the submission has always been open (Gold Open Access) or if it has ever been subscription content (Controlled).

[2021-06-10 13:17] bozana commented on #6782
Oh, grrrrrrrrrr... you are right @ctgraham :-( -- If a journal would change from subscription to OA we will not know what submissions were closed :-(
If a journal is a subscription journal and provides articles after an embargo period we know they are still "controlled"... thus this would not be a problem...

[2021-06-10 13:25] NateWr commented on #6782
Another way that we can approach this problem is to simply not support `access_type` in our reports. We've drawn a pretty clear line with the subscription/payment features in OJS, and if further features are desired they need to be funded/developed by journals that want them. If support for `access_type` is desired then that could be developed when it is resourced.

The only use case I can think o

[2021-06-10 14:36] marcbria commented on #6503
Thanks a lot @ajnyga!

@asmecher any plan to include this in older 3.x stable branches?

[2021-06-10 17:04] NateWr commented on #5328
All PRs merged!

@asmecher I had to skip one test in OMP to get this over the finish line. That test is here: https://github.com/pkp/omp/blob/main/tests/classes/monograph/SubmissionFileDAOTest.php

It's failing on an attempt to mock the new submission DAO: https://github.com/pkp/omp/blob/main/tests/classes/monograph/SubmissionFileDAOTest.php#L73-L83

I wasn't sure how to fix this. Basically, the n

[2021-06-10 17:04] #5328 closed

[2021-06-10 17:24] asmecher commented on #6503
@marcbria, the changes at https://github.com/pkp/ojs/pull/2964 do apply cleanly to `stable-3_2_1`. If you can confirm that they work as expected, I can commit them there.

[2021-06-10 17:35] marcbria opened #7115 "Email template "Reset All" don't remove old templates"
**Describe the bug**
When you upgrade a journal to 3.2.1-4 (and probably also to the last stable) old email_templates are kept.
This is fine (you don't want to lose your personalizations), but if you decide to reset them and you click on "Reset All" you expect old templates (for instance, refering to plugins that don't exist any more) will be removed, and they are not.

**To Reproduce**
Steps to r

[2021-06-10 17:39] marcbria commented on #7115
As a temporary solution, I TRUNCANTE all email_templates table and then I INSERT the content of a clean OJS 3.2.1-4 installation (with same lang)... but I suspect not all journals will be allowed to reach the DB to do this.

[2021-06-10 17:58] asmecher commented on #7115
I think this is a defensible intended behaviour -- it resets any *used* email templates to their defaults but doesn't remove anything it doesn't know about. In cases where e.g. OJS 2.x supported a template but 3.x doesn't, it leaves the old templates in place in case we later re-introduce the same functionality, which would permit the 2.x template customizations to be maintained.

Is there an unde

[2021-06-10 22:10] asmecher commented on #5328
@NateWr, the disabled test is re-enabled and fixed by https://github.com/asmecher/lensGalley/commit/af127875cf5bb8b2e32f756bd581899afac28a46 (already committed to `main`).

[2021-06-11 05:50] #7086 closed

[2021-06-11 06:50] marcbria commented on #7115
Ok. I understand and I can buy it.

List is not much long, so is not really a big deal.
It's only that I though in this as an good opportunity to clean old data in the DB... as far is something final users will see but I can also buy arguments to keep it.

To documented it in detail: notice email_templates table also keep email_templates from langs enabled in any moment, that now are disabled. Tha

[2021-06-11 06:50] #7115 closed

[2021-06-11 14:03] ctgraham commented on #1883
Closing this issue as obsolete.

[2021-06-11 14:03] #1883 closed

[2021-06-11 14:19] wopsononock opened #7116 "[OJS] Installer instructions suggestions"
I have several suggestions after installing OJS 3 using the command line installer and subsequently looking at the browser-based installer’s config form.

The OJS install instructions at https://github.com/pkp/ojs/blob/main/docs/README.md could mentions making several directories writeable. I suggest adding “by the webserver” to give some direction on who should own, despite the specific name of t

[2021-06-11 15:23] asmecher commented on #7100
Would you mind checking in 3.3? Thanks!

[2021-06-11 19:49] asmecher commented on #6963
Thanks, @bozana! I've addressed all your comments; in addition to the earlier PRs...
- https://github.com/pkp/pkp-lib/pull/7073
- https://github.com/pkp/ojs/pull/3134

...I've ported this to OPS and OMP:
- https://github.com/pkp/ops/pull/162
- https://github.com/pkp/omp/pull/983

I don't think these need separate review, so I'll merge them.

[2021-06-11 19:49] #6963 closed

[2021-06-12 01:18] asmecher commented on #7098
Applying this change in `lib/pkp` will prevent language resets in one journal from affecting templates site-wide: https://github.com/pkp/pkp-lib/commit/421ed8406b09fa01851296c8a0c7653e1a333554

[2021-06-12 01:18] #7098 closed

[2021-06-14 07:28] kmccurley commented on #5912
I think it's a great idea to capture ROR IDs when they exist, but I would advise caution about the schema. It is crucial that authors be able to list multiple affiliations. It is very common for authors to have multiple affiliations, but it's also the case that on a paper the affiliations would be listed individually, and the relationship between author and affiliation is indicated by a footnote (

[2021-06-14 09:04] NateWr commented on #5912
Thanks for your comment @kmccurley. I don't think we'll ever require a ROR. At the moment, we only support a single text field for affiliation, but we definitely plan to better support multiple affiliations eventually. We don't have any plans to support a taxonomy of affiliation types, and probably wouldn't support this unless a widely acknowledged third-party standard emerges, like the [CRediT ta

[2021-06-14 10:37] NateWr commented on #4415
I added a new type of `SubmissionGroup` for labelling or tagging submissions to group and manage them in the submissions list. This would be an arbitrary tag/label that editors could assign to a submission from the list, similar to GitHub labels.

This request was mentioned multiple times in the TC's community survey from 2021.

[2021-06-14 14:11] alexxxmendonca opened #7117 "[OPS] First "relation" option doesn't appear at preprint landing page after preprint is posted"
**Describe the bug**
When the first "relation" option is selected ("Preprint has not been submitted for publications"), it is not appearing at the preprint landing page after the preprint is posted, as opposed to the other 2 options.

**To Reproduce**
Steps to reproduce the behavior:
1. Select relation option "Preprint has not been submitted for publications":
![image](https://user-images.githubus

[2021-06-14 16:53] NateWr opened #7118 "Add an optional email to notify reviewers of the results (accept/reject/revisions) of the review stage"
**Describe the problem you would like to solve**
Reviewers want to feel like reviewing is worth their time. Editors want to reward reviewers for their participation.

**Describe the solution you'd like**
Reviewers should get an automated email letting them know the decision of the review (accept/reject/revisions). This should be configurable at the journal level to be automated. If no automated em

[2021-06-14 16:57] NateWr opened #7119 "Recommend-only editors should be able to request revisions"
**Describe the problem you would like to solve**
Several journals run with editors who manage the review process, but senior editors who make a final decision (accept/reject).

**Describe the solution you'd like**
Recommending editors need to be able to request revisions but not make a final decision. This probably needs to be configurable for each participant, because some journals will not want

[2021-06-14 16:58] asmecher commented on #7118
This might be a dupe of: https://github.com/pkp/pkp-lib/issues/4834

[2021-06-14 17:03] NateWr opened #7120 "Add submission log entries for automated emails"
**Describe the problem you would like to solve**
It's hard for editors to track automated emails sent by the system, such as review reminders. Because email delivery is so problematic, editors can't find out if an email was sent but not received.

**Describe the solution you'd like**
If an automated email is sent that is related to a submission, log that an email was sent in the activity log.

**W

[2021-06-14 17:10] NateWr commented on #7118
Ahh, ok. That's not exactly how I imagined it working (new email instead of BCC), but if this satisfies the demand for now, good enough for me.

[2021-06-14 17:10] #7118 closed

[2021-06-14 18:37] alexxxmendonca commented on #7120
🙏

[2021-06-14 21:29] librariam commented on #7052
+1 from an institution with a large multi-journal install and long list to scroll through

[2021-06-14 21:43] librariam commented on #6747
+1 from a large multi-journal install. The order was not alphabetical pre-3.3, rather it reflected the set order of hosted journals

[2021-06-14 21:59] asmecher commented on #6747
Applying https://github.com/pkp/pkp-lib/commit/d7c2716d2cb940f79189619449b1ad1ea9290beb in `lib/pkp` should fix it.

[2021-06-14 21:59] #6747 closed

[2021-06-14 22:52] luis575497 opened #7121 "Error submitting an article"
When trying to upload an article, nothing appears in the metadata section and I cannot continue the upload process.

OJS: 3.3.0.6

System info:
PHP: 8.0.6
Apache/2.4.47 (Unix) PHP/8.0.6
5.5.5-10.5.10-MariaDB

Log in php error_log
```[Mon Jun 14 17:50:48.768473 2021] [php:error] [pid 480] [client 127.0.0.1:43172] PHP Fatal error:  Uncaught Error: Call to undefined function create_function() in /srv

[2021-06-14 23:50] asmecher commented on #7121
OJS 3.3.0-x users before 3.3.0-7 can resolve this by applying https://github.com/pkp/pkp-lib/commit/50a8e8970131fcebf6db036e49b8321650f2157a in the lib/pkp subdirectory, or by downgrading from PHP8 to PHP7.

[2021-06-14 23:50] #7121 closed

[2021-06-15 07:49] NateWr commented on #6747
@asmecher the original request here was for the journals to be ordered alphabetically, and I think that is the way it should be done in the backend. The `seq` column should only be used for the homepage, I think.

[2021-06-15 08:52] NateWr commented on #7107
I'm going to close this for now, @goncalocruz77, but once you've checked your PHP error log feel free to post in our [support forum](https://forum.pkp.sfu.ca/c/questions/5) for more help.

[2021-06-15 08:52] #7107 closed

[2021-06-15 08:57] #7084 closed

[2021-06-15 09:08] NateWr commented on #7112
Thanks  @Gypsop. We are planning to redesign our submission wizard in 3.4 and hope to include this.

[2021-06-15 09:12] NateWr commented on #7117
I think that this is the intended behaviour. The notice is only expected to appear when the preprint has been submitted or published elsewhere. Otherwise, it has not.

If we want to show the relation status on every page, we can consider doing that. But we wouldn't want to show a big notice on every preprint. We'd need to reduce the prominence of this element on the page.

[2021-06-15 11:31] NateWr commented on #7017
PRs:
https://github.com/pkp/pkp-lib/pull/7123
https://github.com/pkp/ojs/pull/3153
https://github.com/pkp/omp/pull/984
https://github.com/pkp/ops/pull/163

[2021-06-15 12:11] alexxxmendonca commented on #7117
If that's the intended behavior, it goes against recommendations for preprint servers such as ASAPBio's "Preprints in the public eye":

![image](https://user-images.githubusercontent.com/4059679/122050150-935e3280-cdb9-11eb-8977-006d6288ace7.png)

Source: https://asapbio.org/wp-content/uploads/2021/03/Preprints-in-the-Public-Eye-Preprint-Servers-infographic.pdf
More info: https://asapbio.org/publi

[2021-06-15 12:27] NateWr commented on #7117
As I understand criteria 8, we are following the recommendation. We indicate "when a preprint has been published in a peer reviewed journal". It doesn't say to indicate when it has not been published.

That would accord with what I would expect from a UX perspective. Not published in a peer reviewed journal is the default, expected state of a preprint. And so a notice would only need to appear whe

[2021-06-15 12:35] NateWr opened #7124 "Convert email templates to the new Repository/DAO/Map pattern."
The `emailTemplate` entity needs to be converted to use the new pattern for DAOs, Maps and Repositories introduced in #5328. This requires the following:

- [x] Convert the DAO to extend `EntityDAO` and use type hints.
- [x] Convert the `EmailTemplateService` to a repository .
- [x] Convert `EmailTemplateService::getProperties()` to a Map that extends `PKP\core\maps\SchemaMap`.
- [x] Add any neces

[2021-06-15 12:36] alexxxmendonca commented on #7117
There is nothing in the interface that treats number 4 (the peer review status of the preprint).

Ideally servers should meet all 8 recommendations.

[2021-06-15 12:37] NateWr opened #7125 "Convert SubmissionFileService to the new Repository/DAO/Map pattern"
The `submissionFile` entity needs to be converted to use the new pattern for DAOs, Maps and Repositories introduced in #5328. This requires the following:

- [ ] Convert the DAO to extend `EntityDAO` and use type hints.
- [ ] Convert the `SubmissionFileService` to a repository .
- [ ] Convert `SubmissionFileService::getProperties()` to a Map that extends `PKP\core\maps\SchemaMap`.
- [ ] Add any ne

[2021-06-15 12:38] alexxxmendonca commented on #7117
OPS is doing numbers 1, 3, 4 (partially) and 8.

[2021-06-15 12:41] NateWr opened #7126 "Convert the GalleyService to the new Repository/DAO/Map pattern"
The `galley` entity needs to be converted to use the new pattern for DAOs, Maps and Repositories introduced in #5328. This requires the following:

- [ ] Convert the DAO to extend `EntityDAO` and use type hints.
- [ ] Convert the `GalleyService` to a repository .
- [ ] Convert `GalleyService::getProperties()` to a Map that extends `PKP\core\maps\SchemaMap`.
- [ ] Add any necessary methods to the g

[2021-06-15 12:44] NateWr opened #7127 "Convert the UserService to the new Repository/DAO/Map pattern"
The `user` entity needs to be converted to use the new pattern for DAOs, Maps and Repositories introduced in #5328. This requires the following:

- [ ] Convert the DAO to extend `EntityDAO` and use type hints.
- [ ] Convert the `PKPUserService` to a repository .
- [ ] Adapt the schema for add/edit operations and add methods to add/edit/delete users to the DAO/Repository.
- [ ] Convert `PKPUserServ

[2021-06-15 12:45] librariam commented on #6747
@NateWr I'd like to add a few words about our context at U of T. Our instance has about 80 journals, of them about 60 are active/public and the rest are archived/setting up/etc. We have all active ones moved to the top of the list and sorted alphabetically - both in the homepage sort and back-end list. Those are the ones I as admin access most frequently and I don't need to scroll through the enti

[2021-06-15 12:46] NateWr commented on #6850
@defstat in addition to the work you're doing to move the author tools over, I'd also like you to migrate the AuthorService to the new repository/dao pattern. Here's a list of tasks to add, we can talk about them on our next pair programming session:

- [ ] Convert the DAO to extend `EntityDAO` and use type hints.
- [ ] Convert the `PKPAuthorService` to a repository .
- [ ] Convert `PKPAuthorServi

[2021-06-15 12:48] NateWr opened #7128 "Convert the SectionService to the new Repository/DAO/Map pattern"
The `section` entity needs to be converted to use the new pattern for DAOs, Maps and Repositories introduced in #5328. This requires the following:

- [ ] Convert the DAO to extend `EntityDAO` and use type hints.
- [ ] Convert the `SectionService` to a repository .
- [ ] Adapt the schema for add/edit operations and add methods to add/edit/delete users to the DAO/Repository.
- [ ] Convert `SectionS

[2021-06-15 12:49] NateWr opened #7129 "Convert the IssueService to the new Repository/DAO/Map pattern"
The `issue` entity needs to be converted to use the new pattern for DAOs, Maps and Repositories introduced in #5328. This requires the following:

- [ ] Convert the DAO to extend `EntityDAO` and use type hints.
- [ ] Convert the `IssueService` to a repository .
- [ ] Adapt the schema for add/edit operations and add methods to add/edit/delete users to the DAO/Repository.
- [ ] Convert `IssueService

[2021-06-15 12:50] NateWr opened #7130 "Conver the SiteService and ContextService classes to the new Repository/DAO/Map pattern"
The `site` and `context` entities need to be converted to use the new pattern for DAOs, Maps and Repositories introduced in #5328.

[2021-06-15 12:54] NateWr opened #7131 "Convert the non-entity Service classes to use Laravel's ServiceContainer"
We have a few service classes that do not control a specific entity, like a submission, publication or user. Instead they are helper services, like our schema service for working with entity schemas and our stats services for getting usage and editorial stats.

These should be refactored to use Laravel's ServiceContainer, so that they can take advantage of automatic dependency injection. We can th

[2021-06-15 13:02] NateWr commented on #7117
Ah ok, number 4 won't be impacted in any way by the relations setting, because it identifies the peer review status of the preprint, not the item published in a peer reviewed journal.

I've updated the title of this issue to reflect the feature request as I understand it: the need for a preprint server to provide a statement, on the preprint landing page, covering some of these criteria. Does that

[2021-06-15 13:04] nongenti opened #7132 "Add chapter landing pages and support switching between versions"
**Describe the bug**
A URL that leads to a chapter with no version should always go to the most recent published version of that chapter.  For now, every new version the chapter id changes and there is no way to get the id from the source chapter. To build a chapter landing page with the possiblity to show different versions of a chapter, a chapter needs to know its source chapter id. Thats also i

[2021-06-15 13:54] luizbgomide commented on #6747
@librariam, did you sorted the journals on dropdown menu on your end??

I can only sort them on the initial page of the journal, everywhere else it sorts by the order they were created (their ID).

[2021-06-15 15:13] ohilbig01 opened #7133 "OMP 3.3.0.6 - OAI - Relation links broken"
Hi @asmecher and @NateWr ,

I noticed an error in the oai interface:
The 'Relation'-links are almost all broken.
Both in my own installation and in the PKP demo installation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to
 https://demo.publicknowledgeproject.org/omp3/demo/index.php/aup-demo/oai?verb=ListRecords&metadataPrefix=oai_dc
2. Click on the Relation URL

**What application are

[2021-06-15 15:54] asmecher commented on #7127
Thanks for organizing this, @NateWr!

[2021-06-15 16:00] asmecher commented on #6747
@luizbgomide, you would need to apply [the change described here](https://github.com/pkp/pkp-lib/issues/6747#issuecomment-861023070) first.

@NateWr and @librariam, in my opinion if there's an ordering option it should apply throughout (i.e. both to the homepage and the dropdown) but that's only a vague preference.

@luizbgomide, I see you originally asked for alphabetical ordering, but would user

[2021-06-15 16:40] alexxxmendonca commented on #7117
Yes, that is even better.

Still, on the matter of explicitly showing the first relation option, it is a matter of transparency but also:

When authors submit a manuscript, there is nowhere where they can inform about the status of the preprint. We, as server managers, can't tell whether the manuscript has been submitted or not to a journal. We can only guess that it hasn't been submitted to a jou

[2021-06-15 16:49] NateWr commented on #7017
All merged to `main`.

[2021-06-15 16:49] #7017 closed

[2021-06-15 16:52] NateWr commented on #7117
@alexxxmendonca it sounds like we need to ask for this information during submission. Can you file a separate issue to address that?

[2021-06-15 17:15] alexxxmendonca opened #7134 "[OPS] Request authors to inform preprint "relation" during submission"
**Describe the problem you would like to solve**
When authors submit a manuscript, there is nowhere where they can inform about the status of the preprint. As server managers, we can't tell whether the manuscript has been submitted or not to a journal. We can only _guess_ that it hasn't been submitted to a journal at the point of submission to our server, but that is nothing but a guess.

**Descri

[2021-06-15 17:15] alexxxmendonca commented on #7117
@NateWr done! #7134

[2021-06-15 17:18] luizbgomide commented on #6747
@asmecher sure thing. Even better.

[2021-06-16 00:42] kmccurley opened #7135 "Need to support multiple author affiliations"
Apologies if this is already present in another issue or an internal development plan. I searched in issues but could not find anything related to multiple affiliations for an author.

A [recent study](https://arxiv.org/pdf/1912.05576.pdf) of 22 million articles published in 2019 showed that "almost one in three publications was (co-)authored by authors with multiple affiliations..." and "the shar

[2021-06-16 01:08] asmecher commented on #7135
(Somewhat cross-posted: https://github.com/pkp/pkp-lib/issues/5912#issuecomment-860452420)

@kmccurley, we often support a "dual-track" toolset for features in OJS:
- a bone-simple approach that's usable by pretty much anyone (sort of like the balance struck with DC, which is universally applicable but rarely specific enough), and
- a more thoroughbred approach for those who need it and can live w

[2021-06-16 01:57] asmecher commented on #6874
PR: https://github.com/pkp/ojs/pull/3154

@AndrewGearhart, would you mind opening similar PRs for the OMP and OPS repos too? Or I can do it if you're busy!

[2021-06-16 01:59] AndrewGearhart commented on #6874
Can do. :)

[2021-06-16 02:01] asmecher commented on #6874
Perfect, thanks!

[2021-06-16 02:15] AndrewGearhart commented on #6874
@asmecher
OMP PR: https://github.com/pkp/omp/pull/985
OPS PR: https://github.com/pkp/ops/pull/164

[2021-06-16 02:50] asmecher commented on #6874
That's perfect -- thanks, @AndrewGearhart!

[2021-06-16 02:50] #6874 closed

[2021-06-16 04:35] kmccurley commented on #7135
Let's stay focused on the issue at hand: multiple affiliations per author. That's a critical deficiency of the OJS schema for what is stored about an author.

The reason I mentioned the other issues is partly because OJS is falling behind, and when you make a schema change, you should anticipate all of the requirements for publishing. Machine-readable metadata is absolutely necessary for any serio

[2021-06-16 08:39] NateWr commented on #7134
Thanks @alexxxmendonca. Some additional information about the reason behind this request: authors can set the relations field before or after they post their preprint, but they are never prompted to do so. Most will never see or consider it, so there needs to be a prompt before the item is posted.

The submission wizard seems like the best place for this, but it could also be requested at the mome

[2021-06-16 08:55] NateWr commented on #6747
@librariam thanks that's helpful. I think we have two issues here. One is that the journal switcher is not fit for purpose for large instances (see also https://github.com/pkp/pkp-lib/issues/7052). We need a better, alternative approach to journal switching. Mariya, would it work for you if there was a quick search of the list available (ie - type a few letters and see options to switch)?

![journ

[2021-06-16 09:55] ohilbig01 commented on #7133
Hi @NateWr ,

thank you very much.
In my case I have submissions with many publication formats, and the URL of the OAI_DC-Relation contains always the Id of the first publication format.
So, if I have ten pubFormats, one of the Relation links is okay, the other nine are all wrong.
I think at least in my installation there is no connection with versioning. I don't know, maybe we mean the same thing

[2021-06-16 11:01] NateWr commented on #7132
cc @withanage this is going to be related to #7003. I think core OMP doesn't support chapter landing pages, right? Is this a modification you've made @nongenti?

[2021-06-16 11:32] nongenti commented on #7132
That's right. I'm still working on this modification and can't finished it without a solution for the problem above. Some days ago @asmecher told me, he would prefer this modification as a part of OMP than as a plugin. So, if the solution with a source_chapter_id property is fine  for all, I can do these changes as part of the chapter landing pages modification.

[2021-06-16 12:22] NateWr commented on #7132
That's great, @nongenti. Yes, I think the `source_chapter_id` property is good approach. One thing to think through is what happens in cases where chapters change between versions. So two cases to consider:

- A chapter in a new version that doesn't exist in an old version.
- A chapter in an old version that doesn't exist in a new version.

[2021-06-16 12:38] elton557 commented on #6724
Hi @asmecher @jmvezic , my upgrade finished successfully, but it took 48 hours to finish, this is very slow and I can't have this time to update in production, we need to see something to decrease the time, and finally fix this problem, I'm waiting for help.

<img width="686" alt="Screen Shot 2021-06-16 at 09 32 40" src="https://user-images.githubusercontent.com/52458645/122220221-82c7be00-ce86-11

[2021-06-16 13:01] marcbria opened #7136 "Changing primary language at journal's level dont' warn about changes in user’s given/family names"
**Describe the bug**
When at journal's level you change the primary language (let's say Spanish) to other (ie: English), no pop-up warning raises explaining this change will affect your user names and surnames.

At same time, user's data is NOT replicated so users data is inconsistent, so when you reach user's profile you won't be able to change anything because user names is a required field and

[2021-06-16 13:19] NateWr commented on #7131
The following PRs refactor the `FileService` to use Laravel's Service Container instead of the `Services` facade. This makes it available for automatic dependency injection. With this approach, it is also possible for a plugin to modify the file storage adaptor (eg - to use AWS or something) by swapping out the `FileService` with their own.

PRs:
https://github.com/pkp/pkp-lib/pull/7137
https://gi

[2021-06-16 13:21] NateWr commented on #7136
@marcbria you mentioned that the behaviour is different at the site level than the journal level in some way. Can you describe thes differences in more detail? Is the problem that there is not a warning or that the data is not transformed after making a change?

[2021-06-16 13:23] marcbria opened #7138 "OJS don't replace the galley postfix in the url"
**Describe the bug**
After moving from 2.x to 3.2.1-4, in some journals I'm getting reports from google complaining about 404 pages. Those errors are raised because OJS is only translating partially the "numbered-url", missing the galley  "URL Path".

**To Reproduce**
Let me describe with a real example. When you visit a "numbered-URL" like this one:

1. https://revistes.uab.cat/periferia/article/

[2021-06-16 13:45] NateWr opened #7139 "Image upload field shows incorrect state when no cover image exists"
**Describe the bug**
When saving the Publication > Issue form for a submission, the Cover Image field updates to show an alternate text field, even when no cover image has been added. I can remove the cover image and save the form again, and it still shows the alternate text field.

When no cover image is uploaded, it should show a field to upload an image. It seems like something has changed in e

[2021-06-16 14:01] NateWr opened #7140 "Must use accents when searching by author/reviewer name in editorial backend"
**Describe the problem you would like to solve**
When searching for a submission by the author's name, or a reviewer during review assignment, searches won't match letters with diacritics/accents. For example, a search for `edicao` will not return a submission with an author named `edição`.

This can make it difficult for editorial staff working with multilingual journals, who may not be used to t

[2021-06-16 14:30] NateWr commented on #7140
Ok, thanks to @ctgraham, I've learned that MySQL supports this if you are using the correct collation (maybe `utf8_unicode_ci` or `utf8_general_ci`). But Postgresql requires the use of an `unaccent()` function.  Some resources:

- https://dba.stackexchange.com/questions/156907/equivalent-of-utf8-unicode-ci-collation-in-postgresql
- https://stackoverflow.com/a/4813651/1723499

[2021-06-16 14:49] asmecher commented on #7140
If it looks like supporting both databases natively will get hairy, another approach would be to have a "search name" field/setting row in the database. This would be the various searchable fields concatenated, lowercased, and stripped of accents; then, rather than
[code]
...it would be possible to use just...
[code]
...where `family_name_setting` is a row in `user_settings` that gets populated wi

[2021-06-16 15:00] ctgraham commented on #7140
Sounds like a lot of internal effort to re-create a wheel named "Solr".

[2021-06-16 16:06] marcbria commented on #7136
Yes Nate.

When you change the "primary locale"...
1. ... at site's level, you can see the warning-modal (and the user-data clonation is done)
2. ... at journal's level, you can NOT see the warning-modal (and the user-data is NOT done).

So error is at journal's level.

[2021-06-16 16:09] Vitaliy-1 opened #7141 "Consider integration of Laravel Mail Service"
**Describe the problem you would like to solve**
1. Support for modern mail drivers
2. Reduce the burden of maintaining own mail managing solution
3. Integrate mail sending API with other parts of the Application, e.g., Queues

**Describe the solution you'd like**
Register Illuminate Mailer. Review whether additional tweaks/adaptations are required to implement its interface

**Who is asking for t

[2021-06-16 17:00] asmecher commented on #7140
Yes, but almost none of our community will be able to run that :(

We used to have a similar field called "cleanTitle" for title-based sorting of articles without leading quotes etc; it was pretty low-fuss to maintain.

[2021-06-16 18:19] jonasraoni commented on #7140
There are some search engines in PHP, I even found what looks like a [PHP implementation of Lucene](https://github.com/pucene). I doubt they will have a great performance, if I'm wrong, it's a possibility to consider =]

If we're going to introduce custom queries, I think a full-text index on the column with the concatenated content will have a better outcome 🤔

Personally I'm curious about the co

[2021-06-16 18:20] leanlibutti commented on #3501
Hello, I am interested in participating in the development of a plugin to add this function if no one has been contacted for this task.

Regards,
Leandro Libutti

[2021-06-16 20:45] agustinalc commented on #6241
I think this options is very much needed.
In my Journal, we also require 3 files mandatorily, for all sections. In our case, the section to which they're applying is not important. It's my belief that authors should not be able to submit their manuscripts if they haven't uploaded all the required files.
I hope this can be implemented in future versions.
It could be an option in "workflow - submiss

[2021-06-16 22:38] jmjaimesa opened #7142 "failed ajax request or invalid json returned OMP"
Hello, I installed the latest version of OMP and when adding new users I get the following error: " failed ajax request or invalid json returned".
Would someone be so kind to tell me how to solve this problem, Thank you.

[2021-06-16 22:48] diegoabadan commented on #7140
Unfortunately, it looks abandoned.

[2021-06-16 22:50] asmecher commented on #7142
@jmjaimesa, could you post on our support forum (https://forum.pkp.sfu.ca), including your specific OMP version? That's the best place to get help. (Search there to see if someone else has answered your question first.)

[2021-06-16 22:50] #7142 closed

[2021-06-17 00:52] kmccurley commented on #7135
I've spent some time reading the plugin documentation, looking at other plugins, and reading the core code. I've concluded that it's probably not trivial to write a plugin, and may not even be possible without modifying the core code. The problem is that there are many parts of the code that depend upon $author->getAffiliation() returning a string. The whole point would be to capture more sensible

[2021-06-17 07:20] GaziYucel commented on #7140
I would go for the "search_text" field which holds a concatenated search text as asmecher suggests. I would fill this field through triggers in the database or a scheduled task in PHP. I would store the original string and the stripped string (all lower case) if these are different. Advantage of this is that the search query can be relatively non-special, fast and easy to implement and also search

[2021-06-17 08:05] NateWr commented on #3501
@leanlibutti that sounds great! We don't have any plans to schedule this work at this time, and a community plugin would be a welcome addition. You may have already found what you need, but you can find all of our [developer documentation](https://docs.pkp.sfu.ca/dev/) as well as the [plugin guide](https://docs.pkp.sfu.ca/dev/plugin-guide/en/)

Feel free to ask questions here or on our [community

[2021-06-17 08:46] NateWr commented on #7140
If this is a solved problem in MySQL (through collation), we could simply consider that our recommended database. It's not ideal, but I am wary of trying to architect a comprehensive solution here. We would eventually have expectations to roll this out to every entity that is searched:

- Submissions
- Users
- Issues
- Announcements
- Contexts
- Email Templates

And as we develop new features, add

[2021-06-17 08:56] NateWr commented on #7138
Some things have changed in 3.3.x, so it would be worth trying to reproduce this in 3.3.0-6.

[2021-06-17 10:09] NateWr commented on #7138
I was able to reproduce this in 3.3.

[2021-06-17 10:30] NateWr commented on #7138
The following PR fixes this issue. However, it's not clear to me that it should every arise. These URLs shouldn't exist in the wild, and they may just be old entries from Google. @marcbria did OJS 2.x not support named urls? And if not, where are your named URLs coming from? Are these publisher IDs that were used internally, that as part of the upgrade to 3.2 have become public urlPaths? It could

[2021-06-17 12:33] marcbria commented on #7138
Hi Nate,

Thanks a lot for your time and your work.

Those url are following the recommendations we gave our journals to make the urls more semantic.

Taking this example:
https://revistes.uab.cat/periferia/article/view/v23-n2-prat/645-pdf-ca

- The "v23-n2-prat" segment is talking about the article (volume 23, number 2, author surname is prat).
- The "645-pdf-ca" segment is talking about the gall

[2021-06-17 12:37] marcbria commented on #7138
I missed to say that I don't have any ojs 3.3 yet (too much upgrade issues) but if you like I can try the patch in 3.2 and see what happens.

[2021-06-17 12:55] ctgraham commented on #7140
Seconded.  This fits with the general principle of, "if we're not adding something novel to the solution space, we should first look to reuse other's existing work".

[2021-06-17 13:26] librariam commented on #6747
@NateWr re order - this makes sense - my mental model is currently the same for front-end and back-end order, but an alphabetized list is a more generally intuitive mental model for most.

Re journal switcher - a search would actually work even better than the current list. Like many university instances, we have a bunch of journals beginning with "University of X Journal of ...." with the importa

[2021-06-17 15:56] aguen commented on #4112
+1 for this feature!

Currently, the PDF filenames are rather cryptic. And they include the title of the component to which the galley was uploaded (e. g., "Article Text"). The problem with this is, that the titles of components are often targeted to authors submitting articles (not to readers, downloading galleys).

[2021-06-17 21:00] asmecher commented on #7140
Do you mean that we treat the problem as solved using MySQL (since it's built-in), and recommend the use of MySQL for those that need this feature? I'm OK with that, I think. We may need to solve the problem of searching performance in BLOB `setting_value` fields, but that's separate.

[2021-06-18 00:17] asmecher commented on #6724
I have incorporated https://github.com/pkp/pkp-lib/issues/6724#issuecomment-857294376 and https://github.com/pkp/pkp-lib/issues/6724#issuecomment-857868631 into `stable-3_3_0`, `stable-3_3_1`, and `main`, but unfortunately https://github.com/jmvezic/pkp-lib/commit/451da92 seems to break some upgrades with the following error:
[code]
...so that will need more work before it gets incorporated.

@elt

[2021-06-18 02:07] diegoabadan commented on #6836
As @alexxxmendonca requested us, we look for a simple way to solve the problem of many categories.

We implemented this solution for when there are more than 10:

![Peek_2021-06-16_14-35](https://user-images.githubusercontent.com/15090895/122495346-3aacb680-cfc0-11eb-8441-1faa2ebed1c0.gif)

Does PKP accept a PR with these modifications?

We hope it can be a good solution, at least until there is s

[2021-06-18 07:02] hcuser12 opened #7143 "[OMP] Native import CLI not working"
**Description**
Incorrect use of method `importSubmissions` when running via CLI.
Error is in file `NativeImportExportPlugin.inc.php`, method `executeCLI` at line 304 - it should be called like: `$this->importSubmissions($xmlString, $deployment)` - without `$filter` (or should be change to match import plugin for OJS).

**How to reproduce**
Steps to reproduce the behavior:
1. Run this command: `ph

[2021-06-18 15:43] asmecher commented on #6836
That looks really good, @diegoabadan -- we'd be happy to look over a PR!

[2021-06-18 15:43] asmecher commented on #7143
@defstat, could you take a look when you're available?

[2021-06-18 15:47] NateWr commented on #6836
Sorry to put the brakes on here, but I suspect that's going to have
accessibility problems that will prevent us from adopting it. I'm happy to
take a closer look though if you have an example o can inspect.

On Fri, 18 Jun 2021, 16:43 Alec Smecher, ***@***.***> wrote:

[2021-06-18 17:10] pilasou opened #7144 "[OJS 3.3] When asking the author for revisions, reviewer files are note visible to the author"
When an editor ask the author for revisions at the Evaluation stage, he/she can upload a file along with the decision. If he/she does so and send the revision request, when the author connect to OJS to see the revision asked for his/her submission, no files are to be found in the Reviewer's Attachments section of the submission,
![no-reviewer-file](https://user-images.githubusercontent.com/1929188

[2021-06-18 19:30] diegoabadan commented on #6836
@NateWr, I was concerned about this after posting the previous comment.

I'll put an online OJS with this modification for you to evaluate. We hope to get a solution that meets the accessibility requirements.

[2021-06-18 19:58] asmecher commented on #7133
@withanage, this appears to be caused by https://github.com/pkp/omp/commit/9f8b67d3173d368ee1dcd45faf6b7df3e02c5a78; the `$pubFormatFiles` list needs to be limited to files that are associated with that publication format, but instead all files are included for each publication format. (Was there a github issue associated with that addition? I don't see one.)

[2021-06-18 21:09] dagosalas commented on #7133
I have the same problem, I only have one language, but I publish in several formats (PDF, epub, mobi) and only the PDF URL works (which is the first one).

Mi OMP:
https://libros.uanl.mx/index.php/u/oai?verb=GetRecord&metadataPrefix=oai_dc&identifier=oai:libros.uanl.mx:publicationFormat/1

[2021-06-18 22:25] asmecher commented on #7088
@defstat, I've created a pull request that deals with a few problems simultaneously:
- The scholarslab/bagit library was abandoned
- The Archive/Tar PEAR dependency (required by scholarslab/bagit) was a frequent problem
- This error message needed checking/resolving

I've attempted to resolve all of these by using `whikloj/bagittools` in place of `scholarslab/bagit`:
https://github.com/pkp/pln/pul

[2021-06-18 22:26] asmecher commented on #7088
(There is a work-around included in the PKP|PN plugin for https://github.com/whikloj/BagItTools/issues/26 -- this would be good to remove if they're able/willing to change the library's behaviour)

[2021-06-18 22:55] withanage commented on #7133
Sorry, that was a bug I introduced as  @asmecher  mentioned here in  https://github.com/pkp/pkp-lib/issues/7133#issuecomment-864245940

I have sent a PR  for restricting the files.  https://github.com/pkp/omp/pull/988 in the OJS 3.3.0 branch

I have locally tested with several publication formats.

But @ohilbig01  and @dagosalas , if you could   confirm the fix  in your installations, will be very

[2021-06-18 22:59] kshuttle commented on #2687
+1 from PKP|PS. A client is interested in having automated reminder emails sent to authors when their review is due. They suggest separate email templates for "resubmit for review" and "revisions required" decisions. They also suggest having additional reminder email templates for authors that can be sent by the editor (as opposed to automatically).

[2021-06-20 19:57] dagosalas commented on #7133
Hi @withanage,

I applied the patch, and now it only shows a single entry in the Relation metadata, thanks.

But I have a doubt, in my case I publish three different formats for each book (epub, pdf and mobi).
Isn't it better to show all three formats in only one Relation metadata instead of to have three Record Headers?

For example, this is my book in OMP: https://libros.uanl.mx/index.php/u/cata

[2021-06-20 20:33] withanage commented on #7133
@dagosalas

the use case what you are adressing is a general restriction in the OAI interface, cause the central distinguishing piece is the publication format in the OAI.

I think the reason for having separate entries for that was, that you can add  extensive metadata in publication format level. For your use case it may be not optimal solution. As you see, there is also onix metadata  related t

[2021-06-21 07:53] ohilbig01 commented on #7133
Hi @withanage,
 I can confirm the bugfix is working. There is only one relation link now and it works.

[2021-06-21 11:21] Vitaliy-1 opened #7145 "Fatal error when trying to create a new instance of CitationListTokenizerFilter"
**Describe the bug**
Creating a new instance of the class throws a fatal error as tested within the JATS Parser Plugin:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Create a new instance of the class, e.g.:
[code]

**What application are you using?**
current OJS master branch

**Additional information**
Trailing backslash from the declaration of the extended class should be removed as

[2021-06-21 12:36] luizbgomide opened #7146 "[OJS 3.3.0.3] Some user_settings values cannot be edited out due to errors in the database"
This is related to: https://forum.pkp.sfu.ca/t/null-values-in-user-settings-safe-to-remove/68272

I noticed that my `user_settings` table has  a lot of NULL values in `assoc_type` and `assoc_id` columns. If a user has such setting with a NULL value in one of those columns he cannot update his profile. Even though the new value is saved on the database (usually with `assoc_id` and `assoc_type` equa

[2021-06-21 13:41] Vitaliy-1 opened #7147 "Fatal error is thrown when Unassign Reviewer"
**Describe the bug**
Pressing Unassign Reviewer button triggers a fatal error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Submit an article
2. Pass it to the review stage
3. Assign reviewer
4. Press Unassign Reviewer button and see error

**What application are you using?**
 OJS master branch

**Additional information**
https://github.com/pkp/pkp-lib/blob/6f578997a99666f3d4a27cf4

[2021-06-21 14:26] marcbria opened #7148 "Copyeditor sometimes gets "The current role does not have access to this operation." for assigned articles"
**Describe the bug**
A copy editor reported that is unable to reach some articles (with others all is fine) and gets this error:
![imagen](https://user-images.githubusercontent.com/2779168/122777119-067d1280-d2ac-11eb-9cb9-6882706a8365.png)

**To Reproduce**
It happens in a journal that we just migrated from ojs 2.4 to 3.2.
I was not able to reproduce it in a clean installation, so it could be rel

[2021-06-21 15:34] elton557 commented on #6724
Hi, yes they contacted me, I sent my dump to Michael, so I await feedback from the pkp team.

thank you for the support

[2021-06-21 16:49] marcbria commented on #4178
First feature is implemented in ojs 3 and Bozana's argument made us notice second feature request was not generic enough to be implemented, so it need to be closed.

[2021-06-21 16:49] #4178 closed

[2021-06-21 16:50] withanage commented on #7133
@ohilbig01  and @dagosalas
Thank you both !  Appreciate your reporting and testing !

[2021-06-21 16:50] #7133 closed

[2021-06-21 16:51] marcbria commented on #3501
Hi @NateWr.
I'm sorting/closing the issues I created. Do you mind to tag this a "Feature Request"?

[2021-06-21 16:53] marcbria commented on #4394
@NateWr do you mind to tag as "Feature request"?

[2021-06-21 17:04] marcbria commented on #6291
Conversation derivates to UI/UX stuff but the original issue we were trying to explain is still there.

**In short:** Whey you have multilang, but all langs are in same charset (a very common scenario)... don't make any sense to ask for user name/surname for each lang. Existing UI/UX is confusing for final users that think they need to fill the name/surname fields for every lang.

Explained better

[2021-06-22 12:36] diegoabadan commented on #6511
We received another complaint of TOC loading slowness:
https://portalperiodicos.unoesc.edu.br/siepe/

As this is an OJS with multiple journals, we cannot enable caching just for this publication.

[2021-06-22 16:21] jnugent commented on #6991
Hi everyone,  just wanted to jump on this issue too.  We've got a client with a reasonably large installation (8 thousand users) and running a search in the User grid in the interface takes about 8 to 9 minutes, total.  With ~57 thousand entries in the user_settings table and a sufficiently large CVES table, the "rows examined" when running this search query exceeds 100 million rows.  At first the

[2021-06-22 16:27] ajnyga commented on #7098
Any change this can be ported for 3.2 as well?

[2021-06-22 16:55] CreationTribe commented on #5955
I'm assuming this is either a work in progress or the issue simply hasn't been closed yet since the last comment was in Nov of 2020.

Either way, I'm extremely interested in this topic. I'm in the midst of setting up the online presence for a scientific journal with a bit of a twist. A call for papers will be put up as soon as everything is working to the journal's satisfaction; but the concern is

[2021-06-22 17:19] asmecher commented on #5955
@CreationTribe, that's interesting, but also a bit of a niche (it would be hard for the dev team to prioritize), and it is distinct from authorless submissions. Simply hiding the authorship in the reader front end would be relatively easy, but you'll need to consider all the downstream ingests of metadata (the OAI-PMH interface, Google Scholar, CrossRef, etc) -- will each of these accept authorles

[2021-06-22 17:46] asmecher opened #7150 "Discussions sometimes being attributed to the wrong user"
**Describe the bug**
From https://forum.pkp.sfu.ca/t/problem-with-discussions-being-attributed-to-the-wrong-user/67248:

Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.

**To Reproduce**
(Unclear)

**What application are you using?**
OJS 3.2.1-4 (possibly others)

[2021-06-22 18:44] jnugent commented on #6991
Just another update.  I modified the search query and removed the join across the user interests and the cves.setting_value search and our grid refresh time dropped from nearly 9 minutes to a minute and a half:

![Screenshot at 2021-06-22 15-41-55](https://user-images.githubusercontent.com/218719/122981936-ab612380-d370-11eb-8b36-bda1da96204a.png)

I was also watching the queries via "show process

[2021-06-22 19:04] luizbgomide commented on #6991
I honestly have no idea how the User search is so slow. We have more articles than users and the search is absurdly faster, and even in the assign reviewer window the search is very fast and it is essentially doing something very similar to the User search function.

[2021-06-22 22:59] asmecher commented on #7098
@ajnyga, https://github.com/pkp/pkp-lib/commit/421ed8406b09fa01851296c8a0c7653e1a333554 will apply directly to 3.2.x releases as well, but we're unlikely to release any more 3.2.x .tar.gz packages. Or are you working from the `stable-3_2_0` git branch and need that updated?

[2021-06-22 23:49] asmecher commented on #7150
I've reviewed NoteDAO for unusual uses and I think the culprit might be this section:

https://github.com/pkp/pkp-lib/blob/6f578997a99666f3d4a27cf4d51b36fe3e476c98/classes/submission/form/PKPSubmissionSubmitStep1Form.inc.php#L324

This relates to the storage of the "notes to the editor" submission field, which creates a query/note pair to store the note.
This form can potentially be submitted seve

[2021-06-22 23:53] asmecher commented on #7150
PR: https://github.com/pkp/pkp-lib/pull/7151

I'm not 100% convinced this is the same use case that the initial reports describe, but it does seem to be the only risky/weird bit of code relating to note creation/editing, so I suspect it is the cause. However, I'm not rushing to commit it to 3.3.0-7, which is about to go out, until I can get a bit more confirmation of my suspicions above.

[2021-06-23 00:26] CreationTribe commented on #5955
@asmecher That's kind of the trick, isn't it?
All the same, I think we'll try to start with OJS and just see how many author's actually want the safety of anonymity.
We've thought about WP - but it's not really built for publication - even with all of the plugins, it feels gimmicky.
Granted, we could probably take a poll.
If we developed the feature, can we submit a pull request? Would that be som

[2021-06-23 00:29] asmecher commented on #7146
@luizbgomide, I'll close this issue in favour of the forum discussion that's already open, and send a reminder to the support team to have a look.

[2021-06-23 00:29] #7146 closed

[2021-06-23 00:31] asmecher commented on #7145
Fixed, @Vitaliy-1!

[2021-06-23 00:31] #7145 closed

[2021-06-23 00:37] asmecher commented on #5955
@CreationTribe, pull requests are always welcome! You've proposed two approaches -- authorless publications and "anonymous" authors -- and of the two, authorless publications (as described in this issue) already has community interest. If it would suit your needs, it would be the best investment of effort, I think.

[2021-06-23 01:11] luizbgomide commented on #7146
Ok, I just opened the issue because I think there must be some bug in the migration procedure, and I thought that maybe o should have posted here first instead of the forum. But it is fine to continue over there.

[2021-06-23 10:36] Vitaliy-1 commented on #7141
Made it work locally with our mail templates. Some tweaks are required regarding ways to pass data (variables) with native methods. In general, this going to replace our `Mail` class and its children with Laravel `Mailable` classes. As an example, let's say there is `UserRegistered` event its listener `MailRegisteredUser` and class that extends Laravel's Mailable `MailRegisteredUser`. The represen

[2021-06-23 13:03] Vitaliy-1 commented on #7141
Mailable class and observer can be combined as the only task of the latter is sending an email.

[2021-06-23 15:43] asmecher opened #7152 "Journal path of "files" has unexpected behaviour"
**Describe the bug**
From https://forum.pkp.sfu.ca/t/the-requested-url-was-not-recognized-ojs-version-3-3-0-6/68338/5:

**Additional information**
@jnugent [points out](https://forum.pkp.sfu.ca/t/the-requested-url-was-not-recognized-ojs-version-3-3-0-6/68338/5) that there is a hard-coded check for `files` to appear in a URL, which is then interpreted as a request to the PKPSubmissionFileHandler:
[

[2021-06-23 15:53] asmecher opened #7153 "Rebuild search index tool fails in OMP 3.3.0-6"
From https://forum.pkp.sfu.ca/t/rebuilt-search-index-fails-on-omp3-3-0-6/68447:

[2021-06-23 15:57] asmecher commented on #7153
For affected users, you can apply this change: https://github.com/pkp/omp/commit/1fc5682903b8eebd9ee12010df076289bd0b6d4a

To apply it manually, edit the file `classes/search/MonographSearchIndex.inc.php`, find the line:
[code]
...and delete or comment this line.

[2021-06-23 15:57] #7153 closed

[2021-06-23 16:05] dagosalas commented on #7153
Thanks! The searcj It´s working fine now!

[2021-06-23 16:30] Vitaliy-1 commented on #7141
I think, only message localization is left and it's ready; Laravel uses its own implementation.

@asmecher, after this, what is a preferable way of going further, make a PR with just the work on Mail Service registration or wait until the whole work on refactoring, including template variables, email-associated events and replacing the old mail-related code is done?

[2021-06-23 17:44] jnugent opened #7154 "missing review round policy when uploading a revision of a submission revision"
**Describe the bug**
Reported by a hosted client.  In a review round, if a new file is uploaded to the Revisions grid, and then if that file is revised, a fatal error occurs because getReviewRound in the PKPFileUploadWizardHandler returns null because there is no authorized object of ASSOC_TYPE_REVIEW_ROUND.

Observed in OJS 3.2.1.  Does not seem to be present in 3.3.

Adding a ReviewRoundRequired

[2021-06-23 19:25] pmangahis commented on #5885
+1 from Hosted journal

[2021-06-23 20:15] asmecher commented on #7147
Both fixed -- thanks for the thorough descriptions!

[2021-06-23 20:15] #7147 closed

[2021-06-23 20:57] jonasraoni commented on #6828
PR for [ojs/main](https://github.com/pkp/ojs/pull/3157).

[2021-06-24 01:41] henriqueramos commented on #4622
@asmecher e @NateWr Have updated pull requests, could you please check it? Thank you!!!

[2021-06-24 14:26] Baytan opened #7156 "Unable to Upload/Select Files from Copyediting stage"
in my case Copyediting it is not possible to use “Upload/Select Files” from Copyediting stage.

It happens that the window opens but does not load the part for uploading or selecting files.
![image](https://user-images.githubusercontent.com/27674815/123278869-ff563e80-d50f-11eb-9860-f5feed7f69a7.png)

**this is exactly the same case with https://github.com/pkp/pkp-lib/issues/4754 but it is not sol

[2021-06-24 14:28] Baytan commented on #7156
**I seem to solve the problem with code editing but I do not know what I have done. Please help me if I did something wrong and do more damage. Thanks to everybody in this OJS project and thanks in advance any body helps me.**

[2021-06-24 23:45] asmecher commented on #4622
@henriqueramos, have you looked over the Travis tests? It looks like they're failing: https://travis-ci.com/github/pkp/ojs/jobs/512670765

[2021-06-25 08:03] Baytan commented on #7156
This problem seems to be related with https://github.com/pkp/pkp-lib/issues/6774
All problematic submissions are listed in the query:
SELECT sf.submission_file_id FROM submission_files sf LEFT JOIN notes n ON (sf.assoc_id = n.note_id) WHERE sf.assoc_type = 520 AND n.note_id IS NULL;

I have deleted the related entries from the database, restore the code in SubmissionFilesCategoryGridDataProvider.i

[2021-06-25 12:10] jnugent commented on #7100
Hey @asmecher  feel free to close this.  Things are fine in 3.3.

[2021-06-25 13:07] jnugent commented on #6991
I was doing some more testing today, and comparing two 3.3.0.6 installations.  The first is the one I've mentioned above, with ~8000 users, and the second is an also large installation, submission-wise, but with only 5800 users.   As I mentioned, the search takes nearly 9 minutes to run in the larger installation, but only a minute and 40 seconds in the second.  The big difference between the two

[2021-06-25 14:05] luizbgomide commented on #6991
@jnugent that might have something to it. I have 16 thousand unique `user_id`  in the `user_interests` (33 thousand total entries), my `controlled_vocab_entries` table has 115 thousand entries.

[2021-06-25 16:18] henriqueramos commented on #4622
@asmecher This issue was replaced here. https://github.com/pkp/pkp-lib/pull/7049/commits/f7cc91670bd55add70a8054350be82fdf723769c

[2021-06-25 18:53] asmecher commented on #4622
Ahh, I thought I was missing something! Could you list the most recent PRs here?

[2021-06-25 22:18] asmecher commented on #7127
Needs fixing/confirmation:

If I don't specify the `type` in `lib/pkp/schemas/user.json` for `LocaleObject` fields, I get the following warning and error:
[code]
1. Should I be declaring types for these fields in the schema alongside `LocaleObject`, or is something missing in e.g. `EntityDAO`?
2. If I am to be declaring types, should it be the atomic type of the localized content -- e.g. a string

[2021-06-26 03:24] asmecher commented on #7100
Great, thanks!

[2021-06-26 03:24] #7100 closed

[2021-06-26 11:30] promedacademy commented on #6788
@asmecher  I solved the issue as follow :
i deleted the line 89-96 in the file ojs/lib/pkp/templates/frontend/pages/userRegister.tpl
now no field for review interest is showing in the registration form , instead users have to add their reviewers interest from their profile  t

the entire problem lies here in the following code
<div id="reviewerInterests" class="reviewer_interests">
							<label>

[2021-06-26 12:00] #6828 closed

[2021-06-26 16:59] benaltair commented on #7006
Hi @NateWr, just realized I closed this issue when there were still a number of other things that could be addressed. I think I meant to close my repo's issue on the same topic.

Did you want to keep this closed if they're being addressed elsewhere or should we open it?

[2021-06-26 22:50] fgnievinski opened #7158 "allow multiple emails per user"
Our editors often complain that invitations don't reach reviewers.

Review invitations are less likely to be misfiltered as spam if it is addressed to multiple emails of the same recipient.

As a journal administration, I've tried to to insert comma separated list of emails, when registering a new user or editing a registered user, but it failed with an error message about invalid email address.

[2021-06-27 16:08] Vitaliy-1 commented on #7141
List of modifications from original Illuminate Mail Service:
* Locale is set on an email level rather than globally. Laravel's `Mailable::locale('...')` set's the language on the Container level, which I don't think is a good solution for us.
* `Mailable::view()` accepts email template key as the first argument
* `Mailable::markdown()` accepts Smarty string as the first argument
* `Mailable::theme

[2021-06-28 09:56] NateWr commented on #7154
Thanks @jnugent. Is there a PR?

[2021-06-28 10:17] NateWr commented on #7127
Yeah, so this is a little bit confusing because a few of the existing schemas have so far only been used for documentation purposes (API docs) instead of as a schema. The `$ref` should never be used in a schema:

[code]

That's only used to build the REST API docs. When converting an entity over to use the `EntityDAO`, that should be removed and the property should be defined like this:

[code]

I

[2021-06-28 10:23] NateWr commented on #4394
@marcbria this is the file generated when you use the Crossref export tool under Tools > Import/Export > Crossref in order to generate a XML file for manual deposit. Not when someone is depositing just by clicking a button in OJS. Is that right?

[2021-06-28 10:30] NateWr commented on #7138
I think there's a good chance this will apply to 3.2 without too much trouble.

That's my bad. So, the original problem you described is when someone visits the following URL:

[code]

However, you described articles that have a `urlPath` for both the article and the galley:

[code]

So I'm wondering when would someone find and visit the first URL? OJS should always use the second one. For lack of

[2021-06-28 10:38] NateWr commented on #6991
Just a couple of clarifications: the user grid does not use the UI library so there shouldn't be any specific client-related delay here.

@jnugent can you try hitting the REST API for these installs to see what the time is like? This would be the request.

[code]

The easiest solution here may be to simply move the grid over to using the user service to perform the search. That's what searches in

[2021-06-28 11:10] NateWr commented on #7006
@benaltair I'd say let's keep this closed and wait for our accessibility audit on the new submission wizard (hopefully in 2022). Is there anything remaining that is not captured in #7045 and #7046? If so, let's file a new issue for that.

[2021-06-28 11:17] NateWr opened #7159 "New authors can get authorization errors"
**Describe the bug**
A new author who cancels their submission can receive an authorization error. A similar authorization error happens when a user removes their author role.

Authors probably shouldn't be able to remove their author role if they have any submissions in the system.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Register in the journal frontend.
2. After registration,

[2021-06-28 11:31] NateWr commented on #7141
@Vitaliy-1 I'd like to see `Mailable` decoupled from our email templates. Instead of passing an email template key, we should pass in the rendered body.

I think the same is true with things like the `from()` method. We don't want to take data from the request at this level. We want to decouple this from the request as much as possible.

I wonder if we need `class MailRegisteredUser extends Mailab

[2021-06-28 11:35] jnugent commented on #7154
Hi @NateWr  yes, and I'm not sure why it didn't link into this issue:

https://github.com/pkp/pkp-lib/pull/7155

[2021-06-28 11:46] henriqueramos commented on #4622
@asmecher

For the pkp-lib repo, this is the PR https://github.com/pkp/pkp-lib/pull/7049
For the OJS repo, this is the PR https://github.com/pkp/ojs/pull/3132

[2021-06-28 11:47] NateWr commented on #7144
Believe it or not, I think that this was intended -- or at least a known issue -- when the feature was implemented. As far as I understand it, the file should be included as an attachment in the email that the author receives. But it is not otherwise accessible from within the author dashboard.

There's a discussion [in this issue](https://github.com/pkp/pkp-lib/issues/4976#issuecomment-847046347)

[2021-06-28 14:15] NateWr commented on #7154
Thanks @jnugent. Merged to `stable-3_2_1`.

[2021-06-28 14:15] #7154 closed

[2021-06-28 14:15] Baytan opened #7160 "A tool to detect faulty database entries to prevent code malfunction"
First of all thanks to the contributors of this great project.

I am the editor and journal manager of a journal using OJS.

The faulty database entries seems to create many problems such as given in https://github.com/pkp/pkp-lib/issues/7156 and https://github.com/pkp/pkp-lib/issues/6774 and probably more. In many occasions faulty database entries may prevent the OJS code to work properly. As I s

[2021-06-28 14:30] Vitaliy-1 commented on #7141
The idea is to parse its constructor to determine template variables that can be assigned to this email. Also, I'm finding it a good idea to associate an email with its specific representation in the code, rather than have a generic Mailable class.

The actual rendering is done inside Laravel's Mailer class, Mailable is just a storage of data in this case.

What about combining listener and email

[2021-06-28 14:30] marcbria commented on #4394
Yes, to both.

[2021-06-28 14:33] marcbria commented on #4394
I don't know how I closed this. :-)

Sorry. It's still open... but with a low priority.

[2021-06-28 14:45] marcbria commented on #7138
I don't see any problem in keeping both if the alias ("/article/view/v23-n2-prat/645-pdf-ca") is permanent redirected to the final url ("/article/view/645/434")... I also find benefits in this double naming because you can keep the semantic naming for SEO and the numeric one for management (when doing editorial work).

Probably it's because I come from drupal (that keeps old urls like "/node/645"

[2021-06-28 14:53] Vitaliy-1 commented on #7141
According to Laravel's Mail Service logic, `view` is the message body (that may require additional rendering). `Mailer` either treats it as a simple HTML or transfers to the View Service for rendering, e.g., if it's path to the template. In my adaptation, `Mailer` renders the view and substitutes variables with real data.

@NateWr, In your example you suggest that EmailTemplate should be responsib

[2021-06-28 15:08] Vitaliy-1 commented on #7141
I mean this part: https://github.com/Vitaliy-1/pkp-lib/blob/f7a09d229b582eeebda57886c643e5fc888ed1c8/classes/mail/Mailer.inc.php#L55

[2021-06-28 16:06] Vitaliy-1 commented on #7131
What about registering FileService as Laravel FileServiceProvider to adopt its interface?

[2021-06-28 16:58] AndrewGearhart opened #7161 "[OJS] Make obtaining Journal Style Sheet easier"
**Describe the problem you would like to solve**
Our theme developers need a quick/easy way to grab the CSS file for the website settings page. A download link for the "Journal style sheet" located on <journal>/management/settings/website > Appearance > Advanced

**Describe the solution you'd like**
On the website settings page,  if the name of the file was set with a download link for the "Journa

[2021-06-28 17:24] jnugent commented on #6991
Hi @NateWr  With the smaller installation (the one that had a complete grid reload in 1.56 minutes), using the API returned a result set in 16 seconds.  The larger site returned an API call in 40 seconds.  Those are averages of three calls, each.

[2021-06-28 19:14] saricob opened #7162 "My site has broken ! Can someone help me?"
Link: https://eajltls.com/
The journal site has broken and I do not know what I can do. Can someone help me with this issue?

[2021-06-29 09:32] NateWr commented on #7131
Do you have an example, @Vitaliy-1? From what I've gathered by looking at the docs, service providers are essentially classes that register functionality. But not necessarily classes that perform the functionality themselves. In other words, they bootstrap services but are not services themselves.

So in this case I've used an AppServiceProvider that registers things like the file service: https:/

[2021-06-29 09:37] NateWr commented on #6991
Thanks @jnugent. That's better, but still not good enough!

[2021-06-29 09:59] janpieterk opened #7163 "OJS 3.2.1.1: multi-domain, multi-journal installation: journals with custom domain not editable from central Administration menu"
OJS installation (3.2.1.1) with the base_url set to maindomain.tld and journals both on maindomain.tld/path and customdomain.tld. Editing journal on domain customdomain.tld from central Administration menu does not work.

**To Reproduce**
Steps to reproduce the behavior:

1. login as admin in maindomain.tld
2. login as admin in customdomain.tld
3. go to “Administration” in the left sidebar. This i

[2021-06-29 10:49] Vitaliy-1 commented on #7131
I meant Laravel filesystem bindings, that are originally registered through `FilesystemServiceProvider`. As far as I remember these bindings are used in CacheServiceProvider and several other services that we may want to adopt in the future.
This would require also replacing/adapting `PKPFileService` with Laravel's `Filesystem`, as I understand Laravel uses it on top of the Flysystem

[2021-06-29 11:19] Vitaliy-1 commented on #7131
Looking at Laravel's `Filesystem`, its methods have quite different implementations from what we use, thus it may only complicate things.

[2021-06-29 13:29] saricob commented on #7162
Thank you so much. How can i define it on cPanel? Do you know how to do it?

[2021-06-29 14:47] pilasou commented on #7144
Hi Nate, Thanks! Our editors upload a synthesised review report containing all review comments. This is a common practice for all our journals. It goes like this:

Let say 3 reviews has sent their recommendation asking all for revisions: two responded with the form and joined a file, 1 only used the form. The files joined can be either only the comments or the article itself with the review commen

[2021-06-29 18:57] benaltair commented on #7006
Yes, sounds good - on first glance they cover everything @NateWr

[2021-06-29 19:37] AhemNason opened #7165 "Can't set the publication date of an issue before it is published"
**Describe the problem you would like to solve**
It is not possible to create a publication date for an issue before it is published. This creates problems when using QuickSubmit to upload back content because it is not possible to set a submission's publication date in QuickSubmit (see https://github.com/pkp/pkp-lib/issues/5418).

**Describe the solution you'd like**
It should be possible to set

[2021-06-30 07:56] NateWr commented on #7144
Thanks @pilasou, that's helpful. I realize this is slightly different than the discussion in the issue that I linked. We need a way to show, on the author dashboard, the file attachments from the editor when making a decision. :+1:

[2021-06-30 08:20] NateWr commented on #7160
Hi @Baytan, I agree this would be nice! We've also talked before about implementing a pre-flight check for upgrades, that would try to check some constraints in the database. The main challenge is defining the correct constraints and writing the checks.

We're refactoring a lot of our database structure to make more use of foreign keys, which will impose stricter constraints on the data and theref

[2021-06-30 08:26] NateWr commented on #7162
Hi @saricob, You can find the `baseUrl` setting in the `config.inc.php` file, which will be in the root directory where you installed OJS. I'll close this for now but you can follow up in the [Community Forum](https://forum.pkp.sfu.ca) if you need.

[2021-06-30 08:26] #7162 closed

[2021-06-30 08:28] NateWr commented on #7163
Thanks for reporting, @janpieterk. I'm going to call on some help from @ajnyga or @ctgraham. I think both of you run journals on custom domains. Are you able to reproduce this issue?

[2021-06-30 08:43] NateWr commented on #7165
Thanks @AhemNason. I don't think it will be too difficult to do this. Here's a list of things that need to be considered:

- [ ] Add publication date field to back issues. It should be clear that this is not usually set. Maybe the field needs a warning like "Leave this empty and it will be set automatically when the issue is publlished."
- [ ] When an issue is published, the date is assigned to su

[2021-06-30 10:05] Michevole commented on #6291
I think this improvement is really indispensable for those sites who host many journals and have many editors and countless authors. The journal manager's work is costantly interrupted by users asking for support for an unnecessary field that stop them.

It's also difficult for me to explain why their journals need that double item. I absolutely support this request!

[2021-06-30 10:45] NateWr commented on #7141
One thing you'll need to account for is the ability to intercept all send requests. The current mail system offers a hook, `Mail::send`. Laravel probably has a technique for this (to support third-party senders). But we'll also need to support cases like the [MailLogger](https://github.com/NateWr/mailLogger/blob/master/MailLoggerPlugin.inc.php#L21) plugin.

[2021-06-30 12:51] AhemNason commented on #7165
For your first point I think you mean...

Add publication date field to ~back issues~ future issues. It should be clear that this is not usually set. Maybe the field needs a warning like "Leave this empty and it will be set automatically when the issue is publlished."

[2021-06-30 13:16] AhemNason commented on #7165
Another option could be an option to push issue-level publication dates to all the articles within it. So, at the very least, if you have to fix a back issue, you can just update all the article-level metadata to match issue-level metadata.

[2021-07-01 10:40] bozana commented on #6782
Hi @ctgraham, I am wondering what minimal COUNTER reports we would need to support, lets say for journals first.
Is there a report that contains all the data, not filtered by institutions?
We are currently discussing what to do if several institutions have one and the same IP address. How shall we track an access from such IP address? Would we insert two rows, for each institution, in the DB table