[2018-12-23 18:01] mehrozrana1 opened #4333 "ojs2: 404 Not Found error"
[23-Dec-2018 06:34:28 America/New_York] ojs2: 404 Not Found
[23-Dec-2018 06:39:41 America/New_York] ojs2 has produced an error
  Message: WARNING: unlink(/home/jhidtcpq/public_html/cache/fc-pluginSettings-1-timedviewplugin.php): No such file or directory
  In file: /home/jhidtcpq/public_html/lib/pkp/classes/cache/FileCache.inc.php
  At line: 56
  Stacktrace:
  Server info:
   OS: Linux
   PHP Vers

[2018-12-23 22:12] jamshidhashimi commented on #1576
Hi @asmecher. Thank you for the suggestions. It was nice for me to explore the `setAdvice` method and functionality in the codebase. I wanted to add it in `UserRequiredPolicy` but noticed that we don't have to, as the [constructor](https://github.com/pkp/pkp-lib/blob/master/classes/security/authorization/AuthorizationPolicy.inc.php#L46) in `AuthorizationPolicy` is handling that part. So only addin

[2018-12-25 00:55] bdmckay commented on #3789
@asmecher : It seems there is another case where a file uploaded by a reviewer disappears from view in the upgrade.  If a reviewer in 2.4.8 uploaded a review file but didn't select a recommendation, that file is not visible in 3.1.1.4 after upgrade.

[2018-12-25 12:58] Vitaliy-1 commented on #2534
@NateWr
I don't think that it works now. The ORCID icon isn't displayed alongside with ID.
Or am I missing something?
![screencapture-ojs-latest-stable-test-index-php-psp-article-view-107-2018-12-25-14_57_34](https://user-images.githubusercontent.com/20665587/50422733-8e0d7600-0855-11e9-92e9-f0328f32411e.png)

[2018-12-26 11:38] israelcefrin commented on #4314
Hi @defstat

Unfotunately I don't have this install upgrade b/c I re-ran and solve it doing a two steps process (ojs2.4=> 3.0.1 => 3.1.1-4) and it has succeeded.

Every navigation item. In fact, didn't matter what I edited the menu didn't show my items order or enabled ones.

Yes, all titles were shown up.

Unfortunately as I said, I can't no more.

I still have original DB and files (there is a f

[2018-12-26 16:16] Vitaliy-1 commented on #4323
@asmecher, I've noticed that the files path assigned to the Smarty through `PKPTemplateResource` and `PKPTemplateManager` has changed from like `plugins/blocks/languageToggle/block.tpl` to `plugins/blocks/languageToggle/templates/block.tpl`. Have you considered to add backward compatibility? 2 additional lines to the `Plugins::_overridePluginTemplates()` should work. I can make a pull request.

[2018-12-26 18:07] asmecher commented on #4332
No harm, no foul -- thanks, @ViRuSTriNiTy!

[2018-12-26 18:07] #4332 closed

[2018-12-26 18:08] asmecher commented on #4330
Thanks, @ViRuSTriNiTy -- I'll bet that was fun to track down.

[2018-12-26 18:08] #4330 closed

[2018-12-26 18:12] asmecher commented on #4333
@mehrozrana1, this is an occasional race condition in the file caching code. It's cosmetic, i.e. it's just an occasional error log message, but won't actually interfere with the operation of your install. It'll be resolved as part of https://github.com/pkp/pkp-lib/issues/3304. I'll make a note there, and close this issue.

[2018-12-26 18:12] #4333 closed

[2018-12-26 18:13] asmecher commented on #3304
(See also the error message noted in https://github.com/pkp/pkp-lib/issues/4333 -- replacing the caching library would resolve that. However, it's cosmetic so a low priority.)

[2018-12-26 19:41] asmecher commented on #4328
Thnks, @ViRuSTriNiTy -- merged, and also cherry-picked to the freshly-created `stable-3_1_2` branch for the forthcoming 3.2 release. (This was just forked from `master`.)

[2018-12-26 19:41] #4328 closed

[2018-12-27 08:21] Ph-We opened #4335 "[OJS 3.1.1.4] Some translations missing (submission stage)"
https://forum.pkp.sfu.ca/t/ojs-3-1-0-1-3-1-1-4-some-translations-missing/49722

Hi! After upgrading to 3.1.1.4 some translations in the Submission form are missing (Russian locale).
Those are:
##submission.submit.availableUserGroups##
##submission.submit.userGroupDescriptionManagers##
##user.register.form.privacyConsent##

@ppv1979, who did the translation, says it should still be there. So it mig

[2018-12-27 11:47] Ph-We commented on #4214
@defstat, thank you for this reply. However, we are still at a loss why the 'navigation.submissions' is displayed instead of `about.submissions`.

[2018-12-31 13:48] Baytan opened #4336 "Submissions can be uploaded without article files"
We are using OJS 3.1.1.4. When I examine a submission, I see that it is uploaded without any doc or pdf file including the article. I had to ask it with email. It would be better if the system checks whether a document file (doc, or pdf) is included in the submission.
Thanks to the contributors of this great Project and happy new year to all.

[2019-01-02 15:04] jnugent opened #4337 "installer.miscSettings locale key undefined"
Trivial issue - the CLI installer has a missing locale key for installer.miscSettings.

[2019-01-02 16:55] ctgraham commented on #4024
This didn't make it (or didn't completely make it) into 3.1.1-4.  See: https://forum.pkp.sfu.ca/t/problem-when-uploading-site-logo/50132/6?u=ctgraham

E.g.:
https://github.com/pkp/pkp-lib/blob/f555a26a10146d0156d7686e52bba50737f1a75e/controllers/tab/settings/AdminSettingsTabHandler.inc.php#L28
vs.
https://github.com/pkp/pkp-lib/blob/ojs-3_1_1-4/controllers/tab/settings/AdminSettingsTabHandler.inc.

[2019-01-02 21:29] cpockett opened #4338 "OJS 3 MetaData form freezes when required keywords missing"
When I set keywords to be enabled, submission form, and required. When an author fails to submit a keyword then the form freezes. I've found that the following error is generated by the ajax request

`<br />
<b>Warning</b>:  array_key_exists() expects parameter 2 to be array, null given in <b>/var/www/html/ojs/lib/pkp/classes/submission/PKPSubmissionMetadataFormImplementation.inc.php(72) : runtime

[2019-01-03 09:27] ptrckb opened #4339 "Unable to access note files after upgrade"
After upgrading an OJS 2.4 installation to 3.1.1, the 'Notes' tab of the 'Editorial History' does not have links to files attached to the old notes.

It seems this has been already reported (#1932) and fixed (8170fa2b5664afc06a50ad251e65401719c4793f) but then mostly lost during #2163 (specifically 6027981071e1c1c53a4b2d9cc83868bd8167b09c).

When I try to reintroduce a `DownloadFileLinkAction` as a

[2019-01-03 15:04] ctgraham opened #4340 "Users in multicontext install are offered links to unprivileged contexts"
See:
https://forum.pkp.sfu.ca/t/the-current-role-does-not-have-access-to-this-operation-to-new-users/50579

Dashboard should either link to an available dashboard, or be suppressed in the Site context.

Site navigation menu should only offer contexts in which the user has permissions.

[2019-01-03 15:45] jnugent opened #4341 "quell array/variable warning in template"
https://github.com/pkp/pkp-lib/blob/ab639aff793b535f72c43b9eccef7d6a0ecdfcd7/templates/header/usernav.tpl#L89

This line should look like:

`{if isset($supportedLocales) && $supportedLocales|@count}`

to quell a warning during a new installation.  The variable isn't set at this point in the user navigation.

[2019-01-03 16:39] ctgraham commented on #4340
Problem seems to be here:
https://github.com/pkp/pkp-lib/blame/master/classes/context/ContextDAO.inc.php#L185-L189

Per that SQL, an "Available" context is one of:
* a enabled context
* a context in which the user is a member of user group
* anything, if the user is a site admin

Rather, an "Available" context should be:
* if no user, an enabled context
* if a user:
  * anything, if the user is SI

[2019-01-03 19:52] ctgraham commented on #4340
The problem for case 1 is that when [`PKPNavigationMenuService::getDisplayStatus()` calls `PKPUser::hasRole()`](https://github.com/pkp/pkp-lib/blob/f555a26a10146d0156d7686e52bba50737f1a75e/classes/services/PKPNavigationMenuService.inc.php#L271-L289) for a CONTEXT_SITE (value: 0), `RoleDAO::getByUserId()` has [interpreted `$contextId` of 0 as `false`](https://github.com/pkp/pkp-lib/blob/f555a26a101

[2019-01-04 09:33] tothbog commented on #2481
Sorry, we have just upgraded to 3.1.1.4, and while testing, I have found the above problem still existing:

Reviewers declining a review see the submission in their list, and it is nowhere indicated that they have declined it.

What should we do?

[2019-01-04 17:04] ctgraham commented on #4340
Side note: how does `$isAdmin = $currentUser->hasRole(array(ROLE_ID_MANAGER, ROLE_ID_SITE_ADMIN), $context->getId());` work for the Site Admin?

[`PKPUser::hasRole()` calls `getRoles()`](https://github.com/pkp/pkp-lib/blob/f555a26a10146d0156d7686e52bba50737f1a75e/classes/user/PKPUser.inc.php#L357) for a context id, [`getRoles()` caches the roles](https://github.com/pkp/pkp-lib/blob/f555a26a10146d0

[2019-01-05 07:34] ajnyga opened #4342 "[OJS] The license url should be validated"
Hi,

When an editor chooses Schedule for publication she can add a license url for the article. However, the url is not validated at all. This means that an editor can enter any text to the field. If the journal uses Crossref DOIs, this will lead into a validation error during DOI registration (`Element '{http://www.crossref.org/AccessIndicators.xsd}license_ref': [facet 'pattern'] The value 'THE V

[2019-01-07 11:43] NateWr commented on #4320
Merged! :+1:

[2019-01-07 11:43] #4320 closed

[2019-01-07 11:45] NateWr commented on #2534
Can you check your theme's `templates/frontend/objects/article_details.tpl` file and make sure it looks like this? https://github.com/pkp/ojs/pull/1441/files#diff-91eaa95f8172b06bd15727d9073c9b03

[2019-01-07 12:12] NateWr commented on #2481
Hi @tothbog, this fix is not included in 3.1.1-4. You may need to wait until 3.1.2 or 3.2 is released. I'm not sure to which forthcoming versions it has been ported.

[2019-01-07 13:55] amandastevens opened #4343 "Use jobs to send new issue published email notifications"
**Describe the problem you would like to solve**
When publishing a new issue, it is possible to send an email notification to all users. However, if the journal has a lot of users it can take hours to send all of the emails. The loading spinner doesn't show what's happening, so the editor will presume something is broken.

**Describe the solution you'd like**
Create jobs to send the emails, rather

[2019-01-07 15:05] NateWr commented on #3691
I've gone ahead and rebased and merged your work. New PRs:

https://github.com/pkp/ojs/pull/2228
https://github.com/pkp/pkp-lib/pull/4344

Thanks @Vitaliy-1!

This work needs to be implemented in OMP, which has a different concept of "galleys". I'll update the original issue description and assign this to 3.2. It should be fairly quick work.

[2019-01-07 15:57] NateWr opened #4345 "Declined submissions not moved to archive"
In the current `master` branch, submissions that are declined are not moved to the author's or editor's archived list and do not show their declined status in the My Queue submissions list.

Declined submissions should appear in the archived submissions lists and indicate their declined status.

This comment, https://github.com/pkp/pkp-lib/issues/3386#issuecomment-399986066, also highlights that w

[2019-01-07 16:58] defstat commented on #4314
Hi @israelcefrin .

It seems that you encountered one of the first Navigation Menu's version bugs, that was related to the translation keys and the way that that version was handling them. In the case that the originated version of OJS had different languages installed from the targeted (upgrated) OJS version, or if a new language was introduced to the upgraded OJS version after the upgrade proces

[2019-01-07 17:02] israelcefrin commented on #4314
Hi @defstat , it sounds familiar to me for my first attempt to upgrade. On my last (successful) attempt I used OJS 3.0.1 then OJS 3.1.1-4 and issue didn't show up anymore.

Cheers!

[2019-01-07 17:48] ppv1979 commented on #4214
@defstat I am a main maintainer of Russian translation and I agree with @Ph-We, we should change the key to be consistent in the translations. In English locale these two keys (navigation.submissions and about.submissions) are identical, but in Russian (and may be in other Slavonic languages) we can't do it the same way, because navigation.submissions is about the particular items (submissions=sen

[2019-01-07 17:54] defstat commented on #4214
Yes I will open a PR for that, as a reference to this issue.

[2019-01-07 17:55] ppv1979 commented on #4214
Thanks!

[2019-01-07 17:57] asmecher commented on #4341
Thanks, @jnugent -- mind opening a PR?

[2019-01-07 18:09] jnugent commented on #4341
Allow me a moment to remember how :)

[2019-01-07 21:59] asmecher commented on #4338
Thanks, @cpockett. FYI, we recommend directing warnings/errors to the log file rather than the browser -- that will prevent cosmetic warnings from breaking the site (and is recommended for PHP production use anyway). In any case, it is also good to clean up the warnings. I've committed a change nearly the same as your suggestion, though a little briefer -- an `(array)` cast. A `null` value cast to

[2019-01-07 21:59] #4338 closed

[2019-01-08 00:59] asmecher commented on #4337
Re-added from OJS 2.x sources.

[2019-01-08 00:59] #4337 closed

[2019-01-08 16:57] asmecher commented on #4341
Merged -- thanks, @jnugent!

[2019-01-08 16:57] #4341 closed

[2019-01-08 18:50] marcbria commented on #4130
following... :-)

[2019-01-08 18:51] asmecher commented on #3594
Excellent work, @NateWr -- well considered and handled en masse with consistency and attention to detail. I'm sure there will be some breakage and adjustment once this gets merged but IMO the master branch is ready for it. Please go ahead and merge -- ensuring that there are `stable-3_1_2` branches in the relevant repos (e.g. plugins) before you do, as this contains breaking changes -- and if you

[2019-01-08 21:04] asmecher commented on #1576
I think that'll work with all the currently coded uses of `ContextPolicy`, but I could imagine cases where `ContextPolicy` would be used to ensure that there's a context but where a user login shouldn't be required. Maybe `ContextAccessPolicy` would be a better fit? That requires at least one role in the current context, so it would presume that a user is present.

[2019-01-09 10:02] ajnyga commented on #2615
+ @NateWr  for your suggestion in the second comment. Most editors just want to "clear things" so moving them to archive is quite enough.

I have a related issue that came up with the Delete button that I did not want to add as a separate issue (I can if you find it useful!).

When an user has both the editor role and the author role in a submission, the Delete button is not visible. In my logic,

[2019-01-09 10:38] NateWr commented on #2615
@ajnyga yes, file an issue please and tag me. I'll label it as a `bug`.

[2019-01-09 10:51] ajnyga opened #4348 "[OJS] Always show Delete button in submissions listing when user is assigned as editor"
**Describe the bug**
When an user has both the editor role and the author role in a submission, the Delete button is not visible in the list of submissions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any submission and assign the same user as an editor and author.
2. Decline the submission.
3. Login as the editor and find the submission in their archived submissions list.
4. See t

[2019-01-09 11:03] ajnyga commented on #4343
Do you have a rough estimate of the number of accounts? Is this the first time they notice the problem?

I find it bit hard to believe that the code would spend hours to send the emails even with a lot of accounts?

[2019-01-09 12:25] ctgraham opened #4349 "Backport Crossref export empty pages fix"
Fixed in 3.x:
https://github.com/pkp/ojs/commit/30817efb1094cbec24e95a65e5fcc9310c4fefcf

Backport to 2.4.x

[2019-01-09 12:32] ajnyga commented on #4343
I quickly checked one of our larger journals and they have 7609 users. I am fairly sure that they would had reported if anything like this happened.

Someone who know email servers and the mail library better can maybe say can the email server create limitations on how fast the code works. My thinking is that php will just push the emails to the server and they end up in a queue there which is the

[2019-01-09 12:48] ajnyga commented on #4343
Also important question: did the wheel stop spinning at some point, or did they just close the window?

[2019-01-09 14:14] marteery commented on #4099
Hello

@forgive38 :
Sorry for the delayed response. The dashboard on the OJS2 CO-action install had customized features that were impossible to keep when we did the upgrade to OJSv3, so we don't have those features on our current install.

We are currently sending feedback on the dashboard to PKP to help develop the dashboard on OJS3 to better cover the needs of editors in bigger journals, and I t

[2019-01-09 15:18] NateWr commented on #3855
A fix for this has been merged to `master` as part of the validation changes for #3594.

[2019-01-09 15:18] #3855 closed

[2019-01-09 16:30] NateWr commented on #3594
Merged! :tada:

![boom](https://media.giphy.com/media/PSyqVLhwDvjXO/giphy.gif)

[2019-01-09 16:30] #3594 closed

[2019-01-09 18:02] ViRuSTriNiTy commented on #3855
Which change in particular? I'm too lazy to go through all 600 commits.

[2019-01-09 18:06] asmecher commented on #4343
@ajnyga, my experience is that local delivery (`mail()`) is pretty quick and is probably just queuing up content for later delivery, where as SMTP tends to take a lot longer and seems to be actively delivering the mail before returning. Are you using local delivery?

[2019-01-09 18:09] amandastevens commented on #4343
The wheel did not stop spinning, they just eventually closed the window.

I'm going to call @mfelczak in to address the mail server questions.

[2019-01-09 18:11] asmecher commented on #4349
Merged and cherry-picked -- thanks, @ctgraham!

[2019-01-09 18:11] #4349 closed

[2019-01-09 18:21] ajnyga commented on #4343
Sounds like something else was failing and is maybe visible in the error log.

[2019-01-09 18:34] ctgraham opened #4350 "Crossref deposit status check doesn't make sense"
In 3.x:

https://github.com/pkp/ojs/blob/1334c517d83cb825aaf2e3ea5f69494a96b24ea4/plugins/importexport/crossref/CrossrefInfoSender.inc.php#L129-L140

In 2.x:

https://github.com/pkp/ojs/blob/e09d8c61c226a04cad41effe21a01f88b2fb580d/plugins/importexport/crossref/CrossrefInfoSender.inc.php#L72-L84

Shouldn't the first check of `$currentStatus = $article->getData($plugin->getDepositStatusSettingName(

[2019-01-09 18:50] ctgraham commented on #4350
Based on 2.4.x code, the intended logic appears to be:

1. Get the status as currently recorded in OJS
2. Update the status from Crossref
3. If there is no updated status, queue for registration
4. If the updated status is now "failed" but wasn't "failed" before, notify Manager

[2019-01-09 18:56] ctgraham commented on #4350
@bozana , can you review this interpretation?

[2019-01-09 19:06] ajnyga commented on #4350
(I think Bozana noticed the same thing earlier today, see https://forum.pkp.sfu.ca/t/ojs-3-0-2-crossref-xml-export-plugin-status-not-refreshed-properly/32874/21)

[2019-01-09 19:25] ctgraham commented on #4350
Serendipity.  Nice spotting, @ajnyga.  I haven't been trolling the forum today as I've been refreshing all of our metadata with Crossref.

[2019-01-09 21:46] bozana commented on #4350
everything merged, thus closing...

[2019-01-09 21:46] #4350 closed

[2019-01-09 23:21] asmecher commented on #4323
@Vitaliy-1, a PR for this would be welcome!

[2019-01-10 09:32] NateWr commented on #3855
There's no one single change, unfortunately. We have integrated the validation library for Laravel 5.5 and deprecated our existing validation system.

The custom email validation rule that allows `@localhost` addresses is coded up here:

https://github.com/pkp/pkp-lib/blob/master/classes/validation/ValidatorFactory.inc.php#L44-L64

[2019-01-10 15:12] jmacgreg commented on #3307
There is a backup plugin already available for OJS 3 - see https://github.com/asmecher/backup. I'm not sure if that could somehow be triggered from the cli or not. I'd consider this issue one of the lower priorities, for a few reasons: 1) it's easy to script in native environments; 2) it's potentially difficult to write up generically as a cli tool to fit all environments; and 3) there's already t

[2019-01-10 15:13] jnugent commented on #3307
sounds good.

[2019-01-10 15:25] ctgraham commented on #3515
The spec is deliberately ambiguous and explicitly varies across publishers / registrars:

It is reasonable to switch our standard to a microtime rather than a unix time, but this doesn't guarantee cross-compatibility.  Crossref can reset the timestamps after a publisher/registrar move, if necessary.  This is the only way to guarantee interoperability.

[2019-01-10 16:53] ViRuSTriNiTy commented on #3855
Thx, much appreciated.

[2019-01-10 21:30] ctgraham commented on #3803
Information only:

[2019-01-10 22:35] asmecher commented on #4282
@ajnyga, could you try/review this change? https://github.com/pkp/pkp-lib/pull/4351

[2019-01-11 01:39] asmecher opened #4352 ""Cancel" on "Are you sure you wish to leave the page" behaving badly"
See https://forum.pkp.sfu.ca/t/ojs3-continue-without-saving-modal-wont-cancel/50711/10.

To reproduce:
- Go to the user's Profile page (e.g. Contact tab)
- Edit a field
- Click another tab
- Press "Cancel"

On Firefox, another confirmation modal pops up immediately (then no further ones).
On Chromium, I get endless modals for as long as I care to hit Cancel.

[2019-01-11 01:41] asmecher commented on #4352
@NateWr, I spent a few minutes on this myself, but I'm spinning my wheels. It appears to me that the `confirm` pop-up itself is causing an extra beforeActivate on the tabs. I'm afraid this is probably related to our own `Handler` interventions on event handling etc., since a stock `.tabs()` implementation doesn't seem to suffer the same problem.

[2019-01-11 10:11] NateWr commented on #4308
@asmecher should I be looking into this in `ojs-stable-3_1_1` or in `stable-3_1_2` or `master`?

[2019-01-11 16:11] rshiggin commented on #1908
Apologies for the delay in responding. We are experiencing the problem after applying the patch. The error occurs only for the "Archiving" tab. We see a spinning circle to the right of the save button rather than a notification. The other tags do respond on save with a green-background, pop-up notification in the upper right corner.

Above, in my original reply, I posted the relevant lines from ou

[2019-01-11 16:17] rshiggin commented on #1908
Alexandra Ohlson at CLOCKSS has also asked me if she can recommend this patch to other orgs and users of OJS. We know that the patch works well enough to give CLOCKSS the right manifest to restart the preservation of OJS 3 content. But I'm concerned that it has given us the bug in selecting an archiving method.

**Can we get the patch tested and released so that CLOCKSS can recommend it to other u

[2019-01-11 17:24] asmecher commented on #4308
If it's easy to do (or if it's resolving a missing piece of the back-porting), then all three. Otherwise, fall back to `stable-3_1_2` and `master`.

[2019-01-11 18:12] NateWr opened #4353 "Refactor UI Library to improve docs, JS linting, and dependency management"
In the process of documenting the forms (#3594), I found a number of deficiencies in the existing UI Library setup. Also, dependencies are falling out of date and it's become difficult to keep them aligned.

I have rebuilt the UI Library as a [vue-cli](https://cli.vuejs.org/) app, which should make it easier to maintain dependencies going forward (as well as keep the UI Library and OJS/OMP build p

[2019-01-11 21:05] asmecher commented on #4158
PRs merged to `stable-3_1_2`:
- https://github.com/pkp/pkp-lib/pull/4355
- https://github.com/pkp/ojs/pull/2236
- https://github.com/pkp/omp/pull/618

[2019-01-11 22:19] mfelczak commented on #1116
Re-opening for inclusion in OJS 3.x/OMP 3.x

[2019-01-13 09:34] bozana commented on #3803
Thanks for the information @ctgraham!
We plan to release the integration with the new Crossref deposit API with the next release 3.1.2 -- I will double check with Crossref that this is OK so.
The new API is also needed for Reference Linking. And we hope that it will solve many problems regarding the status update/check.

[2019-01-13 11:51] bozana commented on #2820
@jmacgreg and @asmecher, I've rebased the changes with the current stable-3_1_2 branch -- s. the PRs above.
@jmacgreg, is the branch stable-3_1_2 enough for Minnesota to be able to review it?

When all OK, I will then rebase with the current master as well...

[2019-01-14 12:13] NateWr commented on #4353
@asmecher Tests are passing. Would you do a code review on this?

[2019-01-14 12:49] NateWr commented on #4352
It looks like I introduced this bug with the fix for https://github.com/pkp/pkp-lib/issues/1787. I have implemented a (hopefully) better fix for that issue which also resolves this one.

I see this is pegged to the 3.1.1-5 milestone. @asmecher I have backported to `stable-3_1_2` but should I also do `ojs-stable-3_1_1` and `omp-stable-3_1_1`?

PR:
https://github.com/pkp/pkp-lib/pull/4358
https://gi

[2019-01-14 13:06] NateWr commented on #4352
@asmecher Ready for review.

[2019-01-14 14:18] bozana commented on #4340
@ctgraham, maybe to provide the list of all PRs for this issue, so the user can more easy find the needed patch?

[2019-01-14 14:34] jmacgreg commented on #2820
Hi @bozana, yep, that will be perfect! I'll be setting up a new review branch for them this week. We'll get any comments back ASAP.

[2019-01-14 14:40] ctgraham commented on #4340
Right now I've only proposed a single PR for half of this issue (and [even this is incomplete](https://forum.pkp.sfu.ca/t/the-current-role-does-not-have-access-to-this-operation-to-new-users/50579/6)).

What do you think of the [problem in case 1](https://github.com/pkp/pkp-lib/issues/4340#issuecomment-451257524)? Is the formulation `$user->hasRole(array(ROLE_ID_MANAGER, ROLE_ID_SITE_ADMIN), $cont

[2019-01-14 14:46] bozana commented on #4340
At the first glance it seems you are right, but I will take a more detailed look... and will then come back again... :-)

[2019-01-14 15:08] ctgraham commented on #3803
@bozana, do you plan to fixes for the status update/check back to 2.4.x?

[2019-01-14 15:22] NateWr commented on #4308
Also caught a regression from #3594 here. :eyes:

PRs:
https://github.com/pkp/pkp-lib/pull/4362
(backports coming)

Tests:
https://github.com/pkp/ojs/pull/2240

[2019-01-14 16:00] ctgraham commented on #3803
If PKP doesn't have plans to backport, I think Pitt may provide a patch for this.  As is, since articles don't generally progress in status from "submitted" to "completed", we're calling the Crossref API unnecessarily thousands of times per day, and the articles appear as if the registration is incomplete (when, in fact, it is completed).

[2019-01-14 16:35] ctgraham opened #4366 "Archived articles can be submitted for DOI assignment"
# Steps to reproduce:
- Configure Crossref plugin with automatic registration
- Schedule an article against an issue
- Archive the article
- Run the Crossref plugin cron export

# Expected result
- Article is not exported for registration

# Actual result
- Article is exported for registration

# Cause
https://github.com/pkp/ojs/blob/82dbd165a4c4c6158bf5154c357fdc8fb928bd94/plugins/importexport/cr

[2019-01-14 17:55] asmecher commented on #4352
Looks good, @NateWr, please go ahead on all fronts. Note that this'll require a JS recompile, but I can take care of that if your setup makes it a pain.

[2019-01-14 17:58] asmecher commented on #4308
Looks good, @NateWr -- please go ahead.

[2019-01-14 18:06] asmecher commented on #4323
@Vitaliy-1, assigning this to you -- I've committed the shim functions already, so it's just the backward-compatibility addition you mentioned [above](https://github.com/pkp/pkp-lib/issues/4323#issuecomment-449988204).

[2019-01-14 19:49] amandastevens opened #4368 "Indicate if submission has been published and in what issue on submission dashboard"
Currently if you're looking at a submission in the Production stage on the submission dashboard, you can't easily see if it's been published or in what issue.  The only way to see is by clicking the "Schedule for Publication" button. A hosted client user suggested displaying the published status and issue info on the Production page.

[2019-01-14 20:02] tothbog commented on #3817
I also would like to change that in our journal. Could you give us a bit of advice on how to do that easily on the default theme?
Thanks, Bogi

[2019-01-14 20:23] ctgraham commented on #4130
One oversight in 2.4.8 at least is the missing combination of `assoc_id`, `assoc_type` index:
[code]

Aside: Why the paring of `assoc_type` and `submission_id` in `metrics_metric_type_assoc_type_submission_id`?

The addition of `create index metrics_metric_type_assoc_type_assoc_id on metrics (metric_type, assoc_type, assoc_id);` reduces the fetch time for [`PublishedArticle::getViews()`](https://g

[2019-01-14 23:23] asmecher commented on #4158
PRs for `master`:
- https://github.com/pkp/pkp-lib/pull/4369
- https://github.com/pkp/ojs/pull/2241
- https://github.com/pkp/omp/pull/619

[2019-01-15 01:19] asmecher commented on #4158
Merged into `ojs-stable-3_1_2` and `master`. @mfelczak, when is our deadline for having this available? I could back-port to `ojs-stable-3_1_1` but would rather avoid it if we could go with 3.1.2.

[2019-01-15 10:42] NateWr commented on #4352
All merged! @asmecher I don't have the closure libraries installed to compile the main library, so if you can do that, that'd be great!

[2019-01-15 10:43] NateWr commented on #4308
Merged!

[2019-01-15 10:43] #4308 closed

[2019-01-15 12:02] tgc opened #4370 "Missing value in submission_settings index whitelist"
I noticed that viewing an issue in a journal was quite slow.
It looked like a lot of time was spent in the database (PostgreSQL) so I took a look at the queries using our unloaded staging server which has about 90% of our full dataset currently in production and found this:
[code]

Note that in the center there is a sequential scan of the submission_settings table, a table with a lot of rows in it

[2019-01-15 13:21] NateWr commented on #3817
@tothbog we use the forum for support and technical advice. Can you post your question at https://forum.pkp.sfu.ca/? If you tag me (@NateWr there too), I will see it and jump in.

[2019-01-15 19:09] asmecher commented on #4282
I went ahead and merged and cherry-picked this around (`ojs-stable-3_1_1`; `omp-stable-3_1_1`; `ojs-stable-3_1_2`; `omp-stable-3_1_2`; `master`)

[2019-01-15 19:09] #4282 closed

[2019-01-15 19:12] asmecher commented on #4352
All compiled and committed! (`ojs-stable-3_1_1`; `ojs-stable-3_1_2`; `omp-stable-3_1_1`; `omp-stable-3_1_2`; OJS `master`; OMP `master`)

[2019-01-15 19:12] #4352 closed

[2019-01-15 19:17] asmecher commented on #4370
Thanks, @tgc -- I've merged the PR and cherry-picked it back to `ojs-stable-3_1_1` and `ojs-stable-3_1_2`.

[2019-01-15 19:17] #4370 closed

[2019-01-15 19:35] ctgraham commented on #4366
@asmecher, What do you think of this one: https://github.com/pkp/ojs/pull/2244 ?

Certainly only one pull or the other required, but I think both stand on their own.

N.b.: I wonder if adding the `<> STATUS_ARCHIVED` filter to other getters may have the unintended consequence of breaking access to articles with inconsistent data (e.g. assigned to an issue, but archived).

[2019-01-15 19:51] ajnyga commented on #4282
hah, would not had the time to test before Thursday...

[2019-01-15 19:54] asmecher commented on #4366
I've assigned @bozana to review that one -- she generally takes care of the CrossRef/DOI stuff. (I merged this one because it was trivial, and I know the DAO code well.)

That is possible -- but I think the risk is low. The `a.status` check already existed in several getters in `PublishedArticleDAO`, so I'd expect articles that were both `STATUS_ARCHIVED` and `i.published` would have been behaving

[2019-01-15 19:54] asmecher commented on #4282
Retrospective feedback is always welcome!

[2019-01-15 20:13] ajnyga commented on #4282
That's the best kind.

[2019-01-15 21:48] asmecher commented on #1116
Merged https://github.com/pkp/pkp-lib/pull/4356 and back-ported to `stable-3_1_2`. Thanks, @mfelczak!

[2019-01-15 22:13] asmecher commented on #4353
Looks good, @NateWr, please go ahead. I'm looking forward to getting better oriented on this stuff. Are the exclusions in OJS/OMP in `tools/buildpkg.sh` still appropriate after this rewrite?

[2019-01-15 22:32] Vitaliy-1 commented on #4323
@asmecher
PR: https://github.com/pkp/pkp-lib/pull/4371
Basically, I'm not sure if there is a need to additionally look up by the old path, but if someone forgot to move templates accordingly with a new path, it should work.

[2019-01-16 11:29] MartyCZ-MA opened #4372 "OJS error 301 Moved Permanently (Deposit was not successful! The DOAJ API returned an error: '1"
Hi,

I started work with DOAJ and OJS as I am executive editor of one journal. So far everything with OJS worked well. But recently we have been accepted to DOAJ and when I was trying to use API key to register our content this error appeared: error 301 Moved Permanently (Deposit was not successful! The DOAJ API returned an error: '1.

Could you help me to sove this? DOAJ was surprised by this.
Ju

[2019-01-16 12:16] bozana commented on #4372
Hi @MartyCZ-MA, I see you have also posted a question in the support forum. That is the right place to start with, first when we realize that it is a bug, then a GitHub Issue should be opened. Thus, I will close this issue for now, till we figure out some more details and ...

[2019-01-16 12:16] #4372 closed

[2019-01-16 12:58] ajnyga commented on #4130
So I did a couple of test queries before and after the index, but could not see much difference.

What kind of queries were taking you 15 secs that were reduced to 1 sec?

I think that the index I added was to the day and month colums and these reduced the size of the db as well.

[2019-01-16 13:02] ctgraham commented on #4130
In 2.4.8 there is a call to `$publishedArticle->getViews()` in the Editor's view of the article Summary page.
https://github.com/pkp/ojs/blob/82dbd165a4c4c6158bf5154c357fdc8fb928bd94/templates/sectionEditor/submission/management.tpl#L93-L98

[2019-01-16 13:13] ajnyga commented on #4130
So it has to be this in OJS3: `SELECT month, representation_id, SUM(metric) AS metric FROM metrics WHERE submission_id = '9373' AND assoc_type = 515 AND metric_type = 'ojs::counter' GROUP BY month, representation_id ORDER BY month ASC LIMIT 5000` (btw. why the limit 5000 in the end?)

[2019-01-16 17:58] amandastevens commented on #3253
We started putting this together during a PKP documentation sprint: https://docs.google.com/spreadsheets/d/1s19oi6xO_9pOwhWJkBEiTEOy8C02OcNuonBDIQPjKag/

Ping me if you would like editing access to the spreadsheet.

[2019-01-16 18:43] mayararysia opened #4373 "Bug uploading image"
When uploading the image and clicking on the "save" button, an error is sent to the console and the "**Submission and publication of metadata**" screen is not closed.

I'm looking for a solution.

**Thank you.**

**Console:**

**Uncaught SyntaxError: Unexpected token o in JSON at position 1
    at JSON.parse (<anonymous>)
    at Function.jQuery.parseJSON (jquery.js:8517)
    at Object.success (Tab

[2019-01-16 18:59] asmecher commented on #4345
This was as simple as a `$submission->setSomeProperty(...)` without the attendant `$submissionDao->updateObject($submission)`. The attached patches add the missing `updateObject` call, and archive submissions whose last decision was a decline but are still `STATUS_QUEUED`.

PRs:
- https://github.com/pkp/pkp-lib/pull/4374
- https://github.com/pkp/ojs/pull/2245
- https://github.com/pkp/omp/pull/620

[2019-01-16 18:59] asmecher commented on #4345
@NateWr, would you mind taking a look? Thanks!

[2019-01-16 19:02] asmecher commented on #4373
@mayararysia, could you start by posting this on our support forum at http://forum.pkp.sfu.ca/? If it turns out to be a bug, we'll migrate it to this issue tracker. Thanks!

[2019-01-16 19:02] #4373 closed

[2019-01-16 21:49] asmecher opened #4375 "ajaxOptions deprecated in recent releases of JQuery/JQueryUI"
Several parts of the JS (e.g. TabHandler.js) use `ajaxOptions` to specify the AJAX configuration for requests made by JQueryUI widgets. That has been [deprecated/removed](https://jqueryui.com/upgrade-guide/1.9/#deprecated-ajaxoptions-and-cache-options-added-beforeload-event) and likely no longer works. Replace it with the newly supported approach (described in the link).

[2019-01-16 21:52] asmecher commented on #4375
(I'm not sure, but I suspect fixing this might trigger some cases where the Javascript code attempts to decode JSON twice.  Some similar fixing was required for https://github.com/pkp/pkp-lib/issues/4072.)

[2019-01-16 22:10] asmecher opened #4376 "Unable to upload review revision"
As Editor, trying to upload a review revision results in an error. (This appears to be an unreleased regression.)

[2019-01-16 22:11] asmecher commented on #4376
It appears that the problem is a `ReviewRoundRequired` auth policy depending on a submission being present in the authorized context when none has been added/checked.

[2019-01-16 22:13] asmecher commented on #4376
PRs:
- https://github.com/pkp/ojs/pull/2246
- https://github.com/pkp/omp/pull/621

[2019-01-17 00:43] asmecher commented on #4376
@bozana, would you mind having a look? Thanks!

[2019-01-17 01:23] asmecher commented on #2438
PR: https://github.com/pkp/pkp-lib/pull/4378

https://github.com/pkp/pkp-lib/issues/4376 needs to be reviewed/merged before this will work.

The change permits any review round file to be attached to the decision email, and also allows adding new files to the grid. Added files are FILE_STAGE_ATTACHMENT files, which were used in OJS 2.x for email attachments, i.e. an analogous use to this one. Note

[2019-01-17 01:41] rshiggin commented on #1908
Thank you for looking at this @jmacgreg . Here's the PHP set of errors produced when we try to save an Archiving setting to CLOCKSS.

[code]

[2019-01-17 01:51] rshiggin commented on #1908
Also, is your commit today (22f1d22) revised from version of the patch we ran Dec. 12?

I'll let Alexandra at CLOCKSS know that it will be in release 3.1.2. Having the preservation process working again is a big deal for us. A huge thanks for pushing this through.

[2019-01-17 02:30] asmecher commented on #1908
Fixed and forward-ported, @jmacgreg!

[2019-01-17 02:30] #1908 closed

[2019-01-17 10:22] NateWr opened #4379 "Inject constant dependencies directly into Vue components"
At the moment, the UI Library manually imports a number of constants as globals which the components rely on. These constants should probably be passed to components as needed (data or props) rather than relying on a global inventory that is likely to fall out of sync with their PHP counterparts.

See [discussion](https://github.com/pkp/ui-library/pull/27#discussion_r248080098).

[2019-01-17 10:41] NateWr commented on #4345
Looks good! Go ahead. :+1:

[2019-01-17 10:42] NateWr commented on #4353
(Oh, I forgot to mention good catch on the `buildpkg.sh`. I had totally forgotten. Updated before merge. :+1:)

[2019-01-17 14:57] jmacgreg commented on #1908
Thanks @asmecher!

@rshiggin, I unfortunately still can't replicate this. It may be that something in the 3.1.1 branch has been updated - I'm running the most recent version here - or it could be the PN plugin or another plugin interfering with stuff. I'm going to keep this closed for now, but if you encounter the same problem post-3.1.2, please reopen or open a new issue.

And yes - the commit la

[2019-01-17 18:38] asmecher opened #4381 "Update copyright dates for 2019"
:tada:

(See https://github.com/pkp/pkp-lib/issues/3246)

[2019-01-17 21:40] Vitaliy-1 commented on #2638
So, the section policies are now exposed on the front-end? Is there an option to disable it? I'm not sure that all publishers want to share this information, it's quite possible that some of them use it only for internal purposes.

[2019-01-17 23:33] asmecher commented on #4381
Useful commands:
[code]

*Done* for `ojs-stable-3_1_1`, `omp-stable-3_1_1`, and OJS and OMP `stable-3_1_2`. I have *not* committed these changes yet to `master`, as that'll cause a big merge headache for the metadata versioning work. Leaving open until that can be reconciled.

[2019-01-18 09:08] NateWr commented on #2638
No option to disable it, other than to remove the section policy or to edit the submissions template.

[2019-01-18 11:14] mittinatten commented on #3562
From the discussion it seems this will be part of 3.2, but the milestone says 3.1.2. Is there any way to get this feature in a fork of 3.1.x? (cherry-pick?)

[2019-01-18 11:24] NateWr commented on #3562
No, not really. #3594 was massive and there's no one (or two or three) commits you can pull in to get `licenseTerms`.

I hadn't noticed the milestone. @asmecher does this need to be implemented for 3.1.2 or can it wait until 3.2?

[2019-01-18 16:31] #3562 closed

[2019-01-19 11:11] ViRuSTriNiTy opened #4383 "Hook for service registration in a plugin"
Hi there,

as described here ...

https://forum.pkp.sfu.ca/t/hook-for-service-registration-in-a-plugin/50799

... there should be a hook for providing services from a plugin.

I will provide a PR.

So lonG

[2019-01-19 21:49] stefesciberras opened #4385 "StageAssignmentDAO incorrect function"
In version 3.1.1.1, function updateobject in StageAssignmentDAO does not work as intended. there seems to be a misprint: please see below

/**
	 * Update a new StageAssignment.
	 * @param $stageAssignment StageAssignment
	 */
	function updateObject($stageAssignment) {
		$this->update(
			sprintf(
				'UPDATE stage_assignments SET
					submission_id = ?,
					user_group_id = ?,
					user_id = ?,

[2019-01-19 22:18] asmecher commented on #4385
@stefesciberras, can you clarify where exactly you're seeing a problem?

[2019-01-20 07:54] stefesciberras commented on #4385
@asmecher of course, it was late at night, so now I see my issue, I realise i did not give mroe information.

on lines 213, 214, the parameters are not in the right place.

213   (int) $stageAssignment->getId()
214   $stageAssignment->getRecommendOnly()?$stageAssignment->getRecommendOnly():0,

This means that

recommend_only = ?         -> gets the stage assigmment id
WHERE	stage_assignment_id = ?

[2019-01-20 18:14] asmecher opened #4386 "Library files schema not included in upgrade script"
See https://forum.pkp.sfu.ca/t/unknown-column-public-access-omp-3-x for details.

[2019-01-20 18:17] asmecher commented on #4386
If you're encountering this problem, you can resolve it by running the following on the command line:
    php tools/dbXMLtoSQL.php -schema execute lib/pkp/xml/schema/libraryFiles.xml

...or, in MySQL:
    ALTER TABLE library_files ADD COLUMN public_access INT DEFAULT 0;

[2019-01-20 18:17] #4386 closed

[2019-01-21 14:21] jmacgreg commented on #4307
Hi @NateWr, any chance you can have a quick review here? Probably mostly just to make sure I'm doing the whole PR process correctly (including tagging the commits with the bug ID, etc.). I'll have more to come later today, so I just want to make sure my procedure looks good. I can apply these to master + OMP as well.

[2019-01-21 16:32] jnugent commented on #4343
The same issue has occurred to a PKP|PS hosted journal last week, with a little more than 1400 registered users.  Same thing - new announcement, emails went to a lot but not all users, and the assistant editor who created the announcement eventually closed the window after an hour.  From log investigations it looks like the announcement went out to 1100 of those users, but there is nothing indicat

[2019-01-21 21:41] asmecher commented on #4074
This has already been resolved in `ojs-stable-3_1_1` in https://github.com/pkp/pkp-lib/issues/4024 -- see https://github.com/pkp/pkp-lib/commit/1e47ca6541c0f274778d58bd3adb2de78992ab2e.

[2019-01-22 01:37] asmecher opened #4388 "Relax administrator check for mailing users"
See https://forum.pkp.sfu.ca/t/cannot-view-or-send-mail-to-user/50717 for details.

[2019-01-22 01:42] #4388 closed

[2019-01-22 05:06] asmecher commented on #4375
I haven't looked into this in detail, but at a glance, something like that; does it seem to run OK?

[2019-01-22 06:31] ajnyga commented on #3770
Another perspective on `#1`. We have had journal editors asking why some of their editors are receiving "Thank you for your submission" messages from the system. The reason is of course that the editors are section editors in specific sections and receive a bcc of the author email.

I know that new email templates is something to avoid, but just sending a copy of email that is meant to other user

[2019-01-22 06:40] jamshidhashimi commented on #4342
[Here](https://github.com/pkp/ojs/blob/60bc4c39ceb6279a891070a133139378f807053e/controllers/tab/issueEntry/form/IssueEntryPublicationMetadataForm.inc.php#L55) the URL is getting validated. In the form, I entered a non-url text in `License URL` field and I got validation error. Am I missing something? @ajnyga

[2019-01-22 06:57] ajnyga commented on #4342
ok, thanks. Somehow an unvalidated value had been added there. Not sure then how.

[2019-01-22 11:57] bozana opened #4390 "counter bot list not properly cached and used with PHP 7.2"
Trying to change array elements via references in the filter function here https://github.com/pkp/pkp-lib/blob/ojs-stable-3_1_1/classes/core/Core.inc.php#L426 is not working in PHP 7.2, so the function should be re-written.

[2019-01-22 12:40] marcbria opened #4394 "Improve CrossRef deposit XML filename"
When you deposit to CrossRef, OJS creates an unique "filename" as follows:
`a6b26378-f7f0-4c2d-a2ad-602f39884946.xml`

If something fails, whey you review your deposits in Crossref, the only reference is the filename... so a prefix with the journal tag will help a lot to identify records in your deposit list.

This is clearly a "feature request" to be discussed and developed if you also think it's

[2019-01-22 12:42] bozana commented on #4390
PRs:
pkp-lib stable-3_1_2: https://github.com/pkp/pkp-lib/pull/4391
ojs stable-3_1_2: https://github.com/pkp/ojs/pull/2250 (only submodule update)
omp stable-3_1_2: (only submodule update)

pkp-lib ojs-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/4392
ojs ojs-stable-3_1_1:  https://github.com/pkp/ojs/pull/2251 (only submodule update)

pkp-lib omp-stable-3_1_1: https://github.com/pkp/pkp-lib/p

[2019-01-22 12:42] bozana commented on #4390
@ajnyga, could you please test the patch?

[2019-01-22 12:45] bozana commented on #3803
Merged for stable-3_1_2.
Once I get the master code running I will cherry-pick this with master...

[2019-01-22 13:58] ajnyga commented on #4390
got a 500 error, not sure yet why

[2019-01-22 14:48] ajnyga commented on #4390
@bozana an user agent called `"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.4.2661.102 Safari/537.36; 360Spider"` is still getting through.

Should `/spider/` take care of that? Does the current code work with strings that have capital letters? I thought they do because SemrushBot is gone, but not sure anymore?

[2019-01-22 14:55] bozana commented on #4390
@ajnyga, I'll take a look...

[2019-01-22 16:19] marcbria opened #4396 "Allow editors to have saved views for the submissions list"
**Describe the problem you would like to solve**
Editors tend to perform routine tasks on a regular basis. For example, they may look for all overdue submissions once a week or once a month. Or they may want to review all new submissions to a certain section each week.

In such cases, the editors must remember the unique combination of filters and re-apply them each time.

**Describe the solution

[2019-01-23 04:54] asmecher commented on #4342
Yup, looks like this is a non-issue.

[2019-01-23 04:54] #4342 closed

[2019-01-23 06:20] ajnyga commented on #4342
Not in quicksubmit it seems: https://github.com/pkp/quickSubmit/blob/master/QuickSubmitForm.inc.php

I will test that later today

[2019-01-23 13:33] DigDeep38 commented on #1775
Disable tracking protection in Firefox about:preferences#privacy, Firefox says that there is nothing blocked on the site when you click on padlock, but Recaptcha is. You can check this with Right click - Inspect element.(firefox web console).

[2019-01-23 21:41] asmecher commented on #4342
Thanks, @ajnyga -- merged (and created an `ojs-stable-3_1_2` branch with this as well).

[2019-01-23 21:49] asmecher commented on #4345
Merged, thanks!

[2019-01-23 21:49] #4345 closed

[2019-01-24 01:37] jamshidhashimi commented on #4375
PR:

Pkp/pkp-lib#4397

Please review @asmecher.

[2019-01-24 10:00] marcbria commented on #3253
Today an editor asked me about adding articleID in different email templates.
Looks like a reasonable petition to keep some variables global.

Thanks a for your work,
m.

[2019-01-24 22:33] asmecher commented on #4164
Thanks, everyone! See https://github.com/pkp/pkp-lib/pull/4165#issuecomment-457383779 for a summary.

[2019-01-24 22:33] #4164 closed

[2019-01-25 09:08] kkrebs commented on #4177
Is there anything we can do, to help resolving this issue?

[2019-01-25 19:03] ctgraham opened #4398 "User Import tries to assign user groups without a user id"
The assignment of user groups within the `UserXMLPKPUserFilter` depends on the persistence of a `User` via a `$userId`.
https://github.com/pkp/pkp-lib/blob/a15388c36aa6f2fff03ad34c107d07c8ed56aa89/plugins/importexport/users/filter/UserXmlPKPUserFilter.inc.php#L242

This `$userId` was only assigned, however, if the user was created:
https://github.com/pkp/pkp-lib/blob/a15388c36aa6f2fff03ad34c107d07

[2019-01-26 05:17] asmecher commented on #4375
@NateWr, would you mind looking at this?

[2019-01-26 05:18] asmecher commented on #4177
@kaitlinnewson, could you test the patch in https://github.com/pkp/pkp-lib/issues/4177#issuecomment-436329399 to see if it resolves the issue?

[2019-01-26 05:28] asmecher opened #4401 "Use full title for Google Scholar metadata"
The Google Scholar meta tags currently only have the title available, excluding the prefix, subtitle, etc. Provide the complete title instead.

[2019-01-26 05:29] #4401 closed, assigned to asmecher

[2019-01-26 13:31] alireza08 commented on #4284
Hello,
Does any one know a work around for this problem? currently, we are asking reviewers to take a note for themselves.
@asmecher , can you inform us whether this issue could be included in new version of OJS or not?

Cheers,

[2019-01-28 09:44] #4375 closed

[2019-01-28 09:44] NateWr commented on #4375
This looks great, @jamshidhashimi! I'm confident the tests would have failed if there was a problem so I've gone ahead and merged it.

[2019-01-28 10:37] NateWr commented on #4383
This is a great idea, thanks @ViRuSTriNiTy!

I'm trying to think through the implications here, and figure out what is the best approach. One concern I have with putting it into `Services::get()` is that it's called over and over again. I understand why it can't be in the `init()`, but I also worry that if a plugin can inject a service at any time, we'll end up with a lot of headaches down the lin

[2019-01-28 17:33] bozana commented on #4376
@asmecher, yes, everything fine, you can merge and cherry-pick...

(Do I understand correctly, that the problem was access on submission object in ReviewRoundRequiredPolicy that was not there yet?)

[2019-01-28 18:02] asmecher commented on #4376
Thanks, merged and cherry-picked! Yes, that was the problem, though I'm not sure exactly when the regression happened -- it seems like that always should have been a  problem with the way it was coded...

[2019-01-28 18:02] #4376 closed

[2019-01-28 18:07] jamshidhashimi commented on #4375
Thank you @NateWr!

[2019-01-28 19:01] asmecher commented on #2438
Tests: https://travis-ci.org/asmecher/ojs/builds/485546595

[2019-01-28 19:48] ViRuSTriNiTy commented on #4383
@NateWr Sounds resonable, waiting for response from @asmecher

[2019-01-28 19:51] kaitlinnewson commented on #4177
@asmecher did you meant to tag me in this or @kkrebs?

[2019-01-28 23:57] asmecher commented on #4177
Sorry, yes, I meant to tag @kkrebs.

[2019-01-29 01:33] asmecher commented on #4339
@ptrckb, would you mind attaching a patch for the code change to re-add `DownloadFileLinkAction`?

[2019-01-29 12:31] rochpaul commented on #4177
Hi,

i have spoken with @kkrebs and @paschty.

For a better debugging in code i have add some logs.
I prepared the code this way:

     public function _addFile($submissionFile) {
        error_log('Try to log failure on _addFile(submissionFile) in /ojs/ojs-3.1.0/plugins/generic/sword/classes/OJSSwordDeposit.inc.php');

                $targetFilename = $this->_outPath . '/files/' . $submissionFil

[2019-01-29 12:35] bozana commented on #2438
@asmecher, all good, you can merge... :+1:

[2019-01-29 12:54] paschty commented on #4177
The FLocat look like this now:
`<FLocat LOCTYPE="URL" xlink:href="/tmp/sword6TFw0X/files/Trump_Mueller_and_the_US_Constitution.pdf" />`

[2019-01-29 13:08] bozana commented on #4390
@ajnyga, sorry for the delay :-\
It seems that the regex match is currently case-sensitive: s. https://github.com/pkp/pkp-lib/blob/stable-3_1_2/classes/core/Core.inc.php#L112, and the $regex there is "/spider/" because we only add "/" to each line. In order for it to be case insensitive the $regex should be "/spider/i".
The documentation here https://github.com/atmire/COUNTER-Robots, last sentence

[2019-01-29 13:13] ajnyga commented on #4390
i++

[2019-01-29 15:58] asmecher commented on #2438
Thanks, @bozana! Merged & cherry-picked.

[2019-01-29 15:58] #2438 closed

[2019-01-29 16:07] bozana commented on #4340
Hi @ctgraham and all :-)
I will go step by step to try to understand everything here.
Thus, my first comment, looking first only at one of the questions here:

Yes, admin user is always automatically added as journal manager to each newly created journal. This can be changed only by the admin user, by editing the user admin. Thereby, the admin user could unassign the journal manager role for himse

[2019-01-29 19:46] asmecher commented on #4158
All committed. It'll be included in the OJS 3.1.2 release, but for 3.1.1, it's available in the `ojs-stable-3_1_1-i4158` branch of `asmecher/ojs` and `asmecher/pkp-lib`.

[2019-01-29 19:46] #4158 closed

[2019-01-29 20:03] gurumelo opened #4402 "orphan notes"
If you click on “Create a discussion” but you close the form (unfilled). Orphan note is created in table ```notes```

[2019-01-29 20:14] asmecher commented on #4402
@gurumelo, what version of OJS is this?

[2019-01-29 20:31] gurumelo commented on #4402
Thanks @asmecher
OJS 3.1.1.4.
Sorry, i always forget it

[2019-01-29 21:41] asmecher commented on #4402
Hmm, there's already code in place to remove notes when queries are deleted (https://github.com/pkp/pkp-lib/blob/ojs-3_1_1-4/classes/query/QueryDAO.inc.php#L253..L255); do you see anything in your PHP error log?

[2019-01-29 22:22] gurumelo commented on #4402
Thanks @asmecher

No errors in error.log

## Before:
SELECT * FROM notes WHERE assoc_type = 1048586 AND assoc_id NOT IN (SELECT query_id FROM queries)
**100 rows**

## Action:

![action](https://i.imgur.com/lRBlSJL.gif)

## After:
SELECT * FROM notes WHERE assoc_type = 1048586 AND assoc_id NOT IN (SELECT query_id FROM queries)
**101 rows**

Consequence:
Editorial history doesn't load.
error.log →

[2019-01-30 06:46] bozana opened #4403 "consider case-insensitive bot match"
It seems that the regexp match in Core::isUserAgentBot() is currently case-sensitive: s. https://github.com/pkp/pkp-lib/blob/stable-3_1_2/classes/core/Core.inc.php#L112.
The documentation for COUNTER bot list (s. https://github.com/atmire/COUNTER-Robots) last sentence) says: "When matching against the patterns in this list, we recommend to use case-insensitive matching.".
Thus matching against thi

[2019-01-30 06:47] bozana commented on #4390
I've opened a new issue for that (s. https://github.com/pkp/pkp-lib/issues/4403), so I will close this one...

[2019-01-30 06:47] #4390 closed

[2019-01-30 06:53] ajnyga commented on #4403
My initial thought is: does it matter if https://github.com/pkp/pkp-lib/blob/master/registry/botAgents.txt is checked using case insensitive parameter?

A connected issue is: why do we need two lists? Why not just use the atmire list?

(either you have moved further east or you are awake early?)

[2019-01-30 07:04] bozana commented on #4403
PRs:
pkp-lib stable-3_1_2: https://github.com/pkp/pkp-lib/pull/4404
usageStats stable-3_1_2: https://github.com/pkp/usageStats/pull/9
ojs stable-3_1_2: https://github.com/pkp/ojs/pull/2256 (only submodules updates)

[2019-01-30 07:05] bozana commented on #4403
@asmecher, could you please take a look?
@ajnyga, would it be maybe possible for you to test the patches?

[2019-01-30 07:21] bozana commented on #4403
For both I am not 100% sure :-(
Regarding the second question, s. also https://github.com/pkp/pkp-lib/issues/3209.
@asmecher, what do you think?

Yes, somehow I couldn't sleep :-(
And it seems you never sleep? :-)

[2019-01-30 08:07] ajnyga commented on #4403
Working with OJS is so great, impossible to sleep

[2019-01-30 10:52] NateWr commented on #4340
Uff. I am guilty of introducing the `$user->hasRole()` pattern. It goes against our whole architecture for how we're separating entity classes from DAOs. It was a mistake and I'd like to see it's usage refactored away in favor of the service class method: `UserService::userHasRole()`.

I also agree that when checking `ROLE_ID_SITE_ADMIN` we should explicitly check it against `CONTEXT_SITE`, as @bo

[2019-01-30 14:40] bozana commented on #4340
@NateWr, user->hasRole is OK, it is rather RoleDAO::getByUserId that is buggy...
Thanks for the explanation/comments -- they help! :-)

If everybody agrees, I would suggest just fixing the RoleDAO::getByUserId, those two 'problematic' cases, as well as using always `$user->hasRole(array(ROLE_ID_SITE_ADMIN), CONTEXT_SITE)` (to be more accurate) for now, for the next release 3.1.2, and then do some

[2019-01-30 15:35] bozana commented on #4366
Can this issue be closed?

[2019-01-30 15:59] ctgraham commented on #4366
Yes, all merged.

[2019-01-30 15:59] #4366 closed

[2019-01-30 21:19] asmecher commented on #4403
I haven't dug deeply into this aspect of OJS -- IIRC I introduced the `botAgents.txt` list way back before Counter stats were on our roadmap, and we were counting views in a column for various entities. I'm all in favour of using a unified list, especially if it's externally maintained and aligned with a recognised standard (e.g. Counter). I can't think of any reason to worry about case sensitivit

[2019-01-30 21:49] asmecher commented on #4177
@paschty, try also applying this patch:
https://github.com/asmecher/sword/commit/baac36d64291655e2484125cca6aa26b64b8974f.diff

It'll resolve an error message in your log, which will hopefully result in something more helpful being logged when you try a deposit.

[2019-01-30 21:51] asmecher commented on #4402
@gurumelo, yes, you can delete all these cases (but please take a DB backup before you do). I suspect the case of a cancelled/deleted query may not be the case that causes it, but in any case, it shouldn't cause harm to remove these notes.

[2019-01-30 23:54] gurumelo commented on #4402
Thanks @asmecher. I am going to delete this entries and i will comment results with Editorial History.

[2019-01-31 08:52] bozana commented on #4403
Hmmm... OK. Then I will change it so that only COUNTER list is used and the match to be case-insensitive per default. Any objection?

[2019-01-31 09:36] bozana commented on #4340
@ctgraham, shall I do these changes?

[2019-01-31 09:39] bozana commented on #4234
I cannot reproduce this. Can anybody else?
Else, I would close this issue until someone provides more information...

[2019-01-31 11:17] NateWr commented on #4149
@asmecher I've looked over the discussion here and in https://github.com/pkp/ojs/pull/2167 and it's not clear to me what remains to be done. Does the PR just need review and rebasing against `stable-3_1_2`?

[2019-01-31 11:39] ajnyga commented on #4403
Maybe @ctgraham has an opinion to the issue?

I think that a single list would make sense.

[2019-01-31 13:01] NateWr commented on #3691
PRs for `master`:
https://github.com/pkp/pkp-lib/pull/4406
https://github.com/pkp/ojs/pull/2259
https://github.com/pkp/omp/pull/626

@Vitaliy-1 I switched from using a hook to using a method that is called directly from the plugins themselves. That way we could avoid using the term "article" or "monograph" in the hook name.

Could you take a quick look at these PRs to make sure they look ok? Once

[2019-01-31 15:34] ptrckb commented on #4339
@asmecher This [patch for pkp-lib](https://github.com/pkp/pkp-lib/files/2817557/notes.txt) re-adds the links to the notes in Editorial History.

And they do work with pkp-lib up until fd816017658e0fd7f5abcaca9f3e84dcad4e14ac (ojs pkp/ojs@73a8f07027b74ef1ce86faab4110c533bfef3c20). After that they fail with the message:

You can create a dummy note file on a recent installation with:
[code]
after re

[2019-01-31 15:53] NateWr commented on #4323
@asmecher I've got new PRs for this drawing on @Vitaliy-1's work and implementing [your recommendation](https://github.com/pkp/pkp-lib/pull/4371#issuecomment-455611382). Can you review and merge when you get a chance?

PRs:
https://github.com/pkp/pkp-lib/pull/4407 (master)
https://github.com/pkp/pkp-lib/pull/4408 (3.1.2)

[2019-01-31 15:56] ppv1979 commented on #4214
@defstat, have you already managed to do something with this issue?

[2019-01-31 16:42] ctgraham commented on #4403
The intent of COUNTER is to [exclude all bot traffic](https://www.projectcounter.org/appendices/850-2/) when reporting statistics.  The intent of the [COUNTER Robots](https://github.com/atmire/COUNTER-Robots) repository is not to limit other User Agent strings (or other detection mechanisms) from being use, but rather to provide and official "known bot" list.  If we have a list or method (such as

[2019-01-31 16:58] bozana commented on #3673
PRs:
stable-3_1_2:
ui-library. https://github.com/pkp/ui-library/pull/28
pkp-lib: https://github.com/pkp/pkp-lib/pull/4409
ojs: https://github.com/pkp/ojs/pull/2260
omp: https://github.com/pkp/omp/pull/627

[2019-01-31 17:03] bozana commented on #3673
@ajnyga, could you please test the PRs with your large/big data installation? Let me then know how is the performance. Currently there is no caching, but then we could maybe think of a possible solution...
Thanks a lot!!!

[2019-01-31 17:12] ajnyga commented on #3673
Hi, thanks!

I will try during the weekend. Saw a screenshot already, looks great!

[2019-01-31 18:15] asmecher commented on #4149
Did an equivalent to https://github.com/pkp/ojs/pull/2167 get included in the `master` branch with your form rewrite? If so, and you're OK with https://github.com/pkp/ojs/pull/2167 going into `stable-3_1_2`, then let me know and I'll merge and close.

[2019-01-31 18:15] asmecher commented on #4234
Closing -- this needs feedback from someone who can replicate the problem.

[2019-01-31 18:15] #4234 closed

[2019-01-31 19:29] Vitaliy-1 opened #4410 "Catalog Category page: $total variable is always 0"
Tested with the master branch. Variable shows zero when a category contains articles: https://github.com/pkp/ojs/blob/master/templates/frontend/pages/catalogCategory.tpl#L18

[2019-01-31 19:33] Vitaliy-1 opened #4411 "OMP category pages show duplicated published items"
Version: master branch
2 articles in the category but 4 is shown in the order: 1st 2nd 2nd 1st.
https://github.com/pkp/ojs/blob/master/templates/frontend/components/articleList.tpl#L10

[2019-01-31 19:42] asmecher commented on #4411
@NateWr, mind taking a look?

[2019-01-31 20:10] asmecher commented on #4323
@NateWr, looks good, but the warning message needs updating!

[2019-02-01 00:35] asmecher commented on #4073
@eirikhanssen, a few comments on these...
- The `roles` and `group_memberships` tables are probably left-over data from an OJS 2.x install; they aren't used in 3.x.
- The `stage_assignments` table is coded for transfer in `UserAction::mergeUsers` already. Are you sure it's not being transferred?
- The `notifications` table is now transferred (per recent commits to the `master` branch).

[2019-02-01 01:13] asmecher commented on #4403
Do we have a use case where the check should be case-sensitive? If not, maybe better to just make it case insensitive everywhere.

[2019-02-01 01:38] jamshidhashimi commented on #1576
Hi @asmecher. Currently `ContextAccessPolicy` is not called when dealing with `Submissions`. Having the `UserRequiredPolicy` check in `ContextAccessPolicy` is only triggered in the `Settings` section for example. This may need some work to do, to keep things aligned there. For now, as `ContextAccessPolicy` is extending `ContextPolicy`, putting `UserRequiredPolicy` check in the `ContextPolicy` gets

[2019-02-01 13:16] amandastevens opened #4412 "Show "New Submission" button on dashboard for reviewers"
All registered users in OJS are able to make a submission and can see the "Make a Submission" button on a journal's homepage, regardless of whether they have the Author role (in standard configurations).  However, on the backend submissions dashboard, the "New Submission" button is only visible to users in the Author role and not to Reviewers.  This can be confusing when someone registers for a us

[2019-02-01 13:34] Vitaliy-1 opened #4413 "Custom Page can't be saved if disable_path_info is set to on"
OJS version: 3.1.1-4
To reproduce:
in config.inc.php: `disable_path_info = On`
`Settings -> Webiste -> Navigation Menus -> Add item -> Custom Page -> Save`

Browser's console output on my test instance:
[code]
Nothing related in the PHP error log.
Related to: https://forum.pkp.sfu.ca/t/cant-add-item-custom-page-to-navigation-menu-items-in-3-1-1-4/51067

[2019-02-01 14:22] nim0x commented on #4412
+1

As Assistant Editor I've received messages from confused reviewers who wanted to make submissions from within the backend and weren't able to find the button.

[2019-02-01 15:23] ptrckb commented on #4412
We had the same request from one of our journals and ended up writing a [plugin enabling the 'New Submission' button also for reviewer](https://gricad-gitlab.univ-grenoble-alpes.fr/bernaupa/ojs-would-be-author).

[2019-02-01 16:31] asmecher commented on #4413
The issue is the use of a parameter called `path`, which is reserved for the router when `disable_path_info` is turned on. This appears in a few forms...

- `plugins/generic/staticPages/templates/editStaticPageForm.tpl`
- `lib/pkp/templates/controllers/grid/settings/category/form/categoryForm.tpl`
- `lib/pkp/templates/controllers/grid/navigationMenus/form/navigationMenuItemsForm.tpl`
- `templates/

[2019-02-01 17:08] asmecher commented on #4413
@defstat, the reqiured change is https://github.com/asmecher/pkp-lib/commit/87a132a5c6767fb9997915bae9c7783e608ec19d -- but I'd like your confirmation that this was actually dead code. I can't find it used anywhere and suspect it was from an earlier iteration of the custom nav menu item form.

[2019-02-01 21:24] #4410 closed, assigned to asmecher

[2019-02-03 15:38] asmecher commented on #2717
@ajnyga, did this one get left open by accident?

[2019-02-03 15:39] asmecher commented on #2130
(Clearing the milestone in favour of higher-prioritized issues, unless someone is feeling ambitious/motivated...)

[2019-02-03 15:42] asmecher commented on #2050
Duplicate of https://github.com/pkp/pkp-lib/issues/4149.

[2019-02-03 15:42] #2050 closed

[2019-02-03 17:44] asmecher commented on #2717
Thanks!

[2019-02-03 17:44] #2717 closed

[2019-02-04 09:38] NateWr opened #4414 "Context path property creates conflict when disable_path_info is enabled"
From @asmecher:

In this case we can rename the `path` property of a context to `urlPath`.

[2019-02-04 09:51] NateWr commented on #4411
`articleList.tpl` is is re-used in a few places, and the article objects are passed into it. Wherever the article objects are duplicated will come from where the template is invoked. Do you know where that is?

[2019-02-04 10:28] NateWr opened #4415 "Consider a base SubmissionGroup class Issues, Sections, Categories, etc"
This issue splits off from a previous [conversation](https://github.com/pkp/pkp-lib/issues/4158#issuecomment-435852250) and proposal about a possible base class, `SubmissionGroup`.

- **Issue** - As-is with some extra stuff for special issues
- **Collection** - One-off collections of previously published material
- **Section** - Submission types (Articles/Reviews/etc)
- **Series** - Book series'
-

[2019-02-04 10:32] ajnyga commented on #4415
(just to be more specific, all of them probably can get a DOI _technically_, but for example Crossref probably does not allow registering of each type)

[2019-02-04 10:50] NateWr commented on #4323
Woops! Obviously not paying enough attention! I've fixed and merged. :+1:

[2019-02-04 10:50] #4323 closed

[2019-02-04 11:08] NateWr commented on #4149
Ok, I remember now. It looks like the property and the form are in `master`, but not the changes to the OAI and metadata handlers. I've merged your PR to the stable branch. For master, I've cherry-picked your commit in and discarded the form changes.

PR:
https://github.com/pkp/ojs/pull/2261

Once the tests pass this can be merged and closed.

[2019-02-04 14:40] ctgraham commented on #4231
The use case we have on this is reported as follows:

[2019-02-04 16:34] Vitaliy-1 commented on #4411
In my case, it's coming from this page: https://github.com/pkp/ojs/blob/master/templates/frontend/pages/catalogCategory.tpl that I'm overridden from a theme plugin.

[2019-02-04 19:39] asmecher commented on #4215
Agreed, the `parent::execute` call should be responsible for the hook. Go ahead, thanks!

[2019-02-04 19:59] jamshidhashimi commented on #3831
So wherever I saw `core:` is used, I chcked if any such template exists in `/templates/<path>`. If it did, then I kept the `core:` prefix. Otherwise I removed the `core:` prefix.

PR:
https://github.com/pkp/pkp-lib/pull/4416

Please review @asmecher @NateWr.

[2019-02-04 20:11] asmecher commented on #3831
@NateWr, mind if I leave this one with you? Thanks!

[2019-02-04 20:21] asmecher commented on #4149
The `disable_path_info` test failed, but the rest are OK. Merging and closing, thanks!

[2019-02-04 20:21] #4149 closed

[2019-02-04 20:35] ctgraham opened #4418 "Update COUNTER robot list"
The upstream repository is well ahead of us:
https://github.com/atmire/COUNTER-Robots/tree/7134f6dbc157ecbf44c8f6829f13b4f873fdd805

vs.

https://github.com/pkp/pkp-lib/issues/3204

[2019-02-04 20:55] asmecher commented on #4418
Assigning to you, @bozana, since you're already working with the COUNTER bot list :)

[2019-02-04 20:57] #4293 closed

[2019-02-04 20:57] asmecher commented on #4293
Merged and cherry-picked to `stable-3_1_2`, thanks!

[2019-02-05 07:23] Vitaliy-1 opened #4419 "Unpublish issue: JSON parsing error"
OJS 3.1.1-4.
After pressing `unpublish issue` button I'm getting:
[code]
But issue is actually beeing unpiblished.
I don't see any relevent information under the network Chrome's tab. There are 3 responses with status code 200. @NateWr I suppose you know better where the problem might be.

[2019-02-05 07:38] Vitaliy-1 opened #4420 "Journal Settings: confusing message"
OJS 3.1.1-4.
Upon deleting the section, user receives the message:
`Before this section can be deleted, you must move articles published within it into other sections.`
But actually, I was able to remove the section when all _submitted_ articles were moved to another section or deleted.

[2019-02-05 08:02] bozana commented on #4403
Yes, I will then just make it case insensitive everywhere. Now I am just not sure if we should use just the COUNTER list or both (COUNTER and botAgents.txt) :-\
@asmecher, where do we have this other list botAgents.txt and how do we maintain it?

[2019-02-05 08:20] #4418 closed

[2019-02-05 08:21] bozana commented on #4418
I would then do the same for stable-3_1_2... OK?

[2019-02-05 08:36] ajnyga commented on #4228
and the tests failed again. This time because on npm dependencies, but I thought those are handled during the tests. If I now do npm install and try to push changes to the branch, there are no changes.

Just want to point out again, that I am using tens of times more time to trying to make these tests work that doing actual coding. A clear guide how to do this would be wellcome.

[2019-02-05 08:48] ajnyga commented on #4228
or it is probably a larger problem with the build state? https://github.com/pkp/ojs ?

[2019-02-05 10:16] NateWr commented on #4411
@asmecher that looks like it's coming from the new categories stuff. Do you still want me to look into it?

[2019-02-05 10:48] NateWr commented on #4419
What happens to the user interface? Does it just hang on the loading spinner or does it complete the process?

[2019-02-05 11:11] NateWr commented on #4228
PR:
https://github.com/pkp/pkp-lib/pull/4423

Tests passed:
https://github.com/pkp/ojs/pull/2263

Merged and closing!

[2019-02-05 11:11] #4228 closed

[2019-02-05 11:54] NateWr commented on #3673
@ajnyga tested this out on his massive metrics table and identified some key issues for us to work on. I'm going to break it down into two posts. First, on performance. Some quick stats:

- ~50 seconds to load the last 90 days
- 54 seconds for all dates (going back to May 2014)
- 58 seconds when using a search phrase
- 1.82 seconds for a single submission (`/api/v1/stats/publishedSubmissions/{id}`

[2019-02-05 12:00] GrazingScientist commented on #2246
@asmecher Did you have the time to pursuit this issue further?

[2019-02-05 12:00] NateWr commented on #3673
@ajnyga also identified some bugs and things to fix.

- [ ] "a minor issue is that when you have older statistics data, it is saved without any specific date. For example in our case OJS2 was installed already back in 2007 and the old stats were migrated during some OJS2 upgrade so that all old data is saved in a single line per submission. However, when that is now visualized, all that old data i

[2019-02-05 12:04] ajnyga commented on #3673
Actually not that confident anymore. Seem that the queries that touch metrics table are fairly fast already. It is probably the amount of subqueries that slow down the whole thing when they are applied to 30 submissions.

[2019-02-05 13:03] NateWr commented on #3831
Looks good, @jamshidhashimi! Can I get you to run the tests for OJS to ensure there's no regression here. In order to run the tests, you need to prepare a PR for OJS which adds the submodule and a special submodule commit. This will kick off the tests.

Here's a step-by-step:

1. Get the latest `master` version of OJS.
[code]

2. Check out a new branch:

[code]

3. Make sure the `lib/pkp` submodul

[2019-02-05 15:37] ctgraham commented on #4403
There are only a few entries in our "botAgents.txt" that are not already covered by the COUNTER list:
[code]

Sampling some recent data, I see the following counts/matches in our logs currently:
[code]

The strings "008", "IDS", and "Voyager" seem to be false-positives or redundant.

The others could be submitted as pull requests to COUNTER, and the local botAgents.txt could be removed.

[2019-02-05 20:14] bozana commented on #4340
@ctgraham, could you maybe take (and eventually test) the PRs? -- I think all issues from here should be solved now...
@NateWr, maybe you would like to check/see the changes too?

[2019-02-05 20:22] asmecher commented on #2358
Considering this done! The two plugins are in the plugin gallery and maintenance will continue there.

[2019-02-05 20:22] #2358 closed

[2019-02-05 20:26] asmecher opened #4428 "Permit API key to be used for content exposure (OAI/article view)"
Currently (since https://github.com/pkp/pkp-lib/issues/4149) the OAI interface only exposes published content URLs if the publishing front-end is enabled. Likewise, the article URLs don't work if publishing is disabled.

However, some journals want a way to expose content via OAI even when it's not published via OJS. (e.g. Coalition Publi.ca).

Proposal: Use the HTTP `Authentication` header and AP

[2019-02-05 20:48] ajnyga commented on #4228
@NateWr

This is a better version of the changes above. Tests passed.
OJS: https://github.com/pkp/ojs/pull/2264
pkp-lib: https://github.com/pkp/pkp-lib/pull/4425

The new logic is:

[2019-02-05 21:07] pilasou opened #4429 "[OJS] Multilingualism and file name metadata issue in OJS 3"
Hi,

There are some misbehavior with Multilingualism and file name metadata in OJS 3.

I describe below how to reproduce the problem:

1. - Activate bilingualism in OJS 3 (french and english) for Forms (Parameter > Website > Language)
2. - Make a new submission with the interface in English.
3. - When uploading the file select Article Text.
4. - At the Metadata step, click on edit then click on th

[2019-02-05 21:08] jmacgreg commented on #3770
Hi @asmecher, just testing this now. I can a notification configuration option in the user preferences panel: only for "A new article, "Title," has been submitted.". I think that controls whether # 2 is sent or not. You suggest above that there should now be an additional configuration option for # 3 as well (that is, for the notification that includes "A new article has been submitted to which an

[2019-02-05 21:15] jmacgreg commented on #3770
To clarify the problem here: if an editor doesn't touch their notification settings, and doesn't assign an SE to a given section, they will likely receive two emails on submission:

- one notifying them of a new submission (body: "A new article, "(article title)" has been submitted."), which can be configured;
- and one notifying them of a new submission that needs to be assigned ("A new article h

[2019-02-05 21:33] asmecher commented on #3770
@jmacgreg, have you pulled in the PRs above, or is this just the stock pre-3.1.2 stable testing install?

[2019-02-05 21:39] jmacgreg commented on #3770
Oh dang, I thought this was already committed!! My bad. I'll pull those PRs and retest.

[2019-02-05 22:04] amerritt14 opened #4430 "Wrap orcid url in a div instead of span"
In `ojs/templates/frontend/objects/article_summary.tpl:47` the code calls
[code]
to retreive the author information. This string is not formatted in the same way as it is in `article_details.tpl`.
The major flaw is that the author's orcid url is wrapped in
[code]
Span's do not (by default) force line breaks like divs do, and as such it is pulling the next line of text up on the same line as the ur

[2019-02-06 02:34] jamshidhashimi commented on #3831
Hi @NateWr. Thank you. Following your instructions, created the submodule update to trigger tests.

PR:
https://github.com/pkp/ojs/pull/2266

[2019-02-06 10:08] bozana opened #4432 "consider username and email import mismatch"
When importing user, we look if that user already exists, s. https://github.com/pkp/pkp-lib/blob/stable-3_1_2/plugins/importexport/users/filter/UserXmlPKPUserFilter.inc.php#L157-L159.
1) In the case where that user already exists, we also send the e-mail USER_REGISTER: https://github.com/pkp/pkp-lib/blob/stable-3_1_2/plugins/importexport/users/filter/UserXmlPKPUserFilter.inc.php#L248-L255. This sh

[2019-02-06 10:40] NateWr commented on #4340
Had a quick look and everything looks good to me. :+1:

[2019-02-06 10:42] NateWr commented on #4228
:+1:

[2019-02-06 10:45] NateWr commented on #3831
Thanks @jamshidhashimi! Tests passed and I've merged it in. :+1:

[2019-02-06 10:45] #3831 closed

[2019-02-06 11:12] bozana commented on #4398
merged, thus closing...

[2019-02-06 11:12] #4398 closed

[2019-02-06 11:35] bozana commented on #4432
PRs:
stable-3_1_2:
pkp-lib: https://github.com/pkp/pkp-lib/pull/4433
ojs: https://github.com/pkp/ojs/pull/2268 (only submodule update)
omp: https://github.com/pkp/omp/pull/628 (only submodule update)

master:
pkp-lib: https://github.com/pkp/pkp-lib/pull/4434

[2019-02-06 11:36] bozana commented on #4432
@asmecher, I created a new issue for the discussion here: https://github.com/pkp/pkp-lib/pull/4399

And, me crazy, I already merged the PRs :-\ Could you take a look if OK so?

[2019-02-06 12:01] bozana commented on #3784
maybe this would be good to consider in 3.1.2...

[2019-02-06 12:02] bozana commented on #3803
Just a note, that this issue is finished for 3.1.2, just waiting to be ported to master...

[2019-02-06 12:34] ajnyga commented on #3340
Can this go to 3.1.2?

[2019-02-06 13:28] NateWr commented on #3340
Yes, if you can provide a PR for it for `master` and `stable-3_1_2`.

[2019-02-06 13:46] NateWr commented on #3673
With @ajnyga's help, we tracked down the performance issues to a missed cache for issue lookups, which led to an extraordinary number of sql queries (80k+) for sites with a lot of issues across all contexts.

We've now got a request to `/stats/publishedSubmissions` on his large metrics table down to 6.85 seconds. I'm comfortable with this for 3.1.2, though we can continue to improve the speed in t

[2019-02-06 14:24] NateWr commented on #4428
Just double-checking: these OAI requests would be owned by the journal manager or admin? Anyone with a journal manager's API key will be able to perform read _and_ write requests to all API endpoints.

[2019-02-06 15:07] jmacgreg opened #4435 "Update Articles & Issues import/export plugin (and others?) for new author name options"
This relates to the work done in #2958, where we now have the option for given name, family name, and preferred public name. If I try and import XML from an older OJS 3.x install (< 3.1.2), the old firstname/middlename/lastname fields are used, and don't match what's now expected in the plugin; so I get the following error:

`Element '{http://pkp.sfu.ca}firstname': This element is not expected. Ex

[2019-02-06 15:21] NateWr opened #4436 "OJS categories include catalog prefix in the URL"
The new browse-able categories in OJS include `catalog` in their URL.

[code]

This should be dropped so that categories come directly off of the context path:

[code]

The URL naming pattern should probably be plural, too, so that we can eventually have a sensible name for an index page that lists all categories:

[code]

There are [UX and SEO reasons](https://moz.com/learn/seo/url) for this, but

[2019-02-06 15:30] pilasou commented on #4429
Some more information to help understand the issue I posted. I join 2 images of the File Upload window during the submission process (taken from OJS TestDrive https://demo.publicknowledgeproject.org/ojs3/testdrive/).

Bilingual file name metadata: the second one will never be updated unless the editor manually do so.
![file_meta_bilingual](https://user-images.githubusercontent.com/19291880/5235198

[2019-02-06 15:54] NateWr commented on #4414
PRs:
https://github.com/pkp/pkp-lib/pull/4437
https://github.com/pkp/ojs/pull/2269
https://github.com/pkp/omp/pull/629

@asmecher This fixes the issue for contexts. They're the only entity using the prop as an API param, so the only ones with the conflict now. However, I noticed that Categories, NavigationMenuItems and UserGroups also have a `path` property.

Should I refactor those now to avoid c

[2019-02-06 16:47] jmacgreg commented on #3770
Thanks for bearing with me in this test round, Alec! I'm very happy to say that, after the PR checkout, it looks like this all works as advertised:

- I now have two configuration options: to get notifications/emails for new content generally, and for new content for which an editor needs to be assigned.
- If I submit content against a section with a pre-assigned reviewer, the assignment requireme

[2019-02-06 16:47] fabiobatalha commented on #4428
The other use case is related to the under embargo journal contents. To expose the content that have their access controlled by embargo.

[2019-02-06 18:48] asmecher commented on #3784
Sure, if you like!

[2019-02-06 18:54] ajnyga commented on #3340
Here is the pr for master branch: https://github.com/pkp/pkp-lib/pull/4439

Again, if I try to do a submodule update and a pull request in OJS, there are 15 commits visible there. Although I fetched latest master branch pushed to my own repository and then created a new branch for the pull request using the upstream/master branch. There is something I do not understand.

[2019-02-06 19:06] asmecher commented on #4228
@ajnyga, the tests can indeed be time-consuming to debug :P Let me know if I can walk you through part of this sometime!

[2019-02-06 19:07] ajnyga commented on #3340
and then it just worked...

Master
pkp-lib: https://github.com/pkp/pkp-lib/pull/4440
ojs submodule update: https://github.com/pkp/ojs/pull/2270

[2019-02-06 19:09] asmecher commented on #4428
@NateWr, good point. Actually, a "subscription manager" role would be enough for this -- I suggest we recommend a user account with just that role. And this will be worth considering for more granular API key generation in the future, which I understand the JWT spec we're using supports.

@fabiobatalha, yes, thanks -- the proposed approach would work for that too.

[2019-02-06 19:20] ajnyga commented on #3340
Stable-3_1_2 (possibly not so stable after this pr):
pkp-lib: https://github.com/pkp/pkp-lib/pull/4441

[2019-02-06 19:28] ajnyga commented on #4228
sure, there are plenty of failed tests here, no idea why since I only changed one file: https://github.com/pkp/pkp-lib/issues/3340

[2019-02-06 19:42] asmecher commented on #4228
@ajnyga, https://travis-ci.org/pkp/ojs/builds/489693357 failed because the changes appear to break the installation form; it looks like the changes result in the DB being accessed before the install form has been submitted.

[2019-02-06 19:44] ajnyga commented on #4228
yeah, saw that. Just do not understand how this affects the installation: https://github.com/pkp/pkp-lib/pull/4441/files

[2019-02-06 19:48] asmecher commented on #4436
Hi @NateWr -- I gave this a bit of thought and went with `catalog` both for consistency with OMP and to keep aligned with our (centuries-old) `page`/`op` URL scheme. We may also need more of the OMP `catalog` URL namespace for https://github.com/pkp/pkp-lib/issues/1407. In any case, I'm open to changing this, but nervous about introducing these new endpoints and then changing them in the next rele

[2019-02-06 19:52] asmecher commented on #4228
Ah: the version information is stored in the database. Adding code to fetch it in the template manager results in an attempt to access the DB before it's created, when the installation form is built.

To avoid this, you can put the version fetch code into a conditional:

    if (!defined('SESSION_DISABLE_INIT')) {
        ...
    }

This constant will be defined in situations where we can't trust

[2019-02-06 19:54] ajnyga commented on #4228
ok, will do that tomorrow...

[2019-02-06 20:07] asmecher commented on #4414
That looks good -- please go ahead.

I don't have a strong opinion on fixing this now or when it becomes a problem. If it's quick & easy for you to tack on, then go ahead and fix the others in the `master` branch (but don't get too fussed about porting to `stable-3_1_2`).

[2019-02-06 20:21] asmecher commented on #3770
Thanks, @jmacgreg -- all merged!

[2019-02-06 20:21] #3770 closed

[2019-02-06 20:35] mtub commented on #4335
Hi @Ph-We, all of the keys you have mentioned are part of the Russian translation of OJS in both the stable branch (`stable_3_1_2`) and in the `master` branch. The translations should be part of your installation even when you install from the git repository. Could you check if your locale files are the same as the ones on GitHub?

[2019-02-06 20:35] asmecher commented on #4432
Not a problem -- thanks, @bozana! Closing now.

[2019-02-06 20:35] #4432 closed

[2019-02-06 20:39] asmecher commented on #4430
@NateWr, would you mind popping a few suggestions in here? @amerritt14, in the meantime, the `getAuthorString` function is implemented in `lib/pkp/classes/submission/Submission.inc.php`. Thanks all!

[2019-02-06 21:17] asmecher commented on #4403
Hmm, no strong preference about where to keep the COUNTER submodule, but maybe `lib/pkp/lib`?

[2019-02-06 22:08] asmecher commented on #4435
@jmacgreg, the native import/export toolset isn't intended to maintain backwards- or forwards-compatibility; t'was ever thus. Manual work may be required to adapt XML between different versions of OJS.

[2019-02-06 22:08] #4435 closed

[2019-02-07 01:30] asmecher commented on #4428
PRs:
- https://github.com/pkp/pkp-lib/pull/4444
- https://github.com/pkp/ojs/pull/2272

How to use it:
- Ensure that an `api_key_secret` has been entered in your `config.inc.php` configuration file.
- As a journal manager, create a new user with a "Subscription Manager" role.
- Log in as that user.
- Go to the "API Key" tab of the User Profile.
- Turn on both the settings:
   [x] Enable external a

[2019-02-07 01:30] asmecher commented on #4428
@NateWr, would you mind taking a look at the PRs?

[2019-02-07 01:52] gurumelo commented on #4402
Hi @asmecher

[code]

Same result. Editorial History doesn't work. Always loading.

I look that, in this issue, with all roles. I can download files attached. Click on it
But if i display file → More Information → display → download → error (no roles)

![https://i.imgur.com/HQPC2Y0.png](no)

[2019-02-07 03:59] asmecher commented on #4419
@Vitaliy-1, I'm pretty sure this is an already-resolved issue (https://github.com/pkp/pkp-lib/issues/4072) -- do you still see it with the `ojs-stable-3_1_1` branch (both `ojs` and `pkp-lib` repos)?

[2019-02-07 08:00] Ph-We commented on #4335
Hi @mtub, thank you! We use only the released packages. Those keys seems to have disappeared from many translations in `sumbission.xml` in the 3.1.1.4 release:
![capture1](https://user-images.githubusercontent.com/22288161/52396844-56385600-2ac4-11e9-95e0-f7b8b8347012.PNG)

Thus, the `submission.submit.availableUserGroups` is **only** present in the following locales:
![capture2](https://user-imag

[2019-02-07 09:13] NateWr commented on #4436
I hear ya. My worry is putting it out as `catalog` in 3.1.2 and then needing to modify it -- although if we had to, the gap between 3.1.2 and 3.2 would probably be the least disruptive.

I just think that `catalog` feels off for OJS, and if we're sharing code like this we should try to find a way to separate the actual `page`/`op` and the code underneath. Maybe just a parent class in each app that

[2019-02-07 09:15] NateWr opened #4446 "Support categories in default theme"
#4158 introduced categories and browsing by categories to OJS. Our default theme should style these pages. Ideally, all of our themes will support this, but at the very least our default theme should with 3.1.2.

Sorry to chuck this into 3.1.2 so late, @asmecher, but it just occurred to me.

[2019-02-07 09:16] ajnyga opened #4447 "[OJS] Newly created journals do not have publishingMode setting"
When a new journal is created in OJS3, it does not get a publishingMode setting. The setting is only saved when the publishing mode form is saved for the first time.

To avoid possible existing and future problems with checks related to publishingMode (like `if ($journal->getSetting('publishingMode') == PUBLISHING_MODE_OPEN)` ) we should

1. Change the creation of new journals so that a default (0

[2019-02-07 09:26] NateWr commented on #4414
:+1: I've gone ahead and merged as-is. I've only done this for `master`, not `stable-3_1_2`, because this should only be a problem in `master`, right? I don't think `stable-3_1_2` has any of the schema/api/form stuff that lead to this.

[2019-02-07 09:27] NateWr commented on #3691
@Vitaliy-1 a reminder that I'm still hoping you'll take a quick look at the code here to make sure it looks alright.

[2019-02-07 09:40] NateWr commented on #4430
Hi @amerritt14! It looks like you are using the Bootstrap3 theme. The `article_summary.tpl` and `article_details.tpl` files will be [different with that theme](https://github.com/NateWr/bootstrap3/tree/master/templates/frontend/objects).

It looks like 10 months ago the `<span>` was changed to a `<div>` in that theme for precisely the reasons you specify: https://github.com/NateWr/bootstrap3/issue

[2019-02-07 09:40] #4430 closed

[2019-02-07 09:55] NateWr commented on #3340
Otherwise it looks good @ajnyga. Happy to merge once the tests are passing. :+1:

[2019-02-07 11:34] NateWr commented on #4414
@asmecher, for some reason this hasn't fixed the `disable_path_info` tests. (Shouldn't have been merged but I got my PRs/tests mixed up and thought they'd passed.)

The tests are returning an error which I can't reproduce locally:

[code]

I'm having some issues with the vagrant for testing, which I've posted in Slack.

I've lost my own testing VM (it auto-upgraded Ubuntu and broke everything :cry

[2019-02-07 11:53] tgc opened #4448 "RIS template does not conform to format specification"
We just ran into this issue and found that it had already been diagnosed on the forum here:
https://forum.pkp.sfu.ca/t/citation-style-language-plugin-problem/49755/5

The patch just adds the missing spaces as suggested.

[2019-02-07 11:54] Vitaliy-1 commented on #3691
Yep, the code looks perfect and it works as expected. My only concern for the hook was that it can be used later by plugins to add data to HTML from OJS.

[2019-02-07 12:03] Vitaliy-1 commented on #4419
Yes, this is the same error and is resolved. I see that stable 3.1.1 branch already contains necessary changes. Closing.

[2019-02-07 12:03] #4419 closed

[2019-02-07 12:13] NateWr commented on #4428
Looks good. I left a few minor comments. I was a bit nervous about opening it up to every page handler so I like how you've made the API key "opt-in" for each handler. :+1:

[2019-02-07 12:20] NateWr commented on #3691
:+1: Thanks! I thought about that, but I think for themes we'll want to wrap this into the Theme API methods for `addStyle`, and maybe add an `addHeader` method, so that theme developers don't have to wrestle with hooks and modifying the HTML content directly.

[2019-02-07 12:20] #3691 closed

[2019-02-07 12:37] amerritt14 commented on #4430
Perfect, I'll work on updating that theme to the fixed version! Thanks so much for the help.

[2019-02-07 12:55] mtub commented on #4335
Those lines have been added last year to the `master` branch. They have been introduced (to the English locale) ~10 months ago in this commit: https://github.com/pkp/pkp-lib/commit/e6f96344a4afaf960b5f30d9e70d61a47b293f49. The new stable release (now maintained in `stable-3_1_2`) has been built from the `master` branch. Apparently, the ru_RU locale update to the master branch has never been ported

[2019-02-07 13:10] ajnyga commented on #4447
hmm, or does that actually return false which is == 0? You can close this right away if so.

[2019-02-07 13:27] ajnyga commented on #3340
if try to restart the tests it now says that there are conflicts, but does not let me to resolve them.
I do not think I have the time to continue with this right, I have a ton of work with our own service. So I guess just leave the 3.2 milestone there.

[2019-02-07 14:16] NateWr commented on #3340
Master:
https://github.com/pkp/pkp-lib/pull/4449
https://github.com/pkp/ojs/pull/2273 (tests only)

3.1.2:
https://github.com/pkp/pkp-lib/pull/4450
https://github.com/pkp/ojs/pull/2274 (tests only)

[2019-02-07 14:31] NateWr commented on #4411
This problem exists in OMP too.

[2019-02-07 14:51] NateWr opened #4451 "Category thumbnails are too small in OJS"
The category cover images in OJS create thumbnails like in OMP. But OJS doesn't have a setting for changing the thumbnail size and the thumbnails that are generated are too small.

Related: https://github.com/pkp/pkp-lib/issues/787

[2019-02-07 15:06] forgive38 opened #4452 "[OJS] when display old notes, date can be confusing"
Hi all,

When we have a query with old notes older than a year, the date is always displayed with M / d. So you do not have the year and sometimes (several times;)) the deadline for managing a submission is more than one year.
Like in :
https://github.com/pkp/pkp-lib/blob/e39592b3725cd1c7977a98ad27f9fabe3aef4ffb/controllers/grid/queries/QueryNotesGridCellProvider.inc.php#L49

I propose something l

[2019-02-07 15:16] Ph-We commented on #4335
Dear @mtub, thank you so much for this clarification.  It was my memory, which played me a trick, I was 100% sure I had already seen those keys translated earlier.
The issue may be closed then. Sorry for bothering you.

[2019-02-07 15:52] NateWr commented on #4446
PRs (master):
https://github.com/pkp/pkp-lib/pull/4453
https://github.com/pkp/ojs/pull/2275
https://github.com/pkp/omp/pull/632

PRs (3.1.2):
https://github.com/pkp/pkp-lib/pull/4454
https://github.com/pkp/ojs/pull/2276
https://github.com/pkp/omp/pull/633

[2019-02-07 15:57] NateWr commented on #4411
This seems to have been resolved for OJS with some changes made for #4446. The effective change seems to have been removing usage of `articleList.tpl`.

However, it still impacts OMP's category page, and nothing jumped out as obviously the cause of it. I'll try to take a look at it.

I'll rename the issue and assign it to 3.2, but if that change doesn't fix things in OJS, please let me know @Vital

[2019-02-07 16:30] bozana commented on #3803
I will then close this issue for now -- so it is not any more open for 3.1.2 -- but will provide PRs for master then later...

[2019-02-07 16:30] #3803 closed

[2019-02-07 16:31] bozana commented on #3804
s. https://github.com/pkp/crossrefReferenceLinking
Needs porting to master
Closing for now -- so it is not open any more for 3.1.2...

[2019-02-07 16:31] #3804 closed

[2019-02-07 17:40] bozana opened #4455 "use COUNTER bot list instead of botAgents.txt"
The COUNTER bot list (s. https://github.com/atmire/COUNTER-Robots) should be used instead of the currently used pkp/lib/registry/botAgents.txt.
s. discussion here: https://github.com/pkp/pkp-lib/issues/4403

[2019-02-07 17:41] #4403 closed

[2019-02-07 18:00] asmecher commented on #4428
@NateWr, yes, there's a little bit of code duplication but not much -- if it needs using more than twice maybe a helper in `PKPHandler` is justified.

Thanks for the review -- I've addressed your notes and merged the PRs and will forward-port to `master` shortly.

[2019-02-07 18:11] asmecher commented on #4428
Cherry-picked forward to `master`.

[2019-02-07 18:12] bozana commented on #4455
PRs:
stable-3_1_2:
pkp-lib: https://github.com/pkp/pkp-lib/pull/4456
usageStats: https://github.com/pkp/usageStats/pull/12
ojs: https://github.com/pkp/ojs/pull/2277 (only submodules updates)
omp: https://github.com/pkp/omp/pull/634 (only submodules updates)

[2019-02-07 18:14] bozana commented on #4455
@asmecher, could you take a look at the PRs?

[2019-02-07 19:16] #4335 closed

[2019-02-07 19:36] asmecher commented on #3340
@ajnyga, I think Nate's working to get the tests passing per the above comment, but about testing in general: it seems to have gotten less stable recently, leading to intermittent failures, plus we've recently added testing for `disable_path_info` mode which is not especially reliable. I'm working on this now (and will continue in the next couple of weeks) but if this is a blocker, please don't sp

[2019-02-07 19:43] asmecher commented on #4414
@NateWr, you're right, `stable-3_1_2` tests are working (though not especially reliably). This issue only seems to affect `master`.

I'll work with the tests locally to see if I can figure out what's happening.

[2019-02-07 20:39] asmecher commented on #4414
@NateWr, the problem I get in `master` when creating a journal is this:

![ss](https://user-images.githubusercontent.com/200411/52441331-2f365000-2ad5-11e9-88fc-2ee62345e130.png)

It looks to me like the Slim routing for the `POST` request to create a journal isn't working. I get a warning in the PHP error log:
[code]
I can replicate this behaviour locally by trying to create a context with `disab

[2019-02-07 20:47] ajnyga commented on #3340
i think the tests above died in the same stage as yesterday although they should have the required check https://github.com/pkp/pkp-lib/pull/4449/files#diff-a52d1f134c8e119d3cdb2e280b60ac82R1509. I am busy with other journal.fi stuff for the next couple of days and the release date for 3.1.2 is coming rather quickly, so it is fine for me that this is left for next release. It is a easy patch to do

[2019-02-07 21:00] asmecher commented on #4447
Yes, a missing setting is equivalent to `PUBLISHING_MODE_OPEN` (0) because we're not using strict comparisons here. But thanks for the eagle eyes :)

[2019-02-07 21:00] #4447 closed

[2019-02-07 21:06] asmecher commented on #4451
Ah, I remember this -- there are hard-coded defaults in https://github.com/pkp/pkp-lib/blob/3f0188caf2db1620e428e025e32e3eec9c67b64f/controllers/grid/settings/category/form/CategoryForm.inc.php#L251..L252 that I threw in and forgot.

OMP's thumbnail size defaults are in `AppearanceAdvancedForm.inc.php` -- but they're used in a few more places in OMP than they are in OJS. Is it worth chucking this

[2019-02-07 21:23] asmecher commented on #4455
Looks good, just one minor comment! Please go ahead.

[2019-02-08 08:50] ajnyga opened #4457 "Allow journal editors to be automatically assigned to submissions in a section"
Section settings can be used to assign section editors, but not journal editors.

There has been a request whether assigning journal editor role could also be automatic. Is there a reason why this could not be considered?

[2019-02-08 09:54] ajnyga commented on #4457
A broader idea: why not allow automatic assignment for all user roles. Meaning that you could choose from section settings also an automatic assignment for copyeditors etc.?

[2019-02-08 10:22] #4455 closed

[2019-02-08 11:00] Vitaliy-1 commented on #4428
@asmecher
Regarding `getallheaders()` in this commit: this method is not working with nginx. Possible workaround: http://php.net/manual/en/function.getallheaders.php#84262

[2019-02-08 11:15] NateWr commented on #3660
Also, it should be renamed from `ListPanelFilters` since it can be used in other settings (eg - Statistics).

[2019-02-08 11:55] isgrim commented on #2818
pkp/orcidProfile#57 Contains the changes needed for OJS 3.1.2 release

Let me know if there are any more issues with the code.

[2019-02-08 13:11] AhemNason opened #4460 "new names fields don't write correctly to Crossref export"
If you only put in an author's ``given-name`` but not a family name, the crossref export will write ``given-name`` to the ``<surname>`` field in the crossref export.

It writes as intended, however, in the native import/export.

Related to #2958

[2019-02-08 13:17] AhemNason opened #4461 "Addition of corporate name field."
The modifications of usernames ( #2958 ) are greatly appreciated, I think they'll help a lot with metadata flexibility. We still need a corporate name field for institutional authors or broader research units. Crossref has a specific attribute for corporate name fields (and so do a great number of other schemas, including JATs, the Érudit Article Schema, MODS...).

[2019-02-08 14:07] ctgraham opened #4462 "Context navigation menu entries can be blank"
3.1.1 and 3.1.2:

In a multicontext install, if one context uses a primary locale disparate with other context's primary locale, and if the user selects a UI language which is different than both the primary locale of the current context, and the supported locales of the other contexts, the assignment of [`$contextsNameAndUrl` in `PageHandler::setupHandler`](https://github.com/pkp/pkp-lib/blob/7c4

[2019-02-08 16:30] defstat commented on #4214
@Ph-We Sorry for the delay, I lost track of that one.

I am changing the navigation.submissions locale to about.submissions for the Navigation Menu Items but there are the following occurrences:

about.submissions
- https://github.com/pkp/pkp-lib/blob/master/templates/frontend/pages/submissions.tpl#L13
- https://github.com/pkp/pkp-lib/blob/master/templates/frontend/pages/submissions.tpl#L16

navig

[2019-02-08 18:21] ppv1979 commented on #4214
@defstat, I've looked at the code but can you provide screenshots of how these particular keys look on the particular pages after rendering all the template? Just to understand the context. Maybe we even need the third key for some of these places.

[2019-02-08 18:43] Ph-We commented on #4214
Assuming there were no problems in 3.0.*, would it be relevant to take those parts of code as correct?

[2019-02-08 19:07] defstat commented on #4214
Indeed the about.submissions reference is correct. The https://github.com/pkp/pkp-lib/blob/master/templates/frontend/pages/submissions.tpl is called by the AboutContextHandler so that seems to be the correct translation.

The other reference, (https://github.com/pkp/pkp-lib/blob/master/templates/common/header.tpl and https://github.com/pkp/pkp-lib/blob/master/templates/dashboard/index.tpl) is at t

[2019-02-08 19:12] ppv1979 commented on #4214
@defstat I think you should leave navigation.submissions for [1, 2, 3]. @Ph-We, do you agree with me?

[2019-02-08 20:07] Ph-We commented on #4214
The 'Dashboard' page looks quite correct now in our instance of 3.1.1.4:

![image](https://user-images.githubusercontent.com/22288161/52503166-c72b5b00-2bf5-11e9-9fd6-644f1a4e4696.png)

So if `navigation.submissions` is rendered as "Отправленные материалы", then it should still be there in [1,2,3]. So nothing needs to be changed in this case (?).

[2019-02-08 20:41] ctgraham commented on #4462
An alternate approach to the above pull request might be to change `Context::getLocalizedName()` so that it tries `$this->getLocalizedSetting('name', $this->getPrimaryLocale())` if `$this->getLocalizedSetting('name', $preferredLocale)` returns `null`.

[2019-02-08 21:07] ctgraham commented on #1116
@mfelczak, this change seems to direct me from the application's user navigation languages to the JSON response instead of refreshing the current page with the new locale.

E.g.: in `ul#navigationUser > li.languages`, the link:
`/ojs/index.php/index/user/setLocale/en_US?source=%2Fojs%2Findex.php%2Findex%2F%24%24%24call%24%24%24%2Fpage%2Fpage%2Fuser-nav-backend%3F_%3D1549659289091`
results in the U

[2019-02-08 22:33] asmecher commented on #4462
@defstat, would you mind reviewing this?

[2019-02-08 23:20] Vitaliy-1 commented on #4411
I'm able to track the problem to `PKPSubmissionService::getMany()`. Probably the problem with SQL query there: https://github.com/pkp/pkp-lib/blob/master/classes/services/PKPSubmissionService.inc.php#L69
$results already contain duplicates.

[2019-02-08 23:22] Vitaliy-1 commented on #4411
If using `articleList.tpl` and OJS master branch several days old.

[2019-02-09 11:07] Baytan commented on #4213
As this is very annoying for me I want to explain it again. Before Confirming reviewer report the line for the reviewer looks like this
![1](https://user-images.githubusercontent.com/27674815/52519865-0ea3fc80-2c73-11e9-84f6-3ea2c0876f7a.jpg)

After confirm it looks like this
![2](https://user-images.githubusercontent.com/27674815/52519886-57f44c00-2c73-11e9-8703-6f2366d246c0.jpg)

But after thank

[2019-02-10 01:42] asmecher opened #4464 "Reconcile common code into pkp-lib; remove extra subclasses"
Placeholder for code clean-up to reduce the amount of app-specific code.

[2019-02-10 01:42] asmecher commented on #4464
(@ajnyga!)

[2019-02-10 19:43] jamshidhashimi commented on #3535
@NateWr how about changing it to: `Section Options` to be aligned with the upper field: `Section Policy` in having the word `Section`. I also assume `Setting` is more like high level configuration, where `Option` comes under, so thought we can go with the word `Options`.

[2019-02-10 21:18] mtub opened #4466 "URI update (https)"
Some of the links contained in `pkp-lib` can (should) be updated so that they use https. In most cases the maintainers of the website redirect from http to https, in some other cases they at least deliver the website via https as well as via http.

Will send PR.

[2019-02-10 21:46] mtub commented on #2059
Hi @asmecher, since this is still open, please note that the ORCID display guidelines now demand that we use the https links…

https://orcid.org/trademark-and-id-display-guidelines#02-d-i

[2019-02-10 23:09] mtub commented on #4466
PR here: https://github.com/pkp/pkp-lib/pull/4467

[2019-02-11 10:11] orazionelson opened #4468 "Add a no-context logic to NavigationMenuItemHandler/view"
Hello,
I'm working on a new OJS site, I've to separate completely the appearance of the main site (i.e. the journals collector) from the single journals.
Actually, it is possible to do this just with CSS and templates for the INDEX page of the main site, so none of the MAIN SITE features affect the JOURNALS, but I din't find a way for the static sub-pages added with the NavigationMenu settings.
To

[2019-02-11 11:01] NateWr commented on #4448
:+1: Merged to `master` and `stable-3_1_2`. Thanks1

[2019-02-11 11:01] #4448 closed

[2019-02-11 11:19] NateWr commented on #4451
Maybe also we can just follow the OJS convention of not using thumbnails at all for now in the frontend templates. When we integrate proper thumbnail support we can fix it then.

[2019-02-11 11:44] NateWr commented on #4411
Can you try updating `master` and see if you still have the problem? I merged something for #4446 just a day before your last comment, so you may not have had that.

[2019-02-11 11:57] NateWr commented on #4428
Reopening, moving to 3.2, and assigning to you @asmecher. :)

[2019-02-11 11:59] NateWr commented on #4461
To clarify: this field should be for contributors or any user?

[2019-02-11 11:59] NateWr commented on #4461
And how does it differ from Affiliation?

[2019-02-11 12:00] NateWr commented on #3535
:+1: I like `Section Options`.

[2019-02-11 12:27] NateWr opened #4469 "Site contact email saved without locale during installation"
The site `contactEmail` is a multilingual field. Running an installation from the `master` branch currently results in it being saved to the `site_settings` table with a `locale` value of `0`.

This leads to a fatal error when `$site->getLocalizedData('contactEmail')` is fired, and this happens during the installation of the first journal when a scheduled task (PKPAcron) kicks off.

[2019-02-11 12:37] NateWr commented on #4414
Hmm... I can't seem to reproduce that, either the `403` or the `assert`. I'm curious, what does the `POST` request look like in the dev tools. Can you post a screenshot like this if you get a chance?

![selection_015](https://user-images.githubusercontent.com/2306629/52563418-42109380-2df9-11e9-9710-c2fea8ab51cc.png)

[2019-02-11 14:42] jmacgreg commented on #2820
FYI I've reviewed these, with Minnesota, and all looks good! This can be closed AFAIK.

[2019-02-11 15:15] mtub opened #4470 "Update Norwegian (nb_NO) translation"
Commit new translation update from Norwegian universities

[2019-02-11 15:31] bozana commented on #4340
merged, thus closing...

[2019-02-11 15:31] #4340 closed

[2019-02-11 15:36] bozana commented on #4460
@AhemNason, we do not have any other possibility to solve this, because the Crossref element surname is required, so if we only have the given-name, we have to provide it in the required element surname.
S. also this document for more explanation how we proceed in which case/export/service in some 'special' name cases.https://docs.google.com/document/d/17oAPcCTL3tc7MhlcHpyVekv6_AxTHDc6BirHD3lVtJA/

[2019-02-11 15:36] #4460 closed

[2019-02-11 17:05] defstat commented on #4214
@NateWr

PRs
[pkp-lib]: #4472
[OJS]: pkp/ojs#2281
[OMP]: pkp/omp#638

[2019-02-11 17:08] defstat commented on #4314
Hi @israelcefrin! Should I close that?

[2019-02-11 17:25] NateWr commented on #4214
These look good @defstat. The tests may be related to the fatal error in `master` at the moment. Let me see look into that.

[2019-02-11 17:33] defstat commented on #4214
@NateWr, yes I think it is the fatal error, because I can't login because of that (and so the waitForElementPresent('link=Logout') is false)

[2019-02-11 17:39] israelcefrin commented on #4314
Hi, yes, go for it!
Best,

--
Israel Cefrin

Em seg, 11 de fev de 2019 às 15:08, Dimitris Efstathiou <
notifications@github.com> escreveu:

[2019-02-11 17:43] #4314 closed

[2019-02-11 17:49] bozana commented on #2820
Thanks a lot @jmacgreg! I will then rebase and merge with stable-3_1_2 and cherry-pick to master...

[2019-02-11 21:04] ctgraham commented on #1923
`PluginAccessPolicy` currently makes a hard distinction on the boolean of `PKPPlugin::isSitePlugin()`:
https://github.com/pkp/pkp-lib/blob/f8d959bf2e48fcc5332ff3a51d792ee839cd7f15/classes/security/authorization/PluginAccessPolicy.inc.php#L45-L74
based on `PluginLevelRequiredPolicy`:
https://github.com/pkp/pkp-lib/blob/f8d959bf2e48fcc5332ff3a51d792ee839cd7f15/classes/security/authorization/internal

[2019-02-12 08:07] ajnyga opened #4474 "[OJS] Review method fallback should be double blind instead of blind"
If no review method can be found from the settings, blind review is used by default: https://github.com/pkp/pkp-lib/blob/master/controllers/grid/users/reviewer/form/ReviewerForm.inc.php#L160

This should be changed to double blind, because it will cause to less harm if things go south.

[2019-02-12 10:21] NateWr commented on #4214
@defstat Can you rebase now that the tests in `master` are fixed? Happy to merge once the tests pass.

[2019-02-12 14:09] ctgraham commented on #4403
Further review suggests that "silk" is also a false positive.  I think only [ScoutJet](http://www.scoutjet.com/) and [Yeti](https://help.naver.com/support/contents/contents.help?serviceNo=19634&categoryNo=19668&_website_robots) appear to be bot activity which is not otherwise covered by the COUNTER list.

Upstream PR: https://github.com/atmire/COUNTER-Robots/pull/21

[2019-02-12 14:25] ajnyga commented on #4403
I also have a pr there for Feedbin, hopefully the will start merging these.

[2019-02-12 14:46] NateWr commented on #3340
Not sure what's happening with the tests. I can't reproduce it and I'm unable to run the tests locally at the moment, so this probably won't make it in for 3.1.2.

[2019-02-12 14:49] bram-atmire commented on #4403
on it

[2019-02-12 14:56] gurumelo commented on #4402
Hi @asmecher .
I can reproduce it, doing:
OJS 3.1.1.4 clean
Administration Panel → Submission→ New submission
Do the process.
Then, at the finish review the submissión
https://XXXXXXXXXX.com/index.php/nailos/workflow/index/7/1

And Editorial history always loading..........

[2019-02-12 15:07] ajnyga commented on #3340
Yes I noticed the same thing, can not see any problem when I try the changes locally. Maybe a problem in the tests itself? But as I said above, this is low priority. I can try a pr against the master branch at some point

[2019-02-12 16:17] asmecher commented on #3340
@NateWr and @ajnyga, I'd be happy to walk through some test debugging with either or both of you -- if that would help, hit me up on Slack and we can schedule something shortly.

[2019-02-12 16:46] asmecher commented on #4414
Here it is in all its glory. Note that the invalid characters in the path aren't necessary to trigger the error -- I tested with `publicknowledge` as usual and it still complained. I wonder if this has something to do with inconsistent escaping in the POST URL? It's shown as `http://localhost/git/ojs/index.php?journal=%2A&endpoint=/*/api/v1/contexts` -- note one `*` escaped as `%2A` and the other

[2019-02-12 16:57] NateWr commented on #4414
That could very well be it! The `*` character is used to set up the site-wide context level, and without it the handler will refuse to serve the `POST` endpoint for `/contexts`.

Any idea why it might not be escaped on my system?

[2019-02-12 18:42] Vitaliy-1 commented on #4411
Just tested with the current master, got the same error.
![duplicate_articles](https://user-images.githubusercontent.com/20665587/52659743-b9801900-2f06-11e9-81ff-067dcfd6c80a.png)

[2019-02-12 19:02] Vitaliy-1 commented on #4411
I'm getting the following SQL:
[code]
Direct execution gives me:
[code]

[2019-02-12 19:06] Vitaliy-1 commented on #4411
So, probably localizations are not taken into account

[2019-02-12 19:24] Vitaliy-1 commented on #4411
e.g., when I'm adding:
[code]
just after
[code]
I'm getting:
[code]
That looks more or less normal.

[2019-02-13 02:06] jamshidhashimi commented on #3535
Thanks @NateWr.

PR:
https://github.com/pkp/pkp-lib/pull/4476

[2019-02-13 11:10] NateWr commented on #4411
Thanks @Vitaliy-1! Re-assigned to 3.1.2. Over to you @asmecher unless you want me to dig into this one. :)

[2019-02-13 16:15] mfelczak opened #4478 "Site-level browse block prevents display of other blocks"
Testing with a pre-release 3.1.2 install.

When I include the browse block in the sidebar other blocks are no longer displayed.

[2019-02-13 16:20] mfelczak opened #4479 "Site-level information block not displayed"
Testing with a pre-release 3.1.2 install.

When I include the Information block in the sidebar no content is displayed for the block.

[2019-02-13 16:27] mfelczak opened #4480 "Site-level 'Make a submission' block leads to error message"
Testing with a pre-release 3.1.2 install.

Block link directs to an error page with the following:
"You cannot call this operation without a context (press, journal, conference, etc)."

If the block requires a context maybe we should remove it from site settings.

[2019-02-13 16:37] mfelczak opened #4481 "Journal settings inaccessible after other journals deleted"
Testing with a pre-release 3.1.2 install.

If there are 2 journals (e.g. production journal and test journal) and the SA deletes one of the journals so that only a single journal remains then it's not possible to navigate to the journal settings for the remaining journal. The journal select dropdown in the left sidebar only displays the site title and includes only a single Administration link. Th

[2019-02-13 16:48] mfelczak opened #4482 "Web feed plugin includes untranslated copyrightStatement locale key"
Testing with a pre-release 3.1.2 install.

When I enable the Web Feed plugin for the current issue RSS, the feed includes the following untranslated tag text:

`<rights>##submission.copyrightStatement##</rights>`

[2019-02-13 16:56] mfelczak opened #4483 "Information block pages include relative and invalid URLs"
Testing with a pre-release 3.1.2 install.

When I click on e.g. Information > For Readers the resulting page includes links to the journal's Registration and Privacy Statement pages but the links are relative and lead to 404s, e.g.
- http://localhost/index.php/journalpath/about/submissions#privacyStatement
- http://localhost/index.php/journalpath/user/register

This issue applies as well to the 'F

[2019-02-13 17:04] mfelczak opened #4484 "Usage event plugin cannot be disabled"
Testing with a pre-release 3.1.2 install.

The enabled checkbox remains checked after it's clicked even though the JM receives a notification that the plugin has been disabled.

[2019-02-13 17:23] mfelczak opened #4485 "Acron plugin enable checkbox stays unchecked"
Testing with a pre-release 3.1.2 install.

When I click on the enable checkbox for the Acron plugin the plugin is enabled on the back-end but the checkbox remains unchecked on the front-end and looks like it's still disabled.

[2019-02-13 17:25] mfelczak commented on #4485
This only happens some of the time, e.g. if I first enable another plugin before trying to enable the Acron plugin.

[2019-02-13 18:50] asmecher commented on #4482
Thanks, @mfelczak -- fixed for OJS and OMP, both `master` and `stable-3_1_2`.

[2019-02-13 18:50] #4482 closed

[2019-02-13 18:54] asmecher commented on #4481
Can you navigate to the settings e.g. by logging out and logging back in, or by going to the homepage and returning to the settings area? I think this is probably a long-standing navigational quirk

[2019-02-13 19:20] mfelczak commented on #4481
Yes, logging out and then in returns the user to the journal back-end.

[2019-02-13 19:24] mfelczak opened #4486 "Google Analytics plugin settings modal returns Ajax/JSON error"
Testing with a pre-release 3.1.2 install.

When I enable the GA plugin and then click on Settings the modal is not displayed and I get the following error: "Failed Ajax request or invalid JSON returned."

[2019-02-13 19:28] mfelczak opened #4487 "Rewrite phpMyVisites plugin for OJS/OMP 3.x"
Testing with a pre-release 3.1.2 install.

When I enable the plugin there's no Settings link to the settings modal.

[2019-02-13 19:30] asmecher commented on #4486
Fixed -- thanks, @mfelczak!

[2019-02-13 19:30] #4486 closed

[2019-02-13 19:37] mfelczak opened #4488 "External Feeds plugin missing link to settings modal"
Testing with a pre-release 3.1.2 install.

When I enable the plugin there's no Settings link to the settings modal.

[2019-02-13 19:41] asmecher commented on #4488
That's https://github.com/pkp/pkp-lib/issues/2027 -- it's in the git repo, but filtered from the build package, so this plugin will only appear on git-based installs (until #2027 gets resolved).

[2019-02-13 19:41] #4488 closed

[2019-02-13 19:49] mfelczak opened #4489 "Paypal plugin missing link to settings modal"
Testing with a pre-release 3.1.2 install.

When I enable the plugin there's no Settings link to set the PayPal account settings.

[2019-02-13 19:52] mfelczak opened #4490 "Issue/article purchase not directed to PayPal for payment"
Testing with a pre-release 3.1.2 install.

Filing just in case, but likely cause is missing PayPal settings reported at https://github.com/pkp/pkp-lib/issues/4489

[2019-02-13 20:09] asmecher commented on #4489
Try going to Settings > Distribution > Payments, and enabling the payments system and configuring the plugin there.

[2019-02-13 20:21] asmecher commented on #4481
OK, thanks -- I'm going to defer this from 3.1.2.

[2019-02-13 20:22] asmecher commented on #4487
This plugin hasn't yet been updated for the 3.x codebase. It's filtered from being included with the distribution `.tar.gz`, but does show up in git-based installs.

[2019-02-13 21:06] defstat commented on #4214
@NateWr I rebased and I am getting an "The command "phpenv global 7.2" failed and exited with 1 during ." error on some jobs (see https://travis-ci.org/pkp/omp/jobs/492775034)

[2019-02-13 21:09] mfelczak commented on #4489
Hi @asmecher, I'm not seeing the PayPal account settings in Settings > Distribution > Payments

![screen shot 2019-02-13 at 4 07 14 pm](https://user-images.githubusercontent.com/200793/52744066-99edfc80-2fa9-11e9-81bb-c2504ab0a29c.png)

[2019-02-13 21:12] mfelczak commented on #1116
@asmecher, re-opening ahead of the 3.1.2 release

@ctgraham, is this via the site-level language switcher?

[2019-02-13 21:12] defstat opened #4491 "Navigation Menus - Custom Templates not available"
When the user tries to add or update a NMI that has a custom template attached (custom url and custom page with content NMIs specifically), the related edit custom templates are not getting displayed.

[2019-02-13 21:28] asmecher commented on #4214
@defstat, I think that was a Travis service hiccough -- I've restarted the job and expect it'll get farther this time.

[2019-02-13 21:32] asmecher commented on #4489
Good spotting -- fixed with the attached commit, thanks!

[2019-02-13 21:32] #4489 closed

[2019-02-13 21:57] asmecher commented on #4411
@NateWr, this was caused by the submission query builder fetching the submission title for sorting purposes without checking the title locale. This will multiply the number of submissions returned by the number of title languages available.

PRs:
- https://github.com/pkp/ojs/pull/2286 (tests only)
- https://github.com/pkp/pkp-lib/pull/4492

Mind taking a look?

[2019-02-13 22:05] defstat commented on #4491
@NateWr for some reason the code for loading the customTemplates was missing.

[master] PRs
[pkp-lib]: #4493
[OJS]: pkp/ojs#2285
[OMP]: pkp/omp#2285

[2019-02-13 22:05] asmecher commented on #4484
This is https://github.com/pkp/pkp-lib/issues/1923.

[2019-02-13 22:05] #4484 closed

[2019-02-13 22:06] asmecher commented on #4485
This is also https://github.com/pkp/pkp-lib/issues/1923.

[2019-02-13 22:06] #4485 closed

[2019-02-13 22:34] asmecher commented on #4436
I don't mind deprecating a URL in a future release and adding a stub function in the handler to do a redirect -- but I'm nervous about editing the URL handling code for 3.1.2, so I'd suggest we come back to this post-3.1.2.

As for browse by section, yes, that might make sense to build in; I suspect it'll be nicer to themers to have a bunch of things to optionally theme in OJS rather than some the

[2019-02-13 22:37] asmecher commented on #4452
Thanks, merged and cherry-picked forward!

[2019-02-13 22:37] #4452 closed

[2019-02-13 22:39] asmecher commented on #4428
@NateWr, does this still need some work? Maybe you missed @Vitaliy-1's edit? Thanks!

[2019-02-14 00:08] asmecher commented on #2818
Thanks, @isgrim (& @withanage)! I've merged that PR to `stable-3_1_2` and forward-ported it to `master`. I'll do some testing of this for the forthcoming OJS 3.1.2 release shortly.

The PR to `ojs-stable-3_1_1` might be useful to others who need to stick with that release, but I'm content to focus on `stable-3_1_2` and `master`.

Is there anything still pending on this issue, or shall I close it?

[2019-02-14 00:25] jamshidhashimi commented on #3535
PR:

https://github.com/pkp/pkp-lib/pull/4476
https://github.com/pkp/ojs/pull/2287

Please review @asmecher. Thanks.

[2019-02-14 00:43] jamshidhashimi commented on #4487
As per [phpMyVisites](http://www.phpmyvisites.net/), they are changing (already changed) into [Piwik/Matomo](https://matomo.org/). It is also mentioned [here](https://matomo.org/faq/general/faq_437/). We already have an independent [Piwik plugin](https://github.com/pkp/piwik). So maybe it is the time to remove the phpMyVisites plugin from source code.

Happy to provide a removal PR!

[2019-02-14 01:56] jamshidhashimi commented on #4487
PR:

https://github.com/pkp/ojs/pull/2288

Please review @asmecher. Thanks!

[2019-02-14 05:04] amandastevens opened #4494 "Navigation menu - can't enter remote URL"
Testing pre-release of OJS 3.1.2, I found an error in creating a Navigation Menu item.  If you create a new menu item that's a remote URL, there is no field where you can enter the URL.  If you try to save it without the URL, you get an error saying you must enter the URL but there is nowhere to enter it.

[2019-02-14 05:06] amandastevens opened #4495 "Navigation menu - title missing when editing item"
Testing pre-release of OJS 3.1.2, I found an error in editing a Navigation Menu item. On the list of menu items each item has a title, but when you edit a menu item, there is nothing entered in the title field.  It is blank.

[2019-02-14 05:10] amandastevens opened #4496 "HTML code in email templates and email signature"
Testing pre-release of OJS 3.1.2.  In Workflow Settings > Emails, HTML code appears in email templates if you edit them and in the email signature field. I don't think this is intentional.

[2019-02-14 05:13] amandastevens opened #4497 "Distribution Settings do not save"
Testing pre-release of OJS 3.1.2, there are errors in Distribution Settings.  When I changed the settings under the Access tab and Payments tab and pressed save, the changes did not save.  When I changed them again and pressed save, the settings I previously tried to save were saved.  This occurred when trying enable payments, and it was only after enabling payments twice that the Payments menu ap

[2019-02-14 07:25] ajnyga commented on #2818
(thank you @isgrim for all the hard work you have done with this!)

[2019-02-14 07:35] ajnyga commented on #2428
I have a reason to believe that this same thing happened with the editorial decision form for an editor.

She contacted me and said that she had written a decision for an author but it was not saved or sent to the author.

Maybe if we consider an autosave, we could consider the editorial decision form as well.

[2019-02-14 09:18] bozana commented on #2820
merged, thus closing...

[2019-02-14 09:18] #2820 closed

[2019-02-14 09:41] NateWr commented on #4214
@defstat The tests look good. There was just one OJS test that fell over again. If you see that has passed, rebase again and let me know and I'll merge. :+1:

[2019-02-14 09:49] NateWr opened #4498 "Add Browse By Section to core"
Currently it is a [separate plugin](https://github.com/pkp/browseBySection). It should be added to core and official themes should support it. There should also be a sections block.

[2019-02-14 09:50] NateWr commented on #4436
:+1: I've created an issue for bringing browse by section to core (https://github.com/pkp/pkp-lib/issues/4498) and I can try to tackle some of the category stuff alongside that work.

[2019-02-14 09:51] NateWr commented on #4428
Yep, I missed the edit. :laughing:

[2019-02-14 09:51] #4428 closed

[2019-02-14 10:43] ajnyga commented on #4173
Coming to 3.1.2?

[2019-02-14 13:28] ctgraham commented on #1116
Yes, it is.

[2019-02-14 13:28] NateWr commented on #4411
Looks good. A couple of the mysql tests failed but it didn't look related. I've restarted them, but go ahead whenever you're ready.

Does this need to be cherry-picked to `master`?

[2019-02-14 13:40] NateWr commented on #4491
Looks good. Just one mysql test needed to be restarted but seems like it won't be a problem. Can you create a pkp-lib PR for `stable-3_1_2` as well?

[2019-02-14 13:43] NateWr commented on #4173
I believe all the commits to a `3_1_1` branch were included in the `3_1_2` branch.

[2019-02-14 13:55] Baytan opened #4499 "List users according to account creation date"
Some softwares create bot users in the websites they encounter, may be to try to hack the website. For some reasons I encounter many fake user accounts in the journal system and delete them on regular basis. However, as the users always listed alphabetically I always have to scan from the start of the list. If I can list the users according to creation date, I can only scan the recently created on

[2019-02-14 15:10] NateWr commented on #4494
@defstat is this fixed with #4491?

[2019-02-14 15:15] defstat commented on #4494
@NateWr Yes that's the fix. Also the same fix applies to the "no path and content fields for the custom pages" problem, if you encounter one.

[2019-02-14 15:18] NateWr commented on #4494
:+1:

@amandastevens I'll close this as it's just been fixed as part of a separate issue. Thanks!

[2019-02-14 15:18] #4494 closed

[2019-02-14 16:27] defstat commented on #4491
@NateWr

[stable-3-1-2] PRs
[pkp-lib]: #4500
[OJS]: [pkp/ojs#2289]
[OMP]: [pkp/omp#641]

[2019-02-14 16:40] NateWr commented on #4478
PRs:
https://github.com/pkp/ojs/pull/2290 (master)
https://github.com/pkp/ojs/pull/2291 (stable)

@bozana can you code review?

This seems like just a temporary stop-gap. Plugins should have some way of saying they don't work at the site level, and they shouldn't be visible at the site plugins list, similar to how we have `isSitePlugin`. I have a vague recollection that you may have worked on this

[2019-02-14 16:43] NateWr opened #4501 "Plugins that don't have any function at the site level should not appear in the site-wide plugins list"
Examples:
- Browse Block
- Information Block

[2019-02-14 16:44] NateWr commented on #4479
It doesn't do anything at the site-wide level. Like the Browse block, these should probably be hidden from the site-wide plugins list. But to my knowledge we don't have a facility for that yet.

I'm going to close this and I've filed the general problem (for the future, not 3.1.2) here: https://github.com/pkp/pkp-lib/issues/4501. Feel free to reopen if you want to discuss anything.

[2019-02-14 16:44] #4479 closed

[2019-02-14 16:44] NateWr commented on #4478
@bozana FYI: https://github.com/pkp/pkp-lib/issues/4501

[2019-02-14 16:59] NateWr commented on #4480
PRs:
https://github.com/pkp/makeSubmission/pull/22 (master)
https://github.com/pkp/makeSubmission/pull/23 (stable)

Tests:
https://github.com/pkp/ojs/pull/2292 (master)
https://github.com/pkp/ojs/pull/2293 (stable)

@bozana can you review this one too since it's the same sort of thing?

Agreed.

[2019-02-14 18:33] asmecher commented on #4411
Thanks! Cherry-picked forward to `master`.

[2019-02-14 18:33] #4411 closed

[2019-02-14 18:36] asmecher commented on #4496
@amandastevens, is it possible that you've disabled the TinyMCE plugin?

[2019-02-14 18:38] asmecher commented on #4497
There's a nav quirk where the whole page should reload when you save the payment settings. (This is already improved in the `master` branch by the setup forms rewrite.) Did this reload happen? That's when the "Payments" sidebar item should appear.

[2019-02-14 18:54] asmecher commented on #3535
Thanks, @jamshidhashimi! Sorry to give you one more multi-repository tweak, but since this is now OJS-specific language ("section") rather than something that might also be used in OMP, and since it's never used in the OMP codebase, I'd suggest moving the locale key into the OJS locale files entirely.

[2019-02-14 23:22] amandastevens commented on #4496
Ah, that must have been it.  It's enabled now and everything is fine.  I didn't think to check that.  I will close this issue.

[2019-02-14 23:22] #4496 closed

[2019-02-14 23:25] amandastevens commented on #4497
The page reloads each time you hit save, but the changes do not save or are not displayed in the reload.  They save the second time you change them (to what you changed them to the first time).

[2019-02-15 00:33] jamshidhashimi commented on #3535
Hi @asmecher. Done. Please review.

PR:

#4476
[pkp/ojs#2287](https://github.com/pkp/ojs/pull/2287)

[2019-02-15 09:26] withanage commented on #2818
@asmecher
we can close the issue now and  thanks a lot for accompanying the the development process.

@asmecher
we can close the issue now and  thanks a lot for accompanying the plugin development process.

@mtub  we did a  simple german translation, but a collegue  also  makes a general german ORCID translation, that can be used for any service-end-point,  if you are interested, I can send you th

[2019-02-15 14:40] mtub opened #4503 "[OJS] Update nl_NL locale"
* Updates to OJS, pkp-lib, and plugin translations in Dutch (nl_NL)

[2019-02-15 14:53] jmacgreg opened #4504 "Add a "New Article Published" email notification to support continuous publication"
In OJS 3, editors can choose to send a "New Issue" notification to readers on the publication of an issue, but there isn't a similar option when an article has been published against an already-published issue, ie. for continuous publication workflows. I could see this being developed in one of two ways:

1) add a "Send notification email to all registered users" option to the article Schedule for

[2019-02-15 14:57] jmacgreg commented on #4504
Note: #2 above can probably be satisfied by using the Announcements function in OJS, and probably shouldn't be considered. I think there's value in considering #1 though.

[2019-02-15 17:12] asmecher commented on #2818
Excellent! Much appreciated, everyone!

[2019-02-15 17:12] #2818 closed

[2019-02-15 17:14] #3535 closed

[2019-02-15 17:14] asmecher commented on #3535
Merged both -- thanks, @jamshidhashimi!

[2019-02-15 17:15] #4487 closed

[2019-02-15 17:15] asmecher commented on #4487
Merged, thanks!

[2019-02-15 17:16] asmecher commented on #4497
Is it possible that there's a problem with file permissions in the `cache` subdirectory? Do you have trouble with other settings not "sticking", or just this one?

[2019-02-15 17:19] asmecher commented on #4468
@defstat, would you mind taking a look at this?

[2019-02-15 17:27] asmecher commented on #4490
Yes, the missing settings would cause this. Thanks!

[2019-02-15 17:27] #4490 closed

[2019-02-15 17:29] asmecher commented on #4413
Closing, thanks!

[2019-02-15 17:29] #4413 closed

[2019-02-15 17:31] asmecher commented on #4497
Also, this may have been fixed already with https://github.com/pkp/pkp-lib/issues/4489 -- make sure the checkout is up to date with the fix committed there.

[2019-02-15 17:35] asmecher commented on #4483
I don't see this beaviour, and that code hasn't changed for a long time -- and the links you quote look fine to me. Can you describe the problem in more detail?

[2019-02-15 18:38] defstat commented on #3758
@asmecher I have applied the changes on stable-3_1_2 branch.

New PRs [stable-3_1_2]
[pkp-lib]: #4505
[ojs]: pkp/ojs#2294
[omp]: pkp/omp#643

[2019-02-15 18:53] asmecher commented on #3758
@defstat, I've reviewed this briefly from a code perspective and it looks excellent!

It's quite a bit of code to add so close to the 3.1.2 release, so maybe I'll ask a couple of follow-ups...
- @jmacgreg, is this something that you think is important to the hosting group for this release? Do you have some capacity to test it next week?
- @defstat, what's your level of confidence based on your own

[2019-02-15 19:05] mfelczak commented on #4483
In our 3.1.2 test install the links reference a localhost base_url, e.g.
- http://localhost/index.php/publicknowledge/user/register
- http://localhost/index.php/publicknowledge/about/submissions#privacyStatement

Just confirmed with @jmacgreg that this may have been inherited from the DB image used to populate the test install. Closing.

[2019-02-15 19:05] #4483 closed

[2019-02-15 19:08] jmacgreg commented on #3758
@asmecher I don't think this is an issue on our radar - so, not important for us for 3.1.2, but we can test it next week if you like.

[2019-02-16 00:53] amandastevens opened #4507 "Do not automatically send editor decision emails to all co-authors"
Currently when the editor records a decision and sends a notification email, all authors on the submission are added to the message and there is no way to remove authors.

When an author makes a submission they have to add the email addresses of all co-authors and they can check off who is the corresponding author.  But regardless of that, all authors receive correspondence about the submission.

[2019-02-16 05:56] bdmckay commented on #4164
The config file changes in #2142 include a field %s in dmarc_compliant_from_displayname for localized sitename, but the new code in Mail.inc.php (#4164) does not substitute anything there.  Brendan.

[2019-02-16 09:53] openacademia commented on #4504
Yes! This would be a very welcomed feature! The first option sounds great.

Using the Announcements function to communicate with readers about new articles being published is not very good as it sends a very generic notification without any clues about the new articles. The reader has to first click on a link in the email to come to the announcement and then click on another link from the actual a

[2019-02-17 11:10] vvkorotkikh opened #4510 "3.1.1-4 add galley endless spinner"
OJS 3.1.1-4, postgres.
When I try add galley to published article after set type "pdf" and press "save" there is endless spinner in the end of the galley form. If I close this form, there is no added galley in this article.
OJS update path: 2.4.5 -> 3.0,2 -> 3.1.1-4.
In old articles with added under OJS 2.4.5 galleys I can create/edit/delete galleys. In articles added under OJS 3.0.2 I can add gal

[2019-02-17 17:23] vvkorotkikh commented on #4510
![spinner](https://user-images.githubusercontent.com/10060590/52916535-da26e500-32f1-11e9-8f3c-dbae75aa9a6c.png)

[2019-02-17 17:38] defstat commented on #4462
@ctgraham Could you provide some steps in order to reproduce the issue?

I made the following steps:
1. created 2 contexts on an OJS installation
2. The first context has the following language configuration:
![image](https://user-images.githubusercontent.com/560456/52916625-a6948c80-32ea-11e9-9d3f-497d30ef03b4.png)
3. The second context has the following language configuration:
![image](https://u

[2019-02-17 18:02] defstat commented on #4468
Hi @orazionelson. Thank you for the suggestion. Have you tried to customize the display using a custom theme plugin? (https://docs.pkp.sfu.ca/pkp-theming-guide/en/).

The Navigation Menu Feature has the infrastructure to be compatible with the theming mechanism of OJS/OMP, so it may be of help to your issue. If not, could you provide a more specific description of your requirements. so that we cou

[2019-02-17 18:21] orazionelson commented on #4468
hi @defstat,
I solved most of my needs by the templating, just in this case I was also looking at the PHP code and I thought that was more comfortable to have and if/else switch in the two functions: view() and preview()
written in:
* lib/pkp/pages/navigationMenu/NavigationMenuItamHandler.inc.php  *

to separate the job if there is or not a $context, i.e. if we are in the main container or in a si

[2019-02-18 11:10] alexxxmendonca commented on #4507
Is this a popular request? In my experience, most cases all authors want to receive a copy of the Decision Letter.

[2019-02-18 12:35] ajnyga opened #4511 "[OJS] Support for internal editorial guides"
Hi,

I received an enquiry whether there is a way in OJS to have a place for internal editorial instructions. There is of course the submission library, but adding documents there make them available for authors as well I think and it is too much work to add them for each submission. Also section editors can not access the main library so uploading the documents there is not enough.

What I was th

[2019-02-18 15:33] ctgraham commented on #4462
Using OJS 3.1.1-4

Site settings: enable German, English, Spanish, French.
![image](https://user-images.githubusercontent.com/7001322/52960991-f49ba580-3367-11e9-949c-e7b8b6f62989.png)

Spanish journal: supports English and Spanish:
![image](https://user-images.githubusercontent.com/7001322/52961048-14cb6480-3368-11e9-9eb6-46dd2c73a992.png)

German journal: supports English and German
![image](htt

[2019-02-18 16:35] jnugent opened #4512 "columns array is null when generating stats report"
The $columns variable used in this in_array() call:

https://github.com/pkp/pkp-lib/blob/f3973837d127dfd6bfddea23fa9a1bffd1916140/pages/management/PKPToolsHandler.inc.php#L215

is null when generating a report via the PKP Usage Statistics link in the Tools interface.  It is set before the getMetrics() call and I think this is because there's some use of references within the MetricsDAO classes tha

[2019-02-18 17:38] defstat commented on #4495
@NateWr For that I added a new field on the NMI form, displaying the default Locale Key if any. The translation of that default key can be overridden by adding a custom title.

[stable-3_1_2] PRs
[pkp-lib]: #4513
[OJS]: pkp/ojs#2297
[OMP]: pkp/omp#644

[2019-02-18 20:45] #4137 closed

[2019-02-19 08:20] heike-r commented on #4507
As an editor, I would vote for the contrary and even send the submission confirmation email to all co-authors. This would ensure that all are informed about a manuscript with their name on it ... at least when the submitting author entered valid email addresses for their co-authors, which is not always the case.
If this is a GDPR issue, then the submission check list should contain an item where t

[2019-02-19 10:13] NateWr commented on #4491
All tests passed! I merged the stable PRs but there's a merge conflict on the `master` branch PRs. Can you just rebase those and ping me on Slack so I can merge them?

[2019-02-19 10:18] NateWr commented on #4495
I'm worried that the end user doesn't really understand what a translation key is and won't easily interpret what is happening with these fields. Would it be possible instead to put the translated title into the input field's value?

Then, in the form's `execute` method, check the value of each title field locale against the default title. When they match, discard the value and don't save it. When

[2019-02-19 12:12] NateWr commented on #4511
Section editors can access files in the publisher library by going to an assigned submission > Submission Library > View Document Library.

A journal-wide discussion grid sounds like a bad solution to this problem. Old messages, where instructions are likely to be placed, will drop out of view over time. There is no clear way to surface messages from a global grid in the normal editorial workflow,

[2019-02-19 12:12] #4511 closed

[2019-02-19 12:26] ajnyga commented on #4511
Ok, document library in general is not really a solution, because authors can access that as well through a submission. The journal wanted their instructions to be visible only for editorial staff.

[2019-02-19 13:12] ajnyga commented on #4504
Just a note that I am probably diving into continuous publishing and will introduce a possibility to publish without issues altogether. Still waiting for some answers to couple of questions from Alec and the big merge of versioning before working on it. Just finished talking with Bozana what it means for DOIs. This would of course be considered as well.

For this issue regarding point 2 and using

[2019-02-19 16:17] rvdb commented on #4503
@mtub Ok, done, as far as I can see. I think I got it right during the plugin commits, which means that I've probably (mis?)filed a number of my earlier PR's to `master` branches instead of `stable-3_1_2`. If I should do anything to fix that, please tell me how. If I've overlooked anything, just shout!

[2019-02-19 16:40] zuphilip opened #4514 "[OJS] Recoginze https URL to Creative Commons licenses"
Currently, for the creative commons license the images are shown only if the URL is entered as a `http` URL and without an ending backslash, e.g. for
[code]
you have to enter
[code]
I am speaking about the URL you can enter in the production step > schedule for publication:

![ojs-publication-license](https://user-images.githubusercontent.com/5199995/53031383-0adf5980-346d-11e9-87b4-ece99a13e8a6.p

[2019-02-19 17:24] defstat commented on #4495
@NateWr thanks. Made the change and rebased.

[2019-02-19 17:50] defstat commented on #4462
@ctgraham Thanks! I see now. I thought that you were referring to the Site's navigation menu items (not the administrative pages ones, I was looking for the wrong thing).

At you configuration, and by using the fix, should the site menu display all three journal name?

[2019-02-19 18:18] mfelczak commented on #1116
@asmecher, please ignore the last commit, that was a WIP. Any suggestions for how we could limit the source redirect to only public-facing pages? ATM, the previous fix works for the front-end language switcher but breaks the back-end language switcher as per Clinton's last msg, i.e.

![screen shot 2019-02-19 at 1 17 02 pm](https://user-images.githubusercontent.com/200793/53037653-bde98c00-3448-11e

[2019-02-19 18:22] defstat opened #4516 "Administration Pages - Language Change Issue"
Trying that configuration [https://github.com/pkp/pkp-lib/issues/4462#issuecomment-464776988] on OJS 3.1.2 stable branch I came across an issue when trying to change the language
![image](https://user-images.githubusercontent.com/560456/53037897-05d9d480-3484-11e9-89e7-ec0dc9bcf4ce.png)

I get that response:
![image](https://user-images.githubusercontent.com/560456/53037783-c8754700-3483-11e9-8ffc

[2019-02-19 18:39] asmecher commented on #4516
I think this is the same as https://github.com/pkp/pkp-lib/issues/1116#issuecomment-461947138.

[2019-02-19 19:49] jmacgreg commented on #3227
(Sorry - I accidentally closed this. Still very relevant!)

[2019-02-19 20:37] asmecher commented on #4512
@jnugent, what branch/version are you using? Is there a warning/error message associated with the problem?

[2019-02-19 20:40] asmecher commented on #4510
@vvkorotkikh, can you check your PHP error log for details?

[2019-02-19 20:43] jnugent commented on #4512
Sure, the error is:

[Mon Feb 18 08:13:15 2019] [error] [client 47.55.87.210] PHP Warning:  in_array() expects parameter 2 to be array, null given in /var/home/journal/www/lib/pkp/pages/
management/PKPToolsHandler.inc.php on line 215

(repeated)

Version is OJS 3.1.1.0 in this case.

[2019-02-19 20:54] asmecher commented on #4512
I don't see any relevant reference use at a glance -- are you sure it's not just a case of no columns being selected in the interface?

[2019-02-19 20:59] pilasou commented on #2508
Are there any workaround this issue. I am concerned about the following case brought up by @ajnyga :

* ability to change the status of an accepted review request, if the reviewer changes her mind. And vice versa.

I believe a solution would be to allow the editor to Reinitialize/Reset the review request, as long as he/she has not sent Recommandations.

[2019-02-19 20:59] jnugent commented on #4512
No, definitely columns.  This particular report is being generated by selecting the "PKP Usage Statistics Report" from within the stats admin interface, without going into the custom report options.  The generated URL looks like:

http://journal-url.org/index.php/fsj/management/tools/generateReport?metricType[]=ojs%3A%3Acounter&columns[]=assoc_id&columns[]=assoc_type&columns[]=file_type&columns[]=

[2019-02-19 21:48] asmecher commented on #4512
Hrm, the only candidate function for this looks to me like `getMetrics`, but I don't see any function headers where `$columns` is passed in by reference. Did you spot anything?

[2019-02-19 21:55] jnugent commented on #4512
Hmmm.  I see that in the Metrics DAO there's some reference use here:

https://github.com/pkp/ojs/blob/7a8905827a96eb072d6015fe8119be6c22cca25b/classes/statistics/MetricsDAO.inc.php#L26

where $columns is accessed with a reference, and then unset here:

https://github.com/pkp/ojs/blob/7a8905827a96eb072d6015fe8119be6c22cca25b/classes/statistics/MetricsDAO.inc.php#L36

Could that be it?

[2019-02-19 21:55] jnugent commented on #4512
but yes, you're right - there aren't references in the headers.

[2019-02-19 22:00] asmecher commented on #4512
What version of PHP are you running this on?

[2019-02-19 22:03] jnugent commented on #4512
PHP 5.6.27, running as a CGI.  This is a gossamer threads server.

[2019-02-19 22:08] asmecher commented on #4512
Would you mind tracking into it a little further? PHP should always pass arrays by value, unless a reference is specified, and I don't see a reference in this case. So I wonder whether it's a PHP bug, or whether I'm missing the place where the array is modified.

[2019-02-19 22:09] jnugent commented on #4512
Sure, I'll dig into it!

[2019-02-19 22:26] asmecher commented on #1116
@mfelczak, the problem is that the `usernav.tpl` template is referring to `$smarty.server.REQUEST_URI` (which is $_SERVER['REQUEST_URI']`) to determine the page to redirect the user to. Since the back-end navigation is generated via an AJAX sub-request, the URL to that sub-request is what it's getting, not the URL to the entire page. I'd suggest removing the `source=...` URL parameter from that te

[2019-02-20 09:57] NateWr commented on #4495
Looks good. I made just a few minor comments on the PR.

Can you port this to the `master` branch as well?

[2019-02-20 10:49] bozana commented on #4478
@NateWr, all well, you can merge when ready...

Unfortunately, I have no idea now -- will put a few comments in the other issue...

[2019-02-20 10:53] bozana commented on #4501
Maybe to consider this issue as well: https://github.com/pkp/pkp-lib/issues/1923

There is maybe a need to enable (and eventually configure) plugins in the site settings plugin list, so that they are e.g. enabled (and eventually configured) for all contexts (in the same way). This is maybe to handle differently from the displaying/using the plugin on the site level.

[2019-02-20 11:23] bozana commented on #4478
For block plugins, we could eventually also work with getBlockContext($contextId) and define a NO_CONTEXT and if the plugin returns NO_CONTEXT for getBlockContext(0) than it should not be listed in the sidebar manaement on the site setup page i.e. it should not be possible to move it to a sidebar.

[2019-02-20 11:25] bozana commented on #4480
@NateWr, you can merge when ready. Similar to https://github.com/pkp/pkp-lib/issues/4478: For block plugins, for now, we could eventually also work with getBlockContext($contextId) and define a NO_CONTEXT and if the plugin returns NO_CONTEXT for getBlockContext(0) than it should not be listed in the sidebar management on the site setup page i.e. it should not be possible to move it to a sidebar.

[2019-02-20 14:01] NateWr commented on #4478
Merged.

[2019-02-20 14:01] #4478 closed

[2019-02-20 14:04] NateWr commented on #4480
Merged.

[2019-02-20 14:04] #4480 closed

[2019-02-20 14:56] jmacgreg opened #4517 "Improve report download options for very large reports"
We're running into a variety of issues with some clients' very large statistics/report downloads, which can consist of .csv files well in excess of 50k rows. Mostly we're exceeding PHP's various execution time and memory limit directives, resulting in timeouts, 500 errors, and occasionally non-transparent partial downloads (eg. where the .csv file stops being outputted at a particular line when th

[2019-02-20 14:57] jmacgreg commented on #4517
@ajnyga I would be interested if you have given this any thought at all, as you probably run into these same issues!

[2019-02-20 15:08] AhemNason commented on #4461
Oh, sorry, I missed these comments. I must have notifications turned off. I'll remedy that. Apologies!

So, it's not uncommon for an organization or research group to be listed as an "author" of a document. "Contributor" is maybe a more appropriate synonym. I'd recommend checking out the Crossref schema here because they've really developed this for journal publication. There's associated metadata

[2019-02-20 15:36] jmacgreg commented on #4517
@jnugent, @israelcefrin and @NateWr and I just had an interesting conversation about using the new API to manage stuff, and the consensus was that using it to either generate reports via CLI, or to provide a report download button option from Nate's most recent stats visualization tool would be the way to go. I'm not quite sure where this leaves the "old" reports: folks have, for better or worse,

[2019-02-20 15:49] NateWr commented on #4517
If you want users to be able to go in their browser and get a report, there are really only two ways to address this issue:

1. You can fire off successive AJAX requests, each one of which compiles a chunk. If the end result that we want is for the user to get a download prompt, this may not be appropriate. But it works in cases where you're processing large volumes of material and the user is pre

[2019-02-20 15:53] NateWr commented on #4461
We do now have a "preferred name" field, which can be used to get around the spreading-across-two-fields problem. But if JATS and Crossref both expect it, it's worth considering on our end.

[2019-02-20 16:10] ajnyga commented on #4517
Actually no one has reported such issues in our case. It could be that although our metrics table is fairly large, we also have many journals, so the size per journal is not that high.

The only similar problem I ran into was the STATISTICS_MAX_ROWS limit that was set to 5000. That is now removed in master and I have changed our current value to a value that is definitely never broken. However, no

[2019-02-20 16:25] pilasou opened #4518 "[OJS3] Cannot use comma (,) when manually editing user Reviewing interests"
When using a comma in Reviewing interests field of a user record, the comma as the same effect as saving the Reviewing interest.

Repro step
On OJS TestDrive https://demo.publicknowledgeproject.org/ojs3/testdrive/
Connect as admin
Go to Users & Roles
Clic on "Edit user" for "Test Reviewer" user
Clic on More user details
In Reviewing interests field, type manually Hébert, Anne

When you type "comma

[2019-02-20 16:30] defstat commented on #4516
Yes it is the same - closing that one..

[2019-02-20 16:30] #4516 closed

[2019-02-20 17:20] AhemNason commented on #4461
Right, and that's great! The issue is that without signifying (via attribute) what _kind_ of preferred name it is, that could end up just going into a ``<surname>`` field like it does with Crossref. We need to disambiguate between types of contributors. Not all contributors are people.

Further to this, not all _contributions_ have authors. Currently (and this is a different issue) we collect - bu

[2019-02-20 17:27] defstat commented on #4495
@NateWr Stable3-1-2 Branches tests passed.

Working on master branch now.

[2019-02-20 17:50] defstat commented on #4495
@NateWr

[master] PRs
[pkp-lib]: #4519
[OJS]: [pkp/ojs#2299](https://github.com/pkp/ojs/pull/2299)
[OMP]: [pkp/omp#645](https://github.com/pkp/omp/pull/645)

[2019-02-20 18:40] asmecher commented on #4518
@pilasou, that's an issue with the third-party tag-it library we use to permit keyword entry; for a variety of UI/UX reasons (particularly the fact that the keycode for `,` is used for other purposes in different locales) we would probably replace it with something else in order to gain more control over the separator. See some discussion over here: https://github.com/pkp/pkp-lib/issues/3404

[2019-02-20 18:40] #4518 closed

[2019-02-20 19:44] bozana commented on #3784
PRs:
stable-3_1_2:
pkp-lib: https://github.com/pkp/pkp-lib/pull/4520
ojs: https://github.com/pkp/ojs/pull/2300 (only submodule update)
omp: (only submodule update)

[2019-02-20 19:44] bozana commented on #3784
@asmecher, could you take a look at the PR?

[2019-02-20 20:15] vvkorotkikh commented on #4510
[error.log](https://github.com/pkp/pkp-lib/files/2886327/error.log)
Here my error log during adding new galley.

[2019-02-20 21:53] asmecher commented on #4510
@vvkorotkikh, the relevant error log message is
[code]
...which decodes to...
[code]
...or, in English...
[code]
That message is also discussed here, with a solution:
https://forum.pkp.sfu.ca/t/ojs-3-0-2-cant-add-galley/30708

[2019-02-20 21:53] #4510 closed

[2019-02-20 23:37] mcfarland-ubc-library commented on #4245
Affecting our 3.1.1.4 as well.

[2019-02-21 15:53] asmecher opened #4522 "Correct missing escaping of template variable"
Primarily for getAuthorString and getLocalizedTitle.

PRs:
- `ojs-stable-3_1_1`:
  - https://github.com/pkp/ojs/pull/2308
  - https://github.com/pkp/omp/pull/647
  - https://github.com/pkp/pkp-lib/pull/4530

Patches:
- OJS 3.1.1-4, OJS 3.1.1-2, OJS 3.1.1-1:
  - https://github.com/pkp/ojs/pull/2308/commits/2c219ff0e7a9d378f13739aea5596dcac7d1e208.diff
  - https://github.com/pkp/pkp-lib/pull/4530/co

[2019-02-21 16:22] NateWr commented on #4495
Merged!

[2019-02-21 16:22] #4495 closed

[2019-02-21 16:24] NateWr commented on #4491
All merged!

[2019-02-21 16:24] #4491 closed

[2019-02-21 17:46] ajnyga opened #4523 "Frontend archive listing and backend archive listing ordered with different logic"
Hi,

Since this change https://github.com/pkp/ojs/blob/master/pages/issue/IssueHandler.inc.php#L132 the frontend issue listing has been ordered only according to the seq setting.

It seems that there is no fallback, so if seq is missing the order is random. Or at least the fallback is not the pubdate as it used to be.

In the backend the listing still uses pubdate as a fallback.

The result is tha

[2019-02-21 20:32] ctgraham commented on #4462
Yes, cherry-picking this commit into ojs-stable-3_1_1 causes the menu to show the journal name for each:
![image](https://user-images.githubusercontent.com/7001322/53199675-b9120d00-35ed-11e9-86ff-610b7e791f93.png)

[2019-02-21 21:51] asmecher opened #4524 "Add listing page to front-end for categories"

[2019-02-21 22:03] mtub opened #4526 "Update list of countries"
`countries.xml` contains a list of countries. For pragmatic reasons, this is based on an ISO standard. The files say:

The ISO standard has been updated, so maybe both the comment and the content of that file should be revised.

See https://www.iso.org/standard/39719.html and https://www.iso.org/standard/63545.html.

[2019-02-21 22:08] mtub commented on #4503
@rvdb , you can see the updates to all of your pull requests here. As soon as no PR is "open" anymore, we are done :-)

[2019-02-21 22:23] mtub commented on #4503
that last one was a good thing to be able to do :)

[2019-02-21 22:25] #4503 closed

[2019-02-21 22:27] mfelczak commented on #1116
Thanks @asmecher!

PRs:
master: https://github.com/pkp/pkp-lib/pull/4527
stable-3_1_2: https://github.com/pkp/pkp-lib/pull/4528

[2019-02-21 23:03] rvdb commented on #4503
@mtub For sure, woohoo! If I'd get to tackle the `ojs-stable-3_1_1` branch, would I need to open a similar issue here, first? I hope I've learned from this bumpy trip, to a) first make sure my forked `ojs-stable-3_1_1` branch is up-to-date before branching it to a translation branch, and b) make sure to file PRs against this branch. Can't go worse than this, I'm convincing myself.

[2019-02-21 23:05] asmecher commented on #1116
All merged -- thanks, @mfelczak!

[2019-02-21 23:05] #1116 closed

[2019-02-22 10:31] Enro commented on #3022
Hello, sorry to jump in without taking the time to read the full discussion. I just wanted to mention a potential link between this issue and this feedback https://forum.pkp.sfu.ca/t/privacy-concerns-regarding-user-enroll/19860 although I am not sure whether it still applies under OJS v3...

[2019-02-22 16:45] asmecher commented on #4497
@amandastevens, did you have a chance to verify this?

[2019-02-22 16:50] asmecher commented on #3784
Thanks, @bozana, I suggested a change to the locale key but otherwise it looks good!

[2019-02-22 16:53] defstat commented on #4462
Yes on 3.1.2, the above mentioned configuration shows only the spanish one I think.
Otherwise the code seems fine.
In any case, that fix shows more journals than the current stable branch. Have you checked the code against OMP?

@ctgraham have you made any pull requests regarding that so the tests can run on OJS and OMP?

@asmecher if we are ok with the above mentioned functionality (which is bett

[2019-02-22 19:43] asmecher commented on #4470
@mtub, I think this one is ready for closing...

[2019-02-22 20:20] asmecher commented on #4462
Looks good, @defstat, I've merged that. Leaving open as it still looks like you're working with @ctgraham on other details.

[2019-02-22 20:22] asmecher commented on #4523
@ajnyga, are you dealing with data where `seq` is `0` for multiple issues (unless a manual re-order kicks off resequencing)?

[2019-02-22 20:26] ajnyga commented on #4523
Imports do not usually get seq I think.

Seq is missing from the custom_issue_order table.

[2019-02-22 22:57] mfelczak commented on #4524
Thanks @asmecher. Looks like we're just missing the page template.

[2019-02-22 22:59] amandastevens commented on #4497
It still happens for me, only in Access Settings.  When I save changes in Workflow Settings, Website Settings, etc. I get a little green message saying "your changes have been saved," but I don't get this in Access Settings and the changes don't save.

I don't know how to check if all the latest fixes were applied to the test install I'm using.

[2019-02-22 23:58] asmecher commented on #4524
Whoops! Sorry, @mfelczak: https://github.com/asmecher/ojs/commit/461e1b666a824b7d173d434b98df3610e266d5b7

[2019-02-23 02:23] mfelczak commented on #4524
Thanks @asmecher. One immediate note when testing in a 3.1.1-4 install: the page title looks to have an untranslated locale key.

[2019-02-23 02:27] jamshidhashimi commented on #1576
@asmecher please review the following draft PRs:

https://github.com/pkp/pkp-lib/pull/4531
https://github.com/pkp/ojs/pull/2309

[2019-02-23 06:28] jamshidhashimi commented on #4514
@zuphilip, what version of OJS are you using?

Have you seen the following commits in the Master?
https://github.com/pkp/pkp-lib/commit/e45a1818f1d6dcda7539f226bdae737655d20993#diff-3fed0569f5f0ae40c985f62cfe134c27
https://github.com/pkp/pkp-lib/commit/cdbd845250bdd1f4c49dc69804ecace2bfa04e3a#diff-f69e5caa980791d6835909656e9eace7

cc: @asmecher

[2019-02-23 06:52] jamshidhashimi commented on #4420
@Vitaliy-1 do you think changing the word _published_ with _submitted_ will resolve the confusion?

[2019-02-23 15:16] jonasraoni opened #4532 "[OJS] Minor mistake in notification message when removing a plugin"
Hi,

I tried to find a similar issue, but failed. So, whenever I remove a plugin I get the following notification:

Branch = master
PHP = 7

[2019-02-23 17:01] jonasraoni opened #4533 "[OJS] Duplicated content when submitting an invalid plugin's settings form"
**Information**
- Browser: Chrome
- Branch: master
- PHP: 7

**Description**
When submitting a form with invalid values:
- Some plugins get the response filled with duplicated content (see attached image). Since the content is exactly what's not enclosed by the ```<form>``` tag, looks like it's a cheap fix
- The field with invalid content lost the value
- The client-side validation allows the form

[2019-02-23 17:17] jonasraoni opened #4534 "[OJS] Suggestions for the plugin section"
**Comments based on the master branch**
- Sorting the plugin list by name would be nice, since sometimes they move their positions after being updated
- I think the search feature should be made on the client-side or be removed in favor of Ctrl+F (if there's no paging). Or maybe instead of searching, maybe the user could mark what he uses often with a "star" (which would change the position of the

[2019-02-24 09:18] zuphilip commented on #4514
We are using OJS 3.1.1.2. No, I haven't seen these changes. This might solve the `https` issue, but it seems then still that ending backslash will cause problems, when entered.

I would imagine, that several variants of entering a Creative Commons URL should be recognized. Maybe a simple cleaning step is enough to do first, i.e.
  1. Delete the protocol `http` or `https` at the beginning; delete a

[2019-02-25 08:27] ajnyga commented on #2687
@asmecher this is a old issue, but I would be interested working on this during the spring. We get frequent requests for this and have seen this mentioned on the forums as well.

I bet you remember the comment you had I mention above!

[2019-02-25 08:48] ajnyga commented on #1257
I think this can be closed @asmecher

[2019-02-25 10:22] #3784 closed

[2019-02-25 14:02] Ph-We commented on #4214
Hi @defstat, I'm really sorry for reminding again, but may we hope your PR will be merged before 3.1.2 is released?

[2019-02-25 14:33] NateWr commented on #3022
Hi @Enro, yes we're aware of this issue, which is why it's been assigned to the GDPR project. It is also a blocker for https://github.com/pkp/pkp-lib/issues/2860#issuecomment-388906925. We do see it as a priority and I personally have got a good few weeks' worth of work sitting on the shelf waiting.

[2019-02-25 16:30] ctgraham opened #4538 "QuickSubmit plugin link to new Submission is broken"
On success, the link to the new Submission depends on variable `$submissionUrl`:
https://github.com/pkp/quickSubmit/blob/e261deeec816a81398c16bd16d43e2610eeb641d/templates/submitSuccess.tpl#L28

But this variable is never set:
https://github.com/pkp/quickSubmit/blob/e261deeec816a81398c16bd16d43e2610eeb641d/QuickSubmitPlugin.inc.php#L186-L189

[2019-02-25 17:08] #4538 closed

[2019-02-25 17:35] defstat commented on #4214
@NateWr
[stable 3.1.2] PRs
[pkp-lib]: #4536
[ojs]: pkp/ojs#2311
[omp]: pkp/omp#649

[2019-02-25 18:38] mfelczak commented on #1407
Just wanted to add a +1 to provide editors with more control over when to send notifications for newly published issues or articles. We have received requests from hosted journals that would like to send a new notification each time a new article is added to an existing, continuous publishing issue.

[2019-02-25 20:17] amandastevens commented on #4507
Maybe the ideal is instead to include all of the authors in the message by default, but to make it possible for an editor to remove co-authors from the recipient list if desired.

[2019-02-25 21:45] asmecher commented on #4514
@zuphilip, if you're able to test this change:
https://github.com/pkp/pkp-lib/pull/4539
...and confirm whether it works, I'll commit it for the soon-to-be-released OJS 3.1.2.

[2019-02-25 22:13] asmecher commented on #1576
Those drafts both look fine, @jamshidhashimi! I suppose the relevant change from before is the addition of the policy to PaymentsHandler?

[2019-02-25 22:29] asmecher commented on #2687
I don't have a strong feeling about any of this, really, but I think it might be a good opportunity to introduce some generic tools for reminders -- @NateWr, back to your ideas about flexible workflow, this would be a way to create a new "card" based on a template and invite users to it. Do you have any mockups from that work at your fingertips after all this time?

[2019-02-26 04:48] ajnyga commented on #2687
generic sounds good. Would be great to see the concept you have talked about.

[2019-02-26 06:34] withanage commented on #4507
I like this suggestion very much!
This is  also relevant in OMP,  when lots of chapter authors are included in edited-volumes.
In some cases there are definite requests for exclusion, which is currently  achieved by temporary chaning the email adresses, either manually of through database quieries.

[2019-02-26 08:46] ajnyga opened #4540 "Tools to clean old incomplete submissions"
Since a couple of releases ago OJS started to show the incomplete submissions for editors. Some editors have asked whether they can remove these and if there is some automatic way of doing it.

Of course there could be legit incomplete submissions included, but maybe we could have at least a command line tool for removing older incomplete submissions from the database?

[2019-02-26 08:58] heike-r commented on #4540
A command line tool might not be convenient for editors / journal managers. Maybe add an option where the journal manager can enter a time span (in days), after which incomplete submissions are deleted and include the option to never delete them.
In my experience, authors sometimes take several days to complete a submission. We usually contact authors of incomplete submissions (not possible via th

[2019-02-26 09:15] NateWr commented on #4214
:+1: I've merged the stable PRs. The tests have passed for the `master` PRs, so just give them a quick rebase and ping me and I can merge them.

@Ph-We This will be part of 3.1.2.

[2019-02-26 09:43] NateWr commented on #2687
One thing I've considered for a long time is the concept of an assignable task with due dates. People want this throughout the workflow. In addition to reviews and revisions, due dates could be used for initial submission acceptance/rejection, copyediting tasks, layout editing tasks, ask the author to send in metadata.

An old mockup of what it could look like inside each stage of the workflow.

!

[2019-02-26 10:01] ajnyga commented on #2687
Thanks Nate.

Have you considered if the tasks could be combined into discussions (just a thought since these tasks are probably always also discussed in some way. Probably a separate task grid is better).

So to follow your logic, in the settings somewhere we could then have a grid where you create a new item and can choose an action within the workflow from a predefined list (for example `reques

[2019-02-26 10:28] ajnyga commented on #2687
I mean something like this. Of course there are a lot of questions involved. Like what is the relation between the message and predefined email templates.

<img width="547" alt="screen shot 2019-02-26 at 12 26 37" src="https://user-images.githubusercontent.com/16347527/53406140-fe558680-39c1-11e9-9dc2-8b9693e12f54.png">

[2019-02-26 11:35] NateWr commented on #2687
Yes, that's the general idea. But request revisions is probably a bad example, because that is an action that already has a setup step and a defined endpoint. Because of this, we can manage the task automatically. So it would be more likely that in the Request Revisions modal we would have a step that said "Revisions due" and we would could create the task, assign the participants, send the remind

[2019-02-26 11:37] NateWr commented on #2687
And as part of keeping it simple, I'd recommend just focusing on manually marking tasks completed for now. I know that may not be the best for your particular use-case (revisions), but let's focus on that as a baseline.

If you want to set up an automatic revision task due date, with automated completion when a revision is submitted, you could easily hook in with a plugin to add the task and mark

[2019-02-26 11:46] ajnyga commented on #2687
Sounds like a good concept. I will look through this.

[2019-02-26 11:47] ajnyga commented on #2687
(ps. I of course never do typos)

[2019-02-26 12:29] marcbria commented on #1792
I can't find this plugin in the plugin gallery of the last OMP (3.1.1.4).
It this plugin supersede by any OMP core feature?

Sorry in advance if this is not he right place/post to ask.

[2019-02-26 12:59] ajnyga commented on #3330
@asmecher now that Nate has merged the new settings forms, how about these changes?

I think that everything under "Open Access Options For Subscription Journals" in Payments > Subscription policies should be moved somewhere else because they are not settings about payments at all.

So:
- Move embargo length setting from Payments to Settings > Distribution > Access (visible when publish mode subsc

[2019-02-26 13:53] Ph-We commented on #4214
@defstat , @NateWr , we are really thankful to you both.

[2019-02-26 15:12] ctgraham opened #4542 "Public URL Identifier breaks with a slash character"
In 3.1.x, entering a slash into the Public URL Identifier breaks the page routing.

Steps to reproduce (OJS 3.1.2):

- Schedule a Submission against an Issue
- In the Submission Metadata, assign a Public URL Identifier of "test/123"
- Preview the Issue
- Click on the link to the Submission

Results:
HTTP 404

[2019-02-26 16:47] asmecher commented on #4542
@ctgraham, this is an Apache configuration issue. See http://httpd.apache.org/docs/current/mod/core.html#allowencodedslashes for details. I don't think this is part of a specification, just a decision by the folks at Apache.

[2019-02-26 16:47] asmecher commented on #1792
@marcbria, there isn't an OMP QuickSubmit plugin (yet); just an OJS one.

[2019-02-26 17:25] ctgraham commented on #4542
Yes(ish).  But in my experience, `AllowEncodedSlashes` Off provides the expected Apache 404; `AllowEncodedSlashes` On passes an unexpected array to `ArticleHandler:initialize()`, generating an OJS 404; and, `AllowEncodedSlashes` NoDecode passes an escaped string to `ArticleHandler:initialize()`, which doesn't match the ID, and generates an OJS 404.

What is the expected working condition?

[2019-02-26 17:47] asmecher commented on #4542
Hrm, I'm using lighttpd and the PHP internal server over here, so I don't have an Apache setup to tinker with. But I'd expect encoded slashes to be passed into the arguments array, rather than treated as a `/` separator.

[2019-02-26 18:41] asmecher commented on #3330
Your proposals make sense to me, thanks.

The "Registered readers will have the option of receiving the table of contents by email..." option relates to `classes/tasks/OpenAccessNotification.inc.php`, which is kicked off by the scheduled tasks structure. I haven't specifically tested this recently but as far as I'm aware it should work.

[2019-02-26 18:44] asmecher commented on #4540
@NateWr, do you recall this change? I don't think showing incomplete submissions was an intentional change. Most likely this came with the move to the API/vue.js toolset for submission lists.

[2019-02-26 19:34] asmecher commented on #1257
Yes, thanks!

[2019-02-26 19:34] #1257 closed

[2019-02-26 19:35] asmecher commented on #4497
@jmacgreg, can you confirm whether anyone updated that installation since Feb 13? If not, I think we can close this one.

[2019-02-26 19:35] asmecher commented on #4524
@mfelczak, can you include a screenshot or identify the locale key?

[2019-02-26 19:41] ajnyga commented on #4540
https://forum.pkp.sfu.ca/t/list-incomplete-submissions-ojs-3/33515/6

[2019-02-26 19:42] ajnyga commented on #4540
also https://forum.pkp.sfu.ca/t/delete-incomplete-submission/51229 (did not test if that is true)

[2019-02-26 19:43] ajnyga commented on #3330
Great, This is a good way to see how the new forms work. I will prepare a pr for the changes later this week.

[2019-02-26 19:55] ctgraham commented on #4542
Confirmed in Apache 2.2 and Apache 2.4.

`AllowEncodedSlashes On`:
[code]
`Array(2)` is `array ( 0 => 'test', 1 => '1234', )`.

`AllowEncodedSlashes NoDecode`:
[code]
`Array(1)` is `array ( 0 => 'test%2F1234', )`.

In lighthttpd and the PHP internal server the value of the `Array(1)` is `array ( 0 => 'test/1234', )` ?

[2019-02-26 21:48] asmecher opened #4545 "Upgrade PHPUnit/Selenium/WebDriver testing toolset"
PRs:
- https://github.com/pkp/pkp-lib/pull/4546
- https://github.com/pkp/ojs/pull/2312
- https://github.com/pkp/omp/pull/655

[2019-02-26 22:41] jmacgreg commented on #4497
Hi both - the installation had been updated on the 22nd. I just re-updated it (and ran composer update / updated npm / cleared the cache), and the problem is still there.

[2019-02-26 23:03] jmacgreg opened #4547 ""Create Reviewer" reviewer selection option breaks email template"
This occurs when, as an editor, I go to assign a reviewer and instead choose the "Create reviewer" option. The Create New Reviewer modal loads, but the email is blank except for a "{", which I suspect is some sort of underlying code-breakage issue. See attached screenshot.

<img width="946" alt="image" src="https://user-images.githubusercontent.com/201446/53452697-0d532d80-39f0-11e9-9b9d-ff8d2269d

[2019-02-26 23:09] jmacgreg commented on #4547
OK, in the error log I see:

- multiple (dozens of) iterations of
[code]
... and then a bunch of PHPMailer warnings, followed by an Array to String conversion notice with an associated DB error:

[code]

[2019-02-27 05:23] crism opened #4548 "Another PostgreSQL bug: series links"
From https://iopn.library.illinois.edu/books/pww/ follow either series link, _e.g._ https://iopn.library.illinois.edu/books/pww/catalog/series/afropww, see SQL error. This is the same kind of SQL pedantry as all the other PostgreSQL ones…

[2019-02-27 10:50] bozana opened #4549 "escape URL found in a citation for html href attribute"
s. https://forum.pkp.sfu.ca/t/links-in-references/51651

[2019-02-27 10:55] bozana commented on #4549
PRs:
stable-3_1_2:
pkp-lib: https://github.com/pkp/pkp-lib/pull/4550
ojs: https://github.com/pkp/ojs/pull/2313 (only submodule update)
omp: (only submodule update)

master:
pkp-lib:
ojs: (only submodule update)
omp: (only submodule update)

[2019-02-27 10:56] bozana commented on #4549
@asmecher, could you please take a look at this change? Thanks!!!

[2019-02-27 11:20] NateWr commented on #4540
To clarify, _your own_ incomplete submissions show up in My Queue. Journal Managers and admins see _others_ incomplete submissions in All Active.

This was intentional. If I recall, it was done to help cases where authors get stuck during submission and email the editors for help. Editors wanted to be able to "hop into it" to see for themselves how far the author had gotten.

The All Active list h

[2019-02-27 11:24] ajnyga commented on #4540
I think it is a good feature to have those visible in the listing, but like one of our editors said, it would be nice to be able to easily remove the older ones easily. As I mentioned above, I would be happy with a simple command line tool for the site admins to manage. This is not something journals ask for all the time. Basically a tool with two parameters: context_path and timelimit.

[2019-02-27 11:24] NateWr commented on #4446
Finally, tests passing, no merge conflicts. Thanks for the assist on the OMP tests, @asmecher. Merged.

[2019-02-27 11:24] #4446 closed

[2019-02-27 11:30] NateWr commented on #4540
It will probably be a while before we get to submission deletion in our CLI tool, but definitely good to have if you're willing to write the `DELETE /submissions/{id}` endpoint.

[2019-02-27 11:51] ajnyga commented on #4540
Not probably something I will have time right now, but can you link an example here of a similar endpoint. Are you simply thinking of extending this https://github.com/pkp/ojs/blob/master/api/v1/submissions/SubmissionHandler.inc.php

[2019-02-27 13:38] NateWr commented on #4540
Oh, looks like we've already got this in https://github.com/pkp/pkp-lib/blob/master/api/v1/_submissions/PKPBackendSubmissionsHandler.inc.php#L43-L52!

Deleting from a CLI tool would just involve getting the submissions you want then passing each one to the delete method in the service class:

[code]

[2019-02-27 14:08] Baytan opened #4554 "After thanking, reviewer decisions is not seen on Review page"
Thanks to all contributors of this Project. We are using ojs (3.1.1.4) for our journal for 2 years. I have a request for future versions.
After thanking reviewers, the reviewer decision is not shown on the Review page. Seeing all reviewer decisions together was better for an editör to decide about article especially when conflicting decisions are present. I would be grateful if I can see the reviw

[2019-02-27 14:08] Baytan commented on #4213
As I wrote a new one. I close this.

[2019-02-27 19:12] ajnyga commented on #3330
I can see that the location of author self archive policy was discussed here: https://github.com/pkp/pkp-lib/issues/3562

In OJS 3.1 it was located in Settings > Distribution > Permissions

However, with the merge of this https://github.com/pkp/pkp-lib/issues/3594 to master branch it was removed from the settings and also the translation keys for the label and description have been removed.

Was t

[2019-02-27 19:32] ajnyga opened #4555 "Vue Vtooltip stays open even if you change settings tab"
The vtooltip used in the new settings forms is sticky. It will only close by clicking the tooltip icon again, it will even stay open when switching to other settings tabs.

Expected behaviour would be that it would close when clicked outside the tooltip box.

However, it seems that `defaultTrigger` `click` does not allow alternative closing actions. The only solution would be to use `defaultTrigge

[2019-02-27 22:13] asmecher commented on #4514
Thanks, @zuphilip!

[2019-02-27 22:13] #4514 closed

[2019-02-27 22:18] asmecher commented on #4213
@Baytan, I assume you re talking about https://github.com/pkp/pkp-lib/issues/4554. Why have you re-filed this?

[2019-02-27 22:20] asmecher commented on #4446
Woo!

[2019-02-27 22:22] asmecher commented on #4548
@crism, could you turn on the stack trace option in `config.inc.php` and post the trace here (removing anything you don't want preserved)? Once the error message goes away this issue entry will be pretty hard to decypher. Thanks!

[2019-02-28 00:54] jamshidhashimi commented on #1576
Thanks @asmecher. This is the same PR as before, but there were some unwanted submodule additions that I removed and submitted a clean PR.

[2019-02-28 00:56] asmecher commented on #1576
Gotcha, thanks. The PRs look clean, but I think the TabHandler work still remains to be looked at, right?

[2019-02-28 00:57] jamshidhashimi commented on #1576
Yes @asmecher. That's correct.

[2019-02-28 02:33] asmecher commented on #4542
Ah, looks like Lighttpd has the same issue -- tracked this down to https://redmine.lighttpd.net/issues/2340. And from there, the CGI spec apparently says that `PATH_INFO` should not be urlencoded. On second thought, since we can be pretty sure nobody's relying on this, maybe it would be better to overtly disallow that character.

[2019-02-28 02:34] #4542 closed

[2019-02-28 02:34] asmecher commented on #4542
Merged both PRs, thanks!

[2019-02-28 02:42] asmecher commented on #4549
@bozana, are you sure you want the `rawurlencode` within the `href`? It looks like if you pass in...

    http://www.some-url.com

...you'll get...

    <a href="http%3A%2F%2Fwww.some-url.com">http://www.some-url.com</a>

[2019-02-28 02:50] asmecher commented on #4497
@jmacgreg or @amandastevens, would you mind PMing me the URL of the install?

[2019-02-28 03:11] crism commented on #4548
From our test installation error log:
[code]
From the stack trace:
[code]

[2019-02-28 03:20] crism commented on #4548
The full query:
[code]

[2019-02-28 04:01] asmecher commented on #4547
Thanks, @jmacgreg -- fixed by the attached commits (one for `master`, one for `stable-3_1_2`).

For some reason the Smarty `clearAssign` function wasn't behaving as expected. I worked around it by simply changing `clearAssign` statements into `assign` statements with `null` values (or `false` or whatever was appropriate). This cleared out a few redundant lines of code so I don't mind it as a solut

[2019-02-28 04:01] #4547 closed

[2019-02-28 04:04] asmecher commented on #4548
What release/branch are you working with?

[2019-02-28 04:26] crism commented on #4548
We’re on 3.1.1-4 (though we have two patches installed: fc10972 (pkp/omp) and pkp/omp#601.

[2019-02-28 04:31] crism commented on #4548
Adding `"st"."setting_value"` to the `select` clause of the above query fixes the error in interactive PostgreSQL. However, the `CatalogHandler` and `PKPSubmissionService` have changed a fair bit since 3.1.1-4, and I’m having trouble untangling where exactly to make that change.

[2019-02-28 04:32] crism commented on #4548
This is a specific example of the more general problem, though, that we keep throwing things into `GROUP BY` and `ORDER BY` clauses that aren’t in `SELECT`, which violates SQL rules that PostgreSQL actually enforces. We ought to be more careful.

[2019-02-28 05:23] asmecher commented on #4548
Hmm, I wonder if this is already solved by https://github.com/pkp/pkp-lib/issues/4411...

[2019-02-28 08:42] Baytan commented on #4213
I see that no one responded and I tihin no one noticed it. To draw attention I opened a new one and closed the old one.

[2019-02-28 08:55] bozana commented on #4549
@asmecher, no, I am not sure :-\ but I would need to somehow escape the 'special' characters, e.g. "<" and ">". What else I could use? Would htmlspecialchars be the better solution (for URLs)? Hmmm... :-\

[2019-02-28 10:45] Vitaliy-1 commented on #4420
Think it should be enough.

[2019-02-28 11:00] NateWr commented on #3286
We have made some improvements here by adding a prefix to the context path, which we'll roll out to other instances when those forms are converted.

![selection_026](https://user-images.githubusercontent.com/2306629/53561915-fcb5cb00-3b47-11e9-9230-94b9683e8aa4.png)

However, auto-generating would still be nice so I'll keep the ticket open.

[2019-02-28 11:17] NateWr commented on #3330
Do you know what the setting name for "Author Self-Archiving Policy" is and where it is used? I may have gotten rid of it because I could find no uses of the setting in the system. This happened with a few dead context settings.

[2019-02-28 11:18] ajnyga opened #4556 "Auto-assign editors to discussions that they reply to"
At the moment editors can see and reply to all discussions regardless if they are participants in those discussions.

This leads to situations where the editor does not get any notifications for new replies in those discussions.

I suggest that once an editor participates in a discussions, she is automatically assigned as participant in that discussion.

We could also discuss whether editors who a

[2019-02-28 11:31] NateWr commented on #3673
This has been merged to stable. I've renamed the issue and assigned it to 3.2 for the port to master.

[2019-02-28 11:32] ajnyga commented on #3330
Yeah I noticed that it is removed from the about the journal page as well.

It is basically just a placeholder for a text where you can enter the journals self-archiving policy description. I was wondering if you had just decided to remove the field and let journals add the text to the general "about the journal" text? But in any case I think we should take into account in the upgrade process that

[2019-02-28 11:34] NateWr commented on #4556
I like auto-assign on participation. Ideally, a quick opt-in where they click a button to join the conversation before replying. But either one is good.

[2019-02-28 11:36] NateWr commented on #3330
The text will still be in the database. If it was removed, it was probably because we do not use the text anywhere on the site. So a journal may have a custom theme using it, but we don't.

If you need it you can copy this plugin to get it back: https://github.com/NateWr/institutionalHome/blob/master/InstitutionalHomePlugin.inc.php

Otherwise I think I'd want to have a conversation about why we ha

[2019-02-28 11:39] ajnyga commented on #4556
Do you mean a checkbox just before the send button? Would we otherwise prevent editors from answering to the message, I mean if they do not opt-in?

Or did you think a separate modal window that opens when you click "Add message"? Something like "You will be added as a participant in this discussion. Ok Cancel".

[2019-02-28 11:49] NateWr opened #4557 "Images without alt text should have alt set to null"
When an image does not have alt text, it should be given an attribute of `alt="null"`. A screen reader will bypass the image in the tab order and avoid an additional step with no information.

I just learned this!

In the default theme, where alt text doesn't exist we've been removing the `alt` attribute. We should change that.

[2019-02-28 11:56] NateWr commented on #4556
I would say just do the auto opt-in. I was thinking something like a "Join Conversation" button that, when clicked, shows the reply area. But let's not get bogged down in the UX of it for now. :)

[2019-02-28 11:57] ajnyga commented on #3330
I think what happened is that the setting was in a bad place under Payments and since those settings did not make it into original OJS3, the setting was neglected and was missing from the theme templates as well.

However, it has been available in OJS3.1 under Distribution > Permissions so probably some journals have filled it. I do not have a problem fetching the data from db, but there are a lot

[2019-02-28 12:03] ajnyga commented on #4556
Ok!

[2019-02-28 12:05] ajnyga commented on #3330
You know what, the same thing applies to the `delayedOpenAccessPolicy` setting that I moved in the pr. That is also a piece of text that used to be shown on the about the journal page, but now we only have the settings left.

So add that to the discussion.

Do we want to have these separate text fields and show them on the about the journal page if they are filled?

[2019-02-28 12:08] ajnyga commented on #4556
the 3.1.2 train is probably already gone? So I will pr against master?

[2019-02-28 13:45] ajnyga opened #4558 "Submission file permissions and multiple author stage assignments"
OJS supports the feature that a single submissions has multiple author stage assignments.

However, if author1 uploads a file to the system, author2 can not upload a new version of that same file because of file permissions.

Should we relax this check so that instead of checking to whom the file belongs to, we would check that the uploading user has the required stage assignment to upload a new v

[2019-02-28 14:56] NateWr commented on #3330
The `delayedOpenAccessPolicy` is still used on the subscription policy form. If this information is wanted on the about page then journals can add it there. Only a tiny fragment of our journals would use such a field so it doesn't make sense for us to support it outside of the subscription policy stuff.

[2019-02-28 14:57] amandastevens commented on #4497
I will send it

[2019-02-28 14:58] NateWr commented on #4556
:+1:

[2019-02-28 15:06] ajnyga commented on #3330
Yes I am planning to move that as suggested above. Payments is not the right place for it. The subscription policy form is actually broken in master branch at the moment. Seems like it is not converted to support the current way form are handled in master branch. Not sure.

But in general if we support a delayed open access setting under Settings > Distribution > Access, editors need to have an ea

[2019-02-28 15:10] ajnyga commented on #3330
Just curious, do we have any figure on how many journals use delayed open access in OJS? In journal.fi it is around 20 journals out of 70.

[2019-02-28 15:57] ajnyga commented on #4556
ojs: https://github.com/pkp/ojs/pull/2318
pkp-lib: https://github.com/pkp/pkp-lib/pull/4559

[2019-02-28 16:36] #4554 closed

[2019-02-28 16:38] asmecher commented on #4213
@Baytan, that clutters the issue list -- it would be better to e.g. just add a comment here asking for an update. We are a small team and get a lot of reports, so aren't often able to respond as quickly and fully as we'd like.

[2019-02-28 16:41] ajnyga commented on #4556
ping @NateWr / @asmecher test passed if you want to review

[2019-02-28 16:42] asmecher commented on #3330
Broadly speaking, the OJS 2.x setup interface used to contain a lot of bespoke fields for various kinds of policies. We cut way back on these in OJS 3.x, to decrease the size of setup but also let journal managers design their "about" pages as they want using e.g. the nav menus tool. However, I think we'll still need to find a "best" balance, as some of those fields fed downstream tool/services li

[2019-02-28 16:46] asmecher commented on #4556
OJS 3.1.2 hasn't gone out yet -- soon. But I wonder if there isn't a use case e.g. for managing editors to use conversations to delegate work to others, that they legitimately don't want to be part of. For example, editor spots problem in layout version, then creates a discussion for author and layout editor to resolve it, but doesn't want to be copied.

To accommodate that, I would suggest having

[2019-02-28 16:51] ajnyga commented on #4556
They can always remove themselves from the discussion if they want?

In general I think it is a bit of a bad practice that we allow editors without a stage assignment to participate in discussions.

[2019-02-28 16:54] ajnyga commented on #4556
Oh and to clarify, the current situation is that if an editor without a stage assignment creates a totally new discussion, they are included in the participants list. They can remove the selection from their checkbox if they want.

However, if for example the is a discussion created by the author and the editor is not participant in that discussion, the editor can still answer the discussion but d

[2019-02-28 17:46] asmecher opened #4560 "Subscription policies form is broken"
...on the `master` branch. It appears to use `JournalSettingsDAO::getSetting`, which doesn't work since the settings form rewrite.

[2019-02-28 17:46] asmecher commented on #4560
(Ping @ajnyga, since you mentioned this in Slack)

[2019-02-28 18:22] asmecher commented on #4497
Phew, this was a tricky one. The Zend opcode cache was caching the updated settings for up to 1 second after they were updated, so the refresh was seeing old settings as long as it completed within that time. I've added an opcode cache flush to the file caching code when that function is available.

[2019-02-28 18:22] #4497 closed

[2019-02-28 18:23] asmecher commented on #4497
The sandbox install is patched and tests OK.

[2019-02-28 18:24] jmacgreg commented on #4497
Sweet! Thanks! Sounds like a super-weird one.

[2019-02-28 19:04] asmecher commented on #4548
We'd definitely catch these more quickly if part of the dev team used PostgreSQL on the regular. (I have it set up for test scripting, but that's it). The best solution will be to improve Travis test coverage, which runs PostgreSQL alongside MySQL.

[2019-02-28 19:32] ajnyga commented on #4497
that explains a lot: https://github.com/pkp/pkp-lib/issues/3493#issuecomment-374276992
(had this problem in XAMPP installs but could not figure out why)

[2019-02-28 19:36] ajnyga commented on #3330
Ok,

So remove both `delayedOpenAccessPolicy` and  `Author Self-Archiving Policy` from the settings?

[2019-02-28 19:36] asmecher commented on #4497
It would be even more satisfying if I hadn't already closed that issue :)

[2019-02-28 19:40] asmecher commented on #3330
Yes, agreed that we can remove both of those. And I suspect they aren't commonly used enough to be worth concatenating into "About", as we do for other settings on the 2.x to 3.x upgrade; having them stick around in the database is enough to ensure they aren't lost to users who do use them IMO.

[2019-02-28 19:46] ajnyga commented on #3330
Ok, I will revise my pr above tomorrow then and re-run the tests.
We will then just move the embargo length setting under distrobution settings. This enables journals to define embargo length without enabling payments.

I will also drop all the translation keys related to those two settings we are removing.

[2019-02-28 20:00] mtub commented on #4557
Thanks for sharing, now I got a chance to learn that, too.

But it still would be a good thing to have alt texts as often as possible, right? Or do you suggest to intentionally leave alt texts empty and skip the images in screen readers with the help of this attribute?

[2019-02-28 20:21] asmecher commented on #4549
I think the issue here is that the URLs are actually invalid, i.e. the `<`, `>`, etc. are unescaped. See https://perishablepress.com/stop-using-unsafe-characters-in-urls/ for some info about this including links to the RFCs. I can see some pretty big inconsistencies in how this is handled over at Wiley -- for example, from the article page:

    https://onlinelibrary.wiley.com/doi/abs/10.1002/%28S

[2019-02-28 20:23] asmecher commented on #4549
(Deferring to 3.2 for consideration)

[2019-02-28 20:23] #4522 closed

[2019-02-28 20:24] asmecher commented on #4470
Closing -- but also tagging @mtub just in case!

[2019-02-28 20:24] #4470 closed

[2019-02-28 20:25] asmecher commented on #4462
@defstat and @ctgraham, it looks like the 3.1.2 work for this one is done, but I'm not sure if there is more work to be done e.g. on the `master` branch. Punting to 3.2 pending your feedback.

[2019-02-28 20:29] ctgraham commented on #4462
There is something NQR about the ability for the current code being able to leave a blank menu item (Spanish journal in Spanish missing the German name), but it is substantially improved over having all blank navigation.

There is no need to forward port to 3.2, unless we want to improve the logic of selecting a desired translation.  3.2 will universally fill in the first available translation if

[2019-02-28 20:31] mtub commented on #4470
yeah about that… I expect a OJS 3.1.2 version, but can open a new PR for that, so you can keep this closed. don't have a time yet for when I will get the translation, so should not keep us from releasing…