[2018-10-11 13:57] NateWr commented on #4132
Maybe they should use the Announcements instead! :) I don't know about this use case, but it doesn't seem hard to address when the need arises.

When a DOI is saved it should be validated. The use cases? I agree with you but my understanding is that editors are adamant they want to edit DOIs. Maybe there are issues with importing back-catalogues. I'm told the use case exists.

I agree, but again I

[2018-10-11 13:59] NateWr commented on #4132
DOI deposit should be kicked off when the article is published. To support continual publishing, we need to ensure a "publication event" happens that is common to both modes of publishing. We'll need that for email notifications, submission tracking, activity logs and other things in the system.

[2018-10-11 14:21] bozana commented on #4131
merged, thus closing....

[2018-10-11 14:21] #4131 closed

[2018-10-11 14:28] ajnyga commented on #4132
Agree, but with the current default DOI pattern this is not possible (free the DOI and remove issue metadata from the suffix pattern! 🤣 )

[2018-10-11 14:39] bozana commented on #4132
The journal can free its DOIs by defining its own pattern for article DOIs in DOI plugin settings, that does not contain the volume, issue or something else....

[2018-10-11 15:04] asmecher commented on #4112
<sub>heh, wasserbueffel.</sub>

There are a few natural options we could use for filenames:
1. The filename in the upload wizard (my proposal in https://github.com/pkp/pkp-lib/issues/4112#issuecomment-428692330)
2. The upload filename on the client side (whatever the filename was on the machine we uploaded from)
3. A new form field (your proposal in https://github.com/pkp/pkp-lib/issues/4112#issue

[2018-10-11 15:19] asmecher commented on #4011
Is there anything in the server log when you visit the appearance form?

[2018-10-11 15:20] asmecher commented on #4133
(PR: https://github.com/pkp/pkp-lib/pull/4134)

[2018-10-11 15:29] carzamora commented on #3997
Yes @NateWr, your order and events are correct!

[2018-10-11 15:32] ajnyga commented on #4132
Sure they can. But as long as OJS supports things like volume number variable in the DOI suffix, the system needs to support that.

This makes things overly complicated and the only thing that is gained is that the volume number is visible in the DOI. That is really all, a visual thing. A good example how things get complicated is DOI support in quicksubmit plugin: https://github.com/pkp/quickSubm

[2018-10-11 16:11] ajnyga commented on #4014
Should the reply-to field in the received message now contain both the email of the sender and the email defined in the envelope_sender setting?

I tried to send a message from OJS first by using the original code (3.1.1.2) and the changed code here. The receiving end was an gmail account, the sending user had a finnish university account and the envelope sender was a real email account on the ema

[2018-10-11 16:59] asmecher commented on #4133
Thanks, @ajnyga, I've merged that into `master`!

[2018-10-11 16:59] #4133 closed

[2018-10-11 17:53] ctgraham commented on #4014
The intent is for the From address to be added as a Reply-To, if it differs from the Envelope Sender.  The envelope sender may be sent as the "bounce address" within a journal, or may be set from config.inc.php.

Let's say that OJS is configured with:
[code]

And that the following mail is created:
[code]

The resulting SMTP headers might look like:
[code]
Setting the `Return-Path` and preserving

[2018-10-11 18:47] ajnyga commented on #4014
@asmecher what if we change the name of the issue to: "Introduce an email reply processor and enable users to participate to discussions by answering emails"

Because I think that my original issue is solved here. Or we could just close this and create a new one with Clinton's suggestion. I think that having a feature like that would move OJS to whole new level.

[2018-10-11 19:14] alireza08 commented on #4011
nothing specific. there are a lot of errors on missing css files and js scripts in the log that are from OJS2.
[code]

[2018-10-11 20:14] ViRuSTriNiTy commented on #2638
@asmecher @stranack Finished my work. Please let me know when something is unclear / not correct.

[2018-10-11 22:15] asmecher commented on #4011
This was also just reported [on the forum](https://forum.pkp.sfu.ca/t/problem-sidebar-managment-ojs3-1-1-4) -- interestingly it's only applying to a single journal. Do you have a single-journal installation or multi-journal? Can you think of any particular unusual configuration on your system, e.g. the use of a less common plugin or something similar?

[2018-10-11 22:38] asmecher commented on #2638
Thanks, @ViRuSTriNiTy, that's good work. I've added a review to each PR.

[2018-10-11 23:09] asmecher commented on #4112
https://github.com/pkp/ojs/pull/2133 exposes the galley file metadata form.

[2018-10-12 00:45] bozana commented on #4132
I believe the solution to explicitly, and not automatically, assign DOIs in OJS 3 was right -- that way we are producing less errors, support cases and further requirements. Thus I would rather leave this as it is now in OJS 3 i.e. no automatic assignment.

The unresolvable patterns in the suffix seem to be a problem i.e. a source of confusion. For that, we could:
1) only allow the object ids to b

[2018-10-12 04:51] ajnyga commented on #4132
The DOI pattern without the issue data is not a goal itself. But with the kind of DOI pattern I suggested OJS could handle different kinds of publishing more easily. I am seeing four kinds of publishing modes that could be supported:
1. Publishing full issues
2. Publishing single articles
3. Publishing single articles that are attached to an issue later (forthcoming articles)
4. preprints (yes, I

[2018-10-12 06:04] ajnyga commented on #4132
One more thing comes to mind in the process:
When the article metadata is changed, especially now with versioning, should there be an easy way of upgrading the metadata attached to a specific DOI. Crossref surely would like to receive the changed metadata and currently the changes made after the registration of the DOI are not visible unless the editor manually registers the DOI again.

[2018-10-12 06:55] alireza08 commented on #4011
All our websites are single journals. I went through the database inside `plugin_settings` and `journal_settings` and `versions` tables and tried to check different conditions manually. but everything seems fine. may be it is the called API , I didn't go there.
By the way, why do you think there are calls to OJS2 css and js files in OJS3? these files are not found and just filling the log file.

[2018-10-12 10:56] ajnyga commented on #4132
I agree that everything should not be handled and solved here. The DOI pattern already has an issue I referenced above. But I do think that the problem with the pattern and the time-gap are something that should be kept in mind when this workflow is planned so that we do not need the redesign it again. The other thing is versioning, does the workflow above work with the new versioning feature?

Th

[2018-10-12 11:49] Vitaliy-1 opened #4136 "Lens Galley Plugin shows the wrong date"
For example, if JATS XML meta contains date in this format:
[code]
Lens Viewer will show 09 September 2018, thus, always substracting "1"
Related to: https://forum.pkp.sfu.ca/t/publication-date-in-lens-viewer/49077

[2018-10-12 12:23] ctgraham opened #4137 "Legacy SMTP connection can fail silently"
`SMTPMailer::connect()` captures the error number and string, but does not do anything with it:
https://github.com/pkp/pkp-lib/blob/e406013b405be3a1d887ec8dad9c4247b1ab7367/classes/mail/SMTPMailer.inc.php#L164-L169

If this function returns false, the caller (`Mail::send()`) doesn't do any logging with the failure unless `display_errors` is `On`.
https://github.com/pkp/pkp-lib/blob/e406013b405be3a

[2018-10-12 12:42] NateWr commented on #2638
Hi @ViRuSTriNiTy, this looks really great! Thanks for all the hard work. I have raised a couple of PRs that you can merge to your branch:

https://github.com/ViRuSTriNiTy/pkp-lib/pull/1
https://github.com/ViRuSTriNiTy/ojs/pull/1

These changes do the following:

1. I've rearranged how we display the section policies on the reader-facing submissions page. We want to keep the call-to-action at the v

[2018-10-12 14:36] MarHerUMR opened #4139 "[OJS 3] Clarify language about reviewer state in ReviewerGrid"
As mentioned in issue #4126 it would be more obvious when the state would show as "Review declined" instead of "Declined".

I'll provide a PR.

[2018-10-12 17:14] jrwiebe opened #4141 "[OJS] Article galley view does not include metadata"
In OJS 3 the galley view of an article does not include metadata about the article. Compare for example the headers of these two pages:
* Landing page: https://demo.publicknowledgeproject.org/ojs3/demo/index.php/demojournal/article/view/6
* Galley view: https://demo.publicknowledgeproject.org/ojs3/demo/index.php/demojournal/article/view/6/9

This is a change in behaviour from OJS 2 (e.g., http://i

[2018-10-12 18:03] asmecher commented on #4141
@jrwiebe, is there a particular piece or set of metadata that you're interested in (e.g. the DC or Google Scholar meta tags on the galley view page)?

[2018-10-12 19:29] asmecher commented on #4136
@Vitaliy-1, I suspect this is a problem with Lens Reader, not the OJS Lens Reader Plugin (which just integrates that software with OJS, and doesn't parse the XML itself). Maybe this should be filed at https://github.com/elifesciences/lens? (I wonder whether there's some time zone math done on that date by accident.)

[2018-10-12 19:29] #4136 closed

[2018-10-12 19:33] asmecher commented on #4011
I don't think these references exist in OJS any more -- the likeliest cause is that something in the wild has cached that URL from when OJS2 was running.

[2018-10-12 19:34] asmecher commented on #4139
Thanks, @MarHerUMR! One minor tweak to the PR and it'll be ready for merging.

[2018-10-12 20:11] asmecher commented on #4137
Thanks, @ctgraham!

[2018-10-12 20:13] asmecher commented on #4137
(Also cherry-picked to `ojs-stable-2_4_8`.)

[2018-10-12 20:30] asmecher opened #4142 "Introduce an email reply processor"
...to:

- enable users to participate to discussions by answering emails
- enable reviewers to comment by answering emails
- ...possibly more.

[2018-10-12 20:31] asmecher commented on #4014
@ajnyga, I wholeheartedly support that idea -- but I do think it's a bigger discussion than this issue. I've filed it here: https://github.com/pkp/pkp-lib/issues/4142

@ctgraham and @ajnyga, are the intentions of this original issue addressed by the force-envelope-sender option and the tweaks Clinton has made?

[2018-10-12 20:36] asmecher commented on #4142
Proposal: Allow journal managers to optionally configure an email account (IMAP and/or POP), that OJS can periodically process. Use PHP's `imap` functions -- they can actually [handle POP as well](https://stackoverflow.com/questions/3165014/fetching-mail-from-a-pop3-server-using-php). Fetch unread messages as a batch job (to run via the normal scheduled tasks mechanisms) and delete the ones that h

[2018-10-12 20:36] ajnyga commented on #4014
I think they are. The rest is up to our own email server settings.

[2018-10-12 20:38] asmecher commented on #4142
Unknowns: how to authenticate received emails against the task (perhaps use `AccessKey`); where to put authentication information (we probably can't use one-time-generated email addresses, as most users won't have access to this); how to mix normal email content in with parseable content; whether there are support libraries/standard mechanisms to do this.

[2018-10-12 20:38] asmecher commented on #4014
Thanks, @ajnyga! Closing, unless @ctgraham thinks otherwise.

[2018-10-12 20:38] #4014 closed

[2018-10-12 20:43] Vitaliy-1 commented on #4141
Having identical metadata on several pages (landing + galleys) can be somewhat confusing for search engines.

[2018-10-13 01:19] jrwiebe commented on #4141
Was that the rationale for not including it? I searched through the commit history and couldn't find any reference to this, but I easily could have missed something.

It's fine with me if the metadata is not reinstated – the Zotero code has been updated to fetch it from the landing page.

[2018-10-14 20:06] ViRuSTriNiTy commented on #2638
Hi @NateWr,

thanks for helping me out here. I found 2 issues in you commits after merging:

1. The newly introduced JS-Handler is needed in review process too
https://github.com/ViRuSTriNiTy/pkp-lib/pull/1/files#r225006516

2. Section without policy is not displayed
https://github.com/ViRuSTriNiTy/pkp-lib/pull/1/files#r225006618

Please answer my comments. Thanks.

[2018-10-15 08:12] isgrim commented on #4130
I just checked our biggest OJS instance, which is still on version 2.4.8 and the metrics table is also around 800 MB.
Let me know if I can help test something. We want to upgrade this instance beginning of next year, probably to OJS 3.2 then.

[2018-10-15 08:29] Eimanatas12987 opened #4144 "Submission and Publication Metadata parse Error"
Hi,

can anyone help, I have error then I try to save Submission and Publication Metadata References then I click Extract and Save References the loader is not stoping but if I refresh page old data is saved. I got js error: SCRIPT5655: JSON.parse Error: Invalid character at position:2

jQuery.parseJSON = function( data ) {
	// Attempt to parse using the native JSON parser first
	if ( window.JSON

[2018-10-15 09:43] NateWr commented on #2638
Replied, thanks! :+1:

[2018-10-15 12:02] defstat commented on #3227
Hi all.

I add a PRs regarding this (as a first approach to that, and to have something to work on):

pkp-lib: #4145

2 settings have been added to Workflow Settings > Emails > Default Subject Additions

![image](https://user-images.githubusercontent.com/560456/46949656-d7d62500-d08a-11e8-9b42-3c2a3e01cb3b.png)

Where the user can globally enable the provided pattern to be added to every submissio

[2018-10-15 15:00] ctgraham opened #4146 "Bad composer syntax"
Changes here
https://github.com/pkp/ojs/commit/66044af055a680ff5fa2b4d29be16ac11e83438c
should be either `--working-dir=my/directory/path` or `-dmy/directory/path`, at least in 1.7.2.

[2018-10-15 15:07] bozana commented on #4132
Regarding the automatic DOI assignment, I can only speak from my experience with OJS 2:
-- we definitely then need an "exclude" options: to exclude the current object as well as all underlying/belonging objects, e.g. to exclude all objects (articles and galleys/files) of an issue.
-- the problem with import: we did not have a good possibility to solve the problem when the back issues (issues and a

[2018-10-15 15:31] asmecher commented on #4144
@Eimanatas12987, OJS is sending your browser some invalid JSON. I'd suggest using the browser's developer tools to inspect the JSON response, and look for unexpected content in it. It seems to be right at the beginning of the response.

[2018-10-15 15:37] asmecher commented on #4146
Thanks, @ctgraham -- I also fixed this in `tools/buildpkg.sh`.

[2018-10-15 15:37] #4146 closed

[2018-10-15 15:54] asmecher commented on #4089
Merged, thanks, @ajnyga! I don't generally see line breaks in titles but this is a harmless change otherwise.

[2018-10-15 15:54] #4089 closed

[2018-10-15 16:15] ajnyga commented on #4089
Great thanks, I think these usually come from XML imported articles. Probably something that could/should be fixed in the import process.

[2018-10-15 16:38] CFanselow commented on #4086
@asmecher

I get a sorting problem in both OMP 3.1.0 and 3.1.1.

In 3.1.1,  I am not quite sure what causes the problem. In 3.1.0 I _suppose_ that for all languages the main language is used for sorting. So for the main language the sorting is okay, for the others it isn't, depending on the translations.

There are major differences in the CatalogHandler between these two versions (I did not notic

[2018-10-15 16:56] asmecher commented on #4141
@jrwiebe, it was probably a combination of that and the nature of the rewrite that OJS 3.x got on the front end -- we didn't simply adapt OJS 2.x front end code, it was rewritten wholesale. We do have some different data model aspects as well, compared to OJS 2.x; a submission is not considered a single file anymore, but more a collection of files, so conflating file and submission metadata become

[2018-10-15 17:18] asmecher commented on #4141
Thanks, @jrwiebe -- always happy to confirm something like this.

[2018-10-15 19:10] asmecher commented on #3227
Thanks, @defstat -- I think this could use a little more work. I don't think it'll add submission IDs to `NOTIFICATION` emails, which IIRC aren't currently `SubmissionMailTemplate` instances, and won't always have submission IDs (e.g. for notifications that aren't attached to submissions, like announcement notifications). I'd also like to see if there's a way we can support better control over ema

[2018-10-15 19:14] asmecher commented on #3758
Reviewed over in https://github.com/pkp/pkp-lib/pull/4143#pullrequestreview-164847200, thanks!

[2018-10-15 19:47] ctgraham commented on #3336
@asmecher, I'm unclear on the resolution here.  Your comment "Block plugins now register for their hook in order of sequence, rather than trusting the order of plugin loading to do it as expected." makes it sound like something in core has changed to resolve the issue, but the working example of the Custom Block Manager remains with the "new" approach of registering the block plugins in the `regis

[2018-10-15 21:02] asmecher commented on #3336
About...

...this is the commit the comment was referring to: https://github.com/pkp/pkp-lib/commit/158cefdc04206ddab3966c71dcd1afac5bcfd44d

Essentially it takes the normal hook priority and adds the sequence number to it, so the sequence number should reliably indicate the hook's priority, rather than the position in the array distinguishing potentially several registrants using the same sequenc

[2018-10-15 21:33] asmecher opened #4147 "Prevent review form radio button preselection"
See https://forum.pkp.sfu.ca/t/ojs-3-reviewers-form-filled/46893 for details.

[2018-10-15 21:35] asmecher commented on #4147
@primoz-svetek, feel free to leave feedback here if you're able to test the fix, thanks!

[2018-10-15 21:35] #4147 closed

[2018-10-15 21:44] #4139 closed

[2018-10-15 22:06] asmecher commented on #4086
@carola, do you have plans to upgrade to 3.1.1? I'd much rather fix issues there than in 3.1.0 -- if it's on your roadmap anyway, then there's no downside. And I could clean out old/unused code at the same time.

[2018-10-15 22:08] asmecher commented on #3493
@NateWr, do your form changes replace this code?

[2018-10-15 22:20] asmecher commented on #3483
@ajnyga and @mczirfusz, can you confirm whether this is still an issue with the latest stable release?

[2018-10-16 05:04] Eimanatas12987 commented on #4144
I got this 2 response:

[2018-10-16 05:06] mejiamariod commented on #4011
I made the last post in [the forum](https://forum.pkp.sfu.ca/t/problem-sidebar-managment-ojs3-1-1-4), I still can not find a solution but this can be useful:

Before migrating to 3.1.1-4 in version 2.4.8 there were custom blocks of a single journal created with a name that contained spaces, for example: "Information of interest" ... in the new version when wanting to modify them not they were left

[2018-10-16 08:53] NateWr commented on #4132
Maybe we should have a call to talk through the import stuff. And yes, I'd like to hear from james and mike. It seems like this is something we control on our end, so should be able to work around any problems. But maybe I am misunderstanding something.

[2018-10-16 09:10] NateWr commented on #3493
Yes, all of this is replaced in #3594.

[2018-10-16 14:01] ajnyga commented on #3026
@asmecher your omen came to haunt this issue https://forum.pkp.sfu.ca/t/oai-pmh-and-access-to-journal-content-in-ojs-3-0/25809/12?u=ajnyga (or not exactly the same thing, but anyway).

Alternatives:
1. just hide article url's for journals that are PUBLISHING_MODE_NONE
2. my old suggestion above: a journal specific setting for enabling/disabling OAI

[2018-10-16 14:38] israelcefrin opened #4148 "OCS paper detail page not loading locale keys"
The required locale file (manager.xml) is not being loaded by the page that displays the schedule.
It is the following page:
`https://[domain]/index.php/conference/[conf_path]/paper/view/[id]`

It displays:
**##manager.scheduler.building##**: ...
**##manager.scheduler.room##**: ...
Date: 2018-12-06 09:15 AM – 10:00 AM
Last modified: 2018-10-13

In locale file there are both keys, and in correct la

[2018-10-16 15:09] asmecher commented on #4144
Hi @Eimanatas12987 -- those are both valid JSON responses. Do they both appear together in one response to one request, or are they from two different AJAX requests?

[2018-10-16 15:12] asmecher commented on #3493
Thanks, @NateWr -- I'll close this issue in preparation for that code to be merged.

[2018-10-16 15:12] #3493 closed

[2018-10-16 15:19] asmecher opened #4149 "Enrich OAI-PMH options for journals that do not publish online"
Build on #3026, but consider @ajnyga's proposals added in response to https://github.com/pkp/pkp-lib/issues/3026#issuecomment-430249379:

[2018-10-16 15:20] asmecher commented on #3026
I was about to propose both those things, @ajnyga. I've filed this for future attention: https://github.com/pkp/pkp-lib/issues/4149

[2018-10-16 15:49] pigeonm commented on #4149
Thanks @asmecher! So I can tell the librarian that this is not possible at the moment, but that it will be possible with a next release?

[2018-10-16 16:06] asmecher commented on #4149
@pigeonm, yes, that's correct.

[2018-10-16 16:06] asmecher commented on #4149
(Watch for the "Milestone" field to indicate which release it'll come out in -- that's not designated yet.)

[2018-10-16 16:08] asmecher commented on #4148
@israelcefrin, what version is this? (2.3.6 from `tar.gz`, 2.3.6 from `ocs-2_3_6-0` tag, 2.3.6 from `ocs-stable-2_3_6`, ...)

[2018-10-16 16:10] israelcefrin commented on #4148
Hi @asmecher it is a 2.3.6.0 (ocs-stable-2_3_6) version.

[2018-10-16 17:46] #4148 closed

[2018-10-16 18:31] sean-xiao-zhao7 opened #4150 "OJS3 Accessibility Improvements"
Please fix accessibility errors found throughout the OJS3 app by accessibilty checker such as https://achecker.ca/checker/index.php

It'd be great if the entire OJS3 app can pass the WCAG 2.0 / AA level of accessibility.

Here is the error report of AChecker that was ran on a journal using the manuscript child theme:
[achecker_2018-10-04_00-05-36.pdf](https://github.com/pkp/pkp-lib/files/2484437/a

[2018-10-16 18:43] asmecher commented on #4150
@sean-xiao-zhao7, we could address those warnings fairly simply by the book, but that would lead to no improvement to the accessibility of the page. The missing labels are addressed by `aria-label` attributes, for example.

We've run exercises with accessibility checkers before but my read is that the checkers are not a good substitute for expert, experiential testing, and that using the checkers

[2018-10-16 19:07] primoz-svetek commented on #4147
@asmecher Thank you for the fix. I have verified it and it works.

[2018-10-16 19:11] asmecher commented on #4147
Thanks for checking, @primoz-svetek!

[2018-10-16 19:33] sean-xiao-zhao7 commented on #4150
Thank you, Alec, completely agreed – this was along the lines of what we have replied to our journals concerned with web accessibility.

Unfortunately they do tend to go “by the book” and get upset about AChecker / Wave warnings. So if there is an easy fix for those, even with no factual improvement, it will bring some peace of mind. Thank you!

[2018-10-16 19:35] jmacgreg commented on #4150
To add to @asmecher's comments: PKP is looking at writing up a [VPAT](https://en.wikipedia.org/wiki/Voluntary_Product_Accessibility_Template) for OJS/OMP 3, which will require a much more involved review of the system than what online accessibility tools typically provide. We're a small team though, and would welcome any experienced community interest in assisting with this endeavour. If you or an

[2018-10-16 19:40] asmecher commented on #4150
Tagging @NateWr on those particular complaints as he's worked the most with front-end/template code -- but it'll be pretty hard for us to prioritize changes to accessibility code that don't actually make improvements. I think they're actually damaging to accessibility; they present the illusion of accessibility without actually delivering it, and make it easier for people to claim compliance witho

[2018-10-17 05:09] Eimanatas12987 commented on #4144
Yes its together in one request but 2 response.
![capture_01](https://user-images.githubusercontent.com/26573537/47063496-eab03d00-d1e3-11e8-92f8-bafcb0972542.JPG)
![capture_02](https://user-images.githubusercontent.com/26573537/47063497-eab03d00-d1e3-11e8-8104-e2aae46b1ed2.JPG)

[2018-10-17 09:27] NateWr opened #4153 "WCAG 2.0 - Provide an HTML sitemap"
One of the WCAG 2.0 guidelines is to [provide multiple ways of navigating a site](https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0&showtechniques=245#multiple-ways). The link above lists possible techniques.

We technically qualify because we provide navigable links to pages in the site as well as search functionality. However, it would be good to also provide an HTML sitemap, especially in ca

[2018-10-17 09:40] NateWr commented on #4150
Thanks for this, @sean-xiao-zhao7. As others have said, the automated checks have mixed reliability. However, I understand that you've got clients you need to respond to. Here's a quick run-down of the issues raised in the PDF you posted.

If I say a report is "inaccurate", I mean that the reporting tool is wrong. There is no WCAG 2.0 non-compliance.

If I say a report is a "notice", I mean that t

[2018-10-17 09:40] #4150 closed

[2018-10-17 10:28] bozana commented on #4144
I cannot reproduce that exact error, but I see there is a problem which the display of your citations URLs: We try to automatically figure out if a citation contains links. If it contains we will leave it as it is. If it does not contain we will search it for the URL pattern, in order to create/display the link. We are looking if the citation contains "<a href", i.e. we do not support other attrib

[2018-10-17 10:30] Eimanatas12987 commented on #4144
But if I type only "123" I get same error

[2018-10-17 10:55] bozana commented on #4144
yes, maybe this has nothing to do with your error -- I couldn't reproduce your error... :-(

[2018-10-17 11:02] Vitaliy-1 commented on #4144
Related to: https://github.com/pkp/pkp-lib/issues/4072

[2018-10-17 11:26] Vitaliy-1 opened #4154 "Custom Reviewer Form: TinyMCE field is missing"
OJS 3.1.1-4

Default reviewer form. As can be seen, under "Enter (or paste) your review of this submission into the form below." the input field is present :
![default_review](https://user-images.githubusercontent.com/20665587/47082988-08979500-d218-11e8-8612-dcc0a0a82783.png)

Custom reviewer form. The label is still there, but the input field is missing:
![custom_review](https://user-images.gith

[2018-10-17 11:54] Vitaliy-1 opened #4155 "Review Forms: hide review forms that are no longer in use"
This form in OJS 3.1.1-4:
![review_forms](https://user-images.githubusercontent.com/20665587/47083969-e5bab000-d21a-11e8-9a8f-c37b099df8b4.png)

Proposals:
- when user removes a mark from "active" checkbox, hide the form.
- add a menu button for viewing inactive forms
- if the form wasn't used anywhere, add an option to delete or edit it.

[2018-10-17 13:42] mczirfusz commented on #3483
[OJS 3.1.1.2 - sorry we did not upgrade yet to the latest release]
I checked @ajnyga 's point 1: I cannot give a person a non-expiring subscription without typing in a start and an end date. If I type in dates, these are not stored.

[2018-10-17 14:00] NateWr opened #4157 "Empty query lingers after closing new query modal"
@asmecher I think you've said you have killed a bunch of these. I think I found one more. If open the new query modal and then reload the page (without closing the modal), the empty query doesn't get removed.

[2018-10-17 14:39] sean-xiao-zhao7 commented on #4150
thanks @NateWr for the detailed analysis, these are very helpful. And @asmecher @jmacgreg for the help

[2018-10-17 15:48] NateWr commented on #3562
@asmecher Now that we have a different Copyright Notice (intended for a submitting author, with all the legalese) and License Terms (intended to be displayed with published material), do you know which should be used in the OAIMetadataFormat. There are two places that `copyrightNotice` is currently used:

https://github.com/pkp/ojs/blob/master/plugins/oaiMetadataFormats/dc/tests/OAIMetadataFormat_

[2018-10-17 15:49] NateWr commented on #3562
@asmecher Same question for `templates/gateway/clockss.tpl` and `templates/gateway/lockss.tpl`.

[2018-10-17 16:08] mfelczak opened #4158 "Allow JEs to assemble published articles into thematic collections"
Allow JEs to publish curated collections dedicated to journal themes.

Each collection should include the following:
- introductory articles written by JEs and other authors (newly published)
- list of thematic articles selected by JEs (previously published)

Introductory articles should be accessible via an article landing page like all other articles, including title, authorship, citation, etc.

[2018-10-17 16:21] asmecher commented on #4158
See the related conversation at https://github.com/pkp/pkp-lib/issues/1407#issuecomment-427072025 and below.

[2018-10-17 17:34] ztajoli opened #4159 "Update of Italian transaltion in master"
If fact we need to update master italian transaltion

[2018-10-17 19:49] ztajoli commented on #4159
I plannig to update the present.
I will do PR in 1-2 hours.
Thank you.
----- Messaggio originale -----
Da: Alec Smecher <notifications@github.com>
A: pkp/pkp-lib <pkp-lib@noreply.github.com>
Cc: Zeno Tajoli <z.tajoli@cineca.it>, Mention <mention@noreply.github.com>
Inviato: Wed, 17 Oct 2018 21:27:27 +0200 (CEST)
Oggetto: Re: [pkp/pkp-lib] Update of Italian transaltion in master (#4159)

@ztajoli,

[2018-10-17 19:50] asmecher commented on #4159
Thanks, @ztajoli, updates are always welcome!

[2018-10-17 23:33] asmecher commented on #3562
Those should be `licenseTerms` (they're to be displayed with the content).

[2018-10-17 23:49] asmecher commented on #4157
@NateWr, quick sanity check on the approach? I don't like using the `window` global but anyway.

PRs:
- https://github.com/pkp/pkp-lib/pull/4163
- https://github.com/pkp/ojs/pull/2140 (tests + JS minification only)

[2018-10-17 23:52] asmecher commented on #4154
That's intentional -- the custom review form replaces the built-in TinyMCE fields.

[2018-10-17 23:54] asmecher commented on #4144
@Eimanatas12987, what version of OJS are you using? (Is it the master branch of the git repo?)

[2018-10-18 04:48] Eimanatas12987 commented on #4144
3.1.1-4

[2018-10-18 09:41] NateWr commented on #4158
Can you describe what you mean by this in more detail? What does a citation look like for an introductory article of a collection? How should it be generated in the CSL styles? Does an introductory article have galleys? Does it have metadata? If so, how is the relationship between the article and the collection defined in the metadata? If introductory articles are treated like articles in other wa

[2018-10-18 10:03] NateWr commented on #3562
:+1: This is now done as part of #3594 and will be included when that is merged.

[2018-10-18 10:13] NateWr commented on #4157
:+1: I am not aware of any other way to account for this scenario.

One thing to test: are there any side effects that are produced when you open/close several modals and then open and refresh? I believe `$(window).on('unload', ...)` will register an event listener each time a modal is opened, but won't unregister the event when closed. So you may have several events firing for each time the modal

[2018-10-18 10:45] tgc opened #4164 "Support generating DMARC compliant mails"
The DMARC RFC seems quite clear, the RFC5322.From (the From: header) must have domain alignment with either the RFC5321.MailFrom (envelope sender) domain that passed SPF validation and/or the domain in a valid signed DKIM d= tag.

Currently OJS puts a user provided email address into the RFC5322.From field, an email address which can be in any random domain. This is basically spoofing the RFC5322.

[2018-10-18 10:54] tgc commented on #4164
I have submitted two pull requests for discussion that would implement something like this.
Please see:
https://github.com/pkp/pkp-lib/pull/4165
https://github.com/pkp/ojs/pull/2142

[2018-10-18 12:30] ctgraham commented on #4164
Hi, @tgc.  The way we are currently targeting this is by the use of `default_envelope_sender` and `force_default_envelope_sender`.  This provides you the option to set a domain-aligned and DKIM-signed envelope From.

Can you clarify why it is important to also allow the option to munge the From field independently?  Is there a reason you cannot sign and use the envelope from?

[2018-10-18 12:45] tgc commented on #4164
Because DMARC only looks at the RFC5322.From and from that it derives a domain, and that domain must match the SPF validated domain or the DKIM signing domain (d= tag).
I cannot SPF validate or DKIM sign mails on behalf or 3rd party RFC5322.From domains without their cooperation.

What OJS seems to be doing now is what is described here in the DMARC FAQ:
https://dmarc.org/wiki/FAQ#Why_are_messages

[2018-10-18 13:13] jmaferreira commented on #2606
I don't think it matters which translation you choose, as long as the translation is complete. I know
@josekarvalho and @Duozhasht  pretty well and trust both of them as experts in the field.

[2018-10-18 13:13] jmaferreira commented on #2606
I don't think it matters which translation you choose, as long as the translation is complete. I know
@josekarvalho and @Duozhasht  pretty well and trust both of them as experts in the field. Hope this helps.

[2018-10-18 13:36] ctgraham commented on #4164
Hmmmm.... yes, I concur.  RFC 7489 3.1 explicitly states:

If further investigation confirms no way around this, I'm inclined to retool the existing `force_default_envelope_sender` parameter to re-write the `From` directly, rather than adding a new config.inc.php parameter.  The new semantic would be something like "force default envelope sender [to also be the From]".

[2018-10-18 15:16] ajnyga commented on #4164
For some reason I missed this ticket.

I would like to second the suggestions made here. See my recent test with a Finnish university email server: https://github.com/pkp/pkp-lib/pull/4165#issuecomment-431028800

[2018-10-18 15:55] CFanselow commented on #4086
@asmecher

I'll try upgrading!

[2018-10-18 16:31] asmecher commented on #4154
Do you mean the label `Enter (or paste) your review of this submission into the form below`? This label applies to the form as a whole, whether it's the default review form or the custom one.

[2018-10-18 16:58] asmecher commented on #4157
@NateWr, have a look at https://github.com/asmecher/ojs/commit/a1b38787425f89ed65184b56a0ddf077c21a218a -- it should take care of this safely by using specific handler objects as second parameters to the `.on` / `.off` calls.

[2018-10-18 17:47] ctgraham opened #4167 "Allow pwiki https URL"
C.f. https://forum.pkp.sfu.ca/t/piwik-plugin-fur-ojs-2-4-8-1/27420/8?u=ctgraham

User reports that https prefix works as expected.

[2018-10-18 20:17] asmecher commented on #3770
@jmacgreg, the purpose of 1) is to notify section editors who are automatically assigned. It's pretty likely that none of the other cases will notify these editors; are you sure that should be removed?

[2018-10-18 20:43] asmecher commented on #3253
The emails that are available should be available in the "compose" TinyMCE control using the
![tmp](https://user-images.githubusercontent.com/200411/47182948-af913500-d2db-11e8-921b-d49cc6bd3554.png) icon. These are unfortunately unlabeled and confusing, though, so this issue could probably be resolved (at least when composing emails) with improvement there.

However, is the compose window the iss

[2018-10-18 21:02] asmecher commented on #3770
(Also note that 1) and 3) are mutually exclusive.)

[2018-10-18 21:06] asmecher commented on #3770
@jmacgreg, your original post says `4. and 3) are problematic` -- I think github's Markdown tried to renumber your list and made it less useful. Which 2 are you referring to?

[2018-10-18 21:45] asmecher opened #4168 "Add filter by last modified more than X days ago to submissions lists"
- [x] Clean up data model (for @asmecher)
- [x] Add fitering to UI (for @NateWr)

[2018-10-18 21:52] jmacgreg commented on #3770
Yep, Markdown munged my comment - I was referring to 1 and 3. By "problematic" I'm referring to the fact that there's no option to opt out.

It's been a while since I've looked at this, but I think the larger issue (which is only hinted at here) is

- there is the **appearance** of being able to control some of the emails that are received from the system, eg. via the user's notification settings;

[2018-10-18 23:19] asmecher commented on #4168
PRs:
- https://github.com/pkp/pkp-lib/pull/4169
- https://github.com/pkp/ojs/pull/2144
- https://github.com/pkp/omp/pull/600

These standardize the `last_modified` and `date_status_modified` columns so that `last_modified` gets bumped on every `UPDATE`, and `date_status_modified` gets bumped whenever something important happens (= a logged event).

[2018-10-19 00:40] asmecher commented on #4167
Merged and cherry-picked, and adapted to the separate `piwik` repo for OJS 3.x. Thanks, @ctgraham!

[2018-10-19 00:40] #4167 closed

[2018-10-19 10:01] ncorlett opened #4171 "All authors are listed as "First" in Crossref Metadata"
When the crossref XML export plug in generates XML meta data, every author has: `<person_name contributor_role="author" sequence="first">` rather than just the first author with additional authors having `<person_name contributor_role="author" sequence="additional">`

As far as I am aware this can be reproduced by exporting the Crossref XML for an article with multiple authors.

[2018-10-19 15:44] asmecher commented on #4171
@ncorlett, thanks for reporting. Could you try the attached patch (both are equivalent) and report whether it fixes the issue for you?

[2018-10-19 15:44] #4171 closed

[2018-10-22 08:07] ajnyga commented on #3381
Hi,

One of our users asked about this recently. Maybe the suggested fix could be added to htmlGalley?

[2018-10-22 09:48] NateWr commented on #4157
Yes, I think that will work. :+1:

[2018-10-22 09:53] NateWr commented on #4168
:+1: should I pull your branches in and build on top of that? Or do you want to merge to `master` and I'll implement the filtering based off that?

[2018-10-22 09:58] NateWr commented on #2612
Following up on the UI/UX results from the 2018 Sprint, and discussion with the UI/UX team, we decided that quick filters need to be available for editors which breakdown a few different "what i need to do now" tasks:

- In review and no reviewers assigned to current round
- One or more review assignments and acceptance are overdue
- Revisions have been submitted and a new review round has not bee

[2018-10-22 10:19] NateWr opened #4172 "Add review assignment details and progress tracking to submission lists"
**Describe the problem you would like to solve**
As an editor
I want to get a rough sense of a submission's progress through peer review _at-a-glance_
so that I can more easily manage and track a large number of submissions, and compare their progress quickly.

**Describe the solution you'd like**
Include detailed information about the review assignments in the submission list. This should include

[2018-10-22 10:27] NateWr opened #4173 "Custom Block Manager does not work in site settings"
Reproduce:

1. Go to Administration > Site Settings > Plugins
2. Enable Custom Block Manager
3. Open Custom Block Manager actions and click "Manage Custom Blocks"

The settings modal does not open and an error message appears:

"No journal in context"

[2018-10-22 13:03] NateWr commented on #2612
We discussed this issue alongside the 2018 Sprint recommendations (#4102) and decided that a high priority would be quick filters that answered "what do I need to do now", broken down by the most common actions. These were:

- In Review stage but no reviewers are assigned to the current round
- In Review stage and one or more reviews is overdue in the current round
- In Review stage and revisions

[2018-10-22 15:11] mfelczak commented on #4158
Hi Nate, a few follow-up thoughts but Marcel may have additional suggestions and preferences here: there's a sample citation on the landing page for the [intro article](https://culanth.org/curated_collections/22-sovereignty/discussions/28-sovereignty-interview-with-the-authors) to the Sovereignty collection. My sense is that if introductory articles are in fact published articles they should be tr

[2018-10-22 16:04] #4157 closed

[2018-10-22 16:09] asmecher commented on #4157
Thanks, @NateWr!

[2018-10-22 16:50] NateWr commented on #3381
PR welcome. :)

On Mon, Oct 22, 2018 at 9:29 AM Antti-Jussi Nygård <notifications@github.com>
wrote:

[2018-10-22 16:50] Vitaliy-1 commented on #4154
Ahh, OK.

[2018-10-22 16:50] #4154 closed

[2018-10-22 18:54] crism opened #4174 "[OMP] PostgreSQL problems with catalog listings"
[code]

[2018-10-22 19:42] AhemNason commented on #4132
I think we're on the right track here for sure. I have a few opinions about what makes sense here. One is that editors do sometimes want to change their DOIs and not really for "vanity DOI" reasons so much as "this journal still exists in print and they want to make sure the print version has the intended DOI in it". This isn't super common but it should be ok to have custom DOIs.

I think one thi

[2018-10-22 19:46] asmecher commented on #3404
Update JQuery/JQueryUI to the latest:
- https://github.com/pkp/pkp-lib/pull/4175
- https://github.com/pkp/ojs/pull/2146

This requires [a change to the default theme plugin](https://github.com/pkp/ojs/pull/2146/files#diff-6df5306de8589db221dce98a0815f09a) as some of the Composer dependencies moved around. (Note @NateWr and @Vitaliy-1 -- this will probably need porting to other themes when it's rea

[2018-10-22 19:47] dlowenberg opened #4176 "OJS Integration with Dryad Data Repository"
Feature Request: Integrate, in a similar fashion as you did with Dataverse, with Dash. Dash is the open source platform that Dryad is moving onto.

The Dash API: https://dash.ucop.edu/api/docs/

In this integration we envision that OJS could support deposits to Dryad (sending the article metadata) so that Dryad can send back the data citation (and a private for peer review URL).

[2018-10-22 20:06] ViRuSTriNiTy commented on #2638
All reviews resolved. Please let me know if something is missing.

[2018-10-23 09:38] NateWr commented on #4132
I have some plans for better managing and presenting pre-publish overview/confirmation/requirements. In the meantime, @bozana, maybe you can check if the scheduled task to automatically mint DOIs is "on" and, if so, present something in the publish modal?

[2018-10-23 09:59] NateWr commented on #3404
The jQuery bump to 3.x may cause some knock-on effects. Looking over the [upgrade guide](https://jquery.com/upgrade-guide/3.0/), the following are probably worth checking:

- `$.parseJSON()` is [deprecated](https://jquery.com/upgrade-guide/3.0/#deprecated-jquery-parsejson) and we might want to change it to `JSON.parse()`.
- The tag-it library, the selectBox library, default theme, and the how-to-c

[2018-10-23 10:30] Vitaliy-1 commented on #3404
And tag-it library has another issue with jquery 3.0+ : https://github.com/aehlke/tag-it/issues/370

[2018-10-23 14:22] ajnyga commented on #3381
Sure, the problem just seems to be bigger than the scrolling part.

Also anchor links that are usually used for reference linking in HTML articles are not working in iPad.

Suggestion: let's throw the whole iFrame out? @NateWr @asmecher

[2018-10-23 17:32] NateWr commented on #3594
OK, I've updated the initial comment with a [summary and list of PRs](https://github.com/pkp/pkp-lib/issues/3594#issue-314981923), so that they don't get lost as the commit mentions build up. I've also posted a bunch of [initial questions/comments](https://github.com/pkp/pkp-lib/issues/3594#issuecomment-432341546).

The tests will take ages to get through. But @asmecher can you begin code review w

[2018-10-23 18:55] asmecher commented on #3381
@ajnyga, the reason we're currently using an iframe is so that we can provide some OJS-supplied navigational elements (e.g. the title bar and back link) while still serving valid third-party HTML, without having to blend the two documents, which I couldn't find a good way of doing. Any thoughts on how to get rid of the iframe while still preserving those goals? (The HTML that gets uploaded into OJ

[2018-10-23 19:15] ajnyga commented on #3381
[code]

[2018-10-23 19:16] ajnyga commented on #3381
I will add some code there that will check for js and css files and embed those to the galley view.

[2018-10-23 19:20] asmecher commented on #3381
Essentially you're talking about merging the contents of the two `head` elements together, right? I would think meta tags in the uploaded HTML might be important too. I started looking into a "standard" solution to doing this and got nowhere fast -- see e.g. https://stackoverflow.com/questions/19866929/merge-two-html-files-into-master-html-file. I consider the `iframe` to be a less-bad solution th

[2018-10-23 19:28] asmecher commented on #3381
@bozana could probably give good advice on the potential usage stats issue. My understanding is that this approach (as opposed to the iframe) would make the `view` function the "operative" one, as opposed to the `download` one. The stats would need to be watching for the right one.

[2018-10-23 19:38] asmecher commented on #4168
@NateWr, I've merged those branches into `master`, thanks!

[2018-10-23 19:43] asmecher commented on #3404
@Vitaliy-1, I've manually patched tag-it to cover [that issue](https://github.com/pkp/pkp-lib/issues/3404#issuecomment-432191788). It's not an ideal solution, but will hold us until we replace tag-it with something else (which is already filed elsewhere).

[2018-10-23 19:49] ViRuSTriNiTy commented on #2638
@NateWr I've added a new review regarding the editor restriction handling, please have a look:

https://github.com/ViRuSTriNiTy/pkp-lib/pull/1#pullrequestreview-167603416

[2018-10-24 09:41] ajnyga commented on #3381
I made the changes above into an independent plugin, see https://github.com/ajnyga/embedHtmlArticleGalley

The usage stats seem to work fine, if @bozana has time I would really like your opinion on the matter.

The code basically fetches the body section of the HTML file, runs it trough the filters you had in the original htmlGalley plugin and then embeds that HTML string to the page without an if

[2018-10-24 10:08] NateWr commented on #2638
Thanks! Please open a new PR whenever you're ready.

[2018-10-24 10:09] NateWr commented on #4174
Thanks @crism! Is there a PR I can merge somewhere?

[2018-10-24 10:09] bozana commented on #3381
I'll take a look how this works with usage stats...

[2018-10-24 10:10] ajnyga commented on #3381
Thanks @bozana, in my own testing I was seeing hits in the log files and they seemed valid, I think.

[2018-10-24 10:14] NateWr commented on #3381
I'm with Alec on the iframe being the best of a bunch of bad options for the core platform. Best because it is the most resilient. But I think there would be pretty wide interest in your plugin. Maybe we could get it into the plugin gallery soon?

Also, @mtub, would this help out your situation at all?

[2018-10-24 10:18] ajnyga commented on #3381
iframe would be good, if the problems with iPad would be solvable. I could not find any solution to the anchor links problem (some with javascript sure) and also the scrolling even with the suggested fix got broken when I clicked the links inside the document (or some other reason I do not know yet).

[2018-10-24 10:59] bozana commented on #3381
@ajnyga, I looked in the code and it seems to be correct -- I can also test it...

[2018-10-24 10:59] NateWr commented on #3594
The build size with all of the forms is getting big. I did some tests to try to identify where the size is coming from. Some numbers:

- 598kb: Build size with this PR
- 210kb: All the Field components
- 181kb: Sum of Tooltip, FieldColor, FieldOptions (w/ draggable), FieldUpload (w/ dropzone.js)
- 292kb: Build size of `master` (no form elements)
- 87kb: ListPanels and other non-form components
- 1

[2018-10-24 11:00] ajnyga commented on #3381
great thanks!

There is a small bug that shows utf-8 endocing wrong, but I am pushing a fix shortly.

[2018-10-24 11:04] ajnyga commented on #3381
there

[2018-10-24 11:20] paschty opened #4177 "[OJS] Sword missing file in ZIP"
I tried to ingest something with the sword plugin to my mycore repository.
If i inspect the zip which was sent from OGS, i only see a mets file and the linked files from the mets file is missing.

[2018-10-24 11:49] marcbria opened #4178 "[OJS] Filter article's references field to link urls"
This is a feature request... so is not something dramatic, but we think will make editor's life easier.

The point is, when the authors or the editor fills metadata in the article's references field, urls are publish as text, but not linked. The field is plain text but accepts html tags, so I trained my editors to add an html <a> tag to make the url functional... but it's a machine work, that woul

[2018-10-24 11:51] marcbria commented on #4178
As a bonus pack, with an extremely low priority... could this be extended to DOIs? I mean, most of us are publishing DOIs as urls (ie: to crossref proxy), but APA recommends using DOI format, so would be nice filtering "10.????/" and link to the proxy the admin set in ojs's config file or whatever?

[2018-10-24 11:55] bozana commented on #4178
@marcbria, the following part of the code, should parse a reference and look for http, https and ftp ... and make a link out of it: https://github.com/pkp/pkp-lib/blob/ojs-stable-3_1_1/classes/citation/Citation.inc.php#L55-L65. Does it not work for you? Which OJS version are you using? Or did I misunderstood the first comment above?

[2018-10-24 12:00] bozana commented on #4178
Hmmm... regarding the second feature I am not sure if we would like to do that, because the journal could use any citation format... I'll see with the others i.e. wait for their comments here...
But a Crossref DOI linking will come with this issue, probably in 3.2 release: https://github.com/pkp/pkp-lib/issues/3804

[2018-10-24 12:04] bozana commented on #3381
@ajnyga, I've tested it and it worked for me as well.
I encountered another 'problem': my html file did not have a head tag, so I got an error on this line: https://github.com/ajnyga/embedHtmlArticleGalley/blob/master/EmbedHtmlArticleGalleyPlugin.inc.php#L83, that the function getElementsByTagName was called on null. I do not know if that (and the other) HTML tags can be assumed to always be there

[2018-10-24 12:07] ajnyga commented on #3381
Ok, thanks.

I will add some checks. If neither the body tag or the head tag exist, show the whole file and/or if the head tag does not exist skip the part of adding the scripts.

[2018-10-24 14:00] marcbria commented on #4178
Let's make it simple: Forget the second feature. Is not well though yet... :-)
What do you think about the http/https filter?

[2018-10-24 14:00] forgive38 opened #4179 "[OJS] delete a note with a file in a query cause error500 for editorialhistory"
Hi all,

I think I have found a bug (OJS 3_1_1_2 not tested on other versions).
When you add a message in a query with a file, an EventLog is recorded.
But when you delete the message, corresponding EventLog is not deleted and when you want to see editorial history, which it seems to be the list of EventLog for a submission, you have an error 500.

I think that record an EventLog when a file is up

[2018-10-24 14:48] ajnyga commented on #3381
So it should work now. If no body tag exists, it will just use the whole document. If body does exist, it will also check for the head and possible stylesheets.

[2018-10-24 15:58] crism commented on #4174
@NateWr, pkp/omp#601.

[2018-10-24 16:48] asmecher commented on #4179
This is not a great solution, but the attached patch will remove the "Download" link from event log entries involving files that relate to deleted queries. These will remain on the server, thus auditable, but it'll need to be done from there for now.

[2018-10-24 16:48] #4179 closed

[2018-10-24 16:52] asmecher commented on #4177
Try patching https://github.com/asmecher/sword/commit/cca076dbf1715075f9fcd750bd3095c5f36398a5; if you're using filenames that aren't supported by your local filesystem, this should address it. Please confirm if this solves the problem.

[2018-10-24 16:57] ajnyga commented on #4072
Also see https://forum.pkp.sfu.ca/t/ojs-3-1-1-2-error-while-editing-metadata/49424

[2018-10-24 18:30] asmecher opened #4180 "Adapt 2.x-level applications to PHP7"
- Rename `String` class to `PKPString`
- Correct necessary reference problems
- Add support for mysqli driver
- ...

[2018-10-24 18:31] asmecher commented on #4180
Nasty helper for PKPString:: references:

`sed -i -e "s/String::/PKPString::/g" `grep -l -e "[^P]String::" \`find . -name \*.inc.php\```

[2018-10-24 23:42] asmecher commented on #4180
PRs:

`ojs-stable-2_4_8`:
- https://github.com/pkp/ojs/pull/2147
- https://github.com/pkp/pkp-lib/pull/4181

These are sufficient to get the local build tests working.

[2018-10-25 07:16] forgive38 commented on #4179
Thanks !

[2018-10-25 09:32] #4174 closed

[2018-10-25 09:32] NateWr commented on #4174
:ship: Thanks, much appreciated!

[2018-10-25 09:47] NateWr opened #4182 "Modals can disappear in RTL languages"
Modals cause a horizontal scrollbar to appear in RTL languages and this can effectively "hide" the modal. See https://forum.pkp.sfu.ca/t/ojs-3-looses-pop-up-form-in-right-to-left-locales/49320/4?u=natewr

[2018-10-25 10:02] paschty commented on #4177
@rochpaul applied the patch, but the zip still only contains he zip file.

[2018-10-25 13:45] ajnyga commented on #4014
Just fyi that I created a plugin that replaces all the from fields and uses the envelope_sender field as the sender. https://github.com/ajnyga/useGlobalSender

It supports the master branch version of mail.inc.php (excluding this pr from @asmecher https://github.com/pkp/pkp-lib/commit/38a6c7a9e35278a9e7c28957fc5d61ddcbca3122 because it seemed to cause an error in our installations)

[2018-10-25 17:37] SarahEditorialAssistante opened #4183 "Trouble installing Open Journal Systems"
I download the latest Open Journal Systems and it just gives me the folder and does not install the programme. I have a mac desktop computer. Please help.

[2018-10-25 17:39] asmecher commented on #4183
@SarahEditorialAssistante, I'd suggest posting on our support forum (http://forum.pkp.sfu.ca/) -- this area is more for bug fixes and discussion of new features. But do you have a web server running on your computer? If not, you'll need something like MAMP in order to run OJS.

[2018-10-25 17:39] #4183 closed

[2018-10-25 17:54] asmecher commented on #4177
Hmm; are you getting any warnings in your PHP log about missing files or file permissions when you make the deposit?

[2018-10-25 18:28] ViRuSTriNiTy commented on #2638
@NateWr Review resolved, see commit above. No open points now, again, please let me know if something is missing.

[2018-10-25 19:43] asmecher commented on #4173
Either of the attached patches, to be applied in `plugins/generic/customBlockManager`, should resolve the problem.

[2018-10-25 19:43] #4173 closed

[2018-10-25 20:02] asmecher commented on #3594
On namespaces: here's a partial snippet that'll move one class into a namespace (and one invocation -- all invocations will need to be similarly adapted):

[code]

[2018-10-25 20:12] asmecher commented on #3594
On [point 2 (function name standardization)](https://github.com/pkp/pkp-lib/issues/3594#issuecomment-432341546), absolutely, we should work towards removing the name of the entity from the service class function name since the service class name makes it explicit. We did this with DAOs a long time ago -- `getById` replaced e.g. `getArticleById` -- and should probably continue that habit elsewhere.

[2018-10-25 20:28] amandastevens opened #4184 "Submission and Publication Metadata window freezes after editing"
In OJS 3.1.1-4, when you are in the submission dashboard and you click on Metadata to open the Submission and Publication Metadata window, edit the metadata, and click Save, the window does not close.  A notification message displays saying "Submission metadada saved" and the Save button greys out, but there is a scrolling wheel on the bottom right, suggesting something is still working.  If you t

[2018-10-25 20:33] mtub opened #4185 "[OJS] Update Italian translation"
We received a bunch of new translations for it_IT (Italian). Using this issue to track them.

[2018-10-25 20:33] asmecher commented on #4184
I think this is already filed here: https://github.com/pkp/pkp-lib/issues/4072#issuecomment-432740688

[2018-10-25 20:43] mtub opened #4186 "[OJS] Update Ukrainian translations"
We received a bunch of new translations for uk_UA (Ukrainian). Using this issue to track them.

@Vitaliy-1, I am reviewing and merging, but I would be happy if you had a look at the new additions.

[2018-10-25 20:47] mtub commented on #4159
Tracking here: pkp/pkp-lib#4185

[2018-10-25 20:47] #4159 closed

[2018-10-25 20:50] asmecher commented on #4072
All, I've added a fix to `pkp-lib` (`lib/pkp` in your OJS install) that should resolve this. Please try applying https://github.com/asmecher/pkp-lib/commit/65475ba862e1ed5cad8f03ea34680be86a3dbe7e and confirm whether it works for you. Once I've gotten that through our Travis test environment I'll port it around to the various necessary branches.

Note that this only affects the front-end's parsing

[2018-10-25 22:57] asmecher commented on #4072
PR: https://github.com/pkp/pkp-lib/pull/4187

[2018-10-25 22:57] #4072 closed

[2018-10-25 23:15] asmecher commented on #4072
Note that if you're using `enable_minified` in `config.inc.php`, you'll also need to update your minified Javascript. You can do that by applying https://github.com/pkp/ojs/commit/322f3aef0ed1a6f4ddbe1d6fcd5266d272a41c92 (`ojs-stable-3_1_1`).

[2018-10-26 05:55] #4186 closed

[2018-10-26 08:34] mtub commented on #4185
Thank you very much, @ztajoli. Feel free to add new pull requests if needed.

[2018-10-26 08:34] #4185 closed

[2018-10-26 08:39] ztajoli commented on #4185
Thank you very much for your work.
In fact I will insert new it_IT translation. I'm doing a full check of it_IT translation.
Bye

[2018-10-26 15:01] mpbraendle opened #4189 "Missing files in default theme"
A browser's JavaScript error console reports for OJS 3.1.x installations the same 3 missing files for the default theme (or derivatives of it):

/plugins/themes/default/js/lib/popper/popper.js.map
/plugins/themes/default/js/lib/bootstrap/dropdown.js.map
/plugins/themes/default/js/lib/bootstrap/util.js.map

[2018-10-26 16:13] twakeford commented on #4172
@NateWr I'd be happy to help try and spec this with you (I'm coming from a non-tech perspective). The need for having higher resolution overview of submissions in review from the submission dashboard has been flagged as the top priority from our editors. The key feedback we have had is that a) they want to see the stage of the review process from an overview dashboard, not have to go into each sub

[2018-10-26 16:37] alexxxmendonca commented on #4172
This is all very nice and very welcome.

We did a customization at the SciELO install in which we used a color system and some instructions at the bottom of the page explaining what each color meant. It has proven to be quite helpful and journals tend to rely and get used to what each color means.

_One thing that we have found very useful for editors is a 'days at stage' metric, so that editors c

[2018-10-28 07:18] mtub opened #4190 "pt_PT locale updates"
Tracking a couple of new pt_PT (Portuguese (Portugal)) translations.

[2018-10-28 07:30] mtub commented on #4190
Alerting @josekarvalho and @Duozhasht in case they want to have a look at these.

[2018-10-28 07:30] mtub commented on #4190
Translations provided by @ambs.

[2018-10-28 15:47] primoz-svetek commented on #2438
I agree on this! Just tried to investigate what is wrong, because the editors have been complaining it doesn't work.

[2018-10-28 16:53] mlafl commented on #4158
Sorry for the delay in chiming in here! I actually don't think that these collections need to have freestanding introductory articles of their own. At CA, we have a collection landing page with some intro text and then original content under the Discussion tab on the right side. Here's another example with multiple Discussion elements:

https://culanth.org/curated_collections/19-everyday-islam

Bu

[2018-10-28 17:00] mlafl commented on #4158
Also, a possible point of comparison is the Special Collections feature at Open Library of Humanities:

https://www.openlibhums.org/site/academics/special-collections/

https://olh.openlibhums.org/collections/special/

We're not set up to do continuous publication and we wouldn't be soliciting original articles for these collections (in some ways, that seems specific to the megajournal model), but

[2018-10-29 12:21] isgrim commented on #3764
https://github.com/pkp/pkp-lib/issues/4090 Seems related and maybe already fixed?

[2018-10-29 15:21] asmecher commented on #4137
Hmm, I wonder why the linting tests didn't catch this...

[2018-10-29 15:22] asmecher commented on #4137
...of course, because the 2.x braches didn't get updated for the new Travis image and tests are disabled. And my local testing had SMTP set to `Off`.

Merged both, thanks, @ctgraham!

[2018-10-29 15:33] mfelczak commented on #4158
Thanks @mlafl, that's helpful.

[2018-10-29 15:57] NateWr commented on #4189
Thanks @mpbraendle! These missing files are only used for development and won't effect the end-user in any way.

However, it'd still be good to either add them or remove the references to the source maps, so we're not generating unnecessary 404 requests to the server. :+1:

[2018-10-29 16:11] NateWr commented on #4172
Thanks @twakeford! That's really helpful and it sounds like we're looking for the same things.  I'll be circling back to this probably sometime early next year to work on it in earnest. In the meantime, here are a few quick thoughts.

Text labels can be difficult to design around because they can vary significantly from language to language, but figuring out a reliable way to signal the review ste

[2018-10-29 16:12] bozana opened #4195 "references native import"
provide a possibility (xml element) to import references for a submission

[2018-10-29 17:00] mlafl commented on #1407
I'll just add that, while for some journals, being able to define a collection type would probably be useful, at CA we're just envisioning one type. The question about metadata is an interesting one: just a reminder, though, that we'll be grouping previously published articles into collections and so it would be a question of updating metadata for those articles, rather than including it in initia

[2018-10-30 00:16] defstat commented on #3758
@asmecher I added the changes at the same PRs. (all changes are in pkp-lib)

The features added are:
- each role can be permitted/denied access to submission metadata edits (managers have permission to edit, and that permission can't be revoked). There is a new checkbox under the edit of each role.
- At the submission level, each participant can be permitted/denied access to submission metadata ed

[2018-10-30 00:19] asmecher commented on #3764
See also https://github.com/pkp/pkp-lib/issues/3967. @carzamora, I'd suggest upgrading to the latest release and seeing if this is still an issue.

[2018-10-30 03:12] neoyukito commented on #2072
@lilients Is this implementation still in development? Or is there already an operative version to install in OJS? :)

[2018-10-30 09:30] NateWr commented on #2638
Thanks @ViRuSTriNiTy! Sorry for the delay on our end. So, we just need to get the tests passing on your PR. In order to get the tests running properly, you need to create what we call a submodule commit.

This is a commit in OJS that adds the `lib/pkp` submodule (and any other submodules that have been changed -- none in your case). The commit has a special syntax, which tells our travis testing s

[2018-10-30 10:02] Baytan opened #4197 "Article report missing dates"
Thanks to all contributors of this Project. We are using ojs for our journal for 2 years. I have a request for future versions.

When article report is taken, the submission, revision and decision dates of the articles are not given. However, these are critical data and may be easy to be given.

For example, indexes may ask for the average decision time for articles and I cannot get them from ojs.

[2018-10-30 10:08] Baytan opened #4198 "remove reviewer assignments for declined articles"
Thanks to all contributors of this Project. We are using ojs for our journal for 2 years. I have a request for future versions.

An article may be declined due to some reviewer reports or other reasons when there are other reviewers accepting to review. However, the reviewers may send reports for articles that are already been declined previously. There is no way to remove an assignment of a revie

[2018-10-30 15:19] asmecher commented on #4198
@Baytan, what version of OJS are you using? (Please include this in your reports.)

[2018-10-30 15:20] asmecher commented on #4197
@Baytan, what version of OJS are you using? (Please include this in your reports.)

[2018-10-30 16:11] asmecher commented on #3381
(About applying OJS styling to HTML galleys: there's a quick snippet of JS in the health sciences theme [and probably others] that adds some basic CSS when none is specified. https://github.com/pkp/healthSciences/blob/master/templates/plugins/generic/htmlArticleGalley/display.tpl#L36..L60)

[2018-10-30 16:35] ajnyga commented on #3381
thanks, I was thinking of solving that in the themeplugin file itself.

In general having a way of adding journal wide artwork files to HTML and XML galleys could be a thing to consider.

[2018-10-30 17:52] asmecher commented on #4070
Fixed -- thanks as always, @ajnyga!

[2018-10-30 17:52] #4070 closed

[2018-10-30 18:09] asmecher opened #4200 "Permit deletions from the Copyedited grid"
See https://forum.pkp.sfu.ca/t/cant-delete-copyedited-after-migration-to-3-1-1-2/46875.

[2018-10-30 18:10] asmecher commented on #4200
Committed and back-ported to `ojs-stable-3_1_1`.

[2018-10-30 18:10] #4200 closed

[2018-10-31 04:42] mejiamariod commented on #4011
Aún no se encuentra solución para esto... que lástima

[2018-10-31 09:22] ajnyga commented on #1407
There are many issues here that discuss the continuous publication model (one of the oldest issues here https://github.com/pkp/pkp-lib/issues/382) and/or things connected to it. I am finding it hard to follow what kind of selections are being made.

This is a major feature in OJS and connected to many things in the system (versioning, preprints, ahead-of-print features, DOIs, DOAJ registration and

[2018-10-31 09:32] ajnyga commented on #4132
Just a brief comment to the suggested `abbrev.year.articleid` pattern. I would still leave the year out. You do not know the publishing year for the article when the first manuscript arrives to the journal. By leaving the year out and just sticking with `abbrev.articleid` you know the DOI of the article right away when the first submission is made. This creates transparency to the way DOIs are cre

[2018-10-31 09:43] NateWr commented on #3381
If it's just a general file like a logo or something, they can use the Publisher Library. If it's something more technical (like icons or CSS), I'd prefer leaving it to the theme.

[2018-10-31 12:45] ctgraham commented on #2505
Rather than replicate the journal name, ISSN, and publisher information into the article metadata as individual fields, it would be better to track on the name changes in an independent table, and then have the submission table link via foreign key to the row in the other table.  I think the "big picture" of PIE-J is the assertion that this kind of publication history is important enough to have i

[2018-10-31 12:56] ajnyga commented on #2505
Sure, that is the other option. You could basically call for example `$journal->getName()` with a timestamp. With $journal->getName() you would get the current name and with `$journal->getName('1980-02-02')` you would get a name stored within that specific time frame.

[2018-10-31 14:17] Baytan commented on #4198
We are using ojs 3.1.1.4.

[2018-10-31 14:18] Baytan commented on #4197
We are using ojs 3.1.1.4.

[2018-10-31 14:24] garyross opened #4201 "[OJS] Mails sent via Cron have filepath rather than URL"
When emails are sent out they have the filepath rather than the URL like this:

Note the 'localhost' written before the path.

I have the correct base_url set in the OJS Configuration:

[code]

and the OJS Configuration in the Admin area shows:

[code]

This is 3.1.1.0 running on Ubuntu 18.04.1 LTS PHP 7.1

This happens on mails sent out by the cron job ( scheduled_tasks = On )
0 * * * * php /path

[2018-10-31 17:14] asmecher commented on #4201
@garyross, I'd suggest posting questions like this on our support forum rather than the issue tracker -- but briefly, you might need to add an entry for `base_url[JCJ]` to your `config.inc.php`.

[2018-10-31 17:14] #4201 closed

[2018-10-31 17:51] asmecher commented on #1407
Agreed, @ajnyga. I suggest hiving off the discussion of curated collections (categories in OMP) to https://github.com/pkp/pkp-lib/issues/4158. I'll have a look through other Continuous Publication related issues and bring them together in a project, or else link and close the others if one is a clear leader.

[2018-10-31 18:04] ajnyga commented on #2665
This is how we solved this: https://github.com/pkp/ojs/pull/2152

[2018-10-31 18:20] asmecher commented on #4011
@mejiamariod, in answer to your question:

This will probably change with OJS 3.2, but for all OJS 3.x releases before that, the sidebar blocks are configured in `plugin_settings`. There are necessary settings for the custom block manager plugin:

[code]
You will see `context_id` corresponding to your `journal_id`, then each custom block listed by name under `setting_name='blocks'`. Entries like t

[2018-10-31 18:37] asmecher commented on #4158
I'll second @NateWr's suggestion that we not involve citations in this. My sense is that most journals will publish in their normal way (megajournal/continuous publication, or traditional issue-based) but then want another way of organizing content. Shifting an article from one collection to another shouldn't change its citation (whereas it would if, for example, you moved it to another issue).

[2018-10-31 19:03] mlafl commented on #1407
Sorry, all, didn't mean to fork the thread in a different direction!

[2018-10-31 19:14] mlafl commented on #4158
Agreed that the citations for articles included in a collection should not change. Could we, though, include some guidance on how to cite the collection itself and any original content included in it, as with the "How to Cite" box that I've seen in journals like Substantia?

https://riviste.fupress.net/index.php/subs/article/view/55

One other realization I had today: in the past we've formally cr

[2018-10-31 21:05] #3588 closed

[2018-10-31 21:13] asmecher commented on #1407
Not at all, @mlafl, we're constantly in the process of re-organizing this crazy thing.

[2018-10-31 21:44] asmecher commented on #2505
We currently stamp copyright and license information from the journal settings onto the article settings at the time the publishing action takes place; perhaps an approach like that could be useful? We would definitely need a mechanism to reset or modify these stamps -- there is a "reset" button for licensing information, but I suspect broadening the use of this kind of stamping would prove the cu

[2018-10-31 21:46] asmecher commented on #4014
Could you try updating your Composer dependencies and see if that resolves the error you were having with 38a6c7a?

[2018-11-01 05:06] ajnyga commented on #4014
sorry, can not do that in our production because we do not use git upgrades there. But that is probably the reason.

[2018-11-01 05:38] ajnyga commented on #2505
Yes, that is basically the other option I mentioned above. It is probably faster and maybe even more flexible, but @ctgraham preferred the other one.

Maybe we need more opinions on this: @jmacgreg, @NateWr, @stranack?

- Option 1: Journal name, ISSN and publisher name history stored in separate database table together with timespans that define when for example a specific name was used. This data

[2018-11-01 10:24] Baytan opened #4203 "Thank you mail for reviewers"
Thanks to all contributors of this Project. We are using ojs (now 3.1.1.4) for our journal for 2 years. I have a request for future versions.

As I recall some previous version of the ojs has a feature to thank the reviewers. Thanking reviewers is important to show appreciaiton for their contribution and for use in acedemic servisces like Publons.
Without the thank you mail it becomes harder to pr

[2018-11-01 10:48] NateWr commented on #4158
In short: not without a lot of work. The citation formats rely on a full suite of article metadata, which is then transformed into any one of thousands of citation formats (we use a small handful by default). Without turning the introduction into a full article, we won't have the data we need to generate the citation formats.

It would be possible, and easy, though, for a recommended citation for

[2018-11-01 11:04] NateWr commented on #2505
There is strong demand for tracking the history of changes to journal name, ISSN, publisher, and editorial team. I think we should add to that copyright notice and section policies. No doubt there are more I'm missing.

So, yes, I think we need a facility for storing past data that goes beyond stamping the published article with these details.

It will also be needed beyond just the `journal_setti

[2018-11-01 12:59] lilients commented on #2072
Hi @neoyukito thanks for your interest. @defstat and me are still working on the adaption to OMP.

[2018-11-01 14:02] Vitaliy-1 commented on #4186
OK, will look.

[2018-11-01 14:08] Vitaliy-1 commented on #4072
Yep, it works.

[2018-11-01 15:26] #4203 closed, assigned to nobody

[2018-11-01 15:44] ctgraham opened #4204 "Add hostname checking for ReCAPTCHA"
OJS 2.x supports enforcing hostname validation on ReCAPTCHA per [Google's requirement](https://developers.google.com/recaptcha/docs/domain_validation) when a pubkey/privkey pair is shared across domains.
https://github.com/ulsdevteam/pkp-lib/blob/3e5beea7bdc5d91f52d0d58c8edfe3dbdca910ef/lib/recaptcha/recaptchalib.inc.php#L205-L207

OJS 3.x should do the same:
https://github.com/pkp/pkp-lib/blob/9b

[2018-11-01 19:43] mtub commented on #4195
if you allow references to be imported, people might look for standard bibliographic formats like BibTeX…

[2018-11-02 01:43] asmecher commented on #4180
OCS `ocs-stable-2_3_6` and OHS `ohs-stable-2_3` are both working with PHP7.

[2018-11-02 01:43] #4180 closed

[2018-11-02 09:42] Baytan commented on #4203
After your warning, I have found the way to do it. Thanking reviewer may be automatic,as the editors may forgot to do it. Anyway, thanks for the attention.

[2018-11-02 10:11] NateWr commented on #3594
@asmecher I'm running into a couple of JS validation issues that I can't figure out how to address.:

1. `ModalHandler.js` is complaining that `pkp` is not defined: https://travis-ci.org/pkp/ojs/jobs/448383107#L1052. But it's a global that I use in other handlers without any validation issues ([example](https://github.com/pkp/pkp-lib/blob/master/js/classes/Handler.js#L378)). Do you know what's cau

[2018-11-02 13:40] bozana commented on #4195
Hmmm... yes... but currently OJS does not know about them -- it sees a reference/list of references just as a text...

[2018-11-02 14:08] mfelczak opened #4206 "Reviewers cannot access submission for review in OJS 3.0.2"
With latest back-ported fixes in OJS 3.0.2

Reviewers get a blank page when trying to access an assigned submission for review.

PHP Fatal  error:  Uncaught ArgumentCountError: Too few arguments to function PKPPageRouter::getRequestedOp(), 0 passed in pages/reviewer/ReviewerHandler.inc.php on line 48 and exactly 1 expected in lib/pkp/classes/core/PKPPageRouter.inc.php:107

[2018-11-02 16:01] twakeford commented on #4172
thanks @NateWr, happy to be of help.

Good point on the text labels and language issues. Perhaps a universal/language non-specific stage icon would be an option, with a key located elsewhere?

Breaking the steps into editorial action / no editorial action seems ok, but that context may change without system changes - e.g. awaiting review = no editor action if they have only recently been accepted,

[2018-11-02 16:51] twakeford commented on #4158
I think that adding citation information/complexity here isn't necessary, and adding an introductory article within the actual article list won't be needed (they can publish an Editorial if they want a full publication with citation and just add it to the collection).

To keep it simple, a collection setting seems to need:
- title
- description (in the OLH/Ubiquity Press platform example given abo

[2018-11-02 17:58] twakeford commented on #2665
This has been an issue for us as well, and having a nice big 'notify editor' button, available once the author has completed their task has been requested. There are 2 issues that I don't think have been mentioned above:

1) currently the editor gets sent a template email each time there is a file uploaded, but a) if the author is uploading a number of files then the editor receives a lot of email

[2018-11-02 20:41] asmecher commented on #4206
@mfelczak, this is a [backwards-incompatible change introduced with PHP7.1](http://php.net/manual/en/migration71.incompatible.php). Is an OJS upgrade possible? I'd recommend that as the best solution.

[2018-11-02 20:51] asmecher commented on #4158
Essentially I'm leaning towards having a big TinyMCE control to allow the creation of summaries, credits, etc. at the head of any collection's homepage. There's likely to be a lot of variation in what journals want (e.g. author/editor/curator credits, introductory content, images, etc) and that's the only way I can see that covers them all.

[2018-11-02 21:00] mlafl commented on #4158
Agreed with @twakeford for the most part: one other baseline decision will be in what order articles are displayed within a collection and whether this is customizable. Maybe two options: chronological ascending and chronological descending?

I can surely see a use case for authors themselves associating submissions with a collection, but it would be great to be able to enable or disable this: at

[2018-11-02 21:04] asmecher commented on #3594
Off the top of my head: try `$.pkp` instead of `pkp`. That should validate.

See e.g. the `@type {{ ... }}` syntax here: https://github.com/pkp/pkp-lib/blob/034b6f787a44c50c12c9d15eb65a0dbc0bc47f0e/js/controllers/modal/ModalHandler.js#L46..L47

Sometimes you have to use explicit typecasts to get Crockford to stop glaring at you. Something like...

1. Add a new `instance` variable to the `var` defi

[2018-11-02 21:32] asmecher opened #4208 "Replace tag-it library with something else"
Tag-it has several problems...
- Keyword separator character interferes with [Arabic](https://forum.pkp.sfu.ca/t/an-arabic-letter-unexpectedly-ends-current-entry-in-keywords-field/49627) and [Cyrillic](https://forum.pkp.sfu.ca/t/cyrillic-b-treated-as-enter-in-keywords/35690)
- It may not be compatible with JQuery 3.x: see comments at https://github.com/pkp/pkp-lib/issues/3404

Evaluate possible re

[2018-11-02 21:33] asmecher commented on #4208
(https://select2.org/ seems popular...)

[2018-11-02 21:34] asmecher commented on #3404
The tag-it-related issues should be dealt with here: https://github.com/pkp/pkp-lib/issues/4208

[2018-11-03 06:46] mlafl commented on #4158
Just reading back through the thread and wanted to make sure something doesn't disappear from view: while we don't need original articles associated with a collection, we would like to preserve the ability to have one or more blog posts associated with it. That's in line with the Discussions section of our existing site:

https://culanth.org/curated_collections/19-everyday-islam

I know that OJS s

[2018-11-03 16:13] mfelczak commented on #4206
Thanks @asmecher -- unfortunately we have some hosted clients with extensive OJS 3.0.2 customizations who will only be upgrading once 3.2 is released, e.g. submission list customizations that are incompatible with OJS 3.1.1.

[2018-11-03 16:18] mfelczak commented on #4206
P.S. Does the fix here entail something other than adding the $request param to the PKPPageRouter::getRequestedOp() calls in pages/reviewer/ReviewerHandler.inc.php:48?

[2018-11-05 11:01] NateWr commented on #2665
1. There's been some discussion of that [here](https://github.com/pkp/pkp-lib/issues/3278). But admittedly this has been scattered across a few issues.

2. :+1:

[2018-11-05 11:05] NateWr commented on #4208
Select2 is popular but my understanding is that it has accessibility issues. I doubt Tag-it is any better, though. Eventually we will phase out Tag-it as forms move to Vue.js, where we'll use an autosuggest that attempts to be WCAG compliant.

[2018-11-05 11:16] Vitaliy-1 opened #4212 "PKPTemplateManager::initialize() redundant variable"
This variable is never used: https://github.com/pkp/pkp-lib/blob/master/classes/template/PKPTemplateManager.inc.php#L352
Is the idea to assign `hasSystemNotifications` to the Smarty outside of `if` loops?

[2018-11-05 12:08] NateWr commented on #4158
@mlafl given your timeline (Feb 2019?), I think @asmecher's approach is probably the best fit, and associating blog posts may need to be a custom approach we build that is unique to your journal (especially since these posts are usually published in a separate CMS, right?).

@asmecher I can see that this feature is going to attract a lot of knock-on requests (assigned editors, DOIs for collections

[2018-11-05 14:10] eirikhanssen commented on #3646
I just got an email from two of our frustrated journal editors, who are missing this feature of sending a custom email-notification after publishing an issue as was possible in OJS2. They had edited the PUBLISH_NOTIFY template only to discover that it was not used when publishing the issue.

[2018-11-05 14:47] NateWr commented on #3594
Thanks! I always forget about the inline `/** @type ...` technique. I'll run those now.

With the first one, its not actually `$.pkp`. It's a separate global var, just `pkp`, where some our Vue library bits are stored (the event bus, a component registry, etc). You can see it's definition in `closure-externs.js` here:

https://github.com/NateWr/pkp-lib/blob/i3594_forms/tools/closure-externs.js#L30

[2018-11-05 15:11] Baytan opened #4213 "After thanking, reviewer decisions is not seen on Review page"
Thanks to all contributors of this Project. We are using ojs (3.1.1.4) for our journal for 2 years. I have a request for future versions.
After thanking reviewers, the reviewer decision is not shown on the Review page. Seeing all reviewer decisions together was better for an editör to decide about article especially when conflicting decisions are present. I would be grateful if I can see the reviw

[2018-11-05 15:57] bozana commented on #4213
Hi @Baytan, when you open the arrow for that review, there is the action "Review Details". There you can see the reviewer recommendation. Is this what you are looking for?

[2018-11-05 16:22] bozana commented on #4197
Hi @Baytan, I believe this is similar to the issue https://github.com/pkp/pkp-lib/issues/2820.
There the date submitted will be added, as well as the last decision and its date because it is possible to make several decisions). Would that be fine for you?
What do you exactly mean with "revision"?
If you do not mind i.e. if it is true that this is similar to that issue, would you please close this

[2018-11-05 16:23] bozana commented on #4184
Can this issue then be closed @amandastevens?

[2018-11-05 16:40] ajnyga commented on #4208
This https://github.com/pkp/pkp-lib/issues/1550 is very much connected to this issue.

[2018-11-05 17:37] bozana commented on #3893
@ajnyga, did you maybe encounter this error once again?
hmmm...

[2018-11-05 18:04] ajnyga commented on #3893
I don't think I've seen this. I will check our error log.

[2018-11-05 18:35] bozana commented on #4206
I think you could try that fix @mfelczak...

[2018-11-05 18:44] bozana commented on #3893
:+1:  Thanks!
Maybe we should consider the change above however... ?

[2018-11-05 18:57] amandastevens commented on #4184
Oh yes, I thought Alec had closed it already.

[2018-11-05 19:20] #4184 closed

[2018-11-06 01:13] asmecher commented on #4212
Yup, I've removed the dead code -- thanks, @Vitaliy-1!

[2018-11-06 01:13] #4212 closed

[2018-11-06 01:15] asmecher commented on #4201
@garyross, can you drop the link to the forum post here?

[2018-11-06 02:31] garyross commented on #4201
@asmecher Here goes:
https://forum.pkp.sfu.ca/t/emails-have-wrong-url-show-file-path-instead-possible-bug/49528

[2018-11-06 08:03] Baytan commented on #4197
Dear Bozana,
I agree that the issues are similar. I will close this and add it to the #2820.
Thanks.

[2018-11-06 08:03] #4197 closed

[2018-11-06 08:07] Baytan commented on #2820
I learned that the submission and last decision dates will be added to the article reports. It is very good and thanks. But, I think first decision date is also important as some journals report the first decision date to authors to express how fast they process.

In short, I think additional to the submission and final decision dates, first decision date should be added to the reports. Thank you

[2018-11-06 08:17] Baytan commented on #4213
I may explained wrongly. After I confirm the reviewer report using "Review Details" button, the reviewer decision written beside reviewer name (like Revisions Required, Accept Submission) is lost. It was good to see the reviewer decision beside his/her name to understand the generel opinions about the submission. I do not like to confirm reviewer reports due to this. However, without confirming re

[2018-11-06 11:18] ajnyga commented on #4158
Having shared code base is an excellent idea.

A couple of comments:

- not all of the items listed there probably can not get a DOI at least from Crossref: https://www.crossref.org/services/content-registration/

About the Category column. I do not see preprints as a "category".  A preprint is a "stage" of an article. Meaning that a preprint could belong to a category.

Below is a rough visualiza

[2018-11-06 11:53] Ph-We opened #4214 "[OJS 3.1.1.4] Translation keys might be confused for some locales (navigation.submissions & about.submissions)"
Hi! See here for the details: https://forum.pkp.sfu.ca/t/ojs3-1-submissions-locale-key/46290

`navigation.submissions` and `about.submissions` may have different translations for some locales, so they cannot be used interchangeably.

[2018-11-06 15:19] NateWr commented on #3594
@asmecher I was finally able to work around the last validation error by using `/*global pkp*/` at the top of `ModalHandler.js`, which I understand is a JSLint feature.

I don't see any more validation errors in the Travis report, but the validation tests are still returning a failture: https://travis-ci.org/pkp/ojs/builds/451306005?utm_source=github_status&utm_medium=notification. Have you ever s

[2018-11-06 16:33] asmecher commented on #4158
@ajnyga and @NateWr, thanks for this; I've been thinking about preprints as well.

My line of thinking has been that preprints do not "mature" into an article, i.e. a preprint with submission ID 123 *does not* become an article with submission ID 123. A preprint has its own life cycle and if it later becomes the basis for a submission then that submission lives and dies separately, with its own ID

[2018-11-06 16:38] asmecher commented on #3594
@NateWr, check line 1119/1120 of the log:

![image](https://user-images.githubusercontent.com/200411/48078938-3761b500-e19f-11e8-8399-0fb147651930.png)

[2018-11-06 16:41] NateWr commented on #4158
Thanks for that @asmecher and @ajnyga. That's useful detail on pre-prints. I must confess I haven't thought much about pre-prints and I only threw them into the mix to demonstrate that Categories might satisfy many kinds of scenarios where there is repeated publishing into a group, rather than one-offs like Issues/Collections.

[2018-11-06 16:45] rochpaul commented on #4177
Yes, we get some informations about missing files:

`[Tue Nov 06 15:40:01.663142 2018] [:error] [pid 18654] [client 92.117.35.169:42546] PHP Warning:  copy(/tmp/swordimyNbW/files/Zeitschriftenverwalter/in, Trump_Mueller_and_the_US_Constitution.pdf): failed to open stream: Datei oder Verzeichnis nicht gefunden in /ojs/ojs-3.1.0/plugins/generic/sword/classes/OJSSwordDeposit.inc.php on line 117, refe

[2018-11-06 16:47] ncorlett commented on #4171
Thanks for the patch. It works!

Sorry for the delay, it took as a while to implement the patch.

[2018-11-06 16:56] asmecher commented on #4201
@garyross, essentially generally OJS tries to use the URLs it gleans from the `$_SERVER` variable in the PHP environment. If it can't do that, it'll use the `base_url` (no suffix) setting. However, any `base_url[...]` settings (*with* the suffix) are considered "hard overrides" and will always be used preferentially.

If you're seeing `localhost` URLs used in contravention of `base_url` (no suffix

[2018-11-06 17:02] mfelczak commented on #4206
Hi @bozana, confirming that adding the $request param fixed the error. The affected install has been running PHP 7.1 with their OJS 3.0.2 from the beginning on a dedicated server, i.e. it looks like this issue was triggered by pulling-in the latest changes from ojs-stable-3_0_2.

[2018-11-06 17:03] asmecher commented on #4177
Thanks, @rochpaul, that helps -- could you also try patching 113d601?

[2018-11-06 17:05] asmecher commented on #4171
Thanks, @ncorlett!

[2018-11-06 17:45] mtub commented on #4214
@asmecher, I might need some help tracking this down. From what @Ph-We wrote in the forum, I am not sure if the locale keys or the code displaying them changed between 3.0 and today.

[2018-11-06 19:12] asmecher commented on #4198
@Baytan, I think our recommended practice is that you notify the reviewer that the review is cancelled, rather than revoking permission e.g. by denying access to declined submissions.

[2018-11-06 20:00] ajnyga commented on #4158
Hi,

Is there a specific reason why a preprint could not mature into an article inside OJS? There are not that many differences between an article and a preprint. Basically it is just about creating and publishing a galley before the review and adding handlers to show those. Preprint is by definition a version of an article that precedes a published article.

Regarding DOIs, preprints and articles

[2018-11-06 20:12] asmecher commented on #4158
@ajnyga, consider interfaces like OAI-PMH. If an OAI-PMH endpoint exposes preprints, it should expect them to stay preprints, rather than suddenly seeing them transform into articles. I'm also considering metadata aspects -- it'll be pretty common for an editor to transform an article's metadata for journal standards after its preprint form has been exposed, and changes to the article's metadata s

[2018-11-06 21:10] ViRuSTriNiTy opened #4215 "[OJS] IssueEntrySubmissionReviewForm, missing parameter in execute hook call"
Hi there,

as the issue title already tells, there is a missing parameter in the execute hook call in `IssueEntrySubmissionReviewForm`.

I will demonstrate the issue based on call stacks. The following call stack is working:

[code]

and now another call stack with correct behavior when using the issue entry review form:

[code]

but now the call stack with incorrect behavior as the submission par

[2018-11-06 21:22] ajnyga commented on #4158
I do not see that publishing the proof version of the article means that the preprint disappears? The preprint is an early version of the article with it's own metadata (versioning comes into play here), own full text and own url (article/view/123 vs. preprint/view/123).

I agree that metadata changes. That is why I suggested in the versioning thread that preprints should be considered there.

[2018-11-06 23:56] israelcefrin opened #4216 "Expiry date announcements editing not work"
Once expiry date field is set and save it is not possible to leave it blank. Even cleaning and saving it will keep last expiry date set.

Reproducing this issue:
 Settings > Announcements (tab)> Scroll down to announcements listing

1. Edit one with expiry date  &  Save
3. Edit it again
4. Clear expiry date field & save
5. Re-open to check that the previous date remains.

[2018-11-07 09:22] NateWr commented on #3691
@Vitaliy-1 The HTML Galley plugin is part of the OJS repository, rather than a separate submodule. So you can make changes to that and put them all in the same commit/PR to OJS. :+1:

[2018-11-07 09:54] NateWr commented on #4158
I think that we will face demands to accommodate both approaches to preprints that are being raised here, and probably many other approaches as well. There are also the cases of institutional and disciplinary repositories which may not want to publish the final article or any preprint metadata.

A `SubmissionGroup` is one possible way to handle preprints but not the only way. Versioning is another

[2018-11-07 10:02] twakeford commented on #4158
In my head, themed collections and preprints are very different from the user perspective - collections are collating 'traditional' published output, albeit with added data on the collection page, whilst preprints are not necessarily associated with a specific journal or may not ever get submitted anywhere
= sounds to be like they should be treated as separate issues (and best to define 'preprint'

[2018-11-07 11:44] NateWr commented on #3594
@asmecher :+1: that was it!

(For future reference, don't use `sudo` when running `npm` because it's not available to the system account.)

[2018-11-07 12:41] paschty commented on #4177
The copy warning is gone no, but still no pdf.

`unzip -l /var/folders/2t/1r76p55d7ds1rhlzsjnb94hh0000gn/T/swordv2_
swordv2_8152583822235586643deposit.zip  swordv2_9215077302706103601deposit.zip
sebastian@Sebastians-MacBook-Pro-2:~$ unzip -l /var/folders/2t/1r76p55d7ds1rhlzsjnb94hh0000gn/T/swordv2_8152583822235586643deposit.zip
Archive:  /var/folders/2t/1r76p55d7ds1rhlzsjnb94hh0000gn/T/swordv2_815

[2018-11-07 14:51] jmacgreg commented on #4158
+1 for splitting the preprints question off into a separate issue. Maybe we can gather these separate but similar threads into some sort of "Alternative publishing models" project? Versioning, preprints, open peer review and themed collections group nicely but should be treated individually.

[2018-11-07 16:01] israelcefrin opened #4217 "[OMP] new user registration not working without reader role in DB"
Hi @asmecher and @NateWr , OMP allows to edit and remove roles, but when _reader_ role is removed from it, any attempt to register a new user will return a 500 error code from server.
Likewise, ticking the reviewer checkbox, error will persist, eventhough user is registered, but no role in system.

To reproduce this issue in OMP is required admin permission to remove _reader_ role and attempt to r

[2018-11-07 16:44] NateWr commented on #4217
Upon reflection, we should probably disable deletion of a user group of the `ROLE_ID_MANAGER` or `ROLE_ID_READER` role when no other user groups with that role exist. Maybe `ROLE_ID_AUTHOR` too? Though I can imagine the app technically functioning without it.

[2018-11-07 19:09] asmecher commented on #4011
For everyone encountering this problem, you can apply https://github.com/asmecher/pkp-lib/commit/5ef2c495be4927cf55077a31cb0a4563b7bf2d62 in `lib/pkp` to resolve it. I've committed this to git `master`, `ojs-stable-3_1_1`, and `omp-stable-3_1_1` branches, so if you're using git you can either cherry-pick it in or update to the latest from those branches.

[2018-11-07 19:09] #4011 closed

[2018-11-07 22:17] asmecher commented on #4158
@NateWr and @jmacgreg, I agree that preprints should be discussed elsewhere, but IMO we're at the level of writing up a general specification rather than using git issues. We already have a rough document circulating (c/o @willinsky) and can break it out from there into git issues when we're ready.

[2018-11-08 01:30] garyross commented on #4201
@asmecher
Thanks for taking the time to reply.

[code]

However, I'm not 100% sure that `php` in a `www-data` crontab would get the same path, so I've updated my Crontab to `/usr/bin/php` to ensure the cli version.

`3 * * * *    /usr/bin/php /www/vhosts/ojs.jaltcall.org/htdocs/tools/runScheduledTasks.php`

and let you know if that fixes the issue. (Perhaps a [note in the docs would be helpful](ht

[2018-11-08 01:54] jamshidhashimi opened #4219 "Fix report generator character encoding problem in RTL languages"
Exported reports (.csv) in Arabic UI when opened in Excel shows rubbish characters. See: https://forum.pkp.sfu.ca/t/reports-shows-rubbish-characters-in-arabic-ui/49321

This issue similarly exists in Farsi UI as well.

[2018-11-08 09:42] ajnyga commented on #4217
+1 for preventing deletion. A journal should always have at least one group with those permission levels.

Some journal may for example try to block new submissions by deleting the author role (but of course there should be other ways of handling that).

[2018-11-08 11:00] Vitaliy-1 commented on #3691
ThemePlugin class is inside pkp-lib submodule and I didn't make submodule update before. What is the algorithm here?

[2018-11-08 11:09] NateWr commented on #3404
I found one more issue that I think is related to the jQuery bump to v3.0. PR: https://github.com/pkp/ojs/pull/2157

[2018-11-08 11:28] Ph-We commented on #4214
Just to be more specific: the item in the 'About' dropdown menu should have the same key (`about.submissions`) as the item in the breadcrumbs (in the page where that item leads):
![image](https://user-images.githubusercontent.com/22288161/48196026-59576500-e362-11e8-987e-d6d2ceebc60a.png)

[2018-11-08 11:47] NateWr commented on #3691
Ok, this is always a bit of a hurdle the first time you do it. So let's suppose the following (adjust according to your branch names):

- Your OJS changes are in your branch, `i3691_galley_styles`.
- Your PKP changes are in your branch, `i3691_galley_styles`.

Do the following:
1. Make sure both repositories are up-to-date with the latest `master`.
2. Commit all changes to both.
3. In your OJS dir

[2018-11-08 13:30] Vitaliy-1 commented on #3691
Hmm, don't know git well.
I have "local" and "origin" (my fork) ojs and pkp-lib repositories that are up to date and have `i3691_galley_styles` branch with needed changes. Also, they have original pkp repos as `upstream`. Or should I have only ojs repostitory with updated submodules (`git submodule update --recursive`) and make changes in ThemePlugin class there?

Right now `git add lib/pkp` and m

[2018-11-08 13:43] NateWr commented on #3691
You'll want to have `i3691_galley_styles` checked out in your `lib/pkp` repo. So I would do something like this:

[code]

If in this series, after doing `git add lib/pkp`, it means one of two things:

1. You have made no commits in your `lib/pkp` branch.
2. You have already added the `lib/pkp` changes to a previous commit in your OJS branch.

The second one can happen if you use `git add .` to mak

[2018-11-08 14:46] bozana commented on #4206
OK, I can do the commit(s)... Thanks!!!

[2018-11-08 20:16] asmecher commented on #4219
Looks good -- merged all 3, @jamshidhashimi. By convention it's best to include the issue number in the PR title, e.g. "`pkp/pkp-lib#4219 Add BOM (byte order mark) to fix UTF-8 in Excel`", but I see you linked them in the description, which works too. Thanks!

[2018-11-08 20:16] #4219 closed

[2018-11-08 22:06] asmecher commented on #3758
A few more comments over here: https://github.com/pkp/pkp-lib/pull/4143#pullrequestreview-172767878

[2018-11-08 22:22] asmecher commented on #4217
@israelcefrin, do you have a stack trace for the problem? I think I may have already committed a fix that'll improve behavior when no `ROLE_ID_READER` roles exist, but can check.

As for other user groups, I think the `is_default` column could be helpful here? I'd advocate that the default user groups probably shouldn't be deletable at all.

[2018-11-08 22:33] carzamora commented on #4064
Hi @marcbria,
now the emailTemplates.xml is ordered, and you can see the repeated string here: https://github.com/pkp/ojs/blob/master/locale/es_ES/emailTemplates.xml#L127#L154 now is necessary to decide on what message will be used, or maybe a mix between both, if you prefer I can make the PR with your preference ;)

[2018-11-08 23:14] asmecher commented on #4216
@israelcefrin, the attached patch (https://github.com/asmecher/pkp-lib/commit/e83fdc285dc74c1edef842d2dbed278a31a32229) should fix it. However, it's a little hacky and points to some bigger problems with date handling...
- The affects of changing the default formats
- Handling of empty date fields in other places
- Inadvertent/broken double-posting of date fields (see `textInput.tpl`)

@NateWr, ha

[2018-11-09 00:25] stranack opened #4226 "Enable Theme Plugins by Default"
We've received feedback that editors and journal managers often don't understand or want to go near the plugins in OJS. Can we enable new theme plugins by default in new releases, to ensure they are available in the Themes dropdown menu on the Appearance page? That will make them much more discoverable by non-technical users.

[2018-11-09 01:58] jamshidhashimi commented on #4219
Thank you @asmecher. I noticed the naming after submitting the PR. Will do so after this.

[2018-11-09 08:45] NateWr commented on #4226
I think that we only ship the `default` theme. All others have to be installed. It might be worth having a UI/UX conversation about what we want to ship as part of the main OJS project.

[2018-11-09 08:50] NateWr opened #4228 "Limit the number of revisions uploaded messages received by editors"
Editors receive an email every time a revision file is uploaded. This can mean several emails for one set of revisions.

This has been raised as part of related issues ([here](https://github.com/pkp/pkp-lib/issues/2665#issuecomment-435460969)).

There is some code which has not been merged due to issues with the tests. https://github.com/pkp/ojs/pull/2152#issuecomment-436995534. It would address t

[2018-11-09 09:13] marcbria commented on #4064
Thanks @carzamora.
@jordilacruz take a look and let us know, please.

[2018-11-09 09:22] NateWr commented on #4182
PR from @jamshidhashimi:
https://github.com/pkp/pkp-lib/pull/4227

[2018-11-09 09:30] NateWr commented on #4182
Thanks @jamshidhashimi! I'm not sure about this technique, because we have cases where content may overflow the modal in the `x` direction. For example, a file table inside of a modal will sometimes exceed the modal's width. It's not ideal, but I believe `overflow-x: hidden` would make that content impossible to access.

Looking at the CSS code for the modal and the rtl stuff, it seems likely to m

[2018-11-09 09:57] NateWr commented on #4216
The add/edit announcement forms are still using the old system. Only the announcement settings (enable/disable, # on homepage) have been converted.

(That'd be an easy change following on from the API/ListPanel work to replace announcements that Dmitris and I did during the sprint.)

[2018-11-09 12:03] israelcefrin commented on #4216
Thanks for the patch @asmecher , I applied and it is working fine.
Checking this announcement listing I realized that we don't have a "Expiry date" column in listing,is it worth to open an issue? Or is it covered in @NateWr / Dmitris API/listPanel work?

[2018-11-09 12:11] NateWr commented on #4216
Yeah our work covered this. Let's leave it be for now.

[2018-11-09 12:20] israelcefrin commented on #4216
Ok, thanks @NateWr and thanks again @asmecher .

[2018-11-09 17:30] jamshidhashimi commented on #4182
@NateWr Thank you. Good questions and concerns. I found the issue. I noticed in many files: grid.less, notification.less, form.less and head.less whenever the element is required to be off screen, the following is used:

`left: -9999px;` [here](https://github.com/pkp/pkp-lib/blob/master/styles/form/form.less#L189) in form.less

and changing that to:

`right: -9999px;`

in RTL fixes the issue in th

[2018-11-09 17:44] ajnyga commented on #4228
The linked comment looks great "I give up, this is taking way too much time" 🤣 Sorry, got a bit tired with it. I will do another try tomorrow with a fresh master branch...

[2018-11-09 19:47] asmecher commented on #3304
See also https://www.phpfastcache.com/

[2018-11-09 21:16] asmecher commented on #4217
I suspect this was already resolved by https://github.com/pkp/pkp-lib/commit/1e281e31357e63ff2f35f195313430b950dea77e; a quick test would be helpful!

[2018-11-09 21:21] asmecher commented on #4226
I think the plugins area being too scary is a legit criticism needing its own solution. A drastic reduction of the number of plugins there would be helpful, but it's been slow to achieve. (OJS 2.4.8 has >130 plugins included; OJS 3.1.1 has fiftysomething. But that's still too many.)

[2018-11-09 22:13] asmecher commented on #4201
Off the top of my head, you could write up a quick PHP script to be kicked off by cron doing something like...
[code]

[2018-11-10 01:13] garyross commented on #4201
Here's what I get when I run that command via Cron:

Doing with both the  full path `/usr/bin/php /home/gary/www-data-test.php` and the short path  `php /home/gary/www-data-test.php` gave the same results

[code]

[2018-11-12 15:35] NateWr commented on #4182
:+1: Yes, that sounds about right. I suppose if any of the content inside of a modal has `left: -9999px`, it might cause that issue in the modal.

I'd definitely be open to suggestions you have for replacing the use of absolute positioning in these UI components. I use off-screen absolute positioning to keep an item in the DOM accessible for assistive technology (ie - screen readers) where a `disp

[2018-11-12 15:50] NateWr opened #4231 "Submission list won't display submission in review stage with no review round"
If a submission in the review stage does not have any round, it will not add some stage information that the submission list expects. This leads to a missing `files` prop which causes a JS error and prevents the submission from displaying. (See https://forum.pkp.sfu.ca/t/missing-not-showing-articles-after-upgrade-to-ojs-3-1/47909/6?u=natewr).

https://github.com/pkp/pkp-lib/blob/master/classes/ser

[2018-11-12 16:29] NateWr commented on #4228
No worries, we've all been there with the tests. :)

[2018-11-12 16:34] ajnyga commented on #4228
Just a disclaimer that I did not loose it again during the weekend, just did not have time to try again. Today probably...

[2018-11-13 15:44] NateWr commented on #3404
@asmecher Here's an update for the jQuery dependency used in `ui-library`.

PR:
https://github.com/pkp/ui-library/pull/26

[2018-11-13 16:13] NateWr commented on #3404
And another PR that updates the dependencies when `enable_cdn` is on. I think this explains why I was running into issues with `$.when()`.

PR:
https://github.com/pkp/pkp-lib/pull/4233

[2018-11-14 10:53] isgrim commented on #2986
@asmecher Is still on the horizon? It would be great if we could incorporate GND (german authority file) or other name authorities (VIAF, etc.) as an disambiguating identifier.

I was stumbling on an related issue while looking at the "authors" method in the SearchHandler.inc.php this was used for "Browse by author" in OJS 2 and can still be used for browse by author in 3.xx but the link is hidden

[2018-11-14 12:04] streslibaba opened #4234 "Published Article and meta data can be changed by authour after published."
Hi
Published Article and meta data can be changed by authour after published in OJS (3.1.1.4)
There is same problem in all archieves.
How can fixed it?

[2018-11-14 20:37] asmecher opened #4235 "Improve OAI-PMH set spec compliance"
OAI sets, [per the OAI spec](https://www.openarchives.org/OAI/2.0/openarchivesprotocol.htm#Set), should be specified using colon-separated elements consisting of

...which in return consist of...

[code]
However, our current code simply `urlencode`s the elements, which results in them containing `%`-escaped sequences, `+` characters for spaces, etc. That breaks compliance with the specification.

[2018-11-15 06:09] ajnyga commented on #2422
We had a related issue where a clear error message would had helped.

An editor was submitting an editorial decision and attached a reviewer file to the message. The file however was over 16 megabytes and when the decisions was made and OJS tried to send the email to the author it failed.  The reason was probably the default value (10 megabytes) of Postifx attachment max size setting (not 100% sur

[2018-11-15 13:20] ctgraham opened #4236 "Remove email from DOAJ export"
c.f. https://forum.pkp.sfu.ca/t/doaj-plugin-exports-author-email-addresses-data-security-issue/49869

DOAJ notes:

https://doaj.org/publishers#upload

The code exporting email addresses in OJS is here:
https://github.com/pkp/ojs/blob/21e564b267ef3ed4094ad619f2f812a7e48fb7f2/plugins/importexport/doaj/filter/DOAJXmlFilter.inc.php#L208-L209
and here:
https://github.com/pkp/ojs/blob/21e564b267ef3ed409

[2018-11-15 15:53] #4236 closed

[2018-11-15 15:54] asmecher commented on #4236
All 3 PRs merged, thanks, @ctgraham!

[2018-11-15 22:19] asmecher commented on #4149
PR: https://github.com/pkp/ojs/pull/2167

@NateWr, would you mind reviewing this? It adds a checkbox to the Access form permitting the manager to enable OAI even though records won't be published with OJS. For journals that use this, the OJS article URLs are removed from the OAI records.

I'd like to merge this to `ojs-stable-3_1_1`, but the setting will need to be rewritten for the new forms you'

[2018-11-15 22:19] asmecher commented on #4149
(This is getting prioritized as it's a Coalition Publi.ca requirement for some journals.)

[2018-11-16 00:17] asmecher commented on #2422
PRs:
- https://github.com/pkp/pkp-lib/pull/4237
- https://github.com/pkp/ojs/pull/2168
- https://github.com/pkp/omp/pull/604

Note that notifications have not been added where the task is potentially only server-side (e.g. cron job).

[2018-11-16 14:39] NateWr commented on #4099
@twakeford I spun off #4172 as one of three high-priority changes we're going to try to get into 3.2 (along with #4168 and #4101).

These more general issues are great for capturing wide-ranging discussion, so I'd recommend we keep things going here. The other issue is likely to see more implementation-focused discussion. I'd encourage you to follow both, but I'll keep #4172 pretty tightly scoped

[2018-11-16 15:30] NateWr opened #4238 "Refactor policy framework"
This came out of a discussion about some authorization checks performed in the API handlers.

Alec:

Full conversation: https://github.com/pkp/pkp-lib/pull/3931#discussion_r232099551

[2018-11-16 18:49] mfelczak commented on #1179
This looks to be implemented as part of https://github.com/pkp/ojs/pull/2010

[2018-11-16 18:50] #1179 closed

[2018-11-16 21:29] upacifico opened #4239 "[OJS]"
test

[2018-11-16 21:29] #4239 closed

[2018-11-16 22:29] asmecher commented on #2422
Merged for OJS 3.2.

[2018-11-19 19:14] amandastevens commented on #2481
In OJS 3.1.1 reviewers can still see submissions they've declined to review in their "My Queue" list. They can open a declined submission and see the submission details, although I don't think they can access the files.

[2018-11-19 20:46] asmecher commented on #2481
@bozana, would you mind taking a look at the comment above?

[2018-11-19 20:59] stranack commented on #4226
The reasoning for which plugins are enabled by default and which are not isn't clear. Until we figure out the long-term issue of plugin display, I'd like to argue for enabling all PKP-created themes by default in 3.2.

[2018-11-19 22:53] asmecher opened #4240 "Remove unvalidated new accounts after expiry"
See https://forum.pkp.sfu.ca/t/validation-timeout/49885

[2018-11-20 11:08] NateWr commented on #4149
By chance, I just noticed that there is an OAI setting in the config file. Does this need to be changed, removed, used during migration?

[2018-11-20 13:28] bozana opened #4242 "keywords missing via OAI"
the additional metadata like keywords and discipline are wrongly addressed/accessed in the code to provide them in oai_dc, s. https://github.com/pkp/ojs/blob/ojs-stable-3_1_1/plugins/metadata/dc11/filter/Dc11SchemaArticleAdapter.inc.php#L93-L94.
It should be used something like: https://github.com/pkp/ojs/blob/ojs-stable-3_1_1/plugins/generic/googleScholar/GoogleScholarPlugin.inc.php#L102-L103.

[2018-11-20 17:03] asmecher commented on #4149
No -- that's the "global" enable/disable setting. As long as it's turned off, the OAI interface will be totally unavailable. It's a big circuit breaker.

[2018-11-20 17:13] bozana commented on #3893
@asmecher, do you think we should merge those changes? Could you take a look? -- it is a just a minor improvement...

[2018-11-20 18:00] asmecher commented on #4234
@bozana, would you mind taking a look at this? Thanks!

[2018-11-20 18:13] bozana commented on #4242
PRs:
ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/2169

[2018-11-20 18:14] bozana commented on #4242
@asmecher, could you take a look at this PR?

[2018-11-20 18:19] defstat commented on #4214
Hi all! In my perspective the `submissions` page, and the `about submissions` page are two different things that could have different translations. For the navigation menus feature the `navigation.submissions` key is currently being used to point to the `about.submissions` page, mainly because the purpose of the `navigation.submissions` was to point to `submissions` page, which at a later version

[2018-11-20 19:20] asmecher commented on #4242
That looks good -- please continue, thanks!

[2018-11-20 19:21] asmecher commented on #3893
I think you can just check for the presence of the `SESSION_DISABLE_INIT` constant -- if present, it's a command-line invocation.

[2018-11-21 10:06] NateWr commented on #4182
I think in these cases the additional `width`, `height`, `overflow` and `overflow-x` properties are not required. And when implementing it in RTL we would still need something like this:

[code]

Is that what you were thinking? Or am I misunderstanding something?

[2018-11-21 15:34] ctgraham opened #4243 "Errors unclear when Plugin upload fails"
Method `PluginHelper::extractPlugin()` [takes](https://github.com/pkp/pkp-lib/blob/164758310831fcfac6931c1e6fc1b51f66ff0793/classes/plugins/PluginHelper.inc.php#L43) and [manipulates](https://github.com/pkp/pkp-lib/blob/164758310831fcfac6931c1e6fc1b51f66ff0793/classes/plugins/PluginHelper.inc.php#L66) a error string by reference, but this error string is unused by the caller `UploadPluginForm::exe

[2018-11-21 17:48] jamshidhashimi commented on #4182
In the example above, I am implementing those additional properties to the element itself (the element we want to hide from screen but visible to assistive technologies). Implementing that to the element itself makes sure we are not affecting any other element anywhere, including the Modal.

Let's say we are in the RTL UI, as we are implementing `overflow-x: hidden` to the element itself, it doesn

[2018-11-21 18:24] amandastevens opened #4245 "Reviewer information missing in selection grid when adding reviewer to round 2"
In OJS 3.1.1-4, when you open a second round of review and add reviewers, a reviewer selection list is presented, but next to every reviewer it says "Never assigned," even if the reviewer has been assigned to other submissions or was assigned to the previous round of the submission.

![select reviewer for round 2](https://user-images.githubusercontent.com/35044512/48860816-5c0d7d80-ed98-11e8-8ddb-

[2018-11-21 18:30] amandastevens opened #4246 "Add option to select "Reviewers from this submission previous review rounds" in Round 2"
In OJS 3.1, when you opened a second round of review and added reviewers, there was a checkbox to select "Reviewers from this submission previous review rounds."  It allowed you to quickly find the reviewers from the previous review round.  When the reviewer selection grid was improved in OJS 3.1.1, (Issue #2894) this option disappeared. The feature is used often by editors and it would be helpful

[2018-11-22 11:10] NateWr commented on #4182
Have you tested this and does it fix the problem? If so, then go for it. I must be misunderstanding the issue, because I thought it was the positioning, not the width or overflow, that was causing the issue. But if it solves the problem then :+1:!

[2018-11-22 11:14] bozana commented on #4242
sorry @asmecher, I've just seen that OMP is displaying each DC subject in its own dc:subject element and it does not consider discipline. Shall we do it in the same way for OJS 3.1?

[2018-11-22 11:16] NateWr commented on #4208
Personally, I am tempted to just wait until we make it obsolete with the Vue.js forms. But if you or someone wants to do a quick swap in the meantime to something better I have no objections.

It would also be possible to turn each tag-it field into a little Vue.js app that loads https://github.com/Educents/vue-autosuggest. But, again, we might be bending over backwards for something that will be

[2018-11-22 12:48] bozana commented on #3860
PR:
https://github.com/pkp/pkp-lib/pull/4247
https://github.com/pkp/ojs/pull/2171

[2018-11-22 12:48] bozana commented on #3860
@asmecher, OK so?

[2018-11-22 13:45] bozana commented on #2481
In OJS 2 those declined/canceled reviews are visible for the reviewers, but were in the archive queue. @asmecher, I suppose this should also be the case in OJS 3? In that case, @amandastevens, it is correct that the reviewer can see the submission and metadata (and files if the journal setting allows it so), but those submissions should be in the reviewer's archive queue.
Or, shall we change the c

[2018-11-22 14:40] bozana commented on #4206
PR:
ojs-stable-3_0_2: https://github.com/pkp/ojs/pull/2172

[2018-11-22 14:40] lennycarl opened #4248 "References set to null"
Already post this problem at:
https://forum.pkp.sfu.ca/t/ojs-3-1-1-4-submission-tab-set-references-to-null/49977

References will be set to NULL (submissions.citations) if metadata was saved through “Submission” tab.
Tested on clean 3.1.1.4.

[2018-11-22 14:48] lennycarl opened #4249 "Keywords form section lost focus"
Already post this problem at:
https://forum.pkp.sfu.ca/t/ojs-3-1-1-4-keywords-focus-on-inner-elements/49984

If keywords localization fields was changed, keywords section start to act weird, if any input localization field focused, except main locale, such as delete symbol, keywords section just slide up.
Tested on clean 3.1.1.4.

[2018-11-22 15:00] ajnyga commented on #828
fyi: currently in contact with OpenAIRE and started to work on this...

[2018-11-22 16:06] bozana commented on #4206
merged, thus closing...

[2018-11-22 16:06] #4206 closed

[2018-11-22 16:31] bozana commented on #4248
@lennycarl, actually there should not be the references field in the Submission tab. Are you logged in as an editor?
Could you please double check if these changes are contained in your OJS code:
https://github.com/pkp/pkp-lib/pull/3839/files and https://github.com/pkp/ojs/pull/2025/files ?
Else, could you maybe explain step by step what did you do, what do you see, etc. -- For me to be able to re

[2018-11-22 16:32] bozana commented on #4248
Oh, I think I see...

[2018-11-22 16:56] bozana commented on #4248
PRs:
pkp-lib ojs-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/4250
ojs ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/2173 (only submodule update)

[2018-11-22 16:57] bozana commented on #4248
@lennycarl, could you maybe apply these changes and test if now OK: https://github.com/pkp/pkp-lib/pull/4250/files ?

[2018-11-22 20:55] amandastevens commented on #2481
That's correct, @bozana , the reviewer can still see the submission and metadata. I'm inclined to think they shouldn't be able to access the submission at all after declining it but maybe there is an advantage to moving it to the reviewer's archive that I haven't thought of.

[2018-11-23 05:45] bozana commented on #4248
merged thus closing

[2018-11-23 05:45] #4248 closed

[2018-11-23 05:56] jamshidhashimi commented on #4182
@NateWr, everything was working with the above solution but during my tests, I noticed the file name edit feature inside Modals were not working in RTL UI. It was somehow creating problem there.

I then went the solution you were pointing in this [comment](https://github.com/pkp/pkp-lib/issues/4182#issuecomment-440606858) and that implementation worked well. The current PR resolves both the [repor

[2018-11-23 08:32] lennycarl commented on #4248
Yes, this work.
Thank You!

[2018-11-23 17:56] asmecher commented on #4242
We should definitely standardize between the two apps, but I'd suggest asking Mike Nason (e.g. via Slack) for his recommendation. He's looking into OJS metadata improvements.

[2018-11-23 17:58] asmecher commented on #3860
Yes -- please go ahead!

[2018-11-24 10:42] Baytan opened #4255 "Adding reviewer affiliation to the reviewer report"
Thanks to all contributors of this Project. We are using ojs (3.1.1.4) for our journal for 2 years. I have a request for future versions.

The reviewer reports that is provided by OJS system do not include the reviewer affiliation. However, we list the reviewers of our journals in our website with affiliation and country information. It will be very useful to us if the reviewer report includes the

[2018-11-24 15:54] asmecher commented on #4208
@natewr, I think tag-it is currently broken since the JQueryUI upgrade, no?

[2018-11-26 13:33] ctgraham opened #4256 "Static call to ConferenceHandler::index fails in PHP7"
C.f. https://forum.pkp.sfu.ca/t/can-ocs-work-with-php7-0/27564/22?u=ctgraham

https://github.com/pkp/ocs/blob/54e93a6451487d166a046b692cea37843dc2b78b/pages/index/IndexHandler.inc.php#L56

makes a static call to `ConferenceHandler::index()`, but this method expects to be called in an object context.

[2018-11-26 13:54] hernandelafuente opened #4257 "[OJS] Cannot complete installation"
Hello, I'm new in OJS. I'm trying to install it locally in my Mac (Yosemite 10.10.5) but i can't get progress in the installation page. After complete the form with the user name, pass, languages, data base, etc etc press the "Install Open Journal Systems"button but nothing happens, I returns to the top of the installation page again and again, with no message or alert indicating the problem.

I'm

[2018-11-26 15:51] NateWr commented on #2481
Yeah, I think @amandastevens is probably right here. Although reviewers may want to see submissions they've reviewed in the past in their Archive, I don't think there's any reason to show declined assignments. These probably shouldn't appear in any list for the reviewer.

[2018-11-26 15:54] NateWr commented on #3075
Ah yes, on second thought, since submissions can go through multiple review rounds, a review assignment may not be "complete" until an editorial decision has been made. A reviewer may still want it off their "queue" though. Not sure what the best route here is, but I'd be tempted to not include in my queue any review assignments that are not waiting for the reviewer to do something (accept, declin

[2018-11-26 15:58] NateWr commented on #4182
:+1: Looks good @jamshidhashimi. Thanks for tracking all that down. Our usual approach is, when you open a PR, add a link here and ask for a code review from myself, Alec or Bozana. Like this:

PR:
https://github.com/pkp/pkp-lib/pull/4254

Usually, just rotate who you're asking for review, but sometimes one of us will be more appropriate to review something. In this case, since it's CSS, I'm proba

[2018-11-26 16:00] NateWr commented on #4182
Merged!

[2018-11-26 16:00] #4182 closed

[2018-11-26 16:03] NateWr commented on #4208
Oh I didn't realize! In that case, we do need to replace it. :joy:

@jamshidhashimi I'd say choose the one with the API you like the best and bring it in, ideally if it can be integrated through the `package.json` or `composer.json` files, so that we can more easily keep it updated.

[2018-11-26 17:08] jamshidhashimi commented on #4208
I learnt from [here](https://github.com/aehlke/tag-it/issues/402) that this [fork](https://github.com/fagianijunior/tag-it) works with jQuery 3. From there, I further [learnt](https://github.com/fagianijunior/tag-it/commits/master) that `.andSelf()` is depreciated in jQuery 3 and that should be changed to `andBack()` and that seems to be the source of the issue.

Should I go with the fix or replac

[2018-11-26 17:22] asmecher commented on #2481
Personally, I think the editor owes it to reviewers to manage reviewer communication with diligence -- they're asking for free labour, often from strangers. IMO the best practice is to communicate with potentially active reviewers that the submission is being declined as part of the decline process. IMO review activities should not be blocked by the status of an article -- a review posted on a dec

[2018-11-26 17:24] ajnyga commented on #4208
+1 for fixing this in tag-it, if in the long it will be replaced anyway (thinking of myself of course since I have a plugin that hooks into tag-it autosuggest...)

[2018-11-26 17:36] jamshidhashimi commented on #3874
PR:
[#4258](https://github.com/pkp/pkp-lib/pull/4258)

Please review @asmecher. Thanks.

[2018-11-26 17:38] jamshidhashimi commented on #4182
Thank you @NateWr for the merge and instructions. I will follow those steps in my future PRs.

[2018-11-26 17:46] asmecher commented on #3874
Thanks, @jamshidhashimi!

[2018-11-26 17:46] #3874 closed

[2018-11-26 20:51] asmecher commented on #1731
Are these for content that will be used from an HTML galley?

[2018-11-26 21:03] ViRuSTriNiTy commented on #2359
I can provide a PR for this issue. It can be partly solved by simple adjustments in `reviewFormResponse.tpl` and `forms.less`. The basic idea is to append an asterisk to the last `<p>`  in the field label (see my last suggestion here: https://forum.pkp.sfu.ca/t/missing-asterisk-for-required-fields-in-review-forms/49775).

 I've done so in my OJS setup and it works pretty nicely.

What do you say?

[2018-11-26 21:21] asmecher commented on #2359
@ViRuSTriNiTy, a PR would be welcome, thanks!

[2018-11-26 21:28] asmecher opened #4259 "Make XML export UTF8 characters more readably"
See https://forum.pkp.sfu.ca/t/native-xml-plugin-utf-8-cyryllic-characters-problem-ojs3-1-1-2/50044/8 for details.

This relates to the use of `DOMDocument::createElementNS`/`DOMDocument::createElement` with a `$value` parameter specified. Note in the PHP documentation:

Currently calls to this function use `htmlspecialchars`, which works but overzealously converts nearly all non-ASCII characters

[2018-11-26 21:35] asmecher commented on #4257
@hernandelafuente, can you post in our support forum at https://forum.pkp.sfu.ca/ rather than in this issue tracker? That's the best place to get general help.

[2018-11-26 21:35] #4257 closed

[2018-11-26 21:56] jmacgreg commented on #3602
PR incoming on this, just getting preliminary review from UMN.

[2018-11-26 23:06] #4243 closed

[2018-11-26 23:06] asmecher commented on #4243
Merged -- thanks, @ctgraham!

[2018-11-26 23:09] asmecher commented on #4243
Also cherry-picked to `ojs-stable-3_1_1`.

[2018-11-27 01:03] asmecher commented on #4246
@amandastevens, are you sure this disappeared between 3.1.0 and 3.1.1-x?

[2018-11-27 02:24] stranack opened #4260 "Make page numbers part of Metadata"
Right now, changing page numbers in published articles is hard to do. You must select the Schedule for Publication button on the Production stage. Could we consider making the page numbers part of the article metadata? This would, I believe, be easier for users to find.

[2018-11-27 11:00] NateWr commented on #3691
I left a couple comments on the PRs. In the future, when you're ready for another look, leave a comment here so I know to check the PRs again.

Also, we like to link to the PRs like this so it's easy for the reviewer to find.

PRs:
https://github.com/pkp/pkp-lib/pull/4225
https://github.com/pkp/ojs/pull/2160

[2018-11-27 14:04] NateWr commented on #3594
I've addressed all of the comments in the first code review and fixed the tests (except for the `DateStringNormalizerFilter` one). I think it's ready for a second code review. I've squashed all the changes into two commits:

https://github.com/NateWr/pkp-lib/commit/9d0537cd6e97ebaad50e44cfbfa3d0d203dfa85e
https://github.com/NateWr/ojs/commit/db1462f0be95625853066ae3a6ebf9eb856e9f4e

In particular,

[2018-11-27 18:45] asmecher opened #4261 "Add IPv6 support for subscriptions"
IP-based subscriptions currently only support IPv4 addresses. Add support for IPv6.

[2018-11-27 19:07] asmecher commented on #2359
Looks good to me -- merged! Thanks for contributing, @ViRuSTriNiTy.

[2018-11-27 19:07] #2359 closed

[2018-11-27 19:09] ViRuSTriNiTy commented on #2359
@asmecher merges quicker as me writing a short reply.

[2018-11-27 20:09] ViRuSTriNiTy commented on #2638
@NateWr I have executed the commands but the commit failed as there were no change. So i formatted some lines to get a commit going and after i pushed the changes and the travis thing was triggered it shows the following results: https://travis-ci.org/pkp/ojs/builds/460432368?utm_source=github_status&utm_medium=notification

I have to say that currently I don't really understand what is going on h

[2018-11-27 20:33] asmecher commented on #4072
Note that this also affects OMP. For OMP 3.1.1-x prior to -5, patch...
- https://github.com/asmecher/pkp-lib/commit/65475ba862e1ed5cad8f03ea34680be86a3dbe7e
- https://github.com/pkp/omp/commit/f104db093a25a2dff1c91eb157ef36d959da1239
- https://github.com/pkp/omp/commit/b8c18b08af810e0424732844b4fed9c2a45b7a72 (minified JS including the above modifications)

[2018-11-28 09:53] ptrckb opened #4263 "No user for some reviewer actions in a submission event log"
With OJS 2.4 the log entries for reviewer actions have no user associated if the reviewer used the one-click access.

With one-click access the current user can not be extracted from the request object when the log entry is created.

[2018-11-28 10:50] NateWr commented on #2638
@ViRuSTriNiTy can you share links to your PRs here? I'll take a look and see if I can spot what's going on.

[2018-11-28 11:07] NateWr opened #4264 "Autosuggest for keywords metadata entry returns languages"
When entering keyword metadata, it will search for suggestions as you type. This search only returns languages. For example, if you type `ab`, the URL will be:

[code]

[2018-11-28 13:36] bozana commented on #2481
@asmecher, it is not the submission that is declined, but the review by the reviewer -- reviewer declines/cancels the review, but it still see the submission in his list...

[2018-11-28 14:30] bozana opened #4265 "Minimum password length if only one context exists"
the site setting "Minimum password length" is only accessible if more than one contexts (journals or presses) exist, but it seems to be needed also if only one context exist, s. https://forum.pkp.sfu.ca/t/the-password-must-be-at-least-99-characters/34151/

[2018-11-28 15:55] AhemNason commented on #4242
Hey! So, from what I can tell, "discipline" isn't something covered by a dc:subject field.

[code]

I've pasted the dc:terms subject field here for more specificity. It's pretty clear that the intent of a subject field is mostly just keyword/keyphrase with, ideally, some sort of controlled vocabulary. Making a controlled vocabulary in this space would be a nightmare. Generally, a basic dc record w

[2018-11-28 18:11] asmecher opened #4266 "Reviewers do not have access to files uploaded in review discussions"
See https://forum.pkp.sfu.ca/t/ojs-3-the-current-role-does-not-have-access-to-this-operation/24614/41 for details.

[2018-11-28 18:48] asmecher commented on #4266
To fix this issue, apply any of the 3 above patches in the `lib/pkp` subdirectory. (The patches are identical, just applied to different branches.)

[2018-11-28 18:48] #4266 closed

[2018-11-28 18:52] asmecher commented on #2481
Sorry, I parachuted in too quickly :) yes, I agree with @NateWr and @amandastevens on this, until we hear a good reason to do otherwise.

[2018-11-28 19:10] asmecher commented on #4264
There are actually two issues here:
- [ ] The "languages" autosuggest source carries through to all subsequent keyword entries that don't specify a source
- [ ] There is apparently no autosuggest support for other metadata fields (including keywords)!

[2018-11-28 19:32] ViRuSTriNiTy commented on #2638
@NateWr The PRs are automagically linked to this issue at the top, see paragraph "This was referenced on 11 Oct ..."

The PR affected by yesterdays commit this one:

https://github.com/pkp/ojs/pull/2132

Does this help?

[2018-11-28 19:45] asmecher commented on #4263
Many thanks, @ptrckb -- one comment on your [PR](https://github.com/pkp/ojs/pull/2197) needs attention. Otherwise, this looks great (and thanks for tackling the upgrade scripts; that's particularly thankless work).

[2018-11-28 20:21] asmecher commented on #4264
Unfortunately the second part of this won't be possible until https://github.com/pkp/pkp-lib/issues/1550 is implemented. That's because keywords are not disambiguated, and are stored on a per-submission basis, so "hydrology" assigned to 15 articles means 15 "hydrology" strings stored in the database. I'll note this on the other issue. Closing this one, as the main bug is fixed.

[2018-11-28 20:21] #4264 closed

[2018-11-28 22:51] asmecher commented on #2986
@isgrim, the old OJS 2.x "browse by author" behavior is definitely deprecated, and we're hoping to use third-party ID-based services like ORCID to take its place. (OJS will never be particularly useful in hosting its own author list, since a single OJS install will only reflect a small amount of a typical author's work.)

Are there services offering browsable collections of works by an author usin

[2018-11-28 23:38] asmecher commented on #3594
I see you're mapping Exceptions into fatalError calls -- that's consistent with what we've done before, but just FYI, I'm OK with using Exceptions in the future.

[2018-11-28 23:39] asmecher commented on #3594
I've had a skim over it again and all systems go! When you're ready for OMP, let me know.

[2018-11-28 23:59] asmecher commented on #4216
OK, thanks --

[2018-11-29 00:01] asmecher commented on #4216
OK, thanks -- I've committed the fix to `ojs-stable-3_1_1` and `omp-stable-3_1_1` branches, and will work more generally on fixes to date handling in the `master` branch. This will probably have some overlap with @NateWr's recent work, but nothing substantial.

[2018-11-29 01:03] asmecher commented on #4216
The above commits should additionally fix the `master` branch so that nonstandard date formats are properly working, in addition to empty dates, and the per-use-case kludges are removed.

[2018-11-29 01:03] #4216 closed

[2018-11-29 07:52] bozana commented on #3860
Merged, thus closing...
Thanks @j4rk0 for contributing!!!

[2018-11-29 07:52] #3860 closed

[2018-11-29 08:08] bozana commented on #4242
Thanks @AhemNason! So OMP seems to do it correct... without discipline...
Maybe then just one more question: shall we provide each keyword in a separate dc:subject element?
From DRIVER Guidelines:

It seems to me that we are on the safe side that way... Also, because the keywords are now stored separately (and not as a string with ';'), it would be easier to do so...
Thanks a lot!

[2018-11-29 08:58] isgrim commented on #2986
@asmecher I dont know of a particular service, but at German National Library you can query for all literature and musical works which have been published in Germany, which are linked with that GND id.
For example:
https://portal.dnb.de/opac.htm?method=simpleSearch&reset=true&cqlMode=true&query=auRef%3D118575449&selectedCategory=any

The website is only in german and not very usable, so probably n

[2018-11-29 10:09] isgrim commented on #4260
This would be nice for chapters in OMP as well, for collected works with several authors to create correct citations from the metadata.

[2018-11-29 10:52] GrazingScientist opened #4268 "[OJS] Required asterisk missing"
Comparable to #909 , the asterisk for required fields in the metadata in the submission process is missing, although e.g. keywords were set as required.

I am running OJS 3.1.1-4.

[2018-11-29 11:34] NateWr commented on #2638
I have a hard time finding them in all the noise, so I like to post them in a comment.

PRs:
https://github.com/pkp/ojs/pull/2132
https://github.com/pkp/pkp-lib/pull/4135

[2018-11-29 11:44] NateWr commented on #2638
Ok, it looks like the submodule was never added in the final commit. You probably just need to make sure that you have the `issue-2638` in `pkp-lib` while you're working in `ojs`. That way you can commit the changes in the submodule.

So here's what I'd recommend you do:

[code]

The status should now show you something like this:

[code]

That tells you that the `lib/pkp` submodule has new commit

[2018-11-29 15:41] AhemNason commented on #4242
Yeah, that's the safe side for sure. I don't anticipate many people use an actual classification of any kind in this space but I agree that multliple elements is the way to go.

[2018-11-29 17:19] #1783 closed

[2018-11-29 17:20] asmecher commented on #3249
Duplicate of https://github.com/pkp/pkp-lib/issues/4147 (already fixed).

[2018-11-29 17:20] #3249 closed

[2018-11-29 19:56] #4061 closed

[2018-11-29 20:40] ViRuSTriNiTy commented on #2638
@NateWr Thanks for the detailed response but it just won't work. Now after pushing the "submodule update" the [PR](https://github.com/pkp/ojs/pull/2132) shows "Conflicting files: lib/pkp".

After thinking all this through, can you confirm that all we are trying to do is to update the origin
 of the submodule `lib/pkp` to my fork? After running a [couple of commands](https://stackoverflow.com/a/306

[2018-11-29 20:43] asmecher commented on #3746
Hrm, I can't reproduce this myself, either on the `ojs-stable-3_1_1` codebase or on `master`. @Vitaliy-1, is this still happening?

[2018-11-29 21:09] ViRuSTriNiTy commented on #4268
The `required` attribute is missing in the `fbvFormSection` calls in `lib\pkp\templates\submission\submissionMetadataFormFields.tpl`. This would also require an additional style introduced in pull request [#4262](https://github.com/pkp/pkp-lib/pull/4262). Providing a PR for this issue should be easy, shall I provide one?

[2018-11-29 22:15] asmecher commented on #4268
Contributions are always welcome, @ViRuSTriNiTy!

[2018-11-29 23:41] asmecher commented on #3770
PRs:
- https://github.com/pkp/pkp-lib/pull/4269
- https://github.com/pkp/ojs/pull/2199

Here's what I've done...
- Left `#1` in place (BCC on `SUBMISSION_ACK`), at least for now. This is the one place that new submission messages can be sent to non-users of OJS, like mailing lists. We can revisit this for 3.2.
- Made `#2` (`NOTIFICATION_TYPE_SUBMISSION_SUBMITTED`) go *only* to users who have been

[2018-11-29 23:46] asmecher opened #4270 "Review/remove broken notifications code"
It appears that the notification system used to support notifications with `user_id=0`, which IIRC used to apply to anyone active on the submission. These notifications do not appear to work anymore (see e.g. `NOTIFICATION_TYPE_EDITOR_ASSIGNMENT_`... constants).

Some investigation is needed to determine when/why they stopped working, and from there, whether it's worth fixing them -- or whether th

[2018-11-29 23:47] asmecher commented on #3770
(Filed an issue for the investigation of the nonfunctional notification code: https://github.com/pkp/pkp-lib/issues/4270)

[2018-11-30 00:24] asmecher opened #4271 "Disable "membership required" checkbox for institutional subscription types"
See https://forum.pkp.sfu.ca/t/possible-bug-or-is-this-a-faq/48209 for details.

[2018-11-30 00:26] asmecher commented on #4271
If you've already created a subscription type that is affected by this, and don't want to delete it, you can run the following SQL query to uncheck the box:
[code]

[2018-11-30 00:26] #4271 closed

[2018-11-30 03:57] jmacgreg commented on #3770
Absolutely!

[2018-11-30 04:56] ViRuSTriNiTy commented on #4268
PRs finished. Let me know if something is missing.

[2018-11-30 07:48] GrazingScientist commented on #4268
Wow! That was fast! o.O Awesome, @ViRuSTriNiTy !

[2018-11-30 07:51] GrazingScientist opened #4273 "[OJS] Missing breadcrumbs in static page"
When creating a static page in the navigation menu configuration, no breadcrumbs are displayed on the created page.
This was [mentioned in the forum before](https://forum.pkp.sfu.ca/t/breadcrumb-missing-on-sites-created-via-navigation-menu-or-static-sites/42082), but I also stumbled across this issue just now.

## Update (2019-10-07)
All pages in the default theme should have a breadcrumb + a titl

[2018-11-30 08:49] ViRuSTriNiTy commented on #4268
@GrazingScientist Hehe, i couldn't sleep this night, so i thought, why not doing something productive :)

[2018-11-30 10:58] Vitaliy-1 commented on #3746
@asmecher
Yeah. E.g., way to reproduce on the search page: have enough data to paginate the results for the search query on several pages. [Example](http://dev-ojs.e-medjournal.com/index.php/sjt/search/search?query=article&searchJournal=1&authors=&title=&abstract=&galleyFullText=&discipline=&subject=&type=&coverage=&indexTerms=&dateFromMonth=&dateFromDay=&dateFromYear=&dateToMonth=&dateToDay=&date

[2018-11-30 14:26] mjordan opened #4274 "List of volumes not generate by the OJS 3.x LOCKSS gateway plugin"
Adam Rusbridge at University of Edinburgh reported this issue with the OJS 3.x LOCKSS plugin (this is for the standard LOCKSS plugin). Here is Adam's report:

Alexandra Ohlson at Stanford also reported behavior to me that is consistent with this issue.

Unfortunately, when I visit the testdrive journal, I get a "Service temporarily unavailable" response. I can try later but if someone else can rep

[2018-11-30 14:32] mjordan opened #4275 "Unexpected redirect produced by the LOCKSS gateway plugin."
Alexandra Ohlson at Stanford reports

I can get some examples from her if that would help.

[2018-11-30 16:39] Vitaliy-1 commented on #3746
The problem is in [this method](https://github.com/pkp/pkp-lib/blob/master/classes/template/PKPTemplateManager.inc.php#L1069): `$smarty->getTemplateVars('itemsPerPage');` not returns actual number that is entered in the journal settings. In my case, it returns the one entered in the config file.

I have rewritten that part of code with:
[code]
I used OJS-3.1.1-4 for testing. But as you say that is

[2018-11-30 16:58] asmecher commented on #3872
Duplicate of https://github.com/pkp/pkp-lib/issues/1908

[2018-11-30 16:58] #3872 closed

[2018-11-30 16:59] asmecher commented on #4274
@mjordan, marking this a duplicate of https://github.com/pkp/pkp-lib/issues/1908 -- essentially that code hasn't been maintained since the OJS 3.x update, and needs an overhaul.

[2018-11-30 16:59] #4274 closed

[2018-11-30 16:59] asmecher commented on #4275
@mjordan, marking this a duplicate of https://github.com/pkp/pkp-lib/issues/1908 -- essentially that code hasn't been maintained since the OJS 3.x update, and needs an overhaul.

[2018-11-30 16:59] #4275 closed

[2018-11-30 17:00] asmecher commented on #1908
@jmacgreg, is this still something you want on your plate?

[2018-11-30 17:13] asmecher commented on #4268
Merged/cherry-picked, thanks, @ViRuSTriNiTy! Have more coffee :)

[2018-11-30 17:13] #4268 closed

[2018-11-30 17:41] mfelczak opened #4276 "HTML galley CSS stylesheet not applied in article view"
In OJS 3.1.1 when I upload a stylesheet for an HTML galley the CSS file is not included when accessing the article via the HTML Galley Viewer (styles are not applied to the article).

[2018-11-30 17:43] asmecher opened #4277 "Resolve "too few arguments" exception in OMP Series grid"
PHP Fatal Error:  Uncaught ArgumentCountError: Too few arguments to function DAOResultFactory::__construct(), 0 passed in .../PublishedMonographDAO.inc.php on line 409 and at least 3 expected in ...

[2018-11-30 18:10] asmecher commented on #4276
Does the HTML refer to the CSS file by name?

[2018-11-30 19:09] asmecher commented on #4273
@GrazingScientist, I'm ambivalent about breadcrumbs (and we've been relying on them a lot less in OJS 3.x than OJS 2.x). I do note that we're still using them in the reader front end in some cases. @NateWr, do we have a consistent policy on these?

@GrazingScientist, are you proposing that the navigation menu system should impose a hierarchy that's also displayed as breadcrumbs?

[2018-11-30 20:34] stranack opened #4278 "All languages enabled for site are enabled for all new journals"
When the Admin enables multiple languages for an OJS installation, all of those languages are automatically enabled for any new journals created on the site.

I have one journal that wants to experiment with *all* of the languages available. Every time I now create a new journal , I need to *manually* disable all of those languages on the new journal site.

Could we change it so that when the Admi

[2018-11-30 22:19] Vitaliy-1 commented on #3746
@asmecher I've got it!
In OJS 3.1.1-4 template variable `itemsPerPage` is assigned [here](https://github.com/pkp/pkp-lib/blob/ojs-stable-3_1_1/classes/template/PKPTemplateManager.inc.php#L363) but is not being overwritten [here](https://github.com/pkp/ojs/blob/ojs-stable-3_1_1/classes/template/TemplateManager.inc.php#L82). That's why `$smarty->get_template_vars('itemsPerPage');` returns result fro

[2018-12-01 09:54] navotera opened #4279 "Administrator cannot upload Site Logo"
hi..

Why administrator role cannot upload Main Site Logo ?

i got this message : The current role does not have access to this operation.
**xhr output : ** {"status":false,"content":"The current role does not have access to this operation.","elementId":"0","events":null}

never touch anything related on role access.

My OJS Version :  3.1.1.4 on Localhost

![image](https://user-images.githubuserc

[2018-12-01 17:51] ajnyga commented on #4278
Second this. Also maybe only enable the site default locale for new journals when they are created.

[2018-12-02 11:06] GrazingScientist commented on #4273
@asmecher, all I ask for is consistency. :) When I click any of the standard "About us" dropdown links (e.g. "Submission" or "Contact"), there are breadcrumps at the top of the respective page (so "Home / Submission" or "Home / Contact", respectively). But when I create a static custom page (in my case this was necessary to give an overview on "Ethic Guidelines"), these breadcrumps do not appear.

[2018-12-02 16:43] mjordan commented on #1908
@asmecher my apologies for #4274 and #4275. I did search the issue queue but somehow missed this.

[2018-12-02 17:10] asmecher commented on #1908
Not a problem, @mjordan, the issue queue is a labyrinth.

[2018-12-03 00:53] jamshidhashimi commented on #4208
**On compatibility with JQuery 3.x:**
Going through the issues and merged PRs, I noticed @asmecher already applied the [patch](https://github.com/pkp/pkp-lib/commit/1fbcaabb5b9a6923648210238c5d0237ea496374#diff-0a1c6970cd39720bb6e4b13a65194aef) I mentioned above. So there shouldn't be an issue regarding that.

**On resolving the issues available:**
On resolving this [issue](https://forum.pkp.sfu.c

[2018-12-03 10:20] heike-r commented on #1550
I just stumbled over this issue and wanted to add, that, as an OJS user, I would be very happy about a controlled vocabulary for keywords. We are currently constructing a data pipeline like this:

OJS -> (via SWORD, in testing) -> repository (MyCoRe)  -> (in planning) -> VIVO (current research information system / semantic web)

A controlled vocabulary for standardized keywords would be very good

[2018-12-03 11:44] NateWr commented on #2638
Yeah, that will change the project structure for everyone, which we don't want to do.

That sounds like you're on the right track. If there have been commits to `master` in pkp-lib or ojs, that aren't part of your push, then there will be conflicting files. That means you'll need to rebase before you push, which is common. Here's how I usually do that:

[code]

When I do this, I'll see my own repo

[2018-12-03 11:47] NateWr commented on #2638
(ps - if things go wrong at any time during rebase, you can do `git rebase --abort` to get out of the rebase cycle. until you force push, your files are safe on your github repository, and you can always do `git branch -D issue-2638`, `git fetch origin`, and `git checkout issue-2638` to make your local copy match the files on your github branch)

[2018-12-03 12:32] NateWr commented on #3746
:+1:

[2018-12-03 12:32] #3746 closed

[2018-12-03 12:56] bozana commented on #4255
This is again part of and will come with this issue: https://github.com/pkp/pkp-lib/issues/2820. Thus closing...

[2018-12-03 12:56] #4255 closed

[2018-12-03 13:10] bozana commented on #2820
Review Report now contains the following columns:
[code]
The report row represents, as till now, one reviewer assignment, which I think is correct. Because of that, the assigned editors as well as decision do not make much sense in this report -- they will just be repeated for each row of a submission. Furthermore, this data is considered in the article report, so I believe there is not need to co

[2018-12-03 13:15] alexxxmendonca commented on #2820
I'm not so sure about this. One would have to cross data between reports if one needs to find out which editors were assigned and what was the final decision.

It stands for "Number of times". Just replace the # to "Number of" ;)

[2018-12-03 13:22] bozana commented on #2820
But if a report row is only for one submission and one reviewer: a reviewer will only once be invited/acknowledged etc.
If this is a general reviewer information of the reviewer, it will be again duplicated for each row with one and the same reviewer.
Thus, maybe @jmacgreg and @NateWr and/or other could also tell what they think about those duplication of information in reports... i.e. if there co

[2018-12-03 14:48] jmacgreg commented on #2820
Hi @bozana, this looks great! I'll review it myself, and will be having Minnesota review it as well. They can probably get any comments back within a week.

In terms of use cases, I think there's a case to be made, over time, for a high-level Production report (ie. the current Articles report) that provides information on the submission's activity per stage, including dates; and a more detailed Re

[2018-12-03 15:10] alexxxmendonca commented on #2820
I think it's best if we go for a data dump approach. OJS itself shouldn't necessarily provide highly elaborated reports since it is not its core purpose. However, it should provide enough data to be exported and imported in a tool that was designed specifically for data manipulation (for example, Excel).

I am in favor of providing as much data as possible and the journal can just get rid of the c

[2018-12-03 15:42] bozana commented on #2820
The article report will now contain the following columns:
[code]
Gender is again not there, because we do not have this information.
Having all decisions + corresponding date decided for each editor (editor = editor + sub editor) provides really all decisions made + the information by whom + showing if it is just a recommendation or a decision.
Status corresponds to the "Current task" from the go

[2018-12-03 15:46] alexxxmendonca commented on #2820
I understand not adding all the information regarding peer review rounds, but perhaps just a "# of reviews" field?

[2018-12-03 15:53] bozana commented on #2820
PRs:
https://github.com/pkp/reviewReport/pull/19
https://github.com/pkp/ojs/pull/2201
https://github.com/pkp/pkp-lib/pull/4280

[2018-12-03 15:53] bozana commented on #2820
i.e. the changes are in my repositories, branch 2820... -- for testing...

[2018-12-03 18:47] israelcefrin opened #4281 "Permit lowercase X in ISSN journal field"
When adding/creating or editing a Journal, ISSN field allows 0000-000X but doesn't accept 0000-000x (lowercase **x**).
I've checked ISSN validator code and it seems that is not adjusted to handle this ISSN mask:
https://github.com/pkp/pkp-lib/blob/ojs-stable-3_1_1/classes/validation/ValidatorISSN.inc.php#L52

It is not critical, but it would be great if this field should be case insensitive, even

[2018-12-03 19:30] mfelczak commented on #4276
It did not, once it was added the HTML galley the stylesheet was applied. Thanks @asmecher!

[2018-12-03 19:30] #4276 closed

[2018-12-03 20:04] ajnyga commented on #4056
I have been participating in the translation of the DOI ISO standard ISO 26324:2012.

It states in 4.1.1. that: "The DOI name is an opaque string for the purposes of the DOI system. No definitive information may be inferred from the specific character string of a DOI name. "

[2018-12-03 20:40] amandastevens commented on #4246
Here is a screenshot of the select reviewer form for round 2 in 3.1.1-4 (from the test drive site) and that option isn't there. Is there is a way to make it appear that I missed?

![select reviewer for round 2](https://user-images.githubusercontent.com/35044512/49400245-08951b00-f71a-11e8-8a08-07a6bb5c8770.png)

[2018-12-04 06:11] ajnyga opened #4282 "OJS 3.1. Files uploaded to to discussion show up in Copyediting under Upload/Select files"
Hi,

OJS 3.1.1.2

Scenario:
- In Submission stage author uploads manuscript files
- Editor asks for new versions and author uploads those to a discussion
- move on to Review stage and editor selects Upload/Select Files from Review Files modal
- The files uploaded to the discussion show up under "Copyeding"

[2018-12-04 08:21] eirikhanssen commented on #4068
This is a recurring feature request from several of the journals we are hosting on our OJS platform. Would it be possible to implement in an upcoming version?
Best regards,
Eirik Hanssen
OsloMet University Library

[2018-12-04 10:35] NateWr commented on #4281
Are we sure that a lowercase `x` is valid in an ISSN? I did a quick look and everywhere that mentions the check digit uses an uppercase `X`. Some of the resources ([1](http://www.bl.uk/bibliographic/issn.html), [2](https://en.wikipedia.org/wiki/International_Standard_Serial_Number)) explicitly mention an "uppercase X".

[2018-12-04 11:01] NateWr commented on #2638
:tada: Merged! Thanks for pushing through on this one.

Next time, when you're preparing a PR, let's hop on a call and see if we can clarify the process. It is indeed complicated!

[2018-12-04 12:16] bozana commented on #4279
Hmmm... Somehow I cannot reproduce it... :-\
When exactly does this message appear? -- When you click on the button "Upload" or later?
Are you 100% sure you are logged in as admin user?
Hmmm....

[2018-12-04 12:35] bozana commented on #4279
Hi @navotera, s. this forum post i.e. you would maybe need to apply the patch...
Also, please first search after an answer in the forum and/or ask there. If it is then a real bug a GitHub Issue can be opened.
Thus, I will close this now...

[2018-12-04 12:35] #4279 closed

[2018-12-04 13:31] bozana commented on #344
The new version of the ALM plugin, for the OJS 3.1.1-4 can be found here: https://github.com/bozana/ALM/tree/ojs3

[2018-12-04 13:42] israelcefrin commented on #4281
You are right @NateWr , valid ISSN mask is uppercase `X`. I  think that a friendly message could be added with this instruction bellow the field, i.e: "Valid ISSN check digit, when a X, must be uppercase format", would be enough.

[2018-12-04 15:13] ptrckb commented on #4263
Created pkp/ojs#2204 for fixing the event log after upgrade to OJS 3.x.

[2018-12-04 16:37] alireza08 opened #4284 "Reviewers should view their comments from previous rounds of review process"
Hi,
Reviewers should see their own reviews and comments from round 1 when completing round 2 of review. Currently, this is not possible and a reviewer has no idea about what his own comments was in a previous round of review process.
This is discussed before [in the forum.](https://forum.pkp.sfu.ca/t/reviews-of-previous-rounds/49730/6)
Best,

[2018-12-04 20:26] #4242 closed, assigned to bozana

[2018-12-04 22:23] asmecher commented on #2638
@ViRuSTriNiTy, thanks, and also for sticking with this through the git submodule stuff -- it's a bit of a bear and I wish there was a better way of doing it. We're not aware of one!

[2018-12-05 14:56] jmacgreg commented on #3601
UMN notes - looks great! I think this is good to be merged.

[2018-12-05 16:36] israelcefrin opened #4286 "Issue management and submissions order misplacement"
Hi @NateWr

If a section with 2 submissions is ordered before to appear over other section with just one submission, the latter section will fetch one from the former. It is just a visual issue, because metadata shows that submissions are correclty under their section.

I have worked around it re-ordering sections, bringing the "one submission only" section to the first position in sections orderi

[2018-12-05 19:23] ctgraham opened #4287 "Upgrade provideSupplementaryFilesForReview fails with "Invalid file!""
C.f.: https://forum.pkp.sfu.ca/t/error-upgrading-from-2-4-8-to-3-1-1-invalid-file/47243/2

If a supplementary file entry exists in OJS but there is no corresponding submission file, the method `Upgrade::provideSupplementaryFilesForReview()` fails with a fatal PHP error.

To find these before upgrade:
[code]

To find these after a failed upgrade:
[code]

[2018-12-06 00:54] navotera commented on #4279
Great.

This link give me hint : https://github.com/pkp/pkp-lib/commit/9e35b17fd7c7c721ef5de4cf3d57f52b4980288a

i wonder i already install the latest PKP version.
Current Production Release (September 11, 2018)

    Download OJS 3.1.1-4 (.tar.gz) (24 MB)

but why this script still need to add manually or not being patched ?

thanks

[2018-12-06 08:52] jamshidhashimi commented on #4208
PR:
[#4285](https://github.com/pkp/pkp-lib/pull/4285)

@asmecher @NateWr please review. Thanks.

[2018-12-06 09:03] bozana commented on #4279
That patch came after the release, as a bug fix for that release...

[2018-12-06 09:21] #4287 closed

[2018-12-06 09:39] bozana commented on #4215
@asmecher, I see you have added those ...form::execute hook calls in this commit: https://github.com/pkp/ojs/commit/2a5ad807ca1338f50d97ed9498a642cc4ebe80ef. That slightly differ from what we used to use, the parent::execute which then provides the hook for all parent forms, or?
Is this then just a special case, or what is our general concept?
Thanks!

[2018-12-06 09:39] bozana commented on #4215
merged, thus closing...

[2018-12-06 09:39] #4215 closed

[2018-12-06 10:53] navotera commented on #4279
Ok thank you

On Thu, Dec 6, 2018, 17:03 bozana <notifications@github.com> wrote:

[2018-12-06 13:41] Baytan opened #4288 "Should we remove "[]" from sent email subject line"
We are using OJS 3.1.1.4 and thank all contributors of the Project. I have searched for this subject but not found a relevant one. So I open a new issue.

One of our editors was alerted, by some colleagues that are invited to review articles, that the invitation emails went directly to the spam box.  He checked and the same happens to him too.
The technical director of his University told that the

[2018-12-06 13:45] Baytan commented on #4288
I cannot find any setting for that. If there is I prefer to remove "[]" from subject line of the sent emails.

[2018-12-06 15:55] bozana commented on #2481
PRs:
https://github.com/pkp/pkp-lib/pull/4289
https://github.com/pkp/ojs/pull/2211

[2018-12-06 16:51] asmecher commented on #4288
@Baytan, this is the "acronym" setting on the masthead form; currently that's a required field, and it's hard-coded to be included in email templates in `lib/pkp/classes/mail/MailTemplate.inc.php` (look for `getLocalizedAcronym`). Do you have any information on prefixes like this generally being identified as spam? It's a fairly standard practice as far as I'm aware.

[2018-12-06 17:08] boost-starai opened #4290 "Author names"
We would like to access the author names when we send out emails to the reviewers. We tried using $authorName and it does not return any value. Can you please let me know what the correct variable is for accessing this information in the emails?

Thanks
Sriraam

[2018-12-06 17:17] bozana commented on #2481
Hi all (@amandastevens, @NateWr, @asmecher ), OK, I made the changes, so that the reviewer will not seen the submissions that he/she declined the review for.
I did the minimal change -- for example I haven't removed the parameter/option for some AccessPolicies (e.g. https://github.com/pkp/pkp-lib/blob/master/classes/security/authorization/SubmissionAccessPolicy.inc.php#L30), so that we can provide

[2018-12-06 18:31] asmecher commented on #4215
@bozana, you're right, it's probably better to rely on `Form::execute`. I suppose I probably noticed that `PKPSectionForm::execute` didn't exist and removed the `parent::execute` call, forgetting about `Form::execute`. But the two approaches are equivalent, so no rush to standardize -- unless you have the itch :)

[2018-12-06 18:51] asmecher commented on #4273
When static content appears in the nav menu hierarchy, it is possible for us to assign meaningful breadcrumbs, though I suspect in almost all cases that'll be `Home > Page Title` as per @NateWr 's screenshots, or maybe as good as `Home > Level A > Page Title`, which at least does provide one additional piece of information.

@GrazingScientist, how would yours look by this approach?

[2018-12-06 19:45] asmecher commented on #4208
@NateWr, would you mind reviewing this one? Thanks!

[2018-12-06 20:19] amandastevens commented on #2438
Comment from a publishing services client in support of this feature: "There really, really ought to be a possibility to attach documents. I was going to suggest to the editor that she uses the Notify function, but you cannot attach documents there either! The only place you can attach documents is by creating a Discussion, but none of our editors likes to use that function as it sends a very gene

[2018-12-06 20:19] mfelczak commented on #4246
Hi @asmecher, confirming that the hosted client that reported this issue was previously running OJS 3.1.0.

[2018-12-06 20:53] GrazingScientist commented on #4273
My version would look just like you proposed. But it keeps the look consistent when you change directly between different links of the "About Us" menu and a static page.

[2018-12-07 07:52] Baytan commented on #4288
@asmecher Thank you for your interest. I do not have information on prefixes like this generally being identified as spam. But I got the above discussion with one of our editors. And we had problems with our emails being recognized as spam. I think this may be one of the reasons. I prefer to change it just in case. Lack of brackets may not be a problem for us. thanks.

[2018-12-07 08:04] Baytan commented on #4288
I did it and it worked perfect. I do not know anything with php or what you use for OJS. I just know some C++ bu you guys are great for developing OJS and helping us to use it. many thanks :)

[2018-12-07 08:04] Baytan commented on #4288
If you want we can close this issue as it seem to be solved.

[2018-12-07 20:08] asmecher commented on #4288
Sure, @Baytan, sounds good. If you do have some general evidence that this causes emails to be marked spam, then we'd be interested in capturing that for a possible change in the software; otherwise you're welcome to maintain it as a local modification.

[2018-12-07 20:08] #4288 closed

[2018-12-10 12:03] bozana commented on #4215
:+1:  No itching, just to know... Thanks!!!

[2018-12-10 14:17] bozana commented on #4234
Hi @streslibaba, I've just tested it with my local installation, using ojs-stable-3_1_1 branch (which should be the same as the 3.1.1.4 release) and I could not reproduce it :-\ As author I can view the article metadata but the form fields are read-only i.e. I cannot edit/change them.
Could you maybe send me some more explanation and/or a screenshot where you can edit the metadata as author and/or

[2018-12-10 15:51] Vitaliy-1 commented on #3691
@NateWr
I've revised the approach today. It seems that for keeping fewer code modifications, it is better to transfer the method that calls HTML's hook in PKPTemplateManager or add a getter there for retrieving URL's for styles to be called from ThemePlugin. I've picked up the former. Hope that new commits were done in the right way :)

[2018-12-10 17:33] asmecher commented on #3746
@Vitaliy-1, are you sure this affects `ojs-stable-3_1_1`? I don't see any references to `__initialize` there.

[2018-12-10 19:18] Vitaliy-1 commented on #3746
I've compared master with the latest stable release. [This line](https://github.com/pkp/ojs/blob/master/classes/template/TemplateManager.inc.php#L27) in master makes the difference in comparison to this in [ojs-stable-3_1_1](https://github.com/pkp/ojs/blob/ojs-stable-3_1_1/classes/template/TemplateManager.inc.php#L28). That variable could be rewritten or not depending on what method is overloaded.

[2018-12-10 19:19] Vitaliy-1 commented on #3746
Does that make sense? :)

[2018-12-10 19:53] bozana commented on #3893
PRs:
https://github.com/pkp/pkp-lib/pull/4292
https://github.com/pkp/ojs/pull/2213

[2018-12-10 20:25] asmecher opened #4293 "Distinguish the user's URL field from the ORCID field"
Apparently users have been misunderstanding the ORCID and URL fields on the registration/profile forms as being related (e.g. expecting to enter the numeric part of the ID in the ORCID field, and the full ORCID URL in the URL field).

To avoid this confusion, distinguish the two fields.

A couple of quick ideas:
- Move one of the two, so they aren't adjacent
- Rename the "URL" field to "Homepage U

[2018-12-10 21:00] asmecher commented on #3746
Fixed also in `ojs-stable-3_1_1` and `omp-stable-3_1_1`, thanks!

[2018-12-10 21:09] #3893 closed

[2018-12-10 21:12] asmecher commented on #2481
Thanks, @bozana, this looks good and simplifies the code to boot. Please continue!

[2018-12-10 21:15] asmecher commented on #4246
Ah, I see, this used to be a search filter. @NateWr, I suspect this is something you could add without a lot of work...

[2018-12-10 22:18] asmecher commented on #3601
Merged, thanks!

[2018-12-10 22:18] #3601 closed

[2018-12-10 22:34] asmecher commented on #3772
Thanks again, @isgrim!

[2018-12-10 22:34] #3772 closed

[2018-12-10 22:50] asmecher commented on #4263
Thanks, @ptrckb, I've merged this!

[2018-12-10 22:50] #4263 closed

[2018-12-11 00:56] asmecher commented on #3483
The attached patches (equivalent, but made against different branches) should resolve it. You may also need to patch pkp/pkp-lib#4216.

[2018-12-11 00:56] #3483 closed

[2018-12-11 09:55] alexxxmendonca commented on #4293
This happens to our users quite often. I like the two suggestions and I think they could both be applied for an effective solution.

[2018-12-11 13:36] bozana opened #4294 "consider article covers in native export and import"

[2018-12-11 14:34] lennycarl opened #4295 "JournalManager/Author metadata edit error: "Please enter the references.""
Greetings!
When user is trying to edit metadata on published article he will get this notification: "Please enter the references.", even if references is set, this problem can be bypassed if uncheck 'Author' role from user or uncheck 'Required' flag for 'References' in workflow settings.
Tested on 'clean' 3.1.1.4.
Is this a bug, role conflict or authors shouldn't be allowed to change metadata?

[2018-12-11 15:16] bozana commented on #4294
PRs:
ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/2214

[2018-12-11 15:18] bozana commented on #4294
@asmecher, this PR changes a native export/import element name: issue_covers is renamed into covers, so that both, article and issue, can use the same function i.e. element. OK so?

[2018-12-11 16:10] jmacgreg commented on #1908
Hi @asmecher, could you review the PR above? Quick note - these manifest pages are supposed to be non-localized, and I haven't touched the table code at all - this is just a modification to fix whether content is displayed at all (and to ensure that it's displayed in the front-end interface view, as opposed to the admin back-end). This page isn't supposed to be accessed by humans. Let me know if y

[2018-12-11 16:32] mjordan commented on #1908
LOCKSS said they'd test if we want.

[2018-12-11 16:45] bozana commented on #4295
PRs:
pkp-lib ojs-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/4296
ojs ojs-stable-3_1_1: (only submodule update)

pkp-lib omp-stable...
omp  omp-stable...: (only submodule update)

pkp-lib master:
ojs master: (only submodule update)
omp master: (only submodule update)

[2018-12-11 16:46] bozana commented on #4295
Thanks @lennycarl! Could you maybe test the changes: https://github.com/pkp/pkp-lib/pull/4296/files -- this should fix it...

[2018-12-11 17:07] asmecher commented on #1908
(PR: https://github.com/pkp/ojs/pull/2215)

[2018-12-12 08:05] lennycarl commented on #4295
@bozana, this fix doesn't help, still getting notification.

[2018-12-12 08:13] edwardsafari opened #4299 "Journal contact on ojs 3.1.14 is not working"
When you click on a journal and you want to edit or insert the journal contact, the contact tab is not responsive. Any one who has fixed the bug kindly update.

[2018-12-12 09:16] bozana commented on #4295
Hi @lennycarl, hmmm... strange... :thinking:
You also have this fix, from earlier/another issue: https://github.com/pkp/pkp-lib/pull/4250/files, correct?
When the submission metadata modal is used, there should be a hidden form field metadataModal with the value=1. With the change above there should be no check for references in the case of metadataModal. The check should only exist at a new submi

[2018-12-12 09:47] bozana commented on #4295
I've just tested it on my local installation again and it works for me. I am using ojs-stable-3_1_1 branch, that has a few more fixes than the 3.1.1-4 release, but I think for this issue only those two commits/changes (s. above) are needed... Hmmm...

[2018-12-12 09:54] #2481 closed

[2018-12-12 09:55] #4295 closed

[2018-12-12 13:15] mjordan commented on #1908
Am I correct in understanding that users will need to upgrade to the upcoming dash release to get this fix, or can the updated plugin be delivered via the Gallery to users independent of the OJS version?

[2018-12-12 16:10] jmacgreg commented on #1908
Hi @mjordan, I'll see if I can get a test instance up today. Unfortunately, LOCKSS/CLOCKSS functionality isn't delivered via plugin - this is all core code, so the fix has to be applied to the codebase via github cherry-pick, patch, or system upgrade.

[2018-12-12 16:17] mjordan commented on #1908
@jmacgreg thanks for the clarification. Would you like me to coordinate testing with LOCKSS staff?

[2018-12-12 16:34] rshiggin commented on #1908
A quick comment from IUSCholarWorks' journal program at IU Bloomington (https://scholarworks.iu.edu/journals on 3.1.1.4). The .diff file works by running a standard patch command: `patch -p1 < patch_file.diff`
We'll be in touch ourselves with the technical team (namely, Alexandra Ohlson) at CLOCKSS to verify the revised manifest we now see.

[2018-12-12 16:40] mjordan commented on #1908
@rshiggin Alexandra is who I am talking to. If you are already in contact with her for testing, that's great.

[2018-12-12 16:52] jmacgreg commented on #1908
HI @rshiggin, sounds great! I'll leave it in your hands for testing w/LOCKSS unless I hear otherwise. Let me know here if any other changes are requested.

[2018-12-12 17:04] mjordan commented on #1908
@rshiggin I've pinged Alexandra to say you and she can perform initial testing, but to echo @jmacgreg, let us know if you need anything from the PKP team.

[2018-12-12 18:16] ctgraham opened #4300 "Output of references within the frontend is inconsistent and not semantic"
c.f. https://forum.pkp.sfu.ca/t/extract-and-save-references-extra-line-spacing/49621

When citations have been parsed, they are displayed within `div.references div.value p`
When citations have not been parsed, they are displayed with `div.references div.value`, separated by `<br />`s.

https://github.com/pkp/ojs/blob/dd1d5fa17c709b3d140fc9d43af06c4ea6897a9c/templates/frontend/objects/article_deta

[2018-12-12 18:30] rshiggin commented on #1908
Thank you. I'll report back here.

[2018-12-12 18:50] asmecher commented on #4299
@edwardsafari, do you get a browser console error (indicating a Javascript problem) or a fatal error in the PHP error log (indicating a server-side problem)?

[2018-12-12 18:57] asmecher commented on #4294
Yes, that's good, thanks! Did any of the included sample XML need changing?

[2018-12-13 11:34] bozana commented on #4294
Thanks @asmecher! No need, but I've just added a more comprehensive article import sample.xml...

[2018-12-13 12:44] Vitaliy-1 opened #4301 "ThemePlugin::isColourDark() returns true if color string is null"
There won't be generated any warnings if passing the first parameter as null. Consider adding an appropriate annotation. I can make a pull request if needed.

[2018-12-13 14:39] NateWr commented on #4208
@jamshidhashimi It looks like you've closed that PR. Is there an active one you want me to look at?

[2018-12-13 14:41] NateWr commented on #4273
I don't think we should use the nav menu hierarchy for breadcrumbs. A single page can appear in different hierarchies in different nav menus on the same site (eg - primary nav and a list of links in the footer).

I'm happy to look at a PR that adds the `Home > Current Page` breadcrumbs to the pages where it's missing.

[2018-12-13 14:53] NateWr commented on #4246
I'd like to do this when a new review round is created. So we can list the reviewers from the last round with a checkbox and ask them which should be assigned:

- [ ] Alec Smecher
- [ ] Michael Felczak
- [ ] Amanda Stevens

In previous iterations, what happened when you selected "Reviewers from this submission previous review rounds." Did you go through the assignment process for each one one-by-o

[2018-12-13 15:53] ctgraham commented on #4300
Or maybe the whole point of passing the unparsed references through nl2br is that they are *unparsed* and we could have intentionally weird data, like something other than references one-per-line?

Then we might want to only have parsed references in a structured list, leaving the formatting of the unparsed references strictly to the `div.references div.value`.

[2018-12-13 15:56] NateWr commented on #3691
Looks great, @Vitaliy-1! I'm happy to merge. I left one comment but otherwise just needs a rebase and it's ready to go. :+1:

[2018-12-13 16:06] asmecher commented on #4246
I think this was simply a search filter, i.e. you'd need to go through the process with each reviewer and assign them one by one.

[2018-12-13 17:39] NateWr commented on #4246
Seems like a 98% of the time kind of situation. They're usually going to want the same reviewers. So I'm leaning towards just pinning the previous reviewers to the top of the selection list then.

[2018-12-13 18:43] ctgraham commented on #3962
This also affects the public display, Crossref metadata, Citations, etc.

c.f. https://forum.pkp.sfu.ca/t/mix-with-authors-co-authors-and-translators

[2018-12-13 20:15] jamshidhashimi commented on #4208
@NateWr submitted the pkp/ojs#2224 for test in OJS. All tests are have passed.

[2018-12-13 22:23] jamshidhashimi commented on #1576
For this, I propose adding:

[code]
(You can see the [UserRequiredPolicy](https://github.com/pkp/pkp-lib/blob/master/classes/security/authorization/UserRequiredPolicy.inc.php) class here)
before
[code]
in [ContextPolicy.inc.php](https://github.com/pkp/pkp-lib/blob/master/classes/security/authorization/internal/ContextPolicy.inc.php).

This way, at least user understands that the session is either

[2018-12-14 01:04] jamshidhashimi commented on #1619
PR:

pkp/pkp-lib#4303

@asmecher please review. Thanks.

[2018-12-14 01:36] jamshidhashimi commented on #1737
It looks we were using an older version of Smarty. This issue looks resolved after the smarty version was updated in pkp-lib's `composer.json`.

Also, see [this](https://github.com/smarty-php/smarty/commit/a9e7e8881e36ef59b8cf9a948a54a1a15e2b794c#diff-83fc60aa9662328e03f12255e54116e1) and [this](https://www.smarty.net/forums/viewtopic.php?p=70440&sid=ab919de8ffc65ad7f9c3360626ba4b2f).

Tested loca

[2018-12-14 10:49] NateWr commented on #1737
:+1: great!

[2018-12-14 10:49] #1737 closed

[2018-12-14 12:02] MarHerUMR opened #4304 "Add the possibilty to extend privacy policy for plugins"
Hi everybody,

I am working on a plugin that will provide the possibility to schedule messages about a new issue on Facebook. In order to get a Facebook application I have to add the relevant parts about cookies and Facebook to the privacy policy. I think that's no problem for me to do it by hand, but it would be challenging for journals when they would want to use the plugin themselves. Also I th

[2018-12-14 13:23] MarHerUMR commented on #3099
I think a dropdown would be great for consistency purposes. We had the problem with `pdf`and `PDF` galleys. The recognition of the file file type would not be as useful for us.

[2018-12-14 14:45] israelcefrin opened #4305 "Uploading logo to customize theme - allowed file formats"
According to what has been mentioned in this [thread](https://forum.pkp.sfu.ca/t/ojs-3-cannot-upload-logo/28961/6), from the forum,  gif image format is not allowed to be uploaded in OJS3.
Instead to allows it, I think that would be helpful if we could add a friendly tip and validation message to this task.

Something like (bellow input field):
 "PNG and/or JPG formats allowed only, gif image are

[2018-12-14 16:31] Vitaliy-1 commented on #3691
@NateWr Thanks for the review and help. I've updated this one and pkp/lib sudmodule in ojs rep.
Anything else I should do here?

[2018-12-14 18:13] NateWr commented on #3691
It looks like you've still got a merge conflict. This can happen if _either_ ojs or pkp-lib need a rebase. My usual approach is:

1. rebase pkp-lib and force push
2. pull the submodule commit off of ojs (`git reset HEAD~1`)
3. rebase ojs
4. `git add lib/pkp && git commit -m "..."` and force push

Let me know if you want cmd-by-cmd on any of that.

[2018-12-14 19:01] asmecher commented on #3099
I think you're essentially proposing an autocomplete, @larsvilhuber? A dropdown wouldn't permit the entry of previously-unseen labels, so a dropdown offering only previous selections wouldn't work.

Most journals use the labels to identify the file format (PDF, HTML, etc), but we don't prescribe that, and I don't doubt that some journals use the labels in entirely different ways...

[2018-12-14 19:05] asmecher commented on #4305
This error message unfortunately comes from the plupload uploader that we use -- IMO the "right" fix would be for the upstream tool to use a more descriptive error message, though I'm not sure how willing they'd be to accept that proposal.

[2018-12-14 19:13] asmecher commented on #4305
(https://www.plupload.com/docs/v2/File-Filters)

[2018-12-14 19:45] larsvilhuber commented on #3099
@asmecher I was proposing an autocomplete based on site-specific prior entries/ other entires. That way, sites can dynamically build up the ones they want, while keeping consistency.

[2018-12-14 19:46] larsvilhuber commented on #3099
That being said, I think it might also be feasible to have a configurable component that *forces* compliance with a pre-defined list. As you point out, some sites might use these in an entire different way, so that should be functionality that could be turned off (default) or on.

[2018-12-15 01:28] asmecher opened #4306 "PublishedArticleDAO::getPublishedArticles calculates sort order incorrectly"

[2018-12-15 18:36] alireza08 commented on #2481
Hi @bozana ,
is the declined article totally removed from reviewer's list or moved to archive?
Tnx

[2018-12-17 16:22] jmacgreg opened #4307 "Make consent statements less "Canadian" / more declarative"
1) Change:

TO:

2) Change:

TO:

@NateWr / @ajnyga, any concerns with the above phrasing change? We've had this request from a client who had some editors who were confused by the vagueness of the original text. Alternatively we could use "consent to" instead of "agree to".

[2018-12-17 17:31] asmecher commented on #1619
Merged. Thanks, @jamshidhashimi!

[2018-12-17 17:31] #1619 closed

[2018-12-17 17:50] ajnyga commented on #4307
Sounds good to my non-native ear. I can see how that works better.

[2018-12-17 18:42] ajnyga commented on #4307
(also, I promise to use "more Canadian" and "less Canadian" from now on here in Github)

[2018-12-17 19:51] asmecher commented on #2820
@bozana, could you back-port this to the `ojs-stable-3_1_1` branch/repos as well? Thanks!

[2018-12-17 19:53] asmecher commented on #3673
@NateWr, this one is a high priority once the settings form stuff is merged, especially if it can be back-ported easily into `ojs-stable-3_1_1`. As far as I know back-porting shouldn't be major -- can you confirm?

[2018-12-17 19:54] asmecher commented on #3673
(Rescheduled tentatively so I don't forget -- not confirmed!)

[2018-12-17 19:55] asmecher commented on #2820
(Rescheduled tentatively so I don't forget -- not confirmed!)

[2018-12-18 10:15] NateWr commented on #3673
I wasn't aware that this would require backporting. My plan has been to use the API/Service structure to deliver stats, which would build on the work that's going into 3.2. I'd also probably use some of the form field components. So I don't think this one would be an easy backport, but if it needs to be then we can talk about what that entails.

@bozana is doing some of the work on the API side.

[2018-12-18 10:28] NateWr opened #4308 "Privacy checkbox appears during submission even if no privacy statement exists"
If no privacy statement exists for a journal, the privacy checkbox is still presented during step 1 of the submission. The link in the checkbox label goes to a 404 page.

The checkbox should not appear if no privacy statement exists.

[2018-12-18 10:39] paflov opened #4309 "[OMP] bogus pagination on catalog-page if 1+ submission/form language"
OMP 3.1.0.0

Look at PKPSubmissionService.inc.php, l. 7, function getSubmissionsMaxCount. Here a very complicated query is constructed to get the total numbers of items in catalog.
An item will be counted twice or even more often, if it has different titles in different languages.

But in CatalogHandler.inx.php, l. 102 (and 260) we find

[code]

In my case $total is 16 and count($publishedMonograp

[2018-12-18 11:58] ezeferrero opened #4310 "Don't allow discussion messages to be edited after they are created"
**Describe the problem you would like to solve**
After a discussion is created, the user who created it can modify the message. This is the case for all messages, including replies. This allows a user to falsify the discussion record.

This is especially problematic because comments for the editor which were created during submission may be edited later. For example, an author who suggested refere

[2018-12-18 14:24] GrazingScientist opened #4311 "[OJS] Licence badge not showing when referring https://creativecommons.org"
Today I ran into the issue that an editor included the link https://creativecommons.org/licenses/by-sa/4.0/ into the licence field. This caused the article not to show the proper licence badge but only a text link. When I substituted the "https" by an "http" in the database, it worked.

Can you reproduce / fix this problem?

[2018-12-18 16:39] asmecher commented on #3673
@NateWr, we hadn't initially considered back-porting, it only came up recently because of the delay in getting OJS 3.2 out there. @jmacgreg, FYI, I think this one's going to need to wait for 3.2. Is that OK?

[2018-12-18 16:42] asmecher commented on #4311
@GrazingScientist, what version of OJS are you using?

[2018-12-18 18:05] openacademia commented on #4246
Pinning the previous reviewers to the top of the selection list sounds great, especially if it is somehow clear that they indeed are the previous reviewers. "This reviewer has previously reviewed a previous version of this submission" or something like that?

Thanks so much for working on this! It will be great to get this functionality back and I like Nate's idea of pinning the previous reviewers

[2018-12-18 20:53] ajnyga commented on #4310
I agree with the last comment: why would we allow authors/reviewers to edit any discussion entries? Correcting typos there is not a big issue and they can always post a new entry if needed.

Honestly I did not even notice that they actually can edit the entries so this was definitely not taken into account when the comments for editor feature was designed to work as a discussion thread.

[2018-12-18 20:57] ajnyga commented on #4310
Another option would be to allow edits for a specific amount of time for authors and editors. For example an hour or so. I think this is a common practice in software with commenting features.

[2018-12-19 06:15] GrazingScientist commented on #4311
@asmecher, the most current one. So OJS 3.1.1-4

[2018-12-19 09:47] NateWr opened #4312 "Reviewer shown as "never assigned" when they have active review assignments"
**Describe the bug**
A reviewer may be shown as "never assigned" when they have active review assignments. This occurs when a reviewer's first invitation was on the same day.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a submission in the review stage.
2. Click on Add Reviewer
3. Create a new reviewer and assign them.
4. Go to another submission in the review stage.
5. Find the new

[2018-12-19 12:20] forgive38 commented on #4099
Hello

@openacademia, @marteery :
do you think it is possible for your colleagues to share the source code of the modification of OJSv3 ?
Our editors would like a similar dashboard, like the OJSv2.

Thank you !

[2018-12-19 12:43] NateWr commented on #4312
Still a bug we want to solve, just confirming the source of it. :+1:

[2018-12-19 18:00] asmecher commented on #4311
@GrazingScientist, you can adapt the list coded in `lib/pkp/classes/core/PKPApplication.inc.php` in the `getCCLicenseOptions` function. I'll leave this open for a more comprehensive fix, as existing data would need to be corrected.

[2018-12-19 18:00] asmecher commented on #4311
Proposal: change the list of licenses from `http` URLs to `https` in the code, and add an upgrade script to correct `http` to `https` for already-assigned licenses.

[2018-12-19 18:02] asmecher commented on #4310
Also suggested: an "edited" flag.

[2018-12-19 18:48] amandastevens commented on #743
I get requests for this feature fairly often. Most recently Open Academia commented, "We have noticed that the previous (OJS 2) function of emailing a copy of the decision letter to reviewers is missing in OJS 3.  [One of our journals] likes to send such emails to reviewers, and it is generally a function that is commonly used and exists in other systems. The journal has a review form in which the

[2018-12-19 20:37] rshiggin commented on #1908
Hello @mjordan and @jmacgreg,

Apologies for the delay. We've run this patch on our production multi-site instance. e.g., https://scholarworks.iu.edu/journals/index.php/sdh/gateway/clockss. Alexandra Ohlson with CLOCKSS support has verified that it works (clockss-publishertechnical@support.clockss.org). Although she did have a couple of questions about what is default language and what is not in O

[2018-12-19 20:39] rshiggin commented on #1908
I'm attaching the .diff file (as .txt) that we used, in case it's a different version. Thanks again!
[clockss-lockss.txt](https://github.com/pkp/pkp-lib/files/2696426/clockss-lockss.txt)

[2018-12-19 23:54] israelcefrin opened #4314 "Upgrading directly from ojs2.4 to OJS3.1.1-4 causing a menu navigation and static pages incompatibility"
A Journal installation which has 12Gb of files and a reasonable number of Static Pages were showing issues to manage Menu itens after upgrade.
Enable new itens or reorganize them was not possible. When I ran a upgrade first to OJS3.0.1 and, next , 3.1.1 this issue were not shown up e nenu got manageable again.
I can provide database and files from OJS2.4 version if it helps to reproduce this issue

[2018-12-20 00:57] asmecher commented on #4314
@israelcefrin, can you describe in more detail what you were trying to do, and what wasn't working? Anything in the logs (either PHP error or browser console)?

[2018-12-20 01:06] israelcefrin commented on #4314
Hi @asmecher uupgrading from OJS2 => 3.1.1 ran smoothly. When I tried to edit, create, delete itens from menu, this function didn't work. Menu in frontend doesn't show what is set in backend (existing items don't appear).

Error_log file totally clear, this is console error msg:

 `Failed to load resource: the server responded with a status of 404 (Not Found)             CUR_Tutorial.png`

In home

[2018-12-20 06:00] GrazingScientist commented on #4311
I will give this a try! Thanks for the insight!

[2018-12-20 06:00] #4311 closed

[2018-12-20 17:07] asmecher commented on #4311
Also added upgrade scripts to convert `http` URLs to `https`.

[2018-12-20 17:12] GrazingScientist commented on #4311
You are amazing Sir! (I am sure you hear this daily! 😄 )

[2018-12-20 17:13] Vitaliy-1 opened #4315 "Description for radio buttons in appearance form is missing"
This description is used, for example, in the default theme for typography option: https://github.com/pkp/ojs/blob/master/plugins/themes/default/DefaultThemePlugin.inc.php#L38

[2018-12-20 20:15] asmecher commented on #4315
Merged, thanks!

[2018-12-20 20:15] #4315 closed

[2018-12-20 20:16] asmecher commented on #4311
Not every day. Much appreciated, @GrazingScientist!

[2018-12-20 21:00] jmacgreg commented on #1908
Hi @rshiggin, thanks for the feedback! I can't seem to replicate this. Are you seeing the error when you try and save the Archiving ettings page, or elsewhere? Do you get any "Your changes have been saved" notification at all? (This isn't one of OJS' normal upper-right pop-ups for some reason, it's embedded in the page once you hit save.)

[2018-12-20 21:17] asmecher commented on #4314
@defstat, would you be able to take a look at this?

[2018-12-21 12:24] Vitaliy-1 opened #4318 "Blocks remain in the appearance menu despite being deactivated"
Tested with OJS 3.1.1-1, 3.1.1-4 and master branch (not most recent). To reproduce: deactivate block plugins (developed by, information block, language toggle block etc.), go to the appearance form, block still can be moved to the sidebar and are visible on the front-end.

Deactivation triggers JS error in the console, like:
[code]
This error is not block plugins specific.
Nothing special in the P

[2018-12-21 12:41] Vitaliy-1 opened #4319 "Javascript error on plugin activation/deactivation: row with id not found"
This error seems to be cosmetic and can be triggered by the activation or deactivation of any plugin through journal's or site-wide `settings->plugins` form:
[code]
When activating/deactivating any generic plugin, the error text shows `Row with id tinymceplugin not found`.
Nothing special in the PHP error log or in XHR
Tested with OJS 3.1.1-1, 3.1.1-4 and master branch but not the most recent vers

[2018-12-21 13:36] Vitaliy-1 commented on #4319
After exploration, I've identified the problem and it appears to be not cosmetic. pkp javascript file contains the lines:
[code]
By manually correcting to the actual element id:
`c = "component-grid-settings-plugins-settingsplugingrid-category-blocks-row-" + b[d]`
The error disappears and reordering after plugin deactivation/activation starts to work properly.

My abilities to debug js code and kn

[2018-12-21 14:01] NateWr commented on #3594
@asmecher I've added a PR for OMP to the original post in this issue and the tests are passing. :tada: Ready for (hopefully) a final code review!

[2018-12-21 14:02] #4208 closed

[2018-12-21 14:02] NateWr commented on #4208
Merged! Thanks @jamshidhashimi.

[2018-12-21 14:25] ViRuSTriNiTy opened #4320 "[OJS] Bad placement of error messages for check-boxes"
Hi there,

as the title already points out, there is bad placement of error messages for check-boxes. The error text is displayed right between the check-box itself and the text associated to the check-box:

![image](https://user-images.githubusercontent.com/12170676/50347407-c2bbbd80-0535-11e9-9170-340ee101c57c.png)

Imho the error message should be displayed below the text like

![image](https:/

[2018-12-21 17:18] asmecher commented on #4318
@Vitaliy-1, I think this is intentional. Moving the plugin off the sidebar in the Appearance form is equivalent to disabling the plugin in the Plugins list. Moving it back onto the sidebar is equivalent to enabling it.

[2018-12-21 17:51] Vitaliy-1 commented on #4318
My concern here is that the blocks are present despite plugins deactivation and this behavior is not consistent as blocks from generic plugins like Custom Block Manager and Web Feed Plugin disappear from the appearance form after deactivation. But this shouldn't harm in any way.

[2018-12-21 17:56] asmecher commented on #4318
The distinction is that you're disabling the custom block *manager* plugin, not the custom blocks it creates. Likewise with the web feed plugin, which offers more than just the sidebar block -- even if the block is disabled/hidden, then web feeds are still available by URL (making it possible to add links in other places, rather than only the sidebar).

[2018-12-21 18:03] Vitaliy-1 commented on #4318
OK. Closing then.

[2018-12-21 18:03] #4318 closed

[2018-12-21 18:11] Vitaliy-1 commented on #4319
I've made a pull request, it fixes the problem on my local machine. But I'm not an expert here and don't know for sure about the code. The error seems to be thrown by `resequenceRows` from `GridHandler` class, but the code for this action is passed to the `CategoryGridHandler` class. This both classes have methods with identical names and I thought that `getRowByDataId` from `GridHandler` should b

[2018-12-21 18:42] defstat commented on #4314
Hi @israelcefrin !

From the error log, I don't see any message related to navigation menus (I think).
Could you provide some screenshots on that, and/or the state of the navigation_menu_* tables in the db for the journal that has the issue?
Do you have the problem you describe when trying to edit every navigation menu item or just the ones that came from Static Pages?
Do you see the titles of the

[2018-12-21 19:01] asmecher commented on #4319
(PR: https://github.com/pkp/pkp-lib/pull/4322)

[2018-12-21 21:00] asmecher opened #4323 "Add Smarty shim functions for theme compatibility"
In issue #3242 we moved to Smarty 3, which includes a lot of function name changes (generally to move from `underscored_function_names` to `lowerCamelCase`). For compatibility with plugins and code (e.g. themes) that used the Smarty 2 functions, add shim functions (with deprecation warnings).

[2018-12-21 21:01] asmecher commented on #4306
Committed to `ojs-stable-3_1_1` and `master` -- closing.

[2018-12-21 21:01] #4306 closed

[2018-12-21 22:53] jmacgreg opened #4324 "Update PubMed export based on NLM feedback"
A client using OJS 3.1 received the following feedback from NLM support about the content produced by our PubMed plugin. Most of this looks relatively straightforward to include.

* Use the current Document Type Definition:
<!DOCTYPE ArticleSet PUBLIC "-//NLM//DTD PubMed 2.7//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/in/PubMed.dtd">

* Use the journal’s NLM Title Abbreviation in the JournalTitle el

[2018-12-21 22:53] jmacgreg opened #4325 "Update PubMed export based on NLM feedback"
A client using OJS 3.1 received the following feedback from NLM support about the content produced by our PubMed plugin. Most of this looks relatively straightforward to include.

* Use the current Document Type Definition:
<!DOCTYPE ArticleSet PUBLIC "-//NLM//DTD PubMed 2.7//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/in/PubMed.dtd">

* Use the journal’s NLM Title Abbreviation in the JournalTitle el

[2018-12-21 22:53] jmacgreg commented on #4324
closing - dupe

[2018-12-21 22:53] #4324 closed

[2018-12-22 09:42] ViRuSTriNiTy opened #4326 "DAO should allow to remove stale data object settings via method call"
see https://forum.pkp.sfu.ca/t/50400

[2018-12-22 10:25] ViRuSTriNiTy opened #4328 "Hook for adding columns to grids via plugin"
see https://forum.pkp.sfu.ca/t/49733

[2018-12-22 19:13] ViRuSTriNiTy commented on #4072
I have hunted this bug also only to see that is already fixed. Darn. Here are my notes about where the bug originates for reference.

- create & finish submission
- open *review the submission"* page
- open metadata modal dialog
- click save
	- response with a json object containing flag `reloadContainer = true`
	- `AjaxFormHandler.js`, `handleResponse()` is triggered
	- `TabHandler.js`, `tabsRelo

[2018-12-22 19:28] ViRuSTriNiTy opened #4330 "NotificationHandler, wrong handling of fadeOut callback causes unbindPartial exception"
Hi there,

as part of my investigation of issue #4072 i found out that there is also an error in the `NotificationHandler` which causes and exception in the browser console due to wrong callback handling:

1) The callback function is called directly due to the presence of `()` instead of passing it as reference parameter to the `fadeOut()` method, see https://github.com/pkp/pkp-lib/blob/master/js/

[2018-12-23 15:58] ViRuSTriNiTy opened #4332 "[OJS] Section drop down is displayed with multiple required asterisks"
Hi there,

the section drop down is displayed with multiple required asterisks:

![image](https://user-images.githubusercontent.com/12170676/50385194-83c26f00-06d1-11e9-902b-734173f803ce.png)

This is a minor regression caused by https://github.com/ViRuSTriNiTy/pkp-lib/commit/f5be8f975009246980b4844f90b76e0d5319ae6e added as PR of issue #4268. This commit ensures that an asterisk is displayed for