[2020-03-09 16:37] NateWr commented on #5583
@felcaetano that means that you have a publisher ID that is longer than 64 characters. In 3.2, the publisher ID for articles, galleys, issues and issue galleys is being copied to a URL path, and this can only be 64 characters.

We decided not to truncate the publisher IDs automatically because these cases may lead to URL changes. A long publisher ID could lead to a URL like this for an article:

[

[2020-03-09 18:16] NateWr commented on #5373
I can make this change easily in English. It looks like some other languages still use the English term (`ar_IQ`). But what do we do about other languages? French is translated as "non transposé", which I'm guessing is a translation for unported?

@asmecher is there a way to contact translators and ask them to check this? Or should I just remove all non-English translations and have them translate

[2020-03-09 18:21] NateWr commented on #5514
@jmacgreg and @AhemNason I know you've both got plenty on your plate. But I've assigned this one to you two. Can we hand this off to you and have you come back to us with some recommended changes?

[2020-03-09 18:27] NateWr opened #5601 "Add range slider for filter by last activity in submissions list"
**Describe the problem you would like to solve**
A filter to view submissions that have been inactive for the last 30 days was added to 3.2 (#4168). The server side is already implemented to support any inactive threshold (30 days, 50 days, etc). But we need to build an accessible [range input](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range) filter for this.

I didn't have t

[2020-03-09 18:32] AhemNason commented on #5514
I'd be happy to be involved, that's for sure. Maybe we should pull in @israelcefrin as well, though?

[2020-03-09 18:38] felcaetano commented on #5583
Thanks a lot! I'll do so!

[2020-03-09 18:54] asmecher commented on #5373
Now that we're using `gettext`/Weblate, you can mark translation keys as needing review by adding the `fuzzy` flag: https://www.gnu.org/software/gettext/manual/gettext.html#PO-Files

I haven't used this yet but support seems widespread and this is a textbook use case :)

[2020-03-09 19:37] mhvezina commented on #5373
@NateWr Yes, "non transposé" is the official French name for the unported licence (https://creativecommons.org/licenses/by/3.0/deed.fr ). I had already made this translation when I reported the issue.
It seems that some languages do use the English term "Unported" (e.g. Italian version : https://creativecommons.org/licenses/by/3.0/deed.it)

[2020-03-10 09:06] verzunov opened #5602 "JournalManager/Author metadata edit error: "Please enter the references.""
Hello!
Ups, we did it again:
[JournalManager/Author metadata edit error: "Please enter the references."](https://github.com/pkp/pkp-lib/issues/4295)
When user is trying to edit metadata on published article he will get this notification: "Please enter the references.", even if references is set, this problem can be bypassed if uncheck 'Author' role from user or uncheck 'Required' flag for 'Referen

[2020-03-10 09:54] NateWr commented on #4888
The PRs involved a couple of minor bug fixes so I went ahead and merged for release in 3.2.0-1. I ended up removing the `mwandenga.json` data file. We can roll that method out later if/when we decide to refactor the tests or make common sample data with the UI Library.

I'm satisfied with the test coverage for now so I will close this, even though there are a couple of recommended tests that are s

[2020-03-10 09:54] #4888 closed

[2020-03-10 09:57] NateWr commented on #5602
Hi @verzunov, can you follow the bug report template? In particular, please set out some detailed reproduction steps for us. It should not be possible to edit metadata of a published publication in 3.2, so I think there's just a miscommunication here and some detailed reproduction steps would probably clear that up. Here's the bug report template:

**Describe the bug**
Please tell us what happens,

[2020-03-10 10:15] NateWr commented on #5373
@asmecher I think I've done it right but can you glance over it? I have:

- All `3.0 International License` changed to `3.0 Unported License`.
- All locales except `en_US` have `#, fuzzy` added so that they are reviewed.

I'll wait until after 3.2.0-1 to merge this in.

PR:
https://github.com/pkp/pkp-lib/pull/5603

[2020-03-10 10:57] NateWr opened #5604 "Add pre-publication checks to enforce publishing standards"
**Describe the problem you would like to solve**
3.2 introduced a validation step when publishing a submission, which can be used to implement pre-publication checks. These can be used to ensure all required metadata is entered before publishing, or to perform other checks necessary to publish. So far these are not used, but there is an opportunity here to build plugins or encourage our community

[2020-03-10 11:00] NateWr commented on #5604
@asmecher I'm curious what you think about the possibility of a new plugin category? Also, the bulk of the work for this was done in Pittsburgh. How would you feel about me adding this into 3.2.1 if we get some solid community feedback that could be worked into one or two plugins?

[2020-03-10 12:34] verzunov commented on #5602
Ok, so.
**Describe the bug**
I fill all fields on stage 3. Enter metadata include required field 'References', but when I click "Save and continue", I get error  'Please enter the references.'

**To Reproduce**
Steps to reproduce the behavior:
    Log in as Journal manager role.
    Go to Site Administration ->User&Roles->Users.
    **Click User->Login as-> Ok for change you role.**
    Click on N

[2020-03-10 13:15] marcbria opened #5605 "Top right link to profile is invisible (text in white, over a white background)"
**Describe the bug**
On a clean OJS 3.2.0-0, when you visit a journal's homepage, you can't see the profile link because text is in white, over a white background.

![imagen](https://user-images.githubusercontent.com/2779168/76315842-c9208b80-62d9-11ea-8e13-fa378cf32383.png)

Sample URL: http://revistes.uab.cat:8082/demo

@sssoz please, do you mind to take a look?

[2020-03-10 14:32] NateWr commented on #5602
Thanks @verzunov! That's cleared things up. I was able to reproduce it and find the issue.

PR:
https://github.com/pkp/pkp-lib/pull/5606

Tests only:
https://github.com/pkp/ojs/pull/2673

[2020-03-10 15:49] defstat opened #5607 "Port native import/export plugin's integration tests to v3.2"
**Describe the problem you would like to solve**
Port native import/export plugin's integration tests to v3.2

Port `https://github.com/pkp/ojs/blob/stable-3_1_2/tests/data/60-content/ImportIssueTest.php` test to v3.2

[2020-03-10 15:50] asmecher commented on #4888
:+1: :+1: :+1: Looking forward to digging into this, @NateWr!

[2020-03-10 16:00] marcbria opened #5608 "AddThis refuses to install"
**Describe the bug**
On a clean OJS (master, aka. 3.2.0-0), when I install AddThis plugin (from the Gallery, via web interface), system refuses to install it and log shows following error:

[code]

[2020-03-10 16:07] asmecher commented on #5608
Fixed, thanks!

[2020-03-10 16:07] #5608 closed

[2020-03-10 16:08] defstat commented on #5607
@asmecher

PR:

[OJS]: pkp/ojs#2674

[2020-03-10 16:39] NateWr commented on #5275
These PRs add yearly averages to the editorial stats. They're added next to the totals.

![Selection_237](https://user-images.githubusercontent.com/2306629/76336144-7c46b000-62ed-11ea-9c96-6971d7a0f53d.png)

When an average can't be calculated (either because there hasn't been a full year of stats or because the total is zero) the averages do not appear.

![Selection_238](https://user-images.githu

[2020-03-10 16:52] marcbria commented on #5608
That was fast!! Thanks to you. ;-)

[2020-03-10 18:43] willinsky opened #5610 "OPS: Minimal Wording Changes for Emphasis on Preprints"
**Describe the bug**
The following changes are intended to distinguish "preprints" from "publications" which is an important part of the preprint's place in the scholarly communication.

A. https://demo.publicknowledgeproject.org/ops/testdrive/index.php/publicknowledge/workflow/index/17/5

1. Change the tab “Publication” to “Preprint”
2. Change the button “Schedule For Publication” to “Post the pr

[2020-03-10 20:46] #5267 closed

[2020-03-10 21:22] mhvezina commented on #5540
Yes...emails.... good point.... well for dates that are to be "shared" between users (like in an email), I would enforce/use ISO8601 format (or maybe allow the display format to be set at the journal level)

For web interfaces - internal (OJS dashboard), I would go for the locale user-based choice

For web interface - public (article landing page), I would go with, in this order of priority/preced

[2020-03-10 21:29] asmecher commented on #5605
I think that's something custom to your install, @marcbria -- if I disable the `inline style sheet #3` using the inspector tools, the header appears normally and the links are visible.

![image](https://user-images.githubusercontent.com/200411/76361079-77790080-62db-11ea-9f4c-342bb63ac969.png)

[2020-03-10 21:38] asmecher commented on #5604
@NateWr, could we keep these as `generic` plugins, at least for now? I'm worried about fragmenting plugins off into very narrow categories. There would probably only be one of these installed and active per installation, so I don't think there's going to be a measurable performance hit by having it loaded on every request (the only real downside to the `generic` category).

[2020-03-10 21:38] asmecher commented on #5604
I think 3.2.1 is a decent target, but do you mean to include/ship them with OJS? I'd rather lean more on the Plugin Gallery and try to decrease the number of plugins that come with the software.

[2020-03-10 21:43] asmecher commented on #5589
@seonghobae, thanks for reporting -- it looks like there are a number of PostgreSQL incompatibilities in the upgrade scripts. I'll work on them as part of this issue. We're planning to release a new build later this week and I'll try to have a fix included there.

[2020-03-10 21:47] asmecher commented on #5597
@defstat, I just had one comment -- otherwise, please go ahead and merge!

[2020-03-10 23:47] israelcefrin opened #5614 "Add HTML block element as container for abstracts"
**Describe the problem you would like to solve**
When we upgrade from OJS2.4.x to 3.1.2 some abstracts doesn't have any block element as container. As effect, the first line is aligned with the "Abstract" heading.

**Describe the solution you'd like**
It would be great if such element could be added for abstract stored info or the theme could deal with it.

**Who is asking for this feature?**
An e

[2020-03-10 23:52] asmecher commented on #5589
OJS upgrade script fixes: https://github.com/pkp/pkp-lib/commit/641fd104740dc9f369b8f45f50853fc2c1c2db9c (in `lib/pkp` subdirectory) and https://github.com/pkp/ojs/commit/dbf319e8ffce87d447a3a57dad6c398e1705fca3.

DAO fixes for PostgreSQL-incompatible query: https://github.com/pkp/pkp-lib/commit/34ea0f1cc542fc5e6703ff0fbb2b571c2d8e5524 and https://github.com/pkp/pkp-lib/commit/66b986b734e3296d33cb

[2020-03-10 23:52] #5589 closed

[2020-03-11 00:08] asmecher commented on #5607
Merged -- thanks, @defstat!

[2020-03-11 00:08] #5607 closed

[2020-03-11 04:30] verzunov commented on #5602
NateWr, I test you fix,

Tests only:
pkp/ojs#2673

 but it not work in my case.

[2020-03-11 07:17] ajnyga commented on #5604
Just my two cents that I could not use this plugin category as a basis for OPS screening plugins, because I think it did not consider situations where rules are only applied to certain user groups, in this case just the authors. Also I think there were a couple of other issues there.

But if we are going with a new category, I am happy to port the existing screening plugins to that standard, but t

[2020-03-11 08:43] NateWr commented on #5540
We do use `date_format_short`, which is usually YYYY-MM-DD, as a fallback. However, I'd like to discourage this. Although for us its a common format, its unusual for non-technical audiences and can be one more unnecessary cognitive hurdle for them. This would particularly impact those with a sporadic relationship with the journal, like reviewers and authors.

I think there's a case to be made for

[2020-03-11 08:51] NateWr commented on #5602
These are the changes you'll need to apply: https://github.com/pkp/pkp-lib/pull/5606/files

[2020-03-11 09:00] NateWr commented on #5604
Yep!

I was thinking 3.2.1 if we needed support for a plugin category, but yeah the checks themselves would just go into the plugin gallery. (Except maybe in cases like OPS where certain checks are a core part of the platform, in which case they should probably just go into `PublicationService::validatePublish()`.)

For 3.2.1, it's really just making sure we have core support for things like enabl

[2020-03-11 09:03] ajnyga commented on #5604
Yes I do that kind of checking here: https://github.com/ajnyga/returningAuthorScreening

I do not recall the details anymore but something prevented me from using the plugin concept you and Dulip had coded last summer and it was somehow connected to the user groups...

[2020-03-11 09:08] marcbria commented on #5605
I was astonished because it's a clean installation... but it make sense.

The problem appears when you enable the "Show the homepage image as the header background" but you don't upload any background image.

I suggest making the image mandatory when you enable the background or just ignore the check if no image is upload.

@asmecher do you mind to reopen the issue?

[2020-03-11 09:20] marcbria opened #5616 "Installed Plugins are unsorted and items are moved in the list when enabled"
On a clean OJS 3.2.0-0, when you go to "Installed Plugins" (/management/settings/website) and you enable any of them... sometimes work just fine (ie: "Make a submission"), but others the enabled item moves erratically in the plugins list (ie: "Web Feed", "AddThis"...).

I noticed it mainly happens with the plugins installed from the Gallery... but works fine (no moviment) with others preinstalled.

[2020-03-11 11:24] marcbria opened #5617 "Themes shown when installed, even if they are not enabled"
**Describe the bug**
Themes are available in Appearance to be activated just when they are installed.
This is wrong because themes should be enabled first at journal level.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a clean OJS 3.2 installation.
2. Go to Settings > Website > Plugins > [Plugin Gallery](http://yourjournal.org/management/settings/website)
3. Click on any theme (ie: C

[2020-03-11 11:46] marcbria opened #5618 "HTML tags shown in the "User Navigation Menu""
**Describe the bug**
On a clean OJS 3.2, when you go to the "User Navigaton Menu" settings on the "Assigned menú items" you can see the items, but also some HTML tags.

Far from been something critical, but looks scroffy.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Site Setup' (/index/admin/settings) and click Navigation tab.
2. Click on 'User Navigation Menu'
3. See error on "ass

[2020-03-11 12:14] NateWr commented on #5614
From my experience, this happens with old abstracts. I think it would be best handled during an upgrade procedure, which could check if the abstract started with `<p` and if it doesn't it could wrap the whole thing in `<p>...</p>`.

[2020-03-11 12:18] NateWr commented on #5610
@alexxxmendonca does Scielo have a view on whether this distinction is important to make in the workflow?

[2020-03-11 12:25] thinkbulecount2 commented on #5176
PRs:
[OJS](https://github.com/pkp/ojs/pull/2677)
OMP

Plugins
[customBlockManager](https://github.com/pkp/customBlockManager/pull/62)
[usageStatus](https://github.com/pkp/usageStats/pull/26)
[makeSubmission](https://github.com/pkp/makeSubmission/pull/32)
[browse](https://github.com/pkp/browse/pull/2)

[2020-03-11 12:26] alexxxmendonca commented on #5610
@NateWr we discussed this on our last meeting with PKP (which took place on March 5).

We agree with @willinsky's suggestions and I remember there was also some discussion around the Editor role.

I don't seem to remember us having reach any conclusion but my suggestion would be to change that role name to "Moderator".

[2020-03-11 13:06] NateWr commented on #5610
Thanks! @ajnyga let me know if you have any questions.

[2020-03-11 13:53] NateWr opened #5619 "Custom blocks need a title for accessibility"
**Describe the problem you would like to solve**
Every block shown in the sidebar needs to have a heading (`<h2>`). These have been added to all blocks, but currently the Custom Block plugin does not support adding a title to each block. It only has a "block name" which doesn't support spaces.

**Describe the solution you'd like**
Custom blocks need to have a place for a multilingual title. This f

[2020-03-11 14:00] israelcefrin commented on #5614
Hi @NateWr , it can work. However, some old abstracts also have `<div>` tags. Would it be an issue?

[2020-03-11 14:04] NateWr commented on #5614
Shouldn't be. A `<p><div>...</div></p>` is not clean markup but shouldn't have a negative impact on its display.

[2020-03-11 14:10] israelcefrin commented on #5614
Do you think it could be addressed on the Upgrade.php script or it should be better a direct DB RegExp replace? IIRC it won't be possible to upgrade directly from OJS 2.4. to 3.2. Hence, such checking should exist only when upgrading to OJS 3.1.2-4, right?

[2020-03-11 14:19] NateWr commented on #5614
I'm not sure how far back the upgrade scripts go but they run up to 3.2. We won't include any db upgrades in 3.2.0-x but could in 3.2.1.

To be honest, though, I'd recommend you just solve this locally by running some SQL scripts on your database. I don't know how widespread this issue is.

[2020-03-11 14:42] NateWr commented on #5176
These look good to go. I just added a couple more comments but they're all good. I'm going to hold off on the merge again until 3.1.2-1 is released.

[2020-03-11 14:52] mhvezina commented on #5540
Hi @NateWr,

Yes, I undersand that ISO8601 date format in correspondence might not be the most appropriate...

Regarding "non-shared" dates :

`For web interfaces - internal (OJS dashboard), I would go for the locale user-based choice`

I meant to go with the default date format based on the user locale conventions (the date rendering would then be something to what the JS method toLocaleDateStrin

[2020-03-11 15:02] marcbria opened #5620 "Installing a plugin redirects to Apparence"
**Describe the bug**
On a clean OJS 3.2.0-0, when you install a new plugin from Gallery, you get redirect to Appearance > Theme.

**Expected behavior**
You should stay in the "Plugin Gallery" (if you think that most of the users like to install more plugins) or redirect to "Installed Plugins" (if you expect the normal use is enable what you install).

[2020-03-11 15:06] NateWr commented on #5540
Ah, sorry for misunderstanding you! Then I think we're in total agreement here. Each journal needs to be able to set separate date formats for each locale they support. :+1:

[2020-03-11 15:31] NateWr commented on #5620
This is a problem with the switch to the new tabs in the settings forms. We no longer support the `#tabname` in URLs.

Tabs can be opened by [firing an event](https://github.com/pkp/ui-library/blob/master/src/components/Tabs/Tabs.vue#L137-L146) on the global event bus. We just need to add something to the global page handling that fires this event.

So far, we don't use Vue.js across a page. But t

[2020-03-11 15:34] #5602 closed

[2020-03-11 18:21] asmecher commented on #5597
Thanks, merge when you're ready!

[2020-03-11 18:44] asmecher commented on #5605
Hmm, interesting... Reopening.

[2020-03-11 18:50] asmecher commented on #5605
@NateWr, would you mind looking at this?

[2020-03-11 19:11] willinsky commented on #5610
Thanks Nate for bringing Alex into this. And thanks Alex for the "moderator" suggestion, as this role would map well onto OJS' editor. The role is used, as  you likely know, by [arxiv.org](https://arxiv.org/help/moderation) to check the basic legitimacy of every submission, and if we follow this model the moderators could be assigned to categories of preprints, notified as each one comes in, and i

[2020-03-11 20:00] alexxxmendonca commented on #5610
@willinsky agreed 👍

[2020-03-11 20:48] asmecher opened #5621 "Article report plugin references missing function"
See https://forum.pkp.sfu.ca/t/error-articlereport-plugin/59143/2 for details:

Stack trace:

[2020-03-11 21:40] willinsky opened #5622 "OPS Workflow Modifications for Inclusion of Moderator (Editor) Role"
**Describe the bug**
OPS

1. On setting up an OPS server, a Preprint Server Manager (PSM) is assigned.
a. The PSM can sign in as anyone, unpost preprints, and establish categories.
b. The PSM can set up categories appropriate for the OPS server, as the suggestion, for example, of the sponsoring organization.

2. The “editor” role in OPS could be identified as a “moderator,” following the arXiv.org

[2020-03-12 10:30] NateWr commented on #5605
Confirmed! It looks like the background color is being overridden by this line: https://github.com/pkp/ojs/blob/master/plugins/themes/default/DefaultThemePlugin.inc.php#L208

I think this can be fixed by using `inherit` to ensure the pre-set background color is used. So:

[code]

Should be:

[code]

@thinkbulecount2 can you drop what you're working on right now and try this out? See if that fixes

[2020-03-12 10:50] alexxxmendonca commented on #5622
At SciELO we are actually viewing it differently. We are approaching Series as the major areas of knowledge (at SciELO they are 8), for instance, HEALTH SCIENCES, and we are approaching categories as sub-areas, for instance, Nursing.

We could use categories instead of series, but we were under the impression that we could only have different policies (author instructions) depending on the series.

[2020-03-12 14:54] Vitaliy-1 opened #5623 "Raw citations should be escaped on the front-end"
OJS master branch and 3.1.2 stable

References form can be populated by an author during submission process in the case when it's enabled. Prior to exposure to the front-end, this data should be escaped.

Relevant for the Default and other themes (`article_details.tpl`).

[2020-03-12 15:23] Vitaliy-1 commented on #5623
PR to master: https://github.com/pkp/ojs/pull/2678

[2020-03-12 16:34] asmecher commented on #5623
@Vitaliy-1, thanks, this is now merged and correct in OJS and OMP, both `stable-3_1_2` and `master`. I'll leave the theme plugins to you!

[2020-03-12 16:39] defstat commented on #5597
Merged...

[2020-03-12 16:39] #5597 closed

[2020-03-12 18:30] Vitaliy-1 commented on #5623
@asmecher, my initial thought was that publishers may want to use some tags in references, e.g., links (DOIs...) or formatted text (italic/bold). On the other hand, this form doesn't use TinyMCE that should discourage from using tags.

[2020-03-12 18:35] asmecher commented on #5623
Yes, for consistency we would need to convert the field to TinyMCE-enabled (and escape prior content) in order to properly support HTML in reference lists.

[2020-03-12 19:26] asmecher commented on #5610
The discussion of the Moderator role is filed over here: https://github.com/pkp/pkp-lib/issues/5622

[2020-03-12 19:41] asmecher commented on #5622
I'd suggest keeping wording tweaks (e.g. relating to `Create New Galley`, and everything in `4` and `5`) in https://github.com/pkp/pkp-lib/issues/5610.

There are some good ideas here but they need to be aligned with the design work we've already done e.g. on screening plugins. The default screening behaviour, for example, is to require an Editor [we can rename this to Moderator but I'll stick wit

[2020-03-12 19:49] alexxxmendonca commented on #5622
I agree with this and it is how I see it too.

For instance, and please correct me if I'm wrong, different Series would allow for different policies (much like Section Policy in OJS), but that's not the case for Categories.

[2020-03-12 22:14] asmecher opened #5624 "Check potential upgrade bug: Duplicate column name ‘email_id’"
From https://forum.pkp.sfu.ca/t/ojs-3-1-2-0-3-2-upgrade-error/59174/5:

Apparently the issue traces to `3.2.0_preupdate_email_templates.xml`:

[2020-03-12 23:24] asmecher commented on #5624
This may have already been fixed by pkp/ojs@dbf319e8ffce87d447a3a57dad6c398e1705fca3. If someone could verify whether they still have the problem after adding those changes, that would be much appreciated!

[2020-03-13 05:44] willinsky commented on #5622
One way to approach the terms at issue (if not the current function) with "categories" and "series" (and sections), is by drawing on the example of the leading preprint servers. Three of the key players --  [arXiv.org](https://arxiv.org/about), [biorxiv.org](https://www.biorxiv.org/) and [SSRN](https://www-ssrn-com.stanford.idm.oclc.org/index.cfm/en/) -- each use different terms -- fields, subject

[2020-03-14 01:28] asmecher commented on #5621
PR: https://github.com/pkp/ojs/pull/2681

This report could still use some conceptual cleanup -- it sure does generate a lot of columns -- but I've rewritten it to its former state. @NateWr, could you give it a quick look?

[2020-03-16 13:08] NateWr commented on #5623
Can this be closed now?

[2020-03-16 15:17] thinkbulecount2 commented on #5605
PRs:
[OJS](https://github.com/pkp/ojs/pull/2683)
[OMP](https://github.com/pkp/omp/pull/785)

cc: @NateWr

[2020-03-16 15:21] NateWr commented on #5605
Thanks!

[2020-03-16 16:18] NateWr opened #5625 "Remove unnecessary Application::getPluginSettingsContextColumnName() method"
This method is not necessary, because the plugin settings tables now use the `context_id` column name in all applications. It can be removed and where it is used we can replace with `context_id`.

[2020-03-16 16:30] NateWr commented on #5617
@asmecher I've tracked this down to this query in VersionDAO:

https://github.com/pkp/pkp-lib/blob/master/classes/site/VersionDAO.inc.php#L225-L232

In particular, it's the `OR v.lazy_load <> 1` part. All of our themes except the default theme have a `0` for `v.lazy_load`.

I notice that the `ThemePlugin` extends the `LazyLoadPlugin`. However, all of our themes (except the default) have the follow

[2020-03-16 16:34] NateWr commented on #5617
Just so this doesn't get forgotten, here's a diff with a fix for a SQL statement VersionDAO that didn't seem to be having an impact but should probably be cleared up anyway:

[code]

[2020-03-16 16:49] asmecher commented on #5623
I have @Vitaliy-1's thumbs-up on themes, and I've covered the apps, so yes!

[2020-03-16 16:49] #5623 closed

[2020-03-16 17:23] NateWr commented on #5605
Needs to be ported to OMP.

[2020-03-16 19:02] asmecher commented on #5621
Thanks, @NateWr!

[2020-03-16 19:02] #5621 closed

[2020-03-16 19:10] asmecher commented on #5617
@NateWr, the "lazy loading" feature was introduced a long time ago when we started relying more heavily on plugins in the 2.4 codebase. Prior to lazy loading, all plugins were loaded from disk depending on their category (e.g. `generic` for every request), then each checked their `enabled` status in `journal_settings` (if that's what they were coded to do) before intervening e.g. registering hooks

[2020-03-16 20:58] asmecher opened #5626 "Upgrade error: Duplicate entry 'xxx-yyy' for key 'citations_publication_seq'"
During upgrade to OJS 3.2.0-0, users may receive the following database error:

[code]

Reported here:
- https://forum.pkp.sfu.ca/t/ojs3-2-upgrade-error-please-help/58977
- https://forum.pkp.sfu.ca/t/upgrade-database-failed-ojs-3-1-2-4-to-3-2/59250

[2020-03-16 20:59] asmecher commented on #5465
This issue is in the development branch only of OJS pre-3.2.0. For anyone encountering a similar message with OJS 3.2.0-0, see: https://github.com/pkp/pkp-lib/issues/5626

[2020-03-16 21:01] asmecher commented on #5626
To fix this, apply https://github.com/pkp/ojs/commit/47ea8dbd229829de10c7b391a72d4220776b137e to your installation before running the upgrade script. Note that you must restore your database from backup before re-running a failed upgrade.

[2020-03-16 21:01] #5626 closed

[2020-03-16 21:17] israelcefrin opened #5627 "OJS Upgrade: Skip missing supplementary files on upgrading for public galleys"
**Describe the problem you would like to solve**
Some journals, when upgrading from OJS2 to OJS 3.1.2 require to keep supplementary files as galleys on upgrade. However, if a supplementary file is missing the process crashes at all.

**Describe the solution you'd like**
It would be great if the missing supplementary files were just skipped and the process moves forward to the next one.

**Who is a

[2020-03-16 21:20] defstat commented on #5288
Hi all.

Analyzing the query, it seems that it performs a series of full table scans on the `user_settings` table, which could become really big at DBs with lots of users. The overall `Query cost` at that point is **182.02**.

![Annotation 2020-03-16 215705](https://user-images.githubusercontent.com/560456/76797607-980ef200-67d6-11ea-94d1-4ab462e5f292.jpg)

The table `user_settings` does not index

[2020-03-16 21:28] asmecher commented on #5288
@defstat, how about both `user_settings` and `user_id`? I would expect all uses to involve both columns. (Really happy to hear this might have an easy solution!)

[2020-03-16 21:33] defstat commented on #5288
@asmecher even though I get the same cost with the addition of the user_id (same with just the setting_name), it could worth adding it.

[2020-03-16 21:35] asmecher commented on #5288
As you like, @defstat!

[2020-03-16 21:40] defstat commented on #5288
We still have the full table scan for users table. If the query is for a users display/management table, ordering by the columns the query is ordering by now, I don't thing we can avoid it.

[2020-03-16 23:06] asmecher opened #5628 "Supporting Agencies field does not display in submission metadata form"
See: https://forum.pkp.sfu.ca/t/supporting-agencies-not-in-metadata-form-ojs-3-2/59259

[2020-03-16 23:07] asmecher commented on #5628
The issue was a discrepancy between the `agencies` context setting, and the `supportingAgencies` submission metadata field. It's fixed for now, though eventually it would be nice to have a single name used for both to avoid confusion.

[2020-03-16 23:07] #5628 closed

[2020-03-16 23:07] asmecher commented on #5628
To fix this on an OJS/OMP/OPS 3.2.0-0 installation, apply https://github.com/pkp/pkp-lib/commit/e90e115bb9799eed629ff6a257e3e587ec71a6c9 in the `lib/pkp` subdirectory.

[2020-03-17 07:09] djolemc commented on #5288
I just tried this query on my DB. With index, execution time drops from 27s to 7s.  But there is no performance improvment when searching for users with no roles (users&roles page). On my local server, execution time is about 1min (I have about 19000 users in test database)

[2020-03-17 07:13] defstat commented on #5288
Thanks for the feedback @djolemc, I will check that page also..

[2020-03-17 07:33] djolemc commented on #5288
Thanks. I just checked on my production server (which is much faster than localhost) ,with 26000 users, search query takes from 30s to 1min, or even never finishes.  This is a huge problem when trying to find user not registered in current journal, or when someone wants to check if user is registered before adding a new user.

I would really appreciate it if you could speed up this query

[2020-03-17 07:42] defstat commented on #5288
@djolemc could you please send me exactly the page that executes the query you are referring to? (a url would be helpful)

[2020-03-17 07:55] djolemc commented on #5288
Sure,
index.php/vsp/management/settings/access#users

[2020-03-17 08:45] sourcedump commented on #5288
Hello!
I've created the index as suggested by @defstat and I confirm that the execution time now is dropped to few seconds.

Thanks

[2020-03-17 10:01] NateWr commented on #5617
@asmecher What should the `<lazy-load>` tag be in theme's `version.xml`? Our documentation says it should be `0`. But I wrote that and can't remember why it was set that way.

[2020-03-17 10:28] NateWr opened #5629 "Update CSL dependencies and test some reported bugs"
**Describe the bug**
A community member running OJS 3.1.2 has reported a few formatting bugs with the Citation Style Languages:

- More than one first name written in full results in no space after the last name:: https://doi.org/10.7557/13.5005 (default style in this journal is Chicago),
- When first names are shortened to initials there is also no space after the last name. In addition it messes

[2020-03-17 12:17] NateWr opened #5630 "Unscheduling a publication does not update the issue scheduling field"
**Describe the bug**
Clicking the Unschedule button will change a publication's status, but the issue field does not get updated. It still shows it as "scheduled".

**To Reproduce**
Steps to reproduce the behavior:
1. Assign a submission to a future issue.
2. Click Schedule for Publlication and then OK to confirm.
3. Wait a few seconds for all the requests to finish.
4. Click Unschedule.
5. The st

[2020-03-17 12:26] NateWr opened #5631 "Mismatch between datePublished and issue scheduling can cause problems"
**Describe the bug**
If a publication is scheduled for publication in a future issue, but it has a datePublished in the past, it will be published immediately.

This behaviour seems correct to me, however the pre-publication notice says the wrong thing. It says it will be published when the issue is published.

The logic which decides what to say to the user about when it will be published needs t

[2020-03-17 16:31] FSaldanha opened #5632 "[OMP] Chapter PDF will not display"
As @amandastevens said [here](https://forum.pkp.sfu.ca/t/omp-3-1-2-chapter-pdf-will-not-display/57585):

Other reports [here](https://forum.pkp.sfu.ca/t/omp-displaying-chapters-as-individual-pdfs-whole-book/36987/16) and [here](https://forum.pkp.sfu.ca/t/omp-displaying-chapters-as-individual-pdfs-whole-book/36987/19).

I found that, in `submission_file_settings` table, records were inserted with `

[2020-03-17 18:29] redukr commented on #3119
i am not very good user of github, so i just put fixed files here.
https://github.com/redukr/ojs-doaj-english

[2020-03-17 20:19] asmecher commented on #5632
(See in particular https://forum.pkp.sfu.ca/t/omp-3-1-2-chapter-pdf-will-not-display/57585/6.)

[2020-03-17 20:19] #5632 closed

[2020-03-17 20:20] asmecher commented on #5632
Also cherry-picked to `stable-3_1_2`.

[2020-03-17 20:58] asmecher opened #5633 "FormComponent subclasses, even when invoked via the API, require CSRF tokens"
See: https://forum.pkp.sfu.ca/t/api-requests-doesnt-work-when-i-am-not-logged-in/59138

...and later...

[2020-03-17 21:02] asmecher commented on #5633
@NateWr, I seem to remember a tweak related to this recently -- anything come to mind?

[2020-03-17 22:45] asmecher opened #5634 "Resolve OJS 2.x to 3.2 upgrade issues"
From https://forum.pkp.sfu.ca/t/uploading-ojs-2-4-x-to-ojs-3-2-error/59223:

[code]
This appears to be happening because the `locale` column in the `submissions` table is no longer available (the 2.x to 3.x upgrade moves it to `publications`).

Also:
[code]
...which is caused by the move to associating galleys with publications rather than submissions; however, at this stage in the upgrade process

[2020-03-17 22:49] asmecher commented on #5634
Patches:
- https://github.com/pkp/ojs/commit/4a8f83680e942d0f8c3a929a0cf99d3e769d17a9 (apply in OJS installation directory)
- https://github.com/pkp/pkp-lib/commit/338488f8429c28a9d12a48d76dcf16a27dc2b560 (apply in `lib/pkp` subdirectory)

[2020-03-17 23:14] asmecher commented on #5634
Hoping for further confirmation that the data looks OK post-upgrade!

[2020-03-18 00:14] asmecher opened #5635 "Manager's Table of Contents grid does not list unpublished submissions"
See: https://forum.pkp.sfu.ca/t/ojs-3-2-0-table-of-contents-on-numbers/59172

Example:
![image](https://user-images.githubusercontent.com/200411/76912919-b7f3f380-6872-11ea-810c-e69213e1ef49.png)

It appears as though the Manager's "Table of Contents" listing under the "Edit Issue" interface does not show a listing of articles if they have not already been published.

[2020-03-18 00:20] asmecher commented on #5635
Patches to apply:
- First pkp/ojs@8adcdcca085dc7a685c5954a69e1080ebf05b81d
- Second https://github.com/pkp/ojs/commit/88e62263eb1af2d6293b0ce9c5958196c6a88179

For example:
[code]

@NateWr, I've already committed these to `master`, but a glance over https://github.com/pkp/ojs/commit/88e62263eb1af2d6293b0ce9c5958196c6a88179 would be appreciated!

[2020-03-18 09:05] NateWr commented on #5633
Yeah, @quoideneuf made sure the API Token middleware was fired first: https://github.com/pkp/pkp-lib/commit/c067208bfc7a746dd781a6ba81b48c9a39fbec0a#diff-cd4d35bc14ff58fdc70b528567a1f045.

And it looks to me like the CSRF middleware shouldn't be invoked when an API Token is decoded: https://github.com/pkp/pkp-lib/blob/master/classes/security/authorization/internal/ApiCsrfMiddleware.inc.php#L40-L44

[2020-03-18 09:45] NateWr opened #5636 "Handler adjustments for new versions"

[2020-03-18 09:55] NateWr commented on #5634
This is causing a fatal error for me in the current `master` branch: https://github.com/pkp/pkp-lib/commit/338488f8429c28a9d12a48d76dcf16a27dc2b560

[code]

Stack trace for the db error:

[code]

Is there an upgrade script that needs to be run?

[2020-03-18 11:19] #5605 closed

[2020-03-18 11:43] NateWr opened #5638 "Integration tests for versioning in OPS"
OJS runs integration tests for most of the publishing and versioning workflow, and these tests will suffice to catch errors across applications. However, it would be good to add integration tests for those features which are unique to OPS. Some ideas:

- [ ] Author can not self-publish by default.
- [ ] Moderator can publish author's submission.
- [ ] Author can self-publish once they have had one

[2020-03-18 11:45] NateWr opened #5639 "Integration tests for versioning in OMP"
OJS runs integration tests for most of the publishing and versioning workflow, and these tests will suffice to catch errors across applications. However, it would be good to add integration tests for those features which are unique to OMP. Some ideas:

- [ ] Chapters and publication formats are duplicated after a new version is created.
- [ ] Chapters can be edited for a second unpublished version

[2020-03-18 16:02] asmecher commented on #5634
Is it possible that your database was generated/upgraded before pkp/ojs@fe4e111c8133fc9817d4509f42c50f48389eefa3 was merged?

[2020-03-18 16:17] asmecher opened #5640 "Language installation features hidden from single-journal installations"
When an installation only has a single language, the site-wide setup features are hidden. This includes the site-wide languages grid, which is currently the only place where languages can be installed.

From: https://forum.pkp.sfu.ca/t/install-locale-button-not-show-in-administrator-setting/58719/6

Proposed solution: When working with a single-journal installation, and when logged in as an admini

[2020-03-18 16:24] pinakographos commented on #4947
I just wanted to see if there had been any thoughts about moving forward with this over the last few months. It took me 830+ clicks and an hour to upload images for two articles yesterday, and it would be a great boon to me and many others if there were a way to do this in bulk.

[2020-03-18 19:01] asmecher commented on #5635
Reopening for a resolution to this: https://github.com/pkp/ojs/commit/88e62263eb1af2d6293b0ce9c5958196c6a88179#r37891062

[2020-03-18 20:05] ViRuSTriNiTy opened #5641 "The command `npm run build` is not working since updating to OJS 3.2"
Hi there,

i've updated the sources to OJS 3.2 and the command `npm run build` mentioned in `README.md` returns with errors.

I followed the error description and i have to execute the following commands first:

[code]

This seems to be exactly the packages removed in https://github.com/pkp/ojs/commit/74eaa059e7d041a1c0daac2175c202ca9dce3388#diff-b9cfc7f2cdf78a7f4b91a753d10865a2 which is part of h

[2020-03-18 20:51] asmecher commented on #5641
@ViRuSTriNiTy, I wonder if this is related to https://github.com/nodejs/node/issues/32107; I recently ran into trouble due to that. I was able to work around it by removing both `node_modules` and `package-lock.json` before installing/building, and it's been resolved since then by a node update.

[2020-03-18 22:28] asmecher commented on #4947
@pinakographos, there hasn't been any recent progress, though we are aware that this process is cumbersome. We would like to rewrite the entire file upload process to accommodate this and other related issues. However, there has been some recent work done to support batch uploading of dependent files for the [DAR format](https://github.com/substance/dar) -- it's possible that this approach could b

[2020-03-18 22:47] asmecher opened #5642 "Add CSV-based user export"
Add support for a CSV-based export of the user list for a journal.

This should be able to filter based on user group and should include enough information and be in a format that's helpful for users who want to use an external service to contact users.

[2020-03-18 22:47] asmecher commented on #5642
(FYI, @amandastevens!)

[2020-03-18 22:57] asmecher commented on #743
The different email compose boxes in the system (searching the OJS 3.2 codebase) are:
- Submission workflow forms:
  - The editor decision forms (`RecommendationForm.inc.php`, `EditorDecisionWithEmailForm.inc.php`, `SendReviewsForm.inc.php`)
  - The participant "Notify" form (`PKPStageParticipantNotifyForm.inc.php`, `StageParticipantNotifyForm.inc.php`)
  - The reviewer forms (`ThankReviewerForm.i

[2020-03-19 07:05] withanage commented on #4947
@pinakographos

Current possibility to create a galley file  and its dependent files from a JATS-XML file, if you are editing using the texture plugin, which is available in plugin gallery.

Concretely, what we do is we allow uploading the XML editable using the texture editor and you can upload the files in the production stage.

When you have finished editing, you could create a galley with all

[2020-03-19 07:28] djolemc commented on #5288
@defstat

Have you maybe made any progress? Thanks

[2020-03-19 09:57] NateWr commented on #5636
PRs:
https://github.com/pkp/ojs/pull/2685
https://github.com/pkp/omp/pull/787

[2020-03-19 09:59] NateWr commented on #5634
Ah yes, almost certainly. So as long as that was in before 3.2 then this should be fine.

[2020-03-19 09:59] #5634 closed

[2020-03-19 11:02] alexxxmendonca commented on #5642
This is mostly helpful! We currently have to rely on online tools that convert XML to Excel and the results are not always great.

Would be nice to have something like that for Site Administrators too (see https://forum.pkp.sfu.ca/t/easy-way-to-communicate-to-all-journal-managers-on-a-multi-journal-instalation/58309)

[2020-03-19 11:03] NateWr opened #5643 "Error in journal settings form when locale active in Form but not UI"
**Describe the bug**
When a language is activated for Forms and Submissions but not active for the UI, it is not possible to save journal settings.

See the initial report and use case: https://forum.pkp.sfu.ca/t/ojs-3-2-config-issue-with-several-locales/59276

**What application are you using?**
 3.2

[2020-03-19 11:25] NateWr commented on #5532
I thought of a fourth option: replace the Issue select field with a button to schedule for publication, and put the issue selection into the Schedule for Publication form. This would look like this:

![Selection_254](https://user-images.githubusercontent.com/2306629/77062597-184e7680-69d4-11ea-8557-b9e297ec6ec0.png)

This would take some reworking of the PublishForm, because we need to be able to

[2020-03-19 11:31] NateWr commented on #5643
PRs:
https://github.com/pkp/pkp-lib/pull/5644
https://github.com/pkp/ojs/pull/2686
https://github.com/pkp/omp/pull/788

@asmecher I resolved this by moving all of the settings forms over to `supportedFormLocales` and the publication details over to `supportedSubmissionLocales`. I think the only place that `supportedLocales` is used at the context level is for the public UI. Does that sound right t

[2020-03-19 13:20] andjsmit commented on #5583
Back to the original error. Could there be any other causes for `ERROR: Upgrade failed: DB: Column 'publication_id' cannot be null` ?

I ran the query from https://github.com/pkp/pkp-lib/issues/5583#issuecomment-594824850, but it return 0.

[2020-03-19 15:02] pinakographos commented on #4947
@withanage

The general workflow we follow is to upload an HTML galley in Production, then upload the dependent images one at a time. If there is an easier way, I'd be happy to hear it.

We do not have the texture plugin installed at present. I'd certainly \ take a look at it, though, if it will ease this process. However, I don't see any button or other option on the plugins page that makes it cl

[2020-03-19 15:16] israelcefrin commented on #5532
Hi @NateWr  I think it is more friendly. Also, it streamlines the publishing process. The immediate publishing for back issues can be managed with an embedded instruction AND a warning like a double-checking flow.

My only concern is to have or show two buttons with the same label.  But we can think whether we should adapt it. Since, this second button has 2 functions: **schedule** for future issu

[2020-03-19 15:30] withanage commented on #4947
@pinakographos
If you are not editing using texture, it will not ease until the multiple-file-upload function  is available.

In regard to texture plugin installation please refer to the following installation documentation.
https://github.com/pkp/texture#installation

[2020-03-19 16:20] asmecher commented on #5583
@andjsmit, can you restore your database from backup, turn on the `debug` option in `config.inc.php`, and re-run the upgrade? This should dump all SQL queries during the upgrade, and will let you know what the problem query was.

[2020-03-19 16:34] asmecher commented on #5635
The table of contents was actually behaving as intended for cases where submissions are assigned to issues but not scheduled for publication (a new workflow distinction with OJS 3.2). I've reverted the change. See e.g. https://docs.pkp.sfu.ca/dev/release-notebooks/en/3.2-release-notebook#new-status-introduced-status_scheduled and https://www.youtube.com/watch?v=HcSQiDj2-zw.

[2020-03-19 16:34] #5635 closed

[2020-03-19 16:37] withanage commented on #4947
@pinakographos
In the next release of  texture plugin at the end of the month , it will have the zip file support where you can upload a hrml file with all its dependent files and create a one-click galley. Please subscribe to this ticket.

[2020-03-19 17:43] alexxxmendonca opened #5645 "[OPS] Unable to post preprint as a Site Admin/Moderator/Editor"
**Describe the bug**
As an author who is also the site's administrator, I am unable to post a preprint.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have the _Returning Author Screening Plugin_ installed and enabled.
2. Submit a preprint using a user that has both author and site administrator roles.
3. Attempt to post the preprint using the same user.
4. Notice the followin

[2020-03-19 17:45] asmecher commented on #5645
@ajnyga, I think this is an issue in the https://github.com/pkp/returningAuthorScreening plugin...

[2020-03-19 18:05] hsh01 opened #5646 "Call to undefined method AuthorDAO::getBySubmissionId()"
Call to undefined method AuthorDAO::getBySubmissionId()
https://github.com/pkp/pkp-lib/blob/7512f177af2cb7398f283912548d1c4c84b28a00/classes/submission/PKPAuthorDAO.inc.php#L157

Must be $authors = $this->getByPublicationId($submissionId, false, false);

[2020-03-19 18:25] andjsmit commented on #5583
Here are the last lines before error with debug on.

[code]

Thanks.

[2020-03-19 18:29] NateWr commented on #5636
Merged

[2020-03-19 18:46] ajnyga commented on #5645
So when you start the submission, in the first step of the submission form, which role did you choose? Manager or author?

[2020-03-19 18:47] ajnyga commented on #5645
<img width="889" alt="Screenshot 2020-03-19 at 20 46 57" src="https://user-images.githubusercontent.com/16347527/77103255-cd0f8480-6a22-11ea-8261-d9da9767c6c8.png">
I mean this selection.

[2020-03-19 18:50] altafnagar commented on #5571
@edisutoyo Sir, Is this issue has been fixed? if not  then when will this issue be resolved?
if Yes please guide how to fix.

[2020-03-19 18:54] asmecher commented on #5646
@hsh01, the publication ID and the submission ID aren't the same thing. Do you have a use case for a call to this function? I don't think it's currently used in the OJS codebase so I might actually just remove it.

[2020-03-19 18:55] defstat commented on #5288
@djolemc could you please try
`CREATE INDEX user_settings_locale_setting_name_index ON user_settings (locale, setting_name);`

[2020-03-19 18:55] alexxxmendonca commented on #5645
Author

[2020-03-19 18:59] ajnyga commented on #5645
Yeah, so the plugin applies the rules to any user who selects the author role there. If you select manager you can publish.

We could add an override that is always applied to managers even without a stage assigment. But not sure if there are scenarious where this is not a good idea? What if it is a screening plugin that checks for example publications, I think we want to make sure that also manag

[2020-03-19 19:06] ajnyga commented on #5645
I want to underline that this:

Is of course a problem with any submissions coming from other authors.

You can get the best idea of how things are working by creating a separate author user to the server and use that to submit stuff. And then use the another user account with manager role to look at the admin stuff and how that works. That is closer to what happens in a production site.

[2020-03-19 19:15] asmecher commented on #4947
@pinakographos, just to add a note about Texture -- if you're not familiar with JATS-based publishing it's probably not what you want. I only referred to it because it uses a strategy for batch-adding dependent content like images that might also be helpful for HTML galleys.

[2020-03-19 19:17] alexxxmendonca commented on #5645
Agreed, but much as it happened to me, I can see the same issue happening with others. I chose "Author" because I thought that was the most appropriate option.

Having another Moderator to approve it can be an alternative, but there should be an instructive text telling the user what's preventing them from posting their own preprint.

As a user, I felt like reaching a dead end.

Correct. I want to

[2020-03-19 19:29] ajnyga commented on #5645
But how common is it in preprint server that a manager is submitting preprints?

[2020-03-19 19:31] alexxxmendonca commented on #5645
Take SciELO Preprints for example. We are considering having Journal Editors as Moderators.

So to answer your question, if one of said Editors/Moderators decide to submit a preprint, this would happen.

[2020-03-19 19:34] ajnyga commented on #5645
But if the editor decides to submit a preprint of her own as a normal author, why would you not apply the normal screening plugin policies to that preprint as well?

[2020-03-19 19:44] alexxxmendonca commented on #5645
You would, but why was I not allowed to post the preprint when I tried to simulate that?

[2020-03-19 19:54] asmecher commented on #5645
@alexxxmendonca, I think I see @ajnyga's point in this... generally speaking we need to pick a strategy for role sharing that is consistent or we risk losing a coherent model that anyone (including us devs) can understand.

The current approach is this: when a user with several roles starts a submission, they choose what "hat" they're wearing. In your case, you chose Author, so the screening polic

[2020-03-19 19:57] djolemc commented on #5288
@defstat
I just did. No difference at all. About 62 seconds on dev server, about 32 seconds on production server.

![ksnip_20200319-205627](https://user-images.githubusercontent.com/14848370/77109435-304de680-6a24-11ea-8493-a7cae76b80d3.png)

[2020-03-19 19:58] ajnyga commented on #5645
If you have a user account with both Editor and Author roles, and during the submission you choose the Author role the system will create an Author stage assigment to that submission. After that, the system will treat you as an Author when it comes to that particular submission.

This is the same in OJS. If an Editor chooses the Author role during the submission, she will not see for example what

[2020-03-19 19:59] alexxxmendonca commented on #5645
Just pointing out that the application gave me no feedback whatsover that an extra moderation was needed, other than my own.

It felt like a bug and others might feel the same way.

[2020-03-19 20:07] ajnyga commented on #5645
Can you describe what kind of feedback and at which point of the process is needed?

[2020-03-19 20:07] asmecher commented on #5536
Moved shibboleth, subscriptionSSO, crossrefReferenceLinking, registrationNotification, and lensGalleyBits to https://github.com/pkp/pkp-lib/issues/5578; the rest are third-party maintenance. Closing this issue.

[2020-03-19 20:07] #5536 closed

[2020-03-19 20:10] alexxxmendonca commented on #5645
![image](https://user-images.githubusercontent.com/4059679/77110423-55326180-6a04-11ea-830a-cf746f591b5e.png)

This message could be updated to add something along the lines of:

_If you are a Moderator, your submission must be approved by another Moderator._

[2020-03-19 20:21] asmecher commented on #5583
@andjsmit, I wonder if you have `citation` entries that don't have corresponding `submission` entries. In your pre-upgrade database, try the following query:
[code]
It should return no entries; if it does, you should remove those entries from `citations` before trying the upgrade.

[2020-03-19 20:25] ajnyga commented on #5645
If the screening plugin is enabled and you submit as an author, the submission process will show this in the end:

<img width="910" alt="Screenshot 2020-03-19 at 22 21 09" src="https://user-images.githubusercontent.com/16347527/77111418-f7b40a00-6a2f-11ea-89a2-98af8f24fde9.png">

We can of course change the text in the screening plugin easily and add a text saying "The first submission must be app

[2020-03-19 20:28] alexxxmendonca commented on #5645
I don't think that should suffice but I'll leave that as it is and let the community respond, I might be nitpicking and overly cautious.

[2020-03-19 20:31] ajnyga commented on #5645
What would be sufficient?

[2020-03-19 20:33] alexxxmendonca commented on #5645
That is open for discussion.

Just pointing out that me, as both author and moderator, might read this "The first submission must be approved by a Server Moderator" and think "hey, I am a moderator myself so I should be able to approve my own preprint".

But that's not the case.

[2020-03-19 20:36] asmecher commented on #5645
No need to resolve this *right* now. I'd suggest giving it some thought and coming back with a few ideas.

[2020-03-19 20:43] andjsmit commented on #5583
This returns 482 rows out of 13307 for me. I'll try deleting them and running upgrade. Any guesses how we might have ended up with so many orphaned citations?

Thanks!

[2020-03-19 20:47] defstat commented on #5288
In fact the cost of the query is dropped from 138 to 19, but that does not always mean a difference into execution time.. with so many users, and the inevitable full scan on the users table, the 30 secs response could be a relatively acceptable time for that query

[2020-03-19 20:50] asmecher commented on #5583
Not off the top of my head -- possibly an error occurred mid-way through deleting a submission? Or a manual data clean-up in the database that left some entities behind?

[2020-03-19 20:53] asmecher commented on #5617
The default theme plugin is (and has always been) a lazy-load plugin, and where possible, I recommend using that feature -- it'll reduce server load. So I would think that theme plugins work just fine as lazy-load plugins. I'm not sure why that recommendation against lazy-load is there, I'm afraid.

[2020-03-19 21:04] asmecher commented on #5600
@defstat, would you mind opening a PR to correct this?

[2020-03-19 21:34] djolemc commented on #5288
Thanks @defstat

That's not really encouraging :(  Execution time wil get worse with new users registered.

[2020-03-19 21:34] ViRuSTriNiTy commented on #5641
@asmecher, yeah right. I always forget deleting the `node_modules` folder first. Issue solved, thx.

[2020-03-19 21:34] #5641 closed

[2020-03-19 21:35] asmecher commented on #5636
This flushed out a matching issue in `quickSubmit`, which I'll build and release shortly -- hooray for automated regression testing!

[2020-03-19 21:53] ewhanson opened #5647 "Update customLocale plugin back-end UI"
The customLocale plugin requires usability improvements to the Journal Manager back-end UI.

- [x] Update pagination in edit modal
- [x] Give user feedback on changes

[2020-03-19 22:04] asmecher commented on #5643
Thanks, @NateWr -- the changes look clean and logical. Yes, I think `supportedLocales` (as opposed to `supportedFormLocales` and `supportedSubmissionLocales`) only controls what UI locale is selected. That's actually good news, because eventually I'd like to be able to facilitate the entry of data in languages that aren't supported by the UI. (Just because the software isn't translated into a lang

[2020-03-20 06:33] hsh01 commented on #5646
I understand that is different things, in an example did not rename variable. I use this function in my own plugin and it gived error. I just shared.

[2020-03-20 08:54] NateWr commented on #5571
@altafnagar The fix for this will be released in the next version, 3.2.0-1, which should be coming out in the next week or two.

[2020-03-20 09:40] defstat commented on #5600
@asmecher

PR
[PKP-LIB]: #5649

[2020-03-20 09:42] NateWr commented on #5643
I think that, with these changes, we do. That is the case that was causing the problems originally reported on the forum. They have `supportedFormLocales` and `supportedSubmissionLocales` that are not available in `supportedLocales`. So it should be possible to enter data in languages that aren't available in reader-facing UI. I'm not sure how that data would be distributed but it can be there.

[2020-03-20 09:53] NateWr commented on #5643
Merged.

[2020-03-20 11:55] yoruyenturk commented on #3100
Hi @asmecher @NateWr
We realy need to require file upload to type article component. Lots of author forget some compenent during submission.
How can i change code?
Regards,

[2020-03-20 12:12] NateWr commented on #5617
That recommendation comes from me, and most likely resulted from me misunderstanding something years and years ago. Unfortunately, it's been our recommendation in docs and examples for ages, so probably every theme out there has this problem.

I've written upgrade scripts for 3.2.1 to manually fix all theme records in the `versions` table, and I've updated each of our themes: defaultManuscript, bo

[2020-03-20 12:37] NateWr commented on #3100
Hi @yoruyenturk, you can write a generic plugin to do this. You would hook into the step 2 form's validation process and set an error if the files you expected were not found. Here's some code that would do that:

[code]

You can learn more about writing a plugin in our [plugin guide](https://docs.pkp.sfu.ca/dev/plugin-guide/en/). (You'll want to use a `generic` plugin.)

[2020-03-20 13:04] NateWr commented on #5645
Sorry if I'm off-base here, but the confusion probably lies in the pre-publication requirement message:

Shouldn't that be something more like this?

And then it could just check if the user has a moderator role and, if so, return a different message:

[2020-03-20 13:07] NateWr commented on #5640
This is related to https://github.com/pkp/pkp-lib/issues/5640. Maybe it makes sense to figure out precisely which site settings need to be available in a single-journal installation and separate them out -- or even just adjust the Site Settings form.

[2020-03-20 13:09] alexxxmendonca commented on #5645
I agree with that, @NateWr.

[2020-03-20 13:25] alexxxmendonca opened #5650 "[OPS] Unable to change server logo"
**Describe the bug**
As a Server Administrator, I am unabled to change the Server Logo. It keeps loading _ad eternum_ and the logo doesn't change. The system freezes and I'm unabled to do anything else.

**To Reproduce**
Steps to reproduce the behavior:
![Website Settings](https://user-images.githubusercontent.com/4059679/77167892-a0e11b80-6a95-11ea-9a82-fd7f11d7b4ed.gif)

**What application are y

[2020-03-20 13:45] alexxxmendonca opened #5651 "[OPS] Unable to add checklist item"
**Describe the bug**
As a Server Administrator, I am unabled to add Submission Preparation Checklist items. It keeps loading _ad eternum_.

**To Reproduce**
Steps to reproduce the behavior:
![Workflow Settings](https://user-images.githubusercontent.com/4059679/77169212-e69ee380-6a97-11ea-9a0d-aefdbbd67a74.gif)

**What application are you using?**
OPS 3.2.0 Beta

[2020-03-20 14:16] yoruyenturk commented on #3100
Hi @NateWr

Thank your for your response. However, I unfortunately do not have required coding qualifications . But i'd like to make an application to PKP Sponsored Development for this issue.

[2020-03-20 15:28] asmecher commented on #5646
@hsh01, could you try the following change? It preserves the goal and usage of the original function. I'm not sure if this suits the needs of your plugin, though.

[i5646.diff.txt](https://github.com/pkp/pkp-lib/files/4360398/i5646.diff.txt)

[2020-03-20 15:29] asmecher commented on #5600
Thanks, @defstat!

[2020-03-20 15:29] #5600 closed

[2020-03-20 15:31] asmecher commented on #5650
@alexxxmendonca, check the server's error log for details.

[2020-03-20 15:31] asmecher commented on #5651
@alexxxmendonca, check the server's error log for details.

[2020-03-20 15:39] asmecher opened #5652 "Clean up status code in QuickSubmit form"
See https://github.com/pkp/quickSubmit/commit/a9d39bf43b03ca30093a22fbd7d4421d404f233f#commitcomment-37937324:

[2020-03-20 16:00] marcbria commented on #5617
I don't have any hurry, but thanks a lot for the fix. ;-)
And yes, I can confirm bad news... it happens with all the themes I enabled. :-(

thanks for your work Nate.

[2020-03-20 16:47] andjsmit commented on #5583
@asmecher Deleting the those citations row allowed my to complete the upgrade. Thanks!

[2020-03-20 17:17] alexxxmendonca commented on #5651
`[Fri Mar 20 10:44:08.246335 2020] [php7:warn] [pid 117815] [client 10.81.235.10:54924] PHP Warning: Declaration of SubmissionChecklistForm::initData($args) should be compatible with Form::initData() in /var/www/preprint_scielo_org/htdocs/lib/pkp/controllers/grid/settings/submissionChecklist/form/SubmissionChecklistForm.inc.php on line 19, referer: https://homolog-preprints.scielo.org/index.php/sc

[2020-03-20 18:09] hsh01 commented on #5646
My needs is just remove all authors from given submission.
There is mistake in your code, I corrected it: [diff.txt](https://github.com/pkp/pkp-lib/files/4361223/diff.txt).

It turns out that one submission may have several publications?

[2020-03-20 18:20] asmecher commented on #5651
@alexxxmendonca, I only see warnings, not errors -- I would expect something with the word "Error" to be logged. If that's not the case, I'd double-check that your PHP errors/warnings are directed to the log rather than the web browser.

[2020-03-20 18:26] asmecher commented on #5646
Whoops, thanks, I've committed the change along with the fix you pointed out: https://github.com/pkp/pkp-lib/commit/65c97407a5232f49dab56c723d1eb6685412a264

Yes, one submission can have several publications; starting with OJS 3.2, OJS tracks metadata changes, and that's why the new `Publication` relationship has been introduced. You can use `$submission->getCurrentPublication()` to get the curren

[2020-03-20 18:26] #5646 closed

[2020-03-20 19:10] asmecher commented on #5438
@NateWr, not sure if you missed this one -- https://github.com/pkp/pkp-lib/issues/5438#issuecomment-594215680

[2020-03-20 19:11] #5652 closed

[2020-03-20 19:40] redukr commented on #5571
root@frontend:/web/sites/uars4# npm install
npm WARN npm npm does not support Node.js v10.15.2
npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make any promises that npm will work with this version.
npm WARN npm Supported releases of Node.js are the latest release of 4, 6, 7, 8, 9.
npm WARN npm You can find the latest version at https://nodejs.org/
npm

[2020-03-20 19:43] asmecher commented on #5571
@redukr, the `package.json` file is excluded from the `.tar.gz` build; you can get it from github: https://github.com/pkp/ojs/blob/3_2_0-0/package.json

[2020-03-20 19:46] jmacgreg opened #5654 "Migrate Google Scholar plugin to OPS and update for preprints"
From GS: here's a firm list of preprint metatags for indexing:

Steps needed for Scholar tags to be added to OPS:

1. migrate plugin over.
2. update plugin's date fields to reflect "online" vs. "published".
3. test/review with GS.

[2020-03-20 19:47] jmacgreg commented on #5654
CCing @alexxxmendonca.

[2020-03-20 19:53] jmacgreg opened #5655 "For sites with very large content, split sitemap into multiple sitemaps"
This is more an OPS issue than an OJS/OMP one, but it could be done across the board. If the application has a very large amount of content, the resulting XML sitemap may be too large (anything over 5MB is too large). The top-level sitemap can link out to child sitemaps - see https://dspace.mit.edu/sitemap for an example. This should be considered especially in the OPS context, where all articles

[2020-03-20 19:54] jmacgreg opened #5656 "OPS: Add article links to sitemap XML file"
Since there is no "issue" context in OPS, there is no great way for a crawler to crawl OPS' sitemap and find article link lists. Google Scholar recommends adding all article URLs to the sitemap. We discussed how this might work with a very large set of links (see #5655) but for now at the very least, the articles themselves should be included in the top-level sitemap.

[2020-03-20 20:01] redukr commented on #5571
After placing that file a biiiiiig log with some info :)
[code]

[2020-03-20 20:02] redukr commented on #5571
`root@frontend:/web/sites/uars4# npm run build
npm WARN npm npm does not support Node.js v10.15.2
npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make any promises that npm will work with this version.
npm WARN npm Supported releases of Node.js are the latest release of 4, 6, 7, 8, 9.
npm WARN npm You can find the latest version at https://nodejs.org/

[2020-03-20 20:02] redukr commented on #5571
[code]

[2020-03-20 20:24] asmecher commented on #5571
@redukr, those messages are related to the Node/NPM toolset -- I'd suggest checking e.g. StackOverflow for guidance on them.

[2020-03-20 20:30] redukr commented on #5571
@asmecher thank's. but my programming skills is to low :) maybe smth from this logs will be used for you.

i will wait 3.2.0-1 update-fix :)

[2020-03-20 20:35] asmecher commented on #5578
Did subscriptionSSO, deferring the rest to 3.2.0-2.

[2020-03-20 20:44] asmecher commented on #5571
@redukr, it might even come out today!

[2020-03-20 21:20] edisutoyo commented on #5571
@redukr sorry for the late reply,
You can try to use the js and css I have builded on my local, and I can use those files for my journals
here the file link : https://drive.google.com/drive/folders/1a6r1rlr8Fjtme872Y6L2J_7n1FrFJO2V?usp=sharing
Put and replace build.js to the folder js, and build.css to style folder
Bu, I prefer for waiting the 3.2.0-1 update :)

[2020-03-21 09:46] redukr commented on #5571
@edisutoyo  ![image](https://user-images.githubusercontent.com/8823785/77223894-54671000-6b69-11ea-8fcd-7b99443c160b.png)

sidebar menu item's become movable. but sidebar doesn't become visible on a site.

![image](https://user-images.githubusercontent.com/8823785/77223915-92643400-6b69-11ea-8d19-fac8d7b061d4.png)

also got 3 notifications:
     DevTools failed to parse SourceMap: https://uars.inf

[2020-03-21 12:27] redukr commented on #5571
@edisutoyo @asmecher tryied to update to 3.2.0-1. receive successful message. but the same problem with build.js

[2020-03-21 16:05] edisutoyo commented on #5573
Hi @epistemehealth May I know, have you solved this issue?

[2020-03-21 22:27] testman57 opened #5657 "MEDRA export plugin: Wrong link in XML tag <DOIWebsiteLink> for issues"
When using the MEDRA XML export plugin, the wrong link is affected for issues: it is using article instead of issue.

I have a feeling the problem comes from https://github.com/pkp/ojs/blob/c2afc22fda003026b75b20bcbc68adb1ad9e172b/plugins/importexport/medra/filter/IssueMedraXmlFilter.inc.php#L103
as replacing article with issue seems to solve the problem.

**To Reproduce**
Steps to reproduce the b

[2020-03-22 10:02] navotera opened #5658 "Setting up new custom block failed because in consistent warning"
I am using OJS 3.2.0-1.

Here is the problem.
When creating a new custom block on we cannot use the space. For example, this is invalid and failed :
**Make Submission**

![image](https://user-images.githubusercontent.com/1424851/77246895-33341b80-6c5e-11ea-914b-d23a6141db23.png)

However, when I try to create new custom block **with underscore** it is saved on the database but when to try to activ

[2020-03-22 10:26] navotera commented on #5658
The other character also error :
![image](https://user-images.githubusercontent.com/1424851/77247295-392bfb80-6c62-11ea-8b30-9f8d9a4ecb2f.png)

[2020-03-22 13:58] epistemehealth commented on #5573
Hi @edisutoyo Sorry, no, I don't know how to solve this issue. My fix was to continue using OJS 3.1.2-2.

[2020-03-23 09:57] NateWr opened #5659 "Save button disabled after unpublishing a version"
**Describe the bug**
After unpublishing a version, the save buttons remain disabled and the version can not be edited until the page is reloaded. The grids (contributors, galleys) do not reload into their editable state.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a published submission.
2. Click on the Publication tab.
3. Click Unpublish.
4. See that the Save buttons for the forms

[2020-03-23 11:21] NateWr commented on #5438
Ah ok, I didn't realize you wanted me to look into it. I can do that, just never worked with the QuickSubmit plugin so will get up-to-speed on it.

[2020-03-23 11:30] NateWr commented on #5617
Merged.

[2020-03-23 11:30] #5617 closed

[2020-03-23 11:35] NateWr commented on #5275
Merged

[2020-03-23 11:40] NateWr commented on #5373
Merged. Thanks for the report @mhvezina

[2020-03-23 12:01] NateWr commented on #5578
Released `textEditorExtras`.

[2020-03-23 12:06] NateWr commented on #5191
@thinkbulecount2 I think we're ready for merge on this one. Did you ever create a pull request for OMP?

[2020-03-23 12:07] NateWr commented on #5180
Merged!

[2020-03-23 12:07] #5180 closed

[2020-03-23 12:10] NateWr commented on #5190
All merged!

[2020-03-23 12:13] NateWr commented on #5176
All merged!

[2020-03-23 14:27] alexxxmendonca commented on #5651
Our tech guy was unable to assist. According to him, there are no errors.

[2020-03-23 14:28] alexxxmendonca commented on #5650
Our tech guy was unable to assist. According to him, there are no errors.

I should add that, even though there is no UI feedback and the page continues to load _ad eternum_, the logos are changed if you refresh the public page.

[2020-03-23 14:31] diegoabadan commented on #5654
Perhaps it would be interesting to have a unified plugin, which, depending on the application, includes the appropriate tags.

If application = OJS
_OJS meta tags_

If application = OPS
_OPS meta tags_

[2020-03-23 15:05] ajnyga commented on #5650
Can not reproduce this with current master. Can you @asmecher?

[2020-03-23 15:08] ajnyga commented on #5651
This is the error:

[code]
Suspect that the code is in pkp-lib so could apply to OJS as well. I will check this later today. I am just fixing another bug in OJS.

[2020-03-23 15:13] ajnyga commented on #5654
yeah I was looking at this a couple of weeks ago and also think that @diegoabadan's approach is the best one. @asmecher this requires that we move the gs plugin to a separate repo. What do you think?

Also, worth considering if we combine the DC plugin and the GS plugin while we are at it? We have them separately when most people just enable both?

[2020-03-23 15:35] ajnyga opened #5661 "[OJS] In some cases discussions grid not loading for reviewers, 3.2 master"
The comparison here https://github.com/pkp/pkp-lib/blob/master/classes/security/authorization/internal/QueryUserAccessibleWorkflowStageRequiredPolicy.inc.php#L41 does not work in all environment leading into an error
"You don’t currently have access to that stage of the workflow"

Simple fix is to compare with ==

[2020-03-23 15:48] NateWr commented on #5661
PR:
https://github.com/pkp/pkp-lib/pull/5662

Tests only:
https://github.com/pkp/ojs/pull/2690

[2020-03-23 15:54] ajnyga commented on #5651
It was due to a missed cherry-pick. OJS restored the setting_type column in late February, but I missed that change. This commit is a fix for the problem, but requires OPS to be installed again or alternatively the database table needs to be edited to include the missing column.

https://github.com/ajnyga/ojs/commit/0b3b9cdcf0bc4fe62169cbe0d41bd8dd6c1366bb

[2020-03-23 15:57] asmecher commented on #5654
Hi all -- totally in favour of having a shared plugin for OJS and OPS. I'll move it to its own repo and set up a submodule in OJS `master`.

[2020-03-23 15:58] NateWr opened #5663 "Can't upload cover image in Quick Submit with v3.2"
**Describe the bug**
It is not possible to upload a cover image when making a submission with the [Quick Submit](https://github.com/pkp/quickSubmit) plugin in OJS 3.2. The plugin uses a form class that extends the `SettingsFileUploadForm`, which was removed in OJS 3.2.

**To Reproduce**
Steps to reproduce the behavior:
1. Install and enable the Quick Submit plugin.
2. Go to Tools > Import/Export >

[2020-03-23 15:58] NateWr commented on #5438
PR:
https://github.com/pkp/quickSubmit/pull/44

I found another issue while fixing this one, filed at https://github.com/pkp/pkp-lib/issues/5663.

[2020-03-23 16:03] asmecher commented on #5654
Done -- https://github.com/pkp/googleScholar

I'm not in favour of combining the Google Scholar and Dublin Core plugins, though; one is a standard and one is proprietary. Both should be enabled by default.

@ajnyga, should I transform the Dublin Core plugin into a submodule as well?

[2020-03-23 16:06] asmecher commented on #5650
@alexxxmendonca, I wonder if your tech guy was looking in the wrong log? This [other issue](https://github.com/pkp/pkp-lib/issues/5651) should definitely have raised an error message in the log, but he didn't find it.

[2020-03-23 16:08] ajnyga commented on #5654
Why not. I was just thinking if we could have one plugin that takes care of both. "Landing page metadata plugin" or something?

[2020-03-23 16:11] alexxxmendonca commented on #5651
Thanks for picking the error, @ajnyga !

[2020-03-23 16:12] ajnyga commented on #5650
I do not think this is a logo upload issue. The upload there works, but saving the form creates an error. So could be that other data on that form does it. Could be that it is the same issue as https://github.com/pkp/pkp-lib/issues/5651

[2020-03-23 16:14] alexxxmendonca commented on #5650
The behavior is the same, yes. And the logo does change, you just have to force a stop.

[2020-03-23 16:15] ajnyga commented on #5650
Yes, it occurs when you have content in the Page footer field.

[2020-03-23 16:16] ajnyga commented on #5650
The same error:

[code]

[2020-03-23 16:17] NateWr commented on #5659
PR:
https://github.com/pkp/ui-library/pull/82

Tests only:
https://github.com/pkp/ojs/pull/2691

[2020-03-23 16:36] asmecher commented on #5658
Thanks for reporting, @navotera -- this will be fixed as part of https://github.com/pkp/customBlockManager/issues/17.

[2020-03-23 16:36] #5658 closed

[2020-03-23 16:45] asmecher commented on #5573
In the log file, are there any warnings or other errors above the Fatal Error quoted above?

[2020-03-23 17:33] ajnyga commented on #5650
After finding out some exciting new things about browser caching, I can conclude that https://github.com/ajnyga/ojs/commit/0b3b9cdcf0bc4fe62169cbe0d41bd8dd6c1366bb is a fix for this as well.

[2020-03-23 18:14] asmecher commented on #5650
Thanks, @ajnyga! @alexxxmendonca, this will be released in the OPS 3.2.0-1 build, likely sometime this week.

[2020-03-23 18:15] #5650 closed

[2020-03-23 18:56] ajnyga commented on #5654
Also considering:

[code]

[2020-03-23 19:11] defstat opened #5664 "Add config.inc.php parameter to override system cURL's certification failure issue (error code 60)"
**Describe the problem you would like to solve**
When a `curl` call is made to an `https` url, a default certification file should be defined, in order for the call to succeed. (for example at the `curl.cainfo` parameter of `php.ini` configuration file). This parameter is not defined by default.

**Describe the solution you'd like**
A `config.inc.php` parameter could be added to OJS/OMP/OPS, and g

[2020-03-23 19:58] ajnyga commented on #5654
Initial pr: https://github.com/pkp/googleScholar/pull/1

[2020-03-23 21:00] edisutoyo commented on #5573
Yes @asmecher this is the error log. I am using ojs 320-1 and php 7.2
When I use chrome and opera the error is

But when I use firefox I get a blank page

`Fatal error: Uncaught Error: Call to a member function getProperties() on null in /home/u6976116/public_html/ijadis.org/lib/pkp/plugins/oaiMetadataFormats/dc/PKPOAIMetadataFormat_DC.inc.php:31 Stack trace: #0 /home/u6976116/public_html/ijadis.o

[2020-03-23 21:28] ajnyga commented on #5661
the tests passed

[2020-03-23 21:32] ajnyga commented on #5655
The 5mb is a limit set by Google?

[2020-03-23 21:42] ajnyga commented on #5655
Looking at the OJS sitemap code, it creates links to both landing pages and single galleys.

[code]

is this what we want for OPS as well?

[2020-03-24 00:52] navotera commented on #5658
Hi @asmecher

Thank for your response, by visiting the URL you have provided.
"Have the symbolic name auto-generated (using e.g. uniqid) and not presented to the user anywhere."

Please make the custom block name appear on HTML generated on the ojs frontend presentation. By using this any ojs user can make any CSS custom modification for any block that he had created on the admin panel.

For examp

[2020-03-24 01:48] asmecher commented on #5573
@edisutoyo, could you answer [my question above](https://github.com/pkp/pkp-lib/issues/5573#issuecomment-602720384)?

[2020-03-24 02:05] zalamuia opened #5665 "OJS 3.2.01 Article report can't generat"
OJS 3.2.0-1

OS platform | Linux
-- | --
PHP version | 7.2.17
Apache version | Apache/2.4.6 (CentOS)
Database driver | mysqli
Database server version | 5.5.60-MariaDB

![ojs-1](https://user-images.githubusercontent.com/61810595/77380723-db5cf800-6db6-11ea-8ea1-071294c46f4f.jpg)
![ojs-2](https://user-images.githubusercontent.com/61810595/77380725-dc8e2500-6db6-11ea-827d-f4adad5f1ac4.jpg)

Browser u

[2020-03-24 02:16] navotera opened #5666 "Edit User, the password may not blank ??"
**Describe the bug**
Journal Manager when edit any user should fill the user password, even it is not intended to to do

**To Reproduce**
Steps to reproduce the behavior:
1. Go to User and Roles
2. Click on Edit User
3. Scroll down to Edit Role / User
4. See error

![image](https://user-images.githubusercontent.com/1424851/77381228-e2ccd300-6daf-11ea-8868-903ac57b591e.png)

**What application are

[2020-03-24 03:31] thinkbulecount2 commented on #5191
[OMP PR](https://github.com/pkp/omp/pull/791)

cc: @NateWr

[2020-03-24 09:04] NateWr commented on #5191
Merged

[2020-03-24 09:07] ajnyga commented on #5654
@asmecher also a separate plugin for Open Graph: https://github.com/ajnyga/openGraph

I first thought of adding these to the dc plugin, but realized that some themes might be adding these already. So maybe better allow journals/servers to control the way they want to add these by using a separate plugin.

You are free to copy that to pkp github.

[2020-03-24 09:08] NateWr commented on #5661
Merged and cherry-pick to `stable-3_2_0`.

[2020-03-24 09:08] #5661 closed

[2020-03-24 09:11] NateWr commented on #5659
Merge and cherry-picked to `stable-3_2_0`.

[2020-03-24 09:12] NateWr commented on #5438
@asmecher does pkp/quickSubmit need a `stable-3_2_0` branch or is merging this to `master` enough?

[2020-03-24 13:20] edisutoyo commented on #5573
Hi @asmecher sorry for my answer before, after I check carefully there is no other error besides fatal error for OAI

[2020-03-24 14:36] jmacgreg commented on #5573
Hi @asmecher, I've replicated this with our demo OJS 3 install; I can DM you the access info to check if you like. Our error:

`[Tue Mar 24 07:27:21.108806 2020] [proxy_fcgi:error] [pid 8462:tid 47420357596928] [client 204.187.13.88:39567] AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught Error: Call to a member function getProperties() on null in [...]/lib/pkp/plugins/oaiMetadataFormats

[2020-03-24 14:37] jmacgreg commented on #5655
Regarding sitemap size: I was told by the Scholar folks in our call that the recommendation is no bigger than 5MB, but they didn't provide any citation for that. I can ask. I see lots of conflicting info online about how big they can be, but maybe the better way to think of them is how many total URLs they can include, which seems to be  max 50,000 URLs/file: https://stackoverflow.com/questions/28

[2020-03-24 14:45] ajnyga commented on #5655
Probably a bug in the code then. At least someone was planning to show those url's in the sitemap. Not sure if it is a good thing or a bad thing that the links are missing though...

[2020-03-24 14:52] jmacgreg commented on #5655
I think it would be reasonable to include them even for OJS (ie. fix the bug, if that is what it is), but maybe don't push the fix until there's some sort of paging solution in place at the same time. Does that make sense as an approach?

[2020-03-24 15:31] asmecher commented on #5438
`master` is enough -- I haven't created a `stable-3_2_0` branch on repos like this where it isn't warranted (yet).

[2020-03-24 15:38] asmecher commented on #5654
Great, nice and clean! I'm perfectly happy to have it stay on your account, unless you'd rather it move to PKP -- but do you think we should add a submodule and distribute this by default?

[2020-03-24 15:40] NateWr commented on #5438
Merged!

[2020-03-24 15:40] #5438 closed

[2020-03-24 15:48] ajnyga commented on #5654
Really up to you, I am not sure what your criteria has been in the past?

[2020-03-24 16:20] alexxxmendonca commented on #5651
I believe this can be closed as well, @ajnyga?

[2020-03-24 16:30] asmecher commented on #5573
Hi all -- could you try the following SQL query and confirm whether it resolves the issue?
[code]

[2020-03-24 16:33] Vitaliy-1 commented on #5578
Immersion theme:
[code]
Classic theme:
[code]
Health Sciences:
[code]

[2020-03-24 16:49] asmecher commented on #5651
I can confirm!

[2020-03-24 16:49] #5651 closed

[2020-03-24 16:52] ajnyga commented on #5651
yes sure! I just can't close tickets here. Unless they are my own of course...

[2020-03-24 17:20] thinkbulecount2 commented on #5178
PR: https://github.com/pkp/ojs/pull/2692

cc: @NateWr

[2020-03-24 20:11] asmecher commented on #5665
@zalamuia, I suspect you have a plugin installed that's not updated for compatibility with OJS 3.2.x. You can find out which by turning on `show_stacktrace` in `config.inc.php` and getting the error message again.

[2020-03-24 21:57] ijrereditor commented on #1531
I use Open Journal Systems 2.4.8.3 version. While I am trying to add reviewers' comments to email that will send to authors, I click on the Import Peer Review button. But it includes only Reviewer A, Reviewer B, Reviewer C without reviewers' comments.

[2020-03-24 21:57] ijrereditor commented on #1531
I hope, somebody can help me with this issue.
iColak

[2020-03-24 21:59] asmecher commented on #1531
@ijrereditor, please see my follow-up here: https://forum.pkp.sfu.ca/t/review-form-sending-feedback/57961/4
Please continue the conversation over there.

[2020-03-24 22:37] edisutoyo commented on #5573
Hi @asmecher thank you very much for the solution, that query has resolved the problem

[2020-03-25 03:11] zalamuia commented on #5665
Dear Mr Alec,

Thanks for your advise. I have checked and found following info

<h1>Unrecognized DAO ArticleDAO!</h1><h4>Stack   Trace:</h4>
--
<strong>File:</strong>   /home/ojs/ejournal/plugins/reports/articles/ArticleReportDAO.inc.php line   27<br />
<strong>Function:</strong>   DAORegistry::getDAO("ArticleDAO")<br />
<br/> |   |   |   |   |   |  
<strong>File:</strong>   /home/ojs/ejournal/plu

[2020-03-25 09:28] NateWr commented on #5578
Thanks @Vitaliy-1! All three of those are now on the `plugins.xml` file.

[2020-03-25 09:49] NateWr commented on #4775
Considered and rejected.

[2020-03-25 09:49] #4775 closed

[2020-03-25 14:33] NateWr commented on #5643
Found another instance of the problem when saving email templates.

PR:
https://github.com/pkp/pkp-lib/pull/5670

Tests only:
https://github.com/pkp/ojs/pull/2695

This will need to be cherry-picked to stable after merge.

[2020-03-25 16:09] asmecher commented on #5665
@zalamuia, that was definitely code older than 3.2.0-1 running in your OJS installation; I'd double-check the method you used to update your code to ensure you're not mixing two versions together.

For the new problem, check your PHP error log for details.

[2020-03-25 16:59] asmecher commented on #5573
Thanks for confirming -- I've added this for the next releases of OJS and OMP!

[2020-03-25 16:59] #5573 closed

[2020-03-25 17:14] asmecher commented on #5328
Agreed, getters seem to be the best way of doing this (see e.g.: https://stackoverflow.com/questions/6395737/how-do-i-make-my-php-ide-understand-dependency-injection-containers/6418373#6418373).

[2020-03-25 18:41] asmecher opened #5671 "Installing all locales leads to an error message"
From https://forum.pkp.sfu.ca/t/problem-with-installing-ojs-3-2-0-1-with-languages/59459/6:

The `installed_locales` column is limited to `VARCHAR(255)` and could stand to use something bigger.

[2020-03-25 19:45] KarwanJacksi commented on #5572
Hi,
I now have the same problem, the PHP log file says
_`ojs2: Unrecognized DAO PublishedArticleDAO!`_

[2020-03-25 19:59] asmecher commented on #5572
@KarwanJacksi, I don't think this is the same issue, but turn on the `show_stacktrace` option in `config.inc.php` and try again. The error message should include more information.

[2020-03-25 20:04] KarwanJacksi commented on #5572
Hi @asmecher ,
It is already on, but does not show anything, I try to publish an issue but the circle icon keeps loading, and when I check PHP log file it gives me that..

[2020-03-25 20:04] asmecher commented on #5372
Patch for OJS 3.1.0, OJS 3.1.1, and OJS 3.1.2:
[5372.diff.txt](https://github.com/pkp/pkp-lib/files/4383251/5372.diff.txt)

[2020-03-25 20:07] asmecher commented on #5572
@KarwanJacksi, try disabling the ORCID Profile plugin and see if that helps.

[2020-03-25 20:10] KarwanJacksi commented on #5572
OMG!
That was the problem! It is working now and the issue is published!
Many thanks @asmecher  :)

[2020-03-25 21:09] asmecher commented on #5580
This has been reported elsewhere as fixed by creating the database with `DEFAULT CHARACTER SET utf8`: https://forum.pkp.sfu.ca/t/multiple-languages-in-ojs3-2/59245

[2020-03-25 21:09] #5580 closed

[2020-03-25 21:11] asmecher commented on #5133
@luizbgomide, I'm going to declare this a WONTFIX -- for OJS 3.3 we'll be removing the OJS 2.x to 3.x upgrade scripts entirely. I'll be working towards replacing our current upgrade structure with a Laravel (migrations/schema builder) toolset. For existing users who encounter this, they can work around it by performing the upgrade outside the replicated environment.

[2020-03-25 21:11] #5133 closed

[2020-03-25 21:15] asmecher commented on #2772
Closing as outdated.

[2020-03-25 21:15] #2772 closed

[2020-03-26 03:24] zalamuia commented on #5665
I have updated through update process.
Some of the journal sites have no problem but few have problem.
However, I got followings

<br />
--
<b>Fatal error</b>:  Uncaught Error: Call to a member function   getLocalizedGivenName() on null in   /home/ojs/ejournal/plugins/reports/articles/ArticleReportPlugin.inc.php:114
Stack trace:
#0   /home/ojs/ejournal/lib/pkp/pages/management/PKPToolsHandler.inc.

[2020-03-26 05:33] ajnyga commented on #3698
We now have an almost ready fix for this:
https://github.com/pkp/ojs/pull/2694
https://github.com/pkp/pkp-lib/pull/5669

This does not include the autosave function, but it would be easy to add. I made a test where an autosave is triggered every 5 minutes in the background. When autosave is triggered, the reviewer does not see a notification like they would see when clicking the save button manual

[2020-03-26 09:16] ajnyga commented on #4976
A related old discussion here: https://github.com/pkp/pkp-lib/issues/3278#issuecomment-363337819

[2020-03-26 09:19] defstat opened #5672 "Native Import-Export plugin port to OPS"
Porting OJS/OMP native import-export plugin to OPS

[2020-03-26 09:22] ajnyga commented on #3022
Is https://github.com/pkp/pkp-lib/issues/4959 somehow different? @NateWr @israelcefrin ?

[2020-03-26 09:52] NateWr commented on #3022
In this issue, a journal manager (`ROLE_ID_MANAGER`) should be able to invite a user -- any user to any role --  by entering their email address. That user may already have an account in the system for another journal, and in such cases the journal manager should not know that. Journal Managers should not be able to discover who has an account on a separate journal.

So the invitation workflow sho

[2020-03-26 09:59] NateWr commented on #3698
Let's go without autosave for now. I'd like to try it with the Save for Later option and see if people still run into the timeouts before implementing an autosave feature. If we find that there is still a UX issue arising from the review process, then we can address that separately.

[2020-03-26 10:11] defstat commented on #5672
@asmecher @ajnyga

PR
[OPS]: pkp/ops#2

[2020-03-26 11:15] ajnyga commented on #3022
Ok, you are probably correct that better tackle users & roles first, since the reviews is probably more complicated. But I already wrote this longer roundup that includes the review stuff as well.

Comments? @NateWr @asmecher @jmacgreg

# Requirements

1. Users & Roles. We add a new "Invite user to a role" action that can be used to invite any user on the site based on an email address.

2. Add re

[2020-03-26 14:34] asmecher commented on #5665
@zalamuia, this looks like a data error to me. What do you get for the following query?
[code]
If you get any results, you'll need to remove those entries from the `section_editors` table.

[2020-03-26 14:50] alexxxmendonca opened #5673 "[OPS] Searching doesn't work"
**Describe the bug**
Searching for preprints doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Have at least 1 preprint posted
2. Click on 'Search'
3. Search for a posted preprint by title, for example.
4. No results are matched.

**What application are you using?**
OPS 3.2.0 Beta

**Additional information**
![SciELO Preprints](https://user-images.githubusercontent.com/4059679/77

[2020-03-26 15:46] asmecher opened #5674 "Fatal error in user import/export plugin"
From https://forum.pkp.sfu.ca/t/ojs-3-2-0-1-error-500-in-import-export-part/59488:

[code]

[2020-03-26 15:51] #5674 closed

[2020-03-26 16:05] #2217 closed

[2020-03-26 16:07] asmecher commented on #5671
The storage format changed from a colon-separated list to a serialized object with 3.2.0, which is a less compact form. I recommend extending the length of the field considerably (e.g. to 1024 characters).

[2020-03-26 16:10] ajnyga commented on #5136
Would an acceptable fix here be that if the Context is not using the Site Default Locale, then only the Context locale is required and the Site Default Locale values are automatically filled with the same values in the background? @NateWr @asmecher ?

[2020-03-26 16:12] asmecher commented on #5671
To correct this for OJS/OMP 3.2.0-0 and 3.2.0-1 releases:
- Apply [this change](https://github.com/pkp/pkp-lib/commit/bb96c559bf1a517f552e3fc3183a4c2094d157bc) to `lib/pkp/xml/schema/common.xml`
- If you have already installed or upgraded the software, execute the following:
[code]
  (Please make a database backup before executing this)

[2020-03-26 16:12] #5671 closed

[2020-03-26 16:12] #2997 closed

[2020-03-26 16:14] ajnyga commented on #4042
@asmecher this is probably not solved yet? I see someone promised a pr back in sep 2018, but has not delivered...

[2020-03-26 16:16] ajnyga commented on #4474
ping @asmecher any reason for not changing the above to double blind?

[2020-03-26 17:42] ajnyga commented on #3646
Is this something that is worth looking at now, or should this be tackled later with a larger notifications/tasks redesign? Or should this be closed because of https://github.com/pkp/pkp-lib/issues/4017 ?

[2020-03-26 17:51] asmecher commented on #3646
We were talking about this recently -- this one can be incorporated without requiring a rewrite.

[2020-03-26 19:25] asmecher commented on #5666
@ctgraham, this issue is a regression introduced by https://github.com/pkp/pkp-lib/commit/797a89bbf4fa52fbc08c9961d4f72a3835180032 -- do you have time to take a look at this?

[2020-03-26 19:29] ctgraham commented on #5666
Concur with the observation in Slack:
https://github.com/pkp/pkp-lib/commit/797a89bbf4fa52fbc08c9961d4f72a3835180032#r38075906

[2020-03-26 19:29] ajnyga commented on #3646
So would you be happy with a solution where I just extend the assignPublicIdentifiersForm and basically add the template text there. The same way regretMessage works now. https://github.com/pkp/ojs/blob/master/templates/controllers/grid/pubIds/form/assignPublicIdentifiersForm.tpl#L26

We could have a similar control there like here:
<img width="797" alt="Screenshot 2020-03-26 at 21 28 35" src="htt

[2020-03-26 19:33] ctgraham commented on #5666
Resolved with direct commit.

[2020-03-26 19:33] #5666 closed

[2020-03-26 19:37] asmecher commented on #5666
Thanks, @ctgraham -- I've also cherry-picked this to `stable-3_2_0` for release with OJS/OMP 3.2.0-2 and OPS 3.2.0-1 [unless we skip directly to -2 for OPS].

[2020-03-26 20:00] asmecher commented on #4042
I don't think anyone has stepped on someone's toes yet :)

[2020-03-26 20:05] asmecher commented on #3646
That form is confusingly named :) but yes, that's a good possibility. One downside: we may get requests for the ability to compose/send that email independently from the issue publication action. To resolve that, maybe instead a new published grid row action called "Notify"?

[2020-03-26 20:13] ajnyga commented on #3646
So it would only be available in the back issues grid? And all old issues would have that action?

Of course it will take a while for the editors to find it now that they are used to the existing way of sending the notification. But the separate action would be simpler.

[2020-03-26 20:14] ajnyga commented on #4042
Can you assign this to me so I fo not forget!

[2020-03-26 20:15] asmecher commented on #3646
I could envision offering both options -- guiding the user to optionally send the email during the publication process, and offering a separate "Notify" action besides.

[2020-03-26 20:15] asmecher commented on #4042
Done, thanks!

[2020-03-26 20:39] asmecher commented on #4474
No objections, @ajnyga, that seems like a safer fallback.

[2020-03-26 20:42] asmecher commented on #5136
I'll give this a cautious yes. We do risk some data "poisoning" here, i.e. automatically entering data into another locale when it may not be appropriate, but in the case of names that will be a very rare situation.

[2020-03-26 23:15] ViRuSTriNiTy commented on #5641
Faced the issue today again, deleted `node_modules` and the lock file. Sadly does not work, still the same missing modules. I can live with it as the steps required are documented here.

[2020-03-26 23:33] asmecher opened #5675 "Resolve various import/export issues"
Investigate and resolve import/export issues. This is a catch-all.

- [x] `Element ‘{http://pkp.sfu.ca}publication’, attribute ‘version’: ‘’ is not a valid value of the atomic type ‘xs:int’.` [Fixed by updates to *either* quickSubmit 1.0.5-2 or newer (for publication creation), or OJS 3.2.0-2 or newer (for serving it up as XML)]
- [x] `Element ‘{http://pkp.sfu.ca}publication’, attribute ‘primary_c

[2020-03-26 23:57] asmecher commented on #5641
@ViRuSTriNiTy, are you able to downgrade node to v12.16.1 or so?

[2020-03-26 23:58] asmecher commented on #5641
(@NateWr, now that we have the `master` branch independent of the `stable-3_2_0` branch, I suggest we bump our eslint toolset on the `master` branch to a newer release to solve this.)

[2020-03-27 02:23] zalamuia commented on #5665
Dear Mr Alec,

generate error #1054 - Unknown column 'e.editor_id' in 'field list' after ruining the query.

Only one entry is there in section_editors.

 `section_editors` (`context_id`, `section_id`, `user_id`) VALUES (1, 14, 616);

after deleting this entry also not helping to obtain the report.

Other journal without any data in section_editors and another journal with data can managed to obta

[2020-03-27 05:39] ajnyga commented on #4474
pkp-lib: https://github.com/pkp/pkp-lib/pull/5676
ojs (only submodule): https://github.com/pkp/ojs/pull/2696

[2020-03-27 08:34] ajnyga commented on #4042
@asmecher
ojs: https://github.com/pkp/ojs/pull/2697
pkp-lib: https://github.com/pkp/pkp-lib/pull/5677

If that looks good, I will prepare a pr for OMP as well. OPS does not require this.

[2020-03-27 10:22] NateWr commented on #5641
We piggy-back on the configuration of `vue-cli` that we use for UI Library and we need to keep those in sync. Usually I run updates for the cli on the ui-library repo and then copy over the config changes to `package.json`.

I just did a fresh clone of OJS off the `master` branch and I'm unable to reproduce the problem. I don't think installing those dependencies manually is the right solution, be

[2020-03-27 10:41] NateWr opened #5678 "Introduce code formatter to enforce code style"
Use https://github.com/squizlabs/PHP_CodeSniffer or https://github.com/FriendsOfPHP/PHP-CS-Fixer to format the PHP codebase according to a particular coding style. Add this check to the validation tests in Travis so that all pull requests are checked for consistency. And if possible, create a pre-commit hook so that formatting occurs automatically on commit.

[2020-03-27 16:56] defstat commented on #5572
@asmecher @NateWr

The PR ports OrcidProfile plugin to v3.2

**PR**
[orcidPlugin]: pkp/orcidProfile#102

[2020-03-27 17:20] asmecher commented on #5654
Generally we want to facilitate third-party maintenance of the plugin ecosystem. I'm hoping to build the sense that there are good quality, well-maintained 3rd-party plugins; there was a sense in OJS 2.x that we only kind of had a plugin ecosystem and it was not very lively. But of course this does presume a maintenance burden on your part. In the end it's not a big deal either way and it's up to

[2020-03-27 17:21] asmecher commented on #4474
Thanks, merged and cherry-picked back to `stable-3_2_0`!

[2020-03-27 17:21] #4474 closed

[2020-03-27 17:31] asmecher commented on #5673
@alexxxmendonca, search results are cached for 24 hours unless you flush the database cache. Is it possible that the cache is causing this? Can you try either flushing the cache in the administration interface, or trying again once 24 hours have elapsed?

[2020-03-27 18:26] ajnyga commented on #5654
In general I am happy to maintain plugins and I guess this one won't be a lot of work. Can you do a review and I will do a release for the gallery.

[2020-03-27 19:46] asmecher opened #5680 "PHP Fatal error in WebFeedPlugin"
From https://forum.pkp.sfu.ca/t/a-problem-after-upgrading-the-ojs-3-2-01/59539/3:
[code]

[2020-03-27 20:15] asmecher commented on #5641
@NateWr, I did encounter this when upgrading to NodeJS v13.12; I downgraded to v12.16.1 and was able to build without problems. From https://github.com/nodejs/node/issues/32107, it seems like the resolution is either to downgrade NodeJS (as I did), or to update the package lock and allow eslint to bump to a newer version.

[2020-03-27 20:28] librariam commented on #4312
+1 from PKP|PS. Also the case with reviewers assigned on the same day.

[2020-03-27 22:16] asmecher opened #5681 "CrossRef exports are empty after upgrade"
See https://forum.pkp.sfu.ca/t/call-to-a-member-function-savexml/59533.

For CrossRef, the export gives the following fatal error:

[2020-03-27 22:20] #5681 closed

[2020-03-27 23:39] asmecher opened #5682 "DOAJ XML exports fail to validate"
The DOAJ schema appears to have bumped its ISO639-2b subschema from 1.0 to 1.1 while keeping it at the same URL, so DOAJ exports will now not validate correctly with errors like:
[code]
Correct this by updating the DOAJ export schema to a newer version.

[2020-03-27 23:41] asmecher commented on #5682
@dommitchell, heads-up -- the changed file at the URL `http://www.doaj.org/static/doaj/iso_639-2b.xsd` causes existing releases of OJS to fail XML validation when attempting to export DOAJ XML. I think that file's URL should include the version number in future to avoid this.

[2020-03-27 23:55] asmecher commented on #5682
This can be resolved in OJS 3.2.0-0 and 3.2.0-1 by applying https://github.com/pkp/ojs/commit/bcb9d5b7678c7ad45d18d811bfcd4de51852f801. This patch will likely apply also to 3.1.2-0 (but I haven't specifically tested it).

[2020-03-27 23:55] #5682 closed

[2020-03-28 05:18] dommitchell commented on #5682
Thanks! We recently updated to version 3. Could that be the problem?

[2020-03-28 19:44] jonasraoni commented on #5642
Hi @asmecher!
We have a report plugin to export users to CSV, which was recently updated to work with OJS 3.1.2... I'll take a look into the options/limitations and extend it to work with OJS 3.2 and also support selecting groups/journals.

---

The plugin is customizable through a hook, so it's possible to add/remove columns, e.g.:
[code]
It currently exports the following fields: `ID, Given Name

[2020-03-29 12:56] PROKLA commented on #5571
I have the same error in 3.2.0.1. (See here: https://forum.pkp.sfu.ca/t/costume-block-manager-blocks-cannot-be-activated-after-upgrade-to-ojs-3-2-0-1/59559) Maybe there is old Code?

[2020-03-30 09:55] NateWr commented on #3022
This looks great, @ajnyga. I've had a read through and I think it covers things nicely. A few thoughts on the editor workflow:

- For the add user workflows (1a-1c), I think we should replace the Add User form with an Invite User form that is just an email address. If I recall, this was one of the GDPR conditions and I think it's a good practice for us to enforce. So the editor only ever provides

[2020-03-30 10:04] ajnyga commented on #3022
Yes, in general we should not be creating user accounts without consent. Of course in many cases where the add user action is used it is usually creating editorial staff accounts and consent is maybe not a big issue. On the other hand, this new approach is also an excellent way of making sure the email actually works.

Maybe leave the old Add user form accessible for site managers?

They can not a

[2020-03-30 10:16] NateWr commented on #5641
Yeah I am not sure if it's the same problem as the one you mention, @asmecher. I wouldn't expect it to ask to install those packages. @ViRuSTriNiTy can you provide me with the full output after running `npm run build`?

[2020-03-30 10:41] NateWr commented on #5571
Hi @redukr and @PROKLA. I believe you are facing a different issue than the one fixed here. I will follow up in the forum thread.

[2020-03-30 10:45] NateWr commented on #5680
This looks fixed. Can I close it?

[2020-03-30 10:49] NateWr opened #5683 "Fatal error in RecommendByAuthor plugin"
**Describe the bug**
A fatal error was reported in the RecommendByAuthor plugin:

[code]

See report: https://forum.pkp.sfu.ca/t/costume-block-manager-blocks-cannot-be-activated-after-upgrade-to-ojs-3-2-0-1/59559/3?u=natewr

**To Reproduce**
Steps to reproduce the behavior: unknown.

**What application are you using?**
 3.2.0-1

[2020-03-30 11:06] NateWr commented on #5643
Merged and cherry-picked to `stable-3_2_0`.

[2020-03-30 11:06] #5643 closed

[2020-03-30 11:09] NateWr commented on #3022
I think if we can make the case for GDPR, we should not include it. The invited user should have a chance to fill it out though.

@mfelczak what do you think? For GDPR we are switching from "add a user" where the journal manager adds all the details to "invite a user" where they enter an email and select the roles to invite them too. The user then has to fill in their own details. Do you foresee a

[2020-03-30 11:24] NateWr commented on #5683
It looks like this will arise if there is no `issueId` on a publication or the `issueId` points to an issue that doesn't exist. https://github.com/pkp/ojs/blob/master/classes/search/ArticleSearch.inc.php#L268-L275

A quick look suggests that this may occur if an author has an unpublished submission. https://github.com/pkp/ojs/blob/master/plugins/generic/recommendByAuthor/RecommendByAuthorPlugin.in

[2020-03-30 14:31] NateWr opened #5685 "Fatal error in usageStats plugin calling for PublishedMonograph"
**Describe the bug**
The usageStats plugin may result in a fatal error due to a call to a bad method (`getID()` instead of `getId()`).

[code]

It also seems like it is still expecting a `PublishedMonograph`, which doesn't exist in 3.2.

https://github.com/pkp/usageStats/blob/master/UsageStatsPlugin.inc.php#L583-L585

See the original report from the forum: https://forum.pkp.sfu.ca/t/multiple-issu

[2020-03-30 16:43] asmecher commented on #5683
See also these forum reports:
- https://forum.pkp.sfu.ca/t/error-the-article-display-is-different-from-the-others/59567/8
- https://forum.pkp.sfu.ca/t/error-the-article-display-is-different-from-the-others/59567/8

[2020-03-30 17:08] alexxxmendonca commented on #5673
I flushed the cache in the administration interface but the issue persists.

The preprint I'm trying to search for was submitted on March 19.

[2020-03-30 18:20] jmacgreg opened #5686 "OMP: Google Scholar tags only appear on PDF view page, not on landing page"
**Describe the bug**
If I enable the Google Scholar plugin in OMP, the GS citation_* tags only appear on PDF galley view pages, if a PDF galley exists - not on the catalog entry/landing page. Take this article for example:

- https://demo.publicknowledgeproject.org/omp3/demo/index.php/aup-demo/catalog/book/14 - no GS citation_* metatags in this HTML source (although the DC tags are there);
- https

[2020-03-30 18:41] asmecher commented on #4042
Thanks, @ajnyga, this looks good -- please prepare an OMP PR and I'll merge all three.

[2020-03-30 18:46] asmecher commented on #3698
Looks good, @ajnyga; I added one comment that needs resolution before merging. I'm OK without a description above the buttons. The more you write, the less people read, and I think "save for later" (or perhaps "save draft") is already quite clear.

[2020-03-30 18:47] asmecher commented on #5680
No, I will first :)

[2020-03-30 18:47] #5680 closed

[2020-03-30 18:54] respinosagonzalez opened #5687 "Username with dot (.) in the midle"
Usernames in our University are in format <name>.<familyname>
To use this format in OJS, we need change the regexp in line 31 in FormValidatorUsername.inc.php file every minor, release, build published.

Our proposed solution is:
File: ./lib/pkp/classes/form/validation/FormValidatorUsername.inc.php
Line 31:

(actual)		        new ValidatorRegExp('/^[a-z0-9]+([\-_][a-z0-9]+)*$/')

(proposed)		new V

[2020-03-30 19:07] asmecher commented on #5687
@respinosagonzalez, this overlaps with https://github.com/pkp/pkp-lib/issues/906 -- could you add your suggestions there?

I suspect we'll probably decide to go with email addresses instead of usernames when we get around to addressing this, and in the meantime, I'd recommend keeping your local modification.

[2020-03-30 19:07] #5687 closed

[2020-03-30 19:30] withanage commented on #5572
Hi @alexxxmendonca  and @KarwanJacksi

This issue is fixed by the  plugin release  v1.1.2-1 from  30.03.2020

[2020-03-30 19:42] alexxxmendonca commented on #5572
Hi @withanage,

thanks!

How can I upgrade it?

![image](https://user-images.githubusercontent.com/4059679/77954694-6ea99800-72a5-11ea-90ff-3019fbfd8414.png)

[2020-03-30 19:45] withanage commented on #5572
Hi @alexxxmendonca ,
I see your version is 3.1.2,  The ticket  problem refers to 3.2.0+  or did you also have it in 3.1.2 ?

[2020-03-30 19:47] alexxxmendonca commented on #5572
@withanage my mistake!

Will wait for when we upgrade to 3.2.0+.

Thanks!

[2020-03-30 20:34] asmecher opened #5688 "Upgrade fails from OJS 2.x with remote galleys"
From https://forum.pkp.sfu.ca/t/issue-updating-2-4-8-1-to-3-2-x/59527:

thrown in /repository/ojs/ojs-3.2.0-1/classes/install/Upgrade.inc.php on line 1077

[2020-03-30 20:35] asmecher commented on #5688
PR:
- https://github.com/pkp/ojs/pull/2700
(OMP and OPS not affected)

[2020-03-30 20:47] asmecher opened #5689 "Make failures in provideSupplementaryFilesForReview more friendly"
The OJS 2.x to 3.x upgrade process sometimes fails on `provideSupplementaryFilesForReview`, e.g.:
[code]
Make this a warning rather than a failure, and make it easier to understand.

[2020-03-30 20:49] asmecher commented on #5689
Proposed change (needs confirmation):
[i5689.diff.txt](https://github.com/pkp/pkp-lib/files/4405390/i5689.diff.txt)

[2020-03-30 21:52] Alleyne opened #5690 "Error saving in management/settings/website"
**Describe the bug**
Any form that have a html in setting dont save. The button stay "saving" and don't do anything.

TypeError: e.supportedFormLocales.filter is not a function at build.js?v=3.2.0.1:8

**What application are you using?**
 OJS or OMP version 3.2.0.1
i upgrade version 3.1.2.1 to 3.2.0.1

**Additional information**
Please add any screenshots, logs or other information we can use to i

[2020-03-30 22:06] asmecher commented on #5690
See also: https://forum.pkp.sfu.ca/t/costume-block-manager-blocks-cannot-be-activated-after-upgrade-to-ojs-3-2-0-1/59559/21

[2020-03-30 22:14] asmecher commented on #5665
@zalamuia, can you try this database query?
[code]
This will identify any stage assignments that correspond to nonexistent users. If any results are shown, try removing them. (Please make a backup of your database before doing this!)

[2020-03-30 22:15] ViRuSTriNiTy commented on #5641
@NateWr I'm sorry but `npm` seems to make fun of me. I tried to reproduce the issue today but everything is fine now. I will report back with the full output when i face the issue again.

[2020-03-30 23:16] asmecher commented on #5642
That's great, @jonasraoni! @amandastevens, are there any additional columns to suggest that might help inform a 3rd-party mailing service?

[2020-03-31 00:05] asmecher commented on #5657
Thanks, @testman57 -- I've made the change as you suggest, for release in OJS 3.2.0-2 (probably late this week).

[2020-03-31 00:05] #5657 closed

[2020-03-31 01:24] zalamuia commented on #5665
Dear Mr Alec,

I have tried the query and found two entries. After removing those entries I can generate report. Thanks for your support for solving this issue.

Thanking you.
Zahirul

[2020-03-31 01:34] asmecher commented on #5665
Glad to hear it!

[2020-03-31 01:34] #5665 closed

[2020-03-31 09:44] NateWr commented on #5690
I'm not able to reproduce this myself. Have you had any luck @asmecher? The error message, `e.supportedFormLocales.filter is not a function`, means that the form's `supportedFormLocales` prop is not an `Array`. But I can't see how that would happen in the code unless there were no `supportedFormLocales` in the context settings -- and the report from the forum shows the correct settings...

[2020-03-31 12:39] ajnyga commented on #4042
omp: https://github.com/pkp/omp/pull/794
tests running...

[2020-03-31 12:52] ajnyga commented on #3698
fixed/commented back: https://github.com/pkp/ojs/pull/2694

This does not seem to need a OMP pr

[2020-03-31 14:19] ajnyga commented on #4042
@asmecher one test failed here: https://github.com/pkp/omp/pull/794 if you can restart

[2020-03-31 15:04] #5689 closed

[2020-03-31 15:04] asmecher commented on #5689
Got confirmation that this works (XMPP chat)

[2020-03-31 15:56] Alleyne commented on #5690
@NateWr @asmecher Thanks a lot for the support, i've been looking this other thread
https://forum.pkp.sfu.ca/t/costume-block-manager-blocks-cannot-be-activated-after-upgrade-to-ojs-3-2-0-1/59559/21
and it happens i have the same problem as the other user, i restarted language settings but the issue is still going on. I have also noticed that this endless storage problem occurs in every tab where t

[2020-03-31 16:12] asmecher commented on #3698
Thanks, @ajnyga, that looks good to me. Ready for merge?

[2020-03-31 16:17] NateWr opened #5692 "Tests should fail if a locale key is missing in en_US"
**Describe the problem you would like to solve**
It is easy to forget to load a locale file with the key that you need. Because locale files are loaded on-demand, it's common for a locale file to be loaded in one use case but not be loaded in another, and it's difficult to identify these instances while developing. As a result, it's very difficult to know when it's safe to not load a locale file.

[2020-03-31 16:17] asmecher commented on #4042
^ Restarted and passed! Is this ready for merge, @ajnyga?

[2020-03-31 16:21] ajnyga commented on #3698
I am, but apparently pkp-lib now has a merge conflict?

[2020-03-31 16:22] ajnyga commented on #4042
Yes, this is all ready

[2020-03-31 16:37] ajnyga commented on #5686
I was just looking at this when I ported the OpenGraph plugin for OMP.

A single book in OMP can contain several publication formats, and each publication format can have it's own ISBN. I think this is the reason why the landing page does not show the GS tags and they are shown in galley page instead.

If we were to show GS tags on the book landing page, then how should books with multiple publica

[2020-03-31 17:26] jmacgreg commented on #5686
Good question - I'll check with GS.

[2020-03-31 17:31] ajnyga commented on #5686
Of course a simple solution would be to list all ISBN's attached to a book. If we would do this, then would it be better to remove the output from the galley page altogether.

Probably it is not that usual to have several ISBN's per book.

[2020-03-31 18:07] asmecher commented on #5692
Or a plugin that turns untranslated `en_US` strings into exceptions. A long time ago we used to have something like this to log sent emails to a DB table rather than sending via e.g. SMTP -- but ironically it went out in a release and broke email delivery!

Longer term, I'd like to see whether using the PO format will allow us to go to OS-level gettext tools, which may be able to load everything e

[2020-03-31 18:41] asmecher commented on #5673
OK, next steps to debug this...
- Take a backup of your database so we can investigate later
- Then, try running `php tools/rebuildSearchIndex.php` on the command line
- Flush your data cache in the admin interface
- Try searching again.

[2020-03-31 18:44] asmecher commented on #3698
Merged PRs for `pkp-lib` and `ojs` (the latter manually due to merge conflict). Thanks, @ajnyga!

[2020-03-31 18:44] #3698 closed

[2020-03-31 18:56] asmecher commented on #4042
Thanks, @ajnyga (& @NateWr)! Merged to pkp-lib `master`, and manually to OJS and OMP `master` for release in OJS/OMP 3.1.1.

[2020-03-31 18:56] #4042 closed

[2020-03-31 22:01] asmecher commented on #5690
@Alleyne, I'm afraid I can't replicate this behaviour myself either. Would you be able to privately send me a database dump?

[2020-03-31 22:01] ViRuSTriNiTy opened #5693 "ValidationFactory reports required fields with value "0" as invalid"
Hi there,

i'm currently trying to use `ValidationFactory` to validate my custom form. In this custom form i have a drop down with required flag and `<option value="" ...`, `<option value="0" ...`) , `<option value="1" ...`) as well as `<option value="2" ...`. When i select the option with value "0" and submit the form the `ValidationFactory` reports the the field as required although i selected s

[2020-03-31 22:12] asmecher commented on #5688
Merged the PR to solve the Fatal Error. The thread contains an additional query that may prove useful depending on the 2.x database: https://forum.pkp.sfu.ca/t/issue-updating-2-4-8-1-to-3-2-x/59527/6

[2020-03-31 22:12] #5688 closed

[2020-03-31 22:23] asmecher commented on #5622
@ajnyga, @NateWr, and I have been chatting about elements of this and carving off pieces for implementation:
- **Sections:** @ajnyga prefers "sections" rather than "series" and I agree with him. This isn't as clear an organizational tool in OPS as "section" is in OJS or "series" in OMP, but I continue to see value in it. The most common use case I foresee will be as a kind of content type (like "r

[2020-03-31 22:34] asmecher commented on #5693
@ViRuSTriNiTy, agreed, we should not be using `empty` for this. Do you have a specific change to propose?

Just to confirm that I understand the key check issue -- is a `0` for e.g. a title also setting off that problem? Or are there different conditions to reproduce it?

[2020-03-31 22:42] ViRuSTriNiTy commented on #5693
@asmecher Fields are validated universally in `ValidationFactory`, so no matter what field type a `0` will result in a field is required message.

My proposal would be a simple static private method named `isEmpty()`

	static private function isEmpty($value) {
		return $value == '';
	}

and a replace of `empty($props[$requiredProp])` calls with `self::isEmpty($props[$requiredProp])`.

The key chec

[2020-04-01 00:13] willinsky commented on #5622
I agree with sections (series are thematic and usually run by their own editors as a separate project). SSRN uses sections, with one for conference papers, for example, although one for research paper series, as well. But their big division by subject area or discipline is networks and ours would be categories with moderators automatically assigned. I can see the issue with all assigned but again

[2020-04-01 06:13] rogersantosferreira commented on #5626
Hi!
I'm trying to update from version 2.4.2 to 3.2.1.0 and still receiving this same error.
Can you help me?

[2020-04-01 07:36] ajnyga commented on #5622
thanks @asmecher and @willinsky
I have the code changes pretty much ready for what Alec described above.

I will make the OPS Default Theme "Category centric". Meaning that browsing and searching of Preprints is mainly organized around Categories. Of course any user of OPS can make their own theme more "Section centric" if that taxonomy makes more sense to them.

The code for Category browsing com

[2020-04-01 08:54] ajnyga opened #5694 "Allow subeditors to be assigned to Categories"
Categories can be regarded as the main taxonomy for browsing and managing content in OPS. Therefore it is likely that Servers will want to assign incoming submissions based on selected Categories. Currently this is not possible. The ability will be added to the shared library so other apps can use it as well.

Some of the related discussion can be found here: https://github.com/pkp/pkp-lib/issues/

[2020-04-01 10:24] ipoliarush commented on #5303
Does the platform currently not support bibliography with support for multiple languages?

[2020-04-01 12:04] ajnyga commented on #5694
@asmecher I did some additional changes and a preliminary upgrade script:
https://github.com/pkp/ojs/pull/2699
https://github.com/pkp/ojs/pull/2699/files#diff-70befd998b9e811165b9f0eab0369752R1

But github is determined that there is a conflict in pkp-lib, just not seeing it here https://github.com/pkp/pkp-lib/pull/5684

[2020-04-01 13:49] israelcefrin opened #5695 "OJS - Extra space below empty submission list"
**Describe the bug**
When submission list is empty there is a empty space bellow sidebar which generates an unnecessary scroll.

**To Reproduce**
Steps to reproduce the behavior:
1. Install / upgrade OJS to version 3.2
2. Create an user or select one with no submissions
3. Go to dashboard
4. See error below tabs and sidebar

**What application are you using?**
 OJS  3.2.0

**Additional information

[2020-04-01 14:01] defstat commented on #5572
Can we close that issue?

[2020-04-01 14:10] withanage commented on #5572
I think yes. I have tested it in OJS 3.2.0  and OPS 3.2.0

[2020-04-01 14:20] withanage commented on #4893
Is in Version 1.1.1-2 in Plugin gallery

[2020-04-01 14:20] #4893 closed

[2020-04-01 14:35] alexxxmendonca commented on #5622
I agree that "sections" works better than "series".

[2020-04-01 16:10] PeterfordUP commented on #4932
Hi @NateWr ,
Quick question - are you referring to keywords and subjects as separate entities, or as synonymous to each other? We have an issue in our backlog - developing OJS functionality for megajournal 'subjects', to be applied to articles and displayed on article landing pages, editor dashboards, submission admin pages, etc. Browsing by 'subject' would also be great functionality too. This wo

[2020-04-01 16:26] asmecher commented on #5681
To resolve this (and the similar https://github.com/pkp/pkp-lib/issues/5573), you can execute the following database queries.

For OJS:
[code]
For OMP:
[code]
Make a backup of your database before running queries on it manually!

[2020-04-01 16:26] asmecher commented on #5573
To resolve this (and the similar https://github.com/pkp/pkp-lib/issues/5681), you can execute the following database queries.

For OJS:
[code]
For OMP:
[code]
Make a backup of your database before running queries on it manually!

[2020-04-01 17:18] asmecher commented on #5572
Thanks, all!

[2020-04-01 17:18] #5572 closed

[2020-04-01 17:20] asmecher commented on #5303
No, not at the moment. See the linked discussion for some of the issues involved.

[2020-04-01 17:21] thinkbulecount2 commented on #5178
PR for OMP: https://github.com/pkp/omp/pull/795

cc: @NateWr

[2020-04-01 19:43] asmecher opened #5697 "Permit "edit galley" form to be viewed after publication"
Currently once an article is published the "edit galley" form is not available (the link is hidden).

However, that form contains valuable information that is not available elsewhere, in particular the dependent files grids for XML and HTML-based articles.

I propose making the "Edit Galley" form available, but read-only, once the article has been published.

---
**PRs**

**Branch `main`**
ojs: pk

[2020-04-01 19:44] alexxxmendonca commented on #5673
Hi @asmecher

Thanks for the instructions, it worked.

Do you think this will happen again?

[2020-04-01 20:27] asmecher commented on #5636
@NateWr, [this check](https://github.com/pkp/ojs/blob/3_2_0-1/pages/article/ArticleHandler.inc.php#L376) means that the `download` operation can't serve up dependent files like CSS and images for HTML galleys (see https://forum.pkp.sfu.ca/t/issue-with-embedded-images-in-the-html-galleys-in-upgrading-from-ojs-2-4-8-1-or-3-1-2-4-to-ojs-3-2-x/59524). The `fileId` check needs to be broadened to includ

[2020-04-01 20:29] asmecher commented on #5636
PR: https://github.com/pkp/ojs/pull/2702
Could you have a look over this, @NateWr?

[2020-04-01 23:43] Alleyne commented on #5690
Hi, @asmecher. I sent you already the database dump to your personal email. Thanks for your help!

[2020-04-02 08:43] navotera opened #5698 "Update the citation library to solving the citation problem."
Please read the issue for this problem regarding the citationStyleLanguage.

https://github.com/seboettg/citeproc-php/issues/80

Thank you.

[2020-04-02 09:35] NateWr commented on #4932
Hi @PeterfordUP, this issue will specifically address browsing by controlled vocabularies (keywords, subjects and other metadata). I think the idea was to link this metadata on the article landing page, but not to turn it into a primary navigation method. That could be done with a specific theme but probably wouldn't be part of the core app.

My sense is that Categories are probably a better fit f

[2020-04-02 09:36] NateWr commented on #4932
You may also be interested in this issue (https://github.com/pkp/pkp-lib/issues/4415), which discusses abstracting how we're grouping submissions across our applications. It's _not scheduled_ against any future milestone, but is a rough outline of where we'd like to get to in the future.

[2020-04-02 10:00] NateWr commented on #5636
That looks great, thanks for figuring that out!

[2020-04-02 10:08] NateWr commented on #5629
Some of the space issues seem to be related to PHP 7.3/7.4. See https://github.com/seboettg/citeproc-php/issues/80.

[2020-04-02 10:08] NateWr commented on #5698
Thanks for letting us know, @navotera. That sounds like it explains some of the issues in https://github.com/pkp/pkp-lib/issues/5629. I'm going to close this issue in favor of that one, but they'll both lead to the same result.

[2020-04-02 10:08] #5698 closed

[2020-04-02 10:21] NateWr commented on #5693
Thanks, this is an area where unit tests would be really useful. :+1:

[2020-04-02 20:11] asmecher commented on #5636
Thanks, @NateWr, also ported to OPS.

[2020-04-02 20:11] #5636 closed

[2020-04-02 23:07] asmecher commented on #5694
@ajnyga, on the conflict, did you do a `git fetch official master` / `git rebase official master`? The conflict might be in the schema descriptor in pkp-lib; I recently moved some additional tables there. It should be trivial to resolve.

[2020-04-03 02:54] Alleyne commented on #5690
Hi, @asmecher @NateWr I continued working about the issue and discovered that the problems was related to the language settings. When I enabled or disabled an UI for the language the system will let me storage changes in the sidebar, website settings and everything. But only if I do any changes first; if I just go to the site and the come back it goes back to non functioning until I do the any cha

[2020-04-03 03:52] ramli01 opened #5699 "Static page preview"
**Describe the bug**
Creating Static Page could not be previewed before saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings -> Website'
2. Click on 'Tab Static Page'
3. Then 'Create Static Page'
4. Before Save it, ckick 'Preview'
5. No change but succeeded create the Static Page when clicking 'Save' bottom

**What application are you using?**
 OJS version 3.2.0-1

**Additi

[2020-04-03 14:52] ajnyga commented on #5694
Rebasing did not help. Also tried creating a new pr in pkp-lib with a new branch and that did not help.
The pkp-lib pr says there are no conflicts: https://github.com/pkp/pkp-lib/pull/5700 but the ojs pr says there is a conflict in pkp-lib: https://github.com/pkp/ojs/pull/2699. I can not access the Resolve conflicts button so no idea what is causing it.

[2020-04-03 15:50] asmecher opened #5701 "Upgrade error using PostgreSQL in createLicenseTerms"
From https://forum.pkp.sfu.ca/t/error-when-updating-from-3-1-2-4-to-3-2-0-1-with-postgres/59661/3:
[code]

[2020-04-03 15:51] #5701 closed

[2020-04-03 16:31] PeterfordUP opened #5702 "Ability to disable submissions in OJS3"
Editors and Journal managers need to be able to stop new submissions being created for specific journal sections.

Often this is done when a journal stops accepting or publishing a particular kind of article, where the journal section will still need to exist with all settings in place (as it applies to published articles), but no new submissions should be allowed. Sometimes this is temporary, som

[2020-04-03 17:02] ajnyga commented on #5702
Related discussion here: https://forum.pkp.sfu.ca/t/how-do-i-disable-submission-option/40021
This has been on my todo list for a long time because it is needed for Journal.fi.
Likely to solve this during the next months.

[2020-04-03 18:00] asmecher commented on #5699
@ramli01, the "Preview" button opens a pop-up that shows a preview using Javascript; I suspect you have a popup-blocker installed.

[2020-04-03 18:21] asmecher opened #5703 "Upgrade process performs slowly"
The upgrade process to 3.2 performs slowly on large data sets.
One cause for this is the lack of indexes in the `temp_`... tables used for content migration.
Resolve this by adding some indexes.

[2020-04-03 20:26] ajnyga commented on #5694
ojs: https://github.com/pkp/ojs/pull/2704
pkp-lib: https://github.com/pkp/pkp-lib/pull/5700

[2020-04-04 00:05] asmecher commented on #5654
@ajnyga, is this issue ready to be closed? openGraph is in the plugin gallery, and https://github.com/pkp/googleScholar/pull/1 was merged.

[2020-04-04 00:39] asmecher commented on #5694
That looks good, @ajnyga! Do you mind porting this to OMP and OPS?

[2020-04-04 05:24] ajnyga commented on #5654
Just thinking if we should handle OMP in in the separate GS plugin as well?

But I could handle it here once @jmacgreg  hears from Google: https://github.com/pkp/pkp-lib/issues/5686

[2020-04-04 06:15] ramli01 commented on #5699
Ok. I will check it first. Thanks @asmecher

[2020-04-04 08:57] ramli01 commented on #5699
Succeeded to preview static page by testing on my android.
Thank you

[2020-04-04 16:37] asmecher commented on #5699
Thanks for confirming!

[2020-04-04 16:37] #5699 closed

[2020-04-04 20:28] PROKLA commented on #5690
I can confirm what Alleyne wrote.  The same phenomenon occurs with me, i.e. I change the UI of a language, then I can save everything else.

[2020-04-05 06:40] ajnyga opened #5704 "[OMP] Series Form always activates all available subeditors"
**Describe the bug**
When editing a new Series with the Series Form, all available subeditors are always marked as active. Saving the data works but is not reflected in the form when it is opened.

This is probably because this https://github.com/pkp/ojs/blob/master/classes/services/UserService.inc.php and this https://github.com/pkp/ojs/blob/master/classes/services/queryBuilders/UserQueryBuilder.

[2020-04-05 09:56] ViRuSTriNiTy opened #5705 "[UI Library] Read-only / disabled flag missing in some components"
Hi there,

as already discussed in the forums, i have the requirement to

- make `FieldText`, `FieldTextArea` and `FieldAutosuggest` read-only
- disable `FieldSelect`

and i changed the PHP classes and vue components accordingly. I will provide a PR.

So lonG
Daniel

[2020-04-05 10:11] didacrios opened #5706 "JS errors during creation/edition of journals"
**Describe the bug**
JS errors are shown in console during creation / edition of Journals.

Sometimes cause compiling errors in javascript and no further JS action could not be triggered.
Seems something related with tinymce when changing locale of the journal

**To Reproduce**
Steps to reproduce the behavior:

Background info: `npm run dev` and journal locale English

Scenario 1: Create journal
1

[2020-04-05 13:30] jnugent commented on #5689
@asmecher I've tested it as well on a large OJS2 to OJS3 upgrade (twice now), and it does indeed work very well.  Thanks!

[2020-04-05 15:36] asmecher commented on #5689
Great, thanks, @jnugent!

[2020-04-05 16:11] ajnyga commented on #5694
@asmecher @NateWr
Some big changes had to happen. So when porting this for OMP I found this bug in 3.2.0 https://github.com/pkp/pkp-lib/issues/5704.

When going through the code, I could not find any reason for having OJS specific `UserService` and `UserQueryBuilder`. The only thing they were doing was to handle the subeditors' assignments to sections. And since that was handled in OJS and not the

[2020-04-06 09:31] NateWr commented on #5694
:+1: Looks good to me. I left a couple of minor comments.

[2020-04-06 09:38] NateWr commented on #5629
@asmecher several of these spacing issues were fixed with an update to citeproc-php. I've pushed that change to `master`. What's the best way to make sure this goes out with OJS 3.2.0-2? Do I make a submodule commit in OJS pointing to the `master` branch of citationStyleLanguage?

[2020-04-06 09:44] PeterfordUP commented on #4246
Hi there,
Has there been any movement on this since the last update? We're happy to assign some resource to it, and begin working/assisting, but we don't want to replicate work that's already being done somewhere else.
Best,
Peter Ford (PM, Ubiquity Press)

[2020-04-06 09:49] PeterfordUP commented on #5702
Hi @ajnyga ,
Do you have any thoughts on the specifics of the functionality we've proposed, above?
We're happy to assign resource to this and or assist with a solution, or if there isn't a firm timeline in place, we can begin working on a solution from scratch.
Best,
Peter Ford (PM, Ubiquity Press)

[2020-04-06 09:52] NateWr commented on #4246
Hi @PeterfordUP, no there hasn't been any work on this. Reviewing the discussion, it looks like there are two approaches being discussed:

1. When creating a new round, add checkboxes to the form which allow the editor to select which reviewers to re-assign. This is my preferred solution, however, editors will also need to be able to customize the email that is sent to each reviewer. If you're up

[2020-04-06 09:55] NateWr commented on #3022
Thanks @mfelczak. Would a `ROLE_ID_SITE_ADMIN` capability to simply confirm an invitation (similiar to login as) suffice to solve this problem?

[2020-04-06 10:09] ajnyga commented on #5702
I think that the ability to stop accepting submission to a specific section is already there. You can just select that only editors can submit to the section. Is there a reason why this might not be enough?

I guess what I have been thinking about is a journal level setting that will block all incoming submission. Enabling the setting would:
- hide the "New Submission" button from non-editorial us

[2020-04-06 10:48] NateWr commented on #5692
I liked your plugin idea and thought I'd see if I could get Travis using it:

PR:
https://github.com/pkp/ojs/pull/2706

[2020-04-06 11:07] omar-khan opened #5708 "Journal Masthead and Website Setup Information not Updated"
**Describe the bug**
I am not able to see any changes I carry out to the following Text Areas.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Website > Setup
2. Change text in "For Readers", "For Authors", "for Librarians" to anything
3. Click on Save. Receive message "The information for this journal was updated"
4. However, none of the changes appear in the text areas I j

[2020-04-06 13:37] heike-r opened #5709 "Add 'archive' button in production stage"
There are requests [here](https://forum.pkp.sfu.ca/t/how-to-archive-submissions-without-publishing-or-declining-them/51565) and [here ](https://forum.pkp.sfu.ca/t/how-to-archive-a-submission/33463) for a possibility to archive a submission in production stage without declining or publishing it. Scenarios where this is neccessary:
1. A journal uses OJS only for management of peer review and layout

[2020-04-06 13:41] ajnyga commented on #5694
Thanks @NateWr

Running new tests:
OJS https://github.com/pkp/ojs/pull/2704
OMP https://github.com/pkp/omp/pull/796
pkp-lib https://github.com/pkp/pkp-lib/pull/5700

[2020-04-06 16:53] asmecher commented on #5709
@heike-r, would it be possible to schedule the submissions against an issue and publish the issue, but have the publication front end disabled in Setup? That way all the relevant metadata would be correct, but the contents would not be available via the publishing front end.

Just a note re: manipulating the `status` column of `submissions` directly -- starting with OJS 3.2, it's also necessary to

[2020-04-06 16:54] asmecher commented on #5629
@NateWr, yes, the submodule update of `plugins/generic/citationStyleLanguage` needs to be updated. I have not (yet) created a `stable-3_2_0` branch within that plugin, because there's been no divergence yet -- but when there is, that branch should be created. The submodule update needs to be committed to the `ojs` repo in both `master` and `stable-3_2_0` branches.

[2020-04-06 17:00] asmecher commented on #5708
@omar-khan, when you say you have provisionally set permissoins on the `cache` folder to `777`, do you mean just the `cache` directory or all of its contents as well?

[2020-04-06 18:07] omar-khan commented on #5708
sorry it was not clear before-hand. I meant all of its contents (of cache folder)

[2020-04-06 18:09] asmecher commented on #5708
@omar-khan, can you check the `journal_settings` table to see if the changes you're making are reflected there?

[2020-04-06 18:14] TruePepe commented on #5690
I have the same problem, can't save anything from multi-language forms in tabs running in the main window. What interesting, if multi-language editing takes place in the overlay dialog, there is no problem. I have two, very similar sites for two separate journals and the problem exists only in one of them.

[2020-04-06 18:18] omar-khan commented on #5708
@asmecher Good Idea. Here is what I tried. In `Settings > Journal`, I changed the Journal Abbreviation. Afterwards, I accessed the `journal_settings` table using PhpMyAdmin. It still reflects the old contents.

The next thing I did was change the abbreviation directly in the table. When I refreshed the website, the database change appeared in the abbreviation text field.

[2020-04-06 18:23] asmecher commented on #5708
@omar-khan, OK, this means that caching is not the problem. I'd suggest opening your web developer tools to see how the request looks that saves the data to the server, and what the server's response looks like. We've had some cases where server-side security rules were falsely triggering, preventing data from being saved, but in those cases there was an error message, so yours seems a little diff

[2020-04-06 18:54] omar-khan commented on #5708
@asmecher Okay carried out the procedures. Seems something is wrong with the cookie.
[reply-headers.txt](https://github.com/pkp/pkp-lib/files/4440296/reply-headers.txt)
[request-headers.txt](https://github.com/pkp/pkp-lib/files/4440297/request-headers.txt)
[request.txt](https://github.com/pkp/pkp-lib/files/4440299/request.txt)

[2020-04-06 19:16] asmecher commented on #5708
@omar-khan, what is the response code?

[2020-04-06 19:33] asmecher commented on #5706
This may be the same as https://github.com/pkp/pkp-lib/issues/5690.

[2020-04-06 19:43] omar-khan commented on #5708
@asmecher sorry i thought it was not needed. attached.
[response.txt](https://github.com/pkp/pkp-lib/files/4440486/response.txt)

[2020-04-06 19:55] didacrios commented on #5706
Seems like that closing issue duplicated #5690

[2020-04-06 19:55] #5706 closed

[2020-04-06 21:38] asmecher opened #5710 "Escape journal title field on display"
Special characters are not properly escaped when displaying the journal title.

[2020-04-06 21:41] #5710 closed

[2020-04-06 21:49] omar-khan commented on #5708
I saw OJSSID=deleted in the reply headers but then noticed that its set later on.

I am at odds on how to debug this. Prepared a small gif to get a visual idea.
![ojs](https://user-images.githubusercontent.com/2735837/78608447-612e7800-787a-11ea-9de8-36ce94b2ec25.gif)

[2020-04-07 08:54] ajnyga commented on #3910
What happens if the submission is not finalized? The subeditor will get a notification for a new discussion, but she probably can not access it?

[2020-04-07 11:59] fradeve commented on #5702
@NateWr @asmecher we are very keen in implementing this ASAP (i.e. in the next couple of weeks): do you have any recommendation on whether it is worth implementing this in pkp-lib rather than a plugin? If pkp-lib is your suggestion, we can finalise the PR very soon, so that this can be included in the upcoming summer release

[2020-04-07 12:58] alexxxmendonca commented on #5673
Hi @asmecher

Just FYI, the issue happened again on the production site.

We did as you suggested (runned the `php tools/rebuildSearchIndex.php` command line) but the problem persists.

Try searching for "covid" here:

https://preprints.scielo.org/

[2020-04-07 13:09] NateWr commented on #5702
Hi everyone, sorry I missed this when it came in. Yes, I think this would be good to have as part of the core application. A few suggestions on how I'd like to see it:

1. Can we call it "archiving a section" and refer to it as an "archived" section? I think this reflects the use-case you describe and would better model how sections are handled throughout the application. This should go into the `

[2020-04-07 13:16] NateWr commented on #5709
I agree that some kind of publish-but-don't-show-it approach is the best solution here. If the submission does not get "published" in OJS, the editorial statistics will be inaccurate.

It should be possible to get a submission into the archived list by scheduling it for publication in a future issue, but never publishing that issue. However, I think this will still not be counted as "published" in

[2020-04-07 13:18] NateWr commented on #3910
@ajnyga Good question. Can you test? Ideally, I think a discussion should be created with no participants and then when the submission is finalized the participants should be added.

[2020-04-07 15:18] librariam opened #5711 "Show which email template is used when an email is populated"
**Describe the problem you would like to solve**
OJS 3.2 has added an improved list of email template descriptions. However it is still difficult and confusing to trace back which email is populated by which template, if you want to modify one. Plus, some templates are not in use; and then there is text that looks like it would be populated by a template but it is not.

For example, these 2 templa

[2020-04-07 15:56] tsvetlin commented on #5580
Same issue with Hungarian. Creating database beforehand is a workaround.

[2020-04-07 19:10] ajnyga commented on #5673
hmm, @asmecher , when does OJS build search index for a new submission?

[2020-04-07 19:11] ajnyga commented on #4932
A slightly related question: is so that the current search does not check keywords?

[2020-04-07 20:01] asmecher commented on #5673
See the `publish` and `unpublish` functions in `PKPPublicationService`.

[2020-04-07 22:53] asmecher commented on #5626
@rogersantosferreira, just to confirm, are you using MySQL or PostgreSQL?

[2020-04-07 22:54] asmecher commented on #5626
...and @rogersantosferreira, what is the exact error message you're getting?

[2020-04-08 05:44] ajnyga commented on #5610
Basically almost all of these translations come from the shared library. Besides the examples mentioned above there are also a lot of other places where the words "publication" and "publish" appear.

These are rough numbers, but these translation keys live in `api.po` (5 strings), `common.po` (5 strings), `editor.po` (1 string), `submissions.po` (25 strings), `user.po` (1 string).

@asmecher @Nate

[2020-04-08 07:44] heike-r commented on #5709
Regarding @NateWr suggestion:
A submission does not get archived, when it is assigned to an unpublished issue (in OJS 3.1.2.4). It stays in the 'active submissions' list until the issue is published.

[2020-04-08 09:59] NateWr commented on #5708
Hi @omar-khan, can I ask you to check on a detail? In the `request.txt` we see the following:

[code]

But in the gif I can see you put `Pashto Journal Name`. This makes me wonder about whether the input details are not getting updated in the request that is sent. Can you do a test for me?

1. Go to Journal  > Settings > Masthead.
2. Enter `Pashto Journal Name` into the journal's name.
3. Save it.

[2020-04-08 10:07] NateWr commented on #4932
It seems to include other metadata but not keywords? :man_shrugging: https://github.com/pkp/ojs/blob/master/classes/search/ArticleSearchIndex.inc.php#L20-L60

[2020-04-08 10:31] omar-khan commented on #5708
@NateWr . I have carried out the following.

Current Journal name is "Pashto" and initials / abbreviation are "Ps". I have changed it to `Pashto Journal Name` in the browser and the request payload is attached:

[response-header.txt](https://github.com/pkp/pkp-lib/files/4449853/response-header.txt)
[response.txt](https://github.com/pkp/pkp-lib/files/4449854/response.txt)
[request.txt](https://gith

[2020-04-08 11:00] NateWr commented on #5708
Thanks @omar-khan, that rules out my theory. I can see the correct input is being sent in the request:

[code]

I don't think either of those warnings are going to be related to this issue. Are you comfortable digging into the code to add some logging? If so, can you find the following line of code:

https://github.com/pkp/pkp-lib/blob/master/classes/services/PKPContextService.inc.php#L426

And ad

[2020-04-08 11:08] NateWr commented on #5610
My feeling is to leave them in pkp-lib and override them in ops but Alec has a better vision for the translation stuff so wait for his recommendation.

[2020-04-08 11:10] NateWr commented on #5709
You're right @heike-r! I should have mentioned that this is part of the new `STATUS_SCHEDULED` status that was introduced in 3.2. Scheduled submissions will get moved into archived.

[2020-04-08 12:12] omar-khan commented on #5708
@NateWr sure thing. After the changes, I changed the name to `Pashto Journal Name` and the output in the log shows:
[code]

[2020-04-08 12:18] NateWr commented on #5708
Fascinating! So it's probably not a database issue. Can you find this line:

https://github.com/pkp/pkp-lib/blob/master/api/v1/contexts/PKPContextHandler.inc.php#L345

And add these error logs:

[code]

Then let me know the output in the log.

[2020-04-08 13:05] omar-khan commented on #5708
Log shows:
[code]
is the server side even receiving the modified data ?? seems not.

[2020-04-08 13:12] ajnyga commented on #5656
This has been added to both OPS master and 3.2.0 stable, so closing. The sitemap will now just list all available links so #5655 needs to be considered at some point.

[2020-04-08 13:17] NateWr commented on #5708
Yeah, it seems like the parsed body of the request is not being read. See if this is available in PHP at all with the following code:

[code]

If it's not coming through to either of those, then I would guess there's some server issue at play...

[2020-04-08 13:29] alexxxmendonca opened #5712 "[OPS] Number of Active queue doesn't match actual queue"
**Describe the bug**
The number that appears in the "Active" tab, indicating the number of active preprints, doesn't match the real queue.

**To Reproduce**
Steps to reproduce the behavior:
1. Have several active preprints (my example has 3)
2. Go to 'Submissions'
3. Click on 'Active'
4. Check that number doesn't match.

**What application are you using?**
Open Preprint Systems 3.2.0 Beta

**Addit

[2020-04-08 13:37] omar-khan commented on #5708
Changed to `$_POST$ and coming as blank:
[code]

[2020-04-08 13:43] NateWr commented on #5708
Ok this seems to me like a server configuration issue. @asmecher do you have any idea why the server wouldn't be passing along a post body?

[2020-04-08 14:00] NateWr commented on #5712
Usually this means that one or more submissions have a data error which is causing the template render to fail. In effect, the submission exists but it isn't being displayed due to an error.

If you have a test database that reproduces this that you can share (privately on slack) we could probably identify the issue.

[2020-04-08 14:19] israelcefrin opened #5713 "OMP - Upgrade error function getSupportedFormLocales()"
**Describe the bug**
When trying to run an upgrade to OMPS 3.2, via CLI, the scripts crashes and stops the process.

**To Reproduce**
Steps to reproduce the behavior:
1. Git clone and run the steps for local installation of OMP 3.2.0-1
2. Run the script php tools/upgrade.php upgrade
3. After `[code: Installer Installer::migrateSubmissionCoverImages]` it crashes

**What application are you using?**

[2020-04-08 15:00] asmecher commented on #5708
That's very odd -- @omar-khan, I'd suggest removing this example from the OJS context entirely:
1. Create a `test.php` script alongside your `index.php` with the following contents:
[code]
2. Using the browser's web developer tools, edit the `PUT` request to point to `test.php` instead of `index.php`
3. Send the modified request and see whether the request variables show up in the script output.

[2020-04-08 15:01] asmecher commented on #5656
Thanks, @jmacgreg!

[2020-04-08 15:01] asmecher commented on #5656
Oops, I mean thanks, @ajnyga!

[2020-04-08 16:21] rondinelisaad commented on #5712
Hello @NateWr,
We have a test database. When you say to share it, you say to share the database dump?
Regards,

[2020-04-08 17:43] asmecher commented on #5610
@willinsky (and @alexxxmendonca), I'm on the fence about changing "Publication" to "Posting" for OPS but leaving it as "Publication" in OJS and OMP. Is there a term that might serve for both applications? (Referring to the same thing by several terms is a frequent source of confusion, both in the application and in the source code. And our long-term goal of supporting different forms of publicatio

[2020-04-08 19:07] willinsky commented on #5610
The term "published" is more a designation of formal significance in publishing than a vocabulary choice, so I'm reluctant to move away from it for OJS or OMP. (The discussion around Covid-19 preprints is bringing this out, although the point often made is that they are not "peer-reviewed" in the context of not having been "published.") I'm not sure that this may help but let me say that where thi

[2020-04-08 19:22] ajnyga commented on #5610
Preprints.org seems to use  `Online: 15 March 2020`.

[2020-04-08 19:42] asmecher commented on #5610
Thanks, @willinsky. If it's palatable to all, let's tweak that kind of language on the front end, and continue to gather feedback and consider the back-end changes. That'll represent less divergence from OJS/OMP until we know it's justified.

[2020-04-08 21:13] omar-khan commented on #5708
Okay I tried:
[code]
and gave `curl -X POST -d 'name=omar&email=abc@gmail.com' http://khyber.org/pacademy/journal2/test2.php`. Output is:
[code]
whereas for `curl -X PUT -d 'name=omar&email=abc@gmail.com' http://khyber.org/pacademy/journal2/test2.php`. Output is:
[code]
So it's a server issue !!!. Well I am extremely obliged for both @asmecher and and @NateWr for looking into this. Do you reckon t

[2020-04-08 21:31] asmecher commented on #5708
@omar-khan, I suppose that check could be added to `lib/pkp/classes/form/validation/FormValidatorPost.inc.php` (for POST requests using our older form code). For the API endpoints I'm not sure it's appropriate to add a check, as an empty POST is essentially a `NOP` in many cases.

I'm not terribly fussed about this as it's the first time we've ever seen it, so I think it's a pretty rare configurat

[2020-04-08 21:32] #5708 closed

[2020-04-08 21:41] willinsky commented on #5610
Okay, I can live with the public-facing changes only. I prefer "posted" as we can use it later for a post button, but I also like the Antti-Jussi's idea of checking other sites (bioArxiv.org "posted"; SSRN "posted"; arXiv.org "submitted") and open to reasons for others.

[2020-04-08 22:24] asmecher commented on #5713
@israelcefrin, I think this is a data error (submissions that are in a non-existent press). Try the following SQL query:
[code]
If you get any results, they'll be the problem rows.

[2020-04-08 22:41] israelcefrin commented on #5713
@asmecher no results returned.

[2020-04-09 00:06] asmecher commented on #5713
@israelcefrin, how about...
[code]

[2020-04-09 01:37] asmecher commented on #5663
Restored the guts of the missing class, but only in the plugin repo. Uploading cover images works again.

[2020-04-09 01:37] #5663 closed

[2020-04-09 04:28] israelcefrin commented on #5713
@asmecher that's it. A missing submission. Thanks!

[2020-04-09 04:28] #5713 closed

[2020-04-09 09:27] NateWr commented on #5712
Yes, if you can share a database dump that would be great. You can find me at @NateWr on forum.pkp.sfu.ca and send it as a private message there.

[2020-04-09 11:28] NateWr commented on #5642
Perhaps their user group assignments as these could be mapped to groups in, eg, MailChimp.

[2020-04-09 11:32] alexxxmendonca commented on #5610
I agree with @willinsky [here](https://github.com/pkp/pkp-lib/issues/5610#issuecomment-611137416) and [here](https://github.com/pkp/pkp-lib/issues/5610#issuecomment-611209446).

[2020-04-09 12:44] rondinelisaad commented on #5712
Hello @NateWr, how are you?
I sent it for you at PKP workspace in slack.

[2020-04-09 13:17] ajnyga opened #5715 "[OPS] Allow moderators and managers to decline a submission"
In OPS managers and moderators need the ability to decline a submission in the production stage.

[2020-04-09 13:33] NateWr opened #5716 "Refactor email templates to better support discovery, reuse and documentation"
**Describe the problem you would like to solve**
Journal managers want to be able to configure email templates to support a wide range of needs throughout the applications. These include:

- Define when custom templates are/aren't available for use.
  - #3523
  - #3193
- Have a documented glossary of what variables are available and when.
  - #3253

**Describe the solution you'd like**
We'll need

[2020-04-09 14:04] NateWr opened #5717 "Improvements to email selection, draft, preview and send during workflow"
**Describe the problem you would like to solve**
Throughout the workflow users take actions which result in emails. In most cases, the user has a chance to select an email template and draft the email that is sent. Users have requested a number of improvements to this that suggest a redesign is in order. These include:

- #2180 Users want to see the final email before sending it, with any preconfi

[2020-04-09 15:10] ajnyga commented on #5716
Not sure if this is included in the suggestions above. But the list should somehow show which templates are used based on chosen settings. For example if one-click is enabled, only some of the review templates are used (should we combine some of those templates is of course another question).

[2020-04-09 16:42] PeterfordUP commented on #5702
Hi @NateWr
Thanks so much for this - this works for our needs, and we'll work on implementing this as you suggest.
Big thanks for the list of things to look out for, too. That'll be a real help.
One question, please could you explain a bit further what you mean by

We weren't sure what you were referring to, when you wrote about a <notification>. Was that a new pop-up notification, like the one th

[2020-04-09 20:23] asmecher opened #5718 "Supporting Agencies field does not appear in submission process"
The Supporting Agencies field can be enabled in the Workflow settings so that it appears during the author's submission process.

However, it does not appear there.

This is like https://github.com/pkp/pkp-lib/issues/5628, but that issue affected the editorial workflow metadata form; this is for the author's submission metadata form.

[2020-04-09 20:25] asmecher commented on #5718
PR: https://github.com/pkp/pkp-lib/pull/5719
@NateWr, could you take a quick look? I'm not sure if this field was removed intentionally during the workflow form rewrite.

[2020-04-09 21:16] asmecher commented on #5685
There were still some references to `PublishedMonograph` that were also breaking this section of code; fixed that as well.

[2020-04-09 21:16] #5685 closed

[2020-04-09 21:19] diegoabadan commented on #5656
I applied this update to a test OSP and unpublished submissions were also inserted. Can you please check?

[2020-04-09 21:20] asmecher commented on #5656
Thanks, @diegoabadan -- reopening for review of the above comment, @ajnyga!

[2020-04-09 22:35] israelcefrin commented on #5179
Hi @thinkbulecount2  and @NateWr , I've reviewed the landing page and I'm not sure which PR to comment, for the moment I will add here my comments but  I can add directly to the PR if you like.

This is regarding heading levels hierarchy on  a article landing page:

**Author Biographies bellow the abstract**
Authors and their affiliation could be  an UL list or a DT/DD list.
For example, using a l

[2020-04-10 01:15] #5675 closed

[2020-04-10 01:16] asmecher commented on #5624
Closing for lack of feedback. If anyone can provide a pre-upgrade database that suffers this error on upgrade, please contact me privately (e.g. via the support forum, https://forum.pkp.sfu.ca)

[2020-04-10 01:16] #5624 closed

[2020-04-10 02:42] navotera opened #5720 "[OJS] Unable to get option value from Theme Option"
Hi
I am creating a custom theme for OJS 3.2.X. I tried to add a new text on the theme setup :
Unfortunately, when I try to show the value of the text option it is not working although in the text value is changed.

Here is my code :
[code]

I test the value by var_dump the result on the frontend and the result always get the **default value (12)** :
` var_dump($this->getOption('recent_article_limi

[2020-04-10 05:52] zalamuia opened #5721 "Unable to install /update OJS 3202 version"
Tried to fresh install or updating given this error
This page isn’t working journals.iium.edu.my is currently unable to handle this request.
HTTP ERROR 500
I have tested in other sites also gives above mentioned error.
find the logged error one of my server

[Fri Apr 10 13:11:52.808596 2020] [ssl:warn] [pid 1524:tid 140141096384384] AH01909: ojs.mynetgear.com:443:0 server certificate does NOT incl

[2020-04-10 06:40] asmecher commented on #5721
@zalamuia, try to manually install the citation style language's Composer dependencies manually with...
[code]
It looks like these were accidentally excluded from the build package; I'll rebuild and post a new copy.

[2020-04-10 06:47] asmecher commented on #5721
(New copy posted, including the missing Composer dependencies.)

[2020-04-10 06:47] #5721 closed

[2020-04-10 07:01] ajnyga commented on #5656
Thanks! Status parameter was missing, I will let the tests run and will merge to master + cherry-pick to stable.

[2020-04-10 07:07] ajnyga commented on #5694
Hi @asmecher and @NateWr
Is there something here that needs to be fixed before merging?

When everthing is merged, I will make sure that OPS master is working with the new changes as well.

[2020-04-10 07:07] zalamuia commented on #5721
Managed to install. Thanks

[2020-04-10 07:30] withanage opened #5722 "[OMP] File mapping for chapters"
#### Description
Chapter file association removes   associated files of the rest of the chapters.

#### Reproduce
* Add two chapter files from type "Chapter Manuscript" into production stage in workflow.
* Create 2 chapters under chapters in   Publication.
* Associate fist  chapter file to the first chapter and save.
* Associate second  chapter file to the second chapter and save.
* Open the fist

[2020-04-10 08:54] jpcv222 commented on #5626
Hi @asmecher,
I am trying to upgrade from version 3.1.4 to 3.2.0. I am getting

`ERROR: Upgrade failes: DB: ERROR: duplicate key value violates unique constraint "citations_publication_seq" DETAIL: Key (publication_id, seq)=(xx, yy) already exists.`

I can not apply https://github.com/pkp/ojs/commit/47ea8dbd229829de10c7b391a72d4220776b137e  because I am using PostgreSQL.

[2020-04-10 15:04] xoaib4 commented on #5215
Yeah. I am looking for this special issue feature in OJS.

[2020-04-10 21:07] TruePepe commented on #5690
Installed 3202 and still the same. Well, not exactly, when I switch on English UI and use it, there is no input boxes for English version at all.
![obraz](https://user-images.githubusercontent.com/14963543/79023171-e9b15f00-7b7f-11ea-865b-2f0e02a4467a.png)

[2020-04-10 22:54] Alleyne commented on #5690
Ongoing with the issue with endless storage withing settings in masthead, journal, website and other places where there was html editor i decided to create a new journal from scratch to compare my database with the new one. The new journal (completely in blank) was working fine, and as @TruePepe mentioned did have the input boxes for the 2nd language in every tab; which my journal did not.
So, I w

[2020-04-11 05:40] zalamuia opened #5723 "OJS 3.2.0-2 Bilingual journal problem many things are not visible"
**Describe the bug**
Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What application are you using?**
 OJS or OMP version X.X.X

**Additional information**
Please add any screenshots, logs or other information we can

[2020-04-11 05:43] zalamuia commented on #5723
Setting Name | Setting Value
-- | --
OS platform | Linux
PHP version | 7.3.16
Apache version | Apache/2.4.41 (Unix) OpenSSL/1.0.2k-fips
Database driver | mysqli
Database server version | 10.1.44-MariaDB

Multiple problems. please find the attached picture /file

Please find the error log

[2020-04-11 08:19] TruePepe commented on #5690
Well,
In my case it have not worked, however there is something wrong here: where I change language setting in the table appears mysterious third language:
supportedFormLocales -> a:3:{i:0;s:4:"b:0;";i:1;s:5:"pl_PL";i:2;s:5:"en_US";}
supportedSubmissionLocales -> a:3:{i:0;s:4:"b:0;";i:1;s:5:"pl_PL";i:2;s:5:"en_US";}
and
supportedLocales -> a:3:{i:0;s:0:"";i:1;s:5:"pl_PL";i:2;s:5:"en_US";}

[2020-04-11 09:06] TruePepe commented on #5690
And maybe important:
Working journal was installed as  2.4.8.1  and upgraded directly to  3.1.1.0 and later every step
Not working was installed as  3.0.0.0

[2020-04-11 15:52] asmecher commented on #5723
@zalamuia, can you include e.g. a screenshot showing the problem?

Also, the error log you included appears to be just part of a long stack trace (calls 41 to 56); the actual error message should be higher up in the log file.

[2020-04-13 00:44] navotera commented on #5720
Sorry  I fix it by change the code order.

[2020-04-13 00:44] #5720 closed

[2020-04-13 02:07] zalamuia commented on #5723
![Becomes symbolic if set to uft8_Page_1](https://user-images.githubusercontent.com/61810595/79086215-d82daa00-7d6d-11ea-8d6d-7235b0ad4785.jpg)
![Becomes symbolic if set to uft8_Page_2](https://user-images.githubusercontent.com/61810595/79086226-e085e500-7d6d-11ea-9adb-180869d28802.jpg)
![Becomes symbolic if set to uft8_Page_3](https://user-images.githubusercontent.com/61810595/79086230-e4b20280-7

[2020-04-13 03:44] solojano commented on #5588
Es una pena saber que la versión OJS 3.2.0-2 no resolvió este error :( . La gente que habla otros idiomas tendrá que esperar...

[2020-04-13 07:32] zalamuia opened #5724 "OJS 3.2.0-1/2 Website setting - Setting and Advance caused error and failed to load syetem info"
![Error-Saving](https://user-images.githubusercontent.com/61810595/79101605-76843480-7d9b-11ea-8f56-9a926f1be540.jpg)

![Error-Saving-2](https://user-images.githubusercontent.com/61810595/79101618-7edc6f80-7d9b-11ea-8c47-da0ff0fbcac5.jpg)

OJS OJS 3.2.0-1 and OJS 3.2.0-2

PHP 7.2.x

[2020-04-13 14:17] jnugent opened #5725 "Notification query getByUserId often run with no indexes used"
We've had slow query logging enabled for a while just to see what the culprits are and it seems that the NotificationDAO::getByUserId query can be run without indexes.  In the schema, the largest index is created with:

[code]
But the query that often runs is:
`
SELECT * FROM notifications WHERE user_id = xxxx AND level = 1 ORDER BY date_created DESC;`

which results in no index being used.  The s

[2020-04-13 16:43] asmecher commented on #5724
@zalamuia, I expect this will be the same issue as https://github.com/pkp/pkp-lib/issues/5723; let's continue to debug it there, and if it turns out to be a separate issue, we can re-open this one.

[2020-04-13 16:43] #5724 closed

[2020-04-13 19:02] dudu9999 commented on #5690
I am in the same mistake.
Someone managed to solve and can you explain to me?

The three lines have this value

![image](https://user-images.githubusercontent.com/17937849/79150627-7d14ab00-7d9f-11ea-94d5-360289e2d51e.png)

I changed all three to the default language but without success.

![image](https://user-images.githubusercontent.com/17937849/79150739-a6353b80-7d9f-11ea-8116-04f735d21d11.png)

[2020-04-14 06:21] ajnyga commented on #5715
Changes were merged so closing.

[2020-04-14 06:21] #5715 closed

[2020-04-14 10:01] NateWr commented on #5702
Yep, I'm imagining a prominent banner that says "Submissions to this journal have been disabled. Visit the workflow settings to [enable submissions](#)."

[2020-04-14 10:03] PeterfordUP commented on #5702
Awesome - glad we're on the same page. Thanks!

[2020-04-14 10:06] NateWr commented on #5718
Looks good to me. :+1:

[2020-04-14 10:11] NateWr opened #5726 "Use lists for authors and author biographies"
**Describe the problem you would like to solve**
Make the author information on the article landing page easier to use for screen readers.

**Describe the solution you'd like**

See https://github.com/pkp/pkp-lib/issues/5179#issuecomment-611786633.

**Who is asking for this feature?**
Accessibility suggestion from @israelcefrin.

[2020-04-14 10:20] NateWr commented on #5179
Thanks for testing @israelcefrin!

- Author Biographies bellow the abstract: I've filed that as a separate issue at https://github.com/pkp/pkp-lib/issues/5726.
- Galleys: Good catch!
- Issue Section: I'm not sure what the "Section" text is that you're referring to. But maybe this has already been addressed? In my copy of the `master` branch, the issue table of contents shows each section (Articles

[2020-04-14 10:24] NateWr commented on #5642
It would be great to see this CSV download attached to the user statistics area (Statistics > Users). One of our longer-term plans is to offer export/download options to all statistics (ie - set up date range, filters for usage stats, and then have the ability to export/download that data set).

Putting the CSV download into the user stats area would align with these plans.

[2020-04-14 10:27] NateWr commented on #5694
Now that we're on concurrent releases with OPS, I think we want to have PRs for all three applications so that their `master` branch stays in sync. So go ahead and work up a PR for OPS as needed.

I am a little backed up on work at the moment but I will try to kick this around and merge it soon.

[2020-04-14 10:43] NateWr commented on #5690
Hi everyone, thanks for the further information. @Alleyne and @TruePepe, are you able to send me database dumps from _before_ you upgrade to 3.2? Ideally, they would be at 3.1.x and working correctly. If you can, please share them in a private message to me on [our forums](https://forum.pkp.sfu.ca/) (@NateWr there too).

@dudu9999, I'm not sure if your problem is the same as theirs. The values you

[2020-04-14 11:12] alexxxmendonca opened #5727 "[OPS] Add ability to send "acceptance" letter"
**Describe the problem you would like to solve**
Example: Add ability to send an "approval" letter to authors when a preprint gets posted, in a similar way of the Acceptance letter in OJS.

**Describe the solution you'd like**
Ideally the message should be configurable (template) and allow editing before sending it.

**Who is asking for this feature?**
This would benefit authors as they would know

[2020-04-14 11:13] NateWr commented on #5407
This doesn't seem to be working. See report: https://forum.pkp.sfu.ca/t/strange-screen-appear-briefly/59824/4

[2020-04-14 11:19] alexxxmendonca opened #5728 "[OPS] Authors names don't appear in all languages interface when data isn't filled accordingly"
**Describe the bug**
When name and last name data are not filled in all languages available, the names don't appear in the public reader interface in which the language wasn't filled.

**To Reproduce**
Steps to reproduce the behavior:
1. Have multi-languages enabled to your Server.
2. Submit a preprint but only fill out the name and last name on the default language fields.
3. Post the preprint.
4

[2020-04-14 11:49] NateWr opened #5729 "Improve activity log and support activity feed"
**Describe the problem you would like to solve**
Every submission has an activity log which can be used to track all editorial activity related to that submission. This activity log is a valuable source of information but is not currently given much consideration -- in how users access it, how useful the information is, and how prominently it is displayed.

**Describe the solution you'd like**
A n

[2020-04-14 11:52] alexxxmendonca commented on #5729
This looks... great? Good job!

If possible, please make sure to distinguish when a user performs an action logged as another user.

[2020-04-14 12:11] NateWr opened #5730 "Improve subject and body of the default email templates"
**Describe the problem you would like to solve**
Emails that are sent out are often missing useful information. Sometimes useful information that could appear in the subject is only available in the body of the email. Sometimes it requires the user to click a link to see it.

The style of the text is often unnecessarily robotic and alienating.

Some examples:
- The subject of emails for editorial

[2020-04-14 12:13] NateWr commented on #3227
Related to https://github.com/pkp/pkp-lib/issues/5730.

[2020-04-14 15:20] israelcefrin commented on #5179
Hi @NateWr

Is the Section heading in sidebar. It is currently the same level than "Issue" heading, even though it is a child element from a hierarchy perspective. See the image below:

![image](https://user-images.githubusercontent.com/4992902/79238270-2eb5e980-7e3d-11ea-950d-0eda6959fdfb.png)

Since both sections are meant to download manuscript files I would suggest "Download full-text files" a

[2020-04-14 16:07] asmecher commented on #5718
Thanks, merged and cherry-picked to `stable-3_2_0`.

[2020-04-14 16:07] #5718 closed

[2020-04-14 16:38] asmecher opened #5731 "Autoloader does not use codesafe upper/lower functions"
From https://forum.pkp.sfu.ca/t/after-upgrade-ojs-3-1-1-4-to-ojs-3-0-2-0-change-language-problem/59830

When using the Turkish locale, the submission list gives an error:
[code]
This is caused by the `lcfirst` call in the `customAutoload` function.

[2020-04-14 16:52] #5731 closed

[2020-04-14 16:57] salmanm2003 opened #5732 "Cannot delete Journal sections"
Hi @asmecher,
I am using OJS 3.2.0-1 and every time I try to delete a journal section I get this error:
[code]
I have tried the latest version 3.2.0-2 as well and still getting the same problem.
The page in Settings > Journal > Sections Tab > delete section

Thanks
Salman

[2020-04-14 17:25] asmecher commented on #5732
Thanks for reporting, @salmanm2003; this is caused by SQL quoting that isn't PostgreSQL-compatible (and affects only PostgreSQL users). You can fix it by applying these changes, relative to the OJS install directory:
https://github.com/pkp/ojs/commit/881ca98eea6feb56b292b3aa171d10b264b7755d
...and these ones, relative to the `lib/pkp` subdirectory:
https://github.com/pkp/pkp-lib/commit/c7f7aca2cfe

[2020-04-14 17:25] #5732 closed

[2020-04-14 17:28] salmanm2003 commented on #5732
Perfect!
Thanks @asmecher

[2020-04-14 17:51] dudu9999 commented on #5690
@NateWr

my problem may not be the same but what is happening is the same, I click save the settings, it keeps loading and does not save, the error is the same in the build file.

[2020-04-14 17:58] asmecher commented on #5732
(Note that I just added an additional change to the list, to correct a typo and fix a missed case)

[2020-04-14 18:05] fradeve commented on #5732
Hi @asmecher thank you so much for looking at this so quickly. Just one minor note (that might be totally wrong): according to the logs, we are seeing an SQL query that is trying to perform an action on a table that has a column named `sectionId`, while the actual column in the DB is `section_id`. Hope this helps :)

[2020-04-14 18:07] asmecher commented on #5732
@fradeve, starting with OJS 3.2, the data has actually moved into the `setting_value` column of the `publication_settings` table.

[2020-04-14 18:16] asmecher commented on #5728
@alexxxmendonca, I believe this is a duplicate of https://github.com/pkp/pkp-lib/issues/5588, can you confirm?

[2020-04-14 18:26] asmecher commented on #5725
@jnugent, there are valid calls for both cases where `context_id` is set and cases where it isn't, so I think another index is warranted (and this is a very frequent call, so it'll likely have a positive impact for a lot of people)! Could you open a PR to introduce the new index via the schema file?

[2020-04-14 18:31] salmanm2003 commented on #5732
HI @asmecher,
As I can see in the DB that the Sections data been stored in `section_settings` not in `publication_settings` and for some reasons the system is trying to check the value `section_id` in `setting_value` which is not there.

[2020-04-14 18:38] asmecher commented on #5732
The query you're looking at is trying to determine what the section ID is for the publication you're looking at; this will be stored in `publication_settings`. If the entry in `publication_settings` with `setting_name='sectionId'` is missing, it means that publication is not designated against a section yet.

[2020-04-14 18:40] dudu9999 commented on #5690
Application Version - OJS 3.2.0.1

Description of issue:
Any list that I access does not appear.

Example:
1 - When I am going to edit a user, the list of papers (Review and page editor) does not appear like this, making it impossible to save after editing.
2 - The list of roles for me to create a new role does not appear.
3 - The navigation pages do not appear the list with all to edit.
4 - Some

[2020-04-14 18:58] salmanm2003 commented on #5732
It makes sense now.
thanks a lot.

[2020-04-14 19:03] asmecher commented on #5683
Pull request: https://github.com/pkp/ojs/pull/2708

[2020-04-14 19:29] ajnyga commented on #5694
Running tests for OPS: https://github.com/pkp/ops/pull/9

[2020-04-14 20:13] israelcefrin commented on #3022
I was wondering how this change could affect a JM workflow and I have two points to draw attention at first moment regarding when a user is invited.

1) If an JM invites a user who was already invited, OJS should let the JM knows that that email address is already invited rather than only in use. This message should cover the time gap from the invitation till confirmation by the user.

2) When an

[2020-04-14 20:22] asmecher commented on #5725
Thanks, merged and cherry-picked back to `stable-3_2_0`.

[2020-04-14 20:22] #5725 closed

[2020-04-14 21:02] asmecher opened #5734 "Component URL camelize/uncamelize functions do not use codesafe uc/lc functions"
In the Administration area, when the locale is set to Turkish, the Navigation Menu Items grid does not load.

Looking at the URL, this is caused by `I` not being lower-cased to `i` as expected.

[2020-04-14 21:03] #5734 closed

[2020-04-15 00:06] asmecher opened #5735 "Resolve SQL errors with picky PostgreSQL servers"
From https://forum.pkp.sfu.ca/t/problem-after-upgrading-to-ojs-3-2-0-2-crossref-plugin-error/59840:

From the PHP error log:
[code]
...and...
[code]

[2020-04-15 00:08] asmecher commented on #5735
Resolved and cherry-picked to `stable-3_2_0`.

[2020-04-15 00:09] asmecher commented on #5735
To resolve this, apply https://github.com/pkp/pkp-lib/commit/5c3d815b71504af9442ec01e6c707bd92d230e9c in the `lib/pkp` subdirectory.

[2020-04-15 00:11] #5735 closed

[2020-04-15 04:47] ajnyga commented on #5694
@NateWr
OJS https://github.com/pkp/ojs/pull/2704
OMP https://github.com/pkp/omp/pull/796
OPS: https://github.com/pkp/ops/pull/9
pkp-lib https://github.com/pkp/pkp-lib/pull/5700

[2020-04-15 05:56] ajnyga commented on #3022
I think the scenario where a user rejects but is invited again mostly applies to review requests. The other case where you usually need the invite feature is when you add new editorial members and the invite process there is more a formality: the new editorial member probably already knows she will be invited before receiving a message.

Now that we are not creating a full user account before the

[2020-04-15 09:22] NateWr commented on #5179
Ah I see. Are you sure that Section is a child heading of Issue? That may not be the case for journals that are doing continuous publishing. It also wouldn't be true if a journal chose other ways to group their articles in the table of contents. It seems to me a common convention but not necessarily a strict relationship.

I'm not sure that "full-text files" is clear to the average user. Also, it

[2020-04-15 09:47] NateWr opened #5737 "Error messages and failed loading after upgrade to 3.2.0.1"
_Originally posted by @dudu9999 in https://github.com/pkp/pkp-lib/issues/5690#issuecomment-613612943_

@NateWr
Application Version - OJS 3.2.0.1

Description of issue:
Any list that I access does not appear.

Example:
1 - When I am going to edit a user, the list of papers (Review and page editor) does not appear like this, making it impossible to save after editing.
2 - The list of roles for me to

[2020-04-15 09:52] NateWr commented on #5737
Hi @dudu9999,

It looks like PHP notices and warnings are being displayed. This is going to cause issues with ajax requests and could be the source of the problems that you're experiencing.

In your `config.inc.php` file, find the `[debug]` section and make sure all of those options are set to `Off`.

Once you do that, you shouldn't see error messages printed to the screen like in [this screenshot

[2020-04-15 10:14] NateWr commented on #3022
I agree with @ajnyga that the invite is usually related to a task. It should be possible to be invited multiple times. I suspect the case of being invited again and again is not a big problem out in the real world, but if we find that it is, we can consider recording the number of invites a user has declined and providing that info to the editor when they are making the invitation.

I think that w

[2020-04-15 10:34] NateWr commented on #5712
Hi @alexxxmendonca and @rondinelisaad,

Thanks for the database bump. I was able to load that up and figure out the source of the problem. It looks like the submissions which are not appearing are all incomplete submissions. This means that they have begun the submission progress (`submissionProgress > 0`) but not yet finalized submission.

During this time, the `stageId` for each submission is `1

[2020-04-15 10:39] ajnyga commented on #5712
hmm, I have an idea what is going on probably.

Since OPS only has one stage (production), the submission form step 4 now sends the submissions straight to production stage. BUT for the submissions that are unfinished the stage is still "submission".

In OJS the unfinished submissions are probably showing ok, because they are in the Submission stage and that stage exists in OJS. But since it does

[2020-04-15 10:53] NateWr commented on #5712
I don't see any reason why not, but you know OPS better. Presumably Production is where any editorial approval happens anyway?

One thing to consider is that probably the lists should identify when a submission is incomplete. Maybe you can add replace the stage details with "In Progress" when it hasn't been finalized?

I think you could put all of these lines into a `<template v-if="!item.submissi

[2020-04-15 11:01] ajnyga commented on #5712
Was just thinking if stepping through the submission form with a submission that is already in production stage would cause problems, but probably not. Yes, all decisions are made in the production stage in OPS. Of course with the new `publications` design the stage is not that important. I mean it could be submission stage as well now.

[2020-04-15 11:11] alexxxmendonca commented on #5712
Thanks @NateWr for figuring it out and @ajnyga for working on it.

[2020-04-15 12:19] alexxxmendonca opened #5738 "[OPS] New notification email link returns "A workflow stage was not specified.""
**Describe the bug**
When a Series Editor receives an email about a new notification, the link to the submission returns a "A workflow stage was not specified."

**To Reproduce**
Steps to reproduce the behavior:
1. Assign a Series Editor to a preprint.
2. Send them a message via "Production Discussions"
3. Check the email sent to the Section Editor and click on the submission link.
4. See message.

[2020-04-15 12:26] alexxxmendonca commented on #5728
Hi @asmecher, yes it is the same issue! Terribly sorry for the duplicate issue.

I'm gonna close this one.

[2020-04-15 12:26] #5728 closed

[2020-04-15 12:39] ajnyga opened #5739 "Different Contributor roles like translators are not taken into account when displaying and exporting metadata"
OJS/OMP/OPS should present different contributor roles more clearly. At the moment there is a theoretical ability to create different kinds of contributor roles, but in reality they are all treated as "authors".

When you add for example a translator and photographer contributors to an article, these contributors are shown the same way as the author in OJS templates and in the metadata exports.

#

[2020-04-15 12:49] ajnyga commented on #5739
missed this when looking through existing issues: https://github.com/pkp/pkp-lib/issues/3962
tagging @ctgraham

[2020-04-15 12:53] ajnyga commented on #5739
Related forum discussions:
https://forum.pkp.sfu.ca/t/mix-with-authors-co-authors-and-translators/49848
https://forum.pkp.sfu.ca/t/crossref-export-contributor-role-translator-is-not-used/47033
https://forum.pkp.sfu.ca/t/ojs3-user-roles/23372

[2020-04-15 13:26] alexxxmendonca opened #5740 "[OPS] "Galleys" section doesn't load"
**Describe the bug**
The "Galleys" section in the Publication tab for a given preprint doesn't load.

**Error log**
`[Tue Apr 14 15:14:57.317420 2020] [php7:error] [pid 19209] [client 192.168.1.71:54783] PHP Fatal error: Uncaught Error: Call to a member function getFileId() on null in /var/www/preprints_scielo_org/htdocs/lib/pkp/controllers/api/file/linkAction/FileLinkAction.inc.php:46\nStack trac

[2020-04-15 14:10] TruePepe commented on #5690
Here you are
PP

wt., 14 kwi 2020 o 19:51 Eduardo Caetano Correa <notifications@github.com>
napisał(a):

--
Pawel Pomorski PhD DSc
Nencki Institute of Experimental Biology
3 Pasteur Str. 02-093 Warszawa
Poland

[2020-04-15 15:30] ajnyga commented on #5740
Not seeing this in new stable 3.2.0.1 installs. Are you seeing this with all preprints

[2020-04-15 15:30] ajnyga commented on #5738
ok, thanks. I will look into this.

[2020-04-15 15:38] asmecher opened #5741 "PostgreSQL "operator does not exist""
See https://forum.pkp.sfu.ca/t/problem-after-upgrading-to-ojs-3-2-0-2-crossref-plugin-error/59840/3:
[code]

[2020-04-15 15:41] alexxxmendonca commented on #5740
Hi @ajnyga

No, it happened with just one preprint. I asked the author to submit again and the new submisssion worked (I can't tell if the author has submitted a new file).

[2020-04-15 15:41] asmecher commented on #5741
To fix this, apply https://github.com/pkp/ojs/commit/41aae5011c1b44aa95380b73e06266472b1a583b.

[2020-04-15 15:41] #5741 closed

[2020-04-15 15:47] ajnyga commented on #5738
I tested this with both the master branch and stable and the link leads to the right place.

What does the link look like?
Are you logged in to the system when you click it?
If you are logged in, with what account?

[2020-04-15 15:55] alexxxmendonca commented on #5738
Hi @ajnyga

_What does the link look like?_
https://preprints.scielo.org/index.php/scielo/workflow/submission/42

_Are you logged in to the system when you click it?_
Yes.

If you are logged in, with what _account?_
Both the Server Admin account and Section Editor account assigned to the preprint:
![image](https://user-images.githubusercontent.com/4059679/79358994-62b20d00-7f18-11ea-954e-613b42662

[2020-04-15 16:12] ajnyga commented on #5738
hmm, ok it should look like https://preprints.scielo.org/index.php/scielo/workflow/access/42

What does your template look like in Settings > Workflow > Emails. The name of the template in English is Moderator Assignment. The current version looks like this.

<img width="1101" alt="Screenshot 2020-04-15 at 19 11 44" src="https://user-images.githubusercontent.com/16347527/79360773-0ae1c900-7f4d-11e

[2020-04-15 16:16] ajnyga commented on #5740
Most likely the author has started to upload a galley, filled in the galley label but the closed the window that is meant to upload the actual file. This results to a situation where you have a galley label without a file and maybe the error that you describe.

@asmecher any ideas how that could be improved. This would of course apply to other places as well where galley grids are used (OJS of cou

[2020-04-15 16:31] ajnyga commented on #5738
(note to myself that https://github.com/pkp/ops/blob/master/controllers/grid/users/stageParticipant/form/StageParticipantNotifyForm.inc.php needs some editing)

[2020-04-15 17:25] asmecher opened #5742 "[OPS] Upgrade to OPS 3.2.0-1 does not sync database schema descriptors"
From https://forum.pkp.sfu.ca/t/fatal-error-after-upgrading-ops3-2-0beta-to-ops3-2-0-1-beta/59877:

This can be solved by running the following SQL query:
[code]

[2020-04-15 17:26] alexxxmendonca commented on #5738
It looks like this:

![image](https://user-images.githubusercontent.com/4059679/79367971-10c3b400-7f25-11ea-95ad-24e7a265140a.png)

We haven't upgraded to the version that was released yesterday yet.

[2020-04-15 17:27] alexxxmendonca commented on #5738
For the record, me as a Server Administrator am getting this when clicking on this link:

![image](https://user-images.githubusercontent.com/4059679/79368074-3781ea80-7f25-11ea-9c53-39a3de82e08b.png)

Should Server Administrators have full access to all?

[2020-04-15 17:40] ajnyga commented on #5738
Sure admins have access to everything, but for some reason the link in your case is probably leading into a stage that does not exist in OPS.

[2020-04-15 18:18] asmecher commented on #5740
@ajnyga, were you able to replicate the problem by closing the modal after adding a label? It's odd that the file ID seems to be set -- suggesting that the file *was* uploaded.

[2020-04-15 19:56] asmecher commented on #5626
@jpcv222, can you check this query? https://github.com/pkp/pkp-lib/issues/5583#issuecomment-601397764

[2020-04-15 20:00] jonasraoni commented on #5642
Hi @NateWr, it makes sense to keep it in Statistics > Users, or as I suggested before, an export button at User & Roles > Users.

I was going to pack it as a plugin, so I'm going to change plans and integrate it into the code base =]

[2020-04-15 20:18] israelcefrin commented on #5179
You are right, that makes sense. I was just thinking about regular cases of NUmber/Volume edition.

Regarding the download labelling, my only concern is making it clear that is possible to have 2 different download sections. Usually, screen readers users skim the page through headings to check the content outline quickly. So, letting it clear what is the difference between these 2 sections could h

[2020-04-16 00:11] asmecher commented on #3304
Went with Stash as it's very widely used and fully stand-alone. Draft PRs:
- https://github.com/pkp/pkp-lib/pull/5743
- https://github.com/pkp/ojs/pull/2710

These remove several broken caching options, which can be re-added later using the new toolset (with a little analysis up front to check what would be the most effective stuff to cache).

[2020-04-16 08:36] NateWr commented on #5690
@TruePepe the file attachment doesn't come through when replying by email to a GitHub issue comment like this. Can you try to send it to me by private message at our forum? https://forum.pkp.sfu.ca

[2020-04-16 09:17] NateWr opened #5744 "Add Noto font for Arabic characters"
**Describe the problem you would like to solve**
We use the [Noto font](https://www.google.com/get/noto/) which aims for visual harmony across different character sets. However, the web font provided by Google only supports Latin, Cyrillic and (I think) Bengali.

This means that languages with other character sets fall back to system fonts, which may or may not display well in the UI.

**Describe

[2020-04-16 09:26] NateWr commented on #5179
Should additional files be nested under the main download? Should it be:

[code]

[2020-04-16 09:32] ajnyga commented on #5742
who removed the schema files from upgrade.xml!

[2020-04-16 09:46] ajnyga commented on #5712
So it seems that moving the submission straight to production stage already in submission step 1 is not causing any trouble.

<img width="1136" alt="Screenshot 2020-04-16 at 12 43 12" src="https://user-images.githubusercontent.com/16347527/79441776-572a1900-7fe0-11ea-9d2d-f273e5281d26.png">

[2020-04-16 10:05] NateWr commented on #3304
This looks great and very easy to use. I left a few comments on the PRs to help me clarify how it's working.

I'm trying to think about what standards and practices we put in place for how we're using this. Particularly in regards to the new entity service classes.

There's a fair bit of annoying code that has to go into ensuring dependencies are passed down when getting the API properties for ent

[2020-04-16 10:08] NateWr commented on #3304
I forgot to mention another good use here would be for the editorial and usage statistics. The API responses (with no filtering params) could be cached on a daily basis which would make it much quicker to load the initial page. It would also make it possible to display this on the frontend without crippling the server.

[2020-04-16 15:10] mfelczak commented on #3022
@NateWr, we had a discussion about this on the hosting team and it may be more helpful to use the JM role for the manual confirmation. In our hosting environment, and possibly others where the Site Admin role is reserved for staff who maintain the install, Editors and Journal Managers often create accounts for their editorial team when first getting started with OJS and they like to configure thei

[2020-04-16 15:27] wrandtkeflvc commented on #5473
I have a similar issue that @AhemNason  had had in the quote above.  I wrote that up here https://forum.pkp.sfu.ca/t/ojs-3-1-1-4-cant-edit-article-metadata-to-add-a-custom-doi-spinner-icon-stays-indefinitely-and-the-doi-does-not-save-to-metadata/59364 .

Could anyone confirm here that @AhemNason 's issue was resolved here in issue 5473, and would be resolved in the OJS 3.2.0 release (which include

[2020-04-16 15:39] israelcefrin commented on #5240
Hi @NateWr and @thinkbulecount2 , I've reviewed this one. The skip to content links are working fine and accessible through keyboard. Screen reader recognize it as links.

I'd just to recommend to move the skip navigation as the first thing of the HEADER container, before the Journal title H1. I mean, move the  `cmp_skip_to_content` to above of `pkp_site_name_wrapper`

Also, adding an aria-label="

[2020-04-16 16:16] ajnyga commented on #5738
Ok, so I was looking at the wrong template. I have a fix for this ready.

[2020-04-16 16:24] ajnyga commented on #5738
OPS: https://github.com/pkp/ops/pull/12

Will cherry pick to OPS stable 3.2.0 after I merge to master.

[2020-04-16 16:33] ajnyga commented on #5740
yes sorry, that was not the reason. Not sure what happened there.

[2020-04-16 16:34] alexxxmendonca commented on #5740
Just want to report back that the version was upgraded today to 3.2.0.1 beta and the problem persists.

The author submitted a new preprint and the problematic one was deleted.

[2020-04-16 16:47] asmecher opened #5745 "[OMP] Upgrade moves thumbnail images to wrong path"
The upgrade process moves thumbnail images to e.g.
[code]
...rather than...
[code]
(Note the double underscore.)

[2020-04-16 16:50] asmecher commented on #5745
To correct this, go to your OMP installation directory and run:
[code]
Please make a good backup before running this!

[2020-04-16 17:03] #5745 closed

[2020-04-16 19:08] dudu9999 commented on #5737
Hi @NateWr
To get new logs I did the steps below.

**1 - I accessed the page.**
![image](https://user-images.githubusercontent.com/17937849/79494995-51413180-7ffa-11ea-9b6e-9ad86c881109.png)

**2 - I accessed the login page**
![image](https://user-images.githubusercontent.com/17937849/79495086-72a21d80-7ffa-11ea-92c5-0ab796d2ca06.png)

**3 - I accessed the settings page / Website**
![image](https:

[2020-04-16 20:50] asmecher commented on #3304
Thanks for the comments, @ajnyga and @NateWr. I've gone through and done a little clean-up. For easy access, here are those same PRs I posted earlier:
- https://github.com/pkp/pkp-lib/pull/5743
- https://github.com/pkp/ojs/pull/2710

I added a new one for the usage stats plugin, which did make use of the old file caching classes:
- https://github.com/pkp/usageStats/pull/29

(Tests are not passing

[2020-04-16 22:03] asmecher commented on #2689
See also: https://forum.pkp.sfu.ca/t/the-important-dates-suggested-by-the-system-to-the-user-do-not-match-the-deadlines-defined-in-the-configuration/59892

[2020-04-17 06:03] jpcv222 commented on #5626
@asmecher, the query from https://github.com/pkp/pkp-lib/issues/5583#issuecomment-601397764 returns 0 rows for me.

[2020-04-17 08:50] Pawel9903 opened #5746 "\APP\components\forms\context\MetadataSettingsForm does not exists"
Hello,
in /lib/pkp/pages/management/ManagementHandler.inc.php line 215 class try import not existing class \APP\components\forms\context\MetadataSettingsForm.
Shouldn't create an instance \PKP\components\forms\context\PKPMetadataSettingsForm ?

[2020-04-17 10:54] alexxxmendonca opened #5747 "[OPS] Decision Letter for "Decline" is not associated to Decline Decision action"
**Describe the bug**
When a moderator declines a preprint, the decision letter is empty. The email template with key `EDITOR_DECISION_DECLINE` is not loaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Submit a preprint as an author.
2. Decline it as a moderator.
3. Notice how the email is blank.

**What application are you using?**
Open Preprint Systems 3.2.0.1

[2020-04-17 11:05] alexxxmendonca opened #5748 "[OPS] Email tag {$authorOrcidUrl} returns invalid URL when used as a link"
**Describe the bug**
The tag `{$authorOrcidUrl}` generated a dynamic link that enables authors to connect their ORCID iD via the API. In order to make a more user-friendly link, instead of using the tag itself, the template suggests to add it to a link (ie: within an `a href`).

However, the platform is automatically adding a `../management/settings/` before the `{$authorOrcidUrl}` tag, which inva

[2020-04-17 13:04] alexxxmendonca opened #5749 "[OPS] Unable to delete Series/Section"
**Describe the bug**
Me as a Server Administrator an unable to delete an existing Series/Section. The only preprint that was associated to it was deleted before doing this. Therefore there are no preprints associated to it.

Error log (it's repeated several times due to several repeated clicks):

`[Fri Apr 17 09:30:11.027083 2020] [php7:error] [pid 14468] [client 192.168.1.71:54905] PHP Fatal erro

[2020-04-17 13:38] ajnyga commented on #5749
It is caused by deleteSection here https://github.com/pkp/ops/blob/master/controllers/grid/settings/sections/SectionGridHandler.inc.php#L226

The reason is that the schema for 3.2.0 stable is missing the `section_id` field. What I do not understand is that the section_id field is available in the master branch version of the schema. Some things like the submissions table were moved in end of Febru

[2020-04-17 13:41] ajnyga commented on #5748
@withanage do you want to look at this?

[2020-04-17 13:45] ajnyga commented on #5742
IMO we should release 3.2.0-2 as soon as possible, some of Scielos problems were probably due to this bug.

[2020-04-17 13:49] ajnyga commented on #5747
The key used there is EDITOR_DECISION_INITIAL_DECLINE

[2020-04-17 14:54] withanage commented on #5748
@ajnyga
Haven't tested the ops with orcid, therefore will take some time. If it is ok, just assign me.

[2020-04-17 15:07] ajnyga commented on #5588
Is there a reason why givenName is called here: https://github.com/pkp/pkp-lib/blob/master/classes/identity/Identity.inc.php#L141-L161

Or should it be:
[code]

[2020-04-17 15:26] ajnyga commented on #5588
I don't think `$this->getSubmissionLocale()` is available here
https://github.com/pkp/pkp-lib/blob/master/classes/submission/PKPAuthor.inc.php#L66 or here https://github.com/pkp/pkp-lib/blob/master/classes/submission/PKPAuthor.inc.php#L32 or here https://github.com/pkp/pkp-lib/blob/master/classes/submission/PKPAuthor.inc.php#L59

Or at least can not figure out where it is set.

[2020-04-17 16:08] ajnyga commented on #5588
We could do `Services::get('publication')->get($this->getData('publicationId'))->getData('locale')`
But not sure how big the weight would be.

One alternative is of course to always call these functions with a given locale.

[2020-04-17 16:11] ajnyga commented on #5588
For example this seems to work:
[code]

[2020-04-17 16:13] asmecher commented on #5746
@Pawel9903, do you see `classes/components/forms/context/MetadataSettingsForm.inc.php` in your installation? I suspect that file is missing.

If that's not the problem, please include which of our apps you're using, what version, and how you installed it (e.g. from `.tar.gz` download, from `git` checkout, or something else).

[2020-04-17 16:28] asmecher commented on #5749
Fixed -- but I'll do a better job of cleaning this up in the `master` branch shortly. We shouldn't be embedding SQL queries directly in handlers like this.

[2020-04-17 16:29] asmecher commented on #5749
(For OPS 3.2.0-0 and 3.2.0-1, apply https://github.com/pkp/ops/commit/b30b4d35871114ef94d1b411aacb2b8815d811f8. For OJS 3.2.0-0, 3.2.0-1, and 3.2.0-2, apply https://github.com/pkp/ojs/commit/e7efceffbcc145e08ce0371a290e170029989f24. OMP is unaffected.)

[2020-04-17 16:29] #5749 closed

[2020-04-17 16:30] asmecher commented on #5742
I can do this today; let me know if/when you're finished pulling anything else into the stable branch for it.

[2020-04-17 16:30] #5742 closed

[2020-04-17 16:38] ajnyga commented on #5742
I am working on the galley editing issue you mentioned in Slack. Otherwise I cherry-picked these to stable branch today https://github.com/pkp/ops/pull/12 and https://github.com/pkp/ops/pull/11

[2020-04-17 17:00] ajnyga opened #5750 "[OPS] Users are able to change galley file in published version"
https://forum.pkp.sfu.ca/t/author-is-able-to-change-galley-file-in-published-version-ops3-2-0-1/59891

[2020-04-17 18:08] andrzejwachalowicz commented on #5640
It worked. Thanks.

[2020-04-17 19:28] #5746 closed

[2020-04-17 20:38] asmecher commented on #3304
@NateWr, I like what you're laying out for object caching. In previous OJS releases we had this for published articles, issues, and sections, which make sense as our emphasis on decreasing load should focus on the publishing front end. But I think a consistent application of a standard to the codebase at large will make for broad improvements, and make caching less of an occasional quirk and more