[2017-02-28 20:46] bozana commented on #2114
@ajnyga, I don't think so -- if the file name in UI and submission locale is not found, any other found name will be displayed. Only if a user edits the form and there is no entry for submission locales, he/she will have to enter it.

[2017-02-28 20:50] bozana commented on #2114
@asmecher, could you maybe also take a look (s. https://github.com/bozana/pkp-lib/commit/a64cfad959d5bdc5ff988c2ac6029c38820b9087) and especially:
-- if it is OK to only require submission locale input for files and submission metadata, and no journal primary locale at all
-- how the file names are generated (using the submission locale for translation)

[2017-02-28 23:01] bozana opened #2320 "ROLE_ID_SUBSCRIPTION_MANAGER"
This role id is used e.g. in the Upgrade.inc.php but it is nowhere defined...

[2017-02-28 23:20] bozana opened #2321 "fix submission language export"
the submission language is exported as locale attribute

[2017-02-28 23:24] bozana commented on #2321
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2322

[2017-02-28 23:30] bozana commented on #2319
PRs:
ojs master: https://github.com/pkp/ojs/pull/1285

[2017-02-28 23:35] bozana commented on #2319
@jmacgreg, would it be possible for you to test the last changes:
-- https://github.com/pkp/ojs/commit/a741ca02ed56f49a146babdd31bdc8cb77821388
-- https://github.com/pkp/pkp-lib/commit/043c4c8f388d246c2277b5d7c1fb430bec7618a3
There was also a bug in the export of submission language, so it would be good if you would also export the issue again (after applying these changes) before importing it...

[2017-03-01 00:38] jmacgreg commented on #2319
Thanks Bozana! I’ll give this a try, and ask the client in question to retry as well.

Cheers,
James

[2017-03-01 10:16] ajnyga opened #2323 "[OJS] OJS3.0.2. showing "Review Due" even when the review assignment is not accepted"
This is related to https://github.com/pkp/pkp-lib/issues/2275 but is an independent issue.

Basically OJS 3.0.2. does not check whether the reviewer has accepted the request and shows "review due" anyway.

I will post  pr in a minute.

[2017-03-01 10:27] ajnyga commented on #2323
@bozana @asmecher the pr is here https://github.com/pkp/pkp-lib/pull/2324

After the pr the logic here https://github.com/pkp/pkp-lib/blob/master/controllers/grid/users/reviewer/ReviewerGridCellProvider.inc.php#L54-L66 is:
[code]
Basically this means that if the assignment _is not confirmed_, this will first return `overdue_response` and only if it is confirmed it will return `overdue`. So basical

[2017-03-01 13:45] jmacgreg commented on #2319
Hi Bozana, all looks good to me - thanks for the quick fix!

[2017-03-01 13:56] gen-ass commented on #1482
@asmecher hi, you mentioned the PHP 7.0 update

was it introduced in the OJS 2.4.8.1 version?

[2017-03-01 15:36] bozana opened #2325 "BFR and OFR plugin work"
BFR, s. http://forum.pkp.sfu.ca/t/how-to-archive-published-book-reviews-ojs-2-x/28685/8
-- consider actualizing status to published, when the review article was published
-- improve using the keyboard (tab key) to move down between the fields when entering data
-- provide migration to OFR
OFR, s. http://forum.pkp.sfu.ca/t/two-questions-about-objects-for-review-plug-in/17718/2
-- do not display emp

[2017-03-01 17:01] #2321 closed

[2017-03-01 17:08] #2319 closed

[2017-03-01 17:51] asmecher commented on #1482
@gen-ass, OJS 2.4.8-1 still uses a class called `String` and thus won't currently work with PHP7. Have you looked at OJS 3.x?

[2017-03-01 18:22] asmecher commented on #2316
@ajnyga, thanks for tracking this down. I'm not sure whether there's anything we ought to do here, beyond noting it in case someone else hits the same problem. We also occasionally have similar run-ins with `mod_security` in other situations, and my feeling is that we shouldn't rename elements of the software to suit overreaching rules like this.

[2017-03-01 18:36] asmecher commented on #1815
Thanks, @bozana. On balance I think this is too risky to merge in so close to the release, and since we haven't been able to get confirmation from GS about whether OMP content is getting indexed anyway, there's little upside at the moment. I'll go through the rest of the review comments and fix, but leave unmerged until after OMP 3.1 is released.

[2017-03-01 18:40] gen-ass commented on #1482
Thanks, I am busy testing OJS 3.X...

[2017-03-01 18:58] ctgraham opened #2327 "ArticleSearchIndex::_updateTextIndex() clears prior indexed content"
Calls to `ArticleSearchDAO::insertObject()` in [OJS 2.4.8](https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/classes/search/ArticleSearchDAO.inc.php#L159-L189) and [OJS 3.0.2](https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_2/classes/search/SubmissionSearchDAO.inc.php#L89-L117) clear existing object keywords if they exist.

The function `ArticleSearchIndex::_updateTextIndex()` calls `ArticleSear

[2017-03-01 19:01] asmecher commented on #1482
Sounds good, @gen-ass. We'll probably release an OJS 2.4.x that doesn't clash with PHP7, but not until PHP7 has a larger install base -- it's currently at <3%.

[2017-03-01 19:01] ajnyga commented on #2316
Yes agreed, there is not much sense in filtering `/event-log/` to start with in my opinion. Maybe it would be actually better to send a bug report to the plugin developer.

[2017-03-01 19:15] asmecher commented on #2316
Agreed, thanks!

[2017-03-01 19:15] #2316 closed

[2017-03-01 20:31] asmecher opened #2328 "Missing review round ID during file revision"
From @stranack:

![reviewroundid](https://cloud.githubusercontent.com/assets/200411/23479917/e9ae5894-fe7a-11e6-9319-1bfdab85056f.png)

[2017-03-01 20:32] #2328 closed

[2017-03-01 20:48] asmecher commented on #2114
@bozana, looks good -- but I do think the getLocalizedData function's performance hit needs attention before merging.
@ajnyga, does this approach look like it'll resolve things for you?

[2017-03-01 21:05] ajnyga commented on #2114
Very much so, more than originally suggested. I mean I did not think that much about the rest of the metadata, but now that the topic has been discussed using only the submission locale as the required one makes a lot sense. Regarding the original topic, I am happy with any solution that does not confuse authors. I did not have the time to test the code yet, but will tomorrow. Thanks!

[2017-03-01 23:04] asmecher commented on #2114
We're within a hair of having this done -- but I'm going to push it over to OJS 3.1 so I can get OMP 3.1 released. (We don't have any reports of this showing up amongst our current OMP users, so I suppose none of them have the required language config to cause it.) I don't mind if it gets merged the day after the OMP 3.1 release :)

[2017-03-02 08:47] mittinatten commented on #2309
Thanks!

[2017-03-02 09:29] mittinatten opened #2329 "Postgres-problems with PKPUserDAO"
Postgres only supports single quotes for values, as in `WHERE field = '...'`. The function `getUsersByField(...)` in `PKPUserDAO`, has double-quotes around `CONTROLLED_VOCAB_INTEREST`.

Here's a patch https://github.com/pkp/pkp-lib/commit/569e33ef0385e934ce7879f8a7a98297977bb74f.

As far as I can tell this shouldn't have any negative consequences for MySQL but haven't been able to test it.

[2017-03-02 10:27] ajnyga opened #2330 "[OJS] Enable editors to edit page numbers from the issue TOC view"
In OJS2 the editors were able to edit the page numbers from the TOC view. This is a feature many of our editors have requested to OJS3 as well. I realize that the TOC view should be kept as clean as possible, but managing the pagenumbers only via the "Schedule for publication" modal is cumbersome.

[2017-03-02 12:57] ajnyga opened #2331 "[OJS] OJS3.0.2. empty submission checklist results to PHP warnings"
Not a big issue, but worth solving in some point. If a journal has a empty submission checklist and you open the first tab in the submission form, you get these errors:
[code]

[2017-03-02 13:52] bozana commented on #2114
PR:
lib-pkp master: https://github.com/pkp/pkp-lib/pull/2332
ojs master: https://github.com/pkp/ojs/pull/1287 (only submodule update)

[2017-03-02 13:52] bozana commented on #2114
@asmecher, could you take a look at the PR?

[2017-03-02 15:10] bozana commented on #2323
HI @ajnyga, the e-mail template is always the same (REVIEW_REMIND), in both cases (when review respond is due as well as when review is due)., s. https://github.com/pkp/pkp-lib/blob/master/controllers/grid/users/reviewer/form/ReviewReminderForm.inc.php#L67. Thus this change would not change that. Thus, I would leave it as it is -- it is not quite wrong to display the last overdue date/action (mean

[2017-03-02 16:04] bozana commented on #2329
Hi @mittinatten, would you like to make a PR?

[2017-03-02 16:20] bozana commented on #2173
@asmecher, would it be ok to set date_response_due in review_assignments to date_due if the first one is NULL i.e. migrated from OJS 2.4.x? (s. issue 4. above).

[2017-03-02 16:22] ctgraham commented on #2327
Similarly here: https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/classes/submission/form/SuppFileForm.inc.php#L255-L276

My first thought was to add a new constant ARTICLE_SEARCH_SUPPLEMENTARY_FILE_METADATA to ArticleSearch.inc.php, but this would potentially confuse the mapping of `ArticleSearch::getIndexFileMap()` and dependencies of the use and display of two different search bitvalues mapped t

[2017-03-02 16:39] asmecher commented on #2114
Looks good, @bozana, please go ahead. I don't love the way we're moving `submissionLocale` into `SubmissionFile`, but I think it's OK for now; if we find we need a better pattern or need to use this one repeatedly, we can clean it up later. Thanks!

[2017-03-02 16:50] asmecher commented on #2331
Added an explicit cast, thanks!

[2017-03-02 16:50] #2331 closed

[2017-03-02 16:53] ajnyga commented on #2323
Thanks @bozana

This is not really about the email templates. I am talking only about the review assignment status that is shown to the editors in the review stage.

I think it is not logical for a review to be late if the reviewer has not even responded yet. In my opinion something can be late only if something has been promised.

Also, why should we show the same status for these cases:
- no res

[2017-03-02 16:56] NateWr commented on #2323
That sounds right @ajnyga. I think the original idea was that a lapsed review due date is more serious, and therefore a higher priority, than a lapsed response due date. But you're right that it ends up presenting misleading information.

I can only think of one other case to account for in your logic. If the response due date is _after_ the review due date, and the review is not confirmed, your l

[2017-03-02 17:10] ctgraham commented on #2327
`ArticleSearch::_indexObjectKeywords()` assumes a empty index, so parameterizing a flag to to avoid clearing existing keywords starts to get messy quickly.

[2017-03-02 17:11] bozana commented on #2114
Thanks @asmecher! I added the comment for the get/setSubmissionLocale and merged. This should be cherry-picked to ojs-stable-3_0_2, right?

[2017-03-02 17:35] asmecher commented on #2114
Yes, I think so, thanks!

[2017-03-02 17:40] ajnyga commented on #2323
Hmm, maybe then something like this
[code]

[2017-03-02 19:04] asmecher commented on #2173
Yes, I think that's a good solution.

[2017-03-02 19:33] ajnyga commented on #2173
At least I have not heard about any problems related to this solution.

[2017-03-02 19:42] bozana commented on #2114
Everything merged, thus closing...

[2017-03-03 10:42] bozana commented on #2329
PR merged and cherry-picked to master, thanks a lot @mittinatten! Closing...

[2017-03-03 10:42] #2329 closed

[2017-03-03 14:06] ajnyga commented on #2010
These are the changed I did to enable site level search in OJS3.

https://github.com/pkp/ojs/blob/master/pages/search/SearchHandler.inc.php#L32
`if ($request->getContext()) $this->addPolicy(new OjsJournalMustPublishPolicy($request));`

https://github.com/pkp/ojs/blob/master/templates/frontend/objects/article_summary.tpl#L15
[code]

https://github.com/pkp/ojs/blob/master/templates/frontend/pages/se

[2017-03-03 14:07] Glottotopia commented on #1692
For the record, Language Science Press runs OMP and has DOIs for both books and chapters e.g. http://langsci-press.org/catalog/book/121 . There have been requests by authors to have landing pages for chapters as well, different from the landing page for books. This is currently not possible.

[2017-03-03 17:22] bozana commented on #333
Hi @ctgraham, do you maybe know what is still left to do here? -- I lost the overview... :-\
For example, I believe, we still have to migrate it for Crossref in OJS master, right?

[2017-03-03 18:04] ctgraham commented on #333
Yes, I think forward porting to master is the last missing piece.

[2017-03-03 18:09] bozana commented on #333
OK, I can do that. Only Crossref?

[2017-03-03 18:16] ctgraham commented on #333
I think so.  The other use cases should be already covered in pkp/pkp-lib#2075 and pkp/pkp-lib#2076.

[2017-03-03 20:41] bozana commented on #333
Thanks a lot @ctgraham!!! :-)))

[2017-03-03 23:38] asmecher opened #2336 "Clean up TemplateManager::display / TemplateManager::fetch"
PHP7 doesn't like these functions' liberal overrides of parent function parameter lists. `fetch` and `display` are also intertwingled -- each should call its parent, rather than the current practice of `PKPTemplateManager::display` delegating to `PKPTemplateManager::fetch` and avoiding its own parent implementation entirely.

[2017-03-04 00:58] asmecher commented on #1923
@ctgraham, just FYI: with OMP 3.1 out and OJS 3.1 a few months out, I'm making some related compatibility-breaking changes -- see e.g. https://github.com/pkp/pkp-lib/issues/2336. Shall we see if we can get this bashed into shape and merged sometime in the next week? Let me know where it's at and what your time looks like, and I'll fill in the rest.

[2017-03-04 11:15] mtub commented on #1858
Closing this as a decision has been made regarding script variant names: It's going to be

(language code)_(COUNTRY CODE)@(variant)

Examples:

`sr_RS@latin` (Serbian, Latin script) and `sr_RS@cyrillic` (Serbian, Cyrillic script)

[2017-03-04 11:15] #1858 closed

[2017-03-04 11:16] mtub commented on #1858
Still waiting for OJS to be ready to handle those longer locale names, see #1911 for progress and discussion.

[2017-03-04 11:17] mtub opened #2337 "[OJS] Update Serbian locale"
A decision has been made regarding the locale names, see #1858 and #1911.

Opening this issue to track the renaming and updating of two Serbian locales.

[2017-03-04 11:27] mtub commented on #2337
At the end of this process, the sr_SR folders (which are using the wrong country code and do not include the script variant) will have been removed/replaced.

[2017-03-05 20:24] kaschioudi commented on #1911
@asmecher : Please see https://github.com/kaschioudi/pkp-lib/commit/3aef0a7aded17de898fd44f73c936a5da1301afe and https://github.com/kaschioudi/ojs/commit/4ff951108d943cfed9cbf2d42a18314a25305052

[2017-03-06 10:17] ajnyga opened #2338 "[OJS] OJS3 Usage Statistics plugin displayStatistics setting not context specific"
Hi, tagging @bozana here because I think that you have dealt the issues with this plugin before :)

It seems that you can not disable or enable the "Display submission statistics chart for reader" setting just for one context at the moment. If I turn it on for one journal, it turns on for all.

This probably means that when an editor of a journal does that, she will disable/enable the setting for

[2017-03-06 10:23] bozana commented on #2338
Hi @ajnyga, the whole plugin is site-wide meaning that everything is for the whole site. I will take a look if it would be possible to somehow consider the display context specific...
Thanks!

[2017-03-06 10:33] NateWr commented on #2323
That looks good @ajnyga, and for me at least that logic is a lot easier to follow. I'll copy it for some refactoring I'm doing related to some new submissions list stuff I'm doing. :+1:

[2017-03-06 11:11] ajnyga commented on #2338
Ok, thank you again.

The thing is that I do not whether all journals want to show those ALM's on their site. Of course this is something I can also change in their own theme plugin if necessary.

[2017-03-06 13:00] bozana commented on #1923
@ctgraham, would it be maybe also possible to consider just some of the plugin settings on context-level in the similar way? -- For example, the statistics display on the article page. -- The usage statistics plugin is site-wide and it is good that most of the settings (e.g. the statistics log format) are site-wide, but it would be nice for journals to configure the display/chart on their own.

[2017-03-06 13:49] bozana commented on #2323
@ajnyga, I can then change it that way, if you want... :-)

[2017-03-06 13:58] ajnyga commented on #2323
Hi,

@bozana @NateWr thanks, I am just suggesting stuff, it is really up to you what you choose to merge and I realize that I am only presenting one way of thinking. But if that looks logical then It would be nice to have that change there!

[2017-03-06 14:18] ctgraham commented on #1923
@asmecher, I will be focused early this week on fixing https://github.com/pkp/pkp-lib/issues/2327 and working some data cleanup that accompanies it and http://forum.pkp.sfu.ca/t/keyword-indexing-for-word-documents-doc-docx/29040.  I may get back to this refactoring Wednesday and/or Thursday, then will be out of office for a few days.  I haven't done anything beyond searching for usages of GridCell

[2017-03-06 14:33] ctgraham commented on #1923
@bozana, interesting consideration.  I wonder what practically this would look like.  Individual setting overrides would be a UI/UX nightmare, I suspect; so perhaps groups of settings?  But if we group settings and functionality together, doesn't that make for a separate plugin?

[2017-03-06 15:27] NateWr commented on #2022
@asmecher This is getting blown away with the new submissions list panel component I'm introducing. During the rebase, I've kept the `sectionId` parameter in the `SubmissionDAO::getAssignedToUser()` method. So if we want to talk about advanced filters we can do that down the line.

[2017-03-06 16:51] asmecher commented on #1923
Thanks, @ctgraham. Maybe with your permission I'll run with the `$request` stuff in constructors and merge it this week?

[2017-03-06 17:04] ctgraham commented on #1923
Permission happily granted.

[2017-03-06 17:35] NateWr commented on #2163
I've made an initial set of PRs so that we can begin discussing some of the architectural choices involved in integrating Vue.js.

PRs:
https://github.com/pkp/pkp-lib/pull/2339
https://github.com/pkp/ojs/pull/1299

**What's here:**
- Implements [webpack 2](https://webpack.js.org/) to manage JS dependencies and compile [single-file Vue.js components](https://vuejs.org/v2/guide/single-file-component

[2017-03-06 21:51] asmecher opened #2340 "Fix readonly flag of alt tag in article cover upload"
See http://forum.pkp.sfu.ca/t/ojs-3-can-not-fill-alternate-text-in-metadata/29136.

[2017-03-06 21:52] #2340 closed

[2017-03-07 10:07] NateWr commented on #2072
Thanks for the demo of the versioning yesterday @lilients. I had one brief note on language I forgot to mention: instead of "Edit metadata for this version" can we say "Edit Version Metadata"? I think that will fit the button on one line -- at least in English, no promises for German. :)

Also, just a note before this issue is closed out: we need to make sure versioning is displayed properly in th

[2017-03-07 10:46] willysr opened #2341 "OJS 3.0.1 -> 3.0.2 upgrade problem"
Hi

i have a working OJS 3.0.1 and when i tried to upgrade to OJS 3.0.2, i got stumped at the last step, upgrading DB using command line PHP

[code]

[2017-03-07 10:53] ajnyga commented on #2274
Another issue related to this.

This code https://gist.github.com/ajnyga/24964fb0a595a16917bd0e6bee66e42d does fix the problem I described above with the whole context changing in some cases, explained here: https://github.com/pkp/pkp-lib/issues/2274#issuecomment-283079770

However, there is another related issue. If you have this `{$contextUrl}` in a mail template it can be pretty much anything d

[2017-03-07 16:17] bozana opened #2342 "Add "Assign DOIs to all journal articles" button in the DOI plugin settings"
s. http://forum.pkp.sfu.ca/t/ojs-3-no-dois-generated/28470/7

[2017-03-07 16:38] defstat commented on #2064
@asmecher for the URL standardization we could change the

https://github.com/pkp/pkp-lib/blob/master/classes/mail/MailTemplate.inc.php#L254

adding a check if the value if a url like:

`if (filter_var($value, FILTER_VALIDATE_URL) != false) {
     $value = "<a href='$value' class='$key-style-class'>$value</a>";
}

$subject = str_replace('{$' . $key . '}', $value, $subject);
$body = str_replace('{$

[2017-03-07 16:38] bozana commented on #1923
@ctgraham, yes, I think you are right...

[2017-03-07 17:02] defstat commented on #2064
@asmecher As for the other comment [https://github.com/pkp/pkp-lib/issues/2064#issuecomment-282851157]

Maybe we could tag the parameters, by using an other variable for the fbvElement except from `variables`

For example
https://github.com/pkp/pkp-lib/blob/master/templates/controllers/modals/editorDecision/form/promoteForm.tpl#L39

We could name that `variableType ` and contain tags for the param

[2017-03-07 18:06] NateWr commented on #2323
I integrated this logic with some changes I'm making to the ReviewAssignment status code in a PR that's connected to the new submission list component:

https://github.com/pkp/pkp-lib/pull/2339/commits/5dfcd1ebc88ff0f0c506339a498836094740953c#diff-f66bf03a819f6fa88df1860150054f1eR491

We hope that will go into 3.1, in which case this will get fixed alongside that.

[2017-03-07 18:18] ajnyga commented on #2323
thanks, I will stick with a local change till then.

[2017-03-07 18:30] asmecher commented on #2341
@willysr, I think you've mixed OJS 3.0.1 code in with your OJS 3.0.2 code -- make sure you don't just unpack your 3.0.2 code over your 3.0.1 code, as it'll result in ReviewReportPlugin being implemented in two different places. Follow the "full package" upgrade steps in `docs/UPGRADE`.

[2017-03-07 18:30] #2341 closed

[2017-03-07 19:06] willysr commented on #2341
Thanks.
i followed the instructions and it upgraded now.

Will there be any patch just like 2.4 before?

[2017-03-07 19:08] asmecher commented on #2341
@willysr, we're no longer generating/distributing patches ourselves, as they miss important things like binaries (images etc). You can generate patches from github if you like, but I'd recommend working directly with git if you want an experience that parallels patch-based upgrades but with better tooling.

[2017-03-07 19:09] willysr commented on #2341
@asmecher thanks for the heads up

full upgrade is trivial, but need some time as this is the first time upgrading in OJS 3.
I used the patch in the previous 2.4 and it was working nicely.

[2017-03-07 19:11] bozana opened #2343 "issue ordering"
issue ordering does not function well sometimes, s. http://forum.pkp.sfu.ca/t/order-of-published-issues-ojs-3-0-2-0/29182
the `resequenceCustomIssueOrders` is not necessary in `moveCustomIssueOrder` in IssueDAO, s. https://github.com/pkp/ojs/blob/master/classes/issue/IssueDAO.inc.php#L779.

[2017-03-07 19:11] willysr commented on #2341
So i ran the php tools/upgrade.php check and i got this

[code]

is this correct? since the latest one should be 3.0.20

[2017-03-07 19:17] asmecher commented on #2341
@willysr, that's fine -- I haven't moved the "latest" flag over to the 3.x line yet, but it's strictly informational. In the future, please post questions on our forum at http://forum.pkp.sfu.ca/.

[2017-03-07 19:18] bozana commented on #2343
PRs:
master: https://github.com/pkp/ojs/pull/1301
ojs-stable-3_0_2: https://github.com/pkp/ojs/pull/1302

[2017-03-07 21:03] bozana commented on #2258
@asmecher, how can the filters and filter groups in the DB be upgraded (e.g. the XML schema there)? Would upgrade do it automatically, or shall I write the appropriate SQL in an upgrade script? THANKS!

[2017-03-07 22:10] bozana commented on #333
the improvement migrated to master: https://github.com/pkp/ojs/pull/1303
can this issue be closed now?

[2017-03-08 13:24] ctgraham commented on #333
Yes, closing....

[2017-03-08 13:24] #333 closed

[2017-03-08 15:57] #2343 closed

[2017-03-08 16:19] bozana commented on #2342
PRs:
ojs master: https://github.com/pkp/ojs/pull/1304

[2017-03-08 16:21] bozana commented on #2342
@NateWr, could you code review this PR?

[2017-03-08 16:35] defstat commented on #2064
@asmecher
#2344
[OJS]#1305

[2017-03-08 23:21] asmecher commented on #2258
Hmm, I think this will probably take manual SQL; I don't believe the filter stuff is prepared to update its own schema URLs in the case of a change.

[2017-03-08 23:34] asmecher commented on #2320
@stranack, the subscription manager is an OJS2 role that'll need some UI/UX consideration for OJS3. In our current role model, we've got a small number of roles, then flexible assignments of those roles to the various stages of the workflow. The subscription manager kind of falls outside of this; we could either add it as a role, with the stage assignment grid not used in this case, or we could e.

[2017-03-09 14:36] ajnyga commented on #1828
Hi, can't confirm that letters ö, ä, å would be affected as it sis suggested in the issue above. I also tested all other similar letters I could think of, but still no problem. Both in Chrome and in Safari.

![2017-03-09 04 32 22 pm](https://cloud.githubusercontent.com/assets/16347527/23754610/41ae5622-04e6-11e7-990c-a657ed76f526.png)

[2017-03-09 15:46] bozana opened #2346 "pub id plugins: display reassign and asignDOIs notifications in the right time"
The notification messages are first displayed later, when the modal is closed, which does not make sense, s. https://github.com/pkp/ojs/pull/1304#discussion_r105128469

[2017-03-09 16:04] defstat commented on #2064
@asmecher #2344 for [https://github.com/pkp/pkp-lib/issues/2064#issuecomment-282851157]

[2017-03-09 16:38] #2342 closed

[2017-03-09 18:41] asmecher commented on #2336
Pulls:

- https://github.com/pkp/omp/pull/397
- https://github.com/pkp/pkp-lib/pull/2347/files
- https://github.com/pkp/ojs/pull/1307

[2017-03-09 19:08] asmecher commented on #2327
Thanks, @ctgraham -- merged and ported to `ojs-stable-2_4_8`.

[2017-03-09 19:08] #2327 closed

[2017-03-09 19:25] #2336 closed

[2017-03-09 19:26] asmecher commented on #2336
All merged. This is likely to break a few things.

[2017-03-09 20:02] ctgraham opened #2348 "[OJS 2.4.x] Public Profile link from comments is broken"
In templates/comment/comments.tpl, each call to `{translate key="comments.authenticated" ... }` is missing the `publicProfileUrl` parameter.  As a result, the links to authenticated user names from .../comments/view/... all hyperlink as `<a href="{$publicProfileUrl}">`.  See: http://forum.pkp.sfu.ca/t/how-to-get-the-public-user-profil-url/29106/10?u=ctgraham

Exists at:
https://github.com/pkp/ojs/

[2017-03-09 21:22] ctgraham commented on #2327
@asmecher, it looks like forward porting this to 3.x is unnecessary because 3.x doesn't index the metadata for files, only metadata for articles?  Am I reading that right in ArticleSearchIndex.inc.php and SubmissionSearchIndex.inc.php?

[2017-03-10 06:21] Ph-We commented on #1828
Hebrew was reported to be affected: https://github.com/aehlke/tag-it/issues/22
I suspect Chinese, Japanese and any other languages with many symbols in their alphabets might be affected too.

[2017-03-10 09:34] atarix83 opened #2349 "[OJS 2.4.x] Plugin usageStats incompatible with PECL geoip"
Hi,
With PECL geoip extension installed I have this error while is running scheduledTasksAutoStage.xml :

`Cannot redeclare geoip_country_code_by_name()`

Function is defined both in plugins/generic/usageStats/lib/geoIp/geoip.inc and PECL extension.

This error interrupts the execution of the scheduledTask.

[2017-03-10 11:12] defstat commented on #2267
I can see two approaches to that:
1. We could change the https://github.com/pkp/ojs/blob/master/classes/issue/IssueDAO.inc.php#L239 function to reflect the same order of issues as the https://github.com/pkp/ojs/blob/master/classes/issue/IssueDAO.inc.php#L579 function. we could call the https://github.com/pkp/ojs/blob/master/classes/issue/IssueDAO.inc.php#L579 function and get the top 1 issue from

[2017-03-10 13:21] defstat commented on #2269
@asmecher, @NateWr  PR #2350

[2017-03-10 14:45] defstat commented on #2306
@asmecher PR #2351

[2017-03-10 15:32] defstat commented on #2312
The editLinks that are currently in code are:
1. https://github.com/pkp/pkp-lib/blob/master/templates/frontend/pages/contact.tpl#L25
- The link goes to press#contact and not to journal#contact, maybe because of some fix for OMP. If that's the case, how can we distinguish the two, as the code is in pkp-lib?
- Maybe we should put a general title there so that the editLink will not be next to breadcr

[2017-03-10 15:37] lilients commented on #2280
Hi @mtub

I changed the URL at the citation format plugins to the version URL (https://github.com/lilients/ojs/commit/4b59bfbc08d831dceeed721cd52b7dc0cf801fbc). Also the metadata is displayed recordingly to the version.

![howToCite1](https://raw.githubusercontent.com/lilients/img/master/versioning_howToCite1.png)

This way the version URL will always be displayed at the citation block and not the

[2017-03-10 15:55] lilients commented on #2072
@mtub and @NateWr: thanks for all your input and ideas! 🎈

I improved the versioning settings and added an info text for the journal (see [description](https://github.com/lilients/ojs/wiki/Article-versioning-in-OJS/d7ac47859a855fd04ca699cae3850f2a04550709)).

[2017-03-10 16:15] ajnyga commented on #2173
Hi @bozana

Regarding issue 2 here. I found out an interesting problem with the assumption that there is only one reviewer file present.

It turned out that some reviewers have uploaded several attached files in OJS2. Because the UI there was not very clear about the file revisions they have not noticed that they are basically loading a new version of a same file (file_id).

So after upgrading to

[2017-03-10 16:48] asmecher opened #2353 "Test migration of ADODB to Composer dependency"
Discarding the OJS upgrade code pre-2.4.x may have obviated the few ADODB tweaks we're maintaining locally. Test moving ADODB over to a Composer dependency (https://packagist.org/packages/adodb/adodb-php).

[2017-03-10 16:50] asmecher commented on #2327
OJS 3.x doesn't include a separate "supplementary files" set, so those are no longer indexed per the code that was problematic here.

[2017-03-10 20:28] asmecher commented on #2312
@defstat, that's probably a case where we can swap out the app-specific terminology (journal/press) for the app-independent term (context).

[2017-03-10 21:19] asmecher commented on #2348
Thanks, @ctgraham, I've merged your PR and cherry-picked across to `ojs-stable-2_4_8`. As you've noted, this is a pretty rarely executed backwater.

[2017-03-10 21:19] #2348 closed

[2017-03-10 21:29] asmecher commented on #2269
Merged -- thanks, @defstat!

[2017-03-10 21:29] #2269 closed

[2017-03-10 21:34] asmecher commented on #2306
Just a couple of comments over there -- looks good overall.

[2017-03-11 00:12] asmecher commented on #2349
@atarix83, you can prevent the geoIp library that ships with OJS 2.x from loading by editing `plugins/generic/usageStats/GeoLocationTool.inc.php`; look for `geoIp`. There should be two calls to `require` that you may be able to remove. You'd need to ensure that the PECL version of geoip is compatible with the one OJS expects.

[2017-03-11 00:15] asmecher commented on #2267
Another option would be to add a row action in the issue lists ("current issues" / "back issues") allowing the user to pick an issue from the grid and set it "current".

[2017-03-11 02:54] asmecher commented on #2353
Not trivial, but not far away either -- MySQL mostly OK, PostgreSQL needs work.
https://github.com/asmecher/pkp-lib/tree/i2353-fix

[2017-03-11 07:46] mtub commented on #2337
@asmecher , these pull requests are all of the translation work done so far. do you mind to have a look?

[2017-03-11 07:53] mtub opened #2355 "[pkp-lib] Remove duplicate key in several locales"
`submission.event.fileUploaded` is a duplicate key with two different strings in /lib/pkp/submission.xml

Please decide which one to use and remove the other key from en_US and other locales using it (ca_ES, fi_FI, de_DE, es_ES, ar_IQ, ru_RU)

[2017-03-11 07:55] mtub commented on #2355
* `submission.event.participantAdded`

[2017-03-11 10:58] defstat commented on #2267
@asmecher PR #1310

I think that there is a problem with the refresh function of the grid. I get a Javascript error

Uncaught SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at Function.jQuery.parseJSON (jquery.js:8517)
    at Object.success (TabHandler.js:278)
    at fire (jquery.js:3099)
    at Object.fireWith [as resolveWith] (jquery.js:3211)
    at don

[2017-03-13 09:22] bozana commented on #2173
Hi @ajnyga
Thanks a lot! Yes, we realized that too, when doing an upgrade :-\ Thus, I fixed that, s. the second pair of PRs above under number 2. i.e. https://github.com/pkp/ojs/pull/1292

[2017-03-13 09:29] ajnyga commented on #2173
Ah yes, I see now. Thank you, good to know. Luckily we did not have too much of these cases. But I do have to figure out in May how these affect our installation during an upgrade. Probably no issue there.

The second point is of course due to wrong use of OJS2, but I do think that it is not that uncommon (to submit separate files and not realizing the system is creating revisions).

[2017-03-13 10:04] bozana commented on #2072
@lilients, could you maybe list and manage the list of PRs here, in a comment, so we can quickly access them?

[2017-03-13 10:09] lilients commented on #2072
@bozana like this?

https://github.com/pkp/ojs/pull/1277
https://github.com/pkp/pkp-lib/pull/2307

[2017-03-13 10:10] bozana commented on #2072
Yup, yup, great! :-)))

[2017-03-13 21:17] asmecher commented on #2271
@itssazzad, were you able to replicate this in the current version, or find anything relevant in your PHP error log?

[2017-03-13 22:44] asmecher commented on #2267
That PR is https://github.com/pkp/ojs/pull/1310.

[2017-03-14 03:26] asmecher commented on #2163
Woo, this looks great. It's also going to involve a lot of learning on my part, but I can see huge potential already and I'm really pleased by the signs I can see of a possible migration process that won't impose a big-bang.

I have some line-by-line suggestions but I'll keep them to myself until you're ready for a code review at that level.

I do think it's worth working with the Slim microframew

[2017-03-14 06:49] itssazzad commented on #2271
@bozana : Thanks for looking into it! And sorry for not to answer you back earlier! Actually, I missed your reply!! Yes, now it works in OJS-3.0.2. I think the problem was in OJS-3.0.1.

@asmecher : No, not able to replicate in the current latest OJS-3.0.2 version, :) I mean it seems the problem has been resolved in the latest version.

BUT, the same problem is found for **"Lucene Search Plugin"**

[2017-03-14 09:02] NateWr commented on #2163
Yeah I'd love to get it tied in with the REST API. Can you give me a quick example based on your branch of how I would create a new route and authenticate a request to it?

[2017-03-14 14:50] asmecher commented on #2271
@itssazzad, thanks -- the Lucene plugin has not been rewritten yet for OJS 3.x and will not work. It's excluded from the build package but present in the git repo.

[2017-03-14 14:50] #2271 closed

[2017-03-14 15:19] asmecher commented on #2163
This is probably a good time to get @kaschioudi involved, since he'll be working with the API stuff. Kassim, could you dust off that work and make sure it's still functioning with the current master branch, and send Nate a link to an example route?

[2017-03-14 15:53] asmecher commented on #2267
Merged -- thanks, @defstat!

[2017-03-14 15:53] #2267 closed

[2017-03-14 16:47] bozana commented on #2072
@lilients, I went roughly through everything and commented/asked...
I would still have to take a closer look at the PublishedArticleDAO changes -- how the functions there are used elsewhere in the system and if we should not always return the latest submission revision there. At the moment I think that we should do that, but... lets take a closer look...
Else, also two general questions:
-- when I

[2017-03-14 21:06] asmecher opened #2358 "Rewrite OAI NLM plugin for OJS 3.x"
See http://forum.pkp.sfu.ca/t/harvesting-ojs3-with-oai-nlm/29356

[2017-03-15 02:19] kaschioudi commented on #2163
sure. @NateWr , I will get back to you shortly.

[2017-03-15 17:30] asmecher commented on #1886
Fixed testing and enabled for Travis with PHP7.

[2017-03-15 21:08] asmecher commented on #2163
Hmm, I'm afraid I can't find it either. It would've been a subclass of `BaseProfileForm` with a single field implemented -- the API key. The template had a button to generate a new API key when it was clicked. That's all that was there. You could start with something like `lib/pkp/classes/user/form/PublicProfileForm.inc.php` and adapt it from there.

[2017-03-15 23:33] asmecher opened #2359 "Improve "Required" field labels on review forms"
See http://forum.pkp.sfu.ca/t/required-field-feedback-at-the-end-of-the-form/29142 for details. The review form field labels don't include the usual `*` flag, and this can't be easily added because the element labels are presented in `formSection` titles based on user-created titles that are composed using TinyMCE. Thus the labels are wrapped in `<p>` elements, and a `*` will be dumped onto the ne

[2017-03-15 23:35] asmecher opened #2360 "Review "past rounds" presentation for editors with 3+ rounds"
See http://forum.pkp.sfu.ca/t/issue-with-view-regrets-cancels-previous-rounds-in-ojs-2-4-8/29358 for details and a suggested improvement.

[2017-03-16 00:18] asmecher commented on #2323
@NateWr, assigning to you since it's already more or less on your plate.

[2017-03-16 00:22] asmecher commented on #2310
The query to resolve this for already-upgraded installations:

    UPDATE plugin_settings SET setting_value=1 WHERE setting_name='context' AND plugin_name LIKE '%BlockPlugin';

[2017-03-16 00:22] #2310 closed

[2017-03-16 00:37] asmecher commented on #1912
Assigning to @NateWr as it's supplanted (I think) by his submission list/JS work.

[2017-03-16 00:39] #1886 closed

[2017-03-16 00:40] asmecher commented on #1853
@Nate, assigning to you because of its relevance to the JS reworking you're doing.

[2017-03-16 00:48] asmecher commented on #1791
@bozana, gifting you this one!

[2017-03-16 00:50] asmecher commented on #1789
Dupe of https://github.com/pkp/pkp-lib/issues/2211

[2017-03-16 00:50] #1789 closed

[2017-03-16 02:21] asmecher commented on #2203
Mailing list stuff still needs a rewrite, but I've fixed the page layout to use the backend templates.

[2017-03-16 02:21] #2203 closed

[2017-03-16 02:24] asmecher commented on #2287
Pilfered from your plate, @NateWr.

[2017-03-16 02:24] #2287 closed

[2017-03-16 02:26] asmecher commented on #469
@NateWr, mind taking a quick look at the PRs listed above?

[2017-03-16 03:11] kaschioudi commented on #2163
Working code available here:
https://github.com/kaschioudi/ojs/tree/rest_api
https://github.com/kaschioudi/pkp-lib/tree/rest_api

@NateWr : two endpoints are currently available:
/{contextPath}/api/v1/submissions/{submissionId}
/{contextPath}/api/{v1/submissions/{submissionId}/files/{fileId}

First endpoint is working whilst second endpoint is currently broken. If I remember correctly, it's failin

[2017-03-16 08:19] bozana commented on #2359
Is this a duplicate of https://github.com/pkp/pkp-lib/issues/1783 ?

[2017-03-16 10:46] bozana commented on #1791
How generous... Deeply appreciate it... :-)

[2017-03-16 11:11] bozana commented on #1791
@ctgraham, I would then just migrate the current Counter plugin from ojs-dev-2_4/ojs-stable-2_4_8 to master, correct? Or would you recommend any further changes?

[2017-03-16 11:49] bozana commented on #2274
PR:
ojs master: https://github.com/pkp/pkp-lib/pull/2357

[2017-03-16 11:50] bozana commented on #2274
The PR above is merged, I will cherry-pick it to ojs-stable-3_0_2...

[2017-03-16 12:28] bozana commented on #2173
@ajnyga, I think the second point we cannot fix... right?

[2017-03-16 12:31] bozana commented on #2274
Everything merged, so can this issue be closed?

[2017-03-16 12:36] ajnyga commented on #2274
Great thank you @bozana , I will close this now!

[2017-03-16 12:36] #2274 closed

[2017-03-16 12:41] ajnyga commented on #2173
Hi, definitely not because there could be cases where the reviewer has used OJS2 the right way and has sent an actual revision of the same file.

However, in OJS3, would the editor be able to see the different revisions of the reviewer file?

[2017-03-16 12:43] bozana commented on #2173
Hmmm... I would say as all the others file revisions... :-)

[2017-03-16 13:22] bozana commented on #2173
Here only the number 3 is left:

@asmecher, would you also agree to delete the canceled reviews when migrating?

[2017-03-16 14:20] lilients commented on #2072
@bozana Thank you for your feedback! 🎉

No, I will change that. I think we should not allow changes at old versions at all, so no deletions as well.

-- the metadata of old versions cannot be changed, but the metadata behind the button "Publish this Version" can be changed for old versions. Is this intended to be so?

Well, I do not think it is very critical. The date is set automatically with the

[2017-03-16 14:55] NateWr commented on #469
I can see the new package in `composer.json`, but when I run `composer install` it doesn't get installed. And when I run `composer show` it doesn't appear in the list of libs. Any idea what's going on?

[2017-03-16 14:58] asmecher commented on #469
Not a clue, `NateWr`! I ran `composer.phar update` and it worked.

[2017-03-16 15:01] NateWr commented on #469
Update seemed to have worked! Sorry, not too familiar with composer.

[2017-03-16 15:14] ajnyga commented on #1807
Hi @bozana, especially issue a here is important for us since many of our journals are multilingual.
I am using this very simple approach to solve it: https://github.com/pkp/pkp-lib/compare/master...ajnyga:fix1807a?expand=1

That basically appends the name of the language before the tinymce box:
![screenshot_14](https://cloud.githubusercontent.com/assets/16347527/24003389/011ea5e0-0a6c-11e7-837c-b

[2017-03-16 15:48] asmecher commented on #2359
Not a duplicate, but related.

[2017-03-16 16:09] NateWr commented on #469
@asmecher This looks good. I was able to test without minification on and all went fine.

I think I've found a bug with minification, though, which is unrelated. When loading the JS lib, I get the [$basePath](https://github.com/pkp/pkp-lib/blob/master/classes/template/PKPTemplateManager.inc.php#L552), then use that in [file_exists() checks](https://github.com/pkp/pkp-lib/blob/master/classes/templa

[2017-03-16 17:04] defstat commented on #2064
@asmecher PR #2363 and pkp/ojs#1316

[2017-03-16 17:11] NateWr commented on #2163
Thanks @kaschioudi. I'm running into a permissions issue when I make a request to `//{contextPath}/api/v1/submissions/{submissionId}`. It seems to be hitting this:

https://github.com/pkp/pkp-lib/blob/master/classes/handler/PKPHandler.inc.php#L279

And then returning a false decision:

https://github.com/pkp/pkp-lib/blob/master/classes/handler/PKPHandler.inc.php#L287

I haven't really been able to

[2017-03-16 18:52] defstat commented on #2179
Do we have any example that fails for this?

It seems that there are 3 Template variables appearing in email subjects:
- $siteTitle: That seems to be covered here https://github.com/pkp/pkp-lib/blob/master/classes/mail/MailTemplate.inc.php#L178
- $contextName That seems to be covered here https://github.com/pkp/pkp-lib/blob/master/classes/mail/MailTemplate.inc.php#L158
- $giftNoteTitle That is cov

[2017-03-17 03:40] asmecher opened #2364 "Drop file check on minification use"
See https://github.com/pkp/pkp-lib/issues/469#issuecomment-287107164 for details.

[2017-03-17 03:42] asmecher commented on #469
Hmm, @NateWr, I could've sworn I checked the minification settings was working not too long ago -- but right now yes, that existence check is preventing it from working over here. I've fixed it over at https://github.com/pkp/pkp-lib/issues/2364. That's embarrassing, good spotting!

[2017-03-17 03:43] #469 closed

[2017-03-17 03:44] asmecher commented on #469
Merged the pnotify change into master.

[2017-03-17 04:32] kaschioudi commented on #2163
@NateWr : are you sending the api key? You can create the api key from user profile page. Then when calling from javascript, you need to send that key as apiToken query parameter.
/{contextPath}/api/v1/submissions/{submissionId}?apiToken=xxxxx

fyi. I was able to get the second endpoint to work. However the signature is a little different now because SubmissionFileAccessPolicy expects fileId and r

[2017-03-17 09:35] NateWr commented on #2364
There are two more places this `file_exists` check is done improperly:

https://github.com/pkp/pkp-lib/blob/master/classes/template/PKPTemplateManager.inc.php#L571

https://github.com/pkp/pkp-lib/blob/master/classes/template/PKPTemplateManager.inc.php#L588

For these, I think we do need to check if the file exists, but not sure how to get a proper file path in this instance.

[2017-03-17 09:36] NateWr commented on #2163
Thanks @kaschioudi I'll look into it. I assume for backend usage we want to generate an API key automatically?

[2017-03-17 09:53] NateWr commented on #2163
Yeah that was an off-hand comment. On second thought, for internal requests within the app, we probably just want to use the cookie-based session authentication we're already using. These get passed along with the ajax requests, and it's easy to attach a CSRF token to the header with every request. This should suffice for authentication from within the PKP app, right? Any idea on how to go about t

[2017-03-17 11:36] ajnyga opened #2365 "[OJS] Native XML Plugin lacks paging in Export issues listing"
Referring to this discussion and the first problem mentioned there: http://forum.pkp.sfu.ca/t/ojs-3-0-most-of-the-issues-missing-from-native-xml-export-plugin/29368

OJS3.0.2.

The native xml plugin does not have paging available in the export issues listing so basically with larger archives most of the issues are hidden.

You can of course change the amount of visible items from the website setti

[2017-03-17 12:02] bozana commented on #2173
@asmecher, the last PR for this issue, solving number 3 above: https://github.com/pkp/ojs/pull/1317. Could you please take a look?

[2017-03-17 12:18] kaschioudi commented on #2163
Cookie based session authentication should work. apiKey is provided as an alternative. I thought you where trying to hit the endpoint from command line.

While logged in, when you open the api endpoint URL directly in the browser, does it work or you get 404?

[2017-03-17 13:26] bozana commented on #2365
PRs:
ojs ojs-stable-3_0_2: https://github.com/pkp/ojs/pull/1318

[2017-03-17 13:27] bozana commented on #2365
@ajnyga, could you please see/test if now everything is fine?

[2017-03-17 13:45] ajnyga commented on #2365
@bozana it does, thanks!

AJ

[2017-03-17 13:52] bozana commented on #2365
OK, thanks a lot, I will then wait for tests to finish and then merge and cherry-pick...

[2017-03-17 15:11] bozana commented on #2159
cosmetic PRs:
ojs-stable-3_0_2: https://github.com/pkp/ojs/pull/1319

[2017-03-17 15:12] bozana commented on #2159
@asmecher, could you please take a look at this last PR? -- it is just a cosmetic fix...

[2017-03-17 15:17] bozana commented on #2365
Everything merged, thus closing...

[2017-03-17 15:17] #2365 closed

[2017-03-17 18:54] asmecher commented on #2364
Mind reviewing https://github.com/pkp/pkp-lib/commit/769974faac04c4bed7e449f5e8371ce344cd51ae, @NateWr? I think this resolves the use of baseUrl, and since it's not used in the templates anywhere, removes it to prevent improper use there.

If it looks good to you, I'll cherry-pick it over to `ojs-stable-3_0_2` and `omp-stable-3_1_0`.

[2017-03-17 18:54] NateWr commented on #2163
With just cookie details, I'm getting a 404. I haven't really looked into it though. I've just been short-circuiting the authorization for now to try out some stuff.

I've managed to build out a `/submissions` endpoint that will work for the submissions lists. But I'm stuck trying to figure out how to ping that endpoint directly from another place in the code, so that we can gather an initial list

[2017-03-17 19:18] kaschioudi commented on #2163
unless OJS core provides a way to have sub requests, I can't really think of anything else other than moving the logic to a service layer. I believe such approach is the correct way to do what you described otherwise you would introduce some coupling between your code and the endpoint.

[2017-03-17 21:08] asmecher commented on #2064
Thanks, @defstat! Two changes and I think it'll be ready:

- There needs to be an upgrade script to remove the anchor markup from already-installed email templates. (See e.g. https://github.com/pkp/omp/blob/master/dbscripts/xml/upgrade/1.2.0.0_update.xml#L49 for an example use of SQL REPLACE for this.)
- This also needs porting to OMP.

[2017-03-20 14:15] ajnyga commented on #1875
Hi @asmecher

This is a suggestion to solve the above problem
https://github.com/pkp/pkp-lib/compare/master...ajnyga:fix1875?expand=1

[2017-03-20 14:44] defstat commented on #2064
@asmecher I added the script to change the tables in the latest upgrade script of OJS and OMP, but I am not sure that this is what you asked. (for OMP the work is in progress, as it seems not to run the [data] portion of the script for some reason)

[2017-03-20 14:45] defstat commented on #2306
@asmecher

[2017-03-20 14:59] bozana commented on #2173
@asmecher, here are the new PRs, that also remove the review assignments column "cancelled", this time against master branch, because it is not just a fix:
- ojs: https://github.com/pkp/ojs/pull/1321
- reviewReport: https://github.com/pkp/reviewReport/pull/2
- pkp-lib: https://github.com/pkp/pkp-lib/pull/2366
S. also comments here: https://github.com/pkp/ojs/pull/1317#issuecomment-287436727

[2017-03-20 15:14] ctgraham opened #2367 "Recaptcha verification does not honor proxy settings"
Recaptcha verification will fail if the proxy settings specified in config.inc.php are required for access to google.com.

Awareness of proxy settings is needed here:
https://github.com/pkp/pkp-lib/blob/91da80b797e2f7dd98014134251c2884de6f30c5/classes/form/validation/FormValidatorReCaptcha.inc.php#L57-L71

[2017-03-20 17:28] defstat commented on #2312
@asmecher PR #2369 pkp/ojs#1322

[2017-03-20 21:18] asmecher commented on #1837
@ptrckb, this has been re-filed over at https://github.com/pkp/pkp-lib/issues/2367 with a pull request. It sounds like you're in a proxy environment. Are you in a position to test that pull request? (Closing this issue in favour of that one.)

[2017-03-20 21:18] #1837 closed

[2017-03-21 15:42] verdonv opened #2371 "[pkp-lib] parse errors on grids for systeminfo"
My server was reporting php parse errors on two pages for system info grids. The fix was easy enough.

On files:
/lib/pkp/controllers/grid/admin/systemInfo/ServerInfoGridHandler.inc.php
/lib/pkp/controllers/grid/admin/systemInfo/VersionInfoGridHandler.inc.php

On line 63, the comma needed to be removed from after the last item in the array,  LOCALE_COMPONENT_APP_MANAGER

**Before**
[code]
**After*

[2017-03-22 12:38] NateWr commented on #2364
Looks good! :+1:

[2017-03-22 14:45] bozana commented on #2101
@asmecher, here clean up for OJS according to your clean up here: https://github.com/pkp/ojs/pull/1326

[2017-03-22 19:38] asmecher commented on #2364
Thanks, @NateWr!

[2017-03-22 19:38] #2364 closed

[2017-03-22 20:08] asmecher commented on #2371
Thanks, @verdonv -- good spotting.

[2017-03-22 20:08] #2371 closed

[2017-03-22 20:15] verdonv opened #2372 "Incorrect return link in HTML Galley view"
When using the HTML Galley view, the link to the top-left to return the viewer to the main article view, in fact just reloads the html galley view, leaving the reader in a loop. The PDF Viewer Galley view return link is fine.

[2017-03-22 20:58] Geremia opened #2373 "«ERROR: relation "submissions_tmp" already exists» w/ Postgres 9.6.0"
With OJS 3.0.0.0 and 3.0.2.0, I get the following error:
[code]
My database is Postgres 9.6.0.

[2017-03-22 21:04] asmecher commented on #2373
Hi @Geremia -- it sounds like you're trying to perform an upgrade on a database that's already failed an upgrade. Make sure you restore from backup before attempting another upgrade; otherwise your database will be left in a state between the two versions, which is very difficult to work with.

[2017-03-22 21:29] crism opened #2374 "[OJS] Upgrade scripts trip over deleted contexts"
When attempting to upgrade OJS from 3.0.0-0 to 3.0.2-0, we ran into [a mysterious problem](http://forum.pkp.sfu.ca/t/bug-in-ojs-3-0-0-3-0-2-upgrade-on-postgresql/29525). It turned out to be due to trying to find user groups for a journal which had been deleted.

Since journal deletions do not destroy history of things like submissions, the upgrade scripts need to be bulletproof with respect to pos

[2017-03-22 21:32] asmecher commented on #2372
@verdonv, which application are you using, and what version?

[2017-03-22 21:36] verdonv commented on #2372
@asmecher, sorry. OJS 3.0.2 pulled from github Monday.

[2017-03-22 21:38] asmecher commented on #2312
Thanks, @defstat -- I think some of this might need porting to OMP too.

[2017-03-22 22:04] asmecher commented on #2372
I've checked my local install and the back links seem to be working OK. I'd suggest clearing up the branches per http://forum.pkp.sfu.ca/t/ojs-3-how-to-add-blocks-to-sidebar/29548/9 and seeing if that resolves this issue.

[2017-03-22 22:26] asmecher commented on #2306
Merged, thanks!

[2017-03-22 23:27] asmecher commented on #2159
Merged it, thanks!

[2017-03-22 23:27] asmecher commented on #2159
Can this now be closed?

[2017-03-22 23:49] Geremia commented on #2373
@asmecher Yes, I'm not sure why Postgres is so difficult to upgrade. What exactly do you suggest I do? My other version 9.4 databases have upgraded to version 9.6 successfully.

[2017-03-22 23:53] asmecher commented on #2373
@Geremia, I'm not sure how the `pg_upgrade` tool plays into this, I'm referring to the OJS upgrade tool/process. The error message you quoted (`relation "submissions_tmp" already exists`) suggests that `submissions_tmp` exists in the database you're trying to upgrade; that can only be created by the upgrade tool and should be cleaned up afterwards, which suggests to me that you're running the upgr

[2017-03-23 00:04] asmecher opened #2375 "Respect context disableUserReg setting"
The registration form doesn't respect the disableUserReg setting.

[2017-03-23 00:09] Geremia commented on #2373
@asmecher Oh, I see.

I still get this on the submissions page:
[code]
The submissions never load, when they certainly did a month ago when I still had Postgres 9.4.

[2017-03-23 00:18] Geremia commented on #2373
Also, I get a 404 on `plugins/generic/lucene/js/LuceneAutocompleteHandler.js`, which really doesn't even exist on the server.

[2017-03-23 00:26] asmecher commented on #2373
@Geremia, would you mind moving this over to the support forum at http://forum.pkp.sfu.ca/? If it turns out to be a bug, we can move back over here. I suspect you'll find more details in the PHP error log; include that in your post. If you're using your 3.0.0 backup with the 3.0.2 code, you can expect some things not to work; you need to run the upgrade tool to migrate your database from 3.0.0 to

[2017-03-23 00:26] #2373 closed

[2017-03-23 00:29] #2375 closed

[2017-03-23 00:34] asmecher commented on #2173
Looks good -- thanks, @bozana! Please go ahead. Agreed that this should go into master, not `ojs-stable-3_0_2`, and some of the filenames etc. need updating to reflect that.

[2017-03-23 00:44] asmecher commented on #2064
Thanks, @defstat, that is indeed the upgrade process I'd imagined. See my comment about JS linting -- and I think you have some work on the OMP side still? Otherwise this looks good.

[2017-03-23 00:48] Geremia commented on #2373
Okay, with a clean database from backup, I get this when upgrading to  3.0.2:
[code]

[2017-03-23 06:32] ajnyga opened #2376 "[OJS] QuickSubmit in OJS3 breaks custom_section_orders"
Hi,

Tagging @defstat here.

I do not have a detailed description of this yet (I will have more time to look into this new week), but it seems that when adding new articles via quicksubmit plugin the custom section ordering is somehow damaged.

Basically what happens is that saving a new order for the sections is not always possible. The old order is returned after saving.

I suspect (not confirme

[2017-03-23 10:32] bozana commented on #2173
Just the submodule plugins/report/reviewReport to be merged, thus closing...

[2017-03-23 10:32] #2173 closed

[2017-03-23 11:12] bozana commented on #2151
PR: https://github.com/pkp/ojs/pull/1327

[2017-03-23 11:12] bozana commented on #2151
@asmecher, could you take a look at the PR?

[2017-03-23 11:26] bozana commented on #2159
everything merged, thus closing...

[2017-03-23 11:26] #2159 closed

[2017-03-23 11:59] bozana commented on #2258
@asmecher, could you please take a look at this PR: https://github.com/pkp/ojs/pull/1244 ?
Crossref told me that the new schema is http://www.crossref.org/schemas/crossref4.3.6.xsd which redirects to the https i.e. https://www.crossref.org/schemas/crossref4.3.6.xsd and confirmed me that they would be using the https URLs going forward. Thus, as you suggested, I changed the URL to the new https URL

[2017-03-23 14:07] verdonv commented on #2372
Hi @asmecher,

That didn't seem to fix it. I've also tried adding a new galley, in case something went wrong in the upgrade, and it's in the db. I think at this point, just to be 100% sure, I'm going to nuke everything and start fresh.

[2017-03-23 14:56] bozana commented on #2374
I am not sure if this is a bug now -- it is maybe good that the upgrade script stops because the data in the DB are wrong -- there seem to be entries from an old journal in the DB, that does not exist any more -- it could be maybe an earlier bug, that didn't clear all the data, when deleting a journal. The correct way would be to remove that old data, or? And I am not sure, we could check and remo

[2017-03-23 15:01] crism commented on #2374
It is definitely not good that the upgrade script stops. It leaves the database in a half-formed state, usable by neither the old nor new versions of the software. The upgrade script should either:

1. scan for incompatibilities and refuse to run,
1. use transactions and roll back if a problem arises, or
1. be bulletproof and succeed regardless of what’s in the database.

When this crash arises, t

[2017-03-23 15:13] bozana commented on #2374
Yes, ideally it would work like that -- but... the first two would mean so much work on the upgrade process and I am still not sure that we would succeed to check and roll back everything, especially for this upgrade from 2.4.x to 3.x. Because we were not able to do that yet, we always recommend users to do the full backup of everything and take a detailed look on the notices during the upgrade pr

[2017-03-23 15:15] bozana commented on #2374
Ah, maybe just one thing: we could definitely catch that error and return the appropriate message, so that the upgrade does not stop...

[2017-03-23 15:32] asmecher commented on #2258
That looks fine -- please port around. Note that we don't generally add database updates in stable branches. If we released OJS 3.0.2-1, for example, the upgrade from 3.0.2-0 to 3.0.2-1 wouldn't run this addition as currently written. However, it's going to be forward-ported into the 3.1.0 upgrade, and it's idempotent, so there's no risk in doing it in this case.

[2017-03-23 15:39] asmecher commented on #2374
I think it's practical for us to improve the error messages, but at the moment, not to roll back in case of failure. Checking and failing before actually running the upgrade would not be reliable, I don't think. I'm not sure barreling through regardless is a good approach, either, because certain kinds of data problems need manual intervention and it would result in us discarding data in the proce

[2017-03-23 15:47] defstat commented on #2376
@ajnyga I tried to reproduce the issue.
I reordered the toc of an issue (both sections and articles). After that I imported a new submission using the QuickSubmit plugin, and adding the submission to the issue I had previously reordered. The ordering of sections and articles was as expected.

I tried that using the master branch of ojs and pkp-lib.
Maybe an older version reacts differently to Quic

[2017-03-23 15:54] asmecher commented on #2376
Thanks, @defstat -- I merged that. I had made the change locally but forgot to commit/push.

[2017-03-23 16:03] crism commented on #2374
Sure, @bozana and @asmecher—I should have included option 4, which is a clear error returned to the user. The strong recommendation to back up the DB before upgrading is clear, and a known and accepted risk. It’s really the blank, silent 500 failure that’s unacceptable.

[2017-03-23 16:24] NateWr opened #2377 "JavaScript cleanup"
It looks like there's some deprecated JavaScript under `/lib/pkp/js/functions/general.js` that could be removed. Investigate and remove what's no longer used.

[2017-03-23 16:32] bozana commented on #1932
The submission notes are correctly migrated, but the notes in 3.x generally do not consider files/attachments. No information is lost.
Maybe to display the notes in the same way as messages in a discussion?

[2017-03-23 16:55] verdonv commented on #2372
OK @asmecher

I nuked everything, started 100% fresh, and can verify that there is a little weirdness in the return link from the HTML Galley view. What it actually is, is that the little arrow returns correctly, but the text link does not. Now I suppose this could be on purpose, but it is different than the behaviour of the PDF Galley View.

If you'd like a link, let me know.

![screen shot 2017-

[2017-03-23 17:22] bozana commented on #2151
merged, thus closing...

[2017-03-23 17:22] #2151 closed

[2017-03-23 17:30] ajnyga commented on #2376
Thanks @defstat

At the moment I do not have further details about this. We are using 3.0.2 and the latest quicksubmit. I have had two separate journals contact me about not being able to reorder the toc and in both cases they have been using quicksubmit. What they have actually done, I do not know yet. I figured that it could be connected to the scenario I described because in both cases there ha

[2017-03-23 17:48] defstat commented on #2376
@ajnyga I tried to reproduce that scenario on ojs3.0.2, but couldn't. It worked as it supposed to.

If we have more info on that, we can check again. (not that it matters, but are they using MySql or PostgreSQL?)

[2017-03-23 19:11] defstat commented on #2312
@asmecher PR pkp/omp#398

[2017-03-24 01:37] stranack opened #2378 "Rename Current "Indexing" Tab in Distribution Settings"
The current "Indexing" tab in the Distribution settings is misleading and should be renamed "Search Engine Optimization" or "SEO" or "Search Engine Details" or something similar.

Indexing is widely expected to refer to being indexed in an indexing service like the DOAJ or Web of Science.

Could a new "Indexing" tab be automatically created in the Distribution Settings when the DOAJ plugin (or any

[2017-03-24 10:41] defstat commented on #2312
New PRs
#2379
pkp/ojs#1330

[2017-03-24 11:12] bozana commented on #2256
PR:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2380

[2017-03-24 11:13] #2256 closed

[2017-03-24 13:06] defstat commented on #2064
**New PRs**
#2381
pkp/ojs#1333
pkp/omp#399

[2017-03-24 13:07] bozana commented on #2003
Hi @pkel, I just take a look at this again. The actual problem is only in OJS 2.4.x, right? -- In OJS 3.x the original file name is part of the suggested default file name and the file name can be renamed/edited. Thus, that problem seems to be solved in 3.x, right?
For the current stable OJS 2.4.8-2 version: the lower and upper cases in extensions are preserved, thus I could not replicate this:

T

[2017-03-24 13:30] bozana commented on #2003
@asmecher, could you take a look at this PR: https://github.com/pkp/pkp-lib/pull/2382
It only considers .tar.gz for now...
lower and upper cases seem to be always preserved...

[2017-03-24 16:19] ajnyga opened #2383 "[OJS] Wrong submissionUrl in copyedit request"
OJS 3.0.2.

One of our editors noticed that the copyedit request message had a wrong `submissionUrl` in it. The url was a reviewer url and when the copyeditor tried to click it she of course had a error message: http://site.com/journal/reviewer/submission/545454

The reason was a interesting combination of things. The `submissionUrl` is set here:
https://github.com/pkp/pkp-lib/blob/master/controll

[2017-03-24 16:56] pkel commented on #2003
My post definitly was about ojs3. We delayed migration, that's why I'm not in the topic any more.  I can reconstruct the followong from above:
* Handling of some file extensions during server side file name generation was broken. (.R, .RData, .tar.gz)
* Server side names where exposed to users when downloading files from the public frontend. I fixed this by defaulting to client file name as decrib

[2017-03-24 17:23] bozana commented on #2003
Thanks @pkel. I will then take a look at OJS 3.x too and will have to ask @asmecher for some decisions...

[2017-03-24 17:53] verdonv opened #2386 "[OJS] Upgrade Script and old plugin versions"
After trolling through the forums, and finding a related post from an early OJS 3 release, I discovered that the reason I could not install the QuickSubmit plugin, although I was getting misleading messages about it already being installed, and an update being available, was that there was a row in the 'versions' table relating to the QuickSubmit plugin from OJS 2.x. Deleting that row allowed the

[2017-03-24 17:59] verdonv commented on #2386
I realize now too that it may be possible that the QuickSubmit plugin did attempt to deal with this, and that I had a permission error in the plugins/ folder. Somewhere along the way, I corrected permission there so the webserver could write to the plugins folder. If there was a permissions error going on though, I never got any kind of dialogue stating such... just a dialogue saying the plugin wa

[2017-03-24 18:17] verdonv opened #2387 "[quickSubmit 1.0.1] Version info not displayed in Plugin Gallery"
After installing the quickSubmit plugin into OJS 3.0.2 stable, nothing displays in the 'Status' column of the Plugin Gallery, and when clicking on the name of the plugin in the 'Name' column, I am still offered to install it (in the pop-up dialogue), even though it was just installed.

![screen shot 2017-03-24 at 2 16 20 pm](https://cloud.githubusercontent.com/assets/5149763/24307984/94f0ed4c-109c

[2017-03-24 19:33] ctgraham commented on #2360
This would probably benefit from https://github.com/pkp/pkp-lib/issues/1923

[2017-03-24 23:38] asmecher commented on #2387
@verdonv, did you install this plugin through the Plugin Gallery, or through another mechanism (e.g. copying the files manually)?

[2017-03-25 18:39] verdonv commented on #2387
Hi,

Installed directly through plugin gallery.

[2017-03-27 05:31] davidalar commented on #2386
Hola @verdonv !   yo tuve el mismo problema... pero conseguí instalarlo de la siguiente forma:

1.- Descargue la ultima versión de plugins (para OJS 3.0.2) y la puse en el directorio: ojs-3.0.2/plugins/importexport
2.- Luego modifiqué el archivo config.inc.php  "installed = Off" para forzar una actualización.
seguí estos pasos:
    - Edit config.inc.php and change "installed = On" to "installed =

[2017-03-27 09:33] bozana commented on #2003
@asmecher, we have to do here (in OJS 3.x) with several things:
1) we save all files with lower case extension, which apparently is not always good -- e.g. apparently, in this example, .R and .RData should stay as they are in order to be correctly interpreted. Thus shall we change it to save the correct/original extension, i.e. with upper and lower cases?
2) we provide server file name for galley

[2017-03-27 09:46] Ph-We commented on #2387
I think, this might be related:
http://forum.pkp.sfu.ca/t/ojs-3-0-2-solved-readers-get-redirected-to-the-advanced-search/28775/28?u=ph_we

[2017-03-27 10:11] bozana commented on #1932
Ah, I was wrong -- the connection between the submission file and a note is missing (the assoc_type and assoc_id for the file are missing) and this will be difficult to repair for those already migrated :-\
Maybe we could only try to guess: In OJS 2.4.x there could be only 1 file per note. Thus maybe to go all files with stage_id = 3 (note) where assoc_type and assoc_id is NULL, then to get all th

[2017-03-27 14:15] Ph-We opened #2390 "[OJS3] Issues with Citation Formats"
Hi!

1. **Endnote**: the `%P` and `%@` fields are concatenated:
Now it's something like `%P 14-23%@ 2411-7390`, whereas it should be:
[code]

2. **APA**: Each word is automatically capitalized in journal names. E.g. now we have some name displayed as "Journal **O**f Language **A**nd Education", whereas the normal name is "Journal of Language and Education".

We're using OJS 3.0.2.

[2017-03-27 16:45] asmecher commented on #2178
@defstat, would you mind taking a look at this?

[2017-03-27 19:40] asmecher opened #2391 "File detection in temporary files does not adjust for common problems"
There are common MIME type identification problems worked around per bug 8890. https://github.com/pkp/pkp-lib/commit/8ec7dfa4402b222e4df499965f85c01869d57009

These aren't applied to temporary file uploads, because the filename there will be randomly assigned by PHP.

The extension hint needs to be taken from the uploader's system.

[2017-03-27 19:43] #2391 closed

[2017-03-27 20:06] asmecher commented on #2390
@Ph-We, what app and what version are you using? (Please include this in reports!)

[2017-03-27 20:11] asmecher commented on #2387
@bozana, mind taking a look at this?

[2017-03-27 20:11] asmecher commented on #2386
I think this is related to issue #2387.

[2017-03-27 20:21] asmecher commented on #1932
@bozana, please continue investigating, but it's a viable approach for us to simply stop supporting files on notes. The notes feature as a whole is not widely used in OJS 2.x, and the notes feature on top of that probably has very, very few users, so I'm not sure it's worth a large investment of time.

[2017-03-27 20:51] asmecher opened #2392 "Concatenate "about" content during OJS2 to OJS3 migration"
See e.g. http://forum.pkp.sfu.ca/t/suggest-an-update-for-journal-settings-when-upgrading-from-ojs2-to-ojs3/29626

Just to quickly see what and how changed: https://github.com/pkp/pkp-lib/issues/1397

[2017-03-27 20:51] asmecher commented on #2392
@jmacgreg, IIRC (and I may be inventing this) you had some SQL you were putting together for this for hosting?

[2017-03-27 21:05] jmacgreg commented on #2392
Nope, not I! I was mostly just informing journals that they'd have to do some manual work here.

[2017-03-27 21:10] asmecher commented on #2392
Hmm, I remember this coming up recently but the rest is foggy -- @felczak? @bozana?

[2017-03-28 00:02] asmecher commented on #2312
All merged -- thanks, @defstat!

[2017-03-28 00:02] #2312 closed

[2017-03-28 05:26] Ph-We commented on #2390
@asmecher, sorry, I've corrected that. OJS 3.0.2.

[2017-03-28 05:35] bozana commented on #2392
Yes, I mentioned it :-) I will take a look...

[2017-03-28 07:52] bozana commented on #1932
Here is the SQL that should be executed by those already migrated from OJS 2.4.x to OJS 3.x and that are missing the notes files:
UPDATE ojs3DB.submission_files, ojs2DB.notes SET ojs3DB.submission_files.assoc_type = 520, ojs3DB.submission_files.assoc_id = ojs2DB.notes.note_id WHERE ojs2DB.notes.file_id = ojs3DB.submission_files.file_id AND ojs3DB.submission_files.file_stage = 3

[2017-03-28 07:53] bozana commented on #1932
PRs:
ojs master: https://github.com/pkp/ojs/pull/1334

[2017-03-28 07:53] bozana commented on #1932
@asmecher, could you take a look at the PR above?

[2017-03-28 07:57] bozana commented on #2258
everything merged, thus closing...

[2017-03-28 07:57] #2258 closed

[2017-03-28 08:28] bozana commented on #2387
This is due to the wrong plugin category in the XML definition for the plugin gallery: http://pkp.sfu.ca/ojs/xml/plugins.xml -- quick submit is not a generic but importexport plugin.
I will change that in the XML file...

[2017-03-28 08:40] bozana commented on #2387
done, so I will close this issue...

[2017-03-28 08:40] #2387 closed

[2017-03-28 09:15] bozana commented on #2386
In OJS 3.x there is no QuickSubmit plugin -- it is in a separate repository i.e. in the plugin gallery. When upgrading from OJS 2.4.x to OJS 3.x the entry in the `versions` table will stay, the plugin will not be listed in the list of installed plugins, and the status "Can be upgraded" will be displayed for the plugin in the plugin gallery. The plugin can then be updated to the new version from wi

[2017-03-28 12:12] lilients commented on #2072
Hi @bozana @asmecher @NateWr @mtub

I added the versioning to the article and galley dois. 🐙 My current approach is to always add the versionnumber to the articleId (even if versioning is not enabled). The default setting would lead to the following DOI structure:

DOIs for articles:
präfix/%journalname. v %volume i %issue . %articleId . version
example: 10.1234/test.v0i1.60.1

DOIs for galleys:
p

[2017-03-28 12:45] verdonv commented on #2386
@bozana, I'm not really following. To be sure I understand, are you saying that it is/would be behaving correctly, except for the "plugin category in the XML definition" issue you mention in #2387 ?

[2017-03-28 14:35] ajnyga commented on #2072
Hi,

There has been some talk about DOI's above, but has someone discussed this with for example CrossRef? I mean, what do they think of having DOI's for different article versions? Do they support such feature? This has to resolved at least in the CrossRef plugin, which DOI to use and how to handle the a new version of metadata.

[2017-03-28 15:33] asmecher commented on #2387
Ah -- thanks, and good spotting, @bozana!

[2017-03-28 15:35] asmecher commented on #1932
Looks good, @bozana, please go ahead. By the way, I like this `_tmp` pattern you're using recently for migrating old data -- in past years we might've left old columns available in the database for legacy purposes, and it becomes difficult to avoid leaving them around. This way we can strip the old upgrade scripts when we decide to shorten the upgrade legacy and nothing gets left around.

[2017-03-29 05:16] ajnyga opened #2393 "[OJS] Editorial decisions buttons should be disabled on stages that are already finished"
In OJS3.0.2. the editorial decision buttons are active also in the stages that the submissions has already passed. For example, if a submission has reached the review stage, you can still do editorial decisions from the submissions stage. This is problematic especially with the send to review button, which basically creates a new review round every time. With submissions with several editors there

[2017-03-29 09:18] bozana commented on #2072
@ajnyga, I wanted above all to take a deeper look at the CrossMark for that, and then to see with @jmacgreg what would be best to support/provide... but I haven't managed this yet :-( I will do this very soon and report here... then we could maybe also ask Crossref...

[2017-03-29 09:20] bozana commented on #2072
@lilients, thanks a lot! It sounds good for the moment. I will take a deeper look what Crossref supports and what would be best for us to provide...

[2017-03-29 09:38] bozana commented on #2386
@verdonv, yes, I think so. For the plugin deletion, one have to watch on the permissions on the plugins folder. Else one will get the deletion error. When a plugin is deleted, it will stay in the DB table version, with current = 0. This seems to be the intended and OK so, s. https://github.com/pkp/pkp-lib/blob/master/classes/controllers/grid/plugins/PluginGridHandler.inc.php#L368.
The same thing h

[2017-03-29 10:06] ajnyga commented on #2072
Sounds good @bozana I failed to see that when reading this, sorry; and great job with this feature @lilients! Together with the continuous publishing mode it opens brand new forms of publishing.

[2017-03-29 14:31] bozana commented on #2003
Consider .tar.gz PRs:
ojs-stable-2_4_8: https://github.com/pkp/pkp-lib/pull/2382
master: https://github.com/pkp/pkp-lib/pull/2394

[2017-03-29 15:09] bozana commented on #2003
Download file name to client file name and preservation of the upper and lower cases in the extension PR:
master: https://github.com/pkp/pkp-lib/pull/2395

[2017-03-29 15:12] bozana commented on #2003
@asmecher, could you take a look at this PR: https://github.com/pkp/pkp-lib/pull/2395 ? -- Above all, if we want it to be so, or maybe to just one of the features/commits there?
Also, what about a setting option to either provide the client file name or original name as requested in this issue?

[2017-03-29 16:19] lilients commented on #2072
@ajnyga Thanks for pointing out the dois plugins and the metadata for the doi registration. 👍

I found these metadata options for CrossRef and DataCite:

- CrossRef: full-text.version https://github.com/CrossRef/rest-api-doc/blob/master/rest_api.md
- DataCite: version as optional metadata http://schema.datacite.org/meta/kernel-3/doc/DataCite-MetadataKernel_v3.1.pdf see page 6

I hope thats suffici

[2017-03-29 17:20] NateWr commented on #2306
This is going to need some additional work if/when the new submissions list is merged in, since that offers a single search input that searches across a range of fields automatically.

I can see two possible routes: 1) detect if the `searchPhrase` is just an `int`. If it is, treat it like an ID search. 2) support the use of search prefixes like `id:1` for power users.

[2017-03-29 17:22] bozana commented on #1932
PR for the display of submission not file:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2396

[2017-03-29 17:23] bozana commented on #1932
@asmecher, could you take a look at this PR, to display the submission note file for download: https://github.com/pkp/pkp-lib/pull/2396 ?

[2017-03-29 17:26] #2386 closed

[2017-03-29 17:28] bozana commented on #2072
CrossMark plugin is one thing, but the other thing is just to see how it works, in order to maybe understand how Crossref versioning works (behind just the metadata) and what is the best solution... I would say... :-)

[2017-03-29 18:52] asmecher commented on #1932
Do I understand correctly that with this PR OJS will correctly present note files that were created in 2.x, but it's still impossible to create note files in OJS 3.x? If so, it might be worth noting in the related code that it's needed for legacy data -- otherwise I'm likely to come through and remove it accidentally sometime in the unknown future.

[2017-03-29 18:57] asmecher commented on #2306
I like Github's take on this -- see the drop-down to the left of the search box at https://github.com/pkp/pkp-lib/issues. I prefer having explicit control over what's searched where rather than hoping the system assumes correctly, and we'll probably want to add support for more ambiguous things like ISBNs, DOIs, etc. in the future.

[2017-03-29 19:33] asmecher commented on #2003
Thanks, @bozana -- this looks OK to me, though I haven't tested it. The server-side filenames are generated using `SubmissionFile::_generateFilename`, which still includes a `strtolower_codesafe` -- thus content added before/after this change should still map to an existing file on the server-side.

[2017-03-29 20:19] asmecher commented on #2390
Hi @Ph-We --

1. I think you need to add a line break in `plugins/citationFormats/endNote/citation.tpl` just before the `{/foreach}` end on the line that formats the `%P`. Would you mind trying this locally?

2. This will take a little coding, and in my opinion it would be better to move to CSL templates per https://github.com/pkp/pkp-lib/issues/723 rather than continuing to duplicate effort with

[2017-03-29 20:45] #2101 closed

[2017-03-29 21:05] asmecher commented on #2383
Good spotting as always, @ajnyga -- merged and cherry-picked to `ojs-stable-3_0_2`.

[2017-03-29 21:05] #2383 closed

[2017-03-29 21:56] asmecher commented on #2393
@ajnyga, has this happened in practice? I'm wary of removing/disabling the buttons entirely as we do want to permit out-of-order editorial work; it might suit a journal/press's workflow better, and if a decision is recorded in error, it does permit them to work around it.

[2017-03-29 23:04] asmecher commented on #1875
Sharp as always -- many thanks, @ajnyga!

[2017-03-29 23:04] #1875 closed

[2017-03-29 23:35] asmecher commented on #2064
@defstat, I replaced the above pulls with my own rebases:

- https://github.com/pkp/pkp-lib/pull/2398
- https://github.com/pkp/ojs/pull/1336
- https://github.com/pkp/omp/pull/401

I had to add the following commit to get the JS tests working: https://github.com/pkp/pkp-lib/pull/2398/commits/507fe4359e02ed41d8f2f99edf566f55c09b5c7c
(Yes, the linter/compiler is that picky.)

I'm still not sure why y

[2017-03-29 23:50] asmecher commented on #2372
Hi @verdonv,

That probably was intentional, but better to make the two presentations behave consistently, and on balance I think it makes sense to go back to the table of contents. Committed -- thanks for reporting!

[2017-03-29 23:50] #2372 closed

[2017-03-30 02:52] asmecher commented on #2064
Meanwhile, merged, thanks!

[2017-03-30 05:06] ajnyga commented on #2393
Hi,

I have had three cases where there has been several (2-4) review rounds open in submission. Based on the discussion I have had with the editors, it seems likely that at least in some cases these have been started with the scenario above.

But this is a low priority issue. Maybe you could discuss this the next time you do testing with the UI.

I guess a "cancel this review round" button would

[2017-03-30 10:02] bozana commented on #1932
@asmecher, I added your suggestions and merged. I will then close this issue. In the future we can then see what to do with submission notes, if they should stay as they are, if we should provide the file upload there too, etc.

[2017-03-30 10:02] #1932 closed

[2017-03-30 10:28] defstat commented on #2306
So to understand the change better:

We need a drop down in the place of the "ID" label, with a number of choices (which?), and depending on the choice we are going to treat the input differently.
Let's say there will be 2 choices, one for ID and one for ID Range, where the first will take as input an int and the other a pattern like [idFrom]-[idTo].

Am I missing something?

[2017-03-30 11:00] ajnyga commented on #1447
Some of our journals like to have several editors working with submissions. The new discussion feature in OJS3 is of course a great way to communicate between the editors/section editors but starting a new discussion means that you have to add every participant one by one.

What would you think if besides the "Add user" button there would be a "Add group" button, which would add for example all as

[2017-03-30 11:16] NateWr commented on #2163
Ok, I've now got a branch where the new submissions list is working on top of the new REST API endpoint for `/submissions`. Some PRs for an easier dive into the new code:

https://github.com/pkp/pkp-lib/pull/2399
https://github.com/pkp/ojs/pull/1337

This is probably the last I'll be able to work on it before I go away on holiday (back April 19). If the Services model that @kaschioudi proposed goe

[2017-03-30 11:21] NateWr commented on #2163
Oh yes, one more thing:

- I've left all the submissions list grid handlers in place now. I believe we need to convert the exportable submissions list grid, but we can then remove them all.

[2017-03-30 14:50] asmecher commented on #2306
It'll be something like that, @defstat -- but don't do anything yet; @NateWr is working on an alternative to the submission lists using some new tools (including Vue.js), and has just re-opened this issue so he knows something needs to be done on that toolset as well.

[2017-03-30 14:52] asmecher commented on #1932
Thanks, @bozana!

[2017-03-30 15:04] bozana commented on #440
PR:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2400
ojs master: https://github.com/pkp/ojs/pull/1338

[2017-03-30 15:13] bozana commented on #440
@asmecher and @NateWr, this PR provides the user management functions to the admin users, that are not journal managers. Above all, the "Log In As" function is needed for the admin users that hosting providers usually have (and that do not have explicit journal manager roles). They need this function in order to be able to help. In such a case, I just display the "Users & Roles" navigation item in

[2017-03-30 16:04] lilients commented on #2280
I added the version number to the doi. See https://github.com/pkp/pkp-lib/issues/2072#issuecomment-289750089 and https://github.com/lilients/pkp-lib/commit/95ac92fb3980ec2c79775a96f60e98bf9677465f and https://github.com/lilients/ojs/commit/ea4b49bb1bba845d76a1fab99229d67cc1430f0d

@mtub What do you mean with "journal URL"?

[2017-03-30 16:08] NateWr commented on #440
Sorry, I'm not up-to-speed on this one. What's the problem we're trying to solve?

[2017-03-30 16:11] lilients commented on #2072
I found this:

https://support.crossref.org/hc/en-us/articles/115000108983-Getting-started

Maybe thats helping ...
Maybe we need to add the type of change to the versioning as well (as we discussed earlier) so the metadata can be created correctly.... 🤔

[2017-03-30 16:23] asmecher commented on #440
It's to permit Site Administrators (think service providers) access to Journal Manager functions without requiring that they add that role explicitly. Seeing your service provider listed as a journal manager could be disconcerting for the journals and shouldn't be required for the service provider.

[2017-03-30 16:31] asmecher commented on #1447
That would be an interesting addition -- would this remain as a single row on the list, or expand out to show all users? I'd suggest expanding to list the users -- that way individuals can be removed, and it's clear exactly who is included. (@stranack and @NateWr.)

[2017-03-30 16:33] asmecher commented on #2393
Alternately, what about not automatically creating a new round if one is already active? OTOH we'd have to consider how to treat the selected files -- e.g. would they be added to the existing round? -- but it might be more intuitive that way.

[2017-03-30 17:10] asmecher commented on #2163
Excellent, @NateWr!

OTOH: yes, for cookie-based authentication, where CSRF attacks are a risk. No, for API requests that include some other kind of auth token.

Yes, at least for now -- we will eventually have to consider how to treat mixed roles, e.g. Editor and Reviewer, or Editor and Author.

@NateWr, when you're back, let's schedule an orientation for the team before breaking it out into a mo

[2017-03-30 17:39] asmecher opened #2401 "Correct outdated translations using `{$submissionEditingUrl}` in email templates"
See e.g. http://forum.pkp.sfu.ca/t/editorial-assignment-e-mail-in-portuguese-showing-wrong-tag/29731

[2017-03-30 17:41] defstat commented on #2178
@asmecher @NateWr
I think I am going to work on this like that:

I will make a new plugin (navigationMenusPlugin) which, upon installation will make a new tab at the WebsiteSettings page. Also the installation is going to add 2 tables in the database - navigation_menus and navigation_menu_settings.

The new tab's page is going to have a grid with all the menu items available for the menu.
There wi

[2017-03-30 17:43] #2401 closed

[2017-03-30 17:46] asmecher commented on #2401
See https://github.com/pkp/ojs/commit/6ab3e10254eee426fc33a3e5bb852ff76cb6bdcb#diff-3165069e60ed100c5517deebc7d2f69dR63 for two SQL queries that can be applied to existing installs with this issue. Upgrading from anything older to OJS 3.1 (when released) will also address it.

[2017-03-30 17:55] asmecher commented on #2178
One thought -- perhaps this isn't a good candidate for a plugin, but rather to be built directly into the core. I don't think we'd be able to encapsulate it fully as a plugin, so there's no real benefit to implementing it that way, and some downsides (users could delete it, some aspects of plugin development are more convoluted than coding into the core, and some aspects of plugins e.g. upgrading

[2017-03-30 18:02] defstat commented on #2178
@asmecher OK.

Not sure if the approach described leaves anything uncovered, but I suppose we will see the result.

[2017-03-30 18:22] ajnyga commented on #2178
This is a plugin I made a couple of months back mainly to learn how to use the grid model in a plugin. Maybe the readme there is usefull in someway: https://github.com/ajnyga/navigation

[2017-03-30 20:33] crism commented on #2009
Finally bringing my attention back to this… Looking at the default theme plugins for OJS and OMP, there seems to be quite a lot of overlap. So I think making the OMP Bootstrap theme being a fork of the OJS one makes sense—and, in fact, we could refactor the common parts out. I’ll start that approach shortly…

[2017-03-31 04:13] ajnyga commented on #2376
Some else experienced the same problem, again with quicksubmit: http://forum.pkp.sfu.ca/t/ojs-3-articles-appearing-in-the-wrong-section-in-the-table-of-contents/29831

[2017-03-31 06:23] ajnyga commented on #2235
Hi @bozana and @asmecher

We had a new problem with the current file naming ($user-role, $filename) convention in OJS.

Some of the authors have sent new revisions of articles and have written their own name to the original filename. The editors, still learning how to use OJS, have not realized that once they start a new review round the label in the new review files, based on the author revisions

[2017-03-31 06:50] defstat commented on #2376
PR pkp/quickSubmit#6

[2017-03-31 06:52] ajnyga commented on #1447
I was also thinking that maybe a "add all" option would work as well. That does include some risks though, I mean if after adding all participants the user fails to remove the unwanted participants.

The way I was thinking that both of these would work (add group, add all) is that instead of adding a row saying something like "Section editors", it would simply add several rows, for example all par

[2017-03-31 06:56] ajnyga commented on #2376
Great, thanks @defstat! I will patch that to our quicksubmit and see if these problems end.

[2017-03-31 06:59] VMFnet opened #2403 "QuickSubmit - PHP Fatal Error when submitting form"
Using OJS 3.0.2 and the latest quickSubmit 1.0.2 from gitHub.

When filling in the form and submitting, the user gets a blank page.
The following error is in the log :

PHP Fatal error:  Call to undefined method PublishedArticleDAO::getByArticleId() in /www/journal/plugins/importexport/quickSubmit/QuickSubmitForm.inc.php on line 67.

Said line of QuickSubmitForm.inc.php looks like this :

$publish

[2017-03-31 07:23] defstat commented on #2403
@VMFnet I think you should use the https://github.com/pkp/quickSubmit/releases/tag/ojs-3_0_2-0 for OJS 3.0.2, not the latest master branch, as it has changes regarding the future releases of OJS.

Maybe, you can try install it from the plugin gallery.

@asmecher ?

[2017-03-31 07:26] ajnyga commented on #2393
I guess that is an option as well. But why not then just disable the "Send to review" button if a review round is already active? This way there would be no need to worry about the selected files. I mean, what else does the button do besides enabling the review stage and creating the first review round?

I totally agree that it is a good thing to provide flexibility in the workflow, but active but

[2017-03-31 07:28] ajnyga commented on #2393
@bozana I think that the extra review rounds are partly connected to the upgrade from OJS2 to OJS3. I do not know if I can track it down anymore and maybe this is fixed already somewhere, but it seems that there have been situations where the upgrade script has created a round 1 for a submission that was still on submission stage when the upgrade took place.

[2017-03-31 07:31] defstat commented on #2376
@ajnyga let me know.

[2017-03-31 07:36] ajnyga commented on #2376
I will, but I could not reproduce the original problem so we will probably know within the next couple of months.

[2017-03-31 07:59] defstat commented on #2376
@ajnyga Well the problem I show and tried to solve with the PR goes as follows:

Let's say you have 2 Sections, and you have reordered them (at issue's TOC let's say issueId=1)
2 rows are added in custom_section_order.

Then try make another Section ("newSection").
Go to QuickSubmitPlugin and add a new submission, declaring the newSection as it's section, and declaring it as published to the issue

[2017-03-31 09:41] marcbria commented on #2163
I full agree with the decission, although the verbose abuse.
As usual, this work looks very promising @NateWr. Thanks.

[2017-03-31 10:22] bozana commented on #440
@asmecher, @NateWr,
There are two possibilities to solve this, I think:
1) We could always add ROLE_ID_SITE_ADMIN to the list of the roles in the function PKPHandler::addRoleAssignment. -- I hope would allow access to every function, right? If this would be safe/OK to do, we would just have to see what menu items in the left sidebar we should provide for those admin users. Maybe then all menu item

[2017-03-31 11:06] bozana opened #2405 "consider file import using href element"

[2017-03-31 12:05] ajnyga opened #2406 "[OJS] Publish Notify email template not used in OJS 3.0.2"
Hi,

One of our editors noticed that OJS 3.0.2. has a Publish Notify email template, but the system does not seem to use it. Instead the basic Notification template is used.
https://github.com/pkp/ojs/blob/master/locale/en_US/emailTemplates.xml#L110

They would like to use it, because the current notification for new issues is quite unfriendly and uninformative compared to the Publish Notify templ

[2017-03-31 12:10] bozana commented on #2393
I will take a look at a upgrade for the 1000000... times again ;-) to see if i.e. when those review rounds are created... That is very much possible...

[2017-03-31 12:15] ajnyga commented on #2393
@bozana I do not think that extra review rounds are created _during_ the upgrade.

But it seems that some of the submission have been in the submissions stage but at the same time, during the upgrade, they get a review round as well. So now, after the upgrade editors go to the submission stage and click the active send to review button and voila, they create round 2.

[2017-03-31 12:21] bozana commented on #2393
@ajnyga, yes it comes from upgrade -- when submission has an editor assigned and is in the review queue in 2.4.x, but no review round is started... -- I've just tested it... I have to see where those review rounds are created for such a case...

[2017-03-31 13:32] kaschioudi commented on #2163
@NateWr I have looked into this and authorization is not working because SubmissionHandler uses SubmissionAccessPolicy (https://github.com/NateWr/ojs/blob/i2163_js_with_api/api/v1/submissions/SubmissionHandler.inc.php#L80) which depends on SubmissionRequiredPolicy, meaning that a submissionId needs to be provided (https://github.com/NateWr/ojs/blob/i2163_js_with_api/api/v1/submissions/SubmissionHa

[2017-03-31 13:43] ajnyga commented on #2393
Sounds like just the scenario we have had with the few submissions. Most of these are of course now in a later stage already. But the original issue here is still in my opinion something worth discussing (meaning the active buttons)

[2017-03-31 14:52] asmecher commented on #2403
Agreed, I think you're mixing code from the `master` branch with code from a stable branch. Make sure you're using the same branch name for all modules.

[2017-03-31 15:02] asmecher commented on #2163
The authorization stuff came up briefly at https://github.com/pkp/pkp-lib/issues/1503 already -- we already have a few cases where IDs are supplied to policies in different ways (watch for e.g. `$submissionParameterName`), so I think it makes sense to survey these, check which are still required (I suspect some of these have since been refactored into obsolescence), and make that aspect more flexi

[2017-03-31 15:35] asmecher opened #2407 "Remove mutex use"
Now that we're requiring more modern database servers, use SQL `UNION` rather than the (clever but unnecessary) [mutex hack](https://www.xaprb.com/blog/2005/09/22/mutex-tables-in-sql/).

[2017-03-31 15:40] VMFnet commented on #2403
I was indeed mixing two different codebases. Thank you @defstat and @asmecher for pointing that out !
I reinstalled the plugin manually with the correct code release (couldn't use the install from the gallery as the page displayed 'already installed' when choosing Quicksubmit),
now everything seems to be working fine.

[2017-03-31 15:40] #2403 closed

[2017-03-31 15:41] asmecher commented on #2403
Glad to hear it's working, @VMFnet!

[2017-03-31 17:17] bozana commented on #2393
PR:
ojs master: https://github.com/pkp/ojs/pull/1343

[2017-03-31 17:18] bozana commented on #2393
@asmecher, could you take a look at the PR and decide about the original request about the decision buttons (at least for now)? :-)

[2017-04-01 02:42] asmecher commented on #2407
PRs:

- https://github.com/pkp/pkp-lib/pull/2408
- https://github.com/pkp/ojs/pull/1344
- https://github.com/pkp/omp/pull/402

[2017-04-01 02:48] asmecher commented on #2407
@bozana, assuming (ha!) the tests pass, could you take a review of this?

[2017-04-03 10:07] luisja58 opened #2409 "CrossRef XML Export Plugin- Status"
In ojs 3.02, when OJS will deposit assigned DOIs automatically to CrossRef (For example 10 articles), but one record_diagnostic status="Failure", in the xml return from crossRef, all status in OJS appear as 'failure', but only one is in error.
Example of XML return from CrossRef:
......
  <record_diagnostic status="Success">
      <doi>.....18.2017.327-330</doi>
      <msg>Successfully added</msg>

[2017-04-03 13:37] ajnyga opened #2410 "[OJS] Manual review reminders do not consider oneclick, OJS3.0.2."
Even if a journal has selected one click reviewer access, OJS3.0.2 does not use the oneclick email template.

PR: https://github.com/pkp/pkp-lib/pull/2411

[2017-04-03 14:48] ajnyga opened #2412 "[OJS] Auto review remind oneclick link is not working"
In OJS 3.0.2. if oneclick access is selected, the automatic review remind email contains a broken link.

PR: https://github.com/pkp/pkp-lib/pull/2413

Also @asmecher, I am seeing to forms of link expiry logic in the code, the last one is correct probably:
`$context->getSetting('numWeeksPerReview') + 4 * 7` AND
`($context->getSetting('numWeeksPerReview') + 4) * 7`

[2017-04-03 15:05] asmecher commented on #2409
@bozana, can you have a look at this?

[2017-04-03 16:25] asmecher commented on #2393
@bozana, that PR looks good to me -- but would you mind removing the trailing `;` at the end of the query (and the one above it)? Just for consistency; ADODB doesn't seem to mind.

[2017-04-03 16:38] asmecher commented on #2412
Correct on both counts, @ajnyga -- many thanks! I've added the parentheses where they were missing. Cherry-picked around to `ojs-stable-3_0_2` and `omp-stable-3_1_0`.

[2017-04-03 16:38] #2412 closed

[2017-04-03 16:47] asmecher commented on #2009
@crism, looking forward to seeing this! Perhaps it's worth eventually calling this a "PKP bootstrap theme" and maintaining separate branches for OJS and OMP applications? I suppose it depends on how much code overlap there ends up being between the two...

[2017-04-03 18:44] asmecher commented on #440
I think option 2 is a better solution -- logically consistent, and less invasive. @jmacgreg, would that drive you crazy as part of the hosting operation?

[2017-04-03 18:46] mfelczak opened #2414 "[OJS] Custom stats options preserved across different reports"
This is for the 'Generate custom report' interface in OJS 2.4.x

If you do multiple reports, the reports page seemingly resets when one selects a new pull-down value for the default report template (e.g., abstracts vs full downloads). Yet, this seems to retain previous parameter values and consequently the next report provides data inconsistent with the selections shown on the UI. The only way to

[2017-04-03 18:51] asmecher commented on #2010
Thanks as always, @ajnyga -- mind sending in a PR for some testing/review?

[2017-04-03 19:03] asmecher commented on #2376
Merged, thanks, @defstat -- @ajnyga, let me know how/whether this works for you when you get the chance!

[2017-04-03 19:03] #2376 closed

[2017-04-03 20:19] jmacgreg commented on #440
Hi all, I was actually going to ask about this as we've run into this issue before - we have admin but not JM access to most of the journals we host, and although it's not an issue in OJS, it has proven problematic in 3. Option #2 here sounds great to me.

[2017-04-03 20:20] asmecher commented on #1911
Pulls:

- https://github.com/pkp/pkp-lib/pull/2356
- https://github.com/pkp/ojs/pull/1311

[2017-04-03 20:48] asmecher commented on #1911
Merged into OJS and pkp-lib master; back-ported to OMP master.

[2017-04-03 20:50] asmecher commented on #1911
Thanks, @kaschioudi! Don't forget to drop links to the pull requests here for easy reference (see e.g. https://github.com/pkp/pkp-lib/issues/1911#issuecomment-291261570), and when opening PRs that reference both an application and the pkp-lib shared library, include a commit updating the submodule hash with a specially-formulated commit message (https://pkp.sfu.ca/wiki/index.php?title=Github_Docum

[2017-04-03 21:11] asmecher commented on #2337
Many thanks! I've merged the fix for #1911 so these are finally getting a look. There's some work still required on the OJS PR before the XML will validate.

[2017-04-04 12:06] ajnyga opened #2415 "[OJS] OJS 3.0.2. Removing a section makes all submissions connected to that section disappear"
It seems that when removing a journal section in OJS3.0.2. there is no fallback. In the submission table, the submission section is set to NULL for all the submissions that were in the removed section and the submission is not visible anymore through the UI. Even when manually entering the workflow address you get `Invalid submission`.

Basically OJS should
1. Ask for replacing section for the one

[2017-04-04 15:30] ajnyga commented on #2010
I made the article summary template conditional because I think it is called from other places as well and $journal will not be available then. I think.

https://github.com/pkp/ojs/pull/1345

Have not checked if https://github.com/pkp/pkp-lib/issues/2272 is something to worry about.

[2017-04-04 17:27] asmecher commented on #1911
@kaschioudi, some of the escaping changes broke the tests. I reverted the parts that seemed to make the difference: 38f4f95ecae4db94cd577810c37bb8a06cf53b73

Could you investigate this and see if you can track it down?

Here's an example of where the tests broke. It appears to be around the assignment of a second reviewer -- tests where a single reviewer is assigned seem OK. But I haven't investig

[2017-04-04 17:38] asmecher commented on #2010
Looks great, thanks! #2272 restricts results from disabled journals from appearing using SQL, so this won't cause problems with that.

[2017-04-04 17:38] #2010 closed

[2017-04-04 18:06] asmecher commented on #1911
Also, the JS linter is complaining about types: https://travis-ci.org/pkp/ojs/jobs/218557251
I resolved one earlier complaint in this commit, but it has probably cascaded to cause these others: https://github.com/pkp/pkp-lib/commit/7aa00f8f05a1a7b84be1180712b2117cee9c7162

Could you have a look at these? (Using the submodule commit to link the app and submodule repos is helpful in causing the righ

[2017-04-04 18:15] kaschioudi commented on #1503
@asmecher : I have done some refactoring to move authorization to a Middleware. Then add a generic getParameter to APIHandler to replace getEntityId.  cf. https://github.com/kaschioudi/pkp-lib/commit/cc49926aace45c5c37650c6556126ce8f00f5bc3

[2017-04-04 18:18] kaschioudi commented on #1911
Okay. I will take a look at this.

[2017-04-04 19:56] kaschioudi commented on #1911
https://github.com/pkp/ojs/pull/1346
https://github.com/pkp/pkp-lib/pull/2416

@asmecher : I hope I have completed submodule commits properly.

[2017-04-05 01:49] asmecher commented on #1911
Almost -- the submodule commit needs to be the last commit (use e.g. `git rebase -i official/master` to manage your commit list) and the comment needs to have `##account/mybranch##` in it -- you're missing the end `##`.

[2017-04-05 04:01] bozana commented on #2409
@luisja58, @asmecher: yes that is so for the moment with batch deposits i.e. if several DOIs are deposited at once -- we get only the status of the whole batch deposit via API. Maybe we can see with the Crossref how to improve it in the future, for now it is so and not a bug...
You get that result XML from Crossref via e-mail or so @luisja58, right?

[2017-04-05 04:12] bozana commented on #440
@asmecher or @NateWr, could then one of you code review the PR?

[2017-04-05 07:53] ajnyga opened #2417 "[OJS] OJS3.0.2 Review form breaks for users that are visiting OJS for the first time"
Hi @asmecher and @bozana

This is an issue which seems to be very complicated but at the same time important to solve as soon as possible while it affects one the key features in OJS and a important user group.

In some cases the review form gets broken when moving between the steps. You get stuck in the same step and translation keys are ##not translated##. You can proceed by clicking the button

[2017-04-05 09:01] ajnyga opened #2418 "[OJS] Formbuildervocabulary does not consider required param for textareas"
Hi,

I noticed that when you create a custom review form, you can not make a `textarea `voluntary. The selection is saved correctly in `review_form_elements`, but it does not apply when the form is opened. The same thing does not happen with for example `select ` elements.

The reason seems to be in the `formbuildervocabulary ` that does not consider the `required` param for textarea's.

PR: https

[2017-04-05 10:17] luisja58 commented on #2409
Agree. Is clear.
I investigated the CrossReff error (cause of the final error in status of the last batch-ID):
Record not processed because submitted version: xxxxxxxxxx is less or equal to previously submitted version (DOI match)
I have seen that if a certain DOI is registered by WEBFORM (has been our case when registering the journal issue), the CrossReff system gives a 12-digit TimeStamp (e.g.

[2017-04-05 11:18] ajnyga commented on #2417
I think it is connected somehow to the task list in the dashboard sidebar:

- Select oneclick review and add a reviewer
- log out, clear browser cache, then click the link with the login key
- Outcome: no Task list or the Submissions link visible in the lefthand sidebar at all.
- If you click Accept review => the above error occurs
- If you leave before clicking and visit the link again without em

[2017-04-05 11:55] ajnyga commented on #2417
Yes, $isUserLoggedIn is not set at all.

I tried to debug this by adding this
[code]
To here: https://github.com/pkp/pkp-lib/blob/master/classes/template/PKPTemplateManager.inc.php#L334

To outcome was that when I visited the review form through the oneclick link, there was no output. The `$user` variable there is not set at all, the code never reaches that point. So there is something very wrong

[2017-04-05 16:19] Geremia commented on #2373
I think what happened is that my CSP policy broke something.

[2017-04-05 17:33] ctgraham opened #2420 "[OJS 3.x] No check on PHPMailer::send() status"
We catch exceptions from PHPMailer, but an error in sending doesn't necessarily generate an exception.
https://github.com/pkp/pkp-lib/blob/91da80b797e2f7dd98014134251c2884de6f30c5/classes/mail/Mail.inc.php#L516-L522

So, if `PHPMailer::send()` simply returns false, the email fails and there is no feedback in the UI or in the error log.

I replicated this by configuring a bad SMTP connection in con

[2017-04-05 17:52] asmecher commented on #2417
@ajnyga, does this seem to be related to custom review forms, or have you seen it using the stock review form?

[2017-04-05 17:55] asmecher commented on #2417
Also, I'm not sure if this is related, but @ajnyga, if you're using your patch for issue #1875, you may also need to apply https://github.com/pkp/pkp-lib/commit/8a0f43920e22d1c0a3d8792e11acb545f8d09751 to resolve potentially non-unique IDs in the DOM.

[2017-04-05 18:08] asmecher commented on #2417
(Our continuous integration script tests reviews multiple times and that part of the script works reliably, so I'm trying to figure out what's different in your scenario.)

[2017-04-05 18:15] ajnyga commented on #2417
Hi,

This is not related to a certain type of review form. It is the movement between the steps that is the problem. I was not able to reproduce this in a fresh install of OJS3. Then again, this problem in different forms has been around since November when we started to test our upgrade. So maybe it is something that requires old data to happen.

Our installation does not have #1875 yet.

[2017-04-05 18:18] ajnyga commented on #2417
I especially do not understand why when accessing through a oneclick link this is not set at all
https://github.com/pkp/pkp-lib/blob/master/templates/common/header.tpl#L54

[2017-04-05 18:21] asmecher commented on #2417
@ajnyga, the one-click access doesn't grant a "complete" login -- it bypasses some of the normal session management tools for the sake of allowing the reviewer to work through the review process. We didn't want grant a first-class login through that link because that would be too "generous" for a one-time login token.

[2017-04-05 18:23] ajnyga commented on #2417
Ok, but the tasks list should still load?

[2017-04-05 18:24] asmecher commented on #440
Please go ahead, @bozana -- it looks good.

[2017-04-05 18:37] ctgraham opened #2422 "[OJS 3.x] Notify user when email sending fails?"
`Mail::send` returns true/false depending on success or failure of sending mail, but the caller is pretty much always constructed as: [`$mail->send();`](https://github.com/pkp/pkp-lib/blob/91da80b797e2f7dd98014134251c2884de6f30c5/controllers/grid/settings/user/form/UserEmailForm.inc.php#L81-L86) without any check of the return value.  Many? most? all? of these should trigger a notification via the

[2017-04-05 19:01] asmecher commented on #2422
Agreed -- OJS 2.x was very inconsistent/spotty around error handling, and OJS 3.x still has some of that legacy. Now that we've entered the 21st century (Exceptions etc.) we could probably stand to have a discussion about error handling more generally. For example, when to just report back to the user (e.g. CSRF token mismatch), when to log an error (email sending failure), and in the latter case,

[2017-04-05 19:21] ajnyga commented on #2417
The missing tasks panel is probably a red herring. Although a clean 302 install seems to show it and our current installation, basically a clean 302, does not.

The connecting issue is the empty browser cache. Both when logging in the usual way or clicking the oneclick link, if the user has not visited the form before, the moving between steps creates the error once.

[2017-04-05 19:39] asmecher opened #2423 "Add notification upon "Add Reviews to Email" click"
See http://forum.pkp.sfu.ca/t/ojs3-attach-review-in-email-lacks-gui-feedback/29704 for details.

[2017-04-05 19:40] #2423 closed

[2017-04-05 19:59] #2367 closed

[2017-04-05 20:01] asmecher commented on #1902
@mfelczak, I still haven't been able to replicate this locally -- but I understand it's happening on our GT servers? Would you mind setting me up with an environment I can see this in? I'm not familiar with our administration practices on those servers.

[2017-04-05 23:17] #2420 closed

[2017-04-05 23:17] asmecher commented on #2420
Thanks, @ctgraham!

[2017-04-05 23:32] asmecher commented on #2418
Merged, thanks! Also cherry-picked to `ojs-stable-3_0_2` and `omp-stable-3_1_0`.

[2017-04-05 23:32] #2418 closed

[2017-04-05 23:36] asmecher commented on #1881
For now, deferring to OJS 3.2. Needs more experimentation than I have time to invest before 3.1.

[2017-04-05 23:40] #1784 closed

[2017-04-06 00:03] asmecher commented on #1786
See the attached patch. This isn't a perfect match -- Google's ReCaptcha [language codes](https://developers.google.com/recaptcha/docs/language) don't use a consistent standard, and I don't like the idea of manually maintaining a mapping between standard language codes from Google's set. So for the moment we're taking the first 2 letters of the locale, e.g. `pt` for Portuguese rather than `pt-PT`

[2017-04-06 00:03] #1786 closed

[2017-04-06 00:07] asmecher commented on #1737
The more I think about this, the more I think this is a problem in Smarty, not a problem in OJS/pkp-lib. It's the [Smarty functions](https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_2/classes/template/PKPTemplateManager.inc.php#L786) that are deleting overzealously.

[2017-04-06 09:11] ajnyga commented on #2417
I have identified the problem, or at least part of it.

If a reviewer has deleted all old cookies and logs in to the system, the `data` field in the `sessions` table looks like this:
`userId|s:5:"123456";username|s:10:"USERNAME";`

The CSRF value is missing. If the reviewer would no proceed to open to reviewing form and clicking a button to move between the steps, an error would occur. However, th

[2017-04-06 10:54] ajnyga commented on #2417
This is the risk scenario that seems to happen with oneclick reviews:
- First visit through the oneclick link, reviewer accepts the review. Session is created, includes the CSRF part.
- Second visit. The user has a new browser/computer or has deleted cache. Clicks the oneclick link, a **new** session is created, but it does **not** include the CSRF part. The first following push of a submission bu

[2017-04-06 12:40] bashar81 opened #2425 "Style lost at logging out ?!"
We are losing style at every logout of a journal page.

Any suggestions ?

![image](https://cloud.githubusercontent.com/assets/13675795/24754480/47366e18-1adf-11e7-9207-81c64fb67781.png)

[2017-04-06 15:56] asmecher commented on #2425
@bashar81, what version of OJS are you using?
Is your journal public, and if so, what's the URL?

[2017-04-06 18:14] ajnyga commented on #2417
@asmecher I can confirm with a clean install of OJS3.0.2 that scenario 3 above is a problem.

I changed the CSRF token validity time 60 seconds (https://github.com/pkp/pkp-lib/blob/master/classes/session/Session.inc.php#L221) and opened a review form. Then waited for a bit and tried to submit the form.

The result was that the error occurred (translation strings visible etc.) and the form data was

[2017-04-07 01:37] stranack opened #2426 "Limit display of names to editors in edited volumes"
Currently, "Edited Volumes" in OMP list volume editors and all chapter authors at the top of the monograph page. This can become very cluttered. See: http://monographs.lib.sfu.ca/index.php/sfulibrary/catalog/book/20

Ideally, edited volumes should only display the volume editor names in this space, along with their designation as editors -- i.e., Terry L. Ozbun; Ron L. Adams (eds).

"Monographs" s

[2017-04-07 01:40] stranack opened #2427 "Add ISBN as a metadata field and include in public display"
OMP does not currently have a field to add an ISBN for individual monographs. This should be added to the metadata (not collected from authors, but able to be added later by editors) and be displayed on the public interface.

[2017-04-07 03:38] ajnyga opened #2428 "[OJS] CSRF token validity time (one hour) breaks the review form"
@asmecher, I am breaking this to a new issue, because this although connected to CSRF #2417 is a bit different.

The CSRF validity time is now set to one hour, but that is, in many cases, too short. Reviewers tend to keep to form open for a long time, more than one hour.

In a clean install of OJS3.0.2 I changed the CSRF token validity time 60 seconds (https://github.com/pkp/pkp-lib/blob/master/cl

[2017-04-07 04:17] asmecher commented on #2428
@ajnyga, the attached patch (https://github.com/pkp/pkp-lib/commit/ff718bfe512b7a19653d3982b975c91cba050629) should be just cosmetic, but it'll get those untranslated keys resolved when the form is bounced back to the user. That bounce should also include the filled-in review form fields and it appears not to -- I'll take a look at that next. I realize these are tangential tweaks but it's a start;

[2017-04-07 06:34] ajnyga commented on #2428
Thanks @asmecher ! One of our journals had a lot of trouble with this and has ended up losing at least four review reports. First I thought that it was something to do with the journal settings, but then realized that they have a longer custom review form which probably takes long time to complete.

I did a quick fix by raising the validity time so that they do not loose more reviews.

One way to

[2017-04-07 10:08] bozana commented on #2427
@stranack, there is a possibility to add ONIX ISBN, in the publication formats tab, under Product Identification. This would then also be displayed in the right sidebar. Would that work/be enough?

[2017-04-07 11:10] MarHerUMR opened #2429 "[OJS] Serve Google fonts without cdn"
As far as I can see turning of `enable_cnd` does not only turn off the delivery of JS by the cdn, it also turns off the delivery of fonts like Noto Sans.

Is it possible to include the font files (like jQuery and jQuery UI) into the lib so they can get served without cdn too?

If it's not possible the comment in the config file should make clear that the use of google fonts is disabled too. I thin

[2017-04-07 15:10] asmecher commented on #2429
@MarHerUMR, possibly -- if those can be managed via a Composer dependency or something similar. I'd rather not have to explicitly manage versioning of dependent content manually e.g. in the git repo.

[2017-04-07 19:11] ajnyga commented on #2417
@asmecher, regarding scenario 1 above https://github.com/pkp/pkp-lib/issues/2417#issuecomment-292138470

Right after clicking a oneclick access link, the data field in the session table looks like this:
`userId|s:5:"123456";username|s:9:"USERNAME";`
Then, after just a second or so, the CRSF part is added to the end.
`userId|s:5:"123456";username|s:9:"USERNAME";csrf|a:2:{s:9:"timestamp";i:149159138

[2017-04-07 19:26] asmecher commented on #2417
I wonder whether this is a concurrency thing (race condition) caused by near-simultaneous loads of different components of the page. Still trying to figure out how to replicate it locally. I'd suggest outright disabling one-click reviewer URLs, though, as they complicate the issue with respect to session management -- if this can be duplicated without them, it'll reduce the number of variables to

[2017-04-07 20:18] asmecher commented on #2428
This is already the case, according to a quick test -- if the CSRF token is expired/incorrect, the user should get bounced back to the review page with a "form improperly submitted" error, but the review  form contents should be preserved, meaning they would be able to submit again without having to re-enter the review.

I suspect lost reviews are probably encountering https://github.com/pkp/pkp-l

[2017-04-07 20:40] jmacgreg opened #2430 "[OJS] Provide option to add "hidden" participants to submissions"
There are instances where participants on a submission should be hidden from the authors or other non-privileged contributors (eg. those at the editor level):

- administrative or low-level staff who don't need to be seen/interacted with authors to do their jobs (eg. typesetters);
- in some journal workflows, section or guest editors shouldn't be seen by authors, and definitely not contacted by (e

[2017-04-07 21:18] asmecher commented on #2430
On the administrative side, see https://github.com/pkp/pkp-lib/issues/440 -- this gives site admins access to the "log in as" feature.

[2017-04-07 21:22] jmacgreg commented on #2430
Hi @asmecher, I don't think that relates to this general use case, for example where an editor wants someone like a section editor to work on a submission, but without being seen (and contacted, questioned, pestered, etc.) by the author. At the same time, these participants should still act as full participants on the submission, and should also have their actions and whatnot recorded.

[2017-04-07 21:25] asmecher commented on #2430
Gotcha, I saw the word "administrative" and read "administrator" ;)

[2017-04-07 21:42] asmecher commented on #2406
This is a hold-over from OJS 2.x (along with e.g. anything payment-related) that hasn't had a feature implemented in OJS 3.x to back it. We do intend to address the lack of mass communication tools in OJS 3.x (the old OJS 2.x "notify users" tool was clunky). I don't see anything filed for this yet, so this entry should serve.

[2017-04-07 22:15] asmecher commented on #1070
@NateWr, assigning to you -- it looks like you started working on this, but I'm not sure how far it got.

[2017-04-07 22:18] asmecher commented on #598
Assigning to @NateWr -- dependent on his submission lists work.

[2017-04-08 05:40] ajnyga commented on #2417
Thanks! I will continue testing this on Monday.

I just want to stress that I have not been able to reproduce scenario 1 on a fresh install which is situated on the same server. So the problem has to be with a) OJS settings or b) old data in db.

Also, I have not been able to reproduce the problem in our production server consistently. What the exact combination is, I am not sure.

I have started

[2017-04-09 05:20] bashar81 opened #2431 "Saving changes in other locals"
Dear Sir,

There seems to be an issue saving changes in other locales. The pointer keeps rolling for hours. Same things happens when you try to upload a file with a name in a different locale than English.

Any suggestions ?
Regards,

[2017-04-09 05:29] bashar81 commented on #2425
I am using the 3.0.1, clean install, at http://journals.ju.edu.jo
In my case, upgrading to the 3.0.2 failed due to a DB error. I managed to get the DB back to its original condition until next weekend so i could try once more !

[2017-04-09 13:45] asmecher commented on #2431
Which of our applications are you using, and what version? (Please include this information with your posts.)
Check your PHP error log to see if relevant details appear there.

[2017-04-09 14:07] asmecher commented on #2425
@bashar81, I ran through a test registration and wasn't able to see the behavior you describe.

[2017-04-09 17:14] bashar81 commented on #2431
OJS 3.0.1, clean install, nothing on PHP log !

[2017-04-09 17:16] bashar81 commented on #2425
That's strange ! This is frequently occurring with me when logging out from a journal page.

[2017-04-10 09:11] martinpub commented on #1062
Hi @asmecher and @bozana, could a similar fix be made regarding <em>issue</em> covers? We would greatly appreciate it, as our journals using covers and different locales never have localised covers. Or is it solved by the patch presented in https://github.com/pkp/pkp-lib/issues/1419?

[2017-04-10 09:38] bozana commented on #2407
@asmecher, just a few comments and questions... :-)

[2017-04-10 10:54] bozana opened #2432 "localized issue cover images"
equivalent to this article cover images, s. also https://github.com/pkp/pkp-lib/issues/1062

[2017-04-10 10:59] bozana commented on #2432
PR:
ojs-dev-2_4: https://github.com/pkp/ojs/pull/1348

[2017-04-10 11:01] bozana commented on #1062
@martinpub, that PR solves it only for journal primary language i.e. if the cover images are in that language. S. https://github.com/pkp/pkp-lib/issues/2432 for a complete localized issue cover images display. I am not sure if this is wished in general i.e. if the PR will be merged -- @asmecher will review it -- thus please keep the track of that issue.

[2017-04-10 11:02] bozana commented on #2432
@asmecher, s. https://github.com/pkp/pkp-lib/issues/1062#issuecomment-292893034. Could you then take a look at this PR, if it is OK and should be merged? THANKS!

[2017-04-10 12:01] martinpub commented on #1062
Thanks @bozana, I will follow https://github.com/pkp/pkp-lib/issues/2432.

[2017-04-10 13:04] bozana commented on #2393
The PR is merged, thus this issue can be either closed (if the buttons should remain) or deferred (if the buttons should be changed)...

[2017-04-10 14:50] jmacgreg opened #2433 "[OJS] Provide option to restrict low-level editors to "recommend" only, not make decisions"
We've received this request from numerous science journals. They often have one or more senior editors who are overall responsible for submissions, and can make decisions, etc.; and lower-level editors who manage the review process but can only make recommendations, not editorial decisions.

The request would be to provide a configurable option at the *role level* to restrict said role to recommen

[2017-04-10 14:56] alexxxmendonca commented on #2433
This would be extremely benefetial for us. That's the case of several SciELO journals and it would likely be a solution to one of our customized SciELO Plugins.

👍

[2017-04-10 14:56] jmacgreg opened #2434 "[OJS] Add preliminary/summary "Decline" email template"
Again, requested by a number of journals recently. The submission workflow could benefit from a separate "summary reject" email template that would be used if a submission is immediately determined to be unsuitable, eg. before peer review. When the "Decline Submission" button is clicked from the initial Submission workflow stage, this summary reject template would be used instead of the current de

[2017-04-10 16:25] alexxxmendonca commented on #2434
This would also be extremely helpful for us.

👍

[2017-04-10 16:56] bozana commented on #440
Merged, thus closing...

[2017-04-10 17:27] bozana commented on #2409
@luisja58

[2017-04-10 17:28] bozana commented on #2409
@luisja58, how did you generated the value for the element `timestamp` when depositing via Web form? The OJS always uses the PHP function time for that, so I believe all OJS exports and deposits should behave in the same way... ?

[2017-04-10 17:30] bozana commented on #2072
@ajnyga, just to let you know what I heard from Crossref: "If your article versions are distinct enough to have different metadata (different title and publication dates, for example) a new DOI should be assigned. You can connect the DOIs using what we call 'relationships': https://support.crossref.org/hc/en-us/articles/214357426"

[2017-04-10 17:31] bashar81 commented on #2431
OK, so it seems the database/tables encoding was incorrect. Basically, it was automatically created as latin_swidish_ci. After transforming the database and the tables into utf8mb64_general_ci it was solved. I think this should be specifically inserted into the DB creation script. And this seems the reason my earlier DB couldn't update successfully to the new OJS version. I will give it a shot and

[2017-04-10 18:19] mtub commented on #2072
Hi @bozana , @ajnyga ,

the Crossref answer seems a little vague to me. New versions of an article, even if they are quite large/important, e.g. a correction of a misinterpretation etc., probably don't get a new title, so if I am reading this correctly, they expect journals to not assign a new DOI. So we'd be stuck with other means, especially non-machine-readable means, to identify versions.

[2017-04-10 18:57] ajnyga commented on #2072
Hi,

I was unaware that CrossRef actually has some solution for this, nice to know that hey have.  Do they actually limit the option to cases where the article gets a new title, or was that just an example? I mean, it makes sense that large changes to the article may happen even though the title does not change.

If this new feature would always create a new DOI, and CrossRef has clear rules when

[2017-04-10 19:11] mtub commented on #2072
Hi @ajnyga , I fear that what Crossref is saying is "do not create a new doi"... maybe @bozana can help us out with the interpretation...

[2017-04-10 20:10] mtub opened #2435 "[OJS] Remove inconsistencies in German locale"
See

* http://forum.pkp.sfu.ca/t/hinweise-zum-lektorat-auf-der-webseite-ojs-3-0-2/29707
* http://forum.pkp.sfu.ca/t/de-hinweise-zum-lektorat/29750
* http://forum.pkp.sfu.ca/t/hinweise-zum-lektorat-auf-der-webseite-ojs-3-0-2/29707/3

[2017-04-10 20:14] #2435 closed

[2017-04-10 21:15] diegoabadan commented on #2300
Hello, we noticed that after this modification the search via the navigation block failed in many cases.

The result looks like this:
Https://revista.enap.gov.br/index.php/RSP/index/search?simpleQuery=test&searchField=query
(not found)

For example, search from this page:
Http://revistas.facultyfacit.edu.br/index.php/JNT/issue/archive

There are two examples of journals I found on google using the

[2017-04-11 05:35] asmecher commented on #2431
Thanks, and glad to hear it's resolved!

[2017-04-11 05:35] #2431 closed

[2017-04-11 06:53] bozana commented on #2072
Well, I actually first thought that Crossref means that a new DOI should be assigned if there is a significant change, but now, after @mtub doubted, I am a little bit confused :-) I will double check!
When CrossMark is used, a new DOI can be assigned also when the full text changes, so I thought without CrossMark as well...

[2017-04-11 07:26] bozana commented on #2003
@pkel, the first two issues are solved and merged. We will not provide a setting for the file names (at least not for now), so may I close this issue?

[2017-04-11 07:33] mtub commented on #2072
Let me be clear: I think that Crossref is in favor of assigning DOIs for significantly changed works, but that they are not in favor of assigning DOIs to any slightly modified version. So there might be a conflict when OJS has new versions as a default (which I still think is a good idea) and when we don't want to include a manual option where the journal editor has to decide on a single case basi

[2017-04-11 07:35] bozana commented on #2105
@jprk, can this issue be closed?

[2017-04-11 07:41] bozana commented on #2409
I think I accidentally closed the issue -- I will wait for your answer @luisja58...

[2017-04-11 07:57] ajnyga opened #2437 "[OJS] Add reviews to email button selects the wrong option for radio buttons in some cases"
Scenario:
A new custom review form is created and it includes a selection with radio buttons. The editor first adds these options and saves the question:
[code]
After a while the editor adds some new values and removes some of the old one:
[code]

The form is saved and used in reviews. The radio button selection works fine in the form and the correct alternative is also shown when the editor reads

[2017-04-11 08:13] ajnyga commented on #2437
I did a quick fix because one of journals is having trouble with this. I did this, but this is definitely not the final solution here:
[code]

[2017-04-11 08:15] lilients commented on #2072
I think "new title" was only an example. They mentioned also a new date as possible metadata, so this should be ok. But true, as I read it, they only want DOIs if there is one of the 12 update types (https://github.com/pkp/pkp-lib/issues/2072#issuecomment-290460923). But I think this is a question of policy. The CrossRef Plugin should inform users of OJS, that they should only create new versions

[2017-04-11 08:18] ajnyga commented on #2437
I can think of some solutions here, but the solution would have to take into account the fact that there are several ongoing review processes with forms that have that problem in the array keys.

[2017-04-11 08:33] bozana commented on #2072
Those types are tightly connected with CrossMark, so when we implement the CrossMark support, we will have to provide them for the users to chose. There is the type "new_version", that could mean everything :-)
They all (e.g. also German National Library) say that only some major changes count (and for example not the missing comma or so)... which again leads to my earlier assumption/'being afraid

[2017-04-11 09:01] bozana commented on #2235
@ajnyga, I think the file names can always be edited i.e. changed.
Concerning the file naming: @asmecher, what do you think about the suggestion? -- It seems good to me, but maybe I do not have a complete overview + do not know the original decisions/reasons/...

[2017-04-11 09:55] ajnyga commented on #2235
HI @bozana. I could not find an easy way to change the label of the review file, there is no option "Edit" there. Of course you could change the label from the previous round when the file is in the revisions listing. There the "Edit" button is available.

An alternative way for naming would be to update the last part of the label, when a revision is loaded. That would solve the problem with file

[2017-04-11 09:56] bozana commented on #2392
The concatenation could be done like this:
a) the following pages from OJS 2.4.x could be concatenated into the current "About the Journal" filed:

- Focus and Scope
- Peer Review Policy
- Publication Frequency
- Open Access Policy
- Journal Sponsorship
- Journal History

b) Shall Privacy Statement content be added at the end of the Author Guidelines?
c) editorialTeam and displayMembership could b

[2017-04-11 10:01] bozana commented on #2235
Ah OK @ajnyga, I was looking at the Revision files and there I could change the name...
Lets see what Alec says about general change of the file names. If they should stay as they are, we could maybe see how to consider those different file names and endings...

[2017-04-11 10:09] ajnyga commented on #2235
This probably needs more feedback from other editors/platforms in any case.

[2017-04-11 10:58] alexxxmendonca commented on #2437
We identified the exact same issue in our install.

[2017-04-11 13:37] bricas commented on #2300
I can confirm what @diegoabadan is saying. Our search is now broken with this change. I reverted the commit on our install and search is functional again.

[2017-04-11 17:37] asmecher commented on #1911
Phew! Thanks, @kaschioudi -- good to have this one closed.

[2017-04-11 17:37] #1911 closed

[2017-04-12 21:03] diegoabadan commented on #2300
@asmecher , Should I open a new issue?

[2017-04-13 07:35] ajnyga opened #2438 "[OJS] Editors should be able to add attachments to the Editorial Decision message"
Hi,

In OJS3, editors would probably benefit if they could add file attachments to the Editorial Decision message. At the moment the editor can choose to send the reviewers attachments to the author, but can not add new attachments to the panel.
![screenshot_24](https://cloud.githubusercontent.com/assets/16347527/24994690/a9fc1a84-2034-11e7-89fc-108e40f1deaf.png)

I suggest that there should be an

[2017-04-13 10:14] lilients commented on #2072
@NateWr I want to add inline help on the article versioning at the production stage. Is it ok to add info on features that need to be enabled first? Or is there a way to change the info depending on the settings of the journal?

[2017-04-13 10:29] bozana opened #2440 "consider views column for old default usage statistics migration"
currently the old default usage statistics (db columns views) migration to OJS 3.x is considered for all 2.4.x. this is wrong because they were there only till 2.4.3.
s. http://forum.pkp.sfu.ca/t/db-error-unknown-column-ig-views-in-field-list/30242

[2017-04-13 11:35] alexxxmendonca commented on #2438
I fully agree on this.

👍

[2017-04-13 15:31] lilients opened #2441 "Make wording of editorial team consistent in backend and frontend"
I think the different wording for the editorial team page (.../about/editorialTeam) at the backend [is](http://forum.pkp.sfu.ca/t/editorial-team-edit/21326) [confusing](http://forum.pkp.sfu.ca/t/editorial-board/26849).

Backend:
![editorialTeam_backend](https://raw.githubusercontent.com/lilients/img/master/editorialTeam_backend.PNG)

Frontend:
![editorialTeam_frontend](https://raw.githubuserconten

[2017-04-13 16:01] asmecher commented on #2441
@stranack, any preferences?

[2017-04-13 16:49] asmecher opened #2442 "Sidebar search does not work outside of search page"
See https://github.com/pkp/pkp-lib/issues/2300#issuecomment-293081290 for details.

[2017-04-13 16:49] asmecher commented on #2300
Filed at https://github.com/pkp/pkp-lib/issues/2442. Watch for a patch to appear shortly.

[2017-04-13 16:51] asmecher commented on #2442
@bricas or @diegoabadan, could one of you confirm that the patch here (listed twice, but either is equivalent) resolves the issue for you?

[2017-04-13 17:31] bricas commented on #2442
👍  Worked for me!

[2017-04-13 19:08] diegoabadan commented on #2442
Worked for me! Thanks

[2017-04-13 20:06] crism commented on #1963
@ctgraham, any work in progress to share on this? I’m very interested in getting this working, and willing to help out.

[2017-04-13 22:00] crism opened #2443 "Refactor AuthPlugin"
The code is exactly identical between OMP and OJS, differing only in comments; core functionality should be moved to `pkp-lib` instead.

[2017-04-14 14:37] ctgraham commented on #1923
@asmecher, unless I'm misreading the current state of master, I don't think the work on adding the `$request` as a parameter to the `GridCellProvider` made it into one of your refactoring changes.  I'm planning on opening a different issue and PR for this, as a blocker for this issue.  Let me know if I've misread your comment from Mar 6.

[2017-04-14 18:00] ctgraham opened #2444 "Add the Request object to the constructor for Components"
From https://github.com/pkp/pkp-lib/issues/1923#issuecomment-278471542:

This is a blocker for pkp/pkp-lib#1923.

[2017-04-14 18:37] ctgraham commented on #1963
Hi, @crism.  I'm in a bit of dependency hell on this one.  Specifically, I've convinced myself that to do this right, each authentication source needs to be a plugin, and each authentication needs to be configurable by at the [site level, the journal level, or both](https://github.com/pkp/pkp-lib/issues/1923).  I sketched something out in a local repository, but it depended on [knowing the request

[2017-04-14 18:46] crism commented on #1963
@ctgraham, I was just looking at #1923… Yes, I can test #2444. Thanks for the update.

[2017-04-14 19:07] crism commented on #2444
Visiting `.../ojs_dev/index/admin/index`:
[code]

[2017-04-14 19:08] crism commented on #2444
Looks like `GridCellProvider::render()` expects `$row` as the first argument (and `getId()` is called on it), but we’re now passing a request.

[2017-04-14 19:12] ctgraham commented on #2444
Good catch. That will be a missing change in the calling function.  `$request` should be in the constructor now, and not in the `render()` arguments.

[2017-04-14 19:12] crism commented on #2444
Ah-hah… you rewrote `GridCellProvider::render()`, but there’s a call somewhere that didn’t catch up. I don’t have a stack trace, though… to the grepmobile!

[2017-04-14 19:17] crism commented on #2444
`GridCategoryRowCellProvider::render()` and `GridHandler::_renderCellInternally()` are culprits… shall I fix them, or will you?

[2017-04-14 19:20] ctgraham commented on #2444
You're welcome to fix and PR into ulsdevteam's refactor-gridcell-constructor branch, if you've already got them.  Otherwise, I'm almost done resetting my dev environment to be ready to start into fixes myself.

[2017-04-14 19:22] crism commented on #2444
Let me finish tracking this further upstream and see where you stand…

[2017-04-14 19:54] crism commented on #2444
Ugh… it’s a little more global than just the calls to `render()`. `GridCategoryCellProvider` has subclasses, many of which are explicitly passed a request.

[2017-04-14 19:57] crism commented on #2444
Progress, though; with the latest commit, at `.../ojs_dev/index/admin/index`:
[code]

[2017-04-14 19:58] ctgraham commented on #2444
Where is `GridCategoryCellProvider` defined?  I'm not seeing it.

[2017-04-14 20:00] crism commented on #2444
It’s `GridCategoryRowCellProvider`, in `classes/controllers/grid`.

[2017-04-14 20:26] ctgraham commented on #2444
I think the next step (for next week) is to identify whether `GridRow`s and `GridColumns` should all be constructed with a `$request` passed in, per errors like:
[code]

[2017-04-14 20:32] crism commented on #2444
Yeah, I think the refactoring needs to be more thorough. It’s yak-shaving time! I may work on this this afternoon, if you’re done for the week.

[2017-04-15 00:03] crism commented on #2444
Found a few lacunae to check in.

Also dependencies in other repos:
 - `pkp/staticPages`
   - `StaticPageGridCellProvider`
   - `StaticPageGridHandler`
 - `pkp/translator`
   - `LocaleFileListbuilderGridCellProvider`
   - `LocaleFileListbuilderHandler`
   - `LocaleGridHandler`

[2017-04-16 19:18] mtub commented on #1911
Hey Kassim and Alec, thank you so much! This is a very good thing to finally have, and we are more flexible with translations now. Thank you, @kaschioudi!

[2017-04-16 20:42] rkhalikov commented on #1828
Is there any progress on this issue?
We tried to fill both the subject and keywords fields (OJS 3.0.2). Alas, no keywords are displayed either in the meta tags or on the article page... :(

[2017-04-17 07:03] luisja58 commented on #2409
Before using OJS we had registered the DOI of the issue via webform.(TimeStamp  201703231933)
https://www.crossref.org/webDeposit/
Later, in OJS, we activated automatic DOI registration of articles (Timestamp 1491002675).

[2017-04-17 09:14] Baytan opened #2446 "Reviewer affiliation info is not recorded when creating reviewers"
I am an editor using OJS 3.0.2. When creating a reviewer at assign reviewer from review stage of submissions, the reviewer affiliation is not recorded. When you check affiliation information from user info it is not seen. The affiliation info is very important for my journal as we give certificates to the reviewers including their affiliation info.

[2017-04-17 12:56] pkel commented on #2003
Thanks.

[2017-04-17 12:56] #2003 closed

[2017-04-17 19:32] ctgraham commented on #2444
@crism, with your commits, I'm no longer seeing failures in the error log.  Do you see any additional?

@asmecher, I'm particularly curious about cases like:
https://github.com/ulsdevteam/pkp-lib/blob/015c38da97d2b90778a7de73237ab13e306aacbe/classes/controllers/grid/CategoryGridHandler.inc.php#L41-L45
Here we now require an instantiated request object in the constructor, when it clearly appears th

[2017-04-17 21:16] crism commented on #2444
Looked through a few grids, including plugins and their settings, submissions in various states, and saw nothing in the error logs. Looks clean to me.

[2017-04-17 22:26] crism commented on #2444
I’ve also attempted to audit all the uses of `GridCellProvider` and its subclasses, and they all seem to be clean now.

[2017-04-18 09:58] bozana commented on #2409
@luisja58, yes, I am afraid we can generally do nothing here -- the users who manually registered DOIs without using OJS could have anything in their "timestamp". We would then have to provide a general possibility for OJS users to configure how the "timestamp" is created, but this is a very low priority for us now -- so much important things for OJS 3.1 to work on. Thus, could you maybe ask Cross

[2017-04-18 10:23] bozana commented on #1828
@rkhalikov, no unfortunately not yes, as far as I can see. Stay tuned... :-)
@asmecher, I will then change the DC.Subject and citation_keywords in the metadata to list keywords instead of subjects, OK?
@NateWr, do we have any plan on presenting/display of keywords on the article page?
All other issues I will leave for now...

[2017-04-18 10:34] ajnyga commented on #1828
"I will then change the DC.Subject and citation_keywords in the metadata to list keywords instead of subjects, OK?"

So what happens to all the content in the subject field? I mean, won't it show anymore in for example OAI? What about all the old content the journals have in that field?

[2017-04-18 10:41] bozana commented on #1828
@ajnyga, the OAI or anything else will not change -- just the DC and google scholar meta tags in the HTML header -- the subject field content was not there however (neither in OJS 2.4.x nor in OJS 3.x) -- it was wrongly accessed in OJS 3.x, s. https://github.com/pkp/ojs/blob/master/plugins/generic/dublinCoreMeta/DublinCoreMetaPlugin.inc.php#L122-L126.

[2017-04-18 10:53] ajnyga commented on #1828
Ok, thanks. But do you really mean that DC.Subject will use the content entered to the Keywords field in OJS metadata? And if so, what will happen to the Subject field in the OJS metadata?

[2017-04-18 11:07] bozana commented on #1828
@ajnyga, hmmm... I thought that the current subject field is something like subject classification in OJS 2.4.x, but it seams that the keyword fields from OJS 2.4.x are called "subject" and also migrated as such to 3.x i.e. to the subject fields :-( Thus, now I do not understand the meaning of the keyword field in OJS 3.x :-( I will then only change it so that the access to the subjects fields for

[2017-04-18 11:21] bozana commented on #2440
PRs:
ojs master: https://github.com/pkp/ojs/pull/1350

[2017-04-18 11:42] ajnyga commented on #1828
Hi @bozana, that is exactly the same question I asked a couple of weeks ago: http://forum.pkp.sfu.ca/t/display-of-keywords-in-ojs-3-0-2-0/28742/12 :)

What ever the future of these two fields is, some decisions are really needed because probably the current OJS users could be using the fields the wrong way and will have to migrate the already saved data from one field to another.

[2017-04-18 11:53] bozana commented on #2446
PR:
lib-pkp master: https://github.com/pkp/pkp-lib/pull/2448

[2017-04-18 11:53] bozana commented on #2446
@Baytan, if you apply the patch above it should solve the problem. This will be included in the next OJS release...

[2017-04-18 11:53] #2446 closed

[2017-04-18 12:11] rkhalikov commented on #1828
Absence of keywords is a huge issue of OJS in the light of Scopus, etc. Very sad that PKP ignores it for so long :(

[2017-04-18 12:18] ajnyga commented on #1828
@rkhalikov keywords are not absent in OJS. OJS has had the Subject field a long time which is basically the equivalent of Keywords in Dublin Core. It is only the presentation of these words in the article page that has problems at the moment. And the second question is whether there should be two separate fields here (keywords/subject) and if so, what is the difference.

[2017-04-18 12:20] bozana commented on #1979
PR https://github.com/pkp/ojs/pull/1351 is merged, can the issue be closed?

[2017-04-18 12:21] #1979 closed

[2017-04-18 12:23] bozana commented on #1828
@rkhalikov, and this is only in OJS 3.x, that is pretty new, so not such a big problem and not sad at all...

[2017-04-18 12:28] bozana commented on #2440
everything merged, thus closing...

[2017-04-18 12:28] #2440 closed

[2017-04-18 13:08] Baytan commented on #2446
Thank you very much. Thanks all the contributors of the OJS. It is a great job:).

[2017-04-18 14:29] ctgraham opened #2449 "PHP code documentation cleanup"
Working with GridHandler and GridRow recently, I found a number of typos in the method documentation: things like incorrect parameter order or wrong parameter typing.

[2017-04-18 14:59] lilients commented on #2441
I changed the wording of the input for the editorial team at the backend from masthead to editorial team in all languages that have the key `manager.setup.masthead` (These languages do not have it: `ca_ES`, `cs_CZ`, `eu_ES`, `hr_HR`, `nl_NL`, `pt_PT`, `sr_SR`, `sv_SE`, `tr_TR`, `uk_UA`, `zh_CN`) and in the table `journal.settings`.

Backend:
![editorialTeam_backend](https://raw.githubusercontent.c

[2017-04-18 15:32] bozana commented on #1911
@kaschioudi, how should be such a locale (sr_SR@latin for example) be defined in order to be usable? -- I am not able to install sr_SR@latin (for example) and to see it displayed in the UI and to switch to it... :-( I used this PR for the test: https://github.com/pkp/ojs/pull/1309 and I've changed the "key" attribute in "registry/locales.xml" to key="sr_SR@latin" (instead of the earlier "sr_SR").

[2017-04-18 15:34] bozana commented on #2441
Thanks @lilients, I'll wait for @stranack to say... then I can take a look at the PR... :-)

[2017-04-18 15:42] bozana commented on #1911
Ah, sorry @kaschioudi, I had a typo and language toggle block unselected :-P Works well! Great! :-)))

[2017-04-18 16:06] bozana commented on #2449
can the issue be closed?

[2017-04-18 16:07] Ph-We commented on #1828
@rkhalikov, I do not think that might be relevant to Scopus requirements, since AFAIK they do not require keywords to be **displayed** on the article page. They only require them to be transferred as part of metadata.

[2017-04-18 16:16] rkhalikov commented on #1828
@Ph-We, do you realize that in OJS 3.0.2 neither subjects nor keywords are included as metadata (DC/GS metatags)?

[2017-04-18 16:25] bozana commented on #1828
@rkhalikov, how does the integration of OJS articles into the Scopus work?

[2017-04-18 16:33] Ph-We commented on #1828
@rkhalikov, Yes, I do realize, since I created this issue :D But still I am sure it has nothing to do with Scopus requirements. Since Scopus would not get your metadata from DC/GS metatags. AFAIK, they will get it from e.g. DOAJ. Please, correct me, if I am wrong.

[2017-04-18 16:35] ctgraham commented on #2449
Actually, maybe this should be left open as a catch-all for other inline documentation cleanup?  What do y'all think?

[2017-04-18 16:38] rkhalikov commented on #1828
@bozana, the integration as such is not a question. The point is that we are new users and we are deploying OJS for several journals with a focus on Scopus and so on. We put comprehensive info into OJS itself, including keywords, etc. But we get pared down info at the output. That is the question...

[2017-04-18 16:39] bozana commented on #2449
Yes, we could do that, and if we realize that new issues are being created and this one is not used, we can then close it...

[2017-04-19 04:18] asmecher commented on #2442
Thanks for following up!

[2017-04-19 04:18] #2442 closed

[2017-04-19 05:26] asmecher commented on #2392
Yes, thanks -- this looks good. (@jalperin, I think you came across a use case for this too?)

[2017-04-19 05:29] jalperin commented on #2392
Yes. But also making an HTML masthead for those that has set up the awful masthead thing in ojs2

[2017-04-19 05:32] jalperin commented on #2392
Sorry @bozana, I see you mentioned the editorial team also. All that looks good. Privacy statement could go with author guidelines.

[2017-04-19 06:11] karamqubsi opened #2452 "Google Scholar indexing new articles with this title: "Quick jump to page content""
Hi ,
If you searched google scholar for the following term "Quick jump to page content "  :

[https://scholar.google.com/scholar?q=%22Quick+jump+to+page+content%22&btnG=&hl=en&as_sdt=0%2C5](https://scholar.google.com/scholar?q=%22Quick+jump+to+page+content%22&btnG=&hl=en&as_sdt=0%2C5)

you will get about 900~ results and it is all using ojs ,

What is the problem , of course we noticed that after

[2017-04-19 08:02] bozana commented on #2452
@NateWr, I believe it comes from bootstrap3 theme. Do yo know?

[2017-04-20 08:32] NateWr commented on #2072
Hi @lilients, sorry for the delay (I'm just back from a holiday). Yes, go ahead and add information about versioning to the slide-in help panel. Just be sure to indicate that it may not appear, with text like:

And then somewhere in the section be sure to indicate how to enable versioning:

(Or wherever the setting is.)

[2017-04-20 08:59] NateWr commented on #2178
@defstat sorry for the late feedback. Your outline looks like you've got it pretty well covered. Here's some thoughts:

Right now, our default theme has two different navigation menus:

![ojs-nav-menus](https://cloud.githubusercontent.com/assets/2306629/25221933/c592dcae-25ae-11e7-904c-f6e6bb6d9e35.png)

Another theme might choose to offer just one navigation menu area. Or maybe it will have three

[2017-04-20 09:03] NateWr commented on #1447
Good idea. How many participants do we reasonably expect to be assigned to a single submission? If it's under 10-15, I wonder if it would be quickest just to list all the possible participants so that users can just click to add the ones they want to include.

[2017-04-20 09:38] ajnyga commented on #1447
I find it hard to believe that in any scenario there would be more than 10.

I still vote for the group selection option I described above (it could use the current UI), but any solution that helps adding multiple users is of course welcome!

[2017-04-20 09:44] knjigor commented on #2235
Hi,
I have just left an topic regarding this on forum http://forum.pkp.sfu.ca/t/submission-track-names-of-files/30430
Naming files like that is problematic if blind peer review is used, my opinion is that it would be best if file could be named after submission number, like in case below:
insted of
igor_lekic, Аутор, Rad_za_goddisnjak.docx

it should be simply named
3455-1, Аутор, Rad_za_goddisnja

[2017-04-20 09:51] knjigor commented on #2235
BTW,
Where could I change this in 3.0.2.0?

[2017-04-20 10:02] NateWr commented on #598
This should be obsolete once the new submissions lists are in place (#2163).

[2017-04-20 10:07] NateWr commented on #2433
And update the round status. (Just noting for later.)

[2017-04-20 10:13] NateWr commented on #2430
My worry would be that the privacy protection would be prone to human error if an editor has to manage it manually. What would be the reason not to include author-visibility as an option attached to a user role, as you suggested for #2433? That way it would apply to everyone with that role rather than at the editor's discretion?

[2017-04-20 10:29] NateWr opened #2453 "Adjust wording of Send to Copyediting button on review stage"
On the review stage, there is no ACCEPT button, which some are looking for - possible rewording “Accept and Send to Copyediting”.

From the [UI/UX testing outcomes](https://docs.google.com/spreadsheets/d/1RkZ0avL3UIUU-hUScbM77lLCsGtk-T2_dL-FEx_vKcM/edit#gid=0).

[2017-04-20 10:45] NateWr commented on #1828
All other issues I will leave for now..

@bozana, I think there was an issue floating around specifically about visual display of this metadata, but I can't seem to find it. My thinking is that this will be implemented alongside browsing by subject/keyword, and that this is something we plan to do for the next theme which has been designed but needs some feature extensions like this.

[2017-04-20 11:05] NateWr commented on #2452
Huh, that's interesting. That probably shouldn't be an `<h2>` element. But still, it seems like a pretty big indexing fail on Google's part.

@karamqubsi: the immediate fix is to change the `<h2>` on the line that @bozana sent to `<p>`. I'll flag this up in the bootstrap repo so that we get this changed for the next version.

[2017-04-20 11:07] NateWr commented on #2452
Closing this in favor of the issue filed over at the theme repo, so follow-up discussion there:

https://github.com/NateWr/bootstrap3/issues/57

[2017-04-20 11:07] #2452 closed

[2017-04-20 11:20] hahsociety1624 opened #2454 "[OJS]"

[2017-04-20 11:22] hahsociety1624 commented on #2454
[AJBS   10 (1).pdf](https://github.com/pkp/pkp-lib/files/942648/AJBS.10.1.pdf)

[2017-04-20 11:22] #2454 closed

[2017-04-20 11:27] bozana commented on #2392
PRs:
ojs master: https://github.com/pkp/ojs/pull/1357

[2017-04-20 12:24] bozana commented on #2392
@asmecher, could you take a look at the PR?

[2017-04-20 13:35] bozana commented on #2392
Hmmm... the privacy statement text i.e. a link to it is used on several other places in the system, e.g. submission step 1, usage statistics, in the default info text for readers, notification mail list form/page (might be old/not used)... and also in OMP... so maybe it would make sense to reactivate it again i.e. to provide an input field for that again? @asmecher, what do you think?

[2017-04-20 14:41] bozana commented on #2235
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2455
ojs master: https://github.com/pkp/ojs/pull/1358 (only submodule update)

[2017-04-20 15:04] bozana commented on #2235
@asmecher and @NateWr, could you please take a look at this change: https://github.com/pkp/pkp-lib/pull/2455?
It changes how the file names are handled: till now, if an author uploaded a file and then a journal manager uploaded a revision of that file, the file name would not change. For example, if the author uploaded a file with the name "author1, Author, 1-2-1-RV.doc", the journal manager revis

[2017-04-20 15:18] NateWr commented on #1859
The CustomBlockManager plugin needs some adjustments to work properly in the site-wide context. The following PRs address issues with creating new site-wide blocks and managing their enabled/disabled state.

PRs:
https://github.com/pkp/customBlockManager/pull/21
https://github.com/pkp/pkp-lib/pull/2456
https://github.com/pkp/ojs/pull/1359

Reported: http://forum.pkp.sfu.ca/t/custom-block-manager-a

[2017-04-20 15:27] ajnyga commented on #2235
This is a tricky thing, because at the same time I also see the benefit of having the actual filename in the label.  So maybe even:
Not blinded: [Username], [Role],[Component][#fileid],[Original filename] [(#Rev)]
Blinded: [Role],[Component][#fileid][(#Rev)]

Anyway, thumbs up for the new feature that the label is rewritten when the filename changes.

[2017-04-20 15:31] bozana commented on #2235
Well maybe then to leave the pattern as it is for now, just the change in the PR above...

[2017-04-20 15:46] NateWr commented on #2235
@bozana, so in the examples above, `1-2-2-RV.pdf` is the filename that's uploaded, correct? If so, then that sounds good to me. As long as there is some remnant of the name that connects the two revisions so that people can easily distinguish between two different types of files (eg - full article, supplementary data set).

[2017-04-20 16:23] asmecher commented on #1447
I think the longest participant lists will be in edited volumes in OMP, and I think the list won't be so long that a well-presented set of checkboxes would be unmanageable.

[2017-04-20 16:36] asmecher commented on #2392
Hmm, yes, I do think that makes sense. There are probably a few orphaned settings still kicking around like this.

[2017-04-20 16:40] bozana commented on #2235
@NateWr, what do you mean here?
`1-2-2-RV.pdf` is the original name of the file uploaded second time. It could be anything, depending how the user is naming it locally.
The revision number is always displayed for the user, so the user would then see something like "jmanager, Journal manager, 1-2-2-RV.doc (2)"
Do you think we should then consider the "Component" (e.g. "Article text") or fileId in t

[2017-04-20 17:11] NateWr commented on #2235
No, sorry, I meant the original name of the uploaded file. We don't need to include the component in the naming scheme. Sounds like you've got it covered.

[2017-04-20 17:11] asmecher commented on #2235
Just FYI, I've fallen way behind on this thread -- @bozana in particular, let me know if there's still an open question for me. Thanks!

[2017-04-20 17:16] asmecher commented on #2453
@stranack, I think I recently tagged you elsewhere on this -- OpenSI also wondered why we used "Send to Copyediting" instead of "Accept".

[2017-04-20 17:20] stranack opened #2458 "AddThis plugin for OJS 3 (or a better alternative)"
OMP 3.1 includes a plugin for AddThis, allowing for social media linking -- see: http://monographs.lib.sfu.ca/index.php/sfulibrary/catalog/book/1

We need something similar (or better) for OJS 3. This is an increasingly important way that scholars are sharing resources and journals are coming to expect it.

[2017-04-21 04:51] asmecher commented on #2417
The `session_check_ip` setting could indeed be related -- it's best to disable that in general, as certain users may be behind a proxy pool and their sessions will periodically be invalidated if their proxy server changes.

[2017-04-21 04:54] asmecher commented on #2425
Can you try the process with another browser to see if it might somehow be browser or cache related?

[2017-04-21 06:41] ajnyga commented on #2458
Hi,

I uploaded a OJS3 version of the OMP addThis plugin here: https://github.com/ajnyga/addThis

I made that a while back, but have not used it myself. I am reworking the article page in our theme (adding for example tabs to make it more clean https://jqueryui.com/tabs/) and will add these social media buttons straight to the theme plugin itself.

I think that just by adding a check for the templ

[2017-04-21 09:44] MarHerUMR opened #2460 "[OJS3] Discussion item will be created even if canceled"
When logged in as an author you can add a discussion to the Review Discussions. On clicking "Add discussion" the panel for the discussion opens.

When you now cancel the panel I would expect that no new discussion is created. But instead an empty discussion is created, with no title. It appears on reloading the Review page. Also you can't delete the empty discussions as an author.

This behavior o

[2017-04-21 11:36] #2409 closed

[2017-04-21 12:04] bozana commented on #1859
@NateWr, everything looks good to me :-) I only think that you will have to add the submodule references anew :-( Then you can merge... :-)

[2017-04-21 12:33] ctgraham commented on #1859
Multiple submodule commits in the last commit (or merge commit) will break the startSubmodulesTRAVIS script.
https://github.com/pkp/ojs/blob/f2426b95ffab88d86d0100d54541a76f4e334c62/tools/startSubmodulesTRAVIS.sh
Line 19 will pull all of the subproject commit hashes, then line 22 will fail because $strLength is not exactly 40.

[2017-04-21 15:06] asmecher commented on #2460
@MarHerUMR, when you cancel creating a query, there should be an AJAX request to delete the empty placeholder. Could you look at a developer tool like Firebug for Firefox to watch for that deletion to happen? If it does happen, could you inspect the response to see if anything relevant appears there (e.g. an error message)?

[2017-04-21 17:01] asmecher commented on #2444
@ctgraham, I'm not particularly concerned about _where_ the `$request` object gets passed in -- perhaps it's more useful to consider where it's typically used. The `__construct`/`initialize` split doesn't exist through most of the stack (just e.g. in `Handler`s) and I wouldn't want to replicate that all the way down the stack into e.g. `GridBodyElement`s without a good reason for it. I'd recommend

[2017-04-21 18:00] #2407 closed

[2017-04-21 18:01] asmecher commented on #2407
Merged, and good riddance to some convoluted queries -- thanks, @bozana!

[2017-04-21 18:12] asmecher commented on #1923
Yes, thanks -- I fell into a parallel but distinct rabbit hole.

[2017-04-21 18:38] asmecher commented on #2458
@ajnyga, excellent -- and as you note, this would be trivial to change so the same code supported both applications. Since the only real difference is the name of the hook, I'd suggest simply registering for both and letting the application call whatever one it wants to.

Would you prefer to maintain that repository yourself, or to transfer it over? I'd like to see more third-party repositories, t

[2017-04-21 18:59] ajnyga commented on #2458
Hi,

The changes I had to do were minimal, so it would be a bit weird for me to maintain this. So go ahead and copy the version I have here. I will remove the repository once it is available from the Plugin Gallery.

[2017-04-21 19:12] asmecher commented on #2458
Great, that makes sense. I've forked this back over to the PKP account and added a commit to reconcile a few details with OMP: https://github.com/pkp/addThis/commit/988f93a083c97866a041d3aabef041d3f8f59a9e

[2017-04-21 19:12] asmecher commented on #2458
Still needing doing (a note to self):

- [ ] Remove from OMP repo
- [ ] Test with both
- [ ] Package and add to plugin gallery for OMP and OJS

[2017-04-21 19:54] asmecher commented on #2458
All right, @ajnyga, it's in the plugin gallery for OJS -- I haven't added it to the OMP gallery because until the next release it'll still be included in the package. Ready for you to delete your fork unless you'd like to keep it around -- and thanks again!

@stranack, this should now be in the plugin gallery for OJS 3.0.2.

[2017-04-21 19:54] #2458 closed

[2017-04-21 20:04] ctgraham opened #2461 "[OJS3] Native Import can't clean up after failure for article section"
The article's [section reference is not required by the schema](https://github.com/pkp/ojs/blob/943db5885a8f91f905383067993a9f7cd38e82ce/plugins/importexport/native/native.xsd#L29).

However, if the article does not have a valid section reference, [it will still be imported with a section_id of 0](https://github.com/pkp/ojs/blob/e48d991cb67a3cf3c73ec6846fce89c95b701c7b/plugins/importexport/native/

[2017-04-21 20:07] asmecher commented on #2461
Sections are currently mandatory for articles on purpose. Some OJS 2.x users tinkered with `0` for `section_id` -- the joins in OJS 2.x where `LEFT JOIN`s -- but we've never supported that approach.

[2017-04-21 20:09] ctgraham commented on #2461
So I presume we will need to mark the `section_ref` required in the schema, and will need to ensure that the submission is not inserted to the database if not attached to a valid section (because it can't be cleaned up later!).

[2017-04-21 20:20] ctgraham opened #2462 "[OJS3] Native import export creates duplicate issues"
The `NativeXmlIssueFilter` [creates an issue before processing child elements](https://github.com/pkp/ojs/blob/92e46b44d853787ab4fb5bd2e6ca3cd90dd3828d/plugins/importexport/native/filter/NativeXmlIssueFilter.inc.php#L77-L84), such as (critically) the "issue_identification".

This means that if you use the native import to try to bring a new set of articles into an existing issue, you get duplicate

[2017-04-21 20:31] bozana commented on #2461
just a note, also for later: i think that article insertion is reversed if there is no such section, s. https://github.com/pkp/ojs/blob/master/plugins/importexport/native/filter/NativeXmlArticleFilter.inc.php#L86, but the section_ref should then be required...

[2017-04-21 21:52] asmecher commented on #2235
@bozana, I think this broke the OMP tests -- see https://travis-ci.org/pkp/omp/jobs/224472530. The filenames in the Publication Formats grid are expected to be titled after the chapter (`Bomb Canada and Other Unkind Remarks in the American Media`) but instead they're e.g. `callan, Author, bombcanadaandotherunkindremarksintheamericanmedia.pdf`.

[2017-04-21 21:53] bozana commented on #2235
yes, I am repairing it... coming...

[2017-04-21 21:57] bozana commented on #2235
maybe also a not: now the file names will eventually also change when a file is copied from one stage to another -- if the original file name has been changed. I think this is OK -- the user can always rename it, if necessary. Maybe then just to see, that editing the file name is possible in each grid?

[2017-04-21 22:08] asmecher commented on #2235
Yes, that's possible too -- but either way the tests do need to be fixed, and with this change in place, I suspect the name will have to be changed in the test scripts to ensure that the resulting presentation on the front end doesn't include a raw-looking filename.

[2017-04-21 22:31] bozana commented on #2235
Could we leave that 'raw-looking' filename? -- because it is then in every workflow stage, because this is how we build the original file name. In other case we could either:
-- change how we construct the original file name to be the same as the title (i.e. containing upper letters + spaces, for example), but it would also contain the file ending + what about other special characters?
-- change i

[2017-04-21 22:41] asmecher commented on #2235
The file in the failing test is being brought forward from a previous stage in which it had the full descriptive name. I think this will be confusing if the same name isn't used when the file is pulled forward.

[2017-04-21 22:55] bozana commented on #2235
Yes, that would be now always the case, thus we should change it :-( So actually, the new file name should only be generated if it is a file upload or review stage (here we have to generate a new file if we want to try to assure anonymity), right?

[2017-04-21 23:06] asmecher commented on #2235
Yes, I think so.

[2017-04-22 00:49] bozana commented on #2235
OK, I did a new fix: new file name should be generated only if it does not exist, it it is a file upload or review stage. Tomorrow I will fix a PHP 7 test failure and then merge if OK:
pkp-lib master: #2463
omp master: pkp/omp#405

[2017-04-22 10:52] defstat commented on #2114
@asmecher @bozana @ajnyga

Here
https://github.com/defstat/quickSubmit/tree/pkp/pkp-lib%232114-QuickSubmitPlugin-submission-language-fix

are some changes regarding the functionality described above, for the QuickSubmitPlugin.

I am not sure if it is already done, but shouldn't we change other core forms like
https://github.com/defstat/pkp-lib/blob/master/controllers/grid/users/author/form/AuthorF

[2017-04-23 20:46] economystic commented on #1902
I had the same problem with OJS 3.0.2. The site is on a paid hosting with php5.5. The solution suggested by @judgej worked fine for me. I can give access to you to our hosting service if you want to replicate and track further the problem.

[2017-04-24 10:26] NateWr commented on #2085
Touch controls don't work if the tap lands on the dropdown caret beside the main navigation menu item. It appears that `touchstart` events on the `:after` psuedo-element aren't bubbling up to the link.

![selection_193](https://cloud.githubusercontent.com/assets/2306629/25333046/b0f1447c-28e0-11e7-9dcd-651c24caca0c.png)

Reproduced on Android Chrome.

[2017-04-24 10:36] NateWr commented on #1859
Thanks @ctgraham!

@bozana tests are now running. Fingers crossed. :)

[2017-04-24 10:55] NateWr commented on #2179
@defstat: sorry for the late response to this. I'm not familiar with the email code. I went back to the original report and don't see any indication of which email template this variable name appeared on. Sorry I'm not much help, but maybe this issue can be closed unless we get a fresh report.

I like your suggested with `assignParams` but not familiar enough with the code to know what impact it w

[2017-04-24 10:57] NateWr opened #2465 "[UI/UX] Give the author access to the copyedited and galley files grids"
From the [UI/UX outcomes list](https://docs.google.com/spreadsheets/d/1RkZ0avL3UIUU-hUScbM77lLCsGtk-T2_dL-FEx_vKcM/edit#gid=0).

[2017-04-24 11:01] ajnyga commented on #2085
Hi @NateWr
I was actually meaning to add here, that loggin out from the dashboard with iPad was problematic. In a OJS3 workshop one iPad user could only log out by first clicking profile link and then log out. Earlier I thought that this was solved already last year, but apparently not. OJS 3.0.2.

[2017-04-24 11:03] NateWr commented on #2085
Can you file a separate issue? The JS is a bit different for the frontend and backend nav menus. I'll tick them both off at once but good to have a separate ticket filed.

[2017-04-24 11:04] ajnyga commented on #2085
Sure @NateWr , I will just check this firs with my own iPad when I get home

[2017-04-24 11:36] NateWr commented on #2453
I changed the language of the buttons a bit to be clearer for each stage. @stranack any objections?

![selection_194](https://cloud.githubusercontent.com/assets/2306629/25335315/6d129fa8-28ea-11e7-9f1e-9c7c22d7fac5.png)

![selection_195](https://cloud.githubusercontent.com/assets/2306629/25335322/726378d8-28ea-11e7-9c29-6080e5035b5e.png)

PRs:
https://github.com/pkp/pkp-lib/pull/2466
https://githu

[2017-04-24 12:03] ctgraham commented on #2461
The error is flagged if the section is missing, but the insert is unable to be undone.  The query from `SubmissionDAO::getById()` can only find articles with valid sections, so `deleteById()` can't delete them.

The `SubmissionDAO` should probably implement an `insert()` method which checks for a valid section before committing to the database.

[2017-04-24 12:20] ctgraham commented on #2461
This gets back to the earlier question of what to do in the event of error.  Did we settle on exceptions as the standard for 3.x?  I see only a few instances in the codebase.

[2017-04-24 12:48] bozana commented on #2461
Ah, I see @ctgraham -- you can insert an article without a sectionId but cannot retrieve it then. Hmmm... Maybe @asmecher can tell how to best proceed in this and all other similar cases...
However, the native import has to be change -- the submission should not be inserted before the section is not checked...

[2017-04-24 12:48] ctgraham commented on #2461
In the immediate case, however, there is an awkward situation in the error reporting.  `PKPImportExportDeployment::addError()` expects an `$assocType` and `$assocId`.  If we catch this error by not inserting the object, then `$assocId` will be null, and any invalid section error will be grouped under one non-existent submission.

[2017-04-24 13:02] bozana commented on #2461
Yes, maybe we can introduce another assocType for that kind of error message... in that case, nothing has to be done/deleted, because no article will be inserted... ?

[2017-04-24 13:17] bozana commented on #1859
merged :-) maybe then just to update the reference to the customBlockManager?

[2017-04-24 13:36] NateWr commented on #1859
Thanks! I think we've got the submodule updated. I just added it in a separate commit here:

https://github.com/pkp/ojs/commit/9b893efa165052249859521ed752159c40ef5920

[2017-04-24 13:42] bozana commented on #1859
oh yes, yes... :-) so the issue can be closed?

[2017-04-24 13:58] #1859 closed

[2017-04-24 15:06] defstat commented on #2114
QuickSubmitPlugin PR: pkp/quickSubmit#7

[2017-04-24 16:31] asmecher commented on #1902
Taking a quick look, this might already be fixed in #2364 -- try applying https://github.com/pkp/pkp-lib/commit/7820368dda6cd6779f2ed2348e04ad8189888fdf to see if it resolves the issue for you.

[2017-04-24 16:55] asmecher opened #2467 "Some upgrade queries are improperly scoped"
The upgrade code contains, within the "for each journal" loop:

    $userGroupDao->update('UPDATE review_assignments SET stage_id = ?', array(WORKFLOW_STAGE_ID_EXTERNAL_REVIEW));

This needs to execute once per install, not once per journal.

Later, it contains:

    $userGroupDao->update('UPDATE authors SET user_group_id = ?', array((int) $group->getId()));

This _should_ be per-journal, but exec

[2017-04-24 17:04] glaucomunsberg commented on #1921
I had the same problem @jmacgreg. It is more common that we think. Maybe it is necessary to put in migration.xml file this rules to help others on migrations.

[2017-04-24 17:39] asmecher commented on #1921
@glaucomunsberg, thanks for the feedback -- I've scheduled this against the next OJS release (currently 3.1).

[2017-04-24 18:23] bozana commented on #2392
@asmecher, could you then take a look at the PRs above? Thanks!

[2017-04-24 18:50] mtub commented on #2453
Hi @NateWr, deleting the translations from many locales seems a little bit harsh from my perspective, because many of the translations never followed your initial rephrasing of the accept key, so there translations might still be valid. But probably no-one has the time to check all locales... In the end it could result in missing translations that we once had and then deleted without need. But I l

[2017-04-24 19:08] ajnyga commented on #2417
I have tried to debug the problem with the oneclick links the whole day. As mentioned above, for some reason the crsf token is sometimes missing from the session data after logging in with with a oneclick link (`csrf|a:2:{s:9:"timestamp";i:1491591384;s:5:"token";s:32:"7539b1c235e46f2f9fcd74ab6b5cf13b";}`) and this results to a form error.

Here are some things I have noticed:

- I can reproduce th

[2017-04-24 19:23] ctgraham opened #2469 "Giving PKPSubmissionFileDAO::insertObject() a nonaccessible file reference causes a fatal error"
Given an invalid `$sourceFile` parameter passed to [`PKPSubmissionFileDAO::insertObject()`](https://github.com/pkp/pkp-lib/blob/7b7914fe6d6be505361272b3b22149f1882c910a/classes/submission/PKPSubmissionFileDAO.inc.php#L295-L324), the function will trigger a fatal error via [`$this->_castToDatabase()`](https://github.com/pkp/pkp-lib/blob/7b7914fe6d6be505361272b3b22149f1882c910a/classes/submission/PK

[2017-04-24 20:28] asmecher commented on #2467
PR: https://github.com/pkp/ojs/pull/1364
@bozana, would you mind having a look?

[2017-04-24 20:39] asmecher commented on #2453
Ah, I think that jogged my memory on why we changed "Accept" to "Send to Copyediting". We wanted a consistent label on both Submission and Review stages, but putting "Accept" on the Submission stage confused some people because they thought it meant to accept the submission into the peer review process. @NateWr, I think your proposal for different wording depending on the stage is an improvement.

[2017-04-24 20:50] asmecher opened #2470 "Migrate all section editors in OJS 2.x to 3.x upgrade"
From http://forum.pkp.sfu.ca/t/ojs-2-to-ojs-3-migration-issue-section-editor-roles-missing/30119:

The current OJS 2.x to 3.x upgrade process only grants Section Editor roles to users who were assigned to specific sections. It would be better to migrate all, even if they don't have section assignments.

[2017-04-24 20:53] bozana commented on #2467
@asmecher, yes, that looks good :-) Thus, when tests pass it can be merged... :-)

[2017-04-24 20:58] asmecher commented on #2392
Looks good, @bozana. Which is to say, it's necessarily messy, but will be useful -- and one day we'll axe the OJS 2.x upgrade process and lose a lot of lines of code. Thanks!

[2017-04-24 21:04] rkhalikov commented on #1807
I'd like also to pay attention that for the following fields there is no possibility to add information in several languages:
1. Contact -> Mailing Address
2. Contact -> Principal Contact Name and Technical Support Contact Name (whereas Affiliation is multi language...)

[2017-04-24 21:07] asmecher commented on #2467
Thanks! Merged into `ojs-stable-3_0_2` and cherry-picked to `master`.

[2017-04-24 21:07] #2467 closed

[2017-04-24 21:35] asmecher commented on #1807
@NateWr, would you mind having a look at a) in the original entry and [@ajnyga's post and commit](https://github.com/pkp/pkp-lib/issues/1807#issuecomment-287089243)? It looks like the `:focus` selector doesn't work with TinyMCE elements, thus the language label on TinyMCE fields doesn't work. I think there's likely a CSS-only solution available but I'd be wasting everyone's time tinkering with it

[2017-04-24 22:14] bozana commented on #2235
@asmecher, could you take a look at the PRs above?

[2017-04-24 23:47] asmecher commented on #1828
First,a survey of keyword fields in past releases:

- In OMP 1.2.0:
  - Keywords are stored using controlled vocabulary tools with `symbolic='submissionKeyword'`
  - Subjects are stored using controlled vocabulary tools with `symbolic='submissionSubject'`
  - Subjects seem to be provided via DC as `DC.Subject` (though I'm not sure this is working)
  - Keywords are provided to Google Scholar via `c

[2017-04-24 23:51] asmecher commented on #1828
Conclusions from the above:

- OMP and OJS 3.x have separate Subjects and Keywords fields. The distinction isn't clear, and in particular the Subjects field isn't really used anywhere.
- OJS 2.x didn't have this distinction. Neither, for example, does Dublin Core.
- The migration process from OJS 2.x to 3.x moves content from the Keywords field into the Subjects field.

Proposal: Unless we can jus

[2017-04-25 07:34] ajnyga commented on #1828
Hi,

Thank you @asmecher  ! Couple of comments.

If you go with **one field**, using "Keywords" is a good idea. The people who know about DC are capable of figuring out it is the Subject field in the metadata and people who are not, understand the concept "Keyword" way better when they see it in the UI.

- The case for having **two fields**: if we would have two separate fields, we could have one

[2017-04-25 08:30] NateWr commented on #1828
I'm not concerned about which approach we take, but just to let you know that one of our plans for the frontend was to eventually allow browsing by Subject/Keyword. This would be like a "Topics" list that could be useful for continuous publishing models, as seen in the sidebar of this sample theme design:

![selection_196](https://cloud.githubusercontent.com/assets/2306629/25375729/9a851ab0-2999-1

[2017-04-25 09:30] bozana commented on #1828
I am a little bit concern by having only one field -- it would be difficult to have both in one filed, controlled vocabulary and free keywords, right? I heard a lot of times that the people would like to use DDC or other kind of classification, even filter by it and provide OAI sets based on it. On the other side, I am not sure how many journals really use such classifications, for example how wel

[2017-04-25 09:45] NateWr commented on #1828
One of the goals of using a "topic" browse ability on the frontend is to encourage people to pay more attention to this kind of metadata. By putting it on their site, we'd hope to encourage people to be more disciplined in their use of it.

But whether or not the Subject/Keywords metadata is the right data to use I'm not sure.

[2017-04-25 10:13] ajnyga commented on #1828
Hi @bozana. It was actually exactly because I am planning to integrate a Finnish thesaurus to OJS that I started to ask about this feature.

Here is a roundup of the different fields in OJS2 and OJS3. I realized, that what got me confused is the fact that the the Keyword field in OJS2 was named subject in the database. I actually had forgot that the label was indeed "Keywords". Also, what makes th

[2017-04-25 10:40] bozana commented on #1828
@ajnyga, I first thought so, but the OJS2 subject field was migrated to the OJS3 subject field, and OJS2 subjects classification was not migrated at all -- it stayed as it was in the table submission_settings.

[2017-04-25 10:42] ajnyga commented on #1828
Hi @bozana, please see my updated message above. It had some inconsistencies earlier while I was figuring this out.

If that is the case, then there has been a clear mistake IMHO. The only scenario that makes sense is that subjectClass => Subjects and subject => keywords.

[2017-04-25 12:29] bozana commented on #2392
everything merged, thus closing...

[2017-04-25 12:55] ajnyga commented on #2417
I did some debugging by adding this line `error_log(print_r($data, true));` here https://github.com/pkp/pkp-lib/blob/master/classes/session/SessionManager.inc.php#L186

This is the output in a situation when a user click a oneclick link with no existing cookie or session:
[code]

So it seems that write is called four times during one page load. Note that on the third time CSRF token exists, but du

[2017-04-25 13:36] asmecher opened #2472 "Add confirmation prompt before taking administrative actions"
See http://forum.pkp.sfu.ca/t/unprotected-commands-clear-data-caches-and-clear-template-cache/30558

[2017-04-25 14:02] asmecher commented on #1828
Thanks for the details, all --

Since we do have toggles on metadata fields in OJS 3.x, it would be possible for us to maintain both "Keywords" and "Subjects" fields. We had a brief email discussion about distinction as well:

Brian wrote:

On controlled vocabularies (which I agree are an important subject): both of the OJS3 fields are backed by the controlled vocabulary tools for storage, so limi

[2017-04-25 14:07] NateWr commented on #723
I've done some work on this to replace the How-To-Cite article block, which you can see in the following branches:

https://github.com/NateWr/pkp-lib/tree/i723_citation_formats
https://github.com/NateWr/ojs/tree/i723_citation_formats

I opted for the JS-based tool because the PHP one seems to be no longer in development. The work-in-progress implementation I've done feels very clunky, and definite

[2017-04-25 14:07] NateWr commented on #2177
Some work on a CSL implementation has been started in https://github.com/pkp/pkp-lib/issues/723

[2017-04-25 14:08] NateWr commented on #723
Oh, one thing I forgot to mention is that in order to keep the HTTP requests down, we require one adjustment to the `citeproc-js` lib. I'm hoping the developer will be receptive to the idea:

https://github.com/Juris-M/citeproc-js/issues/41

[2017-04-25 14:15] NateWr commented on #723
Also (sorry), Alec said they're using Pandoc for the XML typesetting stack. Not sure if that kind of server dependency is an option for us.

I think a part of me would rather have a server-side option for this, just because when we hand off to the frontend, custom themes can do whatever, and it we'll run into compatibility issues over time I'm sure.

[2017-04-25 14:25] NateWr commented on #2453
@mtub In this case, do you know which locales need to be removed and which should remain? I removed them all because I'm not able to tell.

[2017-04-25 14:39] asmecher commented on #2417
@ajnyga, hmm -- I would suggest trying to correlate these writes with round trips to/from the server. Could you log the request URI alongside the calls to write the session?

[2017-04-25 15:01] asmecher commented on #723
Hrrrrrrmmm, this library is ridiculously big -- and not just the CSL database. We can use the build script to exclude stuff from the `.tar.gz`, but for people (including us) who are hosting from git, that'll be no help.

It looks to me (at a glance) like we just need some locale files, the main `citeproc.js`, and the `.csl` files. I don't see any sign of a "production" packaging for this -- ideal

[2017-04-25 15:01] asmecher commented on #723
(I'm willing to bet you have some ideas e.g. WRT grunt and the like arising from your JS work. All ears on that front too.)

[2017-04-25 15:14] NateWr commented on #723
Yeah I felt the same. Typically, a JS project will have a `package.json` file which we can use for better project management, including pulling release packages.

[2017-04-25 15:18] asmecher commented on #723
(One other option that I'm not fond of, but just for completeness: OTS already includes CSL transformations as part of its service, so potentially we could delegate the transformation to a PKP-hosted service)

[2017-04-25 15:20] NateWr commented on #723
I don't think we should have an external dependency for something that appears on the frontend of a journal's site. It feels like it underminds the intent of open-source and, also, think how angry everyone will be when the PKP-hosted service goes down for a day.

[2017-04-25 15:21] asmecher commented on #723
Yep, fully agreed.

[2017-04-25 15:48] asmecher commented on #2235
Thanks, @bozana, that got a lot more involved with the test suite than expected! It looks like the tests are OK (at least for OMP) -- once they pass, please go ahead and merge.

[2017-04-25 16:37] asmecher commented on #2392
FYI, I'm getting some warnings on a (potentially dirty) database:
[code]
(repeats)

[2017-04-25 16:45] bozana commented on #2235
@asmecher, I merged not to have to rebase and ... again, but there was one test failure with StaticPages. Do you maybe know what that is, if it is accidentally or so?

[2017-04-25 16:45] bozana commented on #2235
else, everything merged, thus closing...

[2017-04-25 16:45] #2235 closed

[2017-04-25 16:50] asmecher commented on #2235
@bozana, I've restarted those tests -- they don't seem to have failed consistently, suggesting a server hiccough or something. We'll see if they pass this time. Those tests have been working pretty reliably as far as I can recall.

[2017-04-25 17:31] ajnyga commented on #2417
Hi,

I think you are right @asmecher

I added:
error_log(print_r($_SERVER['REQUEST_URI'], true));
error_log(print_r($data, true));

This is the output when the **error happens**
[code]

This is the output when the **error does not happen**
[code]

`/journalname/reviewer/step/52783?step=1&_=1493140513512` and `/journalname/$$$call$$$/page/page/user-nav-backend?_=1493140513511` are in different orde

[2017-04-25 19:19] ajnyga commented on #1828
Thanks!

After realizing that the OJS3 subject field is (or should be) the same as subjectClass field, I would vote for having two separate fields and in my opinion you can still combine these in OAI-PMH. If someone needs a more refined output there, it is easy to add a new custom oaimetadataformat.

However I want to stress the difference between a library classification and thesaurus. Both are c

[2017-04-25 19:28] ctgraham commented on #2461
Similar to the required `article@section_ref`, it appears the [code in master requires `submission/revision@uploader`](https://github.com/pkp/pkp-lib/blob/d3c44030b2b8a1a538d66fd20bd81aa5f32741cf/plugins/importexport/native/filter/NativeXmlSubmissionFileFilter.inc.php#L184-L189), but [the schema does not](https://github.com/pkp/pkp-lib/blob/d3c44030b2b8a1a538d66fd20bd81aa5f32741cf/plugins/importex

[2017-04-25 19:41] Ph-We commented on #1828
I would agree with @ajnyga. Roughly speaking, 'subjects' are related to 'keywords' as 'taxonomies' to 'folksonomies'. So managers might want to control both, but using different methods (e.g. controlled vocabularies for subjects and thesauri for keywords).

[2017-04-26 03:29] ajnyga opened #2473 "[OJS] Tap controls don't work for dropdown menus in the backend"
Hi @NateWr,

Maybe related to https://github.com/pkp/pkp-lib/issues/2085

With a iPad Safari browser in OJS 3.0.2 when trying to exit dashboard:

Click on username in right corner => the menu with Profile and Logout link appears => click on Logout => nothing happens

However, if you click on Profile link, the menu with the two items is shifted above the username and after that the logout link work

[2017-04-26 04:45] ajnyga commented on #1828
With saving the URIs (or other identifiers) with the keyword, I was thinking something like this:
![screenshot_26](https://cloud.githubusercontent.com/assets/16347527/25418413/4646265e-2a54-11e7-9dc8-b7c7adfeb2e5.png)

[2017-04-26 08:30] NateWr commented on #2473
Thanks @ajnyga. I've updated the title and assigned myself to this.

[2017-04-26 08:57] NateWr commented on #1807
I chose to fix this in the template files themselves. It's basically the same as @ajnyga's fix.

![selection_199](https://cloud.githubusercontent.com/assets/2306629/25426283/8a53c8bc-2a66-11e7-838e-1a0f1b5d3de0.png)

PR:
https://github.com/pkp/pkp-lib/pull/2474

TESTS ONLY:
https://github.com/pkp/ojs/pull/1367

[2017-04-26 09:39] bozana commented on #2392
@asmecher, it seems like a journal setting is not localized although it should be and like the supportedLocales is not an array, could that be?
That script is first executed, that's why the errors are here, but they would probably appear somewhere else as well.
Thus I am not sure what could I do in such a case, when the data in the DB is not correct?

[2017-04-26 09:49] bozana commented on #2432
@NateWr, could you maybe take a look at this?

[2017-04-26 11:24] bozana commented on #2461
@ctgraham, maybe you would like to also see this issue regarding the uploader... : https://github.com/pkp/pkp-lib/issues/2142

[2017-04-26 15:41] bozana commented on #1791
I will write my comments here, the things I realize during the forwardporting to OJS 3:
-- The old COUNTER reports (from OJS 2.4.x) were containing the remote galleys counts. This will not be the case in the OJS 3.

[2017-04-26 15:54] bozana commented on #1791
From here: https://github.com/pkp/pkp-lib/issues/1314#issuecomment-254580745:

@ctgraham, do you maybe know?

[2017-04-26 16:34] NateWr commented on #2432
Oh, I see this is for OJS 2.x. I actually have never worked with OJS 2.x. I don't even have it installed!

I did a quick read of the code and it looks ok. Maybe one of the publishing services people can run a quick test on it? If not, I can try to get it installed and figure it out.

[2017-04-26 18:27] asmecher commented on #2472
These should also be changed to POST actions, not GET actions.

[2017-04-26 18:31] asmecher commented on #2392
@bozana, I think I identified this as an old data error with the `metaCitations` setting. It can be cleaned out with...

    delete from journal_settings where setting_name = 'metaCitations' and (locale is not null and locale <> '');

Don't worry, it's not your bug :) I'll let you know if anything else needs doing.

[2017-04-26 19:47] ctgraham commented on #1791
COUNTER JR1 and AR1 statistics should be based on access to the article full text.  The current JR1 report discriminates between full-text access via PDF, HTML, and Other.

If the ["ojs::counter" metric continues to be the basis of the JR1 and AR1 reports](https://github.com/pkp/pkp-lib/issues/1314#issuecomment-254878749), it should only include article fulltext views.

[2017-04-26 19:52] asmecher commented on #2058
It looks like the JQuery Validate library _doesn't_ support the referenced `lang:` option -- perhaps that's old -- and instead requires loading of the appropriate JS, which is already done in `PKPTemplateManager` (see https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_2/classes/template/PKPTemplateManager.inc.php#L569).

Note that users of the OJS 3.0.2 release may need to patch https://github.com

[2017-04-26 19:52] #2058 closed

[2017-04-26 20:10] asmecher commented on #1828
Correct me if I'm wrong but I think we're all agreed on an approach -- keep both fields, and provide optional tools to curate them, particularly Subjects.

@ajnyga, on storage: would you be using a recognized third-party standard, or something home-grown? If it's a third-party standard, it might be better to have the controlled vocabulary maintained in an XML file or similar, rather than backing i

[2017-04-26 20:27] asmecher opened #2476 "Author guidelines anchor missing"
The "Information for Authors" default expects an `#authorGuidelines` anchor on the submission About page but it doesn't currently exist there. (The guidelines are displayed but there is no named anchor.)

(From http://forum.pkp.sfu.ca/t/how-to-link-to-author-guidelines-section/30511)

[2017-04-26 21:32] asmecher commented on #2432
It looks OK at a glance, @bozana -- if you've tested it, please go ahead and merge!

[2017-04-26 22:32] asmecher commented on #2417
My current hypothesis:

- CSRF tokens are only generated when they're needed, and stored as part of the session thereafter.
- The "main" request for the review page doesn't require a CSRF token so one isn't generated when that page is hit.
- I suspect at least two subrequests do require CSRF tokens
- A race condition between these means whichever subrequest is handled *last* will leave a valid CSR

[2017-04-26 23:37] #2476 closed

[2017-04-26 23:38] asmecher commented on #2430
(Clearing the milestone, as I'm not at all sure about this feature add -- I like @NateWr's suggestion above, if it's workable.)

[2017-04-27 00:17] asmecher opened #2477 "Improve review form selection storage"
Per https://github.com/pkp/pkp-lib/issues/2437, the checkbox and radio controls appear to store reviewer selections in the database as offsets into the array, not selected indexes. These usually correspond, but if the process of creating the array in administration involved deleting an element after persisting it, they will not necessarily be the same. For example:

[code]
(Note `i:1` for the firs

[2017-04-27 00:30] asmecher commented on #2437
@ajnyga, yuck -- thanks for tracking this down (and @alexxxmendonca for confirming). I've confirmed that this applies to both checkboxes and radio buttons, and applied a fix like your proposal. This is something that can be cherry-picked or patched on an OJS 3.0.2 installation without requiring any database changes. (Apply https://github.com/pkp/pkp-lib/commit/8ec91ecd0b3abe0d92a14c7fdeae3bf36562a

[2017-04-27 00:30] #2437 closed

[2017-04-27 04:23] ajnyga commented on #1828
Hi,

At least in my opinion we should keep both, and provide the optional tools as well to both fields (and maybe also to Coverage etc.). I am also still voting for an easy REST API integration.

@asmecher, the vocabulary I am planning to use is this https://finto.fi/yso/en/
It is an ontology that the National Library is hoping us to use in our journals. The XML format of that ontology is around 4

[2017-04-27 08:48] Ph-We commented on #1828
As to the standards, AFAIK, SKOS is the only standard recommended by W3C for maintaining vocabularies/thesauri. YSO is based on SKOS too.

[2017-04-27 09:10] marcbria commented on #1828
What if you have multiple journals with different thesaurus?
If is based in a xml file, they need to be stored in the journal's registry folder or so, isn't it?.

[2017-04-27 09:21] bozana commented on #1791
@asmecher, for COUNTER (and thus ojs internal ojs::counter statistics) we need to consider only article full text. Could we do it by considering only submission files with the genre with component = 1, not dependent and not supplementary? Theoretically one could remove all the default components and have no such component (with component = 1, not dependent and not supplementary) that we could use

[2017-04-27 11:00] bozana commented on #2432
Merged, thus closing... THANKS!!!

[2017-04-27 11:00] #2432 closed

[2017-04-27 11:27] martinpub commented on #2432
Much appreciated @bozana, thanks!

[2017-04-27 13:38] ajnyga commented on #2437
Great! I will check this fix tomorrow, but can not see any reason why it would not work.

[2017-04-27 13:42] ajnyga commented on #2417
Thank you @asmecher,

I will see what that does to the problem. This could take some time because I can not reproduce it consistently. However, looking at the solution and the output I got earlier when debugging, I do think that this solves it.

I think that this issue is related to the amount of traffic the server is getting. Because, as I said, I can only reproduce this in our production server

[2017-04-27 17:15] #1815 closed

[2017-04-27 18:10] asmecher commented on #1815
Fixed and merged into OMP `master` -- thanks, @bozana. @NateWr, [this comment](https://github.com/pkp/omp/pull/395#discussion_r103530196) could still use a review -- not sure if it got lost in the noise.

[2017-04-27 19:43] ajnyga commented on #2417
Hi @asmecher,

That one line definitely makes all the difference. This is the output after the patch:

[code]
The CSRF token is now consistently in all the four calls, so it will not matter if the user-nav-backend calls comes in last!

Thanks!

Basically scenarios 1 and 3 are solved now, scenario 2 is theoretical (and probably solved with this fix as well) and the scenario 4 is probably solved as