[2022-02-23 17:04] jonasraoni commented on #7709
Well, I just omitted the submissions accepted, and added this extra item to make it clear where the "missing items" went:

![image](https://user-images.githubusercontent.com/361921/155367192-eeeb8e7f-e35e-44b2-a9e9-f0b4adaef463.png)

If that's fine, I'll apply these PRs to OJS/OMP and their `/main` branches:

- https://github.com/pkp/pkp-lib/pull/7726
- https://github.com/pkp/ops/pull/239

[2022-02-23 18:18] Vitaliy-1 commented on #7706
Thinking about it, what about completely removing `emailTemplates.xml` and adding default data also to editable Mailables? E.g., for mailable associated with reviewer assignment:
[code]
It doesn't look like other default data like `fromRoleIds` is different in templates bundled to one Mailable, so just specifying it like a simple property should do. Or, if the association with templates should be

[2022-02-23 19:54] asmecher commented on #7706
(Just dropping in to say: very supportive of removing the `emailTemplates.xml` files. These became especially silly when their localization was moved into Weblate.)

[2022-02-24 08:56] jonasraoni commented on #6328
The security issue was merged (https://github.com/php-gettext/Translator/pull/5), just a reminder a update the packages later.

[2022-02-24 10:06] NateWr opened #7727 "DOI prefix required when DOIs not enabled"
**Describe the bug**
I am unable to remove a DOI prefix once I have added one, even if I have disabled DOIs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Distribution > DOIs
2. Enable DOIs and add a DOI prefix, then save the form.
3. Remove the DOI prefix, click to disable DOIs, then save the form.
4. See there is a validation error

**What application are you using?**
`m

[2022-02-24 10:59] NateWr commented on #7709
That sounds sensible @jonasraoni. Can we change the name of the metric to "Other Submissions"? And a suggestion for the description:

[2022-02-24 11:05] heike-r commented on #7150
Hi @asmecher and all others,

we have encountered the same mis-attribution in an OJS 3.3.0.8 multi-journal installation. It was the first time this happened to us. The affected submission is currently in the review-stage and awaiting re-submission.

The first discussion was opened by the editor/journal manager. They wrote a note to the co-editor. This discussion was correctly attributed as sent by

[2022-02-24 11:13] NateWr commented on #7706
I'm ok with removing `emailTemplates.xml`, but I want to avoid coupling `Mailables` to `EmailTemplates` too closely. Right now, it's entirely possible for a `Mailable` to have no relationship to an `EmailTemplate`. It's also possible for an `EmailTemplate` to exist with no relationship to a `Mailable`. The more we mix concerns the less flexible we make both objects.

If we go this route, you might

[2022-02-24 11:46] Mariaros opened #7728 "Code in abstact"
In OJS 3.1 we have the possibility to code the text in abstracts. We find this very useful in order to ajust the headings to theme. However, this is not available in OJS 3.2.1.1. Is it somehow possible to code in abstract in this version?
And will it be possible in OJS 3.3?

[2022-02-24 12:24] NateWr commented on #7265
All PRs merged to `main`. :tada:  There is still some work to do on the UI/UX, but I will file those in a separate issue.

@amandastevens this will impact documentation. I plan to record a short video of the new editorial decision workflow, so I will post that here when it is available.

[2022-02-24 12:24] #7265 closed

[2022-02-24 13:59] mpbraendle commented on #7077
Hmm. No, it is not really fixed. If you hover over a submenu item of the first dropdown menu, the position bar is outside the menu box. See attached screenshot.

<img width="1337" alt="first_menu_bar_outside" src="https://user-images.githubusercontent.com/5315105/155537942-59ffaec1-0f80-4a7f-8e1d-1cac271f88f3.png">

This only happens for a dropdown menu that is on the first position of the primary

[2022-02-24 15:06] NateWr commented on #7728
We have no plans to support this. The use of extra HTML code in abstracts may cause problems with downstream consumers through OAI, Crossref exports, etc. However, if you still want to make use of this, there is a plugin that allows you to add the code editing button to several TinyMCE fields, including the abstract.

The plugin is Text Editor Extras and you can install and configure it from Setti

[2022-02-24 15:06] #7728 closed

[2022-02-24 15:27] NateWr commented on #7539
This appears to have been fixed in https://github.com/pkp/pkp-lib/commit/7bb51ec656afcd67519795bac37418e243c76bc8. The code now checks the API key before the session:

https://github.com/pkp/pkp-lib/blob/7ad8b84d2fa4f80c8cdf528c48cf3dcb28bde057/classes/core/PKPRequest.inc.php#L596-L610

[2022-02-24 15:40] NateWr commented on #7539
I was going to backport this to 3.3, but now I have some questions. The new code (which is very readable, thanks @jonasraoni!), makes one change I'm not sure about. If a user is fetched from the `Registry`, it doesn't go on to check the API token or session. It returns early with that user.

So I guess the question is: where is the user set in the `Registry`? Is there some risk of the API token or

[2022-02-24 15:59] asmecher commented on #7539
The user is set in the registry in `PKPRequest::getUser`. It's a `Registry::get` call, but returns a reference, so the variable can be set lower in the function if it was null.

https://github.com/pkp/pkp-lib/blob/39fc4faa83b01b2d8f1b8feb108b28a0f7ab38f6/classes/core/PKPRequest.inc.php#L517

[2022-02-24 15:59] NateWr commented on #7685
The following PRs implement the Authorization header using the [Bearer authentication type](https://stackoverflow.com/questions/33265812/best-http-authorization-header-type-for-jwt) for JWTs. They do not remove support for the query parameter yet, but I agree we should discuss if/how we deprecate this.

These PRs haven't been manually tested yet.

https://github.com/pkp/pkp-lib/pull/7729
https://g

[2022-02-24 17:41] pmangahis commented on #5151
+1 from PS Hosted Journal

[2022-02-24 17:42] pmangahis commented on #7557
+ 2 from PS hosted journals

[2022-02-24 17:44] kshuttle commented on #7273
+1 for this issue from a PKP PS client.

[2022-02-24 18:27] jnugent opened #7730 "Native XML import creates submissions that cannot be edited"
**Describe the bug**
There's a locale field on the publications table and also one that is deprecated on the submissions table.  When importing Native XML, only the publications table gets the locale set because the submissions locale field is deprecated.  This however  makes it impossible to edit the metadata of an imported submission, even if all locales required by submissions are filled in (gr

[2022-02-24 19:17] jonasraoni commented on #7730
Hi @jnugent! I'll close this one, because there's already an issue here: https://github.com/pkp/pkp-lib/issues/7636

[2022-02-24 19:17] #7730 closed

[2022-02-24 19:19] jnugent commented on #7636
@jonasraoni thanks for tagging this other ticket - let me know if you want help with this, I have XML that can reproduce the problem and was able to break it and then fix it manually by editing records in the database.

[2022-02-24 19:27] jonasraoni commented on #7636
My [old PR](https://github.com/pkp/pkp-lib/pull/7201/files), addresses this issue, it was missing a review, but after so much time, I'll probably have to rebase it and add some extra fixes :)

[2022-02-24 19:32] leocsilva commented on #7719
[code]

[2022-02-25 10:18] jonasraoni commented on #7709
@NateWr I had used "Other Submissions" (in case more exceptions get added to the list), but then I changed my mind 😁
I've updated the wordings and created the remaining PRs. Is there anything else missing? If not, then I'll merge and close this one.

[2022-02-25 10:30] jonasraoni commented on #7709
@asmecher there's nothing special here, but if you'd like to take a look while @NateWr is away, great 👌

[2022-02-25 16:09] ajnyga commented on #7222
OPS: https://github.com/pkp/crossref-ops/pull/9

I noticed that the current OPS DOI plugin probably does not support versioning anymore. This is something that Crossref asks in their documentation and it was supported in the old OPS DOI plugin.

The Crossref plugin for OPS supports the versioning of DOIs and now with these changes the URL for the current publication DOI is the default landing page

[2022-02-25 16:16] alexxxmendonca commented on #7222
The Crossref Preprint Advisory Group (for which I'm part of) is re-discussing that, actually.

This is taken from the most recent meeting notes:

_Crossref should not mandate an approach to versioning: one DOI for all versions vs one DOI for each version. Both have advantages and disadvantages, and metadata capturing versions needs to be applicable to both cases._

So we might see an update in the

[2022-02-25 16:36] kshuttle commented on #3094
+1 from hosted journal

[2022-02-25 20:17] fgnievinski opened #7732 "Native XML export plugin could display issues sorted"
The Native XML export plugin could sort issues by volume and issue number. Currently it seems to list issues by the date they were entered in OJS? This affects journals that digitized historical content.

Open Journal Systems 3.3.0.8

[2022-02-25 21:55] diegoabadan commented on #6700
Thanks, @kshuttle and Alec!

We are working on this issue for Scielo.

[2022-02-26 00:53] asmecher commented on #7709
@alexxxmendonca and/or @ajnyga, can you confirm that the PRs listed in the top of the issue correct your real-world data? OJS just needs the pkp-lib commit; OPS needs an additional change as well.

[2022-02-26 01:16] asmecher commented on #7685
@NateWr, thanks, I've tested this (works well), committed and forward-ported to `main`. I've added a note that I can grep about the apiToken parameter being deprecated with 3.4.0, but I think the most important thing is to update the API documentation to suggest that starting with 3.4.0 we recommend using the Authorization header.

Just FYI, here's a `curl` command to test it:
[code]

[2022-02-26 01:16] #7685 closed

[2022-02-26 18:36] ajnyga commented on #7709
Not sure, you tell me.

Here are the screenshots of my OJS main branch install after applying the changes.
<img width="921" alt="Screenshot 2022-02-26 at 20 34 30" src="https://user-images.githubusercontent.com/16347527/155855087-196a3a40-dfc5-43c4-a7cd-0025195aa97c.png">
<img width="933" alt="Screenshot 2022-02-26 at 20 34 54" src="https://user-images.githubusercontent.com/16347527/155855095-ada0

[2022-02-26 18:37] ajnyga commented on #7709
So if a scheduled submission should be in the Other Submissions column, then it seems to be ok. At least the numbers match in my case.

[2022-02-27 12:55] ajnyga commented on #1813
This is how Withdrawal, Retraction and Removal is handled in OJS/OPS/OMP. Note that the central difference here is that Withdrawal means different things in preprints and articles as it has been shown in the discussion above.

| stage            | system level     | OJS label | OMP label | OPS label | DOI                                                                 | Files                   | T

[2022-02-28 13:38] librariam commented on #4789
+1 more from PKP|PS

[2022-02-28 14:15] diegoabadan commented on #4789
We also receive this request from editors of journals we host.

[2022-03-01 01:08] israelcefrin opened #7733 "Manuscript theme - User menu floating over journal title in Arabic Language interface"
**Describe the bug**
There is an issue with the User menu location when the journal editor enables Arabic or R-to-L languages. If you are note using a Journal logo, the menu will be floating over the Journal title.
It seems that this element is not switching to the left side of the screen how it should.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable the Arabic language to the journal

[2022-03-01 01:18] israelcefrin commented on #7733
I've filled a PR to patch it, could you please review it @NateWr ?
https://github.com/NateWr/defaultManuscript/pull/38

[2022-03-01 03:47] #7649 closed

[2022-03-01 12:31] GrazingScientist opened #7734 "Implement a Meta-Management for all users in an OJS instance"
**Describe the problem you would like to solve**
There should be a way to manage ALL users in an OJS instance, independent of their journal.

**Describe the solution you'd like**
Possibly, a new tab in the administrative backend that allows, as the current per-journal-user-management does, lists all users and allows editing/removing/disabling them.

**Who is asking for this feature?**
OJS-Administ

[2022-03-01 17:52] asmecher commented on #7713
Re-opening so this doesn't get lost -- but I believe it's a duplicate of https://github.com/pkp/ojs/pull/3197, which has already been fixed. The fix will be released in 3.3.0-9 shortly.

[2022-03-01 17:53] asmecher commented on #7713
@emmauhl, can you confirm that https://github.com/pkp/ojs/pull/3197 appears to match what you've seen?

[2022-03-01 19:09] ewhanson opened #7735 "Request for revision modal missing/undefined"
**Describe the bug**
When clicking "Request Revisions" in the "Review" tab of the submission workflow, the expected modal does not open and the browser console presents the following error: `TypeError: can't access property "hiddenFields", e.components.selectRevisionDecision is undefined`. The state components are not correctly being passed to the template and Vue component.

**To Reproduce**
Step

[2022-03-02 11:04] Rifaldi145 commented on #6469
@asmecher  hello, I have a problem like this, do you know bro?  Slim Application Error:\nType: Error\nMessage: Call to a member function getFullName() on null\nFile: /var/www/html/jurnal/lib/lib/pkp/classes/submission/reviewAssignment/ReviewAssignmentDAO.inc.php\nLine: 480\nTrace: #0 /var/www/html/jurnal/lib/lib/pkp/classes/submission/reviewAssignment/ReviewAssignmentDAO.inc.php(69): ReviewAssignm

[2022-03-02 12:12] jnugent commented on #7621
Hi @NateWr this bug seems to still exist in one other place.  in `stable-3_3_0` and also in `main`:

https://github.com/pkp/omp/blob/main/templates/frontend/objects/monograph_full.tpl#L234

![Screenshot at 2022-03-02 08-11-09](https://user-images.githubusercontent.com/218719/156359262-d939bd8e-3994-49ea-b020-a9b160164c07.png)

The approach merged in for the other template probably also needs to be

[2022-03-02 19:52] pmangahis opened #7736 "Resend or reminder option for Reviewer Request"
**Describe the problem you would like to solve**
A way to resend or send a reminder to reviewers. Reviewers may not receive the initial email for a number of reasons, it would be helpful to have a way to resend these.

**Describe the solution you'd like**
Adding an option to either resend a request or send a reminder. In OJS 2 there was the option to send a reminder which populated an email templa

[2022-03-02 20:05] ewhanson opened #7737 "DOI migration fails when `chunkById` operations execute more than once"
**Describe the bug**
Laravel's `chunkById` method needs to have the table as well as the column specified in operations in `I7014_DoiMigration.inc.php`.
**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade an application to 3.4.
2. See error:

**What application are you using?**
OJS/OMP/OPS `main` branch

**Additional information**
See pkp/ojs#3314.

[2022-03-02 21:07] ewhanson commented on #7737
Hi @asmecher, here's @Falk358's PR along with the change ported over to all other tables with DOIs. Assuming everything with the testing looks good, they should be good to go. Thanks!

PRs:

- `ojs` from @Falk358: pkp/ojs#3314
- `ojs`: pkp/ojs#3315
- `ops`: pkp/ops#243
- `omp`: pkp/omp#1075

[2022-03-02 21:54] asmecher commented on #7737
Thanks, @ewhanson, all merged!

[2022-03-02 21:54] #7737 closed

[2022-03-02 23:59] ewhanson commented on #7735
Hey @asmecher, I went ahead and made a bug fix PR for this. Could you have a look? Thanks!

PRs:

- `pkp-lib`: #7738
- `ojs`: pkp/ojs#3316
- `omp`: pkp/omp#1076
- `ops`: pkp/ops#244

[2022-03-03 00:43] asmecher commented on #7735
Ha! That's the kind of typo you can squint at for a long time before you see it. I've merged it all, thanks!

[2022-03-03 00:43] #7735 closed

[2022-03-03 01:25] ewhanson commented on #7682
Hi @asmecher, I've rebased these and they should be good to go now. Thanks!

PRs:

- `pkp-lib`: #7717
- `ui-library`: pkp/ui-library#180
- `ojs`: pkp/ojs#3308
- `omp`: pkp/omp#1070
- `ops`: pkp/ops#238

[2022-03-03 01:28] ewhanson commented on #7682
Closing this should also close #7684.

[2022-03-03 11:17] bozana commented on #6782
Hi @NateWr,
we said that if someone has used Geo usage data till now, we will keep the daily metrics -- because till now they existed as daily stats. We also said that the setting 'keep the daily stats' would apply to everything, to all 3 DB tables -- for Geo data and COUNTER submission and institution data. Thus, during the upgrade, if Geo data exists we will set the setting 'keep the daily stats

[2022-03-03 16:41] librariam commented on #6306
+1 from PKP|PS

[2022-03-03 20:06] JhonathanLepidus commented on #6700
While trying to accomplish what was put on the [comment above](https://github.com/pkp/pkp-lib/issues/6700#issuecomment-924507805), we faced a problem with the [citation-style files](https://github.com/pkp/citationStyleLanguage/tree/main/citation-styles). Some of them need to be upgraded, something that has already been issued on https://github.com/pkp/pkp-lib/issues/5629. Should we send a PR to ac

[2022-03-03 20:40] asmecher commented on #7377
I've confirmed that this is https://github.com/pkp/pkp-lib/issues/7167; there is a (long) SQL query that can resolve the issue here: https://github.com/pkp/pkp-lib/pull/7414#issuecomment-961857377

Please make sure to take a good database backup before executing it!

[2022-03-03 20:40] #7377 closed

[2022-03-03 20:51] asmecher commented on #7713
Closing unless there is further feedback!

[2022-03-03 20:51] #7713 closed

[2022-03-03 20:51] asmecher commented on #7709
Deferring to 3.3.0-10 -- I'm releasing -9 today or tomorrow -- but please don't forget to look at the comment above, @jonasraoni!

[2022-03-03 20:58] ewhanson commented on #7682
Last issue with OJS tests now sorted, and all tests are passing.

[2022-03-03 21:00] asmecher commented on #7621
Hi @jnugent -- there's another case in the same file. It should be resolved by applying this as well:
https://github.com/pkp/omp/commit/9866c97801bf6df8516445aa7ed93379fba5755b

I'll be releasing OMP 3.3.0-9 today or tomorrow, so while I'm pretty confident this'll resolve the fix, a quick confirm would be welcome!

[2022-03-03 21:00] #7621 closed

[2022-03-03 21:02] jnugent commented on #7621
@asmecher I just pulled in `stable-3_3_0` and confirming fixed.  Thanks!

[2022-03-03 21:52] asmecher commented on #7682
Just took a quick look -- I think there's one unlocalized string in the pkp-lib PR, otherwise everything looks ready to me.

[2022-03-03 23:09] forgive38 commented on #7715
Maybe issue https://github.com/pkp/pkp-lib/issues/6904 is related to this one.

so now, in main, reviewer can receive 2 reminders:
first if he's late to accept, and a second if he accepts but he's late to post the review.

[2022-03-04 18:43] ewhanson commented on #7682
@asmecher, I've come across a seemingly unrelated bug in OMP with PHP 8.1 and MySQL with the submission file genre selection process. Would you like me to create a separate issue for it, or try and tackle it before getting this merged? Thanks!

[2022-03-04 23:33] asmecher opened #7739 "Improve multimodal publishing with OJS"
This is a catch-all issue for several minor improvements related to multimodal publishing with OJS.
- [ ] Disable text indexing of JS assets that are uploaded as dependent files to articles.
- [ ] Add support for `url(some-file.woff)`-style URLs to OJS's URL rewriting set for HTML galleys; this format is used in CSS.
- [ ] Add original filenames as extra PATH_INFO pieces to rewritten URLs in HTML

[2022-03-05 00:23] asmecher commented on #7739
PR for OJS stable-3_3_0: https://github.com/pkp/ojs/pull/3317

[2022-03-05 00:24] asmecher commented on #7739
@NateWr, could you take a look at the PR? Happy to provide more context on the changes.

[2022-03-06 14:17] librariam commented on #6941
+1 from PKP|PS

[2022-03-07 11:47] NateWr commented on #6227
I'm not totally convinced this is a good idea. So far, we don't have any evidence that these unpublished versions are causing any real problems, only an assertion that they "may clutter submissions". I think we're just doing more harm than good here and I'd encourage us not to do anything.

If we implement this anyway, I think we can check a few conditions and prevent deletion of the publication:

[2022-03-07 11:48] NateWr commented on #6782
Yes, I think that's ok.

[2022-03-07 11:49] NateWr commented on #6700
@JhonathanLepidus yes, thank you!

[2022-03-07 11:53] alexxxmendonca commented on #6227
I agree this isn't a major problem, but there is the clutter aspect, as mentioned by Nate.

Besides that, some authors do it by accident and later they write us saying they created a new version "by accident" and they don't know how to delete it. We then answer something like "Currently there is no way to delete an unpublished version, just leave it there", which may expose some UX problem.

Shoul

[2022-03-07 11:58] NateWr commented on #7715
Thanks @forgive38! That does look like it fixes the problem. I'll close this as it should be fixed for 3.4.

[2022-03-07 11:58] #7715 closed

[2022-03-07 12:05] NateWr commented on #7733
@israelcefrin if this effects the Manuscript theme then it also effects the default theme in OJS/OMP/OPS. All of the layout in Manuscript is inherited from the Default theme. Can you open a PR to fix this in the Default theme? There is a `rtl.less` file in the Default theme to handle these cases.

[2022-03-07 12:05] #7733 closed

[2022-03-07 12:31] NateWr commented on #5188
@alvgalrus Ahh, sorry to hear that! I don't think that we will revert this because it was a recommendation from our accessibility audit. If it helps, `1rem` = `16px`. So you can try to convert the equation to `rem` or consider using `calc()` (although you should beware of the [known issues](https://caniuse.com/calc)).

[2022-03-07 12:51] NateWr commented on #7739
Looks good to me. I added one comment. Do you plan to roll this out to OMP/OPS?

[2022-03-07 14:19] NateWr commented on #6941
This has been merged to the `main` branch and will be released with 3.4. A description of the workflow for notifying reviewers can be found in this comment: https://github.com/pkp/pkp-lib/issues/6941#issuecomment-948412802

[2022-03-07 14:26] NateWr commented on #2180
This has been addressed as part of the new email composer UI introduced in #5717. It is not available for every prepared email but it will become available once we convert each email to the new composer UI.

[2022-03-07 14:26] #2180 closed

[2022-03-07 14:28] #743 closed

[2022-03-07 14:34] #3525 closed

[2022-03-07 14:37] NateWr commented on #4059
This was merged to the `main` branch as part of #7265 and will be included in 3.4.

[2022-03-07 14:37] #4059 closed

[2022-03-07 14:39] #7356 closed

[2022-03-07 14:41] #3187 closed

[2022-03-07 14:58] NateWr opened #7741 "Add migration to set notifyAllAuthors by default"
**Describe the problem you would like to solve**
In 3.4, a new context setting, `notifyAllAuthors`, was added. It is enabled by default on new installs but upgraded installs won't know it exists.

**Describe the solution you'd like**
Add a migration that enables this setting when upgrading to 3.4.

**Who is asking for this feature?**
This was added as part of #2524.

[2022-03-07 14:59] NateWr commented on #4507
As part of #7265, a new setting was added to enable/disable a notification to all contributors when an editorial decision is made. More details here: https://github.com/pkp/pkp-lib/issues/2524#issuecomment-1060770901.

[2022-03-07 14:59] #4507 closed

[2022-03-07 15:45] NateWr opened #7742 "Allow user to go to submissions list after recording editorial decision"
**Describe the problem you would like to solve**
When an editor records an editorial decision, they are shown a message that says the decision was recorded and a button to view the submission.

![decision-recorded](https://user-images.githubusercontent.com/2306629/157066087-643ba335-49aa-4acf-a2fd-fb1ae8b95517.png)

Sometimes an editor will not want to view the submission. They will want to go bac

[2022-03-07 15:51] NateWr opened #7743 "Improve UI to add variable data to emails"
**Describe the problem you would like to solve**
As part of #5717, many more variables can be used with email templates. However, the existing UI for adding variable data does not work well with this. It's hard to find the data you want in a long list. And when data is very long, like the abstract, it's hard to see what is being added.

![email-template-variables](https://user-images.githubusercon

[2022-03-07 15:57] NateWr opened #7744 "Ensure email template variables are properly filtered"
**Describe the bug**
When an email template variable includes characters like `<` and `>`, these are escaped to be safe. However, some email template variables, like the sender's signature, are meant to have these characters.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an editor.
2. Go to User Profile and add a signature with multiple lines and a link (or some HTML)
3. Try to re

[2022-03-07 16:03] NateWr opened #7745 "Recipient names are not localized when an email's language is changed"
**Describe the bug**
In the new email composer UI in #5717, it's possible to switch the language of an email template. The email composer will load the email template in a different language and localize all of the email variables. However, the recipient names are not localized during this process, so the variable `{$recipientName}` is not updated.

**To Reproduce**
Steps to reproduce the behavior

[2022-03-07 16:15] NateWr opened #7746 "Allow email templates to have a name"
**Describe the problem you would like to solve**
Email templates are identified in the system and UI through either their key, `EDITOR_DECISION_ACCEPT`, or subject, `Your submission has been accepted`. As we make it easier to use multiple email templates for the same action, we will want a better way to distinguish these email templates in the UI. The email key is not very user friendly, and two e

[2022-03-07 16:26] NateWr opened #7747 "Create new `ActionPanel` component"
**Describe the problem you would like to solve**
There are a small but growing number of cases where we need to pair one or more buttons with a title/description. We should have a UI component to implement these consistently across devices.

**Describe the solution you'd like**
A fairly simple component that can display this information in a clear way, across small/big screens, and does so in an a

[2022-03-07 16:31] NateWr opened #7748 "Files for promotion can exceed container width"
**Describe the bug**
When promoting files as part of an editorial decision, a long file name can force the selection panel to extend beyond the edge of its container.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any submission.
2. Add a file with a really long filename to the file stage that will be promoted
3. Click on the editorial decision that can promote files in that file stag

[2022-03-07 17:36] NateWr commented on #7265
The following is a short video that describes the changes to recording an editorial decision. This is a very brief overview intended for internal use, but please ask any questions you have in the support forum or other community spaces.

(Sorry, I forgot to record my cursor so it is sometimes difficult to see what I have clicked on.)

https://user-images.githubusercontent.com/2306629/157087347-199

[2022-03-07 21:47] asmecher opened #7749 "Issues upgrading from 3.2.x with latest ORCID profile plugin"
**Describe the bug**
When upgrading to 3.3.0-9 from an OJS 3.2.x installation that has the latest (1.1.2.26) version of the ORCID profile plugin installed, the upgrade tool fails with the following message:
[code]
This appears to happen because the version number for orcidProfile that ships in 3.3.0-9 (1.1.2.25) is lower than the latest 3.2.x version (1.1.2.26).

Only increasing version numbers ar

[2022-03-07 21:48] asmecher commented on #7749
New release of ORCID profile has been put out and the submodule in `stable-3_3_0` is updated.

[2022-03-07 21:48] #7749 closed

[2022-03-08 04:58] itxrahulsingh opened #7750 "Submission Delete Feature"
**Describe the problem you would like to solve**
Example: We are facing the problem of the submission that are made by author mistakenly and they are not required, and we want to delete that submission for clean submissions list for editors and journal manages.

**Describe the solution you'd like**
Make an submission delete option that we can delete the submission done by mistake from authors.

**

[2022-03-08 13:21] jonasraoni commented on #7709
@ajnyga, the rule we're using to check if a submission was imported is:
- Submission is published
- Date submitted < date published

This way, if you submit and publish a submission at the same day, it will be considered as imported (the wording that Nate chose fits well "(...) and those that appear to have been imported"). I guess your submissions must be falling in this case.

I've added a note

[2022-03-08 15:20] eniocarboni opened #7751 "OJS 3.3.0-9 and -10: Error if on private site password protected"
**Describe the bug**
In my OJS test environment I use password protect via Apache "Basic Authorization" (AuthType Basic).
But after upgrading from 3.3.0-8 to 3.3.0-9 (or 3.3.0-10) there are working problems with OJS for every XHR call referring to <my_ojs_url>/api/v1/...
As an example, just click on "Submissions" to view the list of submissions or save a configuration.

The XHR return:
 403 Forbid

[2022-03-08 17:29] eniocarboni opened #7752 "Plugin Gallery empty on OJS 3.3.0-10"
**Describe the bug**
After upgrade to OJS 3.3.0-10 Plugin Gallery is empty.
I also tried it on a fresh OJS 3.3.0-10 install and it always comes out empty without any plugins

**To Reproduce**
Upgrade or install OJS 3.3.0-10 and go on Plugin Gallery

**What application are you using?**
 OJS version 3.3.0-10

[2022-03-08 17:43] asmecher commented on #7751
@eniocarboni, good catch (and thanks for the detailed report). Could you try applying https://github.com/asmecher/pkp-lib/commit/bdbfc6ba5da486d3c3949782637a6513ab8d6367 in `lib/pkp` and see if it resolves the issue?

[2022-03-08 17:54] asmecher commented on #7752
Whoops, I forgot to add the compatibility statements to the gallery! Fixed, thanks.

[2022-03-08 17:54] #7752 closed

[2022-03-08 17:55] eniocarboni commented on #7751
Yes, it works perfectly.

[2022-03-08 18:58] JhonathanLepidus commented on #6700
@NateWr , sure. These are the PRs related to this issue:

#### To add support of the CSL plugin to OPS:
* [To the stable-3_3_0 branch](https://github.com/pkp/citationStyleLanguage/pull/89)
* [To the main branch](https://github.com/pkp/citationStyleLanguage/pull/90)

#### To fix the DOI getting in OPS 3.3.0:
* [Fixing of the getCitationData method in DOI plugin](https://github.com/pkp/ops/pull/245)

[2022-03-08 20:43] asmecher commented on #7751
Thanks, I'll commit that!

[2022-03-08 20:51] asmecher commented on #7751
Actually this needs more work -- when BASIC auth is used *and* a request using `Bearer` authentication is sent, the header will look something like
[code]
(See https://stackoverflow.com/questions/29282578/multiple-http-authorization-headers.)

The best solution would be to use Slim middleware rather than parsing this out manually (e.g. https://packagist.org/packages/rbdwllr/psr-jwt) but depending

[2022-03-09 01:17] asmecher commented on #7751
@NateWr, could you review this?

https://github.com/pkp/pkp-lib/pull/7753

I've tested it with both Basic authorization and API keys and it seems to work fine.

@eniocarboni, it would also be helpful to know if this works for your situation!

I opted not to use middleware for the moment for the reason I wrote above; it's a pretty simple fix.

[2022-03-09 08:16] jonasraoni commented on #7718
Excluding the "grids" (which we're probably not going to touch), I've seen some cases here and there.
About sub-systems, besides the services/query builders, I could add the hooks and the form components.

[2022-03-09 08:57] eniocarboni commented on #7751
@asmecher
Yes, it works well

I also tried simulating a double authentication via "curl":

[code]

`curl --insecure -H "Authorization: Basic dGVzdF91c2VyOnRlc3RfcHdk, Bearer MY_TEST_API_KEY" "https://.../index.php/journalurl/api/v1/users"
`

is ok for Basic Auth, result is:

`{"error":"api.500.apiSecretKeyMissing","errorMessage":"##api.500.apiSecretKeyMissing##"}`

but by reversing the authorizati

[2022-03-09 09:50] NateWr commented on #7718
Thanks, the hooks sound like a promising use case. Can you put some brief code samples here to show how they might work with typed options?

[2022-03-09 21:51] Tyl13 commented on #7716
A few questions about this issue. In the template file, it is getting the password from the value in settings within the database configData category. At least, from what I am understanding about smarty templates. Please correct me if I am incorrect, and I was trying to see where it is pulling these variables from exactly. So, I would appreciate if someone could point me to that location. Is it a

[2022-03-09 23:46] asmecher commented on #7716
Hi @Tyl13!

The PHP controller class that's responsible for the systemInfo display is `lib/pkp/pages/admin/AdminHandler.inc.php`, in the `systemInfo` function. There you'll see that the configuration file's data is assigned to the Smarty template manager:
[code]
The `systemInfo.tpl` file is in `lib/pkp/templates/admin/systemInfo.tpl`. The `configData` variable is formatted into HTML in that file.

[2022-03-10 00:28] dagosalas commented on #7749
This problem was already presented in version 3.3.0.8, I reported it in this [post](https://forum.pkp.sfu.ca/t/error-orcid-plugin-when-update-to-3-3-0-8-try-to-downgrade-it/70929/2).

[2022-03-10 00:30] asmecher commented on #7749
Thanks, @dagosalas, I've cross-linked from that (closed) thread. It should be resolved now with 3.3.0-10.

[2022-03-10 10:03] NateWr commented on #7716
Redact it with asterisks, but do not make the string the same length. In other words, if my password is `1234`, don't make it `****`. Instead, make it a set number of asterisks regardless of the actual value of the password. This prevents someone from using this to identify the length of the password.

No options are needed. Just redact the password.

[2022-03-10 10:39] NateWr commented on #7719
@asmecher can you pick this up? This is a fairly minor dependency update to `stable-3_3_0`, but it's leading to a test failure in OJS. No other apps are effected, and I can't reproduce the error locally. I wonder if it's related to the version of node/npm on the travis server? :shrug:

[2022-03-10 13:34] mohsincheema opened #7754 "Problem Using Gmail with XOAUTH2 - get_oauth_token.php does not result in refresh token... redirects to OJS homepage"
**Describe the bug**
We are trying to configure OJS for Gmail SMTP as we have acquired Google workspace services and want OJS to send email via google workspace instead of the local mail server. We configured the config.inc.php file as guided here: https://docs.pkp.sfu.ca/admin-guide/en/email#configuring-the-system-to-use-gmail-smtp . In config.inc.php our email settings are provided in additional

[2022-03-10 18:01] alexdryden commented on #5299
I've also received a request for a preview feature. Checking to see if there is any work remaining on this feature or its tests and offering my assistance.

[2022-03-10 18:05] Tyl13 commented on #7276
I'm not sure this is still an issue? At least on stable-3_3_0. I can successfully register as someone_else:
![image](https://user-images.githubusercontent.com/48526589/157726702-4f77f659-8694-41ad-83b8-b56a4e99caa3.png)
After sign out, I can login successfully as someone_else:
![image](https://user-images.githubusercontent.com/48526589/157726866-dd537b13-2842-4f9d-8326-f15051fffb09.png)

[2022-03-10 21:02] asmecher commented on #7754
@mohsincheema, I see you've already posted this on our support forum:
https://forum.pkp.sfu.ca/t/ojs-deployed-on-subdomain-wordpress-on-main-domain-unable-to-complete-gmail-xoauth2-via-get-oauth-token-php/72270/5

That's the best place to get help.

[2022-03-10 21:02] #7754 closed

[2022-03-10 21:08] asmecher commented on #5299
@ajnyga, I see PRs above (https://github.com/pkp/pkp-lib/issues/5299#issuecomment-833625351) -- what was their latest status?

[2022-03-11 07:21] mohsincheema commented on #7754
@asmecher yes, I have posted the issue on forum first to get assistance. Now I tried a workaround as suggested by the PHPMailer support i.e.:

https://github.com/PHPMailer/PHPMailer/discussions/2645#discussioncomment-2331403

I was able to fetch the refresh token on localhost. But when I used these in config.inc.php on live website, I was still unable to send email. Error log recorded following er

[2022-03-11 12:34] ronste opened #7756 "Mime Type error for recent OJS builds when trying to load journal stylesheet - OJS 3.3.0-9 & 3.3.0-10"
**Describe the bug**
After uploading a journal style sheet via the appearance tab the style sheet is not loaded to the browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload a journal style sheet via the appearance tab
2. Refresh the browser (clear cache if you wish)
3. See error in browser (reproduced for Chrome, Firefox and Edge) console log:
![Screenshot 2022-03-11 130931](https:

[2022-03-11 19:40] asmecher commented on #7702
PRs from @forgive38:
- https://github.com/pkp/pkp-lib/pull/7757
- https://github.com/pkp/ojs/pull/3324

@NateWr, could you have a look at these?

[2022-03-11 22:34] asmecher commented on #7716
Thanks, @Tyl13!

[2022-03-11 23:02] asmecher commented on #7719
Hi all -- I've merged all 4 PRs, after investigating the OJS issue. It looks like Travis sometimes defaults to bionic, sometimes to xenial, and this was causing the failure with OJS when the others worked. I've added an explicit `dist: bionic` to all apps on `stable-3_3_0` (we already have this on `main` for similar reasons) and the tests should pass now. :crossed_fingers:

[2022-03-11 23:02] #7719 closed

[2022-03-11 23:04] asmecher commented on #7276
@dogsleg, can you confirm whether this is still an issue?

[2022-03-12 10:47] dogsleg commented on #7276
@asmecher, I've just upgraded to 3.3.0-10 and tried with someone_else. It works perfectly. Thanks! Closing the bugreport.

[2022-03-12 10:47] #7276 closed

[2022-03-12 14:45] asmecher commented on #7276
It must've gotten fixed incidentally. Thanks, @dogsleg!

[2022-03-14 09:16] NateWr commented on #7719
Thanks @asmecher and @leocsilva! Forward-ported all four PRs to `main`.

[2022-03-14 09:24] NateWr commented on #7313
Status is marked as under discussion, right? Has this been adopted for 8.2?

[2022-03-14 10:39] NateWr commented on #7702
I'm concerned about moving forward with this without having much clear feedback from our community on the use-cases behind this. This PR would give us two nearly identical fields ("working languages" and "preferred languages"), which will contribute to confusion.

Normally, I'd suggest we workshop this a little bit to gather feedback and design a solution that is appropriate for the different use

[2022-03-14 11:12] jonasraoni commented on #7313
Yep! It's not discussed/voted yet. I just think the "{$xxx}" is a better default :)

[2022-03-14 13:21] forgive38 commented on #7702
OK,
one point of UI improvement could be keeping "preferred language" for communicating purpose and as default working language, and users could choose "other working languages" (preferred language won't be in this second list)

[2022-03-14 14:58] NateWr opened #7759 "Confirm review broken in the main branch"
**Describe the bug**
When confirming a review, the application throws a fatal error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a submission in the review stage
2. Add a reviewer.
3. Click the arrow beside the reviewer to open options
4. Click Review details
5. Select a recommendation
6. Click confirm
7. See that the form does not save and the error is in the log

**What applicati

[2022-03-14 16:48] NateWr commented on #4246
@forgive38 thanks for the PR updates. The code looks good. I've gone ahead and implemented some changes, so that previous reviewers will be "pinned" to the top of the list. I've also adjusted the list items to make it more clear which reviewers these are:

![add-reviewer](https://user-images.githubusercontent.com/2306629/158220718-52f99aac-fd18-41d5-90e4-02d8cf008e75.png)

I opened a couple of PRs

[2022-03-14 17:52] ctgraham commented on #1845
@asmecher it looks like this issue is resolved, is that accurate?

[2022-03-14 18:10] asmecher commented on #1845
@ctgraham, no, I think there was a compatibility update for 3.3 shoehorned into this issue but the original feature request hasn't been implemented yet.

[2022-03-14 18:25] asmecher commented on #6778
Thanks, @Tyl13! See: https://github.com/pkp/pkp-lib/pull/7758

[2022-03-14 18:25] #6778 closed

[2022-03-14 19:24] ctgraham commented on #1845
@Tyl13 , this could be an interesting issue to look at, with interest to the ULS and to the broader PKP community.  Note that piwik is now know as Matomo.

[2022-03-14 22:39] jrichardsz commented on #7068
If  you keep both flavors?

Inspired on [spring java framework](https://stackoverflow.com/a/35535138/3957754), your config could be like this:

If the system admin are from old school, they will happy to connect with ssh and hardcode the values:

[code]

But if the sysadmin is a generation z devops engineer and wants to deploy in several nodes/environments the same ojs with a puff using docker or

[2022-03-15 11:26] NateWr opened #7760 "Submission file API does not return genre information"
**Describe the bug**
When requesting a submission file from the API, the `genre` property is always `null`. It should be an object like:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the submission wizard
2. Go to step 2
3. Upload a file
4. Click "other" when asked about the file type and select any file type and save.
6. See that the file type doesn't update. If you inspect

[2022-03-15 12:34] librariam commented on #7161
+1 from PKP|PS

[2022-03-15 13:13] NateWr opened #7761 "Psy\sh() debugger not working"
I'm having trouble running the `psy/psysh` debugger. When I updated composer dependencies, it fixed the problem. This issue is a placeholder for discussion about updating the dependencies.

[2022-03-15 13:17] NateWr commented on #7761
@asmecher this PR updates our composer dependencies. The fix might be related to psysh or maybe to a recent update to symfony/console mentioned at https://githubhot.com/repo/bobthecow/psysh/issues/704.

Can you take a look and see if it is ok?

https://github.com/pkp/pkp-lib/pull/7762

No changes were made to the `composer.json`, but I found quite a few packages were updated when I ran `composer u

[2022-03-15 13:50] Tyl13 commented on #1845
What specific usage information would want to be shown and on which pages? Any additional information would be helpful. Thanks in advance.

[2022-03-15 14:05] NateWr commented on #7760
Ok this turned out to be simple. Once fixed, it exposed an issue with the submission files list panel. It needed to be updated since an API change as part of #7265. These PRs should address both problems.

PRs:
https://github.com/pkp/pkp-lib/pull/7763
https://github.com/pkp/ui-library/pull/184

Tests:
https://github.com/pkp/omp/pull/1080 (OMP since it was OMP/PHP8.1 that had the original test fail

[2022-03-15 14:56] jonasraoni opened #7764 "Enhance upgrade process for plugins"
**Describe the problem you would like to solve**
When installing a new version of a plugin, the plugin should be given an opportunity to run its upgrades (e.g. migrate database entities, change something in the file system, etc.).

**Describe the solution you'd like**
The `Plugin` class might be extended with an `upgrade()` method. Inside this method the plugin should be able to query the current

[2022-03-15 14:59] marcbria opened #7765 "Wrong charset conversion in citationStyleLanguage plugin"
**Describe the bug**

In a full functional OJS stable-3.2.1 (but also in last 3.3.0-10):

With:
- Tables and fields in utf8mb4_general_ci.
- Header html declares "utf8".
- Source code php: text/x-php; charset=us-ascii
- PHP 7.3.22
- All plugins up to date.

Only on CitationStyleLanguage plugin I found special chars are removed (accents, non ascii letters).

Log shows the following notice:
[code]

[2022-03-15 15:48] NateWr opened #7766 "Form fields and groups should support `showWhen` property that identifies multiple fields"
**Describe the problem you would like to solve**
Form field and group components have a `showWhen` property that allows the form or group to be hidden until another field in the form has a particular value. This is used to show/hide advanced fields depending on whether something is enabled.

While @ewhanson was working on the DOI settings forms, it became necessary to use this feature in a nested

[2022-03-15 18:45] pmangahis commented on #7052
+1 from PS hosted institution with a large multi-journal install and long list to scroll through

[2022-03-15 20:05] librariam commented on #6528
In addition to Jason's script suggestion above, for a use case with a smaller number of incomplete submissions - I wonder if it would make sense to bring back the old submission "Delete" button for admin accounts only (before a submission is declined)? I understand the reason for removing it for JE/JM accounts, but having an admin delete submissions quickly would be very helpful.

[2022-03-15 22:27] pmangahis commented on #1813
+1 from another hosted clint that would be interested in this

[2022-03-15 23:06] asmecher commented on #7760
Interesting! Do you know why this was causing test failures only in a single combination of PHP and MySQL?

[2022-03-16 04:29] asmecher commented on #7624
PRs:
- https://github.com/pkp/pkp-lib/pull/7767
- https://github.com/pkp/ojs/pull/3328
- https://github.com/pkp/quickSubmit/pull/57

[2022-03-16 08:48] NateWr commented on #7760
No! I suspect there's a race condition of some kind that may be causing the test failure. I had to restart the PHP 8.0 test with this batch.

The race condition may be this line:

https://github.com/pkp/pkp-lib/blob/f1224bde174c4d07f8b9531b58243d5bc5ed52ae/cypress/support/commands.js#L206

The button to save the file genre is clicked but the test doesn't wait for confirmation that it is complete b

[2022-03-16 08:48] #7760 closed

[2022-03-16 09:22] NateWr commented on #6700
Thanks @JhonathanLepidus, this looks good! I checked it out on `main` with your changes to the CSL plugin and all the styles worked smoothly. I think we're just about ready to merge the changes to the `main` branches.

Before merge, we need to get this added as a submodule to OPS and make sure the tests are running. To do this, there are a couple steps:

1. Add the changes to the CSL files to your

[2022-03-16 09:47] NateWr opened #7768 "Improve UX of the Steps wizard component"
**Describe the problem you would like to solve**
The Steps component is designed to support a step-by-step wizard UI. Currently it is designed as a `tabpanel` that allows the user to jump forwards and backwards. This leads to problems such as:

- Confusing visual markers for currently active, completed, and focused steps.
- Can't restrict user's progress through the wizard, which makes it harder t

[2022-03-16 09:55] NateWr commented on #7768
PRs:
https://github.com/pkp/ui-library/pull/185
https://github.com/pkp/pkp-lib/pull/7769

Tests:
https://github.com/pkp/ojs/pull/3329
https://github.com/pkp/omp/pull/1081

[2022-03-16 11:00] ronste commented on #7756
Update:

My current guess is that the Content-Type header is not set due to a missing file extension on the journal style sheet file.

For those installation where the issue exists the URL refers to "stylesheet" instead of "stylesheet.css", e.g.:

Installation without the issue: https://www.bsjecon.de/public/journals/1/styleSheet.css?d=2022-02-09+16%3A00%3A10

Installation showing the issue: http:

[2022-03-16 14:00] ctgraham commented on #1845
Through Custom Blocks and through Custom Pages, we already support embedding Matomo widgets and images in the global sidebar or in a dedicated page.  I think the value-add here would come from the ability to bind Matomo widgets/images against a dynamic URL: e.g.: showing visitors for a specific page, on that specific page.  Based on a quick read-through, I'm not confident the Matomo API supports t

[2022-03-16 18:31] NateWr opened #7771 "BackendDOIHandler missing argument to publication schema map"
**Describe the bug**
Error when trying to assign a DOI in `main`:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to assign a DOI
4. See error in server logs

**What application are you using?**
 `main`

**Additional information**
There's a new argument required for the publication schema map. See:

https://github.com/pkp/pkp-lib/blob/94ac521b0815d27f667c902fff675735c4f3afab/api/

[2022-03-16 18:37] NateWr opened #7772 "Issues filter doesn't show active filter in submissions list"
**Describe the bug**
When viewing the active submissions list, you can filter by an issue. When you select an issue to filter by, the filter is applied, but the UI doesn't show that the filter is active. It should show the current issue filter value below the issue autosuggest field.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Submissions > Archive
2. Click on Filters
3. Find the i

[2022-03-16 18:39] NateWr commented on #7682
I found two bugs but neither of them was related to your code! :laughing: All merged to `main`, thanks!

[2022-03-16 18:51] ewhanson commented on #7682
Hey @emmauhl, tagging you for documentation-related updates.

The DOI refactor, among other things, add new ways to filter DOIs that have specific behaviour that would be good to document. The behaviour is as follows:

| Filter | Behaviour |
| --- | --- |
| Needs DOI | Any published or unpublished item that **1)** has a sub-object without a DOI assigned where **2)** the sub-object's DOI type is en

[2022-03-16 19:23] Tyl13 commented on #1845
As @ctgraham said, the API does not support binding static image graphs to specific pages. While they do have an API to get useful information about specific page URLs, they do not come built with graphing capabilities. The metadata seems like it can only return information about the site as a whole. Widgets that can be embedded on Custom Pages and Custom Blocks do allow showing information for sp

[2022-03-17 00:19] asmecher opened #7773 "Import XML missing filesize attribute to file node causes confusing fatal error"
**Describe the bug**
Importing an XML document to the native import/export plugin in which the <file> element is missing the filesize attribute causes a confusing fatal error. See: https://forum.pkp.sfu.ca/t/after-upgrading-to-3-3-0-8-error-500-on-trying-to-import-issues-articles-native-xml-plugin/72121

**To Reproduce**
Steps to reproduce the behavior:
Import the sample XML from the forum post ab

[2022-03-17 10:40] forgive38 commented on #4246
I updated my PRs with your changes and locale updates: can you check ?
thank you

[2022-03-17 12:48] NateWr commented on #4246
Thanks @forgive38. There was a merge conflict on the OJS repo. This happens a lot with the submodules and can be a pain to rebase. I went ahead and rebased for you and opened some new PRs. I also opened PRs to run the tests for OMP/OPS.

PRs:
https://github.com/pkp/pkp-lib/pull/7774
https://github.com/pkp/ui-library/pull/187
https://github.com/pkp/ojs/pull/3331

Tests only:
https://github.com/pkp/

[2022-03-17 14:44] ctgraham commented on #5266
@Tyl13 will be working on this for Pitt.  Tagging him here to see if that allows me to assign him to the issue.

[2022-03-17 16:27] NateWr commented on #7772
Fixed in the commits above. The UI is a little clunky because the selected items no longer appear above/below the input field. But the autosuggest is a nightmare and I don't want to mess with that right now.

[2022-03-17 16:27] #7772 closed

[2022-03-17 16:33] NateWr commented on #4246
All merged to `main`. Thanks @forgive38! Out community will be thrilled to see this make it into 3.4.

@emmauhl this may effect documentation. You can find a screenshot in this comment: https://github.com/pkp/pkp-lib/issues/4246#issuecomment-1067053394

[2022-03-17 16:33] #4246 closed

[2022-03-17 16:56] asmecher commented on #4246
Thanks, @forgive38 (and all)!

[2022-03-17 19:29] JhonathanLepidus commented on #6700
@NateWr I couldn't understand this part in step 2:

I added the submodule to my fork using the same command in step 2, but I didn't get it if I can move to step 3 or need to do something else before it.

[2022-03-18 12:00] jonasraoni commented on #7709
@ajnyga let me know if that makes sense, then I'll merge these PRs =]

[2022-03-18 13:42] forgive38 commented on #7338
Should we do the same thing when we create a new review round ? Close review assignments from previous round ?

[2022-03-18 14:04] forgive38 commented on #7044
We could join an Ical file with the review request email for email clients that not support markup.
like this :
[code]
a drawback is client like outlook or thunderbird doesn't support two events in one file: need to join 2 ics files, one for response due date, one for review due date.

[2022-03-18 16:35] ewhanson commented on #7771
Hey @NateWr, here are the PRs for this fix. Could you have a look? Thanks.

PRs:

- #7775
- pkp/ojs#3332
- pkp/omp#1085
- pkp/ops#250

[2022-03-18 17:39] jnugent opened #7776 "Configuration parameters get truncated if they are too long"
**Describe the bug**
If a parameter in config.inc.php exceeds 1024 characters, it will get truncated because the ConfigParser class only reads that many bytes. This has consequences for issue #7649 when an installation contains many journals with custom domains.  In that case, the configuration parameter will get truncated and the call to json_decode in the security policy will return null.

**To

[2022-03-18 21:43] fgnievinski commented on #6838
The problem persists with OJS version 3.3.0.10.

In email templates (e.g., REVIEW_REQUEST_ONECLICK), special strings such as {$reviewDueDate} do not seem to use the preferred date/time configured for each locale in:
https://site.com/index.php/journal/management/settings/website#setup/dateTime

For example, I've used a custom format %d/%m/%Y but in the history of email messages, it uses the default

[2022-03-19 00:46] asmecher commented on #7776
There was an arbitrary 1024-byte limit on a single config line; I've removed this. Committed to `main` and `stable-3_3_0`.

[2022-03-19 00:46] #7776 closed

[2022-03-19 11:12] Helyfoxer commented on #6768
After upgrading to **3.3.0-10** this bugs with broken link to administrative page and "Access Denied" on it (then manually fixed URL to `/index.php/index/admin`) are still present.
And `lib/pkp/classes/services/PKPNavigationMenuService.inc.php` in this version already looks like https://github.com/asmecher/pkp-lib/commit/e9f5360ffe6638ff77e7c76db9496094eaf7759a
How can I fix this?

[2022-03-19 17:54] Vitaliy-1 opened #7777 "Incorrect dates in publications stats intervals"
**Describe the bug**
Instead of sequential days of the month, like February 1, February 2, etc., in PKP stats days of the month are repeated: February 1, February 1..., March 1, March 1, etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Article Stats
2. Set abstract views/daily
3. See date intervals

**What application are you using?**
 OJS main branch

**Additional information**
![

[2022-03-21 10:09] NateWr commented on #7338
I'm hesitant to automate things like this, because we always find that such automations don't work for some people in our community. It seems illogical, but I'm sure that there are journals out there which accept or decline submissions and still want outstanding reviews completed. :shrug:

I'd suggest maybe we consider this feature as part of an editorial decision workflow. For example, when creat

[2022-03-21 10:41] NateWr commented on #7771
Thanks @ewhanson. I've merged in the pkp-lib PR and closed the others. The test failures were not related to this fix, but a problem I introduced last week. See https://github.com/pkp/ojs/pull/3331#issuecomment-1073733794.

[2022-03-21 10:41] #7771 closed

[2022-03-21 10:46] NateWr commented on #7768
This broke the tests because it removes the `id` attribute used in some tests: https://github.com/pkp/ui-library/commit/dba48255fbe46beac34de160870ae953fb75d9b1#diff-d50adb5d1e5707a838d03f0253f438c8e4397a7608284c380e9aecbbef3ce86dL5

See conversation here: https://github.com/pkp/ojs/pull/3331

[2022-03-21 11:24] NateWr commented on #7768
PR:
https://github.com/pkp/pkp-lib/pull/7778

Tests:
https://github.com/pkp/ojs/pull/3333
https://github.com/pkp/omp/pull/1086

[2022-03-21 11:38] NateWr commented on #6700
Yes, that looks great, @JhonathanLepidus! The only problem that I noticed is that the name of your branch in the commit message (`##lepidus/i6700-cslOps##`) used a `-` and the branch in in your `citationStyleLanguage` repository (`i6700_cslOps`) uses a `_`. The names have to match exactly because that's how our test software knows what branch to check out.

You can fix this in OPS by renaming your

[2022-03-21 12:54] NateWr commented on #7748
PR:
https://github.com/pkp/ui-library/pull/188

Tests:
https://github.com/pkp/ojs/pull/3334

[2022-03-21 15:23] Helyfoxer opened #7779 "OJS 3.3.0-10: All administrative links are broken"
**Describe the bug**

After upgrading to 3.3.0-10 we having bug with broken link to administrative page.
_UPDATE: on clean setup 3.3.0-10 situation is the same._

**To Reproduce**

In updated to (or installed new) 3.3.0-10 in user profile drop-down menu the system generates a link like `https://SITE_NAME/:///SITE_NAME/admin/index` , but admin page opens (manually) by `https://SITE_NAME/index/admin

[2022-03-21 16:05] NateWr opened #7780 "Some strings not localized in Composer and FileAttacher components"
**Describe the bug**
There are still several strings in the Composer and FileAttacher components that are not localized. These need to be converted to locale keys so that they can be localized.

**What application are you using?**
`main` branch (3.4 pre-release)

[2022-03-21 16:34] NateWr commented on #7780
PRs:
https://github.com/pkp/pkp-lib/pull/7781
https://github.com/pkp/ui-library/pull/189

Tests only:
https://github.com/pkp/ojs/pull/3335
https://github.com/pkp/omp/pull/1087

[2022-03-21 17:28] JhonathanLepidus commented on #6700
@NateWr , in fact I named the branches wrongly, but I edited the commit message to match them and opened a PR: https://github.com/pkp/ops/pull/251

[2022-03-21 18:17] asmecher commented on #7779
@Helyfoxer, what version were you upgrading from?

[2022-03-21 19:54] asmecher commented on #7777
@Vitaliy-1, I've confirmed locally that this is fixed by https://github.com/pkp/pkp-lib/commit/c3345625740e6110b348d3065d038e7d4e61676e, but please re-open if it still gives you trouble.

[2022-03-21 19:54] #7777 closed

[2022-03-21 23:08] asmecher commented on #7768
@NateWr, the above PR for pkp-lib also needed a couple of selector tweaks:

https://github.com/pkp/pkp-lib/commit/61d62dcfc427a5e609237e3f49a4de756573db9e

I've cherry-picked your changes in and committed submodule updates for the apps.

[2022-03-22 04:08] ewhanson commented on #4056
Thanks, everyone. This has all been really helpful in thinking through the new DOI implementation. This set of PRs are the first of two to finish out the DOI refactor feature set. It adds a new default DOI generation method, that randomly generates a hyphen-separated, eight character suffix (details below) that will look something like `10.1234/4ytc-m808`.

### Current status

- [x] Add new DOI ge

[2022-03-22 04:10] asmecher commented on #7768
^ This didn't quite get it there -- OJS content tests pass, but OMP and OPS do not, and there is a statistics test fail in OJS (and presumably the others). I'll check out the statistics test fail in the morning.

[2022-03-22 09:32] Helyfoxer commented on #7779
I tried to update from 3.2.1.1, going by both ways: 3.3.0.-10 at once, and sequentially installing all intermediate versions.
But, as I already wrote, this problem also exists when installing a new 3.3.0-10 separately.

[2022-03-22 10:16] NateWr commented on #7624
@asmecher FYI the test failure was just a mistake in the date format.

PR:
https://github.com/pkp/ojs/pull/3339

[2022-03-22 10:45] NateWr opened #7783 "Role settings page broken in OPS on PHP 8.1"
**Describe the bug**
When accessing Settings > Users & Roles > Roles, there is a fatal error and the roles list does not load. This only occurs in PHP 8.1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Users & Roles > Roles.
2. See that the roles list does not load.
4. See error in server log.

**What application are you using?**
`main` branch (3.4 pre-release)

**Additiona

[2022-03-22 11:48] NateWr commented on #7624
I've merged those PRs, which should fix the stats test failures. But OMP/OPS are still failing on a decision. See https://github.com/pkp/pkp-lib/issues/7768.

[2022-03-22 11:48] #7624 closed

[2022-03-22 11:53] NateWr commented on #7768
@asmecher I was able to fix the stats test failure, but I can't reproduce the OMP/OPS test failure when recording a decision. See https://app.travis-ci.com/github/pkp/omp/jobs/564143472#L2142.

Based on the test log, it seems like the `<h1>` element is not on the page at all. This would indicate a fatal error of some kind that stops execution (rather than a JS error that stops Vue.js from showing

[2022-03-22 13:09] NateWr commented on #7745
PRs:
https://github.com/pkp/pkp-lib/pull/7784
https://github.com/pkp/ui-library/pull/191

Tests only:
https://github.com/pkp/ojs/pull/3340

[2022-03-22 15:17] ajnyga commented on #4056
I would leave out the hyphen. Using hyphens in a suffix is something that the DOI ISO standard mentions as something that should be avoided.

[2022-03-22 17:34] NateWr commented on #7748
Merged the fixes to `ui-library:main`.

[2022-03-22 17:34] #7748 closed

[2022-03-22 17:37] NateWr commented on #7780
Merged to `main`. Because of an unrelated test failure in OMP, it was only possible to test OJS. But hopefully it won't cause further test failures outside of OJS.

[2022-03-22 17:37] #7780 closed

[2022-03-22 17:39] NateWr commented on #7745
Merged to `main`.

[2022-03-22 17:39] #7745 closed

[2022-03-23 00:16] asmecher commented on #7783
https://github.com/pkp/pkp-lib/commit/26e9075279c6d59cf3713777f133331be3065e33 isn't the cleanest fix but I think it's the lesser evil. We can't 100% remove WORKFLOW_STAGE_SUBMISSION because `pkp-lib` depends on it in various ways, e.g. in listing author user groups for role selection. But OPS jumps submissions right to WORKFLOW_STAGE_PRODUCTION so authors can upload galleys, which also makes sens

[2022-03-23 01:33] asmecher commented on #7779
What errors are you seeing at the URLs that are not working?

Are you using `mod_rewrite`?

[2022-03-23 09:06] #7768 closed

[2022-03-23 12:09] NateWr commented on #6700
Thanks @JhonathanLepidus. I've gone ahead and opened a PR against OJS too, so that we can run the tests there. That will help catch any unintended regressions. I think these are all of the PRs.

PRs:
https://github.com/pkp/citationStyleLanguage/pull/93
https://github.com/pkp/ops/pull/251

Tests only:
https://github.com/pkp/ojs/pull/3342

[2022-03-23 12:47] Helyfoxer commented on #7779
I'm seeing
**404 Not Found**

_Are you using mod_rewrite?_

Yes, I'm using it.
But without `mod_rewrite` and with `restful_urls = Off` problem still remains.
In that case link to admin page looks like
`https://SITE_NAME/index.php/journal/:///SITE_NAME/admin`

[2022-03-23 13:39] Helyfoxer opened #7786 "OJS 3.2.1.1 - OJS 3.3.0-10⚠️ Serious security issue"
**Describe the bug**

**⚠️ Serious security issue: User can upload and execute malicious code.**

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Submissions
2. Click on **New Submission**
3. Enter the required primary article data and click **Save and Continue**.
4. Select article component
5. Upload some *.phtml, *.shtml file or file with extension from mixed register of chars of tho

[2022-03-23 14:21] forgive38 commented on #7473
Hello

Because our editors need this feature, I'm looking into creating a link to open the discussion directly. It could be "QueryNotificationManager->getNotificationUrl()"#stageId#queryId.
Then I will have to develop the logic to open directly the corresponding modal.

@NateWr : Do you think it is the right way?

thank you

[2022-03-23 14:35] asmecher commented on #7786
@Helyfoxer, this is an unsafe deployment rather than a bug; see the installation form:

![image](https://user-images.githubusercontent.com/200411/159723569-076574d7-1174-4fbf-8981-65880375b9ea.png)
(Relevant part: "This directory should not be directly web-accessible.")

Also in `docs/README.md`:

In the future, if you're disclosing a potential security issue, please follow responsible disclosure

[2022-03-23 14:35] #7786 closed

[2022-03-23 14:47] asmecher commented on #7779
@Helyfoxer, did you carry across your `base_url` configuration directives from your 3.2.1.1 installation? The `base_url[index]` setting is probably relevant here, as it determines URLs for the administration pages.

[2022-03-23 15:24] Vitaliy-1 commented on #7592
@NateWr, can you take a look at these PRs?
OJS: https://github.com/pkp/ojs/pull/3300
pkp-lib: https://github.com/pkp/pkp-lib/pull/7703

[2022-03-23 17:30] Vitaliy-1 opened #7787 "User::getContactSignature() may return array and break email template variable replacement"
**Describe the bug**
`User::getContactSignature()` accepts optional `$locale` as an argument. The idea behind the method's body is returning a localized user signature or if not, combining fullname, affiliation and phone number from user settings to create one. see: https://github.com/pkp/pkp-lib/blob/d5a8934eea2f3454f31e81aee1eade5cdb699697/classes/user/User.inc.php#L420-L431

But if the locale i

[2022-03-23 17:57] JhonathanLepidus commented on #6700
Good! What about the [PR to add compatibility with OPS 3.3.0](https://github.com/pkp/citationStyleLanguage/pull/89) and [the one to upgrade style files in 3.3.0](https://github.com/pkp/citationStyleLanguage/pull/91)? Should they be closed, since it's a big change to a stable version?

[2022-03-23 18:06] Vitaliy-1 commented on #7787
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/7788
tests: https://github.com/pkp/ojs/pull/3345

[2022-03-23 18:23] asmecher commented on #7765
@jonasraoni, would you be able to look into this? (It sounds like you already started!)

[2022-03-23 18:38] Vitaliy-1 commented on #7689
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/7789
tests: https://github.com/pkp/ojs/pull/3346

[2022-03-23 19:55] Helyfoxer commented on #7779
`base_url` and `base_url[index]` are the same and equal "SUBDOMAIN.DOMAIN" (without http:// or https://).

[2022-03-23 20:40] asmecher commented on #7779
@Helyfoxer, I'm not sure I'll be able to help with `mod_rewrite` rules, but can you include...
- your rewrite configuration, and
- all your `base_url[...]` directives from `config.inc.php`?

[2022-03-24 09:03] NateWr commented on #6700
I've merged the updates to `citationStyleLanguage` and the PR to add the submodule to OPS. Thanks @JhonathanLepidus! :tada:

At this time, we don't want to add them to the `stable-3_3_0` branch. However, Alec set out [some conditions](https://github.com/pkp/citationStyleLanguage/pull/91) that would need to be met if you did want to push for a merge to `stable-3_3_0`.

If you're happy with the merg

[2022-03-24 09:12] forgive38 commented on #7473
In both cases: in notification of a discussion in tasks list or by mail, the generated URL redirect to the current stage of the workflow. But not to the stage of the discussion and even less directly to the discussion modal.

If you plan to redesign this part of the UI, I'll wait before working on it.
I will rather look at how to integrate the content of the discussion in the email sent

[2022-03-24 09:22] NateWr commented on #7689
Thanks @Vitaliy-1!

[2022-03-24 09:25] NateWr commented on #7473
Thanks @forgive38! At another stage of the development cycle I might be able to oversee a bigger change, but we're late on 3.4 so trying to stay focused.

Integrating the content of the discussion in the email will be great. See this issue: https://github.com/pkp/pkp-lib/issues/6222

You could also fix just the bug report in this issue by making the URL go to the correct stage of the workflow. Tha

[2022-03-24 09:29] NateWr commented on #6222
@forgive38 if you are going to work on this, we'd like to see the discussion subject be the subject of the email. So the template would be similar to GitHub notifications, like this:

[code]

This would fit well in the future with https://github.com/pkp/pkp-lib/issues/4142, where we hope to support an email reply processor so that people could reply to the email and it would be like a new discussi

[2022-03-24 09:33] NateWr commented on #4142
Just a comment for later: we should be able to use the + syntax that is supported by most mail providers. So if the reply processor address is `replies@example.com`, the reply-to address could be `replies+<access-key>@example.com`. Most mail providers will put that into the `replies@example.com` mailbox. (This is how GitHub does it.)

[2022-03-24 13:43] diegoabadan commented on #6700
Thank you, Nate.

Scielo can wait for 3.4.

Among other customers is not a strong demand.

[2022-03-24 14:56] librariam opened #7790 "Wysiwyg controls not fully visible in bilingual / multilingual journals on 3.3"
**Describe the bug**
Wysiwig controls are partially obscured in the Footer settings on bilingual / multilingual journals. Resizing the screen does not help get to the rest of the controls such as <>. And toggling between languages only allows accessing the primary language locale in full screen. This is only an issue in 3.3 (not in 3.2 - tested).

**To Reproduce**
1. Go to Website > Appearance > S

[2022-03-24 14:58] #6700 closed

[2022-03-24 15:18] felixhelix opened #7792 "OMP 3.4.0.0: unable to add a cover image to a book"
**Describe the bug**
When trying to add a cover image to a book, OMP throws an error:

[code]

The cover image is uploaded in the /temp directory, and also deleted after the failed attempt. But obviously it cannot be referred to by the omp instance.

**What application are you using?**
OMP 3.4.0.0

---
PRs

OJS: pkp/ojs#3598 (***TESTS ONLY***)
OPS: pkp/ops#384 (***TESTS ONLY***)
OMP: pkp/omp#1237

[2022-03-24 15:24] NateWr commented on #7743
Short video of the new UI:

https://user-images.githubusercontent.com/2306629/159949762-b0ae0ab5-ba96-42b9-99f5-e20ac18f560b.mp4

The following PRs apply this change to the email signature and record decision fields. It replaces everywhere that the `preparedContent` property was used with the Vue.js editor field. It does not effect uses of the editor in old forms.

Find and test it in the UI libra

[2022-03-24 15:37] NateWr commented on #7743
The variable substitution "pass" can happen again on the server. So in such cases, instead of passing the actual value to the UI component, we would pass the "variable name" as the value, eg:

[code]

When the email is submitted, the text will still be run through the variable substitution, so that `{$reviewUrl}` can be transformed into the `https://...` on the server. It should be fairly easy to

[2022-03-24 15:45] ewhanson commented on #7743
Yes, I'll have a look.

[2022-03-24 15:55] asmecher commented on #7743
Thanks, @NateWr -- in this case we're counting on the URL already being invisible to the user (unless they edit the link), right? i.e. for a "visible" variable, it would show up as {$someVariableName} in the email text and be replaced when sending?

[2022-03-24 16:12] jnugent commented on #7649
Hi everyone,

Now that we've gone through and patched all of our own installations I wanted to share the patches we used, based off of @asmecher's work above.  For some of those there was a discrepancy in older versions of OJS3 where you'd get a fatal error about not being able to pass by reference.   The patch for 3.2 also removes the bits that attempt to patch the readme file that isn't in 3.1.

[2022-03-24 16:13] alexxxmendonca commented on #7790
I have filed a similar issue here: https://github.com/pkp/pkp-lib/issues/6039

[2022-03-24 16:37] alexxxmendonca commented on #7790
No worries! I actually think your title is better/more descriptive than mine!

[2022-03-24 17:22] NateWr commented on #7743
:+1: exactly. A similar situation exists for the "notify reviewers" email. Since each reviewer is sent a separate email, the `{$recipientName}` needs to be left "raw" when the editor writes the email, and then replaced as each email is sent.

[2022-03-24 18:12] Vitaliy-1 commented on #7787
@NateWr, you made changes in this method recently, do I get its logic correctly?
(Failed tests aren't related to this PR)

[2022-03-24 18:28] asmecher commented on #7743
This loses some flexibility we previously had in allowing late replacement of variables without forcing users to see sometimes-confusing `{$variableSlugs}`. (They often think these are glitches and try to fill them in manually.) See e.g. the "assign reviewer" message:

![image](https://user-images.githubusercontent.com/200411/159984853-5906d2ad-2dbf-481a-9981-0481ce823685.png)

In this case the "R

[2022-03-24 20:47] ctgraham opened #7793 "Allow for plugins to describe support for fuzzy or wildcarded versions"
**Describe the problem you would like to solve**
In the Plugin Gallery, plugin developers are currently required to explicitly name every application version which the plugin version supports.  This means that new assertions must be added even after patch releases.  The version contract should, however, allow us to forecast version support, promising (for example) for a plugin to work in 3.3.0-_an

[2022-03-25 00:28] asmecher commented on #7642
Here's a proposed solution; I'd love feedback on whether it works for someone else's upgrade: https://forum.pkp.sfu.ca/t/upgrade-ojs-3-1-2-1-to-3-2-1-4-successfully-upgraded/69850/11

[2022-03-25 14:54] jonasraoni commented on #7765
Ok!

[2022-03-25 16:55] asmecher commented on #7705
@jnugent, this issue is currently scheduled for 3.3.0-11.

[2022-03-25 17:24] marcbria commented on #7765
@jonasraoni please, let me know if you need help with the testing... or whatever.

[2022-03-25 22:30] asmecher commented on #7744
We'll need to deal with both:
- Variables that are expected to be plaintext and should be fully escaped, and
- Variables that are expected to be in HTML and should be sanitized through PKPString::stripUnsafeHtml() before including them into emails as HTML.

The aggressiveness of `PKPString::stripUnsafeHtml` is configured in `config.inc.php` under `allowed_html`, and by default includes `ul` and `o

[2022-03-28 09:23] NateWr commented on #7743
The new approach allows us to do whatever we want, including the approach you describe. We define what the "value" of any variable is when it is displayed in the editor, so we could make it `<span data-variable="reviewDueDate">Review Due Date</span>` and then convert that back to `{$reviewDueDate}` before processing the email body and sending it.

However, user testing has indicated that the place

[2022-03-28 09:37] NateWr commented on #7787
I'm not sure I understand exactly. What would be the value of `$a` and `$b` in the following code?

[code]

It seems to me like `$b` should be `null`, but I think you're suggesting it is something else?

[2022-03-28 09:44] NateWr opened #7794 "Fix download filenames when encoded into content headers"
**Describe the bug**
Filenames can have diacritics stripped or otherwise have the filenames not appear in some browsers. A fix was implemented in #6898, however, it still persists in some browsers. This is due to the fact that quotes were left in the header where they shouldn't be. In the following line:

https://github.com/pkp/pkp-lib/blob/7b9bdfac794e8d678e9eb77f568cc9be42f179cb/classes/services

[2022-03-28 09:47] Vitaliy-1 commented on #7787
Yes, an array

[2022-03-28 09:52] NateWr commented on #7794
PR:
https://github.com/pkp/pkp-lib/pull/7795

Tests:
https://github.com/pkp/ojs/pull/3348
https://github.com/pkp/ops/pull/257
https://github.com/pkp/omp/pull/1091

@ErwanBo, can you test this change and see if it fixes the problem for you? You should only need to apply the changes under "PR", and this should apply cleanly to any 3.3.0-7+ install.

[2022-03-28 10:00] NateWr commented on #7744
Thanks @asmecher! I think we'll stick with server-side escaping using `String::stripUnsafeHtml()`. The new `EmailVariable` classes that @Vitaliy-1 implemented should help us centralise most of these cases.

I'll take a first-pass at getting this set up against the right fields.

[2022-03-28 10:09] Vitaliy-1 commented on #7787
e.g.:
[code]

[2022-03-28 10:26] NateWr commented on #7787
What's the value of that user's records in the database? Looking at the code, it seems like that would only get returned if the user object was like this:

[code]

But I think empty strings are not supposed to be saved to the database... The DAO is supposed to remove the `signature` row if it is an empty string...

[2022-03-28 10:40] Vitaliy-1 commented on #7787
[code]

[2022-03-28 11:47] NateWr commented on #7787
Yes, the data can be manually inserted into the database that way. But the `UserDAO` is not meant to add such rows, I think, once the entity schema is in place. Something like `$user->getData('anything');` shouldn't return an empty text string because the row in the database _shouldn't_ exist. (Just trying to figure out the root cause here.)

[2022-03-28 14:14] ronste commented on #7756
Update:

In my installations the issue boils down to line 485 of PKPContextService.inc.php where the name 'styleSheet' without the css is hardcoded:

https://github.com/pkp/pkp-lib/blob/7b9bdfac794e8d678e9eb77f568cc9be42f179cb/classes/services/PKPContextService.inc.php#L485

Can anyone review this issue? @asmecher

[2022-03-28 14:22] Vitaliy-1 commented on #7787
I don't see anything in new DAO classes that should convert empty string values to NULL in setting tables. I think the logic of such behavior should be implemented in `EntityDAO::fromRow()`

[2022-03-28 14:28] NateWr commented on #7787
I think it is meant to be part of the `PKPSchemaService::sanitize()` method, but maybe things changed a bit with how `null` values were handled. The easiest thing to do is to test to see if you can save an empty string value to a user profile. If it happens, then yeah we should try to account for it.

[2022-03-28 14:54] AhemNason opened #7796 "Update supported Crossref Schema across pkp-lib"
Currently, OJS supports version 4.3.6 of the Crossref schema. Crossref is currently on version 5.3.1. The schema hasn't broken backwards so there's no immediate need to panic or anything, but you can see notes on each supported schema here: https://www.crossref.org/documentation/schema-library/schema-versions/

Here's a summary of major highlights for the versions we don't support in OJS:

- 5.3.1

[2022-03-28 15:11] Tyl13 commented on #7793
While I have been doing work on this, I was wondering. Should the user be explicit about the version that he is wild carding? For example, I consider `3.3.*-*` as explicit but that is technically the same as `3.3.*`  when we stop looking at the wild cards and only comparing the version specified.

If the second version is allowed, then should I ignore any characters after the wild. For example, if

[2022-03-28 15:41] NateWr commented on #7759
@Vitaliy-1 I assigned this to you because I think once your PR is merged this will be fixed. Just needs to be tested and closed if it's all good.

[2022-03-28 15:46] NateWr opened #7797 "Reviewer confirmation email should indicate that the email is automated"
**Describe the problem you would like to solve**
When a reviewer accepts a review assignment, an automated email is sent to the editors. This email is made to look like it was written by the reviewer. However, the reviewer never sees the message body and can't edit it in any way.

Editors may think that the email came from the reviewer when in fact it is an automated notification from the system.

[2022-03-28 16:30] alexxxmendonca commented on #7796
+1 for ROR support
+1 for OPS (recently with Lepidus' help we managed to include abstract in the Crossref posted content schema, which wasn't possible until then)

[2022-03-28 16:30] ctgraham commented on #7793
Yes, but according to semantic versioning, `-10` should not introduce a backwards incompatible change.  If the plugin introduces an incompatible change, it is up to the author to either redeclare the compatibility, or test for and address the version incompatibility in the plugin code.

Also, note that in the Plugin Gallery any more recent release overrides former releases.  So, if I promise compa

[2022-03-28 16:30] asmecher commented on #7793
Hi all -- I'm bungee-jumping in without reading the whole thread, just to say that if it's possible to adopt patterns or even libraries/tools to make the version specifications compatible with e.g. what Composer uses, I'd recommend it.

[2022-03-28 16:45] NateWr opened #7798 "Recipient names incorrect in reviewer notification emails for editorial decisions"
**Describe the bug**
When recording an editorial decision in the review stage, it is possible to send an email to reviewers to notify them of the decision. Each reviewer is sent a separate email, so that the reviewer's identities are not disclosed to each other.

However, the `{$recipientName}` email variable still shows all of the reviewer's names. When an email template is loaded, the names are

[2022-03-28 16:48] NateWr commented on #7798
One idea would be to add a `prop` to the `Composer` component for emails where each recipient will be emailed separately. This will be a common case, and could be confusing for users, since the To field looks like all will be emailed one message. Maybe have a notice by the To field that says something like:

[2022-03-28 16:50] Vitaliy-1 commented on #7798
That's sounds familiar, think something related was in Laravel documentation. Maybe it's the case where each Mailable should be initialized individually.

[2022-03-28 16:52] Vitaliy-1 commented on #7798
Maybe this is the case: https://laravel.com/docs/8.x/mail#looping-over-recipients?

[2022-03-28 16:52] NateWr opened #7799 "Improve UI/UX of file attachments in new Composer UI"
**Describe the problem you would like to solve**
The file attachments UI components work fine in the new `Composer` component. However, they have not been styled appropriately. In some cases they are missing styles completely.

**Describe the solution you'd like**
The following needs to be done:

- [x] Add styles when selecting attachment source and selecting attachments
- [x] Reset focus properly

[2022-03-28 19:53] Tyl13 commented on #7793
Basic truncation works for version control, so 3.3 will match any 3.3 version. Wild cards are no longer in the code.

It seems like it may be possible to use composer's version control with https://github.com/composer/semver. Originally, Clinton and I were worried that the control structure that uses this is baked into composer. However, it may be possible that https://github.com/composer/semver/b

[2022-03-28 20:27] mrshirts opened #7800 "If journal editor serves as a reviewer, this is revealed to the author in certain (common) situations"
**Describe the bug**
If the journal editor served/is serving as a reviewer, then that fact is exposed to an author when they start a discussion on the paper. This occurs because the "add discussion" window lists the possible participants to include, with ALL of their roles, including reviewer (even if set up as anonymous anonymous).

**To Reproduce**
Go to submission https://livecomsjournal.org/in

[2022-03-28 21:21] Helyfoxer commented on #7779
I leave only `base_url` and it helps.

[2022-03-28 21:21] #7779 closed

[2022-03-28 22:22] asmecher commented on #5774
We had a discussion on Slack about how to move forward practically (@ajnyga, @alexxxmendonca, @carolinatanigushi, and @NateWr) and are OK with the following principles:

- Separate Relations (links to other forms of the submission, primary published journal articles) from Status (whether it's been submitted elsewhere, peer reviewed, etc). Relations can be dealt with here, and Status will be dealt

[2022-03-29 00:05] ewhanson commented on #7743
Hey @NateWr, this looks really good! I've left a few specific comments in the code but also had a few, more general comments (included below).

In the UI Library documentation, any preview page that contains a TinyMCE editor has the template code example styling overridden by one of the TinyMCE stylesheets (`content.inline.min.css`). This causes the code examples for these to look like the image b

[2022-03-29 08:36] NateWr commented on #7798
Ahh, that's nice to know about `Mailer::to(...)->send(...)`! This issue is more about what happens with the body of the message, though, and it is mostly about how this is handled in the browser.

[2022-03-29 08:59] NateWr opened #7801 "Replace deprecated syntax for Vue.js template slots"
**Describe the problem you would like to solve**
The following slot syntax is widely used in our codebase, but it is deprecated:

[code]

[code]

**Describe the solution you'd like**
Adopt the [new syntax introduced in 2.6](https://v2.vuejs.org/v2/guide/components-slots.html#Named-Slots):

[code]

[code]

**Who is asking for this feature?**
The old format was deprecated in 2.6 and may be removed a

[2022-03-29 09:35] NateWr commented on #7743
Thanks @ewhanson! I think I've replied to each of your comments. The tests are running now. They failed before, but it looked like maybe a one-off. :crossed_fingers:

I know, it's really annoying! :laughing: It's on my general-try-to-fix-this-for-3.4-if-theres-time todo list.

Yeah, I'd like to solve this by ensuring that every variable has a description. There are a lot of moving parts right now

[2022-03-29 15:41] twakeford opened #7802 "'Revision of an existing file' isn't an option for Review Files, unless a Revision has been uploaded"
**Describe the bug**
At each main stage of the editorial process, the editor may click the 'upload file' button, where they can either upload a completely new file OR select from a list of existing files that can be replaced/versioned.

![Screenshot 2022-03-29 at 16 15 47](https://user-images.githubusercontent.com/15159847/160647970-770bc5f8-6f37-4f6b-b73a-3652750f8bef.png)

However, in the **Revi

[2022-03-29 16:13] forgive38 commented on #6222
First proposition:
ojs : https://github.com/pkp/ojs/pull/3349
lib pkp : https://github.com/pkp/pkp-lib/pull/7803

[2022-03-29 18:34] asmecher commented on #6222
@NateWr, would you mind reviewing this? Thanks!

[2022-03-30 00:19] asmecher commented on #7682
@ewhanson, sorry, I've just noticed this message. Is it still needing to be filed and resolved or did it get covered here?

[2022-03-30 03:13] trobb49 commented on #2687
In addition to editing my own journal, I often review for other journals by major publishers such as Springer or Elsevier.  These all have a reminder function for reviewers that sends out a message one week prior to the due date.  I really appreciate this since it allows me sufficient time to finish the review by the due date and avoids embarrassment -- as well as "late" marks against my record.

[2022-03-30 09:02] NateWr commented on #7794
Merged to `stable-3_3_0` and forward-ported to `main`.

Thanks for the report, @ErwanBo, and for finding source of the problem and testing the solution as well. It's easy to solve an issue when you've done the homework for us. :smile:

[2022-03-30 09:02] #7794 closed

[2022-03-30 12:31] johanneswilm commented on #7505
Is there a particular sub type of JATS that you are looking to support? I am asking so I can see if we can support that type in the Fidus Writer exporter.

[2022-03-30 13:42] NateWr commented on #7505
Hi @johanneswilm! Our goal in this particular issue is to work with any kind of JATS. In other words, a journal should be able to upload any valid JATS XML file here. OJS can then distribute that JATS file wherever appropriate (eg - OAI endpoints, Crossref deposits, etc). So the constraints on the type of JATS will depend on how the journal wants to use it.

At a later date, we plan to do things l

[2022-03-30 13:52] Falk358 opened #7805 "OJS 3.4 download .tar.gz files results in wrong file extension for downloaded file"
**The Problem**

We ran into some issues with downloading `.tar.gz` files attached to a submission on our **OJS 3.4**  testing installation (main branch on ojs github):
OJS saves its files to disk in the `files` folder with a hashed name, something like `9be4568f2a.tar.gz`. The Problem arises when the filename extension in the database table `submission_file_settings.setting_value` differs from th

[2022-03-30 16:17] ewhanson commented on #7682
@asmecher, nope, it's been resolved. This was the file genre "other" issue with the jQuery validation cutting in that we dug into a bit and Nate fixed.

[2022-03-30 16:21] #7743 closed

[2022-03-30 16:23] NateWr opened #7806 "Some email variables do not have a description"
**Describe the bug**
In the new email template variable UI (#7743), it's possible to see a description of each variable. However, some variables do not have a description.

I noticed this with the `DecisionNotifyReviewers` mailable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a submission in the review stage
2. Make sure there is at least one reviewer who has completed a review.
3.

[2022-03-30 16:32] Tyl13 commented on #7793
Truncation is removed from this version but it does use Composer's version constrol system. If Semver returns false then I use version_compare to tell me the reason it was false, since the original version of compare returns 0 when equal, < 0 if this version is lower and > 0 if this version is higher. Semver only returns a bool on if the version passed the constraint or not. This requires the comp

[2022-03-30 17:59] jonasraoni opened #7807 "[Portico] Add support for using a certificate authentication through SFTP"
**Describe the problem you would like to solve**
The plugin currently supports exporting submissions using a SFTP connection, but the integration is lacking support for a certificate based authentication.

**Describe the solution you'd like**
Add a field to upload the certificate and an optional key phrase.
Perhaps it would be better to not display the passwords/certificate in plaintext.

**Who is

[2022-03-30 18:12] ctgraham commented on #7793
I haven't looked at the specific code here, but aren't the questions of "is there an updated version?" and "is this version compatible?" independent facets?

That is, every release plugin version will have a specific version number.  This version number needs to be comparable, so we can tell if a later version is available.

On the other hand, we want support assertions to be flexible.  If I don't

[2022-03-30 18:25] luizbgomide commented on #7213
I applied the PR #7547 that, but my announcements still aren't being sent via e-mail.

Nothing is reaching the SMTP server. Any ideias?

[2022-03-30 18:44] asmecher commented on #2687
@trobb49, this issue is about reminders to authors, but OJS already supports automated reminders to reviewers:
![image](https://user-images.githubusercontent.com/200411/160908316-2364af08-60c0-4ee2-89f5-e53991510be4.png)

[2022-03-30 19:00] Tyl13 commented on #7793
Currently the code seems to do the same thing for both of those questions.
 It checks if this version is compatible in the PluginGalleryDAO, in the _handleCompatibility(), where it compares the application version to the each of the plugin versions.
The getCurrentVersion() in GalleryPlugin compares the installed version to the most compatible version.
As an aside, I don't believe these two should

[2022-03-30 21:16] Tyl13 opened #7810 "Gallery Plugin definition seems inccorect"
**Describe the bug**
Two definitions in GalleryPlugin are the exact same.
`define('PLUGIN_GALLERY_STATE_AVAILABLE', 0);`
`define('PLUGIN_GALLERY_STATE_INCOMPATIBLE', 0);`

**To Reproduce**
Check classes/plugins/GalleryPlugin.inc.php

**What application are you using?**
OJS ,version stable-3_3_0

**Additional information**
Even if this is fixed to be different definitions, there is no status key to

[2022-03-30 22:04] trobb49 commented on #2687
Hello Alan,

Thank you for your response, but what you mentioned is not the issue.

These reminders go out AFTER the relevant due date.  What I (and a number of others) are requesting is a reminder PRIOR to the due date.  This needs to be a separate function since the text itself would be different -- different verb tenses, tone, etc.

It should, however, be an easy modification of the current scr

[2022-03-31 08:35] NateWr commented on #2687
Hi @trobb49, review reminders before the due date are covered in this issue: https://github.com/pkp/pkp-lib/issues/5885. I'd invite you to add your support there.

If you are encountering a different problem, please file a new issue. It helps us manage work over the long-term if we keep each bug or feature request separate.

[2022-03-31 08:51] twakeford commented on #5885
Reminders before the due date as well after gets a big thumbs up from Ubiquity. We get this request very frequently.

[2022-03-31 09:03] trobb49 commented on #5885
Actually, I'm surprised that this function is not already available.  It is must "friendlier" to remind reviewers early, than to embarrass them afterward by telling them that they have already missed their deadline.  Also, the chances are that they are notified after the due date, they will not produce as good a review since they will feel rushed.
 The major journal publishers have their own dedic

[2022-03-31 11:25] NateWr commented on #7799
I decided to leave the following two features for later. They are nice to have but not urgent:

- [ ] If only one file attacher is detected, skip the selection UI.
- [ ] Prevent adding the same attachment twice

Otherwise, the following PRs apply styles to the file attacher, introduce a new `ActionPanel` component, and fix the various accessibility focus issues. They also apply the `ActionPanel` c

[2022-03-31 11:26] NateWr commented on #7747
This issue has been addressed in https://github.com/pkp/pkp-lib/issues/7747.

[2022-03-31 11:26] #7747 closed

[2022-03-31 13:11] luizbgomide commented on #7213
@NateWr, does that only work when creating a new Announcement or can I retroactively edit an Announcement and tick the box to send the e-mail (this is what I've done, because I didn't want to spam my users).

If I cannot send an e-mail after the creation, I suggest that this check box be removed from the edit window to avoid confusion.

[2022-03-31 13:14] NateWr commented on #7213
Yeah it only works when creating an announcement. I'd suggest filing a new issue about the checkbox.

[2022-03-31 13:37] NateWr commented on #7799
@ewhanson would you be able to do a code review on this? I'm particularly interested in having you check the keyboard navigation functionality. This fixes some focus bugs related to accessibility, and those tend to be where there are differences between browsers, and since you're on Mac we're likely to get some different behaviour.

To test in the UI Library:
- ActionPanel, FileAttacher, and Compo

[2022-03-31 13:56] NateWr opened #7812 "Submission files will be deleted when deleting submission file pub ids"
**Describe the bug**
The function `PKP\submissionFile\DAO::deleteAllPubIds()` is intended to remove pub ids from all submission files in a context. However, the function actually deletes the submission files.

https://github.com/pkp/pkp-lib/blob/acbcc6c51081510f0b6728afca6ba9a7cdb3b0a6/classes/submissionFile/DAO.inc.php#L374-L387

This should be rewritten to only delete the pub id settings. An exa

[2022-03-31 16:30] eniocarboni opened #7813 "[OJS] Native XML Plugin: problem with dates less then 1970-01-02"
**Describe the bug**
If I import an issue with the "Native XML Plugin" plugin where the date_published field <1970-01-02 then this date will be imported as "1970-01-01" even if the import does not give errors

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Tools ->Import/Export tab'
2. Click on 'Native XML Plugin'
3. Upload a simple xml like https://gist.github.com/eniocarboni/22f945b

[2022-03-31 16:44] NateWr opened #7814 "Back issues show date format syntax (Y-m-d) instead of date"
**Describe the bug**
The date for a back issue is shown as `Y-m-d` instead of the date.

![issues](https://user-images.githubusercontent.com/2306629/161107179-079f7352-af62-48eb-be91-5180ca87fae8.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Issues and publish an issue.
2. Go to Issues > Back Issues
5. See error

**What application are you using?**
`main` branch (3.4 pre-release

[2022-03-31 17:24] eniocarboni commented on #7813
Perhaps the problem could be traced back to the line of code

https://github.com/pkp/pkp-lib/blob/ea6358abb38ddc6d32cd62f56e9f0143226a0a46/plugins/importexport/native/filter/PKPPublicationNativeXmlFilter.inc.php#L93

where the [strtotime](https://www.php.net/manual/en/function.strtotime.php) function is used which returns the seconds from 1970 onwards.

[2022-03-31 18:26] asmecher commented on #7814
@NateWr, are you switching between branches with the same configuration file?

If your installation was done with pre-3.4.x, your `config.inc.php` will be using [`Y-m-d` style](https://www.php.net/manual/en/datetime.format.php) format options. These are only supported with 3.4.0 and up.

Configuration files created with 3.3.x and older will use [`%Y-%m-%d` style formats](https://www.php.net/manual

[2022-03-31 19:38] asmecher opened #7815 "Review and update Composer dependencies before 3.4 testing"
The Composer lockfile currently specifices a PHP7.x platform requirement; the Laravel email work will result in a bump to 9.x before release. After the major merges are in place, review the platform baseline and update the Composer libraries to current. (This will probably also result in a removal of the 3rd party upsert support in favour of the built-in modern Laravel equivalent.)

[2022-03-31 19:47] asmecher opened #7816 "Fatal error when deleting a submission"
When removing a submission from the search index using the Lucene plugin (pre-release for 3..3.0) (e.g. pressing "cancel" on QuickSubmit), OJS 3.3.0 gives a fatal error:
[code]
This is caused by the call to `DAO::retrieve` passing a scalar to the parameter array, rather than an array. (This used to be supported by ADODB but is not via Laravel's connection toolset.)

[2022-03-31 20:48] Tyl13 commented on #7705
The Submissions seem to be not selected because of this line `$row->addFlag('selected', (bool) $grid->isDataElementSelected($row->getData()))`.

The `$grid` is the class `SelectableFileListGridHandler` and the function `isDataElementSelected` in that class calls `getViewable` on the class `SubmissionFile` which is deprecated.

The `setViewable` is also deprecated, so the class is never getting `vi

[2022-03-31 22:55] asmecher commented on #7599
@jonasraoni, I think the fix you proposed in https://github.com/jonasraoni/ops/commit/280f697fb08ee19ee93de089719b068413fbf8e6 and https://github.com/jonasraoni/ops/commit/c668d23f6484eabfe34af7b12ff122623d5ee900 won't pass tests because the submission stage assignment is required in order for a role to be listed on page 1 of the submission process.

I think PHP8.1 promoted this warning to a fatal

[2022-03-31 22:55] #7599 closed

[2022-04-01 00:28] asmecher commented on #2890
@NateWr, has this been mooted by the new decision toolset?

[2022-04-01 09:05] jonasraoni commented on #7599
Yeah, I was just going to check how coupled this constant is to the rest of code, [like you did](https://github.com/pkp/pkp-lib/issues/7783#issuecomment-1075774932), before silencing the error.

[2022-04-01 11:48] jmvezic commented on #7098
@asmecher Can this fix safely be applied to 3.2.1-4 manually? We're going to upgrade to 3.3 soon but this is an important fix to have until then.

[2022-04-01 11:51] AhemNason commented on #7527
Just a note here as an update that in a conversation with Geoffrey Builder at Crossref, he identified this as a major issue with metadata coming from OJS in general. I can give a small example of where this could be rampant because I see it a lot in hosting.

We get a journal migrating to our service from another provider. That journal has had two titles in it's full run. In the migration, I need

[2022-04-01 14:08] fgnievinski commented on #7569
Meanwhile, I've submitted a documentation patch describing Crossref's recommendations on journal titles to section "Adding multilingual metadata in OJS" of the "best practices for indexing" document:
https://github.com/pkp/pkp-docs/pull/937

[2022-04-01 14:10] fgnievinski commented on #7335
Meanwhile, I've submitted a documentation patch describing Crossref's recommendations on multilingual articles to section "Adding multilingual metadata in OJS" of the "best practices for indexing" document:
https://github.com/pkp/pkp-docs/pull/907

[2022-04-01 15:26] asmecher commented on #7098
@jmvezic, the relevant change is a different one -- https://github.com/pkp/pkp-lib/commit/421ed8406b09fa01851296c8a0c7653e1a333554 -- and should apply to 3.2.1-4 cleanly.

[2022-04-01 16:27] ewhanson opened #7817 "Datacite plugin settings missing CSRF token"
**Describe the bug**
A CSRF token check was added to the Datecite plugin in #7371 but the corresponding `{csrf}` is missing form the template.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Datacite plugin settings
2. Save data in the form
3. Reload the page
4. See error

**What application are you using?**
 OJS 3.3.0-10

**Additional information**
N/A

[2022-04-01 16:38] ewhanson commented on #7817
Hey @asmecher, I came across this missing CSRF token. Could you have a quick look at the PRs? Thanks!

PRs:

- `stable-3_3_0`: pkp/ojs#3355
- `main`: pkp/ojs#3356

[2022-04-01 16:53] ewhanson commented on #7799
Hey @NateWr, I'll have a look. Thanks!

[2022-04-01 19:11] asmecher commented on #5074
Closing -- the Weblate toolset makes this obsolete.

[2022-04-01 19:11] #5074 closed

[2022-04-01 19:33] #7817 closed

[2022-04-01 19:51] jonasraoni opened #7818 "Update base license text"
**Describe the problem you would like to solve**
Our current license header requires some maintenance. Perhaps we can adopt another style to make it simpler to maintain.
There are many license variants out there, even big companies have mixed styles across their codebase. Follow some examples:

- Only the starting year (Adobe, Google, Microsoft, Salesforce, IBM): https://github.com/microsoft/vscod

[2022-04-01 20:05] asmecher commented on #7818
@jonasraoni, this is more about the code header than the license, right? The code headers don't contain the license (that's typically in `docs/COPYING` or `LICENSE`), but they do make reference to it, and also state copyright and some self-documentation (`@class`, `@ingroup`, `@brief`, etc).

[2022-04-02 00:40] asmecher commented on #6955
@jonasraoni, just checking on some of the details here -- what message were you getting about autoloading? There should be an existing include for the autoloader here: https://github.com/pkp/portico/blob/26d5c358e572680f8a81e7fd6629d28789d88fbf/PorticoExportPlugin.inc.php#L132

Also, Flysystem 2.0.0 comes with an FTP adapter; I think this may have been separated out only with 3.0.

[2022-04-02 13:12] Vitaliy-1 opened #7819 "Error during stage 2 of submission upload wizard when saving uploaded files"
**Describe the bug**
Unable to move to stage 3 of submission wizard because of javascript error:
[code]
The error occurs if not selecting the type of the uploaded file (e.g., 'Article Text') before pressing `Save and continue` button. After this error, it's impossible to move to the next stage without refreshing the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a submission
2. M

[2022-04-02 14:52] jonasraoni commented on #6955
As I've tested this a long time ago, I had to recheck and basically:
`stable-3_3_0`: Its `pkp-lib` already have the sftp package (^1.0), which includes the FTP adapter. So this branch doesn't need the `composer`.
`stable-3_x_x`: Requires the composer, and the sftp ^2.0 doesn't include the FTP adapter.

I'll downgrade the packages for `stable-3_x_x` just to standardize the code.

About the autoload

[2022-04-03 15:24] jonasraoni commented on #7807
@asmecher This is based on the #6955, I've just added an extra commit. I tested in an environment using OJS 3.1.2 and locally (3.3.0) and it worked fine.

[2022-04-04 06:02] hktang opened #7820 "OJS: PHP Fatal error: Declaration of SubmissionChecklistForm::initData($args) must be compatible with Form::initData()"
**Describe the bug**

Hi, I tried to install OJS using the Git repository. The installation went well, but when it comes to setting up the checklist in the journal, I always receive the message "Failed Ajax request or invalid JSON returned.".

On the server side, I got this fatal error:

    [proxy_fcgi:error] [pid 5084:tid 139729110562560] [client omitted] AH01071: Got error 'PHP message: PHP Fat

[2022-04-04 08:45] NateWr commented on #2890
We can back out of every stage except the review stage now. The review stage is the one people want the most, though. :)

It shouldn't be too difficult to add a decision to back out of the review stage, it just needs to handle a few extra things (closing review assignments, notifying reviewers, changing review round status).

I've added a note to the original issue description.

[2022-04-04 09:39] NateWr commented on #7814
@asmecher it looks like `IssueGridCellProvider` still uses `strftime`. Is that intended?

https://github.com/pkp/ojs/blob/main/controllers/grid/issues/IssueGridCellProvider.inc.php#L91

[2022-04-04 10:17] jonasraoni commented on #7818
Yes, specifically about the copyright part of the code header :)

[2022-04-04 10:30] NateWr commented on #7126
The following PRs adapt @withanage's work on the Galley repository, move the galley classes into pkp-lib, and remove references to the `ArticleGalley` classes. If the tests pass, I will roll out these changes to OPS/OMP.

@asmecher are you ok with me moving the `Galley` classes into pkp-lib? This will save us some code duplication across OJS and OPS. And in the future, I hope to [use galleys in OM

[2022-04-04 11:01] NateWr opened #7822 "Fatal error accessing workflow as copyeditor"
**Describe the bug**
When assigned as a copyeditor, I can not access the submission workflow because of a fatal error. This only effects PHP 8.0 or above because `array_intersect` is more strict about the arguments it accepts.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a site in PHP 8.0 or above.
2. Assign a copyeditor to a submission.
3. Login as the copyeditor.
4. Try to view the

[2022-04-04 11:17] NateWr commented on #7539
This isn't working when applied to 3.3, and I suspect it's not working in the `main` branch either. The problem is that `Request::getUser()` is being called before the router has identified and loaded the handler. As such, this line is returning false and the API token check is being skipped:

[code]

The following is a stack trace that shows it is a generic plugin (usage stats) that is calling `R

[2022-04-04 13:41] librariam commented on #6242
+1 more from PKP|PS to keep the names of unassigned reviewers visible

[2022-04-04 14:49] Tyl13 opened #7823 "Restore default component's inccorrectly sets items to strings"
**Describe the bug**
While looking into pkp/pkp-lib#1672 , I noticed that genre's category, dependent, and supplementary items are being set to strings.

**To Reproduce**
Steps to reproduce the behavior:
In `lib/pkp/classes/submission/GenreDAO.inc.php`, the installDefaults gets the attributes from parsing the `registry/genres.xml`.  This causes the three attributes I mentioned above to be parsed i

[2022-04-04 15:03] Tyl13 commented on #1672
I'm not sure when this was edited but it seems like a renamed default component will be changed back to default and a deleted component will be restored. The only thing that looks like it still needs done is for custom components to be deleted when using "Restore Defaults".

For deleting additional components, since the Ids of default components are known. Just access all components for the contex

[2022-04-04 16:16] asmecher commented on #7822
@NateWr, FYI, I think this is a PHP8.1 and up issue. I've been tracking/fixing these in https://github.com/pkp/pkp-lib/issues/7690.

[2022-04-04 16:20] NateWr commented on #7822
I've run into it on PHP 8.0.17.

[2022-04-04 16:20] asmecher commented on #7814
No, thanks -- I've fixed it. Otherwise is this issue resolved?

[2022-04-04 16:24] #7814 closed

[2022-04-04 16:26] jonasraoni commented on #7317
**PRs**

- `main`
  - `pkp-lib` https://github.com/pkp/pkp-lib/pull/7825
  - `ojs` https://github.com/pkp/ojs/pull/3358
- `stable-3_3_0`
  - `pkp-lib` https://github.com/pkp/pkp-lib/pull/7826
  - `ojs` https://github.com/pkp/ojs/pull/3359

[2022-04-04 16:46] asmecher commented on #7820
@hktang, it seems like recent releases of PHP 8.x have suddenly gotten stricter about this aspect. https://github.com/pkp/pkp-lib/commit/8dc4fde42cbdeec91460e16cb8a6c42340a9c4c1 (applied in `lib/pkp`) should fix this for you.

[2022-04-04 16:46] #7820 closed

[2022-04-04 16:50] asmecher commented on #7822
Yes, but I didn't see the problem on my machine (in fact, not using PHP8.1.2 either). Are you using one of the test dataset accounts? I'm using mfritz.

[2022-04-04 16:56] asmecher commented on #7126
Yes -- we could perhaps revisit the use of `Representation` as the abstract term for galley-like concepts in each app? Galley is already confusing enough.

[2022-04-04 16:58] asmecher commented on #7807
@jonasraoni, OK, I'm just concerned that it's fixing problems that might not exist -- suggesting it was maybe necessary for a previous version of the plugin but not this one?

[2022-04-04 17:43] NateWr commented on #7126
@asmecher sure. Can we revisit the name at a later date or did you want to try to get it in for this 3.4 refactor? (I've left "article galley" in place for the grids and things, so would take a lot of work to unpick everything.)

[2022-04-04 18:38] jonasraoni commented on #7807
@asmecher I've left [a comment](https://github.com/pkp/pkp-lib/issues/6955#issuecomment-1086656217) on the other issue.

[2022-04-04 18:45] jonasraoni opened #7827 "[Portico][Plugin] Add tests"
**Describe the problem you would like to solve**
Tests are needed in order to detect malfunctions before releasing new packages and increase the developers confidence when updating code.

**Describe the solution you'd like**
Follow the current test pattern for plugins (e.g. https://github.com/pkp/customLocale/blob/main/.travis.yml).

**Who is asking for this feature?**
Developer

[2022-04-04 19:17] wopsononock opened #7828 "Submission files and db entries are not deleted after being rejected during upload process"
If a user uploads a file during the submission process, the file is added here:
https://github.com/pkp/pkp-lib/blob/33eda9b64ffa952231312b57affed5d79dc1847c/api/v1/submissions/PKPSubmissionFileHandler.inc.php#L283-L286

It can be rejected, triggering an error response, but we don't currently have a way to delete the database content about the file or the file itself during this rejection process.

[2022-04-04 19:58] Tyl13 commented on #5212
I think this has been fixed. From testing on the current branch of stable-3_3_0. This is my results:
![image](https://user-images.githubusercontent.com/48526589/161621917-a805bce6-9854-43cd-9493-2224d83d2d13.png)
![image](https://user-images.githubusercontent.com/48526589/161621925-014d7100-d03d-47ef-9a7a-773aaa360794.png)
![image](https://user-images.githubusercontent.com/48526589/161621937-6f0cc

[2022-04-04 20:24] asmecher commented on #5212
(Assigning to the next build -- I'll close this as "already fixed" if I don't hear anything to the contrary by then. Thanks for checking, @Tyl13!)

[2022-04-04 20:49] pablovp86 commented on #1822
We have published an MVP version of the plugin for OPS.

We have some design decisions related to data synchronization and metadata interoperability that we would like to share. We'd love to get community feedback!

See the details at:
https://forum.pkp.sfu.ca/t/feedback-needed-dataverse-plugin-for-ops-ojs-3/72676

[2022-04-05 01:47] hktang commented on #7820
Thank you for the fix! I confirm it works as expected now.

[2022-04-05 06:22] hauschke opened #7829 "Add LICENCE file to https://github.com/pkp/ojs"
**Describe the problem you would like to solve**
There is no LICENCE file in  the https://github.com/pkp/ojs repository. This means, the licence information does not show up in the 'ABOUT' section in Github.

**Describe the solution you'd like**
In this repository it's compliant to the Github standard. This approach can be replicated.

**Who is asking for this feature?**
Users and contributors of

[2022-04-05 07:05] suburban-journal commented on #7697
I can confirm this error with OJS version 3.3.0.10. We have created two Parent Categories with numerous subcategories. When I create a new subcategory or edit it, the order of all subcategories changes. Not only those that belong to the Parent Category, but all subcategories.

The order of the Parent Categories has not changed in our case. Of course, since we only created two, this could be a coin

[2022-04-05 14:25] ewhanson commented on #7799
Hey @NateWr, I've reviewed the code and done some keyboard navigation testing. The code all looked good, but I ran into a few issues with Firefox on Mac and (perhaps not surprisingly) a number of issues with Safari on Mac. Anything that came up in Firefox was also applicable in Safari.

This also wasn't explicitly in this PR, but the readme file for the `FileAttacher` component still has placehold

[2022-04-05 16:19] NateWr commented on #7799
After a short call with Erik, the issues were all related to a [system default in Mac that alters keyboard navigation](https://www.scottohara.me/blog/2014/10/03/link-tabbing-firefox-osx.html). :sweat_smile:

I've merged all the PRs to `main`.

[2022-04-05 16:19] #7799 closed

[2022-04-05 16:21] pmangahis commented on #2687
+1 from PKP|PS client

[2022-04-05 22:26] asmecher commented on #7829
Thanks, @hauschke! In the OJS, OMP, and OPS repositories the license is currently in `docs/COPYING` (though it looks like Github doesn't look there). I agree that we should update/standardize this but currently the code headers in all the code refer to `docs/COPYING` and we should probably clean that up in the process. It's already filed for attention at https://github.com/pkp/pkp-lib/issues/7818

[2022-04-05 22:26] #7829 closed

[2022-04-05 22:26] asmecher commented on #7820
:+1: Thanks for confirming!

[2022-04-06 08:15] NateWr commented on #7828
The PR to `main` was merged (thanks @wopsononock).

@asmecher I've made a PR against `stable-3_3_0`. My thinking here is that the longer this lingers in a stable version, the large the scale of some future upgrade headache we'll face. Having orphaned files and entries in the `files` table will just contribute to confusion.

PR:
https://github.com/pkp/pkp-lib/pull/7830

Tests:
https://github.com/pk

[2022-04-06 09:00] NateWr opened #7831 "Review use of events and hooks for consistency"
**Describe the problem you would like to solve**
A new event service provider was implemented to support job queues and email sending. Some pilot events were set up, such as `SubmissionDeleted`. However, events are not consistently used across the application, and sometimes overlap with hooks.

**Describe the solution you'd like**
Review use of events and hooks, decide on a consistent approach for

[2022-04-06 09:18] slaotie commented on #7752
@asmecher Plugin Gallery always loading

[2022-04-06 10:04] NateWr commented on #7828
Merged to `stable-3_3_0`.

[2022-04-06 10:04] #7828 closed

[2022-04-06 12:40] jnugent commented on #7163
If it helps I can duplicate this bug right now in 3.3.0.10 with an installation we have.  Let me know how I can help.

[2022-04-06 15:24] ewhanson opened #7834 "moveLocaleKeysToLib needs line break before entries appended to pkp-lib .po files"
**Describe the bug**
When using the `moveLocaleKeysToLib` script, locale keys and strings are appended to the end of the target po file, but a line break is not added before the last entry. This causes the locale key to not be properly recognized. E.g.:

[code]

It should appear as:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `moveLocaleKeysToLib.php`
2. View po file in pkp-l

[2022-04-06 15:28] ewhanson commented on #7834
Hey @asmecher, I came across this while moving locale keys around. Could you have a look? Thanks!

PR:

- #7835

[2022-04-06 16:09] NateWr commented on #7126
@asmecher do you have time to do code review on the PRs in this comment? https://github.com/pkp/pkp-lib/issues/7126#issuecomment-1087385627

It's mostly straightforward, but there is a fair amount of work in some gnarly places, like import/export filters. It'd be good to get a second eye at least on those parts.

(Now that I think of the import/export filters, I remember that the names get saved t

[2022-04-06 16:26] Vitaliy-1 commented on #7592
pkp-lib: https://github.com/pkp/pkp-lib/pull/7703
OJS: https://github.com/pkp/ojs/pull/3300
OMP: https://github.com/pkp/omp/pull/1095
OPS: https://github.com/pkp/ops/pull/262

[2022-04-06 16:41] asmecher commented on #7834
Checks out for me -- thanks, @ewhanson!

[2022-04-06 16:41] #7834 closed

[2022-04-06 20:42] kshuttle opened #7836 "Author who is also an editor can see reviewers' names in the discussion"
**Describe the bug**
When the author of a submission also has a "journal editor" role in the journal, the reviewers' names are revealed when the author starts a Review Discussion, even if they:
- Are not assigned as a participant on the submission as any other role besides "author"
- Are the only author on the submission
- Select "Submit as author" during the submission process, when given the cho

[2022-04-06 21:53] pmangahis commented on #6353
+1 from PKP|PS, confirming the same behaviour in 3.3.0.7

[2022-04-07 00:56] jonasraoni opened #7837 "Tool to detect unused locale keys"
**Describe the problem you would like to solve**
As the code evolves some locale keys might become outdated/unused, and removing them would probably make the life of translators easier, especially for new languages/scripts.

**Describe the solution you'd like**
Probably a tool to be executed at building (if it's fast enough) or developing time, to display a summary, such as `en_US: 2 possible unus

[2022-04-07 00:59] jonasraoni commented on #6328
I've updated the `gettext` package to catch my updates and the plugins were merged, so I'll close this issue.

I've created an extra issue to handle the unused keys (https://github.com/pkp/pkp-lib/issues/7837), I'll proceed to the docs.

[2022-04-07 00:59] #6328 closed

[2022-04-07 01:08] asmecher commented on #7837
@bozana asked about this a few weeks back -- we used to have a tool when we were using XML-based locale keys. It would need a rewrite, but it's here: https://github.com/pkp/ojs/commit/baf1ce4d393e220cd7c792a353129ddfa3d8e0d9

[2022-04-07 01:45] asmecher commented on #7126
Not yet -- though we'll have to cross that bridge before we remove the namespace compatibility stuff. The type descriptions (e.g. `inputType="class::lib.pkp.classes.galley.Galley"` in the filter XML) are checked by `lib/pkp/classes/filter/ClassTypeDescription.inc.php`. It takes the type and splits it into package name (`lib.pkp.classes.galley`) and class name (`Galley`). Only the class name is che

[2022-04-07 02:00] asmecher commented on #7126
Also, thanks, @NateWr -- I've reviewed the PRs linked above. It looks fairly clean to me; if there's something else in particular you're uncertain about, please point me to it.

[2022-04-07 03:24] slaotie commented on #7752
@asmecher Thank you. That problem has been solved

[2022-04-07 06:20] janpieterk commented on #7163
@jnugent At least it's helpful to know that this issue still exists in 3.3.0.10.

[2022-04-07 07:53] NateWr commented on #7837
One thing to be wary of is that there are places where we are concatenating the locale keys. Things like this:

[code]

I've been trying over the years to remove such things when I find them. And I think we should avoid this in any future code. But we'll need to be careful.

[2022-04-07 08:14] NateWr opened #7838 "Sync package-lock.json"
A couple of things have gotten out of sync in the `main` branch:

1. The `package-lock.json` file is out of sync with the `package.json` file. Needs to be updated.
2. ~~The `psy-sh` debugger needs an update to work properly.~~ (See below)

[2022-04-07 08:36] NateWr commented on #7838
@asmecher in order to update the `psy-sh` debugger, I needed to run `composer update`, which updated a lot of dependencies. (I tried `composer update psy/psysh` but it wouldn't bump the version from 0.11.1 to 0.11.2). It looks like mostly maintenance updates, but there are a few minor release bumps. I figure this would be done before a release anyway. Ok to chuck these changes into `main`?

[code]

[2022-04-07 11:35] zuphilip commented on #4540
+1 Also the authors themselves should be have the possibility to delete a submission they started. Currently they can only abort it, which will only save it and return.

[2022-04-07 14:00] #7592 closed

[2022-04-07 20:47] asmecher commented on #7815
PRs:
- https://github.com/pkp/ojs/pull/3366
- https://github.com/pkp/pkp-lib/pull/7842

There were some cascading dependency updates required because of the Laravel 9 bump. I replaced `brainmaestro/composer-git-hooks` (which does not yet support Symfony 6) with `captainhook/captainhook` (which does). I was able to remove `staudenmeir/laravel-upsert` in favour of the built-in Laravel 9 equivalent.

[2022-04-07 23:40] asmecher commented on #7815
@Vitaliy-1, could you please have a look at these? If the idea is OK, I'll port them to OMP and OPS. (The app-level changes are minimal.)

[2022-04-07 23:58] asmecher commented on #3899
@ewhanson, the work on https://github.com/pkp/pkp-lib/issues/7125 is wrapped up, so I think this one is a good candidate for a bit of work to forward-port the fix that's already merged so it's compatible with the `main` branch.

[2022-04-07 23:59] asmecher commented on #7009
It's obsolete; removed it.

[2022-04-07 23:59] #7009 closed

[2022-04-08 14:27] jnugent opened #7844 "Author sequence in returned API JSON incorrect"
**Describe the bug**
The returned JSON when fetching a publication with an API call of the type:

https://journal.org/index.php/path/api/v1/submissions/xxxxx/publications/xxxxx

Includes the wrong sequence for authors.  It sets the seq attribute of all of the authors to the sequence the publication has in the issue.  Here is a relevant database record showing the sequence of the publication:

![Sc

[2022-04-08 14:34] Vitaliy-1 commented on #7815
I'm surprised about the amount of modifications needed to upgrade from Laravel 7 to 9, how insignificant it is. And that's 2 major releases.

From what I can find, `Illuminate\Queue\WorkerOptions` constructor now accepts more parameters, like the maximum number of seconds a worker may live or the maximum number of jobs to run. Also, the first parameter is now the name of the worker, so will break

[2022-04-08 15:45] asmecher commented on #5960
At this point I'd recommend moving these to `main` instead of `stable-3_3_0`. @jnugent, if you're needing this for `stable-3_3_0`, feel free to try them -- we'd appreciate the feedback.

[2022-04-08 16:55] OJSomm opened #7845 "Reviewer cannot access Step 3 Download and Review (OJS 3.3)"
**Describe the bug**
Reviewer cannot access step 3 and conduct the review

**To Reproduce**
Steps to reproduce the behavior:
1. Reviewer receives invitation by email and link to access to submission;
2. Enters at 1. Request... - accepts to review;
3. Step 2. Guidelines - Ok
4. Step 3 Download and review - **empty**

**What application are you using?**
OJS 3.3.0.7.

**Additional information**

![im

[2022-04-08 17:05] asmecher commented on #7845
@OJSomm, could you check your PHP error log for details?

[2022-04-08 17:31] asmecher commented on #7709
@jonasraoni, the PRs at the top of the issue look OK to me, except for a couple that appear to be failing tests (OMP and OJS main) for reasons that are probably unrelated to your changes. If you can restart those tests and get them to pass, I'm OK for everything to be merged. @ajnyga, a sober second thought is always welcome :)

[2022-04-08 17:35] ewhanson commented on #3899
Thanks @asmecher, I've updated the PR for `main` to use the SubmissionFile repository. Could you have a look?

PR:

- #7480

[2022-04-08 17:58] ewhanson opened #7846 "removeLocaleKey.php always uses app and pkp-lib locale directories"
**Describe the bug**
When a single path is given as a parameter to the `removeLocaleKey` script, the script always checks both the app directory and the pkp-lib directory and removes locale keys from both.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the `removeLocaleKey` tool with a single path specified, e.g. `php lib/pkp/tools/removeLocaleKey test.locale.key locale`
2. See that loc

[2022-04-08 18:05] ewhanson commented on #7846
@asmecher, could you have a look at this? It fixes a bug where locale keys would always be removed from both the app and pkp-lib. Thanks!

PR:

- #7847

[2022-04-08 18:15] asmecher commented on #7815
Thanks, @Vitaliy-1; I saw evidence of the queues executing all the same, but I've added the default worker name (`'default'`) to the function. I was also surprised by how little was required! In any case, let's talk about it on Monday.

[2022-04-08 18:37] asmecher commented on #3899
Merged -- thanks, @ewhanson!

[2022-04-08 18:37] #3899 closed

[2022-04-08 21:35] asmecher commented on #7838
@NateWr, I think a lot of that might be mooted or duplicated by https://github.com/pkp/pkp-lib/issues/7815 -- let's decide on Monday's call how/when to merge (if you're able to make it).

[2022-04-08 22:27] #7317 closed

[2022-04-08 22:29] #7846 closed

[2022-04-08 22:47] ewhanson opened #7848 "moveLocaleKeysToLib matches more than one key at a time"
**Describe the bug**
`moveLocaleKeysToLib.php` uses a substring check (`substr($line, 0, strlen($fullMsgidMatch)) === $fullMsgidMatch`) to determine if the provided key matches the key in the current iteration. This will match and move other locale keys if they contain the provided key, e.g. `doi.manager.settings.doiSuffix`. will also match and move `doi.manager.settings.doiSuffixPattern`.

**To R

[2022-04-08 22:50] ewhanson commented on #7848
Hey @asmecher, hopefully this is my last locale key tool-related question! Is the matching multiple keys behaviour intended? I ran into this and got around it by replacing the `substr()` comparison with this:
[code]
If this is a bug, I can submit a PR with my fix. Thanks!

[2022-04-09 00:06] asmecher commented on #7848
@ewhanson, I see the bug you're pointing out, but dropping `{$fullMsgidMatch}` into a regular expression can have unwanted consequences (e.g. a `.` in a key name will match any character, not just `.`); plus the closing quote is not included in `$fullMsgidMatch`, so it'll fail as currently coded.

I haven't tested it, but you should be able to just test the complete line:
[code]

[2022-04-09 00:09] ewhanson commented on #7848
Makes sense! I'll test it out to make sure it works as expected.

[2022-04-09 15:54] Vitaliy-1 commented on #7787
I see that some Collectors already rely on this new pattern, I mean saving setting as an empty string. E.g., considering Issue Collector and searching by a phrase: https://github.com/pkp/ojs/blob/4a2f3423e4ada68a919087d8c6cf7f13db3802a5/classes/issue/Collector.inc.php#L375

Searching in the settings table is performed by taking into account that the setting value for title and name exists and it's

[2022-04-09 16:03] Vitaliy-1 commented on #7787
The full query:
[code]
The API request that is failing on a test instance: `http://localhost:8000/index.php/publicknowledge/api/v1/issues?searchPhrase=&count=30&offset=0&_=1649520111528`. It's DOIs page -> Issues tab

[2022-04-10 02:36] ewhanson commented on #7848
Hey @asmecher, I've tested your suggestion and it works as expected. I've created a PR for it as well. Thanks!

PR:

- #7849

[2022-04-10 13:08] librariam opened #7851 "Use colour blind friendly pallette in the submissions grid"
**Describe the problem you would like to solve**

We have received feedback from a colour-blind (green-red) editor that the colour coding of the submissions grid appears all grey to them.

While it meets the [WCAG success criterion 1.4.1](https://www.w3.org/TR/WCAG21/#use-of-color) by having a text label (not being colour-dependent), it could be improved through the use of a colour blind friendly

[2022-04-10 14:11] withanage commented on #7395
@Vitaliy-1  I have checked these variables and looks like everything is no more  used other than the one here.

https://github.com/pkp/ojs/blob/main/registry/emailTemplates.xml#L38

for the REVIEW_REMIND_AUTO_ONECLICK

Is it ok to   delete this ?

[2022-04-10 14:22] Vitaliy-1 commented on #7395
Thanks! Yes, I forgot to delete it: https://github.com/pkp/pkp-lib/blob/430b02f358173d35fc765532828ba2760de6dbbc/classes/migration/upgrade/v3_4_0/I7592_RemoveUnusedEmailTemplates.inc.php#L28.

There is also a scripts that deletes localizations as well: https://github.com/pkp/pkp-lib/blob/126c6b144860f94bd80a991f98b2171fc6ed4d13/tools/removeLocaleKey.php. it would be great to remove those locale ke

[2022-04-10 20:26] withanage commented on #7395
Thanks @Vitaliy-1  for the explanation.

I tried  the removeLocalKey.php script , but could not find any other  po or xml files with left localizations. I think the rest you have cleaned.

Do we have to remove also from the upgrade scripts ? If that is the case, I will remove the ones from the upgrade scripts too.

Just removed the key from the emailTemplates.xml and If I did not  miss anything, w

[2022-04-10 21:04] withanage commented on #7479
@NateWr

If I understood correctly, we are removing the function [getContactSignature](https://github.com/pkp/pkp-lib/blob/main/classes/user/User.inc.php#L418) altogether and the references to it ?

[2022-04-11 09:51] NateWr commented on #7815
In this PR, `psy/psysh` is still at 0.11.1 in the `composer.lock` file. This needs to be updated to `0.11.2` to fix a recent bug that prevents it from being used.

[2022-04-11 09:57] NateWr commented on #7838
@asmecher ahh, great! I didn't know about that. I've removed the `composer.json` changes and all pkp-lib changes from the PRs. Now this just updates the `package-lock.json` dependencies across the apps and UI library. There shouldn't be any conflict with #7815.

[2022-04-11 10:21] NateWr opened #7854 "Add select statements to all Collector::getQueryBuilder() methods"
**Describe the problem you would like to solve**
The `Collector::getQueryBuilder()` method is used to return a `QueryBuilder` with the appropriate join/where statements. Some `Collectors` add a default `select()` statement in the returned query, while others don't.

**Describe the solution you'd like**
All `Collector::getQueryBuilder()` methods should add a `select()` statement that is needed to r

[2022-04-11 10:31] Vitaliy-1 commented on #7479
Associated issue: https://github.com/pkp/pkp-lib/issues/7787

[2022-04-11 10:45] NateWr commented on #7812
All merged to `main`. Thanks @withanage!

[2022-04-11 10:45] #7812 closed

[2022-04-11 10:52] NateWr commented on #7787
@asmecher I've lost track of what's happening in this issue, and changes in the PR touch the deepest, darkest parts of the entity system (`PKPSchemaService::coerce()` at https://github.com/pkp/pkp-lib/pull/7788/files#diff-00ac1d93cf0f9b86c713ab3c9f385335674efd25588b62c6ce83340fa09054dcR286). Can you take over on this one?

(It may be easier to just implement #7479 but I don't know if that will sol

[2022-04-11 10:54] NateWr commented on #7479
@withanage yes, I think that's the idea. Where it is used, we probably want to use `User::getSignature()` or an empty string.

[2022-04-11 11:14] felixhelix opened #7855 "Back link from galley view always to article page (standard theme, OJS 3.3.0.8)"
**Describe the bug**
The back link (signified by a back arrow) from a galley view on the OJS frontend (i.e. a PDF of an article) always leads to the article details page, even if the user called the galley from the main page or an issue page. This behavior confuses the reader.

The behavior applies to the standard theme:  i.e. the bootstrap theme provides no link, other themes provide only a link

[2022-04-11 16:03] asmecher commented on #2169
@touhidurabir, one of the tests failed (not your fault, I've restarted it) but otherwise this looks good.

Next time I'd suggest keeping the submodule update in a separate commit of its own; this will help with inevitable merge conflicts.

Since this affects OMP, OPS, and OMP, and both the `main` and `stable-3_3_0` branches of each, I'm afraid you're going to have to create a whole bunch more pull

[2022-04-11 17:40] #7126 closed

[2022-04-11 17:43] NateWr commented on #7838
Ok, I merged the changes to `package-lock.json`. I'll leave the `composer.json` changes to #7815.

cc @touhidurabir

[2022-04-11 17:43] #7838 closed

[2022-04-11 19:15] #7815 closed

[2022-04-12 06:15] touhidurabir commented on #6209
@asmecher @NateWr  Just wondering as we plan to update the `id` for one of the mentioned case to remove the duplication, should we also rename the view `tab` name ? For example , if we plan to change the `id` for the section `Website Settings --> Appearance --> Setup` from `id="setup"` to `id="appearance-setup"`, should we also update it to `Website Settings --> Appearance --> Appearance Setup` to

[2022-04-12 06:35] NateWr commented on #6209
@touhidurabir we don't need to change it. But we have had some UX feedback that having two tabs that both say "Setup" is confusing. I just haven't thought of a good replacement.

I don't want to duplicate the word "Appearance" there. Both "Setup" tabs contain miscellaneous settings, so any name I can think of, like "Website Setup", kind of applies to both. I've just left this for us to solve later

[2022-04-12 07:55] touhidurabir commented on #6209
@NateWr in that case, I will not update it and better to wait to determine what will be proper replacement wording for it as I don't have any good one in my mind either . just going to fix the `id` duplication for now .

[2022-04-12 09:28] ronste commented on #7756
Hi @ajnyga ,

thanks for looking into this issue!

I think what you found is indeed part of the story. How I see it now:

1) On installations where the issue exists the stylesheet setting in the database is:
[code]
  i.e. the "uploadName" is set to "styleSheet" without the '.css'.

2) This causes the determination of the mime type to be based on the file content rather than the extension, which ob

[2022-04-12 09:42] ajnyga commented on #7756
The file extension is set when the file is uploaded and that is based on the mime type detection.

Hard coding like you suggest does fix it, but when the mime type is found by the function you will have files named styleSheet.css.css

[2022-04-12 10:06] NateWr commented on #7313
It looks like this was updated in #7815.

[2022-04-12 10:06] #7313 closed

[2022-04-12 10:34] ronste commented on #7756
Yes, I saw files like that.

So what you say is that the mime type will be determined on upload and added to the default upload name. That's a good point. But why then does the 3.2 upgrade script include the .css extension by default? Why is the default value on line 485 different form the one in the upgrade script?

And there are a number of other points that don't fit together:

1) The file I up

[2022-04-12 10:45] touhidurabir commented on #6209
Updated the `id` name for the `Website Settings --> Appearance --> Setup` section to `appearance-setup` .

Pull requests

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/7853
[ojs](https://github.com/pkp/ojs)       -->  https://github.com/pkp/ojs/pull/3371
[customBlockManager](https://github.com/pkp/customBlockManager) --> https://github.com/pkp/customBlockManager

[2022-04-12 11:43] ajnyga commented on #7756
`So what you say is that the mime type will be determined on upload and added to the default upload name. That's a good point. But why then does the 3.2 upgrade script include the .css extension by default? Why is the default value on line 485 different form the one in the upgrade script?`

Line 485 calls https://github.com/pkp/pkp-lib/blob/main/classes/services/PKPContextService.inc.php#L730
File

[2022-04-12 11:52] ajnyga commented on #7756
There is an old issue around the same topic: https://github.com/pkp/pkp-lib/issues/1893
@asmecher should OJS3 have a workaround for the mime type detection of CSS?

[2022-04-12 13:19] OJSomm commented on #7845
Olá @asmecher, attached is .txt with logs for 8-april, when I did this test. I hope it will help to find the problem
[OJS.log.txt](https://github.com/pkp/pkp-lib/files/8473203/OJS.log.txt)
Thank you!

[2022-04-12 14:06] ronste commented on #7756
Hi @ajnyga ,

thanks for your help. I now figured out some more details.

The files that fail on my system are detected as text/troff mime type. All others as text/plain. For one of the files I could determine the reason:

[code]
is detected as text/troff, while
[code]
is detected as text/plain. Just one space difference between "h2" and  "{" ...

For the file content I posted above I couldn't yet

[2022-04-12 15:00] OJSomm commented on #7845
@asmecher OK, I will tell my colleagues :-)
Thank you!

[2022-04-12 17:23] mariuszsienkiewicz commented on #7822
So is it only a need to change this:
[code]

into this:

[code]

in a couple of places?

[2022-04-12 18:13] jnugent opened #7856 "It is possible to publish an article with no authors"
**Describe the bug**
During the submission process, the wizard will prevent the submission of the metadata step (step 3) if you delete all of the authors in the contributors grid.  However, once the submission is submitted, a submission in the workflow can have all of its authors removed, and publishing is still possible.

This in itself may not be a bug, but it prevents any articles like this fro

[2022-04-12 20:17] Tyl13 opened #7857 "Change disabledReasons from an item in the user Data array to its own object."
**Describe the problem you would like to solve**
The setters and getters of disabling a user does not allow for a great flexibility of new reasons for why a user can be disabled. This is important because the current setup can only have one reason it can be disabled at a single time but currently two reasons exist.

This means a user email could be not validated and an admin prematurely disabled t

[2022-04-12 23:02] asmecher commented on #7744
PRs for `stable-3_3_0`:
- https://github.com/pkp/ojs/pull/3372
- https://github.com/pkp/pkp-lib/pull/7858
- https://github.com/pkp/ops/pull/267
- https://github.com/pkp/omp/pull/1102

Needs forward-porting to `main` once the approach is confirmed.

[2022-04-12 23:44] asmecher commented on #7856
@jnugent, per this issue:

https://github.com/pkp/pkp-lib/issues/5955

...we do intend to support authorless submissions, so I think the best instant solution would be to relax the Native XML schema to allow submissions without authors.

[2022-04-13 09:24] NateWr commented on #7822
Yes, I think so.

[2022-04-13 11:50] touhidurabir commented on #4240
Agree with not deleting the users who are considered as invalidated as that may have unforeseen impact on the system . Rather than deleting users/accounts, it's better to mark those as `invalidated` .  And by doing so, they can not login in into the system unless marked as `non invalidated` by the journal admin. To achieve that we can have a simple column in the `users` table something like `inval

[2022-04-13 11:52] jnugent commented on #7856
Hi @asmecher I think in our specific case we're going to ask the client to go back and add authors since they intend to use the native XML generated here as a source of import into another installation and the import there will also require authors.

[2022-04-13 14:55] NateWr commented on #7744
@asmecher I had a look and left some comments. Looks good overall.

I'm a little worried that we're overusing `htmlspecialchars` and that this is going to sweep up a lot of things unintentionally. For example, sections titled "Reports & Documents" or with artsy names like "Arts>Music" are going to get mangled in emails. Can we use `PKPString::stripUnsafeHTML` in more places to protect against atta

[2022-04-13 18:17] asmecher commented on #7744
@NateWr, this should actually improve behaviour with those types of names -- the message body is supposed to be HTML, so e.g. `Arts>Music` would get escaped into `Arts&gt;Music`, and rendered properly to "Arts>Music" in the mail reader.

Previously things like "Reports & Documents" *probably* got rendered OK, but only because HTML renderers are pretty unflappable.

[2022-04-13 21:18] kshuttle commented on #3294
+1 from an SFU journal

[2022-04-13 22:42] asmecher opened #7859 "Track where a submisssion came from, such as import/export, QuickSubmit, etc"
**Describe the problem you would like to solve**
Articles can be created in OJS/OMP/OPS through a variety of means...
- Native XML import
- QuickSubmit
- SWORD
- Regular submission process

However, it's impossible to later distinguish these from each other. There's a heuristic using dates that's implemented for statistics purposes:
- https://github.com/pkp/pkp-lib/issues/6011
- https://github.com

[2022-04-14 07:26] touhidurabir commented on #6209
`main` branch pull requests

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/7860
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3373
[ops](https://github.com/pkp/ops) --> https://github.com/pkp/ops/pull/269
[omp](https://github.com/pkp/omp) --> https://github.com/pkp/omp/pull/1103
[customBlockManager](https://github.com/pkp/customBlockManag

[2022-04-14 10:40] NateWr commented on #7744
:+1: ahh, good to know!

[2022-04-14 14:21] asmecher commented on #7604
In the interests of getting a fix into `stable-3_3_0`, I just added a check to see whether `$request->getUser()` returned anything, and if not, used `null` for `$user->getUsername`. These cases are all for logging, and we can interpret an empty username in the log entry as a CLI-based action for the time being.

[2022-04-14 14:21] #7604 closed

[2022-04-14 14:31] asmecher commented on #7639
@jonasraoni, that's a lot more code being added to `stable-3_3_0` `lib/pkp` than I expected naively; is there really no impact on the OJS and OMP stable branch?

[2022-04-14 14:40] #6209 closed

[2022-04-14 15:05] asmecher commented on #7822
Thanks, @NateWr and @mariuszsienkiewicz -- I've transformed your suggestion into a couple of pull requests, Mariusz:
- pkp-lib `main` branch: https://github.com/pkp/pkp-lib/pull/7861 (for release in 3.4.0)
- pkp-lib `stable-3_3_0` branch: https://github.com/pkp/pkp-lib/pull/7862 (to apply against 3.3.0-x older than 3.3.0-11)

The appropriate PR/patch should be applied in the `lib/pkp` subdirectory

[2022-04-14 17:06] NateWr opened #7863 "Add API endpoint to get a submission's editorial decisions"
**Describe the problem you would like to solve**
The API endpoint supports writing editorial decisions but not getting them. A third-party tool can not use the API to determine what decisions have been recorded.

**Describe the solution you'd like**
Add an API endpoint, `GET /submissions/<id>/decisions`, to get all the decisions recorded on a submission.

**Who is asking for this feature?**
A ques

[2022-04-14 18:46] ewhanson commented on #7684
Resolved in #7682

[2022-04-14 18:46] #7684 closed

[2022-04-14 19:52] asmecher commented on #7612
Implemented in https://github.com/pkp/pkp-lib/issues/7815.

[2022-04-14 19:52] #7612 closed

[2022-04-14 22:17] asmecher commented on #4023
Can anyone confirm that this is still a problem in OJS 3.3.0-9 or newer? I've tried locally and I can't replicate the problem. I suspect an update to citeproc-php may have fixed it in the meantime.

[2022-04-14 22:40] diegoabadan opened #7864 "Full title in page title and DC.Title"
OJS does not display subtitle in HTML page title (<title> tag) and dublin core metadata.

Example:
view-source:https://demo.publicknowledgeproject.org/ojs3/testdrive/index.php/testdrive-journal/article/view/723

**To Reproduce**
1) Access an article with the title and subtitle metadata populated. E.g.: https://www.rbmfc.org.br/rbmfc/article/view/3052
2) Check the HTML <TITLE> tag and the <meta nam

[2022-04-14 22:41] diegoabadan commented on #7864
Depreciate `$article->getTitle()` for something like `$article->getMainTitle()` help us and avoid other cases?
Maybe it makes the best decision easier by using getFullTitle or just the main title...

[2022-04-15 02:45] ewhanson commented on #4056
Hey @NateWr, could you have another look at these? Barring any minor bugs/changes, these should be ready to go. Thanks!

PRs:

- `pkp-lib`: #7782
- `ui-library`: pkp/ui-library#190
- `ojs`: pkp/ojs#3338
- `omp`: pkp/omp#1088
- `ops`: pkp/ops#252
- `crossref-ops`: pkp/crossref-ops#11

Thanks @ajnyga, I'm leaving things as-is for this PR, but will review the standard in detail and follow up with som

[2022-04-15 06:17] touhidurabir commented on #2169
All pull requests

[pkp-lib](https://github.com/pkp/pkp-lib) stable-3_3_0 --> https://github.com/pkp/pkp-lib/pull/7852
[ojs](https://github.com/pkp/ojs) stable-3_3_0 --> https://github.com/pkp/ojs/pull/3370
[ops](https://github.com/pkp/ops)  stable-3_3_0 --> https://github.com/pkp/ops/pull/270
[omp](https://github.com/pkp/omp) stable-3_3_0 -->  https://github.com/pkp/omp/pull/1104

[pkp-lib](https

[2022-04-15 16:44] ctgraham opened #7866 "Recommend Similar Articles plugin uses the wrong article identifier"
**Describe the bug**
In the Recommend Similar Articles plugin we attempt to pull the keywords for the current article by ID, but as of OJS 3.2 we are fetching a Publication ID and passing to the search as an Article/Submission ID.
[code]
https://github.com/pkp/ojs/blob/4bddb6959aa77ec2f45354a917041ae961b4ad07/plugins/generic/recommendBySimilarity/RecommendBySimilarityPlugin.inc.php#L75-L77

**To R

[2022-04-15 19:54] jonasraoni commented on #7639
@asmecher I just checked and I fully agree, I think these PRs were a kind of draft.
I'll check if it's possible to decrease the amount of changes.

Anyway, let me know if you're ok to get this amount of code merged in 3.3.0... Then, given that most of changes are additions, I can just test the updates against OJS/OMP.

[2022-04-16 11:50] jonasraoni commented on #7765
Hi @marcbria,

I just could simulate it using your Docker image, in my environment, which is also under Docker, it worked fine.

So it looks like a problem in the image, I've created an [issue against the docker-ojs repository](https://github.com/pkp/docker-ojs/issues/214), with the source of the problem and a possible solution.

So, I'll close this issue for now :)

[2022-04-16 11:50] #7765 closed

[2022-04-16 11:57] jonasraoni commented on #7765
There's also a similar issue here (missing letters + same error message): https://github.com/seboettg/citeproc-php/issues/102

[2022-04-18 06:12] edhelll opened #7868 "Unexpected closing of modal windows when selecting text with the mouse"
If I select text by mouse anywhere in modal window and release mouse button outside of window, then modal window closes.

In fact, this problem concerns not only text selection. If we click mouse button inside window, but release outside - window close handler fired.

**What application are you using?**
OJS 3.3.0.3

[2022-04-18 06:23] edhelll opened #7869 "Modal closes unexpectedly when trying to save a multilingual form"
**Describe the bug**
If multilingual field is focused in modal window (e.g. edit file in submission) and press "Save" button, then modal window tries to close instead of saving. Its happens when textfield collapsed to only one main language, modal window is resized and "Save" button moves up.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any submission
2. Click "Edit" on any file
3. C

[2022-04-18 06:37] edhelll opened #7870 "National characters should not be removed from the names of downloaded files"
**Describe the bug**
Files uploaded by authors can often consist mainly of national characters, so when downloading such files, they are saved as ----.docx, ---.--.docx, etc. Sometimes even saved as simply "docx" (probably when the file consists of one word).

**What application are you using?**
OJS 3.3.0.3

**Additional information**
I fix it in file lib/pkp/classes/services/PKPFileService.inc.ph

[2022-04-18 06:50] edhelll commented on #7869
Now I totally disable closing modal windows by clicking outside of windows: in ModalHandler.js comment modalClose() call after line "// Close click events directly on modal (background screen)". Otherwise, more problems than benefits.

[2022-04-18 06:50] edhelll commented on #7868
Now I totally disable closing modal windows by clicking outside of windows: in ModalHandler.js comment modalClose() call after line "// Close click events directly on modal (background screen)". Otherwise, more problems than benefits.

[2022-04-18 08:51] NateWr opened #7871 "Remove country from language selection in the UI"
**Describe the problem you would like to solve**
There are a few places in the UI where the user can select to switch languages. These often show the full language designation, such as "French (Canadian)". However, it's very uncommon for two variants of the same language with the same script to be enabled at once, such as "French (Francais), French (Canadian)".

As a result, the country text is us

[2022-04-18 08:54] OhnO395 commented on #7213
I applied the PR https://github.com/pkp/pkp-lib/pull/7547 that, 2 case.
1. test journal have 3 user can sent via email
2. The Journal have 990 user aren't being sent via e-mail.

[2022-04-18 10:13] defstat commented on #7002
@asmecher @NateWr

**PR**
pkp-lib: #7873

[2022-04-18 11:38] NateWr opened #7874 "Restore use of unsubscribe link to emails"
**Describe the problem you would like to solve**
The new email system needs a consistent way to add unsubscribe links to emails that allow unsubscription.

**Describe the solution you'd like**
Probably add a `trait` that can be added to `Mailable` classes that appends the unsubscribe link. See: https://github.com/pkp/ojs/pull/3349#discussion_r852047809

**Who is asking for this feature?**
This res

[2022-04-18 12:54] jonasraoni commented on #7870
Hi @edhelll!

Thanks for the report. Looks like this code doesn't exist anymore, I guess your issue has been addressed by this line: https://github.com/pkp/pkp-lib/blob/main/classes/services/PKPFileService.inc.php#L165 which is related to this issue: https://github.com/pkp/pkp-lib/issues/7794.

I'll close the issue for now, let me know if you think I misunderstood something.

[2022-04-18 12:54] #7870 closed

[2022-04-18 13:28] NateWr commented on #7766
Closing this as we've found an alternate way to address the original use case. cc @ewhanson

[2022-04-18 13:28] #7766 closed

[2022-04-18 13:35] NateWr commented on #7822
I can confirm this resolved the issue in `stable-3_3_0`.

[2022-04-18 15:04] jonasraoni commented on #7868
Hi @edhelll,

I'm closing this one in favor of: https://github.com/pkp/pkp-lib/issues/6653

[2022-04-18 15:04] #7868 closed

[2022-04-18 15:13] defstat commented on #6999
@asmecher @NateWr

**PRs**
pkp-lib: #7875
OMP: pkp/omp#1106

[2022-04-18 15:16] jonasraoni commented on #7869
Hi @edhelll!

I believe this issue has been addressed in newer releases of 3.3.0, given that multilingual fields are floating and do not resize the modal interface anymore (see image below), so I'll close this one. You might take a look at the current release here: https://pkp.sfu.ca/ojs/ojs_demo/

![image](https://user-images.githubusercontent.com/361921/163829317-c1b3efb3-ea9f-4ba7-87fd-69f6766a

[2022-04-18 15:16] #7869 closed

[2022-04-18 16:48] NateWr commented on #4056
Looks good @ewhanson. I took a pass at the language/structure of the settings forms and I've opened a couple of PRs to your branches:

https://github.com/ewhanson/pkp-lib/pull/2
https://github.com/ewhanson/ojs/pull/1

The main changes are:

- Lots of locale strings changed
- Lots of locale strings moved into pkp-lib or removed where duplicates existed
- Moved the "automatic deposit" setting into t

[2022-04-18 16:57] withanage commented on #7479
@NateWr can you review these PRs

- https://github.com/pkp/pkp-lib/pull/7872
-  https://github.com/pkp/ojs/pull/3376

[2022-04-19 03:35] edhelll commented on #7869
Indeed, I could not reproduce the problem on the demo site with latest version. Though the size of modal windows changes a little.

[2022-04-19 03:44] edhelll commented on #6653
Another issue with subj: click anywhere inside the window, move mouse and release button outside the window. Result: modal window closes. My modal windows (usually the authors) are constantly closing when I select text.

It seems to me that clicking outside the modal should not close window at all, this does not give any advantages in our case. This only makes sense in windows with additional info

[2022-04-19 03:46] edhelll commented on #7870
Really, in the latest version the files are downloaded with their original names.

[2022-04-19 06:42] touhidurabir commented on #2169
@asmecher can you merge the PR after reviewing it ? Tests failed for both the OMP stable-3_3_0 (https://github.com/pkp/omp/pull/1104) and main (https://github.com/pkp/omp/pull/1105) but i think those are due to some other race condition , not related to the changes for the PR . can you also reinitiate the tests also to make sure it all passes .

[2022-04-19 08:17] touhidurabir commented on #6983
@asmecher 2 PR added targeting the `pkp-lib` and `ojs` `stable-3_3_0` branch . please review and if all ok and test passes properly , I will make PR then for other repos .

[pkp-lib](https://github.com/pkp/pkp-lib) `stable-3_3_0` --> [pkp/pkp-lib#6983 On password change, invalidate other sessions](https://github.com/pkp/pkp-lib/pull/7877)
[ojs](https://github.com/pkp/ojs) `stable-3_3_0` --> [pkp/p

[2022-04-19 08:27] NateWr commented on #2169
@touhidurabir I've restarted those tests for you. I'll leave the final merge to Alec. :+1:

[2022-04-19 10:45] jonasraoni commented on #7870
Great! That's a good signal that things are evolving :)

[2022-04-19 16:09] asmecher commented on #7002
Thanks, @defstat!

[2022-04-19 16:37] asmecher commented on #2169
All merged -- thanks, @touhidurabir!

[2022-04-19 16:37] #2169 closed

[2022-04-19 16:54] asmecher commented on #6983
Thanks, @touhidurabir! I've added comments here: https://github.com/pkp/pkp-lib/pull/7877

Once you've addressed those, I'd say it's ready for submodules for OMP and OPS, and forward-porting to `main` as well.

[2022-04-19 20:39] librariam commented on #5502
+1 from a multilingual journal that uses Quick Submit and currently has no way of correcting the publication locale that was selected by mistake. This affects their metadata export to Coalition Publica that requires the title in the field of that language.

[2022-04-20 01:38] kshuttle opened #7879 "Display section name in review process"
**Describe the problem you would like to solve**
Reviewers would benefit from knowing which section of the journal an article belongs to when they begin their review.

**Describe the solution you'd like**
An editor would like to see the section information added to the review process, ie in "Request for Review" where reviewers see the title and abstract.

![image](https://user-images.githubusercon

[2022-04-20 07:40] touhidurabir opened #7880 "Registration process throwing unhandled exception for new user registration."
**Describe the bug**
The registration process is throwing internal unhandled exception for a new user registration . The newly registered user do get stored in the DB but success/confirmation page return back as error which make it looks like the registration process failed .

**To Reproduce**
After a successful installation and set up for journal .
1. Try to register a new user for a specific jou

[2022-04-20 07:45] touhidurabir commented on #7880
this is the reason exception is originating , https://github.com/pkp/pkp-lib/blob/main/pages/user/RegistrationHandler.inc.php#L72

in the RegistrationHandler  file , `$user`  is return as `null` because of following lines

[code]

Here we are passing the $userId  to retrieve the user instance but in the PKP\user\Repository  class as defined

[code]

[code]

the fix to very small , just need to cal

[2022-04-20 10:26] touhidurabir opened #7881 "User verification process failing with internal exception"
**Describe the bug**
When set to `validate user` in the `config` , the validation/verification process not working properly after registration .

**To Reproduce**
After a successful installation of OSJ and setting up journal
1. Make sure in the config file `require_validation` is set to `On`.
2. Go to inbox to retrieve the validation email and copy validation link
3. Visit the validation link
4. I

[2022-04-20 18:03] ctgraham opened #7882 "Portico plugin release v1_1_2-2 points to wrong commit"
**Describe the bug**
The Portico plugin's release package of [v1_1_2-2](https://github.com/pkp/portico/releases/tag/v1_1_2-2) points to the wrong commit in the repository.  Specifically, note that the [version.xml file at b6d2ab](https://github.com/pkp/portico/blob/b6d2ab8ba69bc8e5ba829439c8177d6cdabc9ea1/version.xml) references "release" 1.0.0.3.

**To Reproduce**
Steps to reproduce the behavior:

[2022-04-21 05:40] touhidurabir commented on #7651
@asmecher should I make pull requests for the fix the issue for `ops` and `omp` both stable and other main branches as I only did for the `pkp-lib` and `ojs` `stable-3_3_0` branch ?

[2022-04-21 08:56] touhidurabir commented on #6983
@asmecher I have made new pull request as I made a mess of the last one during the git rebase twice mistakenly and force push .

New Push list

[pkp-lib](https://github.com/pkp/pkp-lib) stable-3_3_0 --> [pkp/pkp-lib#6983 On password change, invalidate other sessions](https://github.com/pkp/pkp-lib/pull/7883)
[ojs](https://github.com/pkp/ojs) stable-3_3_0 --> [pkp/pkp-lib#6983 Submodule Update ##to

[2022-04-21 09:41] touhidurabir commented on #7880
@asmecher I have made 2 pull request for `main` branch of `pkp-lib` and `ojs` . once the test passes and you review the code , I will make pull request for `ops` and `omp` . As mentioned in the issue , then only require fix for the `main` branch only .

PR list

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7880 Registration process throwing unhandled exception for new user registrati

[2022-04-21 14:11] jonasraoni opened #7885 "[Plugin][PLN] Missing mapping for the "inProgress" state"
**Describe the bug**
A valid answer from the server ends up as an error (`Unknown LOCKSS state inProgress`) due to a missing mapping.

Screenshots can be seen at the origin:
https://forum.pkp.sfu.ca/t/pkp-pn-plugin-error-unknown-lockss-state-inprogress-eventhough-journal-issues-appear-on-the-list-of-journal-list-spreadsheet/72150/7

**What application are you using?**
OJS 3.3.0-10

[2022-04-21 14:32] asmecher commented on #7651
@touhidurabir Don't worry about it in this case, as the fix was pretty close to trivial and the only application-related changes were the submodule updates. For more complicated fixes, it's helpful to send in submodule update PRs for all applications, if only for the sake of Travis testing -- but if the submodule on the `main` branch gets a little stale, it's not a problem. We make sure everything

[2022-04-21 18:50] kerimsarigul commented on #2159
I am facing exactly this issue right now.
Revisions and Reviewer's Attachments panels not visible in Review tab, as @ajnyga stated at the top of the page.
I couldn't find a way to fix this problem.
![image](https://user-images.githubusercontent.com/54417583/164531359-ec4a1e4b-b14c-40a9-9b59-4acdd5c0bb76.png)

![image](https://user-images.githubusercontent.com/54417583/164530520-34dc76ec-a9b6-40c5-

[2022-04-21 22:11] asmecher commented on #6983
@touhidurabir, this issue is scheduled against 3.4.0 so it should be coded against `main` rather than `stable-3_3_0`. Could you port the changes forward and open PRs against `main`?

[2022-04-21 22:14] asmecher commented on #7880
Thanks, @touhidurabir! I've merged the PRs above and directly committed submodule updates for OMP and OPS `main`; no need to open PRs there.

[2022-04-21 22:14] #7880 closed

[2022-04-22 06:16] touhidurabir commented on #6983
@asmecher PRs are done for `main` branches . for now I have it only forward it `ojs` . once the test passes and you review and confirm, I will forward the changes to `ops` and `omp` also .

`main` branch PR lists

1. [pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#6983 On password change, invalidate other sessions](https://github.com/pkp/pkp-lib/pull/7886)
2. [ojs](https://github.com/pk

[2022-04-22 13:18] librariam commented on #3646
+1 more from PKP|PS to use an email template for the new issue notification

[2022-04-22 13:20] librariam commented on #5953
+1 from a PKP|PS journal that would like to display the ToC in the new issue notification

[2022-04-22 16:20] touhidurabir commented on #7881
@asmecher can you review once the test passes .

### `stable-3_3_0` branch PRs
1. [pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7881 User verification process failing with internal exception](https://github.com/pkp/pkp-lib/pull/7887)
2. [ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7881 Submodule Update ##touhidurabir/i7881_fix_stable_3_3_0##](https://github.com/pkp/ojs/pull/3383

[2022-04-22 17:31] asmecher commented on #6983
Thanks, @touhidurabir! I've added a few small comments on https://github.com/pkp/pkp-lib/pull/7886; none of these are substantial, so once you've reviewed them, feel free to go ahead and send in submodule updates for the other apps too.

[2022-04-22 17:56] asmecher commented on #7881
Excellent, @touhidurabir! These were clear and clean enough that I was content to merge as is and take care of the OPS and OMP submodule updates directly. Thanks!

[2022-04-22 17:56] #7881 closed

[2022-04-22 17:59] asmecher commented on #2159
@kerimsarigul, I see you've also posted on the support forum:

https://forum.pkp.sfu.ca/t/revisions-and-reviewers-attachments-panels-not-visible-in-review-tab-for-authors/72939

That's the best place to get help; in general it's best to just post your question in one place.

[2022-04-22 18:21] asmecher commented on #7882
@ctgraham, I'm tempted to leave this as a WONTFIX and let the next release bury it rather than rewriting history; would that cause problems for you? I'm not aware of anyone (else) using git to host plugins in a production environment.

[2022-04-22 18:32] ctgraham commented on #7882
With the advent of composer and npm dependencies we've moved away from git-based production deployments, so this only breaks development for us.  We query the plugin gallery to automatically deploy all compatible plugins as git submodules for development.  Right now that just fails as described above, which is annoying, but manageable.

[2022-04-22 18:37] asmecher commented on #7882
OK, thanks! I think we'll probably be releasing a new version not too long from now, so I'm content to let that bury this issue. But thanks for letting me know, I'll watch our workflow.

[2022-04-22 18:37] #7882 closed

[2022-04-24 19:13] withanage commented on #7479
@NateWr

I sent a submodule update to the PR

https://github.com/pkp/ojs/pull/3376

After doing the changes in

https://github.com/pkp/pkp-lib/pull/7872

[2022-04-25 07:39] touhidurabir commented on #6983
@asmecher done fixing and made 2 more PR for `ops` and `omp` `main` branch . so here is the full PR list

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#6983 On password change, invalidate other sessions](https://github.com/pkp/pkp-lib/pull/7886)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#6983 Submodule Update ##touhidurabir/i6983_fix_main##](https://github.com/pkp/ojs/pull/338

[2022-04-25 14:50] NateWr opened #7889 "Journal's date format is not used on stats page"
**Describe the bug**
When viewing the article or editorial stats page, the date range shows in the format YYYY-MM-DD. This should show the date range in the format selected by the journal.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Website > Setup > Date/Time
2. Select a date format other than YYYY-MM-DD
3. Go to Stastics > Articles
4. See the date range displayed in YY

[2022-04-25 15:23] NateWr commented on #6201
@nongenti can you confirm if these two PRs are the correct ones to review for this feature? Is there anything else outstanding?

https://github.com/pkp/omp/pull/1035
https://github.com/pkp/citationStyleLanguage/pull/84

[2022-04-25 19:39] touhidurabir commented on #4240
I believe we should have a `configuration` in the `config` file which specify is the if the current set up of the journal system should have unvalidated and expired user removed periodically . As this is a destructive level behaviour, I think each of the journal installation should have the ability to configuration it as their own need . By default it should be set to disable and only if admin fee

[2022-04-25 19:54] AndrewGearhart commented on #4240
@touhidurabir The difficulty with introducing another class of user ... is that all user screens need to then appropriately handle that type of situation. It is not uncommon to remove a user in pkp systems through a user merge. All attributed items then apply to the user that is left behind (for example, merging into the admin user). For example, currently, screens for sending mass emails currentl

[2022-04-25 20:31] touhidurabir commented on #7439
@NateWr @asmecher I can say with solid confirmation that this issue only associated with Postgres and not mysql or MariaDB . This is something that I have faced previously 2/3 time . This mainly happened in my case when my table primary key become out of sync . The solutions describe in this `SO` thread https://stackoverflow.com/questions/4448340/postgresql-duplicate-key-violates-unique-constraint

[2022-04-26 08:40] nongenti commented on #6201
Hi @NateWr,
there is also version for OJS/OMP 3.3 you reviewed last summer but never merged. [https://github.com/pkp/citationStyleLanguage/pull/79](https://github.com/pkp/citationStyleLanguage/pull/79 )
I can't evaluate whether this is important for now or not.

I've to update my 3.4 instance and rework [https://github.com/pkp/omp/pull/1035](https://github.com/pkp/omp/pull/1035l) because the chang

[2022-04-26 10:29] NateWr commented on #4240
@AndrewGearhart I agree and for now the PRs just remove expired, unvalidated accounts. They don't introduce a new class of user. It probably makes sense for us to think about this more, but I'd like to see a separate issue and some specific use cases.

What about changing this to an `int` that specifies the number of days, with a falsey value being "off":

[code]

Personally, I think this should b

[2022-04-26 13:10] librariam commented on #3022
+ 1 from a PKP|PS client with a multi-site install

[2022-04-26 13:31] jnugent opened #7892 "Contributor bio and country not included in API JSON"
**Describe the bug**
Despite having a biography and a country chosen for a contributor, this information is not present in the returned JSON when calling the submissions/xxxx/publications/xxx end point in the API:

![bios](https://user-images.githubusercontent.com/218719/165311151-c9b48dee-5669-4461-bf8f-f51000b4036c.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create and publish a s

[2022-04-26 14:28] AndrewGearhart commented on #4240
@NateWr I'd be interested to see that discussion of using database-backed settings as I'd be interested in arguing against that unless there is a clear way to set those settings from the environment. This is what makes CI/CD so hard is when configuration is co-mingled with stateful data.

The idea of deleting the user rather than merging it seems dangerous. It should be fine, as I mentioned in a c

[2022-04-26 14:32] NateWr commented on #4240
@AndrewGearhart I thought the discussion on database-backed settings was in #7068, but looks like it was in slack, where it has long since been lost to history. #7068 is probably the best place to have that conversation anyway.

[2022-04-26 15:58] ctgraham commented on #4240
Short answer on storing configuration in the database rather than config.inc.php: anything configured in config.inc.php requires filesystem and thus PHP access and could/should be restricted system administrators.  Generally, we should make anything which rationally can be managed by the user available to be managed by the user.  That is: a Journal Manager or Site Administrator in the software sho

[2022-04-26 16:00] ctgraham commented on #4240
For classifying *why* a user is disabled (and should be considered for removal), also consider: https://github.com/pkp/pkp-lib/issues/7857

[2022-04-26 16:11] NateWr commented on #7068
A comment from @ctgraham on the benefits of moving (some) config settings to the database:

[2022-04-26 16:18] NateWr commented on #7068
My preferred approach is to use a layered system that allows a sys admin to override user-configurable settings. This would allow a sys admin to "lock down" settings when they want and open them up when they want. Example:

[code]

This would return the first value found in the following order:

1. The environment variables.
2. The configuration file (or dot env, etc).
3. The site settings.
4. The

[2022-04-26 16:19] NateWr commented on #7068
@ctgraham I'd also be interested to know which of the config values you think ought to be site or context settings. Moving these into settings would probably not be too difficult in most cases, and our config file is long overdue for a clean-up.

[2022-04-26 17:30] Vitaliy-1 commented on #7706
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/7891
OJS: https://github.com/pkp/ojs/pull/3386

[2022-04-27 15:27] touhidurabir commented on #4240
I am not sure we should have this enabled by default as this is a destructive behaviour and we are just about to ship this functionality if this PR get merged . Not sure what kind of impact this may have into the system or even to a modified installed version . So for now lets just leave this as an option for the admin to configure even it's an extra step they need to take . We can put this detail

[2022-04-27 16:11] twakeford opened #7893 "Submission wizard form allows entry in languages not supported by submissions"
**Describe the bug**
When a journal has multiple languages installed but only a single language enabled for submissions, the submitting author is presented with metadata fields in each language when inputting the contributor information. If the journal is not allowing submissions in multiple languages then the contributor forms should only be available in the submission language.

**To Reproduce**

[2022-04-27 18:34] pmangahis commented on #2687
+1 from another PKP|PS client

[2022-04-28 07:40] mpbraendle commented on #7304
Hi Alec - if that helps: we have a journal with about 6000 articles, but issues usually have 10-40 articles (so not a very large TOC).

[2022-04-28 08:57] NateWr commented on #4240
Thanks @touhidurabir! I'll let Alec make the call on whether it is on/off by default.

I agree we don't want two config options if we can get away with one. On the config option name, I think that a good description would be enough to clarify what impact the option will have. To work off you're description, it would be:

[code]

Keeping the name of the config option as what it is (validation perio

[2022-04-28 16:16] kshuttle opened #7894 "Recommend-only option disappears when looking for editors to assign"
**Describe the bug**
Some section editors can make decisions even though the role setting is turned on for them to only make recommendations. It seems to happen when assigning a section editor if there is a need to click “Load More” in the list of names.

**To Reproduce**
Steps to reproduce the behavior:
In a journal that has recommendation-only abilities turned on in the role settings for section

[2022-04-29 13:00] felixhelix commented on #7665
Thinking about this issue, It seems to me that the "pages" input field should be changed first:

As of now, the field is named "pages", which is ambiguous and can be read as either the number of pages (i.e. 35 pages) or the numbering of the pages (i.e. pages 12-34).
Also there is no input validation: One can also enter 2,3,6.
Give this, the current input needs to be parsed at the export stage.

Ho

[2022-04-29 20:41] jnugent opened #7895 "fatal error when thanking a reviewer"
**Describe the bug**
There's a syntax error in the Thank Reviewer form:

https://github.com/pkp/pkp-lib/blob/stable-3_3_0/controllers/grid/users/reviewer/form/ThankReviewerForm.inc.php#L117

That _ should be a closing bracket.  Currently a problem in stable 3.3, and seems to have gone in the commit 7 days ago

https://github.com/pkp/pkp-lib/commit/4f4dcc839c33249f4d11d46ef5dc0e41df0e043d

[2022-04-30 03:28] juliaflanders commented on #4312
I have experienced this problem as well (see https://forum.pkp.sfu.ca/t/days-since-last-review-errors-in-ojs/72558) but it affects all reviewers, not just those recently assigned. When I view the list of reviewers, all of them show as "never assigned" whereas my colleague viewing the same list sees actual review assignments. Not sure whether this is the same bug or a related one.

[2022-05-01 20:14] jonasraoni opened #7896 "[Plugin][PLN] Test journals can overwrite information in the PKP PN server"
**Describe the bug**
If a user setup a clone of the journal for testing purposes, using another domain, the behavior of the staging server/plugin seems to be a little permissive/undefined, as it ends up overwriting the backend information with the data from the test domain.
Following the same idea, it might probably be also willing to ingest undesired/test content.

**To Reproduce**
Spin up a clon

[2022-05-01 20:29] yogajiwanjaya opened #7897 "PHP Fatal error: Uncaught Error: Call to a member function getLocalizedAcronym()"
Installed OJS 3.3.0.8

if i click notification, just loading menu, cant open all notification

this error log

[01-May-2022 20:18:44 UTC] PHP Fatal error:  Uncaught Error: Call to a member function getLocalizedAcronym() on null in /home/...../cache/t_compile/7bdb22b1beb9ad34cdbc123fe840c756abbed6db^642608917fb21577c3f7235b556979f3e7c86b25_0.app.controllersgridtaskstask..php:32
Stack trace:
0 /home

[2022-05-01 21:09] withanage commented on #7479
@NateWr
I have checked both the OMP and OPS man branches and   could not find any usage of  the  getContactSignature()

[2022-05-02 06:41] jonasraoni commented on #7651
@asmecher I guess this one can be closed, right? Just saw it while searching for another issue 😁

[2022-05-02 09:27] NateWr commented on #4312
No, I don't think that it is the same issue.

[2022-05-02 09:32] NateWr commented on #7479
Thanks @withanage!

[2022-05-02 09:32] #7479 closed

[2022-05-02 11:02] marcbria opened #7898 "Thoughts about how to improve native XML import/export plugin"
** Context **

The "portability" of whole journals is a necessity in the OJS community as publicacions jump from one institution to another during their lifetime.

This is demonstrated by the posts in the forum or that at the time of writing this post there are more than 100 issues related to the native OJS xml importer/exporter.

The native import/export plugin has always been a good ally and alt

[2022-05-02 14:37] asmecher commented on #7898
@marcbria, we've spoken about XML import/export issues in general internally; the prohibitive challenge is the amount of technical debt involved in mapping everything between PHP objects and XML. I don't consider this approach to be viable without some kind of 3rd party mapping layer to reduce the amount of code required, and I haven't been able to find anything like that.

Instead, we'd like to m

[2022-05-02 14:54] asmecher commented on #7651
Correct, @jonasraoni -- thanks!

[2022-05-02 14:54] #7651 closed

[2022-05-02 21:00] asmecher commented on #7895
Fixed -- thanks, @jnugent. This kind of typo will be caught by pre-commit hooks starting with 3.4.0.

[2022-05-02 21:00] #7895 closed

[2022-05-02 21:07] asmecher commented on #7304
@mpbraendle, that's a fairly typical size and not likely to turn up bottlenecks in our environment. I think the delays you're experiencing will need to be resolved separately from this issue -- as posted here: https://forum.pkp.sfu.ca/t/submissions-again-loading-slowly/72688/8?u=asmecher

[2022-05-02 21:15] asmecher commented on #4240
We have two scenarios to consider:

**1. Fresh installations that are created from scratch with the new version.**

In this case, I recommend adding a default to `config.TEMPLATE.inc.php` of something like 30 days. When the user installs the system, this value will be placed in `config.inc.php` by the install script.

**2. Users who already use OJS, and are upgrading to a version that supports thi

[2022-05-02 21:33] asmecher commented on #7744
@NateWr and @Vitaliy-1, I'm expecting to forward-port this one to `main` myself, but please let me know when you're finished with any merges that'll affect the assignment of template variables. I'm OK to wait for a bit.

[2022-05-02 21:46] asmecher commented on #7563
(Assigning to @withanage to pick up the changes proposed above!)

[2022-05-03 03:57] israelcefrin opened #7899 "Open external menu links in new tab"
**Describe the problem you would like to solve**
Example: Some editors add external links on the Primary menu. They are usually related menus, but running under a third-party site/hostings.

**Describe the solution you'd like**
It would be great to have a checkbox setting up "open on a new window/tab" when adding external URLs to the main menu.

**Who is asking for this feature?**
Editors of journ

[2022-05-03 09:32] marcbria commented on #7898
I fully understand this.
The intention of the post is just to document and try to define priorities.

To avoid the mapping by working with the API is the line of work for the future that @NateWr and @WellingtonRodrigues seem to agree on.

But I feel this in the long term work, and until we get to that point, I think there's a set of "lower development cost" actions that could perhaps be taken befo

[2022-05-03 11:45] NateWr commented on #6782
Wow, @bozana! That's so much good work you've done! I've had a look at the pkp-lib, ojs and ui-library PRs and left a bunch of comments. Most of them are about the architecture/syntax. As we move to modernize the code, we're introducing a lot of new conventions, so I've left a lot of comments with suggestions for how you can adjust the code to be more consistent with some of that. However, I think

[2022-05-03 16:34] asmecher opened #7900 "Safari shows incorrect reviewer assignment information"
**Describe the bug**

From https://forum.pkp.sfu.ca/t/days-since-last-review-errors-in-ojs/72558:

Later...

**What application are you using?**
OJS 3.3.0-8

[2022-05-03 16:52] asmecher opened #7901 "Exclude duplicated IDs from deleted records in OAI interface"
**Describe the bug**
Some installations appear to report deleted records with the same IDs as published records in the OAI interface. Details at https://gitlab.erudit.org/coalitionpublica/support/-/issues/98.

I suspect the cause is versioning -- perhaps a version is published, then another is published; the second is deleted, causing a deleted record to rightfully be created, but causing the OAI

[2022-05-03 22:42] asmecher commented on #6999
Merged the above PRs -- thanks, @defstat!

[2022-05-03 22:42] #6999 closed

[2022-05-03 22:59] jnugent opened #7902 "href attribute in files/ API end point missing stage id"
**Describe the bug**
When you access the /files end point for a submission, you receive JSON containing information about the files in the submission.  One of the attributes for each file is the _href attribute, but the URL specified here is missing the stageId so accessing this generates a "no access" error message:

![Screenshot at 2022-05-03 19-55-48](https://user-images.githubusercontent.com/2

[2022-05-03 23:48] asmecher commented on #7902
@NateWr, I'm of two minds on this --

On one hand, it's `_href` with a `_` prefix, so not intended for general consumption and use.

On the other hand, having to include the `stageId` kind of presumes knowledge of the purpose of the call, which should be kept in the front end and out of the API.

I'm guessing this is probably the reason the `_` prefix was given in the first place; do you recall?

[2022-05-04 00:58] asmecher commented on #7670
@jonasraoni, starting with OJS/OMP/OPS 3.3.0 the schema creation tools are now built on Laravel migrations, whereas on 3.2.1 and prior they were done with ADODB XMLSchema. This introduces a bunch of semantic changes, e.g. in the way default values are specified, along with a few minor column type changes. When I committed the changes I did what you proposed -- comparing the "before" and "after" sc

[2022-05-04 08:27] NateWr commented on #7902
Unfortunately, the `stageId` is a requirement based on how our authorization policies work right now. I would very much like to remove this requirement as it doesn't make sense from an API perspective, but a fair number of workflow access policies would need to be rewritten. Or we would need to write special policies for the API.

`_href` is used throughout the API to provide a link to the "self".

[2022-05-04 09:36] jonasraoni commented on #7898
Given the amount of users which are using this plugin, I agree with the points above :)

- Compatibility warning: Unfortunately I think we just can get newer versions to emit such warning, we'll need to add a "generatedVersion" attribute (which should be ignorable through a `force` flag).

- Error reporting: Last time I used the plugin, it was better, but there were still some points to be improve

[2022-05-04 11:53] steinmb commented on #7720
Laravel uses Monolog - https://github.com/Seldaek/monolog. Not sure what Laravel brings to the table compare to bare bone Monolog, though I am sure Laravel dev. in here can point out? The most important part is to make sure the lib is PSR-3 - https://www.php-fig.org/psr/psr-3/meta/ compliment. These days most modern libraries are.

+1 from me pulling out any custom logging and leverage libs like M

[2022-05-04 13:48] jonasraoni commented on #7670
@asmecher I just saw this one, then I created an issue to inspect whether we've got extra divergencies.

Structurally everything's ok about this difference! But they are treated differently by the `Blueprint`, which is the why we have this try/catch here: https://github.com/pkp/pkp-lib/blob/main/classes/migration/upgrade/v3_4_0/I7167_RemoveDuplicatedUserSettingsAndDeprecatedFields.inc.php#L96-L107

[2022-05-04 13:50] jonasraoni commented on #7670
Ah, the other mismatch that I found in the schema was related to those `reviewing` tables in OPS.

[2022-05-04 14:25] asmecher commented on #7720
@steinmb, is there a motivating use case for adopting Monolog (or Laravel logging) over PHP `error_log`, or would this just be for the sake of modenization? It'll help us prioritize.

[2022-05-04 15:50] asmecher commented on #7901
It looks like https://github.com/pkp/pkp-lib/issues/6625#issuecomment-768752850 came back to bite me:

I think the best solution will be to make the OAI query resilient against tombstones for records that aren't deleted; it will be patchable (rather than requiring a database-editing migration) and won't require a deep dive on old data conditions.

[2022-05-04 15:52] Obidjonabdulloyev commented on #5839
I have this problem too. In step 3. Enter Metadata it can't be saved and continued. It is always stuck loading.

[2022-05-04 15:53] Obidjonabdulloyev commented on #5839
Please help me, anybody.

[2022-05-04 15:56] asmecher commented on #5839
@Obidjonabdulloyev, this is an older closed issue; the best place to get help is the PKP support forum (https://forum.pkp.sfu.ca). Be sure to include your OJS version and anything that appears in your PHP error log.

[2022-05-04 17:54] jnugent opened #7903 "Section editors are not added to their own recommendation discussions"
**Describe the bug**
When a section editor (or a role with SE privileges) is added to a submission with only the ability to recommend an editorial decision, and they create a recommendation and also check the box that says "create a discussion", they cannot see it in the discussion area. This is because they are not added as a participant.

**To Reproduce**
Steps to reproduce the behavior:
1.  Ass

[2022-05-04 18:34] asmecher commented on #7901
Here is a SQL query to identify suspect records:
[code]

[2022-05-04 18:39] asmecher commented on #7903
@touhidurabir, this might be a good intro to an issue with the workflow.

[2022-05-04 23:02] ewhanson commented on #7900
Hey @asmecher, this was an issue in the way Safari's JavaScript `Date` functions handled date strings separated with a `-` (which returned `NaN` for any dates formatted like "2022-05-04" instead of "2022/05/04"). I've made PRs for OJS and OMP in both the `main` and `stable-3_3_0` branches. Could you have a look? Thanks!

PRs:

- `ui-library:stable-3_3_0`: pkp/ui-library#199
- `ui-library:main`: pk

[2022-05-05 06:39] touhidurabir commented on #4240
@asmecher I have updated the PRs based on your feedback . now the removal process is on by default with `28` days set as default . wording as per @NateWr suggested as

[code]

@NateWr if this PR get merged , we need to update our doc so let previous users know about this option so that they can update existing installation.  what is the best approach to do that ?

[2022-05-05 06:42] touhidurabir commented on #7903
@asmecher working on it .

[2022-05-05 08:59] NateWr commented on #4240
Thanks @touhidurabir! For the docs, can you add an issue to https://github.com/pkp/pkp-docs/issues? In the issue title, add "Release Notebook 3.4", and I'll know to include this into our next release notebook.

[2022-05-05 10:32] steinmb commented on #4679
I assume the "upgrade process" refer to upgrade of pkp-lib (from now ref. as core). I personally are fine that core of the system do not try to perform any auto upgrade of 3-part installed modules/plugins. From my new and relative limited knowledge of the plugins do I see now way for core of the system to know what core version the plugins work with. If this is true do I think it is safer to leave

[2022-05-05 12:24] alexxxmendonca opened #7904 "Reconsider the limit of authors listed for a submission"
**Describe the problem you would like to solve**
Currently there is a limit of 100 authors that could be listed as contributors for a submission in OJS or OPS.

We have been recently approached by an author who wanted to submit their paper to SciELO Preprints but couldn't because the total of authors was 124 and the 100 limit in OPS did not allow the submission to be completed.

The article ended

[2022-05-05 19:04] asmecher commented on #7900
Thanks, @ewhanson! @NateWr, could you review the above PRs?

[2022-05-05 20:23] emmauhl commented on #4932
Another +1 from a PS client!

[2022-05-05 22:17] asmecher commented on #4240
Thanks, @touhidurabir!
I've reviewed your PRs:
- https://github.com/pkp/pkp-lib/pull/7890 (pkp-lib)
- https://github.com/pkp/ojs/pull/3385 (ojs)

[2022-05-05 22:29] asmecher commented on #6983
@touhidurabir, I've added a comment at https://github.com/pkp/pkp-lib/pull/7886 -- looks like the code formatter isn't working.

I'd suggest closing the `stable-3_3_0` PRs; this is scheduled against 3.4.0, so won't be included in the next 3.3.0-x release.

[2022-05-05 23:42] asmecher commented on #7670
^ Ah, interesting. I'll drop a link to this conversation into that code in case it's confusing later. Upgrade testing should catch cases like this, since they cover both ADODB and Laravel migration-based cases. I'll close this issue for now, but if there are other cases, please file them.

[2022-05-05 23:42] #7670 closed

[2022-05-06 01:30] asmecher commented on #7392
PRs:
- pkp-lib: https://github.com/pkp/pkp-lib/pull/7906
- ojs: https://github.com/pkp/ojs/pull/3390
- ops: (needs porting)
- omp: (needs porting)

The approach here was just to list out, brute force, the site administrator role alongside the journal manager. I considered hacking the role system to make an exception for the site administrator, but judged that to have more technical debt if e.g. we

[2022-05-06 08:33] georgd commented on #7470
The same applies to file stage 8 `SUBMISSION_FILE_EDITOR` . Which would be the appropriate file stage in OJS 3?

[2022-05-06 13:07] jonasraoni commented on #7446
About the `is_imported` suggestion, there's an issue to track this type of information here: https://github.com/pkp/pkp-lib/issues/7859

[2022-05-06 13:29] jonasraoni commented on #7720
@asmecher these logging tools normally allows us to configure the logs in a generic way, e.g.:
- Configure `critical` errors to be sent by email to the administrator
- Configure the level of errors we're interested (for a production environment we could set it to log only errors or worse events)
- Add a plugin to provide extra functionality (e.g. use a SMS service)

It also provides such construct

[2022-05-06 15:43] asmecher commented on #4240
Looks good, @touhidurabir! Just one trivial (indentation) comment on the OJS PR. Could you port these to OMP and OPS `main`? Once they're all ready I can merge.

[2022-05-06 16:12] touhidurabir commented on #4240
@asmecher Full PRs list

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#4240 Remove unvalidated new accounts after expiry](https://github.com/pkp/pkp-lib/pull/7890)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#4240 Submodule Update ##touhidurabir/i4240_fix_main##](https://github.com/pkp/ojs/pull/3385)
[ops](https://github.com/pkp/ops) --> [pkp/pkp-lib#4240 Submodule Update ##touh

[2022-05-06 16:23] ctgraham commented on #7793
PRs:

- stable: https://github.com/pkp/pkp-lib/pull/7809
- main: https://github.com/pkp/pkp-lib/pull/7876

Tests:
- https://github.com/pkp/ojs/pull/3377
- https://github.com/pkp/omp/pull/1107
- https://github.com/pkp/ops/pull/272

@asmecher, can we get merges and submodule bumps for these?

[2022-05-06 18:35] asmecher commented on #4240
All merged except the OJS PR (see https://github.com/pkp/ojs/pull/3385#issuecomment-1119895893).

[2022-05-06 18:49] touhidurabir commented on #6983
@asmecher the code formatting issue should be fixed now . please review .

[2022-05-06 20:33] asmecher commented on #6983
Thanks, @touhidurabir! Merged the pkp-lib PR and resolved the lib/pkp submodule updates manually.

[2022-05-06 20:33] #6983 closed

[2022-05-08 05:16] touhidurabir commented on #4240
@asmecher I have added a comment for the `ojs`, please check it at https://github.com/pkp/ojs/pull/3385#issuecomment-1120245950 .

[2022-05-08 07:07] touhidurabir opened #7907 "Copy editor can not view assigned submission for copy editing."
**Describe the bug**
After the submission assigned to a `copy editor` user, if they copy editor user try to view it , a blank page is showing which points out an internal exception .

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Submission.
2. Complete up to the review process .
3. Create a new user with `copy editor` role .
4. Assign the copy editor user to the submission .
5

[2022-05-08 07:14] touhidurabir opened #7908 "Reviewer can not submit review details if submission associated with any review form."
**Describe the bug**
After a review request sent to a reviewer that has a review form associated with, when the reviewer try to submit the review filling all necessary details , it throwing internal exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Submission .
2. Assign a reviewer and make sure a review form is associated with it .
3. Login as the reviewer to review th

[2022-05-08 07:28] touhidurabir opened #7909 "Can not accept a submission if associated review has any review form attached to it."
**Describe the bug**
At `Accept Submission`, if the associated review has any review form attached to it , it throws internal exception with 500 error code.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Submission.
2. Assign a reviewer and make sure it has a `Review Form` associated with it.
3. Complete the review process.
4. Try to `Accept Submission` and that will present a 500

[2022-05-08 07:43] touhidurabir commented on #7909
### Exception Tracing

Exception originated from `PKP\mail\traits\ReviewerComments` as defined

[code]

Which delegate the call to `PKP\reviewForm\ReviewFormElementDAO` in the method `getByReviewFormId` as defined

[code]

which delegate to `PKP\db\DAOResultFactory` at method `getCount` where as no $sql is passed , so this line get executed as

[code]

[2022-05-08 09:15] touhidurabir commented on #7907
@asmecher Here is the PRs list . Only did it for `pkp-lib` and `ojs` of both `stable-3_3_0` and `main` branch . Once reviewed and confirmed , I will forward the changes for 'ops' and `omp` of both `stable-3_3_0` and `main` branches.

### `stable-3_3_0` PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7907 Copy editor can not view assigned submission for copy editing](https://github.

[2022-05-08 09:53] touhidurabir commented on #7908
@asmecher PRs list . Once reviewed, I will forward to `OPS` and `OMP` .

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7908 Reviewer can not submit review details if submission associated with any review form](https://github.com/pkp/pkp-lib/pull/7912)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7908 Submodule Update ##touhidurabir/i7908_fix_main##](https://github.com/pkp/ojs/pu

[2022-05-08 10:10] touhidurabir commented on #7909
@asmecher PRs. once reviewed, I will see if I need to forward the changes to `OPS` and `OMP`.

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7909 Can not accept a submission if associated review has any review form attached to it](https://github.com/pkp/pkp-lib/pull/7913)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7909 Submodule Update ##touhidurabir/i7909_fix_main##](https://

[2022-05-08 13:35] withanage commented on #7395
I have checked the OMP  and OPs, if this issue persists and  could not find any usages.

@NateWr can you review this PR:

- https://github.com/pkp/ojs/pull/3369

[2022-05-08 15:14] jonasraoni opened #7914 "[Plugin][PLN] Enable external access to the plugin URLs for private journals"
**Describe the problem you would like to solve**
When a journal is protected by login, the staging server is unable to request the URL `gateway/plugin/PLNGatewayPlugin`

**Describe the solution you'd like**
Allow any custom URL of the plugin to passthrough.

**Who is asking for this feature?**
User in forum

[2022-05-08 19:56] jonasraoni commented on #7885
@asmecher Just a small PR to address this issue, I've been seeing it often in the forum, then I'll port it back for the older branches.
- https://github.com/pkp/pln/pull/15

[2022-05-09 09:42] NateWr commented on #7907
Thanks @touhidurabir! I think this is a duplicate of https://github.com/pkp/pkp-lib/issues/7822. I'll let Alec sort out what to merge.

[2022-05-09 09:46] NateWr commented on #7903
Are we sure that this is a bug? This may be the way it was intended. Internally, we call this query a "discussion between the deciding editors", and this behaviour was copied over in my work on 3.4.

I think we need to investigate the original use case before adding the recommending editor.

[2022-05-09 09:58] bozana commented on #6782
Hi @NateWr, THANKS A LOT!!! I will then first take a look into the PR comments. Once I've done that, I will take a look at the points you mentioned here... :pray:

[2022-05-09 09:59] touhidurabir commented on #7903
So this is happening for any kind of Editors, not Just SE but Guest or Journal Editors if they do not given the other permissions but only able to recommend . And from reviewing the code , it does not seems like a bug but rather an intended behaviour based on which the implementation is done as @NateWr has mentioned .

So question is should we allow other editors to be add as the participants when

[2022-05-09 10:20] jnugent commented on #7903
This issue was filed because a PKP PS hosted client reported that their section editors were creating these discussions and then not being able to follow up in them with further comment, or even knowing that the discussion was created.  There's no UI feedback that the creation of the discussion worked. If the intention is for Section Editors to be able to create a discussion to go along with a rec

[2022-05-09 10:32] NateWr commented on #7720
@jonasraoni right now we don't have any code in the system that logs events like this. We're still looking for a motivating use case that demonstrates _where exactly in the code we would implement `$logger->debug()` and why_. The way I put it before is:

For example: when Event A happens we should be logging to Channel B because User C wants to observe that event.

[2022-05-09 10:36] jonasraoni commented on #7914
@asmecher The purpose of this PR is to ensure the internal plugin routes are accessible when the journal's content is protected by login.
- https://github.com/pkp/pln/pull/16

Also, let me know if I should port it back to all branches.