[2019-02-28 20:41] asmecher commented on #4462
OK, thanks. I'll consider this a WONTFIX for 3.1.2 if it's almost-but-not-quite-right, as it already sounds resolved in 3.2. Barring a lot of confusion from users, or a sudden interest on someone's part in sending in a PR :)

Thanks, @ctgraham!

[2019-02-28 20:41] #4462 closed

[2019-02-28 20:43] mfelczak commented on #4524
Hi @asmecher, this was the page title locale key in an OJS 3.1.1-4 install, i.e. from the template header:

```{include file="frontend/components/header.tpl" pageTitle="category.categories"}```

[2019-02-28 21:26] asmecher opened #4561 "Fix Google Scholar plugin enabling on upgrade"
It looks as though this was not working for OJS 2.x to 3.x upgrades. (Also Dublin Core meta tags.)

Proposal:
- Enable them for upgrades from anything to 3.1.1-4
- Add a note at the end of release notes warning that this has been done automatically

[2019-02-28 21:48] asmecher opened #4562 "Hide edit/delete/upload link actions for galleys from authors"
...in production stage.

[2019-02-28 21:52] #4562 closed

[2019-02-28 21:52] #4561 closed

[2019-02-28 21:54] asmecher commented on #4561
Users wanting to batch-enable the Google Scholar and Dublin Core plugins on their system can do so by executing the following SQL statements:
[code]
Upgrading to OJS 3.1.2 (or later) will also perform this.

[2019-02-28 22:35] israelcefrin opened #4563 "Disabled plugins when upgrading from OJS 2.4.8"
In a testing upgrade some plugins were not enabled by default:

- Dublin  Core Indexing Plugin
- Google Scholar Indexing Plugin
- Block plugins

[2019-02-28 22:39] asmecher commented on #4563
See https://github.com/pkp/pkp-lib/issues/4561 for the GS and Dublin Core plugins. For block plugins, there's a default set that's enabled by default, and others are intentionally left available but disabled. Are there some in particular you expect to see enabled by default?

[2019-02-28 22:44] israelcefrin commented on #4563
Hi Alec,

Thanks for the update.  No special reason for the Block plugin, it is just a report regarding plugins when upgrading a real client. First two plugins are a kind of required be enabled (at least I always enabled them if they aren't so in a fresh install).

Cheers,
Israel

[2019-03-01 00:18] asmecher commented on #4563
OK -- in that case, I think this is resolved in #4561.

[2019-03-01 00:18] #4563 closed

[2019-03-01 02:44] hrace009 opened #4564 "QuickSubmit Error"
I just installed quick submit and got this fatal Error:

`[01-Mar-2019 09:41:22 Asia/Jakarta] PHP Fatal error:  Call to undefined method TemplateManager::registerPlugin() in /plugins/importexport/quickSubmit/QuickSubmitPlugin.inc.php on line 63`
OJS version: 3.1.1.4 (January 7, 2019 - 10:49 AM)

please help.

Thank you

[2019-03-01 05:59] asmecher commented on #4564
@hrace009, you've probably installed the wrong version of the plugin for your version of OJS. Best to install it via the Plugin Gallery inside OJS, or to download the appropriate version from the "Releases" area of the git repository.

[2019-03-01 05:59] #4564 closed

[2019-03-01 12:25] Baytan opened #4565 "Please help. Reviewer invitation mails blocked"
We are using OJS 3.1.1.4. We are having great difficulties in these days as we have troubles to reach reviewers that are essential for the editorial processes of a journal.

I see that most of our review invitations are not received by the potential authors. Sometimes I get warning emails that tells that the email is blocked. Sometimes I get no info but I see that the mail is not received.

One of

[2019-03-01 13:43] heike-r opened #4566 "XML-imported issues are missing the option to be set to 'current'"
We are using OJS 3.1.0.1
For one journal, we imported all issues via the xml native import and we noticed, that the option to set the current issue (dashboard, in the back issue gallery) is not there for all of them. So, the last imported issue is now the 'current' one and we can not change it.

The same has been reported here [https://forum.pkp.sfu.ca/t/ojs3-cannot-choose-current-issue-after-impo

[2019-03-01 13:49] Baytan commented on #4565
when I dig the matter more I see that the relevant part in error log is:
[01-Mar-2019 16:37:10 Europe/Istanbul] SMTP connect() failed. when I tried to use SMTP. I examined many things on the net and see that it is beyond my understanding. I do not know how to solve this issue.

I hope someone can guide me.

[2019-03-01 16:29] ctgraham commented on #4462
The issue with my Spanish view of the German journal was the the German journal didn't have any data in the German locale for the Journal Title.  I'm not sure how the data entry error occurred, but the functional change of this PR is correct when the German journal has a title in the journal's default locale.

[2019-03-01 16:57] mfelczak commented on #4522
Hi @asmecher, to help us with patching, would you be able to commit the gists above to their respective ojs-stable-* branches?

[2019-03-01 17:28] asmecher commented on #4565
@Baytan, this is more of a support question than a bug report. I'd suggest posting it on our support forum (https://forum.pkp.sfu.ca).

[2019-03-01 17:28] #4565 closed

[2019-03-01 17:59] asmecher commented on #4522
I've just cherry-picked/committed all the way back to 3.0.1.

[2019-03-01 20:13] mfelczak commented on #4522
Thanks @asmecher!

[2019-03-02 09:55] mtub commented on #4503
Hi @rvdb, if you still want to address OJS 3.1.1, feel free to open another PR after completing your work.

[2019-03-04 05:45] hrace009 commented on #4564
i used this one, https://github.com/pkp/quickSubmit

[2019-03-04 05:47] hrace009 commented on #4564
can you tell me witch version should i used?

[2019-03-04 06:00] hrace009 commented on #4564
@asmecher btw, i never seen plugin gallery inside OJS

[2019-03-04 06:02] hrace009 commented on #4564
Where i can find plugin gallery here?
![image](https://user-images.githubusercontent.com/7691118/53713502-ab764600-3e7d-11e9-8a52-400f26c96057.png)

[2019-03-04 10:12] NateWr commented on #4524
@mfelczak this _may_ have been fixed in https://github.com/pkp/pkp-lib/issues/4446 which went into 3.1.2. The relevant commit was https://github.com/pkp/pkp-lib/pull/4454/commits/d1209076973c118b89ff60926bc6814d3c4b917c. Can you check if that helps?

[2019-03-04 10:45] NateWr opened #4568 "Make it easy for editors to leave or mute discussions"
To help editors better manage their notifications -- both emails and in-app -- we should make it easy for them to leave or mute a discussion. Leaving would remove them as a participant. Muting would prevent them from receiving emails and in-app notifications about it.

Some use cases to consider:

- **As an** editor
  **I want to** create a discussion between a layout editor and the author
  **so

[2019-03-04 10:46] NateWr commented on #4556
I kind of agree that anyone making a contribution to a discussion (new or reply) should be opted into it, and they should have to opt out of it if they don't want. That follows the patterns I'm aware of in other workflow/task management software, like GitHub, Trello or Slack (obviously weighted towards techies).

That said, I think Alec's use-case is common. It's good to know that, as is, editors

[2019-03-04 10:51] NateWr commented on #4557
**Always** better to have `alt` text for images except when:

- the image is purely decorative and has no "content" (example - [patterns](https://www.toptal.com/designers/subtlepatterns/).
- the image is sufficiently described in other text.

[2019-03-04 16:44] asmecher commented on #4564
@hrace009, you can find the Plugin Gallery in Settings > Website > Plugins. If you're logged in as an administrator, you can install plugins directly from there.

[2019-03-04 16:45] NateWr opened #4569 "URLs are often double-escaped in smarty templates"
We often use `{url|escape ...}` in a Smarty template when the URL contains user input. However, the `{url}` function already escapes the final URL, so this is unnecessary.

All instances of `{url|escape ...}` should be changed to `{url ...}`.

[2019-03-04 16:50] asmecher commented on #4569
There is one case where the form `{url|escape ...}` is used in Javascript -- that should be changed to use `json_encode` instead. See `lib/pkp/templates/controllers/grid/queries/form/queryForm.tpl`:

    $('#queryForm').pkpHandler(
     '$.pkp.controllers.form.CancelActionAjaxFormHandler',
       {ldelim}
         cancelUrl: {if $isNew}'{url|escape:javascript op="deleteQuery" queryId=$queryId csrf

[2019-03-04 17:44] ViRuSTriNiTy commented on #4564
... or click **Site Settings** and then navigate to the **Plugins** tab to enabled / disable a plugin for the whole site.

[2019-03-05 02:00] asmecher commented on #4177
@paschty, I've just done some work with the Sword plugin to get it going for OJS 3.1.2, and ran across the missing file problem. Can you try this patch?

https://github.com/asmecher/sword/commit/a03d2990ce801c877ce83079e4aa8e40210f421e

If you're able to confirm that this resolves the problem, I'll put together a new release for OJS 3.1.1. (There's a new release for OJS 3.1.2 that already contains

[2019-03-05 02:29] hrace009 commented on #4564
![image](https://user-images.githubusercontent.com/7691118/53776516-dec1df00-3f28-11e9-9226-d5dabae50604.png)
![image](https://user-images.githubusercontent.com/7691118/53776546-eda89180-3f28-11e9-88bb-174782781aed.png)
![image](https://user-images.githubusercontent.com/7691118/53776557-f600cc80-3f28-11e9-88ef-0a819816f7ed.png)
![image](https://user-images.githubusercontent.com/7691118/53776566-fd

[2019-03-05 02:29] hrace009 commented on #4564
@ViRuSTriNiTy
i wanted to install quicksubmit plugin, not enable or disable plugin.

[2019-03-05 05:00] hrace009 commented on #4564
`[05-Mar-2019 11:51:20 Asia/Jakarta] PHP Fatal error:  Uncaught Error: Call to undefined method Application::getMetadataFields() in /journalv3/plugins/importexport/quickSubmit/QuickSubmitForm.inc.php:104
Stack trace:
#0 /journalv3/plugins/importexport/quickSubmit/QuickSubmitPlugin.inc.php(88): QuickSubmitForm->display(false)
#1 /journalv3/lib/pkp/pages/management/PKPToolsHandler.inc.php(98): Quick

[2019-03-05 05:06] hrace009 commented on #4564
and how do i reopen this case? since it not solving my problem 👎

[2019-03-05 05:36] hrace009 commented on #4564
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/gvFYqK2l3Ks/0.jpg)](https://www.youtube.com/watch?v=gvFYqK2l3Ks)

[2019-03-05 08:52] ajnyga opened #4570 "OJS 3.1.2 Empty section policy in submission step 1"
Scenario: only one section in a journal and no section policy given to that section. The submission form step 1 shows an empty Section policy title:

<img width="517" alt="screen shot 2019-03-05 at 10 51 11" src="https://user-images.githubusercontent.com/16347527/53792632-cbb50c00-3f34-11e9-900e-672c190ff081.png">

[2019-03-05 10:05] NateWr commented on #4412
@ptrckb That's some clever monkey patching in the `SubmissionsListPanel`!! :heart:

[2019-03-05 10:08] NateWr commented on #4412
This is unintentional so I've labeled it a bug.

[2019-03-05 12:55] rochpaul commented on #4177
@asmecher, I have installed the following patches:

https://github.com/asmecher/sword/commit/baac36d64291655e2484125cca6aa26b64b8974f.diff
https://github.com/asmecher/sword/commit/a03d2990ce801c877ce83079e4aa8e40210f421e

@paschty have tested the sword plugin and the problem is solved.

Thank you very much @asmecher for the patches.

[2019-03-05 14:41] ajnyga opened #4571 "OMP 3.1.2 Call to undefined method SiteSetupForm::getFormLocale()"
Getting this error when trying to save site settings form in OMP 3.1.2
`PHP Fatal error:  Uncaught Error: Call to undefined method SiteSetupForm::getFormLocale() in lib/pkp/classes/admin/form/PKPSiteSettingsForm.inc.php:135`

This is a totally new install.

[2019-03-05 14:46] ajnyga commented on #4571
Should be `getDefaultFormLocale`?

[2019-03-05 15:38] ajnyga opened #4572 "OMP 3.1.2 about/submissions gives Unknown locale component 259 error"
Opening that public page gives an error.

Probably because of this section of code here: https://github.com/pkp/pkp-lib/blob/stable-3_1_2/pages/about/AboutContextHandler.inc.php#L89-L97

That looks like OJS specific code in the shared library? There are no sections in OMP right?

[2019-03-05 15:46] ajnyga commented on #4572
Probably these changes created the problem: https://github.com/pkp/pkp-lib/issues/2638

[2019-03-05 15:54] asmecher commented on #4564
@hrace009, the problem you're encountering is [caused by installing the wrong version of the plugin](https://github.com/pkp/pkp-lib/issues/4564#issuecomment-468552920). The solution is to install the correct version, [e.g. from the Plugin Gallery](https://github.com/pkp/pkp-lib/issues/4564#issuecomment-469323988). First you'll have to manually remove the incorrect version you installed, by deletin

[2019-03-05 16:02] asmecher commented on #4177
Released v1.0.1-1 for OJS 3.1.1 with this fix included. Thanks, @rochpaul!

[2019-03-05 16:02] #4177 closed

[2019-03-05 19:46] asmecher opened #4573 "Ensure that OAI is enabled by default for new journals"

[2019-03-05 19:54] rvdb commented on #4503
plugin submodules (11) still have to come, hopefully tomorrow

[2019-03-05 21:16] asmecher commented on #4573
For journals that want to apply this change to OJS 3.1.2-0, run the following SQL:
[code]
This will not interfere with journals that have actively chosen to disable the OAI support, but will add the setting (default "enabled") where it is missing.

[2019-03-05 21:16] #4573 closed

[2019-03-06 00:21] rvdb commented on #4503
@mtub done!

[2019-03-06 00:33] hrace009 commented on #4564
@asmecher you not watch video that i have shared.
Please take a look https://youtu.be/gvFYqK2l3Ks

i can't install or uninstall plugin at plugin gallery

[2019-03-06 00:38] asmecher commented on #4564
Did you try deleting the directory I suggested above?

[2019-03-06 00:39] hrace009 commented on #4564
i have delete it. and i am the administrator can't install the plugin from plugin gallery

[2019-03-06 00:39] hrace009 commented on #4564
i have try everything you suggest, but no result

[2019-03-06 00:40] hrace009 commented on #4564
i only have this at my administration dashboard
![image](https://user-images.githubusercontent.com/7691118/53847373-12f9d600-3fe3-11e9-8383-77dc9e1be7cc.png)

[2019-03-06 04:58] asmecher commented on #4564
@hrace009, it looks like you're going to the Plugin Gallery with a Journal Manager user, not a Site Administrator user. Log in as a user with a Site Administer role, then go to the Plugin Gallery and view the QuickSubmit plugin.

[2019-03-06 06:57] ajnyga opened #4575 "Autocomplete inputs (e.g. OMP 3.1.2 Add spotlight feature) are broken"
If I try to add a new Spotlight item, the autocomplete title search does now work.

I have added one title to the press. Searching for that title gives me two matches.
<img width="544" alt="screen shot 2019-03-06 at 8 51 58" src="https://user-images.githubusercontent.com/16347527/53861766-c7005e80-3fed-11e9-9b1b-3e2baf9796f9.png">

If I proceed to choose the "Test title" the value entered to the f

[2019-03-06 07:07] ajnyga commented on #4575
These javascript warnings appear when I open the Add Spotlight form:

First a warning:

[code]

and then an actual error:

[code]

[2019-03-06 07:18] ajnyga commented on #4575
I can fix this by editing pkp.min.js line 47 changing `0==b.size()` to simply `0==b.size`

However, I still get the [Object object] match when I search for a title, but can now choose the Test title and save the form successfully.

Not that size is deprecated and length should be used instead.

[2019-03-06 08:19] Velliz commented on #4164
So... i must upgrade OJS to version 3.1.2 to resolve the error?

[code]

[2019-03-06 08:38] ajnyga opened #4576 ""Smarty: Unable to load template" fatal errors"
`PHP Fatal error:  Uncaught  --> Smarty: Unable to load template 'app:plugins/generic/pdfJsViewer/templates/display.tpl' <-- \n  thrown in /lib/pkp/lib/vendor/smarty/smarty/libs/sysplugins/smarty_internal_template.php on line 195, referer: http://myomptest.com/index.php/test/catalog/book/2
`
[Ed: Also applies to web feed plugin, payment settings forms, ONIX and CSV exports, with various template n

[2019-03-06 08:49] bdmckay commented on #4164
We applied [this](https://github.com/pkp/pkp-lib/pull/4165/commits/8a4bd765470b4011a5d877e1bbf074b144739fa2) and [this](https://github.com/ptrckb/ojs/commit/f9a45c1679cb6b8676f91a3412075a9527c52ad7)  manually to OJS 3.1.1-4 and it works fine. That doesn't mean it will work for you.
Set force_default_envelope_sender and force_dmarc_compliant_from to On, and define a value for dmarc_compliant_from_d

[2019-03-06 09:01] Velliz commented on #4164
Thanks for pointing the commits and config template file. My OJS installation is meet version 3.1.1-4 as you mentioned.

I will try to change that part and report the results here later.

[2019-03-06 09:22] Velliz commented on #4164
@bdmckay your sugestion is worked perfectly on my OJS installation! Thanks!

[2019-03-06 09:52] ajnyga opened #4578 "OMP 3.1.2 New releases and featured not visible in front page"
With a clean install of OMP 3.1.2 I add two new titles, add catalog entries and select `Display featured books on the home page` and  `Display new releases on the home page` from the settings. I then go to my Catalog settings and select Featured and New Release for both titles.

However, no books appear on the front page when using the default theme.

Also the `catalog/newReleases` page is empty.

[2019-03-06 09:58] ajnyga opened #4579 "OMP 3.1.2 Information block plugin has a link that leads to 404"
The information block plugin in OMP has a link called `Notifications` https://github.com/pkp/omp/blob/master/plugins/blocks/information/templates/block.tpl#L41 that leads to a 404 page.

Looks like it has been there since OMP 1.2

[2019-03-06 10:38] NateWr commented on #4572
OMP has Series which I believe are just an extended class of Sections. But still that code is probably not correct for OMP.

[2019-03-06 10:40] NateWr commented on #4575
_Maybe_ related to https://github.com/pkp/pkp-lib/issues/4208

[2019-03-06 10:43] NateWr commented on #4576
Are you sure that you have updated that plugin to the appropriate commit for 3.1.2? If you're running OMP off of git, you may need to run `git submodule update --init --recursive`.

[2019-03-06 10:43] ajnyga commented on #4576
I downloaded OMP 3.1.2 from the PKP website and installed that.

[2019-03-06 10:44] NateWr commented on #4579
This page is deprecated and the link should be removed.

[2019-03-06 10:44] ajnyga commented on #4576
OMP has it's own pdf.js plugin: https://github.com/pkp/omp/tree/stable-3_1_2/plugins/generic/pdfJsViewer

[2019-03-06 10:48] ajnyga commented on #4575
I think `size` was removed in jquery 3, but I did try replacing it with `length` and got the same error. Maybe `size` is still redirecting calls to `length`, but `length` in 3.0 does not allow what `size` used to allow?

[2019-03-06 11:17] ajnyga commented on #4575
ah ok, so you can not call `length` like `length()`. Changing the values to just .`length` works, but `[Object object]` is still there.

[2019-03-06 14:18] JenHoops commented on #4099
Hi! We've recently had several of our journal editorial teams ask for some filters/searching options for the submission dashboard I'm not currently seeing in the OJS program, or potentially in development on this list.

- A tab/function that will allow users to search all content, in both archives and active submissions

- Ability to sort by submission date: allow editors to sort any submission li

[2019-03-06 14:19] amandastevens commented on #4412
A comment from a PKP|PS hosted client: "This is a big problem. I would expect most users to tick the reviewer box when they register. This leads to a lot of confused authors when they get to the site, and there is no "new submission" button. Indeed, I've answered four inquiries already in the past week. When will this bug be fixed?"

[2019-03-06 14:56] NateWr commented on #4412
The next most likely release for a fix is 3.2. In the meantime, for individual clients you can use @ptrckb's plugin. You'll just need to note to disable it when upgrading to the version with the fix in.

[2019-03-06 17:18] NateWr commented on #3786
This will probably be addressed as part of work on refactoring ListPanels in #2906.

[2019-03-06 18:20] ajnyga commented on #4556
Ok, so if we do not want automatic opt-in when editor replies to a discussion, then should we have the checkbox alternative?

I mean in the form that is used to answer a discussion, we could have:
`[] Notify me when someone replies to this discussion`

This would be visible if the user is not yet a participant in the discussion and it would be hidden if the editor is already a participant or has o

[2019-03-06 19:30] asmecher commented on #4576
@ajnyga, looks like I missed a grep/replace when doing the Smarty3 updates, and some important parts of OMP didn't get testing before release. Try applying https://github.com/pkp/omp/commit/cccc763e2afdf2e9c8fc360c81ac46f9c7f5721b to correct the errors. This will likely mean an OMP 3.1.2-1 build sooner rather than later, but I'd like to give a little more time for early feedback before we do that.

[2019-03-06 19:30] #4576 closed

[2019-03-06 19:32] ajnyga commented on #4576
I think I tried that already and did not work, but will check again

[2019-03-06 19:38] ajnyga commented on #4576
works, thanks!

[2019-03-06 20:05] asmecher commented on #4572
This only applies to presses with no series that can be submitted to. The attached patch should fix it.

[2019-03-06 20:05] #4572 closed

[2019-03-07 09:18] mpbraendle opened #4580 "[OJS] OJS 3.1.2 Wrong header in default/styles/pages/indexSite.less"
Cosmetic change: The header part of default/styles/pages/indexSite.less was copied over from default/styles/pages/indexJournal.less . file, brief and link should be corrected.

[2019-03-07 10:14] NateWr commented on #4556
I think we do want to opt them in when they reply to a discussion. We also want to provide an easier way for them to opt out.

Instead of adding the opt out to the grid, let's add a "Leave Discussion" button on the right in the row of buttons at the bottom of the discussion modal.

[2019-03-07 10:16] mpbraendle commented on #4580
The same is true for plugins/themes/default/styles/pages/category.less , where the header was copied over from plugins/themes/default/styles/pages/contact.less

[2019-03-07 17:08] ajnyga commented on #4576
One thing I noticed. The CSV plugin calls for a index.tpl file, but I can not find such file in the directory. It seems that it has never been there since 1.0. Does that only work from command line?

https://github.com/pkp/omp/blob/stable-3_1_2/plugins/importexport/csv/CSVImportExportPlugin.inc.php#L70****

[2019-03-07 17:12] asmecher commented on #4576
Ah -- yes, it's command-line only. That's filed for change over at https://github.com/pkp/pkp-lib/issues/1352.

[2019-03-07 18:26] asmecher commented on #4580
Fixed, thanks!

[2019-03-07 18:26] #4580 closed

[2019-03-08 07:42] ajnyga commented on #4579
Hi, I did not run the tests since this is a very minor pr: https://github.com/pkp/omp/pull/652

[2019-03-08 08:44] ajnyga commented on #4578
This is a multi-context issue and connected to the grid that is used to select submissions for new releases and featured content.

In the  `new_releases` table `assoc_id` should be the press id. However, at the moment the code always saves the value `1`.

If I edit the db table by hand and change the assoc_id to match the press id, everything in frontend works.

[2019-03-08 09:25] ajnyga commented on #4578
Probably due to this: https://github.com/pkp/ui-library/blob/master/src/components/ListPanel/submissions/CatalogSubmissionsListPanel.vue#L237

[2019-03-08 10:29] ajnyga commented on #4578
There is another reference to "OMP can only have one press" here: https://github.com/pkp/omp/blob/master/classes/install/Upgrade.inc.php#L646

Is this really something that is going to happen with OMP?

[2019-03-08 14:57] hrace009 commented on #4564
@asmecher i login with journal manager or site administrator, it give the same view! and when i login with site administrator i don't have plugin gallery on my dashboard.

can you watch the video i shared? can you get it?

[2019-03-08 14:59] hrace009 commented on #4564
i'am the one who installed this OJS for the lecture. and my ID is the ID #1 (SITE ADMINISTRATOR)
when the first time i install that OJS, it give that menu for me!

[2019-03-08 18:16] asmecher commented on #4564
@hrace009, I have watched your video. When you log in as a Site Administrator, you go only to Administration, not to Dashboard > Settings > Website > Plugins > Plugin Gallery. (If you don't see "Settings" when you get to your dashboard, you may need to choose a journal from the top-left drop-down.)

The Plugin Gallery is currently only available through Settings > Website > Plugins, not Administra

[2019-03-11 09:05] ptrckb opened #4584 "Missing escaping in submission checklist"
The labels for items of the submission checklist are not escaped.

See also #4522.

[2019-03-11 10:38] NateWr commented on #4579
Gracias. Do you mind opening a PR that just stages your commit against `stable-3_1_2`? That will ensure it goes out with 3.1.2-1.

[2019-03-11 10:42] ajnyga commented on #4579
https://github.com/pkp/omp/pull/653

[2019-03-11 10:53] #4579 closed

[2019-03-11 19:36] asmecher commented on #4584
Thanks, @ptrckb, I see the PR adding the submodule update: https://github.com/pkp/ojs/pull/2326
Can you also add a PR to pkp/pkp-lib for the change?

[2019-03-12 00:34] asmecher commented on #4578
No, we have no plans to change OMP to single-press! @bozana, would you mind looking at this?

[2019-03-12 11:56] ajnyga commented on #4571
OJS: https://github.com/pkp/ojs/pull/2328 (just submodule)
pkp-lib: https://github.com/pkp/pkp-lib/pull/4586

[2019-03-12 12:02] lguariento opened #4587 "[OJS] Failed opening required '../CliTool.inc.php"
Hello,

I'd like to install the OJS on my MAMP (OSX 10.14.3) to start with, with a view of deploying it officially once I make a full decision about it.

I've downloaded the folder from the GitHub repository and unpacked it under the htdocs (MAMP) folder, and changed permissions as required. When I navigate to the path with the browser I get a blank page and the console shows a

```The character e

[2019-03-12 13:49] lguariento commented on #4587
I've solved by installing via git.

[2019-03-12 13:49] #4587 closed

[2019-03-12 14:13] ptrckb opened #4590 "No parameter substitution in email after selecting another template"
When changing the email template in the form for adding a reviewer, the parameters are not replaced in the new template. The parameter names are shown instead.

Tested with OJS 3.1.1-4.

[2019-03-12 14:18] ptrckb commented on #4590
ojs PR pkp/ojs#2329
pkp-lib PR pkp/pkp-lib#4591

[2019-03-12 14:21] ptrckb commented on #4584
@asmecher PR pkp/pkp-lib#4589

[2019-03-12 15:47] alvgalrus opened #4592 "OJS 3.1.1-4 to 3.1.2 upgrade problem"
Hello.

I've been trying to upgrade our current OJS installation (PHP 5.6 + mysqli) to the latest version. But every time I try, I get an instantaneous blank page. The following warnings are recorded in the error log:

[code]

I'm getting the following line when I navigate the between the install pages:

[code]

The second time I try to run the script I get those other errors (I suppose they are r

[2019-03-12 16:35] asmecher commented on #4571
(The `master` branch does not need any changes. Thanks, @ajnyga!)

[2019-03-12 16:35] #4571 closed

[2019-03-12 16:39] Vitaliy-1 opened #4593 "Catalog Category page: article galleys require payment/subscription but are open"
On my OJS 3.1.2 instance, I've enabled subscription but gave free access to articles.
As a result on the catalog category page, I see a notice that article galleys require payment to be accessed.

The issue is because catalogCategory template includes article_summary template while not assigning [$hasAccess variable](https://github.com/pkp/ojs/blob/master/templates/frontend/objects/article_summary

[2019-03-12 19:35] asmecher commented on #4584
Thanks, @ptrckb -- merged to `stable-3_1_2`, and forward-ported manually to `master`.

[2019-03-12 19:35] #4584 closed

[2019-03-13 08:20] ajnyga opened #4595 "[OJS] Session problems in multijournal installations with custom base_url's"
Hi, this applies to all latest versions of OJS, because I think the code for sessions has been the same for a while.

Scenario:

User is logged in from the site level at `site.com`. A new session with domain `.site.com` is created.

User moves to a subdomain journal (custom base_url). The user no longer appears to be logged in and a second session is created with domain `.journalname.site.com`.

U

[2019-03-13 10:41] ajnyga commented on #4595
@ctgraham would really like to hear your view on this, I think you have dealt with similar issues before.

@asmecher my suggestion is that we allow a config override here: https://github.com/pkp/pkp-lib/blob/master/classes/session/SessionManager.inc.php#L41

The problem with `getServerHost` seems to be that it returns the main domain `site.com` on the site level but returns the journal subdomain `

[2019-03-13 12:36] ctgraham commented on #4595
My earlier investigation of this was largely based on divergent behavior of Internet Explorer:
http://wayback.archive-it.org/7100/20180509142027/https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8843

My original proposal suggested propagating up a session to the parent domain, if sessions on both the current domain and parent domain were found to belong to the same OJS installation.

I wasn't able to r

[2019-03-13 12:47] ajnyga commented on #4595
I have a feeling that PHP7 could be involved because I do not think these problems occured earlier and we have been using subdomains for 3 years now.

[2019-03-13 12:48] ajnyga commented on #4595
If you log in on the site level and move on to a subdomain context, do you get two session cookies?

[2019-03-13 12:54] ctgraham commented on #4595
Not in my testing as above.  Each domain as a single distinct cookie.  What browser are you testing with?

[2019-03-13 13:00] ajnyga commented on #4595
Ok, so just to be clear, my problem seems to be happening because each domain get a distinct cookie.

I log in in the site level > I get `site.com` cookie.
I move to a subdomain journal > I get new `journalname.site.com` cookie and have login again
I log out in from the context > the `site.com` cookie stays logged in and the `journalname.site.com` is logged out, but something is then preventing me

[2019-03-13 13:04] ctgraham commented on #4595
I concur.  This was the intent of my PR from 2014, though it appears it is not actually working that way, even in PHP5.

[2019-03-13 13:06] ajnyga commented on #4595
do you see any potential problems in allowing a config override that would just set a certain domain?
Just thinking how it all would work if some journal has a completely own domain.

[2019-03-13 13:16] ctgraham commented on #4595
I generally take a very negative view of variables in config.inc.php.  We ought to be able to handle this appropriately directly within the session management code.  If we can't, however, the use of a config.inc.php variable might be a solution.  I really strongly lean toward fixing the code.  The config.inc.php override would be problematic if any `base_url[]` did not exist in that "forced" cooki

[2019-03-13 13:47] ajnyga commented on #4595
The reason why I think a config is the only solution is because the main site may be installed on a subdomain address itself.

If you have  an organisation at`organisation.com` and they have OJS at `ojs.organisation.com` and subdomain journal at `journal1.ojs.organisation.com`. How do we know that we want to use `ojs.organisation.com` in the cookie domain? Or do you think we could just use `organi

[2019-03-13 13:58] ctgraham commented on #4595
I don't think we want to send the cookie to all of `organisation.com` for security purposes.

If access starts at `ojs.organisation.com`, and if the cookie for `ojs.organisation.com` is sent to `journal.ojs.organisation.com`, it should be trivial for the code to use the parent's cookie.

If access starts at `journal.ojs.organisation.com`, an additional login will be required if accessing `ojs.orga

[2019-03-13 14:03] ajnyga commented on #4595
hmm, ok. I will see if I can turn that into a pr

[2019-03-13 17:10] asmecher opened #4597 "Remove exclusion of necessary library"
See https://forum.pkp.sfu.ca/t/ojs-3-1-1-4-paypal-black-page/51369.

[2019-03-13 17:12] #4597 closed

[2019-03-13 17:14] ajnyga commented on #4595
Your suggestion can be reached by adding

[code]

here: https://github.com/pkp/pkp-lib/blob/master/classes/session/SessionManager.inc.php#L218

But I still think that allowing a domain to be set from config.inc.php would be a cleaner solution.

[2019-03-13 17:16] ajnyga commented on #4595
The reason why you end up with multiple cookies is that setcookie here: https://github.com/pkp/pkp-lib/blob/master/classes/session/SessionManager.inc.php#L227

is called with different domain names. Namely the main domain and the subdomains when you go to a context.

So maybe alternatively we could always delete the old cookie before setting the new one?

[2019-03-13 17:31] asmecher commented on #4383
Hi all -- sorry for the delayed response. @NateWr's proposal seems well considered and it looks like you're in agreement, @ViRuSTriNiTy.

(Potentially getting off on a tangent here -- but in rewriting the tests for a newer PHPUnit I had to introduce some changes to reduce the dependence on static function calls e.g. by using singleton or factory patterns instead. I see you're using `_instance` her

[2019-03-13 17:40] asmecher commented on #4590
Thanks, @ptrckb! I've merged this and cherry-picked forward to both `stable-3_1_2` and `master`.

[2019-03-13 17:40] #4590 closed

[2019-03-13 18:06] ajnyga commented on #4595
@ctgraham not seeing many problems with that solution https://github.com/pkp/pkp-lib/issues/4595#issuecomment-472519360

If you access the site from the site level, you end up with a single cookie. If you access from the subdomain journal, you end up with two and have to log in again on site level. Just like you described. But compared with the original situation that is not that bad.

Also I beli

[2019-03-13 18:15] asmecher commented on #4595
Hi all -- I've been following the conversation but haven't had much to add as our hosting team doesn't do much multi-journal hosting with different domains. I suspect the two of you have better use cases/test environments/etc. Generally this code has been stable and widely deployed, including in rewrite scenarios, so I do suspect something changed on the underlying platform e.g. with PHP7 support.

[2019-03-13 18:18] asmecher opened #4598 "Unify plugin READMEs and Plugin Gallery documentation"
Currently many plugins have READMEs (textual or Markdown) in their repos. The plugin gallery's XML also has a spot for inline self-documentation. It would be much better if both could rely on documentation built into the repository, to a) reduce the amount of duplication, b) give the plugin maintainer more control over the documentation, and c) make it less of a pain to maintain the plugin gallery

[2019-03-13 18:19] asmecher commented on #4598
(Ping @amandastevens and @AhemNason)

[2019-03-13 18:35] NateWr commented on #4383
Just pointing out that the use of `_instance` is part of the [Pimple](https://github.com/silexphp/Pimple) dependency injection library that Kassim integrated to manage our services.

It's pretty small so would be easy to replace with something else if we want. We had a PHP 5.3 compatibility requirements at the time so may be able to find something more modern now.

[2019-03-13 19:07] AhemNason commented on #4598
hi, yes please.

[2019-03-13 19:25] asmecher commented on #4533
Good spotting, @jonasraoni -- would you mind submitting a PR that moves content into the appropriate element? I remember hitting something like this before with our "required field" footer, but it looks like the same problem is appearing elsewhere.

[2019-03-13 20:08] asmecher commented on #4598
So this is easy to introduce:
[code]
However, there are some structural considerations before this won't look awful:
- Repository READMEs contain contact and credit information, which the Plugin Gallery already contains.
- Repository READMEs contain installation instructions, which might be irrelevant or, worse, different than the Plugin Gallery requires.
- There's no support in github (yet) for R

[2019-03-13 20:21] mtub commented on #4598
I think it does. If we can enforce/recommend a template for the README files, I'd prefer

/docs/en_US/README.md
/docs/de_DE/README.md

over

/docs/README-en_US.md
/dovs/README-de_DE.md

It's more in sync with the organisation of locale files, it's easier to parse (by a human), and it allows to include other files (images etc.) in the localised documentation.

[2019-03-13 22:48] eniocarboni opened #4599 "Submission searching in postgresql"
OJS-3.1.2
With reference to issue #3807, in PostgreSQL no search now works anymore.
In fact, the problem is in the new query that uses the SQL reserved word "as" as a table alias without the right quotes. In MySQL it works but in PostgreSQL it doesn't.
https://github.com/pkp/pkp-lib/blob/stable-3_1_2/classes/services/queryBuilders/PKPSubmissionListQueryBuilder.inc.php#L340-L344
To understand bette

[2019-03-14 02:42] navotera opened #4600 "Custom theme not work on OJS 3.1.2"
I have done a fresh install the OJS 3.1.2 on my localhost before doing some update to the production site.

Seem like OJS 3.1.2 failed when load the custom smarty template files. It always use the default layout provided by pkp library for any page although the custom layout provided in the plugin/themes/custom_theme/templates.

I try another theme, such as NateWr Boostrap 3 theme, HealthSciences,

[2019-03-14 08:11] isgrim commented on #4598
Yes please, I thought about how to include documentation on ORCID plugin configuration via the config.inc.php file and wanted to put it in the README.md.

[2019-03-14 08:18] isgrim opened #4601 "[OJS] orcidProfile Plugin: ORCID integration in User Register form broken"
Hi everyone and especially @Vitaliy-1 ,

@asmecher send an error message via teampkp Slack and I found out, that in 3.1.2 the [orcidProfile Plugin](https://github.com/pkp/orcidProfile) integration with the User Registration form is completely broken.

* Pre-fill of the form fields is not working because of the name changes
* the hook for "registrationform::execute" is also broken because of change

[2019-03-14 08:57] Baytan commented on #4601
I was also going to open an issue about this. We just upgraded to OJS 3.1.2. Some authors of our journal complain that they cannot register to the journal as new user. After I disabled the Orcid plugin, registering can be made.
Interestingly, when Orcid plugin is enabled, I cannot assign articles to issues. When I disable it, I can.

Thanks for the contributors of the OJS. Best regards.

[2019-03-14 09:02] isgrim commented on #4601
This was fixed with an updated version which was made available yesterday, see this pull request https://github.com/pkp/orcidProfile/pull/62

[2019-03-14 09:12] Baytan commented on #4601
@isgrim
Thank you for your interest and reply. I will look into it. However, user registration problem is still prevent use of this plugin for the time being. Regards.

[2019-03-14 09:15] isgrim commented on #4601
Yes, I am still thinking of a good solution to this, because there is another usability issue with user registration.
Currently the ORCID is also not stored as authenticated, because the access token is not submitted with the user registration, the whole registration process with the ORCID plugin needs more work, but I did not have more time to put into this.

[2019-03-14 10:07] Potomac54 opened #4602 "[OJS] Review form problem : authors can always see the entire review form"
Hello,

I use the last version of OJS (3.1.2),  I created a review form, and I notice (in open review mode) that the author can still read the entire review form when he logs in the site (review tab), this doesn’t seem normal because the checkbox "included in message to author” was not checked for some elements during the creation of the review form,

the checkbox "included in message to author” d

[2019-03-14 10:08] mpbraendle opened #4603 "[OJS] OJS 3.1.2: Translation keys missing in ca_CA and fr_FR user.xml"
Translation keys in locale/ca_CA/user.xml and  locale/fr_FR/user.xml are missing or different from locale/en_US/user.xml

(Oxygen XML editor has a nice XML file diff in which text nodes can be exluded from diff -> easy to spot differences on keys only )

[2019-03-14 10:12] mpbraendle commented on #4603
I'm ready to help with fr_FR translation (although not native French speaker)

[2019-03-14 12:20] mpbraendle commented on #4603
See https://github.com/pkp/pkp-lib/commit/746c63f7c6e968a0e9c5381888910353f08abe5d for fr_FR

[2019-03-14 12:42] ajnyga commented on #4602
thanks, found the problem and will do a pr soon. It would be good if you could test it.

[2019-03-14 12:46] Potomac54 commented on #4602
Ok I will test the fix

[2019-03-14 12:53] ptrckb opened #4604 "Undefined variable when retrieving submission by status"
With OJS 3.1.1, using `SubmissionDAO`'s `getByStatus()` triggers an error for an undefined variable in `getSearchWhere()`.

629e7ecc8b25429abe01ea51dc088ec465cdbef3 introduced the helper function but failed to rename one occurence of an old variable (`$search` -> `$phrase`).

This has already been fixed as part of 32d50e1a846d8c9493ec6a1f24661aa0b28371d7 in 'stable-3_1_2' and 'master'.

[2019-03-14 12:58] ptrckb commented on #4604
pkp-lib: pkp/pkp-lib#4605
ojs: pkp/ojs#2330

[2019-03-14 13:07] NateWr commented on #4598
Sounds good. So with this method the main `README.md` will not contain any actual instructions? And so if a plugin needs to provide distinct developer vs. user documentation, they'd just roll their own structure and create their own navigation path through it?

One potential hiccup here is security. We use the `md5` hash of the release package to prevent against abuse from a hostile takeover of a

[2019-03-14 13:24] schlattk commented on #3691
Hello, Is this feature now available? I am running version 3.1.1.4 - thanks!

[2019-03-14 14:20] ajnyga commented on #4602
Hi

One possible solution in this pr. What do you think @asmecher? If that is ok, I can pr against master branch as well.

ojs: https://github.com/pkp/ojs/pull/2331 (submodule only)
pkp-lib: https://github.com/pkp/pkp-lib/pull/4606

This is of course not the only possible solution, we could:
1. edit the `reviewFormResponse.tpl` template and add some new rules there. `AuthorReviewerGridHandler.inc.

[2019-03-14 14:22] jmacgreg commented on #2325
@ajnyga has been working on a rewrite of the OFR plugin, which can be found here: https://github.com/ajnyga/objectsForReview/. This work was started in the Heidelberg spring (outcomes and status document here: https://docs.google.com/document/d/1QOv1gxJZ1U5Pyjcf77Ml5kHKmfs9O4_7ctPJryUtWjI/edit#). This Github entry should probably stay open for now, as there will have to be some additional DB clean

[2019-03-14 14:22] NateWr commented on #3691
@schlattk I believe this is only available in 3.1.2+.

[2019-03-14 14:28] jmacgreg commented on #4504
See also #1407. @ajnyga, should I close this ticket in favour of that one?

[2019-03-14 15:09] schlattk commented on #3691
ok thanks @NateWr

[2019-03-14 15:50] ajnyga commented on #4504
Once the discussion around versioning etc. come the a certain point, I will create create two issues. One for preprint serve work and one for continuous publishing work and try to link all these issues to those two. Maybe we do not need to close the for now, but will try to create a list to one place.

[2019-03-14 16:25] asmecher commented on #4598
@NateWr, +1 to making this play well with the in-app help. I was thinking along those lines when I drafted up the basic proposal in the comment above (not even a PR yet as it isn't ready) -- it uses the same Markdown transformation as the help system.

1 and 2: On md5 hashing and trust: I was thinking that the onus falls on us as the plugin gallery administrators to make sure we're using "invarian

[2019-03-14 16:26] asmecher commented on #4598
(@ajnyga, pinging you in case you're interested -- we're talking about new conventions for plugin self-documentation.)

[2019-03-15 08:27] Baytan opened #4607 "Cannot edit discussions"
We are just upgraded to 3.1.2 and cannot edit present discussion messages in the system. When I press the edit button in the menu under the message, a warning appears as "Failed Ajax request or invalid jason returned". I logged in as journal manager and I should have full authority to edit messages.

Is there solution for that? Thank you all.

Authors still can delete messages after they sent. For

[2019-03-15 16:09] asmecher commented on #4607
Hi @Baytan -- what kind of messages are you referring to?

[2019-03-15 16:25] asmecher commented on #4603
(Tagging @mtub)

[2019-03-15 16:28] asmecher commented on #4604
Thanks, @ptrckb!

[2019-03-15 16:28] #4604 closed

[2019-03-15 16:53] asmecher commented on #4599
@eniocarboni, thanks -- I see the problem is that we're using `as` as a table alias, when it's an SQL reserved keyword. I suspect rather than wrapping it in quotes we should probably just change the name of the alias altogether -- it's likely to cause us problems elsewhere down the line, e.g. we're working with a third party to add MS SQL Server support, and I wouldn't be surprised if SQL server r

[2019-03-15 17:04] eniocarboni commented on #4599
@asmecher, I really like the idea of changing the name of the table but quoting his name and that of the column is still right to do.
I could try it in my spare time, thanks.

[2019-03-16 09:06] eniocarboni commented on #4599
Hi @asmecher, I added a second commit on the same Pr, could you check, please?

[2019-03-16 20:19] borisalmonacid commented on #2072
Hello @lilients and @defstat, by chance this improvement is available in the latest version of OJS?
I would like to launch a preprint journal :), but when I installed the version on my test server I could not find it.
I have the doubt if this improvement is in the main line? (main branch), or if it is in development, because I see several repositories linked.

[2019-03-17 11:14] Baytan commented on #4607
Hi @asmecher
Thank you for your interest. I refer to all messages under Discussion title in the submission page. I mean the pages of the each submission.

[2019-03-17 12:23] Vitaliy-1 commented on #4600
Hi @navotera,

OJS 3.1.2 included an update from Smarty 2 to 3 that requires minor changes in syntax. Regarding Health Sciences theme, it's already updated, you can view the latest commits there to get yourself familiarized with needed changes, starting from 4th of March: https://github.com/pkp/healthSciences/commits/master

[2019-03-17 14:00] navotera commented on #4600
Thank for your reply sir.

Yes I know that there update on smarty and I try the latest (claimed supported for OJS 3.1.2 by you as the author of the theme).

I am not sure since your theme is work flawlessly on the previous version 3.1.1 (with the right version of your theme) but all the theme is not work (except the default which is not using any of custom template).

I tried for two computer and

[2019-03-17 14:33] Vitaliy-1 commented on #4600
I cannot reproduce the problem that you are describing, e.g., I've activated Health Science on OJS 3.1.2 right now with no issues. Can you confirm that the latest release of [Health  Science theme](https://github.com/pkp/healthSciences/releases/tag/1.0.4) and [Bootstrap 3 theme](https://github.com/NateWr/bootstrap3/releases/tag/3.1.2) is not working properly? If they are not working, can you speci

[2019-03-17 14:40] navotera commented on #4600
Yes it does not work on windows 10

But work on my Ubuntu, seems like there some problem with path on the _overridePluginTemplates on file /pkp/classes/Plugin.inc.php

Still try to find a way to fix the code.

[2019-03-17 19:40] Vitaliy-1 commented on #4600
Thanks @navotera

Confirming this; requires further examination.

[2019-03-17 20:09] asmecher commented on #2072
@borisalmonacid, this is not yet merged into `master`. Our current plan is to release it in OJS 3.2.0. It'll take some time to mature and will probably make `master` unstable/unpredictable for a while, so I'd definitely recommend waiting a while, even if you're comfortable with pre-release code.

[2019-03-18 03:12] willysr opened #4609 "Message field in Discussion not visible"
I have just upgraded to latest OJS 3.1.2.0 and now in the discussion menu, the message field is not visible anymore. It happened in all stages (submission, review, copyediting, and production).

![image](https://user-images.githubusercontent.com/240100/54504436-3a975980-4966-11e9-8410-6f1e9be1179c.png)

[2019-03-18 07:15] jonasraoni commented on #4533
@asmecher Yesterday I've updated some files that use the Ajax handler and had some content out of the form tag. Follow some notes:
About the "required field" that you've mentioned, it gets duplicated in "Ajax forms" when the json returns status = false.

In the profile tab it's possible to send an email to the users. So, I've forced the validation to fail there and as feedback I got an alert with

[2019-03-18 07:39] jonasraoni commented on #4532
@asmecher I'll add this one to the batch.

[2019-03-18 08:51] Vitaliy-1 commented on #4600
On first glance lib-pkp prefix should be fixed to be compatible with Windows directory separator (e.g. `"lib" . DIRECTORY_SEPARATOR . "pkp" . DIRECTORY_SEPARATOR`): https://github.com/pkp/pkp-lib/blob/master/classes/plugins/Plugin.inc.php#L389

[2019-03-18 09:20] Vitaliy-1 commented on #4600
pkp-lib master: https://github.com/pkp/pkp-lib/pull/4610
@asmecher, can you take a look?

[2019-03-18 09:59] navotera commented on #4600
it works with you code :
$libPkpPrefix = 'lib' . DIRECTORY_SEPARATOR . 'pkp' . DIRECTORY_SEPARATOR;

is this official ?

[2019-03-18 12:23] Stefanvdb opened #4611 "Porting of Lucene Plugin to OJS 3"
Hello,

I am new as a developer to OJS, so I hope I am using the right channel to ask these questions.

I am working on porting the Lucene/Solr plugin to OJS 3, and was pointed to this github-repo as a starting point:
https://github.com/asmecher/lucene

Alec, which code/repo did you take as a starting point for this? I noticed for example that in your repo, there is the possiblity to rebuild the i

[2019-03-18 15:35] asmecher commented on #4611
@Stefanvdb, OJS 2.x used to ship with a Lucene plugin. That code persisted into the `master` branch but unsupported/unreleased. It should only have received occasional tweaks for coding style in that time. I used that for the basis of the https://github.com/asmecher/lucene repository. (We're gradually shifting plugins out of the main repo into their own repos, plus that plugin isn't complete/ready

[2019-03-18 15:35] asmecher commented on #4611
(See also https://github.com/pkp/pkp-lib/issues/2575)

[2019-03-18 17:14] NateWr commented on #2906
@kaitlinnewson @amandastevens this issue will impact documentation. :+1:

[2019-03-18 18:10] NateWr opened #4612 "Possible hook regression from function signature changes"
One minor regression in 3.1.2 to look out for, introduced with #3578, is that arguments were removed from the `formclassname::execute` hook.

The change removes arguments from the `execute` method signature in forms, like here:

https://github.com/pkp/ojs/blame/master/controllers/grid/settings/sections/form/SectionForm.inc.php#L124

That means that `func_get_args()` will never get an argument in `

[2019-03-18 19:15] jnugent opened #4613 "authorName parameter unreplaced in NotifyForm"
When templates containing {$authorName} are loaded and sent via the stage participant grid, the NotifyForm class does not assign a parameter and they are sent unreplaced.

[2019-03-18 19:43] asmecher commented on #4613
Merged https://github.com/pkp/pkp-lib/pull/4614 and ported to `stable-3_1_2`. Thanks, @jnugent!

[2019-03-18 19:43] #4613 closed

[2019-03-18 20:12] asmecher opened #4615 "Adjust for GROUPS becoming a reserved keyword in MySQL 8"
As of [MySQL 8.0.2](https://dev.mysql.com/doc/refman/8.0/en/keywords.html), `GROUPS` is a reserved keyword. OJS 2.x had a table with this name and it's still referenced in the upgrade process.

This results in errors during upgrade like the following:
[code]

See https://forum.pkp.sfu.ca/t/mysql-8-and-ojs-3/52057 for details.

[2019-03-18 20:22] asmecher commented on #4615
Proposed solution: https://github.com/pkp/ojs/pull/2334
Awaiting feedback via the forum before committing.

[2019-03-19 01:17] asmecher commented on #4600
Merged https://github.com/pkp/pkp-lib/commit/f87a87d1f0641c4d2ba8f6a57116921755195d01 and cherry-picked to `stable-3_1-2`. Thanks, @Vitaliy-1!

[2019-03-19 01:17] #4600 closed

[2019-03-19 01:18] asmecher commented on #4609
@willysr, try a hard reload on your browser. If that doesn't work, check your browser's error console for details.

[2019-03-19 01:20] asmecher commented on #4533
The duplication of the "required field" message can be fixed by moving that element into the `<form>` element.

For the profile tab, can you send a draft PR or a gist that shows what you're proposing?

[2019-03-19 01:54] asmecher commented on #4612
Thanks, @NateWr. This is also the cause of https://github.com/pkp/pkp-lib/issues/4601.
I suggest we stick with the new hook conventions and fix plugins where needed -- depending on the dynamically-passed arguments will be unreliable in general and the fix was necessary for better PHP compliance (e.g. to fix numerous warnings where function calling conventions were inconsistent).

[2019-03-19 01:57] asmecher commented on #4612
This also breaks the OpenAIRE plugin.

[2019-03-19 02:07] #4607 closed

[2019-03-19 02:08] asmecher commented on #4607
PR: https://github.com/pkp/pkp-lib/pull/4616

@Baytan, you can use the attached patch (applied in `lib/pkp`) to correct the problem.

[2019-03-19 02:14] asmecher commented on #4602
@ajnyga, thanks! I think I would prefer the approach in 2. -- that way the "extra" information would never extend beyond the DAO. We might have future calls to fetch items, e.g. via the API, and it makes sense to restrict return values right where the data is fetched from the DB.

[2019-03-19 02:19] asmecher commented on #4599
(Thanks, @eniocarboni -- assigned to @NateWr on the pull request!)

[2019-03-19 03:12] willysr commented on #4609
I had flushed the cache and tried to use private browsing as well, but no luck

[2019-03-19 03:23] willysr commented on #4609
well, i tried again this morning and it worked. Strange...
closing now

[2019-03-19 03:23] #4609 closed

[2019-03-19 05:50] Baytan commented on #4607
thank you very much:)

[2019-03-19 08:06] jonasraoni commented on #4533
Hmm I just saw that the file Handler.js has a method handlejson which shows the alert when the json.status is false. As in this case it isn't needed, I suggest to just break the error handling in a method, then it will be overridable. I'll send a draft PR later =]

[2019-03-19 08:15] ajnyga opened #4617 "OJS Allow multiple principal contacts"
Hi,

The principal contact setting is usually where the Editor-in-chief enters her contact information.

However, in some cases there may be more than one editor-in-chief and a journal might want to include all of them in the Contact page and in the principal contact signature.

I suggest that we remove the actual form input fields from `Settings > Journal > Contact > Principal contact` an instead

[2019-03-19 09:16] ajnyga opened #4618 "OJS Reset Article Permissions action is unclear"
In journal settings we have a button that says "Reset article permissions".

The description is:

Many journal managers (and me) think that this means they can change all article permissions with one bulk command to the settings they have defined in the same form. We have had similar situations and have seen questions concerning this in the forum.

However, what the Reset button actually does is t

[2019-03-19 09:23] ajnyga commented on #4611
(so great you are working on this! I have it on my todo list, but have not been able to find the time for it.)

[2019-03-19 14:11] ajnyga commented on #4598
all the above looks good. In general it would be nice to have a clear template you could use to create readme files.

This is not connected to readme files, but what is lacking I think is a way to tell OJS/OMP what versions the current plugin version is supporting. The best place would probably be the version.xml file. It could allow entries like `<support>OJS.3.1.2.0</support>` and OJS/OMP then c

[2019-03-19 14:43] openacademia commented on #2508
Agreed. This would be a very useful feature:

* ability to change the status of an accepted review request, if the reviewer changes her mind. And vice versa.

We have had several cases of reviewers accepting to do a review, but then never delivering one even after reminders. We have also had cases where a reviewer has accepted to do a review, but upon receiving the reminder has informed us that he

[2019-03-19 19:09] asmecher commented on #4618
@ajnyga, I agree with your assessment of the problem. I'm not sure two buttons are justified, though -- what about making the button behave as you expect (to reset all permissions on published content)? If someone wants to clear permissions and leave them empty, they can empty the journal settings first and use the button.

[2019-03-19 19:17] asmecher commented on #4617
This hasn't come up often in my experience, though I think on one occasion I did recommend setting the principal contact email to a mailing list rather than a single address. @jmacgreg, is this something you hear about in hosting?

[2019-03-19 19:34] ajnyga commented on #4617
Just to be clear, we have one request for this at the moment. The journal is worried that they are sending out a signal that there is only one editor-in-chief and would like to emphasize the dual role.

[2019-03-19 19:45] jmacgreg commented on #4617
I've never heard of this kind of request/situation before. Some of our journals use the principle contact field to add a general-purpose mailing address, such as "contact@journal.edu". I think this particular function should be left as-is, and the journal ensure that the Masthead properly emphasizes the dual roles.

[2019-03-19 20:22] ajnyga commented on #4618
Sounds good.

[2019-03-19 21:18] Riznor commented on #1792
The plugin is in my gallery but I can't install it.

[2019-03-19 21:46] asmecher commented on #1792
@Riznor, the best place to get technical support is on our support forum at https://forum.pkp.sfu.ca. Include information on what version of OJS you're using, how you tried to install the plugin, and what the result was.

[2019-03-19 21:53] Riznor commented on #1792
Thank you, @asmecher.

[2019-03-20 03:10] asmecher commented on #4598
Agreed! Currently that information is available in a "trustworthy" form in the plugin gallery, but plugins themselves can't specify it, nor is there any information in the plugin version descriptor whether the plugin is compatible with only one or several apps.

[2019-03-20 08:00] ajnyga opened #4619 "Add citation_reference tags to GoogleSchorlaPlugin output"
A related discussion here: https://forum.pkp.sfu.ca/t/improve-google-scholar-exposure-with-reference-metatags/21693/4

My suggestion is to have two options for exposing `citation_reference` metatags.

1. We add a **hook** that other plugins handling structured references can use to inject `citation_reference` metatags
2. As a **fallback** we expose unstructured `citation_reference` metatags using

[2019-03-20 08:01] isgrim commented on #4612
The problem that for many forms now there is no way to access the dataobject that was created (look at RegistrationForm.inc.php for example) from a plugin hook. This is currently preventing me from implementing the registration with ORCID correctly #4601 .

This has to be a member variable of the form object, so that plugins can change/add data during Form::execute.

[2019-03-20 10:23] NateWr commented on #2508
@openacademia It is not pegged to a milestone which means it isn't in our plans for the immediate future.

We now have four community members expressing an interest so I've put the Community Priority label on it. That can help it stand out from other issues, but it's still no guarantee of forward movement.

That said, I don't see any objections here, so it's just a matter of priorities and dev res

[2019-03-20 10:45] NateWr commented on #4612
I think the preferred solution here is to attach the object to the `RegistrationForm` class so that it is available from the hook.

Beware that the hook is fired _before_ the user is saved to the database. If you need to do anything after they've been added, we'll need to add a separate hook.

[2019-03-20 10:48] isgrim commented on #4612
Thanks @NateWr for the fast response.

Yes, this is no problem in this case.

[2019-03-20 14:31] ajnyga commented on #4619
@asmecher @Vitaliy-1
PR: https://github.com/pkp/ojs/pull/2336

Feel free to comment the concept there.

[2019-03-20 14:54] ajnyga commented on #4619
The tests passed, only the last one failed...

[2019-03-20 15:12] asmecher commented on #4615
Committed to `stable-3_1_2` and ported to `ojs-stable-3_1_1` and `master`.

[2019-03-20 15:12] #4615 closed

[2019-03-20 18:44] asmecher commented on #4601
@isgrim, I fixed the name field population in https://github.com/pkp/orcidProfile/commit/54bd2e8843ddd5ed6bd575a330db921c0f288517, which was trivial so I've committed it to `stable-3_1_2` and `master`.

As for the hook behaviour change, I've opened a PR for that: https://github.com/pkp/orcidProfile/pull/66
Could you review this?

[2019-03-20 19:04] asmecher commented on #4601
As for `master`, I've committed pkp/orcidProfile@5d864b8 and e192a4d so that `$registrationForm->user` is exposed to the hook and picked up by the orcid profile plugin's hook registrant function.

[2019-03-20 19:47] asmecher commented on #4612
Hi all -- so...
- the Browse By Section impacts of this are resolved in https://github.com/pkp/browseBySection/issues/16,
- the ORCID impacts are (soon to be) resolved at https://github.com/pkp/pkp-lib/issues/4601,
- the Immersion theme impacts will be resolved at https://github.com/pkp/immersion/issues/10, and
- OpenAIRE impacts are fixed here for release in the next build (this plugin isn't pack

[2019-03-20 19:47] #4612 closed

[2019-03-20 21:42] asmecher commented on #3330
I don't see any open PRs remaining here -- is this one ready to be closed, @ajnyga?

[2019-03-20 21:52] asmecher commented on #4402
@gurumelo, I'm sorry, but I still can't replicate that behaviour using the current `ojs-stable-3_1_1` branch (which is essentially OJS 3.1.1-4)... I'm curious whether you're planning to upgrade to OJS 3.1.2, and if so, whether it shows the same behaviour?

[2019-03-20 22:20] asmecher commented on #4534
The plugins that can't be disabled are ones that don't have any effect unless they're invoked manually, e.g. the import/export plugins, which need to be clicked from the list. I suppose it would be possible to add enable/disable controls for plugins like this but it would only result in e.g. the plugin not being listed in the import/export list.

[2019-03-20 22:33] asmecher commented on #4300
@NateWr, I assigned you to the PR on this one for a look, thanks!

[2019-03-20 22:35] asmecher commented on #4304
I would worry that having the plugin automatically augment the privacy policy would take control out of the hands of the Journal Manager, i.e. they wouldn't be able to arrange or modify the content how they liked (without modifying the code). My preference would be to put this into the documentation along with some suggested wording.

[2019-03-21 10:21] NateWr commented on #4300
Hi @ctgraham! So, I am of two minds about this, mainly because of how little we know about the parsed and unparsed citations.

Good that you avoided using an ordered list. Although references should ideally be ordered, in many cases the numbering will be included within the text, and we don't want something like `1. 1. Wright, N...`.

I think I recommended not using `<ul>` for references when this

[2019-03-21 11:00] Ph-We opened #4621 "[OJS 3.1.2] QuickSubmit: Changing a locale may trigger error 500 in Multilingual Journal"
Here is the way to reproduce:
1) In a multilingual journal go to QuickSubmit, change anything in the form (e.g.  Submission Language),
2) Switch a locale,
3) If you choose 'Leave', you would get a blank page (error 500)

[2019-03-21 11:04] ajnyga commented on #3330
There is still the setting for the embargo notification that I left in the payment form. Should we move that as well? If there is a general section for notification settings then that would be a better place.

[2019-03-21 12:16] NateWr opened #4622 "Consider implementing a third-party library for a queuing tasks"
We could use a way to queue tasks, run them in order, and track their status. This is most needed for the document conversion toolset. But we could also use wherever we have one or more lengthy tasks and want to queue a follow-up when it's done.

Some use cases:
- Document conversion to JATS XML
- Compiling stats
- Large exports
- Building temporary cache for intensive requests (eg - stats)
- Cros

[2019-03-21 12:23] Ph-We opened #4623 "[OJS 3.1.2] QuickSubmit: Failed Ajax request when adding a Cover image"
Here is the way to reproduce:
1) Go to QuickSubmit, upload a cover image.
2) You would get something like this:
![image](https://user-images.githubusercontent.com/22288161/54751872-49dc0880-4bed-11e9-8662-b2efc6dc9574.png)

[2019-03-21 12:55] #4619 closed

[2019-03-21 13:02] ajnyga commented on #4602
@asmecher running tests on the new fix

OJS: https://github.com/pkp/ojs/pull/2331  (bara submodule update)
pkp-lib: https://github.com/pkp/pkp-lib/pull/4606

[2019-03-21 13:04] ajnyga commented on #4602
@Potomac54 try https://github.com/pkp/pkp-lib/pull/4606/files

[2019-03-21 13:47] Potomac54 commented on #4602
Hello Ajnyga,

I tested your commit, it works, author can now see (in open mode review) only the allowed fields in the review form,

thanks

[2019-03-21 13:51] ajnyga opened #4624 "OJS 3.1.2 Editing discussion participants leads to an error"
Create new discussion thread, send a message. Open the new discussion and click edit link next to the participants list =>

[code]

[2019-03-21 13:58] ptrckb opened #4625 "No assignment for copyeditor/layout editor/proofreader after upgrade"
When upgrading from OJS 2.4.8 to OJS 3.1, the assignments of copyeditors, layout editors and proofreaders on submissions are lost.

[2019-03-21 14:02] ptrckb commented on #4625
OJS: pkp/ojs#2337

[2019-03-21 14:27] ajnyga commented on #4624
ok, this was already fixed: https://github.com/pkp/pkp-lib/commit/f06348eba3bf7d9c1cc6f66ef12c5954439d184b

[2019-03-21 14:27] #4624 closed

[2019-03-21 14:39] JosephELKHOURY opened #4626 "OJS 3.1.1.4 to 3.1.2 upgrade problem"
Hello,

When trying to upgrade, I get this error:
A database error has occurred: ERROR: relation "users_tmp" already exists.

Any help?

[2019-03-21 14:44] Ph-We opened #4627 "[OJS 3.1.2] Journal Manager cannot add Cover image to Article"
When trying to upload a cover image for an article, _which is not yet linked to any issue_, the Journal manager gets a 'HTTP error'. This behavior cannot be reproduced by the Administrator (s/he can upload cover images for any articles without problems).
Also, the Journal manager does not get any error when trying to upload a cover image for an article already linked to an issue.

[2019-03-21 15:20] asmecher commented on #4626
@JosephELKHOURY, the Support Forum (https://forum.pkp.sfu.ca) is the best place to get help -- this issue tracker is more for bug fixes and feature discussion.

[2019-03-21 15:20] #4626 closed

[2019-03-21 15:45] Stefanvdb commented on #4611
@asmecher
I am now working on displaying the facet block, and getting to know the OJS code. And I have the following problem that I hope you might give me a hint for.
In the OJS2 version of the plugin, in file facetBlock.tpl a extrasOnDemand template is loaded:

`{include file="controllers/extrasOnDemand.tpl" id=$facetCategory|concat:"Category"
					moreDetailsText="plugins.generic.lucene.faceting

[2019-03-21 16:17] asmecher commented on #4611
@Stefanvdb, at a glance, the issue is that we no longer load our Javascript controllers (or even JQuery, IIRC) in the application front-end, only in the back end. Rather than using ExtrasOnDemandHandler, I would suggest avoiding our Javascript controller infrastructure in general, because we're gradually deprecating it in favour of other tools (including e.g. vue.js templates in the back end). The

[2019-03-21 17:17] ajnyga commented on #4556
@NateWr how about this:

<img width="804" alt="Screen Shot 2019-03-21 at 19 16 49" src="https://user-images.githubusercontent.com/16347527/54771437-f29a6000-4c0d-11e9-927b-28441582f54a.png">

[2019-03-21 17:30] NateWr commented on #4556
:+1: Can you use a `.pkp_button_link_offset` instead to make it less prominent? I'm also worried about the split positioning. Can we try all buttons aligned on the left, like this:

[code]

[2019-03-21 17:34] ajnyga commented on #4556
sure
note that currently the Add message button is on the right

[2019-03-21 18:03] asmecher commented on #4625
Ah! Correct -- good spotting, @ptrckb. I'll forward-port this to `stable-3_1_2` and `master`.

[2019-03-21 18:04] #4625 closed

[2019-03-21 18:14] asmecher commented on #4602
That's great -- thanks, @ajnyga! -- and I've forward-ported to `master` as well.

[2019-03-21 18:14] #4602 closed

[2019-03-22 06:38] ajnyga commented on #4556
I will do a pr later today, but started thinking: do some editors think that using the "Leave discussion" button means closing the modal window?

So it is probably a good idea to a separate confirmationModal that says "Leaving this discussion means that you will not be notified of new messages" (feel free to revise)

[2019-03-22 10:05] Potomac54 commented on #2687
Hello,

I am also interested with this reminder feature for authors, I am working for a client who needs automatic reminders (email) for authors, it seems to be a recurent wish  in OJS forum like Ajnya noticed,

I think OJS should treat authors with the same care as the reviewers, so option like automatic reminder should be implemented, and some journals have much more interactions with authors th

[2019-03-22 12:15] Ph-We opened #4629 "[OJS 3.1.2] Production Discussions --> Edit = Failed Ajax request"
Hi! When the user (Journal Manager or Admin) tries to edit the 'Production Discussion', s/he gets the error 'Failed Ajax request or invalid JSON returned'.
Might be related:
https://forum.pkp.sfu.ca/t/discussions-not-working/46662

[2019-03-22 12:35] Potomac54 commented on #4602
I notice an error message when I log  in OJS :
##api.submissions.unknownError##

Is it related to this new feature ?

when the error occurs it's impossible to do someting in the administration panel

[2019-03-22 12:44] Potomac54 commented on #4602
false alert, all is ok if I close and restart firefox,

the error message was probably due to a cookie or a problem with sessions variables

[2019-03-22 12:50] ajnyga commented on #4602
Search the forum with "##api.submissions.unknownError##". There are a quite a few different reasons why it shows up, but I do not think that this change in the code could have affected it.

[2019-03-22 12:54] Potomac54 commented on #4602
I think the message error was due to a cookie or session variable, because my firefox was running for several days with a lot of tabs (including OJS), and for testing I tried to log with different user accounts (who have different rules, author, reviewers etc...)

if I try with another browser (chromium) then there is no errors, it's ok also if I close and restart firefox

[2019-03-22 15:12] asmecher commented on #4629
This is a duplicate of https://github.com/pkp/pkp-lib/issues/4607 -- try the patch over there.

[2019-03-22 15:12] #4629 closed

[2019-03-22 18:53] mgscano commented on #4325
A Client using 3.1 here.
The PubMed team just issued new guidelines to all providers.

[code]

```<ReferenceList>, <Title>, <Reference>, <Citation>, <PMID> and <ArticleIdList> ```
elements to supply references.

```<OtherAbstract Language="eng" Type="plain-language-summary">In patients with type 2 diabetes, blood sugar levels are higher and vary more than in healthy people. In the past, some drugs

[2019-03-22 22:28] asmecher opened #4632 "Remove deprecated support for static calls to Request functions"
These have been deprecated since 2009 :) and are generating a lot of warnings.

[2019-03-22 22:33] asmecher commented on #4632
PRs:
- https://github.com/pkp/pkp-lib/pull/4633
- https://github.com/pkp/ojs/pull/2342
- https://github.com/pkp/omp/pull/656

[2019-03-24 00:00] briho opened #4635 "[OJS] OJS 3.1.2 fails to display archive page with Bootstrap 3 plugin"
While setting up a fresh installation of OJS 3.1.2 with a Bootstrap 3 plugin theme, the journal fails to display the archive page (issue/archive) with a public http 500 error and this in the site error log:

[code]
I had thought that perhaps this was a problem with my specific local installation, but the same failure occurs on our official PKP-hosted journal website. This does appear to be a genui

[2019-03-24 01:02] asmecher commented on #4635
@briho, closing this in favour of https://github.com/NateWr/bootstrap3/issues/115.

[2019-03-24 01:02] #4635 closed

[2019-03-25 07:58] ajnyga commented on #4556
@NateWr see these changes: https://github.com/pkp/pkp-lib/pull/4559/files

Those changes now include the auto assign code and the leave query button. The button is only visible for editors at the moment, but started to think whether it should be visible for all?

What is currently not working is that once you click the button and click OK for the confirmation, the query modal window should close I

[2019-03-25 08:46] heike-r commented on #4617
We run a journal with two editors-in-chief and we too use the principal contact email for the editorial office and not for one of the editors-in-chief.

[2019-03-25 11:04] NateWr commented on #4556
:+1:  Here's some text: "If you leave this conversation you will no longer be notified of new messages. Would you like to leave the conversation?"

Yes, let's leave it like that for now.

:+1: Also, it shouldn't be possible to leave a discussion that is only between the editor and one other participant. Otherwise we will end up with orphaned discussions where an author can write a message but no o

[2019-03-25 11:32] ajnyga commented on #4556
thanks, that is pretty much the javascript I tried. But I got an error saying that closeModal is not a function. I think the problem there is that "this" is not a reference to the modal window, or something?

But I will add the things you suggested and let you know what exactly happens with the js.

[2019-03-25 11:43] ajnyga commented on #4556
yeah, with that I get` Uncaught TypeError: Cannot read property 'user-left-discussion' of null`

[2019-03-25 11:47] NateWr commented on #4556
can you share the actual code you've got? `user-left-discussion` is not a property in the code I shared above.

You might also need to use the wrapper... I think something like this:

[code]

Although I don't see it on any of the other `bindGlobal` calls. Maybe just share your full code and I'll take a look.

[2019-03-25 12:08] ajnyga commented on #4556
Here:

https://github.com/pkp/pkp-lib/pull/4559/files#diff-50bd16539ef6ac24ae91e96f90d70c6aR560

https://github.com/pkp/pkp-lib/pull/4559/files#diff-13929f6279b5503c29c948a69b582b87R48

Maybe I am missing somethin obvious.

[2019-03-25 12:12] ajnyga commented on #4556
hmm it should probably be this.modalClose

[2019-03-25 12:21] ajnyga commented on #4556
Because if I am understanding this right, the js there extends $.pkp.classes.Handler and it should extend $.pkp.controllers.modal.ModalHandler for that to work?

[2019-03-25 12:27] NateWr commented on #4556
Ahh, I see, you're right, `ReadQueryHandler.js` is not the modal itself. It's inside the modal. So another approach you can take is to trigger an event and let it bubble up to the parent modal. It would be something like this:

[code]

If that doesn't work, you could try firing the event on the parent, like `this.getHtmlElement().parent().trigger(...)`.

[2019-03-25 12:40] ajnyga commented on #4556
[code]

and

[code]

both gave me

`Uncaught TypeError: Cannot read property 'user-left-discussion' of null`

[2019-03-25 12:44] ajnyga commented on #4556
wuhuu!

The winning combination is:

[code]

[2019-03-25 13:43] micheljp commented on #4164
Is there a solution for this problem on 2.4.x? I'm on 2.4.8.1

[2019-03-25 14:08] ctgraham commented on #4164
@micheljp , I'm using the following patch to accomplish this in 2.4.8.x:
https://github.com/ulsdevteam/pkp-lib/commit/c17673c390e16a9914d7c38c42e612278d248994

[2019-03-25 14:42] ctgraham opened #4636 "Search within Plugin Gallery leads to wrong plugin"
### Description:
When searching within the Plugin Gallery, the search results are filtered, reindexing the rowid within the grid, but this reindexing is not considered when clicking through the link.  E.g. `$$$call$$$/grid/plugins/plugin-gallery-grid/view-plugin?rowId=1` will always represent the first plugin on the unfiltered list.
### Steps to reproduce:

1. Settings -> Website -> Plugins -> Plu

[2019-03-25 20:50] asmecher commented on #4636
@ctgraham, I can't duplicate this behavior on OJS 3.1.2-0; what version are you testing with?

[2019-03-25 21:33] #4632 closed

[2019-03-26 08:25] isgrim commented on #4461
Yes we also stumbled upon this in OMP, as some volumes are edited by a whole organization and they would like to have it shown in the catalog.

[2019-03-26 12:06] ctgraham commented on #4636
Reported to me on a locally modified 3.1.1-4; confirmed there and then reproduced on stable-3_1_2 ([9b9dc0a](https://github.com/pkp/ojs/commit/9b9dc0adb575e93e60bed6a5bd6afae0e04bcac4)).

[2019-03-26 14:08] ajnyga commented on #4556
Hi @NateWr @asmecher

The latest version is now here: https://github.com/pkp/pkp-lib/pull/4559/files

The code now shows the "Leave discussion" button for editors, if they are participants in the current query and there are more than two participants.  Clicking the button will remove the editor from the query and closes the modal.

The code will also automatically assign an user that answers a que

[2019-03-26 14:19] NateWr commented on #4556
The participants list is loaded in with a separate request that is handled here: https://github.com/pkp/pkp-lib/blob/master/controllers/grid/queries/QueriesGridHandler.inc.php#L441. I _think_ you could try passing an event back with that request like this:

[code]

Then in the constructor for `ReadQueryHandler.js` you should be able to do something like:

[code]

You can inspect the JSON response

[2019-03-26 14:48] NateWr opened #4637 "Translator plugin doesn't work with new settings tabs"
It looks like I forgot to update the Translator plugin to work with the new settings tabs introduced in #3594. Activating it doesn't add any UI to the settings screens.

It needs to be migrated to the new tab system before the forms stuff goes out in 3.2.

[2019-03-26 16:44] ajnyga commented on #4556
hmm, with

[code]

I get
[code]

[2019-03-26 16:53] ajnyga commented on #4556
but it seems that I can do

[code]

[2019-03-26 18:09] asmecher commented on #4636
Yes, so at a glance, what you describe makes sense -- but oddly it's opening the right plugin for me. I'll investigate further.

[2019-03-26 18:12] asmecher commented on #4636
Sorry, I mean no, the rowIds are renumbered starting from 1, so I would expect the behaviour you describe (e.g. presenting information for the wrong plugin), but instead I see the correct behavior.

[2019-03-26 18:27] Vitaliy-1 commented on #4636
Can reproduce on OJS 3.1.2 that I've installed from the official release and on the master branch (also it's quite outdated).
![screencapture-ojs-3-1-2-test-index-php-psp-management-settings-website-2019-03-26-20_26_41](https://user-images.githubusercontent.com/20665587/55023470-89e42680-5005-11e9-936b-7525fb900208.png)

[2019-03-26 20:27] ajnyga commented on #4556
@asmecher @NateWr running tests:

https://github.com/pkp/ojs/pull/2318
https://github.com/pkp/pkp-lib/pull/4559

[2019-03-27 19:52] #4532 closed

[2019-03-28 08:21] NateWr commented on #3381
The suggested fix in the initial report was confirmed to work on a client site. I've flagged this for OJS 3.1.2-1 since it should be a quick fix.

[2019-03-28 08:37] ajnyga commented on #3381
Do you mean that the fix (`overflow:visible;-webkit-overflow-scrolling:touch`) helps for both the _scrolling issue_ and the _linking issue_? I tested that fairly extensively back then and the fix suggested there did not help with the latter. Unless they have now changed something in the iOS browser of course.

[2019-03-28 10:38] NateWr commented on #3786
This was fixed as part of #2906.

[2019-03-28 10:38] #3786 closed

[2019-03-28 10:46] NateWr commented on #2906
PRs:
https://github.com/pkp/ojs/pull/2345
https://github.com/pkp/omp/pull/657
https://github.com/pkp/pkp-lib/pull/4638
https://github.com/pkp/ui-library/pull/29
https://github.com/pkp/ojs-user-guide/pull/25
https://github.com/pkp/omp-user-guide/pull/3

Includes:
- Add `/emailTemplates` API endpoint
- Add service class and query builder for email templates
- Add email template schema and convert `E

[2019-03-28 11:18] NateWr opened #4639 "Consider global translation strings handling in UI Library components"
Currently, each UI component accepts a prop, `i18n`, which contains all of the strings needed for that component. This helps keep locale strings connected to their component, and so when a component is removed the strings are no longer loaded on the frontend.

However, there are a couple of issues with this:

- Lots of string duplication in the client. Not a major performance issue but unnecessary

[2019-03-28 11:22] NateWr commented on #4639
One thing I just thought of... in the following case:

[code]

We may encounter a situation where we want to use `locale.string.key` twice, but with different params:

[code]

In such cases, the `locale.string.key` would be overwritten with `$valueTwo`. Whenever possible, we should prefer to merge the params in the browser rather than the server. However, when that is not an option, perhaps we can

[2019-03-28 11:34] NateWr opened #4640 "Consider converting UI Library to Storybook"
When we started with the UI Library, [Storybook](https://storybook.js.org/) still didn't support Vue.js very well. Storybook v5.0 is out now and seems to have better support.

Maintenance of the UI Library is tedious and we'd get a lot of mileage from using a more standardized toolset. If we can properly document our components, and host the library easily, we should switch to it.

[2019-03-28 11:41] NateWr commented on #3381
Yes, just the scrolling issue. I'd recommend opening a new issue if you want to work on the linking problem.

[2019-03-28 15:22] NateWr commented on #3386
Great work @retostauffer! I made a few small changes to this and I think it's ready for some tests. What I've changed:

- The messages indicating the decision that was taken now refer to the decision taken _in that stage_, rather than the most recent decision. (See screenshots below.)
- Removed some unused locale strings after the above changes.
- Added a new handler to toggle the display of edito

[2019-03-28 15:24] NateWr commented on #3386
@amandastevens @kaitlinnewson This issue will effect docs.

[2019-03-28 15:38] NateWr opened #4642 "Workflow sidebar is crunched on large screens"
There is an extra breakpoint for the sidebar width in the workflow for very large screens (`1700px`+). This is no longer necessary now that the workflow width is capped. It causes the sidebar to be too narrow on large screens.

[2019-03-28 15:39] NateWr commented on #4642
Fixed in https://github.com/pkp/pkp-lib/pull/4643

[2019-03-28 15:39] #4642 closed

[2019-03-28 17:40] ajnyga commented on #4556
thanks @NateWr for the review, I will do the changes tomorrow!

[2019-03-28 18:35] retostauffer commented on #3386
Hy @NateWr

Awesome! Thanks a lot in advance, looks great so far! I am more than willing to do some testing. We start testing 3.1.2 next Monday and I'll try to set up a blank installation (I assume that your commit is in the current master branch?) such that we also test this feature and provide some feedback a.s.a.p.

Thanks again and all best from Austria,
Reto

[2019-03-28 18:42] NateWr commented on #3386
Yes, this is pegged against `master`, which will be quite different from 3.1.2, unfortunately. But if you can test it that'd be great! All the best from Scotland. :wave:

[2019-03-29 12:30] ajnyga commented on #4556
tests failed, but no idea what it is about.

[2019-03-31 01:38] fgnievinski commented on #3193
Just pigging back to the forum where a related feature wish has been posted:
https://forum.pkp.sfu.ca/t/predefined-messages/47962/3
I highlight especially the unavailability of predefined messages when notifying reviewers.

[2019-03-31 01:44] fgnievinski commented on #2687
Just pinging back to the forum where a related wish has been posted:
https://forum.pkp.sfu.ca/t/reminder-for-reviewers-that-the-review-is-due-soon/51907/8

[2019-04-01 09:18] ajnyga commented on #4556
going to try the test again now...

[2019-04-01 10:05] ajnyga commented on #4556
@NateWr tests passed now
ojs: https://github.com/pkp/ojs/pull/2318
lib: https://github.com/pkp/pkp-lib/pull/4559

[2019-04-01 11:23] Ph-We commented on #4214
@defstat , @NateWr , this may sound weird, but unfortunately nothing has changed in our instance of ojs 3.1.2 (test environment).
Also tagging @ppv1979

[2019-04-01 16:03] NateWr commented on #3381
PR:
https://github.com/pkp/ojs/pull/2349

(tests running)

[2019-04-01 22:55] mukaanyes commented on #3330
Hello,
Is there any option to set embargo time for each submission separately. When we use a publish-as-you-go model, setting embargo time to the issue wont make sense.

Regards

[2019-04-02 09:13] NateWr commented on #4556
:+1: Merged. Thanks @ajnyga!

[2019-04-02 09:13] #4556 closed

[2019-04-02 13:54] Potomac54 opened #4644 "Wrong french translation for email templates "editor_decision_revisions" and "editor_decision_resubmit""
Hello,

In OJS 3.1.2 I notice errors in emailTemplates.xml for the french translation,

there is a reversal of messages between templates ""editor_decision_revisions" and "editor_decision_resubmit",

the fix is simple : just switch the content of "editor_decision_revision" template to "editor_decision_resubmit" (and vice versa),

I propose a patch for this problem, see the attached file
[patch_req

[2019-04-02 14:58] mfelczak opened #4645 "Check and fix language settings during upgrade from OJS 2"
OJS 2.4.x journals may have primary locale settings configured in such a way that only the 'UI' setting for the locale is enabled, with 'Submissions' and 'Forms' unchecked (likely as a result of a prior OJS 2 upgrade and the introduction of those settings), i.e.

![ojs2_locale_settings](https://user-images.githubusercontent.com/200793/55412431-6d7c4880-5535-11e9-9893-e1d94dc8354b.png)

Even though

[2019-04-02 15:14] ctgraham opened #4646 "Enable resending of email validation"
New users can be required to validate their email on registration.  Currently this is only sent via the `RegistrationForm`:
https://github.com/pkp/pkp-lib/blob/95e7609c9f507065454054c4a778ad77611eb8de/classes/user/form/RegistrationForm.inc.php#L310-L333

If a User discards or does not receive this validation email, there is no way for the User or Context Manager to resend this.

Generating an acce

[2019-04-03 03:17] carzamora commented on #4637
@NateWr this mean the plugin is not working? because for me is working without problems, or is when you change some settings?

[2019-04-03 08:39] NateWr commented on #4637
@carzamora are you working off the `master` branch or off of 3.1.2? The problem doesn't exist in 3.1.2. It will only exist in the current `master` branch, so we plan to resolve it before we release from there (which will be 3.2 in the summer some time).

[2019-04-03 09:21] Stefanvdb opened #4647 "Submission Subtitle not searchable"
In OJS3 Subtitle was added to Submissions, but this field is not searchable.
Pull requests will follow.

[2019-04-03 09:37] Stefanvdb commented on #4647
I hope I follow the correct workflow, as this is my first pull-request to the project.
I added these 2 pull-Requests:

https://github.com/pkp/pkp-lib/pull/4648
https://github.com/pkp/ojs/pull/2352

[2019-04-03 13:10] ctgraham opened #4649 "Email validation breaks registration page"
See: https://forum.pkp.sfu.ca/t/registration-does-not-work-ojs-3-1-1-4/

Reported against 3.1.1-4, but unconfirmed there.  Confirmed against 3.1.2.

Call to notification includes `$request->getUser()->getId()`, but `$request` has not had a user set at this point.
https://github.com/pkp/pkp-lib/blob/a508f9744c20521e1884c2dbc4668621d86c9788/classes/user/form/RegistrationForm.inc.php#L326

Steps to r

[2019-04-03 14:24] ajnyga commented on #4618
@asmecher
ojs: https://github.com/pkp/ojs/pull/2353
lib: https://github.com/pkp/pkp-lib/pull/4651

Noticed that a close issue (https://github.com/pkp/pkp-lib/issues/1466) has been dealt with recently so tagging @NateWr here as well.

I think that the new description text in master branch does not need any revision? The desrciption there mentions "current default settings" and that is actually what

[2019-04-03 15:22] vvkorotkikh opened #4652 "ojs 3.1.1-4 users page endless spinner"
OJS 3.1.1-4, postgres.
When I trying to manage users in OJS via Users & Roles -> Users, I see only endless spinner under page title. Users & Roles -> Roles work perfect, I see all user roles. Log attached. Please check [03-Apr-2019 14:06 UTC] and [03-Apr-2019 14:13 UTC]. Such error was not detected earlier.

[2019-04-03 15:23] vvkorotkikh commented on #4652
[11.log.gz](https://github.com/pkp/pkp-lib/files/3039403/11.log.gz)

[2019-04-03 15:24] asmecher commented on #4652
@vvkorotkikh, could you post your question in our support forum (https://forum.pkp.sfu.ca)? That's the best place for general technical support.

[2019-04-03 15:24] #4652 closed

[2019-04-03 15:27] vvkorotkikh opened #4653 "ojs 3.1.1-4 uploadiing new plugin"
OJS 3.1.1-4, postgres.
When I trying to upload new plugin
https://github.com/Ph-We/GOST/releases/tag/v0.1.1.1
in OJS via site administrator tools I see this notification.
   Notification The uploaded plugin archive does not contain a folder that corresponds
   to the plugin name.
Log attached. Please check [03-Apr-2019 14:18 UTC].
Thank you.
[11.log.gz](https://github.com/pkp/pkp-lib/files/3039413

[2019-04-03 15:29] asmecher commented on #4653
@vvkorotkikh, please use our support forum (https://forum.pkp.sfu.ca) for general technical support. Thanks!

[2019-04-03 15:29] #4653 closed

[2019-04-03 17:39] asmecher opened #4654 "Resolve assert() failure for journals without a saved copyright basis setting"
For journals that have not saved the permissions form, the following warning will show up when permission (copyright) details are retrieved:
[code]
Suggested resolution: Make article-based copyright date a default for when new contexts are created.

For existing contexts, I would rather not introduce a default e.g. during upgrade. Permission settings are sensitive enough that a journal really shou

[2019-04-03 19:02] asmecher commented on #4647
@Stefanvdb, just one small comment on the pull requests. They were prepared well, thanks!

More broadly, though, I wonder about whether it's worth keeping the subtitle indexed separately from the main part of the title. Since users are unlikely to search the subtitle separately from the title, it might make sense to have the full title (subtitle and title) indexed in `SUBMISSION_SEARCH_TITLE` inst

[2019-04-03 19:09] asmecher opened #4655 "Fix editorial history for emails with sender_id=0"
Some emails that are sent by the system automatically (e.g. automatic reminders) go out with `sender_id=0` in the database. It appears that the editorial history grid is not prepared to handle these:

https://forum.pkp.sfu.ca/t/editorial-history-does-not-work/48959/24

Fix the display so that these emails are displayed without breaking the listing.

[2019-04-03 19:54] asmecher commented on #4655
(Requested feedback at https://forum.pkp.sfu.ca/t/editorial-history-does-not-work/48959/26)

[2019-04-03 20:19] gabeLon commented on #4623
I'm having the same issue.

[2019-04-03 22:19] asmecher commented on #4655
Ah, I think this was already fixed: https://github.com/pkp/pkp-lib/commit/1b5d4239852ff376638339025ff7af523b4441cc

[2019-04-03 22:41] asmecher commented on #4623
Either of the above patches should fix it (they're equivalent, just applied to different branches). I'll put together a new build and place it in the plugin gallery shortly. Thanks for reporting!

[2019-04-03 22:41] #4623 closed

[2019-04-03 22:45] asmecher commented on #4623
Built v1.0.4-1 and added to the plugin gallery. (https://github.com/pkp/quickSubmit/releases/tag/v1.0.4-1)

[2019-04-04 00:05] asmecher commented on #4645
@mfelczak, this is really a case of OJS just doing what it's told. Is this something you're encountering frequently? I've never heard of a journal configured that way before.

[2019-04-04 03:17] carzamora commented on #4637
oh, ups... sorry, my mistake!

[2019-04-04 09:29] NateWr commented on #3381
Merged to `master` and `stable`. :+1:

[2019-04-04 09:29] #3381 closed

[2019-04-04 09:36] NateWr commented on #2906
@asmecher can you code review?

I think I've got all the test failures sorted, but the OMP tests are still failing very late with some kind of DBConnection thing, maybe related to PHPUnit?

[2019-04-04 09:40] NateWr commented on #4245
@amandastevens and @mcfarland-ubc-library, I know it's been a while, but can either of you determine whether it might be the same issue as https://github.com/pkp/pkp-lib/issues/4312? Were the reviewers with "Never assigned" just assigned on the same day?

[2019-04-04 09:41] NateWr commented on #3342
@ajnyga is this implemented now?

[2019-04-04 09:43] NateWr opened #4656 "[OMP] Reviewer selection is not restricted to review stage"
When selecting a reviewer in OMP, it will show internal and external reviewers. It should only show the reviewers for the review stage being selected.

[2019-04-04 10:29] NateWr commented on #4656
These diffs fix the issue but they rely on #2906 being merged first.

OMP/OJS:
[code]

pkp-lib:
[code]

[2019-04-04 10:36] ajnyga commented on #3342
yes https://github.com/pkp/pkp-lib/blob/master/controllers/grid/users/reviewer/AuthorReviewerGridCellProvider.inc.php#L61

[2019-04-04 10:38] #3342 closed

[2019-04-04 12:19] Stefanvdb commented on #4647
@asmecher, I agree that it makes more sense to index the full title into `SUBMISSION_SEARCH_TITLE`. Comitted changes, also fixed an issue in `Submission::getFullTitle`

[2019-04-04 14:35] rvdb commented on #4503
@mtub I realize there are probably more pressing issues, but it's been a month; have I filed my PRs at the wrong place?

[2019-04-04 15:02] mfelczak commented on #4645
Hi @asmecher, yes we've had this crop-up a few times now with journals that we've upgraded from OJS 2.4.x

[2019-04-04 15:12] asmecher commented on #4645
Do you have any idea why/how the language settings in OJS 2.x got to be set that way? The real problem in my opinion is those settings.

[2019-04-04 15:32] mfelczak commented on #4645
I'm not really sure, although I would be doubtful that JMs would uncheck them that way on purpose. My assumption, and this may be incorrect 😄, was that these were older OJS 2.x journals that were upgraded to newer versions of OJS 2.x that included the additional locale checkboxes, and these were never explicitly enabled by either the upgrade script or JMs.

[2019-04-04 17:17] asmecher commented on #4647
Great, @Stefanvdb! I've merged this; thanks for contributing.

[2019-04-04 17:17] #4647 closed

[2019-04-04 17:40] asmecher commented on #4645
Hrm, it'll be a nasty little bit of upgrade scripting and will definitely need some testing intermixed with dev. Especially if it's uncommon and tied to very old releases, is it something you could add to your upgrade checklist instead?

[2019-04-04 23:13] mfelczak commented on #4645
Yep, we can add it to our upgrade workflow. Having a placeholder for this in github should also help other folks who bump into this issue.

[2019-04-04 23:43] asmecher commented on #4618
@NateWr, may I leave this one with you?

[2019-04-05 07:06] ajnyga opened #4658 "CSL processor turns all journal names to uppercase in some formats"
Hi,

One of our journals noticed that the current CSL processor turns all journal names to uppercase in citations for example with APA standard.

So a journal called `Historiska och litteraturhistoriska studier` turns into `Historiska Och Litteraturhistoriska Studier` which looks very weird because Swedish does not have a convention of turning titles into uppercase.

[2019-04-06 08:23] mtub commented on #4503
Everything is okay, @rvdb , sorry for the delay! Will review and merge.

[2019-04-07 23:38] fgnievinski opened #4660 "[OJS] Contact form suggestions"
Here are some suggestions for Settings > Journal > Contact:

- the mailing address field could be internationalized (e.g., the city name could change from language to language);

- the affiliation field (already internationalized) could allow multi-line input (e.g., department and university)

- the name for Technical Support Contact could be internationalized and made optional, as sometimes it's

[2019-04-08 09:42] NateWr commented on #4618
:+1: merged. Thanks @ajnyga!

@asmecher since this fix _will_ go out with 3.2, should I assign it to the 3.2 milestone now that it's closed, so that we know which milestone it contributed to?

[2019-04-08 09:42] #4618 closed

[2019-04-08 09:43] ajnyga commented on #4618
One small thing to consider left here.

With the license and copyright holder you can now empty the fields by leaving the default settings blank and running reset. However, with the copyright year you have a radio button selection. If you have already chosen one of the two options, then you can not reset the articles to have no copyright year. You can only reset the value to one of the two options

[2019-04-08 09:51] NateWr commented on #4618
I believe this is correct. When resetting, it will use the `copyrightYearBasis` setting for the context, which will set the year to either the article's publication date or the issue's publication date.

I notice that the `copyrightYearBasis` property is `nullable` and has no default value. In such a case that would lead to an `assert(false)` in `Article::_getContextLicenseFieldValue()`. Perhaps t

[2019-04-08 09:56] ajnyga commented on #4618
yes I noticed that when I was doing this pr, see https://github.com/pkp/pkp-lib/issues/4654

And I guess that fixes this minor issue as well. I am thinking a (maybe non-existing) situation where a journal wants to *remove* all copyright year data from all articles. Now they can only choose between the two available options.

[2019-04-08 10:04] NateWr commented on #4618
Excellent, it's already filed! I'll drop a quick note in about how to do this in the schema system.

That sounds reasonable but maybe a separate use-case. I like that we've aligned things here along the "reset" use case. That they can delete is ok, but if they need full deletion, maybe it's best to make them jump through a few hoops. It seems like it would be something to discourage except under e

[2019-04-08 10:08] NateWr commented on #4654
:+1: Now that contexts are on the schema system, this can be changed by modifying [the schema definition](https://github.com/pkp/ojs/blob/master/schemas/context.json#L21-L26) from:

[code]

To:

[code]

If we want to handle missing values in existing databases, a db upgrade script will need to be run.

[2019-04-08 10:09] ajnyga commented on #4618
yes agreed, even resetting all article permissions is something that has to be a bit difficult to do.

[2019-04-08 10:54] sabrinaeck commented on #4511
Hi to all,

we solved this by creating a submission just visible for all editors with the editorial guide as manuscript. We waited until a well memorable sumission Id was going to be assigend. In this submisison we can exchange new versions and every editor will be noticed of these changes. This seems to work well (no complaints :-))

Sabrina

[2019-04-08 14:14] kaitlinnewson commented on #2071
Hi all, We ran into this issue recently as well. A user had entered text characters into the "Volume" field and saw a spinning icon with no error message, although there was an error message in the logs. Adding some text about the field requirements would be helpful in this case so the user knows why it isn't creating the issue.

[2019-04-08 15:19] amandastevens commented on #4245
I'm not 100% sure, but since I first learned of this bug from Open Academia and they confirmed that was the case for them, it's probably true.  When I tested it on another install, I would have assigned the reviewer the same day.

[2019-04-08 15:29] NateWr commented on #4245
Thanks @amandastevens. I've copied the labels over to #4312 and will close this issue in favor of that one (which more closely describes the problem).

[2019-04-08 15:29] #4245 closed

[2019-04-08 15:35] asmecher commented on #4618
@NateWr:

Yes, I've done that!

[2019-04-08 15:35] asmecher commented on #4618
Thanks, @ajnyga, this is great! (And thanks for tackling the review, @NateWr.)

[2019-04-08 23:04] asmecher commented on #4658
@ajnyga, that'll be coded into the CSL file itself, which is not something we maintain as part of our repo. See the CSL spec around [here](http://docs.citationstyles.org/en/stable/specification.html) (look for text-case) and find the CSL files themselves in `plugins/generic/citationStyleLanguage/citation-styles`.

[2019-04-08 23:04] #4658 closed

[2019-04-09 04:33] asmecher commented on #2906
On the OMP test failures, look for the message "Errors" in the log file, e.g.:
[code]

[2019-04-09 05:21] ajnyga opened #4661 "[OJS] Native export / import of issues with only full issue galleys not possible"
We have a journal that has a series containing both issues with articles but also monographs. When I tried to export an issue that only had the full issue galley in place, I get an error concerning missing sections. Sections are of course missing, because there are no single articles within the issue.

The reason is probably because sections are required here https://github.com/pkp/ojs/blob/master

[2019-04-09 05:26] ajnyga commented on #4661
edit: no actually you need to have `minOccurs="0"` here https://github.com/pkp/ojs/blob/master/plugins/importexport/native/native.xsd#L194

[2019-04-09 08:51] rvdb commented on #4503
Ok, thanks for merging, @mtub !

[2019-04-09 14:04] Stefanvdb opened #4664 "Changing galley is not reflected in search index"
If a submission is edited and a galley file is changed, these changes are not reflected in the search index.
Pull request will follow.

[2019-04-09 14:31] Stefanvdb opened #4666 "Deleting galley does not remove it from search index"
When a galley is deleted from a submission, it is not removed from the search index.

[2019-04-09 15:45] asmecher commented on #4576
@jorgenavarrobeltran, can you describe what changes you made?

[2019-04-09 16:12] asmecher commented on #4664
Thanks, @Stefanvdb! Also cherry-picked to `stable-3_1_2` for the OJS 3.1.2-1 release (due fairly soon).

[2019-04-09 16:14] asmecher commented on #4666
Thanks, @Stefanvdb! Also cherry-picked to `stable-3_1_2` for the OJS 3.1.2-1 release (due fairly soon). (PR: https://github.com/pkp/ojs/pull/2355)

[2019-04-09 16:14] #4666 closed

[2019-04-09 18:46] fgnievinski opened #4667 "Group archive issues by year (as in OJS2)"
OJS2 used to group archived issues by year.

A solution to restore that behavior has been posted in the forum:

https://forum.pkp.sfu.ca/t/ojs-3-archives-group-by-year/28848/17

It's an update for file `templates/frontend/pages/issueArchive.tpl`

I'd appreciate if that modification could be
incorporated into an official release, please.

[2019-04-10 07:51] Ph-We opened #4668 "[OJS 3.1.2] QuickSubmit: Pressing 'Enter' refreshes the Form with 'tag-it' Fields erased"
Hi! Here is the way to reproduce:
1) Fill some or all 'tag-it' fields (keywords, subjects, etc.) in the QuickSubmit form.
2) Position the cursor on any one-line field (like title) and press 'Enter'.
3) The form will be refreshed with all the 'tag-it' fields erased.

[2019-04-10 08:54] Stefanvdb commented on #4611
@asmecher
In the section form, there is a setting "Will not be included in the indexing of the journal".
It's not clear to me yet, what this means, and more important, if it affects the search-indexing of articles in this section? Should they be excluded from search results?

[2019-04-10 09:00] ajnyga commented on #4611
Just a general notice that I know another OJS3 users who is porting/has ported Lucene for OJS3. I have asked them to come comment here (since I do not know the details), but it seems that they have not done so at least yet. I will probably hear about their work on Friday when I attend a video meeting.

[2019-04-10 09:46] neffe commented on #4300
We're hosting over 150 journals and each journal have their own output style, MLA, APA, Chicago, etc so its very important that OJS avoids changing the chosen style when using ‘Extracted References’. Can't you make a setup that respects the original settings?

[2019-04-10 10:02] NateWr commented on #4300
@neffe I'm not sure that this is related to the issue. I don't think we're planning here to change the CSL format (MLA, APA, Chicago, etc) of the extracted references. We're only talking about how each reference is identified in the HTML code.

[2019-04-10 11:26] thinkbulecount2 commented on #3817
I've added the journal description in between the header image and the announcements block (attaching the screenshot). Would love your feedback! @NateWr & anyone else! Thank you!

<img width="936" alt="Screen Shot 2019-04-10 at 07 25 04" src="https://user-images.githubusercontent.com/38994650/55874930-c82f2900-5b61-11e9-9792-e72d8d0ce595.png">

[2019-04-10 12:46] NateWr commented on #3817
:+1: Looks good. Let's add a heading to the section as well. Something like:

Use a `<h2>` tag for a good heading structure. I'll reach out on Slack for some details about how to add a localized string.

[2019-04-10 13:46] thinkbulecount2 commented on #3817
Created a [pull request here](https://github.com/pkp/ojs/pull/2357), @NateWr

[2019-04-10 15:01] asmecher commented on #4611
@Stefanvdb, that setting is used to identify the section as something like "Editorials" or "Notes from the Publisher", i.e. content that's published with the issue but not, strictly speaking, part of the peer-reviewed science. I don't think it has any impact on search indexing.

[2019-04-10 19:57] arturluizbr opened #4671 "Change the cli install to also receive args from enviroment variables"
Recently i had to create a new version of OJS image, but i wasn't able to complete install script from terminal because it requires interaction with user.

Docker build does not support such thing.

So it would be nice if we could define environment variables and the install script uses them to perform an automated install.

My docker image is build from this repo: https://github.com/arturluizbr/d

[2019-04-10 20:50] asmecher commented on #4671
@arturluizbr, have you seen this docker image? https://github.com/lucasdiedrich/ojs

It uses a CURL request to complete the installation. It's not an "official" docker image, but has gotten a lot of uptake, and some of our closer partners work directly with its maintainer. It may become an official image at some point.

That said, I agree that the installer should be able to run autonomously.

[2019-04-11 09:07] NateWr commented on #3817
Looks good!

![description-default](https://user-images.githubusercontent.com/2306629/55944899-8970a000-5c41-11e9-9d00-1e3410606c78.png)

![description-manuscript](https://user-images.githubusercontent.com/2306629/55944900-8970a000-5c41-11e9-8af8-e4dd753b3292.png)

[2019-04-11 13:34] MarHerUMR opened #4672 "[OJS3] PHP warnings for incompatible function declarations"
Since the update to `3.1.2` I got several PHP warnings. I can't really say if this have any consequences for the functionality of OJS but at least it is polluting the log files.

I went through my log files, so here are all the warnings I could find:

[2019-04-11 14:08] Potomac54 opened #4673 "[OJS 3.1.2] When sending email with uploaded image then the recipient will not see the image"
Hello,

I notice that if the admin wants to send an email to a user with OJS (menu "user and roles", "users", "email") then if an image is uploaded by him (with "justboiled.me plugin") then the image seems uploaded, but the recipient will receive a text-only email (no image inside),

the image should be present in the mail, why it is missing for the recipient ?
Is it an expected behaviour ?

thank

[2019-04-11 14:24] NateWr commented on #4557
Places to look for alt tags:

- Journal logo
- Journal homepage image
- Issue cover image
- Article cover image

[2019-04-11 14:24] NateWr commented on #4557
@thinkbulecount2 (see previous message)

[2019-04-11 14:47] jmacgreg commented on #2564
Hi all, just checking on this. Has there been any progress on this, or on #3544?

[2019-04-11 14:57] ajnyga commented on #2564
i think i got that almost ready back then, only some validation things were not working. Can't promise that I have time to return to this right now, but should not take much work when I have the time. Anyone can step in and continue of course.

[2019-04-11 14:59] gonetil opened #4674 "Unable to access the Editorial History after upgrade to OJS 3.1.2"
We have upgraded from OJS 3.1.1.2 to OJS 3.1.2 . After the upgrade, in some articles from some journals we cannot access to the Editorial History popup (it hangs on loading forever). It does not happend with all journals, neither with all articles from affected journals.

We have found many entries like these in the logs:

`[Thu Apr 11 14:01:35.552359 2019] [:error] [pid 15735] [client ---] FastCG

[2019-04-11 15:03] asmecher commented on #4674
@gonetil, you can resolve this by applying this patch: https://github.com/pkp/pkp-lib/commit/8156b1e6e7765bf4b35307b7872af5242c2f466e

This fix will be included in the OJS 3.1.2-1 release, which I will schedule shortly.

[2019-04-11 15:03] #4674 closed

[2019-04-11 15:26] NateWr commented on #3817
:tada: Merged!

[2019-04-11 15:26] #3817 closed

[2019-04-11 16:10] NateWr commented on #4568
The ability to leave a discussion was implemented for editors in #4556. That leaves muting for editors, and both features for section editors.

[2019-04-11 16:15] NateWr commented on #3759
This was addressed as part of #3594

[2019-04-11 16:15] #3759 closed

[2019-04-11 16:16] NateWr commented on #3708
A different approach was implemented in #2906.

[2019-04-11 16:16] #3708 closed

[2019-04-11 16:23] NateWr commented on #3659
Obsolete with #2906.

[2019-04-11 16:23] #3659 closed

[2019-04-11 16:23] NateWr commented on #3660
Obsolete with #2906.

[2019-04-11 16:23] #3660 closed

[2019-04-11 16:27] asmecher commented on #4672
@MarHerUMR, we have a long-standing issue with our codebase (which is quite mature) needing adaptation as new releases of PHP become stricter about coding conventions. Previously we had an error handler that discarded many of these warnings (this was necessary because we supported both PHP4 and PHP5, which had incompatible and different conventions) but that has since been removed.

OJS 3.1.2 actu

[2019-04-11 16:27] #4672 closed

[2019-04-11 21:37] asmecher commented on #4667
@fgnievinski, would you be able to turn that into a PR for review?

[2019-04-11 21:41] asmecher commented on #2071
@kaitlinnewson, what was the error in the logs? What DBMS are you using (PostgreSQL or MySQL)?

[2019-04-12 07:08] eddoff commented on #4092
I have got user reports from our journal editors that the authors get information about if "a review is overdue". This information should not be shown to the authors!
![image](https://user-images.githubusercontent.com/41610473/56018455-77a30180-5d02-11e9-9063-a065752455c7.png)

[2019-04-12 11:19] eddoff commented on #4092
Hi
When you implement this, Is it possible to also remove the "Assigned reviews completed" information in "my queue" for authors?
![image](https://user-images.githubusercontent.com/41610473/56033744-7a631e00-5d25-11e9-89d2-8b12018bd19f.png)

[2019-04-12 12:41] Potomac54 opened #4675 "[OJS 3.1.2] When switching to english language name and given name of users are not displayed"
Hello,

I use OJS 3.1.2,

I notice a bug when users have been created when primary language of OJS is set to something different than english (for example french) :

- after creation of users : if the admin selects "english" for translating OJS GUI then if he goes to "Users and roles" section in the backend he will notice that the family name and the given name of each user are not displayed in th

[2019-04-12 14:02] Potomac54 commented on #4284
pending resolution of the bug : a quick and relatively easy workaround may be implemented, with a plugin which purpose is to generate a summary of the discussions of all previous rounds, and put the results on a file which can be downloaded by all reviewers, in the current round of review process

all discussion messages are stored in the database, so it should be not very complicated to retrieve

[2019-04-12 15:03] fgnievinski commented on #4667
sure, here it is:

https://github.com/pkp/ojs/pull/2359

[2019-04-12 15:19] mfelczak opened #4676 "Update OJS 2.4.8 for PHP 7.0+ compatibility"
The split() function was removed in PHP 7.0 but is used in OJS 2.4.8-4 resulting in many of the following errors:

`PHP Fatal error:  Uncaught Error: Call to undefined function split()`

https://www.php.net/manual/en/function.split.php

[2019-04-12 16:08] MarHerUMR commented on #4304
I see your point. And I think you are right that you don't want take away power from the _Journal Managers_. The idea for suggested wording is a good start I think (and I will include suggested wording in the plugin).

But I also think that suggested wording will become a problem as soon as a plugin is updated and the _Privacy Statement_ no longer reflects what the plugin does in some way. In such

[2019-04-12 19:16] kaitlinnewson commented on #2071
@asmecher We use MySQL. This was the error message:

`
ojs2: DB Error: Incorrect integer value: 'ictea 2019' for column 'volume' at row 1, referer: https://journals.library.ryerson.ca/index.php/ictea/manageIssues`

[2019-04-12 23:54] asmecher commented on #4304
Alternately, what about facilitating the JM linking from the journal's privacy policy to a plugin-managed page that states the *plugin's* policy? If the JM is happy with the default wording, they just link to it; if not, they modify the link or insert their own text directly. (We could drive ourselves mad writing tools for this kind of thing and still never accommodate the approach everyone wants.

[2019-04-13 03:12] asmecher commented on #4667
Thanks, @fgnievinski! @NateWr, I've assigned you for a look.

[2019-04-13 03:13] asmecher commented on #4676
@mfelczak, I think a fix for this was recently merged over at https://github.com/pkp/ojs/pull/2351.

[2019-04-13 12:03] mfelczak commented on #4676
Thanks @asmecher! That PR should fix Setup, Step 5, but it looks like we may need to review/fix other parts of the code as well, i.e.

[code]

[2019-04-14 13:56] marcusrossberg commented on #1813
Shouldn't the decision when an author is allowed to withdraw be left to the relevant editor?
Not having the function available at all seems to me (speaking as an editor) to be a disadvantage.

[2019-04-15 08:58] NateWr commented on #4667
Hi @fgnievinski, this would be a popular change. But I think we need to look into a theme option or something to make it optional. This change would effect thousands of journals, many of whom may only publish one issue per year or may not want their issues organised in this way.

Also, I think we should go through a bit of a design phase where we think through the UX of what we're trying to do. Of

[2019-04-15 14:15] Potomac54 opened #4678 "[OJS 3.1.2] Use english help manual by default if local language has no manual"
Hello,

I use OJS 3.1.2 and I notice that french help manual is not available :
https://github.com/pkp/ojs-user-guide/tree/master/fr

that means that the help menu will not work (empty items when I click on the help button),

my suggestion : use by default english help manual if the local language (like french) has no help manual,

currently as a workaround I had to copy english manual to the fren

[2019-04-15 15:43] fgnievinski commented on #4667
Hi @NateWr, thanks for your input.  Our use case is a bit blunt: Scopus indexing requires regularity (periodicity), so we'd like to demonstrate clearly that we have a fixed number of regular issues per volume (year). Plus we recently migrated from OJS2, so our users got used to seeing issues grouping by year.  Do you think this would be doable using the [theme options API](https://docs.pkp.sfu.ca/

[2019-04-15 16:07] fgnievinski commented on #3782
It'd be useful to offer this as a theme configuration option.

[2019-04-15 16:37] primoz-svetek commented on #3193
I would suggest to do do it in two steps:

1. In the next release just add possibility to search for all templates (in all phases) with a drop down menu (like in assign)

2. In scheduled OJS 3.2 implement full blown functionality as discussed above (I like it, btw)

[2019-04-15 16:49] mfelczak opened #4679 "Auto-upgrade installed plugin gallery plugins during upgrade"
At the moment, plugins installed via the plugin gallery are not automatically updated during the upgrade process and need to be manually upgraded one-by-one via the plugin gallery. It would be helpful to have these upgraded automatically as part of the upgrade script.

[2019-04-15 19:15] asmecher opened #4680 "{$submissionTitle} email variable should include full title"
Currently it just contains the title field, not e.g. prefix/subtitle/etc.

[2019-04-15 19:16] #4680 closed

[2019-04-15 21:06] asmecher commented on #4676
Resolved for `ojs-dev-2_4` and `ojs-stable-2_4_8`. There are some false positives in your listing above, @mfelczak (JS and Perl code) but I grepped/edited using...
[code]

[2019-04-15 21:06] #4676 closed

[2019-04-15 21:46] asmecher commented on #4545
Closing -- not perfectly reliable but working.

[2019-04-15 21:46] #4545 closed

[2019-04-15 22:33] asmecher commented on #3248
Hi @jmacgreg and @alexxxmendonca -- any objections to the above proposal? (https://github.com/pkp/pkp-lib/issues/3248#issuecomment-356360962)

[2019-04-15 23:32] mfelczak commented on #4676
Thanks again @asmecher. Does any of this also need to be ported to ocs-stable?

[2019-04-16 00:24] mfelczak commented on #4676
And likewise possibly for ohs-stable?

[2019-04-16 01:11] jmacgreg commented on #3248
None!

[2019-04-16 08:49] NateWr commented on #4667
Thanks @fgnievinski! We've scheduled a discussion with the theme team and I think we'll aim for something.

In the meantime, you can implement your change directly in your down theme, by overwriting the `frontend/pages/issueArchive.tpl` template. If you're not using your own theme yet, you can create a child theme with just the template file to keep your changes separate.

You can learn more about

[2019-04-16 11:52] retostauffer commented on #3386
Hy @NateWr

Took longer than planned to go trough it. I was not able to migrate our full system and tested your pull request on a fresh installation. Overall it looks pretty cool! Thanks a lot!

I/we have noticed some things (maybe there's a reason for it), I hope it's OK to just list them here (t.b.d.). Well, it's basically one issue (and one smaller comment).

**The "_Send to Production_" and "_

[2019-04-16 13:53] thinkbulecount2 commented on #4557
Pull requests here, @NateWr:
https://github.com/pkp/ojs/pull/2361
https://github.com/pkp/pkp-lib/pull/4681

[2019-04-16 14:42] NateWr opened #4682 "Audit the default theme for skip links"
The default theme has skip links, which allow a user of a screen reader to jump to the navigation menu or the main content on a page, skipping the header. These _should_ be working properly, but we've never done an audit to ensure they're all working.

Also, on the homepage, we should maybe add additional skip links for each thing, like announcements, about the journal, current issue, etc.

[2019-04-16 14:55] NateWr opened #4683 "Add option in default theme to use homepage image as header background"
It is common for journals to want to use an image in the header. We discourage this because many journals try to use long text in the image that then becomes unreadable on a small device.

However, we could add an option to the default theme to use the homepage image as a header background. This image would have the journal text (or logo) displayed on top of it, so it would discourage putting too

[2019-04-16 15:14] NateWr opened #4684 "Add mobile-friendly header and nav menu to default theme"
Currently, the default theme doesn't fully collapse the navigation menu on a small screen. All items appear at the top of the page, which means users often have to scroll before they see content.

![header-current](https://user-images.githubusercontent.com/2306629/56221609-748d7580-6062-11e9-8f0d-a86c9868097d.png)

We should implement a collapsed header for mobile with an icon to open the nav menu

[2019-04-16 16:34] fgnievinski commented on #4667
Thanks @NateWr, I'll play with the child themes!

[2019-04-16 23:38] asmecher commented on #868
Closing as out of date -- the setup forms have been overhauled since this was filed.

[2019-04-16 23:38] #868 closed

[2019-04-16 23:49] asmecher commented on #4678
@Potomac54, the linked patch corrects this for the forthcoming 3.2 release. For 3.1.2, the best solution is simply to remove `docs/manual/fr` entirely, or else to complete the translation of course :)

[2019-04-16 23:49] #4678 closed

[2019-04-17 00:02] asmecher opened #4685 "Add support for issue galleys to HTML galley plugin"
See https://forum.pkp.sfu.ca/t/viewing-full-issue-html-galleys-in-the-browser/52664 for details.

[2019-04-17 00:20] asmecher commented on #4676
@mfelczak, I've made similar changes to the OCS and OHS repos.

[2019-04-17 08:15] Stefanvdb opened #4686 "[OJS] SearchIndexing: Submissions marked dirty are immediately marked clean again"
If Submission is changed, ArticleSearchIndex::articleMetadataChanged is called.
If indexing is asynchronous (pull-indexing), the article is only being marked as dirty (IndexingState=1), so a cron job can later index the new version.
But after the call of ArticleSearchIndex::articleMetadataChanged, the submisison that had been read before the call is updated, resulting in marking it clean again.
Pu

[2019-04-17 09:19] Potomac opened #4687 "[OJS] reduce the config file to vital options, and move the other to the database"
Hello,

I am trying with other developers to create a docker image of OJS, and I notice that the config file of OJS (config.inc.php) has a lot of options, which triggers some problems, complexity for the "dockerization" of OJS,

my suggestion : reduce the number of options in this config file to the minimum, a good design is to have a very short config file (8 options, or less), and store the rest

[2019-04-17 11:12] NateWr opened #4688 "Fatal error with method signature changes in PublicFileManager"
In https://github.com/pkp/ojs/commit/6d4b794cf3f98fbe5a41d1bc9e96aa84f0d574d1#diff-b45e02fe828b9d22e618ca5dfee22435 and https://github.com/pkp/ojs/commit/6d4b794cf3f98fbe5a41d1bc9e96aa84f0d574d1 calls to `PublicFileManager::copyJournalFile()` were changed to `PKPPublicFileManager::copyContextFile()` (and other similar calls). The new method has an extra argument, so the calls need to be updated.

[2019-04-17 11:47] Stefanvdb opened #4689 "[OJS] Searchindexing: pull-indexing problem with schedule for publication"
If a submission is added to an existing issue and scheduled for publication, the submission is marked dirty and then immediately marked clean again.  This results in the submission not being reindexed if asynchrounous pull indexing is configured in lucene plugin.
Pull request will follow.

[2019-04-17 14:21] arturluizbr commented on #4671
Really good approach he used there.

Nice! It'll really save us a lot of time, I work at UFCA (ufca.edu.br), and i had to create a new image each time our server structure changed, so i was kinda forced to create something that works ok in different kinds of environment.

I was checking the code for importing interactive CLI variables in pkp-lib, i think we could add a quick check if is there a se

[2019-04-17 16:38] asmecher commented on #4671
Good idea! We might be able to align this with some of our testing toolset, which uses environment variables ([getenv](https://www.php.net/manual/en/function.getenv.php)). The conventions we use there (see e.g. `lib/pkp/tools/travis/prepare-tests.sh`) are:
* DBHOST
* DBNAME
* DBUSERNAME
* DBPASSWORD
* FILESDIR

I'd recommend adding a flag to the command line installer allowing the caller to specif

[2019-04-17 16:48] asmecher commented on #4686
PR (https://github.com/pkp/ojs/pull/2362) merged -- thanks, @Stefanvdb! I'll also back-port to `stable-3_1_2`.

[2019-04-17 16:48] #4686 closed

[2019-04-17 17:07] asmecher commented on #4688
Thanks, @NateWr, fixed. This is definitely something needing fixing in `master` so it's appropriate to file against `3.2`. I'll check over OMP as well.

[2019-04-17 17:07] #4688 closed

[2019-04-17 17:20] asmecher commented on #4689
PR: https://github.com/pkp/ojs/pull/2363

[2019-04-17 17:26] asmecher commented on #4689
Thanks as always, @Stefanvdb! Also ported to `stable-3_1_2`.

[2019-04-17 17:26] #4689 closed

[2019-04-17 18:33] asmecher commented on #4687
For what it's worth: we do already have a candidate table for this -- `site_settings`.

[2019-04-17 19:01] asmecher commented on #4664
Oops, I had to back this out of `stable-3_1_2` and will need to fix it in `master`. It adds OJS-specific concepts to `pkp-lib`, which is also used by OMP.

[2019-04-17 19:08] asmecher commented on #4664
@Stefanvdb, I've just reverted the PR to fix the tests -- this will need a little more work to support both OJS and OMP codebases. Mind if I leave this with you? I have some ideas for how to approach it if you're not sure.

[2019-04-17 20:32] israelcefrin commented on #3764
Hi @asmecher, I've made a reasonable amount of upgrades this week and this wrong message doesn't show up in OJS3.1.2 anymore. It is working fine.
Just adding this note to let you know that I will close this issue which is fixed.

[2019-04-17 20:32] #3764 closed

[2019-04-17 22:10] asmecher commented on #2071
@kaitlinnewson, can you try the attached patch and confirm whether it resolves the issue? If so, I'll port it to `stable-3_1_2` for the forthcoming OJS 3.1.2-1 release.

[2019-04-17 22:35] asmecher commented on #4675
@Potomac54, can you confirm whether this matches the description at https://forum.pkp.sfu.ca/t/user-names-missing-in-english-version-after-updating-to-ojs-3-1-2/52174?

[2019-04-17 22:53] asmecher commented on #4092
@eddoff, we're not going to be able to find a balance of information that'll work for every journal, but in general I think authors find journals too opaque. In my opinion it's possible to let them know what's happening during the review process without e.g. compromising the integrity of the review. You may find this is something you need to customize locally.

[2019-04-17 23:23] Potomac commented on #4675
yes your page matches the description of the bug,

the bug occurs on the page "users and roles",  when users have been created on an OJS installation where primary language is not english, if I switch to english (installed as additional languages) then the family name, the given name, the prefered public name will be not displayed on this page "users and roles",

this bug is easily reproducible, a

[2019-04-18 11:18] Stefanvdb commented on #4664
@asmecher: oops, didn't realise that - unfortunately i am not familiar with OMP yet.
I don't mind giving it a go, but currently I do not have an idea yet how to solve this issue. So if you could point me in the right direction I will try after easter.

[2019-04-18 18:25] asmecher opened #4691 "Fix PostgreSQL-incompatible quoting"
See https://forum.pkp.sfu.ca/t/database-error-result-for-new-statistics-articles-view-stats-publishsubmissions/52727 for details. MySQL supports `"` for quotes but PostgreSQL does not. Use SQL-compliant `'` rather than `"`.

[2019-04-18 18:26] #4691 closed

[2019-04-18 21:34] asmecher commented on #3248
Some email templates have the sending user's signature inhibited, so appending a signature explicitly is still appropriate. Think e.g. of emails that are sent by the system under editorial auspices based on an author's action, and shouldn't be signed by the current user, who is just the author.

Of those, the following use `{$editorialContactSignature}` without problems:
- `SUBMISSION_ACK`
- `SUBM

[2019-04-18 21:35] asmecher commented on #3248
@NateWr, would you mind reviewing this one?

[2019-04-19 13:14] forgive38 commented on #4246
Hi,
our editors need this functionality too.

Thank you in advance

[2019-04-22 13:47] ctgraham opened #4693 "Bad locale key for Crossref validation option"
C.f.: https://forum.pkp.sfu.ca/t/text-rendering-issue-in-crossref-xml-export-plugin/52747/2

Introduced by: https://github.com/pkp/ojs/commit/d186c5913c3d80c999a7d29f25cb6ff105af06c9

[2019-04-22 13:52] ctgraham commented on #4693
Already correct in master per:
https://github.com/pkp/ojs/commit/80d19234c3d55ab7ba8134edafa0994a212897f3#diff-490fd5d28d9d62d1f9bd2e6cbf12848bL81

[2019-04-23 18:03] asmecher commented on #4693
Thanks, @ctgraham!

[2019-04-23 18:03] #4693 closed

[2019-04-23 19:35] amandastevens opened #4694 "Duplicate dashboard menu links to Report Generator"
OJS 3.1.2 has the great new Articles visual usage report and an item in the main dashboard menu for Statistics.  Previously there was a main menu link for Tools with Import/Export and Statistics within it.  However, now in 3.1.2 we have the following:

Tools       - Import/Export
                - Report Generator
Statistics - Articles
               - Report Generator

The Report Generator link i

[2019-04-23 22:03] fgnievinski opened #4695 "Support for article number"
Publishers such as APS, AGU, eLife, Scielo have adopted article numbers.  Existing OJS deployments are using the metadata field for page number to store it.  Crossref recently (2017/2018) created a separate placeholder for that information:

[code]

Ideally OJS would offer a separate field for article numbers and the Crossref plugin would use the proper XML item to export it.

This issue has been

[2019-04-24 18:20] bricas commented on #4054
This is a bit of a blocker for us -- we would like to have a set of UNB themed child themes.

Is there any chance this will be looked at soon?

[2019-04-24 18:39] Vitaliy-1 commented on #4054
PR: https://github.com/pkp/pkp-lib/pull/4697
@NateWr, can you take a look? I'm not sure if it's the best option for the fix. I'm not providing here the check to all ancestors' templates.

[2019-04-24 20:03] arturluizbr commented on #1504
This could be solved with a config variable, even the name "allowProtocolRelative" sounds like a config variable.

Btw, i had this problem today and we are in a dilemma, create a function in OJS or change PKP-LIB code...

OJS - Request.inc.php
[code]

We tried to create a Hook in "Request::getBaseUrl" scope, but it seems that plugin hook can't reach early calls to this method.

[2019-04-24 20:22] asmecher commented on #1504
@arturluizbr, can you describe where you're having trouble with mixed http/https URLs? IMO using protocol--relative as widely as possible is a good solution.

[2019-04-24 20:59] asmecher commented on #2353
Newly rebased after a hiatus:
- https://github.com/pkp/ojs/pull/2369
- https://github.com/pkp/pkp-lib/pull/4698
- (OMP not created yet)

[2019-04-25 04:38] maxram opened #4699 "[OJS] using MariaDB as database generate a 500 internal server"
**Server**

- Debian GNU/Linux 9.8 (stretch)
- Apache/2.4.29
- PHP 7.1.11
- MariaDB 10.1

I followed the installation steps, after click on install. I get a blank page with network response: 500 internal server.

I test with PostgreSQL and installed suscessfully.

[2019-04-25 09:32] eddoff commented on #4195
Any development in this issue @bozana ?

I saw that there is a Crossref upload referernce plugin in 3.1.2.0 - that´s great, but this issue to import references to OJS is not fixed...

[2019-04-25 09:39] bozana commented on #4675
@Potomac54, what is your installation/site wide primary locale (you can see this only as admin)? Would it maybe be possible for you to see in the database table user_settings for which locale the names exist? Thanks!

[2019-04-25 13:52] kaitlinnewson commented on #2071
@asmecher Looks good now, and displays an error message as expected.

[2019-04-25 15:25] Potomac commented on #4675
@asmecher @bozana : as I said the primary locale used is : french (France), and the additional locale is english, no matter if it's an upgrade of an existing OJS installation or a new installation, the bug will occur as soon I switch to the additional language (english), and the bug will instantly disappear if I switch to the primary language,

in the user_settings table the locale field has the v

[2019-04-25 16:52] asmecher commented on #2071
Great, thanks, @kaitlinnewson -- committed for OJS 3.1.2-1.

[2019-04-25 16:52] #2071 closed

[2019-04-25 16:56] asmecher commented on #4699
@maxram, what do you get in your PHP error log?

[2019-04-25 17:02] asmecher commented on #4694
@amandastevens, this is inconsistent between OJS 3.1.2 (which you've described) and the `master` branch (to be released as 3.2, not behaving as you've described it). Assigning to @NateWr, who probably can answer at a glance.

[2019-04-25 17:59] #2353 closed

[2019-04-25 18:53] amandastevens opened #4700 "Make Purchase New Subscription link more visible and visible when not logged in"
For journals using subscriptions in OJS 3.1, the Subscriptions page created dynamically by OJS displays the different subscription types and, if the user has an account and is logged in, a link to "Purchase New Subscription" below each type.  A user must have an account and be logged in to purchase a subscription.  It would be better if the link to "Purchase New Subscription" appeared to the right

[2019-04-25 18:59] amandastevens opened #4701 "Add functionality to purchase a membership in OJS 3"
Currently a journal using payments and subscriptions in OJS 3.1 can enter an amount to charge as a Membership Fee under Payments > Payment Types > General Fees.  I believe the idea behind this is that a user can buy a membership to an organization and then receive access to their publications.  However, the option to purchase the membership doesn't appear anywhere on the OJS site.

Under General F

[2019-04-25 19:51] bozana commented on #4675
:+1: Thanks @Potomac! I'll take a look...

[2019-04-26 15:22] asmecher opened #4702 "Create new reviewer "suggest username" button is broken"
See https://forum.pkp.sfu.ca/t/ojs-3-1-2-suggest-a-username-for-new-reviewer-outputs-uundefined/52437 for details.

When pressing the "suggest" button, the field is filled with "uundefined".

[2019-04-26 15:24] asmecher commented on #4702
PR: https://github.com/pkp/pkp-lib/pull/4703

@NateWr, would you mind reviewing this?

[2019-04-26 16:14] NateWr commented on #4694
A couple notes on my reasoning:

- Eventually we'll have other stats pages that we'll be providing: issue usage stats, time to accept/decline, average number of reviews, articles published by year, top reviewers, etc. The idea is to put all of these under the new Statistics top-level menu item. So I do hope to keep that in place.
- I left Report Generator in both places because it is a very old to

[2019-04-26 21:27] maxram commented on #4699
FULL ERROR OUTPUT:
Deprecated: Methods with the same name as their class will not be constructors in a future version of PHP; ADODB_Cache_File has a deprecated constructor in /path/to/ojs/lib/pkp/lib/adodb/adodb.inc.php on line 263

Deprecated: Methods with the same name as their class will not be constructors in a future version of PHP; ADOConnection has a deprecated constructor in /path/to/ojs/l

[2019-04-26 22:03] diegoabadan commented on #4699
in config.inc.php change mysql to mysqli.

Like https://github.com/pkp/ojs/blob/master/config.TEMPLATE.inc.php#L131

[2019-04-27 10:24] Vitaliy-1 opened #4704 "modifyStyle() from grandchild removes child's LESS styling"
Tested on OJS 3.1.2 with the child of Manuscript child theme, e.g.: https://github.com/Vitaliy-1/manuscriptCaprew
Adding `$this->modifyStyle('stylesheet', array('addLess' => array('styles/variables.less')));` and a variable.less to correspondent directory removes original styling from a child theme - original Default Manuscript theme that is a child of the Default.
Related to: https://forum.pkp.sf

[2019-04-28 00:49] arturluizbr commented on #1504
The link between our proxy and our OJS instance is made using http, and the proxy serves it as https, since OJS rewrite url to use http, so assets can't be loaded in browser. When i tried to set OJS to use force_ssl, an infinite loop happens.

Probably if we had more time to dig in proxy settings we could find something to fix this issue, but i think the application should have a better way to han

[2019-04-29 09:39] NateWr commented on #3248
:+1: Looks good to me. A couple of test failures.

I just did an eyeball test, I didn't run through it myself, but the changes look straightforward and sensible.

[2019-04-29 10:10] NateWr commented on #4054
That looks good, Vitaliy. I've added a comment with some code we can use to check for all ancestors' templates.

@asmecher you handled this originally. Can you take a quick look and see if you're happy with the implementation going here?

[2019-04-29 10:15] NateWr commented on #4702
:+1:

[2019-04-29 12:33] NateWr opened #4705 "Fix issue cover image size in default theme"
The styles for the issue cover image were changed in a commit for 3.1.2 (https://github.com/pkp/ojs/commit/fa16697d1f5e77562f349df98e32c376d0dca28b#diff-20b130338b52d8575cb07eafd972d63a), and the size of the issue cover image is no longer restricted. ([Reported](https://forum.pkp.sfu.ca/t/manuscript-child-theme-issue-cover-is-too-big/52758/4))

They were probably removed by accident while cleaning

[2019-04-29 15:25] forgive38 opened #4707 "update for fr_FR"
Hi all,

Some PRs:
pkp-lib: #4706
ojs: pkp/ojs#2371
makeSubmission: pkp/makeSubmission#27
translator : pkp/translator#50

mainly based on fr_CA with minor adaptations

I think there are usable for 3_1_2 too

[2019-04-29 15:43] asmecher commented on #4699
^ @diegoabadan's suggestion is the correct solution -- use the mysqli driver.

[2019-04-29 15:43] #4699 closed

[2019-04-29 17:20] maxram commented on #4699
Thanks. it works. The installer selection to mysqli not work, as you suggest we need manual edit.

[2019-04-29 17:35] asmecher commented on #4699
@maxram, can you describe that issue in more detail? What happens when you choose MySQLi in the installer form?

[2019-04-29 18:08] mfelczak opened #4708 "Add option to include git repo for plugins installed via plugin gallery"
Hi @asmecher and @NateWr, adding a placeholder here to track our discussion.

Background: For git-based OJS/OMP installs, it would be helpful to be able to track plugin gallery installed plugins via git. This would allow systems staff to track plugin customizations via commits against their respective plugins and branches. Likewise, it would allow systems staff to be able to systematically apply p

[2019-04-29 18:20] mfelczak commented on #4708
Note: made a few edits above.

[2019-04-29 18:29] asmecher commented on #3404
I think the specifics referred to here have been resolved over the last months, or filed elsewhere. Closing.

[2019-04-29 18:29] #3404 closed

[2019-04-29 18:40] asmecher commented on #4708
Will need some consideration related to https://github.com/pkp/pkp-lib/issues/1832 -- some plugins have composer dependencies that are not "safe" for distribution within the web root of the application, so a straight-up git clone might expose those. Plus the installer would need to take care of dependency installs, e.g. composer but also Vue compilation, etc.

[2019-04-30 05:13] seonghobae commented on #4602
Hello guys, I have a trouble to make alert review comments what "Included in message to author" field checked when make a decision "Accept" or "Decline" during I using "Double-blinded" mode.
"Accept submission" or "Decline submission" couldn't delivery reviewer's message to author during using "Double-blinded" mode?

[2019-04-30 09:38] ajnyga commented on #2428
@asmecher @NateWr I have received new reports concerning this problem. At least two reviewers have lost long review reports they have written because the token has expired.

I have even changed the expiry time to six hours, but people seem to leave the form open for a long time.

If I would go on to solve this problem, what would be the preferred solution. Is it the auto-save function?

[2019-04-30 09:41] ajnyga commented on #3698
@NateWr sorry I missed this issue here.

I am planning to solve this because it is really affecting how our editors trust the system. Any last minute advice / ideas before I start working?

[2019-04-30 16:00] asmecher commented on #4602
@seonghobae, I'd suggest posting your question on our forum at https://forum.pkp.sfu.ca -- that's the best way to get this sort of help.

[2019-04-30 16:03] asmecher commented on #1504
@arturluizbr, the infinite-loop behavior with `force_ssl` makes sense when using a proxy to transform `http` to `https`, as OJS will detect a `http` URL in your scenario and attempt to redirect to `https`.

Have you tried setting the `base_url[...]` parameters in `config.inc.php`? Those can be used to force OJS to generate specific URLs, rather than auto-detecting from the CGI parameters. You'll n

[2019-04-30 16:04] #3248 closed

[2019-04-30 16:06] asmecher commented on #3248
Thanks, @NateWr -- merged.

[2019-04-30 16:10] arturluizbr commented on #1504
@asmecher i tried that too, it worked, but it would cause an additional operational work when creating new journals in our IT department (we don't have nearly half as needed team to operate all of our university systems).

Related to base_url, i think it should be available in each journal settings not in a config file, like the Wordpress Multisite does.

That way we could pass the responsibility

[2019-04-30 16:16] asmecher commented on #1504
Moving config options to the database is suggested here: https://github.com/pkp/pkp-lib/issues/4687
However, one impediment to doing that with URL generation settings is that it would be very easy to change settings in a way that made the settings forms inaccessible, so I'm not sure the `base_url[...]` settings are good candidates for this.

[2019-04-30 21:48] asmecher commented on #4054
Yes, this is making sense to me -- though I like your proposal for recursion support, which it looks like @Vitaliy-1 is working on.

[2019-05-01 07:37] NateWr commented on #2428
Did you ever figure out the issue with the form contents disappearing? I think the first thing would be to fix that issue, so that a subsequent resubmit will work.

But aside from that, yes, I think an auto-save function is probably the best bet.

[2019-05-01 07:47] NateWr commented on #3698
I'm just thinking off the top of my head here, but I think you can just add a separate Save for Later button on that stage of the review. When clicked, it would save everything but not set the `date_completed` column in the database. Am I right in thinking that as long as this column is empty it is considered incomplete?

Then you'll just need to double-check that this is handled correctly everywh

[2019-05-01 09:57] NateWr commented on #2906
Merged. :tada:

[2019-05-01 09:57] #2906 closed

[2019-05-01 10:16] defstat opened #4709 "Navigation Menu Item Edit - Custom NMIs lose title after submitting form with same title"
When editing a custom NMI, by leaving the title as is, the update function resets the "title" setting for that NMI, erasing the title because no titleLocaleKey setting is found for custom NMIs (and no fallback title translation exists for custom NMIs)

[2019-05-01 12:43] amandastevens commented on #4017
A PKP|PS hosted client would like to be able to send out the new issue published notification to Readers only, as was the behaviour of OJS 2.  Being able to select which roles receive a notification, as suggested by @ajnyga, would be ideal.

[2019-05-01 13:39] defstat commented on #4709
@NateWr

**PRs**

[pkp-lib]: #4711
[OJS]: pkp/ojs#2372
[OMP]: pkp/omp#665

[2019-05-01 13:41] Vitaliy-1 commented on #4054
The previous PR can be closed. I've made a new one: https://github.com/pkp/pkp-lib/pull/4710
@NateWr, make a PR with a submodule update for ojs repo as well?

[2019-05-01 14:30] Vitaliy-1 commented on #4054
Submodule update: https://github.com/pkp/ojs/pull/2373
Hope it's enough :)

[2019-05-01 15:32] ajnyga commented on #2428
I have to say I am a little unsure what the expected behaviour is when the CSRF token becomes unvalid.

Should it prevent the submission of the form with javascript? Do other form preserve the content. For example in the submission form in step 3 when you enter submission metadata. If someone leaves that form open for an hour and then tries to submit it, does it really work so that the error occur

[2019-05-01 15:39] ajnyga commented on #2428
edit: ok so it does work better in the submission form. The content is not getting lost. I will try to investigate what the difference is with the submission form and the review form that they work differently here. Suspect it is a small problem.

[2019-05-01 18:47] ctgraham opened #4713 "Search default's today's date as Start Date / End Date"
**Describe the bug**
Search results screen / advanced search screen populates todays date into the earliest and latest publication date field.  This will truncate all subsequent searches.   Probably the result of Smarty 2 to Smarty 3 migration.

Smarty 3 [`html_select_date`](https://www.smarty.net/docs/en/language.function.html.select.date.tpl) `time`:

Smarty 2 [`html_select_date`](https://www.sm

[2019-05-01 19:19] #4713 closed

[2019-05-01 19:21] asmecher commented on #4713
Committed and back-ported -- thanks, @ctgraham!

[2019-05-02 03:40] asmecher opened #4714 "Clean up SubmissionSearchIndex class hierarchy"
Bug https://github.com/pkp/pkp-lib/pull/4665 depends on a cleaner class hierarchy, with more elements shared between OJS and OMP. Revamp to support.

[2019-05-02 03:51] asmecher commented on #4714
PRs:
- https://github.com/pkp/pkp-lib/pull/4715
- https://github.com/pkp/omp/pull/666
- https://github.com/pkp/ojs/pull/2375

[2019-05-02 10:31] NateWr opened #4716 "Hide language in backend nav when only one language is supported"
**Describe the problem you would like to solve**
When only one language is supported in a journal and I am in the backend editorial UI, the language selector still appears on the top right.

**Describe the solution you'd like**
The language selector should not appear when there is only one language supported in the current context.

**Who is asking for this feature?**
No one it just looks shoddy.

[2019-05-02 10:36] NateWr commented on #4709
Looks good @defstat. The same test failed on OJS/OMP so I've restarted them. Let me know when they pass and I'm happy to merge this. :+1:

[2019-05-02 12:20] thinkbulecount2 commented on #4683
PR here, @NateWr https://github.com/pkp/pkp-lib/issues/4683

[2019-05-02 12:20] thinkbulecount2 commented on #4683
PR here, @NateWr: https://github.com/pkp/ojs/pull/2376

[2019-05-02 12:54] jonasraoni opened #4717 "[OJS] Generic issues"
Environment: OJS/master
Browser: Chrome

- Generic: Absolute URLs in the help sidebar are being considered as relative URLs, so they are not redirecting to the right resource.
- Issues: When creating a new issue, it's missing validation on the fields (if I set the volume field with "XYZ" and save, it will raise an internal error which is not forwarded to the user).
- Issues: When trying to upload

[2019-05-02 13:55] ajnyga commented on #2428
@NateWr
ok, so I have been looking at this a couple of hours now, but can not find a reason why the form looses the content.

The starting point was that the error appears like this:
![35767490-d572e058-08f5-11e8-9ef1-29ce32ca5b92](https://user-images.githubusercontent.com/16347527/57077867-bcb0c700-6cf5-11e9-8eb1-d327ac5a2fbf.png)

That can be easily fixed by changing https://github.com/pkp/pkp-l

[2019-05-02 13:58] NateWr commented on #2428
@ajnyga :joy: I feel you. Is it possible that all the other forms use ajax submission and this one doesn't? An ajax submission would mean no page reload and so the content is "left" inside. But not sure...

[2019-05-02 14:05] Stefanvdb commented on #4611
@asmecher
I want to have a look at automatic testing for the lucene plugin. Could you point me to current documentation about automated testing in OJS 3 if this exists? As I understand so far, there is a mix of PHPUnit tests and selenium tests (triggered by PHPUnit)?

[2019-05-02 14:32] ajnyga commented on #2428
thanks to Nate, this is now resolved. PR coming soon.

[2019-05-02 15:28] ajnyga commented on #2428
@NateWr @asmecher

ojs: https://github.com/pkp/ojs/pull/2377
pkp-lib: https://github.com/pkp/pkp-lib/pull/4718

I think this is worth backporting to 3.1.2. It is a serious bug.

[2019-05-02 18:18] asmecher commented on #2428
THANKS, @ajnyga, this was a nasty typo that would've been hard to track down. I've merged and back-ported to `stable-3_1_2` for both OJS and OMP, so that this can be included in 3.1.2-1 of each.

[2019-05-02 18:18] #2428 closed

[2019-05-02 18:21] ajnyga commented on #2428
Nate noticed that. Or to be exact I did notice it, but did not think that it would make a difference, but apparently it did :)

This was one of my oldest issues dating back to April 2017, nice to have it closed at last 🎉

[2019-05-02 19:29] asmecher commented on #4611
@Stefanvdb, this is a work in progress and a little cantankerous to set up, but have a look e.g. at the static pages plugin: https://github.com/pkp/staticPages

It includes a `.travis.yml` script that tells the Travis service how to run the scripts. As you'll see, it borrows some of OJS's scripting environment to get it installed and set up, then kicks off its own tests.

[2019-05-03 04:46] defstat commented on #4709
@NateWr Tests have passed but a rebase was needed. Waiting for the tests to pass again.

[2019-05-03 06:30] defstat commented on #4709
@NateWr Tests have passed - Branches have no conflicts.

[2019-05-03 08:52] NateWr commented on #4709
Thanks @defstat, merged to master! It doesn't cherry-pick cleanly into `stable-3_1_2` so would you pull your changes in there and issue a PR to pkp-lib's `stable-3_1_2` branch, as well as a quick PR to run the tests in OJS?

[2019-05-03 09:46] thinkbulecount2 commented on #4557
ojs PR: https://github.com/pkp/ojs/pull/2361
omp PR: https://github.com/pkp/omp/pull/668

[2019-05-03 10:05] thinkbulecount2 commented on #4557
@NateWr made the changes you requested!

[2019-05-03 10:08] defstat commented on #4709
@NateWr

PRs [Stable 3.1.2]
[pkp-lib]: #4719
[OJS]: pkp/ojs#2378
[OMP]: pkp/omp#667

[2019-05-03 10:09] NateWr commented on #4557
Great! Let me know when the tests pass and I'll merge them! :+1:

[2019-05-03 11:34] ctgraham opened #4720 "Warnings when rebuilding search index"
**Describe the bug**
https://forum.pkp.sfu.ca/t/using-rebuildsearchindex-php-in-ojs-3-1-2/53044

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. In a journal with one or more articles, run `tools/rebuildSearchIndex.php`
2. PHP warnings will occur for each locallized setting in each article

**What application are you using?**
 OJS 3.1.2.  Should also affect OMP 3.1.2

**Additional inf

[2019-05-03 12:10] ctgraham opened #4722 "PKPString and Stringy\Stringy objects"
**Describe the bug**
`PKPString` promises to return `string` types, but actually returns `Stringy\Stringy` objects.

**To Reproduce**
Steps to reproduce the behavior:
1. Read the docs.
* https://github.com/pkp/pkp-lib/blob/41216c3b54791beb0199eae2bb4c849487ecd45d/classes/core/PKPString.inc.php#L164
* https://github.com/pkp/pkp-lib/blob/41216c3b54791beb0199eae2bb4c849487ecd45d/classes/core/PKPStrin

[2019-05-03 12:11] ctgraham commented on #4722
@asmecher , are the `Stringy\Stringy` objects intended for use downstream anywhere, or can we just cast to strings in these functions?

[2019-05-03 15:33] NateWr commented on #4709
Thanks! Merged, closing.

[2019-05-03 15:33] #4709 closed

[2019-05-03 16:48] asmecher commented on #4722
I'm OK with a cast to string; I don't think we have any downstream use for them (and can deal with that later).

[2019-05-04 20:26] Potomac commented on #1571
We are now in 2019 and it is still a bug in OJS 3.1.2,

I am working with a team who discovers and learns how to use OJS, and  as the other users in this bugreport I think the delete button should really delete the user in the database,

the current situation brings confusion when we want to recreate the same user or a new user with the email adress of the "deleted" user.

[2019-05-04 20:29] asmecher commented on #1571
@Potomac, there is no "delete" button, there is "remove" and "merge". Are you using the software in English, or another language?

[2019-05-04 20:41] Potomac commented on #1571
I use OJS 3.1.2 in french language, the french name for the menu is "Supprimer" (which means in english : "Delete"),

When I click on a such menu "Delete/Supprimer" I expect that the user will be really deleted for the database, so the confusion is still here,

my OJS installation manages one journal (no multi-journal)

[2019-05-04 20:48] asmecher commented on #1571
Maybe this is a bigger issue in the French translation than e.g. in the English version. In English, at least to me, "remove" isn't as strong a term as "delete" -- it can suggest that the association between the user and the journal is removed, but that the user account continues in some form. Our translations are all volunteer-maintained, so if you think an adjustment to the translation would cau

[2019-05-05 05:20] gtl-avin commented on #2993
I found this solution [MTCaptcha ](https://www.mtcaptcha.com/) which seems to work in China and elsewhere. Also seems to have a NoCaptcha Alternate.

[2019-05-05 06:43] mt-dave commented on #2993
I came across [MTCaptcha](https://www.mtcaptcha.com/), this captcha service which works in china and also have no captcha capabilities. Worth a try as alternate to recaptcha

[2019-05-06 17:48] arturluizbr commented on #1504
That's true. =/

Maybe sensitive config could be isolated from each journal settings page to a global admin's only settings page.

[2019-05-06 18:51] asmecher commented on #2508
Scenario: an OJS reviewer accepts a review, but never delivers. The editor runs out of time and decides to close the review assignment.

History: OJS 2.x had a "Cancel Review" feature, leading to an email compose window and `REVIEW_CANCEL` email template. This fed the `cancelled` column in `review_assignments` (a boolean flag). Downstream users of the data knew to watch for `cancelled=1` to indica

[2019-05-06 19:31] pilasou commented on #2508
Reviewer Grid after review cancelled:
![Capture](https://user-images.githubusercontent.com/19291880/57249828-f6ded900-7013-11e9-9d85-a9976ca9e8a8.PNG)

[2019-05-06 19:40] asmecher commented on #2508
DRAFT Pull request: https://github.com/pkp/pkp-lib/pull/4724

[2019-05-06 21:09] jmacgreg opened #4725 "Decision dates in Articles report are possibly busted"
**Describe the bug**
In reviewing the articles report and what was implemented in #2820, @alexxxmendonca and @johnbarneson1 and I have stumbled upon some possible bugs with editor decisions and decision dates:

- dates may not be listed in order
- having editors make decisions to move to production or elsewhere may create a "decision" column in the csv file, but with a blank date - these shouldn't

[2019-05-06 21:41] asmecher opened #4726 "Event log lists {$submissionId} without replacement for OJS 2.x-sourced submissions"
After an upgrade to OJS 3.x, submissions created in OJS 2.x list `{$submissionId}` in the event log text (i.e. the variable name is not replaced with a number).

See https://forum.pkp.sfu.ca/t/entries-in-editorial-history-showing-submissionid-tag-instead-of-actual-submission-id/52474 for details.

[2019-05-06 22:15] asmecher opened #4727 "Dead code hunt (Sprint 2019)"
Tracking issue for dead code that needs removal/cleanup.

[2019-05-06 22:19] #4726 closed

[2019-05-06 22:21] asmecher commented on #4727
Find classes that are declared in our codebase but never named elsewhere in it:
[code]
(False positives: Plugins, handlers, command-line tools, probably others)

[2019-05-06 22:48] johnbarneson1 commented on #4727
Here is a list of candidate classes obtained by running the script above.

JournalFileManager
SubmissionSubmitStep2Form
SubmissionSubmitStep4Form
SubmissionSubmitStep1Form
DOAJInfoSender
CrossrefInfoSender
DataciteInfoSender
O4DOIObjectCacheTest
MedraInfoSender
UsageStatsLoader
Mods34SchemaArticleAdapter
CounterReport
CounterReportJR1
CounterReport
CounterReportAR1
CounterReport
ContentBaseTestCas

[2019-05-06 23:22] asmecher commented on #4727
PRs:
- https://github.com/pkp/ojs/pull/2379
- https://github.com/pkp/pkp-lib/pull/4728

[2019-05-06 23:33] asmecher commented on #2508
@NateWr, I'm getting Javascript errors that are doing my head in -- probably quick for you to spot. Mind taking a quick glance over the above PR? It's breaking the reviewer selection stuff.

[2019-05-07 08:43] NateWr commented on #2508
What are the JavaScript errors that you encountered? I haven't been able to trigger any JS errors, but I have run into other issues:

- When trying to add a reviewer, I get `DB Error: Column count doesn't match value count at row 1`.
- When a review is cancelled, it still appears as an Active Review in the reviewer selection list. Probably the calculation for all of the reviewer stats need a revie

[2019-05-07 09:13] navotera commented on #4600
the official download of ojs 3.1.2 not work (this code never merge to the official OJS download https://pkp.sfu.ca/ojs/ojs_download/)

[2019-05-07 10:44] ajnyga commented on #3698
Hi,

I think that all those places rely on the existence of the date_completed value. What makes the autosave maybe complicated are the custom review forms. I have not used them much, so have to look into them. The basic review form should be easy enough.

I am thinking that I will first add a manual ajax save button to the bottom of the form. After that we can add javascript that will trigger tha

[2019-05-07 10:47] ajnyga commented on #3698
(fyi @jalperin the original issue with the loss of data you described is actually solved now here https://github.com/pkp/pkp-lib/issues/2428 but I will see if we can have the save button there as well in any case)

[2019-05-07 14:11] NateWr commented on #3698
A Save for Later button should provide a flying notification ("Review saved for later.") but an autosave should not. :+1:

[2019-05-07 16:45] asmecher commented on #2508
Well shoot -- thanks, @NateWr, I think that DB error explains it. I'm not sure why I was convinced it was a JS/Vue issue. Will continue working on the other aspects.

[2019-05-07 16:55] asmecher commented on #4600
@navotera, this is filed against the 3.1.2-1 milestone, which has not been released yet.

[2019-05-07 19:25] #4714 closed

[2019-05-07 19:29] asmecher commented on #4664
@Stefanvdb, thanks for your patience -- I've just merged some changes that allow you to use Application::getSubmissionSearchIndex() and then call functions on that object independent of whether it's being used in OJS or OMP. If you have a look at the abstract functions in SubmissionSearchIndex, that'll resolve it. Mind taking a look and adjusting the PR to use that?

[2019-05-07 20:18] giotta commented on #4727
# Script

Here's a [Python script to find dead code in OJS](https://gist.github.com/giotta/ed99022931650c3d8c48f8da6b2816eb).

## Installation

* Have Python >= 3.6 installed on your system.
* Download the script
* The script should live aside your `ojs` source code root directory

[code]

## Usage

[code]

## Scope

Currently the script only looks for dead **templates**
* it's printing a markdown

[2019-05-07 20:19] giotta commented on #4727
## Templates
-----------------------------------------------------------------------

271 deads out of 422 templates (complete list in `dead` variable)
- [x] ojs/lib/pkp/templates/user/profile.tpl
- [x] ojs/lib/pkp/templates/user/changePassword.tpl
- [x] ojs/lib/pkp/templates/user/contactForm.tpl
- [x] ojs/lib/pkp/templates/user/userGroupSelfRegistration.tpl
- [x] ojs/lib/pkp/templates/user/identi

[2019-05-07 21:18] robertbeanstalk opened #4729 "[Sprint/UIUX] New User Registration - New User Landing Page Exploration"
**Describe the problem you would like to solve**
A new self registered user is assigned the "Reader" role by default. What is the appropriate page for this user to be directed to after registration? Should they be directed to the "start a submission" page?

**Describe the solution you'd like**
Is there an opportunity for an orientation page for all new self registered users to go to that provides

[2019-05-07 21:31] robertbeanstalk opened #4730 "[Sprint/UIUX] New User Self Registration Form - Not All Required Fields Marked"
**Describe the bug**
Agreement to privacy statement should be clearly marked as a required field (currently does not have a red asterisk, looks optional). Easily confused with optional fields located in the same area of the form. Failure to check the box results in failure of submission of the form.

**To Reproduce**
Do the new user self registration process.

**What application are you using?**

[2019-05-07 21:42] thinkbulecount2 opened #4731 "[Sprint/UIUX] Add list of of associated files to choose what to send during next round of reviews"
**Describe the problem you would like to solve**
When going to the next round of reviews, often the files originally associated with the review are not automatically attached. This requires an extra workflow or could be a missed step by editors for them to be able to easily access or find those files.

**Describe the solution you'd like**
When going to the next round of review(s), add the list of

[2019-05-07 21:45] robertbeanstalk opened #4732 "[Sprint/UIUX] New Submission Step 1 - Consider confirming all required fields with one button"
**Describe the problem you would like to solve**
A check box for each requirement seems redundant and perhaps not a great use of the user's time.

**Describe the solution you'd like**
Since agreement is required for all fields, use just one button for the whole set of the requirements rather than requiring confirmation for each requirement.

**Who is asking for this feature?**
UIUX Spring Sprint

[2019-05-07 21:50] thinkbulecount2 opened #4733 "[Sprint/UIUX] Reviewer Assignment vs. Adding Participant"
**Describe the problem you would like to solve**
There are two ways to assign a reviewer in the Review section. (Add Reviewer under the "Reviewers" column, and the "Assign" button on the "Participants" column on the right) What is the difference between a participant and a reviewer? This confuses editors, and often if they add a reviewer through the Participants column, this does not kick off the

[2019-05-07 21:52] robertbeanstalk opened #4734 "[Sprint/UIUX] New Submission Step 1 - General UIUX interface considerations"
**Describe the problem you would like to solve**
Shows submission steps across the top of the page with current step highlighted, looks like a tabbed navigation menu, but it is not.

Save and continue button is at the bottom of page and featured in low contrast. List at top of page may confuse user as to how to navigate to the next step in the process.

**Describe the solution you'd like**

Make t

[2019-05-07 22:00] robertbeanstalk opened #4735 "[Sprint/UIUX] New Submission Workflow"
**Describe the bug**
User can navigate back to “step one” from “step two” using the submission steps at the top of the viewport to fill out the Submission Requirements form again.

**To Reproduce**
Make a new submission and get to step 2. Then, click on the link for step one.

**What application are you using?**
 OJS 3.2

**Additional information**

[2019-05-07 22:01] asmecher commented on #4727
Remove unused templates PR: https://github.com/pkp/pkp-lib/pull/4736

[2019-05-07 22:18] eniocarboni opened #4737 "Problem on Add Reviewer => Enroll Existing User"
OJS 3.1.2
On a submission adding a new reviewer using the “Enroll Existing User” link go on error.
In the text field with autocomplete, I insert the initials of the name so that the list of possible reviewers appears.
Selecting any one of the users the text field is filled with the **user_id** of the user (the user_id of the “users” table of the database) and in this way it is not possible to cont

[2019-05-07 22:25] eniocarboni commented on #4737
The problem can be seen on javascript console:
[code]
Jlabel plugin use old .size() function (see https://github.com/wduffy/jLabel/blob/master/jquery.jlabel.js#L90) deprecated in JQuery 1.8 and removed in 3.0.
It should be used the equivalent .length property (see https://api.jquery.com/size/)

[2019-05-08 05:34] mpbraendle opened #4738 "pkp-lib/templates/frontend/pages/privacy.tpl - move breadcrumb out of div"
pkp-lib/templates/frontend/pages/privacy.tpl

The breadcrumb include should not be within the  div class="page page_privacy" element, but moved in front of it. Otherwise, the privacy statement is displayed on the same line as the breadcrumb.

 OJS 3.1.2

[2019-05-08 09:47] NateWr commented on #4732
I presume you mean the "Submission Requirements" list, correct?

[2019-05-08 09:53] NateWr commented on #4735
This is intentional to allow the author to change details they have previously entered. Closing as not a bug.

[2019-05-08 09:53] #4735 closed

[2019-05-08 10:06] NateWr commented on #4731
The typical workflow is that an author will submit revisions, and it is these revisions that should be automatically forwarded to a second round of reviews. I just did a quick test and revision files are being forwarded by default (they are pre-selected for forwarding during the new review round modal).

I'll close this as already fixed but let me know if I've misunderstood the report!

[2019-05-08 10:06] #4731 closed

[2019-05-08 10:14] NateWr commented on #4729
This is the current page where the user is directed after orientation.

![Selection_060](https://user-images.githubusercontent.com/2306629/57368009-0aa84d80-7182-11e9-800a-e07189ffcd15.png)

Can you let me know what you'd like to see added, removed, changed?

In most cases, I think most users are registering to submit an article. In some cases, they may be registering to express an interest to be

[2019-05-08 12:13] Stefanvdb opened #4741 "Add autocompletion of search phrase to lucene plugin"
In order to add autocompletion to the Lucene Plugin some changes are needed in .tpl files.
Pull request will follow.

[2019-05-08 14:38] NateWr commented on #3673
PRs for master branch:
https://github.com/pkp/ojs/pull/2381
https://github.com/pkp/omp/pull/670
https://github.com/pkp/pkp-lib/pull/4742
https://github.com/pkp/ui-library/pull/30

[2019-05-08 15:46] asmecher commented on #4741
PR: https://github.com/pkp/ojs/pull/2380

[2019-05-08 16:04] NateWr commented on #4737
Maybe related to/same as https://github.com/pkp/pkp-lib/issues/4575

[2019-05-08 17:21] asmecher opened #4743 "pt_BR manager.xml locale string missing closing ]]>"
Reported: https://github.com/pkp/ojs/pull/2382

This will cause several pt_BR locale keys to appear as though they are untranslated, and the offending locale key to include a bunch of extraneous content by accident.

[2019-05-08 17:24] #4743 closed

[2019-05-08 17:25] asmecher commented on #4743
Fixed (the two patches are equivalent, just applied to different branches). Thanks to @dancaixeta for reporting!

[2019-05-08 17:51] asmecher commented on #4737
This is indeed the same as #4575 -- autocomplete fields are broken because the "jLabel" jQuery plugin is not working with our current version of jQuery. @eniocarboni, I'm hesitant to modify that library because it's third-party code and no longer maintained, and a better solution would be to replace/remove it. I'll pursue that over on the other git issue.

[2019-05-08 17:51] #4737 closed

[2019-05-08 17:52] asmecher commented on #4575
The root cause is the "jLabel" jQueryUI plugin, which is unmaintained and needs replacement/removal.

[2019-05-08 22:22] mfelczak opened #4744 "Tasks list empty and does not load recent tasks"
**Describe the bug**
The tasks list remains empty even though the task list counter is non-zero.

**To Reproduce**
Following the suggestion in the [forum](https://forum.pkp.sfu.ca/t/task-notification-error/40733), we checked the DB for null user_id columns in the notes table. All of the null user_id notes are tied to either Copyediting or Proofreading discussions and the note date_created values c

[2019-05-08 22:35] asmecher commented on #4744
This is a duplicate of https://github.com/pkp/pkp-lib/issues/4674.

[2019-05-08 22:39] mfelczak commented on #4744
Thanks @asmecher! Although the patch at #4674 should address the immediate issue with the tasks display, this looks like it may also be an OJS 2 > OJS 3 upgrade issue, i.e.

[code]

[2019-05-08 22:48] asmecher commented on #4381
Done.

[2019-05-08 22:48] #4381 closed

[2019-05-08 22:50] mfelczak commented on #4744
Re-opening to track possible upgrade issue, but happy to open a separate issue if that's helpful.

[2019-05-09 00:29] asmecher commented on #4727
Merged all the relevant pieces and the sprint is over -- closing!

[2019-05-09 00:29] #4727 closed

[2019-05-09 00:39] asmecher commented on #4744
@mfelczak, I think `user_id=0` in signoffs/tasks migrated from OJS2 may be a necessary evil due to a mismatch in the amount of data tracked in OJS3 compared to OJS2. In OJS3, query content always has a specific author (IIRC); during the upgrade, however, query data is populated from OJS2's signoffs structure, which doesn't always have a specific user attached to it.

[2019-05-09 02:20] asmecher commented on #4575
The jLabel plugin was only used to provide a "Start Typing" label behind the text field for autocomplete inputs. Personally I don't think it added anything important so I flat-out removed it.

PRs:
- https://github.com/pkp/pkp-lib/pull/4745
- https://github.com/pkp/ojs/pull/2383

These can be cherry-picked back to `stable-3_1_2` *but* they'll require a JS recompile if you're using minified JS.

@N

[2019-05-09 07:07] ajnyga opened #4746 "Announcement notification email should include the announcement content"
This is a place holder for a soon to come pull request.

[2019-05-09 08:15] NateWr commented on #4575
No objections. PR looks good. :+1:

[2019-05-09 13:21] ajnyga commented on #4746
@NateWr, here is the first candidate

ojs: https://github.com/pkp/ojs/pull/2384
lib: https://github.com/pkp/pkp-lib/pull/4747

[2019-05-09 13:39] NateWr commented on #4746
Thanks @ajnyga! I'm going to have to dig in a bit here because I'm not that familiar with our notifications handling. I'll put it on my todo list for next week.

[2019-05-09 14:59] ajnyga commented on #4746
Thanks, no rush I think. The plugin I made should cover this for anyone wanting the feature, so this can be moved to 3.2.

[2019-05-09 15:15] #4575 closed

[2019-05-09 15:32] asmecher commented on #4575
Merged and ported to `stable-3_1_2` for OJS and OMP.

[2019-05-09 18:00] #4722 closed

[2019-05-09 18:01] asmecher commented on #4722
Merged and cherry-picked back to `stable-3_1_2` -- thanks, @ctgraham!

[2019-05-09 18:02] asmecher commented on #4720
@ctgraham, did https://github.com/pkp/pkp-lib/issues/4722 fix this?

[2019-05-09 18:07] ctgraham commented on #4720
#4722 resolves the warnings, but not the inconsistent use of localized return values I found when investigating the warnings.  I'll adjust the title.

[2019-05-10 18:30] asmecher commented on #4741
Thanks, @Stefanvdb! That's a good new pattern established. I've merged and also ported to `stable-3_1_2` for the OJS 3.1.2-1 release.

[2019-05-10 18:30] #4741 closed

[2019-05-10 18:52] ctgraham commented on #4720
Branching the documentation issue to a new issue.

This issue is resolved by #4722.

[2019-05-10 18:52] #4720 closed

[2019-05-10 18:55] ctgraham opened #4748 "Search index operates on localized strings (arrays) but parameter documentation describes only strings"
**Describe the bug**
The `Article` localized property getters when passed null for the locale will return an array of text by locale. So the calls:

https://github.com/pkp/ojs/blob/9a9b7978a0e8f2a03d444d735b533d896d75c286/classes/search/ArticleSearchIndex.inc.php#L70-L76
or
https://github.com/pkp/omp/blob/c5ea2fea9e2f0a0b998b82eee66c2a03c45a778e/classes/search/MonographSearchIndex.inc.php#L123-L12

[2019-05-10 19:10] ctgraham commented on #4748
Definitely should be documented `string|array`:
* https://github.com/pkp/pkp-lib/blob/34cadfc1211b77a339ed030b32e4549301aabb93/classes/search/SubmissionSearchIndex.inc.php#L28
* https://github.com/pkp/ojs/blob/7639c34c6ad59d0d03e5cdabde2dceca7031a7c8/classes/search/ArticleSearchIndex.inc.php#L302
* https://github.com/pkp/ojs/blob/7639c34c6ad59d0d03e5cdabde2dceca7031a7c8/classes/search/ArticleSearc

[2019-05-11 17:17] amandastevens opened #4749 "pdf.js does not display ff characters"
When viewing the PDF in OJS with the pdf.js viewer, any word with "ff" in it is displayed with all the letters jumbled together.  See http://journals.sfu.ca/cjhe/index.php/cjhe/article/view/188197/186327 (and other articles in this journal).

I tested it in Chrome and Firefox and got the same result.  When you download the PDF and view it the characters display fine and the text can be copied and

[2019-05-12 07:02] Vitaliy-1 commented on #4749
Just tested it and the problem resolved after upgrading of PDF.js to 2.0.943 version (currently the latest stable).

[2019-05-13 08:20] NateWr commented on #4054
Merged, thanks!

[2019-05-13 09:33] NateWr commented on #3673
@asmecher I've ported the published submission usage stats page to master, with some changes based on lessons learned with our first go-around. I also added tests for the stats page, which was a good learning experience for me.

I'm getting some persistent test failures in OJS for postgres, and the test error log only goes back 200 lines, so I don't think I can see what's happening. I tried to get

[2019-05-13 10:44] NateWr commented on #4656
PRs (master):
https://github.com/pkp/pkp-lib/pull/4750
https://github.com/pkp/ojs/pull/2385
https://github.com/pkp/omp/pull/671 (tests only)

PRs (stable):
https://github.com/pkp/pkp-lib/pull/4751
https://github.com/pkp/ojs/pull/2386 (tests only)
https://github.com/pkp/omp/pull/672 (tests only)

[2019-05-13 13:04] NateWr commented on #4702
Merged and cherry-picked to `master`.

[2019-05-13 13:04] #4702 closed

[2019-05-13 13:17] NateWr commented on #4570
PR
https://github.com/pkp/ojs/pull/2387 (master)
https://github.com/pkp/ojs/pull/2388 (stable)

[2019-05-13 13:32] NateWr commented on #4578
@asmecher I'm confused, I thought OMP was _always_ single-press! My assumption here goes way back.

For example, there's no [site index template file](https://github.com/pkp/omp/tree/master/templates/frontend/pages). You can't access any of the site-wide settings unless a second press exists, and even then they are mostly useless, since most of them would be displayed on a site-wide index page tha

[2019-05-13 13:47] ajnyga commented on #4578
(I had a discussion concerning the site index with Alec here https://forum.pkp.sfu.ca/t/omp-site-index-redirects-to-login-page/43392)

[2019-05-13 14:10] NateWr commented on #4656
Tests passed. @asmecher can you code review?

[2019-05-13 14:14] NateWr commented on #4649
Looks like this has been fixed in stable and master: https://github.com/pkp/pkp-lib/pull/4650. @ctgraham can this one be closed?

[2019-05-13 14:16] #4649 closed

[2019-05-13 14:27] defstat commented on #3758
@asmecher

PRs
[pkp-lib]: #4753
[OJS]: pkp/ojs#2390
[OMP]: pkp/omp#673

[2019-05-13 14:42] Baytan opened #4754 "Unable to Upload/Select Files from Copyediting stage"
If, in a submission, a file is attached to a discussion then in Copyediting it is not possible to use “Upload/Select Files” from Copyediting stage.

It happens that the window opens but does not load the part for uploading or selecting files.
![Screenshot-2018-12-17 Web of Science  v 5 31  - Citation Report](https://user-images.githubusercontent.com/27674815/57630400-36726b80-75a6-11e9-90e8-e676ef

[2019-05-13 14:52] NateWr commented on #4654
PRs:
https://github.com/pkp/ojs/pull/2392 (master)
https://github.com/pkp/ojs/pull/2391 (stable)

[2019-05-13 15:17] ctgraham opened #4756 "Adding a Custom Page NMI with a slash in the path fails on display"
**Describe the bug**
Adding a Navigation Menu Item (e.g. Custom Page) with a path which contains a slash will save correctly and resolve correctly, but will not display correctly.  When displayed as a NMI, the path's slash character will be escaped.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings, Website, Navigation Menus.
2. Add a new Navigation Menu Item, type Custom Page,

[2019-05-13 15:36] NateWr commented on #4675
PRs:
https://github.com/pkp/pkp-lib/pull/4758
https://github.com/pkp/pkp-lib/pull/4759 (stable)

Tests:
https://github.com/pkp/ojs/pull/2394
https://github.com/pkp/ojs/pull/2395 (stable)

[2019-05-13 15:38] defstat commented on #4214
@Ph-We The stable3-1-2 branch has the changes - just added them to the master branch as well
@NateWr

PRs
[pkp-lib]: #4755
[OJS]: pkp/ojs#2393
[OMP]: pkp/omp#674

[2019-05-13 15:58] NateWr commented on #4655
Looks like this fix is in stable and master. Closing.

[2019-05-13 15:58] #4655 closed

[2019-05-13 16:59] NateWr commented on #4570
Merged.

[2019-05-13 16:59] #4570 closed

[2019-05-13 18:33] NateWr opened #4760 "Add support for COUNTER 5 Unique_Item_Requests specification"
**Describe the problem you would like to solve**
The [Counter 5 specification](https://www.projectcounter.org/code-of-practice-five-sections/4-1-usage-reports/#titlereports) identifies a `Unique_Item_Requests` metric, which de-duplicates multiple requests to different galleys in a submission, but we do not store metrics in the database in this way.

**Describe the solution you'd like**
The metrics

[2019-05-13 18:38] NateWr commented on #4760
A few thoughts:

1. If I read this correctly, it should only apply in cases where the abstract page also displays the full-text. Since this is up to the theme, we can not determine when it should be applied. It will be up to the journal.

2. We probably want to keep the counts distinguished for our own UI, so that journal managers can see how many times a PDF vs a landing page have been accessed.

[2019-05-13 19:41] asmecher commented on #4636
Looks good and clear to me, @NateWr -- but were you able to reproduce the problem? I can't figure out why it wouldn't reproduce on my own machine; it clearly should have by my read.

[2019-05-13 20:56] asmecher commented on #4749
Updated to the latest stable -- thanks, @amandastevens and @Vitaliy-1!

[2019-05-13 20:56] #4749 closed

[2019-05-14 07:43] ptrckb commented on #4754
This is the same issue as #4179 but resurfacing when uploading/selecting files: deleting/cancelling a query has left a file orphan. The fix below makes the file selector ignores these files.

OJS: pkp/ojs#2396
PKP: pkp/pkp-lib#4761

[2019-05-14 08:13] eniocarboni commented on #4754
Yes, I too have locally fixed the problem temporarily in this way, ignoring the problem file.
But the problem is that in this way we exclude from the list all the files that are attached to any discussion (and not just those of deleted discussions).

[2019-05-14 08:21] ptrckb commented on #4754
Are you sure? The purpose of this patch is to list a file **only** if it can be linked to a discussion. So it effectively filters out any dangling files but does include any regular one.

[2019-05-14 09:05] eniocarboni commented on #4754
@ptrckb  I have just redone the tests and everything works.
I apologize but I don't know why it seemed to me that I had done the same test a few days ago and it seemed negative.
I agree that it works for me

[2019-05-14 09:09] NateWr opened #4762 "Restore site settings and multi-press availability to OMP"
**Describe the bug**
With #3594, the site settings and the ability to create more than one press were removed in OMP. These should be restored

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin > Hosted Presses. Should be able to add more than one press.
2. Go to Admin. Should see Site Settings even if only one press exists.

**What application are you using?**
OMP master branch (pr

[2019-05-14 09:09] NateWr commented on #4578
Ok, we chatted about this and the multi-press stuff needs to come back (https://github.com/pkp/pkp-lib/issues/4762). That also means the `CatalogSubmissionsListPanel.vue` needs to be updated to use the correct context ID.

[2019-05-14 09:16] NateWr commented on #4214
Merged. Closing. :+1:

[2019-05-14 09:16] #4214 closed

[2019-05-14 09:18] NateWr commented on #4636
Merged. :+1:

It's confusing, because the title is correct but the description is not. At first I didn't notice, so I'm guessing the same happened with you.

[2019-05-14 09:18] #4636 closed

[2019-05-14 12:31] Baytan commented on #4754
I also approve that with the revision at https://github.com/pkp/ojs/pull/2396/files the problem is solved. thank you very much.

[2019-05-14 12:41] ctgraham opened #4763 "piwik (matomo) plugin - malformed URL"
**Describe the bug**
https://forum.pkp.sfu.ca/t/ojs-v3-1-2-piwik-plugin-error/53349/2

**To Reproduce**
Steps to reproduce the behavior:
1. Enable and configure piwik plugin
2. View HTTP requests made against matomo URL

**What application are you using?**
 OJS or OMP version 3.1.2

**Additional information**
Piwik plugin Settings form requires a URL:
https://github.com/pkp/piwik/blob/910bfd6b6464

[2019-05-14 12:45] ctgraham commented on #4763
If we let (require) the user enter a full URL with protocol, we'll need to either require this be https to prevent failure of mixed protocol requests, or we'll need to strip the protocol before usage.

If we let the user enter just a arbitrary DNS + path, we need to clarify the expectation within the form.  The form error currently says "http://" is required.
https://github.com/pkp/piwik/blob/910b

[2019-05-14 14:09] ctgraham commented on #4763
@dennmuel , @mpbraendle, can you test the proposed PR?

[2019-05-14 14:22] mpbraendle commented on #4763
Works on our test server. Thank you.

[2019-05-14 14:35] dennmuel commented on #4763
Same here. :) Thanks!

[2019-05-14 15:30] NateWr commented on #4557
All merged. :tada:

[2019-05-14 15:30] #4557 closed

[2019-05-14 16:22] asmecher commented on #4636
Ah, that could well be the case. Thanks, @ctgraham and @NateWr!

[2019-05-14 16:25] #4763 closed

[2019-05-14 16:26] asmecher commented on #4763
Thanks, @ctgraham!

[2019-05-14 16:30] asmecher commented on #4763
Added a new release of Piwik ([v1.0.2-1](https://github.com/pkp/piwik/releases/tag/v1.0.2-1)) to the plugin gallery with this fix included.

[2019-05-14 18:08] asmecher commented on #3673
@NateWr, looking back through the logs for "errors" (typically the last occurrence will come from PHPUnit) I get...
[code]
This looks to me like a race condition, and if so, if you're getting "repeating-ish" failures, you might see it vary from submission to submission on repetitions. It might be that PostgreSQL is more susceptible for some reason. I'll restart the test and see if it wanders.

[2019-05-14 18:16] asmecher commented on #4754
Thanks, all, and particularly to @ptrckb for contributing!

[2019-05-14 18:16] #4754 closed

[2019-05-14 19:10] asmecher commented on #3673
Newp, looks like it's stuck firmly on the one submission. Will investigate locally.

[2019-05-14 20:09] asmecher commented on #3673
Looks like there was a missing group-by clause that PostgreSQL was getting fussy about. Try cherry-picking https://github.com/asmecher/ojs/commit/d282469a18c57015908e3a4f2c3af9c5e2e2e808 in -- I'm running tests on this now at https://travis-ci.org/asmecher/ojs/builds/532479579.

[2019-05-14 20:14] asmecher commented on #3673
Whoops, this was already filed and fixed at https://github.com/pkp/pkp-lib/issues/4097 but never merged. I've gone ahead and merged that. Just fetching/rebasing your OJS repo should now fix the tests.

[2019-05-14 20:16] asmecher commented on #4097
With apologies, this fell out of my inbox. Thanks, @crism (and others), I've merged to `master` and ported to `stable-3_1_2` for the OJS 3.1.2-1 release.

[2019-05-14 20:16] #4097 closed

[2019-05-14 21:41] asmecher commented on #4717
@jonasraoni, could you file these one at a time? I think several have already been resolved, and they'll be easier to manage if each issue gets its own entry. Thanks!

[2019-05-14 21:41] #4717 closed

[2019-05-14 22:02] asmecher commented on #4748
Agreed, `string|array` should be standard behavior.

[2019-05-14 22:47] asmecher commented on #3758
Thanks for carrying this along, @defstat! Just a few comments on the above PR. Very happy to see so much of this going into pkp-lib, especially given the preprint server fork will be created soon!

[2019-05-15 00:38] amandastevens commented on #4749
Thank you for solving this!  @asmecher, to fix this on the journal site do I update the pdf.js viewer plugin?

[2019-05-15 03:22] ipaddr opened #4764 "[OCS]"
Hi happy to join the community,

I just jump into ocs and this is awesome software. Happy to learn to develop using it.
I face some issue thought, when a paper has been reviewed by reviewer and assign back to track director and then followup back to author, when author click the review link, the page shown nothing. Screen shot as below:

After got revision, author login back to system to see the r

[2019-05-15 10:44] NateWr commented on #3673
Thanks @asmecher! Will do.

[2019-05-15 11:07] NateWr commented on #4675
Merged.

[2019-05-15 11:07] #4675 closed

[2019-05-15 12:21] NateWr commented on #4683
Merged!

[2019-05-15 12:23] #4683 closed

[2019-05-15 12:30] NateWr commented on #3673
@asmecher I'm getting postgres failures in the same place after rebasing. Is it possible that it's being caused by this issue?

https://github.com/pkp/pkp-lib/issues/4599
https://github.com/pkp/pkp-lib/pull/4608

[2019-05-15 12:35] NateWr commented on #4654
Merged.

[2019-05-15 12:35] #4654 closed

[2019-05-15 14:05] thinkbulecount2 commented on #4705
Hi @NateWr, PR here: https://github.com/pkp/ojs/pull/2397

[2019-05-15 14:23] NateWr commented on #4705
Thanks @thinkbulecount2! Merged.

[2019-05-15 15:19] asmecher commented on #4764
@ipaddr, is there anything in your PHP error log?

[2019-05-15 15:45] jhfredy commented on #1825
@asmecher good day, I have a problem, I try to preview the HTML as galley but the iframe does not take it, I practically leave it blank and it does not show me anything of the HTML file, is there any solution?
in the table submission_file text / html appears.
I am managing the version of ojs 3.1.1.4 thank your collaboration

[2019-05-15 16:02] asmecher commented on #4749
I haven't built a new release of it yet for the plugin gallery, but I can...

[2019-05-15 16:10] asmecher commented on #1825
@jhfredy, could you post this question on our support forum (https://forum.pkp.sfu.ca)? That's the best place to post this kind of question.

[2019-05-15 16:14] amandastevens commented on #4749
Or if there is another way to implement the update let me know.

[2019-05-15 16:39] amandastevens commented on #3697
A PKP|PS hosted client also pointed out that #1 is misleading and made another suggestion related to #3: "The editors also finds the message 'a review is overdue' to be confusing, as it is often the case that it refers to a reviewer being late to respond to the request rather than being late to submit the review."

[2019-05-15 17:05] asmecher commented on #3697
On point 1: I've tweaked the wording from "All reviews are in..." to "All reviewers have responded..." -- not a complete solution but a small start.

[2019-05-15 17:38] defstat commented on #3758
@asmecher I pushed the review changes -

I also changed the place where the upgrade script runs `<code function="changeUserRolesAndStageAssignmentsForStagePermitSubmissionEdit" />` because it seems that it should run regardless the installation version.

[2019-05-15 18:23] asmecher commented on #4749
That plugin is distributed with OJS, so I'm nervous about mixing things up too much by also putting it in the plugin gallery. I've put a new .tar.gz release here for users who need the update: https://github.com/pkp/pdfJsViewer/releases/tag/v1_0_1-0

However, since you're probably working with hosting, I suspect you'd do best to just update the git submodule (to `stable-3_1_2`, in the `plugins/gen

[2019-05-15 18:44] asmecher commented on #4738
For you, @NateWr! Delegate as/if you like.

[2019-05-15 18:59] asmecher commented on #4599
I've merged this as https://github.com/pkp/pkp-lib/commit/cdc81fa1ad34034a1f76d6d0e500dd8add86cb2e -- thanks for contributing, @eniocarboni!

[2019-05-15 18:59] #4599 closed

[2019-05-15 18:59] asmecher commented on #3673
Hmm, I don't think so, but it's possible. I'll re-run the tests here locally.

[2019-05-15 19:11] jonasraoni commented on #4717
I was in doubt if I should spam or not. I'll pull the updates and check what's already solved :)

[2019-05-15 19:17] ctgraham commented on #4756
The static pages plugin gets away with this because it never constructs a URL though the router.  It only interprets URLs.

How much to we trust the user's entry here?  If we allow slashes and pass them to the Dispatcher as a `$path` instead of the `$handler`, do we open ourselves to URL injection?  I don't think so, because each path component is urlencoded:
https://github.com/pkp/pkp-lib/blob/b6

[2019-05-15 19:29] asmecher opened #4765 "Import of issue from XML using native plugin may lead to several "current" issues"
When importing an issue from XML, if the issue is set to be current, no check is made to ensure that a previously-current issue is changed to non-current. This can lead to several issues being flagged current.

[2019-05-15 19:30] asmecher commented on #3673
Two issues were flagged as `current` per the tests and I guess each DBMS picks a different favourite. This should fix it (already merged to `master` and `stable-3_1_2`): https://github.com/pkp/pkp-lib/issues/4765

[2019-05-15 19:31] #4765 closed

[2019-05-15 23:23] asmecher commented on #3758
@defstat, I just had one small comment -- otherwise this looks good. Please go ahead and merge when you're ready.

[2019-05-16 02:59] asmecher commented on #2508
PRs:
- https://github.com/pkp/ojs/pull/2399
- https://github.com/pkp/ui-library/pull/31
- https://github.com/pkp/pkp-lib/pull/4768

[2019-05-16 03:01] asmecher commented on #2508
@NateWr, the above 3 PRs add the stats and "reinstate" features that were missing from the previous implementation. I also moved everything to `master` as we can't make schema changes on `stable-3_1_2`.

I ended up losing much of this code in a git debacle and restoring it by grabbing an old diff from my terminal history (!!!) so I apologize for anything boneheadedly missing. I think I got it all.

[2019-05-16 10:04] NateWr opened #4769 "Link to view site doesn't work in settings wizard after journal creation"
**Describe the bug**
After creating a journal and being redirected to the settings wizard, the View Site link appears at the top, but this does not take me to the site. It doesn't do anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin > Hosted Journals > Create Journal.
2. After creating a journal you will be redirected to the settings wizard.
3. Try to click the View Site

[2019-05-16 10:19] NateWr commented on #4738
PRs (master):
https://github.com/pkp/ojs/pull/2400
https://github.com/pkp/omp/pull/677

PRs (stable):
https://github.com/pkp/ojs/pull/2401
https://github.com/pkp/omp/pull/678

Thanks for reporting @mpbraendle! The default statement itself should be wrapped in `<p>` tags, since it will be automatically wrapped when the statement is edited in the settings. To fix you instance, you can just go into S

[2019-05-16 10:45] mpbraendle commented on #4738
Hmm. Yes and no. The proposed change must then be implemented for every language ...

[2019-05-16 13:50] ajnyga opened #4770 "OJS Manual payment plugin should notify the subscription manager and not the primary contact"
**Describe the bug**
At the moment the manual payment plugin sends emails to the journal primary contact. It should send them to the subscription manager instead.

https://github.com/pkp/ojs/blob/master/plugins/paymethod/manual/ManualPaymentPlugin.inc.php#L145-L149

Should be (and maybe use the primary contact address as a backup if subscription manager address not given):

[code]

**What applicat

[2019-05-16 13:52] NateWr commented on #4738
Good catch @mpbraendle! I've updated the PRs now.

[2019-05-16 14:40] cmmartinezm opened #4771 "Record editorial desition button don't work. Process freeze and still waiting"
![error](https://user-images.githubusercontent.com/49250425/57862747-ddcde900-77c6-11e9-87aa-2991f1609453.jpg)

When you press the record editorial desition button. The form dont' do nothing and freeze waitining,  any ideas to check ?

[2019-05-16 16:16] asmecher commented on #4771
@cmmartinezm, this area is more for feature requests and bug tracking than for general support. The support forum (https://forum.pkp.sfu.ca) is a better place to get assistance. I'd suggest checking your PHP error log for details, and posting your question plus the results from the log over there.

[2019-05-16 16:16] #4771 closed

[2019-05-16 17:42] NateWr commented on #4756
Not necessary for 3.1.2-1, but before we close this issue, can we add some validation here that tells the user if they enter too many slashes? It looks like maybe we just support 2 slashes in the path at most?

[2019-05-16 17:43] ctgraham commented on #4756
The first two path components need to move to the page and op, but all remaining path components can be (and are) stacked in the params.  It should work with an arbitrary number of slashes.

[2019-05-16 20:06] asmecher opened #4772 "Permit the "merge users" CLI tool to handle multiple users at once"
Currently the "merge users" CLI tool can only handle a single user at a time. Users must also be specified by username, and it may be desirable to specify them by user ID.

Extend it to potentially handle several users at a time, and to handle specifying users by ID as well as by name.

[2019-05-16 20:34] asmecher commented on #4772
Also shares the merge users tool in pkp-lib, where it was previously duplicated in each application.

PRs:
- https://github.com/pkp/ojs/pull/2402
- https://github.com/pkp/pkp-lib/pull/4773/files

[2019-05-16 20:34] asmecher commented on #4772
@NateWr, would you mind having a look at this?

[2019-05-16 22:26] asmecher opened #4774 "Fix magic numbers in SubmissionsListItem.vue"
There are magic numbers in `SubmissionsListItem.vue`: https://github.com/pkp/ui-library/blob/eb97681747bfa6d5e12de7df56c082bfd0f6d0ce/src/components/ListPanel/submissions/SubmissionsListItem.vue#L390

Use defined constants instead.

[2019-05-17 09:41] NateWr opened #4775 "Consider adding a custom-directive for user role checking in Vue"
Something like:

[code]

https://vuejs.org/v2/guide/custom-directive.html

[2019-05-17 22:41] asmecher commented on #2508
Thanks, @NateWr, this was a helpful exercise in getting acquainted with the Vue/ListPanel stuff. The tests are currently failing but I'm pretty sure that's because the `master` branch of `ui-library` is being checked out rather than my fork.

PRs (as before):
- https://github.com/pkp/ojs/pull/2399
- https://github.com/pkp/ui-library/pull/31
- https://github.com/pkp/pkp-lib/pull/4768

Here's how it

[2019-05-17 23:57] hsluoyz opened #4778 "jquery is loaded from Google and cannot be accessed from China"
When I open the install page, I keep seeing the eternally loading. Then I found the page is trying to load jquery libraries from googleapis.com, which is blocked in China.

http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js
http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js

![image](https://user-images.githubusercontent.com/3787410/57961458-b0597a80-7941-11e9-8354-

[2019-05-18 01:14] asmecher commented on #4778
@hsluoyz, I don't have an opinion on one CDN vs. another, but you should be able to turn off `enable_cdn` in `config.inc.php` to use local copies.

[2019-05-18 08:17] hsluoyz opened #4779 "Replace bespoke translation toolset with more standards-based options"
Currently, all translations are done in XML files, like mentioned in: https://github.com/pkp/pkp-lib/issues/4029#issuecomment-417907420, which is very inefficient for translators to translate, or sync a few of items between dozens of XML files.

Is there any chance to use a more advanced online translation platform like: https://crowdin.com/ ? In crowdin, all translators only need to do the transl

[2019-05-18 08:18] hsluoyz commented on #4778
Thanks @asmecher , I have solved it by setting ``enable_cdn`` to off.

[2019-05-18 08:18] #4778 closed

[2019-05-18 18:48] asmecher commented on #4779
@hsluoyz, we have been hoping to replace our own translation tools with something else for some time, but unfortunately have not been able to make much progress on it. I was not aware of Crowdin, which does appear to have a free open source/academic plan:

We're hesitant to use freemium services for necessary elements of the software, but some of the other translation options we've been considerin