[2018-01-10 13:50] jmacgreg commented on #3248
@alexxxmendonca regarding the glossary: we've heard this request before, and I could have sworn that it was a feature request already in Github, but I can't file it. Please feel free to file it (and @ me)!

[2018-01-10 14:52] NateWr commented on #3222
@Ph-We That problem should be resolved in current `master` branch.

[2018-01-10 14:56] Ph-We commented on #3222
OK, thanks again!

[2018-01-10 16:00] MarHerUMR opened #3252 "[OJS] Getting section editors results in db error"
Hi,

I'm getting an error database error when I want to get the editors for all sections with:
`$editorSections = $sectionDao->getEditorSections($journal->getId());`

The error is: DB Error: Unknown column 'se.journal_id' in 'where clause'.

When I'm not mistaken the column journal_id was renamed to context_id with [3.0.0](https://github.com/pkp/ojs/blob/master/dbscripts/xml/upgrade/3.0.0_preupdat

[2018-01-10 16:05] alexxxmendonca opened #3253 "Glossary of e-mail variables"
Add glossary of variables used across all e-mail templates.

Ideally, the list should include the variable, a description (expected value) and the e-mails templates where it can be used (in case it only works for certain e-mails).

This will be of real help when editing e-mail templates.

[2018-01-10 16:06] alexxxmendonca commented on #3253
@jmacgreg

[2018-01-10 16:36] NateWr opened #3254 "Remote galleys should support file component type and metadata"
It should be possible to identify whether a remote galley is a primary or supplementary file, and to assign metadata to that remote galley as if it was a file in the system. That might mean creating a dummy file in the system. Further discussions in the original issue.

Split from #3007. Based on [this forum thread](https://forum.pkp.sfu.ca/t/ojs-3-1-wont-show-remote-galleys/34816).

I've mocked u

[2018-01-10 16:37] NateWr commented on #3007
I've decided to split the bigger issue of giving remote galleys a file component type and metadata into a different issue: https://github.com/pkp/pkp-lib/issues/3254.

This issue will focus on making sure remote and supplementary files are displayed on the article page for 3.1.1. Remote galleys will be treated as primary galleys.

[2018-01-10 17:17] NateWr commented on #3007
PR:
https://github.com/pkp/ojs/pull/1787

@asmecher can you code review? Tests still running.

(And if anyone who's had this issue can test the PR that'd be great!)

[2018-01-10 18:34] asmecher opened #3255 "Ensure that upgraded reviews from OJS2 are double-blind"
See https://forum.pkp.sfu.ca/t/ojs-3-1-reviewer-can-see-author-name-after-review-complete/35344/34 for details.

[2018-01-10 18:39] #3255 closed

[2018-01-10 19:48] asmecher commented on #3255
Aaaand reverted -- this turned out to be a duplicate of pkp/pkp-lib#2195, which was already fixed in OJS 3.0.2 and newer.

[2018-01-10 21:48] asmecher commented on #3252
@MarHerUMR, what version of OJS are you using? Did you install it from the `.tar.gz`, or from git?

[2018-01-10 23:48] asmecher commented on #3222
@NateWr, regarding an apparent delay, this *should* be the order of things:

1. POST gets processed by form
2. form saves settings to the database
3. If the settings are cached, the cache file is also updated
4. An OK message is bounced back to the front end (typically by JSON)
5. A grid reload or similar may re-present new data.

If a fetch hits the server before step 3 is executed, the client ma

[2018-01-11 02:01] asmecher commented on #3242
@NateWr, I *finally* got this fixed to work with your template precedence changes (don't ask). This involved cleaning up template resources in a way that breaks backwards compatibility.

In OJS 2.x, we had `app`, `core`, and `file` (stock Smarty) template resources. It wasn't clear how these interacted -- the default was `file`, which was configured to have `templates/` and `lib/pkp/templates` dir

[2018-01-11 02:21] asmecher commented on #3242
The most recent PRs are still:

- https://github.com/pkp/pkp-lib/pull/3243
- https://github.com/pkp/ojs/pull/1782
- https://github.com/pkp/omp/pull/489

...and never mind that the tests fail -- our checkout scripts currently won't handle plugin checkouts from dev forks. They work locally.

[2018-01-11 03:01] asmecher commented on #3172
@t4x0n, feel free to add feedback if this is still an issue, but I'll close it for now.

[2018-01-11 03:01] #3172 closed

[2018-01-11 03:34] asmecher commented on #3071
@t4x0n, could you try the attached patch (to be applied in the `lib/pkp` directory) and let me know whether it resolves the issue?

[2018-01-11 03:49] t4x0n commented on #3172
sorry @asmecher  for my delay and not replying before... is weird in my case always I see enable_beacon = 1  after configuring OJS
for now, I can't try anything but I will keep this in mind, and when I have time I will make some tests, for now, close is ok!

[2018-01-11 04:00] asmecher commented on #3172
Ah, never mind, I found it anyway! FYI, this is cosmetic -- `1` and `On` should both work equally well.

[2018-01-11 04:15] t4x0n commented on #3071
Yes @asmecher, I have been trying right now, and this is the result:
![image](https://user-images.githubusercontent.com/5422984/34808307-cb93d808-f66c-11e7-8e56-4d904310c9c3.png)
it seems to have worked!!

[2018-01-11 04:16] t4x0n commented on #3172
Excellent!

[2018-01-11 04:28] asmecher commented on #3071
Thanks, @t4x0n!

@NateWr, would you mind reviewing this? PR: https://github.com/pkp/pkp-lib/pull/3257
OJS commit is for tests only (passed: https://travis-ci.org/asmecher/ojs/builds/327522055)

[2018-01-11 05:17] brueyd opened #3258 "<li> tags in Masthead form HTML boxes polluted with class="show""
![image](https://user-images.githubusercontent.com/34877697/34809258-b83e3c0e-f648-11e7-8725-33705c5d7f3a.png)
Installed from .tag.gz

Description:
When `<li>` elements are present in the **Journal Summary**, **Masthead**, or **About the Journal** TinyMCE boxes, they are decorated on refresh with `class="show"`.

Repro Steps:
1) Navigate to Settings->Journal->Masthead
2) Click the `<>` button in t

[2018-01-11 05:48] mtub commented on #3238
Yes, that's right. Feel free to file a PR if you are working on this. Otherwise tagging @ronniebrito in case he knows of someone working on it.

[2018-01-11 10:04] MarHerUMR commented on #3252
I've had the problem on a 3.1.0.0 instance that was installed from the .tar.gz and on an instance installed from git.

[2018-01-11 10:57] NateWr commented on #3222
Yeah that was my impression so I'm just not sure why I see this happening. But it doesn't seem to be causing any major issues.

[2018-01-11 11:31] martinpub commented on #2027
Hi @asmecher & @kaschioudi, what's the status on this one? We are upgrading to OJS 3 soon and would really like to be able to embed external feeds.

[2018-01-11 11:37] NateWr commented on #3242
I think it's ok. If you're nervous, we could delay until 3.2 so it's in a more major update.

I'll need to test it, but it looks like the `PLUGIN_TEMPLATE_RESOURCE_PREFIX` is still in place, so the hook should still work. One thing to check, which I forgot in the original PR, is to make sure that a child theme overriding a plugin will pre-empt a parent theme overriding a plugin.

There were three

[2018-01-11 13:09] MarHerUMR commented on #3252
I've just updated the installation from .tar.gz to 3.1.0.1, with the same error.

[2018-01-11 14:33] NateWr commented on #3258
Interesting... I didn't find anything about this in a quick Google search, so it doesn't seem to be part of TinyMCE's internals.

[2018-01-11 14:35] NateWr commented on #3007
Tests passed.

[2018-01-11 14:39] jmacgreg commented on #3182
This may be made obsolete (or differently phrased: should be taken into account by) the Reports Project.

[2018-01-11 14:48] #2944 closed

[2018-01-11 17:03] eniocarboni opened #3259 "Notify after a revised version of submission (by author)"
In OJS v 3.x i see the "REVISED_VERSION_NOTIFY" email key that could do what I would be interested in, ie send an email to the reference editor when the author uploaded a revised version of a text.

Now no email is sent after a revised version of the author as in the manual https://pkp.gitbooks.io/ojs3/content/en/responding_review.html where to inform the editor you need to click on "Add Discussio

[2018-01-11 17:36] defstat commented on #2952
@NateWr Changes made, rebased and added PR for OJS and OMP to run the tests

[2018-01-11 18:30] brueyd commented on #3258
I haven't noticed it in other TinyMCE edit boxes on other pages. My suspicion is that it is something to do with the java script on the Journal Settings page. Something that calls `.addClass` on `<li>` tags for a different reason, but is hitting the contents of the edit box by mistake. Unfortunately, I am just starting to learn about the OJS framework and don't have a good way to track it down.

[2018-01-11 18:32] asmecher commented on #2027
Sorry, @kaschioudi, I think I got partially through reviewing this and forgot to finish it. I've reviewed your PR (https://github.com/pkp/ojs/pull/1115) -- first thing it'll need is a good rebase, I'm afraid.

[2018-01-11 18:35] asmecher commented on #3252
@MarHerUMR, do you know what's calling the `SectionDAO::getEditorSections` function? It's true that it refers to the since-renamed `journal_id` column, but nothing in the OJS codebase uses that function any more. Are you running custom code that uses it or something?

[2018-01-11 18:50] MarHerUMR commented on #3252
Oh, sorry that I didn't mention earlier. I'm using the function myself in a plugin to generate a list of section policies at our [about page](https://meta-journal.net/about). And I want to include the names of the section editors in the list as well.

[2018-01-11 18:55] asmecher commented on #3252
Sure, good enough for me. I'll fix the column name and leave the function in place.

[2018-01-11 19:00] asmecher commented on #3252
Fixed -- you can apply either patch. They're equivalent, just applied to different branches.

[2018-01-11 19:00] #3252 closed

[2018-01-11 19:05] #3071 closed

[2018-01-11 19:17] asmecher commented on #3259
@eniocarboni, that email template is a hold-over from OJS2 and not currently used anywhere in the workflow. We have a few related issues already filed (see e.g. https://github.com/pkp/pkp-lib/issues/2665) and once those are resolved this text will either be used again, or more likely removed in favour of a different approach using the notifications tool.

[2018-01-11 19:20] asmecher commented on #2180
@defstat and @NateWr, what's the status of this issue? Are there requirements issues to be unknotted?

[2018-01-11 19:23] asmecher commented on #3007
Looks good -- thanks, @NateWr. Does this need updating in plugins?

[2018-01-11 19:45] defstat commented on #2180
@asmecher It's my fault that I haven't look into that for so long. I will go through the requirements and start developing next week, if that's ok.

[2018-01-11 19:47] asmecher commented on #2180
Not a problem, thanks! Just raising it because we've had a few recent issues filed about variables in emails, and there's likely further work that'll follow this one getting closed off.

[2018-01-11 20:09] defstat commented on #2947
@NateWr
New PR:
pkp-lib: #3260

[2018-01-11 21:25] brueyd commented on #3258
I have simplified the repro steps:
1) Navigate to the Journal Settings -> Masthead tab
2) Click the `<>` button in the Journal Summary edit box
3) Enter: `<ul><li>test</li></ul>`
4) Click `OK`
5) Clink `<>` again to verify that the code still reads `<ul><li>test</li></ul>`
6) Click `OK`
7) Click once inside the Masthead editor box
8) Go back to the Journal Summary edit box and click the `<>` butto

[2018-01-11 21:31] brueyd commented on #3258
I can recreate the same behavior on the Workflow Settings -> Submission tab, using the Author Guidelines and Privacy Statement edit boxes.

[2018-01-11 22:35] asmecher opened #3261 "Extend native import/export plugin to include additional entities"
Such as (probably not canonical)...

- Not-yet-published files
- Review assignments
- Discussions/queries
- Log entries
- ... etc

[2018-01-11 22:35] asmecher commented on #3261
(FYI, @jmacgreg)

[2018-01-11 22:52] asmecher commented on #3180
(See also https://github.com/pkp/pkp-lib/issues/321 -- searching should be extended to issue galleys etc.)

[2018-01-11 22:56] jmacgreg commented on #3261
Oh, nice. CCing @mfelczak as well. Have we discussed the potential for using this as a PLN deposit option too? Should we ping Mark?

[2018-01-11 22:56] asmecher commented on #344
@bozana, I suppose this is as good a home as any for the ImpactStory work.

[2018-01-11 23:00] asmecher commented on #3261
The PLN plugin already uses the native import/export. This would extend its capabilities, at the risk of increasing storage requirements, and I could see us going either way (having the PLN plugin exclude the additional data and stick closer to its core mission, or allowing the additional data in to ease the "restoration" process). @mjordan, any preference?

[2018-01-11 23:05] asmecher commented on #363
Dying of old age -- this is an OJS2 bug and doesn't appear to affect OJS3.

[2018-01-11 23:05] #363 closed

[2018-01-11 23:18] asmecher commented on #484
Linking this old entry to some more recent discussion: https://forum.pkp.sfu.ca/t/docker4ojs-a-set-of-docker-images-for-ojs

[2018-01-11 23:33] asmecher opened #3262 "Update SWORD plugin for OJS3"

[2018-01-11 23:33] asmecher commented on #1290
WONTFIX -- this will no longer be an issue when the plugin is adapted for OJS3. (https://github.com/pkp/pkp-lib/issues/3262)

[2018-01-11 23:33] #1290 closed

[2018-01-11 23:37] asmecher opened #3263 "Add maintenance mode"
From SaaS document:

Discussion:

@asmecher:

@NateWr:

[2018-01-11 23:45] asmecher opened #3264 "Add simple search form to site-wide homepage"
Currently the simple search form is suppressed from the sitewide homepage.

[This conditional](https://github.com/pkp/pkp-lib/blob/ojs-3_1_0-1/templates/frontend/components/header.tpl#L74) appears to be the culprit.

[2018-01-12 00:15] asmecher commented on #3130
@NateWr, I think we could possibly achieve this without needing to duplicate logic both in the submission list and in the policies as follows...

- Have the submission lists *always* bounce to the most "powerful" role available
- Modify the policies to reject editor access when there's an active review
- Use the "advice" capability of the policy framework to bounce to the reviewer interface on the

[2018-01-12 02:14] jmacgreg commented on #327
Note also that OJS doesn't support group or corporate authors, though it does have limited support what PubMed calls Investigators ("contributors" in OJS' parlance, which can be arbitrary, eg. you can create translators or other roles to be displayed with the TOC online - though not yet currently included in export). See Issue #2958 for further info on this particular point. I think we have to sol

[2018-01-12 02:15] jmacgreg commented on #327
@MagnoliaPress if you could provide us with some discrete examples of these kinds of naming conventions, we'd really appreciate it. It doesn't have to be in XML - pointing to some published works online with corporate or other non-author names would be helpful.

[2018-01-12 09:01] ajnyga commented on #2564
Hi @asmecher (and @NateWr, see especially the editor height issues below)

Here is a new pr. You were right that it was a cache issue that caused the earlier problems.

I did not test yet what ends up in the database when saving the form, or in what cases and how the html should be stripped from the titles. But these should not be that hard to add.

The visual layout is of course something that co

[2018-01-12 13:14] alexxxmendonca commented on #3263
I second this request.

[2018-01-12 14:27] isgrim opened #3266 "OJS orcidProfile fix for 3.1 compatibility"
Hello everyone,

during the development of extensions for the https://github.com/pkp/orcidProfile Plugin, I found that the ORCID button was not displaying on the public user profile page for OJS 3.1.

I fixed it in the development and pushed to a branch here https://github.com/UB-Heidelberg/orcidProfile/tree/ojs-stable-3_1_0.
The branch is based on the tag https://github.com/pkp/orcidProfile/tree/

[2018-01-12 16:23] NateWr commented on #2952
Merged! Thanks @defstat!

[2018-01-12 16:23] #2952 closed

[2018-01-12 16:47] NateWr commented on #3007
Done. Closing.

[2018-01-12 16:47] #3007 closed

[2018-01-12 16:51] NateWr commented on #2947
Merged!

[2018-01-12 16:51] #2947 closed

[2018-01-12 16:54] NateWr commented on #3258
Good hunting @brueyd! That is indeed the issue: https://github.com/pkp/pkp-lib/blob/master/js/controllers/SiteHandler.js#L264

I need to dig in to see if I can understand why this is here and whether it's safe to remove but you've saved me loads of time. :+1:

[2018-01-12 16:55] defstat opened #3267 "NavigationMenus Site-wide unable to drop NMIs into empty NM edit areas."
See also: https://forum.pkp.sfu.ca/t/how-to-add-menu-items-to-primary-navigation-menu-ojs-3-1/34537

It seems that there is a CSS override happening regarding the
[code]
by
https://github.com/pkp/pkp-lib/blob/master/styles/helpers.less#L188

at the Site level, which does not allow the drop-area to have the appropriate size for items to be dropped to it.

[2018-01-12 17:14] NateWr commented on #3130
Oh but I did think of one more thing (sorry). Perhaps these restrictions should be rescinded _after_ the review stage is complete. That way an editor could participate in copyediting/production later in the process.

[2018-01-12 17:17] #2949 closed

[2018-01-12 17:28] alexxxmendonca commented on #3130
I don't know about that. That would compromise the neutrality and blindness of the process.

[2018-01-12 17:32] asmecher commented on #3130
@alexxxmendonca, I don't think we *can* guarantee blindness. (See "motivating example" in https://github.com/pkp/pkp-lib/issues/3130#issuecomment-356097412.) As long as editors are allowed to view author lists for new submissions -- and I don't think anyone is proposing that -- we can't guarantee they don't already know the author identities by the time the review process starts.

[2018-01-12 17:48] alexxxmendonca commented on #3130
Agreed. We can't guarantee that. But we also shouldn't ease that access.

If they do happen to find out one way or another, that's another issue and the system isn't to be responsible for that.

[2018-01-12 18:08] defstat commented on #3206
@NateWr are you referring to the /index.php/[journal]/payments admin page?
Regarding the navigation menu item, are you proposing to add another NMI type which will not be displayed if the Payments are not enabled? Where will that NMI lead?

[2018-01-12 18:20] asmecher commented on #3266
Yes, please do, and link it here!

[2018-01-12 18:22] asmecher commented on #3130
Yes, I suspect we'll get frustrated reports if we maintain the blindness after the review is done.

I would also suggest that we add two warnings:
- A warning when an editor is assigned as reviewer, basically saying "you're taking review blindness into your own hands" and "this editor will not be able to access the editorial workflow until the review process is complete", and
- Perhaps an addition

[2018-01-12 18:26] defstat commented on #3267
@NateWr
PR
pkp-lib: #3268

Should I add the change to any other stable branch?

[2018-01-12 20:31] asmecher commented on #2564
Excellent start, @ajnyga! @NateWr, would you mind tinkering a little with this?

[2018-01-12 20:47] asmecher commented on #3247
@mczirfusz, I've [hidden the "Add additional information..." message](https://github.com/pkp/ojs/commit/0ac4ce332374e35ec070b7960bcdd5d4466b7e52) when the form is read-only, but I can't find where the "Choose the primary language" message would be displayed. Can you post a screenshot?

[2018-01-13 02:59] brueyd commented on #3258
@NateWr Right on! Let me know if it is safe to delete, and I will pull it out of my production install.

[2018-01-13 12:51] mczirfusz commented on #3247
@asmecher thank you for the patch.
Here is the screenshot you asked for (it is perhaps only visible if a journal accepts submissions in different languages)

![image](https://user-images.githubusercontent.com/16511307/34906207-cf7129fa-f868-11e7-9ede-1948f2adafcd.png)

[2018-01-13 13:25] amandastevens opened #3269 "CSL Plugin doesn't display abbreviated journal title for AMA style"
The full title of the journal is included in the Citation Style Language plugin's citation display for the AMA style, but in AMA an abbreviated journal title should be used instead of the full title.  The XML file for the style coming from the CSL repository is correct, so there might be something wrong with how the CSL plugin is pulling the abbreviated name. I originally filed the issue with the

[2018-01-13 13:38] defstat commented on #3056
@asmecher PR for porting StaticPages as NMIs

It runs on update, if the static_pages table exists. It ports every staticPage that its path does not conflicts with a Custom Menu Item with the same path. If it does conflict, the ported staticPage doesn't get removed from the static_pages table.

PRs:
pkp-lib: #3270
OJS: pkp/ojs#1790

[2018-01-14 16:06] dwisuseno opened #3271 "[OJS]"
email sending do not work properly. how to fix it?
i have change smtp settings ojs. I installed it by softaculous from cpanel hosting.
please help.

[2018-01-14 16:20] asmecher commented on #3271
Hi @dwisuseno -- please check our forum at https://forum.pkp.sfu.ca for guidance. If you can't find a solution there, post a new topic and include e.g. your version number.

[2018-01-14 16:20] #3271 closed

[2018-01-14 16:36] dwisuseno commented on #3271
@asmecher Oke, I'll check it.

[2018-01-14 17:10] mczirfusz opened #3272 ""Subscription" menu item only visible if the user signs in"
If the Subscription information page (/index.php/[JournalName]/about/subscriptions) is added as a menu item, it is only visible if the user signs in.
https://forum.pkp.sfu.ca/t/how-to-add-menu-items-to-primary-navigation-menu-ojs-3-1/34537/21

[2018-01-14 17:33] Vitaliy-1 opened #3273 "When logged in, edit link on the announcement page is not working properly"
The link is pointing to the appearance tab in the admin dashboard, not the announcement page. Works properly after changing the `href` anchor:
https://github.com/Vitaliy-1/oldGregg/commit/4c7ed8cdf5d64172a77ade6bc2fc17dc49dad828

[2018-01-15 12:20] NateWr commented on #3206
Yeah, there are actually two frontend subscriptions pages, I believe. Alec can confirm.

1. Public subscription page detailing available subscriptions. Conditions: subscriptions/payments enabled.
2. Frontend subscription page detailing the logged-in user's active subscriptions: Conditions: subscriptions/payments enabled `&&` user is logged in.

[2018-01-15 12:22] NateWr commented on #3267
:+1:

No, the next release is pretty soon and will be off of `master` so I don't think this needs back-porting.

[2018-01-15 12:22] #3267 closed

[2018-01-15 12:24] NateWr commented on #3130
@alexxxmendonca Just so I can understand better, which part of the suggested approach was it that you were worried about. Giving access after the review stage is complete?

[2018-01-15 12:31] alexxxmendonca commented on #3130
@NateWr yes.

[2018-01-15 12:36] NateWr commented on #2564
Great work @ajnyga. I do have a few concerns about going ahead with this. Sorry to jump in so late.

1. What happens when a user hits the enter key?
2. What happens when a user pastes from a Word document or somewhere that carries with it HTML formatting (like styles)?
3. Do we have a legitimate use-case for allowing bold and underlines?
4. What exactly is being saved? In my experience, TinyMCE wr

[2018-01-15 12:39] NateWr commented on #3130
Can you describe in more detail how this would compromise the blindness of the process? My understanding is that once a submission hits copyediting, it's accepted and will be published. So a reviewer will eventually see the identity of the author in the publication.

[2018-01-15 12:40] NateWr commented on #3258
I think it is but I'm still looking for some confirmation from others. It's very old code and I haven't ever run across a need for it.

[2018-01-15 12:46] alexxxmendonca commented on #3130
The problem here is the Editor-in-Chief having access to the reviews and reviewers later. Who said what.

But thinking better about all of this, the Editor-in-Chief should really try not to submit their papers to their own journals in the first place, as best as possible. If still they would like to go on that road, the warnings suggested by @asmecher should be helpful enough and opening it up aft

[2018-01-15 12:50] NateWr commented on #3130
Oh, right, I was thinking of the Editor+Reviewer combo and forgetting about the Editor+Author combo. Yes, I agree, the only "submissions" an editor should make as an author will be editorials, journal introductions or other non-peer-reviewed material.

I suppose it would be possible to add an additional check after the review stage is complete: if user is assigned as Author, always show a "you can

[2018-01-15 12:52] alexxxmendonca commented on #3130
That sounds good! 👍

[2018-01-15 12:57] NateWr commented on #3130
Here's a flowchart including that access check.

![workflow](https://user-images.githubusercontent.com/2306629/34943448-9b7a0144-f9f3-11e7-9df8-1ca5b95aa97e.png)

[2018-01-15 12:59] ajnyga commented on #2564
Hi,

You are right that the input here would need a 100% sure way of cleaning the input.

1. I think there should be the settings needed to take care of this in tinymce. Not sure what the right combination would be: https://www.tinymce.com/docs-3x/reference/configuration/Configuration3x@forced_root_block/ and  https://www.tinymce.com/docs-3x/reference/configuration/Configuration3x@force_br_newline

[2018-01-15 14:15] isgrim commented on #3266
@asmecher
I found one more issue with the current version of the plugin.
The hook as registered here:
[pkp/orcidProfile/blob/ojs-3_1_0-1/OrcidProfilePlugin.inc.php#L51-L52](pkp/orcidProfile/blob/ojs-3_1_0-1/OrcidProfilePlugin.inc.php#L51-L52)
Does not seem to exist so the callback `collectAuthorOrcidId` will not be triggered.
Because of changes to the submission forms it is not a trivial fix of ju

[2018-01-15 14:34] NateWr commented on #2564
Are you able to try those config options? My sense from reading them is that the user will be still be able to insert line breaks (`<br>`), but worth trying it out.

Stripping attributes may be more or less successful. I remember it used to be awful at it but not sure if that's still the case.

[2018-01-15 14:35] AlHikamWolf opened #3274 "Redirect URI from Login as"
login with url like this.
https://e-journal.academic.edu/../../login?source=https://www.fbi.gov
https://e-journal.academic.edu/../../login?source=/robots.txt

[2018-01-15 14:41] ajnyga commented on #2564
Yes sure, but go ahead and contact Substance in case they have something better in mind.

[2018-01-15 14:52] NateWr commented on #2564
It says something that this old PKP issue is on the first page of results when I search for "tinymce restrict to single line": https://pkp.sfu.ca/bugzilla/bugslist/show_bug.cgi?id=6759

[2018-01-15 15:49] NateWr commented on #3003
I made the multilingual popovers always visible on tag-it fields. Not the prettiest solution but I think it's the least worst in the near-term.

![multi-lingual-tag-it](https://user-images.githubusercontent.com/2306629/34950597-7d867146-fa0b-11e7-957d-f26c5f68abd5.png)

PR:
https://github.com/pkp/pkp-lib/pull/3275

Tests only:
https://github.com/pkp/ojs/pull/1793

[2018-01-15 15:50] NateWr commented on #911
Deferring because this requires a broader rethink on translations in forms if we're going to address it.

[2018-01-15 17:02] NateWr commented on #3003
Tests passed. @asmecher can you take a quick look and merge if you're ok with this?

[2018-01-15 23:30] Vitaliy-1 commented on #3250
I think it would be ideal to make something like a social meta plugin for facebook and twitter meta-tags. it is quite easy to implement.

[2018-01-16 00:18] brueyd commented on #3258
@NateWr I commented out the lines you identified in SiteHandler.js and uploaded the new version to the server, just to see if the issue goes away, but it did not.
[code]

I also disabled server side caching and client side caching. Then, I waited overnight to be certain that any cache was updated. However, I still see the same behavior. Have you verified that these lines are the culprit? Am I miss

[2018-01-16 00:49] asmecher commented on #3274
@AlHikamWolf, what of our software are you using, and what version?
It looks like you're suggesting that the `source` parameter be restricted so that arbitrary redirects are not possible; is that correct?

[2018-01-16 00:59] asmecher commented on #1432
Yes, excellent, and I haven't been able to think of as good a solution myself (regardless of scope). This isn't something that users are demanding -- though we've had several requests for better integration of custom email templates occasionally -- so I'd rather see us defer this and implement it properly (as you propose) rather than come up with a cranky stop-gap. Deferring.

[2018-01-16 09:56] pkel opened #3276 "[OJS 3.1.0.0] Native XML import fails on batch insert"
I use the Native XML import to batch insert multiple dummy submissions. All are created from the same template, where only a name changes for identification. We plan to use them for evaluation of OJS3 with our editorial board.

I try to import this [xml file](https://github.com/pkp/pkp-lib/files/1634443/many.xml.gz). After triggering the import, a GET request on `/management/importexport/plugin/Na

[2018-01-16 10:04] NateWr commented on #3258
Hi @brueyd, I haven't verified these lines are the culprit yet. But you're probably running your production site with `enable_minify` on. If so, you'll need to recompile the `pkp.min.js` file as this doesn't get compiled automatically.

(And don't turn `enable_minify` off on a production server. It will cause a massive slowdown in your load times.)

[2018-01-16 10:45] ajnyga commented on #2564
Hi @NateWr

Referring to your list above

1. Enter key is now disabled
2. I added a list of valid tags. Even if you paste text that is divided to paragraphs or has linebreaks, the editor will remove those upon copying. Note that this would have to be tested with other browsers as well, not just Firefox. Also, I would be incluned to add a PHP filter that would be applied upon saving the data to mak

[2018-01-16 10:49] NateWr commented on #2564
:tada: Let's remove the "powered by" too. I think it's a [config](https://www.tinymce.com/docs/configure/editor-appearance/). We can keep them for the big ones, but the less clutter the better on these wee fields.

Also, let's explore [inline mode](https://www.tinymce.com/docs/configure/editor-appearance/#inline) to reduce the iframe's we're loading as well as the space the fields take up in a for

[2018-01-16 11:05] ajnyga commented on #2564
I added the branding setting, but it is a bit weird, because it affects all the editors, also the one in the abstract. I am not sure why it does so although I am only applying it to the oneline editor.

With the inline mode, I am not sure what you have in mind? Are you thinking that there would be a default text like "insert title here" inside a div and that the editor would be enabled upon clicki

[2018-01-16 11:13] NateWr commented on #2564
My assumption is that the inline mode will do two things:

1. It will not use an iframe which might improve out performance.
2. It will not display a toolbar by default. Only when the field is focused will the toolbar "hover" above the cursor. So when not in focus, the field should appear exactly like a regular text input.

If that doesn't work out, or you have trouble getting it going, let me kno

[2018-01-16 11:41] ajnyga commented on #2564
So I tried to add div to `submissionMetadataFormTitleFields.tpl` and added `settings.inline = true; and settings.selector = "divname"` to `Handler.js` to the custom oneline editor settings I have added there, but this was not enough. I am not sure what was missing.

[2018-01-16 15:15] AlHikamWolf commented on #3274
does not seem to have any effect from the device I use, but I tested it from a site that has version 2.4.8.1, Yes, right.

[2018-01-16 15:31] NateWr commented on #3193
I posted a related mockup here: https://github.com/pkp/pkp-lib/issues/1432#issuecomment-357735815

[2018-01-16 15:55] jmacgreg commented on #1432
+1 for this being requested multiple times, and +1 for deferring and tackling properly. @NateWr did you want me close #3193 in favour of this? I like your proposed modal above.

[2018-01-16 16:20] NateWr commented on #1432
@jmacgreg I actually think the other one is probably a better issue for what you want. This one is related to a more isolated technical problem (getting Notify workflow features into the Discussions).

[2018-01-16 19:25] asmecher commented on #3003
Merged, thanks!

[2018-01-16 19:25] #3003 closed

[2018-01-16 21:37] asmecher commented on #2608
Back-ported to `ojs-stable-2_4_8`: https://github.com/pkp/pkp-lib/commit/57f784671db0640441a93ac3de9fb850157238c5 and https://github.com/pkp/ojs/commit/9ac8b86809ed6efa2841c0c66f1ba34a8384ef52

[2018-01-17 01:56] israelcefrin opened #3278 "No notification is sent to editor when author uploads a new file version"
Although exists a filled issue related to request confirmation of revised here https://github.com/pkp/pkp-lib/issues/2665, this one is regarded to author.
There is a scenario where editor also  gets no notification when a new file version is uploaded in a submission workflow.

This was tested and if necessary, screenshots from this test can be sent in PM. What happens is as follows:

- If is  sele

[2018-01-17 04:58] Vitaliy-1 commented on #2527
Hi @asmecher
There is more information about this problem by the reference.

[2018-01-17 09:51] NateWr commented on #2564
To get the inline working, we need to use a `<div>` (or any block element) instead of a `<textarea>`. I was able to get this going with a few changes. It looks like your branch is a bit out-dated so I wasn't able to issue a clean PR, but you can just cherry-pick this commit in:

https://github.com/NateWr/pkp-lib/commit/5f1460c94c026466d82a76db1afb7caa6957b8fb

It still needs some work. Here's what

[2018-01-17 09:52] NateWr commented on #2564
Oh, I see now what you said about every tinymce going inline... Hmm...

[2018-01-17 09:55] NateWr commented on #2564
Ok, so we just needed to explicitly set `inline` to `false` each time we load the tinymce, otherwise the old value in the settings lingered. You can cherry-pick this commit in: https://github.com/NateWr/pkp-lib/commit/eeb646a0b1f22601aa778b507e05020c5777cd79

[2018-01-17 10:02] NateWr commented on #3130
Another report related to a Section Editor having access to details based on their global role when they should be assigned as an Author to the submission: https://forum.pkp.sfu.ca/t/ojs-3-1-authors-can-see-the-activity-log/37183

[2018-01-17 13:57] forgive38 commented on #3167
I works for me too.
Thank you

[2018-01-17 16:08] ajnyga commented on #3130
This is looking good! I have to read this with better time in the near future.

[2018-01-17 18:08] ajnyga commented on #2976
Hi @asmecher
I think that you could check the code now: https://github.com/pkp/pkp-lib/pull/3077

I noticed that Nate committed a week ago some code that conflicts with the way I am extending the query participant list in the review stage. I will have to look through the changes he made. But the pr will basically work with 3.1.0.1 stable.

[2018-01-17 20:17] asmecher commented on #3130
@NateWr, I asked for further clarification on the forum thread regarding Section Editors: https://forum.pkp.sfu.ca/t/ojs-3-1-authors-can-see-the-activity-log/37183/11

[2018-01-17 20:31] asmecher commented on #3273
@Vitaliy-1, I've applied a different fix -- to add the missing anchor names from the tabs, so they can be referred to by name, rather than by a programmatically-generated ID. See either of the attached (equivalent) patches. Thanks!

[2018-01-17 20:31] #3273 closed

[2018-01-17 20:31] jmacgreg opened #3281 "Create add/delete journal cli tool"
This tool should be able to add or delete a journal to a hosted install, given the following parameters:

* journal name
* abbreviation (path)
* primary contact
* super user (username, or first/last name + email address)

[2018-01-18 00:05] asmecher commented on #3266
@isgrim, I don't think anyone is working on this code at the moment -- so an expedient fix might be a good idea until we get time to work on larger plans.

[2018-01-18 00:07] asmecher commented on #3276
@pkel, have a look at [this forum thread](https://forum.pkp.sfu.ca/t/import-export-between-ojs-3-instances-failing/36420) -- you might be encountering the same situation.

[2018-01-18 07:04] ajnyga commented on #3281
Maybe also a true/false flag to control whether the journal is visible or not (default could be true)? In many cases the new journal is first hidden to give the editors time to go through the settings.

[2018-01-18 07:07] ajnyga commented on #3263
This would be a great enhancement!

Probably metrics will have to be locked down as well during maintenance mode?

[2018-01-18 10:23] #3239 closed

[2018-01-18 10:24] NateWr commented on #3239
Thanks @crism!

[2018-01-18 11:18] carlaribeiro1234 commented on #911
Me surprendi com Duratron! Vejam que incrpivel esse estimulante sexual[http://www.jacsondamasceno.com.br/duratron-estimulante-sexual/](http://www.jacsondamasceno.com.br/duratron-estimulante-sexual/)

[2018-01-18 11:39] NateWr opened #3282 "Missing navigation menu item for the search page"
We should also add a navigation menu item for accessing the search page, in case a theme does not bake that into its design.

[2018-01-18 11:44] NateWr commented on #3253
@defstat This issue may impact on some of your work we've discussed related to prepared email variables.

[2018-01-18 11:51] NateWr commented on #3197
Further discussion related to this can be found in https://github.com/pkp/pkp-lib/issues/2561.

[2018-01-18 11:52] NateWr commented on #3197
Related, maybe duplicate issue: #2805

[2018-01-18 11:57] NateWr commented on #3176
A couple quick comments:

It's good SEO and UX for each piece of content to have it's own URL. Even a brief announcement should still have a URL that is linked to.

If that's the case, it may not be right to make it an announcement. It's more likely that you should be using a custom page via Navigation Menu Items (or Static Pages). If you still want it to appear in your announcement feed, you can

[2018-01-18 14:12] jifarquharson commented on #3130
I agree that it would be great to see a solution to this. This issue has recently been raised for our journal. The possibility for authors with editorial privileges to see the identities of reviewers means that the double-blind approach could potentially be circumvented.

[2018-01-18 15:50] amandastevens opened #3283 "Display usage statistics for last 12 months instead of for current year"
Currently OJS 3 usage statistics display on the article page for the current year, which means they reset to 0 at the beginning of each year.  Users have requested the option to show usage statistics over the last 12 months instead.

See https://forum.pkp.sfu.ca/t/viewers-statistics/36616

[2018-01-18 16:48] defstat commented on #2899
@asmecher

PRs for Custom NMIs path fix (context/path and not context/navigationmenu/view/path (the latest is the current configuration)
pkp-lib: #3284
OJS: pkp/ojs#1795

[2018-01-18 17:17] asmecher commented on #3130
@jifarquharson, my current view is that users with full Editor roles will *not* be guaranteed blindness even with the proposals discussed here. See [Motivating Example](https://github.com/pkp/pkp-lib/issues/3130#issuecomment-356097412).

[2018-01-18 17:36] asmecher commented on #2899
Just some code clean-up comments, @defstat -- when those are ready, please go ahead and merge.

[2018-01-18 17:43] ajnyga commented on #3130
@asmecher I think that you are mixing two different cases (also in at the forum yesterday https://forum.pkp.sfu.ca/t/ojs-3-1-authors-can-see-the-activity-log/37183/11)

I think that @jifarquharson is talking about a situation where the editor acts as an author.
I think that you (the motivating example) is talking about a situation where the editor acts as a reviewer.

These are clearly two separat

[2018-01-18 18:17] asmecher commented on #3274
@bozana, assigning to you!

[2018-01-18 18:25] asmecher commented on #2988
(Cleared milestone, needs feedback)

[2018-01-18 18:38] ctgraham opened #3285 "Broken/inconsistent links on the user's sitemap"
On the user's sitemap (Login -> About -> Site Map) there is a link to the User Home which does not honor the check for multiple journals for determining whether to route the user to the Journal home or the Site home.  Compare:
https://github.com/pkp/ojs/blob/d7c4ff42209a52e8f93f47610b3fb22456f451a6/templates/about/siteMap.tpl#L21
vs.
https://github.com/pkp/ojs/blob/143e794ad8c671ab3c20bf501c750698

[2018-01-18 19:00] asmecher commented on #2180
Just a note that I think the biggest source of confusion is on the reviewer assignment message compose window. That's the only case where we're presenting variable names in the default template rather than just replacing them before showing them.

[2018-01-18 19:03] asmecher opened #3286 "Make "path" fields more user friendly"
Concept of “path” is widely confusing.

Sonya notes: Can we copy what Wordpress does - user enters title first, the system then automatically creates the path (but the user can edit it)?

If not, then at least reword description text. Remove %path% - not meaningful to non-devs at all.

[2018-01-18 19:19] asmecher commented on #1432
@stranack, this is the issue I was thinking about addressing before we review copyediting and similar processes.

[2018-01-18 20:21] asmecher commented on #3130
Thanks, @ajnyga and @jifarquharson -- yes, I think it should be possible to ensure blindness when an editor acts as an author.

[2018-01-18 20:43] asmecher commented on #3056
@defstat, just a few comments on the code, and otherwise it looks good.

The [most recent round of UI/UX testing](https://github.com/pkp/pkp-lib/projects/6) turned up some confusion about where to find the content creation tools (be they static pages or custom navigation menus), and I think once static pages are gone that confusion will remain because users will often want to create static pages t

[2018-01-18 20:45] asmecher opened #3287 ""User" and "Primary" (navigation menus management tools) are confusing"
Users were confused by the names "User" and "Primary" in creating navigation menus. We need to avoid terminology that's not going to apply to all themes (e.g. "top menu" may not be in another theme), but find some more helpful terms.

- Maybe "Top User Bar" vs "Navigation Bar"?
- Maybe surface the menus directly to provide context, rather than focusing on clearer naming?
- Maybe “main navigation m

[2018-01-18 20:45] asmecher commented on #3056
(See also https://github.com/pkp/pkp-lib/issues/3287)

[2018-01-18 20:48] asmecher opened #3288 ""Custom Page" should not be default when adding a new navigation menu item"
- Replace with a “Select...” option and mark it required
- Include instruction text like “Choose the type of menu item you’d like to create”

[2018-01-18 20:55] asmecher commented on #1881
A viable approach that we may have a potential partner for:

- When a document is uploaded, use `pandoc` to convert it to PDF behind the scenes. (The PDF is stored alongside the submission format, but not used except as outlined below.)
- When workflow tools need to be presented, use the PDF with pdf.js. Embed an annotation tool (like hypothes.is) so that annotation work can be done on the PDF.
-

[2018-01-18 21:22] #3288 closed

[2018-01-18 21:33] asmecher opened #3289 "Author `user_group_id` upgrade `UPDATE` is broken"
See https://forum.pkp.sfu.ca/t/fixauthorgroup-function-in-the-update/37281.

Rather than a quick fix to repair the missing `WHERE` statement, I'd suggest auditing the code to see whether the `authors.user_group_id` column is used. I suspect it may be dead code since the discussions rewrite.

[2018-01-19 02:13] dwisuseno commented on #1900
@wolass I have same problem with u. but i have installed curl, but still error 500.
any suggestion?

[2018-01-19 03:59] dwisuseno opened #3290 "Error 500 when I access page that included plugins."
I have upgraded ojs 2.4.8 to 3.0.2 but there is some problem, So I restore to ojs 2.4.8. and there is some issue about table, but I can solve it. And now there is problem in system plugin. I have google it, and have some recomendation:
1. installed curl
2. disable all plugins
3. check error, I checked it, got error ata crossref, but have no idea about it.

Can anyone suggest me other option?

Than

[2018-01-19 04:25] asmecher commented on #1900
@dwisuseno, this is an old bug with a posted resolution. If the suggested resolution didn't work for you, it's probably not the same bug. I'd suggest posting your question in our forum (https://forum.pkp.sfu.ca) and posting as much information as possible, including your OJS version.

[2018-01-19 04:26] asmecher commented on #3290
I'd suggest posting your question in our forum (https://forum.pkp.sfu.ca) and posting as much information as possible, including your OJS version. This issue tracker is used for specific bugs and feature requests, and the forum is a better place for technical support.

[2018-01-19 04:26] #3290 closed

[2018-01-19 07:56] ajnyga opened #3291 "OJS installDefaultNavigationMenus fairly slow in multijournal installations"
Hi,

This is not a big issue, but I will leave it here anyway for your consideration.

While testing the upgrade from 3.0.2 to 3.1.0.1 I noticed that installDefaultNavigationMenus function here https://github.com/pkp/ojs/blob/master/dbscripts/xml/upgrade.xml#L83 takes a long time to finish. Around 5 minutes.

If that would be something that would happen only when upgrading to a higher version, it

[2018-01-19 09:07] forgive38 opened #3292 "[OJS] change locale in main view doesn't change language of items in header"
Hello

I install OJS with 2 languages : English and French.
When you change locale in main view, items in nav menu (headerNavigationContainer) don't change (except "Search" item) : they stay in primary locale selected during install. And that, even if you change primary locale after.
I test this with 3.1.0 and 3.1.0_1.

Do you have the same behavior ?

[2018-01-19 09:55] ajnyga opened #3293 "Add timestamps to the upgrade script output"
A small suggestion to the upgrade script.

With larger installations the upgrade takes time finish and usually we "practice" the upgrade with a cloned test installation.

It would help a lot to plan an  upgrade schedule for the production server, if the upgrade script would print out timestamps when moving from one phase to another.

This would also help in finding phases that take particularly lo

[2018-01-19 10:05] alexxxmendonca commented on #3283
I second this and it's somewhat related to #2820

[2018-01-19 11:45] isgrim commented on #3289
It is definetly still in use to distinguish types of contributors.
User group id for authors is populated from this form:
https://github.com/pkp/pkp-lib/blob/master/controllers/grid/users/author/form/AuthorForm.inc.php

[2018-01-19 14:45] mfelczak opened #3294 "Display additional submission metadata on article landing page"
At the moment, only keywords are displayed on the article landing page. Journal editors would like to publish additional submission metadata on the article landing page, e.g. supporting agencies

Extend the Submission Metadata grid on the Settings => Workflow => Submission page with a new column (e.g. 'Publish' or 'Display') to provide JMs/JEs with the ability to selectively publish additional met

[2018-01-19 15:01] NateWr commented on #3294
There are two parts to this:

1. User control over what content is and is not displayed on the page.
2. Display of metadata that is not currently displayed by default.

For (1), I'd like to see us tackle this along with the article content blocks thing we've been talking about for years: a way for admins/editors to drag-and-drop blocks (abstract, keywords, doi, cover, etc) to re-order the display

[2018-01-19 16:41] asmecher commented on #3291
@ajnyga, can you add a few quick metrics on your install? How many journals, and how many articles?

[2018-01-19 16:52] ajnyga commented on #3291
we have 78 journals and 35 200 submissions.

I just finished upgrading our production server to 3.1.0.1.
After the first upgrade run the size of the `navigation_menu_item_settings` was 442,368
I then moved our own plugins to the plugin folder and run the upgrade again to make sure the plugins are registered properly. After that second run the size of `navigation_menu_item_settings` is 327,680.  Th

[2018-01-19 16:59] asmecher commented on #3292
Assigning @defstat -- but @forgive38, next time the support forum (https://forum.pkp.sfu.ca) is the better place to post questions. If the question turns out to identify a bug, that's a good time to create an issue.

[2018-01-19 17:00] asmecher commented on #3290
Glad to hear it's resolved!

[2018-01-19 17:02] ajnyga commented on #3294
@mfelczak regarding the supporting agencies field, I warmly recommend the Funding plugin: https://github.com/ajnyga/funding :D

[2018-01-19 17:16] ajnyga commented on #3289
Yes I think so too. Not sure if there are complications if the user_group_id is the same for all authors in all journals? Because that is what the upgrade does at the moment.

[2018-01-19 18:06] defstat opened #3295 "NavigationMenus - dashboardMenuItem.tpl - Call to a member function smartyEscape() on string"
There are cases where the dashboardMenuItem.tpl tries to display a null NMI, casing Call to a member function smartyEscape() on string fatal error.

[2018-01-19 18:20] asmecher commented on #2962
Resolved.

[2018-01-19 18:20] #2962 closed

[2018-01-19 19:16] defstat commented on #2988
@asmecher It seems that this can happen when the installation page is being accessed through a url that includes the context. If this is the case, and in the config.inc.php the `installed = Off`, OJS is accessing https://github.com/pkp/pkp-lib/blob/master/classes/template/PKPTemplateManager.inc.php#L284 with a context defined, and it is trying to access the NavigationMenuDAO which may not exist.

[2018-01-19 20:03] defstat commented on #2988
@asmecher
PRs:

pkp-lib: #3296
ojs: pkp/ojs#1796

[2018-01-19 21:31] asmecher commented on #2027
@kaschioudi, this has a lib/pkp submodule commit -- is that necessary? It's currently a merge conflict.

[2018-01-20 05:11] trobb49 opened #3298 "OJS 3.1.0-1 error in vendor/nikic/fast-route/src/functions.php when installing"
I am trying to upgrade OJS from 3.0.1.  I copied the database and the submission file area, and downloaded the new code.  I copied and then modified config.inc.php to point to the new directory for the code and the new copy of the database.  When running php tools/upgrade.php upgrade I encountered the error below.  I get the same error if I attempt to access OJS as if it was ready to go, and it do

[2018-01-20 05:20] asmecher commented on #3298
Hi @trobb49 -- see e.g. https://forum.pkp.sfu.ca/t/error-after-creating-the-journal/37166. The support forum is the best place to start looking for help.

[2018-01-20 05:20] #3298 closed

[2018-01-20 11:50] defstat commented on #3287
@asmecher @NateWr

For brainstorming: I propose a new page (for the time not editable) that displays the NM Areas like below:

![nmareasdesign-2](https://user-images.githubusercontent.com/560456/35183055-673ab560-fde8-11e7-9c13-c3a9dbbb460d.jpg)

That could be accessed from within the NM Manage Page like below:

![nmareasdesign-1](https://user-images.githubusercontent.com/560456/35183059-7f541d26-

[2018-01-20 14:23] benben159 opened #3299 "switch to a supported Memcached library"
i've set up an OJS 3.0 installation using PHP 7.1. when i want to use memcached cache backend, it does not find the correct library. I've searched for Memcache library and its compatibility with PHP 7.1, and I found that it only support PHP 5.x.

[2018-01-20 19:40] Vitaliy-1 opened #3301 "2 URLs point to registration page"
The registration page is available by 2 URLs (in the latest OJS version):
`.../user/register`
`../user/registerUser`
Is there a reason for that?
I suspect that this causes a problem with redirection to `Registration complete` page minimum in one user (only with oldGregg theme), although I can't reproduce that on my local machine:
https://github.com/Vitaliy-1/oldGregg/issues/19#issuecomment-3588424

[2018-01-20 20:36] asmecher commented on #3299
@benben159, have you verified that this works (and results in a performance improvement over no caching or file caching)? The memcache support was added probably 10 years ago and has seen little use or maintenance; I'd be surprised if it worked so quickly. Thanks for looking at it!

FYI, our longer term plan is to replace the current caching infrastructure entirely, in favour of a third-party libr

[2018-01-21 10:21] ajnyga commented on #2114
Hi,

Just got informed that this problem is back in 3.1.0.1.

I will write the details to another topic.

[2018-01-21 11:21] ajnyga opened #3302 "File upload gets stuck with certain language selections in multilingual journals (OJS 3.1.0.1)"
Hi,

This is related to: https://github.com/pkp/pkp-lib/issues/2114.

I first thought this was a bug, but it is actually related to journal language settings

Scenario:
- Journal primary language is English (`UI`, `Submissions`, `Forms` selected)
- Secondary language Finnish is selected (`UI`, `Submissions`)
- User tries to submit a new manuscript, which is written in Finnish.
- In the first stage

[2018-01-21 15:06] benben159 commented on #3299
I haven't measure any performance improvements here, but I wrote that so it just work and I currently do not have any idea on caching optimization with this Memcached library. The reason is that I don't really understand how caching is used in pkp-lib.

[2018-01-21 21:35] brueyd commented on #3258
@NateWr I am trying to use buildjs.sh to rebuild pkp.min.js to test the fix to this bug.

However, I am getting a bunch of warnings about doxygen flags `@brief, @defgroup, etc` .  Like this one:
[code]
I also get this warning:
[code]

Then it errors out on:
[code]

I am guessing there is a better place to ask this question. Is there a development forum, or should I ask questions like this in the g

[2018-01-21 22:35] brueyd commented on #3258
@NateWr I commented out the following line in `closure-externs-check-only.js` because the comment in the code suggested the problem is known.
[code]

It seems like this would be better handled with a check for existence before declaration. Something like this:
[code]

I cannot find this issue in GitHub project. Should I open this as another issue and move these comments to the new issue?

[2018-01-21 22:37] brueyd commented on #3258
@NateWr After recompiling pkp.min.js with the new version of SiteHandler.js, the `<li>` tag is no longer polluted with `class="show"`. If you find out there is a reason not to comment out that code, please let me know.

[2018-01-22 09:58] isgrim commented on #3266
@asmecher I'm sorry, I probably wasn't very clear in my writing (language barrier ).
I meant I started working on code for the orcidProfile extensions for author verification and ORCID Profile updates through the Member API as diskussed in #2818, because this development is part of a project. We want to contribute this code back to the PKP repository to not create another ORCID plugin.

https://gi

[2018-01-22 10:34] NateWr commented on #3301
In the default template we submit the form to the `redirect` op. https://github.com/pkp/pkp-lib/blob/master/templates/frontend/pages/userRegister.tpl#L17 So it looks like the change you made is the correct way to handle it.

My understanding is that `registerUser` was just kept for temporary backwards compatibility but all themes should use `register` from here on in. We may remove support for `re

[2018-01-22 10:34] NateWr commented on #3301
(I'm closing this but feel free to continue discussing and I can re-open if necessary.)

[2018-01-22 10:34] #3301 closed

[2018-01-22 10:49] NateWr commented on #3258
Thanks @brueyd. I'm still waiting for feedback from someone who might know about this old code but if I don't hear anything soon I'll rip it out, do some testing myself, and hope for the best.

Don't worry too much about the linting errors from buildjs.sh. We run linting tests on the main pkp.min.js for every PR. Perhaps the linting errors in that build script are outdated or no longer used.

[2018-01-22 12:29] bozana commented on #3237
@jmacgreg, hmmm... yes strange that they accept only one full-text URL :-O
Your proposed solution sounds good.
If there is a PDF galley, **only** provide its URL in the elements:
[code]
If there is no PDF galley, provide all galleys.

If, for some reason, there are multiple PDF galleys, it does not matter which one to provide -- provide just one.

Correct? Are the XML elements mentioned above corr

[2018-01-22 12:40] #3218 closed

[2018-01-22 14:57] forgive38 opened #3303 "[OJS] Call to undefined method PdfJsViewerPlugin::_registerTemplateResource()"
I have this error with ojs-stable-3_1_0
I think it's because of https://github.com/pkp/pkp-lib/commit/5d3ba1fed746e8741d7fbaaea4eaa6d3f17d2308 not reported on stable branch.

Thank you in advance

[2018-01-22 17:23] asmecher opened #3304 "Replace homebrew caching library with 3rd-party caching library"
Suggested: Stash (https://github.com/tedious/Stash).

The `object_cache` configuration and Memcache support also need review, testing, or removal.

[2018-01-22 17:24] asmecher commented on #3299
Thanks, @benben159 -- I've merged your PR, as it looks good, but haven't tested the current level of memcache support for a long time. For the moment, I'd recommend against using memcache unless you have a specific need for it (file-based caching seems to work well for OJS users). Eventually our plans to replace our current cache implementation will be dealt with here: https://github.com/pkp/pkp-l

[2018-01-22 17:24] #3299 closed

[2018-01-22 17:27] asmecher opened #3305 "Update phpunit to latest version"
Our current phpunit dependency tree is quite old. Investigate updating the toolchain to something modern.

[2018-01-22 17:36] jmacgreg opened #3306 "Create a "Manage Users" cli script."
It should be a CRUD tool, able to do the following:

* create user (with name, email, and role options)
* update user (with new information, incl. role in a specific journal, password reset, etc.)
* delete user (replacing the Merge User cli tool)

[2018-01-22 17:37] #3303 closed

[2018-01-22 17:40] jmacgreg opened #3307 "Create a cli backup tool"
Allow the cli tool to specify an export location.

[2018-01-22 17:48] jmacgreg commented on #3306
Hi Alec, @israelcefrin and I would prioritize #3281 first. We're just adding a few other items to the CLI Project, which we can discuss during the dev call today.

[2018-01-22 18:07] mfelczak commented on #3122
@NateWr, it doesn't look like 0080b11 was ported to ojs-stable-3.1.0 -- any chance we might be able to include this in the upcoming 3.1.1 release?

[2018-01-22 20:12] asmecher commented on #3122
@mfelczak, the OJS 3.1.1 release will come from the `master` branch, so nothing further is needed. If you want it cherry-picked back to `ojs-stable-3_1_0` for hosting reasons, though, that's possible.

[2018-01-22 21:20] Vitaliy-1 commented on #3287
Nothing confusing in navigation menus names to me...

[2018-01-22 21:25] Vitaliy-1 commented on #3250
I could make "social-meta plugin" if there is a need. It is really a matter of 1-2 hours.

[2018-01-22 21:33] jalperin commented on #3250
I think so, except the metatags should also be present on the galley pages, not just on the article landing page.

[2018-01-22 21:55] asmecher commented on #3289
@ajnyga, thanks -- I've applied the fix you suggested in [the forum thread](https://forum.pkp.sfu.ca/t/fixauthorgroup-function-in-the-update/37281/4) to `master` and `ojs-stable-3_1_0`. I don't think the implications for this in OJS are large -- OJS doesn't use different contributor groups in the same way that e.g. OMP does to distinguish between authors and series editors. However, to fix the dat

[2018-01-22 21:55] #3289 closed

[2018-01-22 22:05] jmacgreg commented on #3237
Hi Bozana,

Yep, that's correct! I've added the above suggested fix to two journals already, and it works fine. I still think that this isn't our bug to fix, but this fixes it. :-)

[2018-01-22 22:40] asmecher commented on #3246
Merged! I didn't do `ojs-stable-3_1_0` for now.

[2018-01-22 22:40] #3246 closed

[2018-01-23 07:01] ajnyga commented on #3289
Hmm, I think that the old code (the one without the WHERE clause) overwrote all cases where the authors contributor role was selected to be for example translator? I do not think it can be fixed anymore if someone has already done the upgrade with that sql?

[2018-01-23 09:38] bozana opened #3309 "fix metrics assoc_type for supp files for 3.0.2"
s. https://forum.pkp.sfu.ca/t/ojs-upgrade-from-3-0-2-to-3-1-0-1-stuck-on-slow-query/36706/6 :

[2018-01-23 10:23] NateWr commented on #3287
@defstat, that could be a good start. I think we may need to go a bit further and even consider moving beyond the grids. But we can see if that helps.

@Vitaliy-1, we recently did some user testing of the new navigation menu feature and this was flagged up as a common source of confusion. I wouldn't expect a developer like yourself to find it confusing, but non-technical users come with a differen

[2018-01-23 11:40] kaschioudi commented on #2027
@asmecher : lib/pkp submodule commit adds `simplepie/simplepie` dependency to composer.json.

[2018-01-23 12:22] Vitaliy-1 commented on #3250
@NateWr @jalperin
Made a plugin (only for article page for now) that adds Open Graph and Twitter meta-tags. Any suggestions on this?
https://github.com/Vitaliy-1/socialMeta

[2018-01-23 12:46] NateWr commented on #3250
:+1: cool @Vitaliy-1! A couple of suggestions for improvements:

- Add for issues, announcements, and homepage.
- If no article cover image exists, fall back to issue cover image.
- Add og:locale if the journal supports multiple locales.
- For the header IDs, use the meta IDs. So `ogURL` should be `og:url`. This will ensure there's never any duplicates or conflicts if people add other header data.

[2018-01-23 17:13] bozana commented on #3274
If I understand it correctly, the correct `source` parameter will always be in this form: /index.php/<contextPath>/<op>/<function>, s. https://github.com/pkp/pkp-lib/blob/master/classes/security/Validation.inc.php#L168. Correct?
Thus, would it be enough to just compare the two context paths for the redirection here https://github.com/pkp/pkp-lib/blob/master/pages/login/LoginHandler.inc.php#L110 --

[2018-01-23 17:28] asmecher commented on #3289
No, @ajnyga, not without referring to a backup, I'm afraid. But (unscientifically) I haven't seen translators designated this way in OJS -- it's much more common in OMP. Are you designating translators as contributors?

[2018-01-23 18:01] ajnyga commented on #3289
I have not checked, not sure. And in any case our upgrade did not overwrite that data if it existed. I was mainly thinking about other OJS users who are perhaps downloading an upgrade package from the PKP website.

[2018-01-23 18:10] bozana commented on #3160
I believe this was fixed/changed in this Issue: https://github.com/pkp/pkp-lib/issues/1907.

[2018-01-23 18:49] defstat commented on #3282
@NateWr @asmecher

PRs:
pkp-lib: #3310
ojs: pkp/ojs#1804
omp: pkp/omp#493

[2018-01-23 19:26] asmecher commented on #3282
Looks good to me, @defstat.

[2018-01-23 20:15] asmecher commented on #2027
Ah, I didn't see that. Don't forget to summarize your PRs in a comment on the issue, like:

PRs:
- https://github.com/pkp/ojs/pull/1115
- https://github.com/pkp/pkp-lib/pull/2205

[2018-01-23 22:25] asmecher commented on #2988
Looks good, thanks! Please go ahead.

[2018-01-23 22:27] asmecher commented on #3274
I don't think you can count on the `index.php` appearing in the URI in the case of `mod_rewrite`. Another approach would be to ensure that the URL is relative, i.e. that there's no `//` or `scheme://` in it -- I think the risk we're trying to mitigate is a URL that specifies a malicious user's server, not a "wrong" page on the OJS server.

[2018-01-23 22:29] asmecher commented on #2291
Thanks, @ctgraham! @vedranvucic, if you have a chance to validate the fix, it would be much appreciated.

[2018-01-24 00:41] asmecher opened #3311 ""Subject" / "subjects" field "required" flag not behaving as expected"
In the Submissions area of the workflow settings, it's possible to define the Subjects field as required. This appears not to be working properly -- creating a submission and entering subjects does not satisfy the constraint.

At a glance, there seems to be a mismatch between the terminology used in the code. Some parts refer to "subjects", other parts refer to "subject".

[2018-01-24 10:06] bozana commented on #3274
Thanks @asmecher! Hmmm... Yes... I also the `source` would look differently for those using base URL override settings or disable_path_info = On... Hmmm... In that case, I suppose, we can only check if it is a relative URL. Would it then be enough to check if the `source` starts with `/` ?
In that case something like the example above (https://e-journal.academic.edu/../../login?source=/robots.txt)

[2018-01-24 10:07] bozana commented on #3311
Hmm... I thought it was solved with this issue: https://github.com/pkp/pkp-lib/issues/3157. But maybe something else is happening here... I can take a look...

[2018-01-24 10:16] #3160 closed

[2018-01-24 10:37] forgive38 commented on #3303
@asmecher : what is the official release of the plugin ?
I use branch master of pkp/pdfJsViewer

Thank you

[2018-01-24 10:47] NateWr commented on #3282
Looks good, @defstat. The validation tests seem to be failing to the navigation menu XML:

https://travis-ci.org/pkp/ojs/jobs/332437946#L984

The other tests are also failing, but that may be due to an issue with `master` yesterday. Once the XML validation error is fixed and you rebase against current `master`, the tests may pass.

[2018-01-24 11:00] defstat commented on #3282
@NateWr it seems that its the NMs XML DTD that is failing. I will fix that and try the tests again.

[2018-01-24 11:46] bozana commented on #3311
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3312
ojs master: https://github.com/pkp/ojs/pull/1805
omp master: https://github.com/pkp/omp/pull/494

[2018-01-24 11:46] bozana commented on #3311
@asmecher, OK so? THANKS!!!

[2018-01-24 11:48] bozana commented on #3309
This seems not to be a general bug, but just a situation for that one installation. I will investigate more... and reopen if needed...

[2018-01-24 11:48] #3309 closed

[2018-01-24 14:42] mfelczak commented on #688
@AhemNason, does this apply to both OJS 2.4.8 as well as OJS 3.1?

[2018-01-24 14:44] mfelczak commented on #569
@AhemNason, is this still an issue in OJS 3.1?

[2018-01-24 14:45] mfelczak commented on #481
@AhemNason, is this still an issue in OJS 3.1?

[2018-01-24 15:02] mfelczak commented on #3228
@rcgillis, can you confirm whether the above resolves this for you?

[2018-01-24 16:23] ctgraham commented on #2291
Fix reported as broken here: https://forum.pkp.sfu.ca/t/how-to-change-title-in-browser-tabe-of-front-opage-of-multijournal-site-ojs-3-0-1-0/28649/15

[2018-01-24 18:27] bozana commented on #569
Maybe comment from me as well: we changed the concept in 3.x because of this issue :-D The DOIs have to be explicitly/manually assigned i.e. no automatic assignments any more :-)

[2018-01-24 19:03] #2291 closed

[2018-01-24 19:34] asmecher commented on #3303
@forgive38, the PDF.js viewer should already be included in recent releases of OJS.

[2018-01-24 19:58] asmecher commented on #3311
Thanks, @bozana -- just a few minor changes needed.

[2018-01-24 20:30] bozana commented on #3311
@asmecher, gooooood catches! :-) I've considered the comments, so can I then merge when the tests pass? THANKS!!!

[2018-01-24 20:48] #3295 closed

[2018-01-24 20:50] asmecher commented on #3311
Yes, please do!

[2018-01-24 20:53] AhemNason commented on #688
I'm actually unsure about 3.1. I can check in the next day or two. When I wrote this, it was related to 2.4.8. It used to be a big issue for Crossref export but I think now we just don't use the dates the same way.

[2018-01-24 23:16] #3311 closed

[2018-01-24 23:39] stranack opened #3313 "Limited view of roles in Profile"
When a user looks at the Roles tab in their profile, they only see Author, Reviewer, and Reader -- even when they are also an editor, journal manager, copyeditor, etc. All roles that they are enrolled in should be visible.

http://vpstest2.lib.sfu.ca/index.php/publicknowledge/user/profile

If they are an editor or journal manager, they should be able to self-enroll in any available role from here.

[2018-01-24 23:42] stranack opened #3314 "Enabling plugins from plugin gallery"
I am unable to enable plugins that are in the plugin gallery.

I tried as a site admin from the Site Settings -- no enable function is available.

I tried as a journal manager from Settings -- no enable function is available.

http://vpstest2.lib.sfu.ca/index.php/publicknowledge/management/settings/website

[2018-01-24 23:45] stranack opened #3315 "Plugin upgrade hangs"
When logged in as the Site Admin, and go to Settings > Plugins > Plugin Gallery, hitting the Upgrade button for an out of date plugin brings up the confirmation modal, but hitting OK hangs the system.

I can close the modal to return to the interface.

http://vpstest2.lib.sfu.ca/index.php/njst/management/settings/website

[2018-01-24 23:50] asmecher commented on #3313
Dupe of https://github.com/pkp/pkp-lib/issues/2579!

[2018-01-24 23:50] #3313 closed

[2018-01-24 23:50] asmecher commented on #3314
Which plugin are you trying to work with?

[2018-01-24 23:55] asmecher commented on #2988
Merged, thanks!

[2018-01-24 23:55] #2988 closed

[2018-01-24 23:56] stranack commented on #3314
Quicksubmit.

[2018-01-24 23:57] asmecher commented on #3056
@defstat, does this still need to be ported to OMP as well?

[2018-01-24 23:58] asmecher commented on #3314
The QuickSubmit plugin is an import/export plugin, and these are only reachable from the import/export tools, so there's no need (or ability) to enable or disable them.

[2018-01-25 00:00] stranack commented on #3314
But it isn't in my list of import/export plugins.

[2018-01-25 00:01] stranack commented on #3314
Nor in my list of Tools.

[2018-01-25 00:19] asmecher commented on #3314
Yes, it's not installed by default (and it's usually installed using the Plugin Gallery). Since you're using pre-release code, I'll install it from github directly.

[2018-01-25 00:34] stranack opened #3316 "Consider making email/country NOT required in QuickSubmit"
QuickSubmit is often used to upload back issues, where author emails and country are unavailable or unknown. Journal Managers frequently put fake content into those fields to proceed, which is bad practice.

We should consider not making those two fields required.

[2018-01-25 00:39] asmecher commented on #3316
Partial dupe of https://github.com/pkp/pkp-lib/issues/1864 -- could you summarize the requirements for both in a single entry, @stranack?

[2018-01-25 01:20] jalperin opened #3317 "Should warn when substitution variables cannot be completed in DOIs"
We found over 7K articles in the PKP Index that have DOIs that have %p and %x in the DOI field. These are not valid DOIs, and should not be exposed to the public in any way.

For example, [this article](https://periodicos.ufsc.br/index.php/literatura/article/view/5453) has the following:
[code]
They are not likely being successfully deposited to Crossref. Since OJS is now capable of knowing when a

[2018-01-25 07:02] ajnyga opened #3318 "Check minimum requirements before allowing to upgrade"
Hi,

Although I have been following the development of OJS fairly closely, I totally missed the fact that the minimum requirements were raised to PHP5.6. I have also seen a lot situations in the forum where people using older PHP versions have already upgraded and are now running into trouble. In some cases it is perhaps not that straightforward for a journal to update the server PHP.

So maybe th

[2018-01-25 07:07] asmecher commented on #3318
I didn't expect this was going to be a problem as PHP5.5 will have been unsupported for 2 full years this July -- but a version check on upgrade wouldn't hurt.

[2018-01-25 07:54] ajnyga commented on #3318
One option would be to add the required versions as attributes to the upgrade xml file together with the version number: https://github.com/pkp/ojs/blob/master/dbscripts/xml/upgrade.xml#L14
Or, you could add a call to a `minimumRequirements ` code that would executed right in the beginning.

Comparing would probably happen with: http://php.net/manual/en/function.version-compare.php

[2018-01-25 08:55] Jannik-Lappe opened #3319 "[OJS] table 'navigation_menus' doesn't get created"
I just installed OJS 3.1.0 on my apache-web-server (PHP 5.6).
After finishing the ojs installation page, I reloaded the page and get an error message:
"DB Error: Table 'ojs.navigation_menus' doesn't exist"
Why is this the only table not created by the installation process?

[2018-01-25 10:17] Jannik-Lappe commented on #3319
it has resolved itself...
you should delete complete old data not partial   :unamused:

[2018-01-25 10:17] #3319 closed

[2018-01-25 11:15] bozana commented on #3317
The first problem, an unresolved variable in a DOI, is only relevant for OJS 2.4.x -- such a DOI cannot be assigned in OJS 3.x.
Because a DOI does not have to be from Crossref and because the DOI public identifier plugin (and not the DOI import/registrations plugins) is responsible for the DOI display on the article page, I'll have to think how else we cold validate a DOI before displaying it...

[2018-01-25 15:29] NateWr commented on #3017
I like the idea, but I wonder if reviewers would actually use it. Does this request come from reviewers themselves or editors? If it's just coming from editors, my fear is that it might be optimistic to think that reviewers would actually update their availability.

I can more easily imagine the other user roles you describe making use of it. 👍

[2018-01-25 15:30] NateWr commented on #3017
(Just noticed the original request is from several months ago. 😃

[2018-01-25 18:52] jalperin commented on #3317
Seems OK to leave this unresolved for 2.x, since we're not really working on improvement to that line, but would be good to make sure that only DOIs that have been properly registered can be displayed in OJS 3.

I would restrict DOIs for having spaces in them. In any case, it seems that for that journal there is something weird going on. I don't think they intended to have that string be the DOI.

[2018-01-25 20:36] bozana commented on #3278
@israelcefrin, what is the content or subject i.e. what e-mail template is sent for the first case above "Request revisions" ? And what version has this been tested with? -- I believe all this changed somehow in the new version...

[2018-01-25 20:44] mfelczak commented on #3190
Hi @asmecher, for the code snippet, are you thinking something generic that could be used across the custom block manager, e.g. "<embed-code>[Twitter embed code]</embed-code>? This would have the benefit of being more generally applicable relative to a dedicated sidebar block, i.e. for other embed codes and 3rd-party services.

[2018-01-25 21:13] bozana commented on #3317
For the first journal with %x in the DOIs: %x is the article public identifier. It seems that they started to use the article public identifiers in 2008, so that since then the articles have the DOIs with those public identifiers, but they didn't take care about the issues before 2008 and they probably get the DOIs automatically assigned. Either the DOIs should not be assigned to those older issue

[2018-01-25 21:50] asmecher commented on #3190
@mfelczak, I'm thinking of a stand-alone block plugin (like the "developed by" or "language toggle" blocks) that's custom-built to drop a Twitter feed into a block. You'd be able to use the configuration form for the plugin to determine details like whose feed should be displayed. That would probably be broadly useful and it's a safer approach than allowing `script` tags in TinyMCE controls.

[2018-01-26 01:07] asmecher commented on #3318
Agreed -- easily enough done.

[2018-01-26 01:07] #3318 closed

[2018-01-26 06:01] asmecher commented on #3269
@NateWr, would this be a quick one for you to tackle (i.e. bindings between OJS and CSL), or would it be messier (i.e. working with upstream CSL or something)?

[2018-01-26 06:27] asmecher opened #3320 "Translation updates"
Review/merge:
- [x] https://github.com/pkp/pkp-lib/pull/3308
- [x] https://github.com/pkp/ojs/pull/1801

[2018-01-26 07:00] asmecher commented on #3148
Thanks again, @vasylOstrovskyi!

[2018-01-26 07:00] #3148 closed

[2018-01-26 09:54] forgive38 opened #3322 "[OJS] can't access to editorial history of a submission with Firefox"
When I want to open the editorial history of a submission, the modal opens but the history is not displayed. there is just "Loading"
The received code does not seem to execute. Same thing under Opera but with Chrome it's ok.

I do not have a JS or PHP error.

thank you in advance

[2018-01-26 10:13] ali-sokhandan commented on #3320
@asmecher
the mentioned changes has been applied.

[2018-01-26 11:04] NateWr commented on #3269
I think it's pretty easy. We just need to pass the abbreviated name into `citeproc-php`. We're probably just missing that bit of information.

[2018-01-26 14:04] bozana opened #3323 "fix detachment of dependent entities at file revision upload confirmation"
If the uploaded file is not confirmed as a revision there will be the error: DB Error: Duplicate entry XXX for key 'review_round_files_pkey', because the save revision is attached twice, once before the function execution, at file upload here https://github.com/pkp/pkp-lib/blob/master/controllers/wizard/fileUpload/PKPFileUploadWizardHandler.inc.php#L359l270, and once after the confirmation i.e. he

[2018-01-26 14:09] t4x0n commented on #3316
I agree with this requirement, especially with the email, the country is typical in affiliation in affiliation information, even in old publication but the email is different because a lot of journals only publish correspondence author email.

[2018-01-26 14:11] bozana commented on #3323
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3324

[2018-01-26 15:14] #3323 closed

[2018-01-26 15:38] bozana commented on #3278
This changed so that no notification exists any more, but only the review round status is changed, s. https://github.com/pkp/pkp-lib/commit/d66ab34735eb791882d11e7826cf48755b5f1ac5#diff-a293ff86bd7eb54b4ef4cb047dd4c550.
It seems that earlier the notification NOTIFICATION_TYPE_ALL_REVISIONS_IN with the message "A revised file has been uploaded for your editorial consideration in {$stage}." was sent

[2018-01-26 15:46] bozana opened #3326 "REVIEW_ROUND_STATUS_RESUBMITTED message"
The review round status REVIEW_ROUND_STATUS_RESUBMITTED (https://github.com/pkp/pkp-lib/blob/master/classes/submission/reviewRound/ReviewRound.inc.php#L23) sounds wrong: it suggests that something is resubmitted, but actually the revisions are requested, that will then be subject of the new review round. The variable name is maybe not so important and must not be changed, but the review round stat

[2018-01-26 15:54] NateWr commented on #3326
[code]

[2018-01-26 15:57] NateWr commented on #3278
I don't like sending an email with each file. It will be annoying if there are several files. But it's better than no email so let's go ahead for 3.1.1 and leave a more comprehensive solution for when we take a long look at notifications in general.

[2018-01-26 16:39] bozana commented on #3278
Hmmm... If we do not want to send the e-mail notification for each revision upload, we could send it only at the first, as it was earlier, I believe -- We could eventually send it when the review status changes accordingly. Would that be better @NateWr?

[2018-01-26 16:43] NateWr commented on #3278
It's hard to know. Because the editor might want to know when they've sent all of them. Like, they might get 3 emails in 10 minutes, and then nothing for an hour, and then they can know the author's probably done. I'd say just send them all. Short of a smart system that can track whether the editor has logged in to look at them, and not send duplicate notifications if they haven't yet, it's probab

[2018-01-26 20:04] asmecher commented on #3320
(Leaving this open in case others need tracking before the 3.1.1 release)

[2018-01-26 21:09] ajnyga commented on #3322
One of our users had similar problems with the editorial histy and the reason was an adblocker software in the browser.

[2018-01-29 08:59] forgive38 commented on #3322
Thanks a lot : exactly the same thing for me.

[2018-01-29 08:59] #3322 closed

[2018-01-29 09:06] forgive38 commented on #3303
Thank you, I saw my mistake

[2018-01-29 09:11] forgive38 commented on #3292
@asmecher
I think this is a bug like #3156 , because I have to translate menu  items in the WebUI  ( Navigation Menus) in order to make the translation available.

[2018-01-29 10:09] alexxxmendonca commented on #3017
A similar feature is available in ScholarOne and it is quite used by reviewers.

[2018-01-29 12:44] israelcefrin commented on #3281
Hi @ajnyga I think that we could use this flag to enable/disable, and, as a third option in future, use it  to set a journal to maintenance mode. Something like:

`$ ojs journal --create name="Test Journal" path=test-journal primary=primary@domain.com su-username=admin su-email=admin@domain.com  status=disable/enable/maintenance ...`

And if none status given, default disable as you said.
`$ ojs j

[2018-01-29 13:11] ajnyga opened #3328 "[OJS] Edit issue modal, last link not visible with some locales"
Hi,

I noticed that in the edit issue modal the link leading to instructions hides the last tab link. See below. Probably this could happen with other locales as well.

![screenshot_8](https://user-images.githubusercontent.com/16347527/35511966-b5094318-0506-11e8-9d5c-b77777528eee.png)

[2018-01-29 13:48] NateWr commented on #2894
I'm working on the reviewer search filtering. Currently, we have four range sliders which allow editors to search with lower and upper limits (ie - at least X but no more than X):

![selection_051](https://user-images.githubusercontent.com/2306629/35513392-ca8d50aa-04fa-11e8-810a-851c03ecf365.png)

I'm wondering if the range is appropriate for all four of these. In particular:

1. Will anyone ever

[2018-01-29 14:33] jmacgreg commented on #2894
Hi @NateWr: agreed on both assumptions, at least from my perspective. I think this would also simplify the interface a bit - just having the one range slider for each, instead of two.

[2018-01-29 15:16] alexxxmendonca commented on #2894
First off, this looks great! 👍

I also agree with your assumptions and I second @jmacgreg's comments too.

If I may, I think it might be helpful to have a filter showing "Invitations Declined" and again, I think it would probably be just a "max number of invitations declined"

[2018-01-29 15:23] NateWr commented on #2894
Thanks @alexxxmendoca! Do you think the declined invitations should be a raw number (# of declined) or a ratio (X% of invitations declined)?

[2018-01-29 15:29] alexxxmendonca commented on #2894
That's a good question... I like the idea of percentage, simply because 5 declined invitations out of 5 has a different weight than 5 declined invitations out of 20.

I think we can go with percentage in this case.

[2018-01-29 16:26] defstat commented on #3056
@asmecher
OMP PR

OMP: pkp/omp#495

[2018-01-29 16:48] defstat commented on #3282
@NateWr I have fixed the issue and rebased

[2018-01-29 17:13] bozana commented on #3276
Hmmm... it must be that the revision import did not work for some reason -- z. B. the submission_file id attributes are not unique, or a genre does not exist or... But there should be a better error handling at this part of the code, so that other other errors that happened earlier would be displayed...

[2018-01-29 18:01] bozana commented on #3276
@pkel, could you maybe apply these changes https://github.com/bozana/ojs/commit/22a58707d436dfb8ba8a8d9b87f1fe4445edf1d5 and see if you then get another import result message?

[2018-01-29 18:04] #3320 closed

[2018-01-29 19:09] defstat commented on #2899
@asmecher reminder

[2018-01-29 19:19] defstat commented on #3287
I have prepared something like that
![image](https://user-images.githubusercontent.com/560456/35529553-0c9fb908-053a-11e8-891b-0c00994af809.png)

[2018-01-29 19:34] bozana commented on #3276
PRs:

ojs master: https://github.com/pkp/ojs/pull/1811

[2018-01-29 19:49] bozana opened #3329 "Copyright Info with CC License Badge"
If there is a CC license badge for an article, only that badge (CC image and text) is displayed on the article page, s. https://github.com/pkp/ojs/blob/master/templates/frontend/objects/article_details.tpl#L369-L371
Display also the copyright info...

[2018-01-29 20:00] bozana commented on #3329
@NateWr, how should the copyright info be displayed in this case? Before the CC license badge? E.g. like this:
[code]
i.e. without any HTML element? Or maybe with `<p>`?
:-) Thanks!

[2018-01-29 20:26] bozana commented on #3329
PRs:
ojs master: https://github.com/pkp/ojs/pull/1812

[2018-01-29 20:27] bozana commented on #3329
@NateWr, the PR above is mit `<p>` element...

[2018-01-29 20:29] asmecher commented on #3056
Just one comment -- please go ahead and merge when ready!

[2018-01-29 20:30] asmecher commented on #2899
@defstat, do you have privileges to merge this yourself?

[2018-01-29 21:24] willinsky commented on #2894
Great to see this simplified, as Active Reviews would very very rarely be more than 1, and editors would want only those who have no active reviews, unless it is a very special case. So none active is something of a default search, and you would not search for more (though in that special case, you would select someone with an already active). In terms of down the road, in refactoring [stats on re

[2018-01-29 22:08] asmecher commented on #3281
@israelcefrin, we do have a few interactive tools (that prompt for values), but I don't think they've seen much uptake, and they limit the usefulness of the script in fully automated scenarios (such as the "install" script). I'd suggest that all parameters be entered via the command line.

We don't currently have a good pattern for name/value pairs in command lines, but I suggest we keep it simila

[2018-01-29 22:11] asmecher commented on #3292
@forgive38, in fact I think this is a duplicate of https://github.com/pkp/pkp-lib/issues/2987.

[2018-01-29 22:11] #3292 closed

[2018-01-29 22:20] bozana commented on #3276
I will close the issue, but if there is a need it can be re-opened...

[2018-01-29 22:20] #3276 closed

[2018-01-29 22:44] asmecher commented on #3274
Yes, let's restrict it to only relative URLs. Beware, though, of protocol-relative URLs -- which start with `//` but may go to another domain.

[2018-01-29 22:49] asmecher commented on #2180
@defstat, if you're not sure where to start with this, the most frequent point of confusion is why we see the label "Name" rather than an actual name in the reviewer assign box. But before you make any changes there, check quickly with @NateWr whether that aspect will be affected by his current reviewer assignment work.

[2018-01-29 22:54] asmecher commented on #3130
The closest we have to what you describe is the "capabilities" bitfields we occasionally use. See e.g. `SubmissionFileAccessPolicy.inc.php`:

[code]

These are used when the policies are added, to tell the policy what level of access is needed.

[2018-01-30 02:24] #1505 closed

[2018-01-30 02:25] asmecher commented on #3266
Absolutely, please do! I'd be happy to review and merge these.

[2018-01-30 02:41] jmacgreg commented on #2037
We're running into the same issue with a hosted client. I'd be in favour of getting rid of this GUI option as well as the config.inc.php parameters as well. Right now they appear to apply inconsistently to lists like the Archive (where I think only the config.inc.php parameter is applied for some reason). I think there's a general disconnect about whether this option should affect the backend or t

[2018-01-30 08:29] forgive38 commented on #3292
I updated OJS to the last ojs-stable-3_1_0, and now, it works
Thank you

[2018-01-30 11:14] ajnyga opened #3330 "[OJS] Payments need to be enabled to change the length of journal embargo"
At the moment you need to enable payments to change the length of embargo. However, not all journals are selling online subscriptions even if they have an embargo. Maybe move the embargo length settings to under distribution?

[2018-01-30 12:02] NateWr commented on #3329
👍 merged!

[2018-01-30 12:17] NateWr commented on #2894
Adding an ORCID link is a great idea, I've got that noted down.

I think you're right on this, but I want to keep that slider filter in place just for now because it is the only way an admin or journal manager can get an overall view of active reviewers in the system. Eventually we may provide better tools for this in the user management or stats areas. But until then I think some editors may repu

[2018-01-30 12:32] NateWr commented on #3328
Note to self: `.pkp_modal .ui-tabs-nav` is overriding the right padding on `.ui-tabs-nav` that's supposed to create room for the help links.

[2018-01-30 12:33] NateWr commented on #2180
Nope, it shouldn't be effected.

[2018-01-30 12:39] #3329 closed

[2018-01-30 13:42] NateWr commented on #3282
Looks like one of the OJS tests had a temporary hiccup. I've restarted it so let me know when it's passed and I'll merge them. 👍

[2018-01-30 13:46] NateWr commented on #3287
@defstat That looks good for now. Let's make the change and see if that helps some. Can you also make the change to the default menus that are added on installation, to change the names to include the words "navigation menu"? So:

User Navigation Menu
Primary Navigation Menu

[2018-01-30 14:54] amandastevens commented on #2961
The DOI prefix is also displaying twice with MLA style.

[2018-01-30 16:36] willinsky commented on #2894
That makes sense, certainly, although I am assuming that with the Active sliders, the default opening would be both dots appearing as a single dot on zero (which will make sense visually, in terms of their being two dots, in relation to other sliders). On the other hand, I really like your idea above, of a day ago, of having a single value option, instead of a slider for Completed and Days, which

[2018-01-30 17:27] bozana commented on #3274
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3331
ojs master: https://github.com/pkp/ojs/pull/1814 (only submodule update)

[2018-01-30 17:27] bozana commented on #3274
@asmecher, could you take a look at the pkp-lib PR above?

[2018-01-30 17:48] bozana opened #3332 "consider missing submission file in usage stats loader"
consider the case where an access to a submission file is logged by the usage statistics plugin, then the file removed/deleted and then the usage statistics log file processed. currently there would be a php error at this line https://github.com/pkp/ojs/blob/ojs-stable-3_1_0/plugins/generic/usageStats/UsageStatsLoader.inc.php#L78, that getGenreId() is called on null.
s. also https://forum.pkp.sfu.

[2018-01-30 17:52] bozana commented on #3332
PRs:
ojs master: https://github.com/pkp/ojs/pull/1815

[2018-01-30 18:13] jmacgreg commented on #3227
Hi all, we just had another client request this. We'll suggest for now that they manually add the {$submissionId} to their subject lines. I'd also like to suggest that this be flagged as a candidate for future UI/UX testing ("this" being email/notification management). A few further notes:

* folks who have asked for this would like the submission ID, and probably journal initials, in emails. Usua

[2018-01-30 18:14] stranack commented on #3287
Can you replace {$loggedInUsername} with just Username ? Including that kind of code in the description can create confusion for some users.

[2018-01-30 19:26] asmecher commented on #3274
I think this needs to apply both to the login and registration functions.

[2018-01-30 20:04] bozana commented on #3274
Ah, sorry @asmecher, I thought I search for source parameter everywhere :-P
Now I considered it for registration too.
And I believe we don't have to change anything here https://github.com/pkp/pkp-lib/blob/master/pages/login/LoginHandler.inc.php#L144, because the redirect URL is constructed differently, correct?
THANKS!!!

[2018-01-30 20:05] #3332 closed

[2018-01-30 20:29] asmecher commented on #3274
Looks good -- please go ahead!

[2018-01-30 22:34] bozana commented on #3274
The tests are failing because of something else, thus I merged the pkp-lib PR and I closed the OJS PR.

[2018-01-31 08:57] #3274 closed

[2018-01-31 16:38] pkel commented on #3276
@bozana, I tried again to import the above file. The error is now handled properly and I get a nice error message in the frontend. It tells me that I try to insert all files with the same ID. That's true, but omitting the id gives a similar error.

I see messages like

with repeating ids and

with omitted id attribute on <submission_file> and <supplementary_file>.

I fixed this by enumerating the

[2018-01-31 17:04] ajnyga commented on #3330
Also the settings Author Self-Archiving Policy are in a very odd place now in Payments => Subscription Policies. A journal should be able to edit this setting even if they are Gold open access, so this really does not have much to do with subscription or payment settings?

[2018-01-31 17:59] bozana opened #3334 "fix listing of successfully imported submissions"
s.

from here: https://github.com/pkp/pkp-lib/issues/3276#issuecomment-361991101

[2018-01-31 18:02] bozana commented on #3334
PRs:
ojs master: https://github.com/pkp/ojs/pull/1818

[2018-01-31 18:07] bozana commented on #3276
@pkel, thanks a lot!
Yes, the `id` attribute for `submission_file` element is required -- it is referenced in the `article_galley` element -- to know which file exactly belongs to the galley. Then it is also used to keep track of the relationship with revisions and their sources -- submission files IDs from the import XML file are mapped to the actual inserted IDs in the DB.
Here is a new issue an

[2018-01-31 18:22] defstat commented on #2899
@asmecher it seems that I have privileges for merging on pkp-lib but not on ojs and omp repositories

[2018-01-31 19:18] defstat commented on #2899
New PRs
pkp-lib: #3335
ojs: pkp/ojs#1820

[2018-01-31 20:21] AhemNason commented on #3317
I think Juan's idea of only displaying registered DOIs would solve many issues. I've seen a lot of journals mint DOIs without going through the steps to register them. I'd suspect that anyone who wrote "bioma, 17, 1, 41-54" as a suffix has a limited idea as to what a DOI is supposed to do, and doesn't know that registration isn't necessarily automatic. A lot of folks assume they should be fully hu

[2018-01-31 21:28] #3334 closed

[2018-01-31 23:47] asmecher commented on #2899
Thanks for the heads-up, @defstat -- I've added you to both.

[2018-02-01 00:49] asmecher opened #3336 "External feed plugin obliterates custom blocks when enabled"
When the External Feed plugin is enabled, the custom block manager's plugins disappear.

What appears to be happening is that the External Feed plugin causes the template manager to be initialized before all generic plugins have finished loading, causing the "blocks" category to be loaded before plugins registered against `PluginRegistry::loadCategory` have had a chance to register for notificatio

[2018-02-01 04:50] mjordan commented on #3261
No objections here. If we don't want to load some of the new elements into an access version of a preserved journal, some preprocessing could strip them out. Or perhaps more sensibly, we preprocess the XML to be loaded to only include galleys, metadata, etc.

[2018-02-01 09:49] NateWr commented on #2923
The version bump was done as part of #2894, but the items listed above could still be updated.

[2018-02-01 15:52] diegoabadan commented on #3261
See https://github.com/lepidus/fullJournalTransfer (for OJS 2.x)

[2018-02-01 16:01] forgive38 opened #3338 "[OJS] if html part of mail too long, new line with exclamation mark is inserted"
Hello

This is related to this SO : https://stackoverflow.com/a/42777909

I think it's because new lines in the mail template are not considered, so the html part of a mail is in one line with sometimes longer than 998 characters like REVIEW_REQUEST_ONECLICK

One solution is to add in lib/pkp/classes/mail/Mail.inc.php (l464), $mailer->Encoding = 'base64';

PS: we use ojs-stable-3_1_0

[2018-02-01 16:03] asmecher commented on #3261
@diegoabadan, thanks, that's been a useful bit of work for OJS 2.x.

For 3.x, the XML import/export plugin uses the [filter framework](https://pkp.sfu.ca/wiki/index.php?title=Metadata_and_Filter_Framework), which essentially allows each entity to have a matching conversion filter from XML, and to XML. This will facilitate modular code -- the OJS 2.x XML import/export plugin was overly monolithic.

[2018-02-01 19:16] defstat commented on #2899
@asmecher All merged.

[2018-02-01 19:16] #2899 closed

[2018-02-01 19:39] asmecher commented on #2899
Perfect, thanks!

[2018-02-01 21:51] asmecher commented on #3338
@forgive38, I was unable to replicate the problem behavior, but setting `base64` didn't have any negative side-effects, so I've merged that change. Thanks!

[2018-02-01 21:51] #3338 closed

[2018-02-01 23:59] mjordan commented on #3261
Will this change apply to OJS 3 only, or also OJS 2? I'm asking because, having consulted with PKP Legal, we don't want to store anything that was never published in the PN or even on the staging server. Which means that the filtering out of the published stuff needs to happen within the OJS plugin.

[2018-02-02 04:05] asmecher commented on #3261
Yes, this would be OJS3. Filtering would basically involve stripping out the extra entities, either via XSL or a bit of PHP. (Having my hands in a bit of XSL these days, I'll heartily recommend PHP.)

[2018-02-02 08:51] isgrim commented on #3266
@asmecher Thanks, will let open the PR as soon as it is finished and I am confident of the stability

[2018-02-02 12:26] NateWr opened #3339 "Declined submissions still show remnants of review stage in submissions list"
When looking at the Archived submissions, those which were Declined during the review stage still show the reviewers icon and the declined text is in the review color. They should be red and show no details.

![selection_053](https://user-images.githubusercontent.com/2306629/35733173-3fdffb16-0814-11e8-92ad-b081e5b2cb34.png)

[2018-02-02 14:07] jmacgreg opened #3340 "Add timestamp to CSS and JS files for when they are built"
... to force browser caches to clear. From Nate:

We could do the same with a timestamp based on when the file was built: `../style.css?t=0193938788...`. Alternatively, we could bake the timestamp into the filename itself since we compile directly: `../style-019384.css`. I'm tempted to go the latter route, because I believe a URL with a query string prevents some versions of server-side caching of

[2018-02-02 14:10] NateWr commented on #3340
Yeah so just to follow up on my previous comment, since we use a URL like `...$$$call$$$/page/page/css`, and it hits a PHP file, and then we load and return the file contents, it may not matter that much what the filename is. It might be possible just to add a query string onto it based on the time the file was last compiled: `$$$call$$$/page/page/css?t=012924894589`.

It would be nice to have a U

[2018-02-02 14:50] mjordan commented on #3261
@asmecher would it make sense for Dimitris to add an integration point for this now, before we release the 3.x plugin? The callback (or whatever) to do the actual filtering could then be added later.

[2018-02-02 15:33] NateWr commented on #2894
The following PRs implement a new reviewer selection list panel. These changes include:

- `/users/reviewers` API endpoint that feeds the list panel.
- Searching extended to user affiliation, biography and orcid.
- Review assignment ratings introduced.
- Gossip/Editorial Notes introduced for reviewers. (Admins, editors and subeditors can view.)
- Expanded view of reviewers to view biography and go

[2018-02-02 15:44] alexxxmendonca commented on #2894
This looks great, @NateWr !

[2018-02-02 16:18] ajnyga commented on #2894
Just wow, our editors have been very pleased with the filters in the submission listings so I know they are going to love this!

[2018-02-02 16:44] NateWr commented on #2614
From https://github.com/pkp/pkp-lib/issues/983#issuecomment-172581575

[2018-02-02 16:49] NateWr opened #3342 "Make the review type visible in the review assignments grid"
After a review type is selected, we don't actually show that anywhere so it's not possible to know what kind of review was assigned.

[2018-02-02 16:51] NateWr opened #3343 "Show more info when enrolling an existing user as a reviewer"
From: https://github.com/pkp/pkp-lib/issues/2894#issuecomment-351312838

[2018-02-02 16:54] NateWr opened #3344 "Show % of declined review assignments in reviewer selection"
From: https://github.com/pkp/pkp-lib/issues/2894#issuecomment-361277107

[2018-02-02 16:56] NateWr opened #3345 "Allow editors to modify user account details from the reviewer selection list"
To keep their reviewer list curated, editors may want to be able to update details about a reviewer where they most frequently encounter them: the reviewer selection list.

[2018-02-02 16:56] NateWr commented on #3345
And also remove the reviewer role from reviewers that are no longer active.

[2018-02-02 17:13] asmecher commented on #3261
I don't think so -- the plugin will get installed via the plugin gallery, and we can designate plugin version compatibility with each release, and updating the filter is essentially the same as updating the plugin (unless we're imagining hosting an .xsl e.g. on a PKP server, which would be a worse kind of dependency hell, I think).

[2018-02-02 17:39] mjordan commented on #3261
OK, thanks, I thought I'd ask in case it saved us some work and testing later. But just so I understand, the plugin will get installed in the Gallery initially, then included in the next release, correct? And it can be enabled either in the plugins list or directly in the Archiving tab. That probably doesn't matter but I just want to confirm that.

[2018-02-02 19:09] asmecher commented on #3261
I'd like to keep it in the Plugin Gallery throughout. We have 80 or so plugins already included in OJS and need to decrease that -- moving something to the plugin gallery is not an indication of lesser importance.

[2018-02-03 01:52] asmecher commented on #3190
@mfelczak, here's the compromise I've come up with:

- Install the new [custom header plugin](https://github.com/asmecher/customHeader) (just written, works locally, needs testing beyond that)
- In the plugin settings, place the Twitter JS: `<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>`
- In the sidebar block's source, drop the necessary Twitter anchor, e.g

[2018-02-03 07:34] ajnyga commented on #2428
I got a new report concerning this yesterday form one of our editors. The reviewer got the "form improperly submitted" error and the contents of the review were lost.

I will do some testing with 3.1. today by setting the token validity time to 60 seconds. My first theory is that the 60 minutes is not enough when someone is writing the review straight to the form and the error is still resulting i

[2018-02-03 13:19] ajnyga commented on #2428
@asmecher the one hour validity time still leads to lost data in OJS 3.1.

I changed the validity time to 60 seconds to test this. I entered the review form, added text to the form and waited for 60 seconds. After that I submitted review.

The result was that on the top of the form you get this and all the text is lost:
![screenshot_10](https://user-images.githubusercontent.com/16347527/35767482-a

[2018-02-04 18:11] defstat commented on #3282
@NateWr Rebased and all tests have passed.

[2018-02-04 18:35] defstat commented on #3287
@stranack something like
![untitled](https://user-images.githubusercontent.com/560456/35780770-08a92790-09e9-11e8-9dc7-fe682636b914.png)

@NateWr Currently the "Title" of a NavigationMenu is its "key" to distinguish it. On update, the process checks if there is another NM with the same name and if there is not one, it adds a new. So if we change the name from "User" to "User Navigation Menu", when

[2018-02-04 18:38] defstat commented on #3287
@NateWr

PR
pkp-lib: #3346

[2018-02-05 10:11] NateWr commented on #3283
This should probably be the default setting.

[2018-02-05 10:21] NateWr commented on #3287
Another idea for addressing the update issue would be to check if a navigation menu is already "assigned" to a navigation menu area. If it is, we can assume that setup is "done" and not make changes. If it's not, we can go ahead and create the new menus. Would that work?

[2018-02-05 15:51] bozana commented on #3283
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3347
ojs master: https://github.com/pkp/ojs/pull/1824 (only submodule update)

[2018-02-05 15:59] bozana commented on #3283
@NateWr, could you take a look at the pkp-lib PR above? -- It only makes changes in the JavaScript code i.e. we still get all possible years from the DB and then filter them here, with the JavaScript. This is because earlier we were thinking about letting the user select an existing year. If we are sure that we would like to keep it like this -- to only display the last 12 months -- then I could o

[2018-02-05 17:13] ajnyga commented on #3342
@NateWr I have this in the open reviews pr: https://github.com/ajnyga/pkp-lib/blob/f0e5ab0b5ffcd06ac7047a55f727ce296c8d2438/controllers/grid/users/reviewer/AuthorReviewerGridCellProvider.inc.php#L61-L62

[2018-02-05 22:06] asmecher commented on #3056
Thanks, @defstat, I've merged all this. Closing.

[2018-02-05 22:06] #3056 closed

[2018-02-05 22:16] asmecher commented on #3287
@defstat, about identifying menus, these are translated keys, right? What happens when a translation changes? Is the existing menu identified based on the translation in e.g. the primary language?

[2018-02-06 06:28] defstat commented on #3287
@asmecher No, the title of the NMs are fixed (mainly because the "title" is not displayed outside the administration pages)

[2018-02-06 07:45] ajnyga commented on #3278
Related to the discussion of sending/not sending notifications on each file upload
I suggested here: https://github.com/pkp/pkp-lib/issues/2665#issuecomment-320590391 that "instead of having that automation there, how about just having a button that you use to confirm that you have uploaded the requested revisions. This could a button that appears when there is at least one file uploaded to the re

[2018-02-06 09:58] NateWr commented on #3283
PR looks good. I just had one question.

Looks good to me. I think the year will be understood implicitly.

[2018-02-06 09:59] NateWr commented on #3342
👍 If you can remember, when it's merged can you check back here and I'll close it?

[2018-02-06 10:43] NateWr commented on #3278
@ajnyga There's a PR that implements something like this, along with my own concerns about usability.

https://github.com/pkp/pkp-lib/pull/3169

I'm not against it, but we'll need to implement a few additional things around it to ensure it's clear to the user what they must do.

[2018-02-06 12:41] diegoabadan commented on #3261
Thanks for the info Alec!

It is not in our short term planning. We want to prioritize other plugins before.

[2018-02-06 13:04] bozana opened #3348 "article DOI in native import"
currently the article DOI ie. pubIds are not imported because the pubId plugins are not loaded... fix is coming...

[2018-02-06 13:08] bozana commented on #3283
OK, I will then fix the one issue and merge... Thanks a lot!

[2018-02-06 13:18] bozana commented on #3348
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3349
ojs master: https://github.com/pkp/ojs/pull/1825 (only submodule update)

pkp-lib ojs-stable-3_1_0: https://github.com/pkp/pkp-lib/pull/3350
ojs ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1826 (only submodule update)

[2018-02-06 14:26] #3348 closed

[2018-02-06 16:51] #3283 closed

[2018-02-06 17:35] asmecher opened #3351 "Add integrity checks before upgrade process"
Add some checks to be executed before running an upgrade, in order to provide better guidance for common upgrade failures.
- Running upgrade script when `installed` is `on` (Should this be tolerated another way?)
- A partial upgrade has failed; restore from backup
- Review rounds duplicate entries
- Section ID missing from articles
- ... others?

[2018-02-06 17:49] ajnyga commented on #3351
- submissions or any other data linked to a context that does not exist anymore (https://forum.pkp.sfu.ca/t/solved-upgrading-3-0-2-to-3-1-01-movereviewerfiles-fails/37278)
- submission_files linked to submissions that do not exist anymore
- missing default genres (https://github.com/pkp/pkp-lib/issues/2506)

[2018-02-06 22:34] stranack opened #3352 "Remove link to Reviewer Guidelines on Step 3"
The link to "Reviewer Guidelines" on Step 3: Download & Review is now redundant, as Step 2 provides that same information. Can this be removed to simplify the Step 3 interface?

[2018-02-06 23:26] asmecher commented on #3352
I couldn't find the commit that added this, but I remember specifically coding this to appear in both places at someone's request: IIRC on the first page so that reviewers know what they're committing to before they agree/decline, and during the review process so they can refer to it (in a pop-up) as they perform the review.

[2018-02-07 03:52] asmecher commented on #3351
See https://forum.pkp.sfu.ca/t/how-to-check-if-you-db-is-ready-for-ojs3/37746/5 for a suggested query on the review rounds dupe check.

[2018-02-07 15:55] ijolte commented on #2415
I was delete my sections, and there is no mention to move to another section. because it, all of my articles gone. I'm newbie on OJS 3 and can't handle it. please, make easy step to fix its. thanks a lot

[2018-02-07 16:18] NateWr opened #3353 "citationStyleLanguage: Always add primary citation style in the list of alternates on the frontend"
From: https://github.com/pkp/citationStyleLanguage/issues/22

[2018-02-07 16:20] NateWr opened #3354 "citationStyleLanguage: Add option to generate citations only in main language of an article"
@PanBartosz

@NateWr

[2018-02-07 16:40] NateWr commented on #3315
I tried with the Hypothes.is plugin but was unable to reproduce the issue. It sounds like it might be a file permissions issue on the server, so you might follow up with James.

If it is a file permissions issue, it would be good to report this back rather than having it stall.

[2018-02-07 17:09] NateWr commented on #3269
It looks like we are already passing this into the citation data:

https://github.com/pkp/citationStyleLanguage/blob/master/CitationStyleLanguagePlugin.inc.php#L319

That suggests it may be an issue with citeproc-php. I've filed [an issue there](https://github.com/seboettg/citeproc-php/issues/47) to see if they can confirm whether or not there's an issue with `container-title-short`.

[2018-02-07 17:24] asmecher commented on #2415
Hi @ijolte -- I see you've also posted this over at https://forum.pkp.sfu.ca/t/by-mistake-i-deleted-the-sections-and-now-all-the-article-have-been-deleted/30333/8. Please just post in one place in order to help us keep our resources organized.

[2018-02-07 19:32] bozana commented on #1692
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3355
omp master: https://github.com/pkp/omp/pull/498

[2018-02-07 19:32] bozana commented on #1692
@asmecher, could you review the PRs above?

[2018-02-07 19:35] bozana commented on #1692
@NateWr, currently I display the chapter DOIs here i.e. like this: https://github.com/bozana/omp/blob/1692/templates/frontend/objects/monograph_full.tpl#L201-L210. Is it OK for now?

[2018-02-07 20:50] ctgraham commented on #2358
In the forum, @asmecher mentions the original plugin "never generated particularly good NLM XML in OJS 2.x, because OJS doesn’t have access to sufficient semantically rich information about the documents it handles".  One big concern with the original plugin output is that it lists all current editors and journal managers (at the time of metadata presentation) as contributors to the article.  What

[2018-02-07 21:04] asmecher commented on #2358
Fundamentally the problem is that the OJS2 NLM plugin was written for a single use case -- submitting content for indexing for the [Synergies project](http://www.synergiescanada.org/) -- and sometimes data was shoehorned into that without much regard for the general-purpose standard. In the rewrite, our driving use case is currently a similar one, but I'm trying to approach it with better respect

[2018-02-07 21:13] ctgraham commented on #2358
Another potential use case is general harvesting of metadata and associated article files.  We're considering a mandate from the Library of Congress to deposit metadata and article files, and I want to be able to just point them at OAI-PMH and be done.  Dublin Core, MARCXML, etc. doesn't sufficiently identify the article files to facilitate automatic harvesting, but NLM could identify article file

[2018-02-08 01:05] asmecher commented on #2358
@ctgraham, you can follow its progress over here: https://github.com/pkp/oaiJats

However, note that it depends on using Open Typesetting Stack to convert source documents into JATS -- it doesn't attempt to produce native JATS internally.

[2018-02-08 09:39] NateWr commented on #1692
Yeah that seems alright. Maybe not everyone wants them there but I don't think we'll be able to please everyone and that seems as good a place as any.

[2018-02-08 09:53] martinpub opened #3356 "[OJS] homeHeaderTitleImage not migrated to pageHeaderLogoImage with OJS 2.4.6 --> 3.1.0.1"
Hi,

When upgrading from OJS 2.4.6 to 3.1.0.1, our journals' logos (kept in homeHeadTitleImage) don't get migrated to the pageHeaderLogoImage of OJS 3. I know that there's a logo field in OJS 2.4, but that only displays an image on the homepage and not on all pages. Since pageHeaderLogoImage in OJS 3 displays on all pages, shouldn't homeHeadTitleImage be mapped to that field?

[2018-02-08 10:26] NateWr commented on #3269
Really fast turnaround on the lib author. There's already a fix in place, so it should roll in seamlessly with the next version release on his end.

If we really need this for 3.1.1, or if you need it urgently for any clients @amandastevens, the fix can be pulled in by changing `/plugins/generic/citationStyleLanguage/composer.json` and then running `composer update` from `/plugins/generic/citation

[2018-02-08 11:58] marcbria commented on #3351
If this is very OT or crazy suggestion, let me know, but what about letting upgrade.inc.php make a backup of your journal before starting touching things? At least, a DB backup...

I know is not our fault (is commented in UPGRADE indications and in the forum, an a sysadmin needs to know this is a must for every system) but I have pain in my soul thinking in those that run the script without a back

[2018-02-08 14:01] NateWr commented on #3258
@asmecher any update on the old Bugzilla archive?

[2018-02-08 14:03] NateWr commented on #3282
Sorry @defstat, been off the last few days. If you can rebase again I'll get it merged this time!

[2018-02-08 14:26] NateWr commented on #3287
@defstat Nice work on the nav items in the grid PR. I've merged that. What did you think about this approach for updating the navigation menu titles?

[2018-02-08 15:33] defstat commented on #3287
@NateWr I think that this approach would not insert the "new" NM, but would not update the already existing one either. (if I understood you correctly)

[2018-02-08 15:36] NateWr commented on #3287
Hi @defstat. Correct. But the goal will be to use the new titles for new installations.

[2018-02-08 15:40] defstat commented on #3287
@NateWr If we don't care about updating the currently installed NMs in any way (not only regarding the title), then yes this approach will do the trick.

[2018-02-08 16:11] asmecher commented on #3258
Sadly, no -- I've been prodding people about this and will try to get you an update.

[2018-02-08 16:34] defstat commented on #3282
@NateWr Not a problem. I have rebased the branches. OJS is passing the tests, but OMP fails. See  https://travis-ci.org/pkp/omp/builds/339043409 where all tests have failed, but I am not sure if the problem is with the rebased branch.

[2018-02-08 17:32] NateWr commented on #3282
Hmm, looks like a failure to load node dependencies. I've restarted the OMP tests. Maybe it was just a fluke.

[2018-02-09 11:51] ajnyga opened #3357 "Disciplin element should be discipline"
Hi @bozana

I am doing some additions to our excel to XML converter script and noticed this:
https://github.com/pkp/pkp-lib/blob/master/plugins/importexport/native/pkp-native.xsd#L324

I think that it Swedish? Should it be "discipline".

[2018-02-09 12:00] bozana commented on #3357
Ah, good catch @ajnyga! Unfortunately yes, you are right :-P Also here: https://github.com/pkp/pkp-lib/blob/master/plugins/importexport/native/filter/SubmissionNativeXmlFilter.inc.php#L351
I didn't know I can Swedish :-D ;-)

[2018-02-09 12:04] ajnyga commented on #3357
Tack så mycket!

[2018-02-09 12:47] bozana commented on #3357
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3358
ojs master: https://github.com/pkp/ojs/pull/1827 (only submodule update)

[2018-02-09 13:15] bozana opened #3359 "recommendOnly editor and section editor"
If an user has the recommendOnly editor role and section editor role, he/she will still be able to make decisions although he/she is not assigned to the submission. This should be fixed, so that such an user can only make recommendations if he/she is not assigned to the submission, and to make decisions only if assigned to the submission.
S. https://forum.pkp.sfu.ca/t/ojs3-journal-editor-with-reco

[2018-02-09 13:30] #3357 closed

[2018-02-09 13:40] bozana commented on #3359
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3360
ojs master: https://github.com/pkp/ojs/pull/1828 (only submodule update)

pkp-lib ojs-stable-3_1_0: https://github.com/pkp/pkp-lib/pull/3361
ojs ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1829 (only submodule update)

[2018-02-09 15:15] NateWr commented on #3287
I'm ok with that. @stranack what do you think?

[2018-02-09 15:52] NateWr commented on #3269
Ok, he already released an updated package, so here's PRs for updating the submodule:

PRs:
https://github.com/pkp/ojs/pull/1830
https://github.com/pkp/citationStyleLanguage/pull/23

Once the tests pass I'll merge it in.

[2018-02-09 16:18] #3359 closed

[2018-02-09 17:56] NateWr opened #3362 "Can't start review discussion as author"
I know Alec will hate me for assigning this to 3.1.1, but seems like a serious bug if others can reproduce it.

When logged in as author, I'm unable to start a review discussion from the author dashboard. Clicking the ok button sends off a request, but when it returns nothing changes and there's no error message. The XHR request is returning:

```{"status":false,"content":"","elementId":"0","event

[2018-02-09 20:17] asmecher commented on #3190
(This plugin needs a bit of further work on permitting it to function site-wide.)

[2018-02-09 22:14] jalperin opened #3363 "Consider showing "what's new" and/or "upcoming features" within OJS"
The idea is to give the community more opportunity to have a better sense of what's coming.

It could also have an invitation to give feedback on features.

[2018-02-10 05:49] ajnyga commented on #3362
I have been doing that a lot with 3.1.0.1. while testing the open reviews and have not encountered this. But maybe this is something in the master branch?

[2018-02-12 10:20] defstat commented on #3206
@NateWr PR

pkp-lib: #3364
ojs: pkp/ojs#1832

In https://github.com/pkp/ojs/blob/master/pages/user/UserHandler.inc.php#L30 there is one more check to enter the page:

`$journal->getSetting('publishingMode') !=  PUBLISHING_MODE_SUBSCRIPTION`

Should we add that too?

[2018-02-12 10:24] defstat commented on #3287
Reminder @NateWr @stranack

[2018-02-12 10:25] defstat commented on #3282
@NateWr OMP tests continue to fail (rebased again). Is that only me?

[2018-02-12 12:28] NateWr commented on #3206
👍 PRs look good.

Yeah, good catch.

[2018-02-12 12:43] NateWr commented on #3282
Hmm, it looks like the JS build is failing on a required peer dependency. Why it's only happening in OMP, I'm not sure. Can you try runnign this in your OMP directory:

[code]

Then try running the build script:

[code]

If it's successful, try committing that change to see if it helps the OMP tests. If it does, we'll probably need to update OJS as well....

[2018-02-12 14:49] NateWr commented on #2665
We had some discussion about this related to some work @bozana is doing for 3.1.1 Here's a quick set of mockups illustrating the kind of wizard-like workflow I'd like to see for revisions at some point in the future.

1. User is prompted to submit revisions directly in the notification. The link opens up a modal.

![selection_059](https://user-images.githubusercontent.com/2306629/36102140-47c6ec80

[2018-02-12 14:58] ajnyga commented on #2665
Where do you define to which file you are sending a revision? I mean if there are for example two original submission files.

[2018-02-12 14:59] NateWr commented on #2665
That would be in (2). I didn't take the time to mock it up in a detailed way. Just an outline of the process.

[2018-02-12 15:16] jmacgreg opened #3365 "Add usage report dashboard functionality"
Use cases:

As an editor, author or site admin, I want a centralized dashboard location to be able to view and download statistics related to article and issue usage.

As a journal manager, I want to be able to selectively manage access to these statistics.

* add general dashboard for editors and managers (and possibly one at the site level for admins)
* add per-article internal dashboard for aut

[2018-02-12 15:23] jmacgreg opened #3366 "Internal usage report: article views/downloads"
Display article views/downloads in table form.

**Display Notes**
* Table columns: Title (w/link to published work); # of views (abstract, galley(s), total).
* Default sort by: # of views, highest # first.
* Default display: top 25 articles.
* Provide an option to filter by article, section, author, ??.
* Provide an option to set date parameters.
* Provide an option to export to csv.

**Availabili

[2018-02-12 15:24] jmacgreg opened #3367 "Add UI to view usage stats for issues"
Display issue views/downloads in table form.

**Display Notes**
* Table columns: Issue title (w/link to published issue); # of articles; total # of views (issue TOC); * total # of views (all articles).
* Default sort by # of views.
* Default display top 5 issues.
* Provide an option to filter by issue.
* Provide an option to export to csv.

**Availability**
* Editor Dashboard (for all issues in jo

[2018-02-12 15:40] jmacgreg opened #3368 "Add a table and map to show usage statistics by country, region and city"
Display geographic distribution in a table, and map.

**Technical Notes**
* Use Chart.js or D3 for the map.
* Enable only when OJS is collecting geographic data.
* Warn if geographic data is not being collected.

**Display Notes (table)**
* Columns should include Country name; total # of views/downloads
* Filter by: article ID/title; section; ??
* Default to all-time, but allow date parameters to

[2018-02-12 15:48] jmacgreg opened #3369 "Add a UI to view institution statistics"
Add a page in the editorial backend where editors can view institutional usage statistics. This UI should only be available when institutional statistics are being recorded.

**Display Notes**
* Display a table in the usage dashboard, with the following columns: Institution (name); Type; # of views
* Default order by # of views
* Sort by column title
* Default to all-time, but allow date parameter

[2018-02-12 15:58] NateWr commented on #3282
This is basically done but I added the 3.1.1 milestone to it because the new theme will need this, so just to make sure it ships with 3.1.1.

[2018-02-12 17:15] NateWr commented on #3368
Chart.js won't do maps but D3 would, I think.

[2018-02-12 17:33] NateWr commented on #3365
Do you mean you want to be able to enable/disable access to some of the stats? So a site might run with no stats, or some stats but not others?

Assuming yes, I'd like to break these out a little bit. I'm thinking the author use case will be quite different from editor/admin. Here's my thinking:

- **As an** admin/editor
**I want to** access all of my article and issue download stats from one plac

[2018-02-12 17:41] defstat commented on #3206
@NateWr I have made the review changes

[2018-02-12 19:33] ajnyga opened #3370 "[OJS] Show keywords if available in any locale"
At the moment if you add for example keywords in English and look at the article with the Finnish UI, the keywords are not visible on the abstact page. For example the article title and the abstract are shown. It would make sense that keywords would be shown using the same logic meaning that there would be a fallback to any available content.

[2018-02-13 00:38] asmecher commented on #3190
Added site-wide support, following the pattern of the custom block manager.

[2018-02-13 00:42] asmecher commented on #3190
@mfelczak, please confirm whether the 3.1.0-1 release of this plugin works for you. https://github.com/asmecher/customHeader/releases/tag/ojs-3_1_0-1

[2018-02-13 01:01] asmecher commented on #1908
Deferring to OJS/OMP 3.2.

[2018-02-13 01:02] asmecher commented on #3278
I see 4 of us are already active on this one! Does anyone want to claim it?

[2018-02-13 06:36] bozana commented on #1150
This will be solved together with https://github.com/pkp/pkp-lib/issues/3278

[2018-02-13 08:27] bozana opened #3371 "return only distinct interests"
s. https://forum.pkp.sfu.ca/t/duplicate-reviewer-interest-in-pop-up-of-user-profile/38346

[2018-02-13 09:00] bozana commented on #3371
PR:
pkp-lib ojs-stable-2_4_8: https://github.com/pkp/pkp-lib/pull/3372
ojs ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1833 (only submodule update)

pkp-lib ojs-dev-2_4: https://github.com/pkp/pkp-lib/pull/3373
ojs ojs-dev-2_4: https://github.com/pkp/ojs/pull/1834 (only submodule update)

[2018-02-13 09:05] #3371 closed

[2018-02-13 10:17] NateWr commented on #3206
👍 merged!

[2018-02-13 10:17] #3206 closed

[2018-02-13 10:31] NateWr opened #3374 "Dropdown nav menus in default theme don't work for rtl languages"
See: https://forum.pkp.sfu.ca/t/ojs-3-1-dropdown-menu-in-arabic/35310

[2018-02-13 10:34] NateWr commented on #3374
PRs:
https://github.com/pkp/ojs/pull/1835
https://github.com/pkp/omp/pull/500

[2018-02-13 14:33] NateWr commented on #2894
@bozana can you code review?

PRs:
https://github.com/pkp/pkp-lib/pull/3341
https://github.com/pkp/ui-library/pull/9/
https://github.com/pkp/ojs/pull/1822
https://github.com/pkp/omp/pull/501

[2018-02-13 17:16] jmacgreg commented on #3182
This will be made obsolete due to work done in the Application Metrics Framework project in OJS 3: https://github.com/pkp/pkp-lib/projects/1. Closing.

[2018-02-13 17:16] #3182 closed

[2018-02-13 17:35] jmacgreg commented on #3365
Hi Nate, yep, that's accurate. I sort of imagine three basic "Dashboards":

- The **admin** dashboard where the JM configures what's displayed publicly;
- The **internal user** dashboard, where editors, authors, and (potentially) site admins see charts and reports relevant to them;
- the **public visitor** dashboard, where article and journal reports are available.

So maybe an additional use case

[2018-02-13 17:39] NateWr commented on #3365
I was thinking about this some today and I think this probably deserves an issue to itself. I can think of a few different "kinds" of public views which might be desired:

- An always-available public URL with rolling up-to-date stats on some thing (eg - last 6 months X).
- A one-off public URL with the stats on some thing _as they are at the time the report is generated_ (eg - our average respons

[2018-02-13 17:44] jmacgreg commented on #3365
Hi Nate, yeah, I think you're right. I was originally imagining this as the same reports, but publicly available, and that probably isn't what we want. I'll split this off - so we'll have this issue (Internal report dashboard) and another issue (Visitor report page). Sound ok?

[2018-02-13 18:37] defstat commented on #3282
@NateWr Followed your instructions. Rebased again. All tests have passed!

[2018-02-13 18:49] ctgraham opened #3375 "$_SERVER[REQUEST_URI] may or may not contain the querystring"
If `$_SERVER['REQUEST_URI']` does contain the querystring, the logic in `PKPRequest::redirectSSL()` and `PKPRequest::redirectNonSSL()` will duplicate the querystring.
https://github.com/pkp/pkp-lib/blob/1ea0d2e18c2b83fea14d1fcaab0dcf58343f5c3a/classes/core/PKPRequest.inc.php#L115-L141

This affects 3.x and 2.4.x

[2018-02-13 20:24] bozana commented on #2618
The review round status already changes for any revision upload, just e-mail notification is missing and that will come with https://github.com/pkp/pkp-lib/issues/3278

[2018-02-13 20:30] mfelczak opened #3378 "Submission lists don't load if journal section has been deleted"
If a JM or JE deletes a journal section that's assigned to an existing submission, the submission lists fail to load.

Suggest either preventing JM/JE from deleting assigned journal sections or updating submission list display to handle submissions without an assigned journal section.

[2018-02-13 20:36] asmecher commented on #3378
What version do you see this in, @mfelczak?

Possibly related: https://github.com/pkp/pkp-lib/issues/2415

[2018-02-13 20:46] stranack commented on #3287
Sounds good to me.

[2018-02-14 00:52] stranack opened #3379 "Article subtitles should appear in the issue TOC"
Can we enable the article subtitles to appear in the issue table of contents for OJS? It seems unconventional to exclude them.

[2018-02-14 09:03] marcbria commented on #3351
If you get a warning like this:
`"WARNING: Unable to find a match for "478-959-1-RV.rtf" in "/var/www/files/journals/1//articles/478/". Skipping this file."
`
Probably the problem it's not just the pointed file... it could be a general issue caused by missing all files in your private files folder.

BTW, upload.php is not really skipping the file. It asks for the same file in a infinite loop.

[2018-02-14 11:17] dennmuel opened #3380 "[OJS 3.1.0-1] Question: Edit mail template for all journals"
Hello everyone,

I was wondering how I could go about modifying an email template for all hosted journals at once. I would also like to use a variable that's not actually used in e-mails. I couldn't find any documentation or threads about this and doubt my understanding of the construction of mails, so I'd be grateful for any hints. :)

Our use case is as follows:
We would like to display the auth

[2018-02-14 11:24] NateWr commented on #3282
🚢 Merged!

[2018-02-14 11:24] #3282 closed

[2018-02-14 11:24] NateWr commented on #3374
Merged.

[2018-02-14 11:24] #3374 closed

[2018-02-14 11:34] NateWr opened #3381 "Problems scrolling PDF/HTML galleys in iOS"
Some users have reported that they are having problems scrolling on iOS devices (iPad, iPhone).

https://forum.pkp.sfu.ca/t/ojs-3-1-html-galley-not-working-in-ios/38339

A suggested fix:

![safari-iframe-scroll](https://user-images.githubusercontent.com/2306629/36202256-f394bc2c-117a-11e8-8872-d3b67eeb3d3c.png)

[2018-02-14 12:39] marcbria commented on #3351
I found other situations where this error raises:
- https://forum.pkp.sfu.ca/t/ojs-3-0-upgrade-fails-to-move-rename-some-supplementary-files/20520
- https://github.com/pkp/pkp-lib/issues/1924
- https://forum.pkp.sfu.ca/t/ojs-2-4-8-to-3-0-2-upgrade-error/32687

Possible error rephrasing with an interactive question.
`"WARNING: Unable to find "/var/www/files/journals/1//articles/478/478-959-1-RV.rtf

[2018-02-14 16:38] defstat commented on #3287
@NateWr

PRs
pkp-lib: #3382
OJS: pkp/ojs#1837
OMP: pkp/omp#502

The PRs checks if the NM that is trying to be installed has an area that already has a NM attached to it. If it does the NM is skipped from the installation/upgrade with a warning.
If the user wants the new default NM to be installed, he can detach the already installed NM from any area and then run the upgrade tool.

[2018-02-14 19:20] ajnyga commented on #2505
Hi @ctgraham,

One of our journals with 6 past names is asking about this feature. Do you have any plans to work on this in the near future?

[2018-02-15 10:53] bozana opened #3383 "no context in LazyLoadPlugin get/setEnabled when using CLI"
For example: The native import allows DOIs to be imported. This requires the DOI pubId plugin to be enabled and registered for the hook articledao::getAdditionalFieldNames. The plugin register function is only called if the plugin is enabled, s. https://github.com/pkp/pkp-lib/blob/master/classes/plugins/PKPPubIdPlugin.inc.php#L28. This calls LazyLoadPlugin::getEnabled, s. https://github.com/pkp/pk

[2018-02-15 11:54] pkel opened #3384 "[OJS 3.1.0-1] Very slow loading of Add Reviewer form"
I am running an OJS 3.1.0-1 instance installed from published .tar.gz archive. I migrated a journal from 2.x with roughly 850 registered reviewers. When I try to assign a reviewer via the *Add Reviewer* button, the form only presents a 'Loading' statement. I have one XHR request pending:
[code]
sqld is eating one full cpu core. After **8 minutes** the request succeeds and the form for reviewer sel

[2018-02-15 12:33] pkel opened #3385 "[OJS 3.1.0-1] Desisting from adding a new discussion leaves behind an empty discussion"
On an OJS 3.1.0-1 instance installed from release on PKP website, I can generate empty (ugly) discussions by pressing 'Add Discussion' and then closing the form without entering anything.

![a](https://user-images.githubusercontent.com/11337857/36256779-9ee1bab0-1254-11e8-8b88-abe107c4eaaf.png)
![b](https://user-images.githubusercontent.com/11337857/36256780-9f089ec8-1254-11e8-9aee-48924f733469.pn

[2018-02-15 12:36] pkel commented on #3385
Small addition for reproduction: A page refresh is needed to make the empty discussion show up.

[2018-02-15 12:55] pkel opened #3386 "[OJS 3.1] Declined submissions not appropriately highlighted as such"
## Updated (2019-07-03)
A mostly ready-to-go version of this request is implemented in PRs here: https://github.com/pkp/pkp-lib/issues/3386#issuecomment-477642290. However, it needs to be rebased after the versioning changes and tested to make sure it still works correctly.

Also, it would be good to include more prominent Published/Declined indications at the top of the new workflow UI that is be

[2018-02-15 13:02] NateWr commented on #2894
@bozana I think I covered everything in your initial code review of pkp-lib. I've rebased the PRs:

https://github.com/pkp/pkp-lib/pull/3341
https://github.com/pkp/ui-library/pull/9/
https://github.com/pkp/ojs/pull/1822
https://github.com/pkp/omp/pull/501

[2018-02-15 14:09] asmecher commented on #3385
@pkel, what roles does your user have? Are they assigned to the submission under "Participants"?

[2018-02-15 16:14] asmecher commented on #3384
@pkel, it sounds to me like MySQL is executing a nasty query, then caching the results internally for subsequent executes. (OJS itself doesn't do caching on this particular query.)

I would suggest using the `debug` setting in `config.inc.php` to get OJS to dump out the SQL queries it executes in the process. Note that once you enable this setting, SQL queries will be dumped to the browser (for al

[2018-02-15 16:19] bozana commented on #2683
PRs:
ojs-dev-2_4: https://github.com/pkp/ojs/pull/1836
ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1838

[2018-02-15 16:19] #2683 closed

[2018-02-15 16:39] bozana commented on #3380
HI @dennmuel

Your question is actually better suited for the support forum: https://forum.pkp.sfu.ca/. In GitHub Issues we just maintain the concrete bugs/features/issues that someone is/will be working on.

Which OJS version are you using?

You could eventually write a script or do some SQL queries to change the e-mail template for all your journals. Those default e-mail templates are in the DB

[2018-02-15 16:39] #3380 closed

[2018-02-15 17:01] asmecher opened #3387 "Remove gender fields"
I don't think there's any good reason to have these.

[2018-02-15 17:15] stranack commented on #3387
Strongly agree.

[2018-02-15 17:45] mtub commented on #3387
Thanks.

[2018-02-15 18:06] asmecher commented on #3387
PRs:
- https://github.com/pkp/pkp-lib/pull/3389
- https://github.com/pkp/ojs/pull/1839
- https://github.com/pkp/omp/pull/503

[2018-02-15 18:06] asmecher commented on #3387
@bozana, could you review these?

[2018-02-15 19:18] paulocoghi commented on #1402
I have installed OJS 3.1.0-1 with PHP-FPM 7.0 and Nginx. It works perfectly with `restful_urls = Off`.

But, if I configure it with `restful_urls = On` and add the rewrite rules, parts of the page (because the lack of css) don't load.

[2018-02-15 19:19] paulocoghi commented on #1402
Have someone installed OJS 3 with Nginx and `restful_urls = On` successfully?

[2018-02-15 21:27] bozana commented on #3387
@asmecher, looks good, please go ahead and make a lot of merging conflicts for me, when rebasing the huge changes from Nate... -- just now this issue had to pop-up! ;-) :-) :-D

[2018-02-15 21:28] ctgraham commented on #2505
Hi, @ajnyga .  Pitt doesn't have specific plans for scheduling this work at present.  I think the first step here is getting consensus on the PIE-J recommendations and then identifying if agreed-upon changes should be prioritized and staged, or if they should be implemented in one single release.

[2018-02-15 21:36] Vitaliy-1 commented on #3250
Sorry for delay. Will return for this issue only after finishing JATS WYSIWYG online editor.

[2018-02-16 07:11] dennmuel commented on #3380
Hi @bozana thanks a lot for your quick reply and your tips. Good to know that I was on the right track enging up at the DB and the parameter assignment.
Also sorry for posting that here. I guess if I had worded it as a feature request for that mail template, I might have been in the right spot. =)

[2018-02-16 14:31] #3387 closed

[2018-02-16 14:32] asmecher commented on #3387
Done -- with apologies, @bozana!

[2018-02-16 16:22] bozana opened #3390 "upgrade email templates"
Currently an e-mail template update will using the function installEmailTemplate in the upgrade.xml would lead to having several same e-mail templates -- with the same e-mail key -- if that e-mail template already exist in the DB table email_templates_default.
Thus, use UPDATE instead of INSERT when inserting an e-mail template here: https://github.com/pkp/pkp-lib/blob/master/classes/mail/EmailTem

[2018-02-16 16:26] imranh2 opened #3391 "pkp-lib/classes/xslt/XMLTypeDescription.inc.php Doesn't work when behind HTTP proxy"
`if (!$xmlDom->schemaValidate($this->_validationSource)) return false;` Is the problem child.

I've fixed it by replacing that line with:
[code]

[2018-02-16 16:31] woodfighter opened #3392 "[OJS] current release contains potentially dangerous old version of PHPMailer"
The version of PHPMailer packaged in the Current Production Release <http://pkp.sfu.ca/ojs/download/ojs-3.1.0-1.tar.gz> is 5.2.8 and nearly 4 years old. That version is vulnerable to [several security issues](https://github.com/PHPMailer/PHPMailer/blob/master/SECURITY.md), I haven't tried to exploit them via OJS but it's at least a possibility.

[2018-02-16 16:40] woodfighter opened #3393 "[OJS] OJS 3.0.2 tries to send mails with too long lines"
Our installation tries to send out mails with lines longer than the upper length defined in RFC 5321 of 998 bytes. As far as I can see PHPMailer tries to handle the matter (I didn't delve deep enough into the OJS source, to decide if the corresponding function is called by OJS), but fails; according to it's [changelog](https://github.com/PHPMailer/PHPMailer/blob/master/changelog.md) versions 6.0.2

[2018-02-16 20:43] asmecher commented on #3392
Thanks for the heads-up, @woodfighter. At a quick glance, I *believe* we're OK, because of regexps we run over incoming emails. But the best solution will definitely be to update this library (and other Composer dependencies that have been kept back). I'll look into it ASAP.

[2018-02-16 20:45] asmecher commented on #3393
There's a quick work-around for this that has already been committed to the master branch (https://github.com/pkp/pkp-lib/issues/3338) but as with #3392 I'll look into upgrading the library.

[2018-02-16 20:45] #3393 closed

[2018-02-16 21:48] asmecher commented on #3391
This would solve the problem for XSD-based schemata, but not e.g. DTDs. Perhaps it's possible to solve this more generally using [stream_context_set_default](http://php.net/manual/en/function.stream-context-set-default.php)?

[2018-02-16 21:52] kaschioudi commented on #1402
@asmecher : I dug into this and it doesn't seem related to https://github.com/pkp/pkp-lib/issues/3110.

My understanding is that PKPRouter relies on `$_SERVER` super global variable to get the path info but that variable is not available on NGINX (cf https://github.com/kaschioudi/pkp-lib/blob/master/classes/core/PKPRouter.inc.php#L149-L179).

Even though this seems to be a well documented issue wi

[2018-02-16 21:58] asmecher opened #3394 "Citation style language plugin doesn't work in some locales"
See [this forum thread](https://forum.pkp.sfu.ca/t/solved-upgrade-ojs-2-4-8-1-3-1-0-1-article-view-blank-page/38424/2).

The relevant log entries are:
[code]
It looks like `sr-RS@latin` is getting passed in, and presumably the `@latin` part is causing CiteProc indigestion. OJS locales are mapped to CiteProc locales [in CitationStyleLanguagePlugin.inc.php](https://github.com/pkp/citationStyleLangua

[2018-02-17 14:33] paulocoghi commented on #1402
When possible, I will dig deep into this issue as well.

[2018-02-17 19:34] stranack opened #3395 "Numbers on Submission List Tabs"
Consider adding numbers to the tabs on the submission list.

For example:

My Assigned (22)  Unassigned (0)  All Active (56)  Archives (124)

This is particularly important for highlighting any unassigned submissions which may be getting overlooked if no one decides to visit that tab to check, but also provides a nice "at a glance" overview of the overall work in progress.

[2018-02-17 20:28] stranack opened #3396 "Consider renaming Submission List "Archives" to "Archived""
Minor detail, but there can be confusion between the use of "Archives" to describe two different parts of OJS - 1) the back issues and 2) the rejected or published submission records.

We could make a bit of a distinction by changing the rejected or published submissions from "Archives" to "Archived".

[2018-02-17 21:19] stranack opened #3397 "Add filter see submissions completed in date range"
Another UI/UX suggestion:

As a chief editor, I want to be able to see at a glace when submissions were originally made to ensure none are languishing in the workflow.

To do this, could we consider adding original submission date to the submission list entries? I know we want to keep this interface as clean as possible, but it would be invaluable for chief editors wanting to know at a glance if a

[2018-02-17 23:26] stranack opened #3398 "Section Editor assignment creates duplicate Pre-Review Discussion entries"
When I add a section editor to the participants list, the Editorial Assignment pre-review discussion entry appears twice.

See: http://vpstest2.lib.sfu.ca/index.php/publicknowledge/workflow/index/64/1

[2018-02-18 09:29] biosystematic commented on #261
Dear willinsky,
I have visit your website http://ojs.stanford.edu/ojs/index.php/intersect and realized that the photo that you are added to the home page is really big in size.
This photo
http://ojs.stanford.edu/ojs/index.php/intersect/issue/view/67
is 2.43 MB that is too much for a website. to load your website very quick you should decrease the size of this photo.

[2018-02-18 12:10] bozana commented on #3391
S. also discussion in this issue: https://github.com/pkp/pkp-lib/issues/1955

[2018-02-18 12:51] bozana commented on #3278
The following PRs solve this as well as the issues https://github.com/pkp/pkp-lib/issues/3326 and  https://github.com/pkp/pkp-lib/issues/2618, using the PR https://github.com/pkp/pkp-lib/pull/3169 as a basis (but changing it as discussed there):
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3399
ui-library master: https://github.com/pkp/ui-library/pull/10
ojs master:  https://github.com/pkp/

[2018-02-18 12:51] bozana commented on #3278
@asmecher, could you review the PRs above?

[2018-02-18 16:17] mfelczak commented on #3378
Thanks @asmecher, this was a 3.0.2 install and it looks like #2415 will fix it, closing.

[2018-02-18 16:17] #3378 closed

[2018-02-18 17:06] ajnyga opened #3400 "[OJS] changing citationStyleLanguage settings does not work"
Hi,

OJS 3.1.0.1. and the same release for the citationStyleLanguage plugin + the ojs default theme for 3.1.0.1.

I select APA as the primary style and select APA and Chicago from the alternatives list and hit save. if I now return to the settings form, the selections I made are not there anymore. The selections I made are saved to the database.

There are settings for `primaryCitationStyle`, `ena

[2018-02-18 17:33] bozana commented on #3390
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3401
ojs master: https://github.com/pkp/ojs/pull/1841 (only submodule update)

[2018-02-18 17:33] bozana commented on #3390
@asmecher, could you take a look at the pkp-lib PR above?

[2018-02-19 09:08] defstat commented on #2180
PRs

pkp-lib: #3402
OJS: pkp/ojs#1842

[2018-02-19 09:18] pkel commented on #3385
@asmecher, I have  all roles except Administrator and am assigned to the submission as Journal Editor. There are two more Journal Editors and one Author.

[2018-02-19 10:09] pkel commented on #3384
@asmecher, I turned on the debug setting and triggered the request. [This](https://github.com/pkp/pkp-lib/files/1736235/fishy-grid-call-debug-censored.html.gz) is the result. A lot is happening there. Can you help to identify the problem? I see duplicate key errors on `controlled_vocab_symbolic`. Do you think they can cause the problem?

[2018-02-19 12:04] EmuAGR opened #3403 "Error 404 when addNavigationMenuItem"
Version: 3.1.0-1 (upgraded from 2.4.8-2)

Steps to reproduce:
1. Create a new navigation item, remote URL.
2. Save.

Console throws error 404 Not Found when POST to this GET:
component=grid.navigation-menus.navigation-menu-items-grid&op=update-navigation-menu-item

PHP message: PHP Warning:  assert(): Assertion failed in /home/xxx/www/lib/pkp/classes/core/PKPComponentRouter.inc.php on line 179

It

[2018-02-19 14:02] bozana commented on #3385
Hmmm... for some reason I cannot reproduce this using the current ojs-stable-3_1_0 branch: e.g. as author, after a submission, I try to do that and I do not see that empty discussion...
I also know this was a problem earlier but I thought we have fixed it...

[2018-02-19 16:17] asmecher commented on #3385
I can't reproduce it either -- we've had a few cases where this happened and I think they were related to two issues:
- Access policies preventing the user in question from deleting the placeholder discussion, or
- Missing CSRF tokens in the deletion request.

@pkel, if you watch your web developer toolkit's request list when you close the pop-up for creating a new discussion, you should see it se

[2018-02-19 16:37] asmecher commented on #3384
@pkel, I'm not sure what's happening with the controlled vocabularies there -- I'm not sure why that page would be generating `INSERT` statements -- but I think the query that's most likely to be slow is this one:

    SELECT u.*, COUNT(DISTINCT rac.review_id) AS complete_count, AVG(DATEDIFF(rac.date_completed, rac.date_notified)) AS average_time, MAX(raf.date_assigned) AS last_assigned, COUNT(DIS

[2018-02-19 16:40] asmecher commented on #261
@biosystematic, this issue isn't related to your post, and that image size is a feature of the specific journal you're accessing, not the overarching software it uses. I would suggest contacting someone involved with the journal (see http://ojs.stanford.edu/ojs/index.php/intersect/about/contact).

[2018-02-19 16:47] asmecher commented on #3400
@ajnyga, I couldn't duplicate this using a `master` install. Do you have one available to test on?

[2018-02-19 17:03] asmecher commented on #3390
Looks good to me -- please go ahead!

[2018-02-19 17:06] asmecher commented on #3278
Very nice -- a net decrease in code size, locale changes handled, and a functional improvement. Please go ahead, @bozana!

[2018-02-19 17:16] asmecher commented on #3398
@stranack, that's currently by design. Would you expect a new recipient to be added to the existing discussion? I could foresee trouble if we assume that new assignments should be granted access to already-in-process discussions.

[2018-02-19 17:18] #3390 closed

[2018-02-19 17:24] asmecher commented on #3383
Hmm, generally speaking I think it would be good to avoid using a `Request` object in headless operations, so passing the optional `contextId` parameter in makes sense to me. (As we reduce the use of static calls to  `Request` functions, the reach of the `$request` object should become more logical -- right now it's peppered through the system, making it hard to work with command-line tools and ot

[2018-02-19 17:36] asmecher commented on #3351
What version have you tried with? I think this infinite loop situation was resolved in the current release.

[2018-02-19 17:43] ajnyga commented on #3400
Thanks, this is happening in our production server which is unmodified 3.1.0.1. I will see if I can replicate the problem in our test server and if I can, I will send you the login information by email.

[2018-02-19 17:59] asmecher commented on #1692
Oops, I posted a quick review on the PR, not the issue. See https://github.com/pkp/omp/pull/498#issuecomment-366765272. Thanks, @bozana!

[2018-02-19 18:40] #3278 closed

[2018-02-19 18:40] bozana commented on #3326
The following PRs solve this as well as the issues #3326 and #2618, using the PR #3169 as a basis (but changing it as discussed there):
pkp-lib master: #3399
ui-library master: pkp/ui-library#10
ojs master: pkp/ojs#1840

[2018-02-19 18:40] #3326 closed

[2018-02-19 18:40] bozana commented on #2618
The following PRs solve this as well as the issues #3326 and #2618, using the PR #3169 as a basis (but changing it as discussed there):
pkp-lib master: #3399
ui-library master: pkp/ui-library#10
ojs master: pkp/ojs#1840

[2018-02-19 18:40] #2618 closed

[2018-02-19 19:34] asmecher opened #3404 "Review dependency management"
Currently we have a few kinds of dependencies:
- Composer (`lib/pkp/composer.json`)
- node.js dependencies (`package.json`)
- Git submodules

We need to make sure we're covering a few requirements...
- Notification if a specified version is dangerous
- A plan for staying modern

For example, https://github.com/pkp/pkp-lib/issues/3392 illustrates the dangers of fully-specified version numbers (we s

[2018-02-19 19:35] asmecher commented on #3392
I've updated the PHPMailer version to `^5.2` (=currently 5.2.26) in `master` and `ojs-stable-3_1_0`. I've also filed https://github.com/pkp/pkp-lib/issues/3404 for a more general review to make sure we're not at risk of this sort of problem in the future. Thanks for reporting!

If you want to update your existing install to use a newer (and still compatible) PHPMailer, apply the change to `lib/pkp

[2018-02-19 19:35] #3392 closed

[2018-02-19 20:18] asmecher commented on #3362
I'm also unable to duplicate this -- @NateWr, can you pass me a copy of your database? Unless it seems widespread I don't consider it a show-stopper for 3.1.1, but it's definitely worth tracking down.

[2018-02-19 20:30] bozana commented on #3383
@asmecher, could you please see these commits:
1) the first commit are minimal changes so that DOIs and URNs can be correctly imported using the CLI native import:
pkp-lib: https://github.com/bozana/pkp-lib/commit/4338f6f483893c67868dc4289511c3d11eee8cf5
ojs: https://github.com/bozana/ojs/commit/bfc8980ce013cb0dfd8934338e1424735bb5716d
2) second commit considers additionally all other plugins:
pkp

[2018-02-19 21:11] asmecher commented on #3190
Released and added to the plugin gallery.

[2018-02-19 21:11] #3190 closed

[2018-02-20 08:38] defstat commented on #3403
@EmuAGR
- Could you attach a print-screen with the UI (that is broken due to the long locale)?
- Is the problem you are reporting only happening when trying to save a "remote url" navigation menu item?

[2018-02-20 10:28] marcbria commented on #3351
The last one released: 3.1.0.1

[2018-02-20 10:28] pkel commented on #3384
That's indeed the problematic query!

[2018-02-20 10:41] pkel commented on #3385
After pressing **Add Discussion** I can see three requests. I list url followed by response.

[code]

[code]

[code]

and after pressing the **X**:

[code]

[2018-02-20 16:14] forgive38 opened #3407 "[OJS] doubt about a translation"
Hi all,
in lib/pkp/locale/en_US/common.xml, there is a message which is :
"<message key="notification.email">Do not send me an email for these types of notifications.</message>"
this message is translated in most of other languages as "Send me an email ..."

What is the good sens for this message ?
Thank you

[2018-02-20 16:27] mtub commented on #3407
The English text is correct, the translations hadn't been updated.

(The English text had been changed to its opposite meaning some time ago. This will be avoided in the future.)

[2018-02-20 16:27] #3407 closed

[2018-02-20 19:26] asmecher commented on #3384
@pkel, good, this helps narrow it down. Now to distinguish between the two possibilities [outlined above](https://github.com/pkp/pkp-lib/issues/3384#issuecomment-365977055) -- could you run an `EXPLAIN` on that query to see if we can identify a missing index or similar?

[2018-02-20 19:33] asmecher commented on #3351
Are you sure it's OJS 3.1.0-1 and not OJS 3.1.0-0? This should have already been fixed by https://github.com/pkp/pkp-lib/issues/2942 (the solution added [this single line of code](https://github.com/pkp/ojs/blob/d3518404b36e61d9d4a3bb07284bae7bf6ff6ddf/classes/install/Upgrade.inc.php#L117)).

[2018-02-20 19:56] asmecher commented on #3385
Ah, I see that the CSRF token is missing. I think this is already noted/fixed at https://github.com/pkp/pkp-lib/issues/3167 -- please try the patch there and see if it resolves the problem.

[2018-02-20 20:10] asmecher commented on #3370
Agreed, though of course this would need to apply consistently with other vocabulary-based metadata fields.

[2018-02-20 20:13] EmuAGR commented on #3403
Thank you for your quick reply, I'll try to test the backend fix later. In the meantime, this is the screenshot you requested:
![ojscreen](https://user-images.githubusercontent.com/4166199/36446734-8bf08ec2-1682-11e8-8b13-7f8b13d2bc2c.png)

[2018-02-20 20:42] defstat commented on #3403
@EmuAGR How did you install OJS? Did you download the code through GitHub? If yes, which branch?

[2018-02-20 20:46] EmuAGR commented on #3403
It was the stable release 3.1.0-1, AFAIK. Do you recommend installing from source instead?

[2018-02-20 20:49] defstat commented on #3403
No, it just seems like a javascript issue. If you have not done that already, could you clear the cache and try again? Could you check if you get any javascript errors?

[2018-02-20 20:55] EmuAGR commented on #3403
I already cleared all the caches, and I don't get any JS error when loading that menu.

[2018-02-20 21:13] defstat commented on #3403
Thank you. Do you get any errors on your browser console? Like build.css or build.js missing, or any other?
Furthermore, could you tell me the contents of [ojs-root-folder]/js and [ojs-root-folder]/styles? (not including inner folder contents.)

[2018-02-20 21:15] marcbria commented on #3351
Pretty sure... :-)

1) It's what docker-compose says:
`    image: marcbria/docker-pkp-ojs:ojs-stable-3_1_0-1

2) To be sure, I rised the container and checked inside running this:
[code]

So yes... It's a 3.1.0-1

I checked the patched file (classes/install/Upgrade.inc.php) this is what I found:
[code]

[2018-02-20 21:19] EmuAGR commented on #3403
Nope, no errors. As you requested:
$ ls js/
build.js  controllers  load.js  pkp.min.js
$ ls styles/
build.css  citationEditor.less  index.less

[2018-02-20 21:25] defstat commented on #3403
Thank you! Can you send your PHP version and whether you get any PHP errors, apart from the getPath() one? Are you on site level or on journal level when you are getting the UI issue?

[2018-02-20 21:44] EmuAGR commented on #3403
PHP 5.6

But I don't get that getPath() error, just the warning from assert() when I try to POST a new item, I still have to apply the fix though. From the JS issue there isn't any error.

[2018-02-21 01:00] EmuAGR commented on #3403
The styling issue was fixed when I migrated the website from a nginx+CloudFlare installation to an Apache one, maybe something was wrong with my nginx settings. Next I'll try to apply the fix to the menu.

[2018-02-21 01:45] t4x0n opened #3409 "[OJS] translate is not working with checklist Submission Requirements"
When you are submitting an article, and it shows the checklist of Submission Requirements, this list only is displaying just in English! even when you have activated before all options for the new language.

this checklist is in this file (ojs/locale/xx_XX/default.xml)

I tried with Spanish and Francaise translations.
I make a video for you: https://youtu.be/t_MpQNVZa1w

Would wonderful this issue

[2018-02-21 05:03] Talgar commented on #2275
@bozana Hi, My OJS version is 3.0.2.0, How do I apply the патч? should I update the whole website to the new release or just change the certain PHP file? sorry for the noob question, I don't have a hight developer skill but have to work as an admin/developer.  Thanks.

[2018-02-21 05:03] Talgar commented on #2275
@bozana Hi, My OJS version is 3.0.2.0, How do I apply the patch? should I update the whole website to the new release or just change the certain PHP file? sorry for the noob question, I don't have a hight developer skill but have to work as an admin/developer.

[2018-02-21 05:32] defstat commented on #3403
@EmuAGR Nice! Can you try whether the webserver change helps on the other issue you have, without apply the patch?

[2018-02-21 05:43] EmuAGR commented on #3403
It didn't work for the 404 issue.

[2018-02-21 11:58] bozana commented on #2275
Hi @Talgar

You would need to change the code like here: https://github.com/pkp/pkp-lib/pull/2277/commits/ff05bc03d3c6df522b8b013e9e530ce22d6e9844 i.e. to add  `&& !$reviewAssignment->getDateConfirmed()` in that code line in lib/pkp/controllers/grid/users/reviewer/ReviewerGridCellProvider.inc.php. Because it is not a big change, you could do it manually.

In general if you would like to use the `p

[2018-02-21 12:00] aleskl commented on #2894
Is it possible to sort reviewers eg. by number of reviews by clicking on the column headers in the reviewer selection table? That was possible in 2.4.X version (although not fully functional).

[2018-02-21 12:13] ststamil35 opened #3410 "[OCS] unable to login and create conference after installation. No errors only error.log"
I am unable to login after OCS installation.

Error log shows the following error

[21-Feb-2018 11:35:42 Etc/GMT] ocs2 has produced an error
  Message: WARNING: Invalid argument supplied for foreach()
  In file: /home/psgimsbz/public_html/conference/classes/install/Install.inc.php
  At line: 117
  Stacktrace:
  Server info:
   OS: Linux
   PHP Version: 5.6.31
   Apache Version: N/A
   DB Driver: m

[2018-02-21 12:46] pkel commented on #3386
Submission tab now:

![submission_original](https://user-images.githubusercontent.com/11337857/36480235-d7809dee-170b-11e8-958d-2f4e6f6c80eb.png)

Submission tab proposal:

![submission_collapsed_3](https://user-images.githubusercontent.com/11337857/36480319-2be6c8b8-170c-11e8-9b19-e54c08e673c5.png)

![submission_change](https://user-images.githubusercontent.com/11337857/36480333-365d64dc-170c-11e

[2018-02-21 12:58] pkel commented on #3385
Problem resolved by patch from #3167. Thanks.

[2018-02-21 12:58] #3385 closed

[2018-02-21 13:03] pkel commented on #3384
[code]

[2018-02-21 14:47] marcbria commented on #1921
This query returns the duplicated rows that need to be deleted:
[code]

[2018-02-21 15:54] oldfrank76 commented on #2275
Hi @bozana, thank you for taking the time to help us and thank you for your hard work.

[2018-02-21 16:28] bozana commented on #2894
new PRs, with a few fixes and rebased, ready for merging:
https://github.com/pkp/pkp-lib/pull/3411
https://github.com/pkp/ui-library/pull/11
https://github.com/pkp/ojs/pull/1848
https://github.com/pkp/omp/pull/504

[2018-02-21 16:56] t4x0n opened #3412 "[OJS] RSS buttons left-over from OJS 2.x"
three buttons (RRS 1.0, RSS 2.0 and Atom 1.0) are left-over on notification page:

example:
http://www.biodiversnathist.com/index.php/bnh/notification/
![dddddd](https://user-images.githubusercontent.com/5422984/36493699-f8731290-170e-11e8-9d34-3aa54956e0e0.png)

@asmecher we talk this in the forum: https://forum.pkp.sfu.ca/t/issue-with-rss/38268/6

[2018-02-21 16:56] bozana commented on #2894
@aleskl, no this is not possible -- now it looks totally different -- but the reviewers are per default ordered by the number of completed reviews. Furthermore, there are other filter options. But currently no sorting options in the GUI.

[2018-02-21 17:22] asmecher commented on #3410
@ststamil35, the support forum is the best place to get general support -- could you post your question there? http://forum.pkp.sfu.ca/

[2018-02-21 17:22] #3410 closed

[2018-02-21 17:59] asmecher commented on #3351
@mtub, is that around line 115, or around line 982? Around line 115, OJS 3.1.0-1 should include a call to `$fileResult->MoveNext()`, but I don't see it in the code you've quoted.

[2018-02-21 18:23] bozana commented on #2894
everything merged, thus closing....

[2018-02-21 18:23] #2894 closed

[2018-02-21 18:53] bozana commented on #3409
@t4x0n, do you think it could be similar to the problem i.e. solution here: https://github.com/pkp/pkp-lib/issues/3156 i.e. if it is solved with the reload of the default localized context settings at locale reload?

[2018-02-21 19:14] t4x0n commented on #3409
maybe @bozana, but it's not possible for me to know until an update to the next version OJS 3.1.1

[2018-02-21 19:39] asmecher commented on #3412
I took a closer look and that code is actually working for me. Can you check your PHP error log to see what messages correspond to the blank page?

[2018-02-21 21:48] asmecher commented on #3384
Hmm, @pkel, would you be willing to send me a database dump?

[2018-02-21 21:52] asmecher commented on #3386
Thanks, @pkel -- tagging @stranack and @natewr.

[2018-02-22 01:06] marcbria commented on #3351
It's around 115, as in the patch you pointed in former post.
Move the horizontal scrollbar and you will find the milling call to MoveNext() method.
This is why I say that "A new line is missed, but code looks fine".

[2018-02-22 01:50] t4x0n commented on #3412
in log file appears this lines:
[21-Feb-2018 22:45:26 America/Santiago] PHP Fatal error:  Uncaught Error: Call to a member function getAssocId() on null in /home/biodiver/public_html/lib/pkp/classes/notification/PKPNotificationManager.inc.php:56
Stack trace:
#0 /home/biodiver/public_html/classes/notification/NotificationManager.inc.php(40): PKPNotificationManager->getNotificationUrl(Object(Request

[2018-02-22 01:51] t4x0n commented on #3412
and on the page with  display_errors = On  in config.php  this lines:

Deprecated: Methods with the same name as their class will not be constructors in a future version of PHP; Smarty has a deprecated constructor in /home/biodiver/public_html/lib/pkp/lib/vendor/smarty/smarty/libs/Smarty.class.php on line 64

Deprecated: Methods with the same name as their class will not be constructors in a futur

[2018-02-22 04:11] asmecher commented on #3412
The relevant line in the log is...

    Fatal error: Uncaught Error: Call to a member function getAssocId() on null in /home/biodiver/public_html/lib/pkp/classes/notification/PKPNotificationManager.inc.php:56

It looks to me like there's an entry in `notifications` that refers to a nonexistent announcement, and that's what's breaking the feed. Do you get any results for the following SQL query?

[2018-02-22 12:18] bozana opened #3415 "getTemplateResourceName for plugins in pkp-lib"
s. https://github.com/pkp/pkp-lib/commit/619f4018a33ca2f6e328351282f28342c2439551#r27345626

[2018-02-22 12:20] bozana opened #3416 "sr_SR migration to either sr_RS@latin or sr_RS@cyrillic"
https://forum.pkp.sfu.ca/t/ojs-3-1-0-1-after-upgrade-from-2-4-8-1-spinner-is-spinning-forever/38439

[2018-02-22 14:39] martinpub commented on #3356
Hi, still interested, closed by mistake, sorry!

[2018-02-22 15:13] t4x0n commented on #3412
Yes @asmecher , this is the result:
![image](https://user-images.githubusercontent.com/5422984/36546232-a9891cae-17c9-11e8-9122-e0bb83819199.png)

[2018-02-22 16:13] asmecher commented on #3356
@NateWr, tagging for your thoughts, not necessarily for coding just yet.

[2018-02-22 16:14] asmecher commented on #3412
@t4x0n, try deleting all those rows and I suspect you'll see the problem go away.

[2018-02-22 16:15] asmecher commented on #3351
Per issue 3412, all results for this query should be deleted:

    SELECT n.notification_id FROM notifications n LEFT JOIN announcements a ON (n.assoc_id = a.announcement_id) WHERE a.announcement_id IS NULL AND n.assoc_type = 522;

[2018-02-22 18:18] t4x0n commented on #3412
Yes! this resolves the issue, but I do not understand... why?

I try with the SQL query in another journal but with * for see all columns and I can see one row for each user, and all these rows was created at the same time in the table, maybe this occurred when was installed the update?
![image](https://user-images.githubusercontent.com/5422984/36556330-87ed0604-17e3-11e8-83ee-8be8fc270882.png)

[2018-02-22 18:20] asmecher commented on #3412
There was some bad data in your OJS 2.x database; the query identified it, and now you've removed it. Glad to hear it's working now! I've flagged this in https://github.com/pkp/pkp-lib/issues/3351 for potential automatic clean-up.

[2018-02-22 18:25] t4x0n commented on #3412
but this issue appears not only in OJS 2.X updated to 3, in my installation with OJS 3.0 updated to 3.1 is the same issue, just in clean installation on OJS 3.1 this not occur

[2018-02-22 19:14] ajnyga commented on #2336
I guess the TemplateManager::display is not available after this?

[2018-02-22 22:57] alienmau opened #3417 "[OMP] Don't appears the download button to see the file ."
I need some assitance, im usind OMP v3.1.0 , and when i publish a press why appears "array" insted of the button to see the file or download?? any idea.
Here is a screenshot
http://prntscr.com/iiih00

Any help i'll appreciate!!

[2018-02-22 23:01] asmecher commented on #3417
@alienmau, start out by searching our support forum (http://forum.pkp.sfu.ca/), and if you can't find the answer there, post a new topic with all the details.

[2018-02-22 23:01] #3417 closed

[2018-02-22 23:23] asmecher opened #3418 "Expose reviewer competing interests to editors during reviewer selection"
The reviewer's competing interests (if any) are not currently exposed to the reviewer selection process.

[2018-02-22 23:23] asmecher commented on #3418
@NateWr, assigning this to you, but it might make a good case for a walk-through for the rest of the team on working with the Vue toolset.

[2018-02-23 16:58] asmecher commented on #2689
See also https://forum.pkp.sfu.ca/t/wrong-automatic-dates-for-the-review-timeline/38672 for some problem formats.

[2018-02-23 17:13] stranack commented on #3386
Yes, thanks for putting this together @pkel -- I like what you've proposing here. We'll examine this further, get back to you with any questions, and report back on next steps.

[2018-02-23 17:20] MarHerUMR opened #3419 "[OJS] Deleting submission covers leads to faulty API response"
There's a problem with the process how submission covers are deleted (tested on OJS 3.1).

Say you have a submission that has a cover attached. From the API you will get the response:

[code]

When you delete the submission cover from the _Submission and Publication Metadata_ panel the rows with the _setting_name_ _coverImage_ and _coverImageAltText_ don't get removed. The rows both get the _setti

[2018-02-23 18:06] vasylOstrovskyi opened #3420 "Date issues for non-default date_format_short in reviewDueDate and responseDueDate"
What I do:
1. Install fresh and clean OJS from git and configure as usual (with official tarball the same result). Single default en_US locale.
2. Change date_format_short in config.inc.php to "%d.%m.%Y" - this is the only modification I do.
3. Submit test article
4. Send to review
5. Add reviewer. Fields Response Due Date and Review Due Date are automatically filled with some reasonale default va

[2018-02-23 20:05] kaschioudi commented on #3419
Whether non existent values should be null or non existant is an eternal debate within web service developers.

Personally I prefer returning null or empty value if a field is unset because not only it keeps the shape of the response more predictable, it also benefit clients (no need to check for the existence of a field before using it and it also easy to take a response object make some changes

[2018-02-23 20:54] asmecher opened #3421 "Editing roles for a user in one journal destroys roles in others"
This appears to be an OJS 3.1.x regression.

As a Journal Manager, edit a user who is active in another journal.
Saving the user's profile appears to strip roles from other journals.

[2018-02-23 20:55] asmecher commented on #3421
(It appears the ListBuilder refactor was not released in OJS 3.1.0 -- perhaps this is a master-branch regression only.)

[2018-02-23 21:38] asmecher commented on #3419
I don't have a preference for empty strings vs. nulls, but the `coverImageUrl` definitely shouldn't be returning what it is. Either an empty string or no `coverImageUrl` at all would be fine with me.

[2018-02-24 09:29] ajnyga opened #3422 "[OJS] OJS 3.1.0.1 adding a participant with Safari does not close the modal window"
Hi,

Tagging @NateWr.

One of our editors reported that when assigning users to a submission, the modal window does not close after clicking "OK". The user is assigned though and you can just close the window from the "X" button, but in other browsers the window is closed automatically.

I was able to reproduce this with a clean installation of 3.1.0.1 and Safari 11 on Mac OS X 10.

[2018-02-24 15:06] vasylOstrovskyi commented on #3420
Not sure that this is the right way, but for me the following patch worked for issue (i)
[code]

[2018-02-24 20:11] defstat commented on #3420
@vasylOstrovskyi You have diagnosed the problem correctly. The `-altField` input has been added to hold the "real value" of the datepicker, independently of its "display value".  The real value should be in a javascript "yy-mm-dd" or the "%Y-%m-%d" you have added, or else there are issues with the save-in-db process.

When the user chooses another value, the altFormat takes effect, and changes the

[2018-02-24 20:48] defstat commented on #2689
@asmecher right now the client-side code for the datepickers assumes that the user will use only the `date_format_short` for displaying dates (I am referring to display dates on datepickers only).
There are some code segments that format dates on server-side before displaying them (for example https://github.com/pkp/pkp-lib/blob/master/controllers/grid/users/reviewer/form/ReviewerForm.inc.php#L173

[2018-02-25 12:20] ajnyga opened #3423 "OJS 3.1.0.1 "All reviews are in" notifications are not being sent anymore"
Hi,

@NateWr @asmecher

One of our journal editors noticed that the "All reviews are in" notifications are not being sent in OJS 3.1.0.1.

The translation key for the notification is still here https://github.com/pkp/pkp-lib/blob/master/locale/en_US/common.xml#L547 but it seems that it is not being used? At least a search in gihthub with that key does not return any hits in php code.

Am I missing

[2018-02-26 02:16] larsvilhuber commented on #2961
I don't believe the issue is with the CSL library. I am no expert, but as far as I can ascertain from https://github.com/citation-style-language/styles , CSL expects the "naked" DOI to be fed to it, which is then prepended either "doi:" (old and un-updated styles) or "https://doi.org/" (updated newer styles). In all cases, feeding the CSL processor the full string "https://doi.org/10.1234/somethin

[2018-02-26 09:33] bozana commented on #2961
I think this is a duplicate issue of this one: https://github.com/pkp/pkp-lib/issues/3212, correct? Thus closing....

[2018-02-26 09:33] #2961 closed

[2018-02-26 11:07] defstat commented on #520
@asmecher

PRs
pkp-lib: #3424
OJS: pkp/ojs#1851
OMP: pkp/omp#505

[2018-02-26 11:14] defstat commented on #520
@asmecher @jmacgreg
The PR adds the two improvements regarding the Library Documents.
1. Upon an Editor Decission, a grid with the Library Documents has been added, under the email template, so that the Editor can select any file from there, so that it can be attached to the email.
2. Optionally, a Library Document can be indicated as "Public Access"ed, and a URL is provided so that any user (both

[2018-02-26 12:28] marcbria commented on #3351
Not sure if it's an infinite... same error, asking for same file appeared 100 times before I stopped the process. ;-)

If you like I can send you a tarball with the DB and the files, but it's around 1GB.

[2018-02-26 13:05] bozana commented on #3416
Notes for myself:
Some DB columns locale are varchar 5 which would not allow sr_RS@cyrillic:
-- plugins/generic/staticPages/schema.xml
-- plugins/generic/externalFeed/schema.xml

Some setting_values contain the locale:
-- image names
-- arrays (the value and array length depend on that)

[2018-02-26 14:48] Ph-We commented on #3400
This has already been reported:
https://github.com/pkp/pkp-lib/issues/3222

[2018-02-26 15:22] mfelczak commented on #3190
Thanks @asmecher! Tested and confirmed working. There's a small type in the plugin gallery description: "This plugin permits the addition of custom headersto the website."

[2018-02-26 16:17] ctgraham opened #3425 "ReCAPTCHA broken in OJS 2.4.8-3"
The implementation of ReCAPTCHA in OJS 2.4.8-3 does not work for ReCAPTCHA v2 and notification list subscriptions.  It also breaks legacy ReCAPTCHA (though Google will shutdown v1 on March 1, 2018).

[2018-02-26 16:32] asmecher commented on #3383
Thanks, @bozana, that's a good solution! Please go ahead. I made one minor comment but I really don't mind either way on that one.

[2018-02-26 17:57] asmecher opened #3426 "Rename `press_id` in library files to app-agnostic `context_id`"
See https://github.com/pkp/pkp-lib/blob/master/xml/schema/libraryFiles.xml (and associated DAO etc).

[2018-02-26 18:08] israelcefrin commented on #3281
@asmecher I agree totally using UNIX standards, and I would like to know it would  it be feasible use a command line based in a phar archive (as [WP-CLI ](https://github.com/wp-cli/wp-cli) does). For instance, we could run something like:
`ojs-cli create test-journal --name="Test Journal" --contact="primary@domain.com"`

I will double check and document these desirable and initial parameters.

Als

[2018-02-26 18:12] asmecher commented on #3400
Thanks, @Ph-We, that does indeed look like a duplicate.

[2018-02-26 18:12] #3400 closed

[2018-02-26 21:02] asmecher commented on #3425
Thanks, I've merged this and cherry-picked to `ojs-stable-2-4_8` (and removed an accidental editor swap file add).

[2018-02-26 21:02] #3425 closed

[2018-02-27 00:13] AhemNason opened #3428 "Crossref issue-level DOIs generate repeated errors"
When a user submits a full-issue to Crossref via the plugin and they use both issue-level and article-level DOIs, the issue-level DOI will be submitted to Crossref repeatedly with the same timestamp. This is because the metadata for each article includes issue metadata as well.

The error looks like this:

[code]

Crossref throws up errors if update submissions have the same (or older) timestamp t

[2018-02-27 04:29] asmecher commented on #3384
@pkel, it looks like the problem query is [`getFilteredReviewers`](https://github.com/pkp/pkp-lib/blob/8fbedc94d8266ff76f2e1e030cb240e0f43209da/classes/user/PKPUserDAO.inc.php#L264..L331), implemented in `PKPUserDAO.inc.php`. This query explodes a number of joins combinatorially, then pieces them together with aggregate functions. As you've seen, it doesn't take long before that combinatorial expl

[2018-02-27 04:44] asmecher commented on #2689
Thanks, @defstat, your proposal makes sense (as does the attached pull request). Please go ahead. So far I think our datepickers in practice only apply to `date_format_short`, and I'm not sure we'd add a second format to those, so perhaps that part can wait until it's needed.

[2018-02-27 07:51] pkel commented on #3384
If it is included in the next minor release, I see no problem. Thanks.

[2018-02-27 07:51] #3384 closed

[2018-02-27 08:27] vmozer77 commented on #3073
Apologies for the superlate reply. We too have updated to OJS 3.1.0-1 and I agree with you @t4x0n that this is not a very good solution. If I may resugest a general solution for subeditors at any given stage of the process would be that they would have all options available as per usual, however, they actions would have to be confirmed by an editor or someone with the rights to do it. Automatic no

[2018-02-27 11:39] bozana opened #3429 "browseBySection"
The plugin https://github.com/pkp/browseBySection uses functions that will be first available in OJS 3.1.1, so maybe to write it in the readme. Plus, maybe to write how the plugin is supposed to work -- for example I had to read the code to figure out what to do next when I have enabled the plugin. And I still do not know why I do not see the browsing possibility...
There is interest in the plugin

[2018-02-27 15:25] bozana commented on #3383
PRs:
https://github.com/pkp/pkp-lib/pull/3430
https://github.com/pkp/ojs/pull/1853
https://github.com/pkp/omp/pull/506

[2018-02-27 17:33] asmecher commented on #3336
This looks like a broader issue, now that `_registerTemplateResource` has been introduced (see https://github.com/pkp/pkp-lib/issues/2872).

When a plugin calls `registerTemplateResource`, the TemplateManager gets initialized. This causes sidebar block plugins to be loaded, disrupting the expectation that all `generic` plugins would be loaded before all `block` plugins, which the custom block plug

[2018-02-27 17:36] asmecher commented on #3384
@pkel, great -- thanks for working with me on this one.

[2018-02-27 18:31] #3383 closed

[2018-02-28 03:38] jmacgreg commented on #2612
Hi Nate (for when you return),

Revisiting @t4x0n's comments regarding filtering by submission by date - it was put to me this way by a client:

As an editor, I want to be able to see all submissions that haven't had activity for "X" days, so that I can triage those appropriately.

"Active" can mean different things, but I think once the statuses per item 3) in the issue description are added, you

[2018-02-28 04:35] carzamora opened #3431 "[OJS] issues with emails notifications during the review to the production process"
It is necessary to review the emails that can be sent as notifications to the different participants during the process, for example:
- To the author can be sent the same notifications as the editors, for example: Editorial Assignment, Copyediting Request, or others related to the Production process.
- The Editorial Assignment notification appears in Submission tab and Review tab, but also this ap

[2018-02-28 11:46] forgive38 opened #3432 "Empty discussion created when going back in the browser while viewing the modal "Add discussion""
This issue is different from #3167, because the query is created before showing the form, and no delete request is sent.

Same thing when you upload a file or when you add a message in a discussion.
Thank you

[2018-02-28 18:32] bozana commented on #3416
PRs:
https://github.com/pkp/ojs/pull/1857

[2018-02-28 18:32] bozana commented on #3416
@asmecher, could you take a look at the PR above?

[2018-02-28 19:49] asmecher opened #3433 "[OMP] Add support for chapter re-ordering"
See https://forum.pkp.sfu.ca/t/omp-unable-to-rearrange-chapters/38961 for details.

[2018-02-28 19:52] asmecher commented on #3433
NVM, there's a work-around.

[2018-02-28 19:52] #3433 closed

[2018-02-28 20:13] bozana commented on #3398
PRs:
https://github.com/pkp/pkp-lib/pull/3434
https://github.com/pkp/ojs/pull/1859 (only submodule update)

[2018-02-28 20:13] bozana commented on #3398
@asmecher, could you take a look at the pkp-lib PR above?

[2018-03-01 00:04] asmecher commented on #3336
Should be resolved. Block plugins now register for their hook in order of sequence, rather than trusting the order of plugin loading to do it as expected.

[2018-03-01 00:04] #3336 closed

[2018-03-01 01:52] stranack commented on #3398
I just noticed this happening in other stage discussions too, just in case the fix needs to be applied elsewhere.

[2018-03-01 06:00] ajnyga commented on #2849
Just reminding @asmecher
I think we still need some new sql to the upgrade that introduces this change, see #2849 (comment)

[2018-03-01 06:07] ajnyga opened #3435 "Adding a warning concerning misplaced files directory would save a lot of time"
I think this could be easily checked and a warning could be shown to the OJS admin with a link leading to instructions. Having this would save a lot of time for other topics in the forum.

[2018-03-01 06:15] ajnyga commented on #3435
For older installation we could use this: https://github.com/pkp/ojs/blob/ojs-stable-3_1_0/pages/management/SettingsHandler.inc.php#L84-L98
And for new installations this could also be checked when installing.

[2018-03-01 08:43] bozana commented on #3398
This should fix it all... :-)

[2018-03-01 10:25] #3398 closed

[2018-03-01 11:16] bozana commented on #3073
Hi @t4x0n and @vmozer77

The recommendOnly option first came in connection with the review stage i.e. not to allow some users to make the review decisions, but to just be able to make a recommendation.
Then the problem was that there are some decisions on other workflow stages, that such recommendOnly users could made, which would lead in accepting the article and promoting it into the next workfl

[2018-03-01 11:20] bozana opened #3436 ""Send to Review" and "Send to Production" for reccomendOnly users"
The recommendOnly option first came in connection with the review stage i.e. not to allow some users to make the review decisions, but to just be able to make a recommendation.
Then the problem was that there were "Accept and skip review" and "Decline Submission" buttons that should not be available for recommendOnly users. So I wrongly disabled all the buttons, from all other workflow stages (oth

[2018-03-01 11:21] bozana commented on #3073
I opened a new issue: https://github.com/pkp/pkp-lib/issues/3436
Similar, the other/bigger changes request could be described...

[2018-03-01 12:19] bozana commented on #3436
PRs:
https://github.com/pkp/pkp-lib/pull/3437
https://github.com/pkp/ojs/pull/1860
https://github.com/pkp/omp/pull/508

[2018-03-01 12:19] bozana commented on #3436
@asmecher, could you please take a look at the PRs above?

[2018-03-01 14:05] bozana commented on #3436
@jmacgreg, just to be sure: we wanted the recommendOnly editors to only recommend for the review decisions, but for all other workflow stages they would have normal buttons, right? -- For example the button "Send to Review" and "Send to Production" should be available also for the recommendOnly editors, correct?

[2018-03-01 14:17] jmacgreg commented on #3436
Hi @bozana I think that sounds fine!

[2018-03-01 16:07] forgive38 commented on #3385
Sorry to re open this issue, but I think it's not solved///

I think CSRF token is missing for query note delete request :
https://github.com/pkp/pkp-lib/blob/5180957c5408afa9ce9f65a00483ff27a26abcc1/templates/controllers/grid/queries/form/queryNoteForm.tpl#L17

Maybe just add csrfToken=$csrfToken here too works. I will try and make a PR.

[2018-03-01 16:40] asmecher commented on #3385
@forgive38, good spotting -- I thought we'd gotten the last of these. Merged https://github.com/pkp/pkp-lib/pull/3438 and cherry-picked to the `master` branch.

[2018-03-01 19:18] asmecher commented on #3435
How would we check for a misplaced files directory? Protecting a `files_dir` in the web root is a legit approach, especially for hosts that might not offer space outside the web space or might protect them from PHP access. We could suppress the warning if there's a `.htaccess`, but that would exclude `httpd.conf`-based protections, and the `.htaccess` might not be configured correctly. We could ma

[2018-03-01 19:18] #3416 closed

[2018-03-01 19:32] t4x0n commented on #3436
@bozana @jmacgreg for me, send to production is not a task for recommendOnly editors, because they will be able only for send recommendations, like recommend Accept o recommend Reject a submission... thus, send to production seems even more permissive than Accept so it sounds confusing to me...

[2018-03-01 19:36] asmecher commented on #3436
@bozana, as for the code, just a minor suggestion -- the same needs to be applied to the OMP PR as well.

[2018-03-01 20:07] jmacgreg opened #3439 "[OJS] Institutional Subscription creation form "domain" field requirements need minor tweaking"
This only happens if someone makes an error in filling out the Institutional Subscription form.

If an institutional subscription creation form is incorrectly submitted, for example if the IP addresses are poorly formatted and the user is returned to the form with an error telling them to fix them, the form subsequently requires that the Domain field be filled out, even if there are IP addresses i

[2018-03-01 21:52] asmecher commented on #3423
@NateWr, that was removed in pkp/pkp-lib#2163 (https://github.com/pkp/pkp-lib/commit/f1a8b6c37eb2ee4f2d2cdaaaae052155f972c48a#diff-02c922ab8e8457421100758ec2d8b856L82) -- do you remember that detail?

[2018-03-01 21:55] asmecher commented on #3281
The whole OJS installation would still need to be on hand, no? I'm not sure what the benefits of a phar archive would be here (having never worked with them before except as a casual user).

[2018-03-02 08:03] ajnyga commented on #3435
Hi,

For checking the directory you could maybe do a compare between
`realpath(Config::getVar('files', 'files_dir'))` and `realpath($_SERVER["DOCUMENT_ROOT"])`.
If you find the whole document_root string inside the given files_dir path, then it is a folder in the webroot: `if (stristr(realpath(Config::getVar('files', 'files_dir')), realpath($_SERVER["DOCUMENT_ROOT"])))`

But I did not think of usi

[2018-03-02 08:41] forgive38 opened #3440 "[OJS] Even if you check "Do not send email" for notification, you receive email."
Hi,

When you check "Do not send me an email for these types of notifications." in the user profile, you shouldn't receive email but you do.

We use ojs-stable-3_1_0

Thank you

[2018-03-02 11:14] marcbria commented on #1921
Sorry @bozana and @asmecher to anyone again with this but I clean the duplicates in review_rounds running @jmacgreg queries before migration, and the upgrade still complains about duplicated entries in the review_rounds table.

I enabled debug and this is how upgrade.php exits:

[code]

I double check this before migrate:
1. Set journal in maintenance mode.
2. Migrate from the original 2.4.5 DB fr

[2018-03-02 11:18] bozana commented on #1921
@marcbria, would it be possible for you to send me (bozana dot bokan at posteo dot net) the anonymized DB dump of your 2.4.x installation that you would like to migrate? -- I could then investigate...

[2018-03-02 11:23] marcbria commented on #1921
Sure. Thanks a lot.

[2018-03-02 12:29] tgc opened #3443 "Duplicate translation keys in en_US"
While developing a tool to do consistency checks on the danish translation I noticed that en_US locale files have several duplicated keys.
The tool is located here: https://github.com/tgc/ojstools
Running the tool with -u -l en_US parameters against a checkout of the master branch gives me this report:

`DUPLICATE: editor.notifyUsers.allUsers in ./locale/en_US/editor.xml`
`        <message key="ed

[2018-03-02 14:10] bozana commented on #1921
@marcbria, I found the problem here :-) It is a different one than that above: for some reason the revised_file_id and review_file_id were the same for the article 373. You can see it with this SQL query:
`SELECT * FROM articles WHERE revised_file_id = review_file_id`
I do not know how this could happen, maybe you can investigate that file with the id 452 -- is it an author revision file or a file

[2018-03-02 14:49] bozana commented on #1921
@marcbria, I took a look in the article_files table for that submission = 373 and it seems like there is no revision file there -- I think the revision files contain ...-ED in the file_name -- so maybe it is safe to set NULL for that field revised_file_id in the articles table...

[2018-03-02 14:56] bozana commented on #3351
It happen ones that revised_file_id is the same as review_file_id for an article: SELECT * FROM articles WHERE revised_file_id = review_file_id

[2018-03-02 14:58] marcbria commented on #1921
Thanks a LOOOT bozana. :-)

This is one of the oldest DB in our sevice, with more than 10 years old so lots of things happen.
With your indications I can follow the thread and fix the issue.

I owe you a beer... I hope to meet you in Heidelberg. :-D

[2018-03-02 15:02] bozana commented on #1921
Yes, the old ladies (OJS installations) need special attention and care! :blush:
I am looking forward to meeting you in Heidelberg! :tada: :clap: :raised_hands:  :blush:
And I am looking forward to having a beer with you there!  :blush:

[2018-03-02 15:27] forgive38 commented on #3423
Hi,
It could be great if this behavior could re-run in ojs-stable. One of our editors asks for that too.
Thank you

[2018-03-02 16:00] bozana commented on #3423
I think this changed when the review round status was introduced -- so that there are no notifications but the current review round status will always be displayed. Thus, for example, now there is the "New reviews have been submitted." when there is one or more unread reviews.
So maybe the question is also, why is the old "All reviews are in" needed i.e. why the current one "New reviews have been

[2018-03-02 16:15] ajnyga commented on #3423
If I understood correctly, the editor did not receive any notifications concerning the reviews. But I have to check.

[2018-03-02 16:17] bozana commented on #3423
Yes that could be -- I think there are no e-mail notifications since then -- so an e-mail notification is wished?

[2018-03-02 16:23] ajnyga commented on #3423
Yes, that was the original point here, but I realize I did not mention this properly in the first message. The editor thought that it takes a lot of time to go to OJS and check for the new reviews, compared to emails. It would be great to have an opt-out as well.

[2018-03-02 16:25] bozana commented on #3436
Hmmm... @t4x0n, I mean the button on the copyediting stage. Would you rather not provide that button for a recommendOnly editor?
I am also a little bit confused with all this roles and this recommendOnly option :-\
Theoretically you can create a new role with the permission level "Section Editor" + recommendOnly option, and chose that this role has only access to Submission and Review stage. Would

[2018-03-02 16:44] bozana commented on #3423
Hmmm.... If I understand it correctly from this code: https://github.com/pkp/pkp-lib/blob/ojs-3_1_0-1/classes/submission/reviewer/form/ReviewerReviewStep3Form.inc.php#L199-L212, there should be an e-mail notification also for the assigned editors, that a review has been done (`<message key="notification.type.reviewerComment">A reviewer has commented on "{$title}".</message>`).
Does this notificati

[2018-03-02 16:48] asmecher commented on #3443
Confirmed and fixed, thanks!

[2018-03-02 16:48] #3443 closed

[2018-03-02 17:33] asmecher commented on #3440
Merged and cherry-picked to `master` -- good spotting, @forgive38!

[2018-03-02 17:33] #3440 closed

[2018-03-02 18:05] mfelczak opened #3444 "Multilingual custom email template does not apply to email body"
In OJS 3.1.0 if a JE creates a custom email template in two languages (e.g. English and French), the custom email template appears in the email template select menu when e.g. assigning an Editor to a submission. However selecting the custom email template does not pre-populate the email body with the template text.

[2018-03-02 18:58] asmecher commented on #3429
Assigning to @NateWr. Strictly speaking this isn't a show-stopper for OJS 3.1.1 because the plugin will be distributed in the Plugin Gallery and can be released/tweaked afterwards.

[2018-03-02 18:59] asmecher commented on #3415
@NateWr, I think this is yours too?

[2018-03-02 19:02] asmecher commented on #3362
Assigning to you, @NateWr, to narrow down replicating this -- but I'm also happy to test, debug and fix, if you can send me a DB dump.

[2018-03-02 19:03] asmecher commented on #1692
Just a heads-up that I think this is still on your plate, @bozana.

[2018-03-02 19:14] t4x0n commented on #3436
sorry @bozana, I think I understand now... permissions levels solve my confusion!!  You are right!

[2018-03-02 20:01] bozana commented on #1692
:+1:  I know, I know... :-)

[2018-03-02 20:19] asmecher commented on #1692
Sorry for the pestermail :)

[2018-03-02 20:52] asmecher commented on #2336
Sorry, @ajnyga, just getting back to this and it looks like you've already resolved it yourself!

[2018-03-02 21:03] asmecher commented on #3412
Thanks, @t4x0n -- I took another look and found out this can still occur in the current code. Stay tuned for some patches and cleanup code.

[2018-03-02 21:05] #3412 closed

[2018-03-02 21:45] defstat commented on #520
@asmecher I covered the review (with some notes)

[2018-03-03 00:49] asmecher commented on #2428
I think that's expected behavior, @ajnyga -- if the token has expired by the time the user POSTs it, the request won't be accepted. A practical example: someone steals a CSRF token and then waits for an opportunity to use a social engineering hack to trick a user into submitting a "delete journal" request or something. If the token is old, the attack won't work.

[2018-03-03 02:14] asmecher commented on #2009
@crism, I see that there are some releases over at https://github.com/UIUCLibrary/omp-bootstrap3 -- excellent! Can I close this issue?

[2018-03-03 06:40] ajnyga commented on #2428
Hi @asmecher

This is what I originally suspected, but you did write earlier that "This is already the case, according to a quick test -- if the CSRF token is expired/incorrect, the user should get bounced back to the review page with a "form improperly submitted" error, but the review form contents should be preserved"

But as I noted above, after the "form improperly submitted" error occurs and

[2018-03-03 07:11] ajnyga opened #3446 "OJS Registering in multisite installations: "select all" option to journal roles"
We have had a request that would it be possible to get an email notification every time a journal in our whole installation publishes something.

This is of course possible, if you register as a reader to all the journals. But when you actually register, it is very unpleasant when you have to select the reader role from over 50 journals visible in the form.

So maybe a "select all" option for the

[2018-03-03 10:40] rcgillis opened #3447 "Task list shows too long"
Have encountered an issue when a user has too many tasks in their task queue, it does not provide them an option to mark as read (which would lessen the task list), rendering the task list essentially useless. It also doesn't appear to be showing the correct number of tasks in the queue. Contact me outside of Github issues and I can show you an example of where this is occurring.

[2018-03-03 13:08] ajnyga opened #3448 "[OJS] Submission listings only show title for selected locale"
Tagging @NateWr

OJS 3.1.0.1 Two languages active in a journal, primary language Finnish and secondary English. All boxes are ticked for both.

Editor adds a new submission and selects English as the submission language.
If Finnish UI is selected, the editor can not see the English title of the submission in the submission listings. By switching the UI to English, the title appears.

(In overall I

[2018-03-03 17:55] crism commented on #2009
@asmecher, no—no releases yet. It’s barely more than a fork of the OJS bootstrap. This issue is very much still open, sorry.

[2018-03-05 08:05] forgive38 commented on #3423
Yes, the notification  "reviewer has commented on "{$title}" works . But only by mail : not a task.
Before, if I remember, was a notification task with "All reviews are in and a decision is needed"
One editor asks me to have this notification, but maybe "reviewer has commented" is enough and it solves, in a certain sens, this question:
https://forum.pkp.sfu.ca/t/ojs-3-proposition-to-change-a-revie

[2018-03-05 08:17] forgive38 commented on #3447
Maybe you can change the number of items in lists in settings > website

[2018-03-05 09:19] rcgillis commented on #3447
Thanks, but no - I checked and there doesn't appear be an option for this.

[2018-03-05 09:44] marcbria commented on #1921
And they deserve it. ;-)