[2022-07-28 19:40] jonasraoni commented on #8081
@asmecher I've reviewed and moved the fixes related to duplicated keys here https://github.com/pkp/pkp-lib/issues/8119

[2022-07-29 00:18] asmecher commented on #6091
Renaming classes from `.inc.php` to `.php`:
[code]
Looking for missing `use` statements by class name:
[code]

[2022-07-29 15:10] asmecher commented on #8119
All merged, thanks!

[2022-07-29 15:10] #8119 closed

[2022-07-29 15:54] mrqorib commented on #7265
Hi @NateWr , is this new editorial decision workflow available in OJS 3.3.0-10? If not, is it possible to add this feature to a running OJS 3.3.0-10 that I currently use? Thank you.

[2022-07-29 15:59] asmecher commented on #7265
@mrqorib, no, this isn't possible to add to 3.3.0-10; too much development has happened since the 3.3.0 branch was forked from `main`. This workflow will be released in 3.4.0, which will likely be released in Q1 next year.

[2022-07-29 16:04] asmecher opened #8123 "PHP Fatal Error in OMP classes/observers/events/Usage.php"
**Describe the bug**
During the data build scripts, I see this recurring error message in the log:
[code]

It doesn't appear to break the builds, but does likely mean that stats aren't being recorded for some events.

**To Reproduce**
With a current OMP `main` checkout, run the data build scripts.

[2022-07-29 16:17] mrqorib commented on #7265
@asmecher Thank you for your quick reply. Is it possible to just add cc and bcc functionality to OJS 3.3.0-10? I tried the code from this forum https://forum.pkp.sfu.ca/t/add-bcc-field-to-mail-forms/58868/4 but it doesn't show any cc/bcc form when sending the email for submission acceptance/rejection.

[2022-07-29 18:32] asmecher commented on #7265
That feature is discussed/implemented in https://github.com/pkp/pkp-lib/issues/5717 and it wouldn't be easy to back-port to 3.3.0, unfortunately. A lot of work has gone into the `main` branch, resulting in the two being widely forked. Can I recommend asking questions like this on our support forum (https://forum.pkp.sfu.ca)? That'll help keep these issue discussions organized.

[2022-07-29 21:28] asmecher commented on #6091
PRs for renaming pages to .php:
- https://github.com/pkp/ojs/pull/3475
- https://github.com/pkp/pkp-lib/pull/8124

[2022-07-30 01:58] asmecher opened #8125 "PHP fatal error in OPS APP\observers\events\Usage"
**Describe the bug**
When building the test dataset with OPS `main`, I see the following error:
[code]
This doesn't appear to break the test builds, but does suggest that events are not getting recorded.

**To Reproduce**
Build the test dataset on OMP main.

[2022-07-30 02:11] ewhanson commented on #7518
Hey @NateWr, I've gotten your feedback worked in and got the tests passing. Could you have another look? [PRs linked above](https://github.com/pkp/pkp-lib/issues/7518#issuecomment-1164988628). Thanks!

[2022-07-31 06:02] touhidurabir commented on #2890
@NateWr I have added the new `BackFromXXXXXX` decision classed and associated modifications . Haven't removed the previous decision classes code yet as we need to first come to a conclusion about which patterns we finally decide to go with . Once we come to a final decision, I will do detailed clean up and remove all the dead codes . Please review it .

[2022-08-01 10:57] NateWr commented on #2890
Looks good. I've left a couple of comments but I think the approach looks good. Happy to look at a final version for review.

I noticed that some unrelated code has snuck into the PR (see PKPDoiHandler and MailablerHandler). I suspect his is because of the `.inc.php` renamed to `.php`. A rebase should sort it out...

[2022-08-01 11:40] NateWr commented on #7518
Looks good. I've left a few small comments. I haven't done a functional test but I think you've got a good handle on that and this will get tested well before 3.4, so happy to merge once the final comments are addressed.

[2022-08-01 12:58] NateWr commented on #7280
I've converted this to a [feature request](https://forum.pkp.sfu.ca/t/add-support-for-version-notes-or-a-summary-of-changes/74210) on the forum. Please add your thoughts and suggestions there.

[2022-08-01 12:58] #7280 closed

[2022-08-01 13:11] NateWr commented on #4860
I've converted this to a [feature request](https://forum.pkp.sfu.ca/t/support-different-version-types-such-accepted-manuscript-and-version-of-record/74211) on the forum. Please add any future comments there.

[2022-08-01 13:12] NateWr commented on #7354
I've converted this to a [feature request](https://forum.pkp.sfu.ca/t/support-different-version-types-such-accepted-manuscript-and-version-of-record/74211) on the forum. Please add any future comments there.

[2022-08-01 13:12] #7354 closed

[2022-08-01 13:16] NateWr commented on #2681
Closing this as outdated. @ctgraham feel free to reopen if you plan on finishing the work here. Otherwise, consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-01 13:16] #2681 closed

[2022-08-01 13:18] NateWr commented on #2688
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-01 13:18] #2688 closed

[2022-08-01 13:18] NateWr commented on #2817
Closing this as outdated. If you feel this is still a bug, please reopen with reproduction steps.

[2022-08-01 13:18] #2817 closed

[2022-08-01 13:27] NateWr commented on #3099
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-01 13:27] #3099 closed

[2022-08-01 13:29] NateWr commented on #3250
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-01 13:29] #3250 closed

[2022-08-02 07:41] ajnyga opened #8126 "OPS Browse Section gives 500 error, namespace does not match folder"
**Describe the bug**
SectionsHandler.php defines `namespace APP\pages\sections;`
https://github.com/pkp/ops/blob/main/pages/preprints/SectionsHandler.php#L17

This causes 500 error:
`PHP Fatal error:  Uncaught TypeError: get_class_methods(): Argument #1 ($object_or_class) must be an object or a valid class name, string given in /home/vagrant/htdocs/ops-master/lib/pkp/classes/core/PKPPageRouter.php

[2022-08-02 08:10] Vitaliy-1 opened #8127 "Allow embedding a footer to certain emails"
**Describe the problem you would like to solve**
A new discussion message is emailed to unsubscribed participants; it doesn't include the template as it just receives the content of the discussion. This and similar emails should include an unsubscribe link but tit can't be managed in a way as emails composed from a template.

**Describe the solution you'd like**
Enforce a certain message footer fo

[2022-08-02 08:42] NateWr commented on #8126
Thanks @ajnyga. The following PR should fix it:

https://github.com/pkp/ops/pull/319

[2022-08-02 08:48] NateWr commented on #3258
Closing this as wontfix. As we refactor our UI, these cases will reduce and then disappear. And the impact on the resulting HTML code is minimal.

[2022-08-02 08:48] #3258 closed

[2022-08-02 08:52] NateWr commented on #3264
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-02 08:52] #3264 closed

[2022-08-02 08:54] NateWr commented on #3281
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-02 08:54] #3281 closed

[2022-08-02 08:55] NateWr commented on #3294
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-02 08:55] #3294 closed

[2022-08-02 08:57] NateWr commented on #3307
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-02 08:57] #3307 closed

[2022-08-02 08:59] NateWr commented on #3328
Closing this as outdated. There should be a maximum of 4 tabs in this particular modal. If you can still reproduce the problem in 3.3, please provide reproduction steps and we can reopen it.

[2022-08-02 08:59] #3328 closed

[2022-08-02 09:01] NateWr commented on #3344
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-02 09:01] NateWr commented on #3345
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-02 09:01] #3345 closed

[2022-08-02 09:02] NateWr commented on #3306
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-02 09:02] #3306 closed

[2022-08-02 10:01] NateWr opened #8128 "Docblocks still use .inc.php in @file statements"
The docblock at the top of PHP files still refers to the `.inc.php` files after they were renamed to `.php`. Example:

[code]

These should be updated to refer to the correct file names.

@asmecher I suspect you can handle this easily with a clever command-line script, so assigning to you.

[2022-08-02 10:35] NateWr commented on #8126
Merged to `main`.

[2022-08-02 10:35] #8126 closed

[2022-08-02 10:37] NateWr commented on #8059
Thanks @asmecher for the `pkp.min.js` file. The tests are passing now. I've realized that I need to commit a new `pkp.min.js` file to OMP and OPS too, and these are probably slightly different.

When you get a chance, can you generate the `pkp.min.js` files for OMP/OPS based on the pkp-lib change? You can either pass those to me or just commit them directly and merge the OJS PRs. I can then forwar

[2022-08-02 11:37] Vitaliy-1 opened #8129 "Integrity constraint violation when removing a context"
**Describe the bug**
Unable to remove the journal due to fatal error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin dashboard -> hosted journals
2. Create a new journal
3. When created, go back to hosted journals, click `Remove` button in the journal's grid
4. See error

**What application are you using?**
 OJS main branch

[2022-08-02 11:48] Vitaliy-1 opened #8130 "Default email signature can't be created"
**Describe the bug**
Context's `emailSignature` property has a default value, see: https://github.com/pkp/pkp-lib/blob/1e395122fe482a89177864dcf24a6bb0599278f1/schemas/context.json#L262. It's composed of other variables: `contextUrl`, `contextName`, `mailingAddress`, `contactName` and `contactEmail`. During new context creation, some of them aren't yet available. This leads to the appearance of de

[2022-08-02 12:21] Vitaliy-1 commented on #8130
Can be changed to something like:
[code]

[2022-08-02 17:53] asmecher commented on #8129
Fixed, thanks! We're going to see more of these as we add foreign constraints -- it's a good thing, because we were previously leaving orphaned rows in cases like this.

[2022-08-02 17:53] #8129 closed

[2022-08-02 18:06] asmecher commented on #8128
Indeed!
[code]
I ran this for some of the files I renamed but not all. I'll try to catch the rest.

[2022-08-02 18:09] #8128 closed

[2022-08-02 19:09] asmecher commented on #8059
I'll send these to you on Mattermost shortly!

[2022-08-02 19:46] asmecher commented on #7901
Building on [my comment above](https://github.com/pkp/pkp-lib/issues/7901#issuecomment-1117674138), here are some queries to use:

1. Identify problem submissions (which have both tombstone entries and published articles):
[code]
2. If the records above seem to match the problematic OAI records (by submission ID), then you can remove them using one of the following:
   - MySQL/MariaDB:
[code]
   -

[2022-08-03 08:50] NateWr commented on #3353
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-03 08:50] #3353 closed

[2022-08-03 08:51] NateWr commented on #3367
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-03 08:51] #3367 closed

[2022-08-03 08:51] NateWr commented on #3368
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-03 08:51] #3368 closed

[2022-08-03 08:51] NateWr commented on #3369
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-03 08:51] #3369 closed

[2022-08-03 08:53] NateWr commented on #3431
Closing this as outdated. If you feel this is still impacting a recent release, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-03 08:53] #3431 closed

[2022-08-03 08:55] NateWr commented on #3432
@forgive38 we're cleaning up old issues. Are you still able to reproduce this on the most recent 3.3.x stable build? If so, please provide some reproduction steps in the following format:

[code]

I'll close this for now but will reopen if you can provide reproduction steps in a stable version.

[2022-08-03 08:55] #3432 closed

[2022-08-03 08:57] NateWr commented on #3435
Closing this as outdated. If you feel this is still important, please consider opening a [discussion](https://github.com/pkp/pkp-lib/discussions) on this topic.

[2022-08-03 08:57] #3435 closed

[2022-08-03 08:59] NateWr commented on #3449
@Vitaliy-1 I'm going to close this as outdated for now. But if you'd still like us to consider adding SASS support, can you create a [discussion](https://github.com/pkp/pkp-lib/discussions) for it?

[2022-08-03 08:59] #3449 closed

[2022-08-03 09:01] NateWr commented on #3456
Closing this as outdated. Please see further discussions about the in-app help in https://github.com/pkp/pkp-lib/issues/7089. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-03 09:01] #3456 closed

[2022-08-03 11:24] NateWr commented on #7831
Currently, our event listeners are named after the events they listen to. Some examples:

[code]

Listeners should be renamed to indicate _what they do_ instead of _the event they listen to_. Some examples:

[code]

One event can have several listeners. Naming listeners this way will reduce the temptation to put code for different actions in one listener. Here are some examples of names for listen

[2022-08-03 13:50] jonasraoni commented on #8040
@asmecher forgot to warn that I've already ported the updates to OPS/OMP.

[2022-08-03 14:38] NateWr opened #8131 "CC and BCC not working in Mailable"
**Describe the bug**
Adding CC or BCC recipients to a mailable with `$mailable->cc(...)` and `$mailable->bcc(...)` doesn't work. Although the recipients appear in the `Mailable` class, the email that is sent doesn't include headers with these recipients.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as editor.
1. Go to any submission in the submission stage
2. Click on Send for Revie

[2022-08-03 15:00] Vitaliy-1 commented on #8131
`PKP\mail\traits\Recipient::recipients()` may overwrite cc and bcc on the line:
[code]

[2022-08-03 15:53] jonasraoni commented on #8040
I'll wait for your answer here: https://github.com/pkp/ops/pull/307#pullrequestreview-1060447872, then I can update/merge 😁

[2022-08-03 16:18] agmarrugo commented on #4695
Does anyone know if this feature will make it to OJS at some time in a future release? I know of many OJS journals placing the "article number" on the "pages" field, which Google Scholar then indexes erroneously as the same value in "citation_firstpage" and "citation_lastpage".

[2022-08-04 08:43] NateWr commented on #3472
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-04 08:43] #3472 closed

[2022-08-04 08:48] NateWr commented on #3490
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-04 08:48] #3490 closed

[2022-08-04 08:50] NateWr commented on #3501
Closing this as outdated. If you are interested in this feature, please vote on the [proposal on the forum](https://forum.pkp.sfu.ca/t/automatic-certificate-for-reviewers-and-authors/74138) and add your requirements there.

[2022-08-04 08:50] #3501 closed

[2022-08-04 08:51] NateWr commented on #3534
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-04 08:52] NateWr commented on #3539
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-04 08:52] #3539 closed

[2022-08-04 08:53] NateWr commented on #3551
Closing this in favor of https://github.com/pkp/pkp-lib/issues/4172.

[2022-08-04 08:53] #3551 closed

[2022-08-04 08:57] NateWr commented on #3602
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-04 08:57] #3602 closed

[2022-08-04 08:59] NateWr commented on #3624
Is this still a requirement or are people satisfying their requirements through a plugin?

[2022-08-04 09:00] NateWr commented on #3635
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-04 09:00] #3635 closed

[2022-08-04 09:01] NateWr commented on #3639
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-04 09:01] #3639 closed

[2022-08-04 09:02] NateWr commented on #3658
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-04 09:02] #3658 closed

[2022-08-04 09:41] touhidurabir commented on #7105
@asmecher please review the PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7105 Job process via cron and job command enhancement](https://github.com/pkp/pkp-lib/pull/8133)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7105 Job processing via schedule task](https://github.com/pkp/ojs/pull/3476)

I dont see this as the completed one yet but a good starting point for more detail

[2022-08-04 09:43] NateWr commented on #8131
No that's not it. I did a test with a mailable without the `Recipient` trait, using the `->to()` directly, and still had the same problem.

[2022-08-04 09:55] touhidurabir commented on #8022
A PR has been made which includes solution for this issue , [check it here](https://github.com/pkp/pkp-lib/issues/7105#issuecomment-1205015287).

Indeed that is one of the core problem and the cause of it was following calls
[code]

so patch in the `PKPRequest::getDispatcher` added to address that issue in the [PR](https://github.com/pkp/pkp-lib/pull/8133/files#diff-aba3ab700056f12927bbd81ff51e443

[2022-08-04 11:35] GrazingScientist commented on #3624
@NateWr , which plugins are there to a) make statistics opt-in and b) set cookies?

[2022-08-04 12:41] NateWr commented on #8059
All merged to `stable-3_3_0` and the appropriate commits cherry-picked forward to `main`. Thanks @asmecher for the assist!

[2022-08-04 14:48] Vitaliy-1 commented on #8022
I was able to debug the problems I've encountered with running jobs from scheduled tasks and I remember that one of them was indeed related to the dispatcher.
I recall Nate used the approach to set needed locale globally during job execution; @NateWr, is this related to that, do you remember more details?

[2022-08-04 16:01] ajnyga commented on #7495
This is an additional comment that came up in a working group at the Helsinki Sprint:

Incomplete submissions currently show to the Editor within the All Active list. This causes unnecessary ‘noise’ within the submission list, where the editor is presented with article data that has not actually been submitted to the journal. This adds unnecessary content to the submission list and makes it harder

[2022-08-05 00:00] asmecher commented on #8007
Merged, thanks, @jonasraoni. Tagging @touhidurabir -- this might add a few more conflicting lines on #7105 due to reformatting.

[2022-08-05 00:00] #8007 closed

[2022-08-05 00:34] asmecher commented on #4076
With apologies for the extreme delay in getting to this -- it's fixed in the attached commit.

[2022-08-05 00:34] #4076 closed

[2022-08-05 10:31] Vitaliy-1 commented on #8125
I see the same error in OJS too

[2022-08-05 13:47] touhidurabir commented on #8032
@NateWr @Vitaliy-1 I could not find the job `PKP\Jobs\Notifications\StatisticsReportMail` in the `main` branch(probably removed) but I tried to reproduce it in the `PKP\Jobs\Email\EditorialReminder` . the impact follows as
1. if the invalid `use` statement has no impact on the job execution, the job runs just as fine .
2. if the invalid `use` statement has impact on the job class that is that `use

[2022-08-05 13:51] touhidurabir commented on #8044
Do we want to have the options to run multiple workers or force it just one single worker ? Also should we provide a cool down time after a specific numbers of job executed, for example like each 100 jobs , a 5/10 seconds cool down time and that configuration can go into the `config` file ?

[2022-08-05 16:23] Vitaliy-1 commented on #8032
I haven't merged it yet. Still working on OMP and OPS

[2022-08-05 16:54] NamitaBi commented on #7643
Guys fix it asap. I am unable to update because of it.

[2022-08-05 16:59] NamitaBi commented on #7643
Which version of the 3.2.1?
3.2.1-1,
3.2.1-2,
3.2.1-3,
3.2.1-4
or the 3.2.1 itself?

[2022-08-05 17:04] jnugent commented on #7643
@NamitaBi we always use the tip of the stable-3_2_1 Github branch to make sure we have all commits.  There have been a number of improvements to the upgrade process since 3.2.1-4.

[2022-08-05 17:09] NamitaBi commented on #7643
You are saying in 3.2.1-4 this error doesn't happen and we wold be able to upgrade from 3.0.2 to 3.2.1-4. Right!?

[2022-08-05 17:12] jnugent commented on #7643
@NamitaBi I'm saying that when I upgraded from 3.0.2 to stable-3_2_1, it worked.  You may have other issues that prevent the upgrade from working, but feel free to try that path way on a test installation and see.

[2022-08-05 17:13] jnugent commented on #7643
@NamitaBi also please understand that if you use the download package for 3.2.1-4, that's not the same thing as stable-3_2_1.  It's important that you build a stable-3_2_1 installation using Git if you want to try this.

[2022-08-05 17:31] NamitaBi commented on #7643
@jnugent Got it. Trying in test environment and will post back here if it works for me too or not. Thanks for the quick replies.

[2022-08-05 18:36] asmecher commented on #8044
For the moment, let's keep it relatively simple. I think just a single worker is enough to handle the load on queues for the foreseeable future. I have no preference for cool-down defaults etc; I'll defer to your experience, knowing that the demands on the queuing system are currently light but are likely to grow!

[2022-08-05 20:32] asmecher commented on #8059
@NateWr, this appears to have broken testing on the `main` branch -- the discussion test is failing. Could you have a look?

[2022-08-05 21:05] asmecher commented on #5193
Merged to `main`.

[2022-08-05 21:05] #5193 closed

[2022-08-06 07:29] #8040 closed

[2022-08-07 11:33] touhidurabir commented on #2890
@NateWr dead codes and old decisions classes, email templates and unused locales clean up done . Please review it .

[2022-08-07 14:23] Ge2C opened #8137 "XML import fails with error: Submission file added to review round that does not exist"
**What application are you using?**
 OJS v3.3.0.11 booh export and inport

**Describe the bug**
Native XML Import/export Failed, Error occur at importing issue, when clicking import button

**To Reproduce**
Steps to reproduce the behavior:
1. Export Native XML Issue
2. Open Tools > Native XML Plugin
3. Click Upload FIle Select file and wailting until uploaded
4. Click Import
5. Show blank result,

[2022-08-07 18:18] ajnyga commented on #5932
@NateWr
The tests on these are still failing, there is a recent namespacing change that causes an error in the beginning. Probably will be fixed when Alec gets back.

But maybe you could take a look at these changes already now. I will rebase and restart the changes later this week.

lib https://github.com/pkp/pkp-lib/pull/7327
ojs https://github.com/pkp/ojs/pull/3123
ops https://github.com/pkp/op

[2022-08-08 00:40] stuartayeates commented on #7901
I loaded the SQL into DEV and run the code (see below). If I understand correctly, this is what success is meant to look like?

I also checked every item in the issue of the journal (all of the items with issues were in a single issue of a single journal) and the HTML page, associated PDF and DOI link all worked, with no obviously-related issues in the httpd logs or in the display of content.

I'm

[2022-08-08 09:26] NateWr commented on #8022
Sorry I can't remember exactly. But if you want to test localized data, probably inside of the email variable classes is the best place to do it, since they rely on the request and sometimes the dispatcher.

@touhidurabir when a variable is passed into a mailable, like `new MailablesEditorialReminder($context)`, this is converted to a related email variable, such as `ContextEmailVariable`, which p

[2022-08-08 09:34] NateWr commented on #8044
Can you say a little bit more about why we have these options? It was my understanding that the Laravel system doesn't care how many workers you have running against it and that we shouldn't need to worry about things like cooldowns.

If we can get away with leaving these things to Laravel and not having any options, configuration or controlling code ourselves, we should try to do that.

[2022-08-08 10:25] NateWr commented on #8059
I've fixed the error reported in the test log. However, the `main` branch is currently failing on the OAI tests and I'm not able to reproduce that test failure. I'll check back on this in a few days, but let me know if the discussions tests are still failing after the OAI tests have been fixed.

[2022-08-08 10:32] touhidurabir commented on #8044
The cool down time is a good configuration when multiple workers are running, but for a single worker, it's does not have that much impact as each worker process jobs one by one .

Considering an environment that has multiple workers running and also have priority based queues set with dedicated workers , it can have massive impact when both the normal queues and priority queues swarmed with jobs.

[2022-08-08 10:57] NateWr opened #8139 "OAI tests failing in the main branch"
**Describe the bug**
The OAI tests are failing in the `main` branch. See [example test failure](https://app.travis-ci.com/github/pkp/ojs/jobs/579031136). No error log is provided but I was able to track this down to a couple problems:

1. The test dataset still seems to produce a scheduled task for Medra, even though I can't find any references to it in `main` branch.
2. There seem to be problems

[2022-08-08 11:00] NateWr commented on #8044
Ok that sounds good. My main concern is to add as little code on top of Laravel as possible. :+1:

[2022-08-08 11:07] NateWr commented on #8137
Thanks for your bug report @Ge2C, with the reproduction steps and error message. This error will be related to your specific data set, so we won't be able to reproduce it with our datasets.

Can you attach the `.xml` file that is produced after step 1? You can anonymize the text data within it, for example by changing the names of submissions, authors and files.

[2022-08-08 11:10] NateWr commented on #3678
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-08 11:10] #3678 closed

[2022-08-08 11:11] NateWr commented on #3738
Closing this as outdated. If you feel this is still important, please consider making one or several proposal(s) in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

You're also welcome to open an issue if you are actively working on some part of this.

[2022-08-08 11:11] #3738 closed

[2022-08-08 11:12] NateWr commented on #3743
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-08 11:12] #3743 closed

[2022-08-08 11:14] NateWr commented on #3745
Closing this as outdated.

[2022-08-08 11:14] #3745 closed

[2022-08-08 11:15] NateWr commented on #3774
Closing this in favor of https://github.com/pkp/pkp-lib/issues/7318, where the custom report generator is being rebuilt to use the new statistics API.

[2022-08-08 11:15] #3774 closed

[2022-08-08 11:16] NateWr commented on #3782
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-08 11:16] #3782 closed

[2022-08-08 11:18] NateWr commented on #3791
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-08 11:18] #3791 closed

[2022-08-08 11:19] NateWr commented on #3875
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-08 11:19] #3875 closed

[2022-08-08 11:20] NateWr commented on #3891
Closing this as outdated. We're no longer providing fixes for OJS 2-3 upgrades unless they fix critical bugs.

[2022-08-08 11:20] #3891 closed

[2022-08-08 11:22] NateWr commented on #3911
This is obsolete. Files forwarded to a new stage are now copied so that the file creation is logged.

[2022-08-08 11:22] #3911 closed

[2022-08-08 11:22] NateWr commented on #3932
Closing this as outdated. If you want to keep it flagged as a bug, I can reopen and assign it.

[2022-08-08 11:22] #3932 closed

[2022-08-08 11:23] #3940 closed

[2022-08-08 11:24] NateWr commented on #3950
Looks like a PR was merged related to this. Closing.

[2022-08-08 11:24] #3950 closed

[2022-08-08 11:24] NateWr commented on #3955
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-08 11:24] #3955 closed

[2022-08-08 11:25] NateWr commented on #3956
Closing this as outdated. If you need help with a similar problem, please post in our [community support forum](https://forum.pkp.sfu.ca/c/questions/5).

[2022-08-08 11:25] #3956 closed

[2022-08-08 12:00] Ge2C commented on #8137
Thank for the response @NateWr, this is the sample file that I try to import, it export an article that I take from my journal, you can download it from [here](https://gtwo.my.id/native-20220808-181748-articles-1.xml), it't not an entire issue like I reported but it results in the same error message, but if you need entire issue just tell me.

[2022-08-08 12:32] NateWr commented on #8137
Thanks @Ge2C. I've confirmed the bug and updated the issue with the appropriate labels/milestones. Someone else will investigate when we have the time.

[2022-08-08 14:29] NateWr commented on #2890
That's great, @touhidurabir! I did a final round of testing on the decisions and everything works great. I left some comments on the PRs, but they are just changes to the language that we're using in messages/emails.

I also prepared a couple PRs with some suggestions for reducing the number of traits that are in play. I feel it's just a little bit too complex with 9 traits, some of which depend o

[2022-08-08 23:56] ewhanson commented on #7518
Hey @NateWr, thanks for the feedback. These should be ready to go now. The tests are all failing on the DC OAI tests, but I've run all the rewritten tests locally. Thanks!

[2022-08-09 02:15] israelcefrin commented on #5194
Hi @NateWr, the Travis build test has failed but the code seems correct to merge. Please, let me know if you need any modifications from my end to the PRs open.

[2022-08-09 08:45] #5212 closed

[2022-08-09 09:03] NateWr commented on #5194
@israelcefrin can you add a comment with a link to your PRs? Like this:

[code]

[2022-08-09 09:19] NateWr commented on #3962
This no longer appears to be the case. The first example, which is now running 3.3.x, shows two distinct DC metadata entries:

[code]

[2022-08-09 09:19] #3962 closed

[2022-08-09 09:20] NateWr commented on #3966
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-09 09:20] #3966 closed

[2022-08-09 09:21] NateWr commented on #3975
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-09 09:21] #3975 closed

[2022-08-09 09:21] NateWr commented on #3976
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-09 09:21] #3976 closed

[2022-08-09 09:22] NateWr commented on #3977
This is implemented as part of #7265.

[2022-08-09 09:22] #3977 closed

[2022-08-09 09:22] NateWr commented on #3986
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-09 09:22] #3986 closed

[2022-08-09 09:24] NateWr commented on #3990
It seems like this, or something similar, was introduced in #3423. If you feel that something is still missing, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-09 09:24] #3990 closed

[2022-08-09 09:29] NateWr commented on #4000
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-09 09:29] #4000 closed

[2022-08-09 09:35] NateWr commented on #4023
Closing this as outdated. If you can reproduce this in a more recent version, please provide reproduction steps in a comment below.

[2022-08-09 09:35] #4023 closed

[2022-08-09 09:36] NateWr commented on #4031
Closing this in favor of https://github.com/pkp/pkp-lib/issues/7062.

[2022-08-09 09:36] #4031 closed

[2022-08-09 09:37] NateWr commented on #4035
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-09 09:37] #4035 closed

[2022-08-09 09:39] NateWr commented on #4038
I think we're well on our way to addressing this with Bozana's stats work for 3.4. The usage stats plugin is going away entirely and it's being integrated into core. If there is anything remaining after that work is completed, please file a new issue.

[2022-08-09 09:39] #4038 closed

[2022-08-09 09:40] NateWr commented on #4041
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-09 09:40] #4041 closed

[2022-08-09 09:41] NateWr commented on #4058
Closing this in favor of https://github.com/pkp/pkp-lib/issues/4976.

[2022-08-09 09:41] #4058 closed

[2022-08-09 09:41] NateWr commented on #4064
Closing this as outdated.

[2022-08-09 09:41] #4064 closed

[2022-08-09 10:09] NateWr commented on #8139
I have temporarily skipped the OAI tests so that we can continue to run the other tests and merge until this is fixed. To un-skip, revert this commit:

https://github.com/pkp/pkp-lib/commit/07c3c093a7f518c6b4f455ed54b296bc382b489f

[2022-08-09 10:15] NateWr commented on #7518
Great, @ewhanson. I've merged those PRs now. I also made a couple of commits you might want to be aware of: https://github.com/pkp/ui-library/commit/eb5f5478f6eb9d2a8dacf8194b5697676ed17fb2 and https://github.com/pkp/pkp-lib/commit/e36e72df21bdc1d7048b0267beb6836b08bdaf0a.

Finally, I have temporarily skipped the OAI tests in the `main` branch, so that we can make sure the tests are passing alrigh

[2022-08-09 10:16] jonasraoni commented on #8139
I could fix yesterday, so I'll push the PRs soon, basically the plugin isn't being loaded.

[2022-08-09 11:09] NateWr opened #8141 "Discussions broken in the main branch"
**Describe the bug**
Discussions can not be created, notes can not be added, and the UI does not updated after save actions are taken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any submission.
2. Click on Add Discussion
3. Open the browser's dev tools and look at the network panel to see XHR requests.
4. Add a discussion subject and message and assign two or more participants, in

[2022-08-09 11:11] NateWr commented on #8059
It seems like discussions are _very_ broken in the `main` branch right now and it's not related to this issue. I've filed that at https://github.com/pkp/pkp-lib/issues/8141 and will close this as fixed.

[2022-08-09 11:11] #8059 closed

[2022-08-09 11:14] NateWr commented on #8141
I have temporarily skipped the discussions tests until this is fixed. To enable them again, revert https://github.com/pkp/ojs/commit/af7a6a9f8865a7e0acf7e4b65dc2e5b0763e2cc2.

[2022-08-09 11:17] defstat commented on #8073
@asmecher

**New PRs**

**Branch `main`**
[OJS]: pkp/ojs#3481
[pkp-lib]: #8142

[2022-08-09 11:22] defstat opened #8143 "SubmissionFile's corresponding File not deleted when a new Note process is cancelled"
**Describe the bug**
When the user tries to add a reply to a discussion, including the uploading of a new file to the reply, and then the user cancels the process, the newly created `SubmissionFile` and the corresponding `File` are not deleted along with the newly created `Note` entry.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Submissions"
2. Go to a Submission
3. Go to "Workflo

[2022-08-09 11:31] NateWr commented on #8143
Thanks @defstat. See also https://github.com/pkp/pkp-lib/issues/8141.

[2022-08-09 11:42] defstat commented on #8143
@NateWr I have a fix for that [here](https://github.com/pkp/pkp-lib/pull/8142/files#diff-ae782e097998f79b94c79821bb45b913548b00f7b7f1542811cca70ec206a856L16)

[2022-08-09 12:26] elton557 opened #8144 "Problem update OJS 2.4.5 to version 3.2.1.4"
I'm having trouble updating my ojs which is on version 2.4.5 and I want to go to 3.2.1-4, I get the error below:

`
ERROR: Reviewer files with ID 17396 from review assignment 5569 could not be found in the database table submission_files
ERROR: Reviewer files with ID 23841 from review assignment 7261 could not be found in the database table submission_files
ERROR: Reviewer files with ID 25150 from

[2022-08-09 12:41] jonasraoni commented on #8139
Here goes the PRs, the OPS one passed through the tests, I just rebased to grab the last updates... The others I'm not sure, let's see if there are more stones on the way 😁

PRs
- https://github.com/pkp/pkp-lib/pull/8140
- https://github.com/pkp/ops/pull/322
- https://github.com/pkp/omp/pull/1168
- https://github.com/pkp/ojs/pull/3482

[2022-08-09 13:01] NateWr commented on #7518
DOI.spec.js passed in OJS and OPS. Still having test issues in OMP so it hasn't run, but happy to close this.

[2022-08-09 13:01] #7518 closed

[2022-08-09 13:39] Vitaliy-1 opened #8145 "OPS: add support for canAuthorPublish variable"
**Describe the bug**
`SubmissionSubmitStep4Form` form was removed from the application level. It was responsible for email sending and in OPS it used additional variable `canAuthorPublish`. Consider re-adding it:

[code]

**What application are you using?**
 OPS main branch

[2022-08-09 13:42] defstat opened #8146 "Class "PKP\plugins\generic\usageEvent\Config" not found"
**Describe the bug**
When trying to access a Journal, `Class "PKP\plugins\generic\usageEvent\Config" not found` error is produced

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. In an installation with more than one Journals, try to click on the name of one of them
2. See error

**What application are you using?**
 OJS main branch

**Additional information**
PHP 8.0

[2022-08-09 13:46] defstat commented on #8146
@asmecher @NateWr

**PR**

**Branch `main`**
[pkp-lib]: #8147

[2022-08-09 14:12] NateWr commented on #8144
Hi @elton557, we're no longer handling general support enquiries here on GitHub. Please use our [community support forum](https://forum.pkp.sfu.ca/c/questions/5) to ask for help with upgrades from OJS 2.

[2022-08-09 14:12] #8144 closed

[2022-08-09 14:14] Vitaliy-1 commented on #7286
PRs
OJS: https://github.com/pkp/ojs/pull/3469
OMP: https://github.com/pkp/omp/pull/1167
OPS: https://github.com/pkp/ops/pull/323
pkp-lib: https://github.com/pkp/pkp-lib/pull/8116

[2022-08-09 18:00] israelcefrin commented on #5194
Sorry!! Here it goes. The PRs :
https://github.com/pkp/pkp-lib/pull/8136  - Login, Lost Password and register forms
https://github.com/pkp/ojs/pull/3480 - Search form

[2022-08-10 02:25] ewhanson commented on #8027
Hey @NateWr, I've addressed the general comments, and it's ready for a functional review. Thanks.

PRs:

- `pkp-lib`: #8110
- `ui-library`: pkp/ui-library#214
- `ops`: pkp/ops#314

[2022-08-10 02:57] israelcefrin commented on #5195
@NateWr I was reviewing the code and neither homepage nor current issue page needs a link to the issue since they are already showing the list of articles. However, I think we could add a link to the list of articles on the same page.

The code would turn from this :
`<a class="cover" href="https://publicknowledgeproject.org/index.php/publicknowledge/issue/view/2">`

To this:
`<a class="cover" hre

[2022-08-10 05:34] touhidurabir commented on #2890
@NateWr I have merged all three of your PRs . there was few bug lest there so I have fixed those and pushed the changes . please review it .

[2022-08-10 06:43] mooselybased commented on #7920
@asmecher @touhidurabir
Sorry to drag you back in, but this issue persists for us in both 3.3.0.10 and 3.3.0.11. After any submission I make, OMP does not retain the information that the submission was assigned to a series. Again, I can reassign the series later on, but series editors are not notified upon first submission.

[2022-08-10 06:47] touhidurabir commented on #7920
@mooselybased I will take a look at this .

[2022-08-10 06:55] touhidurabir commented on #8043
The PR made for the pkp/pkp-lib#7105 (check details at https://github.com/pkp/pkp-lib/issues/7105#issuecomment-1205015287) implement this feature . The mentioned PR handle queue job through cron and schedule task and continue process jobs one by one until there is no job left .

 we are dispatching jobs via laravel workers where a default memory for 128M is set . But we can allow that to be config

[2022-08-10 08:03] NateWr commented on #5195
I don't think this will improve things. It doesn't seem very intuitive that clicking on the issue cover image will take me down the page to look at articles. With an anchor link, the screen will skip down the page, which can be jarring.

I don't think the articles are very far away, so I'd say let the user scroll. It will be just as quick and less confusing.

[2022-08-10 09:02] bozana commented on #8125
PR: https://github.com/pkp/ops/pull/324

[2022-08-10 09:17] NateWr commented on #8043
I think that when running a daemon process we don't need to worry about time and memory. My understanding is that the daemon is assigned a certain amount of memory and runs one job at a time, so time-outs are less of a problem.

The proposal to monitor time/memory is really for the situation where we are running jobs from the shutdown function. Those are the cases where we have two big problems:

[2022-08-10 09:17] bozana commented on #8123
PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/8149
omp: https://github.com/pkp/omp/pull/1169

[2022-08-10 10:01] NateWr commented on #8027
Thanks @ewhanson! I got hit by the modal thing again. :confused: Here's a PR that addresses that and the `:read-only` issue:

https://github.com/ewhanson/ui-library/pull/1

Otherwise it's looking good. But I did run into a problem with manually editing DOIs for preprint versions. It refused to safe one of the DOIs claiming a DOI suffix clash.

**Steps to Reproduce**:
1. Go to preprint with 2 versi

[2022-08-10 11:09] NateWr opened #8150 "OMP missing REVIEW_REQUEST_SUBSEQUENT email template"
**Describe the bug**
The `REVIEW_REQUEST_SUBSEQUENT` email template is included in OJS and used in `ReviewerForm`. However, it is not in OMP's list of default email templates to be installed.

https://github.com/pkp/omp/blob/main/registry/emailTemplates.xml

@Vitaliy-1 not sure if you've already fixed this but maybe you can roll it into your other PR.

**What application are you using?**
`main` br

[2022-08-10 11:19] #8125 closed

[2022-08-10 11:19] #8123 closed

[2022-08-10 11:23] NateWr commented on #2890
Great, @touhidurabir! It looks like we're just about ready for merge. I was able to get the editorial decisions to reload when reviewer details are changed. I also made a couple more minor changes to the language of emails, and moved some shared decision constants into pkp-lib:

https://github.com/touhidurabir/pkp-lib/pull/2
https://github.com/touhidurabir/ojs/pull/2
https://github.com/touhidurabi

[2022-08-10 12:17] touhidurabir commented on #2890
@NateWr All PRs have been merged and I also run some local test, no issue . Now if the tests passes properly , I think we are good to merge it .

[2022-08-10 13:21] israelcefrin commented on #5195
Given that the file `issue_toc.tpl` is used on requested pages: index and issue, do you think we can remove the link from the cover image on both?
I was testing a conditional for checking if it was "index". but at end of the day, the "issue" page doesn't need a link to itself too.

[2022-08-10 13:45] NateWr commented on #1813
Thanks @ajnyga, that's a really helpful summary. I agree with everything you posted. More comments:

Do you have something in mind to determine this? I can only think of checking the activity log for a `SubmissionEventLogEntry::SUBMISSION_LOG_METADATA_PUBLISH` entry. We should probably back this up with a check of the submission's status, which will be published if any publication is published.

W

[2022-08-10 13:46] NateWr commented on #5195
Yes, I think a link doesn't make sense on either page, so it can be removed without any conditions.

[2022-08-10 13:50] NateWr commented on #5194
Thanks @israelcefrin! I've merged the pkp-lib one and cherry-picked the commit for OJS because of a merge conflict.

[2022-08-10 14:07] NateWr commented on #8141
Thanks @defstat. That looks like it fixed it up. I've pulled your commits in and restored the discussion tests. I'll wait and see if the tests are fixed now.

PRs:
https://github.com/pkp/pkp-lib/pull/8152
https://github.com/pkp/ojs/pull/3484

[2022-08-10 14:12] NateWr opened #8153 "Can't add upload a submission file through the file upload wizard"
**Describe the bug**
When I try to upload a submission file in the editorial workflow, the Upload File button doesn't work.

![upload-file](https://user-images.githubusercontent.com/2306629/183922758-c48fe684-1dc8-45dc-8456-4609d2987597.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any submission in the Submission stage.
2. Find the Submission Files panel and click the Upload Fi

[2022-08-10 15:24] Vitaliy-1 commented on #8131
According to my tests on the branch with the completed refactoring of emails, `cc` is reflected in the mail log as it should. As for `bcc`, I suspect Laravel simply doesn't include it in the log. I traced that if using Sendmail, it receives that data.

[2022-08-10 15:26] Vitaliy-1 commented on #8131
I'll do the final test once this issue is closed: https://github.com/pkp/pkp-lib/issues/7286; I believe it should resolve the problem

[2022-08-11 09:26] Vitaliy-1 opened #8155 "Allow Mailables to use custom email templates through API"
Mailable API was implemented as per https://github.com/pkp/pkp-lib/issues/7706 but Mailables are still using only default email template, e.g., consider `ReviewRemind`:
[code]
to retrieve the template to be shown  during `ReviewRemindForm` initialization, `ReviewRemind::getEmailTemplateKey` is used, which just returns the default template, see: https://github.com/pkp/pkp-lib/blob/34ef99e26cb2d6c7f

[2022-08-11 10:04] NateWr commented on #8155
The `ReviewRemind` mailable doesn't yet support multiple templates. I'm going to close this for now but I plan to sort this out when we refactor the email template management UI.

[2022-08-11 10:04] #8155 closed

[2022-08-11 10:15] NateWr commented on #5716
The following are some preliminary mockups of how the new email management UI will work.

# Manage emails
This looks similar to the existing email templates UI, except it only lists email events. For example, a single email is shown for "Submission Accepted", but the editor will be able to assign more than one email template to use for that event.

![Manage Emails](https://user-images.githubuserco

[2022-08-11 10:53] NateWr commented on #7286
Thanks @Vitaliy-1. All merged. What a big milestone on this marathon refactor! :tada:

[2022-08-11 10:53] #7286 closed

[2022-08-11 11:02] luizbgomide commented on #3022
+1 from a multi-journal admin

[2022-08-11 11:25] NateWr commented on #8141
All merged to `main`. Thanks again, @defstat!

[2022-08-11 11:25] #8141 closed

[2022-08-11 12:10] israelcefrin commented on #5195
PR:
https://github.com/pkp/ojs/pull/3485

[2022-08-11 13:31] NateWr commented on #5932
Thanks @ajnyga. I just did a quick pass and left a few comments about overall structure. If possible, I want to consolidate as much code in pkp-lib as possible.

[2022-08-11 13:51] NateWr commented on #4065
Closing this as outdated. If you can reproduce this in the latest stable branch, please provide reproduction steps and we'll re-evaluate.

[2022-08-11 13:51] #4065 closed

[2022-08-11 13:52] NateWr commented on #4066
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-11 14:31] asmecher commented on #8139
@jonasraoni, it looks like you've taken this on -- can you let me know when it's ready for review?

[2022-08-11 14:34] jonasraoni commented on #8139
Ok! At this moment I'm just using the `omp` branch to debug a flaky cypress test, looks like it's ok, I'll restart the build a couple of times to confirm

[2022-08-11 14:39] asmecher commented on #8139
OK. It looks like there's quite a bit of code rewriting in the PRs -- besides the missing [class alias](https://github.com/pkp/ops/pull/322/files#diff-8ff0043158f5efe36590f2effb57cdc3bd69ed71ac1a67e75b31cb58b70a342eR23), what was required to fix the initial issue @NateWr reported?

[2022-08-11 14:52] asmecher commented on #8073
Thanks, @defstat! I added a couple of comments.

[2022-08-11 14:55] asmecher commented on #8146
Merged, thanks!

[2022-08-11 14:55] #8146 closed

[2022-08-11 15:46] jonasraoni commented on #8139
Together with the `class_alias()`, this piece of code is needed at `pkp-lib` to also look for files without the `.inc`: https://github.com/pkp/pkp-lib/pull/8140/files#diff-ae633b551c0c70e7b0520a15de4747ea83d8bf0a1bb14f0930df73d1d4733a39R259
Other alternatives would be to include an `index.php` or rename the class.

[2022-08-11 17:21] jonasraoni commented on #8139
@asmecher I've reset the OMP build around 5x and didn't flag random failures, so perhaps the flaky test is fixed 😅
So feel free to review now.

Another method that I fixed (just redirected to the standard "plugin loader") was this one: https://github.com/pkp/pkp-lib/pull/8140/files#diff-ae633b551c0c70e7b0520a15de4747ea83d8bf0a1bb14f0930df73d1d4733a39R145

[2022-08-11 18:15] asmecher commented on #8139
@jonasraoni, there are a ton of changes here that aren't related to the OAI test failure. It's hard to review and would be easy to let an unrelated (breaking) change slip in accidentally. Could you break this up into separate PRs/issues?

[2022-08-11 18:23] jonasraoni commented on #8139
Ok!

[2022-08-11 19:16] asmecher opened #8157 "Extend all setting_value columns in settings table to mediumText"
See https://forum.pkp.sfu.ca/t/change-table-publication-settings-setting-value-datatype-from-text-to-mediumtext/73916 for details. Currently these fields are being cut off at 64k characters.

3rd party PRs:
- https://github.com/pkp/pkp-lib/pull/8151
- https://github.com/pkp/ojs/pull/3483

[2022-08-11 20:22] jonasraoni opened #8158 "Replace abandoned Stringy package"
**Describe the bug**
The https://github.com/danielstjules/Stringy, as well as the other repos from this author, have been unmaintained (no commits nor comments over pending PRs/issues) since 2017.

For now we've got warnings related to PHP 8.1, but later nobody knows. So I think it makes sense to replace it, the best fork seems to be the https://github.com/voku/Stringy.

**What application are you

[2022-08-11 20:33] asmecher commented on #6782
@bozana, re-opened for one minor change: https://github.com/pkp/ojs/commit/11f902f20f45c803d9b42e21032d0bd57608ca10#r80965221

[2022-08-11 20:43] jonasraoni opened #8160 "Flaky test failing most of OMP builds"
**Describe the bug**
There's a flaky test at the `MdawsonSubmission.spec.js` which is breaking most of the OMP builds, it always ends up with the file `Segmentation of Vascular Ultrasound Image Sequences.` missing a genre assignment, which blocks the save button.

I couldn't simulate it locally, only in Travis.

**What application are you using?**
OMP /main

**PRs**
- https://github.com/pkp/pkp-li

[2022-08-11 20:50] asmecher commented on #8157
Additional changes were required for each app in addition to the PRs linked above.

Thanks, @GaziYucel! This will be a nice addition to 3.4.0.

[2022-08-11 20:50] #8157 closed

[2022-08-11 21:04] jonasraoni opened #8162 "Drop forgotten locale file in OMP"
**Describe the bug**
The addThis plugin was removed in 2017, but one file remained.

**PRs**
- https://github.com/pkp/omp/pull/1173

**What application are you using?**
OMP /main

[2022-08-11 21:12] jonasraoni opened #8163 "Forgotten locale file from the reports/views plugin in OJS"
**Describe the bug**
The plugin has been removed in 2021, but some locale files remained.

**PRs**
- https://github.com/pkp/ojs/pull/3489

**What application are you using?**
OJS /main

[2022-08-11 23:58] asmecher commented on #8137
@defstat, could you take a look at this one?

[2022-08-12 00:08] asmecher commented on #7901
@stuartayeates, yes, thanks, that does look like a reasonable outcome (4 duplicate entries found, 4 records deleted, afterwards no more duplicates listed by the query). Are you seeing the duplicates disappear in the OAI interface as well?

[2022-08-12 00:58] asmecher commented on #5338
Thanks for https://github.com/pkp/omp/pull/1166/files, @nongenti! @withanage, could you review this PR?

[2022-08-12 06:29] withanage commented on #5338
@asmecher  will  review  and @nongenti and  will give you a feedback next week.

[2022-08-12 06:53] ajnyga commented on #1813
The activity log entries are what I was thinking of. I think we discussed using those in some other issue at some point. But I can see no problem if we check both the activity log and current status. Or do you think that we would want that data saved in a more easily accessible way? I mean some marker in publication_settings or elsewhere saying that this publication has been published at some poin

[2022-08-12 08:23] touhidurabir commented on #2890
@asmecher I have squashed the commits and rebased it to fix the conflicts . If the upgrade tests passes, it's good to merge with main .

[2022-08-12 10:40] ajnyga commented on #6875
@asmecher did some testing with this.

Using `COMBINING_DENY_OVERRIDES` like you suggested does not seem to work. I will look closer what is happening there in a couple of days, but here is what I have now: https://github.com/pkp/pkp-lib/compare/main...ajnyga:f6875?expand=1

Basically the outcome is:
- Manager assigned as a Manager can publish
- Manager assigned as a Section Editor can publish
- M

[2022-08-12 12:03] touhidurabir commented on #8043
If we decide to remove that functionality totally and move to cron/schedule task/daemon, then we should not worry about it at all . The PR made for pkp/pkp-lib#7105 handle all these cases and has also turned off the `register_shutdown_function` feature .

[2022-08-12 12:26] touhidurabir commented on #8044
The PRs

[pkp#8133](https://github.com/pkp/pkp-lib/pull/8133)
[ojs#3476](https://github.com/pkp/ojs/pull/3476)

for the issue pkp/pkp-lib#7105 now have the functionality to handle jobs via worker daemon .

After this get merged with main, to run a worker daemon, run command
[code]
use the flag `--help` with the `work` command to view all available options that can be passed as it's support most of

[2022-08-12 12:29] touhidurabir commented on #7105
@asmecher please review the PRs as new feature such as job process by worker daemon and some big enhancement of job command line tool added with latest change .

[2022-08-12 12:54] jonasraoni opened #8164 "Missing the localization files for the DC11 metadata plugin"
**Describe the bug**
The `en_US` and the `sl_SI` folders are misplaced for the `dc11` filter in OMP (see https://github.com/pkp/omp/tree/main/plugins/metadata/dc11).
While in other repositories, some filters are ok and others don't even have the localization folder.

**PRs**
- https://github.com/pkp/ojs/pull/3493
- https://github.com/pkp/omp/pull/1175
- https://github.com/pkp/ops/pull/328

**What

[2022-08-12 12:58] jonasraoni opened #8165 "Travis is currently swallowing pieces of the log"
**Describe the bug**
See the latest OMP build output: https://app.travis-ci.com/github/pkp/omp/jobs/579596625

Sometimes it works though 😅

**PRs**
- https://github.com/pkp/ojs/pull/3490
- https://github.com/pkp/omp/pull/1174
- https://github.com/pkp/ops/pull/326

**What application are you using?**
/main

[2022-08-12 13:09] jonasraoni opened #8166 "The dc oai metadata format plugin for OJS has duplicated localization"
**Describe the bug**
The locale files located here: https://github.com/pkp/ojs/tree/main/plugins/oaiMetadataFormats/dc/locale, are not needed, as [they are already covered by the `pkp-lib`](https://github.com/pkp/pkp-lib/tree/main/plugins/oaiMetadataFormats/dc/locale).

**PRs**
- https://github.com/pkp/ojs/pull/3491

**What application are you using?**
OJS /main

[2022-08-12 13:16] jonasraoni opened #8167 "The PluginRegistry::loadPlugin() doesn't follow the new plugin loader rules"
**Describe the bug**
The `PluginRegistry::loadPlugin()` expects the plugin to have an `index.php` file: https://github.com/pkp/pkp-lib/blob/381e1509e5c2a7a7d3fdf9af879ad64c9d1c34f5/classes/plugins/PluginRegistry.php#L211, but that's [fit the current rules](https://github.com/pkp/pkp-lib/blob/381e1509e5c2a7a7d3fdf9af879ad64c9d1c34f5/classes/plugins/PluginRegistry.php#L278).

**What application are

[2022-08-12 15:15] asmecher commented on #7105
I'll have a look shortly! FYI, the OMP test failure is my fault, I'm fixing it now.

[2022-08-12 19:08] asmecher commented on #2890
Thanks, @touhidurabir! I rushed the tests (I broke them yesterday) but ran them locally and will monitor the Travis jobs. Congratulations on this work!

[2022-08-12 19:08] #2890 closed

[2022-08-12 19:09] asmecher commented on #3585
Resolved by https://github.com/pkp/pkp-lib/issues/2890!

[2022-08-12 19:09] #3585 closed

[2022-08-12 19:43] jonasraoni commented on #8158
@asmecher As it passed through the tests, feel free to check the PR.
This package is 100% compatible with the original (according to the maintainer). The other option would be probably the https://github.com/statamic/Stringy (looks like they've just fixed the PHP 8.1 warnings).

[2022-08-12 19:43] asmecher commented on #8043
My understanding is that once #7105 is merged, it'll add a new `scheduled_tasks` entry for a `ProcessQueueJobs` task. This will run tasks off the queue. So users who don't have either cron or a daemon running will still be able to process queued tasks via the acron plugin.

[2022-08-12 19:48] asmecher commented on #8158
Merged, thanks!

[2022-08-12 19:48] #8158 closed

[2022-08-12 19:54] jonasraoni commented on #8160
@asmecher The build has passed through the flaky test around 7x, so I think it's ok to be reviewed.

[2022-08-12 19:56] jonasraoni commented on #8162
@asmecher Trivial fix.

[2022-08-12 19:56] jonasraoni commented on #8163
@asmecher Trivial fix.

[2022-08-12 19:57] jonasraoni commented on #8166
@asmecher Trivial fix.

[2022-08-12 19:59] jonasraoni commented on #8165
@asmecher Here I just wanted to go with a workaround, by placing the `error.log` output before the `uuencode`, but it ended up fixing the other issue ¯\_(ツ)_/¯

[2022-08-12 20:00] asmecher commented on #8162
Have you checked the status of that locale file against https://github.com/pkp/omp/blob/cb13f35b506e8159da9db699f41fe153447ea77d/plugins/generic/addThis/locale/sl_SI/locale.po?

[2022-08-12 20:20] jonasraoni commented on #8162
The file at https://github.com/pkp/addThis/blob/main/locale/sl_SI/locale.po, has a similar content, and it was updated in Weblate, while this one wasn't, so I think it's ok.

[2022-08-12 20:45] asmecher commented on #8162
OK, thanks! Merged.

[2022-08-12 20:45] #8162 closed

[2022-08-12 20:47] asmecher commented on #8160
Merged, thanks!

[2022-08-12 22:19] asmecher commented on #8165
No objections here -- the Travis logs are capricious and subject to quirks, but if this works for now...

[2022-08-12 22:19] #8165 closed

[2022-08-13 01:17] asmecher commented on #8166
Merged!

[2022-08-13 01:17] #8166 closed

[2022-08-13 01:18] #8163 closed

[2022-08-13 01:25] asmecher commented on #8139
The original problem should be fixed incidentally by https://github.com/pkp/ojs/commit/1e89821c7f3162bf09a4f779b6317061b233a56a, which renames `Dc11MetadataPlugin` to `Dc11Plugin` in accordance with the [expectations of the plugin loader](https://github.com/pkp/pkp-lib/blob/648521f27b96ecd71f4670caacf3426603827043/classes/plugins/PluginRegistry.php#L297) for cases without an `index.php` wrapper. I

[2022-08-13 04:05] asmecher commented on #8160
@jonasraoni, I've reverted this -- it appears to have broken OPS tests. Could you have a look?

[2022-08-13 04:12] jonasraoni commented on #8160
Yep, I'll check later!

[2022-08-13 06:57] fgnievinski commented on #5392
just to second that being able to manually set the date of publication of a journal issue would be helpful when publishing historical digitized issues.  in OJS v3.2, the journal issue date of publication or `datePublished` (not to be confused with the year used as identifier) seems to be set automatically to the date when the issue is technically published in OJS.  a modifiable field for datePubli

[2022-08-14 07:43] jonasraoni opened #8168 "Error 500 when attempting to remove an OMP chapter"
**Describe the bug**

After attempting to erase a chapter:
- The request fails with an error 500
- The user doesn't get an error message
- It partially erases data (some orphaned data remains)

[code]

**To Reproduce**
1. Add a chapter
2. Try to remove it

**What application are you using?**
OMP /main

[2022-08-14 09:34] NateWr commented on #2890
@emmauhl this will effect documentation for 3.4. Short summary: it is now possible to "back out" of every stage of the workflow, including a review round that's been started. Once a reviewer has completed a review, though, we prevent cancelling that round.

[2022-08-14 09:59] jonasraoni opened #8169 "Unable to export a monograph with the NativeImportExport Plugin at OMP"
**Describe the bug**

When trying to export a published monograph (I've used one from the build/tests: `Bomb Canada and Other Unkind Remarks in the American Media`) I get the errors below (I've applied some minor fixes to `/main`, before reaching the validation message):

[code]

**To Reproduce**
1. Setup the installation with a fresh database from the dataset repository, together with its associa

[2022-08-14 11:38] jonasraoni commented on #8139
I'm closing as it has been fixed. I've moved everything that I considered relevant to other issues.

[2022-08-14 11:38] #8139 closed

[2022-08-14 12:50] jonasraoni opened #8170 "Upgrade sokil/php-isocodes to fix warnings"
**Describe the bug**
In order to avoid warnings at PHP 8.1 and also update the ISO database, it will be needed to move into `sokil/php-isocodes` 4.0, the breaking change from 3.0 is that the library was divided into sub-packages.

**PRs**
- https://github.com/pkp/pkp-lib/pull/8171
- https://github.com/pkp/ojs/pull/3494 [TESTS ONLY]

**What application are you using?**
/main

[2022-08-14 15:54] jonasraoni commented on #8170
@asmecher Upgrading the main package to 4.x and adding the new one was enough to make things work.

[2022-08-14 16:16] jonasraoni commented on #8164
@asmecher Minor fixes

[2022-08-14 17:52] ajnyga commented on #6875
So I could not figure out how to make that example work. However, I have an alternative solution here that seems to work with all the above scenarios. Do you see a problem with that?

https://github.com/pkp/pkp-lib/compare/main...ajnyga:f6875?expand=1

[2022-08-14 17:59] ajnyga commented on #6875
Basically in StageRolePolicy, if `userAccessibleStages` is empty AND the user is a manager, you actually already have a check there for cases where managers may have a stage assigment but no accessible stages. The code currently checks if there is a manager assignment and I just added also a check for sub_editor assignments. https://github.com/pkp/pkp-lib/blob/main/classes/security/authorization/S

[2022-08-14 17:59] ajnyga commented on #6875
ping @asmecher since you probably know the authorization stuff the best

[2022-08-14 19:00] ewhanson opened #8174 "Article Cover pages are not preserved during the upgrade from OJS2"
**Describe the bug**
When upgrading from OJS 2.4 to OJS 3.2.1, the upgrade transformation for the new article cover page data format (`migrateSubmissionCoverImages`) is not applied and needs to be run later in the upgrade process.

This was first reported with an upgrade from OJS 2.4 to OJS 3.2.1, but the upgrade function in question is applicable from OJS 2.4 through OJS 3.1 so may be applicable

[2022-08-14 19:16] ewhanson opened #8175 "Article Summary Template shows incorrect subscription required galley button"
**Describe the bug**
`article_summary.tpl` and `article_details.tpl` use two different methods for determining if the current user has access to the publication for the purposes of display the galley button. In `article_summary.tpl`, this is fetched directly from the publication and will always show as the user not having access if the publication is labeled as having subscription access only. In

[2022-08-14 20:10] ajnyga commented on #6251
Closing this, merged some time ago.

[2022-08-14 20:10] #6251 closed

[2022-08-14 21:38] stuartayeates commented on #7901
@asmecher I confirm that there are no more duplicates left in the OAI interface.

[2022-08-15 06:07] jonasraoni commented on #8099
@asmecher Just dropped some references to the MySQL extension.

[2022-08-15 06:29] jonasraoni commented on #7512
@asmecher Some older PRs which I've rebased recently, so they are still ok to be merged.

[2022-08-15 08:07] ajnyga commented on #2890
Thanks for this work! This is one of those new features that reduce the amount of support tickets from journals in a very concrete way. I usually get at least a couple of requests to cancel a review round that has been accidentally created and so far I've had to edit the database directly.

[2022-08-15 08:28] jonasraoni commented on #8160
The tests passed in all applications, so I've merged.

[2022-08-15 09:04] touhidurabir commented on #8043
@asmecher once the pkp/pkp-lib#7105 merge , we will have multiple options to run queue jobs
1. via a worker daemon
2. via cron
3. via acron if not cron available for some reason .

And I thought about removing the option to run queue jobs via a `register_shutdown_function`. But what if some installation can not have due to some unforeseen reasons or decided not to enable the `acron` . As we are go

[2022-08-15 12:42] touhidurabir commented on #7920
@mooselybased I was able to reproduce the issue when a submission not getting associated with series and need to update again but `Series Editor` still do get mails as I have tested . I will look into the issue of not getting associated with series at the end of submission process . Can you check and confirm if the `series editor` have all the proper permissions such as Submission/Internal Review/

[2022-08-15 16:01] asmecher commented on #8170
OK, thanks -- merged the pkp-lib PR and closed the (outdated) submodule update.

[2022-08-15 16:01] #8170 closed

[2022-08-15 16:27] asmecher commented on #8169
@defstat, could you have a look at this one?

[2022-08-15 16:29] asmecher commented on #8164
Merged all 3 PRs, thanks.

[2022-08-15 16:29] #8164 closed

[2022-08-15 16:37] asmecher commented on #8099
@jonasraoni, these have the effect of disturbing legacy code without really improving things; personally, I'd rather wait until we're able to remove the ADODB support entirely rather than introducing code churn there.

To remove `DBTYPE=MySQLi` in favour of `MySQL`, you'd also need to update https://github.com/pkp/datasets/blob/df29c67e2414ec6b0a3665021092a3806e0844fe/tools/environment.sh#L66 -- a

[2022-08-15 16:54] asmecher commented on #7512
@jonasraoni I don't think anyone has identified this as a priority so I haven't reviewed it; strategically, I would much rather we considered e.g. adopting Laravel's session management toolset rather than refining our own.

[2022-08-15 18:13] asmecher opened #8176 "Remove LDAP plugin and auth plugin category"
The LDAP plugin is currently broken (it is missing its configuration interface, likely since 3.0) and it is the only example of an `auth` plugin category.

It does not usefully solve a problem (most users expect it to support single-sign-on, but at best it offers a shared password database) and it has been superseded by OAuth, Shibboleth, and similar mechanisms.

Our future plans for single sign o

[2022-08-15 20:55] asmecher commented on #8176
PRs:
- https://github.com/pkp/ojs/pull/3497
- https://github.com/pkp/pkp-lib/pull/8177

[2022-08-15 21:52] #8176 closed

[2022-08-16 06:12] mooselybased commented on #7920
@touhidurabir Series editors in our OMP have full permission for everything from Submission to Production (at the permission level of Series Editor).

When testing again, I get the same results - the chosen series doesn't stick and neither I nor my colleague as "fake" series editors receive any automated mails about a new submission to "our" series. We've switched around the mail adresses we're us

[2022-08-16 07:31] touhidurabir commented on #7920
@mooselybased I finally able to reproduce the issue that you are experiencing . Previously I was not able to as I only have one series editor in my install system so that editor do get mail all the time .

So after having multiple series editor and assigning each to different series , I noticed that only the first created series editor is getting new submission mail even if that series editor not

[2022-08-16 17:19] gurumelo opened #8178 "OJS 3.3.0-10 I can't enable usage statistics plugin"
https://forum.pkp.sfu.ca/t/enable-usage-statistics-plugin-on-ojs-3-3-0-10/73426

[2022-08-16 18:48] Vitaliy-1 commented on #7285
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/8179
OJS: https://github.com/pkp/ojs/pull/3498

[2022-08-16 18:55] asmecher commented on #8178
I'll close this issue; the forum is the best place to get support.

[2022-08-16 18:55] #8178 closed

[2022-08-16 18:56] asmecher commented on #8178
If you feel your post has been forgotten, feel free to post a follow-up on the same forum thread.

[2022-08-16 22:29] asmecher commented on #6091
PRs for filter cleanup:
- https://github.com/pkp/ojs/pull/3499
- https://github.com/pkp/pkp-lib/issues/6091

[2022-08-17 04:38] Azizulibrahim opened #8181 "OJS TimeZone error"
I had problem as below:-

[proxy_fcgi:error] [pid 366698] [client 219.92.19.117:63112] AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught Error: Call to undefined function xml_parser_create() in /var/www/***/lib/pkp/classes/xml/PKPXMLParser.inc.php:212\nStack trace:\n#0 /var/www/***/lib/pkp/classes/xml/PKPXMLParser.inc.php(162): PKPXMLParser->createParser()\n#1 /var/www/***/lib/pkp/classe

[2022-08-17 04:41] asmecher commented on #8181
The forum is the best place to get help; I see you're already posting there (https://forum.pkp.sfu.ca/t/fatal-error-uncaught-error-call-to-undefined-function-xml-parser-create/51953).

[2022-08-17 05:54] #8181 closed

[2022-08-17 10:49] touhidurabir commented on #7920
@asmecher please review the PR

[omp](https://github.com/pkp/omp) --> [pkp/pkp-lib#7920 added series association on submission](https://github.com/pkp/omp/pull/1177)

I noticed that same issue present in the `main` branch so once it approved , I will make a PR for `main` .

[2022-08-17 11:16] touhidurabir commented on #8022
Testing trough the job classs `PKP\Jobs\Email\EditorialReminder` which use the mailable class `MailablesEditorialReminder` internally , it seems working so hopefully the `localisation` related issue already got fixed by other commits . Now once the PR made for pkp/pkp-lib#7105 get merge, the `$request->getDispatcher` related issue will also get resolved .

[2022-08-17 11:41] gemusehandler opened #8182 "OMP | upgrade to 3.3.0.11 | DublinCore plugin is acting up"
**Describe the bug**

I have just updated my OMP 3.3.0.7 to 3.3.0.11. As a result the book galleys refuse to load. Clicking on the download link result in a white page. The chapters by the way are doing fine. Makes no difference if I switch from PhP 7.4.21 to 8.0.8.

My PHP error log says:

[code]

Because there are some references to the DublinCoreMetaPlugin, the first step I undertook was switch

[2022-08-17 12:54] ajnyga commented on #6580
+1 from our editors

[2022-08-17 13:12] felixhelix commented on #1660
As a workaround I hid the unused options via the backend CSS:

[code]

[2022-08-17 16:01] asmecher commented on #8182
@gemusehandler, you've included the stack trace, but the actual PHP error message should appear just above the first line (`#0`).

[2022-08-17 16:09] gemusehandler commented on #8182
Sorry for that. Here you go:

`[17-Aug-2022 18:05:33 Europe/Amsterdam] PHP Fatal error:  Uncaught Error: Call to undefined method Submission::getFullTitles() in /Users/gemusehandler/Sites/omp-3.3.0-11/plugins/generic/dublinCoreMeta/DublinCoreMetaPlugin.inc.php:221
`

[2022-08-17 16:21] asmecher commented on #8182
See: https://github.com/pkp/pkp-lib/issues/7864#issuecomment-1155051764

[2022-08-17 16:35] gemusehandler commented on #8182
Correct,
getFullTitles() >> getFullTitle(null)
DublinCoreMetaPlugin.inc.php:221
resolves this issue.
Thanks

[2022-08-17 17:39] asmecher commented on #8182
Thanks for the confirmation; that'll be fixed in the -12 build.

[2022-08-17 18:55] diegoabadan commented on #4540
To make it easier for people to find, I'm noting references to this issue.

It was covered at the Helsinki 2022 Sprint and the summary can be read at:
https://pkp.sfu.ca/2022/08/05/helsinki-2022-sprint-notes-released-cleaning-incomplete-submissions/

There is a PR at https://github.com/pkp/ojs/pull/3431

Also, we have this comment related to the issue of incomplete submissions no longer showing to

[2022-08-17 19:07] ajnyga commented on #7165
ojs: https://github.com/pkp/ojs/pull/3500

` When an issue is published, the date is assigned to submissions automatically if they don't have a previous date assigned. In such cases, use the issue publication date should be used if it has been set.`

I am not touching article pub dates here at all. Is this something we want to handle here as well?

[2022-08-18 00:26] asmecher commented on #6091
There will be some residual mop-up, but substantively this is completed, and the rest can be done as it's encountered. The main repos don't include any .inc.php files (besides configuration) anymore. :+1:

[2022-08-18 00:26] #6091 closed

[2022-08-18 00:29] asmecher commented on #7165
@NateWr, could you review this? (@ajnyga, Nate is away for a bit so it won't be immediate!)

[2022-08-18 04:40] ajnyga commented on #7165
Noticed that I did not add the `editor.issues.datePublished.notPublished.description` translation to the pr.

That is basically the "Leave this empty and it will be set automatically when the issue is published." notification mentioned above. Let me know if you want something else there.

[2022-08-18 04:41] jonasraoni commented on #6091
Great 😁

[2022-08-18 08:10] Vitaliy-1 opened #8183 "Submission Acknowledgement email fails if context email contact isn't set"
**Describe the bug**
After the last step of the submission process is finished,  SubmissionAcknowledgement and SubmissionAcknowledgementNotAuthor are sent to authors with `from` field being populated by context contact details. If the latter isn't set, it leads to a fatal error:
[code]
in `PKP\submission\form\PKPSubmissionSubmitStep4Form`

**To Reproduce**
Steps to reproduce the behavior:
1. Remov

[2022-08-18 11:52] steinmb commented on #6091
Impressive work! That is one large brave merge :)

[2022-08-18 13:25] Vitaliy-1 commented on #7285
Ready to be merged. @asmecher, do you have time to review it? These PRs add PHPMailer transport to send emails with PHP mail().

[2022-08-18 14:07] #8182 closed

[2022-08-18 17:37] touhidurabir commented on #7105
@asmecher please review the updated PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8133
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3476

[2022-08-18 18:02] asmecher commented on #6091
@steinmb, on the contrary -- it is several hundred cowardly merges, a lot of failed Travis tests, and ongoing paranoia about new comments on the issue now that it's been closed!

[2022-08-18 18:07] asmecher commented on #8105
In the interests of working around this specific error message, I've added explicit dependencies on the paypal plugin composer JSON to match the same version as we require in the pkp-lib composer JSON:
- https://github.com/pkp/ojs/blob/main/plugins/paymethod/paypal/composer.json#L5
- https://github.com/pkp/omp/blob/main/plugins/paymethod/paypal/composer.json#L5

The bigger issue should be solved i

[2022-08-18 18:07] #8105 closed

[2022-08-18 18:30] asmecher opened #8186 "Remove deprecated support for non-PSR classloading"
OJS/OMP/OPS 3.4.0 included widespread support for PSR-based autoloading (https://github.com/pkp/pkp-lib/issues/6091). It included backwards compatibility support for old dot.separated.package-style class specification, which should be removed.

[2022-08-18 20:20] asmecher opened #8187 "Site and journal titles not escaped in back-end template"
When <, >, and & characters are used in the journal (context) and site titles, they are not escaped when displayed in the back-end layout. Add appropriate escaping.

[2022-08-18 20:22] #8187 closed

[2022-08-18 21:36] #8168 closed

[2022-08-19 05:25] #8092 closed

[2022-08-19 06:05] touhidurabir commented on #7673
@asmecher please review the PRs . I have rebased it to resolve the conflicts and also forward port the changes to `OMP` and `OPS`

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7673 Removal of locale requirement for email templates installation](https://github.com/pkp/pkp-lib/pull/8085)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7673 Submodule Update ##touhidurabir/i7673_main#

[2022-08-19 11:02] p6steve opened #8189 "incomplete_count calculation does not account for cancelled review assignment"
**Describe the bug**
As [posted](https://forum.pkp.sfu.ca/t/unassign-does-not-clear-active-badge-in-add-reviewer-dialog/73665) on the PKP Community Forum

In the Add Reviewer search list, dialog, the “active” badge shows “1 active” even when this reviewer has been unassigned by clicking the Unassign button on the review panel.

The Review Requests Cancelled (1) field reflects the Unassignment

The

[2022-08-19 11:36] bozana opened #8190 "article DOI export (AJAX PUT request type) not working in Firefox"
**Describe the bug**
It seems that the AJAX PUT request type or X-Http-Method-Override (e.g. in article DOI export) is not always working. The Error "The requested URL was not recognized." appears.
Tested with OJS and Firefox (103.0 (64-bit)): Inspect -> Network shows POST request type.
Tested with OPS and Chrome (Version 103.0.5060.134 (Official Build) (64-bit)) is the same.

**To Reproduce**
Ste

[2022-08-19 13:10] bozana commented on #6062
Are we planing to provide any help message when validation errors occur? Does this maybe belong to the TO-DO "Improve DOI submission error feedback" listed above?

[2022-08-19 13:33] asmecher commented on #8067
If encountering this issue, you can fix it by applying this change: https://github.com/pkp/pkp-lib/pull/8070/files

[2022-08-19 14:02] bozana commented on #6091
@asmecher, we changed the namespacing in the DB table scheduled_tasks, but what about scheduledTasks.xml and thus AcronPlugin? Still to come (with another issue)?

[2022-08-19 15:49] asmecher commented on #8189
For OJS 3.3.0-x, the appropriate patch (applied in lib/pkp) is https://github.com/pkp/pkp-lib/commit/e010f2cee357a936462825553ec7c3498fd3757b. Thanks, @p6steve!

[2022-08-19 15:49] #8189 closed

[2022-08-19 23:37] asmecher commented on #6091
@bozana, I think those are already done -- I had missed the DOAJInfoSender but the others have all been converted. Did I miss something?

[2022-08-20 00:13] asmecher commented on #7458
@NateWr, I'm pretty sure this will have been fixed by now. But please re-open if you've seen it lately.

[2022-08-20 05:08] jonasraoni commented on #6091
I've seen some cases in the build log yesterday, now looks like only OPS have them.

[2022-08-20 05:25] asmecher commented on #6091
Ah, got them!

[2022-08-22 05:44] ajnyga commented on #5774
OPS: https://github.com/pkp/ops/pull/334

[2022-08-22 09:09] jalperin commented on #5774
Recent recommendations from CrossRef: https://t.co/br4zGCYKYs

On Sun., Aug. 21, 2022, 22:44 Antti-Jussi Nygård, ***@***.***>
wrote:

[2022-08-22 11:17] OJSomm opened #8192 "DOAJ export plugin"
**error message**
Deposit was not successful! The DOAJ API returned an error: 'Client error: `POST https://doaj.org/api/v2/articles?api_key=31e6cc196ec9481ebedc8e3b9e42233a` resulted in a `403 Forbidden` response: {"status": "forbidden", "error": "It is not possible to create an article for this journal. Have you included in the upl (truncated...) '.

**To Reproduce**
Steps to reproduce the behavi

[2022-08-22 12:10] #6782 closed

[2022-08-22 12:10] #6895 closed

[2022-08-22 13:47] bozana commented on #6781
Hi @ctgraham, now I am back again to this task.
I hopefully find a way to make the SUSHI API public, but I would like to double check the other two points with you:

Do I understand it correctly: An institution will have an opt-out possibility. In the case an institution opted-out, the SUSHI API will act like that customer ID would not exist i.e. it would return COUNTER error 1030 "Invalid custome

[2022-08-22 14:49] ctgraham commented on #6781
Opt-out: I suggest making the SUSHI endpoint public by default, but able to be disabled in the journal configuration.  That is, as a journal manager, I may not want to enable SUSHI yet; I am still collecting statistics while applying for certification with COUNTER, and when my journal is certified as COUNTER compliant, I can turn on the SUSHI endpoint.  (Maybe this is as easy as making it only ava

[2022-08-22 15:40] asmecher commented on #5774
@jalperin, was there something specific there that's related to this proposal?

[2022-08-22 15:47] asmecher commented on #8192
@OJSomm, could you post this question in the support forum (https://forum.pkp.sfu.ca)? That's the best place to get support. If it turns out to be a bug requiring code changes, then it'll come here for work by the dev team.

[2022-08-22 17:37] bozana commented on #7864
This work is in the stable branch but needs porting to the main branch for 3.4, so I will change the milestone

[2022-08-22 17:45] bozana commented on #6781
So you do not think it is necessary for an institution to be able to opt-out -- e.g. if they do not want their stats to be publicly available?

[2022-08-22 17:48] asmecher opened #8193 "Back-port PHP8.1 compatibility to stable-3_3_0"
Currently `stable-3_3_0` is not PHP8.1 compatible. Anecdotally on the support forum, encounters with this incompatibility are getting more frequent; it's likely necessary to back-port 8.1 compatibility to `stable-3_3_0` within the LTS lifetime of this release.

PHP 8.1 compatibility with `main` was added in https://github.com/pkp/pkp-lib/issues/7690. This would make a good basis for back-porting.

[2022-08-22 17:58] pachadotdev opened #8194 "I can't send email to users but the email for password reset works ok"
**Describe the bug**
I can't send email to users but the email for password reset works ok
![image](https://user-images.githubusercontent.com/10091065/185987572-9fbca9a5-75e3-4441-85a3-ba915f6eb107.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Users & Roles > Users
2. Click on "Email" for any user
3. Try to send an email
4. See error

But if I reset my own password, I get the em

[2022-08-22 18:08] asmecher commented on #8194
@pachadotdev, we're directing support requests to the support forum (https://forum.pkp.sfu.ca); that's the best place to ask a question like this. But just a heads-up that we're not supporting OJS 3.1.x any longer; you'll likely be asked to upgrade first. You might find helpful posts from other users on the forum with older versions of OJS, though.

[2022-08-22 18:16] #8194 closed

[2022-08-22 18:21] ajnyga commented on #5774
Was going to ask the same thing!

Section 6 talks about this topic, but mostly about automation in this field whereas the functionality we now have is purely manual.

[2022-08-22 18:26] alexxxmendonca commented on #5774
That's right. There's no recommendation on the actual _wording_, only at the metadata level.

[2022-08-22 18:27] jalperin commented on #5774
It was section 6 that seemed relevant, and it also seemed generally useful
to know what CR is recommending.

Apologies if not directly applicable. Wanted to share and this seemed like
a useful place to do so.

On Mon, 22 Aug 2022 at 11:21, Antti-Jussi Nygård ***@***.***>
wrote:

[2022-08-22 18:28] bozana commented on #7546
The author metadata should exist in the submission locale, and the user metadata in the site locale. Thus those are the fall back locales.
I think there are a few mistakes here:
I think the variable name 'defaultLocale' is wrong in getLocalizedFamilyName and getLocalizedGivenName -- it should be called 'preferredLocale' I think -- differently to the function getFullName (it is correct there).
I th

[2022-08-22 18:29] ctgraham commented on #6781
Not from the perspective of the ULS or our clients.  And not from my personal perspective from a philosophical standpoint.

[2022-08-22 18:59] asmecher commented on #7285
All PRs reviewed! https://github.com/pkp/pkp-lib/pull/8179#pullrequestreview-1081000212

[2022-08-22 19:58] ajnyga commented on #5774
no problem, we maybe need a new issue to track down discussion around the automation and need to add the Crossref guidelines there. Or is this more a topic for github discussion? @asmecher

[2022-08-22 20:03] asmecher commented on #5774
If it's a specific proposal (scoped, concrete, somewhere on the horizon as a priority) then either a Github issue or a discussion would be OK. If it's just aspirational ("someone should review this and see if there's anything for us to do") then no, I don't think it's worth creating an entry.

[2022-08-22 20:13] #7673 closed

[2022-08-22 20:14] asmecher commented on #7673
Thanks, @touhidurabir! I've merged the `pkp-lib` PR and closed the app PRs (submodule updates only).

[2022-08-22 20:33] asmecher commented on #7920
@touhidurabir, just one small change to make to both `stable-3_3_0` and `main` branches, then it'll be ready for merge: https://github.com/pkp/omp/pull/1183#discussion_r951885070

[2022-08-22 22:14] asmecher commented on #7105
Sorry for the wait! Comments here: https://github.com/pkp/pkp-lib/pull/8133#pullrequestreview-1081206622

[2022-08-22 22:15] asmecher commented on #8043
@touhidurabir, I'm comfortable with requiring users to be able to run one of the 3 mechanisms you list above. I can't think of a reason that the acron plugin wouldn't be a viable fallback, even though we would prefer a better mechanism.

[2022-08-23 08:04] touhidurabir commented on #8043
@asmecher make sense . In that case I will update the PR [pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8133 to fully remove the `register_shutdown_function` related functionality .

[2022-08-23 08:33] ajnyga commented on #5774
Just thinking that it is probably something we want to pursue at some point when the infrastructure is available, but was not sure how you want to track these kinds of things.

btw, the test passed for this https://github.com/pkp/ops/pull/334 so it would be ready for review

[2022-08-23 08:33] touhidurabir commented on #7920
@asmecher PR updated . If tests pass, it's good to merge .

[2022-08-23 08:53] withanage commented on #7310
I have checked this failure OJS 3.3.0-11 on both PHP 7.4 and PHP 8.0 and could not reproduce  this erro.
Database has a empty string in the field and also setting a null  manually did not allow reproducing it.

Asked the user in [form#69892](https://forum.pkp.sfu.ca/t/uncaught-typeerror-argument-1-passed-to-sokil-isocodes/69862/4)  to clarify again.

[2022-08-23 09:55] OJSomm commented on #8192
Thank you!, @asmecher, I have just post the question in the support forum.

[2022-08-23 11:17] NateWr commented on #8092
Wow, thanks! I was dreading this work. :laughing:

[2022-08-23 11:19] NateWr commented on #6062
We capture the error response from Crossref and set an "error" status on the DOI. The DOI management UI then provides a button to view the error message when a deposit has failed. This is just the XML error message from Crossref, so not always very user friendly, but it's a first step.

[2022-08-23 11:25] bozana commented on #6062
Thanks a lot @NateWr. In my case: I wanted to _export_ an XML file and got the message that validation error occurred. I am not sure if the validation also happens before the registration with Crossref -- earlier it was so... I then needed to take a look at the XML file in the temp/ folder to see what is wrong... (I think in my case the DOI was not assigned to that object at all)...

[2022-08-23 12:02] Vitaliy-1 commented on #7285
Thanks, merged!

[2022-08-23 12:02] #7285 closed

[2022-08-23 12:58] touhidurabir commented on #7366
@asmecher please review the PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7366 user api key generation process update](https://github.com/pkp/pkp-lib/pull/8195)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7366 user api key generation process update](https://github.com/pkp/ojs/pull/3503)

[2022-08-23 16:50] #7458 closed

[2022-08-23 18:34] asmecher commented on #8092
It was ... pretty annoying, but definitely worthwhile.

[2022-08-23 22:03] asmecher commented on #7854
PRs:
- https://github.com/pkp/pkp-lib/pull/8197
- https://github.com/pkp/ojs/pull/3505 (tests only)

[2022-08-23 23:10] asmecher commented on #7366
Reviewed, thanks! https://github.com/pkp/pkp-lib/pull/8195#pullrequestreview-1082916533

[2022-08-23 23:11] asmecher commented on #7854
Merged!

[2022-08-23 23:11] #7854 closed

[2022-08-23 23:29] asmecher commented on #7466
Removed the Technical Reference and `index.php` self-documentation.

[2022-08-24 00:36] asmecher commented on #3534
Reopening; this is in a couple of important projects, including SciELO improvements and the reviewer assignment bundle.

[2022-08-24 00:37] asmecher commented on #3344
This in the SciELO OxS improvements project and reviewer experience bundle; reopening.

[2022-08-24 08:44] NateWr opened #8198 "Add more information about DOI format settings"
**Describe the problem you would like to solve**
When selecting the DOI format settings, it's not clear what will happen when Default and None are selected.

**Describe the solution you'd like**
It could be useful for a user to provide context information for the Plugin settings options (Default/None). How will the DOI construction be if a user selects any of those?
I.e.
What would happen if a use

[2022-08-24 09:00] NateWr opened #8199 "Add Crossref submission ID to the DOI management panel"
**Describe the problem you would like to solve**
It can be difficult to troubleshoot Crossref submission problems with Crossref members because it is not easy to relate the submission in OJS that to the submission in Crossref.

**Describe the solution you'd like**
When a DOI has been submitted to Crossref, include the Crossref submission ID in the DOI management panel. This is different from the s

[2022-08-24 09:10] touhidurabir commented on #7366
@asmecher requested changes are done and also updated the test .

[2022-08-24 09:29] NateWr commented on #6062
Ahh, I'm not sure how validation errors are handled with the XML export option.

[2022-08-24 10:07] NateWr commented on #8044
Thanks for the docs, @touhidurabir. I've added them to an issue in our docs repository: https://github.com/pkp/pkp-docs/issues/756#issuecomment-1225506171

[2022-08-24 10:17] #8192 closed

[2022-08-24 10:39] bozana commented on #7546
The functions getLocalized... generally and thus also getLocalizedGiven/FamilyName do not need the locale/preferred locale parameter -- the data in the current UI locale is returned. Sometimes there is a need to get the data in a specific locale, e.g. to get the submission and authors data in the submission locale. This can be done either using 1) the getLocalizedData function (with the preferred

[2022-08-24 10:39] bozana commented on #7546
PRs:
pkp-lib stable-3_3_0: https://github.com/pkp/pkp-lib/pull/8200

[2022-08-24 10:39] bozana commented on #7546
@asmecher, could you review the PR?

[2022-08-24 10:58] bozana commented on #7595
Hmmm... Actually, it seems to me that the standard allows any characters:
s. https://cdn.standards.iteh.ai/samples/43506/c7e86e8847e24b9fa2ac2ae25de435d3/ISO-26324-2012.pdf
In 4.1.1 General characteristic:

In 4.1.3 DOI suffix:

and Example 2 there:

Also other examples in the document contain the period sign.

The paragraph about the characters that should be avoided is in the section `4.2.3 Othe

[2022-08-24 11:24] bozana commented on #6863
I think this issue is not relevant any more:
The given name (at least) in the submission locale must exist. If there is no family name, the given name is exported in the `surname` element (there is no empty `given_name` element any more.
Thus, closing...

[2022-08-24 11:41] bozana commented on #7528
Currently: if family name in submission locale (the data are exported in) is missing, the author full name is exported in the element `surname`, s. https://github.com/pkp/ojs/blob/stable-3_3_0/plugins/importexport/crossref/filter/ArticleCrossrefXmlFilter.inc.php#L154.
The function `getFullName` considers the UI locale first, which I think is not correct. I would then change it so that the `getGive

[2022-08-24 11:43] withanage commented on #7310
Hi @asmecher and @NateWr ,

The base-lying problem for the above error was that the country was not an mandatory field. I adde a PR for that for review.

pkp-lib
- https://github.com/pkp/pkp-lib/pull/8196

OJS
- https://github.com/pkp/ojs/pull/3504

[2022-08-24 11:44] withanage commented on #7546
Thanks @bozana  for looking into this.

[2022-08-24 12:18] Vitaliy-1 commented on #7288
PR to pkp-lib: https://github.com/pkp/pkp-lib/pull/8201
tests: https://github.com/pkp/ojs/pull/3506

[2022-08-24 12:20] bozana opened #8202 "PKPAuthorForm: required locale for author metadata is UI instead of submission locale"
**Describe the bug**
Start a new submission using EN as UI locale. Choose another language as submission locale, e.g. DE. When adding authors, the author given name is required in the UI locale (EN) instead of the submission locale (DE).

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new submission using EN as UI locale.
2. Choose another language as submission locale, e.g. DE.
3. A

[2022-08-24 12:23] bozana commented on #7528
I've just realized this Bug in the stable version: https://github.com/pkp/pkp-lib/issues/8202.
This can lead to some wrong metadata -- it could be that a given name does not exists in the submission locale :-(
I just hope that the case when UI in which a new submission is started and the actual submission locale differ is very rare, so that we will not have much support cases...

[2022-08-24 12:35] bozana commented on #8202
PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/8203
ojs: https://github.com/pkp/ojs/pull/3507
omp: https://github.com/pkp/omp/pull/1184
ops: https://github.com/pkp/ops/pull/335

[2022-08-24 12:48] touhidurabir commented on #7105
@asmecher updated PR. If all tests pass, it should be good to merge with main . I will monitor the tests results to see how it goes .

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8133
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3476

[2022-08-24 12:48] bozana commented on #7528
PRs:
ojs stable-3_3_0: https://github.com/pkp/ojs/pull/3508

[2022-08-24 12:49] AhemNason commented on #6062
Hey folks, I just wanted to break down the error message and what's useful for us and what's useful for Crossref when helping someone with support.

![Screen Shot 2022-08-24 at 9 44 58 AM](https://user-images.githubusercontent.com/504276/186421782-f78bb2fe-5150-4971-a555-13553218924c.png)

Of the stuff present here, the biggest one is the error itself, obviously. I don't know that we have, necessa

[2022-08-24 12:50] bozana commented on #7528
@NateWr, could you review the PR? It uses the given name in the submission locale, if family name does not exist. getFullName would first consider the UI locale, which is not correct -- all metadata are exported/registered in the submission locale...

[2022-08-24 12:57] bozana commented on #6062
Thanks @AhemNason. I know it was so earlier, but with the new changes I do not know when it happens -- I would need to take a deeper look in the code...

Those validation errors are 'impossible' to make user friendly :-( -- It can be anything... But...

[2022-08-24 13:10] AhemNason commented on #6062
Could Crossref perhaps be of assistance in pushing us less wild error messages somehow?

[2022-08-24 13:15] touhidurabir commented on #7366
@asmecher  requested changes are done and also updated the test . updated PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8195
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3503

[2022-08-24 13:17] NateWr commented on #7310
I'm not sure if we want to make country a required field for reviewers. I think the person who creates the reviewer user will often not know that information. I'd prefer to solve this problem by not trying to localize a country that doesn't exist.

[2022-08-24 13:24] bozana commented on #7136
This is a similar problem to this one: https://github.com/pkp/pkp-lib/issues/8202
I.e. it seems in the stable-3_2_1 the required locale = site primary locale is not set in the user form. It is fixed in stable-3_3_0, s. https://github.com/pkp/pkp-lib/blob/stable-3_3_0/controllers/grid/settings/user/form/UserDetailsForm.inc.php#L44.

I think nothing should happen when journal changes the primary loc

[2022-08-24 13:32] NateWr opened #8204 "Mailables may use wrong context when sent in jobs"
**Describe the bug**
When a `Mailable` is sent as part of a job, the job may be run during a request with a different context or no context at all (eg - CLI). When this happens, a couple of errors can appear:

1. Any email template variables that rely on the request context may use the wrong context, such as URLs.
2. It may use the envelope sender from the wrong context.

**To Reproduce**
Steps to

[2022-08-24 13:39] withanage commented on #7310
Was thinking that too, just implemented, cause was a small addition. Would you recommend  setting an empty string explicitly, as the user suggests? I tried  reprouding the error with the null set as in the current impmlementation , but  couldn't in both 7.4 or 8 as the user describes here and asked him to calrify [form#69892](https://forum.pkp.sfu.ca/t/uncaught-typeerror-argument-1-passed-to-sokil

[2022-08-24 13:53] NateWr commented on #8043
@asmecher and @touhidurabir I'm happy to let you two settle on an approach here. But if we rely on cron/acron I worry that a lot of people will be caught out after upgrade. So far, cron has only been used to run daily jobs and our admin guide suggests a [daily  cron](https://docs.pkp.sfu.ca/admin-guide/en/statistics). To run the job queue on cron effectively someone would need to be triggering it

[2022-08-24 13:59] NateWr commented on #7310
The error message that they posted does not appear to be related to reviewers. It's related to a search request variable here:

https://github.com/pkp/ojs/blob/fd6dac4c83a5e1ab5d0ec3a35c188f3e1c2db6b2/pages/search/SearchHandler.inc.php#L206

We should fix this by checking if `$country` is not empty before calling this line:

https://github.com/pkp/ojs/blob/fd6dac4c83a5e1ab5d0ec3a35c188f3e1c2db6b2/

[2022-08-24 14:42] NateWr opened #8206 "Can't upload issue cover image"
**Describe the bug**
After I upload and save a cover image for an issue it does not appear on the issue. It doesn't appear in the reader frontend or the edit issue form.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Issues.
2. Click on an Issue
3. Click on Issue Data
4. Click Upload File under Cover Image and upload file.
5. Click Save.
6. Click again on the issue to load the form an

[2022-08-24 14:43] NateWr commented on #8206
PR:
https://github.com/pkp/ojs/pull/3510

[2022-08-24 14:44] #5195 closed

[2022-08-24 15:45] NateWr commented on #7528
Looks good to me, @bozana.

[2022-08-24 16:04] NateWr commented on #1813
No, I don't think we should add anything in here just yet.

[2022-08-24 16:38] NateWr commented on #8190
When using `X-Http-Method-Override`, the request will still be a `POST` request. This is because some servers don't support `PUT` requests. The `X-Http-Method-Override` header is interpreted by the API handler on the server. So the `HTTP` request is `POST` but the router will route it like a `PUT` request.

I suspect there's something else that's broken here.

[2022-08-24 17:46] asmecher commented on #5975
(Here is a similar recent change to OJS 3.3.0: https://github.com/pkp/pkp-lib/issues/6643)

[2022-08-24 20:25] asmecher commented on #8043
@NateWr I agree that some improvement will be required over what most users will currently have configured, but that problem isn't going to go away over time, and we'll just build a dependency on `run_shutdown_function` as a kludge that'll eat `cron` / worker thread's lunch as we gradually migrate more of our scheduled task toolset over to jobs and build new features on it.

Currently nobody will

[2022-08-24 20:34] asmecher commented on #7105
Needs a conclusion on this discussion before it can be merged: https://github.com/pkp/pkp-lib/issues/8043#issuecomment-1225759269

[2022-08-24 20:51] dagosalas commented on #8182
@asmecher
The same error just happened to me yesterday when upgrading to v3.3.0.11, so I would recommend that PKP notify them not to upgrade to this version and wait for .12

[2022-08-24 21:25] asmecher commented on #8182
I'll put together the -12 builds for OJS, OMP, and OPS in the near future; that should resolve the issue.

[2022-08-24 22:46] asmecher commented on #7901
For users of OJS 3.3.0 encountering this issue, you can either:
- Execute the `DELETE` database statement in [this comment](https://github.com/pkp/pkp-lib/issues/7901#issuecomment-1203144523) to clean out existing bad data, **or**
- Upgrade to OJS 3.4.0 (once released) to resolve the issue.

[2022-08-24 22:46] #7901 closed

[2022-08-24 22:47] asmecher commented on #7901
(Thanks, @stuartayeates!)

[2022-08-24 22:51] asmecher commented on #8202
@bozana, can you check if https://github.com/pkp/pkp-lib/issues/4818 is a duplicate of this issue? Thanks!

[2022-08-24 23:01] asmecher commented on #6295
For usable submission language metadata, we will likely need to resolve https://github.com/pkp/pkp-lib/issues/5000 first.

For geographic distribution, how would we ascertain the submission's country? For example, would this be taken from the submitting author's profile? What about submissions from several assigned (submitting) authors?

For discipline data, there are two requirements:
- https://g

[2022-08-25 05:03] OhnO395 commented on #7546
![image](https://user-images.githubusercontent.com/3378704/186579073-a2808c55-3ab1-4fde-9f0e-ff5a67322618.png)

^__^ thank you
OhnO395

[2022-08-25 07:19] withanage commented on #7310
Hi @NateWr ,

Updated the PR to validate the input variable. Could you have a look ?

- https://github.com/pkp/ojs/pull/3509

[2022-08-25 08:00] defstat commented on #8073
@asmecher last review comments about the use of `->foreignId()` resolved, and tests are passing.

[2022-08-25 08:25] NateWr commented on #8043
Ok, that makes sense. I guess I thought that the `run_shutdown_function` was a _replacement_ for acron -- not a temporary fix that we would eventually deprecate. The `run_shutdown_function` and the acron plugin basically do the same thing, and it seems more appropriate to me to turn on/off this functionality from the `config.inc.php` file, rather than through the plugin interface.

[2022-08-25 08:37] NateWr commented on #7310
Merged to `stable-3_3_0`. The related code has been removed from the `main` branch so nothing was ported over. Thanks @withanage!

[2022-08-25 08:37] #7310 closed

[2022-08-25 08:50] NateWr commented on #8206
Merged to `main`.

[2022-08-25 08:50] #8206 closed

[2022-08-25 08:57] NateWr commented on #4073
I've updated the original issue description with the remaining tables that need to be investigated. I left out `notification_subscription_settings` because these probably should not be merged. However, the entries should probably be removed when a user is merged.

[2022-08-25 08:57] NateWr commented on #4082
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-25 08:57] #4082 closed

[2022-08-25 08:57] NateWr commented on #4083
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-25 08:57] #4083 closed

[2022-08-25 08:58] NateWr commented on #4086
Closing this as outdated. If you need help with a similar problem, please post in our [community support forum](https://forum.pkp.sfu.ca/c/questions/5).

[2022-08-25 08:58] #4086 closed

[2022-08-25 08:58] NateWr commented on #4087
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-25 09:03] NateWr commented on #4092
Closing this as it still needs consensus. Please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum where it can be discussed further.

[2022-08-25 09:08] NateWr commented on #4104
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-25 09:08] #4104 closed

[2022-08-25 09:09] NateWr commented on #4106
Closing this as it needs consensus. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-25 09:09] #4106 closed

[2022-08-25 09:10] NateWr commented on #4107
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-25 09:10] #4107 closed

[2022-08-25 09:10] NateWr commented on #4110
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-25 09:10] #4110 closed

[2022-08-25 09:11] NateWr commented on #4112
File name generation was changed significantly in 3.3. Closing this as outdated.

[2022-08-25 09:11] #4112 closed

[2022-08-25 09:12] NateWr commented on #4129
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-25 09:12] #4129 closed

[2022-08-25 09:13] NateWr commented on #4144
Closing this as outdated. If you need help with a similar problem, please post in our [community support forum](https://forum.pkp.sfu.ca/c/questions/5).

[2022-08-25 09:13] #4144 closed

[2022-08-25 09:31] bozana commented on #8190
I also had that problem with OPS and Chrom. When I then changed the method to POST in the API handler then it worked... :-O

[2022-08-25 09:40] bozana commented on #8202
@asmecher, it is a little bit different: It seems in that old version 3.1.2 the author given name was required for all locales. This is not the case in 3.3, which is good so. In 3.3 the given name was required only in UI locale. This issue is about that -- the required locale should be the submission locale.
Thus, that other issue can be closed for branches > 3.3 (I only tested it in 3.3 and main)

[2022-08-25 09:42] NateWr commented on #8190
Hmm, let's hop on a call to debug when you get a chance. This approach (`POST` with `X-Http-Method-Override` for `PUT` and `DELETE`) is widely used in our production releases.

[2022-08-25 09:43] bozana commented on #4818
This issue is not any more relevant for the branch 3_3_0 and main... The contributor given name is now only required in the submission locale.
Thus, I will close this issue...

[2022-08-25 09:43] #4818 closed

[2022-08-25 09:44] #8202 closed

[2022-08-25 09:50] bozana commented on #8190
Also using AJAX?

[2022-08-25 10:25] bozana commented on #8190
ah, this is all my fault! :-(
I needed to clear cache in my browsers... :-P

[2022-08-25 10:25] #8190 closed

[2022-08-25 10:43] #7528 closed

[2022-08-25 11:21] alexxxmendonca commented on #6295
We could start from showing the submitting authors' country. That is what ScholarOne does (there are means to obtain that report via Cognos, though, if you build a separate custom report).

Ideally, however, would be to consider all authors' countries. If this is something that can't be done right now or too complex, we could start with considering only submitting author and being transparent for

[2022-08-25 12:04] bozana commented on #7864
PRs for the main branch:
ojs: https://github.com/pkp/ojs/pull/3513

[2022-08-25 12:08] bozana commented on #7864
@asmecher, could you please take a look at this PR for the main branch? -- The differences to the stable branch are: I am now using the submission locale for author names and for DC.Title (instead of UI locale).
Also, I added the _lang_ attribute to the DC.Title. Does this make sense?
What do you think about using `lang` attribute for authors i.e. DC.Contributor.PersonalName, to list the author's

[2022-08-25 12:31] bozana commented on #7864
I removed this comment -- I was wrong -- Just forget it... Sorry!

[2022-08-25 13:20] Vitaliy-1 commented on #8204
PR to pkp-lib: https://github.com/pkp/pkp-lib/pull/8209
Tests: https://github.com/pkp/ojs/pull/3514

[2022-08-25 13:21] touhidurabir commented on #7725
@NateWr we have and will still have some `CONSTANTS` specific to `OMP`. you think it's a good idea to move those to `lib/pkp` when we have those some decisions related to those only in OMP ? I don't see a problem with it but we were trying not to out only some specific details in the shared lib unless it's used by multiple apps .

[2022-08-25 13:52] bozana commented on #7388
Do we allow the submissions/publications without contributors?
Or what is the exact use case for this?
Publishing a submission without contributors will have a huge impact on all other systems we distribute the metadata to...

[2022-08-25 14:23] NateWr commented on #7388
For use cases, there's https://github.com/pkp/pkp-lib/issues/5955. We haven't implemented that, but hope to eventually.

In the meantime, I think you're right that this will cause problems. But we should probably block things at the publish step rather than the submission step. If we force it at the submission step, we'll get whatever data an author puts in to get past the system.

[2022-08-25 14:26] NateWr commented on #8131
Yep, I can see the `cc` now. :+1:

[2022-08-25 14:26] #8131 closed

[2022-08-25 17:27] asmecher opened #8210 "Standardize locale code handling"
Currently we have our own code for managing locale codes. These codes are in the form xx_YY[@encoding], e.g. en_US and sr_RS@cyrillic. We don't currently support locale codes without countries, though -- en_US should really be en, for example.

This is currently a problem for several reasons:

- We're forced to choose a country to go with every language. Some languages are actually stateless, like

[2022-08-25 17:31] asmecher commented on #4092
Re-opening; this is on the SciELO OxS improvements list.

[2022-08-25 17:36] defstat commented on #8093
@asmecher I have resolved the PRs review comments. Waiting for the tests to run on [OJS](https://app.travis-ci.com/github/pkp/ojs/builds/254835640).

[2022-08-25 18:01] asmecher commented on #7391
Some context on the history of this issue: For an installation that has one journal, or where the journal manager is also an administrator, there is no problem.

However, in some installations there are multiple journals with different sets of managers. These journals might have nothing in common, except that they are hosted on the same OJS installation.

Sometimes a single user account will be ac

[2022-08-25 18:44] asmecher commented on #8043
IMO both the existing jobs `run_shutdown_function` and acron are imperfect work-arounds for a lack of server-side job support. They will always be at risk of restrictive timeouts (e.g. execution time limits) and prone to bugs where we e.g. assume the current request's user and current job's user are the same.

In the medium term, I expect we'll replace the scheduled_tasks toolset with a Laravel-ba

[2022-08-25 19:54] asmecher commented on #7366
Thanks, @touhidurabir, this is so much better than the confusing interface it replaces! I've merged the `pkp-lib` PR, cherry-picked the OJS one to resolve conflicts, and applied the changes to OMP and OPS as well (they went in verbatim).

[2022-08-25 19:54] #7366 closed

[2022-08-25 21:08] withanage commented on #7563
Hi @NateWr ,

Could you please have a look at this PR ?
ojs
- https://github.com/pkp/pkp-lib/pull/8208

pkp-lib
- https://github.com/pkp/ojs/pull/3512

[2022-08-25 22:13] asmecher commented on #5523
After many deferrals -- and with apologies to @ctgraham, who put a lot of thought and effort into this -- I'm going to close this issue. We removed the 2.x to 3.x upgrade toolset with the release of 3.3.0, so this would need to be fixed in 3.2.x or older, which we're not actively maintaining. For anyone encountering this issue, there is a proposed fix in https://github.com/pkp/customBlockManager/p

[2022-08-25 22:13] #5523 closed

[2022-08-26 02:18] #7485 closed

[2022-08-26 06:48] withanage commented on #7894
Locally tested on Chrome and FF in 3.3.0-11   with the same workflow described by @kshuttle and the issue seems to be fixed and @kshuttle   confirms the workflow steps are as described in the issue .

@NateWr shall we then close the issue  and re-open if needed?

[Demo](https://user-images.githubusercontent.com/1921992/186838999-f00a17e3-a925-4143-9d46-3fa0eeadb8b2.mp4)

[2022-08-26 07:31] Vitaliy-1 commented on #8204
@NateWr, can you take a look?

[2022-08-26 08:00] jonasraoni commented on #6955
Hi @asmecher, please check if there's anything missing, I'll need these updates 😁

As a summary:
All branches: added extra information to the output/XML + code formatter
`/main (stable-3_3_0)`: Fixed a bug
`< stable-3_3_0`: Downgraded the SFTP package to 1.0, mostly to keep the code similar.

[2022-08-26 08:05] jonasraoni commented on #7807
@asmecher I'll need this one too!

Summary:
These PRs just have a single commit to add the certificate authentication. The others are from https://github.com/pkp/pkp-lib/issues/6955.

[2022-08-26 08:53] touhidurabir commented on #7105
@asmecher updated PR. If all tests pass, it should be good to merge with main . also the improvement when queue running via Acron(Basically off the CLI) done at [c6591eb](https://github.com/touhidurabir/pkp-lib/commit/c6591eb61fee87909737b464e773ee4b5bc4e178)

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8133
[ojs](https://github.com/pkp/ojs) --> https://github

[2022-08-26 08:59] defstat commented on #6610
@asmecher I resolved the PR review comments. I added the current PRs in the [top ](https://github.com/pkp/pkp-lib/issues/6610#issue-786485868) comment of the current issue.

[2022-08-26 09:03] touhidurabir commented on #7105
@asmecher updated PR. If all tests pass, it should be good to merge with main . also the improvement when queue running via Acron(Basically off the CLI) done at [c6591eb](https://github.com/touhidurabir/pkp-lib/commit/c6591eb61fee87909737b464e773ee4b5bc4e178)

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8133
[ojs](https://github.com/pkp/ojs) --> https://github

[2022-08-26 09:15] touhidurabir commented on #7920
@asmecher PR for `3.3.0` failed for one job only which does not seems like related to this PR modification .

For the `main` , it failed for all jobs so I have rebased it and new test has started so hopefully it will pass as the failure also seems unrelated to this PR .

[2022-08-26 09:22] touhidurabir commented on #8043
@NateWr as per some discussion with @asmecher, some modification made to the PR [pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8133 to handle when queue jobs dispatching done through acron at [c6591eb](https://github.com/touhidurabir/pkp-lib/commit/c6591eb61fee87909737b464e773ee4b5bc4e178) .

Basically the `Acron` also use `run_shutdown_function` which is not muc

[2022-08-26 10:18] defstat commented on #8137
@Ge2C thanks for reporting that.

The problem in your case seems to be that the export process did not exclude all the REVIEW specific submission files, even though the review rounds are not currently exported by the Native Import/Export plugin.

In the [top ](https://github.com/pkp/pkp-lib/issues/8137#issue-1331031565) comment of the current issue, we have added one [PR ](https://github.com/pkp/p

[2022-08-26 10:41] defstat commented on #8169
@jonasraoni I think that this is directly related to [#8137](https://github.com/pkp/pkp-lib/issues/8137#issue-1331031565). I have proposed a fix for that [here](https://github.com/pkp/pkp-lib/pull/8212). Could you please check if the change proposed resolves this issue as well (It does on my dev installation)

[2022-08-26 12:04] MiguelMenendezOrenga commented on #6057
Hello,
I found this comment of you of most interest:

Did you implement the ability of hiding file metadata during de file upload? (this is something I have never been asked for in my field, and I think it can be quite confussing for most authors), I havn't find a way nor any thread in pkp forum on this issue

![filemetadata](https://user-images.githubusercontent.com/49918305/186899549-a1e6892d-57

[2022-08-26 13:17] my5660 opened #8213 "Upgrade failed: DB: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry for key ‘plugin_settings_pkey"
**Describe the bug**
When trying to upgrade from OJS 3.2.1-4 to 3.3.0-111 I get the errors Upgrade failed: DB: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry ‘index-6-blockTitle’ for key ‘plugin_settings_pkey

**To Reproduce**
Steps to reproduce the behavior:
1. upgrade from Full Package
2. run nohup php tools/upgrade.php upgrade > upgrade.log &
3. seem like plugin_settings

[2022-08-26 13:36] diegoabadan commented on #4104
In the next few days Lepidus will send a plugin with this functionality to the PKP gallery!

[2022-08-26 14:20] bozana commented on #6781
PRs for opt-out for public SUSHI API:
pkp-lib: https://github.com/pkp/pkp-lib/pull/8214
ojs: https://github.com/pkp/ojs/pull/3517
omp: https://github.com/pkp/omp/pull/1187
ops: https://github.com/pkp/ops/pull/338

[2022-08-26 14:21] bozana commented on #6781
@NateWr, could you place review the PRs above? It implements the general possibility for public APIs and opt-out for public SUSHI API as discussed here.

[2022-08-26 16:14] #7864 closed

[2022-08-26 16:34] asmecher commented on #8213
@my5660, I see you've already posted this question on the support forum (https://forum.pkp.sfu.ca/t/upgrade-failed-db-sqlstate-23000-integrity-constraint-violation-1062-duplicate-entry-index-6-blocktitle-for-key-plugin-settings-pkey/74504) -- that's the best place to get help. I'll close this issue.

[2022-08-26 16:34] #8213 closed

[2022-08-26 18:22] Vitaliy-1 commented on #8117
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/8215
OJS: https://github.com/pkp/ojs/pull/3518

[2022-08-26 18:28] asmecher commented on #8073
All merged -- thanks, @defstat!

[2022-08-26 18:28] #8073 closed

[2022-08-26 18:31] asmecher commented on #6610
Looks good, thanks, @defstat. Can you forward-port this to `main`?

[2022-08-26 18:39] asmecher commented on #8093
All merged to `main` -- thanks, @defstat, this is great! This just needs some documentation at the head of the issue so that @NateWr can schedule it for inclusion in the release notebook for 3.4; I'll leave this issue open until that's in place.

[2022-08-26 18:43] asmecher commented on #6003
Closing -- please follow up if there's still an issue!

[2022-08-26 18:43] #6003 closed

[2022-08-26 18:49] asmecher commented on #5798
@NateWr, did this get mooted by your editorial decision changes?

[2022-08-26 19:19] asmecher commented on #7352
In the `main` branch (pre-3.4), the language lists have now been converted to the current language (probably since https://github.com/pkp/pkp-lib/issues/6328). However, this isn't a great solution either. I've updated the issue to show both formulations of the problem and scheduled this issue for 3.4; for 3.3.x, you can customize `registry/locales.xml` as a work-around.

Some examples we can look

[2022-08-26 19:31] fgnievinski commented on #5131
related:
https://github.com/pkp/pkp-lib/issues/5392#issuecomment-1213865709

[2022-08-28 11:10] Ge2C commented on #8137
Thanks for the fix @defstat,

I apply the change based on PR in my OJS installation and try to export/import again, it works like charm and run without error, but the entire REVIEW process is gone. Was the review round not included in the export are intentional? Wouldn't that defeat the purpose of import/export, I mean review progress is required for full article publication?

[2022-08-28 12:53] gurumelo opened #8216 "¿Bug? usageStats"
**Describe the bug**
Enable/disable UsageStats when you have a journal with id=2

**To Reproduce**
Steps to reproduce the behavior:
1. OJS 3.3.X fresh install
2. Create a journal id=1
3. Disable plugin usagestats (if it's enabled)
4. Create a new journal id=2
5. Delete journal id=1 ( Important :1234: )
6. Go to Settings → Website → Plugins
7. You can't enable usageStats

[2022-08-28 16:01] defstat commented on #8137
@Ge2C Thanks for confirming, you have been most helpful.

Yes, the review process is supposed to be gone after the native import/export process, as it, currently at least, does not export the review rounds.

@asmecher the PRs are in the top issue comment for both `stable-3_3_0` and `main` branches for review.

[2022-08-29 05:22] defstat commented on #5048
There is [this](https://github.com/pkp/pkp-lib/issues/8127) related issue. Will revisit it after it's finished. (@asmecher @NateWr @Vitaliy-1)

[2022-08-29 08:31] NateWr commented on #5798
Yes, this is sorted out with @touhidurabir's work on moving back to the review stage.

[2022-08-29 08:31] #5798 closed

[2022-08-29 08:43] NateWr commented on #7352
So is the idea to have the list show in the current locale, then it's own locale?

[2022-08-29 10:20] NateWr commented on #8153
This was an issue on my side. When I set `enable_minify` to `Off` it worked again.

[2022-08-29 10:20] #8153 closed

[2022-08-29 10:33] jonasraoni commented on #8169
@defstat I just checked and I could export, I just got this warning:
`The submission file 21 was skipped because it is attached to a record that will not be imported, such as a review assignment or discussion.`

[2022-08-29 10:35] jonasraoni commented on #8169
Closed in favor of https://github.com/pkp/pkp-lib/issues/8137.

[2022-08-29 10:35] #8169 closed

[2022-08-29 10:37] NateWr commented on #4115
The first option, "Enable these types of notifications", enables _both_ notifications on the user's dashboard (tasks) and an email. This is a very confusing structure, so I think it needs more than a language change. The settings should be disconnected from each other so that you can have either or both:

[2022-08-29 10:39] NateWr commented on #4155
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-29 10:39] #4155 closed

[2022-08-29 10:41] NateWr commented on #4176
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-29 10:41] #4176 closed

[2022-08-29 10:42] #4189 closed

[2022-08-29 10:43] NateWr commented on #4198
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-29 10:43] #4198 closed

[2022-08-29 10:43] NateWr commented on #4217
Closing this as outdated. If you need help with a similar problem, please post in our [community support forum](https://forum.pkp.sfu.ca/c/questions/5).

[2022-08-29 10:43] #4217 closed

[2022-08-29 10:44] NateWr commented on #4226
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-29 10:44] #4226 closed

[2022-08-29 10:44] NateWr commented on #4249
Closing this as outdated. If you need help with a similar problem, please post in our [community support forum](https://forum.pkp.sfu.ca/c/questions/5).

[2022-08-29 10:44] #4249 closed

[2022-08-29 10:47] NateWr commented on #4265
Closing this as outdated. If you can still reproduce this problem in `stable-3_3_0`, consider filing reproduction steps.

[2022-08-29 10:47] NateWr commented on #4270
@asmecher want to keep this one open?

[2022-08-29 11:10] NateWr commented on #7563
Thanks @withanage. I think that all of these cases arise from scenarios where an object has been deleted (review round, query, etc) but the submission file has not been deleted. We should probably clean this up instead of building work-arounds for it in the code.

@asmecher what do you think? See https://github.com/pkp/pkp-lib/pull/8208/files

[2022-08-29 11:16] NateWr commented on #7894
@withanage I notice that you select a user before you click Load More. Can you double-check this with the following order?

1. Click Assign Participant
2. Select Section Editor
3. Click Search
4. Click Load More
5. Then see if the field goes away?

[2022-08-29 11:21] NateWr commented on #7894
Yeah I was able to reproduce this only when I clicked on one of the entries that was shown _after_ I clicked Load More. And only if I did this _first_. Once I click one of the earlier users, the field showed up.

[2022-08-29 11:28] NateWr commented on #8204
@Vitaliy-1 I think this solves the problem with the envelope sender but not the email variables. For example, the URLs generated by `SubmissionEmailVariable` still rely on the request context:

https://github.com/pkp/pkp-lib/blob/d0cd5cc32f94906c5bcac0a59e7ea2b6a03889d9/classes/mail/variables/SubmissionEmailVariable.php#L99-L130

[2022-08-29 11:30] touhidurabir commented on #7725
@NateWr please review

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7725 Decision constants sync up](https://github.com/pkp/pkp-lib/pull/8218)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7725 Decision constants sync up](https://github.com/pkp/ojs/pull/3520)
[omp](https://github.com/pkp/omp) --> [pkp/pkp-lib#7725 Decision constants sync up](https://github.com/pkp/omp/pull/1188)

[2022-08-29 11:37] defstat commented on #7249
@asmecher @NateWr

I was able to reproduce the issue by using a PostgreSQL DB. I am proposing the following changes:

1. The usernames are not allowed, by the form checks, to have uppercase characters. I propose that the emails are also not allowed to contain uppercase characters. I created a new distinct Validation rule for that, to check only for uppercase characters.
2. The `userExistsByUsernam

[2022-08-29 11:38] NateWr commented on #8117
Looks good. Just a few small comments.

[2022-08-29 11:40] NateWr commented on #7249
We shouldn't place limitations on the end-user. If we decide to save emails/usernames in all lowercase, that shouldn't impact the user. They should be able to enter MyEmail@SomeDomain.com and have that work, even if we treat it the same as myemail@somedomain.com.

[2022-08-29 11:45] defstat commented on #7249
I am wondering: if the emails are allowed to be case-sensitive, and we allow the user to enter [MyEmail@SomeDomain.com](mailto:MyEmail@SomeDomain.com), (and decide to keep the email as lowercase) shouldn't we, at least, inform the user that the email that we are keeping is not [MyEmail@SomeDomain.com](mailto:MyEmail@SomeDomain.com) but [myemail@somedomain.com](mailto:myemail@somedomain.com)?

[2022-08-29 12:09] NateWr commented on #7725
Sorry for the delay in replying to your previous questions, @touhidurabir. I've reviewed the code now.

Yes, and Alec might not like me recommending this. But I think it's much easier to have all of the constants defined here in one place. It will prevent us from accidentally getting them out of sync again.

I like how you've done it. I'm sure that was a mind-numbing bit of work. :+1:

This is the

[2022-08-29 12:09] withanage commented on #7894
@NateWr  thanks for looking. I was also able to reproduce as you described. Will  try to  find the cause.

[2022-08-29 12:12] NateWr commented on #7249
To the user it shouldn't matter. Whether they enter MyEmail@SomeDomain.com or myemail@somedomain.com or myemAil@sOmEdomaiN.com we should treat it the same.

They shouldn't be case sensitive. We should ignore case.

[2022-08-29 12:38] defstat commented on #7249
Should the user see in the UI the email, the way he has added it in the first place? I mean he adds MyEmail@something.com in the registration form. Should he see MyEmail@something.com in his contact form, or it's ok to see myemail@something.com. also, where should the system send emails to the user? To MyEmail@something.com or to myemail@something.com.

[2022-08-29 13:03] NateWr commented on #7249
I think it's ok to show them the lower-case email. I think it's pretty rare to see it in the UI.

[2022-08-29 13:15] NateWr commented on #7165
Thanks @ajnyga, I left a couple comments.

Can you try to reproduce the problem that @AhemNason described in the original issue? I had a quick look through the code and didn't see anything that sets the submission's `datePublished` based on the issue. But if you can reproduce it with your changes then we want to handle that too.

[2022-08-29 13:23] NateWr commented on #4284
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-29 13:23] #4284 closed

[2022-08-29 13:24] NateWr commented on #4286
Closing this as outdated. If you can reproduce this in the latest stable version, please post reproduction steps.

[2022-08-29 13:24] #4286 closed

[2022-08-29 13:25] NateWr commented on #4300
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-29 13:25] #4300 closed

[2022-08-29 13:47] ctgraham commented on #4265
This does still exist in 3.3:

In a multicontext install, the setting appears in:

- Administration
  - Site Settings
    - *Settings*

In a single context install, the "Settings" tab is not exposed, and the minimum password length is not reproduced into the journal settings.

![image](https://user-images.githubusercontent.com/7001322/187216209-fb01b559-4601-473f-87e6-8f438fb240be.png)

![image](h

[2022-08-29 15:47] NateWr commented on #4265
@ctgraham can you write reproduction steps? Keep in mind we might assign this to a dev who is not as familiar as you are with single vs multi-context setups.

[2022-08-29 16:42] asmecher commented on #7352
Yes, IMO that would be the best result. The encoding would be implicit (e.g. Latin vs. Cyrillic) but I don't see any benefit in exposing that more explicitly.

[2022-08-29 16:52] asmecher commented on #7725
Not enough to bother mentioning it; there are benefits to both approaches. We might actually move to enums later, and those would require us to specify them all in pkp-lib; it'll be impossible to extend them in the apps. So no objections here.

[2022-08-29 23:27] asmecher commented on #7563
Agreed, @NateWr. This is actually a possible duplicate of https://github.com/pkp/pkp-lib/issues/8073; if it's not, that issue should provide a good example of how we're correcting data issues lately.

This is probably an `assoc_type` / `assoc_id` issue, so we can't add a foreign key relationship, but in cases where that's possible we're adding them as part of https://github.com/pkp/pkp-lib/issues/

[2022-08-29 23:28] asmecher commented on #4270
No, I'll close this, thanks.

[2022-08-29 23:28] #4270 closed

[2022-08-29 23:36] asmecher commented on #7920
Thanks, @touhidurabir -- I've added trivial comments to the `main` and `stable-3_3_0` PRs. Please look those over, and then this will be ready to commit, thanks!

[2022-08-29 23:38] asmecher commented on #8137
Thanks, @Ge2C and @defstat -- much appreciated! All merged.

[2022-08-29 23:38] #8137 closed

[2022-08-29 23:48] asmecher commented on #7546
Thanks, @bozana, this checks out for me too. Can you forward-port to `main`?

[2022-08-30 04:49] touhidurabir commented on #7920
@asmecher updated PRs

### Stable 3.3.0 branch
[omp](https://github.com/pkp/omp) --> https://github.com/pkp/omp/pull/1177

### main branch
[omp](https://github.com/pkp/omp) --> https://github.com/pkp/omp/pull/1183

[2022-08-30 07:03] defstat opened #8219 "Native Import/Export plugin - Security Issue regarding file download"
**Describe the bug**
When the native plugin's export process succeeds, a temp file is created, which then must be downloaded by a second action. There, the corresponding form maintains the filename and not other data that can reproduce the filename, resulting to a security issue.

**What application are you using?**
 OJS, OMP or OPS `main` branch

**Additional information**
Should check if the sam

[2022-08-30 07:27] touhidurabir commented on #7725
@NateWr updated PR

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8218
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3520
[omp](https://github.com/pkp/omp) --> https://github.com/pkp/omp/pull/1188
[ops](https://github.com/pkp/ops) --> https://github.com/pkp/ops/pull/339

[2022-08-30 08:18] nils-stefan-weiher commented on #5299
Hi everyone,

is this part of the 3.4 release? The issue seems not to be part of the milestone, but PRs are already there?

[2022-08-30 09:50] NateWr commented on #4301
Fixed in the commit above.

[2022-08-30 09:50] #4301 closed

[2022-08-30 09:51] NateWr commented on #4304
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-30 09:51] #4304 closed

[2022-08-30 09:52] NateWr commented on #4305
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-30 09:52] #4305 closed

[2022-08-30 09:59] NateWr commented on #4307
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-08-30 09:59] #4307 closed

[2022-08-30 10:00] NateWr commented on #4309
Closing this as outdated. If you need help with a similar problem, please post in our [community support forum](https://forum.pkp.sfu.ca/c/questions/5).

[2022-08-30 10:00] #4309 closed

[2022-08-30 10:16] NateWr commented on #4326
Closing this as outdated. If this is still a problem in the stable version, please provide reproduction steps.

[2022-08-30 10:16] #4326 closed

[2022-08-30 10:17] NateWr commented on #4336
Another issue has been filed with more details about this request. Please follow https://github.com/pkp/pkp-lib/issues/6241.

[2022-08-30 10:17] #4336 closed

[2022-08-30 10:18] NateWr commented on #4339
Closing this as outdated. If you need help with a similar problem, please post in our [community support forum](https://forum.pkp.sfu.ca/c/questions/5).

[2022-08-30 10:18] #4339 closed, assigned to nobody

[2022-08-30 10:31] defstat commented on #6610
@asmecher PRs for the `main` branch are added in the top comment - the PKP-LIB PR also fixes the security issue described [here](https://github.com/pkp/pkp-lib/issues/8219)

[2022-08-30 11:26] NateWr commented on #7725
All merged to `main`. Thanks @touhidurabir!

[2022-08-30 15:59] asmecher opened #8221 "Create stylesheets to upgrade import/export XML"
**Describe the bug**
The PKP Preservation Network ingests XML from the OJS import/export plugin for long-term archiving. The XML is stored in the LOCKSS network in the state it was first exported. As a result, the LOCKSS network contains XML from a wide variety of OJS versions.

When a trigger event occurs requiring the journal to be reconstituted, it'll be much more manageable if the journal's XM

[2022-08-30 19:09] asmecher commented on #7995
I haven't seen these warnings in a while. @jonasraoni and @NateWr, have either of you?

[2022-08-30 19:13] asmecher commented on #7568
Unscheduling from 3.4. @jonasraoni, I'm going to leave you assigned to this because you've already been doing some work on it, but it's not a priority at the moment; please check in before going further, as we'll probably have to disentangle some of the proposed changes. Thanks!

[2022-08-30 19:39] asmecher commented on #6610
Added a review to https://github.com/pkp/pkp-lib/pull/8220#pullrequestreview-1090861817, thanks!

[2022-08-30 20:45] LaisLepidus commented on #4104
We made a [Pull Request](https://github.com/pkp/plugin-gallery/pull/163) for the gallery!

[2022-08-30 23:06] asmecher commented on #7705
Also reported on the forum here: https://forum.pkp.sfu.ca/t/files-for-review-checked-by-default/74256

[2022-08-30 23:16] asmecher commented on #7705
I can confirm that @Tyl13's proposal has the desired effect; thanks, Tyler, I'll commit this for release in 3.3.0-12!

[2022-08-30 23:16] #7705 closed

[2022-08-31 00:11] asmecher opened #8222 "Fix OMP publication format ONIX metadata grid display"
**Describe the bug**
With PHP8.0 and newer, the ONIX metadata grids fail to load when editing a publication format. The error log reports:
[code]

This appears to be caused by a backwards-incompatible PHP8.0 change:
https://www.php.net/manual/en/migration80.incompatible.php

[2022-08-31 00:14] asmecher commented on #8222
Already fixed in `main` by 67b260cc86.

[2022-08-31 00:14] #8222 closed

[2022-08-31 00:27] #8012 closed

[2022-08-31 00:54] asmecher commented on #7330
@Vitaliy-1, I wasn't able to reproduce the problem by following the user's reproduction steps; were you able to reproduce the issue yourself?

[2022-08-31 05:15] asmecher commented on #7725
@touhidurabir, could you have a look at the Travis builds? This appears to have broken the tests for all 3 apps.

[2022-08-31 05:25] touhidurabir commented on #7725
@asmecher I looked into the Travis build. it passed for `OJS` and `OPS`. The build for `OMP` was canceled after a failed build and we discover that that was due to a typo into the `upgrade.xml` so I guess once that fixed, we canceled the test for `OMP` and merged it . can you provide the details where it's breaking or the `travis log` ?

[2022-08-31 05:30] asmecher commented on #7725
Sure, these are the 3 builds where i7725_main were merged:
- https://app.travis-ci.com/github/pkp/ojs/builds/254979579
- https://app.travis-ci.com/github/pkp/omp/builds/254979582
- https://app.travis-ci.com/github/pkp/ops/builds/254979584

The previous builds all appear to pass.

They all appear to fail on the application's API.spec.js. (Actually, I wonder if it's https://github.com/pkp/pkp-lib/is

[2022-08-31 06:02] touhidurabir commented on #7725
@asmecher the build failing is not related to this issue but related to https://github.com/pkp/pkp-lib/issues/7366 . it's failing for the `cypress/tests/integration/API.spec.js` with following error

[code]
but at the same time passing for similar one lies at `lib/pkp/cypress/tests/integration/API.spec.js` is passing . So I think build failing is not related to the PR of this issue .

weirdly I ca

[2022-08-31 07:42] touhidurabir opened #8223 "Update API Key related cypress test"
**Describe the bug**
API Key related cypress tests need update to handle the api key deletion process before creating one so that it does not conflict already existing API Key .

**To Reproduce**
Steps to reproduce the behavior:
1. Login as author/manager
2. Go to `Edit Profile --> API KEY` .
3. If no `API KEY` already available, create one .
4. Run the specific cypress `API.spec.js` and see that

[2022-08-31 08:20] touhidurabir commented on #8223
PRs
[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#8223 API test update](https://github.com/pkp/pkp-lib/pull/8224)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#8223 API test update](https://github.com/pkp/ojs/pull/3521)

@asmecher if the tests passes, I will forward port it to `OMP` and `OPS`. Hope this fix the build failing in the `main` branch .

[2022-08-31 08:25] NateWr commented on #7995
Each warning message indicates an error in the entity's schema file (eg - `submission.json`). So we should leave the error in and fix the schema files as they arise.

I'd suggest closing this issue and filing a separate issue when we encounter a missing property in a schema file.

[2022-08-31 08:41] NateWr commented on #7725
Yeah I merged this yesterday and can confirm all three app's tests were passing on the PR before merge.

[2022-08-31 08:44] touhidurabir commented on #7725
@NateWr yes , the problem is not related to this one but I think related to https://github.com/pkp/pkp-lib/issues/7366 . I have filed as issue https://github.com/pkp/pkp-lib/issues/8223 and made PR that has updated test (only for OJS now). Hope that fix the build failing issue . Weird part is when the PR made for https://github.com/pkp/pkp-lib/issues/7366, we had no issue with build passing .

[2022-08-31 08:58] defstat commented on #6610
@asmecher thanks. Review comments fixed.

[2022-08-31 09:16] NateWr commented on #4343
In 3.4 we will introduce a job runner, which can take long-running jobs like this off of the main request. This will prevent the editor from having to wait for all emails to be sent, so no progress indicator is needed.

I have updated the original description to reflect this.

[2022-08-31 09:40] NateWr commented on #4436
Closing this in favor of #5932.

[2022-08-31 09:40] #4436 closed

[2022-08-31 09:50] NateWr commented on #4457
I've implemented this for 3.4 as part of #7191, in part to resolve the confusion that @librariam describes from the sometimes-automatic-assignment-sometimes-not behaviour. Now journals select who to assign to a new submission and nothing is done automatically.

![editorial-assignments](https://user-images.githubusercontent.com/2306629/187650359-5417bcd6-b1dc-4394-a7ac-fd9ff7d5de4b.png)

This is th

[2022-08-31 09:50] #4457 closed

[2022-08-31 09:58] NateWr commented on #4461
Closing this in favor of https://github.com/pkp/pkp-lib/issues/5955.

[2022-08-31 09:58] #4461 closed

[2022-08-31 10:05] NateWr commented on #4464
@asmecher closing this as non-specific but if you had something particular in mind, please re-open!

[2022-08-31 10:05] #4464 closed

[2022-08-31 10:06] NateWr commented on #4457
@emmauhl this may effect documentation.

[2022-08-31 10:29] defstat commented on #7249
@eniocarboni thanks for reporting that. Could you check whether the fixes proposed [here](https://github.com/pkp/pkp-lib/pull/8226) solve your issue?

[2022-08-31 11:38] jonasraoni commented on #7995
For this issue, if it's not tough, I think it might be worth to create a schema to validate our schemas, just to ensure it's well defined and [catch minor things](https://github.com/pkp/pkp-lib/commit/a7b13f07edf6439d457e6216d6b50cdddbdb8d1d) while building, or in the worst case, to throw an exception where I've added the null coalescing.

[2022-08-31 11:41] bozana commented on #7595
Here a DataCite link, s. the chapter Suffix there: https://support.datacite.org/docs/doi-basics. Thus, they suggest the same characters as Crossref (and additionally ':').

[2022-08-31 12:45] bozana commented on #7595
Regarding URN -- because the changes made applied to it too -- s. https://www.rfc-editor.org/rfc/rfc2141, chapter 2.2 Namespace Specific String Syntax.
It allows: "(" | ")" | "+" | "," | "-" | "." | ":" | "=" | "@" | ";" | "$" | "_" | "!" | "*" | "'"
Plus, added in 2017, s. https://www.rfc-editor.org/rfc/rfc8141#appendix-B: "/", "~", and "&"

I believe that if we constrain it to the characters sup

[2022-08-31 13:06] bozana commented on #7595
Thus, I think, we are OK to consider those Crossref characters in the changes made here https://github.com/pkp/pkp-lib/issues/5505.
Eventually we would like to consider them also for the custom suffixes.

[2022-08-31 13:41] bozana commented on #7330
I've just tested it with stable-3_3_0 and could not reproduce the problem

[2022-08-31 15:38] asmecher commented on #7725
OK, thanks to you both! Closing this again in favour of https://github.com/pkp/pkp-lib/issues/8223.

[2022-08-31 15:38] #7725 closed

[2022-08-31 15:39] asmecher commented on #7995
Not a bad idea, but the current warning should twig the developer that something's wrong too. I'll close this for now and we can file and re-open on a specific case.

[2022-08-31 15:39] #7995 closed

[2022-08-31 16:10] asmecher commented on #7330
Hmm, I still can't duplicate it :upside_down_face: Can you take a look at resolving this, @bozana? Or send me a DB dump and file set that demonstrates?

[2022-08-31 22:37] withanage commented on #7894
Hi @NateWr ,

Could you have a look at the follwing  PRs?

PKP-lib
- https://github.com/pkp/pkp-lib/pull/8229

OJS
- https://github.com/pkp/ojs/pull/3527

[2022-09-01 04:11] israelcefrin commented on #5196
PR to fix it (test passed):
https://github.com/pkp/ojs/pull/3528

[2022-09-01 08:38] NateWr commented on #7894
Merged to `stable-3_3_0` and cherry-picked to `main`. Thanks @withanage!

[2022-09-01 08:38] #7894 closed

[2022-09-01 08:42] NateWr commented on #4481
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-01 08:42] #4481 closed

[2022-09-01 08:43] NateWr commented on #4499
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-01 08:43] #4499 closed

[2022-09-01 08:43] NateWr commented on #4501
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-01 08:43] #4501 closed

[2022-09-01 08:51] NateWr commented on #4512
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-01 08:51] #4512 closed

[2022-09-01 09:31] bozana commented on #7330
I will take a look into both (preview and older versions)...

[2022-09-01 09:48] touhidurabir commented on #8223
@asmecher As the `OJS`. travis build test has passed , I have forward port the changes for `OPS` and `OMP`. all PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8224
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3521
[omp](https://github.com/pkp/omp) --> https://github.com/pkp/omp/pull/1192
[ops](https://github.com/touhidurabir/ops) -->

[2022-09-01 09:58] touhidurabir commented on #8043
@NateWr review the following commits
[e7f21ba](https://github.com/touhidurabir/pkp-lib/commit/e7f21baa0e1c8da0c8c801cc4282996d2cda89c2)
[7645213](https://github.com/touhidurabir/ojs/commit/764521398508d69a63fa9dbc497b5572669bbf96)

it's as per the discussion that we have last time . This update add enhancements that mimics `WP Action Schedular` constrains when running jobs off `CLI` . The constrai

[2022-09-01 10:28] bozana commented on #7330
PRs:
ojs stable-3_3_0: https://github.com/pkp/ojs/pull/3529

[2022-09-01 10:33] bozana commented on #7330
@asmecher, could you take a look at the PR?
Somehow, the problem only occurs when htmlArticleGalley plugin is used.
Else, without the plugin, it somehow works... :-O :thinking:

[2022-09-01 11:25] dennmuel commented on #7595
@bozana, yes, I'm quite occupied with other tasks right now so please go ahead and change as needed. :) Thanks!

[2022-09-01 11:43] bozana commented on #7595
PRs stable-3_3_0:
ojs: https://github.com/pkp/ojs/pull/3531
omp: https://github.com/pkp/omp/pull/1195
ops: https://github.com/pkp/ops/pull/343

[2022-09-01 12:32] jnugent opened #8230 "Custom email templates not present in Notify form after upgrade"
**Describe the bug**
After upgrading from OJS 3.1.2 to OJS 3.3.0.11, completely custom email templates that used to be present in the stage participant notify form are no longer available in the email template dropdown menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Workflow > Emails > Email Templates and create a new custom email template.
3. Go to a submission and cl

[2022-09-01 12:42] bozana commented on #7595
@asmecher, could you take a look at the PRs above?

[2022-09-01 13:17] NateWr commented on #8230
@jnugent I tried to reproduce this in 3.3.0-11 but couldn't. I tried on the test drive install as well and my custom template appeared in the notify form. (I updated the reproduction steps above with my exact steps, maybe I did something wrong?)

I'm guessing this only effects upgrades from 3.1.2? Maybe the custom email template has to be created in 3.1.2? Do you have a sample database you could g

[2022-09-01 13:26] bozana commented on #7300
Hmmm... Strange... I cannot reproduce it, neither with the current stable-3_3_0 branch nor with the tag 3_3_0-7 :thinking:

[2022-09-01 13:43] jnugent commented on #8230
Hi @NateWr  I can provide you with a database, no problem.  I'll reach out via MM.

[2022-09-02 01:03] asmecher commented on #7595
All merged. Thanks, @bozana & all who participated!

[2022-09-02 01:03] #7595 closed

[2022-09-02 01:04] asmecher commented on #8223
All merged; thanks, @touhidurabir!

[2022-09-02 01:04] #8223 closed

[2022-09-02 01:10] asmecher commented on #6610
Thanks, @defstat -- all merged!

[2022-09-02 01:16] asmecher commented on #5774
Thanks, @ajnyga, and sorry for the wait. I've just added some minor comments to https://github.com/pkp/ops/pull/334; please have a look and let me know, and I'll get it merged!

[2022-09-02 10:07] bozana opened #8231 "Consider valid spacial characters in DOI suffix"
For stable-3_3_0 this was fixed with this issue: https://github.com/pkp/pkp-lib/issues/7595, but it needs to be considered in the new DOI code too.

**Describe the bug**
Starting in OJS 3.3, all special characters present in a journal acronym are stripped from the DOI suffix - as per https://github.com/pkp/pkp-lib/issues/5505

This includes the characters that are recognized as [valid by Crossref]

[2022-09-02 10:40] touhidurabir commented on #8043
@NateWr updated commits
[cbce04a](https://github.com/touhidurabir/pkp-lib/commit/cbce04ace7c926cb59ecbe713933cd32ae154461)
[8e33fed](https://github.com/touhidurabir/ojs/commit/8e33fed1fcad197461cf955a0c4abdfd4af24a89)

[2022-09-02 10:41] marcbria opened #8232 "Custom locale plugin - Error in function's signature"
**Describe the bug**
On a clean OJS 3.3.0-11 custom locale plugin fails when you try to edit the files. Error is:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. go to the galley and install&enable "Custom Locale" plugin.
2. go to the plugin tab (Settings > Website > Locales"
3. try to edit any of the existing files.
4. See the error in frontend: "Failed Ajax request or invalid JSON

[2022-09-02 12:08] jonasraoni commented on #8232
Hi @marcbria!

I've just checked the plugin and found this commit on its `stable-3_3_0` branch: https://github.com/pkp/customLocale/commit/5f9ae4de53d9f350cd8567b4b24f30b1425a34d7, which seems to address the issue you had.

[2022-09-02 12:12] jonasraoni commented on #8232
So, looks like we just need to release a new version of the plugin, as the [tag `v1_1_0-1` doesn't have the fix](https://github.com/pkp/customLocale/blob/v1_1_0-1/controllers/grid/form/LocaleFileForm.inc.php). :)

[2022-09-02 12:20] bozana commented on #7796
PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/8233
crossref-ojs: https://github.com/pkp/crossref-ojs/pull/15
ojs: https://github.com/pkp/ojs/pull/3533
crossref-ops:
ops:

[2022-09-02 12:20] bozana commented on #7796
@NateWr, could you take a look at the PRs above? In the meantime I will prepare the PRs for OPS...

[2022-09-02 18:20] marcbria commented on #8232
No hurry at all.

Thanks Jonas!

[2022-09-02 23:20] asmecher commented on #7330
The PRs appear to work for me -- that is, I wasn't able to replicate the problem before, but the changes continue to work as expected. @ctgraham, can you test one of the PRs with your replication of the problem?

[2022-09-02 23:38] ctgraham commented on #7330
Already confirmed in the OJS PR.
https://github.com/pkp/ojs/pull/3529#issuecomment-1234266063

[2022-09-02 23:41] asmecher commented on #7330
Perfect -- thanks, all! Merged.

[2022-09-02 23:41] #7330 closed

[2022-09-03 00:21] asmecher commented on #7871
The design choices made here are being revised again over here: https://github.com/pkp/pkp-lib/issues/7352

[2022-09-03 15:51] marcbria commented on #3624
Reading documentation about GDPR and OJS (by James, Antti-Jusi, Dulip... back in 2018) I arrive to this issue.
Documentation says "a future version of OJS will have an explicit cookie consent option").

Nate I don't know about any plugin for OJS 3.x to solve this... apart of an old attempt from Anti-Jussi (for OJS 3.1?).

Most of the people solved this adding a cookie-consent library to our header

[2022-09-05 05:46] defstat commented on #8219
Closing that in favor of https://github.com/pkp/pkp-lib/issues/6610

[2022-09-05 05:46] #8219 closed

[2022-09-05 10:39] NateWr commented on #3624
Ok thanks. I had a read over this issue and #6340 and I can see we're touching on several things. Based on the discussion above, we want to be able to run OJS without requiring cookie consent until a user registers. I have updated the issue title and description to reflect this.

The comments also discussed using a config option to require a cookie consent notice anyway. When work is ready for tha

[2022-09-05 10:52] NateWr commented on #8043
Looks good @touhidurabir. :+1:

[2022-09-05 11:33] Vitaliy-1 commented on #8204
Thanks, I've updated the PRs to rely on the submission's context rather than on the request in email template variables.

[2022-09-05 12:06] bozana opened #8236 "List of functionality to test before 3.4 release"
This issue collects/maintains the list of things that needs to be tested before 3.4 release:
- [x] GoogleAnalytics (UA or GA4)
- [ ] Usage stats migration
- [ ] Usage stats log file conversion
- [ ] Usage stats monthly reprocessing,
- [ ] Usage stats normal daily logging and stats compilation
- [ ] COUNTER (v4 and v5)
- [ ] Crossref (export, registration)
- [ ] Editorial Decisions
  - [ ] Can reco

[2022-09-05 13:13] bozana commented on #7691
PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/8237
ojs: https://github.com/pkp/ojs/pull/3536

[2022-09-05 13:14] bozana commented on #7691
@NateWr, may I ask you to take a look at the PR?

[2022-09-05 13:34] NateWr commented on #8043
Thanks @touhidurabir, looks good!

[2022-09-05 13:38] NateWr commented on #7691
@bozana looks good. Do we need this for OPS or OMP too?

[2022-09-05 13:53] NateWr commented on #4523
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-05 13:53] #4523 closed

[2022-09-05 13:55] NateWr commented on #4548
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-05 13:55] #4548 closed

[2022-09-05 13:57] NateWr commented on #4549
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-05 13:57] #4549 closed

[2022-09-05 13:57] NateWr commented on #4555
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-05 13:57] #4555 closed

[2022-09-05 13:59] NateWr commented on #4558
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-05 13:59] #4558 closed

[2022-09-05 14:00] NateWr commented on #4566
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-05 14:00] #4566 closed

[2022-09-05 14:29] NateWr commented on #4569
PRs:
https://github.com/pkp/pkp-lib/pull/8238
https://github.com/pkp/ojs/pull/3537
https://github.com/pkp/omp/pull/1197
https://github.com/pkp/ops/pull/346

[2022-09-05 15:59] bozana commented on #7691
Thanks @NateWr! I've merged. Nothing needed for OMP and OPS -- no such plugin there...

[2022-09-05 15:59] #7691 closed

[2022-09-05 19:22] asmecher commented on #3624
Yes, @NateWr, that looks accurate. But we do need to consider how we store the user's current locale if we don't depend on cookies; in the installer a cookie is used directly, and once installed the system uses `Session::setUserVar` (which depends on the session cookie). Otherwise we should be fine.

[2022-09-05 20:13] withanage opened #8239 "Update Cyppress Framework to latest version"
**Describe the Issue**
- Functionalities introduced in later Cypress versions are necessary to facilitate certain functions, e.g. cross-domain testing
- As a maintenance task

**What application are you using?**
 OJS, OMP and  OPS
**Additional information**
. - To introduce new cypress e2e configuration , a `cypress.config.js` has to be introduced.
-  [IntegrationFolder](https://docs.cypress.io/gu

[2022-09-05 20:15] withanage commented on #8239
Hi @asmecher, here I have added the ticket for the cypress upgrade.

[2022-09-06 07:23] Vitaliy-1 commented on #8117
@NateWr, I've updated PRs. It appears that `QueuedPaymentEmailVariable` already exists, no need to add those variables individually to the Mailable.

[2022-09-06 08:00] marcbria commented on #3624
Sorry for the misunderstanding.
Reading it again, now it's much clearer to me.

But even if OJS is able to function without cookies (which, by the way, as they would be "legitimate cookies" I think is a desirable but not essential functionality), plugins will still use them, so the need for a way to block them is still necessary to comply with GDPR, don't you think?

@NateWr I searched, but I coul

[2022-09-06 10:11] bozana commented on #7796
@NateWr, I corrected the PRs according to your comments. Would you maybe like to take another look?
Thanks a lot!

[2022-09-06 10:43] NateWr commented on #3624
@asmecher is the infrastructure lead so I'll let him decide where he wants to have that discussion.

[2022-09-06 10:47] NateWr commented on #7796
Looks good @bozana!

[2022-09-06 10:56] NateWr commented on #8117
Thanks @Vitaliy-1, I've merged those PRs to `main`. Nothing required for OMP/OPS, right?

[2022-09-06 10:56] #8117 closed

[2022-09-06 11:00] touhidurabir commented on #7105
@asmecher updated PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8133
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3476
[omp](https://github.com/pkp/omp) --> https://github.com/pkp/omp/pull/1199
[ops](https://github.com/touhidurabir/ops) --> https://github.com/pkp/ops/pull/348

if the tests passes, it's good to merge .

[2022-09-06 11:15] Vitaliy-1 commented on #8117
Yes. It's for shared library and OJS only

[2022-09-06 11:32] #7796 closed

[2022-09-06 12:14] touhidurabir commented on #7352
✔ English
Arabic (عربى)
Ukrainian (українська)

@asmecher  In that case do we plan to remove the `country` name ? Right now we shows as
[code]

we have same language with different country . if we plan to remove the country, then it make no sense to have multiple language like `French` for `Canada` and `France` . in that case, we will have something like this

[code]

but I think that will be a br

[2022-09-06 12:23] NateWr commented on #7352
We should remove the country name. This causes a fair amount of confusion and sometimes controversy.

[2022-09-06 12:34] touhidurabir commented on #7352
@NateWr in that case how are we going to how the locale lists as `French (Canada)` as locale value `fr_CA` and `French (France)` has locale value `fr_FR` ? So if a journal/context has already installed `fr_CA` but in our list we can only show
[code]
without country . so what value it should be ? we will have no way to show option for both value `fr_CA` and `fr_FR` .

[2022-09-06 14:43] NateWr commented on #7352
I did an informal survey on Mattermost with some large hosts and I found that this case is not really used. The only cases they found where two variants of the same language with the same character set were installed were a few `pt_BR` and `pt_PT`. The publishers thought this was likely an attempt at inclusion because before our language always included the country.

In other words, they just want

[2022-09-06 14:47] asmecher commented on #7352
@touhidurabir, the country is already excluded in the `main` branch; see https://github.com/pkp/pkp-lib/issues/7871 for details about that change.

[2022-09-06 15:04] NateWr commented on #4569
Merged to `main`.

[2022-09-06 21:39] asmecher commented on #8230
@jnugent, can you send me a copy of the DB? I can take a look, thanks.

[2022-09-07 09:05] NateWr commented on #4603
Closing this as outdated. We now use [weblate](https://translate.pkp.sfu.ca/) to manage our translations.

[2022-09-07 09:05] #4603 closed

[2022-09-07 09:07] NateWr commented on #4617
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-07 09:08] NateWr commented on #4621
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-07 09:08] #4621 closed

[2022-09-07 09:08] NateWr commented on #4644
Closing this as outdated. We now manage translations through [weblate](https://translate.pkp.sfu.ca/).

[2022-09-07 09:08] #4644 closed

[2022-09-07 09:14] NateWr commented on #4660
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-07 09:14] #4660 closed

[2022-09-07 09:14] mpbraendle commented on #4603
tx!

[2022-09-07 09:14] NateWr commented on #4661
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-07 09:14] #4661 closed

[2022-09-07 09:17] NateWr commented on #4671
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [discussions](https://github.com/pkp/pkp-lib/discussions).

[2022-09-07 09:17] #4671 closed

[2022-09-07 09:18] NateWr commented on #4673
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-07 09:18] #4673 closed

[2022-09-07 09:22] NateWr commented on #4667
Closing this in favor of the [feature request](https://forum.pkp.sfu.ca/t/ojs-3-archives-group-by-year/28848/31) on the forum.

[2022-09-07 09:22] #4667 closed

[2022-09-07 09:43] bolelligallevi commented on #5574
Hi @NateWr, we are using OJS 3.2 and OMP 3.1 and we would like to share usage stats of our journals and books... Something like this https://www.uclpress.co.uk/pages/statistics
There's some new feature in 3.3 or planned for future versions?
Best regards
Stefano

[2022-09-07 09:46] NateWr commented on #5574
No, this is not available or planned at this time. You can see what is planned for future versions in our [roadmap](https://pkp.sfu.ca/roadmap).

[2022-09-07 09:54] bolelligallevi commented on #5574
Thanks!

[2022-09-07 11:01] bozana commented on #6781
@NateWr, I changed the way we make the APIs public according to your and Alec's comments. Could you please take another look? (OMP and OPS are coming...)
@asmecher, maybe you would like to take a look too?

[2022-09-07 15:25] denismaier commented on #5752
Any news on this one? I'd be super nice to have such an option. My use case is as follows: Our journal uses a continuous publication model. Similar to what is proposed in the [documentation](https://docs.pkp.sfu.ca/learning-ojs/en/production-publication#continuous-publishing), we open a new issue when the first article in a given year is ready for publication. Then, we add additional articles and

[2022-09-07 21:23] asmecher commented on #7807
All merged, thanks!

[2022-09-07 21:23] #7807 closed

[2022-09-07 21:24] asmecher commented on #6955
I've merged the PRs on https://github.com/pkp/pkp-lib/issues/7807, and the ones here appear to be closed -- is something more awaiting merging?

[2022-09-07 22:36] asmecher commented on #8230
This turned out to be a data issue in the 3.1.2 database (possibly predating even that). Custom email templates should not have corresponding entries in the `email_templates_default` database table (this is how they are distinguished from built-in templates). However, they did exist in this database. Deleting them results in the templates appearing as expected in the "notify" drop-down.

I suspect

[2022-09-07 22:36] #8230 closed

[2022-09-07 22:46] asmecher commented on #3624
I can't think of any plugins that rely on cookies, and they would be free to use the PHP `setcookie` function as nicely or destructively as they want; I don't think we can enforce anything about that.

[2022-09-07 22:48] asmecher commented on #7105
@touhidurabir, the OMP tests are still failing on testing the search functionality; if I remember correctly, the search indexing for published submissions has been moved to a task, so this suggests that it's not getting executed.

[2022-09-07 22:52] asmecher commented on #6039
I believe this has already been resolved for 3.4, probably thanks to a TinyMCE update -- testing the `main` branch, when the toolbar's width exceeds the available area, the tool menu (or, if space permits, a piece of it) turns into a `...` menu:
![image](https://user-images.githubusercontent.com/200411/188997119-e5fd8757-1293-465d-aeaa-c2e77e3f80e5.png)

[2022-09-08 06:16] jonasraoni commented on #7807
Nope, just these ones. Thanks 🎉

[2022-09-08 08:20] NateWr commented on #6039
Confirmed on my end. :tada:

[2022-09-08 08:53] NateWr commented on #4685
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-08 08:53] #4685 closed

[2022-09-08 08:55] NateWr commented on #4687
Closing this as outdated. If you feel this is still important, please consider adding to the [configuration proposal](https://github.com/pkp/pkp-lib/discussions/8015) in the discussions.

[2022-09-08 08:55] #4687 closed

[2022-09-08 09:18] NateWr commented on #4700
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-08 09:18] #4700 closed

[2022-09-08 09:19] NateWr commented on #4707
Closing this as outdated. We are now managing translations through [weblate](https://translate.pkp.sfu.ca).

[2022-09-08 09:19] #4707 closed

[2022-09-08 09:20] NateWr commented on #4708
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [discussions area](https://github.com/pkp/pkp-lib/discussions).

[2022-09-08 09:20] #4708 closed

[2022-09-08 09:21] NateWr commented on #4725
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-08 09:21] #4725 closed

[2022-09-08 09:21] NateWr commented on #4729
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-08 09:21] #4729 closed

[2022-09-08 10:35] bozana opened #8240 "Consider parent object ID in DAO exists and get functions"
Consider the parent object ID in the DAOs functions `exists` and `get`, so that we can check e.g. if submission exists for a context.

[2022-09-08 11:00] ajnyga commented on #6875
ping @asmecher one of our journals bumped again to this issue, did you check the solution linked above? If it seems safe, would like to fix it in our server.

[2022-09-08 11:43] amandastevens commented on #4087
I see this as more of a bug than a feature request, as all files are not being shown when the user clicks "Show files from all accessible workflow stage" and files cannot be moved from the Review stage to the Copyediting stage after the Review stage has been completed.

I just tested this in OJS 3.3 (on the testdrive site) and it hasn't changed. To reproduce:

1. Log in as the author of a submissi

[2022-09-08 11:59] ronste opened #8241 "Auther full name exposed to reviewers via editorial descision email templates in double blind review"
**Describe the problem you would like to solve**
When sending an editorial decision to the auther the option can be enabled to send a bcc copy to selected reviewers. Since all default e-mail templates contain the full name of the auther, the reviewer can see the authers name even when a double blind review is enabled.

**Describe the solution you'd like**
Change the language around the option to b

[2022-09-08 12:28] touhidurabir commented on #4789
@NateWr PRs to review

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8242
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3538

I will start testing it for `OMP` as we have `Internal Review` system, so some extra modification may require for `OMP` .

[2022-09-08 13:47] bozana commented on #8240
@NateWr, may I ask you again to take a look at the PRs?
OMP and OPS would then only have pkp-lib submodule update...

[2022-09-08 22:49] tmrozewski-york opened #8245 "Show Role Title in Contributor List works in issue table of contents but not on article metadata page (OJS 3.3.0.11)"
**Describe the bug**
If I check "show role title in contributor list" in the Role Options for a given Role (`Users & Roles > Roles`), those role titles appear in the contributor list in the issue table of contents ([example](https://lobo.journals.yorku.ca/index.php/default/issue/view/9)) but not in the contributor list for the article's metadata ([example](https://lobo.journals.yorku.ca/index.php/

[2022-09-09 01:33] asmecher commented on #8245
@tmrozewski-york, I think this is a duplicate of https://github.com/pkp/pkp-lib/issues/5739.

[2022-09-09 01:35] asmecher commented on #5739
@ajnyga, I put together a PR for this during the Bogota sprint; would it serve your needs?

https://github.com/pkp/ojs/pull/3446

[2022-09-09 04:18] ajnyga commented on #5739
Thanks! It does seem to fix the presentation on the landing page.

I think we still have a problem with upstream uses of the data. For example DOAJ, ORCID, Crossref, OAI-PMH. All these do not consider that some contributors are not authors. IMO to only viable solution here is to have the ability to define a usergroup to be an `author usergroup` using some taxonomy. This will enable us to query the

[2022-09-09 04:25] ajnyga commented on #6875
Note that this probably can also happen if a journal manager is assigned to a submission using an assistant role, like layout editor. You see the same behaviour: buttons for publishing are visible, but the use of the actions is blocked by the policies.

[2022-09-09 12:59] bozana commented on #7300
I've just tried it with the current stable-3_2_1 and could not reproduce it.
@pmangahis, would it be possible for you to give me some more information? Maybe what languages have you installed and how (all during the installation, or later)? Also maybe if you have done any further settings after the installation? Any major steps you make...
Thanks a lot!

[2022-09-09 13:48] bozana commented on #7292
It seems this issue is solved? Can I then close the issue?

[2022-09-09 16:26] asmecher commented on #3624
Those **plugins** don't rely on cookies, but the services they integrate might. But again, I don't think we have any way to prevent that from happening -- the custom header plugin is a good example; people can put whatever JS they want into it. Maybe I misunderstood what you're proposing?

[2022-09-09 16:27] asmecher commented on #6955
I think https://github.com/pkp/pkp-lib/issues/7807#issuecomment-1240271357 was supposed to be on this issue. If that's the case -- can this be closed?

[2022-09-09 16:51] asmecher commented on #5739
Agreed about taxonomy and non-author contributions. We looked into this pretty heavily during the CRediT sprint sessions, and while CRediT is being widely adopted and at least adds a common vocabulary (good), it's not goot at all at distinguishing between e.g. translator and author (probably our biggest use case). So we'll be stuck with half-measures for the moment, and I'm hoping the PR is a step

[2022-09-09 17:01] pmangahis commented on #7300
@bozana I just installed 3_2_1 (only English installed) again and do not see this issue anymore. It looks like we're also installing 3.3 for new clients at this point. I did see this broken email template on a fresh journal we installed in August 2022 (3.3.0.7).  I will ask the systems team to comment on this

[2022-09-09 17:21] joshnoronha commented on #7300
@bozana I set up a 3.3.0.7 install in August and the issue is there (only English installed, as Patricia). I did not noticed it until now, since the client does not use Paypal.

[2022-09-09 18:34] jonasraoni commented on #6955
I've created the other PRs based on these ones, so I'm closing this issue :)

[2022-09-09 18:34] #6955 closed

[2022-09-09 19:25] asmecher commented on #7292
I think so, thanks!

[2022-09-09 19:25] #7292 closed

[2022-09-09 19:42] asmecher commented on #8093
@defstat, it also looks like there's still a call to `UserGroupDAO` in https://github.com/pkp/citationStyleLanguage/blob/main/pages/CitationStyleLanguageHandler.inc.php#L138; could you refactor this?

[2022-09-09 21:04] tmrozewski-york commented on #8245
@asmecher yeah, it looks like that item covers this issue (and others besides). Sorry I didn't catch that when searching for a duplicate before logging this.

[2022-09-09 21:04] #8245 closed

[2022-09-09 21:16] asmecher commented on #8245
Not a problem, the issue list is daunting and often hard to search!

[2022-09-09 21:35] asmecher commented on #5739
I'm choosing to resolve this *only* for OJS 3.4.0, not OMP and OPS, as the display requirements there haven't been vetted and are likely different (especially OMP for chapters).

[2022-09-09 23:24] asmecher commented on #4087
@NateWr, maybe you were thinking of https://github.com/pkp/pkp-lib/issues/7705? That was just for default checkbox states, not what files are listed.

[2022-09-09 23:36] asmecher commented on #6875
@ajnyga, sorry for the wait; your proposed change is low-risk as you've noted, and it looks like you've already agreed with @NateWr about the workflow implications. I'm OK to go ahead with https://github.com/pkp/pkp-lib/commit/b1d0f13be698a740e1bd44aeff742ccefe53e0ec.

[2022-09-10 07:54] ajnyga commented on #6875
what do you think about assistant roles? The thing is that I am not 100% what the purpose of the loop is where I am suggesting the changes to. I mean what is the original purpose of it.

[2022-09-10 13:39] Muhammad-Naseer commented on #1897
; Use SMTP for sending mail instead of mail()
 smtp = On

; SMTP server settings
 smtp_server = smtp.gmail.com
 smtp_port = 587

; Enable SMTP authentication
; Supported mechanisms: ssl, tls
 smtp_auth = tls
 smtp_username = "abce@domain.com"    // for example
 smtp_password = "ABC#124"

I am using above smtp settings in ojs 3.3.0.11. This was work few days ago but now its not working. Getting err

[2022-09-10 18:03] asmecher commented on #1897
@Muhammad-Naseer, can you post questions like this on our support forum (https://forum.pkp.sfu.ca)? That's the best place to get help.

[2022-09-12 06:16] swabsape commented on #6413
how to install the gnu patch to windows?

[2022-09-12 06:32] Ge2C commented on #6413
@swabsape you can use [chocolatey](https://chocolatey.org) to install GNU

[2022-09-12 08:05] Vitaliy-1 commented on #8204
@NateWr, I've moved DAO calls from Mailables/Variables. Can you check if I haven't forgotten anything from what we discussed?  (This is only for OJS and shared library)

[2022-09-12 09:09] NateWr commented on #4087
Ah right. I've re-opened this. @amandastevens in your last comment, you said:

Is this important? Does the submission need to be moved from review to copyediting (for example with an accept decision) before you encounter this error?

[2022-09-12 09:29] NateWr opened #8246 "Add font-display: swap to use system fonts until font files are loaded"
**Describe the problem you would like to solve**
Until the font files are loaded in the browser, the text will remain invisible. This can be especially problematic when the request takes a long time to return.

**Describe the solution you'd like**
Add `font-display: swap` to all places where we load fonts (`@font-face`) so that text is shown in the system font until the custom fonts are loaded.

*

[2022-09-12 09:32] NateWr commented on #8246
Initial PR from @lucasDevLepidus is here: https://github.com/pkp/pkp-lib/pull/8244

[2022-09-12 09:57] jonasraoni commented on #7623
PRs below, I'll probably add some simple tests later.
- https://github.com/pkp/ops/pull/350
- https://github.com/pkp/ops/pull/351

[2022-09-12 10:06] touhidurabir commented on #4789
@NateWr updated PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8242
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3538
[omp](https://github.com/touhidurabir/omp) --> https://github.com/pkp/omp/pull/1201

[2022-09-12 10:39] ronste opened #8247 "One-click Reviewer Access provides full access to reviewer account"
**Describe the bug**
When enabling the feature "One-click Reviewer Access" a link containing a special access key is send to the reviewer to easily access the submission he/she is invited to review.

The description of the feature states: "Reviewers can be sent a secure link in the email invitation, which will allow them to access the review without logging in. Access to other pages requires them

[2022-09-12 11:13] touhidurabir commented on #7105
@asmecher updated PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8133
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3476
[omp](https://github.com/pkp/omp) --> https://github.com/pkp/omp/pull/1199
[ops](https://github.com/touhidurabir/ops) --> https://github.com/pkp/ops/pull/348

`OMP` test has passed after the cypress test update . I

[2022-09-12 11:55] bozana opened #8248 "Tab Separated Values reporting for COUNTER R5"
The COUNTER R5 SUSHI API was implemented here: https://github.com/pkp/pkp-lib/issues/6781
However, COUNTER requires also TSV reports.
This issue requires some UI work.
(This issue could be implemented after the release 3.4)

PRs:

stable-3_4_0:
- https://github.com/pkp/ui-library/pull/309
- https://github.com/pkp/pkp-lib/pull/9600
- https://github.com/pkp/ojs/pull/4137
- https://github.com/pkp/omp

[2022-09-12 13:47] NateWr opened #8249 "Uncaught Error: Class "ReviewReminder" not found"
**Describe the bug**
I get the following error when running the `main` branch.

**To Reproduce**
Reproduction steps are hard to specify, because it happens with every page load. I assume it depends on what scheduled tasks are configured and when they were last run. However, this is what is in my `scheduled_tasks` table:

[code]

**What application are you using?**
3.4 pre-release (main branch)

**

[2022-09-12 15:13] NateWr opened #8250 "Improve help text for statistics settings forms"
**Describe the problem you would like to solve**
Some of the statistics settings forms could use some improvements to the help text.

**Describe the solution you'd like**
Recommendations coming in a PR.

**Who is asking for this feature?**
No one yet.

**Additional information**
In addition to the text adjustments, the following things could be addressed:

1. Depending on the site settings, the co

[2022-09-12 15:17] NateWr commented on #8250
@bozana here are a couple of PRs that implement some recommendations for the text changes:

https://github.com/pkp/pkp-lib/pull/8251
https://github.com/pkp/ojs/pull/3540

Take a look and make sure I haven't said anything incorrect. I haven't set up the tests or anything because I thought you'd need to pull these changes into your own branch, and set up the OMP/OPS locale keys too.

[2022-09-12 16:07] NateWr commented on #4789
Hi everyone, @touhidurabir has just about implemented this but we still need to answer a question: what exactly is the editor doing when they permit a declined review to be reinstated? Are they re-sending the review request to the reviewer, and the review should accept/decline the assignment again? Or are they simply changing the reviewer's decision from decline to accept, and the reviewer should

[2022-09-12 16:20] amandastevens commented on #4087
Thanks for reopening, Nate.  I just tested whether this is also the case when the submission is still in the Review stage and hasn't been moved to the Copyediting stage with an editorial decision, and yes, the files uploaded as Revisions are still not available to upload under Draft Files in the Copyediting stage.  I don't know if there are many cases where a journal would start copyediting a subm

[2022-09-12 16:38] NateWr commented on #8241
I consider this a poor design choice, but not a bug. When bcc'ing a recipient, the sender should know that the recipient will see the email as-is. This is the standard way that email works. For this reason, we have moved away from this approach in 3.4. Reviewers are now sent a separate email rather than BCC'd on the author's email.

We don't have any plans to change this behavior for 3.3. We don't

[2022-09-12 16:40] NateWr commented on #8247
I believe the description is incorrect. @asmecher do you know if this has always been the case? Or did this behavior change at some point?

[2022-09-12 16:42] NateWr commented on #4730
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-12 16:42] #4730 closed

[2022-09-12 16:44] NateWr commented on #4733
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-12 16:44] #4733 closed

[2022-09-12 16:45] NateWr commented on #4734
These suggestions were implemented as part of https://github.com/pkp/pkp-lib/issues/7191.

[2022-09-12 16:45] #4734 closed

[2022-09-12 16:47] NateWr commented on #4744
Closing this as outdated. If you need help with a similar problem, please post in our [community support forum](https://forum.pkp.sfu.ca/c/questions/5).

[2022-09-12 16:47] #4744 closed

[2022-09-12 16:50] NateWr commented on #4748
@ctgraham many of these methods have been deprecated. I'll close this for now but if you want to continue working on it, I'll re-open and flag for dev housekeeping.

[2022-09-12 16:50] NateWr commented on #4769
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-12 16:50] #4769 closed

[2022-09-12 16:51] NateWr commented on #4770
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-12 16:51] #4770 closed

[2022-09-12 16:52] NateWr commented on #4782
We have converted some of these "new notification" emails to more specific mailables for 3.4. I'll close this but feel free to open an issue with a specific proposal about a specific email that could be improved.

[2022-09-12 16:52] #4782 closed

[2022-09-13 04:19] ibnusulaiman83 commented on #6768
i am login as site admin but still access denied to access Administration Menu. Can you guide me

[2022-09-13 06:04] asmecher commented on #6768
@ibnusulaiman83, please post your question on our support forum at https://forum.pkp.sfu.ca; that's the best place to get help.

[2022-09-13 07:51] ajnyga commented on #8093
Quicksubmit is affected by this and broken at the moment

[2022-09-13 08:10] ajnyga commented on #7165
1. New issue, not published, set pubDate to 2022-09-01

2. New article with quicksubmit, choose the new issue, set article Pubdate to 2022-09-10

3. After adding the article go to see article details -> **The article pubdate is NULL!**
I also checked the db for this, publication date_published is NULL
The publication status is scheduled like it should be

4. Publish the issue -> **The article  pub

[2022-09-13 08:18] ajnyga commented on #7165
When the issue is published, this is called: https://github.com/pkp/ojs/blob/main/classes/controllers/grid/issues/IssueGridHandler.php#L592

With the set pubDate being just NULL in these cases, I guess you just end up setting it to the current date.

[2022-09-13 08:21] NateWr commented on #7165
It seems like what's outlined in this comment is still relevant: https://github.com/pkp/pkp-lib/issues/7165#issuecomment-871211666. Does something more need to be done?

[2022-09-13 08:23] ajnyga commented on #7165
I think quicksubmit too needs fixing. It seems that it does not respect the publication date given by the user at all

[2022-09-13 08:23] ajnyga commented on #7165
I think we need to think about the whole palette before doing any more changes.

[2022-09-13 08:24] defstat commented on #8093
@ajnyga could you please provide the reproduction steps and possible php errors?

[2022-09-13 08:37] NateWr commented on #4799
Closing this as low priority. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-13 08:37] #4799 closed

[2022-09-13 08:37] NateWr commented on #4814
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-13 08:37] #4814 closed

[2022-09-13 08:37] NateWr commented on #4817
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-13 08:37] #4817 closed

[2022-09-13 08:39] NateWr commented on #4819
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [discussions](https://github.com/pkp/pkp-lib/discussions) section.

[2022-09-13 08:39] #4819 closed

[2022-09-13 08:39] NateWr commented on #4832
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-13 08:39] #4832 closed

[2022-09-13 08:40] NateWr commented on #4835
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-13 08:40] #4835 closed

[2022-09-13 08:40] ronste commented on #8241
Hi @NateWr ,

I fully understand that it's not a good idea to change how features work in a stable version. I appreciate this behaviour is revised in version 3.4. However, for all older versions editors might not easily make the connection between bcc-ing the mail and exposig the authers names to the reviewers.
I think at least a warning could be placed in the description on the form, that using t

[2022-09-13 08:42] NateWr commented on #4848
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-09-13 08:42] #4848 closed

[2022-09-13 08:45] NateWr commented on #4902
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-13 08:45] #4902 closed

[2022-09-13 08:46] NateWr commented on #4855
This is a duplicate of https://github.com/pkp/pkp-lib/issues/6291. Please follow that issue to see discussion on this topic.

[2022-09-13 08:46] #4855 closed

[2022-09-13 08:48] NateWr commented on #4889
Closing this as outdated. If you can reproduce this with the default theme on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-13 08:48] #4889 closed

[2022-09-13 08:50] NateWr commented on #4914
Closing this as outdated. If you can reproduce this on a recent stable version, please provide reproduction steps and we can re-open this.

[2022-09-13 08:50] #4914 closed

[2022-09-13 08:51] NateWr commented on #4918
Closing this because we do not currently support MS SQL.

[2022-09-13 08:51] #4918 closed

[2022-09-13 08:55] NateWr commented on #8241
Thanks @ronste. I think we'd be open to a language change. Can you suggest better language that fits into the form there?

[2022-09-13 09:12] ronste commented on #8241
To keep it simple I would suggest something like

"Send a copy of this email notification (might include auther names) by BCC to the following reviewers."

[2022-09-13 09:30] ajnyga commented on #7165
This is probably the source of the problem: https://github.com/pkp/ojs/blob/main/classes/publication/Repository.php#L157-L166

[code]

If the issue is not published when you add new articles with quicksubmit, that will set the article pubdate to NULL.

[2022-09-13 09:53] NateWr commented on #7165
:thinking: if the issue is not published, the quicksubmit plugin shouldn't be trying to publish a publication, right?

[2022-09-13 10:03] ajnyga commented on #7165
Quicksubmit has two options:
1. This is not published, meaning that the submission in sent to production stage
2. This is published, meaning that you need to choose an issue (future or published) and set a pubDate for the article

If you choose 2, then this happens https://github.com/pkp/quickSubmit/blob/main/QuickSubmitForm.inc.php#L378

[2022-09-13 10:06] jonasraoni commented on #7623
Hi @bozana! I've heard you're going to review this issue :)
This is basically a copy of OJS's web feed plugin with minor updates, I didn't spend much time trying to improve it (besides updating some syntaxes). As there's few code, the only thing I'd change would be to separate the rss/rss2/atom into "modules", and it's always worth to add some basic tests.

Feel free to review. Once it's tested/ap

[2022-09-13 10:09] #8240 closed

[2022-09-13 10:10] ajnyga commented on #7165
I would be inclined to do something like this:

[code]

[2022-09-13 10:11] ajnyga commented on #7165
But when does the `else` happen? How can you publish without an issue in OJS?

[2022-09-13 10:22] bozana commented on #7300
Thanks a lot @pmangahis and @joshnoronha. It seems this issue appears now and then, not regularly :-( This makes it extreme hard to debug and figure out what is going wrong :-(
Are there maybe any other installs since August, and if they have the same problem?

[2022-09-13 10:25] ajnyga commented on #7165
So `publication::publish` and `setStatusOnPublish` is in most cases called twice for each `submission`?
First when you schedule the submission and again when you publish the `issue`?

So with the old code https://github.com/pkp/ojs/blob/main/classes/publication/Repository.php#L157-L166

When you scheduled the `submission` it would always set `datePublished` to NULL. Both with quicksubmit and with

[2022-09-13 12:57] bozana commented on #7623
Hi @jonasraoni, I went through the PR for the main branch and left a few comments. When you finish it all, I can take another look and also into PR for the stable branch... Thanks!

[2022-09-13 12:59] Vitaliy-1 commented on #8204
merged