[2021-03-24 09:37] NateWr commented on #6870
Thanks @tgc, I've merged that to `main` and cherry-picked to `stable-3_3_1` and `stable-3_3_0` for both OJS and OMP. OPS did not have the upgrade code.

[2021-03-24 09:37] #6870 closed

[2021-03-24 10:00] NateWr opened #6882 "Unnecessary path part in search URLs"
**Describe the bug**
There are a couple places where the search URL is /search/search. The second search is unnecessary and led to a bug in DOI display in pkp/healthSciences#208.

[2021-03-24 10:06] NateWr commented on #6882
PRs:
https://github.com/pkp/pkp-lib/pull/6883 (stable-3_3_1)
https://github.com/pkp/ojs/pull/3083 (stable-3_3_1)

[2021-03-24 10:26] NateWr commented on #6879
Ok, I see what you're saying. Yeah, let's go ahead with this approach.

[2021-03-24 15:37] benaltair commented on #6676
Are there any other PRs needed on my part for this?

[2021-03-24 16:31] NateWr commented on #6882
Merged to `stable-3_3_1` and cherry-picked to `main`.

[2021-03-24 16:31] #6882 closed

[2021-03-24 20:11] tmrozewski-york opened #6884 "[OJS] Publisher Library doesn't load in Firefox (3.2 and 3.3)"
When I try accessing the Publisher Library on instances of OJS 3.2. and 3.3 using Firefox for PC (my main browser), the page gets stuck showing that it's loading. However, when I try access the Publisher Library in these same instances using Chrome, the pages load and I am able to view the file libraries.

[2021-03-25 09:31] NateWr commented on #6878
This is fixed in 3.3.0.x and 3.2.x can be patched by making the following change: https://github.com/pkp/ojs/commit/863fbbc22f4ee3c0a2c7aad69134f586669838f3#diff-f0a370f9d9f43bdbdd9872fab84ce6c65907dd0ef818b53df010e94e37aeddcc. I'll close this since I don't think we're going to do small bug fixes like this on the 3.2 branch, but if you'd like to create a PR against `stable-3_2_1` I'd be happy to m

[2021-03-25 09:31] #6878 closed

[2021-03-25 09:54] NateWr commented on #6880
Even if we made this change in the default template, it would have no impact on other themes. You would still face the problem that other themes do not necessarily implement their article landing page in this way.

Have you seen the [hooks](https://docs.pkp.sfu.ca/dev/documentation/en/utilities-hooks) that are available in the `article_details.tpl` page? We've tried to use these consistently acros

[2021-03-25 09:56] NateWr commented on #6881
HI @BiatrizAlb, can you reproduce this problem when calling an actual component? The URL example doesn't go to anywhere in the OJS system. It requires a component and op name after `/$$$call$$$/`. So any URL using this syntax in OJS would need to be, at a minimum, `/$$$call$$$/<component>/<op>`.

[2021-03-25 09:58] NateWr commented on #6881
Our docs have a more detailed explanation of these [controller routes](https://docs.pkp.sfu.ca/dev/documentation/en/architecture-routes#controller-routes).

[2021-03-25 10:03] NateWr commented on #6884
Hi @tmrozewski-york, I was unable to reproduce this using Firefox for Linux (I don't have a PC to test). Can you try to clear your cache in the browser and try again to see if the problem is still there?

[2021-03-25 13:30] tmrozewski-york commented on #6884
That didn't do it but I then cycled through my add-ons and it turns out that AdBlocker causes the interference. Sorry I didn't think of that before reporting!

Tomasz Mrozewski (he/him)

Digital Publishing Librarian

***@***.******@***.***> | yorku.ca<http://www.yorku.ca/>

https://orcid.org/0000-0001-7423-4465

Use https://calendly.com/ydj/ to see my availability for meetings and to book me.

Yor

[2021-03-25 14:53] mfelczak commented on #6003
Hi all, just a note that we may have run into this recently as well, although there is a stage ID present in the generated download URL, e.g. /api/file/file-api/download-file?fileId=1234&revision=1&submissionId=100&stageId=3

The editor is assigned to the submission and has the JM role, but still receives the error message "You have not been assigned to this submission with a role that is allowed

[2021-03-25 23:14] elton557 commented on #6724
Hello, my update still continues to perform the same action on the database and does not come out of it, I have already simulated other times.

<img width="1435" alt="Screen Shot 2021-03-25 at 20 10 47" src="https://user-images.githubusercontent.com/52458645/112555209-80cdf180-8da6-11eb-8b59-7200fad0ba7b.png">

[2021-03-26 13:12] marcbria opened #6885 "UsageStats README is outdated"
**Describe the bug**
Instructions for usageStats plugin are outdated:
https://github.com/pkp/usageStats/blob/main/README

- Installation instructions are partial.
- The link to geoLiteCite is broken (and I'm unsure if is need any more).

Make sense to link installation instructions section to documentation?
https://docs.pkp.sfu.ca/admin-guide/en/statistics#appendix-c-processing-log-files

[2021-03-26 13:16] bozana opened #6886 "crossrefReferenceLinking plugin: consider all references settings"
**Describe the bug**
In order to see if the references metadata are enabled, the Crossref Reference Linking plugin only checks if the journal setting 'citations' == 'enable', but that setting could also be 'request' and 'require'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Worflow Settings > Submission > Metadata > References
2. Click on enable... > ask the author...
3. Go to the

[2021-03-26 13:32] bozana commented on #344
I think this issue is not relevant any more, now that we have the paperbuzz plugin? @asmecher, @NateWr, @jmacgreg?

[2021-03-26 15:59] asmecher commented on #344
Agreed, thanks.

[2021-03-26 15:59] #344 closed

[2021-03-26 16:03] AhemNason opened #6887 "Crossref status check errors in 3.3.0-x"
This is a hard one to explain but something funny is happening and I can't quite figure it out. It started with a message from Crossref asking about a journal on 3.3.0-4 who claimed they were having an issue with their deposits.

From what I can tell, all reference to `submissionDownload` in our code starts with `api.*` and not `doi.*`.

**Furthermore**, OJS 3.3.x users trying to pull status from

[2021-03-26 16:23] asmecher opened #6888 "Ensure Composer dependency test/example code is safe"
Composer dependencies often come with test/example code. OJS/OMP/OPS place these within the web root, meaning these extras are web-accessible. They are also wasteful, but also potentially dangerous, as any .php scripts can be remotely invoked.

Unfortunately the Composer team is resistant to including tools to remove these (https://github.com/composer/composer/issues/4438 and https://github.com/co

[2021-03-26 19:34] asmecher commented on #6885
See also: https://github.com/pkp/pkp-lib/issues/1833

[2021-03-27 00:31] asmecher commented on #6887
This appears to have been separately discovered at https://github.com/pkp/ojs/pull/3082.

[2021-03-27 00:33] asmecher commented on #6887
@bozana, could you have a look at this?

It's possible that the change from Curl to Guzzle is related to this (https://github.com/pkp/pkp-lib/issues/6097).

[2021-03-27 00:33] asmecher commented on #6884
Not a problem!

[2021-03-27 00:33] #6884 closed

[2021-03-27 00:37] asmecher commented on #6676
I've just added a reminder to that PR, but no, I don't think anything else is required.

[2021-03-27 05:33] xdnan7 commented on #6872
I can confirm that the bug only happen in OJS 3.3.0-4. It works fine in OJS 3.3.0-3.
For workaround in OJS 3.3.0-4, this is the query i've tried:
`UPDATE publications SET url_path = NULL WHERE url_path = '';`

[2021-03-27 21:17] #6879 closed

[2021-03-28 14:58] #6886 closed

[2021-03-28 23:22] bozana commented on #6887
PRs:

stable-3_3_0: https://github.com/pkp/ojs/pull/3086

[2021-03-28 23:30] bozana commented on #6887
Yes, this issue seems to be the same as here: https://github.com/pkp/ojs/pull/3082
And, yes, it came when the Guzzle was introduced.

@asmecher, could you take a look at the code changes?

@AhemNason, would it be possible for you to test the changes above?
Regarding the domain `api.` or `doi.` -- maybe we shall double check that with Crossref. I found this page https://crossref.gitlab.io/knowledge

[2021-03-29 02:54] ewhanson commented on #6062
Hi @NateWr, I've gone through and updated the UI aspects of the the DOI Management page based on your feedback. Would you be able to have a look. Here are a few notes on the changes. Thanks!

- As you suggested, I replaced using the `<list-item>`’s value slot with a `Table`.  With it set as a table, the column size is changing when interacting with it. Do you have any recommendations on how to han

[2021-03-29 03:15] ewhanson commented on #6062
Hi @bozana, thanks so much for the feedback! And sorry for taking so long to get back to it.

For your first question, right now the import/export plugins are not loaded by default, only the generic and pubId plugins are (hence the messy work around). This came up before in #5467, which resulted the pubId plugins being loaded from the beginning alongside the generic ones. One solution that we talk

[2021-03-29 08:12] davidjb commented on #6887
@bozana See https://github.com/pkp/ojs/pull/3087 - I'd contacted and am working with Crossref around what changed.  Their official response is (currently) that api.crossref.org/servlet/submissionDownload wasn't ever a thing 😄

[2021-03-29 08:22] davidjb commented on #6872
Same findings as @xdnan7 -- I was originally on 3.3.0-3 and moved to 3.3.0-4 to fix other issues but encountered this problem and that SQL fixes the issue.  It only affected a subset of the articles in our multi-journal OJS install -- as @lennartack has said, but for us it was content up until mid-2020, which is when we moved from 2.4.8.5 onto 3.2.1.2; so perhaps a v2 to v3 migration step that nee

[2021-03-29 09:38] NateWr commented on #6003
@mfelczak what version are you using? The file authorization has changed significantly in 3.3.

[2021-03-29 10:30] NateWr opened #6889 "OJS logo should not appear in role="complementary""
**Describe the bug**
In the default theme, and possibly other themes, the PKP/OJS logo in the footer is given a `role="complementary"` attribute. However, this element appears within the `<footer>`.

Apparently, a `role="complentary"` attribute (or `<aside>` tag) should  not appear inside of another landmark role, such as `<footer>`.

This can be fixed by removing the `role="complementary"` attrib

[2021-03-29 10:31] NateWr commented on #6889
Fixed in 9217f61.

[2021-03-29 10:31] #6889 closed

[2021-03-29 10:43] bozana commented on #6887
Thanks a lot @davidjb! Yes, it would be good to just be 100% sure that we then do the right thing now. Should we then also use https://doi.crossref.org/v2/deposits instead of https://api.crossref.org/v2/deposits ?

[2021-03-29 10:47] davidjb commented on #6887
@bozana - just adjusting the submissionDownload URL at this point. Quoting Crossref’s staff:

So seems fine for now. This API is still operational but https://github.com/CrossRef/rest-api-doc/blob/master/deprecated/deposit_api.md indicates it may be considered deprecated. Will ask Crossref for confirmation when they reply.

[2021-03-29 11:43] NateWr commented on #6872
Thanks everyone. That helped to know that the bug wasn't in 3.3.0-3. It looks like this is due to a [small change](https://github.com/pkp/pkp-lib/commit/c2b02c486ce2ffcac7041c286d548676b3058152#diff-054b5e15b232b71da7e2b65cd04d604d134b3df05cbc18d3eebff5efc4164806) to a conditional statement in 3.3.0-4 that behaved differently with an empty string and a `null` value.

For `stable-3_3_0` I've revert

[2021-03-29 13:47] NateWr commented on #6062
I'm sympathetic to @AhemNason's position, but at the Barcelona sprint it was clear that there is not agreement on this point (cc @mtub). Some institutions will want/expect to be able to assign a different DOI to different versions. The current DOI assignment UI was designed to discourage but permit this.

I'll keep this in mind during my review and see if there is some way that we can work this in

[2021-03-29 15:16] ewhanson commented on #6062
Thanks for the context @NateWr. That's helpful to know. I'll take a look at adding that for the export/depositing side of things.

[2021-03-29 15:44] AhemNason commented on #6062
It wasn't just my opinion. It was Crossref's.

[2021-03-29 15:44] AhemNason commented on #6062
Multiple versions of pre-prints is recommended. Using Crossmark for DOIs for published articles is recommended.

[2021-03-29 16:30] NateWr opened #6892 "View more accessible button label is broken in 3.3"
**Describe the bug**
The accessible label for opening/closing items in the UI (for example, submission details in the submission list) is not working in 3.3. The `<expander>` component is expecting to find the accessible label at `common.viewMore` and `common.viewLess`, but the correct keys are `list.viewMore` and `list.viewLess`.

**What application are you using?**
3.3.x

[2021-03-29 17:20] henriqueramos commented on #4622
Have found this post telling us about how to run the Queue on shared hosts, it's pretty similar to our edge case scenario when someone doesn't have access to the crontab.

https://orobogenius.medium.com/laravel-queue-processing-on-shared-hosting-dedd82d0267a

[2021-03-29 18:03] asmecher commented on #6676
Thanks, the other PR has now been merged, so I'll close this one.

[2021-03-29 18:03] #6676 closed

[2021-03-29 18:14] bozana commented on #6887
@asmecher, I will then also add that change of the domain name for the status check in the PR above (stable-3_3_0) and will then let you know...

[2021-03-29 18:23] bozana commented on #6887
It could theoreticaly be that nobo6ever used that API point because: Some failure messages (like the validation errors, e.g. from the example image above) are saved immediately by the 403 response. And some failures have to be requested using that API point.

[2021-03-29 18:31] #4013 closed

[2021-03-29 18:43] asmecher commented on #4622
@henriqueramos, that's useful for hosts that can't run worker threads, but does still depend on cron access.

[2021-03-29 19:02] pmangahis commented on #4789
+1 from a Hosted journal

[2021-03-30 07:37] bozana commented on #6887
@asmecher, the URL is changed (part of the PR above). Could you please take a look? Thanks!

[2021-03-30 07:52] ajnyga opened #6893 "OMP Allow easier ISBN editing in Publication Formats"
**Describe the problem you would like to solve**
The most common piece of metadata in Publication Formats is the ISBN. At the moment adding an ISBN requires a very complicated workflow where you first add the publication format, then edit it, move to the metadata tab and add the ISBN from a selection of different identifiers. Most of the metadata editable here is ONIX related and publishers probab

[2021-03-30 09:42] ajnyga opened #6894 "OMP allow selection of files when adding a new chapter"
**Describe the problem you would like to solve**
Currently Chapter files can only be selected by first creating the chapter and the returning to edit the chapter again. This is an unnecessary extra step and makes adding chapters a lot slower.

**Describe the solution you'd like**
Allow users to select chapter files when adding the chapter for the first time.

**Who is asking for this feature?**
Bo

[2021-03-30 09:47] ajnyga commented on #6894
omp: https://github.com/pkp/omp/pull/952

ping @NateWr can you check and review this. This was easier than I thought and thinking I might have missed something.

[2021-03-30 14:47] bozana opened #6895 "IP location and institution service"
- [x] Implement IP location solution
- [x] Implement IP institution solution

This issue discusses and defines the solutions that can be used to detect user location and institution, so that those can be used in usage statistics.

**IP location solution:**
We will use the free DB-IP lite city database (e.g. https://download.db-ip.com/free/dbip-city-lite-2021-05.mmdb.gz) and the MaxMind library htt

[2021-03-30 16:14] ctgraham commented on #6880
The point here would be to allow the other theme developers the option of reusing these components rather than hard coding them and allowing the current drift.  That is, the presentation of the "How to Cite" in [bootstrap](https://github.com/NateWr/bootstrap3/blob/09b877a3d1addac7b9511509f64f1d13f3353bc5/templates/frontend/objects/article_details.tpl#L215-L265) will continue to drift from the [def

[2021-03-30 16:59] asmecher commented on #6112
@swapnil88porwal, I would recommend upgrading before anything else; 3.1.2-4 is quite old.

[2021-03-30 17:43] #6888 closed

[2021-03-30 18:02] asmecher commented on #6865
Merged those PRs, but will wait on a release containing the change until there's another dev/testing round.

[2021-03-30 18:03] asmecher commented on #6757
@Vitaliy-1, I'm deferring again to 3.3.0-6, but please don't forget this one.

[2021-03-30 18:04] asmecher commented on #6881
I think this is a custom code issue, so closing it -- but if you think it's a bug in the software, please add details.

[2021-03-30 18:04] #6881 closed

[2021-03-30 18:05] asmecher commented on #6885
Closing in favour of https://github.com/pkp/pkp-lib/issues/6895, which will fix/rewrite the underlying geolocation problem.

[2021-03-30 18:05] #6885 closed

[2021-03-30 18:05] asmecher commented on #1833
Closing in favour of #6895, which will fix/rewrite the underlying geolocation problem.

[2021-03-30 18:15] Vitaliy-1 commented on #6757
@NateWr, do you remember our discussion regarding this issue?
This doesn't have any side effects, so I'd better leave this as-is for the stable branches and targeted directly 3.4, where the simplest solution would be to render this form with Vue with slight re-design according to our UI library.

[2021-03-30 20:20] Eliasssaber opened #6896 "Upgrad ojs from 3.1.2.4 to 3.3.0.4"
upgrad ojs from 3.1.2.4 to 3.3.0.4

Errors occurred during installation :

A database error has occurred: SQLSTATE[42S21]: Column already exists: 1060 Nom du champ 'email_id' déjà utilisé (SQL: ALTER TABLE email_templates_data ADD email_id BIGINT)

![upgrade ojs from 3 1 2 4 to 3 3 0 4](https://user-images.githubusercontent.com/77052557/113051062-798b5700-919d-11eb-9205-cd46498cd68a.JPG)

[2021-03-30 20:38] asmecher commented on #6896
Cross posted: https://forum.pkp.sfu.ca/t/upgrade-ojs-from-3-1-2-4-to-3-3-0-4/66791
It's best to use the forum, and to only post an issue in once place. Otherwise it's hard to keep our resources organized.

[2021-03-30 20:38] #6896 closed

[2021-03-31 06:36] davidjb opened #6897 "[OJS] Crossref XML export outputting empty title metadata due to NULL locale"
**Describe the bug**
Exporting or depositing certain articles to Crossref from OJS causes the following error (akin to https://github.com/pkp/pkp-lib/issues/6021):

[code]

caused by the XML output looking like this:

[code]

Only specific article XML exports have this issue, some on the same journals have correct titles. The publications/submissions themselves all have titles and the Crossref dep

[2021-03-31 07:21] swapnil88porwal commented on #6112
Thanks

On Tue, 30 Mar 2021 at 19:00, Alec Smecher ***@***.***> wrote:

[2021-03-31 09:25] bozana commented on #6887
I have no objections for saving the whole XML response, but I am also not sure about the audience -- what they would like to see i.e. if XML is understandable enough -- why not... :-)

[2021-03-31 09:30] davidjb commented on #4957
Just to add some additional context here, I'm the system administrator for a university multi-journal OJS instance, associated with several journals out of administrative necessity (so I've got access to assist users because despite having system admin access, one needs to be a Journal Manager on each journal to change its settings) - and my details have been attached to submissions.  Given our in

[2021-03-31 09:34] davidjb commented on #6887
@bozana - in my case, if any our non-tech journal managers see _any_ error, they'd be asking for my technical input 😄

Maybe it could be the best of both worlds -- the first line could be the message and then concatenated with a few line breaks, a heading like "Technical Details:" and the full XML.  It's a tiny bit repetitive but would save a non-technical user trying to grok the XML, even if it i

[2021-03-31 09:35] NateWr commented on #6880
I don't think what you propose will work in the way that you want, @ctgraham. The different HTML code that appears in the bootstrap3 template is not arbitrarily different. That's the HTML code that is necessary to conform to Bootstrap's components.

Replacing:

[code]

With:

[code]

Will make the block in the Bootstrap3 theme no longer look like a block. The theme also uses special markup for the

[2021-03-31 09:40] NateWr commented on #6757
@Vitaliy-1 for 3.3.0-6, can we just fix `LanguageGridHandler::saveLanguageSetting()` or is that harder than it looks? I was thinking we could just run `array_values` on any of the settings before we save them (`$contextService->edit(...)`).

[2021-03-31 10:05] Vitaliy-1 commented on #6757
Yes, for this particular issue this fix should work, I'll take a look on Friday

[2021-03-31 11:22] NateWr commented on #4957
Hi @davidjb, from 3.3 onwards we are no longer modifying the filenames (except to perform basic sanitization). So the filename reflects the name as it was uploaded. However, files that were uploaded before 3.3 still have the names that were generated at the time that they were uploaded.

The username that was attached to files in versions before 3.3 should be the name of the user who uploaded the

[2021-03-31 11:47] bozana commented on #6887
@asmecher, @davidjb, I've added one more commit that saves the failure `msg` as well as the whole xml response (concatenated to the msg)...

[2021-03-31 12:46] NateWr commented on #6897
In the database, the `submissions` table should have a `locale` column with a value for every submission. If there are any with an empty `locale` that will cause a problem.

[2021-03-31 12:49] NateWr commented on #6895
Is the ISP or ASN going to help us? Do universities or other institutions that journals want to track usage stats for have their own ISP/ASN?

[2021-03-31 12:54] NateWr opened #6898 "Diacritics are stripped from filenames when downloading"
**Describe the bug**
When downloading a submission file with a filename that includes diacritics, the filename removes the letters completely. A file named `example-edição.xml` will be downloaded as `example-edio.xml`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to submission workflow and upload a file named `example-edição.xml` to submission files.
2. Download that file.
4. See the f

[2021-03-31 17:02] ctgraham commented on #6880
At first I was going to concede, but after reflection, I think it will (should) work *exactly* the way I want.

OJS defines individual templates for article components:
* keywords
* how to cite
* external identifiers
* etc.

Those templates can be included, excluded, repositioned, etc. by themes as-is.  They can also be re-written as-needed by themes (e.g. Bootstrap).

Those templates can also the

[2021-03-31 17:58] pmangahis commented on #2564
+1 for hosted journal that would be interested in this.

[2021-03-31 19:29] asmecher commented on #6887
Thanks, @davidjb and @bozana! @bozana, please go ahead with the merge and I'll get the next 3.3.0 build out this week with the fix included.

[2021-03-31 20:20] pmangahis commented on #5299
+1 from hosting

[2021-04-01 06:40] aukondk opened #6899 "Editorial Activity email is sometimes attributed to a regular user"
**Describe the bug**
Sometimes the Editorial Activity email is attributed to a regular user (presumably the user who loaded the page that triggered the scheduled task). The signature is that of the primary contact but the name in the header is the user.

**To Reproduce**
Don't know how to reproduce but it has happened twice now. January and March this year.

**What application are you using?**
 OJ

[2021-04-01 08:42] NateWr commented on #6880
I don't think this is as common as it might seem. I think that we see child themes that re-order components, but not often ones that replace one component with a different presentation. Usually, if the actual presentation of components is altered much, it is a custom theme entirely.

That's why I think, if we want to go down this route (which would be fairly disruptive and would significantly incr

[2021-04-01 08:55] NateWr commented on #6899
Hi @aukondk, do you know how the scheduled tasks are run? Do you have a cron job set up on the server or do you use the Acron plugin?

[2021-04-01 09:07] aukondk commented on #6899
Acron is enabled and I haven't set up a cron task on the server.
The name of the user in the mail header also made a submission shortly afterwards so they would have been using the site at the time. I assume they triggered the scheduled task with a page load.

[2021-04-01 09:08] NateWr opened #6900 "Add an option to request revisions during the submission stage"
**Describe the problem you would like to solve**
Before a submission can be sent for peer review, it may require minor adjustments to meet house rules or may be missing a required file. Editors must request these changes or files through a discussion, then download and upload the files themselves to the submission files area.

**Describe the solution you'd like**
It would be nice to have something

[2021-04-01 09:53] NateWr commented on #6899
@asmecher does this sound like the likely culprit? If `$request->getUser()` is called in a scheduled task, it will presumably be the wrong user?

[2021-04-01 10:11] NateWr opened #6901 "Author biographies should be a list instead of sections/headings"
An accessibility audit recommended to convert the author biographies on the landing page to a list without headings. So instead of:

[code]

They should be:

[code]

[2021-04-01 10:19] NateWr opened #6902 "Register form fieldsets missing legend"
An accessibility audit identified that there are two `<fieldset>`s on the registration form that are missing `<legend>`s. These are:

- Yes, I would like to be contacted with requests to review submissions to this journal.
- Recaptcha

Both can have their legends hidden using the same technique as the legends for the privacy consent checkbox. But they need a legend which describes the checkbox.

[2021-04-01 10:23] NateWr opened #6903 "VoiceControl on iPhone 11 can not use part of the search form"
From an accessibility audit regarding the search form:

[2021-04-01 12:46] ajnyga commented on #6900
Was just planning to request exactly this feature! It comes up a lot with the editors.

Could/should we use internal review stage for this?

[2021-04-01 12:54] NateWr commented on #6900
I'd suggest no. Unless you need review assignments that'd be overkill.

[2021-04-01 13:00] ajnyga commented on #6900
Sure, and this is more about technical shortcomings in the submission probably in any case.

So you would have
- Button, Request changes editorial decision
- When the decision is made, it would maybe start a new discussion between the editor and the author
- Hide the other stage decisions (change decision action of course visible)
- Allow the author to submit new files in the Submission stage and/

[2021-04-01 13:37] NateWr commented on #6898
I'm not finding a clear-cut way to do this that seems to be ideal across all languages. I've experimented with the [Stringy](https://github.com/danielstjules/Stringy) library using `edição-*&£$L<->/4/ch 丹尼爾 a دانيال1d line \n break.docx` as a test filename.

So far, the best result is using `dasherize()`. That's what we're doing now, without the alphanumeric regex that was stripping out diacritics

[2021-04-01 13:56] forgive38 opened #6904 "REVIEW_REQUEST_REMIND_AUTO & REVIEW_REMIND_AUTO"
Hello,

I'm not sure, but when there is a REVIEW_REQUEST_REMIND_AUTO on a review assignment, REVIEW_REMIND_AUTO will never send, because dateReminded is already set.
(https://github.com/pkp/pkp-lib/blob/stable-3_3_1/classes/task/ReviewReminder.inc.php#L138)

If I'm not wrong, maybe documentation should be updated, or for our case, dateReminded should be reset when reviewer accepts the review reque

[2021-04-01 14:48] NateWr commented on #6898
I spent some time today writing a test to prevent regressions with this, but having trouble getting Cypress to read the response header correctly. It seems to think that the two identical strings are not equal, possibly because the string when rendered drops some characters or something. Work at https://github.com/NateWr/pkp-lib/tree/i6898_filenames

[2021-04-01 14:52] NateWr commented on #6900
This is really similar to the problems we have in #4976. I'd like to see us address this feature after we've implemented a proper upload revisions workflow. It should be possible to build it so that it can work for any file stage.

[2021-04-01 15:02] NateWr commented on #6892
PRs:
https://github.com/pkp/ui-library/pull/150
https://github.com/pkp/pkp-lib/pull/6905

Tests:
https://github.com/pkp/ojs/pull/3090

[2021-04-01 15:05] asmecher commented on #6898
@NateWr, the transcoding to ASCII was a simple and extremely blunt way to solve the problem of risky filenames... I worry that cobbling together a less blunt solution without a good piece of widely-used code that already solves that problem will open us up to bad behaviour. Is the solution currently worse than the problem? Does Flysystem have filename escaping/filtering tools?

[2021-04-01 15:09] #6346 closed

[2021-04-01 15:20] asmecher commented on #6899
Yes, the acron plugin and a `$request->getUser()` call is a likely cause. This is a gotcha for coders that will need to be solved long term, I think -- by getting rid of "global" style calls in favour of more comprehensive passing around of the `$request` object, and then if we continue to use an Acron-style plugin for queue handling, we can ensure that it passes around a mock `$request` object th

[2021-04-01 15:26] NateWr commented on #6898
@asmecher the approach we're using now with Stringy has the unfortunate side-effect of dropping letters with diacritics. That can change the meaning of a filename from one thing to another, so [pretty bad](https://github.com/pkp/pkp-lib/issues/4957#issuecomment-811003073).

Stringy's `toAscii()` method transcodes the diacritics to their non-diacritic form, but it completely drops the Chinese and A

[2021-04-01 15:55] ctgraham commented on #6880
Does the javascript for "how to cite" really vary by theme?  Doesn't this just use the common CSL library?

I think I'm adding confusion by being a bit too abstract.

## Problem Statement:
- We know we ultimately want to move to presenting a block-based configurable layout.
- As a near term example, consider the different components of the presentation of an article.
- All components are currently

[2021-04-01 17:10] asmecher commented on #6899
@aukondk, what specific editorial activity (log entry) shows the wrong user? Are the two cases the same type of event?

[2021-04-01 17:18] asmecher commented on #6898
@NateWr, sorry, I misunderstood -- I had thought just the accents were stripped, not the entire character. And yes, that doesn't consider Chinese/Arabic.

I'm 100% sure we're going to want a reputable third-party implementation for this. In terms of robustness, we probably couldn't do better than [Wordpress's implementation](https://github.com/WordPress/WordPress/blob/master/wp-includes/formatting

[2021-04-01 18:27] asmecher commented on #6904
Hi @forgive38 -- good spotting!

In OJS 2.x, the reminder date [was reset to `null`](https://github.com/pkp/ojs/blob/857b5bbcd68f74c28b4659a97a8bc4313f5f2091/classes/submission/reviewer/ReviewerAction.inc.php#L62) when the submission was accepted, so the same column could be re-used for the overdue review reminder. When the `ReviewerAction.inc.php` class was moved to https://github.com/pkp/pkp-lib

[2021-04-01 18:27] #6904 closed

[2021-04-01 18:29] pablovp86 opened #6906 "[OJS] Delete plugin does not remove versions entries"
Tried to reinstall and older version of a plugin, since OJS doesn't permit downgrades. To do that, I followed the steps bellow:

1) deleted the plugin (version 1.0.1.0)
2) uploaded the plugin (version 1.0.0.0)
3) upload process took longer than usual, and the plugin panel on the admin dashboard stopped working:
![Captura de tela de 2021-04-01 15-00-23](https://user-images.githubusercontent.com/264

[2021-04-01 18:46] asmecher commented on #6906
@pablovp86, that is currently intentional behaviour -- as the error says, downgrades are currently not supported. Some plugins install/create database tables, scheduled tasks, etc., and we make no guarantee that it'll be possible to move from a newer plugin version to an older plugin version (and removing the plugin does not remove these additional elements). So for now, you'll need to intervene i

[2021-04-01 18:46] #6906 closed

[2021-04-01 20:38] ajnyga commented on #6893
@NateWr Could not figure a way of doing this with a single field. It was easy to check the length of the ISBN when it was being stored. But the user will expect that emptying the text field and saving the form will delete the ISBN and this was difficult to handle with a single ISBN field while there are two possible ISBN types, ISBN10 and ISBN13.

So instead I chose to show both fields side by sid

[2021-04-01 23:38] davidjb commented on #6897
Great, thanks @NateWr.  That's what I was missing -- was looking for the locale set over in either the `publications` or `publication_settings` tables because the filter appeared to be looking up the locale on the publication.

All of the submissions in my database that were created in or before OJS 3.2.1.2 had the `locale` set as NULL, so doing the following resolved the issue:

[code]

Anything

[2021-04-01 23:46] davidjb commented on #6887
Just noticed https://github.com/pkp/ojs/pull/3091 for moving crossref out to its own repo https://github.com/pkp/crossref-ojs; I'm sure everyone's aware, just don't want these fixes to get lost in the transition.

Thanks @bozana and @asmecher for your awesome work.

[2021-04-02 00:18] davidjb commented on #4957
Thanks for the confirmation @NateWr - that's reassuring to know about filenaming from now on.

This is my read of the situation as @luizbgomide has described -- most 2.x to 3.x content seems to be affected by the addition of a journal manager's user ID being added.  In the cases where my ID was added, my ID was first alphabetically; for other journals that had another's ID added, it was theirs tha

[2021-04-02 01:03] asmecher commented on #5678
@NateWr, to apply the formatter to only the files modified by the commit, try:
[code]
- `git diff --name-only --cached` lists all filenames that are in the staged commit
- `xargs ./lib/vendor/bin/php-cs-fixer` uses `xargs` to pass those filenames as arguments to the `php-cs-fixer` command
- `git add -u` then stages any modified files for inclusion in the current commit.

But do we want to jam the

[2021-04-02 06:33] aukondk commented on #6899
@asmecher This was the email of the Editorial Activity statistics report that gets sent every month.
Since this instance has been running, all but two had the correct name (the primary contact) in the header.

[2021-04-02 11:24] defstat commented on #5960
@jnugent @asmecher

I have prepared those commits for main branch:

PRs
[main]
pkp-lib: #6907
OJS: pkp/ojs#3092
OMP:  pkp/omp#954

Those changes are made against main branch and can be applied to ojs/omp 3.3

[2021-04-03 11:19] leolucena22 opened #6908 "Error modifying email template"
When editing an email template in OMP, version: 3.3.0.4, I get the following error.

![image](https://user-images.githubusercontent.com/53834464/113476960-30652c80-9455-11eb-8c02-4427b9d29c2d.png)

[2021-04-03 15:15] bozana opened #6909 "mEDRA: the calculation of the file size is different for issue and article galleys"
**Describe the bug**
When exporting issue as manifestation using mEDRA plugin an error occurs. S. https://forum.pkp.sfu.ca/t/ojs-3-3-0-4-medra-plugin-show-fatal-error/66847.

**To Reproduce**
Steps to reproduce the behavior:
...

**What application are you using?**
 OJS version 3.3.0-4

**Additional information**
-

[2021-04-03 15:29] bozana commented on #6909
PR: https://github.com/pkp/medra/pull/2

[2021-04-03 15:30] bozana commented on #6909
@NateWr, could you please take a look at the PR -- just to be sure the file size calculation is supposed to be so...

[2021-04-03 15:40] bozana commented on #6887
The PRs for stable-3_3_0 and stable 3_3_1 are merged.
I will wait for https://github.com/pkp/ojs/pull/3091 to be closed to then port the changes to main.
Thanks a lot @davidjb and @asmecher!

[2021-04-04 12:48] bozana commented on #6895
Yes @NateWr, you are right -- I've just saw a few IP addresses from a university in Berlin and the entry there is general i.e. the university is not recognizable. I could try a few more examples (maybe from other countries), but I assume it will be the same.
That would mean that the only solution for the institutional subscription statistics would be to rely on the data entered by the managers in

[2021-04-05 14:20] ctgraham commented on #6723
Still pending building a PHP 7.3 / 7.4 environment to test this against `main`.

I've also noticed, however, nothing currently deletes metrics.  This ought to be done when the submission is deleted, but also might need to be done at the context level to clean up orphans left by already-deleted submissions, when deleting the context.

[2021-04-05 19:05] pmangahis commented on #1660
+1 for editable reviewer recommendations from a Publishing Services client.

[2021-04-05 19:27] jonasraoni opened #6910 "Use proper identification when issuing HTTP requests"
When issuing HTTP requests, OJS is presenting itself using the default `GuzzleHttp` agent (e.g. `GuzzleHttp/6.5.5 curl/7.64.0 PHP/7.2.31`).

I think we should recover the previous behavior, at least partially, when OJS presented itself as `ojs2/3.2.1.1`, that will help externals tools to extract some meaningful statistics.

[2021-04-05 20:53] melat0nin opened #6911 "[OJS] CC buttons not displaying (broken URLs)"
The embedded CC URLs in OJS (3.3.0) are no longer valid. Calls to `i.creativecommons.org` images are being redirected to `licensebuttons.net`, but this doesn't resolve without `www.` at the beginning.

[2021-04-06 02:22] asmecher commented on #6908
@leolucena22, please post your question on the support forum at https://forum.pkp.sfu.ca -- that's the best place to get technical support. Include your OJS version and any relevant messages from your PHP error log.

[2021-04-06 02:22] #6908 closed

[2021-04-06 08:58] marcbria opened #6912 "Errors in es_ES and ca_ES translations in OJS 3.2.x"
**Describe the bug**
Weblate translations are done against last stable (today 3.3.x) and former versions are frozen, but sometimes an old versions requires a translation fix because the text is relevant enough to make the tool usage confusing.
Is not feasible create a new release just for a translation change, but probably is not a bad idea introduce it them when a security patch is released and a

[2021-04-06 09:28] NateWr opened #6915 "Register Laravel service providers to allow use of global functions"
The Laravel service providers we have integrated so far are decoupled in a way that prevents some of Laravel's facades and global functions from being used. These can be registered together in a container to support these global functions as well as a cleaner integration of these providers in pkp-lib's bootstrap.

[2021-04-06 09:54] NateWr commented on #6897
I suspect that this is a fairly isolated problem, because if it was more widespread I think we would have encountered it before. If we hear of more instances running into this we'll definitely implement a check during migration.

[2021-04-06 09:54] #6897 closed

[2021-04-06 09:58] NateWr commented on #5678
Thanks @asmecher! I'll play around with that. But would it work on a Windows machine? Do they have access to `xargs`?

The way it works in UI Library is that it goes straight into the same commit. This keeps the commit history really clean because you get one commit, properly formatted.

[2021-04-06 10:07] NateWr commented on #6899
Can you explain what you mean by the header? Is this the FROM or REPLY-TO header in the email?

[2021-04-06 10:11] NateWr commented on #6909
Looks good, @bozana!

[2021-04-06 10:16] NateWr commented on #6895
I'd recommend we think about something like a CSV import, which would let people quickly configure large data sets of IP range / institution matches and then import them. We may even want this data to be stored in a file somewhere rather than directly in the database. For example, a large service provider, like PS, may want to maintain a central file that all of their clients could use when proces

[2021-04-06 10:17] aukondk commented on #6899
Both. In fact I'm seeing now, looking at the raw email, that in Reply-to there is both the user and the principal contact.
[code]

[2021-04-06 10:35] NateWr commented on #6899
Hmm, strange. I can't find anywhere that the current user might be added to the REPLY-TO:

https://github.com/pkp/pkp-lib/blob/main/classes/notification/PKPNotificationOperationManager.inc.php#L374-L378

But it looks like there's some special handling related to DMARC and REPLY-TO:

https://github.com/pkp/pkp-lib/blob/main/classes/mail/Mail.inc.php#L534-L565

@asmecher is there any chance the DMAR

[2021-04-06 10:39] NateWr commented on #6892
Merged to `stable-3_3_0` and cherry-picked to `stable-3_3_1` and `main`.

[2021-04-06 10:39] #6892 closed

[2021-04-06 10:49] NateWr commented on #6894
Merged to `main`. Thanks @ajnyga!

[2021-04-06 10:49] #6894 closed

[2021-04-06 11:16] jonasraoni commented on #5678
FYI there's also [Psalm](https://psalm.dev), which is a kind of TypeScript for PHP. I guess that at this moment it will create a lot of pollution, but I think it might be useful later.

[2021-04-06 11:42] NateWr commented on #6898
I didn't find anything quite right in Flysystem. They have a `normalizePath` method which looks like it doesn't really strip bad characters. This comes in the response header:

```Content-Disposition | attachment; filename="ediÃ§Ã£o-*&Â£$L<->/4/ch ä¸¹å°¼ç�¾ a Ø¯Ø§Ù�Ù�Ø§Ù�1d line /n break.xml"```

And my browser (firefox) converts it to:

[code]

I tried using the [slugger](https://symfony.com/doc/

[2021-04-06 12:05] jonasraoni commented on #6898
This is how Google Drive offers me to download a file named as `фю/?:_.js`
[code]

Notice the extra `filename*` and the codification difference against `filename`.

I think it's safer to assume we don't know the user's OS and forward path validations to the browser =]

[2021-04-06 12:33] jonasraoni commented on #5678
Maybe we can assume the user has the PHP executable accessible, and use it instead of shell commands 🤔

About Windows, it has [PowerShell](https://docs.microsoft.com/en-us/powershell) and it also got [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10), which allows users to run Linux executables natively, so I can have a window with Ubuntu without using Docker:
![image](https://user-

[2021-04-06 12:47] NateWr commented on #5678
Thanks @jonasraoni. Would you be able to test the pre-commit hook that Alec posted above? I think the key question is whether the commands can be invoked successfully wherever someone is creating a commit.

I remember from back in the day that on Windows I needed to use a program called GitBash to do git on the command line. Is that still required and if so, will the pre-commit hook work from that

[2021-04-06 15:25] asmecher commented on #5678
I think this'll be fine once we get everything converted to the new syntax. However, I'd like to watch out for evolutions to the style guide that cause changes outside the commit's intended modifications -- if that happens we may have to plan to periodically re-run the code formatter on the codebase in order to keep PRs readable.

I think we're already requiring some GNU command-line tools that'll

[2021-04-06 15:35] asmecher commented on #6898
The `filename*` looks relevant. From https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition:

[RFC 5987](https://datatracker.ietf.org/doc/html/rfc5987) is extremely relevant:

So I think as long as we're encoding filenames per RFC5987, and using `filename*` rather than `filename` in the header, we're good.

[2021-04-06 15:44] NateWr commented on #5678
Ok, so this is more or less working now! :tada: I haven't applied the formatting to the codebase yet, but the pre-commit hooks are doing their job.

PRs:
https://github.com/pkp/pkp-lib/pull/6699
https://github.com/pkp/ojs/pull/3030

I'd like to get a couple of Windows users to test this out first (cc @ajnyga, @withanage, @defstat, @Vitaliy-1 (if you have Windows machines you can use to test)). If

[2021-04-06 15:47] NateWr commented on #5678
One downside, which I don't see a way around, is that php-cs-fixer has to be run one file at a time. This leads to a lot of output:

[code]

For large commits this will be pretty annoying. Does anyone know a way to reduce the output noise? It's not possible to pass multiple paths to php-cs-fixer when calling it from the command line.

[2021-04-06 16:37] asmecher commented on #6912
@marcbria, I've merged both the above PRs; I know you were talking i part about a general problem, but having merged those I'll close this issue; if you come across another translation needing work let's fix it separately. I've also cherry-picked this change forward to `stable-3_3_0` so it's not lost there.

Have you made these changes in Weblate for the `main` branch?

[2021-04-06 20:39] mfelczak commented on #6003
@NateWr, this was from an OJS 3.1.2 install and it's entirely possible that this has since been resolved. I did ask for additional details and I'm including the editor's feedback in case it's helpful:

"There is a problem when users, who are assigned to a submission, change role. They seem still to be assigned to the submission with the former role, but possibly do not have the former access right

[2021-04-06 23:46] asmecher commented on #5678
@NateWr, I think the `-q` option to `php-cs-fixer` will reduce noise.

[2021-04-07 00:36] asmecher commented on #6910
It looks like the default headers were being provided to Guzzle in a 5.3-friendly manner, but we're using Guzzle 6.5. This affects OJS 3.3.0-0 to 3.3.0-4 (thus we can assume anything mentioning Guzzle in the user agent is 3.3.0).

[2021-04-07 00:36] #6910 closed

[2021-04-07 01:19] asmecher commented on #5960
@defstat, I think those might be too invasive for the `stable-3_3_0` branch -- certainly for 3_3_0-5 -- and maybe should be kept for `stable-3_3_1` (and `main`) instead. Changes for the current stable release (`stable-3_3_0`) should be coded against that branch and forward-ported, rather than coded against `main` and back-ported; that helps prevent regressions on the stable branches.

So if they t

[2021-04-07 01:26] asmecher commented on #6911
Was this maybe resolved already? The `i.creativecommons.org` URLs appear to work for me, and they are still used e.g. at https://creativecommons.org/choose/results-one.

[2021-04-07 06:49] jonasraoni commented on #6910
Thanks @asmecher for inspecting when it was introduced.
Also, perhaps the user agent of OJS should be updated from `ojs2/3.3.0.3` to `ojs/3.3.0.3`?

[2021-04-07 06:49] marcbria commented on #6912
Yes. Jordi fixed this in weblate too.
So far, for us, weblate is working great.
Thanks for the merge. It will be on 3.2.1-5, isn't it?

[2021-04-07 08:43] ajnyga opened #6916 "[OMP] Spotlight autocomplete layout broken"
The autocomplete suggestions in the OMP Spotlight form has a broken layout. This is caused by the inline setting in the form elements. Also, the suggestions include unnecessary labels like "MONOGRAPH" which you can select but will cause an error when used.

The inline setting from the form fields should be removed together with the unnecessary labels.

[2021-04-07 09:00] ajnyga commented on #6916
OMP: https://github.com/pkp/omp/pull/955

[2021-04-07 09:05] NateWr commented on #6898
I don't know how to interpret that RFC. What are the conditions that the filename must comply with?

[2021-04-07 09:14] NateWr commented on #6003
@mfelczak I think what your editor describes is a different issue, filed at https://github.com/pkp/pkp-lib/issues/5396.

[2021-04-07 09:54] NateWr opened #6917 "Increase contrast of required indicator in login/registration forms"
An accessibility audit identified that the required `*` on the login/registration forms does not have enough contrast.

[2021-04-07 09:58] NateWr commented on #6917
Fixed in `main` for OJS/OMP/OPS.

[2021-04-07 09:58] #6917 closed

[2021-04-07 10:07] NateWr opened #6918 "Aria-labelledby on galley links must include galley label"
**Describe the problem you would like to solve**
The galley link in article/preprint/monograph summaries includes an `aria-labelledby` attribute that provides assistive technology with the name of the article that the galley is for. This makes a page with lots of identically named links (eg - PDF, PDF, PDF) distinctive.

However, the `aria-labelledby` attribute overrides the galley link's text. So

[2021-04-07 10:39] NateWr opened #6920 "Usage stats: error when executing migration UsageStatsMigration"
**Describe the bug**
When trying to install OPS from the `main` branch, using the `main` branch of the usageStats plugin, the installation fails with the following error:

[code]

The Exception's error message is:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Edit the following line of `Plugin.inc.php` to display the exception error message:

[code]

Add the following line after th

[2021-04-07 10:40] NateWr commented on #6920
@bozana would you be able to investigate this when you have a minute? It's not urgent.

[2021-04-07 10:42] NateWr opened #6921 "Show exception error message when a plugin migration fails"
When a plugin migration fails, the exception error message is not shown, so there is no way to know why it failed.

[2021-04-07 10:45] NateWr commented on #6921
@asmecher is this safe to show? I am assuming that whoever is doing the installation process will have privileges to see the full exception. But can a plugin migration error show up during plugin install/uninstall?

PR:
https://github.com/pkp/pkp-lib/pull/6922

Tests:
https://github.com/pkp/ojs/pull/3098

[2021-04-07 10:49] NateWr commented on #6918
PRs:
https://github.com/pkp/ojs/pull/3096
https://github.com/pkp/ops/pull/138

[2021-04-07 11:12] NateWr commented on #6916
Merged, thanks @ajnyga!

[2021-04-07 11:12] #6916 closed

[2021-04-07 12:17] NateWr commented on #5678
@asmecher, the `-q` option makes it go completely silent, not even printing error messages. I'm trying to figure out how to make the pre-commit hook bail on the commit if there's a fatal syntax error that prevents php-cs-fixer from running.  But I can't even seem to get the simplest `if` statement working in bash:

[code]

This is printing the following, which shows that the `else` block is being

[2021-04-07 12:21] Lucas-Carrizo commented on #6762
Hi @NateWr, how are you? I am experimenting the same issue that is described above. I have a 3.2.1.2 OJS version and I am trying to apply the changes that are described but I found that I dont have any of the files (SubmissionFileDAO and PKPFileUploadWizardHandler). What should I do? I create the files with the same names in the same route and I paste the code inside them but It didn´t work. Am I

[2021-04-07 13:32] Vitaliy-1 commented on #6757
Tests OJS: https://github.com/pkp/ojs/pull/3097
stable-3_3_0 pkp-lib: https://github.com/pkp/pkp-lib/pull/6919
stable-3_3_1 pkp-lib: https://github.com/pkp/pkp-lib/pull/6923
main pkp-lib: https://github.com/pkp/pkp-lib/pull/6924

@NateWr, can you take a look? This solves issues with the form on my local instance. Although I'd revise the language data processing in the first place, this should be e

[2021-04-07 14:16] jmvezic commented on #6762
@Lucas-Carrizo perhaps you're confusing the base OJS directory (https://github.com/pkp/ojs) with the pkp/lib directory (this repo)? They have similarly named subdirectories. You should be updating the files from the lib/pkp path.

[2021-04-07 14:40] defstat opened #6925 "Set default user for CLI tool"
**Describe the problem you would like to solve**
There are times where the CLI tools need access to a Request dependent resource (like an API call), but the CLI Tool does not define a user at the Request level

**Describe the solution you'd like**
We could search the CLI command for a username and if none provided we could add an admin user as default

[2021-04-07 14:52] defstat commented on #6925
@NateWr @asmecher

see also [that](https://github.com/pkp/pkp-lib/pull/6491/files#r558640851)

**PRs**
[pkp-lib]: #6926
[OJS]: pkp/ojs#3099

[2021-04-07 15:28] NateWr commented on #6757
Thanks @Vitaliy-1! All three PRs merged. :+1:

[2021-04-07 15:28] #6757 closed

[2021-04-07 16:20] ajnyga opened #6927 "Quicksubmit cover image preview is broken"
**Describe the bug**
When adding a Cover image for an article in Quicksubmit plugin no preview of the added image is visible although the code suggests that it should be visible. Also, there is no way of deleting an already added cover image.

The cover image is saved correctly to the database and the file system. Just the js handling the preview is broken.

**To Reproduce**
Steps to reproduce the

[2021-04-07 16:29] pmangahis commented on #6214
+ 1 from another PKP|PS journal

[2021-04-07 16:56] NateWr commented on #5678
Ok, I think we're almost there. I have:

- Centralized all rule declarations in pkp-lib so all apps share the same ruleset.
- Adjusted the pre-commit scripts so that they abort the commit when a fatal syntax error is found and php-cs-fixer can not format a file.

Aborting the commit was tricky, because php-cs-fixer doesn't distinguish between two errors: "this file needs to be formatted" and "I ca

[2021-04-07 17:03] NateWr commented on #6918
Merged to `main`.

[2021-04-07 17:03] #6918 closed

[2021-04-07 19:35] asmecher commented on #6909
(This isn't actually distributed with OJS anymore, but deferring to the 3.3.0-6 milestone so it's not forgotten.)

[2021-04-07 20:01] sujit-jaunjal commented on #6921
@NateWr Hello, I know this is not a right way to communicate to someone but I'm in little urgency, I was doing a project for organization and their demand is to integrate pkp like ojs into organization's framework, I went through many searches but couldn't find a way or tutorial to do so...can you pleaseeee help me ?

[2021-04-07 20:02] ajnyga commented on #6690
I am not familiar with the labels mentioned here, but this plugin could be helpful if you want to attach labels to selected submission: https://github.com/ajnyga/tsvVertu

That is a plugin for attaching the Finnish Peer Review Label https://www.tsv.fi/en/services/label-for-peer-reviewed-scholarly-publications to OJS articles.

[2021-04-07 20:03] sujit-jaunjal commented on #6921
Like how am I supposed to integrate framework and use pkp ojs plugins or functionalities in backend ?

[2021-04-07 20:05] sujit-jaunjal commented on #6921
Please reply asap, you can contact me here, here's my mail - jaunjalsujit@gmail.com ,  please help me with a little guidance

[2021-04-07 20:55] Lucas-Carrizo commented on #6762
Hi @jmvezic, thank you for taking the time to respond. I do really apreciate that. Yes, my bad. I confussed the routes. Now, I have already changed the values at "SubmissionFileDAO.inc.php", "PKPFileUploadWizardHandler.inc.php" and also delete the line number 62 in "PKPString.inc.php", but I am having the same problem. Do I need to restart? Am I missing something?

[2021-04-07 21:59] asmecher commented on #6898
@NateWr, try e.g.:
[code]
(The relevant part of the RFC is...

...)

Yes, that use of single-quote characters as separators is some weeeeeeeird syntax, but it's in the RFC.

[2021-04-07 22:01] asmecher commented on #6921
@NateWr, yes, I think that's safe to show, since it can only arise during a privileged user's interaction with the system. It can show up during plugin install/uninstall, e.g. if a migration attempts to create a table that already exists.

@sujit-jaunjal, the best place to ask general questions is the support forum: https://forum.pkp.sfu.ca

[2021-04-07 22:07] asmecher commented on #6910
The `ojs2` comes from the application's self-identification and is tricky to change; I don't think we're likely to prioritize it. See e.g.: https://github.com/pkp/pkp-lib/issues/3030

[2021-04-07 22:12] asmecher commented on #6912
@marcbria, we probably won't get around to releasing a 3.2.1-5, but it'll definitely be included in 3.3.0-5 (probably today).

The translation tools currently apply to `main` and I'm not back-porting translation changes lately. Once 3.4.0 comes out we'll likely leave the translation tools active against `stable-3_4_0` so the follow-up changes after the release will go into both 3.4.x and and `main

[2021-04-07 22:12] #6912 closed

[2021-04-08 00:49] hungdang6676 opened #6929 "Add discussion cause null title when refresh or close browser"
I'm having a problem with add discussion for submission. I also check the code and see that when the discussion modal is shown up, it also creates a new record in both `queries` and `notes` tables. Then user refresh the page or close tab on browser, it cannot be deleted then i will cause the discussion list contain some row with null information.

Hope this will have a right way to solve.

[2021-04-08 01:00] asmecher commented on #6929
@hungdang6676, please include information about which of our applications you're using, and what version.

[2021-04-08 08:43] NateWr commented on #6893
All merged! Thanks @ajnyga!

@amandastevens and @kaitlinnewson this may effect documentation (for 3.4). See the screenshot in @ajnyga's second comment.

[2021-04-08 08:43] #6893 closed

[2021-04-08 08:47] NateWr commented on #6762
@Lucas-Carrizo These are the only changes you should make on 3.2.x: https://github.com/pkp/pkp-lib/pull/6792/files

[2021-04-08 08:48] NateWr commented on #6921
Merged!

[2021-04-08 08:48] #6921 closed

[2021-04-08 09:52] NateWr commented on #6898
Thanks @asmecher! Ok, so I've left filenames as they are in the UI, and used `filename*=` and `urlencode()` in the response headers.

PRs:
https://github.com/pkp/pkp-lib/pull/6930
https://github.com/pkp/citationStyleLanguage/pull/77

Tests:
https://github.com/pkp/ojs/pull/3100

@amandastevens a heads-up in case you get questions about this from users. This is going to change how filenames appear i

[2021-04-08 09:57] NateWr commented on #4957
In 3.3.0-6 there will be a slight change to the filenames when downloading a submission file. In short, we are no longer "dasherizing" them (eg - `this-example-file.docx`) because of problems with diacritics and non-Latin characters. More details and an example at https://github.com/pkp/pkp-lib/issues/6898#issuecomment-815624269.

[2021-04-08 10:00] NateWr commented on #6929
I was able to reproduce this on `stable-3_3_0`.

**Steps to Reproduce**
1. Open a submission in the workflow.
2. Go to Submission stage.
3. Click Add Discussion and leave the modal open.
4. Type CTRL+R to refresh the page.
5. See that an empty discussion has been created.

[2021-04-08 10:53] NateWr opened #6931 "Clear issue object DOIs does not delete publication DOIs"
**Describe the bug**
When clicking the "Clear Issue Objects DOIs", publication DOIs are not deleted.

**What application are you using?**
3.3.0

**Additional information**
See [forum report](https://forum.pkp.sfu.ca/t/unable-to-clear-issue-objects-dois-for-back-issues/66871/5).

[2021-04-08 10:56] NateWr commented on #6931
PR:
https://github.com/pkp/pkp-lib/pull/6932

Tests:
https://github.com/pkp/ojs/pull/3101

[2021-04-08 11:02] hungdang6676 commented on #6929
I’am using OJS version 3.2.1, i also test this produce in newest version and it also occurs. The reproduce as @NateWr described

[2021-04-08 11:42] Lucas-Carrizo commented on #6762
Hi @NateWr! Thanks for respond. I took a look at the link that you share and I put "PKPString.inc.php" like it was previous. Then "SubmissionFileDAO" and "PKPFileUploadWizardHandler" were with the changes that you recommend. It didn´t work, but something strange happened: if I go to "Users and Roles", then "Tasks" and I disable "revision" option for author, it works. Do you recommend me to upload

[2021-04-08 13:36] NateWr commented on #6931
Merged to `stable-3_3_0` and cherry-picked to `stable-3_3_1` and `main`.

[2021-04-08 13:36] #6931 closed

[2021-04-08 16:35] mfelczak commented on #6003
Thanks @NateWr!

[2021-04-08 16:59] henriqueramos commented on #6272
Hey @NateWr, could you please check those pull requests, please?

https://github.com/pkp/ui-library/pull/151/files
https://github.com/pkp/pkp-lib/pull/6933
https://github.com/pkp/ojs/pull/3102

Thank you!

[2021-04-08 20:02] jonasraoni opened #6934 "Increase the likeliness of generating an unique "stats_id""
Given the [uniqid](https://www.php.net/manual/en/function.uniqid.php#95001) function isn't that great for the task, perhaps we could use a package to generate GUIDs (e.g. https://packagist.org/packages/ramsey/uuid).

[2021-04-08 23:36] asmecher commented on #6099
@NateWr, it looks like @jonasraoni has updated the PRs; would you mind taking another look (especially WRT your comments above about #5980 / #6042)?

@jonasraoni, don't forget to drop a note on the issue when you're ready for another round of review -- otherwise we're not sure when you're ready.

[2021-04-08 23:39] asmecher commented on #6887
@bozana, I think this is ready for porting to `main`!

[2021-04-08 23:53] asmecher commented on #3193
@jonasraoni, just a heads-up that this broke JS linting:
[code]
I've added https://github.com/pkp/pkp-lib/commit/bf47536e27b590fddf24b6700913c3a4021f91c4 to fix that.

(It looks like JS linting problems don't break the Travis validation build -- worth looking into but hard to prioritize since it's the old JS framework only that goes through this process.)

[2021-04-09 00:15] asmecher commented on #6895
Yes, if we don't need relational integrity to be maintained and the lookup can be done without too great a performance hit, I'd favour keeping a lookup file on the filesystem. Having to sync a database table against a frequently-revised third-party data source gets painful!

[2021-04-09 06:55] jonasraoni commented on #3193
Ok, thanks! :)

[2021-04-09 07:16] jonasraoni commented on #6934
I think the uniqid is ok, so it's just a safer suggestion, GUIDs are great for such cases (banking systems normally use them), have a fixed length, etc., I can't see drawbacks 🤔

Another cool use is to replace auto-incrementing IDs, which have its pros (we don't even need to request the "inserted ID" from the database, as the ID can be generated by the client, naturally obfuscated, ...) and cons (

[2021-04-09 12:26] bozana commented on #6887
Oh, I haven't noticed that there is crossref plugin for OPS, so first now I added the changes for the OPS stable branches :-( That's why I changed the milestone to 3.3.0-6.
When tests pass I will merge and close the issue.

[2021-04-09 14:04] #6887 closed

[2021-04-09 17:28] pmangahis commented on #3990
Would it also be possible to add some identifying information regarding the reviewer and manuscript to this type of notification in the subject or body of the email? Example email subject “Reviewer XXX has submitted comments on MS XXX”).

[2021-04-09 19:34] asmecher opened #6936 "Fatal error in OMP sitemap handler"
See https://forum.pkp.sfu.ca/t/activation-of-doi-plugin-results-in-fatal-error-during-sitemap-generation-in-omp-3-3-0-4/66596 for details:
[code]

[2021-04-09 19:43] asmecher commented on #6936
Users of OJS 3.3.0-0 through 3.3.0-5 can resolve the issue by applying https://github.com/pkp/omp/commit/4988986a67507edb6c4a17128989a236b9042b44.

[2021-04-09 19:43] #6936 closed

[2021-04-09 21:03] asmecher commented on #6867
@NateWr, with apologies for the delay in getting to this -- it looks very good and I'm happy to be adopting LazyCollections.

One thought, though: implementing mappings directly in the collection class is going to lead to a double-standard where there are "first class" mappings (e.g. to/from the API) implemented in the collection class, and the rest, e.g. mappings added by import/export plugins.

[2021-04-10 10:58] TheMechanicalButterfly opened #6937 "[OJS] Recurring use of function name __() in Laravel helper file and PKPLocale file"
After local installation for development purposes, the OJS installation cannot start due to the following problem:

[code]
It looks like the Laravel installation uses a helper function `__()` which then conflicts with the similarly named function in `PKPLocale.inc.php`.

The problem occurred with the `main` branch as well as with the stable 3.3.1 branch, under PHP 7.3.27 as well as under PHP 8.0.0

[2021-04-10 13:44] asmecher commented on #6937
@TheMechanicalButterfly, there is a patch described in `lib/pkp/composer.json` that resolves the collision. It should have been applied automatically by Composer. (Future work on this is described at https://github.com/pkp/pkp-lib/issues/6328.)

[2021-04-10 16:00] TheMechanicalButterfly commented on #6937
@asmecher

Yes, seen it now. The patches are not applied, though. When running, e.g.,  ` composer --working-dir=lib/pkp install`, what I get is:

[code]
Unfortunately no further details on why the patches can't be applied. Composer version is 2.0.8.

[2021-04-10 16:22] TheMechanicalButterfly commented on #6937
@asmecher

Looks like it's a problem with the Windows environment. On the Windows Command Prompt and in Windows PowerShell patch application fails.

Running the same through composer in git bash applies at least the Laravel patch without error:

[code]

I suppose it's not worth the time trying to cover all possible environments in which these patches could to be applied.

I'll make a note for our

[2021-04-10 16:22] #6937 closed

[2021-04-10 18:07] marcbria commented on #4919
@ajnyga is there a reason to make the redirection temporary (307)?
I had some trouble in a journal with this 307, and when moving to 301 did the job.

Just in case somebody else falls in same hole:

[code]

[2021-04-10 18:55] ajnyga commented on #4919
I think I have that rewritten for our 3.2 upgrade test. It's been such a long time since I wrote that original one that I do not remember anymore. Could be that the 307 is just a result of a copy paste which started to work and did not look at it that much.

[2021-04-11 09:18] jedi-tor commented on #3100
Hi @NateWr

I am getting the following error on the latest version (3.3) of the OJS.

`Stack trace:
#0 C:\Users\*\laragon\www\ojs\lib\pkp\classes\plugins\HookRegistry.inc.php(107): checkSubmissionFilesPlugin->{closure}('submissionsubmi...', Array)
#1 C:\Users\*\laragon\www\ojs\lib\pkp\classes\form\Form.inc.php(279): HookRegistry::call('submissionsubmi...', Array)
#2 C:\Users\*\laragon\www\ojs\lib\

[2021-04-11 14:09] bozana commented on #6895
Both, DB-IP and MaxMind lite databases are either in the CSV or MMDB format. CSV is meant to be imported into the DB. MMDB is specified here https://maxmind.github.io/MaxMind-DB/, and the MaxMind library https://github.com/maxmind/GeoIP2-php is used to get/lookup the data from the MMDB file.
Both, DB-IP and MaxMind lite databases are licensed under Creative Commons Attribution 4.0 International Li

[2021-04-11 15:04] rinorazzi commented on #6086
Hi @NateWr @gemusehandler
I'm very interested in this new feature you are wonking on.
I tried to apply it on a fresh installation of OMP 3.3.0-4 where the Default OMP theme is used.
I replaced in my OMP the 3 file your Pull Request : pkp/omp#855
but I was not able to make it run.
When i try to view the Series Index page with
/index.php/jip/catalog/seriesIndex
 I get an "error 500".
Is this Pull Re

[2021-04-12 10:11] NateWr opened #6938 "Email templates can not be saved because of data from disabled locales"
**Describe the bug**
When a site has been configured to support several languages, but a journal only supports some of them, a default email template can not be customized. This happens because all localized data for that template is returned with the email template object, and this causes the form validation to expect input in unsupported languages.

See [forum report](https://forum.pkp.sfu.ca/t/

[2021-04-12 10:24] NateWr commented on #3100
[code]

Also, `$file->getGenreId()` is deprecated. Use `$file->getData('genreId')`.

@jedi-tor in the future please post requests like this on our [support forum](https://forum.pkp.sfu.ca/).

[2021-04-12 11:05] NateWr commented on #6272
Thanks @henriqueramos. This is looking good. I like that you took the time to build a custom UI control for inputting the values. However, there are some UX and accessibility issues that would need to be addressed, and these will require a fair amount of work. I would rather focus your time on other projects, rather than sinking a lot of time into figuring out how to do this UI control in an acces

[2021-04-12 11:26] NateWr commented on #6099
@asmecher @stranack @jonasraoni I thought that we had settled on making this field not required? There are a couple of things we need to address about usability, not code:

1. Should the country field be required when creating a journal? That means an admin creating a new journal for, say, a client, would have to enter a country. My sense is that they are not the right people to do this, and so we

[2021-04-12 13:19] Vitaliy-1 commented on #6915
PRs:
usageStats main: https://github.com/pkp/usageStats/pull/47
pkp-lib main: https://github.com/pkp/pkp-lib/pull/6939
staticPages main: https://github.com/pkp/staticPages/pull/66
OJS main: https://github.com/pkp/ojs/pull/3103

[2021-04-12 13:28] NateWr commented on #5678
@defstat confirmed that this was working on Windows using this [windows utility for git](https://git-scm.com/download/win). He did need to manually install the pre-commit hook, so I'll prep some docs with that info. Otherwise, I think we're good to go. :tada:

[2021-04-12 13:32] Vitaliy-1 commented on #6915
@NateWr, regarding our conversation:
- Validation Service Provider requires also registration of File Service and Laravel Localizations. This is a fair amount of work, I mean wrap our File Management and localizations into these service provider, so I haven't started the work on it yet.
- There is a place with a code duplication in `PKPEmailHandler`, in particular: https://github.com/pkp/pkp-lib/b

[2021-04-12 13:41] bozana commented on #6909
merged and released + updated the plugins.xml

[2021-04-12 13:41] #6909 closed

[2021-04-12 13:50] NateWr commented on #6915
Ok, let's ignore this for now. We can revisit this later.

Let's leave this alone for now and address it as part of #4622. The `PKPEmailHandler` approach was a temporary solution for the Notify function in 3.3, but the plan is to refactor it once we have better queue processing infrastructure.

[2021-04-12 14:16] jedi-tor commented on #3100
Hi @NateWr

Thank you. I update the code. I add submissionId data in square brackets. Worked fine.

`$files = Services::get('submissionFile')->getMany(['submissionIds' => [$form->submissionId]]);`

[2021-04-12 15:27] NateWr commented on #6915
This looks great, @Vitaliy-1. @asmecher do you mind taking a look at this? This work adopts Laravel's centralized service provider registry which allows us to make direct use of Laravel's facades. This means we can adopt some of Laravel's things more directly, eg:

[code]

It also means that the components of Laravel that we adopt can "talk to each other", which is important for using Laravel feat

[2021-04-12 16:02] asmecher opened #6940 "Allow issue galley files to be referred to using hrefs rather than only imported"
From https://forum.pkp.sfu.ca/t/ojs3-1-2-1-native-xml-import-plugin-issue-import-with-href/66884:

Issue galley files in the native import XML are only supported using `<embed>` elements. It would be better to also support `<href>`s, and to normalize the XML so that issue galley files are treated the same as submission files.

[2021-04-12 16:13] NateWr opened #6941 "Notify reviewers when a submission they reviewed has been accepted or rejected"
**Describe the problem you would like to solve**
Reviewers would like to know that their contributions are important, and may be interested to know when a submission they reviewed has been accepted or rejected.

**Describe the solution you'd like**
Provide a way to notify reviewers when a submission they reviewed has been accepted or rejected. This may be an automated notification. Or an editor ma

[2021-04-12 16:57] Vitaliy-1 commented on #6915
Finally, test builds are successful. What I forgot is to add licensing info and description to the newly created classes.

[2021-04-12 17:14] henriqueramos commented on #6272
Fresh pull request changes to be review @NateWr!

https://github.com/pkp/ops/pull/143
https://github.com/pkp/omp/pull/957
https://github.com/pkp/ojs/pull/3102
https://github.com/pkp/pkp-lib/pull/6933

Also the evidence of new tab

![Screenshot from 2021-04-12 14-05-17](https://user-images.githubusercontent.com/1243634/114434415-5eefaf80-9b99-11eb-8ab8-78d9d3be22bd.png)

[2021-04-12 18:33] hxo82 commented on #5158
Hello! This is exactly the problem we’re having. It seems there is no easy way to scan through a longer list, as it is in no particular order and it's making selecting a reviewer difficult for our editors.

As an aside, we have a list of about 130 associate editors who review for us, but we also invite other experts to review occasionally. We started out with a clean reviewer list of our 132 assoc

[2021-04-12 19:39] asmecher commented on #6895
Thanks, @bozana -- and thinking more about this, I don't think it's likely that we'll be able to avoid a database sync for performance reasons (unless there's a tool to e.g. compile out the database to PHP flat-files or something crazy like that). If the databases come with a toolset to sync the data locally, we should probably just follow those patterns, as long as they e.g. support both PostgreS

[2021-04-12 19:43] ronniebrito opened #6942 "Dashboard tabs label function"
hi,

this is not really a bug , but just a help we need:

we are developing a translation plugin for OJS to SignLanguages and we need to load HTML into the Dashboard tabs.

the original function that load these labels (My Queue, Unassigned, All, etc..) escapes HTML and the content isnt showing as we need to display written signs

so I ask you what function we need to overrride to disable HTML esca

[2021-04-13 01:10] asmecher commented on #6915
This looks very good, @Vitaliy-1 -- aside from renaming the classes used to access Laravel features it's actually just a simplification/encapsulation of the initialization code. I added a comment or two just checking on the queuing features -- have you checked those to see if they work after the removal/refactoring of some of the related bootstrapping?

If the batch email send works OK with a coup

[2021-04-13 01:37] asmecher commented on #6937
I think you'll just need to install the GNU `patch` tool somewhere in your path and it'll work for Windows environments -- but if you're able to confirm that would be helpful!

[2021-04-13 02:00] martinmesa opened #6943 "Problems with the content table in the imported issue"
Hello,
I upgraded my OJS from 3.3.0-3 to 3.3.0-5 and after that OJS only shows the first article in the table of contents of each issue. I tried to sort the articles by moving the second to the first and continue to show the first article.
This problem occurs with some issue that I imported before the update but that were displayed correctly.
I have been looking in the database and I do not find d

[2021-04-13 02:02] asmecher commented on #6943
@martinmesa, could you post your question in the support forum (https://forum.pkp.sfu.ca)? That's the best way to get support.

[2021-04-13 02:02] #6943 closed

[2021-04-13 04:42] TheMechanicalButterfly commented on #6937
@asmecher

Confirmed, it works with GNU Patch as expected via the Windows PowerShell. (One needs to execute the shell as admin, took me a few trials to figure that out.)

Many thanks!

[2021-04-13 08:34] NateWr commented on #6243
Vue 3.0 is [dropping support for IE11](https://github.com/vuejs/rfcs/discussions/296), but backporting many 3.0 features to Vue 2.7. It probably makes sense for us to stay on Vue 2.7 for a while longer.

[2021-04-13 09:51] NateWr opened #6944 "User search phrases should match against the user's preferred name field"
**Describe the problem you would like to solve**
Searching for reviewers matches on several user fields like username, email, given name and family name. But it doesn't match against the user's preferred name field, which might include words like "Dr" that are not in the other fields.

**Describe the solution you'd like**
Add preferred name to the list of fields that are matched when a search quer

[2021-04-13 10:11] NateWr commented on #6942
Hi @ronniebrito,

Unfortunately, I don't think this will be possible without overwriting the UI completely. The HTML escaping is a core part of our template as a security best practice. Although it is possible to permit HTML to be injected at particular places, it is not generally available. If it were possible to override this in some way, it would quickly become a security risk because user-prov

[2021-04-13 13:35] librariam commented on #5405
+1 from PKP|PS

[2021-04-13 14:34] bozana commented on #6920
@NateWr, I've just tried to install the OPS anew and I can do it :thinking:
I removed my old DB and created it anew.
I took the main branch of the ops, pkp-lib and usageStats plugin.
I changed the installe = Off in config.inc.php.
I called the ops web site and install it manually there without a problem.

Thus, I am wondering if you maybe already had that table in the DB when doing the installatio

[2021-04-13 15:22] NateWr commented on #6898
Merged to `stable-3_3_0` and cherry-picked to `stable-3_3_1` and `main`.

[2021-04-13 16:02] asmecher commented on #6099
From @stranack:

[2021-04-13 16:04] asmecher commented on #6099
Also, @stranack's opinion is that the field should be required.

[2021-04-13 16:19] NateWr commented on #6099
So correct me if I'm wrong, but I think the remaining changes are:

1. Make country field not required in the add/edit journal form.
2. Add country field to Settings > Journal > Masthead > Publishing Details and make it a required field in that form.

[2021-04-13 16:32] NateWr commented on #6920
Hmm, I've tried again with the same error. I'll look into it later, thanks for checking!

[2021-04-13 16:40] asmecher commented on #6841
@withanage, I think this might be a good one for you to look at!

[2021-04-13 17:31] NateWr commented on #6867
I can see the benefit of this for plugins to extend a particular mapping, but I'm worried about what we lose with the added layer of abstraction. A couple of concerns:

1. With `$collection->addMapping(TYPE, $callback)`, how would we define the dependencies that the map needs? This is a broader problem, in that the dependencies change based on which properties we are mapping. My approach above, to

[2021-04-13 18:25] asmecher commented on #6867
I'm not sure the best way, but we introduced a `Deployment` class for the native import/export plugin which describes overarching characteristics of the import/export process being performed -- for example the configuration, what items had already been imported (so they could be destroyed in case of failure), etc. That approach might be useful in defining the characteristics of the desired mapping

[2021-04-14 09:26] NateWr commented on #6772
Another report of this in the [forum](https://forum.pkp.sfu.ca/t/upgrade-to-ojs-3-3-0-5-plugin-settings-error/67028/4).

[2021-04-14 09:39] melat0nin opened #6945 "UsageStats rejects a whole logfile, even with only one malformed line"
**Describe the bug**
When processing access logs, UsageStats will reject a whole log file if even one line is malformed (usually a bad useragent string). This is excessive and skews the stats dramatically (data showing with hundreds or thousands of accesses is rejected on the basis of a single entry), and the manual fix is complicated for non-technical users: accessing the plugin's `reject` direct

[2021-04-14 09:42] melat0nin commented on #6911
Yes indeed, I must have caught them as they were migrating domains. Will close this.

[2021-04-14 09:42] #6911 closed

[2021-04-14 09:45] NateWr commented on #6898
The following PR tries to reduce test failure due to race conditions.

PR:
https://github.com/pkp/pkp-lib/pull/6946

Tests:
https://github.com/pkp/ojs/pull/3105

[2021-04-14 10:12] NateWr commented on #6867
Ok, I can see where you're going with this. It's similar to how a request handler passes the request/response through middleware. My two main concerns are performance and abstraction. I think the use-cases I've been focused on are for the REST API, where we really need to be able to optimize the queries involved in mapping a collection to a response. But in the use-cases you raise (JATS, OAI, impo

[2021-04-14 13:37] pablovp86 opened #6947 "Plugin gallery build failing with bad credentials error on some Pull Requests that execute "pkp-plugin generate-site" command"
Some of the [Plugin Gallery Pull Requests builds are failing](https://github.com/pkp/plugin-gallery/pulls
).

As shown [in this build example](https://travis-ci.com/github/pkp/plugin-gallery/builds/222553194), The error occurs upon the execution of [this command](https://github.com/pkp/plugin-gallery/blob/main/.travis.yml#L15):

`  - if [ $TRAVIS_BRANCH == 'main' ]; then pkp-plugin generate-site $

[2021-04-14 15:22] Vitaliy-1 commented on #6915
Forgot to check OMP and OPS

[2021-04-14 16:51] librariam commented on #4789
+1 more from PKP|PS

[2021-04-14 17:05] Vitaliy-1 commented on #6915
OMP: https://github.com/pkp/omp/pull/958
OPS: https://github.com/pkp/ops/pull/144

[2021-04-14 17:10] Vitaliy-1 commented on #6915
(Waiting for builds to finish before merging)

[2021-04-14 17:21] Vitaliy-1 opened #6948 "[OPS] Upgrade error: servers table doesn't exist"
**Describe the bug**
During upgrade from terminal 3.2.1 -> 3.4.0 receiving a fatal error
[code]

**To Reproduce**
Steps to reproduce the behavior:
run `php tools/upgrade.php upgrade` from 3.2.1 instance
see:
[code]
**What application are you using?**
OPS 3.2.1 -> 3.4 upgrade, suspect affects upgrades to 3.3 too because the error is thrown during `PKPv3_3_0UpgradeMigration` execution

**Additional

[2021-04-14 17:48] asmecher commented on #6947
@pablovp86, I fixed something related to this yesterday -- are you seeing pulls requested since then?

[2021-04-14 17:58] pablovp86 commented on #6947
@asmecher:
[This Pull Request was april 12](https://github.com/pkp/plugin-gallery/pull/64), and [failed with bad credentials](https://travis-ci.com/github/pkp/plugin-gallery/builds/222826392).

[2021-04-14 17:58] asmecher commented on #4789
Hi all -- in recent releases reviewers can be cancelled and reinstated, but reinstating a declined review does not currently reset the review request.

I propose the following workflow:
- A reviewer accidentally declines a review.
- The reviewer contacts the editor, wishing to undo this action.
- The editor cancels the review.
- The editor reinstates the review, contacting the reviewer in the proc

[2021-04-14 18:00] asmecher commented on #6947
Yes, the fix was added after that PR was tested (and it has already been merged). Do you have an open PR that this issue is showing up on?

[2021-04-14 18:02] pablovp86 commented on #6947
Yes, this PR: https://github.com/pkp/plugin-gallery/pull/62

Opened 6 days ago.

It's possible to run again the build process?

[2021-04-14 19:17] librariam commented on #4789
@asmecher this sounds good, I just wonder in this case which email template will be used to let the reviewer choose again? Right now you can cancel and reinstate after the reviewer has already accepted and even submitted a review. Those scenarios call for different templates - unless we could use one that generic enough and just includes a direct review link?

BTW, out of curiosity I just tested i

[2021-04-14 20:23] asmecher commented on #6948
@ajnyga, I suspect some of your recent work to rename entities in the codebase introduced this; would you mind having a look?

[2021-04-14 20:29] asmecher commented on #6945
@melat0nin, are you this user on the forum? https://forum.pkp.sfu.ca/t/usagestats-discarding-whole-logs-for-one-bad-entry/64815

Would you be willing to open a pull request with the change you've suggested?

[2021-04-14 23:10] asmecher commented on #4789
@librariam, I'm not sure about the admin history of the sandbox, but here's the template that comes up for me:
![image](https://user-images.githubusercontent.com/200411/114791748-dd845280-9d3b-11eb-86f7-26ab5ac57050.png)

[2021-04-15 00:37] asmecher commented on #6920
@NateWr, I ran into this once myself with OMP but the problem seemed to go away once I did some general cleanup (updated all submodules to latest `main`, reinstalled Composer dependencies, rebuilt JS, etc).

[2021-04-15 00:47] asmecher opened #6949 "Issues can be served by ID in the wrong journal"
See: https://forum.pkp.sfu.ca/t/issues-from-different-journals-mixed-up-in-multi-journal-installation-ojs-3-2-1-2/65759

[2021-04-15 00:50] #6949 closed

[2021-04-15 01:04] asmecher commented on #6772
@NateWr, I suspect this is related to #5619 -- do you have time to take a look?

[2021-04-15 01:05] asmecher commented on #6949
For those encountering this issue, it can be resolved by applying any of the linked commits here; they are all equivalent, just applied to different branches.

[2021-04-15 09:24] NateWr commented on #6947
@pablovp86 I've restarted the build. However, you may need to rebase the PR against the latest changes in the `main` branch. Otherwise the tests will be run against the old build.

[2021-04-15 11:01] noni90 opened #6950 "[OJS]"
hi  i  have problem in  new ojs 3.3.0-5 the log out icon disappear from the dashboard how can  i  fix it

[2021-04-15 13:06] NateWr commented on #6772
This turned out to be related to the serialize-to-array conversion in https://github.com/pkp/pkp-lib/issues/5772. A plugin setting in one context will override the same setting in another context when the `setting_type` is `object`.

The Custom Block Manager is the only plugin I could find with these types of settings. However, you can check your own system by running the following SQL query:

[co

[2021-04-15 13:18] NateWr commented on #6683
Sorry @jnugent, I'm just seeing your commit now. Are you able to work that up into a PR? If so, the only change is that we need to check if `isset($plugins[$plugin])` before calling it on this line: https://github.com/jnugent/pkp-lib/commit/7a7d0529420c748366bf3bb9f1fb5f4459cdf70d#diff-4edc3b79468efaa5f9cb90fd67b416f05ea5181b98b30aaa1e211bba54418006R55. Otherwise, we'll get a fatal error when a jo

[2021-04-15 13:37] Vitaliy-1 commented on #6772
Citation Style Language plugin settings may also be affected

[2021-04-15 13:43] jnugent commented on #6683
Hi @NateWr  sure, I'll get something to you in a bit.  And I actually hit that isset issue and forgot to update my local fork!

[2021-04-15 13:46] NateWr commented on #6772
Thanks @Vitaliy-1, I've added that to the info above.

[2021-04-15 14:37] asmecher commented on #6950
@noni90, can you post your question on the support forum (https://forum.pkp.sfu.ca)? That's the best place to get help.

[2021-04-15 14:37] #6950 closed

[2021-04-15 14:51] mfelczak commented on #6772
Hi @NateWr, we've identified the following plugins from installs that have been upgraded to OJS 3.3.0:

browseplugin
citationstylelanguageplugin
plnplugin
shariffplugin
sponsors
twitter

[2021-04-15 15:27] noni90 commented on #6950
I fixed it thank you so much

[2021-04-15 15:43] NateWr commented on #6867
@asmecher I think I've got a good approach now based on your last post.

A global facade/factory is used to instantiate maps (see [here](https://github.com/NateWr/pkp-lib/blob/7ba59e98e2e3352a3d872fc2538c2285f5f7ee65/classes/facade/Map.inc.php)).

[code]

A single map object can be extended for one-off use-cases:

[code]

Or a plugin can register an extension on the `Map` facade/factory:

[code]

[2021-04-15 15:45] bozana commented on #6945
Hi @melat0nin, it would be really useful for us to know why the log file entry is not valid. Do you use the OJS or apache logs?
That function `_isLogEntryValid` only checks if the entry is empty and if the date is a numeric > 0. Thus one of those two cases should be the problem in your log files?
If you take a look into the usage stats scheduled task log files (under scheduledTaskLogs/Usagestatist

[2021-04-15 15:54] NateWr commented on #6772
Thanks @mfelczak! I've added that to the info above.

[2021-04-15 15:56] NateWr commented on #6898
@asmecher hopefully this reduces test failures but if it continues to be a problem feel free to yank the test and I can work on it next week.

[2021-04-15 17:11] Vitaliy-1 commented on #6915
All OPS builds are failing when trying to find
[code]
I don't think we have the `Submission` tab in the workflow of OPS, don't we?
![test](https://user-images.githubusercontent.com/20665587/114910359-7a231f00-9e26-11eb-8f87-ba9c665067cf.png)

[2021-04-15 17:22] NateWr commented on #6915
No, only production

On Thu, 15 Apr 2021, 18:12 Vitaliy, ***@***.***> wrote:

[2021-04-15 19:20] pablovp86 commented on #6947
@NateWr same problem after the rebase: https://github.com/pkp/plugin-gallery/pull/62/checks

Not quite sure, maybe this new PR solves the problem?
https://github.com/pkp/plugin-gallery/pull/65/

[2021-04-15 19:50] #6915 closed

[2021-04-15 20:39] emmauhl opened #6951 "Remove "Allow user self-registration" for Author role"
**Problem**
Since the ability to self-register as an Author was removed in OJS 3.x, there has been a lack of documentation or explanation as to how the Author role is granted to registrants, causing confusion when journals enable self-registration for the Author role.

There have been a few forum posts recently where this behavior was mistakenly identified as a bug by those maintaining multijourna

[2021-04-15 21:23] diegoabadan commented on #6852
This problem seems to occur in 3.2.x as well.

[2021-04-15 21:44] asmecher commented on #6867
Looking good, @NateWr -- will this require us to implement a class for each combination of mapping and entity to be mapped? If so, what do you think about setting up mappings [programatically via lambda functions](https://github.com/pkp/pkp-lib/issues/6867#issuecomment-816970568) rather than implementing them in classes?

That way a coder can choose to implement an entire (probably simple) set of

[2021-04-16 09:57] Vitaliy-1 opened #6952 "Remove file naming test from the shared library"
**Describe the bug**
OPS Travis builds are failing because Cypress test containing the script to change the name of the file on the submission stage in the shared library: https://github.com/pkp/pkp-lib/blob/eae0b1b98604f25eda79cb13f8e2785870477217/cypress/tests/integration/Filenames.spec.js

**To Reproduce**
Run build, see:
[code]

**What application are you using?**
OPS main branch

**Additional

[2021-04-16 11:24] AhemNason commented on #6852
Hey @diegoabadan, it's possible what you're seeing in 3.2.x is this: https://github.com/pkp/ojs/pull/2882

The validation errors are similar but they were caused by different things.

[2021-04-16 11:58] ronniebrito commented on #6942
thanks @NateWr , undesrtand
we'll try another aproach :)

[2021-04-16 11:59] ronniebrito commented on #6942
thanks @NateWr , undesrtood :)
we'll try another aproach

[2021-04-16 14:58] asmecher commented on #6947
Yes, https://github.com/pkp/plugin-gallery/pull/65 should resolve the issue -- it should be resolved in the coming days.

[2021-04-16 15:01] pablovp86 commented on #6947
Thanks @asmecher.

[2021-04-16 16:28] asmecher opened #6953 "Replace getCCLicenseBadge static calls with instance calls"
See https://forum.pkp.sfu.ca/t/the-entry-page-is-not-shown-in-omp-3-3-0-4/66798:
[code]

[2021-04-16 16:29] #6953 closed

[2021-04-16 19:27] maxfieldk29 commented on #2644
I am running into this issue (with the abstract anyway, not the keywords) in 3.3.0.5.

[2021-04-16 22:53] asmecher commented on #6091
OPS after mods:
real	15m8.171s
user	30m59.733s
sys	2m54.593s

OPS before mods:

[2021-04-16 23:09] asmecher commented on #6091
`lib/pkp/classes/core`:
- [ ] announcement
- [ ] cache
- [ ] citation
- [ ] cliTool
- [ ] components
- [ ] config
- [ ] context
- [ ] controlledVocab
- [ ] controllers
- [ ] core
- [ ] db
- [ ] file
- [ ] filter
- [ ] form
- [ ] handler
- [ ] i18n
- [ ] identity
- [ ] install
- [ ] linkAction
- [ ] log
- [ ] mail
- [ ] metadata
- [ ] migration
- [ ] navigationMenu
- [ ] note
- [ ] notification
- [

[2021-04-17 06:24] jonasraoni opened #6955 "[Portico] Issues with the stable-3-1-2 branch"
I've updated to the latest version of the stable-3-1-2 branch and caught/fixed some issues:
- The composer.json is missing the `league/flysystem-ftp`
- Missing loading composer autoloader
- Update readme with the new steps (e.g. composer)
- When submitting forms (e.g. Deposit Issues), a warning about leaving the window with unsaved data pops up
- Spread the updates to the newer branches

PRs:
- ht

[2021-04-17 09:52] eniocarboni opened #6956 "mEDRA Export: PHP Fatal error after upgrade"
**Describe the bug**
After upgrade from OJS 3.2.1-3 to 3.3.0-4 mEDRA Export has stopped working (blank page: 500 internal server error).
I upgrade mEDRA plugin (DOI to mEDRA xml export and registration plugin) to version 3.0.0.1.
When export the log is:

`PHP Fatal error:  Uncaught Error: Call to a member function setDeployment() on null in /home/ojs/ojs-3.3.0-4/classes/plugins/PubObjectsExportPlu

[2021-04-17 14:52] bozana commented on #6956
Hi @eniocarboni,
In the 3.3.0 the medra plugin was removed from core to the plugin gallery. Thereby we needed to remove the filters used by the medra plugin in the upgrade script (s. https://github.com/pkp/ojs/blob/stable-3_3_0/classes/migration/upgrade/OJSv3_3_0UpgradeMigration.inc.php#L43-L46).
How did you do the medra plugin update? -- I would think that you would need to install the plugin ane

[2021-04-17 15:11] eniocarboni commented on #6956
Yes, from the plugin gallery, I did the upgrade directly as the installation was not possible.
Thank you very much, looking forward to how to fix this.

[2021-04-17 16:06] bozana commented on #6956
@asmecher, when I moved the medra plugin to its own repository and made it available via plugin gallery, I removed the scheduled task and filters, but not the entries in the DB table versions. This way the plugin gallery offers the user to update the plugin, but that way the filters will not be (re-)installed. Should I also remove the medra entries from the DB table versions during the 3.3.0 upgra

[2021-04-17 19:34] jonasraoni opened #6957 "[OMP] Unable to create press in a certain condition"
**Describe the bug**
When creating a new press, if there's just one language and the user press "Save" without selecting one, the primary locale will accuse an error, which is not possible to fix (selecting the language doesn't let me proceed).

**To Reproduce**
- Ensure the installation has just one locale
- Create a new press
- Leave the language unselected
- Save

**What application are you usi

[2021-04-17 21:29] AhemNason opened #6958 "Unrecognized DAO error related to Crossref Reference Linking Plugin"
If you have the Crossref Reference Linking plugin enabled on either the most recent 3.2.x release or 3.3.x release, you'll get this error when trying to deposit your DOIs to Crossref.

I know there was an Unrecognized DAO error reported by some after the migration to 3.3 but this issue is consistent with users who have the plugin enabled on 3.2.x as well. Disabling the plugin allows submission to

[2021-04-17 21:32] asmecher commented on #6958
@AhemNason, I'm pretty sure this means they have a version of the plugin installed that's not compatible with the release of OJS they're using (too old).

[2021-04-17 21:35] AhemNason commented on #6958
Hey @asmecher, I thought so too, but these installs are showing that this is the latest available version of the plugin.
![Screen Shot 2021-04-17 at 6 34 37 PM](https://user-images.githubusercontent.com/504276/115127276-ac11be00-9fab-11eb-828c-b7a49e42a0d2.png)

[2021-04-18 02:22] asmecher commented on #6958
Can someone turn on the stack trace option in config.inc.php and add the resulting stack trace here?

[2021-04-18 15:39] eniocarboni commented on #6956
Hi @bozana in my test env I execute:
**test 1:**
1.1 - `DELETE from versions WHERE product_type='plugins.importexport' AND product='medra';`
1.2 - reload the gallery plugins.
1.3 - the problem **is not solved**
**test 2:**
2.1 - `DELETE from versions WHERE product_type='plugins.importexport' AND product='medra';`
2.2 - rm -rf plugins/importexport/medra
2.3 - In Gallery Plugins I install medra
2.4

[2021-04-19 04:09] ewhanson commented on #6062
Hey @asmecher and @NateWr, I'm working on setting up an API call for handling the exporting/depositing actions for the Crossref plugin and ran into an issue. I'm using a custom API endpoint to trigger the exporting/depositing logic from `CrossRefExportPlugin` but run into trouble in the filter here: https://github.com/pkp/crossref-ojs/blob/bf4d17d6c4bd7de8b25916c49e75617599e39af1/filter/IssueCross

[2021-04-19 05:31] davidjb opened #6959 "[OJS] ORCID iD icon display requires ORCID Profile Plugin to be enabled"
**Describe the bug**
Article views in OJS display an author's ORCID iD, but the ORCID icon doesn't display unless the ORCID Profile Plugin is installed and enabled, meaning core OJS is silently depends on this plugin.  Could the icon be moved into the core?

**To Reproduce**
Steps to reproduce the behavior:
1. Create an article with an author with an ORCID iD attached
2. View the article page and

[2021-04-19 09:06] defstat commented on #6490
Hi @asmecher, @NateWr

Rebased the PRs for OJS, OMP and PKP-LIB and fixed some issues:

**PRs**
pkp-lib: #6960
ojs: #pkp/ojs#3109
omp: #pkp/omp#961

We could probably check them and merge them to main, and start working on main afterwards, for more features/fixes.

There is still [this issue](https://github.com/pkp/pkp-lib/issues/6925) that needs to be merged (and is related to this one)

[2021-04-19 09:33] NateWr opened #6961 "Opt-out of Google's FLoC surveillance technology by default"
**Describe the problem you would like to solve**
Google is pushing a new, centralized user tracking system that embeds tracking into the Chrome browser. The browser will analyse the user's browsing behaviour and sort them into one of thousands of categories that Google defines. A user's category can then be sent on to any third-parties which request such surveillance.

Learn more about the [EFF's

[2021-04-19 10:13] #6942 closed

[2021-04-19 10:47] jonasraoni commented on #6955
As I've already fixed/tested, I can create PRs later, I just didn't check one issue (unsaved data popup).

[2021-04-19 10:54] jonasraoni commented on #6961
If we're going to add it, I see two options to consider:
- Let the end user decide: [DNT](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/DNT)
- Let the administrator decide: an option to control it (disabled by default)

As we're in this subject, perhaps the plugins related to statistics/analytics should also consider the DNT setting.

[2021-04-19 11:18] NateWr commented on #6867
Yeah, it will.

How would we define the relationship between a map and its dependencies with lambda functions? The main benefit of defining classes and methods like this is that when using them, an IDE can identify what mapping methods are available and  what dependencies are expected, with useful type hinting like this:

![autocomplete-maps](https://user-images.githubusercontent.com/2306629/11522

[2021-04-19 12:41] NateWr commented on #6925
Both merged to `main`. @asmecher there are no plans to backport this, right?

[2021-04-19 12:41] #6925 closed

[2021-04-19 13:01] NateWr commented on #6957
Ah yeah, good catch. So when only one language is supported we should pre-set these fields or just set them automatically on save.

[2021-04-19 13:03] diegoabadan commented on #6852
@ffpl, can confirm?

[2021-04-19 13:04] NateWr commented on #6958
It looks like 1.0.2.1 is only compatible with 3.3.0.4 and 3.3.0.5. https://github.com/pkp/plugin-gallery/blob/main/plugins.xml#L2591-L2598

[2021-04-19 13:10] israelcefrin commented on #6958
Hi @asmecher
Here it goes the stack trace when trying to deposit metadata XML in CrossRef:

[code]

[2021-04-19 13:30] bozana commented on #6956
Hi @eniocarboni, yes, the test 2 is the way to fox the upgrade -- the execution of the SQL statement that deletes the entries in the DB table versions as well as the removal of the plugin folder is needed.
The earlier plugin versions track is not necessary needed.
Is the situation on your production environment the same -- did you upgrade to 3.3.0.4 and update the mEDRA plugin? If so, then you can

[2021-04-19 13:42] bozana commented on #6958
Hmmm... it seems to me that the plugin code is still the old one, from the version 1.0.1-1, s. https://github.com/pkp/crossrefReferenceLinking/blob/v1_0_1-1/CrossrefReferenceLinkingPlugin.inc.php#L190 vs. https://github.com/pkp/crossrefReferenceLinking/blob/v1_0_2-1/CrossrefReferenceLinkingPlugin.inc.php#L190.
It seems like the update from the plugin gallery did not work correctly, I am just wonde

[2021-04-19 13:52] eniocarboni commented on #6956
Perfect! thank you successfully applied test 2 also at the production site.

[2021-04-19 13:54] NateWr commented on #6959
Is there a way to enter an ORCID for an author if not using the ORCID profile plugin? The default templates are coded to support some very common plugin data when it is available (eg - DOIs, How to Cite).

[2021-04-19 14:02] bozana commented on #6958
And, as @NateWr said, the fix is only available for 3.3.0-4 and 3.3.0-5. For other versions the plugin gallery should not offer the upgrade.
Also, the plugin is/was not available for the version 3.2.x at all. Thus, I assume those using 3.2.x would still have the old and for 3.2.x not functioning plugin version :-P -- maybe the plugin gallery should/could behave differently and at least inform the

[2021-04-19 14:27] asmecher commented on #6925
No, just for `main` is fine with me.

[2021-04-19 14:32] NateWr commented on #6772
Merged to `stable-3_3_0` and cherry-picked to `stable-3_3_1` and `main`.

[2021-04-19 14:32] #6772 closed

[2021-04-19 14:37] Moradnejad commented on #5215
For anyone coming to this issue, it's implemented to a great extent.
You can go to Settings->Journal-> Sections
The author will select the issue at the start of submission.
The editor can filter using these sections.
You can specify the issue's editors and section policy.

[2021-04-19 15:10] asmecher commented on #6062
@ewhanson, OJS picks a router if you don't specify one, and in this case it picked the API router when you actually want to generate a page router URL. You can manually specify what kind of router you need as follows:
[code]

[2021-04-19 15:17] asmecher opened #6962 "OAI resumption tokens never delivered"
:See https://forum.pkp.sfu.ca/t/ojs-3-3-05-oai-no-resumptiontoken/67134

I looked into ./lib/pkp/classes/oai/PKPOAIDAO.inc.php and $total never contains the total number of articles. I guess it’s because RecordCount() doesn’t work anymore, and the replacement does not work properly?

[2021-04-19 15:31] asmecher opened #6963 "Improve OAI performance"
There are FIXMEs in PKPOAIDAO regarding inefficiency in seeking through a result set to the correct subset. For large repositories these will perform poorly.

[2021-04-19 15:31] asmecher commented on #6962
(Related: https://github.com/pkp/pkp-lib/issues/6963)

[2021-04-19 15:57] ewhanson commented on #6062
Thanks @asmecher, that's exactly what I was looking for!

[2021-04-19 16:42] NateWr commented on #6683
Thanks @jnugent. I've just ported your commits over to a new PR that's staged against `stable-3_3_0` so I can test against the stable version. Once the tests pass I'll merge and cherry-pick forward.

PR:
https://github.com/pkp/pkp-lib/pull/6964 (`stable-3_3_0`)

Tests:
https://github.com/pkp/ojs/pull/3110

[2021-04-19 16:56] NateWr commented on #6272
All merged to `main`. @asmecher I notice that this was pegged to 3.3.1, but since we're less likely to put out a 3.3.1 soon, now, is it ok to leave this in `main` only?

[2021-04-19 17:45] bozana commented on #6956
PR:
stable_3_3_0: pkp/ojs#3108

[2021-04-19 17:48] bozana commented on #6956
@asmecher, just a quick look? :point_up_2: :pray: :-)

[2021-04-19 17:50] asmecher commented on #6490
Thanks, @defstat -- I just made a couple very minor comments, but otherwise please rebase and merge ASAP and we'll get the code formatting in place!

[2021-04-19 17:51] asmecher commented on #6272
Yes, I've moved it off to 3.4.

[2021-04-19 17:52] asmecher commented on #6956
That's fine -- please go ahead, thanks!

[2021-04-19 21:30] davidjb commented on #6959
Yes, user profiles and author details associated with submissions/articles have a text input field for ORCID iD by default without the plugin enabled.

When the ORCID Profile plug-in is enabled, the latter (haven’t checked the former) gets replaced with an authorisation Oauth workflow for ORCID - checkboxes appear for emailing the authors to use ORCID’s API to validate their iDs.

[2021-04-19 22:15] diegoabadan commented on #6852
@AhemNason You're right, it was the pkp/ojs#2882 correction we used.
Thanks!

[2021-04-20 11:59] pablovp86 commented on #6947
Problem [solved](https://github.com/pkp/plugin-gallery/pull/62/checks?check_run_id=2383583459).

[2021-04-20 11:59] #6947 closed

[2021-04-20 12:22] #6272 closed

[2021-04-20 16:57] NateWr commented on #5678
:tada: All merged!

[2021-04-20 16:57] #5678 closed

[2021-04-20 17:32] #6683 closed

[2021-04-20 22:50] pmangahis commented on #4325
+1 from client  (2 journals) that would be interested in this updated plugin.

[2021-04-21 04:46] ajnyga opened #6965 "Add sitemap url to robots.txt"
**Describe the problem you would like to solve**
Adding the sitemap url to robots.txt would make crawling OJS/OMP/OPS sites easier.

**Describe the solution you'd like**
Specifications here: https://developers.google.com/search/docs/advanced/robots/robots_txt#google-supported-non-group-member-lines

**Who is asking for this feature?**
Google, other search engines will benefit as well.

[2021-04-21 08:08] marcbria commented on #6961
Very much agree with Jonas but I have doubts about what "disabled by default" means.
Does it means "FLoC disabled" or "anti-FLoC feature disabled"? :-)

In my opinion, as far as we have a position on this and code need to be developed to support this position, my recommendation would be keep anti-FLoC feature "enabled by default".

Sounds like a nuance but most of the journals won't touch the defa

[2021-04-21 08:44] NateWr commented on #6965
I think that hosts will often provide their own robots.txt file. How would we ensure that we are not overriding existing robots.txt settings?

I'm also concerned about this from the documentation:

How would we know that the application is in a top-level directory? Would a robots.txt file work for an instance where some but not all journals are hosted at a TLD?

[code]

[2021-04-21 08:46] ajnyga commented on #6965
We do already have robots.txt in every application.

[2021-04-21 08:55] ajnyga commented on #6965
Probably the easiest way of handling base_url settings would be to create robots.txt dynamically like they do in WP https://developer.wordpress.org/reference/functions/do_robots/

[2021-04-21 08:56] NateWr commented on #6959
Thanks  @davidjb, I think there's been some discussion about that but I couldn't find anything in the [plugin repository's issue list](https://github.com/pkp/orcidProfile/issues).

[2021-04-21 09:08] jonasraoni commented on #6961
@marcbria Oh, I meant FLoC disabled by default =]

And in general I think such things made to satisfy external entities, such as "tags for Twitter, Facebook, Google, ...", should be implemented as plugins. I just don't know what we should install/enable by default, perhaps the installation should also have an option to select the plugins 🤔

[2021-04-21 09:41] NateWr commented on #6965
You're right, my mistake! I'm curious how WordPress does this when it's run without `mod_rewrite`. I think when we have `disable_path_info` on it might not be possible to write the `robots.txt` file dynamically. Maybe that's ok though.

Alternatively we could write the robots.txt during install, whenever a context is added or `urlPath` is edited, and at the end of each upgrade process. If we put t

[2021-04-21 10:09] marcbria commented on #6961
Perfect Jonas. Thanks.

The "installer asking for plugins" would be a nice feature... but I think we have a lot of requirements to fix first.
For instance, "Autoupgrade" would be my top priority right now to keep people happy with OJS and to relax the pressure in forum at the same time, but I'm risky turning my post into an OT. :-)

Let's talk about this in slack if you like.

[2021-04-21 11:55] jonasraoni commented on #6867
I didn't read this thoroughly yet, so I just wanted to leave the link of a library that I use in C#, perhaps there's something useful in the documentation if you're still looking for ideas: https://docs.automapper.org

[2021-04-21 12:43] NateWr commented on #6867
Thanks @jonasraoni. It looks like there is a PHP library, [automapper-plus](https://github.com/mark-gerarts/automapper-plus), based on the C# library.

At first glance, my main hesitation would be stepping away from the JSON schema to define entities. The big benefit we get from this is solid documentation of the REST API out-of-the-box. It may be possible to generate this from the `Dto` classes i

[2021-04-21 13:53] Clairoouh commented on #6762
Dear all,
I am the editorial manager of OENO One journal (OJS 3.2.1.3). I am not a web developer and don't have any skills.

Very often, during the review process, the associate editors have to modify the reviewers' files (e.g. to make them anonymous or to add a note) before sending them to authors. Here, uploading is impossible. Associate editors have to contact me so that I can upload the files

[2021-04-21 13:59] Vitaliy-1 opened #6967 "Class not found errors during upgrade"
**Describe the bug**
OJS master branch. Upgrade from the previous releases cannot be performed because of class not found errors.
Probably related to: https://github.com/pkp/pkp-lib/issues/6091
First one:
[code]
Second:
[code]
Third:
[code]

**What application are you using?**
 OJS master branch

**Additional information**
Looks like just a namespacing issue, nothing more.

[2021-04-21 14:02] NateWr commented on #6952
The following PR should make the test work across all three applications. I also made use of the REST API so it should be faster now.

PR:
https://github.com/pkp/pkp-lib/pull/6966

Tests:
https://github.com/pkp/ops/pull/147
https://github.com/pkp/ojs/pull/3111
https://github.com/pkp/omp/pull/964

[2021-04-21 14:23] Vitaliy-1 commented on #6967
PR pkp-lib: https://github.com/pkp/pkp-lib/pull/6968
@asmecher, can you take a look?

[2021-04-21 15:06] NateWr opened #6969 "Forms shouldn't submit data from FieldHTML form fields"
**Describe the bug**
A `FieldHTML` field is used to display information in a form without any input. However, the `Form.vue` component will still compile these fields into the data that is sent when the form is submitted.

The `Form.vue` component should check the field type to determine if it should be included in the submit values. Perhaps `FieldHTML.inc.php` should have a property to define thi

[2021-04-21 15:14] Vitaliy-1 opened #6970 "Allow app-specific event registration"
**Describe the problem you would like to solve**
The current implementation of Laravel events allows registering events and their listeners only in shared library, see: https://github.com/pkp/pkp-lib/blob/c5de60d01d3ac197df3f17a2bc58f3b0cf97e009/classes/core/PKPEventServiceProvider.inc.php, in boot method or listen property. Allow each application to add its own events and listeners, modify existi

[2021-04-21 15:16] asmecher commented on #6762
@Clairoouh, the issue you're describing looks the same as the one described in this entry, so it should be resolved by applying the changes introduced here. Specifically, those are [these code changes](https://github.com/pkp/pkp-lib/pull/6792/files) in the `lib/pkp` submodule. Unfortunately it's inherently a technical (web admin) matter to apply these changes so you may need to get some outside as

[2021-04-21 15:17] asmecher commented on #6967
Merged, thanks, @Vitaliy-1 -- there will likely be more of these.

[2021-04-21 15:17] #6967 closed

[2021-04-21 15:59] NateWr commented on #6969
This turned out to be specific to the `EmailTemplatesListPanel`. There a `FieldDescription` is created programatically and the `value` is assigned when it shouldn't be. Fixed in the commit above.

[2021-04-21 15:59] #6969 closed

[2021-04-21 16:01] NateWr commented on #6952
Merged to `stable-3_3_0` and cherry-picked to `stable-3_3_1` and `main`.

[2021-04-21 16:01] #6952 closed

[2021-04-21 16:52] NateWr commented on #6938
Merged to `stable-3_3_0` and cherry-picked to `stable-3_3_1` and `main`.

[2021-04-21 16:52] #6938 closed

[2021-04-21 16:57] marcbria commented on #6961
More about FLoC:

Opinion and implementation:
- https://plausible.io/blog/google-floc#how-to-opt-out-of-floc-as-a-web-developer-set-a-permissions-policy

Discussion in other communities:
- Wordpress (flame alert :-P): https://make.wordpress.org/core/2021/04/18/proposal-treat-floc-as-a-security-concern/
- Discourse: https://meta.discourse.org/t/floc-network-opt-out/187080/20

[2021-04-21 23:09] davidjb opened #6971 "[OJS] Require ORCID iDs to be authenticated (prevent manual entry)"
**Describe the problem you would like to solve**
At present, OJS allows users to copy/paste or manually enter their ORCID iDs into their profiles, and allows manual entry into articles for publication.  The [ORCID Brand Guidelines](https://info.orcid.org/brand-guidelines/) mentions this isn't allowed:

At present, manual entry is only possible when the orcidProfile plugin isn't enabled (as describ

[2021-04-21 23:16] davidjb commented on #6959
@NateWr I opened #6971 as a feature request - at the moment, the two different processes (manual entry vs ORCID Oauth process) is creating some confusion for journals we host; having just the official process would be ideal.

[2021-04-22 07:28] defstat opened #6972 "PKPString missing at Citation.inc.php"
**Describe the bug**
A fatal error is produced from Publication edit if the References are enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Submissions
2. Go to publication
3. see the error (if references are enabled)

**What application are you using?**
 OJS, OMP or OPS version 3.3

[2021-04-22 07:40] defstat commented on #6972
@asmecher

**PR**
[pkp-lib]: #6973

[2021-04-22 07:43] defstat opened #6974 "Fix Filter Test Brake"
**Describe the bug**
The `FilterTest::testInstantiationAndExecute` is failing

**What application are you using?**
 OJS, OMP or OPS main branch - after #6490 merge

[2021-04-22 07:56] defstat commented on #6974
@asmecher @NateWr

**PR**
[pkp-lib]: #6975

[2021-04-22 08:49] NateWr commented on #6971
@asmecher, @withanage I think we've had some conversations about this but I can't remember whether we made a decision.

[2021-04-22 08:51] NateWr commented on #6974
@defstat can you add an OJS PR with the submodule update so the tests are run?

[2021-04-22 08:53] NateWr commented on #6972
:+1: merged.

[2021-04-22 08:53] #6972 closed

[2021-04-22 09:43] defstat opened #6976 "Remove abstract methods from ImportExportPlugin"
**Describe the problem you would like to solve**
The ImportExportPlugin was provided with 3 abstract methods as part of the Native Import/Export plugin changes (#6490). That adds complications to 3rd party plugins. That could be part of a larger change that takes into account every existing and future plugins.

**Describe the solution you'd like**
Leave the changes only to Native Import/Export plu

[2021-04-22 09:46] defstat commented on #6974
Everything passed
https://travis-ci.com/github/pkp/ojs/builds/223846455

[2021-04-22 09:49] NateWr commented on #6974
Thanks @defstat, all merged!

[2021-04-22 09:49] #6974 closed

[2021-04-22 11:04] defstat commented on #6976
@asmecher @NateWr

**PRs**
[pkp-lib]: #6977
[OJS]: pkp/ojs#3114
[OMP]: pkp/omp#965
[OPS]: pkp/ops#148

OMPs tests are failing with

[code]

Are you getting this also?

[2021-04-22 11:14] ajnyga opened #6978 "Provide a Series navigation to the Catalogue page"
**Describe the problem you would like to solve**
Currently the only route to Series archive is through the Browse block plugin which can be very hidden especially in mobile layouts. We need additional routes to Series archives through the Catalogue page.

**Describe the solution you'd like**
Theme option to Default theme that allows you to list the available publisher Series. (mock-up from Nate)
!

[2021-04-22 12:47] luizbgomide opened #6979 "[OJS 3.3.0.3] Unassigned submission list not working"
The Unassigned tab is blank, even though I have unassigned submissions in my Active tab.

![image](https://user-images.githubusercontent.com/18707781/115716136-3f9e1280-a34f-11eb-8567-113f92cad7d9.png)

![image](https://user-images.githubusercontent.com/18707781/115716473-986dab00-a34f-11eb-9dab-ef06ef5ecf65.png)

This is happening in all journals, and with every editor.

[2021-04-22 13:01] NateWr commented on #6957
For the stable branches, I've just added a small bit of code to `AddContextForm.vue` so that changes to the `supportedLocales` will clear that error. For the `main` branch, I've removed language selection from the form when only one language is available.

PRs:
https://github.com/pkp/ui-library/pull/154 (`stable-3_3_0`  to be cherry-picked to `stable-3_3_1`)
https://github.com/pkp/ui-library/pull/

[2021-04-22 14:23] alexxxmendonca opened #6981 "[OPS] ORCID record access request email doesn't include Manuscript Title"
**Describe the bug**
The e-mail that is sent to authors requesting record access before the submission is completed doesn't include the manuscript title.

This can be particularly confusing for authors receiving the e-mail notification.

**To Reproduce**
Steps to reproduce the behavior:
1. Begin a submission process logged in as a different author (ORCID profile plugin needs to be enabled)
2. Add

[2021-04-22 14:26] alexxxmendonca opened #6982 "[OPS] Ability to delete unpublished/unposted submissions"
**Describe the problem you would like to solve**
As a server administrators, we sometimes make tests. These tests are being "rejected" to they no longer appear in our working queue, giving that there is not a method to delete such test submissions.

However this is not helpful for our statistics as the number of rejected submissions are "inflated" by these tests.

**Describe the solution you'd lik

[2021-04-22 14:41] ajnyga commented on #6978
OMP: https://github.com/pkp/omp/pull/966

[2021-04-22 14:50] asmecher commented on #6981
@alexxxmendonca, the `{$submissionTitle}` variable is available to that template, even though it's not included by default. If you have some specific wording to propose, could you add it to the en_US and pt_BR locales here? https://translate.pkp.sfu.ca/projects/orcid-profile-plugin/

[2021-04-22 15:03] crosfield commented on #6982
Support this for OJS too

[2021-04-22 15:31] asmecher commented on #6982
@crosfield, it should be possible in OJS to send submissions to the archive then delete them from the submission list.

[2021-04-22 15:38] asmecher opened #6983 "On password change, invalidate other sessions"
When a user changes their password, it should invalidate any other open sessions from the user.

[2021-04-22 15:39] asmecher opened #6984 "Add ReCAPTCHA support to password reset form"
The password reset form can generate unwanted emails if abused. Add ReCAPTCHA support to the password reset form.

[2021-04-22 16:03] alexxxmendonca commented on #6981
Hi @asmecher
I am not sure I understood your instruction.

The `{$submissionTitle}` variable is on the e-mail template:

![image](https://user-images.githubusercontent.com/4059679/115746898-1d19f280-a36b-11eb-8e7c-3cb14c03d815.png)

What else needs to be done?

[2021-04-22 16:10] asmecher commented on #6981
Gotcha, I misunderstood the original report. Assigning to @withanage as he's maintaining the ORCID profile plugin.

What version of the ORCID profile plugin are you using, and what version of OPS are you using?

[2021-04-22 16:18] alexxxmendonca commented on #6981
👍

OPS v3.2.1.0
ORCID plugin v1.1.2.7

[2021-04-22 16:53] asmecher commented on #6490
@defstat, is this issue ready to be closed?

[2021-04-22 17:14] defstat commented on #6490
Not yet. Waiting for some @ajnyga work for rebasing ops pr.

[2021-04-22 17:17] ajnyga commented on #6490
Go ahead @defstat I am happy to rebase mine after your changes!

[2021-04-22 17:37] pmangahis opened #6985 "PKP PN for OMP"
Describe the problem you would like to solve
PKP PN is currently not available for OMP

Describe the solution you'd like
Port the PKP PN plugin

Who is asking for this feature?
PKP PS had recently met with a potential client who was interested in migrating from another preprint platform and had inquired about archiving support.

[2021-04-22 17:58] asmecher commented on #6985
(Related: https://github.com/pkp/pkp-lib/issues/6985)

[2021-04-22 19:24] mfelczak opened #6986 "HTML entities displayed in journal title by citationStyleLanguage plugin"
**Describe the bug**
Some characters in the journal title are converted into HTML entities in citations displayed by the citationStyleLanguage plugin on the article landing page, e.g. `Journal of Knowledge & Open Access` is displayed as  `Journal of Knowledge &amp; Open Access`

**To Reproduce**
Add special characters to the journal title under Settings > Journal > Journal title

**What applicatio

[2021-04-22 19:34] asmecher commented on #6986
@mfelczak, could you double-check that this entry is rendered as you expected? Looks like Github unescaped the entity you were trying to include.

[2021-04-22 19:48] mfelczak commented on #6986
Thanks @asmecher, updated! The irony has also been noted.

[2021-04-22 21:52] asmecher commented on #6976
@defstat, I think you can fix that message by setting e.g. `upload_tmp_dir = C:\php\temp\` in `config.inc.php`. It's just a notice/warning but seems to be interfering with PHPUnit, which is picky about these things.

[2021-04-22 23:03] kshuttle opened #6987 "Section editor with limited assignment privileges can't make a recommendation pre-review"
**Describe the bug**
Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.

When a managing editor limits the assignment privileges of a section editor so that they can only recommend an editorial decision but require an authorized editor to record decisions, the section editor has the "Send to Review" option available in a submission, but no opti

[2021-04-22 23:29] asmecher commented on #6971
I'll defer to @withanage, who is in closer contact with the ORCiD folks, but I think it might be sensible to review OJS's behaviour generally when the plugin is disabled. The ORCID profile plugin has become quite mainstream now, and I think those who want ORCID integration at all can be expected to use it. For example, I think it's a defensible decision to fetch/display ORCIDs on the reader front

[2021-04-23 07:59] frafra opened #6988 "OAuth2 authentication"
**Describe the problem you would like to solve**
It would be useful to rely on external services to log in: it would make life easier for both editors and system administrators.

**Describe the solution you'd like**
OAuth2 would be a good candidate.

**Who is asking for this feature?**
Journal Administrators, system administrators.

[2021-04-23 08:18] gabriele-h commented on #6761
Since the subject includes the version I am not sure whether it is better to add my comment here or open a new issue. Please let me know if you would prefer a new bug-report altogether referring to this one.

We are seeing the same issue as described here, but in OJS version 3.2.1-3 - since the data structure was changed from 3.2 to 3.3 I can't just implement the code changes from the PR's commit.

[2021-04-23 08:59] ajnyga commented on #6965
How would the writing of the robots.txt work if you had a site with several custom journal domains?

I mean I am thinking that it should work something like this:

1. One site and one journal: site level sitemap url in robots.txt
2. One site and several journals in the same domain: site level sitemap url in robots.txt
3. One site and several journals with custom domains: just journal level sitemap

[2021-04-23 13:27] withanage commented on #6971
Hi @davidjb ,

Thank you for your comments!

We have had  some previous discussions this issue with orcid.org.
As you already described  the a proper way to handle orcid IDs is to hold only authenticated Orcid IDs in  OJS.

For current versions, we can agree of dropping the field, but still older OJS versions may hold manually entered orcid IDs, which may be tricky in upgrade processes. Automatica

[2021-04-23 14:25] TheMechanicalButterfly opened #6989 "[OJS] Class "PKP\xslt\DOMDocument" not found"
When trying to use the native XML Plugin to import issue data, the following error message appears:

`Class "PKP\xslt\DOMDocument" not found`

I remember seeing some recent commits about namespacing and I wonder, whether it could be related to this.

A quick code search brought up this:

[code]

If the namespace `PKP\xslt` for `XSLTransformer` is declared, the `use` statements should also be names

[2021-04-23 14:35] asmecher commented on #6989
@TheMechanicalButterfly, are you working with the main branch? There is some comprehensive work on #6051 & #6052 that will cause some instability over the next weeks.

[2021-04-23 14:42] TheMechanicalButterfly commented on #6989
@asmecher

Currently yes. Sounds like I should better stick to `ojs-stable-3_1_1`...

[2021-04-23 14:49] asmecher commented on #6989
@TheMechanicalButterfly, if you're looking for the latest released stable branch, it's `stable-3_3_0`.

[2021-04-23 14:51] #6989 closed

[2021-04-23 14:55] asmecher commented on #6989
In any case, I've adjusted the statements that were causing this specific problem (https://github.com/pkp/pkp-lib/commit/9d88bba8425573460497bcd35e3b8e77f5e8b437) but it'll be tough to work with `main` for a little while yet!

[2021-04-23 15:06] oyedeyeye opened #6990 "[OJS] Production stage Loading endlessly in 3.2.1.2"
Dear @NateWr @asmecher kindly help me review what could be the problem with my upgrade of OJS 3.2.1.2 from 3.1.2 that works fine. I set up the issue on the forum. Here is the link

[Image on the PKP Forum](https://forum.pkp.sfu.ca/uploads/default/original/3X/d/a/da43eeeacc2f32c06151e34ab84e32b50778577b.png)

[code]

**Here is the output of error log file between the time frame I was testing out th

[2021-04-23 15:16] asmecher commented on #6990
@oyedeyeye, the forum is the best place to get help -- please be patient, we're a small team. (Cross-link: https://forum.pkp.sfu.ca/t/production-stage-loading-endlessly-in-3-2-1-2/67211)

[2021-04-23 15:16] #6990 closed

[2021-04-23 16:15] asmecher commented on #6979
@luizbgomide, were there any administrative actions that resulted in this, e.g. did you recently upgrade?

[2021-04-23 16:19] luizbgomide commented on #6979
I noticed it some weeks ago, a the last thing I've done was the update from OJS 3.3.0.1 (i think, but it was definitely 3.3) to 3.3.0.5 in February.

Before that it was working

[2021-04-23 17:55] luizbgomide commented on #5288
Is this actually closed? On 3.3.0.3 the user queries (from `/management/settings/access`) still take a long time, somewhere around 30-40 seconds to query a single journal (4783 users) and a whole lot more (just tested and it took 8: minutes 11 seconds) to get all 27839 users is searching for all journals.

I'm using MySQL 8.0.23 and tables are all InnoDB. I could not run the query above on phpMyAd

[2021-04-23 18:03] asmecher commented on #5288
@luizbgomide, this issue identified one of the causes of poor performance and resolved it, and since the release of 3.2.1 the query at the top of the issue is no longer accurate. If you're encountering a performance issue with a later release, I'd suggest filing it as a new issue and using the `debug` option in `config.inc.php` to identify the exact query that's being used.

[2021-04-23 18:05] asmecher commented on #6979
@luizbgomide, were there any issues with the upgrade? (Did it confirm a successful upgrade at the end of the process?)

Could you try (perhaps on a test machine) updating the code to the latest 3.3.0 release? (It'll be database-compatible with 3.3.0-3, so no need to run the upgrade script again.) I'd like to confirm that the issue still exists in the latest code before debugging further.

[2021-04-23 18:19] luizbgomide commented on #6979
Yes, there were no errors. Attached is the result from the migration.

Is was hoping to wait for 3.4 to update since I don't have another database available for testing, but I could try to setup a temporary installation for testing if the database is compatible.

[ojs upgrade.txt](https://github.com/pkp/pkp-lib/files/6367335/ojs.upgrade.txt)

[2021-04-23 18:21] luizbgomide commented on #5288
Thanks @asmecher, the output from degub is just in the httpd.log, right? I got this, but that failed due to the `?` lost in the middle of the code, probably something that wasn't expoted to the appache log!?

[code]

[2021-04-23 19:04] luizbgomide opened #6991 "[OJS 3.3.0.3] Slow queries on the user management page"
The user list/search page `/management/settings/access#users` is very slow on my system. Inside OJS this pages it takes around 7-8 minutes to search for "luiz" in all journals. Outside OJS, running the SQL query below in phpMyAdmin it takes around 80-90 seconds, which also feels slow.

This have been slow since I first migrated to OJS 3.X at version 3.2.1.1 last year, previously at 2.4.8.5 it was

[2021-04-23 19:21] asmecher commented on #6986
For OJS 3.3.0-x users who are affected by this, here is the relevant fix (to be applied in `plugins/generic/citationStyleLanguage`):
https://github.com/pkp/citationStyleLanguage/commit/c9e2d12242fc182729dd5083f5aeb9336a6f8e15

[2021-04-23 19:21] #6986 closed

[2021-04-23 19:24] asmecher commented on #6991
@luizbgomide, if you're able to (privately!) share a database dump, it'll save me some time in figuring out an environment that replicates the problem. Feel free to anonymize any details you like, as long as the issue is still easy to replicate.

[2021-04-23 19:25] asmecher commented on #5288
(Last conversation moved to: https://github.com/pkp/pkp-lib/issues/6991)

[2021-04-23 19:45] asmecher commented on #6979
@luizbgomide, that would be helpful -- there are a number of small bugs fixed since 3.3.0-3 that might be related, and I can confirm that 3.3.0-3 and 3.3.0-5 are database-compatible.

[2021-04-23 19:53] asmecher commented on #6956
@bozana, I took the liberty of merging the PRs for `stable-3_3_1` and `main` (the `stable-3_3_0` one was already merged) -- let me know if that wasn't the plan!

[2021-04-23 19:53] #6956 closed

[2021-04-23 19:57] asmecher commented on #6957
@NateWr, does someone need to review these before merging?

[2021-04-23 21:08] asmecher commented on #6988
Related: https://github.com/leibniz-psychology/openid

[2021-04-24 02:39] israelcefrin opened #6992 "OJS - indistinct metadata keywords field for multilingual journals"
**Describe the bug**
When I load the metadata > keywords form, in multilingual journals, it shows a field with a Locale label and the other field with "keywords" label according to the current language set.
It is not clear what the "locale" field is and the relation with keywords.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Any submission > Publication tab'
2. Click on 'Metadata'

[2021-04-24 16:59] israelcefrin commented on #6992
I've realized the same issue in th title and abstract. You can see an "English" label for fields in English, and the other languages use "Title" and "Abstract" (written in English, but related to the other locale)

![image](https://user-images.githubusercontent.com/4992902/115966658-a280dc80-a4fc-11eb-87ef-71b55cdea63a.png)

[2021-04-26 08:40] defstat commented on #6490
@ajnyga @asmecher

Added the

**PR**
[ops]: pkp/ops#149

[2021-04-26 09:03] Clairoouh commented on #6762
Dear @asmecher,
Thank you very much for your time and assistance.
I will contact the web admin and see what we can do :)
Have a nice day,
Claire

[2021-04-26 10:07] NateWr commented on #6761
Hi @gabriele-h, it should be possible to apply [this change](https://github.com/pkp/ui-library/pull/144/files) to the same file in [stable-3_2_1](https://github.com/pkp/ui-library/blob/stable-3_2_1/src/components/Form/fields/FieldRichTextarea.vue#L173).

However, because it's the UI Library, you will need to recompile the JavaScript file from the source. Our dev docs include some guidance on [runn

[2021-04-26 10:12] NateWr commented on #6965
For cases 1 and 2 I think we can only have a static `robots.txt` file. If OJS is run with `disable_path_info` we won't be able to intercept the request. We'd also need to make sure that we weren't overriding an existing `robots.txt` file.

Cases 3 and 4 would only arise when `disable_path_info` is off, so we could dynamically generate this as you suggest. However, we don't have any way to distingu

[2021-04-26 10:21] NateWr commented on #6971
There is a mockup of how ORCID could help journals authorize old unauthorized ORCIDs in this proposal for a deposit/distribution tracking UI for OJS: https://github.com/pkp/pkp-lib/issues/5980

I especially like having an option to remove the remaining unauthorized ORCIDs. I think that we could include something like this in, for example, a 3.4 version of OJS, with a warning that unauthorized ORCI

[2021-04-26 10:39] NateWr commented on #6938
A couple people have asked ([1](https://github.com/pkp/ui-library/commit/1771b3e302c2d25aba090e30fb29a343740d16f5#commitcomment-49853206), [2](https://forum.pkp.sfu.ca/t/after-upgrade-to-ojs-3-2-1-3-orcid-plugin-producing-fatal-error/65473/35?u=natewr)) how to apply this fix manually rather than wait for the next release (3.3.0-6):

[2021-04-26 11:13] NateWr commented on #6957
Merged to `stable-3_3_0` and `main` and cherry-picked to `stable-3_3_1`.

[2021-04-26 11:13] #6957 closed

[2021-04-26 11:23] luizbgomide commented on #6979
@asmecher, I just tested with 3.3.0-5 and still nothing on the Unsassigned tab. Let me know if you want me to do any more tests...

[2021-04-26 11:25] luizbgomide commented on #6991
@asmecher, sent to your e-mail, let me know if you find anything odd with it.
Thanks in advance.

[2021-04-26 11:27] NateWr commented on #6979
I had a look at the code to see if I could detect any discrepancy between how submissions are put into the unassigned list and how the notice "no editor has been assigned" is shown. But I couldn't find any. They both seem to check against any `ROLE_ID_MANAGER` and `ROLE_ID_SUB_EDITOR` assignments.

@luizbgomide can you inspect the `stage_assignments` database table for one of the submissions to de

[2021-04-26 11:28] gabriele-h commented on #6761
No composer, no fix, then. We can't recompile the JavaScript and I guess we will have to live with this issue until we switch to 3.3 - Thank you for your input, though!

[2021-04-26 11:30] NateWr commented on #6982
Related to https://github.com/pkp/pkp-lib/issues/4540.

[2021-04-26 11:32] NateWr commented on #6984
Since ReCAPTCHA is not available in China, can/should we do some basic rate limiting? If we log the reset request, we should be able to not send another reset request until the last one expires?

[2021-04-26 11:33] NateWr commented on #6985
Is this OMP or OPS that we're talking about?

[2021-04-26 11:38] NateWr commented on #6987
@kshuttle did you encounter a use-case for this (ie - a client request)? I'll copy the comment on Slack here so it's available for wider discussion.

It seems reasonable to apply this recommend-only behaviour to rejection in the submission stage, however I'm not sure whether this is a common workflow. I think in most cases the oversight is only required at the review stage.

[2021-04-26 11:40] NateWr commented on #6988
:+1: I'm going to close this since there is a third-party plugin available to do this. But we're happy to revisit this topic if/when the plugin does not meet the needs of our community.

[2021-04-26 11:40] #6988 closed

[2021-04-26 11:41] luizbgomide commented on #6979
@NateWr, here it is the data on our latests submissions, the ones marked in red are all from the same journal (the one from the screenshots above) and I verified that there is no assignment done to them.
![image](https://user-images.githubusercontent.com/18707781/116076785-12ad7080-a66b-11eb-8b78-3bd1b8078646.png)

[2021-04-26 11:44] NateWr commented on #6991
@luizbgomide I'd also like to know if you see the same slow performance (or worse) when using the REST API. You can see [how to access the API](https://docs.pkp.sfu.ca/dev/api/) and then see the specifications for the [user endpoint](https://docs.pkp.sfu.ca/dev/api/ojs/3.3#tag/Users/paths/~1users/get). You'd use the `searchPhrase` query param to search for a user.

This will help us find and fix p

[2021-04-26 11:50] NateWr commented on #6992
@israelcefrin do you think it would be clear if the "second" language appeared on the right-hand side? This is how it works for me (the active language always appears on the _left_).

I'm not sure why you're getting the reverse order, but I suspect that could be fixed pretty easily.

[2021-04-26 11:54] NateWr commented on #6979
I can reproduce this issue in the `main` branch by unassigning editors from an active submission..

[2021-04-26 11:56] luizbgomide commented on #6991
@NateWr, what parameters do you want me to use?

Just running this: `https://periodicos.fclar.unesp.br/iberoamericana/api/v1/users` is 2 seconds max to output 20 users. For comparison just opening this page `https://periodicos.fclar.unesp.br/iberoamericana/management/settings/access` that also lists 20 users (different ones, so there is sorting involved) it took 68 seconds.

Is there a way to use

[2021-04-26 12:00] luizbgomide commented on #6979
@NateWr this is odd, that seems to be the default behaviour in my server when a submission is created (so no assigning then unassigning involved).

[2021-04-26 12:13] henriqueramos commented on #6984
As mentioned on Slack channel, we could use the [hCaptcha](https://www.hcaptcha.com/#plans) instead reCaptcha.

[2021-04-26 12:15] ajnyga commented on #6965
hmm, we could of course choose not to automize this at all and instead allow the site manager to setup what sitemaps are presented in robots.txt. In any case I think we should first ask Google if the four(or three) cases above make sense to them.

[2021-04-26 12:43] lcentrone opened #6993 "[OJS] Publishers- too many files for the account - stable management and removal"
Our publisher manages multiple journals.  We appear to have too many files (66.000) on our account. We would like to limit the number of files per submission, keeping trace of the necessary editorial activity.

Are there other publisher users who have the same amount of files or even more? if so, do you adopt a particular workflow limiting the number of files per submission?

Is there a way to add

[2021-04-26 12:58] NateWr commented on #6991
@luizbgomide try `https://periodicos.fclar.unesp.br/iberoamericana/api/v1/users?searchPhrase=luiz` to compare searching against that phrase.

[2021-04-26 13:03] NateWr commented on #6979
It depends on whether you have section editors assigned to sections. If so, then they will be auto-assigned when the submission is completed. Either way the bug is the same: when no editors are assigned, the submission should appear in the Unassigned list, but it doesn't.

[2021-04-26 13:16] ajnyga commented on #6971
Hi! My opinion is that we definitely should not allow any manual entries of ORCIDs, because it is against the design of ORCID. That means removing the free text field for ORCID's.

We should also consider the import functionality in OJS. At the moment you can import also ORCID data and this is in my opinion the same as allowing manual entries of ORCIDs.

The new management idea sounds good 👍

I li

[2021-04-26 14:08] NateWr commented on #6991
Not at the moment, no. The REST API does not support returning users with no role in the context, and this is a blocker for the new users list until we can support a feature to invite a user to adopt a role. See more in [this comment](https://github.com/pkp/pkp-lib/issues/2860#issuecomment-388906925).

[2021-04-26 14:40] asmecher commented on #6993
@lcentrone, this is more of a discussion than a feature request -- could you post it on our support forum (https://forum.pkp.sfu.ca)?

[2021-04-26 14:40] #6993 closed

[2021-04-26 15:02] asmecher commented on #6979
@NateWr, see also: https://forum.pkp.sfu.ca/t/ojs-3-3-0-4-new-submission-in-unassigned/67225/7

[2021-04-26 15:47] israelcefrin commented on #6992
@NateWr in fact, during some sessions with French speakers, we realized that the fields are not clear about what (language) to be filled in.

Use case: I am an editor and an author has submitted an text with French infos only. I will have to update the English metadata. But all English fields are labelled in French, i.e.: "Titre" instead "Title". And the instructions to use the field, the prefix a

[2021-04-26 16:23] ctgraham opened #6994 "Remove implicit_auth setting from config.inc.php"
Setting `implict_auth` in config.inc.php has been abandoned and should be removed from the product.

[2021-04-26 16:24] ctgraham commented on #6994
C.f. https://github.com/pkp/ojs/pull/3119

[2021-04-26 16:30] #6994 closed

[2021-04-26 16:31] asmecher commented on #6994
Thanks, @ctgraham -- both merged!

[2021-04-26 16:42] ctgraham commented on #6696
Interestingly, this makes a big difference when the plugin is a sitewide plugin.  Currently, without a specific context passed in, a sitewide plugin will presume that `getEnabled()` wants to operate on `CONTEXT_SITE`.

https://github.com/pkp/pkp-lib/blob/ee06636be8c153113cf080c892e7ad8ed94a19cc/classes/plugins/LazyLoadPlugin.inc.php#L69-L78

But generally (without addtional footwork in the plugin

[2021-04-26 16:49] asmecher commented on #6696
@ctgraham, do you think this might be the same issue as https://github.com/pkp/pkp-lib/issues/6137?

[2021-04-26 16:53] ctgraham commented on #6696
I think it is certainly a fork of the endless morass of https://github.com/pkp/pkp-lib/issues/1923 .

[2021-04-26 18:08] asmecher commented on #6867
I think we can borrow some of the semantics of the automapper-plus library without necessarily using it directly -- the conventions for configuring mappings are essentially a better-fleshed-out version of what Nate and I were talking about above, with less dependency on static functions (which are hard to mock/test/extend). We won't necessarily have PHP objects with data represented by properties

[2021-04-26 18:40] asmecher commented on #6979
This is a side-effect of https://github.com/pkp/pkp-lib/issues/5982 -- the `assignedTo` parameter when calling the submission query builder's `getMany` used to be `-1` for "unassigned", but now it is `[-1]`. Should be quick to fix.

[2021-04-26 18:55] fgnievinski commented on #5502
related (same?) issue in v2:

#742 - Permit editors to change submission locales

[2021-04-26 18:57] fgnievinski commented on #742
forum discussion:

https://forum.pkp.sfu.ca/t/ojs-does-the-crossref-export-plugin-registeres-doi-with-two-titles/3929/19

[2021-04-26 19:36] asmecher commented on #6979
@NateWr, does this look OK?

pkp-lib: https://github.com/pkp/pkp-lib/pull/6996/files
OJS (tests only): https://github.com/pkp/ojs/pull/3121

[2021-04-26 19:36] asmecher commented on #6979
(Others are welcome to confirm the fix by applying https://github.com/pkp/pkp-lib/pull/6996/commits/593797894cf766725bf08c7d4e750128e09facf7 in the `lib/pkp` subdirectory.)

[2021-04-26 20:55] israelcefrin opened #6997 "Reviewer accessing submission files only after accepts the assigment"
**Describe the problem you would like to solve**
During the usability testing in bilingual journals (English and French), some editors asked whether it would be possible that reviewers have access to a file after they accept the assignment. Currently, editors are assigning a review which doesn't include the file. When the reviewer accepts the task, the editor needs to include it manually. They wou

[2021-04-26 23:16] kshuttle commented on #6987
Hi @NateWr,
Thank you for sharing some of the background and context on this feature.
My comment came from the email template revision project that I am currently working on, and is a hypothetical use case (rather than a request from a user). I am working on the email template for the message that a journal manager sends to a section editor asking them to see a submission through the editorial wor

[2021-04-27 04:10] davidjb commented on #6971
Just echoing all of @ajnyga's comments :+1:

In my situation, I've currently got a multi-journal installation where some journals are looking at official ORCID integration and others aren't. Because the OJS install uses federated single-sign on (Shibboleth), this means that one journal someone contributes to may authorise ORCID iDs and another may allow manual entry (e.g. have the ability to edit

[2021-04-27 06:09] primoz-svetek commented on #6979
@asmecher Thank you for the fast response and the bugfix. I have tested it on my instance and can confirm that it works.

Though it is interesting to me that this bug was present in few versions for a few months already and nobody noticed it. But it is fixed now.

Thank you very much!

[2021-04-27 06:26] primoz-svetek commented on #6979
Hm, maybe to fast fix confirmation:
- it is true that now the unassigned submissions are listed under the Unasssgined tab, which is correct
- but on the contrary with the past version there seems that there are listed also submissions that are in the archive (either published or declined) - so not active

Please let me know your opinion on that.

[2021-04-27 08:12] NateWr commented on #6992
Something's not right in your first screenshot. It looks like it should be showing English and French (Canada), but it's showing French (Canada) on both sets of fields. I want to try to sort that out first, because I think that is the source of the confusion. I'm not able to reproduce that issue myself. Do you have some reproduction steps?

We can show the full name on other languages ("Abstract i

[2021-04-27 08:57] NateWr commented on #6092
@asmecher I had a look at the changes to the `$templateMgr->setConstants()` method. I can see how it's meant to work, but it does permit a disconnection between constant names in PHP and JS. One of the benefits of the old approach was that the constant name on the server and client was always the same.

It looks like it is possible to get the value of a class constant from a string. The example in

[2021-04-27 09:13] NateWr commented on #742
Closing this because we are not going to be working on OJS 2.x further.

[2021-04-27 09:13] #742 closed

[2021-04-27 09:13] NateWr commented on #5502
It looks like #742 is filed against OJS 2.x. I've closed that issue because we are not going to put out an update for it.

[2021-04-27 09:19] NateWr commented on #6987
Thanks @kshuttle. I think the scenario that you describe is possible, but in most cases journals will have a procedure they follow. If a recommend-only editor does get caught in the submission stage with a submission that they should decline, they ought to be able to contact someone at the journal through outside means to ask for assistance. I think this is pretty common and not a bad thing, as lo

[2021-04-27 09:24] NateWr commented on #5980
A more detailed use-case from @davidjb for an ORCID management UI in this [comment](https://github.com/pkp/pkp-lib/issues/6971#issuecomment-827298888):

[2021-04-27 09:38] NateWr commented on #6979
@asmecher yes, this looks good. In hindsight, I don't like mixing types in this way, but that's something I'll fix with the typehinting stuff that I'm working on.

The one thing I might suggest is testing the whole array and returning an error message if they've mixed types (eg - `[23, -1]`). I would normally do that in the API's handler op. So I'd leave the param as-is in the switch-case without

[2021-04-27 09:39] NateWr opened #6998 "The assignedTo parameter in the REST API should not mix types"
The `assignedTo` query parameter in the `/submissions` and `/_submissions` endpoints accepts an array of user IDs or `-1` to get unassigned submissions. This query parameter shouldn't mix types.

Introduce a new query parameter, `isUnassigned`, to get unassigned submissions.

[2021-04-27 09:42] NateWr commented on #6979
@primoz-svetek can I confirm: submissions that are declined or published are appearing in the unassigned list? Looking at the code, it should only return submissions with `STATUS_QUEUED` (a `status` of `1` in the database).

[2021-04-27 10:23] NateWr commented on #6867
I can't see how to use this convention while still being able to identify dependencies for the map. If we are able to do something like:

[code]

Where would we identify that the mapper requires the `Request` object to map the URLs and the context's `UserGroups` to render the author string?

Another issue is that automapper works seems to put the bulk of the "work" into the config object itself:

[2021-04-27 11:18] alexxxmendonca commented on #6971
I second this.

[2021-04-27 13:44] hcuser12 opened #6999 "[OMP] Native import/export: import of publication formats does not work"
**Description**
I'm trying to import a large set of files. For this task I have generated XML for native import/export plugin.
When I try to import files does not appear under publication format - publication form itself is created, but without file. Even though submission files/file itself is created in database/on disk.
Moreover, after preparing sample submission with publication and creating ex

[2021-04-27 16:39] steveharoz opened #7000 "Enable editors to send review back to reviewer"
**Describe the problem you would like to solve**
A reviewer may accidentally submit an incomplete review or may include some unintended information. There is currently no clear way for the editor to send the review back to the reviewer.

**Describe the solution you'd like**
An option for the editor to send a review back to the reviewer. It would then appear to the reviewer as a draft.

**Who is as

[2021-04-27 16:43] alexxxmendonca commented on #7000
ScholarOne has something similar. It's called "rescind review".

[2021-04-27 17:48] steveharoz commented on #6074
@NateWr

Can you explain EXACTLY which file and which keys correspond to the reviewer options?

[2021-04-27 17:59] asmecher commented on #6092
That would be possible -- but it would need to be...
[code]
...with the `setConstant` function presumably parsing `PKPSubmission::STATUS_QUEUED` part off, unless we wanted to force the use of the fully qualified classname in the JS side as well. (The class needs to be in the current namespace list in order for `constant('ClassName::xyz')` to work, and in this case, the namespace list would be defi

[2021-04-27 19:46] diegoabadan opened #7001 "[OPS] DOI points to unpublished version"
**Describe the bug**
DOIs are being generated with a link to an unpublished version of the preprints. Only published preprints are expected to be linked.

**To Reproduce**
Steps to reproduce the behavior:
1. In a preprint with active DOI, create a version and do not publish it
2. Export this submission in Crossref XML to view the generated link
3. You will be able to view the link to an unpublishe

[2021-04-27 20:36] asmecher opened #7002 ""usage" command missing from native import/export CLI"
Running the "usage" command from the import/export command line for the native import/export plugin results in a failure:
[code]
The `usage` command is still referred to by the help for the import/export tool:
[code]

[2021-04-28 09:16] NateWr commented on #6074
@steveharoz look in `locale.po` for any locale keys that start with `reviewer.article.decision`.

[2021-04-28 09:17] NateWr commented on #6074
Sorry @steveharoz, those are the reviewer decision keys. The ones you want are in `submission.po` and start with `editor.submission.decision`.

[2021-04-28 09:20] NateWr commented on #6092
Ok, you're right. That's ugly on the JS side. I guess we just need to think through how we're handling on the JS side a bit more... I'll have a think.

[2021-04-28 10:03] steveharoz commented on #6074
@NateWr Thanks! Found it. But there doesn't seem to be any way of removing options using this approach, so it's not a complete fix. I made two of the options blank, but they are weirdly selectable, which might confuse reviewers.

[2021-04-28 10:57] NateWr commented on #6074
Yes, editor decisions can not be removed. You can see some discussion on this related to reviewer recommendations in https://github.com/pkp/pkp-lib/issues/1660, which is why we split this issue (editor decisions) off into its own.

The short story is that editor decisions are closely tied to editorial stats and making them totally configurable would make it challenging to track these statistics ac

[2021-04-28 11:11] steveharoz commented on #6074
Interesting. Thanks. I can't speak for others, but for our journal, we're not interested OJS's reporting. In fact, I'd prefer all the reporting just be replaced with a "dump as CSV" or "sump as JSON" option. We just want a reviewing system that is flexible and customizable.

[2021-04-28 11:12] NateWr commented on #6999
Thanks for a great report and the XML to reproduce it. @defstat would any of your recent work have fixed this already?

[2021-04-28 11:19] NateWr commented on #7001
@ajnyga are you able to reproduce this?

[2021-04-28 11:43] ajnyga commented on #7001
Did not try, but can see from the code how it could happen. It is an easy fix, just have to add a status check to the export filter.

[2021-04-28 12:44] NateWr commented on #6978
Merged to `main`. Thanks!

[2021-04-28 12:44] #6978 closed

[2021-04-28 12:50] ajnyga commented on #7001
(just a little delay here, OPS main seems to be broken since the last commit. I will wait for a fix first)

[2021-04-28 13:02] NateWr commented on #7001
We want this against `stable-3_3_0`. Can you create the fix against that branch and Alec can cherry-pick forward to later branches? He may release 3.3.0-6 today or tomorrow so it would be great to get this in.

[2021-04-28 14:12] NateWr commented on #5328
Ok, thanks to @Vitaliy-1's work on integrating Laravel's service container, I think we can use this to create and instantiate service providers, and easily override them in our apps (OJS/OMP/OPS overriding pkp-lib) or mock them for unit tests. We can then use the service container with only a little bit of boilerplate to create facades which provide good type hinting.

Here's an example of how the

[2021-04-28 14:54] asmecher commented on #7001
Sorry, I forgot to push up the crossref plugin changes for OPS -- I've pushed them now and hopefully the tests will pass.

[2021-04-28 14:57] NateWr commented on #5328
Yes, this worked. We tell the container to [return the current request](https://github.com/pkp/pkp-lib/commit/57f9a4c5d973808e9027b6949bf6c0469e3116c3#diff-0f8d29025c583747ba8023ea056b974ac6de8e638c2dd2154c155f287bf7b7b0R16-R18) whenever it is asked for a `Request` object. Add a typehinted argument to the [Query constructor](https://github.com/pkp/pkp-lib/commit/57f9a4c5d973808e9027b6949bf6c0469e3

[2021-04-28 14:57] asmecher commented on #5328
@NateWr, excellent, this ties together a bunch of concurrent concerns nicely. Looking forward to walking through an example.

[2021-04-28 15:40] primoz-svetek commented on #6979
@NateWr  You are right, I checked the DB and the 'problematic' submissions have the `status` set to `1`. I guess this means the fix is OK and the status of the submissions is inconsistent in our DB. I think they used to 'import' some older/past submissions automatically in the OJS and this might be a side effect of that. Will check.
Sorry to bother you with that and once more thank you for your he

[2021-04-28 18:21] #6979 closed

[2021-04-28 21:45] withanage commented on #6788
@promedacademy , as you mention this is from tag-it plugin , does the issue still persists or can we close this one ?

[2021-04-28 22:05] withanage opened #7003 "OMP Chapter landing page"
## Introduction
Edited volumes require chapter landing pages for exposing metadata and content to UI users,  indexing systems  and archiving systems  and other purposes.

### Requirements from Google scholar
#### Background
Google scholar (GS) drives end-users to compontent level e.g chapters. GS needs an indication in URL marker to determine the type of the standalone content.

For monographs,  s

[2021-04-28 22:12] withanage commented on #7003
Hi  @asmecher  and @NateWr ,
I have  documented the status of the discussion with Google  Scholar and a possible solution to  resolve  the  path requirement defined by  GS.  Please let us know your thoughts on this ?

 @ajnyga @mwestin-googlescholar and @gemusehandler
Please add anything, if I forgot  from the discussion.

[2021-04-29 02:19] asmecher commented on #7001
^ The OPS tests should be passing now, but Nate's right, this should go into 3.3.0-6 -- I can take care of forward-porting from there, since the instability is mine :sweat_smile:

[2021-04-29 06:37] ajnyga commented on #7003
I think we have three separate issues here:
1. sitemap to robots.txt (I already made an issue about that here https://github.com/pkp/pkp-lib/issues/6965)
2. chapter landing page and url structure
3. changing the book landing url to include a reference to the book type

For 2 my suggestion would be to add an independent handler that would look like `catalog/chapter/id`
The main argument for this is

[2021-04-29 06:42] ajnyga commented on #7003
Older issue on landing pages here: https://github.com/pkp/pkp-lib/issues/5280

[2021-04-29 08:13] ajnyga commented on #7001
OPS: https://github.com/pkp/ops/pull/150

[2021-04-29 09:22] promedacademy commented on #6788
@withanage unfortunately it is still persistent in OJS V 3.3.0-5

[2021-04-29 09:32] NateWr commented on #7003
I'm sorry but I think we need to push back on the URL requirements to distinguish between monographs and edited volumes. GoogleScholar should not be dictating the URL structure of any site. They can ask for a HTTP address for every link they want to provide (eg - a URL for every chapter or galley), but setting requirements on the structure of the URL, beyond the constraints of the DNS system, viol

[2021-04-29 11:51] luizbgomide commented on #6991
Hello @asmecher, did you receive the data I've sent you via e-mail? Any ideas on what is making it slow? I have some follow-up information after a few tests, Load time of the user page in english and portuguese, and Search time for "luiz" in both languages, in a two journals with a default Items per page of 100 users.

Large Journal (iberoamericana)
- Load time EN: 65 seconds for 10362 users
- Loa

[2021-04-29 12:43] ajnyga commented on #6948
@asmecher can you please assign this to me so that I do not keep forgetting about it!

[2021-04-29 13:51] luizbgomide commented on #6991
I had 5000 fake users removed from my base and now the there is a total of 22297 users.

I made a lot of load time tests in many of our journals:
- The "Items per page" doesn't change the time it takes to load the users, be it 10 or 100 items.
- Every time you click on a page number or Next it takes the whole time list it again

Regarding the loading times:
- 5 seconds in a journal with ~100 users

[2021-04-29 13:59] withanage commented on #7003
Hi @NateWr ,

May be , the way I wrote the specs made the misunderstanding that google scholar gave the structure.   I and @ajnyga  thought, that can be a proposal.  GS actually wanted a markup in the url to indicate that is a chapter / edited volume or a monograph and they were  also
We are surely  free to decide the structure of the url and have to communicate to them. I am very sorry for the mi

[2021-04-29 14:57] NateWr opened #7004 "Document the REST API endpoints for announcements"
The API endpoints for announcements are available in 3.3 but they have not been [documented](https://docs.pkp.sfu.ca/dev/api/ojs/3.3). Document these endpoints in `swagger-source.json`.

[2021-04-29 15:39] mwestin-googlescholar commented on #7003
Hi @NateWr ,

Many platforms and publishers, from Ubiquity to MIT Press and Taylor & Francis, have added URL markers distinguishing chapters from books and standalone monographs from edited volumes where chapters are standalone content. The string is entirely up to the publisher/platform-- I had suggested what other publishers have put in place that works well for indexing.

Adding various path ma

[2021-04-29 15:59] Vitaliy-1 commented on #6970
This simplifies events and listeners registration and implements Laravel's event discovery: https://laravel.com/docs/7.x/events#event-discovery

Published Event as a first example is added to the newly created `observers/events` directory, listeners are expected to be added to `observers/listeners`, see: https://github.com/Vitaliy-1/pkp-lib/blob/a8b4fcda4a094ccbef0d50fe4ec07c2720ac3d8e/classes/cor

[2021-04-29 16:07] asmecher commented on #6948
Assigned, thanks!

[2021-04-29 16:22] asmecher commented on #7001
Thanks, @ajnyga! Merged to `stable-3_3_0`, cherry-picked to `stable-3_3_1`, and forward-ported to https://github.com/pkp/crossref-ops for `main` (3.4 release).

[2021-04-29 16:22] #7001 closed

[2021-04-29 19:16] Vitaliy-1 commented on #6970
Think it's ready, the last commit should fix tests for PHP 7.3, although I'm not sure why other tests are failing on Crossref scripts.
@asmecher, can you take a look at the implementation?

[2021-04-29 20:17] benaltair opened #7006 "Difficulty using screen reader in "Submit an Article" page of the dashboard"
**Describe the bug**
Certain dashboard items have visual hints like `*` that are read out by the screen reader. Upon a quick inspection of the code, it looks like `aria-hidden` is not employed here when it should be. There are likely many more examples than I'll provide below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/submission/wizard` to submit a new article
2. Enable a scree

[2021-04-29 20:21] benaltair commented on #7006
For this particular issue, the problem arises from the `<span class="req">` being read aloud.
[code]
Simply adjusting the last line to `<span class="req" aria-hidden="true">` should fix that issue. Since `aria-required` is already added as an attribute to the input element, it's not needed to announce this condition again.

If desired, this issue could be closed immediately after this fix. I was t

[2021-04-29 20:39] benaltair commented on #7006
Another example on this page of a difficulty navigating with a screen reader if the "Comments for the Editor" section with the rich text editor. In my experience my screen reader seemed to fail to link the `label` to the `textarea`.

[code]

I think this is actually due to the `textarea` not being used. Instead it seems that a `contenteditable` element within the `iframe` is actually being selecte

[2021-04-29 21:14] gemusehandler commented on #7003
Hello @NateWr, @mwestin-googlescholar and @withanage,

Nate, I respect your position. If we stick to it (Google Scholar not telling us what to do) then I see two simple solutions.

In the administration I could use "monograph"  as path. Using the same url I could add a second press where I would use "edited-volume". It is a bit clumsy to have two presses where it could be one but hey! It would wor

[2021-04-30 05:16] ajnyga commented on #5932
@NateWr I have some prelimanary code here for OJS: https://github.com/pkp/ojs/pull/3123

A few notes / questions before I proceed:

1. Do we want a main `ArticlesHandler` for OJS that will show a listing of all articles? that would be in `journal/articles/`

2. In article listings within a section / category view, what kind of things do we want to show for a single article? At the moment we do not

[2021-04-30 10:39] ajnyga commented on #5299
+1 we also got this request.

@asmecher can you assign this for me, I will take a closer look

[2021-04-30 15:57] Vitaliy-1 commented on #6970
Adding a custom listener to the already defined event from a plugin is quite straightforward: https://github.com/Vitaliy-1/listener/blob/13cb133cdf81140969231c9619468e4a2b0d56c6/ListenerPlugin.inc.php#L57 and should work alongside with event discovery

[2021-04-30 16:01] asmecher commented on #5299
Absolutely, thanks!

[2021-04-30 16:24] asmecher commented on #6991
Hi @luizbgomide -- just getting a chance to look at the database now.

[2021-04-30 20:12] luizbgomide commented on #6991
Hello @asmecher,
I'm using phpMyAdmin to connect to the server which is running MySQL 8.0.23 protocol version: 10 (I don't know what other information I can gather from there). I just ran the same query as you, this is the result:
![image](https://user-images.githubusercontent.com/18707781/116747636-94d3c700-a9d4-11eb-9fd0-b20d7a3e9dce.png)

Later, running the same query I got:
![image](https://us

[2021-04-30 20:31] luizbgomide commented on #6991
Here is the Chrome profile of the user page loading for `iberoamericana/management/settings/access#users` and then searching for "luiz":
![image](https://user-images.githubusercontent.com/18707781/116750259-8daeb800-a9d8-11eb-9046-99d6683ccb0c.png)

I'm one hop away from the server, so there is no lag or download speed issues (the same is true for the server and the database).

And here is search

[2021-04-30 22:33] oumnia24 opened #7007 "[OJS]"
<img width="930" alt="Screen Shot 2021-04-30 at 3 31 57 PM" src="https://user-images.githubusercontent.com/76491075/116760208-36551b80-a9c9-11eb-8903-3a008b3aaeac.png">
The system is adding more characters whenever it sees accents: https://ojs.stanford.edu/ojs/index.php/intersect/management/settings/workflow#emails/emailTemplates

[2021-04-30 22:40] asmecher commented on #7007
@oumnia24, could you post this on our support forum at https://forum.pkp.sfu.ca? That's the best place to get help. The technical term for this problem is "mojibake" -- you might try searching for that too, to see if there's already a solution posted.

[2021-04-30 22:40] #7007 closed

[2021-05-02 13:32] Nokiae71 opened #7008 "Distribution tab is not working in both latest versions. I.e 3.3.5 and 6"
**Describe the bug**
Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.

While using OJS version 5 and even in 6 distribution tab is not working. It's shows error HTTP ERROR 500

[2021-05-02 15:31] asmecher opened #7009 "GoogleScholarPlugin.inc.php still references removed SupplementaryFile class"
Double-check that the Google Scholar plugin works as expected with supplementary content, and resolve the reference to the SupplementaryFile class, which no longer exists.

[2021-05-02 16:01] asmecher commented on #7008
@Nokiae71, do you mean OJS 3.3.0-5 and 3.3.0-6?
Can you check your PHP error log for details?

[2021-05-02 20:13] Nokiae71 commented on #7008
yes, 3.3.0-5 &6, i mean exactly.
below is the link tht is not working
https://lmrc.com.pk/ojs/index.php/thejas/management/settings/distribution
 i m not IT expert, plz guide how to check PHP error log

[2021-05-02 21:31] Nokiae71 commented on #7008
Core99 - HTTP error 500 , i think this is what to were asking

[2021-05-03 08:44] ajnyga commented on #6948
So it looks like the change to upgrade.xml never made it for some reason.

OPS: https://github.com/pkp/ops/pull/151

Everything seems to migrate correctly now, but right after this script is finished, you get a new error:
[code]
The path seems to be correct and the file is there so not sure what that is about?

[2021-05-03 09:45] NateWr commented on #7003
No apology needed, @withanage, your description was perfectly clear. My concern is not with the specific proposal (`monograph` vs `edited-volume`), but with the requirement itself.

URLs are an important part of UX, and something that we are actively trying to improve (#5932). URLs need to be clear and concise for humans, and Google Scholar's insistence on a fixed string to parse data from a URL i

[2021-05-03 12:53] ajnyga commented on #5299
ping @asmecher
OMP: https://github.com/pkp/omp/pull/970
pkp-lib: https://github.com/pkp/pkp-lib/pull/7011

I will do a pr for OJS if the concept is ok.

Not especially the change to OmpPublishedSubmissionRequiredPolicy.inc.php. It should be ok, because the published status is checked in the catalog handler. The other option is of course to change the authorization policies to match the ones in OJS

[2021-05-03 13:06] jmvezic opened #7012 "Send a single review to author before a new round of reviews"
**Describe the problem you would like to solve**
Editors in our multi-journal OJS need a way to send a single completed review immediately to the author, without resorting to opening a new round of reviews or recording final decisions on the review phase.

This is especially useful when one reviewer is quick to finish a review and requests changes, while other reviewers are slower, and/or late. In

[2021-05-03 13:20] frodocat opened #7013 "PKPTemplateManager.inc.php errors after successfully upgraded 3.3.0.6"
Hello,

I have just upgraded my OJS from version 3.2.1-4 to 3.3.0.6. The upgrade ends with "Successfully upgraded to version 3.3.0.6" in the comment line, but when I navigate through the website I get a lot of errors on every page also in the admin. Some forms keep loading and never stops. I don't see my journals at the homepage.

My errors are:

- Deprecated call without request object. in ojs-3.

[2021-05-03 14:16] NateWr commented on #5299
Thanks @ajnyga. I'll let Alec do the code review. Can I request that we write some tests for this? We had a regression in the past with this feature in OJS, and accidentally exposed some unpublished items, so let's write an automated test to try to catch problems with this in the future.

Here is the test for OJS as a basis: https://github.com/pkp/ojs/blob/main/cypress/tests/data/60-content/Amwand

[2021-05-03 14:30] asmecher commented on #7008
See: https://docs.pkp.sfu.ca/faq/en/errors-troubleshooting#first-check-your-php-error-log

[2021-05-03 14:35] asmecher commented on #7013
@frodocat, see e.g.: https://forum.pkp.sfu.ca/t/hi-im-havin-an-error-installing-ojs-on-mi-server/52492/8

The support forum is the best place to get assistance.

[2021-05-03 14:35] #7013 closed

[2021-05-03 14:38] librariam commented on #4789
+ 1 more from PKP | PS

[2021-05-03 14:44] NateWr opened #7014 "Bring DOIs into the core application and refactor to support deposit status"
## Motivation
DOIs are now a settled standard in scholarly publishing. DOIs currently use the `pubId` plugin category, but this was built to make it easier to add pub ids to several object types (submissions, issues, galleys, submission files, chapters), and automatically have the form fields added to the forms.

However, it's become clear that DOI management is best done at the journal level (see

[2021-05-03 14:48] asmecher commented on #5299
Thanks, @ajnyga! This essentially moves part of the preview implementation from OJS's `IssueAction` class into pkp-lib; that's great but can the relevant parts of OJS use these too instead of repeating the implementation?

[2021-05-03 14:59] asmecher commented on #6948
Sorry, that's my typo. Fixed: https://github.com/pkp/ops/commit/b825618a626f0f01db2c27ebd6e42a1ff5d91a8e

[2021-05-03 15:06] frodocat commented on #7013
I get this message on that website: This site is in read only mode. Please continue to browse, but replying, likes, and other actions are disabled for now.

[2021-05-03 15:07] bozana commented on #6782
The thoughts/decisions on the new usage stats log format:
- The entries in JSON format (instead of space separated): this will probably need more processing (insignificantly?), but will allow us to easier add new elements if needed.
- The following elements are minimally needed:
[code]

[2021-05-03 15:15] asmecher commented on #7013
Yes, we're doing some server work, which should be completed soon. But did you try the suggestion at the linked thread?

[2021-05-03 15:28] frodocat commented on #7013
Yes, it works, thanks! I am only missing my summary of all journals on the homepage, but I'm guessing this is how it should be now?

[2021-05-03 15:29] bozana commented on #6782
@NateWr, @ctgraham and @asmecher, I have a question regarding the following columns in the DB table metrics:
`assoc_object_type` and `assoc_object_id` -- those are assoc_type_issue and issue id, only used in OJS, when visiting article, article files, issue toc and issue galley.
`pkp_section_id` - this is the section id in OJS and OPS, and series id in OMP.
Those are currently only used in reports

[2021-05-03 15:39] asmecher commented on #7013
Could you follow up on that separately? I expect the forum will be available for posting again within a few hours -- but if not, a separate github issue with complete details would be OK too.

[2021-05-03 16:25] ajnyga commented on #5299
@asmecher yes that is the plan when I do a pr for OJS as well here.

[2021-05-03 16:26] ajnyga commented on #6948
ah ok, could not see that!

[2021-05-03 16:30] ajnyga commented on #5299
what about the translation string `submission.viewingPreview`? Should I move it to pkp-lib and add fuzzy to other locales?

[2021-05-03 16:43] jnugent opened #7015 "PayPal payment fails for amounts greater than 999"
**Describe the bug**
If you attempt to use the PayPal payment to send a payment for anything and the amount is greater than 999, the plugin fails with a general transaction error.  Looking at the logs, we see:

` Got error 'PHP message: PayPal transaction exception: Invalid integer part 1,000. Invalid digit , found`

**What application are you using?**
Found in OJS 3.3, but probably in all version

[2021-05-03 16:51] asmecher commented on #5299
Yes, that would be perfect, thanks!

You're ahead of me as usual :) Please go ahead!

[2021-05-03 16:53] asmecher commented on #6782
JSON I/O in PHP is pretty lightning-fast; I don't foresee any issues there.

Do we want to leave room here for an "institution" field when that's available -- ideally (but probably rarely) a ROR?

[2021-05-03 16:56] NateWr commented on #6782
I agree with this proposal. The current statistics service class that delivers the visual statistics uses `assoc_type` and `assoc_id` to filter by sections and I think this should be sufficient.

Should we pack this into the `metrics` table? Or would it make sense to have a separate `metrics_institutions` table that tracked stats by journal/institution? I don't think we'll need/want all of the sam

[2021-05-03 16:58] ctgraham commented on #6782
COUNTER reporting would totally be interested in downloads by published item by institution (subscriber).

[2021-05-03 17:16] bozana commented on #6782
Yes, the institution will definitely come, this is my next step, will then come back to you regarding this again :-)

So, would you agree that we remove assoc_object_type, assoc_object_id and pkp_section_id from DB table metrics?

[2021-05-03 19:33] asmecher commented on #6782
Hmm, maybe it would be clearer to just call it `issue_id` in OJS and log it accordingly? We don't have a use for this in the other apps, and when the `assoc_id`/`assoc_type` pairings don't have extra utility, best to avoid them, I think.

[2021-05-03 19:45] asmecher commented on #7015
@jnugent, are you planning a PR to fix this? (You've pinned the problem down and it seems a shame to steal a commit to fix it!)

[2021-05-03 19:49] jnugent commented on #7015
@asmecher coming up!

[2021-05-03 19:55] jnugent commented on #7015
@asmecher that PR is for 3.3.0 - let me know if you'd like one for `main` or 3.3.1 as well.

[2021-05-03 20:04] mwestin-googlescholar commented on #7003
Hi all-- totally understood if this isn't a feature you want to pursue for OMP. As I had mentioned, the string for URL markers for book indexing could be any string you like, i.e. no need for using any particular language.

If you'd ever like to explore this as a future feature for OMP, just let me know.

Cheers,
Monica

[2021-05-03 22:24] asmecher commented on #7015
Cherry-picked to stable-3_3_1 and forward-ported to main. Thanks, @jnugent!

[2021-05-03 22:24] #7015 closed

[2021-05-03 22:26] asmecher commented on #7015
Also ported to OMP.

[2021-05-04 00:00] asmecher commented on #7003
@mwestin-googlescholar, this is a feature we'd like to pursue -- but we're looking for alternatives to deriving the kind of information you need from URLs, when that's a big imposition on our community and is at odds with longer-term goals. We can't and don't want to exert control over our community; the `index.php` marker is the best example of this -- our users understandably want to remove that

[2021-05-04 04:27] ajnyga commented on #6759
I think is ready to be closed, can not think of anything else right now.

[2021-05-04 04:27] #6759 closed

[2021-05-04 04:30] ajnyga commented on #7014
4. `Register` is the right word imo. For example https://www.crossref.org/services/content-registration/ https://support.datacite.org/docs/doi-registration-policy https://www.medra.org/en/guide.htm and https://www.doi.org/registration_agencies.html

[2021-05-04 06:06] hcuser12 commented on #6999
@NateWr @defstat any news? It's important part of our work - we have hundreds of books to migrate to OMP.

[2021-05-04 09:19] NateWr commented on #6782
Wouldn't this be a privacy concern? I thought that libraries were big on not tracking the specific material that someone is reading. It seems to me like individual resource tracking at the institutional level would frequently result in very low counts, which would make them prone to deanonymisation. In many cases, maybe only one person has visited a specific article from an institution.

Also, it'

[2021-05-04 10:40] NateWr commented on #7006
Thanks for testing, @benaltair! We're rebuilding the whole submission wizard in 3.4 to use the new forms. Our plan is to then have it audited by an accessibility expert.

Would you be able to do similar tests for us on the settings forms? A couple examples are Settings > Journal > Masthead, Settings > Journal > Contact. These are the new forms that we'll be using for the submission wizard, and whi

[2021-05-04 10:43] NateWr commented on #7008
I'm going to close this here and ask that you report further details at our support forum, including the PHP error log. You can find the forum at https://forum.pkp/sfu.ca.

[2021-05-04 10:43] #7008 closed

[2021-05-04 11:12] NateWr commented on #5932
1. No, not yet. We should think this through in more detail first. Journals will probably want to decide how to present this (ie - in article or issue form). In the meantime, can you have that URL redirect to the issue archive?
2. Let's extend the `article_summary.tpl`. We do that for the search results (where some extra details are shown). You can pass in data to a template like `{include file="f

[2021-05-04 13:47] ajnyga commented on #5932
3. You only have methods `category`, `fullsize` and `thumbnail` there and two helpers for `category`. All of these are Category related.

[2021-05-04 14:11] jnugent opened #7016 "getAuthorString no longer respects browse inclusion in some places"
**Describe the bug**
In OJS 3.1.2 the `getAuthorString()` method used to pass a boolean `true` to `getAuthors` which respected the `$includeInBrowse` flag.  This was useful when displaying an author string on a front end template, like an issue's table of contents.   That can be seen here:

https://github.com/pkp/pkp-lib/blob/stable-3_1_2/classes/submission/Submission.inc.php#L257

With the refact

[2021-05-04 14:20] mwestin-googlescholar commented on #7003
Hi @asmecher,

Happy to speak further about this, but the short version is that the only want to set this up well and consistently is within book/ chapter level URLs themselves. To handle different types of books, the indexing system needs to know how to treat the item before it analyzes the metadata.

If this ends up being a direction your community wants to go in, happy to pick this conversation

[2021-05-04 15:16] NateWr commented on #5328
Here is a fully-working example of this pattern applied to Announcements. The key is understanding Laravel's [Service Container](https://laravel.com/docs/8.x/container). It allows us to define how dependencies should be resolved, and then have those dependencies injected automatically.

First, we define a class with a type-hinted dependency ([example](https://github.com/NateWr/pkp-lib/commit/092f5

[2021-05-04 15:54] NateWr opened #7017 "Code formatter is skipping some files"
The code formatter is skipping some files because the exclusion rules do not declare top-level directories but any matching files. So excluding `plugins` is excluding anthing with that in the name.

We probably should use `notPath` rather than `exclude`: https://symfony.com/doc/current/components/finder.html

(h/t @asmecher)

[2021-05-04 16:33] asmecher commented on #6948
Should be fixed, thanks @ajnyga!

[2021-05-04 16:33] #6948 closed

[2021-05-04 16:54] marcbria commented on #7003
Hi @mwestin-googlescholar,

I'm following this thread with much attention.

I have been an active member of the PKP community for the last decade which let me join the PKP technology committee as a "at-large" member. I provide support on local networks (spain) as well as in latin american ones, and I offer support in forum to the community.

I don't intend to present a CV here, but I thought it wa

[2021-05-04 17:00] mwestin-googlescholar commented on #7003
HI @marcbria,

That is great to hear! Just to be crystal clear, this direction would need to involve URL markers in the URL paths themselves. As I mentioned a few times, always happy to continue the conversation.

[2021-05-04 18:34] marcbria commented on #7003
Sorry @mwestin-googlescholar but my English is not good and I'm probably missing something.

Does it means that Google is telling the PKP community how things need to be done?

Because "need to involve" does not sound like a good start for an open conversation.

[2021-05-04 18:50] mwestin-googlescholar commented on #7003
I think we're talking in circles a bit here. Let me put it a different way: to systematically and accurately distinguish chapters from books, and different book types from each other, the indexing system can only work with URL markers. Unfortunately there isn't another way that works well. I wish there were, as I know adding URL markers can be difficult for a few different reasons.

To be clear: t

[2021-05-05 09:03] defstat commented on #6999
Hi @hcuser12, I think it could be the name of the file genre that produces the problem (it is `Manuskrypt ksi&#x105;&#x17C;ki`). I am preparing a PR for this - when ready, are you able to apply the change and give it a try?

[2021-05-05 09:26] NateWr commented on #7016
Thanks @jnugent. The refactor is designed to take the fetching from the database out of the `DataObject`, since that can lead to lots of duplicate lookups. But we do need to get this back in. I _think_ the data should be there in the authors array, so we should be able to filter that alright.

[2021-05-05 10:33] defstat commented on #6999
@asmecher @NateWr

**PRs**
[3.3.0]
pkp-lib: #7019 (@hcuser12 could you check if these changes fix your issue?)

[main]
pkp-lib: #7020

[2021-05-05 12:13] ajnyga commented on #6965
Just a note that I do not forget about this: it would make sense to divide the sitemap based on contexts. So the main sitemap would only be a list of sub sitemaps of individual contexts.

This would also help with the size of the sitemap, see https://github.com/pkp/pkp-lib/issues/5655

[2021-05-05 12:50] ajnyga commented on #7003
I have been looking how Springer, Elsevier and Taylor and Francis work with their url's. I will divide the solutions the few categories and make a suggestion how we could work in OMP.

### URL markers

**Springer** and **Elsevier** do not seem to add url markers concerning the book type, or I could not find them. **Springer** (Springer link) and **Elsevier** (Science Direct) have independent handl

[2021-05-05 15:47] jnugent opened #7021 "Legacy OCS needs small ADODB update for PHP7 compatibility"
This is legacy - filing this issue for a PR placeholder, a merge is not required.

The version of ADODB that is current in OCS 2.3.6 references set_magic_quotes_runtime in a few places, and still uses mysql_connect and mysql_pconnect in places as well.  MySQLi has been the default PHP7 driver for a while now.

The PR against this issue will make OCS 2.3.6 work correctly under PHP7 again.  Users wh

[2021-05-05 16:01] NateWr commented on #6999
I haven't tested, but code looks good. Let's see if @hcuser12 can confirm the fix before merging.

[2021-05-05 17:12] benaltair commented on #7006
Did a quick review and saw some small issues. I'm using NVDA as the reader, one of the most widely used free options.

## Multi-line Text Editor
The experience compared with the other forms is much better. For just entering plain text it was better than the documented experience above.
![image](https://user-images.githubusercontent.com/17771229/117179771-53eb0200-ad88-11eb-9e03-a0e9ba61d210.png)
J

[2021-05-05 23:35] kshuttle commented on #4059
I recommend adding two new email templates in the Review stage to let authors know that their submission is being sent to review, which contain information about what kind of review their submission will undergo (anonymous vs open). These would replace the "External Review" template.

Suggested title for new template for anonymous review: EDITOR_DECISION_SEND_TO_ANONYMOUS_REVIEW

Suggested title f

[2021-05-06 00:52] asmecher commented on #2570
(Closing 2.x issue)

[2021-05-06 00:52] #2570 closed

[2021-05-06 00:53] asmecher commented on #1939
(OJS 2.x is no longer supported)

[2021-05-06 00:53] #1939 closed

[2021-05-06 00:54] asmecher commented on #752
Closing as inactive.

[2021-05-06 00:54] #752 closed

[2021-05-06 00:54] asmecher commented on #2548
(OJS 2.x is no longer supported)

[2021-05-06 00:54] #2548 closed

[2021-05-06 07:27] jmvezic commented on #3646
Seeing as "Comprehensive improvements to sending emails" is in plan for version 3.4 (https://pkp.sfu.ca/2021/04/28/here-we-go-whats-planned-for-3-4/) it would be great to have this fix with that release. Our editors were also expecting the "New issue published" template to be sent out instead of the generic one.

[2021-05-06 08:11] NateWr commented on #7003
This is great, thanks @ajnyga! So if I understand correctly, the key distinction is where the Google Scholar meta tags are placed. For monographs, they're only placed on the book landing page. For edited volumes, they're only placed on the chapter pages. Is that right?

I don't think we should do this because every public URL should be indexable by general search engines. What Google Scholar needs

[2021-05-06 08:45] NateWr commented on #7006
Thanks for this great report, @benaltair! It's really helpful as we prepare to get our backend UI audited. On TinyMCE, it does claim to be [compatible with JAWS and NVDA](https://www.tiny.cloud/docs/advanced/accessibility/). Would you have time to read that and see if the shortcuts are working properly?

Thanks for the tip about `aria-hidden` not working on clickable elements. I didn't know that!

[2021-05-06 08:46] ajnyga commented on #7003
Yes, exactly. This is the F&T is handling it.

Yes, I am aware of the downsides of robots rules. We could of course limit them to googlebot. Too bad there is no separate bot rule for google scholar. It would make this very easy and exact.

Making chapter landing pages optional for monographs is probably a good idea. Many monographs might just have the chapter metadata available, but no chapter spe

[2021-05-06 09:49] NateWr commented on #6099
Thanks @jonasraoni, all merged! In the future, when moving a locale key from OJS to pkp-lib, go ahead and move it in all languages. I went ahead and did this in https://github.com/pkp/pkp-lib/commit/a8989ad97e99b796c06ffc18a519959225c24c8b and https://github.com/pkp/ojs/commit/dd8afd3db2d18ee8107aa10f73ccd6bbb5b7e3fc.

Hopefully when https://github.com/pkp/pkp-lib/issues/6328 is solved we won't ne

[2021-05-06 09:49] #6099 closed

[2021-05-06 10:31] hcuser12 commented on #6999
It is not working...

In example XML I changed `genre="MANUSCRIPT"` and the file was imported.
But "Publication format" is still without any file. Moreover this file cannot be selected using "select file" link.

I have uploaded new file and looked inside database to see what's the difference. The only difference I have noticed is inside table `submission_files`:
![submission_file](https://user-ima

[2021-05-06 12:03] gireeshcse opened #7022 "[OJS]Offline App: Creating the PHP Fatal error"
If we run the application offline i.e without internet, It is creating the following error

PHP Fatal error:  Uncaught GuzzleHttp\\Exception\\ConnectException: cURL error 28: Failed to connect to pkp.sfu.ca port 443: Connection timed out

**Error Stack**

[Fri May 07 17:10:19.658742 2021] [php7:error] [pid 71142] [client 127.0.0.1:52436] PHP Fatal error:  Uncaught GuzzleHttp\\Exception\\ConnectExc

[2021-05-06 13:46] defstat commented on #6999
Thanks for the test @hcuser12.. Could you apply and check the OMP and pkp-lib PRs found [here](https://github.com/pkp/pkp-lib/issues/6999#issuecomment-832585800)?

[2021-05-06 14:41] nongenti commented on #7003
At the UB Heidelberg we're working on a chapter landing page-plugin for OMP 3.3. For now all chapters with a 'deposited' or 'marked registered ' DOI get automaticly  a own landing page. But we're discussing make this configurable.

The path is /book/book_id/c+chapter_id. Maybe we can make the part after the book_id configurable too.

Without these configurable parts we have a working solution on o

[2021-05-06 15:34] asmecher commented on #7022
@gireeshcse, you can resolve this by setting `enable_beacon` and `show_upgrade_warning` to `Off` in `config.inc.php`.

[2021-05-06 15:34] #7022 closed

[2021-05-06 15:41] ajnyga commented on #5299
OJS: https://github.com/pkp/ojs/pull/3125
OMP: https://github.com/pkp/omp/pull/970
lib: https://github.com/pkp/pkp-lib/pull/7011

Still missing the new test for OMP

[2021-05-06 16:09] asmecher commented on #6490
I have merged https://github.com/pkp/ops/pull/149 -- thanks to you both! I see reference to changes made by both of you -- what's left to do on this issue?

[2021-05-06 16:34] asmecher commented on #6490
Whoops! @defstat, the PR broke OPS Travis tests:
[code]
I had forgotten about the other PRs linked here:
https://github.com/pkp/pkp-lib/issues/6490#issuecomment-746749675

...of which at least one needs rebasing. I've reverted https://github.com/pkp/ops/pull/149 for the moment. Could you rebase these as needed?

[2021-05-06 16:44] asmecher commented on #6976
Merged all 4 PRs above ^^ Thanks, @defstat!

[2021-05-06 16:44] #6976 closed

[2021-05-06 16:47] asmecher commented on #6490
Resolved via #6976 and re-applied the commits in https://github.com/pkp/ops/pull/149. We'll see if that does it.

[2021-05-06 19:35] asmecher commented on #6099
Heads-up that https://github.com/pkp/ops/pull/130 and https://github.com/pkp/omp/pull/941 didn't get merged, which broke the tests when submodules updated in OMP and OPS -- I've cherry-picked in the relevant changes.

[2021-05-06 19:57] ctgraham commented on #6782
The "why track at the article level?" is interesting.  I was coming at it from the protocol requirements perspective: COUNTER promises a certain set of reports, and institutions are expected to be interested in any of those reports, so the protocol provides for any of the reports to be filtered at the Customer / Consortia Members level.  But practically, a customer is probably more interested in t

[2021-05-06 20:17] dinaJamal11 opened #7023 "[OJS]"
Can you please support
I want to modify the information under each reviewer from the list to include the reviewer country under each reviewer. (add /assign reviewer tab)
I am currently using v3.3.0.4

[2021-05-06 20:20] ajnyga commented on #5299
D. Barnes is an editor right? When the test above turns the publication unpublished, why would the page `index.php/publicknowledge/article/view/9` return 404 like it seems to be expected in the tests - because the editor would just see the preview version from that url, right? Or does `cy.request` fetch the page without the user's session?

[2021-05-06 20:20] asmecher commented on #7023
You're already getting support with this question at https://forum.pkp.sfu.ca/t/add-reviewers-country-in-add-reviewer-tab/67504. Please don't post the same question in several places.

[2021-05-06 20:20] #7023 closed

[2021-05-06 20:33] loloapaige opened #7024 "[OJS]"
Hello
I want some help. I have a requirement to send a PDF file in anemail sent to the author when his publication is accepted in the journal.

i think I have turned on sending emails to the authors when the publication is approved by this
$notificationTypes = array(
	**NOTIFICATION_TYPE_APPROVE_SUBMISSION => true,**
		NOTIFICATION_TYPE_FORMAT_NEEDS_APPROVED_SUBMISSION => false,
			NOTIFICATION_TY

[2021-05-06 20:37] asmecher commented on #7024
The support forum is the best place to ask questions like this; try posting there: https://forum.pkp.sfu.ca

[2021-05-06 20:37] #7024 closed

[2021-05-06 21:21] kshuttle opened #7025 "New email template informing authors that their submission has been copy edited and they can check the edits"
A new template should be added to the workflow in the copyediting stage allowing a copy editor to inform an author that their submission has been copy edited, and asking them to review the copy edited file and answer any questions (ie word and stylistic choices) from the coy editor.

Sent by: Copy editor
Received by: Author
Should the sender be able to preview and customize this email? Yes
Should

[2021-05-06 21:56] pmangahis opened #7026 "One-Click Reviewer Accept and Decline"
**Describe the problem you would like to solve**
JM would like to make the system /peer review process more efficient for reviewers and other editors.

We have received this feedback quite a few times, and I also see this feature has been requested in the PKP forum.

**Describe the solution you'd like**
A one-click reviewer accepts and declines within the reviewer emails. They do have one-click ac

[2021-05-06 22:43] kshuttle opened #7027 "New email template notifying authors that layout editing is complete and they can review the final version before publication"
A new template should be added to the workflow in the layout editing stage allowing a layout editor to inform an author that their submission's galley files have been created, and asking them to review the galley files and final metadata before publication.

Sent by: Layout editor
Received by: Author
Should the sender be able to preview and customize this email? Yes
Should the recipient be able to

[2021-05-06 23:28] kshuttle opened #7028 "New email template notifying authors about the reason their submission was declined without review"
Currently there is an email template available for editors to let authors know that their submission was declined without review (EDITOR_DECISION_INITIAL_DECLINE). I suggest splitting this into two templates: one for submissions that are declined because they are outside the journal’s aims and scope; and another for submissions that are declined because they do not meet the general requirements fo

[2021-05-06 23:40] kshuttle opened #7029 "New email template notifying authors that their submission has been scheduled for publication"
A new template should be added to the workflow in the production stage allowing a journal or section editor to inform an author that their submission has been scheduled for publication in an upcoming issue.

Suggested title for new template: PUBLICATION_SCHEDULED

Sent by: Managing Editor or Section Editor
Received by: Author
Should the sender be able to preview and customize this email? Yes
Shoul

[2021-05-06 23:54] kshuttle opened #7030 "New email template notifying authors that their submission has been published in an issue"
Currently authors are not notified when their work is published in an issue (although they may receive a generic notification from the journal when a new issue is published). I suggest adding a new email template at the issue publication stage, informing authors that their work has been published, explaining the open access and reuse policies of the journal, and suggesting they distribute their pu

[2021-05-07 00:09] kshuttle opened #7031 "New email template notifying a section editor that they've been assigned to a submission to recommend a decision"
Currently there is a template for editors notifying them that they have been assigned as a section editor to a submission and they are being asked to see it through the editorial workflow and make decisions around acceptance, revisions, and rejection. However, there is no corresponding template available for section editors who are being asked to recommend a decision (in cases where the optional s

[2021-05-07 01:05] kshuttle opened #7032 "Delete unused "Citation Editing" template in OJS"
The following email template is currently listed in OJS but do not function in the workflow and should be removed.

CITATION_EDITOR_AUTHOR_QUERY

Subject: Citation Editing

This is an old email template from OJS 2 which was used to ask an author to verify a particular citation. It used a variable that no longer works in OJS: {$rawCitation}.