[2017-09-27 07:52] withanage commented on #2818
i also agree with the point of having only authenticated orcid ids
The importance of the support of  export formats is crucial and we have to clearly define it. Come with a suggestion soon for jats, bits etc.

[2017-09-27 08:30] NateWr commented on #2061
@jalperin is this obsolete now that you've produced the stats fields table from the 2017 sprint?

[2017-09-27 08:37] NateWr opened #2820 "Improve internal submission data reporting"
The 2017 sprint produced a document proposing two reports (submissions and reviewer reports), which detailed the fields required, set priorities and noted errors in the existing data set.

https://docs.google.com/spreadsheets/d/e/2PACX-1vS9mypS4nXwcQcsdVUv0kmjjHFhLKJY21jWUUIPs0CT20dla825Z7ACxfGMMOC2FuKYHqVxLnRV6N_i/pubhtml#

Further information can be found in the sprint report post:

https://pkp.

[2017-09-27 10:06] ajnyga commented on #2787
Also related:
https://www.crossref.org/blog/organization-identifier-working-group-update/
https://darkarchive.wordpress.com/2017/09/26/crossref-live-london/

[2017-09-27 11:18] ajnyga commented on #2818
Additional thing I started to think about: Could we have a plugin setting for enforcing the use of ORCID id's in the workflow at least for the submitting author? I do not have an actual user case, but I think that many journals would like to have the ORCID id as a required metadata.

[2017-09-27 11:22] NateWr commented on #723
Merged! :tada:

[2017-09-27 11:22] #723 closed

[2017-09-27 11:22] NateWr commented on #2657
#723 is merged, which fixes this issue.

[2017-09-27 11:22] #2657 closed

[2017-09-27 13:06] jalperin commented on #2061
The sprint report is probably as specific as we're likely to get, so yes, can close in favour of implementing the reports suggested at the Sprint.

[2017-09-27 13:06] #2061 closed

[2017-09-27 13:13] tothbog commented on #2612
It looks excellent! :1st_place_medal: As a Journal Manager, what would still add more is a filter to "any kind of overdue". I mean: Editors who take too much time to get reviewers, or even make decisions, reviewers who do not react on the invitation, late with the review, copy editors late with their job, etc.

I know that too much filters can blow the page, but maybe it should be configurable, as

[2017-09-27 14:26] NateWr commented on #2612
@tothbog, I'd love to implement more overdue notices. However, each of the tasks you describe doesn't have a due date in our system, and what's considered "too long" will vary from journal to journal. So we don't have any way to determine if a task is overdue, other than the reviews, where we can check the due dates.

I have some ideas for changing this which I hope to explore in the future, but i

[2017-09-27 16:05] ajnyga commented on #2557
New comment:"Note that this issue appears to be resolved in Safari 11."

But, I am pretty sure that one of our editors was seeing this in Firefox as well...

[2017-09-27 16:33] NateWr commented on #2178
@defstat I've added several comments in the code review. Here are a few more general comments:

- I'd like to indicate which navigation menu items have a conditional display of some kind when they're assigned to a menu. This could be an icon that, when clicked, opens a modal saying something like "This menu item and any sub-menu items will only be displayed when a user is not logged in."
- I'd lik

[2017-09-27 16:37] defstat commented on #2178
@nateWr it sounds great, I will check the code review comments and try to fix them by tomorrow night, so we have a day to do more if necessary.

[2017-09-27 16:49] asmecher commented on #2818
@ajnyga, regarding making ORCIDs required, I think this would make sense as a new row in our existing metadata grid (that was extended recently to include a "required" setting): https://github.com/pkp/pkp-lib/issues/2684

No need to make this part of the plugin, I think, since the ORCID fields exist in the core code already.

[2017-09-27 16:50] asmecher commented on #723
:tada: indeed! Another big merge.

[2017-09-27 17:37] ajnyga commented on #2818
sounds like a good idea!

[2017-09-27 17:59] NateWr opened #2821 "Copyeditors do not have access to editorial history"
When opening the editorial history from the submission list or the Editorial History link in the submission workflow as a Copyeditor, I get an error: "The current role does not have access to this operation."

They do seem to have permission in `InformationCenterHandler`: https://github.com/pkp/pkp-lib/blob/master/controllers/informationCenter/InformationCenterHandler.inc.php#L30-L34

[2017-09-27 19:14] asmecher commented on #2803
OJS 3.0.2 requires PostgreSQL 9.1.5 or later -- IIRC the bump was due to this same requirement.

[2017-09-27 19:14] #2803 closed

[2017-09-27 19:18] asmecher commented on #382
@jmacgreg, I know you were working on a preprint-type display for OJS -- can you describe that here?

[2017-09-27 21:04] bozana commented on #1791
I've just merged this, because of the locale freeze, but there is still some time to the release for testing and changes... :-)

[2017-09-27 21:47] asmecher commented on #2751
@NateWr, I think I've tracked this down: https://github.com/pkp/pkp-lib/commit/b6a38601bebe601bd3752d1f39348f0204e33439#diff-25cab5d6788e8bf3432c3a755f10c1a4L681 passed the new row through `.html()` to convert to a string, but that has the side-effect of unwrapping it from its containing element. The change appears to have been done to pass the JS linter, as the `.replacePartialWith` func asks for

[2017-09-27 21:47] #2751 closed

[2017-09-27 22:09] asmecher commented on #2557
Not sure it'll fix this, but I did just commit updates to the PDF.js library to bring it to release 1.8.188:

- https://github.com/pkp/omp/commit/94869614df6e37cc001cf6615b7eaf09f73de36c (for OMP)
- https://github.com/pkp/pdfJsViewer/commit/72719cc67eb5af591493179f324a8c82ab31bf25 (for OJS)

[2017-09-27 22:14] asmecher commented on #699
@Vitaliy-1, sorry I haven't been following this as closely as I'd like. Subdomains would certainly solve the problem for some, though it's probably not a general-purpose enough solution for everyone (thinking e.g. of the many users who don't have their own domains or lack expertise in setting up subdomains). Can you summarize what was required to set this up (e.g. patches etc)?

[2017-09-27 23:25] asmecher commented on #1336
For anyone else who hits this, there are further debugging instructions at https://forum.pkp.sfu.ca/t/cannot-use-a-scalar-as-an-array/10488/19.

[2017-09-27 23:36] asmecher commented on #1503
I'm getting a minor warning that could use some attention:

[code]

[2017-09-28 08:40] ajnyga commented on #699
Just dropping this here although it does include some obvious things: https://support.google.com/webmasters/answer/182192, most important part in the end.

Some suggestions with two locale journal. Default is English and secondary is Deutsch. Basically the default locale would also work if a locale existed in the URI, but would result into a redirect as suggested by Google in the above document. F

[2017-09-28 09:50] NateWr commented on #2751
Makes sense. Good find, thanks @asmecher!

[2017-09-28 10:27] NateWr opened #2824 "Allow reviewers to search by author name in single-blind and open review assignments"
Reviewers are prevented from matching searches against author names (see https://github.com/pkp/pkp-lib/pull/2823). This restriction can be lifted when the review assignment is a single-blind or open review assignment.

[2017-09-28 11:58] bozana commented on #440
@asmecher and @NateWr, I would have some conceptual i.e. UI questions: what information should the new site wide users grid contain? -- The same columns as now or additionally also journals/contexts the user belongs to? Or maybe to have this information only in the "Edit User" form?
On the "Edit User" form we have to display the "User Roles" grid per journal/context i.e. to somehow integrate the j

[2017-09-28 12:35] bozana commented on #2680
I will close the issue, because I cannot reproduce it i.e. maybe not a bug -- if it happens to happen again/for someone else as well, we can reopen the issue...

[2017-09-28 12:35] #2680 closed

[2017-09-28 13:16] marcbria commented on #723
Reading you from the dark... ;-) Congrats!! Great job done!

[2017-09-28 14:16] NateWr commented on #440
What's the use case this grid is fulfilling? My comments below are based on the presumption that this grid is catering to a specific need and won't be frequently used.

I'd say mimic the existing users grid. No need to add anything. A list of contexts could get very long on large installations.

Hmm, yeah that could get very messy in installations with lots of journals. Is it necessary? Would it b

[2017-09-28 14:23] bozana commented on #440
For simplicity reason maybe to leave the user grid columns as they are for now. -- The same grid will be used in journal/press context as well as in the site context.
Concerning the filter options for the site wide context: maybe to first just provide the journals/presses list as a filter (and no user groups/roles list). When a journal/press is selected and the button "Search" pressed i.e. the use

[2017-09-28 14:57] bozana commented on #440
@NateWr, thanks! My page was not reloaded when I wrote my last comment, so I first now see your comment, but no conflicts however... :-)

[2017-09-28 15:41] asmecher commented on #440
Going back to use cases:
- It's possible for an admin to get dumped into the site-wide administration area, and have no idea how to access journal-specific administration areas. Admins get confused and post on the forum, and then I answer their questions.
- Site admins want a quick way to get in and solve user problems, most commonly to reset passwords, grant roles, etc.
- Site admins (who may onl

[2017-09-28 17:28] NateWr commented on #440
This sounds like the primary problem. What if the site-wide admin nav menu just included a list of every context, with links to Users and Settings for each one? Would that solve the problem or would admins not know which context to find a user in?

[2017-09-28 17:30] asmecher commented on #440
That's pretty much what I was suggesting [here](https://github.com/pkp/pkp-lib/issues/440#issuecomment-327646371), and it's the most expedient fix. Longer term, I think it makes sense to make user management a proper part of the site administration interface, especially because user accounts are site-wide and that design choice would be made more apparent to users this way.

[2017-09-28 17:33] NateWr commented on #440
Ok, yeah, I suppose whatever works for 3.1 is fine. Good to keep in mind for when we get to refactor the user grids into ListPanels.

[2017-09-28 19:23] bozana commented on #440
Do I understand it correctly, that it would be enough for 3.1 to have an action link in the hosted journals grid? Adapting the current Users Grid to be usable site-wide is more work but would be possible for 3.1 as well. What would you suggest I should do? :-) -- Sorry, I am sometimes so bad in making decisions :-\

[2017-09-28 19:38] asmecher commented on #440
For now, let's just stick with the new new row action. With more time, this could be adapted to a `ListPanel` -- no sense investing a lot of time in grid-based functionality for now.

[2017-09-28 21:47] crosfield opened #2825 "Safari 11.0 does not display submission list in the current branch of OJS 3.1"
<img width="1699" alt="screen shot 2017-09-29 at 00 42 29" src="https://user-images.githubusercontent.com/8432203/30991853-926b5c04-a4af-11e7-867e-4f700e1b0a7d.png">

[2017-09-29 07:18] ajnyga commented on #828
Hi @joschirr

What is the planned schedule for the release of the new OpenAIRE literary guidelines? We would like to handle OpenAIRE data as well in the Funding plugin: https://github.com/ajnyga/funding

[2017-09-29 15:48] NateWr opened #2826 "Update bootstrap theme to support new nav menus feature"
See #2178.

This does not need to be done before string freeze.

[2017-09-29 15:54] asmecher commented on #2825
@crosfield, does anything appear in the browser console?

@NateWr, mind taking a look?

[2017-09-29 16:08] NateWr commented on #2825
I'm updating my iPad to see if I can test on Safari 11. @crosfield can you try running `npm install` and `npm build` again? There were some very recent browser compatibility fixes that went in that changed the package dependencies.

[2017-09-29 16:18] asmecher opened #2827 "Article covers named server-side without article ID"
See https://forum.pkp.sfu.ca/t/ojs-2-4-8-cant-import-article-covers/33977 for details.

The cause is that [this LoC](https://github.com/pkp/ojs/blob/ojs-2_4_8-0/plugins/importexport/native/NativeImportDom.inc.php#L400) uses `$article->getId()`, but in the [import process](https://github.com/pkp/ojs/blob/ojs-2_4_8-0/plugins/importexport/native/NativeImportDom.inc.php#L794), that hasn't been set yet

[2017-09-29 16:40] NateWr commented on #2178
Phew! So much code to review. Nice work @defstat!

@asmecher I've left a bunch of final comments on the last PRs. However, the functionality is in place and most of the comments are just small code formatting things. Only a few of them relate to strings. @defstat should be able to tidy just the string-related things up and you can merge the PR for the string freeze today or Monday. Then he can con

[2017-09-29 19:47] crosfield commented on #2825
It's strange. Today after 'git submodule update --recursive' submission list is fine displayed! I don't know what it was. And I didn't do npm install & npm build

[2017-09-29 19:47] #2825 closed

[2017-10-01 17:34] defstat commented on #2178
Review changes made - all checks passed [https://travis-ci.org/pkp/ojs/builds/281654037?utm_source=github_status&utm_medium=notification]

PRs:
#2813
pkp/ojs#1448

[2017-10-02 11:09] Vitaliy-1 commented on #699
Hi @asmecher
Nothing really special. Most of the modifications were done inside `SessionManager` class. Really wanted to add method inside `AppLocale` class, but encountered with problems, described above.
My new static method:

[code]
line 68 after `$now = time();`:
`$this->subdomainLocaleRedirect($request);`

additional lines in case if user cookies not set. Need to be rewrited to retrieve actua

[2017-10-02 11:11] Vitaliy-1 commented on #699
As I am not a programmer, think this code could be optimized :)

[2017-10-02 16:09] NateWr commented on #1503
@kaschioudi It looks like `APIRouter::url()` is not actually used. Can we remove it?

https://github.com/pkp/pkp-lib/blob/master/classes/core/APIRouter.inc.php#L121-L130

[2017-10-02 16:13] kaschioudi commented on #1503
@NateWr : Sure.

[2017-10-02 17:10] #2826 closed

[2017-10-02 17:37] asmecher opened #2830 "Fix CSRF hard expiry"
CSRF tokens are set to hard-expire after creation, but they're also reused for an account. I suspect the CSRF token will therefore fail X hours after the user logs in. For now, modify CSRF code to extend the token's life when it's requested.

(A more fulsome solution will be to generate/save unique tokens for each form, but that'll require someplace to store them, and we don't have a suitable plac

[2017-10-02 19:50] asmecher commented on #2830
Builds:
- OMP: https://travis-ci.org/pkp/omp/builds/282408385
- OJS: https://travis-ci.org/pkp/ojs/builds/282408517

[2017-10-02 20:49] asmecher commented on #2178
Oops, this didn't get ported to OMP master branch! @defstat, can you make that a priority? The master branch is broken until then.

[2017-10-02 21:11] asmecher commented on #2830
OMP is currently broken on the customizable menus merge -- but this part seems to be working. Closing.

[2017-10-02 21:11] #2830 closed

[2017-10-03 07:54] mittinatten commented on #2827
I can confirm that these changes solved our problem. If it helps I can make a PR.

Thanks!

[2017-10-03 09:04] NateWr commented on #2178
@asmecher that's my bad. I thought that we were ok going ahead to get this in for the string freeze. @defstat is already working on the OMP side and I think we should get it in today or tomorrow.

[2017-10-03 09:07] ajnyga commented on #2178
(offtopic: @NateWr, can you let me know when the string freeze starts so that I can prepare an update for the FI locale for 3.1)

[2017-10-03 09:16] NateWr commented on #2178
@ajnyga I think we're basically there, but talk to @mtub about that as he's the master of locales.

[2017-10-03 11:35] defstat commented on #2178
@asmecher sorry about that.
@NateWr PRs:
OJS: pkp/ojs#1554
OMP: pkp/omp#446
PKP-LIB: #2831

[2017-10-03 16:14] asmecher commented on #2827
Thanks -- please do!

[2017-10-03 19:55] bozana opened #2832 "remove citationFormats plugins"
a) from the plugins folder (pkp/ojs#1556)
b)  in code (pkp/ojs#1555, https://github.com/pkp/ojs/pull/1568)
c) from DB table versions i.e. consider it in the update script (https://github.com/pkp/ojs/pull/1568)

[2017-10-03 19:59] bozana commented on #2832
This code part is making a problem, PHP error or warning:
https://github.com/pkp/ojs/blob/master/pages/article/ArticleHandler.inc.php#L164
https://github.com/pkp/ojs/blob/master/api/v1/submissions/SubmissionHandler.inc.php#L299
Thus it should be removed.

@NateWr, is this index used: https://github.com/pkp/ojs/blob/master/api/v1/submissions/SubmissionHandler.inc.php#L346? -- It uses the old citati

[2017-10-03 20:07] bozana commented on #2832
PRs:
ojs master:
https://github.com/pkp/ojs/pull/1555

[2017-10-04 08:50] NateWr commented on #2832
Oh, good catch @bozana! Merged.

Leaving open for the db stuff in the upgrade scripts, yeah?

[2017-10-04 09:01] NateWr commented on #2832
My brain was melting for a second there. I knew I removed all of the plugins, so why are they still there?!?! Now I see the citationFormat plugins have a single locale file in them, created with this commit:

https://github.com/pkp/ojs/commit/ef82134bccba95c2e8786d36849a13f5384ff825

Here's a PR that removes them:
https://github.com/pkp/ojs/pull/1556

[2017-10-04 10:32] bozana commented on #2832
@NateWr, yes I will add a delete SQL statement in the upgrade script.
Do you know what to do with citations in SubmissionHandler (s. second entry above)?

[2017-10-04 11:12] bozana commented on #2178
@defstat and @NateWr, great work! 🥇
If one of the existing "Navigation Menu Items" is edited "Custom Page" is always pre-selected as _menuItemType_, which is not correct (e.g. for "Editorial Team"), right? For those the appropriate _menuItemType_ (e.g. "Editorial Team") should be pre-selected, correct?

[2017-10-04 12:02] mittinatten commented on #2827
Submitted #1557

[2017-10-04 13:24] spirit57 opened #2834 "[OCS]"
hello ocs

[2017-10-04 15:30] NateWr commented on #2832
It can be removed for now. Kassim is trying a new approach for populating API data so in theory the plugin should be responsible for adding the data.

[2017-10-04 15:35] NateWr commented on #2178
Thanks @bozana! That's my fault. Looks like @defstat has already fixed it: https://github.com/defstat/pkp-lib/commit/51cf2a51f2f3ba7f9f4bdd04dcc8a0ed3bc9b01e

[2017-10-04 20:37] #2834 closed

[2017-10-04 20:37] asmecher commented on #2815
@NateWr, are you able to prioritize this one? @stranack would like to take some screenshots for documentation updates.

[2017-10-05 08:26] NateWr commented on #2815
Yeah will do. But I think it should only occur on tables with long text that doesn't wrap like the screenshot above.

[2017-10-05 08:44] NateWr commented on #1503
PR:
https://github.com/pkp/pkp-lib/pull/2835

Tests:
https://github.com/pkp/ojs/pull/1558

[2017-10-05 09:43] ajnyga commented on #2815
@NateWr will those changes work with 3.0.2 or should I have a working installation using the current master branch?

[2017-10-05 09:45] NateWr commented on #2815
@ajnyga You might be able to just apply the change to `3.0.2`.

[2017-10-05 09:59] ajnyga commented on #2815
With OS X + Chrome and OS X + Safari, no scrollbar is visible.
It appears if you use two fingers to scroll the div vertically. But you have to know you can do that.

The problem with this solution is that relevant information is hidden (what component).

Why not use overflow-wrap? https://css-tricks.com/almanac/properties/o/overflow-wrap/ http://caniuse.com/#feat=wordwrap

[2017-10-05 10:20] NateWr commented on #2815
I wrote out a big long thing about how `word-wrap` doesn't work with the table cells in our grids for some reason and it's caused me no end of grief and I couldn't wait to move away from tables in the grids and then I found out about `table-layout: fixed`, which seems to make this possible! I will have to do some testing but I'm hopeful. :)

[2017-10-05 10:24] ajnyga commented on #2815
Maybe render the rows so that the file component name is under the filename - not after it?

This way no data will be hidden in the overflow and at least I do not see no harm that a longer name is not so apparently visible with OS X.

[2017-10-05 12:00] NateWr commented on #2178
OMP support merged now too! I've got one more change I'd like to do, which is to store a theme's nav menu areas in an array separate from the theme options. Ideally, theme options will only be used for user-configurable things that they can change under Settings > Website > Appearance. I can do that at any point before 3.1's release. Shouldn't be too tough.

[2017-10-05 13:38] NateWr opened #2838 "Can't add note on submission"
Recording to investigate later. Logged in as a Journal Manager, I got a fatal error when trying to add a note through the Editorial History modal. Error message:

[code]

[2017-10-05 13:58] NateWr commented on #2178
@defstat I missed the following PHP Notice that is getting thrown in OMP:

[code]

[2017-10-05 16:15] defstat commented on #2178
@NateWr
pkp-lib: #2839

[2017-10-05 18:09] NateWr commented on #2178
@defstat Actually, that should go into `omp` and the `ojs-specific` ones should go there.

[2017-10-06 08:52] leofontenelle opened #2840 "Revert change in locale/pt_BR/editor.xml"
Making a diff between the current version of `locale/pt_BR/editor.xml` and the one on my OJS 3.0.2 installation, I see this new version lacks a translation for the message `editor.publicIdentificationExistsForTheSameType`. However, this message is not obsolete, being found at `controllers/tab/pubIds/form/PKPPublicIdentifiersForm.inc.php`. Please revert this change in the translation, putting back

[2017-10-06 09:03] NateWr commented on #2815
I'd love to do this, but I would have to refactor how grid rows/cells work, and that would have a huge impact on every grid in our app. It would be a nightmare to test.

I went down a pretty deep rabbit hole yesterday. `table-layout: fixed` does allow us to use `word-wrap`. However, it has some knock-on effects with table columns.

![grid-fixed-tears](https://user-images.githubusercontent.com/2306

[2017-10-06 09:04] NateWr commented on #2815
PR:
https://github.com/pkp/pkp-lib/pull/2836

[2017-10-06 09:53] ajnyga commented on #2815
This came to mind, although you probably already tried it: https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/

[2017-10-06 09:58] NateWr commented on #2178
I implemented some small additions to the theme API to keep nav menus separate from theme options and make it a little easier for themers to interact with menus in the parent/child relationship.

PRs:
https://github.com/pkp/pkp-lib/pull/2841
https://github.com/pkp/ojs/pull/1563
https://github.com/pkp/omp/pull/447

[2017-10-06 10:01] NateWr commented on #2815
`text-overflow: ellipsis` has the same width limitations as `word-wrap`.

[2017-10-06 10:05] ajnyga commented on #2612
Maybe filtering by Issue. See https://forum.pkp.sfu.ca/t/assign-article-to-issues/34079

[2017-10-06 16:13] mfelczak opened #2843 "Remove excluded plugins from git stable branch"
The Related Items block is installed with OJS 3.x but it relies on the old Reading Tools framework which hasn't been ported to OJS 3.x

We should remove the block plugin from the OJS 3.x release as it causes some confusion for users when it doesn't work/isn't displayed.

[2017-10-06 17:20] asmecher commented on #2843
That plugin is currently excluded from the build process, but will be present for anyone installing from github. There are lots of other plugins in the same situation.

Vague idea: maybe these should be outright removed from the stable branches when they're created?

[2017-10-06 18:17] asmecher opened #2844 "Encode public-facing email addresses to prevent spam harvesting"
https://www.smarty.net/docsv2/en/language.function.mailto.tpl

[2017-10-06 20:15] asmecher commented on #2827
Thanks, @mittinatten -- merged and cherry-picked over to `ojs-dev-2_4` as well.

[2017-10-06 20:15] #2827 closed

[2017-10-07 10:20] ajnyga commented on #2844
Hi @asmecher https://github.com/pkp/pkp-lib/pull/2845

I started to think if there are accessibility issues with this solution, @NateWr?

It now uses javascript eval, the other option would be to use hex. I do not know whether one or the other is better (I think I've heard that javascript is more effective, but do not know how accessible it is?)

[2017-10-07 10:39] mtub commented on #2840
Hi @leofontenelle ,

the key has been removed to the application repos. It is still present, you can find it in the OJS editor.xml file: https://github.com/pkp/ojs/blob/master/locale/pt_BR/editor.xml#L230

[2017-10-07 10:39] #2840 closed

[2017-10-07 13:03] ajnyga opened #2848 "Four duplicate keys in locale/manager.xml"
Hi @mtub ,

While updating the Finnish translation, I noticed this: https://github.com/pkp/ojs/blob/master/locale/en_US/manager.xml#L383-L386

[2017-10-09 05:02] ajnyga opened #2849 "Current Roles listing and user rights are not transparent"
OJS 3.0.2.

Under Users&Roles settings there is a listing of existing user roles within the context.

Besides showing the names of the roles the listing shows the four stages of the workflow and corresponding checkboxes which visualize the stages where the given role can gain access.

Or, that is what you would think.

However, although for example the role “production editor” has stage assignment

[2017-10-09 09:42] isgrim commented on #2818
Hi everyone,
in a sprint during the [OJS-de Workshop](http://www.ojs-de.net/veranstaltungen/entwickler-workshop-2017/index.html) last week we had a discussion and planning for further ORCID plugin development.
@lmaylein and me discussed with contributions from Daniela Wolf and @bozana, about specific changes to the current https://github.com/pkp/orcidProfile Plugin.

Discussion and results was doc

[2017-10-09 10:16] ajnyga commented on #2818
Hi,

Great stuff and so happy to see things move forward with this!

A couple of notes that came to mind:

- Most of the ORCID API users do not probably have access to the Member API, because it is so expensive. This means that for most, sending metadata to ORCID is not an option at all. This should not stop creating such features to the plugin, but the plugin should work with the free API as well

[2017-10-09 10:22] NateWr commented on #2844
Author email addresses may be displayed too. If they're not now, I think we've had a request for them to be.

[2017-10-09 10:48] isgrim commented on #2818
That would make the development of the plugin easier and maybe is a good way. If this online means that the contributor has to click a link and verify the information.

[2017-10-09 11:03] bozana opened #2850 "remote galleys and supp files display in all layout.tpl files"
s. https://forum.pkp.sfu.ca/t/remote-galleys-not-reidrecting/34118

[2017-10-09 11:04] ajnyga commented on #2818
Hi @isgrim agreed: we have to make the validation process as smooth as possible for the author. But hopefully others will comment as well.

Again, great to see you working on this!

[2017-10-09 11:09] ajnyga commented on #2844
Hi @NateWr. Do you think that it would be a good solution in general to use javascript for protecting emails this way, I mean the accessibility issue with special browsers for visual impairment etc.? I do not have much knowledge on how they work in these cases.

Regarding the author emails, there is one problem here. At the moment author email is obligatory. However, in many cases you have very ol

[2017-10-09 11:11] isgrim commented on #2818
Another point which was discussed that we actually also want links to authorities data for name authorities (for Germany the GND, VIAF and LOC for other countries) for authors.

This could be bundled in an "authorities" Plugin for contributor meta data, which stores the authority links and maybe additional provides search of authority data. But for this I want to first do some research on existing

[2017-10-09 11:34] bozana commented on #2850
PRs:
ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1567

[2017-10-09 12:16] NateWr commented on #2178
@bozana can you code review the PRs above?

Also, @defstat, it'd be good if you took a look as well. Just a minor change specifically for themers.

[2017-10-09 14:29] bozana commented on #2832
@NateWr, could you take a look at this PR: https://github.com/pkp/ojs/pull/1568 ? Thanks!!!

[2017-10-09 16:05] bozana commented on #440
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2851

[2017-10-09 16:06] bozana commented on #440
@asmecher, could you take a look at this PR: https://github.com/pkp/pkp-lib/pull/2851 ? Thanks!!!

[2017-10-09 16:42] bozana opened #2852 "fix spanish loclae for tinyMCE plugin"
s. https://forum.pkp.sfu.ca/t/help-for-enable-tinymce-on-ojs-2-4-8/34112

[2017-10-09 16:44] bozana commented on #2852
PRs:
ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1569

[2017-10-09 17:18] mtub commented on #2818
I agree with Nate:

any new version of the ORCID plugin should only feature authenticated ORCID iD.

[2017-10-10 08:24] bozana commented on #2838
PR:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2854

[2017-10-10 08:24] bozana commented on #2838
@NateWr, could you take a look at the PR?

[2017-10-10 08:57] bozana commented on #2821
The editorial history modal contains History and Notes tab.
The `viewHistory` function uses this template: https://github.com/pkp/pkp-lib/blob/master/templates/controllers/informationCenter/submissionHistory.tpl  (s. https://github.com/pkp/pkp-lib/blob/master/controllers/informationCenter/SubmissionInformationCenterHandler.inc.php#L86), which again uses SubmissionEventLogGridHander, that only allo

[2017-10-10 09:20] NateWr commented on #2844
I'm sceptical of how good obfuscation works in general, but I don't really know about accessibility issues related to this or anything. I think JavaScript is supported by many screen readers these days though I know they're expensive so some people are still on really old ones.

My previous reaction of "that's insane why are we publishing email addresses on a publicly-accessible website" were met

[2017-10-10 09:28] bozana commented on #2821
PR:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2855

[2017-10-10 09:28] bozana commented on #2821
@NateWr, could you take a look at the PR?

[2017-10-10 09:31] ajnyga commented on #2844
Me too, especially things like mail(at)dot.com, which is what you usually see. I mean, if the browser can show the actual email then why not a harvesting bot. But, I have seen people say that those bots are usually overly simple.

Maybe we can just think of this as digital placebo XD

Regarding email addresses in article pages, I do not recall anybody from our editors asking about those. At the mo

[2017-10-10 12:29] bozana commented on #1908
I could make these page function properly for this release and then maybe to take a deeper look and to improve it for the next. OK?

[2017-10-10 12:55] bozana commented on #1908
This is how the page looks like now, i.e. the metadata table:
![lockss1](https://user-images.githubusercontent.com/378421/31387498-fba0f80e-adca-11e7-9515-917740142bcf.png)

[2017-10-10 13:05] bozana commented on #1908
This is how the centered logos at the bottom of the page look like:
![locksslogos](https://user-images.githubusercontent.com/378421/31387916-7bc83ac8-adcc-11e7-9306-d9a80a02c7eb.png)

[2017-10-10 13:09] bozana commented on #1908
This is how the navigation at the top looks like:
![lockssnavigation](https://user-images.githubusercontent.com/378421/31388017-ec9fc4b4-adcc-11e7-96b4-dea73d0e9c53.png)

[2017-10-10 13:14] bozana commented on #1908
@jmacgreg already solved the issue, so fix is coming... :-)

[2017-10-10 13:37] mpbraendle opened #2856 "[OJS] Changed code of plugins/blocks/navigation/block.tpl disabled Lucene Autocomplete"
OJS 2.4.8.2:  Lucene autocomplete does not work anymore since the code in https://github.com/pkp/ojs/blob/b4219970b5a958cdf1ddb9898d094223b143608d/plugins/blocks/navigation/block.tpl#L15-L20

has been added.

The problem might be in https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/generic/lucene/templates/filterInput.tpl

[2017-10-10 13:59] bozana commented on #2178
@NateWr, all great! :-)
What if I create a new navigation menu -- am I able to see it somewhere? How is this meant to be?
Thanks!!!

[2017-10-10 14:02] NateWr commented on #2178
Navigation menus are only assigned to a nav menu area. Areas are defined in your theme. So if your theme has:

[code]

You'll only be able to assign a nav menu to one of those areas. Then in the theme template files you load the nav menu assigned to an area like this:

[code]

So if you wanted to place a new nav menu in your theme, you'd need to add the area to your theme. Then you can assign a na

[2017-10-10 15:58] bozana commented on #2178
Thanks @NateWr! One more question :-\ What is then the drop-down "Active Theme Navigation Areas" ?

[2017-10-10 16:01] NateWr commented on #2178
These are the areas the active theme has registered, using `$this->addMenuArea()`. So your theme "registers" an area, and you can then assign a nav menu to it.

[2017-10-10 16:03] bozana commented on #2178
For example: I create a new navigation menu and select "primary" there, but this does not do anything i.e. does not display anything differently i.e. my new navigation menu is not displayed anywhere. Is this correct?

[2017-10-10 16:08] NateWr commented on #2178
You can only have one navigation menu assigned to each area, but I don't think there's any check or warning message in place if you assign two menus to one area. Do you already have another menu assigned to `primary`?

[2017-10-10 16:09] NateWr commented on #2178
You shouldn't see a navigation menu area appear as an option to be selected unless your active theme has registered it. And it's up to the theme to actually display any menu areas it has registered. But the default theme should only register `primary` and `user` and display both.

[2017-10-10 16:13] bozana commented on #2178
Ah, I can assign different nav menues to one area -- I just did it. And this is not supported i.e. considered here: https://github.com/NateWr/pkp-lib/blob/030d2237eb1d1780f3edd4b3cc7408593ac0e979/classes/template/PKPTemplateManager.inc.php#L1574-L1588
And in that case it is maybe also random which nav menu is find with that SQL statement.
Thus maybe not to list the areas already assigned (i.e. hav

[2017-10-10 16:15] NateWr commented on #2178
It would be good to throw a form validation error if someone tries to save a menu to a menu area that already has a menu assigned. But that would require a new string, so I think it's for 3.1.1.

[2017-10-10 16:17] bozana commented on #2178
Yes, OK. Actually the nav menu is then actually the same as nav area, and the nav menu title is not needed, right?

[2017-10-10 16:20] bozana commented on #2178
The PRs can be merged... :-) 👍

[2017-10-10 16:24] bozana commented on #2178
Maybe just a brainstorming: the other possibilities could maybe be:
-- not to display the "Add Menu" link if all nav menus i.e. areas are already there
or
-- to display the empty drop-down list for "Active Theme Navigation Areas"

[2017-10-10 16:49] bozana commented on #2856
@mpbraendle, hmmm... I am using the latest ojs-stable-2_4_8 branch and I cannot reproduce it -- the auto-suggest feature is working for me. Could it maybe be something else in your installation?

[2017-10-10 18:16] mpbraendle commented on #2856
Did both, to no avail.

Example:
http://sui-generis.ch/search  works with autocomplete (central search box)

But the search box in the right navigation bar of the same page does not.
You may figure out the difference between the two using Web inspector.
In the right box, the parameter searchField is missing in the "sourceUrl" of the javascript function above the form.

[2017-10-10 19:21] carzamora opened #2857 "[OJS] issue with user_id and query table in Pre-Review Discussions"
Hi,
I found an issue in the Pre-Review Discussions, we made some proofs before start to receive submissions officially, at this moment, of course, we made some discussions and other things for try OJS. Now, we have this issue in which we think that a discussion not was deleted and appear now in another submission, but I review the database and this is the problem:

Submission_ID is the 29
Query_ID

[2017-10-10 19:26] bozana commented on #2856
@mpbraendle, hmmm... I think that is OK i.e. I think it was always like this. Or do you know the small search input filed supported once auto-suggest?

[2017-10-10 20:01] asmecher commented on #2857
@t4x0n, I can't reproduce this locally, but I think it's not likely that OJS is breaking a user ID of 16 up into 6 somehow -- I can't think of any string operation that happens on an ID that might do this. See if you can reproduce the behavior and describe it in steps that we might be able to reproduce here.

[2017-10-10 20:24] bozana commented on #2856
Ah, I found the bug -- the form id was "simplesearchForm" instead of "simpleSearchForm" :-P Such a small typo can affect so much... ;-)
The fix/path is coming...

[2017-10-10 20:29] bozana commented on #2856
PRs:
ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1572

[2017-10-10 20:30] bozana commented on #2856
@mpbraendle, could you maybe also test the fix/change?
I'll then merge and cherry-pick it to ojs-dev-2_4...
Thanks a lot!!!

[2017-10-11 04:04] asmecher commented on #2844
"digital placebo" -- yes, I think this is not unlikely.

[2017-10-11 04:33] asmecher commented on #440
Merged, thanks!

[2017-10-11 04:34] t4x0n commented on #2857
@asmecher, I am installing OJS for another journal on the same server, I will try to reproduce this behavior step by step... this behavior really is very weird!

[2017-10-11 05:36] mpbraendle commented on #2856
Thank you @bozana, fix tested both on test and production system, works! You can merge.

[2017-10-11 10:39] #2856 closed

[2017-10-11 10:39] #2852 closed

[2017-10-11 10:39] #2850 closed

[2017-10-11 10:41] bozana commented on #2832
Everything merged thus closing...

[2017-10-11 10:41] #2832 closed

[2017-10-11 10:42] bozana opened #2859 "remove citationOutput plugins"
s. https://github.com/pkp/ojs/pull/1568
check what everything can be safely removed

[2017-10-11 10:49] bozana opened #2860 "Convert the users grid to a ListPanel that uses the REST API and implement at the context and site level"
s. https://github.com/pkp/pkp-lib/issues/440

*Edit (2021-11-23) -- This issue is on hold until an invite-a-user feature is implemented. See [this comment](https://github.com/pkp/pkp-lib/issues/2860#issuecomment-388906925).*

[2017-10-11 10:50] bozana commented on #440
A new issue for users ListPanel opened, here everything merged, thus closing...

[2017-10-11 10:50] #440 closed

[2017-10-11 10:54] NateWr commented on #2163
@kaschioudi I've pushed up the changes I've been working on the past couple days. I just cherry-picked your commit into my branch, but I've also rebased on latest `master` so you might want to just work off my branch as a base.

https://github.com/NateWr/pkp-lib/tree/i2163_api_prop_list
https://github.com/NateWr/ojs/tree/i2163_api_prop_list

The entity property pattern looks really nice. I've brou

[2017-10-11 15:33] NateWr commented on #2860
This should be fairly straightforward once we implement a `/users` API endpoint.

[2017-10-11 15:57] mtub opened #2861 "[OJS] Update ar_IQ locale for OJS 3.1 release"
Issue tracking the updates to the ar_IQ locale

[2017-10-11 15:58] NateWr commented on #2178
Thanks! I'll rebase them for merge.

If someone swaps themes, a nav menu area may no longer exist, but we don't want to get rid of the nav menu. And a title just helps them identify it in the backend. But more clarity around this would be good.

I want people to be able to create a menu without necessarily assigning it to a nav menu area. This can be useful if you're staging changes to your websit

[2017-10-11 16:14] NateWr commented on #2178
Merged.

@defstat I think the only thing left is to split the app-specific menu item type constants into the apps. Would you like me to take care of that?

[2017-10-11 16:41] NateWr commented on #2697
This may be obsolete with the entity property list work Kassim and I are doing on the API.

[2017-10-11 16:53] asmecher commented on #2325
We also need to decide on how/whether to rewrite these plugins for OJS3, and how/whether to migrate data from the old 2.x OFR/BFR plugins.

[2017-10-11 18:57] mfelczak opened #2862 "Add galleys grid to author's production stage"
To allow authors to view/download final versions of their articles, including for subscription journals where the authors may not have a subscription.

[2017-10-11 18:58] mfelczak commented on #2862
Care of https://forum.pkp.sfu.ca/t/fulltext-pdf-access-to-authors-to-their-own-articles-in-subscription-access-journal/34127

[2017-10-11 19:42] asmecher commented on #2849
@ajnyga, I think the problem here is that full Editor roles (production editor, editor, manager) can access any submission at any time.

Two options:
- Make the checkboxes forced-on and disabled for any full editor role, or
- Instate access checks for full editors per the checkboxes.

I would lean towards the first fix, but it'll depend on whether this suits your workflow. Generally I lean towards

[2017-10-11 21:52] asmecher commented on #1816
@NateWr, could you tinker with these templates?

- templates/user/subscriptions.tpl
- templates/frontend/pages/subscriptions.tpl
- templates/user/userIndividualSubscriptionForm.tpl

[2017-10-12 00:18] asmecher commented on #2178
@defstat, I think `registry/navigationMenuItems.xml` ius missing from both OJS and OMP, but is referenced from `lib/pkp/controllers/grid/admin/context/form/ContextSiteSettingsForm.inc.php`.

[2017-10-12 04:25] ajnyga commented on #2849
Hi @asmecher

Yes, the unlimited access together with the checkboxes are the source of the confusion.

**Option 1** would help a lot and make the journal manager level role permissions more clear. I think that in some lower roles there were some disabled selections as well.

**Option 2** would open up new possibilities and with some work would solve the central problem with journal manager level r

[2017-10-12 06:11] ajnyga commented on #2862
I think this is already in OJS and OMP master: https://github.com/pkp/ojs/blob/master/templates/controllers/tab/authorDashboard/production.tpl#L17

https://github.com/pkp/omp/blob/master/templates/controllers/tab/authorDashboard/production.tpl#L17

[2017-10-12 07:08] j-dornbusch commented on #2325
Following [the debate on the forum](https://forum.pkp.sfu.ca/t/2-books-for-review-questions/29234/18), here is a link to our modified version of OJS with the "offer-to-potential-reviewer" feature.
https://github.com/dsi-ehess/ojs/tree/offer-to-potential-reviewer
It's a branch created from OJS 2_4_8 stable.
The workflow has become a bit more complex because it includes two new statutes, "proposed"

[2017-10-12 09:04] ajnyga commented on #2325
Our journals did not use the plugin in OJS2 so I do not have a thorough knowledge on how it works. However, I have talked with our National Library about the possibility to attach book related metadata to book (or other) reviews that are published as common articles in OJS.

I have been thinking of tackling it with a plugin that would do roughly the following:
- Add selection to section settings w

[2017-10-12 11:06] NateWr commented on #2862
I can confirm that authors have access to the galleys grid in the production stage in OJS 3.1.

[2017-10-12 11:06] #2862 closed

[2017-10-12 13:51] #2838 closed

[2017-10-12 14:57] defstat commented on #2178
@NateWr @asmecher
PRs:
PKP-LIB: #2839
OJS: pkp/ojs#1581
OMP: pkp/omp#448

[2017-10-12 16:04] #2821 closed

[2017-10-12 17:39] kaschioudi commented on #2163
@NateWr

Since `authorString` and `shortAuthorString` values are pulled directly from `Submission` data object, I don't think there's a need for `PKPAuthorService` and `AuthorService`. We could remove them.

I can't reproduce this. I just tested and it seems to be working fine. Could you confirm? If no please describe your use case.

We could document the expected fields for each service  `getSumm

[2017-10-12 17:53] kaschioudi commented on #2163
@NateWr : am I missing something or it's not longer possible to download files through the api?

[2017-10-12 19:16] kaschioudi commented on #2163
@asmecher @NateWr

I have looked into an approach to modify the Authorization framework so that error codes are also associated with corresponding error messages when access is denied. This way the api will be capable of returning correct error codes (400, 403 or 404) instead of always returning 404.

My initial approach was to add a helper method, say `mapErrorMessageToErrorCode()`, to `ApiAuthor

[2017-10-13 08:38] NateWr commented on #2747
Wohoo! Finally merged! Thanks for the assist(s).

[2017-10-13 08:38] #2747 closed

[2017-10-13 10:25] bozana commented on #2859
Maybe a few notes here, and to double check i.e. be 100% sure:
The citationOutput plugins were something different then citationFormats plugins: citationFormats were used for article citation and citationOutput for the conversion of article references into a required format. Thus, depending on what are we planing to do with submission reference list, we may re-use these plugins, or instead we mayb

[2017-10-13 12:44] ctgraham commented on #2859
I don't think any of our journals are using the Citation Markup Assistant.  Our interest was primarily in fixes to the reference processing for users who are copy-and-pasting a bibliography to form references.  (c.f. https://github.com/pkp/pkp-lib/issues/2570).

In our data, we had folks pasting the reference list as instructed in 2.x, without the Citation Assistant, and ending up with very unexpe

[2017-10-13 16:47] NateWr commented on #1816
Worked on this a bunch today. Still some more to do, but if the tests are ok then go ahead and merge and I'll start from `master` on Monday.

PR:
https://github.com/pkp/ojs/pull/1582

Todo:
- Style restricted galley download links appropriately.
- Test restricted galley download links in different circumstances.
- Update the Bootstrap3 theme with the new templates.

Bugs/Questions/Comments:
- In i

[2017-10-13 17:22] asmecher commented on #1816
Yow, thanks, @NateWr. I'll work through some of these. I have yet to finish IP handling and some of the institutional subscription forms, which I'll do today, along with single-issue and article purchases. More to come.

[2017-10-13 20:05] asmecher commented on #1816
@NateWr, how do you feel about adding $amount beside the article and issue galleys when they're for sale? I find it jarring to get hauled off to PayPal before I even know what a thing costs.

[2017-10-13 23:56] asmecher commented on #2325
@ajnyga -- yes, your ideas parallel exactly what I was thinking!

[2017-10-14 00:00] asmecher opened #2863 "Resolve JS console warning"
See https://forum.pkp.sfu.ca/t/questions-about-ojs-3-0-2/34166/20 for details.

[2017-10-14 00:05] asmecher commented on #2849
@ajnyga, option 1 is a single line of code, so I've implemented it for the 3.1 release. I'll leave this issue option for the more considered approach, which I do think is promising.

[2017-10-14 00:28] asmecher commented on #2849
One line of code and I got it wrong. Fixed.

[2017-10-14 06:48] ajnyga commented on #2849
I do not think that the one line will be enough.

If I understand correctly, it will still show the old selections. For example the default Production Editor will have those two checkboxes selected. And when creating a new editor level role, you can still select the stages and also edit them by editing role. The grid just will not work.

We would need:
- either hide or force select stage settings

[2017-10-15 07:04] mtub opened #2864 "[OJS] Update sv_SE locale for OJS 3.1 release"
Issue tracking the updates to the sv_SE locale (Swedish)

[2017-10-15 08:54] mtub commented on #2861
Many thanks, @vormia, for updating the ar_IQ locale. This is very much appreciated. Everything is merged now.

[2017-10-15 08:55] #2861 closed

[2017-10-15 12:40] ajnyga commented on #2849
@asmecher, I was thinking something like this: https://github.com/pkp/pkp-lib/pull/2866

[2017-10-15 14:46] mtub commented on #2848
@asmecher, you've put the new strings in there, but right now they don't display data on when to notify users subscribing to the content. Is this intentional?

[2017-10-15 15:39] mtub opened #2868 "[OJS] Update sr_RS locales for OJS 3.1 release"
Issue tracking the updates to the sr_RS@cyrillic and  sr_RS@latin locales.

[2017-10-15 16:49] klausru commented on #1692
Dear all.
I would strongly like to second that. We definitely need DOIs for chapters including landing pages for chapters in order to stay within the DOI reglations of DataCite or CrossRef. It does not really make sense to assign DOIs to the files only (with URLs all leading to the same TOC of the book), especially as this is not conform to DataCite's regulations (and to CrossRef's as to my knowle

[2017-10-15 17:23] mtub opened #2869 "[OJS] Update da_DK locale for OJS 3.1 release"
Issue tracking the updates to the da_DK locale.

[2017-10-15 17:25] ajnyga commented on #2849
I am not particularly good in this, but maybe something like this:
[code]

[2017-10-15 18:08] Glottotopia commented on #1692
FTR, we now use Zenodo DOIs and duplicate our content there, as Zenodo offers both book landing pages and chapter landing pages. This is obviously a move away from OMP as a hosting platform. Our DOIs do not resolve to our OMP instance, but to Zenodo instead.

I have toyed around with a Jekyll version of the catalog, which does indeed have chapter landing pages. An example can be found here: http:/

[2017-10-15 20:31] ajnyga commented on #2849
This is not included in the pr above, but adding the permission level to the grid could make it more clear.
![show_permission_levels](https://user-images.githubusercontent.com/16347527/31588884-04fa2454-b201-11e7-91c0-a7dcfbea5e7b.png)

[2017-10-16 06:11] ajnyga opened #2870 "[OJS] Show links to galleys in TOC also during embargo"
Hi @asmecher, maybe you could consider this while you are working on the embargo features.

In OJS 3.0.2 issues with active embargo do not show links to galleys in the table of contents.
Maybe we could always show the links and use the lock icon if needed? Basically the same way as in the abstract page.

(In OJS3.0.2 I have arranged embargos for our journals by editing the details in the database)

[2017-10-16 07:43] bozana commented on #1718
Closing this one, because of this new GitHub Issue: https://github.com/pkp/pkp-lib/issues/2325

[2017-10-16 07:43] #1718 closed

[2017-10-16 07:43] bozana commented on #2325
s also this old issue: https://github.com/pkp/pkp-lib/issues/1718#issuecomment-239039096

[2017-10-16 09:32] bozana commented on #2859
@ctgraham, I think your comments in that other issue #2570 make sense. I could take a deeper look into that (and merge and port to 3.1) short after the coming release 3.1 -- I will be working on Crossref reference linking and thus also on exactly that.
The citation markup assistant and citation outputs are gone in 3.x i.e. the code is still there but not used, and as I understand not meant to be u

[2017-10-16 10:23] bozana commented on #2859
@asmecher, as far as I can see, we could remove also citationLookup and citationParser plugin, as well as metadata nlm30 plugin. What do you think? Or maybe to leave that for the next release -- for it not to be too short before the current release date -- and now to only remove minimum of citationOutput plugins?

[2017-10-16 10:39] NateWr commented on #1816
:+1:

[2017-10-16 10:49] bozana commented on #2859
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2871
ojs master: https://github.com/pkp/ojs/pull/1588

[2017-10-16 10:55] NateWr commented on #2178
@defstat The PRs looks great. I've tested them and they all work fine. Just the OJS PR has a merge conflict that needs fixing. Let me know once that's done and I'll merge. :+1:

[2017-10-16 10:56] bozana commented on #2859
I decided to remove only the minimum now, if you @asmecher agree. After the release 3.1 I will work on citations for Crossref reference linking and can then remove all the other Citation Markup Assistant plugins (citationLookup and citationParser plugin, as well as metadata nlm30 plugin) and leave and adapt only the minimum code needed to parse the pasted/entered citations by line and save them as

[2017-10-16 11:05] bozana commented on #2693
I think this can be closed, right? -- It was cherry-picked to ojs-dev-2_4 and OJS 3 is OK...

[2017-10-16 11:06] NateWr commented on #2163
I agree. Thanks for the overview. That makes sense. We'll live with the error codes as they are in 3.1 and flag it as an area for improvement.

I like it.  Have you made any commits yet or am I safe to continue pushing to the branches above?

[2017-10-16 12:00] bozana commented on #2556
Can this issue be closed?

[2017-10-16 13:31] #2556 closed

[2017-10-16 13:47] NateWr opened #2872 "Allow themes to override templates in plugins"
Plugin template files are loaded by passing an explicit file path, like `file:/var/www/html/ojs/plugins/paymethod/manual/templates/paymentForm.tpl`. This makes it harder to override them in themes.

Ideally, a theme should be able to overwrite a plugin template by adding a file to the template directory like `/templates/plugins/blocks/makeSubmission/templates/block.tpl`.

This will be useful for b

[2017-10-16 13:58] NateWr commented on #2163
We do provide the public URL for galleys. But we'll need a proper mechanism for files in the API. I just thought it'd be a post-3.1 thing.

[2017-10-16 15:02] defstat commented on #2178
@NateWr Rebased and pushed.

[2017-10-16 15:56] NateWr commented on #2178
Sorry, one last request: can you move this comment up above the other two item definitions?

https://github.com/pkp/ojs/pull/1581/files#diff-e93fc0829668490f4cb23536dd68f8afR20

[2017-10-16 16:07] defstat commented on #2178
@NateWr sorry, lost it on conflict resolve. Just changed it

[2017-10-16 16:21] asmecher commented on #2693
Yes, thanks!

[2017-10-16 16:21] #2693 closed

[2017-10-16 16:23] NateWr commented on #2178
All merged! I think... that... means we can close this issue! :tada:

[2017-10-16 16:23] #2178 closed

[2017-10-16 16:24] asmecher commented on #2859
Yes, that sounds fine to me. Agreed with the safer minimal removal this close to the 3.1 release.

[2017-10-16 17:34] NateWr commented on #2815
Deferring this pending further discussion about the pros and cons.

[2017-10-16 17:35] NateWr commented on #2557
@ajnyga Would you have an opportunity to test this week? If not, that's ok, but I may defer this issue to test at a later date since 3.1 is almost out the door.

[2017-10-16 18:58] bozana opened #2873 "Support for DataCite metadata schema 4"
In order to be able to include fundingReferences (s. https://github.com/ajnyga/funding/).
The only change that has to be considered is the required `resourceType` element i.e. `resourceTypeGeneral` attribute. And this is only to be considered for supplementary files because just them do not have it yet.
Use `<resourceType resourceTypeGeneral="Dataset"/>` for those supplementary galleys/files.
S. h

[2017-10-16 19:09] bozana commented on #2859
Merged without code review because nothing special...
Closing...

[2017-10-16 19:09] #2859 closed

[2017-10-16 19:11] bozana opened #2874 "remove citationLookup, citationParser and nlm30 metadata plugin"
The code was used in Citation Markup Assistant and via OAI for the NLM format in OJS 2.4.x and it is not used any more in OJS 3.x. Thus it should/can be removed.
S. also https://github.com/pkp/pkp-lib/issues/2859

[2017-10-16 19:14] bozana commented on #2873
PRs:
ojs master: https://github.com/pkp/ojs/pull/1590

[2017-10-16 19:22] ajnyga commented on #2557
Hi,

I am not sure if it is Safari 11 or what, but I can not reproduce the problem at the moment. I asked the editor to check two formerly problematic pdf-files on my test server and will let you know what she says. This is definitely an issue that is sensitive for certain browsers/versions.

[2017-10-16 21:01] #2873 closed

[2017-10-17 09:54] NateWr commented on #1816
PR:
https://github.com/pkp/ojs/pull/1591

Found a couple more issues:

- Admin/Journal Manager can download issue and article galleys, but `$hasAccess` is false in IssueHandler. Seems to be that `IssueAction::subscribedUser` is returning a different result there then it's returning when called in `ArticleHandler`.
- Made a manual payment. It is described as "awaiting payment", but when clicking ed

[2017-10-17 11:24] NateWr opened #2875 "Generate tests for OJSREST API"
We should introduce tests for the REST API in OJS. It looks like some tools exist for generating tests from a `swagger.yaml` file. This would be great if we can integreate it. It will allow us to design the documentation and tests first, and build the API to match the tests.

swagger-codegen seems to build tests for PHPUnit:
https://github.com/swagger-api/swagger-codegen/issues/2276

swagger-test

[2017-10-17 12:30] le-ti-ka commented on #2612
Hello!
May I ask, if the 20, Oct the actual data of OJS 3.1 release?
and if detailed filtration of submissions by status will make? We really need the submission to be shown in the system in more detail: submission (sent) - submission  (editor is assigned) - review (reviewer is assigned) - review (the first stage) - review (review was received (accepted /  revision request / resubmit for review /

[2017-10-17 12:59] NateWr commented on #2163
You're right. I couldn't reproduce this.

[2017-10-17 13:10] NateWr commented on #2163
PRs:
https://github.com/pkp/pkp-lib/pull/2876
https://github.com/pkp/ojs/pull/1592

(OMP on the way)

[2017-10-17 14:25] NateWr opened #2877 "buildpkg.sh missing vendor dir"
I'm getting the following error when trying to run OJS from the package built by running `ojs/tools/buildpkg.sh 3.1 master`.

[code]

II took a look and there's no `vendor` dir at `lib/pkp/lib/vendor`. It doesn't appear to be in the excluded dirs in `buildpkg.sh`.

[2017-10-17 14:30] kaschioudi commented on #2163
@NateWr I added this fix. Please cherry-pick and add it to your branch.
https://github.com/kaschioudi/pkp-lib/commit/92bddcb0614f480a12fb78a644b211137460568b
thanks.

[2017-10-17 14:41] NateWr commented on #2163
Cheers! I've got it in now.

[2017-10-17 16:03] kaschioudi opened #2878 "Uncaught exception during OJS install"
I'm getting the error below when trying to install from a package generated using the build script `tools/buildpkg.sh`

[code]

[2017-10-17 16:06] kaschioudi commented on #2878
as per @NateWr , the problem comes from this line: https://github.com/pkp/ojs/blob/master/tools/buildpkg.sh#L109

It seems that older css code is tied to `ui-library`. So unless we're pre-compiling CSS for the build as well,  we'll need to include `ui-library/src/styles` in the build.

[2017-10-17 16:48] mfelczak opened #2879 "Remove Lucene plugin from OJS3 release"
The Lucene plugin has not yet been ported to OJS3. Remove it from the list of included plugins as it creates confusion for JMs trying to use/enable it.

[2017-10-17 21:52] mrmorais opened #2880 "5 messages in locale/pt_BR/user.xml needs translation"
I'm working on this translation. The message keys are:
- user.apiKey
- user.apiKeyEnabled
- user.apiKey.generate
- user.apiKey.generateWarning
- user.apiKey.secretRequired

[2017-10-17 22:19] mrmorais commented on #2863
@asmecher I'd like to work on this issue

[2017-10-18 04:55] asmecher commented on #2879
@mfelczak, it's already excluded from builds and thus from the 3.1.0 release -- I'm guessing you're interested in seeing it removed from the stable branch (once one is created for 3.1.0) for the sake of git checkouts?

[2017-10-18 04:58] asmecher commented on #2612
@le-ti-ka, the current planned release date is Oct. 23, and it looks like we'll make that date. The status information is much richer than it was in previous releases. I'd suggest assessing 3.1 once it's released to see if it meets your needs.

[2017-10-18 06:42] ajnyga opened #2882 "[OJS] Update fi_FI locale for OJS 3.1 release"
Hi @mtub,

I will add all the locale update pr's to this issue.

OJS: https://github.com/pkp/ojs/pull/1594
PKP-LIB: https://github.com/pkp/pkp-lib/pull/2883

[2017-10-18 08:39] ajnyga commented on #2870
This is especially problematic if some of the articles are open and some have an embargo.

In these situations you can only find out which articles are open by opening each individual abstract page, which is far from ideal.

[2017-10-18 08:50] ajnyga commented on #2870
@asmecher never mind, @NateWr already got this: https://github.com/pkp/ojs/commit/89680ebc511b20da10de17d90dda76dd75a2541f#diff-1372848769fe6163c79d92b42979193f

closing...

[2017-10-18 08:50] #2870 closed

[2017-10-18 11:04] NateWr commented on #2878
@kaschioudi can you try these PRs?

https://github.com/pkp/pkp-lib/pull/2885
https://github.com/pkp/ojs/pull/1596
https://github.com/pkp/omp/pull/450

[2017-10-18 11:44] bozana commented on #2877
Maybe to add here some other comments about buildpkg.sh -- or shall I open a new issue?

This excluded plugin is not there any more i.e. it can be removed from the EXCLUDE:
plugins/generic/counter (this is now a report plugin and functioning)

And these are there and functioning, thus why to exclude them:
plugins/generic/driver
plugins/generic/openAIRE

Also, why is EXCLUDE excluded?

[2017-10-18 12:17] bozana commented on #2877
PR that considers the comments above:
ojs master: https://github.com/pkp/ojs/pull/1598

[2017-10-18 12:18] bozana commented on #2877
Why do we use composer.phar `update` for lib/pkp/? Maybe to also use the `install`?

[2017-10-18 13:26] NateWr commented on #2877
All of the assets there are compiled into `js/build.js` and `styles/build.css`. We don't do any run-time compilation.

[2017-10-18 13:34] NateWr commented on #2877
Oh, I just figured out why the error at the top happened for me. :)

[code]

I'll work on getting that sorted out.

[2017-10-18 13:47] mfelczak commented on #2879
Yep that would be great for us and other folks installing from git.

[2017-10-18 13:53] NateWr commented on #2877
Another interesting warning message:

[code]

[2017-10-18 14:00] NateWr commented on #2877
Switching to `composer install --no-dev` instead of `composer update --no-dev` fixed the issue with the vendor dir. However, I'm now getting a related error message:

[code]

Do we need to add composer to the `composer.json` file?

[2017-10-18 14:07] NateWr commented on #2877
Hmm, I seem to remember some code in the `composer.json` file related to autloading, that looked like this:

https://getcomposer.org/doc/01-basic-usage.md#autoloading

@kaschioudi I think you were doing that. Is there something we need to add to our `composer.json` file?

[2017-10-18 15:18] NateWr commented on #1333
This is obsolete as we use a new ListPanel for the catalog entries in OMP 3.1.

[2017-10-18 15:18] #1333 closed

[2017-10-18 15:36] NateWr commented on #2613
This has been merged for 3.1.

[2017-10-18 15:36] #2613 closed

[2017-10-18 15:53] NateWr opened #2887 "Add quick actions from submissions list"
It would be good to allow some common editorial activities to be completed directly from the submission list. These actions could be integrated with the context list, or placed below it.

![selection_006](https://user-images.githubusercontent.com/2306629/31728483-5a4cfdee-b424-11e7-9f7d-c3b92619e6a1.png)

Some high-value actions:
- ~~Assign editor to submissions without an editor.~~
- Assign any p

[2017-10-18 17:29] ajnyga opened #2888 "[OJS] Setting delayed open access for new issue randomly fails (settings file cache problem?)"
Hi @asmecher,

Yes, I know that the embargo settings are not available until 3.0.2. But basically you can use them by giving the correct settings in journal_settings table (publishingMode = 1; enableDelayedOpenAccess = 1 and delayedOpenAccessDuration = 12).

With these three settings set, we have been succesful in setting embargos for new issues. The related code is here: https://github.com/pkp/oj

[2017-10-18 21:42] asmecher commented on #2878
Hi all -- sorry to hop onto this so late, my morning was a wreck. It looks like this is under control now?

[2017-10-19 00:16] rcgillis opened #2890 "Allow editors to "back out" of the review, copyediting or production stages"
A client has requested the capacity to be able to go back to a previous stage in the editorial workflow, in cases where mistakes have been made and work still needs to be done in a preceding stage (e.g. sent to copyediting too early and work still needs to be done in the review stage).

Considerations to be taken into account:

- How does it effect the editorial history on a submission
- Effect on

[2017-10-19 00:20] asmecher commented on #2848
Those are holdovers from OJS 2.x, IIRC, and are implemented in `classes/tasks/SubscriptionExpiryReminder.inc.php`. I'm not sure I'll have time to dust this off and test it in time for the 3.1 release, but will try.

[2017-10-19 08:46] NateWr commented on #2890
A few more questions to gather requirements:

- Is the goal to completely shut down the stage that was opened too early? ie - Must no one be able to access it or perform actions on it?
- Is the goal to better track progress, so that the "correct" stage is shown in submission lists?
- Is there a point-of-no-return for a stage? Should a review stage with active reviews be allowed to "back out"?

Dep

[2017-10-19 08:56] NateWr commented on #2877
@bozana would you be able to cherry-pick the commits from these PRs into yours, so that we're working on the build errors in one PR:

https://github.com/pkp/pkp-lib/issues/2878#issuecomment-337554331

(And maybe also prepare an OMP PR with the fixes as well?)

[2017-10-19 09:27] NateWr commented on #2163
@kaschioudi I think I've worked out the test issues. Do you have time to code review the PRs in this comment? https://github.com/pkp/pkp-lib/issues/2163#issuecomment-337226135

[2017-10-19 12:08] bozana commented on #2877
@NateWr, I added your PR here as well and adapted the OMP buildpkg.sh as well.
I don't know what to do with those composer autoloads and excludes... thus, @asmecher you would maybe need to take a look -- maybe you can use the PRs above and build on top of them i.e. tell if we should merge them or...

[2017-10-19 13:09] NateWr commented on #2717
Related: https://github.com/pkp/pkp-lib/issues/1257

[2017-10-19 13:21] NateWr commented on #2508
Is this still an issue? I seem to be able to read a review and change the decision.

[2017-10-19 13:23] NateWr opened #2894 "Improve the reviewer selection list"
This issue aggregates a bunch of related issues around reviewer selection. The goal is to refactor the reviewer selection to use the new Vue.js components and the REST API in the process of improving reviewer selection.

- [x] Refactor selection grid to ListPanel or similar and use REST API.
- [x] Implement reviewer ratings and gossip field. https://github.com/pkp/pkp-lib/issues/372
- [x] Find a r

[2017-10-19 13:25] ajnyga commented on #2717
Also related to this and #1257 is the work I will start with open reviews.

The idea is to enable reviewers and authors communicate if open review is selected. This will include adding code related to reviewer discussions, so tackling these would make sense.

I will do a more detailed issue about the plans by tomorrow and add a link here.

[2017-10-19 13:58] kaschioudi commented on #2163
@NateWr Everything looks fine to me :thumbsup:

[2017-10-19 14:04] NateWr commented on #1503
I think we can now close this issue and any future API development can go into new issues. Congrats @kaschioudi this is a big one!

[2017-10-19 14:04] #1503 closed

[2017-10-19 14:15] ajnyga commented on #2882
Thanks @mtub, closing this.

[2017-10-19 14:15] #2882 closed

[2017-10-19 14:20] ajnyga commented on #2508
@NateWr we are lacking at least:
- ability to fill the review form for the reviewer (especially situations where the reviewer does not like to use systems like OJS but the editor wants to have the review saved the same way as other)
- ability to remove a review request if reviewer is not answering
- ability to change the status of an accepted review request, if the reviewer changes her mind. And v

[2017-10-19 17:13] NateWr commented on #2508
Are you looking for something different from the "Unassign Reviewer" option?

I think you mean if a reviewer has refused or accepted the request, you want the editor to be able to change that decision, correct? Maybe if the editor could just remove that assignment and make it again that could work, if it preserves the original decline in the editorial history.

[2017-10-19 17:17] bozana commented on #2184
I've just tested it and had no problems -- the user_group_settings were inserted for all installed languages -- the change/commit above actually does solve also the upgrade problem: https://github.com/pkp/pkp-lib/commit/dc9e6c11f1a3c735414775a5e053321dce0e7d9f#diff-6993579cf500b691f53345aa057a4b02
Can this issue then be closed?

[2017-10-19 17:25] asmecher commented on #2184
Let's say yes!

[2017-10-19 17:25] #2184 closed

[2017-10-19 17:56] ajnyga commented on #2508
Correct. But at the moment, if a review request gets declined, the editor can not remove the declined request. The "Unassign reviewer" is only visible before the reviewer has responded.

As above. One scenario could be that the reviewer first accepts the request, but then realizes that she can not deliver one and asks the editor to cancel. However, the editor really has no way of doing it and if t

[2017-10-19 18:38] bozana opened #2896 "references from the submission settings should be called citations"
in order to be correctly handled in the submission metadata form validator: https://github.com/pkp/pkp-lib/blob/master/classes/submission/PKPSubmissionMetadataFormImplementation.inc.php#L66-L73

[2017-10-19 18:50] bozana commented on #2896
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2897
ojs master: https://github.com/pkp/ojs/pull/1600

[2017-10-19 18:58] bozana commented on #2896
@NateWr, could you take a look at these PRs? Thanks!!!

[2017-10-19 20:27] crosfield opened #2899 "[OJS31] Error generating the path of Custom Page in Navigation Menu"
After creating a Custom Page with a path for example 'latex' on the site instead of 'http://%OJSPATH%/latex' OJS gives the path 'http://%OJSPATH%/navigationMenu/view/latex'. Since such the path (if the user isn't logged in) doesn't exist we have the error "The current user is not permitted to preview."

[2017-10-19 22:07] asmecher commented on #2899
@crosfield, what specific version of OJS are you using? Is this pre-release code on the `master` branch?

[2017-10-19 22:16] crosfield commented on #2899
@asmecher Yes, from `master` branch just now

[2017-10-19 22:19] asmecher commented on #2899
@defstat, could you take a look?

[2017-10-19 22:20] asmecher commented on #2879
Merging with https://github.com/pkp/pkp-lib/issues/2843.

[2017-10-19 22:20] #2879 closed

[2017-10-19 22:21] asmecher commented on #2843
This should be done for all plugins listed in the build tool's exclude list.

[2017-10-19 22:34] crosfield commented on #2899
<img width="797" alt="screen shot 2017-10-20 at 01 32 55" src="https://user-images.githubusercontent.com/8432203/31797400-c359b544-b536-11e7-8445-723bbca30e7b.png">
<img width="719" alt="screen shot 2017-10-20 at 01 31 49" src="https://user-images.githubusercontent.com/8432203/31797405-c6bff464-b536-11e7-86b5-bf67ffc6f3f5.png">

[2017-10-19 23:35] asmecher commented on #2877
@NateWr and @bozana, I've rebuilt the exclusions list in the build tool to just focus on unit tests: https://github.com/pkp/ojs/commit/a23fc1ac0b1a567a5ab8c70fdc3b8d4d083f220b
The build size is up to 26M from 25M with the new exclusion list, which is up considerably from OJS 3.0.2's 18M, but I think the risk of trying to squeeze this down at the last minute is too high to tackle it for 3.1.

The p

[2017-10-19 23:43] asmecher commented on #2877
Perhaps this is because there are still several references to `ui-library`:

- plugins/themes/default/DefaultThemePlugin.inc.php line 141
- plugins/themes/default/styles/index.less line 19
- lib/pkp/classes/template/PKPTemplateManager.inc.php line 178

[2017-10-20 03:13] asmecher commented on #2888
Hmm, it's hard to diagnose this after the fact and at a distance, but one common cause of trouble when working with database entries for `journal_settings` manually: if the setting is changed, but the file cache is not flushed, then you'll have a time bomb: the settings will behave per the cache, but as soon as *any* journal setting changes, or the cache file is manually deleted, the whole cache w

[2017-10-20 03:29] #1963 closed

[2017-10-20 04:11] ajnyga commented on #2888
Yes, I have had such problems with the cache, but I do not think it was the reason in this case.

- I changed those settings back in January and the journal has published twice successfully after that.
- I also checked the cache file right after this happened and the settings are correct there as well
- Also with the publishingmode setting, I just took back this change you made in last August so t

[2017-10-20 04:41] asmecher opened #2900 "Test upgrades"
In particular, test...
- [ ] OJS 3.0.2 -> 3.1
- [ ] OJS 2.4.8-x -> 3.1

[2017-10-20 04:42] asmecher commented on #2900
@bozana, do you have time to give this a quick smoke test in the morning?

[2017-10-20 10:36] bozana commented on #2900
Yesterday I did some tests, but will do some further today... Can I maybe also do it on the weekend?

[2017-10-20 11:03] NateWr commented on #2877
@asmecher Ah, woops! Here are some PRs which should resolve this so that you can continue to exclude `ui-library`.

https://github.com/pkp/pkp-lib/pull/2901
https://github.com/pkp/ojs/pull/1603
https://github.com/pkp/omp/pull/454

[2017-10-20 14:12] forgive38 commented on #2794
somebody else got same issue ?

[2017-10-20 14:22] asmecher commented on #2900
:P I'll be working too!

[2017-10-20 14:24] asmecher commented on #2877
Merged, thanks, @NateWr. @bozana, the remaining pieces of the above two PRs looked good to me; are you and Nate still working with them?

[2017-10-20 14:38] asmecher commented on #2794
No, I haven't encountered it -- assigning to OJS 3.1.1 for investigation, but we'll probably need some more information before we can replicate/diagnose this locally.

[2017-10-20 15:06] defstat commented on #2899
@asmecher PR: #2903

[2017-10-20 15:16] asmecher commented on #2899
Thanks, @crosfield and @defstat!

[2017-10-20 15:35] defstat commented on #2899
@asmecher I did change the path but didn't check the "The current user is not permitted to preview." issue.  I will check that now.

[2017-10-20 16:19] lilients opened #2906 "Improve Email Templates View"
Hi everybody,

we want to improve the handling of the email templates overview (at workflow settings - emails).

This is how it looks like now:

![email_templates](https://raw.githubusercontent.com/lilients/img/master/email_templates.PNG)

I was thinking it would be nice to use the new queryBuilder class, that is responsible for the fancy submission list:

![query_builder](https://raw.githubuserco

[2017-10-20 16:27] crosfield commented on #2899
Unfortunately, these changes do not help in solving the problem. The problem occurs when the user is logged out. Here are screenshots from the
<img width="802" alt="screen shot 2017-10-20 at 19 21 06" src="https://user-images.githubusercontent.com/8432203/31831582-af511736-b5cc-11e7-92a1-1232c9737eca.png">
<img width="796" alt="screen shot 2017-10-20 at 19 21 44" src="https://user-images.githubuse

[2017-10-20 16:29] ajnyga commented on #2906
Wonderful idea!

A suggestion:

I think I mentioned somewhere that it would be nice if the listing would somehow emphasize those email templates that the current journal settings are using.

For example if you have one-click-review enabled, the one-click templates would look different. Or rather vice versa: the templates not used in the settings would look inactive in some way.

What happens is th

[2017-10-20 17:48] willinsky opened #2907 "[OJS] Check/correct date formatting for Latest column in reviewer assignment"
Add Reviewer (OJS 3) does not appear to include year for Latest (review), which is helpful in establishing how long ago reviewer was active.

[2017-10-20 20:25] diegoabadan commented on #2900
Hi! Do you have a .tar.gz so I can help with tests here?

[2017-10-21 04:53] asmecher commented on #2907
@willinsky, I think there's something missing from the end of this. Also, do you intend to expose the names of the reviewers?

[2017-10-21 04:57] asmecher opened #2910 "Non-administrators can see the Administration link on the front-end toolbar"
In my case, using the test data set, dbarnes can see the Administration link.

[2017-10-21 05:24] willinsky commented on #2907
Yes, I left the "also..." and the "and" hanging, after I decided that a further idea I had (for being able to delete reviewers) was better set out as a feature request filed elsewhere. I deleted the screenshot if that is what you meant by exposing the reviewers' names, as I can see it is not needed to make my point. However, I would note that the reviewer's identities are not something kept confid

[2017-10-21 05:30] asmecher commented on #2907
OK! That was a hard-coded date format for some reason; I've changed it to use the formats supplied in the configuration file, which will be more consistent and configurable.

[2017-10-21 05:30] #2907 closed

[2017-10-21 06:39] mtub opened #2911 "[OJS] Update ru_RU locale for OJS 3.1 release"
Issue tracking the updates to the ru_RU locale.

[2017-10-21 06:47] mtub commented on #2880
pkp/pkp-lib#2604

[2017-10-21 06:48] mtub commented on #2880
Merged, thanks @mrmorais !

[2017-10-21 06:48] #2880 closed

[2017-10-21 08:11] defstat commented on #2910
@asmecher Currently two role groups have access to the Administration NavigationMenuItem under the user's username: ROLE_ID_MANAGER, ROLE_ID_SITE_ADMIN.

Are you referring to the same Menu?
![adminmenu](https://user-images.githubusercontent.com/560456/31849758-7e2fcae2-b650-11e7-956c-b4d6e6816c60.jpg)

[2017-10-21 15:06] mtub opened #2915 "[OJS] Update ca_ES locale for OJS 3.1 release"
Issue tracking the updates to the ca_ES locale.

[2017-10-21 15:37] mtub opened #2916 "[OJS] Update it_IT locale for OJS 3.1 release"
Issue tracking the updates to the it_IT locale.

[2017-10-21 15:57] #2916 closed

[2017-10-21 15:58] #2869 closed

[2017-10-21 15:58] #2864 closed

[2017-10-21 16:27] defstat commented on #2910
@asmecher @NateWr
There had some changes to be made regarding 3 NavigationMenuItemTypes:
Regarding this issue:
- `NMI_TYPE_ADMINISTRATION`: The Manager role was removed from the authorized role for that NMIType to be displayed.
Regarding other types
- `NMI_TYPE_USER_DASHBOARD`: It seems (lib/pkp/templates/header/usernav.tpl of previous version) that the Dashboard type needs some restrictions regar

[2017-10-21 17:12] mtub commented on #2915
Closing, everything merged. CC'ing @marcbria

[2017-10-21 17:12] #2915 closed

[2017-10-21 17:33] mtub commented on #2725
Closing  (CC: @marcbria)

[2017-10-21 17:33] #2725 closed

[2017-10-21 17:33] #2605 closed

[2017-10-21 17:34] #2868 closed

[2017-10-21 17:34] #2602 closed

[2017-10-22 19:05] defstat commented on #2180
@NateWr @asmecher I think that there could be a mechanism that would do something like the following:

- at the FormHandler.js constructor, we could add a TinyMCE tag (at its tag map) for each form input element with appropriate data-symbolic attribute
- at the FormHandler::changeEvent, we could look into both the tagMap data and the content of the TinyMCE for a data-symbolic for the element that

[2017-10-23 06:58] mtub commented on #2606
This is a rather difficult situation. We have three people contributing translations, and I cannot figure out which one is better. We need to come to a situation where the translators could collaborate and reach a compromise, with probably a glossary of common terms etc. We cannot figure this out before the release, but I will all of the translators to a discussion about the translations, tools an

[2017-10-23 06:58] #2606 closed

[2017-10-23 07:02] mtub commented on #2911
Closing for the release…

[2017-10-23 07:02] #2911 closed

[2017-10-23 07:04] mtub commented on #2670
Postponing the discussion about further updates to the uk_UA until after the release, this also is a difficult situation that probably needs a collaboration of several parties.

[2017-10-23 07:04] #2670 closed

[2017-10-23 07:04] mtub commented on #2604
Closing for the release…

[2017-10-23 07:04] #2604 closed

[2017-10-23 07:05] mtub commented on #2603
Postponing the discussion until after the release. Needs collaboration between several translators and a better workflow, but we cannot figure out more updates at the moment.

[2017-10-23 07:05] #2603 closed

[2017-10-23 07:10] mtub commented on #2585
Closing this, done with the translations. @asmecher, please review and merge https://github.com/pkp/orcidProfile/pull/25

[2017-10-23 07:10] #2585 closed

[2017-10-23 07:11] bozana commented on #2877
No, I they were so/finished...

[2017-10-23 07:20] ajnyga opened #2922 "[OJS] Uploading a new Galley file and selecting "Change file" corrupts the uploaded file"
OJS 3.0.2. This happens at least when using the quicksubmit plugin, most likely with other similar file uploads as well.

1. Add new article
2. Enter metadata
3. "Add galley"
4. Enter a galley label and save
5. Enter article component
6. Upload a new file
7. Click "Change file" and upload the same file again
8. The system asks you if this is a new file or revision, leave the default selection and

[2017-10-23 11:14] NateWr opened #2923 "Update to Vue.js 2.5.0"
2.5.0 was [recently released](https://github.com/vuejs/vue/releases/tag/v2.5.0). There are a couple of improvements that we should work into our code:

1. Use functional components for the "dumb" components which do not manage interactions.
2. Dynamic modelling is now supported for `type` attributes on `<input>` elements. This can be used in `SelectListPanelItem`.

[2017-10-23 11:18] bozana commented on #2506
I will open this issue, because I fixed the genres in the DB but not the file names in the files_dir...

[2017-10-23 11:22] NateWr commented on #2180
That sounds good. One hiccup you'll probably run into is when form data is changed but the tag data needs to be fetched from the server. For instance, I may select a user ID, but the TinyMCE needs to update the user's first name.

To get around this, I'd encourage you to build it with callbacks in mind. So in `FormHandler::changeEvent` you might be able to run an ajax request as necessary, and onl

[2017-10-23 13:05] NateWr opened #2924 "Updates to installation screen"
Has the minimum PHP version changed?

![selection_010](https://user-images.githubusercontent.com/2306629/31890464-23b0b714-b7fb-11e7-9114-d4410f35c171.png)

Should the default beacon identifier be changed?

![selection_011](https://user-images.githubusercontent.com/2306629/31890475-2c61b962-b7fb-11e7-93cc-bb5ecc0099c8.png)

[2017-10-23 13:16] NateWr commented on #2896
@bozana Looks great! I tested both with no problems. Go ahead and merge when you're ready.

[2017-10-23 13:40] #2896 closed

[2017-10-23 14:51] NateWr commented on #2612
@asmecher Last-minute PR with a fix on some bugs for the overdue filter:

https://github.com/pkp/pkp-lib/pull/2925

TESTS ONLY:
https://github.com/pkp/ojs/pull/1611

[2017-10-23 14:57] defstat commented on #2180
@NateWr I think that the tag data could be manipulated at client side. The problem I wanted to point out is actually what happens if the server couldn't have a "valid" response for a request. For example what if the reviewer email is displayed before the server knows about the reviewer object (because we are at the form for creating a reviewer). In that case the Ajax approach will not work.

[2017-10-23 15:18] asmecher commented on #2924
I've updated the required PHP version, thanks.

The `ojs2` identifier is a little trickier -- it's already filed at https://github.com/pkp/pkp-lib/issues/1839.

[2017-10-23 15:18] #2924 closed

[2017-10-23 15:20] asmecher commented on #2163
@NateWr and @kaschioudi, is this one ready to be closed now that the OMP warning fix has been merged?

[2017-10-23 15:24] NateWr commented on #2163
:boom:

[2017-10-23 15:24] #2163 closed

[2017-10-23 15:33] bozana commented on #2758
Hmmm... the genre ids are not considered here...

[2017-10-23 15:34] asmecher commented on #2910
@defstat, only `ROLE_ID_SITE_ADMIN` should see/have access to the Administrator link -- clicking it as `dbarnes` will give you an "access denied" message.

[2017-10-23 15:35] bozana commented on #2582
Hmmm... the genre ids are not considered here...

[2017-10-23 15:35] asmecher commented on #2910
Otherwise, @NateWr, can I leave you to review those PRs?

[2017-10-23 15:40] NateWr commented on #2180
@defstat I'd set it up so that I can pass an empty data object into the prepared email (in the client) and it shouldn't be destructive. Instead, it should show the placeholders when no data is available.

[2017-10-23 15:41] NateWr commented on #2910
@asmecher We're already on our way: https://github.com/pkp/pkp-lib/pull/2917 :)

[2017-10-23 15:58] bozana commented on #2582
Also the file (in the files_dir) is not moved...

[2017-10-23 16:07] asmecher commented on #2557
Moving off the 3.1 release for later consideration/work/testing.

[2017-10-23 16:08] asmecher commented on #2877
OK, closing this issue for now as I believe it's resolved.

[2017-10-23 16:08] #2877 closed

[2017-10-23 16:10] asmecher commented on #2878
@NateWr, I believe fixes for this have already been merged -- correct? Can this be closed?

[2017-10-23 16:11] NateWr commented on #2878
:+1:

[2017-10-23 16:11] #2878 closed

[2017-10-23 16:13] NateWr commented on #2697
Obsolete.

[2017-10-23 16:13] #2697 closed

[2017-10-23 16:16] asmecher commented on #1908
@jmacgreg, just a reminder that this is assigned to you for OJS 3.1 -- I think you already have a fix but need to open a PR, right? Let me know if I can help steward.

[2017-10-23 16:28] asmecher commented on #2899
The fix I just merged is likely all we'll have time to include in the OJS 3.1 release. I'm going to move this issue over to OJS 3.1.1 as it sounds like there's still some work to be done -- @crosfield and @defstat, can you summarize the remaining work for later?

[2017-10-23 16:29] asmecher commented on #2582
@bozana, I believe you're working on these last two issues at the moment?

[2017-10-23 16:48] ajnyga commented on #2557
Sorry I forgot about this.

So I installed the latest pdf.js plugin (1.8.188) to my test server and added a couple of the problematic pdf's. The editor went to check those and this is the outcome:

OS X + Safari 10.1.2 => Issue still occurs
Ipad iOS + Safari 10.3.3 => Issue still occurs
Ipad iOS + Safari 10.3.2 => Issue does not occur !!!

My earlier experience and also mentioned in the other thre

[2017-10-23 17:36] alexxxmendonca commented on #2906
That is indeed a great idea, Svantje!

I'm backing up @ajnyga's suggestion. That happens a lot with us as well.

My suggestion here would be: if possible, filter by workflow and/or task. Even if only general tasks (ie: Submission / Under Review / Editing).

[2017-10-23 18:02] bozana commented on #2582
PR: https://github.com/pkp/ojs/pull/1619

[2017-10-23 18:10] crosfield opened #2926 "[OJS31] Wrong behaviour of Edit User Window"
The behavior of the Edit User window has changed. Now (in the current branch right now) when you try to save any changes, the user is ALWAYS prompted for a password even when nothing has changed in the window.
<img width="788" alt="screen shot 2017-10-23 at 21 06 32" src="https://user-images.githubusercontent.com/8432203/31905360-9b7abec6-b836-11e7-815d-232cc6b522b8.png">

[2017-10-23 18:28] crosfield commented on #2899
It seems logical to me if the path on front-end of OJS site for the Navigation Menu Custom Page items will be at the same level as other items (non-custom). For example, in my case, instead of the path 'http://%OJSPATH%/navigationMenu/view/latex', there will be the path 'http://%OJSPATH%/latex'. And the path 'http://%OJSPATH%/navigationMenu/view/latex' will work only as a preview for the logged-in

[2017-10-23 19:08] #2582 closed

[2017-10-23 19:10] bozana commented on #2900
I've tested it, but haven't double checked everything, so I will close the issue and keep testing till the release....

[2017-10-23 19:10] #2900 closed

[2017-10-23 19:41] asmecher commented on #2899
Thanks, @crosfield! @defstat, if the preview button is something you think can be quickly fixed for 3.1 among your other priorities, then please have a look. If you're already too swamped, we can fix this post-3.1.

[2017-10-23 19:56] crosfield commented on #2899
@asmecher,  @defstat Thank you for your work! And I think rest of this issue is not urgent and probably can be transferred to 3.1.1

[2017-10-23 20:39] bozana commented on #2392
Hmmm... I think the functions are at the wrong place in the upgrade.xml...

[2017-10-23 21:35] #2392 closed

[2017-10-23 21:39] bozana opened #2930 "access denied on the announcements setting page"
after the upgrade from 2.4.8-2, accessing it as admin

[2017-10-23 21:53] bozana commented on #2930
This part of code is leading to that: https://github.com/pkp/pkp-lib/blob/master/controllers/grid/announcements/AnnouncementGridHandler.inc.php#L36-L50

[2017-10-23 21:59] bozana commented on #2930
@asmecher, I am not sure what is the right fix:
-- either to return true also if the setting is not there in the code from the link above
or
-- to check if the setting is there in the template and then not to load the url in div (s. https://github.com/pkp/pkp-lib/blob/master/templates/controllers/tab/settings/announcements/form/announcementSettingsForm.tpl#L45-L46)

[2017-10-23 22:20] stranack opened #2931 "Site Admin Email Receiving Mail for All Actions"
When running some papers through the submission process (OJS 3.0.2 - https://journals.lib.sfu.ca), the Site Admin was receiving an email notification for each action. The account is registered as a Journal Manager but not as an Editor, so should not be receiving workflow notifications.

[2017-10-23 22:23] bozana commented on #2930
Ah I think I know...

[2017-10-23 22:28] bozana commented on #2930
Hmmm... No, I do not know -- I thought I could add one more "false" parameter here: https://github.com/pkp/pkp-lib/blob/master/controllers/grid/announcements/ManageAnnouncementGridHandler.inc.php#L91, but... I realize that I do not understand what is the purpose of the checkbox "Enable Journal Managers to add journal announcements. " :-P

[2017-10-23 22:32] bozana commented on #2930
Hmmm... I think there is no sense to require that the checkbox is selected to display the announcements grid. So I will change it so that it is not required...

[2017-10-23 22:39] bozana commented on #2930
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2932
ojs master: https://github.com/pkp/ojs/pull/1626

[2017-10-23 22:40] bozana commented on #2930
@asmecher, could you take a look?

[2017-10-23 22:43] asmecher commented on #2930
Merged, thanks -- this makes sense.

[2017-10-23 22:43] #2930 closed

[2017-10-23 23:53] asmecher commented on #2926
This was revealed by https://github.com/pkp/pkp-lib/commit/27c03dbc9f915accf93c3852cc150972b569dacd and fixed by https://github.com/pkp/pkp-lib/commit/225deff085abb241b09205e7f01f79e4caec624b.

[2017-10-23 23:53] #2926 closed

[2017-10-24 00:07] asmecher commented on #2910
Resolved, I think!

[2017-10-24 00:07] #2910 closed

[2017-10-24 00:15] #1816 closed

[2017-10-24 00:49] asmecher commented on #2393
This is going out with OJS 3.1, so closing!

[2017-10-24 00:49] #2393 closed

[2017-10-24 01:06] asmecher commented on #2843
Done for Related Items and Lucene plugins. I've left the rest present, at least for now.

[2017-10-24 01:06] #2843 closed

[2017-10-24 01:25] asmecher commented on #1606
With apologies for leaving this so horribly long -- is it still relevant, @marchitelli?

[2017-10-24 01:52] asmecher opened #2933 "Introduce menu caching"
I reverted the late addition of menu caching as it was breaking the tests (apparently it inadvertently cached e.g. the user's logged-in vs. logged-out status, i.e. logging out would not cause the menus to list the menu accordingly).

This may be part of a bigger piece of work to replace the file-based caching, but that's not a foregone conclusion.

[2017-10-24 01:53] asmecher commented on #2933
The revert commits are listed above (once for `master` and once for `ojs-stable-3_1_0` -- the commits are identical).

[2017-10-24 03:58] asmecher commented on #2612
Oops -- re-opening as there are still items left.

[2017-10-24 08:27] martinpub opened #2934 "[OJS] DB upgrade script gives fatal error in upgrade from 3.0.2 to 3.1.0"
Hi!

I'm upgrading from OJS 3.0.2 to OJS 3.1.0, and when running the db upgrade script, I get the following fatal error:

[code]

It is preceded by repeated messages like the first two lines.

Thanks in advance for fixing or pointing me in the right direction.

[2017-10-24 10:38] forgive38 commented on #2794
There is another bug : with this file upload wizard, when in "1. Upload File" you choose a file or drag&drop one, you have the possibility to change the file.
But as the file is already upload and saved, even if you change the file, the first is in the database as the second one you uploaded.
This is true when you don't upload a revision of an existent file.

[2017-10-24 10:56] NateWr commented on #2102
I've been working on a select-all toggle for the new `SelectListPanel` components. This only selects all visible submissions. We probably want an "export all" button that does all of them, not just those in the `ListPanel`, but here's a start anyway.

PRs:
https://github.com/pkp/pkp-lib/pull/2936
https://github.com/pkp/ui-library/pull/4
https://github.com/pkp/ojs/pull/1628
https://github.com/pkp/o

[2017-10-24 13:56] forgive38 commented on #2794
this issue seems to be due to a lack of csrftoken when deletefile is called.

[2017-10-24 15:50] Vitaliy-1 commented on #2506
Hi @bozana and @asmecher
In my case a get an error upon test upgrading on my local machine that is possibly related to this issue:

[code]

[2017-10-24 16:09] asmecher commented on #2506
@bozana, would you mind taking a look?

[2017-10-24 16:25] asmecher commented on #2934
I think this is a duplicate of https://github.com/pkp/pkp-lib/issues/2506#issuecomment-339037699.

[2017-10-24 16:25] #2934 closed

[2017-10-24 16:49] Vitaliy-1 commented on #2506
If I understand right, GenreDao is a Class with database methods for `genres` table.
There is not any `STYLE` value for entry_key in any row of this table. So in this expression on line 2467 (Upgrade.inc.php):
`$styleGenre = $genreDao->getByKey('STYLE', $context->getId());`
$styleGenre is null. And eventionaly on line 2467:
`if ($submissionFile->getGenreId() != $styleGenre->getId()) {`

[2017-10-24 17:27] asmecher commented on #2689
See also https://forum.pkp.sfu.ca/t/questions-about-ojs-3-0-2/34166/22

[2017-10-24 19:17] asmecher commented on #2931
Notifications are addressed differently depending on the notification. What kinds of notifications was the admin getting? (I suspect this was already fixed in 3.1.0, but a few typical ones would help confirm.)

[2017-10-24 19:42] cristiaan3003 opened #2937 "tutorial"
Hello.

Tutorial create Web application with  PKP Web Application Library? hello world for this library b or similar?

Regards

[2017-10-24 19:48] asmecher commented on #2937
@cristiaan3003, I'm afraid not -- we don't intend this as a general-purpose library, but as a shared resource for the existing PKP applications. In the future, please ask general questions on our forum at http://forum.pkp.sfu.ca/; this is for specific bug entries.

[2017-10-24 19:48] #2937 closed

[2017-10-24 20:20] asmecher commented on #2794
PRs to add CSRF tokens:

- https://github.com/pkp/pkp-lib/pull/2939
- https://github.com/pkp/ojs/pull/1631

@NateWr, could you review these?

[2017-10-25 07:52] forgive38 commented on #2794
Thank you for this patch.
I think there is same issue when, in first tab "1. Upload File" you want to change a file already uploaded.

https://github.com/asmecher/pkp-lib/blob/630b9f113515f78f2c937f7b1cb580dea164eaed/js/controllers/wizard/fileUpload/FileUploadWizardHandler.js#L324

[2017-10-25 08:03] forgive38 commented on #2794
And what do you think about delete the uploaded file when you close the fileuploadWizard modal before the last step ?

[2017-10-25 09:32] martinpub commented on #2506
I can verify this update of Upgrade.inc.php solves the upgrade issues we were experiencing (#2934).

[2017-10-25 09:37] ianthe opened #2942 "[OJS] Infinite loop in upgrade from 2.4.8.2 to 3.1, failing to skip missing files"
When upgrading from 2.4.8.2 to 3.1.0.0, there was an infinite loop when attempting to skip a missing file:

Looking in the files directory the file is missing from the submission folders even though there is an entry for it in the database.

Unfortunately, it seems that the upgrade script is failing to skip the file and keeps trying to.

As a workaround, I created an empty file and placed it in th

[2017-10-25 09:51] martinpub commented on #904
I'm experiencing the same issue, but with OJS 3.1.0. There is nothing in the PHP error log ...

Happy for further advice on how to troubleshoot.

[2017-10-25 10:53] NateWr commented on #2794
:+1:

[2017-10-25 11:57] bozana commented on #2942
@ianthe, what comes after those warnings?

[2017-10-25 12:06] bozana commented on #2942
Oh I see... It's infinite...

[2017-10-25 12:07] ianthe commented on #2942
Exactly... it just goes on and on writing out the same error until I cancelled it.

[2017-10-25 12:15] Mariaros commented on #2890
To answer the questions above:

-  Yes, the goal is to shut it down, and that no one can access it.
-  Yes, it would be best if the “correct” stage showed in submission list, and that the wrong stage is deleted.
-  No, we would not like there to be an opening to back out, once the process of for example reviewing has started, that is the point of no return.
"Depending on the requirements, a "set c

[2017-10-25 12:16] bozana commented on #2506
@asmecher, should those default genres be deletable?

[2017-10-25 12:21] bozana commented on #2942
PRs:
ojs master: https://github.com/pkp/ojs/pull/1635
ojs ojs-stabe-3_0_1: https://github.com/pkp/ojs/pull/1636

[2017-10-25 12:32] NateWr commented on #2890
Can you describe this use-case in more detail? Neither of those actions ("Resubmit for Review" or "Request Revisions") moves the submission to the next stage, so I'm not sure how a "close stage" feature would help.

[2017-10-25 12:33] Vitaliy-1 commented on #2506
[code]
We haven't yet performed update on our production system. Should we somehow alter this table or updating with our modifications for Update,inc,php would be just fine?

[2017-10-25 12:42] bozana commented on #2506
Hmmm... I do not understand why your entry_keys are NULL :-O

[2017-10-25 12:44] Mariaros commented on #2890
yes, sorry. I see now that it is only when they actively choose "New Review round" that the submission moves to the next stage. The "close stage" feature would help to revert the action, where they have chosen "New review round" but they did not intend to do this. In order to fix the mistake, we currently have to move both reviewers and comments to round 2.

[2017-10-25 12:46] NateWr commented on #2890
@Mariaros Are the review rounds the only place that you're having trouble with this?

[2017-10-25 12:49] Mariaros commented on #2890
No, we have also experienced that editors press "send to copyediting" before the MS is ready. We would also appriciate a way to revert this action if possible. In general, we find it somewhat difficult to reverse actions in the platform.

[2017-10-25 12:50] NateWr commented on #2890
:+1: Thanks, that's helpful feedback!

[2017-10-25 13:17] Vitaliy-1 commented on #2506
My installation comes from OJS 3.0.
So, what do you recommend? :)
Leave the table as it is and perform an upgrade with the changes in the upgrade script?
Or somehow alter this table?
And I am afraid that our journal is not the only one experiencing this problem...

[2017-10-25 13:31] bozana commented on #2506
Hmmm.... yes... Apparently this could happen for other journals upgrading from OJS 3. However the correct situation is to have all those entry_keys in the DB table. If one deletes a default component/genre (Settings > Workflow > Components) the component/genre is not removed from the DB, the column enabled is just set to 0. Thus I believe that in your case it would be good to repair the table to c

[2017-10-25 13:36] defstat opened #2944 "NavigationMenus - NMI_TYPE_CONTACT not returned by getMenuItemTypes"
See also https://forum.pkp.sfu.ca/t/how-to-add-menu-items-to-primary-navigation-menu-ojs-3-1/34537/11

[2017-10-25 13:48] bozana commented on #2942
Everything merged, thus closeing

[2017-10-25 13:48] #2942 closed

[2017-10-25 14:09] bozana opened #2945 "restore defaults genres/components"
If a default component/genre is deleted, it is disabled i.e. the column enabled in the DB table genres is set to 0. When then the link "Restore defaults" is used, that component/genre is not re-enabled.

[2017-10-25 14:17] Vitaliy-1 commented on #2506
Name - Designation:
Article Text - 99Z
Image - ##
HTML Stylesheet - ##
Other - ##

[2017-10-25 14:19] bozana commented on #2506
Hmmm... @Vitaliy-1, what OJS version are you using?

[2017-10-25 14:23] bozana commented on #2506
So it looks like you do only have the default components/genres. Could you then try to fix those NULLs: the first would be SUBMISSION, and the last three IMAGE, STYLE, OTHER ? And for each journal, if you have several.

[2017-10-25 14:24] Vitaliy-1 commented on #2506
OJS 3.0.2 at the moment. OK. Will report results.

[2017-10-25 14:34] bozana commented on #2945
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2946
ojs master: https://github.com/pkp/ojs/pull/1638 (submodule update only)

[2017-10-25 14:36] defstat opened #2947 "NavigationMenus - Issue with NMI with no displayable children"
If a NMI has children which are not displayable, the navigationMenu.tpl still thinks it is a parent NMI and displays it accordingly.

[2017-10-25 14:44] defstat commented on #2944
@NateWr

PR:
pkp-lib: #2948

[2017-10-25 14:53] defstat opened #2949 "Locales in lib/pkp should not be referring "Journal" in texts"
The shared locales in lib/pkp should display a more general (Context maybe) text description for contextual references like "Journal" or "Press"

[2017-10-25 15:33] martinpub commented on #904
Update: this also happens when trying to save/close any upload dialog on [journal_root]/management/settings/website. Any ideas @asmecher?

[2017-10-25 15:48] ajnyga commented on #2949
I agree, but a word like "context" is hard to translate and difficult for people to understand. I remember that it took me while to understand what it means in the context (pun intended) of OJS.

[2017-10-25 16:02] defstat commented on #2947
@NateWr
PR:
pkp-lib: #2950

[2017-10-25 16:08] defstat commented on #2949
Maybe the "Context" related locales should be in the context level locale folder.
Or maybe the shared locales should avoid referring to "Journal" or "Press" all together.

[2017-10-25 16:12] ajnyga commented on #2949
One option would be to use a context variable which would then be replaced with "journal" or "press" depending on the context. But I do not know if PKP wants to go to that direction.

[2017-10-25 17:23] bozana commented on #2102
@NateWr, for some reason now I do not see any article listed in my submission lists, also not in the export. Do I maybe miss something? :-\

[2017-10-25 18:02] mtub commented on #2949
Hi @defstat , do you have a few examples? You are right, everything that's addressing journals or books/presses in particular should be moved to the corresponding application. But I guess that a few mentions of journal or press in pkp-lib could be rephrased in a more agnostic way.

[2017-10-25 18:33] asmecher commented on #904
@martinpub, something should definitely be appearing in the PHP error log for this; are you sure you're checking the right log?

[2017-10-25 18:34] defstat commented on #2933
@asmecher
PR:
pkp-lib: #2951

[2017-10-25 18:48] asmecher commented on #2794
Forward-ported https://github.com/pkp/pkp-lib/pull/2939 to `master`. (The OJS pull is just a submodule update and JS minification update.)

[2017-10-25 18:58] defstat opened #2952 "NavigationMenus - NavigationMenu edit - unbind NavigationMenu from area"
The user has no way to unbind a NM from the given Area.
A "none" option at NavigationMenu Form area dropdown control could be added in order for the user to be able to un-bind the edited NavigationMenu from the previously given area.
Moreover, if the user chooses to assign an area that is already assigned to a NM, the NM that previously had the area could be assigned the "none" area automatically.

[2017-10-25 19:11] nerijus commented on #2535
-- to remove it from here: https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/classes/manager/form/setup/JournalSetupStep1Form.inc.php#L31

I am not sure I need to remove mailingAddress from here, as contactMailingAddress is translated, and it is present here.

[2017-10-25 19:28] nerijus commented on #2535
Now my diff is this:
[code]
But the info entered in any language in 1.1 General Information->Mailing Address is not saved. What else is missing?

[2017-10-25 19:39] Vitaliy-1 commented on #2506
Thanks! Update of a production system was performed successfully without any problems.

[2017-10-25 20:09] defstat commented on #2952
@NateWr
I made some changes for that: I added a "none" dropdown option to the area control of the NavigationMenuForm. If the user tries to change the area of the last navigation menu that is bound to that area, the update validation fails. (defstat@5954515e1752b82a325ec7bc5a350ce1c369caa3)

[2017-10-25 22:56] asmecher opened #2954 "Merge Users next() on non-object"
See https://github.com/pkp/ojs/pull/1634.

[2017-10-25 22:58] asmecher commented on #2954
Merged and cherry-picked to `ojs-stable-3_1_0`.

[2017-10-25 22:58] #2954 closed

[2017-10-25 23:34] stranack opened #2955 "Reference to chapters when editing component in OJS 3.1"
When editing a component, one of the options is " Allow files of this type to be sorted by chapter". We should remove this from OJS 3.x.

[2017-10-25 23:50] asmecher opened #2956 "Plugins already installed in database but not filesystem cannot be re-installed"
When a plugin already exists in the database, but not in the filesystem, then the Plugin Gallery cannot be used to re-install it and it cannot be uploaded via the plugin upload form.

Change the plugin version checking so that this is considered an upgrade.

This case will be frequently encountered in the case of OJS upgrades, where the new codebase will lack plugins that were previously installed

[2017-10-25 23:54] asmecher commented on #2956
PRs:
- https://github.com/pkp/ojs/pull/1640 (tests only)
- https://github.com/pkp/pkp-lib/pull/2957

[2017-10-25 23:54] asmecher commented on #2956
@bozana, would you mind reviewing this?

[2017-10-26 00:12] asmecher commented on #1513
Closing (needs feedback).

[2017-10-26 00:12] #1513 closed

[2017-10-26 00:16] asmecher opened #2958 "Improve author/user names"
- [ ] Support multilingual names (important for users that work in e.g. both Cyrillic and Latin character sets)
- [ ] Consider whether to remove the Western-centric First, Middle, Last name divisions

[2017-10-26 00:17] asmecher commented on #2958
@jmacgreg and @ctgraham, IIRC both of you worked a couple of sprints ago on a document that surveyed the third-party standards we support to see whether metadata mismatches would be imposed by e.g. having multilingual names, or not having first/middle/last. Does either of you have that handy?

[2017-10-26 00:40] crosfield commented on #2958
I think the second problem is easily solved. In Russia and some other Eastern European countries instead of the Middle Name is a Patronymic Name (father's name). It is always specified in the articles, for example, in Russian journals. The First Name is always the proper Name, and Last Name - Surname (family name).

[2017-10-26 00:51] asmecher commented on #2958
@crosfield, the second issue isn't really a problem in Western/Eurocentric cultures; it's definitely a problem elsewhere. See https://www.w3.org/International/questions/qa-personal-names, which recommends just going with a single field. However, as with multilingual names, the problem will be finding a model that plays well with all the various metadata standards we need to provide data to.

[2017-10-26 08:17] NateWr opened #2960 "Problems with Add Item action in Sidebar control"
Under Settings > Website > Appearance. h/t @stranack

![capture](https://user-images.githubusercontent.com/2306629/32042144-7b7ad6fc-ba2e-11e7-945e-db97b55ecab5.PNG)

[2017-10-26 08:32] NateWr commented on #2102
Phew!

[2017-10-26 09:11] martinpub commented on #904
@asmecher, I managed to identify the error through Firebug, and it was a permissions issue, apparently the web server didn't have writing permissions to public/.

[2017-10-26 09:15] #2506 closed

[2017-10-26 10:18] Ph-We commented on #2958
Hi @asmecher, thank you again for addressing this issue, that is quite important for many of us!

As to Russian (and I believe, any Slavic) names, we are mostly happy with the ‘simplified’ one-field approach introduced in most bibliographic applications, like EndNote, Zotero, etc.
This approach allows (not requires) to split any name into 2 parts: 1) last name; 2) any other names. Usually the comm

[2017-10-26 10:54] NateWr commented on #2102
OK, I've updated the PRs with the comment from your review.

[2017-10-26 11:06] bozana commented on #2102
Great @NateWr! You can then merge when ready!

[2017-10-26 11:06] NateWr commented on #2952
@defstat Hmm, I think it should be allowed to have an area with no navigation menus assigned. Someone may choose not to have a menu in a certain area.

Instead, I'd like to see it so that someone can't assign multiple menus to a single area. Can you adjust the validation to check for if a different menu is already assigned?

(The None dropdown looks good.)

[2017-10-26 11:50] bozana commented on #2956
Merged, thanks @asmecher!
But I have another question: it seems that the version check is not enough: for example the plugin version hasn't changed for OJS 3.1 (in the plugin package for OJS 3.1) but there were some new addition/commits (since the last plugin release), so those changes will not be installed (because plugin gallery only checks the version numbers). What would be then the best way t

[2017-10-26 12:16] ctgraham commented on #2958
A brief summary of the sprint outcomes is:

    Discriminate name localization based on script changes
        that is, when installed locales diverge in script types (latin, cyrillic, arabic, etc.), then and only then, multilingual name entry is enabled.
    Clarify "first" and "last" names as "given" and "surnames". Require only "given" name.
        This means that an institution or an organiza

[2017-10-26 12:20] ctgraham commented on #2958
The sprint document has a substantial focus on handling mononyms:
https://docs.google.com/document/d/17oAPcCTL3tc7MhlcHpyVekv6_AxTHDc6BirHD3lVtJA/edit

[2017-10-26 12:53] Vitaliy-1 opened #2961 "Citation Style Language plugin DOI prefix"
For now, when using this plugin DOI prefix looks like this in citations (OJS 3.1):
`https://doi.org/https://doi.org/...`

[2017-10-26 13:07] bozana commented on #2961
It seems to be the problem only with APA and Chicago...

[2017-10-26 13:51] NateWr commented on #2102
All merged! I'll leave this open for some of the other parts of the feature request.

[2017-10-26 14:04] defstat commented on #2952
@NateWr I will adjust the validation. Do you think that the user could remove all the NMs from all the areas?

[2017-10-26 14:04] bozana commented on #2102
Some time the other export plugins will have to be migrated to vue.js. Shall this feature request for those plugins wait till it is done or shall I implement something right now?

[2017-10-26 14:09] NateWr commented on #2102
I'd say go for it if you're already working on them!

[2017-10-26 14:15] NateWr commented on #2952
Yeah, I think so. It seems like an edge case but I think we should allow it. One case I can think of is a theme that registers lots of possible menu areas, but a site may only want to use some of them.

[2017-10-26 14:29] asmecher commented on #904
OK, glad to hear it's resolved!

[2017-10-26 14:29] asmecher commented on #904
(I suspect you have PHP error messages configured to go to the browser rather than the log -- I'd suggest sending messages to the log only. Check your php.ini.)

[2017-10-26 15:25] eniocarboni commented on #1793
Why is this patch not made in version 3 of Ojs and even better in 3.1.0?
While I was upgrading from version 3.0.2 to 3.1.0 I had this error and solved only by putting the @mittinatten patch.
Database: PostgreSQL 9.3
Error: ERROR: Upgrade failed: DB: ERROR: type "serial" does not exist

[2017-10-26 15:29] asmecher commented on #1793
@eniocarboni, the patch is to third-party code (ADODB) and we try as hard as we can not to maintain local forks. Longer term, we're looking at assessing replacements for that library (https://github.com/pkp/pkp-lib/issues/2493).

[2017-10-26 15:42] eniocarboni commented on #1793
It would be useful to put a note on this issue in the README file or in docs/UPGRADE for those who use PostgreSQL

[2017-10-26 15:57] NateWr commented on #2714
@asmecher I've worked up browsing by section into it's own plugin, [browseBySection](https://github.com/NateWr/browseBySection) and put together [a PR with a few minor adjustments to OJS](https://github.com/pkp/ojs/pull/1641) to accomodate the plugin.

I'm not sure if a plugin is the best route for this. But I thought having some code would kickstart the conversation on how we want to do this. It

[2017-10-26 16:00] NateWr commented on #2714
Oh, I forgot to mention that one thing we'll need to address with this route is theme template overrides for plugins. Are you happy for me to work on this?

I'm thinking just an extra path to check for loading templates from the active theme dir, so `/plugins/themes/templates/plugins/generic/browseByPath/` would map to `/plugins/generic/browseByPath/templates`. Does that sound good?

[2017-10-26 16:01] asmecher commented on #1793
@eniocarboni, I've added this: https://github.com/pkp/ojs/commit/6da9200d7806471adea02a34b53d4d389a4964ad

[2017-10-26 16:19] asmecher commented on #2956
I don't believe any of those plugins have substantial changes -- just things like copyright dates, constructor syntax, etc. But yes, we'll need to make sure we're incrementing version numbers, and I'm also considering better ways to handle versioning (e.g. maybe we should have plugins adopt version number per the corresponding OJS/OMP releases).

[2017-10-26 16:22] asmecher commented on #2956
Merged and forward-ported to `master`!

[2017-10-26 16:22] #2956 closed

[2017-10-26 16:32] asmecher opened #2962 "Fix membership options"
See https://forum.pkp.sfu.ca/t/ojs-3-1-create-new-subscription-type-please-use-the-checkbox-provided-error/34552 for details.

Also double-check the "membership" field on the individual subscription purchase form.

[2017-10-26 16:52] defstat commented on #2952
@NateWr
PR:
PKP-LIB: #2963

[2017-10-26 16:58] defstat commented on #2949
Hi @mtub! I filed this report mainly because of some NavigationMenu Locales, like lets say `manager.navigationMenus.about.conditionalWarning`. I am about to create a PR with them transferred to each of the context level locales with the appropriate rephrasing.

[2017-10-26 18:13] asmecher commented on #2714
I think generic plugins (etc.) should also be able to override built-in templates, but worry about the overhead of indiscriminately adding all plugin template paths. What about requiring plugins that want this behavior to call something in the `register` function to indicate that they should be added to the list?

[2017-10-26 18:14] NateWr commented on #2714
I was thinking that we'd only add the paths of the active theme and any of that theme's parent themes.

[2017-10-26 18:15] NateWr commented on #2714
Oh, sorry, I see there's been some confusion. I mean the ability for a theme to override a plugin's template. I'm not suggesting all plugins can overwrite templates.

[2017-10-26 18:21] asmecher commented on #2714
Yes, I'm just wondering whether that functionality might be useful to other plugin categories (particularly `generic`). Maybe that would mean moving `ThemePlugin::_registerTemplates` up to a parent class, but only using it within `ThemePlugin` -- that would allow other plugins to call to it if they wanted?

[2017-10-26 18:36] asmecher commented on #2958
@NateWr, would a switch in name fields "first (required)/middle (optional)/last (required)" to "given (required)/family (optional)" have nasty impacts on the CiteProc stuff?

[2017-10-26 19:12] stranack opened #2964 "APC usability issues"
Currently APC configuration information exists under Subscriptions > Payment Types. From a user perspective, it doesn't make sense to place it under Subscriptions. We should consider moving this information somewhere else in a future version.

Perhaps creating a new left sidebar entry for "Payments" and put all things payment related there - including the current info under Settings > Distribution

[2017-10-26 19:23] asmecher commented on #2964
Agreed, I wanted to improve this before 3.1 but didn't have time.

[2017-10-26 20:41] ajnyga opened #2965 "[OJS] Adding section editors to a section and returning to add more editors later breaks the section form"
Hi,

One of our journals wants to discuss all incoming papers with the whole editorial board. I have instructed them to add themselves as section editors to the sections where such discussions are needed.

However, OJS3 seems to have a hard coded limit of 7 section editors per section. After adding 7 section editors to a section, the add item link does not work anymore.

Is there a reason for this

[2017-10-26 20:42] asmecher commented on #2964
@stranack, here's what I did for the settings rearrangement:

- Moved the main enable/disable toggle into the Payments form in Distribution settings
- Renamed the "Subscriptions" sidebar setting to "Payments", and made its visibility dependent on the aforementioned toggle

This way the sidebar doesn't get cluttered with payment concerns unless the journal enables payments via the more compact sett

[2017-10-26 20:44] asmecher commented on #2965
I don't think there's anything hard coded, but I could be wrong -- were you able to track down the limit in the code?

[2017-10-26 21:08] ajnyga commented on #2965
Ok, so something else is preventing adding more section editors to two sections. In another section I was able to add all sections editors (9).

Also, if I remove one of the section editors in the problematic sections, I can not add her back anymore. Very weird.

[2017-10-26 21:13] ajnyga commented on #2965
So basically:
If I edit a section and remove on of the editors, I can then add all remaining editors to that section except for the one I just removed.
But, if I remove one editor and then hit save and return to edit, the Add item button does not work.

[2017-10-26 21:22] ajnyga commented on #2965
It is a bug @asmecher, also in OJS 3.1

Try the following:
- Create three section editor users
- Go to edit a section and add two of those editors to that section, hit save
- Return to edit the section and now try to add the third one: at least for me it will not work

[2017-10-26 22:08] dtwardy opened #2967 "[OJS] OJS 3.1 missing link from Site Administration to Journal Administration"
In OJS 3.0 admins had access to site and journal administration at the same time. The drop down menu for selecting which journal you were working was only needed when there was more than one journal. Now in OJS 3.1 there's no connection anymore and no option to switch from site administration to journal administration. The drop down is fixed to "Open Journal Systems" and not offering anything when

[2017-10-26 22:23] dtwardy opened #2968 "[OJS] OJS 3.1 fails to load user administration tools/table"
I tried several setups but OJS 3.1 is reliably failing to show user administration tools. I can open user groups but not users. The module is simply not loading. I checked to rule out any misconfiguration on my server setups (I tried several) and OJS 3.0.2 works without issues.

Browser consoles logged the following errors, that might be related:

contexts:11 GET http://localhost:8888/ojs31/js/bui

[2017-10-27 05:37] SunilLsagar opened #2969 "[OJS]"
Warning: require(./lib/pkp/includes/bootstrap.inc.php): failed to open stream error is coming how to fix it please help me

[2017-10-27 07:13] bozana commented on #2956
@asmecher. yes. last night I was thinking that other way around is also problematic -- now the already installed plugins will not get the last changes, but then, if the version changes and update is available, the users having the earlier OJS/OMP (e.g. OJS 3.0.2) version could update to the latest plugin version (for OJS 3.1) that might not be suitable.

[2017-10-27 07:14] #2945 closed

[2017-10-27 07:30] bozana commented on #2968
How did you install OJS 3.1? -- It feels like something is missing for you... -- I have no such problems...

[2017-10-27 07:31] bozana commented on #2967
How did you install OJS 3.1? -- It feels like something is missing for you... -- I have no such problems... -- I have the drop-down and journals listed...

[2017-10-27 07:37] dtwardy commented on #2967
I cloned the repository, checked out latest stable branch, submodule update and then ran composer in pkp/lib and in the new two plugin folders for payment s and citations. I've tried it several times on different machines. The drop down only actually "drops down" when there's more than one journal. It worked for me just like that in 3.0.2. I even installed a new 3.0.2 version to verify.

[2017-10-27 07:39] bozana commented on #2967
I am not sure if this might be the problem, but have you also install or update dependencies via NPM? -- It is now needed with using OJS 3.1 with git, s. also README:
# install [nodejs](https://nodejs.org/en/) if you don't already have it
npm install
npm run build

[2017-10-27 07:41] bozana commented on #2967
Oh, I see... you are right...

[2017-10-27 07:41] dtwardy commented on #2968
Code from github, checked out ojs-stable-3_0_0 branch, updated submodules, ran composer on the three specified folders just as the instructions noted. The issue was present on a local MAMP stack as well as on a Debian VM with a full Apache service that never had any issues with 3.0.0, 3.0.1 or 3.0.2.

[2017-10-27 07:45] bozana commented on #2967
Was there the navigation link "Administration" for the admin user in OJS 3.0.2?

[2017-10-27 07:45] dtwardy commented on #2968
I see. Composer AND mom are required. I'll check again later.

[2017-10-27 07:49] dtwardy commented on #2967
Yes. Before there were all options including Administration, now there's only Administration available on the left and no connection to the journal in case there's only one.

[2017-10-27 07:50] bozana commented on #2967
I mean in the top right navigation menu when being on the journal web page?

[2017-10-27 07:52] dtwardy commented on #2967
Yes. I check again later and can add screenshots.

[2017-10-27 09:01] NateWr commented on #2714
Ah! Good thinking.

So, I have one slight concern about that. With a theme, we always have a hierarchy so we know which template receives priority -- active theme -> parent theme -> app -> pkp-lib.

If we let any plugin override templates, we may encounter situations where we can't determine priority. For instance, maybe two author ID plugins both want to override a template to display their ID wi

[2017-10-27 09:07] NateWr commented on #2958
Nope. That's the breakdown they expect:

https://github.com/pkp/citationStyleLanguage/blob/master/CitationStyleLanguagePlugin.inc.php#L335-L344

[2017-10-27 09:31] martinpub commented on #904
Thanks @asmecher! (In php.ini, I have "error_log = /tmp/php_errors.log", however I see now that I have "html_errors = On" too, are they conflicting? log_errors is "On".)

[2017-10-27 11:35] NateWr commented on #2872
@asmecher Bringing out conversation from https://github.com/pkp/pkp-lib/issues/2714#issuecomment-339714421 over here, I've drawn up a quick Pull Request with one strategy for themes overriding templates in plugins.

https://github.com/pkp/pkp-lib/pull/2970

I looked into using the `template_dir` for this, but couldn't seem to figure out a way to make it happen given our current plugin loading appr

[2017-10-27 11:52] withanage commented on #2818
We have  two issues to clarify before we go ahead with the implementation.

- [ ]    **Administration-Scenario for  ORCID  _CleintIds_ and the _ClientSecrets_**
Journal manager  may see the ORCID _CleintId_ and the _ClientSecret_ in a general OJS set up,.
But in a large multi-journal installation, you may need to use the same _ClientId_ and _ClientSecret_ for a set of journals and hide it to the j

[2017-10-27 12:08] dtwardy commented on #2968
Ok, my bad. It wasn't clear to me that composer and npm were both required. After installing those dependencies it is working now and the user administration panel is being displayed.

May I suggest though to make it clearer that both package managers are mandatory? Could be only me who misunderstood those instructions but I wouldn't be surprised if I wasn't.

[2017-10-27 12:08] #2968 closed

[2017-10-27 12:17] dtwardy commented on #2967
I checked and can confirm that on the same server a fres OJS 3.0.2 installation shows the "Administration" link as well. Despite the triangle arrow there's not difference between 3.1.0 and 3.0.2. See attached screens.

Top right navigation (see URLs for differentiation):
![ojs3_user-drop_down](https://user-images.githubusercontent.com/13963250/32103562-3c0f2628-bb21-11e7-83ce-ed4530569acb.png)
![o

[2017-10-27 13:46] NateWr commented on #2960
PR:
https://github.com/pkp/pkp-lib/pull/2971

Tests:
https://github.com/pkp/ojs/pull/1643

[2017-10-27 13:59] NateWr commented on #2863
If I understand what's happening, this should fix it:

[code]

However, I'm not sure how to reproduce the issue. If anyone can tell me how to create the original problem, I can test this solution.

[2017-10-27 14:00] bozana commented on #2967
Thanks a lot @dtwardy! I'll take a look...

[2017-10-27 14:00] NateWr commented on #2860
I'm going to pre-emptively defer this to 3.2 since it requires a new API endpoint. Ok?

[2017-10-27 14:04] NateWr commented on #2794
Can this be closed?

[2017-10-27 14:08] NateWr commented on #1740
@CFanselow did you ever get a chance to test the fix in the comment above?

[2017-10-27 14:57] asmecher commented on #2969
@SunilLsagar, I suspect you are working with OJS from git. There are instructions [here](https://pkp.sfu.ca/wiki/index.php?title=Github_Documentation_for_PKP_Contributors) for how to do that. Next time, please post questions on our [support forum](http://forum.pkp.sfu.ca/).

[2017-10-27 14:57] #2969 closed

[2017-10-27 15:01] asmecher commented on #2860
Yup, go ahead!

[2017-10-27 15:02] asmecher commented on #2794
No, I still have a couple other cases to review.

[2017-10-27 15:40] asmecher commented on #2863
@NateWr, I've asked the original reporter to test this change.

[2017-10-27 15:44] mfelczak opened #2972 "Untranslated locale keys in Roles select menu"
Using a new OJS 3.1 instance installed via git.

![roles](https://user-images.githubusercontent.com/200793/32112752-17509854-bb0c-11e7-9ae1-628ea2f6c57a.png)

[2017-10-27 16:45] asmecher commented on #2972
From `ojs-stable-3_1_0` or `master`?

[2017-10-27 16:47] bozana commented on #2967
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2973

[2017-10-27 16:47] bozana commented on #2967
@NateWr, could you take a look at this PR?

[2017-10-27 17:05] mfelczak commented on #2972
ojs-stable_3_1_0

[2017-10-27 17:07] mfelczak commented on #2972
for both the ojs and pkp-lib repos

[2017-10-27 20:21] asmecher commented on #2972
@defstat, any ideas?

[2017-10-27 22:12] asmecher commented on #2794
^ The above commits (https://github.com/pkp/pkp-lib/commit/a157ffd9614cc6bedee42bc993d8a578d964164d for `lib/pkp` and https://github.com/pkp/ojs/commit/21321fd27f6ccfacb1fb992bf025793246cc99e8 to update the minified JS in the base directory) correct the file replacement case mentioned in https://github.com/pkp/pkp-lib/issues/2794#issuecomment-339245617 for `ojs-stable-3_1_0`. Also forward-ported t

[2017-10-27 22:23] asmecher opened #2974 "Wizards in modals are not cancelled upon modal close"
First reported in https://github.com/pkp/pkp-lib/issues/2794#issuecomment-339248509.

The ModalHandler has provisions for checking in with embedded Forms, but not Wizards.

[2017-10-27 22:25] asmecher commented on #2794
The final case pointed out in this issue (https://github.com/pkp/pkp-lib/issues/2794#issuecomment-339248509) is not as quick to fix.

Filed separately: https://github.com/pkp/pkp-lib/issues/2974

Otherwise, all committed to `master` and `ojs-stable-3_1_0`.

[2017-10-27 22:25] #2794 closed

[2017-10-27 22:42] asmecher commented on #2818
On the first issue:

In cases like this, here's an approach we've used before:

The system administrator can optionally define settings in the `config.inc.php` file. When these are present, they take precedence over the Journal Manager's UI-based settings, and those controls are replaced with a note that the admin has taken care of it.

On the second issue:

If you mean batch-claiming old submissi

[2017-10-27 22:47] asmecher commented on #904
Typically `display_errors` should be `Off`,
`error_reporting` would be `E_ALL & ~E_DEPRECATED & ~E_STRICT` or similar,
`html_errors` would be `On`,
`log_errors` would be `On`, and
`error_log` would be a filename or `syslog`.

If you were seeing PHP errors through firebug, then `display_errors` was probably set to On; OTOH your errors should have been getting logged in `/tmp/php_errors.log`, but it

[2017-10-27 22:58] asmecher commented on #2872
Have you looked at Smarty resources? That's how we currently implement [both app and pkp-lib resources](https://github.com/pkp/pkp-lib/blob/ojs-3_1_0-0/classes/template/PKPTemplateManager.inc.php#L334..L349) (using [PKPTemplateResource](https://github.com/pkp/pkp-lib/blob/ojs-3_1_0-0/classes/template/PKPTemplateResource.inc.php).

I'm thinking we could move plugin templates into the same structure

[2017-10-27 23:26] asmecher commented on #2972
Committed to both `ojs-stable-3_1_0` and `master`. For OJS 3.1.0, apply https://github.com/pkp/pkp-lib/commit/92bba5fdec1d056634c986e21338c9b6091f896c in `lib/pkp` and https://github.com/pkp/ojs/commit/6fe1663de8eb21a59821f9bce79c66be01c6c473 in the base directory.

[2017-10-27 23:26] #2972 closed

[2017-10-27 23:52] asmecher commented on #2965
@NateWr, this might be a good opportunity to start removing listbuilders (top of the list of creaky/painful pieces of our old JS framework IMO).

We just need a list with checkboxes, and I don't think we'll have so many entries in this case that we won't be able to feed them all to the browser. Is there a particular kind of control you'd advocate for?

If you do think consistency across user lists

[2017-10-28 06:20] ajnyga commented on #2965
I really hate the listbuilder, because it hides the available options.

I am not sure if simple checkboxes would work everywhere, but at least in this case it is hard to believe that the number of section editors would ever be more than 10. I could be wrong.

Regarding this case, I wonder if it is a general bug with all listbuilders?

[2017-10-28 06:33] ajnyga commented on #2818
I think the core of the problem here is that ORCID is designed for claiming authorship - not so much to work as an identifier inside a single program.

If we are to automatically attach ORCID's to records with matching emails, then we should be sure of two things:
- there are no organizations (universities) that give an identical email address to a new person if the email address has become availa

[2017-10-28 08:34] mtub commented on #2818
@asmecher , I don't think this

is a valid approach. ORCID is all about claiming your work and having an unique, universal identifier. If authors already have ORCID iDs, it shouldn't be much of a problem to have them authenticate their ORCID iD once per publication (or: once per installation/journal, but by an action of the author, not based on email addresses).

There are lots of services that le

[2017-10-28 08:35] mtub commented on #2818
Also, "ORCID coverage for a journal" just doesn't sound right. It's authors that are covered by ORCID, and publication venues, journals, repositories etc. should support this by making claiming etc. as easy as possible. But it's not information that editors can or should maintain.

[2017-10-28 12:08] ajnyga commented on #2818
I fully agree with everything @mtub wrote above. Especially with "it's not information that editors can or should maintain".

I think that PKP has a big responsibility to get this right because there are so many journals using OJS.

[2017-10-28 13:03] mfelczak commented on #2972
Thanks @asmecher . It looks like 92bba5f includes 'Press Assistant' which sounds OMP-specific -- should this not be just 'Assistant' for OJS?

[2017-10-28 19:19] ajnyga opened #2976 "Open Review enhancements in OJS/OMP"
This is my plan to implement a better open review option to OJS/OMP. All comments are wellcome at this point @asmecher, @NateWr, @bozana and others.

# Additions to Reviewer workflow

A discussions grid visible in steps 3 and 4. The discussions visible are the same for each step.
In open reviews ability to start discussions both with the editors and the author.
In double blind reviews ability to s

[2017-10-29 08:21] Vitaliy-1 opened #2977 "Citation Style plugin throws error for all users that are not logged in"
When trying to change a citation style when not logged in:

`PHP Fatal error:  Uncaught Error: Call to a member function hasRole() on null in C:\\xampp\\htdocs\\site2\\plugins\\generic\\citationStyleLanguage\\pages\\CitationStyleLanguageHandler.inc.php:114\nStack trace:\n#0 C:\\xampp\\htdocs\\site2\\plugins\\generic\\citationStyleLanguage\\pages\\CitationStyleLanguageHandler.inc.php(36): CitationS

[2017-10-30 05:16] carzamora opened #2979 "[OJS] authors not should be able to upload image in abstract"
When the author is submitting a manuscript is able to upload an image, and this is saved in /public folder. Maybe this option can make disabled for the authors or at all; I can imagine that is possible one editor in one case very uncommon decide to use an image in an abstract but is not common. But for the authors is just a distraction.

In this picture, an author upload two very big maps, I do no

[2017-10-30 05:18] t4x0n commented on #2979
Maybe a change in the TinyMCE Plugin, make the possibility of disabling some buttons in some textareas.

[2017-10-30 10:29] NateWr commented on #2872
Ah ok, I think I've got it. A hook in `PKPTemplateResource::_getFilename()`, and then we refactor all plugins with templates to register their template directories as resources. :+1:

[2017-10-30 10:38] NateWr commented on #2965
@ajnyga I know if the ListBuilder doesn't believe there's another available option to be added, clicking the Add link will do nothing -- not even provide a useful message. It sounds like you may be running into this alongside some other issue with a miscount of available options.

@asmecher Yes, there's already the `SelectListPanel` component in the UI Library and I think it would work for the maj

[2017-10-30 10:40] NateWr commented on #2965
ps - if anyone wants to compile a list of ListBuilders in the application, I'll happily run through and replace them. :)

[2017-10-30 10:54] bozana opened #2980 "order by user_group_id in UserGroupDAO::getByRoleId"
for PostgreSQL users
s. https://forum.pkp.sfu.ca/t/upgrade-to-ojs-3-0-from-2-4-8-0-error-while-converting-supplementary-files/25950/57

[2017-10-30 10:55] NateWr commented on #2976
Great writeup! :+1:

Can this be the existing Review Discussions grid? It'd be good to centralize all discussions for the stage in one grid -- with reviewers/authors only seeing what's appropriate to them.

Could this just be a new discussion (automatically) opened with the author/reviewer/editor and the content of the review in the discussion?

If we stored the IDs of the discussions that were cr

[2017-10-30 11:10] bozana commented on #2980
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2981
ojs master: https://github.com/pkp/ojs/pull/1644 (only submodule update)

[2017-10-30 14:32] ajnyga commented on #2976
Thanks @NateWr

Yes, I think we should definitely use the same review discussions grid in both those two steps. Meaning that the editors will also see all active discussions between the author and the reviewers in a specific review round.

Why not, but that would mean that the content of the review would be visible in two places: the discussions grid and the reviewer grid (link to the actual revie

[2017-10-30 14:35] NateWr commented on #2976
Two places. I was really thinking of it as just reporting back to the reviewer: here's a message that this decision was made. The actual decision record would still be where it is now.

Yeah I don't know either. But I'm generally in favor of more feedback where possible. People like to see results from their efforts.

[2017-10-30 14:46] #2980 closed

[2017-10-30 14:49] ajnyga commented on #2976
I actually have one journal doing open reviews. I could ask them, what they think, but ideally this would require more opinions.

I guess this would fit the idea of an open review. Of course the discussion message with the decision would then only include the decision - not the reports of the other reviewers, I think?

But overall I think that the basics of the enhancements are fairly staightforwa

[2017-10-30 15:02] bozana commented on #2874
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2984
ojs master: https://github.com/pkp/ojs/pull/1649

[2017-10-30 15:36] NateWr commented on #2976
Mmm, yeah. It could complicate the workflow of taking the editorial action.

[2017-10-30 15:59] asmecher commented on #2965
Dangerous words, @NateWr :)

For OJS and pkp-lib:

- plugins/generic/translator/controllers/listbuilder/LocaleFileListbuilderHandler.inc.php (the translator plugin's list of locale files)
- lib/pkp/controllers/listbuilder/users/UsersListbuilderHandler.inc.php (and parent class lib/pkp/controllers/listbuilder/users/StageUsersListbuilderHandler.inc.php) -- used in the "notify" form to choose who may

[2017-10-30 16:03] NateWr commented on #2872
Is this the approach that you had in mind? PR: https://github.com/pkp/pkp-lib/pull/2985

The only downside I see is that we'll need to refactor each plugin whose templates we want to be able to override, to use it's own resource. But not a big problem and we'll probably be better off for it. Thoughts?

[2017-10-30 16:07] NateWr commented on #2965
Yeah, I'll only be able to replace the basic ones with the `SelectListPanel` component. For the others with drag-and-drop (sidebars), free text entry, etc, we'll probably need an alternate component. But I'll crack on with this list and see what can go quickly.

[2017-10-30 16:08] asmecher opened #2986 "Introduce disambiguating author IDs"
Design and introduce a toolset allowing author disambiguation.

ORCiDs are good for production use where authors manage the workflow, but aren't comprehensive...

- for batch conversions where asking all authors to authenticate is not practical,
- for old issues where authors may have died or may not be available via email,
- for editor resolution of author ambiguity (ORCiD is purely author-based)

[2017-10-30 16:09] asmecher commented on #2818
This kind of nails it, I think. We have a problem that I had been hoping ORCID would solve for us, but I think I'm going to have to give that up as fantasy...

I've filed this at https://github.com/pkp/pkp-lib/issues/2986 -- having it filed elsewhere will help me stop jamming considerations onto ORCiDs that it's not designed to handle :)

[2017-10-30 16:09] asmecher commented on #2986
See https://github.com/pkp/pkp-lib/issues/2818#issuecomment-340145300 for related discussion.

[2017-10-30 16:17] asmecher commented on #2972
Oops -- corrected, thanks (also squinting at as many of the locales as I can).

[2017-10-30 16:20] NateWr commented on #2977
Fixed with https://github.com/pkp/ojs/commit/9538dc257209b061b70c379c2a6bc089e30aa825 and https://github.com/pkp/citationStyleLanguage/pull/8

[2017-10-30 16:20] #2977 closed

[2017-10-30 16:24] bozana commented on #2102
@NateWr, what do you think where to put such a function? Would it be OK to have such a checkbox "Select All" below the grid?

[2017-10-30 16:52] ajnyga commented on #2986
We could of course connect the users table to the author metadata.
The author metadata would work in a way like versioning of the user metadata but there would always be a user account connected to the author metadata and browse by author would work through this. This from the top of my head.

[2017-10-30 16:56] asmecher commented on #2986
Agreed, I think an "internal" user_id to author_id link would be useful. Your proposal would quickly solve the issue for submitting authors, but not secondary authors, and we'd have to be sure we handled the case where a user was submitting "on behalf of" someone else to avoid creating bad linkages.

I think it's also worth approaching this in a way that supports other IDs, e.g. I think there's a

[2017-10-30 17:04] NateWr commented on #2102
@bozana If you spin up the UI Library (`cd lib/ui-library & npm install & npm run dev`), then go to `SelectListPanel`, you'll see an example on the right with a select all list. You can add the select all feature to a `SelectListPanel` component by passing a `showSelectAll` key set to `true`.

However, that's different from an "Export All" button, which would export all items whether they're loade

[2017-10-30 17:09] ajnyga commented on #2986
One option would be an universal OJS user account that is not tied to a single installation of OJS, but would work in any OJS installation. And of course the option of connecting your ORCID account to that account. But that would be an immense change.

Aside from that, we could of course create a "ghost" user account for the secondary authors that the editors could use to connect submissions with

[2017-10-30 17:13] stranack commented on #2441
This sounds like a sensible change -- go for it!

[2017-10-30 18:00] bozana commented on #2441
PRs:
ojs master: https://github.com/pkp/ojs/pull/1356
omp master: https://github.com/pkp/omp/pull/404

[2017-10-30 18:00] bozana commented on #2441
@lilients, those are the PRs, correct? -- Did I miss something?

[2017-10-30 18:07] defstat opened #2987 "Navigation Menus - not all default NMIs get translated upon install/upgrade"
See also https://forum.pkp.sfu.ca/t/ojs-3-0-2-3-1-main-menu-is-corrupted/34668.
Possibly a case of AppLocale::requireComponents missing locales.

[2017-10-30 18:11] bozana commented on #2102
@NateWr, the DOI export plugins do not use Vue.js yet, so I cannot use the solution from UI Library, right?

And, I would rather not implement "Export All" button because those exports take sooooo muuuuuch time, that a timeout will surely occur -- especially if a journal has a lot of back issues with 1000 of articles that should be exported/registered. Thus I would prefer an "Select All" option ju

[2017-10-30 19:35] asmecher commented on #2964
@stranack, I also made the APC language consistent as you suggested, *except* that I kept the "Author Fees" heading. We may add other author fees to this heading at some point, such as submission fees; it's intended as a category, not just for APCs.

[2017-10-30 19:58] crism opened #2988 "Installation page depends on navigation menu tables, which may not exist"
On upgrading OJS 3.0.2-0 to 3.1.0-0, I hit the `/install` URL after upgrading all the software, but before upgrading the database. I got this in my error log:
[code]
and in the browser, the same text as a big, bold error. The install page for version _x_ shouldn’t depend on database features new to _x_ (or, really, any database features at all…).

[2017-10-30 21:34] asmecher commented on #2979
@t4x0n, you could look at an approach similar to the one used in https://github.com/pkp/ojs/pull/1205 (but removing the JBImages tool for author accounts, not just logged-out user accounts).

Our overall strategy is going to be removing the JBImages plugin entirely at some point, in favour of another approach -- so fine-tuning the current approach is not a high priority for the team. PRs on this w

[2017-10-30 21:44] bozana commented on #2874
@asmecher, could you take a look at the PRs?

[2017-10-30 22:37] asmecher opened #2989 "Correct missing table alias for PostgreSQL upgrade"
See https://forum.pkp.sfu.ca/t/error-while-upgrading-ojs-from-2-4-8-to-3-1-postgres-only/34627 for details.

[2017-10-30 22:39] asmecher commented on #2989
Patch for OJS 3.1.0-0: https://github.com/pkp/ojs/commit/4d3455f1f56b4a2d21d86456b6d3e84b00f6b87c.diff

[2017-10-30 22:39] #2989 closed

[2017-10-30 23:09] asmecher commented on #2874
Wow. >13,000 unused lines of code removed! The tests will definitely need to pass, and this isn't suitable for the stable branch, but I'm all in favour of committing to master and porting to OMP.

[2017-10-31 07:10] mtub commented on #2986
I like the idea of linking to universal or 3rd party author ids from an OJS author profile. The German example could be author identifiers in the Integrated Authority File (GND) (http://www.dnb.de/EN/Standardisierung/GND/gnd.html). But there's also commercial ones like ResearcherID etc., but then authors might also like to link to their Twitter, ResearchGate, GitHub etc. profiles.

But then again:

[2017-10-31 07:43] bozana commented on #2441
Still missing translations: eu_ES, hr_HR, nl_NL, tr_TR, zh_CN

[2017-10-31 07:55] bozana commented on #2441
PRs:
ojs master: https://github.com/pkp/ojs/pull/1650

[2017-10-31 08:18] #2967 closed

[2017-10-31 09:31] ajnyga opened #2993 "reCaptcha not working from China"
Hi,

I do not have first hand knowledge of this, but one of our journals is reporting that an author from China is unable to register to OJS because the reCaptcha is not visible.

This is probably due to local internet policies and noticed elsewhere as well: https://github.com/stellar/stellar-client/issues/1162

Should OJS have a secondary system for preventing spam that would not have the limitat

[2017-10-31 10:38] NateWr commented on #2102
You can! Components from the UI Library can be instantiated and fed data similar to how our existing JS components work, by creating a `<script>` tag and using a small helper function.

Here's how the CitationStyleLanguage plugin generates the data array for a SelectListPanel:

https://github.com/pkp/citationStyleLanguage/blob/master/CitationStyleLanguageSettingsForm.inc.php#L93-L102

It passes th

[2017-10-31 10:39] zuphilip commented on #2961
Well, that is nowadays the recommended display for a DOI, see for example http://blog.apastyle.org/apastyle/digital-object-identifier-doi/ . The CSL styles are updated by https://github.com/pkp/citationStyleLanguage/pull/7 which include the change from CMoS (Chicago) v16 to v17.

[2017-10-31 10:55] ajnyga commented on #2976
While discussing the new features with one of our journals they asked whether it would be possible to change the review type after the review is ready. The logic here is that the reviewer could agree to switch to open review more easily after seeing the whole text. It would also make the whole workflow more flexible.

This could be a nice feature in general. We would only add a new option to the e

[2017-10-31 10:58] NateWr opened #2994 "Reveal more handler can fail to reveal more"
Some edge case resulted in the `max-height` property not being removed to reveal more. I've never been able to replicate this but it was reported here:

https://forum.pkp.sfu.ca/t/reviewer-comments-overlapped/33141/5?u=natewr

They [suggested](https://forum.pkp.sfu.ca/t/reviewer-comments-overlapped/33141/7?u=natewr) a change which seems like it would do the trick and not have any side-effects:

Ch

[2017-10-31 11:01] NateWr commented on #2976
Are you suggesting the reviewer or the editor would be able to switch the review type?

[2017-10-31 11:03] ajnyga commented on #2976
The editor would be able to change the type any time after the request has been sent.

[2017-10-31 11:03] NateWr commented on #2976
Sounds ok to me as long as the reviewer is notified. Is that not possible now?

[2017-10-31 11:04] ajnyga commented on #2976
I dont think so. If you edit the review request, you can only change the dates and the review files selections. I think it would be fairly straight forward to add the new selection there.

[2017-10-31 11:33] NateWr commented on #2102
@bozana I found a regression in the citationStyleLanguage plugin related to my previous PR. Can you review these PRs?

https://github.com/pkp/ojs/pull/1653
https://github.com/pkp/citationStyleLanguage/pull/9

You can test by going to Settings > Website > Plugins > Citation Style Language > Settings. Enabled styles should be pre-selected when the form is loaded.

[2017-10-31 12:37] SuperDomek commented on #2506
Hello, I believe there are more people having an issue with the upgrade from 3.0.2 to 3.1.0 with the function fixing the Genres throwing error on NULL. The thread in the forum [https://forum.pkp.sfu.ca/t/upgrade-from-ojs-3-0-2-to-ojs-3-1-problem/34592](https://forum.pkp.sfu.ca/t/upgrade-from-ojs-3-0-2-to-ojs-3-1-problem/34592). Could you please sum up what needs to be fixed in the data? Thanks

[2017-10-31 12:55] bozana commented on #2506
According to this configuration file https://github.com/pkp/ojs/blob/ojs-3_1_0-0/registry/genres.xml, all default genres have to exist for each journal in the DB table genres. The column entry_key should contain the appropriate key for all default genres.
Here an example of the DB table genres, when only one journal exist:
![genres](https://user-images.githubusercontent.com/378421/32224529-1f057ab

[2017-10-31 13:03] bozana commented on #2506
@SuperDomek, is the comment above clear enough? THANKS!!!

[2017-10-31 14:37] SuperDomek commented on #2506
I understand. Yes, I think we have been deleting some genres or at least adding. The problem is right now for some reason all of these are set to NULL, see pic.
![genres](https://user-images.githubusercontent.com/20679279/32229192-8b5c0f34-be50-11e7-8457-9d6efe1b4191.PNG)

So right now I don't have a way of telling which is which. Maybe if I try to match the genre_id with row id in the source code

[2017-10-31 14:51] bozana commented on #2506
@SuperDomek, yes you can math the genre_id from Settings > Workflow > Components or from the DB table genre_settings...

[2017-10-31 16:21] ajnyga commented on #2976
After thinking about you comment about notifying reviewers if the review type is changed, I realized that currently the review type is not visible for the reviewer at all.

Should we maybe add some visual cue to the review workflow that shows the current review type? This would be visible in all steps. This way the change of the review type would make more sense to the reviewer.

[2017-10-31 16:48] NateWr commented on #2976
Yeah, I noticed this a while ago but it was tacked on to a low-priority issue: https://github.com/pkp/pkp-lib/issues/1488. It'd be nice to get that improved.

[2017-10-31 16:53] defstat commented on #2987
@asmecher
PRs:
pkp-lib: #2995
OJS: pkp/ojs#1655
OMP: pkp/omp#460

[2017-10-31 16:53] ajnyga commented on #2976
Great thanks! I will check that issue in detail and see what could be resolved here.

[2017-10-31 18:06] asmecher opened #2996 "Paypal plugin has undeclared dependency"
See https://forum.pkp.sfu.ca/t/ojs-3-1-payments-tab-keep-on-loading-infinitely-and-cant-buy-pdf-page-isnt-working-error/34555 for a description of the issue.

The resulting error message is...

    PHP Fatal error: Interface ‘Symfony\Component\EventDispatcher\EventSubscriberInterface’ not found in /var/www/vhosts/my_domain/httpdocs/plugins/paymethod/paypal/vendor/guzzle/guzzle/src/Guzzle/Http/Redi

[2017-10-31 18:08] asmecher commented on #2996
To resolve this in OJS 3.1.0, apply [this patch](https://github.com/pkp/ojs/commit/f65db2759038a7e7e15e75fab010a6896b6f6207.diff), then

    cd plugins/paymethod/paypal
    composer update

[2017-10-31 18:08] #2996 closed

[2017-10-31 18:15] t4x0n commented on #2979
@asmecher I was trying to generate another toolbar for the TinyMCE without JBImages tool, but I cannot be made it, maybe I will try again later. Thank you for the reply!

[2017-10-31 18:25] ajnyga opened #2997 "[OJS] Overriding locales with theme plugins always requires en_US locale in the theme folder"
OJS 3.0.2 and probably later as well.

This is not maybe a bug, but could be maybe fixed fairly easily.

If you want to override a locale key or create a custom locale key in OJS3 theme plugin, then you always seem to need a en_US locale file even if the default locale for the journals is something different.

[2017-10-31 18:54] defstat commented on #2988
@asmecher As far as I can see there is a `SESSION_DISABLE_INIT` parameter that is assigned to `1` or `true` if the user is in the "context" of an installation page. But that variable is not assigned if the user decides to hit the "install" page.
Nevertheless, if the user follows the upgrade procedure described at the end of this document https://pkp.sfu.ca/ojs/UPGRADE, the install page gets no DB

[2017-10-31 18:59] defstat opened #2998 "[OJS] Archiving page changes"
OJS's archiving administration page should be able to change its functionality depending on PLN Plugin's state (installed/enabled)

[2017-10-31 19:15] asmecher commented on #2988
@crism, just checking -- is `Installed` set to `Off` in `config.inc.php`?

[2017-10-31 19:21] crism commented on #2988
@asmecher, yes, `Installed = Off`. When that’s the case, any visit to the site redirects to the install page. Under 3.1, until the database has been upgraded, that gives an error when it tries to load the nav menus.

[2017-10-31 19:29] t4x0n commented on #2506
@bozana thanks for the explanation!

I want to show you my table and how I see the components in the backend. Sorry, maybe is redundant but I need it for understanding the problems.

In OJS backend I see ## in Designation, so I thought that this was a missed word, so I replace some I need for my journal:
![image](https://user-images.githubusercontent.com/5422984/32243724-f3ed7b42-be54-11e7-86b2-02

[2017-10-31 19:32] asmecher commented on #2988
Hmm, I can't reproduce this either. @crism, can you turn on `show_stacktrace` in `config.inc.php`?

[2017-10-31 19:40] crism commented on #2988
@asmecher, it’s going to take a little while. I noticed this in our production system mid-upgrade, and certainly didn’t leave it that way. I’ll need to make a fresh 3.0.2 install somewhere…

[2017-11-01 10:21] bozana commented on #2506
@t4x0n, thanks a lot! Your situation and explanation is surely helpful for the others as well :-)

Apparently, there is a bug in OJS 3.0.2, when updating a component/genre -- this line is not correct: https://github.com/pkp/pkp-lib/blob/ojs-3_0_2-0/classes/submission/GenreDAO.inc.php#L172 -- instead of setKey the function getKey is used and thus the Genre object that is edited has no key any more.

[2017-11-01 10:33] bozana commented on #2506
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2999
ojs master: https://github.com/pkp/ojs/pull/1656 (only submodule update)

pkp-lib ojs-stable-3_1_0: https://github.com/pkp/pkp-lib/pull/3000
ojs ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1657 (only submodule update)

[2017-11-01 11:54] bozana commented on #2506
@t4x0n and @SuperDomek, please apply the patch for pkp-lib ojs-stable-3_1_0 above in your 3.1 installation... THANKS!!!

[2017-11-01 15:03] #2441 closed

[2017-11-01 15:14] t4x0n commented on #2506
thanks to you @bozana!

[2017-11-01 16:11] lilients commented on #2441
thanks @bozana!

[2017-11-01 16:42] mfelczak opened #3002 "Enabled plugins disabled after upgrade"
In the original OJS 3.0.2 install, the journal had enabled the custom block manger plugin which was then disabled following the upgrade to OJS 3.1

[2017-11-01 17:11] asmecher commented on #2988
See also https://forum.pkp.sfu.ca/t/unable-to-upgrade-to-3-1-0/34807.

[2017-11-01 17:12] asmecher commented on #3002
@mfelczak, where can I find pre- and post-upgrade DB dumps for the journal?

[2017-11-01 17:26] bozana commented on #3002
This function could eventually be responsible for that: https://github.com/pkp/ojs/blob/master/classes/install/Upgrade.inc.php#L2439
If it is a site-wide plugin and if there was no plugin setting with setting_name = enabled, setting_value = 1 and context_id = 0 ... but I wonder why it was not there... However, maybe it is then correct so now -- now for site-wide plugin there should only be that se

[2017-11-01 17:42] mfelczak commented on #3002
Hi @asmecher, I'll ping you offline with the details.

[2017-11-01 17:54] asmecher commented on #3002
@bozana, could this also be a side-effect of https://github.com/pkp/pkp-lib/issues/1859 (e.g. https://github.com/pkp/customBlockManager/pull/21)?

[2017-11-01 17:56] asmecher commented on #3002
It looks like the 3.0.2 install had the custom block manager enabled in the DB for both context_id 0 (site-wide) and 1 (the journal).

[2017-11-01 20:17] szmigieldesign commented on #2603
Hello,

@mtub, I think we could use an advice on how to push the topic with translating OJS further using the proper, GIT-based way. However, I'm not sure how to approach this - should I download XML files, translate them and do pull requests or is there a better way to do it? Perhaps with translator plugin (and then GIT upload)?

[2017-11-01 20:34] asmecher commented on #2986
Thanks, @mtub. I'm not sure how to help users (both editors and authors) strike a good balance -- if we encouraged everyone to add as many IDs as possible (email, Facebook, Twitter, Github, ResearchGate, ORCiD, GND, ResearcherID, Scopus Author ID, ...), it'll be chaos. If authors provide only a partial set of the available IDs (think 50% providing GND and the other 50% providing Scopus Author ID),

[2017-11-01 20:53] asmecher commented on #2933
@defstat, did this pass the tests? (You'd need to create a PR with a submodule update as per [the wiki](https://pkp.sfu.ca/wiki/index.php?title=Github_Documentation_for_PKP_Contributors#PKP_library_submodule_changes) to get Travis to test changes that would otherwise only be in `pkp-lib`.)

[2017-11-01 20:54] asmecher commented on #2906
@NateWr, this might make a good candidate for some future vue.js conversion...!

[2017-11-01 21:01] asmecher commented on #2849
(Chucking into OJS 3.1.1. The [extremely expedient](https://github.com/pkp/pkp-lib/issues/2849#issuecomment-336593910) partial fix got included in 3.1.0 but the rest needs work.)

[2017-11-01 21:20] asmecher commented on #2888
@ajnyga, have you upgraded to OJS 3.1? If so, is it possible to watch for this to reappear on that codebase?

[2017-11-01 21:28] #2739 closed

[2017-11-01 21:40] t4x0n opened #3003 "[OJS 3.x] is not possible delete Keywords in second language with X"
When I need to delete a Keyword in the main language is difficult by clicking the X when I have more languages. Also is impossible delete a Keyword by click in the second language.
I used Firefox, Chrome and Safari (all updated and all in Mac).

Please see the video: https://youtu.be/lbBxdQhDf9E

[2017-11-01 21:47] t4x0n commented on #911
Hi, I read this post and I am thinking about this "issue", all my journals are in English and Spanish and in many cases is not a problem, but in Keywords yes it is! Maybe the popovers are not good enough for some actions like delete a keyword by click on the red X (See: https://github.com/pkp/pkp-lib/issues/3003)

I want to propose another way for implementation: Bootstrap Collapse.

I think, the

[2017-11-01 23:27] t4x0n commented on #2506
@bozana I change the line "getKey" to "setKey" and now works, but if I delete a Component and later I use the "Restore defaults" button nothing happened. Maybe you are changing other files to solve that?

another very important question: is recommended download all OJS from GitHub? or, is better idea wait and download the zip file from the official site?

[2017-11-02 02:03] asmecher commented on #3003
@NateWr, mind taking a look?

[2017-11-02 04:01] t4x0n opened #3004 "[OJS] force_login_ssl should force register too"
When in config.inc.php "force_login_ssl" is enable redirected automatically http to https login page, but this redirection does not occur in Register page. So, new browsers show the warning about not safety connection.

[2017-11-02 04:05] t4x0n commented on #2578
Hi @mtub, you should close this issue because in OJS 3.1 is solved.

Thank you!

[2017-11-02 05:51] ajnyga commented on #2888
Hi @asmecher, no I have not yet.

I can not see any logical reason why the code setting the embargo has failed. Other than the possibility that the journal has changed their settings themselves. The code in 3.1 is almost the same.

But since the journals can contol the embargos themselves starting from 3.1 I can just ask them to always check the embargo settings for new issues once they are publis

[2017-11-02 06:04] ajnyga commented on #2849
If the concept above is acceptable I can do additional changes.

I do think that showing the permission level in the grid would a good addition anyway. It would surface the permission level behind the role, which is very important to understand.

[2017-11-02 06:30] ajnyga commented on #2986
This is just a more detailed description of my suggestion above. I am not sure if it would solve all problems connected to this issue, but then again, I do not think that there is a solution that would cover everything.

The way ORCID works is carefully thought trough. Email is basically the best default identifier there is. But since it can not be fully trusted, ORCID just uses it as a way to get

[2017-11-02 08:57] bozana commented on #3003
@t4x0n, what OJS version are you using? -- I cannot reproduce it with OJS 3.1 and firefox locally...

[2017-11-02 09:03] bozana commented on #2506
@t4x0n, here is the patch fr the restore of default genres: https://github.com/pkp/pkp-lib/commit/3056ce843b765ceead6d0cd933abf6c6de303cb8

If you do not work with git, for using OJS, then it is better/easier to get the release package from here: https://pkp.sfu.ca/ojs/ojs_download/ -- it contains all submodules too... Working with git would make it easier to apply the new fixes/commits.

[2017-11-02 09:39] bozana opened #3007 "remote galley and supp files are not displayed on the article page"
s also https://forum.pkp.sfu.ca/t/ojs-3-1-wont-show-remote-galleys/34816

[2017-11-02 09:42] bozana commented on #3007
@NateWr, should remote galleys and supp files be displayed in the same way as the others (just that they will call another URL)?

[2017-11-02 11:03] bozana commented on #3002
Hmmm.... I think this plugin seems to be a special case, s. https://github.com/pkp/customBlockManager/blob/ojs-3_1_0-0/CustomBlockManagerPlugin.inc.php#L163.

[2017-11-02 11:21] NateWr commented on #911
Hi @t4x0n. A manually triggered toggle could be a good solution to this approach. In the next month or so, I'm going to be mocking up some ideas for refactoring our form system. I'll definitely keep that approach in mind.

[2017-11-02 11:35] MarHerUMR opened #3008 "Localization for placeholder attribute in fbvElement"
Right now the fbvElement of type _text_ supports automatic localization of the _label_ attribute. So you only have to enter the key of the specific item of the locale and get the localized message.

When you want to add a _placeholder_ for the input you are always adding the literal string as the placeholder. So you either have to hardcode the placeholder value or have to pass in the message from

[2017-11-02 11:42] NateWr commented on #3003
I can reproduce it. Yeah that's annoying. We'll need a short-term workaround specifically for multilingual tag-it fields -- probably a toggle as @t4x0n suggested in #911.

[2017-11-02 11:56] NateWr commented on #3007
Oooh... that's an oversight! And we have no way to determine if it represents a primary or supplementary galley. I suppose treated it visually as supplementary? Or maybe add an option to remote galleys to select the article component type?

[2017-11-02 12:40] bozana opened #3009 "always provide multipleContexts variable"
The variable multipleContexts is provided to the header.tpl only here: https://github.com/pkp/pkp-lib/blob/master/pages/admin/AdminHandler.inc.php#L67.
Thus these cases are not considered when the admin user is in a journal/press backend:
https://github.com/pkp/pkp-lib/blob/master/templates/common/header.tpl#L37
https://github.com/pkp/pkp-lib/blob/master/templates/common/header.tpl#L109

The varia

[2017-11-02 12:47] bozana commented on #3002
Maybe then I should exclude that plugin from that upgrade SQL... ?

[2017-11-02 13:11] bozana commented on #3009
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3010
ojs master: https://github.com/pkp/ojs/pull/1659 (only submodule update)

[2017-11-02 13:12] bozana commented on #3009
@NateWr, could you take a look at the PR?
If OK, I'll cherry-pick it to ojs-stable-3_1_0.

[2017-11-02 13:19] bozana commented on #3002
PRs:
ojs master: https://github.com/pkp/ojs/pull/1660

[2017-11-02 13:32] NateWr commented on #2714
@asmecher I merged the changes to support a section plugin. Are you happy for it to be built as a plugin or would you like to see it in core? If you're happy with a plugin, I'll prepare the submodule commit too...

[2017-11-02 13:41] NateWr commented on #3009
Not sure what the test issues are but the PR looks good. :+1:

[2017-11-02 13:59] NateWr commented on #2906
@lilients Great writeup and the sketched mockup really helps. Are you offering to work on this? If so, let me know and I can give you a run-down of how to begin working on that.

I wrote up this documentation on the [API-driven architecture](https://www.gitbook.com/book/natewr/ojs-3-1-overview-of-api-driven-architecture/details) behind the submissions lists. But we can go into more detail about th

[2017-11-02 14:29] bozana commented on #3002
@asmecher, the other solution could maybe be to say that this plugin is a site plugin and to only save the blocks for specific contexts. But for some reason, when I wanted to try that out, the LoadComponentHandler hook is not registered properly i.e. the callback not called... and I cannot figure out why... :-\

[2017-11-02 15:21] MarHerUMR opened #3011 "Pass FormValidatorURL error message to js url validation"
When adding a _FormValidatorURL_ check to a form field the input of the field will be validated on the onChange event.
When the validation fails a error label will be added: `<label for="foo" class="error">Please enter a valid URL.</label>`

The error message will always be the same even when you have a error message passed to the _FormValidatorURL_. I think it would be helpful to show the error m

[2017-11-02 15:25] defstat commented on #2998
@asmecher
PR:
OJS: pkp/ojs#1509

[2017-11-02 15:46] MarHerUMR commented on #3011
I had a quick look into it. jquery-validation according to the [documentation](https://jqueryvalidation.org/reference/#link-error-messages) can take custom error messages from the _data-msg-url_ attribute. So this could be achieved by passing the $message to the input field as _data-msg-url_.

[2017-11-02 16:22] asmecher commented on #2933
@defstat, it looks like the tests are failing with PHP7.1 on both OMP and OJS. The logs show:

[code]

[2017-11-02 16:49] asmecher commented on #2987
Looks good, @defstat, please go ahead (and back-port if you're comfortable with this on the stable branch).

[2017-11-02 17:42] t4x0n commented on #3003
@bozana this issue appear since OJS 3.0 to 3.1 and maybe is because popover

[2017-11-02 17:55] t4x0n commented on #2506
thanks! at the moment I don't know how to work with git, and I am using the official packages but maybe in the near future I learn more for apply commits directly, I am just enthusiastic coder xD

thanks for all @bozana

[2017-11-02 18:54] asmecher commented on #3002
@bozana, are you working with an upgraded DB? If so, I wonder if the move from context-specific to site-wide plugin is reflected in the `versions` table -- is the `sitewide` flag set properly?

[2017-11-02 19:19] ajnyga commented on #828
https://blogs.openaire.eu/?p=2397

[2017-11-03 02:07] asmecher commented on #2714
Thanks, @NateWr. I don't have a strong opinion either way -- I guess a few questions play into it...
- How many users will want this? If a significant portion, better to build it in.
- Will different themes want to interact with this functionality? If so, better to build it in.
- Are themes likely to implement alternative options? If so, better to leave it a plugin.

[2017-11-03 07:20] #3009 closed

[2017-11-03 09:16] NateWr commented on #2714
I think...

Probably mostly just the continuous publishing model crowd. Though there will be some others who might want it.

If we support plugin template overrides, I think it won't matter whether it's a plugin or built-in.

I'd like to see themes stick to presentational matters, and keep "functionality" in separate plugins. Themes have really combined the two in the WP ecosystem and it's a night

[2017-11-03 09:49] SuperDomek commented on #2506
Hello, I'm sorry I've been away. Thank you very much for the patch. I'll try it and get back with the result.

[2017-11-03 11:00] MarHerUMR opened #3014 "REST API sends wrong http status code on authorization failure"
Yesterday I wanted to play a little with the REST API. Initially I wasn't really shure if I was handling the API endpoint URLs right because I kept getting 404 errors. Later I pasted the endpoint URL into the browser (where I was logged in) and got the requested data. So I think the problem isn't the endpoint URL, but it is a failed authorization.

I had a look into the APIRouter:

[code]

So the

[2017-11-03 12:48] NateWr commented on #2860
Currently the user selection grid returns disabled users when searching for a new participant to assign. This is something that could get fixed when we introduce a `ListPanel` for users.

I'm working on the `/users` API as part of #2965 so that should go some way towards this issue.

[2017-11-03 12:55] bozana commented on #2874
@asmecher, I think this is ready to be merged. I think the tests passed, correct? -- the one OMP test had time out... Tanananaaaaaaaaaa... :-)

[2017-11-03 12:58] bozana commented on #3002
Aaaaa... good point, I'll check... 👍

[2017-11-03 13:41] bozana commented on #3002
Juhuuuuuuu, juhuuuuuuu, juhuuuuuuu... :tada: :fireworks: :dancer: :sparkles: :star: :triumph:

[2017-11-03 14:08] bozana commented on #3002
@asmecher, above are the new correct PRs. Could you take a look? OK so?

[2017-11-03 14:52] mfelczak opened #3015 "New article components have NULL entry_key"
When I add new article components in OJS 3.1 the entry_key is set to NULL in the genres table. It's not possible to then use GenreDAO::getByKey to retrieve these new entries.

[2017-11-03 15:08] bozana commented on #3015
Is this then a problem somewhere?

[2017-11-03 15:19] bozana commented on #3007
Hmmm... yes, unfortunately... If we would add the component type to the remote galleys, how could we save it -- in the DB table submission_galley_settings?

[2017-11-03 15:22] mfelczak commented on #3015
Hi @bozana, I'm writing a plugin where I'd like to retrieve a custom article component by key.

[2017-11-03 15:25] bozana commented on #3015
Does the plugin then uses a controlled set of keys? -- just interested in requirements/cases...

[2017-11-03 15:36] mfelczak commented on #3015
Hi @bozana, a new article component would be created manually and then the component would be fetched by key within the plugin. That being said, another acceptable approach would be to create the article component within the plugin and then set/save the key for future retrievals.

[2017-11-03 15:57] bozana opened #3016 "supplementary files migration"
The supp files in OJS 2.4.x had the filestage = 6 (ARTICLE_FILE_SUPP).
When migrated to OJS 3.x those files get filestage = 2 (SUBMISSION_FILE_SUBMISSION). This leads to an error when the editor clicks on "Change File" galleys grid row action.
Thus, the file stage of supp files should be changed to 10 (SUBMISSION_FILE_PROOF) when migrating to OJS 3.x. That would mean that they are not visible in t

[2017-11-03 17:24] bozana commented on #3016
PRs:
ojs master: https://github.com/pkp/ojs/pull/1667

[2017-11-03 17:26] bozana commented on #3016
@asmecher, could you take a look? Do you agree that those files should have the file stage = 10 (SUBMISSION_FILE_PROOF) instead of 2 (SUBMISSION_FILE_SUBMISSION)? Do you see any reason why it is not good to only have them in the Galley grid and not in Submission Files grid? THANKS!!!

[2017-11-03 17:43] ajnyga commented on #3016
Just wanted to know if this affects updating from 3.0.2/3.1 to 3.1.1?

And while I am here: I do not see any problem in storing the suppfiles only in the Galleys grid because in OJS2 there was no difference between the supplementary files in the submission stage and the production stage (can not remember the OJS2 terminology anymore). Connected to this is the problem that many OJS2 journals store

[2017-11-03 17:45] stranack opened #3017 "Allow reviewers to indicate availability"
Provide reviewers with an option to indicate their temporary unavailability (which would also make themselves invisible to editors for selection) for a specific time period.

This could be added to the user's Profile page.

This could be more generally useful for other roles (copyeditors, section editors, layout editors, proofreaders, etc.).

This would apply to OJS and OMP.

[2017-11-03 18:20] asmecher commented on #2888
@ajnyga, we get warnings over here (mostly about file existence). It appears to be a race condition in the file caching code. However, it seems to be cosmetic -- I've never seen it causing problems beyond cluttering the error log. Are you seeing something different?

By the way, our plans for the caching code are to *stop maintaining our own* :) and integrate something like [Stash](https://github.

[2017-11-03 18:21] asmecher commented on #2849
Absolutely, please go ahead!

[2017-11-03 20:12] ajnyga commented on #2888
@asmecher, I think that they are all about missing files.

If it is just a race condition thing and nothing critical happens, then it is fine by me. Although it would be nice to have an empty error log :-)

Third party solution sounds nice, but it is probably not among your top priorities.

[2017-11-03 21:12] asmecher commented on #2933
@defstat -- thanks, it looks like the tests are passing now. Just a couple of small comments, then please go ahead and commit/port to stable. Anecdotally, I think I can see an improvement on the time the Travis tests are taking.

[2017-11-04 08:16] bozana commented on #3016
@ajnyga, yes, it affects that upgrade from 3.0.2/3.1 to 3.1.1.
And yes, the supp files are presented on the article page...

[2017-11-04 08:43] ajnyga commented on #3016
Ok. Because it turned out during our update that most of the supplementary files the journals had were not intended to be published. I could imagine this is the case also with a lot of other OJS2 journals as well.

So what I did is that I cretead excel lists of the supplementary files and asked all journals to check which files are meant to be public (not a lot of them were). Using these lists I d

[2017-11-04 08:45] ajnyga commented on #3016
The issue is discussed here: https://forum.pkp.sfu.ca/t/all-the-files-words-figures-letters-have-been-published-with-the-new-ojs-3-0-version/26533
I am fairly sure that more an more OJS2 journals will encounter this problem when upgrading.

[2017-11-04 09:38] ajnyga commented on #2849
An updated pr here https://github.com/pkp/pkp-lib/pull/3018

[2017-11-04 17:39] ronniebrito commented on #3007
in our case it is always a final/primary galley, so adding ** an option to remote galleys to select the article component type** is a better option...

We need a `pragmatic` solution, as our site needs to enter production soon. Changing the $galleys populating method seems to be easier than changing database, so could you tell me in what part of OJS code can I change this behaviour?

thank you

[2017-11-05 14:10] ajnyga commented on #2976
Hi @NateWr and @asmecher
I did some initial work with adding the discussions grid to the reviewer workflow. The branch I am working with is here: https://github.com/ajnyga/pkp-lib/tree/open-review-enhancements-2976

With the grid permissions, I am using the same logic that the authors have.

However, there is one very big issue here which needs to be resolved.

While trying to get the grid visible

[2017-11-06 09:14] bozana commented on #3016
Hmmm... I see... Maybe than the best solution would be to copy that files, so that they stay in the submission files grid and also be in the galleys grid... I'll take a look...

[2017-11-06 09:17] ajnyga commented on #3016
I think that @asmecher pointed out last year that the scenario I described is not the way the supplementary files feature in OJS2 was meant to be used like. I agree, but at the same time I have a feeling that our journals are not the only ones that have used it the wrong.

I am of course more than willing to just edit the 3.1.1. upgrade script to take into account the changes I made.

[2017-11-06 09:28] bozana commented on #3002
Ah, as @asmecher said, this plugin cannot be made only side-wide, because the journal managers without admin rights will not be able to use it. Thus the first solution, not to consider this plugin as side-wide in the upgrade is the only one.

[2017-11-06 09:31] bozana commented on #3002
Sorry, @asmecher, could you than take a look at these PRs:
ojs master: pkp/ojs#1660
ojs ojs-stable-3_1_0: pkp/ojs#1661

[2017-11-06 09:44] isgrim commented on #2986
At University Library Heidelberg we are very much interested in the disambiguation issue for author's and could also help in fleshing this out.

[2017-11-06 11:40] NateWr opened #3020 "Change user-facing description of SupplementaryFile"
We use the term "supplementary" file to identify two things:

1. Whether the file is primary/supplementary, which controls how the download links appear on the frontend.
2. Whether the file should get a full DC metadata set.

![selection_024](https://user-images.githubusercontent.com/2306629/32439434-a55f7930-c2e6-11e7-890a-25dfcf757fa1.png)

We should keep the first usage, but change how we descr

[2017-11-06 11:49] NateWr commented on #3007
I guess? I'm not that clear on how we determine galley type, but I imagine it will complicate some of the calls we have to the galley DAOs throughout the system, since we can't rely on a File existing to check the component type.

https://github.com/pkp/ojs/blob/master/pages/article/ArticleHandler.inc.php#L106-L126

This might be a good candidate for a function in the `GalleyService` class for get

[2017-11-06 11:49] NateWr commented on #3007
Oh, and @ronniebrito, the link above shows where the galleys are fetched for the article details view on the frontend.

[2017-11-06 12:01] NateWr commented on #2976
@asmecher has a much better grasp on the auth stuff than me so he'll need to decide which approach makes sense.

I can see treating reviewers as stage participants makes some sense. And it would fit nicely with plans to start giving other stage participants assignments with due dates like reviewers. We might be able to generalise the concept of assignments a bit more easily if reviewers are just o

[2017-11-06 13:33] ajnyga commented on #2976
Yes. As I said above I would probably be fairly easy to filter out the reviewers from the participants grid, if having them there is a problem (thinking of situations with several review rounds). And I am worried that the secondary solution will lead to a lot more tweaks and more code to maintain.

[2017-11-06 15:13] ajnyga opened #3022 "Allow journal managers to invite users to adopt a role"
**Update: 11-22-2024**

Sub-issues (CRAFT-OA repo):
- [ ] [error message layout issue / question](https://github.com/craft-oa/gdpr-invitation/issues/48) @jardakotesovec
- [x] integrate [multilingual email](https://github.com/craft-oa/gdpr-invitation/issues/63) into invitation @withanage  @ipula  (in review)
- [x] [Search](https://github.com/craft-oa/gdpr-invitation/issues/66 ) for orcid/username/e

[2017-11-06 15:36] mfelczak commented on #2993
Confirming that some of our hosted clients have also run into this issue.

[2017-11-06 16:32] asmecher commented on #2759
@NateWr, FYI, I think this is related and there's a proposed solution: https://forum.pkp.sfu.ca/t/omp-1-2-pdf-button-missing-array-instead/32749/12

[2017-11-06 16:51] defstat commented on #2987
@asmecher
PRs ojs-stable-3_1_0:
pkp-lib: #3023
OJS: pkp/ojs#1668

[2017-11-06 17:03] asmecher commented on #2933
Thanks, @defstat! Merged, but *not* back-ported to `ojs-stable-3_1_0` (at least until we've had it deployed on a few more dev boxes).

[2017-11-06 17:05] asmecher commented on #2993
@mfelczak, do you have any preference from that client? I suspect we'd need to look at a built-in service again, though I really don't like maintaining our own. I suspect there's a third-party library we could use.

[2017-11-06 17:17] asmecher commented on #2987
@defstat, this looks good, please go ahead (and port as needed -- not just to OJS and pkp-lib master, but also to OMP).

[2017-11-06 17:17] defstat commented on #2933
@asmecher
PRs ojs-stable-3_1_0:
pkp-lib: #3024
OJS: pkp/ojs#1669

[2017-11-06 17:20] defstat commented on #2987
@asmecher the later comment is for ojs-stable. The master branch PR are at https://github.com/pkp/pkp-lib/issues/2987#issuecomment-340827963. Should I do something for OMP too, except the master?

[2017-11-06 17:35] NateWr commented on #2965
Ahhhhh, you were right. This turned into much more of a project than I anticipated. I was able to replace:

- UsersListbuilderHandler
- StageUsersListbuilderHandler
- UserUserGroupListbuilderHandler
- SubEditorsListbuilderHandler
- CategoriesListbuilderHandler (submissions)
- CategoriesListbuilderHandler (series)

In the process, I also introduced a new `UserService` class, along with a `/users` e

[2017-11-06 17:41] NateWr commented on #2965
(Oh, and this probably shouldn't get merged into `master` if we want to make a new release off of it soon.)

[2017-11-06 17:57] asmecher commented on #2965
Hi @natewr -- agreed, probably not a good candidate for merging right now, but maybe we could create a branch. Let's talk in the dev call. Excellent progress in any case.

[2017-11-06 18:31] bozana commented on #3015
@asmecher, do you think it would be a good solution to enable the editing/inserting of the custom keys for custom genres/components? I think they cannot be used in the core code -- because we do not know what they could be -- but maybe it will be helpful for other plugins that would need it?

[2017-11-07 00:42] asmecher commented on #2933
(Leaving this unmerged for a little while as we assess its stability.)

[2017-11-07 00:43] asmecher commented on #2987
Just for OMP master branch, @defstat!

[2017-11-07 01:48] kaschioudi commented on #2965
@NateWr : I took a look at your commit. Other than this comment (https://github.com/pkp/ojs/pull/1670/files#r149253472) , it looks good to me 👍 .

[2017-11-07 07:44] t4x0n commented on #2612
Hi, the filter feature is really great but it can be better, of course. I have an idea or request for this filter...  would will be great if we could filter by submission date and last modification date, I was looking and this parameters already exists in the database. This is really important for editors, many times some manuscripts spend more time in the “limbo” because that are forgotten.

[2017-11-07 10:18] isgrim commented on #2986
@asmecher Hi Alec,
you wrote:

Do you think it is possible to add an identifiers table, with configurable identifiers?
And link this to authors and optional users?

Maybe like this?
author_id, user_id (maybe null), identifier_type, identifier

Type could be configurable for the host? With some default types like VIAF already configured?

[2017-11-07 10:36] NateWr commented on #3014
Hi @MarHerUMR, I just wanted to drop you a quick response. This is a known issue with our current authorization framework -- it wasn't designed to send back error response codes with a REST API, and so needs some deep plumbing to be refactored for use with our API. Kassim is looking into this, but in the meantime the error messages from the API are fairly limited.

[2017-11-07 17:47] asmecher commented on #3015
Hmm, I don't generally want to rely on keys for much, but I agree that plugins are a valid case.

[2017-11-07 17:51] asmecher commented on #3002
Looks good -- thanks, @bozana. Is the problem with the custom block manager filed and open? @NateWr, not sure if you're following that conversation.

[2017-11-07 19:49] jmacgreg commented on #298
I favour extending the publisher library option. It would expand the usefulness of the publisher library, and would suffice for all of the major use cases I can think of (eg. publishers wanting to upload public guidelines or templates in PDF or other format; wanting to upload and link to PDF posters and calls for papers; etc.).  I think the following would be required:

- add a "public" checkbox f

[2017-11-07 20:04] asmecher commented on #298
@jmacgreg, I think https://github.com/pkp/pkp-lib/issues/520 already covers at least some of this.

[2017-11-07 20:17] mfelczak commented on #2993
Hi @asmecher, I've checked with the client and they couldn't provide any alternatives. Digging around a bit, BotDetect Captcha looks promising for a possible 3rd-party integration: https://captcha.com/php-captcha.html

[2017-11-07 20:25] asmecher commented on #2993
https://github.com/gregwar/captcha also appears to be heavily used, and it's in Composer with very few dependencies...

[2017-11-08 00:03] jmacgreg commented on #298
Oh, excellent - agreed.

[2017-11-08 07:03] ajnyga opened #3026 "[OJS] OAI-PMH should not show results for journals with publishingMode set to PUBLISHING_MODE_NONE"
At the moment if a journal is just using OJS for editorial purposes in multi-journal installations, their articles still show up in OAI-PMH with links leading article pages that give 404.

I think that it would make sense that if publishingMode is set to PUBLISHING_MODE_NONE, no results from the journal are shown.

Discussion here: https://forum.pkp.sfu.ca/t/oai-pmh-and-access-to-journal-content-i

[2017-11-08 08:16] bozana commented on #3002
The custom block manager stays as it is -- the fix has to be done in the upgrade script.
Unfortunately this means some work for those already migrated and using the custom block manager -- they will have to manually enable it for journals they need...

[2017-11-08 08:17] #3002 closed

[2017-11-08 08:25] bozana commented on #2874
@asmecher, may I merge these changes?

[2017-11-08 08:39] bozana opened #3028 "citations parsing by line"
This is the requirement for Crossref Reference Linking and thus also Cited-By (I think).
If a journal is using the citations input field, it is likely that a parsing each reference for them would be fine i.e. they could have use of it.
Thus maybe to move the citations input field to a new tab in the submission metadata/catalog entry modal for editors, where they will have the possibility to parse

[2017-11-08 08:56] bozana commented on #3028
This is how the citations tab could look like, for now, for example:

![citationsparsing](https://user-images.githubusercontent.com/378421/32539803-e857e968-c46a-11e7-8ed0-288c903c160b.png)

@NateWr, what do you think about this? Would it be OK to have it first/for now like this?

[2017-11-08 10:01] NateWr opened #3029 "CSL plugin fatal error if no last name"
Reports of a fatal error occurring if an article author has no last name.

https://forum.pkp.sfu.ca/t/problem-with-enable-citation-plugin/35022/6

[2017-11-08 10:13] NateWr commented on #2612
Hi @t4x0n,

At the moment, submissions in the lists are ordered by submission date with the newest first. So an editor should be able to locate submissions in limbo by reaching the end of the list and checking the activity logs.

The last modification date probably won't mean what you expect it to mean. It only tracks modifications to the submission object itself (title, etc), but doesn't track ac

[2017-11-08 10:19] NateWr commented on #3028
Looks good. I'm trying to think of a better user-facing term to use than "parsed", but struggling to come up with anything. Maybe we can add a description which says something like:

[2017-11-08 10:27] NateWr commented on #2965
Thanks @kaschioudi. Good spot. Eventually editors will need access to the endpoint for adding participants to the workflow, but I didn't want to deal with that yet, so I've just removed them from the list in the documentation. :smile:

[2017-11-08 10:58] MarHerUMR opened #3030 "[OJS] The application name for OJS 3 is stated as "ojs2""
I noticed it when a fatalerror() wrote this into the error log: _ojs2: 404 Not Found_

In the [Application.inc.php](https://github.com/pkp/ojs/blob/master/classes/core/Application.inc.php) the name is still set to ojs2.

[code]

[2017-11-08 11:06] NateWr commented on #2551
PR:
https://github.com/pkp/omp/pull/464

@bozana can you code review?

[2017-11-08 11:07] NateWr commented on #1740
Closing until we get more reports of an issue.

[2017-11-08 11:07] #1740 closed

[2017-11-08 11:32] NateWr commented on #2426
A monograph has a `workType` which is set to `WORK_TYPE_EDITED_VOLUME` or `WORK_TYPE_AUTHORED_WORK`. However, there's no way to view or change this in the workflow. Should there be?

Also we have no way to determine which "authors" are the editor(s) of the whole volume. It's just a separate user role we generate with no distinguishing data from chapter authors. I can think of a couple ways to addr

[2017-11-08 12:04] paflov commented on #2759
And: https://github.com/pkp/pkp-lib/pull/3027

[2017-11-08 12:09] ajnyga commented on #2976
Hi @asmecher, I am continuing my work with this later today. I bet you are busy with many other issues as well, but I would need your comments to the questions above. Meanwhile I will start the work with adding the reviewers grid to the author workflow.

[2017-11-08 14:07] bozana commented on #2551
👍  Merged. Can the issue be closed?

[2017-11-08 15:10] #2551 closed

[2017-11-08 15:59] bozana commented on #3015
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3031
ojs master: https://github.com/pkp/ojs/pull/1673 (only submodule update)

[2017-11-08 15:59] bozana commented on #3015
@mfelczak, would you like or could you test the PR?

[2017-11-08 18:14] asmecher commented on #3030
This is a known issue, but it's cosmetic and a little tricky to fix.  See https://github.com/pkp/pkp-lib/issues/1839.

[2017-11-08 18:14] #3030 closed

[2017-11-08 19:48] asmecher commented on #3016
@ajnyga, have you checked whether your supplementary files were inadvertently published e.g. via the Reading Tools or the OAI interface? I suspect they were. The change with OJS3 is that they're much more evident -- but I don't believe it publishes anything that wasn't already published in OJS2 one way or another.

[2017-11-08 19:48] asmecher commented on #3016
@jmacgreg may also be maintaining tweaks to work around this on our own upgrades. James?

[2017-11-08 19:51] asmecher commented on #3026
Merged, thanks, @ajnyga -- though I do wonder whether we'll receive some pushback from journals that have replaced their front-end with some other toolset, thus have disabled publishing within OJS, but who may still want access to an OAI endpoint via OJS. (For that to work, we'd need to consider what data to suppress or delegate to external services, such as article URLs.)

[2017-11-08 19:51] #3026 closed

[2017-11-08 20:14] ajnyga commented on #3026
Fair point.

We could of course just have a journal specific setting for switching OAI on or off.

[2017-11-08 20:22] ajnyga commented on #3016
hi @asmecher
Yes, definitely the supplementary files were published in OJS2 as well. In technical sense.

But most of our journal editors did not seem to understand that they were public because most of them did not use reading tools and did not see the files on the article page. Also OAI is something that the editors really do not know about.

So when the OJS3 upgrade came, they were surprised to

[2017-11-09 00:20] asmecher commented on #2874
Yes, please do!

[2017-11-09 07:55] #2874 closed

[2017-11-09 10:06] mpbraendle opened #3032 "[OJS 2.4.8.2] Search does not work on subpages of a journal (plugin/navigation/block.tpl )"
A search carried out from the navigation block on a subpage of a journal yields a 404 error:

E.g. http://sui-generis.ch/about

Carry out a search for "Durchsetzungsinitiative"  ==>

http://sui-generis.ch/about/search?simpleQuery_input=durchsetzungsinitiative&simpleQuery=durchsetzungsinitiative&searchField=query

However, it should yield:

http://sui-generis.ch/search?simpleQuery_input=durchsetzun

[2017-11-09 10:13] mpbraendle commented on #3032
Sorry, I see that pkp/pkp-lib#2442 fixes this.

[2017-11-09 10:13] #3032 closed

[2017-11-09 12:37] martinpub commented on #904
Thanks @asmecher!

[2017-11-09 12:56] bozana commented on #3028
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3033
ojs master: https://github.com/pkp/ojs/pull/1674
omp master: https://github.com/pkp/omp/pull/466

[2017-11-09 13:15] bozana commented on #3028
@NateWr, could you take a look at the PRs above?
We could provide better explanation if needed. Would you have a suggestion?
For citation display on the article/book page, I first look if there are parsed citations and display them. If there are no parsed citations, I look if there is submission->getCitations(), in case someone does not want or forget to parse them. I am not sure if we should do/k

[2017-11-09 14:00] bozana commented on #3016
I realized that migrating the supp files so that they are both in submission files grid and galley grid does not bring much -- those use cases as @ajnyga mentioned will however have to adapt the upgrade code to remove those migrated as galleys.
Maybe a kind of upgrade configuration option, how to migrate supp files -- as submission files or galleys -- would be helpful. @asmecher, would that maybe

[2017-11-09 14:08] bozana commented on #3007
According to the recent discussion also the remote supp file metadata are wished to be saved in the system...

[2017-11-09 14:42] bozana commented on #2922
@ajnyga, I cannot reproduce this any more. Could you please try in your installation, if this still happens? THANKS!!!

[2017-11-09 15:15] bozana commented on #2955
Hmmm... OTHER genre is sortable also in OJS, s. https://github.com/pkp/ojs/blob/master/registry/genres.xml#L30. What does that mean? Should then the text above be changed for OJS, or should the OTHER genre not be sortable for OJS? @asmecher, @stranack, do you know?

[2017-11-09 15:20] ajnyga commented on #2922
Hmm, interesting. On my own server I have a OJS installation for test purposes. I installed it with 3.0.2 and upgraded that to 3.1 a while ago.

After the upgrade the quicksubmit plugin is missing (I replaced all the files when upgrading and the 3.1 package does not have that included). But now that I try to go to the plugin gallery and download the quicksubmit plugin, it says that my quicksubmit

[2017-11-09 15:24] bozana commented on #2922
@ajnyga, maybe this fix solves the problem: https://github.com/pkp/pkp-lib/issues/2956 ?

[2017-11-09 15:27] ajnyga commented on #2922
I get the same problem described above with 3.1 and the latest quicksubmit:

![2017-11-09 05 26 20 pm](https://user-images.githubusercontent.com/16347527/32613290-30ade6a0-c573-11e7-92f0-f593ccb3c8f7.png)

Do you have more than one locale active when you test it?

[2017-11-09 15:28] bozana commented on #2922
Hmm... Do you mean production discussion or galley files?

[2017-11-09 15:32] ajnyga commented on #2922
Yes exactly, the galleys grid does not load.

[2017-11-09 15:42] bozana commented on #2922
Hmmm... I cannot reproduce it in that way -- everything is fine in such a case, but when I cancel the file upload then I get that problem...

[2017-11-09 15:48] dagosalas commented on #545
404 Page 👎

[2017-11-09 15:55] ajnyga commented on #2922
Do you upload the same file again and get the "possible duplication" modal?

I can reproduce this consistently.

[2017-11-09 15:56] bozana commented on #2922
Strange -- I do upload the same file and do not get that "possible duplication" modal :-O -- my file seems to be just replaced...

[2017-11-09 16:00] bozana commented on #2922
I belive I figured out where the problem is -- the file is assigned to the galley too early -- and in your case maybe the wrong fileId -- that then does not exist any more, but it stays in the submission_galleys table...

[2017-11-09 16:01] ajnyga commented on #2922
I think I tested this with a png file, a screen shot. Could that be related?