[2020-01-13 12:08] NateWr commented on #5380
There should be a "Schedule for Publication" button that appears where the publish button would be. The article is not considered "scheduled" until that process has been complete. This ensures that the pre-publication checks can be run before a publication is ready to go, and a publication without a required pre-publication check is not published with an issue.

There is a fix for this permissions

[2020-01-13 12:09] NateWr commented on #5380
(It's probably worth keeping this open to ensure the bug is fixed after those PRs are merged.)

[2020-01-13 12:23] NateWr commented on #5046
Thanks @withanage!

@ViRuSTriNiTy 3.2 will introduce some big changes with versioning. We appreciate any testing you can do on the current `master` branch to help us make this release as smooth as possible.

[2020-01-13 13:29] heike-r opened #5387 "No feedback message when exporting users via plugin in OJS 3.1.2-4"
When using the plugin for exporting user data in xml, OJS gives no response when finishing the task. When I export selected users, I get an 'endlessly spinning processing wheel', when exporting all users, the textbox that ask if I am sure to export all users does not close once I press 'ok'. The export itself does work and the xml is generated, but I only found out by looking into the download fol

[2020-01-13 16:23] asmecher opened #5388 "Submission keywords are not indexed/searchable"
The built-in search index does not index the "Keywords" metadata field and thus it is not searchable. (The "Subjects" field, which also uses the Controlled Vocabulary tools, is indexed and searchable.)

Make sure that all the metadata fields are indexed and searchable.

[2020-01-14 00:13] asmecher commented on #5384
@withanage, I haven't tested the other issues, but [this commit](https://github.com/pkp/omp/commit/7e1f669a625b35d88e83ff13ef695ca3702ab266) should resolve the following error:
[code]

[2020-01-14 00:18] asmecher commented on #5382
Merged https://github.com/pkp/pkp-lib/pull/5383 -- thanks, @ViRuSTriNiTy!

[2020-01-14 00:18] #5382 closed

[2020-01-14 11:02] NateWr commented on #5354
PRs:
https://github.com/pkp/pkp-lib/pull/5389
https://github.com/pkp/ojs/pull/2575
(No OMP PR required)

@asmecher can you take a look at this and let me know if this looks alright? Some further details below.

These PRs provide a new `EntityQueryBuilderInterface` that all query builders implement when they deal with entities. The interface provides three methods which should make it easier to use

[2020-01-14 11:32] NateWr opened #5390 "Errors with apiToken should be communicated in response message"
**Describe the problem you would like to solve**
When using the `apiToken` to authenticate with the API, there are many reasons it may fail but these are not communicated to the user. Possible failures:

- The API Key is not enabled in the user's profile.
- The `apiToken` is not correct.
- The `api_key_secret` is not set in the site's config file.

**Describe the solution you'd like**
An appropria

[2020-01-14 11:43] NateWr commented on #4859
Thanks @withanage! I'm looking into the OMP problems that you had. With your OJS issue, it look like you may need to clear the cache. What you're seeing is the HTML from the new mobile nav header, but the new CSS doesn't look like it is being applied.

[2020-01-14 12:15] mpbraendle opened #5391 "Statistics > Editorial Report : Graph does not update after change of date range"
1. In the administration backend, go to Statistics > Editorial
2. Change date range to "All dates"

In the tables below, the numbers are updated, but the graph above does not update.

**What application are you using?**
 OJS 3.1.2-4

[2020-01-14 12:17] withanage commented on #4859
Thanks @NateWr . Sure, will try after clearing the cache.

[2020-01-14 15:01] NateWr commented on #4859
I think I've got the OMP issues sorted out. Going to take another look at OJS right now. One thing I noticed is that the search result cache was interfering with the results. Changing `$resultCacheHours` to `0` [here](https://github.com/pkp/pkp-lib/blob/master/classes/search/SubmissionSearch.inc.php#L207) helped clarify that during testing.

@asmecher do you know if there is a way to clear the sea

[2020-01-14 15:17] withanage commented on #5384
@asmecher

thanks a lot. The fix worked.

| API End Point| Stats |
| --- | --- |
| http://localhost:8002/index.php/test/oai?verb=Identify |  ok|
| http://localhost:8002/index.php/test/oai?verb=ListRecords&metadataPrefix=oai_dc | ok |
| http://localhost:8002/index.php/test/oai?verb=ListSets | :ok: |
| http://localhost:8002/index.php/test/oai?verb=ListMetadataFormats | :ok: |
http://localhost:8002/i

[2020-01-14 15:17] #5384 closed

[2020-01-14 16:04] asmecher opened #5392 "Article publication date should be updated on issue publication"
In OJS 2.x, when an issue was published, the publication date for its articles was updated to the current time:

https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/pages/editor/IssueManagementHandler.inc.php#L887..L888

However, that is not the case in OJS 3.x:

https://github.com/pkp/ojs/blob/1726f5859d97a914bbd58c9510359095594c5cd1/classes/controllers/grid/issues/IssueGridHandler.inc.php#L458..L46

[2020-01-14 16:08] asmecher commented on #5392
@AhemNason, pinging you for a heads-up to the notification WG.

[2020-01-14 16:23] asmecher commented on #4859
Yes -- you can use `DAO::flushCache()` (which calls on the corresponding function upstream in the ADODB library).

[2020-01-14 16:40] asmecher commented on #5391
@mpbraendle, can you check both your PHP error log (for a server-side error) and your browser console (for a front-end Javascript error)?

[2020-01-14 16:41] NateWr commented on #4859
:raised_hands: Just in time, Alec, thanks! Here are PRs that address the issues with OMP and improve behaviour around the search index and unpublishing. I added the cache busting and tried to push some code into pkp-lib.

PRs:
https://github.com/pkp/pkp-lib/pull/5393
https://github.com/pkp/ojs/pull/2576
https://github.com/pkp/omp/pull/741

I've marked the acceptance criteria complete but a second

[2020-01-14 17:52] AhemNason commented on #5392
Love a ping.

[2020-01-14 17:53] asmecher commented on #5392
Any objections to the approach I suggested above?

[2020-01-14 17:56] alexxxmendonca commented on #5392
I don't have objections when the journal publishes with traditional publication.

What about continous publication that still makes use of issues?

[2020-01-14 18:02] asmecher commented on #5392
In that case, the issue will be published and the articles scheduled to it afterwards. Thus current behaviour will prevail -- the article publication dates will reflect the date the article is scheduled to the already-published issue.

[2020-01-14 18:04] alexxxmendonca commented on #5392
In that case: no further objections!

[2020-01-14 18:10] asmecher commented on #3633
This will be implemented as part of https://github.com/pkp/pkp-lib/issues/3646.

[2020-01-14 18:10] #3633 closed

[2020-01-14 18:11] asmecher commented on #4343
(Should be implemented as part of https://github.com/pkp/pkp-lib/issues/3646)

[2020-01-14 18:19] alexxxmendonca commented on #4343
This happens at the SciELO install too and it's a big problem when it happens.

We use Gmail for sending our OJS e-mails and Gmail has a policy that after 500 continuous sendings, it stops sending messages until the next day (00:01 am).

This is huge problem because it ends up affecting the other journals too, journals that didn't send the issue notification message in the first place are affected

[2020-01-14 18:22] NateWr opened #5394 "Fix remaining issues with UI Library before 3.2"
- [x] The preview for `WorkflowContainer` needs to be updated to reflect final 3.2 workflow.
- [x] The preview for `Header` with a loading spinner: the spinner appears on a separate line but should appear on the same line.
- [x] Next/previous buttons in paginated forms need spaces added to them.
- [x] Input doesn't get cleared when hitting enter in `FieldAutosuggest`.
- [x] The preview for `Submis

[2020-01-14 18:24] quoideneuf commented on #4868
@NateWr While testing this, I found a case where an API user can access listed submissions, but not individual submissions.

https://gist.github.com/quoideneuf/2de8b17657030685c34aa079918b8a6a

[2020-01-14 18:30] AhemNason commented on #5392
I feel like being able to set article publication dates en masse by updating it in issue metadata is a good call. I think it's a valuable option to have. I think adding post-"publication" and keeping those dates is the right call also.

While we're talking about dates, I might suggest that "submission date" should be a display option instead of the default, because sometimes people submit outside

[2020-01-14 18:35] NateWr commented on #4868
Thanks! Not intended but I can see how it might happen. Can you confirm a few things for me and then I can try to reproduce tomorrow:

1. Is dbarnes a Journal Manager (`ROLE_ID_MANAGER`)? (it will be if you haven't changed any user groups/roles from the test data.)
2. Is dbarnes assigned as a participant to this submission? (you can see this by opening the submission workflow and looking at the Pa

[2020-01-14 19:09] quoideneuf commented on #4868
@NateWr I removed dbarnes's journal editor role, but he remained assigned as the journal editor to the submission. As a result, it appears he can see every submission via the list endpoint, but no submission via its own endpoint. So maybe this is an edge case particular to a user who no longer has the role but still has the associations.

[2020-01-14 19:14] quoideneuf commented on #4868
@NateWr It doesn't look like the author data is being obscured for reviewers. Below is a screenshot showing AMMCRAE is a reviewer for submission 2. The user has no other role than 'reviewer' but can see the author name via the API per the response pasted below

![image](https://user-images.githubusercontent.com/1626547/72374235-dce3b300-36d7-11ea-9719-7429b744246d.png)

[code]

[2020-01-14 19:38] mpbraendle commented on #5391
Have not seen any errors (PHP and JavaScript) when trying to reproduce the behaviour. It just seems that the callback for the graph display is not triggered anymore.

Behavior is independent of browser used (Safari, Firefox).

[2020-01-14 19:52] mpbraendle commented on #5391
Hmm. My fault. It displays statistics on "Active submission". If you increase the date range back to the past, of course nothing changes.
If you enable the filters and filter by section, then the graph changes.

I somehow assumed that the graph above and the table below are connected. Only partially, via the filters.

[2020-01-14 19:52] #5391 closed

[2020-01-14 20:02] asmecher commented on #5391
Not a problem, always happy to have people looking this stuff over!

[2020-01-14 21:58] quoideneuf commented on #4873
@NateWr This appears to be in order. I assigned myself to the issue, should I go ahead a close?

[2020-01-15 08:56] NateWr commented on #4873
Thanks!

[2020-01-15 08:56] #4873 closed

[2020-01-15 09:39] heike-r commented on #5387
I don't see any messages that might be related to this issue in the PHP error log.

[2020-01-15 11:17] NateWr opened #5396 "Stage assignments remain after user's role is removed"
**Describe the bug**
A user assigned to a submission as an editor may later lose that role in the journal. When they do, they remain assigned to the submission as an editor even though they don't have that role.

The user's remaining roles allow them to access some submissions. This may happen if an editor or subeditor is reassigned as a reviewer, for example. This will lead to a circumstance in w

[2020-01-15 11:21] NateWr commented on #4868
Thanks Brian! I was able to reproduce the problem you described with an editor reassigned as a reviewer who still has the old stage assignment. I think it is a rare case and not a new issue, so I've filed that separately here: https://github.com/pkp/pkp-lib/issues/5396.

I was also able to produce the issue with author information appearing in the API when the current user has a double blind revie

[2020-01-15 11:27] temin opened #5397 "Strange folders in pkp-lib code"
I noticed there are three folders in [pkp-lib/plugins](https://github.com/pkp/pkp-lib/tree/master/plugins) folder that probably don't belong there:

- citationLookup and citationParser / containing only pl_PL and sl_SI locale files
- oaiMetadataFormats/dc / containing what looks like a plugin

Folders are also present in latest OMP and OJS releases.

[2020-01-15 11:42] NateWr commented on #5397
Thanks @temin! Looks like the `citationLookup` and `citationParser` plugins were removed in https://github.com/pkp/pkp-lib/issues/2874. Those locale files probably got merged in with a bit of lag time after the plugin had been removed.

I've removed everything for those two plugins. @asmecher heads up that I manually modified a couple of locale files: https://github.com/pkp/pkp-lib/commit/ab6ac9fb

[2020-01-15 11:47] NateWr commented on #5392
A note on how it will work in v3.2:

- A publication has a `datePublished` field which can be set manually. In traditional publishing setups it can and should remain empty.
- When an issue is published, it will set the `datePublished` of every publication scheduled in the issue, _unless that publication already has a value for `datePublished`_.

So the expected behaviour is for no one to touch it

[2020-01-15 11:57] NateWr commented on #5368
If you don't find anything in your PHP error log, or aren't sure how to check it, I'd encourage you to try posting on the [community forum](https://forum.pkp.sfu.ca/). You'll find a community more able to assist you in tracking down things like this there.

[2020-01-15 11:57] #5368 closed

[2020-01-15 12:27] NateWr commented on #5386
Fixed in https://github.com/pkp/reviewReport/commit/3c132d2398fc85939d995473d3f1c921ab129c22

[2020-01-15 12:27] #5386 closed

[2020-01-15 12:32] isgrim commented on #2986
Found this old thread while looking through our internal wiki. Keeping it here for reference.

I want to take some time this year to work on this. Maybe in the coming OJS-DE workshop in Heidelberg in February.

https://forum.pkp.sfu.ca/t/integration-of-person-norm-data-and-authority-files-for-authors/2796/11

[2020-01-15 14:15] sarahpearson commented on #5373
This is correct. Unported was the terminology used for version 3.0. Thanks!

[2020-01-15 14:19] quoideneuf commented on #4877
@NateWr All seems to work as described, however it does seem like the author can edit the metadata fields in the form even though the submit button has been removed (items 1 and 4 in the criteria list). Further, I was able to save the metadata changes by typing ``$('.pkpForm').submit()`` in the console...

[2020-01-15 14:24] NateWr commented on #4877
Thanks @quoideneuf. Can you check the stage assignment for the author to see if the checkbox to permit editing metadata is on/off?

[2020-01-15 14:42] jnugent opened #5398 "Custom date ranges in statistics report generator ignored"
In stable-3_1_2, the custom date ranges when creating a custom stats report are currently being ignored. This seems to be a result of the recent conversion to JSON for the passing of the parameters.  The date range is normally supposed to be included in the filter variable as an array within that larger array, but it's coming in as a stdClass instead. The is_array test in the MetricsDAO getMetrics

[2020-01-15 17:28] Vitaliy-1 commented on #4704
I think changing `array_merge` function to `array_merge_recursive` here in `modifyStyle` [method of ThemePlugin class](https://github.com/pkp/pkp-lib/blob/ab6ac9fbc58b5a700c80410011032b546aea08e4/classes/plugins/ThemePlugin.inc.php#L229) will solve the problem.

[2020-01-15 17:59] asmecher commented on #5392
@NateWr, thanks for the details -- that works around the original issue sensibly. I don't think a back-ported fix to 3.1.2-x is a huge priority so I'll close this for now.

[2020-01-15 17:59] #5392 closed

[2020-01-15 18:02] asmecher commented on #5397
`lib/pkp/plugins/oaiMetadataFormats/dc` contains some shared aspects of the application-specific `plugins/oaiMetadataFormats/dc` code. This is old stuff and we've moved away from splitting plugins between repositories, but a few cases remain awaiting refactoring.

@NateWr has addressed the others you noted, so I'll close this issue.

Thanks, @temin!

[2020-01-15 18:02] #5397 closed

[2020-01-15 18:03] asmecher commented on #5387
Hmm, if not your PHP error log, what about your browser console?

[2020-01-15 18:11] asmecher commented on #5354
That looks like a sensible cleanup to me, Nate, thanks! I see some room for improvement around the pagination stuff -- that's another case where I'd love to get rid of our old home-grown stuff entirely -- but let's come back to that along with more discussion about e.g. DAO vs. query builder etc.

[2020-01-15 19:17] asmecher commented on #5398
PR: https://github.com/pkp/pkp-lib/pull/5399

@jnugent, does this need forward-porting to the `master` branch?

[2020-01-15 19:21] jnugent commented on #5398
@asmecher yep!  Right in here:  https://github.com/pkp/pkp-lib/blob/master/classes/statistics/PKPMetricsDAO.inc.php#L133

[2020-01-15 19:24] asmecher commented on #5398
OK, thanks -- would you mind putting together a PR for that?

[2020-01-15 19:30] asmecher commented on #5398
Thanks, @jnugent!

[2020-01-15 19:30] #5398 closed

[2020-01-16 04:11] quoideneuf commented on #4877
@NateWr Oops, looks like I was wrong about this. I do in fact get 403 responses when I try to post the metadata form with JS as the author after the checkbox has been unticked. Sorry about that!

[2020-01-16 08:30] forgive38 opened #5404 "[OJS] when user's email is updated, author's email is not updated"
Hi all,

I discovered this when a user - the author - updated his email.
And when the final decision was recorded, he said that he didn't receive email information.
But the email was sent on his old email address.

For me, there is a lack of consistency as when we notify author - with the link in submission participants - OJS use the email from the user profile not the author's email

And for me,

[2020-01-16 09:51] NateWr commented on #4877
No worries! Thanks for taking a look.

[2020-01-16 09:51] #4877 closed

[2020-01-16 11:52] ajnyga opened #5405 "Link Reviewer's Attachments to Editorial Decision emails in Editorial History"
**Describe the problem you would like to solve**
When editor's attach a file to an editorial decision after reviews, there is no easy way to check what files were attached.

**Describe the solution you'd like**
The attached files should show up in the email log visible in Editorial history. This should only be a matter of linking the files there.

**Who is asking for this feature?**
Editors

[2020-01-16 15:37] asmecher commented on #5404
Currently all workflow processes depend on the user account, not the author. The link between the two of them is intentionally weak -- the author is a matter of the scholarly record, and the user is a matter of the workflow. If someone e.g. changes their name, user records should change, but author records should not.

However, not all authors will have user records -- so I do think it's important

[2020-01-17 09:50] NateWr opened #5407 "Use v-cloak to hide unstyled content flash before Vue kicks in"
In Chrome the page is rendered before Vue's template processing kicks in. This leads to a momentary flash of content that is not styled on the submission workflow and settings pages.

Use the `v-cloak` attribute to hide content like this until Vue has processed it.

[2020-01-17 09:53] #5358 closed

[2020-01-17 09:56] #5277 closed

[2020-01-17 09:56] #5236 closed

[2020-01-17 10:03] #4858 closed

[2020-01-17 10:04] #4859 closed

[2020-01-17 10:04] #4868 closed

[2020-01-17 10:06] NateWr commented on #4874
@withanage I've merged in the permissions fixes. Would you be able to take another pass at the problems you found before (https://github.com/pkp/pkp-lib/issues/4874#issuecomment-5687749580) and see if they are fixed?

[2020-01-17 10:07] #5354 closed

[2020-01-17 10:07] #5210 closed

[2020-01-17 10:10] #5380 closed

[2020-01-17 13:30] ajnyga commented on #4998
@ctgraham

Updated pull requests here:
stable-3_1_2: pkp/orcidProfile#82
master: pkp/orcidProfile#83

I am not changing the variable for now so that we can have this important fix implented asap. I will create a new issue about the variable name.

[2020-01-17 22:44] asmecher opened #5408 "Payments tab does not appear when payments are enabled in settings"
When the payment options in OJS are configured, a new left-hand menu becomes available called "Payments".

However, when the payment settings are configured, it doesn't become visible -- it's necessary to reload the page before it'll be visible.

(See `cypress/tests/integration/Subscriptions.spec.js` for a work-around that should be removed when this is fixed.)

[2020-01-17 23:32] asmecher commented on #5281
Remainders are outdated; closing.

[2020-01-17 23:32] #5281 closed

[2020-01-17 23:33] asmecher commented on #5070
There is a partial test in https://github.com/pkp/quickSubmit/blob/master/cypress/tests/functional/QuickSubmit.spec.js; it currently submits the article but does not check whether it was/should be published.

[2020-01-18 04:36] dahlia1 opened #5409 "ISSN"
**Describe the bug**
Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What application are you using?**
 OJS or OMP version X.X.X

**Additional information**
Please add any screenshots, logs or other information we can

[2020-01-18 04:41] dahlia1 opened #5410 "Pengaruh Iklan pada sebuah Marketplace"
**Describe the bug**
Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What application are you using?**
 OJS or OMP version X.X.X

**Additional information**
Please add any screenshots, logs or other information we can

[2020-01-18 04:53] dahlia1 opened #5411 "ISSN"
**Describe the problem you would like to solve**
Example: Our editors need a way to [...]

**Describe the solution you'd like**
Tell us how you would like this solution to be solved.

**Who is asking for this feature?**
Tell us what kind of users are requesting this feature. Example: Journal Editors, Journal Administrators, Technical Support, Authors, Reviewers, etc.

**Additional information**
Ad

[2020-01-18 04:56] #5409 closed

[2020-01-18 04:57] #5410 closed

[2020-01-18 04:57] #5411 closed

[2020-01-18 17:53] Adnanpij opened #5412 "Upgrade the OJS but homepage does not work properly"
![image](https://user-images.githubusercontent.com/60043094/72668080-f3826500-3a5d-11ea-87ba-15618c1fbd68.png)
how to fix this issue

[2020-01-18 17:56] ViRuSTriNiTy commented on #5412
Try clearing the cache folder or go to administration and clear template cache there.

[2020-01-18 17:57] Adnanpij commented on #5412
Tried, but doesn't work, i upgraded OJS, after that it happened.

[2020-01-18 18:01] Adnanpij commented on #5412
Tried, but doesn't work, i upgraded OJS, after that it happened. Is there any other way?

[2020-01-18 18:25] asmecher commented on #5412
@Adnanpij, I suspect the upgrade did not complete successfully. Do you have the output from the upgrade process?

[2020-01-18 18:32] Adnanpij commented on #5412
Upgrade was complete, there was no issue,

[2020-01-18 19:14] asmecher commented on #5412
@Adnanpij, can you check what version of OJS your database reports? See these instructions: https://forum.pkp.sfu.ca/t/how-do-i-determine-my-pkp-softwares-version/28534

Follow the instructions for "From the command line", "From the Web", or "From the Database".

The "From the Source Code" instructions will not help in this case -- that's not what we're looking for.

[2020-01-19 01:51] Adnanpij commented on #5412
I am using 3.1.2.4

[2020-01-19 01:52] Adnanpij commented on #5412
I upgraded from 3.1.2.1 to 3.1.2.4,So there is this issue, Please guide me how to fix

[2020-01-19 02:12] asmecher commented on #5412
@Adnanpij, how did you check your version?

[2020-01-19 02:38] Adnanpij commented on #5412
Through Site administration, system information

[2020-01-19 03:06] asmecher commented on #5412
OK, good. Can you check your PHP error log for relevant messages?

[2020-01-19 05:36] Adnanpij commented on #5412
![aaaa](https://user-images.githubusercontent.com/60043094/72675545-b0a5a900-3ac0-11ea-9119-ebecff1bc552.PNG)
Here is error log screenshot

[2020-01-19 05:37] Adnanpij commented on #5412
![aaaa](https://user-images.githubusercontent.com/60043094/72675548-d6cb4900-3ac0-11ea-9d4c-ba35370e6a30.PNG)
Here is error log screenshot

[2020-01-19 14:56] dahlia1 opened #5414 "GRAPH"
**Describe the bug**
Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What application are you using?**
 OJS or OMP version X.X.X

**Additional information**
Please add any screenshots, logs or other information we can

[2020-01-19 14:56] dahlia1 commented on #5414
GRAPH

[2020-01-19 14:59] dahlia1 opened #5415 "PERBEDAAN ISSN DAN ISBN"
**Describe the problem you would like to solve**
Example: Our editors need a way to [...]

**Describe the solution you'd like**
Tell us how you would like this solution to be solved.

**Who is asking for this feature?**
Tell us what kind of users are requesting this feature. Example: Journal Editors, Journal Administrators, Technical Support, Authors, Reviewers, etc.

**Additional information**
Ad

[2020-01-19 16:00] #5414 closed

[2020-01-19 16:02] asmecher commented on #5415
Hi @dahlia1 -- please stop opening new (blank) issues. If you're looking for help with OJS or other PKP software, try https://forum.pkp.sfu.ca

[2020-01-19 16:02] #5415 closed

[2020-01-19 16:18] withanage commented on #4874
Thanks @NateWr
I have tested the both  working scenarios and  now all of them work.
I could also test the apiToken with get requests and they work too.
Updated the [ticket header ](https://github.com/pkp/pkp-lib/issues/4874#issue-463725118) with all the confirmations.

[2020-01-19 17:46] asmecher commented on #5412
@Adnanpij, I don't see anything relevant there (though there might be something further up in the log).

It looks like you might be missing some files in plugins/themes/default (looking at https://forum.pkp.sfu.ca/t/upgraded-ojs-there-is-error-with-homepage/58095/4). Check to make sure all the files in the download package are present.

[2020-01-20 03:23] Adnanpij commented on #5412
https://ss0109.hostingcare.net:2083/cpsess4953354460/frontend/paper_lantern/filemanager/showfile.html?file=error_log&fileop=&dir=%2Fhome%2Fpacificinternati%2Fpublic_html&dirop=&charset=&file_charset=&baseurl=&basedir=
can you please help me check this. log error file
I could not found default theme

[2020-01-20 05:07] asmecher commented on #5412
@Adnanpij, that's behind a CPanel login (please don't send me credentials). Did you check the directory I listed above?

[2020-01-20 07:37] ViRuSTriNiTy commented on #5412
@asmecher It really seems like there is no theme enabled at all as the web page does not load any theme related CSS or javascript. @Adnanpij Please check whether a theme plugin is enabled in the plugin settings.

[2020-01-20 07:54] Adnanpij commented on #5412
Okay, that doesn't work.

[2020-01-20 07:54] Adnanpij commented on #5412
Yes, i installed two new themes and tried both, was enable

[2020-01-20 08:51] ViRuSTriNiTy commented on #5412
@Adnanpij The classic theme clearly includes additional files like CSS, fonts and stuff but the web page currently does not serve those so i guess the plugin isn't loaded. Is it possible for you to provide the full PHP error log as a file?

[2020-01-20 09:18] Adnanpij commented on #5412
Thanks, it is resolved.

[2020-01-20 09:22] Adnanpij commented on #5412
Thanks everyone for help. Mr. "ViRuSTriNiTy" was correct, that theme was not enabled, So installed new theme, and enabled and it start working, even i couldn't find the default theme, but its fine.

[2020-01-20 09:22] #5412 closed

[2020-01-20 13:57] heike-r commented on #5075
Please consider, that some use self-made email templates for individual notifications. Those should not be filtered out.
i.e. we have a 'your article has been published' template, that we send to the authors via the 'Notify' button in the Participants Box, when their article appears online.

[2020-01-20 19:12] asmecher opened #5417 "DC OAI interface does not include authors"
In the current pre-3.2 master branch of OJS, the DC OAI records do not include author information (dc:creator).

This appears to be caused by the continuing reliance of the OAI interface on `$article->getAuthors` rather than `$article->getCurrentPublication()->getData('authors')`.

Check if this issue exists more broadly, and if it's desirable to deprecate/fix/remove `$article->getAuthors`, as it

[2020-01-20 20:36] asmecher commented on #5417
The function is already deprecated, and this issue turned out to be a typo.

[2020-01-20 20:36] #5417 closed

[2020-01-20 21:56] asmecher commented on #5417
Covered by https://github.com/pkp/pkp-lib/commit/c86dfe190ed043e44adf416e6969328b0f591f92#diff-46e06cdbfbe00969ccc626a9bef66ed6R39

[2020-01-20 23:00] fmotoki opened #5418 "[OJS] Modify submission date using QuickSubmit plugin"
Hi! QuickSubmit for OJS3 no longer allows to change the submission date. Setting this date is crucial for newly migrated journals, as well as journals that use a separate editorial manager such as ScholarOne. It used to possible on OJS2, I cannot fathom why the functionality was dropped.

[2020-01-21 04:55] asmecher commented on #5418
@fmotoki, I don't think OJS 2.x and 3.x are different in this regard -- the submission date is always the date on which the submission gets entered into OJS (i.e. the date QuickSubmit is used to create the submission). The publication date can be entered on the Quick Submit form in both OJS 2.x and 3.x.

[2020-01-21 16:26] ctgraham commented on #4998
Sounds like a plan to me.  Looks good here.

[2020-01-22 00:53] asmecher opened #5419 "Payment settings form does not allow selection of single active payment plugin"
Since the settings form rewrite, the payment settings form displays settings for all available payment plugins.

However, the payment code depends on the selection of a single active payment plugin for payment handling.

The settings form should permit identification of a single payment plugin as before. (This is the `paymentPluginName` setting, still configured in `schemas/context.json`, but not

[2020-01-22 01:18] #5419 closed

[2020-01-22 01:52] asmecher commented on #5408
@NateWr, is there a new preferred mechanism for this kind of thing that you could point me to?

[2020-01-22 23:01] asmecher commented on #3875
Requested in the forum e.g. here: https://forum.pkp.sfu.ca/t/remote-issue-galleys/58170

[2020-01-23 00:19] asmecher commented on #5365
We use PHPMailer for email delivery; it supports Gmail's OAUTH-based APIs, as documented here:
https://github.com/PHPMailer/PHPMailer/wiki/Using-Gmail-with-XOAUTH2

The missing piece will be adding support for OJS's `config.inc.php` file to properly set PHPMailer up with the required configuration. I've hacked up a draft patch to do this -- but it's completely untested, as I don't have a domain ha

[2020-01-23 01:07] asmecher commented on #4883
Tested and fixed subscription purchase, article purchase, issue purchase, APC. I don't think Paypal will be automatable with Cypress due to pop-ups and redirects for authorization.

[2020-01-23 01:07] #4883 closed

[2020-01-23 11:13] #4874 closed

[2020-01-23 11:24] NateWr commented on #5408
No, not yet. Things are still pretty ugly when tying the parts of Vue.js together with the old stuff. I hope in the next major version to bring the nav menus into Vue.js. For now, the ugly workaround is to reload the page on the form submission.

You can do this with a custom form component in Vue that reloads the page when the form returns successfully. You can see an example of a form with a cus

[2020-01-23 11:45] #4921 closed

[2020-01-23 11:58] NateWr opened #5420 "[OMP] Can't save featured and new releases in catalog entries"
A PR exists for this that needs to be rebased and tested.

https://github.com/pkp/omp/pull/735

[2020-01-23 13:09] openacademia commented on #5047
Sorry for jumping into this closed thread. We have had several journals contact us and ask for XML conversions, i.e. they send us the published PDFs which our typesetter converts to XMLs. We help upload the XMLs alongside the already published PDFs. Will this no longer be possible? I also see a potential problem when using the Quick Submit Plugin to upload journal archives. In order to be able to

[2020-01-23 14:19] NateWr commented on #5047
Hi Emma,

There are two options if you post the XML after a submission is already published. You can create a new version, add the XML galley, and publish that version. Or there is an "unpublish" button so you can unpublish that version, add your XML, and republish it. We discourage the unpublish flow in most cases but its there for editorial circumstances where you feel its worth discarding the p

[2020-01-23 14:52] openacademia commented on #5047
Hmm, it sounds like we will no longer be able to provide XML conversions for archives as a service. Both options would be too much of a hassle and (I suppose) would lead to either loss of editorial history (option1) or loss of download/usage stats (option2). Also, option1 would generate a new DOI and it would snowball into kind of a nightmare. Offering XML conversions is just a minor component of

[2020-01-23 14:54] NateWr commented on #4870
We've gotten sign-off on my previous comment and this is ready for review.

[2020-01-23 14:59] NateWr commented on #5047
Neither option should lead to loss of editorial history or download/usage stats. The publishing step in the workflow has been changed significantly and it may not be as much of a hassle as you're anticipating. I know that Publishing Services is doing some testing on 3.2 at the moment. It might be a good idea to reach out to them to discuss your particular use case in more detail and maybe see if y

[2020-01-23 15:20] openacademia commented on #5047
Thanks Nate, I might do that.

I probably misunderstood option 1, "creating a new version and publishing that one". I thought you meant creating a new submission URL altogether and adding the PDF and XML to that new version. That would for sure nullify any editorial history or usage stats for the previously published version AND generate a new submission ID, new DOI etc.

About the Quick Submit is

[2020-01-23 15:39] openacademia commented on #5151
Yes! I have missed the author names many times, too. If there is a large issue/volume with many articles with similar titles, it can be hard distinguishing between them.

[2020-01-23 15:39] asmecher opened #5421 "Resolve "Uncaught TypeError" problems due to inaccurate function definitions"
See https://forum.pkp.sfu.ca/t/error-after-update-from-3-1-2-to-3-2-1-4/58184 for details.

This causes error messages like this:
[code]

[2020-01-23 15:48] asmecher commented on #5421
This affects PHP 7.0; PHP 7.1 and newer support `: void` return types in function definitions and without an explicit `return` in the function: https://wiki.php.net/rfc/void_return_type

The above patches correct the issue for OJS 3.1.2-x. Note that OJS 3.1.2 *does not explicitly support* PHP 7.0, so really a PHP upgrade is the best solution.

[2020-01-23 15:48] #5421 closed

[2020-01-23 15:51] openacademia commented on #4976
I just want to add my support for this improvement! The "Revised Version Uploaded" email should be triggered by the Complete button, not the Continue button (so as to not trigger several emails for the same revision).

We also have several authors feeling unsure if the are "done" as there is no clear indication that they have fulfilled the task simply by uploading a revision. Ideally, there would

[2020-01-23 16:38] asmecher commented on #5374
Aaaaand we're done!

[2020-01-23 16:38] #5374 closed

[2020-01-23 18:52] asmecher commented on #4842
Just one small fix on top of what you've already ported -- thanks, @NateWr!

[2020-01-23 18:52] #4842 closed

[2020-01-23 20:31] israelcefrin opened #5423 "CSS file upload error when saving"
**Describe the bug**
When there is a current CSS file uploaded and you change other setting and try to save it returns an error saying "The file yo uploaded could not be found".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings / Appearance / Advanced / upload a CSS file and save'
2. Go to other section or reload the page.
3. Go to 'Settings / Appearance / Advanced / upload a f

[2020-01-23 20:51] israelcefrin opened #5424 "Remove Favicon alternative text field"
**Describe the problem you would like to solve**
There is a Alternate text field with Favicon upload Advanced feature.

**Describe the solution you'd like**
This content is not used in any place. The favicon HTML tag `<link rel=...>` doesn't have a `alt` or `aria-label` parameter to be used. Could this Alternate text field be removed? Given it is an unnecessary content.

**Additional information**

[2020-01-24 01:34] asmecher commented on #5169
Updated for OJS 3.2 (PO format): https://github.com/asmecher/customLocale/commit/567b2da2bf21a99e2b471f927ddefe9fe25d0b5a

[2020-01-24 01:34] asmecher commented on #5169
Added integration testing: https://github.com/asmecher/customLocale/commit/9170ddc4ca82a4a4d54a8acd62f426e749a906c0

[2020-01-24 11:11] NateWr commented on #3595
[portal-vue](https://github.com/LinusBorg/portal-vue) may be a good option for implementing modals.

[2020-01-24 11:44] bastoune opened #5425 "OJS3.x compatibility with Mysql and PHP 7+"
I based my installation versions based on this link informations :
https://pkp.sfu.ca/ojs/ojs_download/

**Describe the bug**
I get a fatal error issue when the install process try to connect to a mysql DB.
[code]

**To Reproduce**
1. Php 7.3, Mysql 5.7
2. Fullfill the install form
3. Get lots of deprecated errors and the FATAL above

**What application are you using?**
 OJS 3.1.2-4

[2020-01-24 12:06] NateWr commented on #5420
Rebased and running tests. Discovered a few more bugs related to ordering by title and displaying new releases.

PRs:
https://github.com/pkp/pkp-lib/pull/5426
https://github.com/pkp/omp/pull/748

[2020-01-24 12:37] NateWr commented on #5407
Added in the commits above.

[2020-01-24 12:58] ramanmittal-kiwi commented on #2643
I don't have a PHP background. I am facing the same issue on installation at my window 10 with XAMPP. Please help.

[2020-01-24 13:11] NateWr commented on #5420
Merged.

[2020-01-24 13:11] #5420 closed

[2020-01-24 15:27] jmacgreg opened #5427 "Saving the Crossref plugin settings seems to hang, but in fact completes"
If I go to Tools > Import/Export > Crossref XML Export Plugin, make some changes, and click "Save" at the bottom of the page, nothing appears to happen. There's no spinner, and no indication that the page has been saved. However if I navigate away from that page by eg. clicking on another link in the sidebar, I get the "settings have been saved" notification on the subsequent page. If I return to

[2020-01-24 15:39] asmecher commented on #2643
@atishagrawal, download OJS from https://pkp.sfu.ca/ojs_download, not GitHub. The GitHub downloads won't contain important pieces like submodules.

[2020-01-24 15:41] jmacgreg opened #5428 "Publication > Permissions & Disclosure fields aren't prepopulated"
If I have already preconfigured a journal's permissions and disclosure defaults (ie. copyright holder and license info, including license URL), I would expect those defaults to be applied to new submissions, and available under the Publication > Permissions & Disclosure tab. Instead, all I see are blank fields for Copyright Holder and License URL.

OJS 3.2, code pulled from today.

[2020-01-24 15:50] NateWr commented on #5423
Thanks @israelcefrin, good catch!

PRs:
https://github.com/pkp/pkp-lib/pull/5429
https://github.com/pkp/ui-library/pull/60
https://github.com/pkp/ojs/pull/2586
https://github.com/pkp/omp/pull/749

[2020-01-24 15:50] ramanmittal-kiwi commented on #2643
Thanks for your quick help. After putting the files in htdocs\ojs1 directory. When I browse with web browser I get file structure of ojs1 directory like this
![Index of _ojs1](https://user-images.githubusercontent.com/29918577/73082306-3e352e80-3eef-11ea-81e5-11af6256dc7f.png)

[2020-01-24 15:51] jmacgreg opened #5430 "Refine "Public URL Identifier" availability and behaviour"
**Problem(s):**
1) What we now call "Public URL Identifiers" aren't identifiers, at least in the same sense as DOIs - they are custom URL slugs.
2) creating a tab at the same level/importance of galleys, metadata, references, etc., called "Identifiers" with only this item in it by default can be misleading - folks may not understand that this is a custom URL slug and not eg. a field to configure a

[2020-01-24 15:52] jmacgreg commented on #5430
Note: this isn't a bug per se, but more of a potential for confusion. Time depending, if this has to wait to a later release, that's fine - but it should be reviewed at some point. @AhemNason also says that a small note attached to the field describing its intended use would also be fine.

[2020-01-24 15:54] asmecher commented on #2643
@atishagrawal, you're missing some files there. But rather than following up here, could you post on our support forum (linked above)?

[2020-01-24 15:58] asmecher commented on #5425
@bastoune, see e.g.: https://forum.pkp.sfu.ca/t/uncaught-error-call-to-undefined-function-mysql-connect/34344

[2020-01-24 15:58] #5425 closed

[2020-01-24 15:58] jmacgreg opened #5431 ""Save" button is not available for my own submission's Publication tabs"
If I submit an article under my role as journal manager, assign myself as the editor, and move it all the way to production, and then try to edit any of the Publication tabs, I don't have access to the "Save" button for any of those tabs. So I can't for example, assign it to an issue. I am, however, able to create and upload a galley. That "Save" button should be available to me, especially if I'm

[2020-01-24 15:59] ramanmittal-kiwi commented on #2643
Sure

[2020-01-24 16:17] ramanmittal-kiwi commented on #2643
Thanks again for the quick reply. I have posted at the issue at your forum. Please Reply at https://forum.pkp.sfu.ca/t/get-dbconnection-error-in-ojs-3-0-with-xampp-7-2-26/58198.

[2020-01-24 18:27] jmacgreg opened #5433 "Editorial Activity page is broken - PHP syntax error"
OJS 3.2, code from today.

If I go to Statistics > Editorial Activity in the OJS backend, I receive a blank page with the following PHP error:

`'PHP message: PHP Parse error:  syntax error, unexpected ')' in [...]/lib/pkp/classes/components/PKPStatsEditorialContainer.inc.php on line 56\n'`

If I change https://github.com/pkp/pkp-lib/blob/master/classes/components/PKPStatsEditorialContainer.inc.ph

[2020-01-24 18:35] jmacgreg opened #5434 "Users report unavailable - PHP Fatal Error"
OJS 3.2, code from today.

If I go to Statistics > Users, I get a blank page with the following in the error log:

`'PHP message: PHP Fatal error:  Uncaught Error: Call to undefined method APP\\Services\\QueryBuilders\\UserQueryBuilder::get() in [...]/lib/pkp/classes/services/PKPUserService.inc.php:561\nStack trace:\n#0 [...]/lib/pkp/classes/services/PKPUserService.inc.php(585): PKP\\Services\\PKP

[2020-01-24 18:50] asmecher commented on #5433
Fixed just as you suggested -- thanks, @jmacgreg.

[2020-01-24 18:50] #5433 closed

[2020-01-24 18:59] asmecher commented on #5434
I think this is just a remaining bit of cleanup after https://github.com/pkp/pkp-lib/commit/69d6681832 resolved some ambiguous function naming. @NateWr, mind taking a quick glance at https://github.com/pkp/pkp-lib/commit/ad031d6f20140d7c9fb3c7ba0079deb10df03d7b to confirm that I don't need to involve `UserQueryBuilder::appGet`?

[2020-01-24 18:59] #5434 closed

[2020-01-24 19:32] asmecher opened #5435 "Improve DAO annotation for PHP Scrutinizer"
PHP Scrutinizer can't figure out what kind of DAO a DAO is without type annotation like this:

https://github.com/pkp/ojs/commit/a1835aad75695472169d3dfaad90e42dc0540977#diff-ea4d965313600d82355306b0d8075484R75

I think some editors also need the same annotation (we already have some in the codebase).

Use sed to add these annotations.

[2020-01-24 19:34] asmecher commented on #5435
Magic one-liner:
[code]

[2020-01-24 19:38] #5435 closed

[2020-01-24 20:46] asmecher opened #5437 "Call to nonexistent function SubmissionDAO::deletePubId"
Scrutinizer report of missing function:
[code]
This appears to be a call to `SubmissionDAO` for a function that was migrated to `PublicationDAO`. See `classes/plugins/PubIdPlugin.inc.php` in the `clearIssueObjectsPubIds` function:
[code]
`$deletePubId` does not exist on `SubmissionDAO`, but it does on `PublicationDAO`.

[2020-01-25 01:00] asmecher commented on #5169
# File Conversion

If you've used this plugin prior to OJS/OMP 3.2, and want to continue using your customized locale content with OJS/OMP 3.2 or newer, you **will need to convert** the older XML-based custom locale files to the newer PO format. In the process **you will also need to move the files** from...

`[install_path]/public/presses/*/customLocale`

...to...

`[files_dir]/presses/*/customLo

[2020-01-25 01:01] #5169 closed

[2020-01-25 01:40] asmecher opened #5438 "Submission sequence no longer appears to be supported"
It appears that the addition of versioning (at least partially) removed support for submission ordering.

Previously the ordering of submissions within a section (in the table of contents) was designated using the `published_articles.seq` column. That has been removed and no equivalent has been added to `submission` / `publications`.

(The ordering tools in the Issues > Back Issues > Table of Cont

[2020-01-25 14:55] jnugent opened #5439 "externalFeed plugin broken in PHP7"
The externalFeed plugin in OJS 2.4 is broken in PHP7, because of calls to =& new.  PR incoming.

[2020-01-25 15:01] jnugent commented on #5439
This is low priority, and I realize there might not be a next version of OJS 2.4.  It's nice for us though, because it means we can standardize our PHP versions on the servers without having to maintain patches.

[2020-01-25 23:06] asmecher commented on #5439
Don't forget to drop the PR link into the issue! https://github.com/pkp/ojs/pull/2589

[2020-01-25 23:06] #5439 closed

[2020-01-27 10:23] NateWr commented on #5434
That change looks correct, thanks! `appGet()` should never need to be called directly as it should be called during `$qb->getQuery()`.

[2020-01-27 11:44] NateWr commented on #5430
I'm totally behind this, but it's my understanding that this field is in use as a kind of pub id -- sometimes referencing a submission's ID in other systems or something like that. I'd love to separate these out.

At the moment, the URL slug is stored in a setting called `pub-id::publisher-id` and this is used in methods like `getBestId()`. It is also in use by galleys, issues and issue galleys --

[2020-01-27 12:32] NateWr commented on #5431
Thanks! This was a permissions gap in cases where an admin with the journal manager role submits as journal manager and is never give a stage assignment but is implicitly granted access to the workflow stages. Tricky one. Nice catch. :+1:

PR:
https://github.com/pkp/pkp-lib/pull/5440

Tests:
https://github.com/pkp/ojs/pull/2590

[2020-01-27 12:34] NateWr commented on #5431
Hmm, I see now that in the original report you said that you assigned yourself as editor. I was unable to reproduce the problem in that way. Once this fix is merged I'll ask you to try to reproduce it one more time.

[2020-01-27 12:39] NateWr commented on #5423
Merged, thanks!

[2020-01-27 12:39] #5423 closed

[2020-01-27 12:49] NateWr opened #5441 "Review all in-app help links before 3.2 is released"
All links to the in-app help guide should open the appropriate section. These must be manually reviewed.

Problems:
- [ ] Settings > Distribution > License > Copyright Holder
- [ ] Settings > Distribution > License > License

[2020-01-27 13:00] NateWr commented on #5428
Two options here:

1. We assign the defaults when submission is completed and the workflow begins.
2. We assign the defaults when a publication is published **if** the copyright Holder and License URL remain empty.

I am leaning towards option 1 because this provides the clearest presentation to author and editor at every step of the process. The downside is that if a journal changes its default s

[2020-01-27 13:04] NateWr commented on #5428
It occurs to me now that the Copyright Holder option can be set to Journal or Author. In this case, it is probably best to do Option 2 because author names are likely to change during the course of submission and editors are unlikely to keep the Copyright Holder value in-sync.

[2020-01-27 13:37] AhemNason commented on #5430
Honestly, I think the biggest issue is that it’s called a “public id” If it
were called a “publisher id” and had some copy about what a publisher ID
might look like, I’m ok putting it there.. “public URL identifier” doesn’t
really describe what this is either.

On Mon, Jan 27, 2020 at 6:44 AM Nate Wright <notifications@github.com>
wrote:

[2020-01-27 14:25] NateWr commented on #5431
I've merged that in now. If you get a chance to update your test install and try again that'd be great. :+1:

[2020-01-27 14:40] NateWr commented on #5430
To my knowledge, there is no such guidance. It's an extra pub id with no specific intended purpose, that we also use for the URL though we have never said as much to editors.

[2020-01-27 14:46] jmacgreg commented on #5428
Hi @NateWr, I think I'm in favour of Option 2 as well. I'm thinking about this while also thinking about DOIs - something that could (and probably moreso than licensing info, will) change over the lifetime of the article's production, esp. as the article is assigned to an issue, etc. These things shouldn't be modified unless there's a good reason to do so, and I think it would be helpful to remove

[2020-01-27 14:52] NateWr commented on #5437
This should do it. We loop over the publications and delete the pub ids for each publication of a submission, and each representation of a publication, and file of a representation.

PR:
https://github.com/pkp/ojs/pull/2591

[2020-01-27 14:57] NateWr commented on #5428
That can certainly be done. I'm hesitant to do it because we want to re-use as much as possible and this requires us to create a special field component just to add the [Modify] button. But I'll have a think about how to balance UX and code re-use here as best as possible. :+1:

[2020-01-27 15:08] jmacgreg commented on #5431
I think this is working as expected now - thanks!

[2020-01-27 15:08] #5431 closed

[2020-01-27 15:10] jmacgreg commented on #5428
Sounds good, and I'm 100% ok with a more complete solution/approach waiting until post-3.2.0. For this release, the minimum I think should be at least including the defaults in the fields.

[2020-01-27 16:13] Vitaliy-1 opened #5442 "AuthorDAO::getPublishedArticlesForAuthor fails when executed from author search index"
OJS 3.1.2-4
When trying to view author details from the search author index page, I'm receiving MySQL error, e.g.:
[code]
Also, when trying to browse the authors' list from a certain letter, there is another error:
[code]
Works fine on my test OJS instance v. 3.1.2-1: http://dev-ojs.e-medjournal.com/index.php/sjt/search/authors

[2020-01-27 16:51] asmecher commented on #5442
@Vitaliy-1, what respective versions of MySQL/MariaDB are you using on your two servers?

[2020-01-27 16:56] Vitaliy-1 commented on #5442
mysqld  Ver 5.7.28-0ubuntu0.18.04.4 for Linux on x86_64 ((Ubuntu))
mysql  Ver 14.14 Distrib 5.7.28, for Linux (x86_64) using  EditLine wrapper

For another server with OJS 3.1.2-1, the version is the same but for Ubuntu 16.

[2020-01-27 17:18] asmecher commented on #5070
Added additional fixes/tests that cover publication of a new submission (previously broken from versioning).

[2020-01-27 17:18] #5070 closed

[2020-01-27 17:45] asmecher commented on #5442
@Vitaliy-1, can you try using the `debug` `config.inc.php` feature to extract the entire SQL statement?

[2020-01-27 19:17] asmecher commented on #5437
I balked slightly at clearing DOIs from old versions, but since this is a user explicitly requesting a clear, I think this approach is sensible even though it affects all versions. Please go ahead.

[2020-01-27 20:42] asmecher commented on #5427
@jmacgreg, can you check whether there's something in the error log corresponding to this?

[2020-01-27 22:03] librariam commented on #743
+1 from PKP|PS to add a CC field on reviewer reminders (different from CC on editorial decision). This is to help editors keep track of reminders that were sent via their mailbox without having to check Editorial History every time.

[2020-01-28 10:21] Vitaliy-1 commented on #5442
For the first one:
[code]
For the second:
[code]
[code]

[2020-01-28 10:32] Vitaliy-1 commented on #5442
Looks like it's truncated. Here's full:
[code]
Would it be helpful a full query for the second error?

[2020-01-28 10:39] Vitaliy-1 commented on #5442
@asmecher, my capabilities in debugging SQL are limited but if remove (not simply deactivate) ar_IQ language, the problem disappears.

[2020-01-28 10:59] NateWr opened #5444 "Test copyrightYearBasis value on upgrade from 3.1.2 to 3.2"
The context setting `copyrightYearBasis` can have a value of `issue` or `submission` in 3.2. Versions 3.1.x may use `article` instead of `submission`.

This needs to be checked and if a change is made an upgrade script needs to be written.

[2020-01-28 11:05] Vitaliy-1 commented on #5442
My bad, deactivating all languages except primary (English) is enough. Those authors have names specified only for English locale, thus, I think there should be some check in the statement for that.

[2020-01-28 11:51] NateWr opened #5445 "Test licenseUrl context setting"
In some places `licenseUrl` is used and in some places `licenseURL` is used. This is probably a discrepancy that was introduced with the new schema system. Make sure all usage is aligned one way or the other and that data is migrated if it needs to be.

[2020-01-28 12:14] NateWr commented on #5428
Ok, I added an option to `FieldText` that will disable the field and require the user to opt into editing it. I suspect we might find similar use-cases.

When a publication is published, it will assign the `copyrightHolder`, `copyrightYear` and `licenseUrl` based on the context settings _as long as the publication does not already have that information set_. This should allow one-off overrides as

[2020-01-28 12:23] NateWr commented on #5437
Merged!

[2020-01-28 12:23] #5437 closed

[2020-01-28 14:40] jmacgreg commented on #5428
This is perfect Nate, thanks!! I'll review a little later today.

[2020-01-28 16:53] alexxxmendonca commented on #1822
We at SciELO are very interested in this plugin as well.

[2020-01-28 16:58] asmecher commented on #5442
@Vitaliy-1, what does your `supportedLocales` journal setting look like?

[2020-01-28 18:44] asmecher commented on #4872
@ctgraham, does https://github.com/pkp/ojs/commit/a58a0f2c39242adeedbdba43c5f98413425355a3 look better to you? I thought about adding this section to the general upgrade instructions but I don't foresee we'll be rearranging files there during upgrade except possibly rarely.

[2020-01-28 19:05] ctgraham commented on #4872
Works for me.

[2020-01-28 19:16] asmecher commented on #4872
Merged, thanks!

[2020-01-28 19:16] #4872 closed

[2020-01-28 20:24] asmecher commented on #4701
In OJS 2.x on the user's homepage, there used to be an area that appeared when memberships were enabled. It indicated the membership expiry date and gave the user a link to renew. When the user had an active membership and membership fees were enabled, this was effectively considered to be an active subscription.

But I wonder why subscriptions by themselves wouldn't be able to offer the same effe

[2020-01-28 23:10] garymotz opened #5447 "[OJS] journal/article metrics API"
We're running a local implementation of OJS at Indiana University and my department hosts a new journal using the OJS system. Is there an API for accessing metrics and statistics for faculty reporting that would allow me to query a user's profile to determine the number of articles submitted/accepted/published, etc.?

[2020-01-28 23:50] asmecher commented on #5447
Hi @garymotz -- would you mind posting questions at https://forum.pkp.sfu.ca? We use git issues more for bug reports and fully-specified feature requests; once there's been some Q&A-type discussion on the forum, we'd move here as a next step.

[2020-01-28 23:50] #5447 closed

[2020-01-29 00:05] asmecher commented on #5362
This turned out to be a little tricky because we are supporting both acron (web-based) and cron (CLI-based) invocations. I looked at several third-party scheduled task support libraries and they all depend on predictable invocation, i.e. if you want one-minute resolution, cron must execute the script every minute. We can't depend on that for acron-based invocations.

My solution was to take our ex

[2020-01-29 00:06] asmecher commented on #5362
@jonasraoni, would you mind taking a look at the above PR? Thanks!

[2020-01-29 01:50] asmecher opened #5449 "Author list does not work"
The `/path/to/ojs/index.php/publicknowledge/search/authors` list does not work; nor does the individual author listing given by clicking on an author.

[2020-01-29 01:52] asmecher commented on #5449
@NateWr, https://github.com/pkp/ojs/commit/ef95447f74c0f4dcde01ba3616d8d766aaedf93c fixes both on my installation, but could you take a quick glance at the code?

[2020-01-29 01:52] #5449 closed

[2020-01-29 09:27] NateWr commented on #5428
Merged, ready for final review. :+1:

[2020-01-29 10:01] NateWr commented on #5449
Looks good. I was under the impression that we didn't support `/search/authors` but the PR looks alright. I left a couple of comments.

[2020-01-29 10:12] Stefanvdb commented on #4611
Hello @asmecher,
the plugin can now be found here:
https://github.com/ojsde/lucene

If you'd like to test it, that would be great.

Stefan

[2020-01-29 10:16] NateWr commented on #5424
I'll leave this in 3.2 for now but just a heads up that this is likely to get bumped. It's a little bit trickier than it might seem at first so we'll likely prioritize other UX improvements.

[2020-01-29 10:19] NateWr commented on #5408
On second thought, I think that you could add the event listener to the `SettingsContainer` component. So in `SettingsContainer.vue` that would look like:

[code]

[2020-01-29 10:46] djolemc commented on #4959
Any progress with this issue? This is a huge problem for systems with multiple journals

[2020-01-29 10:49] alexxxmendonca commented on #4959
+1

[2020-01-29 11:07] forgive38 commented on #5404
OK, I understand.
Maybe a solution could be when a decision is recorded, mail is sent to the user - assigned as an author to the submission - too ?

[2020-01-29 11:10] forgive38 commented on #5404
Maybe I have this case because sometimes in our journals, there more than 3 years between submission and decision, and author email can change...

[2020-01-29 12:19] greenr21 opened #5450 "Ensuring Blind Review directions need updating"
When reviewers or authors click on the "Ensuring Blind Review" hyperlink, they are given directions for how to remove identifying information from files they intend to upload. This information is invaluable but it seems to be written for older versions MS Office products. Newer versions - MS Word 2010, 2016, Office 365 - seem to have new method.

Would be possible to update the directions to be so

[2020-01-29 13:53] tessiof commented on #5288
We have a bunch of those slow queries on our MariaDB as well. The server load is skyrocketing, and those queries are the ones taking most time to complete.

    Time: 508
   State: Copying to tmp table
    Info: SELECT DISTINCT u.*,
                                COALESCE(ugl.setting_value, ugpl.setting_value) AS user_given,
                        CASE WHEN

[2020-01-29 14:56] thinkbulecount2 commented on #4667
cc: @NateWr
[PR](https://github.com/pkp/theme-components/pull/3)

[2020-01-29 15:16] jnugent opened #5451 "PHP7 issue with 2.4 custom report generator, 'continue' out of context"
This is another low priority fix for OJS 2.4, for PHP7 compatibility.  The custom report generator uses "continue" in a few places, but outside of switch or while statements, which is no longer allowed in PHP7.  So these generate Fatal Errors:

Small pull request inbound.

[2020-01-29 15:19] jnugent commented on #5451
PR for this:  https://github.com/pkp/ojs/pull/2596

[2020-01-29 16:26] asmecher commented on #5404
@forgive38, that should be the way it already works: when a workflow action needs to notify an author, all users assigned to the submission as authors (on the "Participants" list) get the notification.

[2020-01-29 16:27] asmecher commented on #5450
@greenr21, would you be willing to open a pull request with your suggested change?

[2020-01-29 16:29] asmecher commented on #5288
This forum thread appears to be related: https://forum.pkp.sfu.ca/t/user-search-query-take-a-long-time/57418

[2020-01-29 16:31] asmecher commented on #5451
Merged, thanks, @jnugent!

[2020-01-29 16:31] #5451 closed

[2020-01-29 16:52] asmecher commented on #5449
I had a recent conversation (Slack with the hosting team maybe?) about this that elbowed me into supporting it, at least for now. And generally if something is broken I'd rather see it removed if not fixed. Thanks as always for the review, I've addressed your comments!

[2020-01-29 17:16] Vitaliy-1 commented on #5442
@asmecher,
[code]
I've deleted `ar_IQ` language when tested. If deactivate Ukrainian, the problem resolves.

[2020-01-29 17:38] asmecher commented on #5408
Thanks, @NateWr -- this needed a few tweaks to get running. I'm not confident this is the best place to be exposing the form constant. Would you mind taking a look?

- https://github.com/pkp/pkp-lib/pull/5452
- https://github.com/pkp/ui-library/pull/62

[2020-01-29 19:57] asmecher opened #5453 "Replace homegrown country, language, and currency codes with a 3rd-party library"
We currently maintain our own lists of countries, languages, and currencies, each with their respective DAOs. It would be better to delegate the maintenance of these lists to a 3rd-party library to ease translation demands and decrease the amount of out-of-date information.

[2020-01-29 21:41] ctgraham commented on #4746
@ajnyga ,

Does this refer to the PRs linked above, or to an independent plugin?

[2020-01-29 22:19] asmecher commented on #5453
PRs:
- https://github.com/pkp/pkp-lib/pull/5454
- https://github.com/pkp/ojs/pull/2598

[2020-01-29 22:52] asmecher commented on #5442
@Vitaliy-1, can you try the attached patch and let me know if it works? I think the problem is that your locales array isn't 0-based for whatever reason, and the `AuthorDAO` code intermixes indexes and counts.

[5442.diff.txt](https://github.com/pkp/pkp-lib/files/4131213/5442.diff.txt)

[2020-01-29 23:57] asmecher opened #5455 "Fix language field cardinalities"
The submission metadata form's languages field appears to be multilingual, when in fact it's a controlled vocabularly limited to the ISO639-2 language list, and should store an equivalent value (based on the ISO symbolic codes) regardless of the language the user is working with.

The API language listing appears to likewise provide locale-specific language lists.

[2020-01-30 00:00] asmecher commented on #5455
(https://github.com/pkp/pkp-lib/issues/5453 should be merged before this is fixed!)

[2020-01-30 04:14] ajnyga commented on #4746
https://github.com/ajnyga/announcementEmail

[2020-01-30 09:26] NateWr commented on #5408
Looks good. I'd put the `$templateMgr->setConstants(...)` call next to where the form is added in `ManagementHandler`:

https://github.com/pkp/pkp-lib/blob/master/pages/management/ManagementHandler.inc.php#L270

[2020-01-30 10:07] greenr21 commented on #5450
@asmecher I'm willing, but that looks over my head. I'm not a coder, just a journal manager noticing a content issue. When I went to pull request, I got a bit lost in the jargon of push/pull, branches, and such. Any tips or is above my not-even-novice status?

[2020-01-30 16:45] NateWr commented on #5450
PR:
https://github.com/pkp/pkp-lib/pull/5458

@greenr21 can you give this a close look for spelling/grammar/clarity?

![Selection_197](https://user-images.githubusercontent.com/2306629/73470422-c730e780-437f-11ea-8783-26ff2de1e00d.png)

(Scheduling against 3.2 so it doesn't get forgotten but this can get bumped if there are any problems that would delay merge.)

[2020-01-30 16:52] kallewesterling commented on #4333
This was still happening on an OJS install that I manage. Tried updating to the latest stable version just now, and will try to remember to report back here in case it keeps happening @asmecher.

[2020-01-30 16:56] NateWr commented on #5455
This was discussed a bit with Mike Nason in https://github.com/pkp/pkp-lib/issues/5000. This issue seems to specify a more specific outcome. Shall I close the other?

[2020-01-30 16:57] NateWr commented on #5455
That issue does have the following [commen](https://github.com/pkp/pkp-lib/issues/5000#issuecomment-544431931) which may or may not be tackled in this one.

[2020-01-30 17:04] NateWr commented on #5450
@greenr21 Someone pointed out that we have other guidance in our docs hub as well:

https://docs.pkp.sfu.ca/learning-ojs/en/editorial-workflow#removing-identifying-information

It looks like there are a few minor differences. Would you be able to check your guidance against that in the docs hub to see if one or the other is more accurate for your version of Office?

[2020-01-30 17:12] Vitaliy-1 commented on #5442
This is weird, the starting index is different between versions:

version | supportedFormLocales | supportedLocales | supportedSubmissionLocales
3.1.1-1 | 0 | 0 | 0
3.1.1-4 | 0 | 1 | 0
3.1.2-0 | 0 | 1 | 0
3.1.2-1 | 1 | 1 | 1

In all those versions I've experimented with adding/removing locales, including the Arabic language for testing styling for rtl scripts. By googling I can find another journa

[2020-01-30 17:18] NateWr commented on #5427
PR:
https://github.com/pkp/ojs/pull/2600

[2020-01-30 17:22] NateWr commented on #4870
All of the acceptance criteria here should be accounted for when the integration tests are written https://github.com/pkp/pkp-lib/issues/4888

[2020-01-30 17:36] asmecher commented on #5442
Thanks, @Vitaliy-1, I've committed that patch to both `stable-3_1_2` and `master`.

Yes, please do post a full query for the second problem!

[2020-01-30 22:44] asmecher opened #5460 "Subscription reminder emails not being sent"
See https://forum.pkp.sfu.ca/t/subscription-renewal-reminders-not-sent-out/58342 for details:

[2020-01-30 22:59] asmecher commented on #5460
To resolve this, apply https://github.com/pkp/ojs/commit/12ebfe19e3587160ee3ec4f5f16c5d2dc8d1bbf7 (OJS 3.1.2-x).

Note that this *will not* result in a backlog of subscription reminder emails being sent out -- these are only sent out on the single day on which they are intended to go.

A warning: https://github.com/pkp/pkp-lib/issues/5362 *may cause duplicate emails to be sent*. To avoid this, eit

[2020-01-30 22:59] #5460 closed

[2020-01-30 23:14] ctgraham commented on #4746
Nice!  Thanks!

I think I would prefer to see this implemented as a new template, so that a themer has more control of the formatting and content.  If that sounds reasonable, I'd like to propose a PR where `PKPNotificaitonManager::getNotificationMessage()` fetches a template and passes `$announcement` rather than [hardcoding the `<br />`'s around fixed content](https://github.com/pkp/pkp-lib/pull/

[2020-01-30 23:18] ctgraham commented on #4746
Second thought: @israelcefrin, what is the real value of making this optional?  If optionalizing it is important, if we leave this as a plugin, the Manager has the opportunity to select whether they want the generic text or actual content on a journal-by-journal (or press-by-press) basis.  Is there value in optionalizing this for every Announcement?  I suspect not, but you may have other feedback.

[2020-01-30 23:29] asmecher commented on #4611
Brilliant, @Stefanvdb! I've added a small pull request to manage my own obsessions (https://github.com/ojsde/lucene/pull/2) -- before I dig into this further, how much have you tested it yourselves? Is all the far-flung functionality working, or just the main functionality? Are things like unit tests also adapted/working?

[2020-01-30 23:50] asmecher commented on #4627
@Ph-We, I wasn't able to replicate this behaviour using a recent checkout of OJS 3.1.2-x. I suspect the most likely cause is file permissions in the `public` directory. Is this still affecting you, and if so, can you double-check your file permissions?

[2020-01-31 01:40] #5408 closed

[2020-01-31 01:41] asmecher commented on #5408
Done -- thanks, @NateWr!

[2020-01-31 02:00] asmecher commented on #5453
@NateWr, would you mind taking a look at the PRs above (https://github.com/pkp/pkp-lib/issues/5453#issuecomment-579988179)? Thanks! (The incentive: 17,000 lines of code removed.)

[2020-01-31 06:45] greenr21 commented on #5450
The guidance in the document hub is very clear and accurate. To be utterly consistant, so let's just take the doc hub guidance text and use it to replace the current directions in the Enabling Blind Review link that authors and reviewers see.
I reviewed the guidance in the doc hub and compared to the current text in the Enabling Blind Review link.

I've made revised text below. I'm also attaching

[2020-01-31 08:23] Ph-We commented on #4627
@asmecher, you must be right, since we cannot reproduce it either on our production instance now.
So it only appeared on the test one, which does not exist anymore, so I cannot confirm it was related to file permissions.
Thank you anyway. I close it now.

[2020-01-31 08:23] #4627 closed

[2020-01-31 08:37] Stefanvdb commented on #4611
@asmecher, all/most functionality has been tested, but as far as I know not so much on a windows server environment. But unit tests have not been adapted.

[2020-01-31 09:38] Vitaliy-1 commented on #5442
Another database error associated with this page occurs when clicking a link to search by initial:
[code]

[2020-01-31 15:04] quoideneuf commented on #5355
I am able to create a new version after confirming in the modal window.

[2020-01-31 15:04] #5355 closed

[2020-01-31 15:06] mfelczak commented on #4092
I wanted to add a +1 for a possible review and rethinking of the current defaults here. I've also received feedback from editors unhappy with the level of detail presented, both because it creates an open window on what they feel should remain an internal process and also because it creates additional confusion for authors which leads to additional follow-up and work for editors.

Maybe one way fo

[2020-01-31 15:12] quoideneuf commented on #5356
It looks to me like there may be some pitfalls with the state of the DOM and the JS. See the screenshots below. All looks ok after a refresh (last screenshot).

Create a 3rd version, unpublish the 2nd.
![image](https://user-images.githubusercontent.com/1626547/73549946-a74a0400-4411-11ea-87d4-1bbafb5c8011.png)

Create a 4th version. Now I can't create any more versions
![image](https://user-images

[2020-01-31 15:31] #5234 closed

[2020-01-31 16:48] asmecher commented on #5442
@Vitaliy-1, this was an additional case of the same problem; it's fixed here: https://github.com/pkp/ojs/commit/514cf466dc5687603599d447e035ee2b5214447e

Thanks for helping track this down!

[2020-01-31 16:48] #5442 closed

[2020-01-31 17:51] asmecher commented on #5455
Actually, the other issue already covers it better. I knew I discussed this stuff somewhere recently...

[2020-01-31 17:51] #5455 closed

[2020-01-31 20:12] asmecher commented on #4611
Great, @Stefanvdb! I have it installed and working here. I've sent another small PR (https://github.com/ojsde/lucene/pull/3) adjusting a few small details.

Once we're both satisfied that tweaks on the current `master` branch are OK for compatibility with OJS 3.1.2, I suggest creating a `stable-3_1_2` branch, then working on the `master` branch towards OJS 3.2 compatibility. I can help with that.

[2020-01-31 22:20] ctgraham commented on #4746
Here is a draft of my template proposal:
https://github.com/ajnyga/announcementEmail/pull/1

This diverges from our current practice of storing all of our existing email structure/content as locale strings rather than templates, but I think using a template here provides a clear way for isolating the presentation from the code.

[2020-01-31 23:48] asmecher commented on #4611
Thanks for merging, @Stefanvdb. Are you still working on the plugin or shall we package up a release for 3.1.2 and move on to master branch support?

[2020-02-01 00:19] asmecher opened #5461 "Resolve redundant email template XML files"
Since the move to PO files for email templates, there are two lists of email templates:
- `registry/emailTemplates.xml`, and
- `locale/xx_YY/emailTemplates.xml`

Since `locale/xx_YY/emailTemplates.xml` now just refers to locale contents in the email PO file, it is redundant (and will very likely get out of sync, causing missing templates). Get rid of this category of file and clean up related code

[2020-02-01 01:42] israelcefrin commented on #4746
Hi @ctgraham, as long this embedding content into body being applied to announcements only I don't foresee issues making it as a plugin rather than a checkbox for every announcement.
In fact,  announcements are only showing a link, and they tend to have more content text than an ordinary notification of "new submission".

[2020-02-01 16:47] Stefanvdb commented on #4611
I've finished working on the plugin, so yeah, you could do that, @asmecher

[2020-02-03 10:55] NateWr commented on #5453
Looks great! And looks like we'll trim even more lines of code once we remove the deprecated DAOs. :+1:

This might be a good thing to get recorded in our main documentation. How to get a list of language and currency options, and how we store this information in the database. If there's any conditional logic that needs to be applied to the available options (see [comment](https://github.com/pkp/p

[2020-02-03 11:05] NateWr commented on #5450
Thanks @greenr21! @asmecher I've updated the PR above. How do you feel about this locale string change? Should we defer to 3.2.1?

[2020-02-03 15:53] NateWr commented on #5356
Thanks @quoideneuf!

PR:
https://github.com/pkp/ui-library/pull/63

Tests:
https://github.com/pkp/ojs/pull/2604

[2020-02-03 16:04] NateWr commented on #5430
Coming back to this (and cc'ing @asmecher). I think we'll need a decision on this soon to get it resolved for 3.2. A brief recap:

I can see two options:

1. We keep it as-is but move it out of the Identifiers form in publications and into the Issue Entry form, and rename it URL Path. The field for galleys and issues will stay in place for now.

2. We leave it in Identifiers but make it an optiona

[2020-02-03 16:10] #5428 closed

[2020-02-03 17:56] asmecher commented on #5430
I have a suspicion that we'll be asked for both versioned and non-versioned URL slugs, and versioned and non-versioned publisher IDs. Option 2) gives us non-versioned URL slugs only, and versioned publisher IDs only (correct?). But the two are at least clear and disambiguated, so we can add more options later if need be. Of the two options, I support the second.

[2020-02-03 18:27] amandastevens commented on #4701
I mainly created this issue to ask that the membership information be removed from OJS 3 if it can't actually be used, because I think it confuses users. I agree with you that membership-based subscriptions can probably be managed with the Subscriptions feature as is.  If a journal has both membership subscriptions and regular subscriptions, they could create different subscription types.

If a pu

[2020-02-03 18:33] NateWr commented on #5356
Merged! :ship:

[2020-02-03 18:33] #5356 closed

[2020-02-04 11:26] NateWr commented on #5430
I think the `urlPath` could be versioned as well. I was thinking that `urlPath` would be assigned to the Publication -- in part just because there's no place in the UI at the moment for it to be assigned to the Submission.

I'll plan to work on Option 2 unless James or Mike having anything they want to add.

[2020-02-04 13:04] NateWr commented on #5438
PRs:
https://github.com/pkp/pkp-lib/pull/5462
https://github.com/pkp/ojs/pull/2605
https://github.com/pkp/omp/pull/757

[2020-02-04 15:20] jmacgreg commented on #5430
Option 2 sounds fine to me!

[2020-02-04 17:37] asmecher commented on #5450
I'm OK to merge it, since it's an interation/improvement on what we already have, which is still solid (if outdated) guidance.

[2020-02-04 17:47] NateWr commented on #5450
Merged! Thanks for your contribution @greenr21.

[2020-02-04 17:47] #5450 closed

[2020-02-04 17:48] #5427 closed

[2020-02-04 19:39] amandastevens commented on #3227
This is a very popular request for Publishing Services clients.

[2020-02-04 21:02] jonasraoni commented on #5362
Hi @asmecher!

I've just checked the Acron plugin, to see what it does. Even though it has a race condition, it's a good/accessible fallback =]

---

FYI, my initial idea was just to replace the `day="1"` by cron expressions. Then with the last executed date, we can evaluate when each task should be executed again and run the delayed ones (here we could also add an optional parameter to specify a

[2020-02-04 21:18] #5362 closed

[2020-02-04 21:20] asmecher commented on #5362
Thanks, @jonasraoni -- eventually this is another great candidate for an area to take on a 3rd-party library instead of custom code. But this was a minor addition and we're getting a little close to the release date for big changes. I think a lot of the built-in code is overengineered and under-tested -- our current set of tasks always specify an hourly, daily, or weekly run. A lot of the other op

[2020-02-05 01:54] AhemNason commented on #5430
I agree with James!

On Tue, Feb 4, 2020 at 11:20 AM JB MacGregor <notifications@github.com>
wrote:

[2020-02-05 02:37] jmacgreg opened #5465 "OJS 3.2 citations error on upgrade"
Using the latest checkout from master, attempting to upgrade a fairly straightforward test journal. When I check out the latest code from master and run the upgrade, the upgrade process quits on the following error:

`ERROR: Upgrade failed: DB: Duplicate entry '0-1' for key 'citations_publication_seq'`

(This happens just after the lib/pkp/xml/schema/metadata.xml step.)

It looks like this has som

[2020-02-05 07:04] jonasraoni commented on #5362
@asmecher Yeah, it's better to avoid creating extra problems now =]

In general I think it's better to forward the responsibility of testing/improving code to other people. But as I'm a wheel reinventor, it's difficult to do it sometimes 😁

[2020-02-05 11:30] NateWr commented on #5465
@jmacgreg Can you share this test db with me via Slack?

[2020-02-05 11:45] bdmckay commented on #4695
Having read the discussion so far, I want to comment on some things that I don't think are clear enough.

The permanent bibliographic coordinates of an article might look like one of these:

Style 1.  Volume 3, Issue 2, pages 10-20.
Style 2.  Volume 3, Issue 2, article 4.

Style 1 is the traditional style inherited from printed volumes, but Style 2 makes more sense for electronic-only journals and

[2020-02-05 12:44] NateWr commented on #5394
PR:
https://github.com/pkp/ui-library/pull/64

Tests:
https://github.com/pkp/ojs/pull/2607

[2020-02-05 14:29] #5394 closed

[2020-02-05 15:07] jmacgreg commented on #5465
On its way!

[2020-02-05 16:01] NateWr commented on #5444
Tested and this is not an issue.

[2020-02-05 16:01] #5444 closed

[2020-02-05 16:21] NateWr opened #5467 "Archived submissions no longer show Published or Declined"
Archived submissions used to say Published or Declined on the right, in place of the workflow stage that is shown for active submissions. In current `master`, archived submissions are showing the workflow stage, but should show Published or Declined.

[2020-02-05 16:34] NateWr opened #5468 "The context setting copyrightHolderOther should be multilingual"
**Describe the bug**
The copyright holder settings for a journal can be set to `other` which allows a copyright to be put in (`copyrightHolderOther`). In prior versions this appears to be a multilingual setting, but in the current `master` branch it is not. This leads to a broken setting on upgrade.

It may be possible to extend `LicenseForm.vue` to make the field multilingual when it is set to `o

[2020-02-05 16:49] NateWr opened #5469 "Publication stats API doesn't account for earliest recorded statistic"
**Describe the bug**
In the publication stats (Statistics > Articles), selecting "All Dates" sends an API request with no date range properties. When encountered by the `/abstract` or `/file` endpoints, which return a timeline of stats (like monthly or daily totals), it doesn't appear to set any bounds other than yesterday and `STATISTICS_EARLIEST_DATE`. So it always returns an entry for every mon

[2020-02-05 16:52] NateWr opened #5470 "Publication stats table is not sorted by total stats"
**Describe the bug**
The Statistics > Article page includes a table with published submissions ordered by their total stats. The table shows the arrow in the "Total" column to indicate this, but the rows don't seem to be ordered by the total.

Clicking on the Total column doesn't re-order them properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Statistics > Article.
2. View Total

[2020-02-05 17:47] NateWr commented on #4856
A couple of things found with a recent round of updates.

PRs:
https://github.com/pkp/ojs/pull/2608
https://github.com/pkp/omp/pull/759

[2020-02-05 17:54] NateWr commented on #5445
Handled in PRs here: https://github.com/pkp/pkp-lib/issues/4856#issuecomment-582528375

[2020-02-05 17:54] #5445 closed

[2020-02-05 19:48] asmecher commented on #5461
One-liner [ha!] to annotate the new format with the necessary data from the old one:
[code]

[2020-02-05 21:27] cpockett opened #5471 "Submitting file to Submission Library overwrites Publisher Library files"
**Describe the bug**
We've found that when you upload a file to the submission library with the same file name as a file already in the publisher library it overwrites the publisher library copy. This happens at the file system level so the publisher library metadata additionally become out of date.

**To Reproduce**
Steps to reproduce the behavior:
0. Upload a file to the 'Publisher/Document Libr

[2020-02-05 21:29] cpockett commented on #5239
We've found that uploading a file via the Submission Library via an existing submission with the same file name as the uploaded file, will overwrite the existing publisher library one. Granted I don't recommend this as a work around :)

[2020-02-05 22:39] asmecher commented on #5461
PRs:
- https://github.com/pkp/orcidProfile/pull/90
- https://github.com/pkp/pkp-lib/pull/5472
- https://github.com/pkp/ojs/pull/2610

[2020-02-05 22:41] asmecher commented on #5461
@NateWr, could you have a look at the PRs above? If they're OK, I'll take care of porting this to OMP and OPS as well.

[2020-02-06 00:39] asmecher commented on #5453
Thanks, @NateWr! All merged. Yes, the only list that required conditionals was the language list, and it would've been nice for the upstream library to permit easier fetching of subsets (and document this aspect better) but they seem content to refer to the ISO639-3 documentation: https://github.com/sokil/php-isocodes#languages-database-iso-639-3
That said, I favour referring to the 3rd party reso

[2020-02-06 00:40] #5453 closed

[2020-02-06 01:32] asmecher commented on #5471
Good spotting, @cpockett! To fix this, you'll need to apply https://github.com/pkp/pkp-lib/commit/a3690848857025808a9790f32dcd9ec1b76019be in `lib/pkp`. Existing files will need to be moved/copied -- the added upgrade script will take care of that, and will warn the admin about possible filename collisions during the upgrade.

[2020-02-06 01:32] #5471 closed

[2020-02-06 08:01] ajnyga opened #5473 "[OJS] Assign DOIs action in DOI plugin broken"
Selecting the action causes the following error:
`PHP Fatal error:  Uncaught Error: Call to undefined method Services::getMany() in classes/plugins/PubIdPlugin.inc.php:52`

[2020-02-06 08:07] ajnyga opened #5474 "[OJS] DOI status functions broken in Crossref plugin"
The status of DOIs is not updated in the Crossref plugin when you select a DOI and hit the `Mark Active` button. Probably also DOIs that are deposited do not get their status updated.

![Screen Shot 2020-02-06 at 9 49 43](https://user-images.githubusercontent.com/16347527/73916406-0b634100-48c6-11ea-9023-07d9d01d6b66.png)

The action calls `markRegistered` here:
https://github.com/pkp/ojs/blob/mas

[2020-02-06 09:57] NateWr commented on #5461
I had a look over the code and it all looks good. :+1: Would you like me to run a manual install on it to check or happy with a eyes-only code review?

[2020-02-06 10:33] TimBoxH commented on #2564
Hi @NateWr,
from my perspective as a scientist, the ability to italicize words or letters in the article title is of great importance. Is there a chance to prioritize this feature and implement it already in OJS 3.2? I think the community really needs it. We (currently hosting eight journals) got frequently asked for the feature.
Cheers, Tim

[2020-02-06 11:27] ajnyga opened #5478 "[OJS] Make pkp_spinner more visible"
Sometimes users do not notice the grey spinner, making it another color might help.

[2020-02-06 11:31] NateWr commented on #2564
It's too late for 3.2 but I've applied the Community Priority label to increase the likelihood that this will get attention in the future.

[2020-02-06 13:40] ajnyga commented on #2564
I almost got this working with the old forms. Now that the new forms are implemented will try to solve this using them. We have a need for it as well.

[2020-02-06 13:46] NateWr commented on #5474
cc @jmacgreg

[2020-02-06 14:22] NateWr commented on #5465
@asmecher can you take a look at this `ALTER` statement to see if its compatible with all our supported databases? https://github.com/pkp/omp/pull/759/commits/527fdb5daa8712dbbf6d3e3d4f52a3f614d4ab9b#diff-4969856a1022f0d5d7b0aee5dca9a5abR54

Fix for this is part of PRs here: https://github.com/pkp/pkp-lib/issues/4856#issuecomment-582528375.

[2020-02-06 14:48] ajnyga commented on #5473
The description of feature says:

[code]
With that feature, do we want to assign a DOI
a) just for the latest publication or
b) to all the publications within the submission?

@jmacgreg  @AhemNason ?

[2020-02-06 14:54] ajnyga commented on #5473
(thinking that if we at some point have DOI versioning in OJS, then option B will continue working but choosing option A now, will probably mean that function needs to be checked)

[2020-02-06 15:07] asmecher commented on #5461
Eyes-only is fine, thanks, I've done a bunch of testing already!

[2020-02-06 15:09] #5461 closed

[2020-02-06 15:14] AhemNason commented on #5473
The intent is that it assigns a DOI to all content that doesn't currently have one. It's for situations where someone has back-issues that they now want to mint DOIs for. It's pretty common when we, for example, pick up a client who didn't have a Crossref membership before they signed up.

Both of those options terrify me broadly, though. Especially the "REASSIGN DOIs" button. That should be comma

[2020-02-06 15:31] marcbria opened #5479 "Errors when building OJS with compose from git."
When building OJS from git and with compose it throws some warnings:

[code]

The instruction that throws the warning is:
`
$ composer update -d lib/pkp --no-dev && \
`

Not urgent, but something to take a look.

[2020-02-06 16:00] ajnyga commented on #5473
Sure, we use assign DOIs a lot when importing back issues as well.

**At the moment in 3.2 Reassign DOIs will delete all DOIs in the system**. Not sure why the label still is reassign and not "Delete all DOIs". It is connected to this function here, which will leave nothing behind: https://github.com/pkp/pkp-lib/blob/master/classes/publication/PKPPublicationDAO.inc.php#L257

It says in the descrip

[2020-02-06 16:05] AhemNason commented on #5473
Wait, I thought "reassign DOIs" deleted all DOIs and _replaced them with new ones as per the patterns dictated in the DOI plugin_. Is that not the case?

[2020-02-06 16:13] ajnyga commented on #5473
The Reassign button is tied to `clearPubIds` action here https://github.com/pkp/ojs/blob/master/plugins/pubIds/doi/classes/form/DOISettingsForm.inc.php#L90

Which will fire the action here:
https://github.com/pkp/pkp-lib/blob/master/classes/plugins/PKPPubIdPlugin.inc.php#L86-L90

Which will call `deleteAllPubIds` here
https://github.com/pkp/ojs/blob/master/classes/journal/JournalDAO.inc.php#L68-L8

[2020-02-06 16:20] asmecher opened #5481 "Test/fix CrossRef / DOI implementations"
A tracking issue to flag this for attention before the release. These may not be working.

[2020-02-06 16:40] asmecher commented on #5481
(See also: https://github.com/pkp/pkp-lib/issues/5473 and https://github.com/pkp/pkp-lib/issues/5474)

[2020-02-06 17:34] asmecher opened #5482 "Newly assigned editors are not permitted to edit metadata"
When assigning a Journal Editor, the assignment is created without metadata editing permission. However, the Journal Editor role does not allow the metadata edit checkbox to be set (presumably since that role should always have that permission).

Steps to reproduce:
- Create a new submission
- Remove any automatically-assigned journal editors
- Use the participants grid to add a new Journal Editor

[2020-02-06 18:07] ajnyga opened #5483 "[OJS] Published After and Published Before filters in search have every year from 0 to 2020"
With the latest master branch OJS I publish an issue with articles and go to the advanced search.

The Published After and Published Before filters in search have every year from 0 to 2020.

<img width="836" alt="Screen Shot 2020-02-06 at 20 06 08" src="https://user-images.githubusercontent.com/16347527/73965077-2791cd00-491c-11ea-9611-f8120db4f9cb.png">

[2020-02-06 18:31] asmecher commented on #5479
Happy to report that those are both already resolved in git master for release with OJS 3.2!

[2020-02-06 18:31] #5479 closed

[2020-02-06 21:06] asmecher commented on #5483
It appears that `PKPPublicationQueryBuilder::getDateBoundaries` is not working.

[2020-02-07 11:44] ajnyga commented on #1822
The plugin should consider OPS and OMP as well.

[2020-02-07 12:16] ajnyga opened #5484 "[OJS] Outdated references to booksForReview plugin"
See
https://github.com/pkp/ojs/blob/master/classes/notification/NotificationManager.inc.php#L59-L78
https://github.com/pkp/ojs/blob/master/classes/notification/Notification.inc.php#L19-L29

[2020-02-07 16:20] asmecher opened #5486 "& characters in PubMed exports are not escaped properly"
**Describe the bug**
When creating a PubMed export, entities containing `&` characters (e.g. titles and abstracts) cause XML validation errors, as the `&` characters are passed through into the generated XML without escaping.

**What application are you using?**
OJS 3.1.2-x

**Additional information**
See https://forum.pkp.sfu.ca/t/field-validation-in-metadata-using-makes-exported-xml-files-invali

[2020-02-07 16:22] #5486 closed

[2020-02-07 20:12] asmecher opened #5487 "Some fields appear to be required in all languages"
**Describe the bug**
From Kate on Slack:

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a journal with two languages (e.g. English and French), with French enabled under "forns" (and "submissions" may be required as well).
2. Create a submission with only an English title. (This shouldn't cause problems.)
3. As Editor, go to the Publication area and attempt to edit the title there

[2020-02-07 21:04] #2848 closed

[2020-02-07 23:41] asmecher commented on #4611
Thanks, @Stefanvdb -- how do you feel about granting me privileges to work with that repository directly? I can build a release package and set up the branches and tags for consistency with the rest of our codebase.

[2020-02-07 23:48] asmecher commented on #5465
Thanks, @NateWr -- I added a comment on that here: https://github.com/pkp/omp/commit/527fdb5daa8712dbbf6d3e3d4f52a3f614d4ab9b#r37183334

[2020-02-08 00:28] asmecher opened #5488 "Update copyright dates and license info"
- Update copyright dates for 2020
- Update license information for GPLv3

[2020-02-08 00:44] asmecher commented on #5488
One-liner:
[code]

[2020-02-08 14:31] jonasraoni opened #5490 "[OHS] Records are missing the datestamp field."
Describe the bug
After harvesting an archive, the datestamp column of the records remain empty.

To Reproduce
Harvest any archive

What application are you using?
OHS 2.3
PHP 7.1

[2020-02-08 15:54] jonasraoni commented on #5490
PR: https://github.com/pkp/harvester/pull/24

[2020-02-08 18:03] asmecher commented on #5490
Thanks, @jonasraoni!

[2020-02-08 18:03] #5490 closed

[2020-02-08 18:27] jonasraoni opened #5491 "[OHS] Harvester performance"
Describe the bug
The harvesting process is performing slowly due to the amount of database operations.

What application are you using?
OHS 2.3
PHP 7.1

[2020-02-08 18:49] jonasraoni commented on #5491
PR: https://github.com/pkp/harvester/pull/25

[2020-02-08 18:57] jonasraoni commented on #5491
After benchmarking a bit I saw that in general the operations are ok, but the amount of SQL statements were crippling the database, so I've just tried to compact them into chunks.

With these small changes, harvesting an archive with 170 records got it's time reduced from 1014s to 22s in my notebook.

[2020-02-08 19:11] jonasraoni commented on #5491
There are other points where things could be improved, but I've decided to stop... I think it will be more productive to proceed with a surgery to replace the manual indexing by a full text index... I just need to check out all the functionalities before going ahead...
I've made a small experience in the search at https://index.pkp.sfu.ca (searches that include only text + archiveIds and something

[2020-02-09 14:32] ajnyga commented on #5483
@asmecher, fix for this:

lib: https://github.com/pkp/pkp-lib/pull/5492
ojs: https://github.com/pkp/ojs/pull/2614 (just submodule)

[2020-02-09 15:18] jonasraoni opened #5493 "[OHS] Installation error"
Describe the bug
When trying to install (or maybe upgrade) on PHP 7 + MySQL 5.7 it was failing with an error.

What application are you using?
OHS 2.3
PHP 7.1

[2020-02-09 15:31] jonasraoni commented on #5493
PR: https://github.com/pkp/pkp-lib/pull/5494

[2020-02-09 17:22] jonasraoni opened #5495 "[OHS] Navigation performance"
Describe the bug
The Harvester is taking too long to process some listings when the instance has many archives, especially when not using SSD disks.

What application are you using?
OHS 2.3
PHP 7.1

[2020-02-10 12:35] #4863 closed

[2020-02-10 12:36] #4867 closed

[2020-02-10 12:36] #4905 closed

[2020-02-10 12:36] #5208 closed

[2020-02-10 12:39] NateWr commented on #5469
This may be fixed by https://github.com/pkp/pkp-lib/issues/5483#issuecomment-583851831

[2020-02-10 13:48] AndreLZGava opened #5496 "Upgrading process returning error on getFileId"
**Describe the bug**
I'm facing problem to migrate my OJS from 2.4.8-5 to 3.1.4-x
Its always returning error on getFileId

**To Reproduce**
I believe that its caused by an corrupted file, or something in my database, but the system must deal with it.
Steps to reproduce the behavior:
1. Copy database from original OJS and install it on another server
2. Copy OJS 3.1.4 files to your server/computer

[2020-02-10 14:26] NateWr commented on #5483
Thanks!

[2020-02-10 14:26] #5483 closed

[2020-02-10 14:40] heike-r commented on #3075
I want to add to this, that in the reviewer selection list (when an editor invites a reviewer), the reviewers are still marked as having an active review although the respective submission is already archived (status 4, either published or declined). This might happen when the reviewer has never responded to the initial invitation and the editor did not take the time to unassign them. This makes t

[2020-02-10 14:46] NateWr commented on #5469
PR:
https://github.com/pkp/pkp-lib/pull/5497

Tests:
https://github.com/pkp/ojs/pull/2615

[2020-02-10 15:57] #5469 closed

[2020-02-10 16:01] NateWr commented on #3075
Thanks @heike-r, that's a :+1: for me. I also want to cross-link this issue with https://github.com/pkp/pkp-lib/issues/4975.

[2020-02-10 16:06] NateWr commented on #5487
Should a required multilingual property _always_ be required only in the primary language? Or are there cases where a required multilingual property may be required in every language, or something other than the primary language?

Right now, the validation checks are taken from the list of `required` props in the schema file. I can adjust this to handle all multilingual props differently, or we ca

[2020-02-10 16:39] NateWr commented on #5468
It was not very easy to support a single multilingual option in an otherwise monolongual `FieldOptions`. Due to time constraints I took the easy route and just split it out into two fields. This is a little bit less intuitive but I think not a significant UX hurdle.

PRs:
https://github.com/pkp/pkp-lib/pull/5498
https://github.com/pkp/ui-library/pull/65
https://github.com/pkp/ojs/pull/2616
https:/

[2020-02-10 17:02] NateWr commented on #5467
PRs:
https://github.com/pkp/pkp-lib/pull/5499
https://github.com/pkp/ui-library/pull/66

Tests:
https://github.com/pkp/ojs/pull/2617

[2020-02-10 17:16] asmecher commented on #5496
@AndreLZGava, let's work on this in the forum rather than posting it to two places. You'll reach the same team either way.

[2020-02-10 17:16] #5496 closed

[2020-02-10 17:16] #4856 closed

[2020-02-10 17:18] #5465 closed

[2020-02-10 17:44] asmecher commented on #5487
Currently all required fields are only required in the primary language, which is used on display as a fallback when more localized information isn't available. The "required" language is determined as follows:
- For site-wide content such as the site title, or (notably) user given names, family names, affiliations, etc., fields are required in the site's primary locale.
- For journal-specific req

[2020-02-10 17:48] NateWr commented on #5441
PR:
https://github.com/pkp/pkp-lib/pull/5500

Tests:
https://github.com/pkp/ojs/pull/2618

[2020-02-10 18:35] cpockett commented on #5471
I'm not quite sure how to run the upgrade script to be honest. I upgraded my test OJs instance to the newest version. I'm using a github checkout for it currently (easier for patching). I've cherry-picked the commit onto the detached head version of lib/pkp. And reran the upgrade via php tools/upgrade.php upgrade.

I'm sure I'm just missing something but not sure what. Currently when I try to clic

[2020-02-10 18:42] NateWr commented on #5468
@asmecher Sorry, but I've added a couple of locale strings here. I can't see a way around it because it involves creating a new form field: https://github.com/pkp/pkp-lib/pull/5498/files#diff-f7d63cc9ec63a26b93620b360593cb1fR1601-R1609

[2020-02-10 18:49] NateWr commented on #5487
A note to also check how this is working on dependent entities (contributors, galleys, chapters). These aren't yet on the new schema system, but may have long-standing issues related to whether required fields are correctly required in the submission's locale.

[2020-02-10 19:07] asmecher commented on #5471
@cpockett, that upgrade step will be run with the upgrade to OJS/OMP 3.2; the upgrade script can't selectively run upgrade steps outside that greater framework (without a manual work-around that'll require some coding). I'd suggest waiting for 3.2 to be released at the end of this month. Do you use the library extensively? If not, if you need to fix this before the next release, it might just be e

[2020-02-10 19:49] cpockett commented on #5471
@asmecher I'm comfortable with PHP. I could wait but I wouldn't mind knowing the work-around in case it become relevant in the future.

[2020-02-10 19:53] cpockett commented on #5471
I guess since it's a public function I could probably just call it directly, via command-line come to think of it.

[2020-02-11 10:36] NateWr commented on #5468
Merged

[2020-02-11 10:36] #5468 closed

[2020-02-11 10:39] #5467 closed

[2020-02-11 10:40] #5441 closed

[2020-02-11 16:19] NateWr opened #5502 "Not possible to select publication language after submission"
**Describe the bug**
If a journal allows submissions in more than one language, it's possible to select the language of a submission when making the submission. This is saved to the publication object and effects which locale is required in multilingual form fields. However, once submitted, there's no way to change the publication's locale.

**To Reproduce**
Steps to reproduce the behavior:
1. Set

[2020-02-11 16:26] NateWr commented on #5487
@asmecher This could really do with a second set of eyes on this, and some manual testing if you have the time. These PRs update the validation checks for publications and related objects so that they take use the publication's locale as the required locale for multilingual fields and only allow locales enabled under the context setting `supportedSubmissionLocales`.

I think I've got all the logic

[2020-02-11 16:31] NateWr opened #5503 "Add integration tests for required locales in forms"
Depending on what kind of object being handled, the required locale may be different, as described in [this comment](https://github.com/pkp/pkp-lib/issues/5487#issuecomment-584245122):

In particular, when a submission is made in a language that is different from the journal's primary locale, validation should be checked against the submission's language. This is easy to forget, so would benefit f

[2020-02-11 18:44] asmecher commented on #5502
A potentially tricky UI/UX problem needs solving here. All required submission-level fields must be completed in the submission's primary language, so a change if primary locale when that's not the case would need...
- to be prevented unless all required fields are completed in the new locale, or
- to lead the user to a form where these could be completed (though they may currently be fairly far-f

[2020-02-11 23:13] asmecher commented on #5487
Looks good on a visual inspection, @NateWr. I'm content to test/refine this once it's merged, so we can get everyone working on the codebase with this included ASAP.

[2020-02-12 00:12] amandastevens opened #5504 "Have option to restrict Editor access to Settings"
**Update**
This is how the solution is implemented:
Now there is the possibility to allow or disallow access to "Settings" for roles with the "Journal Manager" permission level (per default these are Journal Manager, Journal Editor and Production Editor) -- there is a new setting option "Permit changes to Settings" in the roles edit form, that is only enabled for roles with the "Journal Manager" p

[2020-02-12 02:15] jmacgreg commented on #5427
Sorry @NateWr , just saw your request now. I can confirm that this is no longer an issue - problem solved. Thanks!

[2020-02-12 09:16] ajnyga opened #5505 "[OJS] Clean special characters from journal acronym when used in DOI suffix"
Hi,

The DOI plugin allows you to use `%j` in the DOI suffix pattern, which means the journal `acronym`.

This journal metadata field can contain characters like `&`. However, for exampe Crossref does not allow such characters in the DOI suffix.

Solution: always clean all special characters from `%j` if it is used in the DOI suffix pattern.

@AhemNason @jmacgreg I can do a pr, if you give a go ah

[2020-02-12 10:36] NateWr commented on #5502
Ok, this makes sense and the first option may be pretty easy to accomplish with the new setup. All edits are run through a validation script which can check for missing data and return an error describing which fields are missing.

I think trying to offer a form is not a good idea, especially now that we have the flexible schema so it's not necessarily very easy to construct such a form.

[2020-02-12 10:38] NateWr commented on #5487
Merged!

[2020-02-12 10:38] #5487 closed

[2020-02-12 10:52] NateWr commented on #5505
I don't _think_ this needs work in Vue.js. The context initials are passed into `FieldPubId` and should be cleaned before they are passed: https://github.com/pkp/ojs/blob/master/plugins/pubIds/doi/DOIPubIdPlugin.inc.php#L427

[2020-02-12 11:02] NateWr commented on #5504
Maybe I'm not interpreting this correctly, but I think we already support such a setup. Underneath the user-facing list of roles (Journal Manager, Journal Editor, Section Editor, etc) we have a simplified permissions system that works like this:

| Role | Permission |
| --- | --- |
| Journal Manager | `ROLE_ID_MANAGER` |
| Journal Editor | `ROLE_ID_MANAGER` |
| Section Editor | `ROLE_ID_SUBEDITOR`

[2020-02-12 11:41] ajnyga commented on #5505
Great, that makes it easy then. Once Mike and James react I will do a pr on this.

[2020-02-12 11:49] ajnyga commented on #5481
(also: https://github.com/pkp/pkp-lib/issues/5505)

[2020-02-12 11:55] ajnyga commented on #5505
Thinking of using: `$str = PKPString::regexp_replace('/[^A-Za-z0-9]/', "\n", $str);`

[2020-02-12 13:17] amandastevens commented on #5504
If the Journal Editor is given the role_id of subeditor would they still have access to all submissions or only submissions they have been assigned to?

[2020-02-12 14:13] NateWr commented on #5504
Ah, I see. Something like an assigning editor that has global access to submissions but not to journal configuration.

[2020-02-12 14:54] jmacgreg commented on #5505
This sounds fine to me. Happy to test if/when there's a PR.

[2020-02-12 15:01] Varachkina opened #5506 "Users registration for non-displayed journals"
https://forum.pkp.sfu.ca/t/ojs-3-1-2-user-registration-impossible-if-a-journal-is-not-on-the-site/58315
We have a multi-journal instance. One of the journals is a showcase.
Users who want to register for another journal cannot do that if its presence on the site is not enabled: "Administration > Hosted Journals > JOURNALNAME Edit > Enable this journal to appear publicly on the site (ticked). It wo

[2020-02-12 16:39] amandastevens commented on #5504
Yes, exactly!  A ideally user accounts as well.

[2020-02-12 17:11] asmecher commented on #5506
@Varachkina, let's keep this conversation in the forum. If someone isn't responding to a post, feel free to reply with a reminder on the existing thread.

[2020-02-12 17:11] #5506 closed

[2020-02-12 17:39] asmecher commented on #5504
Just a bit of history: Dissolving the distinction between Editor (who works with content) and Manager (who works with settings) that we used to maintain in OJS 2.x was a conscious choice for 3.x -- a lot of people were spending a lot of time clicking between roles when the distinction wasn't relevant to their journals. However, I didn't predict the pushback from the small group of users who do dep

[2020-02-12 18:45] asmecher opened #5507 "Import plugin's check for local file paths is defective"
See https://forum.pkp.sfu.ca/t/possible-minor-issue-when-import-xml-containing-absolute-href-path/58601 for details:

[2020-02-12 18:46] asmecher commented on #5507
Either of the two attached commits, applied in `lib/pkp`, will correct the issue. They are equivalent, just applied to different branches.

[2020-02-12 18:46] #5507 closed

[2020-02-12 21:14] ajnyga commented on #5505
Tests running: https://github.com/pkp/ojs/pull/2620 (and going to sleep...)

[2020-02-12 23:16] asmecher commented on #5482
PRs:
- https://github.com/pkp/ojs/pull/2621 (tests only)
- https://github.com/pkp/pkp-lib/pull/5508

[2020-02-13 00:18] asmecher opened #5509 "Extend user API key capabilities"
Extend user API key capabilities to support
* multiple API keys per user
* varying levels of access per API key

This will make it safer to grant API keys from high-level accounts like editors/managers, and to avoid reuse of a single API key for multiple purposes.

From the document "Beacon Data Requirements":

In the “API Key” area of the user’s profile, add tools to administer these.

[2020-02-13 00:26] asmecher commented on #5509
@NateWr, FYI. I'm content to start working towards multiple API keys per user -- that's clear enough -- but the `api_key_rights` approach that assigns capabilities to API keys needs more consideration.

At a basic level we could assign role IDs to API keys and use our existing permissions capabilities, but I suspect longer-term that this may not be flexible/fine-grained enough. For example, permit

[2020-02-13 00:31] asmecher commented on #5482
@NateWr, would you mind taking a quick look at the PR above? Thanks!

[2020-02-13 08:27] NateWr commented on #5509
Sounds good. I think this goes back to discussions we had a long time ago about distinguishing roles and permissions. Access could be granted based on permissions and roles could be assigned different sets of permissions. This would be useful more generally for things like #5504 and other similar requests.

In the past, I think you expressed concern that this would cause compounding complexity in

[2020-02-13 08:38] NateWr commented on #5505
@asmecher this looks good to me but do you mind double-checking that regex for me? PR in comment above.

[2020-02-13 09:59] NateWr commented on #5482
Looks good!

[2020-02-13 15:44] AhemNason commented on #5505
Looks good to me!

[2020-02-13 15:54] #5482 closed

[2020-02-13 16:02] NateWr commented on #5505
@ajnyga I notice there's a submodule commit on that PR but I don't see a lib/pkp PR. Are there any changes needed for lib/pkp?

[2020-02-13 16:05] ajnyga commented on #5505
none needed, I was under the impression that a submodule update was needed to start the tests, but I was wrong?

[2020-02-13 16:10] NateWr commented on #5505
Merged, thanks!

[2020-02-13 16:10] #5505 closed

[2020-02-13 23:52] asmecher commented on #5473
PRs:
- https://github.com/pkp/pkp-lib/pull/5511
- https://github.com/pkp/ojs/pull/2624

PRs for OMP and OPS not required.

@NateWr, could you give this a quick once-over? I had to change a directly-coded `UPDATE` SQL query back to an `ADODB::replace` call, which will `INSERT` when no rows are affected by an `UPDATE`.

[2020-02-14 01:54] asmecher commented on #5474
The issue is that the `DOIPubIdExportPlugin` wants to store a setting with the submission (e.g. in `submission_settings`), but that `SubmissionDAO` is now backed by `SchemaDAO`. The `getAdditionalFieldNames` mechanism is not supported by `SchemaDAO`.

The new equivalent is the `Schema::get::submission` hook, as per this [this draft](https://github.com/pkp/pkp-lib/files/4202254/5474-draft.diff.txt)

[2020-02-14 05:10] ajnyga commented on #5474
Thanks Alec, would have never figured that out!

[2020-02-14 13:45] leonardomancini87 opened #5513 "Add a ##section.policy## for Italian translation (missing string)"
Hi everyone,

I am writing here in order to ask if it is possible to add a string ##section.policy## in the locale/it_IT/locale.xml
At the moment it is missing. The Italian translation would be "Politiche delle sezioni".
Thank you very much
Leonardo

ps.: here is a link to the forum: https://forum.pkp.sfu.ca/t/section-policy-missing-translation-cant-find-where-to-add-edit-it/58635

[2020-02-14 15:28] jmacgreg commented on #5474
@AhemNason and I have also replicated this, using the Crossref test deposit API. If/when there's a fix, we can test.

[2020-02-14 15:30] jmacgreg commented on #5474
Behaviour we've seen, in more detail:

1) publish article;
2) manually deposit article using the Crossref test deposit API - the deposit API indicates success;
3) OJS doesn't display the new status, and there's no additional recording of the status in the `publications` table (ie. no `crossref::status` record).

[2020-02-14 15:36] AhemNason commented on #5473
Just tested this and I'm seeing a modal that stays up and inactive when clicked.

1) had a published article that hadn't been assigned a DOI
2) clicked "assign DOIs" from the DOI plugin
3) opens modal with warning/ok/cancel
4) can click button, but nothing happens... not frozen, window closes properly when "cancel" is clicked.

[2020-02-14 15:38] jmacgreg commented on #5505
Tested - works a-ok! One minor note for a future documentation revision - it might be worth changing the statement, in the DOI Plugin setup page, from "Use %j for journal initials" to "Use %j for journal initials (note that special characters such as '&', '$' etc. will be automatically removed)". Not necessary for now though, especially given the locale freeze.

[2020-02-14 15:51] jmacgreg opened #5514 "Review all DOI assign/reassign/clear functions in a targeted UI/UX session"
This would be for **_after_** the OJS 3.2. release. The Reassign/Assign DOI functions just aren't clear enough, even for me and @AhemNason, to understand exactly what the implications are for pressing them. Likewise, the Clear DOI button function for any individual DOI. We click them, and then spend 5 minutes trying to figure out what happened and what we should expect. Just marking this for futur

[2020-02-14 15:57] jmacgreg commented on #5473
Back to the conversation regarding the "Reassign" function: This issue may be causing some of the confusion in #5514. I'll echo what @AhemNason said: the "reassign" function should 1) clear and 2) reinstate DOIs based on the current pattern. Maybe this should split into a separate ticket, or #5514 can be expanded to address this.

[2020-02-14 15:58] asmecher commented on #5513
@leonardomancini87, have a look at https://pkp.sfu.ca/2020/01/22/introducing-weblate-a-new-path-for-ojs-omp-translations/ for information on contributing translations. Checking the recent translation contributions, that key has already been translated and will be released with OJS 3.2.

[2020-02-14 15:58] #5513 closed

[2020-02-14 16:00] asmecher commented on #5473
@AhemNason, are you testing with our testing installation? I haven't updated it to include the PRs.
@jmacgreg, yes, I'd favour splitting the change of functionality into another entry, and leaving this one (scheduled against 3.2) just for the bugfix.

[2020-02-14 16:21] jmacgreg commented on #5473
Hi @asmecher, I've updated the test instance with a fresh checkout as of about an hour ago. I'll split the reassign issue into another entry, though I'll note that this isn't so much a change of functionality requested but a confirmation that the traditional behaviour remains the same.

[2020-02-14 16:22] asmecher commented on #5473
@AhemNason/@jmacgreg, I've cherry-picked the changes into the test installation. They should be visible there now.

[2020-02-14 16:23] asmecher commented on #5481
(Closing this in favour of specific entries.)

[2020-02-14 16:23] #5481 closed

[2020-02-14 16:26] asmecher commented on #5474
@jmacgreg and @AhemNason, I've applied the [draft work-around](https://github.com/pkp/pkp-lib/issues/5474#issuecomment-586059808) to the testing installation so testing can proceed while a nicer solution is worked out!

[2020-02-14 16:33] jmacgreg opened #5515 "Check DOI Reassign workflow in OJS 3.2"
**Expected behaviour:** this button should clear and recreate DOIs that have already been assigned, including published DOIs.

**How to check:**
1. publish some articles, and make sure DOIs are assigned. Also have some articles that are scheduled but not yet published, but with DOIs assigned.
2. Go to Settings > Website > Plugins > DOI Plugin, change the DOI pattern behaviour, and save.
3. In the

[2020-02-14 16:54] asmecher commented on #5515
Just checking, are you or @AhemNason testing this for the 3.2 release, or looking for confirmation from the dev team?

[2020-02-14 17:04] jmacgreg commented on #5515
We'll test and confirm - @AhemNason, sounds good?

[2020-02-14 17:44] AhemNason commented on #5515
yes!

[2020-02-14 18:06] jmacgreg commented on #5474
I've tested this - the work-around works, deposits are made, and statuses are updated!

[2020-02-14 18:08] asmecher commented on #5474
Excellent, thanks, @jmacgreg!

@NateWr, of all this noise, only this is relevant to you: https://github.com/pkp/pkp-lib/issues/5474#issuecomment-586059808

[2020-02-14 18:08] ajnyga commented on #5474
So should I use the same code in OPS?

[2020-02-14 18:10] asmecher commented on #5474
@ajnyga, you mean the draft code mentioned in https://github.com/pkp/pkp-lib/issues/5474#issuecomment-586059808? No, that's not ready yet; it's just a work-around. Watch this issue for PRs.

[2020-02-15 12:16] ajnyga commented on #1822
@asmecher where is the plugin for OJS2?

[2020-02-17 05:27] dtwardy opened #5516 "Updating outdated LESS library from v1.x to v.3.6+"
**Describe the problem you would like to solve**
LESS itself is pretty outdated and has lost against SASS, but the used version of the compiler is ancient. Writing more sophisticated LESS layouts and adapting modern frameworks is pretty much blocked. Very much useful features in LESS v3+ are for example properties as variables, maps (v.3.5.0+), logical functions with proper if clauses and boolean

[2020-02-17 11:14] NateWr commented on #5473
@asmecher The code looks good to me. :+1:

@AhemNason do you have time to do a test today now that Alec has updated the test installation? Definitely need to get these ticked off ASAP so we can hit our release schedule.

[2020-02-17 11:35] NateWr commented on #5474
Data that does not match the schema won't be loaded but it should not be deleted. If data is added by a plugin and that plugin is removed, the data should remain in the database even if it is not retrieved with the object and passed around.

If that's not the case -- if a settings row is getting deleted when its property doesn't exist in the schema -- that's a bug.

In my view, this is a challengi

[2020-02-17 12:26] melat0nin opened #5517 "[OJS] Submissions page: date of last activity doesn't follow configured date format"
On the Submissions page, the date shown alongside "Last activity recorded" does not follow the date format defined in config.inc.php. It displays at yyyy/mm/dd regardless of the latter.

[2020-02-17 12:26] melat0nin commented on #5517
True in OJS 3.1.2.4

[2020-02-17 12:53] NateWr commented on #5516
Hi @dtwardy,

Unfortunately, I can't find a clear indication of what version of the LESS syntax is supported by our [PHP-base LESS compiler](https://packagist.org/packages/wikimedia/less.php). It does look like we are on 1.8.* and there is a 2.* release as of this month.

Would you be able to try out the 2.* package and see if that offers you the syntax support that you need?

Also, there has been

[2020-02-17 12:54] NateWr commented on #5516
(Also, in the meantime, if you are building a custom theme, you can always compile the CSS and ship it with your theme. In fact, if you don't need to use theme options and modify the CSS at run-time, this is what I recommend.)

[2020-02-17 14:05] dtwardy commented on #5516
Thanks for the quick response! I'll give that new compiler version a try as soon as I can.

Wasn't aware you were using a PHP port of that library. Weirdly enough the release is called "2.0.0" while there's also a branch called "release-3.0.0". If the "2.0.0." release doesn't support LESS v3 (or better v3.6) the new version will probably not be of much help. The if clauses and properties as variab

[2020-02-17 15:18] NateWr commented on #5516
And now everyone's moving to post-CSS and soon we'll have native CSS variables. :man_shrugging: Ideally I'd like to see us move to CSS variables for theme options (which is where we really need run-time compilation) and let everyone else do their own pre-processing. But I don't think CSS variables will be around soon enough...

[2020-02-17 16:15] NateWr opened #5518 "[OMP] datePublished includes time stamp which leads to issues"
**Describe the bug**
When a datePublished is saved, it includes the time stamp (`00:00:00`). It shouldn't. This may be because my database hasn't been updated, but the omp db schema needs to be checked to ensure its a `DATE` and not `DATETIME` column.

[2020-02-17 17:25] NateWr commented on #5430
PRs:
https://github.com/pkp/pkp-lib/pull/5519
https://github.com/pkp/ojs/pull/2626
https://github.com/pkp/omp/pull/765

Publisher ID is now enabled as metadata under Settings > Workflow > Submission > Metadata.
![Selection_204](https://user-images.githubusercontent.com/2306629/74674181-bfa77600-51a8-11ea-85ac-ad3cf57b0948.png)

It appears alongside other metadata.
![Selection_205](https://user-ima

[2020-02-17 17:52] #5473 closed

[2020-02-17 19:25] AhemNason commented on #5473
Works great! Just tested!

[2020-02-17 19:31] AhemNason commented on #5515
So, Reassign DOIs currently wipes all DOIs. Can confirm that that part works great. I still think the copy here is super unintuitive.

Currently, the behaviour is that it wipes all DOI suffixes across the whole journal. You can then click the "assign dois" button to assign DOIs based on the suffix pattern you've selected. But, the button doesn't "reassign" anything. It also wiped DOIs that were as

[2020-02-17 22:43] asmecher commented on #5517
See also: https://forum.pkp.sfu.ca/t/how-to-change-mm-dd-yyyy-to-dd-mm-yyyy

[2020-02-18 08:43] GrazingScientist opened #5520 "[OJS] Error when changing time range in article statistics"
**Describe the bug**
When going to Statistics -> Articles in the backend, the statistics for the previous 30 days is generated and shown. However, when I want to change the time range, this gives me the error message.

When checking the logs, it shows this:

**What application are you using?**
OJS 3.1.2-4

[2020-02-18 11:48] NateWr commented on #5518
PR:
https://github.com/pkp/omp/pull/766

[2020-02-18 11:54] NateWr commented on #5515
We really just need someone to provide better copy. Can you do that for us?

[2020-02-18 11:54] NateWr commented on #5515
Or maybe the docs team has already written clearer documentation on this from which copy can be crafted? @amandastevens do you know?

[2020-02-18 12:21] NateWr commented on #5520
I was unable to replicate this with the latest `stable-3_1_2` branch. @GrazingScientist do you have a sample database (preferably not a live one) that you could share with us to try to reproduce this?

[2020-02-18 12:27] NateWr commented on #5517
This is because the date transformation happens in the browser so we rely on a JavaScript transformation. The data comes from the API, which returns our standard machine-readable date format (YYYY-MM-DD). See: https://github.com/pkp/ui-library/blob/master/src/mixins/global.js#L98-L127

We use [toLocaleDateString](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date

[2020-02-18 13:01] GrazingScientist commented on #5520
Thank you @NateWr,
I just realized that this was probably an issue with too few (or none) datapoints in the database. Could this be the case? Otherwise, it may be the problem that my test journal is behind a login wall.... :/

[2020-02-18 13:01] #5520 closed

[2020-02-18 13:36] amandastevens commented on #5515
We haven't tackled this yet.  I didn't know this was a new feature of 3.2.

[2020-02-18 14:16] NateWr commented on #5515
I don't think this is new but no worries. Just checking to see if any existing docs had been written up. :+1:

[2020-02-18 14:17] NateWr commented on #5520
Seems likely. Given the error message, it may be that you have PHP notices/warnings printing to the screen (rather than logged quietly).

[2020-02-18 14:41] AhemNason commented on #5515
I'll try to spell this all out clearly based on what's currently happening (and we can figure out if that's what we want to happen)

_**What it currently says**_

_**What it's actually doing**_
If you choose to "reassign", currently, it will wipe the DOI suffix from all article metadata recorded in the database. Regardless of whether or not it's been assigned. Essentially, it wipes all DOIs entire

[2020-02-18 15:00] #5518 closed

[2020-02-18 15:31] MrkKr opened #5521 "‘Install locale’ button not show in administrator setting"
I installed OJS with primary Polish language. I would like to add a second language - English and change it to primary. The problem is that in Creator Wizard -> Languages there is no ‘Install locale’ button displayed. I’m logged in as a user with admin privileges, I also don’t see any errors in PHP log files. Anybody can help me with this?

OJS version: 3.2.0.0
PHP version: 7.3.11

[2020-02-18 16:15] amandastevens commented on #5515
It would be great to add something about this feature to the [DOI Plugin Guide](https://docs.pkp.sfu.ca/doi-plugin/en/) after we clarify how it works.

[2020-02-18 16:27] AhemNason commented on #5515
Yeah, actually. That's a very good point @amandastevens. This version of OJS changes DOI behaviour in a not-insignificant way. I can start drafting a 3.2 version of that this week and have it for release. I can use the testing install for screenshots since I'm testing it already.

[2020-02-18 16:58] asmecher commented on #1822
It's distributed with OJS2, in `plugins/generic/dataverse`.

[2020-02-18 18:55] NateWr opened #5522 "Link in journal health report task notification may be wrong"
**Describe the bug**
A scheduled task will create a task in the dropdown tasks for journal managers which says "This is a kind reminder for you to check your journal's health through the editorial report." The link leads to `/stats/editorialReport` but it should be `/stats/editorial`.

This may have already been fixed, or maybe only in the email template. This needs to be checked.

**To Reproduce*

[2020-02-18 19:27] ctgraham opened #5523 "Custom Block Plugin upgrade 2.x to 3.x leaves invalid block contexts"
**Describe the bug**
The upgrade from 2.x to 3.x does not modify the block context of custom blocks, leaving them orphaned if they existed in `BLOCK_CONTEXT_RIGHT_SIDEBAR` or `BLOCK_CONTEXT_HOMEPAGE`

**To Reproduce**
Steps to reproduce the behavior:
1. Add custom blocks to a context other than the left sidebar in OJS 2.x
2. Upgrade to OJS 3.1.2
3. Navigate to Website Settings -> Appearance
4. Cus

[2020-02-18 19:33] ctgraham commented on #5523
Other blocks are handled here:
https://github.com/pkp/ojs/blob/a4768a0a5c7cf12618574eefdb7557f8c38ebc29/dbscripts/xml/upgrade/3.1.0_update.xml#L20-L22

[2020-02-19 03:41] quoideneuf commented on #5372
@asmecher Here are some changes that add 2 flags to the NativeImportExportPlugin, for example:
[code]
I'm unsure about how things should work on the import side. Currently, the exports without the --use-file-urls flag seem to import correctly, but when the files are references by URL, the importing side encounters a not-authorized response (which currently gets saved in lieu of the intended file c

[2020-02-19 04:03] librariam opened #5525 "Category nesting not reflected in submission form, OJS"
The Categories feature recently introduced in OJS 3.1.2 allows nesting categories under a parent category. The nesting structure is visible in the Workflow settings as well as in the front-end when categories are displayed publicly.

![image](https://user-images.githubusercontent.com/45104797/74800748-74718e00-52a2-11ea-89a1-1c75079aab66.png)

However the list of categories in submission metadata

[2020-02-19 11:31] NateWr commented on #5372
cc @defstat ^ we were talking about this the other day.

[2020-02-19 13:09] MrkKr commented on #5521
I downgrade to stable version 3.1.2-4 and problem disappear.

[2020-02-19 13:09] #5521 closed

[2020-02-19 13:29] ajnyga opened #5526 "Selected value not loaded in Vue FieldOptions component"
In Vue based forms preselecting a value is not working with the FieldOptions component.

A working fix is to add
[code]
after https://github.com/pkp/ui-library/blob/master/src/components/Form/fields/FieldOptions.vue#L208

[2020-02-19 14:48] NateWr commented on #4870
Some additional work required to prepare our themes for 3.2.

PRs:
https://github.com/pkp/pkp-lib/pull/5527
https://github.com/pkp/pdfJsViewer/pull/49
https://github.com/pkp/ojs/pull/2629

[2020-02-19 15:00] Beibut opened #5528 "[OJS]"
You also need to enable the OpenJournalSystem service (sj.astanait.edu.kz/journal) to access the host. Click on the "Install OpenJournalSystem" button and see the "HTTP ERROR 500" link. All parameters (name BD, users) are usually good, there is a problem with connection to BD or may not work. Try to change the BD installation in config.inc.php, without the result. Pomogite can solve the problem.
O

[2020-02-19 17:52] asmecher commented on #5528
@Beibut, please check your PHP error log for details.

[2020-02-19 18:33] asmecher commented on #5517
We're using `strftime` on the PHP side, which is a standard function with support in many languages, and appears to have several JS ports available, e.g. https://github.com/samsonjs/strftime and https://thdoan.github.io/strftime/.

[2020-02-19 20:03] asmecher commented on #5522
(This was a trivial fix.)

[2020-02-19 20:03] #5522 closed

[2020-02-19 22:04] asmecher commented on #5525
@NateWr, this would just require adding a class to the `ListPanelItem` depending on whether it had a parent category ID -- but I don't see any way in a `ListPanelItem` to add a class and there must be another use case for something similar in the codebase. Anything come to mind?

[2020-02-20 00:36] asmecher opened #5529 "PKP-lib stats API handler contains OJS-specific code"
See https://forum.pkp.sfu.ca/t/omp-3-1-2-error-500-in-monograph-statistics/58591 for details:

[2020-02-20 00:41] asmecher commented on #5529
To fix this for affected releases of OMP 3.1.2-x, apply:
- https://github.com/pkp/omp/commit/7165b672a67cbc8719700c912c9c36d9ff1b6751
- https://github.com/pkp/pkp-lib/commit/bee49a7d5810ce061cd99025561bce7c48f9b994 (in `lib/pkp` subdirectory)

[2020-02-20 00:41] #5529 closed

[2020-02-20 05:24] Beibut commented on #5528
2020-02-19 19:45:58	Error	85.159.27.200	500	POST /journal/index.php/index/install/install HTTP/1.0	http://sj.astanait.edu.kz/journal/index.php/index/install/install	Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36	169	Доступ к Apache

2020-02-19 19:50:08	Warning	85.159.27.200		mod_fcgid: stderr: PHP Warning: Declaration of InstallF

[2020-02-20 05:43] pmangahis opened #5531 "Reviewer Forms created in OJS 2 not transferring properly to OJS 3"
As mentioned in the forum https://forum.pkp.sfu.ca/t/review-forms-one-little-question/58422.
Reviewer forms created in OJS 2 do not transfer over properly when upgrading to OJS 3. While reviewer questions are carried over, the options are carried over as blanks (as shown in the screenshot).

![1afba25d834bc35ccd577fbf23edf4150944cbfc](https://user-images.githubusercontent.com/50342731/74904341-7dc

[2020-02-20 07:46] asmecher commented on #5528
This is the relevant message:
[code]
Search our support forum for that message and you'll find a solution.

Beware that you've posted your database credentials above; please change them as soon as possible.

[2020-02-20 07:46] #5528 closed

[2020-02-20 09:32] NateWr commented on #5517
:tada:  This should be easy to do for 3.2.

[2020-02-20 09:39] NateWr commented on #5525
This also effects the category selection after submission is completed, but there we use a `FieldOptions`. The `ListPanel` here is a bit of a hack to weave the new in with the old.

I can think of ways to address this visually but I'm not sure about accessibility -- how would someone using a screenreader understand which categories are nested? One fairly easy way around this for now would be to pr

[2020-02-20 10:16] NateWr commented on #5517
Having looked at this briefly, I think the barrier we face is in the translation. The `strftime` module will read our date formats, but it only has a [limited set of supported locales](https://www.npmjs.com/package/strftime#bundled-locales) and is missing some key ones for us like `fr_CA`.

I think we'll need to consider either asking our own translators to contribute the necessary strings:

[code

[2020-02-20 15:08] NateWr opened #5532 "Editors fail to schedule for publication"
**Describe the problem you would like to solve**
In UX tests of the new publication/versioning workflow, several users assigned a publication to an issue and saved the form, but failed to schedule the article for publication.

Users will quickly learn that they need to schedule a submission for publication because it is not archived or published in an issue until that happens. However, it would be

[2020-02-20 15:11] NateWr opened #5533 "Unclear language for setting to allow participants to edit metadata"
**Describe the problem you would like to solve**
During UX testing, users were confused about the setting which allows an editor to grant or revoke someone's permission to edit a submission's metadata.

**Describe the solution you'd like**
Better language could be written to make it clear what this setting does.

**Who is asking for this feature?**
Editors

[2020-02-20 15:14] NateWr opened #5534 "Announcements do not appear after enabling"
**Describe the problem you would like to solve**
During UX testing, there was some confusion after enabling announcements under Settings > Website > Setup > Announcements. In order to see the Announcements area the user must reload the page.

**Describe the solution you'd like**
The page could be reloaded automatically when announcements are enabled or disabled. This is already done in the payment

[2020-02-20 15:39] NateWr commented on #5526
Assigning this to 3.2 because it will be a pre-requisite for work @ajnyga is doing on the OPS beta.

[2020-02-20 15:43] NateWr commented on #5430
I've merged this in but there are still two things I'd like to hear back on.

1. @AhemNason can you please give me a +1 or -1 on this tooltip for publisher ID?

![](https://user-images.githubusercontent.com/2306629/74674981-70624500-51aa-11ea-9c79-260b95615ec1.png)

2. @asmecher The new url_path columns in the db tables are all VARCHAR(32). Should we make this longer or change the type?

[2020-02-20 15:59] NateWr commented on #5526
PR:
https://github.com/pkp/ui-library/pull/67

Tests:
https://github.com/pkp/ojs/pull/2631

[2020-02-20 16:22] NateWr commented on #5525
PRs with the simple suggestion above:
https://github.com/pkp/pkp-lib/pull/5535
https://github.com/pkp/ojs/pull/2632
https://github.com/pkp/omp/pull/768

[2020-02-20 16:35] #4870 closed

[2020-02-20 16:49] NateWr commented on #5191
The submissions page shows the checkmarks on a large screen.

![Selection_218](https://user-images.githubusercontent.com/2306629/74958398-c92b1b00-5400-11ea-9640-7f5e83511806.png)

But hides them on a small screen.

![Selection_219](https://user-images.githubusercontent.com/2306629/74958416-cf20fc00-5400-11ea-8089-fe2d1cbda0b9.png)

The CSS needs to be adjusted to so that the checkboxes always app

[2020-02-20 16:52] NateWr commented on #5190
You'll want to create a new locale string in `locale/en_US/submission.po` like this:

[code]

Then use something in the galley view templates like this:

[code]

Or something like that.

[2020-02-20 16:52] NateWr commented on #5180
@thinkbulecount2 for now, just focus on updating the alt text as described above. The image/link separation will have to wait.

[2020-02-20 16:59] AhemNason commented on #5430
+1 for sure.

On Thu, 20 Feb 2020 at 11:43, Nate Wright <notifications@github.com> wrote:

[2020-02-20 17:38] NateWr opened #5536 "Plugins/themes to package and release before 3.2"
The following plugins or themes should be packaged, released and added to the `plugins.xml` file before 3.2 is released.

| Name | Whose | Repository | Translations | Release | `plugins.xml` | Notes |
| --- | ---| --- | --- | --- | --- | --- |
| controlPublicFiles | @NateWr | Ready | 2020-03-02 | 1.0.0.0 | ✓ | |
| textEditorExtras | @NateWr | Ready | 2020-03-02 | 1.0.0.0 | ✓ | |
| browseBySection

[2020-02-20 17:42] NateWr commented on #5534
PR:
https://github.com/pkp/ui-library/pull/68

Tests:
https://github.com/pkp/ojs/pull/2633

[2020-02-20 17:57] #5526 closed

[2020-02-20 18:02] asmecher commented on #5517
Yuck, I had assumed that the implementation would rely on [`toLocaleDateString`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString), which would rely on the client side to format/translate to the specified locale. I agree, we should not use anything that includes hard-coded languages, and this can wait.

[2020-02-20 18:14] asmecher commented on #5190
...and off the top of my head, you'll want to use the Smarty `escape` filter to make sure HTML-ish characters in those two variables are escaped:
[code]

[2020-02-20 18:23] asmecher commented on #5430
I haven't heard of a need to go beyond 32 characters, but it is an arbitrary limit and I wouldn't object to e.g. doubling it. (We used to have occasional issues with MySQL's max key length getting hit in certain tables -- that's one potential downside to increasing column lengths on indexed columns. But I don't think we're at risk of that in this case.)

[2020-02-20 18:39] mhvezina commented on #5517
I hope it's not unrelevant to add this here (as this is not tied specificaly to the Last activity recorded date issue) but I wanted to say, in my opinion, that the displays for the date formats used across the application should always be language specific.

Actually it's not the case as the date formats defined in config.inc.php apply uniformly to all locales.

I managed to find a way to accomoda

[2020-02-20 22:59] quoideneuf commented on #5345
Perhaps this is all that is needed here:
https://github.com/pkp/ojs/pull/2634

[2020-02-20 23:19] asmecher commented on #5345
@quoideneuf, I think that'll just check to make sure that it's numeric (if specified), but won't limit its length.

[2020-02-21 07:20] ajnyga opened #5537 "Submission::getViews() method missing"
It seems that we used to have a `getViews` method for submissions which showed the number of abstract page hits for that submission.

It is still used here: https://github.com/pkp/ojs/blob/master/plugins/reports/views/ViewReportPlugin.inc.php#L80

However, it seems that the whole method is missing: `PHP Fatal error:  Uncaught Error: Call to undefined method Submission::getViews()`

[2020-02-21 09:58] albig commented on #3261
Dear @defstat, dear @asmecher,

we've just discussed the same requirements on the OJS workshop in Heidelberg today. And I wonder, what's the current state of the this issue and the provided pull requests? Is this a good approach to follow and to contribute to?

[2020-02-21 17:34] asmecher commented on #5474
I double-checked this and can confirm that settings not included in the schema's self-description *are* maintained, i.e. deletion/stripping of these settings is not a problem. However, some of the objects that need their entities extended have DAOs that are SchemaDAOs and some don't, and the extension mechanisms are different. I'm still wading through the details...

[2020-02-21 19:44] asmecher commented on #5537
Re-added that helper to `PKPSubmission`.

[2020-02-21 19:44] #5537 closed

[2020-02-21 20:27] asmecher commented on #3261
Hi @albig!

For the OJS/OMP 3.2 release (due within a few weeks), the only changes to the import/export XML will be 1) to support metadata versioning (https://github.com/pkp/pkp-lib/issues/4880), and 2) to add more options for including/referencing file content (https://github.com/pkp/pkp-lib/pull/5524).

I don't believe the PRs above have seen attention for a while, but @defstat can update you on

[2020-02-21 23:37] diegoabadan commented on #3261
I believe that next week we can send a PR to resolve the #4195.

[2020-02-21 23:40] asmecher commented on #3261
That sounds great, @diegoabadan! We're planning to release OJS/OMP 3.2 at the end of February, and I can't promise we can get your PR included, but we'll try.

[2020-02-21 23:56] diegoabadan commented on #4195
Hello @asmecher !

Due to the carnival celebrations in Brazil, our team only returns to work on Wednesday afternoon. :(

If you want to see how it looks now:
https://github.com/pkp/ojs/compare/stable-3_1_2...lepidus:i4195-enhancement-import

https://github.com/pkp/pkp-lib/compare/stable-3_1_2...lepidus:i4195-enhancement-import

We still have to port to 3.2, but I imagine it will be something simpl

[2020-02-22 00:13] asmecher commented on #4195
@diegoabadan, I agree that working with `stable-3_1_2` is the best thing to do at the moment -- the surrounding code is still getting a little bit of work before the release. (https://github.com/pkp/pkp-lib/issues/4880 -- heads-up @defstat!)

[2020-02-24 09:55] NateWr opened #5540 "Date formats should allow different configurations for each language"
**Describe the problem you would like to solve**
The date formats are defined in the config file. Different languages may require distinct formats. This makes it challenging to find date formats that are appropriate across all languages. In a multi-tenant setup, where each journal is completely distinct, it may also be challenging to find a format that all tentants agree upon.

**Describe the solu

[2020-02-24 09:59] NateWr commented on #5517
Thanks @mhvezina, that's a good point. I've filed that as a separate issue at https://github.com/pkp/pkp-lib/issues/5540 because it's likely to not get resolved at the same time as this issue.

[2020-02-24 11:06] NateWr commented on #5430
Thanks!

[2020-02-24 11:06] #5430 closed

[2020-02-24 11:12] #5534 closed

[2020-02-24 14:37] NateWr commented on #5525
Merged!

[2020-02-24 14:37] #5525 closed

[2020-02-24 16:21] quoideneuf commented on #5345
@asmecher I added a length constraint to the regex.

[2020-02-24 16:37] mfelczak commented on #5540
Yes, each journal/press in a multi-tenant install would need to be able to set their own date formats on a per locale basis to override global defaults.

[2020-02-24 17:04] asmecher commented on #5540
I can predict that the next request will be for date formats by user... would it not be a good general solution to just go with that?

[2020-02-24 17:24] mhvezina commented on #5540
I would be quite happy with a per locale basis, as date format is primarily linked to language used. If you want to offer it on a per user basis, I would (as a user) still have to define/specify a syntax/format tied to the language interfaces I use (if I use more than one language). Another option would be not to offer date formats long or short and apply the international ISO 8601 format : YYYY-M

[2020-02-24 17:58] asmecher commented on #5540
Thanks, @mhvezina, that's very helpful; I would have expected that the user (that's you!) would not want the formats to change when they used several languages, but rather that they would use the one format of their preference. Can you describe your use case a little more?

[2020-02-24 17:58] asmecher commented on #5540
(FWIW I would love ISO8601 to become universal!)

[2020-02-24 18:42] NateWr commented on #5470
This turned out to be an issue with how total stats were counted. They didn't exclude galleys that were not full-text galleys, so it was possible for the total value to include views that weren't displayed in the table.

PR:
https://github.com/pkp/pkp-lib/pull/5542

Tests:
https://github.com/pkp/ojs/pull/2639

[2020-02-24 19:41] asmecher commented on #5372
Thanks, @quoideneuf! I've merged the PRs to OJS `stable-3_1_2` and cherry-picked forward to `master`. (Heads-up @defstat that you'll need to rebase over this -- I don't think the changes are likely to conflict, though.)

@quoideneuf, could you port to OMP `stable-3_1_2` as well? Then I'll cherry-pick forward to OMP `master` as well.

[2020-02-24 20:46] asmecher commented on #5474
Merged the fix for `PKPPubIdPlugin` and co.  (https://github.com/asmecher/ojs/commit/873479535825777cfa4bfcbeaab156d54e32f139 https://github.com/asmecher/pkp-lib/commit/8c5a2f19e763a175a184b4b1f27163fbf0fdd3c2 https://github.com/pkp/omp/commit/42f2fcbf5203ea488530b14dee1e1784805cd732) to `master`.

[2020-02-24 20:51] mhvezina commented on #5540
Hi @asmecher,

I guess expected behavior is the same whether date format is set by admin or user.

Let say I have a multi-journal instance, with 3 journals. One (A) uses only French (forms, submission, UI), another one (B) is trilingual (French, English, Spanish) and a last one (C) is only in English.

I think, what I would expect, as a user, is to see the date (long format) in a correct (most acc

[2020-02-25 03:39] quoideneuf commented on #5372
@asmecher Here is the PR for OMP.

https://github.com/pkp/omp/pull/769

[2020-02-25 10:05] NateWr commented on #5540
I think there are a couple issues that would arise from this. First, these date formats are used for public-facing information (article landing page) as well as internal info (activity dates in submission lists). Journals typically want to exercise firm control over the public-facing information and consistency is important. If an American reader sees MM/DD/YYYY and a British reader DD/MM/YYYY, th

[2020-02-25 10:26] #5470 closed

[2020-02-25 10:35] NateWr opened #5543 "Show usage stats for galleys that are not full-text galleys"
- [x] consider ASSOC_TYPE_SUBMISSION_FILE_COUNTER_OTHER in the background/API
- [x] consider suppFileViews in UI

**Describe the problem you would like to solve**
Currently, the publication statistics UI shows article/monograph stats for the "Abstract", "File Views", "PDF", "HTML", "Other" and "Total".

![Selection_225](https://user-images.githubusercontent.com/2306629/75239022-d9087d80-57b9-11ea-

[2020-02-25 10:53] NateWr opened #5544 "urlPublished refers to article in pkp-lib"
**Describe the bug**
`PKPPublicationService::getProperties()` gets the URL based on OJS (`/article/view/...`). This should be separated out to OJS, OMP and OPS.

https://github.com/pkp/pkp-lib/blob/master/classes/services/PKPPublicationService.inc.php#L211-L220

**What application are you using?**
 OJS/OMP version 3.2 pre-release

[2020-02-25 11:12] NateWr commented on #5544
PRs:
https://github.com/pkp/pkp-lib/pull/5545
https://github.com/pkp/ojs/pull/2640
https://github.com/pkp/omp/pull/770

[2020-02-25 11:54] NateWr commented on #5536
Base XML for the `controlPublicFiles` plugin.

[code]

[2020-02-25 11:58] NateWr commented on #5536
Base XML for the `textEditorExtras` plugin.

[code]

[2020-02-25 12:01] NateWr commented on #5536
Additional XML for `paperbuzz` release.

[code]

[2020-02-25 12:06] NateWr commented on #5536
Release XML for `classic`, `immersion`, `healthSciences`, `boostrap3` and `defaultManuscript` themes.

[code]

[2020-02-25 12:55] ajnyga commented on #5536
Release XML for `allowedUploads`.

[code]

[2020-02-25 14:36] NateWr opened #5546 "Fatal error when retrieving issues with galleys from API"
**Describe the bug**
If an issue has a galley, retrieving it from the API will cause an error because `GalleyService::getProperties()` assumes it is getting properties of a submission galley. The code which gets the `urlPublished` and dependent files of a galley expects a publication and submisssion to be present.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an issue with a galley.

[2020-02-25 14:36] NateWr commented on #5546
(Alec this can be bumped to 3.2.1 if I don't get to it in time.)

[2020-02-25 16:10] asmecher commented on #5540
:+1: Happy to be walked back from the precipice on this, @NateWr and @mhvezina!

[2020-02-25 19:21] ajnyga commented on #5536
How about https://github.com/pkp/citationStyleLanguage

[2020-02-25 19:40] racemochridhe opened #5547 "[OMP] Apostrophe replaced by HTML code in breadcrumbs"
We're running the current version of OMP and just published a new book to our catalog. It is the first volume in a series, and the configuration of series is new to us. The name displays properly everywhere across our site (see image 1) except in the breadcrumbs on the series page (see image 2), where the apostrophe in the title is replaced by its HTML code (`&#039;`).

![image](https://user-image

[2020-02-25 22:38] asmecher commented on #5536
That's included in OJS as a submodule so it gets shipped in the OJS .tar.gz. So as long as it's been tested, it doesn't need to be packaged and distributed.

[2020-02-26 00:14] asmecher commented on #5474
@NateWr (and @ajnyga), here's the PR for part 2 of this fix: https://github.com/pkp/ojs/pull/2641/files

Here's what it does...
- [Adds a new function](https://github.com/pkp/ojs/pull/2641/files#diff-4598c87960f21637f8ad27a7dfd1198bR430) that PubObjectsExportPlugin ([and subclasses](https://github.com/pkp/ojs/pull/2641/files#diff-3d6a2901be051c2b5d25cdb4ded5c438R165)) can use to list new settings

[2020-02-26 00:17] israelcefrin opened #5548 "ORCID - JM don't fill in setting parameter fields"
**Describe the problem you would like to solve**
Some plugins require that information setting be provided. It is pretty common that editors enable the plugin and didn't provide any kind of setting parameter because they are not aware it should be done. And they don't know how to get it as well.

**Describe the solution you'd like**
Show the modal plugin settings when it is enabled from the dashbo

[2020-02-26 02:08] asmecher commented on #5372
Thanks, @quoideneuf, all merged and cherry-picked!

[2020-02-26 02:08] #5372 closed

[2020-02-26 07:36] ajnyga commented on #5474
I will cherry-pick this to OPS as soons as I see a commit to OJS

[2020-02-26 09:36] NateWr commented on #5474
I left a comment on the PR but it looks like a really clever solution. It's also good to have an option for extending a schema even after it has been loaded for cases like this where there's little wiggle room. :+1:

[2020-02-26 10:13] #4851 closed

[2020-02-26 10:23] #5544 closed

[2020-02-26 11:03] NateWr commented on #5546
PRs:
https://github.com/pkp/pkp-lib/pull/5549
https://github.com/pkp/ojs/pull/2642

[2020-02-26 13:52] NateWr opened #5550 "Fatal error due to changes in SettingsDAO"
In the following commits I updated `SettingsDAO` to reflect that the `journal_settings` and `press_settings` tables no longer have a `setting_type` column. This is because they're both run off of schemas now.

https://github.com/pkp/pkp-lib/commit/a7a341b605110a50369d2e6e55a41beeef902739
https://github.com/pkp/ojs/commit/cfe206456ccae071231277fffd0b31c94acfef6a
https://github.com/pkp/omp/commit/61

[2020-02-26 14:35] NateWr opened #5551 "JournalSettingsDAO should not depend on SettingsDAO"
Journal and press objects use a json schema file and their DAOs extend the `SchemaDAO`. However, there are many places where `JournalSettingsDAO` and `PressSettingsDAO` are used where they get and set one setting at a time, through the `SettingsDAO` methods `getSetting()` and `updateSetting()`. This is especially common in the upgrade scripts.

Settings tables that use the schema should have their

[2020-02-26 14:39] NateWr commented on #5550
It looks like `JournalSettingsDAO` can be removed without too much work. However, as I was doing it, I got nervous about how much old upgrade code I was modifying. Since we don't have time to test properly before 3.2's release, I went with a safer alternative: I just restored the `setting_type` column to `journal_settings` and `context_settings` even though they won't be removed. I filed the `Jour

[2020-02-26 15:37] Vitaliy-1 commented on #5536
HTML Article Galley, PDF.JS PDF Viewer, and Life Lens Article Viewer plugin also require an update because of the new article versioning feature, I mean viewing galleys of previous versions of published articles. I'm not sure if it's addressed somewhere.

[2020-02-26 15:47] NateWr opened #5553 "Abstract length error message includes Array instead of correct length"
**Describe the bug**
When an abstract is too long, the error message should how many words it currently is, but it says Array instead.

![Selection_228](https://user-images.githubusercontent.com/2306629/75361397-20246a80-58af-11ea-9298-7627be06327d.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Journal > Section and edit a section to include a word limit.
2. Go to a su

[2020-02-26 15:52] NateWr commented on #5553
It looks like an error may always be thrown regardless of abstract length. Bumping to 3.2 and will investigate tomorrow.

[2020-02-26 15:56] NateWr commented on #5553
PR:
https://github.com/pkp/ojs/pull/2644

[2020-02-26 16:46] ewhanson commented on #5536
Release XML for `authorRequirements`.

[code]

[2020-02-26 19:07] asmecher commented on #5536
@Vitaliy-1, are you just flagging those for checking, or have you observed an issue with them?

[2020-02-26 19:13] asmecher commented on #5474
Committed to OJS -- thanks, @NateWr -- and ready for porting to OPS, @ajnyga! I'll update the testing install and let Mike know so we can get a bit of extra smoke testing on this. Thanks all!

[2020-02-26 19:13] #5474 closed

[2020-02-26 22:33] asmecher commented on #5515
Just pinging this issue to make sure anything necessary for 3.2 is in progress for Friday!

[2020-02-26 22:39] asmecher commented on #4880
PRs from @defstat (I'll review them shortly):
- https://github.com/pkp/pkp-lib/pull/5555
- https://github.com/pkp/ojs/pull/2646

OMP to follow tomorrow (chapter support in progress).

[2020-02-26 23:04] asmecher commented on #4880
@defstat, I've reviewed both PRs above -- looking very good. I'll put some time into testing tomorrow (I can add some integration testing stuff in the process; it's currently disabled awaiting this fix). That's a lot of work!

[2020-02-26 23:20] diegozmweb opened #5556 "[OJS 3.1.2-1] PubMed OtherAbstract tag"
Hi all:

I'm trying to add an adicional abstract in Spanish with <OtherAbstract Language="es"> tag but It breaks.

The lines what I trying to add are:

$spanishAbstract = PKPString::html2text($publication->getLocalizedData('abstract', 'es_ES');
$articleNode->appendChild($doc->createElement('OtherAbstract Language=\'es\'', $spanishAbstract ));

Regards

[2020-02-27 00:10] thinkbulecount2 commented on #5191
[Pull Request](https://github.com/pkp/ojs/pull/2647)
cc: @NateWr

[2020-02-27 00:25] thinkbulecount2 commented on #5186
[Pull Request](https://github.com/pkp/pkp-lib/pull/5557/files)
cc: @NateWr

Hope I got them all!

[2020-02-27 00:39] thinkbulecount2 commented on #5180
[Pull Request](https://github.com/pkp/ojs/pull/2648) (just for alt text portion)
cc: @NateWr

[2020-02-27 05:00] asmecher commented on #5556
Hi @diegozmweb -- are you reporting a bug in OJS, or are you looking for guidance in a modification? If you're looking for help with a modification, https://forum.pkp.sfu.ca/ is the best place to go.

[2020-02-27 09:23] ajnyga opened #5558 "New hook to usageStats plugin to enable filtering stats by IP"
We received a request from one of our journals if it would be possible to filter out usage stats hits that are coming from within their own organisation.

This would be a similar kind of filter as you have with bots, meaning that the log file would remain the same but when the contents are moved to the db certain IP:s would be left out.

This would be easily achieved with a plugin if there would b

[2020-02-27 10:21] NateWr commented on #5558
Try to think about where the hook would be best placed, and what arguments would be needed, to allow as many different kinds of interventions as possible. For example, is there a place the hook could be put that would solve your need, but would also allow someone else to do one of the following:

- Filter out requests from one city.
- Log requests to one part of the site that come from within or o

[2020-02-27 10:26] #5550 closed

[2020-02-27 12:40] #5553 closed

[2020-02-27 13:42] #5546 closed

[2020-02-27 14:00] NateWr commented on #5180
All good here. :+1: Can you do this for OMP as well?

[2020-02-27 14:21] diegozmweb commented on #5556
Hi @asmecher, yes, I trying to do a modification. I'll copy the message in forum.

Regards,
Diego

[2020-02-27 14:21] diegozmweb commented on #5556
Hi @asmecher , yes, I trying to do a modification. I'll copy the message in forum.

Regards,
Diego

[2020-02-27 14:21] #5556 closed

[2020-02-27 14:26] Vitaliy-1 commented on #5536
@asmecher, sorry, yes, I observed an issue while testing themes.
If an article has several versions, it can be viewed from a front-end on the article landing page. In this case, URL will have additionally `.../version/versionId`. If this older version has galleys, when trying to view them, it redirects to `.../version/versionId/galleyId`, where I see only empty iframe with no found message. I thin

[2020-02-27 14:27] Vitaliy-1 commented on #5536
@asmecher, sorry, yes, I observed an issue while testing themes.
If an article has several versions, it can be viewed from a front-end on the article landing page. In this case, URL will have additionally `.../version/versionId`. If this older version has galleys, when trying to view them, it redirects to `.../version/versionId/galleyId`, where I see only empty iframe with no found message. I thin

[2020-02-27 15:55] asmecher opened #5559 "Series names containing apostrophes are double-escaped in breadcrumbs"
See https://github.com/pkp/pkp-lib/issues/5547 for details (and screenshots):

![image](https://user-images.githubusercontent.com/200411/75460542-712b7180-5936-11ea-9745-f9ac5efd8491.png)

[2020-02-27 15:59] asmecher commented on #5559
Oops, that was already a git issue :)

[2020-02-27 15:59] #5559 closed

[2020-02-27 16:04] NateWr opened #5560 "Files for old versions don't load"
**Describe the bug**
Attempts to load the files for galleys attached to old versions fail. This problem exists for downloads as well as files loaded by the PDF and HTML viewer plugins.

[2020-02-27 16:06] NateWr commented on #5560
PRs:
https://github.com/pkp/ojs/pull/2649
(looking into omp now)

[2020-02-27 16:08] ajnyga commented on #5536
<release date="2020-02-27" version="2.1.3.0" md5="c0da8298261b602bfeb093cbc3e788e6">
	<package>https://github.com/ajnyga/funding/releases/download/2.1.3.0/funding.tar.gz</package>
	<compatibility application="ojs2">
		<version>3.2.0.0</version>
	</compatibility>
	<compatibility application="omp">
		<version>3.2.0.0</version>
	</compatibility>
	<certification type="reviewed"/>
	<description>Update

[2020-02-27 16:11] ajnyga commented on #5536
note https://github.com/pkp/pkp-lib/issues/5536#issuecomment-590852768 had the wrong date before, I corrected it here but needs to be checked in the xml file as well.

[2020-02-27 16:53] asmecher commented on #5536
Thanks, all, I'll start wrapping up plugins and adding all this stuff to the XML today to clear the decks for OJS/OMP/OPS tomorrow.

[2020-02-27 17:00] NateWr opened #5561 "Cover images don't load in OMP catalog"
**Describe the bug**
The URLs to cover images don't load in the OMP catalog because the URLs are not correct.

[2020-02-27 17:01] NateWr commented on #5561
PR:
https://github.com/pkp/omp/pull/773

[2020-02-27 17:11] thinkbulecount2 commented on #5186
Submodule update PR for OJS: https://github.com/pkp/ojs/pull/2650
cc: @NateWr

[2020-02-27 17:13] asmecher commented on #5547
To fix this, apply https://github.com/pkp/omp/commit/77b70fac0b842fc8c60a568e3c647b109236e580 to your installation. Thanks for reporting so clearly, @racemochridhe!

[2020-02-27 17:13] #5547 closed

[2020-02-27 17:24] NateWr opened #5563 "Possible to access unpublished articles when not logged in"
**Describe the bug**
It is possible to access unpublished articles when not logged in or to access unpublished articles which you are not assigned to.

[2020-02-27 17:27] NateWr commented on #5563
It looks like this went wrong with an attempt to implement a preview feature. Rather than sort out the access control issues at this late stage, I've removed the preview button and blocked all access to unpublished articles on the frontend.

I checked OMP. There was no preview feature and no access to unpublished articles.

PRs:
https://github.com/pkp/pkp-lib/pull/5564
https://github.com/pkp/ojs/p

[2020-02-27 17:29] NateWr opened #5565 "Allow editors and editorial assistants to preview an article before it is published"
**Describe the problem you would like to solve**
It would be nice if an article could be previewed before it is published. This provides a useful last-stage check to make sure things "look" like they are supposed to.

**Describe the solution you'd like**
3.2 had a preview button in the workflow, where the View button is now, which would appear before a submission was published. This had to be revo

[2020-02-27 17:35] #5560 closed

[2020-02-27 17:42] thinkbulecount2 commented on #5190
pkp-lib PR: https://github.com/pkp/pkp-lib/pull/5562
ojs PR: https://github.com/pkp/ojs/pull/2652
cc: @NateWr

[2020-02-27 17:49] thinkbulecount2 commented on #5180
OMP Pull Request: https://github.com/pkp/omp/pull/774
cc: @NateWr

[2020-02-27 18:00] AhemNason commented on #5515
Tested and working consistently. I still think a UX test would be a good call for the process but nothing seems to be broken here!

[2020-02-27 18:08] asmecher commented on #5515
Excellent, thanks, @AhemNason!

[2020-02-27 18:08] #5515 closed

[2020-02-27 18:13] ajnyga commented on #5536
New Funding version:

[code]

[2020-02-27 19:20] ajnyga commented on #5536
New version for `OpenAIRE`. Still using some deprecated methods, but will get rid of those soon.

[code]

[2020-02-27 19:44] asmecher commented on #5536
@ewhanson, I've added your XML per https://github.com/pkp/pkp-lib/issues/5536#issuecomment-591526050 but noticed that it doesn't specify compatibility with OMP. Shall I add that?

[2020-02-27 19:54] asmecher commented on #5536
All the above XML has been reviewed and added *except*...
- controlPublicFiles: https://github.com/pkp/pkp-lib/issues/5536#issuecomment-590830258 still needs package details filled in
- textEditorExtras: https://github.com/pkp/pkp-lib/issues/5536#issuecomment-590831846 still needs package details filled in
- paperbuzz: https://github.com/pkp/pkp-lib/issues/5536#issuecomment-590833085 needs package

[2020-02-27 21:44] defstat commented on #4880
@asmecher @NateWr

OMP PR (with chapters): pkp/omp#775

[2020-02-27 22:06] ewhanson commented on #5536
@asmecher, Yes OMP should be included. Thanks.

[2020-02-28 02:15] librariam commented on #2687
+1 from PKP|PS. A client is interested in having "Important dates" (e.g. "Revision Due Date") for authors in the same way they currently appear for reviewers in review request ("Response Due Date" / "Review Due Date"). These variables could then be used to populate dates in email templates in author-editor correspondence and for revision reminders as well. Thank you!

[2020-02-28 16:54] Vitaliy-1 commented on #5560
@NateWr, is it working for you? I'm testing it on the default before updating Classic theme accordingly but galleys aren't fetched.

For the pdf viewer I get:
[code]
in the console. The url that fails is: `.../index.php/psp/article/download/127`; should have fileId at the end.

For HTML I have:
[code]
Or is it just on my end?

[2020-02-28 16:55] asmecher commented on #743
(Here's a user-contributed draft of the necessary code changes: https://forum.pkp.sfu.ca/t/add-bcc-field-to-mail-forms/58868/5)

[2020-02-28 17:03] NateWr commented on #5560
Make sure you have the latest commits from the master branch for
pdfjsviewer and that template cache is cleared. The version part of the URL
was added in to the templates.

On Fri, 28 Feb 2020, 16:54 Vitaliy, <notifications@github.com> wrote:

[2020-02-28 17:05] asmecher commented on #5560
It seems to work for me. (Corrected an [accidental hook parameter change](https://github.com/ajnyga/ojs/commit/71b1c7b826f49eea3de1ad15b6f3194f789e01e9) in PreprintHandler -- but that wouldn't have caused 404s and is fixed now.)

[2020-02-28 17:22] Vitaliy-1 commented on #5560
Looks like a false alarm, sorry. Regarding PDF viewer I have forgotten to pull 2 latest commits, as for HTML galley - probably something on my end. I've tested with new submission and it works well.

[2020-02-28 18:00] asmecher commented on #5536
Added OMP compatibility statements for `authorRequirements` for both releases, thanks!

[2020-02-28 20:38] asmecher commented on #5561
Merged, thanks, @NateWr!

[2020-02-28 20:38] #5561 closed

[2020-02-28 20:43] asmecher commented on #5563
Thanks, @NateWr -- merged and cherry-picked to OPS.

[2020-02-28 20:43] #5563 closed

[2020-02-28 22:17] defstat commented on #4880
@asmecher

New pkp-lib PR: #5567

[2020-02-28 22:40] asmecher commented on #1124
PRs:
- https://github.com/pkp/ojs/pull/2654
- https://github.com/pkp/pkp-lib/pull/5566

[2020-02-28 22:42] asmecher commented on #1124
Closing in favour of https://github.com/pkp/pkp-lib/issues/4195

[2020-02-28 22:42] #1124 closed

[2020-02-28 22:42] asmecher commented on #4195
PRs:
- pkp/ojs#2654
- #5566

[2020-02-28 22:48] asmecher commented on #4195
Cherry-picked commits in the above two PRs to `stable-3_1_2` -- they now need forward-porting to `master`.

[2020-02-29 00:36] asmecher commented on #4195
@defstat, could you forward-port the above two PRs to OJS and OMP `master`? They didn't make in into 3.2 but they are already in OJS `stable-3_1_2`.

[2020-02-29 01:22] #4880 closed

[2020-02-29 01:23] asmecher opened #5569 "Fix OJS 2.x to 3.x upgrade"
The versioning upgrade steps currently assume that an OJS 3.x database is present at the outset. Fix!

[2020-02-29 02:46] asmecher commented on #5569
Seems to be working now.

[2020-02-29 02:46] #5569 closed

[2020-02-29 04:07] asmecher commented on #5536
There are some leftovers for next week, most notably the themes.

[2020-02-29 16:41] asmecher opened #5570 "Fix Lens galley plugin"
The Lens galley plugin is failing in OJS 3.2.0 with an unrecognized DAO error message.

- [x] Fix the plugin so that XML galleys display with OJS 3.2.0.
- [ ] Add a notice for viewing old publications (so that readers can be referred to the subsequent version if they wish).

[2020-02-29 16:43] asmecher commented on #5570
https://github.com/asmecher/lensGalley/commit/cee8f7d7aaca0d0c1fac7f2c2921c312985a4204 fixes the basic viewing of Lens galleys. Apply this in `plugins/generic/lensGalley` e.g. as follows:
[code]

[2020-02-29 22:07] muhammadhamdani opened #5571 "Cannot Display Sidebar in ojs 3.2.0.0"
**Describe the bug**
I want to display the sidebar in OJS 3.2 but can't check the sidebar menu list. if clicked directly force close

[2020-03-01 00:14] asmecher commented on #5571
@muhammadhamdani, can you describe the issue in more detail? Does it seem to be the same as this post? https://forum.pkp.sfu.ca/t/ojs-3-2-0-sidebar-management-page-not-responding-problem/58984

[2020-03-01 01:27] navotera commented on #5571
Same here :

![image](https://user-images.githubusercontent.com/1424851/75617781-5d7e4600-5b96-11ea-90b0-13222952176b.png)

My OS:
Windows 10
PHP 7.25
Mysqli
Apache 2

[2020-03-01 04:47] mabere opened #5572 "[OJS] ORCID Profile Plugin prevents article publication"
After successfully installing fresh ojs 3.2.0 I created future issues, I try to publish one issue but the circle icon keep loading for long time (not stop).
![Screenshot_2020-03-01 Issues](https://user-images.githubusercontent.com/29719586/75619742-5b29e500-5bb2-11ea-9310-c9618cb0623b.png)

[Edit: One cause for this is the ORCID Profile Plugin as released with OJS 3.2.0/3.2.0-1. It still reference

[2020-03-01 06:47] muhammadhamdani commented on #5571
Yes . This is my problems in open journal system

[2020-03-01 11:40] muhammadhamdani commented on #5571
Yes this is my problems in ojs

[2020-03-01 17:44] asmecher commented on #5572
Hi @mabere -- check your PHP error log for details.

[2020-03-01 22:20] epistemehealth opened #5573 "OJS 3.2.0 - OAI ListRecords causes PHP Fatal Error"
When we go to the OAI repository for our journal and click on 'ListRecords', we get a blank page. The OAI repository seems fine for "Identify", "ListSets", "ListMetadataFormats" and "ListIdentifiers".

We checked our PHP error logs (7.2.27) and we got the following message:

[2020-03-02 03:05] muhammadhamdani commented on #5571
help me please ...

[2020-03-02 10:36] NateWr opened #5574 "Support public stats or sharing of stats"
**Describe the problem you would like to solve**
Journals want some way to share their usage stats and editorial stats. There are several different kinds of sharing or public stats that may be requested:

- An always-available public URL with rolling up-to-date stats on some thing (eg - last 6 months X).
- A one-off public URL with the stats on some thing _as they are at the time the report is gen

[2020-03-02 11:37] NateWr opened #5575 "Can't download supplementary galleys when publication has urlPath"
**Describe the bug**
When the publication has been assigned a `urlPath`, links to supplementary galleys that are not PDFs or HTMLs will redirect to a download URL that that lacks the `urlPath` which then leads to an incorrect redirect: `/article/download/<submission_url_path>`.

This only effects supplementary galleys for the current version that are not PDF or HTML files.

Credit to @ajnyga for d

[2020-03-02 11:38] NateWr commented on #5575
PR:
https://github.com/pkp/ojs/pull/2657

[2020-03-02 12:53] alexxxmendonca commented on #5572
it must be due to the option to send a notification e-mail.

depending on the number of users you have, this might take a long time,

We've been having some big problems with that, to the point of reaching gmail's daily quota, causing all e-mails to cease sending. We are advising journals to uncheck that box before publishing an issue.

[2020-03-02 12:57] NateWr opened #5576 "Can't upload image in user profile bio"
**Describe the bug**
A user can not upload an image through the tinymce text editor in their user profile bio because the URL contains a trailing slash (`/`). Trailing slashes are ignored for `GET` requests but this is a `POST` request.

There is a pattern to [make trailing slashes optional](determineRouteBeforeAppMiddleware) across all routes in Slim, but we can't use this because our authorizati

[2020-03-02 13:04] NateWr commented on #5576
The following PRs fix this by just removing the trailing slash where it appears. However, it would be nice to resolve this at the `APIHandler` level, so that trailing slashes would be discarded for all endpoints, not just those in a `GET` request. Doing this would require that we drop the trailing slashes before the route is determined, and I'm not sure how we do that.

PRs:
https://github.com/pkp

[2020-03-02 13:05] NateWr opened #5578 "Plugins to package and release"
The following plugins or themes should be packaged, released and added to the `plugins.xml` file before 3.2.0-1 is released.

| Name | Whose | Repository | Translations | Release | `plugins.xml` | Notes |
| --- | ---| --- | --- | --- | --- | --- |
| textEditorExtras | @NateWr | ✓ | ✓ | ✓ | ✓ | See #5576 |
| shibboleth | @asmecher | | | | | |
| subscriptionSSO | @asmecher | ✓ | ✓ | ✓ | ✓ | |
| cros

[2020-03-02 13:09] NateWr commented on #5536
Themes went up last week. I've put `controlPublicFiles` and `textEditorExtras` up this morning.

[2020-03-02 13:42] klausru commented on #5571
This is my console output from firefox. Does it relate to vue.js or Sortable?
[code]

[2020-03-02 14:31] NateWr commented on #5186
Merged!

[2020-03-02 14:40] NateWr commented on #5190
This looks good, @thinkbulecount2. This fixes for HTML galleys but not for PDF galleys. The template for those galleys is in a submodule (`plugins/generic/pdfJsViewer`) in this repository: https://github.com/pkp/pdfJsViewer.

Also, I think we'll need these changes done in OMP as well.

[2020-03-02 14:51] NateWr commented on #5571
HI @muhammadhamdani and @klausru, can either of you provide reproduction steps? These are step-by-step instructions that help us know how to encounter the issue ourselves and where the bug is happening, like this:

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-03-02 14:52] #5575 closed

[2020-03-02 14:55] NateWr commented on #5576
Merged this fix in, but I'm interested in your thoughts on this trailing slash issue (see original comment). Do you think we should file this as a Dev Housekeeping issue?

[2020-03-02 14:59] klausru commented on #5571
In the dashboard
1. Go to "Settings" -> "Website" -> "Appearance" -> "Setup"
2. Scroll down to "Sidebar"
3. Tick any checkbox
4. WAIT until browser reacts again
5. Click button of browser to stop the website
6. Click "save"
7. See site appearing: .../api/v1/contexts/1?appearanceSetup-pageFooter-control-de_DE=&appearanceSetup-pageFooter-control-en_US=

[2020-03-02 15:07] defstat commented on #4195
@asmecher

PRs:
[OJS]: pkp/ojs#2660
[pkp-lib]: #5579

[2020-03-02 15:29] muhammadhamdani commented on #5571
In the dashboard
1. Go to Setting => Website => Appearance => Setup
2. Scroll down to Sidebar
3. Checked any checkbox
4. Waiting Response Browser
5. notification appears not responding

this log sistem
![image](https://user-images.githubusercontent.com/12347039/75689730-447baf00-5cd4-11ea-8733-02faf7103439.png)
![image](https://user-images.githubusercontent.com/12347039/75689767-54938e80-5cd4-11ea

[2020-03-02 15:30] Vitaliy-1 opened #5580 "Errors on install/after upgrade of OJS instance with Ukrainian locale"
During the install of a fresh OJS 3.2 instance or after the upgrade to 3.2 I get problems related to database entries with Cyrillic script

To reproduce the problem during install:
1. Download OJS 3.2.0 release: https://pkp.sfu.ca/ojs/ojs_download/
2. Go to the installation form and enter data, check Ukrainian as a primary language; encoding utf-8
3. Run install.
I receive:
[code]
Another problem

[2020-03-02 15:40] NateWr commented on #5580
Can you provide us with some sample Cyrillic to use?

[2020-03-02 15:45] NateWr commented on #5571
Thanks! I've been able to reproduce this and looking into it now.

[2020-03-02 15:52] Vitaliy-1 commented on #5580
E.g., the title that fails to be recognized like utf-8 looks:
[code]
I was able to install OJS with Ukrainian locale through command line and the same title is encoded in the database as:
[code]
(I've run submission with the same title though the workflow)

[2020-03-02 16:24] asmecher commented on #4195
Merged! Thanks, @defstat.

[2020-03-02 16:28] asmecher commented on #4195
Whoops, I closed this too  soon, @defstat -- could you also port to OMP `master`?

[2020-03-02 16:35] NateWr commented on #5571
Thanks for the report and the reproduction steps @muhammadhamdani and @klausru. This was caused by an endless loop when the selected value changes, because the old and new values were not compared properly.

I've got a fix in the following PR, which will likely be merged and released with an update soon (3.2.0-1).

PR:
pkp/pkp-lib#5571 Fix browser freeze when sidebar selected

Tests:
https://githu

[2020-03-02 16:49] NateWr commented on #5580
I was unable to reproduce this. However, I wasn't working from the package download. Here's what I did:

1. With a latest `master` checkout of OJS, I created a new database and performed an installation, during which I installed Ukranian language.
2. After installation I made a submission with the title and abstract, copied from your comment.
3. Then I went to the submissions list and the submissi

[2020-03-02 16:50] NateWr commented on #5580
Oh, one other thing: I didn't use Ukraine as primary language. I used it as an additional language. I'll try one real quick with Ukraine as primary language.

[2020-03-02 16:52] Vitaliy-1 commented on #5580
I've encountered the problem only with the package download. The same test instance was upgraded normally 2 days ago to master branch

[2020-03-02 16:52] Vitaliy-1 commented on #5580
let me check master

[2020-03-02 16:54] NateWr opened #5581 "Update the after-installation message to point to PKP website"
**Describe the problem you would like to solve**
After installing OJS, the following message is sent:

The blog URL is no longer used on our site (though it redirects) and I'm not sure how widely RSS feeds are used any more.

**Describe the solution you'd like**
Update the message to link to the PKP website directly.

[2020-03-02 16:58] NateWr commented on #5580
(Same when using Ukraine as primary language.)

[2020-03-02 17:02] asmecher commented on #5580
@Vitaliy-1, could this be a side-effect of the `utf8mb4` tweaks you're working with? I remember we discussed this a month or so ago, but can't find the link.

[2020-03-02 17:05] thinkbulecount2 commented on #5190
Changes made to pdfJsViewer: https://github.com/pkp/pdfJsViewer/pull/51
cc: @NateWr

[2020-03-02 17:10] defstat commented on #4195
@asmecher

PR
[OMP]: pkp/omp#778

[2020-03-02 17:11] NateWr commented on #5580
I just tested installing from the package and the characters came out ok for me.

[2020-03-02 17:15] Vitaliy-1 commented on #5580
@asmecher, have no idea.
Thanks Nate, thus the problem is on my side. The issue can be closed, I'll open it if find something useful.

[2020-03-02 18:21] Vitaliy-1 commented on #5580
It seems that I found the problem. `Connection character set` isn't updated for me in the config file. When I performing install it's set to unicode (UTF-8) in the form but after installation in config I see that `connection_charset` is set to off, thus during installation I suppose it fallbacks to the default, which in mysql isn't utf8.  If set to utf8 manually - it works as expected. I'm wonderi

[2020-03-02 18:58] Vitaliy-1 commented on #5580
Ahh, I see, `databaseCharset` was removed in OJS 3.2, thus, when trying to install OJS by default `latin1_swedish_ci` by MySQL is used, this causes error for non-latin scripts. If I'm being right, might this be inconvenient for other users as well?

[2020-03-02 19:50] asmecher commented on #5580
If I recall correctly, @Vitaliy-1, the `database_charset` option was a non-standard extension we added to ADODB more than 10 years ago; when we moved to a newer version of ADODB (and removed our modifications) it seemed like the defaults had all become UTF8-safe (where they used to be Latin1). I wonder if your system is unusual?

[2020-03-02 19:58] #4195 closed

[2020-03-02 20:13] asmecher commented on #5576
There also appears to be a case in `TinyMCEPlugin.inc.php` that causes this: https://forum.pkp.sfu.ca/t/ojs-3-2-0-the-requested-url-was-not-recognized-image-upload-problem/58985

[2020-03-02 20:15] asmecher commented on #5576
^ that is to say, I think this fixes the issue in everything except the reported TinyMCE-based case...?

[2020-03-02 20:18] asmecher commented on #5576
As for the trailing-slash issue in general, I'm tempted to declare it a "known limitation" until we can simplify the number/compatibility needs of the routing tools we're using. I don't think we're out of spec, strictly speaking, if we don't handle a trailing slash as though it weren't present, and I suspect fixing it would further entangle our interventions into the Slim toolset.

[2020-03-02 22:34] asmecher commented on #5570
Adding a "this is an old version" warning is going to involve working within the Lens codebase, which is moribund. Not worth the investment at this point. I'm going to declare that a "WONTFIX".

[2020-03-02 22:34] #5570 closed

[2020-03-03 09:06] NateWr commented on #5576
@asmecher That case in TinyMCE is what the PRs above are supposed to fix. Have you been able to reproduce the problem with the fixes applied?

Also, +1 for enforcing no trailing slashes for now.

[2020-03-03 12:03] jmvezic commented on #3022
Are there any updates on this issue?

[2020-03-03 14:08] klausru commented on #5571
Fine, thanks. It works!
Are you going to tackle this one too? https://github.com/SortableJS/Vue.Draggable/blob/master/documentation/migrate.md#options-props
It occurs in that file plus two others. I changed that on my test system. And it's working

[2020-03-03 14:14] muhammadhamdani commented on #5571
where this function in ojs 3.2.0.0?

[2020-03-03 14:23] klausru commented on #5571
See my PRs at https://github.com/pkp/ui-library/pulls

[2020-03-03 14:29] NateWr commented on #5571
Thanks @klausru! That was on my todo list. I'll take a look today or tomorrow and get those merged in. :+1:

[2020-03-03 15:09] asmecher commented on #5576
@NateWr I was looking at this case, which isn't listed in the PRs: https://github.com/pkp/tinymce/blob/master/TinyMCEPlugin.inc.php#L89

[2020-03-03 15:57] NateWr commented on #5576
Good spot! I had made the fix but didn't realize tinymce was a submodule. Fixed and merged there: https://github.com/pkp/tinymce/pull/57.

[2020-03-03 15:57] #5576 closed

[2020-03-03 22:48] asmecher opened #5582 "PHP error "Can’t inherit abstract function SchemaDAO::newDataObject()""
See https://forum.pkp.sfu.ca/t/ojs-upgrade-to-3-2-from-3-1-2-4-php-fatal-error/59030:
[code]

[2020-03-03 22:49] #5582 closed

[2020-03-03 23:00] asmecher commented on #5438
There's a FIXME flagged against this issue in `QuickSubmitForm`: https://github.com/pkp-translations/quickSubmit/blob/14b76fc0ae3eb87cc4cc2425c3734e940d4e8375/QuickSubmitForm.inc.php#L333..L348

[2020-03-04 00:07] ovillamx opened #5583 "[OMP] Error upgrading from version 3.1.2-4 to 3.2.0"
**Describe the bug**
I'm trying to upgrade OMP from version 3.1.2-4 to 3.2.0. I've followed the steps in documentation like with other upgrades, I excecuted the script from command line and the proccess is broken with the message: 'ERROR: Upgrade failed: DB: Column 'publication_id' cannot be null', it referes to any sql query in file 'dbscripts/xml/upgrade/3.2.0_versioning.xml'

**To Reproduce**
S

[2020-03-04 01:10] asmecher commented on #5575
@ajnyga, it looks like you've already been active on this one -- has it been ported to OPS?

[2020-03-04 02:25] israelcefrin commented on #5571
Hi @NateWr
I've found another line in a different file that needed to be replaced and open a new PR for that: https://github.com/pkp/ui-library/pull/75

[2020-03-04 02:43] thinkbulecount2 commented on #5190
omp PR: https://github.com/pkp/omp/pull/779
cc: @NateWr

[2020-03-04 07:33] unkej commented on #1660
Hi @all,
I just want to add a "like" to this. If journal editors (or admins without getting too deep into the code) are able to edit the reviewer recommendations, it would be very nice.

[2020-03-04 09:19] NateWr commented on #5571
Thanks!

[2020-03-04 09:19] #5571 closed

[2020-03-04 09:40] NateWr opened #5584 "Enable/disable journal setting not available in 3.2.0"
**Describe the bug**
In previous versions, the journal edit form included a checkbox to enable/disable the journal. When disabled, the journal would be accessible to logged in editors but not to logged out visitors.

This does not appear in 3.2.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as admin
2. Go to Administration > Hosted Journals
3. Click "Edit" on a Journal
4. The check

[2020-03-04 11:49] mpbraendle commented on #4919
@asmecher Tried 6bbcb58 and 77c4f0a on a OJS 3.1.2-4 system. Did not work out, made things worse. When backend loads --> errors.

[2020-03-04 12:29] NateWr opened #5585 "Update syntax for draggable options"
The draggable library we use for drag-and-drop ordering in UI Library components has changed the syntax for how options are passed to it. See: https://github.com/SortableJS/Vue.Draggable/blob/master/documentation/migrate.md#options-props

[2020-03-04 12:31] NateWr commented on #5585
@klausru I've collected your PRs together into one so that we can run the tests against them altogether. I'll merge once the tests pass.

PR:
https://github.com/pkp/ui-library/pull/77

Tests:
https://github.com/pkp/ojs/pull/2664

[2020-03-04 13:37] ctgraham commented on #4919
@mpbraendle , what is your base_url and base_url[] configuration, and what rewrite rules are you using?

[2020-03-04 14:46] NateWr commented on #5584
PRs:
https://github.com/pkp/ui-library/pull/78
https://github.com/pkp/ojs/pull/2665

@asmecher I added a test for this in a new integration tests file, `MultipleContexts.spec.js` ([here](https://github.com/pkp/ojs/pull/2665/files#diff-72d70619d1c4b883d37f3cce9ae26e73)). Does that seem like a sensible place for it? I thought this spec file could get extended down the line with more tests for multi-

[2020-03-04 14:50] NateWr commented on #5585
Merged

[2020-03-04 14:50] #5585 closed

[2020-03-04 15:14] msaadm06 commented on #5576
Good work. It solved the issue. It should be considered in the upcoming updates.

[2020-03-04 15:28] NateWr commented on #5576
It will go into 3.2.0-1 which we expect to put out in the next couple of weeks. :crossed_fingers:

[2020-03-04 16:21] NateWr commented on #4888
Well, this was an odyssey! But the fact that I made it through at all shows how much more I'm able to accomplish with these testing tools. :+1:

These PRs implement most of the suggested tests. I ran out of steam a bit but can dive back in to get the rest at a later date. I spent quite a bit of time trying to work out some nicer ways to run multiple tests against a submission -- mostly without a l

[2020-03-04 18:21] asmecher commented on #5584
@NateWr, yes, that looks good -- we're currently missing some tools that reload the database/files between integration tests where necessary, but that shouldn't hold you back in the meantime.

[2020-03-04 18:52] YUG3N commented on #4699
me funciono la selección de driver mysqli manualmente en windows10

[2020-03-04 20:42] asmecher commented on #5583
@ovillamx, at a glance, it looks like you may have a data error in your OJS 3.1.2-4 installation. On that database (that is, *before* you attempt the upgrade) can you try the following query and tell me what the result is?
[code]

[2020-03-04 20:52] asmecher commented on #4888
Yes, interesting problem... This may not be a recommended approach but it's concise and reads clearly to me. I don't love doubling up the file count (`.spec.js` and `.json`) but reusability in the UI library is sufficient justification. My only request is that you keep the filenames consistent (`amwandenga` vs. `mwandenga`). I don't think ~~John~~Alan will mind the name change.

[2020-03-04 21:16] edisutoyo commented on #5571
Dear @NateWr ,
Sorry for my dumb question, How to solve the problem by using this update source code?
I tried to find the filename but I couldnt find it in ojs 320

Thanks

[2020-03-04 21:17] asmecher commented on #4081
And another to allow ordering of announcements: https://forum.pkp.sfu.ca/t/change-announcements-order-with-arrows/4312/4

[2020-03-05 01:56] jobdiogenes opened #5587 "[OJS] Show Settings Menu"
at least two journals on the OJS instance  is required to make the global settings show in the OJS menus.

Its nonsense. IMHO

[2020-03-05 09:19] NateWr commented on #5584
Thanks, merged!

[2020-03-05 09:19] #5584 closed

[2020-03-05 09:26] NateWr commented on #5587
Hi @jobdiogenes, can you provide some more information about your request? In particular, which of the site settings would you like access to that you don't have access to? You can provide us with a more complete report so that we better understand the use case by following this template:

**Describe the problem you would like to solve**
Example: Our editors need a way to [...]

**Describe the sol

[2020-03-05 09:33] NateWr commented on #5571
To apply these changes you'll need to rebuild the JavaScript package. This is only possible if you're running off of the repository on GitHub. The release package will not contain the necessary parts to rebuild the library and you'll need to wait until we release 3.2.0-1.

For those running off the GitHub repository, you can do the following:

[code]

That will build the new package in `js/build.j

[2020-03-05 09:38] NateWr commented on #3022
No, there have not been any movement recently.

[2020-03-05 14:23] Vitaliy-1 opened #5588 "Author list: author name is empty if not included in submission's metadata"
OJS 3.2

If it's possible to include author name for several locales, `PKPAuthor::getLocalizedFamilyName()` returns an empty string if the name isn't specified in a submission in its locale.
E.g., the primary locale is English, submission is in Ukrainian, it's mandatory to include only given name in Ukrainian locale. When viewing the page with the English interface, those names are missing and [th

[2020-03-05 16:17] asmecher commented on #5565
@NateWr Some code for this got removed right before the 3.2.0 release, correct? Could you link to that?

[2020-03-05 17:37] NateWr commented on #5565
PRs here: https://github.com/pkp/pkp-lib/issues/5563#issuecomment-592080312

I think there used to be a PublishedSubmissionPolicy or something like that which was removed in the clear out of PublishedSubmission stuff. I think, in order for this to work, we probably just need a policy that checks if a submission is published. If it is, let everyone access. If it's not, apply SubmissionAccessPolicy

[2020-03-06 01:16] edisutoyo commented on #5571
Many thanks @NateWr I have solved the problem

[2020-03-06 01:47] seonghobae opened #5589 "[OJS] PostgreSQL can not recognize update SQL queries"
Hello,
I had trouble updating SQL queries via updater, 3.1.1.4, to 3.2.0.

https://github.com/pkp/ojs/blob/master/dbscripts/xml/upgrade/3.2.0_preupdate_email_templates.xml#L31-L40

PostgreSQL can not recognize alias 'etd' where ```SET etd.email_id = (``` line.

Moreover, In some points, PostgreSQL can not recognize double quotation mark if something were mean as value, as not column name. I modifi

[2020-03-06 03:46] librariam commented on #3774
+1 from PKP|PS re confusion about "submission file" vs "article" vs "galley" in Custom Report filters.

[2020-03-06 12:29] RBoelter opened #5590 "OJS 3.2 - Upgrade failed: DB: Incorrect string value"
I tried to update an OJS 3.1.2.4 to OJS 3.2 und got the following error:

`ERROR: Upgrade failed: DB: Incorrect string value: '\xCE\xB1 = ,...' for column 'setting_value' at row 5`

We are using some special characters for our submission descriptions like α, wich is encoded as \xCE\xB1 in UTF-8.

To see if it is only due to this character, I removed it, but then I got the next error for another ch

[2020-03-06 12:53] RBoelter commented on #5590
Sorry, I found the mistake. The MySQL created new tables with a wrong collation.

[2020-03-06 12:53] #5590 closed

[2020-03-06 15:59] asmecher opened #5591 "Author lists are not sorted by sequence"
See https://forum.pkp.sfu.ca/t/ojs-3-2-0-primary-contact-authors-listed-first-regardless-of-position-in-contributor-list/58993:

[2020-03-06 16:08] #5591 closed

[2020-03-06 16:09] asmecher commented on #5591
This can be resolved for OJS/OMP/OPS 3.2.0-0 installs by applying https://github.com/pkp/pkp-lib/commit/0ac6d36008b5eef09b8fac67b74f9c59a63a80fa in the `lib/pkp` subdirectory.

[2020-03-06 16:41] bkawula opened #5592 "[OJS] Block plugins and cacheing problem"
Hi PKP,

@Vitaliy-1 told me to post this issue here:
https://forum.pkp.sfu.ca/t/immersion-theme-and-template-caching-problems/59069

Basically, cached block templates from one journal are being pulled into other journals with different themes and it's causing display / layout issues because of misplaced CSS classes and HTML tags.

[2020-03-06 20:28] felcaetano commented on #5583
I'm having exactly the same problem.
Running your query returned 2 results. Both author_id and submission_id are very low values, so I'm guessing it is probably something related to a test someone did when OJS was installed for the first time.
The question now is how do we safe clean this mess.
[code]

[2020-03-06 20:47] asmecher commented on #5583
@felcaetano, that identifies two `author` records that don't have corresponding `submissions` entries. You can safely delete them:
[code]

[2020-03-06 22:38] israelcefrin opened #5593 "[OMP] email_templates_data table missing when upgrading from version 3.1.2-4 to 3.2.0"
**Describe the bug**
When running the command `php tools/upgrade.php upgrade` for upgrading an OMP to 3.2 it always get stuck with an error message:
`ERROR: Upgrade failed: DB: Table 'email_templates_data' doesn't exist`

**To Reproduce**
Download the new OMP version.
Set all parameters on config.inc.php
run `php tools/upgrade.php upgrade`

**What application are you using?**
OMP version 3.1.2-4 =

[2020-03-07 00:08] asmecher commented on #5593
@israelcefrin, is this a copy of OMP 3.2.0-0 from the `.tar.gz` package, or from github?

[2020-03-07 00:31] israelcefrin commented on #5593
@asmecher it is from github repo.

[2020-03-07 00:33] asmecher commented on #5593
Is it possible that this is not quite up to date with the 3.2.0 code? I received this message myself during the last bit of testing/release preparation and resoved it with fafc0974b92d9b7d9cbd88978d939c6db35357e3 and 45b75f126eec89334ead5f26c1f3de473333b9b6, which should be included in the 3.2.0-0 release package.

[2020-03-07 01:14] israelcefrin commented on #5593
@asmecher  It is passing through this step, however I've found another issue which I will file to track it.

[2020-03-07 01:14] #5593 closed

[2020-03-07 01:18] israelcefrin opened #5594 "[OMP] Can't DROP 'setting_type' when upgrading from version 3.1.2-4 to 3.2.0"
**Describe the bug**
When upgrading from OJS 3.1.2-4 to OJS 3.2 the process stops when it need to drop column.

**To Reproduce**
git clone OMP master branch and run all the git init submodule and npm build...

**What application are you using?**
 OJS or OMP version 3.1.2-4 => 3.2.0

**Additional information**
Bellow is the log :
[code]

[2020-03-07 01:28] asmecher commented on #5594
@israelcefrin, are you sure this is an up-to-date checkout? `dbscripts/xml/upgrade/3.2.0_setting_type.xml` was removed prior to the release of OJS and OMP 3.2.0-0.

[2020-03-07 15:28] israelcefrin commented on #5594
@asmecher I've cloned it on March 5th, I will re-clone it to double-check and branch it from OJS 3.2.0 tag instead master branch.

[2020-03-08 03:47] ravi25388 opened #5595 "“The file could not be uploaded or revised”"
After installing ojs 3.1.2.4 successfully and creating journal I am unable to upload any file. It kept saying “The file could not be uploaded or revised.” I don’t know what to do… I give permission to all the folders as suggested in the information file… Still can’t upload… I am quite unhappy :frowning:
Also, while trying to delete my assigned in submission I receive this message “An unexpected er

[2020-03-08 10:45] seonghobae commented on #5589
https://github.com/pkp/pkp-lib/blob/0ac6d36008b5eef09b8fac67b74f9c59a63a80fa/classes/publication/PKPPublicationDAO.inc.php#L258

See also here: ```DELETE ps from publication_settings ps``` isn't available in Postgresql.

[2020-03-08 11:12] seonghobae commented on #5589
https://github.com/pkp/pkp-lib/blob/0ac6d36008b5eef09b8fac67b74f9c59a63a80fa/classes/publication/PKPPublicationDAO.inc.php#L258-L265
PostgreSQL can not delete statement with join directly; please see here:
https://stackoverflow.com/a/35344190
https://stackoverflow.com/a/33723604

[2020-03-08 14:33] muhammadhamdani opened #5596 "[OJS] error submit DOI Crossreff"
**Describe the bug**
if submit article in doi crossref, response This page isn’t working

**To Reproduce**
Steps to reproduce the behavior:
1. klik tools -> import/export -> choose CrossRef XML Export Plugin
2. Click on tabs article
3. select acticle
4. klik submit
5. This page isn’t working

**What application are you using?**
 OJS

**Additional information**
Please add any screenshots, logs or o

[2020-03-08 14:43] asmecher commented on #5595
Hi @ravi25388 -- I see you've also posted this here:
https://forum.pkp.sfu.ca/t/the-file-could-not-be-uploaded-or-revised-what-should-i-do/59106

That's the best place to work through this problem.

[2020-03-08 14:43] #5595 closed

[2020-03-08 14:46] muhammadhamdani commented on #5596
![image](https://user-images.githubusercontent.com/12347039/76165032-33281c00-6186-11ea-96d8-a716ee104d4b.png)
this error log

[2020-03-08 15:37] asmecher commented on #5596
@muhammadhamdani, which version of OJS are you using? (Please include this when you create an issue.)

[2020-03-08 16:05] muhammadhamdani commented on #5596
i using ojs 3.1.2.4

[2020-03-08 21:23] asmecher commented on #5596
Hi @muhammadhamdani -- check further back in the log file. Those entries aren't relevant but there should be something containing the word "error".

[2020-03-08 22:31] defstat opened #5597 "Native import/export plugin adds a blank citation when importing submissions with citations"
**Describe the bug**
Native import/export plugin adds a blank citation when importing submissions with citations

**To Reproduce**
Steps to reproduce the behavior:
1. Import a submission with citations
2. Check the DB - one citation more is being added with blank `raw_citation`

**What application are you using?**
 OJS - OMP version 3.1.2, 3.2

[2020-03-08 22:57] muhammadhamdani commented on #5596
mod_fcgid: stderr: PHP Warning:  Declaration of CrossRefSettingsForm::execute() should be compatible with Form::execute(...$functionArgs) in /home/ojstes/public_html/plugins/importexport/crossref/classes/form/CrossRefSettingsForm.inc.php on line 19, referer: https://journal2.unusa.ac.id/index.php/CEJ/management/tools
[Sun Mar 08 14:44:44.999188 2020] [fcgid:warn] [pid 14893] [client 66.249.71.14:4

[2020-03-09 00:02] defstat commented on #5597
@asmecher

PRs

**v3.1.2**
[PKP-LIB]: #5598
[OJS]: pkp/ojs#2671
[OMP]: pkp/omp#780

**v3.2**
[PKP-LIB]: #5599
[OJS]: pkp/ojs#2672
[OMP]: pkp/omp#781

[2020-03-09 00:54] defstat opened #5600 "pkp-native.xml uses publication element instead of pkppublication"
At `https://github.com/pkp/pkp-lib/blob/master/plugins/importexport/native/pkp-native.xsd#L223` change `publication` to `pkppublication`

[2020-03-09 10:57] NateWr commented on #5583
Closing for now but let us know if that doesn't work.

[2020-03-09 10:57] #5583 closed

[2020-03-09 11:03] NateWr commented on #5596
@muhammadhamdani we'll probably need more of the error log. Each entry starts with the date and time like this:

[code]
GIve us all the log entries for the minute of 14:44.

[2020-03-09 16:18] felcaetano commented on #5583
@NateWr Thanks for the help. And sorry I didn't reply earlier. Our environment  is huge and took hours for the script to finish. I had to leave it running for the weekend.
The error was actually solved, but the script didn't succeed. When I came back to work, the script exited with the following error:
[code]
I don't have any more information about this one because I was running it in CLI mode, bu