[2016-06-21 10:17] NateWr opened #1536 "[OJS] Fix cover images for issues and articles"
The Issue Galley and Issue Cover Image file upload controls are broken. When clicking "Upload File" it tries to submit the whole form in the modal.

[2016-06-21 10:26] NateWr opened #1537 "[OJS] Public URL Identifier doesn't work for issues"
Issues have a Public URL Identifier setting. When set, the URLs update appropriately, but visiting an issue's page displays the message "Invalid issue requested!".

[2016-06-21 10:28] nielsb opened #1538 "[OMP] upgrade 1.1.1.1 to 1.2.0 fails using postgres database"
In the server log I find this:

ERROR:  type "serial" does not exist
STATEMENT:  ALTER TABLE auth_sources ALTER COLUMN auth_id TYPE SERIAL

[2016-06-21 10:29] NateWr opened #1539 "[OJS] Issue data doesn't save"
Issues have settings for Date Published and Open Access Date. When entered, these settings don't appear to be getting saved.

[2016-06-21 10:33] NateWr commented on #1536
For some reason the Issue Cover Image file upload works for me now. I'm modifying a bunch of issue settings so maybe something changed there. Will have to investigate.

[2016-06-21 10:40] NateWr commented on #1539
I believe this is related to running a multi-lingual journal. The checkboxes under Issue > Cover also don't save.

When trying to save any of the data that doesn't save, I get a long stream of these errors, which I believe are related to expectations of multi-lingual settings:

[code]

[2016-06-21 13:58] mfelczak commented on #1074
closing

[2016-06-21 13:58] #1074 closed

[2016-06-21 14:38] asmecher commented on #1538
Hi @nielsb -- are you using the command-line upgrade tool? If so, could you post the complete output? If you're using the web-based upgrade tool, try the command-line one; it provides more complete debugging information.

[2016-06-21 14:53] nielsb commented on #1538
I use the cli, but it does not give any hints at all :-(

[omp@portia omp-1.2.0]$ php tools/upgrade.php upgrade
[pre-install]
[load: upgrade.xml]
[version: 1.2.0.0]
[data: dbscripts/xml/upgrade/1.2.0.0_preupdate.xml (skipped)]
[schema: lib/pkp/xml/schema/common.xml]
ERROR: Upgrade failed: DB: ERROR:  type "serial" does not exist

The problem is that postgres does not have the type serial as a nati

[2016-06-21 15:35] asmecher commented on #1537
Merged both, thanks! Go ahead and close this if it's ready.

[2016-06-21 15:48] asmecher commented on #1472
Thanks, @NateWr, just one change needed on the PR. I don't mind if old files are kept but no longer presented -- we'll need to keep them for the sake of auditability, but I don't think there's any need to permit access to other versions via this grid. If anything, the event log should allow downloads of older files.

[2016-06-21 16:09] #1537 closed

[2016-06-21 16:31] bozana opened #1541 "Consider deprecated article URLs in OJS 3.0"
The URLs article/viewFile and article/downloadSuppFile seem not to be used in OJS 3.0, but they should be considered (for old URLs to resolve properly), redirecting either to the article/view (or article/download?).
Are there any other URLs to be considered in the same way?

[2016-06-21 16:43] bozana commented on #1472
If the old files will remain in the system: Lets say I upload a new galley, that is not a revision of the existing file i.e. as a new file -- maybe immediately the first question: why would this be possible? Then I would like to upload a revision of that new file: the old file is still listed in the list of possible files to be revised ("If you are uploading a revision of an existing file, please

[2016-06-21 17:32] asmecher commented on #1472
Ah, I see -- I can fix the revisions thing pretty quickly, let me take a look.

[2016-06-21 19:12] asmecher commented on #1472
Fixed -- thanks!

[2016-06-21 19:12] #1472 closed

[2016-06-21 21:32] crism opened #1542 "[OMP] i18n assertion failure on DB driver switch statement"
With today’s latest `HEAD` code:
[code]
This is part of a switch statement on the kind of database connection; it falls through to the `default` clause.

I do _not_ have this problem with the latest and greatest OJS, interestingly.

[2016-06-21 21:48] crism commented on #1450
This needs to be better behaved when there is no context. Currently, there are no settings available when looking at site-wide plugins, and so when registering a site-wide account, it fails (since the ORCID API settings are missing).

However, I can’t think of a good reason why _all_ the settings shouldn’t be site-wide. Is there any reason why one journal (or press) on a site would use one ORCID d

[2016-06-22 03:18] asmecher commented on #1542
@bozana, could you take a look? This is related to https://github.com/bozana/pkp-lib/commit/93f99149b61ac1ccbd12980b6a8ef2f289137490.

[2016-06-22 04:19] asmecher commented on #1433
(To be done before closing: https://github.com/pkp/ojs/pull/832#issuecomment-227639086)

[2016-06-22 07:47] bozana commented on #1542
@crism, what DB are you using and would it be possible for you to print out "$conn->getDriver()" there?
And, I am not sure I understand where do you have the problem and where not :-\

[2016-06-22 12:34] bozana opened #1543 "DOI automatic registration"
DOI export plugins seem to have a few bugs:
- It is looked if the plugin is enabled for a journal, which is not the case for importexport plugins, thus it would be better to look if the username and password are set.
- $this->notify used if there is no DOI prefix set does not exist. Rather this->addExecutionLogEntry should be used.
- The array of unregistered objects instead of the array of object

[2016-06-22 13:13] vormia commented on #438
Hi, @salmoomen.
You may download the whole project from the link:
[Open Journal Systems](http://pkp.sfu.ca/ojs/download/ojs-2.4.8.tar.gz) containing the Arabic language pack fully customized, but you need to add it to the system interface after installation.
Many regards.

[2016-06-22 14:55] asmecher opened #1544 "da_DK email template OFR_REVIEW_REMINDER_LATE contains empty subject"
https://github.com/pkp/ojs/blame/ojs-stable-2_4_8/plugins/generic/objectsForReview/locale/da_DK/emailTemplates.xml#L29

The `subject` column is defined `notnull` in the database, so this causes problems.

[2016-06-22 14:55] asmecher commented on #1544
@mtub, mind pinging a da_DK translator for this one subject? Or perhaps, for the moment, throwing in a Google Translate placeholder.

[2016-06-22 15:01] ctgraham commented on #1401
I think this is ready for merge to dev-2_4 and cherry-pick to stable-2_4_8.

[2016-06-22 15:04] ctgraham commented on #1507
Can this be cherry-picked to stable-2_4_8 for 2.4.8-1?

[2016-06-22 15:13] asmecher commented on #1401
Merged and cherry-picked. Thanks, @ctgraham!

[2016-06-22 15:13] #1401 closed

[2016-06-22 15:28] asmecher commented on #1507
Done, thanks!

[2016-06-22 17:00] bozana commented on #1543
See PRs for DataCite:
ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/871
ojs-dev-2_4: https://github.com/pkp/ojs/pull/872

[2016-06-22 17:01] ubermichael opened #1545 "[OJS] PLN plugin doesn't clean temporary files"
DepositPackage.inc.php creates two temporary files for each deposit, but doesn't clean them up when it's finished.

[2016-06-22 17:06] NateWr opened #1546 "[OJS] Back links on PDF view go to issue page"
The PDF galley view includes back links at the top. These go to the issue page but should go to the article.

[2016-06-22 17:29] #1545 closed

[2016-06-22 17:47] ctgraham commented on #1303
Oooh, oooh, @asmecher, pick me, pick me!  (to stable-2_4_8).

[2016-06-22 23:00] asmecher commented on #1543
Thanks for continuing to shepherd this! I merged the two PRs in https://github.com/pkp/pkp-lib/issues/1543#issuecomment-227809046 -- what else is needed for 2.4.8-1?

[2016-06-22 23:01] crism commented on #1542
@bozana, the returned value is `MySql`, with capitals. The switch statement is looking for `mysql`, all lower-case. This happens multiple times per page render, anywhere on the OMP site.

[2016-06-22 23:05] asmecher commented on #1542
`crism`, what is the value of `driver` in the `[database]` section of your `config.inc.php`?

[2016-06-22 23:08] crism commented on #1542
@asmecher—oh, interesting! It’s `MySql` in OMP, and `mysql` in OJS. In both cases, I installed via the Web setup interface… I wonder why OMP chose to write `MySql`. I’ll fix that, but the switch should probably be case-insensitive as there may be other legacy installations that do that.

[2016-06-22 23:17] mtub commented on #1544
will take care of this…

[2016-06-22 23:40] asmecher commented on #1542
@crism, are you sure `MySql` wasn't something you changed? I've never seen an install that doesn't use lower-case `mysql`, and I reinstall and rebuild frequently using the automated test framework.

[2016-06-23 06:35] bozana commented on #1543
I would like to merge at lease the medra and crossref fix of this issue, but maybe also the whole crossref improvement, after James and Mike tested it, OK?

[2016-06-23 09:51] bozana commented on #1539
I've just checked one thing: the setting "showCoverPage" is not localized in the web form, but in the Issue and IssueDAO class.

[2016-06-23 10:23] bozana commented on #1532
We should check that then the further activities in the system do not assume that there is a comment or file...

[2016-06-23 11:32] WaDelma opened #1547 "[OJS] PHPUnit cannot be installed with pear"
The masters readme of the ojs repo says that PHPUnit should be installed with pear from pear.phpunit.de.

This way of installing it has been [deprecated](https://github.com/sebastianbergmann/phpunit/wiki/End-of-Life-for-PEAR-Installation-Method) and thus the readme should be updated to reflect current way of installation.

[2016-06-23 11:53] WaDelma commented on #1547
Also it's unclear if tests can be run for only pkp-lib or does one need to have application to test pkp-lib.

[2016-06-23 12:07] NateWr commented on #1539
@bozana on an unrelated call with Alec yesterday he mentioned that this was maybe part of an old, overly-complex set of locale-specific display options that were likely to get cleared out for OJS 3.

I may have misinterpreted that, but I think I'd go to Alec first before looking into this further, as he may have a clear idea of what to do with it.

[2016-06-23 12:08] marchitelli commented on #1543
Ho @bozana , I applied the fix at https://github.com/pkp/ojs/pull/871 but it seems not working yet.

[2016-06-23 12:09] NateWr commented on #1532
Good point. For instance all of the editorial actions (request revisions, etc) have a link to add the review comments to the email. Make sure that responds gracefully if no review comment/file exists...

[2016-06-23 12:10] bozana commented on #1539
Yes, OK, I just wanted to note why is it happening -- because I saw it looking at another problem I had -- but will leave all decisions to Alec :-)

[2016-06-23 12:15] bozana commented on #1543
Could you maybe remove the plugins.importexport.datacite.DataciteInfoSender from the database table scheduled_tasks and tehn click on the "Reload Scheduled Tasks" link at the Generic Plugins > Acron Plugin or run "php tools/runScheduledTasks.php plugins/importexport/datacite/scheduledTasks.xml" from you OJS folder?

[2016-06-23 12:52] ptrckb opened #1548 "Infinite loop trying to read directory contents with warning message in log"
We encountered a condition with one of our instances of OJS 2.4.6 where the application loops on trying to list files of a missing directory :

[code]

The second line is repeated until the log file fills the disk.

[2016-06-23 13:46] NateWr commented on #1390
@asmecher I'm working through a little confusion around the copyright details. At the moment, it's easy for settings to indicate contradictory intentions: for instance the site setting may say "don't show license" but the article may have permissions data set. If a user has checked the attach permissions checkbox, they likely expect it to appear, unaware of the site-wide settings.

I have a fairly

[2016-06-23 15:04] asmecher commented on #1548
Merged. Thanks, @ptrckb!

[2016-06-23 15:04] #1548 closed

[2016-06-23 15:16] mfelczak opened #1550 "Allow a journal to define a limited set of allowed keywords and reviewer interests"
Add plugin support for keyword vocabularies that JMs could define to limit the options available to both authors (indexing metadata) and reviewers (reviewer interests).

This would reduce near-duplicates and synonyms. It could also be used to provide automated suggestions when assigning reviewers, i.e. based on the submission's keywords, automatically score/suggest reviewers who include some of th

[2016-06-23 15:28] asmecher commented on #1303
Agreed. Cherry-picked!

[2016-06-23 19:51] crism commented on #1542
Hrm. I can’t find anything in the source code history that would have done this. I did test against Postgres and then switch back to MySQL, though I thought I had used the wizard to switch both times. Perhaps I did do it manually, and screwed it up. I’ll close this.

[2016-06-23 19:51] #1542 closed

[2016-06-23 23:24] mtub opened #1552 "[OJS] xhtml errors"
ojs-dev-2_4 contains a lot of self-closing `<br/>` tags. valid xhtml is `<br />`

[2016-06-23 23:56] #1552 closed

[2016-06-24 00:13] mtub commented on #1544
turns out, all the email subjects are not translated in the da_DK locale of that plugin. have put the English text in the email subject for the moment and will alert the da_DK translators of this

[2016-06-24 00:16] asmecher commented on #1542
Not a problem -- glad it's working again.

[2016-06-24 05:55] marchitelli commented on #1543
Hi @boz, I tried to do this. When I reload scheduled task I see a new raw in the database for datacite with the time when I reloaded acron tasks but I get no effects on the articles waiting for doi registration

[2016-06-24 06:07] boz commented on #1543
@bozana ^

[2016-06-24 08:27] bozana commented on #1543
Hmmm... I've just tested it with an old test account and it worked for me. First I had an error that the domain is not correct, because my domain was not the same as the domain registered for that account at DataCite, then I manipulated the DOI URL so that it matches with the domain registered at DataCite and the automatic registration worked. Could you maybe print out the result at the end of the

[2016-06-24 08:56] marchitelli commented on #1543
Yes, using the DOI manual registration via the web interface it works

this is my log just after deleting the datacite row in scheduled_tasks table and reloading scheduled tasks from acron plugin

[code]

[2016-06-24 09:18] marchitelli commented on #1543
@bozana I think that the warnign reported is not related to the plugin error. May you suggest me how modify the plugin logging? Thanks

[2016-06-24 10:42] NateWr commented on #915
Obsoluete. Use #1390 instead.

[2016-06-24 10:42] #915 closed

[2016-06-24 12:13] NateWr opened #1553 "[OJS] Add contributor form validation error missing locale string"
Submission > Metadata > Add Contributor: Try to save form without selecting contributor role and the error message displays missing a locale key.

![selection_023](https://cloud.githubusercontent.com/assets/2306629/16337432/5dbdabc8-3a0d-11e6-9d4e-0595abb83add.png)

[2016-06-24 12:19] bozana commented on #1543
@marchitelli, I added a small change, to log the registration result in the scheduled task, if the registration failed, s. https://github.com/pkp/ojs/pull/878.
The scheduled task logs are in the OJS file folder under scheduledTaskLogs. For the DataCite scheduled task you will then have to see the last log file with the name something like "DataCiteinfosender-....log"
I hope that you can that way s

[2016-06-24 13:37] NateWr commented on #1195
Now that we've simplified the galley management process, there's no approvals process. Closing.

[2016-06-24 13:37] #1195 closed

[2016-06-24 14:57] ctgraham opened #1555 "[OJS] first Scheduled Task Log filename is untranslated"
In OJS 2.4.x, the [`AppLocale::requireComponents()` of `LOCALE_COMPONENT_PKP_ADMIN`](https://github.com/pkp/pkp-lib/blob/ad17dd567068aa7b50f6931edda5617ae6558f8f/classes/scheduledTask/ScheduledTask.inc.php#L59) is too late to catch the first use of [`$this->getName()`](https://github.com/pkp/pkp-lib/blob/ad17dd567068aa7b50f6931edda5617ae6558f8f/classes/scheduledTask/ScheduledTask.inc.php#L48) when

[2016-06-24 15:31] asmecher commented on #1555
Merged, cherry-picked back to `ojs-stable-2_4_8`, and forward to `master`. Thanks, @ctgraham!

[2016-06-24 15:31] #1555 closed

[2016-06-24 15:53] marchitelli commented on #1543
@bozana with the improvement on logging that you made, I caught the error.
It is an errore on metadata of one article (details below). I am wondering if there is a way to skip articles in error and proceed registering  the others automatically

The error was  '400 - [xml] xml error: cvc-minLength-valid: Value '' with length = '0' is not facet-valid with respect to minLength '1' for type 'nonemptyc

[2016-06-24 17:54] asmecher commented on #1553
These were missing locale keys -- added. They're app-specific and were in OMP but not OJS.

[2016-06-24 17:54] #1553 closed

[2016-06-24 20:05] #1544 closed

[2016-06-24 20:05] asmecher commented on #1533
@ubermichael, is this ready for closing?

[2016-06-24 20:09] bozana opened #1558 "multiple DOI XML file registrations"
For batch DOI registration e.g. registration of all unregistered objects:
At the moment as soon as one DOI XML file registration is not successfully submitted/registered the processing stops and returns the failure. It could however happen that one fails but the next one is OK and could be submitted/registered successfully, s. https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/importexport/d

[2016-06-24 20:24] bozana commented on #1543
@marchitelli, s. this new issue: https://github.com/pkp/pkp-lib/issues/1558
I.e. I change it so, that the other files can be further processed, if one file fails. But if just one object from the file is wrong, all other objects from that file will not be registered too. I cannot change this. I am not sure if it would make sense to construct one XML file for one object -- this will mean more proces

[2016-06-24 20:34] asmecher commented on #1468
Nate, I like the consistency of your proposal in https://github.com/pkp/pkp-lib/issues/1468#issuecomment-226730236 -- please go for it. The ExampleGenericPlugin is in a separate repo: https://github.com/asmecher/exampleGenericPlugin

[2016-06-24 20:39] ubermichael commented on #1533
It should be, yes. I don't know what your process is for cherry picking, so I haven't closed it.

[2016-06-24 20:45] asmecher commented on #1533
It's already cherry-picked. Closing!

[2016-06-24 20:45] #1533 closed

[2016-06-24 21:47] bozana opened #1559 "do not consider file size in mEDRA DOI registration for remote galleys"
Currently in mEDRA DOI registration for galleys, the file size is considered and exported as Extent element:
[code]
For remote galleys there is no file size in the system, thus do not create this element for remote galleys.

[2016-06-24 21:56] asmecher commented on #1559
Merged and cherry-picked to `ojs-stable-2_4_8`, thanks!

[2016-06-24 21:56] #1559 closed

[2016-06-24 21:58] bozana commented on #1559
How did you manage to cherry pick it so quickly? :-OOO

[2016-06-24 22:02] asmecher commented on #1390
On https://github.com/pkp/pkp-lib/issues/1390#issuecomment-228054917:

Copyright and license shouldn't be shown for the article unless someone (the editor) has seen them getting stamped on, so I'm not a fan of having the accessors go past the article to the journal settings.

The checkbox `attachPermissions` is useful so that we can show the editor what the permissions would look like based on jou

[2016-06-24 22:06] bozana commented on #1558
PRs:
ojs-dev-2_4: https://github.com/pkp/ojs/pull/881
ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/882

[2016-06-24 22:28] asmecher commented on #1531
@NateWr, the reviewer identification in the email template should be e.g. "Reviewer A" and "Reviewer B". Are you seeing the name somewhere?

[2016-06-24 22:31] NateWr commented on #1531
Yeah it was giving me full names. I'll reconfirm with latest master next
week if youre not seeing it.

On 24 Jun 2016 23:28, "Alec Smecher" <notifications@github.com> wrote:

[2016-06-24 22:33] asmecher commented on #1531
Never mind, I see it now.

[2016-06-24 22:35] #1531 closed

[2016-06-24 23:21] asmecher commented on #1532
OMP should require a file; OJS should not. Moved OMP-specific notification into the OMP repo and reverted the OJS form handler to plain old AjaxFormHandler.

[2016-06-24 23:21] #1532 closed

[2016-06-24 23:41] asmecher commented on #1558
Both merged, thanks!

[2016-06-24 23:41] #1558 closed

[2016-06-24 23:52] asmecher commented on #1436
Notes from an email that I'm also leaving here, even though it's not quite the right place:

[2016-06-25 06:23] marchitelli commented on #1558
@bozana is the plugin activation per journal or per site?
It seems that the activation on a single journal enable the automatic registration site wide

So, is it necessary to enable the plugin on single journals?

[2016-06-25 06:55] bozana commented on #1558
@marchitelli, the activation is per single journal. I haven't tested it with multiple journals, but in the InfoSender i.e. in the plugin scheduled task there is the function _getJournals, that should only return the journals that has the option enabled. I will take a look...

[2016-06-25 08:08] bozana commented on #1558
@marchitelli, I tested it on my local installation with multiple journals and it worked correctly i.e. only the journals that had the option selected were considered by the scheduled task.

[2016-06-25 17:33] mtub opened #1560 "[OJS] update all locales before OJS 2.4.8-1 release"
Make sure that the latest translation updates from `ojs-dev-2_4` are included in `ojs-stable-2_4_8` for the release of OJS 2.4.8-1.

[2016-06-27 09:36] NateWr commented on #1390
Ok, in that case, I think the display option checkboxes under Settings > Distribution > Permissions can probably go, since we want manual, article-by-article confirmation of display anyway.

Then it sounds like we're already kind of on the same approach I suggested, and on the frontend I can go straight to the article data without worrying about the global confic. The language and the global setti

[2016-06-27 17:26] jnugent opened #1564 "[OJS] status update for submission archive only happens when email is sent"
The status update code in emailEditorDecisionComment only occurs if the email is sent to the Author.  That block of code should be moved and should happen regardless of the email send.

[2016-06-27 18:13] asmecher commented on #1564
Merged and cherry-picked back to `ojs-stable-2_4_8`, thanks!

[2016-06-27 18:13] #1564 closed

[2016-06-27 18:26] asmecher commented on #1390
The licensing/copyright info is potentially presented in a lot of other places than just the reader front-end template -- via OAI, Google Scholar tags, etc. -- so the checkboxes (as currently intended) should only control whether they're shown on the reader interface in the template. The presence/absence of copyright/license data as entered on the form is a deeper concern.

Maybe this is the kind

[2016-06-27 21:30] asmecher commented on #1539
I would suggest we stick with our long-ago decision not to support multilingual checkboxes (i.e. checkbox controls that have different states for different languages). UI/UX-wise these are problematic, but also the cases where we use them are confusing and not widely used. We should pick the value for those settings corresponding to the journal's primary locale,and discard the setting values for o

[2016-06-27 21:36] #1546 closed

[2016-06-27 21:38] jalperin opened #1565 "add visual cue when a field is missing a translation (multi-lingual inputs)"
The original design of the multi-lingual pop-up called for the globe icon changing color (from blue to red) when one or more of the languages not currently shown was missing.

In the original spec for this, the world would be blue if none of the fields on that page were in more than one language, but as soon as one input got entered in two languages, all of the other multi-lingual inputs that were

[2016-06-27 21:38] asmecher commented on #1524
See https://github.com/pkp/pkp-lib/issues/1469

[2016-06-27 21:38] #1524 closed

[2016-06-27 21:48] asmecher commented on #1538
@nielsb, can you send me a database dump to try myself? It's true that `serial` is not a native type in PostgreSQL, but that shouldn't cause a problem unless something like OTOH one of the `serial` columns isn't the type PostgreSQL expects it to be.

[2016-06-27 22:08] asmecher commented on #1547
Updated, thanks!

[2016-06-27 22:08] #1547 closed

[2016-06-27 22:09] asmecher commented on #1547
For more information on testing, see https://pkp.sfu.ca/wiki/index.php?title=Unit_Tests -- and we're relying fairly heavily on Travis for integration into Github rather than developing with phpunit locally; see the `.travis.yml` for details.

[2016-06-28 00:16] asmecher commented on #1469
Added. To resolve this for your existing installation (as opposed to a new installation), edit the PASSWORD_RESET email template via the web interface and add the text to your email template for all applicable languages:

    Your new password: {$password}

[2016-06-28 00:16] #1469 closed

[2016-06-28 10:38] nielsb commented on #1538
No problem, this is a test installation anyway, so it has no interesting data in it. I have mailed it to you private mail.

[2016-06-28 14:55] bozana opened #1568 "enable the display of the xml validation messages"
This will be used in import/export plugins.

[2016-06-28 16:05] asmecher commented on #1568
Merged, thanks!

[2016-06-28 16:16] #1568 closed

[2016-06-29 08:06] bozana commented on #1527
PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/1570
omp: https://github.com/pkp/omp/pull/300
ojs: https://github.com/pkp/ojs/pull/897

[2016-06-29 09:00] NateWr commented on #1565
Other considerations to bundle in with this:
- Swap globe image for the FontAwesome globe icon (easy color adjustment)
- Make globe grey by default (blue signals interactions)
- Make missing translation color orange or a notice color of some kind instead of our main error color. I'd like to reserve that color for the hard errors in the form (missing _required_ fields, field validation errors) whic

[2016-06-29 10:40] WaDelma opened #1571 "[OJS] Removing user doesn't remove from database"
I created an account and then deleted it. When trying to create new account with same email as the deleted one OJS complained that user with that email exists. The deleted user is not listed anywhere in OJS.

If I select the users table in database I can see that the deleted user is still there.

[2016-06-29 12:33] WaDelma opened #1572 "[OJS] Allow customizing initials"
Current way of automatically generating initials breaks in some languages.

We had today one author want OJS to not just take first letter, but Sz digraph in their initials and we have had problems with Chinese authors initials before.

One solution would be just generate the initials into a textbox and then allow editing them afterwards if necessary.

[2016-06-29 15:55] asmecher commented on #1525
Rewritten into separate repo: http://github.com/pkp/googleAnalytics
Also modernized the tracking JS per @NateWr's comment.

[2016-06-29 15:55] #1525 closed

[2016-06-29 19:47] asmecher commented on #1571
That's expected behavior. "Remove" removes all roles; if you want to delete the user, use the "merge users" tool.

[2016-06-29 19:47] #1571 closed

[2016-06-29 21:11] asmecher commented on #1432
I'm content with it for 3.0, though there are some unresolved points (e.g. message handling) that need better resolution.

@NateWr, I can't just delegate everything to the discussion grid/handler because there are some concerns in Notify that aren't well handled there yet -- email template selection, notification creation/destruction, etc. Those will need further work and if it turns out they're m

[2016-06-29 21:13] asmecher commented on #1539
This is a dupe of https://github.com/pkp/pkp-lib/issues/1336

[2016-06-29 21:26] #1135 closed

[2016-06-29 21:32] asmecher commented on #607
@NateWr, I don't have any problem shipping minified CSS -- in fact, it may help dissuade people from modifying the compiled CSS directly, which believe me, they will try to do. Any objections to doing that, at least for the sake of 3.0?

[2016-06-29 21:57] asmecher commented on #597
The submission library got moved into a modal -- problem solved.

[2016-06-29 21:57] #597 closed

[2016-06-29 22:29] asmecher commented on #1405
Agreed, done. We may want to move the access settings back into setup, but I don't have strong feelings about this.

[2016-06-29 22:29] #1405 closed

[2016-06-29 23:48] #1539 closed

[2016-06-30 00:33] asmecher commented on #1527
Thanks, the 3 PRs in https://github.com/pkp/pkp-lib/issues/1527#issuecomment-229285757 look good -- just a couple trivial typos. Do these need to be merged in coordination with the CrossRef stuff?

[2016-06-30 00:35] bozana commented on #1527
Thanks @asmecher, yes it would be better to merge them at the same time or first, but... also not a very big deal/problem if not :-)

[2016-06-30 05:09] WaDelma commented on #1571
Well currently the user isn't shown anywhere in OJS and cannot be edited at all... So the email that the user has is completely unusable.

[2016-06-30 06:24] WaDelma opened #1574 "[OJS] Deleting role is confusing"
With an admin account one cannot delete default roles, but the button to delete them is still there.

When clicking remove button on role you get message:

But if there is any user assigned with that role, the role cannot be actually deleted. Either change the message or make it remove the role anyways.

[2016-06-30 06:39] WaDelma opened #1575 "[OJS] Stage Assignment doesn't allow removing assignments"
When changing what powers different roles have the main grid works correctly. But if you click the edit button and try to remove power from role and then click ok it doesn't actually change anything.    Adding powers from edit menu works correctly.

Also if you add/remove powers from roles in main view too quickly the notifications overlap 'Production' column preventing you from editing it.

[2016-06-30 07:10] NateWr commented on #607
:+1: Would love to ship minified CSS.

[2016-06-30 07:13] WaDelma opened #1576 "[OJS] When session times out changing tab in a page doesn't move you to login page"
If session times out and try to switch a tab in a page (eg. being on Distribution Settings on tab Access and moving to tab Payments) message:

is shown instead of moving user to login page.

[2016-06-30 10:16] henkela commented on #1505
Dear @asmecher,
sorry to bother again. I've another issue with the translations. I made a new branch in my fork of ojs and pkp/lib for production and introduced my german translations there. But when I want to submit a new article and come cross the upload file modal all translations are not shown. The translations are mainly in lib/pkp/locale/de_DE/submission.xml. I then remembered this thread an

[2016-06-30 11:34] NateWr commented on #1468
I've issued a number of PRs so we can get going on code review, but they're not quite ready for merge. I'm waiting for some feedback on the UsageStats plugin to do some refactoring there, the OJS PR doesn't include a submodule update (since this would need to be changed anyway), and I won't port OMP until we've finalized this spec.

https://github.com/pkp/pkp-lib/pull/1578
https://github.com/pkp/o

[2016-06-30 16:25] asmecher commented on #607
Minified CSS. @NateWr, is there anything else active on this issue, or is it resolved?

[2016-06-30 16:30] NateWr commented on #607
We'll need to keep this in mind when we get around to merging #1468. The LESS compilation has been moved around and refactored considerably there. But there's only one place where it happens so that's good.

In terms of other stuff on this issue. I still think there's a lot of old CSS lingering in our backend styles, but it's really hard to determine what's still in use and what's not. I'm fine cl

[2016-06-30 16:51] asmecher commented on #607
OK, this is a trivial fix so it'll be easy to migrate. Closing for now.

[2016-06-30 16:51] #607 closed

[2016-06-30 17:17] asmecher commented on #1468
Thanks, @NateWr, this looks very promising. I'd suggest we merge these whenever you're ready and the tests will pass -- I suppose that'll mean at least a partial port to OMP. I can help with the merging if you're hesitant e.g. to include submodule hashes because of the volume of code here. Let me know when you're ready, and maybe give the team a quick tour of template implications on Monday.

[2016-06-30 17:56] asmecher commented on #1505
Have you tried running an XML validator like `xmllint` on your translations? Also, ensure your file permissions in `cache/` are correct (and try deleting all `.php` files from there to flush old cached data).

[2016-06-30 17:58] asmecher commented on #1571
Use the Search tool and click the checkbox labeled "Include users with no roles in this journal."

[2016-06-30 20:35] WaDelma commented on #1571
Well that seems convoluted and hard to find...

[2016-06-30 23:54] asmecher commented on #1571
That may seem odd if you're considering a single-journal installation, but it makes more sense if you consider multi-journal installations.

[2016-06-30 23:57] asmecher commented on #1433
@jnugent, I think that covers it! I've merged the 3 master branch PRs -- anything left?

[2016-07-01 05:00] WaDelma commented on #1571
I still think remove is bad name for action: I all other places where term remove is used it means it actually removes what you are removing.
For example I just searched the user without rules and to remove it I just clicked remove again. This opened the confirmation window (which in all other removal cases asks confirmation and doesn't say that removal is actually not removal) and when I clicked

[2016-07-01 05:05] WaDelma opened #1579 "[OJS] Add marker for user accounts that are disabled"
Currently in user listing it's hard to see which users are disabled: You have to look each user individually.

A row should be added in which there is marker that indicates if the user is disabled.

Maybe even make it checkbox which allows toggling the disabled state.

[2016-07-01 05:19] WaDelma commented on #1579
Or just make it a status row which tells the state of the user: is it disabled, is it activated, is it pending password change.

Other choice for indication would be to have different background color for each of these. Only thing to make sure then is that colorblindness doesn't make it unreadable.

[2016-07-01 06:27] henkela commented on #1505
Thank you
Interestingly, at some point it started working. I guess some of my actions triggered a cache refresh then...

[2016-07-01 07:56] henkela commented on #1505
now, I found it... switching between languages refreshes the cache...
But here's another one:
Has something been changed with ##common.file.namingPattern##? It is not replaced anymore. Neither in English nor in German. Instead it's only written ##common.file.namingPattern## in the submission files panel. When I click on it the browser tries to download the file and there the naming seem ok - 1-99Z

[2016-07-01 08:04] henkela opened #1580 "[OJS] Add Participant in Submission Panel throws AJAX error"
Hi,
yesterday I synced with the upstream master branch. Today, I made some submission tests and when I wanted to add a participant as a external reviewer (press the add participant button) I get an error
![add_participant](https://cloud.githubusercontent.com/assets/8665047/16515578/0f82ccfc-3f73-11e6-9685-710aa8ebe805.png)

[2016-07-01 10:16] henkela commented on #1580
Weird in pkp/pkp-lib everything is fine... maybe just the merge failed...

[2016-07-01 10:16] #1580 closed

[2016-07-01 11:34] rjsj opened #1581 "[OJS] ojs2 "deprecated function" (Journal.inc.php: 261)"
On several pages, above the ISSN, there is an information:

ojs2 has produced an error Message: USER NOTICE: Deprecated function. In file: /var/www/ojs-2.4.8/classes/journal/Journal.inc.php At line: 261 Stacktrace: Server info: OS: Linux PHP Version: 5.6.22-0+deb8u1 Apache Version: Apache/2.4.10 (Debian) DB Driver: mysql DB server version: 5.5.49-0+deb8u1

[2016-07-01 11:40] rjsj commented on #1581
This is OJS, of course.

[2016-07-01 19:21] mtub opened #1582 "[OJS] OJS3 locale update"
* start with OJS2 locale files (`ojs-dev-2_4` branch)
* replicate changes to keys and key names
* complete translations for release of OJS3

[2016-07-01 21:23] crism commented on #1450
I’m dropping the ORCID support for authors. Against OJS 2._x_, every author was on the same page, and the plugin only applied to the first author, presumably the user, who could authorize the ORCID app. In OJS 3, each author has their own edit pane, indistinguishable; the “connect my ORCID” button doesn’t make sense in that context.

What should happen, and doesn’t (and I’ll file separately) is th

[2016-07-01 21:28] crism commented on #1528
ORCID should be copied (along with affiliation and nation) from submitting user to the main author; currently, it’s blank for the author, even if the user has set it in their profile. (See #1450.)

[2016-07-04 13:53] NateWr commented on #1468
Ok I've pushed updates to the PRs for OJS and pkp-lib and Travis is running the tests. I'll wait to see about those tests before wrangling an update for OMP.

[2016-07-04 14:01] NateWr commented on #1468
Hmm, Travis seemed to fail on some submodule issues. Is it because I have multiple submodule updates in the final commit? Should I add the non-pkp-lib submodules in a separate commit?

https://travis-ci.org/pkp/ojs/jobs/142216239#L222
https://travis-ci.org/pkp/ojs/jobs/142216279#L222
https://travis-ci.org/pkp/ojs/jobs/142216321#L222

[2016-07-04 14:31] asmecher commented on #1505
@henkela, you can manually flush the translation file cache by removing `cache/*.php` -- but did you get a validator going? Some of what you're reporting does sound like an XML file validation problem to me.

[2016-07-04 14:33] asmecher commented on #1581
@rjsj, this is expected behavior -- the software is constantly undergoing renovations of various kinds and the deprecation warnings help us to keep track of what's still in progress. I'd suggest turning off the deprecation warnings in your `config.inc.php` configuration file if you don't want to see them.

[2016-07-04 14:33] #1581 closed

[2016-07-04 21:35] asmecher commented on #1450
+1, huge thanks, @crism!

[2016-07-04 22:00] #1433 closed

[2016-07-04 23:25] vnen commented on #1433
Cool :smile: Any expected date for the 2.4.8.1 release?

[2016-07-04 23:28] #1145 closed

[2016-07-04 23:37] asmecher commented on #1449
Closing for 2.4.8-1!

[2016-07-04 23:37] #1449 closed

[2016-07-04 23:38] asmecher commented on #1001
@beghelli, did this one get completed? It looks like it did...

[2016-07-04 23:43] asmecher commented on #1543
Is this one finished, @bozana? It looks like it...

[2016-07-04 23:43] asmecher commented on #1433
@vnen, I would guess 1-2 weeks.

[2016-07-05 01:10] asmecher commented on #1468
I haven't looked into the test failure in detail, but I think the submodule plugin updates are confusing it. For the moment, I'm happy to work around this for you -- e.g. when you're ready I can run the tests locally.

A couple of problems before it's ready, though:
- OJS tries to get context-specific data from DB before the system is installed/before a context has been created. To fix, cherry-pic

[2016-07-05 01:11] asmecher commented on #1468
(BTW, I merged the plugin PRs because there's a low volume of development there and we can update the submodule hashes for OJS/OMP when we choose.)

[2016-07-05 01:44] vnen opened #1583 "[OJS] Send bulk email in batches"
When I try to send the new issue notification email, the SMTP server don't handle them all, so only a few are actually sent. This makes sense since servers throttle it to avoid spam.

Most applications that need to send lots of email do it in small batches. Since there's already a system for scheduled tasks, it would be interesting to use it to dilute the email queue in small batches and send them

[2016-07-05 09:28] NateWr commented on #1468
Oh thanks for the heads up on the router stuff. I saw that in my logs but couldn't figure out the source, then forgot about it.

So I can wrap the one offending call in a check for the router type:

https://github.com/NateWr/pkp-lib/commit/1af0118093f6a44e4a6eb5a0368776493d0c6490

But I wonder if _all_ of the assets being loaded should only be loaded in the context of a page router. Do we ever nee

[2016-07-05 13:50] beghelli commented on #1001
@asmecher yes, it's completed by @mfelczak work. Thanks Michael :). Closing.

[2016-07-05 13:51] #1001 closed

[2016-07-05 14:54] asmecher commented on #1583
@vnen, is this the Editor's "Notify Users" link? That's already batched -- see `pages/editor/IssueManagementHandler.inc.php` and `lib/pkp/classes/mail/MassMail.inc.php`.

[2016-07-05 16:13] asmecher commented on #1468
Yes, since the page router will always be responsible for handling HTML setup/teardown and the components will only (so far but as far as I can predict) add content to the body.

[2016-07-05 16:20] asmecher commented on #1571
Agreed that this is a point of some confusion. OJS 3.0 already has some improvements over 2.x in this regard and there's likely room for more. I'm guessing you're working with 2.x? If so, we're unlikely to make changes ourselves but I'd be happy to review/include a pull request.

[2016-07-05 17:22] asmecher opened #1584 "Can't fetch more rows from the unassigned submissions list"
See http://forum.pkp.sfu.ca/t/omp-1-2-submissions-load-more for details.

[2016-07-05 17:24] asmecher commented on #1584
Oops, this is a duplicate of https://github.com/pkp/pkp-lib/issues/1297 -- which was never back-ported to `ojs-stable-1_2_0`. Back-ported.

[2016-07-05 17:24] #1584 closed

[2016-07-05 17:33] WaDelma commented on #1571
I am actually working with 3.0, because our publication is planning on upgrading to it this fall.

[2016-07-06 05:47] bozana commented on #1543
@asmecher, the Crossref fix will come with https://github.com/pkp/pkp-lib/issues/1498, that is still not merged, @jmacgreg and @AhemNason are testing. Else, yes :-)

[2016-07-06 11:07] NateWr commented on #1468
Ok here's a PR for OMP as well:

https://github.com/pkp/omp/pull/301

If there's anything else you want me to do to aid in the merge process, let me know. Tomorrow is my last working day before I'm off.

[2016-07-06 14:11] ctgraham opened #1585 "Crossref plugin tries to register objects without DOIs"
In OJS 2.4.x, the CrossrefInfoSender tries to update and register published articles without checking if they are eligible for registration.

See logic at:
https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/importexport/crossref/CrossrefInfoSender.inc.php#L58-L82

To reproduce, publish an issue but prevent DOI assignment for the articles.  Run the scheduled task `./plugins/importexport/cross

[2016-07-06 14:45] piotreba commented on #1369
It should be possible to distinguish between publication dates of different versions of the same paper, if needed. E.g. case is a paper which was published in print in the past and republished online later (often on a basis of different terms such as CC licenses). But for citation/indexing purposes (e.g. Google Scholar) the original year should be used. Compare this post: [http://forum.pkp.sfu.ca/

[2016-07-06 15:46] asmecher commented on #1585
@bozana, mind looking at the attached PR and taking care of cherry-picking? Thanks!

[2016-07-06 16:03] asmecher commented on #888
@jmacgreg, this came up again on the forum, and while they resolved it by moving to another host, we can at least add another data point. What's Michael's capacity?

[2016-07-06 16:07] mfelczak commented on #888
@asmecher, @jmacgreg: I'll add this to my todo.

[2016-07-06 16:40] asmecher commented on #1468
Thanks, I've rebased the PKP-lib (https://github.com/asmecher/pkp-lib/tree/i1468_theme_api_2) and OJS (https://github.com/asmecher/ojs/tree/i1468_theme_api_2) PRs and I'm working on them locally. If you commit further on yours, let me know so I can CP them into mine rather than rebasing again -- it's a big of a pain.

In running the data build scripts, though, there's a problem with the front end

[2016-07-06 17:11] NateWr commented on #1468
All I can think is to make sure you've cleared cache on the frontend?

You can `{$scripts|@print_r}` in the templates to see all of the scripts that are registered. Ditto for `$styles` and `$headers`. You should see everything registered, not just the ones loaded in a given context.

[2016-07-06 17:13] asmecher commented on #1468
I think it's related to the `enabled` / `active` setting in the default theme. Looking into it now.

[2016-07-06 17:25] jmacgreg commented on #888
@mfelczak thanks! Let me know if you need testing assistance.

[2016-07-06 21:11] asmecher commented on #1468
I've fixed the enable problem (see primarily https://github.com/asmecher/pkp-lib/commit/4a9c60ad5a49499e99f2d18d948a2ef2ffc931e7) and I've cleaned up a bunch of JSLint problems etc. I merged the PRs for plugins, `lib/pkp`, and OJS. Currently OJS master is broken -- I'll work on a few things but one for you to look at, @NateWr --

The `minifiedScripts.tpl` file could use some restructuring. It's no

[2016-07-06 23:48] asmecher commented on #1468
OK, so I went ahead and merged the OMP request too. OJS is now just failing the validation stage (per https://github.com/pkp/pkp-lib/issues/1468#issuecomment-230908038) and I'll see if I can get OMP to the same state today. See if you can get that one put away before you go, @NateWr!

[2016-07-07 11:29] NateWr commented on #1468
The following PRs pull some of the minified scripts out and register them separately. I think these are all the ones that were added.

https://github.com/pkp/pkp-lib/pull/1587
https://github.com/pkp/ojs/pull/910
https://github.com/pkp/omp/pull/303

I agree that the template file should go. But I am not familiar enough with your build scripts to properly rewrite the way that the `buildjs.sh` handle

[2016-07-07 15:14] asmecher commented on #1468
Merged, thanks, @NateWr -- just a few last JS check issues to tidy up. See e.g.: https://travis-ci.org/pkp/ojs/jobs/143064867

[2016-07-08 15:12] asmecher commented on #1498
@jmacgreg and @AhemNason, are you two testing this one? It's filed against 2.4.9 but could be cherry-picked into 2.4.8-1 if it's stable and everyone thinks that's appropriate.

[2016-07-08 15:13] asmecher commented on #1543
OK, closing!

[2016-07-08 15:13] #1543 closed

[2016-07-08 15:21] AhemNason commented on #1498
James and I are hoping to test all these changes again on Monday. There were some significant changes we asked for we need to retest. James is dealing with travelling stuff today, so we're hoping early next week will be time for us to sign off.

[2016-07-08 15:24] asmecher commented on #1498
OK, thanks!

[2016-07-08 17:43] ubermichael commented on #1496
Interesting. I didn't notice this one come in at all. I'll make the change.

[2016-07-08 17:50] asmecher commented on #1496
Scheduling for 2.4.8-1 so it's not forgotten, though of course it can be deferred if we decide.

[2016-07-08 17:51] mjordan commented on #1496
@jmacgreg would you mind clarifying the distinction first, i.e., it is the journal manager who agrees, not the primary contact?

[2016-07-08 18:29] jmacgreg commented on #1496
Correct - a journal manager (of which there can be more than one) can use the plugin, but there's no way to confirm that that person is also the "primary contact", which is just a name and email address added to journal setup. What about simply removing the distinction: "I, in good faith ..."

[2016-07-08 18:31] mjordan commented on #1496
Thanks. We'd have to run removing the "in good faith" part by our legalistic overloard(s).....

[2016-07-08 18:37] ubermichael commented on #1496
@jmacgreg Are you suggesting only removing "As Primary Contact, " so it would read "I, in good faith, accept and confirm the following terms and conditions..."

[2016-07-08 18:49] jmacgreg commented on #1496
@ubermichael correct!

[2016-07-08 19:22] mjordan commented on #1496
Ah, sorry, I misunderstood but fully support that solution. Should still inform those that helped draft the existing text. I can do that.

[2016-07-08 19:25] ubermichael commented on #1496
Ok. Are we good to go with this change then?

[2016-07-08 19:26] mjordan commented on #1496
Not yet, am mailing to get sign off.

[2016-07-08 20:59] #1424 closed

[2016-07-08 21:04] mjordan commented on #1496
Looks like "As Journal Manager, I, in good faith" is the preferred version.

[2016-07-08 21:18] ubermichael commented on #1496
Pull request in, after some confused futzing on my part. Commit 39011b0 can be ignored. If anyone can tell me how to delete it, I'd be grateful.

[2016-07-08 21:38] mjordan commented on #1496
@ubermichael, looks good. AFAICT both commits are identical so git may not care there are two of them in one PR... @asmecher feel free to merge or authorize me to do so.

[2016-07-09 05:28] mjb24v opened #1591 "Table of Contents alignment"
Hi there,
Since upgrading to the latest version of OJS (2.4.8.0), the alignment of the page numbers of PDF links seems off (in our theme but also when I switch back to one of the default themes). They are no longer vertically aligned  - see attached screenshot.
![toc](https://cloud.githubusercontent.com/assets/20366189/16706281/14c75cd8-459e-11e6-88af-fc25cbaa22c3.png)

[2016-07-10 05:50] mtub opened #1594 "acron plugin (pkp-lib) has app-specific language"
In `plugins.generic.acron.description`:

If the plugin is still intended to be used by all applications, this should be changed.

[2016-07-10 14:36] mtub opened #1595 "remove app/journal-specific language in pkp-lib"
These should be changed to a broader meaning or moved to the matching application directory. Tracking issue, will add to the list whenever I stumble upon more keys.

This is for the `master` branch.
- [x] `editor.publicIdentificationExistsForTheSameType` ("journal")
- `plugins.metadata.nlm30.nlm30XmlOutput.displayName` ("journal") [This is the name of the tag set, so leaving as is. -AS]
- [x] `plu

[2016-07-11 07:37] bozana commented on #1591
Hmmm... Maybe you could try to clear your cache, OJS and browser cache?

[2016-07-11 08:23] bozana commented on #1585
Merged, thanks a lot!
There will be a bunch of Crossref plugin improvements coming with this issue: https://github.com/pkp/pkp-lib/issues/1498. The implementation is currently in my OJS repository, branch 1498fix. There, I've already considered this issue, but I will now cherry-picked this PR to the stable branch as well, till those bigger changes are not merged. It is already considered in the ma

[2016-07-11 10:26] mjb24v commented on #1591
Thanks for the reply! Clearing the various caches doesn't seem to have done anything (see http://press-start.gla.ac.uk/index.php/press-start/issue/view/3 for example) so I might just see if I can fix it myself in the theme template with some CSS.

[2016-07-11 13:25] bozana commented on #1591
Hmmm... Your common.css seems not to be the current one:
Your: http://press-start.gla.ac.uk/lib/pkp/styles/common.css
Current 2.4.8 one: https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/styles/common.css
Could it be that you have somehow missed CSS at the update?

[2016-07-11 14:48] ctgraham opened #1596 "Mail::getReplyToString() is noisy"
In OJS 2.4.x, the "replyTo" property is likely null:
https://github.com/pkp/pkp-lib/blob/ojs-stable-2_4_8/classes/mail/Mail.inc.php#L338
But we treat is as an array when checking it for getReplyToString()
https://github.com/pkp/pkp-lib/blob/ojs-stable-2_4_8/classes/mail/Mail.inc.php#L356

This throws as warning.

[2016-07-11 16:03] #1596 closed

[2016-07-11 16:20] asmecher commented on #1496
Merged and cherry-picked forward to `ojs-dev-2_4`. Thanks, @mjordan and @ubermichael.

[2016-07-11 16:20] #1496 closed

[2016-07-11 18:49] asmecher commented on #1468
Fixed the JS linting problems, and OJS and OMP master are both testing OK again. Linting commits:

- https://github.com/pkp/pkp-lib/commit/586ea87f83b1c69730c5135905626f357be88d2c
- https://github.com/pkp/pkp-lib/commit/4ebfa824e853b9bfffc9429c870c5cfbb45400b9

I'll file the minifiedScripts.tpl refactor elsewhere. Thanks, @NateWr, hoping you're having a good break.

[2016-07-11 18:49] #1468 closed

[2016-07-11 18:50] asmecher opened #1599 "Replace minifiedScripts.tpl with some other mechanism"
See https://github.com/pkp/pkp-lib/issues/1468#issuecomment-230908038 and following comments.

[2016-07-11 19:12] asmecher commented on #1485
Deferring slightly.

[2016-07-11 19:12] asmecher commented on #1479
@stranack, relevant to today's discussion of help.

[2016-07-11 19:32] asmecher commented on #1446
@stranack, pinging you for feedback :)

[2016-07-11 21:47] #1585 closed

[2016-07-11 22:30] crism commented on #1450
I can confirm that, with @asmecher’s changes to support API changes, this works with both OJS 3 and OMP 1.2.

[2016-07-11 22:30] #1450 closed

[2016-07-11 22:55] asmecher commented on #1450
Thanks again, @crism!

[2016-07-12 00:11] asmecher commented on #1289
Used a solution we've used elsewhere: converted this part of management to a tab set, and made the container link go to the first tab.

[2016-07-12 00:11] #1289 closed

[2016-07-12 08:28] alonsoj opened #1600 "[OJS] Sitemap not generating friendly urls"
On OJS 2.X, the sitemap page is not generating friendly urls.

In SitemapHandler.inc.php, I think

`XMLCustomWriter::appendChild($root, $this->_createUrlTree($doc, Request::url($journal->getPath(), 'article', 'view', array($article->getId()))));` should be
`XMLCustomWriter::appendChild($root, $this->_createUrlTree($doc, Request::url($journal->getPath(), 'article', 'view', array($article->getBestAr

[2016-07-12 09:48] mjb24v commented on #1591
Interesting. The upgrade process was a bit of a disaster (installing the full package broke the site) so we ended up using the command line patch option, which I've not tried before. Perhaps that missed the CSS stuff. I'll try swapping in the version of common.css from Github...

[2016-07-12 09:54] mjb24v commented on #1591
And that fixed it (replacing my common.css with that on Github)! Thanks!

[2016-07-12 09:54] #1591 closed

[2016-07-12 13:14] bozana opened #1601 "Implement CLI for import/export plugins"
the command line import export should be implemented for all plugins: ~~crossref, datacite, doaj, medra, native,~~ users.

[2016-07-12 13:15] bozana opened #1602 "Implement datacite DOI export plugin"

[2016-07-12 13:15] bozana opened #1603 "Implement medra DOI export plugin"
Note: the solution here considers all galleys with a doi for export. Eventually we would like to differentiate between galleys and consider for example only MonographFiles. But, what to do then with the others, if they get a doi assigned? - the doi should not be assign to them and this would an editor has to take care of - it cannot be done automatically. If the dois are not assigned to them, then

[2016-07-12 13:16] bozana opened #1604 "Implement DOAJ export plugin"
just the current stable functions will be first migrated...

[2016-07-12 15:39] bozana commented on #1457
@asmecher, I still have to consider some things for the migration from 2.4.x (s. i) above), thus I will open this issue again, ok? And I will move g) to a new issue, maybe for 3.1, ok?

[2016-07-12 15:42] asmecher commented on #1457
Hmm, it looks like github decided to close this when I merged one of the PRs -- it's never clear to me when/why it does this. But yes, agreed.

[2016-07-12 15:43] alonsoj commented on #1600
And for issues.

[2016-07-12 16:15] asmecher commented on #1541
Added a 301 redirect for viewFile URLs. Still need to deal with `downloadSuppFile` (after the supp file migration code has been written for upgrade).

[2016-07-12 16:37] #1492 closed

[2016-07-12 17:14] marchitelli opened #1606 "Error in submission review status highlightning"
Starting from [a thread in the forum](http://forum.pkp.sfu.ca/t/colouring-overdue-reviews/1059/), I found (and hoping corrected) an error in the highlightning logic.

Unfortunately, I committed my fix against a wrong and already open PR. I am working on the editorial issues following your suggestions, but I need more time.

Here the code: https://github.com/pkp/ojs/commit/d8d2eb95bfa7bcf72b207579d

[2016-07-12 18:25] ctgraham opened #1607 "PLN Deposits fail if metadata contains HTML entities"
For OJS 2.4.x.

When constructing the XML for the PLN deposit in [DepositPackage.pm](https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/generic/pln/classes/DepositPackage.inc.php), user-entered data could have characters disallowed by XML.  See especially fields like openAccessPolicy or copyrightNotice.

Steps to reproduce:
Copy and paste text into Journal Setup which would cause an HTML ent

[2016-07-12 18:33] ctgraham commented on #1607
@ubermichael suggests:

Personally, assuming that HTML is valid content, I would recommend escaping over trying to map the content to Unicode.

[2016-07-13 15:42] asmecher commented on #1538
@nielsb, with apologies for the delay in responding -- I tracked this down to a known issue in the ADODB library we use for database schema management. There's a patch you can apply [in our old forum](https://pkp.sfu.ca/support/forum/viewtopic.php?f=40&t=11896&p=45922#p45922) to work around the problem before running the upgrade script.

[2016-07-13 15:42] #1538 closed

[2016-07-13 18:30] ubermichael commented on #1607
I don't think escaping would be the right thing: it complicates processing further down the road and makes importing/rebuilding the journal more difficult (double decoding!).

You also suggested that we declare the entities, but that adds a bunch of complexity as well (either add all the HTML 4 entities, link to a DTD with them, or parse the metadata to determine which entities are needed and decl

[2016-07-13 21:02] asmecher commented on #1607
FWIW I also favour escaping -- it's the only thing guaranteed to prevent data loss in the case of a wildly nasty data set (e.g. database dump/reload with different character sets -- this does happen). Since recovery is relatively rare, imposing a bit more work on the restoration process is a lesser evil IMO than not knowing how much of your data you're discarding.

[2016-07-13 21:14] mtub commented on #1560
There's another update coming in...

[2016-07-13 23:52] asmecher commented on #1268
Not the cleanest solution but works for now.

[2016-07-13 23:52] #1268 closed

[2016-07-14 11:59] ctgraham commented on #1607
I think double decoding is appropriate:  One level of escaping for HTML, and one level of escaping for storing HTML in XML.  Alternately, we could encapsulate the HTML inside CDATA references, if you want to avoid the second escape in favor of human readability.

[2016-07-14 13:39] FlaminSeraphim opened #1612 "[OJS] Trouble installing"
When installing on Ubuntu 16.04 it has php 7. Whenever we try to install ojs it will not work the server gives a error 500. The apache server says that it doesn't like the command String. The apache server says
[Wed Jul 13 15:57:04.629455 2016] [:error] [pid 1115] [client 127.0.0.1:33164] PHP Deprecated:  Non-static method PKPApplication::defineExposedConstant() should not be called statically in

[2016-07-14 15:10] asmecher commented on #1612
Also posted [on the forum](http://forum.pkp.sfu.ca/t/support-ubuntu-and-php-versions/16220). (@FlaminSeraphim, please stick to just one venue -- we're a small team, and you'll reach the same people either way.)

[2016-07-14 15:10] #1612 closed

[2016-07-14 15:39] #1527 closed

[2016-07-14 17:54] asmecher commented on #1530
@NateWr, I implemented some changes to support this, which should result in the notification text being HTML structured and CSS formatted rather than glued together in a string. Some relevant bits:

- Formatting for notifications: https://github.com/pkp/pkp-lib/blob/master/styles/controllers/grid/notifications.less
- Where the inner text for the notifications is defined for English: https://github

[2016-07-15 13:20] kasioumis opened #1614 "Error with implicit authentication (Shibboleth SSO)"
Running [OJS master](https://github.com/pkp/ojs/commits/master) (up to https://github.com/pkp/ojs/commit/932185bb128c5ab60c9a9b147600801f8fe17218), with `implicit_auth = On` in `config.inc.php`, I'm getting `PHP Fatal error:  Call to undefined method Role::setJournalId() in /opt/ojs3/plugins/implicitAuth/shibboleth/ShibAuthPlugin.inc.php on line 245` after being authenticated by Shibboleth and ret

[2016-07-15 15:00] asmecher commented on #1614
@kasioumis, I'll take a look at the immediate problem before the release of OJS 3.0, but beware that the current `implicit_auth` setting and related code are not expected to work at the moment and will likely need an overhaul. That code is basically unchanged from its roots in OJS 2.x and needs to be rewritten for 3.0. We will be working on some related topics after the release of OJS 3.0, such as

[2016-07-15 17:19] asmecher opened #1615 "Foreach by reference in array causes error"
Example code:

    $a = array(1, 2, 3);
    $b = array('a', 'b', 'c');

    foreach (array(&$a, &$b) as &$d) {
    	$d[1] = 'zounds!';
    }

Removing the references from within the array definition results in `$a` and `$b` not being modified after the `foreach`. However, defining references like this results in errors like

    Parse error: syntax error, unexpected '&' in xyz on line 123

...for

[2016-07-15 17:33] #1615 closed

[2016-07-15 18:17] stranack commented on #1446
This is resolved.

[2016-07-15 18:20] asmecher commented on #1446
Great, thanks!

[2016-07-15 18:20] #1446 closed

[2016-07-15 19:10] #1436 closed

[2016-07-15 20:46] asmecher commented on #1614
For the moment (for the OJS3.0 release) I've removed the implicitAuth plugin category.

[2016-07-15 20:46] #1614 closed

[2016-07-15 21:51] asmecher commented on #1341
Already there.

[2016-07-15 21:51] #1341 closed

[2016-07-15 22:10] asmecher commented on #1402
I tested this with mod_php and mod_rewrite on an Ubuntu VM and OJS 3.0 behaves just like OJS 2.x with the settings recommended in docs/FAQ. Closing for now.

[2016-07-15 22:10] #1402 closed

[2016-07-18 18:44] asmecher commented on #1601
(I'll tackle the native import/export plugin.)

[2016-07-18 18:59] asmecher commented on #1498
@bozana, I merged the OJS 2.4.8-1 PR -- is this ready to close?

[2016-07-18 18:59] asmecher commented on #1560
@mtub, is this ready to close from your perspective?

[2016-07-18 19:03] mtub commented on #1560
sorry… closing now.

[2016-07-18 19:03] #1560 closed

[2016-07-18 19:06] #1498 closed

[2016-07-18 19:07] bozana commented on #1498
I closed the issue and will cherry-pick it to dev soon... :-) Thanks!

[2016-07-18 19:59] asmecher opened #1616 "One-click reviewer access plus attachment add causes apparently empty recipient list"
See http://forum.pkp.sfu.ca/t/send-reminder-page/16401

[2016-07-18 20:00] asmecher commented on #1616
The issue appears to have been cosmetic -- the reviewer was addressed correctly, even though the form appeared to be empty. Fixed.

[2016-07-18 20:00] #1616 closed

[2016-07-18 20:26] asmecher commented on #1601
@bozana, I added CLI support for the native import/export plugin and it turned out to be pretty easy using the filter framework etc., and borrowing a few things from OJS 2.4.x. (For example, the CLI syntax stayed the same so I used the old locale key for that.)

I'm going to defer this issue to 3.0.1, but if you think it's important to add support for other plugins for 3.0, please go ahead.

[2016-07-18 20:37] stranack opened #1617 "Reword Add Details to Review Details"
During the submission process, when uploading a file, step 2 is currently "2. Add Details":

http://journals.sfu.ca/uiux/index.php/publicknowledge/submission/wizard/2?submissionId=35#step-2

This should be changed to "2. Review Details" as there is no longer the requirement to add anything here.

This applies to OJS 3 and OMP 1.2.

[2016-07-18 20:43] stranack opened #1618 "Profile: Change Conversation to Discussion"
Under Profile > Notifications:
http://journals.sfu.ca/uiux/index.php/publicknowledge/user/profile#

Two entries should be reworded:

"Conversation added" to "Discussion added"
"Conversation activity" to "Discussion activity"

[2016-07-18 20:50] asmecher commented on #1617
Done (master branch): https://github.com/pkp/pkp-lib/commit/473944e0d0ecbd8bde05207ba885192647356e56
I'll leave this open in case you need to do anything in the help files as a result, but feel free to close otherwise.

[2016-07-18 20:52] asmecher commented on #1618
Done -- but again, leaving open in case you need to coordinate with the help files.

[2016-07-18 22:57] asmecher commented on #606
Those templates have since been removed from OJS .2.4.x anyway. Removing them from OJS 3.0.

[2016-07-18 22:57] #606 closed

[2016-07-18 23:16] asmecher commented on #596
For now, this is OK per the Notify/Discussions tool interaction that was added recently, and if it needs work we should probably discuss it more broadly WRT the Participants Grid as a whole.

[2016-07-18 23:16] #596 closed

[2016-07-18 23:17] #1032 closed

[2016-07-18 23:18] stranack opened #1619 "Block adding discussion to oneself only"
When using the Add Discussion tool, it is possible for a user to only include themselves in the list of Participants. Testing showed people did this somewhat frequently.

Can we block saving unless the user has included someone other than themselves in the discussion?

[2016-07-18 23:19] asmecher commented on #1144
I'm satisfied with this for OJS 3.0 -- deferring, barring outcry. It would also be good to review the problematic area again since I think we've gotten better with default selections since this was filed.

[2016-07-18 23:21] asmecher commented on #1410
@bozana, just reviewing open issues -- I think you were interested in tackling this one as a button like the other editorial decisions.

[2016-07-18 23:22] #1618 closed

[2016-07-18 23:23] #1617 closed

[2016-07-19 01:05] stranack opened #1620 "Allow editor to change contributor information"
In Catalog Entry > Monograph, in the List of Contributors section, editors should be able to uncheck whether listed contributors are the "Primary Contact" or "In Browse List".

http://omp.sfu.ca/uiux/index.php/publicknowledge/workflow/index/16/5

[2016-07-19 14:22] bozana commented on #1601
I also think that this can be deferred for 3.0.1 :-)

[2016-07-19 17:14] ubermichael commented on #1607
New patch to use mb_* functions, correct whitespace, and use CDATA sections. Please review.

[2016-07-19 18:42] ubermichael commented on #1534
@asmecher Can this one be closed now? I'm not sure on your workflow.

[2016-07-19 18:52] mfelczak opened #1621 "[OJS] Missing $request param in comment form emails"

[2016-07-19 19:27] bozana commented on #1410
PR:
pkp-lib: https://github.com/pkp/pkp-lib/pull/1622
ojs: https://github.com/pkp/ojs/pull/936

[2016-07-20 04:14] asmecher commented on #1621
Is there a particular problem this solves, or is it just a clean-up? OTOH the `$request` object should be nullable all the way down the chain, though at a glance it may affect e.g. logging.

[2016-07-20 13:52] NateWr commented on #1530
Will do! :+1:

[2016-07-20 14:40] bozana opened #1623 "differentiate dependent, chaper and other publication formats files for download"
Above all, this applies to the PKPTemplateManager function smartyPluckFiles.
The dependent files should not be considered for the download. To check if a file is a dependent file, the function of the file genre getDependent has to be checked. (SupplementaryFile, SubmissionArtworkFile and MonographFile are just file types, differentiating i.e. defining specific metadata.)
Chapter files should be di

[2016-07-20 14:50] NateWr commented on #1390
@asmecher Ok, I've gone ahead and removed the global settings for displaying the copyright/license. It will always display when the data is attached to an article.

My understanding is that when the `attachPermissions` checkbox is not checked, no license information is attached to an article. This is not displayed on the frontend and `Article::getLicenseUrl()` returns nothing.

![selection_001](ht

[2016-07-20 14:55] mfelczak commented on #1621
Hi @asmecher, just tidying up. I followed the chain down, however, and you're right the `$request` object is used for logging as well as cleaning-up attachments (ArticleMailTemplate::send).

I've updated the PRs to also include ProofreadCommentForm.inc.php which I missed.

[2016-07-20 15:01] asmecher commented on #1621
@mfelczak, is it tested? I like the cleanup but some of that code is such a labyrinth I'm worried about inadvertently introducing e.g. a warning message or something.

[2016-07-20 15:02] mfelczak commented on #1621
No problem, I'll test it out.

[2016-07-20 15:17] NateWr commented on #1390
PRs to remove global copyright/license display settings:
https://github.com/pkp/pkp-lib/pull/1625
https://github.com/pkp/ojs/pull/937
https://github.com/pkp/omp/pull/308

[2016-07-20 15:22] asmecher commented on #1390
Thanks, merged the copyright/license PRs!

[2016-07-20 15:24] asmecher commented on #1390
From https://github.com/pkp/pkp-lib/issues/1390#issuecomment-233973039:

The current behavior still seems logical to me, though it's entirely possible I'm missing the point... could you give me a scenario that you think we're not covering well?

[2016-07-20 15:36] kasioumis opened #1626 "Rewrite Custom Locale Plugin for 3.0"
Running [OJS master](https://github.com/pkp/ojs/commits/master) (up to https://github.com/pkp/ojs/commit/2b52f95537b70085009bfa02ca73fad124e6f0f0), when the "Custom Locale" Plugin is enabled, I'm getting `PHP Fatal error:  Call to a member function getId() on a non-object in /opt/ojs3/plugins/generic/customLocale/CustomLocalePlugin.inc.php on line 27`

[2016-07-20 15:36] NateWr commented on #1390
I'm not sure what "deeper concern" you were referring to in your previous comment. https://github.com/pkp/pkp-lib/issues/1390#issuecomment-228832306 My understanding is that it's possible for license details to not be attached to an article. All I'm asking is: is that a problem? Because I think it's possible.

[2016-07-20 15:42] #1623 closed

[2016-07-20 15:44] bozana opened #1627 "Display full text and supplementary files separately in OMP"
try to display the monograph full texts (MonographFiles) in the right sidebar first i.e. before the other files (e.g. SupplementaryFiles).

[2016-07-20 15:52] asmecher commented on #1390
I was distinguishing between whether the license info is attached, and whether it is displayed. It's moot now that it's always displayed when available.

Yes, it's possible for license details to not be attached to an article. I don't think it's good practice, but we also need to support license information being attached whenever the appropriate editor is ready, so I think this is one of those ca

[2016-07-20 16:16] mfelczak commented on #1621
Unlike the copyediting, layout, and proofreading comment pop-ups, the editor decision comments pop-up doesn't include a 'Save and Email' button (only 'Save' and 'Close') -- @asmecher is this by design or a bug?

[2016-07-20 16:21] asmecher commented on #1410
Merged both, thanks -- can this be closed?

[2016-07-20 16:23] asmecher commented on #1621
I can't think of a reason for it to be that way, though it's never come up, so I'd call it a low priority to change. But go for it if you like.

[2016-07-20 16:26] #1410 closed

[2016-07-20 16:28] asmecher commented on #1626
That plugin has yet to be rewritten for OJS 3.0 and will not be included in the 3.0 tarball -- nonetheless I'm not getting the message you are. What URL are you looking at within the system?

[2016-07-20 16:31] asmecher commented on #1626
(When this plugin gets rewritten, the exclusion from the tarball needs removing -- or else this can be distributed via the plugin gallery. Commit: https://github.com/pkp/ojs/commit/d8188f0253a0d44b8527b838ad4953e36786f229)

[2016-07-20 16:31] asmecher commented on #1626
(@kasioumis, I'm commandeering this issue as a rewrite of that plugin for OJS 3.0.1.)

[2016-07-20 16:53] mfelczak commented on #1621
Thanks @asmecher. Digging around a bit, this may be on account of the notify author email alongside which the editor comments reside. The notify author email is also tied to a journal setting indicating whether the primary author or all authors should be notified by email. Leaving as-is for now.

[2016-07-20 16:57] kasioumis commented on #1626
@asmecher we get the `PHP Fatal Error` right at the index page. The admin interface works just fine.

[2016-07-20 17:08] asmecher commented on #1534
Yes, thanks!

[2016-07-20 17:08] #1534 closed

[2016-07-20 17:12] mtub commented on #1626
@asmecher, can you keep me in the loop for when someone is going to work on that plugin? Might be interested in reviewing/commenting.

[2016-07-20 17:16] asmecher commented on #1517
Merged and cherry-picked back to `ojs-stable-2_4_8`.

[2016-07-20 17:16] #1517 closed

[2016-07-20 17:17] asmecher commented on #1626
@mtub, sure, you should be subscribed on the sidebar now that you've commented here.

[2016-07-20 20:36] asmecher commented on #673
I dodged the requirement for name/value pair handling in tag-it because we need to resolve some controlled-vocab issues around languages. Currently neither OMP or OJS use closed controlled vocabularies for these and perhaps that's a good thing. Suggestions do come from the localized language list, which will encourage but not require conformance.

[2016-07-20 20:36] #673 closed

[2016-07-20 20:39] asmecher commented on #1086
This is not going to make it into OJS 3.0, unfortunately. For now, moving over to 3.0.1.

[2016-07-20 21:46] asmecher commented on #1416
Added to OJS 3.0 via submodule; leaving open for 2.4.9.

[2016-07-20 21:52] asmecher commented on #662
All of these templates have been removed from the master branch (good), and the only critical one for 3.0 is the "Browse By Author" interface, which will be covered by https://github.com/pkp/pkp-lib/issues/381. Closing.

[2016-07-20 21:52] #662 closed

[2016-07-20 21:53] asmecher commented on #381
For 3.0: need to implement a "by authors" browse, hopefully using ORCiDs rather than the flawed 2.4.x query.

[2016-07-21 07:09] withanage opened #1628 "[OMP] Length of the rights statement"
in omp 1.2 we have a 255 limitation on the form side for the Rights.   May be it is helpful not to control the length of the field, cause in sql  db, it is a text-field.
Known benefits:
We can add a   HTML snippet there,  as we get from creative commens and display directly in the front-end.

![screenshot from 2016-07-21 09 06 01](https://cloud.githubusercontent.com/assets/1921992/17014033/78fa0bd

[2016-07-21 14:21] bozana opened #1629 "Add book and chapter DOIs and other public identifiers to the OAI interface in OMP"
Consider public identifiers (DOI, URN) via the OAI interface in OMP.

[2016-07-21 15:50] asmecher opened #1630 "Authors not presented with session type"
See http://forum.pkp.sfu.ca/t/session-type-not-visible-for-authors/16493/3 for details.

[2016-07-21 15:53] asmecher commented on #1630
This is a duplicate of https://github.com/pkp/pkp-lib/issues/1100.

[2016-07-21 15:53] #1630 closed

[2016-07-21 16:52] asmecher commented on #1131
Here is the first of several additions to the toolkit to address this issue: Add CSRF token tools to form classes. https://github.com/asmecher/pkp-lib/commit/a1aa4dea476ee2f8db6e2240f6694fbc777df29f

- Form classes can add CSRF checks: https://github.com/asmecher/pkp-lib/commit/a1aa4dea476ee2f8db6e2240f6694fbc777df29f#diff-448e48a9756df9accaafc39141ffb394R43
- Form mark-up can include CSRF tokens:

[2016-07-21 17:23] asmecher opened #1631 "Add support for HTML presentation"
Port the OJS HTML galleys plugin across to OMP for HTML publication.

[2016-07-21 17:45] NateWr commented on #1390
This PR adds the DOI and how-to-cite stuff to the article view page:
https://github.com/pkp/ojs/pull/938

No `pkp-lib` update required.

[2016-07-21 21:41] judgej commented on #1131
Just some notes based on my encounters of CSRF in other systems:

CSRF tokens are normally replaced on every single page load - not kept for any extended periods. Not sure if I read your "24 hour period" correctly. A page that has AJAX POSTs and PUTs will actually get its CSRF token refreshed on every POST. Libraries such as jQuery can automatically keep track of that and update the CSRF token in

[2016-07-22 04:43] asmecher commented on #1131
Thanks, @judgej. FYI, I opted for CSRF tokens that expire with the sooner of 24 hours or the session because of the multiple-tab scenario (I frequently navigate this way). It's a security trade-off but a fair one (in my fallible opinion).

[2016-07-22 04:50] asmecher commented on #1131
(The more I think about it, though, the more 24 hours seems excessive.)

[2016-07-22 08:46] NateWr commented on #1390
This PR adds DOI, pub ID and cover images to issue summarys and table of contents views:
https://github.com/pkp/ojs/pull/940

[2016-07-22 08:49] NateWr commented on #1457
Sorry to pop in on this issue, but wanted to let @asmecher know of this tiny little PR for the clear DOI button styles:

https://github.com/pkp/pkp-lib/pull/1632

[2016-07-22 15:26] asmecher commented on #1607
Merged!

[2016-07-22 15:26] #1607 closed

[2016-07-22 15:28] asmecher commented on #1607
Cherry-picked to `ojs-stable-2_4_8`.

[2016-07-22 15:51] asmecher commented on #1219
Deferred.

[2016-07-22 15:53] asmecher commented on #1423
@ubermichael and @ctgraham, can you summarize the state of this one? I see work from both of you (and a PR from Clinton); Michael, I see some commits but no PR.

[2016-07-22 16:02] ctgraham commented on #1423
So, [PR 1426](https://github.com/pkp/pkp-lib/issues/1427) resolves the problems I was seeing earlier, though I confess I don't understand why it does.  I was afraid the change by itself to propagate "localhost" into the URLs, but it doesn't.

[2016-07-22 16:35] NateWr commented on #1390
This PR does some minor adjustments to announcement display:
https://github.com/pkp/pkp-lib/pull/1633

This PR adds the latest issue to the homepage and improves display of announcements and homepage image:
https://github.com/pkp/ojs/pull/941

Although there's a `pkp-lib` PR here, the OJS PR is not dependent on it so I haven't included it as a submodule commit.

[2016-07-22 20:40] ubermichael commented on #1423
c30502 removes all uses of `$journal->getUrl()` and replaces them with `$router->url()`. This seems to do the right things in my test setup, when I execute `php tools/runScheduledTasks.php`

I haven't created a PR yet, because I don't know enough about the router to be sure that it works as expected.

[2016-07-22 20:42] asmecher commented on #1423
Gotcha, @ubermichael. Are you still working on this?

[2016-07-25 08:04] NateWr commented on #1397
The following PR restores the `publisherInstitution` field and adds it to the Masthead settings.

https://github.com/pkp/ojs/pull/943

I believe this issue can be closed once merged.

[2016-07-25 08:39] NateWr commented on #1520
PRs:
https://github.com/pkp/pkp-lib/pull/1634
https://github.com/pkp/staticPages/pull/11
https://github.com/pkp/omp/pull/309
https://github.com/pkp/ojs/pull/944

I didn't include the `staticPages` submodule commit in the `omp` and `ojs` PRs because I think we've had trouble in the past with multiple submodule updates.

[2016-07-25 11:28] NateWr opened #1636 "Loading spinner always appears during journal settings wizard"
It only appears to effect the first stage of the settings wizard.

![selection_001](https://cloud.githubusercontent.com/assets/2306629/17099931/45d47910-5263-11e6-993c-df89d460ca92.png)

[2016-07-25 11:42] NateWr commented on #1508
PR:
https://github.com/pkp/pkp-lib/pull/1637

[2016-07-25 12:02] NateWr commented on #1636
PR:
https://github.com/pkp/pkp-lib/pull/1638

[2016-07-25 14:54] NateWr commented on #1453
PRs:
https://github.com/pkp/pkp-lib/pull/1639
https://github.com/pkp/omp/pull/311
https://github.com/pkp/ojs/pull/946

Although OMP doesn't really have an overall site index like OJS, I implemented a few of the updates just to keep parity between the two apps.

These PRs remove the `intro` field from sites but leave the `about` field. I didn't really see much use of having two nearly identical fie

[2016-07-25 15:25] NateWr opened #1640 "Can't add discussion with no stage participants"
If not participants exist in a stage, the new discussion modal will not show any potential recipients. A message should be shown instructing them that discussions can only be initiated with participants.

(Edit - this issue description was modified in line with changes to recipient selection in https://github.com/pkp/pkp-lib/issues/1447)

[2016-07-25 16:26] asmecher commented on #1423
Hmm, I don't think any of us are particularly confident about this one. Is it crucial for OJS 2.4.8-1? (I see it's currently filed against 2.4.9 anyway.)

[2016-07-25 16:32] ubermichael commented on #1423
The initial problem came about because some (all?) of @ctgraham 's journals were failing to create deposits. It's possible the problem affects anyone else using command-line scripts for cron jobs as well.

[2016-07-25 16:46] asmecher commented on #1423
OK, that does sound worth fixing, but based on the uncertainty around the fixes here I'm against including it in 2.4.8-1.

[2016-07-25 17:47] asmecher commented on #1631
@stranack, FYI.

[2016-07-25 18:28] bozana commented on #1314
Here just a not, that this change would eventually mean a change in other parts of the system, how remote representations are handled (e.g. in public identifiers and export plugins)

[2016-07-25 21:06] asmecher commented on #1508
Merged, thanks!

[2016-07-25 21:06] #1508 closed

[2016-07-25 21:10] asmecher commented on #1453
Merged all three, thanks! Is this issue ready to be closed?

[2016-07-25 21:12] NateWr commented on #1453
I think so, yeah

On 25 Jul 2016 22:10, "Alec Smecher" <notifications@github.com> wrote:

[2016-07-25 21:21] asmecher commented on #1453
Done.

[2016-07-25 21:21] #1453 closed

[2016-07-25 21:49] stranack opened #1641 "Editor cannot add Section Editors"
Context: An author has submitted to a section that has no Section Editors assigned (see "Research" in the UI/UX installation).

Problem: When the editor tries to add an SE via the participants grid, no Section Editors are showing in the selection dropdown. Is the section dropdown looking to the section's list of assigned SEs rather than the journal's full list of SEs?

Recommendation: Some journal

[2016-07-25 21:51] stranack commented on #1641
Possibly related: When a submission is assigned to a section that has Section Editors, the editor is unable to remove any of those SEs from the participants grid. Having the flexibility to make this kind of change on a submission by submission basis would be useful.

[2016-07-25 23:00] asmecher commented on #1397
Thanks, @NateWr, that's a big one!

[2016-07-25 23:00] #1397 closed

[2016-07-26 08:36] NateWr commented on #1526
Ok I botched the submodule commits on those PRs. Here are new ones:

https://github.com/pkp/pkp-lib/pull/1642
https://github.com/pkp/ojs/pull/948
https://github.com/pkp/omp/pull/312

For some reason the tests don't seem to be getting run on OJS/OMP.

[2016-07-26 08:38] #1520 closed

[2016-07-26 09:33] NateWr commented on #1530
PR:
https://github.com/pkp/pkp-lib/pull/1643

Here's what they look like now:

![notifications](https://cloud.githubusercontent.com/assets/2306629/17132938/da4acb54-531b-11e6-90ba-ad455204e618.png)

I'd love to show more contextual data about notifications in the tasks list, structured in a way that would allow us to do some more fine-grained display. For instance, here's a look at what I'm aiming

[2016-07-26 09:49] bozana opened #1644 "galley without a file"
It is possible to create a galley without a file -- if the file upload is canceled when creating the galley. This galley will be displayed in the TOC and viewing it will lead to an empty page and an assertion failure.

[2016-07-26 10:13] NateWr commented on #1529
PR with a few small CSS tweaks:
https://github.com/pkp/pkp-lib/pull/1645

I'm going to punt the rest of this to post-3.0 unless there's any major complain.

[2016-07-26 10:24] NateWr commented on #1178
Nevermind, it looks and works great. I'll leave it as is. :+1:

[2016-07-26 10:24] #1178 closed

[2016-07-26 10:28] NateWr commented on #699
OJS uses links for the language switcher (can't remember when this was implemented). But I think the issue of propagating the language within the URL is more in your wheel house. Assigning back to you unless you'd like me to look further.

[2016-07-26 10:55] NateWr commented on #592
The following PR adds a `noindex,nofollow` meta tag when journals are not enabled:
https://github.com/pkp/pkp-lib/pull/1646

The last checkbox is still open. I went to turn that off, so it doesn't redirect to a journal that's not publicly enabled. That code is here:

https://github.com/pkp/ojs/blob/master/pages/index/IndexHandler.inc.php#L36-L46

I realized, though, that disabling this might make

[2016-07-26 10:59] NateWr opened #1647 "Notes unstyled in submission > more information"
Submissions > Active > Open Submission > More Information > Add a note to the submission.

![selection_005](https://cloud.githubusercontent.com/assets/2306629/17135580/6615786c-5328-11e6-87e6-92d28e064ffd.png)

[2016-07-26 11:39] NateWr commented on #1647
PR:
https://github.com/pkp/pkp-lib/pull/1648

New look:
![selection_006](https://cloud.githubusercontent.com/assets/2306629/17136538/eb36a02a-532d-11e6-8958-fbc54ddee0b5.png)

[2016-07-26 15:03] asmecher commented on #592
`$journalsCount` comes back from `getTargetContext` by reference. It's a weird optimization.

[2016-07-26 15:05] asmecher commented on #699
Sure, I'll take a look.

[2016-07-26 15:12] asmecher commented on #1530
I see there's CSS-based truncation (nifty fade-out), but also PHP-based `substr`. Is the latter just to shorten the mark-up, assuming that the fade-out will shorten it further? Just for my own edification.

[2016-07-26 15:13] asmecher commented on #1644
I'd suggest we remove the assertion and simply leave the empty galley present.

[2016-07-26 15:14] asmecher commented on #1529
Merged the PR; yes, that's fine, thanks.

[2016-07-26 15:14] NateWr commented on #1530
Yeah I added the latter truncation just to keep things sane for the markup.

On 26 Jul 2016 16:12, "Alec Smecher" <notifications@github.com> wrote:

[2016-07-26 15:28] asmecher commented on #1508
@NateWr, FYI, some OJS-specific language/variable names crept into pkp-lib with this PR, resulting in the OMP search form disappearing -- see https://github.com/pkp/pkp-lib/commit/1c66ddeac93a8ff60c6144e735e870685ccf7875 for a fix (committed to master).

[2016-07-27 00:57] stranack opened #1649 "Remove the announcement expiry date stamp from UI"
On both the Announcements page (just under "Read More"):
http://monographs.lib.sfu.ca/index.php/sfulibrary/announcement

and the page for the announcement:
http://monographs.lib.sfu.ca/index.php/sfulibrary/announcement/view/2

the timestamp for the announcement expiry is displayed. This should be removed in both cases.

[2016-07-27 04:04] asmecher commented on #1649
That was already removed per https://github.com/pkp/pkp-lib/issues/1390 -- the install likely needs to be updated (and the template cache flushed).

[2016-07-27 04:04] #1649 closed

[2016-07-27 16:52] asmecher commented on #1390
All the above PRs are merged.

[2016-07-27 17:33] asmecher commented on #1641
I think your second comment is related to https://github.com/pkp/pkp-lib/commit/090cf49803f5ecdb7277213351c7c648a39d6392 which was a general bug in removing stage participant assignments. That's fixed in the master branch and I've update the OJS uiux installation.

[2016-07-27 17:33] #1641 closed

[2016-07-27 18:50] asmecher commented on #1526
It looks like Travis suffered some kind of queuing outage that's since been fixed; could you re-push the PRs that need testing to run?

[2016-07-27 20:00] asmecher commented on #1631
@stranack, I've added basic support here (and checked it out on the sfulib install). Does the author have other assets to go with the HTML file, like images & CSS?

[2016-07-27 20:05] stranack commented on #1631
Yes, both images and css.

[2016-07-27 20:06] asmecher commented on #1631
Could you email me a set of these for one of the submissions?

[2016-07-27 23:26] asmecher commented on #1131
Pulls/commits:

- OJS master: https://github.com/pkp/ojs/pull/951
- OMP master: https://github.com/pkp/omp/pull/313
- pkp-lib master: https://github.com/pkp/pkp-lib/pull/1651
- customBlockManager master: https://github.com/pkp/customBlockManager/commit/3d3f663900198f4ef8a3462e57e113c816287121
- googleAnalytics master: https://github.com/pkp/googleAnalytics/commit/1523c36f62e9b57873dd830854232a4227

[2016-07-27 23:38] asmecher commented on #1131
By the way, I dropped the maximum validity of the CSRF token to 1 hour.

[2016-07-28 12:25] henkela opened #1652 "typo in PKPAppearanceForm.inc.php"
Hi,

in pkp-lib/controllers/tab/settings/appearance/form/PKPAppearanceForm.inc.php on line 327 there is a semikolon instead of a comma, which breaks the "Appearance-Modal" in Website settings:

return new LinkAction(
325                         'deleteFile-' . $settingName,
326                         new RemoteActionConfirmationModal(
327                                 **$request->getSession();*

[2016-07-28 13:44] ctgraham opened #1653 "[OJS] Native Import's articles' copyright holder does not default locale"
In OJS 2.4.x, the attribute `locale` is optional for `article`/`permissions`/`copyright_holder` in the DTD.
https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/importexport/native/native.dtd#L72-L74

Other fields happily default the article's locale for missing locale attributes.
https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/importexport/native/NativeImportDom.inc.php#L691-L693

Th

[2016-07-28 15:22] asmecher commented on #1652
Oops -- fixed, thanks for spotting it!

[2016-07-28 15:22] #1652 closed

[2016-07-28 21:10] crism opened #1654 "[OMP][OJS] in_array error in Session.inc.php"
[code]

[2016-07-29 11:49] henkela opened #1656 "pnotify missing?"
Hi,
when opening .../submission or ../manageIssues (maybe others, too) I see "File does not exist: ../lib/pkp/js/lib/pnotify/pnotify.buttons.js" (as well for pnotify.core.js) on the webserver-logs. And indeed, the folder pnotify is empty. Current install is a clone of recent ojs master branch and composer.phar update was called, too. Is pnotify used at all? Is there a entriy for submodule missing

[2016-07-29 14:46] #1654 closed

[2016-07-29 17:25] asmecher commented on #1603
I think that means this is ready to close -- let me know if not, @bozana!

[2016-07-29 17:25] #1603 closed

[2016-07-29 17:33] asmecher commented on #1656
@henkela, pnotify is installed via submodule of `lib/pkp` (itself a submodule). When you do a submodule init/update, make sure you use `--recursive`. OTOH I use:

    git submodule update --init --recursive

[2016-07-29 18:00] #1653 closed

[2016-07-29 19:07] asmecher commented on #1575
Fixed in https://github.com/pkp/pkp-lib/commit/090cf49803f5ecdb7277213351c7c648a39d6392. Thanks for reporting!

[2016-07-29 19:07] #1575 closed

[2016-07-29 19:09] asmecher commented on #1283
This got resolved in https://github.com/pkp/pkp-lib/issues/1397.

[2016-07-29 19:09] #1283 closed

[2016-07-29 19:11] stranack opened #1658 "Add Copyeditor problems"
In the copyediting stage, when I hit the Add button in the participants grid, the modal pops up as expected, all form elements work, but the OK button doesn't appear to respond. Its visible appearance changes (from unselected to selected) but the modal stays up.

When I cancel out of the modal, the selected copyeditor does not appear in the grid.

When I try add again, the originally selected copy

[2016-07-29 19:14] stranack commented on #1658
After moving to Production, the "new user added to stage" notifications all show up and the users are now in the Participants grid.

[2016-07-29 19:17] asmecher commented on #1658
I fixed a small typo that was causing PHP errors (which can cause the kind of behavior your were seeing). Fixed and cherry-picked into uiux; it should work OK now.

[2016-07-29 19:17] #1658 closed

[2016-07-29 21:19] stranack opened #1659 "Schedule for Publication modal behaviour"
When I fill in the fields for the Schedule for Publication modal and hit Save, another modal pops up, with just the title (Publication) and an OK button - no text. Hitting this OK button processes my action. Can we remove this second step?

[2016-07-29 22:26] asmecher commented on #1659
@bozana, could this be caused by some of the recent permanent identifier work?

[2016-07-30 01:00] asmecher commented on #1631
@stranack, I have an image and HTML working -- but I don't see the CSS attachment to go with it. Can you send it again?

[2016-07-30 23:24] stranack commented on #1631
I haven't made a detailed CSS file yet - was waiting until the HTML was ready. Here's a simple one to work with, though:

https://dl.dropboxusercontent.com/u/9529729/psm.css

[2016-08-01 07:12] bozana commented on #1659
Ah, yes, for sure, because then the modal for pub id assignment should be displayed, but maybe I haven't considered the case if there are no pub ids or something like that.... I will take a look. Sorry! :-\

[2016-08-01 09:12] henkela commented on #1656
@asmecher, weird thing is that that's not working for my fork... probably I messed it up somehow...

[2016-08-01 09:12] #1656 closed

[2016-08-01 18:19] NateWr commented on #592
Assigning to 3.0.1 milestone as the main issues are resolved.

[2016-08-01 18:23] NateWr commented on #1508
thanks!

[2016-08-02 04:33] asmecher commented on #1131
(@NateWr, I think github inadvertently closed this with your commit. I'm never sure why/when it does this. Reopening.)

[2016-08-02 07:58] NateWr commented on #1526
I re-pushed the PRs. It looks like OMP passed but OJS is failing on the `pgsql` test:

https://travis-ci.org/pkp/ojs/jobs/148961049#L909

That seems to be failing on test code that's shared between OMP and OJS:

https://github.com/pkp/pkp-lib/blob/master/tests/PKPContentBaseTestCase.inc.php#L118

Should I just try to re-push the OJS PR again to see if it was a fluke?

[2016-08-02 08:09] NateWr commented on #1636
OJS PR for running tests:
https://github.com/pkp/ojs/pull/954

[2016-08-02 15:23] asmecher commented on #1526
Looks like a fluke; I restarted the job to see if it passes this time.

[2016-08-02 15:26] asmecher commented on #1530
Thanks, @NateWr. Does the styling need to be ported over to OMP master as well?

[2016-08-02 15:38] asmecher commented on #1659
Merged -- thanks, @bozana!

[2016-08-02 15:38] #1659 closed

[2016-08-02 15:43] NateWr commented on #1530
All of the styles were in `pkp-lib` so should be good to go once the submodule gets updated for OMP.

[2016-08-02 19:17] asmecher commented on #1526
Hmm, it looks like the submodule is gone. Did you update it again or something?

[2016-08-02 22:02] asmecher commented on #1530
OK, thanks! Will do.

[2016-08-02 22:02] #1530 closed

[2016-08-03 12:07] NateWr commented on #1526
I'm not sure what you mean. I see the submodule commit in the OJS and OMP PRs...

[2016-08-03 16:08] NateWr commented on #661
Superceded by #1390

[2016-08-03 16:08] #661 closed

[2016-08-03 16:10] asmecher commented on #1526
I mean after restarting the job I got...

    Unable to checkout '29f6ed64e66b92e18c8f93a47d45c5e3fe18f24a' in submodule path 'lib/pkp'

...suggesting that the lib/pkp submodule got updated again and the old hash doesn't exist anymore.

[2016-08-03 16:12] NateWr commented on #639
I've had a look through and everything important is covered in other issues. Closing.

[2016-08-03 16:12] #639 closed

[2016-08-04 00:16] stranack opened #1660 "Customizable Reviewer Recommendations"
**Describe the problem you would like to solve**
Reviewers are presented with a list of recommendations they can choose from, such as accept, decline, request revisions, etc. This list is not appropriate for all journals. Some would like to change the list to reflect their review practices.

**Describe the solution you'd like**
Somewhere in the settings where review recommendations can be added, e

[2016-08-04 00:19] stranack opened #1661 "Automatically Thank Reviewers"
When a reviewer submits her recommendation, have the system automatically send a "thank you" email (similar to how authors are automatically thanked after submitting).

[2016-08-04 00:23] stranack opened #1662 "More Detailed Stage Status"
Currently when viewing the dashboard, submissions have a stage status: Submission, Review, Copyediting, Production. Can we investigate having a finer level of detail?

For example, Submission: Awaiting Assignment; Review: Awaiting Reviews; Review: Awaiting Revisions; Copyediting: Awaiting Copyedits, etc.

[2016-08-04 01:52] stranack opened #1663 "Remove Author Names/Reviewer Names from Filenames"
Currently, uploaded filenames automatically include the name of the user. This is generally useful, except for authors and reviewers during the review process, as it undermines the double blind process.

Can we ensure that author names and reviewer names are not included in filenames?

[2016-08-04 04:17] alireza08 opened #1664 "[OJS] logged-in users should not be able to access the registration form"
Currently, OJS users are able to enter the registration form and register a new user while already logged-in.

[2016-08-04 05:43] asmecher commented on #1664
@alireza08, what version of OJS are you using?

[2016-08-04 09:01] bozana opened #1665 "object for review cover images adaptable to the window size"
S. http://forum.pkp.sfu.ca/t/objects-for-review-problem-with-cover-pic/17200

[2016-08-04 09:07] alireza08 commented on #1664
@asmecher , OJS 2.4.6

[2016-08-04 13:26] NateWr commented on #1536
This turned into quite a large project. The broken upload controls were caused by duplicate element ids in the forms, which prevented the `plupload` control from aligning the upload control buttons properly.

To fix this, I had to make some changes to upload handler. In the process, I did a lot of refactoring. I'm not happy with the UX flow for cover images, but to improve this I'd need to do rewr

[2016-08-04 14:06] NateWr commented on #1526
Oh, yeah that sounds like it could have happened. :) I've refreshed both PRs and tests are running.

[2016-08-04 14:13] ctgraham commented on #1664
I reproduced the buggy behavior in 2.4.8.

[2016-08-04 14:33] NateWr commented on #1526
Ok, the OJS test failed at the same place. But this time it failed on the `mysql` test, not the `pgsql`.

https://travis-ci.org/pkp/ojs/jobs/149767252#L899

[2016-08-04 14:52] NateWr opened #1667 "[OJS] Implementing search in OJS 3"
The search page in OJS 3 needs two things done in time for release.

First, the search doesn't seem to work consistently. For instance, I have published articles by two authors, June T Forcht and Karen Bauman. A search for "Forcht" returns the correct article. A search for "Bauman" returns nothing. Also, although I have an article titled "Data Modelling ...", a search for "Modelling" doesn't retur

[2016-08-04 15:21] asmecher commented on #1665
M

[2016-08-04 15:21] #1665 closed

[2016-08-04 15:23] asmecher commented on #903
This should already be resolved!

[2016-08-04 15:23] #903 closed

[2016-08-04 15:23] asmecher commented on #678
This should be resolved.

[2016-08-04 15:23] #678 closed

[2016-08-04 15:24] asmecher commented on #659
The remaining issue was covered by Bozana's pub IDs rewrite. Closing.

[2016-08-04 15:24] #659 closed

[2016-08-04 15:24] asmecher commented on #604
@NateWr, could you give this a look over to see what's still relevant?

[2016-08-04 15:25] asmecher commented on #602
@NateWr, likewise, could you look this one over?

[2016-08-04 15:25] asmecher commented on #601
Likewise, have a look to see what's current, @NateWr?

[2016-08-04 15:35] asmecher commented on #1536
Sounds good, @NateWr, and agreed with e.g. removing the localization of these images. We may have requests to re-add it later, but overall it's been a confusing feature. @bozana, all yours!

[2016-08-04 16:14] bozana opened #1668 "better integration of the pub ids into the workflow"
a) add assignment grid for sub-objects of an article and an issue -- allow assignment, correction, deposit of pub ids

[2016-08-04 21:37] bozana opened #1669 "getId and getFileId for SubmissionFiles"
check if getId (as for all other objects) can be used instead of getFileId

[2016-08-04 21:48] bozana opened #1670 "Acron and export plugins"
Test if the acron plugin works with export plugins scheduled tasks in OJS 3.0 -- it seems there are some problems...

[2016-08-04 21:55] asmecher commented on #1602
Phew! Again, a lot of work. I've skimmed it at a fairly high level and it looks good. Merged, thanks!

[2016-08-04 21:55] #1602 closed

[2016-08-04 21:57] bozana commented on #1602
Thanks @asmecher!

[2016-08-05 03:44] asmecher commented on #1636
Merged, thanks!

[2016-08-05 03:44] #1636 closed

[2016-08-05 09:49] NateWr commented on #602
The remaining issues are things that would need to be sorted in a broader refactor of the FBV. Closing.

[2016-08-05 09:49] #602 closed

[2016-08-05 09:58] NateWr opened #1671 "Ordering grids can not be done with a keyboard"
Some grids allow re-ordering of the elements. This re-ordering requires drag and drop with no fallback operation for keyboard controls.

[2016-08-05 09:59] NateWr commented on #601
Only one outstanding issue related to keyboard accessibility. I filed a separate issue pegged to OJS 3.0.1 for that. Closing.

[2016-08-05 09:59] #601 closed

[2016-08-05 10:06] NateWr commented on #604
Obsolete. Closing.

[2016-08-05 10:06] #604 closed

[2016-08-05 10:10] NateWr commented on #605
Re-assigning this to OJS 3.0.1.

[2016-08-05 10:15] NateWr opened #1672 "Restore default components doesn't change existing components"
Settings > Workflow > Components only re-adds missing default components.

To test:
1. Create a new component.
2. Edit the name of an existing component.
3. Click "Restore defaults".

A new component is created with the original name of the component that was renamed. But the renamed component and the custom component are still there.

Typically, when I see "restore defaults", I think of this like

[2016-08-05 10:19] NateWr opened #1673 "[OJS] Add announcement modal does not load"
Settings > Website > Announcements > Add Announcement. The modal ajax call leads to a 500 error and the following error appears in my apache error log:

[code]

[2016-08-05 10:22] NateWr opened #1674 "[OJS] Missing locale key"
Submissions > Delete any submission. A flying notification appears referencing the `notification.removedSubmission` which doesn't exist.

[2016-08-05 10:25] NateWr opened #1675 "Flying notification positioning"
Should be 32px off the edges so it doesn't cover top nav area.

[2016-08-05 10:33] NateWr commented on #603
I've updated the status for several things. The remaining bits are very low priority. I'll move to OJS 3.0.1, but we may want to consider which of the remaining issues we want to spin off for later.

[2016-08-05 10:35] NateWr commented on #660
Site-wide journal logo works now. And the alternate header option has been removed. Closing.

[2016-08-05 10:35] #660 closed

[2016-08-05 10:45] NateWr commented on #1674
PR:
https://github.com/pkp/pkp-lib/pull/1677

[2016-08-05 10:51] NateWr opened #1678 "[OJS] Journal Editor can not delete submissions in Active submissions list"

[2016-08-05 10:53] NateWr commented on #1678
PR:
https://github.com/pkp/pkp-lib/pull/1679

[2016-08-05 11:02] NateWr commented on #1675
PR:
https://github.com/pkp/pkp-lib/pull/1680

[2016-08-05 13:15] NateWr commented on #1647
PR with a few more style adjustments:
https://github.com/pkp/pkp-lib/pull/1681

[2016-08-05 13:20] NateWr commented on #1488
Extra space in OJS galley grid:
![extra-space-omp](https://cloud.githubusercontent.com/assets/2306629/17437798/b33b7000-5b17-11e6-9067-cb892984a8a9.png)

[2016-08-05 13:46] NateWr commented on #1488
@asmecher or anyone: should the metadata be shown to a reviewer when they are previewing the article (before accepting the review request)?

![selection_017](https://cloud.githubusercontent.com/assets/2306629/17438555/51a8e30a-5b1b-11e6-8839-aef6985ae952.png)

[2016-08-05 15:20] asmecher commented on #1673
Fixed.

[2016-08-05 15:20] #1673 closed

[2016-08-05 15:23] asmecher commented on #1674
Merged, thanks!

[2016-08-05 15:23] #1674 closed

[2016-08-05 15:24] asmecher commented on #1678
Good stuff!

[2016-08-05 15:24] #1678 closed

[2016-08-05 15:25] asmecher commented on #1675
Thanks, this is an annoyance I hadn't gotten around to filing.

[2016-08-05 15:25] #1675 closed

[2016-08-05 15:26] asmecher commented on #1647
Merged, thanks -- I think that makes this ready to close again.

[2016-08-05 15:26] #1647 closed

[2016-08-05 15:51] NateWr opened #1682 "Problems with tasks created when requesting revisions"
Requesting revisions creates two nearly identical tasks for the author.

![selection_018](https://cloud.githubusercontent.com/assets/2306629/17442192/86216dda-5b2c-11e6-91e8-c7eb0daf2277.png)

Also, when an author uploads revisions, there is no task created to notify the editor. An author may upload multiple revision files. I'd recommend when a revision file is uploaded, we should check if a task

[2016-08-05 17:06] asmecher commented on #1526
Restarted again -- sounds like a glitch (race condition?), though I'm a little anxious about two hits in a row.

[2016-08-05 18:07] bozana commented on #1536
@NateWr, I am just testing it locally. See how the cover image area looks for me, after I uploaded an issue image:
![issuecoverimage](https://cloud.githubusercontent.com/assets/378421/17446153/36f23bb0-5b48-11e6-8f29-cf56c5578bf9.png)
Is this correct so? Or is something wrong with my image? :-)

[2016-08-05 18:13] bozana commented on #1536
@NateWr, I don't know where to put these comments:
- the link for the cover image at the journal start page is wrong, the 'issue' page is missing in the URL

[2016-08-05 18:23] bozana commented on #1536
this is how my strange article with lots of galleys and a cover image looks like in the TOC, ok so?
![articlecoverimage](https://cloud.githubusercontent.com/assets/378421/17446618/5cff4300-5b4a-11e6-8010-4b6ad850f95b.png)

[2016-08-05 18:41] asmecher commented on #1526
Passed this time. I don't think the failures were your fault, @NateWr -- we'll have to see whether it's a common issue going forward. Merged!

[2016-08-05 18:41] #1526 closed

[2016-08-05 18:45] bozana commented on #1536
Some do like to put the cover image description (e.g. the license information) below to it, s. for example:
https://www.querelles-net.de/index.php/qn/issue/view/17-2
http://www.fkw-journal.de/index.php/fkw/issue/view/72
Shall we support that in 3.0? On the other side, on the archive page they were also not displayed....

[2016-08-05 20:27] asmecher commented on #1667
Agree with your recommended approach, @NateWr. I'll also be considering whether we should simplify the search code in favour of making it very simple, with external tools e.g. Lucene/SOLR as our recommendations for anything beyond that.

[2016-08-05 20:29] asmecher commented on #1621
@mfelczak, do you mean the open PRs (https://github.com/pkp/ojs/pull/935 and https://github.com/pkp/ojs/pull/934/files) are good to go, or they should not be merged?

[2016-08-05 21:07] asmecher commented on #1667
Does running `tools/rebuildSearchIndex.php` and flushing your data cache (`rm -rf cache/_db/*`) solve the search inconsistency? If so, then we're probably missing a call to re-index a submission upon some kind of publication event.

[2016-08-05 21:08] asmecher commented on #1131
@bozana, have you had a chance to look over my overall approach here?

[2016-08-05 21:14] asmecher commented on #699
Hmm. I don't like constructs that only show up for search engines, e.g. via user agents. So we're left with adding the language to system URLs in the general case, which I'm hesitant to impose on single-language journals; adding this as an optional mode could provide flexibility for both types of users, but switching between them might be catastrophic as all URLs would change. We could potentially

[2016-08-05 21:34] asmecher commented on #1488
@NateWr, regarding https://github.com/pkp/pkp-lib/issues/1488#issuecomment-237854334 -- yes, that's fine, as long as the author information is not included for reviews that aren't open.

[2016-08-05 21:47] asmecher opened #1683 "Implement OJS 2.4.x to 3.0 upgrade"

[2016-08-05 21:47] asmecher commented on #1683
- [ ] Map old article/downloadSuppFile URLs to new ones (from https://github.com/pkp/pkp-lib/issues/1541)

[2016-08-05 21:48] asmecher commented on #1541
Moved suppFile issue to https://github.com/pkp/pkp-lib/issues/1683.

[2016-08-05 21:48] #1541 closed

[2016-08-06 09:26] NateWr commented on #1390
Style adjustments needed for journals without a thumb on the site index.

![selection_021](https://cloud.githubusercontent.com/assets/2306629/17455972/3406617e-5bc0-11e6-921d-9e6b9c722e0a.png)

[2016-08-06 10:37] NateWr opened #1684 "Deleting section editor from participants grid can cause a section editor to be deleted"
Here's a weird one. To reproduce from demo data:

1. Open a submission in review stage (eg - Montgomerie, et al).
2. David Buskins should be assigned as section editor. Stephanie Berardo may be assigned as well. If not, assign her as an additional section editor.
3. Assign Minoti Inoue as an additional section editor. You should have three section editors with Minoti last.
4. Click the "Remove" li

[2016-08-06 11:20] NateWr commented on #1488
PRs:
https://github.com/pkp/pkp-lib/pull/1685
https://github.com/pkp/omp/pull/316
https://github.com/pkp/ojs/pull/961

Once these PRs are in, this issue can be reassigned to 3.0.1.

[2016-08-06 12:48] NateWr opened #1686 "Improvements to information center"
A couple of small improvements to come out of the user testing.

- [x] Fix ##submission.event.participantAdded## in Editorial History
- [x] Could History be the default tab rather than Notes? It is a better match for what is expected from the link label

[2016-08-06 12:53] NateWr commented on #1686
PR:
https://github.com/pkp/pkp-lib/pull/1687

[2016-08-06 13:40] NateWr commented on #594
PR:
https://github.com/pkp/pkp-lib/pull/1688

![selection_023](https://cloud.githubusercontent.com/assets/2306629/17457052/a27a9328-5be3-11e6-843c-d338c17058c7.png)

[2016-08-06 14:30] NateWr commented on #1536
Thanks for the awesome code review! Very helpful. I think I've addressed everything you raised. Just one thing I couldn't reproduce that remains to be fixed.

Re: https://github.com/pkp/pkp-lib/issues/1536#issuecomment-237921642
I'm unable to reproduce that issue with the cover image breaking out of the modal. What browser and version are you using? Did you flush the CSS cache?

Re: https://github

[2016-08-08 08:05] NateWr commented on #1411
PR:
https://github.com/pkp/pkp-lib/pull/1689

[2016-08-08 08:28] NateWr commented on #1667
Yes, `tools/rebuildSearchIndex.php` has definitely improved things. Perhaps it's because the search index hasn't been run for articles in the test data set?

I'm having trouble getting it to return more than one result. "review" is in the title of two articles but only one is returned. Just noting this for later investigation.

[2016-08-08 09:57] bozana opened #1690 "DOAJ language export"
The article language field is used for the langauge element in DOAJ XML. There could be more then one languages entered and separated with the ";" which is not considered in the XML export, s. https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/importexport/doaj/classes/DOAJExportDom.inc.php#L97.
Either this should be considered there or the article locale should be the one to base on, like e

[2016-08-08 10:27] bozana commented on #1536
Hmmm... Yes, I deleted the CSS cache... I use Iceweasel 38.8.0 :-) So maybe not quite the representative... :-)

[2016-08-08 10:31] bozana commented on #1131
Sorry @asmecher, not in Detail, but I will today or tomorrow, OK?

[2016-08-08 11:55] bozana opened #1691 "dc:rights via OAI"
Update the dc:rights code in the OAI for OJS 3.0
Also do not consider/display empty elements.

[2016-08-08 12:01] bozana opened #1692 "Public identifiers for chapters"
Implement the public identifiers for chapters in OMP

[2016-08-08 12:02] bozana opened #1693 "Public identifiers in OAI"
Consider pub ids in the OAI in OMP

[2016-08-08 13:33] bozana opened #1694 "move chapterId to SubmissionFile"
Move the function chapterId to the parent class SubmissionFile -- also SupplementaryFile can be assigned to a chapter, thus all file classes should contain this function, thus it is good to put it in the parent class.
Although this is OMP specific i.e. the OMP specific code will be in the pkp-lib (but it was already there), this is a preferred change because it will reduce the code.
The following

[2016-08-08 15:32] NateWr opened #1696 "[OJS] Setting an empty section causes a submission to disappear"
In as submission's metadata you can set the Section to empty and then save the metadata form. Doing this causes the submission to disappear from the Active/Archive list. And attempting to reach it by ID leads to an invalid submission error.

[2016-08-08 15:37] asmecher commented on #1696
OMP should be able to permit empty series (=section), but OJS should not.

[2016-08-08 15:40] asmecher commented on #1694
PRs:

- https://github.com/pkp/pkp-lib/pull/1695
- https://github.com/pkp/omp/pull/317

There's no PR required for OJS, right, @bozana?

[2016-08-08 15:41] asmecher commented on #1691
Merged https://github.com/pkp/ojs/issues/964, thanks -- does this mean the issue is ready to be closed?

[2016-08-08 15:42] asmecher commented on #1644
Merged, thanks! I think that means this can be closed.

[2016-08-08 15:42] #1644 closed

[2016-08-08 15:44] asmecher commented on #1131
Sure, thanks! I'm just never sure when these notifications get through.

[2016-08-08 15:45] asmecher commented on #1667
The index should be self-maintaining (indexing required content upon publication events), and strictly speaking, it shouldn't be necessary to run the `rebuildSearchIndex.php` tool. Sounds like that's not the case. Noted!

[2016-08-08 15:46] asmecher commented on #1690
I replied to the forum thread -- yes, I think using the article locale is a better idea. The language field is not machine-readable and in my opinion it should eventually be removed, once we figure out e.g. how to permit article languages that aren't supported UI languages in OJS.

[2016-08-08 15:51] asmecher commented on #1686
Merged -- closing!

[2016-08-08 15:53] asmecher commented on #594
Merged, thanks. I think you're OK in this case, but when using `anyhtml`, I'm extra careful to wrap user-supplied text in `htmlspecialchars` when building cell contents.

[2016-08-08 15:53] asmecher commented on #594
Closing!

[2016-08-08 15:53] #594 closed

[2016-08-08 15:59] bozana commented on #1694
Yes, no PR required for OJS :-)

[2016-08-08 16:00] bozana commented on #1691
Yes, closing... .-)

[2016-08-08 16:00] #1691 closed

[2016-08-08 17:06] asmecher commented on #1694
Both merged! Yup, the huge amount of removed code demonstrates that this was the right approach, I think, despite the fact that an OMP concern is somewhat moved into pkp-lib. Thanks, @bozana!

[2016-08-08 17:06] #1694 closed

[2016-08-08 17:18] NateWr commented on #1686
PR:
https://github.com/pkp/pkp-lib/pull/1697

This should fix the JS linting error.

[2016-08-08 17:21] asmecher commented on #1686
You'll need to remove the `var` further down, and there's still..

    Compile (Check)...
	/tmp/tmp.XqcIRIiHcM/lib/pkp/js/controllers/UploaderHandler.js:84: WARNING - Property id never defined on $.pkp.controllers.UploaderHandler.pluploader
	  var pluploaderId = this.pluploader.id;

[2016-08-08 17:23] asmecher commented on #1684
Hmm, I also saw this happen. Will take a look.

[2016-08-08 18:10] asmecher commented on #1684
Fixed, thanks!

[2016-08-08 18:10] #1684 closed

[2016-08-08 18:15] asmecher commented on #1440
Is this issue covered by https://github.com/pkp/pkp-lib/issues/1536?

[2016-08-08 19:35] asmecher commented on #1488
The OJS and OMP PRs report test failures on JS linting. Sorry, @NateWr, this is your Monday albatross :)

[2016-08-08 20:59] jalperin commented on #1683
adding @fabiobatalha from SciELO so he gets notifications (but not sure if this works for people outside the pkp team)

[2016-08-08 21:32] stranack opened #1698 "Review/Revise Email Templates"
Some email template messages may require updating before the release. A systematic review of all is needed to determine which ones need attention.

[2016-08-08 21:35] stranack opened #1699 "Add a banner notification - “Awaiting Reviews”"
In the Review stage, after an editor has assigned reviewers, there should be a banner notification - “Awaiting Reviews”. This banner should stay active until all assigned reviewers have responded.

[2016-08-08 21:36] stranack opened #1700 "Add a banner notification - “Awaiting Author Revisions”"
In the Review stage, after an editor has asked the author to submit revisions, there should be a banner notification - “Awaiting Author Revisions”. This banner should stay active until the editor accepts the revisions.

[2016-08-08 21:38] stranack opened #1701 "Add a banner notification - “Assign Reviewers”"
In the Review stage, after an editor has been assigned, there should be a banner notification - “Assign Reviewers”. This banner should stay active until at least one reviewer has been assigned.

[2016-08-08 21:40] mtub commented on #1698
depending on how severe the updates are, this might affect translations... (as do any other last minute locale updates…)

[2016-08-08 21:42] stranack opened #1702 "Add a banner notification ("Assign a copyeditor using the Add link in the Participants list")"
In the Copyediting stage, immediately after an editor has moved the submission to copyediting, there should be a banner notification - “Assign a copyeditor using the Add link in the Participants list”. Should the Add text be a link? This banner should stay active until at least one copyeditor has been assigned.

[2016-08-08 21:44] stranack opened #1703 "Add a banner notification ("Awaiting copyedits")"
In the Copyediting stage, after an editor has assigned a copyeditor, there should be a banner notification - “Awaiting Copyedits”. This banner should stay active until the copyeditor has responded.

[2016-08-08 21:46] stranack opened #1704 "Add a banner notification ("Assign a user to create galleys using the Add link in the Participants list")"
In the Production stage, immediately after an editor has sent a submission to Production, there should be a banner notification - "Assign a user to create galleys using the Add link in the Participants list". Should the Add text be linked? This banner should stay active until the assigned user has responded.

[2016-08-08 21:47] stranack opened #1705 "Add a banner notification ("Awaiting galleys")"
In the Production stage, after an editor has assigned a user to create the galley files, there should be a banner notification - “Awaiting Galleys”. This banner should stay active the assigned user has responded.

[2016-08-09 11:05] bozana opened #1707 "add supplementary file support for the native import and export"
Consider SupplementaryFile in the native import and export for OJS and OMP
OJS PR: https://github.com/pkp/ojs/pull/965
OMP PR: https://github.com/pkp/omp/pull/318

[2016-08-09 11:11] #1263 closed

[2016-08-09 11:54] cjuergen opened #1708 "[OJS] Site administration edit site settings labels not fully displayed if site got a title image"
This is a trivial mostly cosmetic bug.
Adding a logo to the site (not journal site) has side effects on the form displayed when changing site settings.
The texts might not be fully displayed as the logo determines the size of the table they are in.

![website-sitesetting-headerlogo-lines](https://cloud.githubusercontent.com/assets/1050448/17515281/b7feb1ec-5e37-11e6-814b-7f7074b9dbcd.png)

Tested

[2016-08-09 12:55] bozana opened #1709 "Native Import Issues for OJS and OMP"
- [x] a) If there was an import error the submission is still partly imported. If an error occurs, remove already processed/imported submissions and issues. Sections will not be removed.
- [x] b1) Consider source files -- At the moment they seem to be ignored i.e. the inserted source_file_id and source_revision is always = null.
- [x] b2) Different revisions of a file are inserted with different f

[2016-08-09 12:55] bozana commented on #1295
I will close this issue and open a new one -- to consider some time in the future: https://github.com/pkp/pkp-lib/issues/1709

[2016-08-09 12:56] #1295 closed

[2016-08-09 12:57] bozana commented on #1709
@asmecher, do you think some of those issues should be addressed for OJS 3.0?

[2016-08-09 14:31] asmecher opened #1710 "Banner notifications"
- [x] a) In the Review stage, after an editor has assigned reviewers, there should be a banner notification - “Awaiting Reviews”. This banner should stay active until all assigned reviewers have responded.
- [x] b) In the Review stage, after an editor has asked the author to submit revisions, there should be a banner notification - “Awaiting Author Revisions”. This banner should stay active until

[2016-08-09 14:31] asmecher commented on #1699
Moved to https://github.com/pkp/pkp-lib/issues/1710

[2016-08-09 14:31] #1699 closed

[2016-08-09 14:31] asmecher commented on #1700
Moved to https://github.com/pkp/pkp-lib/issues/1710

[2016-08-09 14:31] #1700 closed

[2016-08-09 14:31] asmecher commented on #1701
Moved to https://github.com/pkp/pkp-lib/issues/1710

[2016-08-09 14:31] #1701 closed

[2016-08-09 14:31] asmecher commented on #1702
Moved to https://github.com/pkp/pkp-lib/issues/1710

[2016-08-09 14:31] #1702 closed

[2016-08-09 14:31] asmecher commented on #1703
Moved to https://github.com/pkp/pkp-lib/issues/1710

[2016-08-09 14:31] #1703 closed

[2016-08-09 14:31] asmecher commented on #1704
Moved to https://github.com/pkp/pkp-lib/issues/1710

[2016-08-09 14:31] #1704 closed

[2016-08-09 14:32] asmecher commented on #1705
Moved to https://github.com/pkp/pkp-lib/issues/1710

[2016-08-09 14:32] #1705 closed

[2016-08-09 14:32] asmecher commented on #1710
@stranack, I've migrated the various notification issues here to keep them organized.

[2016-08-09 14:33] asmecher commented on #1698
@stranack, what's the likelihood that you can take a spin through these within the next week? (0% is an acceptable answer)

[2016-08-09 15:01] asmecher commented on #1707
Don't forget to assign this to a reviewer per the rota document :)

[2016-08-09 15:02] asmecher commented on #1709
I think we can leave these for 3.0.1, but if we get spare time before the release (ha!) it might be a worthy addition to consider.

[2016-08-09 15:04] bozana commented on #1707
hihihihi I've forgotten :-\
@NateWr, could you please review this PRs?

[2016-08-09 16:02] bozana commented on #1347
@asmecher, here the last PRs in this issue:
OJS PR: https://github.com/pkp/ojs/pull/966
OMP PR: https://github.com/pkp/omp/pull/319
THANKS!!!

[2016-08-10 10:24] bozana commented on #1683
@asmecher, may I put a note regarding the supp files and pub ids here? -- I believe this should be considered for the migration: till now the supp files could have a pub id (public URL, DOI, URN) and now there is no model for that?

[2016-08-10 11:41] NateWr commented on #1440
Yep!

[2016-08-10 11:41] #1440 closed

[2016-08-10 11:43] NateWr commented on #1536
@asmecher I'm getting an JS linting error:

[code]

`this.pluploader` stores the `plupload` instance:

[code]

Obviously we're not going to define every function of the uploader. How am I meant to handle this warning?

https://travis-ci.org/pkp/ojs/jobs/151169768#L844

[2016-08-10 11:48] NateWr commented on #1536
@bozana I've updated the PRs to address your latest [comments](https://github.com/pkp/ojs/pull/959#issuecomment-238203062). The image layout issue in IceWeasel has me a bit stumped. As far as I'm aware, IceWeasel should be a pretty light fork of Firefox to handle licensing issues. I imagine the rendering engines won't have been changed, but I can't reproduce it in my FireFox. I'm hoping this is ju

[2016-08-10 11:56] NateWr commented on #1686
This is now crossing over into the same linting errors I'm having here:

https://github.com/pkp/pkp-lib/issues/1536#issuecomment-238842437

I'm going to close this and figure out the linting issues in the other issue.

[2016-08-10 11:56] #1686 closed

[2016-08-10 13:08] NateWr commented on #1707
@bozana I must admit I'm not really familiar with the XML import/export tools. I've had a look at the code and left a few minor comments.

I checked out the `ojs` PR and tried to export a submission that I knew had a supplementary file. I got a fatal error. Here's my apache error log for that request:

[code]

It seems that `$submissionFile->getUploaderUserId()` is not returning an ID. Any idea wh

[2016-08-10 13:37] NateWr commented on #1488
@asmecher Do you understand what it's complaining about?

https://travis-ci.org/pkp/ojs/jobs/150255230#L880

As far as I can tell, `if (options.peerReviewUrl !== null)` does not use the the options object any differently than any of the other handlers which aren't throwing linting errors:

https://github.com/pkp/pkp-lib/blob/master/js/classes/features/GeneralPagingFeature.js#L26
https://github.com

[2016-08-10 13:43] NateWr commented on #1411
The linting errors are being worked out in https://github.com/pkp/pkp-lib/issues/1536#issuecomment-238842437. Closing this issue.

[2016-08-10 13:43] #1411 closed

[2016-08-10 15:08] bozana commented on #1707
@NateWr, hmmm... I have to admit that I don't know what those log file messages mean, what could it be... Else, for import/export to work properly, the appropriate filters and filter groups have to be in the database. Because they were changed during the time and because there is no upgrade script for them, I had to correct them manually in my database. (I will soon try to write the upgrade script

[2016-08-10 15:13] bozana opened #1713 "consider remote galleys and pub ids in native import and export"

[2016-08-10 15:50] asmecher commented on #1536
@NateWr, there doesn't seem to be a single consistent JS ecosystem for sharing externs, so we've got a cobbled-together set of basic definitions in `lib/pkp/tools/closure-externs.js`; you'll need to add this there.

[2016-08-10 16:01] asmecher commented on #1488
Who knows what evil lurks in the heart of Google Closure Compiler?

In some cases it complains about insufficiently defined objects -- rightly so, IMO, since otherwise `Object` would just be a catch-all for doing whatever you want. You can describe types a little further in-line like this: https://github.com/pkp/pkp-lib/blob/master/js/classes/features/OrderItemsFeature.js#L227

[2016-08-10 16:02] NateWr opened #1714 "Remove final step in file upload wizard"
The last step is not needed. It just presents a button to add another file. This button should be added to the second step.

I made a start on this but realised it would require writing some new handling logic to ensure the original file's metadata is saved before restarting the wizard. Filing this for post-3.0. Here's a diff of the first attempt:

https://gist.github.com/NateWr/c9d031713a94ed22aa

[2016-08-10 16:32] NateWr opened #1715 "[OMP] Can't register because no role selection is available"
With current OMP `master`, it doesn't appear to be possible to register a user account because no role selection is available and the form fails with a no role selected error.

I believe this is related to changes in the login process in `pkp-lib` for OJS which must have not been fully accounted for in OMP.

[2016-08-10 16:40] asmecher commented on #1715
@NateWr, do any of the roles (External Reviewer, Reader, Author) permit self-registration? Watch for the checkbox when editing roles. There are several that are configured by default to permit self-registration, but if you created your DB before that feature was added (quite a while ago), those defaults might not be present in your DB.

[2016-08-10 16:42] NateWr commented on #1528
I've implemented several of the key parts of this issue. When these PRs are merged this can be reassigned to OJS 3.0.1.

PRs:
https://github.com/pkp/pkp-lib/pull/1716
https://github.com/pkp/ojs/pull/968
https://github.com/pkp/omp/pull/320

[2016-08-10 16:43] NateWr opened #1717 "Create a block plugin to display a submissions button"

[2016-08-10 16:48] NateWr commented on #1715
Yeah both Author and External Reviewer allow self-registration in my install...

[2016-08-10 16:50] asmecher commented on #1715
Hmm. What recent changes do you think might be responsible? (I haven't looked into this yet, just hoping to get detail captured.)

[2016-08-10 16:50] asmecher commented on #1528
Don't forget to assign to a reviewer per the rota :)

[2016-08-10 16:52] NateWr commented on #1715
I couldn't find it in a quick look but I did do a lot of work on the registration form a while back, to streamline the signup process. I thought I got all of it going in OMP.

[2016-08-10 16:53] NateWr commented on #1528
Just waiting on the tests to fail. :)

[2016-08-10 16:53] asmecher commented on #1347
Both merged, thanks, @bozana! Is this ready to be closed?

[2016-08-10 16:58] NateWr commented on #1528
Um... apparently the tests can't find the logout link now?

https://travis-ci.org/pkp/omp/jobs/151269634#L834
https://travis-ci.org/pkp/omp/jobs/151269633#L829

[2016-08-10 17:05] asmecher commented on #1528
When the registration page finishes, the user has a session but it isn't associated with their user ID. Hence, when generating a page, no "Log Out" link. The redirect that used to be there at the end of registration would cause a full page reload, and on that page "Log Out" would be present.

[2016-08-10 17:06] asmecher commented on #1715
OK, gotcha -- feel free to leave this filed for now (which I think is probably your plan :)

[2016-08-10 21:06] #1347 closed

[2016-08-10 23:50] asmecher opened #1718 "Consider "Objects for Review" plugin for forward porting"
Consider forward-porting it to support OJS 3.x.

[2016-08-10 23:50] asmecher commented on #1718
Also a couple of quick suggestions from the forum: http://forum.pkp.sfu.ca/t/two-suggested-changes-to-objects-for-review/17765

[2016-08-11 09:24] NateWr commented on #1707
@bozana I tried to do it with a new submission and still got the following errors.

[code]

Is a new submission enough to get the appropriate filters and filter groups? Or do I need a fresh journal? Or a fresh installation of OJS?

[2016-08-11 10:09] NateWr commented on #1528
Hmm, the OJS tests seemed to pass:

https://travis-ci.org/pkp/ojs/builds/151269668

I wonder if the logout issue is unique to OMP because of https://github.com/pkp/pkp-lib/issues/1715.

[2016-08-11 10:22] NateWr commented on #1536
Ok, the JS linting tests are passing now. It's just this weird test failure with the "Settings Wizard"...

[2016-08-11 10:45] bozana commented on #1713
@asmecher, what exactly mean the "advice" attribute? -- At the moment all id elements have advice=ignore. The internal ids are ignored, but the publisher-id and doi/urn are stored (although advice=ignore). Is this behavior correct?
For some reason the doi/urn are not stored, because the lib/pkp/classes/plugins/PKPPubIdPlugin.inc.php registration for the hook getAdditionalFieldNames is not called :

[2016-08-11 10:56] bozana commented on #1707
@NateWr, you will need to do the tools/upgrade.php upgrade (this will add the new filter for supp files and correct some others), but then I believe you will also have to manually check the filters and filter_groups in the DB, because the old wrong ones are probably still there :-( I will try to make a screenshot of the filters you would need...

[2016-08-11 11:14] bozana commented on #1707
here the screenshots:
filter_groups:
![nativefiltergroups](https://cloud.githubusercontent.com/assets/378421/17586965/5c8019d4-5fc5-11e6-8752-fecfa834acfb.png)

filters:
![nativefilters](https://cloud.githubusercontent.com/assets/378421/17586977/67f39214-5fc5-11e6-9ff7-88df19f5771b.png)

the filters has to contain the right filter_group_id...

[2016-08-11 11:14] bozana commented on #1707
do you have those in your db?

[2016-08-11 11:26] bozana commented on #1707
@NateWr, this log file message "Assertion failed in /var/www/html/ojs/lib/pkp/plugins/importexport/native/filter/SubmissionNativeXmlFilter.inc.php on line 243" points that the filters in your DB are not correct (either there are more than one or non of that kind). If you try to manually correct them as in my screenshots it should work, I believe.

[2016-08-11 12:14] cjuergen opened #1720 "Homogenise max_length for session_id columns in OJS and OCS"
Hi,

while installing OCS 2.3.6 I ran into this error: [Can't Login to the Admin Page](https://pkp.sfu.ca/support/forum/viewtopic.php?t=11040)
Enhancing the max length of all session_id columns to 128 worked fine. I checked the databases for OJS, OCS and OMP and found these default setting:

`OJS
table_name;column_name;data_type;character_maximum_length
"sessions";"session_id";"character varying";

[2016-08-11 12:50] NateWr commented on #1717
@asmecher I've created a tiny little block plugin in a repo here:

https://github.com/NateWr/makeSubmission

I thought a repo might be best since it's shared between OJS and OMP. Would you like to add it as a gitmodule? Or would you rather I just chuck the files into OJS/OMP separately?

[2016-08-11 13:18] NateWr opened #1721 "[OJS] Installation screen needs to be wrapped in content container"
![selection_027](https://cloud.githubusercontent.com/assets/2306629/17589769/7393df94-5fce-11e6-8ba5-e11221058dce.png)

[2016-08-11 13:32] NateWr commented on #1721
Also, the first two links after installation don't work. Registration seems to be obsolete and there's no discussion list.

![selection_028](https://cloud.githubusercontent.com/assets/2306629/17590132/5f336694-5fd0-11e6-883e-a08f3793ee7c.png)

[2016-08-11 13:49] NateWr commented on #1707
@bozana Ok, I went ahead and did a fresh install of OJS. Completely new database, on your OJS branch and pkp-lib `master`. I created a submission and added two files (one supplementary). When I try to export the submission, I get the following errors:

[code]

[2016-08-11 14:04] asmecher commented on #1713
Maybe the pub ID plugin category isn't loaded during import?

The `advice` attribute is something I'd like to build on later to allow importers to instruct OJS what to do with specified IDs: update existing entities that have that ID, or just ignore it? For now it's hard-coded to `ignore`, as you've noted, because that support hasn't been added yet.

[2016-08-11 14:09] asmecher commented on #1720
Thanks -- these are homogenized. Note that the homebrew CAPTCHA test is deprecated in favour of ReCAPTCHA (and has been removed from the master branch / OJS 3.0).

[2016-08-11 14:09] #1720 closed

[2016-08-11 14:10] asmecher commented on #1528
@NateWr, have you walked through the registration process to see whether the Log Out link is presented in the right place? Or does this seem to be just a test issue?

[2016-08-11 14:20] asmecher commented on #1717
Yup, good call on the separate repo, please go ahead and add submodule commits.

[2016-08-11 14:32] NateWr commented on #1721
PRs (tests pending):
https://github.com/pkp/pkp-lib/pull/1722
https://github.com/pkp/ojs/pull/971
https://github.com/pkp/omp/pull/321

[2016-08-11 14:37] NateWr commented on #1488
Ok, now it's just failing on that same syntax thing that's been fixed as part of the #1536 PRs. Should we wait and rebase once that's in to make sure the linting goes through alright?

I kind of thought that was the beauty of JavaScript. :)

[2016-08-11 14:41] asmecher commented on #1536
@bozana, assigning this to you officially :) It looks like Nate's got the JS linting problems fixed, so merging this in will get the master branch Travis testing back on track.

[2016-08-11 14:43] asmecher commented on #1488
I've assigned that PR over to @bozana; yes, probably a good idea to rebase when that's in so we don't start to compound testing problems.

https://pbs.twimg.com/media/CkM9dL_WYAAqnsO.jpg:large

[2016-08-11 15:13] ctgraham opened #1723 "Add reply-tos back in for DMARC compatibilty"
After https://github.com/pkp/pkp-lib/issues/1433, email sent "from" a gmail address to another gmail address is being automatically directed to Spam because of DMARC failure.
See: https://support.google.com/mail/answer/1366858?hl=en&expand=5

This will affect other services with strict DMARC implementations, with varied results - perhaps a warning, perhaps flagging as junk, perhaps non-delivery.

[2016-08-11 15:19] asmecher commented on #1723
Scheduling for 3.0, as that's our next scheduled release, though obviously others are affected as well.

[2016-08-11 15:19] ctgraham commented on #1723
Possible solution:

- Leave the (likely broken) functionality as-is.  If someone is managing their own domain and requires user accounts be domain-related, the existing functionality will work.
- Leverage the config.inc.php `force_envelope_sender` directive to override this functionality.
  - If this is set, force the from address to a known good address, and
  - add the existing from address as a

[2016-08-11 15:21] NateWr commented on #1528
You were right. :) I've solved this by redirecting to a new `/user/registrationComplete` page on the frontend. Tests are running...

[2016-08-11 15:31] bozana commented on #1707
@NateWr, hmmm... I'll do the same to reproduce it... Could you maybe also send me your DB dump vial e-mail? Thanks a lot!

[2016-08-11 15:41] NateWr commented on #1528
@asmecher The tests are written assuming that registration dumps a user in the backend Submissions page, and navigating to a new submission is built into the `createSubmission` method. A couple options, which would you prefer:

1. I write a new test method for navigating from registration to a new submission, and modify the `createSubmission` method to start from the first step of the submission p

[2016-08-11 15:43] asmecher commented on #1528
#2 is OK, at least for now.

[2016-08-11 15:43] NateWr commented on #1721
@asmecher Can you do a code review on this? The tests passed except for the JS linting, which is failing on the same problem that's being resolved in #1536. Since this commit involves no JS changes it's probably ready for review.

[2016-08-11 15:51] NateWr commented on #1536
@asmecher Aren't the tests still failing on this "Settings Wizard" thing?

[2016-08-11 16:13] seunboi commented on #1247
Hello,
Sorry if I am posting in the wrong place. Now the CSS file won't upload.
![1](https://cloud.githubusercontent.com/assets/20903263/17595871/d26ec624-5fe6-11e6-8ef2-b5085bfec290.JPG)
![2](https://cloud.githubusercontent.com/assets/20903263/17595878/d76b6fa6-5fe6-11e6-9e85-427a0a5e76a3.JPG)

[2016-08-11 16:40] bozana commented on #1707
I think I found the error -- I've forgotten to check if the supp file metadata exist before creating an XML element...

[2016-08-11 16:49] bozana commented on #1707
Hmmm... Although, my error is a little bit different... Do you myabe miss the title for the submission?

[2016-08-11 16:53] bozana commented on #1536
@NateWr, all 3 PRs merged, thanks!!! Can this issue be closed now?

[2016-08-11 17:25] #1536 closed

[2016-08-11 19:27] ctgraham commented on #1723
I think the workaround is as simple as https://github.com/ulsdevteam/pkp-lib/commit/224b44c923c9dfa494933ebceef82773fc3cc856.  Tested against 2.4 dev. Comments welcome.

[2016-08-11 22:13] bozana commented on #1713
Of course... me crazy... :-\ Thanks!!!

[2016-08-12 01:47] asmecher commented on #1247
@seunboi, try posting this on the support forum at http://forum.pkp.sfu.ca/, and don't forget to include the application and version you're using.

[2016-08-12 09:51] seunboi commented on #1247
Thanks. Will do so.

[2016-08-12 09:55] bozana commented on #1713
@asmecher, what if the user (or maybe also the user group) from the import XML file doesn't exist in the DB? At the moment NULL is inserted. Is NULL allowed? If so, then the assertions on other places in the system shouldn't be there, e.g. here: https://github.com/pkp/pkp-lib/blob/master/plugins/importexport/native/filter/SubmissionFileNativeXmlFilter.inc.php#L110. But actually I believe it is bet

[2016-08-12 10:09] bozana opened #1725 "file deletion rights"
I uploaded a file as an editor. Then I wanted to delete it as journal manager and I got the message that I am not allowed i.e. have no rights for this action, but the file is deleted however. What is the right way? Maybe the message shouldn't be there?

[2016-08-12 10:15] bozana commented on #1536
@NateWr, I've just wanted to create a new issue and I see there the place to upload stylesheets. Didn't we wanted to remove that? If so, would you take a look?

[2016-08-12 12:18] bozana opened #1726 "Submission Locale"
Provide a possibility to change the submission locale at any point in the workflow. S http://forum.pkp.sfu.ca/t/doaj-plugin-and-multi-language-articles/17210/6

[2016-08-12 12:32] bozana commented on #1693
This is duplicate of https://github.com/pkp/pkp-lib/issues/1629, thus closing...

[2016-08-12 12:32] #1693 closed

[2016-08-12 12:37] bozana commented on #1470
I believe this is OK in the new OMP 1.2, right?

[2016-08-12 12:42] bozana commented on #1336
@asmecher, @NateWr, @crism, could this issue be closed with the recent changes from Nate -- now that cover images are not localized any more... ?

[2016-08-12 12:53] bozana commented on #1098
@ctgraham, I believe it is solved for Crossref in OJS 3.0: https://github.com/pkp/ojs/blob/master/plugins/importexport/crossref/filter/ArticleCrossrefXmlFilter.inc.php#L119-L124, right?
If so then just PubMed is left in this issue...

[2016-08-12 12:58] bozana commented on #1713
pkp-lib PR: https://github.com/pkp/pkp-lib/pull/1719
ojs PR: https://github.com/pkp/ojs/pull/970
@asmecher, could you please review those PRs? The tests will go through once this PR is merged: https://github.com/pkp/ojs/pull/965. Thus, then I will rebase this...

[2016-08-12 13:02] bozana commented on #852
Done, s. https://github.com/pkp/ojs/pull/890
Thus closing...

[2016-08-12 13:02] #852 closed

[2016-08-12 13:22] NateWr commented on #1536
:) no worries!

[2016-08-12 13:29] NateWr commented on #1707
I've merged both PRs. Nice work! Ready to close this issue?

[2016-08-12 13:31] NateWr commented on #1725
Was it a submission file? If so, which stage and grid?

[2016-08-12 14:02] ctgraham commented on #1098
The code you reference is consistent with https://github.com/pkp/pkp-lib/issues/1097, but the scope of this issue goes beyond that.

Specifically, this issue asks whether there can (should?) be a crosswalk from HTML (or upstream XML?) to [JATS tags](http://jats.nlm.nih.gov/archiving/tag-library/1.1d1/n-7xd0.html), e.g.: `<b>` to `<bold>`, `<em>` to `<italic>`, etc.

Consider for example:
https://g

[2016-08-12 14:24] NateWr commented on #1488
Ok, I've rebased and now I'm getting that error with the settings wizard:

https://travis-ci.org/pkp/ojs/jobs/151812207#L829

I'm not sure what's going on with this one. I noticed that the test involves a dual-language journal, so I turned on the multi-language setting to test, but I still get the Settings Wizard pop up when it should.

Is it possible that it's just timing out? Creating a new jour

[2016-08-12 14:27] ctgraham commented on #1723
I have another test case where Gmail did not spamtrap a message with DMARC failure, perhaps because DKIM was valid:
[code]

This might be an alternative (or parallel) solution.

[2016-08-12 14:33] bozana commented on #1707
Yes, thanks a lot! Closing...

[2016-08-12 14:33] #1707 closed

[2016-08-12 14:35] bozana commented on #1488
@NateWr, have you rebased my last issue 1707? There is the fix for that...

[2016-08-12 14:40] bozana commented on #1098
Aaaaaaaaaaaaa, ok, sorry :-)

[2016-08-12 14:40] NateWr commented on #1488
Hmm I thought I rebased on latest master. I'll try again...

[2016-08-12 14:54] bozana commented on #1725
I uploaded a supp file at the 1. stage ('Submission') as editor, under the 'Submission Files' where the submitted article from the author is, and wanted to delete it later as a journal manager.

[2016-08-12 14:56] bozana commented on #1725
Hmmm... Now I couldn't reproduce it, thus I will close the issue... Hmmm... :-O

[2016-08-12 14:57] #1725 closed

[2016-08-12 15:05] asmecher commented on #1721
All merged, thanks!

[2016-08-12 15:05] #1721 closed

[2016-08-12 16:38] asmecher commented on #1713
Merged and cherry-picked as needed, thanks! This needs implementation for OMP, right? If so, feel free to change the milestone to OMP 1.2.1 and leave the issue open.

[2016-08-12 16:40] asmecher commented on #1470
I think so, but it needs verification.

[2016-08-12 16:53] bozana commented on #1713
@asmecher, thanks a lot! No, I think this does not need any implementation for OMP, because all objects (Submission, Representation and Files) are considered in pkp-lib. OJS needed only changes for issue. I will double check it, but I think I've already tested it... THANKS!!!

[2016-08-12 16:54] bozana commented on #1670
I've just tested the acron plugin in doi export plugins and it worked, thus closing...

[2016-08-12 16:54] #1670 closed

[2016-08-12 16:59] asmecher commented on #1713
OK, thanks! Close whenever you're ready.

[2016-08-12 17:11] asmecher commented on #1713
From https://github.com/pkp/pkp-lib/issues/1713#issuecomment-239407588:

Hmm, `null` should definitely not be allowed -- we need to know who is responsible for the file. Do we have enough information to create a user? I suspect probably not. I would suggest, for the moment, failing if the user does not exist; longer term, we may need to merge some capabilities from the user import/export plugin in

[2016-08-12 17:17] bozana opened #1728 "fail the import if the revision uploader is not in the system"
From https://github.com/pkp/pkp-lib/issues/1713#issuecomment-239504349 (comment):

[2016-08-12 17:18] bozana commented on #1713
@asmecher, I moved the comment above in a new issue (https://github.com/pkp/pkp-lib/issues/1728). The OMP does not need changes, thus closing...

[2016-08-12 17:18] #1713 closed

[2016-08-12 17:19] asmecher commented on #1713
OK, thanks!

[2016-08-12 18:17] asmecher commented on #1457
Does that make this one ready to close, @bozana?

[2016-08-12 18:18] bozana commented on #1457
Ah, sorry, for not writhing it here, one still at Nate's plate ;-)
OJS PR: https://github.com/pkp/ojs/pull/969
Assigning Nate...
Then yes, ready to close :-)

[2016-08-12 18:21] bozana commented on #1470
You were right @asmecher, here the PR: https://github.com/pkp/omp/pull/322

[2016-08-13 10:14] HighwayStar opened #1729 "Incorrect string value '\xD0\xD0' for column 'initials' at row 1"
When trying to register in OJS local intance with latest git 3.0 branch installed got error:

'\xD0\xD0' for column 'initials' at row 1

I'm trying to register with name containing cyryllic chars like this:
First Name: Иван
Middle Name: Иванович
Last Name: Иванов

My i18n settings are:
[code]

Backtrace:
[code]

[2016-08-13 14:58] NateWr commented on #1457
Looks good! Just a couple of minor comments to look over.

[2016-08-13 15:45] NateWr commented on #1717
Should the repo be added to the `pkp` organization instead of my personal account?

[2016-08-13 16:49] NateWr commented on #1488
Ok, the OJS test has finally passed. I expect OMP to follow shortly. @bozana can you code review?
https://github.com/pkp/pkp-lib/pull/1727
https://github.com/pkp/ojs/pull/961
https://github.com/pkp/omp/pull/316

[2016-08-14 04:24] asmecher commented on #1717
Let's transfer it over to PKP. I believe you can start the transfer without being an admin on the PKP side, then I can accept it, but I'm not totally sure about that.

[2016-08-14 04:49] asmecher commented on #1729
@HighwayStar, try the attached commit (applied to the lib/pkp submodule) -- the initials field was getting set using a non-mbstring-capable `substr` function.

[2016-08-14 06:07] HighwayStar commented on #1729
Thank you! Now registration works!

[2016-08-14 09:20] NateWr commented on #1528
The OJS tests are passing but OMP is failing, on code that should be identical. I believe this is happening because of #1715, but that should mean that all tests in OMP are failing. Maybe #1715 needs to be sorted out sooner rather than later?

[2016-08-14 21:16] bozana commented on #1457
Hi @NateWr, the commit above considers your comments... Thanks a lot!

[2016-08-15 13:08] bozana commented on #1488
@NateWr, just a couple of minor comments. Great work! :-)))

[2016-08-15 13:16] bozana commented on #1314
@crism, the behavior changed in OJS, so that the remote galleys first call .../article/view/articleId/galleyId... thus is this issue still relevant for OJS?

[2016-08-15 15:29] asmecher commented on #1729
Thanks for confirming!

[2016-08-15 15:29] #1729 closed

[2016-08-15 15:40] asmecher commented on #1715
I'm just running through the tests on OMP master on my local machine, and self-registration still seems to be fine. I'm running the tests on the Travis server too but I expect it'll confirm the same. Have you tried a fresh install?

[2016-08-15 15:40] asmecher commented on #1528
@NateWr, see https://github.com/pkp/pkp-lib/issues/1715#issuecomment-239836280

[2016-08-15 18:32] asmecher commented on #1131
@bozana, sorry to bug you on this one :)

[2016-08-15 23:05] crism commented on #1402
As noted in the PKP forum, the problem is that if OJS is not running in the server root, a `RewriteBase` directive is needed for this to work properly.

[2016-08-15 23:16] stranack opened #1731 "Path for Dependent Files"
When uploading CSS or image files, it would be helpful to display the full path that will lead to that file during the upload process. This information could be part of the file metadata for future reference.

[2016-08-15 23:19] stranack opened #1732 "Dependent file not associating with main file"
This HTML file has been uploaded and approved, and has a dependent CSS file uploaded to OMP.

http://monographs.lib.sfu.ca/index.php/sfulibrary/catalog/download/1/2/23-5

The CSS file is not associating with the HTML file and as a result not displaying as expected.

[2016-08-16 10:29] NateWr commented on #1457
:+1: Merged! Ready to be closed?

[2016-08-16 10:30] bozana commented on #1131
@asmecher, wow, tons of work! Great job! :-)))
I did the review and testing, and there are just a few comments...
Sorry, you will not believe me, but first today I saw your first message for me above, from 19 days ago :-\ and thus first today I realized what do you want me to do... :-P You are right, I apparently do miss those comments sometimes :-\

[2016-08-16 10:35] bozana commented on #1457
Thanks @NateWr! Yes, finally I can close this 'monster' issue! ;-) And will be happy to open a new one, for future work or bugs or... -- to have some variety with issue numbers :-DDD
Closing...

[2016-08-16 10:35] #1457 closed

[2016-08-16 10:58] bozana commented on #1710
@asmecher and @NateWr, is there somewhere in the system an example of those banner notifications for me to take a look?

[2016-08-16 11:00] NateWr commented on #1715
A fresh install helped. I only ran into this issue when trying to register a new account in OMP before any press existed. I'll close this unless you think there's anything else to be looked at.

[2016-08-16 11:00] #1715 closed

[2016-08-16 11:17] NateWr commented on #1710
@bozana: here's how to trigger one:

1. Forward a submission to the review stage and assign a reviewer.
2. Login as reviewer and complete review.
3. Login as `dbarnes` or whoever is assigned editor and then go to review stage.

You should see a notification that reads "All reviews are in and a decision is needed in Review".

https://github.com/pkp/pkp-lib/blob/master/classes/notification/managerDe

[2016-08-16 13:42] kmruck commented on #1690
thanks dear @bozana and @asmecher! i pointed bozana to this problems as for FQS we received the DOAJ seal (https://doaj.org/toc/1438-5627?source=%7B%22query%22%3A%7B%22filtered%22%3A%7B%22filter%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22term%22%3A%7B%22index.issn.exact%22%3A%221438-5627%22%7D%7D%2C%7B%22term%22%3A%7B%22_type%22%3A%22article%22%7D%7D%5D%7D%7D%2C%22query%22%3A%7B%22match_all%22%

[2016-08-16 14:22] NateWr commented on #1717
I tried to transfer under my repo > settings > transfer, but it told me I didn't have the rights on pkp. I also tried going via new repo, and changing the owner to pkp, but it said I had insufficient rights.

[2016-08-16 14:28] NateWr commented on #1732
The HTML file includes a `<link>` attribute pointing to:

http://monographs.lib.sfu.ca/index.php/sfulibrary/catalog/download/1/2/39-1

This will immediately download the CSS file. My guess is that the lib is forcing download, and this is interfering with how a browser might normally load and interpret a CSS file. When inspecting the asset in Chrome, it appears to be loaded but but the Sources pane

[2016-08-16 14:31] NateWr commented on #1270
Pushing to 3.0.1.

[2016-08-16 14:53] NateWr commented on #1390
PR with adjusted page titles:
https://github.com/pkp/pkp-lib/pull/1733

Waiting on tests here:
https://github.com/pkp/ojs/pull/976

[2016-08-16 14:55] NateWr commented on #1667
This is the last critical issue on my docket. I'm going to turn to working on some theming stuff in time for release. But I thought I'd make sure we're on the same page here.

My sense is that you'll get search working to your satisfaction, then I'll come in and style it and clear out some of the unused filters. But if you want me to take a more involved role here let me know. I haven't really wor

[2016-08-16 14:56] bozana commented on #1690
Oooo @kmruck is active in GitHub :-) We will solve this, but I believe the 3.0 has such a huge priority and so much work, that we will not be able to solve this before the 3.0 release... But else, yes, stay tuned... :-)

[2016-08-16 15:08] asmecher commented on #1667
My sense is that it's currently working, except that there may be a missing line of code to trigger re-indexing when it's needed. For now you can work around that (e.g. if search results are missing that should be there) by running the re-index script and clearing the data cache (`cache/_db/*`).

[2016-08-16 15:09] asmecher commented on #1667
(What I mean is: re-styling shouldn't have to wait, and I'll fix the indexing issue when I get a sec to look at it.)

[2016-08-16 15:15] asmecher commented on #1732
Ah, yes, I think there are force-download headers on there. Will tinker tomorrow.

[2016-08-16 18:07] stranack commented on #1732
I'm not sure if it is related, but I believe OMP doesn't yet have an HTML viewer, similar to what OJS 2.x had. Instead the HTML is displayed outside of the OMP context. Or should I file this as a separate issue?

[2016-08-16 18:50] NateWr commented on #1732
I'd be interested to know your workflow for producing the HTML, @stranack. It seems a shame to me, if you've got an HTML representation of the file, that we can't display the HTML of the full article right there on the article page. HTML is what the web is all about. It would make way more sense for the output, rather than trying to turn it into some kind of "galley". But I realize it might entail

[2016-08-16 19:36] crism opened #1734 "[OMP] new user registration mentions journals"
With OMP `HEAD`, When registering a new user at the side-wide level (`.../omp_dev/index/user/register?source=`), presses are described as “journals”: “Which journals on this site would you like to register with?” and “If you requested to be a reviewer on any journal, please enter your subject interests.”

[2016-08-16 21:04] NateWr opened #1735 "PluginRegistry should store loaded state of plugin categories to prevent dual-registration of hooks"
`PluginRegistry::loadCategory($category)` is used to load a particular set of plugins on-demand. Plugins are loaded and their `register` method is called.

Subsequent requests for a category of plugins should use `PluginRegistry::getPlugins($category)` to prevent dual-registration. However, it's not always very easy to know if a category of plugins has already been loaded, short of adding in block

[2016-08-17 10:49] bozana commented on #411
PKP-LIB PR: https://github.com/pkp/pkp-lib/pull/1736
@NateWr, could you please review this PR?
I will soon add the same feature (scrolling) for the reviewer grid...

[2016-08-17 14:00] NateWr commented on #411
Looks good! I had a couple of minor comments and some UX stuff. Also, I wanted to ask how difficult it would be to move the user group selection into the grid.

As it is, the grid steals focus and it's easy to miss the user group selection up top. It'd be great to just incorporate this into the selection filter, since that's what the user's doing anyway. Here's what it would look like:

![locate-u

[2016-08-17 14:07] bozana commented on #411
Yes, I can try that -- I was thinking about that, but because the for around the grid needs the form field I left it there. Also, because I thought if the grid could be reused somewhere else (for an already specified group), e.g. in reviewer select grid, but the reviewer select grid has to use so many different filters and different DAO, that it doesn't make much sense for it to be based on this,

[2016-08-17 14:09] NateWr commented on #411
Sounds good!

[2016-08-17 16:10] asmecher commented on #1734
Good spotting, @crism -- I suspect we can quickly resolve this by moving some locale keys that ought to be app-specific out of the `lib/pkp` locale files and into the application locale files.

[2016-08-17 16:17] asmecher commented on #1732
In OJS 2.x we used to jam whatever HTML was supplied (typically with its own `head`/`body` etc.) into an OJS-style wrapper, and as a result no OJS journal ever had HTML galleys that were remotely close to valid. I'm at a bit of a loss for a best-practices way to resolve this for OJS3 -- for example we could filter out head/body elements and just take the body text, but then we'd lose any custom he

[2016-08-17 16:38] asmecher commented on #1735
@NateWr, I suspect plugins are double-loaded on the plugin administration area, but I can't think of anywhere else it would happen... Did you run into it somewhere else, or is it a problem there?

[2016-08-17 16:48] asmecher commented on #1131
Thanks for the review! Closing for now, though there are certainly areas we could broaden CSRF checking, and I'd still welcome feedback on the general approach (if you're still following the issue, @judgej).

[2016-08-17 16:48] #1131 closed

[2016-08-17 16:51] asmecher commented on #1390
"Waiting on tests": I just got to that email notification now. Ah well :)

[2016-08-17 17:22] asmecher commented on #1717
@NateWr, I made you an Owner. With great power comes great resistive heating.

[2016-08-17 17:51] crism commented on #1734
Nope—this is actually in the OMP code base, probably due to some cut-and-paste error.

[2016-08-17 17:57] bozana commented on #1717
Proverbalist :-)

[2016-08-17 18:03] crism commented on #1314
@bozana, if that’s true for OJS, then that suffices; in OMP, it’s still a direct link to the external resource. I haven’t tested OJS yet.

[2016-08-17 18:04] asmecher commented on #1734
Thanks, @crism!

[2016-08-17 18:04] #1734 closed

[2016-08-17 18:09] bozana commented on #411
@NateWr, I integrated all your comments (s. the two commits above), so OK?

[2016-08-17 18:16] crism commented on #1336
This specific problem does seem to have gone away, due to wiping out these settings. I’ll keep an eye out for other manifestations…

[2016-08-17 20:58] asmecher commented on #1732
I fixed the download header problem -- but what this also took was resetting the MIME type on the uploaded CSS to "text/css" instead of some variant of C code.

[2016-08-18 05:11] WaDelma commented on #1732
I know that iframes aren't the best thing ever, but wouldn't those allow embedding full html files.

[2016-08-18 08:54] NateWr commented on #1735
@asmecher It seems to be pretty rampant in the backend. To log this, I added the following at the top of `PluginRegistry::loadCategory()`:

[code]

To disambiguate separate requests (since a single page load could mean several separate requests to the server), I added the following to the top of the `index.php` file in ojs' root directory:

[code]

I then clicked around just a little bit, and foun

[2016-08-18 09:18] NateWr commented on #411
:+1: Just a couple more little things. Looks great!

[2016-08-18 10:15] bozana commented on #411
@NateWr, s. the last commit... :-) THANKS!!!

[2016-08-18 10:26] bozana commented on #1346
This is not the case for OJS 3 -- there is no administration > settings page i.e. all plugin settings are under settings > website > plugins, thus removing OJS label and milestone from this issue...

[2016-08-18 10:27] bozana commented on #1346
Hmmm, the same for current OMP master... so closing the issue...

[2016-08-18 10:27] #1346 closed

[2016-08-18 10:29] bozana commented on #1336
May I then close this issue and if something else pops up, a new issue can be opened?

[2016-08-18 10:29] #1336 closed

[2016-08-18 10:38] judgej commented on #1131
Following, but not heavily involved in development in PKP at the moment. Got a couple of sites up, so helping to improve security is certainly still of interest :-)

[2016-08-18 10:40] NateWr commented on #411
:+1: merged! Read to close?

[2016-08-18 11:18] bozana commented on #1314
@crism, I checked it, unfortunately a few more changes are needed in order to log the remote galley usage event in OJS, s. https://github.com/bozana/ojs/commit/5bf616472a70d364b903eab5f7da93d0fdff06db.
Unfortunately I am not sure how this changes would affect the statistics -- e.g. I am using the ASSOC_TYPE_GALLEY for remote galleys (as in OJS 2.4.x) and this type was else changed in master into A

[2016-08-18 11:19] bozana commented on #411
THANKS A LOT!!! Closing...

[2016-08-18 11:19] #411 closed

[2016-08-18 12:58] NateWr commented on #1488
Ok, Alec's commented on the [last remaining question](https://github.com/pkp/pkp-lib/pull/1727/files/04bfa236cdbe44f450dbb77b86ef30bf0a6738f6..0ce7954d351902792c9d78a3a0bc9b3ad33935ef#r75151703) so I think it's ready for a final review, @bozana.

[2016-08-18 13:05] bozana commented on #1488
@NateWr, everything OK, if you could just rebase the branches because of the merge conflicts? I will then merge...

[2016-08-18 15:10] asmecher commented on #1131
Sure, thanks!

[2016-08-18 15:24] asmecher commented on #1346
Are the site-wide plugins accessible somewhere or did those get lost?

[2016-08-18 17:32] NateWr opened #1737 "Clearing template cache clears .gitignore files"
Administration > Clear Template Cache clears the template cache files. It also takes a couple of versioned .gitignore files with it:

[code]

Not urgent. Filing for OJS 3.0.1

[2016-08-18 17:53] NateWr opened #1739 "Implement theme options"
An issue to track work on a theme options API.

- [x] Implement API to add options, with fields generated automatically and an API for accessing options.
- [x] Default theme: add font selections
- [x] Default theme: add color picker
- [x] Bootstrap theme: add theme selector
- [ ] Bootstrap theme: add color pickers which match bootstrap variables
- [ ] Document API
- [ ] Extend with more field type

[2016-08-18 18:13] ctgraham commented on #1737
Not urgent, but damn annoying.

[2016-08-18 18:22] NateWr commented on #1737
@ctgraham This is a useful command that I use to clear templates and css when I work on the frontend. Executed from the `/cache` directory: `rm -r *.php *.css HTML t_compile/*.php`.

Only way I can keep from going crazy. :)

[2016-08-18 18:26] ctgraham commented on #1737
My strategy has been:
* *Le sigh*
* `git checkout -- .gitignore`

[2016-08-18 19:31] mfelczak commented on #1621
@asmecher, I've had a chance to review this and update the PR. There were already calls that included the $request param e.g. $commentForm->email($request) but it was missing from the method declarations.

[2016-08-18 21:03] NateWr commented on #1488
I think this is ready to go. The OJS tests are passing but the OMP tests keep failing due to what looks like a Selenium server issue. I've restarted them but they failed again.

https://travis-ci.org/pkp/omp/jobs/153351663#L1707

Is there some kind of problem with the Selenium server at the moment or is there a real issue with OMP? There just isn't a lot that changed in the OMP PR.

[2016-08-19 07:44] bozana commented on #1346
Yes, they are accessible for admins on the normal settings > website > plugins page

[2016-08-19 11:16] bozana commented on #1488
Merged, thanks @NateWr! Ready for closing?

[2016-08-19 15:46] asmecher commented on #1717
Merged both PRs, thanks!

[2016-08-19 15:46] #1717 closed

[2016-08-19 17:11] asmecher commented on #381
@NateWr, in https://github.com/pkp/ojs/commit/69ba94b99c1460a36fcbc9105860c74c74b246e4 I added the display of authors' ORCID identifiers to the article view page. Mind taking a quick look at styling? ORCID has some guidelines here: https://orcid.org/trademark-and-id-display-guidelines

[2016-08-19 18:18] asmecher commented on #1735
I think we'll need to support multiple loads in at least once case. Think of generic plugins:
- Once, early in the request handling, to allow enabled plugins to intervene (this needs to be fast)
- Again, e.g. on the plugins page, to list all plugins (not just enabled)

But that page is a bit of a special case.

But I think you're still seeing more duplicate loads than I would expect. And if that w

[2016-08-19 19:09] amandasramalho opened #1740 "Select window opens twice"
When I select an attachment (image, PDF, Word), the select window opens twice: at the first time it doesn't work, it work only in the second time.
![telaanexos](https://cloud.githubusercontent.com/assets/5446933/17821168/9d59e9e6-6626-11e6-9c1a-ef8f03f46b77.png)

Current version: 1.2.0.0 (August 17, 2016 - 09:17 PM)

[2016-08-19 19:49] amandasramalho opened #1741 "Translations of some titles in Portuguese"
I noticed that some texts/titles are not translated into Portuguese. (OMP)
See below my contributions:
## manager.setup.logo## >> Logo
## manager.setup.information.descriptionTitle## >> Descrições
## manager.setup.aboutPress## >> Sobre a Editora
## manager.setup.aboutPress.description## >> Insira aqui informações sobre sua Editora que pode ser de interesse para os leitores, autores ou colaboradore

[2016-08-19 19:52] asmecher commented on #1741
Tagging @mtub, who manages translations. He's on vacation for a little while so might take some time to respond.

[2016-08-19 21:01] asmecher commented on #1683
PRs:

- https://github.com/pkp/pkp-lib/pull/1742
- https://github.com/pkp/ojs/pull/980

@bozana, could you glance over these? I'm going to merge them and keep doing some testing/fixing, and if (when) anything that comes from that I'll link to it. I'm not sure how useful a normal-style code review will be, but I'll be talking with Kevin/James early next week about testing and we'll discuss reviewin

[2016-08-20 14:11] bozana commented on #1710
@stranack, @asmecher or @NateWr, how are the revisions accepted, for the b) above?

[2016-08-21 22:48] mtub opened #1744 "[OJS] remove OMP language from OJS"
`settings.roles.gridDescription` in manager.xml has OMP language that got copied over ("series", "monograph", etc.)

[2016-08-21 23:05] mtub opened #1745 "[OJS] update requirements in locale files"
There are hard-coded requirements in `installer.installationInstructions` (including version numbers). Make sure that they are consistent in all locales (now and in the future).

[2016-08-22 09:06] NateWr opened #1746 "[OJS] Issue description can not be saved"
Thee same is true of the issue published date and open access date.

[2016-08-22 16:15] asmecher commented on #1744
Fixed (and also cherry-picked over to `translation3`).

[2016-08-22 16:15] #1744 closed

[2016-08-22 16:52] amandasramalho opened #1747 "Action "copy review form" inactive"
When I click in "copy form" it opens a screen confirmation of the action, but when I click "ok" nothing happens.

![copyreviewform](https://cloud.githubusercontent.com/assets/5446933/17863260/575d4528-686f-11e6-8aa2-8cf254be367d.png)

[2016-08-22 17:06] asmecher commented on #1747
@amandasramalho, can you check your PHP error log to see if something appears there?

[2016-08-22 17:48] asmecher commented on #1745
Fixed, thanks! We could spend some time making these all pull from the same source, I suppose, but given how rarely we change the requirements I don't think it's worth the dev time.

[2016-08-22 17:48] #1745 closed

[2016-08-22 18:13] asmecher commented on #1710
I would suggest making it inactive once the author uploads a revision (I suppose any revision will have to do). When that happens, it should be removed.

That leaves the Editor without any notification that new revisions have actually come in, which IIRC is a known problem discussed elsewhere. (Remember anything about this, @stranack?)

[2016-08-22 18:16] asmecher commented on #1710
Yes, I think that's better than arbitrarily prioritizing tasks. It would indicate to the editor that a reviewer is still, as far as they know, on the job. That might be an editorial oversight, so that would be useful for the editor to see.

[2016-08-22 19:47] bozana commented on #1710
@asmecher, I am not sure I understand this part correctly:

:-\

[2016-08-22 19:52] asmecher commented on #1710
I mean that d) and f) can be solved the same way, I think: the "update notification" function can check whether any discussions exist in the stage, and if not, then make sure that notifications are present for editors/section editors assigned to the submission telling them that they need to assign and notify someone to perform copyediting/layout work.

If a discussion is already in place, then we

[2016-08-22 19:59] bozana commented on #1710
How about, as you said, we check if there is any discussion, but also if there is a copyedited file (by file stage id)?

Also, I solved it now, that the notification from one stage will be removed when the edititor is moving the submission to the next stage. OK so? This way, if journal is not using copyedior, for example, either the editor will upload a file or send the submission to the productio

[2016-08-22 20:01] bozana commented on #1710
And what would be the notification text then?

[2016-08-22 20:03] asmecher commented on #1710
Yes, I think both those ideas make sense.

For the text -- hmm. I think Kevin's proposed text is still OK; it does mention Copyeditor, but since we're on the Copyediting stage, I think that'll make sense implicitly. We could change it to "Assign a user to perform copyediting..." instead of "Assign a copyeditor..." but I think that's clumsy.

[2016-08-22 20:04] bozana commented on #1710
Aaaa I think I know what you mean, the discussion will be checked just for d) and copyedited file to remove the e) :-) OK, I think now I understand :-) Sorry :-\ THANKS!!!

[2016-08-22 21:57] asmecher commented on #914
This is now working.

[2016-08-22 21:57] #914 closed

[2016-08-22 22:07] asmecher opened #1748 "Assess and potentially circumnavigate common 2.x data errors in upgrade"

[2016-08-22 22:07] asmecher commented on #1748
For CoA:

- delete from review_rounds where submission_id=19334 and review_round_id<>5601;
- delete from article_comments where article_id not in (select article_id from articles)

[2016-08-22 22:59] asmecher commented on #1621
OK, thanks!

[2016-08-23 09:18] disjunctor commented on #1682
Should there be a button 'Submit the revision'  on the author's review page? I cannot see something like this in the current version of the OJS.

[2016-08-23 13:16] NateWr commented on #1735
You're right, there was some concurrency going on that made multi-loaded look more common. I still found a couple places where this happens without searching too hard.

https://gist.github.com/NateWr/e3d98ec0b95ff8bcbbd475d6d21e4648

I appreciate that, if we're careful, we can probably prevent the dual loading. But why should we have to? Shouldn't we just be able to ask `PluginRegistry` for what w

[2016-08-23 15:22] asmecher commented on #1682
@disjunctor, what version of OJS are you using?

[2016-08-23 15:40] asmecher commented on #1735
@bozana, could you take a quick look at this? I think the pubIds category is getting loaded several times, and that might be problematic (not sure OTOH).

@NateWr, I like what you're proposing, but for post-3.0.

[2016-08-23 15:43] NateWr commented on #1735
Ok I've solved the problem for parent-child themes for 3.0. Punting to 3.0.1.

[2016-08-23 16:10] NateWr commented on #1528
I think this one fell off the train somewhere. I'll rebase and re-run tests tomorrow.

[2016-08-23 16:55] bozana commented on #1710
Ah, I've just realized that in OMP there are already NOTIFICATION_TYPE_REVIEW_ROUND_STATUS notifications and that they are working in OMP but not in OJS although the most of the code is in pkp-lib :-O I will have to take further look to figure out what is going there...

[2016-08-23 19:31] mfelczak commented on #1621
Hey @asmecher, just wanted to confirm that you got the above PR (https://github.com/pkp/ojs/pull/979)?

[2016-08-23 20:51] bozana opened #1749 "remove PHP 5.3 code from OJS 2.4.8-1"
s. http://forum.pkp.sfu.ca/t/cannot-update-the-database-using-php-5-2/17821

the PR is comming...

[2016-08-23 21:43] bozana commented on #1710
@asmecher, I think I found the bug, so that we can use the same review round notification as in OMP? That means, they will be:
"Waiting for reviewers to be selected. "
"Awaiting responses from reviewers. "
"Revisions have been requested. ".
Or shall I change those for OMP to be the same as here?
Thanks!!!

[2016-08-24 04:28] disjunctor commented on #1682
@asmecher, OJS 3.0 from git master

[2016-08-24 06:32] WaDelma opened #1750 "[OJS] Make changelogs to be part of the version control"
I tried to find what changed between two versions OJS (2.4.4.1 and 2.4.8.1 to be exact) and first thing I looked for was a changelog.
It seems that only the changelog for newest release is available.
I suggest moving it to a file under version control so that tracking changes would be easier.

[2016-08-24 08:23] NateWr commented on #1710
Those phrases sound familiar. I think I changed them from the shorter versions to be more descriptive. But if I recall they were geared towards the author workflow (eg - "Waiting for reviewers to be selected" sounds like it's speaking to the author, who's waiting on the editor to do something).

[2016-08-24 08:26] NateWr opened #1751 "Extra closing </div> on homepage if no announcements exist"
https://github.com/pkp/omp/blob/master/templates/frontend/pages/index.tpl#L76

The same pattern is used in OJS so should be checked for problems.

[2016-08-24 08:30] bozana commented on #1710
OK, I will leave them as they are :-)
Those notifications are for all users, i.e. for editors and authors.
Unfortunately, I am not sure if this old solution is good :-( -- It is easily implemented -- it just looks after the round status from DB and displays it -- but: it could be that an editor requests the revisions while he  is waiting for a (new) review and in that case only one (the last) stat

[2016-08-24 08:43] bozana commented on #1710
Aaaa... I think I know how to solve the problem with revisions -- I will handle them differently and independent from review round statuses, just a manager for them...

[2016-08-24 09:29] bozana commented on #1710
Ah I made a mistake, it doesn't meter if they are treated independently, because the review round status contains REVIEW_ROUND_STATUS_REVISIONS_REQUESTED... thus the problems stays...

[2016-08-24 09:52] bozana commented on #1710
Thus, the notification "Revisions have been requested." will stay there as long as the submission doesn't move to the next step (and review round status changes). Eventually, we could consider one more status: REVIEW_ROUND_STATUS_REVISIONS_READY?

[2016-08-24 11:59] NateWr commented on #1528
I rebased these today for merge, but the OMP test is failing now. It appears to time out. I restarted it a couple times but it keeps timing out:

https://travis-ci.org/pkp/omp/jobs/154720368

Any thoughts?

[2016-08-24 12:22] bozana commented on #1682
Because I am working on notifications right how, s. https://github.com/pkp/pkp-lib/issues/1710, I will address this issue too.
Now there is only one task for author, the second one: "Revision required". When author uploads a revision file the task  "A revised file has been uploaded for your editorial consideration in Review" will be created. If there were such tasks, they will be deleted and a new

[2016-08-24 12:25] NateWr commented on #1751
PRs:
https://github.com/pkp/ojs/pull/986
https://github.com/pkp/omp/pull/326

@bozana I don't anticipate any issues with this. Mind code reviewing and merging?

[2016-08-24 12:30] NateWr commented on #1447
Punting to 3.0.1

[2016-08-24 12:36] bozana commented on #1710
This is the current solution for review revisions notifications:
![reviewrevisionsnotifications](https://cloud.githubusercontent.com/assets/378421/17930664/bc8990de-6a07-11e6-93bd-6cf8e8bed857.png)

I.e. the first is review status, that cannot be removed/changed until it changes, i.e. this notification will stay there, but the new task notification will appear if the revisions are there. At the mo

[2016-08-24 12:50] NateWr commented on #381
@asmecher PR:
https://github.com/pkp/ojs/pull/987

[2016-08-24 15:50] asmecher commented on #381
Thanks, @NateWr; punting the rest to OMP 1.2.1. Note that https://github.com/pkp/ojs/pull/987 needs porting to OMP.

[2016-08-24 16:14] asmecher commented on #1750
@WaDelma, we ship release notes that are much more usable than the change logs; see `docs/release-notes`. We used to include historical changelogs with each release, but removed them starting with OJS 2.4.7. Detailed change information is available from github.com, which IMO is much more usable than a changelog. My sense was that the changelogs were just taking up space.

[2016-08-24 16:21] asmecher commented on #1528
Are the PRs updated with your rebase? The OMP PR still looks like it has a merge conflict (can't be merged).

[2016-08-24 16:24] asmecher commented on #1621
Ah, I see it now. (PRs don't always link consistently to their issues -- best to explicitly note it.) I've merged that and ported it over to `ojs-dev-2_4`.

[2016-08-24 16:24] #1621 closed

[2016-08-24 16:33] bozana commented on #1710
PKP-LIB PR: https://github.com/pkp/pkp-lib/pull/1752
OJS PR: https://github.com/pkp/ojs/pull/988
OMP PR: https://github.com/pkp/omp/pull/327
@asmecher, could you review these PRs?

[2016-08-24 16:37] asmecher commented on #1710
(BTW, if the OMP tests fail on the static pages plugin, don't worry -- I've just committed a submodule update to solve that.)

[2016-08-24 17:39] asmecher commented on #1710
Reviewed for now, thanks -- let me know when you'd like another look!

[2016-08-24 17:42] asmecher commented on #1739
@NateWr, mind summarizing the PRs here? I'll take a look at the linting issue etc.

[2016-08-24 21:20] mfelczak commented on #1621
Thanks @asmecher, and will do!

[2016-08-24 23:48] asmecher commented on #1432
Manually committed in the substantive parts of the changes proposed in https://github.com/pkp/pkp-lib/issues/1432#issuecomment-219175029 for both OJS and OMP master branches. Leaving the rest for consideration.

[2016-08-25 00:28] asmecher commented on #1723
@ctgraham, do you have any more recent feedback on the DKIM solution? I'm surprised we haven't heard that OJS 2.4.8-1 is failing to deliver email.

[2016-08-25 01:48] disjunctor commented on #1682
@asmecher @bozana
at the review stage as an author I cannot delete uploaded files: there is no 'delete button'.
This is an important thing for the workflow, if someone uploads wrong file.

[2016-08-25 08:31] WaDelma commented on #1750
Ah, okay. Also is there better place to ask code related questions? I don't want to spam this place with stuff that could be answered easily. (Like I am currently trying to figure out how DOI plugin works and would like to ask specific question regarding it).
The question thread in forums seems to be for different level of questions...

[2016-08-25 08:38] bozana commented on #1682
Yes, I noticed that too, but I am not sure how is it meant to be, maybe @asmecher can say. Editors do have the delete option. What you could do is replace the file.
And for you question above: there is no button 'Submit the revision', author can just upload a file and the editors will get a task assigned, that a new file revision came in.

[2016-08-25 09:00] disjunctor commented on #1682
But what is the way to understand if the revision was completed?
Sometimes author has to upload multiple files, and he/she can do it step by step (it can take several days). This probably can lead to the misunderstanding between the author and editor: the editor can send incomplete revision to the reviewer. Anyway, on wrong action author is supposed to open a discussion, right? This involves many

[2016-08-25 09:28] NateWr commented on #1682
Hi @disjunctor,

I'm not sure what the intention was in not allowing authors to delete revision files. That may have just been an oversight or there may have been a specific requirement there. @asmecher will know best and be able to comment on what to do.

I'll address in more detail your suggestion of a "Submit Revisions" button, because it touches on some broader issues related to a broader deve

[2016-08-25 09:35] bozana commented on #1710
@asmecher, I made the changes to PKP-LIB and updated the submodule for OJS and OMP. Could you take a look?

[2016-08-25 09:58] NateWr commented on #381
Hmm, I looked for ORCiD in OMP but didn't see it. Maybe there's some set-up involved that I hadn't ticked, but happy to look at it for OMP 1.2.1.

[2016-08-25 10:11] WaDelma commented on #1750
The question was: Where/How DOIs get stored?

[2016-08-25 10:11] NateWr commented on #1739
The new theme options API is a set of methods on the `ThemePlugin` class. It's still very nascent and could use a lot of building out of its feature-set.

- Added a hook to `PluginRegistry::loadCategory()` which fires after a category has been loaded. This allows themes to be intialized _after_ the load, so that parent/child themes are aware of each other regardless of when they appear in the load

[2016-08-25 10:23] bozana opened #1753 "remove the only issues export in crossref"
@jmacgreg and @asmecher, because we said that articles have to be selected for doi assignment for Crossref, I would then remove the possibility to export only issues for now -- till we see what to do with that if at all -- OK? If OK, I will make a PR...

[2016-08-25 10:39] bozana commented on #1750
The DOIs will be stored in the object settings table e.g. article_settings

[2016-08-25 11:29] disjunctor commented on #1682
@NateWr,
thank you for the explanation. I will try to verify our use-cases, taking into account the conception of non-linear workflow.

[2016-08-25 12:18] bozana opened #1754 "OpenAIRE plugin migration to 3.0"

[2016-08-25 12:31] NateWr commented on #1528
Hmm, I re-re-based but now the tests are wigging out. The OJS is giving lots of output I've never seen before. The OMP test is still failing on the "Make a New Submission" string. I've manually walked through a registration and the "Make a New Submission" string is present.

Not sure what to do with this one...

[2016-08-25 12:49] bozana commented on #1754
PR: https://github.com/pkp/ojs/pull/991
@asmecher, if this can be integrated for 3.0, I would ask @NateWr to code review... :-)

[2016-08-25 13:05] ctgraham commented on #1723
Adding DKIM message signing on our external service appears to prevent the spam flagging in Gmail, despite DMARC failure.  I believe the DKIM message signing for our ULS-hosted journals is why we didn't detect any trouble there, and I suspect this would be why you haven't seen any failures.

I have one more outstanding conversation with a third party concerned with mail routing through AWS.

My an

[2016-08-25 15:25] asmecher commented on #1750
@WaDelma, the forum is generally the best place, but I'm happy to answer questions here too. Generally, specific code-related stuff can either go in the forum or here, and user-related questions and higher-level functionality questions are best in the forum. Closing this issue for now.

[2016-08-25 15:25] #1750 closed

[2016-08-25 15:34] asmecher commented on #381
OMP and OJS share the same profile forms, IIRC, so whatever OJS gets OMP does too. It's possible (likely) that this is a post-1.2 sharing of code.

[2016-08-25 15:36] asmecher commented on #1754
Yes, that sounds fine -- @NateWr, consider yourself assigned!

[2016-08-25 15:59] mtub commented on #1509
fixed via #1756

[2016-08-25 15:59] #1509 closed

[2016-08-25 16:21] mtub opened #1757 "[OJS] duplicate keys in usageStats plugin (also: duplicate plugin)"
in master branches, both OJS and pkp-lib have a generic/usageStats plugin with partly the same locale key names in both directories… please check which version is recent and needed…

(also, the lib-pkp version has "OMP usage statistics report" in it…)

[2016-08-25 16:48] mtub commented on #1510
All of the checked items are translated now, OJS 3.0 will be 100% translated to German.

Feel free to let me know if any of the translations seem wrong or odd.

[2016-08-25 16:48] #1510 closed

[2016-08-25 17:00] jmacgreg commented on #1753
Yep, sounds good to me.

On Thu, Aug 25, 2016 at 3:23 AM, bozana <notifications@github.com> wrote:

--

James MacGregor
Publishing Services Coordinator
Public Knowledge Project (PKP)
Twitter: @jmacgreg
Skype: j.macgreg

[2016-08-25 17:05] bozana commented on #1753
PR: https://github.com/pkp/ojs/pull/993
@asmecher, could you code review this PR?

[2016-08-25 20:08] bozana commented on #1749
ojs-stable-2_4_8 PR: https://github.com/pkp/ojs/pull/994
ojs-dev-2_4 PR: https://github.com/pkp/ojs/pull/995
@asmecher, why are those tests failing? :-(
Else, it would be ready to merge...

[2016-08-25 20:31] bozana commented on #1696
PR: https://github.com/pkp/ojs/pull/996
@NateWr, the tests will surely fail, but I will already assign you for the review however...

[2016-08-25 22:12] bozana commented on #1746
@NateWr, above is the fix for this. The openAccessDate is only saved if it is enabled, s. https://github.com/pkp/ojs/blob/master/controllers/grid/issues/form/IssueForm.inc.php#L223.
But I haven't seen that option (enableOpenAccessDate) in the form at all and I am not sure if it should be deleted i.e. how is it meant to be. Thus, you could take the commit and change further, if necessary...

[2016-08-26 00:38] asmecher commented on #1749
@bozana, looks like the Closure compiler/linter was unavailable for a short time. I've restarted those tests and expect they'll pass (the download link is working again for the part that failed).

[2016-08-26 08:39] NateWr commented on #1754
The code looks good @bozana. I have a couple of UI/UX questions.

1. Will authors who are making a submission always know what OpenAIRE is and what their ProjectID is?  Can we be more helpful in explaining to the submitting author what they are being asked to provide, as well as whether it's really expected or an optional extra?

![selection_048](https://cloud.githubusercontent.com/assets/2306629/

[2016-08-26 09:07] NateWr commented on #1696
:+1: All good. Not sure what's going on with the tests. Should I merge this anyway?

[2016-08-26 09:09] bozana commented on #1754
@NateWr, yes we could better explain it, maybe something like this: The research publications, that resulted from EU projects and initiatives "The European Commission’s Seventh Framework Programme" (FP7) "Open Access Pilot", "The European Research Council (ERC) Scientific Council Guidelines for Open Access" are harvested and visible on the OpenAIRE platform. This publications should contain the pr

[2016-08-26 09:13] bozana commented on #1696
@NateWr, thanks a lot! I think we could wait for @asmecher to save us from those testing failures :-) and then merge it, OK?

[2016-08-26 09:14] bozana commented on #1754
Or maybe @stranack could help us with the better explanation?

[2016-08-26 09:28] NateWr commented on #1754
Ok, my recommendation would be:

**OpenAIRE ProjectID**
If this research resulted from an EU initiative that complies with the OpenAIRE metadata platform, please include the ProjectID, a six-digit number which corresponds with the Grant Agreement identifier.

If there's a link that we can point to with more details, that'd be great to include.

Thoughts @stranack?

[2016-08-26 09:55] NateWr commented on #1746
Thanks @bozana!

I think the open access stuff is related to subscriptions, which aren't in OJS 3. So I've removed these fields from the form but left the other bits in place for the future.

We'll see how the tests do. :)

PR:
https://github.com/pkp/ojs/pull/1000

[2016-08-26 12:05] bozana commented on #1604
just the current stable functions will be first migrated...

[2016-08-26 14:07] NateWr commented on #1667
PRs (waiting on tests):
https://github.com/pkp/pkp-lib/pull/1759
https://github.com/pkp/ojs/pull/1001
https://github.com/pkp/omp/pull/329

These PRs remove most of the old filters and tidy up the remaining ones (published before/after and authors).

I only removed the old filters from the template files. I wasn't sure if there would be desire to add them back in or what, but if not then there's so

[2016-08-27 14:11] bozana commented on #1604
@asmecher, mind you taking a look at this PR: https://github.com/pkp/ojs/pull/1003

[2016-08-27 14:40] asmecher commented on #1667
Thanks, @NateWr; just a couple of comments from me and @mtub. Once those are ready, go ahead and merge. Don't worry about the JS linting problem in Travis testing, I'm working on that separately.

[2016-08-27 14:48] bozana commented on #1751
@NateWr, merged both, can the issue be closed?

[2016-08-27 14:50] bozana commented on #1746
@NateWr, merged, can the issue be closed?

[2016-08-27 14:59] bozana commented on #1749
Merged, thus closing...

[2016-08-27 14:59] #1749 closed

[2016-08-27 15:00] bozana commented on #1696
Merged, thus closing...

[2016-08-27 15:00] #1696 closed

[2016-08-28 06:11] asmecher commented on #1604
Woo! Closing.

[2016-08-28 06:11] #1604 closed

[2016-08-28 14:17] asmecher commented on #1710
All merged, thanks!

[2016-08-28 14:17] #1710 closed

[2016-08-28 14:20] asmecher opened #1760 "Call to removed function getLatestGalleyFiles in article_details.tpl"
That function has been removed (some time ago); OTOH you should be able to use `$galley->getFile()` (checking if it exists or not -- it may be a remote URL galley instead).

[2016-08-29 02:35] asmecher opened #1761 "Remove compiler.jar from repository and resolve JS style problems with newer version"
Google moved/removed some old versions of their Closure compiler tools from their old download areas, breaking testing. For the OJS 3.0 release I moved my copy into the repo, which is not a great solution.

Remove it, and get things going with the latest stable version of the compiler.

(See: https://github.com/pkp/pkp-lib/commit/12c7be362bfb76c18302116b5f5a4cee86156794)

[2016-08-29 09:12] bozana commented on #1682
This issue was solved together with the issue https://github.com/pkp/pkp-lib/issues/1710, so closing...

[2016-08-29 09:12] #1682 closed

[2016-08-29 09:13] bozana commented on #787
Is this OJS 3.0 milestone?

[2016-08-29 09:31] #1751 closed

[2016-08-29 09:32] #1746 closed

[2016-08-29 09:39] NateWr opened #1762 "Add skip-to links for content in default frontend templates"
Default frontend templates should include hidden skip-to links so that screen readers and keyboard users can quickly jump to the primary navigation menus, main content and sidebar.

[2016-08-29 12:03] NateWr commented on #1667
Ok, tests are re-running. I'll update you when they're passing for final code-check and merge.

[2016-08-29 12:44] NateWr commented on #1760
Are you maybe talking about [galley_details.tpl](https://github.com/pkp/ojs/blob/master/templates/frontend/objects/galley_details.tpl#L19)?

It looks like this file came with some work @bozana did on pub ids. It appears to be a galley interstitial view. Any advice on how I can view it and style it as needed?

I noticed the same method is used in the `lensGalley` and `pdfJsViewer` plugins.

[2016-08-29 13:40] NateWr commented on #1739
I've fixed a number of tests, but still having a JS linting issue, and the last `mysql` test timed out. But in the interests of time, I've gone ahead and opened PRs for the various repos.

PRS:
https://github.com/pkp/pkp-lib/pull/1763
https://github.com/pkp/ojs/pull/985
https://github.com/pkp/omp/pull/330

If it's not too late for you @bozana, can you code review? Otherwise @asmecher can take over

[2016-08-29 14:22] bozana commented on #1760
Hmmm... I think I introduce it, like a galley view page, where the pub ids are displayed, but I believe it is not needed i.e. there shouldn't be that galley front end page, right?

[2016-08-29 14:25] NateWr commented on #1760
Ideally, PDFs, HTML and eLens galleys would just load themselves for viewing, and other formats would just download themselves. But maybe @asmecher knows of another reason these pages need to exist. I know there is some Google Scholar stuff related to interstitials.

[2016-08-29 14:39] bozana commented on #1760
I think this template gelley_details.tpl is not used at all and can be deleted

[2016-08-29 14:51] NateWr commented on #1760
Thanks, I can do that tonight or tomorrow night unless Alec suggests otherwise.

[2016-08-29 15:20] asmecher commented on #787
Hmm, perhaps not. I'm just not used to hearing anyone say "OMP 3.0".

[2016-08-29 15:22] NateWr commented on #787
lol, this will probably get punted, but let's see how we feel after the meeting tonight.

[2016-08-29 15:28] asmecher commented on #1760
@NateWr, `galley_details.tpl` appears to be referenced from `templates/frontend/pages/article.tpl`.

[2016-08-29 15:33] NateWr commented on #1760
Yes it is. I just don't know if it's actually used or required.

[2016-08-29 15:38] bozana commented on #1760
I think it is not -- in the pages/article/ArticleHandler, in the function view, where the templates/frontend/pages/article.tpl is called: if there is a galley the function download is called.
That was earlier code, I believe, and when I was testing galley pub ids... Sorry :-\

[2016-08-29 15:40] bozana commented on #1739
@asmecher, could you please overtake the code review for this? -- I am not so familiar with themes. I think I found the solution for the JS linting error... :-)

[2016-08-29 16:01] bozana commented on #1753
Sorry, @asmecher, one more place where I will have to remove it -- for the schedule tasks... Thus one more commit is coming... THANKS!!!

[2016-08-29 16:49] asmecher commented on #1739
Thanks, @NateWr & @bozana. A few changes before it's ready to merge, @NateWr, but I don't think it'll need another review -- once you're ready, go ahead and merge. This looks really good.

[2016-08-29 16:51] bozana commented on #1739
I knew Alec would be more helpful! :-)

[2016-08-29 16:52] asmecher commented on #1754
Closing!

[2016-08-29 16:52] #1754 closed

[2016-08-29 17:03] asmecher commented on #1753
Merged, thanks!

[2016-08-29 17:03] #1753 closed

[2016-08-29 17:20] asmecher commented on #1723
Thanks, @ctgraham, I'm going to knock this over to 3.0.1 for now.

[2016-08-29 18:42] bozana commented on #1663
@asmecher, here is the PR: https://github.com/pkp/pkp-lib/pull/1764
All files uploaded in the review stage will have the anonymous default file name. Also the files copied from the submission to the review stage (by "Send to Review" action), if they have the default file names -- if they have the default file names, the names will be change to the anonymous default file names. Hope this is OK...

[2016-08-29 21:45] stranack opened #1765 "Sidebar Management Wording"
Under Settings > Website > Appearance, in the Sidebar Management section, the text reads:

**Sidebar Management**
Left Sidebar               Unselected

However, the sidebar on the default reader interface is on the right. We should either reword "Left Sidebar" to "Right Sidebar" or just "Sidebar".

[2016-08-29 21:47] crism opened #1766 "[OJS] theme plugin upgrading fails with wrong category message"
When trying to upgrade a theme by uploading a new `.tar.gz` file, I get a message, “The uploaded plugin does not fit the category of the upgraded plugin.” Initial debugging shows that `PluginHelper::upgradePlugin()` is being called with a blank `$category` value.

[2016-08-29 21:57] asmecher commented on #1766
@crism, what version of OJS are you using? Does your plugin have a `version.xml` descriptor? Could you post the tarball somewhere?

[2016-08-29 22:02] crism commented on #1766
Sorry, this is latest-and-greatest as of this morning. The plugin is nearly identical to something previously uploaded; the category is correctly read from `version.xml`, but `UploadPluginForm::execute()` doesn’t get a `$request` object with `category` or `plugin` set. The value’s not getting passed through from `PluginGridHandler::_showUploadPluginForm()`, a victim of the switch to AJAX-land.

[2016-08-29 22:03] stranack opened #1767 "About link on reader nav bar"
From the reader interface, Under About, we no longer have an About link, just Editorial Team, Submissions, Contact.

I know that clicking About takes you to the about page, but many users missed it in testing when it was setup like this, so we changed it so the menu options were: About, Editorial Team, Submissions, Contact.

Can we do this for OJS 3 as well as OMP 1.2?

[2016-08-29 22:05] asmecher commented on #1766
@NateWr has been working on this recently and may be able to help. If you provide him with a plugin tarball, it'll be that much easier :)