[2022-09-13 12:59] #8204 closed

[2022-09-13 13:55] Vitaliy-1 commented on #7287
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/8252
OJS: https://github.com/pkp/ojs/pull/3541

[2022-09-13 14:27] joshnoronha commented on #7300
@bozana I've just checked another install, also in sfulib4 and OJS 3.3.0.7, and everything is working fine. I tried to find a pattern, but no luck, both installs are exactly the same, except one of them has the Paypal issue.

[2022-09-13 15:14] asmecher commented on #8093
@defstat, I see in `QuickSubmitForm::initData`...
[code]
These DAOs no longer exist, which will cause fatal errors when the quickSubmit form is initialized.

[2022-09-13 15:35] marcbria opened #8253 "Unable to remove journals on OJS 3.3.0 after importing with native xml plugin"
**Describe the bug**
On a clean OJS 3.3.0-11, I create a new journal and then I full enable 2 langs (UI, Forms & Submission).
I follow the full workflow and I publish a new issue with 1 article associated to ART section.
Then I export this issue with the native import&export plugins.

In same OJS I create a second journal with 2 langs full enabled and I use the native import&export plugins to impo

[2022-09-13 15:53] marcbria commented on #8253
Tried to remove (without success)...
- Filling all section lang names and abbr.
- Changing default primary lang.

Full error stack trace is:

[code]

[2022-09-13 17:07] asmecher commented on #8253
Oh, NVM, I see it's in the first part of the entry.

[2022-09-13 17:28] marcbria commented on #8253
When I removed all articles (unpublish > assign editor > refuse the article > delete), I could remove the journal.

BTW, my report was partial. A fellow just explained me that one of the articles I exported, was initially published with quicksubmit.
So the issue is somewhere between multilang + quicksubmit + native xml import/export. :-(

Alec, I know you all have your hands full so what about clo

[2022-09-13 19:51] asmecher commented on #8253
I believe this will be resolved with https://github.com/pkp/pkp-lib/issues/6093 in OJS 3.4; since journal deletion is a very very uncommon task, I don't mind leaving it unresolved in LTS.

[2022-09-13 20:52] marcbria commented on #8253
I suspect won't be as uncommon in big installations that have testing journals that like to clean up from time to time.

My guess is this is caused by quicksubmit + i18n + native xml import/export combination, that miss exporting data that is essential and breaks DB integrity...

But let's close it till we find time to discover how to reproduce the issue.

Thanks for your time Alec.

[2022-09-13 20:52] #8253 closed

[2022-09-13 21:49] asmecher commented on #8247
Yes, in OJS 2.x the reviewer access key was limited to just the review process. It was implemented here:
https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/pages/reviewer/ReviewerHandler.inc.php#L102
All user object fetches in the review process derived from this code.

In OJS 3.x it's no longer the case; the access key grants complete access to the reviewer's account.

[2022-09-13 22:13] librariam commented on #4789
Hi @NateWr. Patricia and I and the team chatted about this today. It looks like both scenarios are possible, but it would be preferable to resend an invitation to the reviewer so they could accept the privacy statement and check the review deadlines – which it seems they won’t be able to if the editor were to accept on their behalf.

[2022-09-13 23:33] asmecher commented on #8249
@NateWr, I think the issue is that you have *both* `PKP\task\ReviewReminder` and `lib.pkp.classes.task.ReviewReminder` in the `scheduled_tasks` table. Try removing `lib.pkp.classes.task.ReviewReminder`. The migration should've taken care of renaming so I'm not sure why you have both -- perhaps you ran OJS before I had some of the details nailed down? In any case, now that you do have both, the mig

[2022-09-14 01:13] asmecher commented on #4789
IMO it's important that the reviewer be the one to accept/decline the invitation, rather than letting the editor do it on their behalf. I would favour something that reverts a reviewer's previous Decline and invites them to Accept the review themselves.

[2022-09-14 06:54] touhidurabir commented on #4789
In that case, should we let editor the sent the request to reconsider it only once or as many time as the editor want to ? current PR implementation let the reconsider request to sent only once as that seems like an appropriate behaviour rather than sending it many times if the reviewer keep declining it . So basically if the reviewer declined the reconsider request/invitation , no more reconsider

[2022-09-14 08:24] bozana commented on #7300
Thanks a lot @joshnoronha!
Yes, very strange...
:thinking:

[2022-09-14 08:55] NateWr commented on #8241
Thanks @ronste. I opted for a slightly longer message to be a little bit clearer. Also, I think the email will _always_ expose the user's identity -- at least their email address -- even if they remove the name from the email.

![bcc](https://user-images.githubusercontent.com/2306629/190108970-eaa59518-5a85-4729-946a-4a2fd7a46aed.png)

@asmecher this locale key was missing from almost all of the l

[2022-09-14 09:03] ronste commented on #8241
Thanks @NateWr ,

"Also, I think the email will always expose the user's identity -- at least their email address -- even if they remove the name from the email."

Ohh, sure. I didn't think of this. The normal recipients will be visible to the reviewers too ... good you changed that with 3.4!

[2022-09-14 09:08] NateWr commented on #7165
I think this is a holdover from the way that things worked in `stable-3_3_0`. There the publication date was set in lib/pkp:

https://github.com/pkp/pkp-lib/blob/stable-3_3_0/classes/services/PKPPublicationService.inc.php#L555-L557

Then a hook was called:

https://github.com/pkp/pkp-lib/blob/stable-3_3_0/classes/services/PKPPublicationService.inc.php#L581

And in OJS, a callback was registered to

[2022-09-14 09:29] NateWr commented on #8247
I've updated the description.

![one-click](https://user-images.githubusercontent.com/2306629/190117009-94312086-17ec-4adc-82f0-241aa9d99317.png)

@asmecher sorry, this is another one where I'm not quite sure what to do about the translations. This fix will go into `stable-3_3_0`, and I've marked the appropriate locale keys `#, fuzzy`. But will translators know to update this?

PRs:
https://github

[2022-09-14 09:33] NateWr commented on #8249
Ah, right! Good spot. Ok, closing this but will keep an eye out.

[2022-09-14 09:33] #8249 closed

[2022-09-14 09:43] NateWr commented on #4789
Thanks @librariam and @asmecher, that makes sense.

I'd say as many times as they want. An abusive editor is a human problem and one that should be resolved within the editorial team. Editors can already create users and do other potentially abusive things as much as they want.

@touhidurabir in light of these comments, can we update the naming of the classes and the terminology used in buttons an

[2022-09-14 13:39] jonasraoni commented on #7635
**PRs**
`main`
- https://github.com/pkp/pkp-lib/pull/8256
- https://github.com/pkp/omp/pull/1204

`stable-3_3_0`
- https://github.com/pkp/omp/pull/1202
- https://github.com/pkp/pkp-lib/pull/8254

[2022-09-14 13:54] ajnyga commented on #7165
but this would mean that if I have an issue already published and add a new article with a specific datePublished stamp, that will be changed to the issue-published-date?

[2022-09-14 14:00] ChristieHurrell commented on #4789
Agree with comments from @librariam and @asmecher -- scenarios for us where this has come up are
(1) when reviewer has accidentally declined
(2) when reviewer has declined because of logistical reasons (e.g. timeframe) that were able to be adjusted
So I think that allowing the editor to resend the request as many times as they want is the best and clearest solution, and agree with terminology prop

[2022-09-14 14:02] ajnyga commented on #7165
The code example above will not overwrite `datePublished` to null, it only happens if `!$issue->getData('datePublished')`. Meaning that it will just set the `datePublished` to null so that it does not cause an error when the form is saved, because an empty value is not a valid datestamp.

[2022-09-14 14:10] harshakokel commented on #7432
Hello,

Is there a fix for this? We are facing the same issue on the [JAIR website](https://www.jair.org/) that recently upgraded to OJS 3.3.

Regards,
hkokel@utdallas.edu

[2022-09-14 14:30] NateWr commented on #7165
You're right. In that case, it should only use the issue published date if the publication doesn't have one yet:

[code]

I think that will cover all of these workflows:

1. Schedule publication without date in unpublished issue -> publish issue = publication has issue date
2. Schedule publication with date in unpublished issue -> publish issue = publication has publication date
3. Schedule public

[2022-09-14 15:04] ajnyga commented on #7165
Thinking that it might cause problems if the empty publication-published-date is not set to null. I mean it might cause a db error because an empty string would not be valid for a datestamp field?

[2022-09-14 15:17] ajnyga commented on #7165
Quicksubmit should be covered with that. If you choose that this is a published article, you are forced to choose an issue and add a datePublished. So it would go to the `else` loop.

But with the regular workflow, I wonder what happens when you schedule without a date to an unpublished issue. That would also go to the `else` loop and probably will throw an error because the date has to be valid o

[2022-09-14 15:21] ajnyga commented on #7165
This is edited from my initial suggestion:

[code]

[2022-09-14 15:50] asmecher commented on #8241
Unfortunately yes -- that does appear to be correct. Probably a reflection of the short time the Weblate installation spent on the `stable-3_3_0` branch before moving on to `main` -- an error on my part that's dogged me since then!

[2022-09-14 17:06] asmecher commented on #7105
Hi @touhidurabir! It looks like there are still some commits coming in since your [comment](https://github.com/pkp/pkp-lib/issues/7105#issuecomment-1243584917); is this ready for me to take another review?

[2022-09-14 18:42] asmecher commented on #6875
Not sure if this is answering your question -- but assistant roles are the catch-all for copyeditors, layout editors, proofreaders, etc. They are press/journal/server "insiders" (i.e. they can't self-register, are expected to be a select few, and can be considered to have a paid/professional relationship with the journal/server/press) but may also be contract roles, i.e. their work may be provided

[2022-09-14 22:17] AhemNason opened #8258 "Add more context and documentation to Crossref setup/credentials"
**Describe the problem you'd like to solve**
The Crossref plugin settings page is a frequent source of misunderstandings or user error. Additionally, there are _two different ways, potentially_ that user credentials might need to be entered depending on the Crossref membership. In short, Crossref have been transitioning from a system where members all share one login to a system in which multiple

[2022-09-14 22:29] asmecher commented on #7300
I'm content to defer this to 3.3.0-13 -- though of course a resolution (and/or reliable reproduction steps) would always be welcome!

[2022-09-14 22:30] asmecher commented on #7563
@withanage, are you still working on this one? Should it be deferred to 3.3.0-13?

[2022-09-14 22:31] asmecher commented on #6324
@NateWr, unless you have any objections, I'll defer this to 3.3.0-13.

[2022-09-14 22:31] asmecher commented on #7238
@NateWr, unless you have any objections, I'll defer this to 3.3.0-13.

[2022-09-14 22:32] asmecher commented on #7296
@NateWr, unless you have any objections, I'll defer this to 3.3.0-13.

[2022-09-14 22:55] asmecher commented on #7787
@Vitaliy-1, was this issue mitigated by https://github.com/pkp/pkp-lib/issues/7479?

[2022-09-15 00:46] asmecher commented on #6545
PRs:
- https://github.com/pkp/ojs/pull/3545
- https://github.com/pkp/ops/pull/352

@jonasraoni, when these finish testing, could you have a look?

[2022-09-15 07:11] touhidurabir commented on #4789
@NateWr PRs to review

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8242
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3538
[ui-library](https://github.com/pkp/ui-library) --> https://github.com/pkp/ui-library/pull/215

Once we finalise the changes for the `OJS`, I will port the changes for `OMP` .

[2022-09-15 08:44] NateWr commented on #8247
Ok, I've merge this to `stable-3_3_0` and cherry-picked it to `main` and the translations can get sorted out later. Thanks for reporting, @ronste!

[2022-09-15 08:44] #8247 closed

[2022-09-15 08:45] NateWr commented on #8241
Ok, I've merged to `stable-3_3_0` and the translations can get updated later. Thanks @ronste!

[2022-09-15 08:45] #8241 closed

[2022-09-15 11:15] withanage commented on #7563
@asmecher  I  could not  come to this until now  and wanted to look at it this weekend!  May be it is better to defer this, if I  do not get this finished,  cause this area is  little new to me.

[2022-09-15 14:06] asmecher commented on #7563
Sure, let's defer it.

[2022-09-15 14:27] mhvezina commented on #8067
"_If encountering this issue, you can fix it by applying this change in lib/pkp: https://github.com/pkp/pkp-lib/pull/8070/files_"

... and also applying the same kind of fix for the Copyedited section :
controllers/grid/files/copyedit/form/ManageFinalDraftFilesForm.inc.php
that is:

[code]

[2022-09-15 14:30] asmecher commented on #8067
@mhvezina, do you mean `lib/pkp/controllers/grid/files/copyedit/form/ManageCopyeditFilesForm.inc.php`? I believe that's filed/fixed here: https://github.com/pkp/pkp-lib/issues/8068

[2022-09-15 14:31] asmecher commented on #8067
(I'll be releasing OJS/OMP/OPS 3.3.0-12 within a few days, which will include fixes for these issues.)

[2022-09-15 14:52] mhvezina commented on #8067
yes "ManageCopyeditFilesForm.inc.php", my bad...

I saw this is fixed in the soon-to-be released 3.3.0.12 but I thought it might be usefull to know for those who will not install this version yet.

[2022-09-15 16:18] Vitaliy-1 commented on #7787
Yes, looks like it has been solved

[2022-09-15 16:18] #7787 closed

[2022-09-15 16:27] Vitaliy-1 opened #8259 "Reviewer Grid related forms are broken"
**Describe the bug**
Unable to initialize forms in the reviewer grid because of missing import statements, e.g., when trying to load edit review form:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Make a submission and pass it to the review stage
2. Assign a reviewer
3. Click on the "Edit" button in the reviewer grid
4. See error

**What application are you using?**
 OJS main branch

[2022-09-15 16:38] Vitaliy-1 commented on #8259
PR to pkp-lib: https://github.com/pkp/pkp-lib/pull/8260
tests: https://github.com/pkp/ojs/pull/3546

[2022-09-15 16:50] asmecher commented on #7352
Touhidur and I talked about this today and especially the case where we do have to present several languages with different country codes alongside each other (e.g. pt_PT and pt_BR). This won't be common for end users but there is the case above that Nate mentioned (https://github.com/pkp/pkp-lib/issues/7352#issuecomment-1238251497) and it will be a problem e.g. on the configuration forms and inst

[2022-09-15 17:14] NateWr commented on #7352
The case that I mentioned in my comment was actually a case _against_ using country names. Journals were enabling the same language in two countries because the country names made the language seem exclusive to one country or another.

Do we know of a real-world use case where a journal _wants_ to have two country options for the same language with the same character set?

[2022-09-15 17:55] asmecher commented on #7352
On the installation form (and the settings forms) we need something that'll distinguish between `fr_CA` and `fr_FR`, and can't just list "French" twice. So those lists need to be specific.

For end-user-facing content, they should be as general as possible -- listing only the language `Portuguese / Português` unless the journal has chosen to enable both `Portuguese / Português (Brazil)` and `Portu

[2022-09-15 17:56] asmecher commented on #6080
@ctgraham, the country name is removed from the locale list as of 3.4 (https://github.com/pkp/pkp-lib/issues/7871); for customizing the country list; would that resolve the issue for you?

[2022-09-15 18:52] me-kell commented on #8003
IMHO this should not need a feature request since this is a feature that already existed and apparently disappeared.

The username is though brought to the html/css code but wrongly shown with `left: -2000px` (see my comments above).
When the user is logged as another user both the "parent" username and the current username are shown.
See detailed comments/explanations under (https://forum.pkp.sfu

[2022-09-15 19:09] asmecher commented on #6545
Merged, thanks Jonas!

[2022-09-15 19:09] #6545 closed

[2022-09-15 19:59] asmecher commented on #6093
PRs for controlled vocab tables:
- https://github.com/pkp/pkp-lib/pull/8261
- https://github.com/pkp/ojs/pull/3547 (TESTS ONLY)

[2022-09-15 20:22] nmueller18 commented on #8003
I very much second this request for showing the username in the dashboard as was the case in OJS 3.2. As site and journal manager with several identities of different granularity of access rights, it is very annoying that I cannot see with one glance which identity I am currently using but only find out when I am not allowed to do certain things.

[2022-09-15 20:43] ctgraham commented on #6080
Yes, I think so.

[2022-09-15 20:43] #6080 closed

[2022-09-15 20:46] asmecher commented on #6080
Great, thanks! There are also some relevant discussions over here if you're interested: https://github.com/pkp/pkp-lib/issues/7352

[2022-09-16 06:42] touhidurabir opened #8262 "Email variables not being parsed and replaced in mail preview"
**Describe the bug**
The email template variable not getting properly parsed and replaced in the mail preview. But in the original sent mail, they are ok .

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any submission and follow through the external review process.
2. Try to invite a new reviewer or try to resend the invitation .
3. See in the `mail preview` right before sending the

[2022-09-16 08:15] Vitaliy-1 commented on #8262
Hmm, I'm trying to reproduce it. Is it a new template/functionality that isn't yet on the main branch? The referenced code isn't related (it's for unassign reviewer or reinstate reviewer) and I'm unable to find the template on the screenshot. According to the text, it should appear when the reviewer declines the initial request and the editor is trying to assign a second time, right?

[2022-09-16 08:25] #8259 closed

[2022-09-16 09:25] Vitaliy-1 opened #8263 "Current and default values are not being displayed correctly in form fields (as per appearance theme form)"
**Describe the bug**
Unable to pick the colour for the default theme header as the colour picker isn't displayed. Errors in the browser console:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Website settings -> appearance -> theme
2. See that `Colour` option is missing the colour picker

**What application are you using?**
 OJS main branch

**Additional information**
![Theme_h

[2022-09-16 09:31] touhidurabir commented on #8262
@Vitaliy-1 yes, it's a new mailable for the issue pkp/pkp-lib#4789 which still not merged with main yet .

[2022-09-16 10:37] me-kell commented on #8003
I really cannot understand why not to show the username. Please reopen this issue.

For those like me want to see the username showing in the dashboard (this is a copy of https://forum.pkp.sfu.ca/t/username-not-showing-in-dashboard/73754/8):

Some Browsers, e.g. Firefox allow to locally override the css (for one site or for all sites). See for instance [How can I override the CSS of a site in Fire

[2022-09-16 12:49] pilasou commented on #2564
Hi @asmecher and @NateWr, reviewing this large and ancient discussions and just to tend to wrap up a bit: Unicode support is a partial solution to this problem. Bold and Italic would need to twist TinyMCE to have it work with Title fields as discribed above in https://github.com/pkp/pkp-lib/issues/2564#issuecomment-377704207
Do we know if new version of TinyMCE supports single-line input? Could th

[2022-09-16 13:49] touhidurabir commented on #4789
@nate PR updates to review

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8242
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3538
[ui-library](https://github.com/pkp/ui-library) --> https://github.com/pkp/ui-library/pull/215

[2022-09-16 15:07] me-kell opened #8266 "Wrong translation for username in ./lib/pkp/locale/de_DE/manager.po"
The OJS download files for versions from `3.3.3.0.8` until `3.3.3.0.11` (as offered in https://pkp.sfu.ca/ojs/ojs_download/)
have a file `./lib/pkp/locale/de_DE/manager.po` that differs from the sources (https://github.com/pkp/pkp-lib/blob/6f673bd0d17c165435063b4acb2397986bfdc98f/locale/de_DE/manager.po#L2026) and with a wrong message variable:

Line #2158 is `msgstr "Sie sind derzeit als {$Benutz

[2022-09-16 15:51] asmecher commented on #8266
This correction will be included in 3.3.0-12, due out shortly. It has already been corrected in `main` (for 3.4.0) via Weblate.

[2022-09-16 15:51] #8266 closed

[2022-09-18 12:47] ajnyga commented on #6875
@asmecher @NateWr

I am a bit worried with changing code that to me has an unknown purpose.

I mean these lines:
https://github.com/pkp/pkp-lib/blob/main/classes/security/authorization/StageRolePolicy.php#L88-L112

What we are doing now is that since `ASSOC_TYPE_ACCESSIBLE_WORKFLOW_STAGES` is not set here
https://github.com/pkp/pkp-lib/blob/main/classes/security/authorization/StageRolePolicy.php#L

[2022-09-18 12:57] ajnyga commented on #6875
However, this would fix the situation where a manager is assigned as a section editor or as an assistant. Meaning that for example when a manager is assigned as a layout editor, they can publish as usual. This is also how the UI works, it shows the buttons by overriding based on the manager role instead of the stage assigment role.

I also changed the commenting a bit

[code]

[2022-09-18 20:47] me-kell opened #8268 "Inacurate german translation of the word `review` in the string `submission.submit.whatNext.review`"
The german translation of the word `review` in the string `submission.submit.whatNext.review` is misleading for most users and IMHO wrong.

The string is used at the end of the submission process, when the user is asked `What Next?`

While in english the word `review` has both meanings: on the one side `check` or `control` and one the other side `review` (as in a publishing process).

[code]

In G

[2022-09-19 08:59] NateWr commented on #7352
Ok, makes sense. It won't "fix" things for existing users who have already enabled two languages to compensate. But it will improve things going forward. Maybe we can mention it in our release notebook, too.

[2022-09-19 11:03] NateWr commented on #7165
This shouldn't be handled in the `Repo::publication()->publish()` step at all. In other words, the publication should have a valid `date_published` value already. The `publish()` function should only update this value to set it. It should not have to set it to `null` during the publish step.

[2022-09-19 11:05] bozana commented on #6849
PR:
pkp-lib: https://github.com/pkp/pkp-lib/pull/8271

[2022-09-19 11:13] NateWr commented on #8258
@AhemNason we're going to need a more detailed proposal before we're ready to begin work. I'm going to close this for now, but if you can draft the language for the settings form fields and description, the actual implementation won't be very difficult and I can re-open this.

[2022-09-19 11:15] bozana commented on #6849
@asmecher, could you please review the PR?
I did not use the regex, but the code that was used in usageStats plugin -- the code should work with our internal log files as well as apache log files -- it worked earlier, so... The URLs from our internal log files could eventually be caught with the regex -- because we always saved the canonical URL -- but I do not think the apache ones could -- those

[2022-09-19 11:18] bozana commented on #6781
@ctgraham, the major functionality is in the main branch. It would be great and I would be very happy if you would like and have some time to take a look/test...  but... no pressure, of course... :-)

[2022-09-19 11:19] NateWr commented on #4789
Looks good. Happy to merge once OMP is ready. :+1:

[2022-09-19 12:36] pverberne commented on #4595
We have similar problem: I host 4 journals in a subdomain in 1 installation of OJS.
config.inc.php:

base_url = "https://openjournals.maastrichtuniversity.nl"
base_url[index] = "https://openjournals.maastrichtuniversity.nl"
base_url[mjla] = "https://openjournals.maastrichtuniversity.nl/mjla"
base_url[msjpn] = "https://openjournals.maastrichtuniversity.nl/msjpn"
base_url[SustainabilityStudies] = "h

[2022-09-19 15:03] jonasraoni opened #8272 "The validate step of the build isn't failing properly"
**Describe the bug**
The validate step of the build process is passing, even though there are errors.
In this link https://app.travis-ci.com/github/pkp/ojs/jobs/583130178 it's possible to view problems related to the JavaScript minifier and the XML validation.

**What application are you using?**
/stable-3_3_0
/main

[2022-09-19 15:31] touhidurabir commented on #4789
@NateWr `OMP` PR updated . Final PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8242
[ui-library](https://github.com/pkp/ui-library) --> https://github.com/pkp/ui-library/pull/215
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3538
[omp](https://github.com/touhidurabir/omp) --> https://github.com/pkp/omp/pull/1201

if test pass, it's g

[2022-09-19 15:47] touhidurabir opened #8273 "Workflow Activity Log not loading"
**Describe the bug**
The `Activity Log` related to a submission in the `workflow` section not loading .

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new submission.
2. Login as `Editor` and go to that submission details.
3. Click on the `Activity Log` from top right and see the spinner continue to spin but contents not loading.

**What application are you using?**
 OJS, OMP `main

[2022-09-19 16:34] prechelt opened #8274 "ReviewFormResponseDAO::insertObject creates an E_NOTICE and stacktrace"
Every call to `insertObject()` makes a call to `update()` that uses a _method call_ for the `&type` parameter, which produces a PHP notice.
`insertObject()` should be structured like `updateObject()` where a helper variable is used instead.

PRs #8269 and #8270 repair this problem.

[2022-09-19 16:39] #7288 closed

[2022-09-19 16:49] kshuttle opened #8275 "Copyeditor cannot publish if their account is also assigned JM or JE role"
**Describe the bug**
If a user is assigned as CE on a submission, they will not be able to publish if their user account is also a "manager" in the journal (JM or JE). Doesn't matter if you are assigned that role to the submission or not. Simply having both roles assigned to a user prevents the user from publishing when they are assigned as a CE on the submission.

**To Reproduce**
Steps to reprod

[2022-09-19 17:12] defstat commented on #7249
@asmecher there are 2 PRs, for `stable-3_3_0` and `main` branches for that in the [top ](https://github.com/pkp/pkp-lib/issues/7249#issue-985106696) comment. for review

[2022-09-20 03:50] israelcefrin commented on #5196
PRs
OJS - https://github.com/pkp/ojs/pull/3528
OPS - https://github.com/pkp/ops/pull/354

[2022-09-20 08:45] NateWr commented on #4789
All merged to `main`. :tada: Thanks @touhidurabir!

[2022-09-20 09:08] NateWr commented on #5196
Thanks @israelcefrin. There's a unit test error in the OPS pull request. https://app.travis-ci.com/github/pkp/ops/jobs/583277823 I don't think it's related to your changes, but I don't want to merge it in in case we break the build for others.

@asmecher does this test failure look familiar to you? @israelcefrin has only changed CSS so pretty sure it can't be related:

https://app.travis-ci.com/gi

[2022-09-20 10:05] NateWr commented on #5697
Looks good, @defstat. The OJS/OPS work seems like a small enough intervention that I'm happy for it to go into `stable-3_3_3`. I've left some comments on a few things that need to be resolved, but I don't expect they'll take you more than a couple hours.

After reviewing the OMP stuff, I think there's a lot more work there to get this feature going. Let's abandon it for OMP.

[2022-09-20 10:12] NateWr commented on #5697
Sorry, I forgot to mention one thing in my review: The form in the identifiers tab is not disabled. You can enable the publisher id under Settings > Workflow > Submission > Metadata to make the tab appear when editing a galley. You'll also want to enable DOIs for galleys (Settings > Website > Plugins > DOI > Settings) and make sure that can't be edited.

[2022-09-20 12:15] Vitaliy-1 commented on #7287
Finally, the migration tests went through.
@NateWr, can you take a look at these two PRs? If it looks ok, I port it to other applications

[2022-09-20 12:43] bozana commented on #8250
final PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/8278
ojs: https://github.com/pkp/ojs/pull/3548
omp:
ops:

[2022-09-20 13:52] Vitaliy-1 commented on #3227
Done. `submissionId` email template variable is now assigned to all submission-related emails.

[2022-09-20 13:52] #3227 closed

[2022-09-20 14:07] jmacgreg commented on #3227
Woooo!!

[2022-09-20 14:42] ajnyga commented on #7165
So are you thinking that it should be set to null in `Repo::publication()->add()` and `Repo::publication()->version()`

[2022-09-20 15:19] asmecher commented on #4789
Excellent work, @touhidurabir, and thanks for the assist, @NateWr!

[2022-09-20 15:54] asmecher commented on #5196
@NateWr, I think that test failure is just due to an out of date `lib/pkp` submodule; I've started a round of tests on the `main` branch to see if it's resolved. Please go ahead with this one (review and merge) as though the tests were passing in OPS.

[2022-09-20 16:03] NateWr commented on #5196
Ok, all merged to `main`. :tada: Thanks everyone!

[2022-09-20 16:03] #5196 closed

[2022-09-20 16:08] asmecher commented on #7249
I've added comments to both main and stable-3_3_0 PRs, but I don't think this one actually needs to be ported to stable-3_3_0 -- especially since we're not doing database changes between builds.

[2022-09-20 17:45] Vitaliy-1 opened #8279 "Integrity constraint violation during migration of navigation_menu_item_assignment_id"
**Describe the bug**
Receiving an error during the test upgrade of an OJS instance:
[code]

**To Reproduce**
1. Install OJS stable branch
2. Go to Website settings -> setup -> navigation
3. Add a new custom item
4. Edit primary navigation menu to add the new menu item to the end of the already assigned items
5. See a new entry in a `navigation_menu_item_assignment_settings` table
[code]
6. Run an

[2022-09-20 17:56] AhemNason commented on #8258
**Describe the Solution You'd Like**

<img width="1041" alt="OJS-DOIs-Crossref-settings" src="https://user-images.githubusercontent.com/504276/191330012-0423a6b5-889e-483e-a949-beed80ae1ecc.png">

**Field 1**: _Depositor Name_
Change the text from `Depositor name` to the following:
`Depositor name: Name of the organization registering the DOIs (note: this field is not authenticated with Crossref).

[2022-09-20 18:02] Vitaliy-1 commented on #8279
The error can be also reproduced on the clean OJS main branch (without an upgrade) just by saving edit primary navigation menu form

[2022-09-20 19:55] asmecher commented on #8268
@me-kell, the best way to get translation corrections into the system is using our Weblate installation at https://translate.pkp.sfu.ca/; for the moment, it's configured to deliver translations to the `main` branch, which will be released as 3.4.0 in Q1 next year, but we're working towards a process that better allows us to support translation changes in multiple branches (see https://github.com/p

[2022-09-20 19:55] #8268 closed

[2022-09-20 20:04] asmecher commented on #8274
Thanks, @prechelt, I've merged both!

[2022-09-20 20:04] #8274 closed

[2022-09-20 20:44] asmecher commented on #6875
Hi all -- I'm deferring this to 3.3.0-13 as I think pressure to get it solved will probably lead us to breaking either OJS or OPS, which will be an unpleasant surprise for a minor release. I'm going to move ahead with the 3.3.0-12 release, and we can come back to this under a little less time pressure and figure out both an expedient solution to the original OPS problem, and a longer term solution

[2022-09-21 02:54] diepz commented on #8279
@Vitaliy-1, try the following way click `Administration` -> `Clear Data Caches` and `Clear Template Cache`
I hope this could help you.

[2022-09-21 05:54] touhidurabir commented on #7105
@asmecher all test has passed. PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8133
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3476
[omp](https://github.com/pkp/omp) --> https://github.com/pkp/omp/pull/1199
[ops](https://github.com/touhidurabir/ops) --> https://github.com/pkp/ops/pull/348

as per per our last discussion, I have brou

[2022-09-21 08:13] NateWr commented on #6779
Deferring this for now because we're running low on time for 3.4.

[2022-09-21 08:28] NateWr commented on #8258
Ok thanks. Field 1 and 2 are still unclear to me. Can you say more about how this information is used? Saying it is "not authenticated" only tells me how it is not used. Is this metadata that's part of the deposit? Should the organization be a journal or a publisher or something else?

I'll re-open this and leave it for Erik to review on his return.

[2022-09-21 09:13] bozana commented on #8250
Thanks a lot @NateWr !

[2022-09-21 09:13] #8250 closed

[2022-09-21 10:40] NateWr commented on #7836
While reviewing some unrelated code changes, I think I identified the source of the problem. The logic here is will show reviewer names to editors even if they are assigned in another role:

https://github.com/pkp/pkp-lib/blob/stable-3_3_0/controllers/grid/queries/form/QueryForm.inc.php#L241-L247

The logic should be:

[code]

[2022-09-21 12:08] ajnyga commented on #7165
I am sure I saw fatal error regarding the missing NULL value at some point, but can not reproduce that anymore. So it was probably some other reason that produced it.

I tested the code you suggested with minor changes. Note that I do not think it is possible at the moment to publish something without an issue (case 1). Or did I misunderstand something?

[code]

But anyway, I tested all these scen

[2022-09-21 12:40] ajnyga commented on #7165
pr: https://github.com/pkp/ojs/pull/3500

[2022-09-21 12:48] Vitaliy-1 commented on #8279
I can reproduce this also on a fresh install. Here's a PR that resolves the problem for me: https://github.com/pkp/pkp-lib/pull/8282
What I found is that in my case [PDO::lastInsertId()](https://github.com/pkp/pkp-lib/blob/6f82e69dad1c8d264bfa97eba5cc59c3fba745fa/classes/db/DAO.php#L199) returns `'0'` if executed not after INSERT statement, like in  `NavigationMenuItemAssignmentDAO::insertObject`.

[2022-09-21 12:57] jonasraoni commented on #7623
Updated PRs:
`main`
- https://github.com/pkp/ops/pull/351
- https://github.com/pkp/pkp-lib/pull/8276

`stable-3_3_0`
- https://github.com/pkp/ops/pull/350
- https://github.com/pkp/pkp-lib/pull/8277

[2022-09-21 16:57] asmecher commented on #8279
Ah, are you using PostgreSQL? Yes, the ID fetch needs to be executed right after the `INSERT` for PostgreSQL (and it's a good idea in general). Does this resolve it?
[code]

As for parameters to `getInsertId`, watch out for `_getInsertId` (which is protected and does take parameters) and `getInsertId` (which is public and doesn't).

[2022-09-21 19:21] asmecher commented on #5774
Merged -- thanks, @ajnyga!

[2022-09-21 19:21] #5774 closed

[2022-09-22 04:01] ajnyga commented on #6875
Ok, just want to note that we encounter this in OJS as well.

[2022-09-22 07:30] touhidurabir commented on #7391
@asmecher please review the PRs
[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8283
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3550

[2022-09-22 08:43] Vitaliy-1 commented on #8279
Yes, as I referenced in the PR, this resolves the problem. But I was using MySQL to test this issue.
[code]

Those arguments aren't used anywhere. The method's signature doesn't accept anything: https://github.com/pkp/pkp-lib/blob/79ebd6d9d4f00da7e0973df4270f0b7ed839c4b2/classes/db/DAO.php#L197. Is the idea to pass `$name` parameter to `PDO::lastInsertId()`?

[2022-09-22 09:52] Vitaliy-1 opened #8284 "Migration error during upgrade from < 3.2.0 with PHP 8.1"
**Describe the bug**
I am receiving a fatal error during the migration of OJS with versions below 3.2.0 to the current main with PHP8.1:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install OJS stable 3.1.2 version
2. Prepare for upgrade
3. Run migration from CLI: `php8.1 tools/upgrade.php upgrade`
4. See error

**What application are you using?**
 upgrade from OJS stable-3_1_2 to

[2022-09-22 11:18] Devika008 commented on #7391
![Template - Desktop](https://user-images.githubusercontent.com/112014397/191731443-44532b10-cc82-4921-8248-3d866716bf2b.png)

So this is what I propose. The user information which we want to keep uneditable, we will playback them on the grey patch to clearly distinguish what the editor can change and what they cannot. I believe a mechanism like this can be extensively used to playback all sorts o

[2022-09-22 13:38] alexxxmendonca commented on #7391
I really like this approach, @Devika008

[2022-09-22 14:45] #8273 closed

[2022-09-22 15:35] asmecher commented on #8279
Ah, you're right. Looking into this, it's a combination of 1) moving from ADODB to Laravel (PDO), and 2) PostgreSQL coming more in line with other DBMSs.

Back when we were using ADODB, PostgreSQL required the name of the table and column in order to determine the sequence used to generate the inserted ID. (See the [footnote on ADODB _insertid](https://adodb.org/dokuwiki/doku.php?id=v5:reference:c

[2022-09-22 17:28] Vitaliy-1 commented on #7287
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/8252
OJS: https://github.com/pkp/ojs/pull/3541
OPS: https://github.com/pkp/ops/pull/357
OMP: https://github.com/pkp/omp/pull/1208

[2022-09-22 17:45] Vitaliy-1 opened #8285 "OMP tests failing when inserting non-existing context ID in submissions after introduction of foreign key constraints"
**Describe the bug**
Broken SubmissionFileDAOTest in OMP:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Run OMP tests on Travis

**What application are you using?**
 OMP main branch

[2022-09-22 17:52] asmecher commented on #8285
Looking into it!

[2022-09-22 19:05] asmecher commented on #8285
Should be resolved, but https://app.travis-ci.com/github/pkp/omp/builds/255889217 will tell.

[2022-09-22 19:18] loockuz opened #8286 "How can add custom metadata for publication with generic plugin"
How can add custom metadata for publication with generic plugin? Please help me in this forum!
https://forum.pkp.sfu.ca/t/how-can-add-textfield-in-submission-wizard/74720/4

[2022-09-22 19:20] asmecher commented on #8286
@loockuz, please be patient; the forum is the best place for questions like this.

[2022-09-22 19:20] #8286 closed

[2022-09-22 19:25] asmecher commented on #8284
Ah, this appears to specifically affect 3.1.2. There is automated test coverage for upgrades from older (3.1.1-2) and newer (3.2.x) upgrades, but not 3.1.2; I've duplicated the issue locally with a test dataset from that version. I'll see if I can track this down and also add automated upgrade testing for 3.1.2.

[2022-09-22 21:54] asmecher commented on #8285
Fixed!

[2022-09-22 21:54] #8285 closed

[2022-09-23 00:41] asmecher commented on #8284
This appears to be an ADODB problem with a recent-ish change to mysqli error handling -- potentially fixed with newer ADODBs, but I wasn't able to find it. Previously, the XMLSchema toolset would look for existing indexes and columns on a table without regard for whether or not that table existed. If it didn't, there would be a MySQL error generated, and a `false` return value from the `MetaIndexe

[2022-09-23 01:57] asmecher commented on #7105
Congratulations, @touhidurabir, I've merged this one!

[2022-09-23 01:57] #7105 closed

[2022-09-23 03:38] asmecher commented on #8284
Tests passed -- committed to `main`. But I think I'll also back-port this to `stable-3_3_0`, since it's not otherwise invasive.

[2022-09-23 07:23] touhidurabir commented on #8044
@NateWr I am closing this as it's implemented in the https://github.com/pkp/pkp-lib/issues/7105

[2022-09-23 07:23] #8044 closed

[2022-09-23 07:24] touhidurabir commented on #8043
@NateWr I think this can be closed as it's implemented at https://github.com/pkp/pkp-lib/issues/7105 .

[2022-09-23 07:26] touhidurabir commented on #8022
@NateWr I think this can be closed at this fixed by https://github.com/pkp/pkp-lib/issues/7105 . see the comment at https://github.com/pkp/pkp-lib/issues/8022#issuecomment-1205028996 .

[2022-09-23 07:30] touhidurabir commented on #8032
@NateWr i think we can close this one unless we face this again . With the improved job functionality introduced at https://github.com/pkp/pkp-lib/issues/7105, we should be good with such cases now .

[2022-09-23 09:22] ajnyga commented on #6778
Is this issue going to be fixed in a migration? I mean trim the already existing values?

[2022-09-23 10:12] touhidurabir commented on #7391
@Devika008 thanks for providing the UX guidance and I also liked it very much . I have followed your UX guidance but with our current design, it's not possible to fully implement the UI design.

@asmecher Updated PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8283
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3550

<img width="804" al

[2022-09-23 11:32] jonasraoni opened #8287 "Web feed plugin doesn't send the right content-type"
**Describe the bug**
The web feed plugin and a similar plugin (announcement feed plugin) are trying to setup the content-type header by passing it as a parameter for the `TemplateManager::display()` method, but the given parameter refers to something else.

This might be fixed once the https://github.com/pkp/pkp-lib/issues/7623 gets merged (it introduces extra methods to the `TemplateManager`).

*

[2022-09-23 12:55] jonasraoni opened #8288 "Announcements placed on homepage may include announcements from other contexts"
**Describe the bug**
The ~web feed~ (fixed by https://github.com/pkp/pkp-lib/issues/8770) and announcement feed plugins don't strictly enforce a record sorting (notice the behavior of the announcement feed is right at the `stable-3_3_0` branch).

Besides fixing the order, it seems the announcement feed is leaking data across contexts (see: https://forum.pkp.sfu.ca/t/ojs-3-4-0-1-announcement-page-s

[2022-09-23 13:53] #7287 closed

[2022-09-23 19:25] asmecher commented on #6778
I'm open to contributions there, but at the moment, no -- the trimming is applied in the "edit author" form.

[2022-09-23 19:38] asmecher commented on #7391
@Devika008, just for context on this: a portion of OJS uses the current "UI library" design library that Nate developed a few years back, and is e.g. backed by the API. This represents the current "modern" OJS UI. Other parts still use older toolsets, and would need to be adapted to the modern design library before it's worth investing UI effort on them. This is one of the areas that still uses th

[2022-09-23 21:49] asmecher commented on #8284
Back-ported to `stable-3_3_0` as well.

[2022-09-23 21:49] #8284 closed

[2022-09-24 13:22] ajnyga commented on #8275
Duplicate of #6875

[2022-09-26 06:53] touhidurabir commented on #7352
@asmecher please review the PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8289
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3552

[2022-09-26 10:35] #8032 closed

[2022-09-26 13:32] NateWr commented on #8246
PRs:
- [OJS](https://github.com/pkp/ojs/pull/3551)
- [OPS](https://github.com/pkp/ops/pull/358)
- [OMP](https://github.com/pkp/omp/pull/1209)

[2022-09-26 13:39] NateWr commented on #8246
Thanks @lucasDevLepidus. I have merged those PRs to `stable-3_3_0` and cherry-picked the commits to the `main` branches.

[2022-09-26 13:39] #8246 closed

[2022-09-26 16:25] lucasDevLepidus commented on #8246
Alright @NateWr

I'm happy to contribute.

[2022-09-26 17:18] defstat commented on #7249
@asmecher I pushed the review changes for the `main` branch.

[2022-09-26 17:19] defstat commented on #5697
@NateWr I pushed the review changes for the `stable-3_3_0` branch for OJS.

[2022-09-26 18:39] iudizm opened #8290 "Inclusion of Data Availability Statement as submission metadata"
**Describe the problem you would like to solve**
In issue #6278, @jalperin proposed the inclusion of a "Data Availability Statement" field to enable metadata for datasets to be published alongside articles.

As discussions in that issue expanded to Data Citations and indexing services, we created this child-issue to focus on the inclusion of the Data Availability Statement field.

**Describe the s

[2022-09-26 19:03] iudizm commented on #8290
Are there any acceptance tests that should be implemented for this new submission metadata? if so, how could it be done?

[2022-09-26 21:23] asmecher commented on #8290
@iudizm, for tests, there are two options:
1. Alter one of the existing submission tests (something in `cypress/tests/data/60-content/`) so that it provides a data availability statement and e.g. checks the reviewer process to ensure that it's present, or
2. Create a new test in e.g. `lib/pkp/cypress/tests/integration/` (if it can be kept application-agnostic) or `cypress/tests/integration/` (if n

[2022-09-26 21:25] asmecher commented on #8290
@iudizm, if I read it correctly, the attached PRs...
- Add a new field to setup allowing the journal manager to enable / disable / require the Data Availability Statement
- Add a new field for the Data Availability Statement to the submission process, when enabled
- Expose the contents of that field to reviewers when they access the submission metadata in Peer Review

@jalperin, does that match yo

[2022-09-26 21:37] jalperin commented on #8290
* What about displaying on the abstract page?
* does exposing to reviewers respect anonymity?

[2022-09-26 21:47] iudizm commented on #8290
About the presentation of the Data Availability Statement in the landing page of the article/preprint/monograph:

Is the [`main_entry`](https://github.com/lepidus/ojs/blob/ac2dd866b2a8bdf13ef6bb01af8965a1fd471122/templates/frontend/objects/article_details.tpl#L101) the most appropriate place for exposing the statement?

We have placed it there, because It feels like in some cases, this Statement m

[2022-09-26 22:31] diegoabadan commented on #8290
I think you mentioned an important point, @jalperin! Today, this metadata is simply being exposed.

How do you think this flow should be? Should the editor manually choose whether to make this metadata available when it is not an open review?

Yes, it is present just below the abstract of the article/preprint/monograph today.

In the comment above, Iudi asks if it looks better this way, or in the

[2022-09-26 23:06] asmecher commented on #7352
@touhidurabir, this looks very good in the installation/settings forms when viewing the English case. When I switch over to French and view the list, it appears that many language names still appear in English (along with their own language name) -- do you see the same?
![image](https://user-images.githubusercontent.com/200411/192395930-e1ebb157-246c-414c-8c27-4fe15207b094.png)

Lastly, the langua

[2022-09-27 01:20] jalperin commented on #8290
if authors are supposed to remain anonymous, then the metadata should not
be shared with reviews.

I like the sidebar display better than below the abstract.

On Mon, 26 Sept 2022 at 15:32, Diego Abadan ***@***.***>
wrote:

[2022-09-27 03:03] asmecher commented on #6093
FKs for user group relationships:
- https://github.com/pkp/ojs/pull/3554
- https://github.com/pkp/pkp-lib/pull/8292

[2022-09-27 09:42] touhidurabir commented on #7352
@asmecher yes, this is happening for me also . I have checked in the `main` branch(which does not include this changes related to this issue PR yet), this is happening there also . For example , when I set `French(France)` as primary locale, can see the language `Armenian` when it should be `Arménien` for `French` . I guess may be some language name not getting translated properly.

it's done .

U

[2022-09-27 10:50] bozana opened #8293 "Enable reprocessing of the older usage stats log files (< 3.4 release)"
The current tool for log file reprocessing allows only monthly reprocessing and reprocessing of the log files > 3.4 release, s. https://github.com/pkp/pkp-lib/blob/main/tools/reprocessUsageStatsMonth.php and https://github.com/pkp/pkp-lib/blob/main/classes/task/PKPUsageStatsLoader.php#L330-L333.
Allow also the reprocessing of the older usage stats log files.

PRs

- https://github.com/pkp/pkp-lib/

[2022-09-27 11:07] bozana commented on #6849
Hi @ctgraham, @withanage, @marcbria

I first now saw your comments in the Technical Committee List -- sorry for that :-(
So maybe here I can explain how it will work -- it is maybe easier to discuss it here...
In 3.4 we will only have internal log files, with our own log file format. These log files are automatically anonymized i.e. the IP address is hashed.
This tool here, from this GitHub issue,

[2022-09-27 11:20] felixhelix opened #8294 "OJS: Publicating an issue throws an error from fulltext search indexing"
**Describe the bug**
Publicating a recent issue of one of our journals leads to a halt in the publication with some articles unpublished and the following error in the php log file:

`PHP Fatal error: Uncaught PDOException: SQLSTATE[22007]: Invalid datetime format: 1366 Incorrect string value: '\xF0\x9D\x90\xB9\xF0\x9D...' for column ojs.submission_search_keyword_list.keyword_text at row 1 in /var

[2022-09-27 12:56] NateWr commented on #8026
This is not great, but it's probably better than an empty subject or a generic fallback subject like "an email from <contextname>".

Will this only happen when a template's subject or body is missing in a certain locale? If so, I think that's ok... again not great but better than a catastrophic break.

[2022-09-27 13:36] ctgraham commented on #6849
In our past usage, the `load_id` was the filename of the Apache log.  This could cover an arbitrary time period; in our case this was commonly a week or a month.

[2022-09-27 13:50] marcbria commented on #6849
Thanks for the detailed feedback Bozana.

So, if I understood you correctly, all will work transparently except if the log was processed using regular expressions, isn't it?

If so, I think you are offerin a backwards compatibility of 90ish % and seems very reasonable to me.

Just to keep it in mind: I think it is important to explain these changes in a) the release notes b) the dev mailing list c

[2022-09-27 17:13] iudizm commented on #8290
Ok, moved it to the sidebar display in the PRs to the landing pages.

be shared with reviews.

Right, [just changed it](https://github.com/pkp/pkp-lib/pull/8291/commits/429561b6954bcf7b351eccdfb3474c470b19c09f), now we only expose the Data Availability Statement to the reviewer when the review method **is not** double anonymous (same way used to list the authors)

[2022-09-27 17:36] Vitaliy-1 commented on #8026
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/8295
OJS: https://github.com/pkp/ojs/pull/3555
OMP: https://github.com/pkp/omp/pull/1211

[2022-09-27 20:50] asmecher commented on #6093
FKs for user group relationships:
- https://github.com/pkp/ojs/pull/3554
- https://github.com/pkp/pkp-lib/pull/8292

[2022-09-27 21:21] asmecher commented on #6849
(@bozana, I see conversation is continuing -- is this still in progress or shall I review the PR linked above?)

[2022-09-27 22:10] asmecher commented on #6093
FKs for submission file relationships:
- https://github.com/pkp/ojs/pull/3556
- https://github.com/pkp/pkp-lib/pull/8296

[2022-09-27 23:36] asmecher commented on #8294
@felixhelix, yes, it does appear that you've encountered a character that requires a 4-byte encoding -- the error log quotes `𝐹` (https://www.compart.com/en/unicode/U+1D439) and part of another character (cut off in the log). As far as I'm aware, the UTF8MB4 requirement only affects the MySQL/MariaDB part of the installation, and PHP and OJS don't need to care about it and can handle 4-byte charac

[2022-09-27 23:36] #8294 closed

[2022-09-28 08:16] bozana commented on #6849
You can review it @asmecher. This tool is finished -- I just answered some questions how it all works now...

[2022-09-28 09:25] bozana commented on #6849
Hi @marcbria,
This conversion tool will work for all log files in the format that matches this regex: `/^(?P<ip>\S+) \S+ \S+ "(?P<date>.*?)" (?P<url>\S+) (?P<returnCode>\S+) "(?P<userAgent>.*?)"/`.
These are our old usage stats log files, but also apache access log files in combined format.
If someone has apache access log files in a different format, the regex in the tool can be adapted/changed s

[2022-09-28 10:45] defstat commented on #5697
@NateWr the identifiers form with both the settings you mention [here ](https://github.com/pkp/pkp-lib/issues/5697#issuecomment-1252136257) enabled seems like that
![image](https://user-images.githubusercontent.com/560456/192758476-39180448-8897-4ee9-bbfe-ebcd6eb68fe2.png) (after disabling the Published ID form)

I understand that there are 2 cases there:
1. The DOI is not yet assigned
2. The DOI

[2022-09-28 11:13] NateWr commented on #5697
Yes, I'd say for both cases the input field should be disabled and the DOI field should just present the DOI without any checkboxes or buttons.

[2022-09-28 11:28] defstat commented on #5697
@NateWr

**Case 1**
![image](https://user-images.githubusercontent.com/560456/192767308-70ee9d9f-9594-4a56-a89f-c14f454b7994.png)

**Case 2**
![image](https://user-images.githubusercontent.com/560456/192767678-36f089b9-6c36-4601-a3df-e5e6d8ec6c57.png)

[2022-09-28 11:34] defstat commented on #5697
@NateWr I have pushed the changes for the review and [this ](https://github.com/pkp/pkp-lib/issues/5697#issuecomment-1252136257) comment in two different commits (to separate the second mainly), for OJS and pkp-lib `stable-3_3_0` branch.

[2022-09-28 11:37] NateWr commented on #8026
@Vitaliy-1 the code looks good. Please go ahead and merge once the tests have passed.

[2022-09-28 12:55] #8026 closed

[2022-09-28 15:23] ml4rrieu opened #8297 ""Copyright (c)" should not be translated as "all right reserved" (tous droit réservé)"
There is a translation error here :
https://github.com/pkp/pkp-lib/blob/54219af871eeda90dc76efdb4029fa4a725b6551/locale/fr_FR/submission.po#L1476

the [english version is (en_US)](https://github.com/pkp/pkp-lib/blob/54219af871eeda90dc76efdb4029fa4a725b6551/locale/en_US/submission.po#L1930) `Copyright (c) {$copyrightYear} {$copyrightHolder}`

I suggest the french translation :

`msgstr "Droit d'aut

[2022-09-28 15:26] asmecher commented on #8297
@ml4rrieu, can you adjust the translation in our Weblate installation? https://translate.pkp.sfu.ca
(I'd also accept a pull request if you're comfortable working with git, but we prefer translation work to happen via Weblate.)

If you think there's a discussion needed between French translators, then I'd suggest the support forum (https://forum.pkp.sfu.ca). But the change you suggest makes sense t

[2022-09-28 15:26] #8297 closed

[2022-09-28 18:54] asmecher commented on #8275
Closing as a duplicate.

[2022-09-28 18:54] #8275 closed

[2022-09-28 21:49] asmecher commented on #8239
@withanage, do you have this running locally (on your own machine)? If so, do you have a PR for the necessary changes?

[2022-09-29 10:04] touhidurabir commented on #7863
@NateWr please review the PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8298
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3557

[2022-09-29 10:17] NateWr opened #8299 "Use helper method in galley grids"
The galley grids should use the helper method, `$this->getGalley()`.

[2022-09-29 11:35] NateWr commented on #8299
PRs for `stable-3_3_0`:
https://github.com/pkp/pkp-lib/pull/8300
https://github.com/pkp/ojs/pull/3558/files
https://github.com/pkp/ops/pull/360

PRs for `main`:
https://github.com/pkp/pkp-lib/pull/8301
https://github.com/pkp/ojs/pull/3559
https://github.com/pkp/ops/pull/361

[2022-09-29 12:00] amandastevens commented on #7500
Does this include users being able to log into OJS/OPS/OMP with their ORCID ID?  We receive this request often from PKP|PS clients and potential clients. One explained as follows: "Our members say it is difficult to track passwords for all the journals they submit to and review for. Therefore, many use ORCID as a login tool. For example, [Open Science Framework](http://osf.io/), allows you to logi

[2022-09-29 13:00] NateWr commented on #7500
@amandastevens no, this is just about authenticated ORCIDs for author records so authorship data can be deposited with ORCID.

Logging in with ORCID is possible with the [OpenID plugin](https://github.com/leibniz-psychology/openid).

[2022-09-29 16:07] NateWr commented on #7863
Thanks @touhidurabir! I've merge that to `main` now. I added a text label and description to the API response in this commit: https://github.com/pkp/pkp-lib/commit/1631b8eeaeca356028e5a432c6405ea86da77245

[2022-09-29 16:07] #7863 closed

[2022-09-29 16:25] asmecher commented on #8279
I've cleaned up the `getInsertId` functions; I see https://github.com/pkp/pkp-lib/pull/8282 has been merged or cherry-picked. I've also back-ported it to `stable-3_3_0`, which doesn't appear to be affected, but no harm done. Closing this issue, thanks!

[2022-09-29 16:25] #8279 closed

[2022-09-29 17:04] bozana commented on #8290
OK, thanks @NateWr! I will take a closer look. And maybe we need to coordinate/check with JII...

[2022-09-29 19:56] asmecher commented on #6785
This has already been resolved elsewhere (evidenced by automated upgrade testing).

[2022-09-29 19:56] #6785 closed

[2022-09-29 20:02] asmecher commented on #7247
Closing.

[2022-09-29 20:02] #7247 closed

[2022-09-29 22:21] asmecher commented on #7254
The following PRs convert all entities to yielding by ID, *except* email templates, because `email_id` is `null` in some cases (see the `UNION` query). In that case I've left it using indexes as before.

PRs:
- https://github.com/pkp/ojs/pull/3560
- https://github.com/pkp/pkp-lib/pull/8302

[2022-09-29 23:20] #7254 closed

[2022-09-30 07:36] saponidas opened #8303 "OMP Multi presses installation | Books from other press can be accesed changing the ID in the URL"
Hi, sorry if the issue is already created, I could not find it (maybe related with #6949 ?)

When creating more than 1 press, the books can be loaded in other press just changing the "book id" in the url
I mean the book 3 of the press 1, can be accesed in the press 2:
https:/mydomain.ocm/PRESS1/catalog/book/3
https:/mydomain.ocm/PRESS2/catalog/book/3

Seems that a check for the context is missing.

[2022-09-30 14:03] forgive38 commented on #5885
+1 from our editors

[2022-09-30 14:09] forgive38 commented on #5885
Do you think reminder before date should be only for review due date or for review request due date too ?

Should we have a dedicated email template ?

I propose to extend the current management of delay for reminder:
![sample](https://user-images.githubusercontent.com/31130607/193288210-a56ffdb0-36f0-4762-84eb-7164ec5b126b.png)

[2022-10-02 19:53] defstat commented on #8093
@asmecher @NateWr

I have added a file in the [top ](https://github.com/pkp/pkp-lib/issues/8093#issue-1300577038) comment, for documentation reasons, pairing the removed UserGroupDAO functions to the new Repository pattern respective ones.

[2022-10-03 07:53] Vitaliy-1 commented on #6222
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/8304
OJS: https://github.com/pkp/ojs/pull/3561
OMP: https://github.com/pkp/omp/pull/1213
OPS: https://github.com/pkp/ops/pull/363

[2022-10-03 08:39] #8022 closed

[2022-10-03 08:56] NateWr commented on #5885
We only support one email at the moment. If we extend it to support more than one email, we should turn it into a more flexible system that allows journals to configure as many reminders as they want.

Given our timeline for 3.4, we don't have time to work on multiple emails. So I would suggest extending the existing field to support negative numbers. That would be one email which could be sent be

[2022-10-03 09:52] NateWr commented on #4933
Closing as it is not a priority.

[2022-10-03 09:52] #4933 closed

[2022-10-03 09:56] NateWr commented on #4957
Closing this as the new file naming convention in 3.3 seems to be working ok. If you are using 3.3.0-6 or higher and want to change how file names are generated, please post on our [feature request forum](https://forum.pkp.sfu.ca/c/feature-requests/8).

[2022-10-03 09:56] #4957 closed

[2022-10-03 11:52] touhidurabir opened #8305 "Investigate and add support for batch queue job processing"
**Describe the bug**
Now that we have better queue jobs processing functionality added at pkp/pkp-lib#7105, need to investigate and add support for [batchable queue jobs](https://laravel.com/docs/9.x/queues#job-batching) which includes in laravel. This should be easier to integrate now as jobs now can be processed via workers or cron .

**Who is asking for it?**
Developers from PKP Team.

[2022-10-03 12:02] touhidurabir opened #8306 "Enhance the queue failed jobs functionality."
**Describe the enhancement**
We have a frontend UI implemented to view queue pending/waiting to execute queue jobs in pkp/pkp-lib#7171 also queue job execution/handling enhancement in pkp/pkp-lib#7105 . But have no UI or CLI functionality to view or manage failed jobs and associated error for those failed job. It can be a good enhancement to have following functionalities for better managing of fa

[2022-10-03 13:03] NateWr commented on #8183
@Vitaliy-1 I like the idea of making a context contact mandatory. How do you think we should handle upgrades? Should we add a pre-flight check that requires every context to have contact details before they can upgrade?

[2022-10-03 15:41] NateWr commented on #8306
I like it but I suggest a much longer window before removing failed jobs. Maybe 6 months? I think that in some cases failed jobs will be one way that people audit when things have gone wrong, and they may not recognize a problem for a while. This may be especially true with metadata deposits (eg - Crossref) where someone might not realize that their work has failed to be deposited for a long time.

[2022-10-03 15:50] asmecher commented on #7759
@Vitaliy-1, do you know if this one was resolved?

[2022-10-03 16:36] #6222 closed

[2022-10-03 16:52] Vitaliy-1 commented on #7759
Yes, was fixed

[2022-10-03 16:52] #7759 closed

[2022-10-03 17:31] touhidurabir commented on #7352
@asmecher updated PRs. Tests passed for all apps .

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8289
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3552
[omp](https://github.com/touhidurabir/omp) --> https://github.com/pkp/omp/pull/1214
[ops](https://github.com/touhidurabir/ops) --> https://github.com/pkp/ops/pull/364

[2022-10-03 17:35] touhidurabir commented on #8306
How about we set it as a config option in number of days ? and if thats turned off or disabled , the schedule task will not run. better control than hard coded values .

[2022-10-03 17:58] asmecher opened #8307 "Validate author IDs against submissions/publications"
Ensure that author IDs are appropriately validated against submissions/publications.

This affects OJS, OMP, and OPS 3.2.x and 3.3.x older than 3.3.0-13.

# Resolution
Any of the following approaches can be used to resolve this issue.
## Upgrading (preferred)
Upgrade to OJS/OMP/OPS 3.3.0-13 or newer.
## Using git
### Using a stable branch
The fix has been applied to the `stable-3_2_0`, `stable-3_2

[2022-10-03 21:58] asmecher commented on #8299
Thanks, @NateWr, looks good -- please go ahead and merge. I'll try to get 3.3.0-13 released tomorrow if this is ready to be included.

[2022-10-03 21:59] #8307 closed

[2022-10-04 00:46] asmecher commented on #8043
Closing, thanks!

[2022-10-04 00:46] #8043 closed

[2022-10-04 08:00] forgive38 commented on #5885
Why not ... but this implies that there is no other reminder when the reviewer is late, and the template mail of reminder should be modified by editors in case of negative delay (verb tense future vs past tense)

[2022-10-04 08:47] NateWr commented on #8306
Yes, that sounds good.

[2022-10-04 09:04] NateWr commented on #8299
All merged to `stable-3_3_0` and `main`.

[2022-10-04 09:04] #8299 closed

[2022-10-04 13:50] bozana commented on #7318
PRs for the export possibility of articles/monographs/preprints:
pkp-lib: https://github.com/pkp/pkp-lib/pull/8308
ojs: https://github.com/pkp/ojs/pull/3562

[2022-10-04 13:52] bozana commented on #7318
@NateWr, could you please take a look at the PR above? It works, but eventually sorry for my clumsy solution of this vue/UI work :-( I am happy to improve it according to your comments! :-)

[2022-10-04 13:57] defstat commented on #5697
@NateWr, just a reminder, both OPS and OJS `stable-3_3_0` are ready for another review round. Tests are passing for both

[2022-10-04 14:49] mpbraendle commented on #7470
Just experienced that case for a journal that we are trying to submit to PKP PN. This journal was created when we were on OJS 2.4.8.

I can change the file_stage of the "offending" file (7 = fair copy) in the database, but to what should I change it?
Can't the map in getStageNameStageIdMapping() in lib/pkp/plugins/importexport/native/PKPNativeImportExportDeployment.inc.php i just include SUBMISSIO

[2022-10-04 14:57] mpbraendle commented on #7470
I decided to change the value to SUBMISSION_FILE_FINAL (6).

[2022-10-04 16:42] NateWr opened #8309 "Add help text to describe the DOI status filters"
**Describe the problem you would like to solve**
The new DOI management UI includes filters to view DOIs by their status, such as Unpublished, Unregistered, and Registered. However, it is not immediately clear what each of these statuses mean.

**Describe the solution you'd like**
Add a button near the filters that will open a modal with a short description of each status. In the mockup below, a s

[2022-10-04 16:58] NateWr opened #8310 "Discourage DOI assignment for items other than submissions"
**Describe the problem you would like to solve**
When enabling DOIs, journal managers are asked to select which objects to enable DOIs for, such as articles, issues and galleys. It's uncommon to use DOIs for anything other than articles, but many journal managers may select all options without understanding what it means ("I don't see why not").

In some cases, like Crossref, article galleys that

[2022-10-04 23:26] ewhanson commented on #8027
Hey @NateWr, I've rebased these PRs, and they are ready for review on OPS.

In summary, this adds support for:

- DOIs on a per-version basis.
- Per-version DOIs appear on the expected article landing page
- DOIs are auto assigned to the current publication only.
- Exported Crossref XML includes info and links between all versions/DOI versions.

PRs are [linked above](https://github.com/pkp/pkp-li

[2022-10-04 23:46] asmecher commented on #8303
@saponidas, thanks for reporting; you can correct this by patching your 3.3.0 installation with https://github.com/pkp/omp/commit/abbaeec2c29c18a9484dc3786c6777fb9e670de5. This will be released in OMP 3.3.0-14.

[2022-10-04 23:46] #8303 closed

[2022-10-05 00:37] asmecher commented on #7352
@touhidurabir, I still see a problem with the language toggle block plugin when both forms of Portuguese are enabled; they are not distinguished:
![image](https://user-images.githubusercontent.com/200411/193954946-856123c7-6fa0-4904-960c-9d17bf4495c6.png)

Also, I would recommend duplicating the `common.withForwardSlash` locale key for all `locale/*/common.po` files in pkp-lib. Normally I wouldn't

[2022-10-05 07:38] Vitaliy-1 commented on #7289
Implement as part of: https://github.com/pkp/pkp-lib/issues/8204

[2022-10-05 07:38] #7289 closed

[2022-10-05 08:29] NateWr commented on #5892
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-10-05 08:29] #5892 closed

[2022-10-05 10:46] Vitaliy-1 opened #8311 "Fatal error when trying to load ResendRequestReviewerForm"
**Describe the bug**
Unable to load the form to resend the review request to a reviewer, who previously declined it.

Associated fatal error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Make a submission and pass it to the review stage
2. Assign Reviewer
3. Login as a reviewer and decline the review
4. Login as an editor and reassign this reviewer - `Resend Review Request` button

[2022-10-05 10:47] Vitaliy-1 commented on #8311
@touhidurabir, I've assigned you as you worked on this feature before

[2022-10-05 10:49] Vitaliy-1 commented on #8262
I'm unable to reproduce it with reviewer-related forms. As for the particular form on the screenshot, I'm making a reminder to take a look after this issue is solved: https://github.com/pkp/pkp-lib/issues/8311

[2022-10-05 10:51] Vitaliy-1 commented on #8183
Yes, a pre-flight check sounds like a good solution

[2022-10-05 10:54] bozana commented on #6849
I've just added two more changes, that consider these two issues:
https://github.com/pkp/pkp-lib/issues/6611 and https://github.com/pkp/pkp-lib/issues/6573.

[2022-10-05 11:20] NateWr commented on #5697
Thanks @defstat, it looks great. Just a couple of final changes. We talked before about not applying these changes to the `main` branch because the galley grids were going to be replaced in 3.4. However, that's no longer going to happen so we will need these changes applied to 3.4. I think just OJS and OPS is enough.

[2022-10-05 11:33] NateWr commented on #7318
Is there a PR for UI Library that should be included? I'm getting JS errors related to missing methods and properties like `downloadReport` that make me think there are changes to `StatsPublicationPage.vue` I need to look at.

Also, do you have a (not too large) database dump you can send me with stats in it? I don't have stats in any of my local test instances.

[2022-10-05 11:41] bozana commented on #7318
Oh, sorry @NateWr :-( I forgot it :-P Now it is added in the PRs list above... (will update the submodule in OJS in sec).Thanks a lot!

[2022-10-05 11:46] NateWr commented on #8027
Thanks @ewhanson. I had a look over the issue discussion and I can't remember what we decided about a few things. Can you help me remember:

1. How should a preprint server configure whether it wants a new DOI for each version or not?
2. Did we decide to include the same configuration options for OJS and OMP or are DOIs not meant to be versioned automatically there?
3. What do you mean here: "DOIs

[2022-10-05 12:27] bozana commented on #6611
PR:
usageStats: https://github.com/pkp/usageStats/pull/54

[2022-10-05 12:27] bozana commented on #6573
PR:
usageStats: https://github.com/pkp/usageStats/pull/54

[2022-10-05 12:27] bozana commented on #6611
@asmecher, could you take a look at the PR above? It also solves the issue https://github.com/pkp/pkp-lib/issues/6573.

[2022-10-05 12:29] touhidurabir commented on #7352
@asmecher I have update all the locale presentation (if haven't missed any) with the new approach that includes both site and context wise display . Also updated the `locale/*/common.po` file . Please review . if all ok , then I will port the changes to other apps .

[2022-10-05 13:04] touhidurabir commented on #8311
@Vitaliy-1 fixed. PRs
[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8312
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3565

[2022-10-05 14:35] NateWr commented on #7318
Yep, working for me now. :) I left a couple of comments on the PRs. I also made a couple of commits with a rough idea of how to change the stats download modal. There's not quite enough information to know what I'm downloading, so I moved the report type selection into the modal. If you like it, you can use the commits here to work it into your setup (I didn't translate any of the text so there's

[2022-10-05 23:18] asmecher commented on #7352
@touhidurabir, the front-end display now shows too much information:
![image](https://user-images.githubusercontent.com/200411/194180611-7fbd7cb8-a90c-479d-8c23-6d236ce4a473.png)

See https://github.com/pkp/pkp-lib/issues/7352#issuecomment-1248423344 for a description of how the public-facing display should look.

For the above case, for example, it should be:
## Language
English
Français
Portuguê

[2022-10-06 07:40] touhidurabir commented on #8311
@asmecher as `OJS` test has passed , it's good to merged .

[2022-10-06 08:05] defstat commented on #8093
@ajnyga I have added a PR for QuickSubmitPlugin [here](https://github.com/pkp/pkp-lib/issues/8093#issue-1300577038). Could you please check if that resolves your issue?

[2022-10-06 09:32] bozana commented on #7318
Thanks a lot @NateWr!
Regarding monthly/daily reports: We decided that for now the user needs to select the month he/she would like to have the report for. I do not know any more what we said for the daily reports... :thinking:
And for the other comments: I will consider them now...

[2022-10-06 10:06] NateWr commented on #5730
Most of the work in this issue is complete. I will leave it open because I'd like to do a final review before 3.4 RC1 to make sure all of the new email messages have been updated -- especially in OMP where I may have forgotten one or two.

[2022-10-06 11:19] Devika008 opened #8313 "Support for multiple views (eg - toggle between list / table)"

[2022-10-06 11:23] Devika008 opened #8314 "Additional sorting options"

[2022-10-06 11:32] NateWr commented on #7191
Regarding the API restrictions mentioned in [this comment](https://github.com/pkp/pkp-lib/issues/7191#issuecomment-1171014633). I've disabled editing all of the props mentioned through the add and edit API endpoints for submissions except the `locale`. We still need authors and editors to be able to switch this, and won't have a dedicated API endpoint for now.

[2022-10-06 14:18] bozana commented on #7318
Hi @NateWr, I think I considered all your comments. Could you please take another look?
A few comments:
Next the filter Issues will come, that's why I treat the filters that (generic) way...
I use 'submissions' instead of 'articles', 'monographs' and 'preprints' for the file name -- in order not to translate it -- but, if wishes, I can change this...

[2022-10-06 14:38] asmecher commented on #8311
Merged, thanks!

[2022-10-06 14:38] #8311 closed

[2022-10-06 14:43] Vitaliy-1 commented on #7989
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/8316
tests: https://github.com/pkp/ojs/pull/3566

[2022-10-06 15:57] bozana commented on #7318
The current stats API does not support daily stats for each article, only for the timeline i.e. for all articles...

[2022-10-06 17:02] bozana commented on #7623
Everything merged, thus closing...

[2022-10-06 17:02] #7623 closed

[2022-10-06 17:55] alexxxmendonca commented on #7709
We have upgraded to OPS 3.3.0-13 today and this was the first time I was able to run tests about this issue (our previous version was 3.3.0-10).

The numbers are still confusing to me...

![image](https://user-images.githubusercontent.com/4059679/194384237-e65050c7-4cae-4faf-8933-389908aa8269.png)

It says there are 1386 submissions published, but we have 1965 preprints right now:

![image](https:

[2022-10-06 18:00] ewhanson commented on #8027
Hey @NateWr, to answer your questions:

1. I'm not sure if this is a question we've explicitly answered. With the logic the way it is, each new version will have a DOI created, and it does not have any logic to choose one option or another. I believe this was the desired behaviour for OPS, but should probably not be the default for OJS or OMP.
2. As DOI versioning was not functioning as expected i

[2022-10-06 21:58] asmecher commented on #7709
Reopening for a look when you have time, @jonasraoni...

[2022-10-07 05:32] touhidurabir commented on #8262
@Vitaliy-1 the issue https://github.com/pkp/pkp-lib/issues/8311 has been resolved .

[2022-10-07 08:01] Vitaliy-1 commented on #8262
The variables are replaced as expected on my local instance. I see that already made changes to that part of the code around a month ago, which likely solved the problem. @touhidurabir, feel free to reopen the issue if you are still able to reproduce it.

[2022-10-07 08:01] #8262 closed

[2022-10-07 08:54] afahem commented on #8307
We used 3.1.1.2. Do we have the same issue?

[2022-10-07 16:31] touhidurabir commented on #7352
@asmecher Please review the PRs . As per our last discussion, all requested changes have been implemented .

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8289
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3552

[2022-10-07 16:40] asmecher commented on #8307
@afahem, OJS/OMP 3.1.1.x and earlier are not affected.

[2022-10-07 20:45] jonasraoni opened #8317 "ThemePlugin: Unable to retrieve array options"
**Describe the bug**
When adding an array option to the `ThemePlugin`:

[code]

It's stored properly to the database, as a `JSON` value, but it fails to be retrieved [due to the `unserialize()`](https://github.com/pkp/pkp-lib/blob/2597e2dc6ed7be93b6d6e461d2c675d313baf896/classes/plugins/ThemePlugin.php#L605).

Fix reference: https://github.com/pkp/pkp-lib/blob/2597e2dc6ed7be93b6d6e461d2c675d313baf

[2022-10-07 23:00] asmecher opened #8318 "Site-wide search returns results for journals that have publishing disabled"
**Describe the bug**
See https://forum.pkp.sfu.ca/t/articles-in-test-non-public-journals-appear-in-search/74953.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up an installation with at least 2 journals.
2. For one that has published content, disable publishing for a journal in Setup > Distribution > Publishing Mode
3. Go to the site-wide search page
4. Search for content that exists i

[2022-10-08 06:06] xeroticikot opened #8319 "Server error after install"
I’ve installed the system on ubuntu 20.04 with aapanel apache. But the domain returning the following error - This page isn’t working

The server log error -

[code]

[2022-10-08 08:15] jonasraoni commented on #8317
@asmecher Just a small fix for an issue that I found while creating a custom theme.

[2022-10-08 17:41] jonasraoni commented on #8319
Hi @xeroticikot!

Please, try to solve your problem using [our forum](https://forum.pkp.sfu.ca/c/questions/5). I just can say this is a core PHP function, which should be working fine, perhaps it was disabled by your host provider.

[2022-10-08 17:41] #8319 closed

[2022-10-10 09:22] touhidurabir commented on #7245
@asmecher PRs to review
[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8322
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3569

[2022-10-10 10:54] withanage commented on #7563
Hi @asmecher  or   @defstat  .
I have looked into this issue and it seems to me that this is handled in the following file by  @defstat s PR by deleting  orphaned files.

https://github.com/pkp/pkp-lib/commit/84ee403d3dae35266b1526cc8b70c124797ea42a#diff-6bd4382888007c21acb6bf540ce1eb2ba123dcc507ab2fb20edc3f97e36181c8

As notes  is referencing an assoc_id and assoc_type a cascase delete  has to ha

[2022-10-10 15:40] NateWr commented on #7318
I _think_ the existing API [supported this](https://docs.pkp.sfu.ca/dev/api/ojs/3.3#tag/Stats-Publications/paths/~1stats~1publications~1{submissionId}/get). But also, I think the general stats API `/stats/publications/abstract` let's you filter by `searchPhrase`, right? This means that someone could sort of achieve this by entering the exact title as the search?

[2022-10-10 15:48] NateWr commented on #8027
Ok great, thanks. Yes, I think what you describe ("assign a new DOI to each publication version: yes or no?") is the best approach. This should be default to no for OJS/OMP and default to yes for OPS.

We should also include a description for the setting that makes it clear that the default is recommended. Thinking about Crossref's concerns about editors enabling everything in a misguided attempt

[2022-10-10 16:34] NateWr commented on #5850
There are a number of severe issues related to RTL display in the new submission wizard (#7191). These will need to be addressed before 3.4 is released, but we may be able to address them after the first release candidate. I've assigned myself to this and assigned the 3.4 milestone.

[2022-10-10 16:39] NateWr commented on #5850
Known problems:
- The Orderer component in the contributors list panel and FieldOptions.
- Multilingual indicators in most fields.

[2022-10-10 16:40] asmecher commented on #7563
I agree, I think this is a duplicate of #8073.

[2022-10-10 16:40] #7563 closed

[2022-10-10 16:45] bozana commented on #7318
I haven't changed that part of the API, so yes, this is still possible. This is for one article.
Yes, searchPhrase is possible for `/stats/publications/timeline`.
But there is no possibility to have all articles and their stats listed by day or month. Month we said could be solved by choosing month by month date range.

[2022-10-10 20:01] diegomejia071 commented on #7051
Hi @jonasraoni, @NateWr,

There is some progress on the subject, since you must understand that many of us have production platforms in previous versions and we do not have maintenance spaces that allow us to update the platform

[2022-10-11 07:38] Vitaliy-1 opened #8323 "Mailable traits to use readonly properties or constants for email template variable names"
In the current PHP version (8.0), it's not allowed to use constants in traits, protected static properties are used instead, e.g.: https://github.com/pkp/pkp-lib/blob/2597e2dc6ed7be93b6d6e461d2c675d313baf896/classes/mail/traits/ReviewerComments.php#L27
This is a reminder for switching to public read-only properties when PHP 8.1 is the minimum required version or constants for PHP >= 8.2.

[2022-10-11 08:26] jalperin commented on #3250
Shouldn't this be turned into a new entry for the suggested plugin? Seems
like plugin is good idea, no?

On Mon., Aug. 1, 2022, 09:29 Nate Wright, ***@***.***> wrote:

[2022-10-11 09:34] touhidurabir commented on #8183
@asmecher PRs to review
[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8324
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3570

[2022-10-11 09:45] NateWr opened #8325 "Typo in subsequent review request email template body"
**Describe the bug**
The subsequent review request email template message has a stray `{$contextName}` variable that should be removed:

[code]

We should look at existing translations and remove the variable where it is clearly out of place. For example, in the Czech translation:

[code]

Wherever we are not confident of fixing this in a translation, we should mark `msgid "emails.reviewRequestSub

[2022-10-11 09:52] NateWr commented on #7989
Excellent! No comments. Merged to `main`. :tada:

[2022-10-11 09:52] #7989 closed

[2022-10-11 09:56] NateWr commented on #8183
@touhidurabir, can I ask @Vitaliy-1 to review this instead of @asmecher? Vitaliy has the best understanding of the problem at the moment.

[2022-10-11 10:04] NateWr commented on #7318
Ok, that should be good enough, as long as someone can retrieve a history of views/downloads for an article or a group of articles.

[2022-10-11 10:08] touhidurabir commented on #8183
@NateWr sure, no problem .

[2022-10-11 10:18] marlara opened #8326 "QuickSubmit Add Image in Article"
When I submit an article with QuickSubmit and I want to add an image for the article I get a Failed Ajax Request.
In apache I have:

`PHP Fatal error:  Declaration of UploadImageForm::execute($request) must be compatible with Form::execute(...$functionArgs)`

My OJS version is 3.3.0.13, this is issue is present also in an installation with the version 3.3.0.11.

[2022-10-11 10:59] NateWr commented on #7318
Looks good, @bozana. Just a few comments in the code. In addition, I had these comments:

1. In `PKPStatsPublicationHandler::_getFileReportColumnNames()`, two of the column names are reversed:

Let's call it "Article Title" first and then at the end call it "Filename".

2. The search phrase doesn't seem to be working. When I search for a word in a submission title or its id, no results are returne

[2022-10-11 11:48] NateWr opened #8327 "Invalid language when adding a new journal"
**Describe the bug**
It is possible to install a two-letter locale, such as `ar` instead of `ar_IQ`. If a two-letter locale has been installed and it is selected when creating a new context, the new context form will return a validation error:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Administration > Site Settings > Site Setup > Languages
2. Click **Install Locale**
3. Select th

[2022-10-11 13:06] bozana opened #8328 "CSV for stats API timeline functions"
Implement the CSV export for the stats API timeline functions, to be able to replace the Custom Report Generator, that provides monthly and daily stats

[2022-10-11 13:10] bozana commented on #7318
Hi @NateWr, I think I implemented all your comments.
Regarding the search: the search is the general submission entity search and it works, it just does not work 'correctly' on my stats data -- in metrics tables I have submission IDs that are not published and search only considers the published submissions. In real data this is not the case -- the stats data exist only for published submissions.

[2022-10-11 14:03] NateWr commented on #7318
Great! I just checked the stats search and you're right: it worked for the one submission I had that was published. I'm happy for you to merge whenever you're ready. :+1:

[2022-10-11 14:38] NateWr commented on #8051
Suggestions from a community member:

1. The manuscript meets the [aims and scope](#) of the journal.
2. The title is concise, and the abstract is effective and can stand on its own. This will increase the likelihood of reviewers agreeing to review the paper.
3. The study design and research argument are structured and articulated properly.
4. The manuscript has been edited for grammar, spelling,

[2022-10-11 14:58] asmecher commented on #3250
@jalperin, this is an unscheduled and unprioritized feature request, and we're tracking those on the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of the forum rather than here. If this is still a priority for you, I'd suggest making a post there, and adding a link to it from the Scientific/Research project.

[2022-10-11 14:59] jonasraoni opened #8329 "Review missing indexes"
**Describe the bug**
After the migration from the old database framework, looks like some indexes were left behind, for example the [submissions schema](https://github.com/pkp/pkp-lib/blob/7d21b0173906f3336fd975b19ad04e4e547c0870/classes/migration/install/SubmissionsMigration.php#L30-L50) has no index over the `context_id` field, but it's declared in the old framework: https://github.com/pkp/pkp-l

[2022-10-11 15:17] jalperin commented on #3250
Vitaliy implemented this in a plugin back in 2018, but it was never included in the Plugin Gallery. Before closing, couldn't that be reviewed and considered?

[2022-10-11 15:39] asmecher commented on #3250
No, that would mean diverting someone from what they're working on to treat this as a higher priority.

[2022-10-11 16:30] jalperin commented on #3250
I don't understand why we're closing this entry. I understand it is not a priority, but there is a documented feature, there is an initial implementation, and feedback from Nate. Couldn't this be flagged with a "try me" tag?

To be clear, it is not a huge priority for me, but it is important. Most people wouldn't have any idea is possible because the need for it is not clear to someone who isn't t

[2022-10-11 18:26] bozana commented on #7318
PRs for Statistics > Issues page:
ui-library: https://github.com/pkp/ui-library/pull/217
ojs: https://github.com/pkp/ojs/pull/3571

[2022-10-11 18:27] bozana commented on #7318
@NateWr, could you please take a look at these new PRs for Statistics > Issues page?

[2022-10-11 19:10] asmecher commented on #3250
The process is outlined here: https://pkp.sfu.ca/2022/07/20/improving-how-we-collect-community-feedback/
Votes aren't the only consideration on the forum, especially if it also gets tracked in the Scientific/Research project.

[2022-10-11 20:14] jalperin commented on #3250
[Posted in Forum](https://forum.pkp.sfu.ca/t/add-og-url-metatag-to-help-facebook-identify-a-canonical-url-for-each-page/75015)

[2022-10-12 09:41] NateWr commented on #3250
The [openGraph](https://github.com/ajnyga/openGraph) plugin provides this feature. It's built by @ajnyga and can be found in the plugin gallery for 3.2.x and 3.3.x (at the time of writing).

[2022-10-12 11:32] defstat commented on #5697
@NateWr @asmecher I have resolved the PRs review comments and ported the changes from `stable-3.3.0` to `main` branch for OJS, OPS and PKP-LIB. They are ready for another round of review

[2022-10-12 16:52] Vitaliy-1 commented on #8127
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/8330
tests: https://github.com/pkp/ojs/pull/3573

[2022-10-12 17:33] mjaoj commented on #1822
Hello! Any updates about this upgrade?
Thanks!

[2022-10-12 18:08] defstat commented on #8318
@asmecher @NateWr

I have prepared the PRs for review for OJS and OPS, for `main` and `stable-3_3_0` branches.

Some comments on the code though:
1. The contexts do not have a `publishingMode` setting when they are initially created. I consider the content of contexts that don't have this setting eligible for search.
2. It seems that OPS has the UI to declare a server's Publishing Mode, but the us

[2022-10-13 00:17] asmecher commented on #6093
Index fixing:
- https://github.com/pkp/ojs/pull/3575
- https://github.com/pkp/pkp-lib/pull/8331

[2022-10-13 00:29] ewhanson commented on #8027
Hey @NateWr, I've updated the PR to reflect those changes. I've set it up in such a way that DOI versioning can be configurable in each app with different defaults (yes, do version by default for OPS and no, don't version by default for OJS/OMP).

[2022-10-13 05:52] touhidurabir commented on #4900
I believe the problem  got already resolved in `OJS-3.3.0-13` and in `main` branch as tested in both version with multiple locale installed(and enabled) but could not produce this issue .

Tested it with multiple(at least 5/6) Editors/Section Editors/Translators but it seems fine . Also Tested with more than 10 items and aloo items are showing in the list properly. It seems it is already fixed .

[2022-10-13 07:17] denismaier commented on #6306
Another +1! That feature would be highly appreciated.

[2022-10-13 07:42] touhidurabir commented on #8326
@asmecher Please review the PR

[quickSubmit](https://github.com/pkp/quickSubmit) --> https://github.com/pkp/quickSubmit/pull/60

This issue not present in the `main` branch  so PR only done for `stable-3.3.0` branch .

[2022-10-13 09:14] NateWr commented on #8318
@bozana do you have time to pick up this code review?

[2022-10-13 09:17] NateWr commented on #4900
Thanks @touhidurabir!

[2022-10-13 09:17] #4900 closed

[2022-10-13 09:26] touhidurabir commented on #8327
The cause of the problem is our regex based validation rules which require the locale code match the format `LangCode_CountryCode` (for example `en_US`) . We need to make the regex validation rule bit more flexible to make the `_CountryCode` part as optional .

@NateWr PRs to review

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8332
[ojs](https://github.com/pkp

[2022-10-13 10:08] NateWr commented on #8327
I'm going to let @asmecher review this because I'm not sure if we support two-letter language codes yet. He'll know better what the plan is here.

[2022-10-13 10:47] NateWr commented on #5697
Thanks @defstat. The stable PRs look good to go. I had just a couple questions on the ones for `main` before we merge.

[2022-10-13 11:23] #8313 closed

[2022-10-13 11:23] bozana commented on #8318
Hi @defstat,
Regarding the questions:
1. I would say that we need to check if journal is enabled too -- if not already (I still haven't seen the code) -- and if enabled and the publishingMode is missing then yes, it can be searched.
2. That sounds good, I will take a look in the code...
3. I would say no need to port it to OMP -- but @asmecher or @NateWr have maybe different opinion...
Else, I wil

[2022-10-13 11:34] bozana commented on #8318
Hmmm... Somehow I do not see the site-wide search in the UI :-\ -- I know the path/URL, so I found it, but where in the UI is it? :-D

[2022-10-13 11:57] defstat commented on #5697
Thanks @NateWr.. Good points, replied to all, and updated the PRs.

[2022-10-13 12:48] bozana commented on #8318
@defstat, could you please add the following to the schema/context.json in OPS:
[code]
That should solve the problem of this option not being saved correctly...

[2022-10-13 13:42] Vitaliy-1 commented on #8183
Yes, this should resolve the current problem with emails. Thanks @touhidurabir!
I left a couple of comments regarding query generating part in the pre-flight checks but, honestly, I'm not an expert

[2022-10-13 14:36] pablovp86 commented on #1822
Hello @mjaoj

We are currently working on the next version for OPS 3.3.x, expected by the end of the year. And then we'll work on the necessary adjustments for the plugin to work on OJS 3.3.x as well. Progress details can be seen on the project [roadmad](https://github.com/orgs/lepidus/projects/1).

[2022-10-13 18:02] asmecher commented on #8329
Fixing this issue in part over at https://github.com/pkp/pkp-lib/issues/6093#issuecomment-1276868480.

[2022-10-14 08:05] defstat commented on #8318
@bozana thanks, I will add it to `schemas/context.json`. One question though: Should I leave all 3 options available for OPS? In the UI the users seems to be able to select only `0` and `2`. I added the above mentioned parameter as bellow, but will change it if you think I should.

[code]

[2022-10-14 09:01] defstat commented on #8318
@bozana I committed the PR review changes. I also added your suggestion made [here](https://github.com/pkp/pkp-lib/issues/8318#issuecomment-1277453225) - "I would say that we need to check if journal is enabled too"

I have 3 comments on this:
1. Those changes reflect on the individual Journal/Server search also. Should we consider something else/more because of that?
2. It seems that the search i

[2022-10-14 18:49] asmecher commented on #3017
After discussion with a SciELO pilot journal I've filed this as a Feature Request over here:

https://forum.pkp.sfu.ca/t/ojs-omp-allow-reviewers-to-indicate-availability/75064

Input is welcome over on that topic.

[2022-10-14 18:55] asmecher commented on #4172
A note about the pop-overs that provide more detail about individuals (e.g. reviewers): a SciELO pilot journal raised affiliations as a particularly useful detail.

[2022-10-14 19:38] jonasraoni commented on #7709
@alexxxmendonca,

I've just checked the numbers against a production installation that I've got here, and it seems to be ok, even though I agree it looks confuse.

The `Submissions Received` refers to submissions that are:
- Complete/submitted
- Not flagged as imported data (when the submission date is equals to the publication date)

In order to make it less confuse, I think we'll need to add ext

[2022-10-14 19:50] asmecher commented on #8093
It looks like `<migration class="PKP\migration\upgrade\v3_4_0\I8093_UpdateUserGroupRelationTablesFK"/>` got left out of the upgrade script for OMP and OPS; I'll correct that on #6093.

[2022-10-14 22:59] asmecher opened #8333 "Fix remaining missing foreign key declarations"
This issue is a continuation of https://github.com/pkp/pkp-lib/issues/6093.

The remaining missing foreign key constraints will require some code changes to move away from the use of `0` as a reserved case.

- `lib/pkp/classes/migration/install/CommonMigration.php`:
  - [x]  `site.redirect` (renamed to redirect_context_id)
  - [x]  `plugin_settings.context_id` (uses `0` for site-wide)
  - [x] `not

[2022-10-14 23:00] asmecher commented on #6093
All implemented -- the remaining special cases have been filed here: https://github.com/pkp/pkp-lib/issues/8333

[2022-10-14 23:08] asmecher opened #8334 "Review used filters at query builders, there might be some filters that are used often and have a large cardinality."

[2022-10-14 23:08] asmecher commented on #8334
Whoops, fat finger.

[2022-10-14 23:08] #8334 closed

[2022-10-14 23:11] asmecher commented on #8329
@jonasraoni, a number of these need some scoping...

These aren't bad ideas in general, but doing a complete review would be a big/vague task. Do you have specific proposals for these?

If we're brainstorming ideas, maybe this should be converted to a Discussion, or brought to the Optimization / Testing groups in Mattermost.

[2022-10-15 07:57] jonasraoni commented on #8329
I don't have anything specific in mind, so it's better to move it to the optimization document (which could be transformed into a discussion) if it's not already there... And further work will probably fit better into the https://github.com/pkp/pkp-lib/issues/7304 :)

[2022-10-15 14:05] asmecher commented on #8329
OK! Closing in favour of those.

[2022-10-15 14:05] #8329 closed

[2022-10-15 15:03] gurumelo commented on #8307
[code]

[2022-10-17 08:19] NateWr commented on #7439
Yes, go ahead and swap those two lines.

[2022-10-17 08:44] NateWr commented on #4172
Can you say more about why affiliations would be useful? I would think affiliations would be useful when selecting and assigning a reviewere. But the pop-overs here appear after that's already been done.

[2022-10-17 08:52] NateWr commented on #7709
Based on [this comment](https://github.com/pkp/pkp-lib/issues/7709#issuecomment-1046844858), I thought that we had come up with a conditional expression that worked for OPS too. Is that not right?

[2022-10-17 08:56] Devika008 commented on #4172
I agree with Nate. On the pop-overs we should stick to the minimum details whereas other information about the reviewers can be found in the reviewer panel wherein more information about the reviewers can be given on expanding the detail.

[2022-10-17 09:58] NateWr opened #8335 "Improve progress indicators in step-by-step wizards"
**Describe the problem you would like to solve**
The UI panel that indicates progress in the step-by-step wizard could use some visual improvements to better communicate the current and completed steps.

**Describe the solution you'd like**
The following mockup from @Devika008 demonstrates the use of checkmarks (:heavy_check_mark:) and color shading to indicate progress.

![step-by-step](https://u

[2022-10-17 09:59] defstat commented on #7439
@NateWr

Find [here](https://github.com/pkp/pkp-lib/issues/7439#issue-1047669814) PRs for `stable-3_3_0` and `main` branches

[2022-10-17 10:06] NateWr opened #8336 "Improve editorial decisions UI after usability tests"
**Describe the problem you would like to solve**
Our usability tests of the editorial decision UI (#7265) raised a few areas of confusion with the step instructions, email template finder, language switcher, and file attachments.

**Describe the solution you'd like**
The following mockup from @Devika008 introduces the following recommended changes:

- Move the step description up so it is part of

[2022-10-17 12:00] NateWr opened #8337 "Unable to delete submission due to foreign key cascade"
**Describe the bug**
It's not possible to delete a submission when that submission has at least one review assignment. The error appears to be caused when a publication is deleted and it is the only publication for the submission. The database tries to delete the submission but other related objects have not been removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Assign a review to a s

[2022-10-17 12:54] jonasraoni commented on #7709
@alexxxmendonca after the https://github.com/pkp/pkp-lib/issues/6011, submissions that have been submitted and published in the **same day**, will be assumed to be imported. The difference must be coming from such cases.

[2022-10-17 12:56] alexxxmendonca commented on #7709
I see. I was not aware of that.

That happens a lot with preprints (submitted and posted on the same day). Would it be possible to have a note about that too?

Or, wouldn't it be better to treat it differently in OPS?

[2022-10-17 13:02] NateWr commented on #7709
Hmm, yeah maybe this is my fault for a lack of clarity, but I thought the purpose of the conditional expression was to support the OPS use case while catching _most_ imported submissions in OJS/OMP. The way that would work would be by including same-day matches but excluding one-day-ago:

[code]

I think the crucial difference here is using `<` instead of `<=`.

[2022-10-17 13:24] AhemNason commented on #6863
Hey there, I was just revisiting this. I wanted to flag that even though a given name is required by OJS, this isn't the case if someone has enabled the plugin that allows you to toggle off name/email metadata. It also is an issue if someone imports their content to OJS via article import. You can force metadata into OJS via CLI that wouldn't be allowed in the UI.

If there's no author, OJS should

[2022-10-17 16:49] NateWr commented on #4172
That makes sense. Devika has already designed such a quick-access panel and I think her user research will help identify the information most valuable to show in that panel.

In this case, I'm guessing the Scielo pilot was interested in seeing the author affiliations -- maybe to see a submission's title and authors similar to how it might be presented in a public display.

[2022-10-17 17:23] bozana opened #8338 "3.4 plugin updates"
- [x] QuickSubmit
- [ ] mEDRA (s. https://github.com/pkp/pkp-lib/issues/8597)
- [x] paperbuzz
- [x] Matomo/Piwik
- [x] Backup
- [x] JATSTemplate
- [x] OAI JATS
- [ ] themes
  - [x] submission checklist
  - [x] usage stats display option
- [x] CSV in OMP ?
- [x] reviewReport ?
- [x] URN ? (Bozana)
- [x] CrossrefReferenceLinking (Bozana)
- [ ] ReturningAuthorScreening (see https://github.com/pkp/pkp

[2022-10-17 17:45] Devika008 commented on #4172
What I am also thinking is that in the new table we are designing, there is a column for assigned which includes circular images of those assigned. Just the way we click on review boxes for a pop-up to come, maybe if its an issue which is needed, in the panel that opens on hovering over the images of the assigned, we can show the affiliations or any details that are shown

[2022-10-17 18:57] asmecher opened #8339 "Announcement feed plugin fatal error with PHP 8.x"
**Describe the bug**
See https://forum.pkp.sfu.ca/t/after-upgrading-to-ojs-3-3-0-13-announcement-feed-plugin-not-working-with-php-8-0/75059:
[code]

**What application are you using?**
OJS 3.3.0-13

[2022-10-17 18:59] #8339 closed

[2022-10-17 18:59] asmecher commented on #8339
Users of OJS 3.3.0-13 and prior encountering this error can fix it by applying [this change](https://github.com/pkp/ojs/commit/1b014a0258135ac9e9e82ad245a3421ddee251c3).

[2022-10-17 20:17] asmecher commented on #8307
@gurumelo, thanks for pointing this out. It's caused by https://github.com/pkp/pkp-lib/pull/5805 needing to be fixed in 3.2.0-0, 3.2.0-1, and 3.2.0-2. Rather than making patches containing multiple fixes, I would recommend upgrading to 3.2.0-3 and then following the directions for that release.

[2022-10-17 20:23] asmecher commented on #8327
We went over this on the dev call today, but just to summarize: we should support two-letter language codes, and will probably need to do so for 3.4.0 due to the latest Weblate (to which we upgraded recently) being pickier in that regard. I'm supportive of starting to adopt support for 2-letter language codes ASAP.

[2022-10-17 21:04] asmecher opened #8340 "Indicate institutional subscription price on purchase form"
See https://forum.pkp.sfu.ca/t/subscription-rates-disappear-from-subscription-type-pull-down-menu/74930/8 for details.

**Describe the bug**
The form to purchase an institutional description does not include the subscription price. This appears to be due to an inadvertent change since OJS 2.4.x where the summary was used (including the price), rather than the localized name (which just includes th

[2022-10-17 22:41] asmecher opened #8341 "Back-port PHP8.1 support to `stable-3_3_0`"
PHP8.1 support was added to the `main` branch with https://github.com/pkp/pkp-lib/issues/7690. That support should be back-ported to OJS/OMP/OPS `stable-3_3_0` (and tested via Travis).

[2022-10-17 22:42] asmecher commented on #8341
Whoops, already filed at https://github.com/pkp/pkp-lib/issues/8193

[2022-10-17 22:42] #8341 closed

[2022-10-17 23:23] asmecher commented on #8193
PRs:
- https://github.com/pkp/ojs/pull/3578
- https://github.com/pkp/pkp-lib/pull/8342

[2022-10-18 08:42] Vitaliy-1 commented on #8127
Footer now can be added to the Mailable rather than stored with the email template by overriding `PKP\mail\Mailable::addFooter()`:
[code]
An example of implementation can be found in https://github.com/pkp/pkp-lib/blob/main/classes/mail/traits/Unsubscribe.php, note the usage of the public `allowUnsubscribe()` method in this trait to control footer embedding. The text for the unsubscribe footer can

[2022-10-18 08:42] #8127 closed

[2022-10-18 09:04] NateWr commented on #8327
I'm a little worried about the proliferation of languages from a UX perspective. Can we go ahead and merge country-level language codes with language-only codes? For example:

[code]

Could be come:

[code]

Because Arabic only has one language code. And Portuguese (Brazil) is the more complete one?

[2022-10-18 09:47] bozana commented on #8318
Hi @defstat, sorry for the delay...
I will take a look at the first too, but regarding the third question I would need to ask...
Will come back to you soon...
Thanks a lot!!!

[2022-10-18 10:36] bozana commented on #8318
Hi @defstat,
1. Everything OK, nothing else to consider, I think,
2. Yes, could you please file an issue for that?
3. It seems the Distribution > Access > Posting mode is not needed at all in OPS, so this setting (also in the UI) should be removed. Could you please file an issue for that too?
Thus, no need to change anything in OPS for this issue, thus only the fix for OJS is needed.

[2022-10-18 10:41] bozana commented on #8318
OJS changes are merged, thus, the issue can be closed

[2022-10-18 10:41] #8318 closed

[2022-10-18 10:47] bozana opened #8343 "Remove PUBLISHING_MODE_NONE in OPS"
The setting Distribution > Access > Posting mode is not needed in OPS, thus it should be removed

[2022-10-18 10:56] bozana commented on #8318
I tested once again and now the search in the main branch works... :thinking:

[2022-10-18 11:35] twakeford commented on #8051
Definitely keep the 'The submission has not been previously published....' example in the top post.

Some of our template entries that may be useful:

1. All third-party-owned materials used have been identified with appropriate credit lines, and permission has been obtained from the copyright holder for all formats of the journal. Authors acknowledge their responsibility to gain all permissions p

[2022-10-18 12:41] jonasraoni commented on #7352
Hiding the country when there's no need to disambiguation sounds good 👌

About enabling variants: I have to say the `pt_PT` sounds weird/wrong for me, a `pt_BR` speaker. I'd rather have an interface in `en_US` than `pt_PT`, so I think it makes sense to enable both :)

[2022-10-18 13:03] NateWr opened #8344 "Author country is not validated in the REST API"
**Describe the bug**
It's possible to create an author without a valid country when creating or editing an author through the REST API endpoint:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use the REST API to create or edit an author with an invalid country code, like `1234NoCountry`.
2. Inspect the database to see that this country is in the database.

**What application are you

[2022-10-18 14:40] Vitaliy-1 commented on #8150
PRs
OMP: https://github.com/pkp/omp/pull/1219
pkp-lib: https://github.com/pkp/pkp-lib/pull/8345 (this includes the commit, which resolves https://github.com/pkp/pkp-lib/issues/7324)

[2022-10-18 15:52] asmecher commented on #8327
Yes, I'm mulling this over and will come up with a solution for 3.4.0.

[2022-10-18 15:55] asmecher commented on #7352
@marcbria and @jonasraoni, this is what's already proposed/accepted in https://github.com/pkp/pkp-lib/issues/7352#issuecomment-1248423344.

[2022-10-18 16:12] jonasraoni commented on #7352
I've seen it, I'm just giving my support :)

[2022-10-18 16:51] NateWr opened #8346 "Add more tests for the new submission wizard"
**Describe the issue**
Due to time constraints, there are several features of the new submission wizard that are not tested as part of the integration tests. The following are tests that would be good to add before 3.4's final release.

**High-value Tests**
- [x] I can change the language and section of the submission after I have started the submission. (From the "submitting to X in X language" a

[2022-10-18 17:28] #7324 closed

[2022-10-18 17:28] #8150 closed

[2022-10-18 17:45] defstat commented on #7439
@NateWr the tests are passing for OMP stable-3_3_0

[2022-10-18 19:00] asmecher commented on #6927
@defstat, following today's meeting: this isn't as closely related to https://github.com/pkp/pkp-lib/issues/7792 as I remembered, but anyway.

[2022-10-18 20:26] #5697 closed

[2022-10-19 06:41] bozana commented on #6863
@AhemNason, because your comment is not shown here, I will post it:

[2022-10-19 06:53] bozana commented on #6863
Actually, those plugins are the places where the problem should be fixed, i.e.:
1. What plugin does allow you to toggle off name/email metadata? That plugin should take care that the system logic is not broken. Could you please file an issue there?
2. Also the import of submissions without author's given name in the submission locale should not happen. I think this is a bug. Would it be possible t

[2022-10-19 07:07] bozana commented on #6863
Regarding the 5 points from above:

1.     closed tags shouldn't be written to the Crossref xml export.

It is easier said that done: for example: we assume that there are some specific metadata there (because they are required), e.g. the given name in submission locale (or title, etc.) and we do not check for all of them if they exist. So we would need to always check if the value is there, and t

[2022-10-19 08:01] NateWr commented on #7439
Thanks @defstat! Merged to `main` and `stable-3_3_0`.

[2022-10-19 08:01] #7439 closed

[2022-10-19 08:13] defstat opened #8347 "Upload Galley File - Fails when trying to upload HTML file"
**Describe the bug**
When the user tries to upload an HTML file as a Galley file, the process fails.

![image](https://user-images.githubusercontent.com/560456/196633114-67d0d32b-3862-4db7-9747-ccc733623402.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard
2. Go to Submissions
3. Select any submission
4. Go to "Publication" tab
5. Go to "Galleys" section
6. Click on "Add g

[2022-10-19 08:33] NateWr commented on #6863
The plugin that @AhemNason mentions is [authorRequirements](https://github.com/ewhanson/authorRequirements), written by @ewhanson, and I believe it only makes the email optional at this time.

[2022-10-19 08:40] touhidurabir commented on #8183
@Vitaliy-1 can you check again. I have update the requested changes .  PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8324
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3570

if all ok, I will forward it to `OMP` and `OPS` .

[2022-10-19 09:12] NateWr opened #8348 "Missing email template variables in emails related to a new submission"
**Describe the bug**
Several email template variables are missing in some of the emails that are sent when a new submission is made. These are usually related to the signature in one form or another.

This issue can not be addressed until #7191 is complete and merged to `main`.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure the journal so that editors will be automatically assigne

[2022-10-19 10:00] NateWr opened #8350 "Authors should be able to cancel in-progress submissions"
**Describe the problem you would like to solve**
As an author, I may begin working on a submission but may later decide I don't want to submit to this journal, preprint server, or press. I should be able to cancel my submission before I have completed it and have all of the submission data deleted.

**Describe the solution you'd like**
It should be possible to cancel my submission from the submiss

[2022-10-19 10:08] NateWr opened #8351 "Store a copy of the agreed copyright notice in a submission's activity log"
**Describe the problem you would like to solve**
When making a new submission, authors are asked to agree to the copyright notice of the journal, preprint server or press. However, this information is not stored so it is not possible to know later what terms the author agreed to.

**Describe the solution you'd like**
When a new submission is made, store a copy of the agreed copyright notice as an

[2022-10-19 10:35] NateWr commented on #8325
@Vitaliy-1 can you take a look at this?

[2022-10-19 10:59] NateWr commented on #7191
The following PRs implement the new submission wizard.

PRs:
- https://github.com/pkp/ui-library/pull/221
- https://github.com/pkp/pkp-lib/pull/8349
- https://github.com/pkp/ojs/pull/3579
- https://github.com/pkp/omp/pull/1220
- https://github.com/pkp/ops/pull/371

@asmecher can you do a code review? I recommend just installing from scratch, but if you want to use an existing database, you'll want

[2022-10-19 11:01] bozana commented on #7388
@NateWr, @defstat, it seems it is possible to publish a submission without contributors.
Shall this be so for 3.4.? -- If so, then all the other places in the system (e.g. Crossref export) needs to be adapted... If not, a new issue should be created, to check the existence of the contributors at the publish step...

[2022-10-19 11:10] marcbria commented on #7352
Sorry... I don't know if I read 7352 too fast or it's my poor reading comprehension in English, but I read you again and your comment was perfectly clear.

Thank you Alec. I will report it back in the forum.

[2022-10-19 12:50] NateWr commented on #7388
I think we should implement these requirements at the point that they are required. For example, we've discussed several ways that Crossref enforces metadata restrictions. In such cases, we should add validation checks to the Crossref plugin itself. And these should be added at publication rather than submission.

There's a case for more pre-submission validation checks. But I think those need to

[2022-10-19 13:06] AhemNason commented on #6863
Sorry for all this, folks. I was working on [documentation about this error](https://www.notion.so/pkp/DOI-Service-Support-Manual-d3d98b7768164870bb69c0c737b35409) for hosting support and remembered this ticket, and wrote this reply. I **deleted it shortly thereafter** because I didn't think it made sense in this ticket given all the stuff that's been sorted out since. I probably should have just

[2022-10-19 13:55] bozana commented on #7388
Hmmm... I am not sure I understand what should be done now, for 3.4...

[2022-10-19 14:06] bozana commented on #6863
@AhemNason, I can adapt the Crossref export so that no element 'contributors' is created if there are not authors. Would that solve the problem for now?

[2022-10-19 15:07] AhemNason commented on #6863
It would, yup!

On Wed, 19 Oct 2022 at 11:06, bozana ***@***.***> wrote:

[2022-10-19 15:55] asmecher commented on #8093
@defstat, I think everything here has now been merged; is this issue ready for closing from your side?

[2022-10-19 15:59] defstat commented on #8093
@asmecher I think so.

[2022-10-19 16:00] asmecher commented on #8093
Excellent! Closing, thanks. This was an important one for establishing some forward-looking patterns!

[2022-10-19 16:00] #8093 closed

[2022-10-19 16:14] Vitaliy-1 commented on #8325
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/8352 (remove duplicate localization)
OJS: https://github.com/pkp/ojs/pull/3580

[2022-10-19 16:14] #8325 closed

[2022-10-19 16:41] asmecher commented on #7624
Back-porting to `stable-3_3_0` using a BC shim library as part of https://github.com/pkp/pkp-lib/issues/8193.

[2022-10-19 17:30] jonasraoni commented on #7635
Merged these PRs: https://github.com/pkp/pkp-lib/issues/7635#issuecomment-1246780793

[2022-10-19 17:30] #7635 closed

[2022-10-20 09:18] mpbraendle commented on #5912
I have now opened a detailed feature request on https://forum.pkp.sfu.ca/t/ror-plugin-improvements/75125 - Please comment and vote.

[2022-10-20 10:04] bozana commented on #7318
@NateWr, I have considered all your comments. Would you like to take another look?
Thanks a lot!!! :pray:

[2022-10-20 11:40] nils-stefan-weiher commented on #7505
Dear @NateWr ,

how does this relate to publication formats and galleys?

It looks good, but it seems completely parallel to the content of file genres, galleys and publication formats (for OMP).

I feel the question is:
Why add another place to upload a file?

[2022-10-20 13:17] NateWr commented on #7505
As far as I'm aware, JATS isn't related to OMP since it stands for Journal Article Tag Suite. I know there is a BITS format, but I don't think that's a part of our plans for now.

[2022-10-20 13:28] nils-stefan-weiher commented on #7505
Oh sorry I meant BITS as this is an extension to JATS.

Colleagues from the unversity publishing are working on transforming XML publications from a JATS dialect which was used with the a customised Lens viewer (@withanage Dulip's work).

I was thinking that JATS is just a set of specific XML tags and we also for example use TEI XML and a custom viewer in the frontend for a journal working with an

[2022-10-20 17:35] Vitaliy-1 commented on #8263
The problem is in the default value, which isn't being set https://github.com/pkp/ojs/blob/0e94c3e4157636e7c3ae0ad4f2b8913ff469c926/plugins/themes/default/DefaultThemePlugin.php#L82

[2022-10-20 18:15] Vitaliy-1 commented on #8263
The problem appears to be broader and affects all values and default values of all fields
PRs
lib-pkp: https://github.com/pkp/pkp-lib/pull/8354
tests: https://github.com/pkp/ojs/pull/3581

[2022-10-20 21:40] asmecher commented on #8193
@bozana, could you have a look over the PRs in [this comment](https://github.com/pkp/pkp-lib/issues/8193#issuecomment-1281622784)? The goal here was to have a low-risk, low-impact way to add PHP8.1 support (without e.g. compromising PHP7.4 support), so I erred in favour of suppressing deprecation warnings rather than updating dependencies wholesale. The dependencies have already been updated in `m

[2022-10-20 23:31] asmecher commented on #6611
My apologies for the delay! I don't know this aspect of the code well, but it makes sense to me. Please go ahead.

[2022-10-21 06:32] ajnyga commented on #7446
Noticed that if a journal has no Sections (which is of course something that we maybe should not allow at all?) the Quicksubmit plugin will throw a 500 error.

[2022-10-21 07:59] defstat commented on #7249
Thanks @asmecher. I have resolved the review issues and PR is ready for another review round.

[2022-10-21 09:21] jonasraoni commented on #7709
Correct me if I'm wrong, but if we change the condition to the above (count as received if `date_published >= date_submitted`), then the imported submissions will be included as well... I've just imported one item using the `NativeImportExport` plugin and it ends up with this pattern:

|date_submitted|date_published|
|-|-|
|2021-03-15 00:00:00|2021-03-15|

I didn't see how the `QuickSubmit` works.

[2022-10-21 09:56] touhidurabir commented on #8216
@gurumelo with the latest version of `OJS 3.3.0-13` the `Usage Statistics` plugin should be by default enabled and can not be disabled as that is supposed to be the right behaviour . can you try to upgrade to the latest version of `3.3.X` that is to `3.3.0-13` to see if this get resolved or not as with my current installation of `3.3.0-13` I could not produce this issue .

[2022-10-21 11:30] withanage commented on #7505
@nils-stefan-weiher
I think the focus of this ticket is not the rendering of JATS , but support the basic JATS compatibility.
The Plugins from Heidelberg or the lens Viewer for BITS are rednering galley XMLS  only.

[2022-10-21 14:56] pilasou opened #8356 "OJS ORCID plugin is not sending DOI information to author ORCID profile"
**Describe the bug**
When an author is connecting his/her ORCID account to OJS to submit an article, information about the article is sent to his/her ORCID profil upon publication but article DOI is not used. Instead, OJS uses the article URL.

See example for this article https://doi.org/10.51657/ric.v6i2.51683

It appears in the ORCID page without DOI:  https://orcid.org/0000-0002-8183-6576

The

[2022-10-21 15:38] #8263 closed

[2022-10-21 20:23] ctgraham opened #8357 "Navigation to the user profile before context creation leads to a dead end"
**Describe the bug**
With a fresh install, if the admin navigates to the User Profile before creating a journal/press/other context, there is no link back to the administrative pages or new context wizard.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete a fresh site installation
2. Avoid clicking "Create Journal" or similar button
3. Click on the User Navigation icon
4. Click on "Ed

[2022-10-22 00:46] asmecher commented on #7191
I've reviewed as far through as I could get this week over here: https://github.com/pkp/pkp-lib/pull/8349#pullrequestreview-1150142997

Mostly the comments there are syntactical or low-level, as that's the stuff I was best able to comment on; TBH I'm still not well oriented enough on VueJS to review the work there properly. But almost instantly I threw a curve-ball at it by changing submission loc

[2022-10-22 06:36] defstat commented on #7249
@asmecher I corrected the class documentation for both migrations.

[2022-10-22 08:32] bozana commented on #7318
PRs for issues filter on the stats article page + issueIds param for stats API:
pkp-lib: https://github.com/pkp/pkp-lib/pull/8358
ui-library: https://github.com/pkp/ui-library/pull/222
ojs: https://github.com/pkp/ojs/pull/3582
omp: https://github.com/pkp/omp/pull/1222
ops: https://github.com/pkp/ops/pull/372

[2022-10-22 08:35] bozana commented on #7318
@NateWr, here are the PRs for issues filtering on the stat article page. Also the additional stats API param issueIds. Could you please review it?

[2022-10-22 11:51] bozana commented on #8328
PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/8359
ui-library: https://github.com/pkp/ui-library/pull/223
ojs: https://github.com/pkp/ojs/pull/3583

[2022-10-22 11:53] bozana commented on #8328
Hi @NateWr, me again :-) Could you take a look at the PRs above? If OK, I will do the same for stats issues page (once it is merged) and provide submodule updates for OMP and OPS.

[2022-10-22 11:56] bozana opened #8360 "Fix supp file donwloads stats"
The supp file downloads are considered in the API but not in the UI.
S. https://github.com/pkp/pkp-lib/issues/7318#issuecomment-1274504501
Either add it to the UI or remove it from the API functions.

**PRs**

- https://github.com/pkp/pkp-lib/pull/8443
- https://github.com/pkp/ojs/pull/3629 (only submodule update)
- https://github.com/pkp/omp/pull/1253 (only submodule update)
- https://github.com/

[2022-10-23 18:35] jonasraoni commented on #8167
@asmecher I've just updated this PR, it was part of a bigger one. Feel free to review:
- https://github.com/pkp/pkp-lib/pull/8172
- **[TESTS ONLY]** https://github.com/pkp/ojs/pull/3495

[2022-10-23 19:55] touhidurabir commented on #8344
@NateWr PRs to review
[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8361
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3584

[2022-10-23 20:26] defstat opened #8362 "OMP Catalog List does not show"
**Describe the bug**
At dashboard, if the user selects "Catalog" the "All Monographs" CatalogListPanel is not getting displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard
2. Click on Catalog (underneath "Submissions")
4. See error

**What application are you using?**
 OMP version 3.4.0

**Additional information**
The `CatalogListPanel` does not load because the `items` p

[2022-10-24 08:57] touhidurabir commented on #8337
@NateWr can you still produce this error when deleting a submission . I have tested with several different combination such as
1. with active review round .
2. review round with review assignment added
3. review assignment accepted and confirmed by Editor/JM .

but could not produce the problem at all . I also made sure that I have those `foreign` constrains properly defined for `submissions`, `pu

[2022-10-24 09:10] NateWr commented on #7709
I think in a realistic import setting, the date published is metadata that should represent the date the item was actually published. Wouldn't this usually be in the past?

[2022-10-24 09:31] NateWr commented on #8337
Thanks for testing, @touhidurabir. I will leave this open and try to reproduce it closer to release. It's possible it only effects postgres or that the database I was using was out of sync or something.

[2022-10-24 10:05] jonasraoni commented on #7709
That makes sense. Here I've been using a dataset which perhaps was imported in a not perfect way (I've got the conditions above), so I'll check the `QuickSubmit` and the `NativeImportExport` plugin, then come back with PRs =]

[2022-10-24 10:29] touhidurabir opened #8363 "Submission search index not updating after deleting a submission"
**Describe the bug**
While deleting a new submission, the queue jobs `RemoveSubmissionFromSearchIndexJob` and `RemoveSubmissionFileFromSearchIndexJob` both are throwing exception while trying to update the submission search index . As a result, the submission search index associated table not getting updated properly which indicate broken search index data.

**To Reproduce**
Steps to reproduce the

[2022-10-24 10:35] touhidurabir commented on #8344
@NateWr required changes are done and ready to merge .

[2022-10-24 10:37] NateWr commented on #8344
Thanks @touhidurabir! All merged. :+1:

[2022-10-24 10:37] #8344 closed

[2022-10-24 10:48] NateWr commented on #8328
Looks good! No comments. Happy for you to merge when ready.

[2022-10-24 10:53] defstat commented on #7792
@asmecher @NateWr I have added a PR for that [here](https://github.com/pkp/pkp-lib/issues/7792#issue-1179665538).

**Notes:**
1. The code for the `coverImage` seems to be added to both `lib-pkp` and `omp` publication edit function. I suppose that this tried to reconcile with possible differences between the implementation of the cover image for OJS and OMP. I moved and changed a little bit the cod

[2022-10-24 11:30] bozana commented on #8193
@asmecher, that looks all OK to me :-)

[2022-10-24 11:33] touhidurabir commented on #8183
@Vitaliy-1 all PRs. If tests pass for all , it should be good to merge.

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8324
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3570
[omp](https://github.com/pkp/omp) --> https://github.com/pkp/omp/pull/1225
[ops](https://github.com/touhidurabir/ops) --> https://github.com/pkp/ops/pull/373

[2022-10-24 12:37] touhidurabir commented on #8363
@asmecher PRs to review

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8364
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3585

[2022-10-24 12:48] NateWr commented on #7191
Thanks @asmecher! Yeah, I'm really liking the events and listeners model for isolating code in sensibe players (editor assignment, email sending, etc). I've replied to the comments you've made so far. Will look forward to the rest.

[2022-10-24 13:30] bozana commented on #7318
Hi @NateWr, I have considered you comments for issues filter PRs (https://github.com/pkp/pkp-lib/issues/7318#issuecomment-1287676815). Would you like to double check?

[2022-10-24 13:32] bozana commented on #7318
Maybe also here a reminder that I have also considered your comments on these PRs https://github.com/pkp/pkp-lib/issues/7318#issuecomment-1275103834 -- if you would like to double check...

[2022-10-24 14:14] NateWr commented on #7792
The problem is that cover image thumbnails are not supported in OJS or OPS. That's why the implementation is distinct. I don't think we should try to add them to OJS/OPS at this late stage of 3.4. Adding them will require we think through a lot more things: how they are used in themes, how the thumbnail size is configured, how we produce thumbnails from existing cover images, etc.

[2022-10-24 14:48] librariam commented on #7224
Adding here that an incomplete submission is also created by the Quick Submit plugin when you click "save" without filling out all of the mandatory metadata fields (title, abstract, contributor). OJS shows a pop up saying that mandatory fields are missing, so it would seem that saving didn't work. But if you then close the window or navigate away, the incomplete submission is created. This has the

[2022-10-24 15:39] defstat commented on #7608
@NateWr I am proposing a PR [here](https://github.com/pkp/pkp-lib/issues/7608#issue-1098968927) for that, only for OJS for now, to check if that is the approach you have in mind.

**Notes**
1. The test will fail - I have added an assert that the `content` attribute of a `<meta name="DC.{whatever}" .../>` tag can't be empty. Is this a valid assumption? The `mwandenga` submission (which I am using f

[2022-10-24 15:50] asmecher commented on #8167
@jonasraoni, is https://github.com/pkp/pkp-lib/pull/8172/commits/1ae84975587a54c6abda834db4bd38d9666f2b45 the only "material" change (with https://github.com/pkp/pkp-lib/pull/8172/commits/6043b8dee724ad6e89bf4a9b37a4b6d0557c4f8a just being syntax changes)?

[2022-10-24 15:55] jonasraoni commented on #8167
Here's the required changes for this issue, the rest is mostly syntax/formatting/organization:
https://github.com/pkp/pkp-lib/pull/8172/files#diff-ae633b551c0c70e7b0520a15de4747ea83d8bf0a1bb14f0930df73d1d4733a39L208-L222

[2022-10-24 16:25] defstat commented on #6927
@asmecher a PR for that is added [here](https://github.com/pkp/pkp-lib/issues/6927#issue-852575891).

Fixes:
1. Uploaded image was not shown
2. Uploaded image alt text was not added to as parameter of the `img` tag
3. Deletion of uploaded image was failing
4. Uploaded image alt text could not be edited after initial upload

[2022-10-24 16:34] Vitaliy-1 commented on #8183
Thanks, merged!

[2022-10-24 16:34] #8183 closed

[2022-10-24 17:21] jonasraoni commented on #8317
@asmecher Just a small fix for an issue that I found while creating a custom theme.

**PRs**
`stable-3_3_0`
- https://github.com/pkp/pkp-lib/pull/8320
- **[TESTS ONLY]** https://github.com/pkp/ojs/pull/3567

`main`
- https://github.com/pkp/pkp-lib/pull/8321
- **[TESTS ONLY]** https://github.com/pkp/ojs/pull/3568

[2022-10-24 17:34] NateWr commented on #8239
The content tests would benefit from being on Cypress 7.4.0+. In our current version, it's not possible to upload a file directly via the API, so when we create the content data, we have to use the UI to upload submission files. We'd save time  (and code) if we could use the API directly.

See: https://github.com/cypress-io/cypress/issues/1647

[2022-10-24 17:36] asmecher commented on #8337
It's possible that I added some `ON DELETE CASCADE` clauses after introducing FKs, and that your database was created between the two, @NateWr. If anyone runs into this kind of problem, feel free to ping me about the twists and turns of https://github.com/pkp/pkp-lib/issues/6093 -- there were many.

[2022-10-24 19:22] asmecher commented on #7245
Thanks, @touhidurabir! Just one typo to correct (https://github.com/pkp/pkp-lib/pull/8322#discussion_r1003666070) and it's ready to merge. Can you fix the typo and also port to OMP and OPS?

[2022-10-24 19:48] asmecher commented on #8317
All merged -- thanks, @jonasraoni.

[2022-10-24 19:48] #8317 closed

[2022-10-24 21:37] asmecher commented on #8363
Looks good, thanks, @touhidurabir! Before I merge these, can you also port to OMP and OPS?

[2022-10-24 21:42] asmecher commented on #7391
Closing! Thanks, @touhidurabir, this will make users of larger sites very happy.

[2022-10-24 21:42] #7391 closed

[2022-10-24 22:09] asmecher commented on #6927
Thanks, @defstat!

[2022-10-24 22:09] #6927 closed

[2022-10-24 22:21] asmecher opened #8365 "Remove disable_path_info URL generation mode"
The `disable_path_info` setting in `config.inc.php` has been marked as deprecated since 3.2.0. It was originally introduced to work around servers that did not properly support `PATH_INFO` URLs, but those seem to have dwindled over the past ~10 years. The `disable_path_info` setting is known to misbehave with API-based requests, but we haven't had much complaint about it, suggesting the mode is no

[2022-10-24 22:22] asmecher commented on #8365
Once this is done, a logical next step would be to look into URL generation more broadly -- do better request-independent tools need solidifying? Can we delegate it to a Laravel-based toolset?

[2022-10-25 06:13] franz-dev opened #8366 "[OMP] Hide inactive series in browse block plugin #1224"
Browse Block plugin: When an inactive series is set from backend, you shouldn't view in 'browse' public frontend.

Steps to reproduce the behavior:
1. Enable Browse Block plugin
2. Set some series as inactive
3. Go to your site's home page
4. See error

OMP version 3.3.0-13

[OMP Pull request #1224](https://github.com/pkp/omp/pull/1224)

Thanks.

[2022-10-25 07:31] touhidurabir commented on #7245
@asmecher PRs to merge if all tests pass
[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8322
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3569
[omp](https://github.com/pkp/omp) --> https://github.com/pkp/omp/pull/1226
[ops](https://github.com/touhidurabir/ops) --> https://github.com/pkp/ops/pull/375

[2022-10-25 08:13] touhidurabir commented on #8363
@asmecher All PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8364
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3585
[ops](https://github.com/pkp/ops) --> https://github.com/pkp/ops/pull/376
[omp](https://github.com/touhidurabir/omp) --> https://github.com/pkp/omp/pull/1227

[2022-10-25 09:01] NateWr commented on #7608
Thanks @defstat. @bozana can you take over the code review on this?

[2022-10-25 09:36] NateWr opened #8367 "Track the source of a discussion (Query)"
**Describe the problem you would like to solve**
In some cases, the system automatically generates a discussion (`Query`). It is not easy to identify which discussions were created by users and which discussions were created automatically. This will make it harder to add helpful features later, like identifying the discussion related to a particular action.

**Describe the solution you'd like**
Ad

[2022-10-25 09:37] defstat commented on #7792
So should I move all related code to OMP only? Should we consider plugins like QuickSubmitPlugin (which adds a cover image)?

[2022-10-25 09:45] NateWr commented on #7792
I would say if the bug is only in OMP then let's just solve it there for now. At least the thumbnail stuff needs to stay in OMP for now.

I'm not really sure about QuickSubmit. But if it's thumbnail-related then QuickSubmit shouldn't matter. It doesn't support OMP.

[2022-10-25 11:29] bozana commented on #7608
@NateWr, I am wondering how thoroughly we should test it -- for example, the current submissions that we use in the tests do not have all 'cases'/metadata, e.g. the following is missing: sponsor, coverage, title with prefix and subtitle, DOI, type, multiple languages. If we would really like to test it all, we would need to create an extra submission, that contains all that. But do you think it is

[2022-10-25 11:46] bozana commented on #7608
@defstat, could you also add a check in the DublinCoreMetaPlugin if `getLicenseURL` exists, so that no empty element is created?

[2022-10-25 11:56] bozana opened #8369 "Consider new DOI implementation in other parts of the code"
Consider new DOI implementation in other parts of the code:
- [x] DublinCoreMetaPlugin (s. https://github.com/pkp/pkp-lib/issues/8406)
- [x] GoogleScholarPlugin (s. https://github.com/pkp/pkp-lib/issues/8478)
- [x] IssueNativeXmlFilter
- [x] NativeXmlIssueFilter
- [x] NativeXmlRepresentationFilter
- [x] NativeXmlSubmissionFileFilter
- [x] CounterReportAR1

PRs:
- https://github.com/pkp/pkp-lib/pul

[2022-10-25 12:07] defstat commented on #7397
@NateWr I have added PRs [here](https://github.com/pkp/pkp-lib/issues/7397#issue-1034877317).

[2022-10-25 12:18] bozana commented on #8216
Ah, I think I know where the problem could be:
The usageStats plugin is an site-wide plugin and can be enabled/disabled only by the admin. If the installation has only one journal the admin (site-wide) settings are in the same place as for journal managers, under journal's  Website > Plugins. If the installation has more than one journal, the admin (site-wide) settings are under Administration > S

[2022-10-25 12:57] NateWr commented on #7608
It's up to you whether you think we have the time now. But in general I think it's good to try to be comprehensive with these tests, and to test negative expectations too. For example, test that a DC field is missing when disabled or empty; adding metadat, then disabling that metadata, and making sure it doesn't still appear; etc. It doesn't have to be now, but eventually you'll want to set up con

[2022-10-25 13:08] NateWr commented on #8362
@bozana could you review this?

[2022-10-25 13:16] bozana commented on #7608
Thanks @NateWr! For comprehensive testing I will then need more time, also to think about it :-)
Hmmm... but for now...
@defstat, if it would not mean much work for you and it would be OK for you to do it, I would love to have an extra submission, at least with a title with prefix and subtitle and with multilingual metadata, that we would use for this test. If you think it would be much work, than

[2022-10-25 13:23] Vitaliy-1 commented on #7874
Related issue: https://github.com/pkp/pkp-lib/issues/5048

[2022-10-25 16:40] #6611 closed

[2022-10-25 17:23] Vitaliy-1 commented on #7239
Regarding `To` header field value, it affects each user (name + address)  in the list

[2022-10-25 17:44] bozana commented on #7318
@NateWr, I considered the second review for these PRs https://github.com/pkp/pkp-lib/issues/7318#issuecomment-1275103834. Could you please take a look?
Thanks a lot!!!

[2022-10-25 19:31] asmecher commented on #8193
All merged!

[2022-10-25 19:31] #8193 closed

[2022-10-25 20:44] asmecher commented on #7245
All merged/cherry-picked, thanks!

[2022-10-25 20:44] #7245 closed

[2022-10-25 22:43] asmecher commented on #7249
All merged -- thanks, @defstat!

[2022-10-25 22:43] #7249 closed

[2022-10-26 00:26] asmecher commented on #7352
Thanks, @touhidurabir! I've manually merged the two PRs into `main` (for OJS and pkp-lib) due to merge conflicts. However, I jumped the gun -- there are still a couple of things needing attention...
- There's a quirk with the language toggle block; it appears to always display the selected language's name in English. Do you see the same issue? Example:
  ![image](https://user-images.githubusercont

[2022-10-26 00:54] asmecher commented on #7352
On second thought, I'll take care of the port to OPS and OMP, but the English-language presentation is yours to look at!

[2022-10-26 01:13] asmecher commented on #8363
All merged/cherry-picked -- thanks, @touhidurabir!

[2022-10-26 01:13] #8363 closed

[2022-10-26 05:04] withanage commented on #8239
Hi @jonasraoni , @asmecher  and  @NateWr ,

Here is a quick  update on the current status of the Cypress update  to OJS  stable-3_3_0 branch.

#### What has been done so far

- npm update # update cypress explicitly
- move cypress.json to cypress.config.js and make the necessary changes
- further testing of *.spec.js to *.cv.js and other renaming to support cypress 10
- remove integrationFolder op

[2022-10-26 06:39] touhidurabir commented on #7352
@asmecher looking into it .

[2022-10-26 07:08] marcbria commented on #7352
That's great!

@asmecher, to properly report back in forum: The change will be for 3.4 or greater, isn't it?
If yes, any plans to port back to 3.3?

Thanks!

[2022-10-26 09:20] NateWr opened #8370 "ID not aligned correctly in submissions list"
**Describe the bug**
When a submission does not have any authors, the id and title appear misaligned in the submissions list.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a submission with no authors.
2. Find the submission in the submissions list.
4. See example or problem in screenshot below

**What application are you using?**
`main` (3.4 pre-release). Probably effects 3.3

**Ad

[2022-10-26 11:07] eddoff opened #8371 "Custom Locale on Site level"
**Describe the bug**
The Custom Locale Plugin does not work on site level

**To Reproduce**
Steps to reproduce the behavior:
1. Download the Custom Locale Plugin from the journal's plugin page. version 1.1.0.2
1. Enable the Custom Locale Plugin on site level i.e. at https://site.com/index.php/index/admin/settings#plugins
Then the administration settings and the site home website is not reachable f

[2022-10-26 11:56] bozana opened #8372 "Crossref: do not display empty element contributors"
Consider the strange case when the article does not have any author in Crossref export and do not display empty element contributors in Crossref export XML.
See discussion here: https://github.com/pkp/pkp-lib/issues/6863#issuecomment-1283985484

[2022-10-26 11:56] jonasraoni commented on #8371
Hi @eddoff!

This is a known issue, see: https://github.com/pkp/customLocale/issues/11.
If you have the technical skills, would you mind checking if [this PR works for you](https://github.com/pkp/customLocale/pull/14)?

Meanwhile I'll close this issue as duplicate, if you have some feedback about the PR, please, leave a message on the other issue.

p.s. As I've been touching this plugin recently,

[2022-10-26 11:56] #8371 closed

[2022-10-26 11:57] bozana commented on #6863
I opened a new issue, s. https://github.com/pkp/pkp-lib/issues/8372 -- so that title better fits the actual problem...
and will close this issue...

[2022-10-26 12:02] bozana commented on #6945
Hi @asmecher,
I am not sure why the usageStats plugin is implemented this way -- to throw exception if a log file like is not valid. Do you maybe have an idea?
However, because I did not get any answer how is that possible at all, I would not change it for the current usageStats plugin, but would consider it in our new implementation for 3.4. OK?

[2022-10-26 14:42] withanage commented on #8239
Update: tests are passing until  create sections.

**TODO:** ordering the tests propersly

[2022-10-26 15:29] asmecher commented on #7352
This will be in 3.4, but won't be back-ported to 3.3.

[2022-10-26 19:14] Vitaliy-1 commented on #7239
To summarise findings:
1. It affects sendmail but not SMTP transport (configured and tested both).
2. Looks more like an internal sendmail issue.
3. Despite the problem, email still can be delivered to the specified address (e.g., if `To` header field body is truncated). The received email indeed contains an invalid address field value as shown above.
4. In short, the email address gets truncated

[2022-10-26 21:58] fradeve opened #8373 "jQuery-ui vulnerabilities in 1.12.1"
**Describe the bug**
One of our customers reported the following vulnerabilities affecting jQuery-ui 1.12.1:

The following CVE(s) affect this library version:

[CVE-2021-41184](https://nvd.nist.gov/vuln/detail/CVE-2021-41184)
[CVE-2021-41183](https://nvd.nist.gov/vuln/detail/cve-2021-41183)
[CVE-2021-41182](https://nvd.nist.gov/vuln/detail/CVE-2021-41182)

All of them have been fixed in jquery-ui

[2022-10-26 22:13] asmecher commented on #8373
@fradeve, have you checked the `stable-3_3_0` code for impact of these?

At a glance,
- re: [CVE-2021-41184](https://nvd.nist.gov/vuln/detail/CVE-2021-41184), we are not using the `of` option of the `.position()` util;
- re: [CVE-2021-41183](https://nvd.nist.gov/vuln/detail/cve-2021-41183), we are not using any of the `*Text` options to `.datepicker` widget initialization, and
- re: [CVE-2021-4118

[2022-10-27 00:39] asmecher commented on #8366
Merged, thanks!

[2022-10-27 00:39] #8366 closed

[2022-10-27 00:41] asmecher commented on #8366
Also ported to https://github.com/asmecher/browse.

[2022-10-27 08:03] touhidurabir opened #8374 "Investigate schedule tasks to make sure execution completion return bool"
**Describe the bug**
Few of the schedule tasks have their `executeActions` method implemented in such way that it does not return any `bool` value but just `void`. But this cause error as it is expected to return a bool.

**To Reproduce**
Steps to reproduce the behavior(As pers @NateWr 's testing)
1. Do a clean installation of `OJS main`
2. See the mails related to automatically executed tasks .

[2022-10-27 09:14] fradeve commented on #8373
Hi @asmecher,
thank you so much for the quick feedback! :pray:

I opened this late at night, I forgot to mention that this was reported by a security scan on the customer side on OJS 3.3.0-11 (I would assume that this answers your question about `stable-3_3_0`?).

`composer.json` in `stable-3_3_0` seems to point to the same versions that we have tested:

[code]

On the customer side, I suspect tha

[2022-10-27 09:35] NateWr commented on #7318
@bozana the PRs at https://github.com/pkp/pkp-lib/issues/7318#issuecomment-1275103834 look good. However, I noticed a couple of things:

1. The pkp-lib branch is named `7318` but the ui-library branch is named `7318-issues`. Your submodule commit message is `pkp/pkp-lib#7318 pkp-lib submodule update ##bozana/7318##`. So the tests will check out the right branch in pkp-lib but not ui-library. The t

[2022-10-27 09:40] NateWr commented on #7352
It looks like work on this has been merged to `main`. However, I just looked at an up-to-date checkout of `main` and the country names are showing up in the form language switcher even though I only have one country of a language enabled.

![language-country](https://user-images.githubusercontent.com/2306629/198249928-9eead9a7-28ef-4893-9153-600f6f4ddb71.png)

In the screenshot above, my active lo

[2022-10-27 09:45] bozana commented on #7318
Hi @NateWr, thanks a lot!!!
Hmmm... I did not know that all submodules have to be in the same named branch i.e. all need ##bozana/branch## -- I thought only pkp-lib... I will change the branch for the pkp-lib PR -- I noticed that recently but did not to make the new PR because of the comments... But now, directly before the merge, I can do that...
Ah, I know where is the problem with the ','  -- I

[2022-10-27 09:53] dersmon opened #8375 "PHP 8 requirement introduced by accident?"
WIth https://github.com/pkp/ojs/commit/ee93247a3f2dc083f5f220ac8f08b926df973426 PHP 7 throws  `PHP Fatal error:  Uncaught Error: Call to undefined function PHP81_BC\\strftime()`. Was that intended?

 OJS 3.3.0.13

[2022-10-27 10:02] touhidurabir commented on #7352
@NateWr good catch, it seems I missed that part to update . Also there is still one small change that I have missed and working on it . But do you think we should show it in primary locale or based on each language locale ? for example , for the user top right menu , we are showing each language name based on that language locale , check the screenshot of my local installation
<img width="273" alt

[2022-10-27 10:26] jonasraoni commented on #8375
Hi @dersmon!

Did you update the composer packages? The `PHP81_BC\strftime` refers to this package: https://packagist.org/packages/php81_bc/strftime, which was added here: https://github.com/pkp/pkp-lib/pull/8342/files#diff-d2ab9925cad7eac58e0ff4cc0d251a937ecf49e4b6bf57f8b95aab76648a9d34R28

[2022-10-27 10:31] #8375 closed

[2022-10-27 10:34] jonasraoni commented on #8375
Great, better safe than sorry :)

[2022-10-27 11:22] NateWr commented on #7352
In the forms we should always show the language name in the current locale. So in English it would be:

This is different from the other places, because here the user is entering information rather than switching languages, and we assume only that they know the language they are viewing the UI in.

[2022-10-27 11:27] NateWr commented on #7352
Another place to check is in the form field labels. In a multilingual form, the fields in languages other than the current language have a special label:

[code]

So, when viewing the form in English, the label for the French input field for "Title" will be:

Here, too, the language name should be shown in the current language.

[2022-10-27 12:56] librariam commented on #4962
I hope it is appropriate to add here a suggestions from one of the PKP|PS publishers to have all task notifications include the article ID number for the relevant article. At this time it appears to be included in some but not all notifications.

[2022-10-27 13:27] NateWr commented on #4962
It's not quite fit for this issue. But with #3253 and #5716 it should be possible to add the submission id as a variable to the subject and body of all related email templates. Those will be in 3.4.

[2022-10-27 13:42] librariam commented on #4962
@NateWr do pop up task notifications use the same variables as email templates? If so, I can add this suggestion to either or both of the tickets you mention.

[2022-10-27 14:20] NateWr commented on #4962
Ah, I see you're talking specifically about the Tasks dropdown. This issue is slightly different -- about tracking submissions through the submissions list. I don't know of an existing request that matches what you're talking about.

[2022-10-27 14:27] #8328 closed

[2022-10-27 16:49] Vitaliy-1 commented on #7239
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/8377
tests: https://github.com/pkp/ojs/pull/3590

[2022-10-27 17:20] asmecher opened #8378 "Resolve static call error message accessing reviewer one-click link"
**Describe the bug**
From https://forum.pkp.sfu.ca/t/one-click-link-within-email-generate-php-error-non-static-method-cannot-be-called-statically/75211:

**What application are you using?**
 OJS, OMP or OPS version 3.3.0-13

[2022-10-27 17:34] Vitaliy-1 opened #8379 "Remove reply to link from DISCUSSION_NOTIFICATION email template body"
**Describe the bug**
As the work on the [email footer](https://github.com/pkp/pkp-lib/issues/8127) is finished, this kind of information (like a reply to or unsubscribe link) should be added to it instead rather than to the email template body. In the Discussion... mailables this leads to duplication:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set the default email transport to `

[2022-10-27 18:22] asmecher commented on #8378
If you're encountering this error message in OJS 3.3.0-x, you can fix it by applying [this one-line change](https://github.com/pkp/ojs/commit/9ba97bae5ad6629c6d70ffbf20e19825a4ed9abc) (or upgrading to 3.3.0-14 or newer, once that is released).

[2022-10-27 18:22] #8378 closed

[2022-10-27 22:17] asmecher commented on #6945
Sorry, I can't think of any context that might help -- but I can't think of a good reason to reject a whole logfile because of an invalid entry.

[2022-10-27 22:22] asmecher commented on #8373
Thanks for the details, just trying to assess the potential impact. I don't believe there is one, but would rather we weren't setting off scans either.

I'd be happy to include a bumped version of JQuery if 1) you've tested it over there (and it passes Travis testing) and 2) you can open a PR with the bumped Composer lockfile.

[2022-10-28 00:34] asmecher commented on #8167
This is gnarly code and it's hard to review when formatting is mixed in with substantive changes. Can you pull the substantive changes (i.e. the ones that address the bug report directly) into their own commit, separate from the syntactical/reorganization changes?

[2022-10-28 01:42] asmecher commented on #8337
This was caused by an errant `ON DELETE CASCADE` on `submissions.current_publication_id` (https://github.com/pkp/ojs/commit/95d08fa51049218557cbbba9ee24709d56a74c40). You'll need a rebuilt database before the fix will take effect.

[2022-10-28 01:42] #8337 closed

[2022-10-28 07:32] Vitaliy-1 commented on #8379
PR to pkp-lib: https://github.com/pkp/pkp-lib/pull/8380

[2022-10-28 07:33] #8379 closed

[2022-10-28 09:08] jonasraoni commented on #8167
@asmecher I've updated the PR, only the last 2 commits are important.

[2022-10-28 12:46] defstat commented on #7397
@NateWr I resolved the PR's review comments. It's ready for another round

[2022-10-28 13:09] defstat commented on #8362
@bozana I added [this](https://github.com/pkp/omp/pull/1231) PR with the one-liner syntax.

[2022-10-28 17:23] beausapach commented on #7150
We've seen this happen today and have repeated it a few times, some log entries that appear at the right time are permissions related:

[28-Oct-2022 10:31:13 America/Edmonton] PHP Warning:  file_put_contents(/var/www/sites/ojs-test/cache/fc-pluginSettings-0-defaultthemeplugin.php): failed to open stream: Permission denied in /var/www/sites/ojs-test/lib/pkp/classes/cache/FileCache.inc.php on line 9

[2022-10-28 18:00] ewhanson commented on #8231
Hey @bozana, could you have a look at this? It adds in the DOI suffix character validation for the DOI via the DOI repository as implemented in #5505. It also adds a hook so individual registration agency plugins can override the regex for valid characters as needed. Thanks!

PRs:

- `pkp-lib`: #8381
- `ojs`: pkp/ojs#3591
- `omp`: pkp/omp#1232
- `ops`: pkp/ops#379

[2022-10-28 18:10] asmecher commented on #7150
@beausapach, unfortunately I'm 100% sure that the warning message is not related. But I'm very interested in identifying how this happens.

First up, can you take a database dump and save your web server's access log? These might be necessary in deconstructing how the discussions ended up in this situation. If you're willing to send these to me privately, then great -- if not, maybe we can come up

[2022-10-28 22:16] ewhanson commented on #7933
Hey @NateWr, could you have a quick look at this? It's a pretty small change to remove the hyphen in the DOI suffix generator to bring it inline with the ISO standards recommendations for suffixes. Thanks!

PRs:
- `pkp-lib`: #8382
- `ojs`: pkp/ojs#3592
- `omp`: pkp/omp#1233
- `ops`: pkp/ops#380

[2022-10-29 10:00] bozana commented on #7318
PRs for Stats Context Page:
ui-library: https://github.com/pkp/ui-library/pull/226
pkp-lib: https://github.com/pkp/pkp-lib/pull/8383
ojs: https://github.com/pkp/ojs/pull/3593
omp: https://github.com/pkp/omp/pull/1234
ops: https://github.com/pkp/ops/pull/381

[2022-10-29 10:05] bozana commented on #7318
@NateWr, I think/hope these are the last PRs for this issue, for Stats Context Page. Could you take a look?
I only considered the stats for the given context (journal, press, server) i.e. get() and getTimeline() and not the getMany() and getManyTimeline() that only admin has access to. I am even not sure if it is worth to consider that UI to for the admins... ?
I renamed a few locale keys -- short

[2022-10-29 15:48] #8362 closed

[2022-10-29 18:05] bozana commented on #8216
@touhidurabir, I've just seen all this with the latest stable_3_3_0 branch and you are right -- now the Usage Stats Plugin cannot be disabled and this problem seems not to occur any more.
Thus, I think we can close the issue...
@gurumelo, if you still encounter the issue after upgrading to the latest stable release, please re-open the issue...

[2022-10-30 20:23] jonasraoni commented on #7709
I just did some tests:
- `Native` plugin: if the XML has a `date_submitted` attribute defined, it will be used (and then probably break the heuristic).
- `QuickSubmit` plugin: `date_submitted` is always set to the current date time (fits the heuristic).
- Other import plugins: When the `date_submitted` is absent, they are defaulting to the `publication_date` (I've just checked two repositories, wh

[2022-10-31 07:59] defstat commented on #7608
@bozana I made several changes to the test - (and the plugin). I think OJS is ready for another review round

[2022-10-31 08:01] jonasraoni opened #8386 "The stable branch isn't synchronizing the submodules"
**Describe the bug**
When opening a PR against the `stable` branch, only the `pkp-lib` submodule is synchronized, using the special commit message pattern (`##user/branchname##`).

**What application are you using?**
`stable-3_3_0`

**PRs**
- https://github.com/pkp/ojs/pull/3597
- https://github.com/pkp/omp/pull/1236
- https://github.com/pkp/ops/pull/383

[2022-10-31 08:34] jonasraoni commented on #8386
@asmecher I think it's not needed to port this down to branches < `stable-3_3_0`, right?

The PRs are here (just a copy of the current script):
- https://github.com/pkp/ojs/pull/3597
- https://github.com/pkp/omp/pull/1236
- https://github.com/pkp/ops/pull/383

[2022-10-31 08:40] NateWr commented on #8379
Thanks @Vitaliy-1, did this email template exist in `stable-3_3_0`? If so we might need a migration, but I'm not sure.

[2022-10-31 09:11] NateWr commented on #7397
Thanks @defstat! I've merged the submodules to `main` and cherry-picked in the OJS/OMP/OPS commits because of a merge conflict. :+1:

[2022-10-31 09:11] #7397 closed

[2022-10-31 09:17] NateWr commented on #7933
Thanks @ewhanson. I've merged that change in.

cc @bozana just FYI on the new default DOI patterns. @ewhanson got a hold of the ISO standards which recommend against using hyphens. He's gone from `abcd-efgh` to `abcdefgh`.

[2022-10-31 09:17] #7933 closed

[2022-10-31 09:22] NateWr commented on #7318
Thanks @bozana! @ewhanson would you be able to do the code review on this? It should follow the same patterns set out in the articles and issue stats pages.

[2022-10-31 09:51] marcbria commented on #5912
Just reporting that a some fellows from OJS-ES.network tell us they like to adopt the plugin when it includes:
- Second level affiliations.
- Multiple affiliations.
I will forward them to the FR forum.

Dulip, thanks for sharing it!

[2022-10-31 11:56] Vitaliy-1 commented on #8379
No, was added only to main

[2022-10-31 12:06] bozana commented on #8231
Hi @ewhanson, yes, that all looks good. Would you like to rebase and merge once the tests pass (I think OMP tests are sometimes not accurate)?

[2022-10-31 12:31] fradeve commented on #6340
@NateWr @asmecher issue # 2 (setting the "secure flag") has been raised by one of our customers.
Would it be ok if we submitted a PR to fix _just that_ in the next 3 weeks?

[2022-10-31 14:11] jonasraoni commented on #6340
I've updated some of these settings locally (the http only, same site and the secure flag) while I was testing some things, perhaps I can create a PR 🤔

[2022-10-31 15:51] ewhanson commented on #8231
Hi @bozana, thanks for the review. Yes, I'll take a look at the tests and do that once the tests are passing.

[2022-10-31 17:52] Vitaliy-1 commented on #7239
@asmecher, can you take a look at this PR?

[2022-10-31 18:50] Vitaliy-1 commented on #3646
Was implemented as part of https://github.com/pkp/pkp-lib/issues/7286. When a new issue is published, an automatic email is sent based on `PUBLISH_NOTIFY` template to all (not unsubscribed) users via job batches

[2022-10-31 18:50] #3646 closed

[2022-10-31 21:10] asmecher opened #8389 "Record the provenance of a submission when it is added to the system"
**Describe the bug**
At the moment, submissions can be created via 3 mechanisms:
- Normal workflow
- QuickSubmit plugin
- Import/export toolset

Later, it's sometimes necessary to try to distinguish between these sources using heuristics. For example:
- In the stats toolset, QuickSubmit-based submissions (and possibly import/export ones too) are excluded from editorial stats to avoid a disproporti

[2022-11-01 05:40] ajnyga commented on #8389
How do we treat submissions that were created with Quicksubmit and sent to production and were then worked on in the production stage and published later through the normal workflow? Just a thought, not sure if this needs to affect the issue at all...

[2022-11-01 07:43] Vitaliy-1 commented on #7797
After email footer implementation, we can add an indication (about email being automated) there, rather than the template body

[2022-11-01 08:03] Vitaliy-1 commented on #7058
Already fixed

[2022-11-01 08:03] #7058 closed

[2022-11-01 08:23] Vitaliy-1 commented on #7189
`canDisable` was moved from `EmailTemplate` to `Mailable`. Ensure this works as expected after email refactoring and new Mailable UI implementation.

[2022-11-01 08:28] Vitaliy-1 commented on #7101
`canDisable` was moved from `EmailTemplate` to `Mailable` after refactoring, from this template specifically to  `PKP\mail\mailables\StatisticsReportNotify`. Leaving a reminder to test it in the new Mailable UI after implementation.

[2022-11-01 10:05] NateWr commented on #7101
I'm sorting this out now as part of #5716.

[2022-11-01 10:07] NateWr commented on #7189
I'm investigated this as part of #5716. These fields won't be disable-able but they can be skipped in the UI. I consider it done, so closing.

[2022-11-01 10:07] #7189 closed

[2022-11-01 10:12] NateWr commented on #8389
On second thought, what about just `quickSubmit-old` or `quickSubmit-legacy` to indicate that they represent historical data?

[2022-11-01 11:06] bozana commented on #6945
Ah, I've just seen that in the new implementation I have already considered this, s. https://github.com/pkp/pkp-lib/blob/main/classes/task/PKPUsageStatsLoader.php#L301-L307 -- The error is logged but the processing continues...
Thus I will close this issue...

[2022-11-01 11:06] #6945 closed

[2022-11-01 12:08] bozana commented on #6781
PR that considers the first date published of a context when calculating the SUSHI start date:
pkp-lib: https://github.com/pkp/pkp-lib/pull/8390

[2022-11-01 14:25] Vitaliy-1 commented on #7225
That was done during email refactoring. `$principalContactSignature` was renamed to user `signature`  or `contextSignature` depending on a email template, see: https://github.com/pkp/pkp-lib/blob/27e11f887c244ab858e5c74555850933fdd246e1/classes/migration/upgrade/v3_4_0/I7264_UpdateEmailTemplates.php#L146
The `signature` is assigned to all mailables, where sender is registered user and `contextSign

[2022-11-01 14:25] #7225 closed

[2022-11-01 14:28] NateWr commented on #8145
This is solved in #7191. In OPS, there are now two different mailables and email templates. The correct one gets sent depending on whether the user can post.

[2022-11-01 14:28] #8145 closed

[2022-11-01 14:33] Vitaliy-1 commented on #7874
As the footer was added as a part of email refactoring, notification-type emails (e.g., `AnnouncementNotify`) can now have this information (unsubscribe link) attached as a footer.

[2022-11-01 15:31] asmecher commented on #8290
My apologies for the delay in responding; I've just gone through for a second review. https://github.com/pkp/pkp-lib/pull/8291#pullrequestreview-1163532478

[2022-11-01 16:59] withanage commented on #8239
Hi  @asmecher,

A  quick update on the cypress update

All the tests for the PR with the cypress 10 for the main branch have passed

https://github.com/pkp/ojs/pull/3588/

#### Summary

- npm update -D cypress@latest
- move cypress.json to cypress.config.js and make the necessary changes
- moving  *.spec.js to *.cv.js and other renamings  to support cypress 10
- remove integrationFolder option fro

[2022-11-01 19:24] jonasraoni commented on #8389
@ajnyga AFAICS it will fail to be recognized as an imported submission only if you unpublish it, then change the publication date to somewhere in the future (after the submitted date), if you're creating new versions it should work fine.

Agreed.

If we're going to write custom keys, I vote for whichever format we're using the most (I personally prefer dasherized for database keys).

Alternative:

[2022-11-02 06:31] touhidurabir commented on #8216
@bozana thanks for confirming it . that is what I am experiencing when I am testing it and thats why I can not reproduce it on the latest stable `3.3.0-13` .

@gurumelo as I have suggested before and also @bozana in last comment , please upgrade to the latest stable version to see if this get resolved. I am closing this now but re-open it if the issue still persist .

[2022-11-02 06:31] #8216 closed

[2022-11-02 07:10] touhidurabir opened #8392 "Email client safelink cause user password reset feature broken."
**Describe the bug**
This issue ported from forum and details at https://forum.pkp.sfu.ca/t/e-mail-client-safelink-feature-expires-password-reset-confirmation-emails-sorry-the-link-you-clicked-on-has-expired-or-is-not-valid-please-try-resetting-your-password-again/75112/3

**To Reproduce**
Steps to reproduce the behavior:
1. Request for a password reset
2. Open the mail in MS Outlook and click on

[2022-11-02 07:26] defstat opened #8393 "FieldUploadImage.vue UI update after removing image"
**Describe the bug**
When the user want's to remove an image that uses `FieldUploadImage.vue` component, after saving the form that contains the `FieldUploadImage.vue`, the component's "Restore Original" button does not disappear and it does not work also, because the image that want's to restore does not exist any more (it's deleted when the form was saved)

**To Reproduce**
Steps to reproduce th

[2022-11-02 07:29] defstat commented on #7792
@bozana, [here](https://github.com/pkp/pkp-lib/issues/7792#issue-1179665538) I am proposing a fix for that. This takes care of both issues described:
1. Not being able to create a coverImage thumbnail in OMP
2. Not being able to delete a cover image.
3. It also changes the `Alternate text`'s validation rule, so that it's not mandatory.

The deletion bug existed also in OJS (submission -> publicati

[2022-11-02 08:20] jonasraoni opened #8394 "Translations do not respect the loading order of locale files"
**Describe the bug**
When using the `AppLocale::registerLocaleFile()` with the argument `$addToTop = true`, it's expected the given locale file will have preference over the others when looking for a translation. But the code isn't satisfying this expectation.

The problem is located here:
https://github.com/pkp/pkp-lib/blob/5de2f5e6f7d6102f4ade90e8b3bb9db6af26a0df/classes/i18n/PKPLocale.inc.php#L

[2022-11-02 12:18] touhidurabir commented on #7352
@asmecher please review the following PRs which add patch for missing changes .

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8395
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3599

[2022-11-02 13:03] touhidurabir commented on #7391
@asmecher patch PRs to review
[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8396
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3600

[2022-11-02 13:57] touhidurabir commented on #8327
@asmecher with the merge of pkp/pkp-lib#7352, the bugs I was facing previously seems fixed . If the test for `OJS` passed , it should be good to merge as only regex validation rules get updated in the PRs . if all ok, then I will forward port the changes for `OPS` and `OMP` .

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8332
[ojs](https://github.com/pkp/ojs) -

[2022-11-02 14:53] asmecher commented on #8394
What is `$addToTop` being used for? (What are the motivating examples?) If it's been broken for 10 years, we might just consider removing it.

[2022-11-02 15:25] jonasraoni commented on #8394
@asmecher A use case for this would be the `customLocale` plugin, to ensure the customizations have preference.

Given that `false`, actually means `true` for this argument, then it's being used properly here:
https://github.com/pkp/customLocale/blob/d2d717d93903fd3b7059cdfa25e103651391b912/CustomLocalePlugin.inc.php#L40

But any locale file loaded after that (other plugins?!) will steal the prefe

[2022-11-02 16:07] jnugent opened #8397 "Cancelled reviews are included in a reviewer's "active" review count"
**Describe the bug**
The Review Report plugin does not seem to consider cancelled review assignments as separate inactive reviews, so they get included in the active review total. The other queries in the query builder classes have been updated already to reflect this, so just a tweak needed here.

[2022-11-02 16:11] jnugent commented on #8397
It also occurs to me that the Review Report plugin may need an adjustment for this issue too.  I briefly looked at the DAO class included there and I don't see a mention of the "cancelled" column so reviews that are cancelled and do not have a date_completed set may be being included in other totals.

[2022-11-02 17:28] defstat commented on #7608
@bozana I have resolved the OJS's review comments and added the PR for OMP as well. OPS does not have the `generic/DublinCoreMetaPlugin` implemented.

[2022-11-02 17:29] asmecher commented on #7391
Merged, thanks!

[2022-11-02 17:31] asmecher commented on #8327
I've merged both, thanks; please do port to OMP and OPS.

[2022-11-02 17:32] asmecher commented on #7352
Merged, thanks!

[2022-11-02 17:32] asmecher commented on #7352
@touhidurabir, is this ready to be closed from your perspective?

[2022-11-02 21:57] asmecher commented on #8392
If someone is able to confirm whether or not the Safelink tool results in a `HEAD` request to OJS (as opposed to e.g. `GET`), it'll help us know how to fix this!

[2022-11-02 21:59] asmecher commented on #8397
@jnugent, are you sure you duplicated this in 3.3.0-13? It should have been fixed in 3.3.0-12: https://github.com/pkp/pkp-lib/issues/8189

[2022-11-02 22:02] asmecher commented on #8239
Thanks, @withanage, that's great! This will need to wait for several open branches/PRs to be merged first:
- @NateWr's work on the submission wizard (https://github.com/pkp/pkp-lib/issues/7191)
- Apparently @ewhanson has an open PR with some tests (do you have a link for that, Erik?)
- @defstat is working on some tests at https://github.com/pkp/pkp-lib/issues/7608

Once all 3 of these are merged,

[2022-11-02 22:24] ewhanson commented on #8239
Hey @asmecher, I'm working on new tests in #8027.

[2022-11-02 22:25] asmecher commented on #6340
@fradeve, I'd be happy to review a PR on that specific piece of it!

[2022-11-02 22:45] alwathan opened #8399 "OAI Error with full url query"
**OAI Error with full url Query**
OAI error when full query are set:
[https://jurnal.inkadha.ac.id/index.php/kariman/oai?verb=ListRecords&metadataPrefix=oai_dc&set=kariman](https://jurnal.inkadha.ac.id/index.php/kariman/oai?verb=ListRecords&metadataPrefix=oai_dc&set=kariman)

but working without full url Query:
[https://jurnal.inkadha.ac.id/index.php/kariman/oai?verb=ListRecords&metadataPrefix=oai

[2022-11-02 23:05] asmecher commented on #8399
@alwathan, you can resolve this issue by either applying [this change](https://github.com/pkp/ojs/commit/ab4a557f68836117b00f8a6da43131ee1a6afcfa), or by changing your PHP configuration so that errors/warnings are not sent to the browser (see the PHP [display_errors](https://www.php.net/manual/en/errorfunc.configuration.php#ini.display-errors) setting), or both. It is never recommended to leave `d

[2022-11-02 23:05] #8399 closed

[2022-11-03 01:21] #8231 closed

[2022-11-03 06:43] touhidurabir commented on #8392
@asmecher I am thinking that what we can do it is to check for any request in the `LoginHandler::resetPassword` that is not a `GET` and redirect back to site/context home page . I think that way we can resolve this one .

[2022-11-03 06:55] touhidurabir commented on #7352
@asmecher I believe so . we can re-open again if more changes require again in some other place .

[2022-11-03 07:24] touhidurabir commented on #8327
@asmecher PRs

[ops](https://github.com/touhidurabir/ops) --> https://github.com/pkp/ops/pull/385
[omp](https://github.com/pkp/omp) --> https://github.com/pkp/omp/pull/1239

[2022-11-03 09:20] touhidurabir commented on #8392
@asmecher PRs to review .

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8400
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3602

if this PRs got accepted , I will forward port it for the `stable 3.3.0`

[2022-11-03 11:29] touhidurabir commented on #8374
@asmecher PRs to review

[pkp-lib](https://github.com/pkp/pkp-lib) --> https://github.com/pkp/pkp-lib/pull/8401
[ojs](https://github.com/pkp/ojs) --> https://github.com/pkp/ojs/pull/3603 [Test Only]

As I have checked, no need for any PR for the `OMP` and `OPS` either .

[2022-11-03 11:46] Vitaliy-1 commented on #7496
PRs
pkp-lib (main): https://github.com/pkp/pkp-lib/pull/8402
tests: https://github.com/pkp/ojs/pull/3604

[2022-11-03 11:48] Vitaliy-1 commented on #7496
Sender-related variables aren't always set. Password reset email is automatically sent from the context/site. I suggest to remove those 2 variables from the context signature

[2022-11-03 12:42] bozana opened #8403 "Consider submissions with no contributors"
Currently it is possible to publish a submission with no contributors. This should be considered in other part of the system, e.g. DOI exports...

[2022-11-03 12:47] bozana opened #8404 "Usage Stats Tests"
Implement tests for usage stats that will consider:
- [ ] log file/entry creation
- [ ] log file processing (double and unique clicks in temp DB tables, jobs, storage in metrics DB tables)
- [ ] API results
- [ ] UI
- [ ] CSV exports
- [ ] monthly reprocessing
- [ ] old log file reprocessing ?

[2022-11-03 12:51] bozana commented on #7953
I will close this issue, because I considered it in another one: https://github.com/pkp/pkp-lib/issues/8014 -- where all documentation is listed...

[2022-11-03 12:51] #7953 closed

[2022-11-03 12:52] Vitaliy-1 commented on #7496
@NateWr, can you take a look at these?

[2022-11-03 13:51] jnugent commented on #8397
Dang, you're right, of course.  I was incorrect in my OJS version number.

I still have a question about the review report plugin though - I don't see any mention of the cancelled flag in the query in the DAO.  Are cancelled reviews being included in active totals in that report?

[2022-11-03 15:47] asmecher commented on #7352
(@NateWr, please let us know if you need more on this issue to resolve the presentation as it shows in the new submission wizard.)

[2022-11-03 15:50] asmecher commented on #8403
I think this is already filed in another issue: https://github.com/pkp/pkp-lib/issues/5955

[2022-11-03 17:55] asmecher commented on #8397
Yes, it looks like this issue still affects the review report plugin. Can you update the original entry to scope it for that?

[2022-11-03 18:04] asmecher commented on #8374
Merged the pkp-lib PR, thanks! I'll leave the submodule updates for now, rather than causing merge conflicts for others on the team.

[2022-11-03 18:04] #8374 closed

[2022-11-03 19:20] asmecher commented on #8392
Thanks, @touhidurabir, I've added a comment on the PR:

https://github.com/pkp/pkp-lib/pull/8400/files#r1013310927

Before we merge this, I'd like to identify someone with Outlook and verify that safelink actually *does* use a `HEAD` request.

[2022-11-03 19:35] asmecher commented on #8327
Thanks, @touhidurabir! Closing.

[2022-11-03 19:35] #8327 closed

[2022-11-03 21:29] ewhanson commented on #7318
Hey @bozana and @NateWr. I've completed my code review, and it looks great. I just had a few comments I left in line. Let me know if you have any questions.

[2022-11-04 12:32] bozana commented on #8403
It is slightly different -- that issue #5955 means more work/development -- this issue only wants to fix the current situation: the submission can already be published without contributors but this is not considered in the other part of the systems.

[2022-11-04 14:22] bozana commented on #7318
Thanks a lot @ewhanson! I fixed the getParams() method in StatsContextPage.vue. I've rebased and prepared everything... So if no further comments, questions, objections... I would merge once the tests pass...

[2022-11-04 15:16] bozana commented on #7608
I realized that we do display the empty DC elements, e.g. if abstract for a language is empty, it will be displayed as an empty DC element, e.g.:
`<meta name="DC.Description" xml:lang="fr" content=""/>`
@asmecher, do you know if the empty DC elements can exist so, or shall we fix it?

[2022-11-04 15:38] defstat commented on #7608
Just a note here: the test asserts that all meta tags with content, should have their content not empty. In my opinion, if the content is empty it does not add any additional information/metadata, so there is no obvious reason of declaring it, but I am not sure if there is a DC rule that states that....

[2022-11-04 15:57] asmecher commented on #7608
@bozana, I don't think empty elements are a "bug" speaking strictly, but it would probably be nicer to downstream consumers if we didn't include them when empty.

[2022-11-04 16:24] ewhanson commented on #7318
Hey @bozana, that sounds good to me!

[2022-11-04 17:18] bozana opened #8406 "Improve DublinCoreMetaPlugin"
There are a few things that should be considered in the DublinCoreMetaPlugin:
- get rid of the deprecated submission methods, use publication instead
- chapters (OMP) -- e.g. DOIs, URL
- the URL for book files is wrong
- see if we can get rid of wait in the test
- empty content
E.g. if abstract only exists in one locale and for the other it is empty, the following DC element will be displayed:
`<m

[2022-11-04 17:19] bozana commented on #7608
Yes, thanks @asmecher and @defstat! I just wanted to double check if we should change the tests or open a new issue :-)
Here is the new issue: https://github.com/pkp/pkp-lib/issues/8406 :-)

[2022-11-04 17:22] #7318 closed

[2022-11-04 18:18] asmecher commented on #8386
Merged, thanks; no, I don't recommend back-porting this further.

[2022-11-04 18:18] #8386 closed

[2022-11-04 18:57] asmecher commented on #7191
@NateWr, I've reviewed this again, done a bunch of testing, and left comments where I spotted anything needing a look. Once those are addressed, please send up the latest code; I'll be ready to take a kick at porting the tests and debugging why the OJS tests are failing, if that's still the case. Thanks, this looks great, and I have additional appreciation e.g. for the autosave feature!

[2022-11-07 11:19] bozana commented on #7792
Hi @defstat, I think you can rebase and provide the new submodule updates for all 3 applications, and when tests pass we can merge...

[2022-11-07 12:29] bozana commented on #7608
Ah, I see there are a few things that should be fixed/improved in the DublinCoreMetaPlugin :-\
Thus, for now the tests are good so. Later, when we address this issue https://github.com/pkp/pkp-lib/issues/8406, we can adapt the tests (e.g. to consider chapters and files pages in OMP, versioning, etc)

[2022-11-07 14:02] bozana commented on #8014
PR for dev documentation for reader statistics:
https://github.com/pkp/pkp-docs/pull/1029

[2022-11-07 17:34] NateWr commented on #5716
@Vitaliy-1 could you do a code review of the PRs above? (I've also linked them to the first comment in the issue.) Some of the upgrade tests are failing, but I think you can go ahead and start the review.

[2022-11-08 10:24] NateWr opened #8408 "Possible to complete a submission to an inactive or editor-restricted section"
**Describe the bug**
Each section of a journal can be configured to be inactive or to restrict submissions to editors. This is checked when the submission is created, at the start of the submission wizard, but not when the submission is submitted. As a result, a user who started their submission before the section was restricted can still complete that submission.

**To Reproduce**
Steps to reprod

[2022-11-08 11:04] NateWr commented on #7191
Thanks @asmecher! I've gone through the last round of review comments, rebased the PRs, and pushed up. It looks like Scrutinizer is failing on the doctrine/dbal dependency update:

https://scrutinizer-ci.com/g/pkp/ojs/inspections/c16e3038-14b7-494d-9fbb-b2cf27256f09

OJS tests are still running but they shouldn't be far off passing if they do fail. I'll leave them with you, unless there's anything

[2022-11-08 12:16] bozana commented on #8014
@NateWr, could you please take a look at the PRs?

[2022-11-09 08:44] touhidurabir opened #8409 "Restructure the implementation of queue jobs related files/classes to match current class file structure"
**Describe the Problem**
The current implementation of queue/job system distributed into multiple folders and namespace which does not match the internal structure of other functionality across the app. This cause quite a bit confusion and hard to track class files used for what purpose . At the same time this makes it harder to track down the execution flow and integration of new functionality in

[2022-11-09 10:00] defstat commented on #7792
@bozana, all rebased and tests have passed.

[2022-11-09 10:32] bozana commented on #7792
Thanks a lot @defstat! All merged :tada: :-)

[2022-11-09 10:32] #7792 closed

[2022-11-09 11:09] GrazingScientist commented on #6279
My colleagues and I (all OJS administrators) would appreciate, if the embedding of HTML galleys on the landing page would become part of the default OJS. I think @ajnyga (although I admire his work) is also busy doing other stuff and cannot maintain all his plugins if there is a major change in OJS.

Although this feature is requested more and more frequently, we still hesitate to include third-pa

[2022-11-09 12:10] jonasraoni commented on #8167
That's fine! It was really tough due to the amount of code moving from one place to another 😁

[2022-11-09 15:54] asmecher commented on #8290
@NateWr, this will affect the submission wizard for 3.4 as it adds a new field to the submission forms (similar to the other optional metadata fields that can be enabled/disabled in setup). Would you prefer this to be merged after the submission wizard work, or before?

[2022-11-09 16:25] asmecher commented on #7191
Scrutinizer appears to be using the latest Composer 1.x, which is long since deprecated. I couldn't find any reference on their website to any configuration options or reasoning for this; if it persists, I think we'll need to disable it and look for other options (which was somewhere on the table anyway -- IIRC this year's dev agendas).

[2022-11-09 16:38] asmecher commented on #8290
@iudizm, the latest OJS test appears to fail; have you looked this over? https://app.travis-ci.com/github/pkp/ojs/builds/257457389

[2022-11-09 17:10] iudizm commented on #8290
I believe it is because the failing test expects the submission to already have the Data Availability Statement, which inserted by the [application-agnostic tests from pkp-lib](https://github.com/pkp/pkp-lib/pull/8291/files#diff-bb23160115233ba107b181077d37776cd48b6b08bca81dc34a86f0a99c54cacd), but the [pkp-lib version being used](https://app.travis-ci.com/github/pkp/ojs/jobs/587621143#L460) on th

[2022-11-09 17:48] asmecher commented on #7239
@Vitaliy-1, I've done a bit of local testing in trying to reproduce the problem. Sending directly via SMTP to Mailhog seems to work fine:
![image](https://user-images.githubusercontent.com/200411/200901105-8c2134a2-a96c-4203-9683-cfb72cb7948b.png)

I configured Sendmail locally (as best I can from `localhost`) and tried to replicate the truncation you experienced. Here is my test PHP source:
[code

[2022-11-09 18:19] asmecher commented on #8290
@iudizm, I see; it is possible to instruct Travis which `pkp-lib` branch to check out: https://docs.pkp.sfu.ca/dev/testing/en/continuous-integration#prepare-pull-requests-for-testing

However, we have some outstanding work that will overlap with this PR (https://github.com/pkp/pkp-lib/pull/8349). I'd propose that we...
1. Get https://github.com/pkp/pkp-lib/pull/8349 merged first (this may take a f

[2022-11-09 20:00] Vitaliy-1 commented on #7239
@asmecher, there are not enough symbols in the encoded `To` header body, e.g., in my example with this name, the email address contained 33 characters (including `<>`) and only 3 last ones were truncated

I used sendmail v 8.15.2 and sent the email to my own Gmail address to be sure that it was not a problem with logging.

[2022-11-10 00:30] asmecher commented on #7239
Thanks, that helps. The limit appears to be 256 bytes.

I was able to track this down to a [known Sendmail bug](https://github.com/Distrotech/sendmail/blob/master/KNOWNBUGS#L17..L21) (link is not to an official repo but the file is the same):

In my own Sendmail config, I was still able to successfully send messages that exceeded this limit. When an address exceeded 256 characters, I got a deliver

[2022-11-10 08:44] jonasraoni opened #8411 "Spell checker doesn't work at administrative pages"
**Describe the bug**
The browser spell checker is disabled for all input components at the administrative pages.

This is caused by TinyMCE which deliberately inserts a `spellcheck="false"` at the `body` tag if it's not setup to use a custom/browser spell checker. Setting up TinyMCE to use the browser spell checker fixes the issue.

**To Reproduce**
1. Access any administrative interface that has

[2022-11-10 09:41] jonasraoni commented on #8411
Hi @NateWr! I think this one is better for you to take a look.

[2022-11-10 10:35] bozana commented on #7608
Thanks a lot @defstat!
Everything merged, thus closing...

[2022-11-10 10:35] #7608 closed

[2022-11-10 10:43] jonasraoni opened #8414 "Improve the configuration for the OAI endpoint"
**Describe the bug**
At this moment it's possible to limit the number of records which are retrieved for the `ListRecords` verb through the configuration file (`[oai].oai_max_records`), but it's not possible to limit the `ListIdentifiers` (defaults to 500) nor the `ListSets` (defaults to 50).

It might be worth to skim the code, to check if there's something affecting the performance (see the foru

[2022-11-10 14:23] Vitaliy-1 opened #8415 "Upgrade fails if a theme plugin is installed but not yet copied into the themes directory location"
**Describe the bug**
Considering this as a bug as a step to copy plugins before running an upgrade script isn't reflected in the upgrade documentation:
[code]
(test upgrade from 3.2.1 to the current main branch)
**To Reproduce**
Steps to reproduce the behavior:
1. Have an OJS instance with an installed theme
2. Perform preparation for upgrade according to the upgrade docs
3. Don't copy the theme p

[2022-11-10 21:26] asmecher commented on #8414
@jonasraoni, before jumping into adding another configuration option, I'd suggest verifying with the user that some of the usual database issues don't apply -- for example, mixed InnoDB and MyISAM tables. The performance of `ListIdentifiers` verb has never been a (reported) performance problem before, including on some very large repositories.

[2022-11-10 21:41] asmecher commented on #7709
@jonasraoni, did you tag someone to review these? Are they ready for review?

[2022-11-10 22:16] asmecher commented on #8389
@defstat made some suggestions to me on Mattermost that involved creating a better machine-readable audit trail that covered the submission's lifespan in general, not just where it was created. In my opinion that risks becoming much bigger than the use cases documented here, but one way of achieving it without creating a new mechanism would be to use the existing event log toolset. It is already m

[2022-11-10 22:34] asmecher commented on #6863
@bozana, should this issue be closed?

[2022-11-11 00:37] jnugent commented on #8411
+1 for this - we've tested it on a hosted installation and the fix works nicely.

[2022-11-11 10:06] jonasraoni commented on #7709
@asmecher, it's ready for review... But looks like I didn't tag anybody, so feel free to take a look :)

[2022-11-11 10:11] jonasraoni commented on #8414
Thanks for the information, I've just assumed the performance would be a bit similar to the `ListRecords` (very similar tables and thus engines), but perhaps the user isn't even using MySQL, I've just asked for more information :)

[2022-11-11 13:37] bozana commented on #6863
Oh, yes, I apparently forgot... :-) Thanks!!!

[2022-11-11 13:37] #6863 closed

[2022-11-11 14:35] bozana commented on #7318
PRs for renaming the locale keys:
https://github.com/pkp/pkp-lib/pull/8416
https://github.com/pkp/ojs/pull/3617
https://github.com/pkp/omp/pull/1247 (only submodule update)
https://github.com/pkp/ops/pull/390 (only submodule update)

[2022-11-11 14:49] jonasraoni commented on #8389
I think event logs should be used mostly for auditing generic actions (if I wipe out this table, it shouldn't cause much harm to the system).
As this information is somehow part of the submission state, and will be used at the statistics page, I think it's better to have a dedicated field for it instead of looking for data in the trunk, but that's just my opinion =]

[2022-11-13 13:28] alshammaa commented on #6301
Hi @asmecher,
I noticed that the added index for submissions.current_publication_id in the [upgrade code](https://github.com/pkp/pkp-lib/blob/655a531801aac74b387881454c3d046e020e3488/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php#L71..L83) is made on submission_id column not current_publication_id column. Is this right? or it should be chnaged?

[2022-11-14 09:24] NateWr commented on #8389
I think every action should be recorded in the activity log, including an import, quick submit, "normal" submission, etc. If we need data of the submission state, it should be recorded as `last_source` or something, to indicate that it can change and doesn't represent immutable data.

[2022-11-14 09:49] defstat commented on #8389
My proposal for that is to extend the "audit recordings" (activity log/event log) as needed and then use them as the base/source to populate the (or any related) new column with, for example, the indicator to whether a submission should be taken into account for the statistics. The statistical data will be retrieved the way they are now, no changes into that.

[2022-11-14 13:43] touhidurabir commented on #4343
I think this issue already got resolved by @Vitaliy-1 and implemented the best possible approach possible (that is through job batching), check at https://github.com/touhidurabir/ojs/blob/main/classes/controllers/grid/issues/IssueGridHandler.php#L599-L621 .

Still one problem lies at how job get executed . @NateWr mentioned about `Job Runner` but I think for this kind of jobs, we need it to be dis

[2022-11-14 13:43] #4343 closed

[2022-11-14 15:25] NateWr opened #8419 "Submission acknowledgement appears in email list when disabled"
**Describe the bug**
This is a bug report for a bug that will exist when the PRs for #5716 and #7191 are merged. The work in #7191 introduced a context setting, `submissionAcknowledgement`, that allows a journal to disable the `SubmissionAcknowledgement` email and the `SubmissionAcknowledgementNotAuthor` email. When one or both of these are disabled, the emails should not appear in the list of ema

[2022-11-14 15:31] NateWr opened #8420 "Multiple emails use the same email template"
**Describe the bug**
The changes in #5716 mean that every `Mailable` that can be configured from Settings > Workflow > Emails > Manage Emails must have a unique email template. However, several mailables use the `NOTIFICATION` email template. These mailables should be refactored so that each one uses a unique email template.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Wo

[2022-11-14 15:31] NateWr commented on #8420
There is a `Notification` trait for the mailables that can be removed, maybe. If so, it uses these locale keys which we can maybe remove:

- emailTemplate.variable.notificationContents
- emailTemplate.variable.notificationUrl
- emailTemplate.variable.unsubscribeLink

[2022-11-14 15:34] NateWr opened #8421 "LOCKSS email templates are not associated with a mailable"
**Describe the bug**
In OJS, there are two email templates defined in `emailTemplates.xml` that do not have any mailables associated with them. These are `LOCKSS_EXISTING_ARCHIVE` and `LOCKSS_NEW_ARCHIVE`.

Someone needs to investigate whether these email templates are used or not. If so, they should be converted to use the mailables system. If not, they should be removed from `emailTemplates.xml`

[2022-11-14 15:40] NateWr opened #8422 "Duplicate mailables for reviewer acknowledgement"
**Describe the bug**
There are two `Mailable` classes which both use the `REVIEW_ACK` email template. These mailables are `DecisionNotifyReviewer` and `ReviewAcknowledgement`. Although used in different places, I _think_ they refer to the same "event" and can be combined into one. If they must remain distinct, they should be given different email templates.

**To Reproduce**
Steps to trigger `Deci

[2022-11-14 15:57] NateWr opened #8423 "Make use of EDITOR_ASSIGN email template more consistent"
**Describe the bug**
This issue will emerge when both #5716 and #7191 are merged. The `EDITOR_ASSIGN` template is used in two places:

1. When a new submission is made and an editor is automatically assigned.
2. When assigning a new participant on a submission (or using the notify participant feature), it is one of the email templates that can be used.

Once #5716 is merged, this email template wi

[2022-11-14 16:12] NateWr opened #8424 "Unable to define which mailables are used by each application"
**Describe the problem**
`Mailer::scanMailables()` will search the `/mail/mailables` directory at the application and `lib/pkp` layers and return any `Mailable` classes that it finds. However, for convenience, we will often keep mailable classes or parent classes in the `lib/pkp` directory, even though they are not used for every application.

The most common use case is mailables related to OJS a

[2022-11-14 16:21] NateWr opened #8425 "Description of {$skippedSubmissions} email variable unclear"
**Describe the bug**
Once #5716 is merged, the new email management UI will be in place. In this UI, editors can manage all of the email templates with email template variables like {$submissionUrl}. In the "Statistics Report Notification" email, there is a variable, `{$skippedSubmissions}` with the description, "The number of skipped submissions".

It's not clear what this means for an editor who

[2022-11-14 16:29] NateWr opened #8426 "Method Repo::author()->getSubmissionAuthors() is unnecessary"
**Describe the problem**
The method `Repo::author()->getSubmissionAuthors($submission)` is used in several places. However, this method duplicates the functionality of `$submission->getCurrentPublication()->getData('authors')`. Two minor problems:

1. `Repo::author()->getSubmissionAuthors($submission)` gets the authors from the database, but the authors are already attached to the current publicat

[2022-11-14 16:34] NateWr opened #8427 "Remove use of special email template variable {$authorPrimary}"
**Describe the problem**
In OPS, the `POSTED_ACK` email template uses the variable `{$authorPrimary}`. However, in this case it represents the submitting author, who is the recipient of the email (`PostedAcknowledgement`).

**Describe the solution**
This email variable should be replaced with `{$recipientName}`, the standard variable for recipients, and updated in all existing templates. The refer

[2022-11-14 17:53] NateWr commented on #8411
Thanks for hunting this down, @jonasraoni. All merged to `stable-3_3_0` and `main`. :tada:

[2022-11-14 17:53] #8411 closed

[2022-11-14 18:29] withanage opened #8428 "Cypress testing : upload and display HTML galley"
An HTML file should be uploaded as a galley to a submission with dependant files and displayed in the frontend.

Test scenarios

- Backend: Upload with images and a CSS file
- Frontend: Display of the content  with injected css

Software : OJS

FYI @asmecher and @NateWr

[2022-11-14 22:38] asmecher commented on #8392
Unfortunately it looks like safelink does not use HEAD requests.

The solution will be to change the password reset process so that the user is presented with a button that triggers a form POST to perform the actual action.

[2022-11-14 22:58] asmecher commented on #8409
@touhidurabir, it looks like the OJS tests are failing; can you take a look and ping me when it's ready for a review?

[2022-11-14 23:15] asmecher commented on #6201
@nongenti, I think there are still a couple of pieces you're working on:
- https://github.com/pkp/citationStyleLanguage/pull/84/files#r1014204991
- https://github.com/pkp/omp/pull/1121/files#r1015213407
- (possibly other review comments)

Please make sure to ping me when it's ready for another look and I'll get it merged -- it's very close! Thanks for being patient with us on this one.

[2022-11-15 01:26] asmecher commented on #7709
@jonasraoni, I presume it also needs porting to the other apps?

[2022-11-15 01:26] asmecher commented on #7709
@jonasraoni, can you open PRs to the other apps to kick off Travis tests there?

[2022-11-15 01:43] asmecher commented on #6301
@alshammaa, you're correct, it should be `current_publication_id` and not `submission_id` -- but our policy is not to introduce database changes in builds, so this won't be fixed until 3.4.0 (unless you correct it manually, which will not have side-effects for the upgrade). The commit that fixes it for 3.4 is: 0223fc3a6d7f4526c326d38cd1dc338380b5b152