[2020-10-05 19:15] asmecher commented on #5772
Thanks, @Vitaliy-1, comments made to the OJS PR -> https://github.com/pkp/ojs/pull/2873#issuecomment-703783321

[2020-10-05 20:52] matheusotoni commented on #3386
Hi @NateWr, how are you? I have a similar problem, when rejecting a submission, the page is not updated, so the user needs to reload the page to check the status of the submission. I saw that the file `controllers/modals/editorDecision/EditorDecisionHandler.inc.php` has a `redirectUrlJson`, but I was unable to redirect after rejecting the submission. Can you help me with that?

BR,
Matheus Otoni

[2020-10-06 03:59] fgnievinski opened #6267 "Promote alternate reviewers when invitations are declined"
**Describe the problem you would like to solve**
Our editors spend much time choosing good reviewers to invite. Normally editors invite just two or three reviewers initially. But when invitations get declined, it might take several days or weeks for the editor to invite new reviewers.

**Describe the solution you'd like**
Editors could enter alternate reviewers who would get automatically promoted

[2020-10-06 08:42] NateWr commented on #3386
@matheusotoni can you file a new issue and include details on how to reproduce the problem you're facing and what version of OJS/OMP/OPS you are running?

[2020-10-06 14:10] ajnyga commented on #5727
pr
ops: https://github.com/pkp/ops/pull/67

[2020-10-06 15:29] ajnyga commented on #5957
The old default was that an author was able to change the relation status if she was allowed to publish (which is defined by screening plugins on the server).

The new default in the pr below is now that an author can always edit the relation status of her own submission regardless of whether she can publish by herself.

pr: https://github.com/pkp/ops/pull/68

[2020-10-06 15:30] ajnyga commented on #5774
A related comment from John here: https://github.com/pkp/pkp-lib/issues/5957#issuecomment-669588968

[2020-10-06 15:35] ajnyga commented on #5774
The suggestion above changes the translations and the content of the current three statuses in a way that will affect all translations. Therefore, I would like to hear from native speakers before going forward with any changes here: @asmecher @NateWr ?

The Journal name could be maybe fetched based on the DOI?

If we change the labels like suggested above, can we assume that all preprints submitte

[2020-10-06 21:01] pmangahis opened #6269 "Submission Hyperlink"
**Describe the bug**
When a journal puts an HTML hyperlink to open a new tab in the submission guideline the way the URL function differs on the journal front end and within the submission steps.

**To Reproduce**
Front end (User facing Submission page) - when clicked will open a new window as dictated by the HTML code.

Backend (Author submission step) - If an author were to click on the hyperlin

[2020-10-06 22:21] matheusotoni opened #6270 "When refusing submission the screen does not update"
When refusing a submission, the screen is not updated, you need to reload the page with F5 so that the status of the submission appears to the user.

Follow the steps to reproduce the behavior:

1. Access the administration of a magazine
![image](https://user-images.githubusercontent.com/13783007/95265622-e5e95700-0807-11eb-96ec-e9249e12364a.png)

2. Enter the submissions menu
![image](https://use

[2020-10-06 22:23] matheusotoni commented on #3386
Hi @NateWr, I created a new issue: https://github.com/pkp/pkp-lib/issues/6270

[2020-10-07 06:28] majaroenne commented on #5565
thank you very much for your answer
Do you mean something like this
https://github.com/pkp/ojs/compare/stable-3_2_1...majaroenne:fix-preview-404  ?

[2020-10-07 10:32] NateWr commented on #5774
Yes, that's a good update @alexxxmendonca. I'm also worried about "Preprint approved by a journal and not yet published". Each of the existing options can be validated by anyone. If someone says that something is published, I can go and validate that this is true. However, if an author says that a preprint is approved but not yet published, there's no way for me to validate this claim.

I know tha

[2020-10-07 10:40] NateWr commented on #5565
It might! I can't confirm without looking into it further, but that may do the trick. Have you tested this out to see if it allows/prevents access at the right times?

[2020-10-07 10:48] NateWr commented on #1980
I think that this is addressed in the UI refactor at #5865.

[2020-10-07 10:48] #1980 closed

[2020-10-07 10:55] NateWr commented on #4976
From 3.3 on, it will be possible to use the REST API to upload files. This would be a good time to implement a revision upload wizard for authors.

[2020-10-07 11:44] alexxxmendonca commented on #5774
Hi @NateWr

I understand the concern, but I also need to point out that the preprints posted on SciELO Preprints are not necessarily submitted later to a SciELO journal. What I am trying to say is that to some extent we won't have that control either -- if a preprint is accepted by a non-SciELO journal, there is no way for us to certify that.

Preprints are author-centric and we need to find the r

[2020-10-07 13:42] ajnyga commented on #6171
First step here is to remove unnecessary editoria stats from OPS:
pr: https://github.com/pkp/ops/pull/69

@asmecher

I will probably create a new ticket for tracking any OPS specific editorial stat requirements

[2020-10-07 14:28] asmecher commented on #6269
@pmangahis, could you include a few screenshots so I'm sure I'm looking for the right thing? Thanks!

[2020-10-07 14:51] asmecher commented on #5727
PR reviewed and merged. Thanks, all!

[2020-10-07 14:51] #5727 closed

[2020-10-07 15:40] pmangahis commented on #6269
Hi @asmecher,

Here are two recordings of this in action. The hyperlink gets added by the user in Settings>Workflow>Submission>Checklist (if this is helpful)

Front end
![Frontend Submission hyperlink](https://user-images.githubusercontent.com/50342731/95353942-b3c40d80-0878-11eb-8849-1d4f702a17f4.gif)

Backend

![Backend Submission hyperlink](https://user-images.githubusercontent.com/50342731/953

[2020-10-07 19:49] ajnyga commented on #6172
Hi,

I do not think the posted content schema used for preprints supports registering galley DOIs. https://www.crossref.org/education/content-registration/content-type-markup-guide/posted-content-includes-preprints/

In effect a Crossref DOI is an identifier for the Landing page. This is very apparent in OMP where the Crossref DOI points to a landing page that might have different versions of the

[2020-10-07 20:01] ajnyga commented on #1813
Has someone discussed with Crossref on how withdrawal should affect the DOI or the metadata attached to the DOI?

Also, do we want the withdrawal to affect all versions of preprint by default? Can there be a situation where only the latest version of the preprint is withdrawn?

[2020-10-07 21:03] asmecher commented on #1813
@willinsky, I would be on-board with your proposal for OJS older than 3.2.x, but now that 3.2.x is introduced with versioning I'm not so sure we can rely on the Editorial Decision part of each workflow stage when the publishing action is elsewhere. The Publication area is now a separate tab from the Workflow and has publication status information:

![image](https://user-images.githubusercontent.co

[2020-10-08 03:46] willinsky commented on #6130
PEER REVIEW STATS: Here is one version of what a journal might report on peer-review that would be compliant with Plan S requirements.

<img width="533" alt="Screen Shot 2020-10-07 at 8 44 50 PM" src="https://user-images.githubusercontent.com/10342108/95412502-f409a700-08dd-11eb-98c1-d7f9ac526bc2.png">

We might consider having a section under About called Journal Statistics that would include a f

[2020-10-08 09:03] NateWr commented on #6265
@defstat it looks like OMP may  need an update to its sample.xml file too? https://forum.pkp.sfu.ca/t/sample-xml-file-for-native-xml-plugin-for-omp/63183

[2020-10-08 09:53] NateWr commented on #5774
So I still think that #2 is a meaningful distinction from #1. My understanding is that a scholar may put a very early draft up as a preprint, either because they want to practice open/collaborative science or because they want to stake a claim to being the first to a research finding. In such cases, I think moving from #1 to #2 is a signal from the author that they believe their paper is now ready

[2020-10-08 10:31] NateWr commented on #1813
Can I suggest that we separate out withdrawal (before publication/posting) and retraction (after publication/posting) into two separate issues/discussions? Retraction has a lot of implications that need to be handled carefully (notice on the landing page and galleys, update of metadata deposits and distribution, the ability to indicate a date and reason for retraction, etc), whereas withdrawal is

[2020-10-08 10:33] NateWr commented on #6130
Thanks @willinsky. Where's that example from?

[2020-10-08 10:50] ajnyga commented on #1813
Sounds like an important distinction.

Withdrawal would the be something you can in OJS/OMP/OPS as long as the submission is not published/posted online. The button could be situated under the decline button. In OPS the button should be available of authors as well? This I can implement fairly quickly to all three applications.

Retraction would the be something that happens to a published submiss

[2020-10-08 10:53] NateWr commented on #6269
Confirmed. This is because `|strip_unsafe_html` is applied in the [backend](https://github.com/pkp/pkp-lib/blob/master/templates/submission/form/step1.tpl#L38) but not the [frontend](https://github.com/pkp/pkp-lib/blob/master/templates/frontend/pages/submissions.tpl#L49).

What do you think, Alec? Since this is input from a manager or admin, is it safe without `strip_unsafe_html`? Or can we extend

[2020-10-08 11:02] NateWr commented on #6270
I was unable to reproduce this in OJS 3.2.1. Can you try updating your instance (or set up a test instance with 3.2.1) and see if you can reproduce the problem? I think we may have worked on this recently but can't remember precisely what version got the fix.

Here are the steps I took:

1. Create a submission.
2. View the submission and go to the Submission stage.
3. Click decline and confirm the

[2020-10-08 11:02] #6270 closed

[2020-10-08 11:27] alexxxmendonca commented on #5774
I should also add that several preprints servers, including SciELO Preprints, accept post-prints, which are exactly that: articles that have been accepted for publication by a journal but are not yet published.

It isn't a SciELO only policy and other preprint servers (arXiv, for instance) do this too.

[2020-10-08 12:09] NateWr commented on #1813
Let's not tie this to a particular stage decision. Instead, I'd like to think about where this might sit outside of the workflow. (It will also better prepare us for retractions.)

For a while, I've been thinking about converting some of the buttons at the top into a dropdown menu. This will also give us an extensible pattern for other plugins to use as needed.

![withdraw-dropdown](https://user-i

[2020-10-08 12:17] alexxxmendonca commented on #1813
I am not that confident that weithdawal should be restricted to pre-publication.

We've has cases of duplicate preprints being posted by accident (author confused and made a new submission instead of a new version). Both were posted but we needed to remove one of them. I am not sure this would be the case for a retraction. There is nothing ethically wrong for it to be "retracted".

[2020-10-08 12:28] alexxxmendonca commented on #6172
Just an FYI, we tested this in OPS and it really didn't behave as we expected.

The DOIs assigned to the galleys did not appear anywhere in the public interface and they were not registered in Crossref at all.

We used the "main" submission DOI for Galley 1 and the "translation" DOI for Galley 2.

Galley 1 worked well since it used the "main" DOI and it redirected to preprint the landing page (not

[2020-10-08 12:55] ajnyga commented on #6172
Yeah, Crossref to my knowledge only supports preprint DOIs that resolve to a landing page. I did leave the option to add galley DOIs to the DOI plugin in OPS because in theory someone could use something else to register DOIs and that some other service might have a different solution.

[2020-10-08 12:56] alexxxmendonca commented on #6172
Makes sense.

[2020-10-08 13:09] ajnyga commented on #1813
Is that a case where the submission could be just deleted?

[2020-10-08 13:16] alexxxmendonca commented on #1813
It might have been accessed and linked and referenced so for consistency's sake, we need to keep the record but update the PDF.

This is what we did (check the PDF): https://preprints.scielo.org/index.php/scielo/preprint/view/547

[2020-10-08 13:22] NateWr commented on #5774
Do you know what different statuses they support, what their wording is, and who is authorized to set those statuses?

[2020-10-08 13:26] alexxxmendonca commented on #5774
I am not 100% sure but I think they are using the "Comments" section to inform that, very freestyle.

Check here: https://arxiv.org/abs/2010.02944?context=astro-ph.GA (use the "< prev" and "next >" buttons on the right sidebar to navigate.

[2020-10-08 13:31] NateWr commented on #1813
@alexxxmendonca you're right that withdrawal/retraction is going to be a different thing in OPS. Because there is little time between submission and publication, most withdrawals will need to occur after publication. And retraction isn't really a thing in preprints, is it?

From a technical perspective, withdrawing after posting a preprint in OPS will be very similar to a retraction in OJS/OMP. Fo

[2020-10-08 13:36] NateWr commented on #5774
Thanks! Yeah that doesn't seem like a great approach to me... Let's see if Juan has any input based on his preprint research.

[2020-10-08 13:44] willinsky commented on #1813
Just to reinforce Nate’s point — and I’m happy to see withdrawal and retraction in separate issues -- the important point here is that we want to be clear that papers are not published in OPS, they are posted or shared or circulated. This has become increasingly important  with Covid-19, in which the distinctions between a work that has been published (with peer review) and which circulated in adv

[2020-10-08 13:49] alexxxmendonca commented on #1813
Retraction is more associated with peer-review, indeed.

I very much agree with @willinsky's [comment](https://github.com/pkp/pkp-lib/issues/1813#issuecomment-705578602).

While we are discussing this, I'd recommend checking the section **Defining preprint withdrawal & removal** of ASAPBIo's _[Building trust in preprints: recommendations for servers and other stakeholders](https://osf.io/8dn4w/)_

[2020-10-08 14:11] asmecher commented on #6269
I would support removing `strip_unsafe_html` as this is a journal setting, and generally we don't filter data that's entered by site admin or manager users.

[2020-10-08 14:26] NateWr opened #6271 "Allow preprints to be withdrawn or removed"
**Describe the problem you would like to solve**
A preprint may need to be withdrawn, removed or unpublished. Although similar to retracted publications, preprints are withdrawn for a wider variety of reasons, and may need to be fully removed or unpublished if they contain harmful information or are the result of an unintentional posting.

**Describe the solution you'd like**
This paper, which @al

[2020-10-08 14:28] NateWr commented on #1813
Thanks @alexxxmendonca! That's precisely the information we need, and it even has examples! It's clear now that withdrawal/retraction/removal in OPS will be very different from OJS/OMP. I've created a new issue based on the recommendations in this document and we can continue discussion there: https://github.com/pkp/pkp-lib/issues/6271.

[2020-10-08 15:22] ajnyga commented on #6271
@alexxxmendonca can you comment here if the issue Nate created covers your use cases?

[2020-10-08 15:31] alexxxmendonca commented on #6271
@ajnyga yes, this is perfect.

[2020-10-08 15:32] alexxxmendonca commented on #6271
I would also add that "Distribution services (like Crossref) should receive updated information" in the event of a Removal as well.

[2020-10-08 15:34] NateWr commented on #6271
Thanks @alexxxmendonca. I've updated the original description to make that clear.

[2020-10-08 16:48] asmecher opened #6272 "Re-add submission acknowledgement email recipient controls in Settings"
See https://forum.pkp.sfu.ca/t/notification-of-author-submission/32854/6. The `copySubmissionAckPrimaryContact` and `copySubmissionAckAddress` settings were removed as part of https://github.com/pkp/ojs/commit/43b3907299b8cfd08c0903f672027fc32320beeb, but they are valuable and should be re-introduced.

[2020-10-08 17:36] alexdryden opened #6273 "[OJS] Counts dont update when deleting submissions"
OJS version: 3.2.1-1

Issue: On deleting a submission, the count of submissions displayed for that tab does not update.

More details: When moving to the next page within a tab the total in the active tab updates but totals in other tabs do not.

Steps to reproduce:

1. Open a journal with some duplicate submissions that need to be deleted and have not yet been assigned to an editor.
2. Have enoug

[2020-10-08 17:37] alexdryden opened #6274 "[OJS] When deleting submissions count displayed does not update"
OJS version: 3.2.1-1

Issue: On deleting a submission, the count of submissions displayed for that tab does not update.

More details: When moving to the next page within a tab the total in the active tab updates but totals in other tabs do not.

Steps to reproduce:

1. Open a journal with some duplicate submissions that need to be deleted and have not yet been assigned to an editor.
2. Have enoug

[2020-10-08 18:14] willinsky commented on #6130
This is from head, Nate, as I find it helpful in thinking about what should be included and how things should be identified and laid out to mock up a version, which I inevitably want to further modify after living with it for a while.

[2020-10-08 20:36] willinsky commented on #6271
<img width="826" alt="Screen Shot 2020-10-08 at 12 31 18 PM" src="https://user-images.githubusercontent.com/10342108/95504828-2ceb5f80-0962-11eb-8dc2-bd6b1a79eac4.png">

To jump right in were I'm most comfortable around words and buttons, I'd propose the following three buttons in the Publication tab for OJS. I can see, however, following Nate's excellent design work in https://github.com/pkp/pkp-

[2020-10-09 09:14] marcbria opened #6275 "Improve galleyLabels for multilang journals"
great! glad it worked for you. I agree the existing galleyLabel function is a problem with the hardcoded parentheses. that should be passed through a locale string so that it can be modified appropriately. mind filing an issue for this?

****Describe** the problem you would like to solve**
The way the label of a galley is created (and the presentation) needs to be improved to fit better in multi-l

[2020-10-09 09:49] TobiasWantzen opened #6276 "QuickSubmit Plugin [OJS 3.2.1.1] Keywords in a non-primary locale can’t be deleted"
**Description**
Keywords entered in a secondary locale can’t be deleted with the little red cross (x), only by hitting the backspace key.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'QuickSubmit Plugin' to make a new submission
2. Add all must-have fields, and add keywords in all language locales
4. Try to delete a keyword of a non-primary locale by clicking on the litte red cross

[2020-10-09 10:46] marcbria opened #6277 "Enabled themes not shown on journal's creation wizard"
If you create a new journal and enable a theme different than default, the wizard don't show the new enabled theme.

URL: http://yourJournal/index/admin/wizard/1

Server and client caches cleaned and the result was the same.

If I finish with the wizard, then in the journal's config I can change the theme without any trouble.
If you go back to the wizard, the new enabled theme is checked but hidde

[2020-10-09 10:58] majaroenne commented on #5565
I have tested, but my knowledge about OJS is very poor -
unfortunately -
so I have send the change to test in our ojs-team
who know more about ojs and its functionalities
Thank you for your help

[2020-10-09 11:39] ajnyga commented on #3094
+1 some of our journals have requested this. Is there a reason to keep weeks there @asmecher ?

[2020-10-09 16:10] asmecher commented on #6271
@willinsky, the design work around "minor revisions" vs. unpublish / modify / republish (also leading to the big red version banner) was captured on https://github.com/pkp/pkp-lib/issues/2072 -- I'd suggest reviewing that first, and proposing changes related to it in another issue that links back to both your comment above and that original design work.

[2020-10-09 20:12] jalperin opened #6278 "Enable Data Citations"
**Describe the problem you would like to solve**
- As a _reader_ of an academic journal article, I sometimes want to see the underlying data that was used in the research.
- As a _reviewer_ of an academic journal article, I sometimes want to see the underlying data that was used in the research.

**Describe the solution you'd like**
Many journals now require a [data availability statement](https:/

[2020-10-09 20:48] ctgraham opened #6279 "Allow inline presentation of HTML Galleys"
**Describe the problem you would like to solve**
Use of iframes for display of HTML Galleys is suboptimal.  Embedding the HTML directly content can improve consistency of presentation and ease of indexing.

**Describe the solution you'd like**
* Allow for the plugin to turn on or off an option which embeds the HTML directly in the page rather than using an iframe.
* Allow for the journal to contin

[2020-10-09 22:19] asmecher commented on #6276
@TobiasWantzen, can you check whether this is also fixed by https://github.com/pkp/pkp-lib/issues/6073? There's a patch and instructions to rebuild the CSS noted at the bottom of the issue.

[2020-10-09 22:20] asmecher commented on #6273
@NateWr, presumably this is made possible by the rewrite to page construction in the master branch back-end. Is there a good pattern in the codebase to follow?

[2020-10-09 22:21] #6274 closed

[2020-10-10 07:19] ajnyga commented on #3094
@asmecher can you assign this to me. I think this should be fairly staightforward.

[2020-10-10 09:36] TobiasWantzen commented on #6276
@asmecher I added the `z-index: 90;` for `.pkp_form .localization_popover_container_focus_forced .localization_popover`, which overwrites a `z-index: 99;` of `.pkp_form .localization_popover`. The bug stays the same: Clicking on a keyword item will close the non-primary locale field completely, and the keyword isn’t deleted.

[2020-10-10 22:24] willinsky commented on #1813
Agreeing with Nate's "More" dropdown approach (as well as status indicators), which makes particular sense for withdrawal/retraction due to the rarity of the event and as the More dropdown remains in place throughout the workflow and after publication. I think that the two can be treated as a pair rather than separately. Here's one way it might be handled:

More
 /\
 * Activity Log
 * Library
 * R

[2020-10-11 05:38] chavananand commented on #1900
required PHP is >= 7.2.0; i'm currently using PHP 7.3.23-2+ubuntu20.04.1+deb.sury.org+1
i dont know whats the problem
![Screenshot from 2020-10-11 11-03-35](https://user-images.githubusercontent.com/72011711/95671202-9f9e4a00-0bb1-11eb-8a9d-4beb37bd9c59.png)

[2020-10-12 06:49] dommitchell commented on #5682
Alec,  going back to this, I am still seeing report from users getting a validation error. I see that in this particular instance, the error shows the URL http://www.doaj.org/schemas/iso_639-2b/1.0, whereas our schema is at http://www.doaj.org/schemas/iso_639-2b/1.1

Journal: 1815-4867 revista Maestro y Sociedad

![444384](https://user-images.githubusercontent.com/5955396/95714044-e2baf480-0c67-11

[2020-10-12 09:11] NateWr commented on #6275
Thanks @marcbria. I agree we need to implement a translatable string that implements the parentheses, so that other languages can change it.

And we can also use the first two characters of a locale key (`en_US`) to get a better presentation of the language. That said, the locale key itself won't be translated. So for Chinese someone will see `ZH` and in Arabic they will see `AR` instead of seeing

[2020-10-12 09:33] NateWr commented on #6269
PRs:
https://github.com/pkp/pkp-lib/pull/6280
https://github.com/pkp/pkp-lib/pull/6281 (stable-3_2_1)

Tests:
https://github.com/pkp/ojs/pull/2880

[2020-10-12 10:20] NateWr commented on #3193
A simple way to add this feature would be to add predefined templates to the email dropdown list using an `<optgroup>`.

![other-templates](https://user-images.githubusercontent.com/2306629/95735418-ae056800-0c7c-11eb-95c0-d8f4b0376c09.png)

This would work in most cases where there are a dozen or fewer custom predefined templates. It will be easy enough to find and doesn't require much more work

[2020-10-12 10:21] NateWr commented on #4834
The following mockup suggests a a simple checkbox to be added to the editor decisions modal. When implementing this checkbox, the following things should be checked:

- Only reviewers with completed reviews should be listed here. It is common for there to be many reviewers assigned but only a few (sometimes less than half) actually completing a review.
- The option to BCC reviewers should be hidde

[2020-10-12 10:44] Vitaliy-1 commented on #5565
Hi all,

Sorry for the late response. Thanks, @majaroenne! I'll take a look at it soon.

[2020-10-12 11:16] NateWr commented on #6273
Yes, there will be some syncing issues here. When a submission is deleted, each list searches its own submissions and updates accordingly if it is part of the items in the list. See [this code](https://github.com/pkp/ui-library/blob/master/src/components/ListPanel/submissions/SubmissionsListPanel.vue#L302-L316).

However, if a submission is part of the total count (`itemsMax`) but not part of the

[2020-10-12 11:29] NateWr commented on #6269
Merged to `master` and `stable-3_2_1`.

[2020-10-12 11:29] #6269 closed

[2020-10-12 14:26] NateWr commented on #6079
@asmecher I've found references to two file stages which don't appear to be used anymore: `SUBMISSION_FILE_FAIR_COPY` and `SUBMISSION_FILE_EDITOR`. There's an upgrade script that sets `SUBMISSION_FILE_FAIR_COPY` when converting files over from 2.x to 3.0. But it's no longer used.

Is it ok to remove these? Do we need them in the system for posterity or old data retrieval of any kind?

[2020-10-12 16:14] NateWr commented on #6279
Am I right in thinking that you want to take everything between `<body>` and `</body>` and display it on the article landing page? Wouldn't that end up with duplicated article title, abstract, contributors, etc? My understanding is that the HTML galleys typically include a full representation of the article.

Have you considered instead a plugin which adds a `fullText` property to the `Publication

[2020-10-12 16:23] ctgraham commented on #6279
This wouldn't be on the article landing page, but on the galley view page.  As the htmlArticleGalley currently wraps the full iframe'd HTML in the galley view, this would instead insert the galley's body into the standard article display template.  Dirty commits, but pending PR:
https://github.com/ulsdevteam/ojs/compare/uls-install...ulsdevteam:html-article-galley-inline

Article landing page:
![i

[2020-10-12 16:26] ctgraham commented on #6279
I'm interested in more discussion on the `fullText` property on the `Publication` object, especially with regard to future use in JATS.

[2020-10-12 17:14] Vitaliy-1 commented on #5565
Yes, it grants access to the article/galley page to users with correspondent roles, tested with a manager and author role. Access is prevented for other users (checked with logged out users and logged in as authors not associated with the submission). The access is granted starting from the submission stage. @NateWr, is the idea to show article preview only on the production stage?

If an article

[2020-10-13 07:32] defstat commented on #6265
@NateWr I have created a new native export/import file for OMP as well and backported both OJS and OMP to v3.2.1[https://github.com/pkp/pkp-lib/issues/6265#issuecomment-703234733]

[2020-10-13 09:12] NateWr commented on #6279
Oh! I see what you're doing now. It's a good idea and carefully implemented with the regex fallback to get content between the `<body>`. However, I'm keen to move away from HTML "galleys" and to move towards publishing full text right there on the article landing page, similar to how [eLife](https://elifesciences.org/articles/55797) does it.

We'll always support HTML galleys for back content. But

[2020-10-13 09:17] NateWr commented on #6265
Thanks @defstat, I've gone ahead and merged it all in. :+1:

[2020-10-13 09:17] #6265 closed

[2020-10-13 09:25] NateWr commented on #5565
Thanks @Vitaliy-1! Could you also test with a subeditor and an assistant? These are often the most challenging user permissions to get right.

I think it's ok to have the preview earlier. My thinking is that the best thing to do is to add a preview button in the publication tab, for any publication that is not published:

![preview](https://user-images.githubusercontent.com/2306629/95842305-4c0d37

[2020-10-13 09:34] NateWr commented on #6272
Alec, correct me if I'm wrong, but I believe they worked like this:

- The `copySubmissionAckPrimaryContact` setting is a checkbox. When checked, it sends a submission acknowlegement email to the journal's primary contact (listed under Settings > Journal > Contact).
- The `copySubmissionAckAddress` setting is a text field. Only one email address could be entered here and it would be sent the email

[2020-10-13 09:38] NateWr commented on #6276
@TobiasWantzen can you confirm that the change took effect? CSS is compiled and cached, so you will need to go into Administration and click Clear Template Cache after changing the `.less` file. You may also need to clear cache on your browser.

[2020-10-13 09:40] NateWr commented on #6277
This is a page refresh issue. When a plugin is enabled, the settings wizard needs to reload the available themes and theme forms. I don't think we have an API endpoint to do that just yet. The same problem occurs in the Settings > Website page.

[2020-10-13 09:42] NateWr commented on #6278
Thanks @jalperin. What metadata should be collected that is not currently collected? And what metadata indexing services collect this metadata (and in what form)?

[2020-10-13 09:49] #6059 closed

[2020-10-13 16:34] asmecher commented on #6079
Yes, please remove those. I generally try to leave decommissioned constants in place with a "deprecated" note but now that the 2.4.x upgrade path has been removed from the `master` codebase it's just clutter.

[2020-10-13 21:28] asmecher commented on #1900
@chavananand, this is an old bug with a posted resolution. If the suggested resolution didn't work for you, it's probably not the same bug. I'd suggest posting your question in our forum (https://forum.pkp.sfu.ca) and posting as much information as possible, including your OJS version.

[2020-10-13 22:18] asmecher commented on #5682
@dommitchell, this issue is fixed starting with OJS 3.2.0-2, and that website still runs the older OJS 3.1.1-4.

[2020-10-14 08:48] dommitchell commented on #5682
Thanks Alec.

For publishers getting message, the obvious message is that they need to
upgrade. Is there anything they can do in the meantime?

--

DOAJ (Directory of Open Access Journals) is an independent service managed
by a not-for-profit company  Infrastructure Services for Open Access C.I.C.
<http://is4oa.org/about/> incorporated in the United Kingdom. Company
registration no. 8307499.

[2020-10-14 08:53] NateWr commented on #5774
I think we should seek more feedback on this. The more I think about it the more uncomfortable I am with the declarations in general. I looked at the [preprint recommendations](https://www.scholcommlab.ca/2020/04/08/preprint-recommendations/) you linked in your first comment, and they only suggest a distinction between unpublished preprint and published (peer-reviewed) record.

Our system only eve

[2020-10-14 14:48] asmecher commented on #5682
@dommitchell, they can apply the patch [mentioned above](https://github.com/pkp/pkp-lib/issues/5682#issuecomment-605360922).

[2020-10-14 15:16] asmecher commented on #5774
(See also [CrossRef Relations](https://www.crossref.org/education/content-registration/structural-metadata/relationships/); I don't think JATS provides as typed a standard here.)

[2020-10-14 15:27] asmecher opened #6282 "Ensure that langugae settings cannot be broken by disabling forms/submissions for all languages"
See https://forum.pkp.sfu.ca/t/ojs-3-2-0-3-ojs-3-2-1-1-website-settings-empty-in-backend/63424/4 for details.

Currently it is possible to edit the language settings as a Journal Manager so that no languages are checked for the "Forms" and "Submissions" checkboxes. Apparently this breaks parts of the website, including settings, where there are multilingual inputs that are confused by no language

[2020-10-14 16:04] jalperin commented on #5774
In our recommendations, we suggest 2 top-level distinctions: published elsewhere and not published elsewhere. Then, between those, we suggested a few sub-categories:

1. unpublished record (preprint):
- first  preprint version: the first version shared with the public.
- updated preprint version: an updated version of a previously posted preprint. Ideally each updated version should contain a vers

[2020-10-14 17:22] ajnyga commented on #5774
Yes, `isPreprintOf` is the relation Crossref is interested about and that we can add to the deposit data based on the VoR DOI given for status 3 in the current relations fields. This I do not have in the Crossref plugin yet, but will get it there after a decision here. The versioning relation is already present in deposits and uses the `isVersionOf` relation.

When I made the current three options

[2020-10-14 18:40] ctgraham commented on #6279
Feedback from our journal editors / designers:

The "excursus box" functionality mentioned references certain `aside` content which is classed to have javascript handlers manipulate the display to expand/fold the content.  It will be an interesting design challenge to decide what scripted (or styling?) "content" is part of the article, vs. part of the UI.

[2020-10-14 21:15] jnugent opened #6283 "Section Editors appear to be able to publish, but actually cannot"
Found in 3.2.1 stable.

We had a report of an issue where a user had assigned themselves to a submission as a Section Editor, and went through every stage, and in the Copyediting stage attempted to Schedule for Publication.  Clicking the Issue sub tab lets you appear to assign the submission to an issue, but after being told that all conditions are met and that they could publish immediately, they

[2020-10-15 05:52] TobiasWantzen commented on #6276
@NateWr I tested https://github.com/pkp/pkp-lib/pull/6078/files now on OJS3.1.2.1 and OJS3.2.1.1 – no effect. The bug stays the same: If I try to delete a keyword with the red x of the secondary language, the secondary language form imediately closes, and the keyword is still there.

[2020-10-15 07:40] dommitchell commented on #5682
@asmecher what about if they are only on version 3.0? The patch mentions OJS 3.2.0-0 and 3.2.0-1 only. Thanks!

[2020-10-15 08:06] majaroenne commented on #5565
Hi @NateWr
I made the pull-request https://github.com/pkp/ojs/pull/2883
I'm sorry but not fully understand where or when the preview button is going to be added

[2020-10-15 08:38] NateWr commented on #6279
Thanks @ctgraham, that's helpful feedback. And it largely aligns with the challenges we've heard/faced with XML so far: generating full-text from the XML is a dream, but everyone's galleys are so different that it is unrealistic to expect a WYSIWYG editor to accommodate all of these variations.

For example, we specifically moved the `boxed-text` JATS tag off of our list of [tags that we want the

[2020-10-15 09:08] NateWr commented on #6276
Thanks I will try to look at this soon to confirm the bug and find a fix.

[2020-10-15 09:15] NateWr commented on #5565
Thanks @majaroenne! @Vitaliy-1 when you get a chance can you pick up this PR, do a code review, add the button and get it ready for merge?

[2020-10-15 10:04] Vitaliy-1 opened #6284 "During upgrade to 3.3 email templates' stage_id is populated before being created"
Upgrades of OMP/OPS/OJS from versions below 3.2.1 to the 3.3 (current master branch) throw a fatal error:
[code]
This happens because email templates are being installed before the new upgrade scripts creates a new column `stage_id`: https://github.com/pkp/pkp-lib/blob/be20999f5ebee89d970ef42f6092a56b4f275d14/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php#L49-L54

Possible solutions:

[2020-10-15 10:29] NateWr commented on #5774
I've had some time to think about this and I think that there are two concerns here that need to be split out:

1. Identify the _relationship of a preprint to a published version of record_ that is not hosted on the preprint server.

2. Identify the _status of a preprint_, including whether a particular version is a major or minor revision, whether it has been accepted for publication, and whether

[2020-10-15 10:44] Vitaliy-1 opened #6285 "[OMP] During upgrade to 3.3 script tries to drop submissions.section_id which doesn't exist"
OMP 3.3 (current master branch).

Upgrade from 3.2.0 throws error:
[code]
I don't think OMP has sections, at least I don't see the correspondent table and row in `submissions` and `publications` on my test instance. Think, [this statement](https://github.com/pkp/pkp-lib/blob/be20999f5ebee89d970ef42f6092a56b4f275d14/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php#L29)  should be moved f

[2020-10-15 12:44] alexxxmendonca commented on #5774
Agreed.

I see value in this and some preprint servers have that. It would be great if OPS could have it too.

Agreed.

I think that's key.

So are we completely ignoring the "post-print" relation where it is known that a preprint has been accepted but not yet published by a journal?

[2020-10-15 12:57] asmecher commented on #5682
The patch will apply all the way back to OJS 3.0. However, those are very old releases and users should really upgrade.

[2020-10-15 13:17] ctgraham commented on #6279
I'm sketching this out currently as a contributed plugin, which extends `HtmlArticleGalleyPlugin`:
https://github.com/ulsdevteam/inlineHtmlGalley
(so don't go weirdly changing `HtmlArticleGalleyPlugin`, or pulling it from the codebase!)

[2020-10-15 13:30] NateWr commented on #6279
Great! In your template I'd recommend replacing:

[code]

With:

[code]

It will make it easier to override theme styles that may be applied to common elements (like `<p>` and `<div>`) and apply formatting specifically to the body content.

[2020-10-15 13:34] ctgraham commented on #6279
Planned to do that initially, but then thought it should be the responsibility of the Galley designer to add any wrapping elements in their galley.  Is it better to add `div`s the designer may not want?

[2020-10-15 13:38] NateWr commented on #6279
The benefit of a wrapping div applied by the plugin is that a theme can anticipate it and write styles specifically for it. I'm mostly thinking of cases where a theme's styles clobber basic elements like `<p>`, `<blockquote>`, `<ul`>`, etc.

The wrapper won't stop the galley designer from adding their own wrapper if they'd like. Yes, it's another layer of div nesting. But this has few downsides.

[2020-10-15 16:37] Vitaliy-1 opened #6286 "[OPS] During upgrade to 3.3 script refers to nonexistent table review_forms"
OPS upgrade from 3.2.1 to 3.3 (current master branch).

During upgrade receiving the error message:
[code]
Looks like the table `review_forms` doesn't exist in OPS and this part of the upgrade script should be moved from the shared library to OJS and OMP: https://github.com/pkp/pkp-lib/blob/be20999f5ebee89d970ef42f6092a56b4f275d14/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php#L83-L85

[2020-10-15 17:09] Vitaliy-1 commented on #5772
OMP master: https://github.com/pkp/omp/pull/870
OPS master: https://github.com/pkp/ops/pull/70
@asmecher, can you also take a look at these and merge all 4 if they are ok?

[2020-10-16 08:06] #6261 closed

[2020-10-16 08:08] IWCMoussaS commented on #6261
https://github.com/pkp/pkp-lib/commit/b1932908f81749cf2698cb8b5a1744304b197ff9

[2020-10-16 08:20] IWCMoussaS opened #6287 "OJS Citation Style Language - Download option does not appear on frontend"
Hi, The download optons is not appear on the front-end even the "Downloadable Formats" are" active"

The third-party plugin is working(Citation Style Language)
.....
Downloadable Formats
Select which downloadable formats you'd like to offer your readers. Downloadable formats are typically used for importing into third-party bibliography management software, like EndNote or Zotero.
Endnote/Zotero/M

[2020-10-16 10:10] nils-stefan-weiher opened #6288 "OJS API - add "originalFilename" as property for all dependent files"
**Describe the problem you would like to solve**
We want to use the OJS API to load metadata of an XML submission with dependent files, and to find the original reference of the dependent file in the XML we need the original filename, which is stored in the database but not visible in the API for dependent files of a submission galley.

In this line of the GalleyService.inc.php:
https://github.com

[2020-10-16 11:41] IWCMoussaS commented on #6287
I have changed the theme in our journal to use "default theme" and the download option appeared on the front-end:
..
 Download Citation
    Endnote/Zotero/Mendeley (RIS)
    BibTeX
...
So I believe the issue is related to "Bootstrap 3 Base Theme"
![Screenshot_2020-10-16 Blue whales off the Southern coast of Sri Lanka during the Southwest Monsoon Season IWC Journal of Ce](https://user-images.github

[2020-10-16 15:43] dlowenberg commented on #6278
A couple of things to parse through here: there are data availability statements and there are data citations.

**Data Availability Statements**
- Statement to appear in the metadata submission form (corresponding author to enter) and displayed on the published article (for readers to be notified of where the data live)
- Free text asking for the identifier for where the data live, e.g., "Data are

[2020-10-16 21:30] asmecher commented on #5772
All 4 merged -- thanks, @Vitaliy-1!

[2020-10-16 21:30] #5772 closed

[2020-10-16 21:34] asmecher commented on #6284
@Vitaliy-1, can you include the complete output of the upgrade process? I would think the column should get added during the sync of the `lib/pkp/xml/schema/common.xml` descriptor (specified in `dbscripts/xml/upgrade.xml`)...

[2020-10-16 21:51] asmecher commented on #6285
@Vitaliy-1, a 3.2.0 database should have a `section_id` column in the `submissions` table; see https://github.com/pkp/pkp-lib/blob/3_2_0-0/xml/schema/submissions.xml#L164...L166. Was this database already partially upgraded from 3.2.x to 3.3.x? If so, maybe the column was already dropped?

[2020-10-17 00:48] willinsky commented on #6271
Alec, I did my best in reviewing [#2072](https://github.com/pkp/pkp-lib/issues/2072), as suggested, and couldn’t see a way to make the suggestions there, so entered  changes here on this point of renaming buttons on Publication page "minor revisions" and "new version."

Also, I'm convinced that Nate has it right in [#1813](https://github.com/pkp/pkp-lib/issues/1813) with placing Withdrawal and Ret

[2020-10-17 04:08] myzamri opened #6289 "Error install QucikSubmit plugin via web"
Installation of QuickSubmit plugin is unsuccesssful.  error log:

[Sat Oct 17 11:56:01.265575 2020] [php7:warn] [pid 25136] [client 183.171.185.96:48068] PHP Warning:  rename(): The first argument to copy() function cannot be a directory in /var/www/ojs-3.2.1/lib/pkp/classes/plugins/PluginHelper.inc.php on line 114, referer: https://ojs.zakat.com.my/index.php/azjaf/management/settings/website?r=5f

[2020-10-17 15:06] asmecher commented on #6289
This is a duplicate of https://github.com/pkp/pkp-lib/issues/6035.

[2020-10-17 15:06] #6289 closed

[2020-10-19 09:02] NateWr commented on #6276
It looks like this was being caused because the focus drops out of the input field briefly when deleting an item, and the localisation popover was closing before the focus was put back into the input field. Fixed in https://github.com/pkp/pkp-lib/commit/8320f0e1172729ecae8552e46d2ac213a6823660 and merged to `stable-3_2_1` in https://github.com/pkp/pkp-lib/pull/6290.

[2020-10-19 09:02] #6276 closed

[2020-10-19 09:21] Vitaliy-1 commented on #6254
@NateWr, I see you've already made changes regarding keywords for the Bootstrap theme: https://github.com/NateWr/bootstrap3/commit/5faec99cd17dd55ba88fbc9c3dfb9dfb2a477617. Can this issue be closed then?

[2020-10-19 09:27] NateWr commented on #5774
I don't think we are ignoring it. But we are redefining it as a _particular version_ rather than a _relationship_. So it would no longer be in the Relations area. Instead it would be captured when publishing a new version of a preprint. Does that sound right?

[2020-10-19 10:23] NateWr commented on #6278
Thanks @dlowenberg, that's really helpful! Just to get something clear in my head: when you talk about data citations, are you talking about data sets cited within the research article itself? So these data sets may or may not be from the author(s)? In writing my article, I may, for example, cite a data set that has been put up somewhere by a city council or something, and later cite a data set th

[2020-10-19 11:07] marcbria opened #6291 "[OJS] Improve UI/UX with names for multlang journals."
Hi,

**Problem to solve:**
1. Avoid asking user names more than once when your journal asks for multiple languages... but with same charset.
2. Improve the way you deal with names in multilang journals when you have different charsets.

** Proposal **
![UI-UX-mockup](https://user-images.githubusercontent.com/2779168/96442106-e243d000-120a-11eb-9570-b9a5885029e2.png)

- Field (1) is not a lang fiel

[2020-10-19 11:51] alexxxmendonca commented on #5774
Is it going to be visible for the reader at the user interface?

[2020-10-19 12:00] alvaroarmo commented on #6291
I think this is a very interesting idea. I also find quite annoying the multiple language fields waiting to be filled when it comes to authors' names.

[2020-10-19 12:16] NateWr commented on #6254
Although "fixed" in bootstrap3, it uses a different implementation from the default theme. I think I'd prefer to update that so that we're consistent. I can take this one for 3.3, shouldn't take long.

[2020-10-19 12:17] NateWr commented on #5774
Yeah I think any version summary would be visible on the article/preprint landing page.

[2020-10-19 12:20] NateWr commented on #6291
It's my understanding that the given name should only be required in the primary language. The given name (and preferred name) fields should always fall back to the primary language, so that users should only ever need to enter it in one language.

If this isn't the case then we should change the form to allow it. User registrations in the frontend, for example, do not require a name in more than

[2020-10-19 12:21] alexxxmendonca commented on #5774
Then it should be alright!

[2020-10-19 12:22] alexxxmendonca commented on #6291
I fully support this.

[2020-10-19 12:36] NateWr commented on #6283
Hmm, a Section Editor assigned to the Production stage should be permitted to publish. In this setup, does the Section Editor map to `ROLE_ID_SUB_EDITOR`? Is this user group assigned to the Production stage? I'm not sure what other restrictions would prevent them from publishing.

[2020-10-19 12:37] marcbria commented on #6291
Yes Nate, now it works as you explain and this is much better than in first 3.1.x but the way it works is still a little confusing for our users.
Some issues (probably nuances, but make the user experience not full satisfactory) as I see it:
- The red icon make some users arrive to the conclusion they necessarily need to introduce their name in all the other name fields. Empty fields don't help to

[2020-10-19 12:39] NateWr commented on #6287
This bug waas specific to the Bootstrap3 theme. It has been fixed at https://github.com/NateWr/bootstrap3/issues/160 and the fix should be included in the next theme release.

[2020-10-19 12:39] #6287 closed

[2020-10-19 12:46] NateWr commented on #6288
Hi @isgrim, the submission files are undergoing a major refactor for 3.3. As part of that, we're dropping the `originalFilename` property altogether. Instead, the original filename will be used to set the initial `name` property. This is a multilingual property which can be updated in the UI, and will be used when downloading files (see description of [new file download names](https://github.com/p

[2020-10-19 12:52] NateWr commented on #6291
I think that the UX issues will be addressed when we're able to convert these forms over to the new form system, where multilingual fields are less intrusive. To be frank, overriding the way the multilingual fields work for one form is going to be tricky to do and prone to breaking. I'd recommend that we prioritise moving the user entities over to the API so that we can use the new forms here. You

[2020-10-19 13:16] jnugent commented on #6283
Hi @NateWr  this is an install that was a direct upgrade from OJS 2.4, with no other modifications.  Reassigning the user as a full journal editor to the submission fixed the problem.  They were indeed assigned to the Production stage.

[2020-10-19 13:40] NateWr commented on #6283
Can you reproduce it on that instance with another section editor or a new section editor? When I assign a section editor and login as them, I am able to publish.

[2020-10-19 13:46] jnugent commented on #6283
I'll get back to you.  This instance has no other articles in the copyediting stage that are ready to be published, and I don't want to unpublish/publish on their live install. I'll ask the editor to give me a heads up when they have another article ready to go.

[2020-10-19 13:56] Vitaliy-1 commented on #6285
Yes, table `section_editors` contains a column named `section_id` but I don't see the same in the `submissions` table.
Just made a test installation of 3.2.0-3 downloaded from the site to confirm that.
[code]

[2020-10-19 13:57] IWCMoussaS commented on #6287
Hi @NateWr Thank you very much!
I have updated the new version, yes I would like to confirm it.
Just in case,  I would like to know is there any configuration that, the download citation is adding HTML characters on abstract section:

TY  - JOUR
AU  - Reijnders, P. J. H.
AU  - Donovan, G. P.
AU  - Aguilar, A.
AU  - Bjorge, A.
PY  - 1999/01/01
Y2  - 2020/10/19
TI  - Report of the workshop on chemic

[2020-10-19 14:14] asmecher commented on #5957
Merged https://github.com/pkp/ops/pull/68 -- thanks, @ajnyga (and all)!

[2020-10-19 14:14] #5957 closed

[2020-10-19 14:43] dlowenberg commented on #6278
Data citations can be self citations or citations to other datasets that were used. Your two examples would both qualify. That is why there are two methods for capturing these and sending to Crossref, one being a relation type like a self citation saying "this is my dataset related to this article" and the other being in a reference list referencing another public dataset.

In terms of how this is

[2020-10-19 14:53] asmecher commented on #6285
Sorry, you're right, I was looking under the wrong table. The definition of `section_id` in `submissions` [was in `dbscripts/xml/ojs-schema.xml` in 3.2.0-3](https://github.com/pkp/ojs/blob/3_2_0-3/dbscripts/xml/ojs_schema.xml#L453) but moved to `lib/pkp/xml/schema/submissions.xml` with https://github.com/pkp/pkp-lib/issues/2493.

I've just installed a fresh 3.2.0-3 from the .tar.gz package and `su

[2020-10-19 14:56] Vitaliy-1 commented on #6284
Complete output:
[code]

[2020-10-19 15:03] Vitaliy-1 commented on #6284
If I understand this right:
[code]
this won't run for upgrades starting from 3.2, thus all upgrades from 3.2.0.* are affected (after `3.2.0.9` installEmailTemplate isn't triggered)

[2020-10-19 15:04] asmecher commented on #6284
You've got it, @Vitaliy-1, that's exactly the issue. OK, I'm happy with your previous suggestion, to add the column conditionally -- but I'd suggest using the Laravel schema tools instead of coding a manual `ALTER TABLE` statement.

[2020-10-19 15:06] asmecher commented on #6278
(Just a quick note that we need to consider this as much for reviewers as for authors. Reviewer access to data is a frequent subject around here these days.)

[2020-10-19 15:13] Vitaliy-1 commented on #6285
I see it in OJS but not in OMP (in [3.2.0-3](https://github.com/pkp/omp/blob/3_2_0-3/dbscripts/xml/omp_schema.xml#L359)). As I mentioned, the problem is relevant only for OMP.

[2020-10-19 15:17] Vitaliy-1 commented on #6285
Sorry, you mean moved to `lib/pkp/xml/schema/submissions.json`?

[2020-10-19 15:22] Vitaliy-1 commented on #6285
My bad; but I also don't see it in the `lib/pkp/xml/schema/submissions.xml`

[2020-10-19 15:24] NateWr commented on #6057
The following PRs implement a new UI to upload files during submission. This control now supports uploading multiple files at once and uploading by drag-and-drop, and reduces the number of fields for the author to set in order to make submission easier.

![submission-files](https://user-images.githubusercontent.com/2306629/96470548-517aed80-1226-11eb-930a-2dbc055ea751.gif)

These PRs also implemen

[2020-10-19 15:25] Vitaliy-1 commented on #6285
This is the shared library timestamp that corresponds to OMP 3.2.0-3 version: https://github.com/pkp/pkp-lib/blob/3cbc385fc8ebd07f6117810fe72fc7abfa8abf5a/xml/schema/submissions.xml

[2020-10-19 15:26] asmecher commented on #6285
You're right again; `submissions.section_id` only appears in OMP 3.2.1-x. This drop should be made conditional as well on the column's existence.

[2020-10-19 16:03] asmecher commented on #6286
@Vitaliy-1, do you want to take a crack at this one too? Your proposal makes sense to me.

[2020-10-19 16:11] Vitaliy-1 commented on #5565
I'll take a look tomorrow.

[2020-10-19 17:26] asmecher commented on #2325
At this point I think it's best to recommend https://github.com/ajnyga/objectsForReview/ for this work in the future. It is unlikely that we're going to be able to prioritize further work on the old OFR and BFR plugins given that they have large codebases and a limited set of users.

[2020-10-19 17:26] #2325 closed

[2020-10-19 18:36] ajnyga commented on #5975
So basically if any file is uploaded after the actual submission process, there should be a notification? This sounds like something that all moderators do not want to happen. I mean in cases where not much moderation is happening and authors can just publish on their own. So it should be an optional feature.

@asmecher any preference on how to go forward with this: do I add a core feature that ca

[2020-10-20 06:53] marcbria commented on #6291
Is there any example of how the new multiligual fields will work?
I mean, in codepen.io or jsfiddle.net to have an idea...
At the end, now, this is not a huge problem... so it will be probably addressed as you said.

[2020-10-20 09:06] NateWr opened #6293 "Generated URN does not contain check number"
**Describe the bug**
The URN should generate a check number that is calculated based on the URN. When the URN plugin is configured with a default pattern, the generated URN for an article does not include the check number.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Website > Plugins.
2. Enable the URN plugin, open the settings, and enable the URN for articles. Set the r

[2020-10-20 09:11] NateWr commented on #6287
There's no configuration for this right now. I think that most citation formats don't support the HTML characters, so we [strip them](https://github.com/pkp/citationStyleLanguage/blob/master/CitationStyleLanguagePlugin.inc.php#L322), and there is not currently any logic in the code that would check the citation style and leave the HTML in for some. That's maybe an improvement we could consider sep

[2020-10-20 09:50] NateWr commented on #6291
The new forms can be seen in 3.2+ in the settings forms and the publication tab of the workflow. You can also explore all of the field components in our [UI Library](https://docs.pkp.sfu.ca/dev/ui-library/dev/#/component/Form). Eventually all of our forms will follow this new pattern.

[2020-10-20 10:19] NateWr commented on #4799
Just dropping a note in here to say that a contributor updated the Bootstrap3 theme to separate these. So there were two dropdown menus: "More Citation Formats" and "Download Citation". https://github.com/NateWr/bootstrap3/pull/158 That might be a good way to handle it.

[2020-10-20 11:29] sbirAECA commented on #6291
Thank you @NateWr . Do you have any idea when all the forms will be under the new pattern?. I know it will make customization more flexible, few days ago I sent this to the pkp forum ([OJS 3.2.1.1 Need to change field type from FieldRichTextarea to FieldTextarea in e.g Masthead form](https://forum.pkp.sfu.ca/t/ojs-3-2-1-1-need-to-change-field-type-from-fieldrichtextarea-to-fieldtextarea-in-e-g-mas

[2020-10-20 12:48] NateWr commented on #6291
We'll probably never build this because it would be a lot of work to create and maintain. And for most use cases adding properties and fields isn't sufficient. It's also important how that data is mapped to published material, metadata deposits, etc. So there is still a coding requirement to do something with it.

But we hope in the future it may make customisability easier for certain use cases.

[2020-10-20 12:50] Vitaliy-1 commented on #5565
Roles that have access to the preview by default:
ROLE_ID_MANAGER
ROLE_ID_SITE_ADMIN
ROLE_ID_ASSISTANT
ROLE_ID_SUB_EDITOR
ROLE_ID_SUBSCRIPTION_MANAGER

Roles that have access only if assigned:
ROLE_ID_AUTHOR

Roles that don't have access:
ROLE_ID_REVIEWER
ROLE_ID_READER

@NateWr, is this expected behavior? Personally, I'd allow access for editor/assistant roles only if they are assigned and not al

[2020-10-20 14:07] ajnyga opened #6294 "getPubId() method only partly working in OMP and OJS"
**Describe the bug**

The new Workflow uses a new method for creating DOIs. The old method, still used for galleys and files, is in `PubIdPlugin.in.php` in all three applications. (https://github.com/pkp/omp/blob/master/classes/plugins/PubIdPlugin.inc.php#L43)

It seems that the support for `Submission`/`Publication` objects is broken in the old code. The old PubIdForm concept is however very hand

[2020-10-20 16:51] alexxxmendonca commented on #5975
From our experience's perspective, authors don't upload aditional files after submission.

Maybe the solution is not a notification for every single new file upload after submission, but currently there is no easy way of knowing when an author uploaded a revised version unless you access the submission. Sometimes you even have to check the history or download the file to check. This is very time c

[2020-10-20 16:53] Vitaliy-1 commented on #5565
Besides the question regarding permissions, I'm ready to make a PR.
I see that `IssueAction::allowedPrePublicationAccess` hasn't been used anywhere yet.

[2020-10-20 17:33] gustavotonini commented on #5288
Hi,
we are using OJS 3.2.1.1 and the user list is very slow even with the "user_settings_locale_setting_name_index" index. We have 40 journals with more than 150k users registered.

Analyzing the query plan, I noticed that if we replace the left joins with user_settings by inner joins, the query cost is reduced dramatically. Query time is reduced from 12s to 0.2s!

I have also noticed that all fie

[2020-10-20 17:37] asmecher commented on #5288
@gustavotonini, could you open a draft pull request to show where you replaced the joins? I could review them to see whether the change will cause data problems or not.

[2020-10-20 18:50] asmecher commented on #5565
(I searched my codebases and I can't see anywhere that hook has been used either.)

[2020-10-20 19:28] asmecher commented on #6171
Merged; thanks, @ajnyga!

[2020-10-20 19:28] #6171 closed

[2020-10-20 19:30] asmecher commented on #5638
See: https://github.com/pkp/ops/pull/16 (I'll take a look, so assigning to me to clean those up)

[2020-10-20 19:56] alexxxmendonca commented on #5975
_you request them to do changes to the galley and want to know when those changes are done_

That is mostly what happens.

Often times the authors need to fix the manuscript before we accept them. We requests these adjustments and we give them 2 working days to send a new version (within the same ID, not a new one). It would be good to be notified when they do it, it would speed up the process a l

[2020-10-21 05:42] ajnyga commented on #2505
This issue surfaced again in one of our journals. @ctgraham do you think we could meet maybe together with @NateWr and @asmecher and decide how to implement this to OJS?

Crossref needs to be contacted, because I think they are linking the journal name to an ISSN and that could create problems when registerin DOIs for backissues.

[2020-10-21 06:55] marcbria commented on #6291
I forget it, but the UI library is great. Thanks for the work.

As you said, they are less intrusive, but I have doubts if will address the 2 issues I pointed in former post:

1. **Red icon:** The red icon shown if you don't fill all the multilang variants will make some users arrive to the conclusion they necessarily need to introduce their name in all the other name fields.
2. **Required field:*

[2020-10-21 08:51] sbirAECA commented on #6291
Good morning. I started testing OJS 3.2.1.1, and I can see that context, emailTemplate, publication and site were under the new pattern. In the github repository has been added FORM_ANNOUNCEMENT. Can you tell me if user and submission will be under the new pattern soon?
Thank you

[2020-10-21 08:56] ajnyga commented on #5638
Thanks! If I remember correctly, the tests do no cover all bullet points in Nate's list.

[2020-10-21 09:20] ajnyga opened #6295 "Advanced Editorial statistics for OPS"
The default OJS Editorial statistics were cleaned out with https://github.com/pkp/pkp-lib/issues/6171.

This ticket is for tracking any future development on OPS Editorial statistics page.

The current default layout now shows figures for:
Submissions Received
Submissions Accepted
Submissions Declined
Submissions Published

@alexxxmendonca I think you had some ideas about this? Maybe @NateWr too?

[2020-10-21 09:26] ajnyga commented on #6227
Should have a flag in Publication settings saying whether the Publication has been published at some point? This would make the requested feature easy to implement and I have a feeling there would be other use cases for it as well.

It is important, as noted, that a Publication once published is not too easy to delete especially if DOIs are used.

[2020-10-21 09:29] ajnyga commented on #5932
@NateWr can you assign this to me, it as dropped off my radar

[2020-10-21 09:32] ajnyga commented on #3094
This will require changes to the translations. What is the schedule with the next release? @asmecher ?

[2020-10-21 10:15] ajnyga commented on #6256
@NateWr https://github.com/pkp/ops/pull/72

If you know a better way of fetching the Request object let me know.

[2020-10-21 11:28] NateWr commented on #5565
Thanks @Vitaliy-1. The role access is probably how it was working before so we don't necessarily need to change it. However, can we put in an additional check that prevents access to the preview for _anyone_ until it has passed the review stage?

This should make it easy for editorial teams to pass around previews (for example, an editor looking at an issue preview who is not assigned to every sub

[2020-10-21 11:36] NateWr commented on #6291
Once moved over to the new API, this problem will go away. I think it's related to how required fields are applied in the old system, and how that interacts with a third-party validation library that is running on the old forms.

Let's wait and see on the red icon. If it continues to be a common problem we can address it then.

We are working to update the submission form. As a first step, 3.3 wil

[2020-10-21 11:41] NateWr commented on #6295
Filtering by category may be important for OPS.

[2020-10-21 11:46] NateWr commented on #6227
I suggest using the event log if it's not too difficult, just to keep this as close to the underlying data as possible. Search the event log for the event `SUBMISSION_LOG_METADATA_PUBLISH`. This gives us one less piece of data that can fall out of sync.

[2020-10-21 11:47] NateWr commented on #5932
Assigned! Happy coding and don't forget to leave redirects in if any of the URL paths change.

[2020-10-21 11:49] NateWr commented on #6256
Looks good! That's becoming the standard way to get it now that Alec changed the `Application` from a static class to a singleton.

[2020-10-21 12:16] alexxxmendonca commented on #6295
Yes. Also:

Country/Region
Language
Whether it was rejected with or without moderation
Submitted by author vs journal (this can be tricky as we are not collecting this data)

Here are some of the data important for us:

![image](https://user-images.githubusercontent.com/4059679/96718031-cb71ba80-137d-11eb-8363-0c160a2434f6.png)
![image](https://user-images.githubusercontent.com/4059679/96718041-cf

[2020-10-21 12:50] ajnyga commented on #6295
This is probably difficult. OPS only knows a distinction between an unpublished and published submission and there is no status for a submission that has passed moderation.

Yes, I would like to change the backend language all at once so I recentely requested Alec to look at this issue and let me know how to proceed: https://github.com/pkp/pkp-lib/issues/5610

[2020-10-21 13:58] alexxxmendonca commented on #6295
Yes, I understand. Perhaps there could be something to distinguish submissions that are rejected "at first" from those that are sent to moderation?

This is similar to the concept of "desk reject" vs "reject after peer review" in a journal.

[2020-10-21 14:42] ajnyga commented on #6295
The thing is that by default all submissions are in a way moderated if no screening plugins are applied, only the moderator can publish. OPS does not record things like "changes requested" or "revised version uploaded" at the moment. This is also connected to https://github.com/pkp/pkp-lib/issues/5975.

@asmecher I think we need a general plan on what kind of moderation process OPS core should sup

[2020-10-21 14:52] gustavotonini commented on #5288
@asmecher I was able to make the user list faster by changing the joins in "lib/pkp/classes/user/UserDAO.inc.php", but the user search in all journals is still a big problem. It's taking 30s to complete. I'm trying to find a way to optimize it.

![image](https://user-images.githubusercontent.com/11355672/96737148-b738b800-1393-11eb-8d64-b438bc8d9d26.png)

[2020-10-21 14:56] NateWr commented on #5975
As @ajnyga has pointed out, we don't have a good high-level way to express an action like this. We only have the fine-grained activity log, and this is going to get very noisy if we start emailing moderators with every action that an author takes.

Instead, I'd suggest that we consider addressing this UX concern through the proposed activity feed (see https://github.com/pkp/pkp-lib/issues/5729). W

[2020-10-21 16:09] alexxxmendonca commented on #5975
That would still require accessing the submission, right?

What if submissions were flagged or highlighted in the queue whenever the author updated the metadata or uploaded a new file? We could then refer to the Activity feed to find out exactly what has been changed.

[2020-10-21 16:12] NateWr commented on #5975
No. Take a look at the mockup in the linked issue. The idea is that users have access to an activity feed that includes log entries for all submissions that they are assigned to.

[2020-10-21 16:14] alexxxmendonca commented on #5975
Ah, ok. I did take a look at the mockup but I didn't pay attention to that.

Hopefully this will help solving this problem.

[2020-10-21 16:34] NateWr opened #6296 "Article breadcrumbs use aria-current but do not point to the current page"
The article breadcrumbs template uses `aria-current="page"` on the last item in the breadcrumb. However, the breadcrumbs are designed to only include the article section, not the current article title. This is confusing because `aria-current="page"` is supposed to identify the _current page_, not the category or section that this page is a part of.

However, we don't want to include the full artic

[2020-10-21 20:51] ctgraham commented on #6296
If we hide the "current page" breadcrumb for articles, this leaves incongruity with the other pages which do have a "current page" breadcrumb.  In almost all other cases (Archives, Submissions, Editorial Team, etc), the "current page" breadcrumb is the only breadcrumb other than "HOME", so hiding the "current page" breadcrumb uniformly seems problematic.

I'd suggest that the current-page breadcru

[2020-10-22 10:50] NateWr commented on #6296
The breadcrumb template for articles and the breadcrumbe template for other pages are different, so you can only hide the current page breadcrumb on the article page without modifying the others. I'm not too worried about there being a visual difference between the pages.

The problem is that a lot of journals do not publish abstracts. And our goal is to have the full article text on the landing p

[2020-10-22 12:16] ctgraham commented on #6296
How about just "Article" as the breadcrumb then?  This would allow a consistent, short, but meaningful slug to exist for cases where we want to place another breadcrumb under the Article landing page.

[2020-10-22 13:32] NateWr commented on #6296
The trouble is that not everything is an "Article". It may be a review or editorial, for example. That is kind of the idea behind using the [section name](https://github.com/pkp/ojs/blob/master/templates/frontend/pages/article.tpl#L24).

We do have a field in the section settings for "Identify items published in this section as a(n)" (that's `identifyType`). Maybe we can use that with a fallback t

[2020-10-22 16:51] Vitaliy-1 commented on #5565
OJS stable-3_2_1 branch: https://github.com/pkp/ojs/pull/2888
Citation Style Language plugin stable-3_2_1 branch: https://github.com/pkp/citationStyleLanguage/pull/75
@NateWr, initial PR is for the stable 3.2.1 branch. Is the idea to implement the same for the master branch or you have other plans for this feature?

[2020-10-22 23:18] jdutant opened #6297 "Editor Anonymity (Triply Anonymous Refereeing)"
In **triply** anonymous refereeing the editor(s) do not know an author's identity. The American Philosophical Association [recommends](https://www.apaonline.org/page/journalpractices) this as a way of reducing bias. Some [data suggests that this actually works](https://jonathanweisberg.org/post/A%20Look%20at%20the%20APA-BPA%20Data/). I'm helping flipping OA one of the journals that apply it (__dia

[2020-10-23 09:36] marcbria opened #6298 "OJS is unable to tell phpMailer to work with protocol but without user authentication"
**Describe the bug**
OJS is unable to configure phpMailer with some protocol (ie: SMTPSecure='tls) but without user authentication (SMTPAuth = false).

**Why**
OJS params don't let you this combination because code forces user's authentication if you set any kind of "smtp_auth" (tls, ssl...):
https://github.com/pkp/pkp-lib/blob/1e4116c4f36b559fceceadd3073723fbbffe7d4c/classes/mail/Mail.inc.php#L47

[2020-10-23 15:03] asmecher commented on #6057
@NateWr, thanks, I've taken a review of those PRs -- some much-needed foundational improvements, and all that at a net removal of LOCs. Very impressive. I reviewed with emphasis on the PKP-lib pull, and in particular didn't look much at the front-end aspects (ui-library) or details like import/export. I'm ready for these to get ported to the other apps and then merged, once you're satisfied that y

[2020-10-23 15:20] asmecher opened #6300 "PHP warning with cancelled reviews"
Reported here: https://forum.pkp.sfu.ca/t/php-warning-assert-no-status-key-could-be-found-for-reviewassignment-on-605-failed/63511

[code]

This appears to happen when the UI requests a locale key for the status of a review when it has been cancelled.

[2020-10-23 15:22] #6300 closed

[2020-10-23 15:57] asmecher opened #6301 "Add indexes for search performance"
From https://forum.pkp.sfu.ca/t/ojs-3-2-database-takes-to-long/63080/15:

It appears that search queries are imposing a heavy load, and two indexes in particular are missing:
- submissions.current_publication_id
- submission_search_objects.submission_id

[2020-10-23 16:03] asmecher commented on #6301
Users can create the missing indexes using the following SQL statements.
[code]

[2020-10-23 16:05] luizbgomide commented on #2615
I agree that Archive is a better option for it, allowing deletion only of Archived Submissions. That was the previous behaviour and much more natural and less error prone.

[2020-10-23 16:26] #6301 closed

[2020-10-24 03:59] ezeqd opened #6302 "[OJS] internal server error 500 on ListRecords/Identifiers/Identify"
Hi, i have problems in my site https://revistas.imarpe.gob.pe/index.php/boletin/oai when i try to list the next

- ListRecords
- Identify
- ListIdentifiers

return to me a error 500, i don't know what happens, because ListSets & ListMetadataFormats it's ok

i'm running this on ubuntu 18.04 with:
`php -v
PHP 7.3.23-4`

`ojs-3.2.1-1`

And the php error log

[Sat Oct 24 02:28:40.002578 2020] [php7:er

[2020-10-25 15:40] asmecher commented on #6302
@ezeqd, this is a character set/collation configuration issue, not a bug in OJS. I'd recommend reviewing these threads on the forum: https://forum.pkp.sfu.ca/search?q=implicit

[2020-10-25 15:40] #6302 closed

[2020-10-25 16:17] asmecher commented on #6297
@jdutant, do you use two levels of editors?
- Managing Editor, who can see e.g. author metadata and access all submissions, and
- Section editor, who is assigned to the submission specifically (maybe automatically), and can only see submissions to which they are assigned, potentially without author metadata?

Just trying to imagine how this would fit in with the existing OJS role structure.

[2020-10-25 16:40] jdutant commented on #6297
Hi @asmecher, thanks! In our journal, yes. We have a fishpond model where:

* the Managing Editor is the only one to see author metadata.
* the Editorial committee members see all submissions anonymously, and self-assign the ones they want to act as editor for (Area/Section Editor, if you wish). Once self-assigned they make a first evaluation and if the paper is worth refereeing they (or the Manag

[2020-10-26 09:23] NateWr commented on #5565
Thanks @Vitaliy-1! Can you open PRs for the `master` branch of OJS and citationStyleLanguage? Then I'll merge them all at once.

[2020-10-26 10:27] NateWr commented on #6297
I think that this would be very difficult to weave into our existing authorization system, which is built around roles rather than capabilities. It may be easier to think about a way to add onto the reviewer role rather than to try to strip away from the subeditor role. None of this is an easy, one-day task. But here is one idea:

1. Create a special user group, "Managing Reviewer", that is based

[2020-10-26 10:31] NateWr commented on #6298
@asmecher I'll leave this one to you since I don't know much about our email handling. ;)

[2020-10-26 11:48] NateWr opened #6303 "Publishing with a XML galley slow with lots of PHP notices"
**Describe the problem you would like to solve**
When publishing with a full-text XML galley, the publish process took a long time (10-15 seconds). The error log included a lot of the following PHP notices:

[code]

It looks like the search parser is taking a while. That may be necessary but I'd be curious if it could be sped up. And how long does it take when publishing an issue (where there may

[2020-10-26 11:55] NateWr commented on #6303
Maybe this is a candidate for a queued action? So the issue/article is published but the search parsing is queued up?

[2020-10-26 12:21] NateWr opened #6304 "[OMP] Review attachments are fowarded as review files from internal to external review"
**Describe the bug**
When promoting a submission from internal to external review, the editor performs two steps:

1. Select files to share with the author, which includes files uploaded by reviewers.
2. Select files to carry over to the external review stage.

Files selected in step 1 and 2 are promoted to the Review Files in the external review stage, but only files in step 2 should be promoted.

[2020-10-27 00:03] jdutant commented on #6297
Thanks @NateWr for the idea and the offer of help. We could look at developing a plugin, if I can find the resources to allocate to that.

I thought of another kind of workaround. I'm not familiar with the codebase, perhaps you can tell me if that'd be easier to implement? The idea is just to replace an author's identifying metadata with dummies. Roughly:

1. Create additional "hidden" metadata fi

[2020-10-27 00:57] ezeqd commented on #6302
@asmecher ohh i didn't noticed it... i will see this threads soon, thanks for the reply!

[2020-10-27 09:13] NateWr commented on #6297
That's a good idea. You can store the anonymised dummy data during submission and then restore the correct data when the submission is accepted in the review stage. That way the data becomes available during Copyediting and Production, so it can be corrected before publication (for example, ORCIDs may need to be authenticated).

Our author records are distinct from user records, so you won't run i

[2020-10-27 14:08] ajnyga commented on #4595
@ctgraham we are getting this issue more frequently nowadays.

Which of the two solutions do you prefer. I have to move this to my high priority list and fix it asap.

[2020-10-27 15:26] ainulrafiq commented on #5912
Dear project team,

The registry that you trying to connect with the OJS will bring a bright movement. As a journal publisher staff, I would like to join the plugin tester (if needed) :-).

[2020-10-27 16:54] marcbria commented on #6042
Recent [article](http://www.elprofesionaldelainformacion.com/contenidos/2020/mar/lopez-olle-garcia-abadal.pdf) publishes a summarized list of criteria according to Plan S. This list could be a good basis to develop the "journal integrity" plugin.

I visualize a "checklist" (or list of traffic lights) with all these elements (and more) as a dashboard for the editors. We can add some graphics at the

[2020-10-27 21:06] ezeqd commented on #6302
Thanks, that forum help me a lot, i posted a solution here https://forum.pkp.sfu.ca/t/ojs-3-2-1-1-blank-white-page-search-function/61536/27

[2020-10-28 10:37] Vitaliy-1 commented on #6303
Looks like the execution of `filterKeywords` method of `SubmissionSearchIndex` object is accounted for 95% of execution time during publishing. It appears that each text fragment (near 400-800 per document) is tokenized by the method here: https://github.com/pkp/ojs/blob/a5a7300c61e5c45758e907887f41d02744f5fb98/classes/search/ArticleSearchIndex.inc.php#L307 to retrieve an array of keywords.

[2020-10-28 10:44] NateWr commented on #6303
Thanks @Vitaliy-1! That looks like the key bit of this, so we're not likely to get the time down significantly. A task queue is probably the best way to address this.

[2020-10-28 14:24] asmecher commented on #6302
Thanks for following up -- I'm sure it'll be useful for someone else!

[2020-10-28 14:34] Vitaliy-1 commented on #6303
@NateWr, Sorry, I'm afraid my first assumption is incorrect. I did some more tests and replaced single INSERT statement for each keyword here: https://github.com/pkp/pkp-lib/blob/ad864e9960200ec1819fb9783a78d17093036baa/classes/search/SubmissionSearchDAO.inc.php#L124
to INSERT values In multiple rows at once, for the whole keywords array, which is returned from a `filterKeywords` method mentioned

[2020-10-28 14:52] NateWr commented on #6303
Good find! I'm slightly worried about sql vulnerabilities there. @asmecher do you have any ideas for how to do this safely?

[2020-10-28 15:51] asmecher commented on #6303
@Vitaliy-1, could you adapt this to use `?` bindings instead of concatenating the keywords into a SQL string? That'll be safer.

[2020-10-28 15:52] asmecher commented on #6303
Also, I wonder whether we'll have trouble with long lists; maybe there should be a maximum number of trios per single statement.

[2020-10-28 17:38] Vitaliy-1 commented on #5565
Not all of those commits can be cleanly applied to the master branch, I'll take another look tomorrow. @NateWr, I see that in the `worflow.tpl`, the new `TemplateManager` method is used - `setState`. Am I understanding this right that it's for passing data to `Vue` instead of manipulations with `workflowData`?

[2020-10-29 05:59] ajnyga commented on #4595
lib: https://github.com/pkp/pkp-lib/pull/6305
ojs: https://github.com/pkp/ojs/pull/2891 (will add OPS/OMP when the concept is ok)

@asmecher @ctgraham

[2020-10-29 06:00] ajnyga commented on #4595
This definitely needs double and triple checking so that my pr's do not break anything!

[2020-10-29 06:01] ajnyga commented on #4595
also @NateWr if you have time to check this, would probably be a good idea. The original problem described here https://github.com/pkp/pkp-lib/issues/4595#issue-420369909

[2020-10-29 06:41] GrazingScientist commented on #321
Although this may be a desirable feature for some journals, there may be some journals (like one of mine) that have an issue galley which (more or less) duplicates the article galleys in one big file. Hence, when the search also returns issue galleys, both PDFs (the relvant article galley and its issue galley) will come up, because they both include the search terms.
Consequently, there should be

[2020-10-29 07:01] ajnyga commented on #4595
Just want to add that we have a few scenarios we should support:

1. Default: single domain name is used. This works fine with the current code.
2. Subdomains: some or all journals use subdomains and the site uses the parent domain
3. Own domains: there is a parent site and a single installation, but some or all journals use their own domains.
4. A combination of the three above

Option 3 of cours

[2020-10-29 09:12] NateWr commented on #5565
Yeah that's correct. You will probably want this to be in state, because the status of a publication will change and so the preview button will need to be shown/hidden as that changes.

[2020-10-29 09:49] NateWr commented on #4595
The URL rewriting is not something I know much about! But what about cases where each journal is on its own domain and we don't want to share logins? I think this is a requirement for PKP|PS, which wants to be able to run several journals through one instance with no public relationship between journals.

[2020-10-29 11:05] marcbria commented on #6291
Let's see how it looks like in 3.3 but, as a brainstorm proposal... what about showing that some multilang fields are optional?
Imagine a world icon in black (or gray, even it also expresses some kind of incompleteness), till you click on it and you fill a variant (that will change to red unless you fill all the variants).

In this way we avoid the confusing red-world-icon that makes some users th

[2020-10-29 13:23] Vitaliy-1 commented on #5565
PRs:
OJS master branch: https://github.com/pkp/ojs/pull/2892
Citation Style Language plugin master branch: https://github.com/pkp/citationStyleLanguage/pull/76

[2020-10-30 21:07] asmecher commented on #6298
https://github.com/pkp/pkp-lib/pull/6299 is actually fine as a long-term solution; I've merged it to the `master` branch. Thanks, @marcbria!

[2020-10-30 21:07] #6298 closed

[2020-10-30 21:21] asmecher commented on #3094
Sorry for the delay -- the next release is probably ~1 week away; if you have breaking changes to make, they'll need to wait, but if you can make them unobtrusive that's OK!

[2020-10-31 14:05] librariam opened #6306 "Add an option to enable/disable categories in submission workflow"
**Describe the problem you would like to solve**
Some journals use categories to organize/index their content, and want those categories to be assigned by editors, not by authors during submission. At this time there is no option to hide categories from submission which is inconsistent with the other metadata fields that can be enabled or disabled during submission.

**Describe the solution you'd

[2020-11-02 07:43] jalperin opened #6307 "lens viewer failing to load on well formed XML"
**Describe the bug**
Getting an `Uncaught TypeError: t.querySelector(...) is null` error in the JS console when trying to load the XML in a well-formed eLife JATS document. It's [the document used as a test](https://github.com/substance/texture/tree/master/data/elife-32671) in the Texture repo.

**To Reproduce**
Error can be [found here](https://course-journals.lib.sfu.ca/index.php/pdc2018/article

[2020-11-02 08:23] marcbria commented on #6298
Thanks to you both for the great work you are doing for the community.

[2020-11-02 08:34] enthuvs opened #6308 "The registration link stopped working (Giving HTTP 500 error). Earlier it was working"
The registration link stopped working (OJS 3.2.0.3). Earlier it was working. Even the add user option from Users/Roles is not working.
![Capture-OJS](https://user-images.githubusercontent.com/8370546/97846602-3fb04480-1d14-11eb-93d6-74a50ae9990a.PNG)

[2020-11-02 10:32] NateWr commented on #6291
Isn't this how they work now? In [this example](https://docs.pkp.sfu.ca/dev/ui-library/dev/#/component/Form/ExampleMultilingual), the affiliation field is grey until at least one value is entered.

[2020-11-02 11:02] NateWr commented on #6307
As far as I understand it, Lens Viewer is no longer being actively maintained so we are unlikely to fix a bug like this unless the fix is contributed by the community. Texture has had many adaptations applied to get it to work with more JATS documents so it is unlikely that a test document for Texture will work with Lens Viewer.

[2020-11-02 11:04] NateWr commented on #6308
Please check your server's error log and post the logs recorded when encountering this error.

[2020-11-02 14:28] jalperin commented on #6307
It's the texture plugin the only way to generate an html galley? Because
that's also taking for me on a document that opens in texture inside OJS.
Can file that separately.

On Mon., Nov. 2, 2020, 03:02 Nate Wright, <notifications@github.com> wrote:

[2020-11-02 14:56] NateWr commented on #6307
Texture doesn't generate HTML. It is just a tool for editing the XML. @withanage has done a lot of work to make it more resilient when it encounters XML it doesn't recognise, but it is still very limited in this respect and this is one of the reasons we are moving away from it.

[2020-11-02 15:01] jalperin commented on #6307
But the Texture Plugin available in the gallery does provide a "Create
Galley" button on XML files

On Mon, 2 Nov 2020 at 06:56, Nate Wright <notifications@github.com> wrote:

[2020-11-02 15:03] jalperin commented on #6307
But the Texture Plugin available in the gallery does provide a "Create Galley" button on XML files: [see here](https://www.dropbox.com/s/q553g6pf34dqe70/Screen%20Shot%202020-11-02%20at%207.01.01%20AM.png?dl=0).

[2020-11-02 15:37] NateWr commented on #6307
That creates a galley with the XML file. It doesn't do any transformation into HTML. In the future we'll be recommending [JATSParserPlugin](https://github.com/Vitaliy-1/JATSParserPlugin) to transform the XML into HTML and display it on the article landing page.

[2020-11-02 15:40] jalperin commented on #6307
OK, thanks for explaining. I'll leave bug open for original, or you can
feel free to close/archive as WONTFIX.

[2020-11-02 16:16] NateWr commented on #5565
This looks great Vitaliy. I played around with it and there are just two small things left:

1. The preview buttons in the workflow appear even when a submission has not reached the copyediting stage.
2. In the Publication tab, can you put the Preview button so that it appears left of the Schedule for Publication button? This will keep the Schedule for Publication button anchored at the top right

[2020-11-02 17:24] NateWr commented on #6301
When testing migrations in postgres for #6057 I ran into errors related to the migration for these indexes:

[code]

[2020-11-02 18:02] asmecher commented on #2051
There's an equivalent implementation for importing review form content into the email to the author over here: https://github.com/pkp/pkp-lib/blob/b05058877f7c2d08d0f919e6349ee2c02fa28ea6/classes/controllers/modals/editorDecision/PKPEditorDecisionHandler.inc.php#L242..L284

This is live/working in OJS 3.x already, so would make a good reference. Bonus points if the code is reused rather than copyp

[2020-11-02 23:36] eocarragain opened #6309 ""Users" tab always shown when selcting from "Users & Roles" drop-down"
**Describe the bug**
If "Roles" or "Site Access Options" are selected from "Users & Roles" on the left-hand navigation, the "Users" tab is loaded. The user then has to click on the desired tab to access it. I'd expect to be brought directly to the correct tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the admin area
2. Select "Users & Roles"
3. Select "Roles"
4. You are brought t

[2020-11-03 02:05] eocarragain commented on #5955
I can confirm what @AhemNason says about the "Omit author names for section items from issues' table of contents." section flag being ignored in default and manuscript themes in OJS 3.2.1-1.

@asmecher @NateWr , should this bug be broken out into its own issue - getting this fixed would help hide the bad author metadata at least in the UI.

On the more general issue, I fully agree with @AhemNason

[2020-11-03 09:40] NateWr commented on #5955
Yes, thanks, can you file that for us @eocarragain?

[2020-11-03 09:55] NateWr commented on #5565
All merged, thanks @Vitaliy-1 and @majaroenne! This will go out with 3.2.1-2 and 3.3.

@asmecher the preview feature has been merged to `stable-3_2_1`.

@amandastevens and @kaitlinnewson this may impact docs for OJS. It adds a "Preview" button to two places in the editorial workflow when a submission has reached the copyediting stage.

[2020-11-03 09:55] #5565 closed

[2020-11-03 10:12] NateWr commented on #6309
Thanks @eocarragain. You're right this would be expected behaviour. This will go away with the UI refactor in 3.3, which won't use the dropdown menus anymore. I'm going to flag close this as something we won't fix, just because it's not a big priority and a fix will come with the next major version. Thanks for reporting, though!

[2020-11-03 10:12] #6309 closed

[2020-11-03 10:56] eocarragain opened #6310 ""Omit author names for section items from issues' table of contents" is ignored"
**Describe the bug**
When configuring a journal section, there is an option to "Omit author names for section items from issues' table of contents". However, even when this is ticked, author names for items in the relevant section are still displayed in the issues' table of contents

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings -> Journal -> Sections
2. Edit a section & ensu

[2020-11-03 10:57] eocarragain commented on #6309
Good to know re 3.3. thanks

[2020-11-03 13:46] ajnyga commented on #6039
There is a scroll option for the toolbar it seems. https://www.tiny.cloud/docs/configure/editor-appearance/#scrolling
The other option is to use two rows of buttons and show the buttons in one row if they fit the screen.

[2020-11-03 13:49] NateWr commented on #6310
This effects the default theme and likely other PKP themes.

[2020-11-03 15:03] Vitaliy-1 commented on #6284
PR to pkp-lib: https://github.com/pkp/pkp-lib/pull/6311
Tests (OJS master): https://github.com/pkp/ojs/pull/2893

[2020-11-03 16:29] Vitaliy-1 commented on #6285
PR to pkp-lib: https://github.com/pkp/pkp-lib/pull/6312
Tests for OMP: https://github.com/pkp/omp/pull/872

[2020-11-03 16:45] pmangahis opened #6313 "Health Science Theme 'Edit' button"
**Describe the bug**
When a JM is logged into the journal and goes to the front end submission page and clicks the 'Edit' links on this page it returns a 404 Not Found error.

![image](https://user-images.githubusercontent.com/50342731/98014718-d9c5ca80-1db0-11eb-9b0b-5f9b96f57ed4.png)

Users are still being directed to https://domain.co/index.php/abbreviation/management/settings/publication#submi

[2020-11-03 16:46] ajnyga commented on #6256
Thanks, good to know. You can close this?

[2020-11-03 16:50] #6256 closed

[2020-11-03 17:22] Vitaliy-1 commented on #6313
Thanks! It was fixed for the Health Sciences, Classic, Pragma, and Immersion theme; for the former as a part of this commit: https://github.com/pkp/healthSciences/commit/22c7ed3e377805bcdbd4340d7150396d48209016. Those changes will be applied from the next release.

[2020-11-03 17:46] Vitaliy-1 commented on #6286
@asmecher, looking at this code once again, I don't see that this script changes the table in any way. Am I understand this correctly that here and in other places of the Migration script, it's expected the column to not be nullable? Although I can't find this on Laravel's site, `...->nullable(false)->change()` does the trick, at least on MySQL.

[2020-11-03 18:13] NateWr commented on #4895
The following PRs replace the Blind/Double-blind terminology used throughout our applications.

- **Blind** is now **Anonymous Reviewer/Disclosed Author**
- **Double-blind** is now **Anonymous Reviewer/Anonymous Author**

![anon-reviewer-list](https://user-images.githubusercontent.com/2306629/98024244-ee7d7f00-1dff-11eb-8b6c-d0e78d7829f6.png)
![anon-reviewer-selection](https://user-images.githubus

[2020-11-03 19:53] ajnyga commented on #4595
I have been trying to figure this.

It seems that the current OJS master code works fine when journals use their own domains. I mean for example site.com journal1.com journal2.com etc. Each domain gets their own cookie/session and the bug desribed above does not happen.

This only happens with subdomains. Here is the best description I can create:

Login to http://site.com/publicknowledge
Cookie 4

[2020-11-03 21:05] asmecher commented on #4595
But your PRs offer a solution for that situation, don't they? (https://github.com/pkp/pkp-lib/issues/4595#issuecomment-718379310)

[2020-11-03 21:07] ajnyga commented on #4595
The config.inc.php setting offers a solutions if the site _only_ uses subdomains. It will not work if the site has both subdomains and journals with their own domains. Current master works fine with everthing but subdomains.

[2020-11-03 21:09] ajnyga commented on #4595
I just do not understand where the last step th new session gets domain site.com, because I have been trying to debug this and I can not find a place in the code where site.com is returned instead of journal2.site.com.

[2020-11-04 07:44] spppaperview commented on #6105
The changes to the JSON files are not enough to allow uppercase characters to be submitted in the URL Path. There is additional validation in the Form PHP files:

controllers/grid/articleGalleys/form/ArticleGalleyForm.inc.php
controllers/grid/issues/form/IssueGalleyForm.inc.php

We needed to change both for Article and Issue URL paths.

[2020-11-04 11:28] NateWr commented on #6105
@spppaperview you're right, this change only effects the `urlPath` of a context (ie - journal, press or preprint server). I'd be willing to open up galley `urlPaths` as well. Would you be willing to create a PR with the changes to those forms?

[2020-11-04 11:52] spppaperview commented on #6105
Hello @NateWr,
I'm afraid I have no dev experience -- I had to look up what a PR is. Hahaha! I'll see if I can figure out how to make one this weekend. But I would definitely like to become more involved in the future, we're benefiting so much from the OJS community.

In the mean time, I'll paste the code snippet here for the forum readers. I inserted the characters A-Z in the following Form Valid

[2020-11-04 15:00] NateWr commented on #4895
:tada: All merged! This change will go out with 3.3. Thanks to everyone for the team effort on this one. I'm really excited to see us leading the way here.

@amandastevens and @kaitlinnewson this will effect documentation.

[2020-11-04 15:00] #4895 closed

[2020-11-04 15:31] asmecher commented on #6284
(Discussion on the above PR here: https://github.com/pkp/pkp-lib/pull/6311#issuecomment-721801207)

[2020-11-04 15:49] asmecher commented on #6286
@Vitaliy-1, I'm still learning the ins and outs of the Laravel schema toolset -- it appears that nullable is [presumed false](https://laravel.com/docs/7.x/migrations#column-modifiers) during schema creation, but it's possible that for already-existing columns you need to manually reset it using `nullable(false)` or no change will be made. Does your testing confirm this?

[2020-11-04 16:13] NateWr commented on #2615
The following PR does not show the delete button unless a submission has been declined. This should solve the immediate problem of accidental deletions.

I decided not to convert the existing delete button into a decline button. There are some complex rules regarding who is allowed to decline a submission, so I thought it best to get the most important part of this in for 3.3. The ability to decli

[2020-11-04 16:38] asmecher commented on #5388
(Meanwhile, the Lucene integration is available for richer searching, for those who are able to run it.)

[2020-11-04 17:18] JazzyA commented on #5388
Did Categories used to be called Subjects, as that is the only controlled vocabulary I see? Many thanks.

[2020-11-04 17:31] asmecher commented on #5388
@JazzyA, check Settings > Workflow > Metadata to see which fields are enabled.

[2020-11-04 17:41] JazzyA commented on #5388
Hi Alec,

Many thanks for such a quick response!

Although Subjects was ticked, the subsidiary setting: Do not request subjects from the author during submission was selected.

I will check what becomes available after switching this to: Ask the author to provide subjects during submission.

Kind regards, Adrian

AR Samuels

 <mailto:adrian@iTibet.co.uk> adrian@iTibet.co.uk

07792 201 772

From: A

[2020-11-04 17:49] JazzyA commented on #5388
Hi Alec,

Sorry but I cannot see where to define the Subjects controlled vocabulary.

Although as it appears to be an author feature I am assuming this is possible?

Many thanks.

Kind regards, Adrian

AR Samuels

 <mailto:adrian@iTibet.co.uk> adrian@iTibet.co.uk

07792 201 772

From: Alec Smecher <notifications@github.com>
Sent: 04 November 2020 17:32
To: pkp/pkp-lib <pkp-lib@noreply.github.com>

[2020-11-04 17:59] asmecher commented on #5388
@JazzyA, are you looking for a way to constrain entries in that field to a defined set? That's not currently possible -- see https://github.com/pkp/pkp-lib/issues/1550 for some related discussion.

[2020-11-04 18:04] JazzyA commented on #5388
Yes Alec, precisely. So Categories are still the only controlled vocabulary options it seems then?

[2020-11-04 18:14] asmecher commented on #5388
"Controlled Vocabulary" is the term we use for any field that has a pick list/autocomplete, as opposed to a plain text field. This includes subjects/keywords, even though authors can extend the list with new entries during the submission process. For staff-limited controlled vocabularies, yes, Category and Section are your current options. In #1550 we'll be looking at more flexibility around this.

[2020-11-04 18:16] JazzyA commented on #5388
Thanking you Alec, so I think we will stay with Categories for now.
I'll just sign off by saying its great we are both drummers, what are the chances!?

[2020-11-04 19:04] asmecher commented on #5388
I'm more of a drum owner than a drum player this year, but a return is imminent!

[2020-11-04 19:07] alexxxmendonca opened #6317 "Reviewer doesn't show up unless role is removed and then added back"
**Describe the bug**
Sometimes a reviewer will not show up when searching for reviewers within a manuscript even though said user has the "Reviewer" role enabled.

To fix it, the manager needs to edit the user's profile, uncheck the "Reviewer" role, save, edit again the user's profile, check back the "Reviewer" role, save, go back to the submission and search again for the same reviewer.

**To Rep

[2020-11-04 23:27] asmecher commented on #4595
@ctgraham, Antti-Jussi's latest PR (https://github.com/pkp/pkp-lib/pull/6315) looks pretty clear to me, but I thought I'd ping you for an opinion too...

[2020-11-04 23:56] asmecher commented on #1175
Making this a WONTFIX; Weblate has made the translation plugin obsolete.

[2020-11-04 23:56] #1175 closed

[2020-11-05 00:00] asmecher commented on #1833
(Related: https://forum.pkp.sfu.ca/t/is-it-still-possible-to-have-geographic-data-in-the-usage-reports)

[2020-11-05 06:14] ajnyga commented on #4919
We have a setup with multiple journals. Some use regular url's (site.com/JOURNALNAME) and some use subdomains (JOURNALNAME.site.com). For subdomains, we use wildcards. This is the htaccess that seems to work.

[code]

[2020-11-05 09:52] NateWr commented on #2615
Merged to 3.3.

@amandastevens and @kaitlinnewson I don't _think_ that this will effect documentation unless you have documentation about deleting submissions. Now the delete button will only appear for submissions that have been declined (status = `STATUS_DECLINED`).

[2020-11-05 09:52] #2615 closed

[2020-11-05 10:22] NateWr commented on #6313
Thanks @Vitaliy-1. I'm going to close this as fixed and I've assigned it to the 3.3 milestone since the theme will almost certainly make a new release for that.

[2020-11-05 10:22] #6313 closed

[2020-11-05 10:26] NateWr commented on #6317
The challenge will be to find a way for us reproduce the problem. Until we can reproduce it we can't fix it. Can you identify steps that lead to this problem, such as merging a user? If you can find a set of steps that we can take, like creating a user then merging them, with specific values in the user fields before or after merge, then that will help us reproduce it.

[2020-11-05 10:29] NateWr commented on #6317
Oh, I think I see what's happening. In your first video, when no results are found, you should see text indicating that:

![reviewer-error](https://user-images.githubusercontent.com/2306629/98229304-a8d0cb80-1f51-11eb-8c59-4f7b1a89448b.png)

Instead you see nothing appear there. That means that there is an error happening here. Usually, when an item in a list of items (like one reviewer in a list)

[2020-11-05 11:07] #6284 closed

[2020-11-05 11:12] #6285 closed

[2020-11-05 12:29] alexxxmendonca commented on #6317
Nice catch!

Given that we only know something like this happens when a journal contact us, there is no way right now to simulate a scenario in which the error can be reproduced.

For this particular case, it's been fixed the manual way so that the journal could move on with their tasks.

However we will try what you suggested the next time this comes to our attention.

[2020-11-05 13:56] NateWr commented on #6317
@alexxxmendonca you could try to reproduce this by creating a fake reviewer and merging that user into another user. Or however it was that the merge happens that leads to the problem. Basically if you can find a reliable set of steps that _leads to_ a reviewer search not working. In this case, by the time someone reports a bug to you, the problem has already been "produced" and it may not be poss

[2020-11-05 14:04] alexxxmendonca commented on #6317
The merging thing is just a hunch/guess. I am not sure if it's related at all.

We could not find records of that particular user being previously merged, for example. We know that because most of the times journals request our help by e-mail to merge users, given that they cannot merge themselves if one of the accounts is enrolled to another journal.

No records of previous merge for that particu

[2020-11-05 14:26] NateWr commented on #5819
I think this would be appropriate to have in all applications. A decline could be done by accident. @asmecher any objections to adding this to pkp-lib for all apps.

A couple of things to check with this:

1. How does a revert decline decision effect editorial statistics? You'll need to do some thinking about how this should effect stats. My first impression is that the submission shouldn't be cou

[2020-11-05 14:27] alexxxmendonca commented on #6317
@NateWr Just for the sake of it, I did try to simulate something on a test journal and test users.

1) Reviewer A and B were both findable in the reviewer search results.
2) Reviewer A and B were merged, maintaining Reviewer A as the remaining account.
3) Reviewer A could be found in the reviewer search results.

In summary, I could not conclude my theory that there is any relation with previous m

[2020-11-05 14:30] NateWr commented on #6317
Thanks for checking! I guess the problem is most likely a missing piece of data about the reviewer. If you want to continue testing, you could try removing data about the reviewer field by field, testing as you go, to see if you can reproduce it and which field was missing. Otherwise we can wait for it to surface again.

[2020-11-05 14:31] alexxxmendonca commented on #5819
I agree with this.

I am not sure I understood what you meant here.

[2020-11-05 14:41] ajnyga commented on #5819
2. did not come up yet because I have only tested this with OPS so far where you only have one stage. I would image that it will just return to the stage where it as declined in in OJS.

Btw. what happens in OJS if you decline a published submission, is that possible? I am thinking what status should the revert decline action give to a submission. Can we know whether the submission was in STATUS_S

[2020-11-06 09:35] ajnyga commented on #5774
@NateWr
So to sum up, should I now:

1. Change the relation pull down menu to include two options
- Preprint has not been published by a journal
- Preprint has been published by a journal (+ the option of adding a DOI)

* Note, do we want to talk specifically about journals? The preprint could end up as a book chapter as well?

2. Add a new option where the author can describe on publication level

[2020-11-06 12:52] alexxxmendonca commented on #5774
Yes, this could happen. It's a very good point. Maybe we shouldn't restrict it to journals.

Maybe something like:

- This preprint has not been formally published
- This preprint has been formally published (+ the option of adding a DOI)

A free text field should be enough. If we need to have specifics and if we want to run some reports, we could add options "Minor revision" or "Major revision" f

[2020-11-06 14:43] ajnyga commented on #5645
Changed accroding to Nate's suggestion in the latest master: https://github.com/ajnyga/returningAuthorScreening

@asmecher I think you forked that and used your repo for creating a release?

This can be closed I think after the changes are taken into account the next release of the plugin.

[2020-11-06 16:34] Vitaliy-1 commented on #6286
@asmecher, yes, my test shows that nullable default value already exists, it should be explicitly changed.

And for the JSON result of the statement on `authors` table: `$table->bigInteger('publication_id')->change();`:
[code]
And for `nullable(false)`:
[code]
Underlying code presumably proves that. E.g.: [here](https://github.com/laravel/framework/blob/9c047344505da509c2b893eed7aac369a73e07eb/src

[2020-11-06 16:37] Vitaliy-1 commented on #6286
But I can be mistaken regarding the code interpretation, it's hard to read for me without digging.

[2020-11-06 16:38] alexxxmendonca commented on #5774
Back into the topic of adding a relation field to treat "postprints" (preprints that have been accepted by a journal but not yet published), SRRN does something interesting where they indicate the name of the journal where it's supposed to soon be published: https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3690578

![image](https://user-images.githubusercontent.com/4059679/98391278-320cfe80-203

[2020-11-06 16:43] asmecher commented on #6286
:+1: Thanks, please continue!

[2020-11-06 17:00] asmecher commented on #5645
Thanks, I've cherry-picked a09372543ddbc08221007dddfc629a81af0e8d1d into pkp/returningAuthorScreening and that feature will go out with the next release of the plugin.

[2020-11-06 17:01] #5645 closed

[2020-11-06 20:45] asmecher commented on #5819
@NateWr, I agree with [your analysis](https://github.com/pkp/pkp-lib/issues/5819#issuecomment-722411507).

Hmm, I would propose that we block the Rejection of a published submission; the user would need to unpublish first. This would reinforce the separation between "academic" decision-making and "distribution" decision-making. If the rejected submission was un-rejected, then it would return to it

[2020-11-06 20:56] ajnyga commented on #5819
Did you consider that a preprint might have multiple published versions? But I agree that we need to distinguish between rejection and unpublishing submission.

But I will use STATUS_QUEUED and start preparing a pr for all three apps.

[2020-11-06 21:42] asmecher commented on #6264
@NateWr, I've finally got this [passing tests](https://travis-ci.org/github/asmecher/ojs/builds/741974952); could you take a preliminary review? There are notes on the coding implications at https://github.com/pkp/pkp-lib/issues/6264#issuecomment-702926627 (these should be adapted into the release notebook).

I'm OK to wait to merge this until after your submission file stuff is done, if that make

[2020-11-06 22:10] RRafael opened #6319 "Fatal error: Uncaught Error: Call to a member function getId() on null in /var/www/html/ojs_journals/classes/install/Upgrade.inc.php:2504"
Hello, I'm trying to update OJS from version 3.0.2 to version 3.2.1-1, but when I run the update script it stops running and sends the error below. I have no idea what it is. Please ask for help if anyone knows what the solution is.

`Fatal error: Uncaught Error: Call to a member function getId() on null in /var/www/html/ojs_journals/classes/install/Upgrade.inc.php:2504 Stack trace: #0 /var/www/ht

[2020-11-06 22:16] asmecher commented on #6319
@RRafael, could you begin in our support forum (https://forum.pkp.sfu.ca)? We'll move the conversation here if it turns out to be a bug rather than e.g. a data problem. I'd suggest starting with a look at this thread/post: https://forum.pkp.sfu.ca/t/ojs-html-articles/32902/28

[2020-11-06 22:16] #6319 closed

[2020-11-08 10:21] primoz-svetek commented on #5871
Hi @NateWr

I have applied both patches, but still don't see the icon to upload images. What else should I do to get it fixed?

[2020-11-09 11:40] majaroenne opened #6320 "[OJS] CAST AS CHAR i postgres"
I found a problem when using postgres.

A few places, using sql joins where issue_id is cast as char
f.x. in
OAIDAO.inc.php
AuthorDAO.inc.php

The problem is that cast as char in postgres works as
cast as char(1)
 so the join dosen't work for issus_id's bigger than nine

[2020-11-09 13:22] hcoussy opened #6321 "Add a join on journal ID for search performance"
Hi,
From https://forum.pkp.sfu.ca/t/search-is-slow-and-not-always-working-after-upgrade-to-ojs-3-2-1-1/63524/10
It appears that search queries are imposing a heavy load.
Adding a join on journal ID:
improve performance: AND i.journal_id=s.context_id
Best regards
Helene

[2020-11-09 13:32] hcoussy opened #6322 "Add a condition for search performance"
Hi,
From https://forum.pkp.sfu.ca/t/search-is-slow-and-not-always-working-after-upgrade-to-ojs-3-2-1-1/63524/10
It appears that search queries are imposing a heavy load.
The existing UNIQUE index from publication_settings table contains this 3 columns:
publication_id
locale
setting_name

This condition in this query:
JOIN publication_settings ps ON (ps.publication_id = p.publication_id AND ps.sett

[2020-11-09 13:39] hcoussy opened #6323 "Replace numeric to string cast for search performance"
Hi,
From https://forum.pkp.sfu.ca/t/search-is-slow-and-not-always-working-after-upgrade-to-ojs-3-2-1-1/63524/10
It appears that search queries are imposing a heavy load.

In Mysql this condition:
JOIN issues i ON (CAST(i.issue_id AS CHAR) = ps.setting_value)
implies that a query with condition k0.keyword_text LIKE ‘%%%’
never ends

Replacing this condition by
JOIN issues i ON (i.issue_id = ps.sett

[2020-11-09 20:10] asmecher commented on #6321
@hcoussy, do you have a pull request coming for this issue? If you haven't done this before, I can help walk you through it.

[2020-11-09 22:35] amandastevens opened #6324 "User in Section Editor and Journal Editor role can't schedule for publication when assigned as Section Editor"
In OJS 3.2.1-1, a user who has both the Journal Editor and Section Editor role, but is assigned to a particular submission as a Section Editor, is not able to assign an article to an issue or schedule it for publication.  In OJS 3.2, a Section Editor doesn't have this permission to schedule for publication.  However, it seems like if the user does have the role of Journal Editor, they should be ab

[2020-11-10 02:28] asmecher commented on #2051
Merged https://github.com/pkp/reviewReport/pull/39 to implement this -- thanks, @jnugent! Jason, have you built a plugin package before?

[2020-11-10 07:31] hcoussy commented on #6321
Hi, @asmecher,
Yes can you help me to pull request for this issue?
Thanks

[2020-11-10 09:37] NateWr commented on #5774
- This preprint has not been published.
- This preprint has been published (+ option to add DOI)

Let's take this to https://github.com/pkp/pkp-lib/issues/4860. We'll need to line this up with metadata/depositing standards.

@alexxxmendonca can you add that information on preprint status to [this issue](https://github.com/pkp/pkp-lib/issues/4860)?

[2020-11-10 09:42] NateWr commented on #5819
I agree for OJS/OMP that it should not be possible to enter a reject decision on a published submission. I think that this must hold for OPS as well. If there is a case where a new version of a posted preprint is not accepted, I don't think that we can use the editor decisions to record this, because editor decisions are recorded against the submission not the publication. The editors should just

[2020-11-10 09:45] NateWr commented on #5871
I recommend you upgrade to 3.2.x. 3.1.2.x is now quite old and not very well supported.

[2020-11-10 10:07] NateWr commented on #6320
cc @asmecher

[2020-11-10 10:11] NateWr commented on #6321
Thanks @hcoussy! I'm going to suggest that you address all three of your recommendations together in this issue. @asmecher is the best one to evaluate them. I've copied them below for convenience.

[2020-11-10 10:12] NateWr commented on #6322
To be addressed in https://github.com/pkp/pkp-lib/issues/6321

[2020-11-10 10:12] #6322 closed

[2020-11-10 10:12] NateWr commented on #6323
To be addressed in https://github.com/pkp/pkp-lib/issues/6321

[2020-11-10 10:12] #6323 closed

[2020-11-10 10:28] NateWr commented on #6324
A Section Editor should be able to schedule a submission for publication as long as they have access to the Production stage. I'd recommend checking the role configuration to make sure that they have access to that stage.

Regarding the broader question of permitting someone assigned in one role to access functions for another role, there's a rather painful [backstory](https://github.com/pkp/pkp-l

[2020-11-10 10:32] #6308 closed

[2020-11-10 10:32] NateWr commented on #6283
Closing for now but feel free to follow up when you can and we can reopen this.

[2020-11-10 10:32] #6283 closed

[2020-11-10 11:48] alexxxmendonca commented on #4860
When dealing with preprints, two (ideally three) statuses should be taken into account:

- This preprint has not been published.
- This preprint has been published (+ option to add DOI)

Ideally, one third option would sit between those two mentioned above, to be used for cases where the preprint has been accepted in a journal but not yet published (also known as postprint):

- This preprint has b

[2020-11-10 13:07] ajnyga commented on #5774
[code]
Why do I have the feeling that saying that the "preprint has not been published" will confuse people? Will they confuse that with the preprint being posted.

[2020-11-10 13:10] alexxxmendonca commented on #5774
Which is why I suggested "This preprint has not been **formally** published"

It might not be the perfect solution (open for suggestions here) but we need a solution that is broad enough to include journals, books and other types of formal publications.

[2020-11-10 13:30] NateWr commented on #5774
Yeah I get the ambiguity here but I think "formal" just compounds the problem because it's not clear what "formal" means. All we're doing is asserting a relationship, not saying anything about that relationship. Let's try:

[2020-11-10 13:32] carolinatanigushi opened #6325 "[OPS] Filter by language"
**Describe the problem you would like to solve**
In installations that post preprints in more than one language, it's not possible to filter preprints galleys by language, (eg [https://twitter.com/brapal/status/1325881070986858496](https://twitter.com/brapal/status/1325881070986858496)). Curretly, the only solution we at SciELO Preprints can offer readers is to search and filter via [SciELO Search

[2020-11-10 13:33] NateWr commented on #4860
I don't think that we'll make a formal distinction between publication status unless those distinctions are mirrored in widely adopted third-party systems (ie - JATS/Crossref). Any distinctions which don't emerge from such standards will need to be accounted for through a generic text field that describes the status.

As far as I'm aware, none of these systems use forthcoming as a status or indica

[2020-11-10 13:36] alexxxmendonca commented on #5774
This could work.

What about using Version of Record?

Does anyone know if the concept of Version of Record is exclusive to journals?

This preprint has a Version of Record: [DOI]

[2020-11-10 13:47] NateWr commented on #6264
Looks really good @asmecher! I've done a review of those PRs with a few comments but nothing major. Thanks for the helpful guide to the changes in your comment. :+1: I've got a running list for the release notebook and I've added your comment to that.

[2020-11-10 13:49] alexxxmendonca commented on #4860
@NateWr that makes sense.

An optional generic text field further describing the status is desirable, unless there is support for such a status.

[2020-11-10 13:49] NateWr commented on #5774
I don't think Version of Record is widely understood among academics. And also we should accommodate preprints published in non-scholarly locations: reviews, editorials, government reports, etc. If a preprint wants to, it can easily use more specific terminology simply by adjusting the locale string.

[2020-11-10 15:03] NateWr commented on #6038
The following PRs use an autosuggest field for the section filter in the submission lists whenever there are more than 5 sections. It also implements a few fixes and improvements for the other autosuggest filters. These are:

- Fixes issue filter bug where the same issue could be selected twice.
- Fixes issue and assignedTo filters so that all selections can be removed.
- Minor style and position

[2020-11-10 16:11] NateWr commented on #6234
I misunderstood the initial report. The confusion was not because of notification messages that appear in the submission lists, but the notification that appears in the author's submission workflow. In this case, it was much easier to clarify the message than to remove it.

I've updated the message to address the confusion that was caused. Further enhancements, including working out how we want to

[2020-11-10 17:45] asmecher opened #6328 "Revisit locale file loading"
Revisit locale file loading.

Goals:
- Reduce the amount of custom framework code in pkp-lib related to translations.
  - `__(...)` [translation function](https://github.com/pkp/pkp-lib/blob/master/classes/i18n/PKPLocale.inc.php#L922) (perhaps we could use Laravel's instead, which means we could get rid of [this helper removal patch](https://github.com/pkp/pkp-lib/blob/master/lib/laravel-helper-40

[2020-11-10 23:28] asmecher commented on #6264
Thanks, @NateWr! I've run through the issues you flagged and fixed some minor ones, flagging a couple bigger ones with specific commits to resolve them. If you're OK with the result, next step will be to port to OMP and OPS, but I suggest holding off on that until you get the submission file stuff merged; then I'll rebase my OJS work on top of that before porting to the other apps.

[2020-11-11 00:58] thumos333 opened #6329 "[OJS] Simpler HTTP Address?"
Hello,

The journal where I work is moving to PKP OJS platform and the system administrator who supervises this move says it is impossible to create a simpler address for the publication, without "index.php" in the address line. Just as an example, Cultural Anthropology journal has the address "https://journal.culanth.org/index.php/ca". Is there a way to make it "https://journal.culanth.org/ca"? T

[2020-11-11 09:45] NateWr commented on #6264
Great! Looks good to me. If that lastInsertId thing is ok as-is, I can have the submission file stuff merged tomorrow.

[2020-11-11 10:08] NateWr commented on #6325
Thanks @carolinatanigushi. That sounds like a good idea and something that we should probably support in searching for all of our applications. A couple of additional things that will need to be thought through if and when we are able to move forward on this:

1. A submission has a primary language. How should this be taken into account in search?
2. Once we support full-text outside of galleys, w

[2020-11-11 10:15] NateWr commented on #6329
Hi @thumos333, yes you can use Apache's mod_rewrite along with `.htaccess` rules to remove the `index.php` in the URL. Most web servers should be able to accommodate this without any problems (for example, this is how WordPress works).

I just went looking for documentation on this at our [Administrator's Guide](https://docs.pkp.sfu.ca/admin-guide/en/) but didn't find any. I'll try to track down w

[2020-11-11 10:15] #6329 closed

[2020-11-11 10:24] NateWr commented on #6329
Also, if you want to run a single journal at a root domain, look at the optional path additions to the `config.inc.php` file described in this comment: https://github.com/pkp/pkp-lib/issues/4919#issuecomment-511459058.

[2020-11-11 11:26] alexxxmendonca commented on #6317
Hi @NateWr

So another case popped up with the exact same symptoms.

Here's what the browser's console log says:

![image](https://user-images.githubusercontent.com/4059679/98806180-88908900-23f7-11eb-89be-4b611b92372d.png)

[code]

[2020-11-11 11:35] NateWr commented on #6317
Thanks! It sounds like there is some missing data in the return object for that reviewer. Before fixing this, can you do the following to help identify the missing property.

1. Go to the Console in Firefox.
2. Open the Network tab (it should be along the same line of options as the Console)
3. With the Network Tab open, select XHR.
4. With the Network Tab open, go to the add reviewer area.
5. Sea

[2020-11-11 11:52] NateWr commented on #6317
Thanks @alexxxmendonca, that helped! It looks like this is caused by code that expects the `affiliation` to be entered and when there is none would cause an error. This was identified and fixed in https://github.com/pkp/pkp-lib/issues/6151.

It looks like that was just a couple months before 3.2.1-1 was released. The fix should arrive with 3.2.1-2, which we expect to come out in the next week or t

[2020-11-11 11:52] #6317 closed

[2020-11-11 11:52] NateWr commented on #6317
Sorry, I meant a couple months _after_ 3.2.1-1 was released. So the fix was not included in 3.2.1-1 but will be in 3.2.1-2.

[2020-11-11 11:59] jmvezic commented on #3022
@ajnyga Just checking up on this, is it still the plan to have it released in 3.3?

[2020-11-11 12:15] alexxxmendonca commented on #6317
Thanks a lot for all your help @NateWr !

[2020-11-11 12:57] thumos333 commented on #6329
@NateWr many thanks for this info - I will tell the administrator.

[2020-11-11 13:45] ajnyga commented on #5774
I agree that VoR might be an unknown term. We don't want another "galley" to the system right? :D

Also with a short googling it seems that it almost always refers to a journal article. Of course I have to admit that I do not know for sure to what extend the term preprint is used in other cases than journal articles? But I do think that if we have the option, we should choose a translation that co

[2020-11-11 14:24] NateWr commented on #6038
All merged! :tada:

[2020-11-11 14:24] #6038 closed

[2020-11-11 14:27] NateWr commented on #6234
Merged.

[2020-11-11 14:27] #6234 closed

[2020-11-11 16:28] jnugent opened #6330 "Lens Galley XML views not tracked in usage statistics"
There's a small bug with respect to the lens galley plugin.  It registers a hook called LensGalleyPlugin::articleDownloadFinished that is not in the list of hooks checked by the Usage Stats and Usage Events plugin, so XML views are not registered. The fix is small, pull requests forthcoming.

Noticed in 3.2.1 but also in master.

[2020-11-11 23:44] eocarragain commented on #4930
Confirming this bug on OJS 3.2.1-1.

However, this ticket appears to be a duplicate of #6107 where it was fixed and scheduled for release as 3.2.1-2

[2020-11-12 09:42] NateWr commented on #4930
In #6107 the feature was fixed so that the section title would be hidden. In this issue, I think the problem is that when the section title is hidden the layout/styling is off. The first article's title rises up to overlap with the section divider line.

[2020-11-12 09:49] NateWr commented on #6330
Looks ok to me. @asmecher?

[2020-11-12 10:55] Vitaliy-1 opened #6331 "Native citations import doesn't break citations string into single citations"
See: https://forum.pkp.sfu.ca/t/doesnt-import-citations-from-xml/63837

Reported by 2 users, didn't reproduce this by myself.
According to the `pkp-lib` master branch code, `NativeXmlPKPPublicationFilter::parseCitations` doesn't insert line breaks between citations to be correctly tokenized by `CitationListTokenizerFilter`. See: https://github.com/pkp/pkp-lib/blob/d55739b90a9ac9460d0e1916946223c37

[2020-11-12 13:55] mfelczak commented on #2505
Adding @AhemNason and @ewhanson since they may have some additional input re: Crossref requirements here.

[2020-11-12 15:25] ajnyga commented on #2505
Seems that a journal title change should require a new ISSN: https://www.issn.org/understanding-the-issn/assignment-rules/issn-the-major-principles/. So the problem I mention above with Crossref should not be there.

Why do I have a feeling that this is probably not enforced always?

[2020-11-12 22:34] eocarragain commented on #4930
thanks @NateWr . Right you are

[2020-11-13 08:49] heike-r commented on #2505
From an editors point of view: theoretically, a title change requires a new ISSN. However, a journal would be disconnected from its entire history in indexing databases such as Web of Science or Scopus. It would start out as a 'new' journal or might even require a new application to be indexed and thus have no impact factor or metrics like it. A huge disadvantage any editor will try to avoid.

[2020-11-13 08:53] ajnyga commented on #2505
If de facto a lot of journals are changing their names without changing the ISSN, then this needs to solved with Crossref (and maybe others) first. Otherwise we end up with a code that attaches a historic journal name to the current ISSN and Crossre API will throw an error because they can not match the ISSN and the name.

I am not sure how they have arranged this. I mean, it could be that they ca

[2020-11-13 10:24] NateWr commented on #6057
All merged! :tada:

[2020-11-13 10:24] #6057 closed

[2020-11-13 11:46] JamieFowlie commented on #3263
Each time I have an upgrade (managing 5 OJS installations fo various journals), I get nervous and come looking for a solution to upgrading without knowing if people are currently doing serious work in the backend. At some point I need to change the config file installed to off to get the 2 minutes I need  to do the upgrade and swap out the files.  I prefer not to change document folder names, so I

[2020-11-13 12:53] lpanebr commented on #2505
@ajnyga is right that title changes SHOULD require a new ISSN. There are, however, some situations prescribed in the ISSN manual that allow for title changes without changing the ISSN, as seen in [section 2.4](https://www.issn.org/understanding-the-issn/assignment-rules/issn-manual/6/) below:
![image](https://user-images.githubusercontent.com/129185/99071706-6af72700-2591-11eb-8133-b37ea51881f3.pn

[2020-11-13 14:19] NateWr commented on #5187
The following PRs address this issue as well as other accessibility issues:  #5188, #5182, #5189, #5181, #5619, and #5184. They also include a fix for #4930.

PRs:
https://github.com/pkp/customBlockManager/pull/66
https://github.com/pkp/pkp-lib/pull/6332
https://github.com/pkp/ui-library/pull/122
https://github.com/pkp/ojs/pull/2901
https://github.com/pkp/omp/pull/875
https://github.com/pkp/ops/pu

[2020-11-13 16:03] NateWr commented on #6101
Fixed in https://github.com/pkp/pkp-lib/commit/17105d10d88ffefad6112aa8cf2b143511b4ea67

[2020-11-13 16:03] #6101 closed

[2020-11-13 16:05] NateWr commented on #6149
Fixed in https://github.com/pkp/pkp-lib/commit/0b33fab99d3d196d0c91fc6182cccc6cd5f98c69#diff-8100c829b3c8e2b0f5bbf2d00cbc29f5b67dfa0b7183132bfa8694c7d6e476a7

[2020-11-13 16:05] #6149 closed

[2020-11-13 16:06] NateWr commented on #6198
Fixed in https://github.com/pkp/pkp-lib/commit/0b33fab99d3d196d0c91fc6182cccc6cd5f98c69#diff-8100c829b3c8e2b0f5bbf2d00cbc29f5b67dfa0b7183132bfa8694c7d6e476a7

[2020-11-13 16:06] #6198 closed

[2020-11-13 16:13] NateWr commented on #5740
@asmecher it may be worth re-checking this after the new submission file merge. I don't fully understand your description of [the problem](https://github.com/pkp/pkp-lib/issues/5740#issuecomment-629548502), but if it's related to the `detachEntities` stuff, that has been rewritten a bit so this may not be a problem any more.

[2020-11-13 16:17] NateWr commented on #5090
@asmecher do you still plan to remove this for 3.3 or should I defer it for 3.4?

[2020-11-13 16:24] NateWr commented on #4132
Going to close this as obsolete. The DOI assignment UI is being reconsidered separately from the submission workflow.

[2020-11-13 16:24] #4132 closed

[2020-11-13 16:29] NateWr commented on #3020
Addressed in #6057.

[2020-11-13 16:29] #3020 closed

[2020-11-13 16:38] NateWr commented on #1369
Closing this issue because it has been superseded by the versioning introduced in 3.2. For a discussion about how to identify different types of version dates, see https://github.com/pkp/pkp-lib/issues/4860.

[2020-11-13 16:38] #1369 closed

[2020-11-13 16:39] NateWr commented on #1265
Closing as this is very old. File a new issue if any further improvements are needed.

[2020-11-13 16:39] #1265 closed

[2020-11-13 16:49] NateWr commented on #2557
Closing as wontfix since there doesn't seem to be much we can do here.

[2020-11-13 16:49] #2557 closed

[2020-11-13 18:24] Vitaliy-1 commented on #6331
PR to pkp-lib master: https://github.com/pkp/pkp-lib/pull/6333
@NateWr, can you take a look at this one? I'm not able to test it on master as encountered a problem importing XML through the plugin, suspect because of recent changes.

[2020-11-13 18:26] asmecher commented on #5090
I'll take care of it, thanks!

[2020-11-13 18:53] #6116 closed

[2020-11-13 22:08] asmecher commented on #6330
PRs:
- https://github.com/pkp/ojs/pull/2900
- https://github.com/pkp/usageStats/pull/36
(Don't forget to list these in a comment on the issue when you open them -- unless they're in the same repository, GitHub won't do this automatically!)

All merged and cherry-picked to `stable-3_2_1` -- thanks, @jnugent!

[2020-11-13 22:08] #6330 closed

[2020-11-13 22:17] asmecher commented on #6259
Merged (`stable-3_2_1` and `master`), thanks!

[2020-11-13 22:17] #6259 closed

[2020-11-13 22:28] asmecher commented on #6010
@Vitaliy-1, are you still seeing this problem?

[2020-11-13 22:29] asmecher commented on #6071
@defstat, just checking on the status of this plugin!

[2020-11-14 14:00] eocarragain commented on #2564
Adding a big plus one for this feature. It has been requested by several journals where they are used to being able to italicize book or poem titles in article titles.

@NateWr having missed the 3.2 release, do you know if it is likely to make it into 3.3?

Thanks

[2020-11-14 20:12] diegoabadan commented on #2564
We have journals that requested this feature from us as well.
And others that use it in OJS 2.

[2020-11-15 17:46] mixalisxp opened #6335 "[OJS]"

[2020-11-15 17:46] #6335 closed

[2020-11-16 04:56] jalperin opened #6336 "a lot of cookie-related errors appearing in javascript console"
**Describe the bug**
I cannot see any consequences of this, but the Course Journals install at SFU is leaving behind a long set of javascript errors in the console:

* ```Some cookies are misusing the recommended “SameSite“ attribute 45```
** ```Cookie “OJSSID” will be soon rejected because it has the “SameSite” attribute set to “None” or an invalid value, without the “secure” attribute. To know m

[2020-11-16 10:50] NateWr commented on #3263
@JamieFowlie raises a good point that there are maybe two parts to this, one easier than the other:

1. Kick out editors/authors/reviewers from the backend and stop work from happening that effects the database (including writing to sessions or usage stats tables).

2. Keep the reader-fracing frontend up and running so that there is no visible downtime for published material.

Doing the second wil

[2020-11-16 11:08] Vitaliy-1 opened #6337 "Foreign key constraint error during upgrade in review_round_files.submission_file_id"
OJS master branch. Upgrade from 3.2.1.
Full upgrade log:
[code]

`submission_file_id` column of `review_round_files` table has values not reflected in the correspondent column of the `submission_files` table.
Executing query:
[code]
gives result:
[code]
I cannot reproduce this issue on the clean instance. Deleting records for the aforementioned IDs in the ``review_round_files` table solves the pro

[2020-11-16 11:10] NateWr commented on #2564
No, I don't think this will be making it into 3.3, unfortunately.

[2020-11-16 11:23] NateWr commented on #6336
Those are just warnings. I can't speak to the cookie ones, but the XMLHttpRequest warning is a deprecation notice that appears when we inject HTML into the site with a `<script>` tag. This is a central part of the old JS framework and will be with us until we have finished migrating away from it.

[2020-11-16 12:10] NateWr commented on #6331
Thanks @Vitaliy-1! I tested by exporting then importing and this fixed it. :+1:

[2020-11-16 12:10] #6331 closed

[2020-11-16 12:34] NateWr commented on #2584
This is no longer an issue since OJS 3.2. The new publication tab separates the section assignment and abstract into different forms, so once the section is changed, submitting the title and and abstract form without a required abstract will return an error.

[2020-11-16 12:34] #2584 closed

[2020-11-16 12:44] NateWr commented on #4414
@asmecher I checked back in on this today and I still can't reproduce the problem where the `*` character is escaped. Do you mind trying to reproduce this again and see if the problem persists for you? Reproductions steps:

1. Set disable_path_info to on.
2. Go to admin.
3. Try to create a journal.

[2020-11-16 12:57] NateWr commented on #6008
PR:
https://github.com/pkp/pkp-lib/pull/6338

Tests:
https://github.com/pkp/ojs/pull/2903

@asmecher just double-checking again that we're ok to bump PHP requirement to 7.3 for the next major release.

[2020-11-16 16:13] jalperin commented on #6336
Right. I should have written warnings, not errors. The cookie ones might be
worth addressing?

[2020-11-16 16:45] NateWr commented on #2773
The following PRs implement support for browser history when using tabbed navigation. This works in the _new tabs_, such as settings forms, issue management, publication details, etc. It does not work on the old `TabHandler` tabs, but these are used in fewer and fewer places. Where they are used is usually inside of a modal, where we wouldn't be able to support browser history anyway.

There are a

[2020-11-16 17:57] defstat commented on #4622
I am adding this as a preliminary work on Queues (and some support for Artisan)

https://github.com/defstat/pkp-lib/tree/laravel-queue-integration

[2020-11-16 18:23] mfelczak opened #6340 "Session/cookie management improvements"
**Describe the problem you would like to solve**
This is a meta-issue to help us track possible session/cookie management improvements that have been flagged in the past, including the following:

1) [x] Setting the [HTTP-only flag](https://www.php.net/manual/en/session.configuration.php#ini.session.cookie-httponly) since there's no requirement for cookie access via JS (done: https://github.com/pk

[2020-11-16 18:24] mfelczak commented on #6340
@ajnyga, tagging you here in case you have any additional requirements to add.

[2020-11-16 18:33] asmecher commented on #6008
Just confirming, yes, we can targeting PHP7.3 for OJS/OMP/OPS 3.3. By the time the Q1 release is made, PHP7.2 will no longer be receiving security fixes. (https://www.php.net/supported-versions.php)

[2020-11-16 18:38] mfelczak commented on #6340
@ctgraham, tagging you here as well in case you have any additional requirements to add.

[2020-11-16 18:41] asmecher commented on #6336
Closing this one in favour of https://github.com/pkp/pkp-lib/issues/6340, which proposes some concrete changes.

[2020-11-16 18:41] #6336 closed

[2020-11-16 20:14] luizbgomide opened #6341 "PHP 7.4.12 is giving with call_user_func_array()"
**Describe the bug**
After updating to the latest PHP I'm getting the following error constantly and the site became **very** slow when loading the first page of every journal.

[code]

**To Reproduce**
You can check my installation on http://periodicos.fclar.unesp.br

**What application are you using?**
 OJS 3.2.1-1

[2020-11-16 20:24] diegoabadan commented on #3263
The statistics table is a point that is usually quite expensive in upgrades of major OJS installations.

Separating it, perhaps as a micro service, would not bring advantages, in addition to facilitating the implementation of item 2?

And for sessions, the option of being able to store them in something like Redis could be interesting.

[2020-11-16 20:24] diegoabadan commented on #3263
Forum post related to this issue:
https://forum.pkp.sfu.ca/t/read-only-mode-on-ojs-ops-omp/61001

[2020-11-16 20:59] asmecher commented on #6341
@luizbgomide, have you changed your caching configuration away from the default? Are your file permissions configured properly so that OJS can store files in `cache/`? It seems as though file-based caching is not working in your installation, which would explain the low performance.

[2020-11-16 21:13] luizbgomide commented on #6341
No change in OJS whatsoever. The only thing that I did today was run `portmaster -a` which updated a few PHP components.

Also it is only slow on the initial page of journals, everything else (main site page, issues, articles, administration, dashboard, etc) is as fast as ever. After those problems begin occuring I cleared all my cache, but no change.

[2020-11-16 22:40] mfelczak commented on #3263
@NateWr, confirming that this would be helpful as the first step before a production install is taken offline to start an upgrade.

[2020-11-16 23:19] asmecher commented on #6341
@luizbgomide, unfortunately the warning doesn't contain enough information to know what specific case is causing the warning. If you're handy with PHP, could you make a couple of changes?
- Turn on `show_stacktrace` in `config.inc.php`
- Edit `lib/pkp/classes/cache/GenericCache.inc.php` and change...
[code]
  ...to...
[code]
Then trigger the error and see what the page output looks like (it should

[2020-11-17 07:07] ajnyga commented on #6340
Thanks! From a GDPR viewpoint I think the most important thing is to make the OJS session cookie optional.
However, we should find out whether it would be enough to hash the IP that is stored to the sessions table. If that is enough for GDPR purposes, then the OJS cookie does not need consent while no other personal data is stored to the cookie/session.

[2020-11-17 08:02] gerwinC commented on #2505
The recent contributions to the discussion were very interesting for me. An important point that seems unresolved to me in the last discussed approach with additional title instances is what ajnyga remarked earlier (26 May 2017): "...the journals that have this situation do want to have a continuing archive of their articles in one place. If that archive is split to several individual journals, it

[2020-11-17 09:38] NateWr commented on #3263
This should improve from 3.3 onwards because we have replaced our database migrations toolset. We expect downtime during upgrades to be significantly shorter.

[2020-11-17 10:17] NateWr opened #6343 "[OMP] Graph not showing views on book landing page"
**Describe the bug**
When the usage stats plugin is configured to show a graph/chart on the book landing page, the stats are not appearing because the plugin tries to get stats for the `Publication` instead of the `Submission`. This can be seen [here](https://github.com/pkp/usageStats/blob/master/UsageStatsPlugin.inc.php#L585-L588).

The OJS/OPS stats appear to correctly retrieve the submission in

[2020-11-17 10:25] Vitaliy-1 commented on #6337
@NateWr, what about those notices? I've checked and some files are really missing from a files folder, I mean the whole submission folder, e.g., 2, 9 and 10. Some files are present but the submission ID associated with them is missing from a `submissions` table., e.g., the submission with ID 116.

[2020-11-17 10:30] NateWr commented on #6337
Does it look like maybe a submission was deleted but the files were not successfully removed? That's my best guess and I think for this migration all we need to do is remove rows where the corresponding foreign key is missing. These rows are "lost information" anyway.

[2020-11-17 10:34] Vitaliy-1 commented on #6337
Yes, I think it's the most likely cause. Thanks!

[2020-11-17 11:26] luizbgomide commented on #6341
I did as you requested, but the page still loaded just fine and I got nothing different on the logs:
[code]

Where the stack trace was supposed to appear?

[2020-11-17 11:28] NateWr commented on #4622
Thanks @defstat! Looks like a lot of tough integration work here. The queuing looks solid and will be a big improvement for us. It seems like the last big challenge here is figuring out how to process jobs in the queue.

If I understand correctly, Laravel's workers will work through the jobs as quickly as possible whenever they detect jobs in the queue. I'm having trouble thinking about how we can

[2020-11-17 13:33] withanage opened #6344 "Remove script host from smarty variables"
**Describe the bug**
URL  Link function  in the wysiwig editor tinymce , automatically adds a relative path for a non-url link.
This function generates  wrong links, when combined with smarty variables.
Therefore, a custom fallback function was added to  enable correct handling of smarty variables.

**To Reproduce**

https://github.com/pkp/orcidProfile/issues/122

**What application are you using?

[2020-11-17 15:22] NateWr commented on #6344
Merged! Thanks @withanage.

[2020-11-17 15:22] #6344 closed

[2020-11-17 15:38] NateWr commented on #5187
All merged! These PRs address all of the remaining urgent issues from the accessibility audit of the default theme. :tada:

@kaitlinnewson and @amandastevens this may effect documentation in a few ways. I have a list I can share that will be covered in the technical release notebook.

[2020-11-17 15:38] #5187 closed

[2020-11-17 15:38] NateWr commented on #5188
Fixed as part of work in https://github.com/pkp/pkp-lib/issues/5187

[2020-11-17 15:38] #5188 closed

[2020-11-17 15:38] NateWr commented on #5182
Fixed as part of work in https://github.com/pkp/pkp-lib/issues/5187

[2020-11-17 15:38] #5182 closed

[2020-11-17 15:39] NateWr commented on #5189
Fixed as part of https://github.com/pkp/pkp-lib/issues/5187

[2020-11-17 15:39] #5189 closed

[2020-11-17 15:39] NateWr commented on #5181
This was fixed as part of https://github.com/pkp/pkp-lib/issues/5187. The basic search form was removed entirely in favour of a link to the search page.

[2020-11-17 15:39] #5181 closed

[2020-11-17 15:41] NateWr commented on #5619
Fixed as part of work in https://github.com/pkp/pkp-lib/issues/5187. For existing custom blocks, a title is automatically generated from the name but not shown. For best accessibility, editors should go in after upgrade and write a better title.

[2020-11-17 15:41] #5619 closed

[2020-11-17 15:41] NateWr commented on #5184
Fixed as part of work in https://github.com/pkp/pkp-lib/issues/5187. The autosuggest feature when defining reviewer interests during user registration was removed. This is still available when editing the profile.

[2020-11-17 15:41] #5184 closed

[2020-11-17 15:41] NateWr commented on #4930
This was fixed as part of work in https://github.com/pkp/pkp-lib/issues/5187.

[2020-11-17 15:41] #4930 closed

[2020-11-17 16:30] Vitaliy-1 commented on #6058
pkp-lib master: https://github.com/pkp/pkp-lib/pull/6345
Tests OJS master: https://github.com/pkp/ojs/pull/2907

Thanks @NateWr, sorry for the late response. In that case, the initial commit should do! I don't see any warnings in logs.

[2020-11-17 16:38] NateWr commented on #6058
Thanks! The code looks good. Once the tests are passing I'll merge.

[2020-11-17 16:39] asmecher commented on #6341
Hmm, there should have been a failure and a stack trace there, not a notice. Maybe try converting the `fatalError(...)` to `throw new Exception(...)`?

[2020-11-17 16:47] NateWr commented on #6008
All merged! :tada:

@kaitlinnewson and @amandastevens this will have a minor impact on documentation. The minimum required PHP version for running OxS is now PHP 7.3.

[2020-11-17 16:47] #6008 closed

[2020-11-17 20:23] asmecher opened #6346 "Review and clean up docs/README-DEV.md"
The `docs/README-DEV.md` document in each application repository is out of date and redundant with documents in the developer area of the PKP docs hub (https://docs.pkp.sfu.ca/dev/). Stub out the `README-DEV.md` document, capturing any content that's not covered in the docs hub for migration.

[2020-11-18 01:55] asmecher commented on #6264
@NateWr, I've added pulls for OPS and OMP to https://github.com/pkp/pkp-lib/issues/6264#issuecomment-702926627 -- could you have a quick look at these? They're essentially straight adaptations of the OJS PR (that is to say, lots of DAO class clean-up and little else).

[2020-11-18 08:41] ajnyga commented on #4834
+1 for this, some journals have asked for this. Apparently it is a common practice in some journals that the reviewers get to see the reports from other reviewers.

[2020-11-18 09:57] Vitaliy-1 commented on #6286
PRs
pkp-lib master: https://github.com/pkp/pkp-lib/pull/6347
OJS master: https://github.com/pkp/ojs/pull/2908
OMP master: https://github.com/pkp/omp/pull/878

[2020-11-18 11:02] alexxxmendonca commented on #4834
+1

and maybe have a non-blind copy as well, thinking about open review.

[2020-11-18 11:32] NateWr commented on #2773
All merged.

[2020-11-18 11:32] #2773 closed

[2020-11-18 11:36] luizbgomide commented on #6341
Got it, it is the exact same trace everytime it fails.

`Fatal error: Uncaught Exception: Unknown fallback type: in /usr/home/luizborges/www/public_html/lib/pkp/classes/cache/GenericCache.inc.php:64 Stack trace: #0 /usr/home/luizborges/www/public_html/lib/pkp/classes/cache/FileCache.inc.php(115): GenericCache->get(NULL) #1 /usr/home/luizborges/www/public_html/plugins/blocks/keywordCloud/KeywordClo

[2020-11-18 11:37] NateWr commented on #6058
Thanks @Vitaliy-1, all merged!

[2020-11-18 11:37] #6058 closed

[2020-11-18 12:39] NateWr commented on #6203
@asmecher to fix this I had to allow a `/` in a URL anchor. I think this is safe because this is how Vue Router works (see our [UI Library](https://docs.pkp.sfu.ca/dev/ui-library/dev/#/component/Badge)). Can you just confirm that [this regex](https://github.com/pkp/pkp-lib/pull/6348/files#diff-b1feaca85ec221df062297be3df0a42f7ccfb8e01654114fe8a83a71d803da4fR356) is an ok replacement for `rawurlenc

[2020-11-18 15:07] NateWr opened #6349 "Fatal error when creating new version in OMP"
**Describe the bug**
The following fatal error appears when I try to create a new version of a publication in OMP. The publication should have a Publication Format with at least one file.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Submission > Publication.
2. Add Publication Format with one file.
3. Publish.
4. Click Create New Version.
5. See error.

**What application ar

[2020-11-18 15:12] NateWr opened #6350 "Problems with enabling/disabling usage event and usage stats plugins from plugin grid"
**Describe the bug**
If you click the checkbox to disable the Usage Event plugin, it says that the plugin has been disabled but the status does not change in the plugin grid. In the database the `enabled` setting is set to `0`, but this is not taken into account in the plugin grid because the method `PKPUsageEventPlugin::isEnabled()` is set to always return `true`.

I think that the `getCanDisable

[2020-11-18 15:16] NateWr opened #6351 "Site-wide plugins can be enabled/disabled from the context's plugin grid"
**Describe the bug**
The Usage Statistics plugin is a site-wide plugin, however, it can be enabled and disabled from the context's plugin grid. This means that a journal manager could disable the plugin even though it should only be possible to do this from the admin area.

The settings form can be saved with different settings for each context, so that needs to be accessible to managers. But it s

[2020-11-18 15:34] diegoabadan commented on #4622
Wouldn't it be the case for a single frequent cron job and using Scheduling for large tasks that can run infrequently?
https://laravel.com/docs/8.x/scheduling

[2020-11-18 16:00] NateWr commented on #6343
Usage event logs do not appear to be getting written when viewing a publication format.

[2020-11-18 16:47] NateWr opened #6352 "Usage event not getting logged when viewing file"
**Describe the bug**
A usage event is not being logged when viewing/downloading a file. Reproduced this on OMP but I think it effects OJS as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure usage events are being logged when you visit a book landing page.
2. Go to a file for that book.
3. See that no event was logged for this.

**What application are you using?**
3.3 pre-relea

[2020-11-18 18:14] pmangahis opened #6353 "Review Detail Confirmation button"
**Describe the problem you would like to solve**
A hosted client has pointed out that once we click on the review details button under the referee name, a popup window opens and the referee reports are showing.

If the referee didn't submit the report the same window opens and once click on the confirm button the review reports are recorded.If by mistake once we click on the confirm button and the

[2020-11-18 21:00] asmecher commented on #6203
It would be nice to rely on an outside toolset for validating anchors (your regexp would probably work for our purposes, but is missing e.g. `%xx` encodings). What about https://github.com/laminas/laminas-uri/blob/2.9.x/src/Uri.php#L994? The Zend Framework [also implements](https://framework.zend.com/apidoc/2.2/classes/Zend.Uri.Http.html) a `validateQueryFragment` function, though I'm not sure it'

[2020-11-18 21:07] asmecher commented on #6286
@Vitaliy-1, some of the columns you've changed to `NOT NULL` are indeed intended to be nullable (see e.g. `announcements.date_expire`, which should be `NULL` if the announcement doesn't expire). Could you review these again? For schema elements that haven't changed since `stable-3_2_1`, you can check for the `NOTNULL` XML element in the XML-based schema descriptors.

[2020-11-19 08:35] thumos333 commented on #6329
@NateWr Your method has worked just fine for the journal's homepage. Is it possible, though, to delete "index.php" completely from all address lines generated by the engine? For example, right now the issue address is "http://journals.institute.org/index.php/journalname/issue/view/3". The same useless "index.php" seems to be present everywhere except the homepage.

[2020-11-19 11:00] NateWr commented on #4622
We can recommend people change their cron to be more frequent. However, in practice we are likely to find that a lot of instances are upgraded without making this change.

[2020-11-19 11:30] NateWr commented on #6203
laminas-uri will validate the anchor but it won't perform a replacement on it. By the time we hit `PageRouter::url()` we're passed the validation stage and we need to return the most well-formatted URL given the input... Alternatively I could copy the regex over into our `preg_replace` for a cheap fix.

[2020-11-19 11:54] NateWr commented on #6329
The regex that I posted above does this for me. It removes the `index.php` from the entire site. Are you able to visit that issue page by removing the `index.php`? If the URLs on the site still include it, you may need to clear the cache from the Administration area in the backend.

[2020-11-19 12:25] diegoabadan commented on #4622
In this case, something similar to the new version notice may be interesting when OJS realizes that it has spent more time than recommended to run cron.

So OJS itself alerts its users, when there is this forgetfulness in the upgrade or any problem in Cron.

[2020-11-19 12:55] NateWr commented on #6079
This was addressed in #6057.

[2020-11-19 12:55] #6079 closed

[2020-11-19 12:56] NateWr commented on #6075
This was addressed in #6057.

[2020-11-19 12:56] #6075 closed

[2020-11-19 16:15] asmecher commented on #6340
@ajnyga, is the cookie consent thing already covered by https://github.com/pkp/pkp-lib/issues/3624?

[2020-11-19 16:25] ajnyga commented on #6340
Yes, I believe that is what @mfelczak means with the first point here?

[2020-11-19 16:28] mfelczak commented on #6340
Yes, that was the intention with 1) which I've updated with a few more details.

[2020-11-19 16:33] carzamora opened #6355 "the authors are confused in which part of the process they are"
Example: Some authors upload material in tabs of the editorial process that have already passed; for example, an author uploaded more material to the review tab when we were in the Copyediting tab.

Solution: As Editors, we have the workflow active tab highlighted by a red line, so I propose the same red line for the authors and allow the author to only look at the previous tabs, that is, block th

[2020-11-19 17:16] asmecher commented on #6340
Gotcha, thanks. I'd suggest removing it from this entry, then, and letting #3624 handle it (since there's already a lot of discussion over there).

[2020-11-19 17:26] asmecher commented on #6203
No sense bikeshedding here when our required vocabulary for anchors is very limited. I'm OK with your original regexp.

[2020-11-19 17:31] asmecher commented on #6341
@luizbgomide, this appears to be a coding error in the keyword cloud block plugin, which PKP doesn't maintain; I'd suggest contacting the author of that plugin.

[2020-11-19 17:31] #6341 closed

[2020-11-19 17:56] mfelczak commented on #6340
Thanks @asmecher and @ajnyga, removed 1) here in favour of continuing discussion via #3624.

[2020-11-19 18:30] asmecher commented on #6320
See also:
- https://forum.pkp.sfu.ca/t/search-not-working-after-upgrade-to-ojs-3-2-1-1/63239
- https://forum.pkp.sfu.ca/t/oai-not-working-ojs-3-2-1-1/63958

[2020-11-19 18:45] asmecher commented on #6320
Unfortunately MySQL won't accept the change from `CHAR` to `TEXT`, so this will need to be made database dependent.

[2020-11-19 19:48] asmecher commented on #6320
Trying the reverse approach: convert int-to-string conversions into string-to-int. This apparently has performance benefits too, according to https://github.com/pkp/pkp-lib/issues/6321.

PRs:
- https://github.com/pkp/ojs/pull/2910
- https://github.com/pkp/pkp-lib/pull/6356

[2020-11-19 19:52] amandastevens commented on #6241
I think this is a duplicate of [issue 3100](https://github.com/pkp/pkp-lib/issues/3100).

[2020-11-19 20:01] asmecher commented on #6321
Thanks, @NateWr and @hcoussy! The `CAST` issue (previously filed as #6323) is separately filed at https://github.com/pkp/pkp-lib/issues/6320 -- apparently it's not just causing slowdowns. I have some PRs over there for testing.

[2020-11-19 20:13] asmecher commented on #6321
@hcoussy, for the remaining two issues:

...and...

...the best next step would be to open a separate Pull Request for each change.

You can do this either using the command line `git` tool on your own system: https://opensource.com/article/19/7/create-pull-request-github)

You can also do this without using the command line by using github.com...
1. Create your own fork of the repository you want

[2020-11-19 20:21] asmecher commented on #6320
This tests fine for me (and Travis-ci), but confirmation based on real-world data would be wonderful!

[2020-11-19 21:52] asmecher commented on #6264
All PRs merged, not including the testing-purposes-only commits.

[2020-11-19 22:11] thumos333 commented on #6329
Yes, there seems to be no difference, with or without `index.php`.

But yes, that's the case: all generated URLs include `index.php`.

[2020-11-20 09:53] bozana commented on #6099
where should the new country field appear:
- in settings > journal > masthead > in the journal identity part?
- when creating and editing a journal (together with title, initials, abbrev...)

[2020-11-20 11:49] ajnyga opened #6357 "OPS workflow layout modifications"
We have discussed changes to the OPS **workflow.tpl** with @NateWr and he came up with the suggestion below.

At the moment the OPS workflow view is basically identical to OJS workflow with the exception that there is only one workflow stage involved. This makes the structure, designed to work with several stages, useless.

Nate's suggestion is to move the current Publication tab as the main entry

[2020-11-20 12:13] alexxxmendonca commented on #6357
will new discussions go undetected?

Valid concern.

Also, right now I can get in one single screen:
1. the current status of discussion (newly added discussions or how many topics, etc)
2. who's in the Participants

With this new interface, what now takes me just one one place and one click, will take me two more clicks and two places to check.

[2020-11-20 14:45] ctgraham commented on #6350
Sounds reasonable to me.

[2020-11-20 14:55] bozana commented on #6099
@asmecher, do you maybe know more about this requirement -- where/how is this information used, an use case this is for, is this a required field,... ?

[2020-11-20 16:11] asmecher commented on #6099
Hi @bozana! Actually, I think this is no longer a requirement -- I had forgotten we have an entry here. It's possible to identify the country using the ISSN with a high degree of reliability. See: https://github.com/asmecher/beacon/blob/master/updateBeacon.php#L155

So I'll close the issue for now...

[2020-11-20 17:11] Vitaliy-1 commented on #6286
Oops, sorry, don't know why I've changed that.

[2020-11-20 18:03] Vitaliy-1 commented on #6286
@asmecher, done!
I've rechecked and updated only where schema has a comment, like ``. I cannot find related issues that are mentioned in some of those comments but I suspect they are resolved.

[2020-11-20 19:02] asmecher commented on #6286
That's great -- yes, it should be possible to change the columns flagged `Nullable for upgrade purposes only` to actually `NOT NULL` once the upgrade to 3.3 has otherwise been completed. Many of these are due to the way the versioning capabilities were introduced in the upgrade to 3.2.0.

[2020-11-20 21:05] asmecher commented on #6264
Closing this; there will doubtlessly be related errors but they can either reopen this issue with details or file new entries.

[2020-11-20 21:05] #6264 closed

[2020-11-20 21:46] asmecher commented on #5090
PRs:
- https://github.com/pkp/pkp-lib/pull/6358
- https://github.com/pkp/ojs/pull/2911 (tests only)

[2020-11-20 22:03] asmecher commented on #6320
Unfortunately MySQL and PostgreSQL disagree fundamentally about whether `INTEGER` or `UNSIGNED` are types. `INTEGER` seemed like a good fit, and it worked locally on my MariaDB install, but Travis's MySQL install failed despite https://bugs.mysql.com/bug.php?id=62926 apparently being fixed long ago. Reverting to cast to `CHAR`, but with length specified; both seem to like that. I expect it won't p

[2020-11-20 23:06] #5090 closed

[2020-11-20 23:06] asmecher commented on #5090
Merged!

[2020-11-20 23:23] asmecher opened #6359 "Submission files migration does not update item_views"
The submission files update in #6057 changes the way `submission_files` are referred to from other parts of the system. (No more compound ID!)

The `item_views` table (`ViewsDAO`) is used to track user views of submission files using `assoc_type = ASSOC_TYPE_SUBMISSION_FILE`. Previously `assoc_id` used to be a compound `fileId-fileRevision`. The upgrade process doesn't rewrite this to the new stru

[2020-11-20 23:30] asmecher commented on #6320
Merged and closing -- but additional testing on the changes posted at https://github.com/pkp/pkp-lib/issues/6320#issuecomment-730597845 is welcome!

[2020-11-20 23:30] #6320 closed

[2020-11-20 23:50] asmecher commented on #6357
This is probably my weakest area :) but...

Historically we've depended on something other than the appearance of a row in a table to notify a user, and I think the same should be said of a row in a table on a tab. The users who need to be notified should get a toast notification and/or email, and the link there should jump to the right part of the interface. Longer term, permitting OPS/OPS/OJS to

[2020-11-21 01:25] asmecher commented on #5682
@dommitchell, it looks like the schema URLs above (e.g. http://www.doaj.org/schemas/iso_639-2b/1.0) are gone; is this intentional?

[2020-11-21 05:43] dommitchell commented on #5682
Thanks @asmecher Am checking. We're doing the migration for our new site which is launching on Wednesday, if all goes well, so it might be related to that. Will come back ASAP.

[2020-11-21 11:23] gurumelo opened #6436 "Multijournal. If i load custom CSS stylesheet, this CSS is loaded in another journals"
**Describe the bug**
OJS 3.2.1-2
Multijournal. If i load custom CSS stylesheet, this CSS is loaded in another journals

**To Reproduce**
Multijournal:
- Journal 1. default theme
- Journal 2. default theme
- Index. Health Sciences theme

- admin: Dashboard → Administration → Site settings → Appearance → Site style sheet → Load your custom CSS

This CSS is loaded on Journal 1 and Journal 2. It rewri

[2020-11-22 13:41] withanage opened #6361 "OMP OAI interface - relation support"
**Describe the problem you would like to solve**

In OJS, the galley file is linked in the OAI interface as `dc:relation`. It is not yet implemented in OMP.

**Describe the solution you'd like**

Public format has to be added to the  OMP OAI interface.

**Who is asking for this feature?**

Reported in forum https://forum.pkp.sfu.ca/t/no-relation-url-when-running-oai-in-omp/56886

**Additional info

[2020-11-23 01:39] willinsky commented on #6357
My issue is that the user will assume that "Discussion" tab refers to people actively discussing the posted preprint (if only). Once on the Discussions tab, the user will not be clear about "Production Discussions" or even what "Discussions" they might want to have. The "Participants" tab will confuse as well, as preprints only have a moderator as far as the user is concerned.

1. I am proposing t

[2020-11-23 04:43] willinsky opened #6362 "[OPS] Two faulty entry points for Announcements"
There are two places to enter "announcements," with the announcements in Website Settings > Setup not showing up on the homepage as requested, and the more elaborate one on the left-hand menu list working well except that it asks you to "Read More >" when there is nothing left to read more of. I suspect that this is a PKP Lib issue rather than an OPS one.

<img width="693" alt="Screen Shot 2020-11

[2020-11-23 04:56] willinsky commented on #6357
While not exactly a workflow layout modification, it is a very minor layout modification issue: For the Preprint Manger, having the "Statistics" menu items (on the left) appear atop the Settings items seems counter-intuitive. I see that this does not affect the moderators, as Settings disappear but still, as most moderators will be OPS managers.

<img width="216" alt="Screen Shot 2020-11-22 at 8 4

[2020-11-23 05:10] willinsky commented on #6362
Here's a problem in the submission process, re "No test results" when I did no tests but just uploaded a submission.

<img width="314" alt="Screen Shot 2020-11-22 at 9 08 21 PM" src="https://user-images.githubusercontent.com/10342108/99930742-08c3c200-2d07-11eb-995e-4b8810db8af7.png">

[2020-11-23 05:39] willinsky commented on #5610
This is a wording change that applies to the PKP Library but is particularly an acute problem for OPS because the author runs into it in the very process of uploading their submission.

<img width="461" alt="Screen Shot 2020-11-22 at 9 03 59 PM" src="https://user-images.githubusercontent.com/10342108/99931363-0f533900-2d09-11eb-941f-1a3db1e2ca45.png">

Alternative wording for Galley popup on all s

[2020-11-23 06:52] willinsky commented on #5610
<img width="826" alt="Screen Shot 2020-11-22 at 10 41 50 PM" src="https://user-images.githubusercontent.com/10342108/99934811-ed12e880-2d13-11eb-81c1-3d4c823201d9.png">

Preprints cannot be treated as "archives" like past issues of journals, unless the preprint has been withdrawn or otherwise archived out of sight.

bioRxiv.org has "Channels" that belong to different organizations, as we have "Arc

[2020-11-23 06:52] willinsky commented on #6362
Search: Searches on university affiliation, which is good, but does not appear to search on keyword.

[2020-11-23 10:34] NateWr commented on #6203
Merged!

[2020-11-23 10:46] NateWr commented on #3100
Closing this in favor of #6241 since that issue contains a few more details about the use cases.

[2020-11-23 10:46] #3100 closed

[2020-11-23 10:47] NateWr commented on #6241
Thanks @amandastevens. I've kept this one and closed the other, since there are more details here. But coders can find an example plugin for requiring submission components in #3100.

[2020-11-23 10:49] NateWr commented on #6329
What is the `base_url` in your config file?

[2020-11-23 11:32] NateWr opened #6363 "Evaluate whether the Vancouver citation style needs to be updated"
**Describe the problem you would like to solve**
The `vancouver.csl` citation style does not handle DOIs well. It is unclear precisely how the Vancouver citation style should handle DOIs, but it does not appear to have been updated in a while.

**Describe the solution you'd like**
An evaluation needs to be undertaken to determine if the `vancouver.csl` citation style needs to be updated, or if an

[2020-11-23 11:58] NateWr commented on #6357
Thanks everyone. No need to rush this in. We can leave things as they are for now and gather some user feedback before doing anything.

This is a bug that has been fixed in #6149.

[2020-11-23 12:15] dommitchell commented on #5682
@asmecher I asked our developers who said:
I think that's the namespace, not the schema location

<xs:import namespace="http://www.doaj.org/schemas/iso_639-2b/1.1" schemaLocation="http://www.doaj.org/static/doaj/iso_639-2b.xsd">

Although a namespace usually looks like a URL, that doesn't mean that one must be connected to the Internet to actually declare and use namespaces. Rather, the namespace

[2020-11-23 12:17] NateWr commented on #6203
Re-opening this issue and assigning to the Themes project so that other themes can address this for 3.3.

[2020-11-23 12:25] ajnyga commented on #6357
Note that the view in question is the view of the server manager and moderators. This is not the view that the author sees. That view is handled in the authorDashboard template and is quite different.

[2020-11-23 12:27] alexxxmendonca commented on #6357
(my view is a little different than that

![image](https://user-images.githubusercontent.com/4059679/99961952-16606280-2d6e-11eb-8472-01f41b00a088.png)

OPS 3.2.1.0)

[2020-11-23 12:28] ajnyga commented on #6357
The discussion is based on the current master (that is 3.3.)

[2020-11-23 12:29] alexxxmendonca commented on #6357
(ok!)

[2020-11-23 12:40] bozana commented on #6145
@asmecher and @NateWr, do you maybe know/remember what happened with this functionality (choosing a preferred metric type): https://github.com/pkp/pkp-lib/blob/master/templates/management/tools/statistics.tpl#L14-L16 - I cannot find the file management/tools/form/statisticsSettingsForm.tpl, but lib/pkp/templates/statistics/defaultMetricTypeFormElements.tpl, both introduced here: https://github.com

[2020-11-23 13:29] NateWr commented on #6145
Yeah, I think it's ok to remove it. For a long time now we've only had one metric type.

[2020-11-23 15:01] NateWr commented on #5984
This is a quick dev task, but we need a decision to be taken about what to do so that we have a clear direction to take.

[2020-11-23 15:43] asmecher commented on #5610
@willinsky, about your [proposed changes](https://github.com/pkp/pkp-lib/issues/5610#issuecomment-731938021) on galley uploads...

Regarding changing...

...to...

...this option doesn't mean that the galley won't be posted with OJS/OMP/OPS, it means that rather than uploading a file, the user can indicate a URL where the item is hosted externally.

Regarding changing...

...to...

...this is less

[2020-11-23 15:54] asmecher commented on #6362
@willinsky, could you separate out the test results problem into a different issue and leave the announcements stuff here?

[2020-11-23 16:42] NateWr commented on #6352
The following PRs fix some issues where usage events were not getting recorded or processed correctly after the submission file refactor. I resolved this by simplifying how usage events are fired. We no longer try to track only when a file's download has finished. The usage event is recorded as soon as the download request is received.

On the plus side, we no longer need to add hooks to register

[2020-11-23 19:12] sworld-guy commented on #5626
During upgrade from OJS 3.1.2.4 to OJS 3.2.1.2 I receive the following database error:
Upgrade error: Duplicate entry '0-1' for key 'citations_publication_seq'
Linux, 7.2.34 Apache/2.4.6 (CentOS) OpenSSL/1.0.2k-fips mod_fcgid/2.3.9 PHP/5.4.16 mysqli  5.5.68-MariaDB
DB:
https://drive.google.com/file/d/1zlkYswW4dKWXz-T4iKPexGLWQ96UzCt1/view?usp=sharing

Explain step by step what I should do to updat

[2020-11-23 19:21] sworld-guy opened #6365 "upgrade from OJS 3.1.2.4 to OJS 3.2.1.2 error Duplicate entry '0-1' for key 'citations_publication_seq'"
During upgrade from OJS 3.1.2.4 to OJS 3.2.1.2 I receive the following database error:
Upgrade error: Duplicate entry '0-1' for key 'citations_publication_seq'
Linux, 7.2.34 Apache/2.4.6 (CentOS) OpenSSL/1.0.2k-fips mod_fcgid/2.3.9 PHP/5.4.16 mysqli 5.5.68-MariaDB

Explain step by step what I should do to update our scientific journal. Something I didn't succeed.
Help a newbie in this matter
![sub

[2020-11-23 19:42] asmecher commented on #5626
@sworld-guy, see: https://github.com/pkp/pkp-lib/issues/5626#issuecomment-625953927

[2020-11-23 19:50] sworld-guy commented on #5626
You mean this message:
DELETE FROM citations;
Then, after the upgrade completes, re-generate that table's contents using:
php lib/pkp/tools/parseCitations.php all

To upgrade I use web.
I can DELETE FROM citations in phpmyadmin.
How do I do this:
php lib/pkp/tools/parseCitations.php all

Explain step by step with example

[2020-11-23 19:59] amandastevens commented on #5984
The DIG is working on updating the workflow diagram and it will be added to documentation. So we can remove it from this page and just make the addition suggested by Mariya above in point 1.

Or the text could say, "This journal uses Open Journal Systems [version], which is open source journal management and publishing software developed, supported, and freely distributed by the Public Knowledge P

[2020-11-23 20:18] willinsky commented on #5610
Thank you @asmecher for clarifying and I hope that my errors make it clear how hard it has been for the likes of me to figure out the intent of the "explanations" on this particular popup. It has trouble me on encountering it for some time but as I say in this situation (with authors), it particularly calls out for clarity. Please see if I have now come to understand the two options on this popup.

[2020-11-23 20:22] willinsky opened #6366 "[OPS] Submission process leading to "No search results" comments."
Here's a problem in the submission process, re "No search results" when I did no searches but just uploaded a submission.

<img width="314" alt="Screen Shot 2020-11-22 at 9 08 21 PM" src="https://user-images.githubusercontent.com/10342108/100011429-909ce100-2d86-11eb-88c8-458020afe1b1.png">

[2020-11-23 20:25] willinsky commented on #6362
Done

[2020-11-23 20:26] willinsky opened #6367 "[OPS] Search needs to be able to search keywords"
OPS Search: It searches on university affiliation, which is good, but does not appear to search on keyword.

[2020-11-23 20:45] asmecher commented on #5626
The command:
[code]
...needs to be run from a command line, e.g. by connecting to your server via SSH.

[2020-11-23 20:46] asmecher commented on #6367
Duplicate of: https://github.com/pkp/pkp-lib/issues/5388

[2020-11-23 20:46] #6367 closed

[2020-11-23 20:58] sworld-guy commented on #5626
![file1](https://user-images.githubusercontent.com/47277235/100014658-5ad81680-2ddf-11eb-9a3a-f8ebd739032f.jpg)

Something went wrong again

[2020-11-23 21:19] asmecher commented on #5626
@sworld-guy, could you continue this conversation via a post on our support forum (https://forum.pkp.sfu.ca)? That's the best place to get general help.

[2020-11-23 21:42] sworld-guy commented on #5626
No help from you. I reread other messages - no one answered normally. Promised to fix it in 3.2.01. nothing has been fixed

[2020-11-23 23:22] asmecher commented on #5626
Conversation continues: https://forum.pkp.sfu.ca/t/upgrade-from-ojs-3-1-2-4-to-ojs-3-2-1-2-error-duplicate-entry-0-1-for-key-citations-publication-seq/64349

[2020-11-24 08:45] hcoussy commented on #6321
Hi @asmecher,
Thank you for telling me what to do.
I don't know if I will be able to make time to do it.
I would appreciate you to take care of it this time.
Thanks again.
Best regards.
Helene

[2020-11-24 09:58] NateWr commented on #5984
Ok, we can make that change. But do we need this page at all? We can have the "Workflow By" image link to a PKP website rather than a stub page with just a couple of sentences.

[2020-11-24 10:04] NateWr commented on #6362
**Describe the bug**
Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What application are you using?**
 OJS, OMP or OPS version X.X.X

**Additional information**
Please add any screenshots, logs or other information w

[2020-11-24 10:06] NateWr commented on #6363
There are no plans to update `vancouver.csl` at the citation styles repository (see [discussion](https://github.com/citation-style-language/styles/issues/5122)). But it sounds like some variations of the Vancouver format exist to support DOIs.

[2020-11-24 10:08] NateWr commented on #6365
Hi @sworld-guy! We welcome support requests on the [support category of our forum](https://forum.pkp.sfu.ca/c/questions/5). We try to keep the issues on this repository focused on bug reports and feature requests.

[2020-11-24 10:08] #6365 closed

[2020-11-24 10:11] NateWr commented on #6366
I believe this is related to the tag-it autosuggest (used for Keywords and other controlled vocab). It is probably similar to https://github.com/pkp/pkp-lib/issues/4830, which addressed this issue in the default theme.

[2020-11-24 10:32] NateWr commented on #6352
@ctgraham Bozana said that this may have some compliance issues with COUNTER rules:

Do you have any thoughts on this?

[2020-11-24 13:25] GrazingScientist opened #6369 "[OJS] Different headers in Section elements on Landing Page and Current Issue"
I just updated to OJS 3.2.1.2 .

Since I had to adapt some CSS, I realized that both the landing page and the current issue have a very comparable structure. However, in the Current Issue page, there is something like `sections > section > h2`, while on the landing page the structure is like `sections > section > h3`. This is despite the content is (at least in my use cases) always the same.

Is t

[2020-11-24 13:49] amandastevens commented on #5984
Ah yes, that's true.  I hope that will not still lead authors to contact PKP about their submissions, but we can try it and see.

[2020-11-24 14:09] Vitaliy-1 opened #6370 "Migration fails upon changing item_views.assoc_id from varchar to bigint"
During the upgrade from OJS 3.2.1 to the current master branch, I'm receiving an error:
[code]
Full upgrade process before the error:
[code]
Suspect it's related to: https://github.com/laravel/framework/issues/30539

[2020-11-24 14:55] Vitaliy-1 commented on #6370
Looking at the code, the part that causes the problem looks strange: https://github.com/pkp/pkp-lib/blob/db877c7e6991d42180f0335a0d10eea691e708a4/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php#L140-L142
`create()` is used on the table that already exists. Is the idea to modify the content of the `assoc_id` column or something else?

[2020-11-24 16:53] Vitaliy-1 commented on #6370
@NateWr, I believe this part of code is related to your recent work on submission files, right?
I can't figure out how integer ID should look like here according to the comment as the combination of assoc_type, assoc_id and user_id should be unique.

[2020-11-24 17:00] NateWr commented on #6370
Maybe related: https://github.com/pkp/pkp-lib/issues/6359

[2020-11-24 17:17] NateWr commented on #6349
Fixed in https://github.com/pkp/omp/commit/5dbab93bcc1913e2a6ec822777cfd9b3a57d6c00

[2020-11-24 17:17] #6349 closed

[2020-11-24 17:18] Vitaliy-1 commented on #6370
Thanks! Didn't notice that one. It's definitely related.

[2020-11-24 17:26] NateWr commented on #6359
@asmecher when looking into this, I could not find anywhere that the views were used outside of review responses. Views are recorded for submisssion files and notes, but these last viewed dates are never checked anywhere else in the code (with `ViewsDAO::getLastViewDate()`.

Is it possible that this usage is deprecated and I could remove the recording of views for submission files and notes and cl

[2020-11-24 17:46] NateWr commented on #6337
@Vitaliy-1 could you try to run a migration of your database with the changes in this pull request to see if this solves the problem?

PR:
https://github.com/pkp/pkp-lib/pull/6372

[2020-11-24 18:26] asmecher commented on #6359
Yes, I think it was used for files back in the early days of OMP, but I think that might've been replaced by the stats framework. Anyway, even grepping a reasonably old release of OMP it's not used, so I agree that removing that data should be fine.

[2020-11-24 18:29] Vitaliy-1 commented on #6337
@NateWr, yes, it solves the problem and deletes those records, which are causing the problem.

[2020-11-24 20:55] asmecher commented on #6369
I think this is related to https://github.com/pkp/pkp-lib/issues/5178 -- @NateWr, is this intentional behaviour?
(@GrazingScientist, the support forum https://forum.pkp.sfu.ca is probably the best place to ask questions, but we'll tackle this one here.)

[2020-11-24 21:27] Vitaliy-1 commented on #6286
I've made the requested changes and hope that now it can be merged. @asmecher, please let me know if I still missing something.

[2020-11-25 09:22] mpbraendle commented on #3573
I can second this requirement - MariaDB also offers a cluster version which requires that all tables have a primary key in the InnoDB scheme (that should be standard anyway).

Tables that don't have a primary key can be found with the following SQL statement (here on our OJS 3.2.1-2 test database):
`MariaDB [ojs3test]> SELECT t.TABLE_SCHEMA, t.TABLE_NAME
    -> FROM information_schema.TABLES AS t

[2020-11-25 11:16] NateWr commented on #6337
Thanks! Merged.

[2020-11-25 11:16] #6337 closed

[2020-11-25 11:23] NateWr commented on #6369
This is intentional because the sections occur at different places in the heading structure on each page.

Homepage: Journal Name (H1) > Current Issue (H2) > Section (H3)
Current Issue: Current Issue (H1) > Section (H2)

This change was made in response to our accessibility audit. See https://github.com/pkp/pkp-lib/issues/5178

[2020-11-25 11:23] #6369 closed

[2020-11-25 11:25] GrazingScientist commented on #6369
Okay! Thanks for the insight! :)

[2020-11-25 12:03] isgrim commented on #4903
It seems in the current state of the master branch ORCID IDs are not yet part of the creator metadate in the plugin XML output.

@asmecher Do you know anyone who could add this? I will probably only have next year February after our upgrades to OJS 3.2.

[2020-11-25 12:15] NateWr commented on #6359
The following PR removes item views for all items except `ASSOC_TYPE_REVIEW_RESPONSE`, which appears to be the only place they are still used.

PR:
https://github.com/pkp/pkp-lib/pull/6373

Tests:
https://github.com/pkp/ojs/pull/2916

[2020-11-25 12:16] NateWr commented on #6359
@Vitaliy-1 heads-up here: I noticed that JatsParserPlugin uses the `recordView` method. This is no longer used and can be removed.

[2020-11-25 13:28] NateWr commented on #4017
The following PRs draw on work done for #4622 in order to add support for sending an email to all users in a role. It draws on work done for #4622.

I suspect we'll still have a lot of questions that need to be answered about this feature --  particularly GDPR concerns and the threat to server's delivery rates.

PRs:
https://github.com/pkp/pkp-lib/pull/6374
https://github.com/pkp/ui-library/pull/1

[2020-11-25 13:29] NateWr commented on #6359
Merged.

[2020-11-25 13:29] #6359 closed

[2020-11-25 15:01] NateWr commented on #4017
@asmecher I'm getting an error running the unit tests that looks like an issue with the `__()` function getting moved:

[code]

https://travis-ci.com/github/pkp/ojs/jobs/447619583#L3374

It looks like this is related to the `laravel-zero/foundation` package. I tried removing it but it looks like it is a dependency for the queue stuff. Any ideas?

[2020-11-25 15:29] NateWr commented on #6350
Fixed in https://github.com/pkp/pkp-lib/commit/6a3e451e8b7c284180188a828ffb1ce7c5277388

[2020-11-25 15:29] #6350 closed

[2020-11-25 16:37] asmecher commented on #4017
Moving the `__` function from PKPLocale.inc.php to `functions.inc.php` fixed that in OJS proper (by getting our `__` in first, since the `laravel-zero` package wraps a `function_exists` check around it) but I'll check what's going on with the tests.

[2020-11-25 17:23] NateWr commented on #6351
The following PR splits the settings management of the usage stats plugin at site/context level. At site level all settings are available and the admin can enable/disable the plugin. At the context level it can not be enabled/disabled, and only the bar chart settings can be configured.

cc @bozana, @ctgraham is that ok?

PR:
https://github.com/pkp/usageStats/pull/38

Tests:
https://github.com/pkp/

[2020-11-25 19:46] pmangahis commented on #5504
We have another hosted client with a number of journals that would be interested in this.

Ideally, the Journal Editor should not have full Journal Manager privileges. The only dashboard items they would have access to is submissions, issues, statistics (similar to OJS 2).

As well as the option to grant access to the user accounts (user tab only) to certain roles (an assistant level) to be able t

[2020-11-25 20:04] asmecher commented on #4017
(This appears to be more or less exactly https://github.com/composer/composer/issues/6768; still working on it)

[2020-11-25 20:36] asmecher commented on #4017
@NateWr, this should do it: https://github.com/NateWr/pkp-lib/pull/9

[2020-11-25 20:38] asmecher commented on #4017
@NateWr, re: [your previous comment](https://github.com/pkp/pkp-lib/issues/4017#issuecomment-733706266)...

...I don't suggest we solve that yet, but putting email delivery behind the Laravel queue toolset is a big step towards it anyway, as queues support middleware including rate limiting: https://laravel.com/docs/8.x/queues#rate-limiting

[2020-11-25 21:41] asmecher commented on #3573
https://github.com/pkp/pkp-lib/issues/2493 has been closed, and we're now using Laravel's migrations toolset for schema management and upgrades. One of the deeper-rooted compound primary key tables (`submission_files`) has been resolved to have a proper ID with https://github.com/pkp/pkp-lib/issues/6057. It's probably a good time to dust this issue off again.

Adapting the above query (thanks, @mp

[2020-11-25 22:26] asmecher commented on #4903
@isgrim, it's probably only a couple of lines of code added here: https://github.com/pkp/ojs/blob/stable-3_2_1/plugins/importexport/datacite/filter/DataciteXmlFilter.inc.php#L263..L267
...however, we've got quite a few other priorities to work on. I'll add a "Try Me" tag to this in case it stirs up interest from a potential contributor.

[2020-11-26 00:49] asmecher commented on #5445
Users who upgraded before this change was applied can correct past articles with the following SQL query (please take a backup before running):
[code]

[2020-11-26 01:28] diegoabadan commented on #4017
It is interesting that bulk messages can be sent using a different SMTP / Sender configuration than transactional messages.

And that come with the option of "one-click unsubscribe" as exemplified in:
https://support.google.com/mail/answer/81126?hl=en

[code]

[2020-11-26 07:22] jmvezic opened #6375 "[OJS 3.2.1-2] Site administrator gets "does not have access to this operation" on Users tab"
**Describe the bug**
When the site administrator has no role in a journal, the tab Users & Roles still appears but throws the error:

`"The current role does not have access to this operation."`

The issue's source is controllers/grid/settings/roles/UserGroupGridHandler.inc.php where it states on line 40:

`array(ROLE_ID_MANAGER),`

If the intention is not to offer the site administrator to handle

[2020-11-26 09:57] NateWr commented on #5912
@withanage is preparing the plugin for release now and we expect OJS to support the ROR plugin out-of-the-box with the next major release, version 3.3, planned for January 2021.

[2020-11-26 09:58] #6203 closed

[2020-11-26 10:02] NateWr commented on #6375
@asmecher I have a vague recollection of us having tackled the admin/manager permissions thing before. Did we resolve that by assigning the admin to a managerial role in every context or by granting them a dummy role as a manager in the authorization code?

[2020-11-26 11:24] jmvezic commented on #6375
@NateWr There seems to have been a fix for that: https://github.com/pkp/pkp-lib/commit/9e35b17fd7c7c721ef5de4cf3d57f52b4980288a but that file no longer exists in the new version.

[2020-11-26 11:35] dennmuel commented on #3261
Hi all!

Sorry to just bump this issue, but I stumbled upon it while looking for a way to transfer a journal from one instance to another, ideally migrating more than "just" users, issues and articles (particularly the three entities mentioned by @SantiMaceri). Has there been progress "behind the scenes" or is there any other news about this?

Best regards
Dennis

[2020-11-26 11:48] SantiMaceri commented on #3261
Hi @dennmuel !
Yes! Along side @gonetil, we managed to extend the native plugin to export the three points that i've mentioned. (It's a work in progress). In fact, we're writing the thesis about this work right now.
In the following months we'are going to test it with portals from our university, and if it's ready we're going to upload it to a public repository.

Cheers
Santiago

[2020-11-26 11:58] Vitaliy-1 commented on #6370
@NateWr, after closing the related issue, the problem persists.

[2020-11-26 11:58] dennmuel commented on #3261
Thanks for getting back so quickly, @SantiMaceri! Nice to hear it, please keep me posted. Until then: good luck for your thesis! :)

[2020-11-26 12:21] Vitaliy-1 commented on #6370
PRs
pkp-lib master: https://github.com/pkp/pkp-lib/pull/6376
OJS master tests: https://github.com/pkp/ojs/pull/2919

It looks like a small mistake in the method's naming. With the changes from the associate issue, it resolves the problem

[2020-11-26 12:39] bozana commented on #6343
@NateWr, here is the change/fix taken from your other PR: https://github.com/pkp/usageStats/pull/39. OK so?

[2020-11-26 12:55] bozana commented on #6352
PR:
https://github.com/pkp/omp/pull/882

@NateWr, could you take a look?

[2020-11-26 13:27] NateWr commented on #6370
Thanks for catching that! It would have been a shame if that made it into the RC!

[2020-11-26 13:27] #6370 closed

[2020-11-26 13:31] NateWr commented on #4017
Thanks for the assist, Alec. All merged!

@diegoabadan, unsubscribe poses some challenges with this feature. Since it can be used to send so many things (everything from mission-critical messages for section editors to general promotional content), it's not clear what the user would be unsubscribing from. This is part of the discussion that we probably need to have about this feature. Hopefully, t

[2020-11-26 13:40] #4017 closed

[2020-11-26 13:46] NateWr commented on #6352
Thanks @bozana! All merged.

[2020-11-26 13:46] #6352 closed

[2020-11-26 13:47] NateWr commented on #6343
Perfect, thanks!

[2020-11-26 13:47] #6343 closed

[2020-11-26 14:26] diegoabadan commented on #4017
@NateWr, his mix of transactional messages, such as password recovery and an invitation to review an article, with messages to a greater number of recipients and with different content also affects the deliverability of OJS messages, especially to larger installations.

In this sense, being able to separate transactional messages from others would be an interesting step, following the recommendati

[2020-11-26 14:43] NateWr commented on #6351
Merged

[2020-11-26 14:43] #6351 closed

[2020-11-26 14:50] Vitaliy-1 commented on #6286
@asmecher, I've updated PRs once again. Can you merge if all looks good there? Regarding `edit_decisions.review_round_id` I suggest leaving it as is for this PR, anyway the issue was about another problem. If changes to that column needed, I mean use `null` instead of `0` for editor decisions outside of a review and explore related code, I can do that in another PR.

[2020-11-26 15:01] arturbonnett opened #6377 "[OJS] - Orcid plugin error, OJS core out of date"
Hi guys!!!!

I believe it's necessary to release a new version with the core changes. In the current release (3.2.1-2) the "orcidProfile" plugin is already using "Guzzlehttp", but in the core of the release it's not deployed yet

**Describe the bug**
After a user tries to validate the ORCID the return page fails ( .../orcidapi/orcidVerify )

The plugin calls the "getHttpClient" function on 'plugin

[2020-11-26 15:40] NateWr opened #6378 "Bump node dependencies"
The node dependencies should be updated for 3.3. This issue is just for tracking PRs/tests.

[2020-11-26 15:41] NateWr commented on #6378
PRs:
https://github.com/pkp/ui-library/pull/130
https://github.com/pkp/ojs/pull/2920

[2020-11-26 16:12] withanage commented on #6377
Hi @artorbonnett,
thanks for the report.
I will revert the 3.3 code. Meanwhile please use the  latest one from the plugin gallery. 1.1.25 for  OJS 3.2. There it is not included.

[2020-11-26 16:43] NateWr commented on #5984
PRs:
https://github.com/pkp/pkp-lib/pull/6379
https://github.com/pkp/ojs/pull/2921
https://github.com/pkp/omp/pull/884
https://github.com/pkp/ops/pull/85

These pull requests remove the workflow diagram from OJS and update the page title and text in line with the recommendations above. Here it is on a journal.

![about-software](https://user-images.githubusercontent.com/2306629/100375854-5d688500-

[2020-11-26 16:46] asmecher commented on #6377
@withanage, it looks like the tests in the `stable-3_2_1` branch are configured to run against OJS `master`, or the tests would've caught this. Could you fix that too? https://github.com/pkp/orcidProfile/blob/stable-3_2_1/.travis.yml#L12..L15

[2020-11-26 16:55] NateWr commented on #5962
I agree this is confusing. Unfortunately, this is a case where the checkboxes really do mean something, even if it's not apparent at first. When assigning a participant to a submission, you can search by one of the roles for the stage.

So when assigning a participant in the submission stage, you will only be able to assign a role that has a checkbox for the Submission stage. In the example above,

[2020-11-26 19:43] defstat opened #6380 "Changes for Native Import/Export plugin for 3.3"
**Describe the bug**
After major merges for 3.3 changes to Native Import/Export plugin should be considered

[2020-11-26 20:51] asmecher opened #6381 "Remove OJS-specific considerations from pkp-lib"
`PKPSubmissionDAO::getExportable` in pkp-lib references issue IDs, which only apply to OJS. That aspect of the code should be moved into the OJS repository.

https://github.com/pkp/pkp-lib/blob/5a46e84c344ded91d9b635f046b153254c628910/classes/submission/PKPSubmissionDAO.inc.php#L359

(This doesn't necessarily need to be fixed in the RC)

[2020-11-26 21:01] asmecher opened #6382 "Resolve PHP warning: SubmissionFileEventLogDAO::getById vs EventLogDAO::getById"
[code]

[2020-11-26 21:08] #6382 closed

[2020-11-26 21:17] defstat commented on #6380
@asmecher

**PRs**
[pkp-lib]: #6383
[ojs]: pkp/ojs#2922
[omp]: pkp/omp#885

[2020-11-26 21:40] asmecher commented on #6380
Looks good, @defstat, just one comment on the OJS PR. We're building the RC for OJS/OMP/OPS 3.3 possibly tomorrow, FYI; this would be great to include.

[2020-11-27 01:01] asmecher commented on #6286
Thanks, @Vitaliy-1, I've merged the 3!

[2020-11-27 01:01] #6286 closed

[2020-11-27 11:14] NateWr commented on #5984
Merged!

[2020-11-27 11:14] #5984 closed

[2020-11-27 12:23] NateWr commented on #6381
It's hard to imagine a sane way to split the issue part off from the rest of the method without significantly rewriting it. This method powers a bunch of the export grids and is difficult to test thoroughly, so I am nervous to do that rewrite. I opted instead to copy the whole thing into OJS and OPS (without the `issueId`). It was not used in OMP.

I also encountered some errors with the Crossref

[2020-11-27 12:36] NateWr commented on #3832
It looks like this has already been done at some point. https://github.com/pkp/omp/blob/master/README.md

[2020-11-27 12:36] #3832 closed

[2020-11-27 12:38] NateWr commented on #4420
Fixed in https://github.com/pkp/ojs/commit/7a4db84d4e02cf9f6433bd028aaecf7954454bd1

[2020-11-27 12:38] #4420 closed

[2020-11-27 12:48] NateWr commented on #5740
I've bumped this from the 3.3 release due to time constraints. But it may already be fixed by changes to submission files in 3.3. it would be good to test this on the upcoming release candidate to see if it can be reproduced. Here are the [reproduction steps](https://github.com/pkp/pkp-lib/issues/5740#issuecomment-629484346).

[2020-11-27 12:51] amandastevens commented on #5984
Thanks, Nate, this looks excellent!

[2020-11-27 12:52] #6255 closed

[2020-11-27 12:53] #6254 closed

[2020-11-27 13:01] NateWr commented on #5134
Closing this as fixed. I've made a note to cover it during our testing process.

[2020-11-27 13:01] #5134 closed

[2020-11-27 13:10] NateWr commented on #1923
The usage stats plugin does something like this with different settings available at context/site level. See https://github.com/pkp/pkp-lib/issues/6351.

[2020-11-27 13:36] aluquerivas-dev commented on #5204
I have a similar problem with the PDF viewer, I am Spanish, when I enter from Spain everything is correct, but when they enter from outside the pdf viewer throws error 403.

[2020-11-27 14:58] NateWr opened #6385 "Convert plugin locale files to .po"
The following plugins still have locale files in XML format, which is not compatible with v3.3. See https://github.com/pkp/pkp-lib/issues/5090

Plugin | Done
--- | ---
CacheBusterPlugin | ✔
MailLoggerPlugin | ✔
AllowedUploadsPlugin |
AuthorRequirementsPlugin | [PR](https://github.com/ewhanson/authorRequirements/pull/6)
InstitutionalHomePlugin | ✔
BrowseBySectionPlugin | ✔
MissingLocaleExceptionPlu

[2020-11-27 15:12] NateWr opened #6386 "Unable to install due to plugin XML schemata"
**Describe the bug**
When I try to install the latest master branch I get an error:

[code]

This seems to be pretty late in the install process.

**To Reproduce**
Try to install a new instance.

**What application are you using?**
`master`

[2020-11-27 16:29] NateWr commented on #6381
Merged

[2020-11-27 16:29] #6381 closed

[2020-11-27 16:33] asmecher commented on #6381
Yup, that's probably the best solution for now, thanks!

[2020-11-27 16:40] asmecher commented on #5204
@aluquerivas-dev, if you're looking for help debugging this, could you post on our support forum (https://forum.pkp.sfu.ca) with details about which of our applications you're using, what version, etc?

[2020-11-27 16:42] asmecher commented on #6386
@NateWr, I think you have a plugin in your codebase that implements the removed `getInstallSchemaFile` function. It's not part of the OJS repo or submodule set, as those test fine with Travis. Can you check if it's a 3rd-party plugin or old code?

[2020-11-27 16:45] NateWr commented on #6386
Yep! It was an old copy of the SWORD plugin. I do see references to this still in `Plugin.inc.php` and `lib/pkp/tools/installPluginVersion.php`. Those ok?

[2020-11-27 16:45] #6386 closed