[2021-01-13 18:51] asmecher commented on #6462
Thanks, @NateWr, that looks good! The sword server plugin needs work -- it's on my plate -- so don't worry about creating additional branches there, I'll do that once I've had a chance to clean it up a little.

[2021-01-13 19:07] ctgraham commented on #4038
Clinton just got pinged with this two years later.  The Usage Stats plugin is a particularly interesting use case in that it has (IMO) both system level and context level settings:
* System settings:
  * Log file specifications
  * Data privacy options
  * Optional statistic information
* Context options
  * Statistics display option

The real solution here, I think, is to move the context options

[2021-01-13 19:09] israelcefrin opened #6589 "OJS 3.3 - Issue importing is not working in terminal"
**Describe the bug**
Importing XML issues is crashing and doesn't import issues from this format.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'OJS folder.'
2. Run PHP  `tools/importExport.php NativeImportExportPlugin import issue-file.xml [JOURNAL_ACRONYM] [USERNAME]`
3.  See the error

**What application are you using?**
 OJS version 3.3

**Additional information**

Log error:

[c

[2021-01-13 19:10] israelcefrin opened #6590 "OJS 3.3 - Importing XML issues returning Uncaught Error: Call to undefined function starts_with()"
**Describe the bug**
Importing XML issues is crashing and doesn't import issues from this format.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'OJS folder.'
2. Run PHP  `tools/importExport.php NativeImportExportPlugin import issue-file.xml [JOURNAL_ACRONYM] [USERNAME]`
3.  See the error

**What application are you using?**
 OJS version 3.3

**Additional information**

Log error:

[c

[2021-01-13 19:10] ajnyga commented on #4038
Agree, even though this is a plugin, the settings for it should be more accessible.

(ps. I was ready to wait another year and the re-ping you)

[2021-01-13 19:19] asmecher commented on #6590
Assigning to you, @defstat!

[2021-01-13 20:06] asmecher commented on #6589
This will be a duplicate of https://github.com/pkp/pkp-lib/issues/6590.

[2021-01-13 20:06] #6589 closed

[2021-01-13 20:23] israelcefrin opened #6591 "OJS 3.3 - Submission for multilingual journal stuck in the file upload step"
**Describe the bug**
When a journal is a multilingual install, it fails to create new submission being stuck in the upload file step.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Website > Setup > Languages and configure a journal to support French, English and German, with German as the journal’s primary language.
2. Create a submission and select French as the submissio

[2021-01-13 20:26] asmecher commented on #6490
@defstat, I've added some comments -- some work needed on the OMP and particularly OPS ports; just a few things on OJS and pkp-lib.

[2021-01-13 20:36] asmecher commented on #5375
The underlying problem is still there (failure to interact with the API leads to trying to parse something that's not an XML document) but the mechanism has changed since we're now using Guzzle in place of CURL (https://github.com/pkp/pkp-lib/issues/6097). Deferring...

[2021-01-13 20:55] asmecher commented on #6591
@israelcefrin, I think there's probably a fatal error to go with this; can you check the PHP error log?

[2021-01-13 21:02] asmecher commented on #6591
Actually, I was able to reproduce this myself. There's just a warning:
[code]
It looks like the validators is assuming that the primary language is present, when the upload occurs using the currently selected (in this case non-primary) locale.

[2021-01-13 21:14] asmecher commented on #6591
Does this make sense to you, @NateWr? https://github.com/pkp/ui-library/pull/138

[2021-01-13 21:54] ctgraham commented on #6473
Preferences on next steps here, @asmecher ?

[2021-01-13 21:59] asmecher commented on #6473
Sorry about the wait. I think the library is going to be used for type of files that don't have ambiguity over inline presentation vs. downloading (as .txt or .css files might), so I'm OK with just letting the browser decide.

[2021-01-14 00:16] asmecher commented on #6293
@NateWr, I'm drawing a bit of a blank on this -- do you have a reference for the check number calculation?

[2021-01-14 00:42] asmecher commented on #6060
PRs:
- https://github.com/pkp/pkp-lib/pull/6592
- https://github.com/pkp/ojs/pull/2991 (tests only)

@NateWr, could you take a quick look?

[2021-01-14 01:59] ewhanson opened #6593 "OJS 3.3rc - Delete a journal confirmation modal remains upon confirmation"
**Describe the bug**
When deleting a journal from a multi-journal installation, the confirmation modal does not disappear and provides no user feedback after clicking OK.

**To Reproduce**
Steps to reproduce the behavior:
1. As an admin user, go to 'Administration' -> 'Hosted Journals'
2. Click on on a journal and select 'Remove.'
3. Click 'OK' to confirm journal removal.
4. Journal will be delete

[2021-01-14 02:08] ewhanson opened #6594 "Site-wide fall-back for the privacy notice in Admin > Site Settings not displaying properly"
**Describe the bug**
When the journal-specific privacy message is removed and the site-wide privacy notice in place, the journal instead displays a message in Spanish rather than site-wide default.

**To Reproduce**
Steps to reproduce the behavior:
1. As an admin user, set a site-wide privacy statement under 'Administration' -> 'Site Settings' -> 'Site Setup' -> 'Information'
2. Within the journal

[2021-01-14 02:52] jcabdel commented on #4112
Hi Alec Smecher,

A pleasure to greet you. I really admire your work.

This line doesn't work in my OJS 3.2.1-1

$submissionFileManager->downloadById($fileId, null, $request->getUserVar('inline')?true:false, $submissionFile->getLocalizedName());

I thank you in advance if you can help me.

Regards.

[2021-01-14 04:12] asmecher commented on #4112
Thanks for the kind words, @jcabdel! Can you describe what happens with that change in place?

[2021-01-14 05:28] henriqueramos commented on #6140
@NateWr Of course!

There's the pull requests for both repositories:

https://github.com/pkp/omp/pull/908
https://github.com/pkp/ops/pull/107

[2021-01-14 08:46] jcabdel commented on #4112
Hi. I think getLocalizedName() not return any correct value.

AH01071: Got error 'PHP message: PHP Fatal error: Uncaught Error: Call to a member function getLocalizedName() on null in /var/www/vhosts/avances.adide.org/avances/pages/article/ArticleHandler.inc.php:391\nStack trace:\n#0 /var/www/vhosts/avances.adide.org/avances/lib/pkp/classes/core/PKPRouter.inc.php(391): ArticleHandler->download(Arr

[2021-01-14 10:34] NateWr opened #6595 "Allow SVG in TinyMCE uploads"
**Describe the problem you would like to solve**
When uploading an image to a rich text field, the file selector does not allow you to select SVG files. An example is the Page Footer field under Settings > Website > Appearance > Setup.

**Describe the solution you'd like**
It should be possible to upload SVG files using the rich text editor's image upload tool.

**Who is asking for this feature?**

[2021-01-14 10:43] NateWr commented on #6591
Yep, good catch!

[2021-01-14 10:45] NateWr commented on #6293
That's a good question! I did a quick search and couldn't find a specification for how to apply a check number either. I think URNs are used mostly in Germany. @bozana or @withanage do you know if URNs have a check number applied and where we might find documentation of how to generate that?

[2021-01-14 10:53] nuest commented on #857
@willinsky I certainly was not considering the broader perspective of publisher policies in my suggestion. Support for randomisation or other ordering should certainly be optional, and maybe the feature is better suited for a plug-in.

Re. the free-form field, I want to point out that explicit modelling (from the start) is a better basis for future meaningful annotation and publishing of the roles

[2021-01-14 11:01] NateWr commented on #6140
:tada: all merged! Thanks @henriqueramos!

[2021-01-14 11:01] #6140 closed

[2021-01-14 11:04] NateWr commented on #6582
My sense is that these should be removed. They'll fall back to the primary locale's translation if they're missing, and until they're removed translators won't have any indication that they are waiting to be translated.

[2021-01-14 11:06] ajnyga commented on #6582
Ok. In our case the primary locale is in most cases Finnish, so missing keys will just show ##something##

But no problem if they are removed.

[2021-01-14 11:07] NateWr commented on #6593
Duplicate of https://github.com/pkp/pkp-lib/issues/6577

[2021-01-14 11:07] #6593 closed

[2021-01-14 11:11] NateWr commented on #6594
What are your language settings like and what is the `es_ES` value of the privacy statement set to in the journal/admin settings?

[2021-01-14 12:13] withanage commented on #6293
@NateWr

URNs  have  a check number  (one digit )  applied  as a suffix to the characters. I

I have found  found a PHP project which calculates  the digit here.
https://github.com/bohnelang/URN-Pruefziffer

$purn is the check number, which should be added to a calculation.

I am not sure, if it should work for urns not  registered in German national library, cause I remember slightly seing that i

[2021-01-14 13:44] NateWr commented on #6293
Uff... do you know anyone we can talk to learn more?

[2021-01-14 13:55] NateWr commented on #6462
All merged and cherry-picked to `stable-3_2_1`.

[2021-01-14 13:55] #6462 closed

[2021-01-14 14:10] NateWr commented on #6577
Merged.

[2021-01-14 14:10] #6577 closed

[2021-01-14 14:24] bozana commented on #6293
Hmmm... I think I do not understand the problem here -- I do not understand why the number is not calculated/displayed -- will have to take a further look -- but:
There is the urn plugin setting "The check number will be automatically calculated and added at the end, as the last digit of an URN." that should be enabled for check numbers to be considered/calculated, and we also do calculate the num

[2021-01-14 14:28] NateWr commented on #6293
Thanks @bozana, that helps! This issue has to do with the new pub id field in the publication area, which bypasses some of the previous pub ID stuff and does not call on checkNumber.js as it should.

[2021-01-14 14:40] jnugent opened #6596 "Subscription Notification emails are never sent out"
When creating a new Individual Subscription in OJS 3.2.1, there is an associated `SUBSCRIPTION_NOTIFY` email that should be sent to the user receiving the subscription.  However, the `IndividualSubscriptionForm.inc.php` class tests for a `notifyEmail` form field that is not present on the template:

[code]

The `payments/individualSubscriptionForm.tpl` template needs a checkbox to add this field.

[2021-01-14 15:30] NateWr commented on #6590
Was that maybe intended to be `str_starts_with`? It looks like that is only available in PHP 8: https://www.php.net/manual/en/function.str-starts-with.php

[2021-01-14 15:33] NateWr commented on #6477
After some investigation Dulip and I couldn't reproduce this in 3.3 and for 3.2.x the user can workaround this by selecting the empty series. I'm going to close this, unless anyone thinks this needs to be fixed in the 3.2.x line.

[2021-01-14 15:33] #6477 closed

[2021-01-14 15:34] israelcefrin opened #6597 "OJS 3.3 - Importing article XML format failing"
**Describe the bug**
Importing a XML file of a single submission is not working. Even when this submission is generated from a OJS 3.3 installation. It upload

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Tools > Native XML Plugin > Import (tab) '
2. Click on 'Upload a file' or drag and drop a submission XML format file
3. Click 'Import' button
4. See the error

**What application a

[2021-01-14 15:57] NateWr commented on #6594
Ok, I figured out what's happening. The privacy statement is falling back to the next localized value that it finds in the context setting. And localized values exist in all four languages installed on the site:

![privacy-statement](https://user-images.githubusercontent.com/2306629/104614517-3c282a80-5680-11eb-820b-45be15660496.png)

These are installed when the context is created based on the `s

[2021-01-14 16:13] ctgraham commented on #6473
Refactored as a bugfix, rather than an enhancement.

[2021-01-14 16:28] jnugent commented on #6536
Hi @NateWr, I know that there has been lots of other work done on the bulk email part of OJS, most notably with both the progress bar and the sanity check pop-up before sending email.  On the server side, one of our biggest problems with many emails going out like this is that we often hit the queue limit on our server when a large journal sends thousands of emails at once.  I don't know if rate l

[2021-01-14 17:08] asmecher opened #6603 "Portico plugin for OJS includes unexpected contrib-id element"
See https://github.com/jmacgreg/portico/pull/16#issuecomment-759754416 for details.

[2021-01-14 17:13] NateWr commented on #6594
I went ahead and worked up some PRs that add fields for `supportedLocales` and `primaryLocale` when creating a new context. They also add some validation checks to ensure the selected locales are valid.

Does this sound like the right way to go?

PRs:
https://github.com/pkp/pkp-lib/pull/6602
https://github.com/pkp/ojs/pull/2992
https://github.com/pkp/omp/pull/909
https://github.com/pkp/ops/pull/10

[2021-01-14 17:15] #6591 closed

[2021-01-14 17:15] asmecher commented on #6591
Merged, thanks!

[2021-01-14 17:18] asmecher commented on #6590
No, I think it's one of the Laravel helpers: https://laravel.com/docs/5.2/helpers

[2021-01-14 17:19] asmecher commented on #6597
Assigning to you, @defstat!

[2021-01-14 17:23] asmecher commented on #6473
Merged those 4 PRs -- thanks, @ctgraham!

[2021-01-14 17:23] #6473 closed

[2021-01-14 17:32] NateWr commented on #6576
Merged.

[2021-01-14 17:32] #6576 closed

[2021-01-14 18:33] asmecher commented on #4112
@jcabdel, for OJS 3.2.x, I believe you'll have to add the following line before the call to `$submissionFileManager->downloadById`:
[code]

[2021-01-14 18:41] jnugent opened #6604 "OMP 3.3 - Onix export failing due to class type mismatch"
Apologies in advance for this one.  I know how convoluted the XML filter code is.

Exporting submissions in ONIX format currently fails, because there is a class type mismatch in the filter code.   The filters have lots of assertion code to validate classes to ensure that the correct filter is being called with the correct input, and right now the class `lib/pkp/classes/filter/ClassTypeDescription

[2021-01-14 18:52] asmecher commented on #6060
Merged -- thanks! (@NateWr, I don't think I got a 100% good-to-go on the code review, but I did address the two questions -- please let me know if I moved too quick!)

[2021-01-14 18:52] #6060 closed

[2021-01-14 18:53] asmecher commented on #6060
(Also cherry-picked to `stable-3_2_1`)

[2021-01-14 19:15] jcabdel commented on #4112
Ok. Now work perfectly.

Thank very much @asmecher

[2021-01-14 19:30] asmecher commented on #6604
This is a leftover from https://github.com/pkp/pkp-lib/issues/5573 -- running the 3.2.x upgrade scripts will correct installs, but new installs will suffer the issue, which is probably why it wasn't reported until now. I'll tackle it.

[2021-01-14 20:03] pmangahis opened #6605 "OMP 3.3 - Delete Warning"
**Describe the bug**
In OJS 3.3 if a user tries to delete a submission it does not currently show a proper warning notification for the user.
![image](https://user-images.githubusercontent.com/50342731/104642864-52be8980-5660-11eb-8d3a-867e728a8408.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Click Blue arrow of declined submission
2. Click on Delete

**What application are you using

[2021-01-14 20:04] pmangahis opened #6606 "OMP 3.3 - Delete Warning pop-up"
**Describe the bug**
In OJS 3.3 if a user tries to delete a submission it does not currently show a proper warning notification for the user.
![image](https://user-images.githubusercontent.com/50342731/104642864-52be8980-5660-11eb-8d3a-867e728a8408.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Click Blue arrow of declined submission
2. Click on Delete

**What application are you using

[2021-01-14 20:04] #6605 closed

[2021-01-14 20:53] israelcefrin opened #6607 "OMP 3.3 Deleting submission returns an error and removes all submissions"
**Describe the bug**
When removing a submission from the system, a modal error shows up and every submission is removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a submission page
2. Decline it
3.  Go back to submissions and find the declined ond
4.  Click the blue error to show options
5. Click 'delete''
6. See the error

**What application are you using?**
OMP version 3.3

**A

[2021-01-14 21:36] asmecher commented on #6606
Moved the locale key to `pkp-lib` so it can be shared between OJS, OMP, and OPS. (It was previously in just OJS.)

[2021-01-14 21:36] #6606 closed

[2021-01-14 22:00] asmecher commented on #6607
Thanks, @israelcefrin -- I wasn't able to replicate this locally. Did the disappearance of all submissions get persisted, i.e. does reloading the archive list cause them to reappear?

[2021-01-14 23:01] bozana commented on #6293
@NateWr, i have forgotten to say that there is also a function _calculateCheckNo in URNPubIdPlugin class that is/was used to add the number automatically (e.g. for default suffixes), and JS function was used for custom suffixes clicking on a button...

[2021-01-14 23:10] israelcefrin commented on #6607
@asmecher the disappearance  persists even reloading the archive list or any other tab.

[2021-01-15 01:03] asmecher commented on #6607
Investigating a little -- the submission lists weren't displaying because of a couple of submissions that had invalid `current_publication_id` entries. Perhaps something happened during the deletion of the submission that removed `publication` entries without removing the attached `submission`? Or incomplete data due to import/export testing or similar?

[2021-01-15 01:18] asmecher commented on #6607
Sounds like some import/export testing was happening -- the delete submission feature works fine for me (and there's some robustness improvement coming separately over there).

[2021-01-15 01:18] #6607 closed

[2021-01-15 01:48] kshuttle commented on #2427
An ISBN metadata field for OMP would still be useful. Ideally it would be great to see this in the Publication tab under Identifiers, with the DOI field.

[2021-01-15 01:55] asmecher commented on #6492
This appears to be a long-standing behaviour -- there are both `$user->getSignature` / `$user->getLocalizedSignature` functions (for the user's signature from their profile), plus `$user->getContactSignature` (which constructs a fixed signature based on the user's name, affiliation, etc).

I would favour getting rid of `getContactSignature` and using the user's specified signature throughout, but

[2021-01-15 02:28] librariam opened #6608 "OJS 3.3rc - cannot upload file into discussion"
**Describe the bug**
When trying to upload a file into discussion at any stage, I cannot go past 2.Review details step. Pressing the "Continue" button does nothing. Observed from different roles - editor, assistant editor.

![image](https://user-images.githubusercontent.com/45104797/104672934-afe12c00-56ae-11eb-95c3-c59c9c9f0cfc.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the

[2021-01-15 02:34] asmecher opened #6609 "ONIX export only includes the last selected submission from among potentially several"
The ONIX export plugin allows several submissions to be selected for export. However, when several are selected, only one is ever included in the export XML.

This is because the list `$submissions` is assembled, but only `$submission` (the variable in the foreach loop) is ever used: https://github.com/pkp/omp/blob/stable-3_2_1/plugins/importexport/onix30/Onix30ExportPlugin.inc.php#L145..L150

[2021-01-15 02:39] asmecher opened #6610 "[OMP] Make ONIX export problems easier to understand/solve"
**Describe the bug**
When there's a problem with the ONIX export, i.e. not enough data to properly populate an XML document that will pass the validation rules, the user gets a `Could not convert submissions.` fatal error and nothing more.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the ONIX export plugin
2. Try to export an incomplete submission (one that does not have a publicati

[2021-01-15 02:39] asmecher commented on #6610
@defstat, I'm assigning this to you because you're working on some related error handling cleanup for import/export tools, but this isn't a priority for 3.3.0. (It's possible you're already working on fixing this -- I don't recall if the ONIX plugin made an appearance in the OMP port of your error handling cleanup.)

[2021-01-15 02:40] asmecher commented on #6604
Actually, while I've fixed the mismatch listed above, it doesn't appear to have stopped things from working in this case -- what I suspect you're encountering is a more general lack of helpfulness on the plugin's part. If the submission doesn't include enough data to form a complete export and the generated XML would be invalid -- for example, if trying to export a submission that doesn't include

[2021-01-15 02:40] #6604 closed

[2021-01-15 02:46] asmecher commented on #6608
@librariam, I couldn't replicate this problem locally; is this on the PKP test install? If so, could you (privately) send me the URL you're trying this on?

[2021-01-15 02:59] librariam commented on #6608
@asmecher hmm just retested again before sending you the link and now it's working.... Must have been an intermittent thing. Will close the issue now.

[2021-01-15 02:59] #6608 closed

[2021-01-15 03:08] asmecher commented on #6608
OK, thanks! Please let me know if it shows up again...

[2021-01-15 09:27] netsensei opened #6611 "When importing Apache logs: "issue/view/xxx/yyy" will yield "invalid issue" error and break import process"
**Describe the bug**

My apache log file contain this string:

[code]

Trying to import the  log file will break execution of the `php /tools/runScheduledTasks.php /plugins/generic/usageStats/scheduledTasksExternalLogFiles.xml` command. The  `Usagestatisticsloadertask` log file contains this error:

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Import an apache log file with lines

[2021-01-15 10:25] netsensei commented on #6573
So, in `UsageStatsLoader`, the `getOJSAssoc` does this:

[code]

As a result, the first `ASSOC_TYPE_ISSUE` case - triggered by the URL in my apache logs - will fall through the and end up processing the subsequent `ASSOC_TYPE_ISSUE_GALLEY` case as well.  The original `assocId` which was first set with the correct `issueId` for `arg[0]` is going to get overwritten in the second case with the `galle

[2021-01-15 10:28] netsensei commented on #6611
So, in `UsageStatsLoader`, the `getOJSAssoc` does this:

[code]

As a result, the first `ASSOC_TYPE_ISSUE` case - triggered by the URL in my apache logs - will fall through the and end up processing the subsequent `ASSOC_TYPE_ISSUE_GALLEY` case as well.  The original `assocId` which was first set with the correct `issueId` for `arg[0]` is going to get overwritten in the second case with the `galle

[2021-01-15 10:52] mpbraendle commented on #6549
How are the dropindex statements carried out?

[2021-01-15 10:53] mpbraendle commented on #6549
OK, found it in lib/pkp/lib/vendor/adodb/adodb-php/datadict/datadict-postgres.inc.php:	function DropIndexSQL ($idxname, $tabname = NULL)

[2021-01-15 10:54] mpbraendle commented on #6549
OK, found it in lib/pkp/lib/vendor/adodb/adodb-php/adodb-datadict.inc.php:	function DropIndexSQL ($idxname, $tabname = NULL)

[2021-01-15 11:28] NateWr commented on #6478
The following PRs remove all uses of `enable_cdn` for Google fonts as well as the jQuery assets. It removes all uses of `enable_cdn` completely. However, I've left the config option in place for custom themes that may still use it. @asmecher two questions:

1. Is this too much of a change this late in RC2? A major release feels like the right time to make the jump, but it's also a fair bit of code

[2021-01-15 11:34] Vitaliy-1 commented on #6585
@NateWr, I'm using the OJS instance with a history of updates from OJS 3.0. It contains submission_files associated with non-existing submission_id, which is failing here: https://github.com/pkp/pkp-lib/blob/b904caeb2cca079ff546ef32a68b444c0b09b430/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php#L287.
I mean that the entries that do not fall under this condition are never updated and `

[2021-01-15 11:37] NateWr commented on #6585
I'm sure that a number of old OJS installs will have submission files attached to a submission id that no longer exists. So yeah, we should definitely try to fix this. In my view, these files can maybe be skipped with an `error_log`. @asmecher any thoughts here? Should we try to preserve the data for these files or consider them "lost"?

[2021-01-15 12:21] mpbraendle commented on #6549
I have now carried out manually the steps in dbscripts/xml/upgrade/3.2.0_preupdate_email_templates.xml on a backup of the 3.1.2-4 DB.

No how can I create the table email_templates_settings that is defined in lib/pkp/xml/schema/common.xml ? Is there a script / method I can lookup? There seems to be no instruction in dbscripts/xml/upgrade/3.2.0_update.xml - this assumes that the table already exist

[2021-01-15 13:25] jnugent commented on #6604
@asmecher  the fix to the filter lets the code proceed past the class comparison, but my export is still failing despite having a published monograph with (as far as I can tell) complete metadata and publication objects.  I'm investigating further.

[2021-01-15 14:48] jnugent commented on #6604
There's still something not quite right. If I turn on $returnErrors in the main Filter class, I get back an ONIX document that passes lint tests and seems valid.  However, the

`$exportFilter->execute($submission);`

Call in the plugin class itself does not return $submissionXml.  There's another input/output comparison test that happens in

`lib/pkp/plugins/importexport/native/filter/NativeExport

[2021-01-15 15:20] jnugent commented on #6604
Okay, so it is failing validation.  My error is:

Element \\'{http://ns.editeur.org/onix/3.0/reference}DescriptiveDetail\\': This element is not expected. Expected is one of ( {http://ns.editeur.org/onix/3.0/reference}RecordSourceIdentifier, {http://ns.editeur.org/onix/3.0/reference}RecordSourceName, {http://ns.editeur.org/onix/3.0/reference}ProductIdentifier ).

So I'll look and see what's up the

[2021-01-15 15:27] jnugent commented on #6604
Fixed!  This can stay closed.  Thanks for bearing with me, @asmecher. It's not quite so obvious now that the "edit" link below the publication format contains a modal with the tabs for the rest of the metadata.  It's been a while since I've looked at the ONIX stuff!

[2021-01-15 15:41] mpbraendle commented on #6549
OK, I found this nice tool dbXMLtoSQL.php in tools - all fine :-)

[2021-01-15 16:34] jnugent opened #6613 "OMP 3.3 - Changing password after password reset can generate unstylized error page"
After requesting a password reset in OMP 3.3, you are required to change your password when you log in.  If you fail to enter the password twice in the new password/confirm password fields, the resulting error page with the form validation errors is unstylized.

![Screenshot from 2021-01-15 12-27-56](https://user-images.githubusercontent.com/218719/104753040-d7c3a480-572d-11eb-91a1-b4bf97fe589d.pn

[2021-01-15 16:36] pmangahis commented on #3369
+ 1 interest from Hosting

[2021-01-15 16:40] mpbraendle commented on #6549
I could create the table and replicate the steps in dbscripts/xml/upgrade/3.2.0_update.xml
The data seems to look fine - no idea what had happened during migration of the production DB that has damaged the data.
We will try to copy over this data from the migrated backup table to the new production DB next week.

[2021-01-15 16:46] defstat commented on #6490
Hi @asmecher.. I concluded the review changes, and added some more fixes.

[2021-01-15 20:00] israelcefrin opened #6614 "OJS 3.3 - Unassigned reviewer still have access to an unaccepted reviewing task"
**Describe the bug**
When unassigning a reviewer, before they accept the task, they still have access to it via their dashboard, and can even submit Review.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Submission >  Review ' and assign a new reviewer
2. Before the reviewer accepts, unassign them from the task.
3. Log as the reviewer
4. See error (the submission on the dashboard, ac

[2021-01-15 20:59] asmecher opened #6615 "Submission files referencing nonexistent submissions break upgrade to 3.3"
If the database contains a reference from `submission_files` to `submissions` where  the submission doesn't exist...
[code]
...then the upgrade will break when adding foreign key constrants:
[code]
**What application are you using?**
OPS 3.3rc2

(Reported by SciELO)

[2021-01-15 21:09] asmecher commented on #6615
PRs:
- https://github.com/pkp/pkp-lib/pull/6616
- https://github.com/pkp/ops/pull/110
- https://github.com/pkp/ojs/pull/2994
- (OMP is not affected)

[2021-01-15 21:14] asmecher commented on #6615
@NateWr, could you have a look at the above PRs? THey test OK for me and I'm pretty sure I got these right according to the `file_id` / `submission_file_id` discrepancy, but another look can't hurt.

[2021-01-15 21:17] asmecher commented on #6615
OPS pre-release testers can apply the proposed changes with these commands...
[code]
...in other words, apply https://github.com/asmecher/ops/commit/b182107783cdd7ed8aaf3b40f87950ba87b6f874 in the OPS installation directory and https://github.com/asmecher/pkp-lib/commit/68f5fcbfcc9745b3ee051e1d2b2dd6260a6a1d7a in the `lib/pkp` subdirectory.

These should be applied before running the upgrade comma

[2021-01-15 21:22] asmecher opened #6617 "ORCID profile plugin needs version bump/release"
The currently released version of the ORCID plugin is 1.1.2-6, but the `master` branch version in github is 1.1.2-5. This will lead to a "downgrades not supported" message when trying to upgrade OJS/OMP/OPS with the current master branch ORCID profile plugin in place (e.g. using a git checkout, which has the plugin included as a submodule).

- [x] Verify that the plugin works with the `master` bra

[2021-01-15 22:37] asmecher commented on #6585
Ah, I actually just filed/fixed this based on SciELO's dataset. See https://github.com/pkp/pkp-lib/issues/6615 -- confirmation that the PRs fix this for you would be very helpful, @Vitaliy-1!

[2021-01-15 22:37] #6585 closed

[2021-01-15 22:39] asmecher commented on #6585
(We're going to deal with a lot of messy data like this as we start to use proper foreign key declarations -- I suggest we clear out "bad" data whenever we add a foreign key in the upgrade process.)

[2021-01-15 22:45] asmecher commented on #6478
@NateWr, I'd support merging this in time for 3.3 rather than waiting for another major release. I'd suggest removing the `config.TEMPLATE.inc.php` variable and documenting the removal in the release notes, rather than leaving it in and deprecated. Code that's not updated will still work if the setting is present, but the less old config/code we can have hanging around the better.

Is there a depe

[2021-01-15 22:47] asmecher commented on #6611
@Vitaliy-1, can you have a look at this? (It's a lower priority than the issues currently assigned to you against 3.3.0-0.)

[2021-01-15 22:47] asmecher commented on #6573
@Vitaliy-1, can you have a look at this? (It's a lower priority than the issues currently assigned to you against 3.3.0-0.)

[2021-01-15 23:20] asmecher commented on #6490
Looks good, @defstat! Just a few more comments -- also see the ONIX-related OMP issue I assigned you; I suspect the OMP changes proposed here break the ONIX export plugin. (Are there other import/export plugins that will be affected?)

[2021-01-15 23:40] asmecher commented on #6614
Good spotting, thanks! The changes to `pkp-lib` added here will
1) remove cancelled reviews from the reviewer's list
2) prevent reviewer access to cancelled review assignments.

[2021-01-15 23:40] #6614 closed

[2021-01-16 02:59] asmecher commented on #6549
:+1: Closing for now -- but if you can shed any light on what happened during the migration, please add it and I'll re-open!

[2021-01-16 02:59] #6549 closed

[2021-01-16 13:39] bozana commented on #6566
@asmecher, here is the new medra repository: https://github.com/bozana/medra. Shall we take it over to the pkp?

[2021-01-16 13:44] bozana commented on #6566
I have forgotten how are the steps for the plugin gallery. I prepared the XML part to insert into the plugins.xml, but when do we insert it and when do we make a release/package and md5? :thinking:
Also, I am using the next major number (3.0.0.0) for this plugin version. Is that OK?
I haven't rung the tests. Do you maybe know if they are/were working? -- I would need to take a look...

[2021-01-16 16:42] Vitaliy-1 commented on #6615
Yes, it was these 2 places where my OJS instance also failed to upgrade.
But I'm receiving
[code]
mysql  Ver 14.14 Distrib 5.7.32, for Linux (x86_64)

[2021-01-17 01:43] librariam opened #6618 "OJS 3.2/3.3rc - Error message for issue URL path should specify no uppercase allowed"
**Describe the problem you would like to solve**
When entering an optional issue URL path, an error pops up that this field may only contain "letters, numbers, dashes and underscores". It does not specify that letters have to be lower case and can be a frustrating experience for someone who keeps entering a seemingly valid string containing capitals.

![image](https://user-images.githubusercontent

[2021-01-17 12:20] bozana commented on #5948
PR: https://github.com/pkp/ojs/pull/2995
@NateWr, could you please take a look?

[2021-01-17 14:23] bozana commented on #6567
PR: https://github.com/pkp/ojs/pull/2996
@asmecher, could you please take a look?

[2021-01-17 20:18] defstat commented on #6490
@asmecher I tried to contain the changes within the Native Import/Export.

I am proposing some changes in order to "extend" the UI error handling to ONIX plugin (and others if need be), which affects the issue https://github.com/pkp/pkp-lib/issues/6610.

[2021-01-18 08:58] denismaier commented on #3691
I've now finally managed to try this---without much success though.

Here's what I've done:

1. Set up a new OJS instance (version 3.1.1.4; that's the version we use in production. Should be ok, right?)
2. Set up a new journal, publish an article in new issue
3. Add a file `galley.css` in the default theme folder (in the `styles` folder).
4. In `DefaultThemePlugin.inc.php` I've added the code snip

[2021-01-18 09:29] Vitaliy-1 commented on #3691
This works from OJS 3.1.2+, I've also backported it to the OJS 3.1.1 stable branch but as far as I remember it was after the release of OJS 3.1.1.4.

[2021-01-18 10:19] mpbraendle commented on #6549
Actually, in my understanding, the first column in table email_templates_default should not be called email_id, but email_default_id

email_id in email_templates and email_id in email_templates_default do describe two entirely different datasets.

[2021-01-18 10:41] denismaier commented on #3691
That was it. Thanks.

[2021-01-18 10:52] NateWr commented on #6537
Thanks @defstat. Does this only occur on the uploads page during submission or do you encounter similar errors on other pages (submission lists, workflow, settings). Can you share the errors from the console?

[2021-01-18 11:17] defstat commented on #6537
No it's a general issue regarding all platforms.

![image](https://user-images.githubusercontent.com/560456/104908694-7d298300-598f-11eb-8af8-4838f56883e8.png)

[2021-01-18 12:29] NateWr commented on #6537
Thanks @defstat. Typically, the console log will allow you to expand the error message to identify the code that caused the error and a backtrace. Can you do that in IE and share the result?

It may also help to build the in dev mode to get a better error: `npm run dev`.

After you've done that, can you test one more thing for me before I look further (just because it is not easy for me to test in

[2021-01-18 12:30] NateWr commented on #6537
Reopening this and setting to critical to make sure this does not slip by unresolved.

[2021-01-18 12:42] NateWr commented on #6478
Good question. It looks like there is a [webpack plugin](https://www.npmjs.com/package/google-fonts-plugin) that might help with this. But that would only work with the default theme since other themes don't implement webpack, and in the default theme the font selection is customizable so we can't bake it into the CSS generation, which happens at run-time.

I think the way forward is maybe to buil

[2021-01-18 13:13] NateWr commented on #6536
I don't think we have any facility at the moment for limiting the number of emails that are queued up. I guess in order to do this we would need some way to communicate with the email server to know when the queue reaches a limit, right?

Thinking about the bulk emails per hour thing, I would think that we'd need some way to track emails sent, which isn't really a consideration the job processing

[2021-01-18 13:19] jmvezic commented on #5445
It seems this was part of 3.2.1-2, wasn't it? In that case, shouldn't the upgrade from 3.1 to 3.2.1-2 have handled this automatically (per the xml upgrade script)?

In my case there's still "licenseURL" values in the database.

[2021-01-18 13:22] jnugent commented on #6536
If it was possible to dump a request for a mailout into a task and then have a server-side scheduled task send those mails out at an administrator-setting rate, that would be nice.  For instance, if we had an outgoing mail queue that can hold 50 email at a time,  the scheduled task could grab a bunch of outgoing email, send 50 of them, pause for a few minutes, and then when the task runs again, gr

[2021-01-18 13:36] NateWr commented on #6536
We do something a little bit like this with the new job queue. When the notify feature is used, a bunch of jobs are queued, each sending 100 emails. Then these jobs are processed sequentially, so it doesn't pile up long-running requests on the server. And in particular, if 5 journals in one instance of OJS hit send on large emails at once, it won't try to process all 5 at the same time. They'll ge

[2021-01-18 13:44] NateWr opened #6619 "Reviewer statistics and update request email"
**Describe the problem you would like to solve**
The list of reviewers is one of the most valuable assets that a journal developers. However, it is difficult to maintain the quality of this list over time. Editors would like a way to cull inactive reviewers, help reviewers keep their reviewing interests updated, and maintain good relations with their reviewers.

**Describe the solution you'd like*

[2021-01-18 13:45] NateWr commented on #3534
A related issue: https://github.com/pkp/pkp-lib/issues/3534

[2021-01-18 13:47] jnugent commented on #6536
For rate limiting, a lot of this just comes down to systems administrator best practices when configuring and allocating resources.  The size of the mail queue on the server can be adjusted, just like any other systems parameter. We may not need to specifically communicate with the mail server if we can set reasonable limits and then do our own debugging if we know email aren't being delivered.  I

[2021-01-18 13:48] NateWr commented on #6536
Thanks everyone. Based on the feedback I'm going to begin working on some quick changes we can push out with 3.3 and then file some issues for additional work at a later date. Please review and let me know if I've got anything wrong.

For 3.3:
- The feature will be off by default and an admin will have to enable it for each journal/press/preprint server.
- There will be no option to disable sendin

[2021-01-18 14:36] marcbria commented on #6536
Sounds like a good plan too me, but let me a few more words about:

How are you planning to enable/disable this? I suggested it to be in the config.inc.php to be sure no journalmanager or OJS admin can enable it (as far as it will have impact in the infrastructure performance, I think it need to be enabled by the sysAdmins).
Think that in a singleOJS installation let OJS-admin (or journalmanager)

[2021-01-18 14:53] NateWr commented on #6536
It will be in the admin area, so journal managers can not access it. Only the admin account can. We are trying to reduce config options in order to focus on supporting mutli-tenant installations.

If you have journal managers who are given admin access, I'd recommend rethinking that assignment or considering writing a plugin to lock-down critical settings (I can show you how if/when you need).

[2021-01-18 14:58] jnugent opened #6620 "Issue with WebFeed plugin"
Discovered in 3.2.1-1 but also present in 3.3.

The  WebFeedGatewayPlugin calls the submission Service's getMany method but does not pass a 'status' parameter to restrict to STATUS_PUBLISHED.

https://github.com/pkp/ojs/blob/stable-3_2_1/plugins/generic/webFeed/WebFeedGatewayPlugin.inc.php#L116

This causes the feed to include unpublished content.  PR incoming.

[2021-01-18 16:08] marcbria commented on #6536
Ok. I know multi-tenant was the most extended choice but I didn't know it was also the preference in PKP hosting.
Anyway, it's also a good idea reduce config variables to make it easy to config OJS from code (ie: CI)

I did it sooo long ago, but it need to be updated to 3.x: https://github.com/marcbria/adminLocker
But in some months from now I take you at your word because I never made a plugin fo

[2021-01-18 16:14] NateWr commented on #6613
I was not able to reproduce this. Here's what it is meant to look like.

![change-password](https://user-images.githubusercontent.com/2306629/104939222-0e0c5880-59a8-11eb-9d08-331fe6c135e5.png)

Your screenshot suggests to me that there is an error when rendering the Vue.js template or something. Can you try to:

1. Run `npm install && npm run dev` again from the root directory to make sure it is

[2021-01-18 16:21] NateWr commented on #6618
I think that we made a decision in https://github.com/pkp/pkp-lib/issues/6105 to allow capital letters in URL paths, but haven't yet implemented this for issues/galleys. I suggest instead of modifying the error message we update the validation checks.

[2021-01-18 16:30] jnugent commented on #6613
Hey @NateWr

Same problem after rebuilding and redeploying.  This is in Firefox on Ubuntu.  Web console shows the following:

![Screenshot from 2021-01-18 12-24-55](https://user-images.githubusercontent.com/218719/104940697-7d725000-5988-11eb-9390-f2a283bab7e4.png)

And the original password change page is showing a 404 for the following request:

https://sfulib710.publicknowledgeproject.org/omp3/

[2021-01-18 16:35] NateWr commented on #6613
Can you click on savePassword:10 and show me the code there? I'm wondering what is calling `$` here. I suspect it might be a theme/plugin conflict where it is expecting to be loading a frontend-facing page but is actually loading a backend-facing page.

The `RevisionConfirmationHandler.js` was recently removed. Probably the `pkp.min.js` file has not yet been updated to reflect this and may need to

[2021-01-18 16:41] jnugent commented on #6613
That's this line:

`	<script src="https://sfulib710.publicknowledgeproject.org/omp3/testing-3_3/lib/pkp/lib/vendor/tinymce/tinymce/tinymce.js?v=3.3.0.1" type="text/javascript"></script><script type="text/javascript">$.pkp.plugins.generic = $.pkp.plugins.generic || {};$.pkp.plugins.generic.tinymceplugin = [];</script><script type="text/javascript">pkp.const = {"LISTBUILDER_SOURCE_TYPE_TEXT":0,"LIST

[2021-01-18 16:50] asmecher commented on #6536
On email limits, there are options for Laravel-based middleware to introduce this kind of functionality: https://github.com/spatie/laravel-rate-limited-job-middleware
The config file could include a maximum-emails-per-hour parameter, and the middleware could limit things to just that. It would require all email sending to go through the queue toolset, though. (Another complex feature that gets mag

[2021-01-18 17:10] asmecher commented on #6620
Thanks, @jnugent! Back-ported to `stable-3_2_1`; OMP is not affected by the bug, and OPS doesn't have a web feed plugin yet.

[2021-01-18 17:10] #6620 closed

[2021-01-18 17:18] asmecher commented on #5445
@jmvezic, the upgrade to 3.2.0 specifies (from the [3.2.1-2 codebase](https://github.com/pkp/ojs/blob/stable-3_2_1/dbscripts/xml/upgrade/3.2.0_update.xml#L23..L26)):
[code]
A quick look through the code doesn't show any appearances of `licenseURL` that would result in data being stored that way in the database.

[2021-01-18 18:30] jmvezic commented on #5445
That's interesting. I wonder why the upgrade script didn't change that (there also weren't any errors during the upgrade). I'll give it a bit of research before I run the command again and write back here if I find anything.

[2021-01-18 20:15] asmecher opened #6621 "Remote galleys are broken"
**Describe the bug**
Galleys with remote URLs (instead of local files) are broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a galley with a remote URL
2. Edit the galley
3. The page doesn't load

PHP error log:
[code]

**What application are you using?**
OPS 3.3rc2

[2021-01-18 20:16] wangra8 commented on #6246
Hi Everyone! Happy New Year! 🎉

I'd like to add to this conversation in 2021 because a journal subscriber last week opened a ticket about urls breaking again due to EZProxy. We found that the merged solution in this thread was not enough to solve it. I would like to add our additional solution at (UofT Libraries) included modifications to the javascript in the/pdfJsViewer/templates/display.tpl tem

[2021-01-18 20:26] #6621 closed

[2021-01-18 20:28] asmecher commented on #6615
@Vitaliy-1, I've changed the implementation to avoid the `You can't specify target table` message, and send warnings to the log during upgrade about what content is removed. Can you take a look and test it again with the database that was causing trouble?

[2021-01-18 20:35] asmecher commented on #6566
Yes, please transfer it across!

See: https://docs.pkp.sfu.ca/dev/plugin-guide/en/release
The RC2 OJS package is version 3.0.0.1, so if you want to test, you can use that version in the plugin gallery's OJS compatibility field. OJS 3.0.0 will formally be released as 3.0.0.2, just FYI.

Yes, please change the license from GPLv2 to GPLv3. All code in the OJS repo should be GPLv3 already, so this wou

[2021-01-18 20:40] asmecher commented on #6567
Thanks, @bozana! One change to make -- not something you introduced but worth fixing at the same time.

[2021-01-18 21:32] asmecher commented on #4414
Do you mean escaped or *not* escaped? I think the `*` should appear escaped as `%2A` in requests -- in fact it'll cause problems if not; I suspect IIS is refusing to handle unescaped `*` in paths in this forum post: https://forum.pkp.sfu.ca/t/save-button-keeps-processing-and-does-not-create-new-journal/65018/7

[2021-01-18 21:57] asmecher commented on #6587
PR: https://github.com/pkp/pkp-lib/pull/6622
Test PR: https://github.com/pkp/ojs/pull/2998
Tests: https://travis-ci.com/github/pkp/ojs/builds/213578221

Could you have a look at the pkp-lib PR, @Vitaliy-1?

[2021-01-18 23:48] AhemNason opened #6623 ""Mark as Read" in Notifications doesn't do anything. (3.3 testing)"
If you open notifications and click one of the checkboxes on a new one, and click on "mark as read", nothing changes. If you close the notification window, you still see the same number of unread notifications. You need to actually click on the notification itself to clear it.

This is in 3.3 on the hosted testing instance.

(Small as bugs go, but worth reporting I think).

[2021-01-18 23:59] AhemNason opened #6624 "Reviewer stats(?) inaccurate (3.3 testing)"
As editor in 3.3, when you select your reviewer for an article you get a dialogue with information about the reviewers you're selecting. I'm not totally sure what this is _supposed_ to say because there isn't a test script for it, but what I'm seeing here says this reviewer has been assigned 2 reviews and then a little clock icon that says "never assigned". It seems like "days since assigned" isn'

[2021-01-19 00:26] asmecher commented on #6189
:exploding_head: :rage: :exploding_head: :rage: At great personal cost I tracked down the source of the weird extra input to the JQuery Validator plugin: https://github.com/jquery-validation/jquery-validation/blob/master/src/core.js#L62..L65

There appears to be some cleanup code added for the `hidden` element in the current release of the JQuery Validator -- it's possible that just upgrading that

[2021-01-19 08:30] jmvezic commented on #6467
Hi @asmecher, just tried the latest master commit and it does seem this is fixed. Thanks!

[2021-01-19 08:49] defstat commented on #6610
@asmecher I have extended the #6490 functionality in order for other plugins to have access to the native import/export changes. I also added the functionality to ONIX plugin, which, when reviewed, could resolve this issue.

[2021-01-19 09:22] jmvezic commented on #6549
@mpbraendle perhaps you're encountering a variation of this issue: https://github.com/pkp/pkp-lib/issues/6432 ?

[2021-01-19 09:29] jmvezic commented on #6529
@NateWr I think this might have been a bug only when the author also has a reviewer role when submitting the article. It doesn't show up in 3.2.1-2 for me when submitting only with the "author" role. In any case, glad it's fixed.

[2021-01-19 09:32] jmvezic commented on #6529
@apacetech If you can't pull the fix from GitHub, you can follow these steps to circumvent the issue:.

- Login as editor and go to the submission with this issue
- Go to review, round 1
- Click Request Revisions
- Click "Revisions will not be subject to a new round of peer reviews" - this will nullify the previous new round decision
- Inform the author they can now upload the new submission as "R

[2021-01-19 10:11] mpbraendle commented on #6549
Yes, this is exactly that. Thanks for hint.

[2021-01-19 10:17] NateWr commented on #6189
:clap:

[2021-01-19 10:23] NateWr commented on #6623
Thanks @AhemNason! Duplicate of https://github.com/pkp/pkp-lib/issues/6559.

[2021-01-19 10:23] #6623 closed

[2021-01-19 10:25] NateWr commented on #6624
Thanks! Yeah, you've sussed it: the days since assigned won't be accurate on the day of the very first assignment. Duplicate of https://github.com/pkp/pkp-lib/issues/4312.

[2021-01-19 10:25] #6624 closed

[2021-01-19 10:35] Vitaliy-1 commented on #6615
@asmecher, I can confirm that these PRs to OJS and shared library have resolved the problem with the upgrade

[2021-01-19 11:01] mpbraendle commented on #6432
Please have a look at #6549 as well.

[2021-01-19 11:13] #5948 closed

[2021-01-19 14:28] Vitaliy-1 commented on #6573
Thanks @netsensei, quite detailed explanation! Exploring this.

This is fixed in the current master branch. Unfortunately, I can't find the correspondent issue, assuming that this was fixed somewhere between OJS 3.1.2 and 3.2.0.

[2021-01-19 14:44] Vitaliy-1 commented on #6573
I think I found the correspondent issue and the fix is indeed included in 3.2: https://github.com/pkp/pkp-lib/issues/5560. The first referenced [commit](https://github.com/NateWr/ojs/commit/7c1e849638d9dec2b5971f77ac49b6d82c0a485f) there looks like addresses the problem with `fileId` that you described.

[2021-01-19 15:18] dommitchell commented on #6389
This has been merged and released @asmecher @mhvezina

[2021-01-19 15:57] Vitaliy-1 commented on #6573
@NateWr, you probably know this better. Should all `download` operations for galleys include `fileId` by default? I mean, should `$redirectPath` here contain also the submission file id as the last array item: https://github.com/pkp/ojs/blob/91559403668801ac453ae4e21ed5a6e9467e850d/pages/article/ArticleHandler.inc.php#L325
and handle other cases where the `ArticleHandler::view::galley` hook is fir

[2021-01-19 15:58] bozana opened #6625 "two entries in the oai interface after removing a submission from TOC and rescheduling it again"
**Describe the bug**
When a submission is removed from the TOC of an published issue and then published again, the submission appears twice via the OAI interface, as deleted and as published. It seems like the tombstone table is considered when removing the submission from the TOC but not considered when (re)publishing the submission.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a p

[2021-01-19 16:10] Vitaliy-1 commented on #6573
(the same for issue galleys)

[2021-01-19 16:12] ewhanson opened #6626 "Add support in search index for preferred name"
**Describe the problem you would like to solve**
Preferred names are not indexed by `SubmissionSearchIndex` so it is not possible to search by preferred name when one is used.

**Describe the solution you'd like**
Include preferred name when rest of article is being indexed.

[2021-01-19 16:47] Vitaliy-1 commented on #6587
@asmecher, yes, it solves the issue

[2021-01-19 16:48] asmecher commented on #6389
Thanks, @dommitchell!

[2021-01-19 16:49] asmecher commented on #6587
Thanks, @Vitaliy-1! Merged.

[2021-01-19 16:49] #6587 closed

[2021-01-19 16:59] NateWr opened #6627 "Allow users to unsubscribe from emails sent using the notify tool"
**Describe the problem you would like to solve**
The new notify feature which lets managers send an email to all users in a role may be abused to send unsolicited email or email that does not meet privacy requirements in all jurisdictions. At the very least, users must be able to unsubscribe from these emails.

**Describe the solution you'd like**
After some [discussion](https://github.com/pkp/pkp

[2021-01-19 17:01] NateWr commented on #6536
I took a stab at the unsubscribe features but have hit a blocker. We won't be able to implement a reasonable unsubscribe option until the notification subscription settings are refactored, which means it won't get into 3.3. I've filed an [issue](https://github.com/pkp/pkp-lib/issues/6627) and scheduled it for 3.3.1 -- although I think that milestone is already overloaded and this may present a num

[2021-01-19 17:31] asmecher commented on #6536
:+1: -- we'll have to have a sober review of the list for 3.3.1 once 3.3 is out.

[2021-01-19 17:32] asmecher commented on #490
I would suggest removing it. It should be rewritten rather than reintroduced.

[2021-01-19 17:36] asmecher commented on #5049
@defstat, this is not a priority for 3.3, but please don't forget this issue!

[2021-01-19 17:36] asmecher commented on #3227
@defstat, this is not a priority for 3.3, but please don't forget this issue!

[2021-01-19 17:37] asmecher commented on #2180
@defstat, this is not a priority for 3.3, but please don't forget this issue!

[2021-01-19 17:38] #6615 closed

[2021-01-19 17:39] asmecher commented on #6615
Thanks, @Vitaliy-1! Merging and closing.

[2021-01-19 17:49] NateWr commented on #6536
The following PRs change the notify feature to off-by-default and add admin settings to enable it by journal and to disable sending to user groups within a journal.

PRs:
https://github.com/pkp/pkp-lib/pull/6628
https://github.com/pkp/ojs/pull/2999
https://github.com/pkp/omp/pull/911
https://github.com/pkp/ops/pull/111

Enable the notify feature for each journal/press/server from the site settings

[2021-01-19 17:56] asmecher commented on #6467
Thanks, I'm happy to hear it!

[2021-01-19 18:35] jnugent commented on #6246
+1 for @wangra8 's fix.  This was timely - I confirm that this solved an exProxy issue with a hosted client this morning.

[2021-01-19 18:45] asmecher commented on #6246
Good to hear that this is helpful for 2 different installs, but I'm confused about why EZProxy isn't rewriting the URLs where they're declared with the JS `var` statement. Adding the javascript flag to the EZProxy config should permit that. Or am I misunderstanding the problem?

[2021-01-19 19:20] bozana commented on #4915
PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/6629
ojs: https://github.com/pkp/ojs/pull/3000 (only submodule update)

[2021-01-19 19:21] bozana commented on #4915
@NateWr, could you please take a look at the PR above?
When all well I would provide the OMP and OPS PRs for submodule update...

[2021-01-19 20:46] asmecher commented on #6189
There's cleanup code for the `hidden` element already in place in our current version of the JQuery validator plugin. I tracked the problem further to an interaction between the JQuery Validator and confirmation modal. The confirmation modal uses `$button.trigger('submit')` rather than `$button.click()` (since the click event opens the modal rather than submitting the form), but the validator isn'

[2021-01-20 02:58] asmecher opened #6632 "Update Illuminate Database library for GHSA-3p32-j457-pg5x"
## Issue Description ##

OJS, OMP, and OPS use the 3rd-party [Illuminate/Database](https://packagist.org/packages/illuminate/database) package for database interactions. Recently a potential vulnerability in this package was published: https://github.com/advisories/GHSA-3p32-j457-pg5x

## Affected releases ##

PKP has not definitively confirmed whether its software can be attacked using this mecha

[2021-01-20 03:21] asmecher commented on #6444
There are other areas that are affected too -- look for `issuesTabs` in `IssueGridHandler.inc.php`. (These are the only current uses of `containerReloadRequested` that I can spot, so that can be fixed/removed as desired when cleaning up these cases.)

You can cause a tab to reload using [`$( ".selector" ).tabs( "load", "#foo" );`](https://api.jqueryui.com/tabs/#method-load) -- and a quick place to

[2021-01-20 03:37] benaltair opened #6633 "Entering a space in journal path breaks site"
**Describe the bug**
When experimenting with how to simplify the URL aesthetically, I decided to enter a space character as the path. Specifically, I changed it from "online" to " ". When I saved this, it broke everything. I could no longer access the front end website, and I couldn't save anything else as the path to fix it. To fix it, I had to enter the SQL database and revert the change manuall

[2021-01-20 05:57] bozana commented on #4915
In the review stage also the guest editors, translators and funding coordinators can be assigned. In such a case it is then possible to select them in the review discussion participants list. Should they be considered and how -- are they allowed to see the participants names (e.g. like editors/section editors are)?

[2021-01-20 06:01] ajnyga commented on #4915
Guest editor is the same as section editor, right?

I think that if a role like translator has access to the review stage, then they should be able to see the names. Journals can control this by selecting the stages different roles can access?

[2021-01-20 10:36] jmvezic commented on #6633
Space is considered unsafe in URLs, so there should be a regex validation there. Or, there should be urlencode before storing it in the database.

[2021-01-20 11:18] NateWr commented on #6189
Excellent!

[2021-01-20 11:26] jmvezic commented on #5445
It seems all setting names after the upgrade to 3.2.1-2 are correct - they're all "licenseUrl". In fact, any publication that has its "date_last_activity" after the upgrade date seems to have the correct "licenseUrl" name.

So the issue is with settings before the upgrade, which would indicate that the XML script that converts "licenseURL" to "licenseUrl" for some reason didn't execute. I have no

[2021-01-20 12:00] NateWr commented on #6536
Thanks everyone. The admin settings have been merged and issues have been filed for some of the other things that were raised here.

[2021-01-20 12:00] #6536 closed

[2021-01-20 14:59] NateWr commented on #6625
Here's a PR for ojs to see if this fixes the tests. I'm working on OMP now.

PR:
https://github.com/pkp/ojs/pull/3001

[2021-01-20 15:28] wangra8 commented on #6246
Hi Everyone! 👋

I'm glad to hear it helped solve the issue for someone else too. 😃  I'm afraid I don't have the root cause about why EZProzy suddenly stopped rewriting the URLs, but we know that the user which reported the issue, updated their EZProxy which then broke the URLs. We ruled out ojs upgrade breaking this because our last upgrade was to 3.1.2.1 was in November 2019.

When this broke, if

[2021-01-20 15:51] NateWr commented on #6625
FYI, the OJS tests have passed so I went ahead and merged those changes in order to fix the tests in master, but they haven't been through code review. @bozana would you be able to take a look at these PRs to see if you can spot anything I've missed?

[2021-01-20 16:28] Vitaliy-1 opened #6634 "Block names aren't being updated to the lowercase during OJS upgrade"
**Describe the bug**
Upgrade from OJS 3.2.1 to 3.3 (recent master branch) doesn't update block names to the lowercase, as per phpdoc here: https://github.com/pkp/pkp-lib/blob/master/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php#L540-L549
Instead, I'm receiving a warnings:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade an OJS instance with custom blocks
2. See wa

[2021-01-20 17:06] #6189 closed

[2021-01-20 17:07] asmecher commented on #6189
Thanks, @NateWr! Back-ported to `stable-3_2_1` for the 3.2.1-3 release.

[2021-01-20 17:10] NateWr commented on #5390
@asmecher we're encountering a test failure that neither of us can replicate locally. The tests are [failing](https://travis-ci.com/github/pkp/ojs/jobs/473432859) when they expect to see an error message in the form (testing invalid urlPaths for contexts). There's nothing in the error logs from the tests. I've tried running the tests locally with both Electron and Chromium. I'm not sure what to tr

[2021-01-20 17:20] asmecher commented on #5390
I'll take a look!

[2021-01-20 17:39] asmecher commented on #5390
The failure occurs on my machine too. I applied the changes manually to the latest `master` in `pkp-lib`, and used a fresh checkout of the latest `master` in OJS. The failure comes when submitting the "create journal" form...

![image](https://user-images.githubusercontent.com/200411/105212600-8a1ab380-5b02-11eb-95dc-e23e8aa91719.png)

...with a bad "Path" field:

![image](https://user-images.gith

[2021-01-20 17:41] NateWr commented on #5390
Aha! Thanks for finding that Alec. It's probably just the order of checks is inverted, since the API can be used without an API token when cookies/CSRF are involved. I'll revisit this tomorrow.

[2021-01-20 17:47] asmecher commented on #6620
Users of OJS 3.2.x that encounter this issue can apply https://github.com/pkp/ojs/commit/3fcdf82866f1dc743bb2eeee47df5d17adb3033b to resolve it.

[2021-01-20 17:53] NateWr commented on #6613
Thanks @jnugent! I'm not sure why I wasn't encountering this error at first but the following should fix it.

PR:
https://github.com/pkp/pkp-lib/pull/6636

Tests:
https://github.com/pkp/ojs/pull/3004

[2021-01-20 17:58] asmecher commented on #6594
@NateWr, as a more general solution, how do you feel about letting the multilingual controls appear for content in *any* language that is populated, rather than a subset? This issue is an example of a broader problem of "orphaned" locale data; consider when the admin/manager changes the locale configuration to exclude a locale that has data added. That data is left in the DB (and in some cases mig

[2021-01-20 18:00] asmecher commented on #6246
Thanks, @wangra8, that helps. So it sounds like an EZProxy update caused the change in behaviour? What was the previous version of EZProxy, and what are you using now?

[2021-01-20 18:02] jnugent commented on #6613
@NateWr confirming the fix on our test 3.3 OMP install. thanks!

[2021-01-20 18:24] Vitaliy-1 opened #6637 "Custom block title should be validated before saving it in plugin_settings.plugin_name"
The recent changes in https://github.com/pkp/pkp-lib/issues/5619 introduced a solution to multilingual titles for custom blocks. Among them, each block started to have own entries in the `plugin_settings` table, e.g., if creating a block with a title `defaultthemeplugin` for a context with id `1`:
[code]
Thus, this creates conflict with calls to the plugin, that has the same name
Possible solution

[2021-01-20 19:10] jonasraoni opened #6638 "The fileStages filter of the submission files API is ignored for managers"
**Describe the bug**
The `fileStages` filter has no effect when accessing the API `/submissions/{id}/files` with a manager role, all files are retrieved.

**What application are you using?**
OJS 3.3

[2021-01-20 19:14] wangra8 commented on #6246
Hi @asmecher & Everyone! 👋

Sorry I have to retract my statement that EZProxy update was the root cause. I haven't worked with this particular functionality of OJS too much so I went back and checked in with my awesome team members 😄 🌟   and these are the pieces of information I'm going to share. 🤓 📖

At the end of the Iter Stanza file the following worked fine.
[code]
Then in the past few months

[2021-01-20 19:19] jonasraoni opened #6639 "Failed to upload a new revision of a file using the API"
**Describe the bug**
Using a manager role, I was unable to upload a new revision of a file using the API `/submissions/{id}/files/{file_id}`.

**To Reproduce**
Issue a PUT request to the API feeding it with all the required parameters and the file will not be uploaded.

**What application are you using?**
 OJS 3.3

**Additional information**
Probably connected to the way PHP (doesn't) handle PUT r

[2021-01-20 19:24] jonasraoni opened #6640 "Unable to update/delete files that the author had access using the API"
**Describe the bug**
*Probably it's just a misunderstanding/typo in the test description.*
I could update/delete files created by the author. But I couldn't do it with the other files the author had access.

**To Reproduce**
Using the author role, try to update/delete a file the author has access, and that wasn't uploaded by him, using the API `/submissions/{id}/files/{file_id}`.

**What applicati

[2021-01-20 19:32] jonasraoni opened #6641 "Uploading submission files through the drag and drop is unstable"
**Describe the bug**
When adding multiple files using the drag and drop feature, I had these issues:
- The cursor switches from the copy to the move icon intermittently
- After releasing the files there's three situations:
1. Everything works
2. Nothing happens
3. Opens the dragged file in a new tab

**To Reproduce**
Select some files, drag them into the container and release.

**What application

[2021-01-20 19:42] jonasraoni opened #6642 "Failed to cancel a submission upload"
**Describe the bug**
After uploading and cancelling the submission of some files, then trying to proceed to the next step, the files I've cancelled reappeared and I was asked to choose their type.

**To Reproduce**
Upload some files, cancel the upload process, then try to go to the next step.

**What application are you using?**
 OJS, OMP or OPS version X.X.X

**Additional information**
- Maybe th

[2021-01-20 19:50] jonasraoni opened #6643 "Lack of notifications after the author uploads revisions"
**Describe the bug**
During the review stage, there was no notification warning about new revisions uploaded by the author.

**To Reproduce**
After reaching the review stage, upload a revision using the author role, then log in as a manager/editor/reviewer and there will be no new notifications.

**What application are you using?**
OJS 3.3

[2021-01-20 22:09] ctgraham opened #6644 "Fatal error if notifications are blocked for EditorialReportNotificationManager"
**Describe the bug**
If the notifications are blocked for a notification queued through EditorialReportNotificationManager, type requirements forces a PHP_FATAL.

**To Reproduce**
Steps to reproduce the behavior:
1. Disable notifications for editorial users
2. Run the `lib.pkp.classes.task.StatisticsReport` scheduled task
3. See error
[code]

**What application are you using?**
 OJS 3.2.1

**Addit

[2021-01-20 22:21] #6644 closed

[2021-01-20 23:19] asmecher commented on #6632
Added details for back-porting to 3.1.2, 3.1.1, and 3.1.0. Adding the "Critical Issue" tag, though we don't yet know if an attack via this mechanism is viable with OJS, OMP, or OPS.

[2021-01-20 23:19] #6632 closed

[2021-01-20 23:21] asmecher commented on #6632
Updated composer dependencies in `master` (for release in 3.3). Back-ported patches to `stable-3_2_1`, `stable-3_2_0`, `stable-3_1_2`, `ojs-stable-3_1_1`, `omp-stable-3_1_1`, and `ojs-stable-3_1_0`. No fix needed for `omp-stable-3_1_0`. Older releases do not include Illuminate/Database.

Note that the Illuminate/Database patches for 3.2.1 and 3.2.0 are "official", i.e. taken from the Illuminate/Da

[2021-01-21 01:05] amandastevens commented on #6514
I tried this again and I don't see the "Awaiting Galleys" message on the submission. The test site was updated and I had to create all new data.

[2021-01-21 01:20] ewhanson commented on #5388
Hey @asmecher, it looks like adding keyword indexing will require a new search type constant. Do you have any recommendations or are there any best practices around what the value should be for the constant? I didn't know if they were used in any other way other than as an identifier. Thanks!

https://github.com/pkp/pkp-lib/blob/649c07b140e06d4b5120d78b56b3aab83e8e1e62/classes/search/SubmissionSea

[2021-01-21 04:39] gireeshcse opened #6646 "[OJS]Access denied is shown to author, when section editor chooses revisions required which are subject to new round of peer review"
OJS Version : ojs-3.2.1-2

When section editor chooses, revisions required which are subject to the new round of peer review as below
![image](https://user-images.githubusercontent.com/6085016/105279555-cebf5100-5bcd-11eb-983d-e95ee1739ea1.png)

Then when user logins, he is shown as below
![image](https://user-images.githubusercontent.com/6085016/105280244-5063ae80-5bcf-11eb-8285-d86d76673034.png)

[2021-01-21 05:54] jonasraoni opened #6647 "[OJS 3.3] Misplaced button in the file search"
**Describe the bug**
The search button is probably misplaced
![search](https://user-images.githubusercontent.com/361921/105227321-347def80-5b72-11eb-8936-b42bbe398fb5.PNG)

**To Reproduce**
Expand the search form of a list of files (the screenshot came from the author interface).

**What application are you using?**
OJS 3.3

**Additional information**
- Maybe this search form could be more dynamic

[2021-01-21 06:59] jonasraoni opened #6648 "[OJS 3.3] Difficult to grab the knob of the ranged slider"
**Describe the bug**
When we set the minimum to its maximum value, it becomes difficult to grab the knob because the label is covering the knobs
![image](https://user-images.githubusercontent.com/361921/105304312-cdd9ef80-5bcc-11eb-8b27-9e9bf3aa09d2.png)

**To Reproduce**
At the review stage, click in the button `Add Reviewer`, then `Select Reviewer` > `Change` link > `Filters` button.

**What app

[2021-01-21 07:02] jonasraoni opened #6649 "Escaped HTML content in a notification"
**Describe the bug**
The notification has escaped HTML content:

![error](https://user-images.githubusercontent.com/361921/105314878-8bfe7880-5bcf-11eb-8b28-1fb9cc5a7698.PNG)

**To Reproduce**
Try to insert an user with an existing username.

**What application are you using?**
OJS 3.3

[2021-01-21 07:07] jonasraoni opened #6650 "[OJS 3.3] Include journal sidebar after creating a new journal"
**Describe the problem you would like to solve**
After creating a new journal, I think it would be more user friendly to already redirect to it, so the sidebar would be displayed here:

![image](https://user-images.githubusercontent.com/361921/105315339-31b1e780-5bd0-11eb-8267-e471b43193b8.png)

**Describe the solution you'd like**
Redirect to the journal page or maybe add a button "Go to Journal

[2021-01-21 07:09] jonasraoni opened #6651 "Sidebar has a covered progress text"
**Describe the bug**
The progress bar has a covered progress text:

![progress](https://user-images.githubusercontent.com/361921/105315568-8f463400-5bd0-11eb-84c0-ae2a0d2366d4.PNG)

**To Reproduce**
Upload a file (if I'm not mistaken, there was one place where it didn't happen)

**What application are you using?**
OJS 3.3

[2021-01-21 07:12] jonasraoni opened #6652 "Visual glitch that appears sometimes while navigating"
**Describe the bug**
Sometimes after navigating, a `ui-datepicker-div` appears in the bottom:

[code]

![datepicker](https://user-images.githubusercontent.com/361921/105315763-e1875500-5bd0-11eb-8608-6a26744f47d2.PNG)

**Fix**
As its an old component which will be replaced sooner or later, I suggest to just add a
[code]

**To Reproduce**
1. Access a back issue
2. Click on the `Edit` link
3. Procee

[2021-01-21 07:23] jonasraoni opened #6653 "Clicking outside a modal window causes issues"
**Describe the bug**
I had several issues in different interfaces caused basically by my hurry hand clicking outside of the modal window, for example:

If you create a new user, then click outside of the modal before selecting its Role, the user will be added, but it won't appear in the journal, so if I try to redo the steps, I'll be faced with a "username already registered".

I can search the us

[2021-01-21 07:28] jonasraoni opened #6654 "The cancel button at the "Change Password" has no purpose"
**Describe the bug**
Once an user lands at the forced "Change Password" interface, there's a `Cancel` button, which does nothing.

It should probably redirect the user back to the login interface.

**To Reproduce**
Create an user and mark the option to force him to change his password on the first login

**What application are you using?**
OJS 3.3

[2021-01-21 07:50] jonasraoni opened #6655 "Swagger generator creates invalid content"
**Describe the bug**
When opening the swagger.json file generated by the tool in the [online editor](https://editor.swagger.io), it accuses some invalid escapes (`\/`) and warnings.

**To Reproduce**
Generate a swagger file
[code]

Open it in the [online editor](https://editor.swagger.io)

**What application are you using?**
OJS 3.3

[2021-01-21 07:57] jonasraoni opened #6656 "Standardize API input/output"
**Describe the problem you would like to solve**
Some APIs expect a JSON as input, while others expect a multipart/form-data. So in one place I have to send JSON content (e.g.):
`{ "title": { "en": "Title" } }`
While in others I have to send the field in another format:
`title[en]=Title`

**Describe the solution you'd like**
I didn't research about it, but maybe a solution would be to break what n

[2021-01-21 09:23] NateWr commented on #3180
An alternative to our own searching toolset that wouldn't require additional server dependencies: https://github.com/teamtnt/tntsearch

[2021-01-21 09:45] NateWr commented on #6655
We're no longer using the Swagger editor. We've switched to redoc and added a couple of vendor-specific tags supported by redoc.  See https://github.com/pkp/pkp-docs#generate-rest-api-references

[2021-01-21 09:45] #6655 closed

[2021-01-21 09:53] NateWr commented on #6552
Did this get tested again to confirm a bug?

[2021-01-21 10:07] Vitaliy-1 commented on #6634
PRs
pkp-lib master: https://github.com/pkp/pkp-lib/pull/6657
tests OJS master: https://github.com/pkp/ojs/pull/3005

[2021-01-21 10:11] Vitaliy-1 commented on #6634
@NateWr, do you have time to review the PR? Looks straightforward to me, later in the update script setting values should be transformed to JSON representation.

[2021-01-21 10:16] NateWr commented on #6594
@asmecher I worry this would be a source of confusion. It would result in instances where things are being shown to users who have no idea why it's there or what they are meant to do with it. Authors and editors might see content in a publication that won't appear on the frontend. On large multi-tenant sites the journal defaults might exist in a bunch of languages, making it unclear which ones the

[2021-01-21 10:19] #6613 closed

[2021-01-21 10:21] NateWr commented on #6514
Thanks Amanda! I'll close this for now and we can open a new issue if the problem resurfaces.

[2021-01-21 10:21] #6514 closed

[2021-01-21 10:25] NateWr commented on #6634
Looks good to me. Where are the values transformed to JSON?

[2021-01-21 10:33] NateWr commented on #6478
@asmecher I've removed the enable_cdn and `CDN_JQUERY_...` constants. I went ahead and merged these PRs, but let me know if there is anything additional I should do regarding the license info.

I'll leave this issue open because I still need to update the assets in:
- Bootstrap3
- HealthSciences (see [issue](https://github.com/pkp/healthSciences/issues))

[2021-01-21 10:33] Vitaliy-1 commented on #6634
For OJS it's here: https://github.com/pkp/ojs/blob/dc22ed3f2996841b061dbae80efdeebe0fe56a2c/classes/migration/upgrade/OJSv3_3_0UpgradeMigration.inc.php#L37

[2021-01-21 10:46] NateWr commented on #6634
Thanks @Vitaliy-1!

[2021-01-21 10:46] #6634 closed

[2021-01-21 10:57] NateWr commented on #6638
Thanks @jonasraoni!

PR:
https://github.com/pkp/pkp-lib/pull/6658

Tests:
https://github.com/pkp/ojs/pull/3006

[2021-01-21 10:59] NateWr commented on #6639
Did you test this on a server that supports `PUT` requests? If not, you need to send the request as `POST` and use the `X-Http-Method-Override` header to have it handled as a `PUT` request. Can you try this out and let me know if it fixes the issue?

[2021-01-21 11:03] NateWr commented on #6640
The author only has read access to some of the files. Can you check the table at the [bottom of this page](https://docs.pkp.sfu.ca/dev/documentation/en/submission-files#file-access) to see if it corresponds with the ability to delete from the API that you found?

[2021-01-21 11:05] NateWr commented on #6641
Duplicate of https://github.com/pkp/pkp-lib/issues/6537

[2021-01-21 11:05] #6641 closed

[2021-01-21 11:15] NateWr commented on #6642
I'm  having trouble reproducing this. I've been able to get through the following steps by throttling the connection using the browser's dev tools:

1. Go to file upload during submission.
2. Open browser dev tools (Firefox) > Open device simulator > set throttling to Regular 2G
3. Begin uploading a file.
4. While the progress bar is increasing, click Cancel.
5. Click Save and Continue

I didn't r

[2021-01-21 11:19] NateWr commented on #6642
Ok, yeah, I was able to reproduce this. Effectively, I need to click cancel at the split second between when the last chunk is sent and the display updates.

Since the result of this is just that the user sees a validation error and has an opportunity to remove the file, I think this is a minor UX issue. I'm going to close it as I think it's going to be rare, but if we get reports that it is happe

[2021-01-21 11:19] #6642 closed

[2021-01-21 12:52] #6638 closed

[2021-01-21 12:55] NateWr commented on #6643
Can you provide more specific reproduction steps? What notifications did you expect to appear that didn't? What editorial actions were taken in the review stage before or after the revisions were uploaded?

[2021-01-21 12:57] NateWr commented on #6646
Thanks for reporting @gireeshcse. I think this is a duplicate of https://github.com/pkp/pkp-lib/issues/6529. The fix should go out with the next stable version (3.2.1-3).

[2021-01-21 12:57] #6646 closed

[2021-01-21 13:02] NateWr commented on #6648
Looks like the positioning of the knobs is adjusted upwards slight in Chrome but not Firefox. Should be like:

![slider-knobs](https://user-images.githubusercontent.com/2306629/105354643-c0326300-5be8-11eb-9dec-3239e7988765.png)

This may need to be refactored for accessibility. But editors want to be able to search by both ends of the range. So find users who have had a review assigned NO MORE TH

[2021-01-21 13:03] NateWr commented on #6649
Duplicate of https://github.com/pkp/pkp-lib/issues/6449

[2021-01-21 13:03] #6649 closed

[2021-01-21 13:05] NateWr commented on #6650
I think we'll keep this as-is. The person creating the journal is often different from the person managing the journal. The settings wizard presents the most common settings an admin needs after they have created a journal, including at least one setting that is not available in the general journal settings area.

[2021-01-21 13:05] #6650 closed

[2021-01-21 13:07] NateWr commented on #6652
Is this the QuickSubmit plugin? I think that's the only place the old datepicker is still used.

[2021-01-21 13:13] NateWr commented on #6654
Thanks! Fixed in https://github.com/pkp/pkp-lib/commit/e141d7fb8fdf6ecdd5d061a7126343a47fd54be7.

[2021-01-21 13:13] #6654 closed

[2021-01-21 14:12] NateWr commented on #4414
Thanks @asmecher, I had that completely wrong! :joy: I didn't realize that `*` would be a problematic character in paths. I think it's best to avoid it altogether if so. What about `_`? Would that be a safe path to use? We could use something simpler like `index`, but then we have to be careful that we don't have conflicts with a context's urlPath.

The following PRs implement `_`, but easy to cha

[2021-01-21 14:27] NateWr commented on #6558
I'm going to remove this from the 3.3 milestone as we're running out of time and this isn't a critical issue.

[2021-01-21 14:29] janiosarmento commented on #6564
At the moment of the test, I was a superadmin user.

[2021-01-21 14:30] NateWr commented on #6573
@Vitaliy-1 I don't _think_ that the file ID should be part of the download URL in OJS. I think the file ID is only used as part of the download URL in OMP.

[2021-01-21 14:47] NateWr commented on #6564
Thanks @janiosarmento! Looks like there are more cases than I expected where a clean switch can't be made. The following PRs only allow the page-to-page switch to happen for whitelisted pages that are always available across all contexts.

PR:
https://github.com/pkp/pkp-lib/pull/6660

Tests:
https://github.com/pkp/ojs/pull/3008

[2021-01-21 15:01] librariam commented on #6242
+1 more from PKP|PS, specifically to keep unassigned reviewer's name on record so they are not accidentally assigned again (but not blocking them from being assigned again intentionally).

[2021-01-21 15:11] Vitaliy-1 opened #6661 "Submission File wizard doesn't suggest filename to secondary locales"
**Describe the bug**
Multilingual OJS installation; submission file upload, including dependent files. The file name is suggested only for a primary locale.
1. During the file upload process, `Review Details` tab, The `Continue` button is active and it's possible to continue file upload even though even if file name is populated for only one locale.
![screencapture-localhost-8000-index-php-psp-wor

[2021-01-21 15:18] NateWr commented on #6449
@asmecher I think I've found a safe way to address this for all form errors that result in a toast notification. From what I can see, this code only deals with toast notifications attached to a JSONMessage, so there shouldn't be a lot of room here for an unexpected side efffect. Does it look ok?

PR:
https://github.com/pkp/pkp-lib/pull/6662

Tests:
https://github.com/pkp/ojs/pull/3009
https://gith

[2021-01-21 16:13] librariam opened #6663 "OJS 3.3rc - HTML galley does not pick up the dependent CSS"
**Describe the bug**
All galley tests on 3.3rc have passed except for HTML + CSS. The HTML is displayed fine, but does not pick up the dependent CSS. It does pick up other dependent files, like images.

The same HTML + CSS pair of files was tested on 3.1.2 and is picked up as it should.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a submission in production stage on 3.3rc
2. Upload

[2021-01-21 16:19] israelcefrin commented on #6552
@NateWr I've update the install and it is resolved. I will close this issue. Tks!

[2021-01-21 16:19] #6552 closed

[2021-01-21 16:33] Vitaliy-1 commented on #6663
I can confirm that the `mimetype` of the CSS file attached to the galley is identified as `text/plain` instead of `text/css`

[2021-01-21 17:40] asmecher commented on #6653
@jonasraoni, there are only a few modals that involve either two steps (the one you identified, where a user is created and then roles assigned) or perform an action when first presenting the modal (e.g. creating a discussion, which does handle clean-up if the modal is closed before saving). Generally modals only perform a single action when they are submitted, in which case clicking outside the m

[2021-01-21 17:40] NateWr commented on #6537
What would we do without Stack Overflow! Two very obscure bugs in IE11 introduced during the compilation process. The following PRs should sort this out.

I noticed that we hadn't targeted IE10 before. I managed to test in IE11, but I've adjusted our browser targets to support IE 10 as well, at least for now.

PRs:
https://github.com/pkp/ui-library/pull/140
https://github.com/pkp/ojs/pull/3010
htt

[2021-01-21 17:43] asmecher commented on #4414
I have no problem with `_`, @NateWr, and the PRs are clean. Please go ahead! Can you also cherry-pick this back to `stable-3_2_1` for the (interminably imminent) 3.2.1-3 release?

[2021-01-21 17:51] asmecher commented on #6537
(oof!)

[2021-01-21 17:54] NateWr commented on #4414
@asmecher I'm off tomorrow but I've added PRs for the stable version in case you want to get 3.2.1-3 released before Monday.

[2021-01-21 17:57] asmecher commented on #6478
Apache and GPLv3 are compatible, and Open Font License doesn't raise any red flags over at [gnu.org](https://www.gnu.org/licenses/license-list.en.html). I would recommend just noting in a README that font resources are taken from other sources, noting their licenses, and including a URL.

[2021-01-21 18:00] asmecher commented on #4414
:+1: Thanks, will merge!

[2021-01-21 18:01] #4414 closed

[2021-01-21 18:03] asmecher commented on #5388
@ewhanson, these were originally coded (in the early days of OJS 2.x) so they could potentially be used as bitmasks, but that has never happened (and I consider it unlikely). I'd recommend e.g. using `0x00000011` and adding it between `SUBJECT` and `TYPE`.

[2021-01-21 18:08] asmecher commented on #3180
^ Interesting! It does require SQLite, which it uses for its own storage, so I'd want to verify that it has very wide uptake in general -- but I suspect it does. It's a shame it can't just use the same PDO toolset it uses for a data source as the indexing storage as well.

[2021-01-21 18:26] asmecher commented on #6594
Agreed, and we'd have to scatter these limits through dozens of queries, likely missing some and with a good potential for regression.

I do think language configuration changes are more major than some administrators expect them to be, so perhaps better guidance (confirmations when changing configuration) would be an easy start.

OK, let's go ahead with your solution. And I have to say that I sti

[2021-01-21 19:02] mfelczak commented on #6088
Just adding a +1 here. This bug was recently reported from a hosted OMP install running 3.2.1-1

[2021-01-21 19:13] asmecher commented on #6609
Apparently will also be addressed by https://github.com/pkp/pkp-lib/issues/6610#issuecomment-762695114

[2021-01-21 20:54] asmecher commented on #6490
Thanks, @defstat; still some broad clean-up needed, and it's getting closer, but we're on the verge of needing to either merge this for 3.3.0 or defer it for 3.3.1. Please have another good run through it, clear out some of the comments, and give it another test (I'm worried that the OMP implementation [might be broken](https://github.com/pkp/omp/pull/901#discussion_r562180863)) and let's see what

[2021-01-21 21:02] asmecher commented on #5523
With apologies, @ctgraham, I'm deferring this yet again -- I'm about to release 3.2.1-3 on more urgent matters and don't want to bring in a large last-minute merge. My fault!

[2021-01-21 22:54] asmecher commented on #6389
Tested & confirmed fixed with the new API URL with 3.2.1-3 and 3.3. Thanks, @dommitchell & @Steven-Eardley!

[2021-01-21 22:54] #6389 closed

[2021-01-21 22:57] asmecher commented on #6097
All resolved, closing!

[2021-01-21 22:57] #6097 closed

[2021-01-21 23:05] asmecher commented on #6449
I ... think that's it! I was expecting something much more complicated but I don't think there are other kinds of HTML-bearing notifications. Confirmed working for both toasty (edit user as manager) and non-toasty (user profile with high res screen) notifications. Please go ahead!

[2021-01-22 00:07] alexdryden commented on #6088
I was working on this right around when my partner got covid and it totally fell off my radar. I can submit a pull request when I'm back in the office next week for option 2 listed above, which is I think what I implemented for us.

[2021-01-22 00:36] asmecher commented on #6444
PRs:
- https://github.com/pkp/ojs/pull/3012/files
- https://github.com/pkp/pkp-lib/pull/6665/files
- OMP and OJS will just need the JS recompiled and DropdownHandler removed; I can do that once this has an OK.

@NateWr, could you have a quick look at these?

[2021-01-22 04:57] gireeshcse commented on #6646
Thanks @NateWr  for the info about the fix regarding the issue

[2021-01-22 07:57] jonasraoni commented on #6653
Ok! I can't remember very well the other case, but I think I was uploading a file somewhere and closed the window without adding extra details.

[2021-01-22 08:08] jonasraoni commented on #6652
I didn't install/enable anything... I was just navigating and saw it, I thought it was a video card glitch, but devtools showed me the empty div with this class o_O

[2021-01-22 08:12] jonasraoni commented on #6648
Ok! About using a single bar, this is what I meant:
![image](https://user-images.githubusercontent.com/361921/105464319-6ee6aa00-5ca2-11eb-814a-332089265740.png)

[2021-01-22 08:17] jonasraoni commented on #6643
Here I'm not sure if/what notifications should appear here (I was going to inspect the code to get a clue, but didn't), this is the description of my assignment: "Notifications update when revisions uploaded by author".

[2021-01-22 08:18] jonasraoni commented on #6642
I'm naturally unlucky 😁

[2021-01-22 13:42] njikonga-med commented on #6566
Hi guys, Waiting for this to be done, is there any thing that can i do in the meanwhile?
And I noticed that another advantage of being in the Plugin Gallery is the updating process of the plugin, there will be no more the requirements to install a compress file "*.tar.gz" in order to update as it's performed now, right?

Best regards,
Jehu Njikonga

[2021-01-22 16:10] adguah commented on #2564
Hello!

I am newbie to pkp (3.x). I am moving a science magazine to ojs and have run into this problem.

For the transfer I have created an xml importer that already works perfect. The magazine has many titles in HTML formats. The exporter moves them smoothly and protects problem characters appropriately. Everything is fine, but in the titles the problem reported here appears.

In my opinion, ther

[2021-01-22 18:00] emmauhl commented on #6597
I attempted to do an article import to get some dummy data for documentation writing and encountered this problem following the same steps, but contrary to Israel's video, I did get a list of validation errors in the results, which I will paste below just in case it's of use!

`Validation errors:
Element '{http://pkp.sfu.ca}revision': This element is not expected. Expected is one of ( {http://pkp.

[2021-01-22 18:26] asmecher commented on #6597
@emmauhl, what XML file are you uploading?

[2021-01-22 18:34] emmauhl commented on #6597
@asmecher A random selection of 5 or so articles from a 3.2 test journal - sorry for not clarifying!

[2021-01-23 03:01] henriqueramos commented on #5390
Seems everything ran smoothly. Could you please check @NateWr?

[2021-01-23 14:13] #6567 closed

[2021-01-23 17:09] Vitaliy-1 commented on #6663
PRs
pkp-lib master: https://github.com/pkp/pkp-lib/pull/6666
tests OJS master: https://github.com/pkp/ojs/pull/3013

[2021-01-23 17:33] Vitaliy-1 commented on #6663
What is happening here is that original Flysystem's  `Filesystem::getMimetype()` method [uses finfo](https://github.com/thephpleague/flysystem/blob/1.x/src/Adapter/Local.php#L323), which I  suppose has problems identifying the MIME type of a file without any internal pointers; at least it's relevant for CSS and JS, according to my tests. The new mime type detector class allows falling back to the

[2021-01-23 18:05] jonasraoni commented on #6603
@asmecher The `contrib-id` element came from this [newer version](https://jats.nlm.nih.gov/archiving/tag-library/1.2d1/element/contrib-id.html).

I've tried to discover which version Portico supports, but I couldn't find anything [in their guidelines](https://www.portico.org/wp-content/uploads/2018/02/P_JournalSubmissionGuidelines_180205.pdf) nor in Google.

I suppose we're safe to upgrade the doc

[2021-01-24 12:58] muhammadhamdani opened #6667 "Error An unexpected error occurred. You may have been logged out. Please reload the page and try again when create journal"
**Describe the bug**
Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.

**To Reproduce**
Steps to reproduce the behavior:
after Upgrade from 3.2.0.3
1. Go to menus administration
2. Click on Hosted Journal
3. Click on Create Journal
4. Fill out the Form
3. Klik Save
4. See error

**What application are you using?**
I Using OJS 3.2.1.2

**Addit

[2021-01-24 17:54] asmecher commented on #6667
@muhammadhamdani, could you post your question on our support forum at https://forum.pkp.sfu.ca? That's the best place to get help.

[2021-01-24 17:54] #6667 closed

[2021-01-25 10:18] NateWr opened #6668 "Public message when not accepting submissions is confusing"
**Describe the problem you would like to solve**
When a journal has disabled submissions, the public-facing submissions page includes the following message:

The sentence about workflow settings is shown to everyone, even when not logged in.

**Describe the solution you'd like**
Only journal managers should see the information about the workflow settings. Everyone else should only see the first se

[2021-01-25 10:20] NateWr commented on #6537
Merged. Closing again, thanks for the testing everyone!

[2021-01-25 10:20] #6537 closed

[2021-01-25 10:29] NateWr commented on #3180
Ah, that's a shame. I saw a couple of issues ([1](https://github.com/teamtnt/tntsearch/issues/114), [2](https://github.com/teamtnt/tntsearch/issues/210)) talking about alternate db implementations. I wonder if they'd accept a PR going forward...

[2021-01-25 10:34] NateWr commented on #6594
I agree. The complexity of multilingualism is under-appreciated and I think one of our unique advantages over other platforms. It's bound to be an uncomfortable fit in some cases, especially as journals evolve over time and add/drop support for languages (or publish one-off articles/issues in a new language).

Sorry, one more question came to mind. @asmecher should we try to clear out this default

[2021-01-25 10:41] #6449 closed

[2021-01-25 11:03] NateWr commented on #6648
Oh right, I remember that's what we used to have and I refactored away from that because it is not accessible. Now that I remember that, I think the current implementation _should be_ accessible, which is why there are two separate fields. I agree it's not totally intuitive but I can't think of a better way to do this while still keeping two independent fields with distinct labeling.

[2021-01-25 11:05] NateWr commented on #6643
Can you try to reproduce this and let me know specific reproduction steps? Especially the order of editor decisions , which editor decisions are taken, and what steps you take as an author?

[2021-01-25 11:12] NateWr commented on #2564
Thanks @adguah, you're right there is an inconsistency in the default theme regarding how titles are handled. In a summary, we use `strip_unsafe_html`, which will leave some HTML tags in place:

https://github.com/pkp/ojs/blob/master/templates/frontend/objects/article_summary.tpl#L43

In the full article page, we use `escape` which will escape them all:

https://github.com/pkp/ojs/blob/master/temp

[2021-01-25 11:22] NateWr commented on #5390
:tada: All merged, thanks @henriqueramos!

[2021-01-25 11:22] #5390 closed

[2021-01-25 11:29] Vitaliy-1 commented on #5396
Just encountered this during 3.3 testing. The opposite is true also, I mean when a user was assigned to a submission in the role with lower permissions level, e.g., translator, and then promoted to the role with higher permissions, e.g., proofreader, the user won't have access to the assigned submission according to the new role; in this case - production ready files. It's still an uncommon scenar

[2021-01-25 12:04] NateWr commented on #5396
Yes, but I think that this is as it should be. If a user is assigned to a submission as a translator, granting them a proofreader role should not give them proofreader access to all submissions where they are assigned a a translator. Someone with two roles can be assigned in either or both roles, to limit their access to a specific submission.

I think I disagree with myself now. :joy: The histori

[2021-01-25 12:28] NateWr commented on #6661
Yes, I discovered this as well but I don't think it is catching too many people out. Files should only require a filename in the primary (submission) locale. (In the long-term, I'd like filename to not be a multilingual field, but this will required changing publication formats in OMP because they use the filename directly.)

[2021-01-25 12:31] #6564 closed

[2021-01-25 17:03] adguah commented on #2564
Thanks @NateWr,

Just an opinion.

On the full article page, the article title appears in three places (plus meta name = "DC.Title" and meta name = "DC.Title.Alternative").

In the DOM document.title the best option, I think, is to remove all html tags. The escape option makes the tags visible, but not interpreted. It hampers readability without providing any benefit.

In the article title and in

[2021-01-25 17:28] asmecher commented on #6603
Hi @jonasraoni -- I've asked a contact there as well.

[2021-01-25 17:46] withanage commented on #6493
Note : https://github.com/pkp/omp/pull/915/

[2021-01-25 17:57] withanage commented on #5686
This requirement was implemented  for OMP 3.2.1 and is currently  reviewed.

https://github.com/pkp/omp/pull/915/

Thanks  a lot Monica @mwestin-googlescholar  for the  valuable support with specification !

The support will be added to  OMP 3.3  in the coming days.

[2021-01-25 18:10] luizbgomide opened #6669 "Images in Static Pages can't have user defined sizes"
**Describe the bug**
The `width `and `height` attributes are ignored for `img` tags. The default CSS overides those tags (as can be seen in the image below).

![image](https://user-images.githubusercontent.com/18707781/105747360-72d33000-5f1f-11eb-957b-eecad2973ccb.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a static page.
2. Add an image to it and constrain its size.
3. The

[2021-01-25 19:46] asmecher commented on #6246
New issue filed here --> https://github.com/pkp/pdfJsViewer/issues/60

[2021-01-25 20:02] #6444 closed

[2021-01-25 20:16] asmecher commented on #6444
Committed (and also removed missing file from OMP and OPS JS build lists).

[2021-01-25 20:39] withanage commented on #5686
OMP 3.3 PR https://github.com/pkp/omp/pull/916

[2021-01-25 20:47] withanage commented on #6493
Note : https://github.com/pkp/omp/pull/916/

[2021-01-25 23:00] asmecher commented on #6603
Hi @jonasraoni ! Here's Portico's feedback:

Can you give me more information on the client's interest in adding ORCIDs, since Portico seems to prefer not to have them?

[2021-01-25 23:20] muhammadhamdani opened #6670 "Error Create Journal"
**Describe the bug**
Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to menu administration
2. Click on Hosted Journal
3. Click on Create Journal
4. Fill Out The Form
3. Click on Save
4. See error

**What application are you using?**
 OJS version 3.2.1.3

**Additional information**
Ple

[2021-01-25 23:26] asmecher commented on #6670
@muhammadhamdani, see https://github.com/pkp/pkp-lib/issues/6667#issuecomment-766402671.

[2021-01-25 23:26] #6670 closed

[2021-01-25 23:36] asmecher commented on #2564
Until we have a proper solution in place for this, we should be using `escape` to display titles throughout so that special characters are not accidentally interpreted as HTML (e.g. `p<15`; `Mr & Mrs Smith`). Variations from this are strictly bugs until we add proper support for rich text editing in titles and, as part of that process, convert all existing titles from plain-text to HTML during upg

[2021-01-25 23:37] librariam commented on #4246
+1 more from PKP|PS to have reviewers from the previous round prominently displayed when selecting for the 2nd round

[2021-01-25 23:38] asmecher commented on #5686
Both PRs merged -- thanks, @withanage and @mwestin-googlescholar!

[2021-01-25 23:38] #5686 closed

[2021-01-25 23:38] asmecher commented on #6493
This should be resolved by the above PRs, which have been merged -- thanks, @withanage!

[2021-01-25 23:38] #6493 closed

[2021-01-26 01:49] asmecher commented on #6625
Hi @NateWr -- good spotting throughout. Some answers to your questions:

Yes, please do.

This is not ideal and I'll have to think about a better solution. In the meantime, I think the best way to at least keep consistent is to add a tombstone when a new version is created, so that harvesters can be informed that the old version is gone. Alternately we could simply disable tombstone support and in

[2021-01-26 07:11] jonasraoni commented on #6603
@asmecher They are using the Portico plugin solely as a way to get articles in the JATS format for https://acm.org.

But well, since Portico accepts the latest version of JATS, we're safe to upgrade the doctype, keep the `contrib-id`, and maybe add something else (I'd need to take a look at the available tags and compare with what we have).
Pity that there isn't an universal transform tool out the

[2021-01-26 10:09] NateWr commented on #2429
This has been addressed as part of #6478. All fonts are served from self-hosted files instead of Google's CDN.

[2021-01-26 10:09] #2429 closed

[2021-01-26 14:02] bozana opened #6671 "no router object when executing scheduled tasks"
**Describe the bug**
when executing a scheduled task via cli i.e. not using web interface (e.g. as a cron job) that uses guzzle http client (e.g. medra, datacite, crossref, doaj) the following error occur:
Error: Call to a member function getContext() on null
/home/bozana/pkp/ojs-master/lib/pkp/classes/core/PKPApplication.inc.php:422
/home/bozana/pkp/ojs-master/lib/pkp/classes/core/PKPApplication.

[2021-01-26 14:05] bozana commented on #6671
PR:
pkp-lib: https://github.com/pkp/pkp-lib/pull/6672

[2021-01-26 14:06] bozana commented on #6671
@asmecher, I've tested it with medra and datacite scheduled tasks and it worked, so I merged. OK so?

[2021-01-26 14:09] bozana opened #6673 "datacite bugs"
during testing of datacite scheduled task I found some other bugs. the pr is coming

[2021-01-26 14:09] bozana commented on #6673
PR:
https://github.com/pkp/ojs/pull/3014

[2021-01-26 14:10] bozana commented on #6673
@NateWr, here is the issue connected to the PR I asked you to take a look :-)

[2021-01-26 14:11] NateWr commented on #6478
Changes to Health Sciences and Bootstrap3 have been merged, and I added a readme with license information to the directories were our core fonts are stored. I think that's everything! :tada:

[2021-01-26 14:11] #6478 closed

[2021-01-26 14:42] NateWr opened #6674 "Add tests for distribution feeds"
**Describe the problem you would like to solve**
Machine-readable feeds such as OAI and RSS are important tools for distributing published material. However, these feeds are not visible during normal development in the same way as an article landing page or issue table of contents. Because of that, bugs can go unnoticed.

**Describe the solution you'd like**
Automated tests should be written to te

[2021-01-26 15:24] NateWr commented on #6625
Thanks @asmecher, I've backported the fix to only show published items to `stable-3_2_1` and filed an issue for the distribution tests (https://github.com/pkp/pkp-lib/issues/6674).

The following PRs fix tombstone handling in OMP so that pub format tombstones exist for any published versions except the current version. And I've fixed some issues with the add/delete of tombstones as a context is en

[2021-01-26 16:28] bozana commented on #6566
PR:
https://github.com/pkp/ojs/pull/3016 (deletion of the medra plugin from ojs core code)

[2021-01-26 16:29] bozana commented on #6566
New medra repository: https://github.com/pkp/medra
PR for the plugin gallery: https://github.com/pkp/ojs/pull/3016

[2021-01-26 16:31] bozana commented on #6566
@asmecher, I hope I have considered/done everything for this movement. Could you please take a look, and can we then merge the PR (above) that deletes the medra plugin from the ojs core? Thanks a lot!

[2021-01-26 16:42] bozana commented on #6566
Hmmm... Maybe one more question:
There can be some entries in the DB tables: filters, filter_settings, plugin_settings, scheduled_tasks, versions, as well as issue_settings, submission_settings, publication_galley_settings. Can they stay as they are? -- The users using medra plugin will then need to install it from the plugin gallery in the next version, right?

[2021-01-26 16:51] defstat commented on #6609
@asmecher

**PR**
[OMP]: pkp/omp#917

This is also added to #6490 (see https://github.com/pkp/omp/pull/901/commits/bfaf1748eccf0745ce4b8e8503f100870d0637f4)

[2021-01-26 17:18] defstat commented on #6590
@asmecher

**PRs**
[OJS]: pkp/ojs/pull/3017
[OMP]: pkp/omp/pull/918

Those changes are also added to #6490 (see https://github.com/pkp/pkp-lib/pull/6491/files#diff-5a198b5180c92443e519000b8662280e0be2114da2641c1c8149055ab8cffc8cR117). The `parseOpts` function is added to the common library.

Also there are more fixes regarding the CLI tool in #6490

[2021-01-26 17:57] jnugent commented on #3483
Hey @asmecher, hate to bring up an old closed issue, but this particular issue is still a problem for non-expiring institutional subscriptions, in 3.2.1-2.  We've a hosted client that recently upgraded to OJS3, and their non-expiring institutional subscriptions cannot be edited because the start and end dates are required in the `templates/payments/institutionalSubscriptionForm.tpl` template, but

[2021-01-26 18:06] carolinatanigushi commented on #5740
It's still been happening in OPS for us, though less frequently. We had a new case today. If you need error logs or the like, please contact me and we can provide you with it.

[2021-01-26 18:32] asmecher commented on #3483
@jnugent, I suspect that's https://github.com/pkp/pkp-lib/issues/6510, which is fixed in 3.2.1-3.

[2021-01-26 18:34] jnugent commented on #3483
Ah thanks!  I'll use that!

[2021-01-26 18:50] mfelczak opened #6675 "Review auto-complete performance when enrolling user as reviewer"
**Describe the problem you would like to solve**
When trying to enroll an existing user as a reviewer via autocomplete during reviewer selection, an editor running a journal with a large user list reported that the autocomplete wasn't working, but in fact there was a long delay before matches were being displayed.

**Describe the solution you'd like**
It may be possible to optimize the auto-comple

[2021-01-26 19:38] jonasraoni commented on #6603
PR for master: https://github.com/pkp/portico/pull/1
As I'll have to update the 3.1.2 branch, I'll create more PRs.

[2021-01-26 19:52] asmecher commented on #6603
@jonasraoni, I'm in the process of adding support for multiple recipients in order to support deposit with LOC as well as Portico (https://github.com/asmecher/portico/tree/support-multiple-endpoints-and-sftp) -- I haven't factored in a change of DTD in the process, and would not rather move an "official" Portico plugin away from the DTD they'd rather support without doing some more digging first.

[2021-01-26 20:47] bozana commented on #6566
@njikonga-med, this will come with the next 3.3 release, which is coming in a week or so. And yes, the updates will then be easier - no more deal with .tar.gz.

[2021-01-26 21:11] #6673 closed

[2021-01-26 21:30] asmecher commented on #6474
A representative test with ~27k submission files gets through a complete upgrade in 24 minutes. That's good enough for the moment, I think.

[2021-01-26 21:30] #6474 closed

[2021-01-26 21:31] asmecher commented on #6474
Done! https://github.com/pkp/pkp-lib/commit/dde63cd8c6d4aad84c6d37bce0826a41141486df

[2021-01-26 21:38] asmecher commented on #6671
Yes, and looks like it's already merged, so please go ahead and close this if you're ready!

[2021-01-26 22:02] asmecher commented on #6590
Merged -- thanks, @defstat!

[2021-01-26 22:02] #6590 closed

[2021-01-26 22:03] benaltair opened #6676 "Add autocomplete attributes to password fields"
I would like to suggest that proper autocomplete attribute tags be added to the password fields of sign-in and registration forms in OJS. Chromium now provides the following warning in the console when visiting an OJS journal:
[code]
This is an extension of the accessibility work done on https://github.com/pkp/pkp-lib/issues/5185

Specifically, all password fields should either:
- Use `autocomplet

[2021-01-26 22:04] asmecher commented on #5740
@carolinatanigushi, what would be most helpful is if someone on your end can look for the URL that displays this error, and check further back in the log to see when the last time was that it was successfully displayed. That will establish the window of time during which the problem was introduced. Then trace the user's path through the system by looking at log entries for their IP address between

[2021-01-26 22:18] asmecher commented on #6609
Added some review comments to pkp/omp#917, thanks!

[2021-01-26 22:22] asmecher commented on #6566
Those all look good, thanks, @bozana! Please go ahead and merge. Yes, the settings can stay where they were.

[2021-01-27 03:21] asmecher commented on #6419
I've implemented something like you described in your comment, @NateWr. It's a bigger feature than I'd like to be adding so close to 3.3.0 being released, but I think it's important and the changes are almost all additions without impact on existing features. Could you have a look?

PRs:
- https://github.com/pkp/ui-library/pull/141
- https://github.com/pkp/ojs/pull/3018

I'm not thrilled about add

[2021-01-27 08:14] jonasraoni commented on #6603
Ok! Let's postpone this update =]

---

Once there's a confirmation, it would be better to replace the local serialization by this plugin, as it will decrease the maintenance/code duplication.

Ideally the plugin should provide different serialization formats, then we could already adopt it here.
It's just needed to come up with a good idea to decrease the maintenance of updating every format (tur

[2021-01-27 08:38] #6671 closed

[2021-01-27 11:04] NateWr commented on #6675
The method to be optimized is `UserGroupDAO::getUsersNotInRole()`.

[2021-01-27 11:15] NateWr commented on #6594
All merged. During upgrade we'll [clean out data for unused locales](https://github.com/pkp/pkp-lib/blob/master/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php#L168-L193). I've added a note on this to the [release notebook](https://github.com/pkp/pkp-docs/commit/df1b07e9c3a4424cbba38c290f33612af7ad647a#diff-c83338c721042bfbaf766a39423410127e095a0a1d4335f6475af689020bf585R133).

[2021-01-27 11:15] #6594 closed

[2021-01-27 11:36] NateWr commented on #6668
PR:
https://github.com/pkp/pkp-lib/pull/6677

Tests:
https://github.com/pkp/ojs/pull/3019

[2021-01-27 11:45] NateWr commented on #6625
Both PRs are merged. I'll leave this open pending the questions in the last comment.

[2021-01-27 12:06] NateWr commented on #6633
PR:
https://github.com/pkp/pkp-lib/pull/6678

Tests:
https://github.com/pkp/ojs/pull/3020
https://github.com/pkp/omp/pull/919

[2021-01-27 12:24] NateWr opened #6679 "Fatal error with googleScholar plugin when previewing article"
**Describe the bug**
When previewing an unpublished article I receive a fatal error from the Google Scholar plugin. I am logged in as a manager.

**To Reproduce**
Steps to reproduce the behavior:
1. Find an unpublished submission (ex - in Production stage)
2. Open workflow page
3. Click preview
4. See error

**What application are you using?**
3.3 RC2

**Additional information**
The error:
[code]

[2021-01-27 12:32] NateWr commented on #6679
PR:
https://github.com/pkp/googleScholar/pull/5

Tests:
https://github.com/pkp/ojs/pull/3021

@amandastevens and @librariam, this probably indicates something to add to the testing list for future rounds: the feature to preview unpublished submissions. Often if data is missing (in this case, an issue assignment) it can cause problems on the article landing page (or galleys). It may also be worth d

[2021-01-27 12:35] NateWr opened #6680 "Add integration tests for article previews"
The article and book landing page, as well as galleys, can be previewed before being published. This can lead to unexpected errors when the page has been designed expecting data that is not yet set. For example, when the article landing page expects an issue but the submission has not yet been assigned.

Integration tests should be added to check for:

- [ ] Fatal errors on the article landing pag

[2021-01-27 12:53] NateWr commented on #6563
@asmecher can you double-check I haven't done something stupid here? Not urgent for 3.3.

PR:
https://github.com/pkp/ojs/pull/3022

[2021-01-27 14:24] bozana commented on #6566
Thanks @asmecher! Merged and tested, everything seems to be OK, thus closing...

[2021-01-27 14:28] #6668 closed

[2021-01-27 16:23] Vitaliy-1 commented on #6675
I'm wondering how large is a user list there. I'm doing some tests and it feels more or less comfortable using autocomplete field in the form after populating the database with 50k users, with 50% of them having a reviewer role. Looking at the time to complete the request, autocomplete request takes from 1 to 15 sec with a dependency from a number of matched reviewers returned.
On the second look,

[2021-01-27 17:13] asmecher commented on #6609
Merged, thanks!

[2021-01-27 17:24] NateWr opened #6681 "GET request to /contexts API endpoint causes 500 error"
**Describe the bug**
When making a GET request to `/_/api/v1/contexts` the server returns a 500 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `http://yoursite.com/_/api/v1/contexts` in your browser.
4. See error

**What application are you using?**
3.3 RC2

[2021-01-27 17:30] NateWr commented on #6675
Oh, yeah, it could be the number of requests that's the real problem here... Can I double-check what you're doing @Vitaliy-1? Is this from the reviewers grid or from the users grid?

:thinking:

[2021-01-27 17:30] #4915 closed

[2021-01-27 17:58] #6679 closed

[2021-01-27 19:01] pmangahis opened #6682 "Enabling Clockss and Lockss does not add license in About the Journal page"
**Describe the bug**
In OJS 3.2, users are under the impression that a Lockss/Clockss license should appear on About the Journal page when these checkboxes are enabled.

![image](https://user-images.githubusercontent.com/50342731/106039613-29552300-608e-11eb-9b75-520bd290ef92.png)

However, there is no change to the frontend About Journal page after these are enabled.

**To Reproduce**
Steps to re

[2021-01-27 19:46] withanage commented on #6617
Hi @asmecher ,

I released the orcidPfrofile Plugin  [1.1.2.8](https://github.com/pkp/orcidProfile/releases/tag/v1_1_2-8 ) in

**PR :**
https://github.com/pkp/plugin-gallery/pull/27

Current version supports:
- [x] OJS 3.3. support
- [x] OPS 3.3. support
- [x] Error handling Guzzle
- [x] Member API publication update

**Notes:**

CSL  plugin  does not support OPS  at the moment https://github.com/

[2021-01-27 19:55] withanage commented on #6617
Hi @asmecher ,

What would be the procedure for the submodule update ?

- [ ] Update the submodules in the application repositories accordingly

I have checked the git submodules https://github.com/pkp/ojs/blob/master/.gitmodules  or is it in another place.

[2021-01-27 20:03] jonasraoni commented on #6603
@asmecher I've updated the PR to remove the tag, but I've left some fixes.

[2021-01-27 20:47] diegoabadan commented on #4023
Hi @asmecher ,

We have an example here:
https://revistadpers.emnuvens.com.br/defensoria/article/view/193

See the title inserted in the metadata:

![image](https://user-images.githubusercontent.com/15090895/106051246-f8451480-60c6-11eb-926b-050cb0fc713f.png)

And there is the problem that Alex reported.

I noticed that OJS converts to HTML when viewing the page's source code. An example:
`<meta n

[2021-01-27 21:03] jnugent opened #6683 "Ordering of sidebar blocks changed upon visiting the settings form"
This is a new version of the same bug that was previously filed and closed here: https://github.com/pkp/pkp-lib/issues/4896

Found in stable-3_2_1

The `PKPAppearanceSetupForm `class loads the stored sidebar setting from the context, but does not sort the presented values in the management form according to it.

`$sidebarOptions` here needs to be sorted:

https://github.com/pkp/pkp-lib/blob/master

[2021-01-27 22:02] asmecher commented on #6617
Thanks, @withanage!

[2021-01-27 22:03] asmecher commented on #6617
Please do commit a submodule update in the `master` branch corresponding to the version you just released. Like this:
[code]

[2021-01-27 23:32] asmecher commented on #6603
@jonasraoni, with apologies for the whiplash, Portico has double-checked and actually they are fine with JATS -- as is LOC. Could you re-add the DTD change and ORCID? Last time, I promise :)

[2021-01-28 02:30] asmecher commented on #6625
Yes, please file this!

I don't *think* so... OAI data consumers should be resilient about deletion data, and as long as actual data gets properly delivered, I think trying to clean this up without doing a pretty thorough review first would just compound the problem.

[2021-01-28 07:09] jonasraoni commented on #6603
The ORCID is back, should I send PRs for the 3.x branches?

[2021-01-28 07:26] jonasraoni opened #6684 "[Portico Plugin] Replace the local JATS serialization by the JATS Template Plugin"
In order to decrease the maintenance job we can replace the current serialization by the [JATS Template Plugin](https://github.com/pkp/jatsTemplate/).

[2021-01-28 07:54] jonasraoni commented on #6684
1. Let me know if I should open an issue in the JATS Template Plugin to make it more configurable, like being able to specify a preferred JATS version.

2. As the JATS plugin will become a dependency, it came to my mind that we could use composer to install/manage the OJS plugins, so we could deploy everything as packages and get some stats for free. If you think it's worth I can open an issue to

[2021-01-28 09:18] mpbraendle commented on #6632
Hmm. Is the composer binary itself somewhere installed within the OJS package? I can't find it using a recursive find in my OJS root directory. I would have expected such a tool within tools or lib/pkp/tools.

[2021-01-28 09:21] #6625 closed

[2021-01-28 09:21] defstat commented on #6609
I am reopening this because I have stumbled into a problem regarding the ONIX export filter.

There are two Filters with the same name trying to be added to the db.

The one is https://github.com/pkp/omp/blob/master/plugins/importexport/native/filter/filterConfig.xml#L72 and is checked against https://github.com/pkp/omp/blob/master/plugins/importexport/native/filter/filterConfig.xml#L76 xsd. Those

[2021-01-28 09:23] NateWr opened #6685 "OPS should support tombstones for deleted content"
**Describe the problem you would like to solve**
The OAI feed provides data about published items. When a published item is later removed from publication, a tombstone appears in the feed identifying the item that was removed. This works for OJS, which lists articles, and OMP, which lists publication formats. But OPS does not support tombstones in its OAI feed.

**Describe the solution you'd like*

[2021-01-28 09:28] Vitaliy-1 commented on #6675
I was exploring Advanced Reviewer Search Form
![reviewerSearch](https://user-images.githubusercontent.com/20665587/106117397-a5696c80-615b-11eb-95b3-c7781320d540.png)
The one that appears when adding a reviewer during the review stage (3.2.1 and master). Or is this about another form/input?

[2021-01-28 09:30] NateWr commented on #6675
I _think_ this is what happens when you try to enroll an existing reviewer.

![enroll-reviewer](https://user-images.githubusercontent.com/2306629/106117963-7c40e000-614b-11eb-9814-585ec35712a4.png)

[2021-01-28 10:10] Vitaliy-1 commented on #6675
My bad, was looking at the wrong form. This autosuggest works even faster. Let me try on a bigger number of users

[2021-01-28 10:19] NateWr commented on #6675
@mfelczak did you confirm that this is a problem with OJS? Or is it possible that this user just encounter some network latency?

[2021-01-28 11:19] defstat commented on #6609
@asmecher

Fixing:
- Multiple filters with same name
- `audience, audienceRangeQualifier, audienceRangeExact, audienceRangeFrom, audienceRangeTo` fields attached to submission
- Missing `PublicationFormat`->`identificationCode` or `doi` results to xsd validation failure - Custom identification (the Id of the PublicationFormat) added in case of no other identification present.

**PR**
[OMP]: pkp/om

[2021-01-28 12:29] withanage opened #6686 "ROR Plugin Version 2.0"
This feature is a continuation of the ROR support wich was added in issue #5912

 Currently planned  features

- [ ]    OpenAire / Datacite / Crossref Support

- [ ]   Usability requests specially for dissemination plugins

**Additional information**

Older issues :  #5912

Features in versio 3: https://github.com/withanage/ror/#release-30

[2021-01-28 12:32] withanage commented on #5912
HI all,

ROR ID  Plugin will support the upcoming  OJS 3.3 and this issue will be closed after adding the plugin to the plugin gallery.

https://github.com/pkp/plugin-gallery/pull/28

Next iteration of the developments are described in the Issue #6686

Please subscribe to that ticket, if you are interested in the updates.

[2021-01-28 13:19] Vitaliy-1 commented on #6675
Seems I'm able to reproduce the problem with 100k registered users, although it's happening only under certain keywords. It's not PHP, I think sending a large number of results in a response causes browser's memory leakage. It's relevant for Google Chrome, Firefox seems not affected. The latter truncates the response to 7.99 MB. Maybe just set a limit to a number of results returned?

[2021-01-28 13:31] NateWr commented on #6675
Perfect. `$rangeInfo` can be added as the fourth method argument here: https://github.com/pkp/pkp-lib/blob/master/classes/controllers/grid/users/reviewer/PKPReviewerGridHandler.inc.php#L402

[2021-01-28 13:39] NateWr commented on #6684
I think we should bring this into the core application, rather than keeping it as a plugin. We will need a consistent way to generate a JATS file from a publication's metadata for a few different purposes. Bringing this work into OJS will make it available for other purposes, including JATSParserPlugin, OAI, Portico, and our planned work on full-text JATS editing.

[2021-01-28 13:44] NateWr commented on #6681
PR:
https://github.com/pkp/pkp-lib/pull/6687

Tests:
https://github.com/pkp/ojs/pull/3024

[2021-01-28 13:57] withanage commented on #6617
Thanks  @asmecher

PRS for submodule update

- https://github.com/pkp/ojs/pull/3023
-  https://github.com/pkp/ops/pull/114

[2021-01-28 15:01] #6681 closed

[2021-01-28 16:24] asmecher commented on #6632
@mpbraendle, no, Composer isn't included in OJS. We consider that a system dependency, to be installed separately.

[2021-01-28 16:31] jonasraoni commented on #6684
I'm not aware of how many publication formats exist out there, but looks like JATS is a de-facto standard... Anyway, given the amount of dependencies, it makes sense to have it integrated =]

[2021-01-28 16:34] asmecher commented on #6684
I'd like to have a quick conversation during e.g. a dev call about the best starting point for this -- we're generating JATS both in the Portico plugin and in the JATS Template plugin. I believe the JATS Template plugin has received more finessing as part of Coalition Publica, so IMO it makes sense to start from that, but a comparison against Portico to look for discrepancies woudn't be a bad idea

[2021-01-28 16:48] asmecher commented on #6617
All merged, thanks!

[2021-01-28 16:48] #6617 closed

[2021-01-28 16:52] #6419 closed

[2021-01-28 17:38] #6633 closed

[2021-01-28 18:10] asmecher commented on #6609
Thanks, @defstat, that makes sense. The tests were failing, but that appears to be due to a missing submodule update in `master` which I'm fixing and verifying separately.

[2021-01-28 18:16] pmangahis opened #6689 "Option to disable reviewer upload"
**Describe the problem you would like to solve**
Journal Editor of a hosted client would like the ability to disable file uploads by the reviewer as they would like all reviewers to use the online form they've set up for the peer review.

**Describe the solution you'd like**
Perhaps having a permission toggle similar to 'Edit metadata' (for authors) would help with this.

**Who is asking for this

[2021-01-28 18:21] asmecher commented on #6603
Thanks, @jonasraoni! Yes, please do back-port to `stable-3_2_1`, `stable-3_1_2`, and `stable-3_1_1`.

[2021-01-28 18:41] kshuttle opened #6690 "Add Traditional Knowledge Labels in OJS"
**Describe the problem you would like to solve**
**In brief**
Incorporating Traditional Knowledge Labels into OJS, at the journal and article level, would support the decolonization of scholarly publishing and allow for more nuanced and appropriate access protocols for Indigenous Traditional Knowledge.

**More context**
Open Access, peer reviewed journals reflect a Western-European idea that infor

[2021-01-28 19:08] #5912 closed

[2021-01-28 19:52] asmecher opened #6691 "OJS/OMP/OPS 3.3.0 plugin updates"

[2021-01-28 20:11] defstat commented on #6609
Reopening that to fix a bug

**PR**
[OMP]: pkp/omp#922

[2021-01-28 21:24] drugurkocak opened #6692 "Fatal Error during upgrade from OJS 3.2.1.3 to 3.3.0 RC2"
**Describe the bug**
Hi,
I am testing OJS 3.3.0RC2 obtained from https://forum.pkp.sfu.ca/t/ojs-omp-ops-3-3-community-testing/64628.
Clean install runs very well. I am able to install themes from plugin gallery, and perform all editorial processes.

I tried to upgrade a clone of live ojs 3.2.1.3 journal.
Both on command line and web interface, I get the following error;

It might have been reporte

[2021-01-28 22:04] asmecher commented on #6692
@drugurkocak, this seems like a duplicate of: https://github.com/pkp/pkp-lib/issues/6587
Could you try that resolution?

[2021-01-28 22:04] #6692 closed

[2021-01-28 23:47] asmecher commented on #6566
Sorry, one problem due to data in `filter_groups`! See https://github.com/pkp/ojs/commit/f32d0e227ca30f11229e3fac0f3fcf433b938dd4.

[2021-01-29 11:07] Vitaliy-1 commented on #6675
I was doing some tests yesterday, my proposal is to
- Set DB limit to 20k
- Show only most relevant results calculated by Levenshtein distance

branch: https://github.com/Vitaliy-1/pkp-lib/tree/i6675_autocomplete_limit
@NateWr does it feel like the right way to you?

[2021-01-29 13:48] bozana commented on #6566
@asmecher, could you please take a look at the PR: https://github.com/pkp/ojs/pull/3025 ?

[2021-01-29 16:52] ewhanson commented on #5388
Hey @asmecher, I've created PRs for this for 3.2.1 that cover this issue and #6626. For the OJS PR, it includes a code change and a submodule update. Should the submodule update be added separately as its own commit? If so, could you remind me of the preferred format for those?

If this looks okay, I'll make against master as well.

PRs:
#6693
pkp/ojs#3027

Thanks!

[2021-01-29 18:24] drugurkocak commented on #6692
Dear @asmecher
Thank you very much. After applying that fix, the upgrade started properly. Now, I am getting the error in that page https://github.com/pkp/pkp-lib/issues/6565#issue-783579910. Before opening a new issue,  I am double checking if it was reported before :)
Best regards,

[2021-01-29 18:35] asmecher commented on #6692
@drugurkocak, if you're able to work with the git repository directly, the current `master` branch has all these fixes and more :)

[2021-01-29 18:55] drugurkocak commented on #6692
Dear @asmecher
Thank you very much, your support is motivating me. I previously started wit git install, but I get a different error after install. The error was;
Fatal error: Cannot redeclare __() (previously declared in /home/adlitip/public_html/lib/pkp/lib/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php:893) in /home/adlitip/public_html/lib/pkp/classes/i18n/PKPLocale.inc.php on l

[2021-01-29 19:01] asmecher commented on #6692
The Composer installer should apply a patch that resolves this; watch the output of `composer install` (executed in `lib/pkp`) to see if the patch is applied successfully.

[2021-01-29 19:41] drugurkocak commented on #6692
Dear @asmecher
The error message I remember was actually "Could not apply patch! Skipping. The error was: Cannot apply patch lib/laravel-helper-4017.diff". I found this from Safari search history.

I can apply the fixes if explained in detail, but I can't make any action if not explained anywhere.
So, I couldn't fix the error that "composer couldn't apply the patch" :)
I don't want to consume your

[2021-01-29 20:09] asmecher commented on #6691
@defstat, could you put together a build of the PKP|PN plugin for OJS 3.3?

[2021-01-30 00:17] asmecher commented on #6691
@withanage, could you put together a build of the Texture plugin for OJS 3.3?

[2021-01-30 00:18] asmecher commented on #6691
@bozana, could you put together a build of the Paperbuzz plugin for OJS 3.3?

[2021-01-30 00:56] asmecher commented on #6691
@withanage, could you also do LensGalleyBits?

[2021-01-30 01:18] asmecher commented on #5388
Looks good -- thanks, @ewhanson! If you're able to forward-port this to `master` before approx. mid-day Monday, I can get this included in 3.3.0 as well.

[2021-01-30 01:29] asmecher commented on #6691
@jonasraoni, is the registration notification plugin compatible with OJS 3.3.0?

[2021-01-30 01:31] asmecher commented on #6691
@NateWr, is the Control Public Files plugin compatible with 3.3? If not, could you make a new release for it?

[2021-01-30 01:32] asmecher commented on #6691
@NateWr, likewise for Text Editor Extras?

[2021-01-30 01:32] asmecher commented on #6691
@ajnyga, do you know if the Returning Author screening plugin is compatible with 3.3.0?

[2021-01-30 01:34] asmecher commented on #6691
Still needing my attention:
 - [ ] Sword client plugin
 - [ ] Sword server plugin
 - [ ] Portico
 - [ ] Custom locale plugin
 - [ ] Subscription SSO plugin

[2021-01-30 01:35] asmecher commented on #6609
Merged that fix -- thanks, @defstat!

[2021-01-30 01:35] #6609 closed

[2021-01-30 01:37] asmecher commented on #6643
@jonasraoni, I'm deferring this to 3.3.0-1 because we're releasing 3.3.0 shortly, but if you're able to include reproduce steps ASAP that'll help!

[2021-01-30 01:38] asmecher commented on #6663
@Vitaliy-1, I'm hoping to release 3.3.0 on Monday, so please see if you can resolve this soon, thanks!

[2021-01-30 01:39] asmecher commented on #6387
@henriqueramos, this is currently assigned to OJS/OMP/OPS 3.3.0, which is due for release on Monday; it's not a show-stopper for that release, so I can defer it if you need more time, but please let me know either way, thanks!

[2021-01-30 01:39] asmecher commented on #6566
Thanks, @bozana, that should do it!

[2021-01-30 01:39] #6566 closed

[2021-01-30 02:29] ewhanson commented on #5388
Thanks, @asmecher! Will do.

[2021-01-30 06:48] jonasraoni commented on #6603
@asmecher Follow the PRs:
[3.1.1](https://github.com/pkp/portico/pull/4)
[3.1.2](https://github.com/pkp/portico/pull/2)
[3.2.1](https://github.com/pkp/portico/pull/3)

[2021-01-30 08:34] hmarschall commented on #1822
Would be very relevant for an open-source free-to-publish Journal I am serving for in the editorial board. Unfortunately, there is only the plugin for OJS2, we would need it for OJS3.

[2021-01-30 12:31] jonasraoni opened #6694 "[Plugin][Registration] Unexpected behavior"
**Describe the bug**
Since the plugin isn't site-wide, if an user registers himself through the route `/index/user/register` instead of `{journal}/user/register`, the plugin won't do anything.

For this specific case I see some solutions:
- A. Send notifications for all the configured contexts (as the role isn't required, maybe it's better to go with `B`).
- B. Retrieve the recipients based on the

[2021-01-30 12:43] jonasraoni opened #6695 "Unable to edit an email template created by a plugin"
**Describe the bug**
I'm unable to edit the email template which was added by the [Registration Notification Plugin](https://github.com/pkp/registrationNotification).

The following error comes from the request:
[code]

**To Reproduce**
Install the plugin then try to edit its email template (`REGISTRATION_NOTIFICATION`).

**What application are you using?**
OJS 3.3

**Additional information**
- Th

[2021-01-30 12:51] jonasraoni opened #6696 "[Plugin][Registration Notification] The plugin is mistakenly checking if it's active using the main context settings"
**Describe the bug**
The plugin is checking if it's active using the "main context", but it's currently not a site-wide plugin.

**What application are you using?**
OJS 3.3

**Additional information**
[`$this->getEnabled($mainContextId)`](https://github.com/pkp/registrationNotification/blob/master/RegistrationNotificationPlugin.inc.php#L24)

[2021-01-30 12:56] jonasraoni commented on #6691
@asmecher I've just checked, and it works... But I found some generic issues, I've opened these issues:
#6694: I'll wait for comments, I've left the options ordered by my opinion).
#6695: Looks like it's a global issue.
#6696: Fast fix

[2021-01-30 20:08] jonasraoni commented on #6643
I've forgotten the steps, so I've re-executed everything after pulling some updates 👀
1. Logged in with all accounts using private tabs/different browsers.
2. Author: Created a submission
3. Manager: Assigned an editor to the submission
4. Manager: Sent to review
5. Manager: Assigned reviewer
6. Reviewer: Sent review
7. Editor: Requested revision
8. Author: Sent revision + uploaded new files

At t

[2021-01-31 13:39] jonasraoni commented on #6639
I've just checked this issue again and the request is reaching the endpoint, the problem is just that PHP doesn't handle the `multipart/form-data` for `PUT` the same way it handles the `POST`.

I consider the `X-Http-Method-Override` a hack, but it works! I'd rather search for a reliable body parser, but feel free to close the issue =]

[2021-01-31 16:28] #6640 closed

[2021-01-31 18:01] amandastevens commented on #5953
There is also [an open issue](https://github.com/pkp/pkp-lib/issues/3646) to use the PUBLISH_NOTIFY template instead of the generic NOTIFICATION template when a new issue is published. Is it possible that the PUBLISH_NOTIFY template will be used or is it better to add the publication information to the NOTIFICATION template? If the PUBLISH_NOTIFY template will not be used, I suggest we remove it f

[2021-01-31 18:43] drugurkocak commented on #6692
Hi,
Just to give you information, the error that I faced which composer couldn't apply the patc;
 "Could not apply patch! Skipping. The error was: Cannot apply patch lib/laravel-helper-4017.diff"
has also been reported in;
https://github.com/pkp/pkp-lib/issues/6413
The error was resolved after installing the patch command via yum.
I'm again sorry for the confusion.
Regards,

[2021-02-01 01:51] ewhanson commented on #5388
Hi, @asmecher. Here are the PRs for `master`. Thanks!

PRs:
#6697
pkp/ojs#3028

[2021-02-01 10:50] NateWr commented on #6675
I like that you're taking relevance into account, but I worry about the CPU cost of running that against 20,000 users. Just taking 20,000 rows from the db and converting them into `User` objects is going to use a lot of memory. This isn't really my area of expertise, but it seems to me like it could be a problem.

My sense is that this is something that probably should be addressed on the user-fac

[2021-02-01 10:57] NateWr commented on #6639
We're using the [Slim Framework](https://www.slimframework.com/) to handle API requests and parse the request body. I'll flag this as dev housekeeping for us to look into upgrading our use of the framework and looking to see if there is some configuration we need to use to pick up files in `multipart/form-data`.

[2021-02-01 11:01] NateWr commented on #5953
Yes, we should use the `PUBLISH_NOTIFY` template. The `NOTIFiCATION` template can't be changed because it is a generic template used for a lot of different cases.

[2021-02-01 11:19] defstat commented on #6691
@asmecher in order to do that we have to
- add the first commit from pkp/pln#8 to master - that ports the plugin to OJS 3.3, resolving some issues. I have added a PR with this commit alone (pkp/pln#10)
- perhaps make a branch tagging 3.3? Or should we continue with the master branch instead?

[2021-02-01 12:15] Vitaliy-1 commented on #6663
I've updated PR, tests are in progress

[2021-02-01 12:27] NateWr commented on #6695
This is probably similar to, but distinct from, https://github.com/pkp/pkp-lib/issues/6594#issuecomment-760288018. In short, the plugins probably install locale content for all languages enabled across the site instead of those supported in the context.

[2021-02-01 13:40] NateWr commented on #6691
I tested `textEditorExtras` and `controlPublicFiles`. Neither needed a new release so I updated the compatibility statements in https://github.com/pkp/plugin-gallery/commit/5c99edb50e97310cc672d40b551ffa70bc42b7a1. I noticed that there are some translation updates since the last release, though. Should I make new releases for them?

[2021-02-01 14:32] hkamareddineiiit commented on #2890
Hello,

I think this is an important feature to work on because sometimes it is done by mistake and to ensure the integrity of the process, a step back is needed.

Thanks!
huda

[2021-02-01 15:52] NateWr commented on #6690
Thanks @kshuttle and Ashley Edwards. Have you investigated what gaps exist in OJS now which prevent these tags from being added to journal content? At first glance, it seems that such notices could already be added to article landing pages through license/copyright fields, and added directly into galleys (such as PDFs).

[2021-02-01 15:56] henriqueramos commented on #6387
@NateWr The PR it's available here. Seems everything ran smoothly.

https://github.com/pkp/ojs/pull/3029

[2021-02-01 16:01] henriqueramos commented on #6387
Won't be necessary @asmecher, the pull request it's on code review step.

[2021-02-01 16:14] elton557 opened #6698 "Problem upgrade release candidate ojs-3.3.0rc2"
When I upgrade to the candidate release, I get the following error

PHP Fatal error:  Uncaught PDOException: SQLSTATE[42000]: Syntax error or access violation: 1115 Unknown character set: '' in /var/www/submission_scielo_br/htdocs/lib/pkp/lib/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php:78
Stack trace:
#0 /var/www/submission_scielo_br/htdocs/lib/pkp/lib/vendor/doctrine/dbal/lib/

[2021-02-01 16:18] NateWr commented on #6694
I added this to the SaaS/Multi-tenant Instances project because this would impact plans to separate user accounts completely between contexts.

I think we need to stick with solution A for now, with no fallback to B. Users should only be able to register with a specific set of roles in a specific set of journals. If they register with no role in no journal, no notification should be sent.

[2021-02-01 16:19] NateWr commented on #6696
I'm not certain, but I think the `$mainContextId` is a deprecated thing from OJS 2, where there was a multi-tier context system of some kind. The variable that is passed in here shouldn't reflect the "current context" as you would expect. I could be wrong, thoughh.

[2021-02-01 16:24] asmecher commented on #5388
Thanks, @ewhanson! Merged for OJS 3.3.0, but this will also need porting for OMP and OPS; could you look at those? It's almost a trivial port, but both will need testing since we're about to release 3.3.0. (If you don't get around to the ports by the time I release 3.3.0, that's OK, we can merge for OMP/OPS 3.3.0-1.)

[2021-02-01 16:37] asmecher commented on #6691
We don't have a firm policy on that. I released a few plugins that only had translation changes, as it wasn't much extra effort. I've also been updating our copyright dates, which feels like [and appears to be](https://stackoverflow.com/questions/2390230/do-copyright-dates-need-to-be-updated) busywork, for what that's worth. I do think that by the time a few translations accumulate we should do th

[2021-02-01 16:38] asmecher commented on #6698
@elton557, what is `connection_charset` set to in your `config.inc.php`?

[2021-02-01 16:42] asmecher commented on #6696
The reasoning for this is documented in [`LazyLoadPlugin::getEnabled`](https://github.com/pkp/pkp-lib/blob/stable-3_2_1/classes/plugins/LazyLoadPlugin.inc.php#L61):
[code]

[2021-02-01 16:42] NateWr commented on #6663
Thanks @Vitaliy-1, all merged!

[2021-02-01 16:42] elton557 commented on #6698
hello, we never touched it, but it looks like this:
; Database connection character set
; Must be set to "Off" if not supported by the database server
; If enabled, must be the same character set as "client_charset"
; (although the actual name may differ slightly depending on the server)
connection_charset = Off

; Database storage character set
; Must be set to "Off" if not supported by the datab

[2021-02-01 16:58] asmecher commented on #6698
The recommended settings are:
[code]
However, if you've been using the system with both set to `Off`, double-check that any special (accented) characters show up as you expect when using these settings. If not, you may need to transcode your database to UTF-8 before they will work. This can be a pain but it's well worth the work -- good UTF-8 support is pretty much universal, both server side and

[2021-02-01 17:13] ewhanson commented on #5388
Hey, @asmecher. Still working on OPS, but here is the PR for OMP. Thanks.

PR:
pkp/omp#923

[2021-02-01 17:14] asmecher commented on #6691
@jonasraoni, on the [registration notification plugin issues](https://github.com/pkp/pkp-lib/issues/6691#issuecomment-770208547), let's leave those for post-3.3.0 and I'll flag the current version of the plugin as compatible with 3.3.0 (or release a new version if there are enough new translations around).

[2021-02-01 17:18] asmecher commented on #6691
@defstat:

I have been avoiding mass-creating branches to distinguish `stable-3_3_0` from ongoing dev (currently `master` but that should change to `unstable` or Github's new default, `main`). But we should do that for important plugins that are likely to receive active development on several branches, including the PKP|PN plugin. There is already a `stable-3_2_1` branch for maintaining 3.2.1 comp

[2021-02-01 17:20] NateWr commented on #6387
All merged, thanks @henriqueramos!

[2021-02-01 17:20] #6387 closed

[2021-02-01 17:28] NateWr commented on #5678
This looks like it won't be that difficult after all. Here is some initial work that applies an automated formatter to OJS and pkp-lib:

https://github.com/pkp/ojs/pull/3030
https://github.com/pkp/pkp-lib/pull/6699

OJS runs as a pre-commit hook by using the husky node package. It's a little bit harder to do this in pkp-lib, because we don't have any node dependencies in that repository. I believe

[2021-02-01 17:57] henriqueramos commented on #5678
We could create a [`composer script`](https://getcomposer.org/doc/articles/scripts.md) to call the linter, and add it into [`git pre-commit hook`](https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks).

The only downside using `pre-commit` could be on Windows, there's a [few workarounds](https://www.tygertec.com/git-hooks-practical-uses-windows/) for this, but I don't have experience using tho

[2021-02-01 18:17] henriqueramos commented on #5678
Seems there's a package called [Symplify//easy-coding-standard](https://github.com/symplify/easy-coding-standard) doing this by default [ref: https://stackoverflow.com/a/44102546].

[2021-02-01 18:53] ewhanson commented on #5388
Hey, @asmecher. Here's the OPS PR. Thanks.

PR:
pkp/ops#115

[2021-02-01 19:10] withanage opened #6700 "OPS Support for Citation Style Languages Plugin"
Add compatibility for [CSL Plugin](https://github.com/pkp/citationStyleLanguage/) up from  3.3

- [ ]  OPS

[2021-02-01 19:15] ewhanson commented on #6691
@asmecher, I've updated the AuthorRequirements plugin and made a PR to the plugin-gallery. Thanks!

PR:
pkp/plugin-gallery#33

[2021-02-01 20:31] Geeermy opened #6701 "Upgrade OJS 3.1.2 -> 3.2.1-3 error; no backup"
Hi! I know this has been asked before, if there is an existing issue that describes exactly this problem please, share it with me. If that's not the case, please, help me out!

After finishing with the configuration details for the upgrade from 3.1.2 to 3.2.1, I clicked the upgrade button before doing a backup of the database (my mistake). Afterwards, the page showed this error:

[code]

I tried t

[2021-02-01 21:05] jnugent commented on #6691
@asmecher  initial release of the Advanced Search plugin, with a PR to the plugin-gallery.  (It also works in 3.2.x)
PR:
https://github.com/pkp/plugin-gallery/pull/34

[2021-02-01 21:36] asmecher commented on #5388
Merged (and cherry-picked for OMP and OPS to `stable-3_3_0`, which was created in the meantime) -- thanks, @ewhanson!

[2021-02-01 21:36] #5388 closed

[2021-02-01 21:54] asmecher commented on #6691
Moving to 3.3.0-3 for tracking of the rest -- none are crucial for 3.3.0.

[2021-02-01 21:56] asmecher commented on #6701
@Geeermy, I would suggest following up on one of the existing threads on this in our support forum (https://forum.pkp.sfu.ca/t/ojs-3-1-2-0-to-3-2-upgrade-error-duplicate-column-name-email-id/59174). The forum is probably a better place for this kind of discussion -- if it results in a bug fix or code change, we'll re-migrate that aspect of it here. Thanks!

[2021-02-01 21:56] #6701 closed

[2021-02-01 21:57] asmecher commented on #6695
Deferring for consideration on a future release.

[2021-02-01 22:03] Geeermy commented on #6701
Perfect! Thank you! 😄

[2021-02-01 23:25] asmecher commented on #6563
Looks good to me, @NateWr, and feel free to merge to `master` now that I've created `stable-3_3_0` branches.

[2021-02-02 01:28] kshuttle commented on #6690
Hi @NateWr, we did look into this and found that the current interface does not quite do what is needed here, for a few reasons:

1. TK Licenses apply at the article level, rather than for the entire journal. While it is possible to add a general description of TK labels to the License Terms field in the Distribution Settings, which then appears on each article landing page, this does not provide

[2021-02-02 01:56] Dhspdungkaka500 commented on #3386
@asmecher
I am an editor of JSHE Journal, http://jshe.ued.udn.vn/index.php/jshe. Currently, I have a problem whenever I try to add an additional reviewer at the review process as illustrated in the attached image. In the past, adding an additional reviewer is normally well done. I have not known reasons and solutions for solving this problem. Please help me troubleshooting this problem as soon as

[2021-02-02 08:01] #6563 closed

[2021-02-02 08:02] NateWr commented on #3386
Hi @Dhspdungkaka500, you can get help on our support forum at https://forum.pkp.sfu.ca/c/questions/5.

[2021-02-02 08:16] Dhspdungkaka500 commented on #3386
Hi @NateWr . Thanks you very much, but I can't see support about the problem in question. You can send link details. Thanks!

[2021-02-02 08:19] Dhspdungkaka500 commented on #3386
Hi @NateWr<https://github.com/NateWr> . Thanks you very much, but I can't see support about the problem in question. You can send link details. Thanks!

________________________________
Từ: Nate Wright <notifications@github.com>
Đã gửi: 02 Tháng Hai 2021 8:02 SA
Đến: pkp/pkp-lib <pkp-lib@noreply.github.com>
Cc: Dũng Phạm Xuân <pxdung@ued.udn.vn>; Mention <mention@noreply.github.com>
Chủ đề: R

[2021-02-02 08:47] NateWr commented on #6690
Thanks @kshuttle. Based on this, I think this could be accomplished with a plugin. The plugin can add the field in the publication details area and generate the appropriate output on the article landing page.

Is there a limited list of TK labels? If so, the plugin could simply have a checkboxes where the required labels are checked off, and the frontend can show the appropriate output (with image

[2021-02-02 10:29] NateWr opened #6702 "Proposal: use Galleys in OMP and simplify SubmissionFiles"
**Describe the problem you would like to solve**
Publication Formats in OMP use `SubmissionFile`s as the unit of distribution, such as a PDF of a book chapter, an appendix, or supplementary data. Because of this, the `SubmissionFile` objects must support a lot of metadata that is not required during the editorial workflow, such as urlPaths, DOIs, licensing information, physical dimensions, credits

[2021-02-02 10:29] jameswill opened #6703 "Unable to upgrade 3.3.0.2: Call to a member function getConnection() on null"
**Describe the bug**
After applying necessary changes when I visit http://domain.com/[[DIR]]/index.php/index/install/installUpgrade it gives blank page.

On further debugging I found following error.

_Array ( [type] => 1 [message] => Uncaught Error: Call to a member function getConnection() on null in [[PATH]]/[[DIR]]/lib/pkp/lib/vendor/laravel/framework/src/Illuminate/Database/Capsule/Manager.ph

[2021-02-02 10:38] NateWr opened #6704 "Refactor: use the FileService for TemporaryFiles, LibraryFiles and IssueFiles"
**Describe the problem you would like to solve**
The `FileManager` classes are still used for TemporaryFiles, LibraryFiles and IssueFiles. That means we have two sets of code for reading and writing files to the `files_dir` directory.

**Describe the solution you'd like**
Use the new `FileService` class to read and write TemporaryFiles, LibraryFiles and IssueFiles. That will allow us to remove the

[2021-02-02 10:53] NateWr opened #6705 "Proposal: discussion and reviewer attachments should not be SubmissionFiles"
**Describe the problem you would like to solve**
Each `SubmissionFile` is assigned to a file stage and this determines where the file appears and who can access it. For example, a submission file in the `SUBMISSION_FILE_FINAL` file stage appears in the Copyediting list of files and is only accessible to users assigned to the copyediting stage.

However, access to discussion and reviewer attachment

[2021-02-02 10:57] NateWr commented on #6691
Updates for customLocale, textEditorExtras and controlPublicFiles are complete.

[2021-02-02 11:00] NateWr commented on #6703
Have you read the [Release Notebook](http://localhost:4000/dev/release-notebooks/en/3.3-release-notebook) for 3.3? In particular, take a look at the note on the [connection_charset](http://localhost:4000/dev/release-notebooks/en/3.3-release-notebook#update-connection_charset) config file.

[2021-02-02 11:03] NateWr commented on #6703
Sorry, I accidentally put in some bad links there. Let's try this again:

Have you read the [Release Notebook](https://docs.pkp.sfu.ca/dev/release-notebooks/en/3.3-release-notebook) for 3.3? In particular, check out the section on the [connection_charset](https://docs.pkp.sfu.ca/dev/release-notebooks/en/3.3-release-notebook#update-connection_charset) config option. This was the source of this erro

[2021-02-02 11:53] NateWr commented on #5678
Thanks @henriqueramos. It looks like this runs on a cache file, and the php-cs-fixer is doing this automatically as well. This might be enough, but isn't quite the same as running the fixer only against the committed files. For example, if I make changes to 10 files but only commit 2 of them, it will still run on all 10.

Maybe this doesn't matter and the cache feature is enough. In that case it s

[2021-02-02 13:22] NateWr commented on #5678
Ok, I've made some progress with the [composer-git-hooks](https://github.com/BrainMaestro/composer-git-hooks) libary. It's easy to add a pre-commit hook. However, I'm struggling to figure out how run the php fixer on only the files that are modified, and then how to add those modifications to the commit.

Here's the hook that I have now:

[code]

This runs the fixer, but the changes aren't applied

[2021-02-02 14:40] bozana commented on #6691
Update for paperbuzz is complete...

[2021-02-02 15:42] bozana commented on #6643
PR: https://github.com/pkp/pkp-lib/pull/6706

[2021-02-02 15:47] bozana commented on #6643
@NateWr, could you please take a look? -- I believe this was the problem i.e. what @jonasraoni meant. The notification did not change from "Revisions have been requested. ' to 'Revisions have been submitted.'.
Eventually another (minor) thing left: the notifications changes in the UI only after the page reload. Should this be different? I am not sure I would know to fix that, but... maybe with you

[2021-02-02 18:26] amandastevens commented on #6306
+1 from another PKP|PS hosted client.

[2021-02-02 21:01] gemusehandler commented on #6703
Working on MacOS. Can't upgrade, can't install new version. Not through the browser, nor with command line. This is the result from new install through the browser:

Errors occurred during installation
A database error has occurred: SQLSTATE[HY000] [1049] Unknown database 'ojs33' (SQL: create table `announcement_types` (`type_id` bigint not null auto_increment primary key, `assoc_type` smallint no

[2021-02-02 21:37] asmecher commented on #6703
@gemusehandler, I see you've already posted on the forum at https://forum.pkp.sfu.ca/t/serious-issue-with-database-upgrade-failed-from-3-2-1-3-to-3-3-0-2/65598/3 -- that's the best place to get feedback on this.

[2021-02-02 22:04] defstat commented on #6691
Added pkp/plugin-gallery#38 for PKP|PN for OJS 3.3.0-x

[2021-02-03 00:25] claytondf opened #6708 "Upgrade to 3.3.0.2 failed: Data truncated for column 'context_id'"
**Describe the bug**
Dear,
I tried to perform the upgrade procedure 3 times without success, follows below the error log

**To Reproduce
Steps to reproduce the behavior:**

Back up your files and database
Remove files of existing installation.
Restore your config.inc.php with all new changes present in new version.

root@edu-srv-omp:/var/www/html/tools# php upgrade.php lastest
Upgrade tool
Usage:

[2021-02-03 01:12] asmecher commented on #6708
@claytondf, this seems like a data error. Do you have an unusual (very large or non-numeric) value for `context_id` in `email_templates` in your 3.2.1-3 database?

[2021-02-03 07:17] jameswill commented on #6703
Yes. I am aware of this and I have configure config.inc.php with reference of config.TEMPLATE.inc.php keeping the database details same as that of the original installation.

[2021-02-03 09:00] isgrim commented on #6201
Dear Alec @asmecher ,

Do you know if someone was working on this, because I found an OMP branch in the plugin repository:
https://github.com/pkp/citationStyleLanguage/tree/omp-stable-3_1_1

We are thinking of porting the plugin for OMP 3.3. But we did not settle yet, if we should use the OJS plugin or use some JavaScript code involving citeproc-js which was used in Dulip's OMP Portal.

Any sugges

[2021-02-03 09:11] sworld-guy opened #6709 "[OJS] update from 3.2 to 3.3 error"
Please help with this:
[Wed Feb 03 08:49:26.024616 2021] [fcgid:warn] [pid 23030] [client 144.76.3.131:52974] mod_fcgid: stderr: PHP Fatal error:  Uncaught Error: Call to a member function getConnection() on null in /var/www/www-root/data/www/sworldjournal.com/lib/pkp/lib/vendor/laravel/framework/src/Illuminate/Database/Capsule/Manager.php:74
[Wed Feb 03 08:49:26.024656 2021] [fcgid:warn] [pid 230

[2021-02-03 09:38] NateWr commented on #6643
Good catch @bozana! Can you also backport it to the `stable-3_3_0` branch?

Maybe in an ideal world, but unless there's a regression from when it was working in 3.2.x, I wouldn't worry about it. Typically the author will upload revisions so the editor's UI won't need to change, and if the editor uploaded revisions at least they'll know what happened.

[2021-02-03 09:46] NateWr opened #6710 "Upgrade to 3.3.0.2 fails when a journal has no supportedFormLocales"
**Describe the bug**
When a journal has no supportedFormLocales, a `NULL` value will be passed to a `whereNotIn` method that expects an array. This will cause a fatal error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Remove the supportedFormLocales row from the journal_settings table and then run an upgrade.
4. See error

**What application are you using?**
3.0

**Additional inf

[2021-02-03 09:48] NateWr commented on #6710
PR:
https://github.com/pkp/pkp-lib/pull/6711

[2021-02-03 10:05] NateWr commented on #6703
@jameswill here is the code that [initializes the database connection](https://github.com/pkp/pkp-lib/blob/master/classes/core/PKPApplication.inc.php#L210-L220). Can you double-check that each of the config settings shown there is correct?

Where you see: `Config::getVar('i18n', 'connection_charset', 'utf8')` that will return the `connection_charset` config option or `utf8` if no config option exi

[2021-02-03 10:07] NateWr commented on #6709
Hi @sworld-guy. This is a duplicate of #6710. Please try the suggestions in that thread and post there with any follow-up.

[2021-02-03 10:07] #6709 closed

[2021-02-03 10:34] sworld-guy commented on #6709
Nothing from this thread (#6710.) works

[2021-02-03 10:38] NateWr commented on #6698
I'll close this and assume the suggested fix has solved the problem.

[2021-02-03 10:38] #6698 closed

[2021-02-03 10:43] NateWr commented on #6709
Sorry, @sworld-guy, the issue I meant to send you to is #6703.

[2021-02-03 10:44] jameswill commented on #6703
Yes. That setting is there in /lib/pkp/classes/core/PKPApplication.inc.php

[2021-02-03 11:07] sworld-guy commented on #6709
I read everything. But I could not find what to do.
This was done.
; Client output/input character set
client_charset = utf-8
; Database connection character set
connection_charset = utf8

But it doesn't work. What to do next?

[2021-02-03 11:31] NateWr opened #6712 "REVIEWER_REGISTER email template showing in list of Production stage emails"
**Describe the bug**
The email template `REVIEWER_REGISTER` appears when the email templates list has been filtered to only show Production stage emails. This should probably appear in the Review stage emails.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Workflow > Emails > Email Templates
2. Click on Filters
3. Click on the Production filter
4. See `REVIEWER_REGISTER` te

[2021-02-03 11:32] NateWr commented on #6712
It looks like this email template appears no matter which stage filter is applied. I found it in Review and Copyediting stages too.

[2021-02-03 11:41] Vitaliy-1 commented on #6710
Looks like in my test case it leads to:
[code]

[2021-02-03 11:47] Vitaliy-1 commented on #6703
I'm able to reproduce the error, or at least get the same error message when trying to upgrade through a web interface. The problem doesn't occur when upgrading from a command line. Exploring...

[2021-02-03 12:03] NateWr commented on #6710
Can you inspect it to see if it's because there's an empty array? I wonder how an empty array could happen and, if so, what we do about it. It seems like other things on the site are going to break in such cases, so we may need to either log the problem or throw an exception.

[2021-02-03 12:04] Vitaliy-1 commented on #6703
I was able to solve it by initializing Laravel's database connection in the constructor of the `Upgrade` class.
E.g., like:
[code]
But I'm not quite familiar with this part of code. Should this be done in `Installer`'s constructor? Or is there a better place?

[2021-02-03 12:10] jameswill commented on #6703
Exactly in which file you made changes ?

[2021-02-03 12:23] Vitaliy-1 commented on #6710
I recall that at the time the shared library's upgrade script is executed, settings are serialized with PHP serializer rather than JSON encoding. Let me check.

[2021-02-03 12:29] Vitaliy-1 commented on #6710
Before that loop, the row looks like:
[code]

[2021-02-03 12:33] Vitaliy-1 commented on #6710
(it's the only row in the array, as only 1 journal)

[2021-02-03 12:44] NateWr commented on #6710
Does changing it to `unserialize` fix the problem for you?

[2021-02-03 12:47] Vitaliy-1 commented on #6710
No, I'm still receiving `DB: SQLSTATE[42000]` error:
[code]

[2021-02-03 12:56] elton557 opened #6713 "OPS 3.3 upgrade error"
**Describe the bug**
When updating ops I am facing the following error:

PHP Warning:  array_values() expects parameter 1 to be array, null given in /var/www/preprints_scielo_org/htdocs/lib/pkp/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php on line 187
PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Illuminate\Database\Query\Builder::cleanBindings() must be of the type arra

[2021-02-03 13:02] claytondf commented on #6708
@asmecher I'm going to perform an analysis email_templates

I will perform an analysis on the email_templates table. The context_id column is NULL in all records

![image](https://user-images.githubusercontent.com/8274709/106749727-a8ee6f00-6605-11eb-8200-f67471370c40.png)

[2021-02-03 13:31] claytondf commented on #6708
@asmecher

There was an advance in the update process after I reset all email templates. Only it fell into another error :-(

![image](https://user-images.githubusercontent.com/8274709/106753227-2a480080-660a-11eb-9afa-2d12930323e9.png)

root@edu-srv-omp:/var/www/omp-3.3.0/tools# php upgrade.php upgrade
[pre-install]
[load: upgrade.xml]
[version: 3.3.0.2]
[code: Installer Installer::checkPhpVersio

[2021-02-03 14:07] NateWr commented on #6713
Duplicate of #6710. @elton557 can you try the solutions discussed in that thread and post there if you find it works or doesn't?

[2021-02-03 14:07] #6713 closed

[2021-02-03 14:40] elton557 commented on #6710
Hello now presented this error

ERROR: Upgrade failed: DB: SQLSTATE [42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'as `js` where` js`.` journal_id` =? and `js`.`setting_name` in (?,?,?,?,?,? 'at line 1 (SQL: delete from` journal_settings` as `js` where` js`.`jou

[2021-02-03 15:42] Vitaliy-1 commented on #6710
new PR pkp/lib: https://github.com/pkp/pkp-lib/pull/6715
tests OJS: https://github.com/pkp/ojs/pull/3033
WIll make PR to stable branch if all is ok here.

[2021-02-03 15:43] NateWr commented on #6710
Thanks @Vitaliy-1! It looks good to me. @asmecher can you take a quick look just to confirm this is ok? Once bitten, twice shy or something... :)

[2021-02-03 15:59] elton557 commented on #6710
Thanks, now it's ok.

Successfully upgraded to version 3.3.0.2

[2021-02-03 16:44] henriqueramos commented on #6282
Hello @NateWr, could you please check the Pull requests for this task?

[ojs](https://github.com/pkp/ojs/pull/3034)
[pkp-lib](https://github.com/pkp/pkp-lib/pull/6716)

* Evidence *
https://user-images.githubusercontent.com/1243634/106779544-db0fc900-6625-11eb-8e30-9a7e8d98d85d.mp4

Thank you!

[2021-02-03 16:51] alexxxmendonca opened #6717 "[OPS] Method to easily extract preprint statistics"
**Describe the problem you would like to solve**
Currently there is no easy method of extracting the most accessed and downloaded preprint statistics.

The list is limited to 30 results per page and one needs to copy + paste the information in a spreadsheet if one wants to manipulate the data.

**Describe the solution you'd like**
An option to download all data into a CSV file.

**Who is asking fo

[2021-02-03 17:57] asmecher commented on #6201
I think this would be a wonderful addition to OMP (and OPS too)! The best approach would be to adapt the existing repository (https://github.com/pkp/citationStyleLanguage) so that it can check which application it's been installed into and adjust its behaviour accordingly. There wouldn't be many changes needed. If you're interested, please go ahead, and I'd be happy to review and support (e.g. add

[2021-02-03 18:04] asmecher opened #6718 "Revisit Update Illuminate Database library for GHSA-3p32-j457-pg5x (#6632)"
## Issue Description ##

OJS, OMP, and OPS use the 3rd-party [Illuminate/Database](https://packagist.org/packages/illuminate/database) package for database interactions. Recently a potential vulnerability in this package was published: https://github.com/advisories/GHSA-3p32-j457-pg5x.

The original fix for this issue was applied in https://github.com/pkp/pkp-lib/issues/6632 and released in OJS/OM

[2021-02-03 18:33] drugurkocak commented on #6710
Dear @NateWr
I also get similar error during upgrade from OJS 3.2.1.3 to 3.3.0.2 (git install) via command line.

 But when I check the journal_settings table, I can see the supportedFormLocales row, and it is filled with these values.

I go on watching and reading discussions about this, but wanted to report it here.

 I can share user information with you if it helps you solve the problem.
Regar

[2021-02-03 20:22] asmecher commented on #6710
@drugurkocak, have you tried the patch linked above? (https://github.com/pkp/pkp-lib/pull/6715/files)?

[2021-02-03 20:24] asmecher commented on #6710
@Vitaliy-1, the PR uses OJS and OPS table names (`journal_settings`) but will break OMP upgrades. Could you either move this part of the migration to the application-specific migration class, or use something like...
[code]

[2021-02-03 20:29] asmecher commented on #6708
@claytondf, it looks like you first countered...
[code]
...which is due to https://github.com/pkp/pkp-lib/issues/6710#issuecomment-772798346, which will be resolved shortly.

Then you edited the comment for a new message:
[code]
I think this might arise from attempting to re-run an upgrade on a database that has already experienced a failed upgrade. Did you restore your database from backup before

[2021-02-03 20:38] drugurkocak commented on #6710
Dear @asmecher
Thank you very much for your kind support. Now, after applying that patch, I got the message "Successfully upgraded to version 3.3.0.2".
Since I made a fresh git install from master branch only 2 hours ago, I mistakenly thought that pacth has already been applied. Thanks to everyone.
Reegards.

[2021-02-03 20:49] asmecher commented on #6710
@drugurkocak, thanks for the confirmation! We'll be wrapping up OJS 3.3.0-3 within the next couple of days to incorporate this patch.

[2021-02-03 21:22] claytondf commented on #6708
@asmecher
I used snapshots (VM) 3.2.1-2;
upgraded to 3.2.1-3;
Reset all email templates;
and updated to version 3.3.0.2

I tried in several ways

root@edu-srv-omp:/var/www/html/tools# php upgrade.php upgrade
[pre-install]
[load: upgrade.xml]
[version: 3.3.0.2]
[code: Installer Installer::checkPhpVersion]
[code: Installer Installer::installDefaultNavigationMenus]
WARNING: The NavigationMenu (Contex

[2021-02-03 21:32] bozana commented on #6643
everything merged, so closing...
@jonasraoni, if this is not solving your problem, please reopen...

[2021-02-03 21:32] #6643 closed

[2021-02-03 21:43] claytondf commented on #6708
Thank  @asmecher
I'll wait for the version 3.3.0-3.
the patch  #6710, did not work for OMP.

[2021-02-03 21:45] asmecher commented on #6708
@claytondf, that issue is not resolved yet -- watch for an additional patch in the next day or so, or in the meantime you can change references to `journal_settings` to `press_settings` [in that file](https://github.com/pkp/pkp-lib/pull/6715/files) as a temporary work-around.

[2021-02-03 22:02] asmecher commented on #6603
Thanks, @jonasraoni! Closing for now -- though I'll do a round of testing with Portico before I release an updated plugin.

[2021-02-03 22:02] #6603 closed

[2021-02-03 22:24] asmecher commented on #6703
For the error message when using the web-based upgrade form:
[code]
You can fix this by applying the following change: https://github.com/asmecher/pkp-lib/commit/b03a74da7f58f15005d0d3294a4d58e2845abf9c
If applying a patch, you can use...
[code]

@Vitaliy-1, can you confirm that this fixes the issue for you?

[2021-02-04 00:16] claytondf commented on #6708
@asmecher
I even tried it, only there is no **journal_settings** in the OMPv3_3_0UpgradeMigration.inc.

[OMPv3_3_0UpgradeMigration.inc.zip](https://github.com/pkp/pkp-lib/files/5922229/OMPv3_3_0UpgradeMigration.inc.zip)

[2021-02-04 00:24] asmecher commented on #6708
@claytondf, that's the wrong file -- look for `PKPv3_3_0UpgradeMigration.inc.php` (it'll be in `lib/pkp/classes/migration/upgrade`).

[2021-02-04 00:27] kshuttle commented on #6690
Thanks @NateWr - I think a plugin would be a great option! There is a limited number of TK labels - 18 to be exact - so it would be great to offer checkboxes to select which labels apply to a certain submission. The only caveat is that the descriptions for the labels are meant to be customized by whoever is using them. So for example, the description for the "TK Community Use Only" label can be cu

[2021-02-04 03:23] claytondf commented on #6708
@asmecher, I made the changes to the code, according to your guidance, but the error continues for the OMP.

		$rows = Capsule::table('press_settings as js')
			->join('journals as j', 'j.journal_id', '=', 'js.journal_id')
			->where('js.setting_name', '=', 'supportedFormLocales')
			->select(['js.journal_id as id', 'js.setting_value as locales'])
			->get();
		foreach ($rows as $row) {
			// acco

[2021-02-04 03:42] asmecher commented on #6708
@claytondf, you'll also need to change `journals` to `presses`. Or wait for a patch to come out for this -- likely tomorrow.

[2021-02-04 04:45] jameswill commented on #6703
Hi,

This resolves the issue I mentioned above but it leads to another error.

Errors occurred during installation:

    A database error has occurred: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'omp331.journal_settings' doesn't exist (SQL: select `js`.`journal_id` as `id`, `js`.`setting_value` as `locales` from `journal_settings` as `js` inner join `journals` as `j` on `j`.`journal

[2021-02-04 09:01] jonasraoni commented on #6603
@asmecher Ok! I just tested fast (created a submission, added some data, published and exported), it's better to do a real test with them. Would be nice to add some automated tests =]

[2021-02-04 10:17] jameswill commented on #6703
I also wanted to add that above code only does not work with OMP as there is no "journal_settings" table available.

However it is working properly with OPS.

[2021-02-04 10:35] isgrim commented on #6700
Hi Dulip @withanage ,

Alec already opened an issue for citationStyleLanguage Plugin for OMP here:
https://github.com/pkp/pkp-lib/issues/6201

A colleague of mine wants to start working on the port for OMP starting with version 3.3.0

@asmecher Where should we discuss the update?

Best regards,

NIls

[2021-02-04 10:36] NateWr commented on #6703
@jameswill yes, an unfortunate bug to make it in (my fault). That's being tracked and addressed in #6710.

[2021-02-04 10:37] claytondf commented on #6708
@asmecher, Thank you! I'll wait for the patch!
"Data truncated for column 'context_id in email_templates"  is it a bug too ?

[2021-02-04 11:01] withanage commented on #6700
Hi @isgrim ,

Please go ahead with the OMP  in the separate issue and create  I have removed it from the ticket.

[2021-02-04 11:01] Vitaliy-1 commented on #6710
I vote for leaving this in the shared library. I've updated PR (and tests)

[2021-02-04 11:02] jameswill commented on #6703
Shall I wait for the 3.3.0.3 release with the solutions for OJS, OPS and OMP as well ?

What is ETA for the new releases ?

[2021-02-04 12:02] jonasraoni opened #6720 "When a field has many errors, the Form class just grabs one of them"
**Describe the bug**
After adding several error messages to the same field using `Form::addError()`, only one of them is displayed, a fix should probably be [applied here](https://github.com/pkp/pkp-lib/blob/master/classes/form/Form.inc.php#L423).

**What application are you using?**
OJS 3.3

[2021-02-04 12:05] Vitaliy-1 commented on #6710
Builds are successful. Added PR to the stable branch:
https://github.com/pkp/pkp-lib/pull/6721
@NateWr, think it's ready to go!

[2021-02-04 12:48] carolinatanigushi commented on #5740
@asmecher we tested these submissions on version 3.3 and it seems like it's been fixed as Nate said, thanks!

[2021-02-04 13:25] #5740 closed

[2021-02-04 15:36] Vitaliy-1 commented on #6710
Something isn't right here. While exploring possible issues related to upgrading of older OJS version, I realized that getting the same error on versions < 3.2.

The journal settings are being serialized as JSON before the migration code related to clearing unused localized settings. I suspect it happens because `DAO::convertToDB` is triggered somewhere in the upgrade script.

[2021-02-04 15:52] Vitaliy-1 commented on #6710
Yes, from the ContextDAO it's called in `Installer::migrateSidebarBlocks()`. When the Context is updated with `ContextDAO::updateObject`, it causes settings to be serialized as JSON.

[2021-02-04 16:05] bozana commented on #4904
Maybe I can take a further look at the problems described here i.e. what would be needed to solve for the next release...
First I will test a few things to get the current status. I will do it incrementally because I can only work a little bit every day, will write the (part) results here, and then at the end come back to you all. Thus, please ignore the text till my testing is finished.

OJS:
1.

[2021-02-04 16:51] asmecher commented on #6703
@jameswill, we'll have OJS/OMP/OPS 3.3.0-3 out within a couple of days.

[2021-02-04 16:54] Vitaliy-1 commented on #6710
Hmm, this brings some uncertainty: site and journal/press settings are being serialized as JSON earlier than they should. I don't see any other places in the code where it can lead to a problem. I think, simple checks for locales row should do the trick. I mean something like:
[code]
Plus avoid warnings where setting values are being unserialized in places like https://github.com/pkp/ojs/blob/b85c

[2021-02-04 17:06] gemusehandler opened #6722 "monograph export as native xml fails"
**Describe the bug**
I successfully installed the OMP 3.3.0.2. To test the press I have uploaded two books, one monograph and one edited volume with some chapters. The monograph can't be exported as Native XML and generates the following message:

Validation errors:
Element '{http://pkp.sfu.ca}chapters': Missing child element(s). Expected is ( {http://pkp.sfu.ca}chapter ).
Invalid XML:

The edited

[2021-02-04 17:32] carolinatanigushi commented on #6528
We also have this issue on our installations.

Journals have previously let us know that there are a lot of abandoned submissions that they need to manually delete. It's an issue on our OPS installation as well, considering that out of our 357 currently active submissions, 239 have not been touched on the last six months.

[2021-02-04 17:37] rcgillis commented on #6690
Just to add a little bit on what @kshuttle has noted, the customized labels are often standardized for use by specific indigenous communities. For example see the TK Label Hub: https://hub.localcontexts.org/label-communities

[2021-02-04 18:06] ctgraham opened #6723 "Submissions orphaned when context is deleted"
**Describe the bug**
Submissions are orphaned when deleting a context.

**To Reproduce**
Steps to reproduce the behavior:
1. Call `JournalDAO::deleteById()` with `$id`
2. Query "select * from submissions where context_id = ?" with `$id`

**What application are you using?**
 OJS, 3.1.2

**Additional information**
The cause is that `JournalDAO::deleteById()` processes Sections before Articles:
https

[2021-02-04 18:22] asmecher commented on #6723
We'll have to resequence the deletions as we introduce more foreign key constraints (https://github.com/pkp/pkp-lib/issues/6093).

[2021-02-04 18:52] asmecher commented on #6722
@defstat, could you have a look at this?

[2021-02-04 19:13] asmecher commented on #6328
Assigning you, @jonasraoni; please have a review and do some research, but let's talk approaches before you dive into coding.

[2021-02-04 21:03] elton557 opened #6724 "OJS 3.3 upgrade error"
**Describe the bug**

When I upgrade from OJS 3.3, I get this error:

 ERROR: Upgrade failed: DB: SQLSTATE[HY000]: General error: 1390 Prepared statement contains too many placeholders (SQL: select `locale`, `submission_id` from `publications` where `publication_id` in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35

[2021-02-04 21:28] asmecher opened #6726 "Privacy statement page error 500"
See https://github.com/pkp/pkp-lib/pull/6725:

[2021-02-04 21:28] #6726 closed

[2021-02-04 22:51] asmecher commented on #6723
@ctgraham, are you able to check if this affects more recent releases? (PR: https://github.com/pkp/ojs/pull/3036)

[2021-02-05 08:00] suburban-journal commented on #3176
I have another proposal to improve announcements:

- **Users should be able to filter announcements by type (as defined in announcements > announcement types) on the announcement page**. This would significantly enhance this page and could make the manual creation of custom pages obsolete. Find more background information and application scenarios here: https://forum.pkp.sfu.ca/t/filter-announceme

[2021-02-05 11:53] defstat commented on #6722
@asmecher

**PR**
[OMP]: pkp/omp#925

@gemusehandler can you check the above change against your installation, to see if that fixes your issue?

[2021-02-05 13:05] Hourakhsh opened #6727 "import/export plugin can not export the specific issues because there are articles with no authors"
**Describe the bug**
import/export plugin can not export the specific issues because there are articles with no authors. it would be great to let us know how we can solve this problem.
Sincerely
the problem is that by  Using Native XML plugin, I can export some of the issues but some of them give an error:

Vol 1 No 1 is exportable by Using Native XML plugin

Vol 1 No 2 is exportable by Using Nati

[2021-02-05 13:41] gemusehandler commented on #6722
I am now able to download and xml file for the monograph. I also tested the edited volume. That one is also downloadable. The issue seems solved. Thanks.

Just a short question. How much work would it be to adapt the plugin to make it produce an XML I can upload to Crossref? (The was actually the reason I immediately started to try the Native XML plugin. I wanted to see the structure of the file t

[2021-02-05 15:11] Vitaliy-1 commented on #6710
Updated and new PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/6715
OJS master: https://github.com/pkp/ojs/pull/3033
OMP master: https://github.com/pkp/omp/pull/926
OPS master: https://github.com/pkp/ops/pull/117

[2021-02-05 15:15] bozana commented on #4904
Hi @NateWr and @ctgraham, there would be some things to correct here: the problem that Nate found out (#1 and #3 above) should be fixed, but also some changes in the the log processing (#4b above) have to be made. May I ask you to read that #4 and related COUNTER link/document above? -- to be sure that I understand it correctly.
Also, I could not find anything specific about different article vers

[2021-02-05 15:22] Vitaliy-1 commented on #6710
@asmecher, can you take a look at these and merge/backport to stable 3.3.0 if all is ok?

[2021-02-05 19:23] asmecher commented on #6722
Thanks for the fix and confirmation, @defstat and @gemusehandler!

[2021-02-05 19:23] #6722 closed

[2021-02-05 20:17] asmecher commented on #6710
Thanks, @Vitaliy-1, I've merged these to `master` and cherry-picked to `stable-3_3_0`. I'll run an upgrade smoke test on all three apps form `stable-3_3_0` to make sure.

[2021-02-05 20:17] #6710 closed

[2021-02-05 20:18] asmecher commented on #6703
@Vitaliy-1, your confirmation on https://github.com/pkp/pkp-lib/issues/6703#issuecomment-772868354 would be great, but I'm closing this issue for now as resolved.

[2021-02-05 20:18] #6703 closed

[2021-02-05 20:18] #6718 closed

[2021-02-05 23:57] asmecher commented on #6727
@defstat, could you have a look please?

[2021-02-06 00:04] asmecher commented on #6010
@Vitaliy-1, I'm closing this for lack of feedback, but please do let me know if you see it again.

[2021-02-06 00:04] #6010 closed

[2021-02-07 11:15] loadbrain opened #6729 "Fatal Error during upgrade from OJS 3.2.1.2 to 3.3.0.3 (Cannot add foreign key constraint (SQL: alter table submission_filesadd constraint..."
Trying to upgrade from 3.2.1.2 to 3.3.0.3 still gives me the error
`Cannot add foreign key constraint (SQL: alter table `submission_files` add constraint `submission_files_file_id_foreign``

Checked all related issues to this, did `composer install` in pkp/lib, fixed any missing submission files...
No more ideas what to do.

Any hint?

[2021-02-07 13:44] bozana commented on #4904
Hi @NateWr and @ctgraham, reading the document https://www.projectcounter.org/wp-content/uploads/2020/08/Module_2_Journal_Usage_20200811.pdf: it seems that that unique item and title (from the 4b and 4c above) first came now with the release 5. The release 4, that we currently support, I think, still counts HTML and PDF separately. Thus, I would maybe suggest that we only fix the problems Nate enc

[2021-02-07 15:33] GrazingScientist commented on #6680
Would integration tests also include checking if dependent files are loaded? Because this worked in OJS 3.2.1.3 and does not in 3.2.1.4.

[2021-02-07 15:35] jonasraoni commented on #6539
Hi @asmecher, these PRs should be merged as well, I've just updated the `config.TEMPLATE.inc.php`:
[OMP](https://github.com/pkp/omp/pull/905)
[OPS](https://github.com/pkp/ops/pull/101)
[OJS](https://github.com/pkp/ojs/pull/2981)

[2021-02-07 16:24] jonasraoni commented on #3193
PRs:
[pkp-lib](https://github.com/pkp/pkp-lib/pull/6730)
[OJS](https://github.com/pkp/ojs/pull/3037)
[OMP](https://github.com/pkp/omp/pull/927)
[OPS](https://github.com/pkp/ops/pull/118)

[2021-02-07 16:36] asmecher commented on #4834
(Comments here: https://github.com/pkp/pkp-lib/pull/6728#issuecomment-774704610)

[2021-02-08 06:36] ajnyga commented on #6691
@asmecher do you want to do a new code review for the upgraded plugins? Mainly thinking about the changes to DAOs due to adodb. Funding plugin seems to be working but worried that I am missing something https://github.com/ajnyga/funding

[2021-02-08 08:32] Vitaliy-1 commented on #6703
@asmecher, I confirm that it solves the issue and can be merged.

[2021-02-08 08:36] ajnyga opened #6731 "Failed assert warning in Section settings page"
**Describe the bug**

When I access the Section settings page, I get:
`PHP Warning: assert(): assert(is_a($element, 'Section') &amp;&amp; !empty($columnId)) failed in /controllers/grid/settings/sections/SectionGridCellProvider.inc.php on line 30
`
The `$element` there seems to be a regular array, so probably the `assert` needs to be removed?

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2021-02-08 10:21] Vitaliy-1 opened #6732 "Upgrade to 3.3: default database engine doesn't support foreign key constraint"
**Describe the bug**
Related forum thread: https://forum.pkp.sfu.ca/t/updating-problem-from-3-2-1-3-to-3-3-0-2/65621/9
Upgrades from 3.2.1 to 3.3.0.
Users report Upgrade failure with the message:
[code]
Although I cannot be sure about the causes, it seems that such an error can occur if the table's storage engine doesn't support foreign key constraints. E.g., `files` table is created using somethi

[2021-02-08 11:47] bozana commented on #4904
Hmmm... This Release 5 seems to has been out there for almost 3 years now, so I suppose we should support it very soon...

[2021-02-08 12:34] NateWr commented on #3193
@jonasraoni the formatting changes make this really hard to code review. Can you separate out the substantial changes into a separate commit for us?

[2021-02-08 13:13] ctgraham commented on #4904
COUNTER R4 is still fairly widely used around Libraries, though it ought to be phased out in favor of R5; Pitt ULS uses COUNTER in communicating usage statistics to Plum Analytics.

@shanu17 from Pitt ULS is working on SUSHI/COUNTER R5 for PKP.  I owe him better definitions of each report so that he can map the report requirements against our Statistics Service / MetricsDAO.  There remain some gap

[2021-02-08 13:42] navotera commented on #4867
Dear @NateWr
We just upgrade our journal from OJS 2 to OJS 3.2.1-4. We have upgrade it on other server and migrate it to the real server after we finish the upgrade, unfortunately the DOI record URL is mistakenly updated to the staging server location.

Is there any mechanism on the OJS such as on its cron or when the upgrade process is being process connecting the DOI server to update the article

[2021-02-08 14:51] bozana commented on #4904
Hi @ctgraham and @shanu17, that is great to hear -- that you are working on the support for R5! :-)))
I would then only fix the processing problems @NateWr encountered here, for R4, now.
If I can somehow help for the support of R5, just let me know. (Maybe we can open a new issue for that and ... )

[2021-02-08 15:12] amandastevens opened #6733 "When editor changes "Request Revisions" review option, they should not lose email content"
When an editor is recording a "Request Revisions" editorial decision and they start adding or changing content in the email they will send to the author, if they then change the option above from "Revisions will not be subject to a new round of peer reviews" to "Revisions will be subject to a new round of peer reviews" (or vice versa), a different email template gets loaded into the email field an

[2021-02-08 16:04] AhemNason commented on #4867
Hi @navotera

The current OJS plugin has no method for batch _updating_ of DOI metadata. At the moment, the best method is to update the records issues-by-issue. If you submit too many at a time, the plugin will time out. To speed things up, I recommend turning off the validation check.

It's worth noting that our crossref plugin is in the process of getting overhauled so this functionality (which

[2021-02-08 17:25] asmecher commented on #6729
@loadbrain, the error message appears to be cut short; can you see if there's more? (Possibly related: https://github.com/pkp/pkp-lib/issues/6732)

[2021-02-08 17:29] loadbrain commented on #6729
I will check this...

[2021-02-08 17:30] asmecher commented on #6703
Unfortunately I forgot to merge this for inclusion in 3.3.0-3 :( however I will merge it now.

[2021-02-08 17:37] ctgraham commented on #5375
Confirmed that this remains an issue in OJS 3.2, and that https://github.com/ulsdevteam/ojs/commit/3cb2adf980ef6a92dfeaeb405b8bb4136f98778d resolves the problem to present the correct error message.  When such an error is encountered, the process terminates with "ojs2: Could not convert selected objects.", which might be intentional.  Alternately, the process could try to continue with additional

[2021-02-08 17:42] asmecher commented on #6703
For anyone encountering this problem, you can fix it by applying https://github.com/pkp/pkp-lib/pull/6719/files. The change needs to be applied to `lib/pkp/classes/install/form/UpgradeForm.inc.php`.

[2021-02-08 18:36] elton557 commented on #6724
Hello, the error still exists, is there anything I can do to successfully upgrade?
The error is this:

ERROR: Upgrade failed: DB: SQLSTATE[HY000]: General error: 1390 Prepared statement contains too many placeholders (SQL: select `locale`, `submission_id` from `publications` where `publication_id` in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27

[2021-02-08 18:51] asmecher commented on #6724
@elton557, can you include the results of the output script leading up to this error message?

[2021-02-08 20:57] elton557 commented on #6724
follows the complete upgrade error log:

[migration: PKPv3_3_0UpgradeMigration]
PHP Warning:  Illegal string offset 'pt_BR' in /var/www/submission_scielo_br/htdocs/lib/pkp/classes/core/DataObject.inc.php on line 133
PHP Warning:  Illegal string offset 'pt_BR' in /var/www/submission_scielo_br/htdocs/lib/pkp/classes/core/DataObject.inc.php on line 133
PHP Warning:  Illegal string offset 'pt_BR' in /

[2021-02-08 21:26] asmecher commented on #6724
@elton557, I'm looking for the output of the upgrade command rather than the contents of the PHP error log. However, if you don't have that, try turning on the `show_stacktrace` option in `config.inc.php` before triggering the error. That might also provide more information.

[2021-02-08 21:27] asmecher commented on #6732
@Vitaliy-1, one possible cause for this error is an attempt to form a foreign key constraint when one table uses MyISAM and the other uses InnoDB.

[2021-02-08 21:34] asmecher commented on #6702
@NateWr, much of the weirdness in the relationships between submissions and publication formats stems from the ONIX standard, so we should definitely review this issue with reference to ONIX. In particular all the characteristics of the publication format (sales info, physical dimensions, etc) are ONIX beasts.

[2021-02-08 21:44] asmecher commented on #6708
@claytondf, can you try setting `email_templates.context_id` to `0` where it's currently `NULL`?

[2021-02-08 22:54] asmecher commented on #6691
@ajnyga, I took a glance over the funding plugin code (particularly the DAOs), and they look like they've been well adapted for the ADODB changes! (But feel free to get rid of those pesky PHP closing tags if you like.) Thanks!

[2021-02-08 23:09] asmecher commented on #6731
You're right, @ajnyga! Fixed (`ops-stable-3_3_0`, `ojs-stable-3_3_0`, and OPS and OMP `master`)

[2021-02-08 23:09] #6731 closed

[2021-02-08 23:42] imaazahmed opened #6734 "I am unable to give line break in OJS 3.2.1.3."
![linebreak](https://user-images.githubusercontent.com/78767924/107296244-cb173f80-6a92-11eb-8024-65fea700c21a.png)

Hi mate!

I am trying to give line break in abstract but it doesn't work. I got spaces instead of line break. Can someone help me out? (I am using tinyMCE editor.
.
Thank you!

[2021-02-08 23:59] imaazahmed opened #6735 "How can i Add DOI and Keywords field in OJS 3.2.1.3"
Hi,

Please see this attachment. I want to add DOI and Keywords fields in the content page of Article but i don't have any field in OJS backend to add DOI and Keywords.

Can anyone guide me that how can i add these two options?

Please see attachment.

Thank you!
![DOI and Keyword](https://user-images.githubusercontent.com/78767924/107296626-95268b00-6a93-11eb-9705-e460510a90da.png)

[2021-02-09 00:24] dbqreference commented on #5365
@asmecher

I'm testing this out on the OJS server that we have up right now. I haven't seen this get commented on and we have a journal manager who is insistent on using the internal mail features so I'm setting this to try and work on it right now. I created an issue on the Forum but no one had responded to it. I will reply with results from the login tests.

[2021-02-09 00:35] asmecher commented on #6734
I see you have already posted this on our support forum at https://forum.pkp.sfu.ca/t/i-am-unable-to-give-line-break-in-ojs-3-2-1-3/65744 -- that's the best place to get help.

[2021-02-09 00:35] #6734 closed

[2021-02-09 00:36] asmecher commented on #6735
@imaazahmed, I see you've already posted this to our support forum at https://forum.pkp.sfu.ca/t/how-can-i-add-doi-and-keywords-field-in-ojs-3-2-1-3/65745 -- that's the best place to get help.

[2021-02-09 00:36] #6735 closed

[2021-02-09 00:38] asmecher commented on #5365
@dbqreference, could you please link the forum topic here (and vice versa)? That'll help keep all the discussion related to a subject connected.

[2021-02-09 00:40] dbqreference commented on #5365
@asmecher
Here's the forum post:
https://forum.pkp.sfu.ca/t/ojs-3-2-1-1-google-smtp-email-issues/65315?u=charlescmyers

[2021-02-09 00:42] asmecher commented on #6539
@jonasraoni, those three need to be rebased because of conflicts in the `lib/pkp` submodule. If you keep the submodule update in its own commit I can cherry-pick the rest in the future (this isn't an infrequent problem). Please also add some documentation of the new configuration file parameter in `docs/release-notes/README-3.4.0` (see other release notes for the format to use).

[2021-02-09 01:06] dbqreference commented on #5365
Few key points that I'll make on this for the purpose of testing

- Allowed 'Less-secure Apps' on Google Dev account (same account that the Gmail API OAUTH token info comes from
- retrieved, scrubbed, and recreated a new Access Token for the SMTP server authentication after changing a few settings
- updated the config.inc.php file with the information asmecher created quickly

After doing these, I

[2021-02-09 06:34] defstat commented on #6727
@asmecher, @NateWr

The import/export plugin supposes that a submission should have authors. The PR changes that. If the proposed PR is accepted, a submission can be exported without authors.

At the creation stage of the submission, the user seems not to be able to continue with the submit process if the contributor table is empty. Within the submission, at the metadata tab, the user can delete a

[2021-02-09 08:40] jameswill opened #6737 "Issue upgrading OPS 3.3.0-3"
**Describe the bug**
After applying necessary changes when I visit http://domain.com/[[DIR]]/index.php/index/install/installUpgrade it gives blank page.

On further debugging I found following error.

**_Uncaught Error: Class 'GenericPlugin' not found in [[PATH]]/[[DIR]]/plugins/generic/crossrefDeposit/CrossrefDepositPlugin.inc.php:14_**

**To Reproduce**
Steps to reproduce the behavior:
1. Back u

[2021-02-09 08:41] jameswill commented on #6703
Hi,

Shall we wait for 3.3.0-4 ? What is the ETA for the same ?

The above fix is required in both the packages. i.e OJS and OMP as without this fix both the packages give error.

I am also getting different issue in OPS upgrade which I have mentioned #6737

[2021-02-09 09:21] Vitaliy-1 commented on #6703
I'd recommend upgrading from a command line but it should be safe to apply the fix before performing an upgrade. The fix is against a shared library, it's applied to all 3 applications.

[2021-02-09 09:23] jonasraoni commented on #6539
@asmecher Since the pkp-lib changes were already merged, I've just removed the submodule from the commit and updated the release notes.

[2021-02-09 09:53] ziekz opened #6738 "Issue installation OJS 3.3.0-3"
Fatal error: Uncaught --> Smarty Compiler: Syntax error in template "app:app:frontendpagesuserLogin.tp" on line 11 "{include file="frontend/components/header.tpl" pageTitle="user.login"}" unknown tag 'include' <-- thrown in /home/********/avj.tusadam.com/lib/pkp/lib/vendor/smarty/smarty/libs/sysplugins/smarty_internal_templatecompilerbase.php on line 11
I get this error. what should I do?

[2021-02-09 09:54] NateWr commented on #6702
@asmecher I _think_ that this could be implemented without touching publication formats too much. Because the Galley in OMP would sit below Publication Formats, the only thing that would change is that instead of having submission files assigned to publication formats, galleys would be assigned to publication formats. All of the ONIX metadata would continue to live with Publlcation Formats.

[2021-02-09 10:08] NateWr commented on #5678
@asmecher and @jonasraoni I wanted to bring [our conversation](https://github.com/pkp/pkp-lib/pull/6728/files/90f1771d045a8af30af545a1bec9adc457ef6357#r571642125) about docblocks and type declarations over here. With type hinting, there is a php-cs option to [remove superflous @param](https://cs.symfony.com/doc/rules/phpdoc/no_superfluous_phpdoc_tags.html) tags.

So, where we are able to add type

[2021-02-09 10:16] jonasraoni commented on #6328
1. I had some comments written here before you edited. In general the `AppLocale::requireComponents(...)` was my biggest concern :)

Knowing which locale files are already loaded at a given point is not feasible, so I'm normally using the "trial and error" approach, when using a given template/class in another place, the issue rearises. A not needed require might pass unperceived, etc.

I'd say th

[2021-02-09 10:58] wera-blb commented on #6729
This is the whole process:
[code]
I am not sure if it is a database problem as mentioned in [#6732](https://github.com/pkp/pkp-lib/issues/6732)
I can do a fresh installation without any problem

[2021-02-09 11:43] jameswill commented on #6703
Hi,

However CLI upgrade can not be perfomed on shared hosting environment. Hence it would be great if the patch releases as soon as possible.

[2021-02-09 13:02] jonasraoni commented on #5678
Since the tags aren't required, I support omitting them if there's nothing special to describe.

In fact, I'd like the standard to be smarter and forward the task of guessing to the tooling... So a function with a well defined return type could use such tag `@return Return should be part of the description`. But the odds of getting such compatibility break accepted must be very small =]

[2021-02-09 14:33] loadbrain commented on #6729
This is the whole process:
[code]
I am not sure if it is a database problem as mentioned in [#6732](https://github.com/pkp/pkp-lib/issues/6732)
I can do a fresh installation without any problem

[2021-02-09 14:41] claytondf commented on #6708
@asmecher

I have already successfully updated the system to version 3_3_0-3, and for updating it was necessary to reset all email templates. At the moment I can no longer simulate the problem.
I thank you for all the support in solving this problem.
Thank you very much.

[2021-02-09 15:58] asmecher commented on #6703
I expect 3.3.0-4 will be out within a week or two -- so far the web-based upgrade form is the only major fix, and since there's a one-liner change to work around it, I'd like to wait for another issue or two to merit a release.

[2021-02-09 16:00] asmecher commented on #6737
@jameswill, do you see the `GenericPlugin` class defined in `lib/pkp/classes/plugins/GenericPlugin.inc.php`?

[2021-02-09 16:13] asmecher commented on #6738
I see this is already posted at https://forum.pkp.sfu.ca/t/http-error-500-installation-ojs-3-3-0-3/65754 -- that's the best place to start, and we can migrate back to Github if/when a bug is identified.