[2022-01-06 19:16] crowesn commented on #7596
Related #6510
Related #3483

[2022-01-06 19:54] Vitaliy-1 commented on #7592
Editable emails, like the one that is sent to reinstated reviewer, are using the email template's subject. This can lead to a fatal error if the template is missing:
[code]
Such errors should be handled or use a default generic subject for such cases.

[2022-01-06 19:56] asmecher commented on #7583
@tanabem, https://github.com/pkp/ops/commit/ee80dc4edc18f29d8e4902bb80583ce2f6db5c1f will fix the additional case.

[2022-01-06 20:15] asmecher commented on #7581
Thanks, @Vitaliy-1; that patch process is OK for now, but let's leave an issue open against 3.4.0 to review it before release. Hopefully by that point there will be a more standard approach.

[2022-01-06 20:24] asmecher commented on #7596
See also: https://forum.pkp.sfu.ca/t/non-expiring-indivudal-subscriptions-no-access-to-pdfs-ojs-3-2-1-3/65531/2

[2022-01-06 20:46] asmecher commented on #7596
@crowesn, I think swapping the `0` and `1` with `"false"` and `"true"` respectively doesn't fix the problem -- the database column is a `SMALLINT` so I think you're probably just confusing the boolean logic by adding a string to numeric comparison.

The issue is that the `non_expiring` column is no longer populated from the subscription type form since we're now depending on a `null` value in `dur

[2022-01-07 01:37] crowesn commented on #7596
This works, thanks.

[2022-01-07 02:58] tanabem commented on #7583
@asmecher ,
I confirmed that it was fixed.
Thanks lot.

[2022-01-07 03:43] asmecher commented on #7596
Thanks for confirming! Merged to `stable-3_3_0` and forward-ported to `main`.

[2022-01-07 03:43] #7596 closed

[2022-01-07 04:16] #7577 closed

[2022-01-07 14:35] twakeford commented on #7452
@asmecher I haven't been able to get it installed yet to be 100% sure, but the description sounds like it will do the job.

[2022-01-07 16:21] ctgraham commented on #7266
I've also successfully tested the patch from pkp/ojs#3244 on 3.2.1 under mysql.

[2022-01-07 17:09] asmecher commented on #7452
OK, great! I'll close this issue.

[2022-01-07 17:09] #7452 closed

[2022-01-07 17:21] asmecher commented on #7266
Thanks, all! I think the next step is an OK from @NateWr?

[2022-01-07 18:16] jnugent opened #7597 "File logging still occurs when deleting a submission or context"
**Describe the bug**
There is code in the PKPSubmissionFileService that logs the deletion of a submission file in the submission file log. This occurs even if the submission is deleted, or if a context is deleted.   After discussing this with @asmecher the suggestion is to:

1. Move the file deletion event to the submission log, and
2.  skipping logging entirely when deleting a submission? (This w

[2022-01-07 23:33] asmecher commented on #7595
@ajnyga, can you confirm that the PR (https://github.com/pkp/ojs/pull/3202) doesn't unexpectedly run counter to your intentions in limiting special characters in the first place (https://github.com/pkp/pkp-lib/issues/5505)?

[2022-01-07 23:40] asmecher commented on #7563
@eirikhanssen, thanks for documenting this so well! Could you open a pull request with your proposed changes? (It'll be easiest to open it against the `stable-3_3_0` branch; I can take care of forward-porting it from there.)

[2022-01-07 23:58] asmecher commented on #6122
@jnugent, I back-ported the fix to `stable-3_3_0` (https://github.com/pkp/ojs/commit/80a5d563830a50bd6f6a14a563c97f8a66c92fc1) and confirmed that it works, but I'm hesitant to go any further back than that. Can you confirm whether or not `stable-3_3_0` is working as you expect with the above commit (already merged) in place?

[2022-01-08 00:45] #7096 closed

[2022-01-08 02:36] Adnanpij opened #7598 "HTTP 500 error"
I was trying to install a plugin, after that there is an error occurred. Please guide me on how to fix it.
![2222](https://user-images.githubusercontent.com/60043094/148628550-f81ba95a-6638-456c-8191-bfc9a4764855.JPG)
![Capture](https://user-images.githubusercontent.com/60043094/148628552-c86807ae-f5e9-40a0-ad72-069d1ccca2eb.JPG)

[2022-01-08 03:33] asmecher commented on #7598
@Adnanpij, please include...
- What version of OJS you're using
- What plugin you installed (including its version and where you got it)
- How you installed the plugin (e.g. through the plugin gallery, by uploading it into OJS, or by unpacking the archive manually)
- What you're doing when the error message appears.

[2022-01-08 04:02] Adnanpij commented on #7598
I am using the latest version 3.3.0.8 of OJS
I am not sure due to which plugin I got this error, As  installed multiple plugins
I installed it through plugin gallery, It was already installed, I was trying to activate it by Mark.
I am unable to browse the site. therefore I am looking for suggestion how to fix it

[2022-01-08 05:26] asmecher commented on #7598
Judging by the error message, this is a problem with the OpenID plugin. We don't maintain that plugin; I'd suggest contacting its author by filing an issue here:

https://github.com/leibniz-psychology/openid/issues

[2022-01-08 05:26] #7598 closed

[2022-01-08 21:23] fgnievinski commented on #7569
I think we can leave the problem of the exact citation format for CSL folks. The central issue here is, instead, metadata for improved discoverability. To recap, the present proposal is to offer an optional configuration letting the journal editor choose a master language for the journal title metadata. That way, HTML metadata tags and XML exports (and the single-language how-to-cite text) would u

[2022-01-09 09:03] jonasraoni opened #7599 "[OPS] Invalid stage WORKFLOW_STAGE_ID_SUBMISSION"
**Describe the bug**
In a successful build log I got this warning:
`Undefined offset: 1 in /home/travis/build/pkp/ops/lib/pkp/classes/workflow/WorkflowStageDAO.inc.php on line 86`

**What application are you using?**
OPS /main (3.4 pre-release)

**Additional information**
- The problem is probably located in the file `registry/userGroups.xml`, which assigns two stages to some roles, while the appl

[2022-01-09 09:25] jonasraoni opened #7600 "Improve the data integrity"
**Describe the problem you would like to solve**
Several key fields in the database are related to hard coded constants in the code, which breaks the possibility of adding some integrity checks.

**Describe the solution you'd like**
- Identify and ensure all of such fields (e.g. `submission.stage_id`, `user_grous.role_id`, ...) have a properly linked entity in the database.
- Ensure the primary ke

[2022-01-09 10:06] jonasraoni commented on #7599
There's already code to address the `submissions.stage_id` here: https://github.com/pkp/ops/blob/main/classes/install/Upgrade.inc.php#L84

[2022-01-09 14:13] jonasraoni commented on #7589
Ok! As I had already addressed it in another PR I've just cherry picked it and created a PR pkp/ojs#3269.

[2022-01-10 08:08] jonasraoni opened #7601 "Inspect the random failures in Cypress"
**Describe the bug**
The Cypress tests might fail due to unexpected conditions.
- Accessing a given control while it's not ready (e.g. attempting to click in an element which is: covered by another, currently detached from the DOM, still being built by Vue, ...)
- Possibly racing conditions on the requests. Locally I have a random failure while creating the users: in the middle of the process, the

[2022-01-10 10:38] NateWr opened #7602 "Add support for issue title to Citation Style Language (CSL) plugin"
**Describe the problem you would like to solve**
OJS does not show the issue title in the citation, even when a citation style supports it.

**Describe the solution you'd like**
Add the issue title to the citation metadata passed to the citation generator, so that it will be shown when the citation style supports it.

**Who is asking for this feature?**
Reported in [the forum](https://forum.pkp.sf

[2022-01-10 11:58] NateWr commented on #6088
Good hunting, @duozhasht! We've proposed a couple of possible approaches to getting the correct value stored in [this comment](https://github.com/pkp/pkp-lib/issues/6088#issuecomment-664951769). I think the second approach is probably the better.

We're open to a PR from the community on this, or we'll try to get to it as part of our next major release cycle.

[2022-01-10 12:05] NateWr commented on #7593
As far as I understand the request, this relates to the reviewer assignment UI, not the submission lists. The request is to be able to find and assign a reviewer who has an editorial role in the journal. So not a typical anonymous review setup. Some or all of the reviewers would be editors in the journal.

This may be feasible already with the REST API. However, I've never heard of this request be

[2022-01-10 12:30] NateWr commented on #7266
Looks good to me! @ewhanson I'm happy to merge this in but will wait for a final OK from you in case anything has changed since you posted the PRs.

[2022-01-10 14:10] NateWr commented on #7560
A quick follow-up to explain the `assignTo` filter. Unfortunately, that does mean "assigned to in an editorial role or as a reviewer". That's used to deliver the "My Queue" submissions lists, which includes submissions assigned as an author, editorial role, or a reviewer.

Once #4975 is implemented, we'll be able to clean up some of this complicated logic (as well as all the code that anonymises s

[2022-01-10 14:19] NateWr commented on #7557
Ah! I understand now, thanks!

[2022-01-10 15:12] NateWr commented on #7572
I think we can leave the filter and label alone. We actively discourage the use of editors as reviewers, so this is a use case that we permit but actively design against. And once #4975 is implemented, this problem will go away. Stage and reviewer assignments will be separated and the `assignedTo` prop will only consider stage assignments.

[2022-01-10 15:14] NateWr commented on #7572
@Vitaliy-1 can you reproduce this in 3.3? If so, we should assign the original bug report to a 3.3 milestone.

[2022-01-10 15:32] NateWr commented on #7527
@fgnievinski left a useful [comment](https://github.com/pkp/pkp-lib/issues/2505#issuecomment-1000913657) in a related issue. In short, Crossref requires that a journal name lead to a change in ISSN. If a journal changes its name but does not change its ISSN, deposits will fail with an error that the ISSN/journal name are not compatible. More details and workarounds in the original comment.

[2022-01-10 15:37] NateWr commented on #5730
@fgnievinski I think it is safe to begin translation work now. However, please be aware that these have not been tested beyond a few key stakeholders. That means that although they've had a good review, they may still receive minor changes (eg - bug fixes and typos). And once 3.4 enters its main testing phase,  more editorial professionals will start using them and may suggest more significant cha

[2022-01-10 15:45] NateWr commented on #6126
That could be a good idea for an optional "here's what's happening" email on a regular basis. An editor could opt in to receiving a weekly or monthly round-up email that says how many submissions they have in each stage and when the last activity was on each submission (ie - 10 days ago, 92 days ago). It would be similar to the journal health report that Journal Managers now receive every month.

[2022-01-10 16:26] ewhanson commented on #7266
Thanks, @NateWr. Nothing's changed on my end. All ready to go from me.

[2022-01-10 16:28] NateWr commented on #7266
Merged to `stable-3_3_0` and `main`. :tada:

[2022-01-10 16:28] #7266 closed

[2022-01-10 16:40] Vitaliy-1 commented on #7572
No, able to reproduce only with the main branch; underlying SQL in 3.3 also looks different.

[2022-01-10 16:45] ewhanson opened #7603 "NativeImportExportPlugin CLI import crashes without user on request [OJS 3.3]"
**Describe the bug**
Starting with OJS 3.3, using the `importExport.php` CLI tool encounters a fatal error when it reaches a line like this: https://github.com/pkp/pkp-lib/blob/aedcd5a19a3bea7aa9d759cad159536287ca4ede/classes/services/PKPSubmissionFileService.inc.php#L321

**To Reproduce**
Steps to reproduce the behavior:
1. Run `php lib/pkp/tools/importExport.php NativeImportExportPlugin import .

[2022-01-10 16:45] ewhanson opened #7604 "Add ability to include user/context with CLI request"
**Describe the problem you would like to solve**
As the CLI tools are operating in a server context and do not originate from a request initiated by the browser/user, they do not include some pieces of data (e.g. a user object or a context) that parts of the application expect to be there. This typically happens when a user or context is retrieved from the request, e.g. `$request->getUser()->getUs

[2022-01-10 16:53] ewhanson commented on #7604
@asmecher, what's your take on this, and what do you think of a (user-facing) approach like the one I've suggested? In terms of testing implementation strategies, I've successfully added users to the request as a temporary workaround (`Registry::set('user', $user)`) as well as by adding an API key to the request, but haven't had any success with attaching a context yet.

[2022-01-10 16:58] lpanebr commented on #7527
great to see this moving forward. The issue description in the crossref gitlab is a delight.

[2022-01-10 20:14] asmecher commented on #7604
We have a lot of clean-up to do with our long-standing practices of deep-passing objects like `$request` (and sometimes `$user`), or jamming things into pseudo-globals like `Registry` and `Application::get`, rather than better practices like dependency injection (which we're starting to make better use of).

Meanwhile the fatal errors are actually helpful in determining where we're making assumpti

[2022-01-10 20:43] jonasraoni commented on #7604
Hi!
Last time I used the `NativeImportExportPlugin` I had some issues, which I've shared here: https://github.com/pkp/pkp-lib/issues/7143#issuecomment-952174311

[2022-01-10 20:58] asmecher commented on #7572
@NateWr, the issue is that the current "Assigned to Editor"... filter actually *does* search both editor and reviewer assignments. The `assignedTo` filter in 3.3.0's `PKPSubmissionQueryBuilder` searches both places, like 3.4.0's `lib/pkp/classes/submission/Collector.inc.php` does, so I don't think the change between 3.3.0 and 3.4.0 is a query construction issue.

[2022-01-10 20:59] asmecher commented on #7285
OK, I can be convinced to back away from the plugin approach -- but I would love to have a sunset plan for shipping both libraries.

[2022-01-10 21:02] jonasraoni commented on #7604
We can start by unifying our containers (at this moment we have the Registry, Pimple, Laravel and Singletons). I was going to create an issue for it, but I saw we have this one: https://github.com/pkp/pkp-lib/issues/7131, so perhaps it can be extended.
Then it would be possible to setup a `context` object in the Laravel's container and have it injected.

[2022-01-10 21:19] twakeford opened #7605 "Submission wizard asks for languages that are not enabled"
**Describe the bug**
When setting language settings for a second language, I have turned on _Forms_ but not _Submissions_, as I want to have duel language frontend and UI but I do not wish to receive submissions with multiple language data. But, when an author submits, despite not being asked what language their submission is in on page 1 of the submission process, they do see all the metadata opt

[2022-01-10 22:12] ctgraham commented on #5780
Current PRs:
https://github.com/pkp/pkp-lib/pull/7606
https://github.com/pkp/pkp-lib/pull/7219
https://github.com/pkp/pkp-lib/pull/7220

[2022-01-11 10:24] NateWr opened #7607 "Dublin Core subject tag only shows last keyword when more than one keyword entered"
**Describe the bug**
When more than one keyword exists, the DC metatag at the top of the article landing page only shows the last keyword instead of several. For example, if the keywords are: `apple`, `bird`, and `cat`, the DC metatag should be:

[code]

However, what is actually shown is:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure that keywords are enabled in metadata

[2022-01-11 10:31] NateWr opened #7608 "Add test to check DC metadata tags on article landing page"
**Describe the problem you would like to solve**
The DC metadata tags are not visible to a human when viewing an article landing page. For this reason, bugs can linger for a long time without anyone noticing.

**Describe the solution you'd like**
Add a test to check that DC metadata tags are present and accurate on the article landing page. The tests should check:

- [ ] All tags are present and a

[2022-01-11 11:00] NateWr commented on #7572
The `assignedTo` parameter in the [/submissions endpoint](https://docs.pkp.sfu.ca/dev/api/ojs/3.3#tag/Submissions) of the REST API deliberately gets assignments from both places. This is required for the "My Queue" submission list, until #4975 is implemented. This shouldn't be a data leak because only Managers and Admins can use the `assignedTo` parameter. If that's not the case, this is an author

[2022-01-11 12:28] Vitaliy-1 commented on #7572
Just to be more specific. The roles the user has:
![autosuggest_roles](https://user-images.githubusercontent.com/20665587/148941747-d20a49f8-cb37-4b2f-9224-be8f455589b5.png)

Autosuggest field:
![autosuggest_user_field](https://user-images.githubusercontent.com/20665587/148941782-4293ec1e-4106-4a07-9344-7f3041abce82.png)

One of the results of the search:
![autosuggest_user_results1](https://user-

[2022-01-11 14:56] diegomejia071 commented on #7051
Hi @jonasraoni,

Is there any progress or a patch that I can apply to my installation, to solve this problem.

[2022-01-11 15:54] jonasraoni commented on #7051
Hi! At this moment we're giving priority to the [tasks needed to release the version 3.4](https://github.com/pkp/pkp-lib/milestone/49). This issue is going to stay in stand-by, unless someone gets free earlier.

[2022-01-11 16:51] jonasraoni opened #7609 "Exception on the submission/controlled vocab API"
**Describe the bug**
While adding publication metadata, the languages auto-suggest field fails with an error 500.

**To Reproduce**
Enable the languages metadata and attempt to add a language.

**What application are you using?**
*/3.3.0

**Additional information**
![image](https://user-images.githubusercontent.com/361921/148986022-fc8e03f8-9b9e-4d49-b00e-77808c37566c.png)

**PRs**
https://github.

[2022-01-11 17:22] NateWr commented on #7568
I'd really prefer that we identify a good email logging solution for devs rather than a workaround to disable emails. When we disable emails, we create a whole category of bugs that are hard to catch (ie - is the wrong email being sent? is the email being sent to the wrong user? was no email sent when I expected one to be sent? was an email sent when I didn't expect one to be sent?).

Whenever we

[2022-01-11 17:33] NateWr commented on #7569
Sorry to be a grump here. But in my view the problem is with the assumption that a single work is represented by a single citation string. That just doesn't reflect reality. This is a problem for indexers, not a problem for OJS.

[2022-01-11 17:39] NateWr commented on #7570
In OJS, supplementary material is published as a galley, so it can already have its own DOI. What part of this can't be done already?

[2022-01-11 17:42] NateWr commented on #7576
@jonasraoni do you have some specific deprecated features in mind? If not, I might close this unless we have some more details to work from. I think we're all for removing deprecated code, but I'd like to keep the issues for specific tasks.

[2022-01-11 18:28] jonasraoni commented on #7568
I've mentioned about creating an `email.log` above =]
Disabling is an option to satisfy hosting needs (avoid accidents), but it's definitely ok to have it replaced by a log.

Logs: In general it's good to have separated logs for the database queries, tasks and any other possible source of noise... We could also log more often our actions using levels (trace, warning, information, error) then it's

[2022-01-11 18:33] jonasraoni commented on #7576
I've created this issue to move some code from another PR, but the code is already merged...

I was thinking about reviewing the PHP's changelog to search for other issues, but then I found a better solution, which I'll investigate, so let's close it for now =]

[2022-01-11 18:33] #7576 closed

[2022-01-11 19:35] diegoabadan commented on #6836
A late record: we had a lot of difficulty bringing accessibility to the proposed solution. Due to the imminent release of OJS/OPS 3.4 we chose to wait for it.

[2022-01-11 19:45] #7589 closed

[2022-01-11 20:13] pmangahis opened #7611 "Assigned To Editor Filter on Submission dashboard picks up submissions by Editor"
**Describe the bug**
New Editor Filter on OJS 3.3 also returns manuscripts where Editor is also the Submitting Author. As they are technically 'Assigned' a role in the Submission, I can see why this would be included. Although JMs are expecting this filter to only return submissions where they are assigned an Editor role.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Submissions > Al

[2022-01-11 21:10] asmecher commented on #7572
At least part of this turned out to be a subtle problem with the way we were using arrow function syntax. The following:
[code]
...*is not the same as*...
[code]
...because the `$query` object is taken from the outer scope in the first, and the closure in the second. When chaining `OR` conditions together it's dangerous to use the outer scope `$query` (the first example) because they may result in

[2022-01-11 21:11] bozana commented on #6782
Here the new data model i.e. DB tables for OMP (Because we need to know if the usage is for chapter or book, the OMP needs different columns, s. https://github.com/pkp/pkp-lib/issues/6781#issuecomment-975517358):

Only for our internal reports:
(context landing page, + catalog landing page)
metrics_context:
load_id, context_id, date, metric

(submission abstract page and file downloads)
metrics_su

[2022-01-11 21:25] bozana commented on #6782
Hi @NateWr,
Currently the DB tables in OMP look like above :point_up:
The difference are those COUNTER book, chapter and title metrics that we need for OMP.
I haven't considered stats for series yet. The series view page has been logged and metrics saved in the 'old' DB table `metrics`.  I think we haven't used the numbers anywhere, but I will double check.
Shall we then have a new DB table for se

[2022-01-11 22:25] asmecher commented on #5780
@ctgraham, just asking because these are labeled "draft" -- are these ready for review/testing/merging?

[2022-01-11 22:26] asmecher commented on #7371
Everything that was a valid report should now be resolved. Closing.

[2022-01-11 22:26] #7371 closed

[2022-01-11 22:28] ctgraham commented on #5780
@asmecher , I just spoke with @wopsononock earlier today and asked for him to try these out in our pre-production 3.3 and 3.4 environment per your prior request.

[2022-01-11 22:43] asmecher commented on #7600
@jonasraoni, are you proposing to have a set of constant tables, e.g. `roles`, with a list of values equivalent those defined in PHP? Presumably the PHP constants in that case would remain (and stay synced)?

[2022-01-11 22:43] asmecher commented on #5780
:+1: Thanks, let me know when we can jump in!

[2022-01-11 22:47] kshuttle commented on #6324
I have encountered a situation where section editors are not able to assign a submission to an issue without first assigning a journal editor role on the submission, even though the Section Editor role is assigned to the Production stage.

This seems to be happening because the journal _only_ has section editors assigned to each submission, and no other roles (the section editors are assigned to t

[2022-01-12 02:47] asmecher commented on #7597
@jnugent, we had a little discussion about this on Slack, with @NateWr recommending that we don't skip the logging when deleting a submission (or entire journal). I think part of the initial reasoning behind your proposal was to avoid some fatal errors, which IIRC didn't turn out to be caused by logging then deleting. Were you encountering a significant performance slowdown that was traced to logg

[2022-01-12 02:49] asmecher commented on #7569
A note on locale codes for languages that offer several character set variants: we use the `xx_YY@charset` form, with `@charset` only included where necessary. You can see several examples here: https://github.com/pkp/pkp-lib/tree/main/locale

[2022-01-12 06:25] fgnievinski commented on #7569
maybe not a single citation string, as it depends on the language and script of the citing document and the citation style, as per examples below.

but the journal title ought to be kept fixed to whatever the publisher chose to print on the front cover and decided to register with the ISSN authority, plus a transliteration if necessary.

so, a citation of the article at https://uk.e-medjournal.com

[2022-01-12 07:19] jonasraoni commented on #7600
Exactly, that's how I've been dealing with such hard coded enumerations/types.
Besides helping with the integrity, it's also easier to grasp what the data mean (and also the possible values) by watching the database itself.

In general, I also prefer to use strings than numbers, so when a constant disappear I won't stay with holes, but it has some drawbacks.

[2022-01-12 07:54] Vitaliy-1 commented on #7569
@fgnievinski, I'm a bit confused here, is this discussion about localization of a journal title or citations?

Regarding references in articles of this particular journal, it's just negotiations between editorial staff.

If continue the discussion around this journal, I think you may notice that it publishes the same article in 2 languages, with 2 separate URLs. The articles in the journal are bil

[2022-01-12 08:57] #7609 closed

[2022-01-12 09:12] Vitaliy-1 commented on #7569
To double-check this, the problem is only in `how-to-cite` text, right? or there are other places where in metadata tags or XML exports isn't used a fixed title?

[2022-01-12 09:16] NateWr commented on #7568
Thanks, that's nice to know about Laravel's `Mail::fake()`. I'd prefer to check emails in integration tests, though, because often the journal configuration or user options effect whether an email was sent or what it's content is.

[2022-01-12 09:17] NateWr commented on #6836
Thanks for the update. I'll leave this issue open and we can revisit it after #7191 is in place.

[2022-01-12 09:19] NateWr commented on #7572
Yikes! Good to know, thanks!

[2022-01-12 09:42] NateWr commented on #7569
Probably Crossref, which I think expects a journal title with each deposit. Not sure about others, but there's a list of distribution services in https://github.com/pkp/pkp-lib/issues/5980#issue-636172778.

[2022-01-12 10:16] NateWr commented on #6324
Thanks for the excellent reproduction steps, @kshuttle! I think the problem you're running into is that the section editor you are logged in as (Jones Julie) has the "recommend only" setting enabled. Editors with this setting are not permitted to publish a submission.

(If you look at the screenshot with "Edit Assignment", you'll see that is for a different editor, Julia Lane.)

It seems to me tha

[2022-01-12 10:22] NateWr commented on #6782
This looks great, @bozana. What do the `title` investigations/requests represent?

Yes. I think this is in OMP and not OJS because we don't have a section landing page in OJS (yet).

[2022-01-12 10:32] NateWr commented on #7580
@jnugent can you add some reproduction steps to the issue report?

[2022-01-12 10:38] NateWr opened #7612 "Review Laravel/Symfony mail integration before 3.4's release"
Laravel 9 is migrating to Symfony mail. In https://github.com/pkp/pkp-lib/issues/7581, we have adopted this integration. However, Laravel 9 is not yet released.

Before 3.4 is released, we should review our use of this, identify any changes that were made before Laravel 9's release, and ensure we're handling these appropriately.

[2022-01-12 10:38] NateWr commented on #7581
I filed the review issue at https://github.com/pkp/pkp-lib/issues/7612.

[2022-01-12 10:43] NateWr commented on #7591
Were you thinking of trying to use it during the validation tests with Travis?

[2022-01-12 10:43] jnugent commented on #7580
@NateWr other than what's in the forum post, no I can't, because I don't have a PHP8 install handy. The import works fine on PHP7.

[2022-01-12 10:47] NateWr commented on #7594
@asmecher it looks like maybe you've committed a fix for this to `stable-3_3_0` and `main`. Can this be closed?

[2022-01-12 10:52] NateWr commented on #7599
@ajnyga do you remember if the submission stage ID is necessary? I feel like maybe it was necessary to handle the submission wizard, but I can't remember.

[2022-01-12 11:02] NateWr commented on #7601
This problem is much more prominent in parts of the code that use the old JS library. That's because it tends to update large chunks of the DOM at once. Where the new Vue-based UI is used, Vue is smart enough to make smaller updates, so fewer references to DOM objects get trashed.

Where this can still be an issue is in waiting for requests to finish. But in almost all cases, the UI _should_ provi

[2022-01-12 11:03] jonasraoni opened #7613 "Keyword auto complete not working while submitting a preprint/book/submission"
**Describe the bug**
The keywords auto-complete at the 3rd submission step of OPS (perhaps others) isn't working.

**To Reproduce**
1. Ensure the installation have some available keywords
2. Register a new submission
3. At the 3rd step (Enter Metadata), type some letters and wait for the auto complete
4. Nothing happens, no request is made and a div "No search results." appear at the bottom of the

[2022-01-12 11:20] NateWr commented on #7605
@asmecher does this fix look ok to you? Seems straightforward but I haven't touched any of this in a long time.

PR:
https://github.com/pkp/pkp-lib/pull/7614

Tests:
https://github.com/pkp/ojs/pull/3272

[2022-01-12 11:26] NateWr commented on #7611
This is expected behaviour, though I admit it's a little funky. In the code, the "assigned to" filter works the exact same way as the "My Queue" list. In other words, it gets any submissions that a user is assigned to in an editorial, author or reviewer role.

I'd like to sort this out as part of #4975, which is scheduled for 3.5. So I'm hoping that this isn't causing any major problems in the mea

[2022-01-12 11:27] NateWr commented on #7572
@pmangahis has filed a nice issue about the Assigned to Editor filter. So let's keep this issue specifically for the user collector bug and discuss the best behaviour for the Assigned to Editor filter at https://github.com/pkp/pkp-lib/issues/7611.

[2022-01-12 11:54] NateWr commented on #7605
Not sure why, but this did break the tagit autosuggest fields in the submission wizard...

[2022-01-12 13:03] jnugent commented on #7597
@asmecher no, it wasn't a performance issue, it was the fact that the submission file service does this, when it logs:

'username' => Application::get()->getRequest()->getUser()->getUsername(),

and I had rolled the journal deletion code into a CLI tool and that causes the above line to Fatal Error because there's no user in the Request object when I was doing that.  Feel free to close the issue i

[2022-01-12 13:43] jonasraoni commented on #7591
Yeah, given that we don't have a tons of unit tests, anything that helps mitigating unexpected errors automatically, sounds great for me.
But just like the issue about "removing deprecated code", this is mainly a self-reminder. Let me know if we have a better place this kind of thing :)

[2022-01-12 13:46] NateWr commented on #7605
Found the problem with the keywords fields. I've now merged this to `stable-3_3_0` and manually ported it to the `main` branch.

[2022-01-12 13:46] #7605 closed

[2022-01-12 13:48] NateWr commented on #7591
I've have a bunch of these note-to-self issues scattered around too. As long as it's something you really plan to get to, I'm ok leaving them filed here.

[2022-01-12 13:53] jonasraoni commented on #7591
Ok! So I'll use this issue to keep related resources. In order to auto-refactor code to use newer PHP features (it might probably cover deprecations), we can use the https://github.com/rectorphp/rector

[2022-01-12 14:03] jonasraoni commented on #7599
I didn't tag anyone yet because the build is failing at this moment and I'm watching other things, but I'd definitely enjoy to have a confirmation meanwhile =]
There was another issue in the build log (when creating folders), but I didn't investigate it yet.

[2022-01-12 14:54] bozana commented on #6782
Thanks a lot @NateWr!!!
Title metrics are the unique metrics for a submission (= book).

[2022-01-12 15:20] dennmuel commented on #7595
In case the regex is okay, I prepared PRs for OMP and OPS as well.
Btw: OMP did not have a regex as suggested in #5505, so I just added the more lax one in the PR. I don't know if it even makes sense there, but did it just in case.

pkp/ojs#3202
pkp/omp1050
pkp/ops#217

[2022-01-12 15:22] bozana commented on #6782
Yes, and title metrics are only unique -- if one and the same submission is viewed/downloaded several times within an hour, no matter if that was a chapter or book landing page, a chapter file or the whole book file (for downloads), it will only count 1.

[2022-01-12 17:44] kshuttle commented on #6324
Thanks @NateWr for weighing in on this!
Unfortunately the section editor is not able to schedule the submission for publication even without the "recommend only" settings turned on.
However, the journal is using OJS 3.2 and we were not able to reproduce the problem in 3.3, so I believe we may be able to close this issue and recommend an upgrade.

[2022-01-12 17:54] asmecher commented on #7605
Late to the game, but a glance this looks fine, @NateWr. I remember distinguishing submission and form locales and needing to add code like this to numerous places; no surprise that we missed this one.

[2022-01-12 17:56] asmecher commented on #7597
Ah, I think this is raised more generally over here: https://github.com/pkp/pkp-lib/issues/7604

Could you add this scenario to the documentation on that issue and close this one?

[2022-01-12 17:59] #7594 closed

[2022-01-12 18:07] jnugent commented on #7604
Just adding another use case for this, in that I had written a CLI tool for deleting a context and it was generating a fatal error because the submission file logging service dies since it was also having problems with the Request/User environment:

'username' => Application::get()->getRequest()->getUser()->getUsername(),

[2022-01-12 18:07] jnugent commented on #7597
Done, and closing!

[2022-01-12 18:07] #7597 closed

[2022-01-12 18:12] asmecher commented on #7600
I'm not convinced that adding constant tables in the database is going to improve things enough to justify the work. We'd need a *lot* of them in order to do this comprehensively -- roles, workflow stages, file stages, assoc types, etc. etc.

There are a couple of other options we could consider:
- Database enums ((counter-argument)[http://komlenic.com/244/8-reasons-why-mysqls-enum-data-type-is-ev

[2022-01-12 18:53] jonasraoni commented on #7600
Yeah, I totally agree with the priority! I'm creating some issues just to share notes publicly/discuss, just a reminder for future cleanups.

[2022-01-12 20:11] fgnievinski commented on #7569
For the sake of the argument, let's assume we agree it's a good idea to follow the ISSN and CrossRef data model and accept for the moment a journal cannot have more than one main title.

If the editor enters the journal title in multiple languages in OJS, in principle those language-specific versions will show up in all of HTML tags, XML exports, and how-to-cite text.  This would cause a more seri

[2022-01-12 20:31] AhemNason commented on #7569
My perspective is that Crossref are reviewing multilingual metadata _as we speak_ and I think if we’re going to have large conversations about the treatment of multilingual metadata and its innumerable, potential downstream endpoints, we’ll have to do a much broader review than just what Crossref needs.

These issues go well beyond Crossref. Google scholar expects specific things for translated me

[2022-01-13 01:59] librariam commented on #7426
+1 from a PKP|PS client where multiple authors are putting nothing other than "Prof" and "Dr" in the preferred name field.

Also, I hope it's an ok temp solution to modify the field prompt via the Custom Locale plugin:

File: lib/pkp/locale/en_US/user.po
Key: user.preferredPublicName.description

[2022-01-13 03:14] asmecher commented on #7016
As @NateWr suggested, it's available in the author array, so this is actually a pretty quick fix.

PRs:
- https://github.com/pkp/pkp-lib/pull/7619
- https://github.com/pkp/ojs/pull/3273 (tests only)

@NateWr, assuming these pass, could you have a quick look? It's a one-liner.

PRs are against `stable-3_3_0` -- this will need cherry-picking forward.

[2022-01-13 03:18] asmecher commented on #7607
I just tested this locally and couldn't reproduce with either `stable-3_3_0` or the `3_3_0-8` tag (OJS and pkp-lib)... The testing data set shows:
[code]
Were you able to reproduce this with a 3.3.0-8 installation?

[2022-01-13 03:20] #7506 closed

[2022-01-13 03:25] asmecher commented on #7377
@kaitlinnewson, I'm afraid I can't replicate this locally; can you contact me privately with details about where you're seeing it?

[2022-01-13 03:26] #7331 closed

[2022-01-13 03:55] asmecher commented on #7150
The patch I proposed is against the `main` branch, so won't apply against `stable-3_3_0`. However, reviewing the situation, I don't think it's likely to fix the problem -- that section of code is only run during the submission process, and the issue seems to appear after that is complete. If anyone is able to provide more information about the conditions that cause this, or (better still) how to r

[2022-01-13 09:26] NateWr commented on #7426
This is improved in the `main` branch and will go out with 3.4 like this:

![contributor-form](https://user-images.githubusercontent.com/2306629/149302728-e09e75e9-f25e-4c9e-bd04-3b768fd1192d.png)

[2022-01-13 09:26] #7426 closed

[2022-01-13 09:57] NateWr commented on #7016
`Publication::getAuthorString()` is used in several places, not just in browse lists. I think some care would need to be taken to ensure that this didn't have a negative impact on a stable branch. Here are all the places I find it used in OJS `stable-3_3_0`:

[code]

Of those, the use in the license (`APP\submission\Submission::57`) is probably the biggest risk. But maybe also in the `EditorDecisi

[2022-01-13 10:26] NateWr commented on #5780
Another request on the forum: https://forum.pkp.sfu.ca/t/replacing-the-file-in-the-publisher-library/71246/2

[2022-01-13 11:28] jnugent opened #7620 "DataCite plugin form CSRF error"
**Describe the bug**
The DataCite plugin form in 3.3.0.8 currently generates a fatal error because it is unable to find a class.

The form currently adds a form check for the CSRF this way:

`$this->addCheck(new \PKP\form\validation\FormValidatorCSRF($this));`

But it should probably do it this way instead:

`$this->addCheck(new FormValidatorCSRF($this));`

The error being reported is:
PHP message

[2022-01-13 12:03] jnugent opened #7621 "OMP monographs with long author lists displays HTML"
**Describe the bug**
If a monograph has more than 5 authors, the monograph_full.tpl tempate formats the list as a comma separated list to save space.  It uses the Smarty {capture} tag to wrap author names in a set of span class="label" or class="value" tags.  These tags come through onto the page as escaped HTML.

![Screenshot at 2022-01-13 07-58-39](https://user-images.githubusercontent.com/21871

[2022-01-13 15:59] asmecher commented on #7620
Thanks, @jnugent, we have added namespacing to the `main` branch and it looks like part of that was accidentally back-ported in the CSRF check addition.

[2022-01-13 15:59] #7620 closed

[2022-01-13 21:33] asmecher commented on #7016
Thanks, @NateWr, I moved too quickly on what I thought was a one-liner.

I've taken a look over it and reworked this for both `stable-3_3_0` and `main` branches:

PRs:
- stable-3_3_0:
  - https://github.com/pkp/pkp-lib/pull/7619
  - https://github.com/pkp/ojs/pull/3273 (tests only)
- main:
  - https://github.com/pkp/pkp-lib/pull/7622
  - https://github.com/pkp/ojs/pull/3275

The changes...
- Align

[2022-01-13 23:24] kshuttle commented on #5730
Hi @NateWr,

Thanks for drafting these and sharing them with me! I think they look good. The only edits I would suggest are very minor wording choices which don't really impact the messaging overall, so feel free to take-or-leave these.

In various emails, instead of:

Replace with:

In the editorDecisionNewReviewRound email:

Instead of:

Replace with:

(This wording is closer to that used in the

[2022-01-14 09:43] suprayogi20 commented on #5081
open config.inc.php on your ojs
and
change script
[database]
driver = mysql
to
[database]
driver = mysqli

[2022-01-14 12:20] henriqueramos commented on #4622
@asmecher I've rebased the PRs, could you please check those? Thank you!

[ojs](https://github.com/pkp/ojs/pull/3132)
[pkp-lib](https://github.com/pkp/pkp-lib/pull/7049)
[ops](https://github.com/pkp/ops/pull/196)
[omp](https://github.com/pkp/omp/pull/1031)

[2022-01-14 17:54] asmecher commented on #4622
I've just added a comment to each -- it's very close, and sorry to drag it out with yet another couple of changes, but these should be quick!

[2022-01-14 23:00] devinberg opened #7623 "Add support for RSS feeds to OPS"
**Describe the problem you would like to solve**
Ability to produce as RSS feed for a preprint server. Ideally, feeds could be created for "Disciplines", "Keywords", etc. as well.

**Describe the solution you'd like**
Migrate the existing [Web Feeds](https://github.com/pkp/ojs/tree/main/plugins/generic/webFeed) to OPS.

**Who is asking for this feature?**
Server admin. Server users.

[2022-01-15 16:36] franjavier6 commented on #6941
This is something needed ("Notify reviewers when a submission they reviewed has been accepted or rejected"), including the peer-reviewers' comments.
When playing the role of a reviewer, I appreciate when I receive an informative email with the editor's decision and including all reviewers' comments on it. There I can see what others wrote in their reviews so I can learn from them and keep improvin

[2022-01-15 17:33] Vitaliy-1 opened #7624 "Replace strftime() as it's deprecate in PHP 8.1"
**Describe the problem you would like to solve**
`strftime` function is deprecated in PHP 8.1, see: https://www.php.net/manual/en/function.strftime.php

**Describe the solution you'd like**
It's suggested for locale-dependent formatting to use `IntlDateFormatter::format()`: https://github.com/php/php-src/commit/4b3615a33ff376281ddd1e228237b435a9738521

**Additional information**
`strftime` uses it

[2022-01-16 15:34] mpbraendle opened #7627 "citationStyleLanguage: Check for existence of data (e.g. abstract, author names)"
If e.g. the abstract or an author of a publication is empty, the CSL plugin throws an error.

PHP Warning:  htmlspecialchars() expects parameter 1 to be string, array given in /var/www/virtual/ojs.chimia.ch/htdocs/ojs/plugins/generic/citationStyleLanguage/CitationStyleLanguagePlugin.inc.php on line 323PHP message: PHP Fatal error:  Uncaught Seboettg\\CiteProc\\Exception\\CiteProcException: Illegal

[2022-01-16 16:02] mpbraendle commented on #7627
It might be an import problem in our case, where an empty author record was imported.

[2022-01-16 16:02] #7627 closed

[2022-01-16 18:11] jonasraoni commented on #7613
@asmecher Could you please take a look at the [comment I've left in the OMP's PR](https://github.com/pkp/omp/pull/1053#pullrequestreview-853697392)?

p.s.: I was going to replace the `tag-it` component (looks like it's the only place using it) by our autosuggest, but then I decided to leave it for the next refactoring (replace the current wizard by Vue components).

[2022-01-17 01:04] edersotto commented on #7484
It seems that DOAJ API V2 has been discontinued and we are getting an error when using the plugin due to this. Is there any forecast of development of the integration with V3?

[2022-01-17 09:11] Vitaliy-1 commented on #7581
Closing this one then

[2022-01-17 09:11] #7581 closed

[2022-01-17 11:27] NateWr commented on #7016
The code looks good. A couple of thoughts about the changes and why I chose before not to bring some features over to `Publication::getAuthorString()`.

I don't think we ever want to not use the preferred public name with this method, do we? My understanding is that if someone has supplied us with a preferred public name, we should always use it when compiling the author string. The only time we w

[2022-01-17 12:01] NateWr commented on #5730
That's great, thanks @kshuttle!

[2022-01-17 12:44] NateWr commented on #7621
It looks like this has been fixed in `main` as part of chapter pages in #7132, but it still needs to be fixed in `stable-3_3_0`. The preferred approach is here:

https://github.com/pkp/omp/blob/main/templates/frontend/components/authors.tpl#L59-L69

And that needs to be applied to:

https://github.com/pkp/omp/blob/stable-3_3_0/templates/frontend/objects/monograph_full.tpl#L139-L154

[2022-01-17 12:47] NateWr commented on #7621
@jnugent can you test the change in this PR?

PR:
https://github.com/pkp/omp/pull/1055

[2022-01-17 12:51] NateWr commented on #7624
I've assigned this to 3.4 so we can get ahead of it. I think because it's such a key configuration item, it might be too big of a change for 3.3.0, but I'm not sure how this will effect 3.3 as a LTS version. @asmecher thoughts on PHP 8.1 and LTS?

[2022-01-17 12:52] jnugent commented on #7621
@NateWr confirmed fixed with that change.

[2022-01-17 12:54] henriqueramos commented on #4622
@asmecher Fixed the points. Could you please check it?

[ojs](https://github.com/pkp/ojs/pull/3132)
[pkp-lib](https://github.com/pkp/pkp-lib/pull/7049)
[ops](https://github.com/pkp/ops/pull/196)
[omp](https://github.com/pkp/omp/pull/1031)

[2022-01-17 14:03] NateWr commented on #7621
Thanks @jnugent! Merged to `stable-3_3_0` and should already be fixed in `main`.

[2022-01-17 17:26] asmecher commented on #6112
Did you re-run the Travis tests with the updated PR (https://github.com/pkp/pkp-lib/pull/7456), @jonasraoni? I've added 2 comments there, and once those are addressed this can be merged if the tests are passing.

[2022-01-17 17:28] asmecher commented on #7471
@ewhanson, the first PR (`main`) is showing test failures and the second needs a rebase to resolve a conflict. Can you take a look?

[2022-01-17 17:54] jonasraoni commented on #6112
@asmecher This issue is already merged/closed, is this a bug/delayed comment? :D

[2022-01-17 19:07] henriqueramos commented on #7171
@asmecher I've updated only the OJS and pkp-lib pull requests.

https://github.com/pkp/ojs/pull/3254/files
https://github.com/pkp/pkp-lib/pull/7553/files

[2022-01-17 20:39] asmecher commented on #7171
Thanks, @henriqueramos, I've added a few comments.

[2022-01-17 20:56] asmecher commented on #6112
Weird, I think I must've wandered into an old Github notification without noticing it. The two comments would be nice to address in `main`, otherwise no need to revisit this, thanks!

[2022-01-17 22:44] asmecher commented on #7624
It's deprecated with 8.1, not removed. The removal is set for PHP 9.0, which as far as I can tell doesn't have a release date. I recommend we don't schedule a back-port of the adaptation away from `strftime` for `stable-3_3_0` until we know it'll be needed per our LTS commitments; the gap between major PHP releases can be very significant.

[2022-01-17 22:48] asmecher commented on #4622
Merged the PRs above, @henriqueramos!

The outstanding task is to reconcile the new queue-based tasks with the existing scheduled tasks, hopefully by replacing our haphazard cron-like implementation (see `registry/scheduledTasks.xml` and the `scheduled_tasks` table it loads) with a 3rd-party implementation. This will require a bit of a survey for existing libraries/tools before any coding -- espec

[2022-01-18 11:11] vvkorotkikh opened #7629 "[OJS] Add announcement modal does not load. Failed Ajax request or invalid JSON returned."
OJS version 3.1.2.0

![add](https://user-images.githubusercontent.com/10060590/149926601-da77d4c6-4902-4fcc-8d28-58739128c213.png)

Settings > Website > Announcements > Add Announcement. The modal ajax call leads to a "Failed Ajax request or invalid JSON returned" message and the following error appears in my site error log:
[code]

There are no any errors in my php error log:
[code]

Response hea

[2022-01-18 11:44] NateWr opened #7630 "Can not save preferred public name in user profile"
**Describe the bug**
It is not possible to save the preferred public name in the user profile form. When a name is entered and saved, it disappears after the page is refreshed.

**To Reproduce**
Steps to reproduce the behavior:
1. Login and go to your user profile.
2. On the Identity tab, enter a preferred name and save the form.
3. Reload the page.
4. See that the preferred name is gone.

**What

[2022-01-18 11:46] NateWr commented on #7630
Fixed in https://github.com/pkp/pkp-lib/commit/e1f9ab97cce5598a92671ec0ca47fa4268d490f6.

[2022-01-18 11:46] #7630 closed

[2022-01-18 12:29] NateWr commented on #5730
@kshuttle here's another new email template, for when a submission is sent to the review stage. I feel like it should have some more information about what the author can expect, maybe a note on the challenges of finding reviewers who complete in a timely manner, etc. But I'm struggling to think of what to say. Can you take a pass at it?

[2022-01-18 16:55] jonasraoni commented on #4622
I remember about some issues with the `scheduledTasks.xml` 😁

The Laravel scheduler supports `CRON` expressions. Given the popularity/ecosystem and monetization of Laravel, I think we should stick to it whenever we can.

[2022-01-18 17:36] NateWr commented on #7265
@asmecher Here are early draft PRs for the new editorial decisions. There's lots of UI work left to do, and OMP and OPS, but the new decisions are in place and working in OJS. This is a massive PR and will likely shift as a I work on OMP/OPS. However, I wanted you to take an initial look at the overall approach.

PRs:
https://github.com/pkp/ui-library/pull/176
https://github.com/pkp/pkp-lib/pull/7

[2022-01-18 18:49] asmecher commented on #7629
@vvkorotkikh, we are no longer supporting OJS 3.1.2-x, so I'll close this issue -- but since your server is responding with a `500` error when requesting the modal, there should definitely be an error in either your PHP or Apache (or equivalent) error logs.

[2022-01-18 18:49] #7629 closed

[2022-01-18 18:55] kshuttle commented on #5730
Hi @NateWr,

Is there some overlap with this new template and the ones proposed here? https://github.com/pkp/pkp-lib/issues/7356

This other one is split into three templates depending on the type of peer review being conducted, but we could simplify this down to one template by removing that detail. We could leave in the following details for authors about what to expect:

I'll give some thought

[2022-01-18 21:20] kshuttle commented on #5822
I am experiencing this issue with a journal in Firefox - the same menu item as reported above (Statistics) is out of line and I am unable to click on the submenu items. I loaded the journal dashboard in Chrome and the issue is not appearing there. The misalignment happens when the browser is zoomed in at 100% or higher. When I zoom out in the browser and make the website text smaller, the alignmen

[2022-01-18 23:54] asmecher commented on #7484
@edersotto, according to Dom from DOAJ, the old v2 API has not been shut down even though v3 has been launched; see e.g. https://forum.pkp.sfu.ca/t/advance-notice-doaj-api-breaking-change-coming-new-version-number/69532/3.

[2022-01-19 01:11] asmecher commented on #7265
Thanks, @NateWr, that's a huge amount of work! I've added comments to the PRs but a few general comments...
- There's a bit of cardinality creep in the decisions, i.e. they multiply out the options for the source and destination stage. I thiiiiink this will be OK because the cardinalities are not huge -- though you may find a bunch more are necessary in OPS because of the additional review stage o

[2022-01-19 11:04] NateWr commented on #5730
Ah, yes, I had forgotten about those. I'll follow those templates, thanks!

[2022-01-19 11:06] #5822 closed

[2022-01-19 11:17] NateWr commented on #7265
Thanks!

Can you explain a bit more what you mean by this? Are you referring to the fact that what was one decision type before (Accept) is now two decision types (Accept, Accept and Skip Review)?

I'm sure we're going to get some push-back on this. But we get a lot of requests to be able to do more stuff when taking a decision (send other emails, assign/reassign reviewers, send files for processi

[2022-01-19 13:31] NateWr commented on #7607
PR:
https://github.com/pkp/ojs/pull/3280

[2022-01-19 14:18] NateWr commented on #7474
Thanks everyone! The following PRs fix mimetype detection for wma, wmv, csv and docm files.

PRs:
https://github.com/pkp/pkp-lib/pull/7632 (`stable-3_3_0`)
https://github.com/pkp/pkp-lib/pull/7633 (`main`)

Tests:
https://github.com/pkp/ojs/pull/3281 (`stable_3_3_0`)

This will fix mimetype detection for newly uploaded files. Files that were already uploaded will still have the old mimetype. These

[2022-01-19 14:22] NateWr commented on #7607
Merged to `stable-3_3_0` and ported forward to `main` (https://github.com/pkp/ojs/commit/fa5c43fd27f6206981afe164c2d4cd3cc6ced79d).

[2022-01-19 14:22] #7607 closed

[2022-01-19 14:43] NateWr commented on #7538
PR:
https://github.com/pkp/pkp-lib/pull/7634

Tests:
https://github.com/pkp/ojs/pull/3282

[2022-01-19 14:59] AhemNason commented on #7528
Right, so in the Crossref schema, they made the decision to support single-name deposits as well. But, they just went with the other name field.

[code]

This is facet valid and expected in the schema. I know it seems a little weird, but I suspect it's because of the expected placement of a person's name in like... citations. Surname is usually listed first, so that's likely the logic here. In any

[2022-01-19 15:00] NateWr commented on #7474
Merged to `stable-3_3_0` and `main`.

[2022-01-19 15:00] #7474 closed

[2022-01-19 15:40] NateWr commented on #7171
@henriqueramos Alec asked me to take a look at the UI part of this. It looks good! I've opened a couple PRs to your repos that just remove some unnecessary code and simplify the setup of the `JobsPage` component.

https://github.com/henriqueramos/ui-library/pull/1
https://github.com/henriqueramos/pkp-lib/pull/2

I also noticed that pagination isn't implemented yet for the table. You'll want to tak

[2022-01-19 17:18] henriqueramos commented on #7171
@NateWr I've added few comments on those PRs, could you please take a look on it?

[2022-01-19 17:21] henriqueramos commented on #7171
@asmecher I've updated the PRs and replied your comments, could you please take a look? Thank you!

https://github.com/pkp/ojs/pull/3254/files
https://github.com/pkp/pkp-lib/pull/7553/files
https://github.com/pkp/omp/pull/1043
https://github.com/pkp/ops/pull/209

[2022-01-19 18:06] pmangahis opened #7635 "Add CSV monograph report to OMP"
**Describe the problem you would like to solve**
Press Managers would like to be able to generate reports from the front end similar to what would be provided by the 'Articles Report' in OJS

**Describe the solution you'd like**
Columns to include
- Monograph Title
- Authors
- Publication Date
- Series Name
- ISBN/ISSN
- URL
- DOI
- Categories

**Who is asking for this feature?**
Press Managers

[2022-01-19 18:17] marcoblancas opened #7636 "importexport fails filling the locale column in submissions table. Users can't edit metadata in submissions."
**Describe the bug**
Users can't edit metadata in issues previously imported with importexport tool. They get this error:

![imagen](https://user-images.githubusercontent.com/5545390/150188057-1fa80323-c5cc-46b6-aac9-6db8ee65a9a3.png)

but no field missing is marked as required. Even if user fill all the fields the error persist and user can't save the updated issue.

**To Reproduce**
1. Create a

[2022-01-19 18:46] kristinmhoffmann commented on #7595
We also host a handful of bilingual journals whose journal initials contain a hyphen or underscore, so would like to see the permitted characters added back. Example:
On 3.1: [https://doi.org/10.5206/cjsotl-rcacea.2020.2.9415](https://doi.org/10.5206/cjsotl-rcacea.2020.2.9415)
On 3.3: [https://doi.org/10.5206/cjsotlrcacea.2021.1.14255](https://doi.org/10.5206/cjsotlrcacea.2021.1.14255)

[2022-01-19 21:41] mpbraendle commented on #6778
Can confirm this behavior. Unfortunately, for our journal this happened with an article that had many authors, quite tedious to fix manually. https://ojs.chimia.ch/chimia/article/view/643

[2022-01-19 21:43] mpbraendle commented on #6778
Any bug fix for this - where can I investigate myself?

[2022-01-19 22:12] JhonathanLepidus opened #7637 "Can't export XML or deposit via CrossRef Export Plugin in OPS"
**Describe the bug**
When in OPS, it's not possible to deposit a preprint or export it as XML.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  Tools > CrossRef XML Export Plugin
2. Click on "Preprints"
3. Select any preprint and click on "Download XML"
4. See error

**What application are you using?**
OPS 3.3.0-8

**Additional information**
The error occurs because of [calling the fun

[2022-01-20 01:00] asmecher commented on #7171
I just made a couple small comments; if you can resolve those, let me know and I'll check it out for some first-hand testing!

[2022-01-20 07:09] henriqueramos commented on #7171
I think I've covered each topic mentioned on your comments @asmecher.

There a few replies on it, please, check those. Thank you!

[2022-01-20 10:37] NateWr commented on #7528
Ok that makes sense, thanks.

[2022-01-20 10:50] NateWr commented on #6778
@mpbraendle, no fix for this yet but I have added it to the 3.3.0-9 milestone. That doesn't mean it will get fixed for 3.3.0-9 but it will get noticed in future maintenance releases.

If you're willing to contribute a fix to the `stable-3_3_0` branch, you can take a look at PKPAuthorForm: https://github.com/pkp/pkp-lib/blob/stable-3_3_0/controllers/grid/users/author/form/PKPAuthorForm.inc.php

You

[2022-01-20 10:53] NateWr commented on #7171
I forgot to mention one other thing. This creates a new page in the navigation menu that can be accessed by a Journal Manager. @asmecher what do you think about this? My first thought was that this should be in admin tools and only accessible to the admin. It seems like an overly technical thing to expose to the Journal Manager.

[2022-01-20 11:02] NateWr commented on #7635
Just to clarify, do you mean by going to Statistics > Reports in the editorial UI?

[2022-01-20 11:04] NateWr commented on #7636
Hi @marcoblancas, I suspect this is happening because the submissions have metadata in a language that is not enabled for submissions. This is the most common cause of seeing a form error but where the error message doesn't appear in any field.

Can you check your database and see if this is the case?

[2022-01-20 11:09] NateWr commented on #7637
The code you are looking at is for the `main` branch. This was split out as part of working going into the next release (3.4.0), and the `->toArray()` method is necessary there.

The Crossref plugin for OPS 3.3.0-x is still located in the OPS repository here:

https://github.com/pkp/ops/blob/stable-3_3_0/plugins/importexport/crossref/filter/PreprintCrossrefXmlFilter.inc.php#L66

It doesn't look li

[2022-01-20 11:13] NateWr commented on #3293
Committed to `main` in https://github.com/pkp/pkp-lib/commit/c802b392f4019ff3dd0d24b72d6bb64fef87e224.

[2022-01-20 11:13] #3293 closed

[2022-01-20 11:18] NateWr commented on #3610
Closing this as outdated.

[2022-01-20 11:18] #3610 closed

[2022-01-20 11:19] NateWr commented on #3618
This is implemented as part of #5730.

[2022-01-20 11:19] #3618 closed

[2022-01-20 11:21] NateWr commented on #3663
Closing this as we are no longer working on fixes for 2.x.

[2022-01-20 11:21] #3663 closed

[2022-01-20 11:21] NateWr commented on #3675
This is being fixed in #5730.

[2022-01-20 11:22] #3675 closed

[2022-01-20 11:25] NateWr commented on #3697
I'm going to close this as outdated. These issues may have been resolved. But if there are any outstanding problems in 3.3.0-x or later, please file a new issue for each request.

[2022-01-20 11:25] #3697 closed

[2022-01-20 11:26] NateWr commented on #3700
Closing this in favor of https://github.com/pkp/pkp-lib/issues/3501.

[2022-01-20 11:26] #3700 closed

[2022-01-20 11:28] NateWr commented on #3718
The original report from the forum is for an OJS 2.x journal. I'm going to close this as outdated but feel free to reopen is this is still an issue that needs to be addressed.

[2022-01-20 11:28] #3718 closed

[2022-01-20 11:29] NateWr commented on #3719
OMP does support most of the OJS API endpoints. I will close this. Requests for additional endpoints can be made in a new issue.

[2022-01-20 11:29] #3719 closed

[2022-01-20 11:29] NateWr commented on #3721
This button is no longer used from OJS 3.2.x and above.

[2022-01-20 11:29] #3721 closed

[2022-01-20 11:31] NateWr commented on #3745
@ajnyga do you know if this is still an issue in 3.3.0-x?

[2022-01-20 11:32] NateWr commented on #3819
Language settings are available in the settings wizard. I think this was added in 3.3.0-x.

[2022-01-20 11:32] #3819 closed

[2022-01-20 11:33] NateWr commented on #3777
@bozana I think that the changes we're making to how usage statistics are recorded will mean that we no longer need to consider this, right? Can I close this issue?

[2022-01-20 11:34] NateWr commented on #3781
Fixed. See comment in PR linked above.

[2022-01-20 11:34] #3781 closed

[2022-01-20 11:35] NateWr commented on #3789
Closing this as we are no longer providing fixes for 2.x.

[2022-01-20 11:35] #3789 closed

[2022-01-20 11:35] NateWr commented on #3790
Closing this as we are no longer providing fixes for 2.x.

[2022-01-20 11:35] #3790 closed

[2022-01-20 11:40] NateWr commented on #3798
I don't believe this is an issue anymore in 3.3.0. But if it is it will be addressed in #7265.

[2022-01-20 11:40] #3798 closed

[2022-01-20 11:44] NateWr commented on #7538
Merged to `stable-3_3_0` and ported to `main`.

[2022-01-20 11:44] #7538 closed

[2022-01-20 11:47] NateWr commented on #6863
See also https://github.com/pkp/pkp-lib/issues/7528.

[2022-01-20 11:47] NateWr commented on #7528
See also https://github.com/pkp/pkp-lib/issues/6863

[2022-01-20 12:07] marcoblancas commented on #7636
@NateWr , thank you for your answer. I think that's not the problem. In my tests environment I have Spanish as primary locale and English is enabled for other uses (included submissions). This is my screenshot.

![imagen](https://user-images.githubusercontent.com/5545390/150334222-675be9a4-cf9e-48cd-9c0d-026555f31fa0.png)

The tests were done in the same instance and in the same journal so the set

[2022-01-20 12:18] jonasraoni opened #7639 "Add support for the native import/export plugin to OPS 3.3.0-x"
**Describe the problem you would like to solve**
The current release of OPS doesn't support the XML tooling for importing/exporting data.

**Describe the solution you'd like**
Merge some updates from the /main branch to the `stable-3_3_0` branch to make this functionality available.

**Who is asking for this feature?**
System administrators looking forward to migrate data from other systems.

**PR

[2022-01-20 13:29] diegoabadan commented on #7637
Oops, mistake our @NateWr !

We didn't realize that the code difference could be due to the OPS version. I believe this PR can be closed.

Abstacts are hugely important and are missing from current OPS, so virtually everyone who uses it has to apply this fix manually.

[2022-01-20 13:59] #7637 closed

[2022-01-20 17:25] pmangahis commented on #7635
Yes, overall the frontend statistics available on OMP are fairly limited.

[2022-01-20 19:08] jonasraoni commented on #7639
Hi @asmecher!

I've created draft [PRs](https://github.com/pkp/pkp-lib/issues/7639#issue-1109232484), later I'll recheck if the basic features (import/export through the CLI and web interface) are still working fine after rebasing.

I've been using these updates to import data locally, and everything seems to be working fine... Most of the changes are additions. The modified parts are inside class

[2022-01-21 02:16] ewhanson commented on #7471
@asmecher, they should be good to go now!

For reference, the PRs are:

- `main`: pkp/ojs#3233, #7178
- `stable-3_3_0`: pkp/ojs#3234, #7179

[2022-01-21 10:19] mpbraendle commented on #7446
@NateWr  3.6 milestone? Wait another three years to fix some essential problems (e.g. https://github.com/pkp/pkp-lib/issues/2644 , that exists since 2017 )?

[2022-01-21 10:23] mpbraendle commented on #2644
+1 from UZH and Swiss Chemical Society. Many unnecessary editing steps can be saved if this is fixed (e.g. one needs to enter some dummy text such as "No abstract" in quickSubmit and then remove it later in the submission). Would be a big time saver given the thousands of installations worldwide.

[2022-01-21 10:38] jonasraoni commented on #7568
Another setting, for testing purposes, that might be useful to get into this issue is a catch-all email to set into the `Mail::alwaysTo()`.

I [checked the code](https://github.com/laravel/framework/blob/277c2fbd0cebd2cb194807654d870f4040e288c0/src/Illuminate/Mail/Mailer.php#L279) and it will remove cc/bcc/etc.

[2022-01-21 17:01] asmecher commented on #7471
Excellent -- thanks, @ewhanson! Is this issue ready to be closed?

[2022-01-21 17:04] asmecher commented on #7639
@defstat, could you review these?

@jonasraoni, I'm assuming you went back to the commits where this was first added to `main` and cherry-picked them to `stable-3_3_0`? Or did you bring in the files from `main` and back-port them to compatibility with `stable-3_3_0` again? Just to know what to look for.

[2022-01-21 17:05] asmecher commented on #7171
I think the queue management tools should be for the administrator only, until we have a requirement to make it available to managers as well.

[2022-01-21 17:07] ewhanson commented on #7471
Yep!

[2022-01-21 17:07] #7471 closed

[2022-01-21 17:34] jonasraoni commented on #7639
If I remember well:
https://github.com/pkp/pkp-lib/pull/7640: Cherry picked the first commit + adjusts.
https://github.com/pkp/ops/pull/223: Grabbed the needed files from `/main` + adjusts.

[2022-01-21 19:52] asmecher commented on #5783
Agreed, thanks; closing.

[2022-01-21 19:52] #5783 closed

[2022-01-21 20:14] jnugent opened #7642 "upgrade to 3.3 from 3.0.2 fails because submission_galley_settings table already exists"
**Describe the bug**
If you run an upgrade to OJS 3.3 from OJS 3.0.2, the upgrade fails with:

`ERROR: Upgrade failed: DB: SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'submission_galley_settings' already exists (SQL: CREATE TABLE submission_galley_settings AS SELECT * FROM article_galley_settings WHERE setting_name <> 'excludeDoi' AND setting_name <> 'excludeURN')`

This table a

[2022-01-21 20:18] jnugent opened #7643 "Upgrade from 3.0.2 to 3.3 can fail if submission files are missing"
**Describe the bug**
During the upgrade from 3.0.2 to 3.3, `Installer Installer::fixGenreIdInFileNames` runs and this can fail with:

`PHP Fatal error:  Uncaught League\Flysystem\FileNotFoundException: File not found at path: journals/1/......   in /var/www/html/www-33/lib/pkp/lib/vendor/league/flysystem/src/Filesystem.php:390`

This may or may not be a bug, but I know that there's been work done

[2022-01-22 00:26] asmecher commented on #7642
This already appears to be reported in the forum:
- https://forum.pkp.sfu.ca/t/ojs-upgrade-from-3-0-2-to-3-3-0-7-fails-because-a-database-table-already-exists
- https://forum.pkp.sfu.ca/t/upgrade-error-from-ojs-3-0-2-0-to-ojs-3-3-0-8
- https://forum.pkp.sfu.ca/t/upgrade-ojs-3-1-2-1-to-3-2-1-4-successfully-upgraded

[2022-01-22 01:11] fgnievinski commented on #6126
in another manuscript handling system I get the following groups:
- New Assignments
- Submissions with One or More Late Reviews
- Submissions Requiring Additional Reviewers
- Reviewers Invited - No Response
- Submissions Under Review
then for each group there is a list of the manuscript title, authors and further details.

[2022-01-22 01:30] fgnievinski commented on #2281
now that #723 is done maybe this could be closed

[2022-01-22 01:55] asmecher commented on #2281
Agreed, thanks!

[2022-01-22 01:55] #2281 closed

[2022-01-22 03:32] fgnievinski commented on #7570
I guess it's more of a UX issue. After enabling support for galleys' DOI in the CrossRef plugin, then even the article main text galleys will receive a DOI by default, separate from the article landing page DOI. The usual workflow in other manuscript handling systems that I'm used to is: only galleys for supplementary materials would create additional DOIs. Would it make sense to distinguish betwe

[2022-01-22 19:55] henriqueramos commented on #7171
Thank you @NateWr! I've moved it to admin section.

Could you please take a look @asmecher? Obrigado!

https://github.com/pkp/ojs/pull/3254/files
https://github.com/pkp/pkp-lib/pull/7553/files
https://github.com/pkp/omp/pull/1043
https://github.com/pkp/ops/pull/209

[2022-01-24 12:13] luizbgomide opened #7644 "Call to getAssocId() on null value"
**Describe the bug**
When viewing the Activity Log of an article it never finishes "Loading".

**To Reproduce**
Steps to reproduce the behavior:
Not sure if som information is missing (or how to find what is missing), but the stack trace complains about null value (see below).

**What application are you using?**
 OJS 3.3.0-8

**Additional information**

[code]
![image](https://user-images.githubu

[2022-01-24 12:54] NateWr commented on #7644
Hi @luizbgomide, this is a duplicate of https://github.com/pkp/pkp-lib/issues/7453, which was fixed and merged in. The fix will go out with the next maintenance release (3.3.0-9).

[2022-01-24 12:54] #7644 closed

[2022-01-24 14:28] NateWr commented on #6126
Thanks @fgnievinski. Is that a weekly or monthly email?

[2022-01-24 14:50] librariam commented on #5885
+1 more from PKP|PS

[2022-01-24 15:04] NateWr commented on #7636
I tried following your reproduction steps in the `stable-3_3_0` branch but I did not encounter any errors. It may be that there is a particular piece of metadata, language configuration, or other configuration that is causing the issue.

Can you try to reproduce the problem using the [test drive demo](https://pkp.sfu.ca/ojs/ojs_demo/) of OJS? If you can reproduce it, try to note down precisely wha

[2022-01-24 15:13] NateWr commented on #7446
When this work can be done depends on our priorities and capacity. Our priorities are a mixture of user requests and grant funding for specific projects. You can see an overview of the development schedule in our [roadmap](https://pkp.sfu.ca/roadmap).

This is one of those that we really wanted to get into 3.5, but couldn't justify scheduling it in given our current capacity.

[2022-01-24 15:19] NateWr commented on #7570
That sounds like a reasonable configuration, but it is not the way that everyone in our community uses DOIs. For better or worse, some people do want separate DOIs for every galley, even two versions of the same article, separate from the article landing page.

I recommend following the UI/UX work that is going into https://github.com/pkp/pkp-lib/issues/6062. From 3.4, DOI management will be handl

[2022-01-24 17:45] NateWr commented on #7265
Yeah that makes sense. Thanks for the review. I think I've handled all of the review comments, and fixed the fatal error you got. I'll now work on porting to OMP/OPS. :+1:

[2022-01-24 19:30] fgnievinski commented on #6126
that's a weekly email update

[2022-01-24 21:07] ewhanson commented on #7014
Hi @NateWr, I've updated OJS and added in support to OPS and OMP. Could you have a look? Thanks!

Here are the new PRs:

pkp/omp#1057
pkp/ops#225
pkp/crossref-ops#8

...along with the existing PRs:
#7350
pkp/ojs#3196
pkp/ui-library#165
pkp/crossref-ojs#4
pkp/orcidProfile#191
pkp/citationStyleLanguage#83

[2022-01-24 23:54] pmangahis opened #7645 "'Default' template selection in Participant Notification results in Subject head with just journal abbreviation"
A journal editor has pointed out that if they were to select the first option in the notify drop down it results in the system sending an email subject that just has the journal abbreviation.

If the recipient of this email is not overly familiar with the journal, they'd probably find this email a bit strange
![image](https://user-images.githubusercontent.com/50342731/150884270-2667af48-f9e4-478a-

[2022-01-25 07:48] EquinoxSheffield commented on #6941
Definitely something needed, similar to reinstating the 'After sending, present an editable BCC copy to send to reviewers' following sending the decision email to the author in OJS 2x, so that we have the option of preserving the anonymity of the author and reviewer and flexibility on who's email is included. Many thanks.

[2022-01-25 09:44] NateWr opened #7646 "Pre-flight check fails in OPS due to context table name"
**Describe the bug**
In the `main` branch (3.4 pre-release), a pre-flight check runs during upgrade. It uses `ServerDAO::$tableName` which is `servers`. However, at the time that the pre-flight check is run, the table is still named `journals`. This causes a fatal error.

**To Reproduce**
Steps to reproduce the behavior:
1. Install OPS 3.3.0-8
2. Run the upgrade script to `main` (3.4 pre-release)

[2022-01-25 10:10] NateWr commented on #7171
@henriqueramos there are a couple of approaches you can take to implement pagination:

1. Add an API endpoint and update the items in your table through an API request.
2. Reload the jobs page each time you change the page.

The first is the way the `Pagination.vue` component is expected to work. But it can work just as well with the second way.

To get started, add the `Pagination` component to t

[2022-01-25 10:15] NateWr commented on #7636
Thanks @jonasraoni. If it's ok, I've assigned this to you. Maybe see if you can reproduce this and then check if the bug fix addresses it. If it turns out to be different, I can unassign you and we can work again on reproducing it.

[2022-01-25 10:44] NateWr commented on #7645
I'm not sure there is much we can do about this other than redesign the email flow. The empty option is necessary when using a dropdown like that, and the journal abbreviation `[pmj]` is automatically added to every outgoing email related to a submission.

Both of these are patterns we are moving away from in 3.4 with https://github.com/pkp/pkp-lib/issues/5717. But the participant assignment workf

[2022-01-25 11:00] bozana commented on #3777
Yes, true, thus closing... Thanks!!!

[2022-01-25 11:00] #3777 closed

[2022-01-25 11:21] bozana commented on #7646
What would be the right solution here: to use the rename script before preflight check or to use old table and column names in the preflight check? -- just for me to know how to implement the usage stats preflight check... :-)

[2022-01-25 11:26] bozana commented on #7646
Also the other upgrade scripts should be checked, if they depend on the new names -- e.g. this one also depends on new names and is executed before the renaming: https://github.com/pkp/ops/blob/main/dbscripts/xml/upgrade.xml#L35

[2022-01-25 11:33] NateWr commented on #7646
All migration scripts should hard-code the name of the table instead of using properties of the DAO, since these can change and the migration scripts should never change.

[2022-01-25 12:32] bozana commented on #7646
Yes, this is what I've done. At the time when preflight check is done, should 'jounals', 'journal_id' be used (instead of 'servers', 'server_id')?

[2022-01-25 13:31] NateWr commented on #7646
I think so, this migration file shows the names before/after: https://github.com/pkp/ops/blob/main/classes/migration/upgrade/v3_4_0/I6759_RenameVariables.inc.php#L57

[2022-01-25 16:14] fradeve commented on #7451
@asmecher thanks for looking into this!

If you are interested in having a more "formal" reference to issues like this, there is a description here: https://cwe.mitre.org/data/definitions/204.html, also known as `CWE-204`.

We would really like to see this in 3.3.X if that doesn't take too much of your time.

Thanks again! :handshake:

[2022-01-25 16:18] marcoblancas commented on #7636
Hi @NateWr,

I've recorded this screencast in the test drive demo site.

https://youtu.be/7xzctoyoy8o

Does it help?

[2022-01-25 18:15] henriqueramos commented on #3391
@asmecher Could you please check those PRs? Thank you!

https://github.com/pkp/omp/pull/1058
https://github.com/pkp/ojs/pull/3286
https://github.com/pkp/ops/pull/226
https://github.com/pkp/pkp-lib/pull/7638

[2022-01-25 18:35] thiagolepidus commented on #6088
A similar problem is occurring when saving the features order, limiting the number of featured monographs to 30. This occurs because only items present on the current page of the "Oder Features" tab are saved.

**Mysql query before save order**:

[code]

**mysql query after save order**:

[code]

Would it be the case to create an issue to this?

[2022-01-25 20:35] asmecher commented on #3391
@henriqueramos, the approach you've proposed I think still won't work for DTDs per [this comment](https://github.com/pkp/pkp-lib/issues/3391#issuecomment-366367922), and won't work when a schema file references another schema file (`<xs:import ...>`). The suggestion to use [`stream_context_set_default`](https://github.com/pkp/pkp-lib/issues/3391#issuecomment-366367922) would be a general solution

[2022-01-25 20:40] thiagolepidus opened #7648 "[OMP] A maximum of 30 featured monographs can be displayed in home page"
**OMP Version**: 3.3.0-8

Even marking 31 or more monographs as featured, after saving the features order only 30 monographs remain as featured.

**Steps to reproduce**:
1. Select checkboxes to make 31 or more monographs featured.
2. Click on "Order Features"
3. Save Order.
4. Now only 30 monographs remains featured

After reordering the featured entries, only the monographs on the current page re

[2022-01-25 21:29] asmecher opened #7649 "Add support for limiting allowed hosts"
**Description of problem**

OJS/OMP/OPS currently uses the `HTTP_HOST`, `SERVER_NAME`, and `HTTP_X_FORWARDED_HOST` headers to detect the current hostname for formulating absolute URLs.

Per https://portswigger.net/web-security/host-header, these headers may be user-controlled and thus not trustworthy. This could be used to e.g. send password reset emails with poisoned links that direct the user to

[2022-01-26 02:21] asmecher commented on #7016
The RSS feed (and other services) were changed to specifically avoid using the preferred public name with this commit:
https://github.com/pkp/ojs/commit/7b1707e2326c5536270cd2f03d0459e2aae70b6f#diff-31f40756c38c3d73c69d835b525a3d7ac6882045dc09fbc75c6e9a7fa8a5ed5d Bozana, do you remember the context around this?

Ah, I remember this conversation. I was going to argue against forcing optimization co

[2022-01-26 02:21] asmecher commented on #7016
(Sorry, forgot to tag you by username on the above comment, @bozana!)

[2022-01-26 02:44] asmecher commented on #5266
@ctgraham, this issue is assigned to you; do you think you'll have time to work on it?

[2022-01-26 02:45] asmecher commented on #7613
@jonasraoni, are you waiting for something from me on this?

[2022-01-26 02:46] asmecher commented on #6875
@ajnyga, just a reminder that this one is assigned to you; it likely won't make 3.3.0-9, FWIW.

[2022-01-26 02:46] asmecher commented on #6675
@jonasraoni and @Vitaliy-1, this one is assigned to you and scheduled for 3.3.0-9; is it active?

[2022-01-26 05:02] jonasraoni commented on #6675
@asmecher this one has pending review comments, mostly related to the updates I did on the autosuggestion component (accessibility), as we've reached a common point, I'll get back to it.

[2022-01-26 07:48] jonasraoni commented on #7613
@asmecher I've modified the OMP's VocabHandler handler for  to retrieve ONIX countries:
https://github.com/pkp/omp/pull/1053/commits/241f612a415fa7bef5c63e74e018884d496ce288

If that's fine for you, then I can merge everything.

[2022-01-26 08:55] OhnO395 commented on #7156
https://github.com/pkp/pkp-lib/commit/35f6cd1350ce6f0e3dd1fb2a2a2dd4aadc825b63
fix draft upload only

[2022-01-26 10:35] NateWr commented on #7636
Thanks @marcoblancas! Yes, that's helpful. I will leave it to Jonas for the moment, but if his work doesn't fix the issue then we'll revisit this and your video will help us reproduce the problem.  :+1:

[2022-01-26 10:46] NateWr commented on #7648
Thanks @thiagolepidus. This is probably a low priority for us because we never intended such long lists of featured monographs, and the default theme isn't designed to show them well. From a UX perspective, if you have such a long list of featured books, it might be time to rethink your content strategy.

[2022-01-26 11:26] NateWr commented on #4056
@ewhanson I know we've had a bunch of discussions about this but I can't remember exactly where we landed. Let's revisit this some time before 3.4 is out.

[2022-01-26 12:42] diegoabadan commented on #7648
Thanks for the feedback, Nate.

This feature was being used for a custom ordering. With the growth of the catalog we discovered the current limit of 30 publications.

We are tweaking the theme to allow for this custom ordering.

Many users end up making unanticipated uses of PKP application resources. :)

[2022-01-26 12:47] Vitaliy-1 commented on #7568
e.g.: https://github.com/Vitaliy-1/mailLogger/blob/main/MailLoggerPlugin.inc.php#L60

I think this discussion is related: https://github.com/pkp/ojs/pull/3193#discussion_r717379656

[2022-01-26 12:50] NateWr opened #7651 "Fatal error when trying to load PKPXMLParser"
**Describe the bug**
The following error occurs when trying to reload scheduled tasks from the acron plugin.

[code]

The class needs to use the namespace in this file and `NavigationMenuItemDAO.inc.php`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Website > Plugins.
2. Find the Acron plugin and click the "Reload scheduled tasks" button.
4. See error

**What application

[2022-01-26 12:59] bozana commented on #7646
Maybe one more thing (additionally to that another script also depends on the new names :point_up:): those `${variableName}`, like e.g. here https://github.com/pkp/pkp-lib/blob/main/classes/migration/upgrade/v3_4_0/PreflightCheckMigration.inc.php#L33,  should be `{$variablename}`

[2022-01-26 14:17] henriqueramos commented on #7171
Thank you for the help @NateWr!
 I've followed the idea of reloading the page with querystring.

 @asmecher Could you please take a look on those PRs?

https://github.com/pkp/ojs/pull/3254/files
https://github.com/pkp/pkp-lib/pull/7553/files
https://github.com/pkp/omp/pull/1043
https://github.com/pkp/ops/pull/209

[2022-01-26 14:18] NateWr commented on #7648
Yeah I understand! If you're doing some custom development work, here are two approaches that I would recommend:

1. Add a new form and field to the website settings area and use an [orderable FieldOptions](https://docs.pkp.sfu.ca/dev/ui-library/dev/#/component/Form/fields/FieldOptions/orderable) field to save the overall site order to a context setting.

2. Add a form field to the Catalog Entry f

[2022-01-26 14:24] NateWr commented on #7646
Yeah can you fix those too?

[2022-01-26 15:20] NateWr commented on #7014
Nice work Erik! I've had a chance to tinker with OJS, OMP and OPS. There were a few teething problems for me, but I tested on brand new installations for each app. It looks like a fair number of bugs have creeped in during the port to other apps. No big deal. I've left a few comments in the pull requests, but most of it is here. Once you're through these I can do a more thorough review.

- I'm not

[2022-01-26 16:17] jonasraoni commented on #7646
@bozana Our code formatter is using this format =]

If you attempt to format this line:

[code]

This will be the output:

[code]

[2022-01-26 17:02] jnugent commented on #7156
I'm not sure if this is related, but I am currently debugging a ticket by a hosted client. They have a copyeditor who is unable to upload revisions of copyedited files.  I'm still debugging this but what is happening is the PKPSubmissionFilesUploadBaseForm.inc.php class in the file upload wizard is returning "Invalid Parameters!" because the $stageId isn't making it into the constructor (I've veri

[2022-01-26 17:43] jnugent commented on #7156
Hi @asmecher

I am not sure if this is the ultimate cause of this issue, but I worked through our problem and discovered that if you upload a revision of a file, as a copyeditor with no other role, there's a a missing WorkflowStageAccessPolicy add so there is no authorized object present.  I've fixed our problem by adding a class import and then a policy add to this block of code in the FileUpload

[2022-01-26 22:04] amandastevens opened #7652 "In OPS, allow the option to disable the configuration options when you add a galley"
**Describe the problem you would like to solve**
In OJS/OPS/OMP when you upload a new galley file there are options to check off "This galley will be available at a separate website" and to add a URL path. These options make sense to include in OJS and OMP when it is editors and journal managers who are uploading galleys and understand the options. However, it is risky to include them in OPS when

[2022-01-26 23:11] asmecher commented on #7613
Thanks, @jonasraoni, please go ahead!

[2022-01-27 00:30] diegoabadan commented on #7648
Thanks @NateWr!

Hope your tips help @thiagolepidus, including in other theme implementations. :)

[2022-01-27 05:56] ajnyga commented on #7599
The submission wizard in OPS moves the submission to production stage when step 1 is executed: https://github.com/pkp/ops/blob/main/classes/submission/form/SubmissionSubmitStep1Form.inc.php#L178

It means that before that the submission is on WORKFLOW_STAGE_ID_SUBMISSION

[2022-01-27 06:42] #7613 closed

[2022-01-27 06:46] jonasraoni commented on #7599
Thanks! I'll take a look and investigate if it's possible to adjust this later, otherwise, I'll just address the warnings...

[2022-01-27 09:41] NateWr commented on #7646
Oh, right! I thought it was just as JS syntax. I'm struggling to find reference to that format in the PHP docs. I wanted to check version compatibility. Can you find the docs for `"${x}"`? Everything I'm finding is `"{$x}"`.

[2022-01-27 09:53] jonasraoni commented on #7111
I've added an `OPcache` cache driver to Laravel at #6328, but it has some drawbacks.

It can store any primitive data type and simple objects (`stdClass`), but if you're willing to store a more complex object it will require implementing the `__set_state` method.

[2022-01-27 09:56] NateWr commented on #7652
I'm not totally convinced about this. As soon as we remove it someone will ask for it to be supported, and since OPS sites tend to be large aggregators, it's far more likely they will want to support remote galleys as they grow and serve more scholars doing a wider variety of things. Galleys like source data often need to be hosted elsewhere (like a data repository) due to their size.

What about

[2022-01-27 09:59] jonasraoni commented on #7646
I found an example here: https://www.php.net/manual/en/language.types.string.php#language.types.string.parsing.simple =]

[2022-01-27 11:12] NateWr commented on #7646
Perfect, thanks! I can't see a PHP version, but if it's under "simple syntax" it's probably been around a long time. :)

[2022-01-27 13:54] bozana commented on #6781
Hi all,
again a few comments...
I contacted COUNTER support but did not get any answer :-(

IR in OPS:
The Host_Type is 'Repository' and Data_Type is 'Repository_Item'.
COUNTER R5 does not provide appropriate 'Article_Version' for preprints:

Thus I will leave VoR here as well.
The 'Parent' is not known, so I will proceed in the same way as for 'Component' in IR in OJS and will return 3062 warning

[2022-01-27 14:28] librariam commented on #6324
Reopening the issue because I have also encountered this in 3.3.0.8 (and this was after I convinced Kate that it's not a 3.3 issue - sorry @kshuttle!). I can confirm that the Section Editor has all permissions (to edit metadata, record a decision, etc.). They are still getting "you don't have access to this stage" when trying to assign an article to an issue.

Perhaps it has something to do with t

[2022-01-27 17:25] henriqueramos commented on #7171
@asmecher I've fixed the points. Could you please do a check? Thank you!

https://github.com/pkp/ojs/pull/3254/files
https://github.com/pkp/pkp-lib/pull/7553/files
https://github.com/pkp/omp/pull/1043
https://github.com/pkp/ops/pull/209

[2022-01-27 17:25] heike-r opened #7654 "admin page does not refresh when removing a journal from OJS multi-journal installation"
When I try to remove a journal in a multi-journal installation in the dashboard at the administration / hosted journals site, I can click on the 'remove' button, a window pops up to ask if journal should really be removed, I click yes but then nothing happens. The window is still there and no confirmation message pops up. However, if I refresh the browser page the journal is actually gone, so the

[2022-01-27 18:59] asmecher commented on #7654
@heike-r, that is a bug, in fact -- there was a bit of code that assumes that you are working with notifications while within a particular journal's portion of the OJS website, but the code that deletes a journal is in the administrator's area outside any particular journal.

If the journal is gone when you refresh the page, then at least most of it was deleted. However, it might've left some bits

[2022-01-27 19:00] asmecher commented on #7654
@jonasraoni, could you review the above PRs? Thanks!

[2022-01-27 20:58] jonasraoni commented on #7654
@asmecher I just tested here, using the [datasets](https://github.com/pkp/datasets/). The fix makes sense and it works.

[2022-01-27 23:55] asmecher commented on #7649
@bozana, would you mind reviewing this before I port to the other apps and older branches? Thanks!

[2022-01-28 11:57] mpbraendle commented on #7528
The Crossref schema has an "anonymous" element (as subelement of contributors) that should be used in such a case.

[2022-01-28 11:58] mpbraendle commented on #6863
The Crossref schema defines an anonymous element which can be used in such case.

[2022-01-28 12:50] bozana commented on #6781
I then use the custom exception code 1 as warning, so that the processing can still take place:
[code]

[2022-01-28 13:38] AhemNason commented on #7528
Anonymous in the Crossref schema is for an anonymous author, not for situations where one of two name elements is missing.

[2022-01-28 13:39] AhemNason commented on #6863
Please see #5955

[2022-01-28 14:25] mpbraendle commented on #7528
@AhemNason This is correct, but not the point.

We simply can't deposit (or redeposit) articles that have no author in Crossref, because the anonymous element hasn't been implemented in the OJS CrossrefXMLExport plugin - which in my opinion is wrong. If you wish that I create a new issue for this, let me know. But I think placing a comment here was correctly if one starts bug fixing for missing or

[2022-01-28 14:42] jnugent commented on #7642
Hi @asmecher

Just because I am looking at another upgrade today I investigated this a bit.  I believe that the root cause of this is that when this block in upgrade.xml runs:

[code]

which in theory should not run since the modifier checks to see if the article_galley_settings table already exists, and that table shouldn't exist at the same time the submission_galley_settings table exists.  Unfo

[2022-01-28 15:28] AhemNason commented on #7528
@mpbraendle That's correct, but this ticket is about one missing name, not anonymous authors. I mentioned this in another ticket but please see: #5955 filed against the issue of anonymous and corporate names.

[2022-01-28 15:29] jmvezic opened #7657 "Default deadlines for subsequent reviews"
**Describe the problem you would like to solve**
Editors on our multi-journal installation would like a way to set default deadlines for subsequent review rounds. For example, the first review completion deadline would be 4 weeks and every subsequent review round deadline would be 2 weeks.

**Describe the solution you'd like**
Add a new setting under review deadlines page.

**Who is asking for thi

[2022-01-28 17:06] ctgraham commented on #5266
Realistically, neither I nor my colleagues will be able to focus on this for some months.

[2022-01-28 17:28] asmecher commented on #5266
@ctgraham, I know the problem well! Deferred to 3.3.0-10.

[2022-01-28 21:38] mfelczak opened #7658 "Editor filter and search options for managing back issues"
**Describe the problem you would like to solve**
For journals with a long publishing history, e.g. 50-100 years of archives, the Back Issues page is difficult to navigate in its current form since every issue is listed in order. For journals with multiple issues per year, the list become quite long.

**Describe the solution you'd like**
It would be helpful to be able use filters and search to loca

[2022-01-28 22:46] asmecher commented on #7654
Thanks, @jonasraoni! Merged to `stable-3_3_0`, forward-ported to `main`.

[2022-01-28 22:46] #7654 closed

[2022-01-28 23:20] asmecher commented on #6328
Excellent work, Jonas, and I'm finally finding the time to check it out!

- I'd suggest adding some deprecated classes/functions to help make this a little more backwards compatible. For example, re-add a (deprecated) `classes/i18n/AppLocale.php` class; add a non-operative `requireComponents` function to `PKPLocale`; etc. Just the functions/classes that 3rd party code is likeliest to use (e.g. the

[2022-01-29 11:08] jonasraoni commented on #6328
@asmecher

- Backwards compatibility

You said it was ok to create breaking changes in this release, so I didn't mind about it 😁
But yeah, it's better to make things easier for the plugins... I didn't change much the main class interface, so it won't be a big deal.

- Deprecated usage

I've seen some deprecated across the code, and the version is a good indicator. What about adding a short note li

[2022-01-29 14:40] jonasraoni opened #7659 "Configuration file format"
**Describe the problem you would like to solve**
Is there any plan to switch the configuration file to something else?
If not, perhaps we could use the [TOML](https://en.wikipedia.org/wiki/TOML) format, which looks very similar to what we have, and forward the maintenance of the parser to a package.

[2022-01-29 15:05] jonasraoni commented on #7167
Reopening due to this error I found in one of the upgrade tests:

https://app.travis-ci.com/github/pkp/ojs/jobs/556609009
ERROR: Upgrade failed: DB: SQLSTATE[2BP01]: Dependent objects still exist: 7 ERROR:  cannot drop index user_settings_pkey because constraint user_settings_pkey on table user_settings requires it
HINT:  You can drop constraint user_settings_pkey on table user_settings instead. (

[2022-01-29 15:08] jonasraoni opened #7660 "[OJS] Fix upgrade script"
**Describe the bug**
The upgrade test is failing with the message below (there's another error, which will addressed in another issue):

https://app.travis-ci.com/github/pkp/ojs/jobs/556609004

**What application are you using?**
OJS /main

[2022-01-29 15:09] jonasraoni opened #7661 "Ensure the build fails when there's an error in the migration tests"
**Describe the bug**
At this moment, the build is passing even when there's a failure in the upgrade test, we need to ensure such tests fail the build properly.

Current cases:
https://github.com/pkp/pkp-lib/issues/7646
https://github.com/pkp/pkp-lib/issues/7167#issuecomment-1024928275
https://github.com/pkp/pkp-lib/issues/7660

[2022-01-29 18:28] asmecher commented on #7659
Until we separate part of the app outside the web root (see https://github.com/pkp/pkp-lib/issues/1832), the configuration file will live within range of a request, thus will need to have a `.php` and `<?php exit();` at the head to prevent accidental exposure of the configuration to the web. Once we have a better place for it to live, I'd be open to changing its format to something more standard.

[2022-01-29 19:43] jonasraoni commented on #7659
We'll probably be able to migrate this idea to other formats, e.g.
[code]
).

I just saw this `TOML` format and thought it could be used to decrease the code base... But as the parser is already small, not a big deal...

[2022-01-30 16:34] devinberg commented on #7652
In thinking a little more about this, I had the realization that the limitation I described really only applies to the preprint text document (primary document) and allowing remote files for supplementary materials would be desirable, as @NateWr pointed out. Perhaps make the option configurable based on galley type. For me personally, I would want remote files disabled for the "Preprint text", but

[2022-01-31 05:50] fgnievinski opened #7662 "[OJS] Automatic review request reminders should be sent in the same language as the original invitation"
**Describe the bug**
If reviewers don't respond to an invitation to review, they'll get an automatic reminder. The problem is the language will be the journal's default language, which might be different than the language manually selected in the original review invitation.

**To Reproduce**
N/A

**What application are you using?**
 OJS 3.3.0.8

**Additional information**

- This behavior might af

[2022-01-31 06:18] fgnievinski commented on #4172
+1 for differentiating between reviewers who have committed to provide a review and those who have just ignored the invitation, as the latter are more likely to end up unassigned, while the former normally get an extension. I'd suggest the following labels:
- "Invited": after first invitation and before first invitation reminder
- "No Response": after the RSVP date or first invitation reminder
- "

[2022-01-31 07:20] fgnievinski opened #7663 "Unicode math italics/bold truncates text notes"
A reviewer copied content from an article (typeset externally), resulting in formatted text such as "𝑚𝑒𝑡𝑒𝑟𝑠" (contrast: meters and _meters_).

When such text is pasted in a TineMCE box, it's displayed correctly, but saving the text is not possible:
![image](https://user-images.githubusercontent.com/5018500/151753199-78024624-006a-4290-a64b-5905e5c9899e.png)

I believe these Latin italics character

[2022-01-31 07:29] fgnievinski commented on #7356
a little embarrassed to admit, but journal editors sometimes (often?) are slower than authors would like to think. so I'm unenthusiastic about these new email templates, as they may cause more grief than good. maybe disable by default?

[2022-01-31 07:37] fgnievinski commented on #2564
the [Unicode Mathematical Alphanumeric Symbols](https://en.wikipedia.org/wiki/Mathematical_Alphanumeric_Symbols) block offers Latin characters in italics and/or bold, such as 𝐀, 𝐴, 𝑨.  A caveat (from Wikipedia):

so non-math italics/bold, such as in biological species, would need a non-Unicode solution.

[2022-01-31 09:15] Vitaliy-1 opened #7664 "Fatal error when trying to delete section"
**Describe the bug**
Error message:
[code]
***Edit***
There is a similar problem but with stable OPS and another error message initially reported on the forum: https://forum.pkp.sfu.ca/t/fatal-error-when-trying-to-delete-a-created-section/71690:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Journal Settings -> Sections
2. Click on create a new section, fill the data and save th

[2022-01-31 12:21] bozana commented on #6782
Hi all, above all @NateWr :-)
In the new data model we save Geo usage stats data using the COUNTER R5 metric types although the we actually do not need that data for COUNTER R5 reports, just for our internal reports. This is just because we now save the Geo usage only on the submission level, so I thought it could be similar to other usage data we save only on the submission level.
But actually we

[2022-01-31 14:54] bozana commented on #6782
Hi all, above all @NateWr and @asmecher :-)
When user wants to reprocess old log files -- lets consider only the log files in the new format for now -- I do not know how to best ensure that the user reprocesses the log files for the whole month, because we aggregate the stats per month and delete the daily numbers after that.
A monthly called scheduled task will sum the numbers in the daily table

[2022-01-31 16:12] asmecher commented on #7662
This is a duplicate of https://github.com/pkp/pkp-lib/issues/3525.

[2022-01-31 16:12] #7662 closed

[2022-01-31 16:13] asmecher commented on #7663
@fgnievinski, OJS should support the full Unicode set. Can you please include the following information:

- What version of OJS are you using?
- Does anything appear in the PHP error log from the time the request was made to save the form?

[2022-01-31 19:06] fgnievinski commented on #7663
I was using OJS 3.3.0.8 in an installation where I don't have access to the logs (it's a hassle to get IT to do anything, sorry).

but I've just tried in the public demo/testdrive installation (also v.3.3.0.8) -- maybe the logs could be retrieved more easily?

pasting "A𝐵C" (with math italics only in the middle char) results in truncated string starting at the offending char, so only A is stored.

[2022-01-31 19:08] jonasraoni commented on #7663
As a note... I've had some encoding issues when using the `utf8` charset in MySQL, but they were gone after I updated the database to use the newer `utf8mb4`.
If you're going to try, ensure the database, tables and also the columns are all using the same charset and collation.

[2022-01-31 19:12] fgnievinski commented on #7663
thanks for the tip.  the installation has been recently restored after been invaded, so probably there are some lose ends.

I'll change the issue description to focus on the reproducible problem.

[2022-01-31 19:14] jonasraoni commented on #7663
Anyway, every application will present some kind of weird behavior when faced with the strings in this list https://github.com/minimaxir/big-list-of-naughty-strings, so perhaps you've found one of them :)

[2022-01-31 19:16] fgnievinski commented on #7663
just to tell a sad story: the reviewer submitted their review but didn't notice it was truncated then the author ended up missing half of the reviewer's comments, who was not very pleased. :-|

[2022-01-31 22:13] henriqueramos commented on #3391
@asmecher I've update the code to use `stream_context_create`. Could you please take a look? Thank you!

https://github.com/pkp/omp/pull/1058
https://github.com/pkp/ojs/pull/3286
https://github.com/pkp/ops/pull/226
https://github.com/pkp/pkp-lib/pull/7638

[2022-01-31 22:15] #7664 closed

[2022-01-31 22:18] henriqueramos commented on #7171
@asmecher I've changed that 'mea culpa'. Could you please take a look on those? Thank you!

https://github.com/pkp/ojs/pull/3254/files
https://github.com/pkp/pkp-lib/pull/7553/files
https://github.com/pkp/omp/pull/1043
https://github.com/pkp/ops/pull/209

[2022-01-31 23:42] asmecher commented on #3391
Thanks, @henriqueramos!

The PRs change the default stream context to add proxy support, but this is only executed in the `XMLTypeDescription` class. That means the PHP environment before and after using this class may be quite different -- any PHP built-ins like `readfile` involving URLs will not use a proxy before the call, but will start using it afterwards, regardless of whether they have anyt

[2022-02-01 01:48] ewhanson commented on #7014
Hi @natewr, thanks for reviewing this. Most, if not all, of the issues you've mentioned have been taken care of now.

I've outline the changes and my responses below just to keep track of everything. There will be a few to take a look at together. Thanks!

---

I think we worked through this last week and it was related to the changed Crossref submodule not being moved over.

I haven't directly ad

[2022-02-01 06:53] tanabem commented on #7664
@Vitaliy-1 @asmecher
Thanks a lot!
I confirmed it with OPS 3.3.0.7 and 3.3.0.8.

[2022-02-01 12:41] NateWr commented on #7570
@fgnievinski I'm going to close this issue for now. But please feel free to continue this discussion once you've had a chance to look at DOI management in 3.4. I'm happy to file an issue with a more specific proposal that addresses this need. (It may be as simple as adding some configuration settings for what kind of files get auto-generated DOIs).

[2022-02-01 12:41] #7570 closed

[2022-02-01 12:55] NateWr commented on #4172
Ah, yes, that's good. I was thinking of a visual distinction in the small circular icons. But yes, the text label in the red "badge" here should change between "Overdue" and "No Response":

![](https://user-images.githubusercontent.com/2306629/143866976-980e954e-1780-449f-908e-b353a43118e2.png)

[2022-02-01 15:11] felixhelix opened #7665 "The DataCite Export plugin misrepresents page numbers of journal articles"
**Describe the bug**
The DataCite Export plugin misrepresents page numbers od journal articles.
The page numbers are tagged with the "size" property.
The datacite metadate schema defines the "size" property as follows:

    Size 0-n Size (e.g. bytes, pages, inches, etc.)
    or duration (extent), e.g. hours,
    minutes, days, etc., of a resource.

and gives the following examples:

    Free text.

[2022-02-01 15:11] henriqueramos commented on #7171
@asmecher There's anything else I could do on this subject? Thank you!

[2022-02-01 15:34] fgnievinski commented on #6242
I'd suggest rephrasing as follows:
* Before invitation is accepted: "Unassign Reviewer" -> Cancel Invitation (or Cancel Request)
* After invitation is accepted: "Cancel Reviewer" -> Cancel Task

After all, the committment only starts after the reviewer accepts the invitation.

It'd be useful if both cases appeared in the list of reviewers, along with Request Declined, Review Submitted, etc., as an

[2022-02-01 15:37] henriqueramos commented on #7659
Just to mentioned, exposed `TOML` had the same troubles as exposed `.env` files.

Here's an [old issue](https://github.com/pkp/pkp-lib/issues/7068) about using `.env` on PKP.

[2022-02-01 16:00] henriqueramos commented on #7587
Already made on #7125.

https://github.com/pkp/ojs/pull/3160/files#diff-8f16e27c2e43ab2ebfaa7bf22fb77c3be7e92671fc0d73cc33ef8c47517d0df5

[2022-02-01 16:26] NateWr commented on #6324
@librariam  was not able to reproduce it last time I tried in 3.3-x. Can you provide steps to reproduce this in the 3.3 demo install, along with screenshots that confirm the permissions of the Participant, as well as the stage assignments of the Role? I

[2022-02-01 16:28] asmecher commented on #7664
Thanks for confirming, @tanabem!

[2022-02-01 16:34] fgnievinski commented on #6062
I'd like to suggest splitting in three the current option of the CrossRef plugin to enable DOI for (all) galleys:
a) enable DOI for supplementary materials
b) enable DOI for article main body file formats
c) enable DOI for article main body items (tables, figures)

Option (a) is more common in commercial publishing, where additional DOIs would be registered for supplementary materials (meaning app

[2022-02-01 16:43] NateWr opened #7666 "Enable DOIs for certain types of galleys and files but not otherse"
**Describe the problem you would like to solve**
OJS allows a journal to enable DOIs for galleys, so that a DOI can be assigned to each galley. However, a journal may want to assign DOIs to some galleys but not others.

For example, some journals don't want a separate DOI for the article and the full-text galley, but do want a DOI for supplementary files like data sets. Some journals may want a DO

[2022-02-01 16:44] NateWr commented on #6062
@fgnievinski I've created a new issue for this suggestion, because Erik is almost done with this one and when he merges the proposed changes we'll close this issue. You can find the new issue at https://github.com/pkp/pkp-lib/issues/7666, and I'll leave an additional comment there.

[2022-02-01 16:45] NateWr commented on #7666
I think a configuration option would make sense with the new DOI settings, because they lean more towards automatically generating DOIs. So the configuration option could ask which file components (eg - Article Text, Data Set, etc) should receive DOIs when a DOI is automatically generated.

[2022-02-01 16:54] jonasraoni commented on #7587
I created this issue to go one step forward, and avoid the need of creating a commit with the message "##github-username/branch-name##" =]

[2022-02-01 17:04] #7659 closed

[2022-02-01 17:14] NateWr commented on #7663
I was able to reproduce this on the OJS3 [test drive install](https://pkp.sfu.ca/ojs/ojs_demo/) but not locally.

Locally, I am running psql (PostgreSQL) 12.9 (Ubuntu 12.9-0ubuntu0.20.04.1) and this is the character encoding:

[code]

It seems this is related to the deployment in some way. If this requires a change to the default or recommended database configuration, can someone propose a change?

[2022-02-01 17:19] fgnievinski commented on #7265
In the Request Revisions form, it's not super clear if "Select review files to share with the author(s)" would actually attach the files in the email message or only make the files available for download from the journal website.

And after the decision is recorded and the Round N Status is updated (e.g., "The submission must be resubmitted for another review round."), then the decision buttons co

[2022-02-01 17:21] asmecher commented on #6328
Yes, just where it's relatively short work to do it. A lot of things will break with the 3.4.0 upgrade but I don't want to make the upgrade bar any bigger than already necessary, and help ease the transition by having things like deprecation warnings. This is a balance against effort and code bloat on our part.

Yes, guidance in the code to help developers find the new functionality would be great

[2022-02-01 17:50] NateWr commented on #7265
Sharing review files is now done entirely through the "Attach Files" UI. I'll try to share a short video of that at some point.

Unfortunately, a re-decision is too common to disable them completely. The current UI hides the decision buttons and the user must click a button "Change decision" to see them and take a new decision.

[2022-02-01 17:59] jonasraoni commented on #7663
Soooo,

[2022-02-01 17:59] #7663 closed

[2022-02-01 19:02] pmangahis commented on #2687
+1 from PKP|PS

[2022-02-01 19:33] fgnievinski commented on #7265
That's great, looking forward to the new UI design! For the record, here's the screenshot after a decision is made in version 3.3.0.8:

![image](https://user-images.githubusercontent.com/5018500/152037938-75d50f39-6db2-4570-91d2-f894795118d2.png)

[2022-02-01 20:24] #6652 closed

[2022-02-02 01:42] #7660 closed

[2022-02-02 01:47] asmecher commented on #7661
Whoops, it looks like the upgrade script never had bash-friendly exit codes (particularly on upgrade failure). I've corrected this and will check into the other cases listed.

[2022-02-02 02:55] asmecher commented on #7661
This is now reporting errors properly -- closing, will review the other flagged issues.

[2022-02-02 02:55] #7661 closed

[2022-02-02 04:47] pmangahis commented on #4932
+1 from a PS Client

[2022-02-02 05:51] jonasraoni commented on #7068
Another option to consider, which would keep the `INI` style, but would at least allows us to forward the parser code to a 3rd-party is the [TOML](https://en.wikipedia.org/wiki/TOML) format.

[2022-02-02 09:05] isgrim commented on #7527
Hi everyone,

this would also be relevant for OMP especially for long standing Instances with older publications.
At the moment changing the press name would lead to changes in all citations of older publications and DOI metadata.

We are in the process of changing the name of an OMP press and were already discussing the impact, so we were thinking along the lines of the proposal from @lpanebr:

E

[2022-02-02 09:24] jonasraoni commented on #7661
I can check this one: https://github.com/pkp/pkp-lib/issues/7167 =]

[2022-02-02 10:48] NateWr commented on #7663
It's interesting, though, because these are my config settings and I didn't have the problem. Is it because I'm on postgres?

[code]

Also, I don't have `[database]collation` at all in my `config.inc.php`. I see it in the template though. My config is probably from a long time ago...

[2022-02-02 10:54] NateWr commented on #7265
Ah, you're right. The "change decision" UI doesn't appear when a resubmit or request revisions decision is made. That's because we expect one more decision to be taken in this review round: accept, decline, or create new round.

[2022-02-02 11:00] jonasraoni commented on #7663
Yeah, it happens only in MySQL. The old `utf8` charset supports at maximum characters composed by 3 bytes, but we happen to have characters with 4 bytes 😁

PostgreSQL supports the 4 bytes pattern, but it will also fail if you try to insert an invalid UTF-8 sequence.

[2022-02-02 11:10] NateWr commented on #7527
We haven't considered OMP carefully, yet, but I suspect whatever approach we adopt for OJS will be rolled out to OMP as well.

[2022-02-02 11:26] jonasraoni commented on #7661
FYI I fixed one more. This one was just emitting a warning: https://app.travis-ci.com/github/pkp/ojs/jobs/557983881#L4222

[2022-02-02 11:33] NateWr commented on #6782
Yeah, let's make it as simple as possible for now. The geo usage stats should just save views and unique views if possible.

I'm not sure I understand completely, but can we move the monthly calculations to the end of the reprocessing task? So let's say that we have new and old logs to reprocess:

[code]

I imagine the scheduled task to process logs will create a separate job to process each log l

[2022-02-02 11:46] bozana commented on #6782
Hi @NateWr, thanks a lot!
Regarding the Geo usage stats: yes, I think this would be possible. So our DB table would be:
`load_id, context_id, submission_id, date, country, region, city, metric_investigations, metric_investigations_unique`.

Regarding the reprocessing:
We currently just have a schedule task, not a (laravel) job, but I believe the problem is the same:
In your example above: What sho

[2022-02-02 11:49] jonasraoni commented on #6328
Self-note: this might be a good source for defaults (offers locale + timezone name):
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/resolvedOptions

[2022-02-02 11:55] NateWr commented on #7652
On the subject of DOIs, I think the changes we're bringing in #6062 will give a little more control over what DOIs you mint. There's also https://github.com/pkp/pkp-lib/issues/7666 with a request to configure what kinds of files are automatically assigned DOIs.

This is a tricky one for us, because the types you describe apply to files, not galleys. A remote galley is created without ever uploadin

[2022-02-02 11:56] #7652 closed

[2022-02-02 12:00] NateWr commented on #6702
Two more related requests: the ability to configure which file types support [DOIs](https://github.com/pkp/pkp-lib/issues/7666) or [remote URLs](https://github.com/pkp/pkp-lib/issues/7652).

[2022-02-02 12:07] NateWr commented on #6782
My assumption is that the job `CalculateDailyStats()` will _replace_ existing daily stats. Then `CalculateMonthlyStats()` can simply sum up the daily stats for 2020-11. It's not trying to add on just that day, but recalculating the month from scratch.

The scheduled task shouldn't do any processing itself. It should only dispatch jobs to do the processing. That ensures that it can be performant ev

[2022-02-02 12:09] NateWr commented on #6782
We don't need to use the COUNTER terminology here. We can just call this `total` and `unique`.

:+1:

[2022-02-02 12:12] bozana commented on #6782
Regarding reprocessing: The daily stats would maybe be deleted as soon as the monthly stats are calculated -- per default they are deleted, just if the admin/manager set it up differently...

OK, I will then take a look at the jobs how we could use them...

[2022-02-02 12:21] NateWr commented on #6782
:facepalm: Oh, I get it! I remember we had a conversation about defaults for daily vs monthly stats. Did we settle on monthly as the default for all stats or just the counter stats? Can someone configure them differently (ie - have daily stats for our stats but monthly for counter?)

In either case, I think it's ok for us to restrict stats reprocessing based on the configuration. So if the site ha

[2022-02-02 12:38] bozana commented on #6782
The monthly stats are there for counter (submission and institutional) and Geo stats. Yes, they can each be configured differently, e.g. one can keep the daily counter submission stats and have only monthly counter institutional and Geo stats. Currently all our services/reports/code uses only monthly tables -- we said if someone would like/need to use daily they would need to do it by themselves.

[2022-02-02 12:39] luizbgomide opened #7669 "Empty notification pop-up"
**Describe the bug**
Since I've migrated to 3.x (I'm now at 3.3.0-8) I've seem those empty notifications popup in the dashboard. Several other users complained about the same problem. I've tried to track it down but I don't know where else to look.

![image](https://user-images.githubusercontent.com/18707781/152154676-756bf992-e501-4629-afd0-495a90ca8286.png)

The source code for the notification

[2022-02-02 12:39] marcbria commented on #7068
Not sure about this Jonas.

It's true that TOML (or YAML) are becoming the new config-file standards, but OJS admins are familiar with ini syntax and the config upgrade will be easier.

I'm afraid a change like this could generate an avalanche of requests in the forum.

[2022-02-02 13:03] NateWr commented on #6782
That sounds reasonable to me.

I don't think we have to check if a log file has already been calculated. We only need to check if monthly stats exist for a certain month. If they do exist, then we know recalculating them will require all that month's log files.

[2022-02-02 13:06] bozana commented on #6782
OK, I can proceed with that :-) Thanks a lot!!!
I will then surely need to see how jobs work and then see what if a job fails and user has to correct something before the log file is processed again and what if that is a very old file and... :-)

[2022-02-02 13:51] devinberg commented on #7652
Ok.

I did have one of the PKP devs show me that it was possible to disable remote files across all galleys as you suggested. However, I do think there is value in authors being able to link to data and other supplementary files from their preprint pages.

I think for now then my solution will have to be to reject any submissions that do not include an uploaded primary file.

[2022-02-02 14:15] jonasraoni opened #7670 "Ensure database schemas are fully synchronized after upgrading"
**Describe the bug**
At the [issue #7167](https://github.com/pkp/pkp-lib/issues/7167) I concluded the migration from the old database framework (< 3.3.0) has changed the way some database artifacts are created (at least on PostgreSQL).
Even though it's not critical, it's better to get it fixed to avoid unexpected issues.

**Solution**
- Grab different database versions (3.1.0, 3.2.0, 3.3.0, the mo

[2022-02-02 14:30] Mariaros opened #7671 "Section editors OJS 3.2.1.1"
Topic: Section editors access

When a section editor is assigned, we can limit their access. We have decided to do so in one of our journals. This limitation means that the section editors can only give a recomandation for the MS, not make a descicion. However, because of this limitation, the section editor can not suggest revisions for the author, which means that any descisions must be made by t

[2022-02-02 14:43] Vitaliy-1 opened #7672 "User is redirected to the journal index page after declining a review"
**Describe the bug**
When a reviewer declines a review request, after editing email and pressing a correspondent button, user is redirected to a journal index page.

**To Reproduce**
Steps to reproduce the behavior:
1. Assign a reviewer to a submission
2. Log in as a reviewer
3. Find the submission
4. Click on Decline Review Request, edit email in a pop-up modal and press the correspondent button

[2022-02-02 15:53] NateWr opened #7673 "Remove locale requirement in upgrade XML when installing new email templates"
**Describe the problem you would like to solve**
When a new email template must be installed during an upgrade, the upgrade script expects a list of locale keys to install. This is applied inconsistently and requires an upgrade maintainer to know more than they might. Examples:

[code]

**Describe the solution you'd like**
Refactor the `installEmailTemplate` code so that it installs the required l

[2022-02-02 16:03] NateWr commented on #7652
@devinberg if you're able to write little plugins, another option you can do is add a [pre-publication check](https://forum.pkp.sfu.ca/t/what-pre-publication-checks-would-you-like-to-see/59163) (from 3.3.0-x on). The pre-publication check could make sure that there is at least one galley with a file that is a primary file type ("genre") in our terms.

If that sounds interesting I can throw some sa

[2022-02-02 16:30] isgrim commented on #7527
Thanks for the quick clarification @NateWr !

[2022-02-02 16:32] NateWr commented on #7014
I just updated again and could still reproduce it. It looks like the `issueIds` query param is getting mangled. When I inspect the request, I see the following  (notice the `[0][]` key in `issueIds`).

[code]

When I compare this to the request payload when using the `issueIds` filter in the submissions list, I see a straightforward array:

[code]

This is probably related to how you are compiling

[2022-02-02 17:36] asmecher commented on #7171
All merged, thanks!

[2022-02-02 17:36] #7171 closed

[2022-02-02 17:39] asmecher commented on #7671
@Mariaros, this is more of a point for discussion than a bug or fully-specified feature request; would you mind starting out in the support forum (https://forum.pkp.sfu.ca)? If it can be turned into a full specification for a feature, then it'll be suitable for filing here in Github. Thanks!

[2022-02-02 17:39] #7671 closed

[2022-02-02 18:02] devinberg commented on #7652
@NateWr well, I'm not really much of a developer, but perhaps I will be able to find someone who would know what they were doing.

[2022-02-02 18:56] ajnyga commented on #7595
This is from the DOI ISO standard:
"Characters which cannot be handled directly in a specific network or reference context, or where ambiguity can arise (e.g. minus sign, the hyphen, and the en-dash all look similar on the screen but carry different character values) should be avoided or encoded in an appropriate way"

[2022-02-02 19:05] jonasraoni commented on #7171
@asmecher It's missing this one: https://github.com/pkp/ui-library/pull/172

[2022-02-02 19:07] asmecher commented on #7171
Yes, I've just merged that & just about to update submodules.

[2022-02-02 22:46] diegoabadan commented on #7652
The [SciELO Screening Plugin](https://github.com/lepidus/scieloScreening
) is more complex than you might want, but it can serve as an example for the developer.

[2022-02-02 23:04] ewhanson commented on #7014
@NateWr, everything's been updated and is ready for review again. Thanks!

[2022-02-03 01:47] kshuttle commented on #6324
Hi @NateWr,

I made an animated GIFs demonstrating the steps to reproduce this in an OJS 3.3 demo journal. To summarize what's here:
1. I checked the section editor role settings and permissions
2. I checked the section editor was assigned to the appropriate section
3. I logged in as an author (not shown) and uploaded a submission to the section in question
4. I checked the section editor settings

[2022-02-03 08:41] jonasraoni opened #7675 "General improvements to the CLI"
**Describe the problem you would like to solve**
Based on the [Scout tool](https://github.com/henriqueramos/scout), there's a lot of possible improvements that can be done to the CLI tools.

- Automatic formatting and documentation of commands and arguments by using a 3rd-party package (Symfony CLI sounds like the best option, if it's too heavy, there's simpler options out there http://getopt-php.

[2022-02-03 08:43] jonasraoni commented on #7167
Done! Here's the explanation/cause: https://github.com/pkp/pkp-lib/issues/7670

[2022-02-03 08:43] #7167 closed

[2022-02-03 10:33] NateWr commented on #6324
Thanks @kshuttle, that helped! So the problem is that the user does not have permission to edit the metadata. If you look at the gif in step 4, you'll notice that the checkbox "Allow this person to make changes" is not checked. If you check this, the editor can publish without an error.

I was able to reproduce this, and the fix, in the [OJS test drive install](https://pkp.sfu.ca/ojs/ojs_demo/). I

[2022-02-03 10:41] NateWr commented on #7675
My preference would be to find a way to make the CLI a wrapper for the API. We already have a comprehensive JSON description of the API, so we can automatically import argument descriptions and response formats from that.

If we can't use the OpenAPI doc itself (`swagger-source.json`), we might be able to use the JSON schemas of each entity directly to otherwise cut down on code duplication. One t

[2022-02-03 10:49] NateWr commented on #7669
It looks to me like text is coming back as an empty string. Is it possible that you have some translation entries that are empty?

If a locale key, like `notification.some.message`, is missing from a locale file (eg - `locale/pt_BR/manager.po`), it will output the key like this:

[code]

If the locale key exists, but the `msgstr` is empty, it will return an empty string:

[code]

The `msgstr` can

[2022-02-03 10:55] NateWr commented on #7672
This may be intentional. The reviewer may not yet have any relationship with the journal, and may have followed a one-click access link. Landing them on the submissions page, even an empty one, may be just as confusing.

I think probably we need to redirect the reviewer to an "action completed" page, similar to what happens after an author completes a submission. The action completed page would co

[2022-02-03 11:10] jonasraoni commented on #7661
Now we just need to fix OPS (https://github.com/pkp/pkp-lib/issues/7646), I can take a look on it later if nobody does it before me 😁

[2022-02-03 12:15] luizbgomide commented on #7669
I never messed with those files, so they are as they came. Just checked the `manager.po` and the only "pseudo-empty" are the multi-line strings. I have the "Default Translation Plugin" enabled, not sure if that could be affecting it somehow. I will try to keep my interface in english and disable the mentioned plugin, maybe I can see something in English that helps shed a light.

Any more ideas or

[2022-02-04 00:48] ewhanson commented on #7652
That looks great @diegoabadan, thanks for sharing!

[2022-02-04 12:39] luizbgomide commented on #7669
@NateWr I left my interface on English and got the same problem today:
![image](https://user-images.githubusercontent.com/18707781/152530553-83b519c0-a25e-4f9a-a6c2-fd1cd9033958.png)

So the issue probably isn't some translation string missing, is something else.

[2022-02-04 13:46] pluscommunication opened #7677 "PHP Warning: Declaration of QueryNoteFilesGridHandler"
**Describe the bug**
Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.

[04-Feb-2022 15:31:49 Europe/Bucharest] PHP Warning:  Declaration of QueryNoteFilesGridHandler::authorize($request, $args, $roleAssignments) should be compatible with SubmissionFilesGridHandler::authorize($request, &$args, $roleAssignments) in /home/pluscomm/techniumscienc

[2022-02-04 16:51] asmecher commented on #7677
@pluscommunication, the deprecation warnings are just warnings and won't cause the system to break. Likewise with warnings. We will gradually fix these over the next releases but they can be ignored. It looks like you're encountering another problem, which is causing the CSS to not load; unless you've already fixed that, I'd suggest posting about it on our support forum (https://forum.pkp.sfu.ca).

[2022-02-04 16:51] #7677 closed

[2022-02-04 17:20] pluscommunication commented on #7677
I spoke with my Internet provider. They have just restarted the DNS and
everything is fine now! Thanks for your help

[image: http://www.pluscommunication.eu] <http://www.pluscommunication.eu> Cu
stima,
Dr. Tanase Tasente
General Manager - Agentia de relatii publice Plus Communication
Asistent universitar doctor - Universitatea "Ovidius" (Facultatea de Drept
si Stiinte Administrative)
Telefon: 072

[2022-02-04 19:42] asmecher commented on #7016
@NateWr, could you have another look at the `stable-3_3_0` PRs? I've changed them to avoid fetching the user groups in the `getAuthorString` function, per your recommendation.

- https://github.com/pkp/pkp-lib/pull/7619/files
- https://github.com/pkp/ojs/pull/3273/files

@bozana, do you remember the context around https://github.com/pkp/ojs/commit/7b1707e2326c5536270cd2f03d0459e2aae70b6f#diff-31f4

[2022-02-04 20:24] asmecher commented on #3776
I was able to get the message involving `user.authorization.invalidQuery` to display by attempting to view a query that had been deleted in another tab. However, the translation ("Invalid discussion.") was presented correctly (working with pre-3.3.0-9). I suspect the problem has been fixed since it was reported; if anyone is still encountering it with 3.3.0-8 or later, please note that here.

[2022-02-04 20:24] #3776 closed

[2022-02-04 20:25] asmecher commented on #6137
It doesn't look like anyone has been able to reproduce this; closing.

[2022-02-04 20:25] #6137 closed

[2022-02-05 02:07] asmecher opened #7678 "Investigate multiple assignments of same reviewer to same review round"
**Describe the bug**
During upgrade, a new unique index is introduced on `review_assignments` by `review_round_id` and `reviewer_id`:
https://github.com/pkp/pkp-lib/blob/main/classes/migration/upgrade/v3_4_0/UpgradeMigration.inc.php#L62

As noted, the assumption is that no user can be assigned to the same review round twice.

In the SciELO dataset, however, multiple cases of this appear:

[code]

[2022-02-06 19:33] jonasraoni commented on #7646
@asmecher I was going to write a small fix for this, but then I started facing new issues and decided to make the whole migration static (I just left this part dynamic: https://github.com/pkp/pkp-lib/pull/7679/files#diff-f4951b8d90b205bf60a1111a761b62eb75f598c0c536738da01d027561a33f1cR273).

I've added the PRs to the issue description, and left comments on the ones for `pkp-lib` and `ops`.

[2022-02-06 22:26] withanage commented on #6965
Just a note that  the chapter   urls were added to the OMP  sitemap  during  the https://github.com/pkp/pkp-lib/issues/7003 implementation   under the PR https://github.com/pkp/omp/pull/1061

[2022-02-07 10:23] t-mayer commented on #7665
Can confirm this behavior. The page numbers (instead of the page count) are generated inside a size property in the XML.
I am using OJS version 3.3.0.3

[2022-02-07 11:08] NateWr commented on #7669
No idea. Have you tried reproducing it in the 3.3 test drive install? https://pkp.sfu.ca/ojs/ojs_demo/

I'll close this for now since we don't have any reproduction steps. But if you can reproduce it in the 3.3 test drive install and provide some reproduction steps I'll reopen it. Otherwise, I'd suggest trying out the support forum since it seems to be a local issue. Maybe someone else has run int

[2022-02-07 11:08] #7669 closed

[2022-02-07 11:25] jonasraoni commented on #7601
This is the most common message when a build fails partially:
`Expected to find content: 'PDF Version 2' within the element: <a#cell-2-label-downloadFile-button-6200e0551b407.pkp_controllers_linkAction.pkp_linkaction_downloadFile.pkp_linkaction_icon_> but never did`

Perhaps fixing it will be enough to decrease the number of rebuilds 🤔

[2022-02-07 11:36] bozana commented on #7016
Sorry to be so late -- somehow I first now see this :(
I cannot remember it well :-(
I've just seen these comments from the issue back then:
s. No 13) here https://github.com/pkp/pkp-lib/issues/2958#issuecomment-387148988
and https://github.com/pkp/pkp-lib/issues/2958#issuecomment-387353098.
So I think there was maybe not a very specific reason, we thought it would be better so I would say, maybe

[2022-02-07 11:36] NateWr commented on #7601
Yeah I see that one quite a bit too. Usually what this means is that there is a race condition so that between the type that Cypress `.get()`s a DOM element and checks if it `.contains()` something, that DOM element has been removed.

Since Cypress does everything async, a `cy.get(something).contains()` will work in two separate async callbacks, first to `.get(something)` and then to check `someth

[2022-02-07 12:06] luizbgomide commented on #7669
@NateWr I disagree that this is a local issue, I know of at least 4 other installations that have this issue (all migrated from 2.x to 3.x) and I already mentioned this issue on the forum years ago and there 2 other people also said they had the same issue: https://forum.pkp.sfu.ca/t/null-notifications-what-are-those-supposed-to-be/64832

It is very hard (or even impossible) to reproduce this is a

[2022-02-07 12:13] NateWr opened #7680 "Primary author error when posting preprint"
**Describe the bug**
When publishing/posting a preprint, a fatal error may occur if the preprint does not have a primary author.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a preprint
2. Add at least one author and make sure no author is set as the primary author.
3. Post/publish the preprint
4. See error

**What application are you using?**
OPS 3.4 pre-release (`main`). This does no

[2022-02-07 12:15] NateWr commented on #7680
@asmecher this is a PR which catches this fatal error. But should it be possible to have contributors with no primary author specified? Or should we change this so that the first author added to a publication is automatically made the primary author?

PR:
https://github.com/pkp/ops/pull/231

[2022-02-07 12:19] luizbgomide commented on #7669
@NateWr as a follow-up, last year on that post I mentioned above, I asked about some notification codes that showed up on my installation that was also showing up on the table of another user, namely notification `type`: `369098754`.

What is that? That wasn't in the list of notification codes that you posted on the forum. This could be very well be the thing that is showing up empty, since they a

[2022-02-07 12:24] NateWr commented on #7669
We're making an effort to keep GitHub issues for confirmed bug reports and clear feature requests. I've been going through our backlog and closing old issues too.

I've posted in the forum thread so we can continue discussing it there. If/when we find a clear source of the problem, I'm happy to get it filed in GitHub.

[2022-02-07 12:43] bozana commented on #6782
@NateWr, sorry to bother you again :(
I've just seen this comment again: https://github.com/pkp/pkp-lib/issues/6782#issuecomment-840088191.
Thus, eventually the reporting usage by country and region with COUNTER would maybe come some day, maybe also only optionally. The problem is that we currently do not know exactly how it will be then... For example: currently we save the usage in the Geo DB ta

[2022-02-07 12:47] NateWr commented on #6782
I'd prefer to keep geographic and COUNTER stats completely separate until we have a specific use-case for them. There's a lot of room for things to get really complex here without any tangible benefit. But I'd like to hear @ctgraham's opinion on this. I'll defer to his view on how important geographic faceting of COUNTER stats is expected to become.

[2022-02-07 14:18] felixhelix commented on #7602
Hi @NateWr,

I tried to clone the repo into my local test installation and work on the issue title. So I deleted the plugin in OJS, forked the repo and cloned it in the respective plugin folder.
However, that didn't work: When I want to access the plugin list OJS claims "Uncaught Error: Class 'PKP\plugins\GenericPlugin' not found in ... plugins/generic/citationStyleLanguage/CitationStyleLanguagePl

[2022-02-07 15:10] barmintor commented on #7649
Just want to add that this will also mitigate XSS vulnerabilities, thank you for moving quickly on it!

[2022-02-07 15:14] ctgraham commented on #6782
Mapping COUNTER against geographical dimensions didn't come up in any of the conversations which I remember in the NISO working group.  I'm also unable to find reference to it in the R5 specification.  I don't have anything to suggest the faceting of COUNTER by geography of the user.

[2022-02-07 16:57] NateWr commented on #7602
To set up a local dev environment based on git, have a look at https://docs.pkp.sfu.ca/dev/documentation/en/getting-started.

(You may be able to get your existing install going by checking out the appropriate branch of the CSL plugin. If you're running 3.3.0-x, try the `stable-3_3_0` branch of CSL.)

[2022-02-07 17:30] asmecher commented on #7680
I think there should always be a primary author -- but this change adds resiliency against fatal errors without any real downside, so please proceed. I would prefer this to just picking the 1st author because it's a lot easier to notice/fix missing data when it's not masked, both for users and for us should it become a problem down the line.

[2022-02-07 18:36] bozana commented on #6782
I would have another question:
Do you think it would be OK/make sense if the old log files (that have the old format) would be moved to the 'oldArchive' folder (during the upgrade), in order to separate them from the new (archived) log files?
Also, shall we maybe change the log file name so that it contains some kind of version? Maybe to have _v3_4_0 in the file name? This does not necessarily nee

[2022-02-07 18:49] NateWr commented on #6782
I'd be tempted to leave them in the same place, if possible. If an old log is read, the parser should get an error when it tries to decode the JSON, and that can be reported...

Put a full version descriptor into the JSON for each entry. The same day might have entries from two different versions. That will help us manage compatibility changes over time.

[2022-02-08 10:24] NateWr commented on #7680
Ok, makes sense. Merged this fix in.

[2022-02-08 10:24] #7680 closed

[2022-02-08 10:53] NateWr opened #7681 "Add Publication object to publication forms so hooks can use it"
**Describe the problem you would like to solve**
Plugin editors can not extend some of the `Publication` forms, because the `Publication` object is not available from the hook used to add fields.

**Describe the solution you'd like**
Add the `Publication` object as a property to each of the `Publication` forms. Example:

[code]

**Who is asking for this feature?**
Plugin developers. See [forum](ht

[2022-02-08 13:21] NateWr opened #7682 "Add a "Needs DOI" filter to DOI management page"
**Describe the problem you would like to solve**
The new DOI management page supports filtering by several statuses. However, it's not possible to identify all submissions that have not yet been assigned a DOI.

**Describe the solution you'd like**
Add a "Needs DOI" filter to the DOI management page, that will show all submissions in the copyediting/production stages that have at least on enabled

[2022-02-08 13:24] NateWr opened #7683 "DOI Management page or API endpoints should not be accessible when DOIs disabled"
**Describe the problem you would like to solve**
The new DOI Management page includes a context setting to enable/disable DOIs. When DOIs are disabled, I can still access the DOI Management page by going directly to the URL. While there, I see new submissions. I can select one, assign a DOI, and the message says "success", but it doesn't actually assign a DOI.

**Describe the solution you'd like**

[2022-02-08 13:26] NateWr opened #7684 "Improve use of Unregistered filter on DOI Management Page"
**Describe the problem you would like to solve**
When I filter by Deposit Status "Unregistered" on the DOI Management page, I see entries with Unpublished, Submitted, and Error statuses. This is confusing because it looks like a distinct status from the others.

**Describe the solution you'd like**
Make "Unregistered" only show submissions that are published and without submitted or error statues.

[2022-02-08 13:26] NateWr commented on #7014
Looks good, @ewhanson. I've done a review and it's all working great. I left a few comments on the pull requests, mostly about getting more code into pkp-lib. I'm happy to merge it as-is, though, so if you want we can file these as separate issues.

A couple more things that you know about but just to flag them up:

- There are still some `// TODO` comments scattered throughout the code. These nee

[2022-02-08 16:51] asmecher opened #7685 "Add Authorization header support to API interactions"
The API's authorization key middleware currently expects an API key specified in a GET parameter.

However, it's more secure and more standard to use an `Authorization:` header. (We already support this in `ArticleHandler` for requests that make use of the API key.)

Add support to the API to rely on `Authorization` headers for auth key transmission, and potentially deprecate the `apiToken` reques

[2022-02-08 17:30] leonardorodriguesds opened #7686 "Evaluators requisition emails, password changes and etc aren't sent when user's language is set to portuguese"
**Describe the bug**
evaluators requisition emails, password changes and etc aren't sent when user's language is set to portuguese

**To reproduce**
1 - Change the language to portuguese
2 - Ask for a password change

**What application are you using?**
OJS 3.3.0.8

**Additional information**
The system also doesn't send news emails. However, it does send the emails to any user with language set t

[2022-02-08 18:55] ewhanson opened #7687 "Consolidate DOI settings migrations into pkp-lib where possible"
**Describe the problem you would like to solve**
Migrations of the existing DOI pubId plugin settings into the new, context-based settings are largely the same across OJS, OMP, and OPS. The main differences between the application come down to the use of the app-specific context IDs (e.g. `journal_id`, `press_id`, `server_id`).

**Describe the solution you'd like**
Move as much of this code as pos

[2022-02-08 22:47] asmecher commented on #7686
@leonardorodriguesds, I'm pretty certain that these emails are being sent by OJS, but they are being filtered / spam trapped. OJS doesn't decide to send/not send emails based on what locale is being used. I would suggest looking into your DMARC configuration to ensure that emails are being delivered as expected.

[2022-02-08 22:47] #7686 closed

[2022-02-09 12:04] henriqueramos commented on #3391
@asmecher Could you please take a look on those Pull Requests? Thank you!

https://github.com/pkp/omp/pull/1058
https://github.com/pkp/ojs/pull/3286
https://github.com/pkp/ops/pull/226
https://github.com/pkp/pkp-lib/pull/7638

[2022-02-09 12:57] NateWr commented on #7687
You can use parent/child classes with migrations too, so this can be one way to deal with it:

In pkp-lib:

[code]

In OMP:

[code]

[2022-02-09 19:17] asmecher commented on #3391
@henriqueramos, this is a case where 5-10 lines of unstructured PHP is going to be a lot more maintainable than 420loc of abstractions that aren't used elsewhere. Can you simplify this down to just what's needed to convert the Guzzle-like configuration that's supplied in `config.inc.php` to the form that PHP's stream context toolset expects? Please cap this at 4 hours -- if there's more work than

[2022-02-09 20:43] henriqueramos commented on #3391
Ok @asmecher, I will remove the OOP logic from this Pull request. Only leaving the parser as a function to be called on PKPContainer. Also, making it as a function I will could keep the unit tests for it, leaving a better code coverage and avoid issues with non-deterministic e2e tests.

For historical purposes, my idea behind the implementation here it's to use Objects rather than primitive types.

[2022-02-09 21:24] ifarley commented on #7528
Hi @AhemNason and @NateWr. As Mike said above: "I know it seems a little weird, but I suspect it's [Crossref selecting surname as the default for contributors with a single name] because of the expected placement of a person's name in like... citations."

That's exactly right. We're focused on that citation matching, and that's why we decided to use the <surname> element in the XML as the required

[2022-02-10 06:05] ajnyga commented on #7528
So I came across this in OMP where I have my won Crossref plugin.

@NateWr are you thinking of solving this by using the firstname in the `surname` field in the Crossref export xml, like this:

[code]

[2022-02-10 07:38] jonasraoni commented on #6328
@asmecher I've updated the PR with the backwards compatibility code.

[2022-02-10 11:52] NateWr commented on #7681
PR:
https://github.com/pkp/pkp-lib/pull/7688

Tests:
https://github.com/pkp/ojs/pull/3294

[2022-02-10 12:36] #7681 closed

[2022-02-10 12:38] NateWr commented on #7528
Yes, but we do not have a "first name". We have a "given name" and a "family name". If only a "given name" is provided, then we will put that into the only required field in Crossref.

[2022-02-10 12:53] Vitaliy-1 opened #7689 "Email variable placeholders aren't being replaced in TinyMCE input when saving the form"
**Describe the bug**
When form with email editing input is initialized, email template variables are often replaced with placeholders (if actual data is unknown during email editing), like:
[code]
After saving a form, these placeholders aren't replaced with variables, e.g., `{$passwordResetUrl}`. Observing this behaviour only in the main branch and suspect that this is related to the recent migrat

[2022-02-10 13:11] felixhelix commented on #7602
Thanks @NateWr, finally got it working :-)

I made a change in the plugin so that it includes the issue name if getShowTitle is true.
I also created an issue in the "Citation Style Language"  repo, since the csl file and the localization files also had to be changed
https://github.com/citation-style-language/styles/issues/5906
As soon as this is done, I would make a pull request for the PKP plugin

[2022-02-10 13:23] NateWr commented on #7602
Thanks @felixhelix! Instead of checking `getShowTitle`, can you use `getLocalizedTitle` instead? Our own internal logic will always use the title if it exists, regardless of `getShowTitle`, so this will make sure we're consistent.

[2022-02-10 16:43] asmecher opened #7690 "Add PHP8.1 testing to Travis environment"
OJS/OMP/OPS 3.3.0 and `main` (pre-3.4) should be tested against PHP8.1.

PRs:
- https://github.com/pkp/ojs/pull/3296

[2022-02-10 18:25] pmangahis commented on #4540
+1 from PKP|PS client that would like to remove incomplete submissions on multiple journals as well

[2022-02-10 20:07] emmauhl opened #7691 "Include Date Published for Articles in Statistics Reports (Views, Articles, Custom)"
**Describe the problem you would like to solve**
Editors for journals using continuous publishing models would like to track article statistics using the date the article was published, which is not included in current statistic reports. They may want to track views or other article statistics by grouping articles by the month/week they were published rather than being confined to grouping them by

[2022-02-10 22:35] ewhanson opened #7693 "Expand DOI test coverage and consolidate common code into pkp-lib"
**Describe the problem you would like to solve**
The new DOI management workflow introduces a number of new features and ways of interacting with DOIs and pub objects. The current tests match the test coverage prior to the updates, but more tests should be added to cover all added functionality.

**Describe the solution you'd like**
Include tests to cover more of the added features. Additionally,

[2022-02-10 22:46] asmecher commented on #4246
PRs (thanks, @forgive38!)
- OJS: https://github.com/pkp/ojs/pull/3295 (tests only)
- ui-library: https://github.com/pkp/ui-library/pull/177
- pkp-lib: https://github.com/pkp/pkp-lib/pull/7692/files

@NateWr, could you take a look at these?

[2022-02-10 23:34] asmecher commented on #7690
It looks like PHP8.1 support is not yet great on Travis.
- For 20.04, it's falteringly available: https://travis-ci.community/t/php-8-1-support/12439/23
- For older distros, may not be available at all yet (including the one we use for `stable-3_3_0`.

On the plus side, the tests pass locally with PHP 8.1.2 for both `stable-3_3_0` and `main` without issue.

[2022-02-11 08:30] jonasraoni opened #7694 "[OPS] Drop entities related to the reviewing process"
**Describe the problem you would like to solve**
OPS doesn't make use of the review system, therefore it's possible to drop the tables related to it.
At the https://github.com/pkp/ops/pull/230, a naïve attempt was made and deflected.

**Describe the solution you'd like**
- Remove the `ReviewsMigration` and `ReviewFormsMigration` from the installation script
- Add a migration script to drop the tab

[2022-02-11 09:35] felixhelix opened #7695 "OJS: Option to group journal issues on archive page"
With the number of issues growing, the archive list gets a bit long and unwieldy.

My suggestion would be to group issues for each year together in a <section> with the year as heading.
This would give a bit of structure to the list and would also allow to implement a toggle function.

I see one problem with the paging, however. One possible solution could be to allow for either the display of ord

[2022-02-11 09:35] felixhelix commented on #7602
Thanks @NateWr, finally got it working :-)

I made a change in the plugin so that it includes the issue name if getShowTitle is true.
I also created an issue in the "Citation Style Language"  repo, since the csl file and the localization files also had to be changed
https://github.com/citation-style-language/styles/issues/5906
As soon as this is done, I would make a pull request for the PKP plugin

[2022-02-11 11:54] jonasraoni opened #7696 "Drop extension when saving user files"
**Describe the problem you would like to solve**
At this moment, we're saving files with their extensions (`.php`, `.htaccess` and other variants are renamed)... Given that servers might be able to execute other types of files, a safer approach, in case the user has a public `files_dir`, would be to get rid of the extensions.

**Describe the solution you'd like**
Remove the extension from the file

[2022-02-11 13:17] rcgillis opened #7697 "Categories are re-sorted upon editing"
**Describe the bug**
When attempting to re-order categories, when you go to edit a category, it then resets the order of the categories.

Reported here: https://forum.pkp.sfu.ca/t/error-in-ordering-categories/71916

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Journal - Categories
2. Create categories, or if they already exist, click on order and re-order them.
3. Edit one of the cat

[2022-02-11 17:42] asmecher opened #7698 "Investigate replacing Slim with Laravel-based routing toolset"
Currently the API routers use the Slim microframework.

As we move towards more complete adoption of the Laravel toolset, it makes sense to remove this dependency in favour of something in the Laravel ecosystem (either Lumen or the full-fledged Laravel routing toolset).

(The page and component routing toolset does not use Slim, and shouldn't be touched for the moment.)

**PRs**

[pkp-lib](https:/

[2022-02-11 18:50] #7646 closed

[2022-02-11 23:01] asmecher commented on #6328
Thanks, @jonasraoni, this is a ton of work and looks very good!

I've added a few comments, plus I see there's still a note about a PR being needed for https://github.com/pkp/defaultTranslation.

Those comments notwithstanding, this is working well and I'd like to get it merged ASAP. Let's talk on Monday!

[2022-02-11 23:04] asmecher commented on #3391
Thanks, @henriqueramos, I've merged the pkp-lib PR!

[2022-02-11 23:04] #3391 closed

[2022-02-12 01:29] asmecher commented on #7696
Even if a file isn't executable, an exposed `files_dir` will allow 3rd parties who can guess filenames to download submission files without PHP-land access checks. I'm in favour of having clear instructions (*never make your files directory public*) rather than ambiguity.

[2022-02-12 02:26] librariam commented on #6324
@NateWr I did some more tests and can confirm that checking the "allow this person to make changes" checkbox resolves permission assignment issue **EXCEPT** in the following scenario:

- **Section editor is assigned to a submission as a Section Editor, but also has a Journal Manager role with the journal**

In fact, in this case the Section Editor would get a different error at a different step:

[2022-02-12 06:23] defstat commented on #7580
@NateWr @asmecher @jnugent

**PRs**
[3.3.0]
pkp-lib: #7699
googleScholar: pkp/googleScholar#8

[2022-02-12 13:14] jonasraoni commented on #7696
Yep! My intention here was just to avoid something more catastrophic for the worst case (open `files_dir` in a server configured to execute other extensions).

[2022-02-13 10:14] jonasraoni commented on #7111
Think about ways to invalidate the cache if its internal data structure gets modified.

Example of breaking changes that might pass unnoticed, until new code gets deployed over an old cache, and something fails:
- User stores an object `/namespace/classA` which is later on renamed to `/namespace/classB`
- User stores array `['name' => 'Jonas']` which is later on changed to `['firstName' => 'Jonas'

[2022-02-13 18:58] Vitaliy-1 commented on #7689
Must confess that after inspection of TinyMCE 5 code I haven't noticed any changes in the SaveContent event. Our old JS handlers also work the same as in OJS 3.3.

But anyway the modification of the `content` through the args passed to the event here: https://github.com/pkp/pkp-lib/blob/996879d1f80058c115274cb5b29377a974a812aa/js/controllers/SiteHandler.js#L324 doesn't have any effects, although d

[2022-02-13 19:32] jonasraoni commented on #6328
Ok! Besides the `defaultTranslation`, I also wanted to make some improvements to the `customLocale`.

Anyway, I think it's generally ok to get this merged already.

[2022-02-14 05:44] ewhanson commented on #7014
Hey @NateWr, these should be all ready to go once the test can be re-run (It looks like 7.4 compatibility is broken right now: https://github.com/pkp/pkp-lib/commit/c2c4bbf05d5681ce8ccc597eeeca66f4884209e4#commitcomment-66584171). I had all tests passing and had gone over a final time to double check comments, doc blocks, TODOs, etc. Thanks!

The PRs are:
#7350
pkp/ojs#3196
pkp/ui-library#165
pkp/

[2022-02-14 11:05] NateWr commented on #7689
It seems like your proposed fix would address this. What is the source of the problem that isn't solved here?

[2022-02-14 11:15] NateWr commented on #7014
That's great, @ewhanson. I've fixed the PHP 7.4 issue in `main`. Can you rebase again? I know the test failures weren't in your code, but I want to see the 7.4 tests passing on your code before merge.

[2022-02-14 12:08] NateWr commented on #4246
Thanks @forgive38! I've left a few comments on the pkp-lib PR. In addition to those, there are a couple of things we need to decide about how this filter should work:

1. Should it return all reviewers assigned in a round, or only those who completed a review? My understanding is that in most cases there is a 2-1 or 3-1 relationship between assigned reviewers and those who actually complete a revi

[2022-02-14 12:28] NateWr commented on #7697
I was unable to reproduce this on `stable-3_3_0` or the test drive install. Can you provide more detailed reproduction steps, including the exact category names you create, the order you set, what information you edit on the category, and the wrong order that results?

[2022-02-14 12:28] #7697 closed

[2022-02-14 13:53] forgive38 commented on #3525
This proposal may not be the best solution.

Ideally, users' preferred languages should be stored in the database (and not just in a cookie as shown on https://github.com/pkp/pkp-lib/issues/7293 ).
And we could use this user setting to define the locale of the email template (which can be changed later or not).

Today, the "Working languages" parameter is a multi-value parameter (checkbox), I thin

[2022-02-14 14:51] NateWr commented on #7691
It looks like the date published is already available in the Views report but is missing from the Articles and Custom Report Generator.

[2022-02-14 14:52] amandastevens commented on #4246
I agree with you on 1 and 2, @NateWr, based on common sense. But I will ask one of our clients who requested this feature what they prefer.

[2022-02-14 15:01] NateWr commented on #7695
I'm going to close this in favor of https://github.com/pkp/pkp-lib/issues/4667. You will see that there was some UI/UX work on this, but unfortunately we had to abandon in in favor of higher priority items.

[2022-02-14 15:23] NateWr commented on #7698
One of the biggest potential benefits here is the possibility to use the router to generate URLs. Our current approach to constructing a URL requires that a lot of our code has a `Request`, and this doesn't work great in a CLI command.

Lumen lets you [generate URLs to named routes](https://lumen.laravel.com/docs/8.x/routing#named-routes) and Symfony offers [a similar feature](https://symfony.com/

[2022-02-14 15:37] NateWr commented on #3525
@forgive38 the working languages feature is not currently used. If you're interested in working on this, I have some thoughts and I think that we'd be open to a PR. Can you open a new issue and make a proposal with some use cases, keeping #6221 in mind as well? I think the key will be getting right the workflow when a user should be asked to provide it. Existing data shows that very few users have

[2022-02-14 16:13] Vitaliy-1 commented on #7689
Yes, I found the fix for this particular issue but I haven't found the reason why the value of TinyMCE textarea input doesn't change by modifying its content through the arguments passed to the TinyMCE's `SaveContent` event: https://github.com/tinymce/tinymce/blob/7ca5270dd97019fe756ba68444442bfb47aa0e3b/modules/tinymce/src/core/main/ts/api/Editor.ts#L742.

I'm worrying that this also may affect o

[2022-02-14 16:26] defstat commented on #5048
@asmecher

Do I just run upgrade for testing that, or should I do something else to invoke the migrations?

**PRs**
pkp-lib: #7700
OJS: pkp/ojs#3299
OMP: pkp/omp#1065
OPS: pkp/ops#233

[2022-02-14 16:42] NateWr commented on #5048
cc @Vitaliy-1 we'll need to test this with the new email stuff.

[2022-02-14 16:43] NateWr commented on #7689
Every TinyMCE in the "old" forms should be controlled by the `SiteHandler`. So this should do the trick for everywhere...

[2022-02-14 19:53] asmecher commented on #5048
The upgrade tests passed on OMP and OPS; they were skipped on OJS because one of the earlier test stages failed, but I've queued them so they should run too. You can see that the migration ran OK in the upgrade test output, e.g. from https://app.travis-ci.com/github/pkp/omp/jobs/559618036:
<pre>
$ php tools/upgrade.php upgrade
2022-02-14 19:16:47 [pre-install]
2022-02-14 19:16:47 [load: upgrade.xm

[2022-02-14 20:10] asmecher commented on #7111
Absolutely, I don't think we want to add upgrade considerations to our "live" caches.

We do have a few cases where we're serializing data into the relational database, though, and need to be a little more careful there about things like class renames. I think our only current case is serialized payment information.

[2022-02-14 20:16] #7580 closed

[2022-02-15 05:59] ajnyga commented on #5396
We should also consider section editor assignments to certain sections and categories. In a similar manner if you remove a section editor role, the assignment to specific sections/categories remain.

These are both mentioned here: https://github.com/pkp/pkp-lib/issues/5207

@NateWr maybe close that old issue and move anything usefull here?

[2022-02-15 09:44] NateWr commented on #5396
Good idea. There is some good discussion on that other issue. I'm copying over a few comments from #5207:

Idea from @asmecher for disabled stage assignments that doesn't require a flag in the database

Comment from @alexxxmendonca

Comment from @dihagan

[2022-02-15 09:44] NateWr commented on #5207
I'm closing this in favor of #5396. I've copied some of the key points of discussion over to that issue. Please subscribe to that issue if you want updates.

[2022-02-15 09:44] #5207 closed

[2022-02-15 10:06] openacademia commented on #4246
We also agree with you on 1 and 2 @NateWr

[2022-02-15 11:26] NateWr commented on #7014
:tada: All merged! Thanks @ewhanson!

[2022-02-15 11:26] #7014 closed

[2022-02-15 14:20] murilodbva commented on #5583
Hello @marcbria , you code helped me. Thanks.
I think you maybe also can include that another tables and drop the temporary tables in the end:
Below is what I'm doing in MariaDB:

**1) For Cleaning orphan authors:**

- books_for_review_authors
- submission_comments

[code]

**2) For Cleaning orphan citations:**

- citation_settings
[code]

[2022-02-15 15:05] fgnievinski commented on #6072
a near duplicate of this?
"Not possible to see or select publication language after submission"
https://github.com/pkp/pkp-lib/issues/5502

[2022-02-15 15:09] fgnievinski commented on #7335
related issue:

"Fix submission language/languages metadata"
https://github.com/pkp/pkp-lib/issues/5000

[2022-02-15 15:31] jnugent commented on #6528
Just to add 0.02 to this from the systems side.  We've been able to  clean out incomplete submissions by using the following logic:

1.  We identify old and stale incomplete submissions by looking at the submissions table and querying based on submission_status > 0 and a date_last_activity that is older than a determined threshold with the client.
2. These submission ids are put into a text file a

[2022-02-15 17:03] ewhanson commented on #7687
Thanks for flagging this! I hadn't thought of that. Will do.

[2022-02-15 17:13] forgive38 opened #7702 "Save user preferred language"
**Describe the problem you would like to solve**
In order to know in which language a email should be sent (https://github.com/pkp/pkp-lib/issues/3525), I propose to add "preferred language" or "corresponding language" as a new setting to the user profile

**Describe the solution you'd like**
I think this should be a new item in the registration form - pre-populated by the browser language.
At the

[2022-02-15 17:52] asmecher commented on #7702
@forgive38, I think this is already covered by https://github.com/pkp/pkp-lib/issues/7293 and https://github.com/pkp/pkp-lib/issues/7512; are there aspects that are different here?

[2022-02-15 19:22] Vitaliy-1 commented on #7592
PRs
ojs: https://github.com/pkp/ojs/pull/3300
pkp-lib: https://github.com/pkp/pkp-lib/pull/7703

[2022-02-16 03:54] asmecher opened #7704 "Job test fails with PHP8.1"
Running `php lib/pkp/tools/jobs.php test` with PHP8.1 generates an exception:
[code]

(Travis example: https://app.travis-ci.com/github/pkp/ojs/jobs/559871247)

[2022-02-16 03:54] asmecher commented on #7704
@henriqueramos, could you take a look at this one?

[2022-02-16 08:03] Vitaliy-1 commented on #7592
@NateWr, can you take a look at these initial PRs?

[2022-02-16 10:07] NateWr commented on #4246
Thanks @amandastevens and @openacademia!

@forgive38, can you work those changes into your PRs?

[2022-02-16 10:22] NateWr commented on #7702
@asmecher I asked Simon to file this in [this comment](https://github.com/pkp/pkp-lib/issues/3525#issuecomment-1039233124). It differs from #7293 and #7512 because those are about the session language (ie - what UI am I looking at right now). This is about capturing data about what languages the user prefers to work in.

@forgive38 let's keep this issue focused on capturing the user's language pre

[2022-02-16 11:10] NateWr opened #7705 "Files not selected for promotion by default"
**Describe the bug**
When recording an editorial decision to move a submission from one stage to another, the editor is asked if they want to promote files from one stage to another. In 3.2.1, these files are selected by default. In 3.3, they are not. They should be pre-selected so that the editor does not have to select them manually.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a

[2022-02-16 13:55] NateWr opened #7706 "Refactor relationship between Mailables and Email Templates"
**Describe the problem you would like to solve**
We introduced [Mailables](https://laravel.com/docs/9.x/mail), which now represent when an email happens, such as a user registration, review assignment, etc. We need to connect `Mailables` to `EmailTemplate`s in OJS/OMP/OPS.

**Describe the solution you'd like**
Each `Mailable` should be able to be associated with one or more `EmailTemplates`. When

[2022-02-16 15:21] asmecher commented on #7702
Gotcha -- thanks, @NateWr and @forgive38!

[2022-02-16 21:05] bozana commented on #6781
Hi @NateWr and @ctgraham,

I have a few questions again:

I would need to somehow save/know the date when the COUNTER R5 metrics start to be available -- I would need to know the `begin_date` for R5 reports.
For the new installations where there was no usage earlier, it could be the installation date.
But for the users that upgrade to a release > 3.4 (and that have some usage earlier, that I assum

[2022-02-17 05:40] ajnyga commented on #7335
Also related: https://github.com/pkp/pkp-lib/issues/6172

[2022-02-17 07:52] jonasraoni commented on #7601
Looks like the modification above fixed the issue, I've added it to a random PR and I haven't seen this issue lately.
I'll try to run the tests in my machine again to see if I can fix the other random issues I had in my sluggy env =]

[2022-02-17 08:44] henriqueramos commented on #7105
@asmecher Could you please check those pull requests? If they look good enough, I will create the respect ones for OMP/OPS. Thank you!

https://github.com/pkp/pkp-lib/pull/7106
[OJS](https://github.com/pkp/ojs/pull/3144)

[2022-02-17 09:41] NateWr commented on #6781
For the `begin_date`, we have a record of upgrade dates in the `versions` table that we can use. It doesn't account for reprocessed statistics but it does tell us when an upgrade occurred.

I will defer to @ctgraham about handling R4 vs R5 with reprocessed logs. However, I think it should be the sysadmin's responsibility to ensure that the dates line up with upgrades, that there are no gaps in cov

[2022-02-17 12:07] alexxxmendonca opened #7709 "[OPS] Editorial Activity statistics are inaccurate"
**Describe the bug**
The statistics that are given in the Editorial Activity section are inaccurate.

Taking by example SciELO Preprints, this is what is shown today as overall Editorial Activity:

![image](https://user-images.githubusercontent.com/4059679/154478200-6fd1c4fa-a036-4859-916d-2c7a784fedfe.png)

- It says 1856 submissions received but our Archive tab says more than that:
![image](http

[2022-02-17 12:37] jonasraoni commented on #7709
I've just checked an OPS 3.3.0.8 instance and I can confirm the results are inaccurate.

[2022-02-17 15:07] mfelczak commented on #7709
@ajnyga is this something that you'll have a chance to tackle shortly? We have a hosted client affected as well and can provide a PR next week if it might be helpful.

[2022-02-17 15:21] defstat commented on #6742
@asmecher should this be closed or there is more to do?

[2022-02-17 15:38] illipsum opened #7711 "Reviewer's competing interests should be visible for journal editors before review files are uploaded"
If a reviewer acknowledges possible competing interests when asked for a review those are visible for the journal editors only AFTER the review process is finished by the reviewer and review files are uploaded. Journal editors should be informed about competing interests beforehand so that they could assign a different reviewer if they decide to do so.

[2022-02-17 15:56] #7704 closed

[2022-02-17 17:31] pmangahis opened #7712 "Show Publication date under Issue Table of Contents"
**Describe the problem you would like to solve**
Currently, articles assigned to the TOC do not actually follow any logic. Based on some troubleshooting I've found if articles are added using the QuickSubmit plugin that it orders them with the most recent article in each section on top. However, assigning from the traditional workflow results in articles being randomly slotted in the section.

**D

[2022-02-17 17:47] ajnyga commented on #7709
@jonasraoni did you check OJS as well? Just seems a bit weird that for example the submissions received stat would be incorrect in OPS since that is mostly dealt with in the pkp-lib probably

[2022-02-17 17:50] ajnyga commented on #7709
@mfelczak of course go ahead, I will not have time to look at this in more detail before next week anyway

[2022-02-17 17:55] NateWr commented on #7709
Is it possible that there are submissions that were "declined" _before_ the author finished submitting them? The stats code excludes submissions where the `submission_progress` column is not `0` (which it should be after the author finishes submitting).

There is also some code that excludes some cases that might arise from imported submissions:

https://github.com/pkp/pkp-lib/blob/5f17a8b649677f1

[2022-02-17 17:56] alexxxmendonca commented on #7709
Not in our case.

[2022-02-17 18:45] emmauhl opened #7713 "OAI Article datestamps not always updated after modification/republish"
**Describe the bug**
The datestamp of an article record is not always updated after it has been modified and republished, but it should because the record is modified.
There are 2 cases when an article is modified and republished in OJS.

1. Only the article is unpublished > modified > republished. In this case, the `datestamp`  of the article is not updated

2. The issue is unpublished > the arti

[2022-02-17 18:58] asmecher commented on #5638
Thanks, @ajnyga, I've updated and merged the tests based on the PR above!

[2022-02-17 18:58] #5638 closed

[2022-02-17 19:53] ewhanson commented on #7682
The initial DOI management filters operate only on the 5 DOI statuses (listed below). These should be expanded to more appropriately map to the ways users will interact with the DOI management page.

**Existing filter behaviour**:

Filter | Behaviour
--- | ---
Unregistered | Items with DOIs labeled `STATUS_UNREGISTERED`
Submitted | Items with DOIs labeled `STATUS_SUBMITTED`
Registered | Items with

[2022-02-17 22:26] pmangahis commented on #4947
+1 from another PKP|PS Client

[2022-02-18 00:14] asmecher commented on #6742
No, thanks, closing it!

[2022-02-18 00:14] #6742 closed

[2022-02-18 00:15] asmecher commented on #6839
I'm content to leave this for 3.4 unless we get specific requests to back-port.

[2022-02-18 00:15] #6839 closed

[2022-02-18 00:15] asmecher commented on #7034
No, closing!

[2022-02-18 00:15] #7034 closed

[2022-02-18 00:23] asmecher commented on #4622
Thanks, @henriqueramos, I've had a quick look. A couple of pieces of feedback...
- This introduces the `Commands` directory, which has a lot of overlapping purpose with the existing `tools` directory. Introducing new patterns without larger-scale consideration of existing code leaves a lot of competing patterns and clean-up work for later; you could either
  1. stick with existing patterns for now

[2022-02-18 07:51] ajnyga commented on #7709
Has to be something in pkp-lib. This is from the current OJS main branch (I only got three submissions because the tests seem to crash locally in XAMPP sometimes)

Three submissions, two in editing and one published
<img width="298" alt="Screenshot 2022-02-18 at 9 48 01" src="https://user-images.githubusercontent.com/16347527/154640548-d3b79dcc-e555-4a7e-8443-9f878c9aeb52.png">

The statistics say

[2022-02-18 08:01] ajnyga commented on #7709
At least `applyCustomRange` seems to be giving a javascript error. Maybe the daterange is not passed on correctly.

[2022-02-18 11:23] ohilbig01 opened #7715 "Automated Review Reminder not sent when the Reviewer already got an automated Request Reminder"
**Describe the bug**

There are two types of automatic reminders:  Request Reminder and Submission Review Reminder.
I believe OJS sends the automatic reminders to reviewers only once.
If a reviewer has already received a Request Reminder, he doesn't receive the Submission Review Reminder even though it is due.
It seems the reminder types are treated the same way: If there was already a reminder, t

[2022-02-18 12:58] marcbria opened #7716 "Hide DB password in the administration "system info" page"
**Describe the bug**
Every user with rights to see the Administration pages can see the DB pwd.
As far as admins know this info (or can check it in the config.inc.php) may be is a good idea not showing this info in this pages... or at least, transform it to asterisks.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Administration'
2. Click on 'System Information' (url: https://foojour

[2022-02-18 12:58] marcbria commented on #7716
Not sure if it need to be a bug or a feature request.

[2022-02-18 15:35] asmecher commented on #7690
Until we're early in a 3.3.0-x release cycle, and until 3.1.0 gets a little stabler, I've committed the changes to `main` and not `stable-3_3_0`.

[2022-02-18 15:35] #7690 closed

[2022-02-18 16:56] asmecher commented on #7678
I have a theory: the two assignments represent reviewer assignments that were originally for two different users, but the accounts were subsequently merged. This is supported by the entries in `event_log_settings` for `event_log.message='log.review.reviewerAssigned' showing two different but similar names.

[2022-02-18 23:16] asmecher commented on #7678
Relaxed the unique index to a regular  index.

[2022-02-18 23:16] #7678 closed

[2022-02-18 23:20] asmecher commented on #6328
@jonasraoni, I've merged almost all the PRs listed at the top, but don't forget some unaddressed comments on the following (which can be addressed after merge):
- https://github.com/pkp/customLocale/pull/12
- @NateWr on https://github.com/pkp/pkp-lib/pull/7336#discussion_r805052186

I haven't merged the following:
- https://github.com/pkp/usageStats/pull/52 -- is this just a reformatting? If so, I

[2022-02-19 10:57] jonasraoni commented on #6328
Thanks!
I just updated the PR for the `usageStats` (I didn't flag anything really important in the formatting commit), just a small update remained, which isn't required, but I prefer to get it merged for the sake of standardization.

I'll check the plugins soon (customLocale + defaultTranslation) and probably this side-issue: https://github.com/pkp/pkp-lib/issues/7673.

[2022-02-19 18:10] jonasraoni commented on #7709
I just started taking a look on it =]

About the submissions received, here's the culprit on my use case:

https://github.com/pkp/pkp-lib/blob/480c1515b4d5db219ceb6f9699a3cfb5f658fda6/classes/services/queryBuilders/PKPStatsEditorialQueryBuilder.inc.php#L383

According to the comment above this line, looks like this condition is trying to ignore imported submissions.
1. Does it make sense to not co

[2022-02-19 19:13] jonasraoni commented on #7709
About the accepted count... The code is looking for accepted editorial decisions, but no decision is created when a preprint is published (only the rejected ones receive a decision). I guess it should be this way, but just to confirm, isn't it needed to have an accepted decision?

[2022-02-19 21:39] asmecher commented on #7528
Here is a contributed pull request for this issue: https://github.com/pkp/crossref-ojs/pull/11

[2022-02-21 02:48] ewhanson commented on #7682
Hey @NateWr, I've created draft PRs for this change in OJS. Could you have a look? If the above logic sounds good, I'll port it to OMP and OPS. Thanks!

PRs:
- `ojs`: pkp/ojs#3308
- `ui-library`: pkp/ui-library#180
- `pkp-lib`: #7717

[2022-02-21 09:29] jonasraoni opened #7718 "Replace generic parameters by typed options"
**Describe the problem you would like to solve**
Generic parameters, passed through arrays are complex to deal with through a maintenance perspective, one also will have to dig into the documentation/code to see what are the possibilities/requirements (e.g. one argument depends on another).

**Describe the solution you'd like**
Given the PHP requirement was bumped to 8.0, perhaps we can adopt some

[2022-02-21 10:08] ajnyga commented on #7709
Yes, we actually discussed this with Nate last week. It has just been left there when OPS was created based on OJS. There are currently not "accepted" editorial decision in OPS that the count could be based on. You can just decline a submission or post it online. I think you could remove that with the same PR?

[2022-02-21 10:13] ajnyga commented on #7709
I think it makes sense to ignore imported submissions. The reason for counting accepted/rejected is to get the percentage for approved submissions. The imported articles are all accepted so it affects the percentage in the wrong way because you never import rejected articles from those years.

BUT I think the problem with the accepted/rejected count is also that it counts all types of submissions.

[2022-02-21 10:30] NateWr commented on #7682
@ewhanson Yes, those use-cases sound right. I agree we should document this. In the near-term, I 'd suggest the [DOI Plugin Guide](https://docs.pkp.sfu.ca/doi-plugin/en/) or the [Crossref Plugin Guide](https://docs.pkp.sfu.ca/crossref-ojs-manual/en/). Maybe bring it to the #documentation group in Slack.

[2022-02-21 10:47] NateWr commented on #6328
Exciting to see this go in! Congrats @jonasraoni. :tada:

As part of the work on this, can you please review and provide some documentation on these changes? I've filed an issue on our docs repo: https://github.com/pkp/pkp-docs/issues/923

Don't worry about writing perfect English. Just get the substance of the changes, as well as some code samples, into a PR and I will do the copyediting.

[2022-02-21 10:54] NateWr commented on #7528
@ewhanson can you do the code review on this PR?

[2022-02-21 11:05] NateWr opened #7719 "Build package fails with npm 8"
**Describe the bug**
When trying to build the JavaScript package for `stable-3_3_0` on npm 8, it ends in an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to build `stable-3_3_0` with npm 8 installed.
4. See error

**What application are you using?**
`stable-3_3_0`

**Additional information**
See [forum report](https://forum.pkp.sfu.ca/t/problems-installing-from-git-stabl

[2022-02-21 11:19] NateWr commented on #7709
In the `main` branch, I am removing these stats as part of #7265. If you want to remove them for `stable-3_3_0`, please do so in a separate commit that won't be forward-ported to `main`.

You can see the original bug report at https://github.com/pkp/pkp-lib/issues/6011. This was well-tested against real data, so we do want to keep this in.

That's a good point, and a use-case that only exists in O

[2022-02-21 11:23] NateWr commented on #7711
@illipsum we prefer to receive feature requests in our [feature request forum](https://forum.pkp.sfu.ca/c/questions/feature-requests/8), where our community can get involved to discuss or support the request. Can you please post your request there?

[2022-02-21 11:23] #7711 closed

[2022-02-21 11:25] NateWr commented on #7712
@pmangahis can you please follow the new issue template? In particular, the issue needs more information that would go under the section "Describe the solution you'd like".

**Describe the problem you would like to solve**
Example: Our editors need a way to [...]

**Describe the solution you'd like**
Tell us how you would like this solution to be solved.

**Who is asking for this feature?**
Tell u

[2022-02-21 11:29] leocsilva commented on #7719
https://github.com/pkp/omp/pull/1069
https://github.com/pkp/ops/pull/237
https://github.com/pkp/ui-library/pull/181

[2022-02-21 11:29] NateWr commented on #7713
This is working as intended. Journals should _always_ create new versions when making a change to an article. Trying to hide these changes by unpublishing/republishing is a misuse of the software and bad practice.

[2022-02-21 11:33] NateWr commented on #7715
Probably, this was intended to prevent a reviewer from receiving two reminders if they don't respond to the first. For example:

1. I assign a reviewer.
2. They never respond.
3. They receive a reminder.
4. They never respond.

At this point, a further reminder may constitute harassment, especially if the reviewer has not opted into their role.

However, I agree with you that in the following case

[2022-02-21 11:36] NateWr commented on #7716
@asmecher seems like a sensible change, but do you find that the community needs this information in the admin screen to get adequate support?

[2022-02-21 12:39] jonasraoni commented on #7709
@NateWr The PR is huge, if you can save me some time, confirm if the following is the way to go:
- Remove/omit the accepted and declined statistics in `ops/3.3.0`
- Do not add a declined decision
- Leave the accepted decision

**Import:**
What about adding an `is_imported` field to the submission? And in the report, I think it would be useful to add a note stating that N submissions were imported

[2022-02-21 12:42] alexxxmendonca commented on #7709
Hey all, I'm not sure I am following the conversation (forgive me if I'm not), but we _do want_ to know the number of accepted and rejected submissions.

[2022-02-21 12:51] NateWr commented on #7709
Which PR?

No, only remove the accepted statistics. In OPS, accepted = published, so we should only see numbers for Received, Declined, and Published.

Maybe I'm misunderstanding something, but you shouldn't need to touch the decisions at all. The one-line change to the conditional expression you mentioned should be enough to include preprints published on the same day as they are submitted.

Yes,

[2022-02-21 12:52] NateWr commented on #7709
Sorry @jonasraoni, I realize you meant the PR for #7265. I didn't mean for you to crawl through that. Just reducing the stats to Received, Declined and Published in `stable-3_3_0` should do the trick.

[2022-02-21 12:52] alexxxmendonca commented on #7709
Thanks @NateWr for the clarification!

[2022-02-21 12:54] NateWr commented on #7709
Can we talk about this as part of #7446? If we add something like this, I don't want to do it as part of this little issue. I'd prefer to think through how something like this might be used (or not) throughout the entire system. We might, for example, need to make distinctions between imports for different purposes (back catalogue vs. current but doesn't use the workflow).

[2022-02-21 17:51] asmecher commented on #7716
No, I haven't seen problems e.g. in the forum that have led to users tracking down database passwords here. I've always sent them to the configuration file (which is usually painless).

[2022-02-21 17:56] Vitaliy-1 commented on #7592
I've updated those and additionally removed `REVIEW_REQUEST_ATTACHED` and `REVIEW_REQUEST_ATTACHED_SUBSEQUENT` templates, I don't think they are still in use.

[2022-02-21 18:08] asifdev124 commented on #5565
Is there any solution to create html galley on the fly?
like
https://forum.pkp.sfu.ca/uploads/default/original/3X/f/7/f77095a925c62d4ad1bfaad5d02c994648bd3268.png

[2022-02-21 18:34] asmecher commented on #5565
@asifdev124, your last comment appears to be cross-posted on the support forum (https://forum.pkp.sfu.ca/t/ojs-3-2-1-html-galleys-for-article-previews/62443/9) -- that's the best place to discuss this.

[2022-02-21 18:45] Vitaliy-1 commented on #7715
On the top of my head, additionally compare the `date_confirmed` and  `date_reminded`: https://github.com/pkp/pkp-lib/blob/480c1515b4d5db219ceb6f9699a3cfb5f658fda6/classes/task/ReviewReminder.inc.php#L144 and if `date_confirmed` is after the `date_reminder`, send another one. But I really didn't dive into the logic of those reminders, only the part with sending emails.

[2022-02-22 09:10] henriqueramos commented on #4622
@asmecher Currently the `tools` folder isn't properly loaded by Composer, so we don't have a Fully Qualified Namespace for those commands.

With this migration to the `Commands` folder, I can call them using the `APP\Commands` or `PKP\Commands` fully qualified namespaces.

Also, I've implemented a new Service Provider to be extended, giving us more flexibility to handle new Scheduled Tasks.

[2022-02-22 09:12] henriqueramos opened #7720 "Consider implementing Laravel Logging Service"
Currently, to send data to the syslog, we only have the built-in method `error_log`.

We should consider implement the [Laravel Logging Service](https://laravel.com/docs/8.x/logging).

This will help us to create log channels and use different levels for logs.

[2022-02-22 09:54] jonasraoni commented on #6328
I've filed an issue against the `php-gettex/translator` to fix a small issue (empty translations aren't kept), which was already merged, and also a security issue through email.

[2022-02-22 09:55] henriqueramos commented on #7720
@asmecher Could you please take a look on this PRs? If it's okay, I will create the ones for OMP/OPS.

[OJS](https://github.com/pkp/ojs/pull/3309)
https://github.com/pkp/pkp-lib/pull/7721

[2022-02-22 10:46] NateWr commented on #4622
I'll defer to @asmecher on this. But in my opinion it's too late in 3.4's dev cycle to be introducing new architectural patterns. At the very least, a new architectural pattern should be accompanied by a clear strategy to refactor a whole module or subsystem. Even if we can't refactor the whole thing in one version, adopting a new architectural pattern needs to be more than a one-off.

If these pa

[2022-02-22 10:47] jonasraoni commented on #7720
Just tagging a related issue with some supporting discussion, that depends on this: https://github.com/pkp/pkp-lib/issues/7568

[2022-02-22 10:51] NateWr commented on #7720
@henriqueramos can you please provide some more information about the different logging channels configured in your PR, how devs would use these logs, what they look like when we read them, etc? It's impossible to evaluate the benefits of this without some concrete examples.

[2022-02-22 10:56] NateWr commented on #7719
@leocsilva can you double-check your OJS pull request? The tests are [failing on the build step](https://app.travis-ci.com/github/pkp/ojs/jobs/560551726#L1266) so something seems to be off. I restarted the tests once to see if it was a one-off, but they failed again. The OMP, OPS and UI Library tests are all passing, so I'm not sure what would be the issue.

[2022-02-22 10:59] mooselybased commented on #4056
Hey all,

a lot of the discussion surrounding DOIs and implementing their use in OJS directly instead of using the plugin goes over my head, but I was hoping someone here could help me with a question.

The (already closed) issue [#7014 ](https://github.com/pkp/pkp-lib/issues/7014) suggests something completely different for the default pattern, but, more worryingly, seems to exclude using a custo

[2022-02-22 11:48] NateWr commented on #4056
Hi @mooselybased, we don't plan to forbid custom patterns. We are just planning to design the setup/configuration UI to discourage them as much as possible.

@ewhanson has come up with an elegant way to support custom DOI patterns while still automating DOI creation as much as possible. Basically, when configured, the system will try to create the DOI as early as it can. If it can't create it at o

[2022-02-22 11:52] NateWr opened #7722 "Update php-cs-fixer to v3"
**Describe the problem you would like to solve**
When running php-cs-fixer, the following notice is shown:

v2 may not support some of the newer language features that we are adopting for PHP 8/8.1.

**Describe the solution you'd like**
Upgrade the php-cs-fixer to v3 while minimizing disruptive changes to the codebase in case of minor syntax changes.

[2022-02-22 11:55] jonasraoni commented on #7722
There's an issue here: https://github.com/pkp/pkp-lib/issues/7313 =]

[2022-02-22 11:58] NateWr commented on #7722
lol, I even worked on it and forgot! https://github.com/pkp/pkp-lib/issues/7313

[2022-02-22 11:58] #7722 closed

[2022-02-22 11:59] JohnKlark commented on #3100
Hi,I uploaded the plugin created by @jedi-tor:

https://github.com/firatakin/checkSubmissionFiles[https://github.com/firatakin/checkSubmissionFiles](https://github.com/firatakin/checkSubmissionFiles) #
but it keeps giving me the error below
![img01](https://user-images.githubusercontent.com/100204705/155127983-132b8476-8ffb-4bab-b016-96dd8cc576de.jpg)

Should I update any information within the PH

[2022-02-22 12:01] NateWr commented on #3100
@JohnKlark please report the issue on that repo. PKP does not maintain this plugin. You can report issues for that repo here:

https://github.com/jedi-tor/checkSubmissionFiles/issues

[2022-02-22 12:02] JohnKlark opened #7723 "Check Submissions Files ojs3"
Hi,I uploaded the plugin created by @jedi-tor:

https://github.com/firatakin/checkSubmissionFiles

but it keeps giving me the error below
![img01](https://user-images.githubusercontent.com/100204705/155127983-132b8476-8ffb-4bab-b016-96dd8cc576de.jpg)

Should I update any information within the PHP file?
We require authors to upload two files as mandatory for the submission.

*We are using OJS 3.3.

[2022-02-22 12:21] henriqueramos commented on #7720
Of course @NateWr! On the [link I added at the description](https://laravel.com/docs/8.x/logging), there's a description about the channels, how they work and so on. But for historical purposes, I will add it here.

# About Logging

Logging is based on "channels". Each channel represents a specific way of writing log information.

For example, the `single` channel writes log files to a single log

[2022-02-22 12:27] NateWr commented on #7720
Thanks @henriqueramos! In addition to the Laravel docs, the key questions I want to be answered for our project are:

1. What are the problems we want to solve with this?
2. How will this solve the problems?
3. What channels should we use and in what cases?
4. Are there additional channels we should consider beyond the default ones? (ie - do we want a separate channel for emails, one for scheduled

[2022-02-22 13:03] jonasraoni commented on #7446
At the [#7709](https://github.com/pkp/pkp-lib/issues/7709), we've got an issue related to the https://github.com/pkp/pkp-lib/issues/6011.
The [current code](https://github.com/pkp/pkp-lib/blob/480c1515b4d5db219ceb6f9699a3cfb5f658fda6/classes/services/queryBuilders/PKPStatsEditorialQueryBuilder.inc.php#L383) is using the following check to consider if the submission is imported `submission.date_sub

[2022-02-22 14:30] JohnKlark commented on #3100
Thank you NateWr. As you were following the previous post, could you please check if something need to be added to the php file, should I change the **genreIDs**, or the  **$reqFiles = ['1','2','3']**; for example!

[2022-02-22 15:08] asmecher commented on #7723
https://github.com/pkp/pkp-lib/issues/3100#issuecomment-1047725450

[2022-02-22 15:08] #7723 closed

[2022-02-22 15:37] NateWr opened #7724 "Can't cancel DOI assignment"
**Describe the bug**
In the new DOI management panel, when I use the Bulk Actions to Assign DOIs, it opens a small dialogue modal to confirm. If I try to click cancel in this modal, nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable DOIs in Settings > Distribution > DOIs for issues and submissions.
2. Have at least one published issue without a DOI assigned.
3. Go to DOI

[2022-02-22 18:07] henriqueramos commented on #7720
@NateWr

1. The main goal of implementing this is to have a better logging granularity.
2. We will have the ability to [choose which channel will be used](https://laravel.com/docs/7.x/logging#writing-to-specific-channels) (on the fly) and[ which level of logging will be used](https://laravel.com/docs/7.x/logging#writing-log-messages).
3. `stack` channel should be used as default, others will depen

[2022-02-22 19:13] pigeonm commented on #7713
Hi Nate,

Thanks for your answer.

We raised the problem because we need the datestamp to change when corrections are made to an article.

Since OJS allows to do it and there is no warning that tells the user not to do it, I don't see why a user should avoid doing this (especially since there is only the notion of “articles” in the OAI). Under these circumstances, unpublish > correct > republish a

[2022-02-22 20:22] leocsilva commented on #7719
@NateWr, I can't believe my pull request could have caused this error. Could you run the test again without the changes from my pull request?

[2022-02-22 21:11] asmecher commented on #7720
@henriqueramos, this is not a bad idea, but I'd like to put it on ice for the moment; it's not a high priority and we have plenty of other things that come first.

[2022-02-22 21:18] asmecher commented on #4622
@henriqueramos, I agree with @NateWr. Every new pattern needs to be learned and that represents a cognitive load for the dev team; when a new pattern coexists alongside an older pattern, developers need to understand both patterns, the way they relate to each other, and what the plans are to replace the older one. There are a lot of cases like this in the codebase and we need to be very careful ab

[2022-02-22 21:43] henriqueramos commented on #4622
@asmecher Having a `SchedulerServiceProvider` will allow us to inject scheduled tasks using a [Fluent Interface](https://laravel.com/docs/9.x/scheduling#defining-schedules).

This is the [implementation on pkp-lib](https://github.com/pkp/pkp-lib/pull/7710/files#diff-7aa56d35b86705b943efcf00f13f20b61afea04267d7748ab2fc03c26c31c1beR22) and this is the [implementation on OJS](https://github.com/pkp/o

[2022-02-22 23:26] ewhanson commented on #7682
Hi @NateWr, I've ported the changes to OMP and OPS, and the changes are ready for review. Could you have a look? Thanks.

PRs:
- `pkp-lib`: #7717
- `ui-library`: pkp/ui-library#180
- `ojs`: pkp/ojs#3308
- `omp`: pkp/omp#1070
- `ops`: pkp/ops#238

[2022-02-22 23:29] ewhanson commented on #7724
@NateWr, I wasn't able to reproduce it on OJS, OMP, or OPS, so checking in after #7265 sounds good.

[2022-02-23 09:50] NateWr commented on #7713
It would be possible to write a plugin to disable the unpublish API endpoint. But I wouldn't advise doing this. A publication might need to be unpublished due to human error when publishing it or when an article is retracted/removed due to harm caused.

I would have loved to have made unpublishing harder/impossible, in order to enforce a more honest editorial record, but when I proposed this there

[2022-02-23 09:58] NateWr commented on #7719
I was surprised too. That's why I re-ran the tests to be sure it wasn't a hiccup. You can see other recent builds passing our test suite here (look for tests against `stable-3_3_0`): https://app.travis-ci.com/github/pkp/ojs/builds

It's unclear to me why this would effect OJS but not the other PRs. I can only spot two possible problems: a [peer dependency issue](https://app.travis-ci.com/github/pk

[2022-02-23 10:02] NateWr commented on #7720
This is my concern. It seems like we're adding a new pattern, but not really gaining much. What I'm hoping to see is a proposal for a _coding convention_ that identifies what type of events should lead to what type of logs. If it's all going to one log, it doesn't seem to add much beyond the apache `error.log`.

[2022-02-23 10:33] NateWr commented on #7719
Looks like the tests failed again. Are you able to run `vue-cli-service lint js/load.js lib/pkp/js/load.js lib/pkp/js/classes/VueRegistry.js` locally?

There is some further information in our linting test: https://app.travis-ci.com/github/pkp/ojs/jobs/560551725#L1469-L1488

[2022-02-23 10:44] NateWr opened #7725 "Sync the values of editorial decision constants across all applications"
**Describe the problem you would like to solve**
Editorial decision types are tracked by constants like `Decision::ACCEPT`. However, many of the same constants have different values in OJS and OMP. Examples:

| Constant | OJS Value | OMP Value |
| --- | --- | --- |
| Decision::ACCEPT | `1` | `2` |
| Decision::PENDING_REVISIONS | `2` | `4` |

As a result, these constants must be defined separately

[2022-02-23 12:38] henriqueramos commented on #7720
I think there's a misconception about Logging here (and what this implementation does). The location where logs will reside doesn't matter, after all. You could send to one file inside your application (like `storage/logs/laravel.log`), to a 3rd party logging tool Saas like [papertrail](https://www.papertrail.com/), to a [Logstash instance](https://www.elastic.co/logstash/) or even to apache `erro

[2022-02-23 14:23] pigeonm commented on #7713
So, why not simply update the datestamp?

[2022-02-23 14:55] NateWr commented on #7682
Looks good! I left a few comments. In addition, could you write a test for these filters? Basically, test that when clicking each filter you see the submissions you expect to. (You probably won't be able to test Error or Stale very easily. Those can wait.)

[2022-02-23 15:07] NateWr commented on #7713
Apologies, I may have made a bad assumption here. I'm not that familiar with OAI. I assumed we were talking about an article's publication date.

@asmecher is the "datestamp" in an OAI record different from publication dates? After a quick look, I tracked it down to the `last_modified` column, but this should be getting updated when a publication is re-published:

https://github.com/pkp/ojs/blob/m

[2022-02-23 15:16] pigeonm commented on #7713
No problem! Emma's initial post describes the problem well, but if you need I can try to provide more information / context.
Thanks again!

[2022-02-23 15:56] henriqueramos commented on #7720
Understood @asmecher. Besides the Scheduling Task on #4622, we have the Laravel Routing system on #7698 to be done. But I'd like to highlight there's this log stuff comes alive during the rewrite of Scheduling Task on #4622 as a side effect.

I just splitted the tasks to do a better tracking of it.