[2018-07-09 05:39] martinpub commented on #3705
@NateWr This is still a bug, right?

We are suffering from this too, after having recently upgraded from 3.1.0-1 to 3.1.1-2.

I thought that publication date, in the case of retrodigitised material, was meant to reflect the publication of the digitised version in OJS. On our multijournal server, we have a lot of issues published relying on the custom order, due to their publication date not reflec

[2018-07-09 10:08] NateWr commented on #3705
I think @bozana will have a better grasp of these issues than me. Any idea about how publication date should be used in OJS/OMP?

[2018-07-09 10:27] mczirfusz opened #3887 "multilingual fields visibility - bug"
In the Metadata editing window if there are too many locales (=long text boxes), if editing one field, the next field is overlapping the previous one.
![image](https://user-images.githubusercontent.com/16511307/42445207-b4f2bb3a-8372-11e8-9a13-f9f8318122a7.png)
In this case the Russian abstract's text box should be over the languages text boxes, and not underneath.
OJS 3.1.1.2

[2018-07-09 13:17] NateWr commented on #3810
:+1: This looks good, merge whenever you're ready.

[2018-07-09 13:31] NateWr commented on #3791
That's a good idea @asmecher and it _can_ be done accessibly (though it often isn't). As part of the form work, I've got a nice tooltip library in place. So that will be an easy approach to take when we get to migrating the file grids over to Vue.js components.

@pkel I've left a couple comments on your PR but it looks good. When checking this out, I noticed that the file history (under More Infor

[2018-07-09 14:03] NateWr commented on #3578
Nice work @crism! I've looked at the Request PRs and they look good. Can you just rebase to fix the merge conflicts and I'll merge?

[2018-07-09 14:31] NateWr commented on #3851
:+1: merge whenever you want.

[2018-07-09 14:42] defstat commented on #3846
@NateWr

After the code review fixes, I also made PRs for OJS and OMP for the tests to run

PRs
[pkp-lib] #3849
[OJS] pkp/ojs#2045
[OMP] pkp/omp#567

[2018-07-09 15:05] crism commented on #3578
@NateWr, the `getRequest` trio should be good to go.

[2018-07-09 16:21] NateWr commented on #3846
:heavy_check_mark: Tests passed. Thanks @defstat!

[2018-07-09 16:21] #3846 closed

[2018-07-09 20:03] asmecher opened #3889 "Remove PHPUTF8 library"
It's outdated and there are alternatives. Its use in general needs review.

[2018-07-09 20:39] asmecher commented on #3889
PR: https://github.com/pkp/pkp-lib/pull/3890
(No changes required to the applications)

This includes removing some long-standing core functions but I don't think they were being used (or at least, not effectively) and can't see much of a downside.

[2018-07-09 20:41] asmecher commented on #3889
@bozana, would you mind reviewing the attached PR once the tests run?
(Tests: https://travis-ci.org/asmecher/omp/builds/401943893 and https://travis-ci.org/asmecher/ojs/builds/401943538)

[2018-07-09 21:54] israelcefrin opened #3891 "Upgrading Prepared Emails Names from OJS2"
An upgrade from OJS2 to OJS3 wasn' t allowing to load Prepared Emails list due names were upgraded with special characters like: &, ? or white space.

I think  we could run a search-replace on email_templates.email_key (table.column) to replace these special characters by underlines "_" .

[2018-07-09 22:03] asmecher commented on #3891
I think @jmacgreg ran into this a while ago... any recollection, James?

[2018-07-09 22:04] asmecher commented on #3791
I think the upload date should definitely be in the history -- if not, please file it!

[2018-07-09 22:06] asmecher opened #3892 "Check downloadability of submission files from the submission history"
The original submission files (and possibly others) appear not to be downloadable from the editorial history area. At a glance, the files grid in the submission area (which does work) has a `stage_id` parameter, and the download link in the history listing (which does not) does not include it.

[2018-07-09 23:10] t4x0n commented on #3016
Hi, I have some questions about this issue... I have the OJS 3.1.1.0 and I found some files in the proof folder but the manuscript is only in the review stage, I think there are supplementary material because of the content of them (appendix and big table), but these files are not accessible from the OJS, I can access only in cPanel, my installation is not upgraded from OJS 2.x, this issue is reso

[2018-07-09 23:20] asmecher commented on #2353
MySQL updates seem to be working (with a quick test).
Unfortunately https://github.com/ADOdb/ADOdb/issues/383 seems to be a blocker for PostgreSQL.

[2018-07-10 09:39] ajnyga opened #3893 "[OJS] Running crossref scheduled task with Acron gives headers already sent error"
Hi @bozana

It seems that running Crossref scheduled task gives an error on this line: https://github.com/pkp/pkp-lib/blob/master/classes/plugins/ImportExportPlugin.inc.php#L149

[2018-07-10 10:09] NateWr commented on #3791
@asmecher after a bit of testing, it looks like the upload date appears in the history of the file that is uploaded. But no entries exist when a file has been forwarded to another stage (eg - submission to review). Should there be a history entry for when it was forwarded on?

[2018-07-10 11:10] bozana commented on #3016
Hi @t4x0n, yes unfortunately I wrongly moved all supp files to the proof stage. This issue is solved in 3.1.1-2 but the affected 3.x installations will/cannot be repaired automatically :-( I hope you can fix those manually? -- That would be best and most secure way to solve it. Else, if you think that there are too many cases, let me know -- eventually you could try to run a script to move those s

[2018-07-10 14:05] NateWr opened #3894 "Ensure overdue status of review assignments is calculated the same in all places"
When calculating the status we use `time()`: https://github.com/pkp/pkp-lib/blob/ojs-3_1_1-2/classes/submission/reviewAssignment/ReviewAssignment.inc.php#L481-L495

When searching in the db to filter results in the API, we check if it is overdue tomorrow: https://github.com/pkp/pkp-lib/blob/ojs-3_1_1-2/classes/services/queryBuilders/PKPSubmissionListQueryBuilder.inc.php#L238-L262

[2018-07-10 14:34] t4x0n commented on #3016
thanks, I think this is a not big deal, maybe just a few submissions have problems.

[2018-07-10 15:30] crism commented on #3578
Trio of `GridCellProvider` harmonizations:
 * #3895
 * pkp/ojs#2048
 * pkp/omp#569

[2018-07-10 16:09] NateWr commented on #3892
Phew, this was harder than it looked! It was indeed the missing `stage_id`. I also had to add in an additional check for authors assigned as subeditors.

PR:
https://github.com/pkp/pkp-lib/pull/3896

Tests:
https://github.com/pkp/ojs/pull/2049

[2018-07-10 19:04] crism commented on #3578
Trio of `GridDataProvider` harmonizations:
 * #3897
 * pkp/ojs#2050
 * pkp/omp#570

[2018-07-11 07:36] bozana commented on #3705
Just a note, that the issue re-ordering is possible in the backend (once this was an issue too, s. https://github.com/pkp/pkp-lib/issues/2343), the order just have to be considered in the frontend/display too... This seems to be a new bug....

[2018-07-11 08:40] NateWr commented on #3830
Closing as you seem to have got this part going.

[2018-07-11 08:40] #3830 closed

[2018-07-11 16:49] bozana commented on #3705
PRs:
ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/2052
master:

[2018-07-11 16:50] bozana commented on #3705
@NateWr, could you take a look at the PR above? And specially on this change, that is not connected to this issue, but seemed right to me: https://github.com/pkp/ojs/pull/2052/files#diff-d5a2276ad0194fc24f74f72bc761477aR158

[2018-07-11 17:09] bozana opened #3898 "Consider completed review event in the editorial history"
s. https://forum.pkp.sfu.ca/t/no-new-emails-are-received-when-a-new-review-is-received/46276/6

[2018-07-11 18:50] #3810 closed

[2018-07-11 19:05] bozana commented on #3878
@asmecher, what do you think with HTML? -- we do not have the differentiation for html galleys -- they all use article_galley element.
Then, usually, first the parent/HTML file is exported/listed (because it is usually first in the DB) and then the dependent files, thus I was thinking to add the new XML element to the dependent files, because we will need the DB file_id of the parent/HTML file.
OK

[2018-07-11 19:44] asmecher opened #3899 "Prevent deletion of active genres/components"
See https://forum.pkp.sfu.ca/t/missing-galley-links-in-some-issues/46332 for details.

Submission components (`genres` in the code) can be created and deleted, but once a submission file has been uploaded referring to it (`submission_files.genre_id` in the database), deleting a genre will cause trouble.

The manager should be prevented from deleting genres once they have files submitted to them.

[2018-07-12 00:09] #3851 closed

[2018-07-12 06:41] #3868 closed

[2018-07-12 07:19] ajnyga commented on #3666
Section editors can not see "comments for the editor" anymore, see https://forum.pkp.sfu.ca/t/ojs-3-1-1-2-comment-for-the-editor-not-showing/46426/6

This is a problem for journals that mainly use section editors instead of actual editors. Especially if submissions are assigned automatically.

[2018-07-12 07:23] bozana commented on #3666
@NateWr, would then be the solution to treat Pre-Review Discussions differently/extra?

[2018-07-12 07:33] bozana commented on #3666
Yes, this would then be needed every time an editor is assigned/unassigned?

[2018-07-12 07:37] ajnyga commented on #3666
Yeah I think so? Of course if there would be a way of adding a "type" to some discussions then you could target those instead of all discussions in a particular stage.

I mean something like

DISCUSSION_TYPE_PRIVATE
DISCUSSION_TYPE_PUBLIC (not a good name, but basically a type of discussion that becomes visible for all stage participants automatically)

At the moment only the "comments of the edit

[2018-07-12 08:53] bozana commented on #3893
PRs:
pkp-lib ojs-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3904
ojs ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/2055

[2018-07-12 08:54] bozana commented on #3893
@ajnyga, somehow I couldn't reproduce it, but I now separated the display of the error messages when executed via CLI. Is there a possibility for you to test if that solves the problem? THANKS!

[2018-07-12 08:58] ajnyga commented on #3893
I use acron, did you use regular cron (if that would make a difference?)

We are still in 3.1.0, but once I upgrade to 3.1.1 later this month, I will add this change and see if errors still occur. It's just a warning, so not a big problem anyway.

[2018-07-12 09:09] bozana commented on #3893
Ah, yes, I thought you use a normal cron job... OK, I'll test it with acron...

[2018-07-12 09:57] NateWr commented on #3666
I'd like to see this as part of the assigning workflow. I think it makes sense to generalise this feature. When assigning a participant, the user should see a list of discussions with checkboxes to select which ones the new participant should be assigned to.

Anyone want to file that?

[2018-07-12 10:08] ajnyga commented on #3666
How about the automatic assignments. I mean situations where a section editor is responsible for a particular section and receives those submissions based on the section's settings?

[2018-07-12 10:46] NateWr commented on #3666
Wherever we're assigning users to the comments-to-the-editor discussion, we should make sure automatically assigned section editors are included.

[2018-07-12 10:51] NateWr commented on #3705
@bozana the code looks good. :+1: You can merge when you'd like.

I'm still not sold on the feature. What do you think about the problems raised above about inaccurate publication dates? Does this cause problems with third-party archival bodies?

[2018-07-12 10:52] mtub commented on #2325
Any update on this? I like @ajnyga's ideas to have a better link with metadata sources such as national libraries, but I also think it is important to port the existing plugin to OJS3 and to have some way of migrating data (i.e. the existing book/object metadata).

[2018-07-12 11:01] #3864 closed

[2018-07-12 11:14] ajnyga commented on #3666
Yes but the scenario I am thinking is that:
- you have section A with a responsible section editor B
- someone submits to section A and the submission is automatically assigned to the section editor B
- section editor B opens the submission, but does not see the comments to the editor, because she is not participant in the discussion

In these cases the actual editor who can see the comments may n

[2018-07-12 11:34] NateWr commented on #3666
Section editor B should be assigned to this discussion when the discussion is created.

[2018-07-12 11:43] ajnyga commented on #3666
But the discussion is created before the automatic assignment happens. It is created during the submission process in the step 1.

[2018-07-12 11:51] NateWr commented on #603
Closing as obsolete.

[2018-07-12 11:51] #603 closed

[2018-07-12 11:52] NateWr commented on #605
Closing as obsolete.

[2018-07-12 11:52] #605 closed

[2018-07-12 11:53] NateWr commented on #1488
Closing as obsolete.

[2018-07-12 11:53] #1488 closed

[2018-07-12 11:54] NateWr commented on #2815
Closing as obsolete.

[2018-07-12 11:54] #2815 closed

[2018-07-12 12:02] NateWr commented on #3887
This is a known limitation of the way we handle multilingual fields. We'll be addressing this alongside other improvements as we transition forms over to Vue.js: https://github.com/pkp/pkp-lib/issues/3594

I'm going to close this since we'll be fixing it alongside more significant refactoring.

[2018-07-12 12:02] #3887 closed

[2018-07-12 12:10] NateWr commented on #3853
The search doesn't actually match against keywords. If the keyword isn't also used in the title or abstract, no results will be found.

However, I think what you want is browsing by subject/keyword, which is filed here: https://github.com/pkp/pkp-lib/issues/2714

I'll close this as a duplicate but feel to reopen if I've missed something.

[2018-07-12 12:10] #3853 closed

[2018-07-12 12:19] bozana commented on #3705
Thanks @NateWr !

Regarding different publication dates: I think the solution will come with this issue https://github.com/pkp/pkp-lib/issues/1369 -- when the user can enter different publication dates for print and online...

[2018-07-12 15:49] #3876 closed

[2018-07-12 16:35] asmecher commented on #2325
This is something @sfbetz has been thinking about redesigning, but I suspect summer chaos reigns!

[2018-07-12 18:16] crism commented on #3578
Trio of `GridHandler` harmonization PRs:
 * #3907
 * pkp/ojs#2057
 * pkp/omp#576

[2018-07-12 18:49] t4x0n commented on #3666
I think @ajnyga approach is a few more simple for Editors because do not affect the current process, they not need to think what they need to do, keeping the process like they know now

[2018-07-12 19:59] crism commented on #3578
Trio of `GridRow` harmonizations:
 * #3908
 * pkp/ojs#2058
 * pkp/omp#577

[2018-07-12 20:08] asmecher commented on #3878
Hi @bozana -- sure, I think there is code to track/map arbitrary IDs so that an XML file can refer to files with internal consistency and then the import process will re-map them to new IDs.

[2018-07-12 20:54] asmecher commented on #3892
Looks good, @NateWr -- please go ahead (and also port over to `ojs-stable-3_1_1` and `omp-stable-3_1_1`).

[2018-07-12 21:29] willinsky opened #3909 "About this publishing system -- tiny wording fix"
On [About this Publishing System](https://journals.lib.sfu.ca/index.php/dvv/about/aboutThisPublishingSystem) change "a free-source journal management..." to "an open source (free) software journal management..."

[2018-07-12 21:31] mtub commented on #2325
While I was hoping for an OJS 3 port to be available sooner, this might also be something for the next sprint…

[2018-07-12 22:59] asmecher commented on #3909
@willinsky, are you sure that's not an automatic (Google) translation from French courtesy of your browser?

[2018-07-12 23:13] asmecher commented on #3578
Here are all the changes currently in progress:

- [x] [`getRequest()` and `getApplication()` harmonization](https://github.com/pkp/pkp-lib/issues/3578#issuecomment-403865482)
- [ ] [`FileManager` harmonization](https://github.com/pkp/pkp-lib/issues/3578#issuecomment-403179600)
- [ ] [`Form::fetch` harmonization](https://github.com/pkp/pkp-lib/issues/3578#issuecomment-403179638)
- [ ] [`Form::init

[2018-07-12 23:22] asmecher commented on #3578
@crism, I've reviewed all of the open PRs and there's something needed on each of them, mostly test failures. I summarized them all in https://github.com/pkp/pkp-lib/issues/3578#issuecomment-404679076 for easy access (they're getting buried in history) -- I'll try to keep that up to date.

[2018-07-13 00:12] asmecher commented on #3791
Yes, that's probably a good opportunity for a new log entry.

[2018-07-13 00:17] #3834 closed

[2018-07-13 00:17] asmecher commented on #3834
Merged -- thanks, @NateWr!

[2018-07-13 08:21] NateWr opened #3910 "Section editors can not access comments to editor discussion"
When comments to the editor are submitted, a discussion is created. If section editors are automatically assigned to the submission, they are not assigned to the discussion. Likewise, if a new editor is manually assigned to the submission, they are not assigned to the discussion.

It would be useful if an editor could grant access to discussions when assigning any participant. When assigning a par

[2018-07-13 08:21] NateWr commented on #3666
Then we can update the discussion participants when the submission is completed.

It'd be good to capture any further discussion in its own issue, so I've opened one here: https://github.com/pkp/pkp-lib/issues/3910

[2018-07-13 08:40] NateWr opened #3911 "Add event in file history when file is forwarded to a new stage"
Files that are forwarded from one stage to the other do not have any log of when the file was forwarded. This should be recorded in a file history event.

[2018-07-13 08:40] NateWr commented on #3791
Filed: https://github.com/pkp/pkp-lib/issues/3911

[2018-07-13 15:36] asmecher commented on #3775
@bozana, yes, those look like OK ways to proceed. If you think it's worth enriching the `Application` object with some more tools to help, go ahead -- but I don't see those yet. We'll probably improve these aspects iteratively if we find more plugins working this way. Please go ahead!

[2018-07-13 15:36] asmecher commented on #3889
@bozana, I finally fixed the tests on this -- could you have a look?

[2018-07-13 15:58] crism commented on #3578
I’ve rebased [the `FileManager` changes](https://github.com/pkp/pkp-lib/issues/3578#issuecomment-403179600). The tests are failing in `ojs` and `omp` on a plugin Composer call; I’m not sure why.

[2018-07-13 16:21] willinsky commented on #3909
@asmecher, I'm so embarrassed, and apologetic for taking up your time.

[2018-07-13 16:21] #3909 closed

[2018-07-13 17:50] asmecher commented on #3909
Not a problem, @willinsky!

[2018-07-14 17:27] om-arino opened #3914 "NATIVE XML ekport/import plugin fails importing/exporting content with new serbian locale @latin"
When i import/export content with rs_SR@latin locale plugin fails, complaining that @latin does not match allowed content. Other content works ok,

Regards, Om

``

( ! )  Fatal error: Uncaught TypeError: Argument 1 passed to  DOMDocument::importNode() must be an instance of DOMNode, null given in  /var/www/servers/srl/ojs/lib/pkp/plugins/importexport/native/filter/SubmissionNativeXmlFilter.inc.ph

[2018-07-14 19:56] asmecher commented on #3914
@om-arino, try patching https://github.com/pkp/pkp-lib/issues/3873 -- I suspect it's the same issue.

[2018-07-14 22:15] willinsky opened #3915 "Unable to enter ORCID url"
Pasting in ORCID url for ORCID field on author registration page cuts off last figure if https is used, which is what ORCID now provides. Removing s and adding final digit still provide "invalid" message. In "Edit Contributor" (off Submission page), it works fine if you cut off the s and add the final digit.

![screen shot 2018-07-14 at 3 10 43 pm](https://user-images.githubusercontent.com/1034210

[2018-07-14 22:29] asmecher commented on #3915
@willinsky, what version of OJS? This has been fixed since 3.1.1-0: https://forum.pkp.sfu.ca/t/orcid-field-in-ojs3-does-not-accept-https/32645/5?u=asmecher

[2018-07-14 22:37] willinsky commented on #3915
Yes, it is 3.1.0.0. I will take this into consideration with any future so-called "bugs" I encounter. Your patience is appreciated.

[2018-07-14 22:37] #3915 closed

[2018-07-15 21:10] #3705 closed

[2018-07-16 10:20] NateWr commented on #3892
Merged and ported. :+1:

[2018-07-16 10:20] #3892 closed

[2018-07-16 11:02] bozana commented on #3775
PRs:
https://github.com/pkp/pkp-lib/pull/3921
https://github.com/pkp/ojs/pull/2061

New usageStats repository/submodule: https://github.com/pkp/usageStats

[2018-07-16 13:24] #3775 closed

[2018-07-16 13:38] Vitaliy-1 opened #3922 "purchaseInstitutionalSubscription template: change page container element class"
https://github.com/pkp/ojs/blob/master/templates/frontend/pages/purchaseInstitutionalSubscription.tpl#L13

Currently, the `div` element for page container for purchase institutional subscription page has class `pkp_page_purchaseIndividualSubscription` that not discriminates it from the page with the same name (Default theme, OJS 3.1.1-2).

[2018-07-16 14:55] bozana commented on #3878
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3923
ojs master: https://github.com/pkp/ojs/pull/2062 (only submodule update)

[2018-07-16 14:56] bozana commented on #3878
@asmecher, could you review the PR above? If OK, I can cherry-pick to stable branches...

[2018-07-16 16:27] #3914 closed, assigned to nobody

[2018-07-16 18:33] asmecher commented on #3922
Thanks for the heads-up, @Vitaliy-1!

[2018-07-16 18:33] #3922 closed

[2018-07-16 19:33] ViRuSTriNiTy opened #3926 "[OJS] Review form elements grid, Order feature does not work"
Hi there,

the review forms elements grid has a minor bug.

The user can click **Order** and can move the elements around.
But when clicking **Done**, nothing is updated in DB as `GridHandler::getDataElementSequence()` is not implemented / overridden.

As a results the items are displayed in the same order as before.

Should I provide a PR?

So lonG

[2018-07-16 20:18] asmecher commented on #3926
@ViRuSTriNiTy, thanks for the heads-up -- please do!

[2018-07-16 20:47] ViRuSTriNiTy commented on #3926
PR added

[2018-07-17 00:22] crism opened #3928 "[OMP] fatal error in Template::initialize()"
[code]
Upon fixing that, found:
[code]

[2018-07-17 00:51] crism commented on #3928
Submodule confusion. Withdrawing.

[2018-07-17 00:51] #3928 closed

[2018-07-17 07:17] Vitaliy-1 opened #3929 "purchaseInstitutionalSubscription template doesn't contain footer"
The default template on the purchase institutional subscription page is missing an import of footer template. I suspect it should be there under last closed `div` tag (OJS 3.1.1-2): https://github.com/pkp/ojs/blob/master/templates/frontend/pages/purchaseInstitutionalSubscription.tpl#L106

[2018-07-17 08:42] #3878 closed

[2018-07-17 08:58] bozana opened #3930 "do not change the sequence of published articles when editing the "Schedule For Publication" form"
s. https://forum.pkp.sfu.ca/t/automatically-changes-the-order-of-issues/46175/4

[2018-07-17 09:16] bozana commented on #3930
PRs:
master: https://github.com/pkp/ojs/pull/2065
ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/2066

[2018-07-17 10:02] Vitaliy-1 opened #3932 "userSubscriptions template: incorrect if statement on an assigned variable"
In the Default theme (OJS 3.1.1-2), in a template for user subscription page, `$userInstitutionalSubscriptions` variable is an instance of an object, but for checking whether it includes any institutional subscription is used `{if $userInstitutionalSubscriptions}`: https://github.com/pkp/ojs/blob/master/templates/frontend/pages/userSubscriptions.tpl#L145

This shows the table head even if there ar

[2018-07-17 11:15] #3930 closed

[2018-07-17 11:42] bozana commented on #3889
@asmecher, looks good, very nice cleaning :+1:  :-) You can merge...

[2018-07-17 12:18] Vitaliy-1 opened #3933 "Issues with pages related to subscription"
I've encountered several small problems with these pages on OJS 3.1.1-2 (Default templates), apart from those described in 2 previous issues. Think they all can go in one issue:

1. `templates/frontend/pages/purchaseInstitutionalSubscription.tpl`: redundant curly braces on line -> https://github.com/pkp/ojs/blob/master/templates/frontend/pages/purchaseInstitutionalSubscription.tpl#L20
This leads t

[2018-07-17 15:51] #3889 closed

[2018-07-18 10:48] bozana opened #3935 "reload submission after saving the Schedule For Publication form"
in order for the pubID plugins to have the actual metadata...

s. https://forum.pkp.sfu.ca/t/ojs3-1-1-0-error-datacite-plugin/45817/5

[2018-07-18 11:01] bozana commented on #3935
PRs:
ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/2068
master: https://github.com/pkp/ojs/pull/2069

[2018-07-18 13:52] mfelczak opened #3936 "Cannot edit review assignment due date"
In OJS 3.1.1-2 when an editor attempts to update the review due date for an accepted review the due date is not changed.

Error log produces the following: PHP message: ojs2: Unrecognized DAO StageAssignmentDao!

[2018-07-18 14:47] isgrim commented on #3772
@asmecher Hi Alec,
I created a PR for omp-stable-3_1_1 with the fix.

[2018-07-18 16:13] willinsky opened #3940 "Registration page: Minor wording changes"
http://dev-ojs.e-medjournal.com/index.php/sjt/user/register
CHANGE: “Yes, request the Reviewer role”
TO: “Yes, I am willing to serve as a reviewer for this journal.”

CHANGE: “Yes, I agree to have my data collected and stored according to the Policy Statement.”
TO “Yes, I agree to having my data collected and stored in accord with the publisher's Privacy Statement.”

Also check that throughout "Po

[2018-07-18 22:39] asmecher opened #3941 "Permit dependent files in other areas of the workflow"
Currently dependent files can only be added/administered on the galleys grid. Allow them elsewhere (e.g. for dependent files on XML documents).

[2018-07-18 22:44] asmecher commented on #3941
PRs:
- https://github.com/pkp/pkp-lib/pull/3942
- https://github.com/pkp/ojs/pull/2070
- https://github.com/pkp/omp/pull/583

[2018-07-18 23:03] asmecher commented on #3941
@bozana, when (if) the tests pass, could you take a look at this?

[2018-07-19 15:31] mtub commented on #3940
Regarding John's last point see also discussion here: https://github.com/pkp/pkp-lib/pull/3761. Happy to go through the code and change it.

[2018-07-20 02:16] navotera opened #3944 "JSON responses do not consistently set content-type to application/json"
seems like there is vuln as explained in this url :

https://www.indoxploit.or.id/home/article/1

thanks

[2018-07-20 03:32] jalperin commented on #564
This issue is out of date and contains no relevant info and can probably be closed.

[2018-07-20 14:17] #564 closed

[2018-07-20 14:19] halgurd18 opened #3945 "[OJS]"
Hi there,
When I tried to install the ojs system on my server, I have faced with the following issue:
 The page doesn't work! it is currently unable to handle this request.
HTTP ERROR 500

[2018-07-20 16:22] asmecher commented on #3945
The best place to get support is on our support forum at http://forum.pkp.sfu.ca. include your PHP error log entries.

[2018-07-20 16:22] #3945 closed

[2018-07-20 16:53] crism opened #3946 "[OMP] Usage Stats plugin missed refactoring"
Usage Stats was moved to a submodule in OJS, but left in OMP, now missing its dependencies, which causes OMP to fail to load completely.

[2018-07-21 12:57] redukr opened #3947 "[OJS] 3.1.1-2 DB Error: Duplicate entry for key ‘sessions_pkey’"
Hello everybody!
i hve next error due to acess to site: DB Error: Duplicate entry for key ‘sessions_pkey’

i have tryied to clean @sessions@ in my DB - no result
i have tryied to repair tables in my DB server - no result
i have tryied to add to .htaccess rows from one of topics at this forum - no result
i have triyed to clean @cache@ folder - no result
tryied to restore DB from backup - no result

[2018-07-23 07:44] bozana commented on #3946
Ah, sorry, this is my fault :-\ Will add it... Thanks @crism!

[2018-07-23 07:49] #3946 closed

[2018-07-23 09:32] bozana commented on #3947
Hi @redukr, I see you have also posted the question in the forum (https://forum.pkp.sfu.ca/t/db-error-duplicate-entry-for-key-sessions-pkey/46786), which is also the right place to start -- if we then figure out it is a bug, a GitHub Issue can be opened. Thus I will close this issue now, and the conversation can continue in the forum...

[2018-07-23 09:32] #3947 closed

[2018-07-23 14:03] isgrim opened #3948 "[OJS] webfeed Plugin rss2 missing XML namespace and date time issue"
Dear PKP-Team,

because a colleague was working with the RSS output of the webfeed plugin, we found that in the current Version of the webfeed Plugin in the template for rss2, there is the XML Namespace for "rdf" missing.

Some parsers ignore this, but we found that for example Firefox browser does not show the feed items, without the correct namespaces.

This line in rss2.tpl:
https://github.com/

[2018-07-23 14:10] crism commented on #3578
@asmecher, it looks like [the `FileManager` trio](https://github.com/pkp/pkp-lib/issues/3578#issuecomment-403179600) is good to go; all the blocks have been cleared out of the way. Now that that’s done, the other changes should go smoothly, too (knock on wood).

[2018-07-23 18:15] crism commented on #3578
@asmecher, [`Form::execute()`](https://github.com/pkp/pkp-lib/issues/3578#issuecomment-403593378) is ready to go.

[2018-07-23 23:37] crism commented on #3578
@asmecher, [`Form::fetch()`](https://github.com/pkp/pkp-lib/issues/3578#issuecomment-403179638) is ready to go.

[2018-07-24 09:09] Vitaliy-1 opened #3949 "Consider extending Smarty class rather than SmartyBC"
As I remember, the only problem that I've encountered while testing new Smarty library with OJS 3 was unsupported {php} tags. So, if all of them will be eliminated, there no reason to stick with Backward Compatability Class.

[2018-07-24 21:52] asmecher commented on #3944
Hmm, too bad this wasn't reported to us. The attached patch will correct it by setting the `content-type` -- apply it in the `lib/pkp` subdirectory. (All of the attached patches are the same -- just applied to different release branches.)

[2018-07-24 21:52] #3944 closed

[2018-07-24 21:52] asmecher commented on #3944
Thanks for reporting, @navotera!

[2018-07-25 03:44] crism commented on #3578
@asmecher, [`Form::initData()`](https://github.com/pkp/pkp-lib/issues/3578#issuecomment-403179706) is ready to go.

[2018-07-25 08:35] Vitaliy-1 opened #3950 "HTML 5 compliance"
`<meta http-equiv="Content-Type" content="text/html; charset=utf-8">`
According to the HTML5 specification, was added new `charset` meta attribute for character encoding information, so it can be specified like `<meta charset="UTF-8">` (https://www.w3.org/TR/2010/WD-html-markup-20100304/meta.charset.html)
Although, I couldn't find their recommendation on a prefered approach.

[2018-07-25 09:48] paflov opened #3951 "Orcid https in ojs-stable-2_4_8"
Hi,
is it possible to include [this commit](
https://github.com/pkp/pkp-lib/commit/64bf222da7227faec67f2078ff368f54a8a6285b#diff-ff04162d69746bbe15f87ddde88ecd29) in pkp-lib into ojs-stable-2_4_8 branch of OJS? I would have made pull request, but I do not know how to deal with sumodule versions.
Best,
Paflov

[2018-07-25 11:03] Julianosmjl opened #3952 "OJS PHP7 update error"
I have a problem with php7

Fatal error: Uncaught Error: Call to undefined function xml_parser_create() in /lib/pkp/classes/xml/XMLParser.inc.php:271 Stack trace: #0 /lib/pkp/classes/xml/XMLParser.inc.php(220): XMLParser->createParser() #1 lib/pkp/classes/xml/XMLParser.inc.php(262): XMLParser->parseTextStruct('<?xml version="...', Array) #2 classes/db/XMLDAO.inc.php(55): XMLParser->parseStruct('db

[2018-07-25 11:33] retostauffer commented on #3386
The pull-request https://github.com/pkp/ojs/pull/2072 contains a proposal on how we think this issue could be dressed.  Following our original idea (comment https://github.com/pkp/pkp-lib/issues/3386#issuecomment-367314848) I've tried to hide the buttons whenever a decision has already been made and show the latest recorded decision (dictionary only defined for *en_US*).

As this was my first pull

[2018-07-25 16:47] asmecher commented on #3951
Please do open a pull request -- and don't worry about submodules, we can handle those details. There's a guide on contributing here: https://pkp.sfu.ca/wiki/index.php?title=Github_Documentation_for_PKP_Contributors
...but don't sweat the details if you aren't sure about anything.

[2018-07-25 16:48] asmecher commented on #3952
Your PHP is missing XML support; you'll need to either recompile PHP with XML support included, or edit your PHP configuration to add the missing module. Next time, please post general questions on our forum at https://forum.pkp.sfu.ca. Good luck!

[2018-07-25 16:48] #3952 closed

[2018-07-25 21:34] asmecher commented on #3386
Thanks, @retostauffer! I think the PR was created against the wrong branch (as commented on it); see if you can straighten that out, and I'll leave the review to @NateWr (though it may be a week or so before he can get to it).

[2018-07-26 20:34] amandastevens opened #3955 "Note and track which author fees have been paid"
In OJS 2, when an author paid their publication fee, the payment record included the submission ID that the payment was made for, so you could tie it to a particular submission, and the JM or Editor would get a notification that a fee had been paid.  OJS 3 does not have these features and so it’s difficult to determine when the author fee for a publication has been paid. You can go to Payments to

[2018-07-27 08:33] retostauffer commented on #3386
Hy @asmecher , thanks for your reply. My bad, pull request against ojs:master rather than ojs:ojs-stable-3_1_1. I've made a new pull request where only the local changes are visible.

https://github.com/pkp/ojs/pull/2075

Most of the changes, and there will be some logic-issues, have been made in the pkp-lib, followed the guidelines, hope that's done correctly (I kind of think .. not: https://gith

[2018-07-27 18:12] crism commented on #3870
This problem is not limited to the reviewer registration form—#3827 makes that clear, but that should be noted here as well. The main registration link on a multi-press site has this problem, and maybe other places, too.

[2018-07-27 18:47] asmecher commented on #3933
1. Fixed: https://github.com/pkp/ojs/commit/9363b4a47e905f071b8198e925ef79cf05da4ba7
2. Would you mind sending in a PR for this?
3. Can you verify whether `plugins/paymethod/paypal/vendor/guzzle/guzzle/src/Guzzle/Http/RedirectPlugin.php` exists in your repo? It's included in OJS 3.1.1-2. (Or maybe you're hosting from a git checkout?)
4. (Not investigated yet)

[2018-07-27 19:03] crism commented on #3870
The privacy acceptance section of the user registration template is inside an if-clause for a context being set. Trivial to move it out—except that the privacy policy is per-context. What do we link to if context free? One consent per context? This may be more complicated…

[2018-07-27 19:09] asmecher commented on #3870
Yes, I'm afraid that's the complication. I'd suggest making it one privacy policy per context, with the policy only being displayed (and requiring agreement when
a) one has been set for agreement in that context, and
b) the user checks off a role in that context.

@ajnyga, OTOH the privacy policy code was yours, wasn't it? Does that suit the overall strategy in your opinion?

[2018-07-27 20:09] asmecher commented on #3578
4 down, 7 to go, @crism!

[2018-07-28 02:08] edazao opened #3956 "[OJS 3.x] No carga la pagina de modulos"
Hola a todos:

Estaba trabajando en la configuración de la OJS versión 3.X; pero de repente la pestaña asociada a módulos presenta la información.

Agradezco la ayuda para solucionar este fallo.

Abrazos,

CE.

![captura de pantalla 2018-07-27 a la s 8 48 33 p m](https://user-images.githubusercontent.com/41810157/43351974-0e58bf5e-91e1-11e8-9b11-1f43f1621757.png)

[2018-07-28 02:34] asmecher commented on #3956
@edazao, what specific version of OJS are you using? What do you find in the PHP error log?

[2018-07-29 20:55] ajnyga commented on #3870
Hi,

I think @NateWr wrote most of the code, but I did participate in the discussions.

My suggestion was that there should be two levels of privacy policy:
1. Site level policy
2. Context level policy(ies)

Registering to the site would mean accepting the site level policy and getting a role in a specific context would mean accepting a context level policy. So I think exactly what Alec is saying

[2018-07-30 10:30] isgrim commented on #3948
@asmecher Thanks Alec, will try to fix this according to your suggestion and open the PR as soon as its ready.

[2018-07-30 10:40] odolany commented on #2358
Also ready and willing to help with testing (and in the same trouble of upgrading content providers at [CEJSH](http://cejsh.icm.edu.pl/cejsh/about)

[2018-07-30 15:33] Vitaliy-1 commented on #3933
(3) @asmecher It seems that dependencies for PayPal plugin were not resolved for ojs 3.1.1-2 packed release. I used here the latest release from download page:  https://pkp.sfu.ca/ojs/ojs_download/
and after compose update:
![paypal](https://user-images.githubusercontent.com/20665587/43407310-0db57bf8-9427-11e8-9455-acd93c25ac0e.jpg)

[2018-07-30 16:23] asmecher commented on #2358
Hi all -- this work has already begun. The functionality of the old `nlm` OAI format plugin will actually be replaced by two plugins:

- https://github.com/pkp/oaiJats to add JATS support via OAI
- https://github.com/asmecher/jatsTemplate to generate a basic JATS template from scratch

This is in order to facilitate and deliver JATS XML that might come from a variety of places.

[2018-07-30 18:44] asmecher commented on #3933
@Vitaliy-1, that's not necessarily unexpected -- e.g. you're using `composer update` rather than `composer install`, and `tools/buildpkg.sh` excludes some parts of the Composer dependencies when building a .tar.gz release package.

[2018-07-30 23:01] asmecher commented on #3870
Note that the site-wide registration is still separately filed: https://github.com/pkp/pkp-lib/issues/3836 (sorry for the confusion, I just ran across that one again)

[2018-07-30 23:02] asmecher commented on #3836
@NateWr, would you mind taking a crack at this? There's some discussion over at https://github.com/pkp/pkp-lib/issues/3870.

[2018-08-01 06:29] #3929 closed

[2018-08-01 09:54] NateWr opened #3959 "Duplicate role assignments can prevent submission from being displayed in lists"
See: https://forum.pkp.sfu.ca/t/submission-not-showing-at-all-active-for-a-single-journal-manager/45831

When compiling the currently assigned roles for the API, the roles are passed through `array_unique()`. This can lead to a list of roles with non-sequential keys (missing `[2]`):

[code]

This results in the array being converted into an object in JSON, causing the submission lists to throw an

[2018-08-01 10:01] NateWr commented on #3959
PR:
https://github.com/pkp/pkp-lib/pull/3960

Tests:
https://github.com/pkp/ojs/pull/2081

[2018-08-01 13:04] NateWr commented on #3386
Thanks @retostauffer. Can you make a pull request for the `pkp-lib` changes as well? It's easier to review and comment on the changes once they're in a PR.

[2018-08-01 13:34] NateWr commented on #3870
@bozana can you code review?

PR:
https://github.com/pkp/pkp-lib/pull/3961

Tests:
https://github.com/pkp/ojs/pull/2082

[2018-08-01 17:53] mczirfusz opened #3962 "DC.Creator.PersonalName incorrect if there are Translators among Contributors"
If there are translators added as contributors to submissions, DC metadata (DC.Creator.PersonalName) is incorrect:

- one author, one translator: the translator is added to the author, separated with a semicolon; see example here: `view-source:https://tet.rkk.hu/index.php/TeT/article/view/243`;
- two authors, one translator: the first author is correctly displayed, translator is added to the secon

[2018-08-02 11:39] mtub commented on #2135
@asmecher, @ctgraham - is there any chance of moving forward with this?

[2018-08-02 15:05] NateWr commented on #3836
I've implemented the following:

- Added a site-wide privacy statement.
- Added a config option to disable context-specific privacy statements (for sites that only need a single, site-wide statement).
- Added privacy consent checkboxes for site-wide registration. Consent will be requested for a site-wide policy if one exists, and will be requested for any contexts to which a user selects a role an

[2018-08-03 04:36] ciptoblues commented on #2922
the problem occurs because of an insert record failure in the galley submission table. example
UPDATE submission_galleys SET file_id = '3916' WHERE galley_id = 798;

[2018-08-03 09:59] NateWr opened #3966 "Misleading message when installing a new plugin"
When installing a plugin from the plugin gallery, the success message says:

This should be adjusted so that when installing a plugin for the first time it reflects that.

[2018-08-03 10:56] NateWr opened #3967 "Latest compatible plugin release is not recognized in plugin gallery"
The plugin gallery will return the oldest compatible release for a plugin, so plugin updates are often not visible.

[2018-08-03 11:07] NateWr commented on #3967
I changed the comparison so that it always returns the highest version that is compatible. Tempted to self-merge this, but @bozana can you do a quick sanity check on this?

PR:
https://github.com/pkp/pkp-lib/pull/3968
https://github.com/pkp/pkp-lib/pull/3969 (`ojs-stable-3_1_1`)
https://github.com/pkp/pkp-lib/pull/3970 (`omp-stable-3_1_1`)

[2018-08-03 15:07] ViRuSTriNiTy opened #3971 "Refactor review forms feature to reusable custom forms feature"
Hi there,

I need to use the features of the review forms code (e.g. create form, add elements, ...) in my own code that is not related to review forms.

To avoid recreating the wheel I refactored the existing code in such a way that it is reusable hence the name *custom forms*. I have almost finished the work on it and I would like to get some input whether this could be integrated into pkp-lib.

[2018-08-03 18:06] 2528 opened #3973 "atualizar captcha"

[2018-08-04 07:55] Vitaliy-1 opened #3975 "Implement cover image for a journal's section"
I'm exploring this possibility for Immersion theme and think that it can make sense also for the OJS core.

[2018-08-07 13:26] NateWr commented on #3975
Two thoughts:

1. I think this is something that should be activated on a per-theme basis. We could include it in core, but a theme should have to indicate that it supports section images with something in it's `init()` method, like `supports('sectionCoverImage')`. That's a pattern from WordPress that's worked well ([add_theme_support](https://developer.wordpress.org/reference/functions/add_theme_

[2018-08-07 13:27] NateWr commented on #3971
Can you describe in more detail your particular use case?

[2018-08-07 13:29] NateWr commented on #3959
Self-merged.

[2018-08-07 13:29] #3959 closed

[2018-08-07 13:31] NateWr commented on #3950
:+1: Got a PR?

[2018-08-07 13:34] isgrim commented on #3607
@asmecher
Hi Alec,
we stumbled upon this issue after migrating an OJS 2.4.8.2 to 3.1.1-stable.

For us the custom blocks still did not appear in the Settings form, I had to add back the `PluginRegistry::loadCategory` hook in the register method of the CustomBlockManagerPlugin.
This was removed in the commit https://github.com/pkp/customBlockManager/commit/ec5838a0c601d75c86f6d72a0ed8ac9f0cd09bba .

[2018-08-08 06:36] Vitaliy-1 commented on #3975
2. @NateWr So, if per issue basis is considered, I believe creating a new table would be more suitable approach. right? I'm planning to populate it with such columns as issue_id, section_id, locale, settings_name and settings_value.

[2018-08-08 10:15] NateWr commented on #3975
You can create another table, but I'd be inclined to make use of the `issue_settings` table. It will keep things simple.

You can store arrays/objects in the settings table and they will be serialized. This is not advised for any data that you have to run an efficient query against, but it should be ok for section images/colors.

So I'd recommend storing data like this:

[code]

Where `1` and `4`

[2018-08-08 16:55] NateWr commented on #3778
These were removed as part of #3594.

[2018-08-08 16:55] #3778 closed

[2018-08-08 19:46] asmecher commented on #3948
Good spotting! Why anyone is using a date standard with hard-coded English is beyond me, but anyway.

[2018-08-08 20:49] asmecher commented on #3624
With apologies for the delay, @ajnyga -- this is still waiting for review, correct?

[2018-08-08 20:54] asmecher commented on #3855
@ViRuSTriNiTy, yes, there are several places to do that:
- In `lib/pkp/classes/validation/ValidatorRegExp.inc.php`, in `isValid`
- In `lib/pkp/classes/validation/ValidatorEmail.inc.php`, in `getRegexp`
- In `lib/pkp/classes/form/Form.inc.php`, in `validate`.

I would favour the `Form::validate` hook, as it would be the most generally useful hook, but it'll be a little trickier to use it to travers

[2018-08-08 20:55] asmecher commented on #3926
Merged, thanks for contributing!

[2018-08-08 20:55] #3926 closed

[2018-08-08 21:15] asmecher commented on #3973
@2528, are you trying to ask a question, or contribute a code change, or something else? If you're not sure, I'd suggest using our support forum instead: https://forum.pkp.sfu.ca

[2018-08-08 21:15] #3973 closed

[2018-08-09 00:52] asmecher commented on #3971
(I'm not sure if you've explored the `assoc_type` / `assoc_id` mechanism we've used elsewhere to attach this sort of general-use feature to various entities in the system -- it's not always the cleanest or most intuitive mechanism, but it's one that's already in broad use in the codebase.)

[2018-08-09 00:55] asmecher commented on #3966
Are you sure there wasn't maybe an entry already in the `versions` table for the plugin?

[2018-08-09 07:58] NateWr commented on #3966
Just double-checked with a plugin that definitely had no entries in the `versions` table and it still gave me that message.

[2018-08-09 14:49] asmecher commented on #3966
Hrm. Which plugin were you installing?

[2018-08-09 14:55] NateWr commented on #3966
First it was the new Classic theme, to test the `plugins.xml` file. Then I did `plagiarism` (iThenticate).

[2018-08-09 15:22] asmecher commented on #3304
Another good option (perhaps better): Laravel's caching component https://laravel.com/docs/5.0/cache

[2018-08-09 15:31] asmecher opened #3976 "Introduce developer mode"
Add `config.inc.php` settings for developer tools. Some off-the-cuff ideas:
- Permit localhost email addresses (https://github.com/pkp/pkp-lib/issues/3855#issuecomment-403232067)
- Log hook calls (this is verbose)
- Logging SQL queries (this is verbose; would also replace the `debug` mode, which needs replacement as it chokes AJAX calls)
- Inhibit email sending

[2018-08-09 15:31] asmecher commented on #3855
Another option that would resolve this: https://github.com/pkp/pkp-lib/issues/3976

[2018-08-09 15:39] NateWr commented on #3304
Just a note: you'll probably need to use v5.5, since that's the version we use for the QuerySelector and Validator components: https://laravel.com/docs/5.5/cache

(Usually there's not much difference between 5.* versions.)

[2018-08-09 15:49] NateWr commented on #3976
Some more:

- Log emails when inhibited
- Clear template/css cache with each request
- Log request details, such as what `Handler` was invoked, what authorization checks passed/failed.

[2018-08-09 17:51] asmecher opened #3977 "Permit editors to optionally provide reviewers with editor decision details"
This feature used to be available in OJS 2.x (`blindCcReviewers`) but was inadvertently dropped with the move to OJS 3.x.

[2018-08-09 19:14] ViRuSTriNiTy commented on #3971
@NateWr

I need to extend the whole submission process with a lot of additional fields. But later on I surely need these features again somewhere else, forms are everywhere :). At first I though of using the additional meta data stuff but this is somewhat limited. The review form handling on the other hand did show huge potential due to stuff like the `assoc_type` / `assoc_id` as @asmecher has alr

[2018-08-09 22:13] #3941 closed

[2018-08-09 22:16] asmecher commented on #3941
Merged!

[2018-08-10 04:18] ajnyga commented on #3624
Sorry for the delay, this new github UI does not seem to show new messages the way the old one did...

This is not waiting for review yet, because it is not passing tests. I will maybe try another test run today. Have been busy with other things.

[2018-08-10 08:27] isgrim commented on #3948
I won't be able to work on this until September. I am on holiday starting next week.

[2018-08-10 08:58] Vitaliy-1 opened #3980 "SectionForm class: data property assignment through a method"
Right now `_data` property is assigned directly. I propose to use `setData()` method instead, this will allow easier assignment of additional data to this array from init method from child classes.

[2018-08-10 09:33] NateWr commented on #3971
Thanks for that @ViRuSTriNiTy, it's very helpful. It sounds like you've already gotten most of the way, so by all means please raise a Pull Request. It will be easier to look at and discuss particulars there.

In principle, I'm in favor of this idea to generalize the form creation tool. There are a few things going on at the moment that may make this an inopportune time to implement and maintain t

[2018-08-10 15:41] asmecher commented on #3624
Not a problem, just making sure I haven't forgotten something.

[2018-08-11 08:03] ViRuSTriNiTy commented on #3971
Thanks for the deep insight, much appreciated. It helps me to understand why currently there is a mix of Vue.js, Smarty, and other stuff. As II understand your explanations its more or less still a work in progress.

I'm also open to new technologies, so adopting my code to the new REST API / Vue.js approach shouldn't be an issue in the future event if it means that my custom forms approach is the

[2018-08-13 09:58] NateWr commented on #3971
Because of the scale of the application and the limited number of developers, there won't be a single release where this is "done". It will be rolled out in stages as we refactor parts of the system.

For example, we've got `/submissions`, `/issues` and `/users` endpoints in place at the moment. But we're only using them for the Submissions lists and the Reviewer selection process. When #2860 goes

[2018-08-13 15:30] asmecher commented on #3980
PR: https://github.com/pkp/ojs/pull/2092

Merged, thanks, @Vitaliy-1!

[2018-08-13 15:30] #3980 closed

[2018-08-13 15:34] asmecher commented on #3607
@isgrim, is this an up-to-date pull of the `ojs-stable-3_1_1` branch in all 3 of `ojs`, `pkp-lib`, and `customBlockManager` repos?

[2018-08-13 19:48] ajnyga opened #3983 "NOTIFICATION_TYPE_REVIEW_ASSIGNMENT_UPDATED notification requires revision"
Hi,

After revisiting a code I wrote for the open reviews I realized that the NOTIFICATION_TYPE_REVIEW_ASSIGNMENT_UPDATED notification needs a fix.

I originally planned that the notification should be sent both to the reviewer who's assignment details are changed and to the author who's submission is being reviewed. BUT the url in the notification is a reviewer url the author can not access of co

[2018-08-13 20:33] asmecher opened #3984 "Search index helpers don't work with spaces in filenames"
See https://forum.pkp.sfu.ca/t/unable-to-get-full-text-search-to-work-on-mamp-for-development/47204 for details.

The problem appears to be the use of `escapeshellcmd`, rather than `escapeshellarg`, in `lib/pkp/classes/search/SearchHelperParser.inc.php`.

[2018-08-13 20:34] #3984 closed

[2018-08-13 21:37] crism commented on #3578
@asmecher, the outstanding `Form` changes have been rebased. I’ll wait on those before moving on…

[2018-08-13 22:30] asmecher commented on #3578
`Form::fetch` stuff merged, waiting on the tests for the others! Thanks, @crism.

[2018-08-13 22:38] asmecher commented on #3983
@ajnyga, I would lean towards not notifying the author. No objections to providing some specifics, if it's easy enough to maintain and localize.

[2018-08-14 00:30] crism commented on #3578
I think we need to do these one at a time because they step on each others’ toes. Not sure if this is better than a giant monolithic PR or not. `d-:` The `Form::execute()` changes are:

 - #3888
 - pkp/ojs#2046
 - pkp/omp#568

[2018-08-14 07:59] NateWr commented on #3967
@asmecher can you do a quick sanity check on this before merging?

[2018-08-14 07:59] NateWr commented on #3836
@asmecher can you code review?

[2018-08-14 08:00] NateWr commented on #3870
@asmecher can you code review?

[2018-08-14 15:59] asmecher commented on #3578
@crism, thanks, I've merged the other two Form-related entries that passed testing (and checked them off the list). There's still a merge conflict on another one that I've just noted.

[2018-08-14 16:14] israelcefrin opened #3986 "Table controls in TinyMCE not working on modal window"
I've enabled table controls in TinyMCE by enabling the table plugin in `lib/pkp/js/controllers/SiteHandler.js`

It's  possible to add/edit tables via the new control but it doesn't work when trying to edit a table in a modal.
For example, if you try to edit a navigation page  at Settings > Website > Navigation Menus and you place the cursor in the table on the page, clicking on the table control i

[2018-08-14 16:19] asmecher commented on #3967
Please go ahead, @NateWr, that previous implementation was a thinko.

[2018-08-14 20:47] asmecher commented on #3578
Great -- merged the other Form change. Thanks for all the work, @crism.

[2018-08-14 23:36] asmecher commented on #3983
Merged, thanks!

[2018-08-14 23:36] #3983 closed

[2018-08-15 04:51] asmecher commented on #3836
@NateWr, did you see that the tests failed? OTOH, I suspect it's because you're potentially getting the Site object before the system has been installed (thus no DB).

[2018-08-15 06:49] ajnyga commented on #3340
Hi @NateWr

After upgrading to 3.1.1.2 I was getting so many questions about lost manuscripts (the submissions listings were missing because of old scripts loading from browser cache) I had to take the code you have above to production use.

Do you see any potential problems? Because I can see you were not too happy about the solution.

[2018-08-15 08:25] NateWr commented on #3986
After looking into this some, the table control dropdown is rendered far up the page, which is off-screen when the nav menu modal is open and the user has scrolled down some. No idea how to fix it at this time so it will take some looking into -- maybe worth seeing if the new approach to TinyMCE in #3594 fixes this.

[2018-08-15 08:25] NateWr commented on #3967
:+1:

[2018-08-15 08:25] #3967 closed

[2018-08-15 08:53] NateWr opened #3988 "Fix undefined variable in query access helper"
Reported by @ajnyga. This needs to be ported to the stable branches.

PR: https://github.com/pkp/pkp-lib/pull/3987

[2018-08-15 09:00] NateWr commented on #3340
@ajnyga I think you'll be fine running that in production. My nitpicks are more about how third-parties _might_ want to interact with their asset URLs over the long-term but it shouldn't matter for a one-off deployment.

[2018-08-15 14:46] asmecher commented on #3988
Thanks, @NateWr and @ajnyga -- ported to `ojs-stable-3_1_1` and `omp-stable-3_1_1` as well.

[2018-08-15 14:46] #3988 closed

[2018-08-15 17:43] crism commented on #3578
Hopefully the rest of these don’t step on each others’ toes as much as the various `Form` ones. `GridCellProvider`:

 - #3897
 - pkp/ojs#2048
 - pkp/omp#569

[2018-08-15 19:56] crism commented on #3578
`GridDataProvider`:
 - #3897
 - pkp/ojs#2050
 - pkp/omp#570

[2018-08-15 20:09] asmecher commented on #3578
@crism, both of the above two sets link to the same pkp-lib PR; is that a typo?

[2018-08-15 20:42] asmecher commented on #1904
(The unholy mess used to do this:

[code]
)

[2018-08-15 20:42] #1904 closed

[2018-08-15 20:44] crism commented on #3578
`GridHandler`:
 - #3907
 - pkp/ojs#2057
 - pkp/omp#576

[2018-08-15 20:46] crism commented on #3578
@asmecher, fixed the `GridCellProvider` PR.

[2018-08-15 21:19] asmecher commented on #3578
@crism, see [this comment](https://github.com/pkp/pkp-lib/pull/3895#discussion_r205273412) re: the GridCellProvider pkp-lib PR!

[2018-08-15 23:15] asmecher opened #3989 "Enable one-click reviewer access by default"

[2018-08-15 23:44] #3989 closed

[2018-08-15 23:58] asmecher commented on #2135
(The two-step nature of the password reset email also came up in the latest email/notifications UI/UX review. Adding the UI/UX label.)

[2018-08-15 23:59] asmecher opened #3990 "Notify editor(s) when any review is completed"
Currently the editor receives a notification whenever all reviews are complete.
Add an (optional) notification to be sent when *any* review comes in, so that the editor knows there is activity even if e.g. a single reviewer does not respond in a timely fashion.

[2018-08-16 08:57] NateWr commented on #3797
It looks like the CSL people are open to modifying the base style, so I've raised a pull request there: https://github.com/citation-style-language/styles/issues/3568.

If all goes well, they'll merge and we'll update our CSL styles. Otherwise, we'll make the change manually.

[2018-08-16 09:18] ajnyga opened #3992 "IssueEntryTabHandler causing a warning when no pubId plugins are active"
When no pubId plugins are enabled, this line
https://github.com/pkp/ojs/blob/master/controllers/tab/issueEntry/IssueEntryTabHandler.inc.php#L143

causes this warning:
`PHP Warning:  Invalid argument supplied for foreach() in /controllers/tab/issueEntry/IssueEntryTabHandler.inc.php on line 143
`
OJS 3.1.1.2

[2018-08-16 09:54] ambs commented on #3797
Nice. Following that PR.

[2018-08-16 10:49] alexxxmendonca commented on #3990
This is very important, indeed.

I would assume the Section Editor would be notified as well as long as they are assigned to the paper.

[2018-08-16 11:55] fizmond commented on #3870
This error also occurs in a single-journal install, if the privacyStatement entry in journal_settings is missing as the checkbox won't be visible.

I simply emptied the text field in the frontend as we don't need it and definitely didn't expect the privacyStatement entry to be removed completely from journal_settings.

[2018-08-16 14:40] NateWr commented on #3870
Merged and ported to stable.

@fizmond the fix here will also hide the consent checkbox when no privacy statement exists.

[2018-08-16 14:40] #3870 closed

[2018-08-16 15:04] NateWr commented on #3836
Thanks! Think I've fixed it. Tests running.

[2018-08-16 15:24] asmecher opened #3996 "HTML image URLs with special characters do not work"
See https://forum.pkp.sfu.ca/t/problems-with-url-encoded-html-galley-image-paths-in-ojs3.

[2018-08-16 15:25] #3996 closed

[2018-08-16 16:29] crism commented on #3578
@asmecher, fixed the `GridCellProvider` PR. Also `GridHandler` ready to go, pending tests:
 - #3907
 - pkp/ojs#2057
 - pkp/omp#576

[2018-08-16 16:49] carzamora opened #3997 "Section editor loses access to editorial workflow after declining review"
**Describe the bug**
When a Section Editor is assigned as a reviewer, the submission appears like this:

![image](https://user-images.githubusercontent.com/5422984/44222258-56314c00-a15a-11e8-9d55-eda18a647e51.png)

If the section editor declines the review, they no longer see this message and there is no way to access the editorial workflow.

**To Reproduce**
Steps to reproduce the behavior:
- Us

[2018-08-17 10:00] NateWr commented on #3797
The CSL people have updated the bibtex format in their repo and I've merged that change to our plugin: https://github.com/pkp/citationStyleLanguage/pull/40

@asmecher do I need to do anything special to get this into ojs stable? Or will you automatically pull the latest `master` branch of citationStyleLanguage when building a maintenance release?

[2018-08-17 12:14] ajnyga commented on #3022
Just checking, after the planned changes, can an editor _remove_ an editor role from another editor in the same context if that editor is also enrolled to another context?

This is needed when an editorial board changes.

[2018-08-17 14:19] ajnyga commented on #3990
This is already discussed here I think: https://github.com/pkp/pkp-lib/issues/3423

Basically email notification is already sent for all finished reviews, but there is no task notification until all are in, but Bozana has done something about it already in May: https://github.com/pkp/pkp-lib/issues/3423#issuecomment-380001418

[2018-08-17 17:40] mfelczak opened #3998 "Static Pages management tab does not load"
In OJS 3.1.1-2 after enabling the Static Pages plugin and navigating to the Settings > Website > Static Pages tab, the management page is not displayed and a "Loading" message is displayed instead.

![static_pages](https://user-images.githubusercontent.com/200793/44280526-05395a80-a223-11e8-940b-f6d3274c3a2f.png)

[2018-08-17 18:30] crism commented on #3578
`PKPSubmissionFileDAO::fromRow()`:
 - pkp/ojs#2098
 - pkp/omp#589

[2018-08-17 20:00] crism commented on #3578
`Plugin`:
 - pkp/ojs#2099

[2018-08-17 22:10] crism commented on #3578
`PKPUserSettingsDAO`:
 - pkp/ojs#2100 (hooray for round numbers!)
 - pkp/omp#590

[2018-08-17 22:11] crism commented on #3578
@asmecher, there’s just one outstanding change I’m aware of, involving `PKPHandler` and its subclasses, which is waiting on a merge of `GridHandler`.

[2018-08-18 09:25] markagregory commented on #3758
Hi, I've implemented the code from the forum thread and cannot get it to work in the review and copyedit phases. the authors still have read only. I would appreciate help to get this to work. The code changes implemented are.

1- /lib/pkp/classes/controllers/modals/submissionMetadata/SubmissionMetadataHandler.inc.php
![one](https://user-images.githubusercontent.com/26024430/44297881-57aa7200-a31c-

[2018-08-18 13:43] NateWr opened #3999 "Admin can create organisations"

[2018-08-18 13:43] #3999 closed

[2018-08-20 09:53] NateWr commented on #3022
That's a good question. I _think_ the current system allows that to happen, and don't foresee that changing. But I don't know whether it _should_ be possible. My gut reaction would be to allow it.

[2018-08-20 10:00] ajnyga commented on #3022
Pretty sure the current system does not allow it. It will not let a journal manager to access the user profile form at all if the user is registered in multiple contexts.

What if there would be a separate form that would only show the list of available roles for the selected user:
- For site managers selecting a role for a user would add the role instantly
- For journal managers selecting a role

[2018-08-21 08:28] NateWr opened #4000 "Replace Hosted Journals grid with ListPanel"
Some suggestions from a host with 50+ journals:

- Add a column that would show at a glance whether the journal is public or not - right now it takes opening the “Edit” settings of each journal to find out
- Add an option to automatically sort the list alphabetically by title
- Add a count of hosted journals (I believe it showed the count in OJS 2)
- Add a one-click option to open the journals’ fr

[2018-08-21 13:55] heike-r commented on #3262
At the risk of annoying the OJS developers with constant community requests: is there any update on this? We have a MyCoRe based repository we want to connect to our OJS. My boss is building pressure since we do double entries in two separate systems. He is short on throwing money to the MyCoRe developers at our service partner institution to build some interface between OJS and MyCoRe. That would

[2018-08-21 14:32] asmecher commented on #3998
@mfelczak, is anything relevant in the PHP error log or browser console? I suspect there's a JS error.

[2018-08-21 15:05] asmecher commented on #3758
@markagregory, I see this is also posted on [our support forum](https://forum.pkp.sfu.ca/t/ojs-3-1-how-to-get-an-author-to-update-metadata-in-submission-or-review-phase/37056/27). Please don't post the same content in two places -- it divides the conversation.

[2018-08-21 15:20] asmecher commented on #3578
@crism, the [earlier list](https://github.com/pkp/pkp-lib/issues/3578#issuecomment-404679076) is completely checked off -- kudos!

Starting a new summary list based on some of the things you just added. Please let me know if I missed any.

- [ ] [`PKPSubmissionFileDAO::fromRow()`](https://github.com/pkp/pkp-lib/issues/3578#issuecomment-413952040)
- [ ] [`PKPUserSettingsDAO`](https://github.com/pkp

[2018-08-21 15:38] asmecher commented on #3797
@NateWr, I created an `ojs-stable-3_1_1` branch in the `citationStyleLanguage` repo based on the current submodule hash (as there wasn't a stable branch there yet):

`co -b ojs-stable-3_1_1 ff4f20d`

Then I cherry-picked in your change:

`git cp 0460f021f94d8f08e0cbbd7e00ecb968b83f6ffe`

Then I went into the `ojs-stable-3_1_1` branch of the `ojs` repo and updated the submodule there:

[code]

That

[2018-08-21 15:41] asmecher commented on #3997
@t4x0n, were you expecting the Section Editor, upon declining the review, to regain access to the editor's interface? (When an editor/section editor is assigned as a reviewer on the submission, it inhibits their ability to access the editorial interface because of risks to the double-blind review process. That's done intentionally.)

[2018-08-21 15:43] #3992 closed

[2018-08-21 15:43] asmecher commented on #3992
Merged -- thanks, @ajnyga!

[2018-08-21 17:07] Vitaliy-1 commented on #3975
@NateWr I have started to implement suggested approach for the theme through the hooks. I see that can add array to the issue_settings table through the `execute()` method, as described above. But how the array can be passed through the form and `readUserVars()`?

In the issueForm.tpl originally for the string I have:
[code]
I've assigned the array of Section objects there and can iterate like:
[c

[2018-08-21 17:14] Vitaliy-1 commented on #3975
And for `reafUserVars()` I have:
[code]

[2018-08-21 17:52] Vitaliy-1 commented on #3975
Ended with:
[code]
Hope this is right approach :)

[2018-08-21 19:06] t4x0n commented on #3997
Ok, but in this case, the Section Editor was assigned like Editor, so she had permission to see the article and authors. She, was added to herself as Reviewer and by mistake, she then declined.

The above is true when the editor was assigned as a reviewer, but he is NOT assigned as editor.

In another case, when the editor was assigned as a reviewer, AND assigned as editor, he has permission to se

[2018-08-22 08:36] NateWr commented on #3797
:+1: Thanks!

[2018-08-22 08:36] #3797 closed

[2018-08-22 08:38] NateWr commented on #3975
:+1:

[2018-08-22 10:14] NateWr commented on #1818
I have pulled the PR (#3709) into work I'm doing on #3594. It includes a few more badges. I'm going to go ahead and close this, but if anyone has additional badges/licenses to contribute, I'm happy to merge those in any time.

[2018-08-22 10:14] #1818 closed

[2018-08-22 11:10] NateWr commented on #3562
I'm addressing this as part of #3594. I will leave this open to ensure we have a track record for 3.2, since we'll need to advise themes to update what they display on the frontend.

[2018-08-22 11:11] NateWr commented on #3562
Just saw that @defstat was assigned. Hopefully that's alright with you that I've taken this. It's just easier as part of some big refactoring I'm doing to the settings area.

[2018-08-22 13:56] AhemNason commented on #408
Hi,

So,  in some ways, this has been half addressed in Bozana's more recent DOI/Crossref work. There's now an "assign DOIs" button as well as a "reassign DOIs" button. The "assign DOIs" button is great because it makes a DOI for anything that doesn't currently have one. I won't lie in stating that there's usefulness to these buttons for me and in general, but their use is not obvious to regular u

[2018-08-22 14:04] mtub commented on #408
Thanks, @AhemNason. Regarding your last point: Once a DOI has been registered, what is the use case for re-assigning another DOI and wiping the already registered one from the database?

Every example I have been presented with where someone needed this option was for reasons that we should not support, e.g. aligning DOIs after getting a new prefix (change of publisher…), thinking of a fancier pre

[2018-08-22 14:06] mtub commented on #408
In general, the problem with the pubId plugins is that we don't know if an identifier has been registered. We could enhance the plugins to check if an identifier resolves, but this would also result in warnings when a resolver service is temporarily down. But at least it would enable us to say "if it resolves correctly, don't touch it"

[2018-08-22 14:12] AhemNason commented on #408
There is rarely a use-case for assigning another DOI and wiping an already registered one. Or, if there is, it's _very very specific_.

But I should make it clear that assignment of a DOI and registration of a DOI are very different things. If I publish an issue and OJS mints DOIs for my whole issue, but I haven't successfully registered them with Crossref (or whomever), then changing them isn't a

[2018-08-22 14:14] AhemNason commented on #408
I'd definitely advocate for anything that prevented a DOI from changing once it had been successfully registered with an agency, though. That would be very good.

[2018-08-22 14:43] mfelczak commented on #1466
One use-case where a global reset/set may be helpful is import of back issues for a journal moving to OJS. If a journal wants to tweak or standardize copyright/licensing for a large batch of imported articles it can do so without needing to edit the DB directly. For older journals with large back catalogues doing this on a per-article basis will be impractical.

That being said, I'm in general agr

[2018-08-22 14:47] NateWr commented on #1466
@mfelczak would it be appropriate for this functionality to be moved to Tools and require an admin?

[2018-08-22 14:51] mfelczak commented on #1466
@NateWr, that makes sense to me, although it's probably sufficient to require Journal Manager access (as opposed to Site Admin access).

[2018-08-22 14:53] mtub commented on #1466
If the feature exists, for editors or for admins, there should be a prominent warning that journals should check if they are allowed to change the license retroactively.

[2018-08-22 15:42] mfelczak commented on #3998
Hi @asmecher, just a generic JS error in the console

[code]

[2018-08-22 18:44] asmecher commented on #1466
I would advocate strongly for keeping this in the JM's purview.

[2018-08-22 18:45] asmecher commented on #3998
@mfelczak, can you privately share a URL with me?

[2018-08-22 18:59] crism commented on #3578
Last trio of PRs, for `PKPHandler`:
 - #4004
 - pkp/ojs#2101
 - pkp/omp#591

[2018-08-22 20:00] #3578 closed

[2018-08-22 20:18] asmecher commented on #3578
@crism, all merged! One of the merges automatically closed this issue -- a message from above, perhaps?

[2018-08-22 20:59] mtub opened #4005 "[OJS] Turkish locale update"
Received a locale update for OJS and pkp-lib from Sönmez Çelik by email, will track updates here.

[2018-08-22 23:08] asmecher commented on #3262
@heike-r, the plugin is essentially complete but not yet tested and I haven't vetted the code thoroughly (it was written by someone else). However, it's here if you want to give it a try:

https://github.com/asmecher/sword

It may need a bit of additional troubleshooting beyond just testing, or it may just work. But I'd love a little bit of feedback -- it would help towards getting it released. I

[2018-08-23 10:59] ajnyga opened #4006 "Enable assistans like copyeditors and layout editors to edit article metadata"
See https://forum.pkp.sfu.ca/t/layout-editor-with-no-access-to-metadata/47880/2

[2018-08-23 11:39] ajnyga commented on #4006
@asmecher keeping fingers crossed that I made the submodule update correctly...
pr: https://github.com/pkp/ojs/pull/2102

[2018-08-23 18:01] bkawula commented on #2358
I just got this running and it looks great! Thank you so much. If I run into any issues I'll post them to the respective repos.

[2018-08-24 12:08] heike-r commented on #3262
Thanks @asmecher
We have contacted one of the MyCoRe developer team members (say hi to @kkrebs) and forwarded the link to your GitHub repository. They have set up their own OJS for testing and will come back to you with more infos or questions.

[2018-08-24 13:26] lilients commented on #2072
Hi everybody, I created pull requests to add the basic versioning functionality to the master branch of OJS: https://github.com/pkp/ojs/pull/2103 and https://github.com/pkp/pkp-lib/pull/4007.

There are still some bugs (see below) but I would suggest merging the current state to prevent me from rebasing for the hundreds time. :weary: :wink: I will work on the fixes next week, and would be very hap

[2018-08-24 14:56] asmecher commented on #2358
Thanks, @bkawula!

[2018-08-24 18:15] defstat commented on #3171
@NateWr I added the following PRs regarding that Issue.
The user has access to 3 more NMI types: for Category and Series the user can define the Category and Series he/she wants to point to.

I added some hooks to add the specific types for OMP categories and series and add functionality to the add/update NMIs form. (not sure if it was the "right" way to do it - maybe a derived class for OMP could

[2018-08-24 19:12] asmecher commented on #3860
PR: https://github.com/pkp/pkp-lib/pull/3943

[2018-08-25 10:00] ajnyga opened #4009 "Usagestats not being processed if contextPath collides with "article""
See: https://forum.pkp.sfu.ca/t/single-journal-in-multi-journal-installation-not-creating-statistics/47569

Fix in a moment...

[2018-08-25 10:14] ajnyga commented on #4009
pr: https://github.com/pkp/ojs/pull/2105

[2018-08-25 14:12] ajnyga commented on #3624
A new try on this (tests running): https://github.com/pkp/ojs/pull/2106

[2018-08-25 21:39] #4005 closed

[2018-08-26 17:34] alireza08 opened #4011 "[OJS] Custom blocks not displayed in settings page after upgrading from OJS2.4.8 to 3.1.1.2"
Hi,
I upgraded our website from OJS 2.4.8 to 3.1.1.2 and the problem is that custom blocks are displayed on website homepage but I can not see them in the settings/appearance page for re-ordering. I tried enabling and disabling the custom block plugin which did not help. I also added a new custom block but even this newly added block is not displayed in settings page.
any ideas?

[2018-08-26 19:28] ViRuSTriNiTy opened #4012 "[OJS] "Submitter" cannot access it's own submission in production stage"
Hi there,

we have the following account setup:

- Role with name *Submitter* and *Submission* permissions only
- *User X* assigned to Role *Submitter*

Now, lets say *User X* submits an article. Due to the OJS workflow this article then gets passed through the review process up to production stage. In the production stage the article is displayed as *Production* in the submission list.  When the

[2018-08-26 23:42] desawarna opened #4013 "[OJS] Canot Stream PDF"
I use **OJS 3.0.2.0**

I put the PDF file in `/ files`

PDF can be downloaded, but cannot stream on the browser,

What should I do ?

thanks :smile: :smile:

![canot-stream-pdf](https://user-images.githubusercontent.com/1111630/44634436-56d0aa80-a9c4-11e8-8d84-3358d8419c1f.png)

[2018-08-27 06:18] ajnyga opened #4014 "Option to use a global sender address for emails (to fight spamfilters?)"
Currently OJS and OMP will send out emails so that the sender address is the actual address of for example the editor making a decision.

In some cases this could lead to a situation where the email is marked as spam. Especially, if the sender and the receiver are from the same institution and use the same email server (which is probably quite common in many cases).

Suggestion:
- additional globa

[2018-08-27 09:03] NateWr commented on #2072
Great work! Looks like one of the validation tests fell over, so I restarted that to see if it fiinishes. There is one consistent test failure though:

[code]

Would you be able to look into that and see if you can spot the issue?

[2018-08-27 09:12] NateWr commented on #3171
Looks good @defstat. I think that you can avoid the extra hooks and reduce the app-specific code that is required by just creating a custom navigation menu item for each series and category.

The BrowseBySection plugin does something similar to create a NMI for each section's landing page. You can see here that two pre-existing hooks were used to create a custom NMI entry for each section:

https:

[2018-08-27 09:45] NateWr commented on #3171
I can see the benefit of having a structure in place for NMI types with additional options. As you found, though, with our existing JS controllers, you still need to write bespoke code to conditionally display each set of options.

The new form system we're working on (#3594) should make it easier to write in conditional display logic, without having to do it for each form component that needs it.

[2018-08-27 12:26] israelcefrin opened #4017 "Send an email to all users with a specific role"
In OJS 2.x is possible to send an e-mail to multiple users in a particular roles from the enrolled users page or by using the “notify users” function. However, this functionality is not enabled/present in OJS3. Would be feasible consider it for future releases @asmecher @bozana ?

[2018-08-27 13:58] forgive38 commented on #4014
Hi all,

We need exactly this functionality
Thank you

[2018-08-27 14:50] NateWr commented on #2072
Oh, I just noticed that you'll need to do a couple things to kick off the OJS tests properly. To make sure the tests know where to look to find the right `lib/pkp` to check out, we add the submodule at the end, with a commit message like this:

[code]

So, I think you can run the following from the command line of the OJS repo to get the tests running:

[code]

If that looks good, you can force pu

[2018-08-27 15:32] asmecher commented on #4013
@desawarna, for next time, the support forum (https://pkp.sfu.ca/support/forum) is the best place to start with general debugging.

Is `files` located within your web root? If so, unless you've protected it with a `.htaccess` document or similar from direct download, it's likely a dangerous configuration. See "Recommended Configuration" in `docs/README`.

Did you upgrade your OJS from a previous v

[2018-08-27 16:17] asmecher commented on #3543
Thanks, @defstat, I can review this while Bozana is away from the computer. But it'll definitely need a PR for OMP too -- could you add one to the list?

[2018-08-27 16:26] asmecher commented on #4011
@alireza08, can you double-check your OJS version? There was an issue like what you're describing in OJS 3.1.1-0 and possibly 3.1.1-1, but I think it was resolved in 3.1.1-2.

[2018-08-27 16:27] t4x0n commented on #4012
Hi @ViRuSTriNiTy , the problem is that you restricted the author's permissions!  when you say Submitter I think in an author, and as an author, he/she must be able to follow all manuscript process.

the support forum (https://pkp.sfu.ca/support/forum) is the best place for this kind of questions

[2018-08-27 16:32] defstat commented on #3171
I am working on a schema where a NMI type can be matched to a template (.tpl). That template could be added to the form tpl like
`<div id='NMI_TYPE_SOMETHING'> {NMI Specific template} </div>`

After that, the form's javascript could define a generic rule like: "if the NMI_TYPE_SOMETHING is selected, show the div with the correct id and hide all other divs"

I could add that to the PR to see how it

[2018-08-27 16:36] asmecher commented on #4014
@ctgraham, you've been fighting with DMARC etc. for quite some time and I think you're the best authority we've got on the subject -- do you think this would be a good long-term approach?

My sense is that it would, and might also facilitate some things we'd like to approach -- e.g. with a dedicated email account for the journal, we can start experimenting with getting OJS to consume email and not

[2018-08-27 16:36] asmecher commented on #4014
(FYI @mfelczak)

[2018-08-27 16:41] asmecher commented on #2072
Thanks, @NateWr, and huge thanks, @lilients and team! I agree that we should merge this as long as the tests pass and the system is basically usable. For what it's worth, @lilients, I think the next few weeks at least shouldn't present as many rebase challenges as they have lately. We had lots of broad-based changes to merge and I don't think we have any more coming up in the next while.

[2018-08-27 16:52] NateWr commented on #3171
:+1: go for it

[2018-08-27 17:44] ctgraham commented on #4014
@ajynga, the `default_envelope_sender` and `force_default_envelope_sender` in config.inc.php should already function this way, [courtesy of `Mail::getEnvelopeSender()`](https://github.com/pkp/pkp-lib/blob/22837fc09f5f95c21434095d842925d61612879e/classes/mail/Mail.inc.php#L489) and the [configuration check there](https://github.com/pkp/pkp-lib/blob/master/classes/mail/Mail.inc.php#L84-L86).

The `R

[2018-08-27 17:49] ajnyga commented on #4014
hah, yeah noticed that as I was testing this.
I think the reply-to part would be important.

[2018-08-27 17:51] ajnyga commented on #4014
This is the quick code I wrote:
[code]

[2018-08-27 17:55] ctgraham commented on #4014
Just a note: This shouldn't live in the setter method.  The programmer should be able to construct the `Mail` object normally without the side effects of setting conditional properties based on the larger configuration. Then, when the sending action is effected, the configuration treats the `Mail` object in special ways to effectively route the message.

[2018-08-27 17:56] ajnyga commented on #4014
sure, that was just the quickest way of testin this.

[2018-08-27 18:17] asmecher commented on #3543
@defstat, thanks -- it looks like there's a problem with the tests that needs attention.

[2018-08-27 18:30] ajnyga commented on #4014
Ok, so the `force_default_envelope_sender` setting works really nice. I added my own email there on one of our test servers and sent an email to gmail from OJS. Authentication results in the message header are:

[code]
Basically SPF was failing before I added the envelope_sender, but DMARC is still failing. Any idea why @ctgraham? And maybe we should add this whole thing a a FAQ to the forum and c

[2018-08-27 19:07] mfelczak commented on #4014
"The best long-term configuration would use an email reply processor (like GitHub's, for example) where the reply to was a handler address + a hash representing the conversation. I don't know of a open source tool which provides this functionality via API currently."

Agreed with @ctgraham

When I look at other 3rd-party services that I use, I see the following:

From: FirstName LastName (via serv

[2018-08-27 19:31] ctgraham commented on #4014
@ajnyga, you haven't included a DKIM header in your sample output.  Are you using DKIM signing at the server level?

If both DKIM and SPF are in place, the next step is to review the DMARC statement for the domain, probably set to just reporting.

One reporting has been tested, you can upgrade the DMARC statement to reject or quarantine messages.

https://dmarc.org/overview/

[2018-08-27 19:33] ViRuSTriNiTy commented on #4012
@asmecher @t4x0n Thank you, we will fix the permissions then.

[2018-08-27 19:33] #4012 closed

[2018-08-27 19:35] ajnyga commented on #4014
I have to discuss this with the guy handling our servers, I do not have access to the email server (or know these kinds of details to begin with). But thank @ctgraham, I will ask about these and see if we can get those fixed.

I could close this, but maybe you should start a new issue on the github like email posting functionality?

[2018-08-27 19:40] asmecher commented on #4014
I'd suggest keeping this one open -- the discussion here is useful.

[2018-08-27 23:38] asmecher commented on #3262
@kkrebs, did you install this in `plugins/importexport`? It should be installed in `plugins/generic`.

(I've just committed a fix to the code; please pull down the latest copy.)

With this, I've just used the Import/Export tools to deposit an article successfully into a fresh copy of DSpace.

[2018-08-28 04:38] ajnyga commented on #4009
Magic! But I guess when you just compare two strings, that would work (I have a bad habit of using that a lot).

[2018-08-28 04:40] ajnyga commented on #4017
See discussion here: https://github.com/pkp/pkp-lib/issues/2561#issuecomment-307073836

[2018-08-28 04:46] ajnyga commented on #4014
Sure, feel free to revise the title and the first message there if needed.

When I have our own server working the way I would like, I could do a FAQ about using the force_default_envelope_sender setting to the forum.

So we could dedicate this issue for the github-like functionality @ctgraham mentioned.

[2018-08-28 08:17] NateWr commented on #4017
And here is my argument against: https://github.com/pkp/pkp-lib/issues/2561#issuecomment-308110455 :)

[2018-08-28 08:27] NateWr commented on #3894
@asmecher tests have passed here. I've just rebased so it should be a clean merge. :+1:

[2018-08-28 08:29] NateWr commented on #3836
@asmecher tests have passed here and I've rebased for a clean merge.

[2018-08-28 08:31] retostauffer commented on #3386
Sorry for my messed up pull request a month ago. I found some time for a new attempt:

- Small changes in the ojs repos (3_1_1): https://github.com/pkp/ojs/pull/2108
- Corresponding changes in the pkp-lib (3_1_1): https://github.com/pkp/pkp-lib/pull/4018

The changes affect the action buttons on the admin interface. The idea is to hide (but not completely disable) these buttons as soon as an actio

[2018-08-28 11:18] chiliego commented on #3262
Hi, I'm testing the Sword-Plugin for @kkrebs. I just updated the code and move the plugin from importexport to generic and got an DB error
[Tue Aug 28 12:55:58.626449 2018] [php7:notice] [pid 1830] [client 127.0.0.1:60482] ojs2: DB Error: ERROR:  relation "deposit_points" does not exist\nLINE 1: SELECT * FROM deposit_points WHERE context_id =  $1  AND typ...\n                      ^, referer: http

[2018-08-28 15:42] asmecher commented on #3262
@chiliego, I'm guessing you installed the plugin manually. The best thing to do is to install it via the Plugin Gallery inside OJS; that'll take care of creating the database table and email template for you.

[2018-08-28 15:45] asmecher commented on #3836
Reviewed, committed and back-ported to `ojs-stable-3_1_1`, thanks! I hope we don't have many boilerplate fields with this much of their own baggage, but it makes sense in this case.

[2018-08-28 15:45] #3836 closed

[2018-08-28 15:49] asmecher commented on #3894
Merged & back-ported, thanks!

[2018-08-28 15:49] #3894 closed

[2018-08-28 16:07] alireza08 commented on #4011
@asmecher yes this is the code version:

[code]

our website was first updated to OJS 3.1.1-1 and this problem existed. Then, I updated to OJS 3.1.1-2 and this persists.

[2018-08-29 09:59] lilients commented on #2072
@NateWr I added the lib/pkp in a seperate commit, but now github displays a conflict at the [ojs pull request](https://github.com/pkp/ojs/pull/2103), although the [lib-pkp pull request](https://github.com/pkp/pkp-lib/pull/4007) is fine. :thinking:

[2018-08-29 12:33] lilients commented on #1369
Hi everybody. Sorry I wasn't following this discussion earlier. I have been working on [versioning of published articles in ojs](https://github.com/pkp/pkp-lib/issues/2072) for a while now and for this I moved the publication date from `published_submissions` to `submission_settings` (see also [the technical doku in the PKP wiki](https://pkp.sfu.ca/wiki/index.php?title=Versioning)). I now created

[2018-08-29 16:51] alexxxmendonca opened #4021 "Article subtitles not showing in "how to cite""
When a manuscript has title and subtitle, once it gets published, only the title appears on the "How to cite" feature.

It should include both title and subtitle (when applicable).

[2018-08-29 16:53] alexxxmendonca opened #4022 "Page numbers not appearing correctly on "how to cite""
Article page numbers are not appearing correctly on the "how to cite".

Example: this paper has 18 pages and on the "how to cite" appears as "1-8" instead of "1-18".

![image](https://user-images.githubusercontent.com/4059679/44802771-f6439800-ab92-11e8-8425-6ee43df0788c.png)

http://repository.scielo20.org/documents/article/view/85

[2018-08-29 16:55] alexxxmendonca opened #4023 "Quote mark appearing as &quot on "How to cite""
Instead of appearing the quote mark itself, the system is showing a **&quot** on the "How to cite" feature:

![image](https://user-images.githubusercontent.com/4059679/44802825-1ecb9200-ab93-11e8-86a1-e44b818943fe.png)

http://repository.scielo20.org/documents/article/view/93

[2018-08-29 18:37] defstat commented on #3171
@NateWr I added the mentioned functionality.

[2018-08-29 19:52] asmecher commented on #4021
@alexxxmendonca, what version of OJS are you using?

[2018-08-29 19:52] asmecher commented on #4022
@alexxxmendonca, what version of OJS are you using?

[2018-08-29 19:52] asmecher commented on #4023
@alexxxmendonca, what version of OJS are you using?

[2018-08-29 19:56] alexxxmendonca commented on #4021
Apologies for lack of information: version 3.1.1-2.

[2018-08-29 19:56] alexxxmendonca commented on #4022
Apologies for lack of information: version 3.1.1-2.

[2018-08-29 19:56] alexxxmendonca commented on #4023
Apologies for lack of information: version 3.1.1-2.

[2018-08-29 20:04] defstat commented on #3543
@asmecher Tests passed.

[2018-08-29 20:10] asmecher commented on #3543
Thanks, @defstat -- please go ahead with the merge!

[2018-08-29 20:17] defstat commented on #3543
@asmecher everything merged.

[2018-08-29 20:19] asmecher commented on #3543
Thank, @defstat!

[2018-08-29 20:19] #3543 closed

[2018-08-29 20:34] asmecher commented on #3403
@defstat, yes, that makes sense to me.

[2018-08-29 20:34] #3403 closed

[2018-08-29 20:56] asmecher commented on #4011
@alireza08, have you installed the plugin someplace nonstandard? Is there an entry for it in the `versions` table?

[2018-08-29 21:09] asmecher opened #4024 "Ensure RoleBasedHandlerOperationPolicy is used where addRoleAssignment is used"

[2018-08-30 06:40] alireza08 commented on #4011
@asmecher , No it is an original version with default files and paths and I have set full permission for it.
This is from `versions` table:

[code]

[2018-08-30 14:53] jmacgreg opened #4025 "remove "STATISTICS_MAX_ROWS limit for stats downloads"
This is defined in lib/pkp/classes/statistics/PKPStatisticsHelper.inc.php at line 46 (https://github.com/pkp/pkp-lib/blob/master/classes/statistics/PKPStatisticsHelper.inc.php#L46) and referenced to in lib/pkp/classes/statistics/PKPMetricsDAO.inc.php in lines 191-196. It appears to be an artificial constraint meant to minimized timeouts (it'll only allow csv files to max out at 5000 rows before do

[2018-08-30 15:36] asmecher commented on #4025
This will be easy to remove, but the net effect is that users will start to see "out of memory" errors for longer reports. Is that preferable? (Legit question.)

[2018-08-30 15:46] jmacgreg commented on #4025
Yep, 100% preferable IMO to get an error if they hit the limit, and know something's gone wrong, as opposed to not getting an error and not knowing they don't have a complete data set.

[2018-08-30 15:47] jmacgreg commented on #4025
See also https://forum.pkp.sfu.ca/t/problem-ojs-usage-statistics-report/31113 - users report being able to download 25k+ lines without issue. This will differ from server setup to server setup of course, but the 5k limit is probably also just incredibly conservative.

[2018-08-30 15:48] ajnyga commented on #1692
I see this has been closed, but the request for landing pages for chapters was not included in the changes I think?

Is there an intention to add this feature? Could not find another issue related to it.

We are looking into a project where we would open a service for books. However, many of these books are edited volumes and the chapters are actually individual articles. I think that a chapter wi

[2018-08-30 15:50] asmecher commented on #4025
OK, done!

[2018-08-30 15:50] #4025 closed

[2018-08-30 18:38] ViRuSTriNiTy opened #4026 "[OJS] Reviewer step 1, privacy consent error message is displayed as ##...##"
Hi there,

this is a follow up of issue #3870.

The commits of the aforementioned issue mask the *missing* error translation. To reproduce this, just remove `privacyConsent` from `readInputData()` and try submit the form. It will still display `##...##` as an error message. To fix this the form needs to call `AppLocale::requireComponents(LOCALE_COMPONENT_PKP_USER)` as the translation is stored in

[2018-08-31 08:43] lilients commented on #2072
Hi! The tests are passing now! :tada: Next week I will add two small fixes (some data is displayed double: authors and submissions in the queryList). Also I am not sure if the database structure for authors is final. Maybe we should separate the author data from the connection between author and submission. I guess we should talk about this before merging. But if you want, you can have a look at t

[2018-08-31 09:19] NateWr commented on #1692
It seems like we'd be open to a contribution on this, @ajnyga.

[2018-08-31 10:30] ajnyga commented on #1692
Ok!

I think throwing in chapter page numbers would make sense? I have seen a request about that on the forum.

Also I think that adding chapter galleys at the moment is a bit too complicated (or I am just not familiar enough with OMP). I have a suggestion how to change this, but I still need to think it in more detail. But that is a separate issue anyway.

Overall, this is way down on my todo lis

[2018-08-31 10:54] ajnyga commented on #1692
The way I am seeing it is that in edited volumes the chapters should work more like articles in OJS. This would mean that chapters would have their own DOIs, landing pages and things like statistics.

But I am fairly sure (without looking in too deep) that the current database structure is not going to support this too easily.

Springer Link was already mentioned above and I think it is a very goo

[2018-08-31 11:26] klausru commented on #1692
Thanks @ajnyga for your comment which I fully support. The way Springer is disseminating their chapters is very similar to journal articles. Therefore it is also necessary to put these data into the DOI registrations (esp. towards DataCite) at OMP. Just download a sample XML of Springers DOI-Data from CrossRef to see how much is in there and how accurate it is.
Therefore, I already posted a featur

[2018-08-31 14:19] NateWr commented on #3281
@israelcefrin As we discussed, here's an example start on a CLI command that will use the new shema, validation and service classes:

https://github.com/NateWr/ojs/blob/i3281_cli_context/tools/ojsCli.php

You can find it and work from the classes which aren't yet in `master` by basing off of this branch:

https://github.com/NateWr/pkp-lib/tree/i3594_forms

A couple of things that came up:

1. The

[2018-08-31 15:39] celsoalevar opened #4027 "[OCS] Articles “Unassigned” not showing to assign reviewers"
I am using an admin account, and when I go to “USER HOME”, It shows [9 Unassigned] right of Director. When I click there, I can only see 4 articles that I can click on Title, and 2 that I can’t click. When I go to reports, I can download a spreadsheet with 9 articles. And on the folder of the conference (/ocs/files/conferences/3/schedConfs/15/papers) I can found the files.

PKP Forum: https://foru

[2018-08-31 22:10] asmecher commented on #4024
PRs/commits (master branch):
- https://github.com/pkp/pkp-lib/pull/4028
- https://github.com/pkp/ojs/pull/2110
- https://github.com/pkp/staticPages/commit/5b5eaac7c4a2c3f21dc29445b5bf50957cb82036
- https://github.com/pkp/customBlockManager/commit/13a4f753e197113752bc06e4a5eff0f9653a3f42
- https://github.com/pkp/translator/commit/ff153f5cb4733ce9723c0cf819f3aab78e14f370

[2018-08-31 23:40] stranack opened #4029 "Missing Translations (Spanish)"
##user.register.form.privacyConsent##
##user.register.form.emailConsent##
##user.reviewerPrompt.optin##

[2018-09-01 05:45] ajnyga commented on #2849
This came up on the forum. Just a reminder @asmecher that this still need the upgrade sql mentioned here: https://github.com/pkp/pkp-lib/issues/2849#issuecomment-336726942

The problem is the "Production editor" who has by default access to just copyediting and production, but because the role has the Journal Manager permission level, users with that role can access everything (right?). So that is

[2018-09-01 08:57] ajnyga commented on #2787
https://www.crossref.org/blog/org-id-a-recap-and-a-hint-of-things-to-come/

[2018-09-02 06:02] t4x0n commented on #4029
Hi @marcbria,
can you provide some translation? To help you I pasted below the chain of text in English, and indicated the file in which you can find those:

**pkp-lib**/locale/en_US/user.xml
<message key="user.register.form.privacyConsent"><![CDATA[Yes, I agree to have my data collected and stored according to the <a href="{$privacyUrl}" target="_blank">privacy statement</a>.]]></message>

**pkp-

[2018-09-03 18:56] ViRuSTriNiTy opened #4031 "[OJS] Submissions, ticked checks like submission requirements and privacy consent are not saved"
Hi there,

as the title already says, when adding a submission the ticked checks like submission requirements and privacy consent are not saved. This has several side effects like

1) the user needs to execute these checks again when returning to step 1
2) in case of the privacy consent the law requires the site owner to be able to prove that a user has actually ticked a privacy consent check-box

[2018-09-03 19:17] ViRuSTriNiTy commented on #2638
Hi there,

would you mind if I solve this issue and provide a PR?

Imho the task would be to add some code according to your comment in the forums

So lonG

[2018-09-05 07:39] ajnyga commented on #2072
Great to have this feature!

One question: if I understand correctly, the new feature will enable us to have different versions of the article metadata. One part of this metadata is of course the journal name, publisher name and ISSN. So what happens, if a journal changes their ISSN or journal name? This will effectively create a new version of the article metadata, but it will not be tracked with

[2018-09-05 07:55] mtub commented on #2072
I don't share that view, @ajnyga - if a journal changes name and ISSN later on, the original article will still be published with the old journal name and ISSN. Metadata changes regarding the journal itself should be reflected in search engines, library systems etc. so that you can still find the old articles. But updating the journal name of an already published article would be very misleading i

[2018-09-05 08:28] ajnyga commented on #2072
I agree @mtub and this was my original concern (although I probably was not too clear about it in the first message).

Currently, and after this feature is released, the situation is that when a journal changes their name, it will affect the metadata of **all** published articles. The versioning feature here will not track this change, but for example OAI-PMH will show new metadata for all article

[2018-09-05 12:32] lilients commented on #2072
Hi everybody. All tests are passing and the new features can be used (pdfs only without the pdf js viewer plugin - that needs to be adapted). Two small bugs are still there (I will fix them in the last week of september). Maybe the code can be merged anyway. Have a look at the code and get back to me if you find major bugs or other problems.

- [ ] versions are displayed at the submissions grid bu

[2018-09-05 15:02] mfelczak commented on #4014
@ajnyga, did you have any luck with DMARC with your tweaks to setFrom?

[2018-09-05 21:29] 1nthemist commented on #3262
Hi there! Thanks for updating the Sword-Plugin, I'm now trying to test it.

I first installed it manually and it didn't work (as mentioned in the previous comment). I'm now trying to install it using the Plugin Gallery in OJS and it shows me this message:

"Plugin was not successfully copied. This may be a permissions problem. Please make sure that the web server is able to write to the plugins di

[2018-09-05 21:40] asmecher commented on #3262
@1nthemist, the best place to get support on this is our support forum (https://pkp.sfu.ca/support/forum).  If you can post this message there, I can follow up.

[2018-09-05 21:40] #3262 closed

[2018-09-05 22:38] asmecher opened #4034 "Permit additional types of files to be attached to editor decision emails"
Editor decision emails such as Accept or Request Revisions currently allow review attachments to be included for the author to review.

Some editors may want to directly upload a marked-up copy of the file for the author to use as a basis.

Editors may have already used the discussion feature for this.

Permit editors to choose from a broader set of files to attach, and if feasible, let them uploa

[2018-09-05 22:40] asmecher commented on #4034
(If we permit uploads to happen directly to a grid in the promote box, I'm not sure where on the workflow stage they should appear. Will it be strange if a file exists only in the promote box between stages, and not somewhere on the stage it's coming from?)

[2018-09-05 22:46] asmecher opened #4035 "Permit nonresponsive reviewers to be "dismissed""
When a reviewer confirms a review but does not complete it, it will be flagged as an overdue review. However, there is no way to "dismiss" the reviewer, so the alerts continue appear for editors (and authors).

Add a tool to record that a reviewer is not expected to respond, which can clear the alerts for editors and authors. It should include an optional email to the reviewer. Ideally this would

[2018-09-05 23:00] asmecher commented on #4034
This is a duplicate! https://github.com/pkp/pkp-lib/issues/2438

[2018-09-05 23:00] #4034 closed

[2018-09-05 23:06] asmecher commented on #4026
@ViRuSTriNiTy, yes, please do -- it's best to send it to the `master` branch, and I'll take care of cherry-picking as needed.

[2018-09-05 23:09] asmecher commented on #4031
Storing them in `submission_settings` is the best option. However, if you're concerned about liability, you might also need to consider that the saved setting would need to store *what* was agreed to -- otherwise the Journal Manager would be able to edit the setting, and a simple yes/no stored with the submission would not indicate what version had been agreed to.

[2018-09-05 23:10] asmecher commented on #2638
Yes, please do -- I'd be happy to review both the interface (where you put the data) and the code aspects if you have a proposal.

[2018-09-06 09:00] kkrebs commented on #3262
the posted link is outdated, you find the appropriate discussion here:
https://forum.pkp.sfu.ca/t/ojs-3-1-1-2-sword-plugin-not-installing-due-to-permissions/48280

[2018-09-06 09:12] NateWr opened #4036 "Reviewers receive a 0 rating when a review assignment is accepted"
Steps to reproduce:

1. Create new reviewer.
2. Assign reviewer to a review.
3. Login as reviewer.
4. Accept review (but don't complete it).

What happens:

When assigning this reviewer to another review, they have a 1/5 star rating. When looking at the review assignment in the database, it has a `0` value for `quality`.

What should happen:

A review assignment should have a `NULL` value for `qua

[2018-09-06 10:01] NateWr opened #4037 "Submissions list includes unnecessary user role check for new submissions"
From @ajnyga:

[2018-09-06 12:53] ajnyga opened #4038 "UsageStats plugin not visible for journal managers"
Hi,

I know that the UsageStats recently changed so that it is handled from the site level. However, I understood that journals can still bypass the site level settings by making their own journal level settings. For example, they can enable the public download stats.

But, I recently learned that the journal managers can not see the UsageStats plugin at all in the plugins listing? Is this intende

[2018-09-06 14:40] asmecher commented on #3262
Oops! Thanks, @kkrebs, my earlier link has been outdated for at least a couple of years.

[2018-09-06 16:26] ajnyga commented on #4038
Adding `return !Application::getRequest()->getContext();`
here https://github.com/pkp/usageStats/blob/master/UsageStatsPlugin.inc.php#L176
is probably enough?

[2018-09-06 17:38] ajnyga commented on #3291
I am closing this issue, because I have not seen this in the OJS 3.1.1.2 update anymore. So something has maybe changed.

[2018-09-06 17:38] #3291 closed

[2018-09-06 19:02] asmecher commented on #4009
The proposed fix makes sense to me (caveat: limited knowledge of stats code) and I've merged it and back-ported to `ojs-stable-3_1_1`. I added a comment at https://github.com/pkp/ojs/pull/2105#issuecomment-419206189 for potential broader review. Thanks, @ctgraham and @ajnyga!

[2018-09-06 19:02] #4009 closed

[2018-09-06 20:35] asmecher opened #4040 "Clean up/remove ReviewerSubmission class"
This mixes concerns between the Submission and ReviewAssignment objects, and duplicates some of the update code. Refactor to remove.

[2018-09-06 20:35] asmecher commented on #4036
@NateWr, would you mind having a look at this? The material change is the removal of an int cast in the OJS PR. This pointed to some really outdated code we're still using; I've filed some later cleanup at https://github.com/pkp/pkp-lib/issues/4040.

[2018-09-06 20:39] asmecher commented on #3935
This was already merged into `ojs-stable-3_1_1`, so I resolved a merge conflict on the `master` branch PR and committed it. Closing the issue. @bozana, when you get the chance, please let me know if I missed something here!

[2018-09-06 20:39] #3935 closed

[2018-09-06 22:41] asmecher commented on #2072
@lilients, I suspect that these changes have not been adapted to OMP, have they? (Unfortunately that's a blocker for merging immediately, as that would break the master branch of the OMP repo.)

[2018-09-06 22:44] lilients commented on #2072
@asmecher yes I feared something like that. :frowning_woman:

[2018-09-06 22:46] asmecher commented on #2072
I don't see any away around it but porting this to OMP as part of the merge. I'm too buried to take a look at it now, but I'll try to make it a priority later this month.

[2018-09-07 08:34] NateWr commented on #4036
:+1: looks good!

[2018-09-07 08:36] NateWr commented on #4036
That makes sense, but there will be bad data from people who have already upgraded to 3.1.1, since those upgrade scripts won't be run again, right? Maybe we can include something with 3.2?

[2018-09-07 09:50] marcbria commented on #4029
Hi,

Thanks Kevin to rise it up and Carlos for the search.

I took a look and the 3 chains are included in the last delivery we made before vacations, and @mtub merged them all against **master** branch. Please, Marco, correct me if I'm talking rubbish.

* ##user.register.form.privacyConsent##
  * https://github.com/pkp/pkp-lib/blob/41208054f717490fb2eddd841661f57c4e81e0bc/locale/es_ES/user.xml#L1

[2018-09-07 15:48] #4036 closed

[2018-09-07 15:50] asmecher commented on #4036
Merged and ported back to `ojs-stable-3_1_1`.

I'm leaning against selectively clearing the data; we would need to clear data only from 3.1.1-0 to 3.1.1-2 (this data will be fine for 2.x upgrades, for example), and clearing in that range would certainly take out good data with bad (the 0 is introduced on reviewer acceptance, so editors making heavy use of the rating feature will already be correct

[2018-09-08 01:46] stranack opened #4041 "Issue Data - Title Only Not Linked"
When a journal has added issue data for volume, number, year, and title, but ONLY checked the Title checkbox, the issue entry is displayed on the public Archives page, but it is not linked.

[2018-09-09 07:47] ajnyga opened #4042 "Editorial history should save the datestamp when a new review round starts"
At the moment it is hard to determine what has happened during review round 1 and what during review round 2.

[2018-09-09 18:28] ViRuSTriNiTy opened #4043 "[OJS] lib/pkp/tools/buildjs.sh is not working in Windows Subsystem for Linux / Debian"
Hi there,

as already discussed in the [forums](https://forum.pkp.sfu.ca/t/ojs-3-how-to-recompile-pkp-min-js/48252) the script `lib/pkp/tools/buildjs.sh` does not work correctly in Windows Subsystem for Linux / Debian. The issue is the `sed` call whereas matching `(function(\$) {` does not work.

I will provide a PR.

So lonG
Daniel

[2018-09-09 19:23] ViRuSTriNiTy opened #4046 "[OJS] Review form elements, proposal for a description field"
Hi there,

i have added a description property to review form elements to display a description below the element title. The relevant discussion can be found in the [forums](https://forum.pkp.sfu.ca/t/description-for-review-form-elements/48070).

I will provide a PR.

So lonG
Daniel

[2018-09-09 20:32] ViRuSTriNiTy commented on #4046
Sorry for the broken PR (3a12da3 and c32cad1), had a end of line sequence issue, created a new PR instead (#4047)

[2018-09-10 06:00] ajnyga commented on #4042
Ok, so when you start a new review round, the editorial history says "An editor decision (Resubmit for Review) for article 48 was recorded by admin admin." which is the exact same entry as the one you get when you actually record a decision like that. This is a bug right?

[2018-09-10 06:45] ajnyga commented on #4042
@NateWr what do you think? I could do a quick pr for the new message if you agree.

[2018-09-10 10:12] NateWr commented on #4036
I _think_ we can safely clear any ratings that are set to `0`. I don't believe it's possible to give a `0` rating between `3.1.1-0` and `3.1.1-2`. It should always be `NULL` or `1-5`. So I think the following would only clear out bad ratings:

[code]

I'd push for us to consider this because showing an incorrect 1-star rating could be pretty bad from a professional perspective. Consider the follow

[2018-09-10 10:48] ajnyga commented on #4042
That does not sound right, doing a "resubmit for review" decision and starting a new review round are really two totally different things.

When an editor does a "resubmit for review" decision on Round 1, the editor explains to the author the changes needed based on review reports from round 1. The author then sends the new version of the manuscript including those changes to the Revisions box in

[2018-09-10 12:08] NateWr commented on #4042
My understanding is that "revisions requested" should be used when revisions are not expected to require another round of review. The ambiguity between these two is obviously a source of confusion.

[2018-09-10 12:14] ajnyga commented on #4042
Yes "revisions requested" is usually used if no new review round is expected. I just wanted to underline that the decision there is just a label.

If I do a "revisions requested" decision, I can still start a new review round when the revisions arrive
If I do a "resubmit for review" decision, I can still just accept the revised article without the new round.

If I would decide, I would change the

[2018-09-10 14:10] NateWr opened #4048 "Alt text for journal thumbnail is not used on site index page"
On the site-wide index page, journals are displayed with their journal thumbnails. Each thumbnail should have alt text, but the current default templates do not use this properly. Currently, the code looks like:

[code]

This should actually be:

[code]

I believe this is also an issue in the Bootstrap theme and may be in other themes.

[2018-09-10 19:31] GasparPizarro opened #4049 "Cannot upload plugin"
I just did a checkout of the OJS repo, checkout c83397088eebe1e63dcffc4af3fde87517105e7a, and did everything, create an admin, and when I try to upload a plugin as admin user (the first one I create, in the installation step), and the system responds with

    The current role does not have access to this operation+

So I cannot upload plugins. Nevertheless, I can upload plugins successfully when

[2018-09-10 19:49] asmecher commented on #4049
@GasparPizarro, try fetching the latest code in the submodule in `lib/pkp`.

[2018-09-10 21:55] asmecher commented on #4049
(Closing pending further follow-up)

[2018-09-10 21:55] #4049 closed

[2018-09-10 22:02] #4024 closed

[2018-09-11 00:14] asmecher commented on #4043
Thanks, @ViRuSTriNiTy -- this checks out for me in my Debian environment as well. Merged!

[2018-09-11 00:14] #4043 closed

[2018-09-11 00:17] asmecher commented on #4026
Merged -- thanks, @ViRuSTriNiTy!

[2018-09-11 00:17] #4026 closed

[2018-09-11 08:45] mtub opened #4050 "[OJS] locale updates for 3.1.1-4"
* cherry-pick latest updates to `master` branch to `ojs-stable-3_1_1` branch

[2018-09-11 13:50] Vitaliy-1 opened #4052 "Errors on the PDF galley page"
Errors in the Google Chrome console:
![pdf_error](https://user-images.githubusercontent.com/20665587/45363704-dbd0dc00-b5e0-11e8-9189-8976dfa6caa7.jpg)

First, inside the `display.tpl` this [line](https://github.com/pkp/pdfJsViewer/blob/8032a238fb1206335307b2df208a4801cd9f82fb/templates/display.tpl#L60) refers to unexistent element.

Second, I believe this code intended to pass height and width of

[2018-09-11 16:14] mtub commented on #1741
Sorry for neglecting this - I thought these translations had long been provided. If anyone is willing to send a pull request, I will gladly (and quickly) review and merge it.

[2018-09-11 16:14] #1741 closed

[2018-09-11 18:41] Vitaliy-1 commented on #4052
@asmecher if it's really dead code, I can delete those lines and make a pull request to the plugin. And probably this issue should also go to the plugin's Github page...

[2018-09-11 19:36] defstat commented on #3171
@NateWr I have concluded the review.

I added the OMP specific form which I am calling from the grid handler in pkp-lib code. is that correct? if yes i should do the same for OJS, even though there are no additional types for OJS....

[2018-09-11 20:14] asmecher commented on #4052
We aren't especially consistent on whether issues get filed here (in the pkp-lib issue list) or in the plugin issue list -- but it's likelier for an issue to get forgotten if it's on the plugin list, so I'd suggest leaving it here. Please do open a PR against the plugin's repository and drop a link to the PR here, thanks!

[2018-09-11 21:03] asmecher commented on #2638
(Assigning to @defstat for when a pull request is available for review)

[2018-09-12 08:59] NateWr commented on #4048
PR:
https://github.com/pkp/ojs/pull/2117

[2018-09-12 09:00] ajnyga commented on #2508
Note that "Login as" was added in 3.1.1.2.

However, it is not a good solution in multi journal installations, because the journal editor can not log in as an user who is registered in several journal.

So the ability to:
- decline on the behalf of the reviewer
- accept on the behalf of the reviewer
- and fill the form through the editorial workflow on the behalf of the reviewer
would be needed

[2018-09-12 09:00] NateWr commented on #4048
@Vitaliy-1 did you have a chance to check if this same issue exists in the Bootstrap theme or any of the other official themes?

[2018-09-12 10:03] ajnyga opened #4053 "Alphanumeric validator and UTF8 supported characters in usernames"
Hi,

The Finnish language includes letters like ä, ö and å. For Finnish users these are part of the definition of "alphanumeric".

However, the validator here does not seem to take into account these letters: https://github.com/pkp/pkp-lib/blob/master/classes/form/validation/FormValidatorUsername.inc.php#L31

Also I think the registration form should have a description under the username field tha

[2018-09-12 10:04] NateWr commented on #3171
:+1: Looks good @defstat. I did some manual testing and all is working as expected.

Yeah you'll need a dummy class for OJS, but it can be empty like this:

[code]

[2018-09-12 10:07] mittinatten opened #4054 "Overridden plugin templates in theme not shown in child theme"
Hi,
If a theme plugin overrides a template from another plugin, i.e. has a file `templates/plugins/.../templates/foo.tpl`, it will be shown correctly when using the theme itself, but in child themes the original template will be used instead. Copying the template from the parent theme to the child theme solves the issue.

See this issue for a specific example: https://github.com/pkp/healthSciences

[2018-09-12 10:50] alexxxmendonca commented on #2508
I fully agree with @ajnyga

[2018-09-12 18:00] ajnyga opened #4056 "Change the default DOI suffix patterns so that they support future changes in OJS"
Hi,

At the moment the default pattern of the DOI suffix for articles includes data like issue volume that is available only in the very late stages of the editorial process. I can not see any reason why it should include this data, because DOIs are not meant to be human readable - just unique inside the prefix scope.

When OJS starts to support for example the continuous publishing model (no issu

[2018-09-12 18:49] mtub commented on #4056
I fully support this - and I'd like to ask why there has to be a default at all. Or why that default can't just be "%a"…

[2018-09-12 18:52] #4050 closed

[2018-09-12 19:10] ajnyga commented on #4056
sure, inside an OJS installation %a is always unique. But %j.%a looks better 😆

[2018-09-12 22:26] asmecher opened #4057 "Remove misplaced/unwanted DC11 locale files"
There are currently locale files in `plugins/metadata/dc11/xx_YY` (rather than `plugins/metadata/dc11/locale/xx_YY`). They are currently not used and seem extraneous; remove them.

[2018-09-12 22:28] #4057 closed

[2018-09-13 08:34] Vitaliy-1 commented on #4052
https://github.com/pkp/pdfJsViewer/pull/30

[2018-09-13 13:58] #4048 closed

[2018-09-13 15:23] pilasou opened #4058 "[OJS] When uploading his/her revision file, the author cannot choose "revision of an existing file""
Bonjour,

In OJS documentation (https://docs.pkp.sfu.ca/learning-ojs/en/authoring#responding-to-a-review), It is mentionned that the authors can use the dropdown menu to choose that you are uploading a revision of an existing file.

However, in our implementation and in OJS Testdrive, the upload window does not offer this opportunity.

See print screen from OJS TestDrive
![upload_revision](https:/

[2018-09-13 15:36] pilasou opened #4059 "[OJS] No email sent to author when article goes to external review"
Bonjour,

In OJS, when sending an article to review, no email is sent to the author. However, a template exists in OJS to do so: "Editor Decision Send To External". This email should be sent to Author to notify them that their submission is being sent to an external review.

Can this email be added as part of the workflow?

Repro steps
Make new submission as Author
As editor, open the new submissi

[2018-09-13 16:59] defstat commented on #3171
@NateWr review comments fixed.

Just adding that comment to have all PRs together. pkp-lib and omp PRs are the same that we where working on. OJS PR added. Waiting for tests to pass on OMP/OJS.

PRs:
pkp-lib: #4008
omp: pkp/omp#592
ojs: pkp/ojs#2118

[2018-09-13 18:57] pilasou commented on #4059
We are on OJS 3.1
I also test on OJS TestDrive Demo site.

[2018-09-13 19:26] t4x0n commented on #4059
Oh, I understood now!  really is not a bad idea, but I think this email is not sent because the author can see if the manuscript has reviewers or not

[2018-09-14 08:30] asmecher commented on #4053
@ajnyga, I think this is essentially a dupe of https://github.com/pkp/pkp-lib/issues/906. Essentially the conventions have evolved far enough away from `[a-zA-Z]+` that I'm open to both proposals -- relaxing the allowed characters, and moving to email-based logins.

[2018-09-14 08:31] asmecher commented on #906
(See essentially the same proposals at https://github.com/pkp/pkp-lib/issues/4053)

[2018-09-14 08:31] #4053 closed

[2018-09-14 08:34] asmecher commented on #4054
@mittinatten, what version of OJS are you using?

[2018-09-14 08:36] asmecher commented on #2787
Do we have confidence that any of the proposed services have enough coverage that we wouldn't be creating a problem e.g. for developing-world institutions? I worry that fixing things on a third-party controlled vocabulary would be exclusive.

[2018-09-14 08:40] asmecher commented on #4027
@celsoalevar, essentially OCS isn't maintained at the moment, so I can only provide limited assistance -- but are you using the two-stage (abstract followed by submission) process? I suspect the "missing" submissions are awaiting abstract submission from the author.

[2018-09-14 09:09] ajnyga commented on #2787
I think that any solution that includes permanent identifiers like DOIs, ORCIDs and Organization ID's have to be built on the assumption that not all articles / researchers / organizations have an ID. This will never change.

But that should not stop us from building solutions based on those identifiers.
OJS should just work so that it does not assume a certain type of identifier.

When you add an

[2018-09-14 09:13] NateWr opened #4061 "Remove reference in Plugin::register() method argument"
From [Alec](https://github.com/pkp/customBlockManager/pull/42#issuecomment-421269158):

[2018-09-14 09:23] #4046 closed, assigned to nobody

[2018-09-14 09:39] ajnyga commented on #4053
There are many sides to this.

Login by email is good, but I did realize that the username is a handy shortname to have around the workflow.

I do think the current username rules are too strict, but we should not allow whole names as usernames either. It beats the purpose imho.

[2018-09-14 09:48] mittinatten commented on #4054
OJS 3.1.1-2

[2018-09-14 10:48] NateWr commented on #3171
Great @defstat. It looks like you've just got one JS linting error to fix:

https://travis-ci.org/pkp/omp/jobs/428255357#L1086

Otherwise it's good to go!

[2018-09-14 12:57] Taomach opened #4062 "[OJS] Editorial history does not work"
I am using the latest git version of OJS (currently 125e2fa468), and the editorial history dialog never finishes loading for me on any submission. I don't see any errors in the apache log file, and don't know where to look. How do I investigate and resolve this issue?

[2018-09-14 16:41] celsoalevar commented on #4027
I am using a one stage. We found a way to assign the articles, clicking two times in ID and sorting descendent.
It looks like these two submission have some problem that breaks the view, and the system doesn't show the others. So, if I order as descending, as these two articles are the first one sent, they stay as the last one. So the system just show the first of two, just the ID, date and Track,

[2018-09-14 17:55] defstat commented on #3171
@NateWr Tests have passed!

[2018-09-15 17:09] carzamora opened #4064 "SUBMISSION_ACK string is repeated in emailTemplates.xml (Spanish)"
I made a PR with some changes, in order to improve the emails templates, thank @marcbria for your lasts changes in all xml Spanish files, there was a very good job! Can you review my Pull Request (https://github.com/pkp/ojs/pull/2119) and say me what do you think?

Thanks!!

[2018-09-15 17:33] Vitaliy-1 opened #4065 "Issue ordering on the archive page"
OJS 3.1.1-4 PHP 7.2

If there was no prior ordering (through the dashboard), on the archive page issues appear in a random order. Replicated in the default and other themes. For example: https://e-medjournal.com/index.php/psp/issue/archive

[2018-09-16 09:31] ajnyga commented on #4065
So they do not follow the issue published date?

[2018-09-16 11:57] Vitaliy-1 commented on #4065
Nope. It seems that the order is fully random on every page load until the user somehow manages ordering from a dashboard. For example, pressing order button and just saving the form resolves the problem.

[2018-09-16 12:02] Vitaliy-1 opened #4066 "Menu is visible even if contains only inaccessible for user items"
Checked with latest changes (that are not yet shipped for OJS 3.1.1-4). But I suppose it is quite a rare case.
[This line](https://github.com/pkp/pkp-lib/blob/9cfa809ab732209515f56acd0b8807b1a9de1995/templates/frontend/components/header.tpl#L80) checks only if there are any items inside the menu, but not if at least one of them is accessible.

[2018-09-17 06:07] ajnyga commented on #4042
@asmecher do you have time to check this.

If I am wrong on the issue, then I have to quickly revise the translation for the Learning OJS guide and I think the original English version also needs some clarification (I think having the whole Round 2 process explained in the guide would be a good thing).

[2018-09-17 07:17] carzamora opened #4067 "better Spanish translation /locale/es_ES/manager.xml"
Hi @marcbria,
I found two strings in [/locale/es_ES/manager.xml](https://github.com/pkp/pkp-lib/blob/master/locale/es_ES/manager.xml#L264) that are not correct, here I left the English version:
[code]

but, currently in Spanish appear this:
[code]

I think is more correct, especially for the second one:
[code]
El contexto: estos textos solo aparecen cuando el editor llega a la seccion de plugins,

[2018-09-17 08:55] bozana commented on #4038
Hi @ajnyga and @asmecher, it is intended that the UsageStats plugin is a site-level plugin i.e. manageable only by admin user. And I believe all site-level plugins are treated the same in the JM view, correct? Thus, is this a general question/feature to be considered for site-level plugins?

[2018-09-17 09:08] bozana commented on #4052
Ah, nice, I think this code also lead to logging the usage/access by the usagestats plugin twice... :+1:

[2018-09-17 09:11] ajnyga commented on #4038
Welcome back 😄

[2018-09-17 09:15] ajnyga commented on #4038
I think that it would make sense that
1. Site-level plugins can not be disabled by journal managers BUT
2. Journal managers can change the context specific settings of such plugins.

I mean at the moment journal managers can not for example enable the article level metrics display by themselves.

Maybe there should even be a distinction between settings accessible for site administrators and setti

[2018-09-17 09:29] bozana commented on #4038
@ctgraham started a discussion and work on a general solution for this, s. https://github.com/pkp/pkp-lib/issues/1923. I do not know what is the current status there, but... would that consider the feature mentioned here? -- So we can maybe continue the discussion there?

[2018-09-17 10:20] ajnyga commented on #4038
Let's see what Clinto says.

Just a note that the code addition I suggested above is from here: https://github.com/asmecher/customHeader/blob/master/CustomHeaderPlugin.inc.php#L130-L140
I thought it was a mistake that his line was missing from the usageStats plugin.

[2018-09-17 10:55] NateWr commented on #2665
If we add a button that says "submit revisions" or "notify editors of revisions", we'll be implying that revisions remain private to the author until this button is clicked. But as soon as a revision file is uploaded it is available to the editor.

To get around this, you'll need a new file stage that's private to the author until revisions are submitted. And then we introduce a category of data w

[2018-09-17 11:13] ajnyga commented on #2665
I can not see how a button stating "Notify editor of new revisions" implies that the files are private before that? I think it implies that the editor has not been notified about the uploads yet. It would just be a button that would open a modal window with maybe a preformatted message the author could send as such or add some more details. And sending it would just create a new discussion with th

[2018-09-17 11:28] NateWr commented on #2665
I disagree. I don't think users interact with button labels in such a literal way. Create > Save > Publish is  a common pattern that is likely to influence how users perceive what is happening. It's a shame the author revision isn't already built to follow that flow.

The problem you're facing (too many emails) is a good example of how a quick fix for [one UX problem](https://github.com/pkp/pkp-li

[2018-09-17 11:56] ajnyga commented on #2665
Ok, the thing is I have received so many complaints about this, I have to solve this in our own installation.

[2018-09-17 12:41] amandastevens opened #4068 "Implement cover image attribution for articles and issues"
When uploading a cover image for either an issue or an article, it is possible to add alternative text after the image has been uploaded but not an attribution for the image source.  A common use case is wanting to use someone else’s work as cover image for either the issue or article, for instance using a creative commons licensed image.  Therefore, a requirement to use such images as cover image

[2018-09-17 13:03] NateWr commented on #3171
:+1: merged! Nice work!

[2018-09-17 13:40] forgive38 commented on #4059
Hello,
I agree, we would give too much information to the authors

[2018-09-18 09:17] marcbria commented on #4067
You are right @t4x0n thanks.

Let us make a little style change in your first proposal. The coma after the conjunction is also right but we prefer avoiding it.

From this:
`<message key="manager.plugins.installedVersionNewer">Este módulo ya existe, y es una versión posterior a la que está disponible en la galería.</message>`

To this:
`<message key="manager.plugins.installedVersionNewer">Este módu

[2018-09-18 10:43] ajnyga opened #4070 "Uploading revisions creates an incomplete email_log entry"
Hi,

When the author uploads a new file the system sends a REVISED_VERSION_NOTIFY message to the editors. https://github.com/pkp/pkp-lib/blob/master/controllers/wizard/fileUpload/PKPFileUploadWizardHandler.inc.php#L362

However, in the email_log details like sender_id, ip_address and event_type are missing. The last two are saved as NULL and the sender_id as `0`.

OJS 3.1.1.2

[2018-09-18 11:29] ajnyga commented on #4070
Seems that $mail->send(); here https://github.com/pkp/pkp-lib/blob/master/controllers/wizard/fileUpload/PKPFileUploadWizardHandler.inc.php#L362 should be $mail->send($request);

After providing the $request there, the sender_id and ip_address are saved to the log.

[2018-09-18 11:34] ajnyga commented on #4070
For the event_type, it seems that no event_type is defined for the REVISED_VERSION_ NOTIFY message? https://github.com/pkp/pkp-lib/blob/master/classes/log/PKPSubmissionEmailLogEntry.inc.php#L22

[2018-09-18 13:41] Vitaliy-1 opened #4072 "Submission metadata form: pressing save button triggers browser errors"
OJS 3.1.1-4

Tested with latest Chrome and Firefox. Reproduced on several OJS instances that was upgraded from v.3.0 and 3.1.1
Occurs on any stage except when an author submits an article. Nevertheless, the actual data entered in the form are saved. No errors in PHP logs. After pressing the save button form doesn't disappear:
![metadataform](https://user-images.githubusercontent.com/20665587/45691

[2018-09-18 13:42] Vitaliy-1 commented on #4072
Related discussion on the forum: https://forum.pkp.sfu.ca/t/various-javascript-errors-in-ojs-3-1-1-2/48489

[2018-09-18 14:40] eirikhanssen opened #4073 "[OJS] mergeUsers does not update user_id in all relevant tables in the database"
**Describe the bug**
when merging user accounts, the **user_id** field is not updated in several tables in the database.

- email_log_users
- item_views

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Users and Roles
2. Click "Merge User" on a user with entries in the tables listed above.
4. See error in db tables

**What application are you using?**
OJS 3.1.1.2

**Additiona

[2018-09-18 20:56] mfelczak opened #4074 "Access denied when trying to access some editorial/JM functions"
In OJS 3.1.1-4 when a JM navigates to Tools > Statistics and clicks on the 'Generate custom report' button an "Access Denied" pop-up is displayed and the report generator does not load.

[2018-09-19 05:41] t4x0n commented on #4067
perfect @marcbria, here is the PR: https://github.com/pkp/pkp-lib/pull/4075

[2018-09-19 13:02] ptrckb opened #4076 "Test suite passes despite failures in plugins tests"
Tests for application plugins are run but their results are ignored. For example see https://travis-ci.org/pkp/ojs/jobs/427911620#L2391

[2018-09-19 13:16] ptrckb commented on #3998
I think this has been fixed by pkp/staticPages@c7d0501902ae61d672a0440384e0af47ffde06ef

[2018-09-20 06:12] asmecher commented on #4074
Also reported here: https://forum.pkp.sfu.ca/t/report-generator-access-denied/48503

[2018-09-20 06:45] #3171 closed

[2018-09-20 08:05] NateWr commented on #4072
@Vitaliy-1 can you check the Network tab in the devtools? You should see the request that was sent when saving the form, and the response that was sent back. It seems the JSON is malformed, so there should be some hint in the response.

[2018-09-20 08:34] asmecher commented on #3998
Yes, that would explain it -- @mfelczak, please re-open if that doesn't do it for you.

[2018-09-20 08:34] #3998 closed

[2018-09-20 13:59] t4x0n commented on #4059
@asmecher or @NateWr  can take desitions about that, we just propose it and wait ;)

[2018-09-20 14:57] NateWr opened #4081 "Replace announcements grid with Vue.js list panel"

[2018-09-21 11:10] stranack opened #4082 "Add link option for home page image"
Currently, the Appearance page allows for a home page image upload. It would be helpful to add a URL field, to make the image linkable on the home page (Heidelberg sprinters).

[2018-09-21 11:13] stranack opened #4083 "“Select Library Files to attach” should not display if there are no files in the Publisher Library"
Through the system, there is a button to “Select Library Files to attach” which allows for attaching files from the Publisher Library. This button should not appear when there are no files in the Publisher Library.
- Heidelberg sprinters

[2018-09-24 05:59] ajnyga opened #4084 "Bad template calls in master branch OAI metadataformats"
marc:
`[Mon Sep 24 08:55:32.973077 2018] [:error] [pid 28281] [client ::1:50989] PHP Fatal error:  Uncaught  --> Smarty: Unable to load template 'app:/Applications/XAMPP/xamppfiles/htdocs/ojs-sprint/plugins/oaiMetadataFormats/marc/record.tpl' <-- \n  thrown in /Applications/XAMPP/xamppfiles/htdocs/ojs-sprint/lib/pkp/lib/vendor/smarty/smarty/libs/sysplugins/smarty_internal_template.php on line 195`

[2018-09-24 10:31] josuevalrob commented on #1667
what happened with Keywords?

[2018-09-24 13:46] odolany opened #4085 "[OJS] Plugins directory access"
entering the plugin folder directly returns an error
https://demo.publicknowledgeproject.org/ojs3/demo/plugins/oaiMetadataFormats/dc/index.php

At worse server configurations it shows: Call to undefined function import() in /var/www/
maybe "index.html" files should be in all subfolders in standard release to avoid such problems?

[2018-09-24 14:26] CFanselow opened #4086 "Sorting catalog by title in OMP 3 multi-language installations"
Ordering by title does not work for multi-language installations in OMP 3.1.1. See
https://forum.pkp.sfu.ca/t/sorting-catalog-by-title-in-multi-language-omp-3-1-1-installations/48423

[2018-09-24 14:53] mfelczak commented on #4074
Access also denied to Static Pages plugin tab under Settings > Website

[2018-09-24 14:55] mfelczak commented on #4074
May be worthwhile to review other plugins that add tabs to the JM Settings pages.

[2018-09-24 15:26] amandastevens opened #4087 "Make revision files available for selection at Copyediting stage"
**Describe the bug**
When trying to add a file to the Draft files area, I can not select Revision files. I would expect all files to be shown when the user clicks "Show files from all accessible workflow stage", but files cannot be moved from the Review stage to the Copyediting stage after the Review stage has been completed.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as the auth

[2018-09-24 16:02] asmecher commented on #4085
@odolany, the potential display of server configuration is the reason that it's recommended not to enable the `display_errors` setting in a production PHP environment: http://php.net/manual/en/errorfunc.configuration.php#ini.display-errors

Adding `index.html` files would not prevent this, as you could still enter `index.php` manually to get the error message.

[2018-09-24 16:02] #4085 closed

[2018-09-25 04:37] ajnyga opened #4088 "Report generator not returning all results"
While exporting statistics for a journal using the report generator, I noticed that whole issues are missing. I choose for example article file downloads and set the time period between 1 January and this day.

The result is that issues published between 2015-2018 are missing from the statistics. There are entries in the database for these years, but for some reason they are not added to the repor

[2018-09-25 06:03] ajnyga opened #4089 "View report does not remove linebreaks from titles"
This makes it hard to open the report for example in Excel, because the data of some articles is in two, or more, rows.

All linebreaks should be removed from the title when added to the view report. Fix in a sec.

OJS 3.1.1.2

[2018-09-25 07:12] bkroll commented on #1550
Thanks to @NateWr to point to this ticket after talking about this at the Heidelberg sprint! I really like the approach of @ajnyga's finto plugin, because it is a slim and clean approach. However, using that OCLC api suggested, we could run into GDPR issues as soon as non-employees use this function (because the call to the api generates connection metadata with a third-party server) - at least th

[2018-09-25 08:09] ajnyga commented on #4088
So this is probably the same thing: https://github.com/pkp/pkp-lib/issues/4025

[2018-09-25 08:28] ajnyga commented on #4088
Yes, the same issue!

[2018-09-25 08:28] #4088 closed

[2018-09-25 08:50] marcbria commented on #1550
Looong time ago I developed a [plugin for tema3](http://wayback.archive-it.org/7100/20160820122634/https://pkp.sfu.ca/support/forum/viewtopic.php?f=28&t=4800) (now called [vocabularyserver](http://www.vocabularyserver.com)) that includes an API to be integrated with third party tools. I can recover this outdated code if you think it could be useful for building a new ojs3 version. The plugin asked

[2018-09-25 09:15] ajnyga commented on #1550
Having an own seal of approval would be great ! 😂

I remember your plugin. I think I built the first version of my plugin for OJS2 using your's.

Finto is a Finnish ontology service maintained by the national library. It has several ontologies/vocabularies that you can use with their API (https://finto.fi/en/about). My plugin uses YSO (General Finnish Ontology https://finto.fi/yso/en/) which was o

[2018-09-25 10:36] marcbria commented on #1550
I'm so sorry for this... If we meet again, please let me buy you a beer. ;-)

So, back to the issue: are we talking about a generic plugin to integrate with external thesaurus?
If this is the requirement looks like a tricky task because there is no standard and each thesaurus include it's own API calls... unless the plugin configuration let you add services and map how each call need to be done, a

[2018-09-25 11:04] ajnyga commented on #1550
I agree that different kinds of API behaviours will cause a problem and could be that building a plugin that can work with _any_ API is not a good idea.

All I am really asking is that OJS would make it more easier to create a plugin _like_ Finto.

Two things really:

1)  having the means to add a custom tagSource to replace the one that makes suggestions from the inbuilt vocabulary (https://githu

[2018-09-25 12:14] bkroll commented on #1550
@ajnyga some argue that content, timestamp and server ip of an API call make the user personally identifiable, hence personal data. I am no lawyer, but we have probably become more cautious than it's practical when real-time querying third party servers. Never mind.

And yes, I agree that the identifier of a keyword needs to be saved with higher priority than the keyword itself. Sorry I didn't mak

[2018-09-25 12:48] ajnyga commented on #1550
Ok, I see. So the logic is that if I make a query with "Star" and that is sent to the third party together with the OJS server's IP and a timestamp (and logged there) you could trace that back to the user using the logs both from the third party server and the OJS server? Because you would need the logs from both servers to accomplish that while the only IP visible for the third party server is th

[2018-09-25 13:57] marcbria commented on #1550
Related with GDPR, I agree with @ajnyga... nothing to add.

About the the initial subject I need to say that I misunderstood the whole thing, because I though we were looking for a more global/universal solution:

This is much more specific and feasible and also makes a lot of sense to me.
Let's see what main PKP developers say about it.

Cheers,
m.

[2018-09-25 14:21] lilients commented on #2072
I thought about the adaption of the versioning to OMP - I don't think it is a major problem. Most stuff can be taken over:
* the **GUI** concept (tab views for each version at the backend, display of versions at book page with version history) can be the same in OMP. I create a mockup for the backend view:

![img_versioning-omp](https://raw.githubusercontent.com/lilients/img/master/versioning_omp.

[2018-09-25 14:31] NateWr commented on #1550
A few quick thoughts from my perspective in terms of what OJS can reasonably provide out-of-the-box.

We'll probably always use our internal `controlled_vocab_entries` table for managing keywords/subjects. We'll need that to be the source of truth in order to do anything like browse by keyword/subject, usage stats filtering by keyword/subject, etc, in a generalized fashion. That means third-party

[2018-09-25 14:39] asmecher commented on #4074
Thanks, @mfelczak! Closing this issue unless other aspects crop up. The custom report generator issue has been resolved already.

[2018-09-25 15:02] asmecher commented on #4084
Fixed; thanks for reporting, @ajnyga! (Does not affect any released code.)

[2018-09-25 15:02] #4084 closed

[2018-09-25 15:13] ajnyga commented on #1550
`You may also want another table which tracks third-party IDs alongside controlled vocab entries.`
For me this is really the only "must-have" requirement in this issue.

Ugly hacking is close to my heart and since the forms are going through a change anyway, I do not think it makes sense to add hooks to the current code.

[2018-09-25 17:17] fizmond commented on #1056
It probably refers to the problem described here https://forum.pkp.sfu.ca/t/image-cant-show-on-editor-tiny-mce/25276/3

We have that problem in one of our instances (OJS 3.1.1-2) and temporarily fixed it with an ugly workaround in tinymce/plugins/justboil.me/integratePKP.php , but I'd prefer to reduce the number of things we need to migrate when updating.

[2018-09-25 17:36] israelcefrin opened #4090 "QuickSubmit Plugin latest version"
Hi @asmecher , when installing a fresh OJS and attempt to enable QuickSubmit Plugin from plugin gallery, it is not installing latest version of this plugin.
It keeps showing "Can be upgrade" message and clicking on this link, it reloads page but message remains and version `1.0.1.0` as well (latest version is  `1.0.2`).

[2018-09-25 18:02] danielflamia opened #4091 "[OJS] Problems with upgrade to 3.1.1 - css lose"
When I upgrade the OJS current version 2.4.8 to 3.1.1, cli script launch warnings about "Can not use scalar value as an array in" in / var / www / html / lib / pkp / classes / core / DataObject. inc.php, and "Invalid argument supplied for foreach ()" in /var/www/html/classes/install/Upgrade.inc.php. "ERROR: Upgrade failed: DB: Duplicate entry '9402-3-1' for key 'review_rounds_submission_id_stage_i

[2018-09-25 18:28] asmecher commented on #4091
@danielflamia, I suspect this is the same problem already described here, with some SQL queries to run before upgrading to resolve it: https://github.com/pkp/pkp-lib/issues/1921#issuecomment-265585370

[2018-09-25 18:28] #4091 closed

[2018-09-25 19:29] asmecher commented on #4090
@israelcefrin, can you try upgrading it on the journal in question? I've bumped the version to 1.0.3. It's possible that we made changes without bumping the version number earlier, so hopefully this will resolve it.

[2018-09-25 19:37] israelcefrin commented on #4090
@asmecher it has worked, thanks!
I will deploy a fresh install to double check that it works as well.

[2018-09-26 05:11] ajnyga commented on #4042
sorry for bugging you @asmecher but I am planning to continue translating the Learning OJS3 guide for the editors and having the above question solved would be nice...

[2018-09-26 08:27] forgive38 opened #4092 "Reduce confusion when authors are shown review round status"
Hi all,

During PKP sprint in group about UI/UX, we spoken about giving less information about status of round review for the author.
As a first solution, I propose this plugin tested with ojs-stable-3.1.1.x which remove some information for the current round.

https://github.com/forgive38/plugin_RemoveInfoForAuthor

Simon

[2018-09-26 14:45] terrasea2 opened #4094 "MassMail fails if using mail:send callback"
If you use a plugin that uses the 'mail::send' hook which returns true to prevent the use of PKPs mailer, MassMail will only send one email in the batch.

```$success = $success && MailTemplate::send(false);```

Where `$success` will return NULL for the first pass because of the code in `Mail::send`

```if (HookRegistry::call('Mail::send', array($this))) return;```

The use of `$success && MailTem

[2018-09-26 16:35] asmecher commented on #4094
Hi @terrasea2 -- would you mind opening a PR with your proposed solution? Thanks!

[2018-09-26 17:12] terrasea2 commented on #4094
Sure, simple change

https://github.com/pkp/pkp-lib/pull/4095

[2018-09-26 18:07] Vitaliy-1 opened #4096 "Assigned to the template variables don't work on the registration complete page"
After assigning a journal-specific variable to the templates, like:
[code]

it doesn't work on the journal's registration page if registration is complete. The one that is journal specific, not site-wide.

[2018-09-26 18:13] asmecher commented on #2325
NOTE: The `Upgrade` script currently includes the `objects_for_review_settings` table in its locale name migration from `sr_SR` to `sr_RS@latin`, but there is currently no table definition to extend the table length to accommodate the new contents. I'm leaving this as a manual intervention for the users who use both objects for review and `sr_SR`, which will be few, but it would be nice to correct

[2018-09-26 18:15] Vitaliy-1 commented on #4096
Ahh, it seems that variables assigned from the theme don't work on that page.

[2018-09-26 19:04] crism opened #4097 "[OJS] Fix for #3705 breaks archives with PostgreSQL"
The changes introduced to fix #3705 cause an error when PostgreSQL is the backing store: `DB Error: ERROR: column "o.seq" must appear in the GROUP BY clause or be used in an aggregate function LINE 1: ...published" = $2 group by "i"."issue_id" order by "o"."seq" ... ^`

[2018-09-26 22:33] asmecher commented on #4042
Sorry for the delay, @ajnyga! I agree with your first proposal, to log a "new review round" message that's distinct from "revisions requested". The major/minor distinction could be useful, but I'm hesitant to introduce new language when it's not used elsewhere.

[2018-09-27 08:34] ajnyga commented on #4042
Hi, the major/minor was really a secondary issue here. The main point is definitely that starting a new review round != resubmit for review decision, because that decision should have already taken place before the new review round is created.

I will make a pr where I suggest a new editor decision "SUBMISSION_EDITOR_DECISION_NEWROUND" and we can continue the discussion based on that.

[2018-09-27 15:48] retostauffer opened #4099 "Add more information to the submission lists"
The current dashboard is--from our perspective--not yet perfect. The idea was to think about how to adjust and extend the dashboard. Currently the dashboard is very clean, but for some tasks much too clean. We came up with a set of meta information we would like to have, and a idea to make the dashboard *customizable* (let the journal manager, but also the user decide what will be displayed).

**B

[2018-09-27 15:56] retostauffer opened #4100 "Show more submissions per page in the editorial submission lists"
Especially for large-volume journals the number of items in the queue on the dashboard is not suitable and old submissions can quickly "fall off page". We came up with two possible solutions:

- Let the user specify (user profile/buttons) the number of items to be displayed per page (pagination).
- Continuous scrolling. Would work here as there are no other items/elements below the queue.

[2018-09-27 15:56] asmecher commented on #4099
(Tagging @stranack as the PKP lead on the UI/UX group, and @natewr because he's probably interested!)

[2018-09-27 16:00] asmecher commented on #1667
@josuevalrob, this issue was closed in 2016 and I'm not sure it's specifically relevant to your question -- could you post your question on the support forum, and include some more context, e.g. what version of OJS are you using, and what about keywords are you interested in?

[2018-09-27 16:04] retostauffer opened #4101 "[Sprint/UIUX] Quick-Filter Options/Buttons on Dashboard"
The current filter options (dashboard submission queue) are great with room for improvement. Our idea: add quick-filter buttons which allows the E/SE to quickly get an overview over submissions in specific (_critical_) states.

Below Search/Filter, add 5 (?) Quick Filters for most common filter rules (see Figure below):
- "**Inactive**" = _X days_ without activity but we (SE/E) should actually tak

[2018-09-27 16:08] retostauffer opened #4102 "[Sprint/UIUX] Refinement of Filter Options on Dashboard"
The current filtering (submission queue on the dashboard) might benefit from adding some more default filters. Especially for large-volume journals and to screen _critical_ states of submissions.

Possible filter refinements:
- **Overdue** (invitation)
- **Overdue** (comments)
- All reviews in, **decision required**
- Revision uploaded
- Filter **by section editor** \[Issue\]
- **No activity withi

[2018-09-27 16:20] retostauffer opened #4103 "[Sprint/UIUX] More Detailed Stage Indicators on Dashboard"
One of our ideas was to improve the dashboard using **visual indicators** (see screen-draft below). This requires to have a more detailed tracking of the state of each submission (which we see as *a requirement* from a user/admin perspective, especially when maintaining high-volume journals).

We came up with an idea where we can stick to the current labeling of the dashboard but we have extended

[2018-09-27 16:54] amandastevens commented on #1407
It would also be great if editors of journals published on a rolling basis could have more control over when to send notifications of a newly published issue or article.  If an issue is published and then articles gradually added to it, the notification can only go out when the issue is initially published or if the editor un-publishes and re-publishes it.

[2018-09-27 16:56] asmecher commented on #4100
(@stranack and @NateWr!)

[2018-09-27 16:56] asmecher commented on #4101
(@stranack and @NateWr!)

[2018-09-27 16:57] asmecher commented on #4102
(@stranack and @NateWr!)

[2018-09-27 16:57] asmecher commented on #4103
(@stranack and @NateWr!)

[2018-09-27 17:04] retostauffer opened #4104 "[Sprint/UIUX] Add Contributor: Make Affiliation a Required Field"
For the sake of consistency: on the _registration_ form the _Affiliation_ is a required field, when _adding a contributor_ (during submission) this field is optional. Our suggestion is to make both _required_.

[2018-09-27 17:17] retostauffer opened #4105 "[Sprint/UIUX] Only allow to send a submission to new review round after decision"
At the moment it is possible to initiate a _New Review Round_ for submissions which are currently _in Review_ before a decision has been made (even before even reviewers have been added). This is confusing and led to several problems.

**Suggestion:** disable the _New Review Round_ tab/button as long as no decision has been made _or_ at least show a warning "Are you sure to send this submission to

[2018-09-27 17:26] retostauffer opened #4106 "[Sprint/UIUX] Author Notifications Should be Limited to Stage Assignment"
Authors should **only be informed** about the **current stage** of their submissions (detailed view of their submissions). Currently a lot of information is shared with the authors such as:
- _Waiting for reviewers to be assigned._
- _All reviews are in and a decision is needed._
- _New reviews have been submitted and are being considered by the editor._
- ...

**Personal comment:** I don't think

[2018-09-27 17:30] asmecher commented on #4092
This is a great example of a feature where it's tough to get the balance of information right for everyone. @stranack, I'm wondering whether you've heard of other user reports where we're giving too much or too little information to authors about submission progress -- we could either suggest supporting alterations with plugins (as @forgive38 has done), or offering something more built-in like a s

[2018-09-27 17:49] retostauffer commented on #4105
Yes, did not find this one. The topic in the forum is a nice discussion, I personally like the suggestion by @asmecher , https://forum.pkp.sfu.ca/t/new-review-round-while-previous-review-round-has-not-been-finished-yet/37686/9

Thus, this issue can be seen as duplicated (feel free to close it). Thx for the hint!

[2018-09-27 18:20] asmecher commented on #4105
Thanks, @retostauffer!

[2018-09-27 18:20] #4105 closed

[2018-09-27 18:59] ViRuSTriNiTy commented on #2638
Finished implementing the section policies. I attached an example for submission process step 1 and the submission page.

![submission_step1](https://user-images.githubusercontent.com/12170676/46168197-12bd1800-c298-11e8-9d51-9bd318adafcc.gif)
![submissions_page](https://user-images.githubusercontent.com/12170676/46168236-249ebb00-c298-11e8-933d-70bb67a96d90.jpg)

[2018-09-27 19:12] retostauffer opened #4107 "[Sprint/UIUX] Rephrase "This is not a revision of an existing file""
The text "_This is not a revision of an existing file_" turned out to be slightly misleading. **Suggestion:** Rename it to "_New file, this file does not replace a previously upload file._" or something similar.

![screenshot from 2018-09-27 21-11-16](https://user-images.githubusercontent.com/13628564/46168864-e6a29680-c299-11e8-93b6-6d5ce0083833.png)

[2018-09-27 19:25] retostauffer opened #4108 "[Sprint/UIUX] Scheduled for Publication Button w/ Additional Information"
Once a submission has been scheduled for publication (publication stage) the text of the action button should change to "_Scheduled to Volume 666, Issue 3_". Or, alternatively (and maybe more consistent with the rest) a banner should be shown (see screen-draft below) and the action button should be "removed" (following https://github.com/pkp/pkp-lib/issues/3386#issuecomment-407723802).

![screensh

[2018-09-27 19:36] retostauffer commented on #4102
Related issue with discussion: https://github.com/pkp/pkp-lib/issues/2612

[2018-09-27 20:50] cpockett commented on #4097
We're in the process of setting up a production instance of ojs 3 and also ran into this issue. Is there a time frame or fix that could be applied?

[2018-09-27 20:55] asmecher commented on #4097
@cpockett, it hasn't been merged yet, but the fix https://github.com/pkp/ojs/pull/2123 is simple enough. I'd suggest patching with that.

[2018-09-27 21:04] Vitaliy-1 commented on #4072
All request are successful but save-form request is taking 4 sec. When I'm clicking on it I get:
`{"status":false,"content":"A workflow stage was not specified.","elementId":"0","events":null}`
Nothing else suspicious

[2018-09-27 21:15] cpockett commented on #4097
Thanks @asmecher this fixes the issue for me. As a side note we're running postgres, just to clarify.

[2018-09-27 21:20] Vitaliy-1 commented on #4072
@NateWr

Basically, the issue is present and in Health Sciences demo journal.

[2018-09-27 21:27] asmecher commented on #4097
Yes, I believe the issue should only affect PostgreSQL installs. Thanks for the confirmation on the fix.

[2018-09-28 09:28] ajnyga opened #4110 "Small additions to Add new reviewer and Enroll an existing user forms"
Hi,

1. When you open Add new reviewer and Enroll an existing user forms, they show the bottom of the form first. They should open so that the upper half of the form is visible and editors do not have to scroll to the top.

2. the buttons to these two functions could be on the top of the Add reviewer modal? Now when a journal has a long list of reviewers the two buttons are always hidden first.

3

[2018-09-28 09:43] ajnyga commented on #4104
All users know their own preferred affiliation for sure, but they might not know the preferred affiliation of a co-author when they do a new submission.

[2018-09-28 09:44] ajnyga commented on #4106
+1 for transparency. It will cut down the number of emailed questions concerning the status of the submission and does not endanger the review itself.

[2018-09-28 09:45] ajnyga commented on #4107
Like the "New file" part, but "replace" is maybe the wrong word while the old version is still in the system after you upload a new revision.

[2018-09-28 09:49] ajnyga commented on #4108
+1 for the banner (and 666)

But the button has to stay. For example editors might come back to change the page numbers or the license of the article.

But maybe the text of the button could change when the article is already scheduled?

[2018-09-28 10:04] retostauffer commented on #4108
One idea with the buttons is (see https://github.com/pkp/pkp-lib/issues/3386#issuecomment-407723802) that they will be hidden as soon as an action has been triggered _BUT_ they can still be accessed (check screenshots in https://github.com/pkp/pkp-lib/issues/3386#issuecomment-407723802).

**Changing the button text** was the initial idea of the Sprint UIUX group. I think that might be totally fine

[2018-09-28 10:28] ajnyga commented on #4108
I do not have any strong opinions about this. But changing for example the page numbers is already fairly hidden for the users so there should not be more steps you need to take to accomplish that (see https://forum.pkp.sfu.ca/search?q=how%20to%20page%20numbers)

I think that the schedule for publication button is different from the others, because with the other buttons you can make a decision th

[2018-09-28 11:27] NateWr commented on #4100
Was there any discussion about how many would be a suitable default for large-volume journals?

[2018-09-28 11:35] retostauffer commented on #4100
Uh. Something inside my brain screams "50 or 100" but to be honest I am not sure. We have not discussed this in detail (the number).

[2018-09-28 11:36] NateWr commented on #4101
Thanks! Do you remember why the team felt that quick filters would be better than the filters panel on the side? Was it just to save a single click (to open the filters panel)?

If yes, I'd want to dive a bit more into the usage pattern that is causing this extra click to be a burden. Is it perhaps because the editors are frequently browsing away from the list and back to it, many times in success

[2018-09-28 12:04] retostauffer commented on #4101
Hy Nate

The idea was to make it very easy for the editors to get an overview of the most critical submissions. You are right, the navigation on the left hand side (filter panel) provides similar features but requires more than one click. For example: as an editor I would like to log in and quickly go trough "_show me all submissions inactive since X days_", if there's nothing I have to take actio

[2018-09-28 12:09] NateWr commented on #4103
Thanks @retostauffer, providing some more detailed stage status has been a [common request](https://github.com/pkp/pkp-lib/issues/1662).

I am a little bit hesitant to embrace the dot technique. In an early version of the new submissions list panels, we used just colored icons to try to indicate various states of review assignments, discussions and file uploads. During user testing, users found it

[2018-09-28 12:13] NateWr commented on #4104
Yeah, this is an unfortunate one where I think we'll always have disagreement on the best default. In the future, I hope it will be easier to make a field required/optional with a small plugin.

[2018-09-28 12:16] NateWr commented on #4106
Yeah, I am also strongly in favor of giving authors _more_ information about their submission status. Do you remember any of the details of the discussion around this?

I'd like to know more. In some not too distant future, I can imagine giving the author a _lot_ more information (who's the editor assigned, how long does it take on average for a review round to be completed, have the reviewers bee

[2018-09-28 12:20] NateWr commented on #4108
My two-cents:

- Yes to the banner.
- Change the button text to: "Edit Publication Details"

[2018-09-28 12:31] NateWr commented on #4101
We could still have one-click filters in place for these, even if they're in the filter panel. Here's an example of what it might look like:

![selection_074](https://user-images.githubusercontent.com/2306629/46208351-552b3700-c322-11e8-8f57-6f8279c463ef.png)

We might even be able to provide a count as well:

![selection_075](https://user-images.githubusercontent.com/2306629/46208362-6116f900-c32

[2018-09-28 12:41] retostauffer commented on #4106
Well, the thing was that they didn't want to show the author that reviews are overdue or that all reviews are here but nothing happened since few days as this might not look good for the publisher? I personally publish(ed) in journals with a very open process. And since 3 weeks a review is overdue, but at leas I know what's going on :).

One idea might be to allow the JM to set one flag in the jou

[2018-09-28 12:43] retostauffer commented on #4108
+1 for that. Should not be too hard to implement and would solve the current issues.

[2018-09-28 12:51] retostauffer commented on #4101
The count is a nice idea!

Requires one additional mouse click on the "Filters" button once when entering the dashboard, that sounds ok. I am personally not to deeply involved in the editorial process (I only the problem solver ;) ). From my perspective this might work well without the need of the buttons, I would not open the tab by default, but keep last state (open/closed) might be useful (but

[2018-09-28 16:11] ajnyga commented on #4025
We had an interesting situation with one of our journals. The editor tried to export a PKPusageStatsReport from OJS. The 10 megabyte file eventually loaded, but the editor noticed that there were only entries up until November 2017. The first results were back from 2014 (with OJS2).

The CSV file had about 45 000 rows.

Probably some sort of limit was reached, because there are of course statistic

[2018-09-28 17:42] raulakh opened #4111 "[OJS]"
We are currently running Open Journal Systems 3.0.2.0 and shibboleth authentication in place in our environment and I am just wondering if we upgrade it to the newest version of OJS, will it work with Shibboleth plugin?
Please advise

[2018-09-28 20:09] asmecher commented on #4111
@raulakh, rather than creating git issues (which are intended for bug postings), please post your question in the PKP support forum (http://forum.pkp.sfu.ca/).

[2018-09-28 20:09] #4111 closed

[2018-09-28 20:10] raulakh commented on #4111
ok thanks

[2018-09-28 21:27] asmecher commented on #4025
@ajnyga, yes, I think this issue explains it -- the results are capped artificially with no indication to the user. That's been removed in the `master` branch (for release in 3.2).

[2018-10-01 09:30] NateWr commented on #4099
Thanks @retostauffer! I missed this one in my pass through last week.

This is the toughest component to design in the whole application, because it is the most critical and because the needs our users face are so diverse. Every piece of information we add for one set of editors increases the cognitive load for the rest of the editors. And whatever we do has to be intuitive enough that it won't re

[2018-10-01 09:35] NateWr commented on #4102
I've ported the new suggestions over to https://github.com/pkp/pkp-lib/issues/2612 and linked the existing recommendations in to this so that we can see that this is a priority for the Sprint 2018 UI/UX group.

I'm going to close this but let me know if I missed anything at #2612.

[2018-10-01 09:36] #4102 closed

[2018-10-01 09:39] ihdl opened #4112 "Option to name PDF-galley"
My request is to an option to assign a name for the final, publicised files (pdf or else). I would love to see more descriptive filenames here instead of the ID-based filenames that OJS assigns atm. For example, I would choose JOURNAL-Author-YEAR.pdf, so that users who download a PDF will find a file on their computer that they can easily identify. But the name should be assigned by the journal ma

[2018-10-01 09:46] retostauffer commented on #4099
Hy @NateWr

I understand that this task is specifically difficult. I've already sent a message to some of the UIUX group handling large-volume journals who might jump into the discussion and provide their story.

The screenshot is from their operational system, a user plugin they developed for OJS3 and shows (If I remember correctly)

* **Submitted**: article submission date
* **R**: review round

[2018-10-01 10:05] openacademia commented on #4100
Hi @NateWr ! We currently have around 130 manuscript in review on Food & Nutrition Research. https://foodandnutritionresearch.net/index.php/fnr/index (currently being upgraded, so no submissions are showing at the moment!). Ideally, it would be good to be able to set the number of items per page, similar to what you can do on the Email Template page, see screenshot:
[screenshot.docx](https://githu

[2018-10-01 11:03] openacademia commented on #4103
Hi @NateWr ,

We completely agree that it is important to distinguish between "New Reviews have been submitted" and a situation where all reviews are in. I think your suggestion is great: "All reviews are in and a decision is needed. View Reviews." (and an added splash of color! ;))

We also like the idea of an added filter like "Needs Decision".

Generally, the most important thing is for the sys

[2018-10-01 11:10] openacademia commented on #4100
Hi Nate,

Our journals are hosted by PKP and we rely on them for all things too technical ;) The site is currently not functioning as normal (the submission lists are completely empty due to some residual issues from an upgrade), but as soon as it is up and running you or anyone of the PKP guys are welcome to do those modifications.

[2018-10-01 11:13] NateWr commented on #4100
:+1: Perfect!

[2018-10-01 11:37] retostauffer commented on #4099
Leaving this comment here for @openacademia

[2018-10-01 12:38] openacademia commented on #4099
Hi all,

The example above is actually from NOASP/Cappelen Damm and it looks very, very similar to what the dashboard looks like in OJS 2, see screenshot.
[screenshot.docx](https://github.com/pkp/pkp-lib/files/2433809/screenshot.docx)

I think that A LOT of information on the dashboard would be welcomed by some, but not by others - that is, this might be a tricky thing to sort out in a way that is

[2018-10-01 13:59] danielflamia opened #4113 "Problems with upgrade from 2.4.8 to 3.1.1"
I have tried countless times to upgrade from version 2.4.8 to 3.1.1, but I did not succeed.

I am using the OS requirements in the following versions:
- SO - CentOS Linux release 7.5.1804
- PHP - 5.6.37
- Apache
- MySQL - 5.6.41

The procedures performed are:
1.1 Download the most current version of OJS
1.2 Move the package to the Apache directory
1.3 Copy the data from the file upload directory a

[2018-10-01 14:05] Vitaliy-1 commented on #4072
Yes. Console error appears after request is successful and this response. Data entered in the form are saved, so the problem appears to be only with form dismissal.

[2018-10-01 14:13] Vitaliy-1 commented on #4072
Actually, errors appear after all XHR are fired, so nothing associated with them in the console. Moreover, sometimes I see only the second one.

[2018-10-01 15:52] pilasou opened #4114 "[OJS 3.1] A user with manager role in a specific journal (context) is not able to use the "Login As" feature for some of its users."
The Login As feature does not appear for all journal's users. This seems to occur if the user has a role in another journal (context).

Ex:
◦User A is Manager of Journal 1
◦User B is Author  in Journal 1
◦User Ais Reviewer in Journal 2
◦User B is Reviewer in Journal 2

In this example, user A will not be able to Login As User B in Journal 1.

Thanks,
pierre

[2018-10-01 16:30] asmecher commented on #4114
That's intentional behavior, @pilasou -- it happens when a user is active in other journals that you don't also manage. This is to prevent logging in as the user and performing their duties in another journal when you shouldn't have the ability to do that. For now, you'll either need to be enrolled in the other journal as a Journal Manager, or get yourself a Site Administrator role.

[2018-10-01 16:30] #4114 closed

[2018-10-01 16:33] asmecher commented on #4113
@danielflamia, did you try the queries I referred you to on https://github.com/pkp/pkp-lib/issues/4091?

Rather than opening a new issue, please follow up on the existing one, or open a topic on the support forum (http://forum.pkp.sfu.ca/).

[2018-10-01 16:33] #4113 closed

[2018-10-01 16:42] pilasou commented on #4114
Thanks. I understand but would there be a way to restrict the Login As feature to the Journal (i.e. login as in Journal A prevent actions in Journal B).

[2018-10-01 17:09] amandastevens opened #4115 "Make user profile notification settings more clear"
In the user profile where a user can configure their notifications from the journal, there are 2 options:
- Enable these types of notifications
- Do not send me an email for these types of notifications

The first option means enable notifications on the user's dashboard, but the wording is unclear so it's hard to know what it's referring to.  I suggest changing it to "Enable these types of notifi

[2018-10-01 17:42] asmecher commented on #4114
Rather than relying on the "Log In As" feature, which I would argue is too powerful for most uses and thus requires higher privileges, I'd suggest considering other ways to act on the user's behalf. This has been discussed e.g. in https://github.com/pkp/pkp-lib/issues/2508. Can you describe the use case a little more, e.g. is this for users who need editor intervention in the workflow somewhere sp

[2018-10-01 18:29] asmecher commented on #3949
Thanks, @Vitaliy-1, that checks out for me too. Committed, and added PRs for the various theme plugins as well. I'm not sure if there are others?

[2018-10-01 18:29] #3949 closed

[2018-10-01 18:44] Vitaliy-1 commented on #3949
There is also Classic theme that is already released. I will make corrections there. I'm thinking about creating a separate branch for Smarty 3 updates

[2018-10-01 18:47] asmecher commented on #3949
Thanks, @Vitaliy-1 -- see my recommendation on branches over e.g. at https://github.com/NateWr/bootstrap3/pull/99.

[2018-10-01 19:58] asmecher commented on #4112
@ihdl, what version of OJS are you using?

[2018-10-01 20:28] pilasou commented on #4114
I have no case to share right now as we will start production later this year. We just noticed that Log in as was not available for each users in our test instances. This case can remain closed. The discussion you sent (#2508) is quite interesting!

[2018-10-01 20:28] asmecher commented on #4062
@Taomach, next time it's better to post this kind of question on our support forum (http://forum.pkp.sfu.ca/). I suspect your PHP configuration is set to send warnings/errors to the browser rather than the log; I'd suggest changing your PHP configuration so that errors are logged and not displayed.

[2018-10-01 20:28] #4062 closed

[2018-10-01 20:30] celorodovalho commented on #1793
@mittinatten could you solve the bellow issue?

[code]

Thx

[2018-10-02 07:58] mittinatten commented on #1793
Hi @celorodovalho,
We managed to perform the update without errors in the end (late 2016, early 2017), but there were several postgres-related patches that had to be applied to the update scripts, and I don't remember how this particular error was solved (not sure if we had an error in our database, or if there was a bug in an update script). I think all those patches have been part of the standar

[2018-10-02 14:18] NateWr commented on #1466
As part of #3594, I've moved this into the Tools area and made it accessible to Journal Managers. I've also beefed up the scare factor in the warning, removed the string from other locales so they re-translate it, and added "this can not be undone" to the confirmation prompt in `en_US`.

![selection_080](https://user-images.githubusercontent.com/2306629/46354271-1fee5400-c656-11e8-9dd0-2558e4517f7

[2018-10-02 14:18] #1466 closed

[2018-10-02 14:52] prechelt commented on #2976
@NateWr commented on 2018-03-06:

There is no way a single word can reliably convey all the different aspects involved. For full flexibility, I think one must name them individually, e.g. `AuthorsKnowReviewers`, `AuthorsKnowReviews`, `ReviewersKnowReviewers`, `ReviewersKnowReviews`, `ReviewersKnowAuthors`, `PublicKnowsReviewers`, `PublicKnowsReviews`, and so on.

The front part is the actor involv

[2018-10-02 16:51] asmecher commented on #2638
Looks good to me, @ViRuSTriNiTy! @stranack, any objections?

[2018-10-02 17:23] celorodovalho commented on #1793
@mittinatten I got the version 3.1.1-4, there is another version with the fixes?

[2018-10-02 18:18] cpockett opened #4116 "[OJS] GatewayHandler setupTemplate() missing parameter"
Never submitted an issue before so apologies in advance.

In OJS 3.1.1.4 I get the following error when navigating to the '/management/settings/website' > 'Archiving' tab > 'Alternate Archiving Options' > 'Publisher Manifest'.

I've found this can be fixed by updating 'pages/gateway/GatewayHandler.inc.php' and adding the request to the function call. There is a second call in the file for clockss

[2018-10-02 19:40] asmecher commented on #4094
Thanks, @terrasea2 -- merged! (I'll also cherry-pick it back to `ojs-stable-3_1_1` and `omp-stable-3_1_1` in case we release another build of that version before OJS 3.2 comes out.)

[2018-10-02 19:40] #4094 closed

[2018-10-03 05:46] mtub commented on #4067
thanks @carzamora and @marcbria

[2018-10-03 05:46] #4067 closed

[2018-10-03 06:14] jalperin commented on #2135
+1 for eliminating 2-step password reset. The workflow I typically see is, click "forgot password"; get an email with a hash; click link and be logged in and prompted to set up a new password.

[2018-10-03 12:48] terrasea2 commented on #4094
Not a problem for just a simple 1 line change

[2018-10-03 14:18] diasmariana91 opened #4118 "Download the jornal in my pc"
Hello,

I'm not able to install the platform for the jornal on my personal computer.
When I dowload it, it opens with notepad and not a new folder.
Thank you for your support

[2018-10-03 16:15] celorodovalho commented on #1793
@mittinatten I'll try it, thanks!
If it works i'll update my answer here.

[2018-10-03 20:49] asmecher commented on #4116
Thanks, @cpockett! I've committed that change to the OJS master branch, and also `ojs-stable-3_1_1`, OMP master, and `omp-stable-3_1_1`. This'll be included in the next release.

[2018-10-03 20:49] #4116 closed

[2018-10-03 21:39] asmecher commented on #4086
@CFanselow, I've added a PR for this that could use some testing: https://github.com/pkp/omp/pull/596
Can you clarify where in the system you are that's behaving badly?

[2018-10-04 10:39] NateWr opened #4120 "CSRF token missing for enable plugin action"
The CSRF token is missing in the request that's sent to enable a plugin.

[2018-10-04 11:14] NateWr commented on #4120
PRs:
https://github.com/pkp/pkp-lib/pull/4121 (master)
https://github.com/pkp/pkp-lib/pull/4122 (OJS stable)
https://github.com/pkp/pkp-lib/pull/4123 (OMP stable)

Tests:
https://github.com/pkp/ojs/pull/2126 (OJS master)
https://github.com/pkp/ojs/pull/2127 (OJS stable)
https://github.com/pkp/omp/pull/597 (OMP stable)

[2018-10-04 11:53] mpbraendle opened #4124 "LOCKSS and https"
https only for all journals (force_ssl = On) on an OJS 2.4.8.3 multi-journal installation.

Unfortunately, LOCKSS (we use public LOCKSS) cannot crawl anymore the newest issues. This is what they report:

PROBLEM URL:
The URL http://www.psychoanalyse-journal.ch/index.php/psychoanalyse/gateway/ 1
lockss?year=0 is being redirected to the unexpected URL https://
www.psychoanalyse-journal.ch/index.php/

[2018-10-04 14:44] Vitaliy-1 commented on #4072
Compared to the OJS 3.1.1-1, where no errors occur, there is missing request URL:
`http://ojs-3.1.1-1.test/index.php/ojs/$$$call$$$/grid/users/author/author-grid/fetch-grid?submissionId=1&stageId=5&_=1538664183467`

[2018-10-04 15:21] asmecher commented on #4120
Looks good, @NateWr -- please go ahead with all of them. (This is one area where I wish PHP had more concise array operations.)

[2018-10-04 15:54] asmecher commented on #1407
We've recently been discussing using OMP's "categories" tools for organizing special collections (e.g. based on theme).

[2018-10-04 18:08] ajnyga commented on #3340
Just pointing out that this issue comes up on the forum fairly often, for example https://forum.pkp.sfu.ca/t/after-upgrading-from-2-4-8-1-to-ojs-3-1-1-4-loading-problem/48948/4.

We have been using the quick fix from Nate for 2 months now and works great. Hopefully it will be included in 3.2.

[2018-10-04 23:07] asmecher commented on #3340
@NateWr, I'm all in favour of merging that tweak and back-porting to `ojs-stable-3_1_1` and `omp-stable-3_1_1` if you agree.

[2018-10-04 23:47] asmecher commented on #3698
@NateWr, in your work on rewriting the forms, have you thought about auto-save functionality? The use case I find most compelling is the review form, where it may take quite a long time for a user to complete their input and the frustration from lost data can be very high. Currently the CSRF check limits input to an hour by default. (ping @ajnyga/https://github.com/pkp/pkp-lib/issues/2428)

[2018-10-05 08:37] Taomach commented on #4062
Hello @asmecher!
I managed to catch the exception that is raised when the editorial history fails to load. Here it is:
[code]
I also made a [post](https://forum.pkp.sfu.ca/t/editorial-history-does-not-work/48959) on the support forum like you suggested. Can you please help me to get to the cause of this problem?

[2018-10-05 10:06] NateWr commented on #3698
I've thought about using the browser's localStorage for some things. But I think for key things like this a proper autosave would be important -- and we should actually persist that autosave to the database.

It would be trivial to add an `autosaveInterval` prop to a form component which, when added, would fire off a save request at that interval. But how we should treat that request will differ a

[2018-10-05 10:08] NateWr commented on #3340
:+1: I agree. I have not been able to locate any firm information about caching issues and that's a pretty minimal side effect so let's just do it.

[2018-10-05 10:10] NateWr commented on #4120
PRs merged. Tests closed. :+1:

[2018-10-05 10:10] #4120 closed

[2018-10-05 10:30] NateWr commented on #1407
I think using OMP's categories could work. Let's think about them as broadly as possible, as nothing more than an arbitrary collection, to which any meaning can be given.

- Themes could have an option to "show collection on homepage in X slot" and that could mean: the latest X from that collection, the top X from that collection, etc.
- Sidebar blocks could be created with manually curated lists

[2018-10-05 11:15] mfelczak opened #4125 "Subscriptions list is slow to load and does not apply row limit"
In OJS 3.1.1-4, as reported in the forum:
https://forum.pkp.sfu.ca/t/ojs-3-1-1-4-subscriptions-tabs-loading-extremely-slowly/48862

[2018-10-05 20:38] asmecher commented on #4125
@mfelczak, @NateWr had a suggestion on Slack:

Did you have a chance to check?

[2018-10-05 20:43] asmecher commented on #4062
@Taomach, I'll follow up on the support forum post. Please just keep the conversation to one place or the other -- it's more confusing when it's in both places.

[2018-10-07 18:48] defstat commented on #2072
Hi all. I am leaving here some thoughts on versioning for OMP.

Regrding Chapters:
- the db table `submission_chapter_settings`: it should be extended to have a submission_version column.
- The contributors and files section should refer only to the currently working-on version's contributors and files.

So, chapter_id=1 with title = Title 1 and version = 1 could have access to the files and contr

[2018-10-08 10:37] MarHerUMR opened #4126 "[OJS 3] Clarify reviewer state in ReviewerGrid"
In our OJS 3.1.1.2 we had a misunderstanding the reviewers grid. The submission will be reviewed _open_. The grid contains two requests for review. One is in the state _Request Accepted_, the other in the state _Declined_.

The author of the submission asked if the submission itself was declined because of the state _Declined_, not knowing that only the request for review was declined. I think the

[2018-10-08 13:19] MarHerUMR commented on #4112
@ihdl I think more descriptive filenames would be great. I see several challenges for good filenames.

* I would use the Journal initials in order to keep the filenames as short es possible.
* I'm not quite shure what the best approach would be when you have several authors
    * What would be the best delimiter for author names
    * How many names should be added at max
* I think we would have t

[2018-10-08 14:28] ihdl commented on #4112
@MarHerUMR Thanks for your input! I think it would be good to draw from citation standards for the issues you posed. For example, we could use "et al" for more than one author and b, c for more than one article a year. Like it's often used in lists of references. Then a more complex file name would read "MedRez 2018 Drews et al b". I'm not sure about the delimiter though.

[2018-10-08 18:34] ajnyga commented on #4126
Hi,

Actually the author should only see reviewers that have accepted the request. Does that make sense to you? So the authors only see open reviewers that have accepted the request.

This is how it was supposed to work, but I can see now that one sql needs a small addition.

[2018-10-08 18:45] ajnyga commented on #4126
Basically this:
https://github.com/pkp/pkp-lib/blob/master/classes/submission/reviewAssignment/ReviewAssignmentDAO.inc.php#L52

Should be:
			`' WHERE r.review_round_id = ? AND r.review_method = ? AND r.date_confirmed IS NOT NULL AND r.declined <> 1 ORDER BY review_id';`

Could you test that?

[2018-10-08 19:00] ajnyga commented on #4126
I made a pr about this: https://github.com/pkp/pkp-lib/pull/4128

But your original could be discussed as well I think. I mean making the declined label more clear for editors.

[2018-10-08 22:00] mfelczak commented on #4125
Yes, confirming that those settings have been set.

[2018-10-09 09:47] NateWr commented on #4125
On the forum, someone mentions that the User grid (and all grids) are effected. Can you check and confirmm whether the Settings > Website > Appearance > Items setting is respected by any other grids?

I took a quick look at the subscriptions grid and didn't see any special code for the range info, so it might be an issue further up the chain.

[2018-10-09 15:13] hblancoca commented on #4026
I have installed 3.1.1.2 and have the same error with a some but not all  revisors. The form do not show the checkbox for consent. and when submit the first step appears the error about user privacy Consent Required.

Any idea? really appreciate your help

[2018-10-09 15:28] mfelczak commented on #4074
Hey @asmecher, it looks like the customLocale plugin is also affected by this and throws and access denied error, re-opening.

[2018-10-09 18:35] mfelczak commented on #4125
Hi @NateWr, confirming that other grids, e.g. Users grid, are working as expected and that the issue is limited to the subscriptions grid for this journal.

[2018-10-09 19:08] asmecher commented on #4125
I'll investigate this and report back here.

[2018-10-09 19:47] hblancoca commented on #4026
ViRuSTriNiTy: that its the code:
{* Privacy Statement *}
	{fbvFormSection list="true"}
		{capture assign="privacyUrl"}{url router=$smarty.const.ROUTE_PAGE page="about" op="privacy"}{/capture}
		{capture assign="privacyLabel"}{translate key="user.register.form.privacyConsent" privacyUrl=$privacyUrl}{/capture}
		{fbvElement type="checkbox" id="privacyConsent" required=true value=1 label=$privacyLabe

[2018-10-09 20:38] ViRuSTriNiTy commented on #4026
Did you clear the template cache after updating to 3.1.1.2? I think this might be the issue here otherwise i'm out of ideas really.

[2018-10-09 21:30] asmecher commented on #4125
The patches for this are https://github.com/pkp/ojs/commit/9d9008c3fc47896a1df10b3371ba90aa98fa3108 (ojs-stable-3_1_1) and https://github.com/pkp/ojs/commit/43cb7e83f1c315a1c375860bca97826f5dc6a7b7 (master).

[2018-10-09 21:30] #4125 closed

[2018-10-10 10:58] mfelczak commented on #4125
Thanks @asmecher!

[2018-10-10 13:30] jmacgreg opened #4129 "Develop tools to review and notify of metadata quality issues"
Develop a tool or set of tools that would review submission metadata and notify the journal's primary contact of potential quality or consistency issues. This is a two-part issue:

1) identify some general metadata consistency and quality issues in OJS datasets. We've already identified a few problem areas, which I'll include in a follow-up post.
2) develop heuristics to programmatically identify

[2018-10-10 13:32] jmacgreg commented on #4129
Some known problem areas:

- the date issue (eg. where an issue or article publication date doesn't match the volume's "year" field; or when the issue and article publication dates are off by more than one year).
- a lack of license information
- there are issues with things entered in the wrong language (because of how poorly the UI handled multilingual in OJS 2)
- DOIs are with the % placeholder

[2018-10-10 16:50] asmecher commented on #4125
@NateWr:

It turned out to be a specific problem with the subscriptions grids; if someone is seeing that behavior site-wide, then I suspect they haven't configured their items-per-page setting or similar.

[2018-10-10 17:01] asmecher commented on #4074
This should fix it: https://github.com/asmecher/customLocale/commit/6cd19694a36b827e0bf8cd91c1dff0b030081455

[2018-10-10 17:01] #4074 closed

[2018-10-10 17:12] ajnyga commented on #4129
Titles and names in CAPITAL LETTERS.

[2018-10-10 17:34] #4126 closed

[2018-10-10 17:39] asmecher commented on #4126
@MarHerUMR, I've merged @ajnyga's PR (and cherry-picked it around) and Github has helpfully closed this issue as a result :)

However, I don't want to lose your suggestion. Could you file it as a new issue (and if possible open a PR)?

Thanks to you both!

[2018-10-10 17:48] ajnyga commented on #4125
is this the same issue https://github.com/pkp/pkp-lib/issues/3484

[2018-10-10 17:49] asmecher commented on #3484
Fixed by https://github.com/pkp/pkp-lib/issues/4125!

[2018-10-10 17:49] #3484 closed

[2018-10-10 18:35] ajnyga opened #4130 "Enhance indexing and develop tools to truncate large metrics tables"
With large multi journal installation the metrics table tends to become very large especially if geolocations are used. When the table becomes larger than ca. 500 megabytes fetching data from the table becomes slow for example with queries using dates to limit the result.

This could be solved with two solutions

1. **Enhance metrics table indexing**

We should carefully consider the different way

[2018-10-10 18:41] ajnyga opened #4131 "Make OJS2 to OJS3 metrics upgrade faster on large installations"
Discussion here: https://forum.pkp.sfu.ca/t/ojs-upgrade-from-3-0-2-to-3-1-0-1-stuck-on-slow-query/36706

The single sql query used to update the assoc_id's of assoc_type 531 is extremely slow in larger metric tables. For example a 900 megabyte metrics table takes around 34 hours to run the given query.

The query should be broken into smaller parts using an upgrade function. Pull request soon.

[2018-10-10 18:45] asmecher commented on #4130
Tagging @ctgraham and @bozana!

[2018-10-10 18:52] asmecher commented on #4014
@ajnyga, I'd love your comment on the changes from @ctgraham that I just merged into the `master` branch! See https://github.com/ulsdevteam/pkp-lib/commit/625a86e0f3f6b50c62bc202140dcd1fa20cdee1c for details.

[2018-10-10 19:00] asmecher commented on #4112
I doubt we'll be able to find an automatically-assigned naming scheme that suits everyone. What about just using the filename that's assigned when the editor/layout editor uploads the file? This would involve...

[code]

Feedback on this is welcome!

[2018-10-10 19:05] asmecher commented on #4027
@celsoalevar, it's likely that something is being captured in the PHP error log when the listing breaks. I'd suggest checking there.

[2018-10-10 19:08] asmecher commented on #4058
Tagging @stranack (and feel free to pass it along to someone else if you're swamped, Kevin!)

[2018-10-10 19:11] asmecher commented on #2787
That sounds sensible, @ajnyga. I think we'd have to make a few tricky decisions around "enforcement" of a standard to suit different use cases -- some use cases (like institution lists) need to be able to permit user-specified elements from outside the set, where other use cases will need fixed classifications. And if a fixed classification changes, orphaned may either need to be resolved or left

[2018-10-10 19:12] asmecher commented on #4054
@NateWr, would you mind taking a look?

[2018-10-10 19:13] asmecher commented on #4041
@NateWr, are the linked commits referencing the wrong issue number?

[2018-10-10 19:17] asmecher commented on #4036
Looks like you're right, @NateWr! I've committed that change, thanks.

[2018-10-10 19:18] ajnyga commented on #4131
ping @bozana and @asmecher
I have used this to upgrade a 2 gigabyte metrics table with around 160 000 531's and 7000 supplementary file hits. This took a little over an hour. I am running a new test with the same database right now.

[2018-10-10 19:27] asmecher commented on #4011
@alireza08, sorry for the delay in responding. Is this still an issue?

[2018-10-10 19:32] asmecher commented on #4021
@alexxxmendonca, I don't belive the CiteProc-PHP library we're using for citation formatting supports subtitles. I'd suggest filing an issue for that here: https://github.com/seboettg/citeproc-php

[2018-10-10 19:45] celsoalevar commented on #4027
When I try to see thhe articles, this error appears on log:

[Wed Oct 10 16:36:53.073998 2018] [:error] [pid 7269] [client
146.164.3.199:37762] PHP Fatal error:  Call to a member function
getLocalizedName() on a non-object in
/var/www/html/anais/cache/t_compile/%%2D^2DF^2DF52775%%submissionsUnassigned.tpl.php
on line 40, referer:
http://www.eneds.net/anais/index.php/index/eneds2018/user

2018-10-1

[2018-10-10 21:41] asmecher commented on #4027
That appears to be this issue: https://forum.pkp.sfu.ca/t/lost-submissions-in-ocs-v2-3-6/34062

[2018-10-10 21:41] #4027 closed

[2018-10-10 23:55] asmecher commented on #3997
@ajnyga, does this ring any bells for you?

[2018-10-11 00:52] asmecher commented on #4022
This looks like a bug in the citeproc-php library we use for citation formatting. Filed here: https://github.com/seboettg/citeproc-php/issues/60

[2018-10-11 00:52] #4022 closed

[2018-10-11 00:59] asmecher commented on #3990
(@bozana, tagging you on this in case you don't have it on your list already!)

[2018-10-11 07:11] AndrewSwann commented on #3439
Note this is seen on OJS 3.1.1.2 .   The error means loosing all entered data if there is a mistake in the IP addresses.  Better feedback on IP errors would also be desirable, particularly when there are many lines of these addresses.

[2018-10-11 07:44] ajnyga commented on #3997
I think @NateWr is best to comment this stuff.

But @carzamora  it would be good to know what exactly the editor is now seeing? I mean I understand that she does not see the "You have been assigned an editorial role..." message, but what does she see?

And what happens if she presses the submission title? Are there any messages present? Does she go to the reviewer workflow?

I am guessing that the

[2018-10-11 08:18] ajnyga commented on #4131
The second test run with the 2 gigabyte metrics table now took 1.3 hours. The whole upgrade around 9 hours (not sure what the exact time was since it was finished during the night). The whole database was around 3.2 gigabytes.

For reference a  2 gigabyte db with 1 gigabyte metrics table took 34 hours with the old code.

[2018-10-11 08:39] marteery commented on #4099
Hi @retostauffer @NateWr @openacademia,

As @openacademia writes the example above is from the NOASP dashboard. We did this customization when we upgraded to OJS 3 at the request of several of our editors. An important feedback from the editors after the upgrade was that they lacked an ‘at-a-glance’ overview of all articles in process. They are dealing with many articles and need to quickly get an

[2018-10-11 09:11] NateWr commented on #4082
Can someone provide a use-case here?

[2018-10-11 10:13] bozana opened #4132 "improve pub id assignment"
The way pub ids (DOIs, URNs) are assigned to objects should be improved so that it is more user friendly. The concept is coming:

[2018-10-11 10:51] alireza08 commented on #4011
Yes, I couldn't figure it out.

[2018-10-11 10:59] ajnyga opened #4133 "Fix review assignment updated notification recipient"
Ping @asmecher, the Saga continues.

See https://forum.pkp.sfu.ca/t/review-assignment-updated/49082/10

pr in a moment

[2018-10-11 11:00] NateWr commented on #4132
After some discussion, we came up with the following workflow. The assumptions of this workflow are:

- Most users will accept the automatically generated DOI. But in some cases they want to be able to change it before publication.
- DOIs should not be changeable after publication. If they need to be changed, a separate admin- or JM-level tool needs to be used.
- Publication will often kick off an

[2018-10-11 11:05] ajnyga commented on #4133
edit: ok so this was actually already fixed in the master branch but committing a small addition to the code anyway (comparing the changed dates was not working because the other returned value included the time stamp 00:00:00)

[2018-10-11 11:21] bozana commented on #4132
Maybe to mention, that there will be a new setting in the DO/URN plugin settings: a pre-selected checkbox "Automatically assign DOIs". If the journal deselects it, the scenario "When automatic assignment is disabled" applies.
We would also provide a drop-down in the DOI plugin settings to chose the registration agency, so that we know how to read the deposit status that will be displayed here in t

[2018-10-11 11:30] MarHerUMR commented on #4112
I think this would be a good approach, using what's already there. But the _Review Details_ step of the galley upload should state explicitly the chosen filename will be used a the download filename.

Is there a way to see and change this name after the upload right now?? As fare as I can see the only option would be to _Change File_, reupload the same document and set the new name again. I think

[2018-10-11 12:14] ajnyga commented on #4132
Really like the status and the general ideas here 👍

Questions:
1. If the system is automatically assigning DOIs for all articles, how do you remove a DOI from a specific article? For example the journal might have a "news" section and do not want to have DOIs for content in that section (DOIs cost money).

2. Are we letting editors manually edit the DOI, both the prefix and the suffix? If yes, we

[2018-10-11 12:14] Vitaliy-1 commented on #4072
@NateWr All form is affected, including references and identifiers tabs: https://forum.pkp.sfu.ca/t/ojs-3-1-1-4-references-extraction-loop/49103

[2018-10-11 12:56] ajnyga commented on #4132
An addition above: for future work it would be a good idea if you could assign and deposit an article DOI before the issue it is attached to is published. This would also add support for publishing without issues.

[2018-10-11 13:30] NateWr commented on #4054
_interesting..._ I'll assign this to 3.2 and consider it a personal priority. But 3.2 is already pretty overloaded so I can't promise it for that version just yet. But I do consider it important for the theme development!

[2018-10-11 13:31] NateWr commented on #4041
Oh... Those are meant to go to #4081 and were done at the 2018 sprint in Heidelberg. I blame the frenetic pace of the sprint!

[2018-10-11 13:42] NateWr commented on #3997
@carzamora can you confirm that this is the order of events?

- User assigned as Section Editor
  - User can access editorial workflow
- User assigns self as Reviewer
  - User can access reviewer workflow
  - User can access editorial workflow through the extra text
- User declines Review
  - The extra text does not appear
  - When clicking on the submission, the user is taken to the reviewer work

[2018-10-11 13:49] NateWr commented on #4099
Thanks @marteery and @openacademia for your comments. They're much appreciated, and cataloguing these requests in the open helps us build up a public knowledge of the different use-cases we need to cater to.

This would be really appreciated. Thank you! :+1:

If you can detail in the user stories any of the differences in what you'd like to know for different stages, that'd be helpful. Review is t

[2018-10-11 13:52] NateWr commented on #4072
I've assigned this to the 3.2 milestone and given it a Critical Issue flag since several key forms are effectively broken.

I'm sorry I've let it drag on like this, but I just haven't been able to focus on too many different issues right now. I will look into it once my current workload is merged.

[2018-10-11 13:53] ajnyga commented on #3997
Maybe this: https://github.com/pkp/pkp-lib/blob/master/classes/services/PKPSubmissionService.inc.php#L622