[2016-08-29 22:13] crism commented on #1766
See [the IOPN theme](https://github.com/PublishingWithoutWalls/pkp-iopn/tree/master/themes/ojs/iopn)—so far, just a renamed clone of the default theme.

[2016-08-29 22:14] crism commented on #1766
The `uploadFormPlugin.tpl` form template needs a couple of hidden parameters passed through. Need to brush up on Smarty, again…

[2016-08-29 23:31] asmecher commented on #1683
Closing for 3.0!

[2016-08-29 23:31] #1683 closed

[2016-08-30 01:16] asmecher commented on #1765
@NateWr, passing this your way.

[2016-08-30 05:04] WaDelma commented on #1766
#1650 should fix this problem.

[2016-08-30 05:39] WaDelma opened #1768 "[OJS] Native importexport plugin seems to be broken"
As I noticed in [forum post](http://forum.pkp.sfu.ca/t/migrating-from-legacy-database-to-ojs/18771) the native importexport seems to be broken.
I tried to export test article and the import it back and it failed.

[2016-08-30 10:49] WaDelma commented on #1768
Apparently exporting issue and importing it works fine. So the problem is just with importing articles.

[2016-08-30 12:57] NateWr commented on #1766
@crism There are a bunch of changes coming in with the theme options API, which should be merged today or tomorrow.

https://github.com/pkp/pkp-lib/issues/1739

I've never "upgraded" a plugin and I'm not too familiar with the process. But happy to look into it once we get 3.0 out the door.

[2016-08-30 14:12] asmecher commented on #1663
Closing!

[2016-08-30 14:12] #1663 closed

[2016-08-30 14:52] NateWr commented on #1667
@asmecher Would you be willing to look at the tests on this one when you get a chance?

OJS is still running because there was a merge conflict, but the previous tests had odd results that I couldn't figure out.
OMP seems to be timing out at odd times. I'm not really sure where to go from here with it.

[2016-08-30 14:56] asmecher commented on #1667
@NateWr, I'll watch the OJS test. Travis seems to be especially prone to race condition problems the last few days -- I suspect it's some side-effect of server load or something -- and I've had to restart tests sometimes a couple of times to get through. I've restarted your OMP tests, as I'm pretty sure they fall into that category.

[2016-08-30 14:57] NateWr commented on #1528
@asmecher Sorry, I'm running out of ideas on this one too.

The OJS test was passing, I've just rebased to fix a merge conflict so they're re-running.
The OMP tests for `mysql` and `pgsql` are failing at different places, but I can't see any particular reason for it.

[2016-08-30 14:59] crism commented on #1766
@NateWr, upgrading is the same as installing, except it supersedes the selected plugin. There are a bunch of checks that the superseding is correct, and those checks don’t have enough information to correctly evaluate it, so the upgrade is rejected. This is particularly important for themes, because the development process involves making changes and uploading them…

[2016-08-30 15:00] asmecher commented on #1528
I see the tests are re-running here too -- I'll leave tabs open for when they finish. I may have to disappear for a while before that happens.

[2016-08-30 15:38] asmecher commented on #1528
Tests passed!

[2016-08-30 15:47] CFanselow commented on #1723
@ctgraham

I tried several mail-combinations and got a failure when sending from yahoo to gmail. Error Message:  "host gmail-smtp-in.l.google.com,  SMTP error from remote mail server after end of data: Unauthenticated email from yahoo.co.uk is not accepted due to domain's DMARC policy"

[2016-08-30 16:05] ctgraham commented on #1723
Yahoo is a provider which publishes hard DMARC compliance, and Gmail is moving toward increased DMARC enforcement.

The workflow I would use to evaluate your setup would be:
1) Are you able to set an envelope sender with your mailserver?  (This might be a SMTP server, or might be your local PHP mail() handler).  If so, you can turn on config.inc.php's [allow_envelope_sender](https://github.com/pkp

[2016-08-30 16:10] stranack opened #1769 "Remove expanatory text for ISSN field"
The detailed text provided for the ISSN fields in the Journal Settings section is a hold-over from before our in-app gitbook help. Let's remove it from the user interface. It clutters up the page unnecessarily.

[2016-08-30 16:39] NateWr commented on #1739
Tests are running.

I want to do just a bit of manual testing on this tomorrow, since I had to rush through the changes, so hold off on merging if you see the tests pass.

[2016-08-30 17:22] stranack opened #1770 "Revise Wording on Website Settings > Information"
Descriptions
Brief descriptions of the press for librarians and prospective authors and readers. These are made available in the site's sidebar when the Information block has been added.

Change "press" to "journal".

[2016-08-30 18:05] stranack opened #1771 "Revise Component Options for OJS"
When editing a component, there are some options that may be more OMP related.

![learning-ojs-3-settings-workflow-settings-components-edit](https://cloud.githubusercontent.com/assets/11185765/18100895/7cb608d6-6ea1-11e6-9568-df46d9fe94b2.png)

 Allow files of this type to be sorted by chapter
 Mark files of this type as dependent files (e.g. not to be listed with published content)
 Mark files of

[2016-08-30 21:19] crism commented on #1766
I think I’m running into the same problem that @WaDelma did. In `AdminPluginGridHandler::authorize()`, access is restricted iff `$category` and `$plugin` are specified. This seems to mean that anyone with access to the plugin panel can upload a plugin, but hardly anyone can upgrade one.

[2016-08-30 21:22] crism commented on #1766
Ah-hah! This is actually a problem with context `0`. I’m trying to upgrade the plugin site-wide, but that requires the user to have a role. There’s no affordance for users to have roles outside the context of a specific journal, so even as the überadmin, I’m rejected.

[2016-08-30 21:37] crism commented on #1766
Or… maybe not. I got rejected upgrading with respect to a specific journal, too. There’s no reason this user shouldn’t have permission to do pretty much anything.

[2016-08-30 22:49] asmecher commented on #1739
ha ha ha

[2016-08-30 22:50] asmecher commented on #1770
Fixed: https://github.com/pkp/ojs/commit/26531650e686c4d808478c4d411beb496b3f7657

[2016-08-30 22:50] #1770 closed

[2016-08-30 22:55] #1769 closed

[2016-08-30 22:57] asmecher commented on #1667
A little button-pressing got this one to pass tests, @NateWr. I'll go ahead and merge.

[2016-08-30 22:57] #1667 closed

[2016-08-30 22:59] asmecher commented on #1667
Merged!

[2016-08-30 23:00] asmecher commented on #1582
Last things needing doing:

 - [ ] really incomplete locales excluded from build
 - [ ] completeness flags set in locales.xml

[2016-08-31 08:55] NateWr opened #1772 "Consider adding aria-required to required fields"
We already use the HTML5 `required` attribute, but it's not clear how many screen reader tools support this instead of `aria-required`. Do some research and then implement if necessary.

[2016-08-31 11:14] isgrim opened #1773 "[OMP] Current master points to unknown commit of pkp-lib submodule"
Hi everyone,

the current (https://github.com/pkp/omp/commit/677932c45ab3523a11289bfcd26ede7686b8373c) master branch of the omp repository does point to an unknown commit of pkp-lib.
Maybe someone forgot to push the commit to the remote?

`Unable to checkout '5c9b56312727ef8d08ee17d25102d7f42a08c8f1' in submodule path 'lib/pkp'`

[2016-08-31 12:45] NateWr commented on #1760
PR:
https://github.com/pkp/ojs/pull/1005

(tests still running)

[2016-08-31 13:00] NateWr commented on #1765
PR:
https://github.com/pkp/pkp-lib/pull/1774

@asmecher I searched the `tests` directories in pkp-lib, ojs and omp for any mention of sidebars, and didn't find anything that this change should effect. But if you want me to push some OJS/OMP commits to do the tests let me know.

[2016-08-31 13:01] NateWr commented on #1765
@mtub Sorry, this is kind of an annoying last-minute change to the locale.

[2016-08-31 13:13] NateWr commented on #1767
PR:
https://github.com/pkp/ojs/pull/1006

The sub-menu link will appear once content has been added to About the Journal under Settings > Journal. I just removed the conditional so that it always appears -- I think it's fair for us to strongly encourage the use of the about page by default.

[2016-08-31 14:07] #1390 closed

[2016-08-31 14:10] NateWr commented on #1767
The tests timed out but I think it's safe to merge, @asmecher. yolo

[2016-08-31 14:11] NateWr commented on #1760
@asmecher: two errors due to timeouts in the `CrossrefNlm30CitationSchemaFilterTest` tests. Probably safe to merge?

[2016-08-31 14:27] NateWr commented on #1739
@asmecher

OJS tests are passing!

OMP tests are failing on `AclarkSubmissionTest`. The OMP PR for #1528 is failing on this test as well, which makes me a bit suspicious.

[2016-08-31 14:28] NateWr commented on #1528
@asmecher

Same here as #1739. OJS tests are passing but OMP tests are failing on `AclarkSubmissionTest`.

[2016-08-31 14:59] jmacgreg opened #1775 "recaptcha doesn't display on registration"
Recaptcha doesn't display on registration, but it's still "validated", so if you enable it users won't be able to register as they can't pass the validation. This has been tested on lib-ojs1 using the testdrive3 and present3 instances; you can take a look at the config files there and enable recaptcha to "on" (as I've already supplied the private and public keys in the config files).

Flagged agai

[2016-08-31 16:52] asmecher commented on #1773
Hi @isgrim -- that's entirely possible, we're working hard and fast on the release of OJS 3.0. I've pushed up a new submodule update; please let me know if the problem persists.

[2016-08-31 16:52] #1773 closed

[2016-08-31 16:53] asmecher commented on #1760
Merged, thanks -- test problems are unrelated. Closing!

[2016-08-31 16:53] #1760 closed

[2016-08-31 16:58] asmecher commented on #1765
I'm going to reschedule this for 3.0.1 for two reasons:

- [ ] Remaining locales
- [ ] The locale key is still `.leftSidebar` -- and there's correspondingly `.rightSidebar` etc. These need cleaning up.

[2016-08-31 17:01] asmecher commented on #1767
Merged, thanks -- but moving over to OMP rather than closing, as I think it still needs porting there.

[2016-08-31 17:04] asmecher commented on #1739
As elsewhere, go ahead for OJS. I can run through tests locally for OMP on Friday and see what's gotten it bottled up.

[2016-08-31 17:09] asmecher commented on #1775
@NateWr, any chance you could take a look at this one?

[2016-08-31 17:13] NateWr commented on #1775
Why are we using recaptcha? They're terrible. :(

[2016-08-31 17:16] asmecher commented on #1775
You should've seen the homebrew CAPTCHA test we had before that.

Without it, journals with open registration get tons of spam accounts created via bots. What would you recommend as an alternative? I haven't kept up on this.

[2016-08-31 17:20] NateWr opened #1777 "Consider re-adding subscription settings"
This option doesn't do anything.

![site-access-option](https://cloud.githubusercontent.com/assets/2306629/18139056/9d26f07e-6fa7-11e6-923f-8f27b2036229.png)

[2016-08-31 17:22] asmecher commented on #1777
@stranack, you hit a related one too -- do you have an issue # handy?

@NateWr, this is part of the subscription toolkit which isn't written yet. The option should be removed for now. (I can do it if you're busy -- just FYI.)

[2016-08-31 17:28] asmecher commented on #1582
FYI, I'm pulling a few last details in from the `translation3` install now. As of this moment (unless someone tells me otherwise), anything going on that install will probably not make the 3.0 release.

[2016-08-31 17:37] asmecher commented on #1582
OK, everything there that's not already included is inessential and could use a bit of review for details before committing. Closing for 3.0!

[2016-08-31 17:37] #1582 closed

[2016-08-31 17:39] NateWr commented on #1479
PRs:
https://github.com/pkp/pkp-lib/pull/1778
https://github.com/pkp/ojs-user-guide/pull/1
https://github.com/pkp/ojs/pull/1007

[2016-08-31 17:44] asmecher commented on #1479
Ah, sorry, I'm asking questions before finishing my email trawl. I've assigned @stranack to review the help stuff, and with his go-ahead we can merge the rest to suit.

[2016-08-31 17:44] NateWr commented on #1767
No OMP is fine. They have separate primary menus (eg - Catalog vs Current Issue).

[2016-08-31 17:45] asmecher commented on #1767
Ah, OK, thanks!

[2016-08-31 17:45] #1767 closed

[2016-08-31 17:46] NateWr commented on #1775
Are OJS journals targetted by a bot programmed specifically for them? Or are we just getting regular form submission bots?

If the latter I'd recommend a honeypot instead.

[2016-08-31 17:48] asmecher commented on #1775
It doesn't seem to be anything specific. I like the idea, but I'm leaning towards just fixing ReCAPTCHA for the 3.0 release.

[2016-08-31 17:49] jmacgreg commented on #1775
@NateWr, we see both forms of targetting. Regarding steps to replicate, open the config file and edit the following:

set "recaptcha" to "On"
set your private and public recaptcha keys to a private/public key pair (which I will send you separately).

[2016-08-31 17:49] jmacgreg commented on #1775
(the private and public keys are parameters in the config file)

[2016-08-31 18:07] jmacgreg opened #1779 "Upgrade issue: pre-upgrade custom block plugins can't be edited or deleted"
If I have a journal that had custom blocks created in OJS 2, they can't seem to be edited or deleted after upgrade to OJS 3. To replicate:

1) upgrade a 2.4.x version of OJS that has previously-created custom blocks;
2) go to Settings -> Website -> Plugins -> Custom Block Manager -> "Manage Custom Blocks", and click "Edit" or "Delete" for any previously-created block. Nothing will happen.

NB: thi

[2016-08-31 18:24] NateWr commented on #1528
PRs merged. Rescheduling the reset for post-3.0.

[2016-08-31 18:35] NateWr commented on #1739
Merged!

[2016-08-31 18:35] #1739 closed

[2016-08-31 18:57] jmacgreg opened #1780 "[OJS] Announcement description is saved, but not displayed"
Any announcement description added to Settings -> Website Settings -> Announcements is saved, but not displayed on the Announcements page.

[2016-08-31 19:19] asmecher commented on #1777
@NateWr, I hope I didn't pounce on something you were working on, but I removed the option. Will do some checks over here and drop a back-link to this issue so we can revert/assess the previous code when we add subscription support post-3.0.

[2016-08-31 19:24] jmacgreg opened #1781 "[OJS] BibTeX citation display format doesn't work"
Viewing an article and clicking the "BibTeX" option should (IIRC) display citation information in TeX markup; instead, nothing happens.

[2016-08-31 19:29] asmecher commented on #1781
I fixed the syntax error that was causing the problem, so now it works, but it's ugly. @NateWr, just letting you know -- this is currently flagged against 3.0.1, not 3.0 -- but the BibTeX output could probably stand some kind of "copy to clipboard" button instead of just dumping it out.

[2016-08-31 19:30] asmecher commented on #1779
@jmacgreg, is this on the `present3` install or somewhere else I could grab a DB dump?

[2016-08-31 19:35] jmacgreg opened #1782 "[OJS] Upgrade issue: custom review form items are displayed as "Array""
Custom review form items with multiple options - namely, radio button text, or checkbox text - are displayed as "Array" in the system. See attached screenshots for a comparison between OJS 2 and 3.

They appear to be stored properly as arrays in the DB, eg. the following set of options from 1-5:

a:5:{i:0;s:1:"1";i:1;s:1:"2";i:2;s:1:"3";i:3;s:1:"4";i:4;s:1:"5";}

And if I create a new dropdown opt

[2016-08-31 19:36] jmacgreg commented on #1779
Hi Alec, this would be via the client test dump you sent me earlier.

On Wed, Aug 31, 2016 at 3:30 PM, Alec Smecher <notifications@github.com>
wrote:

--

James MacGregor
Publishing Services Coordinator
Public Knowledge Project (PKP)
Twitter: @jmacgreg
Skype: j.macgreg

[2016-08-31 19:38] asmecher commented on #1779
OK, thanks!

[2016-08-31 19:47] asmecher commented on #1782
Is this the same DB you mentioned before? Got a submission ID with something already present?

[2016-08-31 19:55] asmecher commented on #1779
It's because the 2.x block plugins contain spaces in their names, which is not allowed by the new version of the plugin. Leaving for 3.0.

[2016-08-31 20:00] jmacgreg commented on #1782
Yep, and nope - what I've been doing is previewing the review form via the
management settings.

J

On Wed, Aug 31, 2016 at 3:47 PM, Alec Smecher <notifications@github.com>
wrote:

--

James MacGregor
Publishing Services Coordinator
Public Knowledge Project (PKP)
Twitter: @jmacgreg
Skype: j.macgreg

[2016-08-31 20:04] asmecher commented on #1777
Related, from @stranack:

I'll handle that too.

[2016-08-31 20:35] stranack opened #1783 "Review Form Preview"
When previewing the review form, the required asterisk isn't placed next to the question text.

[2016-08-31 20:39] asmecher commented on #1698
Done for 3.0!

[2016-08-31 20:39] #1698 closed

[2016-08-31 21:01] asmecher opened #1784 "Unify near-duplicate template templates/management/settings/access.tpl"

[2016-08-31 21:27] asmecher commented on #1479
Merged/cherry-picked, thanks!

[2016-08-31 21:27] #1479 closed

[2016-08-31 21:37] NateWr commented on #1775
@mfelczak would you mind doing a code review of this PR? If you're able to test latest master, it'd be great to have you give it a manual spin as well, but no worries.

@asmecher, a couple caveats before you review and merge:

- I added locale strings to match the new api's [error codes](https://developers.google.com/recaptcha/docs/verify#error-code-reference). This means our non-English locales a

[2016-08-31 21:50] asmecher commented on #1781
Fixed by https://github.com/pkp/ojs/pull/1008!

[2016-08-31 21:50] #1781 closed

[2016-08-31 22:41] mfelczak commented on #1775
Thanks @NateWr

A couple of outstanding issues:
- Need to remove captcha_on_comments, captcha_on_mailinglist from config.TEMPLATE.inc.php
- language auto_detect didn't work for me with non-English locales

[2016-08-31 22:44] asmecher commented on #1775
Thanks, I'll take it from there!

[2016-08-31 23:08] asmecher commented on #1775
Language detection looks like a rabbit hole, I'm content to close this for now and file another for later. Thanks, all.

[2016-08-31 23:08] #1775 closed

[2016-08-31 23:09] asmecher opened #1786 "Ensure ReCaptcha language is correct"
...either by checking its autodetection feature, or by specifying directly.

(From: https://github.com/pkp/pkp-lib/issues/1775)

[2016-09-01 08:23] NateWr opened #1787 "Tab-specific primary nav menu items don't work when already on page"
24352f197923298e5c4903dc6af31291116cc2ba introduced new links for nav menu items to open secondary tabs on pages directly.

This works if the user is on an entirely different page. But if the user is on the page where the tabset is, it doesn't open the new tab (though it does seem to focus on it).

Example: Go to the Issues page. Then click on the Issues > Back Issues link in the primary nav menu

[2016-09-01 09:00] klausru opened #1788 "Incorrect datetime value"
When I do an upgrade using php5.6 I get an error saying

This results from a potentially malformed where clause in
[https://github.com/pkp/ojs/blob/master/dbscripts/xml/upgrade/3.0.0_update.xml#L36](https://github.com/pkp/ojs/blob/master/dbscripts/xml/upgrade/3.0.0_update.xml#L36)

Once I set the WHERE to something serious like "2001-01-01 00:00:00" this script runs smoothly.

[2016-09-01 15:40] asmecher commented on #1788
@klausru, what version of MySQL are you using?

[2016-09-01 18:49] stranack opened #1789 "Register Site for Indexing Revisions"
Site Admin > Site Settings > Site Setup > Register Site for Indexing

We should remove this section altogether from Site Setup. We want to have journals registered individually in the PKP Index -- and I'm not sure how much this is used for other purposes.

Can we instead include something specific for the individual journals under Settings > Indexing (under Search Engine Indexing):

PKP Index

Reg

[2016-09-02 05:57] klausru commented on #1788
I am using:
- MySQL 5.7.13-0ubuntu0.16.04.2 - (Ubuntu)
- PHP 5.6.25-2+deb.sury.org~xenial+1

[2016-09-02 11:47] amandasramalho commented on #1747
@asmecher See attached!

[2016-09-01+omp_scielo_org-error.zip](https://github.com/pkp/pkp-lib/files/451900/2016-09-01.omp_scielo_org-error.zip)

[2016-09-02 13:17] henkela opened #1790 "[OJS] stable-3_0_0 translations"
Hi all,
great to see ojs 3 is going stable :-)
I just cloned the stable branch of ojs 3 and made a basic setup. Unfortunately, I came cross some missing translations.
Here is the list:
##about.onlineSubmissions.submissionActions##
##plugins.themes.default.option.typography.label##
##plugins.themes.default.option.typography.notoSans##
##plugins.themes.default.option.typography.notoSerif##
##plugins

[2016-09-02 14:50] asmecher commented on #1747
@amandasramalho, I think this has already been fixed by https://github.com/pkp/pkp-lib/commit/0480ac5eafdb22a05b17a01cb821f3cc215561ca -- could you try refreshing your installation with the latest code (or cherry-picking in that commit)?

[2016-09-02 14:53] asmecher commented on #1790
Thanks, @henkela -- @mtub is probably already aware of these. There were a few last-minute locale key changes that didn't get updates.

[2016-09-02 15:02] asmecher commented on #1788
Strangely, this has been in the OJS 2.4.2 upgrade script since 2013 with no errors reported. Two tested MySQL installs (5.5.50 and 5.5.49) don't complain.

This query was used to detect and fix incorrectly-stored `NULL` dates and the nonsensical-looking date has actually appeared in the past. I suspect this started becoming illegal beginning with some newer release of MySQL.

As a work-around, you

[2016-09-02 15:24] asmecher opened #1791 "Fix COUNTER plugin template references (and test plugin)"
See CounterPlugin::logRequest near line 106:

    // TODO: consider the effect of LOCKSS on COUNTER recording
    assert(false); // Template names no longer apply (e.g. interstitial)

[2016-09-02 15:26] asmecher opened #1792 "Port QuickSubmit plugin to OJS 3.0"

[2016-09-02 15:30] asmecher opened #1793 "Test/fix PostgreSQL upgrades"
See http://forum.pkp.sfu.ca/t/upgrade-failure-postgresql/19215

[2016-09-02 15:57] ctgraham commented on #1791
Watching this issue.... there's a ton of changes in 2.4.x which need to be brought forward to 3.x.

[2016-09-02 16:36] kardeiz opened #1794 "[OJS] #submissionFilesGridDiv div never loads"
The `#submissionFilesGridDiv` div never loads on step 2 of the "Submit an Article" process. The dev console shows that `http://my-url/index.php/my-journal/$$$call$$$/grid/files/submission/submission-wizard-files-grid/fetch-grid?submissionId=12&_=1472833858245` returns a 404.

This is with the new 3.0.0 release. The same thing happens whether I am a journal manager/editor or a newly registered user

[2016-09-02 16:46] asmecher commented on #1794
@kardeiz, can you confirm that `lib/pkp/controllers/grid/files/submission/SubmissionWizardFilesGridHandler.inc.php` exists in your installation?

[2016-09-02 17:01] kardeiz commented on #1794
Whoops, good call; it is absent. Looks like a bad deployment process on my part. I apologize for wasting your time! Thank you for your fast response!

[2016-09-02 17:01] #1794 closed

[2016-09-02 17:02] asmecher commented on #1794
No worries, glad to hear it was an easy fix.

[2016-09-02 17:42] asmecher opened #1795 "Spectrum colour picker not loaded in journal settings wizard"
When accessing the Appearance form via the journal settings wizard, then "spectrum" colour picker is not loaded, leading to...

    TypeError: $colourInput.spectrum is not a function

...and since JS stops executing, other page elements have trouble after this.

[2016-09-02 18:20] asmecher commented on #1788
Avoided errors in finicky versions of MySQL by wrapping a string cast around the zero date.

For OJS 3.0, apply: https://github.com/pkp/ojs/commit/612182bc1e8621333ddc2f0952e2395a2d0a434f
For OJS 2.4.x, apply: https://github.com/pkp/ojs/commit/b3f26db591d12e2c77b89ec0ce837d25032ad808

[2016-09-02 18:20] #1788 closed

[2016-09-02 19:10] mtub commented on #1790
Thanks, @henkela, for reporting these. As Alec said, there had been a few last-minute updates to the OJS 3 code that couldn't be translated. Will look into doing these over the next weeks, together with further updates. These translations will go to GitHub and will be included in the next updated release (https://github.com/pkp/pkp-lib/milestone/10). As always: feel free to make suggestions for tr

[2016-09-02 21:30] stranack opened #1796 "Ability to reorder galley display order"
Currently, galleys are displayed in the order in which they are created.

It would be useful to have the ability to reorder them from the galley grid on the production stage.

[2016-09-03 01:48] asmecher commented on #1793
Patches to apply:
 - In `lib/pkp`: https://github.com/pkp/pkp-lib/commit/7e33ad63f2ee4c2b3063923d70a36e3fab23f07e
 - In root: https://github.com/pkp/ojs/commit/69ed23aba986a0206ff9eb4f92dd21f30b6edccd
 - In root: https://github.com/pkp/ojs/commit/625a73622375ff07242452a32fc939dfbcca5496
 - To correct `ERROR: type "serial" does not exist`: Download patch from https://pkp.sfu.ca/support/forum/viewto

[2016-09-03 14:12] mouseonthemoon opened #1797 "File uploader not working on OJS 3"
Can't upload a logo in the OJS settings wizard, not in google Chrome neither in Firefox

"The system file uploader is loading. If it doesn't appear it is likely that none of its runtimes is supported by this browser. Please, contact administration for support. "

[2016-09-03 16:45] asmecher commented on #1797
@mouseonthemoon, this may be because of a Javascript error elsewhere in the system, which causes Javascript to stop executing before the uploader is initialized. I'd suggest checking your Javascript console, either by using built-in browser tools, or using something like Firebug for Firefox.

[2016-09-04 14:02] NateWr commented on #1772
I asked an ally expert I know who recommended we use `aria-required`. https://twitter.com/coolfields/status/772427731564957696

[2016-09-05 03:55] ancht commented on #1797
@asmecher
I got the same issue and the rest upload buttons not working. When inspected, the Chrome browser 's console show this warning and error,

<img width="533" alt="admin_wizard_inspected" src="https://cloud.githubusercontent.com/assets/21995563/18237060/29975208-7357-11e6-8db6-4e0c136b7a18.png">

[2016-09-05 04:03] asmecher commented on #1797
This is a duplicate of https://github.com/pkp/pkp-lib/issues/1795 -- watch that entry for a resolution. Meanwhile you can access the settings forms outside of the setup wizard, where they should work without trouble.

[2016-09-05 04:04] #1797 closed

[2016-09-06 08:23] isgrim opened #1798 "[OMP] OAI Dc11 Metadata plugin not working in omp-stable-1_2_0. Missing method from pkp-lib"
Hi everyone,

i get the following error when accessing the OAI endpoint with ListRecords:
`PHP Fatal error:  Uncaught Error: Call to undefined method PublishedMonograph::getFullTitle() in /home/nw/dev/projects/omp1.2/plugins/metadata/dc11/filter/Dc11SchemaPublicationFormatAdapter.inc.php:83\nStack trace:\n#0 /home/nw/dev/projects/omp1.2/lib/pkp/classes/metadata/MetadataDataObjectAdapter.inc.php(26

[2016-09-06 14:44] NateWr commented on #1795
PR:
https://github.com/pkp/pkp-lib/pull/1799

Tests running at:
https://github.com/pkp/ojs/pull/1010

[2016-09-06 15:27] asmecher commented on #1795
Committed. To patch an OJS 3.0.0 installation, apply https://github.com/pkp/pkp-lib/pull/1799/commits/b3db8542d3bca57851c2e48ca545d237a9ed924e within `lib/pkp`.

[2016-09-06 15:27] #1795 closed

[2016-09-07 06:53] bozana commented on #1768
@WaDelma, if this is an issue for OJS 3.0: yes, only article import is not possible at the moment. See/track the c) here: https://github.com/pkp/pkp-lib/issues/1709.

[2016-09-07 18:38] crazy-weasel opened #1800 "UserGroupDAO insertObject returns wrong value"
Hi!

Running the upgrader for OJS3 always failed for me because of a unique key violation. (Duplicate entry '2-0-4' for key 'user_group_stage_pkey')

I tracked the error down and found that in [UserGroupDAO.inc.php:88](https://github.com/pkp/pkp-lib/blob/master/classes/security/UserGroupDAO.inc.php#L88) a second call to getInsertID is made instead of just returning $userGroup->getId() like in most

[2016-09-07 19:00] asmecher commented on #1800
@crazy-weasel, this appears to be the same as http://forum.pkp.sfu.ca/t/ojs-2-4-7-to-3-0-0-upgrade-problems/19114 --

I wonder whether repeated calls to `getInsertId` are causing the problem. (I haven't seen trouble here, but your DBMS is a different version than mine.)

Try changing `lib/pkp/classes/security/UserGroupDAO.inc.php` line 88 from...

    return $this->getInsertId();

...to...

    re

[2016-09-07 19:18] asmecher opened #1801 "Fix text paths for issue galleys"
See http://forum.pkp.sfu.ca/t/ojs3-cannot-view-the-full-issue-galley/19445

[2016-09-07 19:33] crazy-weasel commented on #1800
@asmecher Yes, I tried changing to `return $userGroup->getId();` bevore I wrote the issue and it fixes the problem.

I debugged the calls, and the first call to getInsertId works normally. The second one returns 0. My guess is that the update-queries inside `$this->updateLocaleFields($userGroup);` modify the last InsertId-value.

Sorry that I haven't made it clear enough in my first post.

[2016-09-07 19:47] asmecher opened #1802 "Fix category sequence"
Ordering is available for categories in setup, but the sidebar display doesn't appear to respect the ordering.

[2016-09-07 19:48] #1802 closed

[2016-09-07 20:01] asmecher commented on #1800
@crazy-weasel, that's certainly possible, even though we're supplying the table name to the `_getInsertId` call -- if I remember correctly, different DBMSs behave differently in this regard and I have a vague recollection of either MySQL or PostgreSQL treating the "last insert ID" as a database-wide single value. I'll make the change suggested above; thanks for your help!

[2016-09-07 20:04] asmecher commented on #1800
All the above patches are equivalent, just committed to different branches. To patch your OJS 3.x installation, apply https://github.com/pkp/pkp-lib/commit/d5391b4b6dfb3adb127ad20c7a06888e2a239325 in the lib/pkp subdirectory.

[2016-09-07 20:04] #1800 closed

[2016-09-07 21:14] asmecher commented on #1761
Cherry-picked https://github.com/pkp/pkp-lib/commit/12c7be362bfb76c18302116b5f5a4cee86156794 to `omp-stable-1_2_0`, `omp-dev-1_2`, `ojs-stable-2_4_8`, and `ojs-dev-2_4`. That copy of the compiler jar will probably be the permanent solution for those branches; we'll modernize our JS stuff in master for the future and likely not back-port it.

[2016-09-07 22:16] asmecher opened #1803 "Fix attempt to connect to "ojs" database before installation"
With PHP7 (not previous releases for some reason) OJS appears to attempt to connect to the default database (ojs / ojs / ojs) before installation is complete, in order to configure the database timezone. Prevent it from doing so.

[2016-09-07 22:18] #1803 closed

[2016-09-07 22:18] asmecher commented on #1803
To patch a copy of OJS 3.0.0, apply either of the linked commits in the `lib/pkp` subdirectory.

[2016-09-07 22:37] asmecher opened #1804 "Fix function declaration variations for PHP7"
PHP7 is stricter about subclass overrides varying the contract provided by the parent implementation. Correct these.

[2016-09-08 11:43] bozana commented on #1690
@asmecher, could you take a look at this PR: https://github.com/pkp/ojs/pull/1011 ?

[2016-09-08 11:44] bozana commented on #1629
@asmecher, could you also take a look at this PR: https://github.com/pkp/omp/pull/331 ?

[2016-09-08 13:56] bozana commented on #1726
@asmecher, could you take a look at this PR: https://github.com/pkp/ojs/pull/1012
Should this feature also be migrated to OJS 3.x?

[2016-09-08 17:40] amandasramalho commented on #1747
@asmecher Unfortunately the error continues.

[erro_omp.zip](https://github.com/pkp/pkp-lib/files/462280/erro_omp.zip)

[2016-09-08 18:34] stranack opened #1805 "Can't Export Issues"
I'm using the Demo Journal installation for this - http://journals.sfu.ca/present3/index.php/demojournal/

Logged in as pkpadmin

Go to Tools > Import/Export > Native XML Plugin > Export Issues

I select the issue and hit Export Issues and get a browser error in Chrome:

The journals.sfu.ca page isn’t working
journals.sfu.ca is currently unable to handle this request.
HTTP ERROR 500

In Firefox, I

[2016-09-09 08:19] bozana opened #1807 "Multilingualism"
There are a few issues concerning multilingualism, that need attention, s. forum.pkp.sfu.ca/t/ojs3-and-multilingual-journals/19452/ and http://forum.pkp.sfu.ca/t/how-to-go-about-multilinugual-welcome-text-on-the-index-ojs-3-0/17002/5 and http://forum.pkp.sfu.ca/t/names-of-localizations-in-text-boxes-and-fields/21049
- [x] a) TinyMCE fields do not contain language designation, so that the user does

[2016-09-09 08:41] NateWr opened #1808 "Display article references metadata on article details page"
See: http://forum.pkp.sfu.ca/t/ojs3-article-citations-problem-on-update-from-2-4-8-version/19729

Alec, I think we'll need to talk about what the status is of the citations management plugin, and how references ought to be displayed on the article details page. At the moment, as far as I see, there's just a textarea in the article metadata, which would lead to low predictability in displaying the

[2016-09-09 12:18] bozana commented on #1499
@henkela, @asmecher, I just tested the current OJS master branch and the admin user does get implicitly "Journal manager" role.
The new submitted article can then not be "Send to review" till a Journal editor is assigned in the Participants grid. This is the current workflow.
Thus, I think this issue can be closed?

[2016-09-09 14:37] bozana commented on #440
@asmecher, one more question: I see that in the new version there is extra "Users & Roles" menu item for journal managers in the left sidebar navigation. Should I thus enable this menu item to appear also for the users having just admin (and not also journal manager) roles, or would it be better to add "Users" row action to the admin context grid (Administration > Hosted Journals)?

[2016-09-09 18:06] asmecher commented on #1726
Yes, this should go to 3.x too, thanks!

[2016-09-09 18:14] asmecher commented on #1808
OJS 2.x supported a plaintext field for copy/paste -- good -- which used to feed a whole subsystem called the Citation Assistant, which has proven unwieldy and hard to maintain and hasn't been supported for some time. Overall I think the XML conversion toolset will provide a better long term approach to handling citations. I suggest we do our best to support the plaintext field as an ongoing data

[2016-09-09 18:48] asmecher commented on #1690
Merged the above PR, thanks, @bozana!

[2016-09-09 19:09] #1804 closed

[2016-09-09 19:10] asmecher opened #1809 "Fix listbuilder conventions for PHP7"
`ListbuilderHandler::unpack` was counting on `$this` coming in to its scope referring to the caller; PHP7 doesn't allow that (and it's a pretty wacky expectation anyway). Fix.

[2016-09-09 19:44] #1809 closed

[2016-09-09 20:12] asmecher commented on #1629
Merged, thanks!

[2016-09-09 20:16] bozana commented on #1629
PR omp-stable-1_2_0: https://github.com/pkp/omp/pull/332
PR omp-dev-1_2: https://github.com/pkp/omp/pull/333

[2016-09-09 20:16] bozana commented on #1629
Aaaa... you are so quick! :-)

[2016-09-09 20:18] bozana commented on #1629
Closing...

[2016-09-09 21:51] crism opened #1810 "[OJS][OMP] undefined constant in site settings"
`PHP Notice:  Use of undefined constant bool - assumed 'bool' in .../lib/pkp/classes/admin/form/PKPSiteSettingsForm.inc.php on line 134` (also 135, 136)

This is against `HEAD`, but it looks to have been there since 4aaf1f29245e7a5a29810409045f91d2f7f527ef.

[2016-09-09 22:05] #1810 closed

[2016-09-09 22:06] asmecher commented on #1810
Thanks, @crism!

[2016-09-09 22:16] #1801 closed

[2016-09-09 22:16] asmecher commented on #1793
Closing for now.

[2016-09-09 22:16] #1793 closed

[2016-09-09 22:18] asmecher commented on #1726
Merged the 2.x PR; just needs porting to OJS 3.0.x / OMP 1.2.x.

[2016-09-09 22:26] asmecher commented on #1747
@amandasramalho, can you try turning on the `show_stacktrace` setting in your `config.inc.php` then triggering the error again? That might give some more detail in the error log.

[2016-09-09 22:38] asmecher commented on #1499
Yes, that sounds reasonable. Thanks!

[2016-09-09 22:38] #1499 closed

[2016-09-09 23:37] asmecher commented on #440
Hmm, I think it would probably make sense to turn the Administration menu into a container for a couple of sub-elements:

- Administration
 - Hosted Journals
 - Users
 - Administrative Functions

...with the inner three presented as tabs in a tabset, for consistency with the manager's interface.

However, I'm not sure it'll be easy to give the Administrator one of the features they require in the

[2016-09-09 23:52] asmecher opened #1812 "Remove Citation Assistant leftovers"

[2016-09-09 23:56] #1812 closed

[2016-09-10 07:35] bozana commented on #440
Hmmm... Yes, maybe it would be then better to have it as a row action for each journal listed in the context grid (hosted journals)?

[2016-09-12 08:06] bozana commented on #1805
For some reason, most of the files in that installation have no "uploader_user_id" :-O A user is expected, s. https://github.com/pkp/pkp-lib/blob/master/plugins/importexport/native/filter/SubmissionFileNativeXmlFilter.inc.php#L110 and calling the method getUsername() on that user object (that does not exist) leads to an error.
How are those files uploaded?

[2016-09-12 13:53] bozana commented on #440
Hmmm... I've just seen that administration page is always in a context, thus eventually the Users tab could work (and be for that context only). However, because all the journals, are listed in the context grid, maybe it is good to have the journal/context functions there -- they are meant to be just for a journal/context.

[2016-09-12 14:20] jmacgreg opened #1813 "Allow Authors to withdraw papers at any time"
Authors should be able to withdraw papers at any time prior to final publication. Authors can currently only withdraw/delete papers that are incompletely submitted. Some questions:

- is there a specific cutoff for when an author can or cannot withdraw a paper without further intervention/steps taken - eg. after publication?

- what would the procedure be? A "Withdraw" button and an associated ema

[2016-09-12 14:23] jmacgreg opened #1814 "Allow any participants to privately accept/refuse/withdraw from participation"
Participants should be able to privately withdraw from participation on any submission. They may have a conflict of interest, or may be busy, or there may be some other sort of issue. Their decision should not be made available to other participants (except the submission's assigned editor). This action should be private, with notification only going to the assigned editor, and any action history

[2016-09-12 14:54] stranack commented on #1805
Those files would have been uploaded sometime back in 2005 or 2006, so they pre-date the quick submit plugin or possibly even the expedited submission process. I can't remember for certain, but expect it was done while "logged in as" an author.

If this is a one-time problem for this specific installation, I can figure out a workaround.

[2016-09-12 15:16] asmecher commented on #1813
Interested in @willinsky's thoughts on this.

[2016-09-12 15:17] asmecher commented on #1814
Again, curious about @willinsky's take.

[2016-09-12 15:21] mittinatten commented on #1793
The patch for "ERROR: type serial.." can't be applied as is, had to remove the last change in the set (which was just a new-line).

[2016-09-12 15:26] asmecher commented on #1793
@mittinatten OK, thanks for the heads-up (it's quite an old patch). Unfortunately that's a patch to the ADODB library which is getting very long in the tooth; I suspect we're going to have to replace it, which is not going to be exciting. Otherwise, did the set of patches above fix the upgrade process for you?

[2016-09-12 15:44] mittinatten commented on #1793
Unfortunately not, do you want me to post the rest here, in the PKP-forum thread, or as a new issue?

[2016-09-12 16:57] amandasramalho commented on #1747
@asmecher The log is attached.
[omp-error.zip](https://github.com/pkp/pkp-lib/files/467864/omp-error.zip)

[2016-09-12 17:15] willinsky commented on #1814
Trying to imagine use cases. Maybe you have one but here's my thinking: If an author withdraws from a multi-author paper in process, that participation should not be rendered invisible but marked by something like "withdrawn" available to the other authors. If a reviewer withdraws that would only be available to assigned editor. If a copyeditor withdraws after having worked on a paper, that partic

[2016-09-12 18:34] asmecher commented on #1793
@mittinatten, thanks for the details. What version are you upgrading from? Would you be willing to provide me with a database dump from the old version for local testing over here? (If so, feel free to alter whatever you want before sending it, particularly `users.password`, `users.email`, and `authors.email`.)

[2016-09-12 18:49] asmecher commented on #1805
Those would have come from an OJS 2.x installation via the upgrade process. We don't necessarily have the uploader's user/user group, so there's not an especially good solution, I fear. The `Upgrade.inc.php` script finds a Journal Manager and uses their user ID / user group ID for supplementary content; I suppose we could either do the same for other files, just in order to enforce consistently *h

[2016-09-12 18:49] mittinatten commented on #1793
Upgrading from 2.4.2. Can see what I can do with the dump when I'm back at work tomorrow, where can I send it?

[2016-09-12 18:59] asmecher commented on #1793
I'm alec at smecher point bc point ca, thanks!

[2016-09-12 19:10] asmecher opened #1815 "Move metadata (DC/GS) meta tags into HTML head"

[2016-09-12 19:12] asmecher commented on #1815
See http://forum.pkp.sfu.ca/t/ojs3-dc-highwire-metadata-not-included-in-the-html-header/19982. @NateWr, an easy solution would be to add something like a Smarty `$additionalHeaders` variable into `lib/pkp/templates/frontend/components/header.tpl`, then allow calling templates to populate it before including the header. Objections to that? Alternately, we could do something similar to what you've d

[2016-09-12 20:53] asmecher opened #1816 "Implement subscription support"

[2016-09-12 20:54] asmecher opened #1817 "Implement APC support"

[2016-09-12 21:13] asmecher commented on #1747
Hmm, I'm still not seeing the expected stack trace, and my copy isn't showing the same behavior. Can you confirm that you're using the current `master` branch, both for the application, and the `lib/pkp` submodule?

Another way to get some information from your installation, if you have a developer toolbar like Firebug for Firefox -- just before hitting the "OK" confirmation to copy the form, edit

[2016-09-12 21:43] stranack opened #1818 "Licensing link"
Could we add the licensing link to the article-level page?

It is currently displayed in OMP under the copyright information:
http://monographs.lib.sfu.ca/index.php/sfulibrary/catalog/book/1

Something similar would work for OJS 3.

[2016-09-12 21:46] stranack commented on #1818
Could we also consider replacing the text ("Licensing") with the appropriate Creative Commons text and/or image?

https://creativecommons.org/choose/results-one?license_code=by&amp;jurisdiction=&amp;version=4.0&amp;lang=en

[2016-09-12 22:18] asmecher commented on #1798
@isgrim, try applying this patch in the `lib/pkp` submodule:
https://github.com/pkp/pkp-lib/commit/bd07189b7da8e0a00df096597a0a61840ad85a0e

[2016-09-12 23:22] asmecher opened #1819 "Incorrect notification URL"
See http://forum.pkp.sfu.ca/t/404-notification-link/19456

[2016-09-13 07:59] HighwayStar commented on #1469
I have same issue with current master  branch.

E-mail recieved after password reset:
[code]

[2016-09-13 08:21] isgrim commented on #1798
@asmecher Thank you very much! It is now working for me.

[2016-09-13 10:13] bozana commented on #1086
The newer PRs were:
https://github.com/pkp/ojs/pull/843/
https://github.com/pkp/pkp-lib/pull/1471

[2016-09-13 11:19] bozana commented on #1805
Hmmm... As far as I can see, the files in OJS 2.4.x do not have a user assigned to them, right? Thus the files will have uploader ID = NULL after the migration, except the supplementary files.
Is there another place in the system where the uploader is needed, except the native export/import?
I believe it would be OK to enforce having data there -- just that all files from 2.4.x would then have a j

[2016-09-13 12:13] ctgraham opened #1820 "Title parameter in multiple locale.xml files is $param instead of $title"
In OJS 2.4 dev:

See: https://github.com/pkp/ojs/blob/695a4d47fabfaf31f6fc7cea253e2f9a0724b06b/locale/ja_JP/locale.xml#L807-L868
vs: https://github.com/pkp/ojs/blob/e7e1941b5f1eb4feb332f417478278f1917285b1/locale/en_US/locale.xml#L1165-L1182

Reported: http://forum.pkp.sfu.ca/t/how-can-i-use-last-name-of-author-in-the-mail-template/19034/14?u=ctgraham

[2016-09-13 12:24] ctgraham commented on #1820
Looks like this was introduced with:
https://github.com/pkp/ojs/commit/faa31d7fa99c27277483220e037b4f2fafc92f30
and affects multiple locales.

[2016-09-13 12:35] ctgraham commented on #1820
A fix is probably a candidate for forward porting to master:
https://github.com/pkp/ojs/blob/0168e1726510d0fe6038899f7fad2551be18c612/locale/ja_JP/locale.xml#L771-L827

[2016-09-13 12:41] bozana commented on #1805
Hmmm...  @asmecher and @stranack, I manually fixed the missing uploader in the DB, but now the export is failing because a lot of files do not have a name which is required by our XML schema. This will be a little bit more difficult to fix. Also, the files in this installation seem not to be clear -- for example, one also cannot see them via the UI. I am not sure if they are all needed, but maybe

[2016-09-13 17:19] asmecher opened #1821 "When creating users, usernames are silently converted to lowercase"
When a Journal Manager creates an account, the username is silently converted to lowercase. Suggest displaying an error, or better yet, removing the lowercasing unless there's some reason for it.

[2016-09-14 01:11] stranack commented on #1805
I'm fine with starting with a fresh installation, and we can add the content manually. Let me know, though, as I will ask Janna to stop working with that installation until it is replaced.

[2016-09-14 06:16] mittinatten commented on #1793
Sent it yesterday, just checking to verify the email didn't get caught in any spam filters.

[2016-09-14 12:08] bozana commented on #1805
@asmecher, what do you think?

[2016-09-14 14:34] bozana commented on #1369
@asmecher, would we use the same ONIX list in OJS too? I believe it is not needed, right? If not, what extra dates should we consider, for user to be able to chose from?
- Print date / Publication date of print counterpart
- Online publication date
Just these two for now?
The current published date would be changed to date scheduled and, if no other date is set, this one would be used as till now

[2016-09-14 18:50] asmecher opened #1822 "Port DataVerse plugin to OJS 3.x"

[2016-09-14 19:26] asmecher commented on #1469
@HighwayStar, did you try the approach recommended above?
https://github.com/pkp/pkp-lib/issues/1469#issuecomment-228913830

Note that the email templates are installed to the database when the press is created, so updating the code after this fix was applied will not affect presses/installations that have already been created.

[2016-09-14 19:27] asmecher commented on #1798
Great, thanks for confirming!

[2016-09-14 19:27] #1798 closed

[2016-09-15 09:15] mittinatten commented on #1793
I tried upgrading the same database from 2.4.2 to 2.4.8 and that worked without error messages.

[2016-09-16 12:56] bozana commented on #1709
@asmecher, when a published article is being imported, there have to be an issue associated with it. At the moment we do not have this information. Is there maybe a good way to have a reference to an issue in the import XML file? For example an additional attribute "issue_id" for the "article" element, that would be considered if there is no issue in deployment (i.e. if not the whole issue is bein

[2016-09-16 15:07] bozana commented on #1709
@asmecher, one more question: I've just realized, that attribute "locale" is optional for localized nodes (s. https://github.com/pkp/pkp-lib/blob/master/xml/importexport.xsd#L22-L24). Thus an article title doesn't have to have locale and in that case it will be inserted without the locale in the DB, which is wrong, I think. Should then the locale attribute be set to required? I think this would be

[2016-09-16 15:42] asmecher commented on #1709
Most users are going to be importing single-language content, and many don't have a lot of XML skill, so I'm leaning towards inheriting from upstream if something isn't specified. It'll keep the XML shorter and more readable and for most users it'll be enough.

That would mean...

- Articles inheriting the default from the journal
- Content within articles (e.g. titles and abstracts) would inherit

[2016-09-16 16:48] amandasramalho commented on #1747
@asmecher See the image to the record of Firebug:
![captura de tela 2016-09-15 as 11 57 45](https://cloud.githubusercontent.com/assets/5446933/18593949/170fdc02-7c14-11e6-9375-4342363b297a.png)

Our version of PHP is:
PHP 5.6.25 (cli) (built: Aug 31 2016 00:36:42)
Copyright (c) 1997-2016 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2016 Zend Technologies
    with Zend OPcache v7.0.6-dev, C

[2016-09-16 16:58] amandasramalho opened #1824 "Error during registration of a new publisher in OMP"
Some new publisher registration area sessions appears only as "Loading". And when I click "next", accuses page error.
![image](https://cloud.githubusercontent.com/assets/5446933/18594250/5d78d1b6-7c15-11e6-8d19-166d0c21944a.png)
![image](https://cloud.githubusercontent.com/assets/5446933/18594274/7bf056dc-7c15-11e6-8200-b5bab35dedb6.png)

[2016-09-16 16:58] amandasramalho commented on #1824
[omp-error.zip](https://github.com/pkp/pkp-lib/files/477328/omp-error.zip)

[2016-09-16 17:01] asmecher commented on #1824
Thanks for the details, @amandasramalho. If you're using a developer toolbar like Firebug for Firefox, take a look at the sub-requests corresponding to the endlessly-loading spinners. I think you'll find that there is an error message of some kind included in the JSON response, which is causing the Javascript front-end to stop working, which leads to the later quirks you describe. The contents of

[2016-09-16 17:03] asmecher commented on #1747
@amandasramalho, look for the subrequest with a URL containing `copyReviewForm`; expand that row in the list to see if you can inspect the response the server returned. You'll likely find that it contains error messages; please post those here and I'll see what I can do.

[2016-09-16 18:54] amandasramalho commented on #1824
@asmecher would it be this?
![error_publisher](https://cloud.githubusercontent.com/assets/5446933/18597765/ce6ce6d6-7c25-11e6-81d3-717ec8d9d875.png)

[2016-09-16 19:07] amandasramalho commented on #1747
@asmecher
![image](https://cloud.githubusercontent.com/assets/5446933/18598075/82199a20-7c27-11e6-9244-d10d48ef093d.png)
![image](https://cloud.githubusercontent.com/assets/5446933/18598099/9ae56c6e-7c27-11e6-92ab-0a212655b071.png)

[2016-09-16 19:20] asmecher commented on #1747
Thanks, @amandasramalho, that's what I was looking for! I've committed 040d0ba to the master branch -- could you see if that fixes the issue?

[2016-09-16 19:22] asmecher commented on #1824
Ah -- I think you're running into https://github.com/pkp/pkp-lib/issues/1795.

[2016-09-16 19:22] #1824 closed

[2016-09-16 20:37] asmecher commented on #1709
@bozana, about https://github.com/pkp/pkp-lib/issues/1709#issuecomment-247593584 -- I suppose this is for when the import document contains `article` elements that aren't within their own `issue` element, right?

I think having the content in the XML file makes sense, but the issue ID is a pretty brittle way of doing it; maybe it's worth supporting to referring to issues both by ID and by some com

[2016-09-16 23:03] asmecher opened #1825 "Resolve HTML publishing issues"
In OJS 2.x, we jam arbitrary HTML into an OJS-style `<head>...<body>` wrapper, invariably resulting in invalid HTML that's generally happily presented by browsers. Not ideal.

In OJS 3.x, we present whatever the editor etc. has uploaded without wrapping it in anything. This offloads all metadata, layout, etc. work to the HTML production and potentially means a lot of overhead in maintenance (think

[2016-09-16 23:04] asmecher opened #1826 "Update LOCKSS PLN plugin for OJS 3.0"

[2016-09-16 23:05] asmecher opened #1827 "Implement Piwik plugin for OJS 3.0"

[2016-09-16 23:08] asmecher commented on #850
@bozana, I think you were interested in working on this.

[2016-09-16 23:45] asmecher commented on #1805
If there are upgrade issues -- no surprise, I expect we'll have to tune the upgrade code for a few releases -- better to fix them than to avoid them by cleaning out this installation. @bozana, is this the original filename, or the server filename?

[2016-09-17 01:09] asmecher commented on #1820
Ported forward to `master` and `ojs-stable-3_0_0` just for consistency (likewise: grep/sed, with visual sanity check)

[2016-09-17 01:09] #1820 closed

[2016-09-17 01:14] asmecher commented on #1369
I wonder if JATS has a good set of standard dates that we could borrow from. At a glance it has a `date` element with a free-form `date-type` field that's less than helpful -- examples include `received`, etc., but this isn't a controlled vocabulary; there is also a `pub-date` element, which is more specific. @axfelix, any suggestions here? Is there a de-facto controlled vocab in the JATS tag set

[2016-09-17 01:19] asmecher commented on #1793
@mittinatten, just a heads-up that I received the database, thanks -- just trying to scrape together the time to give it a test.

[2016-09-19 02:06] HighwayStar commented on #1469
As far as I can see there is no password field in current master branch email template https://github.com/pkp/ojs/blob/master/locale/en_US/emailTemplates.xml#L66

[code]

[2016-09-19 05:18] WaDelma commented on #1709
I have quite bit of legacy data to import so I will chime in here.

I will be importing lots of stuff (2128 articles) that have mixed languages and most of it doesn't have locale information. Also no issue information either for any of the articles.

We also have customised publishing front end and published stuff aren't actually in issues in OJS, but bundled into issues in the front end (don't as

[2016-09-19 06:44] Ph-We opened #1828 "Issues with input and display of keywords"
Hi!

Here are the issues found for keywords functionality:
1. The keyword fields are not labeled according to their locales (in multilingual journals) (#2499 and #2510)
2. Creation of a new keyword is triggered by ENTER or the comma sign (“,”). But the latter is not bound to the same key in different keyboard layouts. For example, in the Russian layout there is a “б” character instead of the comma

[2016-09-19 09:26] kafonso opened #1829 "OJS3 upgrade issue: unique key violation for key 'article_search_keyword_text')"
Hi,
Running the upgrader for OJS3 always failed for me because of a unique key violation. (Duplicate entry 'ascertained' for key 'article_search_keyword_text')
best regards
Carlos M Afonso

[2016-09-19 09:33] bozana commented on #1805
@asmecher, it is the name of the file that is in the file_settings table i.e. something like "`jmanger1, journal manager, blabla.pdf`" i.e. when function `$file->getName(null)` is used :-) I am not sure if these are only upgrade problems -- for example, why are those (a lots of) files not visible via UI? Also, for example, there are soooooo many users -- are they really needed? But I agree that we

[2016-09-19 13:29] bozana commented on #1805
@asmecher, it is the name of the file that is in the file_settings table i.e. something like "`jmanger1, journal manager, blabla.pdf`" i.e. when function `$file->getName(null)` is used :-) I am not sure if these are only upgrade problems -- for example, why are those (a lots of) files not visible via UI? Also, for example, there are soooooo many users -- are they really needed? But I agree that we

[2016-09-19 13:30] bozana commented on #1805
@asmecher, I fixed those file upgrade problems mentioned here, in this issue, s. https://github.com/pkp/ojs/pull/1017.

[2016-09-19 14:54] bozana commented on #1709
@WaDelma, what exactly do you mean by "have mixed languages and most of it doesn't have locale information" and  "falling back to unlocaled stuff"?
I will then leave the locales in XML optional, and if they are not there I will, as @asmecher said, take journal primary locale or submission locale (depending on what object is being inserted).
If the article XML element has date_published it is treat

[2016-09-19 16:19] bozana commented on #1709
Here the documentation, how the default locales will be for different objects:

- submission file i.e. revision name default locale = context primary locale
- issue galley locale: test if it is required
- issue metadata default locale = context primary locale
- section metadata default locale = context primary locale
- submission default locale = context primary locale
- submission metadata defaul

[2016-09-19 16:41] axfelix commented on #1369
Both `date` and `pub-date` allow day/month/year/season as you've noticed. Beyond that the most specificity you'll get is the `date-type` attribute of `date` and the `publication-format` attribute of `pub-date`. Both of the attributes have "suggested usage" which isn't a controlled vocabulary per se but does prescribe some values; this is the typical JATS approach to avoid blocking validation on fr

[2016-09-19 17:40] asmecher commented on #1748
Galleys with missing files:
    SELECT sg.galley_id, sg.file_id FROM submission_galleys sg LEFT JOIN submission_files sf ON (sf.file_id = sg.file_id) WHERE sf.file_id IS NULL;

[2016-09-19 18:25] kardeiz opened #1832 "[OJS] Safety/security of OJS application structure"
I'm a little concerned about the structure of the OJS application (both versions 2 or 3). In standard installations, the base OJS directory is the HTTPD `DocumentRoot`, and any OJS file can be requested by an HTTP client (unless protected from such access, as `config.inc.php` is).

Most major PHP applications that I've seen or worked with handle this by doing one of the following:

1. Make a subfo

[2016-09-19 18:32] asmecher commented on #1832
@kardeiz, all of the PHP code is safe for direct access should someone attempt that -- we define classes in `.inc.php` files but do not execute procedural code.

Including an `.htaccess` file is certainly an option, but not all servers are configured to respect them, so I'd worry about a false sense of security.

As for a `Web` or `public` subdirectory, it's not clear to me how this would work wit

[2016-09-19 21:46] kardeiz commented on #1832
@asmecher, thanks for the fast response!

I admit I hadn't thought about not being able to change the `DocumentRoot`. But, assuming that all files that needed to be publicly accessible were moved within a `Web` folder, wouldn't it be the case that:

* users with shared webhosts would be in the exact same situation they are now, except with a `Web` component in their URLs (that could easily be hidd

[2016-09-19 22:25] asmecher opened #1833 "Move GeoIP library to composer dependency; update to GeoIPv2"
See: https://github.com/maxmind/GeoIP2-php

Ensure that any extra bumpf that comes with this library (e.g. `benchmark.php` and `admin/generate_geoipregionvars.php` from GeoIPv1) are not unnecessarily deployed.

[2016-09-20 02:25] asmecher commented on #1805
@bozana, I think the number of users is because the installation doesn't/didn't have ReCAPTCHA testing enabled...

[2016-09-20 05:31] WaDelma commented on #1709
Never mind I just realised that I can get most of the locale information. I was just concerned that it would add incorrect locale info for articles as there are at least 4 languages used in different articles.

Metadata plugin doesn't interact with importexport right? I have DC metadata for these articles. Also it seems that DC metadata plugin doesn't support DCMI Metadata Terms, which are also us

[2016-09-20 09:58] ajnyga commented on #1825
Maybe a content editor for HTML versions and saving these to the database or as flatfile to the files directory? This is something that some journals have been asking for and I do understand the difficulties that it presents.

[2016-09-20 10:02] ania-appb opened #1834 "PHP Warning: end() expects parameter 1 to be array in search.tpl"
We spotted this error looking through our php errors log when testing our new installation of OJS 3.0 (this was not an upgrade):
Error:
PHP Warning: end() expects parameter 1 to be array, null given in /home/acta/ojs/ojs-3.0.0/cache/t_compile/c18f74cb7ec86d000ca85f6baec01c420e4e3321^%%61^61E^61E71072%%search.tpl.php on line 53
-----------------------------------------------------
Comment:

Actuall

[2016-09-20 10:30] bozana commented on #1834
Hmm... This point to a cache file. Could you maybe try to clear all the .php files in cache/ and cache/t_compile/ ?

[2016-09-20 11:53] fmux opened #1835 "OJS3 installation silently fails when php5-mysql is not installed"
I am currently attempting to install OJS 3.0.0 on a Debian jessie machine with Apache 2.2.22, PHP 5.4.45 and PostgreSQL 9.1.22. Following the steps in the installation guide, after extracting the software, setting up the directories and adapting the permissions, I tried to open OJS in a browser, which yielded only an empty page with a HTTP status code 500. There was no information at all in the se

[2016-09-20 13:53] bozana commented on #1709
PRs for c) and e) above:
pkp-lib: https://github.com/pkp/pkp-lib/pull/1836
ojs: https://github.com/pkp/ojs/pull/1020
omp: https://github.com/pkp/omp/pull/335
@asmecher, mind taking a look at these PRs?

[2016-09-20 15:00] asmecher commented on #1825
We'll likely add something like this as an additional approach -- but we'll also need to support situations where external tools generate full HTML content.

[2016-09-20 15:03] asmecher commented on #1835
I suspect this is a side-effect of https://github.com/pkp/pkp-lib/issues/1803 (which has already been fixed in github). Can you verify whether that patch changes the behavior of the installation tool? (It could also be useful to turn on `show_stacktrace` and `display_errors` in `config.inc.php`.)

[2016-09-20 15:51] bozana commented on #1709
The volume/number/year only make sense if this is the issue identification. In that case: could we have the attribute "issue_vol_no_year" for the article element, that would contain e.g. "1-1-2016"? If we separate it into 3 attributes it could happen that not all are entered, but... maybe it is OK too, i.e. in that case there would be an error. What would you prefer/what would be better?
And for i

[2016-09-20 16:03] bozana commented on #1709
@WaDelma, right, metadata plugin doesn't interact with importexport...

[2016-09-20 17:24] ajnyga commented on #1825
How about doing some parsing on the fly. I mean load the production HTML. Save everything necessary like CSS styles from the header => remove the header => replace with a new header created by OJS on the fly adding necessary journal styles headers etc. => show the HTML.

[2016-09-21 07:37] ptrckb opened #1837 "Proxy settings not used when verifying CAPTCHA"
With OJS 3.0 the verification of a user's response to reCAPTCHA fails if behind a proxy, even if it has been declared in the configuration file (`http_host|port`).

The proxy have to be added explicitly to the HTTP context options around line 58 of [FormValidatorReCaptcha.inc.php](https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_0/classes/form/validation/FormValidatorReCaptcha.inc.php#L60) :

[c

[2016-09-21 10:25] fmux commented on #1835
Indeed, the current version from GitHub does not exhibit this behaviour any more. As I wrote above, turning on debug output (including `show_stacktrace` and `display_errors`) did not yield anything, so something might still be off with the logging. I'm nevertheless closing this issue as fixed.

Thank you for your help!

[2016-09-21 10:25] #1835 closed

[2016-09-21 14:22] asmecher commented on #1835
Great, thanks for verifying, @fmux!

[2016-09-21 20:52] asmecher commented on #1709
I think this might be a good opportunity to create some general-purpose elements for representing issue identification; the `<issue>` element is already pretty heavy with attributes for these.

[2016-09-21 20:54] bozana commented on #1709
Hmmm... What do you mean?

[2016-09-21 21:00] asmecher commented on #1709
I mean that these three lines:
https://github.com/pkp/ojs/blob/ojs-3_0_0-0/plugins/importexport/native/native.xsd#L122..L124
...and these...
https://github.com/pkp/ojs/blob/ojs-3_0_0-0/plugins/importexport/native/native.xsd#L128..L131
...are also intended to identify an issue (hopefully uniquely). If it's possible, then we should try to harmonize the issue identification here in the `<issue>` elem

[2016-09-21 21:04] asmecher commented on #1834
@ania-appb, I've corrected the typo `yaerEnd` by replacing it with `yearEnd` in two places -- see the attached commits. Can you pull these changes into your installation and see if it resolves the issue?

[2016-09-21 21:06] bozana commented on #1709
Do you mean to then have an element <issue_ref> that will have the same 3 attributes (volume, number and year)?

[2016-09-21 21:10] asmecher commented on #1834
To clarify, you'll have to apply both:

- https://github.com/pkp/ojs/commit/cd7dc4de41be7cc909f863ef16ec3f42e3656e9a
- https://github.com/pkp/ojs/commit/3fe0cd65f8bffc140cb8c66557c09b3bafc039c2

[2016-09-21 21:10] #1834 closed

[2016-09-21 21:16] asmecher commented on #1709
Yes, maybe `issue_identification` is the best approach. If we were to use attributes alone, it's possible to restrict attribute values using e.g. regular expressions, but I don't love the idea of jamming a bunch of regular-expression based data together when we're already encoding within XML...

[2016-09-21 21:17] bozana commented on #1709
OK, thanks!!! I'll do...

[2016-09-21 21:43] asmecher commented on #1829
@kafonso, if you're using the command-line upgrade tool, can you post its full output?
If you're using the web-based installer, can you try the command-line tool?
Note that you'll need to restore from backup before trying the upgrade again.

[2016-09-21 21:53] asmecher commented on #1709
For the 3 PRs above (https://github.com/pkp/pkp-lib/issues/1709#issuecomment-248307538), just a couple of minor comments. When that's addressed, please go ahead and merge/cherry-pick, thanks!

[2016-09-21 22:01] asmecher commented on #1825
@ajnyga, yes, that's an option -- but we can't make many assumptions about the XML's format or quality, meaning certain tools like XSL would be off the table.

[2016-09-21 22:13] mfelczak opened #1838 "Automatic emails for open access/subscription triggered post-install in OJS 3.0"
At the completion of an OJS 3.0 install, the following emails are automatically sent out even though there's no subscription support:

[2016-09-21 22:18] mfelczak opened #1839 "Default DB and OAI settings on install page set to ojs2 in OJS 3.0"
Mostly cosmetic but possibly confusing for new users.

Applies to the following:
- DB username
- DB name
- OAI Repository Identifier

[2016-09-21 22:24] asmecher commented on #1832
I'd worry that with Symfony's approach incautious users would still dump the application into their web root and access it via the `web` subdirectory. The risk isn't so much of direct access to `.inc.php` scripts that are intended for inclusion rather than execution -- it's that users aren't cautious about the file storage area. So far the best suggestion (IMO) is to include an `.htaccess` file re

[2016-09-21 22:37] bozana opened #1840 "Metrics migration from 2.4.x to 3.0"
The migration for the DB table metrics is not considered:
-- Supp files ids (in the column "assoc_id") should be adjusted - in 3.0 there is the setting_name "old-supp-id" (in submission_file_settings table). What to do with the supp file ids in the metrics table, that do not exist as "old-supp-id"? -- This is a case in the PKP OJS 3.0 demo installation.
-- The ASSOC_TYPE_ constants has to be adjus

[2016-09-21 23:22] asmecher commented on #1821
Left the strtolower in place, but added the message to the English translation (didn't think it serious enough to force re-translation) and cleaned up the related classes.

[2016-09-21 23:22] #1821 closed

[2016-09-22 05:04] WaDelma commented on #1832
Couldn't OJS installation script check if `files_dir` is accessible from outside and error out if that is the case?

[2016-09-22 09:04] ania-appb commented on #1834
Thank you, I pulled all these changes into our installation. I'll let you know if I see any problems.

[2016-09-22 09:55] bozana commented on #1783
The review form question can contain HTML -- it is a TinyMCE field. Thus it usually contains one or more `<p>...</p>` and the `*` is placed after them which positions it in a new line. Maybe @NateWr would know best solution how to style all this, so that `*` is positioned just behind?

[2016-09-22 10:07] bozana commented on #1805
@stranack, the upgrade fix is in the ojs-stable-3_0_0, so if the server would have the recent ojs-stable-3_0_0 branch and if then the DB upgrade `php tools/upgrade.php upgrade` would be executed the export problems should be solved. Please let me know if I should do it or somebody else (who does it more often on the serves)...

[2016-09-22 10:43] bozana commented on #1840
Here the ASSOC_TYPE_ constants in 2.4.x and 3.0:
decimal 2.4.x = hexadecimal 2.4.x  type 2.4.x  --> type 3.x  decimal 3.x = hexadecimal 3.x
256 = 100  journal  -->  the same
257 = 101  article  -->  submission  1048585 = 0x0100009
(additionally in 3.x:  published submission  528 = 210)
259 = 103  issue and section  -->  issue the same, section  530 = 212
260 = 104  galley  -->  representation  521

[2016-09-22 14:06] bozana commented on #1840
To adjust ASSOC_TYPE_... (s. https://github.com/pkp/pkp-lib/issues/1840#issuecomment-248867390):
for articles:
UPDATE metrics SET assoc_type = 1048585 WHERE assoc_type = 257
for supp files:
UPDATE metrics SET assoc_type = 515 WHERE assoc_type = 262

[2016-09-22 14:07] bozana commented on #1840
To adjust supp file ids:
`UPDATE metrics m, submission_file_settings sfs SET m.assoc_id = sfs.file_id WHERE m.assoc_type = 515 AND sfs.setting_name = 'old-supp-id' AND sfs.setting_value = m.assoc_id`

[2016-09-22 14:09] bozana commented on #1840
To fill the new columns:
insert issue id and section id for articles, article galleys and supp files -- they all have submission_id in the table:
`UPDATE metrics m, submissions s SET m.pkp_section_id = s.section_id WHERE m.submission_id IS NOT NULL AND s.submission_id = m.submission_id`
`UPDATE metrics m, published_submissions p SET m.assoc_object_type = 259, m.assoc_object_id = p.issue_id WHERE m

[2016-09-22 16:11] bozana commented on #1840
@asmecher and @ctgraham, could you please read the metrics upgrade 'concept' above if it sounds OK for you, or if I missed something, or...
@ctgraham, would it be possible for you to test an upgrade with this patch: https://github.com/bozana/ojs/commit/55e84408b94abe3b4b976f08c4261c42b67b0e92 ? -- I tested it with already upgraded PKP OJS 3.0 demo and it worked well. I will also try to find a 2.4.

[2016-09-22 18:09] kardeiz commented on #1832
Perhaps I shouldn't have mentioned the `files_dir` safety issue&mdash;it's an important issue, and probably a related one, but not the main focus of my posting.

But there are (by default in OJS 3.0) 818 plain `.php` (not `.inc.php`) files that may or may not contain procedural code. While you may be sure that the PHP written by you and the PKP/OJS team is all encapsulated in classes, what about a

[2016-09-22 18:47] jmacgreg opened #1842 "Index issue metadata and galleys"
Add issue metadata (description, volume, number, etc.) and issue galleys to the OJS index.

[2016-09-23 04:35] asmecher opened #1843 "Permit all file stages in galleys grid"
See http://forum.pkp.sfu.ca/t/ojs-3-0-production-galley-files-not-loading/20543/9

[2016-09-23 04:36] #1843 closed

[2016-09-23 09:24] #1690 closed

[2016-09-23 09:26] #1470 closed

[2016-09-23 10:41] ania-appb opened #1844 "Assertion failed in ...-Tasks keep loading"
In our  OJS 3.0 installation sometimes when I log in and try to load Tasks from left menu bar, it is not possible: blue pointer keeps circling saying Loading... and nothing happens. This happens for various users.
Warning appears in php errors log:
assert(): Assertion failed in /home/acta/ojs/ojs-3.0.0/lib/pkp/controllers/grid/notifications/NotificationsGridCellProvider.inc.php on line 150

Below

[2016-09-23 12:11] ania-appb commented on #1844
Here is a screenhoot ilustrating what we get:
![1](https://cloud.githubusercontent.com/assets/22195126/18785245/6a382186-8197-11e6-9cbf-8a9c484feca3.png)

[2016-09-23 13:41] amandasramalho commented on #1747
Hi @asmecher
We apply the fix and now everything is okay!
Thank you!

P.s. There are any current manual system use?

[2016-09-23 13:59] asmecher commented on #1747
Hi @amandasramalho -- thanks, glad to hear it!
There are currently two manuals that might help:

- https://pkp.gitbooks.io/ojs3/content/en/
- https://pkp.gitbooks.io/ojs-user-guide/content/en/

[2016-09-23 13:59] #1747 closed

[2016-09-23 14:48] amandasramalho commented on #1747
@asmecher
These manuals are of OJS, right? And what about manuals for OMP?

[2016-09-23 14:55] asmecher commented on #1747
Sorry, my assumption :) For OMP:

- https://pkp.gitbooks.io/omp-1-2-user-guide/content/en/

[2016-09-23 15:33] asmecher commented on #1844
@ania-appb, that suggests that a notification/task is referring to a submission that doesn't exist. Was this a fresh installation, or an upgraded installation?

[2016-09-23 17:44] asmecher commented on #1470
Thanks, @bozana!

[2016-09-23 18:10] asmecher opened #1845 "Extend Piwik support to include embeddable graphs/data"
From GDoc discussion:

http://developer.piwik.org/api-reference/reporting-api-metadata#static-image-graphs

[2016-09-23 18:16] asmecher commented on #1825
So the basic problem is that we need to jam arbitrary HTML into an OJS layout and set of headers. The more I think about a reliable way to merge two HTML documents together, the less I want to try it -- especially as one of them is likely going to be generated by Word or something equivalently standards-averse.

@NateWr, my current best candidate is an `iframe`. Additional benefits: it would unify

[2016-09-23 18:57] asmecher opened #1846 "Ensure XML-imported content is indexed"
See http://forum.pkp.sfu.ca/t/ojs3-native-xml-import/20935/2?u=asmecher

[2016-09-23 19:59] bozana commented on #1709
PR for d) (issue_identification) above: https://github.com/pkp/ojs/pull/1021
@asmecher, could you please take a look?

[2016-09-23 20:17] stranack commented on #1805
Maybe I tried this too soon?

When I download the issue, it displays the XML in my browser. Is it possible to get a .XML file to download?

When I upload the XML file, I get the following errors:

Validation errors:

    Namespace prefix xsi for schemaLocation on issue is not defined
    Namespace prefix xsi for schemaLocation on issue_galleys is not defined
    Namespace prefix xsi for schemaLoca

[2016-09-23 20:22] bozana commented on #1805
@stranack, when XML is displayed in the browser, you can right click with the mouse and then choose "Save Page As...". That should download the XML.
I don't know what is this import message, but could you please confirm that the same happens when you download the XML file this way? How did you create that XML file for import?

[2016-09-23 20:24] bozana commented on #1805
@asmecher , maybe we should change those exports, not to show the XML, but to provide it for download?

[2016-09-23 20:34] bozana commented on #1805
@stranack, I just did it as described two comments above and it worked. Thus it was probably something with the XML import document -- maybe you copied it from the browser into a file or ... ?

[2016-09-23 20:36] asmecher commented on #1815
@bozana, could you have a look at https://github.com/pkp/ojs/pull/1024?

[2016-09-23 20:38] asmecher commented on #1805
Yes -- that was just an oversight (probably on my part).

[2016-09-23 20:41] stranack commented on #1805
Thanks @bozana -- doing the Save Page As worked!

@asmecher I agree that it would be better to provide a downloadable file.

[2016-09-23 20:42] bozana commented on #1805
OK, I will change in the big issue 1709 ;-)

[2016-09-23 20:44] bozana commented on #1805
@stranack, can this issue then be closed?

[2016-09-23 20:49] stranack commented on #1805
One more thing - it looks like the PDFs aren't loading. I just get a blank page:
http://journals.sfu.ca/present3/index.php/boot2/article/download/522/61

[2016-09-23 20:59] bozana commented on #1805
Hmmm... yes, for some reason the PDF file reference (i.e. something like `<submission_file_ref id="485" revision="1"/>`) is missing in the export XML :-O so they of course could not be imported i.e. linked to the imported PDF galleys. I'll have to investigate why...

[2016-09-23 21:16] bozana commented on #1805
@asmecher, could it be, that we forgotten to consider assoc_type and assoc_id for galley files for migration? -- The galley files have NULL in this columns in the DB. They are correctly linked in the galley grid on the production page, probably because the data in the table submission_galleys (e.g. file_id) is there, but for the export the table submission_files is searched after the appropriate a

[2016-09-23 21:21] bozana commented on #1805
@stranack, please stop finding bugs! ;-) Thanks! :-)

[2016-09-23 21:42] bozana commented on #1805
PR for galley files fix:
master: https://github.com/pkp/ojs/pull/1025
ojs-stable-3_0_0: https://github.com/pkp/ojs/pull/1026
@asmecher, if you think this is correct, please merge... THANKS!

[2016-09-23 22:40] asmecher commented on #1805
It's entirely possible :)

I think the code (front end, workflow) cares about `galley` entries linking to `submission_files` via the `galleys.file_id` column -- if the import/export tools use `submission_files.assoc_id`/`assoc_type`, then they're outliers. In that case, maybe it would be better for them to stop using `assoc_type`/`assoc_id` entirely and go instead with `galleys.file_id`. Or am I m

[2016-09-23 23:37] asmecher commented on #1599
@bozana and @NateWr, note that `templates/common/minifiedScripts.tpl` has been moved into `registry/minifiedScripts.txt`.

[2016-09-23 23:37] #1599 closed

[2016-09-24 00:16] asmecher commented on #1840
The `old-supp-id` is tracked only in order to keep serving documents at old OJS2-style URLs within OJS3 -- see ArticleHandler::downloadSuppFile. Do you mean that an upgraded supp file didn't have an `old-supp-id` entry?

[2016-09-24 02:32] asmecher commented on #1825
Pulls (work in progress, just collecting links):

- https://github.com/pkp/pdfJsViewer/pull/10
- https://github.com/pkp/ojs/pull/1027

[2016-09-24 02:40] asmecher commented on #1825
Need to...

- Add rewriting (e.g. for images)
- Try an OJS3 example with proper content
- Try an upgraded example (from OJS2)
- Talk layout.

[2016-09-24 16:40] asmecher commented on #1832
@kardeiz, you make a decent point. I'll leave this issue open for some exploration/consideration, but won't likely be able to devote time to it in the near future. We occasionally hold code sprints, and this might be the kind of thing that's suitable for toying with during one of those.

[2016-09-26 06:14] ania-appb commented on #1844
This a  fresh installation.

Anna

[2016-09-26 07:07] ania-appb commented on #1838
We have a similar problem.
After fresh installation of OJS 3.0 we get two notificatinos on a daily basis:

##admin.scheduledTask.openAccessNotification## - 57e39d5d6bdbb - Error

Subscription expiry reminder - 57e39d5cd73b0 - Error

Your Open Journal Systems installation automatically executed and finished this task and you can download the log file here...

Your ##common.openJournalSystems## inst

[2016-09-26 09:23] ania-appb commented on #1844
As we are testing  our installation of  OJS 3.0 some of the submissions were deleted, and perhaps a notification is referring to a submission that doesn't exist. How can this be checked?

What are we supposed to do?

Thank you for help.

Anna

[2016-09-26 10:20] Ph-We commented on #1709
Hi!

We've come upon the following issues while trying to import one of our journals:

1. There seems to be no way to import a full issue galley. The XML part for it looks like this:
<img src="/uploads/default/original/2X/4/4bcdbd03ecde254fb44a1dbfea13f05136e18b7b.png" width="502" height="272">
But after the import procedure is over, this galley is missing. As far as I know, this issue has not yet

[2016-09-26 10:39] Vitaliy-1 commented on #1815
Many thanks for the update! All seems to work fine. All Metadata is displaying in the head now.

[2016-09-26 10:40] bozana commented on #1840
There is an entry in the metrics table with assoc_type = 262 and assoc_id = 1. This means supp file with id 1. The table metrics was not considered at the upgrade i.e. it still contains old supp file ids. When I however look in the migrated submission_file_settings table I do not find an entry with old-supp-id = 1.

[2016-09-26 10:55] bozana commented on #1709
@Ph-We, number 1. (s. https://github.com/pkp/ojs/commit/54377aa3d596c2d80bff7d49f6e072cc54775177) and 2. (s. https://github.com/pkp/ojs/commit/4d5e8dd5fe781985a7de3669e8a63396134ab229) are solved and merged in the master branch. I will then cherry-pick them to ojs-stable-3_0_0 too.
3. The authors are mandatory i.e. so defined in the XML schema. If missing in the XML import file, you should see the

[2016-09-26 11:21] bozana commented on #1805
Aaaa, OK, I will then change this in the native export accordingly... Thanks!!! :-)

[2016-09-26 11:22] Ph-We commented on #1709
@bozana, thank you very much for your support!
As to the mandatory authors, do you mean the normal behavior would suppose _importing_ articles without authors with only validation errors displayed? As far as I remember, the authors were not mandatory for XML in OJS2. That was reasonable, since some texts might not really have had authors.

[2016-09-26 11:34] bozana commented on #1709
@Ph-We, yes, the validation error will be displayed and the article will not be imported.
I was always like this, i.e. authors (with firstname, lastname and email) were always mandatory, s. https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/importexport/native/native.dtd#L135 and https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/importexport/native/native.dtd#L141. I am not sure if th

[2016-09-26 12:03] bozana commented on #1805
@asmecher, I changed it and added the change to this PR: https://github.com/pkp/ojs/pull/1025

[2016-09-26 12:26] Vitaliy-1 commented on #1740
This issue is relevant and for OJS3

[2016-09-26 12:37] NateWr opened #1847 "Ensure closed registrations works properly"
Reports that users can register even if the option to only allow Journal Managers to register users has been checked.

http://forum.pkp.sfu.ca/t/registering-users-with-ojs-3-0/19589

Key points:
- List of journals shows Register link
- Unregistered users can complete registration form when user registration is disabled

[2016-09-26 12:53] NateWr commented on #1808
Yes, though I don't have any experience with the Google/CrossRef services. Is there an example of how existing citations are stored in the database that I might use for exploring how to display this on the frontend? Or is it really just a non-HTML text dump?

[2016-09-26 13:05] NateWr commented on #1818
We have a small number of CC licenses which we list explicitely:

https://github.com/pkp/pkp-lib/blob/master/locale/en_US/submission.xml#L616-L627

[2016-09-26 13:08] NateWr commented on #1818
(Sorry, submitted early.)

I believe if the license matches one of our known license URLs, we display the CC logo, otherwise we use the generic "License" term.

This list could obviously be expanded, or perhaps we can just display the CC logo with any license URL that includes `creativecommons.org`. That said, this may be one place where we can educate users with what we think is good practice. Do

[2016-09-26 13:46] ctgraham opened #1848 "pdfJsViewer missing in ojs-stable-2_4_8 and ojs-2.4.8-1 package"
http://forum.pkp.sfu.ca/t/ojs-2-4-8-1-current-stable-release-is-missing-pdf-js-pdf-viewer-plugin/21174/1

[2016-09-26 14:14] NateWr commented on #1783
Anyone got a screenshot?

[2016-09-26 14:30] NateWr commented on #1599
:tada:

[2016-09-26 14:32] bozana commented on #1783
Here it is one:
![reviewformpreview](https://cloud.githubusercontent.com/assets/378421/18838194/d075efac-8406-11e6-82cb-ce4ab1a08b69.png)

[2016-09-26 14:37] NateWr commented on #1825
@asmecher I'm not opposed to an iframe.

My pre-Substance preference would probably be a TinyMCE field in which editors are encouraged to dump an HTML representation of the article body (no title, authors, abstract, etc). References/citation (#1808) and the full article could be displayed right on the article details page.

This would bypass the use of a galley, which feels wrong to me, and would

[2016-09-26 14:41] NateWr commented on #1783
Oh I see. Are all fields required by default? I'd be tempted just to not bother with the (*) in this case. As long as our form validator is working the user will get immediate feedback if they try to submit without completing a form.

Otherwise we have to do some CSS gymnastics just to cater to this one case where the asterisk isn't super valuable anyway. Just my $0.02. I bet you're all happy to h

[2016-09-26 15:12] bozana commented on #1783
The journal manager defines if the fields/answer to the questions are required by creating/constructing the form...

[2016-09-26 15:48] bozana commented on #1818
maybe just a note to think about if/when changing this: it is recommended to use the machine readable licenses...

[2016-09-26 19:14] ctgraham commented on #1840
I'm still catching up on the scope of changes to the 3.x metrics (and realizing some of the missing pieces from 2.x dev, such as the refactoring of the COUNTER reports).

I have read through your description, and it seems sound.

I tested an upgrade from one of our journals from 2.4.8-1 to 3.0 with the patch from fix1840, and the update statements performed as expected.

I see a lot of re-learning

[2016-09-26 20:54] asmecher commented on #1808
It's really just a non-HTML text dump. I could imagine having a couple of generic plugins (e.g. one for Google and one for CrossRef citation lookups each) that watch for this and drop in links to those external services to look up the references. Then for any articles that have richer content -- thinking JATS XML -- we would lean instead on tools like Lens Reader to present references.

[2016-09-26 22:07] asmecher commented on #1848
Fixed, thanks!

[2016-09-26 22:07] #1848 closed

[2016-09-26 22:09] asmecher commented on #1740
This appears to be Chrome-specific. @NateWr, I think I mentioned this one to you via email.

[2016-09-26 22:10] asmecher commented on #1844
I suspect the submission delete code left some dependent entities lying around -- scheduling for a fix in OJS 3.0.1.

[2016-09-27 07:23] ania-appb commented on #1838
I posted this also in the forum:
http://forum.pkp.sfu.ca/t/subscription-renewal-reminders-being-sent-despite-policy-not-to-2-4-6/7418/5

And I would be really grateful for some advice how to, at least manually, disable these errant notifications, as they spam our mail.

Anna

[2016-09-27 08:48] ania-appb commented on #1844
Thank you @asmecher,

For now, is there any possibility, perhaps deleting something (here my post on deleting submissions: http://forum.pkp.sfu.ca/t/deleting-submissions-in-ojs-3-0/21177) in the data base, to prevent OJS from trying to do this downloading?

Anna

[2016-09-27 10:32] Vitaliy-1 commented on #1825
As user I can tell that publishing full article right on article details page is very good idea. It certainly can help to avoid all problems with article indexing. For example all my rich metadata in my JATS XML that displayed by Lens are lost in the front end. Partly because of plugin structure and partly because of use as Galley (don`t think google will indexing galleys right even in presents of

[2016-09-27 12:34] ania-appb opened #1853 "reload issues"
I am currently testing our installation of OJS 3 and I have this remark:
Quite often when I remove a participant or add a new one to a submission, the page needs to be reloaded manually for a new list of participants to  be displayed correctly, with corresponding right panel buttons.

Perhaps this could be fixed?

Anna

_(Edit - This issue has unearthed a bunch of different problems, which have be

[2016-09-27 13:25] Vitaliy-1 opened #1854 "Checking "Disciplines" item in submission settings has no effect on submission form"
![1](https://cloud.githubusercontent.com/assets/20665587/18875550/ed0d49a8-84ce-11e6-9ced-b675a9a3ea9f.jpg)

[2016-09-27 14:53] asmecher commented on #1825
@Vitaliy-1, is your experience with poor indexing in regular Google, or in Google Scholar?

[2016-09-27 15:13] asmecher commented on #1709
In OJS 2.x authors were required, but journals commonly used work-arounds in cases where they weren't available. Eventually we'll need to enrich our support for e.g institutional authors and authorless submissions, but we haven't done that yet for either OJS 2.x or 3.x.

[2016-09-27 15:27] ajnyga commented on #850
@bozana, I was planning of doing something similar as well. Basically I was thinking of taking of course the current DOAJ plugin as a starting point and maybe check the functionality in the Crossref plugin if the automatic deposits function could be used or at least some part of it.

[2016-09-27 16:44] bozana commented on #850
@ajnyga, great! Yes, I think you could orient yourself on Crossref or DataCite or mEDRA plugin. All of hem share a lot of code/functions and it is similar with DOAJ. Crossref has a slightly different registration -- more complex. When would you start to work on this? I am happy to help!

[2016-09-27 16:52] bozana commented on #1853
@asmecher, I am not sure, but I believe this is one of those cases I also find, where the reload/refreshing should be done. E.g. also when publishing/unpublishing issues.

[2016-09-27 16:58] bozana commented on #1840
Thanks a lot @ctgraham! I will then make a PR...

[2016-09-27 17:52] asmecher commented on #1815
https://github.com/pkp/ojs/pull/1024 need sporting over to OMP master.

[2016-09-27 17:56] ajnyga commented on #850
I already had to postpone this once, but I have it scheduled now for next week. I could perhaps have something ready on Tuesday. I will let you know.

[2016-09-27 20:30] ctgraham opened #1855 "Locale key inheritance"
Referencing https://github.com/VTUL/EzidDOI/issues/33

EzidRegisterPlugin inherits from CrossRefExportPlugin, inherits from DOIExportPlugin.

There used to be (and still is for now) a set of common phrases for this set of plugin inheritance.
https://github.com/pkp/ojs/blob/7e0477e6996340e7d1f124b4e78af3354d7236cb/plugins/importexport/datacite/locale/en_US/common.xml#L29

The phrase "plugins.import

[2016-09-27 21:45] Vitaliy-1 commented on #1825
I checked Lens xml indexing in regular Google. As for google scholar - I see there only data for view article pages and references to pdf galleys.
For not to be misunderstood: My own experience on using this platform is limited by OJS3 (1 month or so).  We have published several articles before official launch that were submitted to us earlier. Just after OJS3 release. They all are in google schol

[2016-09-28 04:11] asmecher commented on #1825
The article title issue has already been corrected in github -- see this change:
https://github.com/asmecher/lensGalley/commit/1c1477b428500a6654982a409ee9d970acb1996d

[2016-09-28 04:24] asmecher commented on #1855
This is not a strong opinion, but I lean towards keeping it simple -- a given locale key should only be defined in one place, ideally within the app/plugin/library where it's used. If that principle would lead to too much duplication, then moving commonly used items into the core rather than duplicating in plugins is OK. IMO things like inheritance aren't going to be worth the trouble -- I think t

[2016-09-28 04:32] asmecher commented on #1838
@mfelczak, is this something you'll have the chance to tinker with in the near future?

[2016-09-28 06:20] Vitaliy-1 commented on #1825
I already done that) and article title in JATS XML is correct now.

[2016-09-28 07:14] tgc opened #1856 "getByControlledVocabId() SQL does not work with PostgreSQL"
OJS 3.0.0-stable branch running on PHP 7.0.11 with PostgreSQL 9.5.4.

I found this in the log:
DB Error: ERROR:  column "cve.controlled_vocab_entry_id" must appear in the GROUP BY clause or be used in an aggregate function\nLINE 1: SELECT cve.*\n               ^

I don't know how to reproduce but the offending SQL is in getByControlledVocabId().

[2016-09-28 07:47] ania-appb commented on #1853
I can give you this example:
when I added a participant (in this case this was a journal manager) to one of the submissions, reloading worked fine, next I made removing this participant and after that action, manual reloading needed to be done as he still was present on the list of the participants. No errors appeared in the JS console of my Firefox browser, except the warning after the page was m

[2016-09-28 08:00] mtub commented on #1855
@ctgraham, the idea sounds good - but I tend to agree with @asmecher, this might get too complicated compared to its benefit. Moving common keys to the core has been done before. Inheriting could be achieved by a hierarchy of plugins, too - "doi master plugin", "crossref doi implementation" (depending on the master plugin and its locale keys).

When we talk about translation technology alternative

[2016-09-28 10:28] NateWr commented on #1740
@asmecher Should we flag this for OJS 3.0.1 rather than OMP 1.2.1?

[2016-09-28 11:32] withanage commented on #1628
@asmecher  thanks for adding it to  1.2.1 . I have  found a similar restriction as above in the description field for the file metada   which we use for submission reviews.

![screenshot from 2016-09-28 13 29 15](https://cloud.githubusercontent.com/assets/1921992/18911905/cb4873a4-857f-11e6-9667-899c9f798673.png)

[2016-09-28 16:28] bozana commented on #1709
PR of the first changes for ojs-stable-3_0_0:
pkp-lib: https://github.com/pkp/pkp-lib/pull/1857
ojs: https://github.com/pkp/ojs/pull/1032

[2016-09-28 17:09] bozana commented on #1840
PR:
master: https://github.com/pkp/ojs/pull/1033
@asmecher, could you take a look?

[2016-09-28 17:29] asmecher commented on #1740
Yup, moved over to 3.0.1.

[2016-09-28 17:30] asmecher commented on #1855
I think this issue is related, FWIW: https://github.com/pkp/ojs/pull/1004

[2016-09-28 17:54] asmecher commented on #1628
@withanage, I've removed that limit -- see the above commit.

[2016-09-28 18:59] asmecher commented on #1856
Hi @tgc -- hmm, but no `getByControlledVocabId` implementation contains a `GROUP BY` clause. If you're able to reproduce this message consistently, could you try turning on `debug` in your `config.inc.php` just before triggering the message? That'll dump all SQL queries to the browser; the last one should be the offending query.

[2016-09-28 19:33] mtub opened #1858 "Script variants of locales (was: Decide on name for Serbian locales)"
The two-letter code for the Serbian language is `sr`, the country code is `RS`.

Our locales have been named `sr_SR` so far where we probably should have used `sr_RS`. To make things more complicate, Serbian text can be in Latin writing or Cyrillic writing. We cannot indicate these versions in the two-letter system. Until know, we only used the cyrillic version, but now a translator has provided u

[2016-09-28 19:47] asmecher commented on #1858
See also this conversation: https://github.com/pkp/translator/pull/13#pullrequestreview-2010588

[2016-09-28 19:59] asmecher commented on #1853
A bug with removing a participant from the list was fixed back in August:
https://github.com/pkp/pkp-lib/issues/1684

That "Synchronous XMLHttpRequest..." warning is cosmetic and can be ignored (for now).

Could you check whether that commit is included in your installation?

[2016-09-28 20:22] vedranvucic commented on #1858
Translators that translate Joomla for Serbian language.

Serbian cyrillic was coded as: sr-RS and Serbian latinic was coded as sr-YU.

[2016-09-28 20:38] asmecher opened #1859 "Add Sidebar Management to site settings for multi-journal installs"
See http://forum.pkp.sfu.ca/t/ojs-3-0-choose-language-search-at-the-index-page/20864

[2016-09-28 21:02] asmecher commented on #1825
Ah, OK. Google Scholar has specific meta tags for HTML and PDF, but I don't think it has one for XML. That would explain why other document types aren't indexed.

[2016-09-28 21:10] asmecher commented on #1844
@ania-appb, can you send me a database dump and the username of the account that encounters this? I can investigate what's lying around with that.

[2016-09-28 22:46] asmecher commented on #1469
@HighwayStar Thanks, I'm not sure how I missed that -- but it's fixed. You can apply the last two commits to your 3.0.0 installation, then use the "Reload defaults" link for each language you're using to reload the email templates from XML.

[2016-09-29 06:47] ania-appb commented on #1853
@asmecher, thank you for answer, in our installation I  found that file in this localization:

/lib/pkp/controllers/grid/users/stageParticipant/StageParticipantGridHandler.inc.php

But it is ok -  that comment is included in our installation.

So, this must be something else that is causing the problem I described above.

Anna

[2016-09-29 07:35] tgc commented on #1856
Looking at lib/pkp/classes/user/InterestEntryDAO.inc.php from the OJS 3.0.0 tarball the getByControlledVocabId function most definitely contains a GROUP BY clause.

AFAICT this is the GROUP BY causing the issue:
https://github.com/pkp/pkp-lib/blob/master/classes/user/InterestEntryDAO.inc.php#L67

Below was taken verbatim from the OJS 3.0.0 tarball.

[code]
Unfortunately I do not know how to reprod

[2016-09-29 07:40] ania-appb commented on #1844
@asmecher, thank you for answer,
Here is a dump of our database:
[checkdatabase.zip](https://github.com/pkp/pkp-lib/files/500001/checkdatabase.zip)

I noted these users to have problems with everlasting downloading tasks:
e_zachorowska-such
w_slominski
testeusz

Anna

[2016-09-29 07:43] ania-appb commented on #1844
@asmecher<https://github.com/asmecher>, thank you for answer,

I am sending  a dump of our database:

I noted these users to have problems with everlasting downloading tasks:
e_zachorowska-such
w_slominski
testeusz

Anna

________________________________
Od: Alec Smecher <notifications@github.com>
Wysłane: 28 września 2016 23:10
Do: pkp/pkp-lib
DW: Anna Skórka; Mention
Temat: Re: [pkp/pkp-lib] Ass

[2016-09-29 10:07] withanage commented on #1628
@asmecher
thanks a lot for the changes. Have tested and works fine.

[2016-09-29 10:08] #1628 closed

[2016-09-29 15:26] Vitaliy-1 commented on #1825
Lens viewer makes html from xml on the fly. So I see only 2 options for embedding full JATS oriented publishing process in OJS3.
1. Transformation of JATS XML into html in external application for using it like a html galley.
2. Transformation of JATS XML into HTML with a plugin (which is need to be developed) for using it like a html galley or embedding into article view page.

In my opinion it w

[2016-09-29 23:37] asmecher commented on #1856
@NateWr, mind taking a look at this? It's related to...
https://github.com/pkp/pkp-lib/commit/55379de73202f9b957f5b158829e28b66916a7aa

PostgreSQL is pickier than MySQL in this regard.

[2016-09-30 10:24] ania-appb commented on #1838
@mfelczak, Could I just remove the two first records from scheduled_tasks table in the database (see above)?

[2016-09-30 11:55] crazy-weasel opened #1860 "StaticPages Plugin doesn't call "PkpHandler::setupTemplate""
Hi!

The StaticPages-Plugin doesn't call setupTemplate when displaying a page. That's a problem, because the base implementation of this method assigns the template-variable "userRoles".

In the provided bootstrap3-theme (and any other theme using userRoles without a cast to array) this is a problem resulting in a failed call to array_intersect. Additionaly, static pages will look differently when

[2016-09-30 15:16] mfelczak commented on #1838
Hi @asmecher and @ania-appb, I'll have a PR (and patch) for this shortly.

[2016-09-30 17:57] mfelczak commented on #1838
@asmecher: PR at https://github.com/pkp/ojs/pull/1034

[2016-09-30 18:04] mfelczak commented on #1838
@ania-appb: you should be able to apply the above fix to your install and you'll need to manually delete the relevant rows from the scheduled_tasks table, i.e
[code]

[2016-09-30 20:44] asmecher commented on #1859
(Also the Footer field -- see http://forum.pkp.sfu.ca/t/configure-page-footer-in-multijournal-homepage/21496)

[2016-10-01 13:26] asmecher opened #1861 "Add tool to clean reviewer interests"
Write a tool to remove user interests that are not referenced by any user accounts. This can be useful for cleaning out the controlled vocabulary after removing spam user registrations.

[2016-10-01 13:58] asmecher commented on #1825
Certainly possible -- but I wonder whether Scholar in particular has a toolset for indexing JATS XML directly. That seems like the kind of thing they'd like to get their hands on. I'll inquire.

[2016-10-01 15:26] #1790 closed

[2016-10-01 15:46] bozana commented on #850
@ajnyga, I was hoping to work on this on the PKP sprint, that is tomorrow and the day after tomorrow, but lets see if I will be able to or if I will chose to work on another topic. However, I restructured the shared code for those export plugins, s. https://github.com/bozana/ojs/commit/13d513e16affbebba0ea7d2b5e73dcffb02dad0a. Thus, the next and major step would be to implement the depositXML func

[2016-10-01 16:25] mfelczak commented on #1838
@asmecher: updated PR at https://github.com/pkp/ojs/pull/1034

[2016-10-01 16:30] mtub commented on #1858
Hi  @vedranvucic , thanks for joining the discussion. I am a little worried that we might continue to work with an invalid country code, though...

[2016-10-01 18:12] ctgraham commented on #1858
Is there any semantic association between the old Yugoslavia code and the Latin form?  We could always select one of the intentionally reserved codes from ISO 3166-1:

Alpha-2: AA, QM to QZ, XA to XZ, and ZZ
Alpha-3: AAA to AAZ, QMA to QZZ, XAA to XZZ, and ZZA to ZZZ
Numeric: 900 to 999

[2016-10-01 21:22] vedranvucic commented on #1858
It is OK for me to select one of available ISO -3166-1 codes. I am not sure how to handle when some country does have to alphabets. I would rather prefer something that is stick to standards so we can establish that as convention for all future translations.

[2016-10-02 11:02] ctgraham commented on #1858
I suppose the most standards compliant method would be to bring in ISO 15924. Something like language_COUNTRY-script?

[2016-10-02 11:43] NateWr commented on #1825
@Vitaliy-1 I'm following two third-party efforts to transform JATS XML into a JSON representation. One is the eLife team, which is working on a stand-alone tool to do just that. The other is the Substance writer project (the tool behind eLens), which I believe can transform XML into JSON and is working on better JATS XML support.

In either case, once we have a tool that can deliver us a JSON repr

[2016-10-02 12:24] NateWr opened #1862 "Ensure unique template files are compiled for each journal"
Compiled and cached template files are saved per-template. But if two journals are using different themes with different template output, their compiled template files will overwrite each other.

Using a unique hash for each journal's templates will fix this.

[2016-10-02 12:27] NateWr commented on #1862
PR:
https://github.com/pkp/pkp-lib/pull/1863

[2016-10-02 13:05] ajnyga commented on #850
Hi @bozana,

I am planning to participate in the sprint. However, due to the time difference it is a bit difficult for me to work at the same time as most of the sprinters. It is 4 already 4 PM here when the work starts in Canada. So, maybe I could suggest the DOAJ API as a project to the sprint in a while and do my work while you guys sleep.

I was just wondering the basic functionality of the pl

[2016-10-02 16:57] bozana commented on #850
Hi @ajnyga, we are both apparently working on other topics during the spring, but that's ok, we can come to this issue any time later :-)
Those export issues, and so DOAJ, provide both options: to register manually, going to the export plugin, and automatically, using a Cron Job i.e. Acron Plugin. I believe we should do step by step and thus first implement the first option -- the second is then j

[2016-10-02 16:58] vedranvucic commented on #1858
Yes, that is fine with me.

[2016-10-02 17:40] Vitaliy-1 commented on #1825
As for HTML. I have made HTML from JATS and CSS for it. For now with iframe css in not working. not if upload it from admin, nor if I change HtmlArticleGalleyPlugin.inc.php and change path to css there. The link to CSS is in the head of a HTML page and it is correct.

[2016-10-02 17:42] asmecher commented on #1825
Is the CSS file's MIME type in your database correct? Check its entry in the `submission_files` table. It needs to be `text/css`.

[2016-10-02 17:50] Vitaliy-1 commented on #1825
Yep. You were right. I have changed it to text/css and all worked. Can it be done through dashboard?

[2016-10-02 17:53] asmecher commented on #1825
Not at the moment -- frankly MIME detection of CSS files is problematic and the system often gets it wrong. I suppose we could recommend a specific start to CSS files in order to provide a hint to the system but that seems kind of unreasonable. I think we probably ought to nudge uploads that we know are supposed to be CSS files in order that they get the right MIME type.

[2016-10-02 18:24] Vitaliy-1 commented on #1825
Noticed one more problem. After this modification I don`t see return button from iframe that is in header:
a href="https://e-medjournal.com/index.php/psp/article/view/6" class="return"

[2016-10-02 19:19] Vitaliy-1 commented on #1825
Attached screen. Upper - what I see on bootstarp theme and lower - on default.
![2](https://cloud.githubusercontent.com/assets/20665587/19023075/3105b6ea-88ee-11e6-83ea-f2c95ef96dd3.png)

[2016-10-02 19:24] asmecher commented on #1862
Changing a theme plugin (in setup) flushes the template cache, correct?

[2016-10-02 19:24] NateWr commented on #1862
Yes

[2016-10-02 20:07] Vitaliy-1 commented on #1825
Also this frame disappears when I click any internal href link. This is true for Chrome and Edge, but not Firefox.

[2016-10-03 12:19] ania-appb commented on #1844
Some more warning on the issue, I got today:

A.

[2016-10-03 12:37] asmecher commented on #1844
Can you add the following code to `lib/pkp/controllers/grid/notifications/NotificationsGridCellProvider.inc.php`, just above line 152, which should read:

    return $submission->getLocalizedTitle();

Add the following just above that:

    if (!$submission) error_log('MISSING SUBMISSION ID ' . $submissionId . ': assoc_type ' . $notification->getAssocType() . ' and assoc_id ' . $notification->getA

[2016-10-03 13:18] ania-appb commented on #1844
Thank you @asmecher , I did that, I cleared cache in Administration panel and this time I got this:

Just to make sure, the last lines of the NotificationsGridCellProvider.inc.php file are now:

				assert(is_numeric($submissionId));
		$submissionDao = Application::getSubmissionDAO();
		$submission = $submissionDao->getById($submissionId);
		assert(is_a($submission, 'Submission'));
        if (!$s

[2016-10-03 13:48] ajnyga commented on #850
I'll just paste here some resources I found
https://github.com/DOAJ/harvester/tree/master
https://github.com/DOAJ/harvester/blob/9b59fddf2d01f7c918429d33b63ca0f1a6d3d0d0/service/tests/fixtures/article.py

[2016-10-03 13:50] asmecher commented on #1844
Those lines look OK. Are you seeing the error messages in the browser, or in the log? You'll need to look in the log, just above the error messages you quote.

[2016-10-04 03:34] ajnyga commented on #850
I did a pull request on this and will check the JSON next, maybe today already. I have received a permission from one of our journals to use their DOAJ API key to test this.

[2016-10-04 07:53] ania-appb commented on #1844
Another test I did today: I logged in and pressed Tasks.
Here is what I got in the log:

And in the console of the browser:
![screen](https://cloud.githubusercontent.com/assets/22195126/19066192/4e859660-8a18-11e6-8647-47d1eff95c72.png)

Anna

[2016-10-04 08:42] ania-appb commented on #1838
Thank you very much @mfelczak , half of the problem is resolved:
yesterday, I applied  fix #1838
 (I deleted lines 34-41 from  registry/scheduledTasks.xml)
 and in the database I removed two records
(DELETE FROM scheduled_tasks WHERE class_name = 'classes.tasks.OpenAccessNotification';
DELETE FROM scheduled_tasks WHERE class_name = 'classes.tasks.SubscriptionExpiryReminder';).

Today 2 notificatio

[2016-10-04 12:00] ania-appb commented on #1853
@asmecher, @bozana, another example of necessity of manual reloading in OJS 3:
When I added Journal Editor to the list of Participants in the Copyediting stage of a test submission, the page needed to be manually reloaded for Send To Production button to apear.
No errors were displayed in the  console of my browser.

Anna

[2016-10-04 14:05] stranack opened #1864 "Authors/Emails in Quick Submit"
Authors and email should not be required during quick submit process. This is only used by editors, and they should have the authority to NOT add data. E.g., back content authors rarely have email addresses.

[2016-10-04 14:31] stranack opened #1865 "Adding Review Comments Wipes out Email Changes"
When the editor sends the review decision email to the author, the editor can make changes to the prepared email -- good.

The Add Reviewer Comments button is below the prepared email template -- fine.

Using the Add Reviewer Comments wipes out any changes made by the editor in the prepared email.

We should either preserve the edits when adding reviewer comments, or place the Add Reviewer Comment

[2016-10-04 14:59] stranack opened #1866 "Banner notification after scheduling"
Can we add a banner notification to the top of the Production stage after scheduling? Something like: "This submission has been scheduled to Volume 1, Issue 4"?
![schedule-notification](https://cloud.githubusercontent.com/assets/11185765/19079381/d5e0d744-8a29-11e6-9c3f-eef466e94b96.png)

Or, more generally, "This submission has been scheduled for publication."

Either way, it provides a reminder

[2016-10-04 21:10] mfelczak commented on #1838
Hi @ania-appb,

Can you please clear your data cache as Site Admin -- it's likely being cached by the Acron plugin.

Cheers,
Michael

[2016-10-05 08:19] ajnyga commented on #850
@bozana, I have been looking how things work in `PubObjectsExportPlugin `and `DOAJExportPlugin`. In `executeExportAction `you have two options: to download an XML file (and upload that at the DOAJ website) or you can use the API. Now the problem is that if you choose to upload your article information to the DOAJ website you need the XML, but if you choose to use the API you need the JSON.

So, if

[2016-10-05 09:20] ania-appb commented on #1838
@mfelczak, today:
1. I cleared our data cache as Site Admin
2. I  checked  registry/scheduledTasks.xml - the fix is applied

Instead of these actions, later on we got 8 mails:

Date: 	Wed, 5 Oct 2016 10:51:32 +0200
Subject: 	##admin.scheduledTask.openAccessNotification## - 57f4bf14457c5 - Error
Subject: 	##admin.scheduledTask.openAccessNotification## - 57f4bf13cd162 - Error
Subject: 	Subscription

[2016-10-05 11:53] ajnyga commented on #1808
This is connected to the issue: http://forum.pkp.sfu.ca/t/improve-google-scholar-exposure-with-reference-metatags/21693

[2016-10-05 13:12] bozana commented on #850
@ajnyga, thanks a lot for all that work! Yes, the export action needs XML and the deposit action needs JSON. I think that we should overwrite the function `executeExportAction`, if the action is `EXPORT_ACTION_DEPOSIT`, and use another filter (that returns JSON) for that. I am not 100% sure, but from a very quick look at JSON that DOAJ expects, it seems that it is a little bit different than the X

[2016-10-05 14:39] ajnyga commented on #850
I have not heard from DOAJ if they would have something. It seems that they have done similar conversions, but with Python: https://github.com/DOAJ/doaj/issues/102

I was thinking how the two filters would work. One solution would be to have something like this in `DOAJExportPlugin`:

And

But that would probably mean changes in other places as well.

The second solution would be to define the fil

[2016-10-05 14:42] bozana commented on #1709
PRs for d) (issue_identification) above:
ojs master: https://github.com/pkp/ojs/pull/1021 (merged)
ojs-stable-3_0_0: https://github.com/pkp/ojs/pull/1041
lensGalley: https://github.com/asmecher/lensGalley/pull/8 (merged)

[2016-10-05 14:48] bozana commented on #850
@ajnyga, lets go with the second solution for now -- to just overwrite/redefine the filter in the `executeExportAction `for `EXPORT_ACTION_DEPOSIT`. Thanks!!!

[2016-10-05 14:54] mfelczak commented on #1838
Hi @ania-appb,

In your OJS3 directory, can you please open the file `cache/fc-pluginSettings-0-acronplugin.php` and check whether you have the following contents:

[code]

Thanks,
Michael

[2016-10-05 15:35] mfelczak commented on #1838
Hi @ania-appb,

Can you please try the following (in this order) and confirm whether this fixes the issue for you?

1) Delete Acron crontab setting from DB:
`DELETE FROM plugin_settings WHERE plugin_name = 'acronplugin' AND setting_name = 'crontab';`

2) Clear data cache as Site Admin:

3) Delete scheduled tasks from DB:

[code]

4) Disable and then enable the Acron plugin to reload new crontab se

[2016-10-05 18:35] ajnyga commented on #850
@bozana, I did another commit and started to implement the JSON filter. However, I am not familiar enough with the filter framework to be sure that the steps I took are to the right direction.

All the other filters seem to use XML so there could be big problems with `exportJSON` I wrote. Even if it works we still need to write the actual filter. When you have time check the pull request I did. If

[2016-10-05 18:45] Vitaliy-1 commented on #1825
Greetings,

After testing iframes for HTML Galleys we decided to move forward without it. It looks like the problem described above was specific to iframe, so it is impossible to implement more or less appropriate navigation with it.
For about html Galleys I would like to know is it possible (without iframe) to link to an html article an external javascript, because iframe blocked all external lin

[2016-10-05 18:50] asmecher commented on #1825
@NateWr, any thoughts on the navigation problems @Vitaliy-1 mentions? @Vitaliy-1, I suspect the javascript across iframes issue is related to CORS (Cross Origin Resource Sharing) rules, which is a big subject -- but @NateWr might also have a few quick thoughts on that.

[2016-10-05 20:07] asmecher commented on #1709
All the above are merged. Tests for `ojs-stable-3_0_0`: https://travis-ci.org/pkp/ojs/builds/165342989

[2016-10-05 20:29] ctgraham commented on #1858
This might be outside of the scope of this Issue, but I'm going to start into it here.  After the review at the Fall Sprint, I think we will want to refactor the naming of locales to distinguish script types.  This raises, in my mind, the question of whether we can simultaneously drop the convention of requiring the distinguishing county designation.  This could also improve our locale inheritance

[2016-10-05 22:02] vedranvucic commented on #1858
Yes, that is fine for me.  Please do necessary changes in code so the files can be automatically installed.

[2016-10-05 22:49] asmecher commented on #1844
Hi @ania-appb --

The error message we're looking for is...

    2016-10-04 08:33:15 PHP Fatal error: Call to a member function getLocalizedTitle() on null in /home/acta/ojs/ojs-3.0.0/lib/pkp/controllers/grid/notifications/NotificationsGridCellProvider.inc.php on line 152

However, the code you added per [this comment](https://github.com/pkp/pkp-lib/issues/1844#issuecomment-251103339) should've re

[2016-10-05 22:49] asmecher commented on #1853
@ania-appb, did you check the server error log? The browser console might not be the relevant place to look, depending on your server's configuration for PHP error handling.

[2016-10-05 22:56] asmecher commented on #1838
Committed your PR to `ojs-stable-3_0_0` and cherry-picked forward to `master`, thanks, @mfelczak -- is this one ready for closing?

[2016-10-06 08:13] ania-appb commented on #1853
Hello @asmecher, so, once again I added Journal Editor to the list of Participants, she appeared on the list, then, I had to manually reload the page for Send To Production button to appear.

Here is what I got from the log:

This looks like no errors were detected. I would appreciate your comments on that.

Anna

[2016-10-06 09:16] ania-appb commented on #1844
Hello @asmecher, thank you for advice, I changed  error_log to fatalError in: NotificationsGridCellProvider.inc.php,
then, I logged in as one of the users for whom the problem persists, and pressed Tasks .

What I got from the log is:

**>2016-10-06 10:44:59 PHP Warning: assert(): Assertion failed in /home/acta/ojs/ojs-3.0.0/lib/pkp/controllers/grid/notifications/NotificationsGridCellProvider.inc.

[2016-10-06 09:32] ania-appb commented on #1838
Thank you very much @mfelczak, I did exactly what you described above, and this resolved our problem.

Anna

[2016-10-06 09:49] dommitchell commented on #850
Did you want me to ask our developers something? What's the question?

[2016-10-06 12:15] ania-appb opened #1867 "Check box on the logging page of OJS 3.0"
On the logging page of OJS 3.0 there is a checkbox: Remember my username and password.
And this check box isn’t really useful as remembering doesn’t work at all.
Perhaps it could be removed or the proper code corrected.

[2016-10-06 13:57] asmecher commented on #1867
@NateWr, assigning to you on the chance that it's probably a markup issue in the front end. If not, feel free to reassign (or have a crack anyway).

[2016-10-06 14:08] ajnyga commented on #850
Hi, @dommitchell
I was just asking if DOAJ would happen to have some ready tools for DOAJ XML to BibJSON conversion. But we are probably taking another approach to this where such tool may not be needed.

[2016-10-06 14:15] asmecher commented on #1844
Thanks, @ania-appb, that logged the message I needed. The quickest solution is to execute in your database...

    DELETE FROM notifications WHERE assoc_type = 1048586 AND assoc_id = 2;

However, I wonder if there aren't others lying around. I checked the code and this should've been deleted when the submission was deleted; did anything unusual happen when you removed the submission, do you recall

[2016-10-06 14:19] mfelczak commented on #1838
Thanks for the confirmation @ania-appb.

Thanks @asmecher, closing.

[2016-10-06 14:20] #1838 closed

[2016-10-06 14:20] asmecher opened #1868 "Make datepicker respect date formats"
In e.g. `FormHandler.js`, the datepicker is initialized with a hard-coded date format:

[code]

Some users may want to configure this differently per `config.inc.php`, e.g.:

http://forum.pkp.sfu.ca/t/ojs-3-do-not-respect-the-defined-values-from-config-inc-php/21817/3

[2016-10-06 14:24] dommitchell commented on #850
OK! Let me know if/when we can help!

[2016-10-06 14:34] mtub commented on #1858
@ctgraham, I can understand the principle idea of your suggestion, but since it is similar to #1855, it might be a little difficult to implement. We cannot define which phrases might need a regional interpretation (country code), so we would have to be able to have

- en
    - en_GB
    - en_US

 with the ability to override any key in `en` in `en_US`. This hierarchy of locale files would have to

[2016-10-06 15:00] bozana commented on #850
@ajnyga, on the first glance everything looks OK. I will not be available and will not have internet till Tuesday but then I will have time for this issue as well. In the meantime, if you would like to proceed, you could maybe implement the function that returns that JSON in the plugin class and try to test it all. And when I am back I will try to figure out and construct that filter, ok? THANKS!!

[2016-10-06 17:24] ctgraham commented on #1858
Yes, this would be a fairly heavy re-write, and I think you describe correctly the hierarchy.  I propose it more as an enhancement rather than a mess, however.  In translating a `en_GB` override of the `en` default, you could still serially review every entry for a regional variant, but wouldn't it be a better workflow to have the *option* to only override a particular key or small subset of keys?

[2016-10-06 19:21] vedranvucic commented on #1858
Maybe, your proposal could be good solution.  I guess that replicating keys would not be a big problem.

[2016-10-07 08:53] ania-appb commented on #1844
Thank you @asmecher , I deleted the above notifications from the database (2 records from the table notifications) but it appeared that I had to delete 2 more records (see pdf enclosed), and that rosolved the problem for the user whose user_id=7 (Tasks for this user are now displayed correctly).
[7.pdf](https://github.com/pkp/pkp-lib/files/515659/7.pdf)

I do not recall anything special about dele

[2016-10-07 09:27] ania-appb commented on #1844
@asmecher , and here what was recorded in the log, immediately after deleting a submission:

So, is it helpful somehow?

[2016-10-07 14:38] asmecher commented on #1844
Hmm, nothing unusual there -- but watch for task lists to misbehave again. It'll be easier to track down errors once some of that noise is removed from the logs, which will be the case with OJS 3.0.1 when that is released. Please let me know if something else comes up; closing for now.

[2016-10-07 14:38] #1844 closed

[2016-10-10 09:13] NateWr commented on #1825
I would agree that's probably the issue that's happening here. I'd recommend making sure that the URL you're viewing, the URL the iframe is loading and the URL of the JS file are all on the same domain.

If that doesn't help, you can send a link with the problematic HTML galley and I'll have a poke in devtools to see if anything jumps out at me.

[2016-10-10 16:24] NateWr commented on #1868
The [dateFormat](http://api.jqueryui.com/datepicker/#option-dateFormat) option effects the visual display *and* the format that's submitted. To preserve the submitted format, we'll need to [altField](http://api.jqueryui.com/datepicker/#option-altField) and [altFormat](http://api.jqueryui.com/datepicker/#option-altFormat).

[2016-10-10 16:28] NateWr commented on #1828
I've updated the title and description of this issue to reflect that the keywords as metadata is handled in a separate issue.

[2016-10-10 16:39] NateWr commented on #1327
@asmecher Did this not get resolved on release day? https://github.com/pkp/pkp-lib/commit/76ec7e5d7c075c39b46fa6d2bf4743aa167bc5b0

[2016-10-10 16:48] NateWr commented on #1740
@amandasramalho and @Vitaliy-1 are you able to provide any more details about your OS or browser? I'm unable to reproduce this myself so I suspect it has to do with a particular mix of OS and browser (eg - Windows 10/Chrome 52.0.2743.116).

If you can provide me with those details I'll try to get a virtual machine going so I can test to see why this is happening.

[2016-10-10 16:58] NateWr commented on #1740
Ok, I was able to reproduce this with Win10/IE11. It seems to be an oddity with the windows file browser. I'll see what I can find.

[2016-10-10 17:06] amandasramalho commented on #1740
@NateWr Windows 10 Pro/ Google Chrome 53.0.2785.143 m

[2016-10-10 18:00] NateWr commented on #1740
I've tracked the source of the problem down to [this code](https://github.com/pkp/pkp-lib/blob/master/js/controllers/UploaderHandler.js#L91-L97), which passes clicks on the visual button to plupload's invisible button which normally intercepts clicks.

This code is important for keyboard accessibility though: it's what makes it possible to tab to the button and hit enter to open the file browser.

[2016-10-10 20:08] kaschioudi commented on #1827
@asmecher : here's an initial work based on google analytics plugin : https://github.com/kaschioudi/piwik

[2016-10-11 08:52] NateWr commented on #1740
I've issued a PR: https://github.com/pkp/pkp-lib/pull/1871
Tests are running at: https://github.com/pkp/ojs/pull/1050

However, I'm pretty nervous about the hacky workaround we've got in place for this. I've included further details in the commit message, which is copied here:

[2016-10-11 09:34] HighwayStar commented on #1740
I have same issue on openSUSE 13.2 with Chromium 51.0.2704.103 64bit with KDE integration (KDialog). I've not tried proposed fix yet.

[2016-10-11 10:50] bozana commented on #1791
We don't have this plugin since 2.4.3, I believe -- since the Usage Statistics plugin came. Right? It seems that it has been there already before 2.4.3 and haven't been adapted since then i.e. after 2.4.3?

[2016-10-11 11:00] bozana commented on #1791
@ctgraham, did you use this plugin?

[2016-10-11 13:52] bozana commented on #1840
PR ojs-stable-3_0_0: https://github.com/pkp/ojs/pull/1052

[2016-10-11 16:08] bozana opened #1872 "UI plugin upgrade"
The plugin upgrade via UI is not working, s. https://github.com/pkp/pkp-lib/pull/1523#issuecomment-230398934
The PR is coming...

[2016-10-11 16:18] bozana commented on #1840
Everything merged, thus closing...

[2016-10-11 16:18] #1840 closed

[2016-10-11 17:27] kaschioudi commented on #1827
@bozana

[2016-10-11 17:28] bozana opened #1873 "Display comments for editor"
The comments for editor are nowhere displayed, s. http://forum.pkp.sfu.ca/t/ojs-3-comment-for-the-editor-information-missing/21921/

[2016-10-12 04:13] asmecher commented on #1740
@HighwayStar, hmm, can you try the fix and see if the behavior seems to be the same despite the different operating system?

[2016-10-12 10:01] bozana commented on #1872
PR master: https://github.com/pkp/pkp-lib/pull/1874
@asmecher, mind taking a very quick look, i.e. can I merge it? Should this also go to ojs-stable-3_0_0?

[2016-10-12 10:24] ania-appb opened #1875 "Adding the link to a submission file for a reviewer in OJS 3.0"
See on the forum:
http://forum.pkp.sfu.ca/t/review-request-in-ojs-3-0-reviewer-doesn-t-see-the-submission-file-although/22000

The link should be added in the 1. Request panel: the reviewer has to have a possibilty to open the file before making a decision whether to make a review or not.
How could I add this link?

[2016-10-12 10:59] Ph-We commented on #1709
Hi @bozana,
This might be urgent. There seem to be no element for article **pages** in schema. So we neither can export page ranges, nor import them.

[2016-10-12 11:06] ania-appb commented on #1853
One more example of quite similar problem:

When one opens Tasks they are displayed as a list, and to make this list close, one has to click on some other link,  this is confusing and inconvenient.

[2016-10-12 12:58] ctgraham commented on #1791
If we are all talking about reports/counter in 2.4.x (https://github.com/pkp/ojs/tree/ojs-dev-2_4/plugins/reports/counter), yes, this plugin is critical for us.  We updated the architecture of the plugin last year to better support multiple reports, updated the COUNTER release to 4.1, and added the AR1 report.  This plugin serves as the foundation for the reports available via SUSHI-Lite.

[2016-10-12 14:20] bozana commented on #1805
@stranack, the fixes are not in the ojs-stable-3_0_0 branch. With the current stable branch and after the `php tools/upgrade.php upgrade` this shouldn't happen any more. The problem is just, that the data from the old import attempts cannot be changed any more i.e. is still there.

[2016-10-12 15:12] bozana commented on #1709
PR for j) above:
master: https://github.com/pkp/ojs/pull/1054
@asmecher, could you take a look at this small addition?

[2016-10-12 16:12] bozana commented on #1709
PR for i) above:
pkp-lib: https://github.com/pkp/pkp-lib/pull/1876
ojs master: https://github.com/pkp/ojs/pull/1055
@asmecher, also these PRs?

[2016-10-12 17:03] bozana commented on #1827
@kaschioudi, Great work!

I have just a few comments:
version.xml:
-- maybe to change the date

PiwikSettingsFor:
-- readInputData: both variable can be in one array and one line
-- execute: piwikSiteId was "int" earlier, is "string" correct now? -- just double checking :-)
-- the first two FormValidator are not necessary if the FVB form fields are defined as required (attribute required=true), be

[2016-10-12 18:56] ctgraham opened #1877 "DataCite export's "publisher" should be clarified"
Martin from DataCite suggests that the `publisher` element in the DataCite metadata should be built around the usage of citations, and should thus be the Journal Title for output from OJS.
http://forum.pkp.sfu.ca/t/ojs-2-4-8-1-need-help-with-datacite-export-plugin/22129/6?u=ctgraham

Currently, we inherit `DOIExportDom::getPublisher()` in DataciteExportDom.  This prefers the Publishing Institution

[2016-10-12 20:07] bozana commented on #1877
Thanks a lot @ctgraham! I merged it and will change this accordingly for OJS 3 and maybe cherry-pick it to ojs-stable-2_4_8 as well.

[2016-10-12 21:19] asmecher commented on #1709
Thanks, @bozana -- merged https://github.com/pkp/ojs/pull/1054. I suppose this needs back-porting to `ojs-stable-3_0_0`?

For https://github.com/pkp/pkp-lib/pull/1876 and https://github.com/pkp/ojs/pull/1055, one comment to consider: https://github.com/pkp/ojs/pull/1055#pullrequestreview-3964223

Thanks!

[2016-10-12 21:22] asmecher commented on #1872
Just made a couple of comments on that PR, thanks, @bozana!

[2016-10-12 22:50] asmecher commented on #1327
Yes, as part of https://github.com/pkp/pkp-lib/issues/1775, thanks!

[2016-10-12 22:50] #1327 closed

[2016-10-13 04:08] kaschioudi commented on #1827
Thank you very much @bozana for you review. When you get a chance, please take a look at this commit (https://github.com/kaschioudi/piwik/commit/6f673e78a170955ae9c5b8785e92b28f4dcd71cd) and let me know if I have correctly applied your suggestions.

I wasn't sure whether piwikSiteId is int or string. I am under the impression that it's integer, but I put string for now. I will validate once I have

[2016-10-13 08:04] bozana commented on #1827
Hi @kaschioudi, just a note for the locales -- you can get them from the ojs-stable-2_4_8 branch. Those keys, that you changed should be deleted from other locales. Of course also those that you do not need any more i.e. that you removed.

[2016-10-13 08:43] bozana commented on #1827
@kaschioudi, I am so sorry, I think I said a wrong thing :-((( I've just tested it and apparently there have to be both elements: the FormValidator and required=true :-O I don't know why, because the error message displayed is always the same i.e. not the one defined in the FormValidator. Sorry, sorry, sorry :-( @asmecher, is this supposed to be so?

@kaschioudi, I found that the old Piwik plugin

[2016-10-13 10:16] bozana commented on #1796
The issue is solved for OJS, it cannot be cherry-picked to OMP (it is a little bit more complicated there), thus changing the label and milestone...

[2016-10-13 12:08] ajnyga commented on #850
@bozana, I am working on this again and will try to get this work to the point where we only need to add the filter. I already have some changes to my original commits and will upload at least those today.

[2016-10-13 13:32] ctgraham commented on #1877
Note that Martin Fenner reports that DataCite is discussing this limitation of not have a clear way to represent the journal title in their metadata internally.  A better solution may arise from that conversation.

[2016-10-13 13:59] bozana commented on #1709
Thanks a lot @asmecher! I integrated your comment. Could you take a look?

[2016-10-13 16:21] asmecher commented on #1827
We're doing validation both on the front end (Javascript-based) and in the back-end (PHP based). The `required="true"` affects the Javascript validation, and when those requirements aren't met, the form doesn't even get submitted before the warning is shown.

We don't have a strict 1:1 mapping between these validations because the PHP-side validation can be more stringent -- e.g. checking to make

[2016-10-13 16:26] bozana commented on #1827
@asmecher, but in order for the message "This field is required" to be displayed when you leave such a required field, you have to define both i.e. the field should be required and there have to be a FormValidator for that field, right? Is then in simple cases just required attribute for the form field enough?

[2016-10-13 16:27] asmecher commented on #1860
Thanks, @crazy-weasel, that makes sense. Mind sending in a PR and linking it to this issue? Then I'll take care of cherry-picking it around to the various branches.

[2016-10-13 17:01] asmecher commented on #1827
Both should be necessary, I think -- and the PHP side is definitely required, as e.g. bad actors can bypass front-end based checks.

[2016-10-13 18:20] crazy-weasel commented on #1860
Done @asmecher :)

Well.. I guess the first PR was made to the wrong repository.. please ignore it! (My first PR)

[2016-10-14 02:54] kaschioudi commented on #1827
no worries @bozana. I have put back those validation lines. I didn't know there was an existing piwik module for ojs2. I have imported all the locales and got rid no needed entries. I have also modified the setting form to display more instructions. (see https://github.com/kaschioudi/piwik/commit/2af735be87c9f74bb4053335be00f25762a1e089)

@asmecher: ojs2 piwik module's copyright has

`* Copyright

[2016-10-14 03:16] kaschioudi commented on #1827
@bozana: DocumentTitle tracking added:  https://github.com/kaschioudi/piwik/commit/b14213e1fa6f87e41fc0316c07547aa01f1f2525

[2016-10-14 03:42] asmecher commented on #1860
Thanks, @crazy-weasel -- better to use `$this->` rather than `self::` because this is an instance call; since it's a one-liner I just committed that change and closed the PR. Thanks for reporting & fixing!

[2016-10-14 03:42] #1860 closed

[2016-10-14 03:44] asmecher commented on #1827
@kaschioudi, I don't think the start dates are especially important. I'd suggest going with the earlier dates if in doubt (e.g. if you're combining two sources).

[2016-10-14 03:51] hrace009 opened #1879 "OJS at cPanel"
I have install OJS using softacoulous at cPanel
When trying to create new issue i got messag with whitescreen
<pre><code>Not Acceptable

An appropriate representation of the requested resource /index.php/pb/editor/saveIssue could not be found on this server.

Additionally, a 406 Not Acceptable error was encountered while trying to use an ErrorDocument to handle the request.</code></pre>

and the i

[2016-10-14 03:57] hrace009 opened #1880 "Bypass Connection Reset"
Have you seen this? seems there is a hole that user can upload any type of file including upload exploit script to OJS: http://www.indoxploit.or.id/2016/09/bypassing-connection-reset-while.html

[2016-10-14 05:09] asmecher commented on #1880
@hrace009, this requires the OJS `files_dir` (configured in your `config.inc.php`) to be web-accessible. That should never be the case -- see `docs/README`, the installation form, and `config.inc.php` for warnings to avoid this situation.

[2016-10-14 05:09] #1880 closed

[2016-10-14 05:11] asmecher commented on #1879
@hrace009, OJS never returns a 406 error -- this must be coming from something else in your server stack. I would suggest checking your web server's error log to see if details appear there.

[2016-10-14 05:11] #1879 closed

[2016-10-14 05:16] asmecher commented on #1854
Merged and ported to master, thanks, @kaschioudi!

[2016-10-14 05:16] #1854 closed

[2016-10-14 05:18] jalperin opened #1881 "Document-Centric workflow"
The idea is to use either a simple display library + hypothes.is or Substance + some commenting to allow for workflow that allows commenting and editing of the document throughout the workflow.

[2016-10-14 05:19] jalperin opened #1882 "Migrate submission from one journal to another"
both within the same install and between installs

[2016-10-14 07:42] HighwayStar opened #1883 "OJS Cannot cmplete installation"
I trying to fresh install OJS from master branch and cannot complete installation. After filling all forms and clicking 'Install Open journal Systems' button browser just return to the same page without any message about installation error or anything else.

I've bisected this issue down to first bad commit

[code]

On previous 619ee7757e6f9d8c9a493db17fd5be2af33306f2  installation works fine.

[2016-10-14 07:52] HighwayStar commented on #1883
Sorry wrong bad commit, bisecting again and will update.

[2016-10-14 08:32] bozana commented on #1827
@kaschioudi, thanks a lot! I think now everything is OK. I see you changed these locale keys:
plugins.generic.piwik.description
plugins.generic.piwik.manager.settings.description
plugins.generic.piwik.manager.settings.piwikSiteId
plugins.generic.piwik.manager.settings.piwikUrl
Maybe to remove them then from other locales?

[2016-10-14 10:18] bozana commented on #1877
PRs:
ojs-dev-2_4: https://github.com/pkp/ojs/pull/1056
ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1060
master: https://github.com/pkp/ojs/pull/1061
ojs-stable-3_0_0: https://github.com/pkp/ojs/pull/1062

[2016-10-14 10:54] bozana commented on #1877
All PRs are merged, thus this issue can be closed, right @ctgraham?

[2016-10-14 10:58] bozana commented on #1872
PR ojs-stable-3_0_0: https://github.com/pkp/pkp-lib/pull/1884
everything merged and cherry-picked, thus closing...

[2016-10-14 10:58] #1872 closed

[2016-10-14 12:39] ctgraham commented on #1877
I sense there will be more conversation here eventually, but this does resolve the issue for the change Martin Fenner suggested.  Locally, I've been instructed to still prefer the publisher institution, so until DataCite enhances their schema, we may continue to have conflicting directions.

[2016-10-14 12:39] #1877 closed

[2016-10-14 13:17] bozana commented on #850
@dommitchell, I would have one question: how to provide multiple languages (e.g. for title and abstract) in DOAJ JSON? Could you give us an example? Or is this not possible i.e. only one title and abstract should be registered?

[2016-10-14 14:17] ajnyga commented on #850
@bozana, DOAJ has `"language" : ["EN", "FR"]`  set in this example, but this is related to the journal: https://github.com/DOAJ/harvester/blob/9b59fddf2d01f7c918429d33b63ca0f1a6d3d0d0/service/tests/fixtures/article.py

I have a feeling that DOAJ does not support multilingual metadata for articles?

[2016-10-14 15:01] bozana commented on #850
Thanks a lot @ajnyga! I also think so -- so I will only provide title, abstract, ... only in the article locale for now.

[2016-10-14 20:35] asmecher commented on #1844
@ania-appb, I finally had a chance to look at the database dump and tracked down the source of the problem -- it's not deleted submissions, it's missing section information. Submission ID 1 has a `NULL` value for the `section_id` column. Could it be that this submission was created before the requirement for a section selection from the dropdown was fixed, just prior to 3.0 being released?

[2016-10-14 22:35] asmecher commented on #1862
Thanks, Nate -- sorry it took so long to get merged!

[2016-10-14 22:35] #1862 closed

[2016-10-14 22:37] asmecher commented on #1826
(This may get pulled forward to 3.0.1, but deferring for now)

[2016-10-14 22:40] asmecher commented on #1766
@bozana, I think you were tinkering with some related code recently. Mind taking a look?

[2016-10-14 22:45] asmecher commented on #1601
@bozana, did this one get completed?

[2016-10-14 22:46] asmecher commented on #490
@mfelczak, I think you were tinkering with this, correct?

[2016-10-14 22:47] bozana commented on #1766
@crism, could you see/test if the commits from the issue https://github.com/pkp/pkp-lib/issues/1872 solved the problem? -- they are merged both in master and ojs-stable-3_0_0

[2016-10-14 22:54] bozana commented on #1314
I have a problem with this issue :-( Earlier we were using galley assoc type, but in OJS 3 just submission file assoc type is used, which requires also the format of the file. So I don't know how to proceed correctly with remote galleys, because we don't know the format (and if it is fully downloaded -- if this means something for this case and COUNTER). Does anybody have an idea? @asmecher, @ctgr

[2016-10-14 22:55] bozana commented on #1601
@asmecher, just one more is missing, for the users import/export. Will do... hopefully soon... :-)

[2016-10-14 22:55] asmecher commented on #1862
(Also cherry-picked over to `ojs-stable-3_0_0`)

[2016-10-14 22:55] #1594 closed

[2016-10-14 23:04] asmecher commented on #1601
OK, thanks! Just clearing out/reorganizing issues.

[2016-10-14 23:06] asmecher commented on #1825
Note to self: When this is ready, back-port to `ojs-stable-3_0_0` and apply to the demo install(s).

[2016-10-14 23:15] asmecher commented on #1853
@ania-appb, FYI, I've replicated the issue of needing to reload the page after assigning an editor in order for the editorial decisions to appear.

[2016-10-14 23:21] asmecher opened #1885 "Fix MySQL test race condition"
A Travis test race condition is frequently surfacing where the MySQL tests fail. See e.g.:
- https://travis-ci.org/pkp/ojs/builds/167204634
- https://travis-ci.org/pkp/ojs/builds/167357915
- https://travis-ci.org/pkp/ojs/builds/166802890

A few bashes of the Restart Job button usually gets them working but that's a bad solution.

[2016-10-14 23:22] asmecher opened #1886 "Add automated tests for additional PHP versions"
See https://github.com/pkp/ojs/pull/1015 for a user-contributed suggestion.

Note that https://github.com/pkp/pkp-lib/issues/1885 is a blocker, as more tests mean higher likelihood of random failure.

[2016-10-14 23:25] asmecher commented on #1314
@bozana, can you describe what you mean about file types? I'm not following. But it is a Friday...

[2016-10-15 04:31] kaschioudi commented on #1827
Okay @asmecher.  I will use 2013 for all files. thanks

@bozana : I did not change those locale keys. I have reused everything from piwik module for ojs2. I got rid of `plugins.generic.piwik.manager.settings` and `plugins.generic.piwik.manager.piwikSettings` entries in all locales because I was not using them.

In case you are referring to https://github.com/kaschioudi/piwik/commit/671387c009b7cdb

[2016-10-15 08:26] bozana commented on #1314
Ah, sorry, I'll try to explain it more clear: In OJS 2.4.x the galleys were tracked as ASSOC_TYPE_GALLEY and in OJS 3.0 as and only as ASSOC_TYPE_SUBMISSION_FILE, which requires a file to be there, s. https://github.com/pkp/ojs/blob/master/plugins/generic/usageStats/UsageStatsLoader.inc.php#L61-L77. Which also makes sense, except for the remote galleys :-( Also, when building the usage event, the

[2016-10-15 08:48] bozana commented on #1827
Ah sorry @kaschioudi, yes I meant them :-( Everything fine then :-))) Thanks a lot!!!

[2016-10-16 17:51] Vitaliy-1 commented on #1825
Greetings,

I had added JS like external file with full link in the head of html. JS file was not downloaded as routing from "upload" form but manually in the web access directory with all needed permissions. For now we are not using iframes for html galley so I cannot check this issue once more.
As I see from pdf galleys, iframe blocks all external urls (and in case of html it has problems with i

[2016-10-17 12:12] NateWr commented on #1847
I was unable to reproduce this.

http://forum.pkp.sfu.ca/t/registering-users-with-ojs-3-0/19589/4

[2016-10-17 14:28] ctgraham commented on #1314
I'm going to set aside the core question of how to internally count remote galley usage to focus on COUNTER's considerations.

COUNTER is concerned (for now at least) with discriminating between the format of the full text article download (pdf vs, html vs. other), but I'm not sure COUNTER would want to include clickthroughs of remote links as full-text downloads.  We can't authoritatively say whe

[2016-10-17 17:55] defstat commented on #1792
I am on that....

[2016-10-17 18:03] defstat commented on #1868
I am on it.

[2016-10-17 18:26] asmecher opened #1891 "Make dependent files application closer-scoped"
Currently we loop through all dependent files for a submission and apply them. If several galley files include the same reference (e.g. to CSS) by filename, then dependent files from one galley file can clobber another.

An addition to work around it.

    foreach ($embeddableFiles as $embeddableFile) {
        if ($embeddableFile->getAssocId() != $submissionFile->getFileId()) continue;
        ..

[2016-10-17 19:40] asmecher commented on #1891
(OMP commit to `master`; OJS commit to `i1825-fix` for merging with those PRs.)

[2016-10-17 19:40] #1891 closed

[2016-10-17 20:07] asmecher commented on #1792
Assigned!

[2016-10-17 20:08] asmecher commented on #1868
Assigned!

[2016-10-17 20:47] crism opened #1892 "[OJS] installation with one hidden journal behaves inappropriately"
I may be conflating a couple of issues, but I haven’t fully characterized the problem yet.

With a clean, new OJS 3.0.0-0 installation, create one journal. Do _not_ mark it as publicly listed.

When visiting the OJS installation, one is forwarded to the only journal on the site, even though it should not be public.

Moreover, when attempting to register a user for the journal, the registration fai

[2016-10-17 20:52] asmecher opened #1893 "Fix MIME type detection problems for CSS"
CSS files are often misdetected as `text/plain` or `text/x-c` by the MIME magic toolset (`finfo` / `mime_content_type`). At a glance, it looks like our best solution will be to hard-code a workaround for CSS files that watches for filename suffixes. Browsers don't like e.g. `text/plain` and will refuse to style documents that include CSS files with `text/plain` stylesheets (per the HTTP header).

[2016-10-17 21:03] crism commented on #1766
I was able to upgrade my theme plugin using `HEAD` of OJS as of this morning. Thanks!

[2016-10-17 21:28] asmecher commented on #1766
Thanks, @crism and @bozana -- closing!

[2016-10-17 21:28] #1766 closed

[2016-10-17 21:43] #1825 closed

[2016-10-17 21:54] asmecher commented on #1825
@bozana, could you review https://github.com/pkp/ojs/pull/1027? I've already merged it and back-ported to `ojs-stable-3_0_0` (bad habit!) but it could use a look.

@Vitaliy-1, if you send me some samples of HTML galleys (including dependent files) that show the navigation/JS problems, I can take a more specific look.

[2016-10-17 22:07] asmecher commented on #1892
@crism, is this the same as https://github.com/pkp/pkp-lib/issues/592?

[2016-10-17 23:15] #1893 closed

[2016-10-18 02:38] crism commented on #1892
The first part of the problem is the same as the last point in #592. The inability to register does not seem to be described in #592.

[2016-10-18 14:26] ctgraham opened #1894 "Dataverse plugin overrides NOTIFICATION_TYPE_ERROR message"
In OJS 2.4.x, the `NotificationManager` generously allows plugins to override the `getNotificationContents()` return value via hook:
https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/classes/notification/NotificationManager.inc.php#L173-L175

The Dataverse plugin uses this to abscond with the core `NOTIFICATION_TYPE_ERROR` message.  Not cool, Dataverse plugin, not cool.
https://github.com/pkp/ojs/b

[2016-10-18 15:43] asmecher commented on #1314
Remote galleys are not distinguished as primary/secondary (article/supplementary); we can still distinguish files that way.

Am I crazy to suggest that we shouldn't bend over backwards to make statistics behave well with externally-hosted galleys? Good-faith counting may be enough. And I'm not sure how OJS can be expected to know MIME types and file sizes authoritatively; we could perhaps fetch/st

[2016-10-18 17:01] ctgraham commented on #1314
I can get feedback from Project COUNTER, but the more I think about it the less convinced I am that COUNTER would want to include statistics for these remote files.  Since OJS can't control the externally hosted materials, we really can't consider these to be a full member of the published article, can we?  Aren't we really describing here relationships between the published article and another ma

[2016-10-18 17:19] asmecher commented on #1314
For users who are hosting externally but _do_ have control over their hosting environment and want to unify COUNTER stats, how much of a stretch would it be for them to e.g. merge server access logs for the two platforms and process them together? (Suspicion: not easy. But asking anyway.)

[2016-10-18 17:31] bozana commented on #1314
I agree with you both to leave the counting of the remote galleys to the remote system. It sounds logical to me -- OJS would then just be place for the remote URL, for the system to know that there is a file belonging to an article and it's URL. It would maybe however be good to hear what COUNTER says about it.
@ctgraham, what implication does it have for COUNTER, if we do not distinguish full tex

[2016-10-18 17:54] crism commented on #1314
@asmecher, in our case, we’re publishing born-digital projects as monographs and journal articles. OMP or OJS act as the submission system, project tracker, and catalog/storefront, but the actual content is served out by Scalar or Omeka. We do consider it primary content. We’re not so much worried about COUNTER _per se_, but just the ability to aggregate statistics in one place. If necessary, we c

[2016-10-19 08:18] mjlassila opened #1896 "ORCID support in native XML import/export format for issues"
It seems that there is no dedicated XML element for importing author information including ORCID iDs. As using ORCID is getting more and more common, it would be useful if it could be included in the native import/export format.

[2016-10-19 12:38] ctgraham commented on #1314
I don't have any problem with OJS counting clickthroughs to remote URLs internally; let's just make sure that these are not included in the COUNTER statistics (unless I hear otherwise from Lorainne at COUNTER).  Merging COUNTER reports is not simple, but it's not new problem either... institutions may have coverage for some titles from multiple vendors.  To track total usage for _Title A_, statist

[2016-10-19 15:46] ctgraham commented on #1314
Lorainne Estelle from Project COUNTER affirmed that it would be inappropriate for the software to count clickthroughs to remote files in the same way as we're counting downloads (that is, for the JR1 and AR1 reports).  They are working on processes and policies for distributed usage logging which may help clarify the general question of consolidating usage tracking.

There is a COUNTER report (DB1

[2016-10-19 16:08] bozana commented on #1314
The remote galleys cannot be then counted by OJS, because OJS now just has COUNTER based statistics -- the UsageStatistics plugin. The remote galleys access is/can be however logged by the server, in the server log files, so that journals could get statistics from them, in a different way, but not consistent with other OJS internal statistics :-( Any idea/solution about this?

[2016-10-19 17:12] ctgraham commented on #1314
We may need to clarify what the "ojs::counter" metric means.  To this point, we have been using it to largely mean "these metrics were generated to be compatible with full-text downloads as reported in COUNTER JR1 and AR1".  We could easily include counts of the remote galley redirects and still mean "these metrics were generated to be compatible with COUNTER reports", we would just need to be sur

[2016-10-19 18:43] asmecher commented on #1896
(Mentioned in the forum over here: http://forum.pkp.sfu.ca/t/how-to-show-biography-of-an-author/9313/5)

[2016-10-19 18:56] asmecher commented on #1894
@bozana, may I pass this one to you?

[2016-10-19 20:05] mfelczak commented on #490
Hi @asmecher, the scheduled tasks for subscription/open access notifications were removed as part #1838 but it looks like the email templates are still there, I'll remove them as well.

[2016-10-19 20:06] asmecher commented on #490
I'd suggest we leave the templates there, in case they're useful when we re-introduce the feature.

[2016-10-19 20:07] mfelczak commented on #490
Sounds good, closing then.

[2016-10-19 20:07] #490 closed

[2016-10-19 20:32] mfelczak commented on #1740
Hi @asmecher, @NateWr -- can also confirm this bug on the latest Chrome in OSX. The workaround seems to fix it.

[2016-10-19 22:07] defstat commented on #1868
@asmecher The past 2 days I was trying to find out if there was a case, or an already existing central mechanism that could port php variables in the FormHandler Javascript object, using its "options" parameter (like OJS does with grids and 'features' variable of the 'options' parameter). I couldn't find any.

So I decided to go with a general approach that includes some code changes in form/textI

[2016-10-19 22:11] #1583 closed

[2016-10-19 22:11] asmecher opened #1897 "Add/Improve reader notification tools"
There are currently no tools to send out notifications to readers (either automatic or manual) upon publication of new content.

[2016-10-19 22:42] asmecher commented on #1868
OK, sounds good! Could you open a pull request? That way the code review tools are available.

[2016-10-20 09:34] NateWr commented on #1740
Thanks @mfelczak. Unless we want to book time in a device lab (there's one here in Edinburgh), I think our best bet is just to implement the change for 3.0.1 and see if it causes loads of problems.

[2016-10-20 09:42] NateWr commented on #1868
Thanks for the PR @defstat! To help Alec keep track of all this stuff, we drop a link to the PR into the issue like this:

PR: https://github.com/pkp/pkp-lib/pull/1898

That will help him notice it and make sure it gets assigned for code review. :+1:

[2016-10-20 09:45] bozana commented on #1601
The PR above for
master: #1016
ojs-stable-3_0_0: https://github.com/pkp/ojs/pull/1067

[2016-10-20 09:56] dommitchell commented on #850
Hello, sorry for the delay. This is correct. We can ingest multiple languages but can only display the first one that is present in the xml.

[2016-10-20 10:01] bozana commented on #850
@dommitchell, but in JSON there is also no possibility to submit multiple titles, just one, right?

[2016-10-20 10:17] defstat commented on #1868
Thanks @NateWr! I will do that.

[2016-10-20 11:10] dommitchell commented on #850
Correct.

On 20 Oct 2016 12:01 p.m., "bozana" <notifications@github.com> wrote:

[2016-10-20 13:09] bozana commented on #1709
@asmecher, the OMP fixes (for e) and i) above) are only merged into OMP master branch. Should they be cherry-picked also to the omp-stable-1_2 or any other branch as well?

[2016-10-20 13:15] wolass opened #1900 "[ojs/plugins/importexport/crossref/] HTTP ERROR 500"
/management/importexport/plugin/CrossRefExportPlugin/exportSubmissions

in the new OJS  3.0.0, when I click the `submit` button in the crossref plugin I get the HTTP 500 error.

I see the XML using the `Download XML` also `Check status` button ends up with the same error.

What is wrong here?

[2016-10-20 13:34] bozana commented on #1894
@ctgraham, shouldn't all the calls of `NOTIFICATION_TYPE_ERROR` here (when notifications are created) be replaced by the new NOTIFICATION_TYPE_DATAVERSE_ERROR? I see you inserted a TODO comment. Would you be able to check/evaluate it?

[2016-10-20 13:49] bozana commented on #1900
@wolass, hmmm... this is strange... I have no idea what could that be... :-\ If you don't experience any problem with "Download XML", but with "Submit" and "Check status", that means the error is occurring only when the Crossref API is used/called. Where do you see that error, in the small notification box in the upper right corner? Then it is maybe something temporarily at the Crossref side. Mayb

[2016-10-20 14:00] wolass commented on #1900
1. I am able to log in with my credentials @ crossref and these are the same what i use in OJS plugin.
2. I am seeing a HTTP ERROR 500 page (not in the right corner but with a "sad page" in chrome).
3. I have my serve on an AWS ec2 instance
5. BLAH!!! I read your last line and I checked for php5-curl

IT WAS MISSING!

did the thing !

Thank you for the help!

[2016-10-20 15:02] asmecher commented on #1900
Thanks for following up -- glad to hear it's working!

[2016-10-20 15:02] #1900 closed

[2016-10-20 15:17] jmacgreg opened #1901 "Update Crossref DOI display according to their new guidelines"
See http://forum.pkp.sfu.ca/t/crossref-new-guidelines/21861. This should be done for OJS 2.4.9 and 3.0.1.

[2016-10-20 15:31] mfelczak commented on #1740
Thanks @NateWr. I just read your comments above re: accessibility and it's quite a tradeoff to get this working. I don't know what to suggest, other than maybe it'd be worthwhile to keep this issue open for now and see if we can find another solution.

[2016-10-20 16:35] judgej opened #1902 "[OJS 3.0] getBasePath() returns an empty path in PKPTemplateManager"
Getting lots of warnings in the page similar to this:

Line 567 checks for a file at:

`$basePath` is set further up:

[code]

It is that `getBasePath()` which returns a `null`.

[2016-10-20 16:53] judgej commented on #1902
It looks like the base path is possibly correct, in that it is the HTTP base path. However, that raised the question why it is being used as an OS directory base name in the check for the language files.

[2016-10-20 17:02] judgej commented on #1902
Putting the path to the application root directory (which happens to be where the index.php file is) fixes it for me:

    if (file_exists(dirname(INDEX_FILE_LOCATION) . $basePath . $localePath . $localeCheck .'.js')) {

It seems like a bit of a kludge as a permanent fix though, but gets me past this point at least.

[2016-10-20 17:06] judgej opened #1903 "[OJS 3.0] "Information Block" Not Displaying"
The block with the "for librarians" and "for readers" links in does not display in the sidebar at all. The block plugin is installed and enabled, and there is information available for this block.

I'm not sure if the block is supposed to appear in the "settings->website->appearance-sidebar management" administration panel or not, but it doesn't.

[2016-10-20 17:15] ctgraham commented on #1902
See also: http://forum.pkp.sfu.ca/t/ojs-3-error-logs/20706/5?u=ctgraham

[2016-10-20 17:33] judgej commented on #1903
I am only seeing three blocks in the appearance admin page:

* Make Submission
* Related Items
* Web Feeds

Two blocks that are not showing here, but are installed and active, and appear to be in the filesystem are:

* Information
* Language Toggle

[2016-10-20 17:43] judgej opened #1904 "Closing ?> tags - you know you can give up on them"
It's been about 15 years since the need for closing the PHP tag (`?>`) for PHP-only scripts was thrown out. They just exist now in projects that have not stopped using them for whatever reasons, and serve _only_ to act as a _gotcha_ when extra spaces or an extra newline gets added after the tag by accident.

Give them up. Stop using them. Remove them. Don't add them. You _know_ you can do it.

[PH

[2016-10-20 17:55] ctgraham commented on #1904
But, but, but.... that's unbalanced!

+1

[2016-10-20 18:00] judgej commented on #1904
I think the move to 3.0 would be a good point to make that change. The balance does feel right after you have used it for a while - a `<?php` right at the top only means *"It's PHP from the beginning of the file to the very end. Enjoy!"*.

I'm just working up the courage to suggest using PHP 5.3 features such as autoloading with composer, but that may be a step too far in one go :-)

[2016-10-20 19:15] ctgraham commented on #1904
We are committed to PHP 5.3+ features and to composer in the master branch (OJS 3.0+, OMP 1.2+).

[2016-10-20 19:30] ctgraham opened #1905 "Acron really, really wants to run..."
...so much so that it races itself.  See resolution attempt: https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8737
and
https://github.com/pkp/ojs/blob/dbe779f2bd97e9a0f2842c4357fb56496b7179e4/plugins/generic/acron/AcronPlugin.inc.php#L241-L260

I don't think the `switch ($updateResult) {` check is very effective.  The only reason the [getRowsAffected()](https://github.com/pkp/pkp-lib/blob/a39b1328db9ec

[2016-10-20 20:30] asmecher commented on #1902
@mfelczak, did you get the chance to track this further?

[2016-10-20 20:37] asmecher commented on #1904
I've never really gotten the vehemence around either side of the `?>` debate -- we're just keeping consistent for now. If someone wants to submit a PR -- or better yet, a quick `sed` script or something, since this will need to be committed to a bunch of branches -- I'm open to removing the `?>` endings. As @ctgraham mentions, we're gradually moving towards more modern PHP -- we've often been cons

[2016-10-20 21:31] judgej commented on #1904
Cool, glad to hear it :-) PHP 5.3 is certainly a security risk now, PHP 5.4 reached end-of-life ages ago, but is at least getting some security updates. It certainly is difficult to turn a project upside-down, so it is understandable how slowly things can move at times. And sometimes it can be difficult to separate the latest trendy features from the long-lasting game-changer technologies.

I wond

[2016-10-20 21:43] mtub opened #1906 "enable RTL orientation in OJS 3"
OJS 3 is using locales that require RTL orientation (Arabic, Farsi…).

In OJS 2.x, there are generic CSS files for RTL support. OJS 3 should have a similar means of supporting RTL languages.

see #1889, also mentioning @NateWr

[2016-10-20 22:00] asmecher commented on #1906
Note also https://github.com/pkp/pkp-lib/commit/c7bf1e9554b33d34238e05de99c07a77934005e2 -- this got committed only recently.

For RTL languages, OJS 2.x allowed for the specification of a locale-specific stylesheet; see `registry/locales.xml`. I think that approach worked pretty well so we'd just need to verify that it's working for OJS 3.0 and that the styles are appropriate.

[2016-10-21 15:24] judgej commented on #1903
Spent most of a day trying to understand blocks, and just can't fathom out why the information block is not displaying. Tried stripping it down to a minimum, like the "submissions" block. Tried messing with the context and other settings for the block in the database, so it looks like other blocks that do work. But it's no-go. The information block class gets loaded in the `appearance` admin page

[2016-10-21 15:31] judgej commented on #1904
Also coming across a lot of PHP4 constructors, objects passed into methods my `&` reference, and there were an awful lot of deprecation warnings when I upgraded the database to 3.0 (mainly "Only variables can be passed by reference").

[2016-10-21 16:33] asmecher commented on #1904
A bunch of that should already be corrected in the `master` branch since the 3.0 release, and we'll continue to correct these gradually. Specific log entries welcomed, particularly if you're working against `master` -- I'll try to incorporate fixes. These are generally cosmetic though some moved to critical with PHP7's error handling changes.

[2016-10-21 18:40] asmecher opened #1907 "Show volume info only when checkbox selected"
See http://forum.pkp.sfu.ca/t/eliminating-0-volume-variable-when-not-using-volumes/22965

[2016-10-21 19:35] asmecher opened #1908 "Fix/resolve LOCKSS registration/manifest/plugin"
See http://forum.pkp.sfu.ca/t/archiving-via-lockss-and-clockss-problem/22963 for details.

@stranack, I think you also raised this somewhere, but I can't find it.

[2016-10-21 20:17] asmecher opened #1909 "Fix APA/CBE/RefWorks author initial"
See http://forum.pkp.sfu.ca/t/apa-citation-problem-with-names/22964 for details.

[2016-10-21 20:17] #1909 closed

[2016-10-21 21:34] asmecher commented on #1905
Would `microtime` rather than `time` be useful in reducing the likelihood of collisions?

[2016-10-21 21:51] crism opened #1910 "[OJS] Crossref plugin doesn’t use test API for status query"
Against the latest `HEAD`: When the Crossref plugin makes a deposit, it checks the test configuration status:
[code]
… but when querying to see if the deposit was successful, it does not:
[code]

[2016-10-21 21:53] asmecher commented on #1910
@bozana, mind taking a look?

[2016-10-21 21:54] crism commented on #1910
I’m on it; I think the fix is fairly simple.

[2016-10-21 22:12] asmecher commented on #1910
Excellent! Thanks, @crism, I'll leave @bozana to the code review.

[2016-10-21 22:18] mtub opened #1911 "enable longer locale names"
To be able to deal with locale names that differ from the standard xx_YY pattern we've used exclusively so far, the PKP applications should be able to deal with longer locale names. Review of OJS (higher priority) and OMP code is necessary to make sure introducing longer locale names will not break the applications.

[2016-10-21 22:22] asmecher commented on #1911
There are still areas of the code that try to parse bits out of xx_YY (predominantly `PKPLocale` but also elsewhere). Those will need review at the same time.

[2016-10-21 22:27] asmecher opened #1912 "Reconsider size/sorting of three Dashboard queues"
See e.g.:

http://forum.pkp.sfu.ca/t/queue-of-submissions-during-the-submission-process/22849

Also, from SI:

[2016-10-21 22:27] asmecher commented on #1912
@NateWr and @stranack, ideas welcome!

[2016-10-21 22:40] asmecher commented on #1903
This is also reported here: http://forum.pkp.sfu.ca/t/information-block-is-not-showing-up-ojs-3-0-0/22858

I'll take a look.

[2016-10-21 22:43] asmecher commented on #1903
@judgej, could you try executing the following in MySQL?

    SELECT * FROM versions WHERE product='information';

You should get a result like...

    +-------+-------+----------+-------+---------------------+---------+----------------+-------------+------------------------+-----------+----------+
    | major | minor | revision | build | date_installed      | current | product_type   | product

[2016-10-22 09:53] judgej commented on #1903
Yes, all values exactly the same, apart from the install date, which was January this year when I first installed OJS v2.8.

| "major" | "minor" | "revision" | "build" | "date_installed"      | "current" | "product_type"   | "product"     | "product_class_name"     | "lazy_load" | "sitewide" |
|---------|---------|------------|---------|-----------------------|-----------|------------------|------

[2016-10-22 10:02] judgej commented on #1903
Ha! Yes, mine is also in backwards world like [the other poster](http://forum.pkp.sfu.ca/t/information-block-is-not-showing-up-ojs-3-0-0/22858) - disabling it makes it appear to be enabled and vice-versa.

[2016-10-22 10:11] judgej commented on #1903
This is in my `plugin_settings` with the block apparently disabled but actually working:

| plugin_name            | context_id | setting_name | setting_value | setting_type |
|------------------------|------------|--------------|---------------|--------------|
| informationblockplugin | 1          | context      | 1             | int          |
| informationblockplugin | 1          | enabled

[2016-10-22 10:31] judgej commented on #1903
Actually, that's wrong - the `enabled` flag does reset to `0` when the block is disabled. Now it is appearing in the appearance tab (which is certainly wasn't before I started messing with the enabled checkbox this morning) it seems to be working like this:

* Setting it to enabled in the plugins tab will make it appear to the left (i.e. displayed) in the appearance panel.
* Moving it left and rig

[2016-10-22 20:40] bozana commented on #1910
Thanks a lot @crism! I will then also cherry-pick it to ojs-stable-3_0_0...

[2016-10-22 20:45] bozana commented on #1894
Thanks a lot @ctgraham! I merged it and will cherry-pick it to ojs-stable-2_4_8...

[2016-10-22 20:52] bozana commented on #1894
PRs:
ojs-dev-2_4: https://github.com/pkp/ojs/pull/1066/
ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1071

[2016-10-22 20:53] bozana commented on #1894
Everything merge, can this issue then be closed?

[2016-10-22 20:58] bozana commented on #1910
PRs:
master: https://github.com/pkp/ojs/pull/1070
ojs-stable-3_0_0: https://github.com/pkp/ojs/pull/1072

[2016-10-22 20:58] bozana commented on #1910
Everything merged, can this issue then be closed?

[2016-10-24 00:11] PedroSilvaNZ opened #1913 "[OJS] Issue with migrating to 3.0"
Hello,
I'm trying to migrate to 3.0, and I got the following error:
A database error has occurred: Duplicate entry 'defaultthemeplugin-0-enabled' for key 'plugin_settings_pkey'
What could I do about this?
Thanks,
Pedro.-

[2016-10-24 09:21] NateWr commented on #1906
Let's use the `dir` [HTML attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/dir) on the `<html>` element, and then we can target that in CSS code:

[code]

This might also allow us a future option if we want to go to the next level with language-specific directions on field elements (thinking about the multilingual field elements).

I'm happy to spend a bit of time on

[2016-10-24 09:32] NateWr commented on #1912
In the past, my goal has been to combine these into one long grid, like on the Active page, but where they were sorted by default with Unassigned Submissions on top, then My Authored Submissions, followed by My Assigned Submissions below, with the most recent submissions first.

Non-editors wouldn't see any Unassigned Submissions, so the grid would just display their authored and assigned.

That's

[2016-10-24 11:48] NateWr commented on #1859
Tests running.

This required that I dip into the authorization setup a little bit, so I'd appreciate a close look at this. Particularly [this](https://github.com/pkp/pkp-lib/pull/1914/commits/bfee4030a7404b3d55c4d4416f9381131701233a#diff-fb4ac974ab13c9d87aaa2a0dfa9766e4L25).

Also, the changes to [SiteSetupForm.inc.php](https://github.com/pkp/pkp-lib/pull/1914/commits/bfee4030a7404b3d55c4d4416f93

[2016-10-24 12:01] #1894 closed

[2016-10-24 12:31] ctgraham commented on #1905
My reading is that we would actually want to go the other way, if we changed this.  The `time()` / `UPDATE` check operates like this:
* update the last runtime to now
** if no update occurred (another process update now as well, no DB rows changed), flag concurrency
** if an update occurred, proceed with the scheduled task.

The lower the resolution on the time, the better chance of catching concu

[2016-10-24 13:19] NateWr commented on #1787
PR: https://github.com/pkp/pkp-lib/pull/1915

Tests running at: https://github.com/pkp/ojs/pull/1074

[2016-10-24 13:44] NateWr commented on #1892
Correct me if I'm wrong, but once public access is cut off, the ability to register will be moot. No one will be able to access the registration form to sign up.

[2016-10-24 15:02] NateWr commented on #592
PRs:
https://github.com/pkp/pkp-lib/pull/1916
https://github.com/pkp/ojs/pull/1075

Tests running.

This takes a pretty low-level approach to completely removing the visibility of disabled journals. Requests to `/index.php/single` will result in a 404 response to any logged-out users. The site index is still available for logging in.

[2016-10-24 15:07] crism commented on #1910
@bozana, I think so.

[2016-10-24 15:08] NateWr commented on #1859
Tests passed!

[2016-10-24 15:08] crism commented on #1892
@NateWr, I assumed that a lack of a public listing would mean that the journal could still be visited directly by those that knew the correct URL. That would allow the editors to begin configuring the journal before letting the public see it.

[2016-10-24 15:35] NateWr commented on #1892
@crism I'm a little uncomfortable leaving a site available when the checkbox suggests it's not publicly available. To me that means more than just not-linked-directly-to.

Logged-in users (Editors, Managers, etc) should still be able to visit the journal for configuration. And new users can be registered from the Users panel in the admin area.

[2016-10-24 15:46] ctgraham commented on #1905
There is also a flaw in that the `ScheduledTaskTool` (from CLI) updates the last runtime only after task completion (without consideration for the success or failure of the task).  See: https://github.com/pkp/pkp-lib/blob/ojs-stable-2_4_8/classes/cliTool/ScheduledTaskTool.inc.php#L112-L113

As it stands, if Acron was enabled and CLI work was being done by cron or interactively, Acron could run ove

[2016-10-24 16:12] NateWr commented on #1772
I looked at this today. Since we've been attaching the visual required indicator to labels rather than fields, for the most part we don't have the required flag set up properly when defining fields in most of our forms.

A quick estimate looks like 70-100 instances of this would need `required=true` flags added to the form field calls in template files.

Depending on how you want to handle this, I

[2016-10-24 16:18] Marg0lin opened #1918 "[OJS] 2.4.8 Fatal Error while sending Editor’s comment to an Author"
While trying to send Editor's Decision about declining review (a feature located in Home > User > Editor > Submissions > #review_number > Review > Editor's Decision > Notify Author) there is an error `PHP Fatal error: Call to a member function getEmail() on a non-object in /home/path/to/ojs_instance/classes/submission/sectionEditor/SectionEditorAction.inc.php` on line 2056" [code on line 2056 is `

[2016-10-24 16:49] NateWr commented on #1856
@asmecher I spent some time looking into this today, but I'm not sure I understand the problem well enough to propose a good solution.

As I understand it, older versions of PostgreSQL won't `GROUP BY` a single column from the query. Newer versions should be able to do it on a Primary Key (which is what's being done here), but older versions won't know which row to pluck out.

Some people have sug

[2016-10-24 16:52] NateWr commented on #1867
@asmecher Is this maybe just a mis-phrased label? Is the functionality intended to keep the person logged in, or actually store their login details in a cookie and fill it out for them?

[2016-10-24 19:10] mtub commented on #1906
Hey @NateWr, thanks for looking into this. Regarding our translator - why don't we ask him ;) @vormia, how do you feel about the sidebar?

[2016-10-24 19:40] kardeiz opened #1919 "[OJS] justboil.me image uploader doesn't work when `public/site` does not exist"
The justboil.me image uploader hangs at `Upload in progress` when `public/site` does not exist.

This issue occurs even when apache/HTTPD has write permissions on `public`.

Creating `public/site` and granting write permissions to apache resolves the issue.

[2016-10-25 08:29] Ph-We commented on #1709
Hi @bozana,

This is quite important too. There seem to be no element for keywords. Could you confirm?

[2016-10-25 12:58] wolass opened #1920 "problem rendering glyphicons in ojs 3.0.0"
I have a strange problem and do not know if this is a bug or settings problem:

the glyphicons are sometimes rendering correctly and sometimes not. It depends on:
1. the computer I use (I always use the latest chrome browser but on either windows or linux)
2. The address eithe npwtj.com or www.npwtj.com bot there are no rules - If it does not work on one then it works on the other.
3. Even if they

[2016-10-25 13:08] ctgraham commented on #1920
This is very likely a configuration issue (c.f. the browser warning "`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://npwtj.com/lib/pkp/fonts/fontawesome/fontawesome-webfont.woff2?v=4.3.0. (Reason: CORS header 'Access-Control-Allow-Origin' missing).`").  Can you repost this in the [support forum](http://forum.pkp.sfu.ca/) instead?

[2016-10-25 20:30] pkel opened #1921 "Upgrade to 3.0.0: pkey violation on review_rounds"
Hello,

I am trying to upgrade an ojs 2.4.8 installation to 3.0.0. The upgrade process produces the following output:

[code]

The problem is that the entries are not unique at all regarding submission_id, stage_id and round.

[code]

Am I right that the last output reveals some severe misshape in my review_rounds table? What went wrong and how can I fix this?

Thanks in advance,
Patrik

[2016-10-25 21:34] kardeiz commented on #1919
Now I'm so confused...

This worked (once) yesterday. I literally see a file I uploaded via TinyMCE/justboil.me under `public/site/images/<me>/`.

However, when I tried the exact same thing today, it hangs again. When I change the environment to `development` in `justboil.me/ci/index.php` (in order to get better errors), I see:

    PHP Fatal error:  Call to a member function getUserVar() on a non

[2016-10-25 21:52] kardeiz commented on #1919
Apparently this is still somehow connected to this: [https://pkp.sfu.ca/support/forum/viewtopic.php?t=8924](https://pkp.sfu.ca/support/forum/viewtopic.php?t=8924).

When I start a new session in incognito browsing, I can upload files correctly. I presume the same thing could be done by logging out, clearing cookies, and logging back in.

What is going on here?

[2016-10-26 02:51] vormia commented on #1906
Well, for web pages layout, it is accepted to have the sidebar on **both** sides. This is considered a matter of design, not related to the language scripting direction.

[2016-10-26 04:11] asmecher commented on #1903
@judgej, make sure you flush your data cache (e.g. `rm cache/*.php`) after making changes to the settings -- otherwise you'll probably only see the DB settings reflected in the settings area, otherwise it'll be fetched from cache files.

[2016-10-26 04:12] asmecher commented on #1913
@PedroSilvaNZ, is it possible that you're trying to run an upgrade on a copy of your database that has already experienced a failed upgrade?

[2016-10-26 04:15] PedroSilvaNZ commented on #1913
Hi @asmecher,
That is possible yes. I have experiences several errors while updating the database, and I've been working through those. However, I'm unsure what is this error about.
Thanks,
Pedro.-

[2016-10-26 04:22] #1920 closed

[2016-10-26 04:25] asmecher commented on #1913
@PedroSilvaNZ, one of the last steps the upgrade process tries to accomplish is enabling the default theme. It looks like it's trying to do that on an installation that has already had this step performed, hence I suspect the upgrade has already (at least partially) been run. Make sure you're running the upgrade on a copy of 2.x that has never been partially upgraded, restoring from backup if nece

[2016-10-26 04:27] PedroSilvaNZ commented on #1913
Hi,
Thanks for the prompt reply. What if that is not an option? How do a fix it?
Thanks,
Pedro.-

[2016-10-26 04:27] asmecher commented on #1867
@NateWr, I haven't tested the feature myself, but my understanding is that it should give the session cookie longer-lived characteristics.

[2016-10-26 04:29] asmecher commented on #1910
Doing so, thanks all!

[2016-10-26 04:29] #1910 closed

[2016-10-26 04:31] asmecher commented on #1913
Do you mean that you don't have a backup previous to attempting an upgrade? If so, you can at least bypass the immediate problem by removing or commenting out the lines that enable the default theme plugin in `dbscripts/xml/upgrade/3.0.0_update.xml` -- but your database will be in an indeterminate state somewhere between the two releases and without any information on how it got there it'll be imp

[2016-10-26 08:04] pkel commented on #1921
I fixed this by dropping all duplicates. The upgrade ran through but I am not sure if my fix is harmless or not.

Perhaps the duplicates were generated by a faulty migration script on our side. If you can rule out misbehaviour of ojs htis can be closed.

[2016-10-26 11:00] judgej commented on #1903
Ooh. Is this a known issue that needs fixing?

[2016-10-26 17:31] asmecher commented on #1919
@kardeiz, can you reliably reproduce the problem, i.e. is it always failing upon a second image upload?

[2016-10-26 17:53] asmecher commented on #1903
That's expected behavior for direct changes to the database -- I'm not sure how else we'd do it and still support file-based caching. When changing settings via the UI, the settings cache is automatically flushed, so you should only see this happening if you make direct changes to the database and don't flush.

[2016-10-26 17:58] kardeiz commented on #1919
Yes, I can reproduce the problem, although as I note above it appears to be cookie-related.

Steps to reproduce:

1. Delete the `public/site` folder if it exists (this folder does not exist in the OJS source download, and the justboil.me integration doesn't seem capable of creating it).
2. As a logged in user, try to upload a file (e.g., from the abstract field of a submission). `/plugins/generic/

[2016-10-26 18:11] asmecher commented on #1919
Thanks, @kardeiz. @bozana, would you mind taking a look at this? I suspect it's related to the way we've tried to wrap the OJS session up with JBImages.

For the record, I'm not hugely fond of the way we've been integrating image uploads, so broader thinking is totally welcome here.

[2016-10-26 18:51] judgej commented on #1903
I misunderstood. I thought you meant the cache had to be manually flushed no matter how the settings were changed. You meant that me updating the database directly was not having any effect because the front end and the admin pages were looking at the cached data and bypassing the database.

[2016-10-26 19:30] asmecher commented on #1903
Yep -- sorry, I could initially have been clearer.

[2016-10-26 19:55] asmecher opened #1922 "Add support for catalog paging"
See http://forum.pkp.sfu.ca/t/omp-1-2-0-0-catalog-paging/23223.

(Not sure if this is still an issue, though I suspect it is -- @NateWr?)

[2016-10-26 22:36] bozana commented on #1919
I will take a look, it could just take some time -- probably in the next week, because traveling... :-(

[2016-10-27 00:56] asmecher commented on #1921
@pkel, I suspect it's the difference between 1769 and 1787 that's causing the problem. Could you take a look at those 18 records?

[2016-10-27 16:24] pkel commented on #1921
@asmecher, I have some details now.
First thing to observe is that there are 1769 submissions with review in our system. Few submissions had multiple review rounds. The number of second/third/... rounds is 18, which sounds valid. This explains the output of the two first commands.

Problematic is that we have **>30000** entries differing only by `review_round_id` and thus containing not much infor

[2016-10-27 17:03] asmecher commented on #1921
Hmm, >30k entries differing only by `review_round_id` definitely sounds like a data problem to me. We haven't tested migrations on a particularly large scale (probably 10-20 with a decently wide variety of data histories), but I haven't encountered that yet. I suspect you're running into something particular; I'll definitely keep an eye out for it to appear elsewhere in the ecosystem.

[2016-10-27 17:57] ctgraham commented on #1451
I can be assigned this issue.

[2016-10-27 18:14] ctgraham opened #1923 "Clarify the implementation of "Site" plugins"
In OJS master (with a nod to OMP master as well):

Currently we have a hard distinction between "Site Plugins" and "not Site Plugins" via [`Plugin::isSitePlugin()`](https://github.com/pkp/pkp-lib/blob/ab50354a5e20be89521582a8c6e3ec98a5342467/classes/plugins/Plugin.inc.php#L159-L166) but this could be enhanced:

- (from @ctgraham) I want to provide site-level plugin settings which could be overridd

[2016-10-27 18:51] mtub commented on #1451
This will be so good to have…

[2016-10-27 19:09] pkel opened #1924 "Upgrade to 3.0.0: Filename migration"
Since #1921 doesn't interrupt the migration anymore, we now can take a look at several warnings which were produced later in the process.

Type one happens 3420 times:

[code]

1958 out of this contain `??.gz`. Since the corresponding files are not abscent and end in `tar.gz` I assume that the matching expression in not ready for extensions containing a dot. A similar thing happens on `??.r` were

[2016-10-27 21:02] pkel commented on #1924
Upgrade finished. In [this archive](https://github.com/pkp/pkp-lib/files/557025/i1924.tar.gz) you will find
 * output of `upgrade.php upgrade`
 * output of `find` on files folder before and after the upgrade
 * article_files table as sql and human readable from before upgrade

Watching the process, I recognized two more types of messages, but they happen less often.
[code]

[2016-10-28 07:06] Ph-We commented on #1807
Hi! I would also like to add Roles titles to this. Since those are displayed on pages and depend on language too. See here: http://forum.pkp.sfu.ca/t/ojs3-user-roles/23372

[2016-10-28 15:57] asmecher commented on #1807
@Ph-We, just glancing quickly over the code, role names should already be localized. Perhaps it's a minor bug rather than a missing feature?

[2016-10-28 18:23] ctgraham commented on #1893
Why is this not already handled by:
https://github.com/pkp/pkp-lib/blob/da97460d0fa86b09b07f232e5f188caeb704579b/classes/core/PKPString.inc.php#L439-L454
?

[2016-10-28 18:31] ctgraham opened #1925 "PKPString::mime_content_type() should fall back on mime_content_type when fileinfo is unavailable"
In OJS 2.4.x, we used to default to `mime_content_type()`, then to `file_info`, then to a system `file` call.
https://github.com/pkp/pkp-lib/blob/ojs-stable-2_4_8/classes/core/String.inc.php#L376-L402

In master, we now go directly for `Fileinfo` with fallback only to `file`.  There was a brief time in the PHP documentation when `mime_content_type()` was [mistakenly marked as deprecated](https://b

[2016-10-28 19:03] ctgraham commented on #1893
It's not already handled because the `finfo_open` check exits early.
https://github.com/pkp/pkp-lib/blob/da97460d0fa86b09b07f232e5f188caeb704579b/classes/core/PKPString.inc.php#L422

[2016-10-28 19:03] asmecher commented on #1893
Good spotting, @ctgraham, I'd forgotten about that code. There were two bugs in it:

- The `finfo` suite being present would result in a return from the function before the work-arounds were applied
- The `mime_content_type` function was being called using a server-side temporary filename, which doesn't include an extension

I've fixed both issues and reverted the `FileManager`-based work-around t

[2016-10-28 19:06] ctgraham commented on #1893
Are you also adding the call to [PHP's `mime_content_type` back in](https://github.com/pkp/pkp-lib/issues/1925)?  If not, I'll make a separate pull for this.

[2016-10-28 19:06] asmecher commented on #1925
I did indeed remove `mime_content_type` based on its deprecated status. Argh. I would still suggest keeping `Fileinfo` tools as the first option.

[2016-10-28 19:06] asmecher commented on #1893
@ctgraham, please go ahead!

[2016-10-28 19:07] ctgraham commented on #1925
Agreed.  Fall through as `Fileinfo` -> `mime_content_type` -> `file`.

[2016-10-28 19:10] asmecher commented on #1893
(Sorry for stepping on your toes!)

[2016-10-28 19:11] ctgraham commented on #1893
We're just fixing the problems together separately.

[2016-10-28 19:17] ctgraham commented on #1925
Why didn't this issue get an automatic "@ctgraham referenced this issue in a commit" for https://github.com/ulsdevteam/pkp-lib/commit/702de1e865c0d9c946b6fade20d0390764598290 ?

[2016-10-28 19:25] #1925 closed

[2016-10-28 19:26] asmecher commented on #1925
It did -- maybe after you checked?

Anyway, thanks! Merged and cherry-picked around.

[2016-10-28 21:27] asmecher opened #1927 "Fix keyword input attempted autosuggest"
The list of available keywords is a `NULL`, which gets passed into `json_encode`, when the JS side expects an array (even if empty). See: http://forum.pkp.sfu.ca/t/typing-keywords-cause-spinner-to-spin-forever/23220

[2016-10-28 21:30] asmecher commented on #1927
Merged & ported around.

[2016-10-28 21:30] #1927 closed

[2016-10-28 21:31] asmecher opened #1928 "Submission process autocompletes supply no data"
None of the submission area keyword inputs (e.g. 'keywords') have working autocompletes. (Do we really want these to run based on rando data?)

[2016-10-28 21:31] #1928 closed

[2016-10-28 21:31] asmecher commented on #1927
See also: https://github.com/pkp/pkp-lib/issues/1928

[2016-10-28 21:48] asmecher commented on #1918
I think this was already resolved [on our forum](http://forum.pkp.sfu.ca/t/fatal-error-while-sending-editors-comment-to-author/23236). You can use either way to reach us -- the forum is slightly better -- but either way, please stick with one venue.

[2016-10-28 21:48] #1918 closed

[2016-10-28 21:50] asmecher commented on #1787
Merged and cherry-picked over to `ojs-stable-3_0_0`, thanks!

[2016-10-28 21:50] #1787 closed

[2016-10-28 22:01] asmecher commented on #592
@bozana, would you mind taking a look at this?

[2016-10-28 22:05] asmecher commented on #1868
Careful what you ask for, @NateWr -- this is yours to review! :)

[2016-10-28 22:12] asmecher commented on #1923
(Throwing at 3.0.2 for no particular reason)

[2016-10-28 23:48] asmecher commented on #1924
Thanks for all the details, @pkel. Suggested approach: rather than constructing an OJS 2.x-style pattern from scratch, which currently can't handle double-barreled file extensions like `.tar.gz`, make use of the `file_name` column of the `article_files_migration` table, which (during the upgrade process) stores a copy of the contents of `article_files` from 2.x before being dropped at the end of t

[2016-10-29 00:16] asmecher commented on #1861
Related tables: `users`; `user_interests`; `controlled_vocab_entries`; `controlled_vocab_entry_settings`.

[2016-10-29 08:38] Ph-We commented on #1807
@asmecher, thank you! Yes, now I've found what caused Roles not being localized. Sorry, my bad.

[2016-10-29 20:21] asmecher commented on #1807
@Ph-We, no problem!

[2016-10-31 09:43] NateWr commented on #1906
Shukron ya @vormia!

I guess I'm wondering what the most common implementation is. For instance, for English language websites and most left-to-right languages, it's become more common to put the main content on the left and a sidebar on the right, since the user naturally looks to the top left of the page. Do you feel it's more common in Arabic to see the main content on the right?

[2016-10-31 09:50] bozana opened #1929 "locale key parameter missing"
the `$articleId` and `$submissionId` parameters are missing for these locale keys: `log.author.submitted` (classes/author/form/submit/AuthorSubmitStep5Form.inc.php) and `log.editor.archived` (in classes/submission/sectionEditor/SectionEditorAction.inc.php)
(These keys are not used any more in OJS 3).

[2016-10-31 10:00] NateWr opened #1930 "Include article prefix on article details page"
See: http://forum.pkp.sfu.ca/t/prefix-of-title-does-not-appear-in-issue/23206/6

Currently the templates output `$article->getLocalizedTitle()`, but this doesn't include the prefix. There is `$article->getLocalizedFullTitle()`, which includes the prefix. But it also includes the subtitle, which we don't want in most cases.

Either create a new method, `getLocalizedPrefixedTitle()`, or update the t

[2016-10-31 11:55] bozana commented on #592
@NateWr, maybe one more point/checkbox could be added to this issue: what about the option "Which journals on this site would you like to register with?" on the registration page?

[2016-10-31 12:19] alireza08 commented on #1929
Hi,
I corrected these two variables.

**AuthorSubmitStep5Form.inc.php**
[code]

**SectionEditorAction.inc.php**
[code]

[2016-10-31 12:20] bozana opened #1931 "signoffs migration"
These few issues exist when migrating SIGNOFF_PROOFING from OMP 1.1 to OMP 1.2:
- The SIGNOFF_PROOFING entries are moved to the DB table queries with the wrong assoc_type: assoc type = 521 = ASSOC_TYPE_REPRESENTATION is wrong, it should be 1048585 = ASSOC_TYPE_SUBMISSION, in order to be visible in the production discussions list. Thereby the assoc_id and seq have to be considered too.
- The public

[2016-10-31 15:32] bozana commented on #1931
@asmecher, should I then also try to correct the second point above for the OMP 1.2 installations i.e. those that already upgraded from 1.1 to 1.2? If so, how to best proceed with it -- how to return the files with assoc_type = 520 = ASSOC_TYPE_NOTE to have assoc_type = 521 = ASSOC_TYPE_REPRESENTATION i.e. how could I exactly know what files are publication format files and what are notes files? C

[2016-10-31 18:51] bozana commented on #1931
@asmecher, I've just realized that the logic from my last comment here (to look at those 3 DB columns to repair the files in the OMP 1.2 installations that already upgraded from 1.1) is not sufficient -- files could be uploaded as publication format files, but still not be approved and without terms set i.e. without data in those 3 columns. Thus, we cannot reconstruct the data totally. Furthermore

[2016-10-31 21:33] asmecher opened #1932 "Investigate upgrade of submission note files"
See http://forum.pkp.sfu.ca/t/submission-notes-and-upgrading-to-ojs3-note-files-lost/23374 for details.

[2016-10-31 22:26] asmecher commented on #1709
@bozana, does this have compatibility-breaking potential? If so, don't back-port to `omp-stable-1_2_0`, just to `omp-dev-1_2`. If it's just bugfixes and new capabilities, then it's good to back-port to `omp-stable-1_2_0` too. Thanks!

[2016-10-31 22:56] asmecher commented on #1907
Closing!

[2016-10-31 22:56] #1907 closed

[2016-10-31 23:04] asmecher commented on #1837
@ptrckb, at a glance, I'm not sure the recaptcha library we're using supports the `proxy` option you've described. Is this documented somewhere?

[2016-10-31 23:10] asmecher commented on #1930
We're pretty much chucking them together -- though there are a few hard-coded rules (see PKPString::concatTitleFields). I don't know enough about rules for this in other languages to have much of a suggestion for how to improve it.

[2016-11-01 03:10] asmecher commented on #1885
Fingers crossed, this may be fixed.

[2016-11-01 03:10] #1885 closed

[2016-11-01 11:06] bozana commented on #1931
PRs:
master: https://github.com/pkp/omp/pull/341

@asmecher, could you take a look at this PR?

[2016-11-01 11:35] NateWr commented on #592
Ok, I've rebased the PRs and added one for OMP. Tests are re-running.

I checked the journalists listed for registration on the site index registration page and disabled journals are already excluded. Good thinking! :+1:

[2016-11-01 12:11] bozana commented on #1929
PRs:
ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1076
ojs-dev-2_4: https://github.com/pkp/ojs/pull/1077

[2016-11-01 12:28] bozana commented on #1892
@NateWr solved the issue https://github.com/pkp/pkp-lib/issues/592, but this still have to be solved: when trying to register on an installation with no public journals, the user get the error: "At least one role must be selected.". Should the registration option be disabled in the case when there is no public journal there?

[2016-11-01 12:29] bozana commented on #592
Great @NateWr! Everything merged. Can this issue now be closed? THANKS!

[2016-11-01 12:34] bozana commented on #1827
@asmecher, I think the plugin is finished. Should the plugin be a PKP repository and be integrated as such/submodule? Or what would be the next steps?

[2016-11-01 12:37] #1929 closed

[2016-11-01 12:43] bozana commented on #592
Or should it be cherry-picked to ojs-stable-3_0_0, omp_dev_1_2 and omp-stable_1_2_0?

[2016-11-01 12:47] bozana opened #1933 "Article galleys metrics migration from 2.4.x to 3.0"
From the issue https://github.com/pkp/pkp-lib/issues/1840

From this issue comment https://github.com/pkp/pkp-lib/issues/1314#issuecomment-253970656:

Thus, the ASSOC_TYPE_REPRESENTATION should be accordingly replaced by ASSOC_TYPE_SUBMISSION_FILE, if they are not remote galleys. Remote galleys are not tracked and counted any more, but they can remain in the DB as ASSOC_TYPE_REPRESENTATIONs.

[2016-11-01 12:51] bozana opened #1934 "Localize issue and article cover images"
The issue cover images are not localized any more in OJS 3.0, which is a problem for journals migrating from 2.4.x, s. for example http://forum.pkp.sfu.ca/t/update-to-ojs-3-failed/21564. Thus the issue cover images should be saved localized again.
The same guilt for article cover images.
The monograph cover images are not localized. If necessary, this can be changed later, as a separate issue.

[2016-11-01 13:00] NateWr commented on #592
To be honest, I'm not really sure what should and shouldn't be merged to those branches. Are they getting all new features for the time being?

[2016-11-01 14:14] NateWr commented on #1765
I've updated all references to "left" sidebar with just "sidebar". I figure we can treat this as "primary" sidebar, and any future sidebars we may implement (article pages, footers), can be named specifically like `SIDEBAR_FOOTER`. I also removed all of the outdated strings from the locale files.

PRs:
https://github.com/pkp/pkp-lib/pull/1935
https://github.com/pkp/ojs/pull/1078
https://github.com

[2016-11-01 14:51] NateWr commented on #1762
PRs (tests running):
https://github.com/pkp/pkp-lib/pull/1936
https://github.com/pkp/ojs/pull/1079
https://github.com/pkp/omp/pull/344

[2016-11-01 15:12] NateWr commented on #1867
I tested and the cookie does last longer, over 30 days, if you check the box. If you don't, the cookie expires when the browser closes.

I'd recommend just re-wording it to "Keep me logged in". Sound good? Should I rename locale string key and invalidate existing translations too?

[2016-11-01 15:22] NateWr commented on #1930
@asmecher I looked at this quickly today. There are a _lot_ of places using `$article->getLocalizedTitle()` where they would probably expect the prefix. That seems like the most common and intuitive use of the method.

What do you think about modifying this method to include the prefix by default, and then adding a param to exclude the prefix. We can then just update those few instances (like, I p