[2017-07-13 16:29] asmecher commented on #2642
Patches to apply to resolve this in OJS 3.0.2 (both in the `lib/pkp` subdirectory):

- https://github.com/pkp/pkp-lib/commit/0fc7da3d0625ff429185368c663a9278692545cb
- https://github.com/pkp/pkp-lib/commit/5c0249dc0ad9a3f1bed41ebee8d1a9ac277517a1

[2017-07-13 16:29] #2642 closed

[2017-07-13 16:35] asmecher commented on #1762
@amandasramalho, if you're not sure where to post a question/issue, try starting with the support forum: http://forum.pkp.sfu.ca/

[2017-07-14 08:39] atishagrawal opened #2643 "Facing issues while installing"
**Warning: require(./lib/pkp/includes/bootstrap.inc.php): failed to open stream: No such file or directory in C:\wamp64\www\ojs\index.php on line 65**

I am seeing this error when I try to install the project

[2017-07-14 15:43] asmecher commented on #2643
@atishagrawal, what version of OJS are you working with? Are you installing from a `.tar.gz` file, or from Github?

[2017-07-14 17:08] asmecher opened #2644 "QuickSubmit plugin abstract requirement status check should depend on section"
See http://forum.pkp.sfu.ca/t/ojs-3-0-2-quicksubmit-plugin-problems-with-abstract-and-keywords/32195 for details.

[2017-07-14 17:09] asmecher opened #2645 "Errors in QuickSubmit form entry require re-entry of keywords"
See http://forum.pkp.sfu.ca/t/ojs-3-0-2-quicksubmit-plugin-problems-with-abstract-and-keywords/32195 for details.

[2017-07-14 18:14] asmecher opened #2646 "Journals without available sections for submission should present "not accepting" message"
See http://forum.pkp.sfu.ca/t/ojs-3-0-2-message-key-not-displayed-this-journal-is-not-accepting-submissions-at-this-time/32141 for details.

[2017-07-14 18:15] #2646 closed

[2017-07-14 19:32] asmecher commented on #2629
I think this is an accidental partial dupe of https://github.com/pkp/pkp-lib/issues/2630.

[2017-07-14 19:32] #2629 closed

[2017-07-14 19:42] #2631 closed

[2017-07-14 19:52] asmecher commented on #2563
(also see, from deep in the crypt, https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=6759)

[2017-07-14 19:55] crism commented on #1963
And the next challenge… in 2._x_, [`Validation::login()`](https://github.com/pkp/ojs/blob/ojs-2_4_8-2/classes/security/Validation.inc.php#L23-L120) called the `ImplicitAuthPlugin::implicitAuth` hook with an unset user; the Shibboleth plugin would set the user (or not) and return. I don’t want to reimplement all of the new `Validation::login()`—seems inappropriate, not to mention annoying.

@asmech

[2017-07-14 20:08] ctgraham commented on #1963
You make a user legit by directly interacting with the [`SessionManager`](https://github.com/pkp/pkp-lib/blob/3bbe4f146f3e264b070101cb1cd3c3bbbc5c1135/classes/session/SessionManager.inc.php) and [`Session`](https://github.com/pkp/pkp-lib/blob/3bbe4f146f3e264b070101cb1cd3c3bbbc5c1135/classes/session/Session.inc.php) to [`Session::setUserId()`](https://github.com/pkp/pkp-lib/blob/3bbe4f146f3e264b070

[2017-07-15 17:36] SSPJ opened #2647 "[OJS] Skips upgrade xml file then complains"
Going from 2.4 to 3.0.2, it first says

[code]

Then fails on `DB Error: Unknown column 's.comments_to_ed' in 'field list'` :

[code]

Tracking down `s.comments_to_ed` I see that it is created in 3.0.0_preupdate_commentsToEditor.xml. . . which was skipped.

---

I have already made two modifications to xml files to get this far.

1. CREATE TABLE . . . AS does not work with GTID so rewrote them as

[2017-07-17 08:08] Vitaliy-1 commented on #699
Hi again, @asmecher

It's not easy without much experience in programming to read and understand others` code. But I know that you haven't got much time for writing the code for others.

After browsing classes I found `PKPPageRouter` class and its method `route` https://github.com/pkp/pkp-lib/blob/master/classes/core/PKPPageRouter.inc.php#L146
Suppose it picks up entered by user url and associates

[2017-07-17 09:23] bozana commented on #2640
@asmecher, could you take a look at this PR?

[2017-07-17 09:38] bozana commented on #2647
Hi @SSPJ, Hmmm... this should actually not happen... :-\
Here, the table articles is renamed into submissions: https://github.com/pkp/ojs/blob/ojs-stable-3_0_2/dbscripts/xml/upgrade/3.0.0_preupdate.xml#L52, called here: https://github.com/pkp/ojs/blob/ojs-stable-3_0_2/dbscripts/xml/upgrade.xml#L29.
Thus, 3.0.0_preupdate_commentsToEditor.xml should not be skipped here: https://github.com/pkp/ojs/bl

[2017-07-17 12:45] bozana opened #2648 "the revision node grouping for supplementary files in native export"
the grouping of revision nodes in native export does not work correctly for supplementary files:
supplementary files contain the submission_files, but also other elements, s. https://github.com/pkp/ojs/blob/master/plugins/importexport/native/native.xsd#L78-L95.
the revisions are appended to the submission and supplementary file element, s. https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_2/plugi

[2017-07-17 13:11] bozana commented on #2648
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2649
ojs master: https://github.com/pkp/ojs/pull/1453 (ONLY submodule update)

[2017-07-17 13:12] bozana commented on #2648
@asmecher, could you take the pkp-lib PR above? ojs PR is only the submodule update.

[2017-07-17 16:14] NateWr commented on #2178
@defstat The outline looks good. I haven't had a chance to give it a test drive yet but it sounds like you've covered just about everything. A couple initial thoughts:

1. Move the NavigationMenuItem title to the assignments database. That way a menu item can have a different title for each menu it's assigned to. (For instance, I might want it to be "Past Issues" in one menu and "Archive" in anoth

[2017-07-17 16:23] Vitaliy-1 commented on #699
Another approach, that I found, is to modify `initialize` function inside `ArticleHandler` class. As an quick example, with what planning to work:

function initialize($request, $args) {
	    if ($args[0] == "uk_UA") {
            $articleId = isset($args[1]) ? $args[1] : 0;
            $galleyId = isset($args[2]) ? $args[2] : 0;
            $request->getSession()->setSessionVar("currentLocale", "

[2017-07-17 17:33] asmecher commented on #699
@Vitaliy-1, my worry is about ambiguity in URLs. If I'm reading correctly, this would result "equivalent" URLs like...

- `.../article/view/uk_UA/smecher17/pdf`
- `.../article/view/smecher17/pdf`

However, that last one could be read two ways: a galley view with article ID "smecher17", galley ID "pdf", or an article view with locale "smecher17" and article ID "pdf". We can code around it here but

[2017-07-17 19:24] ctgraham opened #2650 "Native import dies if presented with a duplicate submission file revision"
If the native XML import is given a duplicate `submission_file@id` with a duplicate `submission_file/revision@number`, the code will fail hard with a database error when attempting to insert the duplicate record into the database.

This code does not prevent the duplicate insert:
https://github.com/pkp/pkp-lib/blob/73c20a0ca8eed64c3daeb45a01f0debb74b01c00/plugins/importexport/native/filter/NativeX

[2017-07-17 21:14] #2650 closed

[2017-07-17 21:14] asmecher commented on #2650
Merged, thanks!

[2017-07-17 21:40] asmecher commented on #2648
I haven't tested this, but it looks good. Please go ahead!

[2017-07-17 21:41] asmecher commented on #2640
Good catch! Please go ahead. (Does this need porting to OMP?)

[2017-07-18 04:44] asmecher opened #2653 "Fix Travis testing"
- Need to update to "trusty" before precise is retired
- Investigate/fix weird MySQL performance issues
- Resolve mixed PHP version execution (5.3 for fcgi binary; whatever for CLI/phpUnit)

[2017-07-18 12:12] ptrckb opened #2655 "[OJS] Alternate mail template for subsequent review request not selected"
OJS 2.4 used to switch to different template for review requests depending on review round. It does not work anymore with OJS 3. Instead the same template is selected with no mention of the new version.

[2017-07-18 12:45] NateWr commented on #2178
@defstat Ok I've taken a look and done a pass on the code review. It's all shaping up really nice and has turned into quite a lot of work I can see. I'm going to throw you another curveball regarding the default types.

I had imagined each menu item type being a selectable option for a menu item, with the custom page content just one type among several built into the app. Here's a quick mockup:

!

[2017-07-18 14:07] ptrckb commented on #2655
Similar to http://forum.pkp.sfu.ca/t/review-request-subsequent-mails-not-doing/32102

[2017-07-18 16:02] RahulChakravarthy commented on #2637
Hello @MarHerUMR

Whenever you get the time, is it possible for you to attach the icon svgs in this thread. I believe I have located where the width tag must be adjusted to 80px and I just need to test it with your svgs.

Thanks
Rahul

[2017-07-18 17:58] crism commented on #1963
OK! This now executes a successful login by UIN or e-mail address. Still needs to register a new user and hijack all the login affordances, plus I want to play with the implications of site-wide settings a bit.

[2017-07-18 20:24] RahulChakravarthy commented on #2592
Hi @NateWr
Just wanted to confirm something are you referring to this compiled css file as seen in the screenshot or a different one.

![selection_039](https://user-images.githubusercontent.com/25262322/28337996-6887f93c-6bd5-11e7-870b-007f7dc2a979.png)

Thanks,
Rahul

[2017-07-18 20:48] crism commented on #1963
New user registration tested and confirmed.

[2017-07-19 04:38] asmecher opened #2657 "Citation formats can't be fetched with path_info_disabled"
See https://forum.pkp.sfu.ca/t/the-requested-citation-format-could-not-be-retrieved/31384.

The problem is https://github.com/pkp/ojs/blob/ojs-3_0_2-0/templates/frontend/objects/article_details.tpl#L257, where the extra piece of the path is manually appended to the URL. URLs should only be built with the `{url ...}` Smarty function.

[2017-07-19 08:33] atarix83 commented on #2634
Hi @bozana

I know that the issue is closed, but I think that I've found what cause my problem.
Practically the event for the download of the pdf it's not logged when you click on download link in the article page.
This doesn't cause an issue with browser like chrome or edge which can show pdf in the article page (with browser plugin) and this generate a download entry log. But with firefox which

[2017-07-19 10:20] MarHerUMR commented on #2637
Sure. Here they are: [svg.zip](https://github.com/pkp/pkp-lib/files/1158776/svg.zip)

[2017-07-19 10:46] bozana commented on #2634
Hi @atarix83
Do you mean that there is no log entry when you click on the link "Download this PDF file" on the article view page?
Or do you mean there is no log entry when you visit the article view page?

[2017-07-19 10:47] NateWr commented on #2657
This should be addressed by the switch to CSL in #723. Once the API is in I'll create an endpoint to deliver the citation. But in the meantime I'm using the `{url... }` smarty function and appending `&return=json` to the end of that URL, which if I understand the problem should work with `path_info_disabled`.

[2017-07-19 10:49] atarix83 commented on #2634
@bozana
yes when I click the link I have no entry log

[2017-07-19 11:53] bozana commented on #2634
Hmmm... This is strange -- for me, locally, there is a log entry... -- I'll take another look...
Have you maybe change anything in OJS code?

[2017-07-19 12:30] atarix83 commented on #2634
yes I've done some customization, but I don't think they should be affect this problem.

If can be useful in my debug session I've found that when I click on pdf download link at [this line](https://github.com/pkp/ojs/blob/91d7c72df58c7410806f1009d3ffd82f21a63574/plugins/generic/usageEvent/UsageEventPlugin.inc.php#L223) $args[2] is undefined, while when visit article page is properly setted

[2017-07-19 15:34] NateWr commented on #2637
The PR (https://github.com/pkp/ojs/pull/1457) looks good. Yes, I think these should probably go into `pkp-lib` and the change should happen in OMP as well (not sure if you've tinkered with that at all).

When you make that change, can you issue PRs against the `master` branch as well, so we have this change going forward? Usual practice is to do the initial work against `master`, and then cherry-p

[2017-07-19 15:37] Vitaliy-1 commented on #699
Greetings @asmecher

While writing the code I have encountered a problem with language toggle. As an example of changing locale:

`$_SESSION["currentLocale"] = "en_US";`
or
`$request->getSession()->setSessionVar("currentLocale", "en_US");`

The lines above are changing actual locale text only on any second request (but session locale is changing immediately).  Only way that I found includes:

` $r

[2017-07-19 15:50] bozana opened #2658 "Filter hook"
Add a hook for Filters, so that plugins can influence/change the exported data. For example, the funders plugin should be able to add xml elements to the Crossref xml export.

[2017-07-19 15:56] bozana commented on #2658
PR:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2659

[2017-07-19 15:56] bozana commented on #2658
@asmecher, may I add this hook?

[2017-07-19 16:56] asmecher opened #2660 "Permit HTTPS support in ORCIDs"
HTTPS URLs are now permitted (and encouraged!) in ORCIDs: https://orcid.org/trademark-and-id-display-guidelines.

(Migrated from earlier reverted change -- https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8963. The guidelines did not permit HTTPS at the time.)

[2017-07-19 17:15] asmecher commented on #2660
All of the attached patches are equivalent, just applied to different branches. Any one, applied in the lib/pkp subdirectory, will do.

[2017-07-19 17:15] #2660 closed

[2017-07-19 18:07] asmecher commented on #2657
Thanks, @NateWr -- would you mind dropping that change into the `ojs-stable-3_0_2` branch?

[2017-07-19 19:33] crism commented on #1963
Problem: `signOut()` redirects to the login page, which the Shibboleth plugin hijacks, logging the user right back in again. @asmecher, @ctgraham, what do you think? It seems to me that overriding `LoginHandler::signOut()` with a redirect to the context home page is the way to go.

[2017-07-19 23:20] asmecher commented on #2653
OJS testing is now fixed: https://travis-ci.org/pkp/ojs/builds/255457881

[2017-07-20 08:45] NateWr commented on #2657
Hmm, maybe this should be handled separately in `ojs-stable-3_0_2`, unless we want to backport the API, which doesn't seem appropriate for a stable branch.

[2017-07-20 09:17] defstat opened #2662 "{pluck_files} function called without required 'files' param"
When trying to go to the monograph's view page, an error occurs:

{pluck_files} function called without required `files` param. Called in \omp\lib\pkp\classes\template\PKPTemplateManager.inc.php:1493 error

The view page shows 'Array' in the place where the files supposed to be.

![untitled](https://user-images.githubusercontent.com/560456/28410114-52ee0a96-6d45-11e7-91cf-2729c98717e2.png)

[2017-07-20 09:22] NateWr commented on #2662
@defstat can you outline what files are added to your test monograph (and what galley types)? That will help us reproduce the issue when we get around to addressing it.

[2017-07-20 09:32] defstat commented on #2662
@NateWr something like that?

![untitled2](https://user-images.githubusercontent.com/560456/28410717-320cd832-6d47-11e7-8300-de10f2b2e4f1.png)

[2017-07-20 09:46] NateWr commented on #2662
That's helpful. When you upload the file, you shuold be selecting a "component type" or something like that. Can you indicate which types you've sleected for those two files?

[2017-07-20 09:52] defstat commented on #2662
If you are referring to 'submission component', the first was "Glossary" and the second is "Index"

[2017-07-20 12:11] ctgraham commented on #1963
"Log Off" isn't really relevant to Shibboleth, unless your IdP supports centralized logout and all SPs support logout callbacks.  I've not yet met an implementation which does; does yours?  My instinct would be to give an option to suppress the "Log Off" option by default.  If not suppressed, the plugin should require a URI for log off, overriding the normal signOut function as you suggest.

[2017-07-20 13:36] Vitaliy-1 commented on #699
Ahh, The problem can be managed by assigning values inside constructor of `SessionManager` class. Obviously session values can't be changed if already assigned, isn't it?

[2017-07-20 14:26] crism commented on #1963
I’m not entirely sure why I’d want to sign out of OJS with or without Shibboleth, honestly, but clearly someone wants to, maybe in a shared computer situation? Anyway, the plugin hijacks `signOut`, logs the user out of OJS (but not Shibboleth) and takes them to the current context home page. I didn’t consider logging out of Shibboleth, but that’s a possibility.

[2017-07-20 16:35] asmecher commented on #2657
Yes, agreed -- moving the extra piece into the `{url ...}` call should be a one-liner.

[2017-07-20 17:26] NateWr commented on #2615
One idea: turn the delete button into an "Archive" button. And show the "delete" button only for archived submissions.

[2017-07-20 17:30] emanuil-tolev commented on #2543
Apologies for the delay. Bulk endpoint processing time is now down by half, and your payload *may* work, but unfortunately it doesn't seem to do so consistently - how long it takes it depends on server load. If it's under heavy load, the web worker takes too long (despite the recent speedup) and is killed.

Now, I did mention an alternative:

Instead of submitting in batches of up to 1000, you jus

[2017-07-20 17:38] jmacgreg commented on #1076
Long obsolete.

[2017-07-20 17:38] #1076 closed

[2017-07-20 18:53] ctgraham opened #2663 "Deleting an issue where no custom issue ordering exists creates a random custom issue ordering"
See https://forum.pkp.sfu.ca/t/ojs-3-0-2-deleting-any-issue-shuffles-the-order-of-issues-in-the-archive/32263

To replicate:
* Create a number of issues without invoking custom ordering.  By default, issue publication date provides the sort.
* Delete any issue.

Expected result: issue ordering by publication date remains
Actual result: a custom issue order is created by default database seek order

[2017-07-21 06:54] mpbraendle commented on #390
You should also revisit the user table in lib/pkp/xml/schema/common.xml . E.g. a field length of 40 for salutation may be in several cases not enough (e.g. for professors with several lengthy titles).

[2017-07-21 17:09] asmecher commented on #2643
Closing for lack of feedback. @atishagrawal, the forum is probably a better place to start -- see https://forum.pkp.sfu.ca/.

[2017-07-21 17:09] #2643 closed

[2017-07-21 17:22] stranack opened #2665 "Author Confirmation Notice that Revised File Has Been Received"
A good suggestion from the forum. Revision handling was a priority for improvement in OJS 3 and this would be an additional enhancement. Well worth considering.

Once the author has uploaded the revised document under ‘revisions - upload review file - confirm’ and have clicked ‘complete’ the new revised file appears in the box but then the author is ‘left hanging’ - there’s no save/complete/ infor

[2017-07-21 17:24] asmecher commented on #2495
Seems to be resolved via update to Trusty image.

[2017-07-21 17:24] #2495 closed

[2017-07-21 17:25] asmecher commented on #2425
Closing (lack of feedback).

[2017-07-21 17:25] #2425 closed

[2017-07-21 17:26] alexxxmendonca commented on #2665
I agree with this. It happens to our authors as well.

Even a simple modal window with a confirmation text saying the the Editor has been informed would already be very helpful.

[2017-07-21 19:45] asmecher commented on #390
@mpbraendle, I've just extended those columns (this will take effect with the upgrade to the next release).

[2017-07-21 19:46] #2663 closed

[2017-07-21 19:47] asmecher commented on #2663
Merged -- thanks, @ctgraham!

[2017-07-21 19:49] asmecher commented on #699
@Vitaliy-1, rather than working via session parameters, I'd suggest adding a facility to the `AppLocale` class that permits setting the locale, rather than just getting it. This would involve moving the `$currentLocale` variable there out into the class, and adding a new `setLocale` function.

[2017-07-21 20:41] asmecher commented on #1963
I'm not totally sure about this, but as I recall there's a URL available to Shibboleth endpoints that you can redirect to where logout can be provided at the provider level.

[2017-07-21 20:50] asmecher commented on #2658
Please!

[2017-07-21 22:12] asmecher commented on #2662
(Just FYI, I'm seeing this with our normal test data set as well.)

[2017-07-22 00:48] asmecher commented on #2608
Merged, thanks!

[2017-07-22 00:48] #2608 closed

[2017-07-22 03:06] crism commented on #1963
@asmecher, yes, we could hit the Shibboleth logout and come back to the current page. What I have here is Good Enough for our uses, but that would be a good enhancement. There’s some other workflow stuff—login goes to the context home, which surprised one of my testers (was on the submissions page, expected (reasonably) to come back to it)—might make good fodder for the sprint.

[2017-07-22 06:04] defstat commented on #2178
@NateWr Regarding the "Move the NavigationMenuItem title to the assignments database.", we will have to, somehow, edit the Assignment. Do you think that we should extend the "Assignment Control" for that?

[2017-07-22 06:17] defstat commented on #2483
@asmecher PR: #2494

[2017-07-22 08:08] defstat commented on #2513
PRs:
OJS: pkp/ojs#1461
pkp-lib: #2666
QuickSubmitPlugin: pkp/quickSubmit#11
OMP: pkp/omp#426

[2017-07-22 10:38] Vitaliy-1 commented on #699
Thanks for guidance @asmecher

There is another one problem, after applying modifications as per your advice.
The problem is that locale from all plugins don't want to change immediately after using `setLocale` method. They need session refreshment. But core locale is updating accordingly.

My AppLocale class: https://github.com/Vitaliy-1/AppLocale/blob/master/AppLocale.inc.php

This how I call `s

[2017-07-22 14:03] ducquang92 opened #2667 "[OMP] Lack of default plugins/gateways directory fail gateways check"
Hi there,
I just experienced a bug in webfeed plugin which is triggered by lack of plugins/gateways directory and figured out the cause and workaround.

**Bug description**
- webfeed plugin generates RSS feed at http://journa.url/index.php/journal/gateway/plugin/WebFeedGatewayPlugin/atom
- Directly access this link on OMP will result in 302 redirection to homepage.

**Cause**
- The above link uses

[2017-07-22 14:57] defstat commented on #2434
@asmecher

PRs:
OJS: pkp/ojs#1462
LIB: #2668

[2017-07-24 09:18] NateWr commented on #2178
@defstat Yeah. if you can set this up in the database, and assign the menu item title by default, I can pop in and update the control with an editing interface.

[2017-07-24 10:42] #2513 closed

[2017-07-24 23:57] asmecher commented on #2667
Thanks, @ducquang92. I've added a README document as a placeholder while there are no gateway plugins included with OMP distributions.

[2017-07-24 23:57] #2667 closed

[2017-07-25 00:04] asmecher commented on #2434
@defstat, I think this could be done more simply. Since the "Initial decline" is the same as the normal "decline" except for the email template, it should be possible to only change [EditorDecisionWithEmailForm.inc.php::initData](https://github.com/pkp/pkp-lib/pull/2668/files#diff-19b7c52b579ffb95557ba526ed72a0b0) so that the appropriate email template is invoked if the submission stage is the sub

[2017-07-25 00:25] asmecher commented on #2655
PR: https://github.com/pkp/pkp-lib/pull/2656

[2017-07-25 06:01] Vitaliy-1 commented on #699
Hi @asmecher

I have managed to make a separate URL for non-primary locale. After looking over several options and reading google guidelines about multilanguage sites I pick up a variant with separate subdomain. It has no conflicts with main code, OJS picks requests to subdomains without a need to pointing them in the apache configuration files. Only subdomain registering is needed. Have checked o

[2017-07-25 11:23] alexxxmendonca commented on #2434
Statistically speaking, it would be important to differentiate this initial rejection from the peer-reviewed rejection.

Our journals often need to know their "desk reject" ratio, and this would mean the papers that received that initial rejection.

That being said, it should be still considered as a "final reject" decision on a general statistic number -- which would be a combination of initial r

[2017-07-25 15:05] jmacgreg commented on #2434
+1 for differentiating and tracking between different reject types.

@defstat, it doesn't matter to me whether the text of the new email is the same as the REVIEW_DECLINE email as long as it's editable, but if you would like to provide some different default text I would be happy to provide some feedback there.

[2017-07-25 16:52] asmecher commented on #2434
Point taken! @defstat, you were right.

[2017-07-25 19:37] defstat commented on #2434
@asmecher I have changed the name of the email template as well as the name of the decision type. I suppose I have added the email template to the upgrade.xml script like so

`<code function="installEmailTemplate" key="EDITOR_DECISION_INITIAL_DECLINE" locales="en_US" />`

but the upgrade tool does not seem to install the template (the installation process successfully installs the template though)

[2017-07-26 09:58] OhnO395 commented on #1919
mkdir -p public/site/images
change mode for web server

good luck
ohno395

[2017-07-26 11:47] bozana commented on #2543
Thanks @emanuil-tolev! I will try to change the code. Maybe then @ajnyga can test it, so we are sure it works?
I'll come back to you as soon as I did the changes...

[2017-07-26 11:50] mtub opened #2670 "[OJS] Update uk_UA locale for OJS 3.1 release"
Issue tracking the updates to the uk_UA locale.

[2017-07-26 12:24] #2648 closed

[2017-07-26 13:19] bozana commented on #2640
OMP seems to be fine :-)

[2017-07-26 13:19] #2640 closed

[2017-07-26 13:50] NateWr commented on #2163
@asmecher, @kaschioudi Tests are passing for OJS and OMP. Here are the PRs for final review/merge:

https://github.com/pkp/pkp-lib/pull/2399
https://github.com/pkp/ojs/pull/1337
https://github.com/pkp/omp/pull/412

[2017-07-26 14:37] #2658 closed

[2017-07-26 15:35] bozana opened #2671 "migrate crossref deposit status setting name"
the setting name for deposit status has changed in ojs 3. in ojs 2.4 it was crossref::depositStatus in ojs 3 it is crossref::status. also: crossref::depositStatusUrl changed to crossref::statusUrl.

[2017-07-26 16:44] NateWr commented on #1503
We've now (just about) got an API in place for OJS 3.1. @kaschioudi has done amazing work wrestling the API infrastructure into place. I want to give a brief overview of where we're at, then raise issues for further feedback and refinement before 3.1 ships.

# Where we're at

Several endpoints are available at `/index.php/api/v1/`. Each endpoint is serviced by an `APIHandler` class which you'll fi

[2017-07-26 16:58] NateWr commented on #1503
# Discussion

**1.** I'm leaning towards linking over embedding. Although it means more work on the client side, I think it will be significantly easier to design and maintain the API if we keep the responses limited. How we do linking _and_ reduce code duplication with the private endpoints will be a tricky problem to solve, though.

**2.** I'd love to hear more input from our dev community here.

[2017-07-26 17:25] asmecher commented on #1503
Thanks, @NateWr and @kaschioudi. On use cases and embedding vs. linking: an alternate front-end is probably the single most common use case. While that often arose because of limitations in the OJS 2.x UI, it won't go away entirely -- we still have users who have an existing website/toolset they want to use, pulling OJS data into it rather than trying to get OJS to match.

@NateWr, I usually would

[2017-07-26 17:42] asmecher commented on #2434
@defstat, where in `upgrade.xml` did you put the `installEmailTemplate` call? When running the command-line version, do you see the upgrader running through upgrade processes in the same area of `upgrade.xml`?

[2017-07-26 17:44] asmecher commented on #2434
@defstat, ah, I see it's in the OJS 2.x to 3.x portion of the upgrade, i.e. inside:

    <upgrade minversion="2.4.0.0" maxversion="2.4.9.9">

Are you testing a 2.x to 3.x upgrade? If so, you should also see the template added. If you're testing a 3.x to 3.x upgrade, it won't currently work -- that `installEmailTemplate` line also needs to be added to the 3.0.x to 3.1 area of the `upgrade.xml` file

[2017-07-26 17:51] mtub commented on #2606
Update: I have received an almost complete translation from our usual translator, and I will merge that translation first. We will have to see how to deal with differences in the new proposals from @Duozhasht, and I will ask José to review the changes.

[2017-07-26 17:57] bozana commented on #2671
PR ojs master: https://github.com/pkp/ojs/pull/1468

[2017-07-26 17:57] bozana commented on #2671
@asmecher, could you take a look at the PR?

[2017-07-26 18:22] kaschioudi commented on #1503
Thank you very much @NateWr for your valuable inputs.

Regarding object linking and embedding, I see them as additional features provided to ease hyperlink between resources (linking) and reduce the number of HTTP requests required (embedding).  Ideally the API should support both features. Linking when supported is usually available by default whilst Embedding can be enabled for each request.

We

[2017-07-26 18:28] defstat commented on #2434
@asmecher yes now I got it (I think) - I added the install script at the
`<upgrade minversion="2.4.0.0" maxversion="3.0.9.9">`
part - I think that covers all range of versions?

[2017-07-26 18:37] asmecher commented on #1828
@bozana, are you still working on this one?

[2017-07-26 21:11] defstat commented on #2434
@asmecher
PR
OMP: pkp/omp#427

[2017-07-26 22:03] asmecher commented on #2671
Closing -- thanks, @bozana!

[2017-07-26 22:03] #2671 closed

[2017-07-26 22:19] #2171 closed

[2017-07-26 22:30] asmecher commented on #2163
All right, it's merged! @kaschioudi, there are some warnings I'm seeing:

[code]

[2017-07-26 22:59] asmecher commented on #2163
Also:

[code]

[2017-07-26 23:14] asmecher opened #2673 "{$reviewerName} variable not replaced"
The on-screen notification after a reviewer is assigned includes the `{$reviewerName}` variable, value unreplaced.

[2017-07-26 23:29] asmecher commented on #2434
All merged -- thanks, @defstat!

[2017-07-26 23:29] #2434 closed

[2017-07-26 23:45] asmecher commented on #2483
Thanks, @defstat -- closing!

[2017-07-26 23:45] #2483 closed

[2017-07-27 00:02] kaschioudi commented on #2163
@asmecher : the first warning is caused by the absence of collation index in config array. We could add a default collation. Would `'collation' => 'utf8_general_ci'` be a good default value?

[2017-07-27 00:16] asmecher commented on #2163
@kaschioudi, yes, I think so.

[2017-07-27 05:57] kaschioudi commented on #2163
https://github.com/pkp/pkp-lib/pull/2674

[2017-07-27 09:06] NateWr commented on #2163
@asmecher and the second notice addressed here: https://github.com/pkp/ojs/pull/1471

[2017-07-27 09:40] NateWr commented on #1503
I think most will want to import to their system, rather than fetch from the API on-the-fly in their custom frontend. For instance, if I were building a WP integration, I'd want to pull the data and store it in the WP database. In my mind, this would still favor a linking over embedding approach.

I had the same thought as both of you.  I know the WP API uses an `_embed` parameter like you've sugg

[2017-07-27 10:16] #2534 closed

[2017-07-27 10:18] NateWr commented on #2323
This made it in with the JS/API merge at 9809cedd1c7a568ddd430b05e52fac423295db77

[2017-07-27 10:18] #2323 closed

[2017-07-27 10:37] NateWr commented on #2163
@kaschioudi can take a look at the updated docs in this PR and merge if it looks alright?

https://github.com/pkp/ojs/pull/1472

[2017-07-27 11:13] bozana commented on #1828
@asmecher, I never did -- I just fixed the migration issue.
From the original post: 1) is solved, 2) I am not sure we can do anything about, 3) I could do, 4) I believe @NateWr wanted to work with the display.
The further requirements like use of dictionaries etc I would defer and put in a new issue.
What do you think?

[2017-07-27 12:47] NateWr opened #2675 "Several minor adjustments to submission lists"
This issue is a placeholder for some minor changes to the new submission lists:

- [x] Reverse author/title prominence in lists.
- [x] Search text gets overwritten while typing sometimes
- [x] Add submission ID
- [x] `SubmissionListItem` uses `this.submission` but should standardise on `this.item` for all lists.
- [x] Modals with no title have a collapsed header. To reproduce, open the activity lo

[2017-07-27 14:25] kaschioudi commented on #1503
### API authentication and authorization inner working

There are 2 ways to authenticate requests:

- Browser cookie
- api access token

Cookie based authentication is useful when an API endpoint is requested from a browser with an active/valid OJS session. For instance the new submissions list grids take advantage of that feature to fetch data from API backend endpoints. Other clients would lean

[2017-07-27 14:41] kaschioudi commented on #1503
I would like to add that at the moment, there's a little bit of rules duplication when it comes to request authorization. It would be good if we could centralize these rules for reusability.

[2017-07-27 15:36] kaschioudi commented on #1503
I looked at `toArray()` implementation and it's a good attempt. Nonetheless my concern is that such helper function encapsulates all the logic in one place and does not provide flexibility. Since most entities in OJS are objects, we could look into `decorator pattern`.

We could have an abstract class like
[code]

and have an implementation for each entity. for instance, `Author`'s could be like

[2017-07-27 16:46] jmacgreg opened #2676 "[OJS] Track and report on institutional subscriber usage"
Institutional subscribers need to know their readers' usage patterns for a given journal in order to make decisions on whether a subscription is worthwhile. This requires tracking IP addresses for article views/downloads, and comparing them against institutional subscription IP addresses. Currently, the metrics table in OJS does not track IP addresses. This would have to be added (with care taken

[2017-07-27 17:36] Duozhasht commented on #2606
Hello @mtub,

I've completed my review on the pkp-lib files. I started this process with another branch based on the current master, but I found our translations to be quite better.
In order to finish my job, I got back to my branch from pull request and merged with master and fixed conflicts. I know this is not a good mechanism for tracking differences.

You can check the same pull request https:

[2017-07-27 17:49] ctgraham commented on #2676
I don't think we want to include the IP in the metrics table.  I think we want to include a foreign key to the Institutional Subscription which is being utilized for access, whether it by IP based, or Shibboleth based, or otherwise.

[2017-07-27 18:15] jmacgreg commented on #2676
@ctgraham, could we do something as simple as include/crossreference the subscription_id?

[2017-07-27 18:17] ctgraham commented on #2676
I think so.  The next question would be: can a subscription be deleted?  If so, we may need to prevent that to preserve historic foreign keys.

[2017-07-27 18:18] jmacgreg commented on #2676
Yep, they can be deleted.

[2017-07-27 18:19] ctgraham commented on #2676
Also, from a SUSHI/COUNTER perspective, one client might be interested in multiple subscriptions (perhaps legacy/changing subscriptions for that client, perhaps the client is an aggregator on behalf of multiple subscriptions).  We should consider the permissioning implications here.

[2017-07-29 01:05] SSPJ commented on #2647
@bozana Thanks for taking a look! Dropping and recreating the ojs database before restoring the backup file indeed resolved the issue.

[2017-07-29 01:05] #2647 closed

[2017-07-30 20:20] defstat commented on #2178
@NateWr I added the default title of an Assignment to be the title of its corresponding NavigationMenuItem - so I didn't really removed it from the Item object. (in the current configuration, if the user re-orders the Assignment, it resets the default title, because it removes and re-inserts the assignment)

I did try to add an "Edit" button to the assignment edit control, with no luck :)

I also

[2017-07-31 12:44] puchatek108 commented on #2603
Is somebody working on it? Ive been manually adjusting pl language from version 2.4.8 to 3.0.2. so I can share this with anybody interested.

[2017-07-31 13:07] NateWr commented on #2637
Merged the PRs:
https://github.com/pkp/pkp-lib/pull/2664
https://github.com/pkp/ojs/pull/1460

Nice work @RahulChakravarthy! :+1: If you're satisfied that this issue is done, you can close it.

[2017-07-31 13:43] NateWr commented on #1503
It may just be personal preference, but I'm hesitant to introduce a new tree of classes. I thought the point of introducing the Services pattern was to consolidate the object handling in a centralised location.

I'd be inclined to perform your approach above using the Services classes like this:

[code]

Is that not how you see the Services classes being used?

Also, I'd rather turn `getPropertyLi

[2017-07-31 16:24] NateWr commented on #2178
@defstat great! I'd say work on the item types thing as the biggest priority. If we run out of time for OJS 3.1, we can ship navigation menus without the unique titles, and add that later. But I think getting the types down is going to be important if we can get that done in time to go out with 3.1.

[2017-07-31 16:56] mtub opened #2678 "Fix (probably) wrong wording in new API locale keys"
`locale/en_US/api.xml` has (in row 22)

`<message key="api.submissions.400.stageNotValid">Your request could not be fulfilled because the submission stage ID is compatible.</message>`

I presume this should be "not compatible" or "not valid".

(see https://github.com/pkp/pkp-lib/commit/2fa294a37614d270fbe1a08129500b8b3f954c04#diff-73ef12d7b895e7eba99b7753f8d3e837R22)

tagging @natewr, @kaschioudi

[2017-07-31 18:16] kaschioudi commented on #1503
I see the service layer as a place to define complex business logic or functions with interact with multitple entities. Nonetheless under the hood it's still a big class with a bunch of global functions. Therefore there is a risk of overuse with the consequence of ending up with very large unmanageable classes.

The other aspect I dislike with service methods is that they make it hard to extend fu

[2017-08-01 08:37] atarix83 commented on #2634
Hi @bozana sorry for insistence, but I'm still trying to understand more about this problem.

In your opinion, is it possible that using GeoLiteCite database like is described in the [docs](https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/docs/README#L212) could is the cause of my problem?
I've added the database when I've done the upgrade.

Thanks.

[2017-08-01 09:25] bozana commented on #2634
Hi @atarix83, sorry for not responding. You were right -- the fileId parameter is missing for the ArticleHandler::downloadFile hook -- that's why the PDF download was not logged :-( The link to a PR is coming below...
I do not think that GeoLiteCite should be the reason -- it only connects counts with geo location -- the counts should not change.

[2017-08-01 09:27] bozana commented on #2634
PR:
ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1475

[2017-08-01 09:30] bozana commented on #2634
@atarix83, thanks a lot for finding this!

[2017-08-01 09:51] PR91 opened #2680 "Unable to Order Issue's inside Journal"
When I try to change the issue order, it doesn't work. Sometimes, it stays the same as before, sometimes it completely shuffles the issue order when I press "Done".

I attached a short video that shows the problem.

I tested it in two different OJS installations and on at least 4 browsers. (Firefox, Chrome, Safari and IE), the problem is consistent across browsers.

[ojs_export_issue.zip](https://

[2017-08-01 09:53] atarix83 commented on #2634
@bozana

Thank you I'm going to patch immediately

[2017-08-01 10:00] bozana commented on #2680
@PR91, what OJS version do you use? Also, have you already take a look in the support forum (https://forum.pkp.sfu.ca/), if there is maybe already a solution for your problem? -- That would be the first place to see and ask and only if it is a real bug/issue, a GitHub Issue should be created/opened...

[2017-08-01 10:17] PR91 commented on #2680
Sorry about that. I am using OJS 3.0.2.0. I found a forum [topic](https://forum.pkp.sfu.ca/t/ojs-3-cannot-order-articles/23629) but its related to articles and an older OJS version. I noticed that you replied there and provided the solution. I tried changing the publishing date but I wasn't successful. Is there anyway to change the "sorting value" in the database? Thank You.

[2017-08-02 19:38] ctgraham opened #2681 "Add setting to require a journal manager to approve all new user accounts"
PKP Sprint.  Create the ability for Journal Managers / Editors to require approval of new accounts.

[2017-08-02 21:07] ctgraham opened #2682 "User registration at the site level when email validation is enabled fails."
When a new user registers at the site level, but config.inc.php's email section specifies require_validation, the system tries to send an email for validation.  This depends on the $context variable, which is unset at the site level.

[2017-08-03 10:56] MarHerUMR commented on #2637
I just had a look at it. Looks good. Thanks a lot 👍

[2017-08-03 10:56] #2637 closed

[2017-08-03 14:00] ctgraham opened #2683 "[OJS2] Failed new user registration password bleeds into the login block"
Steps to reproduce:
* Configure the User Block to display
* Access the registration form with the User Block displaying the username/password fields
* Partially fill out the registration form (or add in a form error)
* Submit the registration form

Expected result:
* User Block is unaffected

Actual result:
* Password is returned in the User Block's password field

![image](https://user-images.git

[2017-08-03 14:06] asmecher opened #2684 "Add support for declaring metadata fields required"
Permit submission metadata fields to be designated as required. (See e.g. https://forum.pkp.sfu.ca/t/make-an-attribute-required/27850.)

[2017-08-03 14:10] asmecher commented on #2684
Pull request: https://github.com/pkp/pkp-lib/pull/2685

[2017-08-03 14:33] #2684 closed

[2017-08-03 16:24] asmecher commented on #2433
(Note to myself as much as anything: this is a high priority for SCIELO and would be good to include in 3.1.)

[2017-08-03 17:27] ajnyga commented on #2543
Sure, but I am not sure if the journal still has all those articles unregistered.

[2017-08-04 15:52] ajnyga opened #2687 "[OJS] Revision reminders"
Some of our journals have asked for a feature where the editor can send reminders to authors regarding the revisions of their articles. Basically the editor would define a default time limit for revisions like with the review requests. If the author takes more time than the defined time limit to return a revision of her paper, the system will send a "gentle reminder". Also, manual reminders should

[2017-08-04 16:11] asmecher opened #2688 ""Will not be peer reviewed" section flag is not used/presented"
"Will not be peer reviewed" section flag is not used/presented in the code.
(See https://forum.pkp.sfu.ca/t/will-not-be-peer-reviewed-option/32650)

[2017-08-04 16:13] asmecher commented on #2688
@NateWr and @stranack, this is one of those things that used to provide information in the About area (but was otherwise inoperative). We could consider e.g...

- Removing the option
- Restoring the presentation of the section information in the About area or when starting a submission
- Making the option disable/hide the peer review area of the workflow

[2017-08-04 16:33] asmecher opened #2689 "Changing date formats in config.inc.php can lead to misparsed dates"
See https://forum.pkp.sfu.ca/t/unrealistic-reviewer-invitation-dates/32346.

Suspected cause: dates are formatted according to config.inc.php into text boxes. When they're parsed again, the changed format isn't taken into account.

[2017-08-04 17:37] asmecher commented on #2689
Alternately, this may (also) be caused by the Turkish locale. See a comment to that effect on the linked thread.

[2017-08-04 19:48] ajnyga commented on #2687
I guess a fast way of doing this would be to add the needed database fields to the review_rounds table, something like this:
![screenshot_2](https://user-images.githubusercontent.com/16347527/28984331-753f5766-792b-11e7-93d1-3fab6a8ad7c7.png)

Then you could check if the reviewRound status is "REVIEW_ROUND_STATUS_REVISIONS_REQUESTED" and see whether the given dates are expired and then trigger the

[2017-08-06 19:55] marcin-golebiowski opened #2690 "[OJS] Broken HTML of index/admin/index"
There is a broken HTML on index/admin/index page. The confirm text needs to be escaped because there are double quotes returned from json_encode.

![sceen](https://user-images.githubusercontent.com/115426/29006502-aad92fb0-7af1-11e7-8f5a-6d946fb1a903.png)

https://github.com/pkp/ojs/pull/1477

OJS version:  3.0.2.0

[2017-08-07 06:53] TobiasWantzen commented on #2592
This will be quite simple:
wwwTATuP-live/lib/pkp/pages/admin/AdminFunctionsHandler.inc.php
add after line 84:
`		$templateMgr->clearCssCache();

Thanks,
Tobias

[2017-08-07 07:32] ajnyga commented on #2665
A related issue is that the automation only works (to my knowledge) when you choose the original version of the file from the pull down menu when uploading a new revision (instead of choosing "this is not a revision.."). If you choose that "this is not a revision", the editor is probably not informed at all.

So, instead of having that automation there, how about just having a button that you use

[2017-08-07 12:57] bozana opened #2691 "Report Generator links on the plugins listing page do not work"
s. https://forum.pkp.sfu.ca/t/error-404-for-report-generator-under-report-plugins/32588
Either
a) to remove those links from there, because the reports can be generated going to Tools > Statistics,
or
b) to link to the proper URL if possible.

[2017-08-07 14:14] marcin-golebiowski commented on #2603
@puchatek108 Could you share it with me?

[2017-08-07 14:42] NateWr commented on #2688
FYI, I think the Section Policy is also not displayed anywhere. It might be good to pull this data into the submission area.

It would be very cool for submissions in that section to simply have Submission and Published stages, and just the accept/decline buttons on the Submission stage.

[2017-08-07 15:39] ajnyga commented on #2688
`It would be very cool for submissions in that section to simply have Submission and Published stages, and just the accept/decline buttons on the Submission stage.`

I strongly second this! In many journals much of the incoming articles are one that do get peer-reviewed. However, I would think that journals do copyediting even with these ones? Even with things like book reviews the editor still wa

[2017-08-07 15:59] NateWr commented on #1503
During the pkp2017 sprint, we discussed a way forward for generating properties for the API. Kassim is going to work on implementing that. I'm going to try to draw up a solid spec for the endpoints we want to ship in OJS 3.1 so that Kassim has a good idea of the end-goal and can start building out the endpoints.

Dulip did a lot of work drawing up OMP specs, which will come in handy when we get to

[2017-08-08 08:05] puchatek108 commented on #2603
Sure, its in progress Ill upload soon.

[2017-08-08 17:32] mtub commented on #2603
There are already translators working on a Polish translation, but I don't know how far they got. I've asked them to join this discussion so that you can talk about how to collaborate best.

Thank you all for your efforts!

[2017-08-08 17:44] szmigieldesign commented on #2603
Hello,
I'm one of co-translators of 2.x versions. We've done together with Ewa Rozkosz - second translator - an update to 3.0 while working on two journals commercially earlier this year. Unfortunately I can't ZIP those translations as server doesn't allow it (btw - a better way to ZIP translations via translator plugin would be nice) so I have to download them manually via FTP. I'll link to an ar

[2017-08-08 17:51] mtub commented on #2603
Hi Łukasz,

thanks for the update. I suggest to proceed as with other languages where we had conflicting translations: I'll merge the translation that was pre-announced from the OJS 2 translators first. (Feel free to link to an archive or send me the files via email.)

After that, if other translators could upload their translations to GitHub, we could compare and see where the other translations

[2017-08-08 18:16] szmigieldesign commented on #2603
There you go - this is the latest version we've made. It can be merged and extended in the future. This isn't just the translation of missing strings but also adaptation to new OJS3 workflow.

[ojs3-pl-PL-2017-08-08.zip](https://github.com/pkp/pkp-lib/files/1209145/ojs3-pl-PL-2017-08-08.zip)

[2017-08-09 10:03] MarHerUMR commented on #2641
I've just tried it with Version build from the development source and get the same result.

[2017-08-09 12:05] puchatek108 commented on #2603
Oh thats great. Thanks!

[2017-08-09 14:02] szmigieldesign commented on #2603
Shouldn't we wait for @mtub to merge the translations first?

[2017-08-09 15:26] bozana commented on #2543
PR:
ojs master: https://github.com/pkp/ojs/pull/1480

@ajnyga, could you maybe test it with your data and api-key? (Note the filter input type change, so that an upgrade or manual change in the DB is necessary).
I have no test account any more, so I am not able to test it properly...

[2017-08-09 18:14] asmecher opened #2693 "OAI appears to be willing to provide records before the earliest record date"
See https://forum.pkp.sfu.ca/t/oai-pmh-data-provider-validation-and-registration-error/31852 for details. Not sure if it's relevant, but the record appears to be a deleted record. (A glance at the code shows it should already account for this in calculating the earliest record date.)

[2017-08-09 19:58] bozana commented on #2247
Hmmm... I think this is not relevant any more. But I am also not sure if the current behavior is correct:
In OJS 2.4.x there is immediately a review round and a review file for a submission, even if an editor was not assigned yet. This is different in OJS 3 -- first when an editor is assigned and the button "Send to Review" pressed, there will be a review round and a review file.

Now, after the m

[2017-08-09 20:10] asmecher opened #2694 "ABNT settings form needs rewrite for OJS 3.x"
The ABNT citation format plugin has a settings form including a "location" field. The form has not been rewritten for OJS 3.x, so the setting is inaccessible.

https://forum.pkp.sfu.ca/t/ojs3-0-2-citation-s-l/32721/3

[2017-08-09 20:27] bozana commented on #2693
PR:
ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1481

[2017-08-09 20:27] bozana commented on #2693
@asmecher, do you think this is OK so?

[2017-08-09 20:30] asmecher commented on #2694
https://github.com/pkp/ojs/commit/9c7c571f6402784a07b1b1c937978af155df0722 is for `ojs-stable-3_0_2`; https://github.com/pkp/ojs/commit/3a5a72eb2c8f78b9bbdb27ac96db2d74f14eaf46 is for `master`.

[2017-08-09 20:30] #2694 closed

[2017-08-09 21:06] asmecher commented on #2693
@bozana, this appears to have already been fixed, I just noticed -- see https://forum.pkp.sfu.ca/t/ojs2-oaipmh-and-getearliestdatestamp-ojs-2-4-8/31326/5. It didn't get an issue number before, so I'll use this one. The PR is https://github.com/pkp/pkp-lib/pull/2567 plus there's a necessary additional fix (6b83092).

[2017-08-09 21:12] jmacgreg opened #2695 "Use journal/press thumbnail instead of logo for back-end image"
The "logo" image in the upper-left of the journals' (or press's) back-end dashboard should be the journal thumbnail, if one exists, instead of the journal logo. The logo is usually a pretty wide banner image, but the thumbnail is more usually a smaller, hopefully more square representation of the logo image, and would fit better in that space.

[2017-08-10 07:06] ajnyga commented on #2543
Hi, I asked the journal editor a permission and if it is ok, I will test this as soon as possible. Thanks again @bozana!

[2017-08-10 08:52] mtub commented on #2603
Hi @szmigieldesign , I've uploaded your first batch of files (OJS locale without plugins), see
https://github.com/pkp/ojs/compare/master...mtub:i2603?expand=1

I've removed quite a lot of English text. We'll see if we can fill the gaps with the work of @puchatek108 etc., but I'd also advise you to compare the English and Polish versions after we've merged everything once more. Will continue with t

[2017-08-10 10:05] NateWr commented on #2695
In the default theme in OJS 3.0, the logo should be more of a square image. We've been pretty intent on discouraging banner images wherever possible.

Also, in the default theme, the journal thumbnail appears on a white background, whereas it appears on a dark background in the backend. I don't think it will slot in very well in most cases.

[2017-08-10 10:55] NateWr commented on #1503
I've drawn up a proposal for the API specification to ship OJS 3.1. I decided to work towards the minimum endpoints needed to port published articles to a third-party platform. I then added on some things that we'll need to eventually synchronise the backend and public endpoints.

A copy of the swagger file for this specification can be found in this pull request: https://github.com/pkp/ojs/pull/1

[2017-08-10 11:04] NateWr commented on #2678
PR:
https://github.com/pkp/pkp-lib/pull/2696

[2017-08-10 11:07] NateWr opened #2697 "Stage check is unnecessary in SubmissionService galley retrieval"
`SubmissionService::getGalleys` checks that the submission is in the production stage. This isn't a safe check because the production stage is open for managing galleys as soon as the review is passed. I'd recommend removing the check (but leave the Exception as this should be used for the submission list filtering by stageId coming soon).

Related code:
https://github.com/pkp/pkp-lib/blob/master/

[2017-08-10 13:10] bozana commented on #2634
@atarix83, do you think this solves the problem?

[2017-08-10 13:29] ajnyga commented on #2543
Ok, so I got the permission. Will test this later today.

[2017-08-10 14:36] NateWr commented on #2675
PR:
https://github.com/pkp/pkp-lib/pull/2698
https://github.com/pkp/ojs/pull/1486

Tests running...

[2017-08-10 15:04] NateWr commented on #2085
Is anyone set up to do testing in OJS on their phone? Could they test the PRs above (^^) and let me know if you can uncover any tap issues with the dropdown menus in the default theme?

[2017-08-10 15:06] #2678 closed

[2017-08-10 15:13] bozana opened #2699 "LazyLoadPlugin get/setEnabled do not consider site plugins"
s. https://forum.pkp.sfu.ca/t/usage-statistics-plugin-and-creating-new-journals/30841

If it is s site plugin, getEnabled and setEnabled should consider the context = 0.

This is not in conflict with the further work here https://github.com/pkp/pkp-lib/issues/1923

[2017-08-10 15:21] NateWr commented on #2306
The following PRs allow searching by submission ID. Basically, if an integer is entered into the submission list search panel, it also retrieves submissions that have that ID.

PRs:
https://github.com/pkp/pkp-lib/pull/2700
https://github.com/pkp/ojs/pull/1487

@asmecher I know you're wanting a more explicit search targeting feature. What do you think about having this simplified version for 3.1, t

[2017-08-10 15:25] ajnyga commented on #2085
Seems that I've been on my way home since April. I added this to my todo list, next week, I promise!

[2017-08-10 15:31] NateWr commented on #2085
np! dropped off my radar too. :)

[2017-08-10 15:34] NateWr commented on #2675
@asmecher Mind code reviewing?

[2017-08-10 16:23] bozana commented on #2699
@asmecher, could you take a look at the PRs?

[2017-08-11 05:00] asmecher commented on #2306
That makes sense to me, @NateWr. We've never had anyone ask for searching by other IDs, so I'm content to leave it until someone does.

[2017-08-11 05:21] asmecher commented on #2675
This looks like solid evolution to me, though until I get the Vue stuff under my fingernails I'm not able to do much more than scroll and blink. I do think the magic numbers need resolving, though, per my code comment. Otherwise please go ahead!

[2017-08-11 08:55] NateWr opened #2703 "New review round modal re-opens automatically when closed in IE11"
When the modal is closed, it immediately re-opens. My first guess is that it's a problem with the focus toggling. When a modal is closed, we return focus to the element which opened it. Maybe this focus event is activating the tab. I think that might be a "feature" of the jQuery UI tabs...

[2017-08-11 10:07] NateWr commented on #2306
Woops, I got this confused with the other one you code reviewed and merged it. Just a few lines, mind glancing at it before I close this, @asmecher?

https://github.com/pkp/pkp-lib/pull/2700/commits/12b125e3be5cb224c098be499cc7ce9ccf489eea

[2017-08-11 12:29] bozana commented on #2247
PR:
ojs master: https://github.com/pkp/ojs/pull/1489

[2017-08-11 12:29] bozana commented on #2247
@asmecher, could you please take a look at the PR?

[2017-08-11 15:40] NateWr commented on #2612
PRs:
https://github.com/pkp/pkp-lib/pull/2704
https://github.com/pkp/ojs/pull/1490
https://github.com/pkp/omp/pull/428

Filtering is available on all the main submission lists for journal managers, subeditors and assistants.

![submission-list-filtering](https://user-images.githubusercontent.com/2306629/29220471-077b26c8-7eb3-11e7-9159-aea4b2583446.gif)

A couple questions for @jmacgreg and @stran

[2017-08-11 16:22] alexxxmendonca commented on #2612
Just wondering: is "Review overdue" something we could consider adding to the filters?

It would be a quick way to filter those submissions that have overdue reviews.

[2017-08-11 16:34] jmacgreg commented on #2612
Hi Nate,

This looks great! It would be great to add a "Status" filter option as @alexxxmendonca suggests, but if this is a lot of work I think it could be added as a post-3.1 follow-up, so long as the status is indicated in the listing (as it appears to be). It should definitely be considered before too long, though.

One small note - just confirming that the submission ID will be re-added, corre

[2017-08-11 16:36] alexxxmendonca commented on #2612
Also, forgot to add, very important: it looks great! Good work, Nate!

[2017-08-11 16:37] NateWr commented on #2703
I thought this would be easy just by taking the "New Review Round" button out of the tabs. Unfortunately, jQueryUI's tabs destroy any HTML not part of the tab/tab-content pairs.

I think the least destructive hack is to detect IE11 and prevent the focus from being restored specifically for that LinkAction. So far, though, IE11 detection seems less than bullet-proof.

[2017-08-11 16:40] NateWr commented on #2612
@jmacgreg and @alexxxmendonca, see my initial comment in the issue for details about filtering by status. This is highly desired, but exists nowhere in our database, so we can't really query by it. We need to decide and implement some stage status tracking to get there (See: https://github.com/pkp/pkp-lib/issues/1662).

[2017-08-11 16:41] jmacgreg commented on #2612
Agreed, it looks awesome! And as important, it'll be really useful.

[2017-08-11 18:02] asmecher commented on #2641
Thanks -- agreed, @MarHerUMR. I removed the `nl2br` filter.

[2017-08-11 18:02] #2641 closed

[2017-08-11 18:07] alexxxmendonca commented on #1662
This probably would require a separate github issue, but somehow related to this: we should consider having due dates for each task.

This would allow flagging of overdue tasks, reporting by task (and timespans) and more control in general.

Ideally, the due dates should be configurable at the journal level.

[2017-08-11 18:52] stranack opened #2705 "New default footer images"
John and Sophy created these new images for the OJS and OMP footer, to replace the old "powered by..." ones:

https://dl.dropboxusercontent.com/u/9529729/footer-logos.zip

These are PNG files, but let me know if you need SVG.

[2017-08-12 00:37] asmecher commented on #1503
@NateWr, I've just merged more of the subscription stuff, moving from the back end towards the front end. Our access model looks kind of like this (carried over from OJS 2.x):

- Journals can be open-access, (possibly partially) subscription, or no publishing at all (or via external system)
- Issues can be open access or (possibly partially) subscription
- Articles can be open access or fall back

[2017-08-12 00:38] asmecher commented on #2699
Good catch, @bozana, I've run into this before but didn't track it down. Please go ahead.

[2017-08-12 00:54] asmecher commented on #2691
Thanks -- fixed!

[2017-08-12 00:54] #2691 closed

[2017-08-12 06:45] farhanabbas1983 opened #2707 "[OJS] How to achieve Browse by Section functionality in OJS 3.0.2?"
Hello there,

Previously in ojs 2.4.x, there was a plug (Browse by sections) which worked perfectly, and it facilitated our readers a lot to get access to relevant material / section of their interest. After upgrading to ojs 3.0.2, I found out that this plug in is not any more available / functional in ojs 3.x. That is a shocker because our readers and end users are suffering alot and finding it d

[2017-08-14 09:34] NateWr commented on #1662
@alexxxmendonca It's been hard for us to enforce things like this because, outside of peer review, journals vary widely in what they do or don't do on their way to publication. Before due dates can be set, tasks need to be defined as well, and I suspect we'll require them to be configurable in some way.

[2017-08-14 10:01] NateWr commented on #1503
@asmecher Thanks yeah, so my understanding is:

- Submissions only have an access status
- Issues have an access status and (optionally) a date when it will be open access

Does the access status contain the information about whether a login is required? ie - is returning the access status sufficient to "understand" access?

Finally, should any of this information be "protected" from an unauthoriz

[2017-08-14 10:20] NateWr opened #2708 "Implement approach for delivering constants to the new frontend components"
There are a number of magic numbers in the new submission list panels that need to be replaced with proper constants.

Currently, we can pass constants defined in PHP to the JS frontend through the `defined_exposed()` function. This works at a global level (ie - constants must either be exposed or not exposed when defined). As more logic is handled in the new frontend handlers, we'll need access t

[2017-08-14 10:22] NateWr commented on #2675
@asmecher Ok, I've spun off the constants thing to a [new issue](https://github.com/pkp/pkp-lib/issues/2708) that I'll plan to address very soon. Are you happy with [the PR](https://github.com/pkp/pkp-lib/pull/2698) getting merged?

[2017-08-14 10:29] NateWr commented on #2306
@asmecher Here's the PR removing the `count()`:

https://github.com/pkp/pkp-lib/pull/2709
https://github.com/pkp/ojs/pull/1492

[2017-08-14 11:07] #2699 closed

[2017-08-14 12:32] NateWr commented on #2612
I was able to implement a filter for overdue review assignments. @jmacgreg would you have an opportunity to test this on real data some time before 3.1 goes out? I found a couple bugs where the filter results didn't match the overdue notices in the list. I fixed those, but there may be more and it'd be nice to see how this holds up against a large, active list.

![submissions-list-filter-overdue](

[2017-08-14 12:49] alexxxmendonca commented on #2612
Excellent! 👍

[2017-08-14 13:02] jmacgreg commented on #2612
@NateWr yep, can do. Just to confirm, this is all against master?

[2017-08-14 13:36] NateWr commented on #2612
@jmacgreg yep

[2017-08-14 13:51] NateWr commented on #1714
Deferring to 3.2.

[2017-08-14 14:47] NateWr commented on #2708
PRs:
https://github.com/pkp/pkp-lib/pull/2710
https://github.com/pkp/ojs/pull/1493
https://github.com/pkp/omp/pull/429

There will be some merge conflicts once other recent PRs get merged so I'll refresh the PRs then.

[2017-08-14 16:02] NateWr commented on #2703
PR:
https://github.com/pkp/pkp-lib/pull/2711

Tests only:
https://github.com/pkp/ojs/pull/1494

I was able to reproduce this in IE9-11. Rather than try to sniff out every browser that might have an issue, I've disabled the focus restoring when it's being put back onto the New Review Round button.

This is a hacky workaround that will have negative effects for screen-readers. Restoring focus after

[2017-08-14 16:26] NateWr commented on #1816
@asmecher It looks like a recent change might have caused issues for the tests in OMP. You made `ArticleSearch::formatResults()` no longer a static function here: https://github.com/pkp/ojs/commit/62ba59bf2e25095d98c0437bfb4c34ee8d76f93b#diff-401946acaf57017870300415e4440bdbR235

In [OMP tests for a PR of mine](https://travis-ci.org/pkp/omp/jobs/264340114), I'm getting the following error:

[code]

[2017-08-14 16:30] asmecher commented on #2675
Yes, please go ahead!

[2017-08-14 16:33] NateWr commented on #2675
Merged!

(@jmacgreg the submission ID is now displayed in the lists in `master`.)

[2017-08-14 16:35] asmecher commented on #2703
Just out of interest, what would you see replacing jQueryUI tabs? They've been a very useful organizational construct in the 3.x releases and I lean on them pretty frequently.

[2017-08-14 16:36] asmecher commented on #1816
Hmm, I thought I ported that over -- maybe it's in my local repo. I'll take a look.

[2017-08-14 16:40] NateWr commented on #2703
Still tabs, but I think eventually we'll probably have our own tabs as Vue.js components. It's a pretty low priority though.

[2017-08-14 16:40] asmecher commented on #1816
This should be fixed now, thanks!

[2017-08-14 16:42] NateWr commented on #1816
:+1:

[2017-08-14 16:45] asmecher commented on #2306
Looks good, please go ahead!

[2017-08-14 16:48] NateWr commented on #2306
Merged!

[2017-08-14 16:48] #2306 closed

[2017-08-14 16:59] NateWr commented on #2022
This is address in the PRs attached to #2612. Closing.

[2017-08-14 16:59] #2022 closed

[2017-08-14 17:25] asmecher commented on #1369
(Consider surveying JATS4R to see whether it has a good list of dates.)

[2017-08-14 17:59] bozana commented on #1896
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2713
ojs master: https://github.com/pkp/ojs/pull/1496 (submodule update ONLY)

[2017-08-14 18:01] bozana commented on #1896
@asmecher, could you take a look at the PR?

[2017-08-14 18:22] asmecher commented on #1896
Looks good, thanks!

[2017-08-14 18:26] asmecher commented on #2247
Sorry for the delay in getting to your earlier comment. Hmm, I don't love this kind of intervention, but I agree that it's justified in this case. The code looks good. Have you tested it on a couple of OJS 2.x to 3.x upgrades?

[2017-08-14 18:31] asmecher commented on #1503
None of that should be protected, I would say. It's nothing more/less than we're already exposing via the web interface, with the exception of when that's turned off -- maybe we'll need to consider a second switch for the API, as some users will turn off the publishing front end *in order* to use the API in its place.

Your summary of the access information is accurate. You can almost get away wit

[2017-08-14 18:35] asmecher commented on #2688
@ajnyga and @NateWr, I'm wary of settings that "force" workflow changes on users -- in my experience there are always exceptions, like the occasional editorial that does need a peer review. Perhaps we could use that setting to hide (by default) stages, in a way that they could be expanded and used if desired?

[2017-08-14 19:00] asmecher commented on #1816
See also https://forum.pkp.sfu.ca/t/ojs-2-4-8-1-paypal-payments-ipn-problems/32446/13 regarding which IPN variable to use to verify the amount matches the expected amount.

[2017-08-15 07:51] #1896 closed

[2017-08-15 08:01] bozana commented on #2247
@asmecher, I have tested it locally with my testing data.
@jmacgreg and @ajnyga, do you maybe have some OJS 2.4.x data (with articles that are not in review yet) I could test this on?

[2017-08-15 08:09] ajnyga commented on #2247
I do have our old OJS2 installation as it was back in January and there are probably several such articles. I have a few things I have promised to do, so not promising anything. But probably I will have time to test this before 3.1. I mean, I could test some other things as well at the same time.

[2017-08-15 09:56] NateWr opened #2714 "Incorporate browse by section into core application"
## Updated (2019-07-18)
This issue description was updated to focus on integrating the [browseBySection](https://github.com/pkp/browseBySection) plugin into the core application, similar to how category browsing is part of the application.

## Original issue description
This will be especially popular for journals using a continuous publishing model.

- [x] Browse by section
- [x] Section-specific

[2017-08-15 09:59] NateWr commented on #2707
@farhanabbas1983,  I've provided some hints on how you can go about this on [your forum post](https://forum.pkp.sfu.ca/t/ojs-3-0-3-0-1-browse-plugin-doesnt-show/26145/9) (where we prefer to do questions-and-answers) and filed a dev-oriented [issue](https://github.com/pkp/pkp-lib/issues/2714) for developing a browsing by section feature.

[2017-08-15 09:59] #2707 closed

[2017-08-15 11:28] mtub opened #2715 "update countries.xml files for locales"
`countries.xml` is supposed to be automatically generated using the ISO 3166 files of Debian's iso-codes package (https://packages.debian.org/sid/all/iso-codes) using the tools/poToCountries.php tool.

The files should be re-created every once in a while, also they are missing from the following locales (in the `master` branch):

* ar_IQ
* fi_FI
* ru_RU (though in this case there was a discussion

[2017-08-15 11:29] mtub commented on #2715
@asmecher, you've created the files so far, could you have a look at this?

[2017-08-15 11:57] bozana commented on #2433
Hi all,
Here some conceptual thoughts/questions regarding this issue and its implementation: How to implement "recommend only role"?
I think we cannot have a configurable option at the user role/group level, because it could happen that a user have different i.e. both roles, for different articles -- It looks to me that it is a per submission decision, right? -- i.e. we would need two different us

[2017-08-15 12:09] ajnyga commented on #2433
I have a lot of spoons...
"I think we cannot have a configurable option at the user role/group level, because it could happen that a user have different i.e. both roles, for different articles -- It looks to me that it is a per submission decision, right? -- i.e. we would need two different user roles/groups."

I think that editors would prefer giving a user role once than deciding this on every s

[2017-08-15 12:12] bozana commented on #2433
@ajnyga, but would that user then only be able to recommend and never make a decision? -- Maybe a user can act differently -- for one submission it would be able to decide and for another it would be only able to recommend... Somehow I think that we will have to enable this possibility too, right?

[2017-08-15 12:17] alexxxmendonca commented on #2433
I agree with @ajnyga.

At least for the SciELO Brazil journals, that is something that works across the board.

Basically we have journals where the final decision is only up to the Editor-in-Chief (Section Editor only recommends), and we have journals where the final decision is shared by both the Editor-in-Chief and the Section Editor.

But at least in our case, this is not something submission-

[2017-08-15 12:29] bozana commented on #2433
As @jmacgreg suggested above, the user with the role/group "Recommend only" (assigned as such a participant in the participants list) would only have the button "Recommend" while the user with the role/group "Journal editor" or "Section editor" would see the decision buttons.

@alexxxmendonca, in your case then, the current "Section Editors" will have to have the new role/group "Recommend only" in

[2017-08-15 12:35] ajnyga commented on #2433
@bozana https://i.imgflip.com/q0p1h.jpg

[2017-08-15 13:15] jmacgreg commented on #2433
Hi all,

The scenario I see is that you have the role, for example “Guest Editor” or “Assistant Editor” which have been created with the “recommend only” option, and they *always* can only recommend (as per the configuration). If a person who is initially a guest editor eventually graduates to a position of higher responsibility, they would be assigned a new role. If they have two editorial roles

[2017-08-15 13:22] ajnyga commented on #2433
If I understood Bozana correctly, that is pretty much how the option 2 above would work.

When assigning the section editor / Recommend only editor to a new submission, you would do:
=> Add participant
=> List all "Recommend only editors"
=> Choose the right one

Here you could have a person with both roles (section editor or Recommend only editor), all depends on which role you use when you assig

[2017-08-15 13:43] heike-r commented on #2505
Nice to know this topic is already in discussion. To give you some input from the user (journal manager) perspective:

- We would welcome the possibility to keep the complete history of a journal 'under one roof'. It reflects of the rich history some journals have. Our current OJS installation shows three times as many journals as we actually have, since we needed to set up a new journal every tim

[2017-08-15 14:50] bozana commented on #2433
Yes @ajnyga you are right... that is what I was thinking...
The thing is that you always have to assign a user to a submission in a specific role/group -- via the participants list you will always have to chose a role/group and then the user. This defines the role/group of that user within that submission.
I thought that it would be good to have an extra role/group for "recommend only" (and not to

[2017-08-15 16:29] alexxxmendonca commented on #2433
That is right, option b) seems to work best for us. Option c) would work too but I think there are plenty of roles already and adding a new one could pottentially add a layer of complexity and confusion.

I am all for roles as standard as possible and having an option at the journal level setup in which journals can configure what kind of permission their Section Editor would have (final decision

[2017-08-15 16:50] NateWr commented on #2433
Sorry to pile in here. My preference would be to take a hybrid approach of role-based and participant-based settings. I think this is a hybrid of 1&2 or a&b:

- Any role created with `ROLE_ID_MANAGER` or `ROLE_ID_SUB_EDITOR` has a configurable option defining whether they can recommend or make decisions. (Option in the Create/Edit Role form.)
- When a participant of `ROLE_ID_MANAGER` or `ROLE_ID_S

[2017-08-15 16:51] ingokeck opened #2716 "[OJS] "force_login_ssl = On" in config does not force https on user registration pages"
Hi all,

One of our users noticed that even though we have set the system-wide config.inc.php to enforce HTTPS for logins (which works fine for logins):

[code]

...this does not force HTTPS for the new user registration pages. This is true to the word of the description I guess; but from a security point of view it makes no sense to transport the password in the clear at registration and then enf

[2017-08-16 07:22] bozana commented on #2433
@NateWr thanks a lot! I think that would cover everything, so if no objection I will go with that...
Maybe then just one more question: I can use user_group_settings to save that setting for a user group. Shall I add a new column for the DB table stage_assignments? -- currently there is no DB table stage_assignments_settings...

[2017-08-16 07:29] ajnyga commented on #2433
Maybe this is already mentioned and thought of, but what actually happens when the new "junior section editor" presses the "Recommend" button? I mean, does it open an email tempalte and she will have an opportunity to enter free text of some sort that the editor will see (and how/where will that be strored)?

[2017-08-16 07:51] bozana commented on #2433
@ajnyga, when the button is pressed, a modal will be displayed with the recommendations list and an e-mail template for the editors.
The recommendations will get new constants, like the decisions here https://github.com/pkp/ojs/blob/master/classes/workflow/EditorDecisionActionsManager.inc.php#L20-L26. They will be saved together with the decisions in the DB table edit_decisions. For now, they will

[2017-08-16 08:46] NateWr commented on #2433
@bozana it might be worth thinking about how this intersects with #1662. Ideally, a stage could have a status which we could query in the database (and then filter by in the submissions list). And a status which could be used to indicate to a Journal Manager that a recommendation has been made would be useful.

[2017-08-16 08:49] bozana commented on #2433
@NateWr, oh yes, I will... 👍

[2017-08-16 10:01] NateWr commented on #2703
Tests passed. Just had to rebase to resolve a conflict. @bozana can you do the code review?

[2017-08-16 15:18] mfelczak opened #2717 "[OJS] Add editor/reviewer discussions"
In OJS3 we don't have a place where an editor can have discussions with reviewers. The existing review discussion area is limited to the submission's participants, which doesn't include reviewers. This was available in OJS2 via a comments-with-reviewer thread available to editors. OJS3 editors are currently using email outside of OJS3 to maintain discussions and these are being excluded from the o

[2017-08-16 15:55] mtub commented on #2603
Hi @szmigieldesign , @puchatek108 - I've merged the OJS updates from @szmigieldesign - feel free to review, send updates etc. - I will upload the pkp-lib changes soon.

For the future, I'd appreciate pull requests - it's just too much work to hand-pick the files from a larger collection containing leftover code from other plugins etc.

[2017-08-16 17:16] szmigieldesign commented on #2603
Many thanks @mtub. I'm sorry for sending such disorganized files. We simply worked on top of 2.x version the hardcore way. I believe that merging it and continuing the work on GIT will provide that no such thing happens in the future.

[2017-08-17 02:31] asmecher commented on #1124
Also needed for OJS 3.x.

[2017-08-17 03:05] asmecher commented on #2433
Sorry to jump in at a late hour -- good conversation so far. Some options (just for the sake of considering):

- What about just adding a journal setting that causes all `ROLE_ID_SUB_EDITOR`s (e.g. Section Editors, Series Editors) to be able to just recommend rather than recording?
- What if we *forced this to be always enabled*, i.e. made *all* Section Editors recommend-only? (@stranack) This may

[2017-08-17 03:37] asmecher commented on #2690
Thanks, @marcin-golebiowski! Merged.

[2017-08-17 03:37] #2690 closed

[2017-08-17 06:28] ajnyga commented on #2433
Hi all,

Regarding @asmecher suggestion two, I think that there is a problem there. Many journals use Section editors to solve the problem that editors see ALL the submissions, including their own. So although using section editor role, they presume that the role has full rights.

Also, Section editors in many cases have a specific section to take care of and I would presume that the editors of th

[2017-08-17 09:12] bozana commented on #2703
@NateWr, looks good :-) I've merged the pkp-lib. What about ojs -- it says tests only -- this I should not merge, right? Can this issue then be closed?

[2017-08-17 09:55] NateWr commented on #2703
Thanks! Yep! Closing! :)

[2017-08-17 09:55] #2703 closed

[2017-08-17 12:15] bozana commented on #2433
I agree with @ajnyga. Thus, I would rather leave the configuration option for the user group management page, when editing and creating a new user group and only for groups with role_id_manager and role_id_sub_editor. As @NateWr suggested.

But: could we maybe not put the option for a stage_assignement? -- the stage_assignment is so much used in the code, so I will have to double check every place

[2017-08-17 13:02] NateWr commented on #2433
@bozana Your dual-role suggestion makes sense. And if I understand the needs of others who have commented, it sounds like it will capture 90%+ of the use-cases. It's always hard to balance the benefits of one approach with the additional work it might require. So I'll just outline what I see as the benefits of housing the permissions in the stage assignment.

From a UX perspective, the dual-role a

[2017-08-17 13:08] bozana commented on #2433
Yes, OK, I see... :-) I will then continue as already started... with the option for a stage_assignment... :-) THANKS A LOT!!! :-)))

[2017-08-17 15:05] AhemNason opened #2719 "Crossref plugin input feedback issues"
In 3.x there are currently a few issues with the Crossref plugin where there's confusing feedback for users. The first issue is with a large number of DOIs listed, clicking on the page numbers to go further down the list causes a long lag and no feedback to the user that the new page is loading.

Once I'm on the other page, if I try to register a DOI on that page, I get a "Do you want to leave thi

[2017-08-17 15:08] NateWr commented on #723
Done:

- Removed all citationFormat plugins
- Replaced with a new [citationStyleLanguage](https://github.com/pkp/citationStyleLanguage) plugin.
- Update the How-to-Cite block to fit new pattern.
- Support [CSL](https://github.com/pkp/citationStyleLanguage/tree/master/citation-styles) and [template-based](https://github.com/pkp/citationStyleLanguage/blob/master/CitationStyleLanguagePlugin.inc.php#L

[2017-08-17 15:25] NateWr commented on #2612
@bozana tests passed. Can you code review?

PRs:
https://github.com/pkp/pkp-lib/pull/2704
https://github.com/pkp/ojs/pull/1490
https://github.com/pkp/omp/pull/428

[2017-08-17 15:32] ajnyga commented on #723
You were maybe thinking of tagging @lilients ?

[2017-08-17 15:36] asmecher commented on #723
Does running Compower with the `--no-dev` option help at all?

[2017-08-17 15:47] NateWr commented on #723
I told you I get your usernames mixed up! :)

[2017-08-17 15:59] NateWr commented on #723
Yes! Down to `2.1mb`. Most of that is in `citeproc-php` and `1mb` of it is in the `citeproc-php` tests. I looked at the project's releases but these are just archives of the full project source.

Would it be worth approaching him and seeing if he'll consider a release package for production? Or would this be something we add to the exclusions in `buildpkg.sh`?

[2017-08-17 16:30] bozana commented on #2719
@AhemNason, how many total articles/DOIs do you have and how many per page? Could you please see, if something similar happens with the articles paging in the native export plugin? Or could I maybe see that installation?

[2017-08-17 17:44] mtub commented on #723
Just from my bystander's perspective: This makes me happy, good to see this completed 👍

[2017-08-17 21:58] mtub commented on #2603
Hi @puchatek108, all contributions from @szmigieldesign have been reviewed, updated, and merged. Please compare with your files and send pull requests if necessary, so that we can all look at your suggestions.

[2017-08-18 08:15] bozana commented on #2719
Hmmm... The first problem seems to be a general problem with current paging in the grids in 3.0.2.
Either
-- to somehow fix paging in the grids, to display "loading" message
or
-- to try to solve it with Vue.js -- Vue.js will be used for submissions listing in the next release
(To use the same grid as on the submissions/dashboard page in 3.0.2, with "load more" bar would not be god, because the us

[2017-08-18 11:39] NateWr commented on #2577
@jmacgreg and @snminton Does this look like it addresses the feature request?

![selection_054](https://user-images.githubusercontent.com/2306629/29457425-06dcddba-8412-11e7-9048-75c97a5c2963.png)

[2017-08-18 12:48] jmacgreg commented on #2577
Hi @NateWr that looks good to me! @snminton, I can schedule an upgrade for your system to run a test shortly, if you like.

[2017-08-18 13:49] NateWr commented on #2577
PRs:
https://github.com/pkp/pkp-lib/pull/2723
https://github.com/pkp/ojs/pull/1499

(Tests running.)

[2017-08-18 14:30] NateWr commented on #1640
@bozana Here's a small one. Mind code reviewing?

[2017-08-18 16:32] snminton commented on #2577
Looks great, thanks!

On Fri, Aug 18, 2017 at 6:49 AM, Nate Wright <notifications@github.com>
wrote:

[2017-08-18 18:29] asmecher commented on #723
I'd suggest we just start using the `--no-dev` option in our build script (`tools/buildpkg.sh`). That'll trim down other dependencies considerably, and we should be excluding dev dependencies from the distrib packages anyway.

[2017-08-19 12:48] bozana opened #2724 "role IDs for default email templates"
The role IDs in emailTemplates.xml and DB table email_templates_default should be adapted/migrated... It seems like they are not used?

[2017-08-19 15:04] t4x0n commented on #2561
Hi @NateWr, I'm Editor in three journals and have some knowledge about code, so I'm talking from two sides of the problem.

I don't know how and how much you are work in this issue, but I have an idea for implementing an easy way to stop sending short notifications for announcements and when a new issue is published (in this case we have problems too because we make some proof before the final pub

[2017-08-20 18:25] mtub opened #2725 "[OJS] Update es_ES locale for OJS 3.1 release"
Issue tracking the updates to the es_ES locale.

[2017-08-21 05:39] asmecher commented on #1662
@NateWr, is there part of this you'd like to consider for 3.1? I'm leaning towards deferring.

[2017-08-21 05:40] asmecher commented on #1265
@bozana, is there anything you'd like to prioritize for 3.1? I'm leaning towards deferring to 3.2.

[2017-08-21 05:41] asmecher commented on #605
@NateWr, any firm priorities for 3.1?

[2017-08-21 05:41] asmecher commented on #603
@NateWr, any firm priorities for 3.1?

[2017-08-21 08:22] bozana commented on #2612
👍 Everything merged, thanks!!! Can this issue be closed?

[2017-08-21 08:42] bozana commented on #1265
@NateWr wanted to improve the layout and styles here, else, the report is working, so I believe it can be deferred.

Maybe one thing to consider now: How could we improve the  text "Published After" and "Published Before" (s. the report form image above), so that it is more intuitive for users? -- If the user for example wants to see the access in April 2017, she/he has to choose Published After =

[2017-08-21 08:47] bozana commented on #1640
👍 Merged pkp-lib, thanks!!! Can the issue be closed?

[2017-08-21 13:53] NateWr commented on #723
Ok, would you like to see that change as part of a separate PR or this one?

[2017-08-21 14:08] NateWr commented on #2612
Woohoo! :tada:

There are additional filtering requests in this issue so I've deferred it for OJS 3.2.

[2017-08-21 14:12] jmacgreg commented on #2612
Awesome!!!! Thanks Nate, I can’t wait to see this in production.

[2017-08-21 14:16] #1640 closed

[2017-08-21 14:44] bozana commented on #1265
@NateWr, the later is the case -- it reports download activity between those dates... THANKS!!!

[2017-08-21 15:32] asmecher commented on #723
Fine to sneak it in here, thanks!

[2017-08-21 16:14] NateWr commented on #723
Snuck it in. Tests are running. :+1:

[2017-08-21 16:33] NateWr commented on #2577
Tests passed. @bozana can you code review? :+1:

[2017-08-21 16:35] NateWr commented on #2515
I'll prepare releases for the themes after 3.1 is released. Closing.

[2017-08-21 16:35] #2515 closed

[2017-08-21 16:36] NateWr commented on #2473
Hi @ajnyga, if you're still able to do a screencast of the problem, that'd be great. Otherwise I may close this until we get additional bug reports.

[2017-08-21 20:37] asmecher commented on #1816
FIXMEs remaining -- all outstanding items above are summarized here:
- [ ] Audit subscription policy form settings
- [ ] Filter form on individual (& presumably institutional) subscriptions grid
- [ ] Test/fix payments in OMP master
- [ ] Make sure plugin-based composer dependencies (such as for PayPal plugin) are built into packages.
- [ ] Check IPN amounts when taxes added per https://forum.pkp.

[2017-08-21 21:45] asmecher commented on #2724
@bozana, just FYI, those were purely informational -- they were used to show who the sender and recipients were in the Prepared Emails list.

[2017-08-21 22:29] asmecher commented on #2715
Gob of code to extract the English country list out of the JSON file Debian has started using:

    php -r '$a = json_decode(file_get_contents("iso-codes/json/iso_3166-1.json"));foreach ($a as $b) foreach ($b as $c) {echo "<country name=\"" . $c->name . "\" code=\"" . $c->alpha_2 . "\"/>\n";}'

[2017-08-21 22:44] asmecher commented on #2715
@mtub, could you have a look at https://github.com/pkp/pkp-lib/pull/2728?

Note: the standards are supplied as maps from English text to the translation in question. Since e.g. many of the translations still refer to Czech Republic rather than Czechia, the mappings don't match. I've left them as they are, i.e. I haven't manually corrected this, and I'd suggest we stick with that rather than gettin

[2017-08-21 23:17] asmecher commented on #1828
@NateWr, does @bozana's suggestion work for you? Would you like to put some effort into keyword display for 3.1?

[2017-08-22 06:48] puchatek108 commented on #2603
Ok, thank You. Ill do it when I came back from summer holidays. All best!

[2017-08-22 09:18] bozana commented on #1828
@NateWr, I can also do 4) if you would tell me where and how to display them best :-)

[2017-08-22 10:23] NateWr commented on #1828
@bozana That'd be great. I'd think they'd be best just below or above the abstract. You should be able to do it with the following HTML, requiring no additional styling.

[code]

[2017-08-22 10:55] NateWr commented on #2675
Forgot to implement these changes for the catalog entry list panel in OMP.

PR:
https://github.com/pkp/omp/pull/431

[2017-08-22 11:47] Ph-We commented on #1828
I would vote either for the 'above the abstract' option, or for putting them somewhere between the galley and 'published' blocks.
The abstract may be too long, and keywords may usually describe the article 'in a few words'. So it would be better for them to be visible at first glance.

[2017-08-22 12:10] MarHerUMR opened #2729 "[OJS] Test environment set up won't work as stated in README"
The README tells you:

The problem is that the testserver.sql has been removed since 2014.

Is there a newer sql file that I'm missing?

[2017-08-22 13:13] NateWr commented on #2675
@asmecher one more PR to code review as part of this issue. It's pretty straightforward, just a few minor changes to the catalog list in OMP to bring it in line with the submissions list changes. Mind code-reviewing?

[2017-08-22 14:52] bozana commented on #2673
PR:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2731

[2017-08-22 15:03] bozana commented on #2673
The same notification is send also here: https://github.com/pkp/pkp-lib/blob/master/controllers/grid/users/reviewer/form/ReviewerForm.inc.php#L398-L406, thus removing the second one...

[2017-08-22 15:11] bozana commented on #2433
@NateWr, I defined these review round statuses:

I would then leave it to you to decide how to display them on the submission listing page, OK?

[2017-08-22 15:17] NateWr commented on #2708
Tests passed. @asmecher mind code reviewing this approach for passing constants to the frontend?

[2017-08-22 15:25] NateWr commented on #2433
Ok great. We'll need to surface this information in the API at least for the backend endpoint. We'll need to know if the current user can make decisions on each stage, and we'll need access to those new constants.

We've got an approach for passing constants to the frontend [here](https://github.com/pkp/pkp-lib/pull/2710) that should get merged soon.

Then we'll probably want to add the informatio

[2017-08-22 15:38] marcbria commented on #1828
I arrive late to this thread... so sorry in advance if I'm only adding noise to the discussion.

@NateWr I have doubts here:
* Is "strong" the right tag for the label? https://www.w3schools.com/tags/tag_strong.asp
* Should be better (for theming) build a ul-li list for each keyword?
* Why not adding "rel=tag"?

Did you search for "best practices" (or "patterns" or "components" or whatever they lik

[2017-08-22 15:50] Vitaliy-1 commented on #1828
Google is not indexing keywords at all. So they are needed mostly for
authors for better navigation inside the journal.

2017-08-22 18:38 GMT+03:00 Marc Bria <notifications@github.com>:

[2017-08-22 15:57] ajnyga commented on #2473
Hi,

This was recorded with iPad Air 2, IOS 10.3.2.

Between 0:00-0:15 I try to select a journal from the pull down menu, it does not respond.
Between 0:17-0:30 I first try to click the "log out" link but it does not respond. I then click on "My profile" link, which causes the menu to shift up (around 0:23). After this, the log out link responds to the click.

https://youtu.be/q1MpcV5ikoU

[2017-08-22 15:59] NateWr commented on #1828
I suppose it probably would be good to follow the `.item`, `.label`, `.value` pattern we've already established:

[code]

But we'll need to update the CSS for the default theme and defaultManuscript to place them inline (like the DOIs). (@bozana, you can give me a nod when you want me to do that.)

The keyword data should be available for themers to build their own HTML output.

I jumped the gun a

[2017-08-22 16:01] NateWr commented on #1828
I did look at eLife, PlosOne and UbiquityPress. Only Ubiquity was even displaying keywords, so they don't seem to be a high priority, and Ubiquity is probably just displaying them because they were part of OJS 2. Still, they're doing `<label>: <list of keywords>`.

[2017-08-22 16:02] NateWr commented on #2473
Thanks @ajnyga! I'm not able to access the video. Maybe you need to change the access permissions on it?

[2017-08-22 16:03] ajnyga commented on #2085
and did not keep that promise. I need a test server online to check these with my ipad, but I now have that in the works. soon soon.

[2017-08-22 16:06] ajnyga commented on #2473
sorry, try now.

[2017-08-22 16:22] NateWr commented on #2473
Hmm, nothing jumps out at me from the video. Seems like a long shot, but can you removing the multiple contexts dropdown menu from `usernav.tpl` and testing to see if you still have the issue?

https://github.com/pkp/pkp-lib/blob/master/templates/header/usernav.tpl#L41-L55

[2017-08-22 16:38] ajnyga commented on #2473
I will try that, but I have to create a test server for that. I am doing that anyway.

[2017-08-22 20:00] Ph-We commented on #1828
@Vitaliy-1

authors for better navigation inside the journal.
I think Google indexes keywords, but they do not use them for ranking pages indexed. Google Scholar should index both Dublin Core and HighWire (GS) tags. At least, Arlitsch & OBrien recommend adding the appropriate metatags, and they did a lot of research in this field :)
https://books.google.ru/books/about/Improving_the_Visibility_and_

[2017-08-23 16:38] NateWr commented on #1144
I've made some changes to address the requests in this issue as well as #1258 and other feedback from our UI/UX testing. These changes include:

1. The Request Revisions and Resubmit for Review buttons have been combined into a single button, with the decision selection in the modal.

![request-revisions](https://user-images.githubusercontent.com/2306629/29627167-0b1af306-8829-11e7-90f2-9181801f55

[2017-08-23 16:41] NateWr commented on #1258
This issue is being addressed alongside #1144. You can see the proposed changes here: https://github.com/pkp/pkp-lib/issues/1144#issuecomment-324392595

[2017-08-23 16:45] NateWr commented on #2577
All merged!

[2017-08-23 16:45] #2577 closed

[2017-08-23 16:50] NateWr commented on #723
@asmecher the tests are failing on some XML validation in the composer dependencies for citeproc-php. Where do we define files to exclude from XML validation? I think you've told me this before but I can't remember.

[2017-08-23 16:53] NateWr commented on #723
@asmecher Also, the PHP tests are failing to find Guzzle for the unit tests. https://travis-ci.org/pkp/ojs/jobs/267147800#L2308

Could this be related to adding the `--no-dev` option to our `buildpkg.sh` composer command?

[2017-08-23 17:21] alexxxmendonca commented on #1144
I really like this. It looks very straightforward and it gives a sequential feeling to it.

I just have one suggestion: in the first modal windown, after clicking on "Request Revisions", I think it would make more sense the default option to be "Revisions will be subject to a new round of peer review".

Chances are that revisions will go through peer review again so I would consider the "Not going

[2017-08-23 17:24] asmecher commented on #723
The `buildpkg.sh` script isn't used for Travis testing -- the Composer dependencies are installed in `.travis.yml` without `--no-dev`. That failure looks like a temporary network error of some sort; I'd suggest restarting and seeing if it behaves differently.

[2017-08-23 19:57] asmecher commented on #2675
No objections, thanks -- please go ahead!

[2017-08-23 20:01] asmecher commented on #2708
@NateWr, why not just use `define_exposed` (instead of `define`) where those constants are originally defined? That would reduce the number of backflips.

[2017-08-23 23:54] asmecher commented on #1817
Moved over to #1816.

[2017-08-23 23:54] #1817 closed

[2017-08-24 00:05] marcbria commented on #1828
* About "strong", I'm happy with @NateWr new proposal (without "strong" ;-) )

* About html structure based on ul-li, it's for making theming easier... and progressively move to something more standard (BAM?).

* About rel="tag", I just forget out keywords aren't linked to a key-page so actually didn't make much sense microformats (ToDo: link keywords :-) )

BTW, taking a look to Plos and Ubiquity

[2017-08-24 04:53] ashourian commented on #634
Have you found any solution to the problem of exporting pubmed with including all the
authors affiliations?

[2017-08-24 12:09] #2675 closed

[2017-08-24 12:20] NateWr commented on #1144
@alexxxmendonca I think you're right that a new round of peer review is the better default option. However, I'm nervous about prior conditioning.

We used to have two buttons: Request Revisions and Resubmit for Review. Those have been combined to Request Revisions. In the past, Request Revisions has been the button for _not_ requiring a new round of reviews.

Since existing users have learned that

[2017-08-24 13:21] NateWr commented on #2708
One of Vue.js's architecture choices is for components to be explicit about their dependencies and relationships to other components. That's why you have to name a `prop` when you're passing it down to a component:

[code]

And then declare it again in the receiving component:

[code]

That leads to some unnecessary verbosity. We have to name the `i18n` prop on just about every component we have.

[2017-08-24 13:49] bozana commented on #2729
sorry i accidentally pressed that button :-\

[2017-08-24 15:05] bozana commented on #2433
@NateWr, just to double check/be sure because I have not such a good overview yet:
Because the _recommendOnly_ option is only applicable to the review stages, I will add `currentUserCanMakeDecisions` index/key (set to true or false) to the `stage` array/data only for the internal and external review stage in the `SubmissionService::toArrayStageDetails()`, correct?
Else, I will wait till the consta

[2017-08-24 15:40] NateWr commented on #2433
@bozana Yeah, just add the `currentUserCanMakeDecisions` boolean to the review stage for now. (Or should it be `currentUserCanRecommendOnly`? Whatever matches your existing naming scheme better.)

Then I presume the review round status information is getting passed already. So you can already update `SubmissionsListItem.vue` by checking the review round status without the constants, and add them i

[2017-08-24 16:43] NateWr commented on #2616
@mtub I found a few more strings to change. What do you think about the changes from "link above" to "Participants list". The list is no longer "above" the message. Should the strings get removed from the other translations or left as-is?

https://github.com/pkp/pkp-lib/pull/2735/files#diff-f69e5caa980791d6835909656e9eace7L590

PRs:
https://github.com/pkp/pkp-lib/pull/2735
https://github.com/pkp/o

[2017-08-24 21:07] thaysecantanhede commented on #2578
Same occurs in portuguese. Could that be fixed via translator plugin?
![image](https://user-images.githubusercontent.com/31325173/29688722-0bda7ffe-88f7-11e7-9486-7d8bc1117714.png)

[2017-08-25 10:14] ajnyga commented on #2410
This was fixed and merged already in April...

[2017-08-25 10:14] #2410 closed

[2017-08-25 11:13] NateWr commented on #1853
Ok, I think I've addressed the outstanding issues. These PRs address:

- Stage status notifications (assign a copyeditor, awaiting copyedits) are updated when a discussion is created from the participants grid.
- Submission metadata tabs are reloaded when a DOI is deleted.
- Import/export settings pages are reloaded when the DOI settings form is saved from those pages.

PRs (tests running):
https:

[2017-08-25 11:25] ajnyga commented on #2543
Hi @bozana,

I am now getting this error: Deposit was not successful! The DOAJ API returned an error: '1 - {"status": "bad_request", "error": "Supplied data was not valid JSON (ref: f71e4b54-8987-11e7-acca-04014a62b401)"}'.

I tested first with a single article and used the "manual" export.

[2017-08-25 11:30] ajnyga commented on #2543
Sorry, false alarm. For some reason the change in the filter_groups table was not successful. Re-applied the change and it works now.

I will test the automatic deposist witth all the remaining articles next.

[2017-08-25 11:47] ajnyga commented on #2543
@bozana could it be that the plugin does not respect the "OJS will deposit articles automatically to DOAJ. Please note that this may take a short amount of time after publication to process. You can check for all unregistered articles." selection?

[2017-08-25 12:06] NateWr commented on #2576
On a fresh install, the tasks panel is loaded before the admin is logged in, leading to access denied errors.

[2017-08-25 12:17] NateWr commented on #2576
PR:
https://github.com/pkp/pkp-lib/pull/2737

Tests only:
https://github.com/pkp/ojs/pull/1507

[2017-08-25 12:27] NateWr commented on #723
@asmecher it turns out that it's failing because PHPUnit is trying to run tests in the composer dependencies of `citeproc-php`:

https://travis-ci.org/pkp/ojs/jobs/267996944#L2298

I thought I found the place to exclude these tests, but it doesn't seem to have worked:

https://github.com/pkp/pkp-lib/pull/2718/commits/0a7b803fc0103a6eece9c9a5a54d61b2be0d24c9

Do you know how I'd go about telling PH

[2017-08-25 12:27] ajnyga commented on #2543
Ok, so @bozana the scheduled task is not working.

The scheduled task started, but it only has these two lines:
[code]
If I do `SELECT * FROM `submission_settings` WHERE `setting_name` = 'doaj::status' AND `setting_value` = 'registered'`, I can see that no new articles are getting registered even though the task should be running. I am able to register an article by selecting it from the DOAJ plug

[2017-08-25 12:32] ajnyga commented on #2557
Hi @asmecher, seems like there could be a fix for this now: https://github.com/box/box-content-preview/pull/332

[2017-08-25 13:51] NateWr commented on #787
We don't even use thumbnails in OJS 3. Moved the milestone over to OMP, but it doesn't seem like a big priority there since there's not much theme work in place.

[2017-08-25 13:57] NateWr commented on #2473
Finally got my wife's iPad going and I can replicate your video. I'll see what I can figure out.

[2017-08-25 15:27] NateWr commented on #2473
Arg! I'm locked out again and don't remember the access code!

I decided to look at the Bootstrap4 dropdown for clues and found [this tidbit](https://github.com/twbs/bootstrap/blob/v4-dev/js/src/dropdown.js#L159-L166). I'm wondering if this is what's causing the taps on the submenu links to not fire.

If you (or anyone) can get a test situation set up with an iPad, can you try adding the following

[2017-08-25 15:45] asmecher commented on #2557
Thanks, @ajnyga -- I see those changes are approved but not merged, so I'll schedule this issue for 3.1 and hopefully it'll get included before that has to get wrapped up. Then we can update the version of PDF.js included in OJS before the release is built.

[2017-08-25 16:07] asmecher commented on #2729
@MarHerUMR, that refers to an old testing environment that we've since removed. I've updated the documentation to refer instead to the Travis testing environment as our "reference" testing setup -- you can set up a local environment by referring to how the `.travis.yml` script does it. (This is of course less ideal than step-by-step documentation, but has better longevity.)

[2017-08-25 16:07] #2729 closed

[2017-08-25 18:23] ctgraham commented on #2500
The `NativeXMLSubmissionFileFilter` will die if presented with a non-existent path within the `href`.

[2017-08-25 18:43] ajnyga commented on #2473
I finally have a server online where I can test this as well if needed. You probably already tried removing the contexts dropdown as well?

This is definitely a Safari issue, or at least I do not get this with my Android phone (Chrome).

[2017-08-25 18:52] ajnyga commented on #2557
Hi, I think that it does not fix PDF.js itself, but a way to get around the problem.

They are basically checking if the user is using Safari on then changing the value of `PDFJS.disableFontFace`.  Not sure what that does exactly.

[2017-08-25 19:09] asmecher commented on #2557
Ah, I see -- PDF.js seems to be tracking this at https://github.com/mozilla/pdf.js/issues/8231. There's a link there to a Ghostscript command line that'll downgrade the PDF to a lower version and thus work around the issue that way. I'd like to avoid patching/tweaking upstream code in favour of watching for the upstream fix.

[2017-08-25 19:13] ajnyga commented on #2557
Yes I agree, PDF.js has to solve this someway in the near future. Probably there will be a lot more people seeing this issue when more pdf's with newer versions are created and used with pdf.js.

[2017-08-25 19:41] ajnyga commented on #2543
Hi @bozana. There were a couple of small typos in the code, I made a pr: https://github.com/bozana/ojs/pull/5

I can confirm that the automated article registration to DOAJ is now working! All 500+ articles are registered at least from the journal I am looking at. The Task is still running though, I will check it tomorrow. But I am not seeing any more errors.

[2017-08-25 22:31] asmecher commented on #723
Rather than excluding it the way you've done above (which as you say isn't working), try specifying the test directories less clumsily in the phpunit command lines. I'll bet specifying `lib/pkp/plugins/*/*/tests` instead of `lib/pkp/plugins` in https://github.com/pkp/pkp-lib/blob/ojs-3_0_2-0/tools/runAllTests.sh#L182 (and the equivalent for the app plugins path) would do it.

[2017-08-25 22:35] asmecher commented on #2708
The flip side is that all the explicit statements of what-constant-is-needed-where will need to be maintained, and in my experience it'll lead to a cruft buildup as constants are added but never removed. We can see this aplenty in the locale files, import statements, etc.; if we were able to delegate all imports to an autoloader and do away with `import` throughout, we'd probably lose a few thousa

[2017-08-25 22:42] asmecher commented on #634
@ashourian, see the above comment.

[2017-08-25 23:38] asmecher opened #2739 "Change precedence of Google Scholar date options"
Google Scholar is finding the current `citation_date` meta tag to be unreliable in some cases. These include...

- Installs from 3.0.x/3.1.x that used standard workflow tools to import back-issues
- Installs from < 3.2.5 not yet patched for http://pkp.sfu.ca/bugzilla/show_bug.cgi?id=6451
- Installs with data from < 2.4.6 experiencing https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8934
- Non-standard

[2017-08-26 07:24] Jirrka opened #2740 "[OJS] unsecured "Share it" button"
If I run OJS in https mode there is small bug - pages, on which there is "Share it" button are unsecure.
It is easy to change in file classes/rt/ojs/SharingRT.inc.php

line 98

to
**$btnUrl = (strpos(trim($btnRecord['img']), 'https://') !== 0 ? "https://s7.addthis.com/static/btn/" : "") . $btnRecord['img'];**

and everything looks to work ok.

[2017-08-26 15:47] t4x0n commented on #2561
Hi @NateWr,

thanks for your answer. I am according with you about the human error, so yes, is good to have an option for control a default behavior and avoid sending emails by mistake.

[2017-08-28 07:25] ajnyga commented on #2543
@bozana I just checked and the task was closed succesfully. The first run just took around 30 minutes. I guess there were other journals with non registered articles as well.

@emanuil-tolev if you like to check that everything worked well in your side, the DOAJ task run between 2017-08-25 22:18:28 and 2017-08-25 22:35:01 Finnish time.

[2017-08-28 07:27] bozana commented on #2543
Thanks a lot @ajnyga -- I will then merge those changes....
THANKS. THANKS. THANKS, THANKS. THANKS. THANKS, THANKS. THANKS. THANKS, THANKS. THANKS. THANKS, THANKS. THANKS. THANKS... :-)

[2017-08-28 07:34] ajnyga commented on #2543
You're Welcome You're Welcome You're Welcome You're Welcome You're Welcome You're Welcome You're Welcome You're Welcome You're Welcome You're Welcome.

[2017-08-28 09:14] #2543 closed

[2017-08-28 09:49] atarix83 commented on #2634
@bozana yes now pdf donwload is logged

[2017-08-28 10:02] NateWr commented on #2473
This has really thrown me for a loop. It seems to be related to an iOS peculiarity with event handling, but I haven't been able to narrow it down. [This code](https://github.com/pkp/pkp-lib/blob/master/js/controllers/MenuHandler.js#L58-L64), which lets the first tap on a dropdown open the submenu instead of follow the link, seems to effect the clicks on the submenu links. However, it's not actuall

[2017-08-28 10:20] NateWr commented on #2708
I think we're both trying to tackle the same problem, we just maybe see it's source in different places. The locale cruft and the difficulty of maintaining it is one the main reasons I prefer this approach, because it makes explicit the dependencies which are otherwise difficult to uncover. When we remove a constant from a `.vue` file, we should be able to identify what `*Handler.inc.php` file to

[2017-08-28 10:47] #2616 closed

[2017-08-28 11:13] bozana commented on #2634
@atarix83, thanks a lot! Is also everything else OK now?

[2017-08-28 11:13] #2634 closed

[2017-08-28 12:09] atarix83 commented on #2634
@bozana I'll keep track of the statistics of the next months to have a report, thanks

[2017-08-28 13:41] NateWr opened #2744 "Search bar in ListPanel has wrong styling in iOS"
iOS devices override the `[input type="search"]` styles to make fully-rounded corners. These should be reset to use the same `border-radius` as other devices.

[2017-08-28 14:15] NateWr commented on #2473
Here are some PRs implementing the first option. I reckon we'll get some negative feedback for removing a couple of clickable links, but it seems like the least-worst option as long as I can't determine the underlying cause of the iOS issues.

PRs:
https://github.com/pkp/pkp-lib/pull/2745
https://github.com/pkp/ojs/pull/1510
https://github.com/pkp/omp/pull/433 (TESTS ONLY)

[2017-08-28 14:17] NateWr opened #2746 "Submission list filtering doesn't work in iOS"
In Safari on iPad, clicking the Filter button in the new list panels doesn't open the filtering options. :(

[2017-08-28 14:19] NateWr commented on #723
Tests passed! @asmecher would you code review?

PRs:
https://github.com/pkp/ojs/pull/1498
https://github.com/pkp/pkp-lib/pull/2718

[2017-08-28 14:33] NateWr opened #2747 "Load article-specific data when using the query builder"
This issue is split off from #2163. It's about PHP notices related to missing article columns. A PR and discussion can be found here:

https://github.com/pkp/ojs/pull/1483

But I wanted to tag it to an issue so it doesn't get forgotten. (h/t Bozana for reminding me about it. :)).

[2017-08-28 15:38] NateWr commented on #2746
Turns out class names starting with two hyphens (eg - `--isVisible`) are not valid and only Safari seems to care. :)

PRs:
https://github.com/pkp/pkp-lib/pull/2748
https://github.com/pkp/ojs/pull/1511 (tests only)
https://github.com/pkp/omp/pull/434

[2017-08-28 15:38] NateWr commented on #2744
I rolled the fix for this into the PRs here: https://github.com/pkp/pkp-lib/issues/2746#issuecomment-325389515

[2017-08-28 15:42] bozana commented on #2433
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2749
ojs master: https://github.com/pkp/ojs/pull/1512

[2017-08-28 15:43] bozana commented on #2433
@NateWr, could you review those PRs above?

Some notes:
In a strange case where an user was assigned to a submission in the editorial role several times and one of those assignments have recommendOnly option set, the user will have recommendOnly permissions i.e. only recommending and not the decision making possibility.

If the editor recommendation is made before any review is completed, the reco

[2017-08-28 16:10] NateWr commented on #2708
Merged. I'm happy to re-evaluate down the line if we feel like it's not addressing our maintenance concerns well.

[2017-08-28 16:11] #2708 closed

[2017-08-28 16:11] #2576 closed

[2017-08-28 16:15] NateWr commented on #1853
@bozana, tests passed, can you code review?

[2017-08-28 19:15] asmecher commented on #2282
@ctgraham, you're assigned on this one -- is it something that you'll be able to put time into in the next couple of weeks? If not, we can probably reassign or reschedule.

[2017-08-28 19:26] ctgraham commented on #2282
I think this is a "not our problem" issue.  OJS is getting lousy PATH_INFO from PHP.  I don't think we want to maintain a workaround for it.   I think noting here the workaround of removing "index.html" from the [DirectoryIndex](https://forum.pkp.sfu.ca/t/single-journal-url-htaccess-configuration/27931/14) is sufficient.

[2017-08-28 19:26] #2282 closed

[2017-08-28 20:08] sssoz commented on #2705
@NateWr

Positioned in the footer, within the container, at the bottom right of the page, like this:
<img width="1133" alt="screen shot 2017-08-28 at 16 07 35" src="https://user-images.githubusercontent.com/6668406/29791474-1185b876-8c0b-11e7-8be9-70a2ce6519aa.png">

[2017-08-28 22:24] asmecher opened #2751 "Fix grid refreshing"
A recent code change appears to have broken grid refreshing -- an item, when bounced off the server e.g. by creation or edit, will re-appear in the grid but will no longer be editable and may display incorrectly.

[2017-08-29 08:43] NateWr commented on #2751
I have also noticed that in some cases (eg - Email Templates), when an item is edited, the grid refreshes with that item at the top. And items which would have appeared above it seemed to disappear.

[2017-08-29 09:05] NateWr opened #2752 "Running OJS 3 upgrade script disrupts active theme"
If you run the OJS 3 database upgrade script (`php tools/upgrade.php upgrade`), the active theme gets disrupted. The frontend loads as though it can not find an active theme (no stylesheets/scripts registered or loaded).

Under Settings > Plugins, all themes appear to be disabled. Enabling the active theme there seems to fix things. As far as I can tell, in the `plugin_settings` table, running the

[2017-08-29 10:11] bozana commented on #2752
Hmmm... Maybe this is my fault, s. this change https://github.com/pkp/ojs/pull/1488/files ?
Are those site wide plugins? Hmmm... they seem not to be :-O
Hihihihi... I see -- I've forgotten to check the plugin_name, so the SQL changes all plugins... I can fix this... THANKS!!!

[2017-08-29 10:48] NateWr commented on #2433
Looks great! A few comments on UI/UX stuff:

I wonder if we can do both. If a user has a stage assignment that can recommend only, show the recommend button. If a user has a stage assignment that can make decisions, show the decision buttons. This would lead to a case where a user might have a recommend button _alongside_ the decision buttons. This might allow them to opt for a recommendation in c

[2017-08-29 11:24] ajnyga opened #2753 "DOAJ export is exporting declined articles"
Hi @bozana , just heard about this from an editor. I will post more details soon.

Scenario: an article is added to a forthcoming number and after that it is declined. Will
https://github.com/pkp/ojs/blob/master/classes/article/PublishedArticleDAO.inc.php#L739 take that into account?

Edit: the journal had other declined articles as well, but those are not getting exported or are not even on the l

[2017-08-29 11:41] alexxxmendonca commented on #2433
That sounds good to me 👍

And the other notes are good, too. Specially Note 1 -- very important. It's not so unusual the Editor-in-Chief requesting the Section Editor to review their recommendation.

[2017-08-29 12:18] bozana commented on #2752
PR:
ojs master: https://github.com/pkp/ojs/pull/1513

[2017-08-29 12:18] bozana commented on #2752
@NateWr, could you take a look at the PR?

[2017-08-29 12:35] NateWr commented on #2752
@bozana :+1: go ahead and merge when the tests pass.

[2017-08-29 12:47] NateWr commented on #2085
@ajnyga just a reminder, if you get a chance to test this improvement to the frontend nav menus with an iOS device (iPad or iPhone) that'd be great. Thanks!

[2017-08-29 12:49] NateWr commented on #1144
Tests are passing. But I'm going to wait until #2433 is merged, so that I can implement these changes on the recommend form.

[2017-08-29 12:55] bozana commented on #2752
Thanks @NateWr! Merged and closing...

[2017-08-29 12:55] #2752 closed

[2017-08-29 13:58] bozana commented on #1853
@NateWr, looks good and I merged it... THANKS!!!

[2017-08-29 14:23] NateWr commented on #2705
PRs:
https://github.com/pkp/pkp-lib/pull/2754
https://github.com/pkp/ojs/pull/1514
https://github.com/pkp/omp/pull/435

@asmecher with this change, I'm not sure we're linking to `aboutThisPublishingSystem` anywhere anymore. Can you think of any other lingering links? Do we need to preserve it?

[2017-08-29 14:25] MarHerUMR opened #2755 "Possible unnecessary code duplication in static pages"
Hey,

in the [StaticPageForm](https://github.com/pkp/staticPages/blob/master/controllers/grid/form/StaticPageForm.inc.php) there seems to be a unnecessary code duplication in the fetch method.

On the lines 80 - 87 smarty variables get assigned when `$request->getContext();` is not falsy.

On the lines 89 - 96 the same things happen.

Is there a reason for the second time of setting the variables?

[2017-08-29 14:30] #1853 closed

[2017-08-29 14:59] NateWr commented on #2746
Tests passed. @asmecher would you code review? I'll rebase to fix the merge conflicts.

[2017-08-29 15:06] ajnyga commented on #2085
Android 7.0.0 + Chrome 59 = working very well. One tap on the About link or anywhere near it (including the triangle) will open the pull down menu. As second click will open the linked page (about).

I will test this with an iPad later today.

[2017-08-29 15:28] asmecher commented on #2746
Yup, please go ahead!

[2017-08-29 18:51] ajnyga commented on #2085
iPad Air 2 + Safari = working as expected.

However, another issue. After opening the pull down menu, the only way to close it again is to click one of the links. It will not close if I click outside the menu like it does with Android. Also, a second click to the About link does not open the linked page.

[2017-08-30 03:35] ajnyga commented on #2753
The pr's there are for some other issue?

So maybe just add here https://github.com/pkp/ojs/blob/master/classes/article/PublishedArticleDAO.inc.php#L775

`i.published = 1 AND s.context_id = ? AND s.status != STATUS_DECLINED`?

[2017-08-30 08:24] NateWr commented on #2085
:angry:

Thanks for testing. I wasn't able to reproduce the issue where clicking on the top-level link does nothing. But I can reproduce the issue where clicking outside the dropdown, then clicking one of the dropdown links doesn't do anything.

I've looked for a standalone, bulletproof dropdown lib but haven't found anything that looks like it's been widely tested. I may see if I can extract Boot

[2017-08-30 10:40] MarHerUMR commented on #2755
Sorry, I just saw that this is the wrong place for this issue.

[2017-08-30 10:40] #2755 closed

[2017-08-30 12:47] NateWr commented on #2085
@ajnyga Can you test these new PRs for me? They integrate the Bootstrap dropdown component. In my iPad testing, the issue with a pull-down menu staying open on a second click is still there. But otherwise it's working for me with hover and tap on Android/Chrome and iOS/Safari.

If it works, I'll get it going for OMP as well.

PRs:
https://github.com/pkp/pkp-lib/pull/2757
https://github.com/pkp/ojs

[2017-08-30 12:49] NateWr commented on #2473
@ajnyga Also, can you test this fix for the backend menus? If it works for you on iOS/Safari, I'll probably leave it as-is and not integrate the Bootstrap dropdown on the backend. Before too long, I'll be searching for a Vue.js-based solution for our menus.

[2017-08-30 13:39] ajnyga commented on #2085
Working well with Android 7 + Chrome 59. One issue: the About link does not open a page, just the pull down menu.

[2017-08-30 13:52] ajnyga commented on #2473
Working with Android 7 + Chrome 59. I will check this with iPad later.

[2017-08-30 14:41] bozana commented on #2433
@NateWr, I think there could be several recommendations -- the decision making editor could ask several other editors to make recommendations. Thus, should they all be displayed as notifications?

[2017-08-30 15:20] NateWr commented on #2433
You should only display one notification. Can you display all the past decisions in a single notification? That'd be best, but I know it can be hard to get the notification to display some custom content. If you can't get them all into a notification, maybe list them above the editor decisions.

Yeah that sounds good. They can go to the editorial history if they want all the details.

Yeah, that's

[2017-08-30 15:29] #2746 closed

[2017-08-30 15:29] #2744 closed

[2017-08-30 15:55] bozana commented on #2433
Hmmm... Sorry @NateWr, a few more questions :-\
I would then use the same text (i.e. e-mail template) for the e-mail body and the discussion message -- because I do not think the e-mails are generally sent when a discussion is created and thus I would then also need to add such an e-mail template... -- OK?
Then shall I also leave the checkbox "Do not send editors email" in the recommendation form?

[2017-08-30 16:51] NateWr commented on #2433
Hmm...  all good questions. I'm stepping away for the day, but it would be good to get some feedback from @jmacgreg or @alexxxmendonca regarding whether to prefer email or discussion creation, or both.

When a discussion is created, a task it created for that which just says "A new discussion has been opened." If we go the discussion route, I think it's ok to rely on this and not create anything e

[2017-08-30 16:59] asmecher commented on #2740
In the git repo, we've already changed this to use protocol-relative URLs. See https://github.com/pkp/ojs/commit/42690195e9b881fbcde7fec672ec5de76e833bfe for the patch. This hasn't been released in a .tar.gz package yet.

[2017-08-30 16:59] #2740 closed

[2017-08-30 17:12] ajnyga commented on #2473
Working with iPad 2 + Safari. Actually the backend navigation seems to be working better that front end with Safari at the moment.

[2017-08-30 17:15] ajnyga commented on #2085
Ipad 2 + Safari: one issue: pull down menu does not close if you tap outside the menu. However, if you open the menu, tap the About link again (nothing happens) and the tap outside the menu, the menu closes.

[2017-08-30 17:29] alexxxmendonca commented on #2433
I would think e-mail notification is essential. Many editors rely on this, otherwise the Editor-in-Chief would have to access the system to check if there is a new task alerting about the new discussion.

Personally, I think e-mail is a must, discussion is a plus.

[2017-08-30 19:08] asmecher commented on #2705
@NateWr, I do think we should preserve that link ("About This Publishing System"). It contains content I can consistently google for to find installs, even if they've had the most common alterations that remove mention to PKP (e.g. the footer). It also displays the current working version, which isn't indexed thoroughly elsewhere (the PKP index isn't as comprehensive). And for journal users, it pr

[2017-08-30 19:29] asmecher commented on #440
@bozana, there's still a tweak needed on this. When a Site Administrator (without any Journal Manager role) comes into the site-wide (no context) administratoin area on a multi-journal site, they have no way to access the Users & Roles area -- the link is only added when [there is a context](https://github.com/pkp/pkp-lib/compare/5e5661239cc15e1876925f68c4af84a6af694ac4...87cfa00ad3b6d0ed881d44397

[2017-08-30 21:12] asmecher commented on #723
@NateWr, this improves functionality considerably, removes a huge amount of code from our responsibility, and integrates cleanly with all our existing quirks. Great stuff. I've added a bunch of comments to individual commits (including the new plugin) -- please carry on.

[2017-08-30 22:13] asmecher commented on #2500
@bozana, it looks like you merged something to resolve this -- is it ready to be closed?

[2017-08-31 06:12] defstat commented on #2751
It seems that upon refresh, the edited row loses its parent <tr>
For example at the announcements grid, before editing a row the table has, lets say, 2 rows:
<tr id="component-grid-announcements-announcementtypegrid-row-2" class="gridRow has_extras">
<tr id="component-grid-announcements-announcementtypegrid-row-3" class="gridRow has_extras">

After editing the first row, the table has
<tr id="comp

[2017-08-31 07:36] bozana commented on #440
@asmecher, this is because the whole Users&Roles management is currently context specific. S. this comment above: https://github.com/pkp/pkp-lib/issues/440#issuecomment-246615542. If we would like to have it context insensitive a new grids / Users&Roles management functionality should be implemented... It seems to be what we want, right?

[2017-08-31 09:22] NateWr commented on #2705
So are you saying leave the page even though there's no link to it? Or do we need to link to it? And any thoughts on how/where we do that?

[2017-08-31 09:43] NateWr commented on #2751
Thanks @defstat! That's helpful.

This is almost certainly related to the work I had to do to destroy controllers as HTML chunks get replaced (to ensure Vue.js event listeners get de-registered). That's all in `Handler.js` in the `replaceWith`, `replacePartial` and `unbindPartial` methods.

[2017-08-31 14:43] NateWr commented on #723
Thanks @asmecher! I addressed a bunch of issues and just had a few additional questions in the comments.

[2017-08-31 16:51] NateWr commented on #2473
Great! @bozana can you code review?

[2017-08-31 16:54] NateWr commented on #2085
Yeah, this is a pre-requisite to the tap functionality working. I haven't seen any tap-friendly dropdown that doesn't do this.

As long as it's relatively easy to get to the link you want in Safari, I'm going to call it "good enough". I think I know what's causing that to happen, but the only solutions I can think of would break hover support for non-touch devices, or risk tampering with event han

[2017-08-31 17:14] NateWr commented on #2085
Great, I've added a PR for OMP now. @bozana would you code review this one as well?

[2017-08-31 18:02] bozana opened #2758 "HTML galley CSS file migration"
The article CSS files are not migrated.

There is no possibility for already migrated journals to repair this automatically because the relationship between the HTML galley and the CSS file does not exist any more, thus a SQL statement will be provided for such journals to execute manually on their databases. The file migration (to the correct folder in the OJS files_dir) for such journals will pr

[2017-08-31 18:03] ajnyga commented on #2085
There is no point in wasting more time on this, because it might well be that future Safari releases do not have similar problems. Or, they have new problems.

[2017-08-31 21:16] bozana commented on #2758
For journals already migrated from OJS 2.4.x to OJS 3.0.x:
1) First the DB table submission_files has to be fixed, using both databases OJS 2.4.x and OJS 3.0.x DB. Here the SQL statements, `ojs3` is the name of the used OJS 3.0.x DB and `ojs2` is the name of the used OJS 2.4.x DB:

[code]

2) Then the OJS upgrade (php tools/upgrade.php upgrade) should be run, that will execute the `Upgrade::moveCS

[2017-08-31 21:18] bozana commented on #2758
PR:
ojs master: https://github.com/pkp/ojs/pull/1517

[2017-08-31 21:19] bozana commented on #2758
@asmecher, could you review this? -- Especially the solution for the journals already migrated to OJS 3.0.x...

[2017-09-01 10:08] NateWr opened #2759 "Galleys displayed as Array in OMP"
![selection_075](https://user-images.githubusercontent.com/2306629/29965529-d7d81242-8f05-11e7-8a2c-3c343ab8ddbf.png)

[2017-09-01 10:17] ajnyga opened #2760 "Add new template hooks for plugin settings pages"
Referring to a discussion here: https://github.com/kaschioudi/ojs3-markup/issues/32#issuecomment-326542224

At the moment the only template hooks for settings pages is here:
https://github.com/pkp/ojs/blob/master/templates/management/settings/website.tpl#L30

I think there are three alternatives here:
1. Decide that plugin settings should not be added to the general settings pages at all
2. Add si

[2017-09-01 10:18] ajnyga commented on #2760
@NateWr I don't think I have the needed permissions here to assign anyone.

[2017-09-01 10:48] NateWr commented on #2760
I'd like all the tabs to be filterable eventually. For now, for the OTS plugin, it should suffice to add a hook to the Settings > Workflow page.

[2017-09-01 11:05] ajnyga commented on #2760
Maybe do all four templates while you are at it? https://github.com/pkp/ojs/tree/master/templates/management/settings

[2017-09-01 11:26] #2473 closed

[2017-09-01 11:48] bozana commented on #2085
@NateWr -- I am not sure I understood everything... :-\ but I think everything is good and I merged it... :-) Can the issue be closed?

[2017-09-01 12:02] #2500 closed

[2017-09-01 14:44] bozana commented on #1828
PR for 3) and 4) from the original issue:
ojs master: https://github.com/pkp/ojs/pull/1518

[2017-09-01 14:48] bozana commented on #1828
@NateWr, I displayed the keywords in front of abstract and in the same way and size as DOIs. If I should change that, just tell me... Could you review the PR above? It also solves the other issue mentioned here: to consider keywords for DC and GoogleScholar indexing.

[2017-09-01 15:26] NateWr commented on #2085
:+1: thanks!

[2017-09-01 15:26] #2085 closed

[2017-09-01 15:42] NateWr opened #2761 "Generator meta tag untranslated"
The meta tag for the generator has an untranslated string on the single article page.

[2017-09-01 17:30] jalperin opened #2762 "world icon wonky on Keyword field"
I have a 3.0.2 install with Spanish and English.

The globe icon looks good on most fields, but on this one, it is a little wonky. Have a look at these two screenshots:

![screenshot 2017-09-01 10 27 27](https://user-images.githubusercontent.com/129638/29980894-83a4977c-8f00-11e7-8f8d-b527b444589a.png)

![screenshot 2017-09-01 10 27 31](https://user-images.githubusercontent.com/129638/29980898-858

[2017-09-01 17:32] jalperin opened #2763 "When using multilingual inputs, it is not clear which language goes in which field"
When using a multi-lingual input, there is no clear indication of which language goes in which form. I found this confusing on first pass.

The assumption is that the language of the UI is on top, which is logical, but probably needs to be made explicit somehow.

![screenshot 2017-09-01 10 27 31](https://user-images.githubusercontent.com/129638/29980943-b2abb988-8f00-11e7-8b3c-1ac7e310387d.png)

[2017-09-01 18:18] asmecher commented on #2763
Dupe of https://github.com/pkp/pkp-lib/issues/2556

[2017-09-01 18:18] #2763 closed

[2017-09-01 19:06] bozana commented on #1828
I think I can close this issue -- if something from the discussion should be addressed later, maybe to open a new issue?

[2017-09-01 19:06] #1828 closed

[2017-09-01 20:48] stranack opened #2765 "Request Metadata Review button?"
Currently, the system is focused on files, but the metadata is somewhat overlooked.

One way to make this more obvious would be to add an action button on the Copyediting stage, such as "Request Metadata Review". This button would trigger messages to the author and/or copyeditor, asking them to suggest changes to the metadata before moving to Production. The Discussion grid would be used for discu

[2017-09-01 22:35] asmecher commented on #2765
IMO this would need consideration after the versioning stuff gets merged (https://github.com/pkp/pkp-lib/issues/2072).

[2017-09-04 08:12] jorgesumle opened #2766 "[OJS] Installation doesn't show any error when you select the wrong database driver"
I was selecting MySQL instead of MySQLi and got a blank screen without any error after clicking on the install button. It would save people some time, if we warned them about the wrong driver or missing driver if possible after they hit the install button and it fails.

[2017-09-04 10:03] NateWr commented on #1144
Based on some external discussions about the `isViewable` flag, we should make sure the selectable copyedited files are selectable regardless of the `isViewable` flag. And this change should be backported to `ojs-stable-3_0_2`.

[2017-09-04 10:56] NateWr commented on #723
@asmecher The outstanding comments are scattered throughout PRs and the new plugin, so it's not that easy to track them. Here's a list of outstanding questions:

https://github.com/pkp/pkp-lib/pull/2718#discussion_r136289935
https://github.com/pkp/citationStyleLanguage/commit/63076950ed0a65e9f66d22458f90732e746ff2db#commitcomment-23998106
https://github.com/pkp/citationStyleLanguage/commit/6307695

[2017-09-04 13:53] NateWr commented on #2761
PR:
https://github.com/pkp/pkp-lib/pull/2767

Tests:
https://github.com/pkp/ojs/pull/1519

[2017-09-04 14:24] NateWr commented on #2760
PRs:
https://github.com/pkp/pkp-lib/pull/2768

[2017-09-04 15:33] rlisperguier commented on #1919
Hi everyone,

Any update on this issue? i'm getting this error on a fresh installation of OJS3.0.2 under PHP7.0 (also tried in PHP 5.6).

Digging some code inside de Justboil plugin i got this behaviour:

- Using apache for serve the site, i made a **var_dump** of the current user session and got NULL in the user.
- Using **php -S** for serving the app, the same **var_dump** gives me the current u

[2017-09-04 15:57] NateWr commented on #2761
Tests passed. I self-merged this one.

[2017-09-04 15:57] #2761 closed

[2017-09-04 15:58] NateWr commented on #2760
Tests passed. @asmecher any objection to adding these?

[2017-09-05 04:19] asmecher commented on #2766
@jorgesumle, what version of OJS were you trying to install? Was an error displayed in your PHP error log?

[2017-09-05 06:28] jorgesumle commented on #2766
I'm using the latest version from the Git repository. Here is the error log:

<pre><samp>
[Tue Sep 05 08:21:29.516653 2017] [:error] [pid 6056] [client 127.0.0.1:47858] PHP Warning:  Declaration of APIRouter::url($request, $endpoint, $params) should be compatible with PKPRouter::url($request, $newContext = NULL, $handler = NULL, $op = NULL, $path = NULL, $params = NULL, $anchor = NULL, $escape = f

[2017-09-05 11:13] ajnyga opened #2770 "[OJS] Preview shows DOIs even when they are not assigned"
Hi,

OJS3.0.2 shows DOIs for all articles even if the article has no DOI assigned. This is confusing for the editors who like to use the preview function.

[2017-09-05 13:54] bozana commented on #2770
Hmmm... Yes, I think that makes sense, now that the DOIs have to be explicit assigned... The patch is coming...

[2017-09-05 14:01] bozana commented on #2770
PR:
ojs master: https://github.com/pkp/ojs/pull/1522

[2017-09-05 14:35] #2770 closed

[2017-09-05 15:38] asmecher commented on #2760
No objections, please go ahead!

[2017-09-05 15:43] #2760 closed

[2017-09-05 16:39] mmcmahonCTU commented on #1779
Andy, I did not realize this would happen in our upgrade to 3.0.2 and I cannot delete old editorial board. How can I fix it? Thanks, Melody

[2017-09-05 18:18] bozana commented on #2433
@NateWr, I made all changes, I believe :-) Could you please take a new look?

Notes:
A discussion will be created every time a recommendation is recorded. There is now also a checkbox "Do not create review discussion" (similar to the option "Do not send editors email"), so that this can be skipped.

The editor's last recommendation is displayed in a div above the editor actions buttons. If an edit

[2017-09-06 04:10] asmecher commented on #1779
@mmcmahonCTU, do you mean me? I don't think there's an Andy here.

[2017-09-06 10:08] bozana commented on #2433
@NateWr, thanks a lot for reviewing!!! I fixed the bug and added a small test for recommendation -- there is one new commit in pkp-lib and ojs for that. Else, I will wait to see if something else should be changed... THANKS!!!

[2017-09-06 11:06] NateWr commented on #2433
This looks really good! I just noticed one issue with the discussion creation. the `{$recommendation}` variable doesn't seem to get injected into the text of the discussion.

![recommendation-missing](https://user-images.githubusercontent.com/2306629/30108828-d7b35854-92fb-11e7-9502-b7ac898e73ec.png)

[2017-09-06 11:39] bozana commented on #2433
Thanks a lot @NateWr! Crazy -- I see where the problem/bug is -- but the variable is replaced for me :-O I'll fix it...
My tests have some problem with PostgreSQL -- the only thing I can imaging is because of the creation of the new column for the DB table stage_assignments... but... Hmm... I'll see how could I debug that... @asmecher, is it possible to get that PostgreSQL dump?
THANKS!!!

[2017-09-06 15:17] NateWr opened #2771 "Integrate UI component library into OJS/OMP"
This is a placeholder issue for integrating the UI component library as a submodule for OJS and OMP. Once integrated, all UI components for an app should be loaded from the component library.

I'm tagging this for OJS 3.1 but it's still unclear whether it will make the cutoff.

[2017-09-06 18:27] mmcmahonCTU commented on #2615
Yes, I thought I was just deleting myself from the reviewer role and deleted the entire thing, so agree Delete is too prominent. I'd support only having available after Archive.

[2017-09-06 22:13] asmecher commented on #2758
@bozana, I haven't tested it, but the code looks good. Go ahead, thanks -- this looks like it was a little tricky.

[2017-09-06 23:59] asmecher commented on #2747
Thanks, @NateWr -- I just added some new comments over on pkp/ojs#1483.

[2017-09-07 00:11] asmecher commented on #2705
We should link to it. Top of mind is something in About, alternately maybe the logos/text in the footer area, but I suspect that would be too prominent and perhaps would get the axe. Two goals we want to meet (in rough order) are

1) information about OJS available to users somewhere logical (About makes sense here)
2) that page should get indexed by search engines if possible (thus linked, but no

[2017-09-07 00:14] asmecher commented on #440
Yes, having those tools behave in a context-insensitive manner would be best. Another option (though not as good IMO) would be to add a row action on the "Hosted Journals" grid entries allowing the admin to get into a journal-specific admin area -- but I think that would be unnecessarily confusing.

[2017-09-07 05:53] ajnyga commented on #2415
ping @NateWr or @asmecher
I know you have a lot going on with 3.1, but I really think that this is an issue that should be addressed as well.

[2017-09-07 06:56] hekutoru2kx opened #2772 "PHP Warning: Cannot use a scalar value as an array in DataObject.inc.php on line 133"
Greetings,

We recently updated from 2.4.8.2 to 3.0.2. We are a multi journal site (with some multilingual journals) and we are experiencing some functionality issues due to a warning php error. Our database is a postgres database.

There a two actions that can't be make specifically:
1. Consulting the submissions (there is no submission options)
2. Consulting the details of back issues (it list t

[2017-09-07 08:34] bozana commented on #2433
I figured it out, why the tests for PostgreSQL are failing... Hopefully they will go through now...
@asmecher, I modified one of the existing submissions tests to test the recommendation -- I hope that's OK so... ?

[2017-09-07 08:42] bozana commented on #2433
OMP PR also made. When the tests pass I will merge... if no objection... :-)

[2017-09-07 08:51] ajnyga commented on #2247
@bozana, as noted above I can probably test this, but do you know if there will be problems if I run the upgrade process without the files or public folder contents?

[2017-09-07 10:05] NateWr opened #2773 "Restore use of browser history for tabbed navigation"
Tabs used to update the URL hashes (`#tabName`) so that the browser's back button would return to the last activated tab. I probably ruined this in some refactor way back when.

This diff updates the URL hash:

[code]

That works in cases where someone browses to a new page (eg - from submissions `#active` to the workflow and then back to submissions). But it doesn't support the browser's back but

[2017-09-07 10:25] NateWr commented on #2415
My take would be to force them to select which section the submissions should be reassigned to. And it's impossible to delete a section when it's the only remaining section.

So, thinking off the top of my head, the UI flow would be:

- Click delete
- Modal form appears with explanatory note saying that all submissions in X category must be reassigned. Form includes a field "Reassign all submissio

[2017-09-07 11:25] ajnyga commented on #2415
@NateWr I agree. Are you doing this? I could try to do a pr based on that.

[2017-09-07 15:59] asmecher commented on #2433
Yes, of course! I've been falling behind in ensuring test coverage of new work, so nice to see this.

[2017-09-07 16:00] asmecher commented on #2415
Deleting a section should be an extremely rare interaction, so I don't mind if we skip the hand-holding and simply tell an editor that they can't delete a section until all articles are moved to other sections. Just FWIW.

[2017-09-07 16:04] asmecher commented on #2772
@hekutoru2kx, have you worked through the discussions of this issue in the forum? See https://forum.pkp.sfu.ca/search?q=Cannot%20use%20a%20scalar%20value%20as%20an%20array -- I think there are a few checks/solutions there.

[2017-09-07 16:23] NateWr commented on #2415
@ajnyga If you can put together a PR that'd be great. We're coming down to the wire on 3.1. :)

[2017-09-07 17:41] hekutoru2kx commented on #2772
Hi Alec,

Yes, I found no solution there.

I checked the issues and issue_settings and there is so far no no-localized settings.
`ojs=> select * from issue_settings where locale is null;
 issue_id | locale | setting_name | setting_value | setting_type
----------+--------+--------------+---------------+--------------
(0 filas)

ojs=> select * from issue_settings where trim(locale) = '';
 issue_id |

[2017-09-07 19:18] thebiomat commented on #1118
PHP 7 is eminent.  Our server providers are switching to PHP 7 in less than an month.  We have to either find a new VPS or upgrade OJS to PHP 7.  Will there be any help available with updating the OJS 248 code to PHP7?

[2017-09-07 20:06] ajnyga commented on #2415
Hi @NateWr and @asmecher
I did a quick "minimum" fix according to Alec's comment. We can change this later, but will probably have to deal with OMP at the same time.

While doing this, I actually noticed that there is an existing translation available for this: https://github.com/pkp/ojs/blob/ojs-stable-3_0_2/locale/en_US/manager.xml#L91

pr: https://github.com/pkp/ojs/pull/1524

[2017-09-07 20:27] asmecher commented on #1118
Hmm, it looks like PHP7 has taken a sudden leap in server share: https://seld.be/notes/php-versions-stats-2017-1-edition

There shouldn't be a massive amount of work required to make OJS 2.4.x PHP7-compatible, but I'll have to take a look.

[2017-09-07 21:14] thebiomat commented on #1118
Indeed.  PHP7 is more than half of the market and these stats are from May, so it's going to be even more so about a half a year later, which is now.  For us the upgrade to PHP7 is quite urgent, and we would appreciate the expediency in this matter.

[2017-09-07 22:04] asmecher commented on #1118
@thebiomat, try the following patches:

- f3eb438 (applied in the `lib/pkp` subdirectory)
- 4f0fd41 (applied in the OJS installation directory)

These were enough to run OJS through its test suite, which includes quite a bit of workflow exercise etc. However, there will be a pile of warnings due to PHP7's increased pickiness (we're still running through these in the OJS 3.x codebase and aren't lik

[2017-09-08 01:48] thebiomat commented on #1118
That's a really fast response.  Thank you very much.  We'll give it a try. Since this is a bit over my head, I'll need first ask one of the other folks involved in the server installation.

[2017-09-08 02:12] thebiomat commented on #1118
Could you please explain how to apply the patches?

Best regards,

Chris J. Cieszewski, PhD
Professor, Fiber Supply Assessment, WSFNR
University of Georgia, Athens GA 30602 USA
Ph./FAX/Web: 706.542.8169/8356/www.drcjc.com

On Thu, Sep 7, 2017 at 6:04 PM, Alec Smecher <notifications@github.com>
wrote:

[2017-09-08 06:44] ajnyga commented on #2612
Hi @NateWr

Some journal editors have asked a way to check who is working on which submission. In OJS2 you were apparently able to list submissions by editor, but in OJS3 this is not possible.

So would it be possible to add a "editor filter" here?

[2017-09-08 07:02] bozana commented on #2247
@ajnyga, hmm... the patch should remove the wrong/unnecessary review files in the files_dir. Thus you will get the error messages. But, maybe you can ignore them and just check the results...

[2017-09-08 07:13] ajnyga commented on #2561
@NateWr  I would be happy to help here with a pr here, but I am unsure on how you want to solve this?

If we just add the settings for turning on/off the notifications for new issues and announcements, then this will be a very fast addition. The only question is, that where exactly do we put these selections? For the announcements it is quite clear, but how about the issue notifications?

[2017-09-08 15:40] NateWr commented on #2415
I actually don't think we need to worry about OMP, because series (what we call sections in OMP) aren't required, so a submission without a series shouldn't disappear from the UI.

I agree this is sufficient to prevent people from screwing up their data and will suffice for UX until we have a real need for something better -- which may be never.

I left a few comments on the PR. Let me know when i

[2017-09-08 15:49] NateWr commented on #2612
@ajnyga It's worth considering. Can you clarify with the editors which need is really important:

- to see ALL submissions assigned to an editor (ie - I want to know what submissions Jane is working on?).
- to see who is assigned to the submissions that are listed (ie - I am interested in this submission. Who is working on it?).

I don't want to have too many filters as the UI will get unwieldy. B

[2017-09-08 16:01] NateWr commented on #2561
@ajnyga I've just reviewed some of the discussion. It doesn't sound like we've come to any hard conclusions, but there does seem to be a consensus that options for disabling are important. My preference would be:

1. Journal-level settings for sending/not-sending email with an announcement and a new issue. These should act as defaults.
2. When sending an announcement, by default the send/not-send

[2017-09-08 17:12] asmecher commented on #1118
@thebiomat, you can download a patch file from a git commit URL (like the two above) by adding `.diff` to the end of the URL. Then, you can apply each patch by following instructions like these:

https://www.lifewire.com/patch-linux-command-unix-command-4097158

See the "how to apply a patch" section of the instructions; use the `-p1` flag to the patch tool. The `--dry-run` option is also useful t

[2017-09-08 17:22] NateWr opened #2774 "Support custom citation styles through file upload"
Users will want to be able to use custom CSL files without requiring any coding. Implement a file upload tool to upload their own files.

This builds on the CSL integration in #723.

[2017-09-08 17:31] thebiomat commented on #1118
Thank you.  We'll try it and let  you know.

[2017-09-08 18:09] ajnyga commented on #2561
Thanks! I could cover 1-3 fairly fast.  However, with 4 I am not sure. I am not familiar with the code there.

[2017-09-08 18:11] ajnyga commented on #2415
Thanks! I will check the changes during the weekend.

[2017-09-08 18:28] NateWr commented on #2705
I can add an additional link, but I think it undermines the goals John and Sophy had in creating the new logo.

![about-ojs](https://user-images.githubusercontent.com/2306629/30225831-d02a7c30-94cb-11e7-8f7e-019148d50872.png)

Can I throw this back to @willinsky and @sssoz? We need to add a separate linkable component to the footer logo. Do you have ideas about how you want the new logo integrated

[2017-09-08 18:38] willinsky commented on #2705
Nate is right about our goal, and I would think that our logos should always be hyperlinked, leading to About > About this Publishing System. While my first thought was to have the logo link back to the PKP site, I realize that the About this Publishing System is still about the best landing page we have for introducing OJS and with links back to the PKP site.

[2017-09-08 18:47] NateWr commented on #2705
Ok that makes things easier. I can do that next week.

[2017-09-08 20:07] jmacgreg commented on #2612
Just a quick note, I was looking at this feature with a client today and we agreed that something like the first option would be nice to have eventually. As an EiC/managing editor, it’s nice to be able to take a look at an individual person’s workload.

[2017-09-09 10:20] defstat commented on #2689
There is a bug in the usage of datepickers. I added the PR pkp/pkp-lib#2775.

It could make a difference to this Issue too, but I could not replicate the problem.

[2017-09-09 20:22] defstat commented on #2064
Reopened because of a bug that interfered with the textArea insert PKP tags function

PR: pkp/pkp-lib#2776

[2017-09-11 09:29] NateWr commented on #2612
:+1: I've updated the original issue.

[2017-09-11 09:34] ajnyga commented on #2612
Great! It was option 1 they were after, as I suspected.

[2017-09-11 10:01] NateWr commented on #2415
:ship: Thanks for the quick turnaround! I'll close this, but we can file a new bug for a prettier UI if and when it's really a priority for us.

[2017-09-11 10:01] #2415 closed

[2017-09-11 10:03] ajnyga commented on #2415
Sure. I have some code ready for moving the articles to another section, so maybe with 3.2.

[2017-09-11 11:03] NateWr commented on #2705
PRs (tests running):
https://github.com/pkp/pkp-lib/pull/2754
https://github.com/pkp/ojs/pull/1514
https://github.com/pkp/omp/pull/435

[2017-09-11 14:13] defstat commented on #2180
I have found that to be true at the reviewer forms.
The difference with other cases is that the email template and the parameters that the email template is displaying are on the same form. So the email template doesn't now the values of its parameters before hand. (for example the "review due date" at the "New Reviewer" form, or the name of the reviewer in the same form)

That is not the case wit

[2017-09-11 14:46] bozana commented on #2753
@ajnyga, how were those articles declined? Were they first published and then declined? -- Because that SQL looks for articles assigned to a published issue...

[2017-09-11 14:58] bozana commented on #2753
Ah, OK, I see that also in other function in PublishedArticleDAO it is always looked after `AND s.status <> ' . STATUS_DECLINED . '` so I will do the same...

[2017-09-11 15:07] NateWr commented on #2771
This went pretty smoothly. The UI library is now a submodule and each app's JS and CSS build is compiled based on dependencies. It also provides linting during compilation for the components.

@asmecher Do you have any idea how we might best handle testing in the future when both submodules need to be updated? Can we extend the `Submodule update ##<user>/<branch>##` to somehow indicate a branch of

[2017-09-11 15:24] bozana commented on #2753
PR:
ojs master: https://github.com/pkp/ojs/pull/1526

[2017-09-11 16:24] bozana commented on #2753
Merged, thus closing...

[2017-09-11 16:24] #2753 closed

[2017-09-11 16:25] ajnyga commented on #2753
Great! I guess this was a very unlikely case where the editor has tested some functionalities with a test submission. Normally even while testing you do not attach the submission to an issue, but it seemed to be the case here.

Thanks again!

[2017-09-11 16:26] bozana commented on #2753
Thank you @ajnyga !!!

[2017-09-11 19:06] ajnyga commented on #1816
A general question: are you still going to support payment plugins like in OJS2?

[2017-09-11 19:25] asmecher commented on #1816
@ajnyga, yup! I've done some preliminary work with [Omnipay](https://github.com/thephpleague/omnipay), which will be used as part of the OJS plugin to support Paypal payment handling. That'll keep the Paypal plugin leaner than it used to be, and make it a more general template for other tools that might ideally use other Omnipay gateways. (The Omnipay toolkit isn't standardized/generalized enough

[2017-09-11 20:11] ajnyga commented on #1816
Are you still going to have the "manual payment" option as well?

I am asking because I made a payment plugin for OJS2 that was designed for societies. Basically it enabled society members to pay their subscibtion with a code they received from the society after paying their membership fee. I used the manual payment plugin as a basis when I built that plugin and was hoping to do that for OJS3. But

[2017-09-12 10:31] NateWr commented on #2180
@defstat I think you've diagnosed the problem correctly. For this to work properly, we're going to want a general way to process the variable data in the browser (JS), not the server, so that we can update it on-the-fly.

But we will run into issues after we have processed the variables. If we replace the placeholder with the name, and then the user edits the form, and then changes the recipient,

[2017-09-12 11:13] ajnyga opened #2778 "[OJS3.0.2] Changing journal visibility setting will restore the default language settings"
Every time you change the journal visibility setting from Administration => Hosted journals OJS3 will restore the site language default settings.

[2017-09-12 11:19] ajnyga commented on #2778
I think that this should be conditional and should only happen when creating a new journal: https://github.com/pkp/ojs/blob/master/controllers/grid/admin/journal/form/JournalSiteSettingsForm.inc.php#L124

Or is there a reason why that would be done on every save?

[2017-09-12 11:45] ajnyga commented on #2778
Example:
The site has three languages enabled: English, German and Finnish.

I create a new journal and leave it hidden. In the language settings I only choose English.

Later, when I change the visibility settings, OJS will enable German and Finnish as well in the UI.

So nothing serious, but annoying.

[2017-09-12 16:28] mcdowellb commented on #2099
OK, so this may sound silly, but it is quite frustrating.  I was having some problems that others were having in that my reviewers were unable to download the review document.  I have now fixed this, but in trying to learn more about the problem, I assigned myself, the editor, to the review.  Now, when I click on the submission, I can only access the review.  I can no longer access the submission

[2017-09-12 16:33] asmecher commented on #2099
@mcdowellb, if you just want to un-assign yourself as reviewer, the easiest way to do that will be to go to the editor's view of that article by URL. Open up another submission as editor, then change the article ID in the URL to the one you're trying to work with; then unassign yourself as reviewer. This should cause the URL in the submission lists to revert to the Editor one.

[2017-09-12 16:36] asmecher commented on #2778
@ajnyga, agreed. I'll change this in a sec.

[2017-09-12 16:39] #2778 closed

[2017-09-12 16:42] asmecher commented on #2180
@NateWr, we already have a TinyMCE integration: it displays `{$someVariable}` as `Some Pretty Name`, prevents it from being edited, and allows dropdown-based picking of additional variables that might be useful but might not be included in the default template. It's missing dynamic refreshing of `Some Pretty Name` should the surrounding conditions change, OTOH, but otherwise it's there. (We haven'

[2017-09-12 18:43] #2758 closed

[2017-09-12 18:51] bozana commented on #1791
@asmecher, @ctgraham, what do you think about merging this and then, if there is a problem, I will fix... ? If OK so I will take a final look and test and rebase...

[2017-09-12 19:10] bozana commented on #1265
@NateWr, I think we could only change these two labels for 3.1 and deffer the rest to 3.2. What do you think? Could you maybe made a suggestion how to rename those two labels and I will do it? :-)

[2017-09-12 19:48] bozana commented on #1265
Hmmm... I think "From" and "Until" would be OK, right?

[2017-09-12 20:37] mcdowellb commented on #2099
@asmecher, this is great info.  I was able to get in, but I also don't know how to remove a reviewer whom has already accepted the invitation to review.  I did accept it in my quest to see if I could see the file, but unfortunately I have no idea how to remove someone that has accepted the review request.  Any more help?

[2017-09-13 08:50] ajnyga commented on #2297
sorry @asmecher but the authorization system in OJS is just too complicated for me to understand. Also I could not quite understand how the setAdvice is supposed to work :S

[2017-09-13 08:55] NateWr commented on #2180
Cool, so it sounds like all we need is a method we can call on the TinyMCE and pass a hash of variables to, and have the existing content updated, eg:

[code]

[2017-09-13 08:57] NateWr commented on #1265
@bozana Yeah that sounds good. "From" and "Until" will work.

[2017-09-13 12:09] bozana commented on #1265
PR for date selection label improvement: https://github.com/pkp/pkp-lib/pull/2779

[2017-09-13 13:19] ctgraham commented on #1791
I'm just finishing deploying our first production 3.x journal, with the final steps of loading historic usage statistics from the old (non-OJS) system.  I could spin up a quick 2.4.8 install of the journal, load the stats there, then perform an upgrade and compare statistics against a fresh load within of 3.0.2.  Would that be a useful exercise?  It would only be including fulltext downloads of ar

[2017-09-13 13:51] bozana commented on #2082
PR:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2781

[2017-09-13 13:51] bozana commented on #2082
@NateWr, could you review the PR?

[2017-09-13 14:50] NateWr commented on #2613
Some work in progress on this at https://github.com/pkp/ui-library/tree/i2613_submission_details

![selection_096](https://user-images.githubusercontent.com/2306629/30383800-6b005e10-989a-11e7-9526-edd5b9861b39.png)

[2017-09-13 17:47] asmecher opened #2782 "Fix OAI: kludgey use of `$this`; broken OAI format plugins"
See https://forum.pkp.sfu.ca/t/errors-validating-repository-in-openarchive/33185/9.
The plugins also make use of a nonexistent `$this->stripAssocArray` function that's actually a globally defined function.

[2017-09-13 17:49] #2782 closed

[2017-09-13 20:20] asmecher commented on #2771
@NateWr:

Hmm, yes, and we could probably stand to extend that to submodules more generally. Everyone may well be too busy to get to this before 3.1, but please file it for sure. It may be that since that script was concocted (it's `tools/startSubmodulesTRAVIS.sh` BTW) there's something more official that's come along.

[2017-09-13 23:02] asmecher opened #2783 "Add JATS content to OAI interface (when available)"
When JATS content is available in the layout or galley areas, make it available via OAI when this plugin is enabled.

[2017-09-14 01:08] jorgeandr3s opened #2784 "[OJS] Uploading article cover image for published articles"
Is there a way to upload an article cover image to an already published article from the back-end or in any other form?

[It doesn't look nice](http://revistas.ute.edu.ec/index.php/tsafiqui/issue/view/Tsafiqui_001) to have the cover image just in some of the articles

[2017-09-14 02:36] jmacgreg opened #2785 "[OJS] Allow editors to search reviewers by affiliation"
Editors can currently only search for a relevant reviewer by name and/or reviewing interest. There are cases where affiliation may also be relevant.

[2017-09-14 08:00] ajnyga opened #2787 "Replace the affiliation text area with an affiliation grid"
Related to @jmacgreg suggestion here https://github.com/pkp/pkp-lib/issues/2785, I think that handling affiliation related data in OJS and OMP would benefit from a different kind of storing solution.

At the moment affiliation data is collected with a text field and people tend to write their institution names in different ways.

I suggest using a grid solution similar to the one in the Funding pl

[2017-09-14 09:32] bozana commented on #1791
@ctgraham, that could be great if you also do not have any remote galleys -- they were counted in OJS 2.4.x but not in 3.x. Also the other files like CSS, etc... THANKS A LOT! -- I would like to merge this for 3.1... :-)

[2017-09-14 13:03] MarHerUMR opened #2789 "Possible unnecessary variable read in the first submission form"
In the _readInputData_ method of the _PKPSubmissionSubmitStep1Form.inc.php_ the following variables get read from the Request:

`$vars = array('authorUserGroupId', 'locale', 'copyrightNoticeAgree', 'commentsToEditor', 'copyrightNoticeAgree');`

The _copyrightNoticeAgree_ is twice in the array. Isn't it sufficient when it get's read from the request once?

[2017-09-14 13:16] #2082 closed

[2017-09-14 13:17] #2433 closed

[2017-09-14 13:43] jmacgreg commented on #2787
Using ORCID to manage affiliations would be great! Especially if that gets us Ringgold (or, more precisely, disambiguated institutions). I believe that Crossref + ORCID + others are working on a "PIDs for Institutions" solution that will probably replace this over time. But I'm sure that that will be available via ORCID as well.

[2017-09-14 14:12] NateWr commented on #1144
@bozana The tests were passing before the test issue that cropped up today. Would you be able to code review these PRs?

https://github.com/pkp/pkp-lib/pull/2733
https://github.com/pkp/ojs/pull/1503
https://github.com/pkp/omp/pull/432

[2017-09-14 14:15] ajnyga commented on #2787
Yes, we have to plan this so that the API can change.
http://www.isni.org/content/isni-organizations-registry-identifying-organizations-scholarly-supply-chain

[2017-09-14 14:41] mfelczak opened #2790 "Articles remain in published state after issue is unpublished"
When a published issue is unpublished, the articles assigned to the issue are displayed as being in the 'Published' stage in the Submissions listing rather than in the 'Production' stage.

[2017-09-14 16:41] asmecher commented on #2789
That's a typo, though harmless. I've removed it, thanks!

[2017-09-14 16:41] #2789 closed

[2017-09-14 18:08] asmecher commented on #2784
@jorgeandr3s, could you post your question to our [support forum](http://forum.pkp.sfu.ca/) rather than this bug tracker? That's a better place for general questions.

[2017-09-14 18:08] #2784 closed

[2017-09-14 18:25] asmecher commented on #2783
Needs deciding:

- How should OAI respond when the JATS isn't present for a record? (Currently there's a "null XML" it serves up.)

[2017-09-14 19:50] asmecher opened #2791 "Fix formatting of reviewer comments when imported from review form textbox into author email"
See https://forum.pkp.sfu.ca/t/ojs-3-0-2-review-form-extended-text-box-problem/33230/7 for details.

I suggest 2 recommendations:
- [x] Expedient bug-fix without DB implications: Have the text box contents HTMLified when importing into the email compose window. This would resolve the immediate issue for the stable branch.
- [ ] Better long-term fix, but requiring database intervention: Support a r

[2017-09-14 20:10] asmecher commented on #2791
To fix the immediate layout problem in OJS 3.0.2, apply https://github.com/pkp/pkp-lib/commit/84d40958546b5f28993bb7a527f7d07820b8d74a in `lib/pkp`.

[2017-09-14 20:57] paolocasarini commented on #2433
Do you think it's possible to merge this feature also on the 3.0 branch?

[2017-09-14 21:01] bozana commented on #2433
No, I don't think so -- 3.0 is too old ;-) -- from 3.0 to 3.0.2 a lot of changes and improvements happened and this change is made even later, after lots of 3.0.2 improvements happened... But soon the 3.1 will be released, so that you could consider an upgrade... :-)

[2017-09-14 21:05] asmecher commented on #1816
Yes, I think those two options will still exist as plugins, much the same way as in OJS 2.x. The biggest change is that the PayPal plugin will use Omnipay and thus will inclue less of its own code, relying instead on the 3rd-party library.

[2017-09-14 21:11] asmecher opened #2792 "Review reminders need From address set"
See https://forum.pkp.sfu.ca/t/ojs-3-0-2-0-review-request-remind-auto-email/33649 for details.

[2017-09-14 21:13] #2792 closed

[2017-09-14 21:18] asmecher commented on #2415
Thanks, @ajnyga (and @NateWr)!

[2017-09-14 21:25] asmecher commented on #2099
@mcdowellb, you could either intervene in the database and remove the `review_assignments` entry, or you can continue to use the custom-built URL to access it as editor. This is something we'll do better with in a future release.

[2017-09-14 22:00] hekutoru2kx commented on #2772
Greetings,

I rolled back the database changes to my 2.3.8 and did the update with the official release with several patches (not the github as before) and the errors of tsubmission and back issues dissapeared. Still, the warning remains but is not related.

PHP Warning: Cannot use a scalar value as an array in /var/www/html/revista/lib/pkp/classes/core/DataObject.inc.php on line 133

I'm currentl

[2017-09-15 10:52] bozana commented on #1144
@NateWr, :+1, just a few minor changes needed and I had just a few questions... :-)

[2017-09-15 12:07] bozana commented on #2790
@mfelczak, where/how do you see it? I am not sure it is the same for me with the current master branch...

[2017-09-15 15:10] NateWr commented on #723
Ok, I think I've addressed all comments. It should be good to merge once the tests pass:

https://github.com/pkp/pkp-lib/pull/2718
https://github.com/pkp/ojs/pull/1498

[2017-09-15 16:45] NateWr commented on #2771
I've refreshed the PRs in this issue to also include features from #2613 and #2615. That should make it easier for someone to manage the merge of all of this for 3.1 if we do a string freeze before I'm back from holiday.

These include some improvements based on user feedback on the new submission lists, including color-coded stage labels, labels for the status icons, and de-emphasising the delete

[2017-09-15 19:22] mfelczak commented on #2790
Hey @bozana, I'm seeing it the My Assigned queue after I publish and then unpublish an issue (screenshot attached). In this example, Test Submission #2 was in the unpublished issue.

![submission_list](https://user-images.githubusercontent.com/200793/30499700-89cf1a30-9a29-11e7-8b03-69cc0ddd2194.png)

[2017-09-16 08:47] Vitaliy-1 commented on #699
Hi @asmecher
So what about the idea to give separate subdomains for non-primary locales? We have successfully tested it for several months, and there weren't any disruptions in publication, indexing or XML exporting processes.

[2017-09-18 08:05] bozana commented on #2790
Strange, I couldn't see it... I'll test again...

[2017-09-18 09:22] forgive38 opened #2794 "Upload Revision canceled but still in revision list"
We use OJS master for development. I think the bug is the same in 3.0.2
When an author wants to upload a file for revisions, after he choose the file in first Tab "1. Upload File" if he cancel, the uploaded file is in the revisions grid (after refresh), whether he chooses an existing version or new file.

[2017-09-18 12:24] mctosimaitb commented on #1919
hii,, pls solve this issue. i still stuck

[2017-09-18 13:27] bozana commented on #1919
Hi all,
I've just tried to reproduce the problem using the current OJS master branch and I was not able to do that :-( -- I was trying to reproduce it like explained here: https://github.com/pkp/pkp-lib/issues/1919#issuecomment-256428142

If the `public/site/` folder is missing one will not be able to upload the image, but if the folder is there and the permissions are correct I cannot reproduce t

[2017-09-18 13:29] defstat commented on #2178
@NateWr @asmecher

- I added the NavigationMenuItem Type support using Service pattern
- I transferred some functionality in the above Service
- I also added the NavigationMenuItem Custom Url support
- I added a displayNavigationMenu callback and hook
- Solved some bugs regarding default (installed to every Journals at the start) navigationMenus and NavigationMenuItems, and edit NavigationMenuItem

[2017-09-18 13:32] bozana commented on #1919
Ah, OK, now I see it too...

[2017-09-18 15:22] bozana commented on #1919
Here we get the session and the user from the session: https://github.com/pkp/tinymce/blob/master/plugins/justboil.me/integratePKP.php#L76-L78.
In the `SessionManager` then, a cookie with the `cookie_path=/plugins/generic/tinymce/plugins/justboil.me/ci/` (differently to the normal OJS `cookie_path=/`) is set here: https://github.com/pkp/pkp-lib/blob/master/classes/session/SessionManager.inc.php#L4

[2017-09-18 15:47] bozana commented on #2790
Sorry @mfelczak, one more question: do you also use the master branch or something else?

[2017-09-18 15:54] bozana commented on #2790
Hmmm... I have the problem the other way around: the articles that are published appear as in "Production"... :-)

[2017-09-18 16:06] mfelczak commented on #2790
Hi @bozana, I'm using the latest on the ojs-stable-3_0_2 branch

[2017-09-18 16:53] bozana commented on #2790
PRs:
ojs-stable-3_0_2: https://github.com/pkp/ojs/pull/1532

[2017-09-18 16:54] bozana commented on #2790
@mfelczak, would/could you maybe review/test this PR?

[2017-09-18 16:55] bozana commented on #2790
I do not know what to do with such articles (that are unpublished) for search indexing :-\ Maybe @asmecher knows?

[2017-09-18 21:19] asmecher commented on #1919
Sorry, to which function?

[2017-09-18 21:34] asmecher commented on #2790
The article's `status` column should be a gateway for results to be presented/not presented, so the index can be a little messy, as long as a publishing action results in the index getting (re)created for the article. Beyond that, I'd rather not invest too much time in tidying up the existing search index -- I think it might be better to look at a third-party index we could integrate using our exi

[2017-09-18 22:14] asmecher commented on #2794
@forgive38, have you checked your PHP error log for details? Can you confirm whether this is also an issue in 3.0.2?

[2017-09-18 22:28] asmecher commented on #2178
@defstat, @NateWr is away for a week, but let me know if I can fill in e.g. on code review etc. in the meantime.

[2017-09-19 00:28] asmecher commented on #2705
All merged -- closing, thanks!

[2017-09-19 00:28] #2705 closed

[2017-09-19 00:29] asmecher commented on #723
@NateWr, this will need porting to OMP too, I think.

[2017-09-19 00:40] asmecher commented on #2771
All merged/cherry-picked, but waiting for the tests to pass on both apps before closing:

- https://travis-ci.org/pkp/ojs/builds/277096148
- https://travis-ci.org/pkp/omp/builds/277099544

[2017-09-19 07:22] forgive38 commented on #2794
I confirm this issue for 3.0.2 and no error in my log file

[2017-09-19 12:21] bozana commented on #1919
To getManager and constructor...

[2017-09-19 13:36] jmnicholson commented on #2554
Just wanted to check in on this. Has there been any progress on the API? Is there anything we can do to help? We're keen to integrate with OJS and have been receiving more requests for it of late.

[2017-09-19 19:30] asmecher commented on #2554
@jmnicholson, the API will be released in OJS 3.1, currently due for October. The Swagger description is available here: https://github.com/pkp/ojs/blob/master/docs/dev/swagger.yaml

[2017-09-19 21:32] asmecher commented on #1919
Hmm, what about an approach that would allow the JBImages bootstrap process (which is what puts things in the wrong place in the first place) to set a cookie path appropriately, rather than modifying the core OJS for the sake of JBImages (it's a plugin I already don't like much)? I'm not sure if it's possible e.g. to set an in-memory config variable to override the default if it's not specified ma

[2017-09-19 22:20] bozana commented on #1919
the function $request->getBasePath() returns that 'wrong' path /plugins/generic/tinymce/plugins/justboil.me/ci/ -- I am not sure we can change that? -- It seems correct to me, or?

[2017-09-19 22:22] bozana commented on #1919
Maybe then to get the user from the request and not from the session (the solution no. 1 above) in that plugin?

[2017-09-20 06:49] bozana commented on #1144
I've rebased this and made a new PRs in order to be able to merge it:
omp master: https://github.com/pkp/omp/pull/441
ojs master: https://github.com/pkp/ojs/pull/1537
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2795

[2017-09-20 06:52] bozana commented on #1144
Everything merged, thus closing....

[2017-09-20 06:52] #1144 closed

[2017-09-20 06:55] bozana commented on #1258
Everything merged, thus closing...

[2017-09-20 06:55] #1258 closed

[2017-09-20 07:10] bozana commented on #1866
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2797
ojs master: https://github.com/pkp/ojs/pull/1538

[2017-09-20 07:17] bozana commented on #1866
@asmecher, could you take a look at those PRs?

A Note:
This change is not needed for OMP -- OMP already uses NOTIFICATION_TYPE_VISIT_CATALOG and NOTIFICATION_TYPE_FORMAT_NEEDS_APPROVED_SUBMISSION, s. https://github.com/pkp/omp/blob/master/classes/notification/managerDelegate/ApproveSubmissionNotificationManager.inc.php.
I think the class ApproveSubmissionNotificationManager.inc.php is not the rig

[2017-09-20 08:28] ingokeck commented on #2716
Just notice another strange thing, probably related: It seems that in the force_login_ssl = On setting, the login-page is https, but subsequent pages are transferred as http again, even if I as user started out intentionally with https. Is that intentional?

[2017-09-20 09:25] peterk opened #2798 "Skip verbs in restful URI for articles"
Currently the URI scheme seems to include the verb "view" in the identifier for an article like

`http://journals.sfu.ca/testdrive3/index.php/journal/article/view/1`

URI design typically omits verbs from the identifier (as the requested action is communicated in the HTTP protocol request). It would be great to get rid of the "view"-part for the articles as it would shorten links and would make it

[2017-09-20 10:55] MarHerUMR opened #2799 "[OJS] Possible unnessecary template"
In ojs/templates/frontend/pages/ is the template _issueInterstitial.tpl_. As far as I can see this template will never be displayed or included.

If I'm not missing something it should be removed.

[2017-09-20 20:54] asmecher commented on #2798
@peterk, you're correct, but the current design is a long legacy of OJS dating back over a decade. We could change it and add redirects for existing URLs, but I'm not sure it's worth the investment of time. We do have a REST API for release in OJS 3.1, and the URLs there are designed with better alignment to current standards.

[2017-09-20 20:59] asmecher commented on #2799
You're correct -- thanks, @MarHerUMR!

[2017-09-20 20:59] #2799 closed

[2017-09-20 21:03] asmecher commented on #1866
It looks like this divides the implementation between OJS and pkp-lib a little more than necessary -- for example, the locale key `notification.type.publicationScheduled` is referenced in `pkp-lib` but only added to OJS (and not OMP). If this isn't going to be used in OMP, I'd suggest keeping the whole block of code in OJS, if possible.

[2017-09-20 22:03] asmecher commented on #1919
You might be able to force a value into the configuration using `Config::getData` (which returns a reference). If there's no cookie path already there, force one that better suits the JBImages bootstrap. That wouldn't require any core changes.

[2017-09-21 11:30] slavash2305 opened #2800 "It seems that old bug returned"
It seems that [this bug  (Bug 8977)](https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8977#c1) returned.

We have received already the second letter as below (must be in Russian, but we have Ukrainian):
OJS ver. 2.4.3.0

The payment has not been completed. It's status remained "Awaiting Online Payment".

We will greatly appreciate any ideas. Any questions are welcome! We try to answer all.

[2017-09-21 12:56] bozana commented on #1919
@asmecher, yes, you are right 👍 -- I haven't thought about that at all...

[2017-09-21 13:08] bozana commented on #1919
PR:
tinymce master: https://github.com/pkp/tinymce/pull/22

[2017-09-21 13:11] bozana commented on #1919
@asmecher, could you take a look at the PR?

[2017-09-21 13:15] bozana commented on #1866
Hmmm... yes you are right...

[2017-09-21 15:07] mfelczak opened #2802 "Editor assigned as Reviewer loses Editor permissions to submission"
If an Editor assigns themselves as a Reviewer on a submission, they can no longer manage or access the submission as Editor. We've received feedback from editors who are surprised by this default behaviour and who are looking for a way to restore Editor access to the submission. It might be worthwhile to relax this permission model and allow Editors to continue to manage the submission even if the

[2017-09-21 15:10] asmecher commented on #2800
I see that you've also posted this on [the support forum](https://forum.pkp.sfu.ca/t/it-seems-that-the-resolved-earlier-bug-returned/33809). Please just post in one venue -- otherwise it could duplicate effort. I'll follow up over there.

[2017-09-21 15:10] #2800 closed

[2017-09-21 15:16] #2802 closed

[2017-09-21 15:16] bozana commented on #1866
@asmecher, here the new PRs:
pkp-lib master: #2801
ojs master: pkp/ojs#1541
omp master: pkp/omp#442
THANKS!!!

[2017-09-21 16:57] asmecher commented on #2561
@ajnyga and @NateWr, sorry for the wait. @NateWr, I agree with your recommendations on [this comment](https://github.com/pkp/pkp-lib/issues/2561#issuecomment-328144484), with a few minor caveats:

1/2. I'd prefer not to add journal-level settings for defaults -- I can see the logic in what you propose, but in the interests of combating settings form bloat, I'd suggest just fixing a default state o

[2017-09-21 17:15] asmecher commented on #1866
Thanks, @bozana, please go ahead! Hopefully a bit of refactoring later can get rid of that empty class, but I agree that it's good for now.

[2017-09-21 18:13] ajnyga commented on #2561
Thanks @asmecher! No problem, I realize that this is not the only open issue here.

If we would just add the profile setting for these, then I think that the problem would not be solved in the extend many editors would hope. Many journals have hundreds of users and I would say that at least about 80% of those have not visited the journal site in the recent years or are familiar with OJS3.

So if t

[2017-09-21 18:17] asmecher commented on #2561
Absolutely! This sounds perfect.

[2017-09-21 18:51] crism opened #2803 "OJS 3.0.2 does not display submissions when backed with PostgreSQL 8"
The dashboard submissions list executes this prepared query:
[code]
With PostgreSQL 8.4.20, at least, this generates an error:
[code]
It’s fine in PostgreSQL 9.2.18.

This may be related to #1856, and the solution is to run a newer version of Postgres, but I wanted to document this as a known issue.

[2017-09-21 18:54] asmecher commented on #2803
@crism, what version of OJS are you using?

[2017-09-21 18:56] crism commented on #2803
Sorry, @asmecher—3.0.2, most recent release, but the query doesn’t seem to have changed since then, compared to `master`.

[2017-09-21 20:24] ajnyga commented on #2561
Hi @asmecher and @NateWr
These two pr's solve 1-3 but without the journal defaults as discussed above
Announcements: https://github.com/pkp/pkp-lib/pull/2804
Publish issues: https://github.com/pkp/ojs/pull/1542

[2017-09-22 00:03] asmecher opened #2805 "Add opt-out settings for issue publish and announcements notifications"
A remnant from https://github.com/pkp/pkp-lib/issues/2561:

[2017-09-22 00:04] asmecher commented on #2561
Wow, @ajnyga, that's probably the quickest community contribution I've ever seen.

I think this deals with 90% of the frustration over this issue -- I've filed the remaining piece as https://github.com/pkp/pkp-lib/issues/2805 for tracking purposes, in case it doesn't make the threshold for OJS 3.1. Huge thanks as always, @ajnyga.

[2017-09-22 00:04] #2561 closed

[2017-09-22 04:37] ajnyga commented on #2805
There is already an unsubscribe mentioned here: https://github.com/pkp/pkp-lib/blob/master/classes/notification/PKPNotificationOperationManager.inc.php#L298
But it is maybe not visible in the message template and not sure what it does exactly.

What the unsubscribe links should do, in my opinion, is toggle the settings in the profile=>notifications page. I have a feeling that the link above is/was

[2017-09-22 04:38] ajnyga commented on #2561
Great, thanks!

[2017-09-22 08:52] #1866 closed

[2017-09-22 09:14] bozana commented on #1919
Ahhhhhhhhh, OK, I see... :-) 👍

[2017-09-22 09:45] bozana opened #2806 "wrong notification URL in ReviewRoundNotificationManager"
s. https://forum.pkp.sfu.ca/t/notification-to-series-editor-contains-link-for-reviewer-in-omp/32261

A fix for the current OMP stable version (omp-stable-3_1_0) should be provided...

[2017-09-22 09:56] ajnyga commented on #1897
Hi @asmecher
I found this old issue through a forum post I was reading.

It occurred to me that after the changes https://github.com/pkp/pkp-lib/issues/2561#issuecomment-331271010 to the Announcements functionality, you could pretty much use them now as a general purpose notification tool. Although @NateWr did not regard this as a good idea in general https://github.com/pkp/pkp-lib/issues/2561#iss

[2017-09-22 10:21] bozana commented on #2806
PR:
pkp-lib omp-stable-3_1_0: https://github.com/pkp/pkp-lib/pull/2807

[2017-09-22 15:31] asmecher commented on #2771
OJS tests are working; OMP tests are failing on another problem (Travis timeouts). Closing, thanks!

[2017-09-22 15:31] #2771 closed

[2017-09-22 15:33] asmecher commented on #2783
Implemented, but some tweaking will be needed. I've excluded it from the build tool so that we don't need to coordinate it with the 3.1 release.

[2017-09-22 15:33] #2783 closed

[2017-09-22 15:34] #2715 closed

[2017-09-22 15:34] asmecher commented on #2715
Merged -- @mtub, you're off the hook :)

[2017-09-22 15:35] asmecher commented on #2762
@NateWr, assigning to you in absentia and without your consent! Squawk as necessary.

[2017-09-22 15:36] asmecher commented on #2592
@NateWr, can you confirm @TobiasWantzen's suggestion?

[2017-09-22 15:36] asmecher commented on #2571
Deferring from OJS 3.1.

[2017-09-22 15:44] asmecher commented on #2444
@ctgraham, I'm sorry if I lost sight of this! Was it ready for review/merge when you last worked with it?

[2017-09-22 15:46] asmecher commented on #2064
Thanks, @defstat -- merged. Is this ready to be closed again?

[2017-09-22 15:46] asmecher commented on #1503
@kaschioudi, is this one ready to be closed, or are there still parts needing work before OJS 3.1 is released?

[2017-09-22 15:47] asmecher commented on #2177
(I think this one was already on your plate, @NateWr, but it wasn't assigned per Github.)

[2017-09-22 15:48] asmecher commented on #2682
@ctgraham, this is the bug that came up at the sprint, correct? Did you tinker with it, or file and move on to the task at hand?

[2017-09-22 15:51] ctgraham commented on #2682
Yes, we just filed it here and went back to working on the sprint.  Would have been nice if I had tagged the line of code that was failing.

[2017-09-22 15:56] asmecher commented on #2682
Not a problem, thanks!

[2017-09-22 16:11] #1919 closed

[2017-09-22 17:57] ajnyga commented on #382
I think that preprints are something that we will need to implement sooner or later, because there is a large demand for them at the moment. Or at least a big buzz.

When thinking this more carefully, I think that there are two separate things that I mix above:
1. preprints = publishing manuscripts even before the peer review and adding ways for users to collaborate. These should be available also

[2017-09-23 03:31] kaschioudi commented on #1503
@asmecher this is not ready yet. Before switching back to OTS plugin I was in the process of integrating the architecture patterns that we came out with during the sprint.
https://github.com/kaschioudi/ojs/tree/api-property-list
https://github.com/kaschioudi/pkp-lib/tree/api-property-list

[2017-09-23 04:07] asmecher commented on #2048
@ctgraham, should we defer this one to the next release (OJS/OMP 3.1.1)?

[2017-09-23 04:07] asmecher commented on #1908
@jmacgreg, this is assigned to you but I doubt you're going to have time for it in the next few weeks. Defer?

[2017-09-23 04:08] asmecher commented on #1432
Deferring, unless someone has a strong opinion.

[2017-09-23 07:33] defstat commented on #2064
@asmecher Yes for now.

[2017-09-23 07:52] NateWr commented on #2177
This can be closed now that #723 is in.

On 22 Sep 2017 16:47, "Alec Smecher" <notifications@github.com> wrote:

[2017-09-24 14:14] defstat commented on #2064
@asmecher The previous merge broke the JS lint checks.
PR: pkp/pkp-lib#2808

[2017-09-25 11:22] bozana commented on #2762
This is fixed for the coming 3.1 release, s. https://github.com/pkp/pkp-lib/pull/2499... Thus closing...

[2017-09-25 11:22] #2762 closed

[2017-09-25 11:45] bozana commented on #440
PR:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2810

[2017-09-25 11:49] bozana commented on #440
@asmecher, there was already the action Administration > Hosted Journals > Settings wizard > Users. It just needed the permission for the admin user. Thus the PR above can however be merged, I think. Right?
Then, is a new `Users` grid, that is context-insensitive, needed? -- just to be 100% sure :-)

[2017-09-25 12:20] bozana commented on #2682
PR:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2811

[2017-09-25 12:20] bozana commented on #2682
@asmecher, could you take a look at the PR?

[2017-09-25 13:12] ctgraham commented on #2048
Yes, I'm not going to catch up with this until after we exit reporting hell here locally.

[2017-09-25 13:44] NateWr commented on #723
@asmecher I don't believe we have a how-to-cite block in OMP or any of the citation format plugins in place there. What would need porting?

[2017-09-25 14:02] NateWr commented on #2771
wohoo! Thanks!

[2017-09-25 14:16] NateWr commented on #440
If creating a new `grid`, consider implementing a `ListPanel` instead. :) That will push forward the `/_users` API endpoint and the UI code refactor. We could talk through what would be required if you want. Or just go ahead with the grid if you're aiming to get this in for 3.1.

[2017-09-25 16:09] NateWr commented on #2592
Thanks @TobiasWantzen!

PR:
https://github.com/pkp/pkp-lib/pull/2812

Tests only:
https://github.com/pkp/ojs/pull/1546

[2017-09-25 16:45] NateWr commented on #2178
@defstat I tried to take a look at this today but I'm running into a DB error:

[code]

I tried to run `php tools/upgrade.php upgrade` but that fails with the following error:

[code]

[2017-09-25 16:52] bozana commented on #440
OK, I would gladly do that -- I am just not sure if I would manage it for 3.1. So maybe we should make a decision if such a grid is needed for 3.1...

[2017-09-25 17:33] defstat commented on #2178
@NateWr
PR:
OJS: pkp/ojs#1448
PKP-LIB: pkp/pkp-lib#2813 (replaces pkp/pkp-lib#2639)

[2017-09-25 21:55] #2064 closed

[2017-09-25 22:03] #2177 closed

[2017-09-25 22:06] asmecher commented on #2682
Thanks, @bozana!

[2017-09-25 22:06] #2682 closed

[2017-09-25 22:37] asmecher opened #2814 "Correct review frorm error handling bounce issues"
See https://forum.pkp.sfu.ca/t/file-is-required-review-form/33358/17 for details.

[2017-09-25 22:47] asmecher opened #2815 "Spinner/grid in modal presentation"
I'm seeing a recent UI sizing glitch when grids are presented inside modals:

![image](https://user-images.githubusercontent.com/200411/30834606-bcda0b2e-a208-11e7-920a-6b50a468287b.png)

![image](https://user-images.githubusercontent.com/200411/30834599-b1e53108-a208-11e7-8047-0d79d1d434c2.png)

These are in the "Assign Reviewer"  modal, but I think it probably presents more generally.

[2017-09-25 22:56] #2814 closed

[2017-09-25 23:02] asmecher commented on #2772
@hekutoru2kx, the key will be finding what `setting_name` is causing this warning. You can use e.g. `error_log` calls (suggested IIRC on the forum for this message) to help identify it.

[2017-09-25 23:09] asmecher commented on #440
We do need an expedient fix for the 3.1 release -- a ListPanel would be a nice addition, but I suspect it's out of reach for 3.1.

[2017-09-25 23:55] asmecher commented on #723
You're absolutely right, OMP never did have this! Please go ahead.

[2017-09-26 00:02] asmecher opened #2816 "Publication date cannot be set via UI"
See https://forum.pkp.sfu.ca/t/editing-publication-date-on-omp/33904.

Some templates, e.g. `templates/frontend/objects/monograph_summary.tpl`, use `$publishedSubmission->getDatePublished`, which gets a date that is stamped upon publication but can't be otherwise set via the UI.

[2017-09-26 05:19] stranack opened #2817 "Reordering Review Form Items does not stick"
When I try to reorder my review form items in OJS 3, it appears to work, but when I preview the form, they have reverted to their original order. There seems to be no way to make the reordering stick.

[2017-09-26 14:01] bozana commented on #2806
@NateWr, could you take a look at this PR?

[2017-09-26 14:12] withanage opened #2818 "ORCID Plugin enhancement"
###  Current Status
[README.md](https://github.com/UB-Heidelberg/orcidProfile/blob/member-api/README.md)

### Previous plugins

Issue | Status/ Explanation |   | area | res.
-- | -- | -- | -- | --
user-id, author-id |  Manual insertion of ID  (no-validation) <br> Button on registration form : Autofill firstname, lastname after validation <br> Input button on profile: validate and automatic-id addi

[2017-09-26 14:45] ajnyga commented on #2818
Looking good!

IMHO the visible and editable form fields for the ORCID ID should be removed altogether and only allow properly authenticated ID's like ORCID guidelines suggest. This means that the only way of inserting ORCID ID's to OJS would be via authentication using the ORCID API.

If a user account has an authenticated ID, that could be used when creating the initial author profile. With the

[2017-09-26 14:53] NateWr commented on #2592
Self-merged.

[2017-09-26 14:53] #2592 closed

[2017-09-26 14:59] ajnyga commented on #2818
Another nice feature which I already mentioned to @bozana would be to enable the collection of ORCID ID's for old article. This would be a plugin (or a plugin feature) which would send an email to all (or selected scope of) authors (meaning the author in the article metadata). The email would again contain a link leading to a handler which would show the submission in question and would enable the

[2017-09-26 15:06] NateWr commented on #2806
:+1: Looks good! Merge whenever you'd like.

[2017-09-26 16:12] #2806 closed

[2017-09-26 16:37] #2790 closed

[2017-09-26 16:38] bozana commented on #2247
I am closing the issue. @ajnyga, if you find something, it can be reopened...

[2017-09-26 16:38] #2247 closed

[2017-09-26 17:07] defstat commented on #2818
Hi all.
Regarding the HIRMEOS project and the ORCID implementation, EKT has implemented the following for OMP:
- ORCID authentication for an existing user
- ORCID display under the author on the monograph's view page (if there is an ORCID provided)
- Provided ORCID validation process on author's edit form. That is a button on the Author's edit form that "asks" the ORCID API for the provided ORCID

[2017-09-26 17:31] ajnyga commented on #2818
I actually suggested the exact same functionality that you have in that third bullet point to a representative of ORCID when he visited Helsinkin to meet the Finnish ORCID consortium.

According to the ORCID representative even that is regarded as a wrong way adding ORCIDs and insisted that the only way should be by proper authentication. So I stronly suggest that before writing any larger contrib

[2017-09-26 17:33] pankajatil opened #2819 "Submission of File failed"
I'm using ojs while I'm trying to submit document through submission link but I'm getting 500 HTTP ERROR
while I check my error log I got below logs

[26-Sep-2017 18:08:02 Europe/Berlin] PHP Warning:  mkdir(): Permission denied in /home/asianssr/public_html/lib/pkp/classes/file/FileManager.inc.php on line 307
[26-Sep-2017 18:08:02 Europe/Berlin] PHP Warning:  assert(): Assertion failed in /home/as

[2017-09-26 18:10] defstat commented on #2818
Hi @ajnyga! The "validation" process suppose to be just a helper for the submission editor, as OJS and OMP allows the submitter to add ORCID to another author.

[2017-09-26 18:14] ajnyga commented on #2818
Yes, that is exactly what I was thinking as well. But the thing is that those editable ORCID form fields should not be there at all, if we follow the instuctions how to implement ORCIDs in publishing systems.

[2017-09-26 18:24] ajnyga commented on #2818
A nice video of handling the co-authors problem here: https://www.ariessys.com/views-and-press/resources/video-library/orcid-co-author-verification/

[2017-09-26 18:26] defstat commented on #2818
@ajnyga my thought exactly about the ORCID field. But as long as its there....

[2017-09-26 18:35] ajnyga commented on #2818
Yes, I do agree that if there is an open field, your addition will make it more secure. But what if the ORCID id the editor is testing is for the wrong person with the same name? I think that the whole purpose of ORCID is to provide 100% accurate author data that systems like OJS can use with confidence. Only allowing user authenticated id's is really the only way to achieve this.

[2017-09-26 19:05] asmecher commented on #2818
@ajnyga, we could allow manually-entered ORCIDs and validated ORCIDs both, if we flag in the DB (e.g. the `user_settings` table) whether the ORCID was authenticated. I believe the CrossRef service, for example, accepts such a flag.

[2017-09-26 19:06] asmecher commented on #2819
@pankajatil, the support forum (http://forum.pkp.sfu.ca/) is a better place for general support. We use this more for specific features and identified bugs. Search there for issues like yours before you post.

[2017-09-26 19:06] #2819 closed

[2017-09-26 19:24] ajnyga commented on #2818
They seem have this approach also here: https://www.ariessys.com/views-and-press/resources/video-library/orcid-co-author-verification/. I think that JATS XML also has that flag. But how does that show for example in OAI-PMH or DOAJ exports? I mean whether an ORCID id is validated or not? So potentially wrong ORCID id's could end up in a lot of places which in return will weaken the idea of the who

[2017-09-26 19:30] asmecher commented on #2818
When we're ready to formulate a proposal or have a few specific questions I'm happy to find a contact at ORCID to run it past.

Generally I think we have a slight mismatch with ORCID: they're very focused on new publications and active authors, whereas we want a general ID to identify people with, active or not, potentially including old/external data. ORCID doesn't want to support IDs for dead pe

[2017-09-26 19:49] asmecher commented on #2818
@ajnyga, my opinion is that we shouldn't restrict editors from working with ORCIDs in cases where they can't have the author authenticate. We generally trust editors with the tools to make comprehensive metadata, and with that comes the risk that they'll add bad quality stuff, but it's up to them. I think OJS should continue to link to ORCID accounts when it has that data available, regardless of

[2017-09-26 20:00] ajnyga commented on #2818
It probably does not matter what system we have, not all of the authors are going to have an unique and authenticated id unless one is given from above (like social security number or to some extent ISNI) and maybe not even then.

I really do not see the point of having unvalidated unique id's if you can not trust them. The whole point of having ORCIDs is to enable us to work with data automatical

[2017-09-26 20:05] asmecher commented on #2818
All good points, @ajnyga. I'm content if we proceed as you propose. We may find that imports and conversions are a problem, but perhaps we should consider them the special case that they are rather than trying to make the whole system accommodate them.

[2017-09-26 20:25] ajnyga commented on #2818
The problem with this "ORCID purism" is of course that most of the time the editors would get the id's right, but the guidelines are probably like they are because of that 1%. But yeah, maybe my message quota is full for today...

[2017-09-27 05:18] pankajatil commented on #2819
thank you for your reply I do change all of the file permissions still I could not upload a file still HTTP ERROR still existing there. Please help me to resolve the issue asap. I'm sharing new error log after changing file permission.

[27-Sep-2017 06:58:16 Europe/Berlin] PHP Strict Standards:  Non-static method ScheduledTaskHelper::checkFrequency() should not be called statically, assuming $this