[2022-05-09 10:52] NateWr commented on #7903
Personally, I don't know what _should_ happen. I think we would need to dig up the original use case and find out what the expectation is. I don't think this is high enough priority right now to invest that time. But if PS wants to do the research on how ti should work, making the change is fairly simple.

The new editorial decision UI in 3.4 includes such indications.

[2022-05-09 11:23] steinmb commented on #7720
It should make sense to log events outside what php automagically sends of notices, warnings and errors to server default configured log. Example, user created, access blocked, payment events, and so on.

If the core developers think there is no use case for logging events in the running application, perhaps this issue should be closed? (ps: I am new to this code base).

[2022-05-09 11:57] NateWr commented on #7900
Thanks @ewhanson. The solution looks good. Does this effect any use of `new Date(some_variable)`, or just `Date.parse()`. I did a quick search and found a few other places where we do `new Date(some_variable)`. Can you check those and see if they also need to be fixed for Safari?

[2022-05-09 11:57] NateWr commented on #7900
And if so, then we may want to roll `fixDateForAllBrowsers` into a global mixin.

[2022-05-09 12:28] jonasraoni commented on #7720
About the different levels of logging, here's a good reasoning:

![chart of log levels](https://i.stack.imgur.com/z5Fim.png)

About deciding what's interesting to listen to, and what to do with the events I think that's a responsibility of the sysadmin/developer. For example a sysadmin might decide to collect more detailed logs to discover why an operation is failing, so he might temporarily incre

[2022-05-09 12:44] jonasraoni commented on #7914
Meanwhile I'll check if the PKP PN is making use of other journal URLs, out of the plugin context.

[2022-05-09 12:49] NateWr commented on #7720
I think we're going around in circles here because we don't quite understand each other. Let's talk about this on the dev call today.

[2022-05-09 13:07] NateWr commented on #7392
:+1:  reviewed.

[2022-05-09 13:08] librariam commented on #7120
+1 from a PKP|PS client with a suggestion that these could perhaps go in the Reviewer History block. It currently only lists the most recent reminder sent, with no additional details.

![Screenshot 2022-05-09 120534](https://user-images.githubusercontent.com/45104797/167416476-5a9bfc94-7963-46a1-9ceb-0b06ba5b1886.jpg)

[2022-05-09 14:40] asmecher opened #7916 "Replace HTMLPurifier with a maintained dependency"
[HTMLPurifier](http://htmlpurifier.org) is not maintained anymore. Find another replacement toolset for "safe" HTML filtering.

It does not support HTML5: https://forum.pkp.sfu.ca/t/tinymce-stripping-anchor-tags-within-or-around-divs/72749/12

We currently use HTMLPurifier in the `PKPString::stripUnsafeHtml` function (lib/pkp/classes/core/PKPString.inc.php). This takes a configuration of allowed e

[2022-05-09 16:14] defstat opened #7917 "Native Import Export - Remove primary_contact from chapter authors"
**Describe the bug**
primary_contact is a column that exists in the submission_chapter_authors table, but is never used. It should be removed from the Native ImportExport plugin files

**What application are you using?**
OMP

[2022-05-09 16:24] asmecher commented on #7917
Merged -- thanks, @defstat!

[2022-05-09 16:24] #7917 closed

[2022-05-09 16:25] asmecher commented on #7909
Thanks, @touhidurabir! See this comment: https://github.com/pkp/pkp-lib/pull/7913#discussion_r868192045

[2022-05-09 16:35] touhidurabir commented on #4240
@asmecher the merge conflict fixed for `OJS` `main`. I think you can merge it now .

[2022-05-09 16:40] asmecher commented on #4240
Merged, thanks!

[2022-05-09 16:40] #4240 closed

[2022-05-09 16:43] ewhanson commented on #7900
Yes, I'll get the PRs updated to use `fixDateForAllBrowsers` as a global mixin and apply it to instances of `new Date()`.

[2022-05-09 16:51] touhidurabir commented on #7907
@NateWr you are right and the PR that @asmecher has made for the issue https://github.com/pkp/pkp-lib/issues/7822 has more broad impact as that solve all such cases for exception `array_intersect(): Argument #2 must be of type array, null given` .

@asmecher if you confirm, I will close this issue and PRs related to this one .

[2022-05-09 23:36] asmecher commented on #5960
Thanks, @defstat, I've merged those!

[2022-05-09 23:36] #5960 closed

[2022-05-09 23:58] asmecher commented on #7793
Done, thanks!

[2022-05-09 23:58] #7793 closed

[2022-05-10 01:03] ewhanson commented on #4056
@NateWr, I've gotten the locales up-to-date and have fixed question 2 and 3 above. I'll spin question 1 off into it's own issue to address separately.

[2022-05-10 10:31] NateWr commented on #7903
I had a read through the initial discussion about [recommendations](https://github.com/pkp/pkp-lib/issues/2433) and there was no clear indication of whether recommending editors ought to be part of the discussion.

I'm going to close this and suggest we take it to the feature requests forum for further discussion.

[2022-05-10 10:31] #7903 closed

[2022-05-10 11:04] jonasraoni commented on #7914
An user just confirmed that making the journal public fixed the issue, so these updates should be enough.

[2022-05-10 13:25] Vitaliy-1 commented on #7897
Hi @yogajiwanjaya,

There isn't enough information to reproduce this bug. I'm going close this issue for now. I would encourage you to post in our support forum. You will find more help there than we are able to provide here: https://forum.pkp.sfu.ca/

[2022-05-10 13:25] #7897 closed

[2022-05-10 13:26] librariam commented on #5780
+1 from a PKP|PS client. Use case: updates to the article template that then require updating the file link in several hosted journals.

[2022-05-10 13:30] ctgraham commented on #5780
@wopsononock , had you confirmed the functionality on these PRs in 3.3 and main?

[2022-05-10 13:50] wopsononock commented on #5780
No, I must have forgot about it.  I'll give it a whirl today.

[2022-05-10 15:14] asmecher commented on #7392
Thanks, @NateWr! I grepped for more changes and found yours and others; they were resolved in the same way. I went ahead and merged.

[2022-05-10 15:14] #7392 closed, assigned to nobody

[2022-05-10 15:24] ewhanson commented on #7855
Thanks for posting, @felixhelix!

I can see that this is causing problems for you and is definitely something worth looking into. However, changing the way that this works may cause problems for other publishers in our community.

Can you post your suggestion in our [feature requests forum](https://forum.pkp.sfu.ca/c/questions/feature-requests/8)? That’s where our community comes together to discu

[2022-05-10 15:32] iudizm commented on #7864
Just sent Pull Requests to OJS and OMP.

@asmecher, in OMP we also noticed that the GoogleScholar plugin is also [setting](https://github.com/pkp/omp/blob/7f0f70db5a594cacf271599d2fb2f1ccf8101b0f/plugins/generic/googleScholar/GoogleScholarPlugin.inc.php#L62) the `citation_title` metadata without the subtitle, should we fix this too?

[2022-05-10 15:57] touhidurabir commented on #7909
@asmecher changes are pushed . please review now .

[2022-05-10 16:35] ewhanson opened #7919 "Cannot delete DOIs from UI"
**Describe the bug**
It is not possible to delete/remove a DOI from the DOI management page. See [discussion on #4056](https://github.com/pkp/pkp-lib/issues/4056#issuecomment-1101558443) for details.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DOIs
2. Select a publication and expand it.
3. Select edit DOI, delete the text, and attempt to save.
4. See error

**What application are y

[2022-05-10 18:26] asmecher commented on #7885
Merged https://github.com/pkp/pln/pull/15 for `main`, thanks! Please back-port to `stable-3_3_0`, but no further back than that.

FYI, I've just enabled Issues over on the PKP|PN plugin repository (https://github.com/pkp/pln/issues). Feel free to start tracking issues there.

[2022-05-10 19:37] asmecher commented on #7909
Merged -- thanks, @touhidurabir!

[2022-05-10 19:37] #7909 closed

[2022-05-10 19:39] asmecher commented on #7864
PRs:
- https://github.com/pkp/ojs/pull/3398/files
- https://github.com/pkp/omp/pull/1117/files

[2022-05-10 20:24] jonasraoni commented on #7885
Ok, so here goes the one for `stable-3_3_0`
- https://github.com/pkp/pln/pull/17

[2022-05-10 23:26] asmecher commented on #7864
@bozana, would you mind reviewing these?

[2022-05-11 09:20] NateWr commented on #4056
Thanks @ewhanson! That all looks good. I've added a few comments but nothing that would block merge.

While testing, I was unable to get automatic DOI generation working. I configured it to generate a DOI at the copyediting stage, set it to default DOI suffix pattern, and "accepted" a submission in the review stage so that it moved to the copyediting stage. But this did not generate a DOI for the

[2022-05-11 11:17] mooselybased opened #7920 "[OMP] Series is not saved upon first submission"
Describe the bug:
When making a new submission and sorting it into a series, the series is not saved once the submission progress is finished. Checking on a new submission always shows the series field to be empty. You can then simply edit the entry and select a series+save, which works to assign the submission to a series, but the problem for us lies with the mail notifications. Since OMP does no

[2022-05-11 12:09] touhidurabir commented on #7916
There are few alternative packages/libraries to choose from as [HTMLPurifier](http://htmlpurifier.org/) is still the most common and widely used one even if it's not maintained properly and there has been no major upgrade of it . Most the of popular ones are also kind of based on that one which make those more like a wrapper over it . Few available options are (based on initial R&D)

1. [xemlock/h

[2022-05-11 15:43] wopsononock commented on #5780
This worked in 3.3.  Inside the edit menu there is now a new Replace File option.  I was able to change the file without changing the url.

[2022-05-11 18:21] asmecher commented on #7916
Thanks, @touhidurabir! To summarize our convo today:
- `[xemlock/htmlpurifier-html5](https://github.com/xemlock/htmlpurifier-html5)` is a fork and I wouldn't normally recommend that approach but if we have a long-term solution that requires a stopgap (e.g. because of too high a PHP baseline) it's worth considering. (I don't see a formal statement anywhere that HTMLPurifier is not being maintained,

[2022-05-11 18:54] asmecher commented on #7639
Unless the potential impact can be brought down on OJS/OMP 3.3.0-x, I'd suggest just leaving these changes to the 3.4.0 release. If someone has a firm requirement for this support in 3.3.0-x, please speak up!

[2022-05-11 18:58] ctgraham opened #7921 "Generalize buildpkg.sh"
**Describe the problem you would like to solve**
System administrators would like to use buildpkg.sh against their own forks of OJS.  Specifically, buildpkg.sh lies about its calling syntax, hardcodes the pkp repo, and is overly reliant on enumerating known composer dependencies and git submodules.

Consider a fork of OJS which includes multiple plugins as submodules.  This script should be able t

[2022-05-11 20:14] ctgraham commented on #7921
Is `buildpkg.sh` even currently used?  It still uses the obsolete `git://` protocol.
[code]

[2022-05-11 20:28] ctgraham commented on #7921
PRs:
* stable 3.3: https://github.com/pkp/ojs/pull/3399
* main: https://github.com/pkp/ojs/pull/3400

[2022-05-11 20:39] asmecher commented on #7921
(comment: https://github.com/pkp/ojs/pull/3400#issuecomment-1124274451)

[2022-05-11 20:43] asmecher commented on #7921
Yes, it's used -- we just haven't released since unauthenticated `git://` was decommissioned a couple months ago.

[2022-05-11 20:46] asmecher commented on #5780
@wopsononock, just to confirm, this is 3.3 *with https://github.com/pkp/pkp-lib/pull/7606 applied*, right?

[2022-05-11 21:46] withanage opened #7922 "Update ORCID integration with contributor details"
**Describe the problem you would like to solve**
The orcidProfile plugin integrates with the author form by modifying the orcid field, and adding checkboxes to send authorization requests. This will no longer work with the new forms in OJS/OPS 3.4.

**Describe the solution you'd like**
- The field "Orcid ID" in publication->contributors should be read-only when the orcidProfile plugin is activated

[2022-05-11 22:12] asmecher commented on #5780
^ Scratch that, I see you've confirmed in the PR. I've merged the `stable-3_3_0` PR; that's pushing the limits of what I'd normally merge to a stable branch, but it is no-impact to existing users, so I went ahead.

@wopsononock / @ctgraham, the PR for the `main` branch will definitely need to be dusted off, though; can one of you take a look?

[2022-05-11 22:49] asmecher commented on #7920
@touhidurabir, could you have a look?

[2022-05-12 07:59] touhidurabir commented on #7920
For the latest installation of `OMP 3.3.0.10`, this issue does not exist. Also I can confirm that `Seres Editor` will get mail as tested . My suggestion is to upgrade to latest version of `OMP` `3.3.0.10` to get rid of this issue .

[2022-05-12 10:30] touhidurabir opened #7923 "Can not view catalog page."
**Describe the bug**
When try to view the `Catalog` page from the admin, it showing a 500 internal error page .

**To Reproduce**
Steps to reproduce the behavior:
1. Login as Manager/Admin.
2. Create a new Press.
3. Now try to view the Catalog page for that generated press.

**What application are you using?**
OMP 3.3.0.10

**Additional information**
This exception is occurring for `OMP` installat

[2022-05-12 11:02] felixhelix opened #7924 "conference papers (grey literature)"
**Describe the problem you would like to solve**
Our partners asked if OJS can also be used for managing conferences call-for-papers, reviews and later publication of the presentations. The first two points can well be addressed using OJS. The last point, publication, is, however, problematic: If not in the form of "proceedings" the papers cannot be seen as "articles", and do not belong to any jou

[2022-05-12 11:08] touhidurabir commented on #7916
@asmecher if this is not a higher priority right now , we can get back to this one later when we caught up with PHP 8.1+ . Another option is to use a forked version of [symfony/html-sanitizer](https://github.com/symfony/html-sanitizer) that we make compatible with PHP 8.0+ but even so this package by the `Symfony Team` is still in `BETA` state and that why it's still not included in their availabl

[2022-05-12 11:25] bozana commented on #7864
Hi @asmecher. That looks good, but:
- It seems we mix `article` (i.e. current publication) and `publication` (i.e. actual publication) -- in some places (e.g. templates/frontend/pages/article.tpl) we use `article` in DC plugin we use `publication`. Thus those might differ... But, this is maybe a task for another time, to check and think and decide... ?
- What about chapter in OMP DC -- it seems th

[2022-05-12 11:44] defstat opened #7925 "Two UserGroups with the same name for same context"
**Describe the problem you would like to solve**
A user can add two (or more) UserGroups with the same Name, possibly causing confusion.

**Describe the solution you'd like**
The creation of a new UserGroup could be prevented if the context already contains a UserGroup with the same name to any locale.

**Additional information**
Already existing userGroups with the same name should be considered.

[2022-05-12 12:28] NateWr commented on #7871
@jonasraoni can you take a look at this and let me know if this seems like an ok approach?

PR:
https://github.com/pkp/pkp-lib/pull/7926

Tests:
https://github.com/pkp/ojs/pull/3401

[2022-05-12 18:34] iudizm commented on #7864
@bozana, we just sent a PR over to OPS fixing this:
* https://github.com/pkp/ops/pull/280

[2022-05-12 19:23] bozana commented on #7864
Thanks @iudizm! I thought @asmecher made the PRs, that's why I wrote to him... :-DDD Sorry!
Let me then just check the GoogleScholar too...

[2022-05-13 09:16] defstat commented on #7143
@asmecher

**PR**
[OMP] : pkp/omp#1119

@hcuser12 Thank you for finding this. Could you check whether the above change resolves your issue?

[2022-05-13 09:47] defstat opened #7927 "Native Import/Export: Better error message for missing UserGroup"
**Describe the problem you would like to solve**
When importing a submission, the UserGroup of the Authors should be defined. The userGroup is defined by name, and if a usergroup with the same name does not exist in the destination installation, the import process fails.

**Describe the solution you'd like**
Currently the error that the process produces is `msgstr "Unknown user group {$param}"`. I

[2022-05-13 09:55] defstat commented on #7927
@asmecher

**PR**
[pkp-lib]: #7928

[2022-05-13 10:14] touhidurabir commented on #5616
With the latest installation of `OJS` `3.3.0+`, this issue does not seems to be persist any more . But in the `Plugin Gallery` section, the plugins are not sorted alphabetically so may be that is something we can point as enhancement option but there is a search option there as well so that does not seems very significant either . But installing plugin from gallery or activating/deactivating from

[2022-05-13 22:57] ewhanson opened #7929 "Needs DOI filter considers non-existent galley when running query"
**Describe the bug**
The Needs DOI filter should check if a submission is in the copyediting or production stage and if the item has any unassigned DOIs. With the current behaviour, if DOIs are enabled for both publications and galleys, but no galley has been assigned to a publication, the Needs DOI filter will always consider this publication as needing a DOI even if one is assigned to the public

[2022-05-14 03:24] asmecher commented on #7470
(The above question is cross-posted here: https://forum.pkp.sfu.ca/t/mapping-for-obsolete-file-stage-8/73166/3)

[2022-05-14 16:02] asmecher commented on #7716
Whoops -- fixed. Thanks, @ctgraham.

[2022-05-14 16:02] #7716 closed

[2022-05-15 18:16] asmecher commented on #7923
Merged, thanks! Could you forward-port this to `main` as needed?

[2022-05-15 18:20] asmecher commented on #7143
@defstat, I've merged https://github.com/pkp/omp/pull/1119, but there are some additional things here to be looked over...
- [ ] Does https://github.com/pkp/omp/pull/1119 need forward-porting to `main`?
- [ ] Could you review https://github.com/pkp/pkp-lib/pull/7201?
- [ ] Could you review https://github.com/pkp/omp/pull/994?
Thanks!

[2022-05-15 18:23] asmecher commented on #7927
Merged, thanks!

[2022-05-15 18:23] #7927 closed

[2022-05-15 18:25] asmecher commented on #5616
I'm OK to close this and move on unless we get another report. No need to fix older releases (upgrading is the best solution) and I'd like to undertake some more comprehensive UI/UX work on the Plugin Gallery before investing time there, unless we actually have users requesting specific changes. Thanks!

[2022-05-15 18:25] #5616 closed

[2022-05-15 18:29] asmecher commented on #7925
I'm guessing this arose from https://github.com/pkp/pkp-lib/pull/7928/files#diff-1b0cab100d69c17e5cfaf89755b89d19732fa8b92896e31520a93e0f5fe6a863R152, where we look up a user group by name.

IMO a better solution will be at some point to add symbolic name support for user groups, or some other kind of machine-readable vocabulary -- this will be necessary for https://github.com/pkp/pkp-lib/issues/8

[2022-05-15 18:29] #7925 closed

[2022-05-16 05:07] touhidurabir commented on #7923
@asmecher issue not present in `main` branch. so it's good to be closed . I am closing it .

[2022-05-16 05:07] #7923 closed

[2022-05-16 09:00] defstat commented on #7143
Thanks @asmecher. The `main` branch has a totally different code than `stable-3.3.0`. This change does not seem to need porting to `main` branch. Also reviewed the PRs above

[2022-05-16 10:47] bozana commented on #7864
@iudizm, would it be possible for you to fix the GoogleScholar too?
Similar to the publications, the chapters in OMP should also be able to use getLocalizedFullTitle($preferedLocale) and getFullTitles(). But this would mean that we would need to implement those function. Of course you do not need to do this here, in this issue, just if you would like to.

[2022-05-16 10:49] bozana commented on #7864
@asmecher, I cannot remember any more: Why do we use `$publication->getLocalizedFullTitle($monograph->getLocale()))` in DC in OMP and `$publication->getLocalizedFullTitle())` (i.e. once with and once without preferred (submission) locale)? Shall maybe everything be just `$publication->getLocalizedFullTitle())`?

[2022-05-16 15:56] asmecher commented on #7572
I'm going to call this resolved.

[2022-05-16 16:03] asmecher commented on #7854
@NateWr, thinking about this further:

I don't think the select lists are going to have much of an impact on performance either way. Performance issues are going to come from within the DBMS (large join lists, insufficient indexes, etc) or through the sheer volume of queries.

If we want to tease apart our SELECT behavior, e.g. to only select certain columns, it makes sense to also consider the jo

[2022-05-16 16:09] asmecher commented on #7864
In general we should never depend on the current session's locale in providing metadata -- it should always be in the submission's main locale, ideally including other languages as part of the metadata when it's supported.

[2022-05-16 16:28] ewhanson commented on #4056
Hey @asmecher, I've addressed @NateWr's comments above, and all the tests are passing.

Aside from the two questions on #7782 (depending on the priority, these could go in as a separate PR), these should be good to go. Thanks!

PRs:

* `pkp-lib`: #7782
* `ui-library`: pkp/ui-library#190
* `ojs`: pkp/ojs#3338
* `omp`: pkp/omp#1088
* `ops`: pkp/ops#252
* `crossref-ops`: pkp/crossref-ops#11

[2022-05-16 16:46] asmecher commented on #7924
@felixhelix, this is probably needing more general/strategic discussion, and I'd like to pull in some other community members who might be interested. As such it's best discussed over on the support forum (https://forum.pkp.sfu.ca) rather than here; would you mind starting a topic over there? Feel free to link to this (closed) issue.

[2022-05-16 16:46] #7924 closed

[2022-05-16 17:14] iudizm commented on #7864
Done that in the above commit.

I'm happy to do so 😊. As soon as its done, I will commit it to the PR

[2022-05-16 18:50] iudizm commented on #7864
@bozana, I believe its all done 😊

PRs:
* https://github.com/pkp/ops/pull/280
* https://github.com/pkp/ojs/pull/3398
* https://github.com/pkp/omp/pull/1117

[2022-05-16 23:58] ewhanson commented on #7900
Hey @asmecher, in looking to address this for `new Date()`, I came across a few interesting things.

First, in the past week, I must have updated my version of macOS, because the most recent version of Safari (15.4) now has support for parsing dates in the 'YYYY-MM-DD' format. Because Safari updates are tied to OS updates, it's a bit hard to find an older version of Safari for testing. A good sign

[2022-05-17 07:05] defstat commented on #6597
@israelcefrin, thanks for reporting that. By using the data from [pkp/datasets](https://github.com/pkp/datasets) and the `ojs:stable-3.3.0` branch I can't reproduce the issue. If the problem persists, can you provide an import file that is problematic?

[2022-05-17 11:30] twakeford commented on #7893
Sure!

**Describe the bug**
When a journal has multiple languages installed but only a single language enabled for submissions, the submitting author is presented with metadata fields in each language when inputting the contributor information. If the journal is not allowing submissions in multiple languages then the contributor forms should only be available in the submission language.

**To Repr

[2022-05-17 13:56] ctgraham commented on #7921
@asmecher , the existing PRs are ready for your eyes again.

[2022-05-17 18:01] asmecher opened #7930 "Ensure umask is respected in file creation"
**Describe the bug**
From https://forum.pkp.sfu.ca/t/ojs-v3-3-0-10-some-submitted-files-in-files-dir-journals-are-world-writable/72969:

**What application are you using?**
 OJS, OMP or OPS version 3.3.0-x (reproduced on 3.3.0-10)

[2022-05-17 18:10] asmecher commented on #7930
@bozana, could you review this?

[2022-05-17 18:51] asmecher commented on #4056
@ewhanson, thanks, I just added a couple of nearly trivial comments, but otherwise these have my blessing. My review was fairly cursory, though, as I haven't worked with these requirements.

[2022-05-17 18:58] ewhanson commented on #4056
Thanks @asmecher, I'll get the [versions table change made](https://github.com/pkp/pkp-lib/pull/7782#discussion_r875158947), and once all the tests pass, I'll go ahead and merge.

[2022-05-17 19:47] asmecher commented on #6201
Another related PR: https://github.com/pkp/omp/pull/1121

@nongenti, because these PRs span many repositories, it's helpful to make sure they're all listed here in a comment.

[2022-05-18 09:27] bozana commented on #7864
:tada:  @iudizm, thanks a lot! Great contribution! Especially thanks for the test! :heart_eyes:
I merged it all, will then port it to the main branch and then close this issue...

[2022-05-18 17:42] ewhanson opened #7933 "Update DOI suffix generator based on ISO standard best practices"
**Describe the problem you would like to solve**
Ensure new DOI suffix generation is following all of the established best practices according to the DOI ISO standard.

**Describe the solution you'd like**
Update DOI generator to factor these recommendations into account.

**Additional information**
N/A

[2022-05-18 18:22] iudizm commented on #7864
😁😁 Nice! We are happy to help!

[2022-05-18 18:39] asmecher commented on #7900
@ewhanson, yuck. Is there official documentation for this behaviour? Maybe a polyfill or something 3rd party that we can rely on?

[2022-05-18 18:46] ewhanson commented on #7900
@asmecher, I'll do some digging and see what I turn up.

[2022-05-19 09:36] touhidurabir commented on #7187
@asmecher RPs

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7187 Drag and Drop fails on dependent files](https://github.com/pkp/pkp-lib/pull/7934)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7187 Submodule Update ##touhidurabir/i7187_fix_main## ](https://github.com/pkp/ojs/pull/3404)

let me know if this need to be forwarded to `OMP` and `OPS` .

[2022-05-19 09:43] mdsoft123456 commented on #7213
hello,
I have the same problem i can't send email from annoncements however all other mail where send. any idea please!!!

[2022-05-19 14:58] asmecher commented on #7213
@mdsoft123456, please take questions like this to our support forum: https://forum.pkp.sfu.ca

[2022-05-19 15:57] ewhanson commented on #7900
I couldn't find any Apple-specific documentation on how Safari parses date strings, but in general, MDN [recommend](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date#sect3) [against](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date#parameters) using `new Date()` or `Date.parse()` with date strings and kind of leave it at

[2022-05-19 17:05] asmecher commented on #7900
I'd like @NateWr's sober second thought on this, but I like the library you've identified, and would prefer we rely on something like that than reinvent the wheel. Eventually we can move from there to the temporal API. :+1:

[2022-05-19 18:27] ewhanson commented on #7919
Hey @NateWr, this adds a small change to allow deleting DOIs by submitting empty strings in the form field. Could you have a look? Thanks!

PRs:

- `ui-library`: pkp/ui-library#202
- `ojs`: pkp/ojs#3405
- `omp`: pkp/omp#1122
- `ops`: pkp/ops#281

[2022-05-20 00:27] asmecher commented on #7187
Thanks, @touhidurabir, that's perfect as is! I don't mind if the OMP and OPS submodules aren't updated on the `main`  branch; they'll get updated soon enough.

[2022-05-20 00:27] #7187 closed

[2022-05-20 14:57] AndrewGearhart commented on #7403
@asmecher @NateWr ... are we [there](https://github.com/pkp/ojs/blob/8b86bbca41c27862618024dde7e248b9b5336354/docs/release-notes/README-3.3.0#L31) yet? ;-)

[2022-05-20 15:48] asmecher commented on #7403
We can't remove ADODB until we discard the <=3.3.0 upgrade process, unfortunately. Legacy upgrades up until that point use ADODB. I'm currently thinking to remove ADODB entirely when we hit the next LTS release, which may be 3.6.0.

[2022-05-20 16:18] asmecher commented on #7639
Let's leave this as a thing to be added to an install for anyone who needs it -- but unless there's a compelling reason to merge disruptive changes to `stable-3_3_0` (especially for `pkp-lib`) I'd rather not merge. Thanks all!

[2022-05-20 16:18] #7639 closed

[2022-05-20 16:24] asmecher commented on #7143
@jonasraoni, I see @defstat has reviewed your PRs above (https://github.com/pkp/pkp-lib/pull/7201 and https://github.com/pkp/omp/pull/994) but I'm not sure if you've addressed his questions; also it's hard to know what parts of this need forward-porting to `main`; I'd recommend...
 - Make sure PRs address the issue they're filed with (update the issue to include a list of addressed issues if neces

[2022-05-20 16:27] asmecher commented on #6597
Hi all -- in order to reproduce this issue we will need an import XML document that demonstrates the problem on a 3.3.0-10 installation. If you're able to pass this along, please do; I'll close this in the meantime.

[2022-05-20 16:36] asmecher commented on #7190
@jonasraoni, I think the same work I sugggested [here](https://github.com/pkp/pkp-lib/issues/7143#issuecomment-1133095553) needs to be done on this issue -- better separation of multiple fixes into different commits/issues and clarity over what's already fixed in `main` vs. `stable-3_3_0`. At this point in the `stable-3_3_0` cycle we should be disrupting as little as possible, so targeted fixes on

[2022-05-20 16:42] jonasraoni commented on #7639
Yeah! That's what I've told to Michael. It's still useful for those who really need to import data into OPS 3.3 :)

Also, I can confirm all the code here can be applied temporarily, just to get the imported data in place, then it might be fully reverted to the base branch (`stable-3_3_0`) without issues.

[2022-05-20 16:49] jonasraoni commented on #7143
@asmecher As the @defstat's PR has been merged, I'll close this issue. The PRs I've mentioned above already have their own issue.

[2022-05-20 16:49] #7143 closed

[2022-05-20 19:39] jonasraoni commented on #7190
Some fixes will have to be ported to `main`, if they are not fixed already, I'll check.
Also, there's a database update in the PR. So, I'll have to retest with some XMLs and drop cosmetic fixes (e.g. generates a warning, but works) from the `stable-3_3_0`.

[2022-05-20 20:19] asmecher commented on #7751
@eniocarboni, I was able to reproduce the ordering issue you encountered in your comment above, but this is an Apache (or equivalent) issue rather than an OJS one. With a .htaccess-based basic auth, Apache gets first kick at authorizing the user, and appears not to like Bearer auth coming through first. OJS doesn't even have a chance to respond. This is addressed (obliquely) in the documentation:

[2022-05-20 20:19] #7751 closed

[2022-05-20 20:55] asmecher commented on #7739
Merged and ported to `main`, thanks, @NateWr!

There is no HTML galley plugin for OMP or OPS yet, but when it gets ported there, these changes will be included too.

[2022-05-20 21:05] asmecher commented on #4281
I'm going to close this -- we haven't had requests for this in the wild, and the `x` is technically invalid.

[2022-05-20 21:05] #4281 closed

[2022-05-20 21:07] asmecher commented on #6758
I'm going to close this issue as the 2.x to 3.x upgrade process is long since removed from `stable-3_3_0`, but there is a patch above for those who need it.

[2022-05-20 21:07] #6758 closed

[2022-05-20 21:15] asmecher commented on #7761
@NateWr and @jonasraoni, I updated psy/psysh from 0.11.1 to 0.11.4 in [this commit](https://github.com/pkp/pkp-lib/commit/724ebce6849c16689154d20dc7a947a1a5e58e40#diff-f37acfaa6b11f575a9a6f41a75fa73a61d0f8ebc2c9b8cddc215d8aca10e44f5R8540). [Your PR](https://github.com/pkp/pkp-lib/pull/7762) updated to 0.11.2, which was the newest at the time, but also included a lot of other updates that have alre

[2022-05-20 21:15] #7761 closed

[2022-05-20 22:08] asmecher opened #7935 "Stop using deprecated fgetss() function"
The HTML indexer currently uses the deprecated fgetss() function. See e.g.:
https://forum.pkp.sfu.ca/t/php-fatal-error-uncaught-error-call-to-undefined-function-fgetss/73277

Replace this function with a non-deprecated alternative.

[2022-05-20 22:14] asmecher commented on #7935
OJS 3.3.0-x (with x<11) users can resolve this by applying [this change](https://github.com/pkp/pkp-lib/commit/698085ed0f4b503448293b32ecd97cd491d6f2d6) in the `lib/pkp` subdirectory.

[2022-05-20 22:14] #7935 closed

[2022-05-20 22:21] asmecher commented on #7935
@jnugent, tagging you because I think you were running into 4096-character UTF8 issues. This should resolve them in the bargain. I don't know if that ever got filed or put into a PR?

[2022-05-20 22:23] jnugent commented on #7935
@asmecher are you thinking of this? https://github.com/pkp/pkp-lib/issues/7776

[2022-05-20 22:27] asmecher commented on #7935
No, thinking on it further I'm pretty sure it was PDF file extraction, which also has a 4096-character block size (https://github.com/pkp/pkp-lib/blob/59bea3dbb2ac0577bac36bb79c4e3676d9d9d531/classes/search/SearchFileParser.inc.php#L103).

[2022-05-20 22:32] jnugent commented on #7935
Ah, the problem we were having was that the PKPString preg_match calls were expecting a UTF8 string, and what was coming out of the calls to the pdftotext commands was not, so the split was occurring on an empty string and no keywords were extracted.  I think there was a PR for that, but I don't have the link handy.

[2022-05-22 06:29] touhidurabir opened #7936 "Deleting submission or category cause exception if any association between them exists."
**Describe the bug**
`Case 1` : If a submission is associated with the category and trying to delete the submission shows message such as `An unexpected error has occurred. Please reload the page and try again.`

`Case 2` : If a category is associated with one or multiple submission , then trying to delete that category does not remove it completely . It throws internal exception . Also it make th

[2022-05-22 08:22] jonasraoni commented on #7190
Just to confirm, I've rebased my local branch and the fixes are still needed, I wasn't able to import through the CLI without them.

About the database updates, the import "works" without them, but it leads to orphaned data, as the `Filter::execute()` ends up not returning anything due to this validation: https://github.com/pkp/pkp-lib/blob/main/classes/filter/Filter.inc.php#L502

[2022-05-22 10:36] touhidurabir opened #7937 "Deleting dependent file cause submission activity log view to break ."
**Describe the bug**
If a submission at any stage (currently only in `Submissions --> Workflow --> Production` stage) has the dependent file feature and removing/deleting any parent file at any time cause the `Activity Log` view to break/not load.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an Author and create a new Submission.
2. Login as Editor/Journal Manager and complete th

[2022-05-22 15:33] asmecher commented on #7190
Thanks, @jonasraoni, could you ping Dimitris once this is ported (as needed) to `main` and all the PRs are ready for another review?

[2022-05-22 16:54] touhidurabir commented on #7937
@asmecher please review

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7937 Deleting dependent file cause submission activity log view to break](https://github.com/pkp/pkp-lib/pull/7938)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7937 Submodule Update ##touhidurabir/i7937_fix_main##](https://github.com/pkp/ojs/pull/3406)

also should I forward port these to `OPS` and `OMP` ?

[2022-05-22 17:21] touhidurabir commented on #7936
@asmecher please review the PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7936 Deleting submission or category cause exception if any association between them exists](https://github.com/pkp/pkp-lib/pull/7939)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7936 Submodule Update ##touhidurabir/i7936_fix_main##](https://github.com/pkp/ojs/pull/3407)

once test passed and PRs bei

[2022-05-23 07:40] felixhelix commented on #7924
https://forum.pkp.sfu.ca/t/feature-request-conference-papers-grey-literature/73298?u=felixhelix

[2022-05-23 07:44] nils-stefan-weiher commented on #6702
Hi @NateWr ,

but then what is the difference between the publication format and the galley in OMP.

Wouldn't it be possible to extend the Galley metadata for OMP?

[2022-05-23 08:57] NateWr commented on #7854
Ok, makes sense to me. So our decision is to add the full select statements to the `Collector::getQueryBuilder()` method, right? I've updated the issue description above to reflect this.

[2022-05-23 08:59] NateWr commented on #2890
In addition to these things, we may also need to consider decisions that move a submission into the review stage. They may need to check if a review round already exists and, if so, re-open it.

[2022-05-23 09:03] NateWr commented on #7893
This only needs to be addressed in `stable-3_3_0` because it will be fixed in 3.4 as part of https://github.com/pkp/pkp-lib/issues/7191.

[2022-05-23 09:28] NateWr commented on #7900
Thanks for digging into this, @ewhanson. On the library, we're already using `moment.js`, so if that provides a solution I'd suggest we go with it. (At least, it's a dependency of a dependency in our `package-lock.json` file. A good thing to do would be to check the build size before/after using it in a fix. If it doesn't change much, then we won't be adding to our build size by using it.)

Maybe

[2022-05-23 09:42] NateWr commented on #6702
Hi @nils-stefan-weiher,

This would be the relationship between a publication format and a galley:

So one publication format may have many galleys. Just like right now one publication format may have many files.

[2022-05-23 12:48] NateWr commented on #6702
Galleys would be associated with chapters for the publication details. Depending on what workflow requirements existed, they may or may not be associated with submission files.

[2022-05-23 12:50] nils-stefan-weiher commented on #6702
Thanks @NateWr , so this makes sense to me. Also with the requirement for remote galleys for chapters.

[2022-05-23 16:51] ewhanson commented on #7900
Thanks @NateWr, I hadn't noticed we were already using `moment.js` (it looks like it was added as part of #5540). I checked the build size just to be safe and it was less than a kb of difference once I implemented my addition so that seems like the way to go. I'l get it tested out a bit more thoroughly and update the PRs.

[2022-05-23 17:09] defstat commented on #6610
@asmecher

I added support for displaying the export results.

All the changes are contained within the ONIX3.0 plugin. The code for main branch comes next. Cherry picking is not possible between the two right now.

**PR**
OMP-stable3.3.0: pkp/omp#1126

[2022-05-24 00:02] asmecher commented on #7936
That looks good to me, @touhidurabir, please continue.

[2022-05-24 00:03] #7937 closed

[2022-05-24 00:03] asmecher commented on #7937
Thanks, @touhidurabir, I've merged those two. I don't mind if the OMP and OPS submodule updates fall a little behind; this is a trivial fix.

[2022-05-24 09:03] jonasraoni commented on #7636
Just confirming this issue will be addressed by the https://github.com/pkp/pkp-lib/issues/7190, so I'm closing this one as a duplicate.

[2022-05-24 09:03] #7636 closed

[2022-05-24 09:41] touhidurabir commented on #7936
@asmecher all PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7936 Deleting submission or category cause exception if any association between them exists](https://github.com/pkp/pkp-lib/pull/7939)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7936 Submodule Update ##touhidurabir/i7936_fix_main##](https://github.com/pkp/ojs/pull/3407)
[ops](https://github.com/pkp/ops) --> [pkp/

[2022-05-24 15:16] ctgraham opened #7940 "Use or remove scheduled_tasks flag in config.inc.php"
**Describe the bug**
File config.inc.php has a [`scheduled_tasks` setting](https://github.com/pkp/ojs/blob/216f47a3dd03b26e3635ca3bfff0f65f825630e1/config.TEMPLATE.inc.php#L48-L51) in the `general` section with the description:

This is used three times in the current codebase, where it disables reminder options if not "On":
https://github.com/pkp/ojs/blob/216f47a3dd03b26e3635ca3bfff0f65f825630e1/

[2022-05-24 15:26] sourcedump opened #7941 "CORS Redirect is not allowed for a preflight request"
**Describe the bug**
I'm using OJS3.3 installation with multiple journals, each with a different domain name. We can describe the actual configuration as follow:

- Index page with the url ‘https://ojs.journals.com/’
- journal umber 1 with url ‘https://www.myjournal1.com/’
- journal umber 2 with url ‘https://www.myjournal2.com/’
- etc …

config.inc.php configuration:
[code]
When I try to make publ

[2022-05-24 16:12] defstat commented on #6610
@asmecher

New PRs added.

**PRs**
pkp-lib-stable3.3.0: pkp/pkp-lib#7942
OMP-stable3.3.0: pkp/omp#1126

[2022-05-24 19:38] asmecher commented on #7936
All merged, thanks!

[2022-05-24 20:38] ewhanson opened #7943 "Typo in getUsersWithNoRole query"
**Describe the bug**
The `getUsersWithNoRole()` query is missing a space in its construction and results in `...IS NULLORDER...` instead of `...IS NULL ORDER...`

**To Reproduce**
Steps to reproduce the behavior:
1. Invoke the `getUsersWithNoRole()` method in `UserDAO`.
2. See SQL error

**What application are you using?**
 pkp-lib stable-3_3_0 branch

**Additional information**
N/A

[2022-05-24 20:45] ewhanson commented on #7943
Hey @asmecher, could you have a look at this? There wasn't a space at the end of the concatenated string, so the following query elements were added directly against the end of the concatenated string (e.g. `NULLORDER` instead of `NULL ORDER`). I don't think this query is used anywhere in the code, but it came up in a systems team tool. Also, for what it's worth, this was failing silently in MySQL

[2022-05-24 22:18] ewhanson commented on #7522
Hey @NateWr, I've included these PRs here as they mostly deal with DOI actions UX, but there will still be more to address for this issue. There's one commit adding the a DoisEnabled authorization policy. Thanks for having a look!

PRs:

- `pkp-lib`: #7945
- `ui-library`: pkp/ui-library#203
- `ojs`: pkp/ojs#3408
- `omp`: pkp/omp#1128
- `ops`: pkp/ops#285

[2022-05-25 00:13] bozana commented on #6781
@ctgraham, do you maybe know if there is a COUNTER role/suggestion how to deal with deleted pub object? For example, if a submission is deleted, do we need to keep all the stats connected to that submission? -- If we would keep the stats, we would also need to keep the other information for the reports. If we would not keep the stats the numbers would change for the months when the submission exis

[2022-05-25 03:30] asmecher commented on #7943
Merged, thanks!

[2022-05-25 03:30] #7943 closed

[2022-05-25 09:07] bozana commented on #6782
@NateWr, @asmecher, @ctgraham:
With our new implementation we will have problems with stats when a published object (e.g. submission or submission file) is deleted:
We use foreign keys now, so that the references to those deleted objects cannot stay in the DB table. That however means that the older stats numbers (e.g. for months where the object existed) would change -- 'suddenly' they would be l

[2022-05-25 09:48] defstat commented on #6610
@asmecher

Changed the code to pass only the date part of the file in order to determine the file that will be downloaded.

**PRs**
pkp-lib-stable3.3.0: https://github.com/pkp/pkp-lib/pull/7942
OMP-stable3.3.0: https://github.com/pkp/omp/pull/1126

[2022-05-25 12:35] bozana commented on #7930
@asmecher, just one comment/question, else all good... :+1:

[2022-05-25 13:18] NateWr commented on #7522
I've reviewed them all and left a few comments, but it looks good. In addition to the comments, I noticed one small locale key change that I'd recommend. When clicking Deposit All, it says:

I'd recommend changing this to:

[2022-05-25 13:19] NateWr commented on #7522
Oh, and I noticed that the timing part of this issue is still outstanding:

[2022-05-25 13:42] bozana commented on #6781
Thanks a lot @ctgraham! Lets see what they say...

[2022-05-25 15:50] pmangahis commented on #7273
Can this be extended to include the option to opt-in or-out when a review is overdue? Or would it be better to create a new request for this?

[2022-05-25 16:16] NateWr commented on #7919
Thanks @ewhanson. Merged the UI Library PR and closed the others.

[2022-05-25 16:16] #7919 closed

[2022-05-25 17:34] jonasraoni commented on #7871
@NateWr I had a similar issue at the unit tests, here's the culprit: https://github.com/pkp/pkp-lib/blob/main/tests/mock/env1/MockLocale.inc.php#L35-L41

I just can't remember if I spent time analyzing the idea/objective (if the idea is just to overwrite translations, then it's not needed anymore, the Laravel's `Facade` can do it).

[2022-05-25 18:15] jnugent opened #7946 "OAI XML in OPS generates broken links for dc:relation"
**Describe the bug**
The XML output for OPS uses "article" as the page op in the URL it builds for the dc:relation field.  These links are broken since that handler does not exist. It works fine in OMP.

The link for dc:identifier correctly uses "preprint" so this is probably a typo or a copy/paste thing.

**To Reproduce**
Steps to reproduce the behavior:
1. View the OAI "ListRecords" verb in an O

[2022-05-26 08:28] OhnO395 commented on #7546
The language should be displayed according to the language page on which the website is displayed.
or should display the language according to the language of the paper
Currently, the system displays the given name according to the language of the paper. but showing the family name in the language shown on the website

[2022-05-26 08:50] touhidurabir opened #7949 "Can not add new item under checklist"
**Describe the bug**
When try to add a new item under the `Settings --> Workflow --> Submission --> Checklist`, it throws `Internal 500 exception` and cause not able to add any new item under the checklist items .

**To Reproduce**
Steps to reproduce the behavior:
1. Login as Admin/Manager.
2. Go to `Settings --> Workflow `.
3. Under `Submission --> Checklist`, try to add a new item.
4. See that i

[2022-05-26 08:59] NateWr commented on #7871
Thanks @jonasraoni. What would be the appropriate fix for the tests in my case? It doesn't look like `MockLocale::setTranslations()` is ever used...

[2022-05-26 09:24] touhidurabir commented on #7949
@asmecher please review

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7949 Can not add new item under checklist](https://github.com/pkp/pkp-lib/pull/7950)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7949 Submodule Update ##touhidurabir/i7949_fix_main## ](https://github.com/pkp/ojs/pull/3410)

[2022-05-26 09:55] jonasraoni commented on #7871
Given that facades have [mock capabilities](https://laravel.com/docs/9.x/mocking#mocking-facades) out of the box, I think this class can be wiped out.

As a fast fix, I believe that removing the `get()` method and its related code will be enough (I found few occurrences of octothorpes inside the /tests folder to be updated). 🤞

[2022-05-26 10:31] NateWr commented on #7871
I'm sorry I don't know what to do with this. @asmecher can you pick this up and get it merged? I'm not sure what needs to happen with the tests.

[2022-05-26 17:05] bozana opened #7953 "Document usage stats changes for release notebook"
Document what has been removed with usage stats improvements in this Github issue https://github.com/pkp/pkp-lib/issues/6782, and how someone might replace e.g. calls to the removed methods with the new service classes.
That will then go into the release notebook for 3.4.

[2022-05-27 00:39] kshuttle commented on #6130
This question is related to one of the statistics requirements of Plan S but is separate from the review assignment stats, so please let me know if this should be posted elsewhere.
I am working on some documentation for users regarding Plan S requirements and noted "the average time between submission and publication" is one of the required stats.
I've investigating the possible steps for retrievi

[2022-05-27 08:45] NateWr commented on #6130
Yes, can you file a new feature request issue for this? In the additional
comments, can you also comment on behalf of PS about whether the Plan S
requirements are important enough to clients that this feature needs to be
be back ported to 3.3 LTS or if 3.4 or later is sufficient.

On Fri, 27 May 2022, 01:39 kshuttle, ***@***.***> wrote:

[2022-05-27 09:04] bozana commented on #6130
I've just seen this issue: https://github.com/pkp/pkp-lib/issues/7691.
So, no need to create a new one?

[2022-05-27 10:06] touhidurabir opened #7954 "Can not add options for optional type fields in the review form"
**Describe the bug**
For a `Review Form`, when attempting to add an form item that has options associated with it such `Checkbox`, `Radio Button` or `Dropdown`, it  failed and no item under the `Response Options` section .

**To Reproduce**
Steps to reproduce the behavior:
1. Login as `Admin\Editor\Journal Manager`.
2. Go to `Settings --> Workflow --> Review --> Review Form`.
3. Create a new Revie

[2022-05-27 10:14] touhidurabir commented on #7954
@asmecher please review the RRs at

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7954 Can add options for optional type fields in the review form](https://github.com/pkp/pkp-lib/pull/7955)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7954 Submodule Update ##touhidurabir/i7954_fix_main##](https://github.com/pkp/ojs/pull/3411)

As this is a very trivial fix, I am not sure if I ne

[2022-05-27 13:41] geniusdesignbrasil opened #7956 "Suggestion Improvement: Restrict categories to editors"
SCENARIO
The categories creation on 3.x version was really amazing, specially to multidisciplinar journals. It was very hard to group submissions by knowledge areas, not by section, without categories. It is very helpful to thematic issues too.

On thematic issues case, after it is published, categories remains available to new submissions, even after the issue has been published. It could be poss

[2022-05-27 14:00] touhidurabir opened #7957 "Issue publishing feature is not working properly"
**Describe the bug**
When publishing a new issue, it's not behaving properly . Issue is getting published but if mail notification is set , it's not sending any mail notifications. Also at the same time issue is not getting moved form `Future Issues` to `Back Issues` and the confirmation model is not getting away which make it looks like the issue publishing has failed .

**To Reproduce**
Steps to

[2022-05-27 14:09] touhidurabir commented on #7957
@asmecher please review

[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7957 Issue publishing feature is not working properly](https://github.com/pkp/ojs/pull/3412)

[2022-05-27 20:21] jnugent opened #7958 "3.3.0 installs a locale column in the publications table that should have been removed"
**Describe the bug**
We've noticed a discrepancy in the schema between a fresh install of stable-3_3_0 and an upgraded stable-3_3_0.  The former has a locale column on the publications table but the upgraded one does not.

The PKPPublicationDAO in 3.3 sets the locale on the publication object by fetching it from the submission associated with it:

https://github.com/pkp/pkp-lib/blob/stable-3_3_0/c

[2022-05-27 21:26] #7957 closed

[2022-05-27 21:27] asmecher commented on #7957
Merged, thanks!

[2022-05-27 21:56] #7954 closed

[2022-05-27 21:56] asmecher commented on #7954
Merged, thanks! I don't mind if we skip submodule updates for OMP and OPS.

[2022-05-27 22:03] #7946 closed

[2022-05-27 23:48] #7949 closed

[2022-05-27 23:48] asmecher commented on #7949
Merged the pkp-lib change; no need for OPS and OMP PRs. Thanks!

[2022-05-28 00:04] asmecher commented on #7930
Thanks -- merged!

[2022-05-28 00:04] #7930 closed

[2022-05-30 08:53] NateWr commented on #7958
The `locale` column should not be on the publications table. The bug is with the install code. This line should be removed:

https://github.com/pkp/ojs/blob/stable-3_3_0/classes/migration/OJSMigration.inc.php#L188

And I guess now we'll need an upgrade script in 3.4 to remove it again.

[2022-05-30 10:39] NateWr commented on #6130
Yes, @kshuttle you may want to add information to #7691 regarding PS's priorities for 3.3 vs 3.4.

[2022-05-30 10:42] NateWr commented on #7956
Hi @geniusdesignbrasil. Thanks for your suggestion. This is a duplicate of https://github.com/pkp/pkp-lib/issues/6306. Please follow any progress there.

[2022-05-30 10:42] #7956 closed

[2022-05-30 10:45] NateWr commented on #7941
Hi @sourcedump. I would encourage you to post in our [support forum](https://forum.pkp.sfu.ca/c/questions/5). You will find more help there than we are able to provide here.

[2022-05-30 10:45] #7941 closed

[2022-05-30 10:51] jonasraoni commented on #7190
Hi @defstat, please take a look again on the PRs, follow some notes:
- Non-essential fixes were moved to the `main` branch.
- Most of the changes were needed for OMP, I could apply some minor changes to OJS and OPS basically just received the `pkp-lib` update.

[2022-05-30 10:53] sourcedump commented on #7941
Hello @NateWr ,
ok, no problem, but it could be possible that it is a bug of some sort, because it is the OJS3 code that generates the link to a different domain.

[2022-05-30 10:56] bozana commented on #6781
Hi all,
COUNTER support said that the usage stats metrics need to be retained:
COUNTER Code of Practice requires providers to maintain records for the current year plus the prior 24 months of usage. That would mean that the provider needs to retain usage records for the deleted artefact, ideally linked to a unique identifier. The information should be retained for as long as the provider would typ

[2022-05-30 10:57] NateWr commented on #7892
This is working as intended. These properties are not given the `apiSummary` flag to appear in summaries. They won't be available until 3.4, which introduces dedicated API endpoints for contributors.

[2022-05-30 10:57] #7892 closed

[2022-05-30 11:04] #7856 closed

[2022-05-30 11:06] NateWr commented on #7845
Closing this due to the lack of follow-up. Please consider posting in our [support forum](https://forum.pkp.sfu.ca/c/questions/5) for further assistance.

[2022-05-30 11:06] #7845 closed

[2022-05-30 11:18] NateWr commented on #7941
If a bug is confirmed we can bring it over. But many instances run a multi-domain journal without problems. So the most likely cause of the problem is a configuration error. The support forum is the best place for that.

[2022-05-30 11:25] jonasraoni commented on #7455
This will be handled by the #6675, therefore I'm closing this issue.

[2022-05-30 11:25] #7455 closed

[2022-05-30 11:34] NateWr commented on #7819
This will be obsolete when #7191

[2022-05-30 11:34] #7819 closed

[2022-05-30 11:43] NateWr commented on #7724
I was unable to reproduce this.

[2022-05-30 11:43] #7724 closed

[2022-05-30 11:46] jonasraoni commented on #7603
Closing this issue as a duplicate of https://github.com/pkp/pkp-lib/issues/7190

[2022-05-30 11:46] #7603 closed

[2022-05-30 11:46] bozana commented on #6781
1. Concerning the old usage stats that are in the old table `metrics`:
Because we need to keep COUNTER R4 reports for at least current and the 2 last years (of the moment the user installs the new version with COUNTER R5), we would need to keep the old data i.e. also the old data that contains the references to the deleted objects for which we do not have any information. COUNTER R4 reports do not

[2022-05-30 11:54] touhidurabir commented on #2890
I can see that reverting back to the `Review Stage` ability already added now in the `main`. As I test with the latest pull form `main` branch, I can confirm the it work properly when reverting back to review stage from. All review rounds are there , both the last running one and any previous one . Also the last review round get activated immediately after reverting back to review stage with prope

[2022-05-30 11:56] bozana commented on #5558
Hi @ajnyga, I am visiting old stats issues -- to clean a little bit after the big changes coming with the issue https://github.com/pkp/pkp-lib/issues/6782 are merged...
I thing we are solving this, at least in the background for now -- the UI is still to come, with those changes.
Thus, if no objections, I will close this issue, once the changes there are merged, OK?

[2022-05-30 11:57] bozana commented on #4847
I will close this issue -- it is handled here https://github.com/pkp/pkp-lib/issues/6781 i.e. the communication can continue there

[2022-05-30 11:57] #4847 closed

[2022-05-30 11:57] NateWr commented on #6781
It's up to you @bozana. But in my opinion we should split things like this into a separate issue for future improvements.

[2022-05-30 12:04] bozana commented on #4130
With this issue https://github.com/pkp/pkp-lib/issues/6782 we separated the metrics by assoc type, and added some indexes, which should improve it... So once that work is merged I will close this issue...

[2022-05-30 12:05] bozana commented on #4760
Closing this issue because it is handled here https://github.com/pkp/pkp-lib/issues/6781

[2022-05-30 12:05] #4760 closed

[2022-05-30 13:04] jnugent commented on #7958
PR against `stable-3_3_0`: https://github.com/pkp/pkp-lib/pull/7959

[2022-05-30 13:40] touhidurabir commented on #2890
So when back to `Review Round`, we have 2 cases to consider

1. ability to get back to `Submission` directly regardless of which review round it's currently at as there may be just a single review round as multiple .
2. go back to previous review round one by one if there are multiple and in the last review round only have the option to get back to submission .

In case of No: 1 seems easy as that

[2022-05-30 15:30] NateWr commented on #2890
Yeah, this is why this feature is a bit complicated. Backing out of a review round can leave a lot of things in an uncertain state, like review assignments. We don't want someone in review round 3 to be able to send something directly back to the submission stage.

In particular, the following question/comments above:

Based on those comments, I think the most important use case is when someone op

[2022-05-30 18:00] bozana commented on #6781
Thanks a lot @NateWr! I would love to do so, because these all are already such a big changes. And I believe it is not a 'big deal' for the new statistics and R5. The user could first take care of that by themselves (e.g. not to delete anything already published) before we implement another solution.
But, what to do with the not existing objects from the old table `metrics`?
Alec, Nate and me agre

[2022-05-31 10:39] #4415 closed, assigned to nobody

[2022-05-31 10:48] #4498 closed

[2022-05-31 11:17] bozana opened #7976 "Check the disabled value for enableGeoUsageStats"
Investigate the site stat settings form: check the value for the first option of the field enableGeoUsageStats, when Geo stats are disabled.

[2022-05-31 11:31] #7403 closed, assigned to nobody

[2022-05-31 11:33] #7764 closed, assigned to nobody

[2022-05-31 11:35] jonasraoni commented on #7601
I'll close this issue for now. I believe that once we update Cypress to a newer version (we're near to Cypress 10.x) most of these issues will be gone =]

[2022-05-31 12:51] #6257 closed

[2022-05-31 13:00] Vitaliy-1 opened #7989 "Show REVIEW_REQUEST_SUBSEQUENT email only if reviewer is assigned a second time"
**Describe the problem you would like to solve**
During reviewer assignment, an editor has an opportunity to compose an email from the `REVIEW_REQUEST` or `REVIEW_REQUEST_SUBSEQUENT` email templates. After refactoring, they are associated with `ReviewRequest`  and `ReviewRequestSubsequent` mailables.

The current logic is that the `REVIEW_REQUEST` template is shown during first review round and th

[2022-05-31 23:26] ewhanson commented on #7522
Hey @asmecher, I've addressed @NateWr's comments and have the tests passing. Would you be able to have a look? PRs are [linked above](https://github.com/pkp/pkp-lib/issues/7522#issuecomment-1136484021). Thanks!

[2022-06-01 15:20] asmecher commented on #7522
All merged -- thanks, @ewhanson and @NateWr!

[2022-06-01 18:56] dunnleaddress commented on #7156
Hello @OhnO395 ,

We have experienced the same issue and I have applied this fix to my OJS version 3.3.0.8 - it seems to fix the issue (need more testing) - The Upload/Select Files dialogue is now successfully loaded for attachment.

We always appreciate your and others' hard work to keep this software working smoothly.

Best Regards,

D.

[2022-06-02 00:41] kshuttle commented on #7691
The need for a "Date Published" field in the Articles report is also related to the Plan S requirement for journals to publish their average time between submission and publication. If "Date published" was included in the article report it would be possible to use a simple formula in excel to calculate Date Published minus Date Submitted to see number of days from submission to publication. The nu

[2022-06-02 12:39] asmecher commented on #7958
Shifting this one to 3.4. Since it isn't actively causing problems, adding a migration to remove the column with 3.4.0 will mean just fixing it once.

[2022-06-02 12:41] asmecher commented on #7958
In fact, this is a duplicate of https://github.com/pkp/pkp-lib/issues/7463, which has already been resolved against 3.4.

[2022-06-02 12:41] #7958 closed

[2022-06-02 17:58] georgd commented on #7470
I’m sorry to annoy you by bumping this, but we’d like to fix this locally for our installation and need to know which stage to choose instead of stage 8.

[2022-06-02 19:01] ewhanson commented on #7929
Hey @asmecher, could you have a look at these PRs? Thanks!

PRs:

- `ojs`: pkp/ojs#3416
- `omp`: pkp/omp#1132
- `ops`: pkp/ops#289

[2022-06-03 13:12] asmecher commented on #7929
All merged, thanks @ewhanson. This is so much cleaner to work with, having DOIs stored in their own table, compared to stashing them as a setting!

[2022-06-03 13:12] #7929 closed

[2022-06-03 18:35] asmecher commented on #7751
@mpbraendle, that was discussed within Slim but seemingly rejected here: https://github.com/slimphp/Slim/issues/831

There is a possible `.htaccess` configuration option to fix the Apache handling of `HTTP_AUTHORIZATION`: https://github.com/slimphp/Slim/issues/831#issuecomment-356990229

If that works, I'd recommend using it. It seems that Slim had an accommodation for this Apache quirk in Slim2 b

[2022-06-03 22:00] ewhanson commented on #7470
Hey @georgd, I've followed up via the forum post mentioned above.

[2022-06-04 12:27] groetz opened #7991 "blank mail sent by system"
I am new here.
OJS Current version: 3.2.1.4 en
Old: Open Journal Systems 2.4.8.1 en
Problem: When an author has submitted a paper, a mail is sent to the author with only the headers and my signature, but no content. After that another mail follows to the author with the submission confirmation and the text from the template. There is no empty template in the email template directory.
How can I pre

[2022-06-04 13:50] jonasraoni commented on #7991
Hi @groetz,

Thanks for the report. I would encourage you to post your problem in our [[support forum](https://forum.pkp.sfu.ca/c/questions/5)](https://forum.pkp.sfu.ca/c/questions/5), you will find more help there than we are able to provide here.

In order to submit an issue here, you should be able to come up with a step-by-step reproduction scenario, also we're not giving maintenance to the ve

[2022-06-04 13:50] #7991 closed

[2022-06-04 14:19] jonasraoni commented on #7568
@asmecher, could you please review the PRs in the [description](https://github.com/pkp/pkp-lib/issues/7568#issue-1087943023)?

I've left a couple of comments to help.

[2022-06-05 13:37] withanage commented on #7395
@NateWr, I have  removed all the autoOneClick variables from the po files, which were in both ojs and pkp-lib.

Can you review thes PRs:

- https://github.com/pkp/ojs/pull/3369
- https://github.com/pkp/pkp-lib/pull/7992
-

[2022-06-06 21:50] asmecher commented on #6093
Genres:
- https://github.com/pkp/pkp-lib/pull/7993
- https://github.com/pkp/ojs/pull/3419

[2022-06-07 00:59] asmecher commented on #7871
Just while I have a moment, testing to see whether removing `get()` fixes it --> https://github.com/pkp/ojs/pull/3420
(This is the kind of thing we should not be testing outselves as we adopt more and more of the Laravel platform.)

[2022-06-07 11:33] jonasraoni opened #7994 "The OAIMetadataFormat/DC test is failing"
**Describe the bug**
The `OAIMetadataFormat_DCTest` is failing for OPS and OJS with the message below:
[code]

**PRs**
- https://github.com/pkp/ops/pull/297
- https://github.com/pkp/ojs/pull/3424

**To Reproduce**
Execute the unit tests in OJS/OPS.

**What application are you using?**
`main` branch of OJS/OPS

[2022-06-07 11:40] jonasraoni opened #7995 "Warning when accessing the properties of a schema's field"
**Describe the bug**
Some parts of the code are attempting to access the properties of a schema field, but when it doesn't have any, it generates some warnings:
[code]

The object comes from a `json_decode()` over the JSON schema, and some object fields in the schema (`"type": "object"`) are (intentionally) missing a definition of the properties.

**To Reproduce**
Run the Travis tests against the

[2022-06-07 11:42] jonasraoni opened #7996 "OPS/main is missing locale keys"
**Describe the bug**
The following locale keys are missing for the `en_US` locale:
- `manager.payment.options.enablePayments`
- `preprint.authors`

**To Reproduce**
Execute the Travis tests.

**PRs**
- https://github.com/pkp/ops/pull/295

**What application are you using?**
OPS/main

[2022-06-07 14:12] kerimsarigul commented on #5848
Same issue (no button to show any HTML code) persists in OJS 3.3.0.10.

[2022-06-07 16:29] asmecher commented on #5848
@kerimsarigul, see above: https://github.com/pkp/pkp-lib/issues/5848#issuecomment-627884957

[2022-06-07 17:51] kerimsarigul commented on #5848
Hi @asmecher,
I have extra text editor an I activated it.
It works on any journal's website settings.
But on "Administration > Site Settings" page can not see.
![image](https://user-images.githubusercontent.com/54417583/172449210-f70555ab-b72e-4755-97e0-7c134d345144.png)

[2022-06-08 09:28] #7706 closed

[2022-06-09 09:20] touhidurabir commented on #3585
@asmecher As per our discussion I have added the ability to remove an `Empty` review round (both external and internal) when created accidentally . please review it .

Here the word `Empty` emphasise that no reviewers has been assigned to that round . Also this is only applicable when there is more than one round as if there is only one round , then deleting that is not the correct approach but ne

[2022-06-09 14:11] touhidurabir commented on #2890
@NateWr  I am bit confused why the `cancelled` status of the `review_assignments` table is so important and based on that we want to make the decision . An active review round can be in several state

1. Multiple reviewers already assigned and no response form any of them yet .
2. Multiple reviewers already assigned and few have accepted and few have declined .
3. Multiple reviewers already assign

[2022-06-09 17:55] ewhanson commented on #7525
Hey @asmecher, could you have a look at these PRs? It's mostly reshuffling the HTTP verbs with a few response code changes. Thanks!

PRs:

- `pkp-lib`: #7998
- `ui-library`: pkp/ui-library#205
- `ojs`: pkp/ojs#3422
- `omp`: pkp/omp#1138
- `ops`: pkp/ops#294

[2022-06-12 15:14] jonasraoni commented on #7996
@asmecher just breaking the other PR in pieces, please review this one:
- https://github.com/pkp/ops/pull/295

[2022-06-12 15:35] jonasraoni commented on #7995
@asmecher another small PR to review:
- https://github.com/pkp/pkp-lib/pull/8000

[2022-06-12 18:50] jonasraoni commented on #7994
@asmecher
- https://github.com/pkp/ops/pull/297
- https://github.com/pkp/ojs/pull/3424

[2022-06-13 19:19] aganame commented on #5912
Hello. Maybe you can help me. Is it possible to have more than one ROR ID (with icons on the articles page) for one author in one article? For authors with, for example 2 or more affiliations.

[2022-06-13 20:20] withanage commented on #5912
Currently  no. But I have discussed this aspect with @NateWr and it is possible to have a list of comma sperated ids for one author  and display them accordingly.  I have not prioritized this, but surely look into it, when I build in the 3.4 support. This may also need a frontend change, therefore if you have the ids in database and ike to dusplay them currently,  you may have to add them using a

[2022-06-14 11:21] nils-stefan-weiher commented on #7864
Hi everyone,

I get an exception in a fresh OMP install with "stable-3_3_0" branch ( currently checked out commit 42cea48273a09dc60cd4b0794384de4bcfa19351) which I could trace back to this change.

[code]

Can someone reproduce this exception?

Best regards,

Nils

[2022-06-14 18:59] othwunrai commented on #7796
Hi. I'm little confused. If OJS supports version 4.3.6 of the Crossref schema and only crossref 5.3.1 has ROR support, doesn't it make ROR Plugin useless?

[2022-06-15 08:15] me-kell opened #8003 "user name and task name not showing in dashboard"
**Describe the bug**
user name and task name not showing in dashboard

**To Reproduce**
1. Log in
2. See upper right corner at `header div.app__headerActions div.app__userNav` and `header div.app__headerActions div.app__tasks`

**What application are you using?**
 OJS version 3.3.0-8

**Additional information**
The cause seems to be following css-style in `styles/build.css`

[code]
My workaround i

[2022-06-15 11:05] asmecher commented on #3022
Note from the CRedIT Helsinki sprint group: When an invitation process is supported for co-authorship, consider the QuickSubmit plugin being used for back-issue entry. Historical submissions will include authors without emails and an invitation process will not be workable; in this case editors should be able to authorship data directly.

[2022-06-15 12:58] bozana commented on #7864
Hi @nils-stefan-weiher, oh, I have apparently overseen this... yes, it seems it should be `getFullTitle(null)` instead of `getFullTitles()`. I will double check and provide a fix here.
If you have opportunity to change that and test, it would be great...

[2022-06-15 14:53] wobsta opened #8004 "old-style downloadSuppFile links broken on 3.3.0-11"
When upgrading our journal instance from ojs 3.2.1-4 to 3.3.0-11, the old-style downloadSuppFile stop working.

To show an example of the problem, consider the two instances ojs.dpg-physik.de (3.2.1-4) and ojstest.dpg-physik.de (3.3.0-11). We are using basic auth "ojs" and "test" on the test instance to prevent crawlers from crawling the test instance.
1. https://ojs.dpg-physik.de/index.php/phydid

[2022-06-15 16:16] pmangahis opened #8005 "No record when Editor changes recommendation by Reviewer"
**Describe the problem you would like to solve**
In the event, that an Editor changes the Reviewer's Recommendation (in Reviewer details). There does not appear to be a record of the change in the UI. The decision gets automatically changes on both the Editor and Reviewers' dashboard.

In OJS 2, the email notification the reviewer sends does show the Reviewer's original decision in the Email log.

[2022-06-16 11:35] jonasraoni opened #8007 "The ACron plugin isn't reloading the scheduled tasks when a plugin is enabled/disabled"
**Describe the bug**
After enabling/disabling a plugin, it should have the chance to install its scheduled tasks, but its `AcronPlugin::parseCronTab` hook won't be called.

This feature depends on a hook that doesn't exist anymore, restoring it/replacing with an event should be enough to fix.
The hook was removed at this commit: https://github.com/pkp/pkp-lib/commit/e678078cf1717bd9785b446f84037ee

[2022-06-16 14:26] jonasraoni commented on #7470
Just confirming that I've met this issue in the wild, it's breaking some deposits for the preservation network.

[2022-06-16 19:51] jonasraoni commented on #8007
@asmecher I found this issue while inspecting the PKP PN plugin.

[2022-06-16 19:55] crowesn commented on #6596
OJS 3.2.1.1  - We are encountering the same behavior. No message is generated on a new subscription. Switching of SMTP, there are no errors encountered in the mail logs.

[2022-06-17 08:36] touhidurabir commented on #3585
@asmecher @NateWr I am wondering if I should move this entire PR to pkp/pkp-lib#2890 issue PR on which I am currently woking on . In my opinion this request is pretty much of a subset of pkp/pkp-lib#2890 and the PR for both of pkp/pkp-lib#2890 and pkp/pkp-lib#3585 have quite a bit shared code .

[2022-06-17 09:48] touhidurabir commented on #2890
@NateWr for the `OMP` , if a submission pass down to `Copy Editing` stage form the `Internal Review` only(that is there was no external review stage) , it shows the options `Back To Submission` . Should it not show the option as `Back To Internal Review` ? is this intentional or a mistake ? Also it seems that the back out does not work when testing in the `main` branch .

But if it pass down from

[2022-06-17 18:18] jonasraoni opened #8012 "[OMP] When importing a cover image through the native import plugin, it can overwrite user files"
**Describe the bug**
When importing the cover image, the code is using the filename provided by the user, this might end up overwriting user files, like in this forum post: https://forum.pkp.sfu.ca/t/omp-native-import-plugin-creates-cover-with-wrong-name/73652/5

**To Reproduce**
1. Upload a cover file with a name that already exists using the native import/export plugin
2. The file will be overwr

[2022-06-18 08:28] jonasraoni commented on #4622
Out of curiosity, what's missing to close this issue?

By skimming the code, I'd say it's missing sunsetting the `scheduledTasks.xml` and its related code + the Acron plugin (in a way that keeps backwards compatibility).

[2022-06-18 08:29] jonasraoni commented on #7940
I ended up here after watching the code at https://github.com/pkp/pln, which has a similar check =]

I consider the work on #4622 supersedes the `scheduled tasks` and the Acron plugin, therefore I think this setting can be removed, as it ended up being replaced by `disable_jobs_run_at_shutdown`.

[2022-06-19 15:25] anton-vrba opened #8013 "OPS -- last check box on first Submit form missing"
**Describe the bug**
This Bug is browser dependant that is it appears in Chrome and MS Edge, works correctly in Firefox and Opera browsers
Chrome: Version 102.0.5005.115 (Official Build) (64-bit)
Edge: Version 102.0.1245.44 (Official build) (64-bit)
Firefox: Version 101.0.1 (64-bit)
Opera: Version: 88.0.4412.40

**To Reproduce**
On a virgin installation using PHP 7.3, create a user and the submit

[2022-06-20 01:41] jurnaldanhaki-poltekkeskdi commented on #4540
Dear community,

What version of OJS that including this release?

Thanks

[2022-06-20 07:26] withanage commented on #7447
Hi @NateWr ,

Can you review the following PRs:

- https://github.com/pkp/ojs/pull/3425
- https://github.com/pkp/ojs/pull/3426

[2022-06-20 10:52] stutzmann72 commented on #7156
Hello
We've discovered this bug on a 3.3.0-10 installation. The only error message we got in the php error log was

`AH00690: no acceptable variant: /var/www/ojs/index`

Best
jan

[2022-06-20 12:27] bozana commented on #6782
[UsageStatsFlowChart.pdf](https://github.com/pkp/pkp-lib/files/8940565/UsageStatsFlowChart.pdf)

[2022-06-20 12:38] nils-stefan-weiher commented on #4235
Hi Alec @asmecher ,

do you know if it would be feasible to backport this fix for the OJS 3.2 branch?

We might upgrade to OJS 3.4 only next year, but need this fix for our production setup.

Do you think it would be possible at all?

Best regards,

Nils Weiher

[2022-06-20 12:43] NateWr commented on #7831
See also https://github.com/pkp/pkp-lib/discussions/8010

[2022-06-20 15:17] NateWr commented on #4622
Yeah this should probably be closed in favor or smaller issues for the remaining tasks.

- #7105 Allow queued jobs to be processed by cron job
- [no issue] Allow jobs to be processed by workers
- [no issue] Support progress tracking for a group of jobs (ie - if a bulk email creates 100 jobs, show "25/100 jobs complete")

[2022-06-20 15:17] NateWr commented on #4622
Anyone willing to file the other issues?

[2022-06-20 15:19] NateWr commented on #4622
It looks like #7171 added a UI to view jobs, but it hasn't yet captured the use case described here: https://github.com/pkp/pkp-lib/issues/7171#issuecomment-878088842

[2022-06-20 15:24] NateWr commented on #3585
@touhidurabir yeah whatever you think is best. Often it's easiest to make one set of PRs for two issues. I usually just drop a note in the other issue saying "this will be fixed as part of work on #<issue number>"

[2022-06-20 15:26] NateWr commented on #2890
@touhidurabir I probably just cut corners here and didn't bother implementing the additional decisions in OMP. If something is there but not working, that should get fixed. If something is not there at all, we might wait to see if there's real demand for it in OMP before implementing it. That said, if you think you can implement it quickly, then go for it.

[2022-06-20 15:34] NateWr commented on #4540
@polkeskdi this issue is not scheduled against any Milestone, which means it is not planned for any future release.

[2022-06-20 16:06] defstat commented on #7190
Thanks @jonasraoni! @asmecher just reviewed the code and it seems ok to me. There are small migration code that seems ok, and code like [that](https://github.com/pkp/omp/blob/3621f3e9a98c3019ce612545565f801f433fcc50/tools/xmllint-exclusions.txt) which I am not familiar with. Perhaps, if you have time, you may be able to take a look to them (especially the xmllint-exclusions.txt)

[2022-06-20 17:06] marcbria commented on #6291
@NateWr is this clear enough, or do you think it is better to take a detailed look in Discussion before starting coding a single line?

I mean, no hurry at all (I know you all are overwhelmed), but I don't know if the solution you have in mind will fix the 3 problems I mention at the beginning and specifically the most important one that is "there is NO need to ask user's names/surnames more than

[2022-06-20 17:52] asmecher commented on #7190
@defstat, you mentioned that this breaks existing plugins -- can you write a little more about that?

[2022-06-21 00:29] polkeskdi commented on #4540
Thanks @NateWr

Has the community solved the problem about to clean incomplete submissions? I lack the issue from PKP's forum

Thanks again

[2022-06-21 05:39] bozana commented on #7864
@nils-stefan-weiher, the fix has just been merged, could you please test/see if now everything is OK?

[2022-06-21 06:12] #4190 closed

[2022-06-21 06:13] bozana opened #8014 "Document new usage stats implementation"
Document the new usage stats implementation:
- [x] https://github.com/pkp/ojs/blob/main/docs/dev/swagger-source.json
- [ ] https://docs.pkp.sfu.ca/dev/documentation/en/statistics-reader:
- Reader statistics: https://github.com/pkp/pkp-docs/pull/1029
- [ ] Usage Statistics in 3.4 technical documentation (maybe as an extra document, because interested for developers and admins)
- UsageStatsFlowChart

[2022-06-21 06:45] bozana commented on #6781
Hi @ctgraham,
It seems that the sushi `item_id` parameter (for IR) means only one item, correct? I.e. in our case one would need to provide a submission ID (and not several separated with '|') there... ?
s. https://app.swaggerhub.com/apis/COUNTER/counter-sushi_5_0_api/5.0.2#/default/getReportsIR.

[2022-06-21 07:21] touhidurabir commented on #2890
@NateWr ok, I going to implement it also as this also includes in my list of decisions to complete to get this issue done .

[2022-06-21 07:23] #5991 closed

[2022-06-21 07:33] dersmon commented on #6708
Hey! I got the same issue upgrading from 3.1.2. In my case the `context_id` just got added by the 3.2 upgrade (all NULL values), then it causes the initial issue for the final 3.3 upgrade, as described by @claytondf.

[2022-06-21 08:15] defstat commented on #7190
@asmecher those changes don't break anything in my knowledge.
Perhaps you are referring to [this ](https://github.com/pkp/pkp-lib/pull/7942#discussion_r884033739) which is related to another issue and a PR of my own.

[2022-06-21 08:30] NateWr commented on #4540
@polkeskdi no, this has not been solved yet.

[2022-06-21 08:50] asmecher commented on #7190
Thanks, @jonasraoni and @defstat; I've merged all the PRs listed above (though most manually because of submodule conflicts).

[2022-06-21 08:50] #7190 closed

[2022-06-21 09:27] asmecher commented on #4235
@nils-stefan-weiher, we aren't developing the 3.2 branch anymore, and don't plan any more releases from it; if you're interesting in backporting it yourself I could look over a PR, though. I might suggest looking at upgrading to the LTS release, though -- you'll get this fix, plus a stable platform that has a longer window of maintenance and is available now and stable!

[2022-06-21 09:50] othwunrai commented on #6686
Hello @withanage. Is it possible to say when version 2 will be ready? I'm asking in relation of being unable to export ROR id to Crossref.

[2022-06-21 11:23] asmecher commented on #7706
Belated congratulations on this, @Vitaliy-1!

[2022-06-21 11:48] eirikhanssen opened #8018 "Prevent cached CSS from being used by forcing the loading of updated CSS in a journal theme after styles have changed in a theme by adding the theme's release and date into the compiled stylesheet url"
@asmecher @NateWr
This is a bug report/feature request.

**Software: OJS: 3.3.0-11**
This issue is a little related to the issue as reported in:  #6795, but concerns changes made in a journal theme's styles.

The case here is that I have separate themes for each journal on our OJS-platforml. When I make changes in the CSS/LESS of the journal's theme, then it is not reflected immediately because th

[2022-06-21 14:06] NateWr commented on #8018
Thanks @eirikhanssen. Can you please update your post to use the feature request template? This helps us manage our long issue list:

[code]

Finally, we already use the application version in asset URLs. For example:

[code]

We would probably be most likely to use the same approach for themes, rather than adopting a different syntax.

[2022-06-21 15:46] NateWr commented on #7514
PR https://github.com/pkp/pkp-lib/pull/8019 was merged to `main`.

[2022-06-21 15:46] #7514 closed

[2022-06-21 17:31] ewhanson opened #8020 "Use queued jobs for all DOI deposits"
**Describe the problem you would like to solve**
Depositing DOI metadata to a registration agency (e.g. Crossref) is currently handled within the current request and will time out of the deposit takes too long.

**Describe the solution you'd like**
Use the deposit DOI jobs to handle the depositing logic and mark all DOIs as submitted. This is already the behaviour for the deposit all functionality

[2022-06-21 17:49] NateWr opened #8022 "Mailables, jobs and scheduled tasks throw fatal errors"
**Describe the bug**
Fatal errors are occurring with emails that are sent in jobs. We're not clear on the cause, but this may be related to scheduled tasks. @Vitaliy-1 discovered potential problems with calls to `$request->getDispatcher()`. He also suggested that the `Locale` facade may be missing, causing calls to `getLocalizedData()` to fail.

**To Reproduce**
Reproduction is still uncertain. Bu

[2022-06-21 17:56] NateWr opened #8023 "User locales property may be false when array is expected"
**Describe the bug**
The user has a property, `locales`, specifying their working languages. They can set this in their profile. The JSON spec for a user describes this field as an `array`, but it may return `false`.

**To Reproduce**
Steps to reproduce the behavior:
1. Find a user with a `null` value in the `locales` column of the `user` table.
2. Inspect this user with `print_r($user)`.
4. See t

[2022-06-22 08:12] NateWr commented on #6126
The consensus in a brief poll in our slack community is that 30 days is the right length of time.

[2022-06-22 08:27] NateWr commented on #8020
All PRs merged. Thanks!

[2022-06-22 08:27] #8020 closed

[2022-06-22 08:29] nils-stefan-weiher commented on #7864
Thanks @bozana for the quick work.
For me the catalog view is working again with the current stable-3_3_0 branch.

[2022-06-22 08:37] nils-stefan-weiher commented on #4235
Oh I thought this fix will be only available for 3.4?

I will propably adopt this fix for OJS 3.2, but I dont know if I have the time to make a proper PR. Will let you know.

[2022-06-22 10:03] NateWr commented on #7395
Thanks @withanage. I found a few more unused locale keys to remove by searching for "oneclick". I also found these locale keys in OMP (so they probably exist in OPS). Can you remove those as well?

Also, once you've done that, can you squash your commits in OJS so that all of the changes are in one commit? There are a bunch of commits here with identical commit messages and that can make it confus

[2022-06-22 10:10] #7447 closed

[2022-06-22 10:14] NateWr commented on #7871
In the interests of moving this along, can I remove the [following lines](https://github.com/NateWr/pkp-lib/blob/i7871_locale_countries/tests/classes/i18n/LocaleTest.php#L57-L64) from the unit test and file a separate issue about the locale problems in unit tests?

[2022-06-22 10:47] ctgraham commented on #6781
I agree with your reading.

[2022-06-22 12:09] NateWr commented on #6782
Thanks, the flow chart helps! We'll try and work this up a bit for the documentation.

[2022-06-22 23:34] ewhanson commented on #7525
Hey @NateWr, could you have a look at [these PRs](https://github.com/pkp/pkp-lib/issues/7525#issuecomment-1151429481)? I've recently rebased/got the tests passing again. Thanks!

[2022-06-23 10:02] NateWr opened #8025 "Context name can not be localized correctly in a job"
**Describe the bug**
When handling a job, the request locale is not usually appropriate for messages used in the job. We must change the current locale while processing the job. However, this does not work because the locale may already be set in a `DataObject` like the context.

A call to `$context->getLocalizedName()` will return the context name in the request's locale, not the current locale.

[2022-06-23 10:47] bozana commented on #7318
LIST OF OBJECTS:

stats/publications
-> getMany(): list of submisisons with their stats (abstract, galley, pdf, html, other, suppFile) -- shall we add the total here?

stats/publications/files
-> getManyFiles(): list of files (full text + supp files) with their stats (downloads)

stats/publications/countries
-> getManyCountries(): list of countries with their stats (total, unique) -- considers all

[2022-06-23 12:14] NateWr commented on #8013
Unfortunately, I was unable to reproduce this using Chromium version 103.0.5060.53 on the `stable-3_3_0` branch or the [3.2 test drive install](https://pkp.sfu.ca/ops/demo/). I’m going to close this issue for now. Please feel free to provide more details if you are able to find the specific conditions to reproduce the bug.

I would encourage you to post in our [[support forum](https://forum.pkp.sf

[2022-06-23 12:14] #8013 closed

[2022-06-23 12:22] NateWr commented on #8005
@pmangahis this is more of a feature request. Can you rephrase the issue description to match the feature request template? My initial reaction is that we definitely want to log this in the activity log and *maybe* want to notify the reviewer by email.

[code]

[2022-06-23 12:25] NateWr commented on #8003
I believe this is the intended behaviour. I'm going to close this issue for now. If you think I've made a mistake, please provide some screenshots showing before/after to help us evaluate whether this information should be visible or not.

[2022-06-23 12:25] #8003 closed

[2022-06-23 12:59] NateWr commented on #7318
:pray: thank you @bozana! This is soooo helpful. In 2 minutes I was able to get a complete overview and identify what was confusing me.

I think the problem is with the monthly statistics. We are running into naming clashes with the endpoints. What about putting all of them behind a `/timeline` endpoint? So it would be like:

[code]

That would solve our naming clash with `galley` and `files`, so

[2022-06-23 13:29] NateWr opened #8026 "Mailables can fail if email template missing subject in one language"
**Describe the bug**
When a mailable gets the email subject from an email template, it's possible the subject will be empty in the requested language. In such cases, the mailable will fail with a fatal error:

[code]

**To Reproduce**
Reproducing this is a little complicated, but an example is in the editorial reminder task.
1. Delete any rows in the `scheduled_tasks` table that include the Editor

[2022-06-23 13:36] me-kell commented on #8003
See the following screenshots:

1. Dashboard logged in as admin
2. Dashboard logged in as admin and anotheruser
3. Journal logged in as admin
4. Journal logged in as admin and anotheruser

![grafik](https://user-images.githubusercontent.com/2512653/175311963-32b2c968-7c97-47e6-a514-095aecf47e14.png)

[2022-06-23 13:41] NateWr commented on #7525
Looks good! All merged, thanks!

[2022-06-23 13:41] #7525 closed

[2022-06-23 13:47] NateWr commented on #8003
I see. No, we don't have any plans to change this. I'd recommend posting in the [feature requests](https://forum.pkp.sfu.ca/c/questions/feature-requests/8) category of our community forum. You'll have an opportunity to discuss with other users to see if they agree with you.

[2022-06-23 13:49] ajnyga opened #8027 "OPS preprints should support DOI versioning"
**Describe the problem you would like to solve**
The DOI support in OPS should include support for DOI versioning, meaning that each DOI has it's own DOI. This is mentioned in the Crossref posted_content guidelines and a fairly common practice with preprints. However, this should be optional.

**Describe the solution you'd like**
The old DOI plugin for OPS supported %b variable which returned the

[2022-06-23 13:49] ajnyga commented on #8027
@ewhanson @NateWr

[2022-06-23 13:58] ajnyga commented on #8027
Just mentioned to Nate in Slack that I knew you were talking about this with Crossref :) Thanks, good to know!

[2022-06-23 14:11] bozana commented on #7318
Hi @NateWr, yes that sounds good. I would have one question: shall we somehow separate full texts and supp files in those timeline calls for publications? -- now we consider the supp files (in list of objects and in one object stats), and I think the user would maybe like to have monthly stats (only) for full texts rather than supp files... Or shall `timeline?type=files` only mean full text files?

[2022-06-23 14:11] me-kell commented on #8003
Thank you.

Do you know where the screenshot in the documentation comes from? Which version? Why is the username shown there?

[2022-06-23 14:43] asmecher commented on #4235
@nils-stefan-weiher, whoops, you're absolutely correct -- this isn't included in the `stable-3_3_0` branch. A back-port would be a little invasive and include a database update, which is why it wasn't back-ported to `stable-3_3_0` in the first place. You might need to keep it as a local adaptation if you do apply it back to an earlier release.

[2022-06-23 15:00] NateWr commented on #8003
That would be version OJS 3.2.x or less. It was changed in 3.3

[2022-06-23 15:08] me-kell commented on #8003
Does this mean that this feature was in OJS 3.2.x and it disappeared in OJS 3.3.x?
I'll check this in a fresh OJS 3.2.1-4 installation.

[2022-06-23 15:09] defstat commented on #4468
Hi @orazionelson! That's an old issue, and rechecking it's status. If there is a bug related to that request, let's create a new issue with the problem related to that. If there is a feature involved, again I suggest creating a new issue about the feature, trying to provide more information about the goal of the feature and, of course, if you have some suggestions on how to incorporate the feature

[2022-06-23 15:23] asmecher commented on #4468
@orazionelson, our apologies for taking so long to look at this, but please do feel free to follow the next steps suggested by @defstat above if you're stlil interested!

[2022-06-23 15:24] NateWr commented on #7318
I don't think we should make the distinction. The timeline should show all files.

If we later want to extend the endpoint to consider only some files, we could for example use `/timeline?type=primaryFiles` or something like that. But I don't think we need to do that yet.

[2022-06-23 22:53] ewhanson commented on #7518
PRs:

- `ui-library`: pkp/ui-library#208
- `pkp-lib`: pkp/pkp-lib#8029
- `ojs`: pkp/ojs#3437

[2022-06-23 23:30] sinkingdiver commented on #7338
As the editor, I really need these features. I assign 10 reviewers to get the first 2 review reports for faster review. It is very annoying to unassign or cancel unresponsive reviewers. I prefer to automate or at least opt to automate.
Unlike your additional comment, I cannot imagine any editor wanting to receive the review reports after the decision is made.

In addition, if there is a way of fil

[2022-06-24 06:30] ajnyga commented on #7304
We are going to 3.3 soon and will try to do testing with 3.4 right after that. This would mean probably october(ish).

[2022-06-24 18:36] dkinzer opened #8030 "Upgrade from 3_1_2-4 to 3_3_0-11 fails"
**Describe the bug**
When trying to run the database upgrade for our ojs installation we get the following error:

[code]

**To Reproduce**
Install a 3_1_2-4 installation and upgrade it to 3_3_0-11 version.

**What application are you using?**
OJS 3_3_0-11

**Additional information**
N/A

[2022-06-24 20:00] dkinzer commented on #8030
This is actually happening because I put some files from the 3_1_2-4 ojs branch into the 3-3-0-11 one.  So it's not a bug. I'm closing the issue.

[2022-06-24 20:00] #8030 closed

[2022-06-25 14:14] touhidurabir commented on #2890
PRs
[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#2890 Allow editors to back out of the review, copyediting or production stages](https://github.com/pkp/pkp-lib/pull/8031)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#2890 Allow editors to back out of the review, copyediting or production stages](https://github.com/pkp/ojs/pull/3438)
[omp](https://github.com/pkp/omp) --> [pkp/pkp

[2022-06-25 14:21] touhidurabir commented on #3585
@asmecher @NateWr the PR for this issue has been addressed in the PR of pkp/pkp-lib#2890 . see the PR details at https://github.com/pkp/pkp-lib/issues/2890#issuecomment-1166296553 . The mentioned PR of pkp/pkp-lib#2890 includes the most requested decisions that allow editor to remove/delete an empty review round .

Here the word `Empty` emphasise that no reviewers has been assigned to that round .

[2022-06-25 14:54] #7996 closed

[2022-06-25 14:56] #7994 closed

[2022-06-26 05:47] wobsta commented on #8004
I further investigated the issue and noticed, that when I dump the value of `$submissionFile->getData('old-supp-id')` in https://github.com/pkp/ojs/blob/stable-3_3_0/pages/article/ArticleHandler.inc.php#L381 it is empty for all files. (For the example given above there happen to be 11 files being iterated.)

When I do the same in https://github.com/pkp/ojs/blob/stable-3_2_1/pages/article/ArticleHa

[2022-06-26 07:22] Vitaliy-1 opened #8032 "Job remains in a wait list if fails in the scheduled tasks"
**Describe the bug**
The issue appeared during debugging StatisticsReport scheduled tasks where editors are notified about editorial statistics. If a job fails, it remains in the `jobs` table and no actions are taken further. If other jobs are added to the queue, these failed jobs are ignored.

I'd expect a correspondent record in a `failed_jobs` table with an error message and failed job ID(s); r

[2022-06-26 15:19] Virpac opened #8033 "Pages locale error import xml"
Hello, how can I specify the locale attribute on the pages element? OJS version 3.3.0.8

example:
<.pages locale=en_US>1-3<./pages>
<.pages locale=ru_RU>1-4<./pages>

Element ‘{http://pkp.sfu.ca/}pages’, attribute ‘locale’: The attribute ‘locale’ is not allowed.

[2022-06-26 15:35] jonasraoni commented on #8033
Hi @Virpac,

That's not possible, only one `<pages>` tag is allowed and it doesn't have attributes, you can see the definition here: https://github.com/pkp/ojs/blob/e8b8c0292b133d564a9ddd9f41905ea5d124e90c/plugins/importexport/native/native.xsd#L50

If you're thinking the software is missing a feature, the forum is the best place for suggesting things: https://forum.pkp.sfu.ca/c/questions/feature-

[2022-06-26 15:35] #8033 closed

[2022-06-27 07:01] t-mayer opened #8035 "initData hooks not fired in SeriesForm and CategoryForm"
**Describe the problem you would like to solve**
Currently, a new field can be added to SeriesForm.inc.php by overwriting the template. The DB-saved values however are not initialized upon opening the form due to missing parent::initdata(). This is also missing in CategoryForm.inc.php I am not sure how else to initialize the values that are saved in the DB so it would be convenient to be able to u

[2022-06-27 09:46] NateWr commented on #6126
The PRs have been merged to the `main` branch for OJS and OMP. The email was not added to OPS because the editorial activity is very different. If OPS needs an email like this, more work needs to be done to identify what tasks our outstanding and to test the email appropriately.

For now, the email is sent once a month. Our initial research suggested every 2 weeks was better, but our scheduled tas

[2022-06-27 09:57] NateWr commented on #8035
Confirmed. Thanks for the report @t-mayer. The following PRs restore the parent method calls to themes forms.

PRs:
https://github.com/pkp/pkp-lib/pull/8036
https://github.com/pkp/omp/pull/1147

In the meantime, you might be able to use the hooks in the `fetch()` method of these forms to accomplish what you need.

[2022-06-27 11:18] Virpac opened #8037 "Doi module template"
hello , how can i take only the first page for the doi assignment template ? Or how can I immediately load doi into xml? OJS 3.3.0.8
example:10.13108/2021(year)-13(volume number)-1(issue number)-3(first page)

[2022-06-27 11:22] asmecher commented on #8037
Hi @Virpac -- could you ask questions like this on our support forum (https://forum.pkp.sfu.ca)? That's the best place to get help.

[2022-06-27 11:23] Virpac commented on #8037
Asked there this question, could not help

[2022-06-27 12:30] jonasraoni commented on #7871
@NateWr I've replaced the old Mocks locally and did other cosmetic updates to the tests, I'll create a PR later to see if it passes through Travis 😂

[2022-06-27 12:33] asmecher commented on #8037
What is the URL of your forum post?

[2022-06-27 12:53] asmecher commented on #8037
That thread hasn't been resolved yet. Please be patient -- we're a small team!

[2022-06-27 15:12] asmecher commented on #8004
@wobsta, the `old-supp-id` was probably removed accidentally as part of an internal refactor of our storage code. However, we've been serving `HTTP 301` (redirected permanently) responses for requests to `downloadSuppFiles` URLs since the OJS 3.0 was released in 2016; these were always intended to be temporary redirects and all recipients of `HTTP 301` requests should have been updating those URLs

[2022-06-27 15:16] defstat commented on #6003
@asmecher @NateWr @mfelczak

I checked both `stable_3.3.0` and `main` branches to check for the issue, especially by trying to reproduce it with email attachments to author (Request Revisions) (like I did [here](https://github.com/pkp/pkp-lib/issues/6003#issuecomment-646598813) a while ago - I tried sending ). It seems that in both branches no `Activity Log` for the editor is created regarding tho

[2022-06-27 15:26] NateWr commented on #6126
I forgot to install the new email template in upgrades. Needs to be added to https://github.com/pkp/ojs/blob/main/dbscripts/xml/upgrade.xml.

[2022-06-27 15:56] NateWr commented on #2890
Great work @touhidurabir! I did a code review of pkp-lib and ojs, and left some comments on those PRs. I did a little bit of testing in practice, but I'll take a closer look in the next round of review. In addition to the comments on the PRs, I had the following thoughts:

1. Instead of having different decisions for back to submission, back one round, etc, let's make one decision to "Cancel Revie

[2022-06-27 16:26] asmecher commented on #7822
This was actually fixed in 3.3.0-11 -- reopening that milestone temporarily to correct the record, and closing this issue. Thanks all!

[2022-06-27 16:26] #7822 closed

[2022-06-27 17:28] Vitaliy-1 commented on #8032
Not in my case, unless there is a long cooldown between attempts.

[2022-06-27 18:24] asmecher commented on #6003
@nwoodward, I'm aware that this is an older issue that was originally filed in 3.1.x, but have you since upgraded to a newer release of OJS? If so, are you able to confirm whether the issue still appears?

[2022-06-27 19:08] jonasraoni opened #8040 "Update unit tests"
**Describe the bug**
A [broken locale test](https://github.com/pkp/pkp-lib/blob/0fbea2d886892d79f2b8427d85669145cc1ac8e6/tests/classes/i18n/LocaleTest.php#L63) was blocking the issue https://github.com/pkp/pkp-lib/issues/7871 from being merged. The test has been skipped temporarily, and this issue was created mainly to handle it.

As part of this issue, a small review will be undertaken at the uni

[2022-06-27 19:11] jonasraoni commented on #7871
As we've discussed, I'll handle the failing test in [another issue](https://github.com/pkp/pkp-lib/issues/8040), so you can skip the test by adding this to the beginning of the function:
[code]

[2022-06-27 22:49] ewhanson commented on #7744
In case it's helpful for anyone, here are these changes ported to `stable-3_2_1`:

**pkp-lib**

[code]

**OJS**
[code]

[2022-06-28 02:51] asmecher commented on #8023
@touhidurabir, could you take a look at this one?

[2022-06-28 06:10] wobsta commented on #8004
I can confirm that our 3.2 instance returns a permanent redirect for the `old-supp-id` requests. However, this is just no help to later on remove the `old-supp-id` functionality, as those old urls happen to be used in other (also old existing) publications to reference supplementary files within our journal but also elsewhere.

I am curious, as the `submission_file_settings` table still contains t

[2022-06-28 09:03] NateWr commented on #8032
In my experience, it would try all jobs once before retrying a job a second time. But otherwise there was no cooldown period.

[2022-06-28 09:52] NateWr commented on #8035
Merged to `stable-3_3_0` and ported to the `main` branch.

[2022-06-28 09:52] #8035 closed

[2022-06-28 10:28] defstat opened #8041 "Error when adding a Note in the "Activity Log & Notes""
**Describe the bug**
When trying to add a note in the submission's "Activity Log & Notes" the note is added but the process fails. An error 500 is generated

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard -> Submissions
2. Click on any submission
3. Click on "Activity Log" button
4. Click on the "Notes" tab
5. Try to add a Note
6. See error

**What application are you

[2022-06-28 10:43] bozana commented on #6782
First round of PRs and reviews:
pkp-lib: https://github.com/pkp/pkp-lib/pull/7878
ui-library: https://github.com/pkp/ui-library/pull/197
ojs: https://github.com/pkp/ojs/pull/3379
omp: https://github.com/pkp/omp/pull/1108
ops: https://github.com/pkp/ops/pull/273
plugins/reports/counter/classes/COUNTER: https://github.com/pkp/COUNTER/pull/2
plugins/generic/lensGalley: https://github.com/asmecher/len

[2022-06-28 11:24] defstat opened #8042 "Send email to Reviewer fails"
**Describe the bug**
At the submission workflow, at review round, under a reviewer actions, when trying to perform the "Email Reviewer" actions, the action fails with HTTP error 500.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard -> Submissions
2. Click on any submission
3. In Reviewers grid, open actions for a Reviewer
4. Click on the "Email Reviewer" action
5. See

[2022-06-28 11:38] bozana commented on #6781
The COUNTER warning 3061 sound different, like there could be more than one item_id (s. https://cop5.projectcounter.org/en/5.0.2/appendices/f-handling-errors-and-exceptions.html):

But, for now, I will leave it so that only one (first in the list in case of a list) is considered and I provide our custom warning if there are several requested:
[code]

I also expect the numeric value for the item_id

[2022-06-28 14:18] NateWr opened #8043 "Run more than one job per request"
**Describe the problem you would like to solve**
By default, the jobs queue is processed by running one job per request. This job is run as a shutdown function. However, in some circumstances, a large number of jobs may need to be processed at once. Processing one job per request may not work through these jobs quickly enough.

**Describe the solution you'd like**
When running jobs using the shutd

[2022-06-28 14:26] NateWr opened #8044 "Allow queued jobs to be processed by workers"
**Describe the problem you would like to solve**
The new jobs queue works by processing jobs during the shutdown function. This prevents a job from hanging a request by a user. However, in high-volume scenarios it will be hard to manage server resources if high-intensity jobs are processed on the same thread as regular requests.

An example would be when publishing an issue: this usually kicks off

[2022-06-28 14:35] NateWr commented on #4622
Ok, I've created a couple of new issues:

- https://github.com/pkp/pkp-lib/issues/8043
- https://github.com/pkp/pkp-lib/issues/8044

I decided not to create an issue for progress tracking, because we don't yet have a need for it. I'm going to close this issue as done and we can continue working on the other issues.

[2022-06-28 14:35] #4622 closed

[2022-06-28 14:49] #6126 closed

[2022-06-28 15:01] NateWr commented on #8042
Thanks @defstat. Can you test this fix?

PR:
https://github.com/pkp/pkp-lib/pull/8045

Tests:
https://github.com/pkp/ojs/pull/3439

[2022-06-28 17:51] defstat opened #8048 "Can't upload review files when in submission workflow"
**Describe the bug**
When trying to call the review file upload form from the Review submission workflow stage, an error 500 occurs

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard -> Submissions
2. Click on any submission
3. Click Review workflow stage
4. At 'Review Files' grid, click 'Upload/Select Files' button
5. See error

**What application are you using?**
 OJS

[2022-06-28 19:49] fgnievinski commented on #6126
thanks @NateWr!

just for information: I get weekly reminders for a Springer journal using Editorial Manager.

I'm afraid monthly might be too infrequent.

[2022-06-28 23:47] ewhanson commented on #7518
Hey @NateWr, I've gotten all the DOI tests consolidated and updated, so this is ready for review. Could you have a look? [PRs linked above.](https://github.com/pkp/pkp-lib/issues/7518#issuecomment-1164988628) Thanks!

[2022-06-29 08:50] NateWr commented on #6126
Yeah @fgnievinski, at the sprint we discussed how different journals have different editorial rhythms. I'd like each editor to be able to set their own schedule. But we don't support that in our notifications system and we didn't have time during the sprint to work on that. Hopefully we'll be able to add that feature in some day.

[2022-06-29 10:15] defstat commented on #8048
@asmecher @NateWr

**PRs**

**Branch stable_3.3.0**
OJS: pkp/ojs#3442
PKP-LIB: #8049

[2022-06-29 13:04] NateWr commented on #7518
Looks good @ewhanson! I left a few comments but nothing critical. I did a functional test and didn't find any problems. The error messaging really helps! :+1:

[2022-06-29 13:07] #8042 closed

[2022-06-29 13:10] NateWr commented on #8048
Merged to `stable-3_3_0`. It was already fixed in `main`.

[2022-06-29 13:10] #8048 closed

[2022-06-29 13:14] NateWr commented on #8041
Thanks @defstat. It looks good, but I notice there is a conflict with the PR to OJS's `main` branch, so the tests aren't running. Can you get the tests passing there? Then I'm happy to merge.

[2022-06-29 13:22] bozana commented on #6782
Second round of PRs:
PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/8050
ui-library: https://github.com/pkp/ui-library/pull/209
ojs: https://github.com/pkp/ojs/pull/3443
omp: https://github.com/pkp/omp/pull/1148
ops: https://github.com/pkp/ops/pull/302
plugins/reports/counter/classes/COUNTER: https://github.com/pkp/COUNTER/pull/3
plugins/generic/lensGalley: https://github.com/asmecher/lensGalle

[2022-06-29 13:35] NateWr opened #8051 "Improve the default submission checklist"
**Describe the problem you would like to solve**
When submitting to OJS, OMP or OPS, an author must comply with a checklist of submission requirements. This list is installed by default and our default checklist hasn't been updated in 14 years! As a result, some of the items seem outdated, may be unnecessary or confusing, and may no longer follow best practices in publishing.

**Describe the solut

[2022-06-29 15:39] fgnievinski opened #8052 "Support user-defined reminder periodicity"
**Describe the problem you would like to solve**
#6126 offers periodical reminders for editors pending assignments. '
currently it supports only monthly periodicity though.

**Describe the solution you'd like**
weekly or biweekly reminders might be best for faster paced journals.

**Who is asking for this feature?**
journal editor.

**Additional information**
#6126 mentions the notification and sc

[2022-06-29 16:07] NateWr commented on #8052
Just to clarify: the scheduled tasks system does support weekly ("every monday") or monthly ("first day of every month"). But it doesn't support "every 2 weeks", for example.

However, the main blocker here is the user's notification settings in their profile. The notification settings currently only support turning a notification on/off. They do not support controlling how often an email is recei

[2022-06-29 19:18] asmecher commented on #8004
You should be able to stop the `old-supp-id` entries from getting deleted by modifying `lib/pkp/schemas/submissionFile.json`, restoring from pre-upgrade backup, and re-running the upgrade to 3.3.x:
[code]

Can you confirm whether that works?

[2022-06-30 04:01] wobsta commented on #8004
Unfortunately the patch does not change the situation. I did apply it and rerun the migration of 3.2 to 3.3. The `old-supp-id` urls remain inoperable, and the database is not different with or without the patch. I may not properly apply the patch in the sense, that it does not influence the schema files (i.e. I am not rebuilding files like `xml/schema/submissionFiles.xml` – are they auto-generated

[2022-06-30 09:04] NateWr opened #8053 "Improve contributor form's handling of null author values"
**Describe the problem you would like to solve**
The new `ContributorListPanel` loads the form to editor a contributor by merging a contributor data object with the form field's values. If a contributor has a null value for a property, this will set the field value to null. This can then cause problems with some field types, which may expect a string or array as the value.

**Describe the solution

[2022-06-30 09:08] ErikI1 opened #8054 "NativeImportExportPlugin over web works, but over CLI fatal: Invalid XML"
**Describe the bug**
export over NativeImportExportPlugin is working, but not over cli (from 9 exports of issue only 2 was successful) :

 php ./tools/importExport.php  NativeImportExportPlugin export /tmp/test.xml phat issue 31

`Validation errors:
Element '{http://pkp.sfu.ca}issues': Missing child element(s). Expected is ( {http://pkp.sfu.ca}issue ).
Invalid XML:
<?xml version="1.0"?>
<issues xm

[2022-06-30 09:25] NateWr opened #8055 "Stage participants API request fails"
**Describe the bug**
A 500 error is returned when trying to access the API endpoint to get stage participants.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a `GET` request to `/api/v1/submissions/{submissionId}/participants/{stageId}`
4. See error in the error logs

**What application are you using?**
3.3.0-8

**Additional information**
Error:
[code]

Originally [reported](https://fo

[2022-06-30 09:29] #8018 closed

[2022-06-30 09:33] NateWr commented on #7848
Thanks @ewhanson! I think that's how I intended it to work. I had temporarily modified it to do partial matches when I was moving email templates around, and must have left it that. :see_no_evil:

I've merged that int.

[2022-06-30 09:33] #7848 closed

[2022-06-30 09:38] NateWr commented on #7836
I was able to reproduce this in `stable-3_3_0`. As a general rule, we discourage editors from acting as authors in their own journals, for reasons like this as well ethical considerations more broadly. But we do technically support it.

[2022-06-30 09:58] NateWr commented on #7191
While working on this, we will build out our submissions API for creating and editing submissions. We will have to restrict authors from editing submission properties, like the `stageId` or `status`. However, should we also restrict managers from editing some of these properties through the API?

Here are some of the properties we might want to restrict:

| Property | Description |
| --- | --- |
|

[2022-06-30 10:07] NateWr commented on #8041
Thanks @defstat! Merged to `stable-3_3_0` and `main`.

[2022-06-30 10:07] #8041 closed

[2022-06-30 12:10] defstat commented on #7893
There are the following cases:

**Case 1: Only one language set for Forms and Submissions**
By using the following setting (only one Language set for Forms and Submissions) both Submission metadata fields (like title, description etc) and
Contributor metadata fields (like Given Name, Family Name etc) are not localizable.
![Image Pasted at 2022-6-30 13-57](https://user-images.githubusercontent.com/

[2022-07-01 08:46] jonasraoni opened #8058 "Unexpected issues might happen when a plugin is installed in the wrong folder"
**Describe the bug**
When a user installs a plugin in the wrong folder, unexpected issues might happen, they are difficult to debug when you have no access to the installation (e.g. here the plugin works partially: https://forum.pkp.sfu.ca/t/error-en-el-proceso-de-deposito-de-pkp-preservation-network/67005).
Given that we're adding namespaces to the plugins, perhaps such problems will become easie

[2022-07-01 09:27] touhidurabir commented on #8023
based on my digging, the cause of this issue lies in the following part

[code]

in the file https://github.com/pkp/pkp-lib/blob/main/classes/db/DAO.inc.php from the method `convertFromDB` . And the fix can be a simple as make sure when `unserialize`, check if that's an array or not and based on that return such as

[code]

How ever this will not solve the core issue which actually originated form

[2022-07-01 11:05] jonasraoni opened #8059 "Unexpected error message after trying to close modal window"
**Describe the bug**
When adding a discussion, if the user types something, then attempt to close the modal by clicking outside it, an error message will be shown whenever he tries to continue the process.

**To Reproduce**
1. Access a submission
2. Click on the button `Add discussion`
3. Fill at least one field
4. Click outside the modal
5. The interface will display a prompt to confirm
6. Click

[2022-07-01 11:16] touhidurabir opened #8060 "User locales set to NULL on user registration"
**Describe the bug**
On the first installation of the software, the initial/first user had the `locales` column in the `users` table set to `NULL`. This is same for any user registration through the publicly accessible registration process. Only for the users added through the admin section, they have the `locales` first set to `EMPTY ARRAY` that is `[]` .

**To Reproduce**
Steps to reproduce the

[2022-07-01 11:23] touhidurabir commented on #8060
My suggestion is to have all users have the `locales` field set to `EMPTY ARRAY` that is `[]` . Or best would be to set to `site locale` if there is only one `locale` currently enabled . if there are multiple , they can update it form their profile but in case of just single locale install, this option does not show on profile update .

So the proposed solution takes the following approaches
1. if

[2022-07-01 13:30] marlara opened #8061 "Quicksubmit creates empty proposal"
**Describe the bug**
Using the Quicksubmit, if I start a submission, but don't press on "Cancel" for exiting the submission, but just click on another page and exit throught the browser, it creates a blank incomplete submission.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the QuickSubmit plugin
2. Start a submission
3. Leave the page
4. Say "yes" to the browser
5. See error in the

[2022-07-01 14:18] jonasraoni opened #8062 "Clear non-used resources uploaded by users"
**Describe the problem you would like to solve**
If a user uploads a file to a discussion, then aborts creating the discussion, the uploaded resource will remain orphaned in the submission folder.

**Describe the solution you'd like**
- Keep upload files (e.g. images uploaded through TinyMCE, discussion files, etc.) in a staging folder (this should have an interaction with the database), and move

[2022-07-01 14:19] touhidurabir commented on #8060
@jonasraoni I agree with you that having a json value as default is not a good idea but in that case we need to come to a consistent implementation . right now for 2 mentioned cases in the issue, we have `NULL` as default value set to `locales` columns. But when any user added from by the admin , we have `[]` for those cases as default value set to `locales`. This make it bit difficult to determin

[2022-07-01 16:22] jonasraoni commented on #8060
Yeah, whatever we choose to go with, it should be consistent. I've already left my vote, to store this data in another table.

I'll leave a comment in the other issue just to share my opinion 😁

[2022-07-01 16:37] jonasraoni commented on #8023
This DAO class [might be used in other places](https://github.com/ulsdevteam/pkp-betterPassword/blob/193ee8c08e7a12ce5b4940e8d4125f3db08c15a9/classes/BadpwFailedLoginsDAO.inc.php#L12), so any change has the potencial of breaking one thing or another, but in my opinion that's the right thing to do, so I don't have anything against, especially if a fix is going to be applied just in `main`.

[2022-07-02 05:21] jonasraoni commented on #7512
@asmecher PRs
- https://github.com/pkp/pkp-lib/pull/8063
- https://github.com/pkp/ojs/pull/3447

[2022-07-02 05:42] jonasraoni commented on #8040
@asmecher PRs
- https://github.com/pkp/ojs/pull/3445
- https://github.com/pkp/pkp-lib/pull/8057

[2022-07-03 11:13] mrqorib commented on #7058
Hi @asmecher , the commit didn't fix the error for me, but it produces a different error message instead
```PHP Fatal error:  Declaration of EmailReviewerForm::execute($submission, ...$functionArgs) must be compatible with Form::execute(...$functionArgs) in /home/cljournal/subs2.cljournal.org/lib/pkp/controllers/grid/users/reviewer/form/EmailReviewerForm.inc.php on line 72```

[2022-07-03 11:40] mrqorib commented on #7058
I found this PR #8045 instead, and it works. Thanks!

[2022-07-04 08:47] Vitaliy-1 commented on #2890
@touhidurabir, email template installation looks good! Sorry, it's probably a headache to rebase the email stuff while the code is constantly changing.

[2022-07-04 08:50] #7134 closed

[2022-07-04 09:45] NateWr commented on #7395
Don't forget the entries in `emailTemplates.xml` in OMP as well.

[2022-07-04 10:08] withanage commented on #7800
Hi @mrshirts ,
I have looked into this issue on 3.3.0.10 . To me it seems it is resolved, but I may have overlooked some aspect. Please clarify, if it is fixed or the  issue is not as I tested it.

https://user-images.githubusercontent.com/1921992/177133292-99a63fc9-ac62-4a31-b964-9b6a6d5069ce.mp4

[2022-07-04 10:21] withanage commented on #7395
@NateWr   have added  that and re-pushed as one-commit.

[2022-07-04 10:29] NateWr commented on #7395
Thanks @withanage! I should have noticed this before, but the OJS and OMP pull requests are missing the submodule commit. This is needed to make sure the tests run against the right branch. Can you add those commits and let me know when the tests have passed?

[2022-07-04 10:39] NateWr commented on #8060
Just to add the use cases for the field. I think we have a few suggested, but none used yet:

1.  #6221
2. Send automated emails to users in the best language for them.
3. When drafting an email, help the user choose a language that's best for the recipient. Language selection was implemented in #3525, but we don't yet use the recipient's working languages to help choose the best language.

The ma

[2022-07-04 10:44] NateWr commented on #8061
Thanks for the great report, @marlara. This is a duplicate of https://github.com/pkp/pkp-lib/issues/7224. I'm going to close this issue, but I've copied over your report to that issue.

You may also be interested in following https://github.com/pkp/pkp-lib/issues/7446, where a number of issues with QuickSubmit are being tracked.

[2022-07-04 10:44] #8061 closed

[2022-07-04 10:47] NateWr commented on #8062
I think that this will be resolved by https://github.com/pkp/pkp-lib/issues/7501. The new email composer uses the temporary files API to attach files to messages, so an aborted discussion would only leave a temporary file (which is automatically cleaned up).

This doesn't address the TinyMCE problem, but I think that's a separate (and bigger) issue to tackle once we settle on an approach to the di

[2022-07-04 10:47] #8062 closed

[2022-07-04 12:32] #7893 closed

[2022-07-04 14:17] suburban-journal commented on #6306
+1. We use the category system of OJS very intensively for displaying our contributions sorted by topics ([have a look](https://zeitschrift-suburban.de/sys/index.php/suburban/catalog/category/schwerpunkt)). From our point of view, there should be a setting that the categories are exclusively handled by the journal manager or journal editor and hidden for authors when submitting, because the multit

[2022-07-04 14:38] NateWr commented on #6306
Nice browsing-by-category there, @suburban-journal. :+1:

[2022-07-04 15:13] marlara commented on #7163
Still exists in 3.3.0.11

[2022-07-04 15:19] marlara opened #8064 "Plugin with "verb=settings" gives "Failed Ajax request or invalid JSON returned""
**Describe the bug**
Installing plugings that calls for an API with "verb=settings" gives no possibilities to configure it, see also: https://forum.pkp.sfu.ca/t/error-when-configuring-texteditor-extras-3-3-0-11/73666

**To Reproduce**
Steps to reproduce the behavior:
1. Install a plugin like Text-editor-extras
2. Click on "Configure"
3. See error

**What application are you using?**
 OJS 3.3.0.11

[2022-07-04 15:58] ewhanson opened #8065 "Queued DOIs do not update status to submitted"
**Describe the bug**
When depositing DOIs, the status does not update to the intermediate "Submitted" status while it is enqueued.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DOI management page.
2. Select a submission.
3. Deposit DOI.
4. See "Unregistered" status go straight to "Error" or "Registered"

**What application are you using?**
 OJS `main` branch

**Additional informatio

[2022-07-04 16:03] defstat opened #8067 "Can't upload Draft files when in submission's Copyediting workflow"
**Describe the bug**
When the user is in submission's Copyediting workflow stage, and tries to upload Draft Files from the corresponding grid, an error 500 is produced

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard -> Submissions
2. Click on any submission
3. Click Copyediting workflow stage
4. At 'Draft Files' grid, click 'Upload/Select Files' button
5. See error

*

[2022-07-04 16:06] defstat opened #8068 "Can't upload Copyedited files when in submission's Copyediting workflow"
**Describe the bug**
When the user is in submission's Copyediting workflow stage, and tries to upload Copyedited Files from the corresponding grid, an error 500 is produced

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard -> Submissions
2. Click on any submission
3. Click Copyediting workflow stage
4. At 'Copyedited' grid, click 'Upload/Select Files' button
5. See erro

[2022-07-04 16:12] defstat opened #8069 "Can't select discussion files to attach when in submission's Copyediting workflow"
**Describe the bug**
When the user is in submission's Copyediting workflow stage, and tries to select a file to attach in a Copyediting Discussion, an error 500 is produced

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard -> Submissions
2. Click on any submission
3. Click Copyediting workflow stage
4. At 'Copyediting Discussions' grid, click 'Add discussion' button
5.

[2022-07-04 16:27] defstat commented on #8067
@asmecher @NateWr

**PRs**

**Branch stable_3.3.0**
OJS: pkp/ojs#3449 (Tests Only)
PKP-LIB: #8070

[2022-07-04 16:40] defstat commented on #8068
@asmecher @NateWr

**PRs**

**Branch stable_3.3.0**
OJS: pkp/ojs#3450 (Tests Only)
PKP-LIB: #8071

[2022-07-04 16:50] defstat commented on #8069
@asmecher @NateWr

**PRs**

**Branch stable_3.3.0**
OJS: pkp/ojs#3451 (Tests Only)
PKP-LIB: #8072

[2022-07-04 17:33] NateWr commented on #7800
@withanage, I think the missing step here is that the editor/reviewer has to be assigned to a review. So I think the following reproduction steps would work:

1. Create a user with Journal Editor and Reviewer roles.
2. Move a submission to the review stage.
3. Make sure the editor/reviewer user is _not_ assigned to the submission in an editorial role.
4. Assign the editor/reviewer to a double anon

[2022-07-04 18:14] ewhanson commented on #8065
Hey @asmecher, could you have a look at this? It fixes a small bug introduced in #8020. Thanks!

PRs:

- `pkp-lib`: #8066
- `ojs`: pkp/ojs#3448
- `omp`: pkp/omp#1150
- `ops`: pkp/ops#304

[2022-07-04 21:06] withanage commented on #7800
@NateWr  thanks a lot for the clarification. I have gone through the steps.

Still, I could  only reproduce the  exposing of the details of the editor/reviewer, if I am a jornal manager. For the author still the  details of jornal editors are not visible for both double- or singe-blind reviews.  I have tested this in OJS 3.3.0.11  after a update.

https://user-images.githubusercontent.com/1921992/

[2022-07-04 22:50] asmecher commented on #8068
Merged, thanks!

[2022-07-04 22:50] #8068 closed

[2022-07-04 22:51] asmecher commented on #8069
Merged, thanks! These could have all been covered in the same issue (anything that extends `ManageSubmissionFilesForm`).

[2022-07-04 22:51] #8069 closed

[2022-07-04 22:58] asmecher commented on #8060
I recommend we leave this as-is until we have a working use of the field.

[2022-07-04 23:02] asmecher commented on #8058
@jonasraoni, I'm tempted to mark this a wontfix -- users should be installing plugins through the Plugin Gallery, and if they aren't, they'll be missing other important checks like compatibility assertions. (Users forcing incompatible plugins into their installations are much more common than plugins being installed in the wrong category.)

[2022-07-05 08:15] jonasraoni commented on #8058
I was thinking mostly about the plugins out of the plugin gallery, even though they are not our responsibility. Just to make the life of users less painful 😁

[2022-07-05 09:31] NateWr commented on #7800
I just tried to reproduce this myself and wasn't able to. I was only able to reproduce it under one strange circumstance: when the editor is assigned to the submission as an editor _and_ a reviewer. In that case, it showed me both roles:

I've said it before, but I think we're really skirting some ethical questions here. An editor _shouldn't_ be acting as an anonymous reviewer. And when they do, I

[2022-07-05 09:50] defstat opened #8073 "Error when opening Activity Log"
**Describe the bug**
When I am trying to open the Activity Log, on the Submission's Workflow, I am getting the following error 500

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard -> Submissions
2. Click on any submission (could have to have Discussions attached)
3. Click on "Activity Log"

**What application are you using?**
 OJS (main branch)

**PHP Version**
PHP 8.0

[2022-07-05 10:00] defstat opened #8074 "Error when trying to delete a Note from the Activity Log"
**Describe the bug**
When trying to delete a Note from the Activity Log form in a submission's workflow the following error occurs:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard -> Submissions
2. Click on any submission (could have to have Discussions attached)
3. Click on "Activity Log"
4. Click on "Notes" tab
5. Try to "Delete" a "Note"
6. See error

**What applic

[2022-07-05 10:11] defstat commented on #8073
@asmecher @NateWr

**PRs**

**Branch main**
[OJS]: pkp/ojs#3452 (Tests Only)
[pkp-lib]: #8075

[2022-07-05 10:20] t-mayer opened #8076 "Submission object missing in PKPSubmissionSubmitStep1Form, so execute-hook cannot save values"
**Describe the bug**
Hi @NateWr ,
I used the hook submissionsubmitstep1form::execute to save the values from a custom field I created.
However, the Submission Object is missing in PKPSubmissionSubmitStep1Form.inc.php so I have no chance to save the values for the current publication. Is there a workaround to get the current publication?

**What application are you using?**
OMP 3.3.0-7

**Possible

[2022-07-05 10:25] defstat commented on #8074
@asmecher @NateWr

**PRs**

**Branch `main`**
[OJS]: pkp/ojs#3453 (Tests Only)
[pkp-lib]: #8077

I could not reproduce the same issue on `stable_3.3.0`

[2022-07-05 10:42] NateWr commented on #8076
The submission is attached to the form object, which is the first hook argument:

[code]

[2022-07-05 10:42] #8076 closed

[2022-07-05 10:45] NateWr commented on #8076
Apologies, I see what you mean. The submission is only attached after the form is executed the first time.

You probably want to use the `Submission::add` hook instead, which will fire every time a new submission is created. Or the `Publication::add` hook, which will fire every time a publication is created.

[2022-07-05 10:52] t-mayer commented on #8076
Thank you for the quick answer!!

[2022-07-05 12:34] touhidurabir commented on #8055
@NateWr PRs are done . please review

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#8055 Update the initialization of DAOResultFactory with sql and bindings params](https://github.com/pkp/pkp-lib/pull/8078)
[omp](https://github.com/pkp/omp) --> [Submodule Update ##touhidurabir/i8055_stable_3_3_0_fix##](https://github.com/pkp/omp/pull/1151)
[ops](https://github.com/pkp/ops) --> [Submod

[2022-07-05 12:52] mpbraendle commented on #5912
Hi,
I highly welcome the plugin, but as it is implemented now, we can't recommend and use it for the moment.
There are two main problems:
1) Affiliations usually not only have the main organisation, but also cover details such das department, institute, lab, address, postal code, city and so on. The lookup prohibits to enter these details, which, however, are important for an author. The lookup sh

[2022-07-05 12:56] alexxxmendonca commented on #5912
Hi @mpbraendle

I fully support your comment. We've been using ROR for SciELO Preprints and we encounter the same issues. Unfortunately we can only add the top-level institution and only one per author.

[2022-07-05 12:59] NateWr commented on #8055
Thanks @touhidurabir. It looks ok to me. @asmecher can you do a sanity check on this? Will [this change](https://github.com/pkp/pkp-lib/pull/8078/files) effect performance much? I know it's probably called a lot.

[2022-07-05 19:02] asmecher commented on #4056
@ewhanson, https://github.com/pkp/omp/commit/2d68bb2057e7ccb0354e416ea2ad7e7cbdb90179 introduces a duplicate `doi.manager.settings.doiObjectsRequired` key in `locale/en_US/manager.po` in OMP. Could you resolve the duplicate?

[2022-07-05 19:14] asmecher commented on #8055
No, this won't make performance worse. It makes visible an inefficiency that ADODB used to hide -- getting a set of results and also counting that set of results caused two separate queries. `DAOResultFactory` is deprecated and this bit of cruft will go away with it.

[2022-07-05 19:15] #8055 closed

[2022-07-05 19:54] ewhanson commented on #4056
Thanks for catching that, @asmecher! I've removed the duplicate and created a PR. Could you have a look? Thanks.

- pkp/omp#1152

[2022-07-05 20:06] asmecher commented on #4056
Merged, thanks!

[2022-07-05 20:52] diegomejia071 opened #8080 "[OJS 3.2.1.4] Error in Scheduled Tasks an not show metrics"
Hi,

I have had an error for almost a month since the Usage Stats are not shown and remain in the stage phase.

![image](https://user-images.githubusercontent.com/21009904/177414210-b58ebb49-22f6-4570-8372-090026794493.png)

I have the Acron plugin enabled and also when I try to run php tools/runScheduledTasks.php plugins/generic/usageStats/scheduledTasks.xml, after a while, it shows me the follow

[2022-07-05 20:56] mrshirts commented on #7800
Sorry, couldn't respond yesterday, holiday in the US: Just to clarify - the "anonymous anonymous" in the first case was a typo.  This was _single_ anonymous, not double anonymous.  It was a case where we were having a hard time finding a reviewer with proper expertise, so the section editor asked one of the journal editors (i.e. me) to provide a review.  I apologize if that confused the bug report

[2022-07-05 22:11] asmecher commented on #8080
Hi @diegomejia071 -- I see this is a [cross-post](https://forum.pkp.sfu.ca/t/ojs-3-2-1-4-error-en-tareas-programadas-no-muestra-metricas/73894); I'll close this issue and leave the support forum thread open. It's best to just post in one place.

[2022-07-05 22:11] #8080 closed

[2022-07-05 22:13] diegomejia071 commented on #8080
What happens is that I need to solve this inconvenience of the metrics, and nowhere do they answer me.

[2022-07-05 22:23] asmecher commented on #8080
@diegomejia071, I've responded to your original post on the subject (https://forum.pkp.sfu.ca/t/ojs-3-2-1-4-error-in-scheduled-tasks-an-not-show-metrics/73504).

[2022-07-05 22:26] diegomejia071 commented on #8080
Thanks @asmecher.

[2022-07-06 00:25] asmecher commented on #8074
Merged, thanks!

[2022-07-06 00:25] #8074 closed

[2022-07-06 00:29] asmecher commented on #8067
Merged, thanks!

[2022-07-06 00:29] #8067 closed

[2022-07-06 00:30] asmecher commented on #8065
Merged, thanks!

[2022-07-06 00:30] #8065 closed

[2022-07-06 01:20] kmccurley commented on #5912
I mentioned in the feature request [issue 7135](https://github.com/pkp/pkp-lib/issues/7135) that there is a [much larger study of 22 million articles](https://doi.org/10.1002/asi.24472) that shows multiple affiliations are extremely common. I will not be pursuing this feature request because we've decided to use a different platform. For us, there were simply too many things in OJS that didn't fit

[2022-07-06 08:45] NateWr commented on #7466
Now that we have published the contributor's guide in the docs hub, @asmecher suggested that we may be able to remove some of the following info:

[2022-07-06 09:46] NateWr commented on #7800
That's ok! The behaviour is the same in both cases and we should get a more definitive answer on how to approach this anyway.

[2022-07-06 10:50] jonasraoni opened #8081 "Address invalid localization files"
**Describe the bug**
Some of our localization files might have an invalid syntax, they might work, due to lax parsers, but also cause unexpected issues with other softwares:
- Weblate might wipe out unrelated content: https://github.com/pkp/ops/commit/cc6187b39b624346d60ec9b97a901d90403ac0e1
- The `gettext` package might ignore the text: https://github.com/php-gettext/Gettext/issues/282

**Solutio

[2022-07-06 12:20] Falk358 commented on #7805
Hi @asmecher! No worries, I created the pull request here: https://github.com/pkp/pkp-lib/pull/8082

[2022-07-06 14:59] NateWr commented on #7395
@withanage it looks like the tests only failed on a couple of runs. That may just be a race condition. I've restarted those two OMP tests and we'll see how it goes.

[2022-07-06 17:15] asmecher commented on #8054
@defstat, could you take a look at this issue?

[2022-07-06 18:09] asmecher commented on #8040
So this is one of the few places where I will welcome scope creep :) The PHPUnit tests badly need review/modernization/cleanup and this looks like a very good start. I've added a couple of comments; please go ahead and port to OMP and OPS!

[2022-07-06 18:30] #8064 closed

[2022-07-07 00:16] ctgraham commented on #8004
This is a bug in the code.  Specifically, `ArticleHandler::downloadSuppFile` expects that the `SubmissionFile` will have a 'old-supp-id' property accessible via `getData()`:
https://github.com/pkp/ojs/blob/e8b8c0292b133d564a9ddd9f41905ea5d124e90c/pages/article/ArticleHandler.inc.php#L381

but, `SubmissionFile` was instantiated by `SubmissionFileService::getMany()`:
https://github.com/pkp/ojs/blob/

[2022-07-07 00:19] ctgraham commented on #8004
N.b.: we plan to hotfix this temporarily in our instances by cloning `PKPSubmissionFileDAO::getByPubId()` to a `PKPSubmissionFileDAO::getBySetting()` and calling that from `ArticleFileHandler::downloadSuppFile()` until the full solution is spec'd, reviewed, and merged.

[2022-07-07 02:49] asmecher opened #8083 "Improve HookRegistry hook calling conventions"
`HookRegistry` has some long-standing implementation quirks that make hook-based code hard to read and maintain:
- Hook parameters are be passed through an array and must be unpacked in sequence
- Type hinting is not possible within the parameter array
- Named parameters are not available within the parameter array
- The return value from a hook callback is perpetually confusing

Clean up these co

[2022-07-07 09:07] NateWr commented on #8083
I like it! :+1: A few thoughts:

1. If we're deprecating and renaming things, what about shortening it slightly to `Hook` instead of `HookRegistry`. (`HookRegistry` can still be around for backwards compatibillity.)

3. Instead of `register` and `execute`, what about `Hook::add()` and `Hook::run()`?

4. Is aborting a hook necessary? I never could think of a good use case for this. I wonder if it's

[2022-07-07 09:27] Vitaliy-1 commented on #7563
The solution posted above leads to the issue with file uploading during discussion. There is a good description on the forum: https://forum.pkp.sfu.ca/t/ojs-journal-is-having-an-issue-with-uploading-documents/73718

In short, it causes `PKP\security\authorization\internal\SubmissionFileMatchesWorkflowStageIdPolicy` to incorrectly determine workflow stage ID, and authorization in `FileUploadWizardH

[2022-07-07 09:32] Vitaliy-1 commented on #7563
This initial issue is due to the Discussion being deleted and the log is unable to retrieve it. Maybe it makes sense not to remove Query from the database but rather archive it?

[2022-07-07 11:03] touhidurabir commented on #7673
@asmecher please review the PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#7673 Removal of locale requirement for email templates installation](https://github.com/pkp/pkp-lib/pull/8085)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#7673 Submodule Update ##touhidurabir/i7673_main##](https://github.com/pkp/ojs/pull/3455)

if all ok , I will make the PR for OMP and OPS.

[2022-07-07 11:44] touhidurabir commented on #8060
@asmecher got it . And it probably make sense not to set automatically default something for user locales . In that case a simple fix would be to set the `users` table `locales` value set to default `[]` rather than `NULL` as it is right now . and have an update migration to update those users locales column to `[]` if set to `NULL` . that way we can prevent issues such as pkp/pkp-lib#8023 until w

[2022-07-07 13:24] NateWr commented on #7673
Not a code review but just something to check. Does it work in the following case?

1. Install site with en_US.
2. Create journal with en_US.
3. Install fr_CA to site.

Do the email templates get installed in the `fr_CA` locale?

[2022-07-07 14:10] jnugent opened #8086 "Subscriptions belonging to users with no country set are not included in the subscription report"
**Describe the bug**
If an individual subscription belongs to a user that has no country set in their user profile, the call to Countries::getByAlpha2 in the SubscriptionReport plugin fails because the argument cannot be null.  This generates a fatal error and truncates the report early:

PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Sokil\\IsoCodes\\Database\\Countries::getByAlpha2(

[2022-07-07 14:17] touhidurabir commented on #7673
@NateWr yes it will as `fr_CA` is now installed into the site . And it does as I have tested . this PR does not impact on the behaviour of locale management through the dashboard and that behaviour remains as it is now .

Through this PR the `locales` for the email templates became optional but it still can be defined . if defined , it will work based on that but still run a check to filter out an

[2022-07-07 14:38] withanage commented on #7395
Nate, seems like the tests have passed now
- https://github.com/pkp/omp/pull/1149

[2022-07-07 15:36] ctgraham commented on #8004
One more note:

Yes, we have links to the supplemental files via these legacy URLs in published PDF articles.

[2022-07-07 15:44] marlara commented on #8064
Unfortunately I am quite sure there is nothing relevant. This error has
been here for days and I checked everyday actually, but nothing appears.
The problem I think is with the call to the json? It is completely blank. I
tried to understand if there were some permission problems, but it doesn't
seem the case

Il gio 7 lug 2022, 16:57 Alec Smecher ***@***.***> ha scritto:

[2022-07-07 15:48] felixhelix opened #8087 "OJS: Unable to Delete Plugins"
## Description of issue or problem I’m having:

As posted in the user forum https://forum.pkp.sfu.ca/t/unable-to-delete-plugins/73872

Cannot delete plugins using the “delete” link provided in “website/installed plugins”.

## The following error message is given:

[php7:error] [pid 22033] [client xxx.xxx.xxx ] PHP Fatal error:  Uncaught Error: Call to a member function getFilePath() on null in /va

[2022-07-07 19:50] Vitaliy-1 commented on #8073
This is related to: https://github.com/pkp/pkp-lib/issues/7563

[2022-07-07 20:20] touhidurabir commented on #8060
@asmecher please review the PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#8060 User locales column default updated to empty array](https://github.com/pkp/pkp-lib/pull/8088)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#8060 Submodule Update ##touhidurabir/i8060_main##](https://github.com/pkp/ojs/pull/3457)

I will port the PR for the OPS and OMP main branch once get the conf

[2022-07-07 23:25] asmecher commented on #8064
@marlara, can you check your browser's web development tools to see what response the server is giving when it attempts to make the request to the `verb=settings` page? e.g. whether it's responding with a `200 OK` or `500 Internal Server Error`?

[2022-07-08 07:18] defstat commented on #8054
Hi @ErikI1, thanks for reporting that. I have two questions to start working on it:
1. Is your problem Importing the data, or exporting the data. I am asking because you write

but then in the steps to reproduce you

2. I tried to import the provided exported XML file to my dev installation (stable_3.3.0 branch) and it was successfully imported.
![image](https://user-images.githubusercontent.com/5

[2022-07-08 07:18] marlara commented on #8064
It's a 500 Internal server error

[2022-07-08 12:08] alexxxmendonca opened #8090 "Include "Preview" option before posting a preprint"
**Describe the problem you would like to solve**
OJS offers a "preview" button that shows how the published article is going to look like after its publication:

![image](https://user-images.githubusercontent.com/4059679/177988858-a3797a6a-8701-4e0f-93b4-9ae79b8465bf.png)

However, the same button is not available in OPS:

![image](https://user-images.githubusercontent.com/4059679/177988952-eb8ca7

[2022-07-08 14:52] asmecher commented on #8064
Hi @marlara -- that should definitely correspond to a more specific message somewhere in your server logs. If not your PHP error log, then perhaps your Apache (or equivalent) log; these are sometimes kept separately.

[2022-07-08 15:01] marlara commented on #8064
Yes, in fact I cannot explain the missing logs. I checked the apache logs
and there is nothing. The php logs seems to be in the same apache log
file... I cannot figure out. I will check more, but I really checked
everywhere

Il ven 8 lug 2022, 16:52 Alec Smecher ***@***.***> ha scritto:

[2022-07-08 16:03] Vitaliy-1 opened #8091 "Consider new templates for automatic notification emails and remove redundant"
**Describe the problem you would like to solve**
As part of [this issue](https://github.com/pkp/pkp-lib/issues/7286), I'm decoupling emails from notifications. Currently, these automatic emails with a generic `NOTIFICATION` template are sent alongside notifications and might require reconsidering:
-  Request payment from authors, see https://github.com/pkp/ojs/blob/74d9e9eb6eefb752e76e70d7a3da62ed

[2022-07-08 17:00] asmecher commented on #8087
@felixhelix, I'll close this in favour of continuing the conversation at https://forum.pkp.sfu.ca/t/unable-to-delete-plugins/73872/4 -- if we can confirm a bug there, I'll re-open this issue.

[2022-07-08 17:00] #8087 closed

[2022-07-08 17:04] asmecher commented on #8086
Looks good, thanks; can you forward-port to `main`?

[2022-07-08 17:25] jnugent commented on #8086
@asmecher certainly!  https://github.com/pkp/ojs/pull/3459

[2022-07-08 17:59] asmecher commented on #8086
All merged, thanks!

[2022-07-08 19:04] ctgraham commented on #5780
FWIW, I think the 3.3.0-11 milestone was accurate here; the issue remains open pending the merge into `main`, but the feature is present in 3.3.0-11.

[2022-07-08 19:26] asmecher commented on #5780
Thanks for the heads-up -- I've moved it back to -11.

[2022-07-08 23:58] asmecher commented on #8060
Thanks, @touhidurabir -- I've made a suggest here >> https://github.com/pkp/pkp-lib/pull/8088#issuecomment-1179434852

[2022-07-09 00:22] asmecher commented on #8023
Not a problem, I did touch this last :upside_down_face:

The need for the fix in #7325 can be seen anywhere that a schema contains a combination of...
[code]
Without the fix, `convertToDb` would force an incoming `null` value to `(int) null` (therefore `0`). The fix prevents the cast, allowing the database to store both `0` and `null` as distinct values in the DB.

An important example is in the `

[2022-07-09 02:14] asmecher commented on #8023
Actually, on second thought: you could also consider the `null` in the database to be the problem. If a field is not nullable according to the schema, the DB field should also be `not null`!

[2022-07-09 03:16] israelcefrin commented on #3094
Hi

Just include this thread from the Forum since it is related to the adjustement requested and this thread is still open:
https://forum.pkp.sfu.ca/t/ojs-3-3-0-8-default-response-deadline-in-weeks-instead-of-days/73933

[2022-07-09 17:56] touhidurabir commented on #8060
@asmecher updated as per suggestion . please review again . then if all ok, I will forward port to OPS and OMP .

[2022-07-11 07:44] marlara commented on #8064
@asmecher I just only get these errors, which I don't really understand where they are coming from

[code]

[2022-07-11 07:46] marlara commented on #8064
This is all the request in the Console log

[code]

[2022-07-11 09:04] ErikI1 commented on #8054
Hi, thank you for your time.
1. problem is with export over cli (it would be better if I put the command in quotation marks)
2.  www-data@e538414921e9:/opt/ojs/app$ php ./tools/upgrade.php  check
Code version:      3.3.0.11
Database version:  3.3.0.11
Latest version:    3.3.0.11
Your system is up-to-date

I apologize for my English and misunderstanding.

[2022-07-11 09:40] NateWr commented on #8091
@Vitaliy-1 am I right in thinking that each of the notifications you mention sent an email in 3.3 but will not send an email in 3.4. Is that the breaking change that we're considering?

[2022-07-11 09:47] NateWr commented on #8023
Yes, but the proposal here changes when `$nullable` will be `true`. So when an entity schema doesn't indicate that a field is `nullable`, the cases I outline will fail.

Maybe that's ok and will help us tighten up our usage of the json schema. Maybe some exceptions should be thrown in `convertToDB()` and `convertFromDB()` to expose these problems?

[2022-07-11 10:28] NateWr opened #8092 "Refactor entity collector to use more intuitive syntax"
**Describe the problem you would like to solve**
Currently, the entity `Repository` is the interface to get a collection of objects. It uses the `Collector` to select objects and passes that to the `getMany(Collector $c)`, `getIds(Collector $c)`, and `getCount(Collector $c)` methods.

However, this leads to an uncomfortable syntax which requires calling the `Repo` facade twice:

[code]

**Describe

[2022-07-11 11:29] defstat opened #8093 "UserGroup Entity: Change UserGroupDAO to Repository Pattern"
UserGroup Entity follows the deprecated DAO class (`UserGroupDAO`) to perform the code actions necessary for UserGroups.

This issue will cover the appropriate changes for the UserGroups (and possibly related Entities like `UserGroupAssignments`) to follow the active Repository pattern instead.

---
**Current PRs**

**Branch `main`**
[OJS]: pkp/ojs#3486
[OMP]: pkp/omp#1171
[OPS]: pkp/ops#325
[pkp-

[2022-07-11 11:40] Vitaliy-1 commented on #8091
Only payment request notification for authors doesn't have an unsubscribe option and I'm considering removing it. I'm leaving others but expecting to change the message itself.

[2022-07-11 12:48] NateWr commented on #7395
Thanks @withanage. I've merged the PRs to `main` now.

[2022-07-11 14:13] marlara commented on #8064
So, I finally managed to get the PHP errors logging in. This is for the TextEditor extra:

` [php:error] [pid 2434173] [client 37.103.18.12:40344] PHP Fatal error:  Uncaught TypeError: in_array(): Argument #2 ($haystack) must be of type array, null given in /var/www/ojs/cache/t_compile/e7015e6e1a3406762d960366518b3414e450feaf^aad0d99d45f1c49794dd5f48888b070605c1db6e_0.plugins-1-plugins-generic-tex

[2022-07-11 14:56] jonasraoni commented on #8081
@asmecher I've created a PR for the `pkp-lib/main` here:
- https://github.com/pkp/pkp-lib/pull/8094

I've tried to separate the commits, except the 4f379aa08daa4a8703a5b1dcf4e763feceba864d, where I used the `gettext` package to setup the plurals, it formatted the entries and also removed duplicated entries inside the same file.

I've also added a generic validator for the locale files.

[2022-07-11 17:40] jonasraoni commented on #8081
For the `stable-3_3_0`, I can pass my modified validator through the locale files, and fix the breaking issues.

I also think it's ok to add the [validate-locale.sh](https://github.com/pkp/pkp-lib/pull/8094/commits/27741344eef60c2b3a38d01d827b18b3050f7eeb) in a non-breaking way (e.g. emit errors without failing the build)

[2022-07-11 18:49] asmecher commented on #8022
@touhidurabir, this is skimpy on reproduction steps, but something to keep in the back of your mind as you start looking through queue-related issues.

[2022-07-11 18:50] asmecher commented on #8032
@NateWr, do you have an example of an invalid `use` statement that could make this reproducible?

[2022-07-11 19:44] asmecher commented on #8064
Thanks, @marlara, that helps! Applying this change will correct that error message: https://github.com/pkp/textEditorExtras/commit/528fea31178c5ca2d1bbaef5b74d455cea421a17

[2022-07-11 19:53] asmecher commented on #8023
The more I think about this, the more the only real problem here is that the schema JSON (not nullable) disagrees with the database schema (nullable). It's the "illegal" `null` data in the `user.locales` column that's causing problems.

[2022-07-12 09:12] NateWr commented on #8032
I think any invalid `use` statement at the top of `PKP\Jobs\Notifications\StatisticsReportMail` would do the trick. So:

[code]

[2022-07-12 15:19] asmecher commented on #8064
@marlara, hmm, it's fixed over here; is there either a Javascript (browser console log) error, or a warning in the PHP error log? Could you take a look at the JSON response for the request to the settings page?

[2022-07-12 18:03] ewhanson commented on #8027
While looking into an implementation strategy for this with the new DOI management page, I came across an issue with DOI versioning in OPS 3.3 that could affect this.

**First, the expected behaviour:**
When creating a new version in OPS, the publication is copied (DOI included) and if the DOI pattern contains a `%b`, a new DOI is generated for the publication.

**Second, the current behaviour:**

[2022-07-12 18:15] touhidurabir commented on #8023
@asmecher please review the PRs

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#8023 Entity DAO update to respect the json schema](https://github.com/pkp/pkp-lib/pull/8096)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#8023 Submodule Update ##touhidurabir/i8023_main##](https://github.com/pkp/ojs/pull/3460)

I will forward port to OPS and OMP if all ok .

[2022-07-12 21:07] kshuttle commented on #6242
+1 more from PKP|PS to be able to see when a reviewer was unassigned. This client specifically asked if a message could appear beneath the reviewer's name when an editor goes to assign more reviewers, similar to the message that appears for reviewers that declined the invitation. Reviewers that decline have the note "This reviewer has already been assigned to review this submission."

<img width="

[2022-07-12 23:30] asmecher commented on #8023
@touhidurabir, stepping back from the "smarter" `$nullable` behaviour, would this issue not be solved by updating `user.locales` so that it is `NOT NULL`?

[2022-07-13 09:27] NateWr commented on #8027
My preference would be to drop DOI versioning in OPS for 3.3 _until someone asks for it_. We can always add it back in later if it's urgent. But since no one noticed that it isn't working, I think that means that no one is using it yet.

[2022-07-13 09:35] marlara commented on #8064
Thank you very much ascmecher, actually the JSON has status "true", but it's empty:
![Schermata da 2022-07-13 11-34-21](https://user-images.githubusercontent.com/12834687/178702061-63c94627-b3e9-4df7-89b7-c6788a7e554a.png)

[2022-07-13 11:38] AhemNason commented on #8027
Mostly just chiming in to say that I don't think versioning in the DOI suffixes themselves is as important as conveying the relationship between the two versions in the deposited metadata.

[2022-07-14 09:05] NateWr opened #8097 "Moment.js does not recognize some locales"
**Describe the bug**
We use Moment.js to localize dates. However, this library does not recognize some of our locales. As a result, the date/time formats are not localized properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Install and activate  the following language: `sr_RS@cyrillic`.
2. Go to Settings > Website > Setup > Date and Time.
3. See that the formatting options do not appea

[2022-07-14 09:17] NateWr commented on #8097
The following PRs address this for `stable-3_3_0`. This will be fixed in `main` as part of work on #7191.

PR:
https://github.com/pkp/ui-library/pull/211

Tests:
https://github.com/pkp/ojs/pull/3461

[2022-07-14 15:20] asmecher commented on #4056
@ewhanson, is this issue ready to be closed?

[2022-07-14 16:14] asmecher commented on #8023
We decided not to merge this at the moment, thinking it's better to have a tightly-defined data model and errors when those expectations are not met. But I may come back to this later!

[2022-07-14 16:14] #8023 closed

[2022-07-14 16:55] ewhanson opened #8098 "DOI plugin references not removed after refactor"
**Describe the bug**
References to the previous DOI plugin are [still present](https://github.com/pkp/ojs/blob/81664e142122e18afc5333eb9602d3e1ea48b2a3/classes/plugins/DOIPubIdExportPlugin.inc.php#L52-L54) in `DOIPubIdExportPlugin` and should be removed. There may be unintended consequences of simply removing the code, though, including the old DOI export plugin tools page becoming active again.

[2022-07-14 16:56] ewhanson commented on #408
@asmecher, yes, this is no longer an issue for DOIs. They are now locked from editing once they have been registered. This does not affect URNs, though, so any issue that was present in 3.3 for URNs will still be present now.

[2022-07-14 16:57] ewhanson commented on #4056
@asmecher, yes! Nothing left in this issue specifically.

[2022-07-14 16:57] #4056 closed

[2022-07-14 16:58] asmecher commented on #8098
It's worth checking any plugins that attempted to use `exportArticles` / `exportIssues` / `exportRepresentations`, as they wouldn't have been working with the plugin code checks in place. For example, I see that variable in:
- plugins/importexport/pubmed/PubMedExportPlugin.inc.php
- plugins/generic/crossref/templates/index.tpl
- plugins/generic/datacite/templates/settingsForm.tpl
- plugins/generic

[2022-07-14 18:54] asmecher commented on #7116
That's filed at: https://github.com/pkp/pkp-lib/issues/1839

It'll be a while before we get to it, though; changing it has some tricky implications in the back-end.

[2022-07-14 22:59] asmecher commented on #8081
Please hold off on this until we've reached a decision about translation workflows on this discussion: https://github.com/pkp/pkp-lib/discussions/8038

[2022-07-14 23:55] asmecher commented on #7805
Thanks, @Falk358 and @retostauffer!

[2022-07-14 23:55] #7805 closed

[2022-07-15 05:20] jonasraoni commented on #8081
Ok! So I'll just commit fixes for the broken keys (e.g. missing quotes, bad escaping, ...).

[2022-07-15 05:26] asmecher commented on #8081
Yes please -- I've recently merged translations from Weblate so now is a good time.

[2022-07-15 07:07] touhidurabir commented on #8060
@asmecher please review the following PRs

[ops](https://github.com/pkp/ops) --> [pkp/pkp-lib#8060 Submodule Update ##touhidurabir/i8060_main##](https://github.com/pkp/ops/pull/308)
[omp](https://github.com/pkp/omp) --> [pkp/pkp-lib#8060 Submodule Update ##touhidurabir/i8060_main##](https://github.com/pkp/omp/pull/1154)

[2022-07-15 13:02] ajnyga commented on #8027
I am fairly sure DOI versioning did work originally. Can not say when it was broken. It was written in such a rush before the first OPS release with the complete DOI rewrite looming in the near future that I do not recall all the details, but maybe this is the relevant part not working anymore in 3.3
https://github.com/pkp/ops/blob/410d35bb8cc07633baac03960c53640bfb147a47/classes/publication/Repos

[2022-07-15 15:52] marcbria commented on #857
The Spanish Foundation for Science and Technology (a national agency) will probably ask all science journals to use CRediT to specify the role of each author.

[2022-07-15 16:09] asmecher commented on #8060
Thanks, @touhidurabir! Merged all, though there was a single test failure on OMP that I'll watch (99.5% sure it'll be fine).

[2022-07-15 16:09] #8060 closed

[2022-07-15 16:20] asmecher commented on #857
@marcbria, that's a good incentive to get this launched! But two questions...
- is the distinction between author and translator relevant to their use case? It's the most common distinction editors need (anecdotally) but CRediT doesn't have it.
- what mechanisms will the agency want to use to consume CRediT metadata? (E.g. OAI-PMH, CrossRef, etc)

[2022-07-15 17:10] marcbria commented on #857
Not yet, but it will in a couple of years.
I understand why CRediT didn't include translators (translation is considered a secondary task in terms of science).
But in the other hand, according to intellectual property laws a translator is also an author so they need to be included.
What was your plan for this?

The agency won't consume this data yet. It will probably start as a recommendation for

[2022-07-15 17:14] jonasraoni commented on #8081
Just to confirm, I've updated the broken files.

[2022-07-15 17:45] jonasraoni opened #8099 "Drop unsupported MySQL driver"
**Describe the bug**
The support for the old MySQL driver has been [dropped in PHP 7.0](https://www.php.net/manual/en/changelog.mysql.php), so we do the same, at least for the `main` branch.

**What application are you using?**
*/main

[2022-07-15 18:28] asmecher commented on #857
It's actually worse than that :)

The "[Writing - Original Draft](https://credit.niso.org/contributor-roles/writing-original-draft/)" CRediT role explicitly *includes* translation work:

...which means that if translators are added to the submission as contributors, their contributions will be indistinguishable from authorship.

[2022-07-15 18:43] koormath opened #8100 "How to remove incomplete submissions in OJS 3.3.0.10?"
I couldn't find an option to remove incomplete submissions in OJS 3.3.0.10?. It was available in OJS 3.2.1.4. Could you please let me know, is there any way to delete the incomplete submissions?

[2022-07-15 21:25] asmecher commented on #8100
@koormath, can you post your question on our support forum at https://forum.pkp.sfu.ca? That's the best place for questions like this.

[2022-07-15 22:16] marcbria commented on #857
But in my opinion the key is in the word "substantive".

We need to think in two kind of translators:

The role of "translator", as it is commonly used in scientific journals, is for a translation that, by definition, is "non-substantive"... that is, that "does not alter the subject matter or essence of the article", because if it did, it would alter the article and would be a bad translation.

Th

[2022-07-15 22:53] asmecher commented on #6782
Thanks, @bozana! I'm working through it slowly.

I'm working with a 3.3.0-x [test dataset](https://github.com/pkp/datasets), generating test metrics there using `php lib/pkp/tools/generateTestMetrics.php 1 2022-01-01 2022-07-15`, then running the upgrade to 3.4.0 pre-release on your branch before applying the data dumps you emailed me.

One immediate concern is that the `I6782_Metrics` script take

[2022-07-16 03:36] fgnievinski commented on #857
I've found the following guidance:

"They [translators] should be included in an ‘Acknowledgments’ section with an explanation of their role, *or* they should be included in the author list if appropriate."
https://authorservices.taylorandfrancis.com/editorial-policies/defining-authorship-research-paper/

The key, then, is appropriateness.  Different organizations offer various criteria for author

[2022-07-16 03:41] fgnievinski commented on #857
The two cases above involved translations of unpublished works. There's actually a third case: a translator hired or volunteered without collaboration of the original authors of a published work. In that case, translator could be mentioned in a footnote, but there is no consent from the original authors for the translator to be listed as a coauthor or to be mentioned in an acknowledgement. So, aga

[2022-07-16 06:11] koormath commented on #8100
Thank You! I will do it.

[2022-07-16 06:16] koormath commented on #8100
@asmecher Thank you. I will do it

[2022-07-18 09:25] NateWr commented on #8027
I'm pretty sure DOI versioning was never working in 3.3. It appeared to work because the UI showed a new versioned DOI when you create a new version, but this data never got stored permanently in the database. So it's an easy one to think was working when it wasn't.

The code you point to is where this is happening. It was added in [December, 2019](https://github.com/pkp/ops/blob/83f38352d5ae7acc0

[2022-07-18 09:38] NateWr commented on #8097
Merged to `stable-3_3_0`.

[2022-07-18 09:38] #8097 closed

[2022-07-18 11:10] touhidurabir commented on #2890
@NateWr changes based on code review are pushed . Please take a look . I have made modifications for most the code review that you have pointed out except just few as I think a bit more digging and debate is required for those cases .

I am bit struggling on this one but I think I can figure it out . If I can't, I will ask for your help.

I have squashed the commits into fewer commits . if needed,

[2022-07-18 11:10] bozana commented on #6782
Hi @asmecher, yes, the script needs a lot... I think also because of this part of the code: https://github.com/bozana/ojs/blob/6782-2/classes/migration/upgrade/v3_4_0/I6782_Metrics.inc.php#L198-L253 -- There we create a new tmp table with a lot of entries (this also takes some time) to then fix the old Geo entries.
We could maybe ask the users to run that script first on their old installation, on

[2022-07-18 13:24] bozana commented on #6782
Hi @asmecher, I've just tested it with the metrics table with 260660 rows.
I6782_Metrics took 1,5 minutes.
It took 20 seconds without this part of the code https://github.com/bozana/ojs/blob/6782-2/classes/migration/upgrade/v3_4_0/I6782_Metrics.inc.php#L198-L253.
And it took 45 seconds when the table region_mapping_tmp was already there. That would maybe mean that this part of the code https://git

[2022-07-18 14:31] bozana commented on #6782
Having the metrics table with 1787425 rows:
The whole script tool more than 20 minutes -- then I stopped it.
Without Geo data repair code it took ca. 8 minutes.
So yes, for big installations it will take loooooooooong... :-P :-(

[2022-07-18 16:46] amy-lyson opened #8101 "Option to display only Short Description of announcements with no Read More & full Announcement"
Many times we only want to display a brief announcement (the "Short Description" only) on the home page, with no need for the "Read More" link to the full Announcement text. I understand I can edit the CSS style sheet to change the Read More button to "display: none;" -- but then we won't have a choice (without editing the style sheet back to the default) of displaying longer announcements, where

[2022-07-18 17:26] ajnyga commented on #3094
I've actually had a or for this for some time now, I will see if there was something blocking it from being merged

[2022-07-18 19:41] asmecher commented on #8101
Thanks, @amy-lyson! We're using the [Feature Requests](https://forum.pkp.sfu.ca/c/feature-requests/8) area of our support forum to track community feature requests -- we're hoping to reduce the chaos of the issues list and streamline it more for active development work, which will mean "promoting" community feature requests from the forum as we're able. Could you post this suggestion there? We'll

[2022-07-18 19:56] asmecher commented on #6782
@bozana, what would be the impact of leaving the old data in place and suggesting that the tech run the updates afterwards?
- Would it be convenient to leave the old data in the database alongside the new schema?
- If the tech runs the migration say a week later, would any data be lost by the delay? Would the missing data cause errors/problems in the meantime?
- If the tech never bothers to run it

[2022-07-19 04:26] ErikI1 commented on #8054
[https://drive.google.com/file/d/1xfu3xujyCGdw2FOzjKjc-LQ05-R7hN6H/view?usp=sharing](url)

[2022-07-19 07:45] defstat commented on #8054
Hi @ErikI1.. Thanks for the reply. I don't see any issues there either. I downloaded and installed [OJS 3.3.0-11 LTS (.tar.gz)](https://pkp.sfu.ca/ojs/download/ojs-3.3.0-11.tar.gz) locally and imported the initially given exported file.

Then I exported the file by using the CLI command, and it was exported with no problems. So I can't reproduce the issue neither on the `stable-3.3.0` branch nor o

[2022-07-19 09:05] NateWr commented on #6782
This would be a great candidate for jobs. The upgrade can create a job that batch upgrades X number of rows. When the job is finished it checks if there are more rows to do. If so, it adds another job.

This would give us "eventual migration" with only minor feature loss until the jobs are completed.

[2022-07-19 11:40] NateWr commented on #2890
Looks good @touhidurabir! I did some manual testing in OJS and OMP and everything worked well. I ran into a bit of an issue in OMP, but after looking through the code review again I think i forgot to apply the migrations.

I've left a few comments here and there for some things. But I think mostly we just have the one conversation remaining about whether or not to use `canRetract`. Otherwise, we'r

[2022-07-19 12:44] bozana commented on #6782
@asmecher, @NateWr,
How about this:
For now we assume that we can live with 8 min. for I6782_Metrics for such a huge metrics table (1787425 rows). Once we tested it on a whole huge installation we can reconsider this.
That means we will leave out the code for Geo data repair for later/after the upgrade.
Thus, for now, we will remove this part of the code:
https://github.com/bozana/ojs/blob/6782-2/

[2022-07-19 12:50] bozana commented on #6782
And regarding this:

I think it helps if the admin sees some progress and not wait 8 minutes for just one script. Thus, we could even split the I6782_Metrics into different scripts:
- for the migration of the usage stats plugin settings: https://github.com/bozana/ojs/blob/6782-2/classes/migration/upgrade/v3_4_0/I6782_Metrics.inc.php#L38-L126
- each assoc type stats migration into different script,

[2022-07-19 13:08] bozana commented on #4517
Just a not that this issue is partly connected: https://github.com/pkp/pkp-lib/issues/7318

[2022-07-19 14:16] Vitaliy-1 commented on #7186
Saw these during email refactoring. I'm leaving the code as is for now as it's not working; among other things, it requires creating a new Mailable.

[2022-07-19 14:51] #8100 closed

[2022-07-19 14:56] NateWr commented on #8005
After looking at the code, a log entry should be added any time the editor changes the review recommendation. This is `SUBMISSION_LOG_REVIEW_RECOMMENDATION_BY_PROXY`. We'll need to investigate to confirm if this is not happening and fix it.

[2022-07-19 16:24] amy-lyson commented on #8101
Done!

Amy

From: Alec Smecher ***@***.***>
Sent: Monday, July 18, 2022 3:42 PM
To: pkp/pkp-lib ***@***.***>
Cc: amy-lyson ***@***.***>; Mention ***@***.***>
Subject: Re: [pkp/pkp-lib] Option to display only Short Description of announcements with no Read More & full Announcement (Issue #8101)

Thanks, @amy-lyson <https://github.com/amy-lyson> ! We're using the Feature Requests <https://forum.pkp.

[2022-07-19 16:41] #8005 closed

[2022-07-19 16:47] ErikI1 commented on #8054
Of course you are right, the problem was between the chair and the keyboard. ID of issues are not the same as ID in DB, although it is possible to consider whether it could be so. Thank you very much for your help and your time.

[2022-07-19 16:47] #8054 closed

[2022-07-20 01:00] asmecher commented on #6782
I think I would prefer the idea of a script that an admin can run. It'll be much easier to predict (for them and for us), and will be easier to know whether or not it worked. I suspect many users won't care about COUNTER or geoIP, or won't want those aspects in historical reports, in which case they can forget about it without negative effects.

[2022-07-20 01:00] asmecher commented on #6782
@bozana, is it the case that Counter reports (e.g. R5) now need to be fetched from the sushi interface? I don't see a place in the interface where they can be accessed directly. Forgive me for probably a silly question :)

[2022-07-20 11:16] bozana commented on #6782
@asmecher, not a silly question at all :-) Currently yes, only SUHI interface is available, but we do plan to implement the UI too and provide the Tab Separated Values (TSV) reports. This is the last point on the TO-DO list in the COUNTER R5 issue, s. https://github.com/pkp/pkp-lib/issues/6781,

[2022-07-20 13:52] NateWr commented on #8059
@asmecher I'm hitting a test failure with a JS error that should be fixed in the PR. Is there any chance that the tests are not building pkp.min.js?

I noticed that in the travis script `buildjs.sh` is only called for the validation tests, not for the integration tests. Do I need to be committing a compiled copy of `pkp.min.js` to use those changes in the tests?

This is the test failure and the J

[2022-07-20 16:48] asmecher commented on #8059
The javascript build is only necessary in the `validation` phase because `enable_minified` is `Off` in `config.inc.php` -- so OJS should be using the various JS classes directly rather than through the compiled JS. You could verify this by committing an updated version of `pkp.min.js` in your OJS branch (before the submodule commit`).

[2022-07-20 21:11] ctgraham commented on #7921
Finally back to you, @asmecher .

PRs:

- OJS 3.3: https://github.com/pkp/ojs/pull/3399
- OJS main: https://github.com/pkp/ojs/pull/3400
- OPS 3.3: https://github.com/pkp/ops/pull/309
- OJS main: https://github.com/pkp/ops/pull/310
- OMP 3.3: https://github.com/pkp/omp/pull/1158
- OMP main: https://github.com/pkp/omp/pull/1159

[2022-07-20 22:02] #7921 closed

[2022-07-20 22:03] asmecher commented on #7921
All merged -- thanks, @ctgraham!

[2022-07-21 03:24] bozana commented on #6781
Hi @ctgraham, @NateWr and @asmecher,
Alec asked if the access to the SUSHI reports should not be restricted to managers, admin and subscription managers, which led that I would like to reconsider it with you:
We said the SUSHI API/reports should be available without restrictions, but with the possibility for an institution to opt-out. Thus, currently, any (registered) user can access the API and a

[2022-07-21 04:59] israelcefrin commented on #5192
@NateWr removing the `aria-label` from the Sidebar will remove a translation key (`common.navigation.sidebar`) that doesn't seem to be used in any other part of the front-end or the backend. Maybe we should create an issue to review whether other themes are using this key and double-check if we should keep it on the locale files.

[2022-07-21 07:29] NateWr commented on #8059
The error message I'm receiving suggests that `pkp.min.js` is being loaded:

https://app.travis-ci.com/github/pkp/ojs/jobs/577212857#L13848-L13857

[code]

I've tried to use `buildjs.sh` to build `pkp.min.js`, but I get several validation errors that aren't related to any changes I've made. I'm running:

And I get the following output:

[buildjs-output.txt](https://github.com/pkp/pkp-lib/files/915

[2022-07-21 07:38] NateWr commented on #5192
I found it is used in the `bootstrap3` and `healthSciences` themes.

[2022-07-21 08:38] Vitaliy-1 opened #8105 "Update PayPal plugin dependency guzzle adapter"
**Describe the bug**
I'm receiving a fatal error when trying to make payment with the plugin:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Configure subscriptions and set payment type to paypal plugin
2. Go to my subscriptions page
3. Click purchase subscription and follow purchase steps
4. Instead of redirecting to PayPal see the error message

**What application are you using?**

[2022-07-21 10:43] ctgraham commented on #6781
I strongly prefer a first round of:
* reports are publicly available (no login) by default. (auth is an optional implementation in the SUSHI spec)
* Opt-out is available to turn off the SUSHI endpoint, stats are still collected. (This aligns with the COUNTER expectation that a formal process is needed for compliance, and some may want to complete that process before making reports available).
* no

[2022-07-21 10:55] nils-stefan-weiher commented on #7354
A colleague of mine also has been contacted by a journals manager asking about version notes. But mainly for the reader audience to inform them of the changes to the articles.

It seems they are hesitating to use the versioning because of communicating to the reader "there was something wrong with the previous versions so there had to be a new revision". But sometimes the new published version jus

[2022-07-21 11:25] defstat commented on #8073
@asmecher

**PRs**

**Branch `main`**
[OJS]: pkp/ojs#3452
[OMP]: pkp/omp#1160
[OPS]: pkp/ops#312
[pkp-lib]: #8075

[2022-07-21 12:52] jonasraoni commented on #8105
I was discussing this with @asmecher these days, so I just created a discussion here: https://github.com/pkp/pkp-lib/discussions/8106

I'll try to think about something 🤔

[2022-07-21 13:11] NateWr commented on #7354
Hi @nils-stefan-weiher, we've _just_ adopted a new policy where we are asking feature requests to be made on our forum. (It's brand new, we [announced it yesterday](https://pkp.sfu.ca/2022/07/20/improving-how-we-collect-community-feedback/)).

Would you be willing to compile a concise description of this request and post it with the screenshots above in our [feature requests forum](https://forum.p

[2022-07-21 13:59] israelcefrin commented on #5192
I think we can keep the locale key for now. Given these themes has the same issue to fix, I will open PRs for each of them after fixing the issues for the Default Theme. Once all themes were not using this key anymore we can review how to remove it from the locale files since it will not be used anywhere else.

[2022-07-21 22:59] ewhanson opened #8107 "NativeImportExport plugin references OMP"
**Describe the bug**
There's a reference to `$press` instead of `$journal` in the OJS version of the NativeImportExportPlugin.

**To Reproduce**
See https://github.com/pkp/ojs/blob/f8bd3f9bbe01e32e13625e7473c6af1a5e3cb1a7/plugins/importexport/native/NativeImportExportPlugin.inc.php#L385-L386

**What application are you using?**
 OJS `stable-3_3_0`

**Additional information**
N/A

[2022-07-21 23:02] ewhanson commented on #8107
@asmecher, I just ran into this on `stable-3_3_0`. Could you have a quick look at the PR? Thanks.

PR:

- pkp/ojs#3464

[2022-07-22 00:40] asmecher commented on #6825
@NateWr, is this a duplicate of https://github.com/pkp/pkp-lib/issues/7505?

[2022-07-22 00:53] asmecher commented on #8105
@jonasraoni, I think this came up a few weeks ago in the context of a pull request that added something to the Paypal `composer.json` -- do you recall what PR that was? I can't find it now.

[2022-07-22 00:55] asmecher commented on #8107
Good spotting! Merged, thanks.

[2022-07-22 00:55] #8107 closed

[2022-07-22 07:39] jonasraoni commented on #8105
@asmecher Guzzle has been introduced here: https://github.com/pkp/ojs/commit/2677348a9078041434ac0b204ef163811ead9b8f, looks like an optional HTTP client configuration after upgrading to omnipay v3.

And on pkp/lib, Guzzle moved to v7 here: https://github.com/pkp/pkp-lib/commit/f9a128e525a619f5e1375de59aaa8ea5b6029367#diff-d2ab9925cad7eac58e0ff4cc0d251a937ecf49e4b6bf57f8b95aab76648a9d34R22

Looks

[2022-07-23 01:43] israelcefrin commented on #5192
I've opened a PR to adjusting it: #8108
Please, let me know if everything was made correctly (code and PR workflow)

[2022-07-23 19:51] bozana commented on #5543
This is done with the Issue https://github.com/pkp/pkp-lib/issues/6782. Thus closing.

[2022-07-23 19:53] bozana commented on #6895
merged with the Issue https://github.com/pkp/pkp-lib/issues/6782. Thus closing.

[2022-07-23 19:54] bozana commented on #4130
I hope this is improved with the changes here https://github.com/pkp/pkp-lib/issues/6782. Thus closing.

[2022-07-23 19:54] #4130 closed

[2022-07-23 19:58] bozana commented on #6782
Merged, so I am closing this issue. The opened points above (in the issue description) are in other issues, so they will not be done as part of this issue any more.

[2022-07-24 17:34] ewhanson commented on #8027
Hey @NateWr, could you have a look at these PRs? Once we've hammered out the approach for this, I can port it to OJS and OMP as well.

There are still a few things to sort out including updating the styles for `readonly` input fields (which we're using in place of marking them disabled).

Thanks!

PRs:

- `pkp-lib`: pkp/pkp-lib#8110
- `ui-library`: pkp/ui-library#214
- `ops`: pkp/ops#314

[2022-07-25 09:37] NateWr commented on #6825
Yes, I think so.

[2022-07-25 09:37] #6825 closed

[2022-07-25 09:46] touhidurabir commented on #2890
@NateWr second batch of code modification based on your second batch of code review is pushed. There are few conflicts that I need to revolve so once we decided to marge , I will fix those . please review the changes .

[2022-07-25 09:49] NateWr commented on #7505
We won't show the JATS XML in a journal that hasn't enabled it.

That's correct for a fully integrated JATS workflow. However, one of the goals of this issue is to support journals that already use external JATS workflows. This provides a way for them to bring the XML back into OJS, and gives us an anchor around which we can build tools for using that XML in OJS (distributing it in OAI, showing fu

[2022-07-25 11:34] touhidurabir opened #8111 "Thanking reviewer is throwing internal exception."
**Describe the bug**
When thanking a reviewer, it throws internal exception and the `Thank Reviewer` modal is not closing at done .

**To Reproduce**
Steps to reproduce the behavior:
1. Create a submission and push it to `External Review` stage.
2. Invite a reviewer, complete the review process and submit it.
3. Login as `Editor` and confirm the submitted review by reviewer.
4. Try to thank the re

[2022-07-25 12:02] touhidurabir commented on #8111
@asmecher please review the PRs. As this is a trivial fix, I have made PR for all .

[pkp-lib](https://github.com/pkp/pkp-lib) --> [pkp/pkp-lib#8111 added missing use class statements](https://github.com/pkp/pkp-lib/pull/8112)
[ojs](https://github.com/pkp/ojs) --> [pkp/pkp-lib#8111 Submodule Update ##touhidurabir/i8111_main##](https://github.com/pkp/ojs/pull/3468)
[omp](https://github.com/pkp/omp)

[2022-07-25 12:35] NateWr commented on #5192
Looks good @israelcefrin. Can you go ahead and create a submodule commit to run the tests in OJS? You can read about how to do that here: https://docs.pkp.sfu.ca/dev/testing/en/continuous-integration#prepare-pull-requests-for-testing

Then, once the tests have passed, let me know and I can merge it.

[2022-07-25 13:46] NateWr commented on #8027
Did a code review with some general comments. Once you've made a decision on those I'll do a functional review.

[2022-07-25 13:59] NateWr commented on #8111
Thanks @touhidurabir. It looks like one test failed for each app. Probably just a fluke but I've restarted them to be sure. Can you let me know when they've passed?

[2022-07-25 14:02] NateWr commented on #321
Closing this as outdated. Please consider filing this request in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:02] #321 closed

[2022-07-25 14:03] NateWr commented on #408
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:03] #408 closed

[2022-07-25 14:03] NateWr commented on #432
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:03] #432 closed

[2022-07-25 14:08] NateWr commented on #1098
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:08] #1098 closed

[2022-07-25 14:09] NateWr commented on #1146
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:09] #1146 closed

[2022-07-25 14:10] NateWr commented on #1314
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:10] #1314 closed

[2022-07-25 14:10] NateWr commented on #1330
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:10] #1330 closed

[2022-07-25 14:10] NateWr commented on #1352
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:10] #1352 closed

[2022-07-25 14:11] NateWr commented on #1386
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:11] #1386 closed

[2022-07-25 14:12] #1407 closed

[2022-07-25 14:12] NateWr commented on #1432
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:12] #1432 closed

[2022-07-25 14:15] NateWr commented on #1504
I'm going to close this as there doesn't seem to be a clear bug report for us to investigate. However, it seems to be a useful resource for people struggling with proxy configs over the years.

Feel free to continue posting suggestions. But please file a new issue if you encounter a bug or want to make a concrete proposal about how OJS/OMP/OPS should change.

[2022-07-25 14:15] #1504 closed

[2022-07-25 14:16] NateWr commented on #1515
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:16] #1515 closed

[2022-07-25 14:18] NateWr commented on #1574
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:18] #1574 closed

[2022-07-25 14:18] NateWr commented on #1627
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:18] #1627 closed

[2022-07-25 14:19] NateWr commented on #1629
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:19] #1629 closed

[2022-07-25 14:23] NateWr commented on #1761
@asmecher presumably this is outdated and no longer relevant? Reopen if I made a mistake.

[2022-07-25 14:23] #1761 closed

[2022-07-25 14:24] NateWr commented on #1814
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:24] #1814 closed

[2022-07-25 14:24] NateWr commented on #1672
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:24] #1672 closed

[2022-07-25 14:27] NateWr commented on #1845
Sounds like some nice ideas here, but no concrete proposals. I'm going to close this for now. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:27] #1845 closed

[2022-07-25 14:29] NateWr commented on #1881
Closing this as it is too broad in scope. If you feel this is still important, please consider making a concrete proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:29] #1881 closed

[2022-07-25 14:31] NateWr commented on #1882
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:31] #1882 closed

[2022-07-25 14:31] NateWr commented on #1897
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-25 14:31] #1897 closed

[2022-07-25 18:25] Vitaliy-1 commented on #7286
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/8116
OJS: https://github.com/pkp/ojs/pull/3469

[2022-07-25 18:29] Vitaliy-1 commented on #7286
@NateWr, can you take a look? These PRs refactor the remaining email sending code to use Mailables; mostly notification- and subscription-related and several others. Also, it adds job batching.

[2022-07-26 02:10] israelcefrin commented on #5192
Hi @NateWr

The code passed the test and has no conflicts with the base branch.

However, the build has failed  on Stage 2 : PHP 8.1
https://app.travis-ci.com/github/pkp/ojs/jobs/577732646

It seems the failed test is related to the OJS code instead the theme though.

[2022-07-26 07:39] NateWr commented on #5192
It's probably ok, but I've restarted that test to be sure. Can you keep an eye out and let me know when it's passed?

[2022-07-26 08:38] jonasraoni commented on #8040
Reminder to check why the `PKPComponentRouterTest::testRoute()` is failing locally.

[2022-07-26 10:48] Vitaliy-1 opened #8117 "Refactor email sending code in plugins and convert to Mailables"
The following plugins still rely on old email sending:
- Users XML Plugin
- Manual Payment Plugin
- Orcid Profile Plugin, see: https://github.com/pkp/orcidProfile/issues/210

Replace with Mailables and make configurable through the UI

[2022-07-26 13:56] israelcefrin commented on #5192
The test passed successfully now.

[2022-07-26 14:00] #5192 closed

[2022-07-26 14:35] Vitaliy-1 commented on #7239
After switching to Symfony Mailer, I'm still able to reproduce the issue. I'd say that sendmail limits email address to 256 symbols and it isn't handled in any way by the Mailer

[2022-07-27 08:13] touhidurabir commented on #8111
@NateWr , the `OJS` tests have passed for `stage 2`. But for `OPS` and `OMP`  it has failed for one of each instances .

For `OPS`, it shows error as
[code]

for `OMP` it's shows as

[code]

Both of these are non related to this PR so I am not sure what I can do to make it all pass.

[2022-07-27 09:12] NateWr commented on #8111
Travis has had a bunch of hiccups lately. I've restarted those again and I expect they'll pass. Let me know when you see they've finished.

[2022-07-27 11:02] NateWr commented on #2027
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-27 11:02] #2027 closed

[2022-07-27 11:03] NateWr commented on #2037
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-27 11:03] #2037 closed

[2022-07-27 11:04] NateWr commented on #2048
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-27 11:04] #2048 closed

[2022-07-27 11:05] NateWr commented on #2093
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-27 11:05] #2093 closed

[2022-07-27 11:06] NateWr commented on #2146
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-27 11:06] #2146 closed

[2022-07-27 11:07] NateWr commented on #2190
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-27 11:07] #2190 closed

[2022-07-27 11:08] NateWr commented on #2199
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-27 11:08] #2199 closed

[2022-07-27 11:08] NateWr commented on #2219
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-27 11:08] #2219 closed

[2022-07-27 11:08] NateWr commented on #2221
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-27 11:08] #2221 closed

[2022-07-27 11:09] NateWr commented on #2222
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-27 11:09] #2222 closed

[2022-07-27 11:16] NateWr commented on #2330
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-27 11:16] #2330 closed

[2022-07-27 11:16] NateWr commented on #2346
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-27 11:16] #2346 closed

[2022-07-27 11:18] NateWr commented on #2472
Closing this as outdated, but if you want we can reopen and assign this the housekeeping label.

[2022-07-27 11:18] #2472 closed

[2022-07-27 11:39] NateWr commented on #7257
Once this is complete, the subscription email variable in the subscription `Mailable`s should be moved to the `Mailer::templateVariablesMap()` function in OJS.

[2022-07-27 11:52] NateWr commented on #7286
Looks good @Vitaliy-1! I think it's pretty much ready for merge. Mostly minor changes.

[2022-07-27 15:36] asmecher commented on #8111
Thanks, all, I've gone ahead and merged these. There does seem to be a Cypress dependency issue lately on specific configurations only; if it doesn't resolve this week I'll contact Travis about it.

[2022-07-27 15:36] #8111 closed

[2022-07-27 15:39] asmecher commented on #1761
I'm content to not touch this until we have to. It'll be a long time before we can remove the old JS toolkit but at least it's stable and low-risk.

[2022-07-27 18:26] asmecher commented on #7373
Also back-ported to `stable-3_3_0`.

[2022-07-27 20:58] asmecher commented on #8007
@jonasraoni, sorry for the wait on this. I've merged the `stable-3_3_0` changes, but had a comment/question on the `main` one; was this a manual syntax change or something the autoformatter did? Also, this will unfortunately need a rebase!

[2022-07-28 00:57] stuartayeates commented on #7901
We appear to have encountered this bug in our production environment. See https://ojs.victoria.ac.nz/aha/oai?verb=ListRecords&metadataPrefix=oai_dc record oai:ojs.pkp.sfu.ca:article/6750 appears twice, once deleted.

[I'm aware that we should not be using 'oai:ojs.pkp.sfu.ca' in our identifiers, we're planning on fixing this with our next minor upgrade.]

Running the SQL query above, gives:

[code

[2022-07-28 09:35] NateWr commented on #3971
Closing this in favor of #7191 which is a major overhaul to the submission wizard. It doesn't fully implement this request, but it brings the submission wizard onto the new forms system. It should be easier to add fields and sections to the wizard.

[2022-07-28 09:35] #3971 closed

[2022-07-28 09:36] NateWr commented on #2540
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-28 09:36] #2540 closed

[2022-07-28 09:38] NateWr commented on #2563
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-28 09:38] #2563 closed

[2022-07-28 09:39] NateWr commented on #2579
Closing this as outdated. If you feel this is still important, please consider making a proposal in the [feature request category](https://forum.pkp.sfu.ca/c/feature-requests/8) of our community forum.

[2022-07-28 09:39] #2579 closed

[2022-07-28 10:09] jonasraoni commented on #8007
@asmecher I've left a comment and rebased.

[2022-07-28 13:35] #2714 closed

[2022-07-28 15:13] dagosalas commented on #4962
It would be great if this topic was given high priority.

[2022-07-28 15:40] NateWr commented on #4962
@dagosalas unfortunately this is a major project which needs significant resources to realize. We had planned to focus on this for 3.3 and then 3.4, but in both cases other work was prioritized. It seems unlikely that this will be completed in the next two major cycles, unless we were to reverse our scheduled priorities.

That said, we plan some major improvements to [submission tracking](https://

[2022-07-28 18:55] jonasraoni opened #8119 "Remove duplicated locale keys"
**Describe the bug**
Some locale files have duplicated keys, which might raise unexpected issues when editing them through Weblate.

**What application are you using?**
/main
/stable-3_3_0

**PRs**
`main`
- https://github.com/pkp/pkp-lib/pull/8120
- https://github.com/pkp/ojs/pull/3472
- https://github.com/pkp/ops/pull/316
- OMP: no duplicates

`stable-3_3_0`
- https://github.com/pkp/pkp-lib/pull/