[2018-04-26 07:16] #3619 closed

[2018-04-26 09:26] #3640 closed

[2018-04-26 12:01] MarHerUMR commented on #2429
@asmecher I get why you don't want to manage the manually. So I looked if there's a composer plugin or something like that, that would pull in the latest font files for the five fonts. (When we wouldn't care about the latest files we could just handle them like the fontawesome files, add them to the repository once)

I didn't really find a solution where there's a composer dependency just importin

[2018-04-26 16:00] NateWr commented on #3546
Hmm, I'm not sure. Perhaps it had something to do with how it was processed for saving in the database? I will have to look into it a bit more to see if I can reproduce the issue still.

[2018-04-26 16:13] NateWr commented on #3536
This looks good! I think I confused myself, I thought this was for Review Assignment settings, since you're working on that.

Can you remove it from the Review Assignment form when no review forms exist as well? Or is that part of your other work editing the Review Assignment?

[2018-04-26 16:14] ajnyga commented on #3608
pr https://github.com/pkp/pkp-lib/pull/3649

[2018-04-26 16:31] NateWr commented on #2429
No, and it's not that easy to get the required files we would need.

If you saved `https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i` as `noto_serif.css`, you'd still be making a request to Google, because those URLs pump out a list of font declarations that are segmented by character set and font weight, and which point to the files (on Google's server) where the browser can fe

[2018-04-26 16:32] NateWr commented on #2429
I like this idea, though.

[2018-04-26 19:25] asmecher commented on #3647
All merged -- thanks, @t4x0n!

[2018-04-26 19:25] #3647 closed

[2018-04-26 19:39] asmecher commented on #3638
Easily done.

[2018-04-26 19:39] #3638 closed

[2018-04-26 19:41] asmecher commented on #3635
@NateWr, I'd agree with hiding it unless the `api_key_secret` is enabled. Beyond that, I'd wait for feedback before assuming it was still causing confusion.

[2018-04-26 20:38] teenkung commented on #3646
Ok

[2018-04-26 21:20] #3637 closed

[2018-04-27 08:41] NateWr commented on #3608
:+1: Merged!

[2018-04-27 08:41] #3608 closed

[2018-04-27 08:45] NateWr commented on #3536
:+1: Thanks!

[2018-04-27 08:45] #3536 closed

[2018-04-27 08:52] jmvezic commented on #699
So a little update: it seems that the above solution isn't working, or rather, Google doesn't follow the language switch redirect. It just throws a redirect error and says "excluded".

[2018-04-27 13:05] israelcefrin opened #3650 "Redirecting URL with anchors no working properly when not logged in"
Hi,
Troubleshooting OJS2 install I've realized that a HTTP to HTTPS redirect is only working when I am logged in.
If  I am **not** logged im:
acess this url: http://blakequarterly.org/index.php/blake/article/viewArticle/essick474/essick474html#7
redirects to: https://blakequarterly.org/index.php/blake/article/viewArticle/essick474/essick474html
It looses "#7" final part

if I am **logged** in:
ace

[2018-04-30 13:10] NateWr commented on #2958
I think that would raise questions about the CSL style formats themselves. Just about every format I'm aware of expects a two-part name, since that's how a correct citation can be formatted. I'm not sure if it makes sense for citeproc-php to work without a family name, since the CSL spec pretty much requires it...

[2018-04-30 13:12] NateWr commented on #2958
Hmm, I was speaking off-the-cuff. It looks like the schema doesn't technically mark _any_ author property required:

https://github.com/citation-style-language/schema/blob/master/csl-data.json#L78-L83

Does the CSL plugin actually cause an error when no family name is provided?

[2018-04-30 14:05] Vitaliy-1 opened #3652 "Issue archive page pagination is not disabled when items per page number doesn't exceed the limit"
Pagination doesn't work as expected because `$prevUrl` and `$nextUrl` are always not empty due to whitespaces. For example, it can be tracked in this line: https://github.com/pkp/healthSciences/blob/master/templates/frontend/components/pagination.tpl#L20
Think, the easiest way is just to trim these variables on assigning: https://github.com/pkp/ojs/pull/1942
Although, there can be more variables t

[2018-04-30 16:11] bozana commented on #2958
@NateWr, yes, family name is required, if not provided there is an error in my log file.
I found this "Personal names require a “family” name-part, and may also contain “given”, “suffix”, “non-dropping-particle” and “dropping-particle” name-parts." here: http://docs.citationstyles.org/en/1.0.1/specification.html?highlight=familyName i.e. when you search after "familyName" on that page, but I haven

[2018-04-30 16:19] pilasou opened #3653 "[OJS 3] Author cannot upload revised article as a new version"
Bonjour,

At the evaluation stage, an author who have been asked to revise his/her article cannot upload the revised version as a new version of the original article. He/she gets a permission role error (see print screen). However, even if he/she try to upload the file as a new one, OJS is detecting it as a file similar to the initial submission and select it as a new version (see print screen bel

[2018-04-30 17:05] pilasou commented on #3653
We are working with OJS master branch. The print screen I sent are from OJS Demo Testdrive **https://demo.publicknowledgeproject.org/ojs3/testdrive/index.php/journal**

[2018-04-30 17:38] bozana commented on #3653
hmmm... I did some things with revisions short time ago and cannot remember having those problems... hmmm...
Do you have the same problem in your local OJS master branch?
I'll test it i.e. take a look...

[2018-04-30 17:39] bozana opened #3654 "a few smaller fixes"
I found a few bugs, when working on another issue, that I will collect here in this issue

[2018-04-30 17:39] bozana commented on #3654
PR: https://github.com/pkp/ojs/pull/1943

[2018-04-30 17:39] bozana commented on #3654
@asmecher, could you take a look?

[2018-04-30 17:45] pilasou commented on #3653
We do have the exact same problem on our local OJS master branch (we last sync last wednesday).

[2018-04-30 18:52] jmacgreg commented on #3624
Notes from @ajnyga, pulled over from other docs:

1) I think cookies are only used to store a session ID (cookie called OJSSID). But that session ID is then connected to the sessions database table that has user IP and browser details strored. So the cookies themselves are not personal data, but they are linked to such data. I am actually not 100% sure if OJS needs a session if the user does not l

[2018-04-30 18:52] bozana commented on #3653
Hmmm.... I think I figured it out: The author gets a list of the files from that review round that he/she can chose to revise. There, also the files from the `Review Files` grid are provided. Then because of this rule https://github.com/pkp/pkp-lib/issues/3474 they are actually not allowed to revised it. Also, the authors are actually not allowed to access/download the files from the `Review Files

[2018-05-01 10:30] NateWr commented on #2958
Nice work sniffing that out. It sounds like maybe the specification isn't strictly accurate.

That sounds pretty reasonable to me. I think if you posted an issue on the https://github.com/citation-style-language/schema repo, pointing out that the formal schema doesn't seem to require a family name but the guidance says it's required, they might have some thoughts on how they're planning to handle

[2018-05-01 11:02] NateWr commented on #3652
Ok, it looks like this change isn't necessary for the default templates. At the moment, we use `{url|assign...` which doesn't introduce white space. And when Smarty v3 comes in, it looks like Alec handled it without introducing whitespace: https://github.com/pkp/ojs/pull/1782/files#diff-a1ed6d61c23c3df405232fd4b17b91aeR45

So I've flagged up the issue in the Bootstrap3 theme (we'll have other adju

[2018-05-01 11:03] #3652 closed

[2018-05-01 15:26] jmacgreg commented on #3561
Notes from https://forum.pkp.sfu.ca/t/is-ojs-gdpr-compliant/37521/38:

[2018-05-02 10:04] #3654 closed

[2018-05-02 11:25] NateWr opened #3655 "Locale strings for API errors don't seem to be getting translated"
The API error locale strings never seem to get translated. A response with `api.404` will render as `##api.404##`, which suggests the locale file is not getting loaded.

These are locale strings in the `api.xml` files, in both app and pkp-lib. I've added the `AppLocale::requireLocale` calls, so not sure what's happening.

[2018-05-02 12:53] ajnyga commented on #3624
An overview on how the above suggestion could work (ping @jmacgreg @asmecher @bozana):
1. Only start new user sessions (and create OJSSID cookies) when user is logged in (check that the login, register and search forms work without csrf tokens for users who are not logged in?)
2. In the login form, add a cookie consent checkbox. The user has to check it in order to login.
3. When user gives consen

[2018-05-02 15:09] bozana commented on #3366
I will put some comments i.e. thought on implementing the REST API for this and the issue https://github.com/pkp/pkp-lib/issues/3367 here:
There could be a 'generic' function usageStats with the required parameter "object" i.e. "assoc_type", that would be article per default and could be issue as well. Thus such a function usageStats with object=Article would return the records with e.g. following

[2018-05-02 15:13] bozana commented on #3367
Similarly to the comment in this issue https://github.com/pkp/pkp-lib/issues/3366, the function `usageStats` with object=Issue would return the records with e.g. following properties for each issue:
id: issue id
title: issue identification
views: toc views
downloads: issue galley file downloads (total for all galley files, but we can still discuss it)
total: views + downloads
from: first date
unti

[2018-05-02 15:33] NateWr commented on #2860
I've converted the users grid to a list panel and implemented a new site-wide admin user list.

PRs:
https://github.com/pkp/pkp-lib/pull/3656
https://github.com/pkp/ui-library/pull/18
https://github.com/pkp/ojs/pull/1946
(no OMP yet)

I'll introduce the changes in this lengthy post, but please bear with me. These changes have **significant implications for many of our largest publishers**. First t

[2018-05-02 15:48] NateWr opened #3657 "Fatal error related to subscriptions when merging a user"
When merging a user, I got a Fatal Error that seems related to subscription details:

[code]

It didn't happen with every user, so it seems to be related to some specific configuration of subscription data (or lacking data). Maybe you have some idea @asmecher?

[2018-05-02 16:16] NateWr commented on #3366
Hi @bozana, that sounds good. Have you looked at the Service class approach we're using with the `/submissions` and `/issues` API endpoints? I think they follow a similar approach to what you describe, and it would make sense to have a generic `StatsService`, and have this use the same pattern as other objects throughout the system, so we didn't have a unique class with it's own internal structure

[2018-05-02 16:39] NateWr opened #3658 "Reviewer's editorial notes made in one journal are visible in all"
1. A user has the reviewer role in two journals in the same install.
2. An editor in Journal A assigns a reviewer and records Editorial Notes.
3. An editor in Journal B can see the the Editorial Notes recorded by Journal A.

I think the editor in Journal A is unlikely to be aware that comments they make may be available to editors from Journal B, and may not even be aware that Journal B is being r

[2018-05-02 16:46] NateWr opened #3659 "Use scoped slots or options to turn ListPanel into SelectLIstPanel"
After doing three list panels, it's obvious that when we have ObjectListPanel, we'll almost always want SelectObjectListPanel. The current setup means that there's a decent amount of template duplication.

It should be possible to implement the select capability with a scoped slot or option, so that any ObjectListPanel can quickly be turned into a form control without writing an additional compone

[2018-05-02 16:48] bozana commented on #3366
Ah, I see :-) I do not know what I was thinking with this "generic" object bla bla :-) Thanks a lot @NateWr! No need to code it up now -- I just wanted to have a rough overview how it will be/is needed to be...

[2018-05-02 16:50] NateWr opened #3660 "Introduce ListPanelFilter component"
Add a `ListPanelFilter` component that interacts with the `ListPanelFilters` component through a consistent API. Then convert `ListPanelFilterAutoSuggest` to follow this API.

We're likely to have more `ListPanelFilter` types in the future, and I think we'll save some template duplication here.

[2018-05-02 18:11] Vitaliy-1 opened #3661 "Typo in htmlArticleGalley template"
https://github.com/pkp/ojs/pull/1947

[2018-05-02 19:18] asmecher commented on #3661
Merged and cherry-picked, thanks! FYI, if you set up automatic rebasing on your repository, you won't get an accumulation of merge commits.

[2018-05-02 19:18] #3661 closed

[2018-05-02 19:37] asmecher commented on #3655
@NateWr, can you drop me a quick sample URL to demonstrate the problem?

[2018-05-02 19:44] asmecher commented on #3622
Thanks, @defstat, please go ahead (and port to `ojs-stable-3_1_1` and `omp-stable-3_1_1` as needed)!

[2018-05-02 19:57] asmecher commented on #3650
@israelcefrin, the anchor (`#whatever` in the URL) should never get sent to the server and thus isn't available to OJS (without introducing some JS fanciness). I don't think the `#7` will get preserved either way.

[2018-05-02 20:00] asmecher commented on #3624
@ajnyga, sounds good, though of course you could use the existing `OJSSID` cookie to store the GDPR consent status rather than introducing an entirely new one. Unless you think it would be useful to give the two cookies different characteristics.

There are a few things that use sessions before a user is logged in (e.g. the language), so this would be a good optional behavior rather than something

[2018-05-03 04:39] ajnyga commented on #3624
thanks @asmecher
You are right, you could just store the OJSSID and then check if that exists when the user returns. No reason to add new cookies.

I believe that cookies that store things like language selections are not regarded as cookies that need consent under GDPR because they do not contain or lead to personal data. So one option would be to add selections like language to another cookie. S

[2018-05-03 04:42] ajnyga commented on #3624
Another question @asmecher how does OJS empty the `sessions` table at the moment? Thinking if we could have an automated task that does that for inactive sessions once a day.

[2018-05-03 07:58] NateWr commented on #3655
`/<context>/api/v1/submissions/9999` presuming a submission with ID `9999` doesn't exist.

[2018-05-03 09:06] ptrckb commented on #2160
Upgrading from a 2.4 installation, the `${submissionId}` are still not replaced in log entries.

Isn't it supposed to be `articleId` and `submissionId`?

[2018-05-03 09:06] ptrckb opened #3662 "Obfuscated access restriction for site administrator"
There are a few places in the code where the role of the current user is tested with a construct that looks like:
[code]
, suggesting that a site administrator should be authorized to the action.

However `PKPUser::hasRole()` does not check for the `ROLE_ID_SITE_ADMIN` role as it only compare against the roles _in_ the given context.

For example at https://github.com/pkp/pkp-lib/blob/f42a78802b47

[2018-05-03 09:21] ptrckb opened #3663 "Missing articleId/submissionId parameters in OJS editorial history events"
In OJS 2.4 the article id is not recorded when logging several article events (for example `log.editor.decision`). This results in `articleId` parameters not substituted in the History view.

When upgrading to OJS 3.1.1, the Editorial History then displays unsubstituted `submissionId` parameters (see also #2160).

[2018-05-03 09:32] bozana commented on #2860
Phew... @NateWr, you are a magician! :-)
What do you mean with "But they can't even send an email, or add/remove roles in their own journal. " in 2. above?
I can take a look at your PRs -- I would also like to know what is waiting for me when merging with my multilingual user names changes :-) But maybe @asmecher can also take a look from his magician perspective :-)

[2018-05-03 09:50] NateWr commented on #2860
You spoke up, so now you own it! I'll give you the code review, but I've still got tests and things to work through for now.

None of the actions in the user list can be performed by a Journal Manager for one journal, when the user has any role in another journal. Example:

1. Person A is a Journal Manager in Journal of Public Knowledge.
2. Person B is a Reviewer in Journal of Public Knowledge and

[2018-05-03 10:28] bozana opened #3664 "fix individual subscription when merging users"

[2018-05-03 10:42] bozana commented on #3664
PRs:
ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/1951
master: https://github.com/pkp/ojs/pull/1952

[2018-05-03 11:02] NateWr commented on #2612
@jmacgreg and @ajnyga: a follow-up on the request to filter by assigned editors. Should this filter be restricted to Journal Managers? Is there a scenario where it's inappropriate for a Subeditor to see what submissions have been assigned to other Subeditors? I noticed that Subeditors do _not_ have access the the All Active or Archives submissions lists.

[2018-05-03 11:26] NateWr commented on #3604
Hi @pkel,

Let's discuss a few things here and then I might move a summary into the relevant issues.

special notification like "Waiting for reviewers to be assigned" are
visible to some participants, the supervising staff does not get this
information.

I just tested this out and the editorial message did appear for a Journal Manager. Here's what I did:

- Moved a submission into review stage wit

[2018-05-03 12:02] #3664 closed

[2018-05-03 12:50] jmacgreg commented on #2612
My understanding is that subeditors should only have access to their own submissions, so they probably shouldn't be able to filter by other editors - that should only be available to assigning editors - but I have no super-strong feelings about this.

[2018-05-03 12:59] ajnyga commented on #2612
I agree with @jmacgreg. Using subeditors is the usual way of handling the author/editor problem in OJS so they should only see submissions assigned to them.

It is a tool for helping the assignment of submissions anyway so I do not see why subeditors would need it.

[2018-05-03 14:31] bozana commented on #3657
Ah, I first now see this -- it is solved and merged with this issue https://github.com/pkp/pkp-lib/issues/3664. Thus closing...

[2018-05-03 14:31] #3657 closed

[2018-05-03 18:25] asmecher commented on #3601
@jmacgreg, could you pass this proposed change along to Minnesota for testing? https://github.com/pkp/ojs/pull/1953

[2018-05-03 19:32] Ac3n34d-X opened #3665 "Installation Errors On Windows"
after inputting installation informations, I Click Install , It Reloads to THe Same Page with no error

[2018-05-03 19:37] asmecher commented on #3665
@Ac3n34d-X, our support forum is a better place to get general assistance: http://forum.pkp.sfu.ca/

[2018-05-03 19:37] #3665 closed

[2018-05-03 22:10] asmecher commented on #2160
@ptrckb, is that `${submissionId}` or `{$submissionId}`?

[2018-05-03 22:58] asmecher commented on #3662
@ptrckb, you're correct that the `ROLE_ID_SITE_ADMIN` won't be found in `RoleDAO::userHasRole` -- something like this should add it: https://gist.github.com/asmecher/bab85892525ea2d919f38fc52286af8f

However, even forcing `userHasRole` to return `true` won't cause those grids to load for the site admin. @NateWr, mind taking a look?

[2018-05-04 00:05] asmecher commented on #3658
A short term tweak that would serve OK while we consider a better long-term fix: use the `Validation::canAdministerUser` check on the reviewer account, and if it comes back false, don't show the editorial notes.

[2018-05-04 00:10] asmecher commented on #2860
@bozana, the phrase that comes to mind is "you bit it, you bought it" :)

@NateWr, on one specific question:

The Action classes are fossilized and ancient and the code there should be moved elsewhere. I'm not sure `User` is the best place, though -- I think `UserDAO` could be a good home.

[2018-05-04 00:11] asmecher commented on #3664
Good catch -- thanks, @bozana!

[2018-05-04 12:00] pkel commented on #3604
Thanks for your comments,

I just checked again from my own account and indeed got the alert messages you described. I cannot recall what lead us to the conclusion that we have to complain about missing stage highlighting.

It remains the wish for a last activity time stamp. Including it in the submission list would be a good start. Filtering on this time stamp would allow to identify long time id

[2018-05-04 13:52] bozana commented on #3655
@asmecher, and with `/api/v1/users/9999` ?

[2018-05-04 13:52] NateWr commented on #3655
Woops, that's actually returning a HTML page with the `404 Not Found` message, since our auth system doesn't yet do API responses right. The following should return our API error response message:

[code]

[2018-05-04 13:52] NateWr commented on #3655
And to clarify, this is the response I get to pinging the above:

[code]

[2018-05-04 13:58] NateWr commented on #2860
It's actually in the `UserService` class, not the `User` class itself. The DAO could work, but I think the purpose of a Service class is to organize other DAOs and classes like this, so it seems the best place for it to me.

[2018-05-04 17:42] t4x0n commented on #2560
Hi, maybe the @ajnyga problem is mine too. A lot of time ago (OJS 3.0.2) I found some discussión with problems, like without user assigned, I assume that was correct with the updates but today I found the problem:

If you open a discussion without assigning an author you receive the error message, but if you don't assign a user and close the windows, and then reload the page, you have this:
![issu

[2018-05-04 18:55] ajnyga commented on #2560
Yes I have noticed that as well. It does not cause any problems, but is a bit annoying.
I think I have seen it mentioned in another issue somewhere here. Maybe part of a larger issue. But if it can not be found, maybe it is a good idea to start a new issue regarding that bug.

(and maybe I should check whatever I promised to check in my last message last June(!) :D)

[2018-05-04 19:04] asmecher commented on #2560
I'm pretty quick at fixing these if you can identify a set of steps to reproduce the problem!

[2018-05-04 19:07] ajnyga commented on #2560
If I remember correctly, just start a new discussion but instead of submitting the form just close the modal window with the X button. Then reload the page where you were and you should see  an empty discussion like the in the screenshot.

[2018-05-04 19:13] asmecher commented on #2560
I've fixed a few of these over the last releases -- if there are one or two cases left, they'll probably be specific to the place in the workflow the discussion appears.

[2018-05-04 19:38] asmecher commented on #3655
Thanks, I see it now. There were duplicate locale component IDs; the patch linked here should resolve it. Cherry-picked so it's in both `ojs-stable-3_1_1` and `master`.

[2018-05-04 19:38] #3655 closed

[2018-05-04 20:39] asmecher commented on #3653
@bozana, I think those files shouldn't be listed in the drop-down (or part of the revision detection).

[2018-05-04 21:59] t4x0n commented on #2560
I have the 3.1.1 and some patches installed, and the issue appears...

ok, I know exactly appears!  When you create a discussion, but you need to submit the discussion form with subject and message but without users assigned.

Try @ajnyga and tell us if you can reproduce it. It seems not cause problems but all Participants can see the discussion empty.

[2018-05-05 01:42] t4x0n opened #3666 "Section Editor assigned as an Author (only) can access discussions that they are not participants in"
I have a General Editor role, is like a Section Editor role with this permissions:
![editorissue](https://user-images.githubusercontent.com/5422984/39658517-c4c8c3ac-4feb-11e8-88fd-ade49c3a2ac0.png)

First problem: A General Editor has permission for edit or delete discussions even when the discussion is not open by him/her, and can edit the content of the message.

You need to remember a Editor c

[2018-05-05 05:38] ajnyga commented on #2560
@t4x0n true! If I just will the subject and message and then press submit I get an error for missing participants and if I then just leave the form the empty discussion has appeared to the form.

The thing you noticed in the update is taken into account here: https://github.com/pkp/pkp-lib/pull/3548. Basically after those changes the active user will always be shown as a discussion participant eve

[2018-05-06 19:54] defstat commented on #3462
@asmecher
Some review changes to pkp-lib and changes to OMP and OJS master branch
PRs
pkp-lib: #3494
ojs: pkp/ojs#1954
omp: pkp/omp#529

[2018-05-07 09:49] josuevalrob opened #3667 "[OJS]"
The field for review form is empty.

![image](https://user-images.githubusercontent.com/10994342/39695975-95eb8544-51ec-11e8-86f9-1e088df1f725.png)

OJS Version 3.1

[2018-05-07 09:50] josuevalrob commented on #3667
Was for the translation. sorry.

[2018-05-07 09:50] #3667 closed

[2018-05-07 10:27] josuevalrob opened #3668 "[OJS] Task notification after finishing a review."
After finishing a review by the revisor, there is not the message of a new Task in the profile of the editor.

Is there any way to enable it?
It is how it should work?
It could be a new feature request?

[2018-05-07 10:45] NateWr commented on #3604
I've added the request for filtering by "Last activity more than X days ago" to https://github.com/pkp/pkp-lib/issues/2612. When that's implemented, we'll add an indication of X to the submission item and sort by the highest X value first.

That should allow editors to use the filtering to identify stalled submissions (for example: filter by last activity more than 1 day ago, the longest idle subm

[2018-05-07 11:16] defstat commented on #3622
@asmecher
Not sure if I did it correctly. I created 4 new branches,
1. from pkp-lib/ojs-stable-3_1_1
2. from pkp-lib/omp-stable-3_1_1
3. from ojs/ojs-stable-3_1_1
4. from omp/omp-stable-3_1_1

I CherryPicked the changes from #3623 into 1. and 2.
I added the submodule update commit on 3. and 4.

I created a PR for each branch

PRs:
[pkp-lib: ojs-stable-3.1.1] : #3669
[pkp-lib: omp-stable-3.1.1] : #

[2018-05-07 11:24] #3604 closed

[2018-05-07 13:46] bozana commented on #3668
Hi @josuevalrob, thanks! See this issue: https://github.com/pkp/pkp-lib/issues/3423. I think it is considering what you described here. Currently only a notification e-mail is sent, but there will probably also be a task soon. Thus I will close this issue. You can reopen it, if you mean something different that that other issue describes...

[2018-05-07 13:46] #3668 closed

[2018-05-07 14:12] Abdull commented on #2358
From all metadata prefixes available in previous OJS releases, `nlm` was the most useful prefix available for our harvesting use cases at DSpace-based https://www.ssoar.info/ssoar : NLM provided the most granular metadata organization (e.g., separate first name and last name XML elements) and the easiest XML schema for post-harvesting XSLT processing.

Regarding the statement that the particular O

[2018-05-07 15:12] jmacgreg commented on #3600
Hey @NateWr here comes some more cause to groan :-) The multi-role nature of the role system in OJS makes it a little difficult to manage 0, 1 or 2+ roles in the registration list, but I think I've got a reasonable default. Thoughts on the following screenshots?

No author roles: nothing appears.
<img width="1440" alt="register_noauthorroles" src="https://user-images.githubusercontent.com/201446/3

[2018-05-07 15:18] jmacgreg commented on #3600
I'd eventually like to expand the roles to include a description for each role, which could then be displayed on registration and in the user's profile. But that would be another issue entirely.

[2018-05-07 16:25] bozana commented on #2958
PRs:
https://github.com/asmecher/lensGalley/pull/28
https://github.com/pkp/citationStyleLanguage/pull/33
https://github.com/pkp/reviewReport/pull/11
https://github.com/pkp/pkp-lib/pull/3671
https://github.com/pkp/ojs/pull/1956

[2018-05-07 16:29] asmecher commented on #2358
@Abdull, we had similar uses for the NLM plugin internally, but it was far from compliant NLM XML so we chose to replace those exchanges with proper JATS XML generated by Open Typesetting Stack and delivered via OAI using the oaiJats plugin (linked above). I'd suggest considering something like that, if you haven't looked at it already. It's more complex but the quality of XML is much higher (and

[2018-05-07 18:12] t4x0n opened #3672 "[OJS] reviewer history is not ordered by date"
It's a minimal issue but could cause confusion, screenshots explain the issue:

this is the correct order (blue vector indicate the last entry):
![issueojshistor](https://user-images.githubusercontent.com/5422984/39716950-300aaf86-5208-11e8-960d-2c7a32618fe9.png)

in this case is not ordered:
![sdfdsfsf](https://user-images.githubusercontent.com/5422984/39717020-67882470-5208-11e8-83c1-242fe530642

[2018-05-07 18:15] asmecher commented on #3622
Thanks, @defstat, that's perfect. All merged.

[2018-05-07 18:15] #3622 closed

[2018-05-07 19:47] jmacgreg opened #3673 "Port article usage stats to master"
This has been implemented for 3.1.2 and needs to be ported to master.

PRs for master branch:
https://github.com/pkp/ojs/pull/2381
https://github.com/pkp/omp/pull/670
https://github.com/pkp/pkp-lib/pull/4742
https://github.com/pkp/ui-library/pull/30

The original issue message is below:

[2018-05-07 19:53] asmecher commented on #3624
@ajnyga, that's part of PHP's session manager support; see [session_set_save_handler](http://php.net/manual/en/function.session-set-save-handler.php), which `lib/pkp/classes/session/SessionManager.inc.php` calls to map PHP's session management into the `sessions` database table. The `gc` (garbage collection) function is documented at the link above, including some `php.ini` parameters that can fin

[2018-05-07 21:34] crism commented on #3578
Yuck… pretty sure the change to `ContextSettingsForm::fetch()` broke a bunch of stuff. Hard to track down the calls to it…

[2018-05-08 05:12] GrazingScientist commented on #2993
Although not coming from China, in my public institute in Germany, we have a need of a reCaptcha alternative and hence would be very thankful for having a out-of-the-box-plugin.

[2018-05-08 08:58] NateWr commented on #3666
Are you using 3.1.1? We introduced significant permissions changes in #3130 so that permissions are now determined by the user's assigned role in the submission.

If you have a Section Editor who is making a submission, they should _not_ be assigned an editorial role in that submission. They should only be assigned an author role. This should prevent them from seeing submission details that an aut

[2018-05-08 10:04] NateWr commented on #2958
Wow, looks like a lot of work here! I haven't looked at the code yet but here's a first pass at your questions (if I leave one out, it's because it's fine or I can't help):

I think so.

Oh. Hmm. Good question. We need it to be populated don't we? My ideal workflow would look something like this:

1. Click to change the site primary locale. A confirmation modal appears saying are you sure, we'll n

[2018-05-08 10:08] NateWr commented on #2958
I would say use it everywhere unless we need to interface with a third-party syntax (eg - CSL, import/export, crossref, etc.)

Ok, I'll take a run through the code and then try out some of the cases you suggested.

[2018-05-08 11:16] bozana commented on #2958
Thanks a lot @NateWr!

A few comments:

I think this was not a problem, because earlier the user names were not localized, but now, that they are i.e. above all the given name because it is required, we have to rely on a locale that will make given name always exist for it.
I will see what SQL would be needed for user names in case the site primary locales changes and also see how it performs...

[2018-05-08 13:14] t4x0n commented on #3666
Yes, I am using 3.1.1! I know about some of this changes and was weird when I found these problems... I thought maybe this was not seen before.

Of course, in this submission, this editor only has Author role. It's possible that issue just happens with past submission, I mean submissions submitted before updated to 3.1.1?

Please don't close this issue yet; I need to try with another submission to

[2018-05-08 13:30] ajnyga commented on #3600
I think both suggestions to revise the language around the roles is very good! Even editors seem to mix "Reader" with subscriptions from time to time.

I also agree that #2297 is a fairly straight-forward solution for assigning the author role. Especially in a multijournal installations where there are users around with no roles in some context.

(We could even have a block plugin for journals tha

[2018-05-08 13:42] ajnyga commented on #3600
@NateWr @jmacgreg
Realized just now (edited the above message) that you can not have a text like "Yes, I would like to be notified of new publications." and tie that to the Reader role, because all the roles receive the notifications. It would lead into situations where someone does not check that but still receives those notifications.

My suggestion is that we:
- Change the system so that "publi

[2018-05-08 13:48] ctgraham opened #3674 "Uploading new Review file generates new revision"
@lilients, @asmecher, uploading multiple Review files in 2.4.8.x generates multiple revisions for the Review file instead of multiple review files.  Is this intended functionality?

Steps to reproduce:
Login as Reviewer, navigate to review, step 4.  Repeatedly upload review files.

Because [ReviewerAction::uploadReviewAction()](https://github.com/pkp/ojs/blob/a8f3bd9ead5d9b28635d7ed183706a466dcdaf

[2018-05-08 13:49] jmacgreg commented on #3600
Hi all,

I strongly agree with @NateWr's suggestions. I can remove the behind-the-scenes author opt-in options from the registration page in deference to #2297. I can also make the suggested text changes. I don't think we need to explicitly state anywhere that users can opt out elsewhere.

@ajnyga I really like your suggestions too, and I think it's imperative to limit "public" notifications from

[2018-05-08 14:01] ajnyga commented on #3600
I think I could do a pr along the suggestion above, but maybe @asmecher or @NateWr could first comment on that. It is a fairly big change to the way the system works at the moment and I am not sure if you actually want to tie the notifications to a specific role. Do we actually need the Reader role or just control over the notifications?

[2018-05-08 14:37] NateWr commented on #3600
Ok, I will work on the review for #2297 so we can get that merged in for 3.1.1-1.

Who is getting harmed here, and would it be onerous for them to opt-out of these notifications? I can see how the Reader role offers a ready-made solution for this problem. But I'm not sure about pairing an entire role to a specific feature -- and one that they can opt out of. I think we'll be boxing ourselves in a

[2018-05-08 14:38] NateWr commented on #3600
(Agree that @asmecher or @bozana should look at this too, so we're not missing anything here.)

[2018-05-08 15:27] ajnyga commented on #3600
If we do not attach the notification functionality to the reader role, then where do we need that role?

We could just have the option of enabling/disabling the public notifications?

[2018-05-08 15:54] ajnyga commented on #3600
I am actually not sure if we can assign a new role automatically to all users. I mean we can if that happens before GDPR but most journals will upgrade after that date and GDPR explicitly denies exactly this kind of automation. I originally suggested that as part of the solution where we would tie the notifications to the Reader role. But as @NateWr made clear above, this is probably not a good id

[2018-05-08 16:08] NateWr commented on #2958
Hmm, I'm not too fussed either way. In both cases, the user isn't actually entering any of this information during the submission step? In that case, if the correct locale is missing, I guess I'd be tempted to rely on the site's primary locale. But if you think we're likely to get more accurate data from the current locale then take that.

[2018-05-08 17:53] NateWr commented on #3600
IAONAL (I Am Obviously Not A Lawyer), but if assigning the Reader role is simply a refactor of the code base, implies no additional privileges in the platform, and collects no additional information, then in what way would it be blocked by GDPR?

I am struggling to see how this this would be different from adding an entry to the settings table with a key "userCanAccessContextId", which would simpl

[2018-05-08 18:25] ajnyga commented on #3674
Do you mean this: https://github.com/pkp/pkp-lib/issues/2097#issuecomment-268255269

[2018-05-08 18:30] jmacgreg commented on #3600
I think we're all in agreement that using the Reader role to dictate whether someone should be getting notifications is a bad idea - all users should be able to opt in/out of those notifications, and this should be clearly part of registration and part of the user profile. This has already been filed at https://github.com/pkp/pkp-lib/issues/2805, but against OJS 3.2. I know it's a big ask, but is

[2018-05-08 18:36] NateWr commented on #2958
The code looks great. This is a huge refactor. Kudos for getting through it! I've tried a bit of manual testing and it looks good. I signed up as a new user, modified some users from the admin, changed from the profile area, and looked at the authors display on the frontend and in the metadata.

I only ran into one issue. Here's what I did:

1. Register as new user with just a given name in the si

[2018-05-08 18:42] ctgraham commented on #3674
Perhaps, @ajnyga.  I'm reading the other thread as a concern that supplemental files were being uploaded as new revisions of the submission file.  Similarly, if I as a reviewer (or editor) in OJS2 upload multiple files to the review's "Review Step 4: Uploaded files", what do I really mean by that?

![image](https://user-images.githubusercontent.com/7001322/39776140-f34704fc-52cd-11e8-884e-aaf7bdef

[2018-05-08 19:24] jmacgreg opened #3675 "Add article subtitles to title string in outgoing emails"
It looks like submission-related emails only include titles and not subtitles - they should also include subtitles, if included.

[2018-05-08 21:30] asmecher commented on #3462
Thanks, @defstat, just one remaining comment!

[2018-05-09 06:05] ajnyga commented on #2805
Just to carry some of the discussion from the original thread here, I still think it would make sense limiting "public notifications", namely "new issue" and "announcements" (maybe others) to one tool.

This could be built using the current Announcements tool, and it would have:
- title field
- pull down menu for prefilling the notification content (see related https://github.com/pkp/pkp-lib/issue

[2018-05-09 09:45] NateWr commented on #3600
It seems to me like #2805 is a requirement for GDPR anyway, right?

If so, that should probably be changed. A journal has a reasonable expectation the this setting will require them to be part of their Reader statistics. There needs to be some way for a logged in user to easily opt into a Reader role in a context before accessing an article.

You're right, but for a basket of permissions, not just

[2018-05-09 09:47] NateWr commented on #3600
Sorry, just seeing your edit now. Yes, I suppose you're probably right. I've long advocated for _not having_ the site-wide user registration, but that was overruled last time, I think so that Assistants can more easily register across a bunch of journals... But in a very large installation, this really doesn't make a lot of sense....

[2018-05-09 09:54] bozana commented on #3016
I think I would still prefer the first solution...

[2018-05-09 10:31] NateWr commented on #3673
Some quick notes on the actual filtering/sorting that is required for this round, before I lose them.

Filter by list:
- Section

Filter by autosuggest:
- Article ID
- Issue ID
- Author (not in current dev round, or by user ID only)
- Context

Filter by special control:
- Date range

Actions:
- Export to CSV

@jmacgreg in my notes, I am missing any specifications for sorting. Were sorting options

[2018-05-09 10:35] ajnyga commented on #3600
I am fairly sure, see https://github.com/pkp/ojs/blob/master/pages/article/ArticleHandler.inc.php#L316

We could just have something similar like with Authors in #2297 when someone want to read an article in such journal. But does the role have to be specifically the Reader role? Meaning that for example Reviewers do not automatically have that ability?

However, I think that only a few journals l

[2018-05-09 12:49] NateWr commented on #3666
I was able to confirm this. A Section Editor assigned to a submission as an Author (only) is able to see discussions that they are not participants in.

[2018-05-09 13:17] jmacgreg commented on #3673
Hi Nate, sorting can be left out of this round. Likewise I think filtering by contributor instead of user ID for now.

[2018-05-09 15:43] t4x0n commented on #3666
But only able to see? in my case, I detect this user can see, edit or delete the discussions
![image](https://user-images.githubusercontent.com/5422984/39824777-8972145e-5386-11e8-92ff-dd96bbdfb949.png)

[2018-05-09 15:47] NateWr commented on #2805
After some discussion in #3575, I'm going to work on the opt-in/out options in the user profile settings for 3.1.1-1. The unsubscribe link will remain for 3.2.

[2018-05-09 16:07] NateWr commented on #2297
FYI, I've taken over this PR and I'll roll it into changes related to #3575.

[2018-05-09 18:36] jmacgreg opened #3678 "Permit Editoral-level roles to decline workflow assignment"
Editors/Section Edtiors may want to be able to decline their own workflow assignment. Right now it's technically possible - they can click the "Remove" option for their name in the Participants list, and that will remove them - but it does so non-gracefully and without indication that they've been removed (they aren't provided with any sort of notice, and get an authorization error if they try to

[2018-05-09 18:46] NateWr commented on #3197
Closing in favor of #2805.

[2018-05-09 18:46] #3197 closed

[2018-05-09 19:00] NateWr commented on #3575
So, we discussed user registration and submission. I've added an opt-out option for announcement and issue publication emails.

All of this is always-on. Is there anything else we need a journal setting for? Or will these items cover it once the user registration and submission parts are in place?

[2018-05-09 19:17] jmacgreg commented on #3575
I'm working on this issue ATM, @NateWr. The plan right now will be to allow JMs to write up a consent statement for user registration (configurable under Users -> Site Access Options, and added to the user registration page). I don't think it's necessary to have a different one for submission, so this could also be added to the submission page - or we could just let JMs add some sort of more speci

[2018-05-09 21:59] asmecher commented on #3675
@jmacgreg, how do you think we should format these? I think just gluing the title and subtitle together will lead to ugliness. A few examples might help straighten it out.

[2018-05-09 22:17] asmecher commented on #3672
@t4x0n, that listing wasn't intended to be sorted, but sorting is quick enough to add. Try the attached patch and let me know if it resolves the issue.

[2018-05-09 22:31] asmecher commented on #3016
I trust your judgement and the code looks clean (though I haven't run a test upgrade). Please go ahead!

[2018-05-09 22:37] asmecher commented on #2875
@kaschioudi, rather than writing these as a separate repository, I'd suggest putting them alongside the existing tests in `lib/pkp/tests` (for shared code) and `tests` (for OJS-specific tests). There are patterns there to follow for existing tests.

[2018-05-09 22:38] asmecher commented on #2875
(https://pkp.sfu.ca/wiki/index.php?title=Developer_Documentation#Testing is dated but has some information on how to get the current unit tests etc. running locally.)

[2018-05-09 22:47] kaschioudi commented on #2875
@asmecher : Alright. Actually this was just in order to validate the approach.  Anyhow, I will checkout the existing codebase and consolidate everything.

[2018-05-10 02:33] t4x0n commented on #3672
thanks @asmecher, it works!

[2018-05-10 08:27] bozana opened #3679 "fix submission import issue match error"

[2018-05-10 08:34] bozana commented on #3679
PRs:
ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/1960
master: https://github.com/pkp/ojs/pull/1961

[2018-05-10 09:27] NateWr commented on #3575
I guess I misunderstood our conversation about the role adoption. Is the checkbox for opting into the email notifications not sufficient? What is this additional consent statement indicating that is not already indicated elsewhere and will it require _another_ checkbox? Is there any way we can combine these things? Can the consent statement also include the email notification opt-in?

[2018-05-10 11:36] #3679 closed

[2018-05-10 11:42] bozana commented on #3016
I am leaving the migration of supp files from OJS 2.4.x to galleys in OJS 3.1.1-1 as is and I've just merged the fix for the buggy repairSuppFilesFilestage function for those already updated to OJS 3.
Thus, tagging @ajnyga and @israelcefrin here as well, for them to know.
Thus, if someone does not want the supp files from OJS 2.4.x to be publicly available and migrated as galleys in OJS 3, as till

[2018-05-10 11:42] #3016 closed

[2018-05-10 13:32] jmacgreg commented on #3675
@asmecher I think the way we did this in the old TOC (before @NateWr got into doing more involved theming) would work, which was just to concatenate them together: $title . ": " . $subTitle. No need to get fancy here. The helper text under the subtitle field says: "The optional subtitle will appear after a colon (:), following the main title."

[2018-05-10 13:37] bozana commented on #3653
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3680
ojs master: https://github.com/pkp/ojs/pull/1962 (only submodule update)

[2018-05-10 13:43] bozana commented on #3653
@asmecher, could you take a look at the PR above?
I removed this part of the code: https://github.com/pkp/pkp-lib/blob/master/controllers/wizard/fileUpload/PKPFileUploadWizardHandler.inc.php#L476-L478, because it is already handled here: https://github.com/pkp/pkp-lib/blob/master/controllers/wizard/fileUpload/form/PKPSubmissionFilesUploadBaseForm.inc.php#L157-L159. Correct?
Actually, I think we ca

[2018-05-10 13:56] jmacgreg commented on #3575
Let me step back a bit and use the "As a ..." method to sketch out the problem area here.

"As a site registrant, I want to know exactly what I'm signing up for, how my information will be used, and how to manage this relationship."

"As publisher, I want to know that, if someone visits my site, they know exactly how we use their data, have given us explicit consent to use it in the way we specify

[2018-05-10 14:25] asmecher commented on #3672
Cherry-picked into `master`. Thanks for confirming!

[2018-05-10 14:25] #3672 closed

[2018-05-10 14:29] ajnyga commented on #3575
Of course I disagree!

I have to admit I do not fully follow how the consent statement is different from the privacy policy if the consent statement is also a piece text?

I have been thinking about a model where you have:
- site level privacy policy which is edited by the site managers
- context level privacy policy which makes a reference to the site level policy and defines, if any, the context

[2018-05-10 14:53] bozana opened #3681 "reviewReport sl_SI locale copied to the wrong folder"
for omp-stable-3_1_1 and omp master

[2018-05-10 15:05] ajnyga commented on #3575
So what happens if the user is registering from the site level?

[2018-05-10 15:12] bozana commented on #3681
PRs:
https://github.com/pkp/reviewReport/pull/12
omp-stable-3_1_1: https://github.com/pkp/omp/pull/532
omp master: https://github.com/pkp/omp/pull/533

[2018-05-10 15:13] bozana commented on #3681
@asmecher, correct so, especially for omp-stable-3_1_1?

[2018-05-10 15:45] NateWr commented on #3575
Nothing changes for v1, but we will probably need to introduce a site-wide privacy policy for v2.

[2018-05-10 15:51] ajnyga commented on #3575
Ok, just to be sure: this means that with OJS 3.1.1.1, when user registers from the site level, there is no privacy policy or consent checkbox visible in the form?

[2018-05-10 16:11] asmecher commented on #3681
Yes, thanks!

[2018-05-10 16:20] NateWr commented on #3575
Correct.

[2018-05-10 16:21] asmecher commented on #3653
Phew -- those are both 4-5 year old sections of code. But yes, that looks right.

Yes! Yes! Yes!

This is a pretty hairy aspect of the code -- thanks for digging into it.

[2018-05-10 16:25] ajnyga commented on #3575
Ok, I just need to do a hack for our site or just remove the whole site level registration form by D day.

[2018-05-10 17:08] #3681 closed

[2018-05-10 17:27] NateWr commented on #3575
Here are PRs that combine @ajnyga and my work on several related issues (#3575, #3576, #3600, #2805).

PR:
https://github.com/pkp/pkp-lib/pull/3682
https://github.com/pkp/ojs/pull/1963
(OMP not done yet)

These changes include:

- Users now opt into the Author role during submission.
- Users can now opt in/out of the public email notifications (announcements, issue published).
- Users are required

[2018-05-10 18:29] semteacher commented on #3425
Have issue with this update:
1) got PHP Fatal error: Call to undefined function recaptcha_versioned_get_html()
2) in some reason submodule changes (https://github.com/pkp/pkp-lib/compare/6deab6e944111df58bafb75c8635e1272491bae4...98b92146a5d98c276ecf2a49db9633690d3a866b) have not being installed

[2018-05-10 19:32] asmecher commented on #3425
@semteacher, how did you apply the changes?

[2018-05-10 19:50] ajnyga commented on #3575
Sorry for posting again, but one related thing came to mind.

Should the announcement/new issue consent settings be in User profile => Notifications as well? Because now users can not opt-out later. If the setting would be there, the opt-out link would just be a link leading to that setting page, right?

And in multijournal installations, if the user has no roles in a context, would they be able t

[2018-05-10 22:58] stranack opened #3683 "Username not searchable"
Usernames are not searchable on the Users page.  I tried to add a known user from another journal on the same installation via the User Search and it brought back zero results. It would be useful to add this ability if possible.

[2018-05-11 04:25] ajnyga commented on #3624
@jmacgreg @asmecher (and @NateWr hoping to see your comments as well, you are not out of the European union yet!)

Round-up of the things I am planning to do:
- New setting to config.inc.php `require_cookie_consent` on/off (@asmecher requested above that this would be optional and I think this is the best place to control that)
- In `SessionManager` around the line https://github.com/pkp/pkp-lib/b

[2018-05-11 05:29] semteacher commented on #3425
I have merged ojs-stable-2-4-8 into my branch. And updated sub-modules as well

[2018-05-11 06:16] semteacher commented on #3425
I am sorry, I was wrong. Problem is solved.
I have not forced to switch to 2_4_8 in submodule on prod
reCaptcha is working now.
Sorry that disturb you

[2018-05-11 09:15] luisja58 opened #3684 "OMP-3.1.1.0 Duplicate books in list of a category"
If there are 2 languages in OMP, the list of books in a category appears duplicated.
The same book appears 2 times.
  In the total catalog listing it appears well

[2018-05-11 12:41] mczirfusz opened #3685 "False review overdue notifications after upgrading to OJS3.1"
We recently upgraded from OJS2.3.6 via 2.4.8 to OJS 3.1.0-1.

For reviews which were initiated in the previous system but finished in OJS3, reviewers receive automatic overdue notification, although they submitted their reviews before the due date.

These overdue notifications are not shown in the UI under Editorial history.

Moreover, the timing of the notification is also quite strange: the user

[2018-05-11 13:02] bozana commented on #3685
Hmmm...
Could you please give us an example how the review_assignments DB table row looks like for such a case, i.e. all the dates (date_assigned, date_notified, date_confirmed, date_completed, date_due, date_response_due, date_reminded), but also reminder_was_automatic and declined columns?
THANKS!!!

[2018-05-11 13:51] mczirfusz commented on #3685
Hi @bozana, here is one example

[code]
And an automatic overdue review notification was received on Friday, May 11, 2018 10:52 AM (the user forwarded this e-mail to us, so it exits, but actually I do not see this e-mail server-side).

Additional info: as far as I remember we switched on automatic overdue notifications in our OJS 3 system and we did not use this function in our OJS 2 installation.

[2018-05-11 14:02] bozana commented on #3685
Hi @mczirfusz

I copied your example, so I will delete it -- not to stay public.
It actually looks good so I do not understand why the reminder was sent :-\
Could you execute this SQL on your DB:
[code]
Could it maybe be that the email notification was for another review assignment (of the same reviewer)?
Hmmm...

[2018-05-11 14:12] mczirfusz commented on #3685
thanks!
I run the SQL query, it has some results, but none of them corresponds to the example above or that of the reviewers who indicated this strange behaviour.
(I checked the email notification, and it belongs to the example above - we use the one-click link version so it was easy to check.)

[2018-05-11 16:47] #3653 closed

[2018-05-11 20:29] kaschioudi commented on #2875
https://github.com/pkp/pkp-lib/pull/3690
https://github.com/pkp/ojs/pull/1965

[2018-05-12 07:32] mczirfusz commented on #3685
I am deeply sorry, our mistake!
It turned out that the e-mails were sent by a backup copy we used during the upgrading process but have forgotten to switch it off.

[2018-05-12 07:32] #3685 closed

[2018-05-12 20:04] Vitaliy-1 opened #3691 "Add default styling for HTML galleys"
The new public method in the `ThemePlugin` class will allow the user to upload CSS/LESS as a default styling for the HTML galley.

_Jan 7, 2019: This has been implemented for OJS. It still needs to be ported for use in OMP, and the hook names updated appropriately. It also needs to be documented in the [PKP Theming Guide](https://docs.pkp.sfu.ca/pkp-theming-guide/en/theme-api)._

[2018-05-12 21:06] Vitaliy-1 commented on #3691
I can be assigned to this issue.
@NateWr I have a question on this: is there a reason why the `{load_script context="frontend"}` is absent in the HTML galley's `display.tpl`? https://github.com/pkp/ojs/blob/master/plugins/generic/htmlArticleGalley/display.tpl
Downloading Theme's javascript on that page is unwanted?

[2018-05-14 09:59] NateWr commented on #3575
I see what you're saying, but each context's privacy policy might be different. I think opting into other contexts requires more consideration, so let's consider this a v2 question, along with site-wide registration and admin role invites.

I'm hesitant to endorse the use of OJS as a mailing list platform. I agree that it is a plugin that a lot of journals would like, though.

They're there and th

[2018-05-14 10:09] NateWr commented on #3624
I am probably not the best person to comment on a cookie notice, because I think they're often used when not needed. For that reason, I like the use of a config option here. I think it's ok to have any specific request link to that context's privacy policy. If you'd like, you could add a site-wide privacy policy field to use for requests to the site-wide context.

[2018-05-14 10:26] ajnyga commented on #3575
`I see what you're saying, but each context's privacy policy might be different. I think opting into other contexts requires more consideration, so let's consider this a v2 question, along with site-wide registration and admin role invites.`

The fact that the context specific policy might be different is precisely why I think the context privacy policy should be mentioned there. Because it is bas

[2018-05-14 10:38] ajnyga commented on #3624
In GDPR case cookie notice is needed if the cookie has personal data. I know that OJSSID does not have, but it is connected to some pretty detailed data in the sessions table. So to be honest, I am not 100% sure the OJSSID cookies actually requires a cookie notice according GDPR.

See for example https://webmasters.stackexchange.com/questions/114973/are-session-cookies-exempt-from-consent-under-gd

[2018-05-14 13:40] jmacgreg commented on #3624
Agreed with the config option. My reading of the above link, @ajnyga, is that session cookies like OJS' probably don't need a notice, and we can advise people of that, but others will likely want the option.

[2018-05-14 13:58] jmacgreg commented on #3624
Agreed with the config option. My reading of the above link, @ajnyga, is that session cookies like OJS' probably don't need a notice, and we can advise people of that, but others will likely want the option.

[2018-05-14 14:21] amandastevens commented on #3344
A hosted client user has also requested to see during reviewer selection the last time a reviewer declined and the last time a reviewer was asked to review. This would help avoid potential review-overload.  He suggested in addition the option for an editor to customize what information to see in the reviewer selection grid, depending on what's most relevant to their journal.

[2018-05-14 15:03] NateWr commented on #3590
This splits active from declined review numbers in the reviewer API response, and displays the declined reviews in the breakdown table.

PRs:
https://github.com/pkp/pkp-lib/pull/3693
https://github.com/pkp/ui-library/pull/19
https://github.com/pkp/ojs/pull/1966

[2018-05-14 15:05] NateWr commented on #3344
As part of https://github.com/pkp/pkp-lib/issues/3590#issuecomment-388850009, we now show the count of declined reviews in the breakout table.

![declined-reviews](https://user-images.githubusercontent.com/2306629/40005671-7a035632-5790-11e8-8ef3-7b09279344c4.png)

Filtering is not available and it's not shown in the summary view. This was just a quick, path-of-least-resistance addition that went

[2018-05-14 15:26] NateWr commented on #3666
According to `QueriesAccessHelper::getCanListAll()`, managers and subeditors are allowed to see all discussions. I'm wondering if this is too permissive.

Imagine a scenario where an Editor (JM) and Section Editor (SE) are both assigned to a submission. As an Author, I can open a discussion and only assign myself and the Editor (JM). At that point, I think I would have a reasonable expectation tha

[2018-05-14 15:54] bozana opened #3694 "datacite and medra registered status migration"
I've forgotten to migrate the status setting name for registered DataCite and mEDRA DOIs from OJS 2.4.x to OJS 3.x...

[2018-05-14 16:14] jalperin opened #3695 "error uploading revision"
Using the OJS 3.1.1 tarball, I do the following and get an error

- as editor: request revision after a review
- as author:
-- go to submission
-- click on "add" in the revisions grid
-- select "manuscript text"
-- upload a file with the same file name as the original submission
-- I get message that possible revision detected, click Continue
-- Get the following error

![this error](https://www.d

[2018-05-14 16:46] bozana commented on #3695
Hi @jalperin, I cannot see your error image :-\
Could it be that this is the same problem as described here: https://github.com/pkp/pkp-lib/issues/3653?

[2018-05-14 17:00] jalperin commented on #3695
Not sure. I don't get the same error message, I don't think. Mine comes up when the revision is automatically detected, and not when I select the revision from the drop down.

[2018-05-14 17:03] NateWr commented on #3590
@asmecher tests have passed. This should be an easy review to merge and clear out for 3.1.1-1.

[2018-05-14 17:17] stranack opened #3696 "Allow journals/presses to disable option for new users to register as reviewers"
Can we provide journals and presses with the option to disable the ability for new users to register as reviewers when registering? Perhaps configurable under Site Access Options?

[2018-05-14 17:57] NateWr commented on #2860
After some discussions in the team, we decided invite-a-user (#3022) is a must-have feature alongside these changes, so I'll be working on that in tandem with this.

There was some uncertainty about whether or not this is true. I'll do some further testing in `master` to see if I can reproduce it.

[2018-05-14 18:00] NateWr commented on #3590
@asmecher tests have passed. This should be an easy review to merge and clear out for 3.1.1-1.

[2018-05-14 18:01] NateWr commented on #3022
After some discussions about #2860, it was decided that this is a necessary feature alongside some changes with the new users list panel, so we'll be transitioning the Add User process over to an "invite" workflow for journal managers.

This will include adopting an invite workflow for the Reviewer selection as well, so it will be good to keep #1146, and the whole Reviewer Selection project (https

[2018-05-14 18:02] NateWr commented on #3575
Yes, but a user will still not receive a public notification (ie - Issue Published), unless they have a role in that journal.

[2018-05-14 20:35] bozana commented on #2958
I considered all comments from @NateWr, from here and in the PRs. Thanks a lot @NateWr!
The decisions from here I also added to the summary comment above.
The only one thing left is to consider the changing of the site primary locale and submission locale.
Also, I could do a little bit more testing with OMP.
Else, @asmecher, it is ready for you to take a look :-)
THANKS!!!

[2018-05-15 05:47] ajnyga commented on #3624
Thanks for the feedback.

@asmecher can you as well look at my suggestion here: https://github.com/pkp/pkp-lib/issues/3624#issuecomment-388256071

If it sounds ok, I can do a pr based on that. I think it has a big impact on the way the system works so just to be sure I am missing something. The code changes are actually not that big I think.

[2018-05-15 08:40] heike-r opened #3697 "Improve / correct manuscript status in submission list for editors"
There are several things that would improve the submission listing in the editor's dashboard:

1. (this is actually a bug?) All reviewers have declined the request and the submission status says 'All reviews are in and a decision is needed'. I guess this is based on the fact that there are no reviews pending? Maybe add a condition like "and at least 1 review is in" for this status message? For the

[2018-05-15 19:35] asmecher commented on #3590
Thanks, all -- merged into `master` and cherry-picked to `ojs-stable-3_1_1` (and `omp-stable-3_1_1 as needed).

[2018-05-15 19:35] #3590 closed

[2018-05-16 01:44] jalperin opened #3698 "either auto-save or have a "draft" option for reviews"
From two people in the community at workshops I have heard that they would like to have an option to save a review for later. That they have heard complaints that reviewers start writing in the review, but it takes them a long time and that, if they wait too long, then when they hit save they lose all of their work. This happens elsewhere on the web, but it'd be nice if we could help address it wi

[2018-05-16 03:30] jalperin opened #3700 "Make a "performed review" certificate available for download"
In Latin America (and maybe elsewhere), people want to get a document (a PDF) that they can use to show they really did a peer review. This is similar to the certificates that people get when they go to conferences here.

This would probably not be a core feature, but could be implemented as a plugin?

Perhaps a good candidate for us helping to define an approach and then trying to see if someone

[2018-05-16 05:42] JcNeo commented on #1247
Hi @seunboi, good day

Can you please share with me how you solved the problem with the CSS, since I have the same error does not load any CSS file, previously it worked but now it does not allow me

regards!!!

JoseCandido

[2018-05-16 07:25] heike-r commented on #3697
Oh, I forgot: this concerns OJS 3.1.0.

[2018-05-16 13:32] heike-r opened #3701 "Add an email notification to submitting author and all co-authors when their manuscript appears online"
It would be useful to have an email notification to all authors of a submission the moment this submission appears online. We do publish-as-you-go with OJS 3.1.0. This notification would give the authors a closure with the publishing of their work. We currently do this notification via the discussion tool but can only address the submitting author, not the co-authors.The text could be something li

[2018-05-16 17:43] ajnyga commented on #3575
Hi @NateWr

I realized that regarding the consent statement in User Profile => Roles, we could just change the labels of the roles listed there.

I mean something like this:

[ ] Enroll me as Author
[ ] Enroll me as Reviewer
[ ] Enroll me as Reader

And then just provide a link to the privacy policy "By choosing a role, you accept the Privacy Policy described here"

I think that counts as consent

[2018-05-16 21:02] Vitaliy-1 opened #3704 "Abstract class Submission"
If instantiating the `Submission` class: https://github.com/pkp/pkp-lib/blob/master/classes/submission/SubmissionDAO.inc.php#L91
is it needed to be abstract?
https://github.com/pkp/pkp-lib/blob/master/classes/submission/Submission.inc.php#L35

[2018-05-16 21:59] asmecher commented on #3704
Yes -- the `Submission` class is the parent of the Article class (OJS) and the `Monograph` class (OMP). If you want to instantiate one of these objects, use e.g.:

    $submissionDao = Application::getSubmissionDAO();
    $submission = $submissionDao->newDataObject();

But I'm not clear on the context of what you want to accomplish, so this might lead you astray :)

[2018-05-16 21:59] #3704 closed

[2018-05-16 22:00] asmecher commented on #3704
(If this is just a clarification about that linked line of code, then it's never run because the subclasses all override it -- but I agree it would probably be clearer if that function were itself marked `abstract`.)

[2018-05-16 22:55] asmecher commented on #3698
I'm curious what version of OJS they're using when they encounter these data losses. There are several candidates, either fixed or already described in detail:

- https://github.com/pkp/pkp-lib/issues/2830
- https://github.com/pkp/pkp-lib/issues/2428
- https://github.com/pkp/pkp-lib/issues/2417

[2018-05-16 22:57] jalperin commented on #3698
Some version of 3. But, I can also attest as a reviewer, that I would also
like to be able to save the review and come back to it later.

Juan

On 16 May 2018 at 15:55, Alec Smecher <notifications@github.com> wrote:

[2018-05-16 22:57] asmecher commented on #3666
Long term, our policy for section editors is that they have the same rights as full editors, but only when they've been assigned to the submission. That's recently gotten eroded somewhat, e.g. with the option for section editors to recommend only rather than recording decisions. I have no objection to a change that requires SEs to be assigned in order to list/see discussions but I think some close

[2018-05-16 23:51] asmecher commented on #3698
Noted. But if you do get the chance to grab a specific version number, it would be helpful.

[2018-05-16 23:53] asmecher commented on #3700
Yes, it could be implemented as a plugin in any number of ways (e.g. a report plugin, an import/export plugin, or a generic plugin, just OTOH). I was recently contacted by a community member who may already have something like this written; waiting for details.

[2018-05-17 01:58] stranack opened #3705 "Unable to Order back issues"
Under Issues > Back Issues, I have used the Order tool to reorder the issues.

However, my changes are not reflected on the public Archives page:
https://journals.publicknowledgeproject.org/sandbox/cjhe/index.php/cjhe/issue/archive

[2018-05-17 02:03] israelcefrin commented on #3705
A note, this list is sorting using published date as main parameter, ignoring **Order tool**.

[2018-05-17 10:09] lilients commented on #2072
Hi everybody,

I am starting again to adapt the versioning code to the latest OJS version (so that it can be merged in the master branch before the 3.2). I have some conceptional changes I would like suggest:

## 1. remove option to hide versioning in settings
- would make the feature itself more visible
- users would be encouraged (but not forced) to use the versioning feature for changes in file

[2018-05-17 10:58] bozana commented on #2072
Hi @lilients

I've already forgotten what was the static page for :-( ?
How would the version name be used?
Could we consider the Crossref Crossmarks values for version description, s. https://www.crossref.org/get-started/crossmark i.e.:
- addendum
- clarification
- correction
- corrigendum
- erratum
- expression_of_concern
- new_edition
- new_version
- partial_retraction
- removal
- retraction
-

[2018-05-17 11:34] lilients commented on #2072
Hi @bozana

the static page is described here: https://github.com/lilients/ojs/wiki/Article-versioning-in-OJS
It adds a versioning policy as a new page under "about the journal".

The names would be displayed at the article page in the place of "Version 1" etc. See: https://raw.githubusercontent.com/lilients/img/master/versioning_howToCite1.png
I would implement the name as a free text.

I wanted

[2018-05-17 15:16] ctgraham commented on #3674
@asmecher confirms the revision increment as intended functionality here.

[2018-05-17 15:37] asmecher commented on #3578
PRs:
- https://github.com/pkp/ojs/pull/1968
- https://github.com/pkp/pkp-lib/pull/3702

OMP needs porting before the pkp-lib PR can be merged; apparently some form parameter orderings have changed.

[2018-05-17 16:00] NateWr commented on #3666
Can I just clarify, do you mean assigned to the submission? So a SE should be able to see any discussion in a submission to which they're assigned, regardless of whether they're a participant?

I'm a little nervous about how this deviates from the kind of email-like behavior a user might expect, leading users to think a conversation is limited to some participants when it's not. Perhaps we should

[2018-05-17 16:04] NateWr commented on #2072
:+1: to the idea of using a vocabulary for version type _and_ a text field for a preferred name. (Ideally, a default name would be filled out when a type is selected.)

I also agree about removing the static page.

[2018-05-17 16:41] asmecher commented on #3666
No, I meant to the discussion, not the submission. (As things currently stand, they get that permission by being assigned to the submission.) Just so I'm clear, you're proposing that full editors/managers should be able to create discussions that *don't* include SEs, and that in that case SE's would not be able to view/participate in the discussion, correct?

[2018-05-17 16:50] gcienfuegos commented on #3698
Hi
The version is 3.1.0.1

[2018-05-17 21:12] asmecher commented on #3624
@ajnyga, sorry for the delay.

Broadly speaking, without cookies (and without a replacement session mechanism), the `$session` object will either not exist or will be re-created with each request. Of those two options, obviously it makes sense not to create one. So yes, we'll need to go through for code that expects `$session` to always be available and ensure that it can handle a `null`.

I suspe

[2018-05-17 21:29] asmecher commented on #2875
Thanks, @kaschioudi -- I've added some comments to the PRs. Generally this is taking shape well, but needs some sharing with the `pkp-lib` library where possible, and I'm also interested in using the Swagger doc to validate rather than writing assertions that partially reiterate what it already declares.

[2018-05-17 22:00] asmecher commented on #3675
Hmm, just thinking about languages where `${title}: ${subtitle}` might not be appropriate. Maybe we need a locale key for title concatenation? Thinking:

    <message key="article.title.concatenated">{$title}: {$subtitle}</message>

We'd need to use that *only* when both title and subtitle are set, so as not to leave an [ehrm] dangling colon.

[2018-05-18 04:39] ajnyga commented on #3624
thanks! when do you plan to release 3.1.1.1?

[2018-05-18 08:38] ajnyga opened #3706 "[OJS] Missing galley file breaks Crossref automatic deposts"
Hi @bozana

Scenario:
User adds a new galley to an article then removes the actual file attached to the galley, but then leaves the galley place holder to the galleys grid.
The user then proceeds to publish the article and gives it a DOI.

What happens is that here: https://github.com/pkp/ojs/blob/master/plugins/importexport/crossref/filter/ArticleCrossrefXmlFilter.inc.php#L186 the code does not g

[2018-05-18 08:52] NateWr commented on #2072
I'd prefer to stick to preprints as a full version of the article, not just a version of a galley. It's best to capture a complete representation of the article, and a galley usually only captures part of that. In a future where we have integrated tools for treating all article data as an object (eg - Texture), the galley will be an insufficient record.

So I think that `preprint` should just be a

[2018-05-18 08:59] NateWr commented on #3666
I'm proposing that _anyone_ assigned to the submission should be able to create a discussion and choose the participants. Only discussion participants would be able to access a discussion, _except_ Journal Managers, who can access any discussion.

(I also think there's a strong case for not giving Journal Managers this surveillance capability, but I appreciate that might impact on the day-to-day w

[2018-05-18 09:20] ajnyga commented on #2072
You are right @NateWr 👍

The `preprint` should be a status of the whole article. With this approach the name label for the galley file would probably be enough to define which galley versions are the ones attached to the preprint.

Not sure though if preprint should be another type in the crossref vocab. Because you should still be able to define a new_version of a preprint as well, right?

Here a

[2018-05-18 09:30] NateWr commented on #3675
I like the idea of a locale string. It does raise some issues with the logic around when to use a `:` and when not to.

We have `Submission::getLocalizedFullTitle()` which does this work: https://github.com/pkp/pkp-lib/blob/master/classes/submission/Submission.inc.php#L464-L472

And it relies on `PKPString::concatTitleFields()` which does some English-language-specific logic for determining when a

[2018-05-18 09:35] mittinatten opened #3707 "Display CC license badge for legacy CC license"
Hi,
A lot of our journals have old articles published under CC 3.0 licenses. After upgrading to OJS 3.1.1 from OJS 2, no license badge is displayed for these articles. Adding them is simple: https://github.com/ubbdst/pkp-lib/commit/360710d4052434879d2a9ada393e13b9b750238b. I suspect others could have use for this patch, or a more general version including all legacy CC licenses.

Simon

[2018-05-18 09:58] NateWr commented on #3575
Thank you, @bozana, the tests are now passing. Since you already dug into this a bit, can you code review? I will prepare a PR for OMP now.

@ajnyga, the "enroll" language we use during reviewer selection has been flagged as confusing in our user tests, so I'd like to avoid it here. I'm just going to do a hard cut-off for 3.1.1-1 and table the rest of these consent questions for a second pass. But

[2018-05-18 10:12] NateWr opened #3708 "Improve focused indication in ListPanel components"
The current technique, used in the SubmissionListPanel, is to set `@focus` and `@blur` handlers. This leads to lots of boilerplate and will likely lead to missing focusable elements. Use `Node.contains()` and `document.activeElement` to do this automatically. https://developer.mozilla.org/en-US/docs/Web/API/Node/contains

[2018-05-18 10:16] NateWr commented on #3696
Self-registration can be turned off for any user group. Go to Users & Roles > Find the role > Edit > Role Options and un-check "Allow user self-registration".

(Closing but feel free to re-open if you want to discuss more.)

[2018-05-18 10:16] #3696 closed

[2018-05-18 10:17] ajnyga commented on #3575
Thanks, in general I do not feel too comfortable in doing English versions of really any translations in OJS because I am bound to miss the important small nuances that native speakers see. The point above really was just that the page would not probably need any more consent checkboxes and the consent itself could be written to the role selection.

With the "I'd like to be notified about new publ

[2018-05-18 10:19] NateWr commented on #3707
Yes, we've had a similar request before and just need a list of licenses to add: https://github.com/pkp/pkp-lib/issues/1818

Can you submit a PR for this? I'll close this as a duplicate and you can link your PR to the older issue.

(Also, if you can add any of the newer CC licenses that'd be great.)

[2018-05-18 10:19] #3707 closed

[2018-05-18 12:28] jmacgreg commented on #3666
100% agreed with Nate's comment above. This is how I would expect this feature to work.

[2018-05-18 13:14] NateWr commented on #3666
@jmacgreg can I clarify: do you support the exception which allows Journal Managers to see any discussion?

[2018-05-18 13:34] jmacgreg commented on #3666
Sorry - I support having any assigned participant being able to start a discussion; and only discussion participants being able to see that discussion. I don't have much of an opinion on whether JMs should be able to see everything or not - I'd want to check with some production journals first (and can do so if you like).

[2018-05-18 13:52] bozana commented on #3706
PRs:
master: https://github.com/pkp/ojs/pull/1970
ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/1971

[2018-05-18 13:52] bozana commented on #3706
Thanks a lot @ajnyga! I thought I had considered that :-P
I checked the other places as well -- I think only these two are affected...

[2018-05-18 14:55] ajnyga commented on #3666
Just raising the case of open reviews.
There the editor (journal editor or section editor) will probably want to see what the author and the reviewer are discussing.

[2018-05-18 15:10] #3706 closed

[2018-05-18 15:47] bozana commented on #3694
PRs:
ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/1972
master: https://github.com/pkp/ojs/pull/1973

[2018-05-18 15:51] bozana opened #3710 "remove translations for unused plugins folders"
Somehow the translations are always added for the already removed plugins:
citationlookup/
citationoutput/
citationParser/
metadata/nlm30/

[2018-05-18 16:01] bozana commented on #3710
PRs:
pkp-lib omp-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3711
omp omp-stable-3_1_1: https://github.com/pkp/omp/pull/538 (only submodule update)

pkp-lib master:
ojs master:
omp master:

[2018-05-18 16:08] asmecher commented on #3624
We were hoping to have it out already, but it looks like it'll still be 1-2 weeks.

[2018-05-18 16:09] asmecher commented on #3666
Agreed re: what you've described for section editors, Nate. I think we'd probably have to do quite a bit of a review and some work if we were to limit full editors, though (not to say it's impossible).

[2018-05-18 16:33] ajnyga commented on #3624
Ok! (maybe this should be mentioned in the forum GDPR thread?)

[2018-05-18 16:52] NateWr commented on #3666
PR:
https://github.com/pkp/pkp-lib/pull/3712

Tests only:
https://github.com/pkp/ojs/pull/1974

[2018-05-19 07:12] #3710 closed

[2018-05-20 14:06] Julio977 opened #3714 "Email notification for an Editor about review submitted from Reviewers and revised manuscript from Authors"
Hi,
I have OJS 3.1.1. and I do not see in the email templates the possibility to receive an email that would inform automatically the editor of a journal when a Reviewer submits his comments to a manuscript or when an Author submits his revised version of a manuscript.
I apologize if both functions are already in place and in this case I would like to know how to make them work. Otherwise, I woud

[2018-05-20 15:56] defstat opened #3715 "Navigation Menus - Add site-wide primary navigation menu"
Currently the primary navigation menu doesn't show at the site level (for example at the first page of an OJS site with more than one journals), even though the site-wide navigation menu tool allows the addition of a primary navigation menu.

[2018-05-20 16:52] defstat commented on #3715
@NateWr @stranack

PRs:

pkp-lib: #3716
ojs: pkp/ojs#1976
omp: pkp/omp#540

[2018-05-21 10:54] luisja58 opened #3717 "OMP-3.1.1.0 In view site there is no exit menu"
When a user has login in the View Site screen and wants to exit, the upper menu for EXIT does not appear

[2018-05-21 11:06] NateWr commented on #2072
Thanks for the link to the crossref docs. It looks like they've introduced some specific types for preprints.

- preprint
- working_paper
- letter
- dissertation
- report
- other

[2018-05-21 11:11] NateWr commented on #3666
All checks have passed. @bozana sorry to pile on, but since Alec is away at a conference can you code review this one too?

[2018-05-21 11:18] ajnyga commented on #2072
I think that those are not types for preprints, but types for "posted content" and preprints is just one of those types. Types like dissertation or report are probably not needed in the context of OJS anyway? My view is that OJS would only use the preprint type?

But anyway, if we could publish articles with a preprint status in OJS, then posted content would be what should be used in the Crossref

[2018-05-21 13:05] Ph-We opened #3718 "[OJS 3.1.1] RSS Feed plugin requires its own locale key for the displayed title"
The current title displayed ('_Current Issue_') is misleading: some users try to open the current issue by clicking those links.

I'd propose something like 'RSS feed (Current Issue)'.
If there is a stand-alone plugin for announcements: 'RSS feed (Announcements)'.

See the discussion here: https://forum.pkp.sfu.ca/t/plugin-rename-rss-feed/13241/7

[2018-05-21 18:10] asmecher opened #3719 "Port basic API endpoints to OMP"
...sharing code in pkp-lib where possible.

[2018-05-21 20:01] mtub opened #3720 "[OJS] clarify language on DOI/DOAJ registration"
pkp/ojs#1967 claims that the language around DOI registration might be unclear. The strings right now state that it might take a short amount of time. Apparently this might be misunderstood as if there was some manual editorial task involved. The reason that DOIs might be registered a little later is mostly the cronjob configuration, maybe also latency, connection problems at the journal or the DO

[2018-05-21 21:09] crism commented on #3578
Oh, yuck… `FileManager::downloadFile()` wants a file _path_ as its first parameter, but its subclasses want an _ID_ as the first parameter… excellent opportunity for silent failure. The second parameter is also a revision, a user ID, or a media type… and it doesn’t trigger any warnings.

[2018-05-22 04:34] carzamora opened #3721 "[OJS 3.1.1] missing locale key grid.action.schedulePublication"
In Production stage, is missing a string of text grid.action.schedulePublication for html title:
![captura de pantalla 2018-05-22 00 22 57](https://user-images.githubusercontent.com/5422984/40342283-d9ce84ca-5d57-11e8-8bcb-df4caf840ff8.png)

(Edit: also `grid.action.viewEmail` https://github.com/pkp/pkp-lib/issues/3742)

[2018-05-22 07:07] bozana commented on #3714
Hi @Julio977

I think the following issues are related to this one:

https://github.com/pkp/pkp-lib/issues/3423: There was a problem when the custom review forms were used (is this also your case?) that was fixed and will be available in the next OJS version, that is coming soon, in a week or two.
Here, there is no e-mail template, but the notification e-mail with the notification `<message key="n

[2018-05-22 07:07] #3714 closed

[2018-05-22 08:32] bozana commented on #3720
@mtub, I think this is good. I would have one question though: Could we maybe have something like `(depending on your cronjob execution)` or `(depending on your cronjob execution time)`  or `(e.g. depending on your cronjob configuration)`? -- Some users might use Acron plugin, which is triggered/executed/run when an user access a journal home page, an issue or an article page. Thus, in that case (

[2018-05-22 12:01] defstat commented on #3715
@NateWr I fixed the review issue and I made the PR on bootstrap 3 plugin

bootstrap3: NateWr/bootstrap3#85

[2018-05-22 12:25] NateWr commented on #3715
Thanks @defstat. Can I close this?

[2018-05-22 12:28] NateWr commented on #3715
(And thanks I've filed an issue on the Bootstrap repo to look at it.)

[2018-05-22 14:10] defstat commented on #3715
@NateWr Yes please.

[2018-05-22 14:20] defstat commented on #3261
@asmecher  for reviewRounds/ReviewAssignments

PRs
pkp-lib: pkp/pkp-lib#3722
ojs: pkp/ojs#1978

On the same branches, coming up Queries/QueryParticipants/Notes

[2018-05-22 15:00] asmecher commented on #3666
(Thanks for covering for me, @NateWr and @bozana! I'm trying to keep the backlog from growing too badly over this one.)

[2018-05-22 16:02] #3715 closed

[2018-05-22 16:39] ajnyga commented on #3624
The above would as simple as adding
[code]

here: https://github.com/pkp/pkp-lib/blob/master/classes/session/SessionManager.inc.php#L61-L62
(not suggesting that we use md5, but you get the picture)

[2018-05-22 19:47] mtub commented on #3720
Ah, good catch. I'd prefer to just add a "e.g." - there's the acron plugin, but also other reasons might lead to a delay, connection problems, problems at the DOI registration server etc.. Will update the PR and let you merge it.

[2018-05-22 20:20] mtub opened #3723 ""Subeditors" are not introduced to users"
The gossip code mentions subeditors: https://github.com/pkp/pkp-lib/blob/32ddeb9cb92ac2800cef493e6dfce192732673c2/locale/en_US/user.xml#L45

But they are not mentioned anywhere else, so users might not know what kind of users subeditors are.

Tagging @ajnyga , @NateWr

[2018-05-22 20:53] #3720 closed

[2018-05-23 07:19] bozana commented on #3720
PRs:
master: https://github.com/pkp/ojs/pull/1977
ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/1979

[2018-05-23 08:55] NateWr commented on #3723
Good point, and since we can't know what the actual user group names will be, it's pretty hard to be explicit. What do you think about:

Is it ambiguous enough that someone would interpret it safely as "any editorial-like role"?

[2018-05-23 09:20] NateWr commented on #3721
Hmm, I couldn't find any reference to that locale key in the current `master` branch of OJS. I did find one for `editor.article.schedulePublication`. What version are you on?

[2018-05-23 09:26] NateWr commented on #3705
What would be the reason for not ordering them by published date?

[2018-05-23 10:10] NateWr commented on #3662
Thanks @ptrckb! Here are some PRs that should address this. Tests running.

PR:
https://github.com/pkp/pkp-lib/pull/3726
https://github.com/pkp/ojs/pull/1981

(@kaschioudi you may want to look at the OJS PR, as it may impact the OMP API work you're doing.)

[2018-05-23 10:33] mtub commented on #3723
Since we are covering remarks about other people I think it would be best to be as verbose as possible to avoid surprises. How about

?

But journal manager is OJS language, so maybe

or even longer

Maybe editors will suffice, but then I'd still recommend to put all three groups in there (admin, managament, editors).

[2018-05-23 11:09] bozana commented on #3721
Ah, I believe those grid.action... are always missing... They seem to be constructed...

[2018-05-23 12:20] t4x0n commented on #3721
I have OJS 3.1.1

[2018-05-23 13:27] ctgraham opened #3727 "tinyMCE drops out of registration form in event of error"
The tinyMCE tool on the user registration form (user/register) is applied to the mailing address and biography.  The tool disappears from the screen if a form error is introduced (user/registerUser).

See:
https://github.com/pkp/ojs/blob/a8f3bd9ead5d9b28635d7ed183706a466dcdaf10/plugins/generic/tinymce/TinyMCEPlugin.inc.php#L176-L186

Steps to reproduce:
* Log out
* Register
  * address and biograp

[2018-05-23 13:37] NateWr commented on #3723
That ok? I wanted to stay away from "types of" because I think users might not know what we mean by "types".

PR:
https://github.com/pkp/pkp-lib/pull/3728

[2018-05-23 13:42] NateWr commented on #3721
Strange though. This is outside of a grid... Is it attached to a `title` attribute or something?

[2018-05-23 14:01] NateWr commented on #3666
Thanks @bozana. Just that one outstanding comment, others address. Tests re-running.

[2018-05-23 14:04] NateWr commented on #3662
All tests passed. @bozana, another one sorry! :)

[2018-05-23 14:48] kaschioudi commented on #3662
alright @NateWr . thanks for letting me know.

[2018-05-23 14:48] t4x0n commented on #3721
yes, is a title attribute

[2018-05-23 20:27] mtub commented on #3723
Sounds good, thanks!

[2018-05-24 07:42] isgrim commented on #3263
Yes please, that would very nice for upcoming OJS 3 migrations

[2018-05-24 08:28] NateWr commented on #3723
Merged to `master` and `ojs-stable-3_1_1`.

[2018-05-24 08:28] #3723 closed

[2018-05-24 10:26] bozana commented on #3662
@NateWr, everything fine I think, so you can merge and charry-pick/migrate to stable-3_1_1...

[2018-05-24 10:49] NateWr commented on #3575
All merged to `master`, `ojs-stable-3_1_1` and `omp-stable-3_1_1`. :tada:

[2018-05-24 10:49] #3575 closed

[2018-05-24 10:50] NateWr commented on #2297
This issue was address in a PR merged with #3575.

[2018-05-24 10:50] #2297 closed

[2018-05-24 10:50] NateWr commented on #3576
This issue was address in a PR merged with #3575.

[2018-05-24 10:50] #3576 closed

[2018-05-24 10:50] NateWr commented on #3600
This issue was address in a PR merged with #3575.

[2018-05-24 10:50] #3600 closed

[2018-05-24 11:12] NateWr commented on #3662
Merged to `master`, `ojs-stable-3_1_1` and `omp-stable-3_1_1`.

[2018-05-24 11:12] #3662 closed

[2018-05-24 11:21] NateWr commented on #3666
All merged to `master`, `ojs-stable-3_1_1` and `omp-stable-3_1_1`.

[2018-05-24 11:21] #3666 closed

[2018-05-24 13:29] ajnyga opened #3738 "Additional features for Open Reviews"
This is a ticket for the remaining enhancements planned here: https://github.com/pkp/pkp-lib/issues/2976
- [ ] Allow all reviewers to see the editorial decision and other reviews (request from a journal using the open review feature)
- [ ] Show discussion status in the submissions list for reviewers
- [ ] In blind and double blind prevent discussion messages iniated by the editor where both author

[2018-05-24 13:30] ajnyga commented on #2976
Remaining features planned in a new issue here https://github.com/pkp/pkp-lib/issues/3738

[2018-05-24 16:49] NateWr commented on #2805
This was completed as part of work in #3575.

[2018-05-24 16:49] #2805 closed

[2018-05-24 19:47] crism opened #3739 "[OMP] 3.1.1 upgrade scripts hard-code PostgreSQL-incompatible SQL statements"
[code]
[This statement](https://github.com/pkp/omp/blob/master/dbscripts/xml/upgrade/3.1.1_update.xml#L47) is the problem, though I may find others after I fix this one.

[2018-05-25 16:46] t4x0n opened #3741 "[OJS 3.1.1] when a submission enter to review stage the files are duplicated"
Each time a submission enter in review stage the files are copied into a new folder named review, but not only they are copied, also are duplicated with names like this:

22-12--1-4-20171225.docx (without file ID )
22-12-193-1-4-20171225.docx (with file ID, in this case is 193)

I don't know... this is intentional?

[2018-05-25 16:53] t4x0n opened #3742 "[OJS 3.1.1] missing locale key grid.action.viewEmail"
I found another locale key missed (grid.action.viewEmail) for `title` attribute at Editorial History

see the image:
![otro-mas](https://user-images.githubusercontent.com/5422984/40556441-a0a0c97c-601a-11e8-87b6-5eb027fcd88c.png)

[2018-05-25 20:27] asmecher commented on #2976
Thanks @ajnyga, this was huge.

[2018-05-25 21:42] asmecher commented on #3739
@crism, there's also a MySQL-related change in the PR (https://github.com/pkp/omp/pull/544/files) -- have you tested that with MySQL?

[2018-05-25 21:52] asmecher commented on #3719
Hi @kaschioudi -- I've reviewed both those PRs, thanks.

[2018-05-25 22:26] asmecher commented on #3717
That's intentional, @luisja58 -- you can get back into the workflow by following the Dashboard link.

[2018-05-25 22:26] #3717 closed

[2018-05-25 22:31] asmecher commented on #3462
Thanks, @defstat, please go ahead and merge!

[2018-05-25 22:46] asmecher commented on #3742
@NateWr, tagging you because I think you were active on another of these.

[2018-05-26 01:26] crism commented on #3739
I didn’t test it with MySQL, no… the table alias was only removed within the SET clause, not in any WHERE or anything else.

[2018-05-26 01:27] crism commented on #3739
Oh, sorry… I see. The change was within a `<query driver="mysql[i]">`. Um. I may have gotten carried away… though this syntax should be legal in any SQL system. I can take it out if we can’t easily test it. (I’d prefer to keep this change, though—it seems like a lot of these changes are copy-and-paste, and having good exemplars will minimize problems like this in the future.)

[2018-05-26 20:06] Ph-We commented on #3718
I am really sorry, @asmecher. And I would really be willing to help.
But I'm afraid I'm not that tech-savvy((

[2018-05-27 00:05] willinsky opened #3743 "[OJS] Establishing "Journal Collections" within an OJS Installation"
Arising from reported editor concerns over their ability to log in as users, such as reviewers, who belong to multiple journals in an installation and to enable journals in related areas to form more of a publishing community or cooperative within a single OJS installation, the following suggestions are made to facilitate the setting up journal collections within an OJS installation:

1. From a li

[2018-05-27 15:22] pkel opened #3744 "Upgrade OJS 2.4.8.1 to 3.1.1.0 supplementary files lost for activ submissions"
When I update migrate our OJS instance from 2.4.8.1 to 3.1.1.0, supplementary files of submissions in progress get lost.

We instruct our authors to upload program code and reproduction data as supplementary files during submission. These files then show up on the summary and editing pages. For published submissions, these files are migrated into galleys on the production stage and show up correct

[2018-05-27 16:07] Julio977 commented on #3714
Hi @bozana,

thank you for your reply.
Yes, I fabricated a custom review form for my journal.
Will be waiting for the next OJS version.
Thanks again.
Julio977

[2018-05-28 08:31] ajnyga opened #3745 "Template variable currentUrl returns wrong values for journals using custom base_url's"
Hi,

While doing a plugin I noticed that the `currentUrl` variable (basically `request->getCompleteUrl()`) returns wrong values for journals that have a custom base_url setting.

For example I have a context with base_url `journal1.domain.com`, but the value that I get is `journal1.domain.com/journal1/`.

Could this be fixed and/or is there an alternative variable I could use to get the current ur

[2018-05-28 08:52] luisja58 commented on #3717
Not always a user wants to see the Dashboard. In fact, when a user buys a book, he does not want to see the Dashboard, but Manual Payment Instructions and since he had to identify, then he must exit.

[2018-05-28 11:02] bozana commented on #3744
Hi @pkel, thanks!
I'll take a look. Could you see if they are in your database table submission_files?

[2018-05-28 11:33] bozana commented on #3744
OK, as far as I can see, those files would have file_stage = 10 (proof stage) but no assoc_id and assoc_type...

[2018-05-28 15:09] bozana commented on #3744
PRs:
ojs master: https://github.com/pkp/ojs/pull/1987

[2018-05-28 15:29] Vitaliy-1 opened #3746 "Pagination in search results: redundant pagination numbers"
When the query results items number (on the search page) goes beyond 1 page, there are redundant pagination numbers. OJS 3.1.1
![search_pagination](https://user-images.githubusercontent.com/20665587/40621322-04697350-62a5-11e8-9565-6eea09ac39da.jpg)

[2018-05-28 15:44] bozana commented on #3741
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3747
ojs master: https://github.com/pkp/ojs/pull/1988 (submodule update only)

[2018-05-28 15:47] bozana commented on #3741
Yes, thanks @t4x0n! It seems that the file is copied twice, once before inserting it into the DB when the file ID is not known, and then after i.e. during the insertion in the DB, to the correct file path.

@asmecher, could you take a look? If OK, I can cherry-pick to stable-3_1_1 for the coming release...

[2018-05-28 15:50] t4x0n commented on #3741
Oh, I see... excellent! thanks to you for solving the issue!

[2018-05-28 16:09] asmecher commented on #3717
@luisja58, I actually consider the "view site" button to be a kind of "exit" button, and the administrative/dashboard area to be the area that is being left. But it sounds like there's a particular path through the system that you're finding confusing -- can you describe it?

[2018-05-28 16:15] asmecher commented on #3743
@willinsky, before jumping into design, I'm wondering if the original reporter of the problem wasn't actually encountering a bug in their specific version of OJS that was preventing them from logging in as a user. For example, there was a recent adjustment that has apparently caused the check to be pickier than intended: https://github.com/pkp/pkp-lib/commit/0fcb191b6bdbf3e5c9bc3fba35ca2b42c1397b9

[2018-05-28 18:34] asmecher commented on #3743
Also tagging @NateWr, who's been wrestling with the site-wide user administration toolset recently.

[2018-05-28 18:56] asmecher commented on #3611
Resolved -- thanks for reporting, @luisja58.

[2018-05-28 18:56] #3611 closed

[2018-05-28 19:01] asmecher commented on #3612
Fixed -- thanks for reporting, @luisja58!

[2018-05-28 19:01] #3612 closed

[2018-05-29 06:45] luisja58 commented on #3717
In OJS311 if a user buys an item, the system asks for login. Then the system presents the screen Manual Fee Payment (if manual fee option). The user has the option to exit (top corner).
 I expected the OMP to have the same behavior.

[2018-05-29 09:16] bozana opened #3749 "Fix wrong assoc_type in citations upgrade"
s. https://forum.pkp.sfu.ca/t/upgrade-3-1-1-0-deletes-all-citations/45392

I used the wrong number for ASSOC_TYPE_ARTICLE, it should be 257 instead of 527 :-(

[2018-05-29 10:35] bozana opened #3750 "enable manager roles to add references during a submission"
s. https://github.com/pkp/pkp-lib/pull/3033#pullrequestreview-119569683
and
https://forum.pkp.sfu.ca/t/ojs-3-1-1-0-article-statistics-reference-box/40633/26

[2018-05-29 11:01] #3749 closed

[2018-05-29 11:20] bozana commented on #3750
PRs:
pkp-lib ojs-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3751
ojs ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/1992 (submodule update only)

pkp-lib omp-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3752
omp omp-stable-3_1_1: https://github.com/pkp/omp/pull/545 (submodule update only)

pkp-lib master: https://github.com/pkp/pkp-lib/pull/3753
ojs master: https://github.com/pkp/oj

[2018-05-29 13:46] #3750 closed

[2018-05-29 17:59] asmecher commented on #3744
In other words: thanks, please go ahead!

[2018-05-30 12:55] ctgraham opened #3754 "Passing invalid sort parameter executes malformed SQL"
In 2.4.8, we form the SQL here without checking the result of `$this->getSortMapping($sortBy)`, which [could be null](https://github.com/pkp/ojs/blob/a8f3bd9ead5d9b28635d7ed183706a466dcdaf10/classes/security/RoleDAO.inc.php#L544):
https://github.com/pkp/ojs/blob/a8f3bd9ead5d9b28635d7ed183706a466dcdaf10/classes/security/RoleDAO.inc.php#L211
and
https://github.com/pkp/ojs/blob/a8f3bd9ead5d9b28635d7e

[2018-05-30 13:26] bozana commented on #3744
@asmecher -- I think not all supp files were available for review but those this option is selected for i.e. those that have show_reviewers = 1 in the DB table article_supplementary_files, ok?

[2018-05-30 16:50] asmecher commented on #3754
Merged -- thanks, @ctgraham!

[2018-05-30 16:50] #3754 closed

[2018-05-30 17:10] asmecher commented on #3744
Hi @bozana -- thanks, I will have to refresh my memory during upgrade testing!

[2018-05-30 18:04] asmecher commented on #3741
@bozana, please go ahead and merge for `master`, but I'd rather not merge into the OJS or OMP stable branches until we've had a bit more time to test for boundary conditions. The worst case here is unnecessary use of disk space, so I think the risk of introducing a regression is worse.

[2018-05-30 19:21] #3741 closed

[2018-05-30 19:21] asmecher opened #3758 "Selectively permit author metadata changes after submission"
See the discussion at https://forum.pkp.sfu.ca/t/ojs-3-1-how-to-get-an-author-to-update-metadata-in-submission-or-review-phase/37056.

Proposals there (by my read):
- Always allow authors to edit metadata while the submission is in the Submission and Review stages. [source](https://forum.pkp.sfu.ca/t/ojs-3-1-how-to-get-an-author-to-update-metadata-in-submission-or-review-phase/37056/7)
- Always al

[2018-05-30 19:39] NateWr commented on #3758
I would throw in a vote for @ajnyga's suggestion for a [review/update request](https://forum.pkp.sfu.ca/t/ojs-3-1-how-to-get-an-author-to-update-metadata-in-submission-or-review-phase/37056/9). Although it is more manual than just deciding what stages to keep it unlocked, I see a few benefits:

- Editors are never "surprised" by Author changes and editors retain control.
- We don't have to decide

[2018-05-30 19:53] bozana commented on #3758
The only thing that this last suggestion maybe does not consider is if an author would like to change something without being asked by the editor to do so, but I am not sure if this should be allowed anyway i.e. if this is wished...

[2018-05-30 19:58] asmecher commented on #3745
@ajnyga, can you describe what you need the current URL for? We've generally avoided the need for this kind of variable as a rule.

[2018-05-30 20:06] asmecher commented on #3739
Those MySQL queries are already implemented differently than the PostgreSQL ones, and they work for me with a local test. I'd rather avoid that change. I'll pull in your PostgreSQL change, though!

[2018-05-30 20:11] asmecher commented on #3739
Ported the equivalent OJS change (removing table aliases completely): https://github.com/pkp/omp/pull/544#issuecomment-393301267

[2018-05-30 20:11] #3739 closed

[2018-05-30 20:20] asmecher commented on #1959
I think we added some of these calls around the same time as both the push to move to HTTPS everywhere, and a few high-profile SSL vulnerabilities. I suspect they were necessary to adapt to PHP environments that weren't kept up to date with those developments. My hope is that we're past that now and can return to letting the defaults prevail, but unfortunately there's no way to know what'll happen

[2018-05-30 22:37] t4x0n commented on #3758
Is not wished author can edit metadata at any time, I think what @NateWr propose have a lot of good points. Really, for me and other editors (who I work with and others that I know), just the chance to author can edit the metadata in submission stage is a great feature, others features will be grateful too! Thanks!

[2018-05-30 23:19] t4x0n commented on #2993
I want to propose a very simple idea, and this can be implemented even (I think) with reCaptcha enabled, a Honeypot like this: http://tidyrepo.com/registration-honeypot/

taken from the link above:

[2018-05-31 01:14] EmuAGR commented on #3403
While I was testing restful_urls, I got and endless redirection loop. I've been looking for a fix for that, and I read that setting "disable_path_info = Off" (since I had it enabled for nginx) would do the trick.

This change didn't fix the endless loop, but it fixed this issue at last! :)

[2018-05-31 04:37] defstat commented on #3403
@EmuAGR Thanks for sharing that!

I will check for inconsistencies regarding that setting.

Thanks!

[2018-05-31 07:16] EmuAGR commented on #3403
This also seems to have fixed a "create reviewer" problem where the corresponding settings didn't show after pressing the button. I think the button triggered a 404 error, but I don't remember well.

[2018-05-31 08:41] Ph-We commented on #3718
@asmecher, that really might be an option if some users did not prefer to have to different feeds: for issues and for announcements. I swear I've seen such journals.
However, I could not find the 'Announcements Feed' plugin you mentioned [here](https://forum.pkp.sfu.ca/t/last-announcement-in-block/24994/4).

[2018-05-31 09:09] ajnyga commented on #3745
I actually needed it for the cookieNotification plugin I made, but realized that I can just add the parameter alone to the href and the browser will add that to the existing url. So I have no immediate need for this.

A larger picture here is that domain handling is something that could be refined in OJS in general. I am thinking something similar you have with Wordpress Multi Site feature. This w

[2018-05-31 09:19] ajnyga commented on #3624
See https://ec.europa.eu/info/law/law-topic/data-protection/reform/what-personal-data_en#examples-of-data-not-considered-personal-data

So the question really is that is encrypting an IP irreversible.

[2018-05-31 10:31] bozana commented on #2072
Maybe we can leave this preprint discussion/solution for later, in another issue? So I think that @lilients can now rebase the current versioning code and proceed as she suggested, if possible add name (input text field), type (controlled vocabulary) and eventually description (input text field)...

[2018-05-31 15:14] asmecher commented on #1959
@bozana, you could use `get_class` or something, I suppose, and use an array parameter in `config.inc.php` -- something like

`curl_sslversion[ClassNameHere] = 4`

[2018-05-31 15:19] bozana commented on #1959
Hmmm... maybe I understand it wrong: I think this all is used like this, for example:
[code]
Thus, WebService will not know the class that is using it, or?
:-\

[2018-05-31 15:27] asmecher commented on #1959
Sorry, I misremembered this as a class extension. I suppose it would be necessary to add a new member variable to `WebServiceRequest` (e.g. `setSslVersion`) and a setter that an upstream caller could use.

[2018-05-31 15:28] defstat commented on #3462
@asmecher Everything merged

[2018-05-31 15:32] asmecher commented on #3462
Thanks, @defstat! Closing this issue.

[2018-06-01 10:39] MarHerUMR opened #3759 "[OJS 3.1.1.0] TinyMCE calls for google font even when enable_cdn is disabled"
In to share as little data as possible we disabled the _enable_cdn_ option in the config. But it turns out that the backend still makes calls to `//fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic`.

As far as I can see the call is made because the `plugins/generic/tinymce/styles/content.css` has the import:

`@import url('//fonts.googleapis.com/css?family=Noto+Sans:400,400ita

[2018-06-01 20:28] asmecher commented on #3242
@NateWr, I finally had a chance to look into this further. https://github.com/asmecher/pkp-lib/commit/3494c197e9840503869965a1a2f86f59d0a00c87 should get theme template overrides working again -- please have a look when you can!

[2018-06-01 20:39] asmecher commented on #3759
@MarHerUMR, at a glance it looks like there's a separate Noto Sans import that is dependent on the CDN setting being enabled -- you should be able to remove the reference in `plugins/generic/tinymce/styles/content.css` without any negative effects. Could you try this and confirm?

[2018-06-01 21:38] asmecher commented on #2958
Phew, @bozana, that's a tremendous amount of work. I've scanned the PRs and see a lot of assumptions, but they're sensible ones, and the admittedly increased complexity (particularly in SQL) is balanced by need and some nice clean-up along the way. I suggest we merge this and allow it to evolve/improve/undergo testing in `master`. That'll give @lilents a chance to rebase against these changes for

[2018-06-02 01:39] rcgillis opened #3760 "Image upload in TinyMCE hangs"
It looks as though when you go to add an image in, say, the page footer or any other part of the setup process, the image upload hangs without any resolution.
<img width="1038" alt="screen shot 2018-06-01 at 10 33 49 pm" src="https://user-images.githubusercontent.com/5053214/40869153-36d53474-65ec-11e8-93d1-0baad18b52a2.png">. Have tested in OJS instances that are running on 3.1.1 on two separate

[2018-06-02 08:05] Vitaliy-1 commented on #3760
Works fine on my OJS 3.1.1 instances (PHP 7.2 Ubuntu server and local machine with Windows). Is there any relevant information in PHP logs?

[2018-06-02 11:49] mtub commented on #1818
The recent PR (#3709) might be an easy solution for the legacy upgrade problems (#3707), but I fear that the list of licenses might get a little long if we were to also apply this to a license selector menu in settings. In terms of educating users I'd prefer a shorter list of recommended and up-to-date licenses (maybe just CC BY 4.0, CC BY-SA 4.0), but at least for legacy content we also need to d

[2018-06-02 18:36] Ph-We commented on #2958
We'd be happy to test it thoroughly as soon as it's merged!

[2018-06-03 06:52] t4x0n opened #3763 "[OJS 3.1.1-1] nine missed plugins?"
I don't know if is some intentional, or these plugins are deprecated... but...

At the version of OJS 3.1.1-1, these plugins are not available:

Authorization Plugins:
- LDAP

Generic Plugin:
- Lucene Search Plugin
- Announcement Feed Plugin
- phpMyVisites Plugin
- Recommend Similar Articles
- Browse
- Backup Plugin
- External Feeds

Report Plugins:
- Subscriptions Report

[2018-06-03 06:56] carzamora opened #3764 "[OJS 3.1.1-1] QuickSubmit plugin does not change message "Can be upgraded""
Even after making the plugin upgrade, the message "Can be upgraded" not change:
![image](https://user-images.githubusercontent.com/5422984/40884043-47ca35ca-66d9-11e8-8d5c-abc1d023369f.png)

I think in OJS 3.1.1 this was similar

[2018-06-03 11:38] rcgillis commented on #3760
Ok, so apparently a fix for this is to add a `site` folder in `public` - but most users are not going to know how to do this.

[2018-06-03 16:12] t4x0n opened #3765 "README file: update localization information"
README file has wrong information, this folders `help/en_US` and `rt/en_US` not exist and are referenced in this location in the file:

[code]
maybe `help/en_US` is really `docs/manual/en`?  but `rt/en_US` I don't know, maybe was in OJS 2?

[2018-06-03 19:28] israelcefrin commented on #3064
Hi @bozana I am facing this issue (no site folder inside public) with fresh installs.
I've fixed it manually creating such folder, but AFAIK it should work out of box when deploying new installs, isn' t?
Should I file a new issue or keep conversation on this one?

Cheers!

[2018-06-04 07:34] pkel commented on #3744
My migration ran into the following problem with the patch applied on top of 3.1.1.0

[code]

[2018-06-04 07:50] pkel commented on #3744
Okay, I see. Latest revision is somehow less or equal zero. This might be due to false migration to ojs2 years back. I will check and keep you up to date.

[2018-06-04 08:33] NateWr commented on #3760
It is probably the case that that folder is created automatically as part of other actions (eg - logo upload), and so _usually_ exists. But in your case the sequence of actions meant it hadn't been created yet.

Worth getting this fixed but if we're not getting lots of reports of it, it's probably only occurring in edge cases.

[2018-06-04 08:41] pkel commented on #3744
The following query on the migration databaser after the above failure returns the emtpy set:

[code]
I cannot see why `getLatestRevisionNumber` failed on assertion `$latestRevision > 0`.

[2018-06-04 08:50] NateWr commented on #1818
If I understand correctly, the PR just adds to the list of licenses to select to automatically complete the URL. But editors can still enter their own license details. Does that address your concern @mtub?

[2018-06-04 10:15] NateWr commented on #3242
It's still not working for me. You can use the Critical Times theme to test out the plugin template overrides:

1. Check out the `ojs3.2` branch of the Critical Times theme: https://github.com/NateWr/criticalTimes/tree/ojs3.2
2. Check out the `i3242_smartyv3` branch of the Browse By Section plugin: https://github.com/pkp/browseBySection/tree/i3242_smartyv3
3. Go to Settings > Journal > Sections an

[2018-06-04 10:27] NateWr commented on #3759
`plugins/generic/tinymce/styles/content.css` loads styles that are only applied in the iframe of the tinymce editor. That means that the noto font isn't loaded separately, and removing it from `content.css` will cause the content inside the editor to not be styled properly.

However, @MarHerUMR, if you are already disabling the CDN, then you won't have this font anyway, so you're probably safe rem

[2018-06-04 10:29] NateWr commented on #3759
Ooh, it supports multiple stylesheets. :pray: https://www.tinymce.com/docs-3x/reference/configuration/Configuration3x@content_css/ Ok, let me address this real quick.

[2018-06-04 10:48] NateWr commented on #3759
PR:
https://github.com/pkp/pkp-lib/pull/3767

Tests:
https://github.com/pkp/ojs/pull/1999

[2018-06-04 10:51] NateWr commented on #3763
Yes, the `master` branch includes plugins that are not ready for release. The build script excludes them when creating a release package. You can review the exclusions here:

https://github.com/pkp/ojs/blob/master/tools/buildpkg.sh

[2018-06-04 10:51] #3763 closed

[2018-06-04 10:54] NateWr commented on #3746
This looks familiar. Can you reproduce with the default theme?

[2018-06-04 10:57] NateWr commented on #3745
Probably. Can you also describe in more detail how the WordPress multi-site feature works, and which parts you would like to be available in OJS? My understanding is that it doesn't do domain mapping out-of-the-box, but that could be outdated info.

[2018-06-04 10:59] NateWr commented on #3742
Closing in favor of #3721.

[2018-06-04 10:59] #3742 closed

[2018-06-04 11:04] NateWr commented on #3472
Comment from https://github.com/pkp/pkp-lib/issues/3701

The issue contains a sample email.

[2018-06-04 11:04] NateWr commented on #3701
Moved comment to https://github.com/pkp/pkp-lib/issues/3472. Closing.

[2018-06-04 11:04] #3701 closed

[2018-06-04 12:21] ajnyga commented on #3745
I have to check what the current status of WP domain mapping is. At least it supports subdomains (you of course need wildcards) so that you can define the url's from the admin panel. At the moment you need to edit the config.inc.php and if you have one subdomain then you need to define a base_url for ALL journals you have even if they use the regular url path.

So getting rid of the config.inc.php

[2018-06-04 14:39] Vitaliy-1 commented on #3746
Yep

[2018-06-04 14:52] anupent opened #3769 "[OJS 3.1.1-1] Citation style uses journal initials instead of abbreviation"
See this forum post:
https://forum.pkp.sfu.ca/t/ojs3-1-1-1-citation-style-uses-journal-initials-instead-of-abbreviation/45503

Best regards,

[2018-06-04 16:51] #2104 closed

[2018-06-04 19:06] jmacgreg opened #3770 "Reduce the number of new submission notification emails for editors, and simplify their management"
Right now it's possible for editors to receive three emails notifying them of a new submission in the system:

1) They can be BCC'd onto the submission_ack email to the author (and BCC’d editors, potentially) - see https://github.com/pkp/ojs/blob/ojs-stable-3_1_1/classes/submission/form/SubmissionSubmitStep4Form.inc.php#L85. They **cannot** control whether they receive this via notification settin

[2018-06-04 20:37] asmecher commented on #3760
@rcgillis, I think OJS is already coded to do that upon installation (https://github.com/pkp/pkp-lib/blob/master/classes/install/PKPInstall.inc.php#L100..L102) -- are you sure the directory didn't get lost during some kind of administrative activity?

[2018-06-04 21:02] t4x0n commented on #3763
thanks @NateWr for the explanation! I'm sorry if I ask too much but, we just have to wait for a new release to get these plugins?

[2018-06-04 21:05] t4x0n commented on #3742
sorry @NateWr but this locale key is another one

I found two locale key missing: grid.action.viewEmail and grid.action.schedulePublication

[2018-06-04 21:11] asmecher commented on #3769
Try the attached patch (in `plugins/generic/citationStyleLanguage`).

[2018-06-04 21:11] #3769 closed

[2018-06-05 00:20] anupent opened #3771 "[OJS 3.x.x] Middle Name of Author is not displayed in citation (Vancouver)"
Please see the forum post here:

https://forum.pkp.sfu.ca/t/ojs-3-x-x-middle-name-of-author-is-not-displayed-in-citation-vancouver/45552

Best regards,

[2018-06-05 09:26] NateWr commented on #3763
I don't actually know what the plans are for these. Some of them are in-progress, I think (eg - Lucerne). Others will probably retired in favor of other approaches (eg - Browse is superseded by BrowseBySection and other browsing plugins will follow).

If you have questions about a specific plugin, or are interested in porting one from OJS 2 -> OJS 3, you can search for issues related to that plugi

[2018-06-05 09:32] NateWr commented on #3742
Yes, they're all related to the same base problem, which is that they appear to be auto-generated. They'll all be connected to one fix when we figure it out. It may be that I hammered these locale keys by mistake. Or maybe they never existed...

[2018-06-05 13:00] isgrim opened #3772 "[OMP] Keep insertion order for chapters"
Hello PKP Team and contributors,

student workers and staff using OMP to enter volumes with a large amount of chapters ( > 10 ) found it very annoying that you have to manually arrange the chapters, even if you add the chapters in the correct order.

I looked in to the code for the [ChapterDAO](https://github.com/pkp/omp/blob/master/classes/monograph/ChapterDAO.inc.php) and [ChapterForm](https://g

[2018-06-05 14:20] NateWr commented on #3759
This needs a commit to the `tinymce` plugin to add the new/modified CSS.

[2018-06-05 14:43] forgive38 commented on #3585
Hi,
To complete the discussion about rounds, one of ours journals found a bug when they create a new round ( they use the first round to have some quick reviews and open a second round for asking complete reviews )
Even if there is a revision, the status of the first round become "New version of submission has been requested." and a notification is in the task list of the author (no mail are sendi

[2018-06-05 16:24] asmecher opened #3773 "Correct SQL ordering for payment check"
See https://forum.pkp.sfu.ca/t/ojs-3-1-0-1-unlocking-articles-issues-paypal-payment-problem/37486/14 for details.

[2018-06-05 16:30] asmecher commented on #3772
Hi @isgrim -- yes, we already have a pattern for that, but it seems like that pattern wasn't applied in this case. Here's an example:

[code]

See `lib/pkp/controllers/grid/queries/form/QueryForm.inc.php`. Would you mind opening a PR to adapt this to chapters? I'd be happy to review/merge.

[2018-06-05 18:54] asmecher commented on #3771
@NateWr, did you get far into CSL's name model when implementing this? It looks like it just has "given" and "family", and I suspect adding the middle name to "given" would follow their model but I haven't looked into it in depth.

@bozana, tagging you too because of the author/user name changes upcoming.

[2018-06-06 06:32] t4x0n commented on #3763
Ok, I understand now... thanks!!

[2018-06-06 09:08] NateWr commented on #3771
Yeah I thought we won't have middle names anymore... I don't think the CSL schema even supports them: https://github.com/citation-style-language/schema/blob/master/csl-data.json#L71-L130

[2018-06-06 12:20] anupent commented on #3771
@NateWr, does that mean we won't have support for middle name for the citations even in future?

[2018-06-06 12:33] pkel commented on #3744
Dear @bozana, did you see my comments? I can't reopen the issue...

It think that your `provideSupplementaryFilesForReview` functions calls `getLatestRevisionNumber(file_id)` with a `file_id` that is not present in the `submission_files` table. How comes?

[2018-06-06 12:52] NateWr commented on #3771
The Citation Style Language itself doesn't support middle names. It uses a "given name" and "family name" approach, and middle names should be included in "given name". Soon, OJS will merge middle names into a "given name" field.

[2018-06-06 12:55] anupent commented on #3771
@NateWr, thank you for clarification.
I will be waiting till then.
Shall I close this issue and post the information you gave to the forum?

[2018-06-06 13:33] NateWr commented on #3771
Let's wait and see what Alec says.

[2018-06-06 14:40] jmacgreg opened #3774 "Review and standardize all stats/reports terminology"
Eg.: downloads vs. views; submission file vs. galley file; article page vs. abstract page; and so on. We should clarify and standardized these in the reports and in any public stats display (eg. "All downloads" hover-over in the article download visualization).

[2018-06-06 16:44] asmecher commented on #3771
I think the CSL spec does support middle names -- they're part of the given name. See http://docs.citationstyles.org/en/stable/specification.html#names

I didn't get into the code to see what support is there, but I wonder whether the `given` attribute can be given a list (e.g. `array('Alec', 'Karl')`).

[2018-06-06 16:51] NateWr commented on #3771
`givenName` expects a string. If citeproc-php accepts an array, it doesn't appear to be a documented feature.

[2018-06-06 16:57] asmecher commented on #3771
Hmm, and I didn't see anything useful in the documentation either. It might be worth pinging the citeproc-php authors for clarification.

[2018-06-06 19:52] asmecher opened #3775 "Move usage stats plugin into its own app-agnostic repository"
As part of removing the `plugins`/`lib/pkp/plugins` split, this plugin should be migrated to its own repository and made application-agnostic.

Partial motivation: https://github.com/asmecher/pkp-lib/commit/84b58e93745b85b07ded13bc72891ee9da9ea0c6#r29262817

[2018-06-06 22:37] asmecher commented on #3624
There's a potentially overlapping request at https://github.com/pkp/pkp-lib/issues/1179 to exempt bot user agemnts from session management.

[2018-06-06 22:38] asmecher commented on #1179
@mfelczak, possibly (and I just cross-linked with #3624, which might have overlapping concerns), but have you considered slowing the rate of indexing using `robots.txt` (for well-behaved bots)?

[2018-06-06 22:49] asmecher commented on #3765
Thanks, @t4x0n, I've corrected that documentation -- though we do have plans for a localization manual that will replace the brief section in README.

[2018-06-06 22:49] #3765 closed

[2018-06-06 23:44] asmecher commented on #3578
Current PRs for this:
- https://github.com/pkp/ojs/pull/1968
- https://github.com/pkp/pkp-lib/pull/3702
https://github.com/pkp/omp/pull/542

@crism, it doesn't look like the OMP or OJS tests passed -- have you looked at that?

[2018-06-07 07:13] bozana commented on #3744
Sorry @pkel, I was traveling, now I can take a look...

[2018-06-07 07:38] bozana commented on #3744
Could it be, that you have an entry in your `article_supplementary_files` table with a `file_id` that is not in the `articles_files` table? -- This seems to be the problem, if the function `getLatestRevisionNumber` gets the file_id that does not exist. Could you please double check that? E.g. with this SQL:
`SELECT * FROM article_supplementary_files WHERE file_id NOT IN (SELECT file_id FROM articl

[2018-06-07 08:24] NateWr opened #3776 "Missing locale key: user.authorization.invalidQuery"
Reported: https://forum.pkp.sfu.ca/t/message-key-without-message/45573

It is part of `QueryRequiredPolicy` and will be thrown if the query doesn't exist, or if the associated submission ID in the request doesn't match the query's submisson ID.

[2018-06-07 09:42] bozana opened #3777 "Eventually consider base_url change in usage statistics"
s. https://forum.pkp.sfu.ca/t/reprocessing-usage-stats-after-base-url-has-changed/45596

[2018-06-07 11:00] bozana commented on #3771
And considering my changes: I migrated the middle name to the "preferred public name" and not to the given name. Somehow it seemed more clean for me that way. Do you think I should migrate it to the given name, maybe also in general and independent of the CLS?
Also, I provide only given and family name to the citeproc-php, as till now. I think it does not make sense to provide "preferred public na

[2018-06-07 11:08] NateWr commented on #3771
Yeah I agree we shouldn't pass preferred public name to CLS. I'm ambivalent about where to put middle name, but I would guess that if someone has bothered to provide a middle name, it's probably because they want it to be visible, so maybe that's an argument to migrate it into `givenName`.

[2018-06-07 11:13] NateWr opened #3778 "Remove unused default context settings"
The default settings for a context in `registry/journalSettings.xml` include a number of settings which I believe are not used anywhere. I did an audit of OJS and found the following:

[code]

As well as the reading tools, which I believe are deprecated:

[code]

Does anyone know any reason why these shouldn't be removed, including their associated locale strings?

(If no objections, I'll do a sim

[2018-06-07 11:41] CFanselow commented on #3705
Hi @NateWr,

1. we have a journal that republishes analog issues in a digital form. The publication date is not important. It is just the (accidental) order of data being put to the system.

2. We want to move the current issue to the end of the list in the archive, because the word "archive" implies older issues.  The current issue is already accessible under "current".

best,
Carola

[2018-06-07 12:23] bozana commented on #3771
OK, I would then change it and migrate it to the given name, if @asmecher also agrees... THANKS!!!

[2018-06-07 12:53] bozana opened #3779 "possibility to set ssl version in WebService"
s. https://github.com/pkp/pkp-lib/issues/1959

[2018-06-07 12:57] NateWr commented on #3705
Thanks @CFanselow! A couple of follow-up questions:

Shouldn't the Publication Date still be accurate? I think this gets fed to third-party consumers, like Google Scholar, who will expect it to reflect the analog issue's publication date.

It sounds like you want issues ordered by publication date, but with the oldest first. Is that right? I don't want to encourage people to do this manually, beca

[2018-06-07 13:01] bozana commented on #3779
PRs:
pkp-lib ojs-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3780
ojs ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/2005 (submodule update only)

pkp-lib omp-stable-3_1_1:
omp omp-stable-3_1_1:  (submodule update only)

pkp-lib master:
ojs master:  (submodule update only)
omp master:  (submodule update only)

[2018-06-07 13:02] bozana commented on #3779
@asmecher, could you take a look? If OK, I will cherry-pick to those other branches... THANKS!!!

[2018-06-07 15:04] Vitaliy-1 opened #3781 "RecommendByAuthor plugin's template can't be overrided from the theme"
`RecommendByAuthorPlugin` class misses necessary code modifications

[2018-06-07 15:44] asmecher commented on #3771
That's my feeling as well.

[2018-06-07 15:46] asmecher commented on #2958
Yes! :fireworks:

[2018-06-07 17:05] bozana commented on #3771
Shell we then close this issue? -- when my changes come, i.e. middle name is added to the given name, this issue will be automatically solved...

[2018-06-07 18:10] asmecher commented on #3771
Yes -- @anupent, you can expect to see those changes in OJS 3.2.

[2018-06-07 18:10] #3771 closed

[2018-06-07 18:15] #3242 closed

[2018-06-07 18:29] asmecher commented on #3242
Merged & closed!

[2018-06-07 18:29] asmecher commented on #3242
(Thanks for a very helpful couple of review rounds, @NateWr.)

[2018-06-07 19:53] pkel commented on #3744
[code]

This is from our live system running 2.4.8 something. The timestamps indicate, that this was caused by OJS and not by our migration from another system to OJS.

[2018-06-07 20:41] amandastevens opened #3782 "Corresponding author and contact email on article"
A number of users and hosted clients have asked to have the option to indicate the corresponding author for an article and display their contact information on the article page in OJS 3.x.

Author contact information can be linked to through an ORCID profile if the author has entered their ORCID ID in their OJS user profile, but ORCID profiles are not always available or complete.

https://forum.p

[2018-06-08 05:32] bozana commented on #3744
I will close this issue and open the other one for that...

[2018-06-08 05:32] #3744 closed

[2018-06-08 05:36] bozana opened #3783 "no migration of active supp files with file_id=0"
in ojs 2 a supp file could be created without uploading a file. that file would have file_id = 0. consider that for the migration -- the possibility that file_id can be 0 also if it is not a remote supp file -- those files will/can not be migrated...
s. https://github.com/pkp/pkp-lib/issues/3744#issuecomment-395052113

[2018-06-08 06:14] bozana commented on #3783
PRs:
ojs master: https://github.com/pkp/ojs/pull/2008
ojs ojs_stable_3_1_1: https://github.com/pkp/ojs/pull/2009

[2018-06-08 06:14] bozana commented on #3783
@pkel, you can use the ojs_stable-3_1_1 patch, if you want... THANKS!!!

[2018-06-08 07:30] pkel commented on #3783
Perfekt, thanks. I will try the patch and report back.

[2018-06-08 10:34] heike-r commented on #3782
We have the experience that the corresponding author named on a manuscript is not always the submitting author, who uploads the manuscript.  Please consider this, when working further on this issue.

[2018-06-09 08:36] bozana commented on #2958
Everything merged, thus closing :tada:

[2018-06-09 08:36] #2958 closed

[2018-06-09 08:37] bozana opened #3784 "consider site primary locale and the submission locale change"
For the issue #2958 ...

[2018-06-09 09:04] bozana commented on #2958
@litvinovg, THANKS A LOT for contributing!!! :star2:

[2018-06-09 15:18] ajnyga commented on #3624
The changes are in these two branches
https://github.com/ajnyga/pkp-lib/tree/fix-3624
https://github.com/ajnyga/ojs/tree/fix-3624

Not sure how to create pr that would include both?

[2018-06-10 09:54] ajnyga commented on #3624
Initial pull request for cookie consent https://github.com/pkp/ojs/pull/2010

[2018-06-11 06:08] ajnyga commented on #3585
I am fairly sure I have mentioned this earlier, but in some cases journals start a new review round by accident. This happens when the submission is already in the review stage and they go, for some reason, to the submission tab/stage. If they do not know that you can navigate with the tabs, they may click the "send to review" button again, creating a second round.

So in short: if there already i

[2018-06-11 15:17] bozana commented on #3778
I believe the keywordsEnabledSubmission and keywordsEnabledWorkflow are still in use, s. Settings > Workflow > Submission...

[2018-06-11 15:35] t4x0n commented on #2716
Hi @asmecher, I think this is OK now!  You fix this in this issue initiated by myself: https://github.com/pkp/pkp-lib/issues/3004

[2018-06-11 16:06] asmecher commented on #2716
Thanks, @t4x0n!

[2018-06-11 16:06] #2716 closed

[2018-06-11 18:53] asmecher opened #3785 "Correct missing escaping of template variable"
The `$authors` variable in `templates/frontend/pages/search.tpl` is not escaped.

[2018-06-11 19:12] asmecher commented on #3785
This can be corrected for OJS between 3.0.0 and 3.1.1-1 by applying this patch: https://github.com/pkp/ojs/commit/ba66a117835a8bbbed4fb12d3c35734e996a211f.diff

For example, on most Linux systems this should work. Run it inside the OJS installation directory.

[code]
You should see the following output:

[code]

The issue is corrected in OJS 3.1.1-2 and newer.

[2018-06-11 19:14] #3785 closed

[2018-06-11 19:28] mfelczak commented on #1179
Thanks @asmecher, we've added a crawl delay for the time being.

[2018-06-12 11:31] bozana commented on #3695
@jalperin, I think with the new release this is not an issue any more, because now only revisions files are considered for further revisions (possible revision detection) i.e. if the author for example uploads a file with the same name as the original submission file, it will not be detected as possible revision, it will just be saved as a revisions file. If author then again uploads a file with t

[2018-06-12 11:31] #3695 closed

[2018-06-12 14:46] NateWr opened #3786 "UI components that communicate with the API don't consider mapped domains"
When mapping domains for each journal, the `baseUrl` will not include the context path. This isn't taken into account by the `getApiUrl` method used by the new Vue.js components.  We pass the context path as a JS variable: https://github.com/pkp/pkp-lib/blob/master/classes/template/PKPTemplateManager.inc.php#L688 and then rely on that to construct the URL: https://github.com/pkp/ui-library/blob/ma

[2018-06-12 16:06] asmecher commented on #3779
@bozana , that looks fine -- though I don't see anything in the PRs that actually uses the capabilities yet!

[2018-06-13 09:03] NateWr commented on #3530
This was fixed in https://github.com/pkp/pkp-lib/issues/3769

[2018-06-13 09:03] #3530 closed

[2018-06-13 13:59] bakbalazs commented on #3262
What is the expected due date for it to work?

[2018-06-13 16:05] bozana commented on #3779
Yes, this class seems not to be currently used in OJS/OMP core. I will use it in the new ALM plugin... Can I then merge?

[2018-06-13 17:02] asmecher commented on #3779
Yes, please go ahead!

[2018-06-13 17:18] jmacgreg commented on #3760
Closing - was an issue with the public files dir being missing.

[2018-06-13 17:18] #3760 closed

[2018-06-13 17:23] jmacgreg commented on #3187
I think this is now taken care of with the distinction in separate editorial decisions (and emails) for rejecting at the Summary page vs. rejecting at the Review page.

[2018-06-13 17:27] jmacgreg commented on #3650
Closing - not a consideration we can take on at this time.

[2018-06-13 17:27] #3650 closed

[2018-06-13 17:33] mfelczak commented on #688
@AhemNason, does this still apply to OJS 3.1+?

[2018-06-13 20:16] asmecher commented on #3262
@bakbalazs, the OJS 3.x plugin will be over at https://github.com/kaschioudi/sword. There is a pull request there that's in progress. I don't have a specific due date to give you, but most of the work is already finished.

[2018-06-13 20:21] bakbalazs commented on #3262
Thanks for the reply.

[2018-06-14 06:34] t4x0n opened #3788 "[OJS 3.1.1-2] Editors can't Read Review with default form"
When you use the default form for reviews and the Reviewer send a recommendation, the Editor is not able to read any comment.
This is what I see as Editor:
![image](https://user-images.githubusercontent.com/5422984/41395363-655822b4-6f7b-11e8-83a2-17f5d88e749f.png)

[2018-06-14 09:21] pkel opened #3789 "[OJS 3.1] Migration from 2: multiple reviewer uploaded files collapsed into one"
When migrating from OJS 2.4.8 to OJS 3.1.1-1, the following problem occurs.

In the old system, reviewers were able to upload multiple files together with their review. They could decide whether the files are meant for the author or not. (Reviewer name erased)

![ojs2-reviewer-uploaded-files](https://user-images.githubusercontent.com/11337857/41403007-127a2102-6fc4-11e8-8ff1-109612ae51b2.png)

Aft

[2018-06-14 09:31] pkel commented on #3789
I see know, that the history is empty for all migrated files. This is worth another issue.

[2018-06-14 10:01] retostauffer commented on #3789
Same OJS3 instance as @pkel adresses. This is what the database knows about the "Reviewer Files" (`file_id = 6506`; see screenshot included by @pkel):

* `select * from submission_files where file_id = 6506;`

[code]

These are two different files uploaded by one of our reviewers. OJS3 (after migration) thinks that the second file is a revised version of the first one.

[2018-06-14 10:04] pkel opened #3790 "[OJS 3.1] Migration from 2: file history empty"
During migration from OJS 2.4.8 to OJS 3.1.1-1 file upload date is lost or at least OJS3 does not show when files have been uploaded.

![files](https://user-images.githubusercontent.com/11337857/41405795-eaf82a50-6fca-11e8-9189-932c1b8f04e0.png)
![info](https://user-images.githubusercontent.com/11337857/41405797-ee169f8c-6fca-11e8-9233-8859f88c18cf.png)

Our investigation showed, that no entries t

[2018-06-14 11:00] pkel opened #3791 "[OJS 3.1] No/ambiguous clues about timeline of submission on main interface"
**Describe the problem you would like to solve**
When viewing a submission's workflow page, I am not able to easily determine when the submission was made. It is available in the Editorial History but the editor may not know to look there.

**Describe the solution you'd like**
Add the submitted date to the workflow page where it is easy to fine.

**Who is asking for this feature?**
No editor reque

[2018-06-14 12:39] NateWr opened #3792 "Update list separator locale key"
@bozana it looks like there are still some areas where the `common.listSeparator` key is in use. You changed it in https://github.com/pkp/pkp-lib/commit/bdb830b0a9d1fe2288c0dbfb5f763d07b106abab#diff-3b5ac1283ce98563f3403a121de3d2e8R177

I'm seeing it in `PKPSubmissionSubmitStep1Form`, `QueryForm`, and two language's `common.xml`.

[2018-06-14 13:27] bozana commented on #3789
Could you take a look at these two issues: https://github.com/pkp/pkp-lib/issues/3510 and https://github.com/pkp/pkp-lib/issues/3502 -- is this the same problem i.e. issue? I.e. different reviewer files were actually the revisions of the same file, which they are in OJS 3 as well, just that in OJS 3 one can only access the latest file revision, which is a general problem for all files grids and wi

[2018-06-14 14:41] retostauffer commented on #3789
Dear @bozana . Thanks for pointing that out and sorry we've missed it! It is kind of the same issue, however, in our case the two files are not revisions of the same file (at least not in all cases), but e.g., a _cover letter_ and the _review itself_ which should both be visible (one for the author, the other one for the editors). Easy to misinterpret in OJS2 as it looks as being two different fil

[2018-06-14 15:22] bozana commented on #3792
PRs:
https://github.com/pkp/ojs/pull/2015
https://github.com/pkp/ojs/pull/2016 (only submodule update)

[2018-06-14 16:31] #3792 closed

[2018-06-14 16:51] pkel commented on #3789
This is similar to / same as #3502. But I do not think the problem is fixed well. The v2 interface clearly allows to upload multiple files as reviewer.

Before "revision":
![1](https://user-images.githubusercontent.com/11337857/41425631-9b97a472-7001-11e8-9e9c-45412424da8b.png)

After "revision":
![two](https://user-images.githubusercontent.com/11337857/41425637-9e0a26d0-7001-11e8-9bdb-5150c4f0c36

[2018-06-14 17:09] asmecher commented on #3792
@bozana, is any backporting required? Just noting a similar issue coming up in the forum recently: https://forum.pkp.sfu.ca/t/assign-evaluation-characters-appear-ojs-3-x/45721

[2018-06-14 17:38] retostauffer commented on #3789
I agree with @pkel. Extra check: seems that we have, in total, 18 files with assoc_type 517 and a revision `>1` (**migrated database!**, each `file_id` counted only once;).

`select assoc_type, count(*) from submission_files where assoc_type is not null and revision > 1 group by assoc_type,revision;`

+------------+----------+
| assoc_type | count(*) |
+------------+----------+
|        517 |

[2018-06-14 17:50] asmecher commented on #3790
@pkel, there are both file-specific event logs, and submission-wide event logs. I don't believe OJS changes which entries are allocated to each, so the OJS 2.x event log data is essentially the same as the OJS 3.x data for migrated submissions. Do you see the file uploads logged in the submission-wide event log?

[2018-06-14 17:52] asmecher commented on #3791
Tagging @NateWr for consideration. @pkel, do you see the information you need in the Editorial History? (This is the submission-wide event log.)

[2018-06-14 17:53] asmecher opened #3794 "Add reference numbers to subscription list"
See https://forum.pkp.sfu.ca/t/show-reference-numbers-on-the-summary-page/13794 for details.

[2018-06-14 17:54] asmecher commented on #3794
PR: https://github.com/pkp/ojs/pull/2014

[2018-06-14 17:55] asmecher commented on #3794
Merged and forward-ported to `master`. Thanks, @tgc and @neffe!

[2018-06-14 17:55] #3794 closed

[2018-06-14 17:57] pkel commented on #3791
Yes, the information is in the Editorial History. I know how to find it. I''m worried about the average user, who generally judges after a first superficial look.

[2018-06-14 17:57] asmecher commented on #3788
@t4x0n, what version of OJS is this? Please include this in issues you create.

[2018-06-14 18:03] pkel commented on #3790
File specific event logs have `assoc_type = 515` as far as I can judge. No such entries are generated during migration. The submissions Editorial History shows the uploads. I think that the Editorial History is built from `assoc_type = 1048585`, right?

[2018-06-14 18:05] asmecher commented on #3791
Thanks, @pkel -- understood, just making sure it was available at least somewhere. We've made a lot of hard decisions in trying to keep the interface simpler in OJS 3.x than it was in OJS 2.x, which started out messy and got messier over the years. That's meant hiding a lot of information that used to be available, and I'm sure we haven't always gotten that right. @NateWr is the best person to thr

[2018-06-14 18:06] asmecher opened #3795 "Add reference number to institutional subscription form template"
See https://forum.pkp.sfu.ca/t/no-reference-number-in-the-subscription-settings-in-ojs-3/41261.

PR: https://github.com/pkp/ojs/pull/2013

[2018-06-14 18:07] asmecher commented on #3795
Merged and forward-ported to `master` -- thanks, @neffe and @tgc!

[2018-06-14 18:07] #3795 closed

[2018-06-14 18:10] pkel commented on #3791
I fully understand the motivation for stripping down the interface. You did a great job at large. I will keep reporting little issues like this one until we got the details right!

With this motivation in mind: File IDs are not relevant for the user. Dates are.

[2018-06-14 18:16] asmecher commented on #3791
Thanks, @pkel! We did wrestle over file IDs and decided to maintain them because it's the only truly unambiguous way to refer to a file. Titles don't work (almost all submission uploads will have the same title) and dates may be misleading (it suggests a linear progression of a file through workflow, when in practice it's more like forking/merging, e.g. as several reviewers mark up copies of the s

[2018-06-14 18:28] t4x0n commented on #3788
it's a clean installation of 3.1.1-2

[2018-06-14 19:55] asmecher opened #3796 "Correct missing locale key in OJS "log.review.reviewUnconsidered""
See https://forum.pkp.sfu.ca/t/locale-keys-without-any-value-in-en-us/45756. Suggest moving it to the shard library, as the language isn't application-specific.

[2018-06-14 20:05] israelcefrin opened #3797 "BIBITEX missing last character"
Download BIBITEX format of citation is generating a file missing last character "}" and it avoids to import into Reference manager.
I've tested on a OJS 3.1.1-2, please check it: Article detail page > More Citation Formats > Bibtex (last option).

[2018-06-14 20:06] asmecher commented on #3796
For affected OJS installations, you can apply https://github.com/pkp/pkp-lib/commit/022a90347efbe3559f0ed3fa642484fac8aff304.diff in the `lib/pkp` subdirectory.

[2018-06-14 20:06] #3796 closed

[2018-06-14 21:46] asmecher opened #3798 "Verify submission archive process on rejection"
Described in UI/UX testing: https://docs.google.com/document/d/1PIbROcG64a19V5paSuGeSENSLS_OC8MP4DrMKyRMRz4/edit?disco=AAAAB9gQhWg&usp=todo_email_discussion&ts=5afdcb1b

[2018-06-14 22:33] asmecher commented on #3617
Thanks, @nibou230, I'm just looking over these again (and have posted some comments) and have a few thoughts about how to proceed next.

I think there are roughly 3 different kinds of changes included in the PRs:
- Code cleanup that's unrelated to SQL Server, e.g. to resolve warnings
- Code that standardizes/improves OJS without adding anything SQL Server-specific, e.g. moving ADODB to a Composer

[2018-06-14 22:42] asmecher commented on #3792
^ Never mind, the poster thought it was broken in English but it was just in the (incomplete) Spanish.

[2018-06-14 23:29] asmecher commented on #2166
Already implemented as part of pkp/pkp-lib#3462.

[2018-06-14 23:29] #2166 closed

[2018-06-15 09:20] bozana commented on #3792
No backporting required...

[2018-06-15 11:34] bozana commented on #3789
@retostauffer, the assoc_type = 517 is ASSOC_TYPE_REVIEW_ASSIGNMENT, s. https://github.com/pkp/pkp-lib/blob/omp-3_1_1-2/classes/core/PKPApplication.inc.php#L28. The other assoc types are also defined in that pkp-lib class and in the appropriate OJS child class (classes/core/Application.inc.php).
The corresponding assoc_id is then the review_id (that file belongs to).

[2018-06-15 11:50] bozana commented on #3790
Yes, the event_log table in OJS 2 only contained entries for assoc_type = 257 i.e. ASSOC_TYPE_ARTICLE. Those were migrated to 1048585 in OJS 3. So I am not sure if there is a possibility to differentiate those event logs and migrate them as event logs for files wit the assoc_type = 515 i.e. ASSOC_TYPE_SUBMISSION_FILE...

[2018-06-15 11:57] pkel commented on #3790
OJS3 adds multiple event_log entries per uploaded file. One with ASSOC_TYPE_ARTICLE and one with ASSOC_TYPE_SUBMISSION_FILE.  I think the editorial history is constructed from filtering the `event_log` table on `assoc_type = 1048585` and the submission id. The file history is built from filtering the same table on `assoc_type = 515` and the file id.

The upgrade script could iterate over the submi

[2018-06-15 12:39] pkel commented on #3789
Yes we changed the names to the original file name. But I cannot follow how `8-60-1-RV.docx` and `8-60-2-RV.pdf` imply that a user just revised a file. The naming scheme could equally be `submission-review-filenumber.extension`.

The average reviewer does at most a view reviews via OJS per year. He does not bother with
file naming schemes. He does a last minute review and uploads two files, maybe

[2018-06-15 14:04] bozana commented on #3789
Hmmmm.... yes...
Depending on how the issue https://github.com/pkp/pkp-lib/issues/2130 is solved, your case could not be a problem any more, once that issue is solved -- i.e. the editor would see that other file (revision) and could act appropriately, right?
But, I think the problem could be that in OJS 2 you could chose which revision of the reviewer file to show to the author and which not (regu

[2018-06-15 14:39] nibou230 commented on #3617
Thanks for the time spent reviewing all the code, @asmecher.

I'm still not really used to the advanced functions of git (for instance the rebase one). I will keep commiting the stuff the way I do now to complete this PR. It will certainly be easier to get used to the advanced functions while working on a new and fresh smaller PR.

We have a lot of completed work here that can be eventually shared

[2018-06-15 17:32] #3779 closed

[2018-06-17 09:41] vasylOstrovskyi opened #3802 "Multiple duplicate names in "Enroll existing user" as reviewer search field"
I installed the latest OJS from github.
I ctreated some test users and uploaded test paper.
I moved the paper to the review stage, and pressed the "Add reviewer" button
I pressed "Enroll existing user"
When I start typing name in the search field, a list of users appear, which contains each user several times.

I found that the problem is in lib/pkp/classes/security/UserGroupDao.inc.php file, in f

[2018-06-18 08:47] NateWr commented on #3797
We use the official CSL style for this: https://github.com/citation-style-language/styles/blob/master/bibtex.csl

It looks like it is in active use but has not had any similar bug fixes recently: https://github.com/citation-style-language/styles/commits/master/bibtex.csl

You could try updating the file in `/plugins/generic/citationStyleLanguage/citation-styles` to see if that fixes it. If not, yo

[2018-06-18 09:50] NateWr commented on #3791
Hi @pkel,

Yes, I too questioned the file IDs, but it turns out a significant portion of journals are using some external tracking system (sometimes just email), and rely on IDs like this to refer unambiguously to specific versions of files.

I agree the submission date should be more readily accessible. I have some ideas I've been kicking around to bring that whole top bar (metadata, history, lib

[2018-06-18 14:35] bozana opened #3803 "integrate new Crossref deposit and submissionDownload API"
New deposit API should immediately return the DOI registration status, which would significantly improves the current registration process. Here, each article DOI is registered using a separate, own XML file (i.e. no one XML file for several articles any more). This will change the user notification message display (pink box in the right top corner): one notification message (either "registration

[2018-06-18 14:43] bozana opened #3804 "Crossref Reference Linking"
This plugin will automatically add the extracted article references to the DOI registration with Crossref. Crossref will then automatically check if any DOIs can be found for the submitted references. Shortly after that, the user can use the plugin to check for the found references DOIs, either automatically, or manually in the submission metadata tab "References". If article references change onc

[2018-06-18 15:59] bozana commented on #2665
In this forum post it is wished that also journal managers are informed about the revision upload, s. https://forum.pkp.sfu.ca/t/submission-acknowledgement-email-upon-submission-of-revised-manuscript/43703/5 -- just to eventually consider and discuss it as well...

[2018-06-18 16:02] asmecher opened #3805 "Correct missing escaping in "catalog.noTitlesSearch""

[2018-06-18 16:08] asmecher commented on #3805
This can be corrected for OMP between 1.2.0 and 3.1.1-1 by applying this patch: https://github.com/pkp/omp/commit/ebf3a701708112f4973d02f26a0b1d746dcd4970.diff

For example, on most Linux systems this should work. Run it inside the OJS installation directory.

[code]
You should see the following output:

[code]

The issue is corrected in OMP 3.1.1-2 and newer.

If you're using checkouts from git,

[2018-06-18 16:08] #3805 closed

[2018-06-18 16:08] bozana commented on #3758
In this forum post https://forum.pkp.sfu.ca/t/ojs-3-1-how-to-get-an-author-to-update-metadata-in-submission-or-review-phase/37056/27 the editing of the article metadata by the author is wished for the editing stage as well -- just a note to eventually consider or discuss it here as well...

[2018-06-18 19:05] t4x0n commented on #3758
Ok, have sense too because one time the manuscript is accepted, the metadata depends on the last version and the last version probably has been changed through workflow

[2018-06-19 03:10] t4x0n opened #3806 "[OJS 3.x] expand width CSS class pkp_modal_confirmation"
My proposal is about width size of modal confirmations. Right now the modal size is set in 30 em and is ok only if the text is minimal, but if you need show some more is a little bit uncomfortable. I think just with set in at 40 or 45 em this problem disappear.

The CSS class is:   .pkp_modal_confirmation

Now (max-width: 30 em)
![aaaaadadadd](https://user-images.githubusercontent.com/5422984/4157

[2018-06-19 08:52] NateWr commented on #2665
That runs counter to the more frequent requests we get to cut down on emails to journal managers. I think we need to consider requests like this when we take a more comprehensive look at emails/notifications in the system. Perhaps it should be possible to configure at the journal level a CC on any specific email/notification. Then a journal manager can decide what they do and don't want to receive

[2018-06-19 09:15] NateWr opened #3807 "Submission searching is case-sensitive in postgresql"
When searching in the submissions list, the search should be case-insensitive. In postgresql, the `LIKE` syntax is case-sensitive by default.

Is there a way to ensure case-insensitivity for MySQL/Postgresql/MSSQL?

Searching code is at: https://github.com/pkp/pkp-lib/blob/master/classes/services/queryBuilders/PKPSubmissionListQueryBuilder.inc.php#L305-L328

User list query builder should also be

[2018-06-19 09:27] NateWr opened #3808 "CitationStyleLanguage should include abstract"
The abstract is a valid property in the CSL specification, so we should include it in the citation data that is passed to citeproc-php.

[2018-06-19 09:32] NateWr commented on #3808
Self-merged. https://github.com/pkp/citationStyleLanguage/pull/35

[2018-06-19 09:32] #3808 closed

[2018-06-19 09:38] isgrim opened #3809 "[OJS 3.x] Journal E-Mail Signature lost in migration from 2.4.8.2"
Hi PKP-Team,

It seems there is a small bug in a migration, which overrides the E-Mail signature.

The only code I found, which acesses the "emailSignature" Journal Setting was the function "htmlifyEmailTemplates":
https://github.com/pkp/ojs/blob/master/classes/install/Upgrade.inc.php#L880-L889

For all journals the emailSignature Field is overwritten with the value from the emailHeader.
I dont kn

[2018-06-19 09:48] NateWr opened #3810 "Can not edit review assignment"
When trying to edit a review assignment, a fatal error is thrown:

[code]

First reported: https://forum.pkp.sfu.ca/t/accepted-review-can-not-be-edited/45824

Reproduced in current `master` (after 3.1.1-2).

[2018-06-19 09:55] bozana commented on #3810
Seems like the other function calls in that code line should be fixed as well, i.e. getDateDue, getDateResponseDue, getReviewMethod

[2018-06-19 09:56] ajnyga commented on #2665
Can not find a thumbs up icon big enough for this. For installations with several journals this would be an absolutely great feature and would really make the whole notification system more transparent!

[2018-06-19 09:57] bozana commented on #2665
it's :+1000: ;-)

[2018-06-19 13:25] eniocarboni opened #3811 "Merge the user generates problems in the submission if he is a participant in the discussions"
If a "myuser" user (editor, guest editor, or other) is one of the participants in the discussions on a submission and must be "merged" (to be deleted by Ojs) with the "newuser" user then we have a problem.
As soon as the merge is done, in the same "submission" the box to the right of the "Participants" no longer appears because here (ie in the "stage_assignments" table) the merge has not been made

[2018-06-19 13:54] bozana opened #3812 "possibility for plugins to add user and author metadata"
Currently the user and author form is implemented so that it is not possible to correctly add/influence the user/author metadata from a plugin.
Generally:
-- the form construct, initData, readInputData, and execute function should use `parent::...` call at the appropriate place, in order for a plugin to be able to hook into
-- the object that is saved in the form executable function should either

[2018-06-19 14:20] bozana commented on #3812
PRs:
pkp-lib ojs-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3813
ojs ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/2019 (only submodule update)

pkp-lib omp-stable-3_1_1:
omp omp-stable-3_1_1:  (only submodule update)

pkp-lib master:
ojs master: (only submodule update)
omp master: (only submodule update)

[2018-06-19 14:21] bozana commented on #3812
@asmecher, could you take a look at the PR above? -- If OK, I will cherry-pick to other branches. If you think it should not go to stable branch, I will only provide it for master.
THANKS!!!

[2018-06-19 18:26] asmecher opened #3814 "Remove reference to nonexistent template reviewerRecommendations.tpl"
See https://forum.pkp.sfu.ca/t/omp-read-review-screen-showing-warning/45782 for details.

[2018-06-19 18:28] #3814 closed

[2018-06-19 19:34] asmecher commented on #3601
Another (worthy) request: add a link to the published article, when applicable. https://forum.pkp.sfu.ca/t/exporting-article-urls/45777

[2018-06-19 20:11] asmecher commented on #3802
@bozana, this appears to have come in with https://github.com/pkp/pkp-lib/commit/32d50e1a846d8c9493ec6a1f24661aa0b28371d7#diff-6993579cf500b691f53345aa057a4b02R466 -- mind taking a look?

[2018-06-19 20:32] asmecher commented on #3811
@eniocarboni, glancing at the code (https://github.com/pkp/ojs/blob/ojs-stable-3_1_1/classes/user/UserAction.inc.php#L139..L152), it looks like stage assignments should be transferred; have you run an example test case on this to make sure it's duplicated with OJS 3.1.1? What was the example test like?

[2018-06-19 21:31] eniocarboni commented on #3811
Hi @asmecher,
I am using OJS 3.1.1 as I see from "Administration" -> "System Information"
I checked and the UserAction.inc.php file matches.

A very simple test on journal "test":
1- make a submission (title: merge user example, submission_id=100)
2- create 2 users, olduser and newuser and grant role "Guest editor"
3- open the submission (id 100) at /index.php/test/workflow/index/100/1
4- at "Part

[2018-06-20 09:57] NateWr commented on #3806
Hi @t4x0n, this won't really be appropriate for our typical usage, which is short text. Where is this example taken from? I can offer a couple of suggestions:

1. If it's a custom workflow, I might be able to suggest some CSS that will target confirmation modals on this page.

2. If you have control of the LinkAction which loads this confirmation modal, you could extend the `ConfirmationModalHandl

[2018-06-20 10:22] NateWr commented on #3340
A quick diff which appends the version of the app into the query string:

[code]

With this approach we end up with URLs to static assets like `/1.11.0/jquery.min.js?v=3.1.1` which are confusing and unnecessary. Might be worth thinking about whether we should pass a version with the asset registration, so this can be controlled better. Or whether that's all just too much premature optimistaion.

[2018-06-20 12:45] isgrim commented on #3812
@bozana
Thanks for implementing this. This will help alot with orcidProfile and other Plugins.

[2018-06-20 14:09] NateWr commented on #3807
Thanks @ctgraham! I had to work around some restrictions in the Laravel query builder we're using, so we run PHP's `strtolower()` on the query part. Are you aware of any discrepancies between SQL's `lower()` and PHP's `strtolower()` that will prevent matches?

(I also found and fixed a bug with searching assigned submissions.)

@asmecher, would you code review?

PR:
https://github.com/pkp/pkp-lib/

[2018-06-20 14:19] ctgraham commented on #3807
Pairing PHP's `strtolower()` with SQL's `lower()` seems reasonable.

[2018-06-20 16:31] t4x0n commented on #3806
Sorry, I didn't give more info... this is a modal at Step 3 in the review process, when you click on Reviewer Guidelines
![revprocojs](https://user-images.githubusercontent.com/5422984/41670937-aed0fc10-7483-11e8-91c3-b6e471f18cbe.png)

and the Reviewer Guidelines are the Step 2, so we see a lot of space empty in Step 2 for Reviewer Guidelines and move forward to incorporate some instructions abou

[2018-06-21 09:04] NateWr commented on #3806
The following CSS will restrict your changes to just confirmation modals in the reviewer pages:

[code]

This is probably the easiest way to get what you want with minimal impact on the rest of the system.

[2018-06-21 09:45] NateWr commented on #3807
Merged. Thanks for the assist @ctgraham. :+1:

[2018-06-21 09:45] #3807 closed

[2018-06-21 15:09] mfelczak opened #3817 "Add option to display journal summary on homepage"
We're receiving repeat request for this from hosted journals. At the moment the workaround is to move additional homepage content to the top of the homepage which requires either modifying a system template or a custom theme.

Settings > Journal > Journal Summary already exists and could be used for this purpose instead.

[2018-06-21 15:48] bozana commented on #3016
@israelcefrin, here the patch for the 3.1.1-2: https://github.com/pkp/ojs/pull/2021/files

[2018-06-21 15:50] bozana commented on #3802
@asmecher, those changes came with multilingual user names, i.e. this issue is for OJS 3.2...

@vasylOstrovskyi, you used the master branch, right?

I'll test it for both branches, stable and master...

[2018-06-21 15:58] bozana commented on #3802
the problem seems to exist only in the master branch...

[2018-06-21 16:15] bozana commented on #3802
PR: https://github.com/pkp/pkp-lib/pull/3818

[2018-06-21 16:15] bozana commented on #3802
@vasylOstrovskyi, thanks a lot!!!
Are you testing the new feature "multilingual user and author names" ?

[2018-06-21 16:15] bozana commented on #3802
merged thus closing...

[2018-06-21 16:15] #3802 closed

[2018-06-21 16:45] t4x0n commented on #3806
thank @NateWr, but I tried uploading a CSS file in Website Settings > Appearance but this style sheet is only called in the frontend, not in the backend, is correct?

[2018-06-21 18:44] stranack opened #3819 "Consider adding "Languages" to Settings Wizard"
This is a major missing piece from the settings wizard needed by a good proportion of our journals (i.e., non-English or multilingual). Adding it would be a good step away from being so anglo-centric.

Also, I'm setting up a lot of Spanish course journals for PKP School students and it requires an extra step I'd like to avoid :)

[2018-06-22 08:13] NateWr commented on #3806
Yes, that's correct. It may require a bit more intervention. You could spin up a small custom plugin to load in the additional CSS on the backend, but it may just be easier to open up https://github.com/pkp/pkp-lib/blob/master/styles/controllers/modal.less and chuck this into the bottom (of course, then you'll need to manage this change manually against updates).

If you want some hints on the cus

[2018-06-22 08:35] Vitaliy-1 opened #3820 "file_type of newly uploaded JATS XML"
After upgrading from OJS 3.1.1 to OJS 3.1.1-1, I've noticed some changes in the determination of file_type for JATS XML galley files. Now they get `text/xml` type instead of `application/xml`.
I experience such behavior only on my local machine, but not on production site. Some users also report this problem, some not. This can cause some issues, like: https://github.com/Vitaliy-1/oldGregg/issues/

[2018-06-22 10:22] bozana commented on #3811
PRs:
pkp-lib ojs-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3821
ojs ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/2023 (only submodule update)

pkp-lib omp-stable-3_1_1:
ojs omp-stable-3_1_1:  (only submodule update)

pkp-lib master:
ojs master:  (only submodule update)
omp master: (only submodule update)

[2018-06-22 12:32] pkel commented on #3790
In order to make things more clear: The 3.1 interface assumes that event_log entries on the file level exist. Upload dates and revisions are only accessible via the "File History" view. This view is generated from the event_log table. Unfortunately, the upgrade script does not generate any event_log entries for files. Thus, the file history of migrated files appears empty. Neither the upload date

[2018-06-22 13:57] bozana commented on #3811
Everything merged, thus closing...

[2018-06-22 13:57] #3811 closed

[2018-06-22 14:14] asmecher commented on #3820
@Vitaliy-1, I suspect the change in behavior isn't related to OJS -- either the content of your XML is getting it detected differently than previous files, or your PHP mime detection toolset (and underlying OS tools it relies on) have changed. I tend to treat `application/xml` and `text/xml` synonymously, e.g. in the Lens Reader plugin.

In any case, the detection code hasn't changed within the 3.

[2018-06-22 21:02] asmecher opened #3824 "Fix SQL error in Catalog Management with PostgreSQL"
See https://forum.pkp.sfu.ca/t/error-omp-3-1-1-function-managecatalog/45783 for details:

[code]

[2018-06-22 21:20] asmecher commented on #3824
To patch this, apply `https://github.com/pkp/omp/commit/7c20068dbc1bb21ff3db47b048193ff7a57fee78`, e.g.:

[code]

[2018-06-22 21:20] #3824 closed

[2018-06-22 21:22] asmecher commented on #3811
Good spotting, @bozana -- thanks, @eniocarboni!

[2018-06-23 06:44] t4x0n commented on #3806
I made a similar question in the forum but for a form template... (https://forum.pkp.sfu.ca/t/how-to-customize-submission-form/45943) I know how works a theme but not a plugin, in a theme you replace some default template files for others, if I could be made this in the backend with a plugin I will be happy. I know PHP and CSS, but you use a framework (Symfony I guess) and I do not know any about

[2018-06-25 09:56] NateWr commented on #3806
From that forum post, it looks like maybe you're already using a custom theme? If so, it might be easiest just to add the backend style there.

In the theming guide, there's a section "Theming the Editorial Backend". The first part of that describes how to load a custom LESS file on the backend:

https://pkp.gitbook.io/pkp-theming-guide/en/theme-backend

[2018-06-25 11:15] sabrinaeck commented on #2665
This is something we are missing from version 3.0.0.0.0... on. We would love to have this "CC" feature too!

[2018-06-25 15:09] larsvilhuber commented on #3386
I second the proposal here, with an additional twist:

- when DESK REJECTING (without review), there is NO indication whatsoever on the "Workflow" page of the current state ("Submission" tab). See screenshot of a **declined** article (note the absence of any indication thereof on this tab).
![screenshot-declined-submission-desk-reject](https://user-images.githubusercontent.com/7022712/41858526-1d3

[2018-06-25 18:29] t4x0n commented on #3806
Thank you!!
Now I need to try some code... and, maybe, learn some of LESS ;)  but I know CSS very well, thanks again!!

[2018-06-25 18:31] bozana commented on #3684
Hi @luisja58, I cannot reproduce it with the current omp-stable-3_1_1 branch. Could you maybe explain it more, when exactly this happens? -- for me to try to reproduce it...

[2018-06-25 19:31] asmecher opened #3826 "Resolve missing GROUP BY in submission list fetch"
Results in the following PostgreSQL error:

`ERROR: column "ps.pub_id" must appear in the GROUP BY clause or be used in aggregate function`

See e.g. https://forum.pkp.sfu.ca/t/error-omp-3-1-1-function-managecatalog/45783/8.

[2018-06-25 19:41] asmecher commented on #3826
(All the attached patches are equivalent, just applied to different branches.)

[2018-06-25 19:41] #3826 closed

[2018-06-25 21:35] asmecher opened #3827 "Make privacy statement presentation and form checks consistent"
Currently the form checks for the privacy statement consent are *always* enforced.
However, the reviewer step form only presents the checkbox under certain conditions:

[code]

The form checks need to be added only when the checkbox is presented, and vice versa.

[2018-06-25 22:50] israelcefrin commented on #3797
I've opened an issue on [citeproc-php Github project](https://github.com/seboettg/citeproc-php) and their answer has fixed this I've  reported here.

As  they wrote, the following workaround  works fine.
Editing  the style  on line 146,  replacing
`<group prefix="{" suffix="}" delimiter=", ">`
with
`<group prefix="{" suffix=" }" delimiter=", "> `
or
`<group prefix="{" suffix="\n}" delimiter=", ">`

[2018-06-26 08:15] luisja58 commented on #3684
It seems that it is solved. In the omp311-1 version it appears well.

[2018-06-26 08:16] #3684 closed

[2018-06-26 08:40] NateWr commented on #3806
:+1: I'm going to close this issue but feel free to reopen if you want to discuss things further.

[2018-06-26 08:40] #3806 closed

[2018-06-26 08:51] NateWr commented on #3797
Great! I'm a little wary of modifying the style itself, since that is third-party work and, ideally, we want to be able to just pull an updated copy without managing modifications ourselves.

It might be worth opening an issue on the https://github.com/citation-style-language/styles repo pointing to the difficulties with `citeproc-php`, and seeing if they've encountered any solutions. If not, then

[2018-06-26 10:21] luisja58 opened #3828 "lack of privacy statement in register when there are several journals in site"
When a user register in a site with serveral journal (../index/user/register), the form does not contain the privacy statement.

[2018-06-26 11:02] isgrim commented on #3817
We stumbled open this same issue while testing the migration from OJS 2.4

[2018-06-26 11:03] isgrim commented on #3266
@asmecher Will close this, as a pull request is now open for the plugin additions

[2018-06-26 11:03] #3266 closed

[2018-06-26 11:04] isgrim commented on #3772
I will work on this as soon as I find some time.

[2018-06-26 14:23] jafamo opened #3830 "Override admin template"
Hi @NateWr ,
I have problems to override templates. I commented on the forum about this problem.
I followed all the links in this link.
[forum.pkp.sfu.ca](https://forum.pkp.sfu.ca/t/how-can-i-override-backend-templates-ojs-3/33512/6)
I tried to do in a new fresh install (ojs-stable3.1.1)

I attached my plugin.
[test.zip](https://github.com/pkp/pkp-lib/files/2137514/test.zip)

Thank you!!

[2018-06-26 14:30] NateWr opened #3831 "Can't override core templates"
In several places, templates call other templates with the `core:<path>` prefix. This prevents plugins from overriding these templates.

A quick scan suggests that we use it in several places where it is not necessary. We should remove the `core:` prefix from any template calls unless we're sure we never want this template overridden.

[2018-06-26 16:03] isgrim commented on #1369
I also think ISO8601 Date with a precision mask for year, month, day would be a good fit.
XML Schema specifications has some bits about partial dates:
https://www.w3.org/TR/xmlschema-2/#gYear

Wikidata goes much beyond this:
https://www.wikidata.org/wiki/Help:Dates#Inexact_dates
But this is also overkill.

Would be very happy if this will be implemented for OJS 3.2. :smile:

[2018-06-26 16:44] crism commented on #3578
@asmecher, I think you’re write that monolithic PRs aren’t going to work… they get out of date w.r.t. master too quickly. I’ll drop those and submit focused vertical PRs for each interface.

[2018-06-26 16:46] asmecher commented on #3266
Thanks, @isgrim!

[2018-06-26 16:49] asmecher commented on #3831
@NateWr, the `core:` prefix is used to distinguish between application and pkp-lib repositories in cases where the same template might appear in both. Often an app-specific template will augment a built-in one using that approach.

[2018-06-26 17:50] mfelczak opened #3832 "Add paypal plugin composer dependencies to OMP build instructions"
... and update composer path to root app directory as opposed to lib/pkp

[2018-06-26 21:10] asmecher opened #3833 "Fix citation style language plugin where locales don't exist"
Currently the CSL plugin will fail if the user's locale doesn't exist in the CSL library.

[2018-06-26 21:12] asmecher commented on #3833
PR: https://github.com/pkp/citationStyleLanguage/pull/36

@NateWr, would you mind reviewing this?

[2018-06-26 21:34] asmecher opened #3834 "Login page for disabled contexts not available"
Requests in disabled contexts by users who are not logged in result in 404s. It would be better (IMO) to redirect them to the login page, which needs to be made accessible for this case.

[2018-06-26 21:36] asmecher commented on #3834
Incidentally, I think the current 404 redirect is not working as it was intended to. Per https://github.com/pkp/pkp-lib/blame/ojs-3_1_1-2/classes/core/PKPPageRouter.inc.php#L180, `$page` would be set to `./pages/index/index.php`, not `index` as was probably intended.

[2018-06-26 21:37] asmecher commented on #3834
PR: https://github.com/pkp/pkp-lib/pull/3835

@NateWr, would you mind looking at this one?

[2018-06-26 23:21] wesambhaya commented on #3833
Thank you very much, it works. Regards

[2018-06-27 00:50] israelcefrin opened #3836 "Privacy consent statements error in registration form multi-journal install"
Multi-journal registering form page doesn't allow to proceed with registration since it doesn't display checkbox with privacy consent. That way it always returns a form validation error message.

See how it shows to Portal registering page:
https://demo.publicknowledgeproject.org/pkpschool/ojs3/index.php/index/user/register

And how it is shown in a journal from this Portal:
https://demo.publickno

[2018-06-27 11:02] bozana commented on #3783
@pkel, did the patch worked? Can I merge it? THANKS!

[2018-06-27 11:04] bozana opened #3837 "do not display references input field in the metadata modal submission tab"
this change reverted also the display in the metadata modal, submission tab: https://github.com/pkp/pkp-lib/commit/897f42c7ba0cc8983bfd48f1cb1ceb054c88e5e5#diff-98ca655f1b01f11de7320d28f6956365

additionally, for some reason, the references textarea was multilingual, which led to an error

[2018-06-27 12:18] bozana commented on #3837
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3838
ojs master: https://github.com/pkp/ojs/pull/2024
omp master: https://github.com/pkp/omp/pull/552

[2018-06-27 15:20] #3837 closed

[2018-06-27 15:35] bozana commented on #3812
@asmecher, may I merge this when the tests pass?

[2018-06-27 16:05] bozana commented on #3775
@asmecher, would it be OK to add a function getApplicationName to the Application class, to differentiate a few things? Or shall I rather use other instruments? :-)

[2018-06-27 16:10] bozana commented on #3775
Ah, I see the PKPApplication already have getName()...

[2018-06-27 17:20] asmecher commented on #3812
It looks to me like they're running now -- need me to take a look?

[2018-06-27 21:06] bozana commented on #3812
Thanks a lot @asmecher! I merged the stable PRs and considered your comment in master. When the tests pass I will merge...

[2018-06-28 06:10] #3812 closed

[2018-06-28 09:58] pkel commented on #3783
Sorry. I obviously forgot about the "... and report back" part.

**The patch worked. The upgrade went through.**

Thanks again.

[2018-06-28 16:04] asmecher opened #3844 "Improve feedback when payment settings unconfigured"
Currently leaving the payment settings unconfigured leads to parts of the payment system being inactive without any hint why; see e.g. https://forum.pkp.sfu.ca/t/where-do-i-as-a-reader-find-information-about-subscription-in-ojs-3/45846. Add a UI hint or somehow enforce the settings being completed.

[2018-06-28 16:14] asmecher opened #3845 "Respond to requests for nonexistent journals with a 404"
Currently requests for nonexistent journals (by context path) will result in the site index displaying (even when there is only one context, in which case that page shouldn't be viewable). Respond with a 404 instead.

See e.g. https://forum.pkp.sfu.ca/t/redirect-to-site-page-if-journal-path-is-wrong/46102

[2018-06-28 16:15] #3845 closed

[2018-06-28 17:27] defstat opened #3846 "NavigationMenu Feature - Locales for default NMIs retrieved from key and not database"
The displayed title of the NMIs is retrieved from the database (navigation_menu_item_settings table). We also preserve the locale-key to the same table, for the default NMIs.

As a generic to the NMIs displayed title we could use that locale-key and try to translate that to what ever the current locale is, depending on the native OJS/OMP translation mechanism.

See also: https://forum.pkp.sfu.ca/t

[2018-06-28 18:48] #3783 closed

[2018-06-28 19:56] defstat commented on #3846
@NateWr @asmecher

PR
[pkp-lib] #3849

[2018-06-28 22:15] asmecher commented on #3846
@defstat, Nate's busy until next week, but he's more familiar with this code than I am, so I'd rather wait for his return!

[2018-06-28 23:42] asmecher commented on #1369
@isgrim, the big problem with inexact dates is their representation in the database -- they'll need to be represented in a form that'll work with MySQL and PostgreSQL (and soon SQL Server), that'll still support sorting and comparisons. It'll take a little research. Have you worked with representing inexact ISO8601 in the DB?

[2018-06-29 07:58] isgrim commented on #3809
@asmecher Thanks for fixing!

[2018-06-29 14:23] pkel commented on #3791
What about an approach similar to the above PR?

[2018-06-29 14:53] forgive38 opened #3851 "Ask two times a revision in a review round failed"
Hi,
I think this issue is related to #3399 .
When  a author has submitted a revision of his article, if an editor wants to ask another revision, the round status stays "revisions have been submitted" so the author does not know (in the UI) if he has something to do.

I think this behavior is because the round status is calculated from the presence of a revision file.

Thank you

(ojs 3_1_1_2 )

[2018-06-29 19:28] stranack opened #3853 "Keyword linking"
Currently, keywords are displayed as text in the sidebar of the article landing page:
https://demo.publicknowledgeproject.org/ojs3/demo/index.php/health-sciences/article/view/709

Could we make those keywords linked, taking the reader to the search results page for that keyword?

[2018-06-29 19:45] stranack opened #3854 "Punctuation error in citation generator"
The citation generator is currently unable to display the correct punctuation for article titles ending in a question mark (it adds a period). See, for example, here:

https://demo.publicknowledgeproject.org/ojs3/demo/index.php/health-sciences/article/view/713

Can the generator be made to identity when article titles end in a question mark (or exclamation mark) and automatically remove the period

[2018-06-29 20:29] ViRuSTriNiTy opened #3855 "[OJS] Email validation does not recognize @localhost"
Hi there,

i'm developing some stuff for OJS and the application is running on my local IIS. I also have a local mail server installed which provides email addresses ending with **@localhost**.

Now, while setting up OJS i have to enter the email address of user *admin* which is **admin@localhost**. Sadly in this case the validation fails and the following message is returned:

The culprit is the

[2018-06-30 09:58] Vitaliy-1 commented on #3828
@NateWr, can the consent be moved out of the journal context? https://github.com/pkp/pkp-lib/blob/master/templates/frontend/pages/userRegister.tpl#L31-L51

[2018-06-30 10:13] Vitaliy-1 commented on #3820
In this case, for consistency, I suspect `text/xml` file type should be added here: https://github.com/pkp/ojs/blob/master/templates/controllers/grid/articleGalleys/form/articleGalleyForm.tpl#L42

[2018-06-30 12:36] Vitaliy-1 commented on #3828
Duplicates https://github.com/pkp/pkp-lib/issues/3836

[2018-07-01 23:31] bozana commented on #3775
@asmecher, here are the current changes:
new repository: https://github.com/bozana/usageStats
needed changes in
pkp-lib: https://github.com/bozana/pkp-lib/commit/2af78599c77fcfbd8ede1d2c21e207eb4284422b
ojs: https://github.com/pkp/ojs/compare/master...bozana:3775

Currently the OJS submodule points to my repository, thus I would first like to push my new repository usageStats to the new pkp reposi

[2018-07-02 12:22] bozana commented on #3851
PRs:
pkp-lib ojs-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3857
ojs ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/2030 (only submodule update)

pkp-lib omp-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3858
omp omp-stable-3_1_1: https://github.com/pkp/omp/pull/557 (only submodule update)

pkp-lib master: https://github.com/pkp/pkp-lib/pull/3859
omp master: https://github.com/pkp/om

[2018-07-02 12:22] bozana commented on #3851
@NateWr, could you please review the code when you are back again?

[2018-07-02 12:42] forgive38 commented on #2135
Hello,

Currently, with ojs 3.1.1, the process to reset a password is still in 2 steps:
1- receive a email with a one time link, then when you follow the link, you
2 - receive a email with a temporary password, that you have to change the first time you use it.

I think the first step is enough.
One ambiguous thing for the second step, is the mail (email_text key="PASSWORD_RESET")
It is written "W

[2018-07-02 12:52] j4rk0 opened #3860 "Allow to connect on custom ports / socket"
Following two lines need to be added there, so the query is going to be correctly build in the Illuminate Database component for connections on custom ports / sockets.
[code]
These properties could be then set in config file…

[2018-07-02 13:52] bozana commented on #3810
PRs:
pkp-lib ojs-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3861
ojs ojs-stable-3_1_1: https://github.com/pkp/ojs/pull/2031 (only submodule update)

pkp-lib omp-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3862
omp omp-stable-3_1_1: https://github.com/pkp/omp/pull/559 (only submodule update)

pkp-lib master: https://github.com/pkp/pkp-lib/pull/3863
omp master: https://github.com/pkp/om

[2018-07-02 13:53] bozana commented on #3810
@NateWr, could you take a look i.e. test? -- Somehow I haven't seen the message, but have found the place in the code... Thanks!!!

[2018-07-02 15:22] bozana commented on #3788
Hi @t4x0n,
I've just tested it with my local installation, using ojs-stable-3_1_1 branch and I could not reproduce it :-\
Could you maybe see where the reviewer entered his/her comments exactly?
Are you logged in as an editor that article is assigned to?
Was maybe a review form assigned to that review assignment?
Hmmm.... :thinking:
Thanks!!!

[2018-07-02 16:00] bozana opened #3864 "book double listed in a series, when ordered by title"
s. https://forum.pkp.sfu.ca/t/omp-3-1-1-1-upgrade-replicated-monographs/45796/12

[2018-07-02 16:06] bozana commented on #3864
PRs:
pkp-lib ojs-stable-3_1_1:
ojs ojs-stable-3_1_1: (only submodule update)

pkp-lib omp-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3865
omp omp-stable-3_1_1: (only submodule update)

pkp-lib master:
omp master: (only submodule update)

[2018-07-02 16:07] bozana commented on #3864
@NateWr, could you please take a look? I am not sure if this could harm any other place in the system... Thanks!

[2018-07-03 02:19] asmecher opened #3867 "Remove exclusion of necessary library"
See https://forum.pkp.sfu.ca/t/omp-paypay-plugin/46187/4 for details. Affects OMP only. Causes e.g.:

    PHP Fatal error: Interface ‘Symfony\Component\EventDispatcher\EventSubscriberInterface’ not found in C:\xampp\htdocs\omp\plugins\paymethod\paypal\vendor\guzzle\guzzle\src\Guzzle\Http\RedirectPlugin.php on line 20, referer: http://localhost/omp/index.php/unla/catalog/book/2

[2018-07-03 02:20] #3867 closed

[2018-07-03 13:53] mfelczak opened #3868 "lib/pkp/tools/installPluginVersion.php fails with SetCharSet() error"
Running into this issue with OJS 3.1.1-2 when trying to install a plugin, e.g.

[code]

[code]

[2018-07-03 17:04] asmecher commented on #3868
Hmm, I've never seen this before -- is this occurring in a properly-installed OJS that's otherwise functioning properly?

[2018-07-03 17:44] asmecher commented on #3860
@j4rk0, thanks -- would you mind opening a pull request to add this?

[2018-07-03 18:29] mfelczak commented on #3868
Yes, initially ran into this with a hosted client install but also duplicated on my local install.

[2018-07-03 20:22] asmecher commented on #3578
Merged those last 3 PRs -- thanks, @crism!

[2018-07-03 20:22] mfelczak opened #3870 "Reviewers can't complete step 1 of the review process due to privacy consent error"
Using a recently upgraded OJS 3.1.1-2 install, when reviewers attempt to proceed to step 2 of the review process they receive the following error message and are unable to continue with the review (screenshot attached):

Errors occurred processing this form:
##user.profile.form.privacyConsentRequired##

![privacy_consent_required](https://user-images.githubusercontent.com/200793/42242799-26dad93e-

[2018-07-04 08:17] forgive38 commented on #3851
@bozana

I test the patch for ojs stable and it seems to have the expected behavior

thank you !

[2018-07-04 15:54] asmecher opened #3871 "submission.title untranslated in review reminder form"
See https://forum.pkp.sfu.ca/t/fields-not-populating-in-emails/46235 for details.

[2018-07-04 15:58] #3871 closed

[2018-07-04 18:14] asmecher opened #3872 "Test and fix LOCKSS publisher manifest"
See https://forum.pkp.sfu.ca/t/archiving-via-lockss-and-clockss-problem/22963.

[2018-07-04 18:20] asmecher opened #3873 "Allow extended locale names in import/export XML"
Currently locales of the form `xx_YY@something` (as opposed to `xx_YY`) are not valid per the XSD validation. Extend the XSD regular expression to permit them.

[2018-07-04 18:21] #3873 closed

[2018-07-04 18:31] asmecher commented on #3783
@bozana, did this get included in OJS 3.1.1-2 and/or OMP 3.1.1-3? If not, could you move the milestone to OJS 3.1.1-4?

[2018-07-04 18:35] asmecher commented on #3855
Hi @ViRuSTriNiTy -- I'd be happy to consider a PR, but rather than extending the regular expression, it might be better to move to the email validation tools that have been added to PHP since that part of OJS was written (e.g. `FILTER_VALIDATE_EMAIL`). Thanks!

[2018-07-04 18:39] asmecher commented on #3820
Good spotting -- added, @Vitaliy-1. You can apply https://github.com/pkp/ojs/commit/cef56ab20a6db70e3857d27eaaa0d00bb59d6c56 for `ojs-stable-3_1_1`, or `https://github.com/pkp/ojs/commit/34b900414fcc1472d60338f4ecf2086ff6381343` for `master`.

[2018-07-04 18:39] #3820 closed

[2018-07-04 18:43] asmecher commented on #3578
@crism, one change to suggest to https://github.com/pkp/pkp-lib/pull/3866, https://github.com/pkp/omp/pull/561, and https://github.com/pkp/ojs/pull/2032 -- functions like `deleteFileById` should instead be called `deleteById`; naming the entity to be removed in the function name is redundant. (We removed that kind of redundancy from the DAOs some years back.)

[2018-07-04 18:48] asmecher commented on #3854
@stranack, that's a question for the folks behind the citeproc-php library we use for citation formats (https://github.com/seboettg/citeproc-php). Mind filing something there?

[2018-07-04 18:48] #3854 closed

[2018-07-04 19:11] asmecher opened #3874 "Clean up overspecific/wrong subtitle language"
See https://forum.pkp.sfu.ca/t/ojs-3-1-1-1-titels-and-subtitels/46099/5 for details.

The metadata form includes a hint under the subtitle field stating that the subtitle will be attached to the title with a colon (":") character. However, the article view doesn't format them this way.

Proposed solution: Don't specify on the metadata form that a colon (":") will be used to join the title and subt

[2018-07-04 19:36] manue1 commented on #1723
@ctgraham Are there any known issues with setting the default_envelope_sender but it being ignored?

I have been trying to fix the DMARC issues that I’m running into by setting the default_envelope_sender, which I believed would set the From address to the one set in the config and would therefore not be detected as an email sent by an unauthenticated server.

The editor of our journal has a Yahoo

[2018-07-04 20:37] ViRuSTriNiTy commented on #3855
@asmecher  Thanks for the reply.

Hmm validation tools, sounds good, never heard of it but I have hacked something together as a draft. What do you think?

		<?php

		$emails = [
			"admin@localhost \r\n user@localhost",
			"my@mail.com your@mail.com",
			"my@mail.com",
			"admin@localhost",
		];

		foreach ($emails as $email) {
			$email = trim($email);

			echo "validating <b>{$email}</b> ... ";

[2018-07-04 21:31] bkawula commented on #2358
We here at Scholars Portal / OCUL are also a bit stuck without the NLM harvesting functionality since we technically inherited the remnants of the Synergies Project. We were still using it to harvest a number of journals for archiving in our TDR repository, which also uses JATS for metadata. Our plan was to harvest ALL of the OJS instances in Ontario until we discovered there's no NLM plugin in OJ

[2018-07-04 21:57] tothbog commented on #2724
We use the latest version, 3.1.1.2, but we have the same problem. We cannot change sender, nor who is "signing" the letter. For instance, if an editor invite a new referee, the REVIEWER_REGISTER template is sent by the editor, but at the end of the letter the principal contact name appears. I tried to change it to ${editorialContactName} without success. Also, I cannot put a Dear "NAME" to the beg

[2018-07-04 23:23] asmecher commented on #3789
Sorry for the delay in responding. My feeling is that we don't need something as fine-grained as per-revision access controls. Generally speaking, the Editor should be able to designate whether a file is viewable or not, and that should apply to the most recent revision. If e.g. the editor uploads a copy of the document that mistakenly exposes the reviewer's identity to the author, or vice versa,

[2018-07-04 23:52] asmecher commented on #2724
@tothbog, I don't think that's related to this issue, which specifically deals with the numeric `role_id`s for display in the email listing. I'd suggest posting your question on our support forum (http://forum.pkp.sfu.ca/).

[2018-07-04 23:53] asmecher commented on #2358
@bkawula, we have recently been talking about reintroducing this plugin internally. If we do, I'll post details here as they become available; your help with testing and review would be much appreciated.

[2018-07-05 01:28] asmecher commented on #3855
Hmm, it's a shame that `@localhost` emails (technically valid but not used in production) aren't supported by `FILTER_VALIDATE_EMAIL`. This is discussed at https://bugs.php.net/bug.php?id=69140 and an improvement (not yet available) is proposed.

In the meantime, I would consider a PR that augments the regular expression that's currently used to validate emails in OJS.

[2018-07-05 02:02] asmecher commented on #2353
Needing attention:
- [ ] PostgreSQL tests don't yet pass
- [ ] Database connection character set no longer initialized per configuration file
- [ ] Status of upgrades needs general testing (particularly PostgreSQL -- does driver name need changing in upgrade scripts?)

[2018-07-05 02:19] asmecher commented on #3775
Thanks, @bozana, I've cloned `usageStats` over to https://github.com/pkp/usageStats and granted you admin rights.

The `pkp-lib` and `ojs` repo changes look like plain removals, and I like those -- please let me know when you're ready for a review of the new code, though be warned that I don't know this aspect of OJS well at all!

[2018-07-05 03:09] stranack opened #3875 "Allow external issue galleys"
Consider allowing journals to link to external files for issue galleys, as they can for article galleys.

[2018-07-05 04:10] bkawula commented on #2358
Fantastic! I'll be more than happy to test.

[2018-07-05 08:23] bozana opened #3876 "issue galley public identifier should not be required"
s. https://forum.pkp.sfu.ca/t/issue-galley-locale-error/45766

[2018-07-05 09:53] NateWr commented on #3833
:+1: ready for merge whenever.

[2018-07-05 10:20] bozana commented on #3775
@asmecher, I haven't changed the code, just the structure, maybe just this you could review:
-- Now there is only one class UsageStatsLoader and UsageStatsPlugin, and they contain application specific functions (parts). For example: I use this kind of construct to differentiate between the applications, e.g. https://github.com/pkp/usageStats/blob/master/UsageStatsLoader.inc.php#L256-L267 or https:

[2018-07-05 12:28] tothbog commented on #2724
Ok, sorry, I did not realize that. Thanks, I will post there.

[2018-07-05 13:30] mfelczak commented on #3868
Hey @bozana, just confirming that I've tested with the following plugins:
- pln
- static pages

[2018-07-05 14:14] bozana commented on #3868
I can take a look...

[2018-07-05 14:57] bozana commented on #3868
PRs:
pkp-lib ojs-stable-3_1_1: https://github.com/pkp/pkp-lib/pull/3877
ojs ojs-stable-3_1_1: (only submodule update)

pkp-lib omp-stable-3_1_1:
omp omp-stable-3_1_1: (only submodule update)

pkp-lib master:
ojs master: (only submodule update)

[2018-07-05 14:58] bozana commented on #3868
@mfelczak, would it be possible for you to test the PR above?
I did get another error message, but I think the error source could be the same as yours...
When OK, I will ask @asmecher for the review...
Thanks a lot!!!

[2018-07-05 15:15] #3833 closed

[2018-07-05 15:34] bozana opened #3878 "import/export of HTML galley images"
this dependent relation seems not to be considered yet.

thus maybe either to
a) consider/add the element submission_file_ref for the revision element
or
b) to consider/add two new attributes for the revision element, e.g. something like dependent_file_ref and dependent_revision_number.

[2018-07-05 15:36] bozana commented on #3878
@asmecher, what do you think would be better a) or b) above?

[2018-07-05 15:43] NateWr commented on #3836
From my memory of previous discussions, we may need:

1. A separate consent statement field in the site settings for site-wide registration.
2. When registering in a multi-journal site, we may need to present the consent statement for each journal a user is registering in, since they may be different.
3. Some multi-journal sites may be able to get by on a single consent statement. Others may need

[2018-07-05 15:43] NateWr commented on #3828
Closing in favor of https://github.com/pkp/pkp-lib/issues/3836

[2018-07-05 15:43] #3828 closed

[2018-07-05 16:48] mfelczak commented on #3868
Hi @bozana, that fixes it for me.

[2018-07-05 16:50] bozana commented on #3868
@asmecher, could you also please take a look at those changes? Thanks!!!

[2018-07-05 19:33] t4x0n commented on #3788
mmm this is good, now I can't reproduce it!

I think my problem was a server problem, maybe Comodo WAF, if the last word in the form is finished in `or`  the form content is not uploaded, so the forms were uploaded empty in this case!

I'm closing this issue, sorry.

[2018-07-05 19:33] #3788 closed

[2018-07-05 19:47] ViRuSTriNiTy commented on #3855
Sorry for the doubled PR link, GitHub got it wrong. Sadly i cannot remove the first one.

[2018-07-05 21:01] amandastevens opened #3881 "Disabled users receive notifications"
When an announcement or new issue notification is sent to users in OJS 3, it's sent to disabled users as well as active users.  Presumably the disabled users don't want the notifications.

[2018-07-06 09:03] NateWr commented on #3864
I think that should be fine, though SQL is not my forte. Tests should show if there's a conflict with mysql or postgresql

[2018-07-06 10:01] NateWr commented on #3791
I'm not opposed to showing the date when a file was uploaded, but I don't think it is a good solution to this issue. It still relies on a user having some intuition about how to determine the submission date, and provides less authoritative information than the Editorial History (someone may upload a file and complete a submission on different days).

This screen already has a big cognitive load,

[2018-07-06 16:11] asmecher commented on #3791
One approach I've found useful e.g. on Github is hovering over friendly/abbreviated information (e.g. "2 days ago") to get the full context ("July 4 2018 09:00:00"). Perhaps hovering over the file ID to get a more complete identification is an option? Caveats: a) this isn't as "pure" as the Github example, which is only dates, and b) there's a good chance this isn't fully accessible.

[2018-07-06 17:17] asmecher commented on #3868
Thanks, @bozana -- just one small question. The odd thing is that I used this tool pretty regularly, but as soon as Michael reported this bug, I started experiencing it too. I have no idea why! @mfelczak, careful with your newly discovered powers.

[2018-07-06 18:57] mfelczak commented on #3868
@asmecher, I had also used it in the past with no issues. A strange ending to a strange week.

[2018-07-06 21:45] asmecher commented on #3578
@crism, thanks for all your work on this. Can I ask a favour to help keep all the various PRs organized? Organize the PRs into groups and add them as comments here, e.g.:

Then, after a review cycle (e.g. after you've tweaked one of those PRs), add a new comment here to let me know that you're done making changes to the batch, e.g.:

[2018-07-06 22:34] asmecher commented on #3881
Resolved and ported to ...`_stable-3_1_1` branches.

[2018-07-06 22:34] #3881 closed

[2018-07-06 22:53] asmecher commented on #3878
Hmm, I don't have a strong preference, but I think it makes more logical sense for the HTML to list any files it includes rather than have the dependent files refer to the HTML -- so that would suggest a).

[2018-07-06 23:06] asmecher commented on #3855
@ViRuSTriNiTy, thanks for all your work on this, and sorry to keep pulling the rug out from under you.

I did a little further looking into this, and on balance I think the `FILTER_VALIDATE_EMAIL` approach is the safest (risks false negatives where regular expressions risk false positives) and most future-proof (maintained by Zend, not by us).

However, I'm not enthusiastic about adding the additi

[2018-07-07 01:29] crism commented on #3578
Trio of `getRequest()` and `getApplication()` harmonizations:
 * #3847
 * pkp/ojs#2028
 * pkp/omp#556

[2018-07-07 01:30] crism commented on #3578
Trio of `FileManager` harmonizations:
 * #3866
 * pkp/ojs#2032
 * pkp/omp#561

[2018-07-07 01:31] crism commented on #3578
Trio of `Form::fetch()` harmonizations:
 * #3879
 * pkp/ojs#2037
 * pkp/omp#563

[2018-07-07 01:32] crism commented on #3578
Trio of `Form::initData()` harmonizations:
 * #3883
 * pkp/ojs#2042
 * pkp/omp#564

[2018-07-07 01:33] crism commented on #3578
Trio of `Form::readInputData()` harmonizations:
 * #3884
 * pkp/ojs#2043
 * pkp/omp#565

[2018-07-07 01:34] crism commented on #3578
Trio of `Form::validate()` harmonizations:
 * #3885
 * pkp/ojs#2044
 * pkp/omp#566

[2018-07-07 17:42] ViRuSTriNiTy commented on #3855
Exactly my doubts in the beginning. Another suggestion: is it a valid approach to refactor the email address handling in a way that it provides a hook so that a plug-in can listen to that hook to allow additional patterns?