[2021-09-15 13:39] librariam commented on #3585
+1 from PKP|PS to remove a new round started by accident, and to also make reviewer comments from previous rounds selectable by editor when sending a decision to the author

[2021-09-15 13:49] jonasraoni commented on #7282
Yeah! That's the stinky part of the `Facade`, which I was going to discuss after opening a PR. As it just has a `__callStatic`, other limitations include: accessing properties, constants, passing it as an argument, etc.

FYI [Laravel is using a docblock](https://github.com/illuminate/support/blob/4ee2d8fb589731864545e93aa6a4cb5ec519377a/Facades/Bus.php#L10-L26) to help the code editor display the

[2021-09-15 14:15] NateWr commented on #7282
That all sounds good. If we are going to go this route, I wonder if it makes sense to step back and think about when we want to use facades and when we should rely on dependency injection. In general, I think dependency injection is preferred.

But when it comes to building extensibility into the system, facades are really useful. For example, I'd be tempted to thing that a `Locale` class shouldn'

[2021-09-15 15:21] pilasou opened #7293 "User can define their preferred language in OJS"
**Describe the problem you would like to solve**
Users cannot define a preferred language for the OJS UI.

We are using OJS 3.3.0.6 in a multijournal environment. Many of our journal are bilingual (french/english), with french being the default language configured.

The way OJS manage the UI language causes some problems to english speaking authors and reviewers as they do not have the opportunity

[2021-09-15 16:19] ajnyga commented on #7292
Just for OJS, tests running: https://github.com/pkp/ojs/pull/3181

@NateWr ping for review. A very simple fix, I just fetch submissions with two statuses and in the publications loop there was already a check for status_scheduled and issue_id

[2021-09-15 16:21] ajnyga commented on #7292
The issue item count problem I mentioned in Slack seems to have been fixed in the last couple of commits!

[2021-09-15 16:53] NateWr opened #7294 "Can't access API by apiKey because Repo::user()->getByApiKey() doesn't exist"
**Describe the bug**
When trying to access the REST API and use the `apiKey`, a fatal error is thrown because the request tries to call `Repo::user()->getByApiKey($apiToken)` but this method doesn't exist.

It exists on the user DAO, but looking at the method, it was probably intended to be put at the Repo level.

@asmecher just filing this quickly while I have time, but this is probably a quick f

[2021-09-15 17:03] asmecher commented on #7294
Thanks, I'll take a look at this. It'll be a quick fix.

[2021-09-15 17:07] ewhanson commented on #7294
Hey @asmecher , I also just noticed some additional odd behaviour with this. When saving user API settings, the `user_settings` table is no longer being updated. When attempting to save any other user settings, I receive this fatal error:

[code]

Not sure if this is a missing migration on my part or of it's related to this, but wanted to flag just in case.

[2021-09-15 17:18] asmecher commented on #6850
There are still some outstanding details -- reopening at Dimitris' request.

[2021-09-15 17:33] ajnyga commented on #7277
At least this does not apply, can not see a reviewer who is not assigned:
Add an open review assignment.
Login as author.
Create a discussion.
See reviewer who hasn't accepted request.

[2021-09-15 17:41] ajnyga commented on #7277
Ok so @NateWr the whole feature for adding reviewers seems to be broken in the current main branch.
As an editor I can not see an assigned reviewer, a reviewer who has accepted nor a reviewer who has declined in the discussion form.
Also as an author  I can not see an assigned reviewer, a reviewer who has accepted nor a reviewer who has declined in the discussion form.

[2021-09-15 17:56] ajnyga commented on #7277
Also the unassigned journal editor initiating a discussion is not added to the participants list. Something is broken around here: https://github.com/pkp/pkp-lib/blob/main/controllers/grid/queries/form/QueryForm.inc.php#L342-L343
The `includeUsers` array is set correctly but the users are not fetched.

[2021-09-15 18:15] ajnyga commented on #7277
OJS https://github.com/pkp/ojs/pull/3182 (only tests)
pkp-lib https://github.com/pkp/pkp-lib/pull/7295

[2021-09-15 18:21] ajnyga commented on #7277
Note that editors see all reviewers - pending, accepted, declined - in the discussion participants list

[2021-09-15 19:14] delzimar commented on #6549
Qual foi a solução? Estou com o mesmo problema

[2021-09-15 19:18] pmangahis opened #7296 "Revised Author files not appearing in files from all accessible workflow stages"
Issue is reported on an OJS 3.2.1.2 hosted journal and duplicated on OJS 3.3.0.6 local install.

**Summary of Steps:**
1) Author uploads revised files
2) Editor accepts manuscript follows the prompts, sending email, selecting files.
3) Editor unselects some of the revised files (accidental or at the time on purpose).
4) Editor is unable to add the revised files using the Upload/Select function.
5)

[2021-09-15 21:07] asmecher commented on #6549
@delzimar, could you be a little more specific? What are you doing (e.g. if an upgrade, specify the source and target versions) and what error messages/problems result?

[2021-09-15 21:15] wangra8 commented on #7052
Hi All, I appreciate the suggested fix from the forum thread. I applied it to our build.css file although it works I have been reading that the build.css gets overwritten and it not the most "stable" way to apply the fix. If I add the css changes to one of the less files in /lib/pkp/styles/ folder. How would I rebuild the build.css file? Is there a tool for this? Or should I simply run lessc file.

[2021-09-16 00:36] asmecher commented on #7277
Merged -- thanks, @ajnyga! I also back-ported the relevant change to `stable-3_3_0`.

[2021-09-16 00:36] #7277 closed

[2021-09-16 00:41] asmecher commented on #7293
There is a "working languages" user setting available on the user's profile; is the issue that this setting isn't widely used? See related issues:
- https://github.com/pkp/pkp-lib/issues/6221
- https://github.com/pkp/pkp-lib/issues/3525

[2021-09-16 01:24] asmecher commented on #7294
@ewhanson, I think your problem (`Field 'setting_type' doesn't have a default value`) is caused by an out-of-date database schema; the `user_settings` table shouldn't have that column anymore.

[2021-09-16 02:07] ewhanson commented on #7294
Perfect, thanks @asmecher!

[2021-09-16 08:54] NateWr commented on #7052
Hi @wangra8, I'm not sure if we'll merge the overflow solution suggested in the forum. I try to avoid multiple distinct scroll areas on the screen, as they tend to be UX hurdles for people. Our preferred solution will be a journal search feature like what is suggested in [this comment](https://github.com/pkp/pkp-lib/issues/6747#issuecomment-862181470):

![journal-switcher](https://user-images.gith

[2021-09-16 09:19] NateWr commented on #7294
Fixed in https://github.com/pkp/pkp-lib/commit/0b4147cb94562c2caecf78d83b3e1ff4ebe9d7c1.

[2021-09-16 09:19] #7294 closed

[2021-09-16 09:28] NateWr opened #7297 "Add test that uses the API key"
Our integrated tests do not cover usage of the API key to access the REST API. The following tests should be added:

- Editor (dbarnes) can create an API key.
- Editor can use the API key to access the REST API when logged out.
- Author (ccorino) can create an API key.
- Author only sees their own submissions when they access the /submissions API endpoint.

[2021-09-16 09:32] NateWr opened #7298 "Add test of the single announcement page"
The integration tests include add, edit and delete tests for announcements (see [here](https://github.com/pkp/pkp-lib/blob/main/cypress/tests/integration/Announcements.spec.js)). However, they do not cover the frontend page for viewing a single announcement.

The following tests should be added:

- Announcement can be accessed at the single announcement page.
- A deleted announcement can not be ac

[2021-09-16 10:16] jonasraoni commented on #7282
Hmm, I support using shortcuts (in my case, it will be `Locale::getInstance()`) for now, and "wire" the classes with dependency injection as we can.

About the `Laravel's Facade`, which I've used mostly to keep things similar, I think it's better to discard 🤔
- The only use case I see is to enforce all code base is using the active instance (e.g. if N classes receive a `Request` instance by DI, th

[2021-09-16 11:20] Vitaliy-1 opened #7299 "Allow Mailable construction without additional parameters"
**Describe the problem you would like to solve**
Simplify Mailable creation

**Describe the solution you'd like**
Mailable constructor, which is used to identify template variables, doesn't have a default value for its arguments. In simple cases, Mailable shouldn't have any associated template variables. Allow initialization without any arguments.

**Additional information**
[code]

[2021-09-16 12:43] librariam commented on #2890
+1 from PKP|PS

[2021-09-16 12:56] pilasou commented on #7293
Hi @asmecher and @NateWr  Thanks, the problem is more that working language has no effect whatsoever on the UI language.  When you change a UI language in OJS, either being connected/registered or not, this change will end with your session. If you disconnect, close your browser and come back and reconnect, you will have to change the UI language again.

[2021-09-16 16:25] israelcefrin opened #7300 "Non-english Paypal email template in OJS 3.3.0"
**Describe the bug**
When deploying a fresh install of OJS, the Paypal email template (PAYPAL_INVESTIGATE_PAYMENT)  should be in English locale, but it presents the Ukrainian version.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a fresh OJS 3.3 and create a journal
2. Click on 'Workflow > Emails > Email Templates'
3. Search for 'Paypal'
4. See error

**What application are you usin

[2021-09-16 16:41] delzimar commented on #6549
The update has been successfully done, but the system is sending blank emails to editors when subjected articles. In Settings -> Workflow -> E-mail Templates, Multiple E-mail Appears in Arabic.
`<a href="https://ibb.co/vhwmhW6"><img src="https://i.ibb.co/cwgtw9S/arabic.png" alt="arabic" border="0"></a>`

[2021-09-16 18:07] asmecher commented on #6549
@delzimar, I don't think that's anything to do with this bug entry; maybe have a look at https://github.com/pkp/pkp-lib/issues/6432.

[2021-09-16 18:17] asmecher commented on #7294
Ah! I was actually working on a test for this in preparation for fixing the bug, but I see you beat me to it. I'll finish the test anyway as a bonus.

[2021-09-16 18:22] asmecher opened #7301 "Implement automated upgrade testing"
Currently all upgrade testing is done manually.

Implement upgrade testing so that upgrade regressions can be caught earlier.

[2021-09-16 19:06] kshuttle commented on #6129
+1 for this issue from a PKP PS client. The client wants to send the "Proofreading complete" email to an author from the Production stage, but this email template is not appearing in the Discussions function. They can send it from the Notify function, but this does not currently give them the option to include their attachment.

[2021-09-17 10:25] ajnyga opened #7302 "OPS include abstract in Crossref DOI registration"
**Describe the problem you would like to solve**
DOI exports to Crossref in OPS do not include the abstract at the moment. The schema seems to support jats:abstract

**Describe the solution you'd like**
Add abstract to exporets.

**Who is asking for this feature?**
https://forum.pkp.sfu.ca/t/ops-metadata-and-author-permissions/69814

[2021-09-17 15:59] asmecher commented on #6093
A weird note about indexes:

MySQL/MariaDB requires that foreign key columns have indexes. If you don't specify one in the table creation, it'll create one for you. If you subsequently *do* create one, the implicit one will disappear and the one you created will remain. So there's no harm in specifying index creation alongside foreign key constraints when using MySQL/MariaDB.

[2021-09-17 16:26] jonasraoni commented on #6093
I never saw this requirement in other databases, anyway that's a good procedure =]

[2021-09-17 17:25] elton557 commented on #6774
Hi @asmecher , here I face a similar problem, I did the above process, but it had no effect, follow my log, can you help me?

[Fri Sep 17 14:19:35.540154 2021] [php7:notice] [pid 17607] [client Oculto] PHP Notice:  Undefined index: stageId in /var/www/submission_scielo_br/htdocs/lib/pkp/controllers/grid/eventLog/SubmissionEventLogGridHandler.inc.php on line 111, referer: https://oculto/index.php/r

[2021-09-17 18:41] Vitaliy-1 commented on #7299
PR pkp-lib: https://github.com/pkp/pkp-lib/pull/7303
tests: https://github.com/pkp/ojs/pull/3184

[2021-09-17 22:08] asmecher commented on #6774
@elton557, I think this is the same issue described here:

https://forum.pkp.sfu.ca/t/activity-log-doesnt-load-ojs-3-3-0-6/68319/2

Could you follow-up on Jason's suggestion there?

[2021-09-17 22:15] asmecher opened #7304 "Assess 3.4.0 performance with large databases"
OJS 3.4.0 introduces a lot of SQL changes that should improve performance but need to be tested.

In particular, assess the performance with a large database and the following operations/tasks:
- Submission lists/filters
- **Reviewer selection**
- **User management**
- OAI Identify ("first record date")
- **Merge Users**
- 3.3.x to 3.4.x upgrade
- Large tables of contents (@diegoabadan may have te

[2021-09-17 22:19] asmecher commented on #7304
(@alexxxmendonca, I think this captures the pain points identified by the SciELO/OJS working group, but please let me know if there were others.)

[2021-09-17 23:17] asmecher commented on #7297
Implemented -- the editorial test in pkp-lib and the author test in each application. OMP has a different set of authors in the test dataset than OJS and OPS, so it wasn't possible to do everything in pkp-lib. (I think down the road we should standardize the test dataset across the apps a little more.)

[2021-09-17 23:17] #7297 closed

[2021-09-18 09:15] jonasraoni opened #7305 "Use decimal format for numeric constants"
**Describe the problem you would like to solve**
Searching for numeric values in the code is a bit complex sometimes, given that constants might be expressed in a hexadecimal format, and everywhere else (logs, database, XML, etc.) they are written in decimal.

**Describe the solution you'd like**
Replace the hexadecimal constants by decimal values or leave a comment with an alternative format.

Fr

[2021-09-19 13:26] NikitaPO opened #7306 "Can't open activity log and upload files in copyediting section for some submissions"
This problem occurs with only one submission, with other all normal.

When I click "Activity log", I see this:

![image](https://user-images.githubusercontent.com/31895695/133929027-d321adc0-b84c-4079-8ea7-b611e3aa663e.png)

[code]

When I click "Upload/Select files" in Draft files:

![image](https://user-images.githubusercontent.com/31895695/133929086-79798f03-49f9-4211-891c-baf25c59fc9f.png)

[c

[2021-09-19 13:42] NikitaPO commented on #7306
It helps https://github.com/pkp/pkp-lib/issues/6774#issuecomment-782351864
I didn't find it before, thanks)

[2021-09-19 13:42] #7306 closed

[2021-09-19 21:46] diegoabadan commented on #7304
@asmecher , is better performance expected when there are many articles published in the table of contents?

Referring to https://github.com/pkp/pkp-lib/issues/6511

Is it desirable to run these tests now, from the git code?

[2021-09-20 01:56] asmecher commented on #7304
@diegoabadan, it's too early to start tests, but I've added that scenario to the list. I may ping you later for some test data; we don't have anything with that large a number of articles in a single TOC.

[2021-09-20 10:00] Michevole commented on #4246
Hi, it would be great if the semi-automatic invitation of previous reviewers will be added. Many editors asked me why it's no more possible to do that like the 2.4 version!

In my humble opinion, splitting reviewers' invitation and assignment is not an actual need; I agree with @NateWr about this.

I'm the Journal manager of an OJS installation with many journals, and for me it just means adding a

[2021-09-20 11:16] NateWr commented on #2890
I expect that at least partial support for this will be included as part of work for #7265. It will be possible to go forward or backward a stage, but maybe not to close a review round.

[2021-09-20 11:19] NateWr commented on #7282
The only downside to using something like `Locale::getInstance()` is that the class can not be overwritten. Making use of Laravel's service containers we can do something like `App::make(Locale::class)` and plugins can inject their own extended class at run-time...

[2021-09-20 11:28] NateWr commented on #7293
Ah, I see what you're saying. If the language selection persisted across browser sessions, would that resolve the issue you describe?

(@asmecher I'm wondering if it makes sense to use a persistent cookie for language selection? I think this can be considered a core use and therefore we don't need a GDPR cookie banner.)

[2021-09-20 11:38] bozana commented on #7127
@asmecher, the UserDAO->getFetchColumns and ->getFetchJoins are removed from SQL in InstitutionalSubscriptionDAO (maybe also somewhere else) but the function SubscriptionDAO::_generateSearchSQL does need them (e.g. when one is searching the subscriptions by user given or family name)

[2021-09-20 11:41] NateWr commented on #7300
@israelcefrin was this really 3.3.0 or another one like 3.3.0-x? I think we may have fixed a similar issue in one of the -x upgrades.

[2021-09-20 12:33] pilasou commented on #7293
Yes, the idea is that the language selected by the user remains across sessions. With regards to GDPR, my understanding is that you do not need consent for "strictly necessary cookie", meaning cookies needed for basics fonctions of the website. Can language cookie be consider a strictly necessary cookie for OJS? (I love this idea!) :)

[2021-09-20 12:56] NateWr commented on #7305
:+1: it'd be nice to change this in the code base. In the meantime, there's a little tool available to help: https://github.com/pkp/pkp-lib/blob/main/tools/constants.php

Get all defined constants and their values:

[code]

Get the name of all constants defined with a specific value:

[code]

[2021-09-20 13:52] israelcefrin commented on #7300
@NateWr it was noticed on an OJS 3.3.0-7 fresh install.

[2021-09-20 16:23] asmecher commented on #6724
@elton557, I know this is still slow, but that'll be a necessary evil for the 3.2.x to 3.3.x install with large sets of files. Is this issue otherwise resolved for you?

[2021-09-20 16:26] asmecher opened #7308 "Improve plugin behaviour during upgrades"
Our current recommendation for upgrades is that extra plugins not be present when running the upgrade script, and for them to be (re)introduced only afterwards.

In preparation for https://github.com/pkp/pkp-lib/issues/4679, and to simplify upgrades in general, it would be nice to be able to trust plugins to behave in place during the upgrade.

There is already a `RUNNING_UPGRADE` constant defined

[2021-09-20 19:19] emmauhl commented on #4246
+1 from another PKP|PS client who would really like this added.

[2021-09-20 20:13] diegoabadan commented on #4540
We have cases of journals coming from OJS 2 with hundreds of incomplete submissions.

OJS 2 hid these submissions from the editor so they ended up piling up.

[2021-09-20 20:18] diegoabadan commented on #7304
Thanks Alec.

We have more than one case to test. :)

[2021-09-20 20:24] diegoabadan commented on #6836
Thanks Nate.

Let's see if it's relatively quick to adjust for better accessibility. Dealing correctly with accessibility also seems to us to be a relevant learning experience, even if it cannot be used for OJS/OPS/OMP 3.4.

With the improvement effort made so far, just using it for 3.3 might be worth enough.

Thank you for making us more aware of these important requirements.

[2021-09-20 20:37] asmecher commented on #6958
I think this is resolved with the 3.3.0-x release of the plugin.

[2021-09-20 20:37] #6958 closed

[2021-09-20 20:39] asmecher commented on #6955
@jonasraoni, just a reminder that you might have code needing contribution here.

[2021-09-20 20:44] asmecher commented on #6137
If anyone is able to share steps to replicate this problem on a fresh installation, please do!

[2021-09-21 01:19] ewhanson opened #7310 "Adding reviewer does not include required country field for created user."
**Describe the bug**
When a reviewer is created via `ReviewerForm.inc.php` or `CreateReviewerForm.inc.php`, the newly created user is never assigned a country, which leads to a fatal PHP error when trying to localize the user's country, e.g. `PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Sokil\IsoCodes\Database\Countries::getByAlpha2() must be of the type string, null given` as identi

[2021-09-21 08:28] NateWr opened #7311 "Add a config option to set the database engine to InnoDB"
**Describe the problem you would like to solve**
Some hosting environments can not change the default storage engine of the database to InnoDB because they host over software which expects MyISAM. In such scenarios, it is not possible to run recent versions of OJS which create tables using the default storage engine.

**Describe the solution you'd like**
Add a config option to manually specify the

[2021-09-21 08:43] NateWr commented on #7293
Thanks @pilasou. I've edited the issue title and description to reflect this solution.

[2021-09-21 09:09] NateWr opened #7312 "Add integration tests for journal and site search"
The integration tests do not sufficiently cover journal and site-wide searching. The following tests should be carried out on search:

- Searching for a published submission returns the correct result
- Searching for an unpublished submission does not return the result
- Searching by the publication after and published before filters works when submissions are published in more than one year. (eg

[2021-09-21 09:14] NateWr commented on #7168
It looks like we were assuming a context in part of the search handler.

PRs:
https://github.com/pkp/ojs/pull/3186
https://github.com/pkp/ops/pull/181

[2021-09-21 13:12] bozana commented on #6782
Hi all,
I am adapting the current usage stats reports to the new data model. Maybe here a few comments/questions:

The "PKP Usage statistics report" and the custom report generator use the same report plugin. Till now that report plugin was provided via/in the generic usage stats plugin. Now that there will be no generic usage stats plugin any more -- the code will be in the core -- I will create

[2021-09-21 14:29] jonasraoni commented on #6955
I found the code 😅

https://github.com/pkp/portico/pull/7

I didn't find updates related with the "unsaved data popup" in the code, maybe I was busy with other tasks and it ended up forgotten.
I also can take a look at the last item of this issue (update the other branches) as soon as I get some free time.

[2021-09-21 14:34] jonasraoni opened #7313 "Update the PHP CS Fixer"
**Describe the problem you would like to solve**
The CS Fixer v2 isn't maintained anymore

**Describe the solution you'd like**
Migrate to the version 3

[2021-09-21 16:11] felixhelix commented on #7156
I am experiencing the same problem:
not able to upload files for copy editing.
@asmecher can you tag this as a bug so someone can have look at it?
your's
felix

[2021-09-21 16:26] asmecher commented on #7156
@felixhelix, which of our applications are you using and what version? Does your PHP error log contain messages from the time of failure?

[2021-09-21 16:42] felixhelix commented on #7156
Sorry for not being more specific:

We're using OJS 3.3.0.8
I have no access to the PHP error log in the moment, but from the browser console I get:

[HTTP/1.1 500 Internal Server Error 62ms]
https://journals.ub.uni-koeln.de/index.php/k_ON/$$$call$$$/grid/files/final/manage-final-draft-files-grid/fetch-grid?submissionId=852&_=1632242350143

Does this help?

your's
Felix

[2021-09-21 18:35] loleary-uic commented on #7183
@ajnyga Would that be the entire function then?  Just those two lines and a closed bracket?

Thank you,
Lisa

[2021-09-21 19:10] asmecher commented on #5672
Confirmed!

[2021-09-21 19:10] #5672 closed

[2021-09-21 20:03] asmecher commented on #7156
Could you check the PHP error log, @felixhelix? That's the only way to know for sure if it's the same problem.

[2021-09-21 22:50] asmecher commented on #6955
Thanks, @jonasraoni. What parts of this need forward-porting to later releases?

[2021-09-21 23:46] asmecher commented on #6093
@Vitaliy-1, and @jonasraoni, would you mind reviewing these two pull requests?
- https://github.com/pkp/ojs/pull/3180
- https://github.com/pkp/pkp-lib/pull/7279

These involve a number of changes -- I kept the commit list clean in case it helps to read them separately.

In terms of introducing foreign key constraints, they only tackle the announcements tables. But they set patterns that I'd like t

[2021-09-21 23:49] asmecher commented on #7311
It may be possible to set the engine at the connection level, rather than needing to specify it for each table -- see: https://stackoverflow.com/questions/21380754/how-do-you-set-default-engine-for-the-schema-builder

[2021-09-21 23:59] asmecher opened #7314 "Add tests for mail sending"
- Set up an SMTP or sendmail MTA in the testing (Travis) environment to collect emails sent by OJS. (Apparently mailhog is good.) This should resolve the error messages that are currently logged in the integration tests.
- Set up at least one assertion about a piece of mail sent by the software.

[2021-09-22 01:26] kshuttle commented on #6700
Hi Everyone,

I've done some research and come up with what I think are the correct citation formats for preprints in the various styles.

As is always the case with citations, there is some room for interpretation. I've done my best with the information available, but I'll note that some style guides don't seem to have articulated a format for preprints yet. Those that have seem to style preprint

[2021-09-22 06:15] jonasraoni commented on #6955
The main issue I see is that `stable-3_1_2` has more features (e.g. multiple endpoints) than `stable-3_2_1` and `main`.
So, let me know if I should tackle this.

[2021-09-22 08:26] jonasraoni commented on #7282
Hmm, I think this way is ok:

[code]

The class is just serving as a shortcut to get a type-hinted instance, and a plugin might still replace the `LocaleInterface` in the container by an extended version.

[2021-09-22 08:48] NateWr commented on #7168
Merged to `stable-3_3_0` and applied to `main`.

[2021-09-22 08:48] #7168 closed

[2021-09-22 09:19] nongenti commented on #6201
Hi @ronste,

we've a solution running with OJS and OMP 3.3. A pull request is still open. I'm also working on a 3.4 version. But first I've to finish chapter landing pages for OMP 3.4, because csl-plugin should also work on chapter landing pages. For now you can have a look at  [https://github.com/UB-Heidelberg/citationStyleLanguage/tree/stable-3_3_0](https://github.com/UB-Heidelberg/citationStyle

[2021-09-22 09:23] NateWr commented on #7313
Thanks, we'll probably want to time this when the team doesn't have many large PRs coming, because I imagine it will involve some additional formatting across the codebase.

[2021-09-22 09:50] ajnyga commented on #7292
@NateWr added the comment and running tests again

[2021-09-22 11:31] nongenti commented on #7132
Hi @NateWr,
if a chapter exists in a new version and not in an old version there will be no link to the old version and an short information on the chapter landing page.
![Screenshot 2021-09-22 at 11-33-03 Test Chapter 2 d Ups TestPress](https://user-images.githubusercontent.com/78475910/134320185-28e14211-48b3-47cb-9cf8-d04af7ef924b.png)

If you use an url to get a version of a chapter, that not

[2021-09-22 11:58] jonasraoni opened #7315 "Normalize the database"
**Describe the problem you would like to solve**
Normalize the database in order to have better expectations (e.g. ensure a record is always identifiable by a single ID), improve the performance, decrease the amount of rows and also improve the data integrity.

**Describe the solution you'd like**
1. Add an `ID` field to all tables and discard composite primary keys.

2. Move non-localized fields

[2021-09-22 12:44] ronste commented on #6201
Hi @nongenti ,

thanks for the update. But our installation runs on OMP 3.2. I guess we'll take another route for now.

Regards,
Ronald

[2021-09-22 13:39] NateWr commented on #7292
Merged to `main`. I think this is a rare use case, so I'm tempted not to backport it to `stable-3_3_0`. Any objections?

[2021-09-22 13:56] NateWr commented on #7132
Thanks @nongenti, that all sounds good. When an older version exists without this chapter, can we adjust the message to appear when the chapter was first created? That would look like:

That works. Although I'd be tempted to just return a 404 in these cases.

The URL approach you describe could work. However, I'm concerned that the URL routing is getting really complicated. I also want to avoid to

[2021-09-22 15:19] marcbria commented on #7148
Sorry for the delay. Sent by slack.

[2021-09-22 16:03] asmecher commented on #7292
No objections here, thanks!

[2021-09-22 16:28] ajnyga commented on #7292
no problem, I can do my own backport for our installation

[2021-09-22 16:40] asmecher commented on #7315
I think you're referring to the `issueId` setting in `publication_settings`. Yes, this should definitely be normalized.

For the rest, I don't have a problem with what you're proposing per se, but it would be a pretty significant development effort. If it turns out that we're hitting e.g. a performance limit, then I could see prioritizing it -- but we'd need to establish that first.

[2021-09-22 16:46] jonasraoni commented on #7315
Yeah, it was the `issueId`! I understand it's tough and will introduce several breaking changes, I just wanted to leave the idea saved somewhere.

[2021-09-22 18:51] librariam opened #7316 "Notify users by role offers an option to CC instance admin, should be journals' primary contact instead"
**Describe the problem you would like to solve**
When notifying users by role, journal editors are offered an option to "Send a copy of this email to me at [instance admin email]"

In many cases, instance admin is not the journal manager/editor. Specifically in case of multi-journal instances having the admin email is not useful to individual journals, and can results in lots of unnecessary email

[2021-09-22 18:58] Vitaliy-1 commented on #6093
Migration looks ok to me and, except for unrelated issues, it went fine on my test instance. Left a comment regarding `down()` method.

[2021-09-22 19:25] jonasraoni commented on #6828
@asmecher Here's the PR to fix the `stable-3_3_0`: https://github.com/pkp/ojs/pull/3187

[2021-09-22 21:13] librariam opened #7317 "CSV user export includes roles from other journals"
**Describe the bug**
Exporting users by role on a multi-journal instance produces a CSV with multiple hundreds of Role columns (e.g. a CSV produced from the OJS demo site had 400+ columns). It looks like it perhaps contains a Yes/No for a role in each journal on the instance...?

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a JM/JE in a journal on a multi-journal instance on OJS

[2021-09-22 22:02] asmecher commented on #7317
We can't collapse each journal's role list into the same column, since roles are installed the same by default but can be customized per journal. So we can't guarantee that Journal A's "Reviewer" role will be the same as Journal B's (or that Journal B will even have one, for example).

[2021-09-22 22:13] librariam commented on #7317
This is meant to be an export for only one journal though. The JM who generates the report only wants to know which role the user holds in their journal.

[2021-09-22 22:24] asmecher commented on #6093
Thanks, @Vitaliy-1, I've resolved the comments you had! @jonasraoni, could you have a quick look? Then I'll merge these PRs and move on with other foreign key declarations following this pattern.

[2021-09-22 22:43] asmecher commented on #6828
Merged, thanks!

[2021-09-23 00:49] asmecher commented on #6700
Thanks, @kshuttle!

[2021-09-23 00:56] asmecher commented on #6955
Whoops, it looks like we have a fork! I didn't realize that @jmacgreg moved the repo to `pkp`, and I released the most recent plugins to the plugin gallery from `asmecher/portico`. I'll take a look at this tomorrow. Those features did get ported to `stable-3_2_1` and `main` (which was 3.3.0-x at the time).

[2021-09-23 01:12] willinsky commented on #7270
We're seeing a version of this bug among the journals in this installation: https://ojs.stanford.edu/ojs/index.php

Describe the bug
When an Author creates a new submission, the submission does not appear in the Unassigned tab but appears in the All Active tab with no editor assigned and the warning "No editor has been assigned to this submission."

To Reproduce
1. Submit a manuscript as an author

[2021-09-23 09:09] NateWr commented on #7315
I like the idea but my big concern with normalizing the `_settings` tables is that we need to continue to have an extensible data structure. If we normalize some fields (eg - `given_name`/`family_name`), we won't be able to get rid of the `_settings` table because plugins might make use of it to attach additional data.

Because of this, normalizing the core localized fields might lead to more comp

[2021-09-23 09:12] NateWr commented on #7316
This is a CC to the person sending the email. So if the journal manager sends the email, the option will be to CC themselves. Basically, whoever you are logged in as when sending the email.

[2021-09-23 10:21] NateWr commented on #4694
Closing this as the Tools submenu is no longer expanded, so the report generator does not appear twice in the menu.

[2021-09-23 10:21] #4694 closed

[2021-09-23 10:32] NateWr opened #7318 "Integrate statistics Custom Report Generator with article statistics UI"
**Describe the problem you would like to solve**
The custom report generator (Statistics > Reports > Generate Custom Report) duplicates some of the filtering and sorting options in the article stats UI (Statistics > Articles). The custom report UI is confusing, and depending on which report template is used, offers advanced options that don't apply to the report.

**Describe the solution you'd lik

[2021-09-23 11:24] NateWr commented on #7313
Ugh, I tried to do this today but in the process I somehow broke the pre-commit hooks. :sob: These are the changes that I think need to be made to get from 2.x to 3:

https://github.com/pkp/pkp-lib/pull/7319
https://github.com/pkp/ojs/pull/3188

But more work will need to be done to apply the updates (it does effect a lot of files) and make sure the pre-commit hooks work.

[2021-09-23 11:37] Vitaliy-1 opened #7320 "Missing imports disrupting upgrade"
**Describe the bug**
If upgrade from OJS earlier than the 3.3 release to the current main branch, fatal errors are thrown due to missing imports

**To Reproduce**
Perform upgrade from < 3.3

**What application are you using?**
 Tested with OJS 3.1.1

[2021-09-23 11:52] Vitaliy-1 commented on #7320
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/7321
OJS: https://github.com/pkp/ojs/pull/3189

[2021-09-23 12:27] jonasraoni commented on #7315
Yeah! I was updating a plugin and [saw this feature being used](https://github.com/ulsdevteam/pkp-betterPassword/blob/8364a4c2e3d2b093fc258790a7bb0a0b244f8004/BetterPasswordPlugin.inc.php#L100-L106) =]

- I'm totally ok to switch an extra join by data integrity! It's also easier to see what fields are available in the database, with the `settings` it's not possible to know it until some data is wr

[2021-09-23 12:51] #7320 closed

[2021-09-23 13:21] librariam commented on #7316
Well I feel silly now :-) Thank you for explaining!

[2021-09-23 13:21] #7316 closed

[2021-09-23 13:30] NateWr opened #7322 "Add tests for the reports"
The reports (Statistics > Reports) generate CSV files for usage statistics, review assignments, and more. Tests should be written to ensure that these reports include the expected data.

- [ ] Review report
- [ ] Articles report
- [ ] Subscription report

The following reports will not have any data until after the statistics tests are run.

- [ ] PKP Usage Statistics report
- [ ] View report
- [

[2021-09-23 14:06] librariam commented on #5918
Adding another request from the Forum from 2019 https://forum.pkp.sfu.ca/t/how-to-make-ojs-admin-dashboard-responsive-for-mobile-devicrs/51439

And a more recent inquiry from PKP|PS: a journal editor would like to perform their duties from an iPhone and would like the dashboard to be responsive on mobile.

[2021-09-23 14:22] jonasraoni commented on #6093
I just left small comments. I didn't run the upgrade, but it would be useful to check it against real data to catch unexpected issues.
- `assoc_*` removal: that's great, the nomenclature was really confusing for me.
- Half-typed Laravel: I've seen it in other places and I'm curious if there's a reason or if it's just "lack of time" =]
- Abort rather than attempt to correct data: If I were an user

[2021-09-23 17:36] Vitaliy-1 opened #7324 "Revise method for adding template variables to the Mailable"
Laravel Mail Service recommends the usage of `Mailable::with()` to assign/customize email's data before sending it to the template. Consider its usage instead of `Mailable::addVariables()` for assignment of template variables to avoid duplications of methods with the same task.

[2021-09-23 19:28] asmecher commented on #6093
Thanks, @jonasraoni!

So far this is just theoretical, as the scripting I've done does clean (minor) things up automatically. But if it's anything that'll potentially change the scholarly record, I do think we should abort and let them fix it rather than make assumptions.

[2021-09-23 21:44] pmangahis commented on #2330
+1 from hosted client

[2021-09-23 22:51] asmecher commented on #6093
Additional PRs for OMP and OPS:
- https://github.com/pkp/omp/pull/1008
- https://github.com/pkp/ops/pull/182

[2021-09-24 01:06] asmecher opened #7325 "EntityDAO input sanitization does not allow nullable int columns"
When a `INT` table column handled by an EntityDAO is sometimes nullable, operations on it can pass in `null`.
However, this is passed upstream from `EntityDAO::getPrimaryDbProps` to `lib/pkp/classes/db/DAO.inc.php`'s `convertToDB` function, which will cast it to `int` regardless of its `nullable` status.

When `null` values are passed in and the column is nullable, EntityDAO::getPrimaryDbProps` sh

[2021-09-24 01:12] asmecher commented on #7325
This can be worked around with:
[code]
...but this is messy.

@NateWr, I wasn't sure about the status of `deprecatedDao` in general -- would you mind taking a look at this? Maybe it's a better time to remove that class entirely?

[2021-09-24 07:41] heike-r opened #7326 "DataCite DOI registration via OJS plugin screws up „first page“ and „last page“ metadata"
We noticed that, when a DOI we registered via the DataCite plugin in OJS 3.3.0.6, is used for metadata import in CITAVI, that the metadata fields “first Page” and “last page” contain information about the issue, but not about the page numbers of the respective article. A look into DataCite Fabrica confirmed that these fields are filled with wrong data. DataCite xml schema 4.4 and the JSON schema d

[2021-09-24 13:17] ajnyga commented on #5932
@NateWr
I still have this to go, but things are starting be ready

For 7, we of course already have Series browsing in OMP in catalog/series so no need to do additional work there. The only thing is to remove duplicate code. It will involve renaming `path` in OPS and OMP to urlPath and of course a lot more migration code. Do you want me to do it now or maybe in next release when this is already in

[2021-09-24 13:40] ajnyga commented on #5932
lib: https://github.com/pkp/pkp-lib/pull/7327
ojs: https://github.com/pkp/ojs/pull/3123

[2021-09-24 17:52] ctgraham commented on #7204
@NateWr , I've backported your implementation against:

- 3.2.1: #7329
- 3.1.2: #7205

And cleaned up the formatting for:

- 3.3: #7328

[2021-09-24 18:18] Vitaliy-1 opened #7330 "Images aren't handled correctly on the front end of HTML galleys in versioned articles"
**Describe the bug**
Related forum thread with a description of the bug and steps to reproduce: https://forum.pkp.sfu.ca/t/no-images-in-html-galley-of-a-versioned-article/69614

**What application are you using?**
Confirmed for the current main branch of OJS, also relevant for 3.3

**Additional information**
URL that is built by the HTML galley plugin is correct, the problem seems to be in how `Ar

[2021-09-24 18:49] ajnyga commented on #7222
This should not be a problem. Let's say we have three versions published. DOI1 is pointing to version 1, DOI2 is pointing to version 2 and DOI3 is pointing to the main landing page which shows version 3. We still have three distinct DOIs pointing to three distinct url's. If a fourth version is created the we have DOI4 pointing to the landing page and DOI3 starts to point to version 3 url.

[2021-09-24 19:06] asmecher commented on #7330
If it's relevant to 3.3.0-x, it should be fixed there -- Images/CSS in HTML galleys rarely gets testing before release, so this would be a great candidate for an automated test!

[2021-09-24 19:11] asmecher opened #7331 "OMP OAI interface doesn't list correct keywords and subjects"
From https://github.com/pkp/omp/pull/1007:

[2021-09-24 19:32] asmecher commented on #7326
@heike-r, the first page and last page that OJS provides to CrossRef are parsed (when OJS can figure out their formatting) from the single "pages" field in the submission metadata. The parsing is a little convoluted:

https://github.com/pkp/pkp-lib/blob/stable-3_3_0/classes/publication/PKPPublication.inc.php#L277

Are your page ranges something that this parser will be able to understand?

[2021-09-24 20:54] asmecher opened #7332 "Fix subscription searches"
From https://github.com/pkp/pkp-lib/issues/7127#issuecomment-922849677:

[2021-09-24 20:54] asmecher commented on #7127
Thanks, @bozana, I've filed that here: https://github.com/pkp/pkp-lib/issues/7332

[2021-09-24 21:40] asmecher commented on #6875
I think there are two problems:
1. A code-level problem, where `ASSOC_TYPE_ACCESSIBLE_WORKFLOW_STAGES` is not available in the authorized context list. As you found, @ajnyga, this is happening because `StageRolePolicy` depends on `UserAccessibleWorkflowStageRequiredPolicy` but that policy has not been brought into the policy list in `api/v1/submissions/PKPSubmissionHandler.inc.php`. I agree with t

[2021-09-24 22:08] asmecher opened #7333 "Remove PressSettingsDAO/JournalSettingsDAO/ServerSettingsDAO"
These are all but unused.

[2021-09-24 22:19] asmecher commented on #7333
In the process, I removed all OMP upgrades prior to 1.2.0 -- for anyone who is running OMP older than 1.2.0, they will need to upgrade via an intermediate version (e.g. OMP 3.3.x).

[2021-09-24 22:19] #7333 closed

[2021-09-25 01:09] asmecher commented on #7325
PRs:
- https://github.com/pkp/pkp-lib/pull/7334
- https://github.com/pkp/ojs/pull/3190 (tests only)

[2021-09-25 07:27] fgnievinski opened #7335 "Multilingual articles (not just multilingual metadata) should receive multiple DOIs"
**Describe the problem you would like to solve**
Sometimes journals publish a given article in multiple languages, i.e., with a separate PDF for each language.

**Describe the solution you'd like**
 In this case, CrossRef [recommends](https://community.crossref.org/t/dois-for-translated-publications-with-the-same-landing-page/1923/2) depositing multiple DOIs, one for each language:

Optionally, th

[2021-09-25 07:47] ajnyga commented on #7335
The DOI we register is one that points to a landing page, not to any particular translation. You can add DOIs to representations as well, meaning files attached to a particular article, but that is probably a different case from their point of view.

If we would have a DOI for each translation, we would need a landing page with an unique url for each translation. See https://github.com/pkp/pkp-lib

[2021-09-25 08:26] fgnievinski commented on #7335
But when the metadata is exported for deposit in CrossRef, the DOI registered by OJS adopts the submission primary language.

The proposal would allow exposing multilingual metadata for a scenario currently supported by CrossRef: multilingual galleys.

Granted, this is probably more of a feature request for the [OJS Crossref plugin](https://github.com/pkp/crossref-ojs) than OJS itself.

[2021-09-25 10:21] jonasraoni commented on #6328
I've rebased and broke the commits into separate pieces, so here's some PRs (the remaining, just "cosmetic updates" against submodules, I'll publish once the discussions are done to avoid creating too much noise):

I saw that we have other plugins related to translation (e.g. `defaultTranslation`), so I'll update them later as well :)

PKP-LIB https://github.com/pkp/pkp-lib/pull/7336
OJS https://g

[2021-09-25 10:29] ajnyga commented on #7335
Sure, but if there would be a landing page for all translations OJS could register a DOI for all languages, not just the submission primary language. And as it was mentioned in your link, there would be a intra_work relation between those works.

Galleys and Galley DOIs are handled as Components in Crossref schema. An article DOI should always point to a landing page. I suspect that the Crossref r

[2021-09-25 15:13] ajnyga commented on #7302
@asmecher
Two pull requestes here.

For OPS, fixing some bugs not really related to this issue: https://github.com/pkp/ops/pull/183
For Crossref-OPS, the actual feature:

Output tested with: https://data.crossref.org/reports/parser.html

[2021-09-25 15:23] ajnyga commented on #7134
Which solution do you prefer?
1) Adding this to the submission wizard
2) Adding this to the publishing form?
3) both

[2021-09-25 15:36] fgnievinski commented on #7335
except CrossRef doesn't support multilingual metadata yet, it's still in their "research & planning" stage, we're probably a few years away from it, as per second link above.

the present proposal would for the first time ever allow multilingual publications to be exposed for indexing outside of OJS. and it's for a specific use case which CrossRef already supports and endorses, as per first link a

[2021-09-25 16:11] ajnyga commented on #7335
Sure and having a language specific landing page in OJS is probably as far away.

As I mentioned above, Galleys are treated as `Components` in the Crossref Schema. If registering DOIs for Galleys and adding a `isTranslationOf` relation is enough then I think that would be fairly easily achieved. But The `Component` element to my knowledge does not include much metadata itself. I have been under th

[2021-09-25 16:56] ajnyga commented on #7335
This is how I have been thinking how different language versions of articles would get DOIs, but this requires OJS to have language specific landing pages. This example has two DOIs being deposited for the same article (English as primary language and Finnish as the translated version). In OJS this would be one Submission but a case where the full text and metadata would be in two languages. There

[2021-09-26 14:10] jonasraoni commented on #6328
About the caching performance, I just did a basic I/O test, to read/write a `Translator` object, 1000 times, using the `en_US` locale (~470KB), also I'm using PHP 7.4, a SSD disk and enabled the OPCache.

#### - [OPCache driver](https://github.com/elcobvg/laravel-opcache)
This is the driver that I used... As it uses the `var_export()` internally, it has a limitation to cache objects (they must imp

[2021-09-26 14:22] asmecher commented on #6328
@jonasraoni, I'm especially interested in relative real-world performance compared to the old code -- will the changes slow things down measurably?

[2021-09-26 15:35] jonasraoni commented on #6328
Ah, this was just a hint for the cache driver selection (I saw the `Stash` is also using `serialize()`/`unserialize()` for objects).

About the real-world performance, I've just checked against the `/install` page (112 requests + 1.6 MiB + disabled browser cache) and this is what I've got:

- Enabled OPCache:
  - /main: Cold = 16.8s / Hot = 11.6s
  - New: Cold = 12.2s / Hot = 6.2s

- Disabled OPCa

[2021-09-26 15:42] jonasraoni commented on #6328
So looks like it's working faster, even though there's some extra Laravel tooling in the middle 🤔

[2021-09-26 18:20] Vitaliy-1 commented on #7330
Looking at this one, I'd suggest using a version-specific URL for download operations for dependent files. For galleys that refer to the old version of publication it looks:
[code]
it results in redirect here: https://github.com/pkp/ojs/blob/3c6325159ce631b64c8fa8c2abc52e1c762ed49c/pages/article/ArticleHandler.inc.php#L176

Because the `download` URL doesn't include publication id, during Handler

[2021-09-26 21:54] fgnievinski commented on #7272
the simultaneous display of multilingual metadata might ensure that all languages are indexable by crawlers #699

[2021-09-26 22:05] fgnievinski commented on #7335
The above might deserve mention in the DIG's guide to Google Scholar Indexing as recommended practice for publishing multilingual articles in OJS:

https://docs.pkp.sfu.ca/google-scholar/en/#adding-multilingual-metadata-in-ojs-32

The justification is that most editors would probably be surprised to learn that secondary language articles in OJS are not indexed externally.

[2021-09-27 00:26] fgnievinski commented on #699
while reading issue #7272, it occurred to me the present issue (basically, offering language-specific article URLs) could perhaps be implemented in OJS3 as a theme. the information needed seems to have already been made available in the "smarty" template API:

https://docs.pkp.sfu.ca/pkp-theming-guide/en/template-variables#site-journal-and-locale

the above could be used in conjunction with the "`

[2021-09-27 08:19] NateWr commented on #7325
Yeah, `null` values (and removing an existing value) have been a bit tricky to handle. Are you sure that this case only applies to a nullable `int` column on the primary db? If so, then I think your solution is the most appropriate. However, it won't apply to any properties not in the primary database (ie - those in the _settings table).

If this really only applies to the primary table, I wonder

[2021-09-27 08:27] NateWr commented on #7126
PR:
https://github.com/pkp/pkp-lib/issues/7126

[2021-09-27 09:11] NateWr commented on #5932
Let's do it now if we can. I'd prefer to get things aligned all in one go if that's alright.

[2021-09-27 09:13] ajnyga commented on #5932
Of course, that means I will probably try moving some of the code I've written to pkp-lib, which is of course a good thing (but a real pain to do:D)

[2021-09-27 09:19] NateWr commented on #7222
I guess the question is when and how is this information updated with the DOI agency? With each new version, we deposit a new DOI with new metadata. But my understanding is that we do not go back and modify the metadata of existing DOIs. Are you proposing that all DOIs are redeposited with every new version? Or is this already done?

[2021-09-27 09:30] NateWr commented on #7204
Woohoo! Thanks, @ctgraham! I've merged those in now. Do you have a sense of what further actions/commands we want to add? If so, I'll split those out into separate issues and close this one.

[2021-09-27 09:34] ajnyga commented on #7222
It is updated when DOI4 is registered. The plugin will reregister DOIs for all publications within a submission. DOI1 and DOI2 will stay the same, but DOI3 will receive and update on the url it is pointing to. The registered DOIs are then tied together with `isVersionOf` relations.

An example XML with three versions for the same preprint was checked and accepted by Crossref back in Feb 2020, but

[2021-09-27 09:36] ajnyga commented on #7222
See https://github.com/pkp/crossref-ops/blob/main/filter/PreprintCrossrefXmlFilter.inc.php#L67-L79

[2021-09-27 09:51] NateWr commented on #7134
For now, I'd suggest adding information to the publishing form, similar to DOIs in OJS, which says what the current relations status is. We can add an item to the submission wizard separately as part of #7191.

The information added to the publishing form can look something like this:

| | Related Publication |
| --- | --- |
| ✘ | This preprint has not been published elsewhere. |

| | Related Publ

[2021-09-27 09:52] NateWr commented on #7222
That's great. If it already works that way, then that's the best solution, IMO.

[2021-09-27 10:54] NateWr opened #7337 "Accepting a review assignment can modify the submissions' active stage"
**Describe the bug**
When a reviewer accepts a review assignment, the submission's active stage is set to the review round's stage. If a submission has been accepted and sent to the copyediting stage, it will be sent back to the review stage if a reviewer accepts the review request.

This may effect completing a review assignment too.

**To Reproduce**
Steps to reproduce the behavior:
1. Move a su

[2021-09-27 10:55] jonasraoni commented on #6328
Note for the future: perhaps it's worth to write a `gettext` > `Laravel` conversor, to reduce the amount of code.

[2021-09-27 11:00] NateWr opened #7338 "Close review assignments when a submission is accepted or declined"
**Describe the problem you would like to solve**
When a submission is accepted or declined, the editor is no longer interested in receiving the reviewer's comments. However, the reviewer may not be aware of this and may still complete the review assignment.

**Describe the solution you'd like**
Review assignments should be automatically closed when a submission is accepted or declined in a review

[2021-09-27 11:24] jonasraoni commented on #3304
Perhaps the OPcache cache driver, which I've added to https://github.com/pkp/pkp-lib/issues/6328, will address the performance issue.

[2021-09-27 13:08] otuoma commented on #6729
This worked for me. Upgraded from 3.2.1.1 to 3.3.0-8

[2021-09-27 13:11] ctgraham commented on #7204
Beyond enable/disable/install, I would see value in:

- Running the Plugin Gallery queries without bootstrapping the database (that is, running pre-install)
  - This allows use of the tool for packaging versions
- CRUD on the Plugin Settings (this may be more aligned with the API CLI we mocked up in Barcelona)
  - This allows use of the tool for automating installs with plugin configurations

[2021-09-27 14:29] AhemNason commented on #7335
Hey everyone!

This is a lot to read on a Monday morning and I _do_ have some thoughts about it. But, I agree with @ajnyga that this is likely a lot more work than it might seem.

**Multilingual Metadata**

Multilingual metadata is definitely complicated. From a Google Scholar perspective, their recommendation is that metadata should only be recorded in the language the work was written in. If you

[2021-09-27 15:05] NateWr opened #7339 "Improve documentation of import/export XML schema"
**Describe the problem you would like to solve**
Our schema is full of nonintuitive fieldnames/values that make it difficult to construct a suitable XML file for import. For example, I don't know what a ["query", "fair_copy", or "dependent" stage](https://github.com/pkp/pkp-lib/blob/92b75052e97dea0d007d93639c14052202a1acf9/plugins/importexport/native/pkp-native.xsd#L120-L140) is, or why I would us

[2021-09-27 15:08] jnugent commented on #6663
Hi everyone, this bug may have reappeared.  We have a client on 3.3.0.7, upgraded from 3.2, and now uploaded CSS files for HTML galleys are getting a "text/plain" MIME type stored in the files table:

![Screenshot at 2021-09-27 12-02-17](https://user-images.githubusercontent.com/218719/134934558-45fa1e45-e462-474e-9ce4-c7f23b24b775.png)

This file was correctly uploading as text/css in 3.2 and has

[2021-09-27 16:04] Vitaliy-1 opened #7340 "Debug option for emails"
**Describe the problem you would like to solve**
Allow debugging of email content without configuring an email sending environment.

**Describe the solution you'd like**
Integrate Laravel Log Service. According to the documentation, mail transport can be configured to use logging.

[2021-09-27 16:18] fgnievinski commented on #7335
pagination is yet another reason for discouraging multilingual galleys in favor of separate works, one for each language.  page numbers won't be exactly the same for translations and original work; normally the translation follows sequentially the original work in a given journal issue.  so the "how to cite" text will always display the primary language's page numbers, despite the change in articl

[2021-09-27 16:25] Vitaliy-1 commented on #7340
Draft PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/7341
OJS: https://github.com/pkp/ojs/pull/3193

[2021-09-27 17:32] ajnyga commented on #7335
I personally would like to see this solved within the context of a single Submission. We just need to have separate landing pages for translations and Google Scholar plugin for example has to take this into account. GS plugin can not present multilingual metadata on a single landing page, but it can show different kind of metadata when you visit the url of the translated version.

Within the OJS c

[2021-09-27 17:36] NateWr commented on #7339
Discussed briefly with @mfelczak who runs a lot of imports:

- some form of XML annotation would be useful for the PS support team, who often answer support requests from clients preparing their own migration
- one of the most common questions is how to validate XML once it's been created
- lots of questions in OMP imports related to onix: what can we add and how to learn about it

[2021-09-28 08:18] NateWr opened #7342 "Add ability to install, delete, update, enable and disable plugins to the plugins CLI tool"
**Describe the problem you would like to solve**
The plugins CLI tool (`lib/pkp/tools/plugins.php`) is used by system administrators to identify when plugins need to be updated. However, to perform any actions they must still login to the site and go to the plugin settings area. This is cumbersome for system administrators who run several instances, and prevents plugin management from being automa

[2021-09-28 08:22] NateWr opened #7343 "Allow plugins CLI tool to read and write plugin settings"
**Describe the problem you would like to solve**
A system administrator would like to be able to automate complex installation or upgrade procedures across all of their deployments. In order to do this, they need the plugins CLI tool (`lib/pkp/tools/plugins.php`) to allow them to modify a plugin's settings directly.

**Describe the solution you'd like**
Extend the plugins CLI tool to support CRUD

[2021-09-28 08:23] NateWr commented on #7204
Thanks @ctgraham, I've filed two issues at https://github.com/pkp/pkp-lib/issues/7342 and https://github.com/pkp/pkp-lib/issues/7342. Can you say more about running gallery queries pre-install? Is the goal to be able to download a plugin before install? Not sure what you mean about packaging versions.

[2021-09-28 08:23] #7204 closed

[2021-09-28 08:41] NateWr opened #7344 "CSS file mimetype not correctly recognized"
**Describe the bug**
A CSS file uploaded as a dependent file is assigned the `text/plain` mimetype instead of the `text/css` mimetype. This prevents it from being loaded correctly into a HTML galley.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a galley and upload a HTML file.
2. Upload the file attached below as a dependent stylesheet
3. View the mimetype in the `files` table in t

[2021-09-28 08:41] NateWr commented on #6663
I've filed this separately at https://github.com/pkp/pkp-lib/issues/7344 and I'll close this. That way we can keep this issue as a record of work committed to the 3.3.0-4 milestone and any additional work will get flagged to that milestone.

[2021-09-28 08:41] #6663 closed

[2021-09-28 08:42] NateWr commented on #7344
@Vitaliy-1 I've assigned you just because you might remember the work that went into the last fix. But I know you've got enough to do at the moment. If it takes more than an hour of tinkering to figure out, let me know and I can unassign you.

[2021-09-28 11:07] KBodarwe commented on #3261
Hey, sorry for pulling this up again. I'm working on a similar project (exporting articles including additional data for long term storage) and wanted to ask if there's any news in this?

@SantiMaceri is there any news on your project?

if not, @asmecher do you (or anyone else for that matter) have any hints on how to register your own filters? I have found the configureObject() function in the Fi

[2021-09-28 12:39] Vitaliy-1 commented on #7344
The main branch has a fallback extension-based method for determining a MIME type when a file is added, which isn't implemented for the stable branch.

[2021-09-28 12:50] NateWr opened #7346 "Object properties are not converted to the correct type in API requests"
**Describe the bug**
If an entity schema defines a property that is an object with sub-properties, these sub-properties are not converted to type. Example:

[code]

A request with the following payload will not be converted from a string to a boolean:

[code]

**What application are you using?**
`main` branch (3.4 pre-release)

[2021-09-28 12:52] #7346 closed

[2021-09-28 13:18] Vitaliy-1 commented on #7344
PRs
pkp-lib stable 3.3.0: https://github.com/pkp/pkp-lib/pull/7347
OJS tests only: https://github.com/pkp/ojs/pull/3195

[2021-09-28 13:58] luizbgomide opened #7348 "[OJS 3.3.0.3] OAI-PMH Error: “No incremental harvesting (day granularity) of ListRecords”"
I'm getting this error in all my journals OAI interface when testing using: http://oval.base-search.net/

![image](https://user-images.githubusercontent.com/18707781/135101514-a2a75a68-db15-49ca-b231-5be2d3da92a2.png)

I'm not sure when this started, but we now got the demand from our editors and opened a forum post, but had no luck so far (https://forum.pkp.sfu.ca/t/oai-pmh-error-no-incremental-h

[2021-09-28 14:03] NateWr commented on #7344
@jnugent it looks like part of the fix in the `main` branch never made it into `stable-3_3_0`. Can you test the PR above to see if it resolves the issue for you?

[2021-09-28 14:28] jnugent commented on #7344
@NateWr  confirming fixed!

![Screenshot at 2021-09-28 11-27-44](https://user-images.githubusercontent.com/218719/135107263-cebe415d-f684-447e-a459-fdd4c0be9f76.png)

[2021-09-28 14:50] gonetil commented on #3261
Hi @KBodarwe ,
yes, there are some news. We have completed the first step of the project, and even though we were unable to test it in a production environment, all tests we run in a controlled env. resulted quite ok.
It is important to note that both origin and destination OJS should be version 3.2 (we actually used ver. 3.2.1), and they must have the same configuration: sections, users and roles

[2021-09-28 15:07] diegoabadan opened #7349 "OMP does not display version"
This affects at least OMP 3.3.0.8

It can be seen in the instances maintained by PKP at:

https://demo.publicknowledgeproject.org/omp3/demo/index.php/aup-demo/about/aboutThisPublishingSystem

https://demo.publicknowledgeproject.org/omp3/testdrive/index.php/td-press/about/aboutThisPublishingSystem

[2021-09-28 15:08] NateWr commented on #7344
Thanks to both of you!

[2021-09-28 15:08] #7344 closed

[2021-09-28 15:25] asmecher commented on #7348
@luizbgomide, I would suggest updating to the latest 3.3.0-x release and testing there; it includes some OAI-PMH related fixes such as https://github.com/pkp/pkp-lib/issues/7214.

[2021-09-28 16:37] asmecher commented on #7349
This should already be fixed for release in OMP 3.4.0 by https://github.com/pkp/omp/commit/2af8043007545590c46d5835573569c17eed0253. I'll cherry-pick this back to `stable-3_3_0`, though.

[2021-09-28 16:37] #7349 closed

[2021-09-28 20:35] asmecher commented on #4235
Thanks, @olovy! I reviewed both PRs; specifics are over there.

[2021-09-29 00:09] ewhanson commented on #7014
Hi @NateWr,

Here's an initial in-progress look at this work. There are still some core pieces to be finished, but wanted to get your initial thoughts. Thanks!

PRs:

#7350
pkp/ojs#3196
pkp/ui-library#165
pkp/crossref-ojs#4
pkp/orcidProfile#191
pkp/citationStyleLanguage#83

[2021-09-29 09:20] KBodarwe commented on #3261
Hi @gonetil ,
that is actually very helpful, thanks. I'm not fluent in Spanish, but I can piece together the information from the code.

I see that you have extended the Native Import Export plugin. Did you add any new filters in the process? I'm trying to implement my project into a new plugin which needs new filters. Registering these into the database seems to be the problem.

[2021-09-29 11:23] luizbgomide commented on #7348
BTW, @asmecher when I 3.4 arriving?

[2021-09-29 12:15] openacademia commented on #7159
Hi @NateWr

Just to add to this, we have discovered the same thing on OJS 3.3.0.4 (the Swedish national OJS platform). To clarify, the problem also occurs when someone registers without immediately submitting a manuscript afterwards. If someone creates an account and go back the next day to submit a paper, they cannot - they are not given the author role unless the submit a paper at the same time

[2021-09-29 12:26] openacademia commented on #7159
Oh, one more thing! I now noticed that even though new users are not given the author role, they can still start a new submission and AFTER they have submitted something, they automatically get the author role. Interesting! Maybe the problem is not as big as I initially thought then, although it would of course be better if the author role was automatically given upon registering.

[2021-09-29 12:45] amandastevens opened #7352 "Add translations of language names to locale install list"
**New problem description (3.4)**
The language lists (both in the software installer and e.g. on the language toggle plugin) list language names in the current language:

![image](https://user-images.githubusercontent.com/200411/186975142-bae0996b-eb88-4ec6-ba3c-a92e1312e9c2.png)

In cases where the same language is available in 2 character sets (e.g. Serbian), it's not clear which is which.

For

[2021-09-29 15:09] asmecher opened #7353 "Fix queries for MySQL ONLY_FULL_GROUP_BY mode; reduce dependence on GROUP BY"
When MySQL's `SQL_MODE` setting include `ONLY_FULL_GROUP_BY` (which adds stricter enforcement of query construction), several of our queries involving `GROUP BY` clauses fail with messages like:

[code]
This is related to the SQL standard's optional feature T301, for functional dependency; both MySQL and PostgreSQL are smart enough to know when selected/sorted columns are functionally dependent on

[2021-09-29 17:34] pmangahis opened #7354 "Allow for labels be added to article versions"
Requested by Journal Manager using OJS 3.3.

Instead of using only a default version number and date, the journal is also allowed to add an additional name in front of the date for each new version. So, version 1 could be “Accepted Manuscript, 2021-03-09 (1)” and version 2 to be “Version of Record, 2021-09-15 (2)”.

![image](https://user-images.githubusercontent.com/50342731/135319647-663b6cf7-ae3

[2021-09-29 18:21] asmecher commented on #7354
@NateWr, I think you recently responded to a forum post or issue requesting named versions -- if that rings a bell, do you have a link handy?

[2021-09-29 21:42] asmecher commented on #7353
PRs:
- https://github.com/pkp/pkp-lib/pull/7355
- https://github.com/pkp/ojs/pull/3198 (Tests only)

[2021-09-29 22:10] kshuttle opened #7356 "New email templates notifying authors that their submission is being sent to review"
Currently authors are not notified when their submission is sent to review (#4059)

I suggest three new email templates be created to address this, with alternative wording depending on the type of peer review that will be undertaken. These can be incorporated into the workflow changes addressed in #7265

**Template 1: Double-anonymous review**

This template replaces the old one: EDITOR_DECISION_

[2021-09-29 23:02] kshuttle commented on #2687
Suggested title for new email template to send revision reminders to authors: REVISION_REMIND

Sent by: Editor
Received by: Author
Should the sender be able to preview and customize this email? Yes
Should the recipient be able to opt out of receiving this email? No

**The following has been drafted for this new email template:**

**Email subject**
A reminder to please send us your revisions

**Ema

[2021-09-29 23:58] asmecher commented on #7325
I took another look at this to find a less kludgy solution. The main impediment was the `DataObject::setData('xyz', null)` behaviour, which has been [interpreted as an `unset`](https://github.com/pkp/pkp-lib/blob/stable-3_3_0/classes/core/DataObject.inc.php#L119). This means the following...
[code]
...removes `myNullableColumn` from `$dataObject->_data` entirely, instead of adding it to the array

[2021-09-30 00:39] #7353 closed

[2021-09-30 00:48] fgnievinski commented on #7335
just to mention some documentation about CrossRef's hasTranslation and isTranslationOf fields:

_Relationships between different research objects - Example: translated article_
https://www.crossref.org/documentation/content-registration/structural-metadata/relationships/#00047

the above fields would also benefit journals currently publishing multilingual articles in OJS simply as two independent

[2021-09-30 05:01] ajnyga commented on #6900
+1 request from another of our editors

[2021-09-30 08:43] NateWr commented on #7356
Thanks @kshuttle. I'm doing work now that will make it easy to get this in for 3.4. :tada:

I'd like to use present tense in the subject, because at the time the email is sent the editor won't have assigned reviewers and may not do so right away. So it's like "your submission _is going_ to review" instead of _was sent_ for review. A minor distinction.

Rather than have 3 separate email templates,

[2021-09-30 09:20] NateWr commented on #7354
This overlaps some with #4860, where we discuss version types and summaries. The more recent discussion was #7280, where Scielo is asking for "version notes".

The main hiccup to date is that downstream providers do not really distinguish between major/minor revisions. And the distinction between Accepted Manuscript and Version of Record is not handled in OJS at all (Antti-Jussi has a Forthcoming

[2021-09-30 09:35] NateWr commented on #7325
I have a memory of you making this change to `DataObject::setData()` and it causing problems before. Do you remember that? Maybe this is different...

[2021-09-30 09:42] NateWr commented on #7352
I'm not sure if we have every language translated into every other language. @asmecher do you know if this is part of the ISO library we're using?

(Also, I didn't know we have a Scottish Gaelic translation of OJS!! :joy:)

[2021-09-30 17:23] NateWr commented on #7014
Phew! That was a lot of code! :joy: I've left some comments on the PRs. The following arose from clicking around and testing it out.

- [ ] Move DOI settings to Settings > DIstribution (see below)
- [ ] The big blue deposit button should always deposit any undeposited DOIs, not just the selected ones. You'll need to ping the server to get an accurate count of how many will be deposited.
- [ ] When

[2021-09-30 17:31] asmecher commented on #7325
@NateWr, yes, we discussed it here: https://github.com/pkp/pkp-lib/issues/5740#issuecomment-629548502

We ended up agreeing that the change would be better made "later" as part of a major release (at the time meaning 3.3.0), but 3.4.0 suits well too, I think.

[2021-09-30 17:43] asmecher commented on #7352
The php-isocodes library we use for countries and currencies does include 639-3 language list. Note that it's harder to customize entries once they're delegated to that library, though; see https://github.com/asmecher/customCountryList for a plugin that allows adjustments to the country list.

[2021-10-01 12:39] felixhelix commented on #7156
In the Apache error log I find the following related entries:
`
[Fri Oct 01 14:08:33.437616 2021] [php7:warn] [pid 11309] [client 134.95.147.149:40782] PHP Warning:  Declaration of ManageFinalDraftFilesForm::execute($stageSubmissionFiles, $fileStage = NULL) should be compatible with ManageSubmissionFilesForm::execute($stageSubmissionFiles = NULL, $fileStage = NULL, ...$functionArgs) in /var/www/ht

[2021-10-01 16:46] ctgraham commented on #7204
For running pre-install, I'd like to be able to reference the CLI tool in, for example, `buildpkg.sh` so that a packaged version of OJS could be built with a set of version-appropriate plugins include in the build, without committing specific git submodules.

Similarly, a brand new install could use the CLI tool to add plugins before the install script is run, or an upgrade script could interact w

[2021-10-01 16:53] hblancoca commented on #1822
https://github.com/pkp/ojs/tree/ojs-stable-2_4_8/plugins/generic/dataverse

[2021-10-01 20:44] alexdryden opened #7357 "Add Edit Button to Sections in the about/submissions View in OJS"
**Describe the problem you would like to solve**
Wasn't sure if this qualified as a bug, but the front end UI doesn't show an edit button next to [section elements](https://github.com/pkp/pkp-lib/blob/cacde93b8225907b36298a723c4542a25140fd5f/templates/frontend/pages/submissions.tpl#L65) on the about/submissions page, so logged-in users with appropriate permissions may believe that these are not ed

[2021-10-01 21:51] henriqueramos opened #7358 "Considering avoid run Travis CI for changes on markdown files"
Currently, we are running CI testing for every Pull Request on OJS, even those with changes on markdown files.

In order to save time and resources, we could adopt a logic to exit faster as possible those builds.

Back in 2014, [react did a change on his .travis.yml](https://github.com/facebook/react/pull/2000) to avoid running it over markdown changes. We could adopt something like that.

[2021-10-01 23:20] kshuttle commented on #7356
This all looks great, Nate! Thank you.

[2021-10-01 23:29] asmecher commented on #3261
From PKP's side, we haven't made steps to improve the coverage of the XML, but our hope is that we can continue building out the REST API, adopting it from within the application as we do, then add some better command-line tools for interacting with the API outside the UI. The advantage of this is that we won't have to maintain conversion code for each entity to the import/export tools, and to the

[2021-10-01 23:38] kshuttle commented on #7029
Hi @NateWr, do you think this could be accomplished with a variable -- something like {$issueDetails}? If so I can work that into the template wording above.

[2021-10-02 00:29] kshuttle commented on #7030
Hi @NateWr,
Do you have suggestions on the following?

- How best to describe the subscription and embargo access options?
- Whether we can include an {$embargoPeriod} variable that pulls the length of time from the subscription settings (i.e. 12 months)?
- Whether there's an effective way to incorporate a green OA policy to tell authors when they can deposit their work in an institutional reposit

[2021-10-02 22:59] henriqueramos commented on #7125
Hello everyone!

Below are the pull requests on pkp-lib, omp, ops and ojs for this task. Code review and comments are appreciated.

https://github.com/pkp/omp/pull/995
https://github.com/pkp/ops/pull/167
https://github.com/pkp/ojs/pull/3160
https://github.com/pkp/pkp-lib/pull/7166

Thank you!

[2021-10-04 08:51] umithcl opened #7359 "An embedded link in Google scholar directing to a false address"
Hellow,

We were using OJS's 3.2.1.1 version. After publishing our current issue, we realized that all papers in the current issue only were directed to the wrong address via google scholar. Original source( content provider) is SSBFNET but it leads to a different/wrong destination (jhvzbatt.id).

I checked the installed Google Scholar Indexing plugin on OJS. There is no problem. There is no probl

[2021-10-04 09:32] NateWr commented on #7342
Additionally, it would be good if the CLI tool could install and delete plugins without the application being installed. From @ctgraham:

[2021-10-04 10:06] NateWr commented on #7029
Hmm, yeah re-reading this I think it would work just to replace `{$issue}` with `{$issueIdentification}`? (That's what we call the full Vol/No/Year/Title thing internally.)

[2021-10-04 10:14] NateWr commented on #7030
We have a general policy of not working too hard to support these features in OJS. I'd be tempted to leave them out.

Does this setting exist?

I don't think so. Not unless we built this into journal settings, and I think we'd want to validate it as a priority on its own rather than just add it for an email. A journal can customize an email as easily as a journal setting.

Yes, it should do.

[2021-10-04 10:52] NateWr commented on #7359
Please post requests for help in our [community support forum](https://forum.pkp.sfu.ca/).

[2021-10-04 10:52] #7359 closed

[2021-10-04 10:53] NateWr commented on #7326
Closing for now. Will reopen when we get more details.

[2021-10-04 10:53] #7326 closed

[2021-10-04 11:04] NateWr commented on #6770
Closing this as an issue specific to Scielo for now. Feel free to reopen if there are reproduction steps on a clean install of OPS.

[2021-10-04 11:04] #6770 closed

[2021-10-04 11:09] NateWr commented on #6723
Closing until we can reproduce it in a more recent version.

[2021-10-04 11:09] #6723 closed

[2021-10-04 12:15] AhemNason commented on #7335
I'm not sure, but I think writing in relational metadata between two published articles in OJS is actually a non-trivial undertaking. Especially since there's no interface by which to _link articles_ as it stands.

[2021-10-04 12:22] amandastevens commented on #7352
Thanks, I didn't know about that plugin.

[2021-10-04 14:43] diegoabadan opened #7360 "OMP Sitemap produces 404 not found pages"
Problem reported on the PKP forum at:
https://forum.pkp.sfu.ca/t/omp-sitemap-produces-404-not-found-pages/67210

We had the same problem with OMP 3.3.0-8.

[2021-10-04 15:20] henriqueramos commented on #7125
Forgot to add those other pull requests.

https://github.com/pkp/usageStats/pull/50
https://github.com/asmecher/lensGalley/pull/51

[2021-10-04 15:28] NateWr commented on #7125
Great work @henriqueramos! I've had a look over the PRs to check for style/consistency with the new patterns and it all looks great. I've left a few comments, but I didn't do a full review or test the code in operation. I think Alec has been working with you on that so I'll leave it to him to do the final review and determine when to merge. :+1:

[2021-10-04 16:54] jonasraoni commented on #3910
@NateWr, I'm just reviewing my open issues, should this one be closed?

[2021-10-04 19:50] #7325 closed

[2021-10-04 19:50] asmecher commented on #7325
Merged!

[2021-10-04 21:14] asmecher opened #7361 "Reconcile fr and fr_CA translations in OPS"
There are both `fr` and `fr_CA` translations for OPS.
- If `fr` is to be preserved and maintained separately from `fr_CA`, it needs to be renamed to `fr_FR`
- If not, it should be removed.

[2021-10-04 21:14] asmecher commented on #7361
I've reached out to the translator to ask what their intentions/process are.

[2021-10-05 00:13] librariam commented on #6242
+1 more from PKP|PS to keep the name of unassigned reviewer, to ensure they don't accidentally get invited again

[2021-10-05 01:15] fgnievinski commented on #4695
Thanks @NateWr for the neat list of steps needed: https://github.com/pkp/pkp-lib/issues/4695#issuecomment-630113888

While I don't have direct access to developer resources at my institution, I've taken the liberty of advertising this enhancement suggestion in some users groups. Hopefully raising awareness about the issue and the solution envisioned would bring us closer to finding someone able to

[2021-10-05 06:52] fgnievinski commented on #3639
maybe it's done later as per https://github.com/pkp/pkp-lib/issues/5702?

[2021-10-05 06:55] zidingz opened #7362 "Create SECURITY.md"
Hey there!

I belong to an open source security research community, and a member (@haxatron) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practic

[2021-10-05 08:22] NateWr opened #7363 "Cancelled review assignments included in count of active reviews"
**Describe the bug**
When looking at the details of a submission in the submissions list, it shows a count of completed reviews like this:

The total number will include cancelled reviews, but these should be excluded.

This code needs to be adjusted to exclude cancelled reviews:

https://github.com/pkp/pkp-lib/blob/stable-3_3_0/classes/services/PKPSubmissionService.inc.php#L312-L316

**To Reprodu

[2021-10-05 08:43] NateWr commented on #7363
PR:
https://github.com/pkp/pkp-lib/pull/7364

Tests:
https://github.com/pkp/ojs/pull/3200

[2021-10-05 09:16] NateWr commented on #3910
Thanks @jonasraoni. Yeah I'll close this and the behaviour will be reviewed as part of #7191.

[2021-10-05 09:16] #3910 closed

[2021-10-05 09:20] NateWr commented on #4695
:+1: I think we can use `workNumber` internally in the code, but use "Article Number" in user-facing UIs. It will be localized across all applications anyway. It's just the internal property we need to keep consistent across all applications.

[2021-10-05 09:36] NateWr commented on #7360
**Describe the bug**
The sitemap produced by OMP includes URLs that lead to 404 errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Publish at least one book.
2. View the sitemap at `<journal-url>/sitemap`
3. Look for entries like `http://localhost:8000/publicknowledge/catalog/view/15`
4. Follow the URL to get a 404

**What application are you using?**
OMP 3.3.0-8

**Additional informati

[2021-10-05 09:39] NateWr commented on #7360
PR:
https://github.com/pkp/omp/compare/stable-3_3_0...NateWr:i7360_sitemap?expand=1

[2021-10-05 09:44] NateWr opened #7365 "Add tests for sitemaps in OJS, OMP and OPS"
**Describe the problem you would like to solve**
Each application produces sitemaps that can be shared with Google for search indexing. However, these sitemaps are not often tested during development.

**Describe the solution you'd like**
Add tests to ensure that the sitemaps are correct. The tests should cover:

- [ ] Are all of the expected URLs present in the sitemap? (as appropriate for the ap

[2021-10-05 09:54] NateWr commented on #7362
Thanks for responsibly disclosing, @zidingz! I found [this post](https://forum.pkp.sfu.ca/t/pkp-applications-and-security/27991) which suggests sending to an email address, but I believe this might have changed recently. @asmecher will know for sure and get back to today.

Thanks for the tips on a `SECURITY.md` file. Once I get confirmation from @asmecher I'll make sure we've got those in each of

[2021-10-05 09:56] NateWr commented on #7362
Just recording here that GitHub has a setup tool with a template for the `SECURITY.md` file here: https://github.com/pkp/ojs/security (must have project access). Here's the template:

[code]

[2021-10-05 10:04] NateWr commented on #7363
Merged to `stable-3_3_0` and cherry-picked to `main`.

[2021-10-05 10:04] #7363 closed

[2021-10-05 10:28] #247 closed

[2021-10-05 10:28] #294 closed

[2021-10-05 10:29] #297 closed

[2021-10-05 10:29] #304 closed

[2021-10-05 10:31] #327 closed

[2021-10-05 10:31] #342 closed

[2021-10-05 10:31] #343 closed

[2021-10-05 10:32] #357 closed

[2021-10-05 10:32] #401 closed

[2021-10-05 10:33] NateWr commented on #403
Closing this as a low priority.

[2021-10-05 10:33] #403 closed

[2021-10-05 10:42] NateWr commented on #7360
Merged to `stable-3_3_0` and applied to `main`.

[2021-10-05 10:42] #7360 closed

[2021-10-05 11:08] KBodarwe commented on #3261
Thanks @asmecher for the insight.
That seems like a long way still to go though.

If I may ask: I'm currently looking for a way to export on a per-article basis, including all submission files, comments, notes, additional files etc., into an XML format. What would be the best approach to this in your opinion? I've tried making a plugin similar to the native plugin, but can't find out when and how

[2021-10-05 17:22] asmecher opened #7366 "Investigate potential UI/UX problems generating API keys"
Coalition Publica reports frequent problems getting API keys set up.
- Potentially a lack of feedback when the API key secret is not configured
- Users may be misusing the "create a new API key" checkbox and accidentally creating a new key just after copying the last one

[2021-10-05 17:22] asmecher commented on #7366
@ewhanson, you might have some feedback here?

[2021-10-05 23:19] asmecher commented on #4235
Thanks very much, @olovy -- that's a nice, clean solution and it's great to have the patches for OMP and OPS as well. I tested these and made a few slight changes but nothing major :+1:

[2021-10-05 23:19] #4235 closed

[2021-10-06 01:07] asmecher commented on #7362
@NateWr, I've added a SECURITY.md to OJS: https://github.com/pkp/ojs/blob/main/SECURITY.md

I based this on the internal documentation we have in Notion (where it does the community no good at all). Your feedback is welcome -- I'll add similar descriptors to OMP and OPS. I based our end-of-life window for OJS 2.x on the time we removed the upgrade code (to keep things consistent -- I'll mention th

[2021-10-06 07:19] olovy commented on #4235
Thank you, @asmecher !

[2021-10-06 07:55] NateWr commented on #7362
The SECURITY.md looks good! I think this can be closed?

[2021-10-06 08:27] KBodarwe commented on #3261
Hey @asmecher,
thanks very much for the info. I have started a thread in the PKP Forum:
https://forum.pkp.sfu.ca/t/ojs-3-3-registering-additional-filters-for-xml-export/70100

Cheers,
Karl.

[2021-10-06 08:46] NateWr commented on #7366
Yeah, I can confirm that the process for generating a key is very confusing. The problem is that it uses checkboxes and a save button try and take actions, but these should really be expressed as buttons. It might be harder to fix than it seems, because I think the user profile tabs are tightly coupled with forms.

However, here's a quick mockup of what I think it ought to look like when a key doe

[2021-10-06 11:42] henriqueramos opened #7367 "Considering implement an after_failure script to cancel all Travis jobs running on the same build"
Sometimes during our tests a build fails on specific job environment, but the other jobs keep running.

In order to save resources and time, we should consider implement an `after_failure` script to cancel other jobs on the same build.

On this [older thread on Travis-ci repository](https://github.com/travis-ci/travis-ci/issues/2062#issuecomment-527271794) there's a `curl` command, we could test a

[2021-10-06 12:16] luizbgomide opened #7368 "[OJS 3.3.0.3] Reviewer missing when searching for her full name"
When searching for the full name:
![image](https://user-images.githubusercontent.com/18707781/136199588-9ccfcfc7-06ab-448c-b8ca-397c8f80c9e4.png)

Nothing is found, but when searching by parts of the name it works just fine:
![image](https://user-images.githubusercontent.com/18707781/136199720-5b263606-9554-40d2-a706-a6808303b031.png)

What is odd is that similar name is found when using a similar

[2021-10-06 12:19] nongenti commented on #7132
Hi @NateWr,
I've made my commits for the chapter landing pages. Would you review them?

For now it's without separate licenses for chapters and without  backlinks based on file. I'm still working on both.
Should I write a function in SubmissionFile.inc.php like "getBacklink( $context ) : array"? I would return an array. First entry is a backlink to volume landing page. Second entry exists only if

[2021-10-06 12:24] luizbgomide opened #7369 "Other languages required when they shouldn't be"
**Describe the bug**
When clicking to advance on a new submission while the Title or Abstract field is selected, OJS says that the other language fields must be filled, when clicking away and the title (or abstract) popup closes the user can continue normally.

**To Reproduce**
**Steps to reproduce the behavior:**
1- Create a new submission in a journal with more than one language
2- Fill just the

[2021-10-06 12:28] NateWr commented on #7132
Can you open a PR for each repository where changes need to be made, and add a comment with the links here? Open the PRs against the `main` branch.

[2021-10-06 12:37] nongenti commented on #7132
https://github.com/pkp/pkp-lib/pull/7370
https://github.com/pkp/omp/pull/1012

[2021-10-06 15:20] asmecher opened #7371 "Add missing CSRF checks"
Several non-critical actions are missing CSRF checks:
- [x] .../$$$call$$$/grid/settings/roles/user-group-grid/unassign-stage
- [x] .../$$$call$$$/grid/settings/roles/user-group-grid/assign-stage
- [x] .../$$$call$$$/grid/settings/languages/manage-language-grid/save-language-setting
- [x] .../admin/clearDataCache
- [x] .../admin/clearTemplateCache
- [x] .../admin/clearScheduledTaskLogFiles
- [x] .

[2021-10-06 15:30] alexm commented on #1504
Tried that, even `SetEnv HTTPS on`, to no avail. `$_SERVER['HTTPS']` is `NULL` in both cases :thinking:

[2021-10-06 17:00] ewhanson commented on #7366
Yes, I'll also echo that the combination of checkboxes and save button seem to lead to confusion.

From my experience, it's not clear from the "changes saved" message that the key has necessarily changed as the same "changes saved" message pops up whether or not a new API key has been generated. I think one way the perception of "invalid keys" can come up is a user generates a new API key, copies

[2021-10-06 17:24] Vitaliy-1 commented on #6938
@NateWr, I'm receiving JS error when trying to save an email template (only on the main branch):
[code]
is it related?

[2021-10-06 17:40] Vitaliy-1 commented on #6938
Looks like it's related, without the line added by the referenced commit I'm able to save.

[2021-10-07 01:22] AndrewGearhart commented on #4240
Some suggested language to clarify things a bit in terms of classifications for accounts:

| Status | Timedout | date_last_Login | date_validated | disabled |
| --- | --- | --- | --- | --- |
| active | False | != date_registered | != NULL | False |
| invalid | True | = date_registered | = NULL | True |
| disabled | False | != date_registered | != Null | True
| inactive | False | +360 < today | !=

[2021-10-07 11:26] NateWr commented on #7368
Please provide reproduction steps when reporting a bug. These steps should cover how to reproduce the bug in a clean database or, if that's not available, in a "fresh case". For example, with this bug, a "fresh case" might involve creating a new user under similar conditions and reproducing the bug with that user.

I tried to reproduce this and failed with the following steps:

1. Edit existing re

[2021-10-07 11:26] #7368 closed

[2021-10-07 18:10] jnugent opened #7372 "No paging on OMP search results"
**Describe the bug**
As it stands right now, the search feature in OMP does not do any paging of search results, so if there are more than `SUBMISSION_SEARCH_DEFAULT_RESULT_LIMIT` (as defined in `lib/pkp/classes/search/SubmissionSearch`), all you ever get are the first 20 results.

**To Reproduce**
Steps to reproduce the behavior:
See https://www.thecommonwealth-ilibrary.org/index.php/comsec/searc

[2021-10-07 18:30] asmecher opened #7373 "Set httpOnly flag on session cookie"
The session cookie should be sent with the httpOnly flag in order to reduce the risk of session highjacking via a client-side script injection.

Original report: https://huntr.dev/bounties/bbe8d92d-0c70-4dca-b076-350bcb4df403/

[2021-10-07 18:30] #7373 closed, assigned to asmecher

[2021-10-07 18:41] asmecher commented on #6779
I support the idea of moving per-journal email options to the setup forms rather than `config.inc.php`. If we opt to move some of the current `config.inc.php` settings into the setup forms for the site admin -- and I have no strong opinion on whether or not to do that -- the upgrade script can take care of migrating settings from `config.inc.php` to the settings tables, and thereafter the `config.

[2021-10-07 18:49] asmecher commented on #7372
Thanks, @jnugent! Merged and back-ported to `stable-3_3_0`.

[2021-10-07 18:49] #7372 closed

[2021-10-07 19:04] luizbgomide commented on #7369
Ah, forgot to mention, this happens in all our journals (all of them accept submissions at least in Portuguese and English).

[2021-10-07 20:56] asmecher commented on #7369
@luizbgomide, sorry, one more question -- what is the site's primary language? (Available in Site Settings when logged in as Administrator.)

[2021-10-07 20:56] seisense commented on #6900
This is much needed and will be a big relief for the editors.

[2021-10-08 20:11] asmecher commented on #7371
PRs for `stable-3_3_0`:
- pkp-lib: https://github.com/pkp/pkp-lib/pull/7374
- ojs: https://github.com/pkp/ojs/pull/3203
- omp: https://github.com/pkp/omp/pull/1014
- ops: (none for `stable-3_3_0` but needs adding to `main`)

[2021-10-08 22:32] asmecher commented on #7371
@NateWr, could you review these? Essentially they're adding CSRF checks to anything using `AjaxAction`, plus a few other places.

[2021-10-09 20:38] librariam commented on #2644
+1 from PKP|PS. Confirming the abstract being mandatory in quick submit when set as not required for that section is still an issue in 3.3.0.7 and 3.3.0.8

[2021-10-11 09:37] NateWr commented on #7368
Can you reproduce this problem on 3.3.0-8? You should be able to do set up a test instance and import your database to test against the latest release.

[2021-10-11 11:59] jmvezic opened #7375 "Free-form text input in submission process"
**Describe the problem you would like to solve**
Our journal managers would need an option to specify custom text input in the submission process, besides the existing checklist. For example, a question label and a text input element for the author to answer the given question (in freeform).

**Describe the solution you'd like**
In addition to the checklist feature, add an option for text input el

[2021-10-11 16:51] Vitaliy-1 commented on #7340
I've refreshed PRs. @NateWr, do you think anything else should be addressed here before merging?

[2021-10-11 17:02] defstat commented on #6850
@NateWr @asmecher

Author Grid and new Author API Calls

**PRs**
OJS: pkp/ojs#3204
pkp-lib: #7376
ui-library: pkp/ui-library#167

![image](https://user-images.githubusercontent.com/560456/136828011-9f311f02-01a1-43ee-901b-5f6122d1c597.png)
![image](https://user-images.githubusercontent.com/560456/136828079-cf70aa61-e16f-4eb0-8aa6-95bbfd4bb1f8.png)

[2021-10-12 08:48] NateWr commented on #7340
Great, just one comment on an exception instead of an error, but happy for it to be merged either way.

[2021-10-12 08:53] #7375 closed, assigned to nobody

[2021-10-12 17:35] kaitlinnewson opened #7377 "Review Report contains duplicate rows"
**Describe the bug**
When exporting the Review Report in OJS 3.3.0-6/8, many of the rows are duplicated.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the Review Report in Statistics > Report.
2. Open the downloaded CSV file.
3. Review the file to note duplicated rows. If in Excel, the "Remove Duplicates" feature can also be used to indicate how many duplicates there are.

**What

[2021-10-13 00:08] asmecher opened #7378 "Resolve reflected XSS issues"
See original report: https://huntr.dev/bounties/134160e4-92f7-4bc5-a1c6-d368f5c8280d/

There is a reflected XSS issue in the user creation interface where the user-supplied given name is bounced back to the browser. The user creation form is CSRF-protected and available to managers only, so the risk of abuse is low.

Resolve this issue and scan for others.

[2021-10-13 00:47] #7378 closed

[2021-10-13 06:14] fgnievinski commented on #7272
a solution has been reported in the forum:

https://forum.pkp.sfu.ca/t/option-to-have-article-abstracts-and-titles-in-multiple-languages/33220/3

see a live example:

https://digitcult.lim.di.unimi.it/index.php/dc/article/view/191

[2021-10-13 09:41] #487 closed

[2021-10-13 09:42] #510 closed

[2021-10-13 09:42] #523 closed

[2021-10-13 12:31] jmvezic commented on #6724
If this (https://raw.githubusercontent.com/pkp/pkp-lib/33f7f1b09d604e291f4279423efe60298c8dc201/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php) is still the latest script, I get the usual errors mentioned here https://github.com/pkp/pkp-lib/issues/6724#issuecomment-851310154 in step 2, but after that I also get

[code]

[2021-10-13 16:43] fgnievinski commented on #7272
Multilingual DC tags could also be used, e.g.,:

[code]

Although not used by Google Scholar, they could be useful for general Google Search.

[2021-10-14 09:59] #703 closed

[2021-10-14 10:07] #942 closed

[2021-10-14 10:07] #943 closed

[2021-10-14 10:54] luizbgomide commented on #7368
BTW, I'm on MySQL 8.0.25.

[2021-10-14 11:07] luizbgomide commented on #7369
Here is one new journal I just created and posted above:
![image](https://user-images.githubusercontent.com/18707781/137305654-b0208cc0-373d-42ca-a72b-946105bbc4be.png)

The second query got no results, those are the distinct `setting_name` I have in the `site_settings` table:
![image](https://user-images.githubusercontent.com/18707781/137306085-54bb097a-f454-44ba-99b5-99102efa720f.png)

[2021-10-14 11:23] NateWr commented on #7258
@Vitaliy-1 as part of my work on email sending, I've put together a possible solution to this. You can see the changes to the Mailable and Mailer classes in this commit: https://github.com/NateWr/pkp-lib/commit/4c668d05d5de9d0fef1449989822223a2f626497

The way this works is that `*****MailVariable` classes are instantiated and stored in the `Mailable` itself. Then we ask each `****MailVariable` cl

[2021-10-14 18:13] Vitaliy-1 commented on #7124
Created `Repository` class that implements methods to manage email templates

[2021-10-15 17:51] jnugent opened #7379 "users with userId of 1 cannot be merged"
**Describe the bug**
The merge user link for users in the users grid does not appear if the userId of the user is 1.   This is because there is an assumption that the first user in an installation is an admin user in the UserGridRow class:

[code]
This test is probably not necessary because the $canAdminister variable is set by calling Validation::canAdminister which checks to see if the user has

[2021-10-16 00:44] asmecher opened #7380 "Add CSRF check to user profile image deletion"
First reported: https://huntr.dev/bounties/c18b63ae-18b2-41dc-812b-82fb2179ed65/

[2021-10-16 00:45] #7380 closed

[2021-10-16 12:40] luca-ludovico commented on #7272
Dear all, here is the code we wrote for DigitCult.
Let me recall the behaviour we had to implement. We usually publish articles in Italian; in this case we require that the title, subtitle and abstract are made available in English too, and we display them in a smaller size. We also accept papers originally written in English; in this case, we just show the English version.
A good example is avail

[2021-10-16 14:02] bozana commented on #6781
Hmmm... or were those ojs::legacyCounterPlugin counts according to the COUNTER standard? Maybe we can then also migrate them -- in that case they would mean same as ojs::counter counts...

[2021-10-16 14:43] bozana commented on #6781
Hmmm... Me again :-D
I took a look into the old OJS code. The different metric types were aggregated in release 2.4.3. In that release ojs::counter was introduced. Earlier there were:
- OJS default views counts: OJS_METRIC_TYPE_LEGACY_DEFAULT
- TimedViews plugin counts: OJS_METRIC_TYPE_TIMED_VIEWS
- Counter plugin counts: OJS_METRIC_TYPE_LEGACY_COUNTER.

So, if possible, during the upgrade process

[2021-10-16 18:37] mdabrowski78 opened #7381 "API redirect problems in RESTful URL configuration (api.404.endpointNotFound)"
Hi

I am running a single journal environment, with RESTful URLs on ojs-3.3.0-7, PHP 7.4.24, Apache 2.4.x in a shared hosting environment.

After logging in to admin panel, file upload requests I send either in the subscriber or management console are sent to /api/v1/_uploadPublicFile, but are being internally redirected to journal contextPath
/cp/api/v1/_uploadPublicFile and returning a 403. If I

[2021-10-16 20:13] asmecher commented on #7381
Cross-posted: https://forum.pkp.sfu.ca/t/api-redirect-problems-in-restful-url-configuration-api-404-endpointnotfound/70233

I'll close this issue in favour of the forum entry.

[2021-10-16 20:13] #7381 closed

[2021-10-17 08:47] Haxatron commented on #7362
As a researcher on the platform, let me provide some POV.

With the current system of huntr, low-priority issues like HTTPOnly and Secure flags get rewarded the same as RCEs. That is why as a researcher, I report every security issue, no matter the severity, I find in repositories. Of course, I will take my time to search for higher severity issues as well, but other researchers may not.

If you a

[2021-10-18 06:12] fgnievinski commented on #699
leaving here some relevant guidelines for SEO:

[Use different URLs for different language versions:](https://developers.google.com/search/docs/advanced/crawling/managing-multi-regional-sites?hl=en&visit_id=637697305880129947-2911729240&rd=1#use-different-urls-for-different-language-versions)

[Use the x-default tag for unmatched languages:](https://developers.google.com/search/docs/advanced/crawl

[2021-10-18 13:01] bozana opened #7383 "Fix submission filtering by issue and section ID"
**Describe the bug**
The articles can appear double in the issue TOC. The filtering by issue and section ID in getQueryBuilder() in classes/submission/Collector considers all submission publications, but does not check for distinct ones.

**To Reproduce**
Steps to reproduce the behavior:
Publish several publications of a submission and check the TOC

**What application are you using?**
 OJS main

[2021-10-18 13:07] bozana opened #7384 "ViewReport: provide PDF, HTML, Other stats instead of stats for each artilce galley"
One expects the counts in ViewReport to be the same with the counts in the GUI. This is not the case, because the ViewReport provides counts for each article galley, but it considers only the current publication. The statistics in the GUI however consider all submission files, for all publications and classify them for the different file types i.e. PDF, HTML and Other.
Thus, change the ViewReport

[2021-10-18 14:41] #853 closed

[2021-10-18 14:41] #1173 closed

[2021-10-18 17:14] bozana commented on #6781
@ctgraham, R4 would stay, I would remove R3. And the only thing R3 provided other than R4 was for those old years, where OJS_METRIC_TYPE_LEGACY_COUNTER was used, that was before 2.4.3.
We cannot migrate those OJS_METRIC_TYPE_LEGACY_COUNTER counts adequately.
Thus, the only remaining solution is if we would automatically create the R3 reports for those old years during the migration and save them s

[2021-10-18 20:11] ewhanson opened #7385 "User registration complete locale key passed as string"
**Describe the bug**
The locale key for user registration complete is passed to the template `$pageTitle` as a string rather than a localized string, i.e. the end user sees "user.login.registrationComplete" rather than "Registration complete."

**What application are you using?**
 OJS 3.3.0

[2021-10-18 20:26] ewhanson commented on #7385
Hi @asmecher, could you have a look at this fix. Is this also something that would affect OMP and OPS since it was an issue in pkp-lib? Thanks.

PRs:
#7386
pkp/ojs#3206

[2021-10-19 00:29] ewhanson commented on #7385
Hi @asmecher, I've updated that handler and found a few others where the same thing was happening. Here's an updated PR for pkp-lib along with the updated OJS PR. Thanks!

PRs:
#7387
pkp/ojs#3206

[2021-10-19 01:39] asmecher commented on #7302
Thanks, @ajnyga! Do both need back-porting to `stable-3_3_0`?

[2021-10-19 04:28] bozana commented on #6781
No, unfortunately not -- R4 data, from 3.4. being in the DB table `metrics_submission` (that contains almost the same data as `metrics` -- just for the submissions (abstract + files) and metric_type ojs::counter, but without Geo data) cannot be used to get the unique (investigations and requests) metric types required in R5. We can get total (investigations and requests) from there, if we would ne

[2021-10-19 04:45] ajnyga commented on #7302
It's an extra feature so not sure?

[2021-10-19 11:15] defstat opened #7388 "New submission with no contributors - Can't conclude the submission"
**Describe the bug**
When trying to insert a new submission, if no contributors added, the submission steps can't be concluded.

**To Reproduce**
Steps to reproduce the behavior:
1. Go through the steps of a new submission
2. Remove all contributors from step 3
3. Try to conclude submission in step 4
4. See error

**What application are you using?**
 OJS, OMP or OPS version 3.4 (main branch)

**Ad

[2021-10-19 11:17] NateWr commented on #7384
Could (or should) this be implemented as part of https://github.com/pkp/pkp-lib/issues/7318? I imagine that it could maybe just be a download link from the statistics table itself... Or does the ViewReport provide something more than the table?

[2021-10-19 14:01] NateWr opened #7390 "Required column in user_settings table is not dropped during migration"
**Describe the bug**
The `user_settings` table no longer has a `setting_type` column. However, there doesn't appear to be a migration that drops this column. So new installs will not have the column but old installs will.

This creates a bug when trying to save a user setting (eg - API key).

**To Reproduce**
I have not yet reproduced this, but I think the steps to reproduce the behavior are:
1. I

[2021-10-19 19:53] asmecher opened #7391 "Ensure that Managers can control enrolments within their journal"
**Describe the problem you would like to solve**
Managers are currently prevented from editing user accounts that are active in other journals (presses, servers) that the manager does not manage. This prevents them from performing some operations that they should have access to, in particular managing their enrollment in user groups in the manager's journal.

**Describe the solution you'd like**
M

[2021-10-19 19:58] asmecher opened #7392 "Ensure Site Administrators have "global" access within journals"
**Describe the problem you would like to solve**
A user with the admin role is not able to take all actions in a journal unless they are enrolled as a Journal Manager. In multi-journal instances, this means they must be enrolled in every journal as a Journal Manager.

This also leads to sharing of site administrator accounts, since that means only one account must be kept enrolled as Manager in ea

[2021-10-19 21:42] asmecher commented on #7282
Merged the PRs above, @henriqueramos! Does this need to be ported to OMP or OPS?

[2021-10-19 22:06] #3632 closed, assigned to nobody

[2021-10-19 22:14] asmecher commented on #5620
@NateWr and @marcbria, I don't recall seeing this behaviour recently; has this already been resolved?

[2021-10-20 00:51] ewhanson commented on #7385
Thanks @asmecher!

[2021-10-20 00:51] #7385 closed, assigned to ewhanson

[2021-10-20 10:54] NateWr commented on #7390
My bad!

[2021-10-20 10:54] #7390 closed

[2021-10-20 10:57] #5620 closed

[2021-10-20 11:25] NateWr commented on #7391
This should be straightforward in a case where a user already is assigned to a role in the journal. For example, a journal manager can assign the section editor role to a user who already has the author role in their journal.

However, some care will need to be taken in cases where the user does not have a pre-existing role in the journal. For example, a journal manager who wants to assign the sec

[2021-10-20 11:33] luizbgomide commented on #7369
@asmecher probably related, but the steps taken are different. A fix for one would probably fix both.

In #4818 it is just showing the message but if you tab enough you would get out of the input panel the validation error would go away and you will be able to click the Ok/Save/Continue/Next button. My issue arised from author clicking Continue directly and getting stuck thinking they had to fill

[2021-10-20 11:42] NateWr commented on #7388
Ok, I'm ok with this for now but once this is merged can you file an issue with these screenshots and I'll clean up the UI for 3.4.

[2021-10-20 12:47] Vitaliy-1 commented on #7124
@NateWr, are filtering parameters `limit` and `offset` needed for email templates? They aren't mentioned in the API docs but present in the old query builder (although aren't implemented in the email template handler).

[2021-10-20 13:11] NateWr commented on #7124
I think if they exist and it's not much work to keep them, lets keep them. I can see it being useful in the future when email sending is better and (hopefully) people create lots more custom email templates.

[2021-10-20 15:06] louisaoc commented on #3263
I vote for the original request of having a maintenance mode (I don't mind blocking viewers from published content as well since it's easier to achieve). Maintenance mode covers other use cases over and above an upgrade.

- Actual maintenance that's not an upgrade
- Migrating to another hosting provider, so the current prod must just show in maintenance while the migration takes place and services

[2021-10-21 00:30] kshuttle commented on #6941
Another idea is to edit the current REVIEW_ACK email template and create an automated process with an option in the settings to include the decision in the REVIEW_ACK email.

The setting options could be as follows:

[ ] Don't thank reviewers
[ ] Thank reviewers
[ ] Thank reviewers and let them know the final decision

The automated email details would be:

**Email subject
Thank you for your revie

[2021-10-21 08:42] #7379 closed, assigned to nobody

[2021-10-21 09:09] NateWr commented on #6941
Thanks for the email template @kshuttle!

So I've rebuilt the editorial decision workflow (see #7265) in a way that makes notifying reviewers a step in the process. I think this will give journals a more flexible approach than trying to automate it based on settings. Editors can opt to send or skip the email, choose their email template, deselect one or more reviewers if they want to notify them s

[2021-10-21 09:13] NateWr commented on #6941
@kshuttle I've just noticed from the first comment in this issue, there is a note from you expressing concern that reviewers will see this email as an opportunity to restate their case. Do we want to include any language in the default template to discourage this?

[2021-10-21 09:24] #1071 closed

[2021-10-21 09:26] NateWr commented on #1080
This text does not appear to be used anymore in OJS. Closing as outdated.

[2021-10-21 09:26] #1080 closed

[2021-10-21 12:43] NateWr commented on #1098
It's all a bit up in the air right now, with Libero Editor being abandoned, but I think the question of how will OJS handle JATS internally is different from the question of how it will deliver JATS to downstream consumers like Crossref/Pubmed. My sense is that the approach recommended here -- crosswalking some HTML entities to JATS -- is not going to be the route we go down (wouldn't support imag

[2021-10-21 16:24] GrazingScientist opened #7394 "QuickSubmit-Plugin: Emphasize the upload of PDFs"
In OJS 3.3, it happened lately twice in our journals with new journal editors, that they created a new article with the QuickSubmit-Plugin and overlooked the PDF upload for the galley. After that, they tried to add the PDFs to the articles and failed (by uploading them in the Production Phases of the articles).

Instead, the QuickSubmit-Plugin should stronger emphasize the possibility to upload th

[2021-10-21 18:19] kshuttle commented on #6941
Thanks @NateWr!

This looks great! I'm really excited about how this will function.

I am hoping that this sentence will mitigate reviewers' concerns when the editor's decision differs from their recommendation:

However, we could be more explicit. Perhaps something like:

"Occasionally the editor's decision may differ from the recommendation made by one or more reviewers. Please be assured that y

[2021-10-21 19:45] asmecher commented on #968
Yes, thanks!

[2021-10-21 19:45] #968 closed

[2021-10-21 22:04] withanage commented on #6841
@asmecher

Forward-porting PR created https://github.com/pkp/omp/pull/1018   thus closing the issue.

[2021-10-21 22:04] #6841 closed

[2021-10-21 23:25] kshuttle opened #7395 "Delete OneClick email templates"
Several OJS email templates exist to be used when "one-click reviewer access" is enabled, allowing reviewers to click directly from the email notification into the submission via a secure link which does not require them to login.

Going forward, OJS will use new wording for the regular reviewer invitation and reminder emails which will include a link to send the reviewer directly to the submissio

[2021-10-21 23:30] asmecher commented on #6841
Thanks, Dulip!

[2021-10-21 23:50] asmecher commented on #7362
@JamieSlome and @zidingz, in [this entry](https://www.huntr.dev/bounties/30140aef-249d-46ce-ad06-b0f76dff693b/) the researcher provided a long list of endpoints that they claimed were vulnerable to CSRF attacks, along with reproduce code. It turns out they were incorrect, and presumably never even ran the reproduce code. It cost me quite a bit of time reviewing each endpoint to make sure that it w

[2021-10-22 23:55] asmecher commented on #6303
The search indexing will be moved to a queued job once https://github.com/pkp/pkp-lib/issues/4622 is merged, which will solve the immediate problem (the user has to wait while indexing happens).

[2021-10-23 01:47] asmecher commented on #7156
@felixhelix, yes, please do delete that entry -- but take a complete database backup first, and test afterwards!

[2021-10-25 09:11] NateWr opened #7397 "Submission with no contributors leads to minor display issues"
**Describe the bug**
When a submission is made with no contributors, there are some areas of the editorial UI which do not adapt nicely. In each of the screenshots below, the missing author creates an empty space, or a vertical misalignment, or an extra `/` or `|` character.

![image](https://user-images.githubusercontent.com/560456/138083958-902e0ff0-4e3d-413c-9b79-d92cdec89eee.png)
![image](http

[2021-10-25 09:11] #7388 closed, assigned to defstat

[2021-10-25 22:30] asmecher opened #7399 "Remove 3.0.x upgrade scripts"
The community of pre-3.1.x users is small according to beacon data.

Remove the pre-3.1.0 upgrade scripts to decrease the maintenance burden and prepare for ADODB removal. Users still needing to upgrade from pre-3.1.0 versions can use an intermediate version.

[2021-10-25 22:40] #7399 closed, assigned to asmecher

[2021-10-26 08:20] NateWr opened #7400 "OMP error when uploading cover image in WebP or SVG format"
**Describe the bug**
When uploading a cover image in WebP or SVG format, OMP tries to create a thumbnail but cant, so it throws a fatal error.

It looks like the code at `PublicationService::makeThumbnail()` (`stable-3_3_0`) supports jpg, png and gif. It can also support webp with [imagecreatefromwebp](https://www.php.net/manual/en/function.imagecreatefromwebp.php). However, SVG is trickier. There

[2021-10-26 12:28] jonasraoni opened #7401 "[OPS] Invalid ORCID link"
**Describe the bug**
When adding an ORCID ID to an author, it's displayed with an invalid link (due to a missing prefix `https://orcid.org/`).

**What application are you using?**
OPS 3.3

[2021-10-26 13:56] jonasraoni opened #7402 "Cookie settings"
**Describe the problem you would like to solve**
In order to improve the security, we could review the cookie settings for the session:
- HttpOnly: I think there's no reason to keep it disabled.
- Secure: We can enable it if the site is being served under https (or add a configuration to the `config.inc.php` in case someone wants to host their site under http and https).
- SameSite: The *new* defa

[2021-10-26 15:16] #7402 closed, assigned to nobody

[2021-10-26 15:43] jonasraoni opened #7403 "Improve the database setup on the installation"
**Describe the problem you would like to solve**
The default MySQL charset/collation (`utf8`/`utf8_general_ci`) we're using might fail to insert some UTF8 characters.
The solution involves upgrading the database to use `utf8mb4`.

**Considerations:**
- When changing the charset, the `[database][collation]` configuration must match the `[i18n][connection_charset]` at the `config.inc.php`.
- The ins

[2021-10-27 10:34] NateWr opened #7404 "Journals should be able to demonstrate that their reviewers are qualified"
**Describe the problem you would like to solve**
Reviewers will soon be able to get credit for their reviews when they have an authenticated ORCID (see https://github.com/pkp/orcidProfile/issues/181). Journals want to use this information, verified by ORCID, to demonstrate that they adhere to high editorial standards.

**Describe the solution you'd like**
The journal should be able to display a li

[2021-10-27 10:40] NateWr opened #7405 "Reviewers should be asked to authenticate an ORCID before reviewing"
**Describe the problem you would like to solve**
Journals that want to increase the integrity of their peer review process may seek to use ORCID authentication to check and demonstrate that their reviewers have the appropriate qualifications to review (see https://github.com/pkp/pkp-lib/issues/7404). However, reviewers aren't typically asked to authenticate their ORCID as a normal part of the revi

[2021-10-27 10:56] NateWr opened #7406 "Allow a journal's editorial to authenticate and display ORCIDs"
**Describe the problem you would like to solve**
Journals want to increase trust in the authority and prestige of their editorial team. They need a third-party to validate the claims they make that particular scholars perform editorial roles at the journal.

**Describe the solution you'd like**
Allow a journal's editorial team to authenticate their relationship with the journal through their ORCID

[2021-10-27 13:48] luizbgomide opened #7407 "Error when searching for a keyword in a language not enabled in the UI"
If the language is not enabled for the UI in the settings (italian here):
![image](https://user-images.githubusercontent.com/18707781/139078246-9babc24a-445d-4d50-9c93-29a66d3860e5.png)

It gives me a warning on every keystroke when filling the metadata (keywords) in Itallian of an Itallian submission:
![image](https://user-images.githubusercontent.com/18707781/139078476-eb07ba0e-edc2-4ed2-be22-5b

[2021-10-28 08:32] #7401 closed, assigned to nobody

[2021-10-28 10:02] NateWr opened #7408 "Use Laravel-style method names for Mailables"
The custom function names in our Mailable classes are a little more PKP-style (`setXXXX`). But when we create a mailable, they sit alongside Laravel's function names:

[code]

We should change these to sit more comfortably next to the Laravel names:

[code]

[2021-10-28 19:10] tmrozewski-york opened #7409 "[OJS 3.3.0.8] Cannot save edits to Subscription Information"
I cannot edit the Subscription Information Field (Payments > Subscription Policies). All edits are replaced by a left angle bracket.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Payments > Subscription Policies
2. Edit the Subscription Information field (either the via the WSYWIG editor or the source code)
3. Save changes
4. Navigate to another tab or page in Dashboard
5. Return to

[2021-10-29 00:15] israelcefrin opened #7410 "Default Theme - References crashing OJS"
**Describe the bug**
If the citations table is empty and you attempt to render the article landing page, the journal crashes and returns a blank page and a error message in the log file.

**To Reproduce**
Steps to reproduce the behavior:
1. Truncate the citations table
2. Access any article landing page
3. See error

**What application are you using?**
 OJS, OMP or OPS version 3.2.X and 3.3.x

**A

[2021-10-29 12:00] Vitaliy-1 opened #7411 "Fatal error when trying to access context settings"
**Describe the bug**
A fatal error is thrown when accessing journal settings in the current main branch:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Log in and enter the dashboard
2. Click on the Journal settings
3. See error

**What application are you using?**
 OJS main branch

**Additional information**
Looks like related to the recent user refactoring. Also, there is a typo wi

[2021-10-29 14:17] Vitaliy-1 opened #7413 "Unable to save edited email template"
**Describe the bug**
When trying to save the edited email template, I'm receiving js error:
[code]
The error refers to this line: https://github.com/pkp/ui-library/blob/7a0659967fa39eef926c35fb7445f6f28d18a256/src/components/Form/Form.vue#L188

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Workflow` -> `Email` -> `Email Templates`
2. Click on `Edit`
3. Click on `Save`
4. See error

*

[2021-10-29 17:59] #7411 closed, assigned to asmecher

[2021-10-29 18:15] Vitaliy-1 commented on #7411
Yes, I've experimented with upgrades recently.

[2021-10-29 18:27] Vitaliy-1 commented on #7411
It's good sometimes to have a non-standard configuration for testing :) But sorry that haven't mentioned this info in the topic.

[2021-10-29 22:10] bozana commented on #7318
Maybe to immediately ask also for the report By Region:
Should this be: ID, Title, Country, Region, Total Investigations, Total Requests, Unique Investigations, Unique Requests?
Shall the report be on the region level? What about only on the country level? Or what about city -- is this too detailed? Or can the user decide it?

[2021-10-30 02:31] asmecher commented on #7301
PR (for discussion purposes): https://github.com/pkp/ojs/pull/3211

- Moves `validation` into its own stage (I'll probably end up cramming this into the `test` stage to shorten build times, but it's separate for organization's sake at least for now)
- Introduces a new "upgrade" stage

I can probably move some of the upgrade steps into a shared script, but I'm not sure it's a bad thing to have all

[2021-10-30 22:25] librariam commented on #6241
+1 more from PKP|PS

[2021-10-31 07:04] dagosalas commented on #7372
Tested in 3.3.0-8, works OK. No errors.

[2021-10-31 16:25] jonasraoni opened #7415 "Add modification/creation dates to records"
In order to improve debugging in general (knowing when something started/stopped happening is very useful) it would be great if all database records had a modifed_date/created_date.

**Cons**
- Increased database size
- Extra code to update the `modified_date`

**Solution**
- Through the database: MySQL has the `DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP`. PostgreSQL would need a trigge

[2021-10-31 17:24] Vitaliy-1 opened #7416 "Typo in Library Files installation script"
**Describe the bug**
This part of the script is executed on installation failed attempt and that's why it was missed by tests: https://github.com/pkp/pkp-lib/blob/869d5f2ecacb50f5ca173aab4f9e268db7f976b0/classes/migration/install/LibraryFilesMigration.inc.php#L61

**To Reproduce**
Steps to reproduce the behaviour:
1. Insert a code for aborting installation before it finishes to trigger Migration's

[2021-10-31 18:08] jonasraoni commented on #6991
@asmecher I had to solve an incident today, so here goes the PR to address this issue (in case it's enough to fix just the user search at `/management/settings/access` route):

[pkp-lib](https://github.com/pkp/pkp-lib/pull/7414)
[OJS => tests](https://github.com/pkp/ojs/pull/3213)

[2021-10-31 19:03] Vitaliy-1 commented on #7124
Hmm, 2 tests are failing in OMP and I'm unable to reproduce the error locally. The script that fails is `CompetingInterests` and it seems to be unrelated to email templates.

[2021-11-01 09:19] NateWr commented on #7124
Looks like maybe a database column error with MySQL. I found the error in the tests' [raw log](https://api.travis-ci.com/v3/job/545934085/log.txt).

[code]

[2021-11-01 09:53] NateWr commented on #7318
I think the user should be able to decide whether they want it at ONE of these levels: Country, Region or City. The way I see it working is that if the user chooses country, they get totals for the whole country:

| ID | Title | Country | Views | Downloads | Unique Views | Unique Downloads |
| --- | --- | --- | --- | --- | --- | --- |
| ... | ... | Germany | 10 | 10 | 10 | 10 |

If they ask for Re

[2021-11-01 10:14] NateWr commented on #7409
I was unable to reproduce this on `stable-3_3_0`. I also failed to reproduce it on the [Test Drive](https://pkp.sfu.ca/ojs/ojs_demo/) demo, which is running 3.3.0-8.

@tmrozewski-york, can you try to use the test drive instance to reproduce the problem? It may be related to specific language configurations or subscription settings of some kind.

[2021-11-01 10:17] NateWr commented on #7413
This sounds like a duplicate of https://github.com/pkp/pkp-lib/issues/6969. Are you sure that your copy of `lib/ui-library` is up-to-date and that you've recently recompiled the JS?

[2021-11-01 10:21] NateWr commented on #7415
We support this on some entities, with Laravel's `created_at` and `modified_at` columns. Do you have a list of other objects which should be treated this way?

The `EntityDAO` pattern should make it very easy to track this -- however, we have to be careful to distinguish use cases for this data. Where it is implemented around submissions, now, we use it to track last activity. But this shouldn't b

[2021-11-01 10:24] NateWr commented on #1438
Closing as this hasn't attracted much interest over the last 5 years.

[2021-11-01 10:24] #1438 closed

[2021-11-01 10:25] NateWr commented on #1485
Closing as this hasn't attracted much interest over the last 5 years.

[2021-11-01 10:25] #1485 closed

[2021-11-01 10:26] NateWr commented on #1494
@jmacgreg is this still relevant? It refers to several pieces of data that only exist in 2.x.

[2021-11-01 10:27] NateWr commented on #1502
@bozana is this going to be obsolete with work on #7318?

[2021-11-01 10:33] NateWr commented on #7392
This may be a related issue: https://github.com/pkp/pkp-lib/issues/1516 -- Allow more than one administrator

[2021-11-01 10:35] NateWr commented on #1528
The remaining items in the checklist at the top are covered by #7191

[2021-11-01 10:35] #1528 closed

[2021-11-01 10:36] bozana commented on #1502
Hi @NateWr,
No, article report is different -- it lists all articles and all their metadata -- no stats... So this report I don't have to touch for stats work...

[2021-11-01 10:38] NateWr commented on #1572
Support for initial has been removed in more recent versions of OJS. Authors can use the preferred name field now.

[2021-11-01 10:38] #1572 closed

[2021-11-01 10:39] bozana commented on #7318
Hi @NateWr, I am not 100% sure about "Views" and "Downloads" -- theoretically yes, but: "Views" (investigations) would mean all possible views (abstract, files, supp files) and "Downloads" (requests) would mean only file views/downloads. Is this then clear enough?

[2021-11-01 10:40] NateWr commented on #1576
Closing this since the distribution settings tabs no longer use the `TabHandler`.

[2021-11-01 10:40] #1576 closed

[2021-11-01 10:41] NateWr commented on #1579
Closing this in favor of https://github.com/pkp/pkp-lib/issues/2860, which includes screenshots of work that includes this change.

[2021-11-01 10:41] #1579 closed

[2021-11-01 10:42] #1606 closed

[2021-11-01 10:43] #1620 closed

[2021-11-01 10:48] NateWr commented on #1662
Closing this in favour of https://github.com/pkp/pkp-lib/issues/4172, which includes some example screenshots and more details about use cases.

[2021-11-01 10:48] #1662 closed

[2021-11-01 10:49] NateWr commented on #1668
Closing in favor of https://github.com/pkp/pkp-lib/issues/7014. That issue only deals with DOIs, but a similar approach can be taken with other pub ids if desired.

[2021-11-01 10:49] #1668 closed

[2021-11-01 10:51] NateWr commented on #1669
I believe this was addressed in the submission file refactor undertaken for 3.3. The method `SubmissionFile::getFileId()` still exists, but now points to the underlying id of the file in the `files` table. The method `SubmissionFile::getId()` is used for the submission file's id.

[2021-11-01 10:51] #1669 closed

[2021-11-01 10:54] NateWr commented on #7318
Ah, I see what you're saying. :thinking: It does make sense that a file view = a "download". Maybe Views/Downloads is the correct distinction. I guess somewhere we will need to explain all of these columns...

[2021-11-01 12:48] fgnievinski commented on #7272
Attaching the modified .tpl files for download:
[rpkpojsoptiontohavearticleabstractsandtitlesin.zip](https://github.com/pkp/pkp-lib/files/7453305/rpkpojsoptiontohavearticleabstractsandtitlesin.zip)

[2021-11-01 13:05] jmacgreg commented on #1494
I think this can safely be closed.

[2021-11-01 13:05] #1494 closed

[2021-11-01 14:02] bozana commented on #7318
Hi @NateWr, may I ask here, in this issue: what would be the Geo stats endpoints? -- it is slightly different than other APIs, it contains submissions but also country, region and/or city.
Now, for the article and file reports above I implemented stats/publications/articleReport and stats/publications/fileReport (with usual parameters for stats/publications/) to get the CSV reports. OK?
But what/h

[2021-11-01 15:26] NateWr opened #7417 "Add a Site Manager distinct from the Administrator"
**Describe the problem you would like to solve**
An institution that hosts several journals wants to assign staff to control the site index page, select a theme, etc. But they may not want to give this person permission to add/delete journals, perform upgrades, or access system information.

**Describe the solution you'd like**
A new role or other permission system that allows a site manager to ed

[2021-11-01 15:28] NateWr commented on #2549
Related issues: https://github.com/pkp/pkp-lib/issues/5504 and https://github.com/pkp/pkp-lib/issues/7417

[2021-11-01 15:33] NateWr opened #7418 "Ability to restrict plugins and themes to one journal"
**Describe the problem you would like to solve**
In a large, multi-tenant instance of OJS, each journal may want its own custom theme. However, when a theme is installed in the site it becomes visible and available to all journals in the site.

**Describe the solution you'd like**
It should be possible to restrict plugins and themes to one or more journals. This could be done simply by hiding a pl

[2021-11-01 16:03] janiosarmento commented on #6559
Hi @NateWr

I'm reopening this issue because on 3.3.0-8 the issue still appears. I've tested both with a recently upgraded Journal and in a fresh install.

The screen recording below shows the Browser Tools on "Network" tab.

https://user-images.githubusercontent.com/7367281/139702462-ea2669b0-20bc-4bad-a057-0d38435ad9b8.mov

Thank you!

[2021-11-01 16:20] NateWr commented on #7318
If possible, we should try to use the `Accept` header alongside existing API endpoints (see [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept).

The following request:
[code]

Would return the following response in JSON:

[code]

Add the `Accept` header to the request:

[code]

And the API will return the response in CSV:

[code]

With this approach, I think that we can use th

[2021-11-01 16:24] NateWr commented on #7318
Now that I posted that, I realize that the API endpoint when delivering a report probably shouldn't include pagination. With the report they want the whole thing all at once. It may not make much sense for us to return CSV directly in our API.

I think this goes back to the thing we were discussing about how the report should be compiled through a task on the queue. We may need to rethink this par

[2021-11-01 16:45] NateWr commented on #7318
So, I think either way we'll need a way to try not to hammer the server for very large exports. We have two options:

a) break the export into jobs on the task queue
b) use the API to chunk the export and assemble it in the browser

I think (a) is the best approach, but it would require us to build a whole system for generating reports and downloading them later. I'm not sure if we want to do that

[2021-11-01 17:58] AlineLepidus opened #7419 "Retrieving publications in alphabetically ordered category when changing language"
**Describe the bug**
About the categories sorting by title, when choosing the current locale and the publications didn't have a translated title, it isn't showing in the category same having title in primary locale.

More about the problem, can know in [forum](https://forum.pkp.sfu.ca/t/category-does-not-list-all-articles-when-sorting-by-title-is-selected/69168).

**To Reproduce**
The steps are:
1

[2021-11-01 17:59] AlineLepidus commented on #7419
https://github.com/pkp/pkp-lib/pull/7323

[2021-11-01 18:08] bozana commented on #7318
Thanks a lot @NateWr!
I will definitely see/test the `Accept` header as you described.
The performance is now much better, so we might be a little bit more flexible... -- e.g. for 180 submissions the report generation needs ca. 11 seconds... It does seem unusual to build the report in the browser... But I trust you...
I could also live with putting some work/responsibility on the users -- the user

[2021-11-01 18:17] bozana commented on #7318
Ah, one more thing: The json result contains more information about a submission than csv result should -- csv should only contain the title. Depending on `Accept` header I can proceed differently in the code, I suppose.
Also, for report we theoretically do not need to sort first by totals and we would not need the itemMax -- but if we combine the results in browser we would need them...

[2021-11-01 18:54] asmecher commented on #6559
@janiosarmento, is this `3.3.0-8` from the tarball or from the `stable-3_3_0` branch? I recently added some changes (https://github.com/pkp/pkp-lib/issues/7371) to the stable branch that involved changes to the compiled Javascript.

[2021-11-01 19:59] asmecher commented on #7124
Just FYI, Vitaliy and I tracked this down to the "lateral derived tables" feature in recent MySQL releases; it's part of the SQL standard and also available in PostgreSQL.

Unfortunately it doesn't appear to be available in MariaDB yet; see https://jira.mariadb.org/browse/MDEV-19078.

It is likely that MariaDB currently supports sloppier checks on derived tables than MySQL, which is why the curren

[2021-11-01 20:46] asmecher commented on #7124
I think the following needs to be done:
- Now that the Laravel bug referred to in `getCompiledQuery` in 3.3.x is no longer relevant, merge `getCustom` and `getDefault` into a single `getQueryBuilder` (for consistency with the other `Collector` classes)
- Add checks to the first half of the `UNION` to make sure that it only returns matches when there *is not* a journal-specific query.
  -  When the

[2021-11-01 22:19] pmangahis opened #7420 "L-to-R UX issue on forms"
Hosted Client using OJS 3.2 had reported the following UX-related issue they've noticed. Noted a number of these issue in 3.3 as well.

1. When the interface is in Arabic, the multilingual icon (globe) blocks the text entered by the user. This is noted in the Submission Form and the User form (backend)

![image](https://user-images.githubusercontent.com/50342731/139747346-d6348c04-9dd4-4798-81d1-1

[2021-11-01 22:29] asmecher commented on #7420
Throwing over to @NateWr for a quick look. (@jonasraoni, this is potentially a use case for a language-specific stylesheet, which we have discussed a little at https://github.com/pkp/pkp-lib/issues/6328.)

@pmangahis, we can't easily apply the same formatting as the Publication tab boxes because they use a different (newer) form framework that will take time to roll out elsewhere in the system. In

[2021-11-02 09:37] NateWr commented on #7318
That's great, but things can change depending on server and database size, so I'd be careful not to make the max request too large. It shouldn't matter much if we do smaller chunks with each request. And it will be better for large servers.

Ahh, I see what you're saying. Let's see, the way the current publication API works is like this:

| Endpoint | Result |
| --- | --- |
| `/stats/publications`

[2021-11-02 10:16] NateWr opened #7421 "Multilingual indicator out of place small text fields in left-to-right languages"
**Describe the bug**
In a left-to-right language (ltr), the multilingual indicator is moved to the other side of the input field. However, when a small text input field is used, the indicator appears out of place.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Site Administration > Site Settings > Languages and install a left to right language (eg - العربية)
2. Go to Settings > Websit

[2021-11-02 10:19] bozana commented on #7318
Thanks a lot @NateWr! I'll try... :-)

[2021-11-02 10:26] bozana commented on #7384
I will close this issue, because we can then remove the ViewReport plugin once the CSV reporting in #7318 is implemented.

[2021-11-02 10:26] #7384 closed

[2021-11-02 10:31] NateWr commented on #7420
Thanks @pmangahis!

I don't think this is a great case for a language-specific stylesheet, because there are other RTL languages (I know of Arabic, Hebrew, Farsi and Kurdish). In these cases, we use the `<body dir="rtl">` tag to write appropriate styles into the core CSS file. At the moment, ,`PKPTemplateManager` uses `AppLocale::getLocaleDirection($locale)` to pass a variable to the templates tha

[2021-11-02 13:46] NateWr commented on #7420
Merged to `stable-3_3_0` and cherry-picked to `main`.

[2021-11-02 14:14] Vitaliy-1 commented on #7408
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/7423
tests OJS: https://github.com/pkp/ojs/pull/3215

[2021-11-02 14:20] Vitaliy-1 commented on #7413
For some reason unable to replicate, probably bug with browser's cache or js compilation.

[2021-11-02 14:20] #7413 closed

[2021-11-02 16:24] asmecher commented on #7366
There's a spec at https://github.com/pkp/pkp-lib/issues/5509 for other additions to the API key toolset, most prominently support for multiple API keys. Our current single-API-key-per-user approach promotes bad behaviour that will become more apparent as API key usage expands, like key sharing and the use of "risky" keys (e.g. Journal Manager or Admin keys). If this issue will require broader work

[2021-11-02 16:30] asmecher opened #7424 "Add support for "log in as" that is scoped to the context (journal)"
**Describe the problem you would like to solve**
Editors currently use the "log in as" feature for a variety of purposes...
- Responding on behalf of reviewers who email them their reviews or review acceptance
- Getting into a user's "seat" in order to debug a problem or provide guidance

While we can provide tools to allow the editor to undertake workflow actions on another user's behalf (e.g. re

[2021-11-02 16:31] asmecher commented on #5509
Re: limited access to a user's capabilities, see also: https://github.com/pkp/pkp-lib/issues/7424

[2021-11-02 17:24] Vitaliy-1 opened #7425 "Ability to retrieve all Mailables used by the application and plugins"
**Describe the problem you would like to solve**
The list of all available Mailables should be present in the UI for the configuration, including:

- for automatic emails: associated email templates
- for editable emails: default template and others that are available for the particular mailable
- Mailable description

**Describe the solution you'd like**
Add a method for the Mailer class, which w

[2021-11-02 17:33] #7408 closed

[2021-11-02 18:54] kshuttle opened #7426 "Clarify field description for Preferred Public Name"
**Describe the problem you would like to solve**
The current field description for the "Preferred Public Name" field is unclear, leading authors to incorrectly use this field in the author-entered metadata. The field description does not indicate that anything entered in this field will OVERRIDE the author's given name and family name as displayed on the article record page. Authors sometimes add

[2021-11-02 22:51] bozana commented on #7419
Hmm... The problem is maybe elsewhere: when an article in a language other than journal primary language is submitted, there are only entries for that article locale in the publication_settings table. In contrary, when an article in the journal primary language is submitted, there are entries for all journal locales in the publication_settings table, just that they are empty ('').

[2021-11-03 09:09] NateWr commented on #7426
@kshuttle did you have a suggestion for the wording of the description?

cc @defstat, your work on https://github.com/pkp/pkp-lib/issues/6850) can roll this in once we have a recommended description for the field.

[2021-11-03 10:52] bozana commented on #7419
PR:
stable-3_3_0: https://github.com/pkp/pkp-lib/pull/7427

[2021-11-03 10:56] bozana commented on #7419
@jonasraoni, could you please take a look? If OK, it would be a simpler way to solve it...
@AlineLepidus, thanks a lot for the PR and contribution!

[2021-11-03 14:08] smorello87 commented on #3870
Is there any workaround for this that doesn't require accessing the php files?

[2021-11-03 15:15] AlineLepidus commented on #7419
@bozana, I tested your PR, and it retrieves all articles for the category. However, when accessed by the current locale (second language), it does not respect the alphabetical order in case the current locale is empty ('').

[2021-11-03 15:42] asmecher commented on #3870
@smorello87, this issue was fixed quite a long time ago in an old version of OJS, so I would strongly recommend upgrading (for reasons beyond just this issue).

[2021-11-03 15:53] smorello87 commented on #3870
Thank you, Alec, unfortunately I don't run the platform (our journal is
hosted by a university), so I can only recommend the update to our admin
and try to find a workaround. I managed to get past the issue by inspecting
the code of the page on Chrome and changing the value of the "required"
option for the "checkbox_and_radiobutton" class to "0".

On Wed, Nov 3, 2021 at 11:42 AM Alec Smecher ***@*

[2021-11-03 16:22] pmangahis opened #7428 "Editorial Activity Report as a downloadable file"
Journal Editors have requested to download the data from the Editorial Activity Report that is currently not possible to do through the User Interface

Ideally, they would like this report to also be available in CSV format.

[2021-11-03 17:19] kshuttle commented on #7426
I would suggest the following wording for the Preferred Name field description:

[2021-11-03 17:39] alexxxmendonca commented on #1813
Pushing this for OPS as well.

We are currently facing a situation where an author has systematically submitted the same made-up manuscript even after we rejected it. The manuscript is clearly made-up (it's made of mostly nonsense) and the author has submitted 8 times the same manuscript, 5 of which we rejected.

Right now, these submissions are _clogging_ our submission queue. We don't have any o

[2021-11-03 18:04] alexxxmendonca commented on #6271
We are currently facing a situation where an author has systematically submitted the same made-up manuscript even after we rejected it. The manuscript is clearly made-up (it's made of mostly nonsense) and the author has submitted 8 times the same manuscript, 5 of which we rejected.

Right now, these submissions are clogging our submission queue. We don't have any other choice but to reject and thi

[2021-11-03 18:04] alexxxmendonca commented on #6271
Related to #1813

[2021-11-03 18:38] alexxxmendonca commented on #6271
@asmecher How do you archive a preprint without recording a "Accept" or "Reject" decision?

How do you delete a submission from the Archives? It doesn't seem to be a way to do that.

[2021-11-03 21:52] asmecher commented on #6271
@alexxxmendonca, record a Decline decision, then go to the "Archives" listing and click the down arrow beside the submission to expand its view. You should see a Delete button there:
![image](https://user-images.githubusercontent.com/200411/140198163-6fadcb03-6ec3-4b4d-bf0b-6a7e93a30078.png)

[2021-11-03 21:59] asmecher commented on #7428
Sorry, @pmangahis, I'm not sure I follow this request; could you edit the entry to provide more detail? What verson of OJS are you using, what do you expect to be able to do, where do you get stuck, etc?

[2021-11-04 01:49] asmecher commented on #6093
PRs for the Category classes:
- https://github.com/pkp/pkp-lib/pull/7429
- https://github.com/pkp/ojs/pull/3217

I converted them to the EntityDAO toolset as that has better handling of null-but-that-doesn't-mean-unset constraints. This also fixes the storage of category IDs in publication data, which was broken.

[2021-11-04 08:19] jonasraoni opened #7430 "Duplicated user_settings in old installations running new software"
**Describe the bug**
I've noticed that several OJS 3.3.0 installations have duplicated `user_settings`, which also leads to unexpected performance issues (mostly due to `DISTINCT`/`GROUP BY` clauses).

The older record remains with assoc_type/assoc_id defined as NULL.

**To Reproduce**
- The user set his name (`givenName`) as "JONAS" in an older version
- In a newer version, he updates the name to

[2021-11-04 08:36] jonasraoni commented on #7430
There's also duplicated data for the settings `apiKey` and `apiKeyEnabled`, but it has a slightly different pattern:
![image](https://user-images.githubusercontent.com/361921/140281299-301d22f0-cb02-4539-920b-34ddd05665d5.png)

I've written some clauses to remove the duplicated entries for all these cases and adjust the old ones which are not duplicated yet.

- I'll probably inspect the code to se

[2021-11-04 09:33] jonasraoni commented on #7430
Closing as I found other issues related to it :)

[2021-11-04 09:33] #7430 closed

[2021-11-04 09:43] NateWr commented on #7426
Thanks @kshuttle! Is "salutations" what you call "Dr" or "Professor"? I think we would call those "titles" over here. Sometimes an example is easier to construct than a description. What do you think about this?

(I took our "you" because the submitting author or editor may be entering author details for someone else.)

[2021-11-04 09:44] jonasraoni commented on #7167
Just adding notes from my other issue:

To identify if you have duplicated `user_settings`
[code]

The `apiKey` and `apiKeyEnabled` are also duplicated, but they follow a slightly different pattern, the older records have `assoc_type` = 256 and `assoc_id` = `null`

Perhaps the problem was introduced here: https://github.com/pkp/pkp-lib/pull/6347/files#diff-f4951b8d90b205bf60a1111a761b62eb75f598c0c

[2021-11-04 09:52] NateWr opened #7431 "Restrict what languages are available for new submissions"
**Describe the problem you would like to solve**
A journal can select what languages are supported for submissions and each submission has a primary locale. This permits a journal to publish articles, for example, in German and English.

However, in some cases, a journal wants to change the languages it publishes in. For example, a journal may have published in German, then published in German and

[2021-11-04 10:07] NateWr commented on #7409
I think the next step is going to be diving into the code to figure out what's happening. I think this is the related class that is executing the form:

https://github.com/pkp/ojs/blob/main/classes/subscription/form/SubscriptionPolicyForm.inc.php

And this is the template:

https://github.com/pkp/ojs/blob/main/templates/payments/subscriptionPolicyForm.tpl

This is the code that's pulling the data

[2021-11-04 10:07] #7409 closed

[2021-11-04 10:13] NateWr commented on #7428
In terms of UI/approach, we will probably follow whatever approach is adopted to publication stats report generation in https://github.com/pkp/pkp-lib/issues/7318.

[2021-11-04 11:20] alexxxmendonca commented on #6271
@asmecher we don't have that option:

![image](https://user-images.githubusercontent.com/4059679/140304997-3f04d84e-a201-4b17-a2aa-a0427d27bc5a.png)

OPS 3.3.0.6

[2021-11-04 11:25] NateWr commented on #6271
I just checked and the delete button appears in the test drive install of OPS 3.3.0-8. Looks like you need to be `ROLE_ID_MANAGER` or `ROLE_ID_SITE_ADMIN`.

[2021-11-04 11:26] alexxxmendonca commented on #6271
Hi @NateWr I am logged in as the Site Administrator and I still don't see the button.

Am I doing something wrong?

[2021-11-04 13:44] Vitaliy-1 commented on #7124
I've rewritten the way how SQL is formed. The default query builder now returns default templates without those that were customized, e.g.:
[code]
Custom query builder returns only custom or modified email templates. This excludes the possibility of dubplicates SQL looks like:
[code]
Filters seem to work as expected. I'm doing tests locally and planning to renew the PR soon

[2021-11-04 14:42] AlineLepidus commented on #7419
@bozana
So, we take look your PR and add a new line for the case of the title empty in second language.

PR: https://github.com/pkp/pkp-lib/pull/7323

[2021-11-04 15:30] asmecher commented on #7301
![image](https://user-images.githubusercontent.com/200411/140356132-c13e2df0-e60a-42c7-af54-f3e4241189d9.png)

[2021-11-04 18:37] kshuttle commented on #7426
I think what you suggest sounds great, @NateWr. Let's go with this wording for the field description.

[2021-11-04 18:55] asmecher commented on #7428
(Thanks for the details, @pmangahis!)

[2021-11-04 19:22] jonasraoni commented on #7167
@asmecher before I touch this, follow some questions:

1. I just checked the code and I'm inclined to remove the `assoc_type` and `assoc_id` from the table `user_settings`.
- We're not using them, and they've been causing issues
- Parts of the code are already ignoring these fields
- It's not possible to setup a foreign key on such dynamic relation
- In case we really need it somewhere in the futu

[2021-11-04 19:36] Vitaliy-1 commented on #7124
I squashed commits in the PR.
Some tests are failing but I suspect it's because of a recent commit in the `pkp-lib`.
@asmecher, can you take a look at the changes in the email template `Collector`?

[2021-11-04 21:59] asmecher commented on #7167
@jonasraoni, yes, the `user_settings` table's `assoc_id` and `assoc_type` columns can be removed as unused. This used to allow user settings to be made context-specific, but that feature was never used. (If we need to re-add a feature like that, then a more specific `context_id` column would be a better idea -- but let's not go there unless we need to.)

[2021-11-05 01:03] kshuttle opened #7432 "Break tags are visible in sent emails when editorial signature variable is added to templates"
**Describe the bug**
Break tags [< br/ >] are visible in sent emails when the {$editorialContactSignature} variable is added to templates.

Email templates that already have the {$editorialContactSignature} variable there by default don't seem to have this problem. It is happening when a user edits an email template and adds the variable in order to include the editor's signature at the end.

**To

[2021-11-05 10:24] bozana commented on #7419
Oh, yes, I have forgotten that COALESCE considers empty string... Great! Thanks a lot!
If no objections, @jonasraoni, I could merge and provide other PRs, for submodule updates and other branches...

[2021-11-05 13:30] jonasraoni commented on #7419
Hi @bozana! I just checked the PR, I didn't see anything suspect, so I just left a few comments. As you've already tested, great =]

[2021-11-05 13:46] Vitaliy-1 commented on #7124
Finally, tests are passing.
@asmecher, I'm ready to merge this unless you think there is something left that should be done/changed here.

[2021-11-05 14:16] bozana commented on #7318
Hi @NateWr,
I implemented the `stats/publications/files` like this:
List of all submission files with stats within filter range (per default ordered DESC by total views, and count = 30 (as for publications)).
Instead of file summary props I only display the `fileId, fileName, downloads and submissionTitle` -- the summary props seem to be too much, and the function getProperties currently needs req

[2021-11-05 14:33] bozana commented on #7318
And maybe one more comment about `stats/publications/locations`:
The JSON would look like this:

<pre>
{
	"items":[
	{
		"subId":1,
		"publication":
		{
			"_href":"http:\/\/ojs-master.bb\/index.php\/publicknowledge\/api\/v1\/submissions\/1",
			"id":1,
			"urlPublished":"http:\/\/ojs-master.bb\/index.php\/publicknowledge\/article\/view\/mwandenga-signalling-theory",
			"urlWorkflow":"http:\/\/ojs

[2021-11-05 14:40] bozana commented on #7318
Maybe then to define also the CSV for issues and contexts:
`stats/issues`: List all issues with stats within filter range (per default sorted by total views of TOC and issue galleys, and with count = 30).
The CSV could then contain:
`ID, Identification, Total views, TOC views, Issue galley views`.

`stats/contexts`: List contexts with stats within filter range (per default sorted by total views of

[2021-11-05 14:46] bozana commented on #7318
And maybe to be 100% sure: we implement the CSV response only for main getMany() function, right?

[2021-11-05 15:44] asmecher commented on #7124
Merged -- thanks and congratulations, @Vitaliy-1! It even ended up being a net reduction in code.

[2021-11-05 15:44] #7124 closed

[2021-11-05 16:09] asmecher opened #7433 "Exclude marketing-related information from versioning requirement"
**Describe the problem you would like to solve**
Editors want to be able to control marketing data without being forced to create a new version or unpublish an existing version. For example, organizing submissions into categories.

**Describe the solution you'd like**
Determine which data elements are marketing-related and not versioned; alter the Publication interface so that these elements can b

[2021-11-05 17:24] jnugent opened #7434 "OMP submission "work type" not preserved during upgrade"
**Describe the bug**
A client is using OMP 3.1.2 and after upgrading a test installation to 3.3.0.8, all submissions have reverted to not having a stored submission_setting for "workType", which determines if the submission is a Monograph or an Edited Volume.  Examining the submission_settings for any submission shows that the workType setting is missing, and the drop down on the workflow UI has b

[2021-11-06 08:41] jonasraoni commented on #6675
I just checked this issue as part of another assignment.

The form is really sending a new request while the previous is being processed 🤔
Another issue that might be playing a role here is the: https://github.com/pkp/pkp-lib/issues/7167
Also, it's possible to improve the performance of the query which is used by this search.

I'll post a PR with some fixes later.

[2021-11-06 08:53] jonasraoni commented on #6112
Hi!

This issue might be related to https://github.com/pkp/pkp-lib/issues/7167 (at least for newer installations).
We had an installation timing-out in this interface, after I addressed the issue above the time went down to 7s, which is somehow acceptable.

I'll come up with some query optimizations, which in my machine lowered the time from 7s to < 1s.

[2021-11-06 10:26] jonasraoni commented on #6675
PRs:
**Stable-3_3_0**
OJS https://github.com/pkp/ojs/pull/3218
pkp-lib https://github.com/pkp/pkp-lib/pull/7435

**Main**
OJS https://github.com/pkp/ojs/pull/3219
pkp-lib https://github.com/pkp/pkp-lib/pull/7436

[2021-11-06 11:44] jonasraoni commented on #6991
Added PRs for /main as it's using basically the same code:
pkp-lib: https://github.com/pkp/pkp-lib/pull/7437
OJS: https://github.com/pkp/ojs/pull/3220

[2021-11-06 21:02] jonasraoni commented on #6112
PRs:
Stable 3.3.0
OJS: https://github.com/pkp/ojs/pull/3221
pkp-lib: https://github.com/pkp/pkp-lib/pull/7438

[2021-11-06 21:04] jonasraoni commented on #6112
I'll create PRs for /main later.

[2021-11-07 20:32] jonasraoni commented on #6112
@asmecher I was going to apply these improvements to `/main`, but I saw most of things are already covered.
Let me know if you think it's worth to merge in these pieces:
- The search query (+ breaking words using preg_split)
- The review_assignments query: in my test case, with 11K users and 30K review_assignments, pre-calculating the totals returned the result set in 0.5s while the sub-query for

[2021-11-07 20:40] jonasraoni commented on #7167
Just for reference, in case someone land here, here's a query to fix the issue while I didn't start working on this:
https://github.com/pkp/pkp-lib/pull/7414#issuecomment-961857377

[2021-11-08 11:18] NateWr commented on #7318
Thanks, @bozana. I can see now that the original table I provided is not ideal for this situtation. Generally, a REST API should try to use nouns that represent the object returned. So `/locations` should return a list of locations, not submissions. That's my mistake. I think the API design should support the following endpoints:

Country stats across all publications:

[code]

[code]

Region stat

[2021-11-08 11:20] NateWr commented on #7318
Yeah, these look good. Maybe include URLs if it is easy?

:+1:

[2021-11-08 11:25] NateWr commented on #7426
@defstat ok, let's add this to the field's `description` in the new form. But let's change the name from `Dr. Kathryn J. Shuttle` to `Dr. Alan P. Mwandenga` to match some of our test data. (Unless you want to be immortalized in OJS, @kshuttle! :))

[2021-11-08 11:26] NateWr commented on #7428
@jonasraoni do you remember if the journal health report uses all the same data as the editorial activity report? Maybe we already have something that generates the CSV we need.

[2021-11-08 14:09] librariam commented on #4900
Another feedback from PKP|PS related to Patricia's comment above - a journal is wondering whether there could be a control to set the number of names that show up, similar to "lists"? E.g. they have a stable number of 5 JE's and currently have to click "load more" twice for all to appear.

[2021-11-08 16:41] NateWr opened #7439 "Duplicate foreign key error when creating a new version in OMP"
**Describe the bug**
When a new version of a publication is created in OMP, a fatal error is encountered due to a foreign key constraint on the chapter authors table.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a submission's workflow
2. Go to Publication > Contributors and create two authors
3. Go to Publication > Chapters, create a chapter, and assign both authors.
4. Cli

[2021-11-08 16:42] NateWr commented on #7439
Along with the bug fix we should include at least one test that creates a new version of a submission with multiple chapters, publication formats and authors.

[2021-11-08 16:44] NateWr opened #7440 "Can not create publication format with ISBN in OMP"
**Describe the bug**
When trying to create a publication format with an ISBN, a fatal error occurs.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a submission's workflow
2. Go to Publication > Publication Formats
3. Click Add Publication Format
4. Enter an ISBN (copy the example ISBN next to the form field).
5. Try to save Publication Format.
4. See error

**What application

[2021-11-08 17:20] NateWr commented on #7407
Thanks @luizbgomide! Even though you included the information in your original report, it wasn't until I read the reproduction steps that I realized we were talking about keywords. The issue template really does help.

PR:
https://github.com/pkp/pkp-lib/pull/7441

Tests:
https://github.com/pkp/ojs/pull/3222

[2021-11-08 17:34] NateWr commented on #7433
I think we're going to have a hard time drawing full-proof distinctions here. For example, in OPS a preprint's category might drift over time. And in OJS, people may try to use categories to set up distinctions between different versions of an article (eg - ahead-of-publication).

Having ploughed ahead with versioning in 3.2, though, I do think that there are a number of things that I/we opted to

[2021-11-08 17:36] NateWr commented on #7434
@jnugent can you create some reproduction steps for this from a brand new 3.1.2 install that is upgraded to 3.3? Seems like if this problem were common we would have heard of it before, but maybe not since there may not be many OMP installs running on 3.3.

[2021-11-08 17:46] NateWr commented on #1714
Closing this as low priority. It will be addressed when the existing file upload wizard is phased out.

[2021-11-08 17:46] #1714 closed

[2021-11-08 17:46] NateWr commented on #1708
Closing this as we are no longer providing bug fixes for OJS 2.x.

[2021-11-08 17:46] #1708 closed

[2021-11-08 17:47] #1731 closed

[2021-11-08 17:48] NateWr commented on #1732
Closing as the initial issue was fixed.

[2021-11-08 17:48] #1732 closed

[2021-11-08 17:51] NateWr commented on #1771
The OMP-specific info is no longer in OJS.

[2021-11-08 17:51] #1771 closed

[2021-11-08 17:52] #1796 closed

[2021-11-08 17:55] jnugent commented on #7434
Hi @NateWr

Sure, I just confirmed it in a fresh start with a clean 3.1.2 install, then upgraded to 3.3.0.8.  To reproduce:

1.  Start with 3.1.2.  Create a new submission, choosing "Edited Volume" as the work type:
![Screenshot at 2021-11-08 13-43-02](https://user-images.githubusercontent.com/218719/140792908-ea7b46ab-28a1-4f71-82f8-c68ab8f3130e.png)

Then confirm it in the interface and the data

[2021-11-08 18:00] tmrozewski-york opened #7442 "OJS 3.3.0.8: Anomalous error message using CrossRef XML export plugin"
**Description of issue or problem I’m having:**
The CrossRef XML Export Plugin is behaving anomalously. Automatic deposit upon publication failed but the status read “Not Deposited.”

When trying to deposit the submissions manually, some succeed and show the Active status ([example](https://doi.org/10.25071/2561-5467.183)), some succeed and show the Not Deposited status ([example](https://doi.org/

[2021-11-08 23:17] kshuttle commented on #7426
@NateWr @defstat please go ahead and use `Dr. Alan P. Mwandenga` -- I will seek fame through other means ;)

[2021-11-08 23:56] kshuttle commented on #1661
I believe this issue is also now addressed under #6941

[2021-11-09 00:32] kshuttle commented on #4504
Here is some suggested email template text for announcing a new item publishing under a continuous publishing model:

Suggested title for new template: ITEM_PUBLISH_CONTINUOUS

Sent by: Editor
Received by: Registered readers
Should the sender be able to preview and customize this email? Yes
Should the recipient be able to opt out of receiving this email? Yes

The following has been drafted for thi

[2021-11-09 04:26] henriqueramos commented on #7125
Hey @asmecher, @NateWr ! So, we are in time for another code review round!

I think this is will be the latest one for this task.

Thank you!!

[pkp/omp#995](https://github.com/pkp/omp/pull/995)
[pkp/ops#167](https://github.com/pkp/ops/pull/167)
[pkp/ojs#3160](https://github.com/pkp/ojs/pull/3160)
[pkp/usageStats#50](https://github.com/pkp/usageStats/pull/50)
[asmecher/lensGalley#51](https://githu

[2021-11-09 06:07] jonasraoni commented on #7217
Closing this issue, as I've added the username to the issue mentioned above.

[2021-11-09 06:07] #7217 closed

[2021-11-09 07:49] MahreenAthar commented on #906
Hi. I'm using Ubuntu 20.04.3 LTS 64-bit and GNOME Type 3.36.8. I'm having trouble connecting Android Studio with Github. I have gone through what the naming convention is for a repository on Github but for some reason it keeps giving me this error.
![Screenshot from 2021-11-09 12-46-53](https://user-images.githubusercontent.com/39671939/140883215-65057282-8c34-41c5-ae6e-1f3bcfac0b81.png)
Can someo

[2021-11-09 07:50] MahreenAthar commented on #906
Hi. I'm using Ubuntu 20.04.3 LTS 64-bit and GNOME Type 3.36.8. I'm having trouble connecting Android Studio with Github. I have gone through what the naming convention is for a repository on Github but for some reason it keeps giving me this error.
![Screenshot from 2021-11-09 12-46-53](https://user-images.githubusercontent.com/39671939/140883215-65057282-8c34-41c5-ae6e-1f3bcfac0b81.png)
Can someo

[2021-11-09 07:56] MahreenAthar commented on #906
Okay i'm able to do it now. I had to revoke the entire Personal Access Token and generate a new one and for some reason with this new one it worked.

[2021-11-09 09:44] NateWr commented on #7442
Hi @tmrozewski-york, can you provide more detailed reproductions steps. These usually include step-by-step instructions on what you clicked in the UI, like this:

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-11-09 10:16] OyvindLGjesdal opened #7443 "composer install for pkp fails for OMP on stable-3_1_2"
**Describe the bug**
We are upgrading omp from 1.2 and after we've met some issues with the full upgrade,  are now trying to incrementally upgrade it.

`composer install` in pkp/lib gives the error:

[code]

When we remove the patch from *composer.json* and rerun *composer* the *upload.php* example now contains
in *./lib/vendor/moxiecode/plupload/examples/upload.php* in the patch location
[code]
w

[2021-11-09 10:38] OyvindLGjesdal commented on #7443
We tried to jump up one stable version to *stable-3_2_1* and the same applies here.

[2021-11-09 11:09] ohilbig01 commented on #7156
Hi @asmecher,
we have the same problem (can't upload files in copyediting stage), and the same messages in the php-error_log.
We are using OJS  3.3.0.7

I also did this select:
`SELECT sf.submission_id, sf.submission_file_id, sf.file_id FROM submission_files sf LEFT JOIN notes n ON (sf.assoc_id = n.note_id) WHERE sf.assoc_type = 520 AND n.note_id IS NULL `

![image](https://user-images.githubuserc

[2021-11-09 11:17] NateWr commented on #7434
Thanks @jnugent. It turns out the data is all still there. The `workType` is stored in the `submissions` table at `submissions.work_type`. The problem is that the `SubmissionDAO` didn't know to grab it from the main table, so it is looking for it in the `submission_settings` table. When it saves the data, it saves it back into the `submission_settings` table.

A simple PR will fix this for `stable

[2021-11-09 11:21] NateWr commented on #7407
Merged to `stable-3_3_0` and manually applied to the `main` branch.

[2021-11-09 11:21] #7407 closed

[2021-11-09 12:53] jnugent commented on #7434
Thanks, @NateWr. Our OMP 3.1.2 client was getting ready to upgrade to 3.3 - I assume it is probably better to ask them to delay until 3.4? They have a large collection of submissions.

[2021-11-09 13:58] jnugent commented on #7434
Great, thank you.

[2021-11-09 16:19] asmecher commented on #7443
@OyvindLGjesdal, do you have the GNU `patch` tool available on your system? If not, that might explain why the patch is failing to apply. Alternately, maybe you're mixing `composer install` (which will install the exact dependency versions specified in the Composer lockfile) and `composer update` (which will potentially install newer versions than those specified)?

The line in `lib/vendor/moxieco

[2021-11-09 23:11] OyvindLGjesdal commented on #7443
Doh, I had removed the lockfile, and that explains why the patch can't be applied to the newer version. Thanks for helping!

[2021-11-09 23:11] #7443 closed

[2021-11-09 23:42] asmecher commented on #7443
Not a problem, thanks for following up!

[2021-11-10 00:24] asmecher commented on #6112
@jonasraoni, I would much rather see the query construction work that's already in `main` back-ported to `stable-3_3_0` rather than making a whole new implementation just for the 3.3.0-9 build. How do you feel about reconciling the two? Are there improvements in this PR that should be forward-ported to `main`?

[2021-11-10 00:58] asmecher commented on #6991
Thanks, @jonasraoni -- I've merged for both `stable-3_3_0` and `main`.

[2021-11-10 00:58] #6991 closed

[2021-11-10 01:04] asmecher commented on #7156
@ohilbig01, I would recommend taking a good database backup, then removing those entries. They appear to be files related to notes that have since been deleted (or were never uploaded properly).

[2021-11-10 08:52] ohilbig01 commented on #7156
Thank you @asmecher, do you mean this:
* remove the entries with the six selected submission_file_ids in the table submission_files
* delete the files that contain those submission_file_ids in their name?

[2021-11-10 09:04] jonasraoni commented on #6112
@asmecher Yes, I believe some improvements might be ported to main: https://github.com/pkp/pkp-lib/issues/6112#issuecomment-962676102

As I said in the comment before, I just saw the updates in /main after creating this PR, so yeah, I can merge the changes.

[2021-11-10 09:18] NateWr commented on #1661
We got an additional request for the automated confirmation email to include the reviewer's submitted review. This is a good idea and a common approach to confirmation emails.

That issue is about notifying the reviewer when an editor makes a decision on a submission they reviewed. This issue is about an automated confirmation email so that the reviewer knows their review was received.

[2021-11-10 11:35] #1829 closed

[2021-11-10 11:38] NateWr commented on #1839
@asmecher is this still relevant or can it be closed?

[2021-11-10 11:38] NateWr commented on #1842
Closing for lack of interest.

[2021-11-10 11:38] #1842 closed

[2021-11-10 11:41] NateWr commented on #1855
@ctgraham would you like to keep this open for further discussion/development? Or can I close it since it hasn't had any discussion in 5 years?

[2021-11-10 11:42] #1913 closed

[2021-11-10 11:43] #1947 closed

[2021-11-10 11:44] NateWr commented on #1959
@bozana is this test failure still relevant or should I close this issue?

[2021-11-10 11:47] NateWr commented on #1990
@defstat I believe this will be obsolete once your author form changes are merged in #6850. Can you remember to close this?

[2021-11-10 11:49] NateWr commented on #2009
Closing until there is renewed interest.

[2021-11-10 11:49] #2009 closed

[2021-11-10 11:49] NateWr commented on #2024
Fixed in recent versions.

[2021-11-10 11:49] #2024 closed

[2021-11-10 11:51] NateWr commented on #2056
The file download code was refactored in 3.3 and missing files now result in a 404. The file promotion code will be refactored in 3.4 as part of #7265. Closing as outdated.

[2021-11-10 11:51] #2056 closed

[2021-11-10 12:01] jonasraoni commented on #1855
@NateWr You can close it. It's currently possible to override a locale key by using a hook:
https://github.com/pkp/pkp-lib/blob/main/classes/i18n/PKPLocale.inc.php#L320

Or by adding a locale file to the top of the list:
https://github.com/pkp/pkp-lib/blob/main/classes/i18n/PKPLocale.inc.php#L483

[2021-11-10 12:40] luizbgomide commented on #6991
@asmecher it is worth noting that (from what I understood) this also relies on the `user_settings` entries being unique. So if that is applied to a user that migrated from 2.X they would probably have the odd NULL values there (see https://github.com/pkp/pkp-lib/pull/7414#issuecomment-961857377). The performance is still much better, but the results seems to be quirky.

[2021-11-10 12:46] #1855 closed

[2021-11-10 13:31] retostauffer commented on #6991
Just to confirm: loading times for "Users & Roles" dropped from ~80secs down to 2secs (initial page view) and to about 20 seconds for user search (138.000 registered users).

Latest 3.4 development version (commit `050b74953249d3bed7f54369a88062aa919c8502`; main branch).

[2021-11-10 14:37] AhemNason commented on #2505
Hey everyone, at risk of opening a sarcophagus here, I wanted to add an example of where we continue to see an issue here.

Hosting just had a journal change its name and file path. They got a new ISSN. I needed to update all their DOIs with the new URLs. But because the metadata in those DOIs is determined (always) by the current title-level metadata, I had to:

1. update the filepath to the new

[2021-11-10 14:39] AhemNason commented on #2505
Just a note here for @ewhanson who is writing "is this metadata stale" code into the DOI plugin. We definitely don't want users who changed their journal name or ISSN being prompted to update as a result.

[2021-11-10 14:42] ajnyga commented on #2505
In brief none of the metadata shown for an article for example in OAI-PMH should _ever_ come from an OJS setting directly.

[2021-11-10 15:27] Vitaliy-1 commented on #7425
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/7444
OJS: https://github.com/pkp/ojs/pull/3224

[2021-11-10 15:32] NateWr commented on #2505
Hi everyone, this issue has drifted from its original remit (PIE-J best practices) and come to focus primarily on the problem of how to reflect historical changes in journal-level metadata in article metadata. That's a problem worthy of its own issue as it will require some detailed discussions and specifications.

Bonus points for anyone who is willing to file a new issue with a detailed descript

[2021-11-10 16:47] asmecher commented on #1839
Still relevant, as OJS 3.x self-identifies in the `versions` table as `ojs2`. However it's purely "cosmetic" in that you'll only see it in the database and HTTP user agent. I'd like to change it at some point but it'll need to wait until after ADODB is removed at least.

[2021-11-10 17:44] tmrozewski-york commented on #7442
Sure.

Steps to reproduce the behavior:

1. Go to CrossRef XML Export Plugin
2. Click on Articles tab
3. Select submissions to deposit to CrossRef
4. Click Deposit
5. See error message (screenshot below)

I can't copy and paste the error message because it disappears as soon as I click on it.

![140793711-93398bd5-a136-41fb-a979-28668bffafec](https://user-images.githubusercontent.com/68435195/1411

[2021-11-10 19:46] jonasraoni commented on #6991
@luizbgomide After my latest modifications, the code is supposed to work without removing the duplicated entries, it will just be slower =]

@retostauffer If you're handy with SQL, you might check if you're affected by duplicated user_settings (https://github.com/pkp/pkp-lib/pull/7414#issuecomment-961857377), after fixing that, the performance should receive another bump.

Also, it's still possibl

[2021-11-10 19:54] wopsononock opened #7445 "Error message after sign-in when not forcing site wide ssl"
With the following configuration:

OJS 3.3.0.6
**Config.inc.php**
`
; Force SSL connections site-wide
force_ssl = Off

; Force SSL connections for login only
force_login_ssl = On
`
I'm tunnelling to my OJS VM's localhost port 443
Logging in redirects to a plain http url like this:
http://mysite:4443/index.php/GL/login/signIn

Status 400 message about https:
Bad Request

Your browser sent a request

[2021-11-10 20:01] asmecher commented on #7445
@wopsononock, I think this is a configuration problem rather than an OJS bug. Could you post your question on the support forum   (https://forum.pkp.sfu.ca/) instead of Github?

[2021-11-10 20:01] #7445 closed

[2021-11-10 20:17] diegomejia071 commented on #6432
Hi,

I am using OJS version 3.2.1.4. Is there any solution for this. Can you delete these email templates in these languages ​​like Arabic from a database query, or what can I do?

[2021-11-10 20:42] asmecher commented on #7156
@ohilbig01, I mean to remove those six matching entries from from the `submission_files` table. There is no harm in leaving the files in place.

[2021-11-11 00:35] asmecher commented on #7301
PR for OMP: https://github.com/pkp/omp/pull/1028

[2021-11-11 00:37] #4090 closed

[2021-11-11 00:42] ewhanson commented on #2644
Abstract requirement possibly addressed in pkp/quickSubmit#55.

[2021-11-11 00:57] ewhanson opened #7446 "QuickSubmit plugin enhancements and bugs meta issue"
This meta issue is a collection of currently outstanding issues related to bugs, feature suggestions, UI/UX changes, and enhancements for the QuickSubmit plugin as of November 2021.

Some common threads and priorities identified from the following issues include:

- [ ] How submission object creation within the QuickSubmit plugin is handled
- [ ] Assigned publication dates not working as expected

[2021-11-11 03:54] #7367 closed

[2021-11-11 08:48] Vitaliy-1 commented on #7425
@NateWr, can you take a look at these PRs?
Alongside with Mailables, I've added file caching for core system events. Events, listeners and subscribers are cached in the form:
[code]
Listeners and subscribers which were added without event discovery aren't cached

[2021-11-11 09:13] gabriele-h commented on #6432
As stated in my comment above, for us the issue was resolved by adding missing locale information for the languages we use **in the database**. For us the change needed to be done in the table email_templates_default_data. But it depends on where in the system the translations are missing which table you need to look at, I suppose. I also can't remember how we found this table.

[2021-11-11 09:13] ohilbig01 commented on #7156
Thanks @asmecher. I also had to delete references in submission_file_revisions and submission_file_settings.

[2021-11-11 09:31] NateWr commented on #7442
Thanks, @tmrozewski-york. So that's pretty straightforward. I suspect if we go and try to reproduce this we won't get the error, because it appears to only occur with some submissions. We'll need to identify how to set up a submission so that the deposit will fail.

Are you able to run SQL queries to look in the database? If so, the Crossref response may be saved in the `publication_settings` tabl

[2021-11-11 09:34] NateWr commented on #7442
Oh you know what, I think I can see enough of the error message in your screenshot! I can see the following text:

@bozana or @ewhanson do either of you recognize this error message? It seems like maybe the issue is that on our end we don't identify correctly which submissions were deposited and which weren't?

[2021-11-11 09:48] NateWr commented on #7442
@tmrozewski-york apologies if you got some noise from me editing your posts. I thought that the `identity=` string in the error message exposed your institution's crossref password, so I removed the images, but it turns out that's just your username twice. I've restored the images as they were.

[2021-11-11 09:54] retostauffer commented on #6991
@jonasraoni I have tested your fix of duplicated settings. We are affected (https://github.com/pkp/pkp-lib/issues/4900) but not a lot. Applying your patch reduces the number of rows in our `user_settings` table by only 0.5%, thus - in our case - an improvement of the performance is not visible. But still good to get these `NULL` duplicates out of the DB.

[2021-11-11 10:16] NateWr commented on #6432
I hesitate to recommend a solution without having tested it at all. However, if you have **backed up your database**, you can try to remove entries for unused languages by removing any rows in `email_templates_default_data` and `email_templates_settings` that have a `locale` column with a language that you don't use.

[2021-11-11 10:30] bozana commented on #7442
Hi all,
that sounds to be an error connected with that specific installation or user. I have not seen it till now. It sounds like there is a limit of requests set by Crossref for you installation/IP/user. It does not sound like it is an error of the DOI deposit. It also seems to return Crossref 500 error which we do not save -- we only save requests errors, and returned 403 Crossref errors -- that

[2021-11-11 10:30] NateWr commented on #2036
A duplicate of https://github.com/pkp/pkp-lib/issues/1672.

[2021-11-11 10:30] #2036 closed

[2021-11-11 10:32] NateWr commented on #2048
@ctgraham would you like to remain assigned to this?

[2021-11-11 10:33] NateWr commented on #2051
@asmecher can this issue be closed?

[2021-11-11 10:34] NateWr commented on #2055
The "possible duplication or revision detected" behaviour has been removed in 3.3.

[2021-11-11 10:34] #2055 closed

[2021-11-11 10:34] NateWr commented on #3518
The "Possible Duplication or Revision Detected" screen was removed in 3.3.

[2021-11-11 10:34] #3518 closed

[2021-11-11 10:35] NateWr commented on #2057
The catalog management panel was replaced in 3.2, I believe, and this no longer applies.

[2021-11-11 10:35] #2057 closed

[2021-11-11 10:36] #2081 closed

[2021-11-11 10:39] NateWr commented on #2102
I think that this is getting covered by #6062 for DOIs, and we would use a similar approach for other kinds of exports in the future, rather than modify the existing grids. Closing this for now but let's open a new issue for any specific use cases where an export/deposit all feature is required.

[2021-11-11 10:39] #2102 closed

[2021-11-11 12:06] Vitaliy-1 opened #7447 "OMP specific email templates appear in OJS in the add participant form"
**Describe the bug**
Described here: https://forum.pkp.sfu.ca/t/removing-index-request-and-index-complete-from-assign-participant-option-to-active-submission/70326
In OJS, when assigning a new participant to a submission on a production stage, 2 blank email templates appear in the form's correspondent option: `INDEX_REQUEST` and `INDEX_COMPLETE`. This 2 templates are specific 2 OMP and shouldn't a

[2021-11-11 12:18] alexxxmendonca commented on #6271
After running some tests, I noticed that you need not only to have the Editor role enrolled to your user. That alone won't suffice. You also need to be _assigned_ as an Editor to the submission in order to be able to delete a preprint.

However, with the current issue of #6875, it's getting a little tricky. You can't be an Editor for _posting_ preprints, but you have to be one in order to _delete_

[2021-11-11 12:46] NateWr commented on #6271
@alexxxmendonca can you file a separate issue or add on to one of the other issues you identified? It's a separate problem from the question of withdrawals in this issue.

[2021-11-11 14:06] alexxxmendonca opened #7448 "[OPS] Unable to delete a rejected preprint unless user is assigned as "Editor" to submission"
**Describe the bug**
It's not possible to delete a rejected preprint submission unless the user is assigned to the submission as Editor.

It doesn't matter if you have a Site Administrator role or the Editor (but not assigned to the submission). If you are not assigned as a submission Editor, you can't delete it.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure the preprint has been

[2021-11-11 14:07] ctgraham commented on #2048
Unassigned.

[2021-11-11 15:44] Vitaliy-1 commented on #7416
PR pkp-lib: https://github.com/pkp/pkp-lib/pull/7449

[2021-11-11 15:45] #7416 closed

[2021-11-11 17:25] jnugent opened #7450 "tasks cannot be marked as read/unread or deleted"
**Describe the bug**
In the task modal, tasks can be read and selected, but the buttons for marking them as new or read, or deleting them, no longer work.  This works fine in both a 3.3.0.3 and 3.3.0.6 installation we have, but not in two new 3.3.0.8 stable upgrades as of this morning.  Did this modal lose a JS handler perhaps?

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the tas

[2021-11-11 17:38] asmecher commented on #7450
The addition of some [CSRF checks](https://github.com/pkp/pkp-lib/issues/7371) resulted in a change to one of the JS handlers. If that change hasn't made it to the browser, you'll see what you describe. Make sure your compiled JS is up to date, and flush your browser cache.

[2021-11-11 17:44] jnugent commented on #7450
That's part of our regular deployment procedure, but yes, clearing my browser cache just now and rebuilding all of the javascript via npm still results in the same issue.

[2021-11-11 17:51] twakeford opened #7451 "Information Disclosure via Forget Password"
**Describe the bug**
There is an information leak that allows an outside attack to check whether an email address is associated with an account.

**To Reproduce**
1. Go to '/login/lostPassword'
2. Entering a registered email address gives the message '_A confirmation email has been sent to your email address. Please check the instructions in the email to reset your password_'
3. Entering an unregi

[2021-11-11 18:00] twakeford opened #7452 "Missing Rate Limit On Login / User's Account Hacking"
**Describe the bug**
There is no lockout mechanism in the login page to stop access attacks. A malicious minded user can target a site and input infinite attempts on the password without being locked out. Accounts with weak passwords would be particularly at risk.

Other websites generally have a lockout mechanism for a user to be logged out if they breach a set number of incorrect. passwords. For

[2021-11-11 18:22] asmecher commented on #7450
This is the old (non-NPM) JavaScript; you build it using tools/buildjs.sh -- however I'm pretty sure I committed an updated compiled version in GitHub too. If that doesn't help, can you send me privately the URL of the journal in question?

[2021-11-11 18:29] diegomejia071 commented on #7051
Hi @NateWr,

There is some advance on this problem, I already updated my OJS to version 3.1.2.4, and I already applied the patch mentioned @asmecher in https://forum.pkp.sfu.ca/t/admin-journal-settings-sections-tab-loads-over-60-seconds/37518/18 and the loading of the back issues is still very slow.

[2021-11-11 19:03] jnugent commented on #7450
Even if I disable minified Javascript the problem persists here.  I've cleared everything again, same issue. I've sent you creds on slack.

[2021-11-12 03:58] fgnievinski commented on #5739
for example, in [APA style](https://apastyle.apa.org/blog/citing-translated-works):

[2021-11-12 06:05] ajnyga commented on #7190
Hi @jonasraoni
Thanks for fixing some issues here. I am working on importing around 500 books to OMP so these are very important.

What I am seeing is that there is no way of importing a submission file, attaching that to a publication format and the making that directly available (no sales price, openAccess). Are you seeing this as well?

The `revision` element does not allow the `sales_type` att

[2021-11-12 07:48] jonasraoni commented on #7190
Hi @ajnyga!

In order to import some books, first I created a book, filled all the fields I could find, then I exported it to XML, which didn't add this `<revision>` element 🤔

But after a fast search I found a `sample.xml`, which has this element... So yeah, there's something missing here.

---

Hi @defstat! This PR is missing your review, but I've heard you were fixing such issues already, so is

[2021-11-12 09:11] zalamuia opened #7453 "Activity Log fails to load when a file has been uploaded to a discussion message that was deleted"
**Describe the bug**
Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.
I am using **OJS 3.3.0.8** based on

OS platform | Linux
PHP version | 7.4.15
Apache version | Apache/2.4.6 (CentOS)
Database driver | mysql
Database server version | 5.5.60-MariaDB
----------------------------------------------
It is found that some of the **Activity Log**

[2021-11-12 09:56] bozana commented on #1959
Closing :-) Thanks @NateWr !!!

[2021-11-12 09:56] #1959 closed

[2021-11-12 10:41] bozana commented on #7419
Here all PRs:

stable_3_3_0:
pkp-lib:
https://github.com/pkp/pkp-lib/pull/7323
https://github.com/pkp/pkp-lib/pull/7427
ojs: https://github.com/pkp/ojs/pull/3225 (only submodule update)
omp: https://github.com/pkp/omp/pull/1029 (only submodule update)
ops: https://github.com/pkp/ops/pull/197 (only submodule update)

main:
pkp-lib:

[2021-11-12 12:57] bozana commented on #7419
I think we have considered everything... ?
Merged...
Closing...

[2021-11-12 12:57] #7419 closed

[2021-11-12 18:53] retostauffer opened #7455 "Reviewer Search: Display email address for unambiguous identification"
**The Problem**
We have had a request that it is hard for our editors/section editors to unambiguously identify reviewers when inviting them. Currently the 'Advanced Search Reviewer Form', the grid shown when clicking "Add Reviewer", only displays full name, affiliation, and some review-related information.

The email address can be accessed fairly easily when clicking on "Activity log" but only a

[2021-11-13 03:32] asmecher commented on #7450
This commit will fix it (along with recompiled minified JS): https://github.com/pkp/pkp-lib/commit/e67b6e15236744d84e9491f50e277a9bd656a5ce

[2021-11-13 03:32] #7450 closed

[2021-11-13 13:37] jnugent commented on #7450
Thank you, confirming fixed!

[2021-11-14 11:40] jonasraoni commented on #6112
@asmecher I've updated some things in `/main` (PRs below) and merged down the updates into the older PR.
https://github.com/pkp/ojs/pull/3226
https://github.com/pkp/pkp-lib/pull/7456

[2021-11-14 13:01] Vitaliy-1 commented on #7425
Interesting, I didn't know that `throw` keyword cannot be used together with if...else ternary operator until PHP 8.0

[2021-11-14 16:14] #7425 closed

[2021-11-15 10:16] NateWr commented on #7051
Hi @diegomejia071, no there is no progress that I'm aware of. I see that @jonasraoni has assigned himself to this, so he may be looking into it soon.

[2021-11-15 10:43] NateWr commented on #7448
I was unable to reproduce this in `stable-3_3_0`. I took the following steps:

1. Login as author and create a new preprint.
2. Login as site admin and decline the preprint.
3. Go to Submissions > Archived. **Delete button is present**
4. Login as Preprint Server Manager (`ROLE_ID_MANAGER`).
5. Go to Submissions > Archived. **Delete button is present**

I checked and neither the admin nor the prep

[2021-11-15 10:56] NateWr commented on #7453
Hi @zalamuia, please provide reproduction steps we can follow to reproduce the problem in our local development environment, like the following:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-11-15 11:10] NateWr commented on #7455
Hi @retostauffer, thanks for the report and for linking back to the original user request. As you noticed, the "Locate a Reviewer" and "Enroll an Existing User as Reviewer" forms operate independently. We've updated the "Locate a Reviewer" form to use the new REST API and our UI Library. We plan to update the other form, but due to GDPR concerns, we first need to implement support to [invite a use

[2021-11-15 11:16] NateWr commented on #2113
This is no longer used in `stable_3_3_0`.

[2021-11-15 11:16] #2113 closed

[2021-11-15 11:17] NateWr commented on #2130
Closing due to lack of interest.

[2021-11-15 11:17] #2130 closed

[2021-11-15 11:25] NateWr commented on #2169
@ajnyga is this still something you get requests for?

[2021-11-15 11:27] NateWr commented on #2190
Related to https://github.com/pkp/pkp-lib/issues/2093.

[2021-11-15 11:28] NateWr commented on #2199
Have we had any other requests for this in the last 4 years?

[2021-11-15 11:29] #2210 closed

[2021-11-15 11:34] NateWr commented on #2226
Going to close this until we get reports of the bug in more recent versions.

[2021-11-15 11:34] #2226 closed

[2021-11-15 11:36] NateWr commented on #2254
I believe this is a duplicate of https://github.com/pkp/pkp-lib/issues/6938.

[2021-11-15 11:36] #2254 closed

[2021-11-15 11:36] #2259 closed

[2021-11-15 11:37] #3628 closed

[2021-11-15 12:33] jonasraoni commented on #7452
Hi @twakeford!

There's a plugin which provides some extra security measures available here: https://github.com/ulsdevteam/pkp-betterPassword/

[2021-11-15 14:10] zalamuia commented on #7453
The situation occurred earlier too. However, recently I was following the conversation and found the root cause.

There is no problem with the system of that particular paper until the paper has been sent to production.

1. There are few discussions in the Copyediting stage after the author is notified by the editor. At this stage, the editor tried to update copyedited file but failed to update it

[2021-11-15 15:29] bozana commented on #6781
Hi @ctgraham, I was working on another issue, but would now like to figure out what I extra need to do for OMP and OPS, in order to support COUNTER R5. This depends a lot from the reports we have to provide/support. I would need you help here :-)
@NateWr, I will also include you -- you can always help great with decisions :-)))

I understand all applications should support/provide Platform Report.

[2021-11-15 16:11] asmecher commented on #2051
No, I think it should still be an active feature request.

[2021-11-15 17:16] asmecher commented on #7301
Basics are added!

[2021-11-15 17:16] #7301 closed

[2021-11-15 19:27] kshuttle commented on #5730
This document contains new wording for all email templates related to the workflow in OJS: https://docs.google.com/document/d/1LY9258IgcU80wqlmasRfby7veQb7T-W3Gnhu-ti50Mk/edit?usp=sharing

Email templates that require changes to move than just the wording (ie templates to be added, removed, or integrated into other systems changes) are indicated through individual GitHub issues in the ["Email: Not

[2021-11-15 22:18] glaucomunsberg commented on #6301
Is this still an issue in 3.3.0.8 @asmecher, to fix the slow load in my journal. To fix it I had to run the query below
[code]

[2021-11-15 23:13] diegoabadan commented on #5266
Regarding this limit:

On some occasions we received complaints regarding the 80-character limit for the section title. Can we submit a PR removing this limit or does it exist for some reason and must be preserved?

If the PR is welcome, should we open a specific issue or just link to this one?

[2021-11-16 00:39] asmecher commented on #5266
I'm open to a PR on that, thanks -- please reference this issue.

[2021-11-16 10:02] NateWr commented on #7453
Thanks @zalamuia. I was able to reproduce the problem with the following steps:

1. Login as editor, go to a submission and create a discussion with an author.
2. Login as author, reply to discussion and upload file with the reply.
3. As author, delete the reply to the discussion.
4. Login as editor, go to the submission, view activity log.
5. See error: the activity log does not load.

The follow

[2021-11-16 11:32] alexxxmendonca commented on #7448
Hi @NateWr

It's strange that you couldn't reproduce it...

Here is the list of roles:
![image](https://user-images.githubusercontent.com/4059679/141977627-54c1517f-6278-4015-8d9e-2f2340cea2d5.png)

We don't have an "Editor" role. I wrote "Editor" in my original post because originally the comment you made on the other issue mentioned an editor role and I sticked to it.

I am logged in as Preprint

[2021-11-16 11:58] NateWr opened #7458 "Unexpected error when assigning a submission to an issue"
**Describe the bug**
When assigning a submission to an issue, a modal appears that says "An unexpected error occurred". This doesn't seem to prevent the submission from being assigned to an issue or from publishing the submission. But it does lead to a fatal error in the database.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an unpublished submission in the copyediting or production

[2021-11-16 12:09] NateWr commented on #7448
@alexxxmendonca this is the code that determines whether the delete button is available:

https://github.com/pkp/ui-library/blob/stable-3_3_0/src/components/ListPanel/submissions/SubmissionsListItem.vue#L276-L292

Is the user assigned as an author in the submission?  (authors can not delete submissions after they are submitted)

The first thing I'd recommend you do is try to reproduce the issue on

[2021-11-16 12:09] #7448 closed

[2021-11-16 12:23] NateWr commented on #2378
This has been improved in recent versions.

[2021-11-16 12:23] #2378 closed

[2021-11-16 13:49] NateWr commented on #2280
We now use the Citation Style Language to generate our citations. There is a `version` supported in the CSL specification: https://docs.citationstyles.org/en/stable/specification.html#appendix-iv-variables

[2021-11-16 13:51] NateWr commented on #2346
@bozana do you know if this is still a bug?

[2021-11-16 13:52] #2349 closed

[2021-11-16 13:52] NateWr commented on #2355
This is no longer an issue in the `main` branch.

[2021-11-16 13:52] #2355 closed

[2021-11-16 13:54] NateWr commented on #2374
Work on improving the upgrade process is ongoing in several other issues. Closing because the specific issue reported here is not going to be addressed.

[2021-11-16 13:54] #2374 closed

[2021-11-16 14:00] NateWr commented on #2390
This citation format is no longer handled directly by us.

[2021-11-16 14:00] #2390 closed

[2021-11-16 15:41] ctgraham commented on #7445
The problem is here:
https://github.com/pkp/pkp-lib/blob/834e3935050174a7a12b1a143ae4e32a6bf85a7f/pages/login/LoginHandler.inc.php#L143-L146

If only `force_login_ssl` is set, the user is actually forced back to a non-SSL connection, regardless of whether they came from SSL or non-SSL, prior to the login.

So, if someone has connected securely to the site, then logs in, they will be redirected to

[2021-11-16 18:13] asmecher commented on #7453
My instinct is to leave log entries in place, but make them behave better when they refer to external content that does not exist. If we could use a proper foreign key for log entries, that would mean an `ON DELETE NULL` clause, e.g. when a file or note that is referred to gets deleted, the log entry's foreign key gets set to NULL. But we're using a polymorphic relationship (`assoc_type` / `assoc_

[2021-11-16 18:53] asmecher commented on #5739
@fgnievinski, we use the citeproc-php library (via the Citation Style Language plugin) to format citations, and it supports translator/editor designations. @ajnyga makes reference to this plugin in the initial entry, so that requirement should be covered by his notes.

[2021-11-16 18:58] asmecher commented on #6301
@glaucomunsberg, I can confirm that the statements to add those indexes are included with 3.3.0-x, both for new installations ([1](https://github.com/pkp/pkp-lib/blob/655a531801aac74b387881454c3d046e020e3488/classes/migration/SubmissionsMigration.inc.php#L167) [2](https://github.com/pkp/pkp-lib/blob/655a531801aac74b387881454c3d046e020e3488/classes/migration/SubmissionsMigration.inc.php#L43)) and [

[2021-11-16 19:13] diegoabadan commented on #1822
We invite interested parties to watch our presentation on the development progress of this plugin on the next 19th. Details at:
https://forum.pkp.sfu.ca/t/open-publishing-fest-current-status-of-development-for-a-plugin-for-dataverse-integration-on-ops-ojs-3-3- x/70734

It can be an opportunity for interested parties to talk with our team or just find out what we've done and what's still missing.

[2021-11-16 19:30] elton557 commented on #6724
@asmecher Hello, with these adjustments the time has improved, the upgrade takes about 40 hours, as I said it won't always be, we will finally update our production environment next week, thanks for the support!