[2021-07-01 13:47] ctgraham commented on #6782
Since the Customer/Institution is a SUSHI (input criteria) filter and not a COUNTER (output) data element, any report request could be scoped institutionally or scoped globally.  I would expect that one IP address or user could be relevant to multiple institutions, for example, a range/username could be affiliated with "University of Pittsburgh" and simultaneously affiliated with "University of Pi

[2021-07-01 14:45] marcbria commented on #4394
This screenshoot is a better example about what happens when you have multiple journals asking for DOIs at same time...

![imagen](https://user-images.githubusercontent.com/2779168/124143691-9fb9df00-da8b-11eb-8f24-1d6777cb5e39.png)

Would be nice to add journal's tag at the beginning of the file, but as said... low priority for this.

Cheers,
m.

[2021-07-01 15:08] NateWr commented on #6782
But if it is scoped globally, the institutional records wouldn't be used right? We'd only want to return data from the institutional metrics when someone requests the count for one institution? What would be the case where someone would want to say "what is the total number for these 3 institutions"? The example you give is about subsidiary institutions, so to my mind the data can not (and should

[2021-07-01 15:17] marcbria commented on #6852
@AhemNason does it means that issue #2882 still need to be fixed.
I tested today on ojs 3.2.1-4 with last plugin released in the galley (v1.1.2.18 published 22-05-2021) and ORCID tag is still missplaced after alt-name (instead of before).

Talking in #2882 if you prefer...

[2021-07-01 15:59] ctgraham commented on #6782
Yes, if globally scoped there is no need to include (or join against) institutional records.

The SUSHI specification provides for[ consortium or subsidiary organizations for a Customer](https://app.swaggerhub.com/apis/COUNTER/counter-sushi_5_0_api/1.0.0#/SUSHI_consortium_member_list) via the [/members endpoint](https://app.swaggerhub.com/apis/COUNTER/counter-sushi_5_0_api/1.0.0#/default/getConsor

[2021-07-02 08:37] bozana commented on #6782
Thanks a lot @ctgraham!
Just to be sure I understand what you mean with customer_id and mapping to SUSHI/COUNTER Customers:
Now we introduced the new object Institution, that has name and IP ranges. The manager would then first create the institution (list) and then select the appropriate institution for an institutional subscription. Thus for usage stats we take the user IP and see if there are i

[2021-07-02 08:55] bozana commented on #6782
Oh well, I first now see two other posts above :-\
So there is a possibility to report "globally" i.e. to get the total numbers regardless of institutions, usually for OA journals. And in that case what if we do have some institution IDs in the metrics table, and two entries/rows for one user access belonging to two institutions?

[2021-07-02 09:24] NateWr commented on #6782
@bozana I think I may be confused. A counter request for global stats will
not involve institutional records, right? The global stats will be drawn
from the metrics_submission table, not the metrics_institution table.

The metrics_institution table will not contain records for any visits that
are not from a known IP, so it can't be used to get global stats.

On Fri, 2 Jul 2021, 09:55 bozana, ***@*

[2021-07-02 09:46] bozana commented on #6782
For COUNTER R5 reports we need other metric types: metric_investigations, metric_investigations_unique, metric_requests, metric_requests_unique. Thus we cannot use metrics_submission table -- the metrics_submission table is just for our internal reports, with more information, i.e. daily and with usage stats on file types (PDF, HTML), as till now.
Two other tables metrics_counter_geo and metrics_c

[2021-07-02 10:13] NateWr commented on #6782
Ok, I understand now. I don't think we should reuse a table for something
it wasn't designed for, just because it exists. That will only make the
data model harder to understand. So my opinion is that we should have new
tables, `metrics_counter_submissions_daily` and
`metrics_counter_submissions_monthly`.

The size of the database is going to be determined by the number of
records, not the number

[2021-07-02 10:21] bozana commented on #6782
So you mean to have:

metrics_counter_submission_daily:
load_id, context_id, submission_id, date, metric_investigations, metric_investigations_unique, metric_requests, metric_requests_unique

metrics_counter_submission_monthly:
context_id, submission_id, month, metric_investigations, metric_investigations_unique, metric_requests, metric_requests_unique

metrics_counter_submission_geo_daily:
load_i

[2021-07-02 10:34] NateWr commented on #6782
Yeah I think so.

monthly one?

Does COUNTER only do monthly reports? If so we could get rid of the daily
tables?

On Fri, 2 Jul 2021, 11:21 bozana, ***@***.***> wrote:

[2021-07-02 10:57] bozana commented on #6782
Yes, COUNTER only do monthly reports. To double check with @ctgraham? :-)
From https://www.projectcounter.org/code-of-practice-five-sections/5-delivery-counter-reports/:

We could probably get rid of the daily tables, adding the daily processed numbers immediately to the monthly tables and not considering the current month for the COUNTER reports.

The only problem is maybe if something goes wrong

[2021-07-02 11:16] NateWr commented on #6782
Let's process monthly and clear the daily tables. If someone wants to keep
the daily records, they can back them up before they are processed and
removed. That will make the counter tables ~1/30 of their size!

On Fri, 2 Jul 2021, 11:57 bozana, ***@***.***> wrote:

[2021-07-02 13:06] ctgraham commented on #6782
This matches my understanding.

COUNTER *requires* monthly rollups for compliance, but supports rollups down to the daily level.  If we elect to provide only monthly rollups, we'll just need to code the SUSHI interface to provide an exception when someone requests a range we don't support (such as daily, or mid-month to mid-month).

The intent of the increased resolution for the COUNTER/SUSHI requ

[2021-07-02 13:26] Vitaliy-1 opened #7167 "Null values in assoc columns in user_settings prevent correct data reading after update"
**Describe the bug**
The bug described on the forum: https://forum.pkp.sfu.ca/t/null-values-in-user-settings-safe-to-remove/68272
Old installations may have NULL values in `assoc_type` and `assoc_id` columns in `user_settings` table. This leads to duplicated rows when this data is updated, e.g. through the user profile form:
[code]
According to the report, this leads to problems in reading user da

[2021-07-02 14:46] israelcefrin opened #7168 "OJS 3.2.1 - Unable to pick a year in the advanced filters of the search form"
**Describe the bug**
Enabling the search for a multi-journal install and making a search returns the results page with empty advanced filters. They only shows "0" as an option for year.
It affects every theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a search
2. Go to the results page
3. Attemp to select an year (star or end)
4. See error

**What application are you using?**
 OJS

[2021-07-02 14:59] israelcefrin commented on #7168
This issus is similar to this one which affected OJS 3.3 - https://github.com/pkp/pkp-lib/issues/6406

[2021-07-02 17:15] asmecher commented on #4622
Thanks, @henriqueramos! I've taken another pass over it and it's very close to ready.
- The tests appear to still need fixing
- There are a few minor typos etc. I've made specific comments on
- See: https://github.com/pkp/pkp-lib/pull/7106#discussion_r658362741 and https://github.com/pkp/pkp-lib/pull/7049#discussion_r663145835; in such a large/old codebase as OJS I often push to avoid adding code

[2021-07-02 19:07] librariam commented on #4540
+1 from PKP|PS where we sometimes need to create test/incomplete submissions in client journals and usually delete them right away. In 3.3 it's not possible if created from a JM role (I guess we'll have to be mindful to create them as "author")

[2021-07-02 19:57] diegomejia071 opened #7169 "Errors after update OJS 3.2.1-4"
Hi,

I just updated the OJS version to 3.2.1-4, and activated some plugins and when trying to deactivate these I get the following error and the plugin does not deactivate:

`PHP Warning:  call_user_func_array() expects parameter 1 to be a valid callback, class 'PKPComponentRouter' does not have a method 'getRequestedPage' in /lib/pkp/classes/core/PKPRequest.inc.php on line 760, referer: /manageme

[2021-07-02 20:12] asmecher commented on #7169
@diegomejia071, it looks like you're already working to resolve these issues in the forum:
- https://forum.pkp.sfu.ca/t/ojs-3-1-2-4-php-warning-declaration-of-journalsitesettingsform-execute-should-be-compatible-with-form-execute-functionargs-in-var-www-ojs-controllers-grid-admin-journal-form-journalsitesettingsform-inc-php-on-line-18/58415/2
- https://forum.pkp.sfu.ca/t/ojs-3-2-1-4-error-trying-t

[2021-07-02 20:12] #7169 closed

[2021-07-02 20:16] diegomejia071 commented on #7169
what happens is that in the forum nobody helps me with these problems

[2021-07-02 20:25] asmecher commented on #7169
Those posts are only an hour old :) If your post hasn't been answered after a week and you want to draw attention to them, post a follow-up reminder on the same thread.

[2021-07-02 21:26] jonasraoni commented on #4622
There's nothing better than forwarding code maintenance/security/documentation/etc. to others, even though Laravel isn't a silver bullet :)

I agree, the code base has been unstable lately. As we're introducing some deeper breaking changes, it's a great time to sit down and rethink what's working (or not), make some experiments and try to build an architecture roadmap. We can start by giving a fee

[2021-07-02 21:59] asmecher commented on #7127
I don't mind if the error message isn't 100% helpful in a case like this, as long as googling it up will get us to this documentation. Since it's something only the dev team is likely to be encountering. Thanks for the hints!

[2021-07-03 23:17] AhemNason commented on #6852
I know this issue was fixed around the same time. Alec seems to suggest in #2882 that this patched addressed both issues. Or they were both addressed around the same time I do know that is of 3.3.0-4 we were in the clear on this error. Working backwards, I'd recommend exporting the XML and moving the order around. Depending on the volume being deposited might be a non-trivial headache! I had to do

[2021-07-05 07:07] marcbria commented on #6852
Thanks Mike.

I though it was related with Dulip's orcid plugin and updating the plugin was enough... but looks like this part is in core.
Sorry for the misunderstanding.

@asmecher, do you remember if is this included in last stable-3.2?
If not, any chance to add it next 3.2 release?

[2021-07-05 16:05] asmecher commented on #6852
We're not planning any more 3.2.x releases, Marc; it's not in `stable-3_2_1` but if someone can quickly confirm that the patch (https://github.com/pkp/ojs/pull/2882) applies cleanly and works on 3.2.1 then I can cherry-pick it to `stable-3_2_1` for git users.

[2021-07-05 16:20] marcbria commented on #6852
I didn't explain myself. I know about the end of 3.2.x releases (and I understand why they should end).
When I said "next 3.2 release" I was talking about next "stable-3.2" (aka. stable-3_2_1).

I will try to find some time tomorrow to test this.
@asmecher, if I test #7138 and #6807 are you open to include in the stable-3_2_1 too?

[2021-07-05 17:33] asmecher commented on #6852
Yes, I can, @marcbria!

[2021-07-06 09:12] marcbria commented on #3646
Arriving late to the conversation to report that I also got a complain today from a journal (ojs 3.2.1) that modified PUBLISH_NOTIFY expecting to email with this content... but got a simply notification.

As @amandastevens suggested [here](https://github.com/pkp/pkp-lib/issues/5953#issuecomment-770422832), if PUBLUSH_NOTIFY is not used in 3.2 and 3.3 (and feature will be implemented in 3.4), I als

[2021-07-06 10:17] marcbria commented on #7138
Sorry for the delay.

I replaced the modified file in ojs 3.2.1 fails.
When I cherry-picked the changes it worked like a charm.

@NateWr do you want me to make a PR to stable-3.2.1?

[2021-07-06 10:56] marcbria commented on #6807
Hi @asmecher

I'm trying to test if this to be included in OJS stable-3.2.1... but I'm not able to find what I need to test.

I thought don't make much sense to spend time on the upgrade scripts, so I focused in code... but only code I found is this:
https://github.com/pkp/pkp-lib/commit/38175ecdffb98781c4d9faa48a1e24f59b1b53fc

I cherry-picked it and is not making any difference in the OAI datest

[2021-07-06 15:27] asmecher commented on #6852
I've cherry-picked https://github.com/pkp/ojs/pull/2882/commits/0d0e86df1734e68d8915dca44e8c613c43f9c5d2 into `stable-3_2_1`, thanks for confirming.

[2021-07-06 16:46] pmangahis commented on #5955
+1 from PKP Hosting

[2021-07-06 19:30] asmecher opened #7171 "Add an interface for viewing processing queue status"
As we rely more on Laravel queues for day-to-day tasks like email sending, CrossRef deposits, etc., it'll be necessary to give the user a way to see whether the queues are running, how much work is left, and whether any errors came up.

Add an interface to allow the user to view the processing queue, probably admin/journal manager only, and possibly even to control the queue (initiate processing f

[2021-07-06 19:54] pablovp86 opened #7172 "Method names with underscore as prefix"
I'm trying to understand the rationale behind the nomenclature of methods that are prefixed with an underscore.

Some [legacy coding style guides](https://www.php-fig.org/psr/psr-2/) used underscores to specify method visibility on older versions of PHP, but this not seems to be the case, because the examples i saw have different visibility: [private](https://github.com/pkp/pkp-lib/blob/0462408c0a

[2021-07-06 20:13] bkawula opened #7173 "[OMP] No cover images after upgrading to 3.3.0.7"
[Seems like a few people have been having this issue](https://forum.pkp.sfu.ca/t/omp-cover-images-disappear-after-upgrade/66115), myself included.

I finally got the images to migrate after appending the file directory info to the cover and thumbnail path variables in the migrateSubmissionCoverImages() function of the upgrade script.

[2021-07-06 21:51] asmecher commented on #7173
Thanks for tracking this down, @bkawula! Would you be willing to open a pull request including that change?

[2021-07-06 21:53] asmecher commented on #7172
@pablovp86, the forum is actually fine for questions like this. But I'll answer your question here: essentially ours is a large, old codebase (spread over many repositories), and some coding standards still hark back to earlier eras. New code is much more modern and we're gradually revamping older parts of the system, including old conventions like `_` prefixing.

[2021-07-06 21:53] #7172 closed

[2021-07-06 22:29] asmecher commented on #6807
https://github.com/pkp/pkp-lib/commit/38175ecdffb98781c4d9faa48a1e24f59b1b53fc is a different issue and only affects OJS/OMP/OPS 3.3.0-2 and 3.3.0-3; it doesn't affect 3.2.x.

The only changes for this issue are database changes; you could port this back to 3.2.x by adding the two relevant queries (see e.g. https://github.com/pkp/ojs/commit/ad7c3564e58a6edfe1b9907bda4e7a02d8693dca) to the upgrade

[2021-07-07 09:18] marcbria commented on #6807
Ok.
I have doubts about including this in 3.2 because this version will be a pit-stop for older migrations (I mean, you can't upgrade directly to 3.3) but in the other hand, if somebody does a migration today they will like to finish at 3.3 so changes will be applied in this second upgrade.

I don't know if I explained myself, I mean, do you think is relevant to include this in stable-3.2.1?

Aski

[2021-07-07 15:10] asmecher commented on #6807
I normally wouldn't back-port this change to `stable-3_2_1`, but you were interested in it here: https://github.com/pkp/pkp-lib/issues/6852#issuecomment-874222885

I'm ambivalent about it, as I don't think we're likely to release another 3.2.x package.

[2021-07-07 15:25] bkawula commented on #7173
Done! https://github.com/pkp/omp/pull/991

[2021-07-07 15:29] asmecher commented on #7173
Thanks, @bkawula! I've merged to `main` and back-ported to `stable-3_3_0` and `stable-3_3_1`.

[2021-07-07 15:29] #7173 closed

[2021-07-07 16:03] ctgraham opened #7174 "ReCAPTCHA proxy is misconfigured"
**Describe the bug**
3.3 changes the [config.inc.php proxy settings and Guzzle](https://github.com/pkp/pkp-lib/issues/5963), without touching [ReCAPTCHA's usage](https://github.com/pkp/pkp-lib/blob/e5b2633327d480c7b1eaabca22ab4f2d3b78d134/classes/form/validation/FormValidatorReCaptcha.inc.php#L74-L92).

**To Reproduce**
Steps to reproduce the behavior:
1. Configure 3.3 with new proxy settings
2. E

[2021-07-07 17:22] AhemNason commented on #5955
Just a note to @CreationTribe and @asmecher that I'm pulling together some more well-formed thoughts about best practice for name metadata here. Shouldn't be much longer.

[2021-07-07 18:17] pablovp86 commented on #7172
Thanks @asmecher for your explanation. Next time I'll try the Forum.

[2021-07-08 00:27] asmecher commented on #7088
https://github.com/whikloj/BagItTools/pull/27 has been fixed upstream (thanks @whikloj!) so I've removed the temporary work-around.

@defstat, this PR (https://github.com/pkp/pln/pull/13) is now ready for testing against OJS 3.3.0-x to see if it resolves the original issue. If you have a local setup of the PN application, could you test a complete deposit with this change in place?

@ubermichael,

[2021-07-08 09:36] Vitaliy-1 commented on #7141
As part of email templates refactoring, to make variables more universal and allow their handling in custom templates associated with a certain email/event, variables are going to be unified. Right now there are variables with different names but with the same meaning and vice versa. I keep the info about variables and renames [here](https://docs.google.com/spreadsheets/d/12Qkutmim5ZI6TBTKC0ZSqvez

[2021-07-08 13:49] alexxxmendonca opened #7175 "[OPS] Ability to filter submissions by Moderator"
**Describe the problem you would like to solve**
In OJS 3.3.x, it's possible to filter the submission list by assigned Editor:

![image](https://user-images.githubusercontent.com/4059679/124932860-ccb14900-dfd9-11eb-8626-245fa4dd8ab0.png)

That same feature is not available in OPS 3.3.0-6, however:

![image](https://user-images.githubusercontent.com/4059679/124932984-e488cd00-dfd9-11eb-8f76-fc4a58

[2021-07-08 14:55] asmecher commented on #7141
Thanks, @Vitaliy-1! Is it necessary to use `submissionUrlByUserRole`? Couldn't we just use `submissionUrl`?

[2021-07-08 17:37] AhemNason commented on #5955
Hello! So, my general recommendation here is for "contributor types" that cover the number of types of authors we might see. Those would be broadly described as:

- person
- organization/corporation
- anonymous
- no author

I wrote a little report about it here where you can see how these situations are handled in JATS and Crossref respectively.

https://www.notion.so/ahemnason/Proposing-name-type

[2021-07-08 22:07] JhonathanLepidus commented on #5727
Hi! We were trying to use the feature implemented in this issue, but we noticed a strange behavior with it. In [this line](https://github.com/pkp/ops/blob/ffc51352642f31c100c3792e5ebcf7f6c0ca3879/classes/services/PublicationService.inc.php#L300) you can see that the e-mail is sent to the current user, who is posting the preprint.

However, it's common that in preprint servers the preprints are pos

[2021-07-08 23:01] asmecher commented on #5727
@JhonathanLepidus, yes, that sounds correct to me. Could you file this as a new issue entry?

[2021-07-08 23:18] diegoabadan opened #7176 "[OPS] Send "acceptance" letter to authors"
Hey! We were trying to use the feature implemented in issue #5727 , but we noticed some strange behavior. In [line 300 the email is sent to the current user](https://github.com/pkp/ops/blob/ffc51352642f31c100c3792e5ebcf7f6c0ca3879/classes/services/PublicationService.inc.php#L300) who is posting the preprint.

However, it is common for preprints to be posted by moderators, so the email is not sent

[2021-07-08 23:20] diegoabadan commented on #5727
Thank you @alec

I created the #7176 adapting the report of the problem discovered by @JhonathanLepidus

[2021-07-09 11:51] heike-r commented on #6432
Hi all,
we ran into the same problem after upgrading OJS from 3.2.1-4 to 3.3.0.6.
It happened in a multi-journal installation to the journals with German as primary language and English as second one. Most Email templates are in German, but some are now in Arabic and some in Czech. All journals in this installation have either English or German as primary or secondary language choice. None have Ar

[2021-07-09 12:22] marcbria commented on #6807
Ok. If no 3.2 will be released, don't make any sense the effort.
Feel free to close Alec. Thanks.

[2021-07-09 12:33] heike-r commented on #6432
How can I fix this issue? I checked the emails.po file for German locale on our server and the affected email templates seen to lack a German translation. However, this file is "PO-Revision-Date: 2020-12-15 09:06+0000\n" If I replace it with a newer version, which includes the respective translations, would this fix the issue? Can I replace it with a downloaded .po file from weblate or are there a

[2021-07-09 13:41] heike-r commented on #6432
It gets more strange the deeper I dig. The same upgrade in the test system a few days prior to the production system upgrade had some untranslated email templates in the German journals as well, but they all fell back to English (the second enabled language) except one that now has a French description and no text or subject (none of our journals has French enabled)?!

[2021-07-09 13:53] OGouda commented on #6991
Hi,
I had the same exact problem until recently I noticed there are some duplication in the Reviewer Report. I traced the problem to the `user_settings` table in the database. I found around 10,000 duplicated entries there. The settings were there once with the `assoc_type` and `assoc_id` have the value 0, while the old/not updated settings have them as null.

To solve this problem I have done the

[2021-07-09 14:25] luizbgomide commented on #6991
@OGouda I have another issue somewhat related to that too #7146 and refactored into #7167. But I suspect your query could be deleting more information that you actually want too. Just checking for `assoc_id = 0` is enough to insure that the `NULL` are overwritten?

[2021-07-09 15:09] OGouda commented on #6991
@luizbgomide We have a small database of around 2800 users. I went through them before executing the queries. The only difference between the old and new duplicates were the `assoc_id` and `assoc_type`  from `null` becoming 0. if you want to add another condition like `AND assoc_type = 0` but from what I have observed both are always 0 or `null`.

and for step 3, I am aware of `assoc_type = 256` r

[2021-07-09 15:45] asmecher commented on #6807
Gotcha, thanks, @marcbria!

[2021-07-09 17:43] ewhanson commented on #6724
Hi @asmecher,

Wanted to pass along the work I've gotten implemented on this front. Could you have a look? Thanks!

PRs:
#7178 - `main`
#7179 - `stable_3_3_0`

[2021-07-11 20:43] mkrt-oleg commented on #5659
I'm using OJS 3.2.0.2 and this problem still exists.

[2021-07-11 21:48] asmecher commented on #5659
@mkrt-oleg, this has already been fixed in newer releases.

[2021-07-12 08:41] NateWr commented on #7171
There's one more requirement for this, which should maybe be its own issue. We need a way to track jobs that are queued _as a batch_. In some cases we will want to break a single task down into several jobs, such as sending an email to lots of recipients or building a large export file. When we do that, we'll want a way to identify the progress of _this batch of jobs_.

Example:
1. There are 20 jo

[2021-07-12 09:04] NateWr commented on #5955
Thanks for the helpful document, @AhemNason. It looks like downstream consumers can handle this fine. The only hiccup is a publication with no author for Google Scholar. The three use cases you provide for no authors ("Announcement" or "Addendum" or "Errata") probably shouldn't be included as publications in Google Scholar anyway, so I think we're ok there.

[2021-07-12 10:20] NateWr commented on #7165
We should avoid modifying article metadata after it is published.

[2021-07-12 10:32] NateWr commented on #6782
I propose that we don't count daily stats by default, and don't build UI/API endpoints to support it. Here's what I'm thinking:

1. By default, remove institutional stats from the daily table after they are processed into a row in the month table.
2. Add a setting to institutional stats to opt into daily stats in the database. .When this setting is ticked, we simply leave the rows in the daily tab

[2021-07-12 10:35] hcuser12 commented on #7143
@asmecher @defstat
Any news? Is there any chance it will be fixed soon?

[2021-07-12 10:39] hcuser12 commented on #6999
@defstat
Is there any chance it will be soon ready for production?

[2021-07-12 10:41] twakeford commented on #5955
A point on the above is that I would argue that Errata/corrigenda (or Corrections in simple terms) _should_ have an author - they are either the author or the editor/journal formally_ correcting the publication record, so this needs to have clear communication on who is issuing such a notice. Corrections to the publication record are a serious business so the formality and authority of who is issu

[2021-07-12 10:54] NateWr commented on #7138
If it's easy to cherry-pick then I will backport to `stable-3_2_1` after I merge to `stable-3_3_0`.

[2021-07-12 11:11] NateWr commented on #5955
It's probably worth understanding "Errata" better. It seems like maybe there are two types of changes here? One would be a change to a VOR, which should be handled by our versioning system. The other is something like a notice of a change, where editors are publishing information about a change that has been made, separate from the item that was changed?

Am I right in thinking that this is what i

[2021-07-12 11:50] twakeford commented on #5955
Yeah, a new version is generally only for small updates that aren't changing the factual nature of the publication. Essentially something that is too small to change the interpretation or use of the publication.

An Errata is issued when something more factual is corrected. This could be metadata that affects the citation (e.g. an author was missed off the original publication or the title needs t

[2021-07-12 12:36] NateWr commented on #7168
What version of 3.2.1 are you using? It looks like the fix was ported to `stable-3_2_1` in December 2020, so should be fixed in 3.2.1-4.

[2021-07-12 12:38] NateWr commented on #7174
cc @jonasraoni and @asmecher It looks like part of #6539 needs to be back ported for 3.3.

[2021-07-12 12:42] NateWr commented on #7175
I was unable to reproduce this in `stable-3_3_0`. I see the option to filter by moderator.

![filter-moderator](https://user-images.githubusercontent.com/2306629/125289212-e672c900-e316-11eb-91dd-d5a70d28b3d4.png)

I'll close this for now but let me know if you identify reproduction steps.

[2021-07-12 12:42] #7175 closed

[2021-07-12 12:49] alexxxmendonca commented on #7175
I was looking at the "My Queue" tab. I realize now it only appears on the "Active" and"Archive" tabs.

[2021-07-12 14:41] janpieterk opened #7180 "OJS 3.2.1.1: multi-domain, multi-journal installation: issues from journal A can be accessed from the domain of journal B"
OJS 3.2.1.1. Two journals with a custom domain in one installation:

[code]

Let’s say that issue ID 123 belongs to journal abc. This is the correct way to view that issue in the browser:

1. https://customdomain1.tld/view/issue/123

However, the following URL also works:

2. https://customdomain2.tld/view/issue/123

And this shows issue ID 123 as belonging to the wrong journal (def instead of abc

[2021-07-12 17:35] asmecher opened #7181 "Provide OJS/OMP/OPS version number when requesting plugin gallery list"
Currently the Plugin Gallery fetches the entire compatibility set. As the plugin gallery XML grows, this is becoming expensive.

If OJS/OMP/OPS can provide the current version as a query parameter, the PKP server can eventually serve up a different/limited XML document that's trimmed to only what the software needs. This can reduce the price of the plugin list fetch.

[2021-07-12 17:37] asmecher opened #7182 "Make the plugin gallery XML only load when it's needed"
Currently the plugin gallery XML is loaded when the settings area is loaded. This is expensive and usually unnecessary. Make the plugin gallery XML load only happen when it's needed.

[2021-07-12 17:38] asmecher commented on #7182
@NateWr, only assigning to you because it's likely at your fingertips. See also related issue: https://github.com/pkp/pkp-lib/issues/7181

[2021-07-12 17:41] marcbria opened #7183 "googleSearch report a lot of slowpages linking to author's search"
**Describe the bug**
I'm not able to tell you where, but looks like somewhere in OJS 3.2.1 (stable) the application builds a link to the searcher with a reference to the author as follows:
https://revistes.uab.cat/enrahonar/search/authors/view?firstName=Josep&middleName=M%C2%AA&lastName=Quintana%20Cabanas&affiliation=&country=

This search takes tooo long to be resolved and google Search counts th

[2021-07-12 17:52] bozana commented on #6781
Hi all, above all @asmecher and @NateWr, but maybe @ctgraham (above all regarding COUNTER R5 rules) as well :-)
I implemented the major part of the new UsageStatsLoader (the function processFile()), that considers the COUNTER R5. Would it be possible for you to take a look at it, if you would have better ideas, suggestions,...
Here the short summary:
- the old logic is kept:
-- extends FileLoader

[2021-07-12 17:54] bozana commented on #6781
@ctgraham, earlier we had administrative and/or user name logged, but I do not think this was considered in a way for the usage stats numbers and COUNTER. As far as I could see we do not need them now, we do not need to differentiate/consider/remove such access, correct?

[2021-07-12 17:58] bozana commented on #6781
And maybe one more question @ctgraham: I think we do not need unique_title metric type, correct? -- We would/could consider books as submissions in OJS?

[2021-07-12 18:50] asmecher commented on #7183
@marcbria, I don't actually think `search/authors` does appear in the sitemap. It's sort of in a "twilight" state -- it works (except for performance issues), but isn't linked from anywhere in the interface and needs to be rewritten or removed. See the related issue: https://github.com/pkp/pkp-lib/issues/5449

If you're encountering performance problems with it, I'd recommend excluding it using ro

[2021-07-12 20:43] asmecher commented on #6899
@aukondk, thanks, identifying the problem email is helpful. I suspect you're using the Acron plugin to trigger scheduled tasks (rather than a cron job and tools/runScheduledTasks.php). You should be able to resolve it by applying:

https://github.com/pkp/pkp-lib/pull/7184

If you can confirm that this behaves as expected, I can commit it for the next release!

[2021-07-12 20:55] asmecher commented on #7181
PR: https://github.com/pkp/pkp-lib/pull/7185
@withanage, could you review this, please?

[2021-07-13 09:02] NateWr commented on #7180
@asmecher we've got a row for this in our Roadmap ("Refactor URL routing to prevent cross-journal URLs"), but I don't have a good sense of the problem. I've linked to this in our Roadmap now and assigned it to the Multi-tenant project. Would you be able to provide a brief description of the technical challenges here?

[2021-07-13 09:05] NateWr commented on #7181
Can I suggest we make it part of the path instead of a query parameter? So `/ojs/3.2.1-4.xml` instead of `?ojs/3.2.1-4`. That would make it easier to simply serve a compiled file.

[2021-07-13 10:16] marcbria commented on #7183
Thanks Alec.

Two questions about this that are still unanswered:
1. Where were those links created?
2. What are those searches doing?

About 1, I look into the article's page and I didn't found them... do you remember who links here?

About 2, I thought it was supposed to return all the articles' related with the author, but with the example I posted is showing much more than this... like making

[2021-07-13 11:45] elton557 commented on #6724
@asmecher @ewhanson Hi, do I need to run a test?

[2021-07-13 16:07] asmecher commented on #7183
The links haven't been included in OJS 3.x for quite some time (since at least 3.2.0, probably longer), but I think they used to appear in the sidebar as "browse by author" and also as a link on the author's name from the article view. We deprecated it and removed the incoming links in favour of better mechanisms like ORCID years ago, but haven't fully removed that feature.

Those searches are pro

[2021-07-13 16:49] NateWr commented on #6781
Thanks @bozana, I've left some comments on the commit.

I think this is fine for now. Ideally, we would migrate this to use the new FileService and Jobs Queue to handle the staging and processing of files. We would probably benefit from breaking this down into several smaller jobs, but that can be done another time.

Is that really how the COUNTER spec works!? :open_mouth:  So if I view something

[2021-07-13 21:17] wangra8 commented on #7168
Hi Everyone, I'm also confirming that on OJS 3.3.0.6 was have also encountered this bug as well. I checked that the bug fixes from https://github.com/pkp/pkp-lib/issues/6406 were ported over. I'm not sure what's the root of the issue yet.

[2021-07-14 02:37] asmecher opened #7186 "Fix Open Access Notification"
Past releases of OJS supported an open access notification, [sent automatically (through scheduled tasks)](https://github.com/pkp/ojs/blob/main/classes/tasks/OpenAccessNotification.inc.php) and configured when in subscription mode through the `enableOpenAccessNotification` journal setting.

It [checks for a user setting](https://github.com/pkp/ojs/blob/1576f753a87a95198039b82d3bc4fa2e7bf725e6/clas

[2021-07-14 07:51] NateWr commented on #7168
I'm not able to reproduce this on the `stable-3_3_0` branch. So there is likely some combination of configuration or published article dates that is causing this problem. (You've all got published articles with valid publication dates, right?) If anyone can provide reproduction steps on a clean install that would be great.

[2021-07-14 08:45] bozana commented on #6781
Thanks a lot @NateWr!
Yes, we would need to adapt scheduling from Laravel, also the jobs queue, but I agree to do it then, when everything else is done...
Yes, what you say about uniqueness is true, and maybe @ctgraham can confirm?
Actually the uniqueness is connected with/based on one user session, but if such does not exists (e.g. if the user is not logged in), than that way, s. https://www.proj

[2021-07-14 08:48] NateWr commented on #7138
Merged to `stable-3_3_0` and cherry-picked to `stable-3_2_1`, `stable-3_3_1` and `main`.

[2021-07-14 08:48] #7138 closed

[2021-07-14 15:58] Vitaliy-1 opened #7187 "Drag and Drop fails on dependent files"
**Describe the bug**
Original forum post: https://forum.pkp.sfu.ca/t/drag-and-drop-of-dependent-files-of-html-galleys-are-not-working-properly/68793
Attempts to drag and drop dependent files with the file upload wizard fail. Tested on galleys/production-ready files uploads. Note that the issue is relevant only when uploading dependent files altogether with the main document.

**To Reproduce**
Step

[2021-07-14 19:20] alexxxmendonca opened #7188 "[OPS] Display number of current assignments for each Moderator"
**Describe the problem you would like to solve**
As Server Admin, we want to be cautions with the load of work that we give to our moderators. We try to keep assignments as even as possible.

When selecting a moderator, it's not possible to know how many manuscripts each moderator is currenly working on. We have to either a) control that separetely in a spreadsheet or some other way; b) login in a

[2021-07-15 09:46] aukondk commented on #6899
Yes this appears to work. Thanks!

[2021-07-15 10:21] NateWr opened #7189 "Disabling reinstate reviewer email template has no effect"
**Describe the bug**
The `REVIEW_REINSTATE` email template can be disabled from Settings > Workflow > Emails > Email Templates. However, this has no effect. The option to reinstate a reviewer still remains, and the editor can still choose whether or not to send the email when they reinstate the reviewer.

This is the case with other review emails. I have found this to be so with:

- `REVIEW_REQUES

[2021-07-15 10:24] NateWr commented on #7189
Yes, this probably needs a comprehensive review. For example, `REVIEW_REQUEST` can be disabled but not `REVIEW_REQUEST_ATTACHED`.

[2021-07-15 14:35] Vitaliy-1 commented on #7189
`REVIEW_REQUEST` is checked if enabled in `ReviewerForm::execute`, i.e. when the mail is sent. But this doesn't make sense, it should be before form initialization.

[2021-07-15 16:32] asmecher commented on #6899
Thanks! Merged to `stable-3_3_0`, `stable-3_3_1`, and `main`.

[2021-07-15 16:32] #6899 closed

[2021-07-15 18:25] ctgraham commented on #6781
If we had a way to exclude administrative usage counts from COUNTER statistics, we would be responsible to do so.  If we could exclude counting access generated via the Issue Preview, this would be appropriate (but might not be readily done).  In general, just the fact that a user was logged in should not be a consideration for COUNTER.

The unique_title metric shouldn't be relevant for OJS.  Perh

[2021-07-15 19:34] asmecher commented on #6724
These look good, @ewhanson; have you tested them with an example PostgreSQL dataset? If not, I can send you a SQL dump.

[2021-07-15 21:50] ewhanson commented on #6724
@asmecher, no I haven't tested it with a PostgreSQL dataset. It would be great if you could send one.

[2021-07-16 09:25] bozana commented on #6781
I haven't thought much about OMP yet, but: A book/submission can just contain the files or it can contain chapters. So it could be a problem if we would have different Items (per COUNTER definition) within one press -- in the first case the book/submission and in the second chapters -- correct? So my first thought was to simplify all this and say the book/submission is the item, and the chapters w

[2021-07-16 09:30] bozana commented on #6781
Here as well I tended to (over) simplify it and have just considered the hour slices :sweat_smile: So I should consider/log the user session, if there?
I will also see how long do our sessions last...
Somehow I like this COUNTER 'rule' neither -- different systems can have differently lasting sessions... :-P

[2021-07-16 09:44] bozana commented on #6781
Regarding the administrative access:
- we can check if the user is admin or editor or so, but this does not necessarily mean the access is administrative i.e. we maybe should not do that, right?
- the issue preview uses the same function 'view' but we could fire the usage event only when the object is published, ok?

[2021-07-16 12:16] bozana commented on #6895
For the automatic update of the DB-IP city lite database, and eventually for compressing the archived usage stats log files (depending on the settings), we need the gzip function.
Could I add the following line to the config template:
[code]
@asmecher, what do you think?

[2021-07-16 13:02] ctgraham commented on #6781
Agreed, and agreed.

[2021-07-16 13:33] ctgraham commented on #6895
See also: https://github.com/pkp/pkp-lib/issues/5156 for a proposed polyfill.  Might be a better one out there in composer.

[2021-07-16 13:39] bozana commented on #6781
@asmecher, do I see/understand it correctly that our user sessions, depending on the setting in the config file, either never expires (and the session id is not changed) or with the browser session i.e. when the browser is closed?

[2021-07-16 15:47] asmecher commented on #6724
Sent!

[2021-07-16 15:56] asmecher commented on #6781
`SessionManager.inc.php` contains:
[code]
...so by my read, sessions unused for 1 hour become eligible for garbage collection, which is stochastic.

These policies haven't been changed for a long time, and I suspect there are some best practices we could adopt. So I'm open to change on this.

[2021-07-16 21:24] asmecher commented on #7180
@janpieterk, the `base_url` directives in `config.inc.php` instruct OJS in how to generate outgoing links, but it's the `mod_rewrite` side of things (e.g. `.htaccess`) that routes requests into OJS; I think that's the part that needs adjustment here. What `mod_rewrite` / virtual hosting rules are you using?

[2021-07-16 21:31] asmecher commented on #7180
Actually, on closer inspection, this appears to be a duplicate of https://github.com/pkp/pkp-lib/issues/6949.

[2021-07-16 21:31] #7180 closed

[2021-07-18 09:56] jonasraoni opened #7190 "Issues with the NativeImportExportPlugin"
**Describe the bug**
I've had some issues while trying to import a set of XML files into OMP through the CLI interface.

**PRs**
`stable-3_3_0`
- https://github.com/pkp/pkp-lib/pull/7201
- https://github.com/pkp/ojs/pull/3414
- https://github.com/pkp/omp/pull/994
- https://github.com/pkp/ops/pull/287

`main`
- https://github.com/pkp/pkp-lib/pull/7952
- https://github.com/pkp/ojs/pull/3413
- https:

[2021-07-19 08:28] NateWr commented on #7190
@jonasraoni with (1) have you confirmed that it is actually the `file_id` property and not the `submission_file_id`? The distinction was only added in 3.3, and in several places code still refers to `fileId` when it is actually using `submissionFileId`.

[2021-07-19 08:43] jonasraoni commented on #7190
Yeah, I've inspected what was happening and the code ended up updating older submissions instead of the one being imported. My fix solved the problem, but I didn't spend much time inspecting the internals, perhaps the code should be using the submission_file_id instead of the file_id.

[2021-07-19 09:38] NateWr opened #7191 "Improve submission wizard accessibility and usability"
## Description

**Describe the problem you would like to solve**
The submission wizard relies on older forms components that do not meet accessibility requirements. Also, the submission wizard is not as easy to use as it could be, because the steps are not clearly explained and the wizard-like UI looks more like tabs than a step-by-step process.

**Describe the solution you'd like**
Rebuild the su

[2021-07-19 09:44] bozana commented on #6781
That sounds good to me -- I am just trying to figure our if we can rely on our session ID for usage stats...
For some reason I am always logged in (with the same session ID), also after 1 hour (and setting 0 in the config and deactivating 'remember me') of not using the site... Do the other experience the same?

[2021-07-19 10:41] bozana commented on #6781
Hmmm... It seems that using those two settings is not reliable and we should implement the session timeout by ourselves, s. https://stackoverflow.com/questions/520237/how-do-i-expire-a-php-session-after-30-minutes.

[2021-07-19 10:45] bozana commented on #6781
But, even then, if we implement to expire the user session after 30 minutes or 1 hour of inactivity:
For COUNTER usage stats:
If a logged-in user uses the journal site for the whole day, it would mean only 1 unique access, differently to the other counts when users are not logged-in and we use the 24 day slices.
Somehow I tend to always use those 24 slices for usage stats...
@ctgraham and @NateWr,

[2021-07-19 12:58] bozana commented on #6781
Thanks to suggestion from @NateWr I moved the double click and unique item processing i.e. removal to the database, doing in with the SQL -- all log entries will be inserted into the temporary tables and then the removal of double and unique clicks done there, s.
https://github.com/bozana/pkp-lib/blob/6782/classes/statistics/UsageStatsTotalTemporaryRecordDAO.inc.php#L95
and
https://github.com/boza

[2021-07-19 15:40] asmecher commented on #7191
For the ORCID invite, I envision a "ghost" entry that lists unconfirmed invitees along with conventionally entered authors. Otherwise users will probably try an ORCID invite, see no immediate effect, then enter the record manually, leading to a duplicate.

[2021-07-19 15:55] NateWr commented on #7191
:+1: This part will need a lot of fleshing out. I don't plan to do it for 3.4, but I envision it working alongside a confirmation workflow for authors that includes ORCID authentication and CRediT assignment. Broadly speaking:

1. Submitting only author enters email or ORCID for each author during submission.
2. Each author is emailed to notify them of the submission. They are asked to click a lin

[2021-07-19 16:15] asmecher commented on #7191
Sounds great, though I do think we'd need to check with the user community in some form before dropping support for submitting authors just filling in what they want, since that's the long-standing habit. I can ping the TC as a community proxy when we're ready to start thinking about that. And I think we should integrate the ORCID profile plugin into the core codebase before doing the ORCID aspect

[2021-07-19 16:18] alexxxmendonca commented on #7191
We should be mindful that as best practice, ORCID no longer recommends free-text input of ORCID IDs.

Adding the email should be enough and ideally the system would automatically send an e-mail to that address requesting the ORCID association.

[2021-07-19 16:55] NateWr commented on #6578
@asmecher it looks like we bumped TinyMCE to 5.x in the composer but not the UI library. This updates the UI Library dependencies, fixes a cypress dependency incompatibility with the file upload plugin, and updates our UI component to reflect changes in 5.x.

Once I get this passing in OJS I'll prepare PRs for OMP/OPS.

PRs:
https://github.com/pkp/ui-library/pull/164
https://github.com/pkp/pkp-lib

[2021-07-19 16:58] asmecher commented on #6578
Whoops, thanks for catching that, @NateWr. I don't think this is a major one for us.

[2021-07-19 17:29] asmecher commented on #6724
Meanwhile, @elton557, if you're able to run a test with the PR linked above (https://github.com/pkp/pkp-lib/issues/6724#issuecomment-877351802), that would be helpful!

[2021-07-19 20:27] asmecher commented on #6781
@bozana, I think it should be possible to formulate a query that works for both MySQL and PostgreSQL using DELETE FROM xxx WHERE yyy IN (subquery) -- but you'd need to test it against both to be sure, as I remember seeing complaints about self-joins but don't recall the conditions. I have some PostgreSQL test datasets from various versions, and could either send you those, or test potential querie

[2021-07-19 20:34] asmecher commented on #6895
We are trying to gradually remove calls to `exec`, as many shared hosts disable them; see https://github.com/pkp/pkp-lib/issues/6077, which most recently replaces `tar` calls for plugin installation in favour of PharData. (This hasn't been deployed yet -- I don't doubt it'll cause problems for some hosts since the variety is so huge, but it'll be a net benefit, I'm hoping.)

I think built-in gzip

[2021-07-20 06:51] aguen commented on #7191
Hi Nate, thank you for working on this! I like the "Save for Later" option (including email with a resume link), also the "Final Review" page (including legal terms).

One question on the "For the Editors" page: Will this page be configurable, meaning that journal managers are able to choose which metadata fields are presented to submitting authors and which not? In addition, a possibility to add

[2021-07-20 08:31] NateWr commented on #6895
A warning on flysystem-gzip-adapter: it looks like there was only ever a 0.1 release and it hasn't been touched in 2-3 years. Looks dead to me: https://github.com/emmetog/flysystem-gzip-adapter

[2021-07-20 08:36] NateWr commented on #7191
This would kick off an authentication process, so it shouldn't be subject to the problems of unauthenticated or inaccurate ORCID IDs.

The same metadata configuration options will exist. So things like keywords, subjects, references, etc can be included or not included in the submission wizard. We don't plan to support custom fields in the next major version (3.4), but it should be easier to add s

[2021-07-20 09:46] bozana commented on #6781
@ctgraham, just to be sure: do you think we should consider user session when possible or use only 24 slices?

[2021-07-20 10:17] NateWr commented on #6578
Merged to `main` for all three apps.

[2021-07-20 10:17] #6578 closed

[2021-07-20 10:57] bozana commented on #6895
Hmmm... Because I now only need to just compress and decompress gz files I could just replace the current functions in the FileManager to use gzopen instead of exec?

[2021-07-20 12:07] bozana commented on #6895
@asmecher, do you think this is OK so: https://github.com/bozana/pkp-lib/commit/e29a25c036d8946c95d482cb06d014aa0d91ee85 ?

[2021-07-20 12:32] bozana commented on #6781
If we decide to use the session ID when possible, shall it expire after 1 hour of inactivity, or 1/2 hour?

[2021-07-20 12:34] bozana commented on #6781
@asmecher, would this code be OK for the session expiration: https://github.com/bozana/pkp-lib/commit/e16bbfa545703137f322c917886e33baf4a035dc, as said above?

[2021-07-20 13:02] NateWr commented on #6781
^ This is a question with broader UX implications. I will defer to Alec on the security side, but I do think from a UX perspective it's becoming more and more common to leave the user logged in for longer. If a user has logged in, we don't want to force them to log in again if we can help it, even if they haven't logged in in a few days.

[2021-07-20 13:59] ctgraham commented on #6781
I read the COUNTER specification as considering user sessions to be relatively short lived (that is minutes rather than days), so I think slicing the day by hour is appropriate, even though it introduced edge cases.  I am basing this on:

[COPr5 Processing 7.3](https://www.projectcounter.org/code-of-practice-five-sections/7-processing-rules-underlying-counter-reporting-data/)

[2021-07-20 14:54] asmecher commented on #6895
@bozana, I haven't tested it, but yes, that looks fine. It's missing some error handling on e.g. the write.

@NateWr, the Flysystem gzip wrapper is so trivial that I'm not surprised it hasn't been updated in a while. But yes, noted.

[2021-07-20 16:27] jnugent opened #7193 "HTML galley indexing can't be disabled"
**Describe the bug**
In OJS' config file, there are applications that can be mapped to mime types for search indexing.  These can be commented out if you want to disable indexing for PDF, for example.  However, HTML galleys cannot be disabled.  On journals with very large search index tables, this means that the second step when uploading a galley can take a long time, and it also seems that the i

[2021-07-20 17:20] asmecher commented on #7193
@jnugent, the slow indexing problem will be solved with https://github.com/pkp/pkp-lib/issues/4622 (for release in 3.4).

I'm not sure what would have caused the duplicate entry problem, but it looks to me like a combination of the HTML not being encoded as expected by OJS (maybe not UTF-8?) in combination with a collation problem. Simplified, the keyword indexing stuff works like this:
[code]
If

[2021-07-20 17:33] jnugent commented on #7193
Hi @asmecher thanks for the note re 3.4!

This database is entirely UTF8, and uses the `utf8_general_ci` collation for everything.  The file in question is also utf8:

[code]

The installation itself has been around for a long time, and has 4300 submissions and 14 thousand submission files.  This problem also cropped up after the upgrade when I attempted to rebuild the search index.  The index cle

[2021-07-20 17:46] asmecher commented on #7193
There have only been syntactical changes to that code since `stable-3_2_0`, so I'm not sure what would be causing that (and I would also have expected to get other reports by now); could you dig a little further into what's happening during the keyword lookup? See `SubmissionSearchDAO::insertKeyword`.

[2021-07-20 17:51] ronste opened #7194 "ImportExportPlugins do not export PubIds via ScheduledTaskTool"
**Describe the bug**
When metadata is exported via the ScheduledTaskTool the pubIds are missing. They do appear though when exported from the backend.
I was able to reproduce this for the DNBExportPlugin and the DOAJExportPlugin.

The DOIs are queried via ["$doi = $pubObject->getStoredPubId('doi');"](https://github.com/pkp/ojs/blob/465b1a0044f1c8bc24217bc5e14c2f604f65f109/plugins/importexport/doaj

[2021-07-20 18:03] jnugent commented on #7193
I will do that and report back.  Coming back to the title of the issue, though, it'd be nice to be able to disable file indexing completely.  In this particular case the search index ends up getting filled with weird nonsensical strings based on partially truncated math formulae and we end up with a search index table with 7 million records.  The articles have great submission metadata so the file

[2021-07-20 23:17] ewhanson commented on #7129
Hey @asmecher and @NateWr, I've put together a set of draft PRs for review on everything Issue EntityDAO related. I have a few specific questions remaining and I've added these as comments within the code in each PR. I don't think there should be anything for OMP or OPS as the Issue work was specific to OJS, but let me know if there's anything that would need updating there as well. Thanks!

PRs:

[2021-07-21 08:05] bozana commented on #6781
Yes, all fine with me :-)
The settings we have:
[code]
would do it too but not reliable.
So the solution above would do it reliable, when the user is inactive for an hour, and only if the 'remember me' option is not selected (which it is per default).

[2021-07-21 08:07] bozana commented on #6781
The comment above is on the Nate's last comment :-)
And else, I would agree with you @ctgraham.
@NateWr, is it also OK for you to then only use the 24 day slices for usage stats?

[2021-07-21 08:34] NateWr commented on #6781
Sure! Let's keep it simple.

On Wed, 21 Jul 2021, 09:07 bozana, ***@***.***> wrote:

[2021-07-21 10:04] NateWr commented on #7194
It sounds like the `pubId` plugin category is not being loaded during a scheduled task. The plugins are loaded in the `Dispatcher`:

https://github.com/pkp/pkp-lib/blob/main/classes/core/Dispatcher.inc.php#L157

[2021-07-21 10:23] ronste commented on #7194
I also played around with loading the plugin category myself but it didn't work either. I always ended up with a missing context or missing request in case I provided the context.

[2021-07-21 11:52] nuest commented on #6895
I was looking around for geocoding libraries in PHP and recalled this issue when I saw the Geocoder PHP also supports several IP location providers, see https://geocoder-php.org/docs/

Maybe it's useful to have that abstraction layer and support multiple providers?

[2021-07-21 15:01] carzamora commented on #7150
Hi @asmecher, I think I have info about this issue! A long time ago I see an issue like that, but I attribute this to a database issue. I think the problem was resolved, at least I never see this again (last time maybe 2019), the issue generates discussion like the image (empty discussion), some times the discussion is assigned to the user who initiates session just after the database issue (but I

[2021-07-21 16:04] Vitaliy-1 opened #7196 "Fatal error on adding a discussion on a review stage"
**Describe the bug**
Trying to initiate a discussion while submission is on a review stage leads to a fatal error:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Make a submission and pass it to the review stage
2. Click on `add discussion` button near `Review Discussions`
3. See error

**What application are you using?**
 OJS current main branch

**Additional information**
![add_disc

[2021-07-21 20:23] asmecher commented on #6781
(Late to the dance, but I agree -- we'd probably receive pushback if we enforced more rapid expiry of idle sessions!)

[2021-07-22 00:13] asmecher commented on #7150
@carzamora, are you able to reproduce the issue repeatably? There's a PR above that may correct the problem, but I'm hesitant to commit it unless I have some more information about the problem or confirmation that this fixes it.

[2021-07-22 03:10] carzamora commented on #7150
@asmecher, I already found the way a message like the one I describe above can be generated. But I have not been able to check the user change, as described in the forum, nor find an example.
Here is a video (not listed): https://youtu.be/FUn9prif7lg

[2021-07-22 09:08] NateWr opened #7197 "Total count of API results incorrect"
**Describe the bug**
When the `/submissions` API endpoint returns the `itemsMax`, the `count` and `offset` restrictions are not being removed. That means the `itemsMax` will not show the true count of all possible items (for pagination).

This effects all three entities that have been converted to use a `Collector`: submissions, publications and announcements.

**What application are you using?**

[2021-07-22 09:13] NateWr commented on #7197
This was fixed by adding a method, `unlimited()`, to each `Collector` that removes the `count` and `offset` restrictions.

PR:
https://github.com/pkp/pkp-lib/pull/7198

Tests:
https://github.com/pkp/ojs/pull/3163

@asmecher can I ask you to take a look at the `getCount()` method for the Submission and Announcement DAOs? Laravel's `count()` method was not working as I expected on the query. It woul

[2021-07-22 10:05] NateWr commented on #7197
Merged to `main`.

[2021-07-22 10:05] #7197 closed

[2021-07-22 10:06] bozana commented on #6781
OK, I will not change anything in the session management and will use only 24 day slices for usage stats... Thanks all!

[2021-07-22 11:48] nuest opened #7199 "Add all installed plugins and their versions to System Information page"
**Describe the problem you would like to solve**

We develop a plugin in cooperation with a number of journals across several OJS installations. We want to make sure that we support all required version and have no conflicts with any other plugins. For this we need a comprehensive overview of the installation.

**Describe the solution you'd like**

Extend the System Information page in the adminis

[2021-07-22 12:17] ronste commented on #7194
I looked a little deeper into the issue. I don't think its got to do with the dispatcher. Its not called from the ScheduledTaskTools as far as I can tell.

By comparison to OJS 3.1.2-4 (where pubId export works) I figured the class/function responsible for fetching the data changed from

PublishedArticleDAO::getExportable in OJS 3.1.2-4

to

PKPSubmissionDAO::getExportable in OJS > 3.2

The SQL-qu

[2021-07-22 12:32] ronste commented on #7194
I looked a little deeper into the issue. I don't think its got to do with the dispatcher. Its not called from the ScheduledTaskTools as far as I can tell.

By comparison to OJS 3.1.2-4 (where pubId export works) I figured the class/function responsible for fetching the data changed from

PublishedArticleDAO::getExportable in OJS 3.1.2-4

to

PKPSubmissionDAO::getExportable in OJS > 3.2

The SQL-qu

[2021-07-22 16:21] asmecher commented on #7197
@NateWr, the counting problem is an SQL one, not a Laravel one. The query you're writing is doing this roughly:
[code]
The `COUNT` aggregate function and `GROUP BY` will interact in ways you don't want and can't change.

What you're looking for (and what ADODB used to do) is this:
[code]
However, neither of those is very efficient because of the combinatorial explosion of the query followed by the

[2021-07-22 16:38] asmecher commented on #7199
Yes, I'd support adding this to the system -- please go for it!

[2021-07-22 18:44] asmecher commented on #7190
@jonasraoni, I'm assigning this to @defstat for a look, but if any of these items have already been fixed through your own exploration, could you open a PR for his review?

[2021-07-22 20:35] ctgraham opened #7200 "Product name change of plugin: swordserver/swordServer"
**Describe the bug**
In February the product name for the plugin "swordserver" was changed to "swordServer".  The packages in the [Plugin Gallery's `plugins.xml`](https://github.com/pkp/plugin-gallery/blob/f0a1aca7795cf6b0edf3bcc67c5a03f20c047b7d/plugins.xml#L4693-L4725) reference [0.0.0.1](https://github.com/pkp/swordServer/blob/48a7f3115247de2b967e29f8dfce8494f398813e/version.xml#L14) and [1.0.0

[2021-07-22 20:47] asmecher commented on #7200
The repo has always been called "swordServer" (https://github.com/pkp/swordServer) and the plugin build script packages the `.tar.gz` accordingly. We tend to use lowerCamelCase for repo names. The `version.xml` part of this was the only piece of this that was out of sync.

I don't believe the plugin was installable using the plugin gallery or "upload a plugin" tools while this mismatch was in plac

[2021-07-22 20:50] ctgraham commented on #7200
I tried to deploy the plugin from the CLI based on the Plugin Gallery's `plugins.xml` and failed.  Is the resolution to promote the pre-release entries as releases and replace the plugin gallery entries with those?

[2021-07-22 20:57] asmecher commented on #7200
Yes -- but I was waiting on some third-party test results before doing that. See https://forum.pkp.sfu.ca/t/sword-setup-for-deposits-from-ops-to-ojs/65485/9. If you're able to give these a try, I would be very happy to promote them in the plugin gallery!

[2021-07-23 06:50] jonasraoni commented on #7190
@asmecher Some of the fixes I've added are ok to be merged already, but others will require a better investigation to avoid fixing symptoms instead of causes. Anyway, I can create a draft PR to discuss :)

[2021-07-23 07:28] jonasraoni commented on #7190
Also, it would be great to have extra validations. For example an invalid ID at the `monograph->current_publication_id`, allows the process to continue, everything seems to work fine, but in the end, the submission isn't accessible because it's linked against a publication ID that doesn't exist ([#6093](https://github.com/pkp/pkp-lib/issues/6093) will address this somehow).

As it must be happenin

[2021-07-23 09:10] janpieterk commented on #7163
OJS 3.3.0.7 has the same problem, updated the issue to reflect this.

[2021-07-24 18:06] jonasraoni commented on #7190
I've created these PRs against `stable-3_3_0` to handle the issues I've mentioned before:
OMP: https://github.com/pkp/omp/pull/994
PKP-LIB: https://github.com/pkp/pkp-lib/pull/7201

Let me know if I should attempt to decrease the memory usage: I think the easiest way would be to rewrite the `.xml` file with a SAX parser and replace the base64 encoded content by a <href> element pointing to a tempo

[2021-07-26 09:29] NateWr commented on #7194
Thanks for digging into this @ronste. I'm not very familiar with that code, but it should be used by other ImportExportPlugins like the Crossref one. I'll see if we can get someone to look into this further and see what's happening.

In the meantime, can you provide some reproduction steps? This would be step-by-step instructions on setting up the DAOJPlugin, adding a DOI, exporting a submission,

[2021-07-26 10:33] NateWr opened #7202 "Allow Collector methods to accept null values"
Collector methods like `limit()`, `offset()` and `filterByContextIds()` should accept a `null` value so that existing parameters can be cleared. This permits a collector to be reused, for example to get a total count of possible items.

[code]

Example of type hinting and `null` checking in the `Collector`:

[code]

[2021-07-26 10:37] NateWr commented on #7202
PRs:
https://github.com/pkp/pkp-lib/pull/7203
https://github.com/pkp/ojs/pull/3165

[2021-07-26 12:19] NateWr commented on #7202
Merged to `main`.

[2021-07-26 12:19] #7202 closed

[2021-07-26 14:14] librariam commented on #4540
+1 from PKP|PS. A journal on 3.3 is looking to clear a significant (25+) number of incomplete submissions done by authors. Logging in as an author for each is rather time-consuming.

[2021-07-26 14:39] ronste commented on #7194
Dear @NateWr ,

these are the steps to reproduce the issue:

1) Enable the DOI-Plugin
2) Go to plugin settings:
      - enable articles and galleys
      - provide DOI prefix
      - otherwise use defaults and save
3) Create a submission with appropriate test data including DOIs
4) Go to DOAJ-Plugin
    - type in a dummy DOAJ API Key (the issue arises before the connection to DOAJ is made)
    - e

[2021-07-26 16:44] elton557 commented on #6724
@asmecher @ewhanson  Hi, this error returned:

PHP Warning: Use of undefined constant PKP_STRICT_MODE - assume 'PKP_STRICT_MODE' (this will throw an error in a future version of PHP) in /var/www/submission_scielo_br/htdocs/lib/pkp/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc. php online 681
[migration: PKPv3_3_0UpgradeMigration]
PHP Fatal error: Uncaught Error: Class 'PKPv3_3_0UpgradeMi

[2021-07-26 16:49] sarontt commented on #6986
It looks like that didn't fix it completely.

We also removed the call to htmlspecialchars on the next line regarding {'container-title'} and that seemed to resolve it.  I am not sure what all the repercussions that may have though.  I also tested the other characters (", ', < and >) which that function performs translations on and those characters displayed correctly without the call to htmlspeci

[2021-07-26 16:54] asmecher commented on #6986
@sarontt, thanks, that proposed additional fix is correct. Could you open a pull request for it? (If not, I can take care of it.)

[2021-07-26 18:05] asmecher commented on #6986
Thanks, @sarontt! I'll cherry-pick that around to the appropriate branches.

[2021-07-26 19:20] ctgraham opened #7204 "Enable access to the Plugin Gallery via CLI"
**Describe the problem you would like to solve**
Administrators need to be able to interact with the Plugin Gallery via CLI.

**Describe the solution you'd like**
Extract the Plugin Gallery functions into Services/API architecture, independent from the handlers, and expose Services/API to the CLI.  (long term)

Mirror some functionality via dedicated script (short term).

**Who is asking for this

[2021-07-26 19:26] asmecher commented on #6724
@elton557, did you maybe add some code from the `main` branch? That won't be compatible with your 3.3.x installation.

[2021-07-26 23:30] elton557 commented on #6724
@asmecher hi, i adjusted with stable, but my upgrade is failing in this part: PHP Recoverable fatal error: Object of class stdClass could not be converted to string in /var/www/submission_scielo_br/htdocs/lib/pkp/lib/vendor/doctrine/ dbal/lib/Doctrine/DBAL/Driver/PDOStatement.php on line 67

[2021-07-27 09:54] bozana commented on #6782
Hi @asmecher and @jonasraoni, I would have a DB question:
We have two temporary DB tables where we first store the usage event entries from the log file and where the double and unique clicks are processed. Then the data from these temporary tables will be loaded into the original/right ones (https://github.com/pkp/pkp-lib/issues/6782#issuecomment-858501289).
The log entries and thus the temporary

[2021-07-27 10:05] NateWr commented on #7204
:+1: This sounds great, @ctgraham. Depending on what version you are targeting, you'll either use a Service class (3.3 or below) or our new `Repository` pattern (3.4 or above). If you did the work for a Service class, I think we could commit to forward-porting the code to the `Repository` pattern introduced in 3.4 -- however, beware that this might delay the final merge since we may not have the r

[2021-07-27 10:28] bozana commented on #6782
@asmecher, also just to double check: although we do not need (we will not have) the 'H:i:s' part of the dates i.e. it will always be '00:00:00', in the metrics tables, we should use `DATETIME` and aggregate by month as recommended in the blog you posted here: https://github.com/pkp/pkp-lib/issues/6782#issuecomment-851723729, correct?

[2021-07-27 14:29] asmecher commented on #6724
@elton557, it still seems to me like you're mixing code from different versions of the system. You were working with 3.3.0 code before; to try this new change, continue to use that version but apply [this change](https://github.com/pkp/pkp-lib/pull/7179) to it. (You can get a .diff from github like this: https://github.com/pkp/pkp-lib/pull/7179.diff)

[2021-07-27 16:28] asmecher commented on #7183
See also this similar report: https://forum.pkp.sfu.ca/t/ojs-3-1-0-1-search-authors-interface-dead-code/37354

[2021-07-27 16:36] asmecher commented on #7183
Also on the forum: https://forum.pkp.sfu.ca/t/country-is-shown-on-authors-detail-page-only-3-2-1-3/68951/3

I've also pinged the #general slack channel and will see what they have to add (particularly hosting).

[2021-07-27 16:42] asmecher commented on #6782
If we don't have the time portion of a `DATETIME`, I recommend just using a `DATE` type instead; it's smaller, avoids the ambiguity and can easily be changed back to `DATETIME` later if we need to.

[2021-07-27 16:44] asmecher commented on #6782
@bozana, I've been curious about the JSON functions in the database -- we might eventually want to work with these for object serialization etc. Feel free to experiment with them, but watch out for ...
- Performance problems (they'll likely be very slow relative to "native" columns if you're using them in a `WHERE` clause)
- Base DBMS versions required

Using JSON to store array data in a table co

[2021-07-28 07:54] ajnyga commented on #7183
I actually removed that index when we upgraded to 3.2 because of the slow queries on the page. It seems that search engines hit the author index a lot. I just added 404s to those handlers.

[2021-07-28 11:04] jonasraoni commented on #6782
Hi @bozana, instead of using an array data type, I'd break down the table into more entities to normalize the data, but if that's not feasible ok :)

Getting back to the array data type, the `SET` from MySQL will require you to define all the possible values during the field creation, so besides going with the normalization, I guess you just have JSON and alternative variations (e.g. comma separat

[2021-07-28 12:54] bozana commented on #6782
Thanks a lot @asmecher and @jonasraoni! I was not sure if this specific case would need the strictly normalized data because it is just used temporarily to load the data into the real tables and after that the data is immediately deleted. Hmmm... But regarding our support of different DBMS versions and the fact that there is no other possibility than JSON, maybe normalization of the data would be

[2021-07-28 13:59] bozana commented on #6782
What DBMS versions do we need to consider? In the documentation I see MySQL/MariaDB 4.1+ and PostgreSQL 9.5+. Anything else?
I have not found the MySQL/MariaDB 4.1 documentation, but it seems that the JSON data type and json_contains function (i.e. jsonb and @> in PostgreSQL) that we use is supported in MySQL 5.7+, MariaDB 10.2+, and PostgreSQL 9.5+. Would that be enough?
Concerning normalization:

[2021-07-28 14:18] bozana commented on #6782
@asmecher, OK, I will then use DATE and group/aggregate as in number 4. here: https://weblogs.sqlteam.com/jeffs/2007/09/10/group-by-month-sql/...

[2021-07-28 15:39] marcbria commented on #7183
@ajnyga I would like to do the same: Did you patch ojs or you fixed it at apache level?

I think a 404 is better than a very slow page: I feel like this big list of slowpages (error 500 for google) is starting to impact in our SEO (motomo is showing a high decrease of visit after ojs3 migration).

[2021-07-28 15:57] ajnyga commented on #7183
I just edited SearchHandler.inc.php

[code]
The error log is for checking the amount of hits we are getting to author search.

[2021-07-28 18:48] asmecher commented on #6782
Yes, just MySQL/MariaDB and PostgreSQL need consideration.

MySQL 5.6 is past end-of-life as of February, so bumping to 5.7 is fine with me. (https://en.wikipedia.org/wiki/MySQL#Release_history). PostgreSQL 9.5 is already past end-of-life too. So I think the json functions are safe to adopt.

[2021-07-28 19:35] asmecher commented on #7088
This should be resolved with 2.0.4-2 (https://github.com/pkp/pln/releases/tag/v2_0_4-2) -- awaiting feedback on testing before moving that to the plugin gallery.

[2021-07-28 22:57] bozana commented on #6782
I think I have also figured out how to best normalized the data so I can also test that and try to see the performance in both cases...

[2021-07-29 08:27] NateWr opened #7206 "Add announcer to UI Library for accessible status updates"
**Describe the problem you would like to solve**
Our editorial UI frequently performs actions using XHR requests, which cause information and panels on the screen to change. People using assistive technology need to be alerted when information on the screen changes.

**Describe the solution you'd like**
At the moment we use a combination of `aria-live` regions and `role=alert` elements on the scre

[2021-07-29 17:25] ajnyga commented on #7163
I wonder if https://github.com/pkp/pkp-lib/issues/4595 related?

[2021-07-29 17:29] ajnyga commented on #7163
I only have a setup for subdomains. I solved 4595 by hardcoding the domain to the cookie and it fixed the problem described there.

I actually have not set base_url[index] at all in the config. I remember having problems with that setting back in 3.0 and it has remained empty since then in our case. I only have the individual journal base_url's set.

[2021-07-29 17:36] asmecher commented on #6782
Great! I'm not sure if this is at all helpful, but I just noticed the whereDate / whereMonth / whereDay / whereYear etc. functions in the Laravel query builder: https://laravel.com/docs/7.x/queries

[2021-07-29 19:16] alexxxmendonca opened #7207 "[OPS/OJS] Notify Moderator/Editor when they are unassigned"
**Describe the problem you would like to solve**
When you remove a moderator in OPS or an Editor/Section Editor in OJS after they have been previously assigned to a submission, they don't receive an e-mail notification. This leads to them feeling confused after clicking on the URL and receiving a message from the system that they don't have access to that stage on that submission.

We are having t

[2021-07-29 19:30] alexxxmendonca opened #7208 "[OPS/OJS] Discussion window closing without saving content after clicking outside its area"
**Describe the bug**
The discussion window is closing down without saving its content if the user accidentally clicks outside its area:

![Macedo et al  _ Prevalence of auditory and extra-auditory complaints in physical educators from gyms and_or fitness centers workers _ SciELO Preprints](https://user-images.githubusercontent.com/4059679/127553373-5f31efe7-feee-42c1-afb3-276a8fdd68a2.gif)

This r

[2021-07-30 11:51] solehhasan commented on #7163
I have the same problem; I just upgraded to OJS 3.3.7, because of the error display, I restore backup ojs 3.2.1, but when setting "site-setting" in the administrator section I have to choose two languages, otherwise, it can't be saved

[2021-08-01 16:59] ranaasif commented on #6729
For me this was issue. My most of table were with Engine MyISAM.

I changed submission_files to InnoDB, and then I run upgrade. And I successfully upgraded from 3.2.4 to 3.3.0.7

ALTER TABLE submission_files ENGINE = InnoDB;

[2021-08-02 06:57] defstat opened #7209 "Upgrade script - multiple same use clauses"
**Describe the bug**
When trying `php upgrade.php upgrade` a fatal error occurs.

**What application are you using?**
 OJS main branch

[2021-08-02 07:01] defstat commented on #7209
@NateWr @asmecher

**PR**
[OJS]: pkp/ojs#3166

I also checked OMP and OPS and they seem not to have the same issue

[2021-08-02 07:09] defstat opened #7210 "StaticPages plugin migration fails"
**Describe the bug**
When trying to `php upgrade.php upgrade`, the database migration for StaticPages plugin fails

**What application are you using?**
 OJS main branch

[2021-08-02 07:12] defstat commented on #7210
Had not taken the submodule update - closing

[2021-08-02 07:12] #7210 closed

[2021-08-02 08:50] NateWr commented on #7209
Merged to `main`. Thanks @defstat!

[2021-08-02 08:50] #7209 closed

[2021-08-02 08:59] jonasraoni commented on #7190
I've addressed other issues in the PR:
- Fixed another bug related with linkage, this time between the chapter and the submission file (it was using the `file_id` instead of the `submission_file_id`, so data ended up scrambled)
- Moved locale field from the publication to the submission level
- Added a warning when using an inexistent author ID

[2021-08-02 09:51] emuratova commented on #7152
I changed in the system OJS  the journal path and it's working now. Thank you so much!

[2021-08-02 14:07] bozana commented on #6782
I have implemented the data normalization and roughly tested the execution time needed to load my small amount of test data into the right tables using a) normalized data (+ using then the JOIN) vs. b) JSON. JSON is slightly slower: a) 0,183 vs. b) 0,233 seconds.
To properly test the performance I should have/produce better test data. But because the normalized data (with JOIN) seem to be the bett

[2021-08-02 14:36] jonasraoni commented on #6782
As you've mentioned it's just temporary data, I don't have anything against using JSON... If it makes the code less complex to understand, I think it's great :)

In general, I would opt-in for performance against readability if this time is something that will be added to all requests. But (considering you've added indexes) this time difference doesn't look very conclusive for me, perhaps the JSON

[2021-08-02 16:02] ewhanson commented on #7129
Hey @NateWr and @asmecher, I've gone through and and addressed your feedback. The last major thing to sort out now is how to handle ordering by current issue now that I've refactored that to be part of the journal rather than each individual issue. I left a comment at the specific place in the Issue collector where that had previously been happening. Thanks!

[2021-08-02 17:29] bozana commented on #6782
Hmmm... Regarding readability it is so-so: JSON is maybe slightly more readable (does not need another table), but the query is maybe a little bit 'unusual', and the normalized data brings another table but the query is pretty the 'standard' one...
The performance does play an important role - the query is currently executed as scheduled task once a day, but not with each request.
It could be that

[2021-08-02 17:35] ajnyga commented on #7176
pr of OPS: https://github.com/pkp/ops/pull/168

[2021-08-02 19:39] janiosarmento commented on #4900
I think this issue still exists on 3.3.

<img width="802" alt="1" src="https://user-images.githubusercontent.com/7367281/127914250-db968183-f4c4-40da-a0ca-cbcce0cf876d.png">

<img width="807" alt="2" src="https://user-images.githubusercontent.com/7367281/127914272-c92614b1-d1f1-40b5-869b-f4ef915c41d9.png">

<img width="977" alt="version-history" src="https://user-images.githubusercontent.com/73672

[2021-08-02 20:29] defstat commented on #6850
**PRs**
[pkp-lib]: #7211
[OJS]: https://github.com/pkp/ojs#3167

[2021-08-03 04:40] carzamora opened #7212 "[OJS] title in Citation Style Language plugin change with the UI language"
Hi,

**I think I found a little but important bug:**
When you use two or more languages in the UI and you change between those, the title in the Citation Style Block change with it, and this should not change because the article's main language or main title is just one!

**Other appreciations:**
I saw the source code on an article page and could see that the "citation_title" meta tag did not chan

[2021-08-03 08:16] NateWr commented on #4900
@asmecher maybe this will be fixed by your work on the user entity dao?

[2021-08-03 09:41] NateWr commented on #6850
Thanks @defstat, that looks really good. I've done a code review and left some minor comments. In addition to those, there are a couple more things:

1. It looks like you've removed all references to `Services::get('author')`. You can now remove `PKPAuthorService` as well as remove it from `OJSServiceProvider`.
2. I found a number of references remaining in the code to `AuthorDAO`. Can you do a se

[2021-08-03 09:53] NateWr commented on #7212
I believe that this is intended behaviour. I was able to find a [similar issue related to author names](https://github.com/pkp/pkp-lib/issues/6862) which suggests this is the way it is intended to work. But I also found a feature request to [restrict to the submission's locale](https://github.com/pkp/pkp-lib/issues/3354).

So it seems we have both use cases to support. I'm going to close the other

[2021-08-03 09:54] NateWr commented on #3354
Closing this in favor of https://github.com/pkp/pkp-lib/issues/7212, which is better documented..

[2021-08-03 09:54] #3354 closed

[2021-08-03 14:45] janpieterk commented on #7163
Setting `base_url[index]` was the solution for the "Administration" menu resulting in a 404 when trying to access it from the backend of a journal with a custom domain (note: not a subdomain, a separate domain).

Without `base_url[index]`, "Administration" points to https://customdomain.tld/index/admin, which does not exist. With `base_url[index]`, "Administration" points to the correct URL https:

[2021-08-03 15:23] Hexpee commented on #7152
please which file path did yhu change am also having same problem

[2021-08-03 16:04] ajnyga commented on #7163
Yeah my installation is not helpful here since we only have subdomains and have not tested an upgrade to 3.3. yet

[2021-08-03 19:51] ymuratova commented on #7152
In the OJS system steps -  Administration - Site -  Management - Hosted - Journals - Edit and changed Path * public on the ozh (in my variant)

[2021-08-03 20:00] emuratova commented on #7152
In the OJS system steps - Administration - Site - Management - Hosted - Journals - Edit and changed Path * public on the ozh (in my variant)

[2021-08-04 09:09] vasmedv commented on #5133
After Upgrading FreeBSD to 12.2, Mysql to 8.0.25, Php to 7.4.21, i managed to upgrade ojs from 3.1.1.4 to 3.3.0.7.
And the problem with GTID which was with Mysql 5.7  is disappeared.

[2021-08-04 09:12] vasmedv commented on #4675
After Upgrading FreeBSD to 12.2, Mysql to 8.0.25, Php to 7.4.21, i managed to upgrade OJS from 3.1.1.4 to 3.3.0.7.
(by the way it solved the problem with GTID consistency). And everithing seems working. The only bug i could see for now is when i try to edit old user, there is no Given Name  and Family Name, however it appers in Users & Roles list. The reason i brought out is that in the table 'use

[2021-08-04 13:09] librariam commented on #2676
+1 from PKP|PS

[2021-08-04 13:50] jnugent opened #7213 "No email is sent when creating a new announcement"
**Describe the bug**
If an announcement is created in OJS 3.3, and the check box for sending an email to all registered users is checked, no email is sent.

This appears to be because the API end point for creating an announcement doesn't do anything with the "sendEmail" form parameter.   I've looked through the code and the path seems to be that the `add` method in `PKPAnnouncementHandler`  valid

[2021-08-04 14:28] Vitaliy-1 commented on #7213
Can take Announcement notification next for refactoring, which will fix this.
If I correctly remember such cases with non-editable mails, it was agreed to create an event in the Announcement Repository when an announcement is added and write a listener that sends an email if form data contains send mail option; right, @NateWr?

[2021-08-04 14:31] NateWr commented on #7213
Yes, I think that makes sense. This will be the case whenever the content of the event (announcement title/content) is the same as the body/subject of the email. The same would be true, for example, when a message is sent in a discussion.

[2021-08-04 16:20] dagosalas commented on #7159
Hi @NateWr ,
Do not forget also that, as in my case, the validation of new accounts is done by mail. Then when the new user enters the OJS sends him to edit his profile and puts an arrow on the left side that "returns" him (because originally he was not there) to the edition of the submission.  This causes several empty submissions to be generated.

If the new author is assigned the role of author

[2021-08-04 17:59] ewhanson opened #7214 "OAI resumption token empty after first page of results [OJS 3.3.0]"
**Describe the bug**
When fetching OAI results via the `ListIdentifiers` verb, if there are more results than are shown a resumption token is provided. Currently a resumption token is only created upon loading the first page of records and all subsequent pages will have an empty resumption token.

`PKPOAIDAO->getIdentifiers()` (and `PKPOAIDAO->getRecords()`) do not correctly calculate the total nu

[2021-08-04 18:10] ewhanson commented on #7214
Hi @NateWr and @asmecher,

Could you have a look at these pull requests? As far as I know this issue only affects 3.3 specifically as the way this is handled has been changed for 3.4. Thanks!

PRs:
pkp/ojs#3168
#7215

[2021-08-05 08:44] defstat commented on #6850
Thanks @NateWr

1. `PKPAuthorService` and `PKPAuthorQueryBuilder` removed
2. Removed `AuthorDAO`
Waiting for the tests to finish.

1. Will prepare a PR for ORCID Plugin
1. Will prepare PRs for OMP, OPS

[2021-08-05 08:48] NateWr commented on #7214
I'm going to leave this for @asmecher because I'm not familiar with this code at all.

[2021-08-05 17:23] defstat commented on #6850
@NateWr @withanage I prepared a PR for OrcidProfile plugin

**PR**
[OrcidProfile]: pkp/orcidProfile#185

[2021-08-05 18:24] ctgraham opened #7217 "Default user search does not include username"
**Describe the bug**
Searching for a user by username within the Users management interface does not return matches for known usernames.

**To Reproduce**
Steps to reproduce the behavior:
1. In the testdrive, login, then
2. Select "Users and Roles", then
3. Observe (or create) the username of a user which does not also appear in the name and email, e.g. "sburkitt", then
4. Select "Search"
5. Obser

[2021-08-05 19:33] ctgraham commented on #5780
I've added PRs for the file replacement function, but left the slug unimplemented.

[2021-08-05 19:34] ctgraham commented on #5239
Active work is in #5780.

[2021-08-05 19:34] #5239 closed

[2021-08-08 03:23] carzamora commented on #7212
OK @NateWr, I edited the previous post with the requested information!  Thanks!!

[2021-08-08 11:37] ajnyga commented on #6544
This is a very basic implementation of the issue: https://github.com/pkp/ops/pull/169

1. The current approach allows authors to choose from a predefined list of CC licenses.
2. Currently not a required field, but we could add the same controls for the field like we have for other metadata.
3 and 4 Did not include this, can we have a situation where a server demands copyright?

[2021-08-08 19:09] ajnyga commented on #6685
Running tests: https://github.com/pkp/ops/pull/170

While debugging my code I noticed that both OJS and OPS have a table called `submission_tombstones`. It does not seem to be used anymore? I can not find any code interacting with that table. @asmecher?

[2021-08-09 04:35] ajnyga commented on #6717
There are the Reports tools that allow you to export CSV data. With OJS I usually instruct the editors to use the custom report tool.

[2021-08-09 05:50] ajnyga commented on #6770
The search in OPS is basically the same as you would have in OJS. Have you tried to rebuild the search index? Thinking whether something has gone wrong when that particular preprint was published (and added to the index).

[2021-08-09 09:01] NateWr commented on #6544
Hey @alexxxmendonca, @ajnyga did some work on this, but we still don't know enough about your use cases. Can you provide any answers for the four questions in the original post above?

[2021-08-09 12:15] alexxxmendonca commented on #6717
@ajnyga I don't know if that's necessarily the same.

The "Preprints" statistics page show an overall filtered by the date range you selected. You get exactly what you want.

The "Reports" tool you can't specify a date range and there is no overall sum of accesses. You need to work on a spreadsheet manager in order to get that.

It's doable, but it's a lot harder and not everyone has the skills.

[2021-08-09 12:17] alexxxmendonca commented on #6770
This is an old issue and since then we did several adjustments including rebuilding the search index.

However, for some reason that particular preprint is still not searchable.

[2021-08-09 12:21] ajnyga commented on #6717
You can define a date range in the custom report generator, but it is true that it will not directly show you any total numbers so you need to count them in a spreadsheet app.

I actually discussed this issue (export option in the stats page) with @NateWr back when the new stats page was introduced to OJS, but thanks to Slack's short memory I do not recall what the conclusion was.

[2021-08-09 12:23] NateWr commented on #6717
This is covered (briefly) in https://github.com/pkp/pkp-lib/issues/3366.

[2021-08-09 12:25] NateWr commented on #7217
This may be impacted by work on https://github.com/pkp/pkp-lib/issues/6991. I think the plan is to move searching in the users grid over to the same code as searching in the API, which does search the username.

[2021-08-09 13:14] alexxxmendonca commented on #6544
It's more likely that authors are asked to choose from a list of licenses that match the server's policy.

This can be dealt with at the submission level. The authors should be aware of the server's policy before submitting a manuscript. There is no need to require that again before posting.

I am not sure about this one. It never happened with this even after 1000+ preprints posted.

For this one

[2021-08-09 15:11] Vitaliy-1 commented on #7141
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/7221
OJS: https://github.com/pkp/ojs/pull/3169

[2021-08-09 15:11] Vitaliy-1 commented on #7141
@NateWr, can you take a look?

[2021-08-09 15:34] diegoabadan opened #7222 "Version page omits metadata"
When we register a DOI  of a preprint with Crossref, the link points to the address of the registered version  (ex.: https://preprints.scielo.org/index.php/scielo/preprint/view/2758/version/2914 ) instead of the preprint link typically displayed by OPS https://preprints.scielo.org/index.php/scielo/preprint/view/2758

The problem is that this version-specific page doesn't display the metadata (eg,

[2021-08-09 16:14] asmecher commented on #5133
:+1: Thanks for the follow-up, @vasmedv!

[2021-08-09 16:23] asmecher commented on #5780
PRs:
- https://github.com/pkp/pkp-lib/pull/7218
- https://github.com/pkp/pkp-lib/pull/7219
- https://github.com/pkp/pkp-lib/pull/7220

(@ctgraham, dropping a summary of the relevant PRs into the issue here as above helps us track what needs reviewing/consideration -- especially when we're using PRs across several repos and branches, it's easy for something to get forgotten! Thanks, I'll have a loo

[2021-08-09 20:41] asmecher commented on #6685
@ajnyga, good spotting -- that's dead code. The `data_object_tombstones` table is the working form of the tombstone implementation. If you're working with that code, please feel free to remove it; if not, let me know and I'll take care of it.

[2021-08-09 21:48] asmecher commented on #4900
Yes, it should be -- that whole toolset is being rewritten. I'll assign this to 3.4 and leave it open for a little experimentation/testing to make sure.

[2021-08-09 22:07] asmecher commented on #7214
Very good spotting, @ewhanson; this has already been fixed as part of a rewrite in 3.4, so it'll just be 3.3. I've merged it and it'll come out in the next build.

[2021-08-09 22:08] #7214 closed

[2021-08-09 22:40] asmecher commented on #5780
@ctgraham, have each of these branch ports been tested?

[2021-08-09 22:49] jonasraoni commented on #6328
Follow my considerations for some items after an initial evaluation:

The Laravel function has basically the same arguments and under the hood it gets a "translator" object from the resolver/container, so we could override/extend this key in the container, then the patch wouldn't be needed... Otherwise, I think it's better to just namespace our translation function (and probably also rename it).

[2021-08-09 23:14] asmecher commented on #6328
Thanks, @jonasraoni -- so if I'm following, we can adopt the Laravel `__` function in place of our own, regardless of the translation storage caching mechanism, by either
  - adopting the Laravel translation toolset directly, or
  - providing a `translator` object in the container.

If that's correct, then I propose that we decide: __Let's adopt Laravel's `__` translate function in place of our ow

[2021-08-09 23:15] elton557 commented on #6724
@asmecher Hi, I'm using the ojs version 3.3.0 files, and it's getting this error:

PHP Recoverable fatal error: Object of class stdClass could not be converted to string in /var/www/submission_scielo_br/htdocs/lib/pkp/lib/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOStatement.php on line 67

I've performed several tests and the error always happens and it stops at that point

[2021-08-09 23:21] asmecher commented on #6724
@elton557, can you describe what changes you made to your 3.3.0 installation's code in order to try to resolve the upgrade problem? What patches did you apply, what files did you change?

[2021-08-10 01:27] elton557 commented on #6724
@asmecher n the OJS 3.3.0 file structure, I changed the following file in the directory: cd /var/www/submission_scielo_br/htdocs/lib/pkp/classes/migration/upgrade

PKPv3_3_0UpgradeMigration.inc.php

We downloaded the file https://raw.githubusercontent.com/pkp/pkp-lib/79834d106ceec0042b75aacbcc3fbbf71adba5e9/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php and replaced it.

[2021-08-10 07:54] NateWr commented on #6544
Thanks @alexxxmendonca!

Currently, the list of licenses is not editable. These are the only licenses supported by default: https://github.com/pkp/pkp-lib/blob/main/classes/core/PKPApplication.inc.php#L758-L763. Would that work for you or does the list of valid licenses need to be editable by the preprint server?

@ajnyga is the license editable at all after submission? I think we are going to run

[2021-08-10 08:08] NateWr commented on #7222
@ajnyga do you remember any specific decisions made here? My sense is that the URL deposited to Crossref should be the landing page, without a version, but I think you'll know better than me on this.

[2021-08-10 08:27] NateWr opened #7223 "Improve contributor entry during submission"
**Describe the problem you would like to solve**
It can be slow and tedious to enter contributors when an author is making a submission. The author may not know the details of all authors, resulting in stalled submissions or inaccurate data. Furthermore, most of the information is not required during submission, but only in time for publication.

**Describe the solution you'd like**
During submiss

[2021-08-10 08:28] NateWr commented on #7191
@israelcefrin conducted usability tests on these mockups, with the following recommendations.

* The page title "Make a Submission" should include the current step, such as "Make a Submission: Upload Files".
* When an error appears in the review step, add a link to the message at the top of the screen that will jump down to the first error.
* For each error on the review step, add a link to the st

[2021-08-10 08:37] jonasraoni commented on #6328
I think that's fine, I didn't see problems to adopt it.

I didn't see such optimizations in the Laravel Translator, but AFAICS we can provide a custom FileLoader to it...
Given the locale is something we'll be using and reading from the disk in every request, I think it's better to cache it in a great way.

Last time I checked, the performance of a `var_dump` + `OPcache` was great. I doubt it has

[2021-08-10 08:48] ajnyga commented on #7222
OPS DOI plugin supports versioning according to the Crossref guidelines so the links point to a specific version: https://www.crossref.org/documentation/content-registration/content-types-intro/posted-content-includes-preprints/

We could probably change the code so that the link to the latest version would always be the shorter one `/view/2758` but have to make sure that once new versions are add

[2021-08-10 09:42] NateWr commented on #7222
That's great, thanks @ajnyga. Yeah, so if that's correct (each deposit is for its own version), then we should add the metadata to the version page.

[2021-08-10 10:18] ajnyga commented on #6544
It is editable the same way as in OJS, meaning that there is a text field where you can currently enter any license url.

[2021-08-10 11:52] alexxxmendonca commented on #6544
@NateWr that looks fine.

There is also the option of adding a URL to another license, right?
![image](https://user-images.githubusercontent.com/4059679/128862207-a507a478-e60d-4af2-9324-80bc00b2c7c6.png)

This should cover everything.

[2021-08-10 11:53] ajnyga commented on #6544
Yes, we optionally have that extra selection in the submission form as well. Just thinking that some users might prefer the limited set of options.

[2021-08-10 12:02] CFanselow commented on #7194
@ronste, @NateWr

I had a look at the code.

In https://github.com/pkp/ojs/blob/main/classes/plugins/PubObjectsExportPlugin.inc.php#L564

_registered_ DOIs are returned in the submission object (e.g.  [datacite::registeredDoi] => 10.1234/cl.v1i1.2), but no _unregistered_ DOIs.

But the DOAJ Json Filter tries to get the unregistered DOIs from the submission object with getStoredPubId:

https://gith

[2021-08-10 14:24] NateWr commented on #6544
Great, thanks to both of you. I've merged it in! :tada:

I don't think we'll be able to specify an optional other license URL _during submission_, because it uses the old forms system. But in 3.4 this will be converted over to the new forms so it should be pretty easy to add that in.

[2021-08-10 14:24] #6544 closed

[2021-08-10 14:28] NateWr commented on #6867
This pattern has been adopted and merged for some entities, with other entity conversions filed and in progress. Closing.

[2021-08-10 14:28] #6867 closed

[2021-08-10 16:56] asmecher commented on #6724
@elton557, OK, that's equivalent to applying https://github.com/pkp/pkp-lib/pull/7179. What is the full output of the upgrade process before this error message appears?

[2021-08-10 17:12] asmecher commented on #7194
Thanks for looking into this, @CFanselow! @ronste, can you confirm that this is the behaviour that you're seeing?

[2021-08-10 17:24] asmecher commented on #6328
We could either use Laravel Cache or Stash; both are mature and widely adopted. Both support PSR-6, so swapping one for the other shouldn't be *too* bad for A/B testing. Even though we have (old) proof-of-concept code for Stash, I'm currently leaning further towards Laravel, as we're already using so much more of that toolset and adopting as much as possible of the Laravel translation/loading/cach

[2021-08-10 17:27] Vitaliy-1 commented on #6328
Laravel uses Flysystem's Filesystem to load translations in `Illuminate\Translation\FileLoader`. During Filesystem initialization in `Illuminate\Filesystem\FilesystemManager::createFlysystem`, I see that it uses its caching mechanisms: https://flysystem.thephpleague.com/v1/docs/advanced/caching/.

[2021-08-10 17:37] asmecher commented on #6328
That's filesystem metadata caching, not file contents; we'd be using Laravel Cache or Stash to parse .po (or JSON) localization content only when necessary, and if we continue using .php-based file caches, to allow PHP to opcode compile and cache using those mechanisms.

(I think filesystem metadata caching might be helpful on network filesystems, but I suspect file caches will perform badly there

[2021-08-10 18:39] elton557 commented on #6724
@asmecher  A submission file was expected but not found at journals/83/articles/245629/submission/final/245629-396-1193977-1-6-20210804.docx.
A submission file was expected but not found at journals/225/articles/253068/submission/query/253068-1177-1193980-1-18-20210808.docx.
A submission file was expected but not found at journals/232/articles/249228/submission/review/attachment/249228--1193982-1-

[2021-08-10 18:47] pmangahis opened #7224 "Incomplete submission created by Quicksubmit"
In OJS 3.3.0.7, if a user were to click on the Quicksubmit plugin and navigate away from this without hitting the Cancel button at the bottom of the form, it creates an incomplete submission.

If a user is just clicking on the Quicksubmit plugin as part of their initial exploration, then trying to delete these submissions afterwards does take a lot more effort.

See https://youtu.be/e9XUua-FfSk fo

[2021-08-10 19:09] asmecher commented on #6724
Hi @elton557 -- that appears to be the PHP error log; what about the command line output from running the upgrade script?

[2021-08-10 21:32] ctgraham commented on #5780
The PR for 3.2 has developer and end-user testing.  The others do not.  The port to 3.3 was a clean cherry-pick; the port to `main` was manual re-application across the spaces/tabs conversion.

[2021-08-10 21:57] diegoabadan commented on #7222
Not all preprint servers adopt a DOI per version. Scielo, for example, adopts only one DOI per preprint, which must always point to the current version.

@alexxxmendonca  maybe you wanted to complement or even correct me?

Since these two scenarios are common, it is perhaps important that OPS supports both.

[2021-08-10 22:29] asmecher commented on #5780
Are you able to test the 3.3 and 3.4 (`main`) PRs? The move to 3.3 involved a substantial rewrite of file storage (though I'm not sure library files are as affected), and 3.4 includes a ton of changes around autoloading and DAOs. I'd be happy to guide any adaptation that's needed, but a smoke test to know where they stand now would be really helpful.

[2021-08-10 22:32] asmecher commented on #7176
Thanks, @ajnyga!

[2021-08-10 22:32] #7176 closed

[2021-08-10 22:41] asmecher commented on #7148
@marcbria, if you could privately send me a database dump and files directory (truncated to 0 bytes is fine), I can try to take a look.

[2021-08-11 08:50] ronste commented on #7194
Hi @asmecher

Yes, this is confirmed behaviour.

If triggered via the UI "Register" button you get:
![DOAJ export doi via RegisterButton](https://user-images.githubusercontent.com/54445456/128995590-16eb68c4-d429-4b24-8a66-ea8dad0e42ae.png)

The $publication->_data object contains datacite::RegisteredDoi and pubId::doi. The call to getStoredPubId calls  $this->getData('pub-id::' . $pubIdType) and

[2021-08-11 08:51] NateWr opened #7225 "Review use of {$principalContactSignature} in email templates"
**Describe the problem you would like to solve**
Many default email templates include a variable, `{$principalContactSignature}`. This variable gets the context's `contactName`. This duplicates the `{$contactName}` variable, and isn't very helpful.

**Describe the solution you'd like**
Use of a default or fallback contact signature should be reviewed. There are a couple of options for a default co

[2021-08-11 09:10] NateWr commented on #7224
Unfortunately, this is kind of built into the way that QuickSubmit works. The submission has to be created before the user can upload galleys or assign authors to it. The plugin would need to be completely re-architected to avoid this.

Perhaps the plugin could have an interstitial page, something like a "ready to start?" screen, that would avoid creating a submission when a user unintentionally n

[2021-08-11 09:12] jonasraoni commented on #6328
Just to confirm, the `__()` worked fine, but as we're not bootstrapping Laravel in a standard way, the default `Translator` isn't even being loaded at this moment (I think it's worth to leave it functional, since Laravel extensions might need it, so I'll leave this as a "todo").

Ok! I'll try to give preference to Laravel instead of adding a new package.

[2021-08-11 11:39] alexxxmendonca commented on #7222
@diegoabadan you are right and I don't have anything else to add.

[2021-08-11 12:17] ajnyga commented on #7222
The OPS DOI plugin supports both cases. All depends on the suffix settings. If the suffix containts the version variable, then DOI versioning happens.

However, the Crossref DOI registration plugin presumes that preprint DOIs have versioning according to the Crossref posted content registration guide linked above.

It is simple enough to change how the Crossref plugin works, but I would like to he

[2021-08-11 14:18] ctgraham commented on #5780
I don't yet have a RHEL environment with PHP 7.3 support, so it will be a bit until I can get these tested against 3.3 and 3.4.

[2021-08-11 16:18] pmangahis commented on #7224
It would be good to have a page like that and some explicit instruction to hit cancel on the form to avoid creating incomplete submissions would be helpful!

[2021-08-11 16:21] elenacn commented on #5942
Hello, I have OJS 3.2.1.2
`
-
  major: 3
  minor: 2
  revision: 1
  build: 2
  date_installed: "2020-12-04 16:17:23"
  current: 1
  product_type: "core"
  product: "ojs2"
  product_class_name: ""
  lazy_load: 0
  sitewide: 1
...
`
and the error message is

PHP Fatal error:  Uncaught Error: Call to a member function getData() on null in /lib/pkp/classes/task/ReviewReminder.inc.php:156\nStack trace:

[2021-08-11 16:35] asmecher commented on #5942
@elenacn, could you post your question on https://forum.pkp.sfu.ca? That's the best place to get help.

[2021-08-11 19:33] asmecher commented on #7174
This should be resolved by https://github.com/pkp/pkp-lib/pull/7226, which tests fine locally (without proxy) -- but I'd love confirmation that it resolves the issue in a proxy scenario too.

[2021-08-11 19:33] #7174 closed

[2021-08-11 19:38] asmecher commented on #7181
With apologies for the delay in responding -- is that a strong preference (for a path instead of a query parameter)? I went with a query parameter so that we can add this code without needing any changes whatsoever on the PKP server side until we're ready for them; we can ship this modification now and introduce whatever filtering/generation/etc. we want later. Cron jobs and automated deployment o

[2021-08-11 20:27] elton557 commented on #6724
Hi @asmecher , I sent you a private message on the pkp forum with my upgrade log file

[2021-08-11 21:02] asmecher commented on #6724
@elton557, hmm, unfortunately this is only giving me the specific line of code within the Doctrine library but not a full stack trace, which would allow me to see where in the OJS upgrade code the problem was happening.

Could you try editing `lib/pkp/lib/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOStatement.php` temporarily to change...
[code]
...to...
[code]
(One line is added in the change

[2021-08-12 08:27] NateWr commented on #7181
Ok, that's alright. I just thought that if we do this now, we have to support it forever. A static file seems easier to manage for performance, in case we ever run into that problem.

One suggestion: at the moment you've put the application and version into one query parameter: `?application=ojs/3.2.1.4`. If we imagine that this might be an API we used outside of the app (for example, to show a pu

[2021-08-12 09:16] NateWr opened #7227 "Fix .editorconfig file after code formatting change"
Our `.editorconfig` still specifies tabs (see [here](https://github.com/pkp/ojs/blob/main/.editorconfig)). We should update the `.editorconfig` to support spaces for `.php` and tabs for `.js`, `.vue`, `.json`, and `.less`.

[2021-08-12 09:42] defstat commented on #7227
@NateWr @asmecher

**PRs**
[OJS]: pkp/ojs#3170
[OMP]: pkp/omp#996
[OPS]: pkp/ops#171

[2021-08-12 09:51] NateWr commented on #7227
Thanks @defstat!

[2021-08-12 09:51] #7227 closed

[2021-08-12 15:38] ronste commented on #7194
Dear @asmecher ,

I went another layer deeper into the issue and again compared OJS 3.1.2 with OJS 3.2.

In OJS 3.1.2 the pubIds are loaded via `PublishedArticleDAO::getExportable` which via `SubmissionDAO::_fromRow()` explicitly loads the submission settings (including the pubIds) on top of the prior SQL query as:

`$this->getDataObjectSettings('submission_settings', 'submission_id', $submission-

[2021-08-12 21:26] pmangahis commented on #4947
+1 from PKP|PS client

[2021-08-12 23:20] asmecher commented on #7127
@NateWr, could you give a first look at the two draft PRs?
- https://github.com/pkp/pkp-lib/pull/7170
- https://github.com/pkp/ojs/pull/3164
-
The stuff I'm least confident about is the entity JSON.

[2021-08-13 00:30] elton557 commented on #6724
@asmecher
Hi, here's the new error result:

#6  Illuminate\Database\Connection->delete(delete from `submission_files` where `new_file_id` in (?), Array ([0] => stdClass Object ([new_file_id] => 11),[1] => stdClass Object ([new_file_id] => 41),[2] => stdClass Object ([new_file_id] => 42),[3] => stdClass Object ([new_file_id] => 60),[4] => stdClass Object ([new_file_id] => 61),[5] => stdClass Object

[2021-08-13 01:16] asmecher commented on #6724
Thanks, @elton557, that helps!

@ewhanson, Elton is running into an error message during upgrade:
[code]
This stems from the chunked `delete` call that your PR introduced: https://github.com/pkp/pkp-lib/pull/7179/files#diff-f4951b8d90b205bf60a1111a761b62eb75f598c0c536738da01d027561a33f1cR405

It looks like you've already identified the cause of the problem in the FIXME just above there:
[code]
Cou

[2021-08-13 17:09] ewhanson commented on #6724
Hey @asmecher, thanks for flagging that. I've updated the PRs for both `stable-3_3_0` and `main` to fix it.

[2021-08-13 17:17] asmecher commented on #6724
Thanks, @ewhanson!

@elton557, https://github.com/pkp/pkp-lib/pull/7179 has been updated; the file as of the new changes is available here: https://github.com/pkp/pkp-lib/blob/33f7f1b09d604e291f4279423efe60298c8dc201/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php

Could you try again with this?

[2021-08-13 18:15] pmangahis opened #7228 "OJS 3.3.0.7 No longer sending Submission Notification email to JM or Editors"
**Describe the bug**
In OJS 3.3.0.7, JM and Editors are no longer receiving the Submission notification email they would have in 3.2. JM would like to continue receiving these types of notifications.

Requested in https://forum.pkp.sfu.ca/t/ojs-3-3-new-submission-notification/69028

**To Reproduce**
Steps to reproduce the behavior:
1. Author submits a new manuscript
2. Author receives Submission A

[2021-08-13 20:46] asmecher commented on #7228
@pmangahis, have you been able to replicate this behaviour in 3.3.0-x, or are you relying on user reports?

[2021-08-13 22:04] pmangahis commented on #7228
Hi @asmecher,

I tested this on the PKP 3.3 demo install which has the emails enabled and confirmed that the JM and Editors didn't seem to be getting the emails anymore.

[2021-08-16 00:01] marcbria commented on #7148
Sure, but I'm on vacations right now... till second 6th of sept.

I don't remember the journal that reported this. I fill find it and package the journal then.

[2021-08-16 08:35] NateWr opened #7229 "Refactor QuickSubmit to use new submission wizard"
**Describe the problem you would like to solve**
The QuickSubmit plugin has entirely separate code for creating  a submission and handling a UI for entering information. This increases the maintenance burden and often leads to [bugs](https://github.com/pkp/pkp-lib/issues?q=is%3Aissue+is%3Aopen+quicksubmit) because the code is not as heavily tested as the main submission code.

**Describe the solut

[2021-08-16 08:49] NateWr commented on #7228
I had a look at the code and this is the logic describing who gets an email notification in 3.3.0-7:

1. If there is only one user assigned to a manager or assistant role that is assigned to the submission stage, that user will be automatically assigned and notified. (eg - if there are two or more journal manager, no automatic assignment is made and therefore no notification is sent).
2. If one or

[2021-08-16 08:50] NateWr commented on #7228
I believe the email shown in this issue (screenshot in the original post) is the task-level notification. Editors should be able to opt in or opt out of that under their User Profile > Notifications. @pmangahis can you test to see if you get an email when enabling those settings?

[2021-08-16 09:21] NateWr opened #7230 "Author's internal review stage broken in OMP"
**Describe the bug**
The internal review stage of the author dashboard causes a fatal error in OMP. The error is:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create submission and move to internal review stage.
2. Login as the author and view the submission's internal review stage
4. See error in the log.

**What application are you using?**
OMP 3.3.0-7

**Additional information*

[2021-08-16 09:23] NateWr commented on #7230
PR:
https://github.com/pkp/omp/pull/998

[2021-08-16 13:03] elton557 commented on #6724
Hi Alec, can you tell me if I can get the updated plugin package "authorsHistory"?

I got this error,
<strong>File:</strong> /var/www/submission_scielo_br/htdocs/lib/pkp/classes/cliTool/UpgradeTool.inc.php line 89<br />
<strong>Function:</strong> Installer->execute()<br />
<br/>
<strong>File:</strong> /var/www/submission_scielo_br/htdocs/lib/pkp/classes/cliTool/UpgradeTool.inc.php line 65<br />
<s

[2021-08-16 14:49] ronste commented on #7194
Dear Alec,

I meanwhile got to the bottom of it. This issue is related to:

https://github.com/pkp/pkp-lib/issues/7108

and

https://github.com/pkp/ojs/pull/3151

Its the same story just for the CliTool/ScheduledTask classes used by runScheduledTasks.

That means it can easily be fixed by manually loading the pubIds plugin category. I can do this for the DNB plugin but the issue remains for the DO

[2021-08-16 15:50] NateWr commented on #7230
Merged to `stable-3_3_0` and cherry-picked to `stable-3_3_1` and `main`.

[2021-08-16 15:50] #7230 closed

[2021-08-16 18:12] asmecher commented on #6724
@elton557, that's a Lepidus plugin -- see https://github.com/lepidus/authorsHistory. You'd have to ask them.

[2021-08-16 18:14] alexxxmendonca commented on #6724
@diegoabadan @JhonathanLepidus Hi guys, could you take a look at the error shared by Elton?

[2021-08-16 20:24] asmecher commented on #3617
I believe this work did not move ahead, though it did contribute significantly to the replacement of ADODB with the Illuminate/Database toolset and Migrations, etc. Thanks for all the detail on this, @nibou230, it contributed to some major improvements!

[2021-08-16 20:24] #3617 closed

[2021-08-16 20:33] asmecher commented on #4524
@mfelczak, just a heads-up that this work remains uncommitted pending some testing.

[2021-08-16 20:51] asmecher commented on #6951
The "Allow user self-registration" field is still used in a few places.

The change described in this issue description, where author self-registration was made implicit, was discussed here: https://github.com/pkp/pkp-lib/issues/2297#issuecomment-376839065

Before the change, when author self-registration was enabled, a user first needed to ensure that they opted into an author role before they we

[2021-08-16 21:23] asmecher commented on #6685
Thanks, @ajnyga, I've merged the PR (https://github.com/pkp/ops/pull/170). About the `submission_tombstones` clean-up -- do you have plans to remove that, or shall I?

[2021-08-16 22:20] pmangahis commented on #4900
Kinda related to the above and hopefully, this is going to be addressed in the rewrite, but a client has pointed out that number of users that show up in the results is inconsistent. For some roles, only 2 users would appear and they'd have to click load more multiple times to have the users appear. With a larger editorial team, this would involve a lot of unnecessary clicking.

[2021-08-17 10:28] NateWr commented on #6850
@asmecher I've reviewed the PRs above (https://github.com/pkp/pkp-lib/issues/6850#issuecomment-891312061) and left a few comments. If you get a chance, it would probably be a good idea for you to have a look over it, particularly the database interactions.

[2021-08-17 10:32] NateWr commented on #7222
I'm struggling to understand our options here. @ajnyga can you write a short list of changes that we need to make or discuss requirements with Crosssref? As far as I can tell, there are three issues: whether or not to show metadata on article landing pages, where a DOI should link to when a single DOI is used for all versions, and how to handle DOIs-per-version.

[2021-08-17 12:21] ajnyga commented on #7222
First of all we need to check from Crossref if they do accept single DOIs for all versions of a preprint. Their website states that they do not, but maybe they have a different policy after all.

If we choose to add metadata to all versions then we need to know how for example Google Scholar will handle this. Do they expect metadata for all versions or only for the latest version.

I am inclined t

[2021-08-17 12:26] NateWr opened #7232 "Link to report broken in report plugins"
**Describe the bug**
When viewing a report plugin in the list of plugins, there is a link to the report alongside the settings or delete options. Clicking this link leads to a fatal error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Website > Plugins
2. Open the actions for any of the Report plugins.
3. Click the Report link for that plugin.
4. See error

**What applicat

[2021-08-17 12:29] NateWr commented on #7232
PR:
https://github.com/pkp/pkp-lib/pull/7233

Tests:
https://github.com/pkp/ojs/pull/3171

[2021-08-17 12:35] felixhelix commented on #7199
I would like to see the plugins version informations also on the plugin page: Should I make a seperate feature request for this?

[2021-08-17 13:16] diegoabadan commented on #6724
@elton557, are you upgrading with copied OJS previous version plugins? If so, are they in sync with the base being upgrated?

The simplest thing seems to me to be isolating the problems. That is, remove this plugin (if necessary, the entries about it in the versions table) and try the upgrade.

[2021-08-17 14:45] NateWr commented on #7232
Merged to `stable-3_3_0`, cherry-picked to `stable-3_3_1`, and ported to `main`.

[2021-08-17 14:45] #7232 closed

[2021-08-17 16:53] asmecher commented on #7199
I'd accept a PR either way :) but yes, it would be best to keep them separate, thanks!

[2021-08-17 22:15] rsauls commented on #6938
We are on 3.3.0.5 and had this same issue.   A temporary workaround that an editor found and we tested was to enable all languages on the form column in language settings.   It has to be done for each journal,  but it seems to allow email templates to save and turned red globes green.

[2021-08-18 00:02] asmecher commented on #4900
@pmangahis, if you have a test condition for this, please hang onto it and we'll come back to it for verification before 3.4 is released.

[2021-08-18 00:02] asmecher commented on #4900
[sorry, hit the wrong button there]

[2021-08-18 00:28] asmecher commented on #6850
:+1: Thanks, Nate -- I've had a look over it as well, @defstat. Getting very close.

[2021-08-18 17:50] alexxxmendonca opened #7234 "[OPS] Google Scholar indexing error"
**Describe the bug**
The following Google Scholar alert contains a link to a preprint posted in SciELO Preprints:

![image](https://user-images.githubusercontent.com/4059679/129946994-d6818cac-f5a2-4da4-bdc7-de01fd9fa679.png)

The link is pointing to the following URL: https://preprints.scielo.org/index.php/scielo/preprint/download/2653

When clicked, it gives a 404 Not Found error message.

I thi

[2021-08-18 20:09] mfelczak commented on #4524
Hi @asmecher and @NateWr, sorry I missed your original msg. I don't have a working dev environment at the moment but @ewhanson may be able to confirm. @asmecher, should we test the original commits against `main` at this point?

[2021-08-18 21:58] pmangahis commented on #7228
Tested this again based on your notes on the PKP School 3.3 Install. Even with only 1 JM and 1 Editor and all notifications enabled, neither of these users seemed to get a submission notification.

[2021-08-19 09:37] jonasraoni commented on #6328
@asmecher about the pluralization...

- Laravel uses [`trans_choice`](https://laravel.com/docs/8.x/localization#pluralization) for it, and the `__()` follows a contract (which means I can't change its signature to accept `__(key, quantity, params?, locale?)`). So, we can use `trans_choice` or create another shortcut (`__p()`, `__n()`, ...).
- The gettext parser doesn't offer anything to parse the

[2021-08-19 10:46] Ian-BD commented on #4261
Has there been any progress on this? I have a client who has users with only IPv6 addresses so support for this would be fantastic.

[2021-08-19 14:19] ctgraham opened #7235 "DAO::convertToDB() requires pass by reference for a string?"
**Describe the bug**
https://github.com/pkp/pkp-lib/blob/0f727b565929b04ddcbc0620cfa05f7471635364/classes/db/DAO.inc.php#L382
Why in the name of all that is pointy would we do this?

**To Reproduce**
Steps to reproduce the behavior:
1. Write `$this->convertToDB($value, 'date')` like a sane person.
2. Execute code.
3. Die with `PHP Fatal error:  Uncaught Error: Cannot pass parameter 2 by reference`

[2021-08-19 18:48] asmecher commented on #6328
What about changing the locale file format to store plural forms 1:1 with how they're supported in PO files? That feels like a more natural solution than generating and interpreting PHP.

[2021-08-19 22:19] asmecher commented on #7235
I think we can consider this function deprecated, as our DAO rewrites for 3.4 (https://github.com/pkp/pkp-docs/issues/812) don't use it -- but the purpose of the reference on `$type` was so that the type could be provided back to the calling code when it was automatically detected.

[2021-08-19 23:49] asmecher commented on #7127
Thanks, @NateWr, I've worked through your comments and either fixed or commented. The review really helped to fit some of the last puzzle pieces in place for the intentions of the refactor -- it's looking really good and I'm excited to start rolling out some of the implications elsewhere in the system, e.g. around API and testing. Please let me know how the changes (and comments) look and the next

[2021-08-20 07:46] defstat commented on #6850
@asmecher @NateWr

I addressed the review changes. Tests are passing.

Check this [comment ](https://github.com/pkp/pkp-lib/pull/7211#discussion_r692007278) about the `getAuthors()` function

[2021-08-20 13:15] #7235 closed

[2021-08-20 14:04] israelcefrin opened #7236 "Copyright info not published using quicksubmit plugin"
**Describe the bug**
When editors use the Quicksubmit plugin, the copyright info (author) is not published with the article. It requires to unpublish and publish it again to make the info public. It causes that LICENSE block title sticks to the CC badge.

**To Reproduce**
Steps to reproduce the behavior:
1.  Publish a new submission using Quick Submit Plugin
2. Goes to the article landing page
3.

[2021-08-20 17:23] asmecher commented on #6850
Thanks, @defstat! I've added some more comments on the PR, and responded to the question about `getAuthors()`.

[2021-08-21 02:21] asmecher commented on #7127
(@NateWr, I've adapted the PRs to OMP and OPS -- very minimal changes, but anyway. PRs listed at the head of this issue.)

[2021-08-21 13:57] ajnyga commented on #6685
Is this enough https://github.com/pkp/pkp-lib/pull/7237

[2021-08-22 11:54] jonasraoni commented on #6328
Hmm, I think I didn't understand very well what you said. I just wrote this function to handle complex plural rules (e.g. `"Plural-Forms: nplurals=3; plural=n%10==1 && n%100!=11 ? 0 : n%10>=2 && n%10<= 4 && (n%100<10 || n%100>=20) ? 1 : 2;"`).

Anyway, we can revisit this later when I open the PR.

---

About the cache... I setup the Laravel cache, but in order to use the Laravel stuff without add

[2021-08-23 07:16] jmvezic commented on #6724
I can do some testing of this on a pretty large database soon. @asmecher  What's the latest commit I should be looking at? Is it this one: https://github.com/pkp/pkp-lib/blob/33f7f1b09d604e291f4279423efe60298c8dc201/classes/migration/upgrade/PKPv3_3_0UpgradeMigration.inc.php

[2021-08-23 15:33] asmecher commented on #6724
@jmvezic, yes, that's the most current one at the moment!

[2021-08-23 18:18] librariam opened #7238 "Recommend-only editors can change own assignment privileges"
**Describe the bug**
Normally section editor's privileges can be set to only recommend (not record) a decision, in roles globally and per individual submission. When assigned to a submission, a section editor can edit their own assignment, removing the flag to recommend decision - thus gaining full access to record decision

**To Reproduce**

1. Assign a section editor/guest editor to a submission

[2021-08-23 20:30] asmecher commented on #6328
Are you sure we need to parse `Plural-Forms` at all? The 4.3 php-gettext library [used to parse the rules](https://github.com/php-gettext/Gettext/blob/4.x/src/Translator.php#L213) using `eval` as you proposed, but the 5.x (`master`) branch no longer includes that. Instead, it assumes that plural forms are listed sequentially. I'm not sure where this assumption came from in php-gettext but I'll fil

[2021-08-23 20:40] asmecher commented on #6328
I've filed the apparently missing functionality on the php gettext library here: https://github.com/php-gettext/Gettext/issues/273

The maintainer of that package has typically been quite responsive, so we'll see what they say!

[2021-08-23 21:00] asmecher commented on #6685
That's good -- but I think you'll also need to remove references to `submission_tombstones` from `classes/migration/OPSMigration.inc.php` and `classes/migration/upgrade/v3_4_0/I6759_RenameVariables.inc.php` in the OPS repo. (And equivalent for OJS and OMP -- I'm happy to do any of this you'd rather leave.)

[2021-08-23 21:30] asmecher commented on #2564
Reviewing the field, I think we have several viable options:
1. UTF-8 entities for simple formatting, e.g. chemical formulas and basic polynomial mathematics. https://en.wikipedia.org/wiki/Unicode_subscripts_and_superscripts:

   These can be pasted into TinyMCE (or even plain text fields) and don't require additional support.
2. Basic HTML formatting, in particular to support the use of italics i

[2021-08-23 22:49] pmangahis commented on #1550
+1 for hosted client

[2021-08-23 23:24] asmecher commented on #7194
Hi @ronste & @CFanselow -- thanks for doing the digging here, I haven't had the time to look into it. And @ronste, thanks for identifying the problem and fix; can you open a pull request for it? If so, can take care of the DOAJ plugin.

[2021-08-23 23:30] fgnievinski commented on #2564
ORCID supports Unicode, too, e.g.:

https://orcid.org/0000-0001-7361-1628

"A representative of RΓ(N,T) for higher dimensional twists of ℤpr(1)"

for:

![image](https://user-images.githubusercontent.com/5018500/130530441-af72b994-28e4-4b3b-8dc8-0ec5b599ffd3.png)

maybe the conversion from MathML to Unicode can be done via "AsciiMath":

https://en.wikipedia.org/wiki/AsciiMath
https://github.com/plu

[2021-08-24 05:57] jonasraoni commented on #6328
After taking a look at how weird some languages build their plurals, I'm sure haha 😅

Looks like they've dropped support for their `Translator` class, but yeah, the idea is the same...

Given it's a generic library, I think their version:
- Should be more cautious with the input and limit the charset like I did
- Ensure the input is executable, by properly parsing the expression (perhaps the [`tok

[2021-08-24 12:52] Vitaliy-1 opened #7239 "Sendmail truncates transcoded address field values"
**Describe the bug**
Field values encoded with `imap_8bit` can be truncated if fall under a certain length. Relevant for `From` and `Reply-To` header fields.

**To Reproduce**
The problem appears when sending with integrated Laravel Mail Service through Swift Mailer and Sendmail.
I've tried to reproduce it directly via Sendmail and the result is the same:
1. Pick relatively long Cyrillic full name

[2021-08-24 16:03] asmecher commented on #6328
@jonasraoni, Oscar (the maintainer of that toolset) has confirmed that the Translator class is still available but has hived off to another package: https://github.com/php-gettext/Translator/blob/master/src/Translator.php#L186

We should use that library rather than reinventing the wheel; if you think there are improvements to be made there, I'd suggest filing them as issues.

[2021-08-24 16:42] asmecher commented on #4261
No progress yet, I'm afraid -- subscriptions represent a relatively small portion of our user community, and IPv6 requirements rarer still. Here's what would be required:

- Adapt the [`institutional_subscription_ip` database table schema](https://github.com/pkp/ojs/blob/stable-3_3_0/classes/migration/OJSMigration.inc.php#L284..L293) to support longer IP addresses (for both [mysql/mariadb](https:/

[2021-08-24 17:35] asmecher commented on #7234
@alexxxmendonca, I suspect the PDF galley was deleted (and maybe another one was uploaded later). Deleting the galley will cause the download link to return a `404`, and the view link to redirect back to the landing page.

The recommended workflow is to use the versioning tools to revise a galley, if a revision is wanted. This will cause the old URL to remain active, but with a warning on the user

[2021-08-24 17:41] pmangahis commented on #5299
+ 1 from another hosted press

[2021-08-24 17:45] asmecher commented on #7238
My first reaction was to call this behaviour-as-expected -- section editors are journal insiders and the ability to make recommendations vs. decisions is less about enforcing privileges than accommodating a two-level workflow. But I see in your screenshot that the use case is for a guest editor, who may not be an insider.

Proposed solution: Limit assigned section editors so that they cannot disab

[2021-08-24 17:47] alexxxmendonca commented on #7234
What do you mean here? How can I do that?

[2021-08-24 18:12] librariam commented on #7238
Thank you for considering, @asmecher. The request comes from a journal where a section editor enabled their permission when they were not supposed to and recorded a decision on a submission. This is part communication issue, but part functionality issue as well. And of course guest editors would be a step removed from the core as well.

Would it make sense to just not let assistant editors use the

[2021-08-24 19:47] asmecher commented on #7238
@librariam, that's also a possible solution, but I'm wondering whether it wouldn't be confusing for Section Editors who were automatically assigned. But yes, the more I think about it, the more that would at least be consistent.

[2021-08-24 20:42] asmecher commented on #7234
If you fill in this field when creating a galley...
![image](https://user-images.githubusercontent.com/200411/130687011-5ec9e475-8400-4bb0-a124-768ab73bcc37.png)
...then the URL will use that instead of the numeric ID. Thus if a galley is deleted and re-created, you can still use the same URL slug.

[2021-08-25 00:06] asmecher commented on #7228
@pmangahis, I tested it locally, and the single editor did receive a notification message:
[code]
I suspect the notification email is being sent by the system but getting spam-trapped or something similar.

[2021-08-25 00:20] asmecher commented on #4524
Hmm, no, I think at this point it'll need some redevelopment before it'll test against `main`. Is this still a hosting priority?

[2021-08-25 09:48] ronste commented on #7194
Hi @asmecher ,

I could certainly open a pull request for this one-liner fixing the DOAJ plugin. But I think this would be merely another work-around and wouldn't address the main issue. Most likely this issue would come up in the future again in some other context.

From my point of view the main issue is either that:

a) it doesn't seem to be possible to add data to the schema without a context

[2021-08-25 13:55] mfelczak commented on #4524
Yes, we've continued to receive interest about this from journals with many categories that don't display well in the sidebar as a long list. Would it be helpful to lend a hand with the porting to `main` at this point?

[2021-08-25 23:35] asmecher opened #7240 "Cancelling a discussion sometimes leaves an empty placeholder"
**Describe the bug**
See: https://github.com/pkp/pkp-lib/issues/7150#issuecomment-884260269

Sometimes creating a new discussion can leave a placeholder behind after it is cancelled.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create a discussion
2. Intentionally leave it assigned only to yourself
3. Submit the form to see a validation error
4. Cancel the new discussion
5. Reload

[2021-08-25 23:44] #7240 closed, assigned to asmecher

[2021-08-26 10:57] felixhelix opened #7241 "maintainance mode"
We host a number of journals and are about to upgrade (from OJS 3.1.2.0  to 3.3.0.7).

Our plan is to copy the current OJS installation to a development environment, upgrade, and make the necessary adjustments. Then just switch the URL to the new installation.

The problem is, that in the meantime there may have been some changes in content in one or more of our hosted journals. While we could ask

[2021-08-26 12:50] #7241 closed, assigned to nobody

[2021-08-26 14:00] beghelli opened #7242 "Improve journal admin access"
**Describe the problem you would like to solve**
After a journal is created, the site administrator might want to access the journal management pages. One way they might try doing that is through the hosted journals list (I did that way, since I'm not very familiar with the interface and the hosted journals list is something very easy to find since it is a link with text). The problem is that ther

[2021-08-27 19:03] diegoabadan opened #7243 "Supported Versions / End of Life"
Supported Versions / End-of-life

It would be nice if PKP could maintain a page indicating which versions of their products are supported, similar to what we have for PHP at https://www.php.net/supported-versions.php

The link to information about supported versions could be highlighted on the download and general documentation page.

[2021-08-27 19:20] #7243 closed, assigned to nobody

[2021-08-27 20:46] ctgraham opened #7244 "Password Change form overwrites user input on failed change"
**Describe the bug**
When the user changes their own password, if the form errors (e.g. current password is invalid, new password entries don't match, new password requirements not met) all three password fields are filled with the value of the old password entry.

The expected result would be either to fill the password fields with what was originally present, or to erase the contents of the pass

[2021-08-28 00:52] asmecher commented on #6724
@elton557, that's 8 hours; it may be possible to get it running a little faster but not enough to avoid requiring management of your users during the process. This upgrade is so slow because it has to go through and rearrange every file (checking both filesystem and database). That's an unusual requirement for an upgrade so I would suggest treating this as a special case rather than a thing you'll

[2021-08-28 00:56] asmecher commented on #3263
Interesting, @diegoabadan -- though that's more related to how we write migrations than adding a maintenance mode. I'll consider some of these approaches in coding upgrade scripts in the future.

[2021-08-28 01:04] asmecher commented on #7238
In the case I'm describing, a full Editor would always be able to edit their own assignment, so a third party wouldn't need to intervene. Only section editors would need to request the intervention of a third party, as they should never be able to modify their own assignments. The distinction is based on the role, not the status of the current assignment.

[2021-08-28 01:06] asmecher commented on #6328
Go ahead an modify it; it wasn't necessary to initialize the container before OJS/OMP/OPS was installed in the past, but now it will be for the sake of translations.

[2021-08-28 01:09] asmecher commented on #2564
Yes, I think we can define our very few supported elements (strong, underline, italics) and strip out any other tags using the same approach we use for abstracts etc.

I'll add these to the comment above.

[2021-08-28 01:13] elton557 commented on #6724
@asmecher ok, get me out of a doubt, will i upgrade to version 3.3.0, and then i do another upgrade to the latest version 3.3.0-7?

I can't update to the latest version of OJS 3.3.0-7?

[2021-08-28 01:36] asmecher commented on #6724
@elton557, you should be using the latest 3.3.0-x package -- I would not recommend starting with 3.3.0-0 and then upgrading afterwards to 3.3.0-7. You should go directly to the latest.

[2021-08-28 02:56] diegoabadan commented on #3263
You're right, I was thinking more about how to avoid needing a maintenance mode. :)

Thank you and cheering for an increasingly painless upgrade process.

[2021-08-28 08:49] ronste commented on #6201
Hi @isgrim , @nongenti,

may I ask what is the status of porting Citation Style Language plugin to OMP?

Regards,
Ronald

[2021-08-30 07:38] ronste commented on #7194
Hi @asmecher ,

I created the pull request: https://github.com/pkp/ojs/pull/3173

[2021-08-30 07:38] #7194 closed

[2021-08-30 13:10] diegoabadan commented on #6700
We are porting to OPS, soon we will send the PR.

[2021-08-30 20:26] asmecher commented on #6850
@defstat, it looks good, but there are still a few comments needing to be reviewed -- once they are done, I'm content to have it resolved as is. Thanks!

[2021-08-30 20:57] asmecher commented on #7194
Thanks, @CFanselow and @ronste -- I've merged the PR for `stable-3_2_1`, and forward-ported it to `stable-3_3_0`, `stable-3_3_1`, and `main`. It'll come out in the next release -- OJS 3.3.0-8 -- very soon.

[2021-08-30 21:47] asmecher commented on #7236
@israelcefrin, I was able to replicate this by leaving the "copyright holder" field blank during the Quick Submit form -- but if I fill in that field during the quick submit process, it displays fine. Are you able to replicate it without leaving the copyright holder field blank? If not, I think this is expected behaviour.

[2021-08-31 00:05] asmecher commented on #7129
All merged -- congratulations and thanks, @ewhanson!

[2021-08-31 00:05] #7129 closed

[2021-08-31 14:29] Vitaliy-1 opened #7245 "users.locales incorrect serialization"
**Describe the bug**
In `users` table, `locales` column, values should be serialized as JSON or PHP array depending on a version. But instead, on my test instances, starting from 3.1.1 and till 3.3.0 it's either a single value, or values separated by a colon, e.g.  en_US:uk_UA . New values on the main branch are serialized as JSON.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `user

[2021-08-31 15:32] Vitaliy-1 opened #7246 "Fatal error when register a new user"
**Describe the bug**
A fatal error occurs when trying to register a new user (tested during site-wide registration):
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the registration page and fill out the form
2. Click on the `Register` button
3. See error

**What application are you using?**
 OJS current main branch (3.4)

[2021-08-31 15:33] Vitaliy-1 commented on #7246
@asmecher, I think it's related to a recent PR regarding User Repository

[2021-08-31 15:38] asmecher commented on #7246
@Vitaliy-1, can you double-check that you've got up-to-date checkouts of the `main` branch for all repos, and a clean database? The Travis tests exercise registering new accounts, and it's running OK locally here.

[2021-08-31 17:09] asmecher commented on #5887
@mfelczak, this feature currently searches OJS's author records by given and last name, looking for exact matches. This performs badly but also doesn't align with our plans for author disambiguation using ORCIDs. Do the clients who are asking for this feature tend to use ORCIDs?

[2021-08-31 22:50] ewhanson opened #7247 "Fix bugs introduced in Issue EntityDAO refactor"
**Describe the bug**
I found a few bugs and other improvements after the Issue EntityDAO refactor changes were merged.

**Issues**

- [x] add PR for usageStats plugin updates
- [x] journal/context does not remove previous `current_issue_id` when an issue is unpublished
- [x] update CLOCKSS implementation to mirror LOCKSS in `GatewayHandler`
- [x] typo in Issue Collector causes a fatal error when u

[2021-08-31 22:52] ewhanson commented on #7247
Hi @asmecher, as a heads up: I found a few other things that need fixing with the Issue EntityDAO changes that need fixing. I have fixes for them all and will get a PR in tomorrow. The typo in the issue collector will likely cause Issue API requests to fail until then.

[2021-09-01 00:01] asmecher commented on #7247
Thanks, please ping me on the PR and I'll have a look!

[2021-09-01 10:08] Vitaliy-1 commented on #7141
@NateWr, it's ready for the second round of review.

[2021-09-01 10:15] jameswill opened #7248 "Unable to install OPS 3.3.0.8"
**Describe the bug**
On trying to install OPS 3.3.0.8 on my test server with php 7.3 and Mysql 5.5 it gives following error.

Array ( [type] => 1 [message] => Uncaught Error: Class 'GenericPlugin' not found in [[PATH]]/ops3308/plugins/generic/crossrefDeposit/CrossrefDepositPlugin.inc.php:14

**To Reproduce**
Steps to reproduce the behavior:
1. Upload the package at desired location
2. Give appropr

[2021-09-01 11:58] NateWr commented on #2564
We'll probably need to do something client-side, at the moment of pasting in. That's because `TinyMCE` is always bound to a `contenteditable="true"` field, which will make it behave more like a textarea. For example, line breaks can cause text in a "single line" field to disappear since only the cursor's current position is visible.

[2021-09-01 12:25] adguah commented on #2564
I May suggest italics, subscript and superscript.

In my experience,  bold or underline are not relevant in article titles.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
De: Nate Wright ***@***.***>
Enviado: miércoles, 1 de septiembre de 2021 1:58 p. m.
Para: pkp/pkp-lib
Cc: adguah; Mention
Asunto: Re: [pkp/pkp-lib] Inconsistent HTML display in article titles (

[2021-09-01 12:44] eniocarboni opened #7249 "[OJS PostgreSQL] Email duplication during user registration by changing lowercase to uppercase"
**Describe the bug**
In the user registration form (/user/register) with PostgreSQL (or MySQL with binary "collate", for example COLLATE 'utf8_bin') it is possible to register a second user with the same email different only for upper/lower case.

**To Reproduce (use OJS with PostgreSQL)**
Steps to reproduce the behavior:
1. Go to '/user/register'
2. Register a new user with the same email as an e

[2021-09-01 13:12] olovy commented on #4235
Hi @asmecher and @isgrim,

We stumbled upon the same issue. Have you made any progress on the fix?
We will probably try to fix it ourselves otherwise.

(At the National Library of Sweden we use our own OAI-PMH [metadata format plugin](https://github.com/Kungbib/fgs-oaipmh-ojs-plugin) when harvesting articles for long term storage from our new OJS-based platform [Publicera](https://publicera.kb.se/

[2021-09-01 14:22] NateWr commented on #7248
Hi @jameswill. I was unable to reproduce this using the release package at https://pkp.sfu.ca/ops/ops_download/ and following the steps above. Can you provide a more detailed copy of your error log with some of the messages leading up to the fatal error? That might help diagnose the problem

[2021-09-01 14:24] NateWr commented on #7249
It looks like email addresses _can_ be case-sensitive (see [here](https://stackoverflow.com/questions/9807909/are-email-addresses-case-sensitive)), but I agree it's probably a bad idea. Usernames definitely shouldn't be case-sensitive.

[2021-09-01 14:48] ewhanson commented on #7247
Hi @asmecher, I've pinged you on each PR individually, but thought I would do so here as well. Here are the PRs for the above mentioned fixes. Thanks!

PRs:
pkp/usageStats#49
pkp/ojs#3174

[2021-09-01 15:46] Vitaliy-1 opened #7250 "Upgrade errors due to attempt to retrieve non-existing DAO"
**Describe the bug**
Encountering fatal errors when upgrading OJS to the current main branch. Calls to deprecated Illuminate Database Manager instead of Database Facade in 2 places and a failed attempt to [get DAO](https://github.com/pkp/ojs/blob/487cac8c6c5e013f6d23096499bd232a76e04b96/classes/migration/upgrade/OJSv3_3_0UpgradeMigration.inc.php#L94) with the message:
[code]

**To Reproduce**
Step

[2021-09-01 17:51] Vitaliy-1 commented on #7250
pkp-lib: https://github.com/pkp/pkp-lib/pull/7251
OJS: https://github.com/pkp/ojs/pull/3175

[2021-09-01 19:01] Vitaliy-1 commented on #7246
Finally, I've got my database upgraded to the latest checkout, although I don't think it was something missing in the migration. Still see the error. It makes sense to me. `date_last_login` doesn't have a default value and when `User` object is inserted during registration, `dateLastLogin` data property isn't set.

On a clean database, `date_last_login` has a default NULL value and that's why test

[2021-09-01 19:04] Vitaliy-1 commented on #7250
@asmecher, can you take a look?

[2021-09-01 22:45] elenacn opened #7252 "[OJS 3.1.2.1] How to close add discussion option to authors if the article was rejected"
The text is rejected and the corresponding authors can consult it and try to resubmit in the discussions. That's impossible. There is some option to put a lock so when the manuscript was rejected they can no longer resubmit the manuscript.

![image](https://user-images.githubusercontent.com/50058327/131754774-eacb6ee1-d8c1-43f8-92c1-017c7731de3e.png)

I try used the “Closed” button, but I read tha

[2021-09-02 08:19] NateWr opened #7254 "All entity collections should use IDs as keys"
When refactoring to support entity collections, it was agreed that `getMany` methods should return a collection with each item's ID used as the key.

[code]

Before 3.4 is shipped, we should check that each entity DAO uses this technique. We also need to make sure that anywhere the objects are converted to JSON (eg - to be returned in the REST API or passed as state to Vue) the array keys are rese

[2021-09-02 08:53] engahmed opened #7255 "Error on sending an email"
When I send an email I got this erro.
From Administration> gosted journal> choose any journal> users> select any user> Email
When I send an email to any user I get this error
![image](https://user-images.githubusercontent.com/25064051/131813841-3130bd0c-388c-4806-afac-717dfff305b2.png)

[2021-09-02 08:54] NateWr commented on #7252
Hi @elenacn, there's no support for locking discussions after a submission is rejected. I think we would hesitate to add this feature, because it is common enough for authors to need a way to contact editors after rejection (for example, in case the submission was mistakenly rejected).

Are you getting a lot of inappropriate follow-up from authors? If so, you can try to unassign editors from a dec

[2021-09-02 08:54] #7252 closed

[2021-09-02 10:42] retostauffer commented on #6991
I was trying to track down the long loading times on the user search/user list. We are running `OJS 3.3.0-7` with about `130.000` registered users. The loading time for the user-list or one search request is around **1 minute 15 seconds** in our case. I have not had time to dig into the php code yet, but here some findings (if not well known already).

#### DB log

I've sent one user search reques

[2021-09-02 11:40] alexxxmendonca commented on #6991
I would just like to weight in to say that we have the same problem in SciELO's OJS when doing any search across the whole system and during merging of users.

I don't know how many users we have, but I know it's a lot. We've been using OJS since 2007 with over 100 journals (41 currently active).

[2021-09-02 12:59] ronste commented on #7191
Hi @NateWr ,

I very much like the new layout of the submission process as you suggested. My question would be what exactly happens when you press the submit button? I presume mails will be send to the author and the journal acknowledging the submission.

Will these mails contain information about the terms and conditions the author agreed to? Or do you have plans to document the legal act of agre

[2021-09-02 15:23] Vitaliy-1 commented on #7246
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/7256
tests OJS: https://github.com/pkp/ojs/pull/3176
@asmecher, this resolves the error on my test instance. `setting_type` column in `user_settings` is removed on the fresh install but don't see the same during migration. It also causes issue with the default value.

[2021-09-02 15:44] asmecher commented on #7246
Ah, thanks, @Vitaliy-1 -- I didn't realize you were working with the upgrade toolset, which hasn't been tested/refined for a while. (We usually get to that later in the release cycle.) The fixes look good -- merged!

[2021-09-02 15:45] asmecher commented on #7246
(I didn't wait for the tests as they don't exercise the upgrade code.)

[2021-09-02 15:45] #7246 closed

[2021-09-02 16:05] asmecher commented on #6991
Hi all -- we have substantial rewrites to this code already in place for the 3.4 release (see https://github.com/pkp/pkp-lib/issues/7127). The changes remove the `DISTINCT` (this is probably the biggest performance problem) and change any conditionals the query might require for far-flung cases so that they are only brought in when needed.

Unfortunately the side-effect of this being a comprehensi

[2021-09-02 16:08] retostauffer commented on #6991
Good news, thank you very much @asmecher !

We can work with the current version, no real need for back-porting (may be some good tee to click-and-wait), but nice to hear that it will be addressed in a future release.

We are currently trying to go live with `3.3.0-7`, and will try to find time to test `3.4.x` next spring if possible!

[2021-09-02 16:29] asmecher commented on #7248
@jameswill, you can probably resolve this by applying [this change](https://github.com/pkp/ops/commit/ae3fa463b0112ed750d9690fd373f6157204db8e). I'm not sure why the ordering of plugin loads on your system is different than our dev/test/production environments, but anyway, it is -- this should resolve it.

[2021-09-02 16:29] #7248 closed

[2021-09-02 16:38] asmecher commented on #7255
@engahmed, could you post your question on the PKP support forum (https://forum.pkp.sfu.ca) along with details: What version of OJS are you using? Is there anything in your PHP error log? What is your email sending configuration from `config.inc.php` (not including passwords)?

If it turns out to be a bug rather than a misconfiguration, we can re-open this issue.

[2021-09-02 16:38] #7255 closed

[2021-09-02 16:42] asmecher commented on #7250
This looks good, thanks -- I've merged the PRs for pkp-lib and OJS, but could you also port the change to OMP and OPS?

[2021-09-02 23:49] asmecher commented on #7247
Thanks, @ewhanson! Merged the one, I had a question on the other.

[2021-09-03 11:54] Vitaliy-1 commented on #7250
OMP: https://github.com/pkp/omp/pull/1002
OPS: https://github.com/pkp/ops/pull/174

[2021-09-03 11:57] Vitaliy-1 commented on #7250
OMP and OPS required additional touch. Merged!

[2021-09-03 11:57] #7250 closed

[2021-09-03 18:26] kshuttle commented on #7161
+1 for this issue. As someone who works with multiple journal teams, I would appreciate having the ability to download the CSS file as a journal administrator to see what the CSS is doing and make modifications. Often times another member of the journal team uploaded the CSS, so as the admin I don't have access to it at all. If something looks off, or if another style change is needed, I can't rep

[2021-09-03 20:34] israelcefrin commented on #7236
@asmecher if we leave the copyright field blank, shouldn't it be filled with authors' info as it does when publishing via regular workflow?

[2021-09-03 22:10] diegoabadan commented on #6836
@NateWr, can you test the behavior on http://149.28.39.191:81/index.php/test/submission/wizard?

This behavior change only occurs when we have more than 10 categories.

[2021-09-03 23:58] asmecher commented on #4235
I'm not aware of any further progress on this -- some assistance would be very welcome!

[2021-09-06 08:46] isgrim commented on #4235
Hi Olov @olovy and Alec @asmecher ,

I'm sorry for not going further with this. This is still relevant for us, but It was not high priority.

If you have the time and resources to contribute the fix. This would be very much appreciated.
I could work on this after my current task, maybe in one or two weeks.

Regards,

Nils

[2021-09-06 09:54] Vitaliy-1 opened #7257 "Move definition of template variables from Mailable to Mailer"
**Describe the problem you would like to solve**
Mailable class includes static calls to retrieve email template variable description as well as methods to get their actual values. This logic is redundant for this class and should be moved from it.

**Describe the solution you'd like**
The best candidate is Mailer, which is already responsible for template variables compilation and suits them bett

[2021-09-06 09:56] NateWr commented on #7228
After reviewing with @pmangahis, we determined this wasn't a bug and that the [submission acknowledgement](https://github.com/pkp/pkp-lib/issues/6272) emails added back in 3.4 will address the remaining issues the editor was facing.

[2021-09-06 09:56] #7228 closed

[2021-09-06 10:10] NateWr commented on #7191
Hi @ronste,

The email notifications will be the same as before. There are some complex rules about who gets what, but we don't currently plan to change this for 3.4.

We've discussed this need at https://github.com/pkp/pkp-lib/issues/7062 (and slightly different, but similar need, related to privacy consent at https://github.com/pkp/pkp-lib/issues/6180). In the mockups above, I've included a chec

[2021-09-06 10:38] NateWr commented on #6702
This [feature request](https://forum.pkp.sfu.ca/t/allow-remotely-hosted-files-with-chapters/69620/6) for remote chapter files is another example of how this would be useful in OMP. Because chapter files interact directly with the submission file, instead of publication formats or galleys, they do not support remote files. If galleys were introduced to OMP, they would support remote chapter files.

[2021-09-06 10:46] marcbria commented on #4818
Related with:
https://forum.pkp.sfu.ca/t/changing-default-language-impacts-on-users-given-family-names/67739
https://forum.pkp.sfu.ca/t/configure-author-name-conventions/53738

[2021-09-06 10:54] NateWr commented on #6836
@diegoabadan, I'm sorry it's taken me so long to look at this. They keyboard controls for this are pretty good! However, there are some problems that would make it difficult to use with a screen reader. The `<label>` element is not related to the fields, so a screen reader can not associate the label "Categories" with the options. This is complex, because you'll need a `<label>`/`<input>` relation

[2021-09-06 11:54] Vitaliy-1 opened #7258 "Handle email template localization more gracefully"
**Describe the problem you would like to solve**
Email template data should have a fallback locale if the one requested isn't available.

The current approach is to load template variables in all available locales and then the default logic is to load needed localization by the current application locale. It's possible to override this behaviour but if the specified locale isn't available, the fat

[2021-09-06 12:23] Vitaliy-1 opened #7259 "Perform email template validation when it's saved"
**Describe the problem you would like to solve**
Email template validation is actually done during compilation. If there are syntax errors, e.g., invalid template variable declaration or opening/closing tag, an exception is thrown.

**Describe the solution you'd like**
Saving a custom email template by a user should trigger validation. Manage situations when a user makes a typo of some kind.

**Wh

[2021-09-06 12:42] Vitaliy-1 opened #7260 "Separate email templates for site and context registration"
**Describe the problem you would like to solve**
Recent work on a mail service introduces 2 separate events associated with user registration depending on a context - site-wide or context-specific. These events are associated with different objects, Site and Context, which should be accounted for in Mailables that are sending emails to validate an email addresses.

**Describe the solution you'd li

[2021-09-06 13:13] Vitaliy-1 opened #7261 "Require site information in a single-journal install"
**Describe the problem you would like to solve**
Using Site data in Mailables in single-journal installs could be beneficial. E. g., consider a situation when a publisher wants to use site title in a general sign-off.

**Describe the solution you'd like**
Include the site form in a single-journal install.

**Who is asking for this feature?**
Discussion: https://github.com/pkp/pkp-lib/pull/7221#dis

[2021-09-06 13:29] NateWr commented on #7261
I think the same is true in multi-journal installs. The site data like name and URL might be included in emails.

[2021-09-07 08:52] thisnugroho opened #7262 "TypeError on getFileCache"
**Describe the bug**
TypeError when calling method `getFileCache` from class `CacheManager` which is referer to GenericCache, the problem is on third parameter (fallback) in `getFileCache` it's expect an callback function so when it's null,it's causes TypeError like the picture i attach,it's happend on `KeywordCloudBlock` plugin

**To Reproduce**
Steps to reproduce the behavior:
1. Install `Keywor

[2021-09-07 09:04] NateWr commented on #5150
Closed in favor of https://github.com/pkp/pkp-lib/issues/6133.

[2021-09-07 09:04] #5150 closed

[2021-09-07 11:36] Vitaliy-1 opened #7264 "Rename email template variables"
**Describe the problem you would like to solve**
1. Unify variable names across templates
2. Better reflect the content of variables

**Describe the solution you'd like**

- `editors` -> `decidingEditors`
- `journalName` -> `contextName`
- `passwordResetUrl` -> `passwordLostUrl`; only declared in PKPreviewerGridHandler and ReviewerForm as there it only provides the URL to the lost password page.
-

[2021-09-07 12:03] NateWr commented on #7264
Thanks @Vitaliy-1. There is also a Variables section in [this document](https://docs.google.com/document/d/15fYHs5ESFDbH0VAVsG5uftLKXerH1OQ_DNqHCBDfbcA/edit#) from @kshuttle. The following comments are derived from it:

- `submissionTitle` should always include full title with prefix and subtitle.
- `editorialContactSignature` -> `signature`: If the sender (or editor for automated emails) has no s

[2021-09-07 12:18] NateWr opened #7265 "Improve workflow for making an editorial decision"
**Describe the problem you would like to solve**
While implementing improvements to email sending in #5717, it was necessary to build out step-by-step workflows for editorial decisions. These workflows can be short, one-step actions or long, multi-step actions.

In the future, we will likely want to expand on these workflows with more options, such as kicking off file conversions, adding notificat

[2021-09-07 14:04] NateWr commented on #7265
@israelcefrin recommended that we add the current step to the page title, based on UX tests of a similar pattern with the new [submission wizard](#7191).

[2021-09-07 14:59] asmecher commented on #7265
There should be tools to import peer reviews, and to skip sending any email, but otherwise this looks good. In most cases there will not be APCs so the first step of the first mock-up should be hidden. I suspect it'll take a little getting used to seeing the email composition given so much space but the current email composition fields are definitely undersized.

[2021-09-07 15:38] NateWr commented on #7265
:+1: Import peer reviews and skip sending email are on my list. The goal here is that each decision defines its own workflow. So any steps can be added/removed (eg - to support APCs in one app or not), including by plugins.

[2021-09-07 16:18] asmecher commented on #7262
@thisnugroho, I think this might be a problem in the keyword cloud code rather than pkp-lib; when using a cache, there should always be a fallback function.

[2021-09-07 16:20] asmecher commented on #6841
@withanage, I've merged the PR above; could you forward-port it to `main`?

[2021-09-07 17:10] thisnugroho commented on #7262
Thank you for your response, so better way to do it is create a function that return null instead put null directly as a parameter ?

[2021-09-07 20:26] amandastevens commented on #7161
In OJS 3.1 and older you could click on the stylesheet link in Website Settings to view it. Why was this removed? Would it be easy to add back?

[2021-09-07 20:35] mfelczak opened #7266 "Assigned articles missing from future issues after upgrade to OJS 3.3.0-8"
**Describe the bug**
After the upgrade from OJS 3.1.2 to OJS 3.3.0-8, previously assigned articles to future issues are no longer assigned to the issues. All future issues show 0 items.

**To Reproduce**
1) Assign articles to future issues
2) Upgrade OJS from 3.1.2 to 3.3.0-8
3) Go to Issues > Future Issues
4) All future issues show 0 items

**What application are you using?**
 OJS 3.3.0-8

**Addi

[2021-09-07 20:55] mfelczak commented on #5887
Hi @asmecher, I don't have a firm sense of ORCID adoption across our hosted journals as it's not something that we currently track. We could provide some stats though if that might be helpful, e.g. checking whether the ORCID plugin is enabled.

[2021-09-08 03:08] asmecher commented on #7262
@thisnugroho, I suppose you're using the Lepidus fork of keywordCloud? If so, the problem is this line of code:

https://github.com/lepidus/keywordCloud/blob/26a2c39c5d8934b280471e7effaf3184e0be749c/KeywordCloudBlockPlugin.inc.php#L61

The 3rd parameter should be a callback, not `null`. I'm not quite sure what that code is doing with the cache tools, but passing in `null` in place of a callback is

[2021-09-08 03:08] #7262 closed

[2021-09-08 03:21] thisnugroho commented on #7262
Yes,i understand now, thank you so much.

[2021-09-08 08:34] olovy commented on #4235
@asmecher, @isgrim

We probably will have someone available to look at this in our next period, starting 2021-09-20.

[2021-09-08 08:36] NateWr opened #7267 "Allow period/full-stop in url paths"
**Describe the bug**
The `.` character was permitted in URL paths as far back as OJS 2.x This was restricted from OJS 3.2.x in order to support better URLs. However, this prevents changes from being made to an old publication, effectively forcing a long-standing URL to change.

The regex for URL paths should be relaxed to permit the `.` character.

**To Reproduce**
This can be reproduced in the pu

[2021-09-08 09:41] NateWr commented on #7267
@asmecher can you look over this for me? I wanted to port it back to `stable-3_2_1`, since it's a potential upgrade blocker, but it got a little complicated because there was a locale string change. We're not set up for translations against 3.2.1, right?

1. I allowed `.` in all URL paths _except_ the context. A `.` in a context URL path will break API requests (I'm guessing it's an issue in the r

[2021-09-08 10:40] NateWr commented on #7266
I think this is a hangover from the introduction of article _scheduling_? From 3.2, an article can be assigned to an issue but not scheduled for publication. In such cases, the article will show as assigned in the publication tab, but not from the issue UI.

The reason here is that it's possible for someone to assign a submission to an issue early in the editorial workflow. That submission will th

[2021-09-08 11:32] alexxxmendonca commented on #7265
This looks great, @NateWr

I think "Notify Reviewers" should not be restricted to Accept submission. Many journals like to share the reviews amongst the reviewers for every decision taken (including Revision and Declined).

[2021-09-08 12:48] NateWr commented on #7265
It will be available on all review stage decisions. That's the way it works now (sort of, there's a BCC Reviewers option).

[2021-09-08 13:48] diegoabadan commented on #6700
Hi!

We have a preliminary version of the OPS plugin at https://github.com/lepidus/citationStyleLanguage/tree/stable-3_3_0

Adaptations are lacking so that references are generated in a format suitable for a preprint and not as a journal article.

I imagine it might also be necessary to update the styles https://github.com/pkp/citationStyleLanguage/tree/main/citation-styles

Can someone from PKP o

[2021-09-08 13:55] mfelczak opened #7270 "New submission by Journal Manager does not appear in Unassigned"
**Describe the bug**
When a Journal Manager creates a new submission there is no one assigned to the submission stage but the submission does not appear in the Unassigned tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Have 1 Journal Manager whose role is assigned to 0 stages.
2. Have 0 Journal Editors or other user groups with Journal Manager permissions who are assigned to stages.
3.

[2021-09-08 14:12] NateWr commented on #7270
@mfelczak the result of the second sql query suggests that there is a user assigned to the submission.

[2021-09-08 14:13] NateWr commented on #7270
Ah, ok. So the problem is that there is an unassigned notice when there shouldn't be, right?

[2021-09-08 14:24] Zain-UlAbdin opened #7271 "Ojs"
How can I get to my ojs file upload settings?

[2021-09-08 15:39] asmecher commented on #7271
@Zain-UlAbdin, please post your question on our support forum (https://forum.pkp.sfu.ca), including more details:
- What version of OJS are you using?
- What are you trying to do when you encounter a problem?
- What are the details of the problem or error message you encounter?

[2021-09-08 15:39] #7271 closed

[2021-09-08 16:07] Zain-UlAbdin commented on #7271
Ojs 3.3.06

On Wed, 8 Sep 2021, 20:39 Alec Smecher, ***@***.***> wrote:

[2021-09-08 17:35] asmecher commented on #7271
@Zain-UlAbdin, please post these details on our support forum (https://forum.pkp.sfu.ca) -- if it turns out to be a bug we'll open an issue here.

[2021-09-08 18:09] asmecher opened #7272 "Enable simultaneous display of multilingual metadata"
**Describe the problem you would like to solve**
From the Coalition Publica metadata working group:

**Describe the solution you'd like**
Rather than displaying only the current language's metadata, with a fallback on the primary language, permit the display of metadata in both languages on the same page.

This might need to be treated differently depending on the context. For example, it's common

[2021-09-08 20:00] asmecher commented on #7267
Please go ahead, @NateWr (and don't forget to merge to `main` too). I'm OK with the locale string changes not being made in older branches. The text is incomplete, not incorrect.

[2021-09-08 20:07] asmecher commented on #6700
@diegoabadan, were these changes made in order to convert the plugin so that the modified version *only* works with OPS? I would recommend making the changes so that the plugin works with both OJS and OPS -- see e.g. the usage stats plugin, which has a few conditional areas for each application: https://github.com/pkp/usageStats/blob/main/UsageStatsPlugin.inc.php

[2021-09-08 20:08] asmecher commented on #6700
I'll ask a few of our friendly librarians what they think about citations for preprints rather than articles!

[2021-09-08 20:16] pmangahis opened #7273 "Ability to configure email notification from reviewers"
**Describe the problem you would like to solve**
In OJS 3.3.x it looks like all the Editors assigned in the Participant list receive a notification when a reviewer declines or accepts a review request.

**Describe the solution you'd like**
Ability to customize (in the user profile perhaps) whether the user will receive these notifications via email. The current options in the user profile don't se

[2021-09-08 20:40] diegoabadan commented on #6700
Hi Alec!

We are modifying it to work on both OJS and OPS! :)

Thanks!

[2021-09-08 21:50] mfelczak commented on #7270
There are no participants that are visible in the Participants grid and the message "Assign an editor to enable the editorial decisions for this stage" is displayed on both the submission page as well as in the My Assigned and All Active lists (screenshots below).

![participants](https://user-images.githubusercontent.com/200793/132590330-4a267d1b-993b-4ffe-a4a7-2cbf97753785.png)

![my_assigned](h

[2021-09-08 21:57] mfelczak commented on #7266
Yes, @ewhanson is currently working on the outstanding OJS 2.x to 3.2.x supp file upgrade issue and should be able to tackle this alongside that work.

[2021-09-08 22:50] willinsky commented on #7265
This looks very clean and helpfully laid out. And while I do not want to complicate the page too much, when an editor makes a decision there's going to often be a need to consult the reviews and look at the record perhaps including previous rounds and the reviewers who have been involved. I see there will be an "import reviews" function, but importing reviews into the email is not something that a

[2021-09-09 09:33] NateWr commented on #7272
I'd like to see this implemented on a per-theme basis. We can implement it as a theme option in the default theme and some of the others without too much difficulty.

[2021-09-09 10:04] NateWr commented on #7270
What are the role settings for that Journal Manager role?

[2021-09-09 10:08] NateWr commented on #7265
Thanks @willinsky. The moment you describe will still occur on the submission workflow page, where the editor can view reviews, discussions, files, etc. When the editor has chosen a decision (eg - Accept), they will be taken to this UI to complete the process.

I can see that the editor might want to consult the reviews while writing the email. But this was not possible in the current UI either (e

[2021-09-09 10:31] NateWr commented on #7267
@asmecher the 3.2.1 unit tests are failing because they expect `http` to be a valid protocol for ORCID, but the validator enforces `https`. It looks like @withanage made this change back in May: https://github.com/pkp/pkp-lib/commit/ab8f6abb8a0274e23f6a0f5ec35c08bffef90d7c.

But more recent merges to 3.2.1 have passing tests: https://app.travis-ci.com/github/pkp/ojs/branches

Am I missing somethin

[2021-09-09 11:21] felixhelix commented on #4059
I subscribe to the need for an email to the author that his work is undergoing review.
As of OJS ver. 3.3.0.7. the "EDITOR_DECISION_SEND_TO_EXTERNAL" Email template is still without function.
I do not think that a separate template depending on the revision process is needed, as any journal can edit the content to fit its need.

[2021-09-09 12:17] NateWr commented on #4059
This is very likely to be included in 3.4, as part of work on #7265.

[2021-09-09 12:41] alexxxmendonca opened #7274 "[OPS] Validate DOI field in "Relations" form"
**Describe the problem you would like to solve**
The field where it's expected the DOI for the preprint Version of Record doesn't have any conditional formatting:

![image](https://user-images.githubusercontent.com/4059679/132686706-1bdc3b97-8101-44bf-ab9a-6d386fc0bd30.png)

In the above example, because the URL doesn't start with "https://doi.org/", it gives an error when clicking on the URL that

[2021-09-09 13:53] pilasou commented on #7265
@NateWr  Hi! I really like this idea! It may be necessary to think incrementally though, as there is a lot of stuff that can be imagined with this new way of managing editorial decisions. I would suggest that a first step would be get ride off the pop up window and implement workflows (revision, accept, reject) as is. The idea to let editors select which emails they want to send (as shown is the m

[2021-09-09 14:46] mfelczak commented on #7270
Thanks Nate, confirming that no stages are selected for the JM role.

![roles](https://user-images.githubusercontent.com/200793/132707759-5cf716d7-5366-4e1d-b2a6-00dd98f9c90e.png)

[2021-09-09 15:05] NateWr opened #7275 "Can't upgrade to 3.2.x on PHP 8 due to use of get_magic_quotes_runtime"
**Describe the bug**
Although 3.3 is compatible with PHP 8, when upgrading from 3.1.x the `get_magic_quotes_runtime` function is called. This causes a fatal error and the upgrade does not complete.

The `get_magic_quotes_runtime` method has been removed from PHP 8, but it is still used by ADODB.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade from 3.1.x to 3.3.x on PHP
4. See error

[2021-09-09 15:06] NateWr commented on #7275
Actually, this may not be an issue. It sounds like the upgrade process might succeed if all dependencies are updated: https://forum.pkp.sfu.ca/t/error-when-upgrading-ojs-on-php8/69717/2?u=natewr

[2021-09-09 15:13] NateWr commented on #7267
@withanage no worries, I'll take care of this.

[2021-09-09 15:32] NateWr commented on #7270
Ok, I was able to reproduce this. The conditions necessary to reproduce the problem are the following:

1. Have at least 1 Journal Manager assigned to 0 stages
2. Have 0 Journal Editors.
3. Submit as the Journal Manager.
3. Submit to a section that has 0 section editors assigned to it.

This results in the one stage assignment of the JM. However, since the JM has 0 assigned stages, the stage assig

[2021-09-09 17:11] OyvindLGjesdal commented on #7275
Sorry for confusing the matter, the error is still present. I updated with composer and thought we might have had just old vendor files, since we had accidentally skipped the update step.

But `composer.json` in pkp-lib for adodb points to  `dev-v5.20.18-mods` and this contains the `get_magic_quotes_runtime` which I think is here https://github.com/asmecher/ADOdb/blob/v5.20.18-mods/adodb-xmlschema

[2021-09-09 18:03] mfelczak commented on #7270
Thanks Nate, but this user already has the Journal Editor role assigned and there are other Editors as well.

[2021-09-09 20:17] asmecher commented on #7275
This was removed from ADODB starting with 5.21: https://github.com/ADOdb/ADOdb/issues/674

As you've noted, we're still on a fork of 5.20.18, and there have been enough changes in the meantime that rebasing our modifications onto v5.21.2, or cherry-picking https://github.com/dregad/ADOdb/commit/faf71c5f3ef8823328f4f98e4562744ff04632ee, are not trivial.

Our ADODB support is "deprecated" and it is

[2021-09-09 21:29] OyvindLGjesdal commented on #7275
The upgrade goes further, but then fails. I can't tell if the next error is also related to changes in php8, but there are many warnings in the terminal. See attached log.

[upgrade_output.txt](https://github.com/pkp/pkp-lib/files/7139845/upgrade_output.txt)

[2021-09-09 21:56] OyvindLGjesdal commented on #7275
Next output and error after applying `ALTER TABLE journal_settings ALTER COLUMN setting_type DROP NOT NULL;` and rerunning upgrade attached
[upgrade_output2.txt](https://github.com/pkp/pkp-lib/files/7139941/upgrade_output2.txt)

[2021-09-10 14:31] ctgraham commented on #7204
This tool can be used to automate plugin installs / upgrades as described here:
https://gist.github.com/ctgraham/d21f4153dd95928c740b533a70b3ad94

[2021-09-10 18:36] mfelczak commented on #7161
+1 for journal editors preparing to upgrade to a new version of OJS. Easy access to the stylesheet will support testing using the PKP live demo running the latest version OJS.

[2021-09-11 01:39] asmecher commented on #4787
SciELO also requests this feature, along with the ability to contra-indicate reviewers.

[2021-09-11 08:04] dogsleg opened #7276 "User can register using login containing an underscore symbol "_", but cannot log in"
It is possible for a user to (self-) register and choose a login containing an underscore symbol "_" (e.g. "someone_else"), but it is not possible to log in with such a login. OJS keep telling that user with "someone_else" login does not exist.

Steps to reproduce the behavior:
1. Register a new user, choose login with an underscore symbol (e.g., "someone_else")
2. Try to log in after the registra

[2021-09-12 15:18] retostauffer commented on #4900
I was facing the same issue in OJS `3.3.0-7` (migrated from OJS 2); we have `7` users but find `116` leading to the problem explained above (Assign Participants seems to be broken). I have uploaded a test-script and the output as a gist:

* Check <https://gist.github.com/retostauffer/c8b662e9216b8e479142216acf48b596>
* `test_query.sh` shows the queries, `test_query_result.txt` the corresponding ou

[2021-09-12 15:37] ajnyga commented on #6685
@asmecher
OPS: https://github.com/pkp/ops/pull/177
OJS: https://github.com/pkp/ojs/pull/3179
OMP did not have it.

[2021-09-12 17:55] ajnyga commented on #7207
Do we want to have this for all roles when you unassign someone? I mean for example copyeditors and journal editors as well?

[2021-09-12 18:41] Vitaliy-1 commented on #7141
PRs
OMP: https://github.com/pkp/omp/pull/1006
OPS: https://github.com/pkp/ops/pull/178
OJS: https://github.com/pkp/ojs/pull/3169
pkp-lib: https://github.com/pkp/pkp-lib/pull/7221

[2021-09-13 09:52] NateWr commented on #4900
Thanks @retostauffer! I think Alec's got this fixed for 3.4, but a hot-fix for 3.3 would be good

It sounds like your `DELETE` statement is removing the users' name information. If you only run one language in your nournal, `en_US`, then this may be old data and is safe to remove. But otherwise you're probably removing important data...

[2021-09-13 09:56] NateWr opened #7277 "Discussion participants include declined open reviewers"
**Describe the bug**
When a review assignment is open, the author can create a discussion with reviewers. However, the author can open a discussion even with reviewers who have declined the review assignment.

Reviewers should only be available as discussion participants when they have been assigned an open review and after they have accepted the review assignment.

**To Reproduce**
I haven't repr

[2021-09-13 09:57] retostauffer commented on #4900
@NateWr thanks for your reply.

We have just run some additional tests. Seems that the data is restored once the user logs in; thus **my fix does not work** (or only temporary). I think it requires a fix on the `.php` side. If I can find time (not sure) I may have a look at the code to see if we can come up with a hotfix.

[2021-09-13 10:02] NateWr commented on #4900
Is the primary language of the site (not the journal) different from `en_US`? Every user needs a few required fields in that language as a fallback. This may be why the data is getting regenerated.

[2021-09-13 10:05] NateWr commented on #7270
In that case, I'm not able to reproduce this... :/ Can you try playing with a clean install to identify some reproduction steps?

[2021-09-13 10:15] NateWr commented on #7204
@ctgraham is this in a condition to be merged to `main` or `stable-3_3_0`? The PR linked above is against `3_1_2`.

[2021-09-13 10:24] retostauffer commented on #4900
@NateWr that's not the problem, both `site` and `journal` run on the same locale (`en_US`). Reproducing the problem again (see [gist](https://gist.github.com/retostauffer/d6c0e32303e64b4e701f6056bb386999):

* First output of [this gist](https://gist.github.com/retostauffer/d6c0e32303e64b4e701f6056bb386999): after I've applied my `DELETE FROM ...` fix. Temporarly everything (UX) works as expected.

[2021-09-13 11:17] felixhelix commented on #4059
Thanks @NateWr,
#7265 looks great!

[2021-09-13 11:21] NateWr commented on #7274
The following PRs validate the input to make sure it is a valid URL. However, I'm not sure if we can do any further validation in terms of the DOI format. @asmecher should we add a DOI validator to `ValidatorFactory`? Can we assume it will be `0000.000/xxxxx` or might DOIs looks different?

PRs:
https://github.com/pkp/ops/pull/179 `stable-3_3_0`
https://github.com/pkp/ops/pull/180 `main`
https://g

[2021-09-13 11:25] alexxxmendonca commented on #7207
I think it makes sense for all roles.

[2021-09-13 12:31] NateWr commented on #7274
Merged to `stable-3_3_0` and `main`.

[2021-09-13 12:31] #7274 closed

[2021-09-13 13:07] NateWr commented on #7141
This looks really great, @Vitaliy-1. I didn't look over all the code again, but I reviewed the new sender/recipient stuff and just had two small comments.

I've been thinking about how to document this and share it with the team. A rough outline is here: https://github.com/pkp/pkp-docs/issues/825

[2021-09-13 15:32] asmecher commented on #6685
All merged -- thanks, @ajnyga!

[2021-09-13 15:32] #6685 closed

[2021-09-13 16:08] NateWr commented on #7267
@asmecher the tests are passing for everything except OMP 3.2.1, which is failing because the log exceeds the maximum length for PHP 7.3 and PHP 7.4. It looks like the unit tests are finished, though. https://app.travis-ci.com/github/pkp/omp/jobs/537048347

What do you think? Should I merge this or just leave it alone? I feel like the time v. reward ratio has run out on porting this back to 3.2.1.

[2021-09-13 16:39] ctgraham commented on #7204
I've only tested the PR in 3.1 and 3.2; but, it only depends on `PluginGalleryDAO::getNewestCompatible()` and `Application::get()`, so it should work correctly in 3.3.  It would need to be reformatted for `main` for tabs to spaces and for swapping `import()` for `use`.

[2021-09-13 17:18] alexxxmendonca opened #7280 "[OPS] Ability for authors to inform "version notes""
**Describe the problem you would like to solve**
When a new version of a preprint is created, it is unclear from a reader's point of view what has changed between the previous version to the new version.

**Describe the solution you'd like**
Some servers (like ChemRxiv, see example [here](https://chemrxiv.org/engage/chemrxiv/article-details/61172e5745805d0dd3870af8) under "Version Notes") collect

[2021-09-13 17:57] asmecher commented on #7280
This sounds like a good idea, @alexxxmendonca. Could you foresee a role for both public and private notes (those shown to readers, and those kept privately for administrative purposes)? I would expect admins to assume notes are private and maybe be surprised by their publication.

[2021-09-13 18:27] alexxxmendonca commented on #7280
@asmecher I don't see a reason to collect private and public notes. I think most times authors would have to copy and paste the same contents on both fields.

In the spirit of open science, this would give some light and reasoning for creating a new version for both Admins and the community.

_I would expect admins to assume notes are private and maybe be surprised by their publication._

This is

[2021-09-13 18:33] Vitaliy-1 opened #7281 "Redundant and not escaped special characters in locale files"
**Describe the bug**
Special characters, which should be escaped in localization files, like double quotes: https://github.com/pkp/ops/blob/99bf5b9dde17f3484dda82a3207029b0dbb76254/locale/en_US/manager.po#L348

Redundant  characters: https://github.com/pkp/ops/blob/99bf5b9dde17f3484dda82a3207029b0dbb76254/locale/en_US/author.po#L17

Likely only in `en_US` locale files.

**What application are you

[2021-09-13 18:49] asmecher commented on #7280
Ah, I see you're thinking about OPS, when I was mostly thinking about OJS. I think the issue of private vs. public notes might be more prominent in OJS. I would favour an approach that doesn't introduce two fields, if that's acceptable for editors -- I suppose they could use the existing editorial notes feature for private notes if a public field isn't appropriate.

I don't think we can expect aut

[2021-09-13 18:52] henriqueramos opened #7282 "Consider using more Singleton/Bind at Service Container to handle classes instances"
Back on pkp/pkp-lib#7125, I had a problem with `IsoCodesFactory` showing countries names list on Portuguese version, even the OJS installation had `en_US` and `fr_CA` locales as only languages. Thus my local test scenarios aren't being able to pass.

This was due to the way `IsoCodesFactory` implement his translation driver, getting the current language value directly from the `LANGUAGE` environme

[2021-09-13 19:09] asmecher commented on #7281
I fixed the typos I could find (of both kinds identified above) and linted the PO files successfully using `po2txt`. The commits that introduced these appear to have been manually, i.e. not using gettext/Weblate toolsets, so I think we're systematically OK. I couldn't find anything in OJS, OMP, or pkp-lib. Thanks for spotting these, @Vitaliy-1!

[2021-09-13 19:09] #7281 closed

[2021-09-13 19:10] asmecher commented on #7281
(Cherry-picked to `stable-3_3_0` for release in OPS 3.3.0-9)

[2021-09-13 19:13] Vitaliy-1 commented on #7281
OMP has at least in `manager.po`: https://github.com/pkp/omp/blob/c66ce205159a908df706c4169fdf87e6dcace0ca/locale/en_US/manager.po#L918

[2021-09-13 19:13] alexxxmendonca commented on #7280
@asmecher yeah, I was thinking mostly about OPS.

I can see how it would be important to keep in mind the issue of private vs. public notes within the journal context.

[2021-09-13 19:14] Vitaliy-1 commented on #7281
If not systematic, I'll fix if find other

[2021-09-13 19:28] asmecher commented on #7281
The `po2txt` doesn't identify missing escaping on `"` characters, but it also appears to be able to read them just fine. Yes, these don't appear to be systematic; please fix them when you see them.

[2021-09-13 19:39] alexxxmendonca opened #7283 "[OPS] Link to published paper (version of record) in Crossref/Datacite metadata"
**Describe the problem you would like to solve**
Currently the Crossref/Datacite metadata does not contain a link to the published paper (version of record) of a preprint, making it difficult for metadata holders to know the relationship between a preprint and its version of record.

**Describe the solution you'd like**
Link a preprint to its version of record in the DOI metadata.

**Who is asking

[2021-09-13 20:54] withanage opened #7284 "Missing rights for internal reviewer to download files."
**Describe the bug**

-   Editor / Journal manager assign an internal  reviewer for a submission.
-  Reviewer gets a notification  for review.
-  When accessing the review process, the assigned reviwe file cannot be downloaded.

**To Reproduce**

 As  Press Manager or Series Editor
1. Login to OMP
2. Select a  Submission in internal review stage and select "Internal Review"
3. Under Round X (defau

[2021-09-13 21:14] withanage commented on #7284
FYI @NateWr

[2021-09-13 23:44] asmecher commented on #7274
@Nate, here's some regexps for DOIs from the horse's mouth: https://www.crossref.org/blog/dois-and-matching-regular-expressions/

[2021-09-13 23:56] asmecher commented on #7274
Actually, scratch that -- it would only be for Crossref DOIs. The DOI spec itself allows very broad DOIs -- prefix and suffix can contain anything printable. I think all you can really assert without really getting into the weeds is that it starts with "10." and contains a slash.

[2021-09-14 00:27] asmecher commented on #7236
No, I don't think so -- unless we pre-fill the field when presenting a blank Quick Submit form. The quick submit plugin is not intended for the "normal" workflow so stamping it after submission with the defaults feels counter-intuitive to me. What about pre-filling the fields when the form is blank?

[2021-09-14 00:31] asmecher commented on #7244
I resolved this by removing the password bounce-back entirely. It's not a good practice to pre-fill password fields using `value=`.

[2021-09-14 00:31] #7244 closed

[2021-09-14 08:35] NateWr opened #7285 "Investigate how to handle cases where sendmail executable can not be invoked"
Sendmail was introduced in #7141 as part of the adoption of Swift Mailer. This relies on `proc_*` functions which may not be supported in all environments where OJS/OMP/OPS is run. A comment from @asmecher:

We need to investigate how widespread this impact may be and/or implement mechanisms (like a pre-flight check) to highlight the new dependency during upgrade.

There is more discussion in [thi

[2021-09-14 08:51] NateWr commented on #7274
Ok, thanks. cc @ewhanson (see above)

[2021-09-14 09:12] NateWr commented on #7267
Merged to `stable-3_3_0` and `stable-3_2_1`, and adapted/committed to `main`.

[2021-09-14 09:43] NateWr commented on #7204
Thanks @ctgraham! I've gone ahead and merged your tool to the `main` branch in https://github.com/pkp/pkp-lib/commit/951c5c4b661d079ca790f5b46e666ef0864afba4. I changed the plugin file name and dropped `plugins/` from the `info` command.

Call the script:

[code]

List plugin updates/compatibility:

[code]

Get info on one plugin:

[code]

I'll leave this issue open, since we'd still like to exten

[2021-09-14 09:55] NateWr commented on #7280
We've done some research around this when we first implemented versioning. This problem overlaps a little bit with the minor vs major version distinction, as well as questions about how to represent versions in downstream providers. You can find those details filed in https://github.com/pkp/pkp-lib/issues/4860.

The conclusion there was to add a `publicationDateType` field to match the JATS specif

[2021-09-14 10:13] NateWr commented on #7282
I agree. It took me a long time to get my head around the Service Container, but once I did I realized that it is going to play a huge role going forward in helping us manage dependencies across all three applications. It also offers us a great way to expose some of the core pieces of the software to extension by plugins.

We should aim to integrate many of our core systems (eg - `PKPLocale`, `App

[2021-09-14 10:18] NateWr commented on #7283
@ajnyga just checking to see if this has been implemented already in the Crossref export plugin. I have a vague memory of you working on something like this before.

[2021-09-14 10:22] #7267 closed

[2021-09-14 10:23] ajnyga commented on #7283
Yes, most of this is ready here https://github.com/pkp/ops/pull/103 I think there are a couple of open issues in the pr, I will check them this week.

[2021-09-14 13:21] israelcefrin commented on #7236
+1 for the pre-filling when blank! I think it would prevent missing copyright info when using the plugin.

[2021-09-14 13:22] NateWr opened #7286 "Convert all configurable emails to Mailables"
Laravel's Mailables class was introduced in #7141. These replace our previous Mail and MailTemplate classes with a new system to support configurable emails, events and email variables.

All existing email templates in the system need to be converted to Mailables, with their variables pre-defined. Once this is completed, the email templates editing UI needs to be changed to support editing templat

[2021-09-14 13:30] NateWr opened #7287 "Remove old code for sending email"
Issue #7141 introduced Laravel's mailer to send email. After #7286 is done, most of the emails in the system will have been converted to use this new mailer.

Convert any emails send using the old mail system to the new mailer from Laravel, and then remove the code for our old mail sending system.

The following classes will need to be removed:

- `Mail`
- `MailTemplate`
- `SubmissionMailTemplate`

[2021-09-14 13:33] NateWr opened #7288 "Implement DMARC compliant features in new mail service"
Laravel's mail system was introduced in #7141. In order to be comply with DMARC requirements, we need to implement some of the code related to this from the old mail handler: https://github.com/pkp/pkp-lib/blob/main/classes/mail/Mail.inc.php#L630-L642

[2021-09-14 13:45] NateWr opened #7289 "Ensure the correct context is used in mailables sent in queued jobs"
In order to determine the correct `envelopeSender`, we need to know what context an email is related to. This context is passed down in the [MessageSendingContext](https://github.com/pkp/pkp-lib/blob/main/classes/observers/events/MessageSendingContext.inc.php) event.

After work on the queue (#6368) is completed, it will be possible to send jobs to the queue. We need to run some tests to ensure th

[2021-09-14 13:48] #7141 closed

[2021-09-14 14:17] NateWr commented on #7283
Looks like this is a duplicate of https://github.com/pkp/pkp-lib/issues/6251. I'm closing this in favor of that issue.

[2021-09-14 14:17] #7283 closed

[2021-09-14 14:56] Vitaliy-1 commented on #7267
@NateWr, build on main is failing after this commit during editing publication data: `publication -> issue -> URL path`

[2021-09-14 15:25] NateWr commented on #7267
Thanks! I think this is happening because I forgot to update the submodule when I ported the changes forward to `main`. I've updated the submodule in `main` now. Let me know if the OJS tests still fail.

[2021-09-14 17:11] pmangahis commented on #7270
@NateWr Tested this on the PKP School 3.3 install - here's the [screen recording](https://www.youtube.com/watch?v=29XdYSkgwqE) of that issue I noticed.

[2021-09-14 17:23] asmecher commented on #7236
Done, thanks!

[2021-09-14 17:23] #7236 closed

[2021-09-14 19:59] asmecher commented on #7282
@NateWr, yep, Henrique and I were going over this on Monday, which is what led to this filing. I'm still in the getting-my-head-around it phase but am very interested in pushing our use further.

[2021-09-14 23:02] asmecher commented on #7275
@OyvindLGjesdal, those repeated warnings can be cleaned up with https://github.com/asmecher/ADOdb/commit/228c62019235f0c640b866c37a5aa3c19e6c714d. They are cosmetic, but I'll wrap them in as well.

The next relevant issue you're hitting is this one:
[code]
I suspect this is due to entries in the `user_settings` table that are expected to be multilingual (i.e. the `locale` column should be set for

[2021-09-14 23:02] #7275 closed

[2021-09-14 23:29] asmecher commented on #7284
@withanage, I've committed this directly to `master` and `stable-3_3_0`, as the changes are minimal and I tested them. However, could you take a look, particularly at the `stable-3_3_0` change (https://github.com/pkp/pkp-lib/commit/347432f8a892401d721a3dc172f94817e3800a00)?

[2021-09-15 02:03] asmecher commented on #6850
Thanks, @defstat! I've merged all the PRs listed above -- actually, cherry-picked due to merge requests. Tests are running fine-ish locally and I expect they'll come through OK on Travis. Thanks for all this work!

[2021-09-15 08:50] NateWr commented on #7270
Ok, I think I was going down the wrong rabbit hole. I thought this was related to editor assignment during step 4 of the submission wizard. But I suspect it's related to the author assignment code during step 1 of the submisssion. The author is assigned to the submission without checking whether their submitting user group is configured for the submission stage (or any stage).

https://github.com/

[2021-09-15 09:02] NateWr commented on #7282
So far, I've been putting our core dependencies into an `AppServiceProvider`. You can see here how I've used this to override `PKPRequest` with `Request`.

pkp-lib: https://github.com/pkp/pkp-lib/blob/main/classes/core/AppServiceProvider.inc.php#L45-L47
ojs: https://github.com/pkp/ojs/blob/main/classes/core/AppServiceProvider.inc.php#L30

[2021-09-15 09:45] defstat opened #7290 "Announcements fail to load"
**Describe the bug**
When clicking on Announcements menu the following error occurs

Uncaught TypeError: Argument 1 passed to PKP\\announcement\\Collector::filterByContextIds() must be of the type array or null, int given, called in lib\\pkp\\pages\\announcement\\AnnouncementHandler.inc.php on line 67 and defined in lib\\pkp\\classes\\announcement\\Collector.inc.php:40

**To Reproduce**
Steps to r

[2021-09-15 09:52] defstat commented on #7290
@NateWr @asmecher

**PR**
[pkp-lib]: #7291

[2021-09-15 10:02] NateWr commented on #7290
Thanks @defstat! Can you add a test to `lib/pkp/cypress/tests/integration/Announcements.spec.js` that will catch this in the future? I think a new test between "Add an Announcement" and "Edit an Announcement" that looks for the announcement on the homepage and then follows it to see if the announcement loads would be perfect.

[2021-09-15 10:04] NateWr commented on #7290
You can run a single test by doing the following:

[code]

This will open a UI where you will see the announcements test, you can click it and run it.

[2021-09-15 10:12] NateWr commented on #7290
Woops, that wouldn't catch the error. I think you need to visit the page that lists all announcements.

[2021-09-15 10:31] OyvindLGjesdal commented on #7275
Thank you fix! I've rebuilt against the stable branch in pkp lib, and get to the same error message. I will follow it up in the forum.

[2021-09-15 10:52] jonasraoni commented on #7282
Talking about the container, we can already get rid of the `Pimple` dependency =]
As a side note, I'm using the container to serve the locale for the #6328:

[code]

To keep the ability of using the `Locale` statically (e.g. `Locale::getLocale()`), I've created a `Facade` for it:
[code]

About testing, the `Facade` provides mocking methods  and it's even possible to replace the underlying `Locale`

[2021-09-15 11:14] defstat commented on #7290
@NateWr I have added the test.

[2021-09-15 11:21] NateWr commented on #7290
Thanks! I've merged that in without running the tests. :crossed_fingers:

[2021-09-15 11:21] #7290 closed

[2021-09-15 11:23] NateWr commented on #7282
That's cool, @jonasraoni! When extending `Illuminate\Support\Facades\Facade` and using `getFacadeAccessor`, is your code editor able to pick up the available methods for autocomplete? Like if you type `Locale::get` does it show you that `getLocale()` is a method on the class?

I think that was one of the hurdles I ran into when making the `Repo` facade, but maybe I was doing something wrong.

[2021-09-15 13:21] librariam commented on #4284
Adding a related request from an editor to be able to select reviewer comments from previous rounds to be attached to a decision sent to the author. Currently only current round files are available to be attached.

[2021-09-15 13:28] ajnyga opened #7292 "Publication not published if new version created and is assigned to a new issue"
**Describe the bug**
When an article is published in Issue A and a new version of the article is created and scheduled to Issue B, publishing Issue B will not make the new version of the article public. It is visible in Issue B TOC but the second version of the article remains unpublished.

**To Reproduce**
Steps to reproduce the behavior:
1. Publish a new article in Issue A and publish the issue