[2017-04-28 14:55] #2417 closed

[2017-04-28 14:57] asmecher commented on #2417
Excellent, thanks for all your work helping to track this one down, @ajnyga! Merged to `master`, `ojs-stable-3_0_2`, and `omp-stable-3_1_0`.

[2017-04-28 15:14] ctgraham commented on #2142
If the `user_group_ref` is optional, what should be the criteria for selecting one of potentially many user groups from a user?

[2017-04-28 15:19] ctgraham commented on #2142
Specifically for @asmecher or @bozana, if a User and Group is specified in the import, but the user specified does not currently have that group, is that an error, or is that acceptable?

[2017-04-28 15:26] keldeeek opened #2480 "Upload an image error"
Hello,

Uploading an image in wysiwyg editor doesn't work in OJS 3.0.2.0 with the php error:
PHP Fatal error:  Call to a member function getUserVar() on a non-object in /WebServer/ojs3/data/classes/i18n/AppLocale.inc.php on line 70, referer: http://ojs3.ioffe.ru/plugins/generic/tinymce/plugins/justboil.me/dialog-v4.htm

![screen shot 2017-04-28 at 16 26 16](https://cloud.githubusercontent.com/asse

[2017-04-28 15:41] asmecher commented on #2480
This is a duplicate of https://github.com/pkp/pkp-lib/issues/1919 -- I'd suggest adding your feedback there.

[2017-04-28 15:41] #2480 closed

[2017-04-28 15:42] ctgraham commented on #2220
Bump; review requested.

[2017-04-28 18:23] asmecher opened #2481 "Reviewer has access to manuscript after declining review request"
See http://forum.pkp.sfu.ca/t/reviewer-has-access-to-manuscript-after-declining-review-request/30660 for details.

[2017-04-28 18:29] asmecher commented on #2481
@ajnyga's PR, which fixes the front-end behavior: https://github.com/pkp/pkp-lib/pull/2478/commits

[2017-04-28 18:40] asmecher commented on #1828
My worry with backing a vocabulary in a database is that any 3rd-party standard is going to evolve -- loading it into the database (possibly in translations) will mean having to maintain changes there, and more often than not, deal with obsolete lists. The country/language/currency lists are a good parallel -- we've always kept those in XML and it's made maintenance way easier.

Thanks for the hea

[2017-04-28 18:49] asmecher commented on #2481
Pulls:

- https://github.com/pkp/pkp-lib/pull/2482
- https://github.com/pkp/ojs/pull/1368
- https://github.com/pkp/omp/pull/407

[2017-04-28 19:23] ajnyga commented on #1828
It is likely that a thesaurus or ontology will evolve. However, I do think that the URIs in thesaurus like YSO are always persistent identifiers, meaning that they will resolve somewhere - keywords/URIs are not just dropped. Also, OJS users are backing vocabularies to the database all the time, they just do not have a technical integration between a vocabulary and OJS.

The XML solution is a good

[2017-04-28 19:26] ajnyga commented on #2481
wow, there was a lot more to it than I thought :)

[2017-04-29 15:26] asmecher commented on #1828
@ajnyga, I don't know that standard at all, but at a glance it looks like it contains the meat of the dictionary plus a lot of tangentials (deprecated concepts, various metadata, etc). This reminds me a little of the ONIX schema we include with OMP -- in that case we used a few different tools to make an unwieldy set of XML into something usable: IIRC an XSL to strip out some unwanted elements, an

[2017-04-29 15:32] asmecher commented on #2220
Sorry for losing sight of this one, @ctgraham -- it looks good, thanks. Merged.

[2017-04-29 15:32] #2220 closed

[2017-04-29 15:49] asmecher commented on #2481
@bozana, would you mind taking a look at the PRs above?

[2017-04-29 17:04] ajnyga commented on #1828
Thanks. Yes, it is a ontology, so not just about the words but more about the relationships between the words.

I have to think about the your solution with ONIX. This would require a lot of other changes as well, I mean fetching words from XML in the frontend and OAI etc. Also this would require regular updates of the local XML file.

For a quick solution I will probably just go with saving the k

[2017-04-29 17:46] economystic commented on #1902
Yes. This solves the issue.

On Apr 24, 2017 18:31, "Alec Smecher" <notifications@github.com> wrote:

[2017-04-29 17:49] asmecher commented on #1902
Great, thanks for confirming!

[2017-04-29 17:49] #1902 closed

[2017-04-29 19:31] asmecher commented on #1828
Sounds good, @ajnyga. There may well be elements that'll be difficult to implement purely by plugin -- I haven't considered this in detail yet -- and if that's the case, changes to the core codebase may be needed. If so, I think these would be well worth integrating because this is a worthwhile feature. That said, I do think the current behavior is likely to remain as the default, because of the d

[2017-05-01 13:39] ctgraham opened #2483 "Default email signature is wrapped in nested anchor tags"
As a result of https://github.com/pkp/pkp-lib/issues/2064, URLs passed through mail template parameter assignment are wrapped in `a` tags on-the-fly:
https://github.com/pkp/pkp-lib/blob/594043e323656965698bd0862355472358c69697/classes/mail/MailTemplate.inc.php#L253-L255

The default email signature is, however, already wrapped in an `a` tag:
https://github.com/pkp/ojs/blob/8c8c13780e5760221ad272d6

[2017-05-01 15:16] NateWr commented on #2163
Ok, another update.

PRs:
https://github.com/pkp/pkp-lib/pull/2399
https://github.com/pkp/ojs/pull/1337

The big picture changes:
- Uses @kaschioudi's services layer to share code between REST API and UI component controllers. [Example](https://github.com/NateWr/pkp-lib/blob/i2163_js_with_api/classes/services/SubmissionService.php)
- Uses the Laravel database query builder integrated by @kaschioud

[2017-05-01 23:52] asmecher commented on #2142
@ctgraham, I don't have a strong opinion on this either way -- potentially file under "enough rope to hang yourself".

[2017-05-02 12:12] ctgraham commented on #1791
I'm a little lost.  When I upload a Galley in OJS master, I am prompted to select an "Article Component" for it.  Limiting COUNTER JR1 and AR1 report output (and thus the `ojs::counter` metric) to only galleys with an "Article Component" of "Article Text" and splitting these out (for now) by mime type (pdf, html, other) should cover the use-case.

I don't see the benefit of adding the new associat

[2017-05-02 14:12] bozana commented on #1791
@ctgraham, thanks a lot! -- I did something like you have suggested -- Because the users could create new components, I would consider all components that have $genre->getCategory() == 1 and do not have $genre->getSupplementary() and do not have $genre->getDependent(), like for example the default "Article Text".

I thought to keep the event logs and metrics of those other files for the future, e.

[2017-05-02 14:43] ctgraham commented on #1791
You mean the site settings are only shown for a multijournal install, correct?

According to the [COUNTER 4.1 schema](http://www.niso.org/schemas/sushi/counter4_1.xsd), the Vendor Name should be the "organizational name" of the "content provider".  The Vendor Contact(s) should be the "details of a person to contact" at the "organization" which is the "content provider".

For single-journal site in

[2017-05-02 14:51] bozana commented on #1791
Thanks a lot @ctgraham, I'll take a look, how to adapt it... :-)

[2017-05-02 15:06] ctgraham commented on #2142
If the user group is optional, I'm preferring any of the user's current groups which has access to the specified stage.

[2017-05-02 15:21] ctgraham commented on #2461
@bozana, thanks for the pointer to #2142.  If you would review the pulls there, I'll get back to working on this one.

[2017-05-02 22:22] crism commented on #1963
I believe this depends on #2443; noting that here so I don’t forget if I get pulled away for a week or two… again.

[2017-05-03 09:17] trenkert opened #2487 "[OJS] Any timeline for updated plugins?"
Is it possible to give a prospective timeline for the updates on plugins for OJS3?

Especially the

- browse plugin
- customlocale plugin

It would really help if developers and admins knew at which point which plugins will (may) be available again.

[2017-05-03 09:53] bozana commented on #2481
Looks good @asmecher. I merged till everything is still mergeable and green ;-)

[2017-05-03 11:39] bozana commented on #1791
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2489
ojs master: https://github.com/pkp/ojs/pull/1370

[2017-05-03 11:47] bozana commented on #1791
@asmecher and @ctgraham, could you take a look at the PRs above? -- Those PRs consider the new assoc type for other files (to log and save them in the DB) that will not be considered in UsageStatistics and COUNTER plugin. If this is not wished, I will change it i.e. totally remove them, so that they are not tracked at all.
@ctgraham, it would be great if you would have a possibility to test it. If

[2017-05-03 17:12] asmecher commented on #2487
@trenkert, could you post this on our forum at http://forum.pkp.sfu.ca/? this isn't really a bug report, so the forum is a better venue for it.

[2017-05-03 17:12] #2487 closed

[2017-05-03 18:42] ajnyga commented on #2376
Hi @defstat and @asmecher
One of our journals just reported this issue again, so it seems that the pr above did not fix it.

They described that they first added articles to one section and then reordered those in the issue toc. After that they returned to quicksubmit and added articles to other sections and upon returning to issue toc to reorder function did not work anymore - after saving the or

[2017-05-03 19:37] ctgraham commented on #1528
The `./user/registrationComplete` introduced here is:

- Accessible outside of the workflow of registration
- Accessible following registration at a site context, but displaying a "make a new submission" link. (This introduces a "No _[context]_ in context" error if followed. (cf. http://forum.pkp.sfu.ca/t/modifying-userregistercomplete-tpl/30720/1)

Should this be followed up here, or introduced a

[2017-05-03 19:51] asmecher commented on #2163
@NateWr and @kaschioudi, I'm still not sold on the use of a new database layer here. It looks like our use of it is still pretty lightweight, i.e. the code with the query builder is not so different from our usual approach of hand-building SQL (though it's possible I'm missing the motivating case). The `illuminate/database` package [requires](https://packagist.org/packages/illuminate/database) PHP

[2017-05-03 20:10] asmecher commented on #2443
PRs:
- https://github.com/pkp/pkp-lib/pull/2486
- https://github.com/pkp/ojs/pull/1369
- https://github.com/pkp/omp/pull/408

@crism, before I can merge these, you'll need to change all import statements that referred to the `AuthPlugin` class in its old location to refer to the new one. For example, in `plugins/auth/ldap/LDAPAuthPlugin.inc.php`, you'd need to change

    import('classes.plugins.A

[2017-05-03 20:15] kaschioudi commented on #2163
@asmecher I am not using the whole Laravel framework but only the illuminate/database which is database toolkit submodule.

The intent here is to use illuminate/database as a helper library to build SQL queries in a more elegant way by taking advantage of its expressive query builder. The library is compatible with PostgreSQL and MySql so that take away part of the pain of writing queries compatib

[2017-05-03 20:32] crism commented on #2443
Oops… thanks, @asmecher. #2486 and pkp/ojs#1369 are fixed. I didn’t find any references in pkp/omp.

[2017-05-03 20:47] asmecher commented on #2163
OK, that resolves the version number issue, and if it looks worthwhile we could consider bumping the PHP requirements for our apps further.

I'm still not sure about the motivation for introducing this right now. I don't mind the idea of a query builder, but the defining feature for choosing an ADODB replacement (and we need one, and hopefully not more than one) is the schema management toolset, n

[2017-05-03 21:22] asmecher commented on #2443
Thanks, @crism. Note that the Travis tests are failing, presumably because the `pkp-lib` submodule isn't getting checked out from your branch. Try adding a submodule commit instructing the checkout script to grab the code from your branch -- there are instructions here: https://pkp.sfu.ca/wiki/index.php?title=Github_Documentation_for_PKP_Contributors#PKP_library_submodule_changes

Hopefully that'l

[2017-05-03 21:33] asmecher commented on #1791
@bozana, I just took a skim over it, but I don't know much about this part of the system -- I'm hoping @ctgraham is able and willing to give it a review and test. That said, reading over it I don't see any problems jumping out at me.

[2017-05-03 21:44] crism commented on #2443
Ah, thanks, @asmecher. I wasn’t sure how to fix that.

[2017-05-03 21:49] asmecher commented on #1791
@ctgraham, regarding...

There's no particular reason -- it's something we could certainly improve.

[2017-05-03 22:02] asmecher commented on #2443
Close, thanks -- but it looks like you'll need to rebase; try pulling from the official repo and then rebasing your branch on it. Otherwise there's a merge conflict and the Travis testing doesn't get kicked off.

[2017-05-03 23:22] crism commented on #2443
@asmecher, is there a way to get at the Travis screenshots to see what the actual error message is?

[2017-05-03 23:53] asmecher commented on #2443
@crism, you can see the full Travis log by looking at each build, e.g. https://travis-ci.org/pkp/ojs/jobs/228530204. It looks to me like the checkout still isn't getting your branch:

I think the problem is that you've got a `/` in your branch name -- the script isn't prepared to handle that. I'll try out a renamed branch on my own account and let you know how it goes shortly.

[2017-05-04 00:22] asmecher commented on #2443
Yup, that appears to have done it: https://travis-ci.org/asmecher/ojs/builds/228556252
I'll merge your branches and ensure that the master branch tests OK, but I don't expect problems. Obviously it would be better not to fail on branches with `/` in the names, but for now I'd suggest avoiding them.

[2017-05-04 00:22] asmecher commented on #2443
Merged, thanks!

[2017-05-04 00:22] #2443 closed

[2017-05-04 00:50] kaschioudi commented on #2163
I did not introduce illuminate/database as a replacement to ADODB and that's the reason why I don't use it to interact directly with the database.

I am actually using that library as a tool to easily construct complex queries without the need to deal with raw SQL directly. At the moment, it's only used to build SubmissionListQueryBuilder (https://github.com/kaschioudi/pkp-lib/blob/api_services_in

[2017-05-04 04:24] crism commented on #2443
Thanks, @asmecher. I was about to blame [GitFlow](http://nvie.com/posts/a-successful-git-branching-model/) for my use of slashes… but I see he uses hyphens. I don’t know where I acquired that habit, and I’ll at least consider reforming my ways. `(-:`

[2017-05-04 06:42] ajnyga commented on #2376
EDIT: Hah, turned out that the patch I made a month ago had failed for some reason and we were still using the original code.

But I was able reproduce the original problem based on the description above and can at least confirm that @defstat's patch here does fix the problem :) So carry on.

[2017-05-04 07:36] defstat commented on #2376
@ajnyga Nice to hear it worked.

[2017-05-04 09:04] bozana commented on #2461
Everything merged from #2142, thanks a lot @ctgraham!!!

[2017-05-04 10:17] NateWr commented on #2163
@asmecher I'm not too invested in a query builder and I'm happy going whichever way we decide. But I kind of nudged @kaschioudi down this path so I thought I'd run through how it came about.

SQL is a weak point for me. When I started refactoring the submission list, and interacting with the SQL statements, I had some trouble keeping the params and statements straight and in order:

https://github

[2017-05-04 10:22] bozana commented on #1791
I moved the new constant to the others in the PKPApplication and adapted the copyright year, as @asmecher suggested. @ctgraham, it would be great if you could take a look! THANKS!!!

[2017-05-04 12:25] ctgraham opened #2492 "registrationComplete page allows for UX issues"
The `./user/registrationComplete` page introduced in [#1528](https://github.com/pkp/pkp-lib/issues/1528#issuecomment-239194522) is:

- Accessible outside of the workflow of registration
- Accessible following registration at a site context, but displaying a "make a new submission" link. (This introduces a "No _[context]_ in context" error if followed. (cf. http://forum.pkp.sfu.ca/t/modifying-userr

[2017-05-04 12:30] #2142 closed

[2017-05-04 15:24] asmecher opened #2493 "Consider ADODB replacement"
Introduce replacement toolset for ADODB.
- [x] Core schema management for installation
- [x] Introduce migrations for core upgrades
- [x] Schema creation for plugins
- [x] Upgrades for plugins [not currently supported but will be necessary for future plugin schema changes] [Edit: This was already present but never used! Grep `PLUGIN_UPGRADE_FILE`.]

[2017-05-04 15:27] asmecher commented on #2493
On tools: https://github.com/pkp/pkp-lib/issues/2163 has introduced Laravel's query builder. That framework also has a Migrations toolset (https://laravel.com/docs/5.4/migrations).

Looking at comparables, there's also the standalone [Phinx](phinx.org) migration toolset; there's some discussion of the complications of using Laravel migrations outside of the Laravel framework, and using Phinx inste

[2017-05-04 15:28] asmecher commented on #2163
Thanks, @NateWr and @kaschioudi. This all makes sense, and the tool you've chosen looks fine; I just wasn't planning on grappling with ADODB replacement toolsets yet. I suppose now is as good a time as any to do some research/planning. I've filed this over at https://github.com/pkp/pkp-lib/issues/2493 for consideration. I don't want to hold either of you up, so please continue, and I'll let you kn

[2017-05-04 15:31] asmecher commented on #2493
On migrations: The most difficult aspect of this is probably going to be flipping the upgrade process to something that doesn't require ADODB.

Suggestion: we start coding using migrations tools, invoked from the upgrade script using `<code>` elements (or a new useful shorthand element like that) and avoiding dependence on upgrade steps that depend on ADODB tools like schema XML syncs. Once that's

[2017-05-04 15:31] asmecher commented on #2493
@bozana, I'd love your input on this! Just brainstorming at the moment.

[2017-05-04 16:00] asmecher commented on #2483
@defstat, could you take a look at this? Thanks!

[2017-05-04 16:30] asmecher commented on #2493
Another contender, which (at a glance) has ADODB-like table definitions in XML: http://propelorm.org/

[2017-05-05 10:15] marcbria commented on #2163
Long shot here, but let me point that some CMS moved to generic frameworks that (for instance) include an abstraction layer over multiple DBs.
I think the discussion is between Laravel, Symphony, Yii...
https://opensource.com/business/16/6/which-php-framework-right-you

Again, moving to "the facto" standars will help one day to get more contributions from developers that don't know PKP's API but p

[2017-05-05 13:09] MarHerUMR commented on #2460
@asmecher Thanks for the hint.

On closing a POST request is sent to `index.php/test/$$$call$$$/grid/queries/queries-grid/delete-query?queryId=7&submissionId=1&stageId=3`

The response is `{"status":false,"content":"","elementId":"0"}`

I'm going to have a look a the code and try to understand where the problem is coming from.

[2017-05-05 14:25] defstat commented on #2483
@asmecher @ctgraham At #2494 I approached that a little bit differently than just "fixing" the  https://github.com/pkp/ojs/blob/8c8c13780e5760221ad272d66a9d2c388a34df48/locale/en_US/default.xml#L186-L188, which I am not sure it would be a generic solution.

The https://github.com/pkp/pkp-lib/blob/594043e323656965698bd0862355472358c69697/classes/mail/MailTemplate.inc.php#L253-L255 fix supposes that

[2017-05-05 14:33] ctgraham commented on #2483
I agree that Managers or Editors would reasonably want to add their own `<a href="">somethings</a>` into the mail bodies, and just changing the default from the locale keys would be a poor solution.

I like the idea of checking for `href="{$key}"` explicitly.  Can we assume, though, that only `href` attributes would be reasonably used?  (No `<img src="">` for example?)

Note also that if an URL oc

[2017-05-05 14:47] bozana commented on #2114
@defstat, merged...
I think that we could set the submission locale for AuthorForm as well, and the submission locale could be selected per default in the ArticleGalleyForm, but not required (because also other languages are possible). Also, the file metadata form should have the article galley language as default (and not the UI language as it is now).

[2017-05-05 14:51] asmecher commented on #2460
At a glance, this sounds like https://github.com/pkp/pkp-lib/commit/9a3de6b89006140d606c557ea2986dba4c6c6d70 -- but that should already be included in OJS 3.0.2. Can you double-check your OJS version?

[2017-05-05 15:43] asmecher commented on #2483
I'm an advocate for the [KISS principle](https://en.wikipedia.org/wiki/KISS_principle), having overseen the gradual accumulation of enormous numbers of special cases like this e.g. in the OJS 2.x codebase. Is there a downside to just fixing the locale key, @defstat?

[2017-05-05 15:46] MarHerUMR commented on #2460
Shure. It's an installation of http://pkp.sfu.ca/ojs/download/ojs-3.0.2.tar.gz.

What I've seen so far:

When closing the panel the POST is sent to `index.php/test/$$$call$$$/grid/queries/queries-grid/delete-query?queryId=8&submissionId=1&stageId=3`

Response: `{"status":false,"content":"","elementId":"0"}`

After reloading the page and clicking delete a POST is sent to `index.php/test/$$$call$$$/

[2017-05-05 16:10] defstat commented on #2483
@asmecher two things pops into my mind: The case where someone wants a different name for its URL and if someone edits the email template so that he uses a template variable inside any html tag described by a url (http://stackoverflow.com/questions/2725156/complete-list-of-html-tag-attributes-which-have-a-url-value).

I will check any other occurrences of <a href={$..}> in all templates.

[2017-05-05 17:52] asmecher commented on #2483
OK, sounds good, @defstat, I'm convinced!

[2017-05-05 21:15] asmecher opened #2495 "Speed up test suite"
A change of Travis images appears to have slowed down execution to the point where the tests no longer complete in time. See about speeding them up.

[2017-05-05 22:06] asmecher commented on #2460
Found it, thanks, @MarHerUMR -- try any of the attached patches in the `lib/pkp` submodule. All are equivalent, just applied to different branches.

[2017-05-05 22:06] #2460 closed

[2017-05-08 11:25] defstat commented on #2483
@asmecher @ctgraham You think that we need something else for that fix?

[2017-05-08 13:01] ctgraham opened #2496 "Missing newline between EndNote %P and %V"
See http://forum.pkp.sfu.ca/t/how-to-cite-endnote-issue-merged-fields/30801

I don't understand why yet, but the `if` for "%P" here is omitting the newline:
https://github.com/pkp/ojs/blob/dfd84aa0242ce30ea75207b27a2fe945b113a4ef/plugins/citationFormats/endNote/citation.tpl#L34-L35

[2017-05-08 13:03] ajnyga commented on #382
Hi,

Just a small comment here, hope we will see this in 3.1.

I have seen discussion about having an issues based publication or the publish-as-you-go type of publication. I think that there should be also a option for the combination of these two, namely the preprint model where you publish issues, but also want to publish single articles in advance.

What is also worth thinking is that when the

[2017-05-08 13:13] ctgraham commented on #2496
This seems to be a recurring Smarty argument/bug:
https://groups.google.com/forum/#!topic/smarty-developers/0bJE32HkB7c

[2017-05-08 13:23] ctgraham commented on #2496
Dumb workaround solutions: add a space to the end of the "%P" line; add an extra newline to between the end of the "%P" line and the closing `{/if}`; hardcode a `{"\n"}`.

[2017-05-08 14:03] michaelmeneses opened #2497 "OJS 3.x TinyMCE not activated show error"
**EN**
When updating OJS from 2.x to 3.x, the following error occurred while entering site settings.
As the TinyMCE plugin was not activated it presented this error and did not allow to open the Plugins tab.

I'll submit a correction.

**PT_BR**
Na atualização do OJS de 2.x para 3.x houve o seguinte erro ao entrar nas configurações do site.
Como o plugin TinyMCE não estava atividado apresentava es

[2017-05-08 14:07] michaelmeneses commented on #2497
Pull request **OPEN** in https://github.com/pkp/pkp-lib/pull/2498

[2017-05-08 14:31] bozana commented on #1828
@asmecher, the keywords migration from OJS 2.4.x should then be fixed -- they should be saved as keywords and not as subjects, right? What about the subject classification migration? -- In OJS 2.4.x we had the name and URL of subject classification, thus should this be somehow migrated too or should just the entries be migrated to subjects as they are?

[2017-05-08 15:31] bozana commented on #1807
@NateWr, could you take a look at this PR: https://github.com/pkp/pkp-lib/pull/2499 ?

[2017-05-08 16:34] bozana commented on #2493
I will do some research and thinking... :-)

[2017-05-08 16:45] asmecher commented on #1828
@bozana, there's some confusion in terminology because the OJS2 "subjects" (per the code) field *is* the "keywords" field (per the UI/locales). So the OJS2 to OJS3 upgrade should migrite "subjects" (per the code) to OJS3's "keywords", and "subjectClass" (per the code) to "subjects".

[2017-05-08 16:46] bozana commented on #1828
OK, that's what I meant :-) I would open a new issue just for that (migration issue) ok?

[2017-05-08 17:31] asmecher commented on #1828
Sure, please do.

[2017-05-08 17:32] bozana commented on #2114
@ajnyga, would you agree with this? You have a real scenario i.e. multi-lingual and multi journal installation :-)

[2017-05-08 17:40] ajnyga commented on #2114
Hi @bozana and @defstat, this sounds logical to me, especially the galleyForm! Next step is to implement multilingual author names ;)

And FYI, it is snowing in Helsinki. Snowing. In mid-May.

[2017-05-08 17:47] ctgraham opened #2500 "Native import mismanages file operations"
Multiple problems:

The `NativeXMLSubmissionFileFilter` presumes to delete the temporary file after ingest:
https://github.com/pkp/pkp-lib/blob/1fc4dae0c605bdef39987a1beb32f205ad4c6b4d/plugins/importexport/native/filter/NativeXmlSubmissionFileFilter.inc.php#L221-L223
This file is, however, only a temporary file if `NativeXMLSubmissionFileFilter::handleRevisionChildElement()` processed an `embed` t

[2017-05-08 17:47] bozana commented on #2114
Wow, and I thought Berlin weather is not good :-) Although, I remember one year it was snowing in May here too :-)

[2017-05-08 17:53] bozana opened #2501 "subject and subjectClass migration"
From https://github.com/pkp/pkp-lib/issues/1828#issuecomment-299922155:

[2017-05-08 18:29] asmecher opened #2503 "Add plugin version installation tool"
Per e.g. http://forum.pkp.sfu.ca/t/installing-a-plugin-via-git/30827, there should be an easy way to register a single plugin with the system (e.g. during development) without needing to run the entire upgrade script.

[2017-05-08 18:42] ctgraham opened #2504 "Web Feed plugin causes fatal error if enabled at the site level"
At the site level, `$currentJournal` will be null, and will be used as an object:
https://github.com/pkp/ojs/blob/dfd84aa0242ce30ea75207b27a2fe945b113a4ef/plugins/generic/webFeed/WebFeedPlugin.inc.php#L96-L98

Reported and fixed here: https://github.com/pkp/ojs/pull/1373

[2017-05-08 18:45] #2503 closed

[2017-05-08 18:48] asmecher commented on #2496
Thanks -- merged and cherry-picked. Another option might be to recode this inside PHP rather than using a Smarty template at all; Smarty's not the best when it comes to control over whitespace.

[2017-05-08 18:48] #2496 closed

[2017-05-08 18:53] asmecher commented on #2497
Thanks, @michaelmeneses -- and just for our information, is there a reason you're using OJS without the TinyMCE plugin enabled? A lot of functionality expects it to be working/enabled.

[2017-05-08 19:00] michaelmeneses commented on #2497
@asmecher

I upgraded OJS from 2.4.8.1 to 3.0.2 and one of the site's journals was not TinyMCE enabled. Actually presented this error that prevented the display of the list of plugins.

If errors can happen because TinyMCE is disabled, this is one of them.

[2017-05-08 19:04] asmecher commented on #2497
Was that journal not TinyMCE-enabled on purpose, or was it accidental? (Just collecting requirements.)

[2017-05-08 19:09] asmecher commented on #2504
Merged and cherry-picked -- thanks, @michaelmeneses! Longer term, it would be nice to permit this plugin to operate gracefully site-wide (presumably showing content from all journals).

[2017-05-08 19:09] #2504 closed

[2017-05-08 19:59] michaelmeneses commented on #2497
For now I'm testing the update in the development environment.
I joined the production environment and the TinyMCE plugin is really disabled.
It was not purposeful.

[2017-05-08 20:20] ctgraham opened #2505 "[OJS] Evalute PIE-J best practice recommendations"
[NISO Presentation and Identification of E-Journals (PIE-J)](http://www.niso.org/workrooms/piej) provides best practice recommendations.

Some of these are relevant strictly to a publisher's implementation, but some are relevant to the journal publishing platform.

We should evaluate OJS's compliance with (or disagreement with) [these recommendations](http://www.niso.org/publications/rp/rp-16-2013

[2017-05-08 20:25] asmecher commented on #2505
@stranack and @NateWr -- very relevant for our OJS3.x front-end work.

[2017-05-08 20:50] asmecher commented on #2495
Committed changes to speed up user creation tests (OJS/OMP master); will waiting for feedback from Travis.

[2017-05-08 21:40] asmecher opened #2506 "Fix genre assignment for upgrades"
The upgrade script from OJS 2.x currently sets the `genre_id` to `1`, assuming that this will be `SUBMISSION` default per `registry/genres.xml`. (See https://github.com/pkp/ojs/blob/ojs-3_0_2-0/dbscripts/xml/upgrade/3.0.0_update.xml#L92.)

This may not refer to a genre belonging to the right `context_id`, and assuming knowledge of autoincrement columns is brittle. Fix the upgrade to use `entry_key

[2017-05-08 21:41] asmecher commented on #2506
@bozana, mind taking a look at this one? Thanks!

[2017-05-08 23:27] asmecher commented on #2465
PRs:

- https://github.com/pkp/ojs/pull/1375
- https://github.com/pkp/pkp-lib/pull/2507
- https://github.com/pkp/omp/pull/409

[2017-05-08 23:28] asmecher commented on #2465
@bozana, would you mind reviewing this one?

[2017-05-09 09:38] NateWr commented on #2505
Sorry, I think I'll need more context. I don't really understand any of the specifications as written.

[2017-05-09 10:06] ajnyga commented on #2501
Hi just to be sure I want to mention that the modification should take into account the journals that have already upgraded to 3.0.2 and thus have some of the OJS2 keywords in the OJS3 subject field AND have  the post-upgrade keywords in the keyword field.

[2017-05-09 10:08] ajnyga commented on #2497
Hi, I bumped into this a few times after the upgrade from OJS2. The problem was that when tinymce was disabled in OJS2 and you upgraded to OJS3, you could not enter the plugin settings tab to enable it, I had to do it from the database. It was causing a lot of errors in different settings tabs.

[2017-05-09 12:27] ajnyga commented on #2114
Hi @defstat and @bozana
After applying https://github.com/pkp/pkp-lib/pull/2333 I am getting this error when trying to upload a new galley file:
`[Tue May 09 15:18:43 2017] [error] [client 192.xxx] ojs2: Unknown locale component , referer: http://site.fi/journal/management/importexport/plugin/QuickSubmitPlugin`

Applying https://github.com/pkp/quickSubmit/pull/7 does not fix it.

[2017-05-09 12:53] ctgraham commented on #2505
I would hesitate to call these specifications; rather, these are the recommendations from the NISO PIE-J standing committee, and are deliberately framed without particular technical implementation specification.

That said, Appendix A in the recommendation might be helpful for example-driven context.

In my mind, our core questions are:

- Are we providing a structure where journal content can be

[2017-05-09 13:11] NateWr commented on #2505
For title changes, I think the versioning feature will go a long way towards this. There's a lot to consider, but I'd like to see us work towards always-on versioning by default.

I'd like to see us continue to stay away from engineering specific data input for every piece of recommended data. I think if we added revision history to custom pages, and outlined the recommended data set in our editor

[2017-05-09 13:20] ctgraham commented on #2505
Isn't versioning targeted at the article level?  These recommendations aim at the change of Journal Title and ISSN over time.  For example, "The Journal of Horseless Carriages" becomes "The Journal of Automotive Technology" becomes "The Journal of Point-to-Point Transportation"; each title change results in one or more new ISSN (depending on physical vs. electronic distribution).

[2017-05-09 13:24] ctgraham commented on #2505
We don't want to dive into a-field-for-everything hell, but it is equally problematic to have an industry best practices which enumerates "vitial" elements which we then leave up to the publisher to include in one large freetext field.... at least until we can have them enter it all in some semantically meaningful form.

[2017-05-09 16:04] asmecher commented on #2497
Thanks, all -- perhaps in the longer term it would make sense to build TinyMCE into OJS fully, rather than shipping it as a plugin. But for now this seems to resolve the issue.

[2017-05-09 16:04] #2497 closed

[2017-05-09 16:20] asmecher opened #2508 "Improve editor control over reviews"
The Editor should be able to override a reviewer's "Accept" in case they later change their mind. See http://forum.pkp.sfu.ca/t/canceling-an-already-accepted-review-request-ojs-3-0-2/30728.

[2017-05-09 16:21] asmecher commented on #2508
More broadly, see http://forum.pkp.sfu.ca/t/manually-decline-or-accept-review-invitation-on-behalf-of-reviewer-in-ojs3/27312

[2017-05-09 16:25] asmecher commented on #2508
Also http://forum.pkp.sfu.ca/t/repeat-request-for-review-ojs3/30731

[2017-05-09 17:16] ajnyga commented on #2505
Big thumbs up for supporting journal name history.

Ideally the old names/ISSNs should be available in metadata exports, I mean for example OAI-PMH, and maybe also in journal archive listings etc. One way of dealing with this would be to have a timestamp (startDate, endDate) based list of old names and perhaps a `$journal->getHistoricName()` function to fetch the journal name based on the issue pu

[2017-05-09 19:33] asmecher commented on #2453
@NateWr, is this ready for a review/merge? I'd like to back-port it to OMP 3.1 for another client soon.

[2017-05-09 19:45] mtub commented on #2453
Hi @NateWr , I don't know right now which locales to keep and which ones to drop. I just think in these cases of remove-and-put-back-in it is a little sad to cause extra work for translators (which might never been done, resulting in an untranslated string) even if they never followed the temporary change in en_US. But I don't have the time to check every locale, so I guess we don't have any other

[2017-05-09 23:23] asmecher commented on #2430
This also applies to choosing discussion participants (per SI's request).

[2017-05-09 23:24] asmecher commented on #1447
See also https://github.com/pkp/pkp-lib/issues/2430, where there's discussion of "invisible" users. Presumably that option would also impact the user list that's presented when creating a discussion.

[2017-05-09 23:25] #2176 closed

[2017-05-09 23:33] asmecher commented on #2426
+1, SI is asking for this too.

[2017-05-10 09:41] NateWr commented on #2453
@asmecher Yes, it is. It's just locale changes.

@mtub I understand. I suppose, ideally, we would have some way of signalling that a locale key has changed, without completely removing it. Maybe parsing a diff of changes to `/local/en_US/` between versions?

[2017-05-10 10:16] NateWr commented on #1807
Looks good @bozana. Would you take a look at my PR just above?

https://github.com/pkp/pkp-lib/issues/1807#issuecomment-297303569

Tests passed before (just one timeout), but I've rebased it again for clean merging.

[2017-05-10 11:26] cristiaan3003 commented on #1921
Same problem  . I delete duplicate and pass.

[2017-05-10 11:41] bozana commented on #2501
@ajnyga, I am not sure we can safely move those already migrated -- because we are not sure, what were the old one and what are the new ones -- or do you think we could just consider all i.e. move all subjects to keywords? Else, we could maybe provide an extra SQL that should be manually run by those who are sure they want to do that?

[2017-05-10 11:52] ajnyga commented on #2501
Hi,

I think that all the old OJS2 values are still available in submission_settings?
`SELECT * FROM submission_settings WHERE setting_name = subject`

So maybe:
- load all subject values from the submission_settings table to the new keywords vocabulary, compare to existing values per submission, preserve the already added values which have been done after OJS3 upgrade
- empty the OJS3 subject voc

[2017-05-10 12:04] bozana commented on #2501
Ah ok then :-) THANKS!!!

[2017-05-10 12:34] bozana commented on #1807
@NateWr, it looks good :-) I just do not know if the tests failing is connected with the Travis issue @asmecher mentioned? -- I think so... Thus, do you think we can merge?

[2017-05-10 12:42] bozana commented on #1807
Hmmm... I will merge it now and then later run the major tests locally... and if there is a problem I will try to solve it...

[2017-05-10 12:53] bozana commented on #1807
Everything merged, thus closing...

[2017-05-10 12:53] #1807 closed

[2017-05-10 13:18] bozana opened #2509 "use supported submission locales for galley language"
s. http://forum.pkp.sfu.ca/t/create-new-galley-language-selection-based-on-ui-not-submissions/30851/2

[2017-05-10 13:22] bozana commented on #2509
PRs:
ojs master: https://github.com/pkp/ojs/pull/1377

[2017-05-10 14:51] bozana commented on #2114
@ajnyga, could you please also test if this fix solves it -- it does for me: https://github.com/pkp/quickSubmit/pull/9

[2017-05-10 20:02] ajnyga commented on #2114
hi @bozana, yes it works now, thank you!

I do get  `PHP Fatal error:  Call to undefined method PublishedArticleDAO::getByArticleId() in plugins/importexport/quickSubmit/QuickSubmitForm.inc.php on line 74`, it is easily fixed by changing that to getById, but not sure what that is about? We have OJS3.0.2, the original February flavor.

[2017-05-10 20:18] ajnyga commented on #2114
I am also getting these now:

[code]

[2017-05-10 21:09] asmecher commented on #2508
And http://forum.pkp.sfu.ca/t/login-as-for-reviewer/30844/3 -- apparently the editor can't fill in a review form for the reviewer. (Suggestion there is to add Log In As; not sure that's the best way.)

[2017-05-10 21:40] asmecher commented on #2453
Updated and merged these pulls:
- https://github.com/pkp/pkp-lib/pull/2466 (same old)
- https://github.com/pkp/ojs/pull/1378
- https://github.com/pkp/omp/pull/410

[2017-05-10 21:40] #2453 closed

[2017-05-10 21:41] asmecher commented on #2337
@mtub, all of these appear to be merged -- is this issue ready to be closed?

[2017-05-10 22:21] asmecher commented on #2483
Does this pull cover everything? https://github.com/pkp/pkp-lib/pull/2494

[2017-05-10 22:36] asmecher commented on #2179
I haven't seen any examples of this either despite a lot of poking around, so I'd suggest closing it for now.

[2017-05-10 22:36] #2179 closed

[2017-05-10 22:47] asmecher commented on #1761
@NateWr, this will be a good candidate after the merge of your JS work, but not a high priority for 3.1.

[2017-05-10 22:56] asmecher commented on #1349
I'm not sure this is a good idea while e.g. CrossRef, EndNote, BibTeX support only a single language.

[2017-05-11 07:32] trenkert opened #2512 "Update browse-plugin for OJS 3.1"
Is the browse plugin (https://github.com/pkp/ojs/blob/master/tools/buildpkg.sh#L43) being updated for OJS 3.1?

[2017-05-11 07:47] #2509 closed

[2017-05-11 07:47] bozana commented on #2114
Phew... Thanks a lot @ajnyga, I will investigate... :-)

[2017-05-11 07:53] bozana commented on #2500
Thanks a lot @ctgraham!!!

[2017-05-11 08:43] bozana commented on #2114
@ajnyga, in the same PR I now removed these two lines from the constructor:

That should solve the problem, I think -- at that point there is no such published article, leading to those messages -- the `publishedSubmission` is only needed in the function `execute`.

[2017-05-11 08:50] NateWr commented on #1761
@asmecher, I know you've already got enough on your plate, but if you get a chance you should look into [Webpack](https://webpack.js.org/).

We use it to compile our `.vue` files into a JS bundle. But it's really a more generic file processor that could be used to automate the whole build and packaging process.

[2017-05-11 11:41] ajnyga commented on #2114
ah of course, thanks!

[2017-05-11 11:42] #2114 closed

[2017-05-11 14:20] NateWr opened #2513 "Allow SVG in image uploads?"
Currently we only support `jpg`, `jpeg` and `png`. SVG support is pretty good from IE9 up and Android 2.2.3 up (I think). Should we allow .svg uploads?

Obvious use-case is the logo field.

[2017-05-11 15:42] asmecher commented on #2513
Sure, that sounds worthwhile.

[2017-05-11 15:47] ctgraham opened #2514 "ActiveSubmissionsListGridHandler code cleanup"
Some oddities in ActiveSumissionsListGridHander I noticed:

Do we really intend to filter `$column[]` keys here?
https://github.com/pkp/pkp-lib/blob/ce84dc5479a5fbe492de2dbcd6e28c6a5a36848e/controllers/grid/submissions/activeSubmissions/ActiveSubmissionsListGridHandler.inc.php#L69
Why not just `$columns['editor'] = $editorColumn;`?

If we intend to ignore the `$filterData` parameter here, it shoul

[2017-05-11 15:51] NateWr opened #2515 "When section titles are long they cover article titles in issue table of contents"
![selection_017](https://cloud.githubusercontent.com/assets/2306629/25958928/0c45ee86-366a-11e7-8e79-4eb2c0ad00d6.png)

[2017-05-11 15:51] asmecher commented on #2512
The latest on this is over at http://forum.pkp.sfu.ca/t/ojs-3-0-3-0-1-browse-plugin-doesnt-show/26145 -- if you have general inquiries, the forum is a better resource than this issue tracker (which we use for bugs).

[2017-05-11 15:51] #2512 closed

[2017-05-11 16:05] bozana commented on #2465
@asmecher, everything fine, just minor, minor comments, so please go ahead... :-)

[2017-05-11 16:18] bozana commented on #2405
This is probably solved here: https://github.com/pkp/pkp-lib/issues/2500

[2017-05-11 17:08] piotreba commented on #1369
Maybe publication date of the printed version should be optional? As not always there is a need to distinguish between these two types of dates. These two dates should be as well included in Crossref export metadata (if both dates present). As for DOAJ, I am not sure if they suport these two types of dates. I asked them, but I didn't get answer about that.

[2017-05-11 18:07] ctgraham opened #2516 "Native Import: optional submission dates per schema, but functionally required"
Native Import defines a schema where a submission's date_submitted attribute is optional:
https://github.com/pkp/pkp-lib/blob/9cbfbdf30c2376f84dde513a18dd1c1b838acde7/plugins/importexport/native/pkp-native.xsd#L237

The Filter happily skips the date_submitted if not provided:
https://github.com/pkp/pkp-lib/blob/9cbfbdf30c2376f84dde513a18dd1c1b838acde7/plugins/importexport/native/filter/NativeXmlSu

[2017-05-11 20:07] ctgraham commented on #2516
Also, the submission's date_published is optional:
https://github.com/pkp/pkp-lib/blob/d1f285baf843f918df65f05bf8c16aa789951e51/plugins/importexport/native/pkp-native.xsd#L238

But functionally, if the submission is contained within a parent element, such as an article in an issue, the `populatePublishedSubmission()` method should at least raise a warning if the relationship could not be created.

[2017-05-11 20:23] ctgraham commented on #2516
Well, the article's date_published is more complicated than that.

Populating the article's published submission requires an issue_identification child element:
https://github.com/pkp/ojs/blob/7d3699083fcde888beb722dc417a3c17e043b6eb/plugins/importexport/native/filter/NativeXmlArticleFilter.inc.php#L169-L193

So what sense does it make to allow articles as a child of issues?
https://github.com/pkp

[2017-05-11 21:54] #2465 closed

[2017-05-11 21:55] asmecher commented on #2465
Thanks, @bozana!

[2017-05-12 00:31] asmecher opened #2518 "SUBMISSION_ACK email includes author signature"
See http://forum.pkp.sfu.ca/t/am-i-being-hacked-ojs3/30905

[2017-05-12 00:39] #2518 closed

[2017-05-12 12:32] bozana opened #2519 "do not update copyedit and production notifications in a pre-review discussion"
http://forum.pkp.sfu.ca/t/ojs3-causes-many-errors-in-notificationmanager-line-188/30868

[2017-05-12 12:53] bozana commented on #2519
PR:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2520

[2017-05-12 18:48] mtub commented on #2337
Yes, closing…

[2017-05-12 18:48] #2337 closed

[2017-05-12 18:59] asmecher commented on #2514
I think @NateWr's submission list work -- due for merging in the next few weeks -- will probably moot this.

[2017-05-12 20:07] ctgraham opened #2523 "[OJS3] Native Import doesn't delete Sections added during import after error"
The Native Import generally cleans up after itself if an error occurs, removing Issues and Submissions.
Via UI:
https://github.com/pkp/ojs/blob/568a974aaa2be50ba39dfb67a370a03a4fa36741/plugins/importexport/native/NativeImportExportPlugin.inc.php#L160-L164
Via CLI:
https://github.com/pkp/ojs/blob/568a974aaa2be50ba39dfb67a370a03a4fa36741/plugins/importexport/native/NativeImportExportPlugin.inc.php#L

[2017-05-12 20:30] asmecher opened #2524 ""Primary contact" flag not respected in contact emails"
See http://forum.pkp.sfu.ca/t/primary-contact-vs-list-of-contributors/30732

[2017-05-12 20:30] asmecher commented on #2524
@stranack, shall we simply remove contacts that go to others in the author list? Alternately, remove the "primary contact" designation (unless it's being used somehow I've forgotten)?

[2017-05-12 22:39] asmecher commented on #2320
Re-added; the UI/UX issue WRT role administration remains, but dealing with that separately.

[2017-05-12 22:39] #2320 closed

[2017-05-15 14:55] bozana commented on #2523
@ctgraham, I am not sure any more, but:
a) the imported sections are not so many and self contained if empty (i.e. a section deletion does not have to consider other DB tables/objects) -- so it was/is not such a big problem for journal managers or editors to delete them if necessary.
b) they could be reused -- when a failed import is corrected -- I believe no new same sections would be created aga

[2017-05-15 15:01] TobiasWantzen opened #2525 "[OJS 3.0.2.0] Bug in issueArchive.tpl"
If there is no current or archived issue in OJS, the template `ojs/templates/frontend/pages/issueArchive.tpl` should show `{translate key="current.noCurrentIssueDesc"}`. Instead, it shows an empty page with »0 of 0 items«.

Because $issues is an existing array, `lines 25 to 26` of `ojs/templates/frontend/pages/issueArchive.tpl` should be changed to:
[code]
Maybe a special class for the `<div>` sho

[2017-05-15 15:22] ctgraham commented on #2523
I don't think we should treat parts of the same import differently.  Currently on error of _any_ submission, we delete all issues and all submissions but leave all sections.

Either we should keep any new content that is not in an error state; or, we should roll back all new content due to any error state.  We're pretty close to the second condition.  We can readily flag any new sections included

[2017-05-15 15:53] ctgraham opened #2526 "Native Import should discriminate between errors and warnings"
The `PKPNativeImportExportDeployment` exposes errors which were added to processed objects via an associative array of those processed objects:
https://github.com/pkp/pkp-lib/blob/06bb9cf6bb4b06dbaf17f5cd435321ccbb6d4de2/classes/plugins/importexport/PKPImportExportDeployment.inc.php#L150-L160

This leads to obfuscated code such as:
https://github.com/pkp/omp/blob/138786415a8314d294aab512364be517b6

[2017-05-15 15:55] ctgraham commented on #2523
Refactoring the error/warning handling spans the shared library and multiple plugins, so I'm branching that part to https://github.com/pkp/pkp-lib/issues/2526.

[2017-05-15 16:56] bozana commented on #2523
ok, agree... :-)

[2017-05-15 16:58] Vitaliy-1 opened #2527 "Strange behavior when using 2+ plugins with the same hook"
see: http://forum.pkp.sfu.ca/t/empty-publishedarticle-object-for-most-of-the-published-articles/30927
also: http://forum.pkp.sfu.ca/t/making-a-plugin-for-ojs3/30899/16?u=ajnyga
The problem was seen when using recommend by author plugin + embedGalley https://github.com/ajnyga/embedGalley
OR recommend by author + plugin, that I am developing, but on the same hook (I have changed it already) https://

[2017-05-15 17:20] bozana commented on #2525
PR:
ojs master: https://github.com/pkp/ojs/pull/1386

[2017-05-15 17:20] bozana commented on #2525
Thanks @TobiasWantzen!!!

[2017-05-16 08:25] ajnyga commented on #2481
Was this not ported to 3.0.2?

[2017-05-16 10:12] #2525 closed

[2017-05-16 14:12] bozana commented on #2481
I think it is not. I will take a look what would be needed...

[2017-05-17 08:30] #2461 closed

[2017-05-17 10:08] #2519 closed

[2017-05-17 12:00] prechelt commented on #372
In a few months, I will be able to offer a much more comprehensive approach to this topic:
https://reviewqualitycollector.org

[2017-05-17 13:05] NateWr opened #2534 "Use SVG format of ORCID icon"
Support for SVG is IE9+.

https://figshare.com/articles/ORCID_iD_icon_graphics/5008697

[2017-05-17 13:35] t4x0n commented on #1813
In the editorial process, you not should withdraw your paper at any time, make this part of the process so easy is not a good idea (I say this as editor and author), is important at the first part of the process but if this manuscript was reviewed and improved for publishing in that journal? withdraw the submission is anti-ethical and the reasons should be very justified.

[2017-05-17 13:38] t4x0n commented on #2438
totally! 👍

[2017-05-17 13:57] mxbees commented on #1265
I don't think that the UI/UX stuff should be considered so low-priority. As a user, I'm finding the custom report generator to be a mystery meat machine.

At the moment, my main UI issue is that the date range selects a range of article published, rather than a the number of downloads for a period of time. As far as I can tell, generating such a report is impossible via the UI. Which is kind of a

[2017-05-17 16:22] nerijus opened #2535 "Consider Setup 1 fields to be multilingual"
OJS version 2.4.8-2.

I select another language in the "Form Language" dropbox, press Submit, then enter the info in another language for:
1.1 General Information
1.2 Principal Contact
etc
and press "Save and continue". But the info is changed for English as well. Then if I change the info for the Form Language: English, another language info (entered in the previous step) is overwritten in Englis

[2017-05-17 18:26] ajnyga commented on #1907
Here is a related bug:
http://forum.pkp.sfu.ca/t/unable-to-deselect-volume-number-and-years-in-issue-data-section/30989

[2017-05-17 19:14] Akshar23 opened #2536 "[OJS]"
I recently upgraded from OJS 2.4.8.1 to 3.0.2.0 and i am unable to open my settings under administrator.
Can Someone help me please?

[2017-05-17 19:40] bozana commented on #2536
@Akshar23, could you please post the question in the forum: http://forum.pkp.sfu.ca and also try to give us as much information as possible? E.g. was the upgrade successful, did you get any errors/warnings, what do you see in your apache error log files when trying to open the administrator settings, etc.

[2017-05-17 19:40] #2536 closed

[2017-05-17 19:44] ajnyga opened #2537 "OJS3 upgrade article_galley_settings not migrated to submission_galley_settings"
Hi,

When upgrading from OJS2 to OJS3 the custom galley identifiers are not migrated. In OJS2 they are stored in article_galley_settings, but in OJS3 they are stored to submission_galley_settings. This means that after the upgrade all links directed to the the custom galley identifier do not work anymore. This is easily fixed by copying the values from one table to another, but should be taken int

[2017-05-17 20:04] #2516 closed

[2017-05-17 20:31] ctgraham opened #2538 "OJS2 Layout Editor has link to Issue Galleys, but no handler for Issue Galleys"
In OJS 2.4.8-2, a Layout Editor can navigate to:
User Home -> Layout Editor -> Back Issues -> (Select Issue) -> Issue Galleys

This results in a 404.

The link appears here:
https://github.com/pkp/ojs/blob/ed3813e9d6b632cda67f7fcabd95ad9e5159a3f1/templates/editor/issues/issueToc.tpl#L51

Courtesy of:
https://github.com/pkp/ojs/blob/ed3813e9d6b632cda67f7fcabd95ad9e5159a3f1/pages/editor/IssueManagem

[2017-05-17 21:40] bozana commented on #2537
Thanks a lot mighty migration guru/wizard @ajnyga! :-) I will take a look... :-)

[2017-05-18 04:02] ajnyga commented on #2537
😂

[2017-05-18 09:44] bozana commented on #2535
@nerijus, not all fields/information are meant to be multilingual. The two you have mention (Setup 1.1. and 1.2), for example, are the same for every language, thus, changing the form language and then the entries would just save them, as you have noticed.
On the other side, some fields are multilingual, for example Setup 2.1, and there you can change the form language in order to enter those diff

[2017-05-18 09:54] bozana commented on #1265
Hi @mxbees, could you please give me some more information -- I do not totally understand it :-\
What do you mean with "date range"? I do not totally understand this: "At the moment, my main UI issue is that the date range selects a range of article published, rather than a the number of downloads for a period of time.". Also this: "I'm not sure why the custom report form changed from being able t

[2017-05-18 10:46] bozana commented on #1907
PR for the last comment:
ojs-stable-3_0_2: https://github.com/pkp/ojs/pull/1389

[2017-05-18 10:46] bozana commented on #1907
@ajnyga, may I ask you to take a look at the PR, if so OK?

[2017-05-18 10:48] bozana commented on #2190
Hmmm... Whatever someone is using, if we only display those fields that exist we could get rid of the checkboxes. Except in the case, when somebody wants to keep the info (e.g. volume, number or title) but do not want to show it -- which I do not know why would happen... Right?

[2017-05-18 11:14] ajnyga commented on #1907
This does solve it, but the bug still remains in the getIssueSeries / getIssueIdentification functions.
If getIssueSeries gets called and the journal has disabled all other identification than the title, the function will still return the three zeros. I am thinking of a situation where the same function gets used somewhere else later?

[2017-05-18 11:40] bozana commented on #1907
Yes, I will leave this decisions to @asmecher. -- I am not sure how this function is meant to be used, but I think that it could be only used in the case one of the option (showVolume, showNumber or showYear) is available, like in that issue_summary.tpl -- else it does not make any sense...

[2017-05-18 11:41] bozana commented on #1907
Thanks a lot @ajnyga! I will then merge and cherry-pick it to master...

[2017-05-18 11:46] bozana commented on #1907
maybe to also take this issue into account -- that would change all these approaches: https://github.com/pkp/pkp-lib/issues/2190

[2017-05-18 11:56] ajnyga commented on #1907
I was thinking that it could be solved here: https://github.com/pkp/ojs/blob/master/classes/issue/Issue.inc.php#L506
[code]
With the current template solution, you also have to worry about other themes, like https://github.com/NateWr/bootstrap3/blob/master/templates/frontend/objects/issue_summary.tpl

But if this is due to change with #2190 anyway, then I guess it does not matter that much.

[2017-05-18 12:02] bozana commented on #1907
Yes @ajnyga, that makes much more sense for now -- me crazy, how haven't I thought on that :-\ I'll change it like this for now, till #2190 comes... THANKS!!!

[2017-05-18 12:51] mxbees commented on #1265
@bozana

![ojs2](https://cloud.githubusercontent.com/assets/5183702/26202924/2e99310e-3ba7-11e7-8e76-032173e1b25e.png)

![ojs3](https://cloud.githubusercontent.com/assets/5183702/26202927/31ae9604-3ba7-11e7-8309-58d57035a6a0.png)

[2017-05-18 12:54] bozana commented on #2481
The PRs for ojs-stable-3_0_2:
pkp-lib: https://github.com/pkp/pkp-lib/pull/2539
ojs: https://github.com/pkp/ojs/pull/1391

[2017-05-18 12:55] bozana commented on #2481
@ajnyga, would it be possible for you to test these PRs as well? THANKS A LOT!!!

[2017-05-18 13:13] bozana commented on #1907
PR for pdfJsViewer: https://github.com/pkp/pdfJsViewer/pull/16

[2017-05-18 13:30] lilients commented on #828
Hi @mtub , @bozana and everybody else,

at the project [OJS-de.net](http://www.ojs-de.net/projektbeschreibung/software/index.html) we want to implement the necessary changes for the OpenAIRE plugin ([german description](https://pkp.sfu.ca/wiki/index.php?title=OpenAIREPlugIn_Doku), [code](https://github.com/pkp/ojs/tree/master/plugins/generic/openAIRE)).

I just started having a look at the guideli

[2017-05-18 13:30] bozana commented on #1265
@mxbees, thanks a lot! I think I got it now :-) I will take a look... and if I have some further questions I will come back to you again...

[2017-05-18 13:32] #2523 closed

[2017-05-18 13:33] ctgraham commented on #2538
Seeking input on how this should be permissioned here: http://forum.pkp.sfu.ca/t/scope-of-layout-editor-role/31029/1

[2017-05-18 13:35] ajnyga commented on #2217
Hi @NateWr

I did an interesting experiment with this:

I activated a child theme AND activated Static pages plugins. The Search page works as described above.

I then removed this whole section from the static pages plugin: https://github.com/pkp/staticPages/blob/master/StaticPagesPlugin.inc.php#L104-L143 => the Search page was still working.

BUT, when I removed also this line https://github.com

[2017-05-18 13:35] bozana commented on #2526
Thanks a lot @ctgraham! All PRs are merged... (and GitHub closed the issue)

[2017-05-18 13:36] bozana commented on #2523
Thanks a lot @ctgraham! Also here, all PRs are merged... (and GitHub closed the issue)

[2017-05-18 13:36] ctgraham commented on #2526
Thanks, @bozana; I'm about to import content into our first OJS3 journal!

[2017-05-18 13:41] bozana commented on #2526
:thumbsup:
:four_leaf_clover:
:pray:

[2017-05-18 13:51] ajnyga commented on #1907
Ok, great!

[2017-05-19 10:13] bozana commented on #1907
@ajnyga, I made the changes as you suggested, but only in the master branch...

[2017-05-19 11:17] Ph-We commented on #2288
Hi @asmecher, I've traced the issue might be related to this error in PHP log:
`[19-May-2017 13:09:03 Europe/Berlin] Malformed UTF-8 characters, possibly incorrectly encoded`

[2017-05-19 12:16] ajnyga commented on #1907
Ok, thanks! This is not an issue with our journals, I think. All of them use volume or number to my knowledge.

[2017-05-19 12:30] ctgraham commented on #2526
pkp/ojs#1385 introduces some unset variables.

[2017-05-19 14:46] bozana commented on #828
@lilients, maybe you would like to take a look also at this changes: https://github.com/pkp/ojs/pull/1383. They are for 2.4.x, but maybe there are some of them interesting for your project and for 3.x as well? I haven't taken a look yet, but hopefully soon, then I can tell more... -- just for information...

[2017-05-19 15:30] bozana commented on #1265
@mxbees, hmm.... I've just tested the custom report, and those dates do consider the access date and not the article publish date. Thus, are you sure, that it is different for you?
I have an article published in August 2016 and I have chosen to report the statistics after April 2017 and before May 2017 and I got all the usage numbers for that articles files in April 2017. This is correct, right?

[2017-05-19 15:41] lilients commented on #828
thanks for the info @bozana . I would wait for your review of these changes, so I can include them to the migration.

[2017-05-19 15:54] bozana commented on #2405
@ctgraham, you have solved this, right?

[2017-05-19 15:58] ctgraham commented on #2405
Yes, though I am working on a weird result where a call to `filesize($filename)` returns 0 for a `$filename` of nonzero length in some contexts, so you'll probably see another issue/pr soon.

[2017-05-19 16:08] asmecher opened #2540 "Layout Editors should be able to access Issue Galleys"
There should be a way to permit Layout Editors to work with Issue Galleys.

This dovetails with a few other issues that require some consideration on roles/permissions outside the workflow; see e.g. https://github.com/pkp/pkp-lib/issues/2320 and http://forum.pkp.sfu.ca/t/new-role-permission-level-to-to-solve-a-central-problem-in-ojs/29030.

[2017-05-21 02:32] Akshar23 commented on #2536
Hey,
Thank you for the immediate reply and apologies for the late response.
I have been constantly trying to upgrade OJS on my website,Finally the
upgrade is successful.
I just cleared the cache folder and it worked,I'll help people on the forum
if I see them having same issues.

Thank You
@Akshar23

On Thu, May 18, 2017 at 1:10 AM, bozana <notifications@github.com> wrote:

[2017-05-22 07:58] asubkhankulov commented on #2383
OJS 2.x - is same problem. Fix it, please.

[2017-05-22 08:43] bozana opened #2542 "update Password Reset default e-mail template"
s. http://forum.pkp.sfu.ca/t/users-not-receiving-password-in-password-reset-mail/31031
and https://github.com/pkp/ojs/commit/c794568fe773669d41eff5838f7ab2397676fe11

but also because of other changes after that...

[2017-05-22 13:07] bozana opened #2543 "reload scheduled tasks function for the acron plugin"
Add the Reload Scheduled Tasks function for the Acron plugin in OJS 3 -- as it was in OJS 2.4.

Also, enable AcronPlugin::parseCronTab for DOAJ plugin.

[2017-05-22 13:53] #2526 closed

[2017-05-22 13:57] ctgraham commented on #2500
This check of file operation success is prone to inaccurate results because `filesize()` is cached:
https://github.com/pkp/pkp-lib/pull/2502/files#diff-dcf23c77841b568585f1a1bed7522a63R163

[2017-05-22 14:18] #2405 closed

[2017-05-22 14:21] bozana commented on #2543
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2545
ojs master: https://github.com/pkp/ojs/pull/1396

[2017-05-22 14:23] bozana commented on #2543
@ajnyga, applying these two patches and then reloading the scheduled tasks (Settings > Website > Plugins > Generic Plugins > Acron Plugin > Reload Scheduled Tasks) should add DOAJ to the list of the scheduled tasks and execute it. Thanks!!!

[2017-05-22 14:44] ajnyga commented on #2543
I am getting
`[Mon May 22 17:38:24 2017] [error] [client 192.1xxx9] PHP Fatal error:  Class 'AjaxAction' not found in /public_html/lib/pkp/plugins/generic/acron/PKPAcronPlugin.inc.php on line 94`

[2017-05-22 14:50] ajnyga commented on #2543
Also now when used manually, for example mark registred function, I get:
`[Mon May 22 17:47:46 2017] [error] [client 192.1zddd49] PHP Fatal error:  Call to undefined method PublishedArticleDAO::getByArticleId() in /classes/plugins/PubObjectsExportPlugin.inc.php on line 593`

[2017-05-22 15:07] bozana commented on #2543
@ajnyga, thanks a lot! The first error is my fault :-\
Concerning the second error: did you copied the whole file PubObjectsExportPlugin or just the changes? Becuase that function was called differently in 3.0.2 but was then changed, not it is called like that.
The fix for the first error is coming :-)

[2017-05-22 15:11] ajnyga commented on #2543
@bozana thanks

yes I did, do you think that I could just do the two changes visible here and leave the rest as it is?
https://github.com/pkp/ojs/pull/1396/files

During this week I will try to go through all the local changes I have made since first 3.0.2 release and see that if I could switch to curretn 3.0.2 stable. At the moment my installation is something between 3.02. stable and the origina

[2017-05-22 15:16] bozana commented on #2543
@ajnyga, yes, only the change of the register function in those two OJS classes + the two new functions in the lib/pkp/plugins/generic/acron/PKPAcronPlugin (https://github.com/pkp/pkp-lib/pull/2545/files).
I will backport it to ojs-stable-3_0_2, so you can take it from there then i.e. so you don't have to keep track of this one :-)
The fix for the first error is there now...

[2017-05-22 15:40] ajnyga commented on #2543
thanks!

I am seeing this now in the access log:
`192.xxx- - [22/May/2017:18:31:11 +0300] "POST /$$$call$$$/grid/settings/plugins/settings-plugin-grid/manage?verb=reload&plugin=acronPlugin&category=generic HTTP/1.1" 200`

But the plugin_settings table (acronplugin/crontab) is not updated.

edit: funny thing I noticed. If a open a journal backend (for example https://site.fi/journal/management/sett

[2017-05-22 15:45] bozana commented on #2543
@ajnyga, did you also apply the ojs changes, that change of the register function?

Concerning the URL for admin Administarion link: I would say it is OK, but maybe @asmecher or @NateWr have different opinion?

[2017-05-22 16:09] bozana commented on #2542
PRs:
ojs master: https://github.com/pkp/ojs/pull/1398

[2017-05-22 16:10] bozana commented on #2542
@asmecher, could you take a look at this PR?

[2017-05-22 16:22] NateWr commented on #2543
If I recall, the admin area used to contain some tools that were context-specific. But I think that's no longer the case and I'm pretty sure I've changed the link so that going to the admin always bumps you to `/index/admin/index` now -- but this change is only in the big branch I'm working on merging soon.

[2017-05-22 16:23] bozana commented on #2543
Ah, sorry, I tested it now and it is so already in the master branch :-\ Sorry, sorry, sorry :-(

[2017-05-22 16:23] piotreba commented on #1369
A few more thoughts – how this is going to be implemented for an upgrade? Which publication date type is going to be default one? Will there be any issue (at least) level option to switch between publication date type?

[2017-05-22 18:07] ajnyga commented on #2543
@bozana
I definitely have removed the register function from DOIPubIdExportPlugin.inc.php
And added it to PubObjectsExportPlugin
And as the third change, I edited PKPAcronPlugin

But no matter if I reload in a journal or in index, there are no changes in plugin_settings.

[2017-05-22 19:15] ctgraham opened #2547 "OJS 2.4.x: Article Event log message is untranslated"
OJS 2.4.0 introduced event logging by translation key:
https://github.com/pkp/ojs/commit/6cb785dda057ed17c405caad6ae227ff5c5a34e1

This left the event log message untranslated in the display of an individual event:
https://github.com/pkp/ojs/blob/01a67919b421005d9af5706fc6390575ea5cedd1/templates/sectionEditor/submissionEventLogEntry.tpl#L57

To reproduce, navigate to any event log message added a

[2017-05-23 07:30] bozana commented on #2543
Ah, no wonder @ajnyga, I accidentally deleted the mail line of code changes (`$this->_parseCrontab();` is missing in the manage > reload)  :-\ Sorry, sorry, sorry :-(
I forced pushed, so could you please copy/patch the PKPAcronPlugin function `manage` again? THANKS!!!

[2017-05-23 08:50] ajnyga commented on #2543
Thanks!

I was wondering where the action should take place, but thought that I just do not understand OJS code that well :)

Reload works now!

However, the automatic deposits do not. I am seeing two issues here, I will post them later. I will have to eat lunch now and do a DOI workshop for our journals. I will look at the errors encountered on post them here later.

[2017-05-23 08:54] bozana commented on #2543
OK, thanks a lot!!! :-)

[2017-05-23 11:55] ajnyga commented on #2543
I think it is clearer if I do not make any pr's but just post these here:

bug 1: https://github.com/pkp/ojs/blob/master/plugins/importexport/doaj/DOAJInfoSender.inc.php#L43

bug 2: a situation in multijournal installations. A journal is exporting article metadata to DOAJ, enables the plugin and gives the API key. However, the Acron plugin is run by a journal that does not have DOAJ API key. This

[2017-05-23 12:04] bozana commented on #2537
PRs:
ojs master: https://github.com/pkp/ojs/pull/1401

[2017-05-23 12:04] bozana commented on #2537
@asmecher, could you take a look at the PR?

[2017-05-23 12:08] bozana commented on #2543
@ajnyga, thanks a lot!!!
bug 1: clear
bug 2: I do not understand this totally, because actually it shouldn't happen, s. https://github.com/pkp/ojs/blob/master/plugins/importexport/doaj/DOAJInfoSender.inc.php#L79. I will test...
bug 3: :-O So I will only take the first 6 keywords for now...

[2017-05-23 12:16] ajnyga commented on #2543
Also, although these are only two warnings, the articles are not getting registered for the journal that has DOAJ enabled. API key is there and is working, I have exported single articles without any problem. But the automatic deposit just does not happen.

It really seems like DOAJ is only running this for the journal that triggers the Acron plugin.

Or could it be that the single article with mo

[2017-05-23 12:21] ajnyga commented on #2543
@bozana nevermind number 2: I looked at our database and a journal has entered an invalid apiKey there. I will remove it and run the task again.

[2017-05-23 12:22] bozana commented on #2543
Yes, both are deposit errors, I think and because of that the deposit is not working. I.e. also now it will not work because of the article with more than 6 keywords. If you would wait a second, I will post a fix...

[2017-05-23 12:29] ajnyga commented on #2543
weird limitation that 6 keywords.

[2017-05-23 12:39] bozana commented on #2543
@ajnyga, in the ojs PR above there is now a new commit (https://github.com/pkp/ojs/pull/1396/commits/5997194a4d96827e62e3a7ddf9a32bd2a1e24e45) -- it should fix the bug 1 and 3.

[2017-05-23 12:49] ajnyga commented on #2543
New error:
[code]

[2017-05-23 13:11] bozana commented on #2543
:-( I do not know :-(

[2017-05-23 13:50] ajnyga commented on #2543
@dommitchell do you know if `502 Bad Gateway` could be because of a too large deposit?

Background: we are testing the automatic DOAJ deposits using the DOAJ API. The manual deposit where in OJS we choose the articles to be deposited and click register works. It also uses the DOAJ API.

However, the automatic deposit, which is trying to deposit all the unregistered articles fails with the error ab

[2017-05-23 14:33] lilients commented on #297
Hi @asmecher ,

as you know, I took over from Felix and need to finish this task. 🏁 We have a very simple solution to the problem described. We would like to make the selection of a role mandatory and remove the default check of the reader role, so the user has to select to role on purpose.

![img](https://raw.githubusercontent.com/lilients/img/master/registerAs.PNG)
Would that be a solution you w

[2017-05-23 20:06] ctgraham opened #2548 "OJS 2.4.x: Article Review by Access Key does not log the acting user"
To reproduce:
* Set the reviewer one-click option
* Use the provided access link to review an article
* Login as Editor and view the Article History

Expected: Article History reflects the review action, associated with the user assigned to the access key.

Actual: Article History omits any user information for the review action.

Cause:
Review actions are [logged with `ArticleLog::logEvent()`](ht

[2017-05-23 20:13] ctgraham commented on #2548
I'm going to assume it would not be appropriate to autologin a reviewer based on the use of the ACCESS_KEY.  This would certainly be a quick solution.

[2017-05-23 20:32] ctgraham commented on #2548
Is it possible to call `ReviewerAction::recordRecommendation()` or `ReviewerAction::uploadReviewerVersion()` as a user other than the reviewer?

`SubmissionReviewHandler` as a `ReviewHandler` is the only core caller and current suggests "no":
https://github.com/pkp/ojs/blob/8c8aee18298e664dff7d7a3d8ee19e36d2a6e571/pages/reviewer/ReviewerHandler.inc.php#L116-L119
https://github.com/pkp/ojs/blob/8c8

[2017-05-24 08:01] nerijus commented on #2535
No, Setup 1.1 is not the same. For example, in Lithuanian it is:

Lietuvos mokslų akademijos Leidybos skyrius
Gedimino pr. 3, LT-01103  Vilnius

In English:

Lithuanian Academy of Sciences Publishers
3 Gedimino Ave, 01103 Vilnius, Lithuania

In non Latin based languages (Chinese, Russian, Arabic, etc) it will definitely be not the same.
So it is a bug, could you please reopen it?

[2017-05-24 08:47] bozana commented on #2535
@nerijus, this is not a bug, maybe a feature/change request: Once a decision was made what input fields should be multilingual in the system. For some users/use cases this might not be enough. If you think that some other input fields should be multilingual as well, could you please describe it so (not as a bug but as a feature wish/need) and in more detail i.e. what other fields would you like/ne

[2017-05-24 10:05] nerijus commented on #2535
Yes, it's a feature request, sorry. Is there some list of the fields, which are multilingual?

[2017-05-24 12:05] #2547 closed

[2017-05-24 17:34] asmecher commented on #2535
The multilingual fields are listed here: https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/classes/manager/form/setup/JournalSetupStep1Form.inc.php#L74

[2017-05-24 18:01] jmacgreg opened #2549 "[OJS] refine user role permissions/capabilities"
Adapt something like Wordpress' "capabilities" feature for OJS' roles: journal managers can map specific capabilities (such as allowing image uploads; allowing editorial decisions vs. recommendations; allowing participant management; etc.). Some possible capabilities (please add/modify):

General user stuff:
- HTML/TinyMCE access
- upload image via TinyMCE
- maybe some sort of advanced access cont

[2017-05-24 18:02] jmacgreg commented on #2128
closing in deference to https://github.com/pkp/pkp-lib/issues/2549

[2017-05-24 18:02] #2128 closed

[2017-05-24 18:27] asmecher commented on #2537
Thanks, @bozana -- just one question/comment!

[2017-05-24 19:16] asmecher commented on #2542
Looks good, please go ahead!

[2017-05-24 19:17] asmecher commented on #2383
@asubkhankulov, I'm not sure the issue is exactly the same in OJS 2.x. Can you describe your situation in more detail, i.e. what version of OJS are you using, what email demonstrates the problem, etc?

[2017-05-24 19:50] asmecher commented on #2549
See also https://github.com/pkp/pkp-lib/issues/2540.

I favour "less is more" -- making this too fine-grained would be a mistake, if we can focus on real user requirements and make sensible choices rather than offering too many permutations. (Semi-facetious) example: "[ ] Users should be able to upload images via TinyMCE" is a bad idea -- we would be better served finding out why people want to up

[2017-05-24 20:01] asmecher commented on #372
The reviewer gossip field also needs restoration.

[2017-05-24 20:46] asmecher commented on #2548
At a grep, no, I don't see any cases like that.

We're trying to keep the access keys of limited use -- so they can only be used to perform a review, for example, and not e.g. to pilfer a reviewer account if they're compromised.

Have you considered having `ReviewerAction::recordRecommendation()` and `ReviewerAction::uploadReviewerVersion()` log with `ArticleLog::logEventHeadless` rather than `Art

[2017-05-24 20:50] asmecher commented on #297
Hi @lilients -- we don't currently have any OJS 2.x releases planned (i.e. we're planning to react to demands, such as PHP7 support, but haven't hit one yet). All of our UI/UX type improvements are focusing on OJS 3.x. I think this is an OK proposal, but maybe best left as a local modification? Meanwhile we can try to make sure that the situation is improved longer-term in OJS 3.x.

[2017-05-24 21:06] asmecher commented on #2288
@Ph-We, I think this means that a call to PHP's `json_encode` encountered invalid character encodings. Is it possible that there is non-UTF8 data in your database, or that your database connection parameters in `config.inc.php` aren't appropriate for UTF8?

[2017-05-24 23:23] asmecher commented on #382
I'm not sure about OAI-PMH and pre-prints -- I could foresee any of the following use cases being desirable:
1. Pre-print included, with the finalized article "replacing" it upon publication
2. Pre-prints excluded
3. Pre-prints included, with the finalized article appearing separately upon publication (perhaps linked by relations)

Until we have a concrete request for all that complication, I woul

[2017-05-25 02:03] asmecher commented on #2433
@jmacgreg, is this something that could be done through the Discussions tool, perhaps with some facilitation via templates and the like? Having the Discussions buttons actually make changes, vs. just having them just notify the Editor, feels like a potentially confusing behavior.

Alternately, perhaps we could introduce some kind of requested/confirmed behavior that could be skipped for full Edito

[2017-05-25 02:11] #2470 closed

[2017-05-25 06:49] ajnyga commented on #382
I agree that the main feature here is the option between the current issue based model and the new chronological model (blog model so to speak) and the latter is definitely a good feature for many journals. Probably in general publishing is moving to that direction.

I think that many issue based journals would also benefit for a "browse area", I mean a possibility to show both the issue archive a

[2017-05-25 07:00] ajnyga commented on #2433
I realize that the workflow was totally different in OJS2, but maybe Ubiquity Press' OJS modification for this same issue has something to offer to this discussion: https://github.com/ubiquitypress/OJS-Draft-Editorial

[2017-05-25 07:15] Ph-We commented on #2288
@asmecher, I could reproduce this with three different installations: productive, test, localhost. On the latter  there was only one article with most simple words in its title. And I did not touch `config.inc.php`. So I doubt there could be any non-UTF8 or malformed UTF8 data.

[2017-05-25 13:01] jmacgreg commented on #2433
@asmecher I think it could be (as suggested at https://github.com/pkp/pkp-lib/issues/2549). The Decision buttons would then just have to be hidden, and the SE would make the recommendation in a discussion.

However: there would be no additional notification, or recorded state (eg. "In review: recommendation to accept"). I could see some significant benefit to the "recommendation" being an actual r

[2017-05-25 13:31] ctgraham commented on #2538
In our specific use-case, the Layout Editor is really just responsible for the Article Layout, and should not have been creating an Issue Galley anyway.

In other scenarios, I could definitely see the Layout Editor being responsible for the layout of the Issue, including the Issue Galley and the Issue Cover.

I don't imagine the Layout Editor should ever have access to the Issue Identification or

[2017-05-25 13:33] ctgraham commented on #2540
See also: https://github.com/pkp/pkp-lib/issues/2538#issuecomment-304010638

[2017-05-25 16:38] bozana commented on #2501
PRs:
ojs master: https://github.com/pkp/ojs/pull/1405

[2017-05-25 16:39] bozana commented on #2501
@asmecher, could you please take a look at the PR above?
@ajnyga, it would be great if you could test it with your data...

[2017-05-25 18:13] ctgraham commented on #2505
Comments from the PIE-J Standing Committee:

•	We recommend OJS tell publishers it is better if they create separate pages for each former journal title, rather than relying on a versioning feature.  We agree with the comment by ctgraham that versioning is targeted at the article level, not the journal level. We are not sure how the versioning feature affects public display, but we suspect that th

[2017-05-25 18:21] asmecher commented on #2501
Reading the code, this looks good, thanks, @bozana -- confirmation on a data test would be nice too!

[2017-05-25 20:21] asmecher commented on #2288
@Ph-We, I suspect the message is coming from [JSONMessage.inc.php](https://github.com/pkp/pkp-lib/blob/ojs-3_0_2-0/classes/core/JSONMessage.inc.php#L165). In order to confirm that this is the case, and check what content is causing trouble, can you modify the file and change...

    error_log(json_last_error_msg());

...to...

    error_log(json_last_error_msg());
    error_log("Subject: " . print

[2017-05-26 00:08] asmecher commented on #2433
@jmacgreg, hmm, it does seem pretty important to have the Editor's status indicators show that the submission is awaiting confirmation, so they don't have to e.g. find a textual recommendation somewhere in a discussion.

[2017-05-26 01:58] asmecher commented on #382
@ajnyga, thanks, fully agreed.

[2017-05-26 04:52] ajnyga commented on #2505
I have to say I find the answer a bit problematic. I agree that it is a clear solution, but the journals that have this situation do want to have a continuing archive of their articles in one place. If that archive is split to several individual journals, it is hard to find.

I still support my suggested model above. It would enable to automatically create a journal "history page" which would expl

[2017-05-26 08:52] Ph-We commented on #2288
@asmecher, thanks, now I've got something more informative:
[code]

So it seems to count any Cyrillic characters as malformed UTF8, since they really get malformed on some stage.

[2017-05-26 10:06] NateWr commented on #2549
I'll just outline how this works in WordPress from my experience there. I'm not wedded to the idea but I have seen the benefits of having a system that's pretty flexible.

I don't think we'd need to build a complex UI for managing permissions right off the bat. I see the value more in having a hooked architecture that allows journals to customise their permissions sets with a little bit of code --

[2017-05-26 10:18] NateWr commented on #2433
Is this just relevant to review rounds? If so, they have a status and we could add a decision-pending status there. (I'm using the review round status to flag up status stuff in the new submissions list panel I'm working on.)

[2017-05-26 11:16] ajnyga commented on #828
Hi all,

A general question concerning funding information. Is there any point to handle funder infomation both in the OpenAIRE plugin and in the forthcoming integration with CrossRef funder registry (formerly fundref)?

Should there instead be a **OJS native** way of handling (saving, fetching) funder information (funder name, funder id, project id, grant id) and use that information for both Ope

[2017-05-26 11:23] ajnyga commented on #2501
I am going to test upgrading our server with git during next week, so I could try this then. But I can only test the repairKeywordsAndSubjects part, because we are already in OJS3. I do have a copy of our OJS2 database as well, but do not know if I have the time to test that. Next week is my last week at work.

[2017-05-26 11:43] bozana commented on #828
@lilients, what exactly do these items mean (in/for OJS):

- add alternative identifiers (dc:relation)
- add relations to other publications (dc:relation)
- add option to enter persistent identifiers to research datasets (dc:relation)

@ajnyga, I will take a look at those funder registries and information OpenAIRE needs -- in case that each institution (e.g. Crossref and OpenAIRE) has different re

[2017-05-26 11:47] ajnyga commented on #828
I am just worried about a situation where a user has to enter similar kind of funder data to several fields.

[2017-05-26 11:48] bozana commented on #828
Yes...

[2017-05-26 11:52] bozana commented on #2501
I tested it both witch my small amount of data, so anything you can do is very welcome and no worries for the rest! Thanks a lot!!! :-)

[2017-05-26 12:02] joschirr commented on #828
Hi, please be patient and hold on.
We are in preparation of a new release of the OpenAIRE Literature Guidelines which will (among other things) recommend the reuse of certain fields from the datacite metadata standard v4, such as FundingReference. As a consequence this will allow to make use of the FundRef-IDs also for OpenAIRE compatible metadata.

[2017-05-26 12:04] jmacgreg commented on #2433
Hi Nate, yep - just relevant to review rounds, doesn't have any bearing on other stages. (Also, if you have any mockups of the submissions list panel, I'd love to see them. That's one of the areas that has been flagged as under-informative by some of our early adopters, and I'd love to see what you are doing there!)

[2017-05-26 12:28] bozana opened #2550 "unify the use of schedulesTasks for Cron and Acron"
s. http://forum.pkp.sfu.ca/t/any-howto-crontab-somewhere/20929/7

Basically:
-- UI in OJS for admins to see all possible scheduled tasks and to select the needed ones.
-- Add/save all scheduledTask information (e.g. frequency, enabled) into the DB table scheduled_tasks.
-- Cron as well as Acron should then only use this table to get the list of scheduledTasks to be executed.
-- At plugin installat

[2017-05-26 16:56] bozana commented on #2481
@asmecher, could you double check the fix for ojs-stable-3_0_2 above? -- If the next minor release would use that branch, I would do more/consistent cherry-picking/back-porting to that branch for my PRs from now on... :-)

[2017-05-26 20:18] asmecher commented on #2288
Ah, @Ph-We, I found it. The Smarty `truncate` modifier was being used to get the author's first initial for both of those formats, and it's not UTF-8 aware. Try the patch attached to this issue.

[2017-05-26 20:18] #2288 closed

[2017-05-26 20:37] crism commented on #1963
Yuck. It looks like the concept of implicit authentication permeates OJS 2._x_. The Shibboleth plugin registers a callback, but the calls to that callback are all over the place; over 50 references, by a quick count.

Is it even possible to do this as a clean plugin? I’m going to try, but welcome thoughts…

[2017-05-26 20:40] asmecher commented on #1963
@crism, the Shibboleth support was a 3rd-party contribution, possibly more spaghetti than necessary if integration had been approached at a deeper level, and not well maintained. I would be equally happy to see a fresh start.

[2017-05-29 04:31] ajnyga commented on #2543
Maybe @emanuil-tolev could comment the above question?

[2017-05-29 06:57] emanuil-tolev commented on #2543
Bad gateway is not an error you should usually get from the API. Thank you for the log with timestamp. What timezone is that server in (so I can translate to GMT+1, London)?

Also I assume your regular deposit task has continued returning 502 bad gateway these past few days - is that right?

* * *
The keyword limitation is a bit weird and may be a limitation of a much earlier version of DOAJ (perh

[2017-05-29 07:01] emanuil-tolev commented on #2543
In order to deposit, you're HTTP POST-ing to the DOAJ. Having the payload that's giving you 502 Bad Gateway would be great. Especially if the error is so consistently reproducible with that specific payload - as it sounds from this issue.

[2017-05-29 08:34] ajnyga commented on #2543
Hi,

Thanks @emanuil-tolev.

The times are Finnish time, GMT+2. And you are correct, the scheduled task has triggered during the past few days, the latest was:

I will contact the editor of the journal and ask her permission to send you the metadata. Thank you!

[2017-05-29 10:17] ajnyga commented on #2543
Hi @emanuil-tolev
I have the json encoded data that the plugin is trying to export to DOAJ and a permission from the journal. Where can I send it for you to see?

[2017-05-29 10:25] emanuil-tolev commented on #2543
@ajnyga emanuil@cottagelabs.com

[2017-05-29 10:31] ajnyga commented on #2543
thanks @emanuil-tolev, I sent you the data

[2017-05-29 11:15] ajnyga commented on #2543
@bozana do you have an opinion to the question concerning the max amount of keywords: https://github.com/pkp/pkp-lib/issues/2543#issuecomment-304587030
I am pretty confident that at least none of our journals will break the limit of 100.

[2017-05-29 12:08] bozana commented on #2506
PRs:
ojs master: https://github.com/pkp/ojs/pull/1407

[2017-05-29 12:09] bozana commented on #2506
@asmecher, could you please take a look at the PR above?

[2017-05-29 14:20] NateWr commented on #2163
I've now got PRs for all three repos. I imagine I'll be fighting with the tests for a bit, but getting close to ready:

https://github.com/pkp/pkp-lib/pull/2399
https://github.com/pkp/ojs/pull/1337
https://github.com/pkp/omp/pull/412

[2017-05-29 15:54] bozana commented on #1369
From JATS approach:

For @publication-format:

The @date-type (accepted, corrected, pub, preprint, retracted, received, rev-recd, rev-request) attribute we already save in a different way during the workflow, thus here we are only interested in the @date_type = pub i.e. published date. Thus this attribute we can ignore.

I am not sure we need all these examples for @publication-format attribute. I

[2017-05-29 16:07] NateWr opened #2551 "[OMP] Spotlights broken in default theme due to missing javascript"
The spotlights had a bit of JavaScript to toggle between them that was added in this commit: https://github.com/pkp/omp/commit/93a83a2ce481840c1577a4cfb16947b3b9fbadc9#diff-b80f46f36ee855b1f0c1d1ef54ead7f8

It was then accidentally removed when syncing changes from OJS default theme in this commit:

https://github.com/pkp/omp/commit/97e22a38f1fd3282f4e5812859b9ca6059e16da6#diff-b80f46f36ee855b1f0c

[2017-05-29 16:49] asmecher commented on #2549
There are a few existing systems that this might need to interact with:

- Auth framework (obviously)
 - One approach I was thinking about for allowing external systems to alter auth policies is to optionally assign symbolic names to policies. That way a plugin could e.g. look for a policy called `ENSURE_THIS_OR_THAT` and augment/alter it. (Currently there would need to be hard-coded knowledge abo

[2017-05-29 16:51] asmecher commented on #2481
Yes, please go ahead!

[2017-05-29 16:55] asmecher commented on #2163
Yeow, let's get this merged so the rebase sword of Damocles is no longer threatening you. How synced is this with the API work?

[2017-05-29 18:15] bozana commented on #2543
@ajnyga and @emanuil-tolev, it would be great if there would be none restriction for us i.e. if some restriction is necessary, it would be great if DOAJ would then filter i.e. take only the number they need/allow... Would it be possible?

[2017-05-29 18:45] piotreba commented on #1369
Each article should have at least one publication date type, e.g. "online" publication date type as a default, with an option to set second publication date ("print"). This is particularly important for printed back issues, when their original "print" publication year should be also present in OJS (along with a second "online" publication date). OJS is often used for publishing back issues, which

[2017-05-30 09:20] ajnyga commented on #2543
Hi @bozana Emanuil mentioned in an email that hi is not actually working during this week, so we can look at this issue next week.

He did not see any apparent reason why the DOAJ server would give that error while it is running without any problems. Just to be sure, am I not correct that the same `depositXML` function is used when you choose the articles with checkboxes and click `Register`? I am

[2017-05-30 09:59] ajnyga commented on #828
Just for reference, this is a funder registry (fundRef) plugin for OJS3 I have made. I know that PKP is planning to work on a similar integration, but this was among the things I promised to work on in my project last fall: https://github.com/ajnyga/fundRef

[2017-05-30 12:46] bozana opened #2552 "fix warning in RecommendByAuthorPlugin"
s. http://forum.pkp.sfu.ca/t/http-error-during-upload-of-submission-file-ojs-3-0-2-0/31160/11

[2017-05-30 12:58] bozana commented on #2552
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2553
ojs master: https://github.com/pkp/ojs/pull/1409

[2017-05-30 13:02] bozana commented on #2552
@asmecher, OK so?

[2017-05-30 13:29] bozana commented on #1791
@ctgraham, sorry to bother you :-\ Just to see if you will be able to take a look at this?

[2017-05-30 13:37] NateWr commented on #2549
I like that QueriesAccessHelper.inc.php. Is that a pattern new to the Queries or is it in use elsewhere? Maybe I've just been looking at the wrong thing in the past, but this seems a lot easier to interpret then other authorization code I've looked at.

For instance, I can search `getCanOpenClose` in the codebase and immediately pull up how it's used and the code which controls the permission.

Ho

[2017-05-30 13:42] mxbees commented on #1265
@bozana I've done a bunch more digging and I think I understand what is happening. And, yes, the title/label for the date ranges are counter-intuitive.

[2017-05-30 13:55] bozana commented on #1265
@mxbees, so it is working for you now too?
I'll see to change the labels more properly...
THANKS!

[2017-05-30 13:59] ajnyga commented on #2072
Information about DOI versioning in Zenodo:
https://github.com/zenodo/zenodo/issues/954
https://blogs.openaire.eu/?p=2010

[2017-05-30 14:17] bozana commented on #2501
I will merge this... And in case @ajnyga encounters something, I will fix it...

[2017-05-30 14:42] #2542 closed

[2017-05-30 14:42] #2537 closed

[2017-05-30 14:49] bozana commented on #2072
@asmecher, here are the PRs:
pkp/ojs#1277
#2307

[2017-05-30 18:01] asmecher commented on #2549
In a lot of cases we don't have the luxury of coding up a class like `QueriesAccessHelper` to dole out arbitrary answers to access inquiries because authorization questions have bigger coding consequences. (The reviewer and author views are coded completely separate of the editorial views, for example, so building up a policy class that answers "yes" or "no" to access questions related to those wo

[2017-05-30 19:02] jmnicholson opened #2554 "Integration with collaborative authoring platform Authorea"
Hello! Josh, from [Authorea](https://www.authorea.com/), here.

We have received numerous requests from OJS hosted journals/publishers wishing to directly integrate with Authorea for direct submission.  Authorea is a collaborative authoring platform that allows researchers to write in a variety of markup languages (rich text, latex, markdown) and edit and format their papers for virtually any jour

[2017-05-30 19:24] alexxxmendonca commented on #2554
(Hi Josh!)

I would just like to add that SciELO is currently studing a partnership with Authorea. So having this integrated with OJS would benefit us if we go any further with this.

[2017-05-30 20:03] asmecher commented on #2554
Hi @jmnicholson -- we're working on an API for OJS at the moment (see https://github.com/pkp/pkp-lib/issues/1503 for some basics, although the current state of work has gone much further and isn't currently reflected there) and also have other users who have worked on submissions into OJS from other authoring/submission systems (see e.g. https://github.com/OSCOSS/OJS-Authoring-Integration-plugin).

[2017-05-30 20:04] asmecher commented on #2552
Sure, please go ahead.

[2017-05-30 20:12] jmnicholson commented on #2554
Thanks for the quick response! You can find more information about how the submission process from Authorea currently works here (https://intercom.help/authorea/publish/how-do-i-directly-submit-to-a-journal).

In short, any user writing their article on Authorea can select from a dropdown menu within their article to submit their files directly to a journal. In most cases, submissions are sent ove

[2017-05-30 20:57] crism commented on #1963
If this is going to ship with OJS and OMP, it need to be possible to enable and disable, which means it inherits (conceptually) from both `AuthPlugin` and `LazyLoadPlugin`. For now, I’m leaving it as inheriting from `AuthPlugin` and I copied a few methods related to enabling from `LazyLoadPlugin`. Anyone have a problem with that?

[2017-05-30 21:12] crism commented on #1963
When the plugin is enabled:
 - [ ] configuration should allow Shibboleth settings to be entered and stored
 - [ ] configuration should allow assertion of implicit admins
 - [ ] any direct login attempts should be redirected to the Shibboleth provider
 - [ ] all login links should redirect to Shibboleth provider
 - [ ] logins through Shibboleth should successfully create new accounts, if no e-mail

[2017-05-30 23:45] asmecher commented on #2433
Hi @bozana -- something to start thinking about!

[2017-05-31 09:53] ajnyga opened #2556 "[OJS] Difficulties in selecting another tagit field with multiple form locales enabled"
To @NateWr, a minor issue.

I noticed that with the tagit field, in order to select the secondary locale you have to click an area about 200 pixels wide from the beginning of the text field (at least latest Firefox). So for example here, clicking the second field right below the entered words, the second field is activated. But if I click on the right corner of the second field, it is not getting

[2017-05-31 10:02] bozana commented on #2556
Concerning the locales not showing: @ajnyga have you maybe applied these PRs: https://github.com/pkp/pkp-lib/pull/2499 and https://github.com/pkp/pkp-lib/pull/2510, s. b) in this issue: https://github.com/pkp/pkp-lib/issues/1807?

[2017-05-31 10:05] ajnyga commented on #2556
Thanks @bozana definitely have not, but did recall seeing this mentioned somewhere!

[2017-05-31 11:02] bozana commented on #1369
Yes, this would be the case with the solution above...

How are you dealing with that now? -- OJS 2.4.x does not have an option to enter those "print" publication dates. Thus, for the migration from 2.4.x we cannot do anything, because OJS does not have any knowledge about those dates, I think.
We will consider both dates in the native import/export XML for 3.x.
A manual SQL would work, if you wou

[2017-05-31 14:54] NateWr commented on #2556
Yeah the jQuery tag-it field has some issues like this. Basically, the way it works is that it creates a fake input field via styles, and then hides a little input field which appears after the existing words

The demo seems to automatically redirect focus when clicking the outer element:

http://aehlke.github.io/tag-it/

But I'm not sure why it's not doing it in our case. I've tried to wrestle wi

[2017-05-31 16:13] ajnyga commented on #2556
Thanks. This is a minor problem, but seems to happen to me especially when I enter content to the first field. In these situations at least I tend to click the next field further from the right corner. With empty fields I seem to usually click the left corner of the field and the problem of course does not happen. So this is an annoying problem at most.

Hopefully PKP will give a heads up when you

[2017-05-31 16:30] NateWr commented on #2556
Thanks for the heads-up. I don't foresee it happening too soon.

[2017-05-31 19:04] ajnyga opened #2557 "[OJS] pdfJsViewer rendering problems with Safari 10.1."
Hi,

A journal editor contacted me a month ago concerning font problems in pdf files. Originally it seemed that it was a problem with the new Adobe CC suite, but after talking with Adobe and Apple the problem ended up being with the pdf.js library used in OJS, or actually a bug in Safari.

This is a known issue for pdf.js developers, but worth watching if it is resolved soon so that the OJS plugin

[2017-05-31 19:07] ctgraham commented on #1963
Ultimately, we'll want the option of making Shibboleth authentication optional.  That doesn't need to be a requirement here, but it will be one of my goals.

I'm also pretty wary of the hijack-an-acccount-based-on-email-match issue.  This becomes a bigger problem with my ultimate goal of pluggable, hierarchical authentication.  If email matching is to be used for authentication, all email updates

[2017-05-31 19:32] ctgraham commented on #1791
I am willing, but whether I have the ability is still to be seen!  I don't have a real 3.x install with real statistics yet against which to do the testing.  I've been struggling with staffing and project challenges which have demanded mostly administrative and support efforts recently, but I requested some dedicated time for development sprints this month.  I'm not trying to ignore you!

[2017-05-31 20:37] crism commented on #1963
@ctgraham, that’s the kind of thing I worry about—however, the Shibboleth plugin, as I envision it working and as it worked in 2._x_, will take over completely; when enabled, it will be the _only_ way to log in. So Prof. Plum may be using an account to which Dr. Evil _used_ to have access, but he won’t any more.

That said, it should always the be the case that a change of e-mail address should re

[2017-05-31 21:46] stranack commented on #1369
This would help me better display the expected publication date (based on print) with this collection of newly digitized but older books (some from the late 70s):
http://monographs.lib.sfu.ca/index.php/sfulibrary/catalog/series/sfu-archaeology-press

I'd also agree that just displaying the year would be the best option.

[2017-06-01 06:14] bozana commented on #1791
@ctgraham, thanks a lot! It's good to know the situation... so to know what to do with this... :-)))

[2017-06-01 08:18] bozana opened #2558 "Display Monograph DOI"
The monograph DOI should be displayed between the authors and synopsis -- as it is in OJS...

[2017-06-01 08:21] bozana commented on #2558
PRs:
omp master: https://github.com/pkp/omp/pull/413

[2017-06-01 08:23] bozana commented on #2558
@NateWr, could you please double check, if the display place is OK?

[2017-06-01 10:24] piotreba commented on #1369
For all back issues that were print I completely removed any dates via direct sql (no issue and article published date). For Crossref, before I removed all dates in database, I changed them also via direct sql so that a year was a year of the volume (with 01-01 standing for month and day). Then in exported xml metadata for Crossref I removed all "01-01" so that only year left and I changed publica

[2017-06-01 14:06] ctgraham commented on #1963
The case of the malicious journal manager would be problematic primarily in a multijournal context.  If Prof. Plum has an account with access to many journals, and the malicious journal manager only has access to one journal (in which Prof. Plum is registered), this could result in privilege escalation.

[2017-06-01 17:19] NateWr commented on #2163
@asmecher Ok, some progress on the tests. Still some lingering issues:

- The selenium tests are failing right out of the gate. They can't find the `OJS Installation` text. I fixed one issue with this, but I'm not not able to duplicate. I follow the install instructions and I'm able to get to the OJS install screen (and successfully install). Can someone else test? Maybe it's something specific to

[2017-06-01 17:29] asmecher commented on #2163
The shell scripts that run the tests [determine what the test environment is like](https://github.com/pkp/pkp-lib/blob/master/tools/travis/run-tests.sh#L42..L46) (e.g. whether it's a MySQL or PostgreSQL build, etc.) and pass those details to the [Selenium/PHPUnit test that performs the installation](https://github.com/pkp/pkp-lib/blob/master/tests/data/PKPInstallationTest.inc.php#L41..L45). It sho

[2017-06-01 17:31] asmecher commented on #2163
Yup, this is the XML linting script (`lib/pkp/tools/travis/validate-xml.sh`). It checks a blacklist of exclusions (`tools/xmllint-exclusions.txt`) and otherwise checks every XML file it can find in the installation. I'd suggest adding the `node_modules` to the exclusion list.

[2017-06-01 18:04] asmecher commented on #2163
Looking at https://travis-ci.org/pkp/ojs/jobs/238416025, the build scripts dump out a bunch of potentially useful debugging information at the end of the run. Spinning out line 855 (`$ cat error.log`), I see:

    [Thu Jun 01 16:45:47 2017] [error] [client 127.0.0.1] FastCGI: server "/home/travis/build/pkp/ojs/cgi-bin/php.fcgi" stderr: PHP Parse error:  syntax error, unexpected '[' in /home/travis

[2017-06-01 18:56] asmecher commented on #2554
@jmnicholson, as we're a distributed FOSS project, it would be difficult for us to provide you with any sort of comprehensive list of OJS journals that would be able to accept submissions through this mechanism. Would you expect the journal managers/admins to email you individually in order to have their OJS installations listed?

[2017-06-01 19:00] jmnicholson commented on #2554
Yes, we would expect to integrate technically first with one journal and the add journals on a case by case basis after coordinating with individual publishers/editors.

I presume one technical integration is sufficient for covering all journals more or less. Is that right?

Sent from my iPhone

[2017-06-01 19:02] asmecher commented on #1369
Overall, since we're the tool generating e.g. JATS data, not the tool consuming it, we can implement as arbitrary a subset of the possibilities as we like. So far I agree that the publication dates are most important, also having OJS automatically generate a digital publication date, with the option for a print publication date to be entered manually.

@stranack and @piotreba, how big of an issue

[2017-06-01 19:05] asmecher commented on #2554
Yes, use cases like this would typically result in a plugin that would be available to all OJS users, either installed by default or (more likely) available for installation via a discovery/installation interface (called the "Plugin Gallery").

To flip this around, if we had a REST API allowing user account registration and submission creation, would Authorea be in a position to use it? We're work

[2017-06-01 19:21] jmnicholson commented on #2554
Yes, we can tie into any API. I believe that might represent the best solution going forward. Is there a feeling or timeline on when such an API is expected to be complete?

[2017-06-01 19:25] asmecher commented on #2554
That does sound ideal! We're releasing our first crack at a REST API with OJS 3.1 (our next major release, currently planned for this summer). It'll include a number of GET endpoints, but we're not sure yet what PUT/POST operations will be in place. Creating submissions is already on our list. Tagging @kaschioudi, who is currently working on the REST API implementation.

[2017-06-01 19:35] asmecher opened #2559 "Consider introducing autoload behavior"
Using an autoloader, we would be able to remove the `import` function entirely. I suspect there would be a considerable performance improvement and we wouldn't need to deal with pesky maintenance of all those LOCs.

[2017-06-01 19:49] asmecher commented on #2559
@kaschioudi pointed out the Composer autoloader toolset, which is documented here: https://getcomposer.org/doc/01-basic-usage.md#autoloading

At a glance, it looks like this might require us to rename all classes to `.php` instead of `.inc.php` (!!!) -- not impossible, but certainly not ideal.

[2017-06-02 00:39] asmecher commented on #1816
Works in progress:

- https://github.com/pkp/ojs/compare/master...asmecher:i1816-fix2?expand=1
- https://github.com/pkp/pkp-lib/compare/master...asmecher:i1816-fix2?expand=1

[2017-06-02 09:33] ajnyga opened #2560 "[OJS] Reading discussion, list of participants missing"
Hi,

OJS3.0.2.

In some cases the `participantsListPlaceholder` here https://github.com/pkp/pkp-lib/blob/master/templates/controllers/grid/queries/readQuery.tpl#L30 is not getting populated. This does not depend on the submission, because the same submission may have both open discussions where you see the participants and also ones where you do not see. Also the amount or role of the participants

[2017-06-02 10:16] marcbria commented on #723
I arrive to this issue from this conversation and perspective:
http://forum.pkp.sfu.ca/t/plugin-for-displaying-jats-xml-on-article-detail-page-under-abstract-for-ojs3/31053/23?u=marc

This project looks very active and stable and is the source for zotero, mendelay or islandora:
http://citationstyles.org
--> http://citationstyles.org/styles

[2017-06-02 10:55] marcbria commented on #723
citeproc-php 1.0 - updated fork in github mantained by islandora: https://github.com/Islandora/citeproc-php
citeproc-php 2.0 - Very recent refactoring (CSL 1.0.1): https://github.com/seboettg/citeproc-php

[2017-06-02 12:17] #2558 closed

[2017-06-02 15:49] asmecher commented on #2560
Is there anything relevant in the PHP error log? My first suspicion would be that a PHP error is preventing the JSON message containing the replacement DOM elements from replacing the placeholder.

[2017-06-02 16:06] ajnyga commented on #2560
Hi,

Opening a single discussion from the grid does not cause any errors. However, when I acces the page with the discussion grid, I get these:

[code]

[2017-06-02 16:13] asmecher commented on #2560
@ajnyga, what do you see in the two quoted lines of code? Looking at OJS 3.0.2, NotificationsGridCellProvider.inc.php is shorter than 155 lines.

[2017-06-02 16:23] ajnyga commented on #2560
ah sorry, there was an old debugging attempt of this same issue there, some escaped print_r commands. This is the same errors with the 3.0.2 stable code:

[code]

[2017-06-02 16:56] ajnyga opened #2561 "[OJS] Make notification emails for new announcements and issues optional in OJS3"
Hi @NateWr, I was a "bit" slow with this...

Issue described here: http://forum.pkp.sfu.ca/t/make-notification-emails-for-new-announcements-and-issues-optional-in-ojs3-0-2/29513

Basically a lot of journals would like to disable the notification sent to all registered users when an annoucement is written or a new issues is published. Also, the very short notification messages usually cause questio

[2017-06-02 17:00] mfelczak opened #2562 "[OJS] Settings wizard refers to Plugins tab that's unavailable"
Screenshot attached ...

![settings_wizard](https://cloud.githubusercontent.com/assets/200793/26736254/4fed1bb6-4793-11e7-8ace-21fff8004923.png)

[2017-06-02 17:46] stranack opened #2563 "Allow simple HTML in Section Titles"
I need to add italics to a journal section in OJS 3, but the tags are displayed and not rendered:

ECOLOGY AND EMPIRE: <EM>JANE EYRE</EM> AND <EM>GOBLIN MARKET</EM>

Can we add this ability? It looks like article titles can now handle italics, so adding it to section titles would be a helpful addition.

[2017-06-02 18:11] asmecher commented on #2563
See e.g.: http://forum.pkp.sfu.ca/t/how-to-make-italics-in-article-title-in-ojs-3/25598

We'd also need to figure out how to deal with both rich and non-rich variants of the same data. Titles etc. are frequently provided to 3rd-party tools e.g. via OAI, etc., and jamming HTML into those would cause trouble. It's easy enough to strip HTML tags out, but considering other use cases like mathematical

[2017-06-02 18:19] stranack opened #2564 "Inconsistent HTML display in article titles"
Italics display in the TOC title (see The Poetic Life-Form: An Analysis on the Role of Elegy and Form in In Memoriam):
http://journals.sfu.ca/courses/index.php/eng435/index

But not on the article page, where the tags themselves are displayed:
http://journals.sfu.ca/courses/index.php/eng435/article/view/7

### Edits

Metadata support details listed by @asmecher https://github.com/pkp/pkp-lib/issue

[2017-06-02 18:24] asmecher commented on #2564
In OJS 2.x, we used to allow HTML tags in article titles, but never (IIRC) dealt with what that meant downstream e.g. in OAI consumers. Plus it causes problems for users who legitimately want to write e.g. `p < 0.05` in titles; they would need to write `p &lt; 0.05` in the text field, which is totally unintuitive.

I suggest that if we do support this, we need to support it properly (e.g. with a r

[2017-06-02 18:38] asmecher commented on #2562
This should fix it, @mfelczak.

[2017-06-02 18:38] #2562 closed

[2017-06-02 23:07] asmecher commented on #1816
FIXMEs:
- [ ] `nonExpiring` removed from subscription type form; collapse into null value for `duration` and remove?

[2017-06-03 12:49] ctgraham commented on #2505
My take is that the standing committee's recommendation to "create separate pages for each former journal title" is stuck in a mindset of static site management.  It shouldn't be necessary for a journal manager to create static pages within OJS for each journal title, nor should the journal be split across multiple OJS journals to reflect the journal history.  I also support building out journal h

[2017-06-03 19:59] ajnyga opened #2566 "[OJS] OAI request for a single journal shows the deleted records of the whole installation"
This could be a feature or a bug, OJS 3.0.2.

When you open the OAI request page for a single journals (http://site.com/journal/oai) it will show the deleted records of the whole installation, of all journals in the installation. I would expect it to show just the deleted records of the selected journal. The actual records come back correctly.

[2017-06-04 06:47] ajnyga commented on #2338
Hi @bozana a friendly bump to ask whether the work on site level plugins has solved / is solving this for 3.1?

I think you would only have to get $context  and consider these parts of the code:
https://github.com/pkp/pkp-lib/blob/master/plugins/generic/usageStats/UsageStatsSettingsForm.inc.php#L51
https://github.com/pkp/pkp-lib/blob/master/plugins/generic/usageStats/UsageStatsSettingsForm.inc.php

[2017-06-04 12:00] piotreba commented on #1369
Alec, I would prefer to rely only on a year for print versions of a back issues ("year-01-01" may be confusing especially when there are more than one issues per year). Can "date-time"-type field in sql accept only year? Is it possible to have more flexibility with imputing dates in OJS? E.g. I like that currently a published date field is divided into 3 separate parts: month, day, year. Would it

[2017-06-04 15:06] asmecher commented on #1369
SQL dates don't support varying levels of granularity, though the concept could be supported fairly easily with two fields: a `timestamp`/`date`, plus a mask field (e.g. `yyyy`, `yyyymm`, `quarter`, etc). This pattern might be useful enough to apply elsewhere. It's not so different from what ONIX supports but I think the ONIX pattern goes way too far for us (e.g. date spreads, Hijri calendar). I l

[2017-06-05 04:17] Ph-We commented on #2557
Hi @ajnyga, We had several reported problems of this sort with Windows too.

[2017-06-05 04:21] ajnyga commented on #2557
I have hear that as well, especially with Win10 + Firefox. However, I can not reproduce this with Wint7 + Firefox, Chrome and IE or with OSX + Firefox and Chrome. Only with OSX + Safari. The thread at pdf.js repository suggests that this is only a Safari issue, but yes, there is more to it.

[2017-06-05 04:45] Ph-We commented on #2557
Our users reported both the issue with incorrect fonts rendering (OSX, Windows) and incorrect fonts display for certain zoom levels (blurred). The latter I could reproduce in Windows only:  https://github.com/mozilla/pdf.js/issues/7630

Some of our journals had to turn off pdf.js completely.

[2017-06-05 09:18] NateWr commented on #2561
I flagged this as a Major Feature for the first part, to disable emails on announcements and new issues. There seems to be a lot of requests for this.

I think the other work, looking at how users can manage their email notifications, would align with other work we want to do on pinning down the notifications used throughout the system.

[2017-06-05 14:05] defstat commented on #2178
@ajnyga
At the Website Settings of a Journal I added a tab with 2 Grids.
The first one is for NavigationMenus and the second for NavigationMenuItems.

Regarding the NavigationMenusGrid - The user can add a new NavigationMenu giving a title to it. There will be a database flag for each NavigationMenu that determines if its "defaultMenu" or not. "defaultMenus" are those that are specified by OJS ins

[2017-06-05 16:08] asmecher commented on #2557
Hmm, I'm sorry to hear this -- we used to use https://pdfobject.com/ to embed plugins but for a while that was unmaintained, and besides, it presented very inconsistently on different systems and didn't permit e.g. JS tools to interact with the presented content (think Hypothes.is embedding on a PDF view). Moving to PDF.js was a huge improvement and I was hoping it would satisfy everyone. Are you

[2017-06-05 16:32] NateWr commented on #2163
Thanks for the tip on the xml linter and yes, of course the PHP 7 testing is already set up. Not sure what I was thinking.

So the syntax error is in a dependency of Slim API. It's choking on the `[]` array syntax in FastRoute here:

https://github.com/nikic/FastRoute/blob/master/src/functions.php#L12

This seems to have been added in PHP 5.4, so I'm not sure what the issue is.:

http://php.net/ma

[2017-06-05 16:45] asmecher commented on #2163
Ah, interesting. I'm using a FastCGI config of my own ~~demise~~design back in 2014 -- see https://github.com/asmecher/travis-suexec-php -- and I'm configuring PHP execution through `/usr/bin/php5-cgi`. I wonder if there's a different `php7-cgi` or something. Will check.

[2017-06-05 17:27] Ph-We commented on #2557
I was really surprised that it could not render correctly even those PDFs, which were prepared with TEX((
Some possible alternatives: http://www.jqueryrain.com/2012/09/best-jquery-pdf-viewer-plugin-examples/

[2017-06-06 04:34] ajnyga commented on #2557
I am a bit sceptical whether changing the library would help, but it would be fairly easy to do an alternative pdf plugin based on one of the listed viewers there. Probably not many lines would have to change.

I am tracking the issue above. From what I have seen this could a be combination of used fonts, pdf version and browser. We are not getting that many reports about this, but as I said, the

[2017-06-06 10:44] NateWr commented on #2178
@defat, it sounds like you've got it basically in place. I have some thoughts about an alternative UI using the Sidebar grid as an example. You'll get drag-and-drop out-of-the-box, though nesting will still be an issue.

I'm guessing right now you've got something that looks like this:
![selection_033](https://cloud.githubusercontent.com/assets/2306629/26825443/eead070e-4aac-11e7-9db9-1f158f3151e7

[2017-06-06 11:17] NateWr commented on #2163
@asmecher I'm still battling the JS linting tests. I've come across a series of error messages and I can't figure out how to resolve them.

1. Undefined globals: `_` (the Underscore.js lib) and `pkp` (a new global for handling some Vue stuff, deliberately kept separate from `$.pkp` so it's no jQuery dependent). I've added them to the [closure externs](https://github.com/NateWr/pkp-lib/blob/i2163_j

[2017-06-06 11:50] ajnyga commented on #2561
Hi @NateWr

I could do a pr if you decide where the options should be. As I said in the original forum post, there are three options (in my opinion)
1. A separate page under workflow
2. In workflow => emails
3. The other one in Annoucements tab and the other one under Issues

[2017-06-06 12:26] NateWr commented on #2561
I'd like to get some feedback from @asmecher about the best way to handle this. I'm not very familiar with the email notification system.

Unfortunately, we're a bit busy right now prioritizing two big merges -- versioning and the JS changes. So I don't know if he'll have time to put more thought into this until closer to OJS 3.1's release.

[2017-06-06 12:30] ajnyga commented on #2561
Hi,

Controlling the notifications in both cases is fairly straight forward. There is already a rule in the new issue notifications that they are not sent if OJS is not used for publishing content (just the editorial process). So extending that is not a problem.

No rush, I am going to for a vacation starting form tomorrow, so I would not have time to look at this until around the 20th.

[2017-06-06 12:32] Vitaliy-1 opened #2568 "RecommendByAuthorPlugin work only for primary locale"
Basically, plugin show articles in my case only for primary locale (English) and it shows nothing for secondary (Ukrainian).

[2017-06-06 13:39] bozana commented on #2338
@ajnyga, ah sorry, I forgot this one.
I've just spoken with @NateWr, and what you suggest could be the solution for now, till we do not implement something else.
There is only one thing we should consider: We should add an explanation, something like:
On the index page: "The following display options will be used as default i.e. for each journal/context that does not overwrite them."
On the journa

[2017-06-06 13:41] #2462 closed

[2017-06-06 13:48] ajnyga commented on #2338
Yes, leaving tomorrow. Of course you can handle this, it will be a lot faster. But if you have your hands full, I can work with this after my vacation (and http://www.jukola.com/2017/)

[2017-06-06 13:51] defstat commented on #2178
@NateWr Yes I forgot about the "areas". I have them into the database table navigation_menus but I am not sure the best way to add them - I thought that we could add yet another grid there for "areas" and have a dropDown at navigation_menus edit page.

On the other hand, would a plain string identifier "tagging" the navigationMenu be enough?

[2017-06-06 13:55] bozana commented on #2338
Ha! I am curious... :-)

[2017-06-06 14:00] asmecher commented on #2557
Agreed, additional plugins would be easy to write. However, we used to support PDFObject (built in), PDF.js (plugin), and Google Viewer (plugin), but droped everything but PDF.js because it was so superior to the others.

[2017-06-06 14:05] bozana commented on #2568
@Vitaliy-1, could you please explain it a little bit more? Are there maybe also links where I could see it? -- Unfortunately, in my local installation (master branch) I cannot reproduce it :-\

[2017-06-06 14:48] bozana opened #2569 "deleted OAI records not displayed"

[2017-06-06 16:08] #2569 closed

[2017-06-06 16:24] bozana commented on #2566
I found a few more bugs:
-- the deleted records are not displayed if a section or journal is missing because of these JOINs: https://github.com/pkp/ojs/blob/master/classes/oai/ojs/OAIDAO.inc.php#L254-L255
-- if the set = journalPath, the deleted records are not found, because it will only be looked after the exactly the same sets (https://github.com/pkp/ojs/blob/master/classes/oai/ojs/OAIDAO.inc.p

[2017-06-06 16:25] bozana commented on #2566
PRs:
ojs master: https://github.com/pkp/ojs/pull/1414

[2017-06-06 16:26] bozana commented on #2566
@asmecher, could you please take a look at the PR above?

[2017-06-06 17:18] asmecher commented on #2561
In OJS2, we had a manual "Notify Users" feature that I think Editors appreciated and used heavily. We don't have that yet in OJS3, and I think most users find the automatic notification annoying and unpredictable. I'd favour removing the automatic notification entirely and rewriting the manual notification.

[2017-06-06 17:25] asmecher commented on #2163
There's a bit of preprocessing that goes on (in `lib/pkp/tools/buildjs.sh` IIRC). I think you have to actually use two; check other files for examples.

[2017-06-06 17:29] asmecher commented on #2163
`jQuery` externs are defined in `lib/pkp/tools/jquery-externs.js` -- that declaration might need correcting.

[2017-06-06 17:33] asmecher commented on #2163
Welcome to Crockfordland. See e.g. [this type annotation](https://github.com/pkp/pkp-lib/blob/master/js/controllers/grid/filter/form/FilterFormHandler.js#L31..L35). I remember having trouble finding a good reference on exactly what was allowed/expected.

[2017-06-06 17:39] ajnyga commented on #2561
I think that the notify users feature was only related to the publishing of new issues? I could be wrong.

Maybe we could have:
- title field
- pull down menu for prefilling the notification content (like in add participant feature)
- free text field
- checkboxes for choosing which roles receive the notification (these could be hidden by default)

Would this be under Users&Roles?

[2017-06-06 20:32] ctgraham opened #2570 "[OJS 2.x] Instructions for References are wrong"
In OJS 2.x, the instructions for references state:
["Please separate individual references with a blank line."](https://github.com/pkp/pkp-lib/blob/8a03743be11ceeae51e53752a6396c2c52764136/locale/en_US/submission.xml#L16).
This strongly implies that you could paste formatted references with internal linebreaks, separated by blank lines.

The actual tokenizer for references, however, very explicitl

[2017-06-06 20:32] ctgraham commented on #2570
I'm tempted to prefer a solution such as:
[code]

[2017-06-06 21:21] asmecher commented on #2163
@NateWr, on https://github.com/pkp/pkp-lib/issues/2163#issuecomment-306239392 -- I found a fix for the underlying tools, but the repeated deprecations warnings/errors during the build process are a menace that blow the log file size out past Travis' 4MB limit. Fixing this will require a lot of monkeying around, unfortunately, and I don't want to do that while we have some major merges on the horiz

[2017-06-06 21:30] asmecher opened #2571 "Section word count field is inoperative"
When you edit a Section, it's possible to provide a maximum word count.

The field isn't used or displayed anywhere.

[2017-06-06 21:30] asmecher commented on #2571
@stranack, preferences?

- Display it somewhere (e.g. About, where it used to be)?
- Remove it?
- Enforce the abstract word count per the setting during submission?

[2017-06-06 22:14] asmecher commented on #2561
I was picturing this under Tools, but I don't have a strong opinion on this.

Yes, that's correct. For announcements, I was imagining simply a "Send Notification" checkbox on the announcement create/edit form. (But as above, I haven't thought about this in depth.)

[2017-06-07 04:49] ajnyga commented on #2561
Thanks, it's your call. Both solve the original issue.

Do you see problems in having a multipurpose notification tool?  I started to think that this could be very handy for journals, that is  if they do not use it too much.

[2017-06-07 05:25] ajnyga commented on #2560
I have 111 hits with that query. Most of them are referring to user `0`.

There are other cases as well (I will look at these later), but clearly something in the code is creating references to '0' user when you add a discussion. The discussions I am looking were created using the 3.0.2. release.

What probably happens is that when you click add participant, you get the pull down with the names:
!

[2017-06-07 07:15] Vitaliy-1 commented on #2568
Hi @bozana,
I have activated the plugin on our site. It is displayed on article_detail page under `Detail` tab: https://e-medjournal.com/index.php/psp/article/view/19
Maybe it is because a conflict between plugins, that use Footer hook. But I actually don't know, what plugin uses it too.

[2017-06-07 07:44] ajnyga commented on #2571
I will put my spoon in this soup as well (sorry). I suggest:
- do not remove it
- enforce the abstract length during submission
- show the required abstract length above the abstract field in the form

[2017-06-07 07:47] ajnyga commented on #2568
I have not been able to reproduce the conflict situation with embedGalley and recommendByAuthorPlugin with the latest versions of these plugins and the fix @bozana did a while ago. But it could just be that there are other variables at stake here.

[2017-06-07 12:17] bozana commented on #2568
@Vitaliy-1, OK, I think I know where is the problem: the authors are the same if their first, last and middle names are the same, as well as country and affiliation (that is multilingual i.e. it has to be the same for all journal languages), s. https://github.com/pkp/ojs/blob/master/plugins/generic/recommendByAuthor/RecommendByAuthorPlugin.inc.php#L84. Thus, I think that the affiliation of your au

[2017-06-07 12:20] ajnyga commented on #2568
that's bad. What if the author's affiliation changes? That will happen a lot.

[2017-06-07 12:24] bozana commented on #2568
Yes, that was always the problem, also in 2.4.x.
@asmecher, is there any other possibility for now to see if two authors are one and the same author? Could we ignore the affiliation?
:-\

[2017-06-07 12:47] Vitaliy-1 commented on #2568
Yep, that's the case.
Hmm. Our authors are often affiliated to 2 institution and can change, for example, their order from article to article. The only way for the plugin to work not to allow this...

[2017-06-07 14:20] Alinex29 commented on #2571
I agree with @ajnyga suggestions.
It would be truly helpful if we could use the word count field as a filter.

[2017-06-07 14:45] asmecher commented on #2568
Any name-based disambiguation is destined to fail on a lot of cases. It's never going to be reliable. We did it in OJS 2.x and there's probably still a remnant of that in OJS 3.x, but it shouldn't be relied on or maintained further. Going forward, it's better to use ORCID or a similar disambiguating ID.

[2017-06-07 15:22] bozana commented on #2568
@asmecher, would that mean that we should change the plugin to look only after the ORCID? Or, in case when ORCID is not there to keep using the old/current method i.e. if first, middle, last name, country and affiliation is the same?

[2017-06-07 15:26] NateWr commented on #2163
@asmecher Are you sure about the PHP 5.6 tests? I'm getting the same syntax error messages on those tests, suggesting the older php version is running there too: https://travis-ci.org/pkp/ojs/jobs/239924214#L868

[code]

[2017-06-07 15:29] asmecher commented on #2568
I haven't seen any installations make sufficient use of ORCIDs to really have them take over as the only disambiguation method, unfortunately. One option would be to "force" adoption by removing the fallback on names, but I suppose it would be better citizenship for us to preserve the name-based approach as the fallback...

[2017-06-07 15:29] asmecher commented on #2163
I'm still tinkering with this -- let me see what I can do.

[2017-06-07 15:41] asmecher commented on #2560
Ooh, interesting, that does sound like a likely cause. @ajnyga, can you confirm whether clearing those out resolves the original problem flagged in this issue?

[2017-06-07 15:44] asmecher commented on #2561
@ajnyga, I do think a multi-purpose tool will be valuable. There's potentially some overlap, too, with the Discussions tool -- I think we may need to eventually add some templating support, so that commonly-used boilerplate can be easily accessed.

The current notifications system is mostly a holdover from OJS 2.x, and never felt smoothly integrated, either by user experience or coding. I think we

[2017-06-07 16:33] NateWr commented on #2561
When we talk about a "multi-purpose tool", are we just talking about something to email all or a segment of users? Or are we talking about addressing the whole notifications system (batch emails, workflow emails, tasks)?

[2017-06-07 16:36] NateWr commented on #2178
I'd recommend that you just add it as a setting for each menu. So when creating or editing a menu, one of the fields is a dropdown list where they can select one of the areas to place it.

Also, when switching themes, it should maybe automatically assign menus to the areas when the area ids don't match.

[2017-06-07 16:51] NateWr commented on #2163
Ok, sorry, still have a few JS linting errors I'm just not able to resolve:

1. Still getting the issue with [globals](https://travis-ci.org/pkp/ojs/jobs/240444935#L732-L740). As far as I can tell, these are [defined in the externs just like other globals](https://github.com/NateWr/pkp-lib/blob/i2163_js_with_api/tools/closure-externs.js#L302-L323).

2. It's telling me [a property isn't defined on

[2017-06-07 19:52] asmecher commented on #2561
The existing notification system does a lot of different things:

 - Instant notifications ("your form was saved")
 - Persistent notifications and tasks ("all reviews are in, make a decision")
 - Emailed notifications

There's room for improvement in all three, but I suspect the emailed notifications are by far the weakest link. We tried to design it so that overlap between them was shared (e.g. a

[2017-06-07 21:14] asmecher commented on #2163
@NateWr, one quick note on Travis testing -- it turns out that PHP7.0 tests won't work on the master branch either at the moment, so I'd suggest removing that in favour of just PHP5.6 and PHP7.1. It seems that PHP7.0 was a little stricter about enforcing constructor syntax, and PHP7.1 has relaxed that again for the moment. Meanwhile, I'll continue to work on PHP5.6 and PHP7.1 with the correct `php

[2017-06-08 09:27] ajnyga commented on #2568
Hi all,

I also think that it will be long before we can count on ORCIDs in matters like this. Actually I think that in the case of this plugin such time will never arrive, because there are always old archives with authors with no ORCIDs. So this is definitely not something where we can use "force" adoption.

The situation may be different, if we are talking about user accounts in OJS. But even h

[2017-06-08 09:34] ajnyga commented on #2560
I will check when I get back, I am pretty sure it will.

[2017-06-08 10:33] NateWr commented on #2561
I agree, and I think the email-all-users-on-new-issues/announcements is a separate issue altogether. I'd recommend just addressing the bulk emailing aspect in this issue.

I've done some work in trying to handle status issues in the submissions list work. I'd like to continue in that vein for the other notification use-cases.

[2017-06-08 11:15] ajnyga commented on #2561
Hi,
How about
1. adding an on/off setting to the new issue notification.
2. and then changing the announcement function so that you can choose if you want to send the new announcement you are writing to users (+ choose which roles as well).

This way the announcement function would work also as the "multi-purpose email tool".

As a separate but related issue, I think it would be important that in

[2017-06-08 11:48] nerijus commented on #2535
I changed JournalSetupStep1Form.inc.php like this:
[code]

But now my changes in 1.1 General Information->Mailing Address are silently discarded (in any language).

[2017-06-08 13:36] bozana commented on #2535
@nerijus, yes, you would need to do further changes as well, for example:
-- to remove it from here: https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/classes/manager/form/setup/JournalSetupStep1Form.inc.php#L31
-- to change the form variable to be an array, like all the other multilingual fields, here: https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/templates/manager/setup/step1.tpl#L59-L66
-- to

[2017-06-08 13:52] bozana opened #2572 "Additional hooks"
s. http://forum.pkp.sfu.ca/t/hooking-to-publishissue/30863

Add a possibility to hook to a GridHandler operation/function, as well as in the publishIssue and unpublishIssue function.

[2017-06-08 13:59] NateWr commented on #1671
I'm going to close thiis in favor of the new ListPanel component that's coming in. Accessible, keyboard-based ordering is available using `ListPanelItemOrderer`, and will get rolled out as we refactor away from grids.

[2017-06-08 13:59] #1671 closed

[2017-06-08 14:00] bozana commented on #2572
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2573
ojs master: https://github.com/pkp/ojs/pull/1415

[2017-06-08 14:00] bozana commented on #2572
@asmecher, OK so?

[2017-06-08 15:16] bozana commented on #2566
@asmecher, the PRs for ojs-stable-3_0_2 are slightly different. Could you please take a look at them:
pkp-lib ojs-stable-3_0_2: #2574
ojs ojs-stable-3_0_2: pkp/ojs#1417

[2017-06-08 15:23] NateWr commented on #2515
PR:
https://github.com/pkp/ojs/pull/1418

I self-merged this, but I'm leaving the issue open because the Manuscript child theme requires a new release to match OJS 3.1. https://github.com/NateWr/defaultManuscript/commit/c1d8407005f50c1f0d46201640a6f22945a04d15

[2017-06-08 18:49] NateWr commented on #2286
PR:
https://github.com/pkp/orcidProfile/pull/16

@bozana Mind doing a code review on this one?

[2017-06-09 09:13] lilients opened #2575 "[OJS] Upgrade Lucene Plugin"
We would like to adapt the Lucene/Solr plugin ([code + readme](https://github.com/pkp/ojs/tree/master/plugins/generic/lucene), [description](https://pkp.sfu.ca/wiki/index.php?title=OJSdeSearchConcept)) for OJS 3. My plan looks like this:

- [ ]  implement basic search function with Solr in OJS 3
- [ ]  using recent versions of [Solr](https://lucene.apache.org/solr/) and Java
- [ ]  without destroi

[2017-06-09 13:21] NateWr opened #2576 "Color of tasks panel is confusing"
Many testers are confused by the use of pink on the tasks link in the navigation menu. They think it indicates the current page.

My initial thoughts are to reposition the tasks to the top navbar, and have them drop down.

[2017-06-09 13:30] NateWr commented on #1528
Consolidating a related comment from a separate issue https://github.com/pkp/pkp-lib/issues/975#issuecomment-164777350:

[2017-06-09 13:31] NateWr commented on #975
The remaining items are better covered in other tickets. Closing.

[2017-06-09 13:31] #975 closed

[2017-06-09 13:33] NateWr commented on #1528
There are only three items left, and I don't think any will make it into 3.1. The only exception is maybe:

"Copy Orcid ID from submission user to main author https://github.com/pkp/pkp-lib/issues/1528#issuecomment-230051238"

@asmecher I'm going to bump this to OJS 3.2 unless you want to split off the ORCID task for OJS 3.1.

[2017-06-09 13:56] NateWr commented on #1662
I think this has been addressed to some extent for the Submission and Review stages with the new list panel. Each Review Round has one of the following statuses:

[code]

And this information is surfaced in various ways depending on which role is looking at the submission list.

If we want to do something similar for Copyediting and Production, we'll have to generate it for each request. Stages th

[2017-06-09 15:27] jmacgreg opened #2577 "[OJS] display supplementary files in block, rather with galley files"
Links to supplementary files are currently provided in the same way that we provide main galley links, ie. in the TOC. This treats them sort of the same as main galleys (which they aren't), and takes up TOC real estate. These should instead be moved into their own block area.

[2017-06-09 15:38] NateWr commented on #2577
So do you see all supplementary files from all articles being grouped together somewhere on the TOC?

Or do you mean remove them from the TOC and display them only on the article page, in a separate area from the main galleys?

[2017-06-09 15:50] asmecher commented on #1528
The ORCID change was trivial; I've just committed it.

[2017-06-09 15:54] jmacgreg commented on #2577
Hi @NateWr, I would remove them from the TOC entirely - that should only list primary article galleys - and display them in their own content block on the article page, similar but distinct to how the main galleys are already displayed. So taking http://journals.sfu.ca/present3/index.php/demojournal/article/view/6 for example there's already a content block that displays:

[PDF] [XML] [HTML]

We'd

[2017-06-09 16:08] NateWr commented on #1912
True, I'm going to go ahead and close even though we're not actually merged on the new lists yet.

[2017-06-09 16:08] #1912 closed

[2017-06-09 16:16] NateWr commented on #1818
I'm going to defer this until we have a list of additional licenses we'd like to support.

[2017-06-09 16:23] #598 closed

[2017-06-09 17:16] t4x0n commented on #1790
Hi, where can I make some suggestions for Spanish translations? I have my install more accurate that default version (default version have a lot of missing translations). So, maybe I could put my changes here in GitHub, but I don't know where can I put these suggestions... can you please give me a link or some info about that? thanks!

[2017-06-09 18:35] t4x0n opened #2578 "[OJS] when the user is logged ##about.onlineSubmissions.submissionActions## is displayed in Spanish translation (see images)"
In About > Submissions (http://domain.cl/index.php/journal/about/submissions) the text

If you are not login you can see the normal text, but when you are logged is displaying ##about.onlineSubmissions.submissionActions## in the Spanish translation. The translate exist! because is showing when you are not logged, but disappear when you are logged!

Examples:

Logged:
![image](https://user-images.g

[2017-06-09 19:32] stranack opened #2579 "Show all assigned roles in the user profile"
Under the Roles tab on the user Profile page, only Author, Reviewer, and Reader show -- even when I have more powerful roles, such as Editor, Journal Manager, etc. Can we add these roles to the Profile tab?

[2017-06-09 23:43] asmecher commented on #2572
Never mind the other comment I just made (and deleted) -- I misread the `assert` condition. This looks fine, please go ahead!

[2017-06-12 10:18] NateWr commented on #2576
@stranack et al, what do you think about moving the tasks list up to the top bar:

![selection_007](https://user-images.githubusercontent.com/2306629/27029566-c6b20e9e-4f60-11e7-9b5c-d99fc63348d6.png)

Does this downgrade the tasks list too much?

[2017-06-12 10:56] NateWr commented on #2163
Adding another PR to this to update the help guide for the new list panels:
https://github.com/pkp/ojs-user-guide/pull/13

[2017-06-12 11:33] NateWr commented on #2085
PRs:
https://github.com/pkp/ojs/pull/1419
https://github.com/pkp/omp/pull/414

@ajnyga would you be able to test these changes on the frontend before they're committed. I believe the issue was related to automated tap target adjustments done by some devices: if a tap is near but not quite on a link, some devices will fire a `click` event on the link anyway. So to test this on any phone, just try t

[2017-06-12 11:47] NateWr commented on #2473
HI @ajnyga, I'm having trouble reproducing this issue in Chrome's device emulator. It's not a 100% perfect emulation, though.

It sounds like there were some layout issues for you that may have been contributing to the issue. Can you describe that in more detail? You talk about the position of links shifting. Any more details you can provide there might help figure out what was going on.

[2017-06-12 15:28] #2272 closed

[2017-06-12 15:31] asmecher opened #2580 "Correct outdated reference to geo IP tool path"
See http://forum.pkp.sfu.ca/t/upgrade-ojs-2-4-6-ojs-3-0-2-is-failing/31472.

[2017-06-12 16:02] NateWr commented on #1447
PR:
https://github.com/pkp/pkp-lib/pull/2581

Tests only:
https://github.com/pkp/ojs/pull/1420
https://github.com/pkp/omp/pull/415

![selection_009](https://user-images.githubusercontent.com/2306629/27043050-c51d5702-4f90-11e7-9417-90854d74fad7.png)

[2017-06-12 16:13] ajnyga commented on #1447
@NateWr I like the simplicity of the solution!
How about adding "select all" checkbox as well?

[2017-06-12 22:08] asmecher opened #2582 "Fix HTML galley image migration in OJS2 to OJS3"
The old OJS2.x mapping of dependent files is not migrated to OJS3's expectations.

- Set the file_stage for dependent files to 17 (check what that constant is)
- Set assoc_type and assoc_id to 515 (submission file) and file ID of HTML galley
- Remove the defunct `submission_html_galley_images` table and references to it.
- Rename and move images, e.g.:

      mv files/journals/3/articles/244/publi

[2017-06-13 00:51] jmacgreg commented on #2561
Hey @ajnyga we've received reports from clients being surprised by the frequency of these two notification types (new content published; announcement notifications). I think your solution here sounds great: it allows for folks to opt in/out of notifications, and also makes the Announcements function a more useful general tool. So +1 from me. I'd be happy to help test anything you develop, if you l

[2017-06-13 04:57] ajnyga commented on #2473
Hi, I will try to do a screencast of the problem, but I will have the opportunity to do so next Monday.

[2017-06-13 04:58] ajnyga commented on #2561
Thanks @jmacgreg. I can do a pr on this issue, but let's see what @asmecher and @NateWr decide. I like the idea of a general email tool, but just the ability to control these two notifications is fine too.

[2017-06-13 12:17] bozana commented on #2286
@NateWr, sorry for no respond -- I was traveling for a few days -- will do it soon... :-)

[2017-06-13 12:18] NateWr commented on #2286
no problem, no hurry

[2017-06-13 13:07] bozana commented on #2503
@asmecher, this does not consider some other things a plugin could need, for example the filters installation...

[2017-06-13 13:10] NateWr commented on #2561
1. I'm in favor of adding settings to turn issue and announcement notifications off at the journal level (one setting for each).
2. I think that @ctgraham's comment about user unsubscribing is also just as important. A user should be able to unsubscribe from issue and announcement notifications.
3. I'm conflicted about turning announcements into a general email blasting tool. I like that it provid

[2017-06-13 14:00] emanuil-tolev commented on #2543
Hi all,

This is due to a time-out on DOAJ's side. From the payload provided I can see that the DOAJ Bulk Article create API endpoint is being used: https://doaj.org/api/v1/docs#!/Bulk_API/post_api_v1_bulk_articles . As opposed to sending the articles 1 by 1 to the CRUD Article Create endpoint.

This makes sense, except that for some reason our bulk article create endpoint is being slow processing

[2017-06-13 18:30] hcoussy commented on #2582
Hi asmecher,
I (hcl), left a comment on [OJS forum](http://forum.pkp.sfu.ca/t/url-image-html-galley-in-ojs3/31514) today about this problem.
On your 2nd point, do you mean set assoc_type to 515 and assoc_id with file ID of HTML galley ?
I had also problems with the genre_id field that was not instanciate (eg: 46 for image/png). Did you include it ? And in this case I saw image named for example 24

[2017-06-14 05:08] asmecher commented on #2582
@hcoussy, the `assoc_type` should indeed be 515 (`ASSOC_TYPE_SUBMISSION_FILE`), and the ID should be the galley's "main" file ID (e.g. the HTML file ID), not the `galley_id`. I think nonexistent genres might be a different issue. I'll post a migration path in just a sec that might be helpful.

[2017-06-14 05:11] asmecher commented on #2582
So https://github.com/asmecher/ojs/commit/e6ec4aa7a29b03cd1dacf2ab02cd057e5af7d35e should resolve this for OJS master branch, and https://github.com/asmecher/ojs/commit/361ec474b586f3712ce53b2e9c2d00d88f5d6d9b is a near-identical port for the `ojs-stable-3_0_2` branch (i.e. an OJS 3.0.2 release). Apply whichever patch is relevant to your OJS version. Then, in order to kick off the repair without r

[2017-06-14 08:34] Ph-We commented on #2561
Many of our journal managers ask for a somewhat contrary option: they need a simple form (email, name) for users to subscribe to notifications for new announcements and issues.

[2017-06-14 09:03] NateWr commented on #1447
I've been going back and forth on this. I think it would need some design work to implement a select all checkbox, as these controls are usually embedded within a table header/footer where their function is a bit more intuitive.

Alternate idea: should all participants be selected by default? @stranack do you think this would make good sense?

[2017-06-14 10:43] bozana commented on #2286
@NateWr, this looks good. I do not have write permission on this repository, so maybe @asmecher can merge it?

[2017-06-14 18:01] ctgraham opened #2584 "[OJS3] Changing the section does not immediately change metadata requirements"
Testing against OJS 3.0.2.  If one section requires entry of a field, and another section does not require entry of a field, an Editor cannot change the section, complying with the new section's requirements but violating the old section's requirements.

Steps to reproduce:
1) Setup two sections:
 a) Articles: require abstract
 b) Editorials: do not require abstract
2) Submit to the Articles secti

[2017-06-14 18:59] asmecher commented on #2286
Merged, and also added @bozana to the contributors list!

[2017-06-14 18:59] #2286 closed

[2017-06-14 20:16] mtub opened #2585 "[OJS] Update de_DE locale for OJS 3.1 release"

[2017-06-14 21:55] asmecher commented on #2163
@NateWr, here are some JS linting/build fixes to pull into your branches:

https://github.com/asmecher/pkp-lib/commit/48c86e48c275755283bac6d1d76b9e7aa9fdebaa
https://github.com/asmecher/ojs/commit/8e90e9456e409da0aa12e47f0c8a9b63f2ca88f6

These will get it past the current build stage where it's failing, to a new and exciting stage where the failures are different. Does this help? I didn't want t

[2017-06-15 05:52] mtub opened #2587 "[OJS] tell admin which journal they are about to remove"
`<message key="admin.contexts.confirmDelete">Are you sure you want to permanently delete this journal and all of its contents?</message>`

In multi-journal installations, it might be safer to include the name of the journal they are about to remove - string is displayed in a pop-up after clicking on 'Remove' in the list of journals.

[2017-06-15 10:02] mtub commented on #2578
Hi @t4x0n , that key is indeed missing from the Spanish translation. The translation you see while not logged in should be another string. I think that the missing translation of `about.onlineSubmissions.submissionActions` will be added soon during the next round of updating the Spanish locale. (tagging @marcbria)

[2017-06-15 13:51] ajnyga commented on #2099
Many of our editors have contacted us regarding this issue. I think that a warning is the least we could do here.

However it would make more sense, if the links leading to the submission workflow would point to the editor view AFTER the editor/reviewer has done the review? This way the editor could use the common review functions.

[2017-06-15 13:59] NateWr commented on #2163
@asmecher, you're actually on an old abandoned branch. Sorry, it's my fault for leaving the branch around and not cleaning it up properly.

All the latest work is in `i2163_js_with_api`. I've got all those linting issues you identified cleaned up. I only have a few remaining which I can't work out:

1. Some undefined globals: https://travis-ci.org/pkp/ojs/jobs/243265753#L731-L739

2. Some type not

[2017-06-15 14:25] mtub commented on #408
I would like to push this and repeat that the app configuration should not allow deleting assigned DOIs. Requirements of a test mode should not take precedence over real-world requirements. Protecting the persistence of DOIs is an important requirement.

[2017-06-15 14:35] NateWr commented on #2189
PR:
https://github.com/pkp/pkp-lib/pull/2588

Simple CSS fix. Self-merged.

[2017-06-15 14:35] #2189 closed

[2017-06-15 15:04] NateWr commented on #2108
I updated to the latest version (v4.6.4), which is a big jump. I did some clicking around and didn't notice any issues. I also took the liberty of changing the main body text to white to match other input fields.

PRs (tests running):
https://github.com/pkp/pkp-lib/pull/2589
https://github.com/pkp/tinymce/pull/17
https://github.com/pkp/ojs/pull/1422

[2017-06-15 15:12] #2580 closed

[2017-06-15 15:55] NateWr commented on #2078
PRs:
https://github.com/pkp/pdfJsViewer/pull/18
https://github.com/pkp/ojs/pull/1423

(Tests running)

[2017-06-15 16:25] NateWr commented on #1529
None of this stuff is high priority. I'd rather focus on a) UI/UX testing outcomes and b) UI refactoring where we can take a broader look at improvements to components like the discussions grid.

So closing this, but speak up if there's something here you think is really important.

[2017-06-15 16:25] #1529 closed

[2017-06-16 07:28] ajnyga commented on #1447
With the all participants selected as default the only (potential) problem I see is the higher possibility of sending messages to participants by mistake. I mean for example sending a sensitive message to the author by mistake. But this is a theoretical problem.

[2017-06-16 07:32] ajnyga commented on #2543
What do you think @bozana? I am in no hurry with this one. I can just tell the journal editor the register those articles manually and we can then wait for a fix from the DOAJ.

[2017-06-16 07:44] #2572 closed

[2017-06-16 07:48] bozana commented on #2543
@emanuil-tolev, do you maybe approximately know how much time will that fix need? In general I think we can wait, just if it is going to take very long time, I could change it so that we have a functioning version for now...

[2017-06-16 08:50] NateWr commented on #1270
I addressed this in most cases by adding a notice that an editor needs to be assigned. Users with assistant roles assigned to later stages will still not see this notice and get the empty gap, but that's rare in comparison to the usual use-case: the submission stage before an editor is assigned.

![selection_016](https://user-images.githubusercontent.com/2306629/27219327-3a1bf802-5279-11e7-806f-c7

[2017-06-16 09:29] NateWr commented on #2078
Tests passed. Minor HTML/CSS changes so I self-merged.

[2017-06-16 09:29] #2078 closed

[2017-06-16 09:53] NateWr commented on #1070
It looks like #1148 has solved the email issue. So the only thing that remains in this ticket is to check the floating notifications when a reviewer is assigned and make sure they confirm whether an email was sent or not.

[2017-06-16 13:28] NateWr commented on #1070
PR:
https://github.com/pkp/pkp-lib/pull/2591

Tests:
https://github.com/pkp/ojs/pull/1426
https://github.com/pkp/omp/pull/417

[2017-06-16 15:10] NateWr opened #2592 "Clearing template cache should clear .css files too"
Clearing the template cache from the admin area doesn't clear the compiled CSS files. These should be cleared as well during this operation.

[2017-06-16 15:29] NateWr commented on #2587
PRs:

[2017-06-16 15:30] NateWr commented on #2587
![selection_017](https://user-images.githubusercontent.com/2306629/27233371-1911f02a-52b1-11e7-8425-29e6b25ccca4.png)

[2017-06-16 15:35] NateWr commented on #2560
Just a heads up that the recipient selection process will change in 3.1: https://github.com/pkp/pkp-lib/issues/1447#issuecomment-307835364

[2017-06-16 15:49] NateWr commented on #1270
Tests passed. @asmecher would you do code review?

[2017-06-16 17:49] snminton commented on #2577
James and NateWr:
   Just thought I'd weigh in on this, since it arose out of a discussion James and I were having.

   I think having a separate block for supplementary files is important, but I'd suggest that they should also be included in the TOC. In some cases, these supplementary files can be important - for instance JAIR publishes errata as "supplementary files".   Note also that the supple

[2017-06-16 17:50] stranack commented on #1447
I'd be inclined to NOT select all by default, test for a while, and revisit. The ability to select individuals is SO MUCH easier under this new design that I'm fine with having people do some extra checking if needed.

I think a lot of the discussions will be one on one (copyeditor asking author about some detail, layout editor asking copyeditor to confirm some wording, etc.) and not necessary for

[2017-06-16 19:11] ajnyga commented on #1447
We have two journals where decisions are made by a group of editors. This is the original scenario I was thinking when I suggested the "add group" option to the original UI. But as Kevin said, this is already so much quicker that I think this should satisfy them anyway.

[2017-06-16 21:45] asmecher commented on #2566
Just reading over the code (I didn't test it) this looks fine. If you've run it through a few laps, please go ahead, thanks!

[2017-06-17 00:16] asmecher commented on #2163
Try this, @NateWr. It's not beautiful but it can be shown the door as soon as we do away with our current closure compiler/jslint toolset, which won't be a moment too soon. https://github.com/asmecher/pkp-lib/commit/b4f7c7e5662e7ed4a0593546de3c0727537d2319

[2017-06-17 00:33] asmecher commented on #2099
Why are your Section Editors self-assigning as Reviewers, @ajnyga and @pkel? I think I'm still not understanding the use case, or what they expect to happen.

[2017-06-17 02:45] NateWr commented on #1270
Merged.

[2017-06-17 02:45] #1270 closed

[2017-06-17 02:46] NateWr commented on #2587
Tests passed. Self-merged.

[2017-06-17 02:46] #2587 closed

[2017-06-17 04:52] ajnyga commented on #2099
I think there are three different cases where this has happened:
1. Some journals have a workflow, where the editors do their own review round before the actual peer-review.
2. I think that some journals actually use editors for the peer-review together with outside reviewers
3. In some cases the editors have tested the functionality

You can of course use the discussion functionality for case 1,

[2017-06-18 15:17] PyDeq commented on #2319
Hello, please, when do you plan to release a new version of OJS? This (and one another) issue is blocking our effort to migrate to OJS.

[2017-06-19 07:23] bozana commented on #2566
Everything merged, thus closing...

[2017-06-19 07:23] #2566 closed

[2017-06-19 07:30] bozana commented on #2319
@PyDeq, maybe you can apply the patches? Which is the other issue you are waiting for?

[2017-06-19 10:05] NateWr commented on #2577
Supplementary files in the TOC is tricky because I think every journal uses supplementary files in a different way. And the default theme display of files is kind of premised on there being a primary download file (maybe in multiple formats), since that seems to be the way the vast majority of our journals work.

I'd be more inclined to encourage a journal that wants to show supplementary files to

[2017-06-19 11:58] NateWr commented on #2163
:tada: That got the JS tests passing!

[2017-06-19 13:04] bozana commented on #2503
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2595

[2017-06-19 13:04] bozana commented on #2503
@asmecher, could you take a look at that PR?

[2017-06-19 13:07] NateWr commented on #1447
Tests passed. @bozana can you do code review on this?

[2017-06-19 13:54] bozana commented on #1447
@NateWr, nice work! It can be merged :-)

[2017-06-19 14:04] ajnyga commented on #1447
Great work, thank you!

[2017-06-19 14:44] NateWr commented on #1447
Merged!

[2017-06-19 14:44] #1447 closed

[2017-06-19 14:47] NateWr commented on #1070
Tests passed. @asmecher can you code review?

[2017-06-19 15:16] NateWr commented on #1892
I did some testing on this and as far as I can tell the registration form is not available whenever a journal is not publicly accessible. Furthermore, if no journals are publicly accessible, the registration form is still not available.

Closing as I think this is resolved.

[2017-06-19 15:16] #1892 closed

[2017-06-19 15:35] NateWr commented on #2108
Tests passed. Not much code to review, but @bozana could you take a look at this to ensure it's working smoothly?

[2017-06-19 16:15] NateWr commented on #1662
We've been having some discussions in the UI/UX group about generating useful status notifications for the Copyediting and Production stages.

The problem: journals may or may not use copyeditors or layout managers, and these roles are all lumped together as "assistants" under-the-hood. That means it's hard to say whether or not a copyeditor or layout manager should be assigned to a stage, whether

[2017-06-19 17:45] PyDeq commented on #2319
@bozana, yes, I guess I can apply the patches but if a new release is coming soon I'd rather wait for it.
The other issue is a problem with importing embedded PDF files. It throws an error because of a missing `TemporaryFileManager` import. It looks like it has been already fixed but I am not able to test it since 3.0.1 and 3.0.2 suffer from this issue.

[2017-06-19 18:10] snminton commented on #2577
Thanks Nate. I think we would prefer to have the supplementary files on a
separate line. We'll mock something up to illustrate one way of doing it.
- S

On Mon, Jun 19, 2017 at 3:05 AM, Nate Wright <notifications@github.com>
wrote:

[2017-06-19 18:17] snminton commented on #2577
By the way, I think its OK if the supplementary files don't show up in the
TOC -- this was just an idea that I thought might be helpful

On Mon, Jun 19, 2017 at 11:09 AM, Steven Minton <sminton@inferlink.com>
wrote:

[2017-06-19 19:27] bozana commented on #2338
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2596
ojs master: https://github.com/pkp/ojs/pull/1430

[2017-06-19 19:29] bozana commented on #2338
@NateWr, could you review this?

@ajnyga, if you would have a possibility to test the changes, it would be great!

[2017-06-20 00:33] asmecher commented on #1070
Looks good, @NateWr, please go ahead!

[2017-06-20 00:38] asmecher commented on #2503
Just a couple of quick comments -- otherwise, please go ahead!

[2017-06-20 00:40] asmecher commented on #2163
Woo! There is no emoticon that adequately expresses both festiveness and grave injury.

[2017-06-20 04:13] ajnyga commented on #2338
Thanks once again @bozana! I will try these by tomorrow and let you know.

[2017-06-20 05:47] ajnyga commented on #2579
Thumbs up for this. Some editors have actually asked me why their profile is not showing all the roles.

Maybe for the high level roles there could be just selected but disabled checkboxes next to the role name and these could be in gray?

[2017-06-20 05:59] ajnyga commented on #2564
I have been looking for a rich text editor for a text input field, but to my surprise there seems to be none?

I suggest two solutions:
1) Allow a limited set of markdown in the title. The problem here is of course usability. (I think a Drupal module uses this approach for the same problem: https://www.drupal.org/project/html_title)
2) Let's use a textarea for the title fields instead of input and

[2017-06-20 09:00] NateWr commented on #1070
Merged.

[2017-06-20 09:00] #1070 closed

[2017-06-20 09:29] bozana commented on #2108
@NateWr, great, works well! All merged, I think.

[2017-06-20 09:50] NateWr commented on #2492
I removed the `registerComplete` op and instead consolidated the registraiton flow under `register`. The `registerUser` op is still available as a backwards-compatibility shim for third-party themes which submit the form to it.

I also removed the "make a submission" link if no context exists.

Thanks for the report @ctgraham.

PRs:
https://github.com/pkp/pkp-lib/pull/2597
https://github.com/pkp/o

[2017-06-20 10:33] NateWr commented on #2338
Looks good! Just some minor text changes.

[2017-06-20 10:42] #2108 closed

[2017-06-20 12:20] bozana opened #2599 "data privacy option in usage stats plugin"
is not migrated correctly to ojs 3

[2017-06-20 13:22] bozana commented on #2599
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2600
ojs master: https://github.com/pkp/ojs/pull/1432

[2017-06-20 15:43] asmecher commented on #2564
I'd prefer option 2 -- and we already have two presentations for TinyMCE ("extended" vs. normal or something like that), so adding a third configuration for minimal controls wouldn't be too invasive. I suspect titles would be a good driving use case for choosing which buttons should be available -- suggest B/I/U, perhaps super/subscript, and a button to edit the markup. Even just facilitating copy

[2017-06-20 16:06] NateWr commented on #2492
Tests passed, but it had to be rebased for a merge conflict. @bozana would you mind code reviewing?

[2017-06-20 17:52] asmecher commented on #2444
@ctgraham, this is going to need a dust-off and port to OMP. Are you willing & able to tackle either/both of those? I can commit to getting it merged ASAP. (I don't think it interferes with the other big merges in a major way.)

[2017-06-21 06:08] mtub opened #2602 "[OJS] Update fr_CA locale for OJS 3.1 release"
Issue tracking the updates to the fr_CA locale.

[2017-06-21 06:08] mtub opened #2603 "[OJS] Update pl_PL locale for OJS 3.1 release"
Issue tracking the updates to the pl_PL locale.

[2017-06-21 06:08] mtub opened #2604 "[OJS] Update pt_BR locale for OJS 3.1 release"
Issue tracking the updates to the pt_BR locale.

[2017-06-21 06:08] mtub opened #2605 "[OJS] Update cs_CZ locale for OJS 3.1 release"
Issue tracking the updates to the cs_CZ locale.

[2017-06-21 06:08] mtub opened #2606 "[OJS] Update pt_PT locale for OJS 3.1 release"
Issue tracking the updates to the pt_PT locale.

[2017-06-21 08:34] bozana commented on #2503
PR:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2607

[2017-06-21 10:01] bozana commented on #2492
@NateWr, this looks good. I think you would need to rebase and add the submodule anew, then you can merge... :-)

[2017-06-21 10:10] #2552 closed

[2017-06-21 10:11] #2501 closed

[2017-06-21 10:17] NateWr commented on #2492
Cheers! Merged.

[2017-06-21 10:17] #2492 closed

[2017-06-21 10:17] bozana commented on #1086
We can close this issue in favor of the new one: https://github.com/pkp/pkp-lib/issues/2072

[2017-06-21 10:17] #1086 closed

[2017-06-21 12:41] jmacgreg commented on #2582
Hi @asmecher, I can report success with the code patch and the PHP script process! Thanks!

[2017-06-21 13:14] ctgraham opened #2608 "Add ReCAPTCHA v2 to OJS 2.x"
Requested:
http://forum.pkp.sfu.ca/t/recaptcha-v2-for-ojs/10422
http://forum.pkp.sfu.ca/t/ojs-2-4-8-1-captcha-does-not-work/28785/9

c.f. https://github.com/pkp/pkp-lib/issues/1327 completed for 3.x

[2017-06-21 17:44] asmecher commented on #2582
Thanks, @jmacgreg! Committed to `master` and `ojs-stable-3_0_2` branches. I'll leave the command-line tool here; I don't think it's worth adding to the repo.

[2017-06-21 19:08] ctgraham commented on #2444
@asmecher, rebasing shouldn't be a problem; porting to OMP will take some extra time.  I presume you prefer I wait to rebase until the OMP work is done?

[2017-06-21 19:20] asmecher opened #2611 "Prevent COinS plugin from confusing search results"
See http://forum.pkp.sfu.ca/t/ojs-3-0-2-journal-search-function/31412/8 for details.

[2017-06-21 19:21] #2611 closed

[2017-06-21 19:26] asmecher commented on #2444
I'd like to merge for OJS and OMP at the same time, in order to avoid breaking the master branch of either app. I don't really have a preference for the order.

[2017-06-21 20:57] asmecher commented on #2568
@ajnyga, I agree with your suggestion.

[2017-06-22 06:39] ajnyga commented on #2501
With a smaller data (when testing git upgrades) I did not encounter any problems. I did not however have the time to test the full data, but will of course do that when upgrading to 3.1.

[2017-06-22 06:49] ajnyga commented on #2338
This seemed to work fine with a test server, I will test it on our production server later.

[2017-06-22 08:54] NateWr opened #2612 "Add filtering options to new submissions list"
Initial testing of the new submissions list indicates strong demand for additional filtering options:

### High Priority
- [ ] By "what I need to do now" categories. Details: https://github.com/pkp/pkp-lib/issues/2612#issuecomment-431791354. Discussion: ([All reviews in](https://github.com/pkp/pkp-lib/issues/4102), [Revisions uploaded](https://github.com/pkp/pkp-lib/issues/4102)) (now filed at htt

[2017-06-22 09:12] NateWr opened #2613 "Add contextual information to icons in new submission list"
Many testers struggled to interpret the icons which track reviews, files and discussions in the new submission list. We expect regular users (editors and journal managers) to learn these icons over time, but several requested some kind of contextual dropdown with more information.

This dropdown could serve more general purposes too, allowing common actions to be taken directly from the submission

[2017-06-22 09:30] NateWr opened #2614 "Confusion about two-step reviewer assignment process"
User testing showed that the two-step reviewer assignment process can be confusing for some users. The process:

1. Select an existing reviewer, create a new reviewer or enrol an existing reviewer.
2. Write a message to the reviewer, set due dates and select files.

Issues encountered:

- Some users thought they'd added the reviewer after step 1, and that step 2 was only the notification. They wer

[2017-06-22 09:34] NateWr opened #2615 "Deleting from submission list is too prominent and rarely used"
Users commented on the visual prominence of the delete button in the new submission lists. Several suggested such an activity is very rare and should be "hidden".

Confusion was also expressed regarding what "delete" means. Is it like Decline? Does it just remove from the current list? We probably need to be clear that it will permanently delete the submission and all associated objects.

[2017-06-22 09:36] NateWr opened #2616 "Change "Add" to "Assign" in participants grid"
Users expressed a preference for using the "assign" terminology, especially as it corresponds with the notices in the new submissions list.

[2017-06-22 09:42] NateWr opened #2617 "Add counts of submissions to submission tabs and list filters"
The submission tabs (My Queue, Unassigned, All Active, Archived) could benefit from displaying a count of submissions in each tab. This seems especially useful for Unassigned, which only needs to be viewed if one exists.

Also, when filtering (#2612) is added, there was a request to show counts by filters.

This request wasn't widespread so it remains a low priority for now.

[2017-06-22 13:14] ajnyga commented on #2613
A very large thumbs up for this!

[2017-06-22 16:30] asmecher commented on #1662
@NateWr, we may also be able to dodge the issue of naming roles explicitly if we refer to the workflow tasks (e.g. "Copyediting") rather than the users who do it ("Copyeditors").

[2017-06-22 16:33] asmecher opened #2618 "Extend "revisions uploaded" notification to include new files"
Currently the "revisions uploaded" notification to the editor is only invoked when an author revises an existing file. It should also notify the editor when a new (non-revision) file is uploaded. See http://forum.pkp.sfu.ca/t/notification-of-revision-upload/31676/3 for details.

[2017-06-22 19:04] ctgraham commented on #2570
Also, raw citations are passed through the `strip_unsafe_html` filter, implying that you could find legitimate HTML in a raw citation?
https://github.com/pkp/ojs/blob/2ca8fce0aec9c5d476c2af5b3b5e315347eb2707/templates/article/article.tpl#L106

No.

This should be the `escape` filter instead.  Consider ABNT as a style:
[code]

[2017-06-23 07:07] bozana commented on #2338
Thanks @ajnyga ! Will then close it for now...

[2017-06-23 07:07] #2338 closed

[2017-06-23 07:08] #2599 closed

[2017-06-23 13:45] deraldinho opened #2619 "[OMP] Information"
Hello, my name is Deraldo and I'm new here.

I would like to know how I can add more Tags in the information. [http://i.imgur.com/RCoRgxV.png](url)

[2017-06-23 16:15] asmecher commented on #2619
@deraldinho, I would suggest posting in our support forum (http://forum.pkp.sfu.ca/). That's a better place for general discussion.

[2017-06-23 16:15] #2619 closed

[2017-06-23 17:44] amandasramalho opened #2620 "Inconsistency in the translation of terms in portuguese [OMP]"
The terms of the tab "Catalog" are different from the warning message and the name of the tab.
In addition, the translation of the entire message does not match the English version. I suggest the translation below:

A monografia não aparecerá no catálogo enquanto a "Entrada no catálogo" não for criada. Para adicionar este livro ao catálogo, clique em "Entrada no catálogo" acima e encontre a guia "

[2017-06-23 18:54] asmecher opened #2621 "Editor cannot rename files in review files grid"
See http://forum.pkp.sfu.ca/t/single-blind-review/31777/4

[2017-06-23 18:56] #2621 closed

[2017-06-23 20:23] asmecher commented on #2184
The issue seems to have been fixed for new journal creation via the UI, but not yet for the upgrade process. See http://forum.pkp.sfu.ca/t/problems-with-some-labels-when-changing-languages/31749 for details.

[2017-06-23 23:16] kaschioudi commented on #1503
rest api post/put/delete endpoints work PR: https://github.com/pkp/pkp-lib/pull/2622

[2017-06-24 12:19] mtub commented on #2620
Thanks for reporting this. Fixed by pkp/omp#423

[2017-06-24 12:19] #2620 closed

[2017-06-26 16:33] asmecher commented on #1503
@kaschioudi, is there one also for the OJS repo?

[2017-06-26 16:47] kaschioudi commented on #1503
@asmecher : not at the moment. Once I do some refactoring based on your comments and move IssueRepository out of pkp-lib into OJS, I will create a pull request.

[2017-06-26 16:58] asmecher commented on #1503
OK, sure. It's just a lot easier to post comments on a branch when there's a PR to attach them to, even if the PR isn't ready for merging.

[2017-06-27 13:14] NateWr commented on #2576
PRs (tests running):
https://github.com/pkp/pkp-lib/pull/2623
https://github.com/pkp/ojs/pull/1439

[2017-06-27 13:33] NateWr commented on #2616
PRs (tests running):
https://github.com/pkp/pkp-lib/pull/2624
https://github.com/pkp/ojs/pull/1440

[2017-06-27 13:43] NateWr commented on #723
@asmecher What do you think about either of the options @marcbria indicated above? Are we comfortable hitching our wagon to either of them?

On the one hand, `2.0` looks like it's the original creator revamping it. But I don't know what that means for longevity or stability.

On the other hand, are we more confident working with a copy that Islandora is using?

I'd be happy to take another stab at

[2017-06-27 15:10] NateWr commented on #2534
PRs (tests running):
https://github.com/pkp/orcidProfile/pull/18
https://github.com/pkp/ojs/pull/1441

[2017-06-27 15:38] NateWr commented on #1640
PRs (tests running):
https://github.com/pkp/pkp-lib/pull/2625
https://github.com/pkp/ojs/pull/1442

[2017-06-27 16:05] asmecher commented on #723
@NateWr, neither of those looks hugely stable -- glancing e.g. at the number of stars/forks, contributors, and the commit history. Maybe take a browse of what's available over at https://packagist.org/search/?q=csl as another data point?

Low FOSS metrics don't disqualify any of those from use -- and I wouldn't expect a CSL implementation to be as antnest-like an undertaking as e.g. an application

[2017-06-28 09:40] NateWr commented on #2616
Tests passed. Self-merged.

@mtub I changed a string [here](https://github.com/pkp/pkp-lib/commit/8ef5820fca9a92a33190fac97022918560372bf2#diff-f69e5caa980791d6835909656e9eace7R529), but it's such a minor change I thought it best not to remove any of the translations. Do you agree?

[2017-06-28 09:41] NateWr commented on #2576
Tests passed. @bozana can you code review?

[2017-06-28 12:09] wundo commented on #1919
@asmecher I'm willing to help out on this, is there anyone working on removing the justboil.me dependency? Any PR?

[2017-06-28 17:41] asmecher commented on #1919
Hi @wundo -- I'm not aware of anyone working on this at the moment; contributions welcome!

[2017-06-28 18:55] asmecher opened #2628 "Add reviewer recommendation to imported comments for composing message to Author"
See http://forum.pkp.sfu.ca/t/reviewers-decision-is-not-sent-to-the-authors-fully/31744/5

[2017-06-28 21:09] asmecher commented on #2559
I like what you've proposed in the PR, @kaschioudi. All I suggest is moving the OJS stuff out of `pkp-lib`, and it should be ready to merge.

[2017-06-28 21:09] asmecher commented on #2559
(Also see if you can resolve the code duplication between the two autoload functions.)

[2017-06-29 13:57] jmacgreg opened #2629 "[OJS] Add "Download all files"

[2017-06-29 13:59] jmacgreg opened #2630 "[OJS] Add "Download all files" option to all submission grids"
The "Download all files" option is currently only available to users via the original Submissions grid - it isn't available in eg. Review, Copyediting, Draft files, etc. submissions grids. It would be useful to have available in all grids where submissions are managed.

[2017-06-29 14:02] jmacgreg opened #2631 "[OJS] "Download all files" checks for tar availability, but uses zip compression"
The tar check probably isn't necessary if zip is being used; I'm not sure if a zip check should be added or not.

See https://github.com/pkp/pkp-lib/blob/master/controllers/grid/files/SubmissionFilesGridHandler.inc.php#L138 and https://github.com/pkp/pkp-lib/blob/master/controllers/grid/files/SelectableSubmissionFileListCategoryGridHandler.inc.php#L189.

[2017-07-02 13:12] luberti opened #2632 "[OCS] user home link points user home in the web site and not in the current conference"
The user home link in the navigation bar points to the user home in the web site and not in the current conference

[2017-07-02 20:46] mtub commented on #2616
agreed...

[2017-07-03 16:21] NateWr commented on #2534
All tests passed. @bozana would you code review?

[2017-07-04 10:20] atarix83 opened #2634 "[Ojs 2.4.x] Statistics considerably reduced"
Hi,

I've noted that after [this commit](https://github.com/pkp/ojs/commit/91d7c72df58c7410806f1009d3ffd82f21a63574) journals statistics are considerably reduced. In my case total access are four times smaller than before the update of the plugin "usageEvent".
There is a reason of this? Should I consider the statistics before update not reliable?

Thanks
Giuseppe

[2017-07-04 10:45] bozana commented on #2634
Hi @atarix83, unfortunately yes, in a way: before that commit the access to files other than full text, e.g. CSS and images, were considered as well, which is not COUNTER compliant :-(
However, I wonder how come that the counts are that much considerably reduced because of that :-O
Would it be maybe possible for you to test the current usage stats logging in your installation: to look if everythin

[2017-07-04 11:08] atarix83 commented on #2634
Hi @bozana
I've already made some test, for example with an article page, and I've seen that with old code download event was logged two times, one while viewing the page and one on download of the pdf file, instead now is logged only one time.
However I'm able to make other test

[2017-07-04 11:22] bozana commented on #2634
Do you mean logged two times when viewing the same page? If so, this was also not correct -- it should be logged only one.
Else, there should be one log entry when viewing an article abstract page and one when viewing the PDF page.
The CSS and images are only relevant for HTML galleys. Do you have HTML galleys?

[2017-07-04 13:56] atarix83 commented on #2634
Yes for the same PDF page there were two download entry log, now only one as for the abstract page.

Unfortunately I can't detect how many HTML Galleys there are

[2017-07-04 16:13] Duozhasht commented on #2606
Greetings @mtub
are you planning to release any updates to pt_PT locale soon?
I've been working on translating (plugins included) and I've almost completed all translations.

Will you be interested in a pull request to add those to the main website?

[2017-07-05 13:40] micheldiniz opened #2635 "Prevent direct access to justboil.me upload plugin"
The plugin can be accessed directly through the browser (as in the example site http://journals.sfu.ca/testdrive3/plugins/generic/tinymce/plugins/justboil.me/dialog-v4.htm ), if a user is registered he can upload some files, after login, through this plugin, a hacker can explore this, Is it a bug or an misunderstood configuration?

[2017-07-05 15:14] NateWr commented on #2163
Tests have passed for OJS!

https://github.com/pkp/ojs/pull/1337
https://github.com/pkp/pkp-lib/pull/2399

@asmecher, these tests include the commit you recommended we cherry-pick in to fix the FCGI issues, and I've also disabled the MySQL tests in travis. Can you do code review and merge if/when you see fit?

I'll work on getting the OMP tests going now.

[2017-07-05 16:32] asmecher commented on #2635
@micheldiniz, see https://pkp.sfu.ca/2017/04/12/regarding-recent-ojs-defacement-attacks/ -- please feel free to follow up here if you have additional information to add.

[2017-07-05 16:32] #2635 closed

[2017-07-05 22:50] asmecher commented on #2163
Huge thanks, @NateWr and @kaschioudi. Still some things to work on -- in particular removing OJS-specific stuff from the pkp-lib part, and some yak-shaving. @NateWr, before you leave, could you spend a few minutes with @kaschioudi to hash over the remaining work so that this doesn't stall more than necessary while you're gone?

[2017-07-06 14:42] asmecher commented on #2632
@luberti, the two-level navigation/organization scheme that we used in OCS 2.x has not proven worth the trouble, and high ambiguity in where some links should go (e.g. "home" bugt also "user home") result. We plan to rewrite OCS on our current platform along the same lines as we've done for OJS and OMP; see https://pkp.sfu.ca/2017/03/06/the-future-of-ocs/. Until then, we don't plan to make further

[2017-07-06 14:42] #2632 closed

[2017-07-06 21:40] Vitaliy-1 commented on #699
Greetings @asmecher
How can I add language in the url on article detail page?
For example my aim is to add additional parameter only for non-primary locale (Ukrainian in our case). The problem is that there is no other way for Google to index it...

I have already got some experience in PHP and Java EE, so hope if you guide me I could manage this problem. From where to start?

[2017-07-07 07:32] NateWr commented on #2163
I've already got family in town so won't be able to dip into code much. Next week I may not have internet access at all.

I'll try to comment on a couple of the big ones right now. Otherwise, tag me explicitly if you need input on something to move forward.

[2017-07-07 14:13] MarHerUMR opened #2637 "[OJS] Replace low res icon in webfeed for high res screens"
In the webFeed and the announcementFeed plugins are .gif icons that look blurry on high resolution screens.

I would suggest to replace those gifs with svgs by the srcset attribute. Browsers with 1x screens will still load the gifs with smaller filesize. Every other browser will load the svgs that will look sharp.

I could provide a pull request with the icons as svg, but there's one problem. The

[2017-07-07 16:10] kaschioudi commented on #2559
PR: https://github.com/pkp/pkp-lib/pull/2627

[2017-07-07 16:12] kaschioudi commented on #2559
@asmecher :  this is ready for another look.

[2017-07-07 16:16] asmecher commented on #2559
Thanks, @kaschioudi. Did you add a namespace for the application too, or decide against that?

[2017-07-07 16:57] asmecher opened #2638 "Section policies are not displayed anywhere"
See http://forum.pkp.sfu.ca/t/ojs-3-where-are-the-section-policies-displayed/31906 for details.

[2017-07-07 17:02] crism commented on #1963
Weird… I think the `LoadHandler` hook doesn’t fired if the plugin is enabled site-wide. Any ideas, @ctgraham?

[2017-07-07 17:50] ctgraham commented on #1963
I haven't played with the `LoadHandler` hook in the context of a `plugins.auth` plugin before.  I'm just back from vacation today and catching up on things, but I'll have a dev sprint tomorrow where I could look at this and confirm your interpretation.

You're just working with the [issue-1963 branch](https://github.com/UIUCLibrary/pkp-lib/tree/issue-1963) within pkp-lib?

[2017-07-07 20:57] crism commented on #1963
Yes, all the work is contained within that branch. Right now, the `LoadHandler` handler is a stub, but debugging code on the server shows it as not even registered.

[2017-07-07 21:54] asmecher commented on #1963
@crism, is it possible that your plugin isn't registered? Make sure there's an entry in the `versions` table.

[2017-07-07 21:55] asmecher commented on #1963
Also, I forget the details of the auth plugin lifecycle, but it could be that this plugin category is loaded *after* the `LoadHandler` hook is called.

[2017-07-08 13:45] ctgraham commented on #1963
A plugin which only exists in the shared library cannot be registered by the `Installer::addPluginVersions()` function.

`Installer::addPluginVersions()` calls `PluginRegistry::loadCategory()`, and `PluginRegistry::loadCategory()` enumerates only plugins from the application:
https://github.com/pkp/pkp-lib/blob/f3f43817f4da2e42785f137f81692729d9b42345/classes/plugins/PluginRegistry.inc.php#L113-L1

[2017-07-09 18:10] defstat commented on #2178
@NateWr @asmecher

PRs
OJS: pkp/ojs#1448
PKP-LIB: pkp/pkp-lib#2639

There are three main notions regarding the NavigationMenus feature:
1. NavigationMenus: It is a set of NavigationMenuItems, assigned to a theme navigationArea. There are three default
                    NavigationMenus 'user', 'primary', 'footer'
2. NavigationMenuItems: It has a localized title which is displayed to the user if t

[2017-07-10 07:44] bozana commented on #2543
@emanuil-tolev, sorry to bother you this way -- if there is another/better way, please let me know -- one of our users tried to register their articles and got the "301 Moved Permanently" message. Do you maybe have any idea why, what could be the reason? (I unfortunately have to test account any more, so I cannot test anything :-( )

[2017-07-10 10:00] emanuil-tolev commented on #2543
Not at all - we've implemented something that will cut processing time in half. I want to also tweak the gunicorn configuration on DOAJ's side a bit to allow for slightly higher time-outs, then I'll retry with the payload you sent me over email. (In case I didn't make it clear above, I can 100% reproduce your issue with the JSON file you sent me.)

I'll get back to you by tomorrow with an update o

[2017-07-10 10:01] emanuil-tolev commented on #2543
That sounds like a different issue. Are they accessing DOAJ via HTTP? All HTTP connections get 301 redirected to the HTTPS equivalent URL.

[2017-07-10 10:12] ajnyga commented on #2543
Hi,

The plugin uses https: https://github.com/pkp/ojs/blob/master/plugins/importexport/doaj/DOAJExportPlugin.inc.php#L22

BUT, that change was made only 2 months ago: https://github.com/pkp/ojs/commit/ada5d8840397c88d7e4d810fe3fa93f5e1fc5af1

@bozana, they probably do not have this fix yet?

[2017-07-10 10:44] bozana commented on #2543
@emanuil-tolev and @ajnyga, thanks a lot! :-))) I will ask the user to check https change...

[2017-07-10 11:06] bozana opened #2640 "copyright holder and year"
The copyright holder and year seem to be wrong: https://github.com/pkp/ojs/blob/master/pages/article/ArticleHandler.inc.php#L113
Instead the article metadata should be assigned.

s. also http://forum.pkp.sfu.ca/t/article-copyright-settings-reset-article-permissions/32075

[2017-07-10 13:14] akgunib commented on #807
If I add this plugin to OJS, then am I available to faciliate to use iThenticate service for free, or what?

[2017-07-10 14:58] crism commented on #1963
Debugging shows that `ShibbolethAuthPlugin::register()` is definitely called; if I uncheck the active box and recheck it, it is called each time (once with `getEnabled() == false`, once `true`). Also, FWIW, I am testing this plugin by uploading it through the dashboard, rather than from git pulls; don’t know if that makes a difference for handlers firing. I’ll keep tracing this down, but it looks

[2017-07-10 15:00] ctgraham commented on #1963
If you upload the plugin via the UI, won't it end up in the application area rather than the shared library area?  Or do you get to choose?

[2017-07-10 15:15] crism commented on #1963
@ctgraham, yes, it does go into the shared area. There don’t seem to be any non-relative path dependencies, though, so it _shouldn’t_ matter where the plugin lives. (In particular, the callback registration uses `array($this, 'handleRequest')`.)

[2017-07-10 15:26] ctgraham commented on #1963
`PluginHelper::installPlugin()` and `PluginHelper::upgradePlugin()`, contra `Installer::addPluginVersions()`, will successfully register a new plugin, regardless of whether it is in the shared library, application, or both.
https://github.com/pkp/pkp-lib/blob/f3f43817f4da2e42785f137f81692729d9b42345/classes/plugins/PluginHelper.inc.php#L135
and
https://github.com/pkp/pkp-lib/blob/f3f43817f4da2e427

[2017-07-10 15:50] asmecher commented on #807
@akgunib, our [support forum](http://forum.pkp.sfu.ca/) is a better place to ask general questions. We use this issue tracker for bugs/active development.

[2017-07-10 18:40] asmecher commented on #2559
Looks good, @kaschioudi. Can you also port the OJS change over to OMP? Feel free to self-merge those whenever you're ready.

[2017-07-10 19:41] crism commented on #1963
To clarify [my previous post](#issuecomment-314132240), `ShibbolethAuthPlugin::register()` is called when actually registering the plugin, but is not called for random page visits, unlike for generic plugins, as @ctgraham notes. Is it unnecessary overhead to ping every single registered plugin for every page load? Should I be barking up a different tree in trying to capture the return visit after

[2017-07-10 19:46] ctgraham commented on #1963
Are you suggesting a hook dedicated to authentication plugins somewhere different than in `Dispatcher::dispatch()`?  Certainly every page load needs to ping every authentication plugin, as it needs to ping every generic plugin, so I was assuming the calls would be parallel.  I'm up for taking a look at your thoughts if you want to propose a new dedicated authentication hook.

[2017-07-10 19:52] crism commented on #1963
@ctgraham, should `Dispatcher::dispatch()` only call generic and authentication plugins? Or should it also look at block plugins, citation plugins, etc.? When expanding from 1 to 2, I always wonder if we should not instead expand from 1 to many.

[2017-07-10 20:12] ctgraham commented on #1963
@asmecher can correct me, but I think the original idea was that plugins would only be instantiated as needed, but then "generic" plugins could be special (and would be instantiated super early so that they could modify other functionality).

I feel ambivalent about this.  Having this special functionality of the generic plugins has caused them to be overused as a category, and extending early ins

[2017-07-10 20:18] asmecher commented on #1963
@ctgraham's summary is correct. The `generic` plugin category is enough gun to shoot yourself in the foot with; the other categories should have more specific interactions and lifecycles.

The `auth` category is needing (and getting) an overhaul, so if you need more capabilities than it current provides, go ahead and add them (e.g. earlier loading). If your requirement is likely to be a one-off an

[2017-07-10 20:25] crism commented on #1963
I was starting to lean toward having an additional generic plugin anyway. It looks like a lot of user-specific calls check for an `AuthSource` for the user and load something appropriate, but for the initial login and registration, that obviously doesn’t work. Implicit authentication, broadly, could maybe be a generic plugin, that auth plugins other than Shibboleth could make use of?

[2017-07-10 21:03] asmecher commented on #1963
@crism, I think you could certainly make a case for removing the auth plugin category entirely and implementing specific ones as generic plugins. It's unlikely we'd ever have more than say 2 or 3 of them, for one thing.

[2017-07-10 21:59] asmecher commented on #2178
On default menus, I suggest allowing the user to do whatever they like with them, but warning them before they do something stupid (like deleting a default menu).

[2017-07-10 22:00] asmecher commented on #2178
It might also be necessary/worthwhile to allow menu items to go to arbitrary URLs, rather than describing targets using page/op. Page/op is sufficient for most things (and is good because it's resilient in the face of URL changes), but it's likely that users will want to be able to link outside that scheme.

[2017-07-10 22:36] asmecher commented on #2178
This will need some work to get the tests going -- see e.g. https://travis-ci.org/pkp/ojs/builds/251767159.

[2017-07-10 23:36] kaschioudi commented on #2559
https://github.com/pkp/omp/pull/425

[2017-07-11 00:14] kaschioudi commented on #2559
@asmecher : just to be sure. By self merge, you mean accept the PR (into master) or merge this branch into api and submission list branch (into i2163_js_with_api) ?

[2017-07-11 00:53] asmecher commented on #2559
Into master; not sure if you have privileges to do that, though, so let me know if not.

[2017-07-11 15:15] MarHerUMR opened #2641 "[OJS] Remove the automatically added line breaks in article abstracts"
Right now the article template automatically converts new line characters into line breaks:
`{$article->getLocalizedAbstract()|strip_unsafe_html|nl2br}`

When adding html with paragraphs as the abstract you will end up with additional (and imho unnecessary) line breaks between the paragraphs. The source code input in the Submission and Publication Metadata form will automatically add new line char

[2017-07-11 16:14] asmecher commented on #2641
@MarHerUMR, what version of OJS are you using?

[2017-07-11 17:07] #2105 closed

[2017-07-11 17:07] asmecher commented on #2406
Dupe of https://github.com/pkp/pkp-lib/issues/1897.

[2017-07-11 17:07] #2406 closed

[2017-07-11 17:08] asmecher commented on #1777
Dupe of #1816.

[2017-07-11 17:08] #1777 closed

[2017-07-11 19:49] crism commented on #1963
Next challenge… It’s now a generic plugin. The settings are only available per-journal, though; no Settings link is offered on the site-wide plugins. When I try to use per-journal settings, I get `##user.authorization.pluginLevel##`. I’ll investigate, but if either of you know what’s going on, off the top of your collective head…

[2017-07-12 10:24] MarHerUMR commented on #2641
I saw this behavior in OJS 3.2. I'm not sure if it's the same in OJS 2

[2017-07-12 10:52] atarix83 commented on #2634
Hi @bozana

I'd ask your opinion about what percentage I could considerate wrong the statistics before the plugin update.

Thanks

[2017-07-12 11:12] Alinex29 commented on #2275
This problem is still happening in my case (version 3.0.2)
Even when the reviewers accept the request, it still shows Overdue

[2017-07-12 11:40] bozana commented on #2634
Hi @atarix83, I cannot tell that -- it all depends. For example: although the access to a PDF file was logged twice, it could be that it is however counted only 1, because the plugin could consider it as a double click, if the time between those entries/clicks is less than 30 seconds.
Thus, I can only recommend to test and watch the current counts for some time now, if they are correct, and if pos

[2017-07-12 11:42] bozana commented on #2634
I will also close this issue -- because it is not a bug or so. This kind of questions better suits for the forum: http://forum.pkp.sfu.ca/.

[2017-07-12 11:57] bozana commented on #2534
@NateWr, sorry for the delay! :-((( All fine, it can be merged :-) I have no write access to the orcidProfile repository, but will ask @asmecher :-)

[2017-07-12 12:03] bozana commented on #2576
@NateWr, pkp-lib PR is merged and OJS PR closed (because test only). Can this issue be closed?

[2017-07-12 12:07] bozana commented on #2275
@Alinex29, yes, I think this was fixed after the release. Did you apply the patch above?

[2017-07-12 14:38] atarix83 commented on #2634
Ok thank you so much!!

[2017-07-12 16:28] asmecher commented on #2641
@MarHerUMR, can you check that version number? OJS 3.2 hasn't been released yet.

[2017-07-12 16:37] bozana commented on #2640
PR ojs master: https://github.com/pkp/ojs/pull/1450

[2017-07-12 17:22] asmecher commented on #699
Hi @Vitaliy-1 -- the code for this is pretty much constrained to `pages/article/ArticleHandler.inc.php`. `PATH_INFO` URL components come in via the `$args` parameter to each function. Have a look there and see if it makes sense -- let me know if you get stuck somewhere specific.

[2017-07-12 19:15] MarHerUMR commented on #2641
You are totally right, I meant 3.0.2,sorry.

[2017-07-12 20:13] #2559 closed

[2017-07-12 20:20] asmecher commented on #2353
Travis has started reporting errors based on this with PHP7.1. See e.g. https://travis-ci.org/pkp/ojs/jobs/252928930:

    There was 1 error:

    1) Dc11MetadataPluginTest::testDc11MetadataPlugin
    Methods with the same name as their class will not be constructors in a future version of PHP; dbObject has a deprecated constructor

    /home/travis/build/pkp/ojs/lib/pkp/lib/adodb/adodb-xmlschema.

[2017-07-12 21:44] asmecher commented on #1816
Merged administration grids into master. Ignore anything above.

FIXMEs remaining:
- [ ] Reload the sidebar to include/exclude subscription tools on change of `publishingMode` setting (after JS merge to use its messaging bus?)
- [ ] Audit subscription policy form settings
- [ ] Filter form on individual (& presumably institutional) subscriptions grid

[2017-07-12 23:33] kaschioudi commented on #2559
@asmecher OJS is ready to go. thanks.

[2017-07-13 00:18] asmecher commented on #2559
Thanks, @kaschioudi. There was a merge conflict on the `lib/pkp` submodule, so I cherry-picked in the relevant commits:

- https://github.com/pkp/ojs/pull/1443/commits/9bce9d49427d49b9b72fda178cc03fb4e0814a70
- https://github.com/pkp/ojs/pull/1443/commits/ef663c1865b58776923424033c156e015cf69f1f

...and have already committed a submodule update.

The rest were merge commits and old submodule updat

[2017-07-13 08:53] Vitaliy-1 commented on #699
Thanks for reply @asmecher ,

Hmm, `$args` is an array, that from my point of view contains only article id. `$request` is an Request Object from which I can, for example, retrieve URL, redirect request, but not to change it somehow. `PATH_INFO` can be seen in context of `$_SERVER` array. Do not see the way to modify URL here. I am missing something...

Can you show me an example of URL mapping?

[2017-07-13 11:13] bozana commented on #2534
@NateWr, only bootstrap3 repository to be merged, the other two are merged...

[2017-07-13 12:08] amandasramalho commented on #1762
I'm not sure if it's in this topic that I should insert this, but if it is not, let me know that I'll open another ticket.
We updated the OMP for the new version that we downloaded from the link: http://pkp.sfu.ca/omp/download/omp-3.1.0.tar.gz. But the header of the homepage appeared with some strange information.
![image](https://user-images.githubusercontent.com/5446933/28165381-efde91b4-67a9-11

[2017-07-13 13:53] Alinex29 commented on #2275
My admin applied the patch (I thought he already did that). It's working now.
Thanks!

[2017-07-13 16:26] asmecher opened #2642 "Placeholder discussions not removed when new discussion creation is cancelled"
See http://forum.pkp.sfu.ca/t/discussions-in-ojs3/22791/13