[2021-02-09 16:13] #6738 closed

[2021-02-09 16:27] leehreche opened #6739 "OJS update from version 3.2.1.4 to 3.3.0.3 fails when performed by the Web"
**Describe the bug**
Receiving a fatal error when the update starts with the installation set to Off. After trying to update OJS, I am redirected to an internal error 500 webpage.
Below is the error found in the error_log file:

`[09-Feb-2021 13:13:52 America/Fortaleza] PHP Fatal error:  Uncaught Error: Call to a member function getConnection() on null in /home2/hg2ou127/socibracom.com/ojs3303/lib

[2021-02-09 16:31] asmecher commented on #6739
See: https://github.com/pkp/pkp-lib/issues/6703#issuecomment-775320730

[2021-02-09 16:31] #6739 closed

[2021-02-09 16:41] asmecher commented on #6328
In principle yes, but we shouldn't be writing/maintaining that in our own software when there are widely accepted standards; part of the goal of this issue is to move considerably closer to just using existing frameworks/toolsets for managing translations. We don't have so many translation strings that standard stuff like Laravel and/or gettext aren't usable.

Most packages using Weblate only have

[2021-02-09 16:50] asmecher commented on #6729
@loadbrain, yes, this is likely the same as or similar to https://github.com/pkp/pkp-lib/issues/6732. I'd suggest checking `submission_files.file_id` against `files.file_id` to ensure...
- Both tables use the same MySQL storage engine (InnoDB or MyISAM)
- Both tables use the same collation

[2021-02-09 17:37] Vitaliy-1 commented on #6732
I'm still unable to reproduce this issue. For those 2 users, who reported it, explicitly stating to use InnoDB engine, solved the issue. Hence, I'm assuming that you are correct and problem is that there are old installs of MySQL/MariaDB that still use other than InnoDB engine as a default. It quite possible that during the upgrade they may not update default, at least I'm experiencing the same wi

[2021-02-09 18:13] asmecher commented on #6727
That looks good, @defstat -- merged!

[2021-02-09 18:13] #6727 closed

[2021-02-09 18:14] #6539 closed

[2021-02-09 18:14] asmecher commented on #6539
Thanks, @jonasraoni -- merged!

[2021-02-09 18:15] asmecher commented on #5365
This is usually an indication that there was a PHP error or exception. Check your PHP error logs?

[2021-02-09 18:36] asmecher commented on #5678
Thanks, @NateWr, I support that. Doxygen appears to behave fine when docblocks are omitted. And Laravel appears to use phpDocumentor, which is enough justification IMO to move to that toolset anyway.

[2021-02-09 18:48] dbqreference commented on #5365
I checked the PHP error log and the OJS error log and didn't find anything. However, the PHPMailer configuration throws the following error -
`[09-Feb-2021 00:53:22 UTC] PHP Fatal error:  Uncaught League\OAuth2\Client\Provider\Exception\IdentityProviderException: invalid_client`
I'm going to look at how I have things setup and see why it's throwing this fatal error. I double-checked my installatio

[2021-02-09 19:05] jonasraoni commented on #6328
The last problem is tough...

To have some numbers in mind... Excluding the emails, we have around 1489 keys in `en_US`...

The first part of the problem, to have a custom OJS, will probably involve updating the `__()`/Smarty/Vue to output locale keys in a special way, so we can highlight the terms, sounds ok.

The second part, to reach an interface from a key, will require a great idea haha! I've

[2021-02-09 19:08] asmecher commented on #6328
^ Good ideas, but definitely outside of the core scope of this issue! I did a proof of concept for automatic screenshot generation for documentation using Travis testing, and when we come to revisiting that, we should talk about this too.

[2021-02-09 19:20] elton557 commented on #6724
@asmecher  Hello, would this be the log?

208022, 208025, 208026, 208027, 208029, 208030, 208031, 208032, 208034, 208035, 208036, 208037, 208038, 208040, 208041, 208042, 208043, 208044, 208045, 208046, 208047, 208048, 208049, 208051, 208052, 208053, 208054, 208056, 208057, 208058, 208059, 208060, 208061, 208062, 208063, 208064, 208065, 208066, 208067, 208068, 208069, 208070, 208071, 208072, 208073

[2021-02-09 19:24] dbqreference commented on #5365
I'm not sure what to be looking for here, here's the full error log information for the fatal error that gets thrown:

`[09-Feb-2021 00:53:22 UTC] PHP Fatal error:  Uncaught League\OAuth2\Client\Provider\Exception\IdentityProviderException: invalid_client in .../phpmailer/vendor/league/oauth2-google/src/Provider/Google.php:118
Stack trace:
#0 .../phpmailer/vendor/league/oauth2-client/src/Provider/

[2021-02-09 19:40] asmecher commented on #6724
@elton557, yes, that helps. Would you be willing to privately provide me with a copy of your pre-upgrade database?

[2021-02-09 19:47] asmecher commented on #5365
@dbqreference, I think you're doing battle with PHPMailer and its OAuth support rather than something specific to OJS. See e.g. https://github.com/PHPMailer/PHPMailer/issues/1706 -- you might consider trying out the test script described there to see if you can get the toolset working outside of OJS.

[2021-02-09 19:56] ajnyga commented on #6691
@asmecher OpenGraph, Funding and OpenAIRE can be marked as ready above.

With AllowedUploads I run into a bug in the SubmissionFile::validator error handling that the plugin is trying to use. Nate is looking into that. The bug seems to be in the core, the plugin itself should actually work already, but I will do a release once I hear from Nate.

[2021-02-09 20:04] asmecher commented on #6691
Updated, thanks, @ajnyga!

[2021-02-09 22:05] imaazahmed opened #6740 "I am unable to use html tags in tinyMCE."
Hello mate!

 I am unable to use HTML tags in TinyMCE. I have installed text editor extras but still no result.

 I am trying to give line breaks in my abstract but it doesn't work. It's not showing bold or italic text, not working <br/> in my abstract.

Can someone please guide me? I am really stuck. Please see snapshot. In red mark i want to give line break.
![asdasdads](https://user-images.gith

[2021-02-09 22:10] imaazahmed commented on #6740
When i save this article so it's coverting <br/> into <p></p>. I can't even bold the text.

![br](https://user-images.githubusercontent.com/78767924/107435078-7dabd880-6b4d-11eb-9fc7-cc3219ead075.PNG)

[2021-02-09 22:13] asmecher commented on #6740
This is a duplicate of https://github.com/pkp/pkp-lib/issues/6734. Please don't post the same issue in several places -- the support forum (where you already have a thread on this) is the best place to get help.

[2021-02-09 22:13] #6740 closed

[2021-02-09 22:14] imaazahmed commented on #6740
@asmecher  I am not getting reply anywhere. Can you please help me out here?

[2021-02-09 22:16] dbqreference commented on #5365
@asmecher I tested the example document information that PHPMailer has available from their website (configured with the same information that I'm attempting to use for OJS) and it was sent with success.
`2021-02-09 22:06:32 SERVER -> CLIENT: 250 2.0.0 OK 1612908392 r190sm50589qka.54 - gsmtp
2021-02-09 22:06:32 CLIENT -> SERVER: QUIT
2021-02-09 22:06:32 SERVER -> CLIENT: 221 2.0.0 closing connecti

[2021-02-09 22:24] asmecher commented on #5365
@dbqreference, have you applied the draft patch discussed here? https://github.com/pkp/pkp-lib/issues/5365#issuecomment-577448155

[2021-02-09 22:31] dbqreference commented on #5365
@asmecher Yeah I checked the differences in both files and applied them based on that draft patch. If there was more changes to be made other than the .txt file, I haven't applied those.

[2021-02-09 22:50] asmecher commented on #5365
@dbqreference, hmm, based on the draft patch I would expect your configuration line:
[code]
...to bomb out with an exception ("Unknown smtp_oauth_provider in config.inc.php!"). It expects either `google` or nothing. The fact that you aren't encountering an exception is worth investigating.

[2021-02-09 23:29] navotera commented on #4867
Thank you so much @AhemNason for your detailed explanation.

[2021-02-10 09:25] Hourakhsh commented on #6727
Thank you very much indeed for finding this important problem. I checked them all, there are no published articles without the name of the authors in submissions/metadata/contributors.
But I find out that the issues which are not exporting have some papers with 3 or 4 versions. The versions which are published the names are correct and fully written. but in the other versions, there is no informat

[2021-02-10 09:36] defstat commented on #6727
Thanks @Hourakhsh... For sure this would cause the current issue, as all the publications of a submissions are included in the export. If you try-out the PR's code that will be resolved.

For issues other than the current, please refer to the forum.

[2021-02-10 09:53] Hourakhsh commented on #6727
dear Dimitris Efstathiou
Thank you very much for your consideration. i add name of the authors on the other versions of the same article. and I tried to export the issue using native XML plugin but it gives again this error:
Service Unavailable
The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.

Additionally, a 503 Ser

[2021-02-10 09:57] defstat commented on #6727
@Hourakhsh https://github.com/pkp/pkp-lib/issues/6727#issuecomment-775706842

[2021-02-10 10:12] loadbrain commented on #6729
Ok, what I first did was to create the files table before upgrade.
Then I got
`ERROR: Upgrade failed: DB: SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'files' already exists (SQL: create table `files` (`file_id` bigint unsigned not null auto_increment primary key, `path` varchar(255) not null, `mimetype` varchar(255) not null) default character set utf8 collate 'utf8_general_ci')

[2021-02-10 10:12] Hourakhsh commented on #6727
i even checked  the other authors of the vol 2 no 3, i tried to export using native XML plugin it gave the same error:
![5](https://user-images.githubusercontent.com/32219759/107495681-71516b00-6ba1-11eb-8062-06db63e4c22f.JPG)

and in PHP error just this 3 lines have been added after export of this issue failed:

[code]

[2021-02-10 10:18] loadbrain commented on #6729
Ok,
my tables use InnoDB and latin1_swedish_ci

1. create the files table before upgrade with InnoDB and latin_1_swedish_ci.
Then I got
`ERROR: Upgrade failed: DB: SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'files' already exists (SQL: create table `files` (`file_id` bigint unsigned not null auto_increment primary key, `path` varchar(255) not null, `mimetype` varchar(255) not n

[2021-02-10 10:24] defstat commented on #6727
@Hourakhsh it seems that this is produced by another issue.

[2021-02-10 10:47] NateWr opened #6741 "Validation errors are not displayed when uploading files during submission"
**Describe the bug**
If a submission file upload returns a 400 response with validation errors, the `SubmissionFilesListPanel` can not handle these errors correctly. The response will be formatted like this:

[code]

This is preventing the allowedUploads plugin by @ajnyga from working correctly.

**What application are you using?**
3.3.0-3

[2021-02-10 10:50] NateWr commented on #6741
PR:
https://github.com/pkp/ui-library/pull/143 (stable)

Tests:
https://github.com/pkp/ojs/pull/3038 (stable)

[2021-02-10 10:52] defstat opened #6742 "Import/Export OMP plugin extended"
**Describe the problem you would like to solve**
Extend the OMP import export functionality to include

- [ ] Chapter level DOI
- [ ] Book Series Title (for series attached to publications) (for series we only have path and Series Position for each publication.)
- [ ] Book Series description (for series attached to publications)
- [ ] eISSN for series attached to publications

[2021-02-10 10:54] loadbrain commented on #6729
By the way, if it helps, I can send a dump of the database I want to upgrade

[2021-02-10 12:22] Hourakhsh commented on #6727
Dear Dimitris
What shall i do?
Sincerely
Hourakhsh

On Wed, Feb 10, 2021 at 1:25 PM Dimitris Efstathiou <
notifications@github.com> wrote:

[2021-02-10 12:23] Vitaliy-1 opened #6743 "Review files pointing to non-existing submission file may break upgrade to 3.3"
**Describe the bug**
Likely related forum topic: https://forum.pkp.sfu.ca/t/error-during-upgrade-to-ojs-3-3-0-3/65762

Consider entries in a review_files table like:
[code]
If assume that submission files with id like 67 and 68 or 654-657 are missing, meaning multiple submission files for a given `review_id`, it will lead to a fatal error during upgrade:
[code]
The reason behind this is that pluck

[2021-02-10 12:23] Hourakhsh commented on #6727
i got it. Thank you. 🥇

What is your suggestion to solve the mentioned problem in this issue?
is there any manual way so we can deposit our metadata directly to the keeper registry.
apart from some issues that is not possible to export,I can see that pkp is packing some issues that I can export from native XML plugin but it is not showing in the
![8](https://user-images.githubusercontent.com/32219

[2021-02-10 13:00] jonasraoni commented on #5493
@asmecher is the harvester going to be archived? If yes, I'll close the issues I've opened against it.

Also, maybe the OPS should be pinned [here](https://github.com/pkp).

[2021-02-10 13:26] NateWr commented on #6741
Merged to `stable-3_3_0` and cherry picked to `master.

[2021-02-10 13:26] #6741 closed

[2021-02-10 13:38] ajnyga commented on #6741
I think I have to wait for this to be in an official release before I can do a new release for the plugin?

[2021-02-10 14:13] NateWr commented on #6741
If you want, you can assign your error like this:

[code]

That will override any other validation errors, but for your purposes it will probably suffice until 3.3.0-4 is out. Or you can release your plugin and just know that it will "work" but without a clear error message in versions before 3.3.0-4.

[2021-02-10 15:05] elton557 commented on #6724
@asmecher Hello, I sent you a message on the pkp forum, when downloading the dump notifies me?

[2021-02-10 16:09] defstat commented on #6742
@asmecher

I have change the functionality for importing series attached to a publication.

Before the PR, the code was looking for an existing series with the given path at the target installation. If no object found, the series is not added.

This PR changes that, trying to insert the given series.

[OMP]: pkp/omp#929

[2021-02-10 16:38] dbqreference commented on #5365
@asmecher When I originally configured it, I had "Google" set in the oauth_provider line but it didn't return an error or proceed with the request. After I changed it to "GMail OAuth", there was no difference. I can go ahead and set it back to "Google" and wait to see what else I might need to update or change based on what you might find out.

[2021-02-10 16:42] #6708 closed

[2021-02-10 16:51] claytondf commented on #6708
@asmecher,
**Describe the bug**
Unfortunately the OMP system does not allow you to change and save email templates.

**To Reproduce
Steps to reproduce the behavior:**

WorkFlow->Emails->Email Templates

https://user-images.githubusercontent.com/8274709/107541439-e626a400-6ba5-11eb-8a0f-69ff4c58affd.mp4

[2021-02-10 17:02] Vitaliy-1 commented on #6743
PRs
pkp-lib master: https://github.com/pkp/pkp-lib/pull/6744
pkp-lib stable-3_3_0: https://github.com/pkp/pkp-lib/pull/6745
tests (on master branch): https://github.com/pkp/ojs/pull/3039

[2021-02-10 17:14] jonasraoni commented on #6142
Just clearing old issues/PRs...

PRs:
[pkp-lib/master](https://github.com/pkp/pkp-lib/pull/6158)
[OJS/master](https://github.com/pkp/ojs/pull/2850)
[OPS/master](https://github.com/pkp/ops/pull/119)

[2021-02-10 17:25] bozana commented on #6071
@defstat, as asked on Slack, one question remains after the code review:
How is the workflow now -- that we removed the manual reference DOI lookup:
The article with the first publication containing citations is published.
First then the article DOI (together with the references) can be deposited (after the article is published). Thereby we get the referenceDepositID (and the Crossref does the sea

[2021-02-10 17:29] claytondf commented on #6708
@asmecher

Log to Apache2:

[Wed Feb 10 14:23:03.147849 2021] [:notice] [pid 21927] ModSecurity: Status engine is currently disabled, enable it by set SecStatusEngine to On.
[Wed Feb 10 14:23:03.232939 2021] [mpm_prefork:notice] [pid 21928] AH00163: Apache/2.4.38 (Debian) OpenSSL/1.1.1i configured -- resuming normal operations
[Wed Feb 10 14:23:03.232992 2021] [core:notice] [pid 21928] AH00094: Co

[2021-02-10 17:30] asmecher commented on #6742
Thanks, @defstat, I've made one comment on https://github.com/pkp/omp/pull/929 but otherwise it's ready for merging.

[2021-02-10 17:32] asmecher commented on #6708
@claytondf, that looks like a different issue; can you open a new entry for it?

[2021-02-10 17:37] asmecher commented on #6743
This looks good to me, @Vitaliy-1, and hopefully the user can confirm that it fixes the issue before we release 3.3.0-4. Please go ahead and merge.

[2021-02-10 17:40] asmecher commented on #3193
@NateWr, could you review this one?

[2021-02-10 17:43] asmecher commented on #6729
For the error:
[code]
I suspect that you're not dropping and recreating the database between attempts, so an earlier attempt already created the `files` table and your new attempt collides with it. Make sure you drop and recreate the database. However, I don't recommend using `latin1_swedish_ci` -- use a UTF8 collation/character set instead.

For the error:
[code]
I still think there's a mismatch

[2021-02-10 17:50] claytondf opened #6746 "Email Templates - The form was not saved"
**Describe the bug**

The OMP system does not allow you to change and save email templates.
The form was not saved because 1 error(s) were encountered. Please correct these errors and try again.

**To Reproduce**
WorkFlow->Emails->Email Templates
4. See error

https://user-images.githubusercontent.com/8274709/107549757-f68f4c80-6bae-11eb-94c2-ce9e150313b5.mp4

**What application are you using?**
O

[2021-02-10 17:52] asmecher commented on #5365
@dbqreference, if a `smtp_oauth_provider` setting of `GMail OAuth` doesn't cause an exception, it means that the code in the draft patch isn't being executed at all -- there's a typo in the configuration file, or a typo in the patch I can't spot, or something else like that happening. I'd suggest investigating the lines of code changed in the draft patch to see why they aren't being executed. (It'

[2021-02-10 17:54] asmecher commented on #6746
@claytondf, can you review your language settings in your press and make sure that there is at least one form language enabled?

[2021-02-10 18:19] claytondf commented on #6746
@asmecher  Thank you!

    Resolved after enabling the form and submission checkbox.

![image](https://user-images.githubusercontent.com/8274709/107552969-f09b6a80-6bb2-11eb-8766-092e27635c33.png)

[2021-02-10 18:19] #6746 closed

[2021-02-10 19:03] #6743 closed

[2021-02-10 19:57] luizbgomide opened #6747 "[OJS 3.3] List of journals inside the Dashboard in unsorted"
The journals are unsorted on the left top menu selector inside the Dashboard after the upgrade.

![image](https://user-images.githubusercontent.com/18707781/107564389-1a5b8e00-6bc1-11eb-9ec1-4b0f4a9fda75.png)

[2021-02-10 21:29] dbqreference commented on #5365
@asmecher I redid the entire Mail.inc.php file in order to start from template and followed the draft notes again in order to ensure I didn't look over anything. Something must have been erroneous in the text that I missed, which is great because now I'm retrieving a fatal PHP error in reference to the Mail.inc.php file itself.
`[10-Feb-2021 21:21:51 UTC] PHP Fatal error:  Uncaught Error: Class 'O

[2021-02-11 05:12] davidjb opened #6748 "[OJS 3.3] Cannot create Announcements: General error: 1364 Field 'setting_type' doesn't have a default value"
**Describe the bug**
Creating an announcement on a journal with fails to create the announcement, erroring with:

[code]

However, a half-created announcement was created; screenshot below. I can delete this fine from the UI.

The insert SQL doesn't supply a `setting_type`, which is required by the database (`setting_type varchar(6) NOT NULL`  is in my `announcement_settings` table in the database

[2021-02-11 08:52] otuoma opened #6749 "[OJS] 3.3.0.3 TypeError: e.availableLocales is null"
I have a new OJS installation of version 3.3.0.3. I get a blank section when I click on “journal” under settings. Masthead and Contact tabs are blank but Sections and Categories show their content.

![image](https://user-images.githubusercontent.com/12611023/107616539-56453080-6c5f-11eb-9397-1aad4f467c02.png)

The error I am seeing in the browser console is `TypeError: e.availableLocales is null`

[2021-02-11 09:48] loadbrain commented on #6729
Ok, got it working :-)

The upgrade demands collation utf8 and as engine MyISAM

So what I did:
* Changed collation of all tables to utf8
*  Changed storage engine for all tables form InnoDB to MyISAM
`$ php tools/upgrade.php upgrade`
...
`Successfully upgraded to version 3.3.0.3`

Ok, it is running now, but this is rahter cumbersome...

[2021-02-11 09:48] #6729 closed

[2021-02-11 10:16] Hourakhsh commented on #6727
Do you have any idea what should I do?

[2021-02-11 10:50] #6142 closed

[2021-02-11 10:51] NateWr commented on #6142
Thanks @jonasraoni, all merged!

[2021-02-11 10:57] NateWr commented on #6071
Yeah, I think the deposit or the request to Crossref should happen during the `Crossref::deposited` event. But if we can't know when the reference information will be found, we have to use a scheduled task.

Does Crossref not provide a callback? Many services offer a callback service. So for example with Stripe (which processes online payments), I send the request to make a payment. Because there

[2021-02-11 11:10] Hourakhsh commented on #6727
![10](https://user-images.githubusercontent.com/32219759/107628237-66660b80-6c71-11eb-9b09-d76ec4c9a104.JPG)
 in fact, i can export all articles of the same issue one by one but for example (vo1 no 1) but I can not export the same issue.

[2021-02-11 11:28] luizbgomide opened #6750 "[OJS 3.3] Plugin search in gallery misbehaving"
[OJS 3.3]

When you search for a plugin the gallery and click in one the results, the plugin information display is not correct, instead it shows the information from the plugins that were in that position when the Gallery opened.

For example, this is my Gallery:
![image](https://user-images.githubusercontent.com/18707781/107630743-c2656b80-6c42-11eb-854e-eae1fc9e7cdf.png)

If I search for someth

[2021-02-11 11:34] Vitaliy-1 opened #6751 "Upgrade failure with PHP 8.0: conflicts with XMLParser class"
**Describe the bug**
When trying to upgrade OJS with PHP 8.0, receiving a fatal error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install PHP 8.0, e.g., `apt install php8.0`
2. Use php8.0 cli, e.g.,  `update-alternatives --set php /usr/bin/php8.0`
3. `php tools/upgrade.php upgrade`

**What application are you using?**
 OJS 3.2.1 upgrade to 3.3.0

**Additional information**
Use na

[2021-02-11 11:50] Vitaliy-1 opened #6752 "Incompatibility with PHP 8.0: mb_substitute_character() no longer supports passing empty string"
**Describe the bug**
Tested on the upgrade attempt from OJS 3.2.1 to OJS 3.3.0. Receiving a fatal error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install PHP 8.0, e.g., `apt install php8.0`
2. Use php8.0 cli, e.g., `update-alternatives --set php /usr/bin/php8.0`
3. `php tools/upgrade.php upgrade`

**What application are you using?**
OJS

**Additional information**
According to

[2021-02-11 12:33] elton557 commented on #6724
Hello, did you manage to download the bank dump that I sent in a private message on the pkp forum?

[2021-02-11 12:42] Vitaliy-1 commented on #6752
Looking at the method's implementation, should int 63 be passed as an argument instead of a string? https://github.com/pkp/pkp-lib/blob/b373058ca0e5a181928ce7a4b06389f0e3419d1d/classes/core/PKPString.inc.php#L62

[2021-02-11 14:11] bozana commented on #6071
Yes, theoretically Crossref had that feature back then but they wished not to use it, if possible, because it brings other difficulties -- e.g. apparently lots of users are behind a firewall or so and Crossref had a lot of difficulties and support cases -- which we would have then too...
So maybe to then implement it now so that the scheduled task is always used and if something changes -- we can

[2021-02-11 14:41] henriqueramos commented on #6282
Hey @NateWr, could you please take a look on the [pkp-lib](https://github.com/pkp/pkp-lib/pull/6716) pull request again? Thank you!

[2021-02-11 15:47] rcgillis opened #6753 "Force validation of "https://" for ORCID IDs in user profile."
**Describe the problem you would like to solve**
Presently, when entering an ORCID iD in an author profile, the field accepts a "http://" when, in order to be a valid ORCID ID it should have to start with "https://".

**Describe the solution you'd like**
Ideally, if a user, when registering, entered their ORCID iD incorrectly, they would receive a notification indicating that their ORCID is not va

[2021-02-11 15:48] Vitaliy-1 commented on #6752
And it looks like the default character is question mark anyway:  https://github.com/php/php-src/blob/f0b387d1e42a5d7e9f5ebda1bec428fc0e7374be/ext/mbstring/mbstring.c#L862. I can trace it until at least PHP-7.0 branch. Removing this setting if no objections.

[2021-02-11 15:48] NateWr commented on #6282
Look good @henriqueramos! Can you redo the OJS pull request to run the tests against the latest pkp-lib changes? Once that passes this is ready for merge. :+1:

[2021-02-11 16:03] Vitaliy-1 commented on #6752
PR pkp-lib master: https://github.com/pkp/pkp-lib/pull/6754
Tests: https://github.com/pkp/ojs/pull/3041

[2021-02-11 16:59] asmecher commented on #6749
Hi @otuoma -- I see you've also posted this at https://forum.pkp.sfu.ca/t/ojs-3-3-0-3-typeerror-e-availablelocales-is-null/65811. That's the best place to get help.

[2021-02-11 16:59] #6749 closed

[2021-02-11 17:12] asmecher commented on #6729
@loadbrain, thanks for confirming and glad you got it working. I believe this is an issue with old OJS installations that began with MySQL when the default engine was InnoDB, then continued with table additions after the default changed to MyISAM. MySQL doesn't support foreign key relationships across storage engines so now that we're adding foreign key declarations the problem is surfacing.

It m

[2021-02-11 17:20] asmecher commented on #6750
@luizbgomide, which application are you using, and what version? (Please include this when creating an issue.)

[2021-02-11 17:21] asmecher commented on #6724
@elton557, not yet.

[2021-02-11 17:40] loadbrain commented on #6729
Well, I will now check if the collation change from latin1 to utf8 killed all the german special chars...

[2021-02-11 17:47] luizbgomide commented on #6750
@asmecher my bad, I usually put on the title, I missed this time. It is on OJS 3.3.

[2021-02-11 18:41] drugurkocak commented on #6748
Hi,
I also experience the same error when I try to insert new announcement. I get a 500 internal server error, and an emtpy (having no title, no body) announcement was added. The annoncements disappeared from tha frontpage, but I can see empty ones in the announcement page.
php-error log contains those lines
Regards,

[2021-02-11 19:08] asmecher commented on #6752
Thanks, @Vitaliy-1, merged and cherry-picked back to `stable-3_3_0` and `stable-3_2_1`.

[2021-02-11 19:08] #6752 closed

[2021-02-11 19:14] asmecher commented on #6751
- Renamed XMLParser to PKPXMLParser. (This class should be considered deprecated in favour of standard PHP built-ins and will be removed in the future.)
- Created a class alias where possible for backwards compatibility.

PRs:
- https://github.com/pkp/pkp-lib/pull/6755
- https://github.com/pkp/ojs/pull/3042 (submodule update; enables PHP8 Travis testing)

[2021-02-11 19:22] asmecher commented on #6748
@davidjb and @drugurkocak, are these upgraded OJS installations or fresh installs?

[2021-02-11 19:34] #6753 closed

[2021-02-11 21:16] davidjb commented on #6748
@asmecher Thanks for looking into this!

Mine is an upgrade, originally installed at 2.4.8, upgraded then to 3.2.1 and now to 3.3.0. Originally, the database was set up on a much older version of MySQL; because of this, I had database-encoding upgrading to 3.2.1 (fixed though and working fine for months), and then issues moving to 3.3.0 (detailed at https://forum.pkp.sfu.ca/t/serious-issue-with-da

[2021-02-11 21:20] drugurkocak commented on #6748
Dear @asmecher
Yes, this is an 8 year old database and lastly, it was upgraded from ojs 3.2.1.3 to 3.3.0.3 after applying 2 fixes.
1. https://github.com/pkp/pkp-lib/issues/6703#issuecomment-775313419
2. https://github.com/pkp/pkp-lib/pull/6745/commits/77fe9dd1f9bc9ecd7036c2e4ff1e7fd81a27e9af

Regards,

[2021-02-11 21:28] drugurkocak commented on #6748
I just noticed that I can't assign the new announcement to an announcement type since it is not listed on the dialouge. Also, when I click an existing announcement type, a blank (empty) dialogue is opened and a new one is created when I fill the title field.
Regards,

[2021-02-12 01:42] asmecher commented on #5365
@dbqreference, great, it looks like the new code is being executed. You'll need to add this near the top of `Mail.inc.php` to resolve the `Class 'OAuth' not found` error:
[code]

[2021-02-12 01:55] dagosalas commented on #6748
I have the same problem, and it is a clean install of OJS 3.3.0-3.
Apart from that, in the expiration date it is an empty input box.

[php7:notice] [pid 13752] [client 148.234.13.27:61705] Slim Application Error:\nType: Illuminate\\Database\\QueryException\nCode: HY000\nMessage: SQLSTATE[HY000]: General error: 1364 Field 'setting_type' doesn't have a default value

[2021-02-12 09:54] isgrim commented on #6691
Hi @NateWr and @asmecher ,

I know this is probaly not high priority, but I found the pluginTemplate Repository linked in the Developer Docs and was wondering if this has been Updated for 3.2 or 3.3?

https://github.com/pkp/pluginTemplate

It would be a great starting point for colleagues who start working on OJS/OMP generic Plugins.
Especially with the new Vue.js Forms and Schema.

Thanks for doi

[2021-02-12 13:50] aukondk opened #6756 "[OJS] Automatic Review Reminders should be "sent" by the assigned editor, not Principal Contact."
**Describe the problem you would like to solve**
Automatic review reminders currently are "sent" by the Journal's Principal Contact. This is not ideal as it breaks the chain of communication between the editor and the reviewer.

**Describe the solution you'd like**
Ideally the reminder would be sent by the editor who requested the review but I think that is not expressly recorded.
Maybe just the t

[2021-02-12 16:11] Vitaliy-1 opened #6757 "Supported form locales can be serialized as associative array"
**Describe the bug**
As part of 3.3.0 upgrade arrays and objects (in setting values) are serialized in JSON format. To simplify it, all arrays with integer keys are serialized as simple indexed arrays. Nevertheless, some forms may process data in the way it's serialized as associative arrays with integer keys, which may be sequential but starting not from a zero value, e.g.: `[2 => value1, 3 => va

[2021-02-12 16:12] claytondf commented on #5365
@dbqreference
Hello!
   If the solution works, could you post the procedures? I tried on the OMP and was unsuccessful.

Fail:
 SMTP connect() failed. https://github.com/PHPMailer/PHPMailer/wiki/Troubleshooting,

[2021-02-12 16:40] dbqreference commented on #5365
@asmecher @claytondf Success! I was able to successfully send the email from my OJS installation and configuration to the necessary email and have it show up.

It shows up in Junk at first but I can work with that as long as it sends the email. Attached to this comment is the file information that I configured with the `Mail.inc.php` file as well as the `config.inc.php` file originally configured.

[2021-02-12 17:06] asmecher opened #6758 "Submission email attachments from 2.x not presented in 3.x"
It was possible to add email attachments when composing workflow emails in OJS 2.x, but it's not currently possible to do this in 3.x.

For installations that upgraded from 2.x to 3.x, attachments that were previously available in the submission email log are no longer presented.

Determine a way to restore the presentation of email attachments created in 2.x to 3.x.

[2021-02-12 17:14] Vitaliy-1 commented on #6663
Not resolved completely, although mimetype is identified and recorded in the database correctly, CSS is still recognized by the browser as `text/plain`. See related forum thread: https://forum.pkp.sfu.ca/t/issue-with-dependent-css-in-the-html-galley-in-ojs-3-3-0-3-and-3-3-0-2/65768 (able to reproduce)

[2021-02-12 18:06] Vitaliy-1 commented on #6663
Yep, another place where the mimetype detection relies just on Flysystem's tool. I can simply implement a similar workaround. @NateWr, I'm wondering why we can't rely on the mimetype recorded in the database here if it's available? E.g., pass `fileId` as an optional parameter to the `download` operation.

[2021-02-12 19:41] amandastevens commented on #6679
@NateWr , we have "Preview an issue" on the list of tests already, with "Issue can be previewed" as the intended result. Is there anything further that should be added?

[2021-02-13 03:53] asmecher commented on #6748
The issue is caused by upgraded installations not having the `setting_type` column of `announcement_settings` set to permit null entries. You can fix already-upgraded installations by running the following SQL query:
[code]
However, I would recommend also installing the patch attached to this issue (https://github.com/pkp/pkp-lib/commit/20b2f238e8ed3cd317d216f596edecac2b115a82.diff) -- it corrects

[2021-02-13 03:53] #6748 closed

[2021-02-13 03:58] davidjb commented on #6748
@asmecher For all the rows already in the table after the upgrade, their  `setting_type` values are set as `’string’` - do these need to change or be made null?  Thanks for the fix; will confirm in the coming days.

[2021-02-13 13:06] drugurkocak commented on #6748
Hi @asmecher
After running the sql query on the database, and applying the code changes, the issue was resolved after clearing the cache, and reimporting the data into announcement tables.
Thank you very much.

[2021-02-14 16:59] ajnyga opened #6759 "[OPS] Rename OJS related variables in the code"
The OPS code still has some references to things like articles and journals. Rename these to OPS related terminology or neutral terminology.

[2021-02-15 08:40] ibnusulaiman83 commented on #5583
I got same errrors but i dont under how you fixed that issue?

[2021-02-15 08:41] ibnusulaiman83 commented on #5583
me too how to fix that issue? I already restore old database

[2021-02-15 09:17] amirtkh commented on #2561
I installed the Open Journal System (OJS) version of 3.1.1.4 to handle our journals. A few weeks ago notification sending by OJS was suddenly stopped. Based on my searches on Google it is a prevalent problem in OJS and many users have been faced with it. Also, there is no clear solution to solve this problem. We edited the config.inc.php file as follows, but the OJS notifications did not work. I s

[2021-02-15 14:05] ctgraham commented on #2561
@amirtkh , please take a look the Support Forum here:
https://forum.pkp.sfu.ca

You'll find a lot of existing guidance and debugging recommendations, but you can also open a new post for the community to help resolve your issue.

[2021-02-15 17:55] benaltair commented on #6676
Created PR https://github.com/pkp/healthSciences/pull/206

[2021-02-15 17:59] benaltair commented on #6676
I made a PR for [healthSciences](https://github.com/pkp/healthSciences) -- is there another place for the main theme where this should be done? Couldn't see it in any repo.

[2021-02-15 19:40] talknshare opened #6760 "Portico Plugin for OPS"
We would like to have Portico Plugin for OPS so that it can provide preservation of preprint archives. Since we already have a Portico Plugin for OJS, it would be awesome to port it to OPS as well. The PKP PN plugin for OPS would also be a good step towards preserving the preprints but as Alec had mentioned that the PKP PN plugin will have to “…be discussed at the PN advisory level before support

[2021-02-16 04:36] davidjb opened #6761 "[OJS v3.3] Non-HTTP(S) links entered into rich editor fields become page-relative"
**Describe the bug**
When creating a link in a rich-text editor, creating a link (either via the Insert Link button or by entering raw HTML) with a non-HTTP(S) protocol, such as `mailto:` or `ftp://` creates the link relative to the current page in the management website.  This prevents use of other types of links that aren't http:// or https://, which prevents email links or links to data files s

[2021-02-16 11:49] jmvezic opened #6762 "[OJS] Access denied for journal editor when adding new file in Request revisions dialog"
**Describe the bug**
When a journal editor tries adding a new file as part of a "Request Revisions" step under Review phase, they get "Access denied". There is a workaround by adding that file via "Upload/select files" under "Review Files", and then later checking it in the "Request Revisions" dialog under "Select review files to share with the author(s)".

**To Reproduce**
Steps to reproduce the

[2021-02-16 12:49] nuhnaci opened #6763 "[OJS 3.3] getting error while uploading review file in revisions section"
OJS version : 3.3.0.3
PHP version: 7.4
the error the user received : Failed Ajax request or invalid JSON returned.
PHP log:
PHP Fatal error: Uncaught Error: Call to undefined method SubmissionFileDAO::getAllFileStages() in /var/www/…/lib/pkp/controllers/wizard/fileUpload/PKPFileUploadWizardHandler.inc.php:75
Stack trace:
#0 /var/www/…/lib/pkp/classes/core/PKPRouter.inc.php(387): PKPFileUploadWizar

[2021-02-16 13:00] bibliothekswelt commented on #5629
Trailing spaces in author’s name result in a “ghost” abbreviation point in citation formats https://forum.pkp.sfu.ca/t/trailing-spaces-in-authors-name-result-in-a-ghost-abbreviation-point-in-citation-formats/65782

[2021-02-16 14:18] jameswill commented on #6737
Hello,

Upgrade from 3.2.1.3 to 3.3.0-3 works fine by applying the patch i.e https://github.com/pkp/pkp-lib/pull/6719/files. However found that there are few new tables present in fresh install of 3.3.0.3, which are not created post upgrade from 3.2.1.3 to 3.3.0.3 i.e :

review_forms
review_form_elements
review_form_element_settings
review_form_responses
review_form_settings

Will this cause any i

[2021-02-16 15:16] racemochridhe commented on #2644
Apologies if this has been addressed already in the most recent update, but I can confirm this remains an issue in 3.2.0.3. I spent a considerable portion of the morning erasing placeholder abstract text that had to be added to ram submissions through QuickSubmit for a section that does not require abstracts.

[2021-02-16 15:45] asmecher commented on #2644
@racemochridhe, I just double-checked in 3.3.0 and it doesn't appear to be an issue. If you're able to confirm with that release, it'll help identify the source of the problem, and whether it still exists.

[2021-02-16 15:47] racemochridhe commented on #2644
Thank you for the update. I'll add that to our reasons to upgrade!

[2021-02-16 16:31] asmecher commented on #6737
@jameswill, that's a different issue than the one first reported here (`Class 'GenericPlugin' not found`) -- could you post your question in our support forum (https://forum.pkp.sfu.ca)? That's the best place to get help. If something turns out to be a bug we can migrate it here for dev work.

[2021-02-16 16:31] #6737 closed

[2021-02-16 17:19] asmecher commented on #6763
I think this has already been posted on the support forum (https://forum.pkp.sfu.ca/t/ojs-3-3-0-3-upload-of-article-flag-not-possible/65757) -- closing this issue in favour of discussion there.

[2021-02-16 17:19] #6763 closed

[2021-02-16 17:33] nuhnaci commented on #6763
Yes, I wrote to the forum before, the inability to upload reviews affected the usage, so I wanted to draw attention to the problem here.

[2021-02-16 19:34] asmecher commented on #6691
@isgrim, I took a look at https://github.com/pkp/pluginTemplate and it doesn't use any features that are different between 3.1.2 and 3.3.x, i.e. it should still work with newer releases.

[2021-02-16 20:44] asmecher commented on #6748
I think the `setting_type` column in any table backed by the `SchemaDAO` is no longer used, as it's taken from the schema file (` lib/pkp/schemas/announcement.json` in this case) -- correct, @NateWr?

[2021-02-16 20:53] asmecher commented on #6676
@benaltair, thanks! The built-in templates are in the OJS repository, and you can find them e.g. for the `master` and `stable-3_3_0` branches:
- `lib/pkp/templates/frontend/pages/userLogin.tpl`
- `lib/pkp/templates/frontend/components/registrationForm.tpl`

(I'm guessing these ones might have been tricky to find because they're hidden in the `lib/pkp` submodule; this is done because these parts of

[2021-02-16 21:42] asmecher commented on #6758
With two databases (`ojs2_dbname` and `ojs3_dbname`)...

1. Set the `assoc_type` in the new database.
UPDATE ojs3_dbname.submission_files sf JOIN ojs2_dbname.article_files af ON (sf.file_id = af.file_id) SET sf.assoc_type = 518 WHERE af.file_stage = 9;
2. Apply the patch: https://github.com/pkp/pkp-lib/pull/6764

These changes *have not* been committed yet!

[2021-02-16 21:46] asmecher commented on #6758
@NateWr, I've added this to the emails/notifications project for consideration when we get to that. If we re-add a mechanism for email attachments in OJS 3.x, we should either use the existing mechanism for storing them for presentation in the log, or adapt older (2.x-based) entries for whatever new mechanism we use.

[2021-02-17 08:07] seisense commented on #6762
Having the same issue in OJS 3.2.1.3 as well.

[2021-02-17 10:58] defstat commented on #5049
@asmecher

**PRs**
ojs: pkp/ojs#3044
pkp-lib: #5154

I think that needs at least 2 more improvements:
1. a way to update already existing journals (as the emailSignature is a context settings field). Perhaps during upgrade, and only if the value is the same as the old default?
2. perhaps the locale could reside at the PKP-LIB locales (and not be app-specific)?

[2021-02-17 11:36] rcgillis opened #6765 "Author self-registration option not showing up despite being selected in User & Roles settings"
**Describe the bug**
When the option to allow users to self-register as author is selected, the author opiton is not showing up in list of available roles to self-register.

**To Reproduce**
Steps to reproduce the behavior:

1. When logged in as JM, go to "Users and Roles"
2. Edit the Author settings.
3. Select the Self-registration option.
4. Check the registration options when registering (when

[2021-02-17 12:03] jameswill commented on #6737
I have posted the issue on forum

[https://forum.pkp.sfu.ca/t/ops-upgrade-from-3-2-1-3-to-3-3-0-3-does-not-create-some-tables-which-are-created-in-fresh-install-of-ops-3-3-0-3/65950/2](url)

[2021-02-17 16:24] asmecher commented on #6765
The registration form only lists the option to self-register as a reviewer (when enabled). Both author and reader self-registration are implicit when registering within a journal/press/preprint server's site -- reader registration is automatic for the journal/press that is being registered into, and author self-registration occurs when a submission is initiated. For finer-grained control over whic

[2021-02-17 16:24] #6765 closed

[2021-02-17 16:30] asmecher commented on #6762
Can you double-check your server's logs to see whether the request is being denied by mod_security or another similar tool?

[2021-02-17 16:31] #6751 closed

[2021-02-17 17:30] asmecher commented on #5049
Thanks, @defstat!

No, I don't think we should change signatures when users have been working with them already. It's up to journal managers to be legally compliant in whatever region they're working (@jmacgreg's notes about CASL are helpful for motivating the changes but I'm against adding a link to the legislation when most of our community is non-Canadian). Changing the signature in any way for

[2021-02-17 19:08] asmecher commented on #5365
Thanks, @dbqreference -- https://github.com/pkp/pkp-lib/commit/18c17ecd120e71a9daadaf97b3fb62bac023e4c8 should encapsulate this (for the `stable-3_3_0` branch) but anyone's confirmation is welcome!

[2021-02-17 19:08] #5365 closed

[2021-02-17 19:27] asmecher commented on #5365
These changes will be included in OJS/OMP/OPS 3.3.0-4 when that is released, and will require config file changes in order for anything to take effect (see https://github.com/pkp/ojs/commit/43cba897d6ec5451273f56dcce71bd8548067a00 for the configuration file template changes).

[2021-02-17 19:49] jmvezic commented on #6762
@asmecher nothing in the Apache's error.log

[2021-02-17 19:51] jmvezic commented on #6762
I should also point out this happens on a stock configuration of Debian 10, MariaDB and Apache2. All latest versions.

[2021-02-17 20:11] withanage commented on #6691
@asmecher ,

Following  PR https://github.com/pkp/plugin-gallery/pull/45 adds Texture support for OJS 3.3

[2021-02-17 21:08] jmvezic commented on #6762
Now also managed to produce another error, when clicking the "Upload/Select Files" under "Review Files". Error reads "Failed Ajax request or invalid JSON returned".

From the error log:

``
 PHP Warning:  Declaration of ManageSubmissionFilesForm::execute($stageSubmissionFiles, $fileStage = NULL) should be compatible with Form::execute(...$functionArgs) in /var/www/html/journal1/lib/pkp/controllers

[2021-02-18 00:56] ibnusulaiman83 opened #6767 "[OMP] Cannot upgrade using command line"
Hello. Iam using OMP version 3.1.0.0 and need to upgrade 3.2.1.4. I am using command line
`php tools\upgrade.php upgrade`

But i got this error
`[data: dbscripts/xml/upgrade/3.2.0_versioning.xml]
ERROR: Upgrade failed: DB: Column 'publication_id' cannot be null`

How to fix that issues?

[2021-02-18 00:57] ibnusulaiman83 commented on #5583
can you share your sql script to show this result?

[2021-02-18 01:44] asmecher commented on #5583
@ibnusulaiman83, please post your question on the support forum (https://forum.pkp.sfu.ca); that's the best place to get help.

[2021-02-18 01:44] asmecher commented on #6767
@ibnusulaiman83, please post your question on the support forum (https://forum.pkp.sfu.ca); that's the best place to get help.

[2021-02-18 01:44] #6767 closed

[2021-02-18 03:30] nekoto-kun opened #6768 "[OJS] Access denied when clicking on "Administration" menu"
**Describe the bug**
I'm having difficulties accessing Admin page through "Administration" menu under User menu despite logged in as the admin user. This happened after upgrading OJS version 3.1.2.0 to 3.3.0.3.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as admin user
2. Open Profile menu dropdown on navigation bar
3. Click on "Administration"
4. Get the error "Access denied"

**Ho

[2021-02-18 06:32] ajnyga commented on #6306
Note that @NateWr idea of moving towards SubmissionGroups class that would be a parent of both Categories and Sections/Series would solve this as well. In Sections you can make such a distinction. Just saying that maybe we should put our efforts to that bigger overhaul instead of patching up smaller issues.

See https://github.com/pkp/pkp-lib/issues/4415

[2021-02-18 07:20] henriqueramos commented on #5844
Hey @NateWr and @asmecher.

There's the pull requests for this task, and the evidence too. Could someone please review it? Thank you!

[ojs](https://github.com/pkp/ojs/pull/3045)
[pkp-lib](https://github.com/pkp/pkp-lib/pull/6769)

![Screenshot from 2021-02-18 03-58-52](https://user-images.githubusercontent.com/1243634/108319650-7bc2c480-71a0-11eb-8349-309a96bf1a03.png)

[2021-02-18 07:32] henriqueramos commented on #6282
Have fixed the conflicts @NateWr. Could you please take a look on the pull requests again?

@asmecher could you check it too, please?

[2021-02-18 08:47] ajnyga commented on #5583
Just FYI that I got 644 rows.

[2021-02-18 13:40] alexxxmendonca opened #6770 "[OPS] Can't locate preprint via search"
**Describe the bug**
It's not possible to find this preprint using the search tool.

https://preprints.scielo.org/index.php/scielo/preprint/view/746

Attempted using title in Portuguese, English and using the author names but no success.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://preprints.scielo.org/
2. Try searching for metadata for this posted preprint https://preprints

[2021-02-18 14:31] asmecher commented on #5844
Looks good overall, @henriqueramos! I made a couple of small request changes on the two PRs; when that's ready, could you also open PRs against OMP and OPS `main` for the same changes?

[2021-02-18 14:35] asmecher commented on #5844
I just reviewed the cases where this data is used, and they're currently presented without escaping (`lib/pkp/templates/frontend/pages/about.tpl`):
[code]
This means that in the past we expected users to manually enter HTML into a non-rich text field. The PRs you've proposed will resolve this so the entry is HTML-based, but because the migration escapes existing settings, it'll cause users who wor

[2021-02-18 16:24] asmecher commented on #6768
@nekoto-kun, can you confirm whether this is still an issue when using the default theme?

[2021-02-18 17:08] drugurkocak commented on #6768
Dear @asmecher
I can confirm that I get access denied message when I click Administration link on right top menu in frontend of OJS 3.3.0.3 using Default Theme too.
Regards,

[2021-02-18 17:27] asmecher commented on #6768
PR:
- https://github.com/pkp/pkp-lib/pull/6771

@defstat, could you review this, please?

[2021-02-18 18:59] asmecher commented on #6762
@jmvezic, that warning message is cosmetic, but might interfere if you've got your PHP configured to send errors/warnings to the browser.

@NateWr, could you take a look at the issue first reported? This appears to have been caused by https://github.com/pkp/pkp-lib/issues/6057; in particular [this comment](https://github.com/pkp/pkp-lib/blob/3_3_0-3/classes/security/authorization/internal/Submissi

[2021-02-19 00:54] rahmanramsi opened #6772 "[OJS 3.3.03] Upgrade from 3.2 to 3.3, All Journal custom block become same from last journal custom block"
**Describe the bug**
My OJS have 6 Journals.
I successfully upgrade OJS from version 3.2.1.3 to 3.3.03, but from all journal on Custom Block Manager plugins all block content become same as from last journal i created.

**What application are you using?**
 OJS 3.3.03

**Additional information**
Before Upgrade
![WhatsApp Image 2021-02-19 at 8 49 41 AM](https://user-images.githubusercontent.com/4827

[2021-02-19 08:19] marcbria commented on #2549
Don't know if is the right place to post... but I got petitions from different publication services to lock access to certain areas (ie: plugin management, certain plugin usage, journal configuration) to journal managers.

There are a lot of situations where a publishing service would like to lock the access of journal managers to an specific plugin settings/usage (for example: CrossRef, User Impo

[2021-02-19 10:14] isgrim commented on #5502
@asmecher @NateWr Hi Alec and Nate,

is there any status update for this issue?

We have problems with this in combination with the quickSubmit plugin. If you select a submission language in the quickSubmit Plugin and only want to fill the Contributor meta data for this language it is currently not possible, because it seems the Author form is not switched to the new language and the other submiss

[2021-02-19 11:13] defstat commented on #5048
@asmecher

**PRs**
pkp-lib: #5091
ojs: pkp/ojs#3046

[2021-02-19 11:26] isgrim opened #6773 "[OJS/OMP] quickSubmit Plugin - switching submission language not working since 3.2.x"
**Describe the bug**
Hi everyone,

a co-worker had problems with using the quicksubmit Plugin for adding submissions with different locales than the default journal locale.

When using the QuickSubmit Plugin:
It seems the switch of the submission language does not propagate to the publication object, so the AuthorGridHandler for the contributors grid still operates on the initial language set, whi

[2021-02-19 11:27] isgrim commented on #5502
I think I found the issue with the submission language in the quickSubmit Plugin. I opened a separate issue:
https://github.com/pkp/pkp-lib/issues/6773

These two issues work together in devious ways :grimacing:

[2021-02-19 11:28] brunocampos87 commented on #5583
Friend, i almost the same problem:

In my debug shows:
PKP-Database-Logger 1613733245.0274: -----
(mysqli):
                        UPDATE submission_chapters as sc
                        SET publication_id = (
                                SELECT s.current_publication_id
                                FROM temp_submission_chapters as tsc
                                LEFT JOIN submissions a

[2021-02-19 12:45] cboulanger opened #6774 "[OJS] PHP Warning and fatal error"
[code]
- OJS 3.3.0.2.
- PHP 7.3.27-1~deb10u1
- 5.5.5-10.3.25-MariaDB-0+deb10u1

[2021-02-19 13:08] loadbrain opened #6775 "Sections in Journal Settings keep loading in OJS 3.3.0.3"
**Describe the bug**
If I click the Sections tab in Journal Settings the "Loading spinner" is shown, nothing else happens.
Same happens under Settings -> Workflow -> Submission -> Checklist

![checklist](https://user-images.githubusercontent.com/5653662/108508332-eddbfc00-72bb-11eb-8133-b853fab7ca3e.png)
![sections](https://user-images.githubusercontent.com/5653662/108508334-ef0d2900-72bb-11eb-8c5

[2021-02-19 13:27] elton557 commented on #6724
@asmecher, Hello, did you get the dump I sent in a private message?

[2021-02-19 14:23] cboulanger commented on #6774
Also, I am having this error, don't know if it is related:
[code]

[2021-02-19 15:27] ajnyga commented on #5887
Was this fixed for 3.3?

[2021-02-19 16:13] #6768 closed

[2021-02-19 16:15] asmecher commented on #6768
This will be fixed in OJS/OMP/OPS 3.3.0-4. Users who are affected can resolve the problem by applying this change:
https://github.com/asmecher/pkp-lib/commit/e9f5360ffe6638ff77e7c76db9496094eaf7759a
(The file to edit is `lib/pkp/classes/services/PKPNavigationMenuService.inc.php`.)

[2021-02-19 16:19] bozana opened #6776 "usage event: the book abstract pages are not logged correctly"
**Describe the bug**
Instead of logging the URL .../catalog/book/{submissionId} the URL .../catalog/book is logged. This leads to book abstract views not to be counted at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a book abstract page
2. See the current usage log file in the folder `usageStats/usageEventLogs/`
3. See the wrong URL

**What application are you using?**
 OMP 3.2

[2021-02-19 16:42] bozana commented on #6776
PRs:
stable-3_2_0: https://github.com/pkp/omp/pull/932
stable-3_2_1: https://github.com/pkp/omp/pull/933

[2021-02-19 16:44] bozana commented on #6776
@asmecher, could you please take a look?

[2021-02-19 18:02] asmecher commented on #6776
Oof, that's unfortunate -- but the fix looks good to me. I think in the future we should get rid of `publishedSubmission` terminology entirely in favour of just calling it a `submission` (this is a throwback to code before versioning/publications were introduced) but a minimal fix makes sense for everything up to `main`. Please go ahead!

[2021-02-19 18:23] frafra commented on #484
I will share mine, which relies on Postgres instead of MySQL; the configuration file is bind mounted.

[code]

It would be better to have an intermediate build step, not to bring development dependencies in the final image of course.

I could have used the Docker composer image, but that is based on Alpine while the final image is not, so it would not be a good idea to just copy the compiled libra

[2021-02-19 21:02] asmecher commented on #5887
No, I don't think there's been any dev activity on this one yet.

[2021-02-19 21:06] asmecher commented on #6774
@cboulanger, I think this is a data error. Try the following query:
[code]
This will list any `submission_files` entries that refer to entries in the `notes` table that do not exist. If these do not appear to be important, you could remove them. (Please take a complete backup of your database before modifying it directly.)

If you're able to replicate the steps that cause the missing entry, please

[2021-02-19 21:07] asmecher commented on #6775
@loadbrain, could you post this in our support forum (https://forum.pkp.sfu.ca), and include any relevant entries from your PHP error log? That's the best place to get help.

[2021-02-19 21:07] #6775 closed

[2021-02-19 22:00] ajnyga commented on #5540
I know this is closed, but just wanted to drop by and say that this was a great new feature that has been requested many times by our journals. Thanks for the work!

[2021-02-19 23:06] asmecher commented on #5048
Thanks, @defstat, just a couple of comments. Also, don't hesitate to use the modern array syntax `[]` for new code.

[2021-02-20 09:22] cboulanger commented on #6774
Thank you very much for responding so quickly.

In fact I get three records. After a backup, I tried to delete them with
[code]

but got this:

[code]

What would be the right way of deleting the problematic records?

[2021-02-20 18:27] semteacher commented on #6732
Hello. Just faced this issue during my 3.1.1.4 -> 3.3 upgrade preparations.
I realized that my 3.1.1.4 test DB was entirely MyISAM (despite server's default engine - InnoDB).
During upgrade one table become converted to InnoDB and referred - remains MyISAM (exactly as suggested https://github.com/pkp/pkp-lib/issues/6732#issuecomment-775474500)
Obviously, update failed.
I restore DB from backup and

[2021-02-21 02:59] ibnusulaiman83 commented on #5583
I got same issues to upgrade from version 3.2.1.4 to 3.3.0.3.

[2021-02-21 05:35] ibnusulaiman83 commented on #5583
Hello sir. I got this error while run upgrade from version 3.2.1.4 to 3.3.0.3
`[data: dbscripts/xml/upgrade/3.2.0_versioning.xml]
ERROR: Upgrade failed: DB: SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'publication_id' cannot be null (SQL:
			UPDATE publication_formats as pf
			SET publication_id = (
				SELECT s.current_publication_id
				FROM temp_publication_formats as tpf
				L

[2021-02-21 16:48] twakeford commented on #6272
Hi - is the above a setting to simply cc/bcc the primary contract into the author's submission notification or to send a completely different template?

The former is how OJS 2 did it, but this always seemed really odd. The author submission notification has one function and the editor submission notification has another function = if the setting is being reintroduced, could it be a completely sep

[2021-02-22 05:32] henriqueramos commented on #5844
@asmecher I've removed the migration.

[2021-02-22 08:54] ajnyga opened #6777 "[OJS] Slow query in issueDao getNumArticles"
Affecting at least 3.2.1 stable, probably also 3.3 with a large database.

When the Back issues listing in the dashboard is loaded, the `getNumArticles` is called for each listed issue.
The query is very slow in larger databases taking between 0.7 to 1.5 seconds to run for each individual issue, resulting into a very slow back issues listing. In a large journal the listing can load up to 2-3 minut

[2021-02-22 09:13] ajnyga commented on #6777
Actually this is actually the better way of doing it:

[code]

[2021-02-22 10:21] NateWr commented on #6272
Sounds like a good idea.

It looks like this is one of the configurable notifications. So each user can go into Profile > Notifications and choose whether to receive an email, or an in-app task, or disable it altogether. There is no email template and the message content is very simple: `A new article, \"{$title},\" has been submitted.`.

Judging from the code, this notification is not sent to all

[2021-02-22 10:23] NateWr commented on #6663
@Vitaliy-1 yes, good find, please use the mimetype in the database. Just forgot to change this over. The only time we should use Flysystem's mimetype check is when storing the file into the database.

[2021-02-22 10:50] NateWr opened #6778 "Whitespace around author names should be trimmed"
**Describe the bug**
From the [forum](https://forum.pkp.sfu.ca/t/trailing-spaces-in-authors-name-result-in-a-ghost-abbreviation-point-in-citation-formats/65782):

Author name information should get trimmed before it is saved to the database and a migration should run to ensure existing data conforms to this.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an author with a given name w

[2021-02-22 10:51] NateWr commented on #5629
Thanks @bibliothekswelt. I think that's something we should fix at the source, so that whitespace is trimmed in author names before it is saved. I filed an issue at: https://github.com/pkp/pkp-lib/issues/6778

[2021-02-22 11:01] NateWr commented on #6282
It looks like the tests are failing for OJS. It's the journal creation that is failing, so probably the validation checks are causing a problem. Can you reproduce the test failure when you run the tests locally?

[2021-02-22 11:10] NateWr commented on #6679
Often a fatal error will lead to either a white screen or an "unfinished page" (ie - you can see the article title and some content, but maybe you notice that the sidebar or footer is gone). In addition, I can think of the following things to check:

- The how-to-cite plugin either shows the correct thing or doesn't appear
- Anything like DOIs, a published date, or an issue assignment that may not

[2021-02-22 11:16] NateWr commented on #6748
Correct.

[2021-02-22 11:42] NateWr commented on #6306
I think we'll probably aim to address something like this as part of our submission wizard refactor in 3.4. We're doing that for accessibility work, but we'll probably aim to make it more easily configurable.

[2021-02-22 11:50] NateWr commented on #6762
I suspect that this is going to be related to the query args that are sent by the grid. Each grid needed to be updated separately and I may have missed this one. Has anyone managed to reproduce this in 3.3? It may only be a 3.2.x issue.

[2021-02-22 11:55] NateWr commented on #5502
No progress yet, unfortunately!

[2021-02-22 12:13] jmvezic commented on #6762
@NateWr I can try today if you want, I've got a quick-setup script for installing any OJS version.

[2021-02-22 12:14] NateWr commented on #6762
Yes, please. Thanks!

[2021-02-22 12:26] eirikhanssen commented on #6743
I can confirm I had this same error when upgrading our largest OJS database:
ERROR: Upgrade failed: DB: PDOException: SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (journals_stage.#sql-500_219b, CONSTRAINT review_files_submission_file_id_foreign FOREIGN KEY (submission_file_id) REFERENCES submission_files (submission_file_id)

[2021-02-22 14:24] eniocarboni opened #6779 "[OJS] Set Reply-To header empty or identical to the email From"
**Describe the problem you would like to solve**
If we configure OJS (3.x) to send DMARK compatible emails it is not possible to delete the "Reply-to" header.
I would need the "Reply-To" header to be empty or identical to the From (DMARK) since I would like to use the email only as a notification and not as a tool to be able to reply.
To reply or interact I would like you to use the OJS web interf

[2021-02-22 14:24] mpbraendle opened #6780 "Wrong nesting in pkp-lib/templates/frontend/pages/navigationMenuItemViewContent.tpl"
pkp-lib/templates/frontend/pages/navigationMenuItemViewContent.tpl
h1 should be inside div class="page", not outside. That would format the page similar to about.tpl

[2021-02-22 14:28] amandastevens commented on #6679
I added a note about this in the Preview Issue test, but we may want to break this into a few different tests next time.

[2021-02-22 15:05] henriqueramos commented on #5844
@NateWr and @asmecher seems CI ran properly. It's time for another code review round. :tada: :tada: :tada:

Once it's approved, I will create PRs against the OMP and OPS repositories.

[2021-02-22 15:07] henriqueramos commented on #6282
With the help of @NateWr we are able to figure out what happened. Sent the fix few minutes ago, but I'm waiting the CI to run to check if there's any trouble, or it's good to proceed with the normal merging flow.

[2021-02-22 15:10] Vitaliy-1 commented on #6732
@semteacher, thanks for pointing to the possible cause of the problem.

I'm not sure if this should be managed from OJS. This is a database-specific setting and I don't think that creating additional restrictions here, like forcing to use only InnoDB, would be beneficial. @asmecher, what do you think?

[2021-02-22 15:10] NateWr commented on #5844
It looks like you've only got changes to pkp-lib, so you shouldn't need to create PRs against OMP and OPS. Once the test passes for OJS, we're usually satisfied to merge it to the `main` branch.

[2021-02-22 15:31] #6776 closed

[2021-02-22 15:57] bozana opened #6781 "COUNTER Release 5"
Implement the COUNTER Release 5 for OJS/OMP/OPS usage statistics.
Here we can collect everything we decide is necessary. We can have a discussion below and every time we decide something we can summarize it here.

It seems the Release 5 with lots of changes is out there.
Here a guide for journals: https://www.projectcounter.org/wp-content/uploads/2020/08/Module_2_Journal_Usage_20200811.pdf.

1. Pr

[2021-02-22 16:03] bozana opened #6782 "Improve usage statistics handling in the background/code"
Final PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/8109
ui-library: https://github.com/pkp/ui-library/pull/213
ojs: https://github.com/pkp/ojs/pull/3465
omp: https://github.com/pkp/omp/pull/1161
ops: https://github.com/pkp/ops/pull/313
plugins/generic/lensGalley: https://github.com/asmecher/lensGalley/pull/60

fixes PRs:
s. https://github.com/pkp/pkp-lib/issues/8123
s. https://github.com/pkp/

[2021-02-22 16:09] NateWr commented on #6282
Looks like this is failing on a test for cases where a locale is enabled in forms and submissions but not UI: https://travis-ci.com/github/pkp/ojs/jobs/485072522#L3125. That test is https://github.com/pkp/pkp-lib/blob/main/cypress/tests/integration/Multilingual.spec.js.

@asmecher I presume this is a use-case that we don't want to support anymore? Or was there a valid reason that a locale might be

[2021-02-22 16:13] bozana commented on #6781
Hi @NateWr, @ctgraham, and @shanu17, I've opened this issue for us to see what everything has to be done for the COUNTER R5 support. I just started with a few things I have identified above, but the list is still to be filled. It would be great if we would also know what exactly is Pitt ULS working on, so that we can work on other things and arange.
Closely related to these changes for R5 would be

[2021-02-22 16:20] asmecher commented on #5583
@ibnusulaiman83, as I said on https://github.com/pkp/pkp-lib/issues/6767#issuecomment-780978018, please post your question on our support forum (https://forum.pkp.sfu.ca) instead of in Github Issues. That's the best place to get help.

[2021-02-22 16:21] twakeford commented on #6272
Thanks @NateWr - I think the central setting being discussed will be good (separate template, multiple selected recipients etc) but I hadn't clocked the user profile option. This is really useful to know!

[2021-02-22 16:23] asmecher commented on #6774
@cboulanger, this means there are references to those records in the `submission_file_revisions` table that need to be cleared out first. You can do that with...
[code]
(As always, please take a complete backup before running database queries directly!)

[2021-02-22 16:49] asmecher commented on #6732
@semteacher, we support both MySQL and PostgreSQL, so this would need to be something that only runs with MySQL platforms. We do that for a few special cases but generally try to keep the code from favouring one DBMS over the other.

I agree with @Vitaliy-1 that the choice of storage engine should be left to the administrator, rather than forcing one over the other, and that is something far enoug

[2021-02-22 16:52] NateWr commented on #6781
We will probably want to continue to track total views between different kinds of full text, because journals will want to know that. So we'll just need to make sure that we're counting appropriately for R5 while not losing some specificity we already have.

[2021-02-22 17:00] mfelczak commented on #6732
My vote would be to flag it for users as output during the upgrade process with a link to a page that contains a detailed explanation. And possibly as a check before the upgrade process is actually started so that users can confirm whether they'd like to continue with the upgrade or abort and review the issue.

[2021-02-22 17:04] asmecher commented on #6724
Not yet, @elton557!

[2021-02-22 17:12] semteacher commented on #6732
Based on my experience I think that
- (3) (present error and abort) should be the best option IF it will be done BEFORE actual DB modifications.

PS: My further investigations found another sort of problems in case if collation inconsistences  occurred. So it would be not bad at least notify admin if different types of collation in ojs DB being found with link to pages like https://github.com/kait

[2021-02-22 17:24] cboulanger commented on #6774
Thank you very much. This worked!

Maybe you can add some checks to prevent such inconsistencies in the data?

[2021-02-22 17:28] asmecher opened #6783 "Adapt Smarty templates to less forgiving PHP8 environment"
PHP8 is pickier about code in ways that affect Smarty templates. In order to enable PHP8 support, it was necessary to extend Smarty's error suppression so that new warnings didn't cause problems:

https://github.com/pkp/pkp-lib/pull/6755/commits/3c88c0401e3bb2dbd5e18532c0bb607690bc50da

See the Smarty discussion here:

https://github.com/smarty-php/smarty/issues/605

It appears that the best long-

[2021-02-22 17:31] bozana commented on #6781
Yes, yes -- the R5 also supports that as total counts... The above is about double-clicking, which was different in R4 and now in R5...

[2021-02-22 18:21] bozana opened #6784 "Crossref validation error when the author only has a given name"
**Describe the bug**
When an author only has/enters the given name, the Crossref XML export/deposit will result in an validation error, that the surname is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What application are you using?**
 OJS version 3.2.1, 3.3

**Additional information**
This is because we chec

[2021-02-22 18:44] bozana commented on #6784
PRs:
main: https://github.com/pkp/ojs/pull/3047
stable-3_2_1:

[2021-02-22 18:47] bozana commented on #6784
@asmecher, could you please review if the change is OK, i.e. if I can only use empty instead of isset here? Does it covers both: 1) when the array key (that locale) is not there, and 2) when the value is an empty string (the value is never NULL I think, but empty would handle that correctly as well, or?)? If OK so I will also fix stable branches... Thanks a lot!

[2021-02-22 19:18] asmecher commented on #6784
Yes, thanks, `empty` is the right thing to use in this case!

[2021-02-22 20:18] asmecher commented on #6779
@ctgraham and @tgc, since you were active on https://github.com/pkp/pkp-lib/issues/4164 (and no good deed goes unpunished!) do you have any comment on this?

[2021-02-22 20:45] asmecher commented on #6282
Eventually we do want to support forms and submissions in languages that don't have translations -- see e.g.: https://github.com/pkp/pkp-lib/issues/5000#issuecomment-749567373

[2021-02-22 21:07] asmecher commented on #6780
@NateWr, what's your preference? If this is accepted, it looks like `plugins/generic/staticPages/templates/content.tpl` would need the same change.

[2021-02-22 21:40] asmecher commented on #6777
@ajnyga, see the recent(ish) work on https://github.com/pkp/pkp-lib/issues/6320 -- I don't think variable binding will work in quotes as you've got itas you've got it; part of the problem is also the need for the cast (however it's done) to work in both MySQL and PostgreSQL.

But fundamentally I think the use of `setting_value` to store a numeric ID is always going to be a problem. Perhaps we shou

[2021-02-22 21:48] asmecher commented on #5844
Thanks, @henriqueramos! This ended up being such a trivial change that I also cherry-picked it back to `stable-3_3_0`. I hope you didn't mind the detour through the migrations code -- that was a good opportunity to get to know it.

[2021-02-22 21:48] #5844 closed

[2021-02-22 22:58] jmvezic commented on #6762
So, @NateWr , I installed from source from GH main branch (latest tag seems to be 3.4.0.0?) and the problem is still there as described above. However, this time it gives the error:

`You are not allowed to add and edit these files`

Is this right? Why wouldn't the journal editor assigned to the submission be able to add and edit them? And besides, if they shouldn't be able to do that for some rea

[2021-02-23 07:30] NateWr commented on #6563
This did not get cherry-picked into `stable-3_3_0` so it didn't make it into 3.3.0.3. I've cherry-picked it now and updated the milestone.

[2021-02-23 07:40] NateWr commented on #6282
...uff. That means that a good chunk of the work here was unnecessary. :sob:

@asmecher at the moment, there is code in `LanguageGridHandler` which automatically removes a language from `supportedSubmissionLocales` when the language is removed from `supportedFormLocales`. Should that code be removed as well, so that each supported locale setting is completely independent?

[2021-02-23 07:43] NateWr commented on #6780
Yes, that's correct. The format for the default templates is:

[code]

This is the format we should use for static pages and nav menu items.

[2021-02-23 07:50] NateWr commented on #6777
A third approach would be to make a move towards the [submission groups proposal](https://github.com/pkp/pkp-lib/issues/4415) and create a separate table where the issue / submission relationships are stored. (This would entail moving the issue assignment from publications to submissions -- I may have been overeager to move some data to publications that would be better managed at the submission l

[2021-02-23 08:02] NateWr commented on #6762
Thanks @jmvezic! This is a bug. The right error message for the wrong error. :joy: I've got it on my list to investigate soon.

[2021-02-23 11:57] Vitaliy-1 opened #6785 "[OPS] upgrade failure to 3.4: review_forms doesn't exist"
**Describe the bug**
Upgrade attempt from 3.2.1 to 3.4 (current master branch). Upgrade log:
[code]

**To Reproduce**
Run upgrade from a command line

**What application are you using?**
 OPS master branch

**Additional information**
Move queries associated with the `review_forms` table, like [this one](https://github.com/pkp/pkp-lib/blob/230395ba891878a62e319c2ff9c9edfc931907bd/classes/migration/

[2021-02-23 12:49] Vitaliy-1 commented on #6663
PRs
pkp-lib main: https://github.com/pkp/pkp-lib/pull/6786
OJS main: https://github.com/pkp/ojs/pull/3050
OMP main: https://github.com/pkp/omp/pull/934
OPS main: https://github.com/pkp/ops/pull/124

[2021-02-23 14:13] bozana commented on #6784
@mfelczak, everything merged...

[2021-02-23 14:13] #6784 closed

[2021-02-23 14:30] NateWr commented on #6663
Thanks @Vitaliy-1, this looks good. In order to be extra careful with the stable branch, when you port it to `stable-3_3_0`, can you make the download method except a string (path) or int (fileId)? So if the first argument is a string, treat it like a path and leave the code as-is. That will hopefully prevent any bugs from third-party code which may already be using this method in 3.3.0.

[2021-02-23 14:55] mfelczak commented on #6784
Thank you @bozana!

[2021-02-23 16:39] jnugent commented on #6621
Hey @asmecher  there appears to be either this same bug or a similar one in 3.2.1.  If you create  a remote galley, the publications -> Galleys grid fails to load because the link action classes attempt to use a null submission file to build the link (getting the submission id, the label, etc).  Is that this same bug?  If so, is there a back port to stable-3_2_1 available? Thanks!

[2021-02-23 16:54] bozana commented on #4904
The coming PRs consider the following issues:

1) Article abstract page versions URL were not logged. Now they are logged, e.g. `.../article/view/1/version/1`.

2) If there is a log entry of a galley view page, it will not be counted.
The log file example above:
[code]
counts only the last, file download.

3) The representation ID was calculated using `file->getAssocId()`. Because a file can be as

[2021-02-23 17:02] bozana commented on #4904
PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/6787
usageStats: https://github.com/pkp/usageStats/pull/43
ojs: https://github.com/pkp/ojs/pull/3051

[2021-02-23 17:07] bozana commented on #4904
@NateWr, could you please take a look at the PRs i.e. changes above? -- I haven't tested them with OMP and OPS, so just a rough view would be sufficient -- if the solutions are OK so -- and I would continue with OMP and OPS -- and then later a deeper code review can happen. Please see my comment above -- what they are solving now.
Also, do you know what is to do so that the new db table structure

[2021-02-23 19:11] matheusotoni commented on #6413
I had the same error and resolved by installing the patch package: **`yum install patch`**

[2021-02-23 19:54] matheusotoni commented on #6718
Hi @asmecher, how are you? what's version that PHP was installed in the server? I use centOS with PHP 7.3.21.

[2021-02-24 09:04] NateWr commented on #4904
Thanks @bozana! I've had a quick look and it looks ok to me.

You've probably assessed the COUNTER spec closer than me, but my sense is that we should treat versions as equivalent. So a click on any version of an article will count towards that article and we don't need to track versions separately.

This is a little bit more complicated for galleys, because we track clicks to galleys independentl

[2021-02-24 14:16] bozana commented on #4904
Thanks a lot @NateWr!
I will then test everything with OMP and OPS and make new PRs...

Maybe here just one general note:
All the abstract views, as well as all files downloads of a submission, no matter which version is counted towards that article in total. For a submission we then usually display the numbers for abstracts, PDF downloads, HTML downloads, eventually other downloads, and a total c

[2021-02-24 18:12] promedacademy opened #6788 "on registeration form , interest field wrongly open for ORCID page"
I have OJS 3.3.0-3
in the registration form when the field " Reviewing interests" is filled  it does not retrieve a list of interest , and on click it wrongly open a new window on ORCID website  the HTML section shows the following code:
`<fieldset class="reviewer">
																					<div class="fields">
						<div id="reviewerOptinGroup" class="optin">
																								<label>

[2021-02-24 18:14] promedacademy opened #6789 "[OJS] registration form field " Reviewing interests" wrongly open on ORCID"
I have OJS 3.3.0-3
in the registration form when the field " Reviewing interests" is filled it does not retrieve a list of interest , and on click it wrongly open a new window on ORCID website the HTML section shows the following code:
<fieldset class="reviewer"> <div class="fields"> <div id="reviewerOptinGroup" class="optin"> <label> <input type="checkbox" name="reviewerGroup[16]" value="1"> Yes,

[2021-02-24 18:46] ronniebrito commented on #4637
@asmecher  some custom translation are needed on certain circunstances where the standard translation isnt the ideal, so I think this plugin shoudnt be discontinued :/

[2021-02-24 18:57] asmecher commented on #4637
@ronniebrito, have you looked at the custom locale plugin?

[2021-02-24 19:12] Vitaliy-1 commented on #6663
PRs to stable-3_3_0:
pkp-lib: https://github.com/pkp/pkp-lib/pull/6790
OJS: https://github.com/pkp/ojs/pull/3052
OMP: https://github.com/pkp/omp/pull/936
OPS: https://github.com/pkp/ops/pull/126

@NateWr, did you mean something like this?

[2021-02-24 19:42] asmecher commented on #6718
@matheusotoni, I currently use PHP 7.4.3, the current release of OJS/OMP/OPS works with 7.3.x, and the next releases will also support 8.x (see e.g. our CI testing: https://travis-ci.com/github/pkp/ojs/builds/217954158) -- but I'm not sure that answers your question or if it's relevant to this issue? The best place to get general help is our support forum: https://forum.pkp.sfu.ca

[2021-02-24 20:18] asmecher commented on #6780
Both fixed for `main` and `stable-3_3_0`, thanks!

[2021-02-24 20:18] #6780 closed

[2021-02-24 20:20] asmecher commented on #6282
Sorry, the requirement I posted above is a new one but it would be good to start preparing for it!

Yes, I think the two settings should be independent, but the system will definitely need some exploration/testing to ensure that it behaves well when a language is supported in the forms/submissions but not the UI. And down the road we'll need to figure out a way to expose content in languages that

[2021-02-24 20:32] asmecher commented on #6789
Duplicate of: https://github.com/pkp/pkp-lib/issues/6788

[2021-02-24 20:32] #6789 closed

[2021-02-24 20:33] asmecher commented on #6788
@withanage, could you have a look at this one?

[2021-02-24 20:40] asmecher commented on #6621
@jnugent, do you have an error log entry for this?

[2021-02-24 21:21] jnugent commented on #6621
@asmecher sure:

[code]

In this particular submission, one of the galleys is a PDF and one is a Remote Galley with a link to a dropbox file.  The Remote Galley has a null file_id which means that the FileLinkAction calls null on what it's expecting is a submission file object.

[2021-02-24 21:25] jnugent commented on #6621
These are the two entries in publication_galleys for this submission.

![Screenshot from 2021-02-24 17-24-10](https://user-images.githubusercontent.com/218719/109067694-38e37e00-76c5-11eb-92fc-0cfde84aa904.png)

[2021-02-24 22:23] ronniebrito commented on #4637
it solves the problem
thank you @asmecher

[2021-02-24 22:37] stranack commented on #6099
Because ISSNs aren't mandatory, we will still need to have a mandatory Country field. I'd suggest including it in the Journal Identity section of the Masthead.

[2021-02-25 03:35] asmecher commented on #6621
The line of code https://github.com/pkp/ojs/blob/stable-3_2_1/controllers/grid/articleGalleys/ArticleGalleyGridCellProvider.inc.php#L80 prevents the error you list above from happening in the case of a remote galley. I think the problem is actually the other entry (`file_id=59607`); make sure that entry exists in `submission_files`.

[2021-02-25 07:19] promedacademy opened #6791 "announcements types cannot be removed OJS 3.3.0-3"
**Describe the bug**
on the admin dashboard announcement section , announcement types , cannot delete or edit announcement types after creation with message access denied
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'dashboard- announcement- announcement type'
2. Click on 'edit or remove'
3.See  access denied

**What application are you using?**
 OJS,  version 3.3.0-3

**Additional i

[2021-02-25 09:35] NateWr commented on #6663
Yep, thanks. Just a couple comments but looks good.

[2021-02-25 09:38] NateWr commented on #6282
Ok, my bad. @henriqueramos I'm afraid I led you astray on this one. All of our hard work validating the form and submission locales against the supported locales needs to go.

So in the end we only need the following validation check in the REST API:

- When (`supportedLocales` OR `supportedFormLocales` OR `supportedSubmissionLocales`) are being validated, make sure that there is ("at least one lo

[2021-02-25 09:55] luizbgomide commented on #4957
We migrated to OJS 3 in October and now we are starting to receive complains regarding the new formatting scheme.

The editors really want the old naming scheme (submission id - fileID) back, as this brings uniformity to the journals (we handle 20 journals).

Is there a way to revert back to the old naming scheme?

[2021-02-25 10:08] NateWr commented on #4957
@luizbgomide No, but changes have been made in OJS 3.3 which mean the download filename uses the name of the file as shown in OJS, rather than the hard-to-understand string used in OJS 3.2.x. You can see what filenames will look like in [this comment](https://github.com/pkp/pkp-lib/issues/4957#issuecomment-679195764). I'd recommend upgrading to OJS 3.3 and waiting a few months to see if editors ar

[2021-02-25 10:22] luizbgomide commented on #4957
@NateWr I am on OJS 3.3, and the scheme in your comment is **not** the naming scheme that I'm getting when downloading PDFs.

I invite you to take a look at some of our journals like:
- https://periodicos.fclar.unesp.br/alfa/issue/view/745
- https://periodicos.fclar.unesp.br/iberoamericana
- https://periodicos.fclar.unesp.br/cadernos/issue/view/803.

The first name is NOT the author, but I think t

[2021-02-25 12:08] kasioumis opened #6793 "Updates to a customised journal stylesheet (css file) are not reflected in the HTML source"
[OJS 3.2.1.1 but possibly later versions also]

Users can upload customised stylesheets (`.css` files) per journal (see [documentation](https://docs.pkp.sfu.ca/designing-your-journal/en/creating-stylesheet.html#upload-your-css-file)). There is only the option to upload a new stylesheet and once uploaded to remove it, but not to update it or re-upload it.

Customised stylesheets go into the DB as f

[2021-02-25 12:09] NateWr commented on #6762
Uff, so it looks like this came from me misunderstanding the `SUBMISSION_FILE_ATTACHMENT` file stage. I even documented this stage as [unused](https://docs.pkp.sfu.ca/dev/documentation/en/submission-files#file-stages)!

@asmecher I was able to fix the authorization issue with [minimal impact](https://github.com/pkp/pkp-lib/pull/6792). But fixing the source of the misunderstanding -- that these fil

[2021-02-25 12:17] kasioumis commented on #6793
Example in action: <https://foodandnutritionresearch.net/index.php/fnr/index> (taken from <https://pkp.sfu.ca/2018/04/12/open-journal-system-3-examples/>). See:
[code]
in the HTML source.

[2021-02-25 12:57] jnugent commented on #6621
Yes, the file is there and is downloadable.  They've now published this article. And yes, I have that line of code you referenced.

[2021-02-25 14:32] NateWr commented on #4957
Hi @luizbgomide,

The filenames I am getting are like `andersoncruz-0-id-14558-apresentao-dossi-ft-rev.pdf`. This is probably the filename that existed when the file was uploaded and attached to the galley. When uploading a file to the galley, there is a chance to set the name, and the download filename will depend on that name.

You can check the names in the database with the following SQL query

[2021-02-25 14:43] defstat commented on #3227
@asmecher @NateWr

**PR**
pkp-lib: #6794

[2021-02-25 14:47] luizbgomide commented on #4957
That is not what is happening, this article `https://periodicos.fclar.unesp.br/alfa/article/view/11313/9108` downloads as `berlinck-revista-alfa-v64-portugus-artigo-a-11313.pdf`.

"berlinck" is an Editor of the journal, it was me who uploaded this file to the system and not this user. So "berlinck" has no place being here, it is neither the uploader, nor the author of the file. The original filena

[2021-02-25 14:48] NateWr commented on #6793
This turned out to be a pretty easy fix. We're storing the datetime that the file was uploaded, so by appending that to the URL we can ensure the URL path changes with each change to the file.

@kasioumis the PR below is against the `stable-3_3_0` branch but you should be able to apply the same changes to earlier versions if you are still on the 3.2.x line.

PR:
https://github.com/pkp/pkp-lib/pull

[2021-02-25 14:49] luizbgomide commented on #4957
Also, `andersoncruz`, is also an editor, and not the author of the papers...

[2021-02-25 15:10] kasioumis commented on #6793
@NateWr awesome! Exactly what I had in mind :-) I was trying to figure out where the version string was being suffixed but it's not important; this works like a charm. I'll patch it in for now, thanks!

[2021-02-25 15:11] NateWr commented on #6762
The following PRs fix the auth issue.

PRs:
https://github.com/pkp/pkp-lib/pull/6796 (`stable-3_3_0`)
https://github.com/pkp/pkp-lib/pull/6792 (`stable-3_2_1`)

Tests:
https://github.com/pkp/ojs/pull/3055 (`stable-3_3_0`)
https://github.com/pkp/ojs/pull/3053 (`stable-3_2-1`)

[2021-02-25 15:12] jnugent opened #6797 "query string not passed reliably to search from navigation bar"
When using certain combinations of OSes and browsers, the query string is not passed to the search engine when searching from the expanding search bar.  We have several clients reporting this when using Manuscript theme, which uses the default templates.  On Mac OSes, the search result page has an URL that contains an empty query string. We've duplicated this in PKP|PS testing, and also get mixed

[2021-02-25 15:18] NateWr commented on #6797
Ah, I see. We're probably not going to fix this because the search bar in the navigation area was removed in 3.3 (part of our accessibility changes). It's now just a button that links to the search page. Here are the changes:

https://github.com/pkp/ojs/commit/4e006a67d2d95100a6a80ef26dc294e2a27c8fd0#diff-60f56657f47dac93ed254448cf6a7cda8ae1592250f264ed923390bd05aa340c

If you wanted to prepare a

[2021-02-25 15:29] NateWr commented on #6791
I was not able to reproduce this. Can you tell me what roles the user has that you are logged in as?

[2021-02-25 15:32] NateWr opened #6798 "Fatal error when removing announcement types"
**Describe the bug**
When removing an announcement type, the request returns 500 and a fatal error appears in the logs.

Although the error message appears, the deletion seems to happen. The list does not refresh, though.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Announcements > Announcement Types.
2. Create an announcement.
3. Delete it.
4. See error in l og

**What application

[2021-02-25 15:33] NateWr commented on #6793
@kasioumis this is where the version string is appended. It is only added if no `?` exists already: https://github.com/pkp/pkp-lib/blob/main/classes/template/PKPTemplateManager.inc.php#L1899-L1902

[2021-02-25 15:45] NateWr commented on #6798
PR:
https://github.com/pkp/pkp-lib/pull/6799

Tests:
https://github.com/pkp/ojs/pull/3056

[2021-02-25 15:51] NateWr commented on #6774
I'll close this for now but feel free to reopen this Alec if you want to do further work on it.

[2021-02-25 15:51] #6774 closed

[2021-02-25 15:52] asmecher commented on #6621
OK, but note that it's `PDF` that's referenced in the log, not `Video Abstract`. Is this error still happening, or did it get resolved some other way?

[2021-02-25 15:56] kasioumis commented on #6793
@NateWr Aha! I completely missed it. Many thanks for taking the time to point that out :-)

[2021-02-25 15:59] jnugent commented on #6621
I resolved it by adding some checks for a valid submission file in a few places in the LinkAction code.

[2021-02-25 16:02] mpbraendle commented on #6432
It is even worse - an editor of one of our journals (we have a multi-journal / multi-lang installation) complaint that templates that he had changed or added are reset / get lost after some time. He's pretty upset now.
His assumption that this happens always after a new submission has been handed in and the submission was confirmed by e-mail.

Is anything going on further with this issue here? I t

[2021-02-25 16:08] mpbraendle commented on #6432
Also, with the OJS 3.2 upgrade (we upgraded from 3.1.2-4) , we had reports of editors-in-chief by two other journals that mails are now being sent to editors that should not receive those. We had to adjust the roles. It looks like the OJS 3.2 upgrade had some software changes to its mail system with negative consequences.

[2021-02-25 16:22] asmecher commented on #3227
@defstat, just thinking about general approaches that could work... your approach is probably the least invasive, but it only supports IDs as suffixes and will be confusing/redundant for users who have already added IDs to some email subjects etc.

How about something like this?
- Break the `NOTIFICATION` email template into three separate templates:
  - `SUBMISSION_NOTIFICATION` for submission-sp

[2021-02-25 16:37] NateWr commented on #6761
Thanks for the report, @davidjb. Looks like when we extended the URL handling in TinyMCE to support template variables (like `{$submissionUrl}`) we clobbered some of the default URL handling from TinyMCE. The following PR should restore TinyMCE's URL handling in all cases except where `{$...}` is used.

@withanage can you take a look at this and let me know if it looks alright? I got rid of the ab

[2021-02-25 16:39] NateWr commented on #6747
What sort would you like? Alphabetical or when they were created?

[2021-02-25 16:45] promedacademy commented on #6791
Admin user as journal  manager  with full permissions

[2021-02-25 17:21] pmangahis opened #6800 "Backend Favicon defaults to PKP logo"
**Describe the problem you would like to solve**
In OJS 3.1.2.0, the backend favicon defaults to the PKP logo even though a journal has uploaded a favicon image file. This seems to only work for the front end.

**Describe the solution you'd like**
Journal favicon should also display on the backend when logged in.

**Who is asking for this feature?**
Journal Managers

**Additional information**
Als

[2021-02-25 17:26] luizbgomide commented on #6747
Like they were before, Alphabetical. Right know I think it is in order of creation, which doesn't say much for any kind of user.

[2021-02-25 17:58] NateWr commented on #6793
Merged to `stable-3_3_0` and cherry-picked to `main`.

[2021-02-25 17:58] #6793 closed

[2021-02-25 18:00] NateWr commented on #6798
Merged to `stable-3_3_0` and cherry-picked to `main`.

[2021-02-25 18:00] #6798 closed

[2021-02-25 18:03] NateWr commented on #6791
I was logged in with the same role and I could not reproduce this. You'll need to check your error log or try to discover the conditions under which it happens so that we can reproduce them.

[2021-02-25 18:17] asmecher commented on #6791
This may have already been resolved here: https://github.com/pkp/pkp-lib/issues/6748#issuecomment-778557739

[2021-02-25 18:31] asmecher commented on #6432
@mpbraendle, I think it's quite unlikely that submission-related activity (e.g. a new submission being confirmed) is the culprit for submission data getting reset; what specific version of OJS are you using? Can you try to track down the steps that were responsible for the email text being reset, or narrow down the conditions? (This would be a very good potential bug to fix, but it's also really h

[2021-02-25 18:42] asmecher commented on #6762
Thanks, @NateWr -- and agreed that this should be definitively fixed when we rework email composition.

Then, I think it may be worth implementing email attachments outside of `submission_files`. The email log toolset is already capable of being used outside of submission-related emails, and this would circumvent the problem of the submission file framework needing files to be associated with a wo

[2021-02-25 22:12] jmvezic commented on #6762
@NateWr I assume this is safe to patch in 3.2.1, from what I can see in the commit? I can test this a bit in 3.2 since it's a pretty important issue for me to fix at work. What's the "minimal impact" you mention?

[2021-02-26 11:51] Vitaliy-1 opened #6801 "Links to dependent files referenced in HTML/JATS XML galleys are broken"
**Describe the bug**
As part of submission files refactoring `originalFileName` property was dropped and is only stored in the `event_log_settings`. `name` property is used instead. This causes incorrect links to the dependent files referenced in HTML and XML galleys/submission files added before the upgrade as now the code, e.g., in HTML galley plugin, tries to link files using regex and relying

[2021-02-26 12:50] jnugent commented on #6797
Thanks, @NateWr.  I'll talk to our client about this.  They are now just launching on 3.2 after a migration from Bepress that took a year and probably won't upgrade to 3.3 for quite a while yet. If they decide they want to keep the search, we'll take a crack at fixing it.

[2021-02-26 14:36] Vitaliy-1 commented on #6801
@NateWr, do you have any ideas regarding this issue? Not sure how to manage this in regards to instance, already upgraded to 3.3.0. Ideally, in my opinion, during migration `originalFileName` should replace `name` at least for all images and stylesheets attached to galleys.

[2021-02-26 15:05] Vitaliy-1 commented on #6801
`name` localization may also lead to problems and confusion. I mean HTML Article Galley Plugin in regex pattern provides search, depending on a current locale:
[code]
In this scenario, the `name` should be identical for all locales and correspond to the reference to the file (image, css) in source HTML.

[2021-02-26 18:17] asmecher commented on #5048
Thanks, @defstat, just a few additional comments -- I don't think this will need another round of review, so please go ahead when you're ready.

[2021-02-26 18:22] asmecher commented on #5049
This one looks great, @defstat, please go ahead and merge!

[2021-02-26 22:22] asmecher opened #6803 "OAI "earliest datestamp" is always now"
In the OAI "identify" request, the earliest available OAI datestamp is always the current datetime.

This affects OJS/OMP/OPS 3.3.0-2 and 3.3.0-3.

Related: https://forum.pkp.sfu.ca/t/oai-pmh-with-datestamp-updated-daily-on-ojs-3-1-1-2/48080/16

[2021-02-26 22:28] #6803 closed

[2021-02-27 12:24] mjb24v commented on #1660
Another +1 for this (and the editor decision equivalent)

[2021-02-28 10:17] ajnyga commented on #6777
I am not sure what the best solution is but this basically prevents larger installations from using OJS 3.2+ so it should be addressed fairly quickly.

I think moving the submissionGroup/issue relation to submission could be problematic. I can see situations where a new version of a article is moved to another category for example.

[2021-02-28 12:35] henriqueramos commented on #6777
Anyone tried to use CAST() function ([mysql](https://dev.mysql.com/doc/refman/8.0/en/cast-functions.html#function_cast) and [postgresql](https://www.postgresql.org/docs/9.2/sql-createcast.html) docs)?

[2021-02-28 13:21] ajnyga commented on #6777
https://dev.mysql.com/doc/refman/8.0/en/type-conversion.html

[2021-02-28 13:26] jonasraoni commented on #6777
I'm not following this discussion deeply, so I'll just leave some generic comments =]

1. If I remember well, @ajnyga said the query was being called **inside a loop**, so I think it deserves a _hot path_, in the outer scope. Which could be some kind of cache or to join the queries into a single statement (it's faster to transfer some duplicated data than doing extra database work).

2. About the

[2021-02-28 16:53] bozana commented on #6071
The PRs for the stable branch:
pkp-lib stable-3_3_0: https://github.com/pkp/pkp-lib/pull/6804
ojs stable-3_3_0: https://github.com/pkp/ojs/pull/3058 (submodule update)

[2021-02-28 17:25] bozana commented on #4904
@NateWr, shall all the changes be ported to the stable-3_3_0 even if the DB upgrade is needed?

[2021-03-01 08:55] NateWr commented on #4957
Hi @luizbgomide, the filename would have been set when the file was uploaded. Have you tried uploading a new file and looking at what the name is after it is downloaded? Have you checked the name in the database as I mentioned in my last comment?

[2021-03-01 08:56] NateWr commented on #6791
Great, closing this as fixed.

[2021-03-01 08:56] #6791 closed

[2021-03-01 09:29] NateWr commented on #4904
I don't think a 3.3.0-x release can have a migration in it. Are we sure that this is needed? I know the problem is that a single file id might track back to multiple representation ids. But if all we need to know is whether it is PDF, HTML or Other, can we get away with not knowing the representation ID? Can we get that from the file ID / path itself?

[2021-03-01 10:35] luizbgomide commented on #4957
Hello Nate, yes, I've checked. Files uploaded after OJS 3.3 shows just the filename at time of the upload. But the files uploaded previously (before OJS 3) shows the username of the editor (not the uploader and not even the editor of the article, I'm not sure how that name was got) concatenated with the original filename.

This is awful, because we have thousands of articles published before OJS 3

[2021-03-01 11:07] NateWr commented on #4957
@luizbgomide your best bet is going to be to change the name of the existing files in the database. Since the downloaded file name is taken directly from the name in the database now, you can set it to whatever you want.

[2021-03-01 11:13] luizbgomide commented on #4957
@NateWr how can I even change those names? This table has 77 thousands entries, and even filtering just by name it would be impossible to be sure that it is correct for the 15000 submissions I have.

Can't I just patch somewhere to use the old file scheme?

[2021-03-01 11:14] luizbgomide commented on #4957
Again, this is disclosing usernames of editors. And that is clearly a security concern at the minimum, not just to me, but to everyone that uses OJS and migrated to 3.3.

[2021-03-01 11:31] defstat commented on #5049
Thank @asmecher - Merged

[2021-03-01 11:49] NateWr commented on #6762
@jmvezic It looks like the 3.2.x tests have passed, so you should be safe to patch it. I'm waiting for the 3.3.x tests to pass before merging everything. By "minimal impact" I mean that the code changes required to fix this were small and so less likely to have unexpected side effects.

[2021-03-01 13:04] NateWr commented on #6761
Merged to `stable-3_3_0` and cherry-picked to `main`.

[2021-03-01 13:04] #6761 closed

[2021-03-01 14:50] bozana commented on #4904
The DB table metrics already has the column representation_id and currently it could contain the wrong IDs there. It seems that that column is currently not really used -- it was used earlier for the submission usage stats (graph) represented to the reader on the submission view page -- probably to display the usage of each galley/publication format (OMP). Those usage (graph) display functions see

[2021-03-01 16:03] NateWr commented on #4904
Yeah, I think we need to do what we can without a DB upgrade for now. We can do the DB upgrade with 3.3.1, but I think in general that we have discussed reducing the metrics table columns where possible. I can see the utility of collecting whatever we can, but I also know that some large installations have struggled with the sheer size of their metrics table. Let's discuss this further as we think

[2021-03-01 16:49] NateWr opened #6805 "Separate email attachments from submission files"
**Describe the problem you would like to solve**
Editors can share reviewer attachments with authors when making a decision in the review stage. They can also upload their own files. However, the reviewer attachment files appear in the author dashboard while the editor-uploaded files are only sent as an attachment to the email.

This can cause some confusion and it also leads to issues where a sub

[2021-03-01 16:49] NateWr commented on #6762
Merged to `stable-3_2_1` and `stable-3_3_0` and cherry-picked to `main`. I've filed the technical improvements for 3.4 at https://github.com/pkp/pkp-lib/issues/6805.

[2021-03-01 16:49] #6762 closed

[2021-03-01 16:53] asmecher commented on #5049
Thanks, @defstat -- closing!

[2021-03-01 16:53] #5049 closed

[2021-03-01 17:51] henriqueramos commented on #6282
[New pull request at pkp-lib side](https://github.com/pkp/pkp-lib/pull/6806/files).

[2021-03-01 20:11] SantiMaceri commented on #3261
@defstat So sorry for the late answer! Not yet but we´re actually in the final steps of the thesis! When ready, i will public the repo so you can use it as you want.
Please hang on, we are doing our best and we hope it helps!

[2021-03-01 21:09] asmecher opened #6807 "OAI reports "now" for last modification when submission last modification date is null"
**Describe the bug**
See: https://forum.pkp.sfu.ca/t/oai-pmh-with-datestamp-updated-daily-on-ojs-3-1-1-2/48080/19

- OAI `Identify` requests show the current time/date as earliest datestamp when any `null` value for `last_modified` exists in `submissions`
- OAI record timestamp shows current time/date when listing records or identifiers when that record's `last_modified` is `null` in `submissions`

[2021-03-01 21:33] asmecher opened #6808 "Untranslated locale key notification.type.submissionNewVersion in new version notification email"
**Describe the bug**
See: https://forum.pkp.sfu.ca/t/translation-missing-in-weblate/66116/3

[2021-03-01 22:50] ctgraham commented on #6779
That is an interesting use-case.  We really need to de-clutter the email settings in config.inc.php, and I hate to add a new one.  The whole setup could be so much simpler.  I'd like to see Admin UI options like:
* Sender (required):
* Reply-to:
  * User
  * Internal Mail Processor (future magic)
  * None
  * Custom
* Display Name:

This introduces backwards compatibility issues for folks who have

[2021-03-02 04:25] davidjb commented on #6761
Thank you @NateWr -- tested and working well in OJS 3.3.0.  Very much appreciated!

[2021-03-02 10:49] bozana commented on #4904
@NateWr, could you take another look at the PRs above? -- Now everything is finished for the main branch...
I will back port those fixes not needing the DB upgrade to the stable-3_3_0...
Thanks a lot!

[2021-03-02 11:35] NateWr opened #6809 "Add submissions filter by category"
**Describe the problem you would like to solve**
Preprint servers and journals that use categories would like to be able to filter the submission lists by assigned category.

**Describe the solution you'd like**
Add a filter to the submissions list that allows the submissions list to be filtered by categories. This can use the same format as the sections filter: when there are fewer than 5 categor

[2021-03-02 11:56] NateWr commented on #4904
:+1:  I've done a code review but not yet tested it myself. When you have PRs for `stable-3_3_0` I can load it up and run it through some manual tests.

[2021-03-02 13:30] jnugent commented on #6797
Hi @NateWr  feel free to close this.  Our client elected to have the button removed and so I just backported most of the commits for this against OJS and pkp-lib (there are some other commits in the `header.tpl` in pkp-lib that are necessary, in addition to the one you linked in).  Thanks again!

[2021-03-02 14:51] henriqueramos commented on #6282
@NateWr I've created a new PR at OJS repository for this issue.

https://github.com/pkp/ojs/pull/3060

[2021-03-02 15:47] Selvakumarari commented on #6044
@asmecher
Dear Sir,
OJS version 3.2.1.1. shows mailing error. "There was a problem sending an email message. Please try again later, or contact your system administrator". Please help me to fix the error. I have assigned editor. But same issue has came. I have checked with error_log file and it showed "Could not instantiate mail function"
![Screenshot from 2021-03-02 17-14-49](https://user-images.

[2021-03-02 16:04] NateWr commented on #6282
:tada: Merged, thanks @henriqueramos!

[2021-03-02 16:04] #6282 closed

[2021-03-02 16:51] asmecher commented on #6044
@Selvakumarari, please have a look through our support forum (https://forum.pkp.sfu.ca) for posts related to this; if those don't resolve the issue, create a new topic there. If it leads to a bug in the system, then we can use this issue tracker to resolve it, but until then the forum is the best place to get help.

[2021-03-02 17:09] Selvakumarari commented on #6044
@asmecher
I have posted the same comment in PKP forum
https://forum.pkp.sfu.ca/t/smtp-e-mail-error/65733/21

[2021-03-02 17:27] pmangahis commented on #2687
+1 from PKP|PS. A client is interested in having deadline reminders for Review, Copyediting and production as well.

[2021-03-03 06:54] asmecher commented on #6724
@NateWr, could you have a good squint over these two optimizations?
https://github.com/pkp/pkp-lib/pull/6810
They perform significantly better with large databases.

[2021-03-03 08:16] defstat commented on #5048
Thanks @asmecher! I think I have resolved the review comments

[2021-03-03 08:48] NateWr commented on #6724
Looks good to me!

[2021-03-03 08:59] defstat commented on #5678
@NateWr just a small note regarding a rule: https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/2.18/doc/rules/comment/comment_to_phpdoc.rst#rule-comment_to_phpdoc

[2021-03-03 11:08] sourcedump opened #6811 "[OMP] undefined STATUS_PUBLISHED error on Press delete"
Hello!
Using OMP 3.2.1-2 I have an error if I try to delete a press at the page:
https://<DNS-NAME>/index.php/index/admin/contexts

The error is:
`invalid input syntax for integer: "STATUS_PUBLISHED" Query: select "s".* from "submissions" as "s" where "s"."context_id" = ? and "s"."status" in (?) group by "s"."submission_id" order by "s"."date_submitted" desc in /lib/pkp/classes/db/DAO.inc.php`

Th

[2021-03-03 12:01] hammadkhan07 opened #6812 "Mail on submission to author fails everytime and an error message comes on screen in ojs 3.2.1 for all author"
![image](https://user-images.githubusercontent.com/75437312/109803042-6343b700-7c42-11eb-9b90-546ccb041473.png)

Everytime when i try to upload a new submission in this platform this gives something like this even I have changed all the settings in php.ic file which were described in pkp community as it is I did all the changes it still gives the same email error for all authors I can anybody repo

[2021-03-03 12:57] tjmarpaung opened #6813 "Bug at Layout After Upgrade Journal From OJS 3.2 to OJS 3.3.0.3"
**Describe the bug**

Please help me with bugs in the layout in my journal when I was updating my journal from OJS 3.2 to OJS 3.3.0.3. I updated my journal with softaculous in Cpanel. I use the multi journal in my journal. You can visit my journal in "http://bulletin.indoms-acehsumut.org". Thanks.

**What application are you using?**
 I use OJS 3.3.0.3

**Additional information**
![Screenshot (108

[2021-03-03 13:42] marcbria commented on #6807
Alec... don't know much how the upgrade script works.

I tested locally and this query does the job:

[code]

Do you think add the query to "[ojs/dbscripts/xml/upgrade/3.1.1_update.xml](https://github.com/bozana/ojs/blob/f3bea01cf87481133df2ba99f6176374a86fbd12/dbscripts/xml/upgrade/3.1.1_update.xml)" will be enough?

In what branches should I apply the changes?

Cheers,
m.

[2021-03-03 14:57] NateWr commented on #6809
PRs (from @salmanm2003):
https://github.com/pkp/pkp-lib/pull/6814
https://github.com/pkp/ui-library/pull/145

[2021-03-03 15:32] bozana commented on #4904
Hi @NateWr, sorry to bother you again -- I've considered everything from the code review I think -- if you would like to have another look. Thanks a lot!

[2021-03-03 16:25] asmecher commented on #6812
@hammadkhan07, could you search for this message on our support forum (https://forum.pkp.sfu.ca), and if you don't find a solution there, create a new forum topic? That's the best place to get help.

[2021-03-03 16:25] #6812 closed

[2021-03-03 16:25] NateWr commented on #4904
Looks good to me. :+1:

[2021-03-03 16:26] asmecher commented on #6813
@tjmarpaung, please post your question on our support forum (https://forum.pkp.sfu.ca); that's the best place to get help.

[2021-03-03 16:26] #6813 closed

[2021-03-03 16:37] bozana commented on #4904
Thanks a lot @NateWr! I would then merge the main branch changes as soon as all tests are successfully run, ok?

I also did the PRs for stable-3_3_0 (see above). Those contain only the fixes for the problem No. 1 and No. 2 from here https://github.com/pkp/pkp-lib/issues/4904#issuecomment-784346753. (No 3. requires DB change, so this is not coming into the stable branch). Also, I did not implement

[2021-03-03 16:59] ibnusulaiman83 commented on #5583
Already submit my questions on https://forum.pkp.sfu.ca
Here is my questions

https://forum.pkp.sfu.ca/t/ojs-upgrade-error-db-column-publication-id-cannot-be-null-from-3-1-0-0-to-3-2-1-1/

[2021-03-03 17:49] Vitaliy-1 commented on #6801
PRs
pkp-lib main: https://github.com/pkp/pkp-lib/pull/6816
pkp-lib stable-3_3_0: https://github.com/pkp/pkp-lib/pull/6817
tests OJS main: https://github.com/pkp/ojs/pull/3062

[2021-03-03 17:49] Vitaliy-1 commented on #6801
@NateWr, can you take a look?

[2021-03-03 18:20] asmecher commented on #6811
Merged https://github.com/pkp/omp/pull/938/commits and cherry-picked forward to `stable-3_3_0` and `main`, thanks!

[2021-03-03 18:20] #6811 closed

[2021-03-03 18:30] hammadkhan07 commented on #6812
I searched for it and applied all the possible solutions that were given on
pkp forum still it has the same problem.

But I will post on forum as well and thanks

On Wed, 3 Mar 2021, 9:25 PM Alec Smecher, <notifications@github.com> wrote:

[2021-03-03 18:31] asmecher commented on #6807
Hi @marcbria! Actually I think you'll find that the issue appears in both `issues` and `submissions` -- a `null` in either place will cause the same problem.

The best place to put this will be in a new class in `classes/migration/upgrade` -- see https://github.com/pkp/ojs/tree/stable-3_3_0/classes/migration/upgrade. Then refer to it from `dbscripts/xml/upgrade.xml` so it's run on the upgrade from

[2021-03-03 19:28] pmangahis commented on #6297
+1 from PKP|PS client

[2021-03-03 20:02] promedacademy opened #6818 "request for a feature Allow authors to withdraw their articles if the journal is unable to fulfill its publication promise"
**Describe the problem you would like to solve**
Example: Our authors need a way to [ withdraw their articles if the journal is unable to fulfill its publication promise or any inconvenience happened]

**Describe the solution you'd like**
Tell us how you would like this solution to be solved.
Add "withdraw" link in the submission  menu beside each submitted article that open a customizable form fi

[2021-03-03 20:11] asmecher commented on #6818
This is a duplicate of https://github.com/pkp/pkp-lib/issues/1813; please review the discussion there and add anything you think is helpful.

[2021-03-03 20:11] #6818 closed

[2021-03-03 21:04] promedacademy commented on #1813
I think authors have the right to request to withdraw their articles at any time before publication, this is  because some journals cannot fulfill their promises and presence of withdrawal button increase the trust of the authors towards the journal and that it is not a predator journal  the final decision to accept the withdrawal request might be assigned to different users roles from section edi

[2021-03-03 21:13] promedacademy commented on #5167
Review filtering by interest   feature is  absent on selecting reviewers by section editors in OJS 3.3.0-3 it was present and very helpful in previous versions

[2021-03-03 21:56] asmecher commented on #5167
@promedacademy, in 3.3.x the text search at the top of the reviewer assignment window accepts reviewer interests.

[2021-03-03 22:02] asmecher opened #6819 "File downloads always use most recent revision"
**Describe the bug**
Downloading revisions only ever downloads the most recent file.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload a revision of a a file (e.g. in the submission files list)
2. Click on 'More Information' beside the file to view the submission file log
3. Find the original version of the file
4. Download the file. The resulting file will be the new revision, not the

[2021-03-03 22:03] asmecher commented on #6819
@NateWr, could you have a look at this PR? https://github.com/pkp/pkp-lib/pull/6820

[2021-03-03 22:05] asmecher commented on #6724
@NateWr, I added another optimization: https://github.com/pkp/pkp-lib/pull/6810/commits/81336f025f0a279eea9a049375fe6519cfacee6b
Does that look OK as well? (I'll run A/B compares against databases before I merge this.)

@elton557, if you're able to test an upgrade with the application of both https://github.com/pkp/pkp-lib/pull/6810 and https://github.com/pkp/pkp-lib/pull/6820 applied, that would

[2021-03-03 22:17] asmecher commented on #5048
OK, please go ahead and merge!

[2021-03-03 23:48] Muslimhida commented on #6724
Hello every one,

anyone can help me. I get error when i upgrade ojs 3.2 to 3.3
this is the error mesagge

Errors occurred during installation:

A database error has occurred: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'url' in 'field list' (SQL: select `url`, `navigation_menu_item_id` from `navigation_menu_items` where `context_id` = 5)

Thank before

[2021-03-04 00:55] asmecher commented on #6724
@Muslimhida, please have a look at the support forum (https://forum.pkp.sfu.ca); if you don't find an answer there, create a new topic there with any relevant details. That's the best place to get help.

[2021-03-04 03:06] ibnusulaiman83 commented on #6739
I got this error
![Screenshot 2021-03-04 at 11 04 58 AM](https://user-images.githubusercontent.com/656929/109905333-9422fb00-7cd9-11eb-96a1-ee82003a5444.png)
How to fix that issue?

[2021-03-04 03:15] asmecher commented on #6739
@ibnusulaiman83, please stop posting the same issue in multiple places. I've already directed you to the support forum; that's the best place to get help.

[2021-03-04 05:05] Bewegung79 opened #6821 "not able to edit ##manager.masthead.title## OJS 3.1.0.1"
If I edit the information contained in ##manager.masthead.title## and click 'Save' the Saving process never ends, keeping the circle going indefinitely. I can edit the rest of the Settings without any problems.

OJS 3.1.0.1

Thanks!

[2021-03-04 06:27] ibnusulaiman83 commented on #6739
but no solutions.

[2021-03-04 08:05] marcbria commented on #6807
Thanks a lot Alec for the "min-howto" :-)

Does it means that won't be included in 3.2 branches?
I know about people that like to upgrade soon to 3.2 and won't jump to 3.3 is a little bit more stable.

[2021-03-04 09:04] defstat commented on #5048
@asmecher rebased and merged

[2021-03-04 10:02] NateWr commented on #6801
Looks ok to me, @Vitaliy-1. I just noticed the one thing for Alec to comment on. Can you run the tests against `stable-3_3_0`? That's the more important one to check against, I think. Although I don't think any migrations are run during the tests...

[2021-03-04 10:12] NateWr commented on #6819
Oh good spot! I had to look up how that bug got in there because I can clearly remember testing that during my work on the submission files, but thankfully it just went in a week ago: https://github.com/pkp/pkp-lib/commit/3bd2b27a72856d794801de1de6c4475d6bba823c#diff-4a6e50bebe3498ce57d021ca979a92697521eeccacace513a925ea8d0de5fd4dL116. My bad on the code review. :)

[2021-03-04 10:22] Vitaliy-1 commented on #6819
Thanks! Missed that.

[2021-03-04 10:48] NateWr commented on #4904
Looks good, go ahead and merge to stable.

[2021-03-04 10:50] NateWr commented on #4957
@luizbgomide we don't consider usernames to be private information. If you want to rename the files that are attached to galleys, you can use something like the following SQL query:

[code]

Beware this has not been tested. Try it out on a copy of your database first before running it against your production database.

This query will turn all of the filenames into something like `213-321.pdf`.

[2021-03-04 11:19] luizbgomide commented on #4957
Thanks Nate, I will try this SQL.

Even if you don't consider it a security concern, it is also an irrelevant or misleading one. I think that either something went wrong previously for the file names to be set using first alphabetically available editor manager. In our 20 journals I already identified the following problems:
- usernames of manager assistants being attributed to thousands of files.

[2021-03-04 11:25] luizbgomide commented on #4957
Also, what would happen if the file name information is missing? I noticed that from OJS 3 onwards, our bilingual and trilingual journals creates 2-3 `name` settings and only one of them is filled and the others are left blank (since this is automatically filled i don't think it could ever be filled by the user). If there is no information would it generate a filename on the fly?

[2021-03-04 11:28] gabriele-h commented on #6432
We have seen a similar issue after our upgrade from OJS 3.1.2-1 to OJS 3.2.1-3 two days ago:
![ar_IQ_in_email_template](https://user-images.githubusercontent.com/13871387/109955189-8160f400-7ce2-11eb-9a78-819b4c64af1b.png)
We had a look at the database and solved this one occurance of the issue by adding a new line to email_templates_default_data for locale "de_DE" and e_mail_key "ANNOUNCEMENT".

[2021-03-04 11:59] Vitaliy-1 commented on #6801
I've updated the PR and added the test for 3.3.0 branch. Yes, I test migration script on my local instance because of this (but master branch only in this case).

[2021-03-04 12:08] marcbria opened #6822 "Covers missed on last stable 3.2 when you upgrade from 2.x"
**Describe the bug**

When you upgrade from 2.4.8-5 to 3.2.1-4 covers are missed.

Process goes fine (no log errors) but covers are not shown in article's form:
![imagen](https://user-images.githubusercontent.com/2779168/109957583-70fe4880-7ce5-11eb-9ba5-00950244d42a.png)

In the article's form, with the default lang, in the cover part you have a "ghost" image (refereed but not shown).

If I uploa

[2021-03-04 12:27] dmasta88 commented on #6597
The same errors. What is changes in XML import?

[2021-03-04 13:50] salmanm2003 commented on #6809
@NateWr the test is running here:
https://github.com/pkp/ojs/pull/3064

[2021-03-04 16:00] asmecher commented on #6821
@Bewegung79, check your PHP access log to see if any PHP error occurred, and your browser's web development console (in the Network tab) to see what server response resulted from the request to save the form.

[2021-03-04 16:47] salmanm2003 commented on #6809
@NateWr the test is done, here is the result:
https://travis-ci.com/github/pkp/ojs

[2021-03-04 17:09] NateWr commented on #6809
All merged, thanks @salmanm2003! (It looks like the tests timed out, but I can see from the logs that they ran ok right up to the end, so pretty confident we're safe here.)

[2021-03-04 17:18] adrianojam opened #6823 "Automatic e-mail to thank the reviewers"
**Describe the problem you would like to solve**
Currently, the editor has to click on a button to thank the reviewer.

**Describe the solution you'd like**
One idea would be to have an option, when the reviewer sends his opinion, an email will automatically be triggered thanking him, without having to click to do so.

**Who is asking for this feature?**
Journal Editors and Journal Administrators

[2021-03-04 18:14] marcbria commented on #3016
If somebody is still looking for a solution for this, take a look to this post:
https://forum.pkp.sfu.ca/t/ojs3-hide-all-supplementary-files/47247/32

Bozana made an script to move supplementary files from galleys to Submission and it could be applied even if you upgraded.

[2021-03-04 18:14] asmecher commented on #6807
@marcbria, we don't currently plan to release another 3.2.x package unless there is a critical security issue. So we could merge it into the git `stable-3_2_1` and `stable-3_2_0` branches, but unless we release new packages, most users will never get the change.

[2021-03-04 18:15] asmecher commented on #5048
Excellent, thanks!

[2021-03-04 18:17] asmecher commented on #6819
Great, and glad to hear it doesn't affect any released software! Merged and cherry-picked forward to `main`. Thanks to you both.

[2021-03-04 18:17] #6819 closed

[2021-03-04 18:21] #4764 closed

[2021-03-04 18:22] asmecher commented on #6823
This is a duplicate of: https://github.com/pkp/pkp-lib/issues/1661
Please add your feedback there if some element isn't already captured!

[2021-03-04 18:22] #6823 closed

[2021-03-04 20:10] jnugent opened #6824 "TinyMCE can overwrite public images in other contexts"
If a user with journal manager roles in more than one context in a multi-context install uses TinyMCE to add images directly to a rich text field, and they add those images directly  from clipboard content such as that created with a screenshot tool, TinyMCE will automatically  assign a filename, such as mceclipX.png, where X is an autoincremented integer.  These images are automatically saved in

[2021-03-04 21:01] bozana commented on #6782
s. also this: https://github.com/pkp/pkp-lib/issues/4904#issuecomment-509689881

[2021-03-04 21:03] bozana commented on #4904
Everything merged from this issue, thus closing...

[2021-03-04 21:03] #4904 closed

[2021-03-04 21:19] ajnyga commented on #6807
I found this problem back in 2019 https://github.com/pkp/pkp-lib/issues/5135 but thought it was due to some non-native import of articles to our installation.

[2021-03-04 22:51] asmecher opened #6825 "Introduce a "home" for JATS"
**Describe the problem you would like to solve**
Currently there is no single "home" for a JATS document in OJS. Tools wanting to work with JATS need to [go hunting](https://github.com/pkp/oaiJats/blob/stable-3_3_0/OAIMetadataFormat_JATS.inc.php#L35..L58) for candidate files, and XML producers (either plugins or third parties) have nowhere specific to put finished JATS files.

**Describe the solut

[2021-03-04 22:53] asmecher commented on #6825
@NateWr, this entry is the result of our conversation this morning. One thought: the Publication tab already manages versioning, and we want the XML file to be versioned (a.k.a. associated with the Publication, not the Submission). Is this a motivation for keeping the new area inside Publication, rather than in its own freestanding tab? Or would we have a version dropdown on the JATS tab as well?

[2021-03-04 22:54] asmecher commented on #6825
(Related: https://github.com/pkp/pkp-lib/issues/6684)

[2021-03-04 23:37] asmecher opened #6826 "Migrate TinyMCE to 5.x"
We currently use TinyMCE 4.x, but the support window for that line has recently closed:
https://www.tiny.cloud/blog/tinymce-4-support-window/

- Adapt to TinyMCE 5.x
- For bonus points, stop shipping two copies (one in `pkp-lib`'s `composer.json`, another in the app's `package.json` using NPM)

[2021-03-05 00:40] asmecher commented on #6826
PRs:
- https://github.com/pkp/pkp-lib/pull/6827
- https://github.com/pkp/ojs/pull/3065
- https://github.com/pkp/ui-library/pull/146
- https://github.com/pkp/tinymce/pull/84

[2021-03-05 00:41] asmecher commented on #6826
@NateWr, could you review the attached PRs? Also, what do you think about dropping one or the other TinyMCE packages -- I guess we should probably keep the one installed via NPM?

[2021-03-05 11:16] elton557 commented on #6724
@asmecher
Hello, now I returned this error:

Removing orphaned submission_files entry ID 144878 with submission_id 25934
Removing orphaned submission_files entry ID 144879 with submission_id 25934
Removing orphaned submission_files entry ID 144880 with submission_id 25934
Removing orphaned submission_files entry ID 129336 with submission_id 25994
Removing orphaned submission_files entry ID 129991

[2021-03-05 14:21] defstat commented on #5048
@asmecher

Reopening because of https://github.com/pkp/ojs/commit/60c3a9358715454e24f96c9f44a120892ef244f6#r47886665

@Vitaliy-1 could you check if the following solves the issue?

**PRs**
ojs: pkp/ojs#3066
omp: pkp/omp#940
ops: pkp/ops#129

[2021-03-05 14:40] sdellis commented on #6568
I don't know why they do this, but tabbing through hyperlinks will not work in Safari or Firefox unless you change your default browser settings. [See this article for more info](https://www.a11yproject.com/posts/2017-12-29-macos-browser-keyboard-navigation/).

[2021-03-05 14:50] Vitaliy-1 commented on #5048
Yes, solves!

[2021-03-05 14:55] jnugent opened #6828 "New sections added to an Issue can't be custom ordered if the issue has already been custom ordered"
**Describe the bug**

If an issue is created, and articles in various sections are added to this issue, and then the issue is ordered in a custom way so that sections are moved around, new sections added later on can't be ordered. It's possible to move them around in the TOC grid, but when you click save they will revert partially.  The grid will remember the order for the first time you customize

[2021-03-05 16:47] marcoblancas opened #6829 "OAI Earliest Datestamp in Identify response showing current timestamp"
The **Earliest Datestamp in Identity request**  should show the oldest modified date record and is displaying the current date.

We are registering our journal in openarchives.org we get this error in validation step 2.

REQUEST:
https://www.tecnologia-ciencia-educacion.com/index.php/TCE/oai?verb=ListRecords&metadataPrefix=oai_dc&until=2020-03-05T11:50:09Z
GET
FAIL: Failed to extract error code fr

[2021-03-05 16:55] asmecher commented on #6829
This is a duplicate of https://github.com/pkp/pkp-lib/issues/6807.

[2021-03-05 16:55] #6829 closed

[2021-03-05 16:57] israelcefrin opened #6830 "Copyright statement not visible after upgrade"
**Describe the bug**
After upgrading to OJS 3.2, the copyright statement is not visible anymore even when it was already assigned. The dashboard shows that everything is correct, but it doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to OJS 3.2
2. Enable the copyright for the journal
2. Click on any article
3. See the error: no copyright statement

**What application ar

[2021-03-05 18:26] asmecher commented on #6830
@israelcefrin, what version was the upgrade from? What release of OJS 3.2 was the upgrade to (which build or github branch)?

[2021-03-05 18:28] Vitaliy-1 commented on #6801
I think that it's ready to be merged but tests for the OJS main branch are failing. I suspect it's caused by an earlier commit to the shared library. I can merge it to a stable branch and wait until the issue with the main is resolved. @asmecher, what do you think?

[2021-03-05 18:33] asmecher commented on #5048
@defstat, this also breaks the unit tests (see e.g. https://travis-ci.com/github/pkp/ojs/jobs/488511616):
[code]

Could you have a look at that?

[2021-03-05 18:33] asmecher commented on #6801
@Vitaliy-1, I've posted that here: https://github.com/pkp/pkp-lib/issues/5048#issuecomment-791603728

Feel free to go ahead and merge this to `main` in advance of the tests being fixed.

[2021-03-05 18:46] #6801 closed

[2021-03-05 18:56] marcoblancas commented on #6807
Hi, #6829 has been closed as duplicated with this issue but I'm not sure that it was the same problem. In my case I get the current time/date as earliest datestamp but I have none `null` value in `last_modified` in `submissions` or `issues`.

`OJS version 3.3.0.3` from a previous 2.4

[2021-03-05 19:22] asmecher commented on #6807
@marcoblancas, can you check if there are any unset or invalid-looking dates in the `date_deleted` column of the `data_object_tombstones` table?

[2021-03-05 19:29] marcoblancas commented on #6807
Sure. I've checked and no nulls or invalid dates in `date_deleted` column of the `data_object_tombstones` table.

[2021-03-05 20:04] asmecher commented on #6724
@elton557, hmm, I don't get that error working with your database on MariaDB 10.3.25. What version are you using?

[2021-03-05 20:08] asmecher commented on #6807
@marcoblancas, are there any "zero" dates (`0000-00-00` or `1969-12-31`) in `issues.last_modified` or `submissions.last_modified`?

Are you using any plugins that modify the OAI interface, like DRIVER?

[2021-03-05 20:11] elton557 commented on #6724
@asmecher

my database version is this:

Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MariaDB connection id is 1278
Server version: 5.5.68-MariaDB MariaDB Server

Copyright (c) 2000, 2018, Oracle, MariaDB Corporation Ab and others.

Reading history-file /home/gandalf/.mysql_history
Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.

[2021-03-05 20:26] israelcefrin commented on #6830
The more recent case I was upgrading to a 3.2.1.3, see below the full previous version history:
![image](https://user-images.githubusercontent.com/4992902/110169708-13dac380-7dc7-11eb-8d76-e80443334d6f.png)

[2021-03-05 20:30] marcoblancas commented on #6807
None "zero" dates present. I attach you my dates in database. [last_modified.txt](https://github.com/pkp/pkp-lib/files/6093215/last_modified.txt)

DRIVER module is disabled in my journal.

[2021-03-05 20:34] marcoblancas commented on #6807
Could it be related with the date formats set in the journal (management/settings/website#setup/dateTime)?

![imagen](https://user-images.githubusercontent.com/5545390/110170345-5ff32b80-7dfa-11eb-8702-b64c87ed7f97.png)

[2021-03-05 20:38] asmecher commented on #6830
@israelcefrin, the upgrade from 3.1.x to 3.2.x happened at the 3.2.1-1 release, before the fix at https://github.com/pkp/ojs/commit/3d3df3932abe29479be84f58cbe436b52ea07f51 was applied. The fix is present in 3.2.1-3, but that upgrade step is not executed because the 3.1.x to 3.2.x migration has already happened. You can resolve it afterwards by manually running the SQL query in the commit.

[2021-03-05 20:38] #6830 closed

[2021-03-05 21:01] asmecher commented on #6807
Ah, @marcoblancas, I suspect you're running into https://github.com/pkp/pkp-lib/issues/6803. There's a patch over there.

[2021-03-05 21:56] asmecher opened #6831 "Update gettext dependency to 5.x"
https://github.com/php-gettext/Gettext is outdated. Update it.

[2021-03-05 22:02] #6831 closed

[2021-03-05 22:25] asmecher commented on #6724
@elton557, is it an option to try on a newer version of MySQL/MariaDB?

If your MySQL/MariaDB won't permit these queries, then we'll need to fall back on the older/slower approach of iterating through items in PHP -- which will be terribly slow with a large database.

[2021-03-06 03:35] asmecher commented on #6092
Here is a proposal for an approach we could roll out with low impact: https://github.com/asmecher/pkp-lib/commit/563f5e7e549eaef49869ec1ac272c0a7e36b0162

- Introduces a `strict` mode, enabled in `config.inc.php`, in which referring to constants globally will cause errors. Devs wanting to clean up can enable it as they work, and eventually we can turn on strict mode in automated tests.
- Preserves

[2021-03-06 09:38] jonasraoni commented on #6092
That's a good transitioning state for me 👌

Just one comment before moving the constants into related classes:
Given the introduction of [enums](https://wiki.php.net/rfc/enumerations), perhaps we should check whether the `define` is a constant (such as `PI`) or an enumeration. If it's an `enum`, we can create a new file/class to host it (which can be transformed/extended into an `enum` later, as t

[2021-03-06 19:27] jonasraoni commented on #6099
Hi!

I've created these initial PRs:
[pkp-lib](https://github.com/pkp/pkp-lib/pull/6832)
[OJS](https://github.com/pkp/ojs/pull/3067)
[OPS](https://github.com/pkp/ops/pull/130)
[OMP](https://github.com/pkp/omp/pull/941)

[2021-03-06 19:51] elton557 commented on #6724
@asmecher hi, my database is now Server version: 10.3.28-MariaDB MariaDB Server, but this error appears now, can you help me?

[migration: PKPv3_3_0UpgradeMigration]
ERROR: Upgrade failed: DB: PDOException: SQLSTATE[01000]: Warning: 1265 Data truncated for column 'review_round_id' at row 343 in /var/www/submission_scielo_br/htdocs/lib/pkp/lib/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOStatem

[2021-03-08 04:53] pmangahis opened #6833 "Allow Reviewers to download all files"
**Describe the problem you would like to solve**
A hosted journal would like to allow reviewers to download all files rather than having to download the files individually. Currently, Step 3 of the review request does not allow for this.

![image](https://user-images.githubusercontent.com/50342731/110275897-d7ee5c80-7f86-11eb-860d-ef5aea31caa5.png)

**Describe the solution you'd like**
Have option

[2021-03-08 09:45] NateWr commented on #6825
Yes, I think you're right. A new left-hand tab under Publication is probably the best place for this.

[2021-03-08 09:47] NateWr commented on #6825
This should be anyone with a manager, subeditor or assistant assignment to the Production stage. That's how access is controlled at the moment.

[2021-03-08 09:54] NateWr commented on #6826
I think I tried to do this before but ran into problems. We need the one in UI Library to bundle and serve with our Vue.js stuff. The other one loads up in the old forms. I can't remember the details but I think it's not straightforward to get the old forms loading off the new package, maybe because the bundling doesn't expose TinyMCE globally. I agree it's pretty ugly.

[2021-03-08 09:58] NateWr commented on #6826
Code looks good to me. I haven't loaded it up to see if there are any style changes from removing `theme: main`. But if there are I'll have plenty of time to adapt it for 3.4.

[2021-03-08 10:00] NateWr commented on #6568
Thanks @sdellis. How strange! @janiosarmento if you have some time can you test that out to see if it addresses the issue?

[2021-03-08 10:41] NateWr commented on #4957
@luizbgomide over the years there have been many different ways that OJS has automatically generated filenames. It does not surprise me that you'll find big differences in filenames. The inability to settle on a common naming pattern that works for everyone is part of the motivation for switching now to using the uploaded name and not automatically generating one.

The filename can be localized to

[2021-03-08 15:36] GrazingScientist opened #6834 "Make number of hits in article search more prominent"
**Describe the problem you would like to solve**
The number of hits in the article search should appear more prominent in the search result. Currently, the user has to scroll down to the pagination to see the number of hits.

**Describe the solution you'd like**
The number of hits should appear somewhere on the top of the search results.

**Who is asking for this feature?**
Journal Editor

[2021-03-08 16:14] NateWr commented on #4622
While running an audit on a WordPress site, I learned about this library: https://github.com/woocommerce/action-scheduler/. I don't think we'd opt for it in place of Laravel's task queue, but it would be interesting to study it. It looks like it can handle really large queues and if it is running in WooCommerce, that means it is running in lots of the kinds of limited hosting environments that wil

[2021-03-08 17:21] asmecher commented on #6826
I forgot to double-check the pkpWordcount plugin -- that's the only outstanding item here.

[2021-03-08 19:58] altafnagar opened #6835 "[OJS] Upgrade to OJS 3.3.0-3 issue"
Fatal error: Uncaught Error: Call to a member function getConnection() on null in /home/xxx/public_html/new/lib/pkp/lib/vendor/laravel/framework/src/Illuminate/Database/Capsule/Manager.php:74 Stack trace: #0 /home/xxx/public_html/new/lib/pkp/lib/vendor/laravel/framework/src/Illuminate/Database/Capsule/Manager.php(200): Illuminate\Database\Capsule\Manager::connection() #1 /home/xxx/public_html/new/

[2021-03-08 20:03] asmecher commented on #6835
@altafnagar, please have a look at our support forum (https://forum.pkp.sfu.ca), and if you don't see an answer to this issue there, post a new topic there. That's the best place to get help.

[2021-03-08 20:03] #6835 closed

[2021-03-08 20:12] #6826 closed

[2021-03-08 20:18] asmecher commented on #6724
Regarding this message:
[code]
It appears to be an unrelated error in your database regarding review assignments that don't have a valid review round ID. You should be able to remove these from your pre-upgrade database using:
[code]
Of course, please review the removed data and keep a good backup.

[2021-03-08 21:33] asmecher commented on #6092
Because there's a large outstanding merge for OPS, I'll hold off making the changes there and instead document them here:
- Need `strict` mode option added to `config.TEMPLATE.inc.php`
- Need to convert `ROUTE_` constants in Smarty templates to new syntax:
[code]
- Need to convert `ROUTE_` constants in PHP code to new syntax (PKPApplication::ROUTE_...)
  To list candidates for manual correction (t

[2021-03-08 23:02] asmecher commented on #6099
Thanks, @jonasraoni!

Back in https://github.com/pkp/pkp-lib/issues/4946 we added a field in the Citation Style Language plugin for publisher place; I wonder if it would be possible to move that setting alongside this one, call it City, and use both the city and country fields to inform the CSL plugin. I would feel a little better about this field, especially making it mandatory, if it were more t

[2021-03-09 00:47] asmecher commented on #6750
Thanks for reporting, @luizbgomide -- either of the above commits should fix it in the `lib/pkp` submodule. (They are equivalent, just applied to different branches.)

[2021-03-09 00:47] #6750 closed

[2021-03-09 06:30] jonasraoni commented on #6099
@asmecher Ok, I can take a look at the citation plugin. A migration/cleanup script will be needed there 😁

About the required field, another option to decrease the annoyance (considering there might be users with several contexts to update), is to offer the user to just confirm a default country (we can take it from the ISSN/domain/IP) using a "post-upgrade" interface + notification.

[2021-03-09 09:09] NateWr commented on #6099
I like this idea, but is there any risk of muddying the data? My understanding is that the data we're adding now is meant to be the journal's location. But I think the CSL property is meant to be the city of the publisher. There's a good chance these won't necessarily be the same...

[2021-03-09 13:22] alexxxmendonca opened #6836 "[OPS/OJS] Enhancements to list of categories"
**Describe the problem you would like to solve**
The list of category works fine when you have a short list of categories and not a lot of parent/childs. However, when you have a very long list of categories and sub-categories, it can be quite troublesome for authors to search through the list and select the categories. In addition, there is not an embedded scrolling so the page gets as long as th

[2021-03-09 15:43] defstat opened #6837 "Ballon Popups stay after publication vertical tab is changed"
**Describe the bug**
![image](https://user-images.githubusercontent.com/560456/110497112-d6e03b00-80fe-11eb-9b69-f68ac78f046a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to submission -> publication tab
2. Select Metadata vertical tab
3. Click on
![image](https://user-images.githubusercontent.com/560456/110496947-af896e00-80fe-11eb-9892-3ba21662f06d.png)
for some metadata
4. Chan

[2021-03-09 17:06] NateWr opened #6838 "Review due dates do not use date format in review request email"
**Describe the bug**
When the review request email is sent to a new reviewer, the review due dates use the raw format (YYYY-MM-DD) instead of the date format defined in the journal settings. They should use `dateFormatLong`.

This is set in the code [here](https://github.com/pkp/pkp-lib/blob/main/controllers/grid/users/reviewer/form/ReviewerForm.inc.php#L170-L184).

**To Reproduce**
Steps to repro

[2021-03-09 17:36] asmecher commented on #6099
Hmm, yes, let's leave this change for now, @jonasraoni -- I think there's room to gather these somehow but not the way I proposed earlier.

Hmm, that's possible... What about adding the Country field to the settings wizard, and making it required there, so that all new journals will require an entry -- but making the field optional in the regular settings form so it doesn't force a choice for exis

[2021-03-09 19:24] defstat opened #6839 "Import/Export plugin - SubmissionFiles lose doi data on import"
**Describe the bug**
The DOIs are not correctly exported/imported for submission files

**To Reproduce**
Steps to reproduce the behavior:
1. Try to export a submission file with doi

**What application are you using?**
 OJS, OMP or OPS version 3.3

[2021-03-09 19:28] defstat commented on #6839
@asmecher

pkp-lib: #6840

[2021-03-09 19:37] asmecher commented on #6839
@defstat, should this be included in `stable-3_3_0` as well?

[2021-03-09 19:51] gemusehandler opened #6841 "In OMP the Dublin core meta data is incorrect when chapters are added to a book"
**Describe the bug**

OMP3.3.0.2

I have previously asked to look into the Google Scholar indexing. To test if Scholar now finally picks up OMP to be indexed I have started a new repository. The aim is to let this one grow. I am still waiting for the publications to appear in Scholar.

I had in the mean time a look at the OAI-PMH interface. Dublin Core if I am correct. I notice that in the case of

[2021-03-09 19:53] asmecher opened #6842 "Review SWORD import/export toolset for metadata coverage"
From https://forum.pkp.sfu.ca/t/sword-setup-for-deposits-from-ops-to-ojs/65485/20:

Review the SWORD Server plugin and SWORD Client plugins to ensure that metadata coverage in the exchange is as complete as possible. (While the SWORD server plugin is homegrown, the SWORD client plugin relies on https://github.com/swordapp/swordappv2-php-library, so there may be adjustments needed there for complet

[2021-03-09 20:13] asmecher commented on #6841
@gemusehandler, do you have a Publication Format created for each chapter, or all the chapters collected into a single Publication Format?

[2021-03-09 20:50] asmecher commented on #6092
^ Actually, the changes on OPS weren't so widespread, so I went ahead and merged the initial changes. I'll leave this issue open and chip away at the remaining constants after the OPS changes and code reformatting stuff goes in.

[2021-03-09 20:50] gemusehandler commented on #6841
Each chapter has its own publication format.

![Screenshot 2021-03-09 at 21 47 32](https://user-images.githubusercontent.com/4614219/110536221-7ca4a180-8121-11eb-81e4-09e8ab5a1f44.jpg)

[2021-03-09 20:59] asmecher commented on #6841
@gemusehandler, I'm afraid that explains the problem -- the OAI interface expects chapters to be collected within a single publication format, with the publication format representing the "physical" characteristics of the collection of chapters.

[2021-03-09 22:19] gemusehandler commented on #6841
Okay, I have changed that now with two books. The result is a number of deleted entries. The modified books appear now only once. But I see that the chapters disappear and do not return. If that is the design: okay.

[2021-03-10 02:04] benaltair opened #6844 "Bump pdf.js to v2.6.347"
Would it be possible to bump the the latest release? We have some user reports on accessibility for the visually impaired lately and my hope was some items in the changelog since the redesign might help with that. With some pointers, I can give it a go too - just not aware of the plugin's structure.

https://github.com/mozilla/pdf.js/releases/tag/v2.6.347

[2021-03-10 02:04] #6844 closed

[2021-03-10 11:42] NateWr commented on #6092
I think this was closed by accident?

[2021-03-10 11:44] NateWr commented on #6092
@asmecher Can you keep track of what has changed in this issue in our docs hub, https://github.com/pkp/pkp-docs/issues/663, so that we can make sure to update our docs and include this info in the next Release Notebook?

[2021-03-10 11:52] defstat commented on #6092
@NateWr sorry, no idea how that happened.. I never close issues in general.

[2021-03-10 12:26] defstat commented on #5048
@asmecher

**PRs**
pkp-lib: #6845

also from previous comment
**PRs**
ojs: pkp/ojs#3066
omp: pkp/omp#940 -> Added missing api_key in config.template
ops: pkp/ops#129

[2021-03-10 13:16] lexfati opened #6846 "Section Editor gets email with wrong template notification"
Hello!
version OJS 3.1.1.0
After new submission - sending a notification email to journal section editor  with wrong template “Submission Ack” (email key SUBMISSION_ACK)
How to fix ? need change template to “Editorial Assignment” template
**Thanks in advance!**
Actual options:
![image](https://user-images.githubusercontent.com/26622770/110632272-79a8c000-81b8-11eb-96e0-94a468cc8fde.png)

[2021-03-10 14:24] nongenti opened #6847 "Call to undefined method SubEditorsDAO::getBySectionId() in Series.inc.php:271"
**Describe the bug**
I work on a OMP version of the csl-plugin.
I tried to use the method getEditorsString() from the Series-class and got a php fatal error. The reason is the call to undefined method getBySectionId() in line 271.

**To Reproduce**
Use Series::getEditorsString().

**What application are you using?**
 OMP 3.3

**Additional information**
[https://github.com/pkp/omp/blob/3_3_0-3/clas

[2021-03-10 14:57] bozana commented on #6071
everything from here is merged, thus closing.
the new crossrefReferenceLinking plugin release, that will then be available via plugin gallery, will be made after ojs 3.3.0.4 is released.

[2021-03-10 14:57] #6071 closed

[2021-03-10 15:50] NateWr commented on #6847
Thanks for reporting @nongenti. The method name was changed in https://github.com/pkp/pkp-lib/commit/558220e1ff451fd37d271d291caabd023c3cc76a#diff-d0e7721d555e1401484f10b09458db9568e2ba2d6b2c90d3fa5baa676f0f6ce8L61 and it looks like we didn't get this updated.

PR:
https://github.com/pkp/omp/pull/943 (stable-3_3_0)

[2021-03-10 15:54] NateWr commented on #6846
Hi @lexfati, unfortunately we are no longer providing bug fixes for 3.1.x. If you can upgrade to 3.3.x and reproduce this problem we can take a closer look.

[2021-03-10 15:54] #6846 closed

[2021-03-10 16:00] NateWr commented on #6841
Going to close this for now, but feel free to reopen it if there is anything further that needs to be discussed.

[2021-03-10 16:31] Selvakumarari commented on #6044
Dear@asmecher
Issue is not able to resolve. Please help me in this regard.
www.jinagri.com
agrosciencetoday.com
Thanks

[2021-03-10 17:08] NateWr commented on #6824
@jnugent can you identify what form fields this happens in? The URL where uploaded images are saved is configured differently for each field, so we'll need to track down which ones this is happening to. (Typically, if a form is for a specific context, it should be uploading to a context directory, not the site directory.)

[2021-03-10 17:11] alexxxmendonca commented on #6836
Excellent! Would be happy to assist with feedback and testing.

[2021-03-10 17:13] NateWr commented on #6809
Adding a note here, so we don't forget, that this will need to be backported to `stable-3_3_1` once we've begun work on that branch.

[2021-03-10 17:14] NateWr commented on #6808
@asmecher looks like this one might be done?

[2021-03-10 17:26] NateWr commented on #6847
Merged to `stable-3_3_0` and cherry-picked to `main`.

[2021-03-10 17:26] #6847 closed

[2021-03-10 17:48] jnugent commented on #6824
Hi @NateWr  That doesn't seem to be what happens.  For instance, I just used our Test Drive install here:

https://demo.publicknowledgeproject.org/ojs3/testdrive/index.php/testdrive-journal/about/editorialTeam

and uploaded that "testing" image while logged in, and editing the Editorial Team field in Journal Settings.  If you examine the path to that file, you'll see that it isn't in a context dir

[2021-03-10 17:57] asmecher opened #6849 "Tool to convert old and apache log files into new format"
Previously the stats framework used Apache-style logs to handle both internal processing of log events generated by OJS, and retroactive processing of log files from another source (like the web server), e.g. for when it was necessary to reconstruct or rebuild the logs.

We are moving away from the internal use of Apache-style log files in order to reduce complexity around resolving actions based

[2021-03-10 17:58] asmecher commented on #6849
@NateWr and @bozana, from our meeting today -- just a suggestion for the implementation based on what I was picturing during the meeting, details are all up for discussion!

[2021-03-10 18:01] asmecher opened #6850 "Move creator (author) management tools to API and new form structures"
Currently the author (contributor) forms in submission metadata use both the old Smarty-based forms toolset, and the old controller handler for CRUD operations.

Adapt the author forms to the new form toolset (see e.g. `lib/pkp/classes/components/forms/publication/PKPTitleAbstractForm.inc.php`) and implement CRUD operations using the API (see e.g. https://github.com/pkp/pkp-docs#generate-rest-api-

[2021-03-10 18:16] asmecher commented on #6808
Yup, closing!

[2021-03-10 18:16] #6808 closed

[2021-03-10 18:40] marcbria opened #6851 "Let OJS Read HTTP_X_FORWARDED_PROTO instead of trying to discover it"
**Describe the problem you would like to solve**
Example: Our editors need a way to [...]

**Describe the solution you'd like**
Tell us how you would like this solution to be solved.

**Who is asking for this feature?**
Tell us what kind of users are requesting this feature. Example: Journal Editors, Journal Administrators, Technical Support, Authors, Reviewers, etc.

**Additional information**
Ad

[2021-03-10 19:15] asmecher commented on #6851
Note that any solution that relies on request headers to determine the protocol will need to consider URL generation from command-line tools e.g. when a CRON job sends off review reminder emails containing URLs.

[2021-03-10 19:30] marcbria commented on #6851
Hummm... didn't though in this. :_-(

I'm unsure if getProtocol() will be able to get the right protocol based on SCRIPT_URI, but in worst of cases cron will send a mail with an http petition that will be redirected to httpS when it arrives to the server.

But jumping to a different approach... why "force_ssl" is not forcing the protocol in getProtocol()?

[2021-03-10 19:40] asmecher commented on #5048
@defstat, could you file and fix the missing API key thing in a separate issue and target `stable-3_3_0`? Otherwise please go ahead and merge and close this issue, thanks!

[2021-03-10 19:52] luizbgomide opened #6852 "[OJS 3.3] Crossref export fails with unexpected ORCID error"
I'm getting validation errors like:
[code]

Looking at the XML generated, it seems that the plugin is duplicating the ORCID tags:
[code]

[2021-03-10 20:04] asmecher commented on #6852
@luizbgomide, what version of the ORCID profile plugin are you using, and what specific release of OJS 3.3.0?

[2021-03-10 20:16] asmecher commented on #6851
The `force_ssl` setting is checked in an authorization policy written in `PKPHandler`:

https://github.com/pkp/pkp-lib/blob/stable-3_3_0/classes/handler/PKPHandler.inc.php#L275..L279

If `force_ssl` is set, and `PKPRequest::getProtocol()` doesn't report `https` protocol (based on `$_SERVER['HTTPS']`), the authorization policy recommends redirecting to `https`.

[2021-03-10 20:27] luizbgomide commented on #6852
@asmecher, I'm on OJS 3.3.0.3 and I'm wasn't using the ORCID profile plugin (it was disabled), but it is listed as being version: 1.1.2.14.

I just tried enabling the ORCID profile and it did not had any effect on the error, it still produces extra ORCID tags.

[2021-03-10 20:31] luizbgomide commented on #6852
This is a file that is a complete file being generated by OJS, every ORCID field is duplicated.
[code]

[2021-03-10 20:36] marcoblancas commented on #6807
Thank you. That solved my problem.

[2021-03-10 20:45] asmecher commented on #6852
@NateWr, I think this is caused by an accidental partial revert to https://github.com/pkp/ojs/commit/0d0e86df1734e68d8915dca44e8c613c43f9c5d2 in https://github.com/pkp/ojs/commit/863fbbc22f4ee3c0a2c7aad69134f586669838f3#diff-45b7b726d545a8c94d6ed8ae07dd593d2dea5ac43db23fbfb8739a4a9cc1547fR157 -- the ORCID add code is now in place twice. Could you have a look?

[2021-03-10 22:45] marcbria commented on #6851
I really thought this was going to be an easy one. :-(

Tomorrow I will take a look but because I suspect command-line tools will take the protocol properly even without headers, or we won't mind much if they are going through http...

What other features of ojs are not reading headers apart of command-line tools?

Trying to evaluate if a a non perfect implementation would be better than nothing.

[2021-03-11 00:18] asmecher commented on #6091
Here's a proposal, similar to #6092.

Draft PRs:
- https://github.com/pkp/pkp-lib/pull/6853/files
- https://github.com/pkp/ojs/pull/3069/files

Proposal: Add namespaces to core classes in a way that's compatible with the [existing custom autoloader](https://github.com/pkp/pkp-lib/blob/3_2_1-0/includes/functions.inc.php#L321). When `strict` mode (in `config.inc.php`) is not enabled, [use `class_ali

[2021-03-11 00:19] asmecher commented on #6091
@NateWr and @jonasraoni in particular, please have a look at the above proposal!

[2021-03-11 09:09] NateWr commented on #6850
I'd like to see the API endpoints added on to the end of the publication endpoint at:

```/submissions/{submissionId}/publications/{publicationId}/contributors```

There's also a JSON schema that exists at [author.json](https://github.com/pkp/pkp-lib/blob/main/schemas/author.json), but this will need to be tested in more detail and may need additional validation rules applied.

[2021-03-11 09:37] jonasraoni commented on #6091
I've read the documentation some times and I can't remember about this `class_alias` function 😂

Looks like it's a safe idea! The only issue that comes to my mind would be something involving the full class name (e.g. serializing/deserializing).

About the autoloader, as we're using composer, perhaps we could use its built-in autoloader and follow a consistent path/naming convention later.

[2021-03-11 09:40] NateWr commented on #6852
@asmecher of the two, I think the one I removed is in the wrong place, because it will only get added if a name exists in the submission's locale: https://github.com/pkp/ojs/blob/main/plugins/importexport/crossref/filter/ArticleCrossrefXmlFilter.inc.php#L122. But the commit message for https://github.com/pkp/ojs/commit/0d0e86df1734e68d8915dca44e8c613c43f9c5d2 suggests that there is some logic that

[2021-03-11 09:47] NateWr commented on #6091
Oh that looks nice! Does the `class_alias` work with extends? For example, right now we've got:

[code]

What if a class, in a plugin, did this:

[code]

Would that still autoload? Or presumably they'll have the `import()` statement still in there? Will that still work for them? (If not, I don't think that's a deal-breaker, but we'll need to carefully document the change and try to put all the mig

[2021-03-11 09:51] marcbria commented on #6851
Checking what other CMS are doing:

In WP they recognize the issue and offer a couple of workarrounds:

![image](https://user-images.githubusercontent.com/2779168/110756872-03a16900-824b-11eb-98e3-5d2456e496d9.png)

- Their "FORCE_SSL_ADMIN" is like our "force_ssl"... to check authorization, not protocol.
- They **don't implement** "HTTP_X_FORWARDED_PROTO".

First workaround is adding a condition

[2021-03-11 10:52] NateWr commented on #6824
Ah, right, I understand now. I forgot that the TinyMCE uploads all go into a user-specific directory, so they will be shared across contexts. I've added some checks to prevent filename clashes when using the public file API.

PR:
https://github.com/pkp/pkp-lib/pull/6854 (stable-3_3_0)

Tests:
https://github.com/pkp/ojs/pull/3072 (stable-3_3_0)

[2021-03-11 10:55] NateWr commented on #6800
Merged to `stable-3_3_0` and cherry-picked to `main`.

[2021-03-11 10:55] #6800 closed

[2021-03-11 11:40] luizbgomide commented on #6852
@NateWr, according to the parser, the first ORCID is correct and the second on is misplaced/malformed.

[2021-03-11 11:44] luizbgomide commented on #6852
I found this relevant section of the schema:
[code]

[2021-03-11 12:49] NateWr commented on #6824
Merged to `stable-3_3_0` and cherry-picked to `main`.

[2021-03-11 12:49] #6824 closed

[2021-03-11 15:13] ctgraham commented on #5780
See also: #5239

[2021-03-11 17:32] asmecher commented on #6852
Thanks, @luizbgomide; @NateWr, the wrong order of elements is what motivated https://github.com/pkp/ojs/commit/0d0e86df1734e68d8915dca44e8c613c43f9c5d2 in the first place. See https://github.com/pkp/ojs/pull/2882.

@withanage, I think this is the problem I raised on the original pull request at https://github.com/pkp/ojs/pull/2882#issuecomment-715448673 but it didn't get fixed before merging. Coul

[2021-03-11 17:38] NateWr commented on #6852
Does the Crossref schema support an ORCID if there is no givenName or familyName? We will probably need to support deposits without a givenName or familyName (for example, institutional names). But I suppose these don't typically have ORCIDs?

I guess I'm wondering if the problem is at Crossref's end. Does having an ORCID depend on a `given_name` or `surname` existing? Or is it enough just to move

[2021-03-11 17:42] luizbgomide commented on #6852
Here is the full documentation https://data.crossref.org/reports/help/schema_doc/doi_resources4.3.6/doi_resources4.3.6.html the relevant element is `person_name`. The fields are all independent but are sequential according to the schema excerpt I posted above. I think the only element that is required is `surname` the others are optional.

[2021-03-11 17:48] jonasraoni commented on #3193
@NateWr I've created these PRs against stable-3_3_0

[PKP-LIB](https://github.com/pkp/pkp-lib/pull/6856)
[OJS](https://github.com/pkp/ojs/pull/3075)
[OPS](https://github.com/pkp/ops/pull/131)
[OMP](https://github.com/pkp/omp/pull/944)

Once everything is ok, I'll update the others for /main

[2021-03-11 18:00] asmecher commented on #6091
Yes -- once the `class_alias` is in place, code referring to `DataObject` seamlessly behaves well. However, because the `class_alias` is introduced in the same place as the aliased class is defined, autoloading has a bit of a chicken-and-egg problem to get the `class_alias` loaded in the first place.

Legacy code *should* already contain import statements, but in many cases it'll just assume core

[2021-03-11 18:08] jonasraoni commented on #4834
@asmecher I've created a PR for stable-3_3_0. If everything is ok, I can update the one for /main...

[PKP-LIB](https://github.com/pkp/pkp-lib/pull/6855)

But the [PR to run the tests](https://github.com/pkp/ojs/pull/3073/checks?check_run_id=2087215240) had a strange result :)

[2021-03-11 18:29] asmecher commented on #4834
The code looks good, @jonasraoni! Please go ahead and forward-port to `main`.

[2021-03-11 19:05] asmecher opened #6857 "Add error handling for nonexistent reviewer access"
From https://forum.pkp.sfu.ca/t/php-fatal-error-uncaught-error-call-to-a-member-function-getreviewerid/65649:

The existence of a ReviewerSubmission is not checked when the reviewer attempts to access the submission from the URL in the assignment email, thus leading to a 500 error if e.g. the review has been unassigned. Handle the error better.

[2021-03-11 19:14] #6857 closed

[2021-03-11 19:24] asmecher commented on #6807
@marcbria, are you planning to open a PR for this? I'd like to get 3.3.0-4 out on Friday and can take this over if you're busy.

[2021-03-11 19:26] asmecher commented on #6757
Assigning this to you, @Vitaliy-1 -- though I'm on the fence about whether it should be fixed in 3.3.0-3. If you can look at it tomorrow and the fix is small, please do; otherwise let's leave it to 3.3.0-5.

[2021-03-11 22:04] asmecher commented on #4834
I thought this was just a race condition -- in fact restarting the tests did fix one of the broken PHP7.x tests -- but the 8.x tests appear to be failing on https://github.com/pkp/pkp-lib/pull/6855/files#diff-292418b042047b0b51e9084eee6931fbab4e76fb45f171010fdc8ce309d594fdR12:
[code]

[2021-03-12 06:42] defstat opened #6858 "Add api_key_secret to OMP config.TEMPLATE.inc.php"
**Describe the problem you would like to solve**
api_key_secret key missing for OMP's configuration file - config.TEMPLATE.inc.php

[2021-03-12 06:49] defstat commented on #6858
@asmecher

PR
omp: pkp/omp#945

[2021-03-12 07:12] defstat commented on #5048
@asmecher I removed the api_key parameter from the config and added [this](https://github.com/pkp/pkp-lib/issues/6858) for the api key update.

[2021-03-12 07:58] jonasraoni commented on #4834
@asmecher I even didn't watch this build's output, because the other PRs I submitted had the same race condition issue... Thanks for noticing, and also for talking about "restarting the tests", now I found the small restart link =]
[code]

There's nothing in the documentation about the fatal error yet, but better to search across the code base to find more cases before they pop.

[2021-03-12 10:37] marcbria commented on #6807
Sorry Alec... I'm in a mess now. Our first journal of the service with upgraded to ojs 3 is going to be released today.
Please, take this if you have time for it.

[2021-03-12 10:53] isgrim commented on #6773
Hi everyone,

PR openend: https://github.com/pkp/quickSubmit/pull/52

Best regards,

Nils

[2021-03-12 10:55] isgrim commented on #6773
And for `main` Branch: https://github.com/pkp/quickSubmit/pull/53

[2021-03-12 12:13] luizbgomide opened #6859 "[OJS 3.3.0.3] Galley of a submission with a different language requires the filename in all languages"
When adding a Galley in a language different than the default from the journal (in this case Spanish, and the journal is in Portuguese), it asks for a filename to be filled in all the fields instead of just the language of the submission.

![image](https://user-images.githubusercontent.com/18707781/110938781-24cd8c80-8313-11eb-8fc0-f41514bf476a.png)

[2021-03-12 15:51] Vitaliy-1 commented on #6757
Let's plan the fix for 3.3.0-5. I don't think that I'd able to provide a reliable solution today.

[2021-03-12 18:06] asmecher commented on #6858
Merged both, thanks!

[2021-03-12 18:06] #6858 closed

[2021-03-12 18:13] asmecher commented on #4834
Merged PRs for both `main` and `stable-3_3_0`, thanks!

Not recently -- we have some outstanding planning and refactoring to do on the future of our test system (i.e. potentially migrating from Travis to Github Actions) and that'll need to happen before we dig into debugging the quirks.

[2021-03-12 18:43] asmecher commented on #5048
Thanks -- all merged!

[2021-03-12 19:08] asmecher opened #6860 "Make submission deletion more accepting of missing files"
When an editor deletes a submission from the archive, if the file is missing from the filesystem, they will get an error in the log:
[code]

Because the exception interrupted the deletion, some submission details will remain in the database. This can cause downstream problems when the partial submission is fetched:
[code]

This may be the cause of problems like...
- https://forum.pkp.sfu.ca/t/fata

[2021-03-12 19:18] jonasraoni commented on #4834
@asmecher what about the fatal error in PHP 8? Are you going to proceed with a global check? Just asking because I didn't commit the fix.

About the Github Actions, I checked fast and it looks promising, looks like it supports Docker too, so we could have some slim pre-built images with all the tooling installed to speedup the process.

[2021-03-12 19:22] asmecher commented on #4834
@jonasraoni, sorry, I had assumed there was a fix in place now. Can you look into a specific fix for this? (i.e. making sure that `$reviewers` is set in all cases where the new template is called?) There is some discussion of a global fix here, but it's too invasive for `stable-3_3_0`: https://github.com/pkp/pkp-lib/issues/6783

[2021-03-12 19:40] asmecher commented on #6860
Also fixes a minor problem with the notification update for "needs galleys" introduced here: https://github.com/pkp/pkp-lib/commit/90f40e1e1326c26b28c7472f90132e09c1f698fd#diff-7691560277cad85454de4744b19f7add2e8efb20c2b075ef500af4f1a934d0ccR114

[2021-03-12 19:40] #6860 closed

[2021-03-12 22:28] #6807 closed

[2021-03-12 23:30] asmecher commented on #4834
Never mind, I got it: https://github.com/pkp/pkp-lib/commit/295fbe35a1332921dbf394a33f4e99ecbd74105e

[2021-03-12 23:30] #4834 closed

[2021-03-12 23:40] marcbria commented on #6807
Thanks Alec.

[2021-03-13 02:44] asmecher commented on #6759
@ajnyga, I've merged the rebase of your PR after it passed tests: https://github.com/pkp/ops/pull/132
Is this one ready to be closed?

[2021-03-13 07:14] jonasraoni commented on #4834
I've skimmed the code and for me it should be working, so I was going to investigate it better...
Anyway thanks, I'm a bit disabled after falling over my hand 😂

[2021-03-13 08:05] benaltair commented on #6844
Thanks @asmecher 🙏🏻

[2021-03-14 05:02] rodrigoesborges opened #6861 "Slim application error on submissions endpoint - multilingual journal"
**Describe the bug**

I am having an issue similar to [the one reported here](https://forum.pkp.sfu.ca/t/an-unexpected-error-occurred-please-reload-the-page-and-try-again-and-in-the-active-tab-always-loads/62825/3), with a multilingual journal setup with OJS.

**How to reproduce**
Sign in as admin
Click on the journal's submissions link - the submissions pane opens empty, even though the were subm

[2021-03-14 17:31] gemusehandler commented on #6841
In fact there is a follow-up issue.

I have changed the content like Alec suggested. It looks fine but... I am not so sure about the data you don't see.

The DC-metadata of the chapters of an edited book is included in the header of the PDF download. It displays the author of the chapter correctly (DC.Creator.PersonalName), as well as the title of the chapter (DC.Title). However it does display th

[2021-03-15 09:43] gemusehandler commented on #6841
In fact there is a follow-up issue.

I have changed the content like Alec suggested. It looks fine but... I am not so sure about the data you don't see.

The DC-metadata of the chapters of an edited book is included in the header of the PDF download. It displays the author of the chapter correctly (DC.Creator.PersonalName), as well as the title of the chapter (DC.Title). However it does display th

[2021-03-15 09:57] NateWr commented on #6091
One new area of the codebase that serializes classes is the task queue. Tasks, including the dependencies injected into them, are serialized into the the database. Should be pretty easy to run a test with an announcement that sent the emails in tasks.

[2021-03-15 10:27] NateWr opened #6862 "Author name is not localized in How-to-Cite citation"
**Describe the bug**
When an author has names in more than one language, the How-to-Cite block does not localize the author's name based on the currently active locale. The author's name always appears in the submission's locale.

This is different from how the title behaves. If a title appears in more than one language, the citation shows the title in the currently active locale.

**To Reproduce*

[2021-03-15 10:43] NateWr opened #6863 "https://github.com/pkp/pkp-lib/issues/8372"
**Describe the bug**
The Crossref export filter will not include information about an author if the `givenName` or `familyName` is not present (see [this line](https://github.com/pkp/ojs/blob/main/plugins/importexport/crossref/filter/ArticleCrossrefXmlFilter.inc.php#L122)). However, only the `familyName` is required at the moment and not everyone has more than one name. If no `givenName` exists, t

[2021-03-15 10:45] NateWr commented on #6852
Ok, I've changed my PR to move the ORCID back into the block and I've filed an issue to catch problems with authors that have no `givenName` at https://github.com/pkp/pkp-lib/issues/6863.

From the schema that you posted, @luizbgomide, it doesn't sound like Crossref is ready to handle works attributed to an institution. I'll follow up with our team about that to see if we can figure it out.

[2021-03-15 11:19] NateWr commented on #6773
Thanks @isgrim, this looks good to me. We'll also need a PR to the `stable-3_3_0` branch. @asmecher can you double-check it? I'm not too familiar with QuickSubmit.

@asmecher I notice that the QuickSubmit plugin sets the `language` property automatically ([here](https://github.com/pkp/quickSubmit/blob/main/QuickSubmitForm.inc.php#L232)). But this is optional metadata (see https://github.com/pkp/pk

[2021-03-15 11:44] NateWr commented on #6841
Thanks @gemusehandler. That sounds right, but I'll let @asmecher confirm because I'm not too familiar with the DC metadata.

[2021-03-15 16:48] AhemNason commented on #6852
This is untrue. Crossref has schema for organizations, just not under the <person_name> element.

https://data.crossref.org/reports/help/schema_doc/4.4.2/schema_4_4_2.html#contributors

`<contributors xmlns="http://www.crossref.org/schema/4.4.2">
  <organization contributor_role="" language="" name-style="" sequence="">{1,1}</organization>
  <person_name contributor_role="" language="" name-style=

[2021-03-15 17:19] asmecher commented on #6861
@rodrigoesborges, are you using the `main` branch from github? If so, that's unreleased code and likely to be buggy. I would recommend either installing from the `.tar.gz` package, or if you'd like to work with git, use the `stable-3_3_0` branch.

[2021-03-15 19:35] asmecher commented on #6852
Merged https://github.com/pkp/ojs/pull/3070 and cherry-picked to `main`. @NateWr, is there more to be done, in particular WRT @AhemNason's comment above?

[2021-03-15 23:27] asmecher commented on #6773
@NateWr, yes, please remove that line of code; it's not required and shouldn't be there.

[2021-03-16 09:19] #6852 closed

[2021-03-16 12:41] isgrim commented on #6773
PR for stable_3-3-0: https://github.com/pkp/quickSubmit/pull/54

[2021-03-16 13:19] NateWr commented on #3193
@asmecher This is almost ready for merge, but it's a 3.3.1 feature. Should we wait a bit to create that branch or go ahead soon?

[2021-03-16 13:26] NateWr commented on #6773
Thanks @isgrim! I've merged those PRs so the fix is in `stable-3_2_1`, `stable-3_3_0` and `main`.

@asmecher I removed the offending `language` line from `main` but left it in for `stable-3_3_0` to minimize unexpected changes in stable versions. Is that alright or should I backport to `stable-3_3_0`?

[2021-03-16 17:56] asmecher commented on #6071
@bozana, 3.3.0-4 is out now -- I guess the plugin gallery needs a compatibility statement?

[2021-03-16 18:29] asmecher commented on #6773
@NateWr, it's pretty minor -- I'm OK either way. This metadata field will be re-evaluated with https://github.com/pkp/pkp-lib/issues/5000.

[2021-03-16 20:01] asmecher commented on #3193
@NateWr, please go ahead and create a `stable-3_3_1` branch from `stable-3_3_0`. I'll drop a note in the pkp-dev channel to watch out for this new branch.

[2021-03-16 21:11] shahreahang opened #6864 "Upgrade Open Journal Systems"
Hello,

I want to upgrade from version  3.1.1.4 to 3.3.0.4 but when i use php tools/upgrade.php upgrade i got this error :
ERROR: Upgrade failed: DB: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'apjcc1.email_templates_data' doesn't exist (SQL: UPDATE email_templates_data SET body=REPLACE(body, '{$submissionLayoutUrl}', '{$submissionUrl}'))

I follow instructions and now i don't know

[2021-03-16 21:20] asmecher commented on #6864
@shahreahang, could you post your question on our support forum (if you don't already see an answer there)? That's the best place to get help.
https://forum.pkp.sfu.ca

[2021-03-16 21:20] #6864 closed

[2021-03-17 03:13] asmecher opened #6865 "JATS template plugin "unterminated entity reference" warnings"
See https://forum.pkp.sfu.ca/t/ojs-3-1-2-oai-jats-resumptiontoken-http-error-500/65989 for details:
[code]
It appears that the title contains a `&` but the methods used in the OAI JATS plugin do not expect unescaped entities.

[2021-03-17 03:21] asmecher commented on #6865
Pull requests:
- https://github.com/pkp/oaiJats/pull/16 (`main`)
- https://github.com/pkp/oaiJats/pull/17 (`stable-3_3_0`)
- https://github.com/pkp/oaiJats/pull/18 (`stable-3_2_1`)
- https://github.com/pkp/oaiJats/pull/19 (`stable-3_2_0`)
- https://github.com/pkp/oaiJats/pull/20 (`stable-3_1_2`)

[2021-03-17 03:23] asmecher commented on #6865
(Assigning to 3.3.0-5 so it doesn't get lost)

[2021-03-17 10:09] #6773 closed

[2021-03-17 11:10] marcbria opened #6866 "Move EXCLUDE variable outside buildpkg.sh"
Dockerfile is inspired on buildpkg.sh so moving EXCLUDE variable outside the file will help in readability of the buildingpkg.sh and also will let Dockerfile call this remote exclude.list file instead of keeping a replica of the list (reducing sync errors).

An new "exclude.list" file need to be created (as a newline separated list).

Then, instead of the long EXCLUDE var, it could be filled as fo

[2021-03-17 12:21] jonasraoni commented on #6091
Yeah, it's needed to make a list of pros/cons about packing everything as a package, possibly even the plugins could use the same system 🤔
- Simplify the end-user installation (not needed to issue a `submodule update` + `composer install` for specific folders).
- Versioning: Updates could grab the latest non-breaking change automatically.
- More complex to manage customizations (check how composer

[2021-03-17 14:15] bozana commented on #6071
Thanks a lot @asmecher! I will test it again, make the release and update the plugins.xml...

[2021-03-17 14:55] NateWr opened #6867 "Proposal: Use Laravel's LazyCollections for collections of DataObjects"
## Proposal

When we get a collection of objects from the database, we need to map these to output for the REST API based on the schema. At the moment, we use a `getProperties` method on the Service class to map the object, and any dependent objects, to the schema for the REST API (see [example with Publications](https://github.com/pkp/pkp-lib/blob/main/classes/services/PKPPublicationService.inc.p

[2021-03-17 15:10] NateWr commented on #6867
I think maybe this is how it could be done?

[code]

[2021-03-17 15:27] #3193 closed

[2021-03-17 15:35] NateWr commented on #3193
Thanks @jonasraoni! All merged to the new `stable-3_3_1` branch and cherry-picked forward to `main`.

(Be careful about using "Closes" in commit messages as it will automatically close an issue. Because we have multiple branches, we don't necessarily want to close an issue with a single commit. This issue required 8 merges in all to complete.)

[2021-03-17 15:41] NateWr commented on #6809
I've cherry-picked this feature into our new `stable-3_3_1` branch so it will go out with the first 3.3.1.x release.

[2021-03-17 15:41] #6809 closed

[2021-03-17 16:59] jonasraoni commented on #3193
Hmm, so it has the same effect of the "Linked pull requests" 🙈

[2021-03-17 17:36] eczheng commented on #4457
+1

[2021-03-17 17:59] #5491 closed

[2021-03-17 17:59] #5493 closed

[2021-03-17 17:59] #5495 closed

[2021-03-17 23:36] elton557 opened #6868 "Error upgrade OJS 3.3.0-4"
**Describe the bug**

Hello when I'm going to upgrade my ojs, I get the error below, unfortunately I still haven't been able to update my ojs to the new versions

 php upgrade.php upgrade

Log:

ERROR: Upgrade failed: DB: PDOException: SQLSTATE[HY000]: General error: 1390 Prepared statement contains too many placeholders in /var/www/submission_scielo_br/htdocs/lib/pkp/lib/vendor/doctrine/dbal/lib/

[2021-03-17 23:43] asmecher commented on #6868
@elton557, I think this is a duplicate of https://github.com/pkp/pkp-lib/issues/6724#issuecomment-776179011. Are you working with the patches being tested there?

[2021-03-18 09:21] marcbria commented on #6851
This post let me understand part of the problem:
https://github.com/pkp/pkp-lib/issues/4919#issuecomment-544020644

[2021-03-18 11:14] swapnil88porwal commented on #6112
Hi,

Can any one share resolution, we are also facing same issue ....Add reviewer form taking too long. Our OJS version is 3.1.2.4.

[2021-03-18 11:23] NateWr commented on #6861
I'm sure you've checked and double-checked, but the error really does seem to be saying that the column `locale` does not exist on the `submissions` table. Is it possible that OJS is connected to a different database than you're looking at?

[2021-03-18 11:35] NateWr opened #6869 "Prevent journal managers from viewing DataCite credentials"
**Describe the problem you would like to solve**
Journal managers often need to enter their own credentials for third-party distribution services, like DataCite. But in some cases a service provider manages these credentials for all journals in their system. In such cases, the journal manager should not have access to the DataCite credentials.

There are probably similar scenarios with other third

[2021-03-18 14:18] jnugent commented on #5960
Hi everyone, I wanted to comment with my own experiences here. We've had problems with imports using Native XML breaking installations because submissions get created with no corresponding entry in the publications table. @defstat's commits here prevent the corruption from occurring, so for us that's a big positive.  I suspect that this change here:

https://github.com/defstat/ojs/commit/23c1b3baa

[2021-03-18 14:42] jnugent commented on #5960
It looks like the corresponding filterConfig entry that builds the Native XML also needs an adjustment, since in `stable-3_2_1` it is still just a single Publication object on input:

https://github.com/pkp/ojs/blob/stable-3_2_1/plugins/importexport/native/filter/filterConfig.xml#L132

[2021-03-19 02:07] rodrigoesborges commented on #6861
@asmecher would it be safe to downgrade?

@NateWr , thanks for your reply. And you are totally right. The column does not exist in the database . I had issued the wrong query to check it (late at night, sorry). I will update the opening issue. Why would that column be missing then?

[2021-03-19 02:57] asmecher commented on #6861
@rodrigoesborges, we don't support downgrades; the upgrade scripts only go from older to newer, and as the `main` branch has not been released yet, we don't formally support it. There aren't huge differences between the 3.3.x releases and `main` yet, but you'll have to experiment.

[2021-03-19 08:38] tgc opened #6870 "SQL logic error in upgrade when using PostgreSQL"
**Describe the bug**
There is a logic error in the PostgreSQL branch of the code in Installer::changeUserRolesAndStageAssignmentsForStagePermitSubmissionEdit.

After the upgrade every single entry in the stage_assignments table has can_change_metadata=1 instead of just the subset with the right role.

**To Reproduce**
We are upgrading from 3.1.1-4 to 3.2.1-3 and to reproduce we simply run the upgr

[2021-03-19 10:26] salmanm2003 commented on #6809
Thanks @NateWr

[2021-03-19 12:50] elton557 commented on #6868
@asmecher  Hello, a question, is this update really time consuming? I started on 17-03-2021 and it is still running

[2021-03-19 13:52] asmecher opened #6871 "Session destruction (and duplicate) warnings in the PHP error log"
A user reports session destruction warnings in the PHP log:
[code]

[2021-03-19 14:00] asmecher commented on #6871
I'm not 100% satisfied that this is resolved:
- I'm not sure how this resolves the session duplication message
- I'm not sure why this is only showing up on one server when the same code is deployed far and wide

However: the session `destroy` function appears to have been written to expect a boolean return from `SessionDAO::deleteObject`, and that function does not state a return value. This appe

[2021-03-19 14:00] #6871 closed

[2021-03-19 15:07] rodrigoesborges commented on #6861
Ok I ended up starting from scratch. Probably the db upgrade from ~3.1 or ~3.2 directly to 3.4 did not complete correctly somehow.
Thanks for your patience and replies.

[2021-03-19 15:07] #6861 closed

[2021-03-20 16:40] lennartack opened #6872 "Article links broken after update to 3.3.0-4"
After updating OJS from 3.2.1-1 to 3.3.0-4, article links to old articles are broken. For example, a link that should be `https://example.com/journal/article/view/123` becomes `https://example.com/journal/article/view/`, and a link to a pdf `https://example.com/journal/article/view/123/456` becomes `https://example.com/journal/article/view//456`.

Looking at the database, these old entries in the

[2021-03-22 00:41] davidjb opened #6873 "[OJS] Saving the Website - Appearance - Setup form auto-focuses on Homepage Image Alt Text field"
In OJS v3.3.0_3 (haven't yet tested with v3.3.0_4), saving the journal appearance setup form (at `/management/settings/website#appearance`) sees the browser auto-scroll to and shift focus to Homepage Image Alt Text field in the middle of the page:

[code]

This has the effect of confusing the user -- they get taken away from the Save button which correctly indicates the page saved.  In my user's c

[2021-03-22 11:10] NateWr commented on #6868
@elton557 The time of an update will depend on your database size and server capacity, but the update should not be too long this time around.

I'm closing this as a duplicate of #6724.

[2021-03-22 11:10] #6868 closed

[2021-03-22 11:24] NateWr commented on #6870
Hi @tgc, thanks for the good bug report. I was able to run your suggested queries and it does look like there's an issue in postgres. The postgres query was introduced to resolve some compatiblity issues in https://github.com/pkp/ojs/commit/dbf319e8ffce87d447a3a57dad6c398e1705fca3, so I'm going to leave this for @asmecher to look at more closely.

[2021-03-22 11:28] NateWr commented on #6872
Thanks for the report @lennartack. Can you look at your 3.2.1-1 database to see if the empty `url_path` that isn't `NULL` is on all of your publications or just some? My own database copies show only `NULL` entries so it'd be good to determine where your empty strings came from.

[2021-03-22 11:42] lennartack commented on #6872
The empty values are there in the 3.2.1-1 database, but only for publications in 2017 and before. My guess is that they are remnants of a much older version of OJS, and this only became a problem in 3.3.

[2021-03-22 11:48] NateWr commented on #6873
How strange! It will focus on the upload button if no image is uploaded, too. :thinking:

Ok, it looks like this was due to some overzealous focus management. It was likely set up to prevent focus from getting dropped from the DOM when adding/removing files. But after removing the offending focus call, I couldn't reproduce any scenarios where the focus was dropped.

PR:
https://github.com/pkp/ui-l

[2021-03-22 11:50] NateWr commented on #6872
:+1: thanks @lennartack that's helpful. I'll assign this to a milestone so that it gets reviewed. However, we choose not to fix this in the code if it doesn't effect too many people, since it can be resolved with a single SQL query for those who encounter it.

[2021-03-22 17:50] jnugent commented on #5960
Hi again, everyone.  I'm back with some more information.  First, @defstat if you want the XML file I'm using for this test, just ping me on slack.

So, with a fresh pull of stable-3_2_1, things do import correctly in the following circumstances:

1. The exported XML is correct
2. The journal the data is being imported into has a) all of the required "uploader" users and also all of the sections s

[2021-03-22 18:09] AndrewGearhart opened #6874 "[OJS] remove commercial URL from config.TEMPLATE.inc.php"
We should replace myurl.com urls with IETF compliant URLs that won't cause confusion if errors occur in the config.inc.php such as example.com or www.journalname.example

[2021-03-22 18:30] pmangahis commented on #4261
+1 from PKP|PS journal

[2021-03-22 19:12] asmecher commented on #6870
@tgc, thanks for catching this -- could you open a pull request including the proposed change?

[2021-03-23 03:40] davidjb commented on #5844
Just opened https://github.com/pkp/ojs/pull/3079 to handle the change in this field from plaintext to rich text; same issue as https://github.com/pkp/ojs/pull/3043

[2021-03-23 06:42] ajnyga opened #6875 "Publishing / posting blocked for users with both Section editor assignment and a Journal Manager role"
A shared problem in all applications 3.3.0 but most visible in OPS. This was reported by @alexxxmendonca and their team (feel free to add any additional information that might be missing here).

In 3.3.0 a Journal editor / Server manager can be blocked from publishing a new submission if she has a stage assigment as a Section editor / Moderator. Because of the Manager role she can still see the Pu

[2021-03-23 06:46] ajnyga commented on #6875
(ps. in the long run it would be maybe good if the code would refer to Context Managers and Section Managers instead of journal specific lingo)

[2021-03-23 07:00] jonasraoni opened #6876 "[Plugin][Portico] Integration with other providers"
Since exporting JATS content seems be useful for other archiving providers, it might be interesting (I have one case 😁) to rename the plugin to something more generic and allow the user to:
- Enter more credentials (in case he needs to export to more than one place)
- Setup the file format with variables (e.g. "%acronym%-%volume%-%date%")
- Setup the FTP base path

Perhaps it's better to have a cu

[2021-03-23 07:15] jonasraoni opened #6877 "[Plugin][Portico] Export automatically"
I think it would be interesting for the user to have the issues exported automatically.

For this we should have an "Export automatically when issues are published" checkbox and a small integration with the publish interface.

Given the possible issues (slow network, huge files, etc.), the best would be to have a non-blocking process with notifications.

[2021-03-23 07:23] ajnyga commented on #6875
I think this does not work as expected: https://github.com/pkp/pkp-lib/blob/main/classes/security/authorization/StageRolePolicy.inc.php#L62

When I click Publish / Post in the UI that condition is never true, because ASSOC_TYPE_ACCESSIBLE_WORKFLOW_STAGES does not seem to be set at all. `$userAccessibleStages` is an empty array.

[2021-03-23 07:41] ajnyga commented on #6875
I can fix that by doing this:

Here: https://github.com/pkp/pkp-lib/blob/main/api/v1/submissions/PKPSubmissionHandler.inc.php#L173-L176

Basically setting the missing `ASSOC_TYPE_ACCESSIBLE_WORKFLOW_STAGES` constant.  Probably there are other ways of solving this as well.

[2021-03-23 09:17] NateWr commented on #5844
Thanks @davidjb! I've merged that PR and cherry-picked to all of our applications in the `stable-3_3_0`, `stable-3_3_1` and `main` branches.

[2021-03-23 09:33] NateWr commented on #6875
Thanks @ajnyga, I've been able to reproduce the problem that you describe.

Subeditors (section editors, series editors, moderators) should be allowed to publish as long as their user group is assigned to the production stage (yes by default). It looks like the problem lies in `SubmissionAccessPolicy`, which is gets the accessible workflow stages for subeditors but not for managers. There seems to

[2021-03-23 09:44] NateWr commented on #6875
Just a quick note: the fix in [this comment](https://github.com/pkp/pkp-lib/issues/6875#issuecomment-804688982) will not work because it prevents unassigned managers from publishing.

[2021-03-23 09:46] ajnyga commented on #6875
OJS Authorization Policies ❤️

[2021-03-23 09:50] ajnyga commented on #6875
Does https://github.com/pkp/pkp-lib/blob/main/classes/security/authorization/StageRolePolicy.inc.php#L82 require the empty check? But I am maybe looking at the wrong place for the solution anyway. I got a bit confused first because I had the "can only recommend" setting on for the section editor assigment I first tested this with and that hides the Publish button altogether. Makes sense that by de

[2021-03-23 10:03] NateWr commented on #6875
Yes. A manager may be assigned to a submission in a less-than-manager role, so we always apply authorization based on assigned role OR if no role let managers do things.

I've spent some time on this today with no luck. You're right that the problem lies in the fact that `ASSOC_TYPE_ACCESSIBLE_WORKFLOW_STAGES` has not been set when `StageRolePolicy` is called. I suspect that `SubmissionAccessPolic

[2021-03-23 10:22] NateWr commented on #6873
Merged to `stable-3_3_0` and cherry-picked to `stable-3_3_1` and `main`.

[2021-03-23 10:22] #6873 closed

[2021-03-23 10:24] NateWr commented on #6874
Sounds like a good idea. Would you be willing to make a PR with this change?

[2021-03-23 12:02] #5111 closed

[2021-03-23 12:02] AhemNason commented on #5111
Just noting that we remained compliant.

[2021-03-23 12:38] AhemNason commented on #5115
This is getting addressed in a broader UI evaluation.
Duplicate of #6062

[2021-03-23 12:38] #5115 closed

[2021-03-23 12:39] #3515 closed

[2021-03-23 12:40] AhemNason commented on #3515
Closing for now, there are bigger fish!

[2021-03-23 12:40] AhemNason commented on #3428
Issue no longer relevant since 3.1.2 release.

[2021-03-23 12:40] #3428 closed

[2021-03-23 12:53] librariam commented on #5697
+1 from PKP|PS - this would be very valuable for troubleshooting galley issues without having to unpublish the article every time

[2021-03-23 12:58] AhemNason commented on #6863
Just a note that this fails specifically because of the empty <givenName> element. If you remove the element instead of leaving it there, closed, it will validate.

Invalid against Crossref 4.4.2 Schema:
[code]

Valid against Crossref 4.4.2 Schema:
[code]

The justification in their schema documentation is as follows:

Additionally, if the user somehow only filled out `<given_name>`, that will cho

[2021-03-23 14:56] jnugent opened #6878 "Galleys listed out of order on article landing page"
**Describe the bug**
On the issue table of contents, galleys for published articles are fetched in the template with a call to `$article->getGalleys()` which correctly sorts galleys according to sequence value.  On the article landing page however, galleys are displayed based on an iteration of `$primaryGalleys`, which is set in `ArticleHandler.inc.php` via a call to `$publication->getData('galley

[2021-03-23 15:06] rshiggin commented on #5709
We are receiving complaints from users who only use OJS for editorial workflow that it's disruptive in 3.2 to have a submission moved to archive when it's assigned to a future issue. They want it to remain in their personal queue until the submission is in production, not while it's still in copyediting. There's a forum post from last year on this behavior. https://forum.pkp.sfu.ca/t/papers-schedu

[2021-03-23 15:34] elton557 commented on #6724
@asmecher  Hi, I started my upgrade on 03/17/2021, and it hasn't finished yet, now it's in this part yet:
<img width="1436" alt="Screen Shot 2021-03-23 at 12 33 44" src="https://user-images.githubusercontent.com/52458645/112173104-09e0ff00-8bd4-11eb-9811-30a11abdad8e.png">

[2021-03-23 15:38] bozana opened #6879 "site settings not visible for usage statistics plugin when only one context exists"
**Describe the bug**
When only one context exists, the tab Plugins under Administration > Site Settings is not visible and the usage statistics plugin settings under the context Website Settings > Plugins do not contain the site settings, only context settings. Thus the admin can not set the site settings.

**To Reproduce**
Steps to reproduce the behavior:
When only one context exists, as admin
1.

[2021-03-23 16:08] NateWr commented on #5709
@rshiggin, editors can assign a submission to an issue but not schedule it for production.

Steps:
1. Go to Publication > Issue
2. Click Assign
3. Assign to an unpublished issue.
4. When the publish modal pops up, click the X to not schedule it for publication.

The submission will remain in the queue. Beware, though, that when the issue is published this submission _will not be published_. When t

[2021-03-23 16:24] rshiggin commented on #5709
@NateWr This is super helpful, and from what I understand the d/b will be updated following these steps, but when I assign but don't schedule the submission does not appear in the future issue TOC. We're still on release 3.2.1-1. Has this been updated in a more recent release so that it appears in the TOC?

[2021-03-23 16:27] bozana commented on #6879
PRs:

stable-3_3_0:
usageStats: https://github.com/pkp/usageStats/pull/45
ojs: https://github.com/pkp/ojs/pull/3081 (only submodule update)
omp:
ops:

master:
usageStats:
ojs:
omp:
ops:

[2021-03-23 16:29] bozana commented on #6879
@NateWr, could you take a look at the PR?
If OK I would provide the other PRs, for other applications and master branch...

[2021-03-23 17:02] NateWr commented on #5709
No the submission will not appear in the issue TOC until it is scheduled for publication. When an issue is published, it looks for submissions assigned to the issue that are `STATUS_SCHEDULED` and only publishes those. So they wont' appear in the TOC until they've been scheduled, or else we'd run into other issues where editors click publish but don't understand why a submission wasn't published w

[2021-03-23 17:05] NateWr commented on #6879
Are we sure that all of the settings that exist at the admin level should be available to the journal manager? Some of the settings available from the admin plugins list might be meant for only admins. I can't remember, but just checking. I think what we want is for the admin plugins list to be available, right?

[2021-03-23 17:20] asmecher commented on #6876
This is already implemented per https://github.com/asmecher/portico/commit/89fee48568cf67b1522da3a94decdf6985784cb3.

[2021-03-23 17:20] #6876 closed

[2021-03-23 19:33] tgc commented on #6870
Done. See https://github.com/pkp/ojs/pull/3080
Should apply to 3.2 and 3.3 branches as well.

[2021-03-23 20:55] chryslovelace opened #6880 "Break out items from article_details.tpl into individual component templates"
**Describe the problem you would like to solve**
I would like a way to individually refer to items that are included in the article details (such as authors, keywords, citation information, etc.) in templates.

**Describe the solution you'd like**
One solution would be to move each item into its own component template, and to then include those templates in `article_details.tpl`. This way, those c

[2021-03-23 21:07] BiatrizAlb opened #6881 "Double forward slashes ("//") on URL returned from Dispatcher"
When we use the `lib.pkp.classes.handler.PKPHandler.getDispatcher()`  method to obtain the base URI of the application, it returns double forward slashes in the URI. The [RFC of the URI is clear](https://tools.ietf.org/html/rfc4395) in pointing out that "//" are only allowed in the schema part (https: //, ftp: //).

**Implementation:**
`$request->getDispatcher()->url($request, ROUTE_COMPONENT) `.

[2021-03-24 06:16] bozana commented on #6879
The journal manager will never see the site-wide plugins, thus this one neither.
Thus, I think i.e. it seems that that was the idea when having only one context not to show the admin plugins list at all, but have everything at that one place.
(The specifics of this plugin are that there are options/settings that can differ for each context. So if there are several context, admin will be able to se