[2021-11-16 20:09] diegoabadan commented on #5266
Thanks @asmecher! Our team will soon send a PR referencing this issue.

[2021-11-16 20:29] asmecher commented on #6724
That's wonderful news, @elton557 -- I can confirm that this process will be less onerous in the future, and will be working with you as we prepare for the release of OJS 3.4.0 to ensure that this is the case!

[2021-11-16 21:17] asmecher commented on #6112
Thanks, @jonasraoni! I've added a few comments to both `main` and `stable-3_3_0`, but the Travis tests are failing, so those could also use a look.

[2021-11-16 21:57] AlejandraCasas commented on #2890
+1 from PKP|PS

[2021-11-17 01:17] ewhanson opened #7459 "AdminHandler function missing arguments"
**Describe the bug**
Running 'Clear Scheduled Task Execution Logs' from admin pages throws a fatal error.

AdminHandler::clearScheduledTaskLogFiles() is missing arguments for CSRF check against request.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Administration tab
2. Click on 'Clear Scheduled Task Execution Logs'

**What application are you using?**
OJS main branch

[2021-11-17 01:29] ewhanson commented on #7459
Hi @asmecher, could you have a look at this? It adds in the needed arguments for `$request->checkCSRF()`. Will OMP and OPS need submodule commits as well? Thanks!

PRs:
#7460
pkp/ojs#3228

[2021-11-17 02:47] asmecher commented on #7459
Looks good, thanks, @ewhanson! I didn't merge the OJS submodule update because I didn't want to create conflicts with other PRs that are open and include submodule updates. I checked `stable-3_3_0` and it doesn't have the same problem.

[2021-11-17 02:47] #7459 closed

[2021-11-17 10:21] NateWr opened #7461 "Revision file uploaded message is confusing when a file is attached to a discussion"
**Describe the problem you would like to solve**
When a file is attached to a discussion, an entry is added to the submission's activity log that says says "Revision file uploaded". This makes it look like a file was uploaded to a submissions list and is confusing.

**Describe the solution you'd like**
The log entry should be changed to indicate that a file was uploaded to a discussion. It might a

[2021-11-17 10:21] NateWr commented on #7453
Ok thanks @asmecher. I've merged that PR to `stable-3_3_0` and it looks like you already fixed the bug in `main` with https://github.com/pkp/pkp-lib/commit/a1cf06976223d91b5ecef4ec79a951f872f658db

[2021-11-17 10:21] #7453 closed

[2021-11-17 11:17] NateWr opened #7462 "Add integration tests for chapter landing pages"
Chapter landing pages were added in https://github.com/pkp/pkp-lib/issues/7132. We should add integration tests to reduce regressions in future development.

Suggested tests:
- [ ] When a chapter page is enabled, the chapter can be accessed at the expected URL.
- [ ] When a chapter does not have a page enabled, the chapter can not be accessed at the chapter URL.
- [ ] When a chapter page is enable

[2021-11-17 11:25] NateWr commented on #7132
Thanks @nongenti, all merged! :tada: Thanks for your patience working through all the details and your diligent responses to code reviews. I've filed a separate issue to write some integration tests for chapter landing pages at https://github.com/pkp/pkp-lib/issues/7462. You're not obligated to work on it but it would be good to get some basic tests in place before too long.

[2021-11-17 11:25] #7132 closed

[2021-11-17 11:43] NateWr commented on #2427
ISBN's are available to assign to the publication format. And as far as I understand, a unique ISBN should be assigned to each "edition" of a book (ie - publication format). I'll close this for now, but if there is further discussion to have about ISBNs, let's file a new issue with some specific use cases. cc @ajnyga

[2021-11-17 11:43] #2427 closed

[2021-11-17 11:46] NateWr commented on #2444
@ctgraham is this work still in progress or abandoned? I'm happy to keep this open if you think it's still going to see work. On the other hand, we will eventually move away from grids and similar components, so the cost v benefit may be waning.

[2021-11-17 11:46] NateWr commented on #2449
Going to close this for now, but happy for docblock clean-up to proceed. Feel free to file new issues if new problems are discovered.

[2021-11-17 11:46] #2449 closed

[2021-11-17 11:47] NateWr commented on #2469
This is obsolete as of the submission file refactor in 3.3.

[2021-11-17 11:47] #2469 closed

[2021-11-17 11:51] #2514 closed

[2021-11-17 12:12] #2535 closed

[2021-11-17 12:19] NateWr commented on #7434
PRs merged for `stable-3_2_1`, `stable-3_3_0`, and `main`.

[2021-11-17 12:19] #7434 closed

[2021-11-17 12:50] isgrim commented on #7132
Woohooo! Major work thanks Christian @nongenti and Nate @nate !

[2021-11-17 13:43] eirikhanssen commented on #7453
I had a very similar problem with ojs 3.3.0-8. When trying access the activity log it would not finish loading.

I resolved this by adding the changes in https://github.com/pkp/pkp-lib/commit/a1cf06976223d91b5ecef4ec79a951f872f658db, and in addition I had to also add a check to see if **$reviewRound** was null for
**case SUBMISSION_FILE_INTERNAL_REVIEW_REVISION:**
and add a similar return null sta

[2021-11-17 13:44] ctgraham commented on #2444
This was mired in some [strange Travis testing behavior](https://github.com/pkp/ojs/pull/1399#issuecomment-311173283) and is now to stale for me to readily pick it back up.  It should be considered abandoned.

[2021-11-17 14:34] NateWr commented on #7453
Thanks @eirikhanssen. Can you file a new issue with those details?

[2021-11-17 14:39] #2444 closed

[2021-11-17 14:49] mdagostino1212 commented on #6991
Hi @jonasraoni! I am trying to apply your patch but I am having problems. I 've changed the file located in lib/pkp/classes/security/UserGroupDAO.inc.php but it has a different structure that the one you add. When I change the code I got errors. Is this a different implementation of OJS? I am using OJS 3.3.0-6. Thanks in advance

[2021-11-17 16:44] Michevole commented on #5151
Hi @neffe, hi @openacademia!

Many editors asked me to get a better view of the back/future issues, so I tried something. I'm not a coding expert, so I offer my solution to the community but I appreciate if someone could confirm my changes. I'm using OJS 3.3.0-6.

The table of content (TOC) read the data in columns, so I didn't add a second line for authors as you suggested, but I added a new colu

[2021-11-17 17:19] jonasraoni commented on #6991
Hi @mdagostino1212!

It's a bit risky to update a single file as it might depend on other modifications, you'd better follow the [documentation](https://docs.pkp.sfu.ca/dev/upgrade-guide/en/), looks like the latest tag is `3_3_0-8`.

If you still seeing errors after upgrading it properly, then share with us the error message.

[2021-11-17 17:29] jonasraoni commented on #6301
@glaucomunsberg there are some tools out there to compare databases, I'd advise you to issue a clean installation, using the same version that you have, and check if at least the structure match with your database.
I consider this is a good approach to start, then you might check if the records created by the system are intact and so on.

[2021-11-17 19:42] mfelczak commented on #6122
Hi @asmecher, just wanted to confirm that the Recommend By Similarity plugin will in fact be deprecated and not included in the upcoming 3.4 release? We've received a couple inquiries about it.

[2021-11-18 08:51] jonasraoni commented on #7428
@NateWr Yeah, as far as I remember, it has the same data, even the count of users per role.
The CSV generation is [inlined](https://github.com/pkp/pkp-lib/blob/main/classes/notification/managerDelegate/EditorialReportNotificationManager.inc.php#L68), so it will have to be extracted from there 😁

[2021-11-18 09:51] NateWr commented on #2550
Closing this in favor of #4622, which is getting implemented as part of the 3.4 milestone.

[2021-11-18 09:51] #2550 closed

[2021-11-18 09:53] NateWr commented on #2560
Closing this as outdated, but if there is still a problem in `stable-3_3_0` go ahead and file an issue with reproduction steps.

[2021-11-18 09:53] #2560 closed

[2021-11-18 09:54] NateWr commented on #2563
Related to #2564, where some research on the impact to downstream indexing services.

[2021-11-18 09:56] NateWr commented on #2568
Closing this as the original report is not a bug. If there is still an enhancement to implement for the plugin, please file a new issue with a more detailed feature request.

[2021-11-18 09:56] #2568 closed

[2021-11-18 09:57] NateWr commented on #2575
Closing this as more recent work has been done in #4611 and a working plugin has been released at https://github.com/ojsde/lucene.

[2021-11-18 09:57] #2575 closed

[2021-11-18 09:58] NateWr commented on #4611
Closing this as a plugin for this has been released at https://github.com/ojsde/lucene. If more work remains to be done, please file a new issue.

[2021-11-18 09:58] #4611 closed

[2021-11-18 10:03] openacademia commented on #5151
@Michevole Wow, this looks great! I am not able to test it myself, but would love for this solution to become part of future releases. Excellent!

[2021-11-18 10:03] NateWr commented on #2681
@ctgraham I'm going to leave this open but wanted to check if you still wanted to be assigned to it.

[2021-11-18 10:06] NateWr commented on #2665
Work is in progress on a new revisions upload UI at https://github.com/pkp/pkp-lib/issues/4976. When that work is complete, it should be easy to add the author confirmation notice requested in this issue.

[2021-11-18 10:08] #2676 closed

[2021-11-18 10:20] nongenti commented on #7132
Thanks @NateWr for the good cooperation!

[2021-11-18 10:29] NateWr commented on #7132
@amandastevens this may effect documentation for OMP 3.4.

[2021-11-18 11:20] NateWr commented on #5730
@kshuttle I'm working on attaching reviewer comments to decision emails now and I had a question. Most of the emails have text that says:

These will be added like an email template variable. I'm wondering how we should format this? At the end of each email is:

Should we just go straight into the reviewer comments?

Or should the email template introduce them like this?

[2021-11-18 12:22] janiosarmento commented on #6559
Sorry, @asmecher, I didn't see your mention in the notification ocean.

Always `stable-3_3_0`, we never use tarballs.

[2021-11-18 16:13] NateWr opened #7463 "Dropped column still created on publications table during installation"
**Describe the bug**
As part of #6057, the `locale` column was moved from the `publications` table to the `submissions` table. The column is dropped during the migration to 3.3.0. However, the database schema used during install still adds the `locale` column. This should be removed.

Two things to do:
1. Remove the `locale` column from the `publications` table schema in `OJSMigration` (and OMP/OP

[2021-11-18 18:15] asmecher commented on #6559
This is probably a duplicate of #7371. Could you update from `stable-3_3_0` and try again? Meanwhile, I'll close this.

[2021-11-18 18:15] #6559 closed

[2021-11-18 18:16] asmecher commented on #6559
Sorry, I mean https://github.com/pkp/pkp-lib/issues/7450.

[2021-11-18 18:52] amandastevens commented on #4246
+1 from another PKP|PS client

[2021-11-18 20:44] asmecher commented on #6122
@mfelczak, no, I hadn't made that decision. I tested the plugin, fixed the issue noted by @Vitaliy-1, and it works well enough -- I've committed the fix and will include it in 3.4.0.

[2021-11-18 20:44] #6122 closed

[2021-11-18 21:51] kshuttle commented on #5730
Sorry for the oversight with this, @NateWr. I think leading into the reviewer comments with the suggested statement (The following comments were received from reviewers) would be my preferred option.

[2021-11-19 06:07] ajnyga commented on #2169
Not really, but looked through the `mailingAddress` setting in our db. Around 15 journals out of 110 have filled in something else than an actual mailing address to the setting with the value `-` being the most common. In many cases an email address has also been used. This implies that in these cases there is no postal address to use.

[2021-11-19 06:36] ajnyga commented on #1692
Yes, I have these for OMP 3.2
https://github.com/ajnyga/datacite/tree/crossref
https://github.com/ajnyga/quickSubmit/tree/omp
https://github.com/ajnyga/autoApprovePublicationFormats (this is not required but handy)

[2021-11-19 06:37] willinsky commented on #2169
Agreed that a "mailing address" is so 1999. But providing journals with a prompt to add an institutional, organizational, or business affiliation, along with its physical and/or URL location, may encourage them in a practice that serves journal integrity and transparency.

[2021-11-19 07:09] ajnyga commented on #7190
It seems to me that the code tries to read those attributes straight from the `submission_file` element (https://github.com/pkp/pkp-lib/blob/main/plugins/importexport/native/filter/NativeXmlSubmissionFileFilter.inc.php#L150)

But the schema file does not allow the attribute there. So it could be that we could just change the schema file?

[2021-11-19 07:22] jonasraoni commented on #7190
@ajnyga Yes. FYI I can confirm that if you export a sample book and use the same XML format to import, it will work (I've just imported more than 1K books using this PR).
Well, let's way for an answer from @defstat before providing new fixes.

[2021-11-19 07:34] ajnyga commented on #7190
thanks, yes the memory_limit issue I was familiar with because it applies also to OJS imports.

So just to make sure I understand correctly, you can import books and the publicationFormats and attached files are visible for the public after the import?

[2021-11-19 10:08] rebeccauoe commented on #1692
@ajnyga this is fantastic, thanks. Are there any plans for future upgrades to have these auto-installed as they currently are on OJS, @NateWr?

[2021-11-19 13:57] mfelczak commented on #6122
Thanks for the confirmation @asmecher!

[2021-11-19 16:01] bozana commented on #6781
Hmmm... The `Section_Type` is in every example, so I think we should/would need to consider it. I will then think further about the implementation and will come back with some options...

[2021-11-19 21:01] asmecher commented on #7439
@NateWr, can you still replicate this using the current `main` branch? I tried using the existing bbeaty submission (ID#4) by publishing it and then creating another version (it already has multiple authors and multiple chapters) and I didn't encounter any problems.

[2021-11-19 21:54] henriqueramos commented on #4622
@asmecher

Could you please check the pull requests for this task? Thank you!

[ojs](https://github.com/pkp/ojs/pull/3132)
[pkp-lib](https://github.com/pkp/pkp-lib/pull/7049)
[ops](https://github.com/pkp/ops/pull/196)
[omp](https://github.com/pkp/omp/pull/1031)

[2021-11-20 07:29] ajnyga commented on #1692
The Crossref plugin is really a temporary solution. I am waiting for the current DOI work finish and will revisit it after that. It works, but lacks for example automatic registrations.

The quicksubmit plugin is maybe something that could be released "officially" but also there Nate has plans to incorporate a quicksubmit like functionality to the core.

But I plan to support these because we use

[2021-11-20 19:38] jonasraoni commented on #7167
Looks like the `assoc_id`/`assoc_type` usage was already wiped off, so I just created the migration to fix the duplicated items and remove the columns.
I didn't test yet the migration (just offloading the job for Travis), so maybe it will need some extra work later.

PRs for /main:
https://github.com/pkp/ojs/pull/3230
https://github.com/pkp/omp/pull/1032
https://github.com/pkp/ops/pull/200
https:/

[2021-11-21 16:29] withanage commented on #7400
@NateWr  I have assigned and will looked into webp issue.

Should I look into copying the svg functionality?

[2021-11-21 16:44] bozana commented on #7383
@asmecher, it seems the following change solves this issue: https://github.com/pkp/ojs/commit/f7c4b7f13bc502762e369300148e4578090dc725#diff-0d5648e42f792f4e2708196d4f19a19513723681d7ff9db588194ae8099abdc3, correct?

[2021-11-21 17:07] bozana commented on #6781
In OMP we could theoretically have 3 ways of book presentation:
- in chapters
- as single file/whole book
- in chapters + single file/whole book

Thus this could be mapped to COUNTER R5 this way:
Access to Chapters (landing page + files) would belong to `Chapter items` (item metrics).
Access to Book landing page and files other than chapters would belong to `Book items` (item metrics).
Then there

[2021-11-22 05:32] Daxx367 opened #7466 "Review OJS/OMP/OPS readme and docs files"
**Describe the problem you would like to solve**
I recently had to update the version of OJS for a client. I was not the one who had installed OJS and I have never worked with it before.
Once I had updated the site using the docs found in the git repo all theming was broken so I reverted the site using a backup.
After some probing and checking the changes between the clients version and the same r

[2021-11-22 10:01] bozana commented on #2550
Is that new issue implementing scheduled tasks -- I thought only queues... ? For some tasks it would be important to be able to say when 'exactly' they should be executed... I think there is an issue that addresses that too... So maybe that issue would replace this one... I could try to find it...

[2021-11-22 10:23] bozana commented on #2550
Oh, I must be wrong... I think it is the issue I meant... :thinking:
Sorry

[2021-11-22 10:42] NateWr commented on #1692
It's up to the plugin developer (@ajnyga or his institution) to decide whether or not they want to add a plugin to the plugin gallery. Doing so brings with it the responsibility (or at least the expectation of responsibility) to maintain the plugin with future releases as they appear. That can be a significant commitment for an institution to make.

[2021-11-22 10:56] NateWr commented on #7400
@withanage yes I think that will be easiest. It will result in some file duplication, but the alternative will require some tricky handling of the thumbnail filename. Right now the application assumes the thumbnail is a different file with a specific filename.

[2021-11-22 11:11] consultbelieve commented on #6895
Hi @NateWr

I see #2676 was closed in favour of this, but I don't think they are the same thing - thought perhaps inter-related

2676 is about the necessity for a COUNTER compliant report available at institutional level about the usage of that institution.

This seems to be about detecting the institution by IP - which I guess is a step in the right direction, but in our case all relevant institu

[2021-11-22 11:18] NateWr commented on #6781
Thanks @bozana. This is really hard to get my head around, but it sounds complicated. I didn't fully understand the issue with `Section_Type`. Does this mean that COUNTER wants different statistics for monographs vs edited volumes? I think this will be difficult for us to deliver reliably. We can use the `workType` property to make a distinction, but some monographs are distributed with separate c

[2021-11-22 12:51] NateWr commented on #2169
Thanks for the data, @ajnyga! I think thosee are strong enough numbers to justify removing the required setting.

[2021-11-22 13:05] NateWr commented on #7439
Yes, I was just able to reproduce it from a clean install. I'm using postgres, so maybe that's the difference? I didn't use the test data, but after installing I did the following:

1. Created a press
2. Created a new submission while logged in as admin user.
3. During submission I created a second author, and assigned both authors to a chapter.
4. I skipped review and send it to copyediting.
5. P

[2021-11-22 13:07] NateWr commented on #2550
#4622 will refactor how scheduled tasks are run and executed. So I think it will replace both cron and acron.

[2021-11-22 13:12] NateWr commented on #6895
@consultbelieve, the institutional tracking that we are implementing will be in line with COUNTER R5. This issue covers the tracking of institutional stats. But you'll find more discussion on delivering the COUNTER R5 reports, including filtering by instutiton, at https://github.com/pkp/pkp-lib/issues/6781. Probably more than you ever wanted to read! :joy:

[2021-11-22 13:16] consultbelieve commented on #6895
Thanks @NateWr - that's perfect... Will make myself a cup of cocoa and have a read through that in front of the fire 😄

[2021-11-22 13:22] bozana commented on #6781
I have just spoken with @NateWr, so to summarize it here:
COUNTER R5, as far as have understood:
- does not require the statistics on the chapter level (for each chapter) -- it does not require the `IR` report,
- it needs a distinction (the `Section_Type` attribute above) if a book contains chapter statistics altogether/in total.
Thus we would keep the COUNTER DB tables on submission level and wou

[2021-11-22 14:00] NateWr commented on #6781
Just to clarify with an example, because this was confusing for me. Take the following metrics for a book and it's chapters:

Book: 5
Chapter 1: 5
Chapter 2: 5

The COUNTER report we return will have statistics that show 15 for the total book metric, 10 for the total chapter metric, and 5 for _only_ the book metric (ie - the book landing page and book-wide files, not including any requests to chap

[2021-11-22 14:07] bozana commented on #6895
Also this issue is closely related to it all: https://github.com/pkp/pkp-lib/issues/6782 :-D

[2021-11-22 15:10] elton557 commented on #6724
Hi, we managed to update our system, we are now with OJS version 3.3.0.8, I'm closing this issue, thanks for your support always.

[2021-11-22 15:10] #6724 closed

[2021-11-22 15:11] diegomejia071 commented on #7051
Hi @jonasraoni,

Is there any progress or a patch that I can apply to my installation, to solve this problem.

[2021-11-22 15:19] NateWr commented on #7463
PRs:
https://github.com/pkp/pkp-lib/pull/7467
https://github.com/pkp/ojs/pull/3231
https://github.com/pkp/omp/pull/1034
https://github.com/pkp/ops/pull/201

[2021-11-22 15:24] diegomejia071 commented on #6301
Hi @asmecher ,

I can create these indexes for my OJS 3.2.1.4 installation, since its loading is very slow when showing the back issues, when published and unpublished and when performing tasks in the shipments that in the version that had before updating they loaded normally.

[2021-11-22 15:35] NateWr commented on #7466
Hi @Daxx367, our Technical Committee has just published a [big guide on upgrading OJS/OMP/OPS](https://docs.pkp.sfu.ca/dev/upgrade-guide/en/). We should probably replace our in-app upgrade document with a link to this.

[2021-11-22 15:38] NateWr commented on #7466
After a quick look at what we've got in OJS, here are some changes we should make to the `.md` files distributed with OJS, OMP and OPS:

1. Refer to our technical documentation: docs.pkp.sfu.ca/dev
2. Change "using Git development source" to a link to the getting started section of our technical documentation
3. Change "running tests" to a link to our testing docs
4. Remove outdated files in the d

[2021-11-22 15:46] #2695 closed

[2021-11-22 15:48] NateWr commented on #2719
I think this issue will be obsolete once #6062 is finished.

[2021-11-22 15:48] #2719 closed

[2021-11-22 15:49] NateWr commented on #2765
The ability to open metadata for editing by the author has been added. If a further invitation or task is desired, I think this can be filed as a new issue.

[2021-11-22 15:49] #2765 closed

[2021-11-22 15:50] NateWr commented on #2766
@asmecher is it time to remove all but `mysqli` and `postgres9` from this list? https://github.com/pkp/pkp-lib/blob/main/classes/install/form/InstallForm.inc.php#L82-L95

[2021-11-22 15:52] NateWr commented on #2774
Closing due to lack of interest.

[2021-11-22 15:52] #2774 closed

[2021-11-22 15:54] NateWr commented on #2787
An RoR plugin exists for those that want to use it. And I think we will judge if/when to bring support into core based on the plugin's adoption. Ongoing work can be found at https://github.com/pkp/pkp-lib/issues/6686.

[2021-11-22 15:54] #2787 closed

[2021-11-22 15:56] NateWr commented on #2791
Closing this in favor of a long-term fix that adopts fields from the UI Library for the review form: https://github.com/pkp/pkp-lib/issues/3971

[2021-11-22 15:56] #2791 closed

[2021-11-22 15:58] NateWr commented on #2798
This is a perfectly sensible recommendation. But as Alec said we are tied with our current routing system. We will change this some day, but it will likely be a 4.0 kind of application rebuild. I'm going to close this issue as out-of-scope for now.

[2021-11-22 15:58] #2798 closed

[2021-11-22 16:26] asmecher commented on #6724
Thanks, @elton557, and congratulations!

[2021-11-22 16:28] jonasraoni commented on #7051
Hi @diegomejia071!

I've assigned myself to several performance related items (https://github.com/pkp/pkp-lib/projects/22#card-69280527), the items `in progress` already have PRs, so I'll probably start working on this and its sibling (https://github.com/pkp/pkp-lib/issues/6511) soon.

If you happen to address it locally, feel free to send us a PR! :)

[2021-11-22 16:28] asmecher commented on #2766
If it's OK with you I'd like to leave this until we're able to remove ADODB; at that point we can get rid of the `mysql` vs. `mysqli` distinction, strip out a bunch of compatibility code, and generally clean up this aspect, since we'll only be dealing with Laravel-based connections from that point.

[2021-11-22 16:53] henriqueramos commented on #4622
@asmecher

I've updated the PRs with some changes. Could you please take a look?

[ojs](https://github.com/pkp/ojs/pull/3132)
[pkp-lib](https://github.com/pkp/pkp-lib/pull/7049)
[ops](https://github.com/pkp/ops/pull/196)
[omp](https://github.com/pkp/omp/pull/1031)

[2021-11-22 17:35] NateWr commented on #2766
In that case I'll close this and let the problem sort itself out with the ADODB removal.

[2021-11-22 17:35] #2766 closed

[2021-11-22 17:39] NateWr commented on #7463
All merged.

[2021-11-22 17:39] #7463 closed

[2021-11-22 17:56] alexxxmendonca opened #7468 "[OPS] Ability to flag submissions made by journals"
**Describe the problem you would like to solve**
One of the uses of a preprint server is the possibility of journals using it as a way to advance publication of its accepted manuscripts. As it is known, it takes time between acceptance, production and actual publication and one alternative is to publish the accepted version as a preprint.

SciELO journals are welcomed to do so on our server, SciEL

[2021-11-22 20:06] henriqueramos commented on #4622
@Vitaliy-1

Could you please check those pull requests?

[ojs](https://github.com/pkp/ojs/pull/3132)
[pkp-lib](https://github.com/pkp/pkp-lib/pull/7049)
[ops](https://github.com/pkp/ops/pull/196)
[omp](https://github.com/pkp/omp/pull/1031)

[2021-11-22 20:38] twakeford commented on #2687
FYI - we have had a lot of requests for a function to log revision due dates and have reminder emails sent. One addition to the above is that we're often asked for a reminder email to be sent _before_ the due date, so that the author then gets kicked into action beforehand. Editors often point out that waiting until the due date has passed means that revisions are still going to be late, whilst a

[2021-11-22 20:45] tmrozewski-york opened #7469 "Announcements tool does not send email"
**Describe the bug**
The announcements tool does not send email to all registered users, even when the required checkbox is selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Announcements
2. Click Add Announcement
3. Populate Add Announcement form
4. Click "Send an email about this to all registered users."
5. Click "Save"

**What application are you using?**
 OJS 3.3.0.8

**Ad

[2021-11-22 20:47] asmecher commented on #7469
@tmrozewski-york, can you set a title for this entry?

[2021-11-22 20:53] asmecher commented on #6301
@diegomejia071, I'm not sure I'm following your last comment. Were you able to add the indexes for your 3.2.1-4 installation? Did they improve the behaviour?

[2021-11-22 21:00] tmrozewski-york commented on #7469
Whoops, thanks! Fixed.

[2021-11-22 22:29] asmecher commented on #6301
@diegomejia071, I think that `Duplicate key name` message simply means that the indexes already exist.

[2021-11-22 22:37] diegomejia071 commented on #6301
Hi @asmecher,

I understand that the indexes are duplicated, but then why does it keep taking so long. As I mention it here.

https://forum.pkp.sfu.ca/t/ojs-3-2-1-4-published-and-unpublished-stay-loading-too-long/70737

[2021-11-22 22:40] asmecher commented on #6301
That is unrelated to this issue, I think.

[2021-11-22 23:19] diegomejia071 commented on #6301
Hi @asmecher,

And I have several loading problems of different aspects in the ojs, such as publishing and unpublishing since it takes a long time, to review the back issues is the same, so I do not know what can cause this.

[2021-11-23 05:16] asmecher commented on #6301
Stay tuned and someone will follow up to your forum post.

[2021-11-23 11:55] NateWr commented on #7468
I suspect this is going to be a low-priority issue that doesn't ever get implemented. Have you considered looking at the submitting author (not the contributors, but the registered user who made the submission)? I suspect this will help you identify such submissions pretty quickly.

[2021-11-23 12:00] alexxxmendonca commented on #7468
_Have you considered looking at the submitting author (not the contributors, but the registered user who made the submission)? I suspect this will help you identify such submissions pretty quickly._

Yes, this is how we have been doing it. But there is no standard for names (basically anyone can register themselves using the name they want). Even though we give them gidelines, they are not always

[2021-11-23 12:03] NateWr commented on #7469
Looks like the following code was missed when announcements move to the REST API:

https://github.com/pkp/pkp-lib/blob/stable-3_2_1/controllers/grid/announcements/form/AnnouncementForm.inc.php#L188-L203

This should be added to the `PKPAnnouncementHandler::add()` method.

[2021-11-23 12:05] NateWr commented on #7468
Have you tried filtering the data set for submitting author usernames who have submitted more than X submissions? That might help identify them.

Unless the deposit is happening automatically from the journals there's no way to track this other than self-reporting, which would introduce errors anyway. You might even be more accurate deriving the information from the existing data rather than tryin

[2021-11-23 12:07] alexxxmendonca commented on #7468
It might not be the best solution the one I am proposing, but there is a need for identifying submissions made by journals and not by authors.

[2021-11-23 12:15] #2849 closed

[2021-11-23 12:15] #2857 closed

[2021-11-23 12:19] Vitaliy-1 commented on #7469
I think it's a similar issue to: https://github.com/pkp/pkp-lib/issues/7213

[2021-11-23 12:22] NateWr commented on #2890
This is related to https://github.com/pkp/pkp-lib/issues/3585.

[2021-11-23 12:23] NateWr commented on #7469
You're right. Closing this in favor of #7213.

[2021-11-23 12:23] #7469 closed

[2021-11-23 15:32] NateWr commented on #5730
@defstat, @Vitaliy-1 and I have divided up the emails in the document above so we'll each take:

Dmitris: `SUBMISSION_ACK`, `SUBMISSION_ACK_NOT_USER`, `COPYEDIT_REQUEST`, `LAYOUT_REQUEST`
Vitaliy: All review assignments emails such as `REVIEW_REQUEST_*`, `REVIEW_REMIND_*` and `REVIEW_REINSTATE`
Nate: All editorial decision emails such as `EDITOR_DECISION_*`.

[2021-11-23 17:01] jnugent opened #7470 "Fair Copy files not migrated when upgrading from OJS 2 to 3"
**Describe the bug**
If an installation is upgraded from OJS2, there's a good chance that submissions contain fairCopy files, which had an old file stage of 7.  This file stage is no longer used in OJS3, but these files stay in the database.  If an article that has these files is exported, it fails validation because there is no SUBMISSION_FILE_FAIR_COPY constant and corresponding map entry in get

[2021-11-23 17:37] ewhanson opened #7471 "Upgrade optimizations: submission locales, submission event logs, delete old revisions"
Issue to collect optimization PRs that came out of #6724.

[2021-11-23 17:41] ewhanson commented on #7471
@asmecher, could you have a look at these PRs?

They came out of the upgrade issues Elton was having outlined in #6724. Since then I caught another small bug where the upgrade helper function `_fileStageToPath()` was not correctly being called and completed testing with both mysql and postgres9. Thanks!

PRs:
main: #7178
stable-3_3_0: #7179

[2021-11-23 18:17] jonasraoni commented on #7167
@asmecher Follow more two PRs for 3.3.0:
The idea is just to act as a fast-fix to stop increasing the amount of affected users out there.
Anyway, I don't think it's worth to update the code to insert nulls instead of zeroes, as the next upgrade (3.4) will get rid of the `assoc_id`/`assoc_type`.

Then I think I don't have anything else to update in this issue.

https://github.com/pkp/ojs/pull/3232

[2021-11-23 18:50] asmecher commented on #7471
Thanks, @ewhanson, I hadn't forgotten those -- I'm still pondering which to merge and whether to leave others as patches for users to apply if they run into upgrade problems. But it's helpful to have them gathered here. Where is the `_fileStageToPath` problem? I don't see it in the PRs at a glance.

[2021-11-23 19:10] ewhanson commented on #7471
Sorry if I doubled up on issues for this. I've been working through a backlog of PRs I needed to test with Postgres and lost track of things a bit.

This should have included OJS PRs as well. I had initially thought everything was included within pkp-lib. The `_fileStageToPath` issue is in the OJS repo in `Upgrade.inc.php`. Thanks!

Additional PRs:
OJS main: #3233
OJS stable-3_3_0: #3234

[2021-11-23 21:12] tmrozewski-york commented on #7469
My IT head says: "It looks like the patch is for OJS 3.2. Could you ask them for 3.3.0.8 patch please?"

[2021-11-23 21:14] tmrozewski-york commented on #7469
Please disregard last comment, we both spoke too soon.

[2021-11-23 23:26] asmecher commented on #7167
^ Merged the latest two PRs for 3.3.0, thanks!

[2021-11-23 23:32] asmecher commented on #6112
Thanks, @jonasraoni, I've merged the two `main` branch PRs above: https://github.com/pkp/pkp-lib/issues/6112#issuecomment-968274000

Are the `stable-3_3_0` PRs [listed above](https://github.com/pkp/pkp-lib/issues/6112#issuecomment-962509511) synchronized with this code? If so, are they ready for another look?

[2021-11-23 23:51] librariam opened #7473 "Discussion notification leads to the current workflow stage, not to the stage where the discussion thread is"
**Describe the bug**
When a discussion participant clicks on a notification that a conversation thread has been added to in OJS, they are taken to the most recent stage of the workflow, NOT to the thread from which the notification originated. For example, if there is a notification from a "Pre-Review Discussion" under the Submission Tab, when clicking the notification it actually takes you to "Ro

[2021-11-24 09:45] NateWr opened #7474 "WMV files are downloaded as ASX files in Firefox"
**Describe the bug**
When downloading a WMV file such as `example.wmv`, the Firefox download prompt will name the file`example.asf`. This does not happen in Chrome, where the file's name is shown as `example.wmv`.

I've figured out what is happening but I'm not sure how to address it.

When `example.wmv` is uploaded, the mimetype is being recorded as `video/x-ms-asf` in the `files` table. This is

[2021-11-24 10:13] jonasraoni commented on #7474
There's some extra details here: https://bugzilla.mozilla.org/show_bug.cgi?id=1688306

Looks like it's not going to be changed 😁
So we'll have to ensure the mime-type is a perfect fit for its extension or perhaps send an extensionless content-type `application/octet-stream` if the action is related to a download button 🤔

[2021-11-24 10:36] NateWr opened #7475 "Issue table of contents has extra margins on homepage"
**Describe the bug**
When an issue table of contents appears on the homepage, there is extra space between the section heading and the articles. This was introduced with a fix for https://github.com/pkp/pkp-lib/issues/4930. The extra space only appears on the homepage, not on the issue table of contents.

**To Reproduce**
Steps to reproduce the behavior:
1. See the [demo site](https://demo.publick

[2021-11-24 10:38] NateWr commented on #7475
PR:
https://github.com/pkp/ojs/pull/3235 (stable-3_3_0)

[2021-11-24 10:57] NateWr commented on #7474
Good find @jonasraoni! I've added a comment there because it seems to me like Firefox has already written some exceptions to the rule and this is a good candidate for an exception, since `video/x-ms-asf` is a valid mimetype for `.wma` and `.wmv` files.

I think we'll have the same problem here, but in Chrome as well, because according to a comment on that mozilla bug report Chrome uses the mimetyp

[2021-11-24 11:08] henriqueramos commented on #7474
We could create some filter to change the mimetype response when detected a call from Firefox.

Here it's the [mime type list](https://searchfox.org/mozilla-central/source/third_party/rust/mime_guess/src/mime_types.rs#86) used by Firefox to choose a file extension.

If you send the mime type as`video/x-ms-wmv` the file extension will be the correct one, as see [here](https://searchfox.org/mozilla-

[2021-11-24 11:13] NateWr commented on #7475
Merged to `stable-3_3_0` and cherry-picked to `main`.

[2021-11-24 11:13] #7475 closed

[2021-11-24 11:51] jonasraoni commented on #7474
What problem? If we send `Content-type: application/octet-stream` for all files (that are not going to be `$inline`d), I think it should work ok, even though it's not beautiful 🤔

[2021-11-24 12:32] NateWr commented on #7258
@Vitaliy-1 here are some PRs to handle this. Can you take a look and let me know what you think? Here are the key parts.

When a mailable is created, the `PKP\mail\Variable` objects are stored in the mailable:

https://github.com/pkp/pkp-lib/pull/7476/files#diff-879db820d1028315db1fda7368be897c3e3acfa0cac69c703df33ba6744a63c7R216-R228

The values are compiled right before the mailable is sent:

ht

[2021-11-24 12:44] NateWr commented on #7474
I try to avoid browser sniffing if at all possible because it hasn't historically been very reliable. Handling this mimetype specially on our end may be the only way to fix this, but I'd much rather leave it to Firefox to handle. Exceptions like this lead to a cluttered and stale codebase over time.

I would be nervous about delivering an inaccurate mime type header. Although we do `inline` in som

[2021-11-24 12:48] NateWr commented on #7474
Oh, I've already received a reply on the Mozilla bug, and it looks like this may be  a more recent regression that will be fixed: https://bugzilla.mozilla.org/show_bug.cgi?id=1734606. :crossed_fingers:

[2021-11-24 12:56] jnugent commented on #7470
Hi @NateWr  We've actually been grappling with this recently, and have had a few discussions internally about where to put them. @ewhanson and I have been thinking that maybe moving them to SUBMISSION_FILE_FINAL is a possibility. They get completely lost in the upgrade process otherwise, even though they continue to exist in the files directory and in the database.  OJS2 doesn't create the necessa

[2021-11-24 13:00] jonasraoni commented on #7167
@asmecher I just created the OJS PR to run the tests, should I open PRs to update the submodule in OPS/OMP or you'll do it? =]

[2021-11-24 13:11] NateWr commented on #7473
Just dropping some notes in here on what needs to be changed. The URL is generated by `QueryNotificationManager`:

https://github.com/pkp/pkp-lib/blob/main/classes/notification/managerDelegate/QueryNotificationManager.inc.php#L110

It uses the `getWorkflowUrlByUserRoles` method:

https://github.com/pkp/pkp-lib/blob/main/classes/submission/Repository.inc.php#L147

However, this is used in many othe

[2021-11-24 15:18] jnugent commented on #6122
Hi @asmecher I think I found another bug in the plugin.  This line here:

https://github.com/pkp/ojs/blob/main/plugins/generic/recommendBySimilarity/RecommendBySimilarityPlugin.inc.php#L89

Creates that array but uses a null value as an array key.  We couldn't get this plugin to return any search results in OJS 3.2 and I looked at what the SearchHandler was getting back here:

https://github.com/p

[2021-11-24 15:42] NateWr commented on #7474
@ctgraham reminded us that we already have some mimetype mapping in place:

https://github.com/pkp/pkp-lib/blob/da52e6aa2973d0395674257aacc74effab8584d3/classes/core/PKPString.inc.php#L394-L414

Extending this with the following might do the trick:

[code]

I'd like to see if there is any movement on Firefox's end before committing to this customized mimetype mapping though.

[2021-11-24 16:37] tmrozewski-york commented on #7442
@bozana I spoke with CrossRef support and they said there's nothing wrong on their end to do with this.

@NateWr do you still want me to do this? Your response fell through the cracks in the past few weeks, my apologies.

[2021-11-24 18:54] jonasraoni commented on #6112
@asmecher I've synchronized the changes.

[2021-11-24 19:38] tmrozewski-york commented on #7469
Hi @Vitaliy-1 and @NateWr my IT team implemented the fix described in #7213 in 3.3.0.8 and found that the problem is not resolved.

When I repeated the steps described in the original post, no email was sent. In addition, when I tried to add a new announcement, I clicked Save and got an error saying "An unexpected error has occurred. Please reload the page and try again." The announcement itself w

[2021-11-24 20:45] jnugent commented on #3899
Hi @asmecher  just bumping this again since it remains a problem for some of our clients upgrading to OJS3 and being unaware that this causes problems.

[2021-11-24 21:04] pmangahis commented on #7300
This is also appearing on fresh 3.2 installs (3.2.1.1) as well.

[2021-11-24 21:26] asmecher commented on #7469
@tmrozewski-york, there is no completed patch for 3.3.0-x yet; watch https://github.com/pkp/pkp-lib/issues/7213 for a patch to be posted with directions. I'm not sure which patch your IT support applied, but it's probably not right.

[2021-11-24 22:38] eczheng commented on #7150
Unfortunately, the nature of this problem makes it very difficult to replicate. We have seen at least 2 more cases of this happening, but only once it has already happened. It seems to affect all types of notes in discussions, though.

[2021-11-24 22:54] mfelczak commented on #3899
I think we can apply a similar approach to what's currently in place for journal sections: check if there are any submission files with the genre id in question, report this to the JM, and block deletion of the genre id. If there are no submission files with the genre id, the genre can be deleted.

[2021-11-24 23:31] asmecher commented on #7150
@eczheng, could you apply the changes linked above (https://github.com/pkp/pkp-lib/pull/7151) to your installation and run them for a while? If you previously had occasional cases and they stop, it won't prove that the proposed changes resolve the issue, but it'll help.

[2021-11-25 00:22] ewhanson opened #7477 "Author localization in CitationStyleLanguagePlugin different from other elements in multilingual settings"
**Describe the bug**
In a multilingual settings, the author given and family names can be out of sync with the rest of the citation elements (e.g. article title, journal title). This is visible when the locales use different scripts (e.g. English and Arabic).

For publication data like the title, the fallback when no preferred locale is provided in `getLocalizedData` is to next try and use the use

[2021-11-25 00:37] ewhanson commented on #7477
Hi @asmecher, this is an issue that came up with a hosting client. Could you have a look at these PRs and see if this fix makes sense? This only seems to come up in rare circumstances in the CitationStyleLanguage plugin and not more broadly. Thanks!

PRs:
`main`: pkp/citationStyleLanguage#85
`stable-3_3_0`: pkp/citationStyleLanguage#86

[2021-11-25 01:39] asmecher commented on #7477
@ewhanson, it looks at a glance like something might not be working as expected in the `Identity` class based on what you've described. The current locale (`AppLocale::getLocale`) should already be preferred to the default locale; see https://github.com/pkp/pkp-lib/blob/stable-3_3_0/classes/identity/Identity.inc.php#L149.

[2021-11-25 01:48] ewhanson commented on #7477
Thanks @asmecher. Based on that, it looks like it's only a problem in `stable-3_2_1` and has since been fixed. Would it be worthwhile for me to create a PR for addressing that against `stable-3_2_1` or is it better to leave it be.

[2021-11-25 10:34] NateWr commented on #7442
Yes, if you can recover the full error message that will be necessary to move forward on this.

There may be nothing wrong on their end, but we will still need an explanation from them regarding the error message in [this comment](https://github.com/pkp/pkp-lib/issues/7442#issuecomment-966149686).

[2021-11-25 10:34] withanage commented on #7400
@NateWr

I added the svg copying to the thumbnail creation function. Seemed to me adding to the [addPublicaiton](https://github.com/pkp/omp/blob/stable-3_3_0/classes/services/PublicationService.inc.php#L163)  and [editPublication](https://github.com/pkp/omp/blob/stable-3_3_0/classes/services/PublicationService.inc.php#L223) would mean more code-duplication. But logically , if it seems better to ha

[2021-11-25 10:37] bozana commented on #7318
Hi @NateWr,
I will try to summarize some other requirements, from plugins, on our stats services, that makes it easier for me to use the generic getMetrics function, and that we would eventually like to consider in our "Inventory":

COUNTER R4 plugin (current/existing plugin) requires:
- yearly downloads/requests (i.e. assoc_type = submission file, NOT supp file) for a journal ordered by year
- mo

[2021-11-25 10:44] NateWr commented on #7477
@ewhanson I think we'd be happy to merge a change to `stable-3_2-1` that brought `Identity::getLocalizedFamilyName()` in line with `stable-3_3_0`.

[2021-11-25 10:59] NateWr commented on #7400
This looks great, and very clean. Thanks @withanage! In the pkp-lib pull request, you have added support for `.webp`. Should `.svg` be added here too?

Finally, can you add the submodule commit to OMP so the tests will run against the correct copy of pkp-lib?

[2021-11-25 13:11] NateWr commented on #7318
@bozana and I completed an exercise to try to understand all of the requirements for statistics reports. The results of that exercise can be seen here: https://pkp.notion.site/d3078b32275d4b8a98fe65d5b77d125e?v=188ebb82537c4b8997ddb82f86193477

[2021-11-25 14:39] withanage commented on #7400
Thanks @NateWr

OIh,  I missed that., thanks.  I have updated the PR  with the additions to image file validation for svg. In FileManager svg is already present.

I added the submodule update and triggered the  tests.

[2021-11-25 14:57] NateWr commented on #7400
Thanks @withanage! I've merged those PRs and applied the changes to `main` at https://github.com/pkp/pkp-lib/commits/main and https://github.com/pkp/omp/commit/034c8095a16c2c11f95b8dd3014ef3bab1f7d252. Can you just look at those two commits quickly to double-check my work?

[2021-11-25 14:57] #7400 closed

[2021-11-25 15:23] jmvezic commented on #3561
+1 for this feature request. This would be a huge help to existing journals transitioning to OJS, who have a large backlog of articles they wish to include in OJS. E-mail wasn't always as prevalent as it is today in the article metadata (in a lot of systems it is still optional).

As it stands right now (with stock OJS), if you wish to include a large number of existing articles that have authors

[2021-11-25 15:38] fgnievinski commented on #3561
@jmvezic have you tried the existing [Author Requirements plugin](https://github.com/pkp/pkp-lib/issues/3561#issuecomment-551204880) in conjunction with either [Using the Web-based Expedited Submission Process to Add Articles Quickly](https://docs.pkp.sfu.ca/importing-exporting/en/#using-the-web-based-expedited-submission-process-to-add-articles-quickly) or [Using the Quick Submit Plugin](https://

[2021-11-25 16:21] withanage commented on #7284
@asmecher
apologies, this one went unnoticed by me.  I  tested this  workflow on  OMP 3.3.0-8  and can confirm  the  problem is fixed.

[2021-11-25 16:34] #7284 closed

[2021-11-25 16:53] NateWr opened #7479 "User::getContactSignature() should be removed"
**Describe the problem you would like to solve**
When an email template supports an `{$editorialContactSignature}` it uses the `User::getContactSignature()`. This uses `User::getSignature()` or, if the user hasn't defined a signature, derives an automated signature from the user details.

The automated signature includes some questionable fields (phone) and misses out other useful ones (like their

[2021-11-25 17:00] ewhanson commented on #7477
Hi @NateWr, here's the PR that updates it and the corresponding OJS submodule PR. Thanks.

PRs:
#7478
pkp/ojs#3237

[2021-11-25 19:47] mfelczak commented on #7470
In OJS 2 these look to be files that have undergone corrections and updates following submission acceptance so migrating them as SUBMISSION_FILE_FINAL makes sense to me. In OJS 3 they would then appear as files in the copyediting stage.

[2021-11-25 23:46] ewhanson commented on #3899
Hi @asmecher, could you have a look at these PRs? They implement the same pattern used when attempting to delete journal sections as @mfelczak described above. Thanks!

PRs:
`main`: #7480
`stable-3_3_0`: #7481
`stable-3_2_1`: #7482

[2021-11-26 08:30] forgive38 commented on #3525
Hello

Regarding the problem of sending emails in the right language, maybe the smartest and easiest way is to send emails by concatenating different languages in one email.

For example:

if French is the primary locale and English is selected too, the email will be composed with the 2 languages separated by a line .....

French template
------
English template

[2021-11-26 12:58] asmecher commented on #3899
@ewhanson, I'd like to avoid the proliferation of single-use-case SQL queries -- once #7125 is merged, it'll be possible to use the filterByGenreIds function on the submission file collector, and call `->count` on the result. So if you like, we could go with the `3_3_0` and `3_2_1` PRs you've provided, but wait until #7125 for `main` and avoid the new function. Does that sound OK? (Normally I woul

[2021-11-26 13:07] asmecher commented on #7284
Thanks, both!

[2021-11-26 13:13] asmecher commented on #7477
@ewhanson, I've merged those, thanks. Generally I don't think we should be porting non-critical fixes back this far, but if you're needing to do it for the hosting group, then we can make exceptions.

[2021-11-26 13:13] #7477 closed

[2021-11-26 13:14] jnugent opened #7484 "DOAJ plugin should use v3 of the API"
**Describe the bug**
The current DOAJ plugin bundled with OJS 3.3.0.8 is using V2 of the DOAJ API.   Version 3 of the API was released in October:

https://doaj.org/api/docs

There are redirects in place which keep V2 working for now.

[2021-11-26 14:23] bozana commented on #1502
It seems this particular issue was solved, now the submission list is gotten differently, s. https://github.com/pkp/ojs/blob/stable-3_3_0/plugins/reports/articles/ArticleReportPlugin.inc.php#L88. thus, all articles should be listed/considered...
However there is still an issue with languages and metadata displayed in the report. For that I will open a new issue.
Closing this one...

[2021-11-26 14:23] #1502 closed

[2021-11-26 14:26] bozana opened #7485 "ArticleReportPlugin shows metadata in the submission's locale instead of the current locale"
**Describe the problem you would like to solve**

**Describe the solution you'd like**
All article metadata, like keywords, should be shown in the user's current locale.

**Additional information**
See report in the forum: https://forum.pkp.sfu.ca/t/articles-reports-is-not-showing-keywords-on-additional-languages/70752/2

See an example of metadata that only considers the article locale: https://g

[2021-11-26 16:09] amandastevens commented on #7074
+1 from a PKP PS client

[2021-11-26 16:33] ewhanson commented on #3899
@asmecher, that sounds great. I'll keep an eye on #7125 and update this once its merged. And yes, the backport to `stable-3_2_1` was specifically for hosting. Thanks!

[2021-11-26 16:47] amandastevens opened #7486 "Allow editors other than the assigned editor to confirm a review and thank the reviewer"
After a review has been submitted in OJS 3.X, a link appears to "Read Review."  After the assigned editor reads the review they can click "Confirm" and then the "Read Review" link is replaced with a link to "Thank Reviewer."  However, if another editor or journal manager who is not the assigned editor reads the review and clicks "Confirm," OJS does not consider the review as having been read and t

[2021-11-26 17:00] alexxxmendonca commented on #7486
This makes a lot of sense. Sometimes an executive editor or someone from the editorial team with an editor role would like to thank the reviewer and move things forward but is unabled to because only the assigned editor has this capability.

+1 for SciELO.

[2021-11-26 18:35] elfring opened #7487 "Increase the usage of expressions with combined operators"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of combined operators](https://www.php.net/manual/en/language.operators.assignment.php#language.operators.assignment.arithmetic "Description for assignment operators") accordingly.

Would you like to integrate anything from a transformation res

[2021-11-26 20:25] amandastevens commented on #4540
I had a request from a hosted client for both a tool to clear multiple incomplete submissions at once and a separate list of incomplete submissions, separate from the archive.

[2021-11-26 22:18] asmecher commented on #3899
Great I've merged the two stable branch PRs, and will leave this issue open and scheduled against 3.4.0 for the rest.

[2021-11-26 22:25] asmecher commented on #6112
Thanks, @jonasraoni! These are definitely more profound changes than we should be merging into a stable branch -- but I'll make an exception this time.

[2021-11-27 09:20] jonasraoni commented on #6112
Totally agree! Better to avoid touching the sleeping dragon :)

[2021-11-29 10:17] NateWr commented on #7470
Ok thanks. We don't do database migrations in a 3.x.x.x release, so the next possible candidate for this migration is 3.4 (the `main` branch). Is someone from PS able to provide a PR with this migration?

You should be able to backport the PR for your specific client without too much hassle, though the constants will have changed from `SUBMISSION_FILE_FAIR_COPY` to `SubmissionFile::SUBMISSION_FILE

[2021-11-29 10:21] gabriele-h commented on #6432
For us the issue was caused by *missing* entries in the database, not superfluous ones. Removing missing entries might have you end up with no text at all, I'm afraid.

[2021-11-29 10:48] NateWr commented on #7486
:exploding_head: Now I finally understand why I've never been able to get the "Thank Reviewer" option to show up!

I had a look at the code and it looks to me like the original intention was related to recommending editors. So the idea is that a review can't be confirmed by a recommending editor. But a side effect (ie - bug) is that it also means that a journal manager can not confirm a review eit

[2021-11-29 10:55] NateWr commented on #7486
Ah, I was looking at the wrong code. It looks like the code checks for a record that someone assigned to the submission has read it. So in this case, the system correctly records the view by the unassigned editor. But the code doesn't pick up on this when it checks if the review has been read.

I don't think this is intentional, so I'll still classify it as a bug. But it's a little bit more compli

[2021-11-29 11:07] NateWr commented on #7486
@asmecher I've tracked this down to an issue with how the `ViewsDAO` works. When someone views a review response, a view is recorded for that user. We then check for views by assigned users to determine if the `ReviewAssignment` has been read. This misses out reads by users who are not assigned (ie - Journal Managers).

We can create a `ViewsDAO::getLastEditorViewDate()` method to address this. Ho

[2021-11-29 11:19] NateWr commented on #2979
This form was replaced in OJS 3.2 with the new publication forms and the image upload no longer appears.

[2021-11-29 11:19] #2979 closed

[2021-11-29 11:24] NateWr commented on #3014
This was implemented as part of https://github.com/pkp/pkp-lib/issues/3594. The API now returns `403` with an authorization failure.

[2021-11-29 11:24] #3014 closed

[2021-11-29 11:26] NateWr commented on #3017
Closing because we have not seen significant interest in this.

[2021-11-29 11:26] #3017 closed

[2021-11-29 11:27] NateWr commented on #3058
Closing as low priority.

[2021-11-29 11:27] #3058 closed

[2021-11-29 11:36] NateWr commented on #3109
It is now possible for an author to access the preview of a submission.

[2021-11-29 11:36] #3109 closed

[2021-11-29 11:37] NateWr commented on #3110
This has been fixed in more recent versions.

[2021-11-29 11:37] #3110 closed

[2021-11-29 11:39] NateWr commented on #3119
Closing this as outdated, but please open a new issue if there are still multilingual issues with the data OJS distributes to DOAJ.

[2021-11-29 11:39] #3119 closed

[2021-11-29 11:42] NateWr commented on #3129
Support for theme-specified galley styles was added in https://github.com/pkp/pkp-lib/issues/3691 but has not yet been documented. See https://github.com/pkp/pkp-docs/issues/156.

[2021-11-29 11:42] #3129 closed

[2021-11-29 11:43] NateWr commented on #3133
Closing for lack of interest.

[2021-11-29 11:43] #3133 closed

[2021-11-29 11:48] NateWr commented on #3149
Closing as outdated.

[2021-11-29 11:48] #3149 closed

[2021-11-29 11:48] NateWr commented on #3164
Closing for lack of interest but we'd be happy to have a PR that supported this.

[2021-11-29 11:48] #3164 closed

[2021-11-29 11:51] NateWr commented on #3176
The request to allow users to browse by announcement types is filed at https://github.com/pkp/pkp-lib/issues/2222. The other suggestions here regarding announcement dates would be better implemented through custom pages rather than announcements.

Closing this for now, but please open a new issue if there is a specific feature that you'd like to discuss.

[2021-11-29 11:51] #3176 closed

[2021-11-29 11:53] NateWr commented on #3181
Closing this as outdated.

[2021-11-29 11:53] #3181 closed

[2021-11-29 12:23] NateWr commented on #4172
I have updated the original issue description to reflect improvements we have scheduled for 3.5. Please review the description and mockups above to see if the reflect your need.

Improvements related to filtering submissions will be filed separately.

[2021-11-29 12:29] bozana commented on #6781
Hi all, above all @NateWr and @ctgraham :-)
We will implement the SUSHI API in the core, not as a plugin. The namespace would be `stats/sushi/`.
The API always requires `customer_id` parameter/filter. This would be our `institution_id`, as we said, and in that case we would provide the stats for that institution.
But what about when the report request is 'globally scoped' (e.g. for OA stats)? What

[2021-11-29 12:36] NateWr opened #7488 "Add filters to track submissions within the review stage"
**Describe the problem you would like to solve**
Currently, the editor can not identify from the submissions list whether a submission in the review stage is waiting for the editor to do something, waiting for reviewers to take action, or waiting for the author to take action. As a result, editors have to jump in and out of the submission's full editorial workflow page in order to track submission

[2021-11-29 12:38] NateWr commented on #4103
Thanks everyone for the discussions and brainstorming on this issue. I think we have settled on good filters to add, and we have scheduled work on this for 3.5. To keep the issue's clean and easy to read, I have filed a new issue at https://github.com/pkp/pkp-lib/issues/7488. I'm closing this issue in favour of that one. Please take a look and add any comments there.

[2021-11-29 12:38] #4103 closed

[2021-11-29 12:51] twakeford commented on #4172
@NateWr this looks v promising. From a quick review I just had the below questions/points:

1 - re
- Red = overdue
- Red outline = recently overdue

I'm not sure that having two options is required. If something is overdue then it is overdue. The number clearly informs the editor on how overdue it is and whether they should act or give a bit of leeway = having only 1 'overdue' option may help to s

[2021-11-29 14:09] NateWr commented on #4101
I believe the suggestions here are now captured in other issues, especially the review stage filters which are at https://github.com/pkp/pkp-lib/issues/7488. Thanks to everyone for the discussion on this topic. I'm going to close this in favor of the other issues.

[2021-11-29 14:09] #4101 closed

[2021-11-29 14:18] NateWr opened #7489 "Add filter to see submissions overdue by X days"
**Describe the problem you would like to solve**
A managing editor wants to know when an editor is neglecting a submission that is ready for some editorial action. They want to be able to identify submissions that have been waiting for an editor to act.

**Describe the solution you'd like**
Add a filter to the active submissions list that allows a managing editor to see submissions that have been

[2021-11-29 14:21] NateWr commented on #3397
I believe that the user's aim (to track submissions languishing in the workflow) is supported by the last activity filter added in #4168.

[2021-11-29 14:21] #3397 closed

[2021-11-29 14:22] NateWr commented on #2612
I believe all of the filters identified here have been implemented or file separately now. Closing this in favor of those issues. If you want to track issues related to submission discovery and tracking, see this project:

https://github.com/pkp/pkp-lib/projects/8

[2021-11-29 14:22] #2612 closed

[2021-11-29 14:22] twakeford commented on #4172
interesting - our editors are the opposite, they want to chase immediately! (long-term, we actually want to add auto emails that will send to a reviewer _before_ the due date as a pre-chase/reminder that the deadline is fast approaching)

[2021-11-29 14:36] NateWr opened #7490 "Allow editors and editorial assistants to be assigned from the submissions list"
**Describe the problem you would like to solve**
Managing editors frequently review new submissions and assign an editor. Or they identify submissions at certain stages of the editorial process, like copyediting and production, and assign editorial assistants. To do this, they must open the full submission workflow for each submission. This can be time-consuming when the managing editor is handlin

[2021-11-29 14:41] NateWr opened #7491 "Allow editors to assign reviewers from the submissions list"
**Describe the problem you would like to solve**
During the peer review process, editors must frequently identify review requests that have been declined or ignored and assign replacement reviewers. This process can be tedious because the editor must go to the submission's full workflow in order to view and assign reviewers.

**Describe the solution you'd like**
Allow editors to assign reviewers f

[2021-11-29 14:46] NateWr opened #7492 "Allow editors to decline submissions from the submissions list"
**Describe the problem you would like to solve**
Some journals, presses and preprint servers receive a large number of submissions that they must decline or remove. These may be very low quality, duplicate submissions, or spam. Managing editors must go into the submission workflow for each submission to record a decline decision. And this must be completed before the submission can be removed.

**

[2021-11-29 14:48] NateWr commented on #2887
The items from this issue have now been filed in separate issues at https://github.com/pkp/pkp-lib/issues/7490, https://github.com/pkp/pkp-lib/issues/7492 and https://github.com/pkp/pkp-lib/issues/7491.

[2021-11-29 14:48] #2887 closed

[2021-11-29 15:03] NateWr commented on #4975
The following mockups have been prepared as a suggestion for how these lists can be split up, and what the new author and reviewer lists should look like. Changes to the submissions list will be handled in a separate issue.

### Navigation Menu
When a user has more than one role, they will see a menu item for each list. They will only see the menu items appropriate for their role.

![lists-menu](h

[2021-11-29 15:05] NateWr commented on #3075
Some mockups of how the active/archived review assignments might look is included in https://github.com/pkp/pkp-lib/issues/4975.

[2021-11-29 15:33] NateWr opened #7493 "Allow editors to set up custom notifications based on submission filters"
**Describe the problem you would like to solve**

**Describe the solution you'd like**
Notifications could be linked to saved filters (https://github.com/pkp/pkp-lib/issues/4396). This would allow an editor to be notified once a day or week if a new submission appears that matches the saved filters.

**Who is asking for this feature?**
An editor via @marcbria.

**Additional information**
This was

[2021-11-29 15:33] NateWr commented on #4396
@marcbria I've hijacked this issue for the saved filters and I moved your feature request for notifications to https://github.com/pkp/pkp-lib/issues/7493.

[2021-11-29 16:19] NateWr opened #7494 "Separate declined and published submissions"
**Describe the problem you would like to solve**
Editors often want to search for declined or published submissions separately, but they both appear on the Archived submissions list. This makes it harder to find the submission they want, and it's rare for an editor to want to view a list of these together.

**Describe the solution you'd like**
Separate the declined and published submissions into d

[2021-11-29 16:42] NateWr opened #7495 "Redesign submission lists to improve submission tracking and discovery"
## Summary

**Describe the problem you would like to solve**

Editors spend a lot of time using the submissions list to manage submissions and other editorial assignments. To do their work more quickly, they want the lists to show more information, provide more tools to find submissions, take actions more quickly, and distinguish between different assignments.

**Describe the solution you'd like**

[2021-11-29 16:59] NateWr commented on #2824
This will be obsolete when review assignments are separated from editorial assignments as described in #4975.

[2021-11-29 17:26] eczheng commented on #7150
Thanks, @asmecher, we tried applying the patch, but I'm afraid that it created further problems in the New Submission wizard (see screencap).

![image](https://user-images.githubusercontent.com/56087205/143914168-8ac1b39f-0b59-43a8-80a3-659269a327b5.png)

This is the error message:

[29-Nov-2021 06:52:07 America/Edmonton] PHP Fatal error:  Uncaught Error: Class 'PKP\submission\form\SubmissionSubmi

[2021-11-29 18:50] ctgraham commented on #6781
The open access `customer_id` can be anything we like.  Presuming our `institution_id` will always be numeric, we could even say something like "any non-numeric value" will be interpreted as the anonymous open access request.

Alternately, my preferred values would be "none", "false", or "anonymous".

The institution would need to get the `customer_id` from journal manager, unless we have some sel

[2021-11-29 19:53] pmangahis opened #7496 "Empty Email Variables on System Emails"
A hosted client on OJS 3.2 has pointed out that when they add the email variable options for available on the email signature and the system sends an email where there is no actual send (i.e., password reset) it sends an email variable as is.

![image](https://user-images.githubusercontent.com/50342731/143931485-78847cb7-2c1c-4c3f-974e-a3d045ef2993.png)

![image](https://user-images.githubusercont

[2021-11-29 19:54] amandastevens commented on #4108
Can this issue be closed now?  Was it resolved in OJS 3.2?

[2021-11-29 23:10] ewhanson commented on #7014
Hi @NateWr, I've updated the draft PRs with all the recent changes/revisions. Could you have a look?

In the mean time, I'll prepare the OMP and OPS specific code. Thanks!

[2021-11-30 09:35] isgrim commented on #7014
Hi @NateWr ,

thanks for working on this. That means one less plugin to bother about.

Does new DOI assignment and registration work with Chapter in OMP as well?

@withanage and  @nongenti worked on  the OMP Datacite plugin to extend the UI for chapters.

[2021-11-30 10:14] bozana commented on #6781
Maybe one more comment/question: I am thinking that "platform" would be a journal i.e. a press i.e. a server. I.e. the SUSHI API endpoint is on the context (journal, press, server) level. @ctgraham, do you think this is OK?
Maybe later and if needed we can see if we want to implement it all on the site level. This would maybe also mean different `customer_id` format -- to be 100% sure that the `cu

[2021-11-30 11:00] NateWr commented on #4108
Yes, the workflow changed significantly once versioning was added. There may be some lingering UX issues here, but it's better to identify fresh problems through current research.

[2021-11-30 11:00] #4108 closed

[2021-11-30 11:27] NateWr commented on #6781
I suppose the COUNTER group has defined its own specifications. But in terms of common conventions/best practice for REST APIs, there are two approaches depending on where the parameter appears. If it is a query parameter (`?customer_id=`), then it should be optional so that a request without this parameter is equivalent to "all". If it is a path parameter (`/sushi/institutions/<customer_id>`), th

[2021-11-30 11:52] NateWr opened #7497 "Improve page layout of editorial backend for tablets and phones"
**Describe the problem you would like to solve**
The editorial backend is difficult to use on a tablet or phone. The side navigation menu takes up a large amount of space, leaving little room for the main content of the page. This means that on a tablet or phone most of the important content on the page is squished together or requires the user to scroll right/left to access.

**Describe the solut

[2021-11-30 11:58] NateWr commented on #7225
A related issue with the context's signature setting is that it suggests that it always supports `{$sendername}` and `{$senderEmail}` variables. However, this is not true. See https://github.com/pkp/pkp-lib/issues/7496.

My preference would be for the context's signature setting to not rely on any variables, or to only rely on variables related to the `Context` object, since no other variables are

[2021-11-30 11:59] NateWr commented on #7496
Thanks @pmangahis. This looks like it overlaps with https://github.com/pkp/pkp-lib/issues/7225, where we are trying to figure out a more consistent way to handle the signature in emails. I suspect we'll sort this out for 3.4 as part of #7225, but I'll leave this open just in case PS needs to craft a solution for 3.3.x.

[2021-11-30 12:26] bozana commented on #6781
The `customer_id` is a query parameter. I am not sure if we can assume if `customer_id` is omitted then "all" because the COUNTER defines an exception in that case -- so I am not sure if the COUNTER validator (that validates the implemented SUSHI API) would complain in that case. On the other side I haven't read anything else, i.e. how to proceed in the case of OA when the institutions are not tra

[2021-11-30 13:28] asmecher commented on #6777
@ajnyga, this was solved separately by just casting an int to a string in PHP-land. I'm a little surprised that the type of binding in the host language would affect the optimizer in the DBMS -- some reading for me to do. It looks like this resolves it:

https://github.com/pkp/pkp-lib/pull/7483

...but confirmation from your side would be welcome!

[2021-11-30 13:28] #6777 closed

[2021-11-30 14:04] NateWr commented on #6777
@asmecher I noticed that this fix is applied to `main` but modifies a 3.3.0 migration step. Do we need to do some additional work to fix this for OJS instances that have already upgraded to 3.3.0-x?

[2021-11-30 14:33] NateWr opened #7498 "Add common state management and API tools to UI Library"
**Describe the problem you would like to solve**
The [UI Library](https://docs.pkp.sfu.ca/dev/ui-library/dev/) has grown since it was adopted in OJS 3.1.x. At first, each component was a standalone app that managed its own state (like the [SubmissionListPanel](https://docs.pkp.sfu.ca/dev/ui-library/dev/#/component/ListPanel/components/SubmissionsListPanel). However, since 3.3.x the application use

[2021-11-30 14:46] NateWr opened #7499 "Refactor HTML/CSS patterns in UI Library"
**Describe the problem you would like to solve**
The [UI Library](https://docs.pkp.sfu.ca/dev/ui-library/dev) uses the [BEM](http://getbem.com/introduction/) methodology for writing HTML/CSS based around components. In large projects, this reduces the frequency with which a change in one CSS rule impacts other components in unexpected ways.

However, it also leads to a lot of duplicated effort whe

[2021-11-30 15:02] NateWr opened #7500 "Merge ORCID metadata and authorization into core OJS/OMP/OPS"
**Describe the problem you would like to solve**
The ORCID plugin is widely used to manage and authenticate author records, and deposit contributor data to ORCID. The plugin works hard to integrate with the author forms and and author grid in publication details. This makes the code harder to write and harder to maintain.

**Describe the solution you'd like**
Integrate the features of the ORCID pl

[2021-11-30 15:12] NateWr opened #7501 "Use email composer UI when adding or replying to a discussion"
**Describe the problem you would like to solve**
The usability of sending messages with a discussion could be improved. It would be good to be able to select any template, use it in any language, and make wider use of email template variables.

**Describe the solution you'd like**
Use the new email composer UI developed in #5717 when adding or replying to a discussion.

**Who is asking for this fe

[2021-11-30 15:14] NateWr opened #7502 "Use email composer UI when assigning a participant"
**Describe the problem you would like to solve**
When assigning a user to a submission, the editor can send them a message. The usability of this workflow could be improved. It would be good to be able to select any email template, use it in any language, and make wider use of email template variables.

**Describe the solution you'd like**
Use the new email composer UI developed in #5717 when assi

[2021-11-30 15:15] NateWr opened #7503 "Use email composer when assigning a reviewer"
**Describe the problem you would like to solve**
When a reviewer is assigned, the editor can send them a message. The UI when sending this email could be improved. It would be good to be able to select any template, use it in any language, and make wider use of email template variables.

**Describe the solution you'd like**
Use the new email composer UI developed in #5717 when adding or replying t

[2021-11-30 15:26] henriqueramos commented on #3263
During my free time, I've created a small plugin to enable maintenance mode. In a spirit like Magento and his `.maintenance.flag`  file.

https://github.com/henriqueramos/maintenanceMode/releases/tag/3.3.x

This is a release for 3.3.x version (probably works well on the previous versions too).

Any comments and PRs are welcome.

[2021-11-30 15:36] NateWr opened #7504 "Add UI tools to control HTML in submission titles"
**Describe the problem you would like to solve**
When a submission title needs to format its title, for example to use superscript<sup>1</sup> or italicize a _species name_, they must hand-write the HTML code. Most editors and authors won't know how to do this and this can lead to some bad practices, like using special UTF-8 characters.

**Describe the solution you'd like**
Modify the submission t

[2021-11-30 16:22] NateWr opened #7505 "Add basic support for JATS XML files to publications"
**Describe the problem you would like to solve**
Many journals create JATS XML files that they want to distribute with their published articles. These files may be created through automatic conversion tools, manual editors, or third-party typesetting services.  To distribute these files, most journals use OJS's galley system. They create a separate XML galley and upload the appropriate file(s).

T

[2021-11-30 17:57] p6steve opened #7506 "Unable to Upload/Select Files from Copyediting stage (fix ineffective)"
This is a re-occurence of https://github.com/pkp/pkp-lib/issues/4754 since that fix is not effective in our cases.

The related PKP Community post is https://forum.pkp.sfu.ca/t/unable-to-upload-select-files-from-copyediting-stage-fix-ineffective/70932

If, in a submission, a file is attached to a discussion then in Copyediting it is not possible to use “Upload/Select Files” from Copyediting stage.

[2021-11-30 18:17] p6steve commented on #7506
I have proposed an extended fix in https://github.com/pkp/pkp-lib/pull/7507

[2021-11-30 20:08] henriqueramos commented on #5998
Hello @asmecher.

There's the pull requests for this issue on [OJS](https://github.com/pkp/ojs/pull/3240/files), [OMP](https://github.com/pkp/omp/pull/1036/files), [OPS](https://github.com/pkp/ops/pull/202) and [pkp-lib](https://github.com/pkp/pkp-lib/pull/7508/files).

[2021-11-30 20:22] henriqueramos commented on #7125
@asmecher Every PR it's green. We could merged it?

[pkp/omp#995](https://github.com/pkp/omp/pull/995)
[pkp/ops#167](https://github.com/pkp/ops/pull/167)
[pkp/ojs#3160](https://github.com/pkp/ojs/pull/3160)
[pkp/usageStats#50](https://github.com/pkp/usageStats/pull/50)
[asmecher/lensGalley#51](https://github.com/asmecher/lensGalley/pull/51)
#7166

[2021-12-01 01:40] asmecher commented on #6777
Thanks, I read that too fast, @NateWr -- this is the same problem but applies to a different part of the code. Applied to the `getNumArticles` function referred to in this entry, it's: https://github.com/pkp/ojs/commit/7c885b1fdcb7f22620ac30c2ec56474581e92230

[2021-12-01 02:21] henriqueramos commented on #5998
@asmecher updated the PRs.

[OJS](https://github.com/pkp/ojs/pull/3240/files), [OMP](https://github.com/pkp/omp/pull/1036/files), [OPS](https://github.com/pkp/ops/pull/202) and [pkp-lib](https://github.com/pkp/pkp-lib/pull/7508/files).

[2021-12-01 02:37] henriqueramos commented on #7182
The cached version implemented on [5998](https://github.com/pkp/pkp-lib/issues/5998) avoid the external request of plugin gallery XML.

[2021-12-01 09:53] NateWr opened #7509 "Adjust publication API endpoint"
This is a placeholder for some work on the publication API endpoint. More details soon.

[2021-12-01 11:15] asmecher commented on #7182
Closing in favour of the solution nearly ready in #5998.

[2021-12-01 11:15] #7182 closed

[2021-12-01 12:02] jonasraoni commented on #6328
@asmecher I've updated the [PRs](https://github.com/pkp/pkp-lib/issues/6328#issuecomment-927100357) to pass the tests, so you might take a look.
I'm always changing things in the way, but I'll stop and create new issues to address them 👀

Once you review these two PRs, I'll create the PRs for the submodules + OPS/OMP.

**Notes**
- The "locale completeness" calculation made the initial installation

[2021-12-01 12:13] NateWr opened #7510 "Possible to publish a submission in the review stage"
**Describe the bug**
It should not be possible to publish a submission until it has passed the review stage. However, it is possible to do so.

**To Reproduce**
Steps to reproduce the behavior:
1. Find a submission in the review stage (in OMP use external review)
2. Click on Publication > Publish
4. See that you are permitted to publish

**What application are you using?**
OJS/OMP 3.3.0

[2021-12-01 12:17] NateWr commented on #7510
PR:
https://github.com/pkp/pkp-lib/pull/7511 (`stable-3_3_0`)

Tests:
https://github.com/pkp/ojs/pull/3241 (`stable-3_3_0`)

[2021-12-01 15:55] jonasraoni opened #7512 "Use the Accept-Language header when assigning a default language to a new user session"
**Describe the problem you would like to solve**
When a user accesses an OJS (OMP, OPS) website, OJS creates a session and assigns the primary locale to it. This becomes the default language the user will work with while interacting with the website, until he changes it. However, this may not correspond to the user's preferred language.

**Describe the solution you'd like**
Instead of using the pr

[2021-12-01 16:03] NateWr commented on #7014
@isgrim It's @ewhanson that's done all the work on this so they get the credit. :) If chapter DOI support is in the main branch of OMP right now it will be supported by this work.

[2021-12-01 16:21] NateWr opened #7513 "Remove settings pages from DOI management page"
**Describe the problem you would like to solve**
The DOI management page introduced in #6062 duplicates the settings pages under Settings > Distribution > DOIs.

**Describe the solution you'd like**
Remove the settings pages from the DOI management page and add settings for each registration agency to the registration form.

**Who is asking for this feature?**
Split from #6062.

**Additional infor

[2021-12-01 16:37] NateWr opened #7514 "The Deposit All button on the DOI page is confusing"
**Describe the problem you would like to solve**
The new DOI management page added in #6062 includes a Deposit All button. The text of the confirmation prompt makes it sound like all submissions will be published. But this will only be submissions that meet certain requirements (eg - published, has a DOI, etc.)

![deposit-all](https://user-images.githubusercontent.com/2306629/144273679-5c899818-ce

[2021-12-01 16:41] NateWr opened #7515 "Show all submissions in DOI management page that might have a DOI"
**Describe the problem you would like to solve**
Right now, submissions appear in the new DOI management page (#6062) if they are in the production stage. However, it's possible to configure the settings to assign DOIs when a submission reaches the copyediting stage.

This can cause confusion because the user might expect a submission to appear there when it doesn't.

**Describe the solution you'd

[2021-12-01 16:44] NateWr opened #7516 "Remove the DOI preview table from the publishing preview"
**Describe the bug**
The DOI preview still appears when publishing a submission. This no longer works in all cases because a DOI might not have been created yet.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any submission ready for publication.
2. Click on Publication
3. Click on Publish
4. See screenshow below.

![doi-preview](https://user-images.githubusercontent.com/2306629/14427

[2021-12-01 16:45] NateWr opened #7517 "Improve error messages when editing DOIs"
**Describe the problem you would like to solve**
When I edit a DOI and I get an error, such as a duplicate DOI, the error message just says "Some DOIs failed to update". This doesn't help the user correct the error.

**Describe the solution you'd like**
Whenever possible, an error message should describe what specifically went wrong and how the user can correct the error.

**Who is asking for this

[2021-12-01 16:48] NateWr opened #7518 "Allow users to mark DOIs unregistered"
**Describe the problem you would like to solve**
As part of the new DOI management page in #6062, editors can bulk mark items as registered. It's possible that an editor will mark a submission registered by accident and there is no way to undo this.

**Describe the solution you'd like**
Implement a bulk action to mark items unregistered.

If possible, there should probably be bulk actions for stat

[2021-12-01 16:51] NateWr opened #7519 "Document new DOI endpoints in the API documentation"
**Describe the problem you would like to solve**
Several new API endpoints were added for managing DOIs as part of #6062. These are not documented in the `swagger-source.json` file.

**Describe the solution you'd like**
Document all endpoints in the `swagger-source.json` file.

cc @ewhanson

[2021-12-01 19:19] asmecher commented on #6328
Thanks, @jonasraoni, I'll take a look! I'm OK with tucking a few clean-ups into a PR here and there, but there are a few here that aren't as trivial as they first look and as they collect it gets harder to review the code. I'd rsuggest trying to keep these separate more than you're doing here. It's a bit of a pain to track/file them, but it gets easy to introduce accidental regressions through sin

[2021-12-01 19:25] asmecher commented on #7150
@eczheng, did you apply the patch (e.g. using the GNU `patch` tool) or did you download and replace the file? I suspect the latter, which will bring in other changes that aren't compatible with your installation. If that's the case, please revert those changes and use GNU `patch` instead.

[2021-12-01 19:54] jnugent opened #7520 "Increase issue galley label length to match publication galley labels"
**Describe the bug**
There's a discrepancy in the length between issue galley labels (varchar 32) and publication galley labels (varchar 255).  Can issue galley labels please also get the longer definition?

OJS 3.3.0.8

[2021-12-01 20:25] asmecher commented on #7486
Have a look at the `unconsidered` column in the `review_assignments` table (if you're ready to scratch your head about some egregious double-negatives). I'm in favour of getting rid of the `ViewsDAO` stuff entirely; it was an old attempt to build a generally-useful feature but has never been well realized.

[2021-12-02 00:21] kshuttle commented on #3022
+1 for this issue from a journal manager.

[2021-12-02 10:29] NateWr commented on #7474
Another example of a similar issue with CSV files downloaded as `.txt`: https://forum.pkp.sfu.ca/t/csv-galleys-converted-to-txt/70966/3

[2021-12-02 10:45] NateWr commented on #7512
@jonasraoni the link isn't taking me directly to the comment. This happens sometimes as GitHub hides some comments. Can you copy/paste the discussion or reasoning into this issue?

[2021-12-02 10:56] NateWr commented on #7520
PR:
https://github.com/pkp/ojs/pull/3242

To apply this to `stable-3_3_0`, copy the migration class file (`I7250_...`) into the same directory in your install and run the following command:

[code]

[2021-12-02 11:08] NateWr commented on #7510
Merged to `stable-3_3_0` and applied to `main`.

[2021-12-02 11:08] #7510 closed

[2021-12-02 11:15] NateWr opened #7521 "Crossref deposit message inaccurate when DOIs registered manually"
**Describe the problem you would like to solve**
When a DOI has a registered status in the new DOI management UI (#6062), the following message is shown from the registration agency (eg - Crossref):

This might be misleading if the item was manually marked registered. The application only know that the DOI is registered somewhere, it doesn't know that it's registered at Crossref or that anyone eve

[2021-12-02 11:23] NateWr opened #7522 "Improve UX when DOI bulk actions completed"
**Describe the problem you would like to solve**
In the new DOI management page (#6062), editors can take bulk actions like assigning DOIs and depositing them. When these actions are completed, the list is updated.

However, there's a delay after the bulk actions confirmation prompt (the modal opened via `openDialog`) closes and before the list updates. During this time, editors may believe their

[2021-12-02 11:52] NateWr opened #7523 "Can save DOI settings with no suffix selected"
**Describe the bug**
With the new DOI settings form introduced in #6062, it is possible to save the form with no suffix selected (or to send an empty value to the REST API). When DOIs are enabled, the suffix setting should be required to be one of the expected types.

(This can be done with the "in:a,b,c" validation type in the schema files.)

**To Reproduce**
Steps to reproduce the behavior:
1. M

[2021-12-02 12:03] NateWr opened #7524 "Consider how to handle items with no DOIs when depositing all"
**Describe the problem you would like to solve**
When I clicked Deposit All in the new DOI management page (#6062), I expected all Unregistered items to be switched to Submitted. However, one of them did not because it did not have a DOI assigned. This makes sense in hindsight, but it was confusing in the UI and at first I thought something was broken.

**Describe the solution you'd like**
I think

[2021-12-02 12:07] NateWr opened #7525 "All DOI endpoints that perform actions should be PUT methods"
**Describe the problem you would like to solve**
New API endpoints were added for DOIs in #6062. Several of these perform actions that do not create new objects but modify existing ones. These are currently `POST` methods but should be `PUT` to follow HTTP conventions.

**Describe the solution you'd like**
Change all API endpoints for these actions (eg - depositAll, exportSubmissions, etc) to `PUT

[2021-12-02 12:10] NateWr commented on #7014
@ewhanson two other things that I think are quick and not worth filing separately:

- If an item is deposited, the Edit DOIs button is disabled. But in such cases let's remove it altogether.
- Change the "Issues" filter name to "Assigned to Issue" (a .po key exists for this).

[2021-12-02 15:01] #7520 closed

[2021-12-02 15:26] LevelUpGit opened #7526 "When deleting issue cover image, keys for deleted languages are still present in database"
**Describe the bug**
In multilanguage setup, when deleting issue cover image, keys for deleted images are still present in database, although empty.
Also, when your UI is in one language uploaded image gets assigned to that language, there is no way to see if both are present, except changing language.

This has effect on archive page, since if you have one image only, OJS defaults on it, but if y

[2021-12-02 16:36] NateWr commented on #7258
All merged to `main`.

[2021-12-02 16:36] #7258 closed

[2021-12-02 16:56] jonasraoni commented on #7167
@asmecher This PR is ready too, I've just updated the `DELETE` statement to avoid using a sub-query.

[2021-12-03 01:42] librariam commented on #743
+1 from PKP|PS to add a CC field on email sent in the editorial workflow

[2021-12-03 12:20] asmecher commented on #5048
@defstat, I just noticed that this is using the old "`<data>` toolset in `dbscripts/xml/upgrade.xml` instead of a migration; can you convert the upgrade step to the new migration toolset? Thanks!

[2021-12-03 12:26] asmecher commented on #7512
You can access it by clicking "Show Resolved" links until you find the right one (:man_facepalming:) but to save you the trouble it's this conversation:
![image](https://user-images.githubusercontent.com/200411/144602289-1a656b3f-8abf-4c5d-9870-1af823ccbc9a.png)

[2021-12-03 17:03] ewhanson commented on #7470
@mfelczak, is this something you'd like me to add?

[2021-12-03 18:50] AhemNason opened #7527 "OJS title-level metadata enhancements"
**Describe the problem you would like to solve**
As expressed in the ticket on NISO PIE-J recommendations towards presentation and identification of journal titles, OJS does a poor job at handling historical name changes in article-level metadata. For example, if I changed the name of my journal in OJS settings, all generated citations for my older issues would display the _new name of my journal_

[2021-12-03 19:25] AhemNason opened #7528 "Crossref deposits fail when surname is missing"
**Describe the problem you would like to solve**
There are three issues with Crossref deposits that require some reconfiguration of how we map name metadata to their schema.

1. Crossref requires a surname but this is optional in OJS.
2. The Crossref deposit plugin may write an empty `<surname>` tag to the export XML, which will lead to a validation error on Crossref's end.
3. We should add suppor

[2021-12-03 19:26] AhemNason commented on #7528
Oh, I should note too that <alt-name> is supported in the schema version we're using 4.3.6. Once Crossref has added ROR to their schema in early 2022, we should probably consider just fully updating the schema we write to in our exports to accommodate.

[2021-12-04 12:05] jonasraoni commented on #7499
One of the interesting things about such "utility classes" like Tailwind is the ability to copy and paste components =]
But sometimes it leads to a bloated salad of classes, so I also support using both together, while trying to give preference to the utility classes.

[2021-12-04 12:20] jonasraoni commented on #7498
Looks like some tools have been replaced: https://twitter.com/VueDose/status/1463169464451706897

I'm using Vuex and axios in another project (which needs to support IE 11), but as soon as its support gets dropped, I'll switch to the newer things and probably give a try to Nuxt and a ready design system.

There's also faster building tools out there (vite/esbuild, swc, ...), and in our case, where

[2021-12-05 15:39] bozana commented on #6781
Hi @NateWr and @ctgraham,
The Title Reports consider the year of publication (YOP), for display (metrics aggregation) and filtering.
What do you think would be the appropriate year/date of publication for a submission? Can I just take the `date_published` of the first submission version for the YOP for that submission? -- The first submission version and its `date_published` should be the one when

[2021-12-06 10:25] NateWr commented on #6781
@bozana Yes, that's how we treat it in the UI as well. When a new version is released the date published remains the date of the first version.

[2021-12-06 11:00] NateWr commented on #7498
Thanks @jonasraoni!  So it looks like [Pinia](https://github.com/posva/pinia) is being recommended over Vuex for state management, and it is compatible with Vue 2.

We're still using 2 and I'm on the fence about whether or not to switch to 3. Vue 3's new Composition API is great for teams of JavaScript specialists. It makes Vue more like React and provides a better way to manage large, complex com

[2021-12-06 11:05] NateWr commented on #7498
There's a very good response here from Evan You (Vue.js lead developer) to questions about the Vue 2 -> 3 transition and recommendations:

https://www.reddit.com/r/vuejs/comments/r1vluc/new_default_recommendations/hm3wgbj/?utm_source=reddit&utm_medium=web2x&context=3

At the moment, Vue 3 only has 15% adoption and the ecosystem is still maturing. But it looks like many of the new tools (like Pinia

[2021-12-06 11:19] NateWr commented on #7499
Yes! My plan is to limit their use to things like margins, padding, font weight, and layout. Basically, where styles should be _consistent_ across components (spacing, font size and weights, etc), we can introduce a utility class.

[2021-12-06 11:42] NateWr commented on #7512
Ah, so this is during installation. I've updated the issue title/description, thanks!

[2021-12-06 11:57] NateWr commented on #7474
I may be reading this wrong, but it looks like both tickets on Firefox's tracker are marked as `wontfix`. I think we should expect to make our own workaround as suggested in [this comment](https://github.com/pkp/pkp-lib/issues/7474#issuecomment-977995884).

It looks like we may need one for CSV files too:

[code]

[2021-12-06 12:27] jonasraoni commented on #6675
I've updated a component  from the UI library to use in this form as a one-off fix, basically I just added:
- Pagination when the result is bigger than the threshold
- Limit the amount of items that can be selected (in this specific case, just one reviewer can be selected, in order to add many, extra updates will be needed)
- Minimum input length (2 characters)
- Also I addressed the [#7455](https

[2021-12-06 12:43] NateWr commented on #7526
@LevelUpGit Looking at the code, this is the intended behaviour. With multilingual data, the localization code will fall back to the journal's primary locale. So if you have a cover image in the primary language but not another, it will fall back to the journal's primary cover image locale. But if you have a cover image in another language but not the primary one, it will not fall back to that.

@

[2021-12-06 12:44] NateWr commented on #7526
ps - I'm going to close this as it is not something we're necessarily going to fix as a bug. But let's keep the conversation open as we think through the locale fallback in such cases.

[2021-12-06 12:44] #7526 closed

[2021-12-06 13:07] NateWr commented on #7527
Thanks @AhemNason. Requiring a new version to make changes (or the unpublish -> change -> republish workaround) makes it easy on our end to identify a stale record for downstream deposits.

Let's think a bit more about issue-level metadata. My sense is that maybe the issue-level metadata shouldn't be saved to the article like journal-level metadata. A journal name might change in the OJS system, b

[2021-12-06 13:07] NateWr commented on #2505
@AhemNason has filed an issue about journal-level metadata. Please read and comment on the issue below to help us refine and scope the necessary work:

https://github.com/pkp/pkp-lib/issues/7527

[2021-12-06 13:13] NateWr commented on #7528
I've flagged this as a bug and assigned it to the 3.3.0-9 milestone for the problems with the surname field. The preferred name feature should be split to a new issue and only implemented for a future version.

[2021-12-06 13:16] NateWr commented on #7528
Just a note that we can't/won't do this. "Surnames" are a western thing and "Family Names" (the term we use) do not exist in all languages/cultures.

[2021-12-06 13:47] AhemNason commented on #7527
Right now, the only way to right the ship is to put your old title and ISSN into the settings and update the deposits that would match. Then you swap back to your new title and issn. It's definitely doable. And doesn't require creating new versions of galleys. The issue is more like... knowing you've done it in the first place.

But as it stands now, it's a very easy thing to overlook.

As for the

[2021-12-06 14:49] jonasraoni opened #7529 "Extensive vocabs list"
**Describe the problem you would like to solve**
When adding metadata such as keywords, disciplines, etc., a long list of items might be displayed.

**Describe the solution you'd like**
- Add pagination to the vocabs API
- Ensure the `FieldControlledVocab` can deal with the pagination (this should suffice: https://github.com/pkp/pkp-lib/issues/6675#issuecomment-986730867)

[2021-12-06 15:30] NateWr commented on #6675
Is there a PR for the UI Library or have you just adapted the jQuery autoload to make use of the pagination stuff from the UI Library?

If it's an adaptation of the old library then I think we're ok to hack around with this and not worry too much about it. But if this is a modification of the UI Library's [Autosuggest](https://docs.pkp.sfu.ca/dev/ui-library/dev/#/component/Form/fields/FieldBaseAut

[2021-12-06 16:12] jonasraoni commented on #7529
The problem is that it takes too long to load the full list in my machine, as an user I'd like something more responsive.
I'll follow up in the other issue :D

[2021-12-06 16:19] jonasraoni commented on #6675
I didn't create a PR yet, but what I've updated was the Autosuggest field. I'll create a PR for the `ui-library`, so you can take a look.

The user can still narrow down the search by typing more, I've just added a way to view all the items (the pagination component will be removed if there's no pages).

About the accessibility, I'd need some help or to research by myself :)

The other alternative

[2021-12-06 16:27] jonasraoni commented on #6675
Here it is:
https://github.com/pkp/ui-library/pull/171

With the code I sent, this would be feasible by setting the `showPagination` to `false`.

[2021-12-06 16:45] defstat commented on #7509
@asmecher @NateWr

**PR**
pkp-lib: #7530

[2021-12-06 16:46] defstat commented on #7509
If that be merged, how should we add the change forward until main branch?

[2021-12-06 17:11] lpanebr commented on #7527
I feel the key to solving would all those requirements would be to allow a journal to have multiple journal-meta records.[1]

Each issue record would be required to link to exactly one journal-meta record.

Each article record would be required to link to exactly one  issue record.

So, one possible fix for the JOURNAL_NAME_1900, JOURNAL_NAME_2021 problem would be:
1. Create two new journal-meta r

[2021-12-06 22:24] ifarley commented on #7527
Hey @AhemNason - here's that change we discussed to the status message returned for these journal articles that have their titles and ISSNs updated (we call that the journal cite ID in our internal admin system):  https://gitlab.com/crossref/user_stories/-/issues/677.

Feel free to take a look at the request and add to the discussion in Gitlab.

[2021-12-06 23:41] marcbria opened #7531 "Checking the version of a plugin before loading it"
This is intended to summarise the conversation we have had about the problem of "OJS breaking after an update due to incompatible plugins".

Currently an updated OJS does not check if plugins are compatible and this can result in errors that can lead to an inoperative platform. Same will happen with OMP and OPS.

We have discussed three approaches:

- **(a) WP style:** for this it is not clear if

[2021-12-07 00:00] marcbria commented on #7531
@asmecher, @ctgraham, @NateWr, @henriqueramos, @jonasraoni and @Vitaliy-1 we can keep talking about this here.

[2021-12-07 00:32] ewhanson commented on #7266
Hi @NateWr, could you have a look at these PRs? I've tested it both on `main` and `stable-3_3_0` using both MySQL and Postgres and didn't come across anything out of the ordinary. Thanks!

PRs:

`main`: pkp/ojs#3243
`stable-3_3_0`: pkp/ojs#3244

[2021-12-07 11:24] NateWr commented on #3254
Closing as outdated but could be addressed as part of #6702.

[2021-12-07 11:24] #3254 closed

[2021-12-07 21:36] pmangahis opened #7532 "HTML styling removed from announcement"
**Describe the bug**
Hosted journal using OJS 3.3 + Text editor Extras Plugin for the announcement page has noted that the Source code styling they added for their image gets removed once it has been saved.

On the backend view it appears to be formatted properly.
![image](https://user-images.githubusercontent.com/50342731/145109804-02100538-1286-4db0-89d6-8b35efbc6b3a.png)

**To Reproduce**
Steps

[2021-12-07 21:49] pmangahis opened #7533 "Extend Text Editor Plugin functions to Announcement"
**Describe the problem you would like to solve**
Hosted journal on OJS 3.3  would like to be able to use th image and source code functions available with the Text Editor plugin for the Announcement Short Description as well.

![image](https://user-images.githubusercontent.com/50342731/145111439-1d1fa50d-ad50-44ae-8f54-d2fe73f0bac7.png)

[2021-12-07 22:16] asmecher commented on #7125
@henriqueramos, I've merged all the PRs referenced [in the comments above](https://github.com/pkp/pkp-lib/issues/7125#issuecomment-932831159):

- pkp/omp#995
- pkp/ops#167
- pkp/ojs#3160
- #7166
- pkp/usageStats#50
- asmecher/lensGalley#51

Did I miss any?

Thanks!!!

[2021-12-07 22:27] librariam opened #7534 "Cancelling or unassigning a reviewer who is also an editor should restore editor's access to submission"
**Describe the problem you would like to solve**
A journal editor assigns themselves as a reviewer to a submission, either as a test or by mistake. This locks them out of editorial controls. However even when cancelled or unassigned as a reviewer, they still can't get control back - they keep receiving the "role does not have access" error.

Apparently an incoming review may unlock that access bas

[2021-12-07 22:44] librariam commented on #2644
+1 more from PKP|PS

[2021-12-08 06:07] jonasraoni commented on #7167
Summary:
- **3.3.0**: The issue was introduced in this version and fixes to avoid creating new cases were merged. But the database will remain with duplicated records, technically skilled users might apply a manual fix (references: https://github.com/pkp/pkp-lib/pull/7414#issuecomment-961857377 and https://github.com/pkp/pkp-lib/blob/main/classes/migration/upgrade/v3_4_0/I7167_RemoveDuplicatedUser

[2021-12-08 09:45] NateWr commented on #7533
This should be an easy addition. You can see the commit that added the announcement `description` here:

https://github.com/NateWr/textEditorExtras/commit/663691a4a2a233998e7b7dd5d38560b72ca57d77

Where you see `additions[announcement][description][]` you'd just need to add `additions[announcement][shortDescription][]`. Maybe someone from PS can make the PR?

[2021-12-08 09:56] NateWr commented on #7532
What is the HTML code that you added to wrap text around the images? And what theme are you using? Our themes won't just adapt magically to any HTML. And I'm not sure that we plan to add support for wrapped images. Wrapped images look ok in large screens but typically do not work well on small screens.

[2021-12-08 09:58] NateWr commented on #3147
Closing this as outdated. The OTS is no longer receiving new features.

[2021-12-08 09:58] #3147 closed

[2021-12-08 10:04] NateWr commented on #3187
As part of #7265, the author notification will be logged and shown to authors as well. This can be closed once that is implemented.

[2021-12-08 10:07] NateWr commented on #3202
The email template management UI has changed significantly since this issue was filed. I'm going to close this, but in order to reopen it we'd like to see a sample database that reproduces the problem.

[2021-12-08 10:07] #3202 closed

[2021-12-08 10:08] NateWr commented on #3209
@ctgraham and @bozana is this issue still relevant or can it be closed?

[2021-12-08 10:08] #3221 closed

[2021-12-08 10:08] mooselybased opened #7535 "TinyMCE toolbar cut off when editing in two languages"
**Describe the bug**
When editing a journal in the backend and clicking on a secondary language to edit alongside the primary language (effectively cutting the size of textboxes etc in half), the TinyMCE toolbar doesn't adjust in size, but there's too many buttons so the last few are cut off from use. The only way we can currently reach the source code button is by inspecting the element in the br

[2021-12-08 10:10] NateWr commented on #3226
Closing this as low priority. We recommend use of .png files for favicons, which in the future may also be used for app icons, open graph tags, and other meta tags.

[2021-12-08 10:10] #3226 closed

[2021-12-08 10:11] NateWr commented on #3231
Closing this as we have no plans to add enhancements to the subscription features in OJS at this time.

[2021-12-08 10:11] #3231 closed

[2021-12-08 10:13] NateWr commented on #3233
An option to use the homepage image in the header was added in https://github.com/pkp/pkp-lib/issues/4683.

[2021-12-08 10:13] #3233 closed

[2021-12-08 10:14] NateWr commented on #3238
Translations can be contributed through out [translation system](https://translate.pkp.sfu.ca/).

[2021-12-08 10:14] #3238 closed

[2021-12-08 10:15] NateWr commented on #3247
This has been fixed at some point. I could not reproduce it in 3.3.0-8.

[2021-12-08 10:15] #3247 closed

[2021-12-08 10:19] NateWr commented on #7535
Thanks for reporting @mooselybased! This is a duplicate of #6039 so you can follow progress on a solution there.

[2021-12-08 10:19] #7535 closed

[2021-12-08 10:22] mooselybased commented on #7535
Ah, thanks! I was using only tinymce as a search term when checking the open issues so I overlooked that one, sorry.

[2021-12-08 10:30] NateWr commented on #7535
No worries, there are too many issues to easily find what you're looking for. :)

[2021-12-08 12:13] bozana commented on #6781
Hi all, (@NateWr and @ctgraham)
I wanted to see a few more things and decisions with you:

SUSH API is on context (journal, press, server) level, as we said. In OJS we provide Platform Master Report (PR), Title Master Report (TR) and Item Master Report (IR). In OMP PR and TR, and in OPS PR and IR.

_Platform_ (in every report)
I am not sure what would be `Platform`, that is used/displayed in every

[2021-12-08 13:54] librariam commented on #3022
+1 from a multi-journal PKP|PS client

[2021-12-08 13:55] NateWr commented on #6781
I would suggest making a setting in the site settings area (for admin). There they can choose to make the platform the journal (default) or the site. It should be clear that this is for the SUSHI settings. Suggested wording:

If this is optional, I think we should skip it. We have an open issue to handle version types at #4860. If not, then the VoR sounds ok.

Everything else sounds good to me. :+

[2021-12-08 13:57] ctgraham commented on #6781
I was about to agree that in a multijournal installation our Platform is the Site Name, but Nate's suggestion is more flexible.

[2021-12-08 14:47] NateWr commented on #7125
Sorry, I should have caught this in the code review. These PRs rename the Repo accessor method from `Repo::submissionFiles()` (plural) to `Repo::submissionFile()` (singular) to match the other method names.

I also ran into a bug with the `fromRow` method's array key setting. See https://github.com/pkp/pkp-lib/pull/7536/commits/44161850e301217449b2cb525de8ca9e0f15891f.

Finally, I found a referenc

[2021-12-08 14:49] NateWr opened #7537 "Sync PKP repository for TextEditorExtras and make release"
I accidentally committed changes and made releases for the TextEditorExtras plugin from my personal repository. These changes need to be brought forward to the official PKP repository, and the next release should be done from that repository.

PKP's Repository: https://github.com/pkp/pkp-lib/issues/7125#issuecomment-988879027
My Repository: https://github.com/NateWr/textEditorExtras

[2021-12-08 20:14] defstat commented on #7509
@NateWr

The review comments are resolved and the following cases where tested (api side - on Postman)

- Journal Manager can edit publication
- Section Editor can edit publication when stage assignment permits it
- Section Editor can not edit publication when stage assignment permits it
- Author can edit publication when stage assignment permits it
- Author can not edit publication when stage ass

[2021-12-08 20:56] pmangahis commented on #7532
I think the client and I both used `align="left" ` on a Manuscript Theme (OJS 3.3.0.7)

[2021-12-08 22:49] ewhanson commented on #7533
@NateWr, I can make it. Should it be against the PKP repo or yours?

[2021-12-09 00:53] asmecher commented on #5998
It looks to me like the tests in the OJS, OMP, and OPS repos are identical, so they could be moved into pkp-lib in the `cypress/tests/integration/` directory.

[2021-12-09 08:39] forgive38 opened #7538 "Task list is not sorted with most recent tasks at the top"
**Describe the bug**
Before 3.3, tasks where "order by date_created desc" : for our users, it was better than now in 3.3, because you can immediately see what is the last event in your tasks list.

But maybe there is a reason behind this new behavior ?
Thank you in advance

**What application are you using?**
 3.3.0-8

**Additional information**
https://github.com/pkp/pkp-lib/commit/f34c440#r61568

[2021-12-09 10:23] NateWr commented on #7532
I think I'm going to recommend that we don't support this. I had a look at what TinyMCE supports in an official way, and it looks like there is a general content formatting option that adds a `style` attribute with alignment, but there is no support for floating images (to get the wrapped text feature). For that reason, anything we would do would have to be a custom implementation.

Since we proba

[2021-12-09 10:23] #7532 closed

[2021-12-09 10:25] NateWr commented on #7533
Uff, yeah, I think do it against my repo and then I will try to get everything ported to PKP's repo and make the next release from there.

[2021-12-09 10:27] NateWr commented on #7533
Please note, though, that the short description is used in particular ways in themes. We are not going to edit our theme designs to accommodate images in the short description, so the client/PS is on their own here.

[2021-12-09 10:32] NateWr commented on #7538
@forgive38 can you please add some reproduction steps so that a developer who is assigned to work on it can quickly set up a working test environment?

[2021-12-09 10:41] NateWr commented on #3286
Closing this as low priority. A separate issue can be opened if/when automated path generation is considered.

[2021-12-09 10:41] #3286 closed

[2021-12-09 10:45] NateWr commented on #3293
@asmecher would this be difficult? Seems like maybe a quicky and easy improvement.

[2021-12-09 10:51] NateWr commented on #3317
Closing this as the original problem is solved. OJS does not automatically assign a DOI when a variable can not be substituted. Further discussion about when to show a DOI or not should take place in a new issue.

[2021-12-09 10:51] #3317 closed

[2021-12-09 10:53] NateWr commented on #3351
A pattern for pre-flight checks on an upgrade was added as part of #6093. See https://github.com/pkp/pkp-lib/blob/main/classes/migration/upgrade/v3_4_0/PreflightCheckMigration.inc.php. Further improvements should be filed separately in new issues.

[2021-12-09 10:53] #3351 closed

[2021-12-09 10:55] NateWr commented on #7160
A pre-flight check in the upgrade process was introduced for 3.4: https://github.com/pkp/pkp-lib/blob/main/classes/migration/upgrade/v3_4_0/PreflightCheckMigration.inc.php. Further improvements should be filed as new issues.

[2021-12-09 10:55] #7160 closed

[2021-12-09 10:57] NateWr commented on #3330
Closing this as stale. Feel free to open a new issue if there is any more work to be done.

[2021-12-09 10:57] #3330 closed

[2021-12-09 11:47] NateWr opened #7539 "Can't use apiToken when logged in as another user"
**Describe the bug**
When an admin or journal manager uses the "login as" feature to login as another user, the `apiToken` is ignored in requests to the API. The admin is always set to the current user, even when using an API token for another user.

This is _not_ a security issue, because nothing is ever exposed to the user with fewer permissions. But it may eventually cause hard-to-find bugs wit

[2021-12-09 12:13] NateWr commented on #7509
Thanks @defstat! Merged to `stable-3_3_0` and ported to `main`.

[2021-12-09 12:13] #7509 closed

[2021-12-09 12:15] bozana commented on #6781
Sorry to bother you again,  @NateWr and @ctgraham :-(
The proprietary IDs (for institutions, titles (journal, book, server) and items (articles)) should be in the form: {namespace}:{value} i.e. <platformID>:<itemID>.
From the documentation:

If the user selects journal name as platform this `platformID` could be the journal/context path or initials or ID. But what if the user selects site name as

[2021-12-09 12:25] NateWr commented on #6781
When the user selects the option to use the site as the platform, show an additional field for a Platform ID. You can use the `showWhen` property in a field to only show this field when the site option is selected. See an [example](https://docs.pkp.sfu.ca/dev/ui-library/dev/#/component/Form/with-conditional-display) and documentation of the [showWhen prop](https://docs.pkp.sfu.ca/dev/ui-library/de

[2021-12-09 12:40] bozana commented on #6781
Thanks a lot!!! :-)))

[2021-12-09 16:31] asmecher commented on #3293
Yes, this is trivial to do. @ajnyga, making this change:
[code]
...results in output like:
[code]
Does this suit your requirements?

[2021-12-09 16:51] ewhanson commented on #7533
Thanks @NateWr.

Here's the PR:

NateWr/textEditorExtras#1

[2021-12-09 17:19] asmecher commented on #7539
To be sure I'm following, are you proposing that the user's session be ignored totally when an API key is provided, regardless of whether they're logged in or not, including with the "Log In As" feature? If so, great; that would avoid entanglements between the features, which might get tricky.

[2021-12-09 17:40] asmecher commented on #6091
Here's a proof of concept PR for the introduction of PSR-4 autoloading: https://github.com/pkp/pkp-lib/pull/7540/files
- It introduces PSR4-based autoloading using the [`composer.json` configuration file](https://github.com/pkp/pkp-lib/pull/7540/files#diff-d2ab9925cad7eac58e0ff4cc0d251a937ecf49e4b6bf57f8b95aab76648a9d34). The proof of concept only touches classes in `lib/pkp/classes`, but a full i

[2021-12-09 17:46] NateWr commented on #6091
The approach looks good. :+1:

If possible, it'd be great to wait for a couple of big PRs from @defstat and @ewhanson. Dimitris (#7376) is days away from merge. @ewhanson (#6466) may dip into next year. That said, his work is mostly on new files or the crossref plugin, so may be less impacted.

[2021-12-09 18:07] asmecher commented on #6091
Thanks, @NateWr. How about I continue working on that PR, including getting it merge-ready, but keep all the actual renames out of it until the other PRs are in? That way once all of us get our merges done it'll be a moment's work to batch-rename everything.

[2021-12-09 18:15] jnugent commented on #6112
Hi everyone,

I hate to be the bearer of bad news but the changes introduced here break query discussion creation.  With these modifications in place, if you are not assigned to a submission and attempt to start a new discussion you receive the message

"You must assign at least one participant to this submission before initiating a discussion."

If you then assign yourself to the submission, you

[2021-12-09 18:21] asmecher commented on #6112
@jonasraoni, could you try this out? I'm presuming you're working with `stable-3_3_0`, right, @jnugent?

[2021-12-09 18:22] NateWr commented on #6091
Sounds good if it doesn't slow you down too much.

On Thu, 9 Dec 2021, 18:07 Alec Smecher, ***@***.***> wrote:

[2021-12-09 18:26] jnugent commented on #6112
@asmecher Yeah, all of this was merged into the client installation that originally had the performance issues, and we have another ticket open assigned to Jonas for it.  The installation in question is at the tip of `stable-3_3_0`

[2021-12-09 20:04] Vitaliy-1 commented on #5730
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/7541
OJS: https://github.com/pkp/ojs/pull/3248

[2021-12-09 20:06] Vitaliy-1 commented on #5730
@asmecher, these PRs contain changes to all locales, what is the best way to proceed with them?

[2021-12-09 20:53] asmecher commented on #5730
@Vitaliy-1, I've just merged the translations from Weblate into OJS `main`, and it looks like there's a conflict with `locale/ja_JP/emails.po`. Can you rebase and fix it? Then I'll be ready to merge.

Does this also need porting to OPS and OMP?

[2021-12-09 21:16] asmecher commented on #6091
@NateWr and @Vitaliy-1, could you have a look at this commit?

https://github.com/pkp/pkp-lib/pull/7540/commits/7fe2d6c4b67e1f6048780df678fdd8918a6b3e0c

This is all that's required for us to start renaming `.inc.php` files to `.php` and relying on Composer's PSR-4 autoloader in place of our [custom autoloader](https://github.com/pkp/pkp-lib/blob/stable-3_3_0/classes/core/PKPApplication.inc.php#L1

[2021-12-10 02:27] asmecher commented on #5998
Merged! I've updated the submodules manually to work around a merge conflict for each.

[2021-12-10 02:27] #5998 closed

[2021-12-10 08:02] hammadkhan07 opened #7542 "PHP Warning in error log"
I am working with OJS last i installed in Feb 2021 the latest version currently im facing a php warning in my error log i need to know exactly what caused and what is it regarding to

PHP Warning:  call_user_func_array() expects parameter 1 to be a valid callback, class 'PKPComponentRouter' does not have a method 'getRequestedPage' in /home/ylg85dki0kn4/public_html/GATRJournals/submissions/ojs/lib

[2021-12-10 10:13] ajnyga commented on #7440
I can not see this error.

I tried both a) adding a whole new format with an ISBN and b) adding a new format, saving and then by editing adding an ISBN. It was probably fixed with https://github.com/pkp/omp/pull/1012

I will add the test you asked in any case and we can close this after that.

[2021-12-10 11:11] ajnyga commented on #7440
OMP: https://github.com/pkp/omp/pull/1039

[2021-12-10 11:49] bozana commented on #3209
I am not 100% sure but I think this other issue solved it: https://github.com/pkp/pkp-lib/issues/4455. At least there we agreed to only use COUNTER bot list...

[2021-12-10 12:13] lpanebr commented on #7335
Not directly related but, solving it in a single submission is ideal and is the way Scielo and PMC handle it.

More specifically, the use a `<sub-article>`s[1] for each translation on multilingual articles[2,3].

[1] https://jats.nlm.nih.gov/publishing/tag-library/1.3/element/sub-article.html
[2] https://www.ncbi.nlm.nih.gov/pmc/pmcdoc/tagging-guidelines/article/dobs.html#dob-multi-lang
[3] https:

[2021-12-10 12:14] bozana commented on #6781
I found an explanation about PlatformID (https://cop5.projectcounter.org/en/5.0.2/11-extending/01-platform-as-a-namespace.html):

So it sounds good to have that option to enter a platform ID...

[2021-12-10 12:26] bozana commented on #6781
I've just found this point (https://cop5.projectcounter.org/en/5.0.2/10-compliance/03-counter-reporting-for-consortia.html):

it is for consortium and its members but eventually we would need/like to implement the opt-out for institutions? Maybe not now but in the future... :-)

[2021-12-10 12:31] bozana commented on #6781
And: we do need to provide TSV too, which would mean GUIs for users to select filters and attributes. Also the report elements are ordered, structured and provided differently in the TSV :-P
But, I would love not to think about this TSV for now :-(

[2021-12-10 13:52] Vitaliy-1 commented on #5730
Thanks, @asmecher. Yes, this requires porting to other applications.
@NateWr, can you take a look at these PRs first? They include new wording for email templates, renaming template variables throughout the code, migration and installation.

[2021-12-10 15:02] asmecher commented on #7542
@hammadkhan07, could you include the exact version number of OJS you're using? What URL are you requesting when this warning appears?

[2021-12-10 15:09] asmecher commented on #7440
Sorry to jump in but since I'm working with namespace stuff... @NateWr, I suspect your checkout didn't include https://github.com/pkp/omp/commit/b2b0be87b435d82661ab4bac31a05c78dbb68757#diff-611f9577405a43a4455199dc5cb60dfe5419b6a6f745809d6de70793d94410e2R19, which should resolve the message you encountered. @ajnyga, I've merged the test -- thanks!

[2021-12-10 15:13] asmecher commented on #7512
@NateWr, no, this isn't for during installation -- it's for when a user without a session first hits the OJS website.

[2021-12-10 18:21] ajnyga commented on #7134
OPS: https://github.com/pkp/ops/pull/206
@NateWr can you review. I did not add all the new translations like in your sketch, happy to do so if needed.

[2021-12-10 18:51] beausapach commented on #7150
@asmecher I've created a .patch file from this commit but can't apply it.  From the lib/pkp directory:

`[root@journals pkp]# patch --dry-run -p1 < ~/ojs-source/patch/0001-pkp-pkp-lib-i7150-Make-reuse-of-existing-note-to-edi.patch
checking file classes/submission/form/PKPSubmissionSubmitStep1Form.inc.php
Hunk #1 FAILED at 215.
Hunk #2 FAILED at 290.
Hunk #3 FAILED at 301.
Hunk #4 FAILED at 381.
4

[2021-12-10 19:04] tmrozewski-york commented on #7442
@NateWr I cannot recover the full error message. The error message disappears when I try to click on it.

CrossRef says: "Thanks for your question.  Our concurrent user limit is 10,000 deposits for a given username at a given point in time, and 'yorkul' has definitely not exceeded that limit.  So, I'm guessing that error pertains to something on the OJS end, not the Crossref end."

I feel like I'm

[2021-12-10 19:16] jonasraoni commented on #6112
Hi! I just checked and there's really a regression here. This is the cause: https://github.com/pkp/pkp-lib/blob/stable-3_3_0/classes/services/queryBuilders/PKPUserQueryBuilder.inc.php#L467

It should be the last statement... I'd rather avoid such construction without "()", but as it's not present in /master, I'll just add a fast fix.

[2021-12-10 19:19] jonasraoni commented on #6112
About the impact surface, I just found it being used by this piece of code: https://github.com/pkp/pkp-lib/blob/stable-3_3_0/controllers/grid/queries/form/QueryForm.inc.php#L278

[2021-12-10 19:55] jonasraoni commented on #6112
@asmecher
https://github.com/pkp/pkp-lib/pull/7543
https://github.com/pkp/ojs/pull/3249
https://github.com/pkp/ops/pull/207
https://github.com/pkp/omp/pull/1040

[2021-12-10 20:45] asmecher commented on #6112
Thanks, @jonasraoni -- this is the kind of regression I was worried about with big changes to `stable` branches, but the fix looks clean. All merged.

[2021-12-10 20:45] #6112 closed

[2021-12-10 23:19] emmauhl commented on #4540
+1 from PKP|PS - had a client with multiple completely blank submissions with no record of who initiated them in the log (is this what happens when the Journal Manager creates them?), making them arduous to clean up.

[2021-12-11 07:25] jonasraoni commented on #6112
Yep, there were too many changes and we don't have tests enough to cover all details :)

[2021-12-11 21:49] librariam commented on #7534
@NateWr I did more testing and I should amend my initial ticket description - the locking out happens only in the scenario where the editor/reviewer declines the review (details below). In my other tests, where the editor/reviewer either assigned themselves as a reviewer and then unassigned or accepted to review and then cancelled, the submissions dashboard provided an option to re-gain editorial

[2021-12-12 17:45] xawery79 commented on #7369
I have a question when can we expect this fix to be published. In journals that have several languages enabled having to complete file descriptions in all languages is extremely cumbersome.

[2021-12-13 10:42] #3209 closed

[2021-12-13 10:55] NateWr commented on #7539
Yes. I think an API key should override a user's session. :+1:

[2021-12-13 11:07] NateWr commented on #7442
Unfortunately, unless we can reproduce this, there's not much we can do to help. I have searched our codebase for key words in the error response (`ExceededConcurrentLimit`, `maximumCount`) and not found anything. The error message comes from Crossref and includes information that suggests the `maximumCount` is `16` not `10,000`. So for now I'm of the opinion that this is on Crossref's side.

I ha

[2021-12-13 11:07] #7442 closed

[2021-12-13 11:20] NateWr commented on #6781
I'm not sure I understand what you mean. But in my opinion we should always allow opt-out of any public stats, just like we allow opt-out of Beacon and OAI.

I don't know what TSV is but let's not worry about it.

[2021-12-13 11:25] NateWr commented on #7512
Ok, then I'm not understanding the issue description. Can one of you (@jonasraoni, @asmecher) update this with a clearer description of the problem and solution?

[2021-12-13 12:36] NateWr commented on #7542
Please provide all of the information requested in the issue template:

[2021-12-13 12:40] NateWr commented on #3369
Institutional stats will be available in CSV form as part of #6895. I've adapted this issue to request an editorial UI to view these stats.

[2021-12-13 12:43] NateWr commented on #3366
Closing this as I think the initial request is already implemented. CSV downloads will be added in #7318.

[2021-12-13 12:43] #3366 closed

[2021-12-13 12:48] NateWr commented on #3365
Closing this issue as it needs to be more tightly scoped and better defined. I think there are two requests here which could have their own issue, if we have a specific request for them:

- Add an author statistics UI to view their own publications
- Support public sharing of statistics

[2021-12-13 12:48] NateWr commented on #3363
Closing for lack of interest and detail. It's a good idea, though!

[2021-12-13 12:48] #3363 closed

[2021-12-13 12:51] NateWr commented on #3391
Is this issue still relevant or can it be closed?

[2021-12-13 12:54] NateWr commented on #3419
This is no longer the case in 3.3.0-8.

[2021-12-13 12:54] #3419 closed

[2021-12-13 12:56] NateWr commented on #3423
Closing this in favor of https://github.com/pkp/pkp-lib/issues/4976.

[2021-12-13 12:56] #3423 closed

[2021-12-13 12:57] NateWr commented on #3426
This has been fixed in the new LibraryFilesMigration class.

[2021-12-13 12:57] #3426 closed

[2021-12-13 13:03] NateWr commented on #3446
I'm going to close this as a low priority. If this is a request from an admin or site-wide editorial assistant, I'd recommend a site-level plugin to do this. If it is an ordinary user, it's probably not high enough priority for us to work on it. But a large site could implement something through a custom theme/plugin.

[2021-12-13 13:03] #3446 closed

[2021-12-13 14:11] AhemNason commented on #7442
@tmrozewski-york can I ask what happens if you just deposit _one_ of these DOIs that hasn't been registered? Does the error change if it's just one at a time? I ask because in a chat with Crossref support folks they mentioned the following:

The timestamp error occurs when there's an existing DOI record with a more recent timestamp than the one the you're putting up. "More recent" is a bit mislead

[2021-12-13 14:16] #7125 closed

[2021-12-13 14:30] NateWr commented on #6091
Looks good to me. I agree we're not likely to have collisions. And this sets us up well to eventually move handlers into `/classes` (eg - `/classes/pages/X` would have the same namespace).

I left one comment about `HANDLER_CLASS` at https://github.com/pkp/pkp-lib/pull/7540/files#r767806998. But I'm not sure how easy it would be to adjust that in the routing code.

[2021-12-13 15:25] NateWr commented on #7534
Thanks @librariam! Very helpful reproduction steps. I was able to reproduce the problem and fix the access issue.

Now, after the editor's review assignment has been declined or cancelled, they will be sent to the editorial workflow when they click the "View" button. However, if they were assigned an anonymous review, they still won't see the author of the submission in the submissions list. It wi

[2021-12-13 15:59] asmecher commented on #7512
@jonasraoni and @NateWr, I've updated the description. @jonasraoni, did I capture what you were proposing?

[2021-12-13 16:01] NateWr commented on #6675
@jonasraoni I took a look at this today, but it doesn't seem like you have used the UI Library's autosuggest field to enrol an existing user as reviewer. Is there a PR for pkp-lib or OJS that makes use of the new autosuggest features?

[2021-12-13 16:26] jonasraoni commented on #6675
I didn't push it yet, I was waiting to get a positive feedback on the UI before updating the PRs 😁

[2021-12-13 16:35] NateWr commented on #7512
Got it, thanks!

[2021-12-13 16:37] NateWr commented on #6675
Ah ok. So the plan for now is to use this just to replace the jQuery autosuggest field when enrolling an existing user as a reviewer?

[2021-12-13 16:46] Vitaliy-1 commented on #6091
PR looks good to me either

Can you explain this example in more detail: why after these changes it can refer to the latter class? `pages` are prefixed: `"PKP\\pages\\": "pages/"`, so it's `\PKP\pages\announcement\xyz`. Do I understand this right that you mean If there were `pages/announcement` directory in `classes`?

[2021-12-13 16:53] asmecher commented on #6091
Sorry, @Vitaliy-1, you're right -- my example doesn't work, but yours does. The collision would be possible with namespaces that match directory names within `classes`, e.g. `classes/pages/*.php`, `classes/controllers/*`, `classes/plugins/*`. But I think collisions in these are unlikely enough that we can forget it.

[2021-12-13 16:53] NateWr commented on #7534
Merged to `stable-3_3_0` and ported to `main`.

[2021-12-13 16:53] #7534 closed

[2021-12-13 17:29] jonasraoni commented on #6675
@NateWr I updated the PRs for [/main](https://github.com/pkp/pkp-lib/issues/6675#issuecomment-962430473).

Yeah! I saw this interface will be refactored sooner or later, so I just got the component replaced to fix the performance issue.

[2021-12-13 18:26] henriqueramos commented on #4622
@asmecher

Could you please check the pull requests for this task? Thank you!

[ojs](https://github.com/pkp/ojs/pull/3132)
[pkp-lib](https://github.com/pkp/pkp-lib/pull/7049)
[ops](https://github.com/pkp/ops/pull/196)
[omp](https://github.com/pkp/omp/pull/1031)

[2021-12-13 20:36] asmecher commented on #7266
I've added datasets for OJS 3.1.x; see e.g.: https://github.com/pkp/datasets/tree/main/ojs/3.1.0

[2021-12-14 16:58] alexxxmendonca opened #7545 "Can't update user biography"
**Describe the bug**
Bio updates in user profile are not being saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Edit profile" -> "Public" tab
2. Change the user bio.
3. Save changes.
4. Log out.
5. Log in again,
6. Navigate to the "Edit profile" -> "Public" tab.
7. Notice how the update it's no longer saved.

![Profile _ Revista Demonstração](https://user-images.githubuserconten

[2021-12-14 17:00] Vitaliy-1 commented on #5730
While reviewing email template variables for OMP, I found the following templates:

- `EDITOR_DECISION_ACCEPT`
- `EDITOR_DECISION_SEND_TO_EXTERNAL`
- `EDITOR_DECISION_REVISIONS`
- `EDITOR_DECISION_RESUBMIT`

Have an identical issue in the English localization - missing decision itself. E.g., for the first one it's:
[code]
In the PR I'm modifying only `EDITOR_DECISION_SEND_TO_EXTERNAL` as I suspect

[2021-12-14 17:04] asmecher commented on #7545
@alexxxmendonca, I can't reproduce this locally and we haven't had other reports of the same problem; is it possible that one of the 3rd-party plugins is interfering or something? Could you also check the PHP error log for any warnings that appear during the time these actions are taking place?

[2021-12-14 17:07] ewhanson opened #7546 "PKPAuthor::getLocalizedGivenName() falls back to default locale when none provided"
**Describe the bug**
`PKPAuthor::getLocalizedGivenName()` (and by extension Identity::getLocalizedGivenName()` falls back to the submission locale rather than the current locale from `AppLocale::getLocale()`. `getLocalizedFamilyName()` prioritizes the locale from `AppLocale::getLocale()` whereas `getLocalizedGivenName()` does not. This can lead to mismatched localized given and family names.

See:

[2021-12-14 17:15] ewhanson commented on #7546
`getLocalizedFamilyName` prioritizes the current locale:

https://github.com/pkp/pkp-lib/blob/873ebda57965debfd276093611e7667b72fc1785/classes/identity/Identity.inc.php#L147-L153

while `getLocalizedGivenName` does not:

https://github.com/pkp/pkp-lib/blob/873ebda57965debfd276093611e7667b72fc1785/classes/identity/Identity.inc.php#L111-L113

@asmecher, what do you think of bringing `getLocalizedGiv

[2021-12-14 17:20] alexxxmendonca commented on #7545
@asmecher we don't have as much 3rd-party plugins in OJS as we do in OPS. But still, I disabled the ones we do have and the problem persists.

I have requested the PHP error log.

[2021-12-14 17:25] alexxxmendonca commented on #7545
The only error that appears on the error log is this one but the time doesn't match:

[Tue Dec 14 11:46:22.171335 2021] [negotiation:error] [pid 11526] [client 10.81.234.11:64054] AH00690: no acceptable variant: /var/www/submission_scielo_br/htdocs/index, referer: https://submission-bolha.scielo.br/index.php/index/user/profile

[2021-12-14 18:02] alexxxmendonca commented on #7545
@asmecher I am not sure if this error log is the one you need, but it's not showing any errors either:

![image](https://user-images.githubusercontent.com/4059679/146054269-3e032a6e-82b9-4d7e-ac6b-252183a5f062.png)

And I noticed that you don't need to log out of the system to see the error, if you just refresh the page after saving it, the bio is gone/not saved.

[2021-12-14 18:44] asmecher commented on #7545
@alexxxmendonca, can you check the `user_settings` table in the database for that user and see what the entries for `setting_name='biography'` are? In particular I'm curious if the `locale` field is unset or garbled.

[2021-12-14 20:53] LevelUpGit commented on #7526
@NateWr Hi,

I agree with "Looking at the code, this is the intended behaviour. With multili...", but I came across two issues:

1. If you set image on both languages than delete from one of those, OJS is will not fall back to remaining one.
- expected behavior would be to fall back to remaining one.
2. There is no way to see if you have set second image, except from changing languages back and fo

[2021-12-14 21:24] tmrozewski-york commented on #7442
@AhemNason

I was getting the same error message when uploading them one at a time. However, at some point in the past month, the problem seems to have resolved itself because all of the submissions for that issue have DOIs that resolve properly and show as "Active" in the plugin. What concerns me is that I don't have any way of telling if the errors were due to, say, an intermittent problem with

[2021-12-14 22:18] AhemNason commented on #7442
It sounds at least, @tmrozewski-york, that these were sorted out in the long run. Crossref had a few issues with data centres in the last month and change. My guess is that it was related to that outage. That's a guess! But I'll let folks at Crossref know this sorted itself out. It sounds like this is probably the case and it might explain why we'd not seen that particular error message before?

[2021-12-15 04:35] henriqueramos commented on #4622
@asmecher  The only failed tests was on OJS upgrade DATASET_BRANCH=3.1.0 TEST=pgsql.

[ojs](https://github.com/pkp/ojs/pull/3132)
[pkp-lib](https://github.com/pkp/pkp-lib/pull/7049)
[ops](https://github.com/pkp/ops/pull/196)
[omp](https://github.com/pkp/omp/pull/1031)

[2021-12-15 07:41] defstat commented on #6850
@NateWr @asmecher

I am copying the previous comment containing the PRs, in order to find it more easily. I also added all changes to a single commit (in all PRs) in order to "merge" changes from different review rounds that where referring to the same code part.

In the meanwhile I will prepare the PRs for OMP and OPS.

**PRs**
OJS: pkp/ojs#3204
pkp-lib: #7376
ui-library: pkp/ui-library#170

I th

[2021-12-15 10:03] NateWr commented on #7545
Confirming that I could not reproduce this in the [3.3.0-8 Test Drive](https://demo.publicknowledgeproject.org/ojs3/testdrive/index.php/testdrive-journal/) site. I'm going to close this as not a bug, but feel free to continue investigating the issue on your site here or on the forum.

[2021-12-15 10:11] NateWr commented on #7546
I _think_ that `Identity::getLocalizedGivenName()` is the right approach, because `PKPAuthor::getLocalizedData()` overrides `Identity::getLocalizedData()` in order to fall back to the submission locale.

https://github.com/pkp/pkp-lib/blob/873ebda57965debfd276093611e7667b72fc1785/classes/submission/PKPAuthor.inc.php#L28-L53

I'm not sure why `Identity::getLocalizedFamilyName()` has special handlin

[2021-12-15 10:12] NateWr commented on #5280
This was implemented in https://github.com/pkp/pkp-lib/issues/7132. Google Scholar support is still being discussed in https://github.com/pkp/pkp-lib/issues/7003.

[2021-12-15 10:12] #5280 closed

[2021-12-15 10:20] NateWr commented on #2844
Closing this due to lack of interest.

[2021-12-15 10:20] #2844 closed

[2021-12-15 10:21] NateWr commented on #2377
Closing as outdated. This will be removed when we have finally moved away from the old JS system.

[2021-12-15 10:21] #2377 closed

[2021-12-15 10:23] NateWr commented on #2505
Thanks for the discussion, everyone. If there are any further improvements that should be made to align OJS with the PIE-J recommendations, please file a new issue for each improvement.

[2021-12-15 10:23] #2505 closed

[2021-12-15 10:26] NateWr commented on #2630
Closing due to lack of interest.

[2021-12-15 10:26] #2630 closed

[2021-12-15 10:34] NateWr commented on #2860
The work done on this issue is now obsolete and can't be easily ported forward when the prerequisites are in place. Screenshots of the new design and features can be found in [this comment](https://github.com/pkp/pkp-lib/issues/2860#issuecomment-386020241). I'm closing this for now and a new issue should be opened if/when the users grid is converted.

[2021-12-15 10:34] #2860 closed

[2021-12-15 12:17] ronste opened #7548 "Enabling "display_errors" in config.inc.php may break AJAX/JSON request"
**Describe the bug**
I encountered the bug when opening the URN plugin settings dialogue failed with "Failed Ajax request or invalid JSON returned.". The DOI plugin just worked fine on the same installation.

The Ajax request returned with status 200 OK. However, Raw message looks like this:
`
<br />
<b>Warning</b>:  Declaration of URNSettingsForm::fetch($request) should be compatible with Form::f

[2021-12-15 12:31] alexxxmendonca commented on #7545
Hi @asmecher

![image](https://user-images.githubusercontent.com/4059679/146187028-979bd88d-6a13-43dc-959c-663d94d13ad6.png)

The "hkjhkj..." is the random keyboard smash that I did.

[2021-12-15 12:39] NateWr commented on #6850
Looks good! I've left some comments but it's mostly clean-up at this point. Nothing should effect OMP/OPS too much.

Thanks for squashing the commits! I really appreciate that. If you do it again, can you give the single commit a better name? Something like:

[2021-12-15 12:53] jonasraoni commented on #7548
Hi @ronste!

This behavior is expected. This setting shouldn't enabled unless you're trying to debug/fix something in the system.
The warnings are real, but they are benign (in the sense that they won't break the system when they are hidden).

Therefore I'm closing this issue.

[2021-12-15 12:53] #7548 closed

[2021-12-15 13:22] ronste commented on #7548
Hi @jonasraoni ,

sorry, but I don't see how breaking a form that works when the "display_error" feature is disabled could be expected behaviour?
What do you expect to gain breaking the URN settings form (or any other Ajax request in case it coincides with a PHP warning) instead of just displaying the warning at the top of the form as is done on normal page loads?

Apart from that. I am debugging/

[2021-12-15 14:02] jonasraoni commented on #7548
I understand your pain. In a perfect scenario, all of these warnings shouldn't exist, but they still do, and the fact is that enabling the `display_errors` will just slow you down.

If you just want to ensure there's no unexpected warnings in your code, I suggest watching the error log and/or using `xdebug`.

To fix the `display_errors` in the way that you expect, it would require some workarounds

[2021-12-15 14:06] NateWr commented on #6850
Oh, and I also found that the ORCID validation error needs something to work. Not something you introduced in your code, but now that we're using the schema it showed itself. Can you get this added?

[code]

[2021-12-15 14:09] NateWr opened #7549 "Author submission dashboard shows wrong version number"
**Describe the bug**
When viewing a submission as an author, the version number that is shown on the Publication tab refers to the `publicationId` instead of the version number.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an author
2. Go to a submission with only one version
3. Click the Publication tab
4. See that where it says Version it should say 1 but shows another number i

[2021-12-15 14:16] NateWr commented on #7549
PRs:
https://github.com/pkp/ojs/pull/3252
https://github.com/pkp/omp/pull/1042

[2021-12-15 17:57] alexdryden opened #7550 "Metadata tab disappears"
**Describe the bug**
When adding a publication format to OMP, the metadata tab does not initially appear:
<img width="1437" alt="Screen Shot 2021-12-15 at 11 44 38 AM" src="https://user-images.githubusercontent.com/47127862/146228212-b80773d0-f0f5-4158-acf0-02cc82fc5ea6.png">

Then, it does appear when editing the publication format:
<img width="1429" alt="Screen Shot 2021-12-15 at 12 49 58 PM" sr

[2021-12-16 03:19] YoshieraHuang opened #7551 "Use http to request resources when reverse proxied using https."
**Describe the bug**
I used `Caddy` to reverse proxy the 80 port of ojs application to the 443 port of public with automatic https rather than using the 443 port directly. However the web requests resouces in http rather than https, which is not allowed in chrome and make the web page very ugly. Is it possible to request the resources just according to the actual url?

**What application are you u

[2021-12-16 03:43] YoshieraHuang commented on #7551
refer to #1054, close this.

[2021-12-16 03:43] #7551 closed

[2021-12-16 11:00] NateWr commented on #7550
I believe this is as intended. If I recall correctly, remote galleys and publication formats do not have "metadata". @withanage do you know if this is the case?

[2021-12-16 11:06] NateWr commented on #3462
@defstat if this is still a problem, can you file a new issue for it? Then we can scheduled it against a future milestone.

[2021-12-16 11:06] #3462 closed

[2021-12-16 11:13] NateWr commented on #3508
Closing as the main feature request has been implemented. If further work is desired, please open a new issue.

[2021-12-16 11:13] #3508 closed

[2021-12-16 11:16] NateWr commented on #3523
Closing this in favor of https://github.com/pkp/pkp-lib/issues/5717, which will resolve the three points raised above.

[2021-12-16 11:16] #3523 closed

[2021-12-16 11:17] NateWr commented on #3537
Closing as low priority.

[2021-12-16 11:17] #3537 closed

[2021-12-16 11:19] #3540 closed

[2021-12-16 11:20] #3545 closed

[2021-12-16 11:20] #3546 closed

[2021-12-16 11:21] #3549 closed

[2021-12-16 11:23] NateWr commented on #3554
Closing due to lack of interest.

[2021-12-16 11:23] #3554 closed

[2021-12-16 11:24] NateWr commented on #3561
Closing this in favor of https://github.com/pkp/pkp-lib/issues/5955.

[2021-12-16 11:24] #3561 closed

[2021-12-16 11:27] NateWr commented on #3577
Closing this for lack of interest.

[2021-12-16 11:27] #3577 closed

[2021-12-16 13:28] Vitaliy-1 opened #7552 "Typo in deprecated ArticleHandler::downloadSuppFile()"
**Describe the bug**
Call to the deprecated method in ArticleHandler leads to a fatal error:
[code]

**To Reproduce**
Reported on the forum: https://forum.pkp.sfu.ca/t/persisten-error-in-ojs3-3-0-8-in-articlehandler-inc-php/70971

**What application are you using?**
 OJS 3.3.0-8

**Additional information**
Caused by a typo here: https://github.com/pkp/ojs/blob/2dcaac64d15c637e9113c146856d3371234c7

[2021-12-16 21:18] asmecher commented on #7552
Thanks, @Vitaliy-1!

[2021-12-16 21:18] #7552 closed

[2021-12-16 21:33] asmecher commented on #7545
@alexxxmendonca, I'll bet the `0` / `NULL` discrepancy in the `assoc_id` column is to blame. Assuming `user_id=8173` is your test user, can you try the following?
[code]
This will clear out all entries. After this you should be able to enter a biography again without the `0` / `NULL` entries being in conflict.

If you can confirm that this is the case, I'll look further into the source of the conf

[2021-12-16 21:35] alexdryden commented on #7550
Hmm. Maybe our use case is atypical, we primarily use OMP as a catalog and discovery service for a digital press. Is there a reason why remote galleys or formats shouldn't have metadata? I.e., are we going to run into any issues down the road because we are publishing remote publications with metadata (using a workaround)?

[2021-12-16 22:35] withanage commented on #7550
@alexdryden

As @NateWr  mentioned I  think in older versions  we.g.  3.2.1-1  or 3.2.1  as I  remember this was not available and was intended.

But I have tested in OMP 3.3.0-8 and  and  I can confirm  the workflow you  described is working.

Could you run a update and let us know, if  this is not the case for you ?

https://user-images.githubusercontent.com/1921992/146458936-4d3581d4-860d-47a1-

[2021-12-16 22:47] asmecher commented on #4622
Thanks, @henriqueramos, I've had another look and added some comments.

[2021-12-17 02:32] rahmanramsi commented on #7213
here the pull request @NateWr
pkp/pkp-lib#7547
pkp/ojs#3253

[2021-12-17 14:05] amandastevens commented on #6828
We have to apply this patch to a client's journal site about once every 2 weeks. Can the fix be backported to OJS 3.2?

[2021-12-17 14:36] alexxxmendonca commented on #7545
Hi @asmecher

The command was ran and this was the result:

![image](https://user-images.githubusercontent.com/4059679/146560431-3da9561b-c09d-4826-b6f2-d322b7731030.png)

However I tested it again and the behavior is the exact same as before.

[2021-12-17 14:51] henriqueramos commented on #7171
@asmecher

Could you please do a check on those PRs?
[OMP](https://github.com/pkp/omp/pull/1043/files), [OJS](https://github.com/pkp/ojs/pull/3254/files), [OPS](https://github.com/pkp/ops/pull/209) and [pkp-lib](https://github.com/pkp/pkp-lib/pull/7553).

Upgrade tests for OJS, using PHP 8.0 are failing due to removed `get_magic_quotes_runtime` on this version.

[2021-12-17 18:14] alexxxmendonca commented on #7545
@asmecher apologies! It _**did**_ work after the command you suggested.

[2021-12-17 19:26] jonasraoni commented on #6828
@asmecher I've created two extra PRs for this issue:
stable-3_2_1 https://github.com/pkp/ojs/pull/3257
stable-3_2_0 https://github.com/pkp/ojs/pull/3258

[2021-12-17 21:13] pmangahis opened #7557 "Show page under Table of Contents"
In OJS 2, the TOC allowed JM to assign page numbers. With more journals opting to publish in a continuous publication model (with the current workaround), it would be helpful to have this feature again.

When a JM adds an article to a published issue it's not always easy to decern where it ends up in the lineup. This is especially harder with larger issue line ups.

Requested by JM using OJS 3.3.

[2021-12-17 21:26] pmangahis commented on #4246
+1 from another PKP|PS client

[2021-12-17 21:27] pmangahis commented on #3094
+1 from Hosted journal

[2021-12-18 00:03] asmecher commented on #7171
@henriqueramos, I've given a first look at these and added some comments; @NateWr, could you have a look over the ListPanel aspects?

[2021-12-18 02:08] DanmerCC opened #7558 "Error al actualizar 3.3.0.8"
![image](https://user-images.githubusercontent.com/29562772/146625552-5fc89d7e-58b1-4662-83f2-1230eee2b95d.png)

[2021-12-19 17:52] henriqueramos commented on #7558
Hello @DanmerCC, could you please add your question on the PKP Support Forums?

https://forum.pkp.sfu.ca/c/questions/5

Thank you!

[2021-12-19 18:06] #7558 closed

[2021-12-19 18:35] henriqueramos commented on #7171
@asmecher Regarding the `DB::table(jobs)` on `pages/management/PKPToolsHandler.inc.php`

Unfortunately, at this point of code history, we doesn't have a Domain/DAO/Repository/Collector for the `jobs` table.

I've created a Eloquent Model for `jobs` at #4622. It was two months before the starting of global Repository refactoring.

Right now I don't know if I should wait for the #4622 being merged,

[2021-12-19 18:52] AlejandraCasas commented on #1822
+1 from PKP|PS client.

[2021-12-19 23:48] janiosarmento opened #7559 "CLI Tool to list users with no associated submission"
**Describe the problem you would like to solve**
Example: Frequently, journal managers need to identify users with no associated submissions, usually to "remove" such users from the database.

**Describe the solution you'd like**
I'd like a CLI tool to generate a list of users in the database who meet the above criteria. Even better, the CLI could take one or two parameters to limit registration d

[2021-12-20 01:47] asmecher commented on #7171
I'm open to ideas for new patterns, but handler classes should definitely be insulated from the database structure.

[2021-12-20 05:22] defstat commented on #6850
@NateWr I have added the final commits for your review.

[2021-12-20 08:23] defstat opened #7560 "Multiple submissions on submission grid"
**Describe the bug**
There are cases where the Dashboard submission grid displays the the same submission multiple times

**To Reproduce**
Steps to reproduce the behavior:
1. As a Journal Manager, go to Dashboard -> Users & Roles
2. Edit your user (the journal manager) and give your user the Editor Role.
3. Go to Dashboard -> Submissions
4. As a Journal Manager create a new submission (selecting J

[2021-12-20 10:00] #7542 closed

[2021-12-20 10:03] NateWr commented on #7550
Closing this as fixed in 3.3.0-8 but feel free to post if you're able to reproduce in 3.3.0-8.

[2021-12-20 10:03] #7550 closed

[2021-12-20 10:05] #7545 closed

[2021-12-20 10:07] Vitaliy-1 commented on #5730
Upgrade tests for OJS 3.1 are failing with a fatal error:
[code]
It looks like not related to this PR and likely is fixed by this commit: https://github.com/pkp/pkp-lib/commit/469ea6a181c57dc0b9422a359aa250ca2ae7575a
I've updated PR for OJS and restarted tests just in case.

[2021-12-20 10:42] NateWr commented on #7560
Thanks @defstat. Can you add to your reproduction steps how to create this condition in the database? (ie - create the user roles and make the assignments)

[2021-12-20 11:56] defstat commented on #7560
@NateWr In my installation I can reproduce it like so:
1. As a Journal Manager, go to Dashboard -> Users & Roles
2. Edit your user and give your user the Editor Role.
3. Go to Dashboard -> Submissions
4. As a Journal Manager create a new submission (selecting Journal Manager as submission role)
5. Finalize the submission and go to Dashboard -> Submissions
6. You will see 2 grid rows with the same

[2021-12-20 12:53] asifdev124 commented on #7505
Expected when we can see the xml file generation feature? @NateWr

[2021-12-20 15:51] asmecher commented on #5730
@Vitaliy-1 -- shoot, I thought I had the upgrade problems ironed out on Friday. Let me look into it this morning.

[2021-12-20 15:53] NateWr opened #7561 "Deleting an author or cancelling a re-order of authors leads to a warning about modifying props"
**Describe the bug**
In #6850, the contributor grid was replaced with a list panel. When taking some actions, a warning appears in the console not to modify props.

This warning appears because a component should not modify a `prop` that it receives from a parent component. In such cases, an event must be emitted until reaching the component that controls this information as `data`. The modificati

[2021-12-20 15:55] Vitaliy-1 commented on #5730
@asmecher, the PR was done also on Friday, at the end of my day, probably before the fix you've introduced. After re-basing PR on the fresh main branch, upgrade tests are passing.

[2021-12-20 16:03] NateWr commented on #6850
All PRs merged to `main`. :tada:

There's one more thing that still needs to be fixed, but it's not causing a major issue so I wanted to get this merged before the winter break. @defstat if you could take care of this soon that'd be great: https://github.com/pkp/pkp-lib/issues/7561

[2021-12-20 16:03] #6850 closed

[2021-12-20 16:06] asmecher commented on #7505
@asifdev124, the generation of JATS XML is out of scope for this issue. I'd suggest looking for more information in our support forum, e.g.: https://forum.pkp.sfu.ca/t/who-is-who-in-jats-2019/57063

[2021-12-20 16:25] NateWr commented on #7549
Merged to `stable-3_3_0` and cherry-picked to `main`.

[2021-12-20 16:25] #7549 closed

[2021-12-20 16:42] NateWr opened #7562 "Add validation test for UI Library"
**Describe the problem you would like to solve**
The integration tests ensure that the library works with the main application. However, the stand-alone [UI Library](https://docs.pkp.sfu.ca/dev/ui-library/dev/) does not have any testing to ensure it builds and renders. It is possible to commit, get all tests passing, even though there is a simple syntax error.

**Describe the solution you'd like**

[2021-12-20 16:49] asmecher commented on #6828
Both merged, thanks!

[2021-12-20 16:54] NateWr commented on #7213
Merged to `stable-3_3_0` and ported to `main`. Thanks for the PR @rahmanramsi! :tada:

[2021-12-20 16:54] #7213 closed

[2021-12-20 17:06] asmecher commented on #7546
I think the reasoning for the logic you point out above, Nate, is because different mixes of languages may be available for given and family names, and we want to avoid cases where the locale precedence code gets a given name for one language and a family name for another and then mixes them together.

[2021-12-20 17:26] NateWr commented on #7560
Thanks, I was able to reproduce the problem following those steps. I can confirm it's not reproducible in `stable-3_3_0`.

[2021-12-20 17:41] NateWr commented on #7559
I think for this to be useful there would need to be a check for a lot of things. A quick scan of the database shows the following associations that would probably need to be checked to ensure a user can be safely removed: stage assignments, review assignments, submission files, discussions (queries/notes), editorial decisions, subscriptions and payments, event logs, email logs (and email_log_user

[2021-12-20 17:44] NateWr commented on #7557
The page data can be entered at Publication > Issue > Page and this is shown in the table of contents on the default theme. Are you maybe using a different theme that doesn't show this information?

[2021-12-20 19:39] pmangahis commented on #7557
Yup! Aware of this. The JM is hoping to have the page numbers show in the back end TOC  to allow them to easily rearrange articles that get added to the issue.

![image](https://user-images.githubusercontent.com/50342731/146822963-5413140b-b3b3-436d-995c-7026ca1c50cf.png)

[2021-12-20 20:08] asmecher commented on #7545
@alexxxmendonca, thanks, that helps; I think that confirms that the issue you're running into is this one: https://github.com/pkp/pkp-lib/issues/7167

[2021-12-20 20:43] asmecher commented on #7560
@defstat and @NateWr, I replicated the problem locally and confirmed that the attached commit (direct to `main`) solved it, but please have a quick look if you have a moment: https://github.com/pkp/pkp-lib/commit/8434802adad899a39cb8708f98bd6439f89c1cdc

[2021-12-20 21:13] defstat commented on #7561
@NateWr @asmecher

**PRs**
[UI-LIBRARY]: pkp/ui-library#173

[OJS] - (**tests only**): pkp/ojs#3259

[2021-12-21 11:03] eirikhanssen opened #7563 "Activitiy Log fails to load when certain values are null due to insufficient error handling in lib/pkp/classes/services/PKPSubmissionFileService.inc.php"
**Application:  OJS 3.3.0-8**

**Bug description**
These are similar problems as reported in: https://github.com/pkp/pkp-lib/issues/7453
When clicking Activity Log in the submission workflow, it doesn't finish loading when certain objects/values are unexpectedly null in lib/pkp/classes/services/PKPSubmissionFileService.inc.php

My suggestion is that all of the cases in this file should be reviewed

[2021-12-21 11:11] eirikhanssen opened #7564 "Thanks @eirikhanssen. Can you file a new issue with those details?"
Ok, I have created a new issue with these details:
https://github.com/pkp/pkp-lib/issues/7563

[2021-12-21 11:11] #7564 closed

[2021-12-21 12:10] alexxxmendonca commented on #7545
@asmecher thanks a lot!

[2021-12-21 14:51] heike-r commented on #7474
If I may add another problematic file type: docm is wrongly downloaded as docx by Firefox in OJS 3.3.0.8
We want to use docm as internediate file type in our production workflow. I can upload it as submission file but when clicking on the file to download, it is recognized as docx by Firefox. Same es above, it works fine in Chrome and also if I use the 'download all files' button in Firefox.

[2021-12-21 18:11] bozana commented on #6781
I would add the task to opt-out of public stats /at different level) above and will address it then later.
TSV is tab separated values -- the reports that the user can see/import in something like Excel.

[2021-12-21 18:15] bozana commented on #6781
I would then now introduce the assoc type ASSOC_TYPE_SUBMISSION_FILE_COUNTER_OTHER in OMP. S. https://github.com/pkp/pkp-lib/issues/3541. Back then I was not sure how it all should be for OMP and COUNTER. But now, that the new metric types are introduces by COUNTER I believe those supplementary genres files should only be considered as investigations and not as requests, also because there is genr

[2021-12-21 21:35] Vitaliy-1 commented on #7560
@asmecher, This breaks tests. With subquery join, this `where` statement points to the column which doesn't exist: https://github.com/pkp/pkp-lib/blob/8434802adad899a39cb8708f98bd6439f89c1cdc/classes/submission/Collector.inc.php#L354

What I can't understand here, is the purpose of this left join: https://github.com/pkp/pkp-lib/blob/8434802adad899a39cb8708f98bd6439f89c1cdc/classes/submission/Colle

[2021-12-21 21:38] librariam commented on #7016
+1 from PKP|PS on this one and I can confirm it's still an issue in 3.3.0.8

[2021-12-22 11:20] bolelligallevi opened #7565 "typo in /locale/it_IT/submission.po (branch stable-3_2_1)"
Hi, in line 1530 [here](https://github.com/pkp/pkp-lib/blob/stable-3_2_1/locale/it_IT/submission.po) "TQuesto" has to be changed to "Questo".
Best regards
Stefano

Row 1530: msgstr "<a rel=\"license\" href=\"https://creativecommons.org/licenses/by/4.0/\"><img alt=\"Creative Commons License\" src=\"//i.creativecommons.org/l/by/4.0/88x31.png\" /></a><p>TQuesto lavoro è fornito con la licenza <a rel=

[2021-12-22 12:50] jonasraoni commented on #7565
Hi @bolelligallevi!

FYI in case you find translating issues within the latest OJS versions, you can contribute with fixes directly here:
https://translate.pkp.sfu.ca/languages/it_IT/ojs/ (there's a search tab to find a specific text).

[2021-12-22 13:02] bolelligallevi commented on #7565
Hi @jonasraoni, this typo has been fixed in current version, i can use weblate for older versions as 3.2.1?
I'm suggesting to correct because 3.2.1 is not so old and maybe will be downloaded for some time.
Best regards

[2021-12-22 18:37] Vitaliy-1 commented on #7264
PRs:
pkp-lib https://github.com/pkp/pkp-lib/issues/5730
OJS: https://github.com/pkp/ojs/pull/3248
OMP: https://github.com/pkp/omp/pull/1044
OPS: https://github.com/pkp/ops/pull/210

[2021-12-22 18:43] #7264 closed

[2021-12-22 18:44] AlejandraCasas commented on #4900
I have the same comment Patricia had from another PKP|PS client.

[2021-12-22 18:56] Vitaliy-1 commented on #7560
PR to pkp-lib: https://github.com/pkp/pkp-lib/pull/7566
tests: https://github.com/pkp/ojs/pull/3260

[2021-12-22 19:52] asmecher commented on #7264
Excellent, @Vitaliy-1, really happy to see this merged!

[2021-12-22 20:04] asmecher commented on #7560
@Vitaliy-1, whoops, thanks for catching that. I think the purpose of the problem line:

https://github.com/pkp/pkp-lib/blob/8434802adad899a39cb8708f98bd6439f89c1cdc/classes/submission/Collector.inc.php#L354

...is to avoid exposing e.g. author identities to users who are assigned as reviewers via the keyword search mechanism. To do that, I think it'll be necessary to add a join alongside the inclu

[2021-12-22 20:32] Vitaliy-1 commented on #7560
Ahh, yes, I can reproduce the problem you describe on the branch I've experimented with. If you think that it will fix it, please go ahead.

[2021-12-23 01:24] pmangahis commented on #6221
+1 another PS client that would be interested in being able to filtering for languages

[2021-12-23 15:03] Vitaliy-1 opened #7567 "Gossip User property is defined as multilingual but is not"
**Describe the bug**
Receiving fatal error on testing OJS instance when trying to assign a reviewer, after pressing `add reviewer` button:
[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Add a reviewer to OJS instance and populate `Editorial Notes` field for this user in user settings
1. Submit an article and move it to the review stage
2. Click on 'add reviewer` button
3. See error

[2021-12-23 15:30] ctgraham commented on #6781
Per this statement:

https://www.projectcounter.org/release-5-understanding-investigations-and-requests/

I concur that access to the supplemental material (appendix, bibliography, glossary) counts as an investigation, but not a request.  Such material corresponds to, for example, "View Cited References" in the graphic illustration.

[2021-12-23 19:17] jonasraoni opened #7568 "Disable the email delivery"
**Describe the problem you would like to solve**
When upgrading, running staging environments, testing, etc., it would be useful to ensure no emails are delivered from the system.

**Describe the solution you'd like**
A setting to disable the mail delivery would be enough.

**Who is asking for this feature?**
Sysadmins

**PRs**
- https://github.com/pkp/pkp-lib/pull/7574
- https://github.com/pkp/oj

[2021-12-23 19:35] henriqueramos commented on #7568
I think it's just needed to fill `config.inc.php` with this value, to every email being logged on filesystem.

[code]

[2021-12-23 19:48] jonasraoni commented on #7568
I saw this value =]
The problem is that it will pollute the `error_log` and we still have some places using a `Mail` class, so I added a naive `disabled` option.

I'm just breaking a long PR into pieces, so later on, I'll take a look at the Laravel settings and check how to define a different output channel (e.g. `email.log`), remove the old `Mail` (probably Vitaliy will do it) and check if there'

[2021-12-23 22:07] henriqueramos commented on #7568
You will need to configure a [new channel](https://laravel.com/docs/7.x/logging#building-log-stacks) and the [monolog handler for this new channel](https://laravel.com/docs/7.x/logging#customizing-monolog-for-channels).

[2021-12-23 22:43] fgnievinski commented on #6126
A simpler alternative would be a reminder sent every monday or every other monday with a summary of pending tasks.

[2021-12-24 00:55] fgnievinski commented on #5730
great improvement, I've tried something similar in the past, but not nearly as thorough:
https://github.com/pkp/ojs/pull/2501 insert "dear" before user name

[2021-12-24 01:10] fgnievinski commented on #5730
can translators start working on localizing the modified text -- is the version in English frozen yet?

btw: the modified text already appears in weblate but it seems not all localizations are flagged as "needs editing", confirm?

[2021-12-24 01:13] fgnievinski commented on #6089
related to #5730

[2021-12-24 01:48] fgnievinski commented on #4429
related: [#7369 - Other languages required when they shouldn't be ](https://github.com/pkp/pkp-lib/issues/7369)

[2021-12-24 01:54] fgnievinski commented on #7369
On the other hand, the opposite is also frequently asked for in the discussion forum:
submission metadata in secondary languages may be mandatory for a given journal.
basically, a new column for "mandatory metadata" in the journal languages table.

How to make title and abstract in second language required?
https://forum.pkp.sfu.ca/t/how-to-make-title-and-abstract-in-second-language-required/50185

[2021-12-24 03:09] fgnievinski commented on #7335
JATS' "sub-articles" can be abused in ways that render metadata incompatible with CrossRef and downstream citation tools.
For example, the tagged sample given in [1] is a super-article with four sub-articles, each completely independent -- different authors, body, floats, references:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC27377
The metadata in CrossRef ends up lumping all the sub-articles' t

[2021-12-24 03:21] fgnievinski opened #7569 "Discourage localization of journal title"
**Describe the problem you would like to solve**
Currently, OJS3 allows localizing (translating) the journal title. But this is discouraged by CrossRef: _"you need to pick one journal title and stick with it. And, the language of the journal title does not need to match the language of the article title."_
https://community.crossref.org/t/parallel-titles-for-a-given-issn/2183/4?u=fgnievinski

**De

[2021-12-24 03:45] fgnievinski opened #7570 "Supplementary material could have their own DOI"
**Describe the problem you would like to solve**
Supplementary material are becoming more common, as a way of reducing article length and associated typesetting costs. It is difficult to link to supplementary material in the body of the article in a robust way without a specific DOI, though.

**Describe the solution you'd like**
Fortunately, CrossRef already supports DOIs for components of an arti

[2021-12-24 07:47] jonasraoni opened #7571 "The Greek locale has unexpected HTML entities"
**Describe the bug**
When switching to the Greek locale, several entries have unexpected HTML entities.

**To Reproduce**
Switch the locale and enter in any interface

**What application are you using?**
OJS /main

[2021-12-24 07:48] jonasraoni commented on #7571
I updated the translations through code, but I forgot that we're using Weblate, so I'll move the updates there =]

[2021-12-24 12:20] jonasraoni commented on #7565
As far as I can tell, Weblate just keeps the latest translations, so this will probably require a manual update... I'll create a PR to fix this, then we'll discover :)

[2021-12-24 15:52] Vitaliy-1 opened #7572 "Incorrect SQL for Assigned to Editor generated in User Collector"
**Describe the bug**
While debugging `assignedTo` property in Submission's Collector, I found that `Assigned To Editor` filter in Submission List Panel auto-suggests an incorrect user - in my example, the user that has a role as an author an a reviewer but not any editorial role.
Example of the request:
[code]
Example of associated SQL:
[code]
The relevant part here is that after subquery that ret

[2021-12-24 16:02] Vitaliy-1 commented on #7572
Moreover, if implemented correctly, there still can be a situation, when the user, having an editorial role, is assigned as a reviewer to a submission and the current implementation doesn't filter out such submission - this is more relevant for OMP with the internal review stage.

[2021-12-24 18:31] fgnievinski commented on #2505
here are some answers from the Crossref forum:

https://community.crossref.org/t/parallel-titles-for-a-given-issn/2183?

PS: I've added this information to the old issue to keep the new issue focused on the implementation; let me know if a separate issue should be created just about the about DOI registration for journal title changes.

[2021-12-25 12:26] jonasraoni commented on #7565
@asmecher I'm not sure how far we're going with backwards fixes, so I've created the PRs mostly to raise a discussion.
PRs:
https://github.com/pkp/pkp-lib/pull/7573
https://github.com/pkp/ojs/pull/3261
https://github.com/pkp/ops/pull/211
https://github.com/pkp/omp/pull/1045

[2021-12-25 13:21] jonasraoni commented on #7568
I've added PRs to the [issue description](https://github.com/pkp/pkp-lib/issues/7568#issue-1087943023), which consists basically of code extracted from another PR.

In general I'm ok to have them merged this way, but there's room for improvements (discussed above).

[2021-12-25 16:15] agussetyar opened #7575 "Unauthenticated Open Redirection Vulnerability"
---
name: Bug report
about: Broken PATH/URL Validation on Set Locale Action.
title: 'Open Redirection Vulnerability'
labels: 'Bug'
assignees: 'Maintainer'

---

**Describe the bug**
This bug allow user to redirect to arbitrary URL and can lead to Scam or Phising.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://example.com/index.php/index/user/setLocale/NEW_LOCALE?source='
2. fi

[2021-12-25 16:54] jonasraoni commented on #7571
Resolved through weblate.

[2021-12-25 16:54] #7571 closed

[2021-12-26 09:09] jonasraoni opened #7576 "Remove deprecated PHP code"
**Describe the problem you would like to solve**
Remove deprecated PHP features from the code base.

**Describe the solution you'd like**
Pass through the deprecated features, available at the PHP manual, and remove/replace them.

**Who is asking for this feature?**
Developer

[2021-12-26 09:18] jonasraoni opened #7577 "Fix the PHPDoc declarations to improve the type hinting"
**Describe the problem you would like to solve**
The code editor is unable to understand some of the type hints that we've already added to the code base due to invalid declarations.

**Describe the solution you'd like**
Fix the doctype declarations.

Given the next steps are error-prone/herculean, we'll probably be working on them on-demand:
- Ensure the type hints are accessible (e.g. the type e

[2021-12-26 18:11] henriqueramos commented on #7575
@asmecher could you please check those pull requests?

[pkp-lib](https://github.com/pkp/pkp-lib/pull/7578)
[ojs](https://github.com/pkp/ojs/pull/3263)
[omp](https://github.com/pkp/omp/pull/1046)
[ops](https://github.com/pkp/ops/pull/212)

[2021-12-27 07:46] jonasraoni opened #7579 "Investigate the feasibility of replacing CSRF tokens"
**Describe the problem you would like to solve**
Based on this comment https://github.com/pkp/pkp-lib/pull/7578/files#r775369112.
I just remembered that some people have been experimenting with replacing CSRF tokens by the Origin header (e.g. https://www.brandur.org/fragments/origin).

The Origin header is somehow safe, if proxies attempt to remove/break it, they would also break CORS requests. Th

[2021-12-28 16:45] asmecher commented on #7577
Just a note that this might also be a good time for a switch from Doxygen (see docs/dev/ojs2.doxygen) to something else, or at least a review of the Doxygen configuration.

[2021-12-28 16:52] asmecher commented on #7575
@agussetyar, can you confirm which version of OJS you were able to reproduce this on? Looking at https://github.com/pkp/pkp-lib/blob/38b0064f8f8164dff06ef085cadeeb25936c4d64/pages/user/PKPUserHandler.inc.php#L54 it should be necessary for the `source` parameter to start with a `/` in modern releases. Your example (starting with a `@`) should not behave as you describe in a modern release.

@henriq

[2021-12-28 16:55] asmecher commented on #7565
@jonasraoni, no harm in cherry-picking a trivial typo fix like this back to earlier releases -- but it's not worth investing more than a few seconds in, since we're not planning further releases e.g. from `stable-3_2_1`.

[2021-12-28 16:55] #7565 closed

[2021-12-28 16:58] asmecher commented on #7569
Tagging @AhemNason on this -- personally I suspect we're going to get conflicting advice on how to represent translated journal titles, with some of it varying by local convention (e.g. Canadian journals will often put both languages in a single field). CrossRef's perspective will be one of many.

[2021-12-28 17:32] jnugent opened #7580 "Fatal error when importing XML article in PHP8"
**Describe the bug**
Some errors crop up when using the import/export plugin with PHP8.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What application are you using?**
3.3.0-8

**Additional information**
https://forum.pkp.sfu.ca/t/native-xml-plugin-ojs-3-3-0-8-imported-xml-article-published-with-error/71243/4

OJS 3.3.

[2021-12-28 18:10] agussetyar commented on #7575
@asmecher Sorry. After I verified, it turns out that this vulnerability is in OJS version 2.4.x.
I checked the 3.x version is not vulnerable.

[2021-12-28 18:13] henriqueramos commented on #7575
@asmecher When hit the `http://ojs/index.php/index/user/setLocale/fr_CA?source=/google.com' I was redirect to `http://ojs/google.com`. Resulting in a bad experience for the user.

The `source` isn't sanitized in any form, rather than the `preg_match` validation. Also, the `HTTP_REFERER` isn't being check.

As far I have checked on the code, I couldn't find any place building a route with the `sour

[2021-12-28 18:21] asmecher commented on #7575
@agussetyar, thanks for confirming -- yes, this was fixed some years ago, and OJS 2.4.x is past end-of-life.

@henriqueramos, the `source` parameter is used e.g. here:

https://github.com/pkp/ojs/blob/3ec8caf7e59e28019789bd98e72a40ea70145f4a/plugins/blocks/languageToggle/templates/block.tpl#L20

If a user is "tricked" into a URL in another part of the host's website (OJS or otherwise), it's not an

[2021-12-28 18:21] #7575 closed

[2021-12-28 18:26] asmecher commented on #7580
Thanks, @jnugent! @defstat, could you take a look at this?

[2021-12-28 18:55] Vitaliy-1 commented on #7260
Implemented as part of https://github.com/pkp/pkp-lib/issues/7264

[2021-12-28 18:55] #7260 closed

[2021-12-28 19:04] Vitaliy-1 opened #7581 "Consider replace Swift Mailer with Symfony Mailer"
**Describe the problem you would like to solve**
Swift Mailer was stoped being maintained in November 2021. It's used only in the current main branch instead of PHP Mailer.
Swift Mailer is already replaced with Symfony Mailer in the Laravel Mail Service and is going to be released with Laravel Framework v. 9.0. Consider implementation of Symfony Mailer on the basis of this work to avoid using unma

[2021-12-28 19:39] Vitaliy-1 commented on #7581
PRs
pkp-lib: https://github.com/pkp/pkp-lib/pull/7582
OJS: https://github.com/pkp/ojs/pull/3264

[2021-12-28 23:55] fgnievinski commented on #7569
bilingual titles seem fine for CrossRef as long as they're entered in compound form, as in "Canadian Psychology/Psychologie canadienne". it should remain fixed and it can be in any language, not necessarily one of the content languages – it can be a latin phrase, a loanword, or another foreign name used for historical reasons. for example, it's not uncommon for a regional journal to be internation

[2021-12-29 07:34] tanabem opened #7583 "Bug of “urlPublished” in JSON data via API of OPS"
**Describe the bug**
Looking at the JSON returned via the OPS API, it seems that the “urlPublished” is still in the OJS specification.
Specifically, the place where the URL of the paper should be “/preprint/” is “/article/” as shown below.

In case of OJS: https://my-ops-site/ops/index.php/test/**article**/view/62/102
In case of OPS: https://my-ops-site/ops/index.php/test/**preprint**/view/62/102

[2021-12-29 08:56] Vitaliy-1 commented on #7569
An example of the ISSN record of my University's journal: https://portal.issn.org/resource/ISSN/2519-8572.
The journal's title in Cyrillic doesn't make much sense for English speaking readers, in order only to read it, it's transliterated into Latin. As Cyrillic and transliterated titles still don't make sense for non-Ukrainian readers, there is a parallel translated English title.

[2021-12-29 14:22] fgnievinski commented on #7569
I'm afraid the current scheme in OJS does more harm than good with respect to citations.  as the how-to-cite tool will show different journal titles for each language, some of the incoming or received citations may end up unaccounted for in journal-level metrics (impact factor, CiteScore, cites per doc, H-factor, etc.).  so, language specific journal titles are confusing not only for CrossRef but

[2021-12-29 19:01] asmecher commented on #7569
@fgnievinski, in my experience other platforms just haven't considered/accommodated multilingual content. That's always been a big priority for us. However, as you're seeing here, it's hard to come up with good policies that are representative of the global publishing community and play nice with standards and services.

@Vitaliy-1's example above is a good one -- where journals might publish in d

[2021-12-29 19:15] asmecher commented on #7560
@Vitaliy-1, I've just pushed up a fix for this in `pkp-lib`; it tests fine locally and I'll watch Travis.

[2021-12-29 20:35] asmecher commented on #7560
Hrm, working with PostgreSQL but not MySQL. I'm looking into it.

[2021-12-29 20:43] asmecher commented on #7560
Hrm, the MySQL problem was introduced after I broke the tests by some other change. I'll track it down as penance for breaking the tests :)

[2021-12-30 15:48] Vitaliy-1 commented on #7581
Tests are failing, the relevant error:
[code]

[2021-12-30 22:22] asmecher commented on #7583
It looks like this was corrected in `main` but not `stable-3_3_0` in this commit:

https://github.com/pkp/ops/commit/0cc844c694f6aba42adbea6e554952222da8f7b6

I'll port this to `stable-3_3_0` in a moment.

[2021-12-30 22:24] asmecher commented on #7583
@tanabem, thanks for reporting -- you can fix this by applying the following change:

https://github.com/pkp/ops/commit/8948276382aa6a40bf8b1e0f027deb3c36f33e09

This will be released with OPS 3.3.0-9 (or 3.4.0, whichever comes first).

[2021-12-30 22:24] #7583 closed

[2021-12-31 03:22] fgnievinski commented on #7569
I wondered if journals in different character sets "eat their own dog food": do the references cited in their articles adopt their own language specific journal titles? for the journal instance at hand, even when the content is in Cyrillic script and Ukrainian language (Українська), the list of references use the journal title in Latin script and English language, "PMGP" – Psychosomatic Medicine a

[2021-12-31 15:29] jonasraoni commented on #7577
I was inspecting alternatives and didn't find many active/maintained options, the best were:
- https://github.com/phpDocumentor: [Demo](https://demo.phpdoc.org)
- https://phpdox.net: [Demo](https://phpdox.net/demo/phpDox/index.xhtml)

I didn't inspect them much, besides the demos, but I doubt there will be hidden gems... So, in case there's nothing against Doxygen, I think it's ok to keep it and j

[2021-12-31 18:24] asmecher commented on #7560
@Vitaliy-1, the tests on `main` actually work -- the MySQL failure was a hiccough in the Travis infrastructure or something. You should be good to carry on.

[2022-01-02 17:40] jonasraoni commented on #7577
I've added the PRs to the issue description.

I thought about committing directly to `/main`, but as there are many files, I decided to create a PR to run the tests.

Here I basically:
- Reversed the declarations from `@tag $param type` to `@tag type $param`
- Added missing types/param names (e.g. `@param type` / `@param $name`)
- Normalized primitive types (e.g. from `integer/boolean/String/Array

[2022-01-02 18:28] jonasraoni opened #7585 "Synchronize submodules across main repositories"
**Describe the problem you would like to solve**
The /main branch of OPS/OMP/OJS are using different versions of the submodules.

**Describe the solution you'd like**
Attempt to use the same versions, if possible the latest, in order to keep a homogeneous environment (similar code, errors, etc).

**Who is asking for this feature?**
Developer

[2022-01-03 11:00] gemusehandler commented on #6021
I run into the same problem described as above. Crossref refuses the registration of the DOI due to a missing title. Working with OJS 3.3.0.7.

[code]
Is it solvable?

[2022-01-03 19:22] asmecher commented on #7585
@jonasraoni, do you mean to simply update the submodule hash, or change the way we're linking the `lib-pkp` repo somehow?

[2022-01-03 19:39] jonasraoni commented on #7585
Just a reminder to update the hashes =]
I think there's an issue somewhere to discuss alternatives for the submodules 🤔

[2022-01-03 19:50] Vitaliy-1 commented on #7285
As Swift Mailer is deprecated and no longer supported, I'm planning to move to Symfony Mailer, which also relies on `proc_*` functions:  https://github.com/symfony/mailer/blob/391a2ac6bf8ab298caa7b63826edc9500412ed16/Transport/Smtp/Stream/ProcessStream.php#L41
And it doesn't support `mail()` function either.

[2022-01-03 20:05] asmecher commented on #7585
OK! No need to file an issue for a submodule update -- and while we're using submodules it doesn't hurt to update them only when needed, otherwise it forces other devs to rebase their PRs.

[2022-01-03 20:05] #7585 closed

[2022-01-03 20:30] librariam commented on #4685
+1 from U of T and also https://forum.pkp.sfu.ca/t/htmlarticlegalley-plugin-ojs-3-3-0-8/70809

[2022-01-04 07:27] jonasraoni opened #7587 "Improve the discovery of submodules in the build script"
**Describe the problem you would like to solve**
At this moment we have to create a commit containing the text `##github-username/branch-name##` to hint the build script where to look for updated submodules.

**Describe the solution you'd like**
Update the script `startSubmodulesTRAVIS.sh` to look for submodules/matching hashes automatically at the PR's origin.

**Who is asking for this feature?**

[2022-01-04 09:34] jonasraoni commented on #7577
Hi @asmecher! Just wanted to confirm if I can merge this.
Then I'll proceed with another set of trivial fixes in order to decrease the review surface of the #6328.

[2022-01-04 11:22] p6steve opened #7588 "Authorization (Login)"
As mentioned on [PKP Community Forum](https://forum.pkp.sfu.ca/t/authorization-login/63199)

**Describe the bug**
From time to time a user reports a "stuck logon", they enter username/password and submit but do not advance or get a browser error message.

**To Reproduce**
I have observed (via screen share) a bad cookie conflict that is resolved by removing one of the cookies. Please see attached b

[2022-01-04 12:30] bozana commented on #6781
Hi all, I am now adapting the OPS with changes so far and I am at the COUNTER R4 report plugin. The plugin does not function, so I am wondering if it was used at all. @ajnyga, do you maybe know?

The following item and host types are specified there:
[code]
However, in COUNTER R5 it should be 'Repository_Item' and 'Repository'.
Thus, I will change it to fit with R5...

[2022-01-04 15:50] #7588 closed

[2022-01-04 15:52] asmecher commented on #7588
I'll re-open this if the conversation on the support forum (https://forum.pkp.sfu.ca/t/authorization-login/63199) progresses a little further towards a reproducible bug.

[2022-01-04 18:29] jonasraoni opened #7589 "[OJS] Inspect if the LDAP plugin is working properly"
**Describe the bug**
The LDAP plugin is using an outdated/broken version of the `ldap_sasl_bind` function.
The newer function introduced a new and bad positioned parameter (not added to the end) which is likely to break something.

**Questions**
I've fixed (without testing) in another PR, but as I couldn't find this plugin in OMP/OPS, I got a question... Is this plugin deprecated?

**What applicat

[2022-01-04 19:01] Vitaliy-1 commented on #7581
This replaces Swift Mailer with Symfony Mailer by patching Laravel's framework version that we are currently using, i.e. current state Symfony Mailer integration on Laravel framework master branch on top of the v.7.30.4 tag: https://github.com/Vitaliy-1/framework/commits/symfony-7.x.

I think it would be better to just replace Mail Service with a fork through composer's vcs repository but we are d

[2022-01-04 19:10] Vitaliy-1 commented on #7285
What about keeping PHPMailer's `mail` transport for cases when `proc_open` function is disabled? Basically, it requires porting our current Mail::send implementation to Symfony's Transport interface. Is it expected that such cases for shared hosting providers are common?

[2022-01-04 19:12] Vitaliy-1 commented on #7581
@asmecher, can you take a look at this PR?

[2022-01-04 19:26] asmecher commented on #7589
I don't recommend spending much time on the LDAP plugin without a) confirmation that it's needed by the community and b) thinking about future plans for single sign on.

My sense is that we get occasional requests from users about the LDAP plugin who don't realize that it doesn't provide single-sign-on services but only shared user accounts. Tools like Shibboleth and OpenID/OpenAuth are generally

[2022-01-04 19:31] asmecher commented on #7285
Yes, I expect so, unfortunately :( and adopting Symfony Mailer without a "plan B" for hosts that can't use it will turn this into a complaint megathread like this one: https://github.com/swiftmailer/swiftmailer/issues/866#issuecomment-289291228

So I would support a work-around that permits users who can't use `proc_open` functions to continue somehow.

However, I'm not a fan of including both PHP

[2022-01-04 20:04] asmecher commented on #7577
@jonasraoni, what IDE are you using? Does it pick up on the differently-formatted hints (in particular the `/** @var $varName VarType */`?
(I'm using vim, so it's not relevant to me, but I know others have depended on these in their current form -- using vscode, I think.)

Longer-term, I'd rather we relied on actual PHP type hints rather than doxygen-style self-documentation, and in cases where PH

[2022-01-04 20:53] asmecher commented on #7581
@Vitaliy-1, could you document the steps you took to create that patch?

Also, could you write a little more about the exception try/catch/error_log? I would like us to more broadly adopt exceptions and I'm not sure why it's necessary here to drop everything into an `error_log`. Is this for smoother handling of client-level errors e.g. incorrectly entered emails?

[2022-01-04 21:06] asmecher commented on #7569
See also this conversation:

https://academia.stackexchange.com/questions/1913/how-should-references-in-non-latin-script-language-be-treated-in-english-paper

The key distinction is between transliteration and translation, I think. Citations generally shouldn't be translated, but it can be very useful to have them transliterated (e.g. across Cyrillic and Latin character sets). Per the link above,

[2022-01-04 21:13] #7560 closed

[2022-01-04 22:36] asmecher commented on #7451
I've committed this to the `main` branch for release in 3.4.0, but it's not hard to back-port to 3.2.x or 3.3.x if needed. Because it involves a change to the meaning of a locale key, we can't commit it to earlier branches unless we have a translation update round.

[2022-01-04 22:36] #7451 closed

[2022-01-04 22:37] asmecher commented on #7452
@twakeford, does the above plugin meet your needs?

Longer term I'd like us to adopt session/user management tools from the Laravel platform, which will provide a lot of built-ins like this.

[2022-01-04 22:53] asmecher commented on #7572
@NateWr, what is your preference?
- We change the "Assigned To Editor" filter so that only editor results are matched, or
- We relabel it to "Assigned To..." and leave it so that reviewer matches are also included.

[2022-01-04 22:55] asmecher commented on #7567
My mistake in flagging that setting as `multilingual` in the JSON; I've removed that line.

[2022-01-04 22:55] #7567 closed

[2022-01-05 00:40] asmecher commented on #7561
I'll leave this to @NateWr to review, thanks -- this is his area of expertise!

[2022-01-05 01:24] asmecher opened #7590 "Resolve custom issue ordering error with PostgreSQL on publish"
See: https://forum.pkp.sfu.ca/t/invalid-column-reference-7-error-there-is-no-unique-or-exclusion-constraint-matching-the-on-conflict-specification/70199

Error log:
[code]

The issue occurs because the query (generated by Laravel's `replace` function) suggests that there will be a unique index on `issue_id, journal_id`. However, the primary key is on `issue_id` (and `journal_id` is redundant).

**

[2022-01-05 01:26] asmecher commented on #7590
For OJS 3.3.0-x users, you should be able to apply this commit to resolve the issue: https://github.com/pkp/ojs/commit/a376551cc031d9fb55f56e20e7de2240bb268cdc

[2022-01-05 01:26] #7590 closed

[2022-01-05 02:19] tanabem commented on #7583
@asmecher , Thank you for the correction.
I confirmed that "urlPublished" in "galleys" has been fixed. However, the other “urlPublished” is still "/article/".
Is it possible to correct with this as well?
[code]
Regards,

[2022-01-05 08:27] Vitaliy-1 commented on #7581
I've reviewed what is currently done on the master branch of Laravel framework to integrate Symfony Mailer and applied these modifications to version 7.30.4. It completely replaces Swift Mailer and its transports with correspondent code from Symfony. Apart from that, there is a change in the Laravel Mail Contract to exclude unused method.

The work on the framework main branch on Symfony Mailer lo

[2022-01-05 08:47] jonasraoni commented on #7589
I've just added the missing parameter and a setting for it. So I was just curious if the PR should attempt to fix it or remove it altogether if it's just forgotten code :)

[2022-01-05 09:34] jonasraoni opened #7591 "Inspect the feasibility of using Psalm to decrease run-time errors"
**Describe the problem you would like to solve**
Due to the nature of PHP, it's challenging to detect simple run-time errors due to broken typing promises.

**Describe the solution you'd like**
Investigate whether [Psalm](https://psalm.dev/), is able to help us mitigate these errors at building-time.
Perhaps it will produce too much noise due to untyped 3rd-party code.

**Who is asking for this fe

[2022-01-05 09:37] jonasraoni commented on #7577
@asmecher I can confirm that this format doesn't work in my vscode, other popular IDEs (e.g. [PhpStorm](https://phpstorm.tips/tips/20-generate-docblocks/)) are also using the standard format.

Yeah! For the long-term that's the path we should follow to decrease surprises with broken promises. It's really not possible to batch migrate at this moment, unless we had a high code coverage in the tests.

[2022-01-05 14:28] luizbgomide commented on #7348
@asmecher, just updated to the latest 3.3.0-8 and the error persists. This (day and full granularity) is affecting all our journals, so it is probably something site wide and not journal specific. Any ideas?

[2022-01-05 14:29] Vitaliy-1 commented on #7581
For recreating the patch clone the fork: https://github.com/Vitaliy-1/framework.git and run
[code]
The latter was created by comparing the current state of Laravel Mail Service with v7.30.4

[2022-01-05 15:11] Vitaliy-1 opened #7592 "Refactor review assignments emails"
**Describe the problem you would like to solve**
Refactor email sending code associated with review assignments.

**Describe the solution you'd like**
Convert to `Mailables` emails, which use `REVIEW_` templates:
- [x] - `REVIEW_CANCEL`
- [x] - `REVIEW_REINSTATE`
- [x] - `REVIEW_REQUEST`
- [x] - `REVIEW_REQUEST_SUBSEQUENT`
- [x] - `REVIEW_REQUEST_ONECLICK`
- [x] - `REVIEW_REQUEST_ONECLICK_SUBSEQUE

[2022-01-05 15:52] duozhasht commented on #6088
This problem still happens. It's not my intention to propose a proper fix but I think I found the culprit:

[code]

When the featured checkbox is ticked, it will add a new entry with default sequence value equals to 1.
If a seq (order value) is duplicated if will produce inaccurate results uppon using `array_flip` function [here](https://github.com/pkp/omp/blob/main/classes/press/FeatureDAO.inc.ph

[2022-01-05 17:26] asmecher commented on #7348
@luizbgomide, I think you're encountering this issue: https://github.com/pkp/pkp-lib/issues/6807

[2022-01-05 17:30] pmangahis opened #7593 "Filter Reviewers by Additional Roles in Journal"
Hosted client with the multi-lingual journal (and editorial board) would like the ability to search by an editorial board member.

They would like the ability to search by the role of the editorial board member.

**Describe the solution you'd like**
Filter out the reviewer search so we only see editorial board members. And then further filter by language, so we can access English ed board, Spanish

[2022-01-05 17:34] twakeford opened #7594 "Submitted Competing Interest data can go missing"
When invited to complete a peer review, the review task invitation interface, asks the Reviewer to declare whether they have Competing Interests or not, with the Reviewer being given the options

- 'I do not have any competing interests'
- 'I may have competing interests (Specify below)' with an associated text box.

It looks like the 'no CIs' option can be selected **as well as** text being added

[2022-01-05 17:35] asmecher commented on #7593
@pmangahis, there's currently no facility within OJS for listing editorial board members other than e.g. creating a static page with that content. Has the journal e.g. created a role for editorial board members?

There is some discussion of adding tools for maintaining a list of board members etc. as part of the Integrity Initiative: https://github.com/pkp/pkp-lib/issues/6042

...however, this is

[2022-01-05 17:38] luizbgomide commented on #7348
I've found that issue (and this is what made me notice the "now" issue), but what bugs me is that I ran the upgrade script from 3.3.0-8 but my DB didn't change...

[2022-01-05 18:08] pmangahis commented on #7593
I think they want to be filter reviewers who also have a Journal Editor or Section Editor role when they're assigning reviewers.

[2022-01-05 19:03] asmecher commented on #7348
@luizbgomide, that output says you're already on 3.3.0-8, so the relevant upgrade step will not be executed. The best solution is to manually run the two database queries coded here:

https://github.com/pkp/ojs/commit/ad7c3564e58a6edfe1b9907bda4e7a02d8693dca

(Please take a backup before manually running DB updates.)

[2022-01-05 19:17] asmecher commented on #7593
Ah, so this is the "Assigned To Editor" filter on the submission list, which currently also includes reviewers? That is flagged here: https://github.com/pkp/pkp-lib/issues/7572#issuecomment-1005230991

As for working languages, there is a suggestion related to that here: https://github.com/pkp/pkp-lib/issues/6221

I think this would actually be covered by some work @NateWr has been considering aro

[2022-01-05 19:26] asmecher commented on #6221
A request for filtering by working languages on editorial assignments as well: https://github.com/pkp/pkp-lib/issues/7593

[2022-01-05 20:36] librariam opened #7595 "Valid special characters are stripped from DOI suffix"
**Describe the bug**
Starting in OJS 3.3, all special characters present in a journal acronym are stripped from the DOI suffix - as per [#5505](https://github.com/pkp/pkp-lib/issues/5505)

This includes the characters that are recognized as [valid by Crossref](https://www.crossref.org/documentation/member-setup/constructing-your-dois/#afewrules), in particular: "hyphen, period, underscore, semicol

[2022-01-05 23:40] asmecher commented on #7589
I'm not against fixing it, but it's a low priority for investing time at the moment.

[2022-01-06 12:52] luizbgomide commented on #7348
The same happened when I updated from 3.3.0.3 to the newest, I just reapplied without any different result.

I ran the queries manually and it worked.

[2022-01-06 12:52] #7348 closed

[2022-01-06 16:13] henriqueramos commented on #4622
@asmecher Could you please take a lot on those pull requests? Seems the tests are passing.

[ojs](https://github.com/pkp/ojs/pull/3132)
[pkp-lib](https://github.com/pkp/pkp-lib/pull/7049)
[ops](https://github.com/pkp/ops/pull/196)
[omp](https://github.com/pkp/omp/pull/1031)

[2022-01-06 18:38] pmangahis commented on #1550
+1 for hosted client

[2022-01-06 19:13] crowesn opened #7596 "No access granted for non-expiring subscription"
**Describe the bug**

Users with non-expiring subscription are not granted access to subscription content in OJS3.

**To Reproduce**

Steps to reproduce the behavior:
1. Login as admin
2. Navigate to Payments > Subscription types > Create New Subscription Type
3. Fill out required fields, duration=blank, under __Subscriptions__, check radio button `Individual (users are validated via login)`
4. Cl