[2020-04-17 20:50] #5750 closed

[2020-04-17 21:06] israelcefrin commented on #5202
Just reviewing and confirming that it is all fine. I've realized that the  `#pkp_content_nav` has changed to `#siteNav `though.

[2020-04-18 00:14] amandastevens opened #5752 "Order articles in category by dragging and dropping"
Currently when you use the Categories feature in OJS and OMP, you can order the books/articles in the category by date published or title (and OMP has an additional option to order by Series Position).

One Editor user (a PKP hosted client) published 3 articles in a category on the same day and would really like the Introduction article to go first on the category page, but can't create this order

[2020-04-18 00:50] asmecher opened #5753 "Submission checklist "edit" link leads to 404"
See https://forum.pkp.sfu.ca/t/404-not-found-after-upgrade-ojs-to-version-3-2-0-2/59922 for details:

Other similar "edit" links should be checked and fixed, as the settings rewrite probably broke a few of them.

[2020-04-18 12:35] zalamuia opened #5755 "OJS 3.2.0.2 Unable to import CrossRef data"
Dear Sir,

S platform | Linux
-- | --
PHP version | 7.2.17
Apache version | Apache/2.4.6 (CentOS)
Database driver | mysqli
Database server version | 5.5.60-MariaDB

After updating to OJS3.2..0.2 from 3.1.2.4 I am unable to import CrossRef data even can not download xml data also.

It gives

This page isn’t working

XXXXXXX is currently unable to handle this request.
HTTP ERROR 500

And it looks li

[2020-04-18 15:26] asmecher commented on #5755
Check your PHP error log for details; there should be a message there corresponding with the 500 response code you received.

[2020-04-19 01:23] zalamuia commented on #5755
**display_errors = on**

Fatal error: Uncaught Error: Call to a member function saveXml() on null in /home/ojs/ejournal/classes/plugins/PubObjectsExportPlugin.inc.php:372 Stack trace:
#0 /home/ojs/ejournal/classes/plugins/PubObjectsExportPlugin.inc.php(195): PubObjectsExportPlugin->exportXML(Array, 'article=>crossr...', Object(Journal), true)
#1 /home/ojs/ejournal/plugins/importexport/crossref/Cro

[2020-04-19 03:15] asmecher commented on #5755
Hi @zalamuia -- see https://github.com/pkp/pkp-lib/issues/5681 for details and a solution.

[2020-04-19 03:15] #5755 closed

[2020-04-19 03:23] amandastevens commented on #5642
I looked at popular email marketing tools that could be used to send out email notifications to OJS users and what they require for contacts import.  The ones I looked at either require email, first name, and last name or only email or have no required fields.  So I don’t think you need to add any additional fields to accommodate these tools.  Otherwise we should just think about which user fields

[2020-04-19 03:38] zalamuia commented on #5755
Thanks. Problem solved.

[2020-04-20 04:23] ajnyga commented on #5659
I am still seeing this happening with the Contributors grid and the Galleys grid. The form save button does work now but the grid's have to be refreshed with a page reload.

[2020-04-20 10:02] NateWr commented on #5729
Good idea, @alexxxmendonca! I should caution that this isn't planned for the near future. But I filed the issue to flesh out some roadmap/planning we are working on.

[2020-04-20 11:03] NateWr commented on #3022
Thanks @mfelczak. In this case, does the editor want to prevent the invitation email from being sent at all, so that section editors aren't alerted to the new journal yet?

I'm trying to think through how we do this in a way that doesn't just lead to rampant GDPR-abuse-by-ignorance. Ideally, the JM would invite, then have a special button where they could confirm an invitation, and that action wou

[2020-04-20 11:08] NateWr commented on #5240
Thanks @israelcefrin. The Open Menu button should not be announced. It is only for visual users to toggle the menu open/closed on small devices. The menu is available either way for screen readers.

Ok, so @thinkbulecount2 it looks like we still need the following changes:

- [ ] `{include file="frontend/components/skipLinks.tpl"}` should be moved to the first child element of `<header>` in `front

[2020-04-20 11:13] NateWr commented on #5737
Can you show me the database records for your journal settings for the locales? The following command should do it:

[code]

[2020-04-20 11:45] NateWr commented on #3304
Is it possible to distinguish between permanent and ephemeral storage? For example, contexts should certainly get permanent storage if available. But a review assignment record we might only want to put in ephemeral storage during requests that require it... Or maybe this is not worth optimizing for?

I agree it should be in the service classes. :+1:

[2020-04-20 12:54] ajnyga opened #5757 "[OJS] Decline submission button does not refresh the workflow"

[2020-04-20 13:10] ajnyga commented on #5757
pkp-lib: https://github.com/pkp/pkp-lib/pull/5758
OJS, just tests: https://github.com/pkp/ojs/pull/2711

[2020-04-20 14:41] thinkbulecount2 commented on #5240
OJS: https://github.com/pkp/ojs/pull/2712
pkp-lib: https://github.com/pkp/pkp-lib/pull/5759

cc: @NateWr

[2020-04-20 14:55] NateWr commented on #5240
Thanks @thinkbulecount2. One quick change needed. OMP too! And I guess now we need to do OPS...

[2020-04-20 15:01] thinkbulecount2 commented on #5240
Will do OMP and then do an install of OPS!

[2020-04-20 15:01] thinkbulecount2 commented on #5240
Also @NateWr made some changes as per PR comments!

[2020-04-20 15:26] thinkbulecount2 commented on #5240
PR for OMP: https://github.com/pkp/omp/pull/798

cc: @NateWr

[2020-04-20 15:34] israelcefrin commented on #5240
@NateWr let me know whether you think it is required a second review round, otherwise, I will move the issue on project to the Done board.

[2020-04-20 15:37] NateWr commented on #5240
@israelcefrin I'll leave it at In Progress until the PRs are merged and then move to Needs Documentation.

[2020-04-20 15:47] asmecher commented on #3304
I'm not 100%, but generally I think this should be left up to the caching implementation. A good implementation should be able to handle an avalanche of new and never-to-be-used-again entrants while still maintaining other very frequently used entrants. I suspect the Ephemeral driver is the least sophisticated of the lot and just stores everything, possibly with an upper memory limit.

I'd suggest

[2020-04-20 15:57] thinkbulecount2 commented on #5240
PR for OPS: https://github.com/pkp/ops/pull/14

cc: @NateWr

[2020-04-20 16:27] NateWr commented on #5240
Thanks everyone! Merged. :+1:

[2020-04-20 16:27] #5240 closed

[2020-04-20 16:36] NateWr commented on #3304
Sounds like a good plan. I mistakenly thought the driver would just be a config option and we wouldn't have to worry about it, but sounds like there's more to it. I agree moving cautiously is good. :+1:

[2020-04-20 16:52] mfelczak commented on #3022
Hi @NateWr, it's probably fine if the invitation email goes out as it'll contain each user's login info. As long as JMs are able to add and start using the accounts for journal setup, e.g. to assign to Sections, without needing to wait for each SE's email confirmation, this should be ok.

[2020-04-20 17:14] israelcefrin commented on #5175
`H1` has been moved away from the logo, and it has been recognized using keyboard and screenreader software.  I'd just recommend to move the `H1` tag before the journal logo tag.
Internally the H1 has been correctly removed from the logo as well.

[2020-04-20 17:31] israelcefrin commented on #5177
@NateWr  all issue titles with H2 tag. No code change required to this one.

One side note, I think we should consider to add the Issue title to Cover image when JM enables both (title and Cover image). Assuming that the cover image is just a link to the issue, it makes sense to announce where that cover image is pointing to. If no ALT text is provided we can use it as fallback.

Currently, if no

[2020-04-20 18:25] defstat commented on #2689
@asmecher

The `datetime` class is found to other `inputs` but they don't seem to take a formatted date from the server side code.

**PR**
[PKP-LIB]: #5760

[2020-04-20 19:46] israelcefrin commented on #5186
Code reviewed and aria-required="true" element is set to all mandatory fields. Testing with a screenreader it announces that the input field is Required.

@NateWr and @thinkbulecount2 , testing the whole form the element "*" is announced as "star" while reading the Label for each mandatory field. For example: "Given name _star_ required" when focused on the _Given Name_ label.

I'd suggest to add

[2020-04-20 20:53] asmecher opened #5761 "citationStyleLanguage refers to nonexistent Request::handle404"
From https://forum.pkp.sfu.ca/t/3-2-0-2-php-fatal-errors-citations-style-language-and-getlocalizedfulltitle-on-null/59946:

The cause is probably a request for a nonexistent object or format, i.e. a legitimate 404, but the handler is calling a nonexistent `handle404` function on `Request` rather than the `handle404` function on `Dispatcher`.

[2020-04-20 20:56] asmecher commented on #5761
This can be resolved by applying https://github.com/pkp/citationStyleLanguage/commit/fa5b8a0fce8fd2bfa5cdd29abc81c7765900b4ce in the `plugins/generic/citationStyleLanguage` subdirectory.

[2020-04-20 20:56] #5761 closed

[2020-04-20 23:08] asmecher opened #5762 "Error when viewing a PDF issue galley"
From https://forum.pkp.sfu.ca/t/3-2-0-2-php-fatal-errors-citations-style-language-and-getlocalizedfulltitle-on-null/59946:

[2020-04-20 23:10] asmecher commented on #5190
Hi all -- this causes a fatal error when viewing a PDF issue galley, as the `$publication` object doesn't exist for an issue galley. I've filed this separately at https://github.com/pkp/pkp-lib/issues/5762. @thinkbulecount2, do you want to take a crack at fixing it?

[2020-04-20 23:11] asmecher commented on #5190
(Actually, leaving this one closed -- work can continue at https://github.com/pkp/pkp-lib/issues/5762.)

[2020-04-20 23:11] #5190 closed

[2020-04-20 23:12] asmecher commented on #5762
(This issue is caused by the assumption that the PDF view has a `$publication` object, which isn't the case for issue galleys. See https://github.com/pkp/pkp-lib/issues/5190.)

[2020-04-20 23:16] dudu9999 commented on #5737
hi @NateWr

![image](https://user-images.githubusercontent.com/17937849/79808266-af944a00-8343-11ea-845d-1b85c83be17c.png)

thanks again for your help and attention Nate.

[2020-04-20 23:16] asmecher opened #5763 "Driver settings of postgres, postgres6, and postgres9 result in missed upgrade steps"
There is ambiguity over which `driver` setting in `config.inc.php` should be used for PostgreSQL-based installations.

The installer uses `postgres9`; the upgrade scripts expect `postgres7` for DBMS-specific queries.

For MySQL, there are many duplicated queries for `mysql` vs. `mysqli`.

Add support for a single `query=` statement to include several database names; clear out duplicates.

[2020-04-21 00:00] asmecher commented on #5763
(See https://forum.pkp.sfu.ca/t/problem-after-upgrading-to-ojs-3-2-0-2-crossref-plugin-and-another-errors/59840/17 for an example of this causing problems in the support forum.)

[2020-04-21 00:26] #5763 closed

[2020-04-21 00:39] asmecher commented on #5762
Users who are encountering this and are waiting for a fix can work around it in the meantime by reversing this change: https://github.com/pkp/ojs/pull/2652/commits/3f04c60a77a3a913b8ede151e185498584ec02d6

[2020-04-21 09:08] NateWr commented on #3022
I think we'll need to wait for confirmation before allowing the user to be used throughout the system. But it sounds like maybe it's ok if the JM does the invite then immediately confirms themselves? The SE would receive two emails: one with an invitation and then one for the confirmation.

[2020-04-21 09:09] NateWr commented on #5175
:+1: @thinkbulecount2 can you take care of that when you get a chance?

[2020-04-21 09:12] NateWr commented on #5177
Ok, so the `default` should be "View {$issue->getLocalizedTitle()|escape}"?

[2020-04-21 09:21] NateWr commented on #5762
That commit deals with HTML galleys and I don't think issues support HTML galleys. I think the commit you want to reverse is in pdfJsViewer: https://github.com/pkp/pdfJsViewer/commit/96f3ead5864e55b383437a97f15eacfc547dd1ee.

@thinkbulecount2 I think there are two places in the pdfJsViewer `display.tpl` template: where it uses `$galleyPublication->getData('datePublished')` and where it uses `$publ

[2020-04-21 09:24] NateWr commented on #5737
Hmm, it looks like maybe the array keys are off. Can you expand the `setting_value` column so we can see the whole thing?

Also, can you remind me if you had this problem in 3.1.x as well? Or only when you upgraded to 3.2?

[2020-04-21 11:14] ajnyga commented on #3022
My opinion is that it is inevitable that the Journal Manager's ability to create new user accounts and apply roles to them has to be removed if we want OJS to be GDPR proof. The only question in my mind is that should the Site Manager still have this ability. This is of course open to argument.

The Journal Managers would just be able to either 1) invite existing users to a role or 2) invite a new

[2020-04-21 12:33] jnugent commented on #5134
Following up on this because it is probably related.

Describe the bug:

If a file is attached to a note in the review stage, and then promoted to copyediting (where it appears in the draft files grid), a copy editor is unable to download it. The error is the JSON message for insufficient permissions.   Editors have no problem.

The file in question has an assoc_type of 520 (ASSOC_TYPE_NOTE).  It

[2020-04-21 12:35] BagiraHun commented on #4915
There is a bug in https://github.com/pkp/pkp-lib/blob/master/controllers/grid/queries/form/QueryForm.inc.php#L243

Due type mismatch of the two value, you have to cast them to same integer type (int) or you have to use == operator.

My solution is: https://github.com/BagiraHun/pkp-lib/tree/blind_reviewer_author_patch

[2020-04-21 13:22] PeterfordUP commented on #4932
We have released a plugin that addresses a user story of ours that was close to this, but did not quite align: megajournal 'subjects'. The community forum post is here: https://forum.pkp.sfu.ca/t/subject-taxonomy-plugin-for-ojs3/60001

[2020-04-21 13:44] NateWr commented on #3022
I don't think that the software is the start and end of all the relevant conditions. In the cases that @mfelczak outlined, it is entirely plausible that a JM has permission to create accounts for the editorial team when they're setting up the journal. That permission does not have to be granted through the software itself.

The software should facilitate GDPR compliance and the design of the appli

[2020-04-21 14:08] israelcefrin commented on #5177
Yes, exactly.

[2020-04-21 14:35] thinkbulecount2 commented on #5175
PR: https://github.com/pkp/pkp-lib/pull/5765

cc: @NateWr

[2020-04-21 14:46] asmecher commented on #4915
@BagiraHun, are you sure that the change you're proposing fixes the issue being described here? Or is it another (but perhaps related) issue? A bit more information about what this resolves would be helpful. Thanks!

[2020-04-21 14:52] asmecher commented on #5134
Hmm, this is a question that needs to be clarified at the user/policy level before it can be fixed at the code level... Because files attached to discussions (queries) have specific user permissions associated with them (i.e. the users assigned to the discussion), it makes sense that users outside that group shouldn't be able to see them... however, the "Promote" action suggests that an explicit b

[2020-04-21 17:22] BagiraHun commented on #4915
@asmecher, we are currently using the latest (v3.2.0.2) version of OJS. Most of our journals's "Default Review Mode" setting has "Double-blind" param. Our workflow tester followed the reviewer's steps in OJS as a Reviewer of the article. At step #3 (Download & Review) she could make a "Review discussion" with the Author as well. Although the Review Mode was Double-blind the Author got the message

[2020-04-21 17:25] drugurkocak commented on #4919
Hi, while upgrading a journal with 7 years old database, I tried hard and succeeded. I faced all the listed problems, and fixed them with the help of OJS forum. In my site, I modified apache httpd.conf to remove journal prefix and publish multiple journals on their own domains.
I had the same API error after upgrading to OJS 3.2.0.2
I also tried some fixes here, but no success.
Is there any good n

[2020-04-21 17:29] thinkbulecount2 commented on #5186
Updated! PR: https://github.com/pkp/pkp-lib/pull/5766

cc: @NateWr

[2020-04-21 19:08] asmecher commented on #4919
@drugurkocak, same questions as above -- what is your base_url and base_url[] configuration, and what rewrite rules are you using?

[2020-04-21 19:12] asmecher commented on #4915
Thanks, @BagiraHun; I haven't verified the problem locally but it sounds like you've done your homework and relaxing the current exact test is a no-risk proposition. I've committed a change along the lines of what you propose for release with OJS/OMP/OPS 3.2.0-3 and onwards.

[2020-04-21 20:31] drugurkocak commented on #4919
Hi @asmecher ,

Thank you for your support. As a dr, I wish health to you, your family and all OJS team on these Corona days.

The OJS version is 3.1.2-4 now because I had to restore the server from its backup image. But its configuration is identical to the one after upgrade. After getting success on my notebook (MAMP),  I had applied the upgrade directly on the server side.

Tonight, I will crea

[2020-04-21 22:45] Maugenta commented on #5690
Hi! I had the same problem, fixed it (at least for now) doing the changes Alleyne suggested. It happened after upgrading to 3.2, i also have a backup from cPanel from before updating, if you need.

from this:
1 |   | supportedFormLocales | a:1:{i:**1**;s:5:"es_ES";}
1 |   | supportedLocales | a:1:{i:**1**;s:5:"es_ES";}
1 |   | supportedSubmissionLocales | a:1:{i:**1**;s:5:"es_ES";}

to this:
1 |  

[2020-04-22 06:56] ajnyga commented on #5739
also ping @withanage because this is also an issue in the ORCID plugin.

Currently the plugin defines the difference between an Author and a Translator based on the userGroup en_US name: https://github.com/pkp/orcidProfile/blob/master/OrcidProfilePlugin.inc.php#L37 and https://github.com/pkp/orcidProfile/blob/master/OrcidProfilePlugin.inc.php#L1147.

This of course breaks if some OJS installation

[2020-04-22 09:00] NateWr opened #5769 "Fatal error when generating custom report"
**Describe the bug**
When using the custom report generator (Tools > Reports > Custom Report Generator) I get the following error:

[code]

**What application are you using?**
OJS 3.2

[2020-04-22 09:18] NateWr commented on #5175
Merged!

[2020-04-22 09:18] #5175 closed

[2020-04-22 09:19] NateWr commented on #5186
Merged!

[2020-04-22 09:19] #5186 closed

[2020-04-22 10:18] NateWr commented on #5690
You've cracked it, @Maugenta! It is an issue with non-sequential array keys, which PHP supports but JavaScript doesn't. Thanks to @Alleyne, @TruePepe and @dudu9999 for sharing their databases to help me track this one down.

A fix for this will go out with the next version (3.2.0-3). If you don't want to wait for that release you can apply [this change](https://github.com/pkp/pkp-lib/pull/5770/fil

[2020-04-22 10:19] NateWr commented on #5737
In the end, I think that this _is_ the same problem as #5690. You can read about the solution in [this comment](https://github.com/pkp/pkp-lib/issues/5690#issuecomment-617688409).

I will close this for now but let me know if the fix described there does not solve the problem for you.

[2020-04-22 10:19] #5737 closed

[2020-04-22 10:23] NateWr opened #5772 "Add upgrade script to reset array keys for context locales"
Supported locale arrays are serialized in the database. Some old installations have arrays with non-sequential keys and this causes problems when the data is passed through `json_encode`, which turns it into an array. See #5690.

A stop-gap was put in place (https://github.com/pkp/pkp-lib/pull/5771/commits/de789013fb374d1cb4550a343bead67a3211fd37) by running it through `array_values()`. However, t

[2020-04-22 15:46] asmecher commented on #5772
(We discussed swapping out `serialize` for `json_encode` for objects that are stored in serialized form in the database; that would solve this too.)

[2020-04-22 17:55] alexxxmendonca opened #5773 "[OPS] Authors can't associate ORCID ID after preprint is posted"
**Describe the bug**
After a preprint is posted, authors are unable to associate their ORCID ID to the metadata.

They see the following message after they click on the deeplink sent by e-mail:

![image](https://user-images.githubusercontent.com/4059679/80015813-a670bd80-84a8-11ea-8a03-05636845f072.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Submit a preprint.
2. Add co-authors; do

[2020-04-22 18:03] ajnyga commented on #5773
@withanage did not have time to test this yet, but seems that the API does not allow the plugin to update metadata. I would think that this is an issue also in OJS, but could be that there is some fix there that is not in OPS.

[2020-04-22 18:22] alexxxmendonca opened #5774 "[OPS] Rewording of preprint "relations""
This is neither a bug or a feature request, but I feel like this falls a little more into the "feature request" category.

**Describe the problem you would like to solve**
Currently, the "Relations" lists the following predetermined statuses:

- Preprint has not been submitted for publication
- Preprint has been submitted for publication in journal
- Preprint has been published in a journal as an

[2020-04-22 18:35] alexxxmendonca opened #5775 "[OPS] Ammend preprint relations and submission conditions on preprint PDF"
**Describe the problem you would like to solve**
The relations of a preprint and the conditions to which it was submitted to the server are only shown on the web interface (HTML). These are not included on the PDF.

These PDFs can be posted and shared elsewhere, sometimes even out of context, which may raise trusting issues to preprints.

There needs to be clear indication of the status of the pre

[2020-04-22 20:11] asmecher commented on #5683
Confirmed working;  merged and cherry-picked to `stable-3_2_0`.

[2020-04-22 20:11] #5683 closed

[2020-04-22 23:57] asmecher commented on #5775
This is something that would need to be implemented as a plugin, I think, because commodity servers may not reliably have tools present to add watermarks. There's some discussion of potential toolsets here: https://stackoverflow.com/questions/3983432/applying-watermarks-on-pdf-files-when-users-try-to-download-the-files

[2020-04-23 00:09] asmecher opened #5776 "Sort country lists by country name, not code"
See https://forum.pkp.sfu.ca/t/changing-the-list-of-countries-displaying-on-registration/60031:

[2020-04-23 00:12] #5776 closed

[2020-04-23 00:14] asmecher commented on #5776
Commits to fix this for OJS 3.2.0 (before 3.2.0-3, in which the fix will be released):
- https://github.com/pkp/ojs/commit/a33f60c41b7d6108b43da6b835e9bf4bff0c2e9b (in the OJS installation directory)
- https://github.com/pkp/pkp-lib/commit/3982020dc8b00ac084eacba5decb4ae0566a3955 (in the `lib/pkp` subdirectory)

[2020-04-23 00:17] TOCFoundation opened #5777 "[OJS]"
cannot install plugin says Tar file unavailable in config.php.in

[2020-04-23 00:20] asmecher commented on #5769
Is this an installation from git, or from `.tar.gz`?

[2020-04-23 00:22] asmecher commented on #5777
@TOCFoundation, I'd suggest starting on our support forum (https://forum.pkp.sfu.ca/). Search for the error message you see and work through the threads that discuss possible causes. If you can't find a solution there, post your situation as a new topic, including what you've tried so far and what the result was.

[2020-04-23 00:22] #5777 closed

[2020-04-23 02:38] thinkbulecount2 commented on #5177
@NateWr: How do I use string literals (to add the "View $issue->LocalizedTitle" in this case?

https://github.com/pkp/ojs/compare/master...thinkbulecount2:i5177_headings_issue?expand=1#diff-6e97ba30b7e9b915cf13d0729bacc6c0R33

[2020-04-23 02:50] thinkbulecount2 commented on #5762
Does this also affect `htmlArticleGalley` plugin?

[2020-04-23 03:54] thinkbulecount2 commented on #5762
PR here, let me know if this is what you meant, @NateWr!

https://github.com/pkp/pdfJsViewer/pull/53

[2020-04-23 09:27] NateWr commented on #5772
I don't think that just swapping over to `json_encode` would solve this. The locales from the database would be decoded to an object in PHP, and then encoded into a JSON object when passed to the browser, so the error would persist. At some point, we need to reset those array keys.

[2020-04-23 09:37] NateWr commented on #5769
git.

[2020-04-23 09:41] NateWr commented on #5177
I think you'll need to capture some output and assign it to a variable. In Smarty that works like this:

[code]

[2020-04-23 09:45] NateWr commented on #5762
Yeah, you've got it. Except that in `issueGalley.tpl` there is no `$publication`, so you need to use `$issue->getIssueIdentification()` for the `title` instead.

Also, look for where `$galleyPublication->getData('datePublished')` is used. That also needs to be passed in from the submission/issue template.

[2020-04-23 10:21] NateWr opened #5778 "Homepage image alt text doesn't show up"
**Describe the bug**
When using alt text on the homepage image, it doesn't show up. See https://github.com/pkp/ojs/pull/2715.

**What application are you using?**
 3.2

[2020-04-23 10:26] NateWr commented on #5778
PR:
https://github.com/pkp/ojs/pull/2715
https://github.com/pkp/ojs/pull/2718 (stable)

[2020-04-23 10:51] #5690 closed

[2020-04-23 12:27] thinkbulecount2 commented on #5762
@NateWr: Do you mind taking a second look? Made the changes based on your comments. Thanks!!!

[2020-04-23 12:45] thinkbulecount2 commented on #5177
PR:
[OJS](https://github.com/pkp/ojs/pull/2719)
[pkp-lib](https://github.com/pkp/pkp-lib/pull/5779)

cc: @NateWr

[2020-04-23 15:23] asmecher commented on #5772
Yes, I was thinking they'd be reset when the conversion to JSON happened, and thereafter keeping things in the DB as a JSON array would prevent the ambiguity.

[2020-04-23 15:24] asmecher commented on #5769
Is it possible you've got an old version of the usage stats plugin?

[2020-04-23 20:38] silasdb commented on #4939
Hi! I just upgraded an installation of OJS from 3.1.0 to 3.1.2-4 and then to 3.2.0-2 and I'm getting the error above. This version (3.2.0-2), however, has the reported patch. Maybe I'm doing something wrong?

[2020-04-23 21:02] openacademia commented on #4246
I agree, either option 1 or 2 (or a combo) would be great!

(Regarding the email: There is already an email template for second/third/fourth/etc. review rounds, the "Review Request  Subsequent" and as always, the editor can edit the email prior to sending.)

[2020-04-23 21:56] asmecher commented on #4939
@silasdb, what is the full, exact message you're getting during upgrade? Is this a first upgrade attempt, or a second attempt after a failed upgrade?

[2020-04-23 21:59] asmecher commented on #2689
Thanks, @defstat -- merged https://github.com/pkp/pkp-lib/pull/5760 and cherry-picked to `stable-3_2_0`!

[2020-04-23 21:59] #2689 closed

[2020-04-23 22:06] pmangahis opened #5780 "Replace files in Publisher Library"
A hosting client has brought to our attention that there is no simple way for a Journal Manager to replace a file and keep the same URL.

Deleting and re-adding the file causes the numbering at the end to change. The only way this can be done is by replacing the file in the backend in order to keep the URL the same.

It would be ideal to keep the same URL if this is hyperlinked in different pages

[2020-04-23 22:25] HongPong opened #5781 "Suppress SMTP authentication in PHPMailer"
**Describe the problem you would like to solve**
The client SMTP mailer had a certificate that could not be tuned to the expected host.

**Describe the solution you'd like**
An optional switch in the configuration file to adjust the PHPMailer parameters to skip checking the certificate of the contacted SMTP server.

**Who is asking for this feature?**
Server administrator/developer

**Additional i

[2020-04-23 22:35] HongPong commented on #5781
Both PR's are required to get the expected behavior here. Thank you for considering the issue!

[2020-04-23 22:58] asmecher commented on #5781
PRs:
- https://github.com/pkp/ojs/pull/2720
- https://github.com/pkp/pkp-lib/pull/5782

Minor comments left on each; thanks, @HongPong. Please drop a note here when you've had a chance to go over them!

[2020-04-23 23:07] HongPong commented on #5781
PRs updated thanks for the review :)

[2020-04-24 04:40] TobiasWantzen commented on #1832
@asmecher If you want to see, how a symphony based CMS manages this part, take a look at www.contao.org, which changed to a symphony application since version 4. The only caveat: The installation process is not as easy as it was.

[2020-04-24 04:51] fgnievinski opened #5783 "UI could warn users that multiple file upload is not supported in OJS 2"
As per previous discussions:

https://github.com/pkp/pkp-lib/issues/2097#issuecomment-268339436

https://github.com/pkp/pkp-lib/issues/3789#issuecomment-397364092

https://github.com/pkp/pkp-lib/issues/3502#issuecomment-374706203

It'd seem that authors and reviewers would benefit from a note in the user interface warning about this often misunderstanding:

_Multiple distinct files (e.g., cover le

[2020-04-24 08:27] ajnyga commented on #5775
John had a related request on an automatically generated PDF cover page.

I agree that it would be problematic to offer this as a core feature, but a plugin would be possible.

I think a plugin creating automatic cover pages would be a wellcome feature for OJS as well.

[2020-04-24 08:47] ajnyga opened #5784 "[OMP] Site index should list all presses"
Discussion https://forum.pkp.sfu.ca/t/omp-site-index-redirects-to-login-page/43392/6

- if only one `press`, automatic redirect from `index` to `press`
- if more than one `press` index shows press listing, but you can do a redirect from `index` to a specific `press` from `Administration > Site settings > Site setup`

[2020-04-24 08:56] peterstadler commented on #1504
Since we've been bitten by that same issue I wanted to share our remedy. We fixed it by adding `SetEnvIf X-Forwarded-Proto "^https$" HTTPS=on` to the apache config (running OJS) which will properly inject that `HTTPS` key to the `$_SERVER` needed at  https://github.com/pkp/pkp-lib/blob/c5f40d7d390d0aedb9a4f9063914652aa6e3dc6c/classes/core/PKPRequest.inc.php#L351

Yet, I think the 'proper' way woul

[2020-04-24 14:03] ctgraham commented on #4919
@drugurkocak , in my experience the use of `%{REQUEST_FILENAME}` as a `RewriteCond` directive in your mod_rewrite rules will not work as you might expect with Apache after 2.2 (e.g. with your use of Apache 2.4).  See, for example, this commented re-write rule example:
[code]

This doesn't redirect specific journals to mask the context path, but the example should be usable in combination with the

[2020-04-24 14:21] PeterfordUP commented on #4246
Hi @NateWr,

Thanks for this - we're looking at options 1 and/or 2. I do want to ask about your thoughts on the forced pairing of reviewer _assignment_ and reviewer _invitation_?

At the moment, this seems a bit problematic, as there are a number of situations where reviewers need to be assigned, but invitations are not ready to be sent out (in OJS 2 this functionality might have been split?). Wit

[2020-04-24 15:28] asmecher commented on #5176
There are cases where `article_summary.tpl` is used without the new `$heading` template variable being set, leading to broken article summaries e.g. in the search results:
![image](https://user-images.githubusercontent.com/200411/80229593-81459180-8605-11ea-9f74-18822a329311.png)
I think the `$heading` variable should have a default in the template, and the variable should be documented in the sel

[2020-04-24 15:39] asmecher commented on #5783
@fgnievinski, this is an issue that affects only OJS 2.x, correct?

We're definitely not going to devote more time as a team to developing OJS 2.x, although community maintenance is welcome (e.g. if you'd like to submit a pull request).

That's going to be a limited-time strategy, I'm afraid, as the server platforms move on (e.g. PHP) and backwards-compatibility gets broken. If there's a particula

[2020-04-24 15:45] asmecher commented on #5781
Merged for release in OJS 3.2.1 -- thanks for contributing!

[2020-04-24 15:45] #5781 closed

[2020-04-24 15:51] alexxxmendonca commented on #5775
Thank you! We are already looking into outsourcing a plugin development.

Agreed on being useful for OJS as well.

[2020-04-24 16:34] Hikky99 commented on #1571
I am using OJS in English and I have the same issue since August last year. Is there a fix now?

[2020-04-24 18:32] alexxxmendonca opened #5786 "[OPS] "Comments to the Moderator" not showing to Moderators"
**Describe the bug**
Any content added to the "Comments to the Moderator" box during the submission process aren't shown to the Moderators during Production stage.

Basically, that information is not being passed along to the moderation.

**To Reproduce**
Steps to reproduce the behavior:
1. Submit a preprint;
2. Add some content to the "Comments to the Moderator" box;
3. Check submitted preprint a

[2020-04-24 19:06] asmecher commented on #1571
@Hikky99, have you reviewed the earlier clarification on this issue (e.g. https://github.com/pkp/pkp-lib/issues/1571#issuecomment-229467297)?

[2020-04-24 20:10] asmecher commented on #5780
See also https://forum.pkp.sfu.ca/t/ojs-3-2-0-2-are-files-in-publisher-library-automatically-renamed/60029/6; a URL slug might be helpful to add (along with a way to update existing files).

[2020-04-24 20:45] asmecher commented on #5786
The "comments to the moderator" field contents are sent to a new query in the Submission stage, per `lib/pkp/classes/submission/form/PKPSubmissionSubmitStep1Form.inc.php` (`setCommentsToEditor` function). @ajnyga, I suppose the issue is that we're only showing the production workflow stage?

[2020-04-24 21:15] asmecher commented on #1833
See https://blog.maxmind.com/2018/01/02/discontinuation-of-the-geolite-legacy-databases/ for a note on the discontinuation of GeoLite the legacy databases.

Moving to the 3.2.1 milestone for consideration -- this isn't confirmed yet.

[2020-04-24 21:16] asmecher commented on #1833
This also needs addressing in the `README.md` document, and the admin guide at https://docs.pkp.sfu.ca/admin-guide/en/statistics#configure-regional-data-tracking.

[2020-04-24 21:16] asmecher commented on #1833
(@ctgraham, have you encountered this?)

[2020-04-24 21:55] adrianojam commented on #5626
@jpcv222 , the same mistake happens to me.  The query from #5583 (comment) returns 0 rows for me too.  I use postgres7.  Upgrade ojs-3.1.2-4 to 3.2.0-2.

[2020-04-25 00:07] asmecher opened #5787 "OJS 2.x to 3.2.0 (prior to 3.2.0-3) migration scrambles keyword, discipline, supporting agency, subject article metadata"
When upgrading from OJS 2.x to 3.2.0, 3.2.0-1, or 3.2.0-2, publication metadata can be scrambled between submissions.

See https://forum.pkp.sfu.ca/t/issue-with-keywords-in-upgrading-from-ojs-2-4-8-1-to-ojs-3-2-x/59906 for details:

[2020-04-25 00:10] asmecher commented on #5787
This is happening because [the `migrateArticleMetadata` function](https://github.com/pkp/ojs/blob/3_2_0-2/classes/install/Upgrade.inc.php#L137) implicitly converts the `assoc_type` for controlled vocabularies from `ASSOC_TYPE_SUBMISSION` to `ASSOC_TYPE_PUBLICATION` before the [`3.2.0_versioning.xml` script](https://github.com/pkp/ojs/blob/3_2_0-2/dbscripts/xml/upgrade/3.2.0_versioning.xml#L171..L1

[2020-04-25 01:19] asmecher commented on #5787
This should be fixable with the following sequence of SQL queries. These perform a *cross-database join* against a database called `old-database-name` which should contain the OJS 2.x database. Make sure to have good backups before you run these queries.
[code]

[2020-04-25 01:19] #5787 closed

[2020-04-25 01:20] asmecher commented on #3572
(Grep for references to `pkp/pkp-lib#3572`!)

[2020-04-25 21:59] Hikky99 commented on #1571
Yes I have. That didn't quite  help I am afraid.

[2020-04-26 09:53] ajnyga commented on #5786
Yes, but this is fixed in the current stable branch.

[2020-04-26 09:54] ajnyga commented on #5786
https://github.com/pkp/ops/blob/master/classes/submission/form/SubmissionSubmitStep1Form.inc.php#L122-L128

[2020-04-26 10:29] withanage commented on #5773
#### OJS

I have checked this scenario in OJS 3.2.0  and OPS 3.2.0 using sandbox.

Reproduction steps:
1.  Add co-author into submission
2.  Send e-mail to request ORCID authorization from contributor
3.  Publish the submission BEFORE co-author authorizes.
4.  AFTER , co-author authorizes.

Result:
Get an error with citationStyleLanguage Plugin.
But, the API communication happens and the Orcid Dat

[2020-04-26 14:57] drugurkocak commented on #4919
Hi @ctgraham and @asmecher
Thank you for your support. I don't have a deep knowledge on Regex, but I will try to apply your solution on my test portal and share the results.
Best regards,

[2020-04-26 17:03] withanage commented on #5773
@ajnyga
I have fixed all the potential problems within the orcid plugin and updated to resolve this issue.
It works for OJS 3.2.0 now. Plugin is not yet released but the code can be found in the master branch.

But there is another issue, which is only happening in OPS.
The Citation Style Language Plugin needs an Issue to create the bibtex citation for orcid.
But in OPS it is set NULL. Before digg

[2020-04-27 02:08] quartelmestre commented on #5723
I believe we're facing the same problem here. Our journal is presented in three languages (Portuguese, English, Spanish):

![Screenshot_20200426_225252](https://user-images.githubusercontent.com/20466765/80327153-837c3b80-8811-11ea-9887-17d0d7adf19d.png)

However, there seems to be several problems with OJS's treatment of multi-language setups. Over at the PKP forum there is a discussion about mis

[2020-04-27 11:41] NateWr commented on #5762
:+1: Merged! @asmecher what should we do about stable/master for pdfJsViewer. Right now this fix has been merged into `master`. There is no `stable-3_1_2` for this plugin. Do I need to do something to make sure that 3.2.0-3 goes out with this `master` branch, or port the commit to a stable branch?

[2020-04-27 11:44] NateWr commented on #5177
Looks good @thinkbulecount2, but since this is related to an issue, the locale key needs to be in OJS, not pkp-lib. I think you can move that key to `locales/en_US/locale.po` in OJS and get rid of the pkp-lib PR.

[2020-04-27 11:53] NateWr commented on #4246
Thanks @PeterfordUP. I haven't heard a request to split assignment and email before. I'm curious about the use-case here. Can you say a little more about why editors want to do this?

I suspect, since I haven't heard it before, it's not a common need. But maybe other community members will correct me.

I'd recommend moving forward with option 2 on the premise that assigning and emailing will happe

[2020-04-27 12:01] firatakin commented on #3100
Hi @NateWr

How can I find the genreID of the files uploaded in submissionsubmitstep2form?

I'd like to write the command that "If the genreID of the uploaded files is not 1 and 2", and the condition is true for this clause how can i prevent the system from the completion of step 2?

I found something like this: https://pkp.sfu.ca/ojs/doxygen/master/html/classSubmissionFile.html#a1c3e74540a0c72641

[2020-04-27 12:07] NateWr commented on #3100
@firatakin I _think_ it would be something like this:

[code]

[2020-04-27 12:50] withanage commented on #5722
Hi @asmecher  @NateWr

I have investigated this issue.

Removing the not explicitly set settings in the data object is the reason for this issue.

https://github.com/pkp/pkp-lib/blob/master/classes/db/DAO.inc.php#L553

Did not remove it, without knowing the consequences.

[2020-04-27 12:55] withanage commented on #5722
Hi @asmecher @NateWr

I have investigated this issue.

The reason for replacing other files is caused by this setting.

https://github.com/pkp/pkp-lib/blob/master/classes/db/DAO.inc.php#L553

Did not remove it, without knowing the consequences, it could have on the other areas.

[2020-04-27 13:11] PeterfordUP commented on #4246
Hi @NateWr, thanks for coming back to me. In our experience, some of the reasons for splitting _assigning_ and _inviting_ are:

- Editors may want to have the list of reviewers available to be edited or reviewed by other editors before invitation;
- Editors may wish to prepare the reviewer list as one action, but not have time to compose the correct invitation emails to each reviewer in that same

[2020-04-27 13:22] firatakin commented on #3100
Hi @NateWr

Thank you very much for your quick reply,
I developed a plugin on my github page. It is available at:   https://github.com/firatakin/checkSubmissionFiles

In the step2,  i uploaded a file by describing its genreID as 2. Then i completed the step and the system did not provide any error. Could you please inform me about what is wrong in this code?

Screen record: https://nimbusweb.me/s/

[2020-04-27 13:23] ctgraham commented on #1833
Yes, see also: https://forum.pkp.sfu.ca/t/ojs-3-usagestats-geoip-option-outdated/56537

In our case, we judged the internal geolocation-by-ip to be low value and disabled it in all journals, depending instead on external tooling like Google Analytics.

[2020-04-27 13:43] NateWr commented on #5722
Can this be fixed in the chapter form? So when updating chapter file associations, make sure you get the full submission file object, including any pre-existing chapter file associations, and update that object?

[2020-04-27 13:56] NateWr commented on #4246
Thanks @PeterfordUP that's helpful context. I think that tying this into the reviewer selection and assignment process is going to raise some issues because the system doesn't have a way of thinking about a review being _staged_ for assignment. A reviewer assignment has implications in the system:

- It can effect a status message in the submissions list like "Waiting for reviewers to be assigned"

[2020-04-27 14:04] NateWr commented on #3100
@firatakin have you tried adding any debug code to determine what `$files` looks like when that code runs? If you're running OJS from the git repository, you can use the `Psy\sh()` tool to add breakpoints and inspect variables at runtime. Otherwise you can just try good old `print_r()`.

[2020-04-27 14:10] thinkbulecount2 commented on #5177
Hi @NateWr, made the change to OJS, but changed it from `issue.title` to `issue.localTitle` because the former already exists and don't wanna break anything. :)

[2020-04-27 14:13] NateWr commented on #5177
Sorry to nitpick, but can you change it to `issue.viewIssue`?

[2020-04-27 14:13] thinkbulecount2 commented on #5177
Sure!

[2020-04-27 14:15] thinkbulecount2 commented on #5177
Done @NateWr

[2020-04-27 14:43] NateWr commented on #5177
Merged! :tada:

[2020-04-27 14:43] #5177 closed

[2020-04-27 15:10] #5778 closed

[2020-04-27 15:37] ajnyga opened #5789 "H1 for screen readers not available in Site level if site logo is given"
**Describe the bug**
In multijournal installations adding a site logo means that there is no H1 title available in site level index.

This is because `$site->getLocalizedPageHeaderTitle()` can return either a string or a logo image. When a Site logo is given, the value of `displayPageHeaderTitle` is an array containing the image data and the template here does not work as expected:
https://github.

[2020-04-27 15:39] ajnyga commented on #5789
Initial solution is to make `$site->getLocalizedPageHeaderTitle()` behave like `$context->getLocalizedPageHeaderTitle`, meaning that it would only return a string containing the Site name.

[2020-04-27 16:01] asmecher commented on #3100
(@firatakin, note that the genre IDs could change; it's better to rely on the genre key instead.)

[2020-04-27 16:04] asmecher commented on #5786
I thought so -- thanks!

[2020-04-27 16:04] #5786 closed

[2020-04-27 16:06] asmecher commented on #1571
@Hikky99, I guess what I'm asking is...
- Does the clarification between `Merge Users` and `Remove` provide the solution you need?
- If not, would you suggest a particular wording change or similar?

[2020-04-27 16:08] asmecher commented on #5693
Merged https://github.com/pkp/pkp-lib/pull/5788 -- thanks, @ViRuSTriNiTy!

[2020-04-27 16:08] #5693 closed

[2020-04-27 16:10] asmecher commented on #5762
Thanks, @NateWr! There is a `stable-3_1_2` branch -- I take it you meant `stable-3_2_0`? I haven't created `stable-3_2_0` branches yet for many of the repos because the `master` branch is still compatible (and likely to remain so through the 3.2.1 release, I expect). I'm OK to update the submodule (where necessary) and stick with the `master` branch in cases like this.

[2020-04-27 16:42] alexxxmendonca opened #5790 "[OPS/OJS] Better placing of ORCID iD information (Contributor modal window)"
**Describe the problem you would like to solve**
The area reserved to show whether an author has associated or not their ORCID iD is currently sitting right next to the "Homepage URL" field. This is source of massive misinterpretation as authors tend to believe that field is reserved for the ORCID profile URL, even though that's not the case.

9 out of 10 authors add their ORCID profile URL on tha

[2020-04-27 17:34] Vitaliy-1 opened #5791 "Vue js error after choosing a file for uploading"
OJS 3.2.0-2.
After choosing a file for uploading though any file upload form, I'm receiving:
[code]
the message isn't informative as the file is minified.

To Reproduce
1. Go to website settings -> appearance -> setup
2. Click on Upload file, after picking up a file the message appears in the log. The same happens if pressing Remove button.

It's a minor bug that doesn't affect uploading.

[2020-04-27 17:40] wrandtkeflvc commented on #5473
So... My biggest problem was solved by optimizing the database.  After optimizing the database, this is the behavior in OJS 3.1.1-4 :

When an article is published, and I go to add a DOI at the article level, a spinner spins and spins and spins, and the DOI never gets saved in metadata.  I assume that the desired behavior would be that an error message would pop up and tell me that I'm not allowed

[2020-04-27 17:59] asmecher commented on #5791
@Vitaliy-1, I wonder if this is the same issue as https://github.com/pkp/pkp-lib/issues/5690#issuecomment-617688409 addresses?

[2020-04-27 18:47] alexxxmendonca commented on #5740
I just want to report back that we've had other cases where this occurred again.

It seems to affect a very small portion of submissions.

[2020-04-27 18:56] alexxxmendonca opened #5792 "[OPS/OJS] ORCID tag doesn't work on Submission Acknowledgement e-mails"
**Describe the problem you would like to solve**
As a Server Manager, it would be helpful if authors and co-authors could start associating their ORCID iDs to the submission as soon as the submission is made. That way, during the time elapsed between the submission and the actual moderation, several authors could associate their ORCID iD to the submission.

The way the system is configured now, au

[2020-04-27 19:01] alexxxmendonca commented on #5790
@withanage please feel free to move this issue to the appropriate repository if you see it fit.

[2020-04-27 19:01] alexxxmendonca commented on #5792
@withanage please feel free to move this issue to the appropriate repository if you see it fit.

[2020-04-27 19:13] asmecher commented on #5473
(Cross-linking the various places this conversation is taking place: https://forum.pkp.sfu.ca/t/ojs-3-1-1-4-cant-edit-article-metadata-to-add-a-custom-doi-spinner-icon-stays-indefinitely-and-the-doi-does-not-save-to-metadata/59364/12)

[2020-04-27 21:14] asmecher opened #5793 "SearchHandler::authors() can encounter fatal error with unpublished publications"
See https://forum.pkp.sfu.ca/t/call-to-a-member-function-getpublished-on-null-ojs-3-2-0-2/60099 for details:
[code]

This is effectively the same as pkp/pkp-lib#5683 but in a different section of code.

[2020-04-27 21:16] #5793 closed

[2020-04-27 21:39] israelcefrin opened #5794 "OJS Missing DOIs when importing XML via CLI"
**Describe the bug**
When exporting submissions to import into another installation, DOIs metadata are missing on target DB.

**To Reproduce**
Steps to reproduce the behavior:
1. Export submissions via CLI from OJS A
2. Import submissions via CLI into OJS B
3. Login to OJS B, pick an imported submission
4. Open metadata modal
5. Check Identifiers tab
4. See error (empty or no DOI)

**What applicat

[2020-04-27 21:49] asmecher commented on #5794
@israelcefrin, is the DOI present in the exported XML?

[2020-04-27 21:51] israelcefrin commented on #5794
Hi @asmecher it is not. At least I've searched for it and can't find it.

[2020-04-27 21:54] asmecher commented on #5794
:+1: That helps, thanks. @defstat, could you put this on your list? I'd suggest coding it against 3.2.x (i.e. the `stable-3_2_0` branch) and back-porting it to 3.1.2 only if that's more or less trivial. Unless the hosting team needs it for `stable-3_1_2`, that is.

[2020-04-27 22:09] asmecher opened #5795 "Duplicate key value violates unique constraint in citations on upgrade with PostgreSQL"
From https://github.com/pkp/pkp-lib/issues/5626#issuecomment-611946149:

This is a continuation of https://github.com/pkp/pkp-lib/issues/5626, but for PostgreSQL users (I had thought that PostgreSQL performed atomic batch updates, but it looks like not).

[2020-04-27 22:09] asmecher commented on #5626
@adrianojam and @jpcv222, I've filed a new issue for the PostgreSQL fix over at https://github.com/pkp/pkp-lib/issues/5795; please watch there for a proposed patch, and if you're able to try it out, your confirmation would be very valuable!

[2020-04-27 22:13] asmecher commented on #5795
Proposed PR: https://github.com/pkp/ojs/pull/2722

@adrianojam and @jpcv222, I don't have a PostgreSQL setup at the moment, but believe this should fix the issue -- your confirmation would be very helpful in getting this into the next release!

[2020-04-27 22:14] mhvezina opened #5796 "Metadata sections in submission form"
Context : OJS 3.1.2-4 [_also tested with the 3.2.x OJS demo test drive : same issues_]

Regarding metadata sections in submission form:

1) Even when no metadata fields are specified/activated in the journal's configuration, the heading (“Submission Metadata”) and info (“These specification are …”) for this section appear. Maybe test first if no-null values for these fields exists before displayin

[2020-04-27 22:47] Hikky99 commented on #1571
No, the **Merge Users** and **Remove** did not help me.

I added a  user, say Tom Little to a particular role. When I viewed my user list, Tom Little was not found. I tried adding Tom Little again but I was told Tom Little existed but he certainly was not in the user list.
I cleared cache but still I couldnt add Tom Little. I cannot also remove or merge a User that doesnt exist.

@asmecher This is

[2020-04-27 23:04] asmecher commented on #1571
@Hikky99, the user account does exist but has no role to associate it with your journal. The user list by default only shows users that have an association with your journal. See https://github.com/pkp/pkp-lib/issues/1571#issuecomment-229738662 for a way to list other users.

[2020-04-27 23:11] Hikky99 commented on #1571
@asmecher
My problem is resolved. Than you for been so responsive. I appreciate. Thanks to the community.

[2020-04-28 04:26] fgnievinski commented on #5783
sure, here are two pull requests:
https://github.com/pkp/ojs/pull/2724
https://github.com/pkp/ojs/pull/2725

w.r.t. reasons for not upgrading at this time,
the main one currently is incomplete translations.

thanks.

[2020-04-28 04:38] israelcefrin commented on #5794
@asmecher I've reviewed the original XML and it has the DOI recorded, however when I've imported it the resulting submission was missing the DOI metadata info.  I've sent the file to @defstat for checking.

[2020-04-28 08:45] jpcv222 commented on #5626
@asmecher and @adrianojam, the patch in https://github.com/pkp/ojs/pull/2722/commits/bbc7686ac330a28c8e8715f2264ce62a47d2a03b fix the issue https://github.com/pkp/pkp-lib/issues/5795 on upgrade with PostgreSQL setup. Thanks!

[2020-04-28 08:48] defstat commented on #5794
Hi @asmecher.. The v3.2 does not seem to have that problem - I will check the 3.1.2 branch. @israelcefrin when the import takes place, is the DOI plugin enabled?

[2020-04-28 08:50] jpcv222 commented on #5795
@asmecher and @adrianojam, the patch proposed in https://github.com/pkp/ojs/pull/2722/commits/bbc7686ac330a28c8e8715f2264ce62a47d2a03b fix the issue on upgrade with PostgreSQL setup. Thanks!

[2020-04-28 08:51] NateWr opened #5798 "Make it possible to move a submission back into review"
**Describe the problem you would like to solve**
If an editor accepts a submission in the review stage, then changes their decision to request revisions, the submission remains in the copyediting stage and indicates on the workflow page that the submission was accepted.

When an editor reconsiders a decision in the review stage, the submission should be moved back into review and the UI should ref

[2020-04-28 08:59] NateWr commented on #5762
Great! In that case I think this can be closed.

[2020-04-28 08:59] #5762 closed

[2020-04-28 09:20] NateWr commented on #5769
The array-to-object problem with PHP and json_encode strikes again! See https://github.com/pkp/pkp-lib/pull/5799/files.

PR:
https://github.com/pkp/pkp-lib/pull/5799/files

Tests:
https://github.com/pkp/ojs/pull/2727

[2020-04-28 09:22] NateWr commented on #5712
@ajnyga can this issue be closed now?

[2020-04-28 09:41] NateWr commented on #5789
Yes, that sounds like a solution for 3.2.1, where a lot of these accessibility changes are going. For 3.3. I'd like to refactor the logo/title logic in the header, so that we just check for a logo and use the title instead at both the site and journal level.

[2020-04-28 11:00] Vitaliy-1 opened #5801 "Recommend by Author Plugin duplicates entries"
OJS 3.2.0-2.
See related forum post: https://forum.pkp.sfu.ca/t/immersion-theme-article-by-the-same-author-plugin-repeats-the-article-itself/60120
I was able to reproduce it - screenshot (bottom of the page)
![duplicate](https://user-images.githubusercontent.com/20665587/80479135-40c47b80-8957-11ea-9249-a6106c6c1615.png)

There 2 problems:
1. Entries can be duplicated if share the same authors.
2.

[2020-04-28 11:02] PeterfordUP commented on #4246
Hi @NateWr, thanks for providing this. You make a very good point about the difficulty of tying this into reviewer selection - I'll look into the 'reviewer page' feature idea in the future, including the issue you've linked to, so thanks for this!

I'll post when we have an update on developing Option 2 of this issue.
Best,
Pete

[2020-04-28 11:05] NateWr commented on #5407
PR:
https://github.com/pkp/ui-library/pull/86
https://github.com/pkp/ui-library/pull/85 (stable)

Tests:
https://github.com/pkp/ojs/pull/2729
https://github.com/pkp/ojs/pull/2730 (stable)

[2020-04-28 11:17] NateWr commented on #5753
Good catch! Looks like there are a few themes effected by this as well. I'll let the theme team know.

PRs:
https://github.com/pkp/pkp-lib/pull/5802 (stable)
https://github.com/pkp/pkp-lib/pull/5803

Tests:
https://github.com/pkp/ojs/pull/2731 (stable)
https://github.com/pkp/ojs/pull/2732

[2020-04-28 11:20] NateWr commented on #5578
@asmecher is this list up-to-date for 3.2.0-3? I can't recall any changes for Text Editor Extras that will go into 3.2.0-3...

[2020-04-28 13:27] Vitaliy-1 commented on #5791
Looks like the different one by the message:
[code]
and it's associated with file upload forms, not those with text editing.

[2020-04-28 14:26] Vitaliy-1 commented on #5753
@NateWr, anchor part of URL doesn't open a tab to which it points, e.g.,
[code]
 won't open setup tab of the website settings.

[2020-04-28 15:33] yoruyenturk commented on #5762
Hi @NateWr

I still getting error when Full issue PDF view. You can see the error log below in image.

![image](https://user-images.githubusercontent.com/3451704/80506577-7761bc80-897e-11ea-92c3-77a368f27f7c.png)

[2020-04-28 15:35] ewhanson commented on #5647
Hi @NateWr, I went through and addressed these changes. Would you be able to take a look and let me know what you think? ewhanson/customLocale@32646b1 Thanks.

[2020-04-28 16:01] asmecher commented on #5177
This was merged into `master` only, right? Please don't forget to designate issues against milestones!

[2020-04-28 16:06] asmecher commented on #5791
The message is slightly different, but it should be quick enough to check by applying this patch: https://github.com/pkp/pkp-lib/pull/5771/commits/cb43d7d2a08407c86cb434113ffd7b91514ea467
Just to eliminate the possibility.

[2020-04-28 16:40] asmecher commented on #5795
Thanks for the confirmation, @jpcv222! I've committed the patch and cherry-picked into the `stable-3_2_0` branch for release in OJS 3.2.0-3 (hopefully this week).

[2020-04-28 16:40] #5795 closed

[2020-04-28 16:48] asmecher opened #5804 "DOI assignment performs poorly"
From https://forum.pkp.sfu.ca/t/ojs-3-1-1-4-cant-edit-article-metadata-to-add-a-custom-doi-spinner-icon-stays-indefinitely-and-the-doi-does-not-save-to-metadata/59364:

...later...

...later...

[2020-04-28 16:52] asmecher commented on #5804
Committed to `stable-3_1_2` (for OJS/OMP/OPS 3.1.2-5, if that is released), `stable-3_2_0` (for OJS/OMP/OPS 3.2.0-3), and `master` (for OJS/OMP/OPS 3.2.1 and onwards).

The attached commits add the new index to the XML database descriptors; however, these are only applied to the database on upgrade. If you are encountering this problem and don't want/need to run an upgrade, you can create the inde

[2020-04-28 16:52] #5804 closed

[2020-04-28 17:28] eniocarboni commented on #5776
On Medra importexport plugin at https://github.com/pkp/ojs/blob/a33f60c41b7d6108b43da6b835e9bf4bff0c2e9b/plugins/importexport/medra/classes/form/MedraSettingsForm.inc.php#L188 the **asort** method return **bool** not array.
I think we can add:
`return $countries;`
after line 188.
See https://www.php.net/asort

[2020-04-28 18:01] asmecher commented on #5776
Good catch, @eniocarboni -- I've fixed that in the `stable-3_2_0` and `master` branches. Interesting that there was no `return` before this issue introduced changes -- it looks like that was already broken to me!

[2020-04-28 18:07] eniocarboni commented on #5776
Yes, I think the "return" should have gone before the last commit.
The problem also exists for the OJS version 3.2.0-1 before this issue

[2020-04-28 21:04] israelcefrin commented on #5180
Reviewed with VoiceOver. Nothing to add, it's all fine.

[2020-04-28 21:43] israelcefrin commented on #5191
@NateWr and @thinkbulecount2 it is visually correct, however when you use this CSS chunk:
[code]
VoiceOver announces twice or 3 times the same element on Unordered List before to move to the next while you interact the page with keyboard. Despite the fact it is  annoying, it seems that the list has more itens that it really has.
Also, using list-style:none is causing the ScreenReader can't count a

[2020-04-29 08:09] NateWr commented on #5791
[code]

That suggests to me that the server is returning an error response but there's no errors array. Open the Network tab in your browser's dev tools, then try an upload, and let me know what the response is. You may see two requests, an `OPTIONS` and then a `POST`.

[2020-04-29 08:33] NateWr commented on #5753
This is a known issue with the tabs, though I can't find an issue filed for it yet. The links will fallback to the op/path which is the best URL we can provide now, and when the tabs issue is fixed the links will get better.

[2020-04-29 08:40] NateWr commented on #5762
@yoruyenturk woops! thanks the heads up. Fixed in https://github.com/pkp/pdfJsViewer/commit/c805be28b215089f9c988cc5c01a57c44fe6f3f0

[2020-04-29 08:43] Vitaliy-1 commented on #5791
Yes, the patch doesn't resolve it.
Request URL: `http://ojs-3.2.0-2.test/index.php/psp/api/v1/temporaryFiles`
Response: `{"id":227}`
It's the only one.

[2020-04-29 08:54] NateWr commented on #5191
Ok, so I think we'll need to adjust this to an actual element in the `<li>` with `aria-hidden`. Like this:

[code]

Can you say a little bit more about this? Are you sure it's `list-style: none` that is causing the issue? Use of this CSS property/value is extremely common and I've never heard of this before. It seems to contradict advice to use lists as semantic elements even when you don't want t

[2020-04-29 09:02] NateWr commented on #5791
The response looks correct. Is the HTTP status 200 on the response?

[2020-04-29 09:05] NateWr commented on #5769
Merged to `master` and `stable-3_2_0`.

[2020-04-29 09:05] #5769 closed

[2020-04-29 09:05] #5712 closed

[2020-04-29 09:07] NateWr commented on #5407
Merged to `master` and `stable-3_2_0`.

[2020-04-29 09:07] #5407 closed

[2020-04-29 09:26] NateWr commented on #5647
Looks really good, nice work! I especially like the careful work you've done in spacing and positioning the items. Looks really clean and clear. :+1:

A couple of minor suggestions, take them or leave them:

1. The `<div class="customLocale__keyHeader">Default Text</div>` should be a `<label>` for accessibility and it needs to be linked to the input field. So that looks like `<label ... :for="'def

[2020-04-29 10:09] yoruyenturk commented on #5762
@NateWr thanks. Worked fine.

[2020-04-29 14:50] Vitaliy-1 commented on #5791
Yes. I also don't see anything suspicious in it.

[2020-04-29 17:39] asmecher commented on #5783
@fgnievinski, have you tested those PRs? I don't think they'll work without either `<![CDATA` ... `]]>` escaping or using `&lt;` / `&gt;` style entities in place of `<` and `>` etc.

Is there a particular translation you're waiting for? We launched Weblate as a replacement for our old translation management tools early this year -- see [Introducing Weblate, A New Path for OJS/OMP Translations](htt

[2020-04-29 18:25] asmecher commented on #5723
Hi all -- I believe this is a duplicate of pkp/pkp-lib#5690. See the patches in this comment: https://github.com/pkp/pkp-lib/issues/5690#issuecomment-617688409 and watch for a fix in OJS/OMP/OPS 3.2.0-3 (to be released very soon).

[2020-04-29 18:25] #5723 closed

[2020-04-29 19:19] asmecher commented on #5588
Hi all -- I've drafted a PR here: https://github.com/pkp/pkp-lib/pull/5805 (to be applied in the `lib/pkp` subdirectory).

Your confirmation on whether this works would be helpful in getting this merged for the 3.2.0-3 release, which is coming very soon!

[2020-04-29 20:07] asmecher commented on #5273
Committed for release in 3.2.1, but if someone can test this against 3.1.2-x or 3.2.0-x, I can back-port there.

[2020-04-29 20:07] #5273 closed

[2020-04-29 20:12] asmecher commented on #5523
@ctgraham, forgive me for losing track of this one -- what is the status of the open PRs linked here?

[2020-04-29 20:32] ctgraham commented on #5523
Heh.  I was just looking for that horrible `installFilters` hijack yesterday.  There it is.

I think these are still good for merge.  `stable-3_1_2` is releasable as 1.3 for 3.1.2, and `master` is releasable as 1.3.1 for 3.2.  I haven't actually run the plugin in 3.2, though.

[2020-04-29 22:22] adrianojam commented on #5740
This happened to me too. Did you find any solution?

[2020-04-29 22:47] asmecher commented on #5578
@NateWr, I just bumped along the things that didn't get completed for earlier 3.2.0-x builds (based on the big 3.2.0 list)... That one's already checked off based on https://github.com/pkp/pkp-lib/issues/5578#issuecomment-602549769.

[2020-04-30 00:23] ewhanson commented on #5647
Thanks for the feedback!

I've implemented the changes you suggested. ewhanson/customLocale@66f5764 I agree on point 2. I think having the form be more compact is for the best, especially given how many keys there can be per file.

[2020-04-30 08:38] NateWr commented on #5791
Ah, this is a `warning`, and you're only seeing it because you've built the JS package for development (`npm run dev`) rather than production (`npm run build`).

I don't think it's causing any problems, but it happens because we don't check if `errors` is an array before checking the length:

[code]

I think this should do it:

[code]

That should be updated in every one of our fields.

[2020-04-30 08:48] NateWr commented on #5722
PRs:
https://github.com/pkp/omp/pull/802
https://github.com/pkp/omp/pull/803 (stable)

[2020-04-30 09:28] NateWr commented on #5753
Merged to `master` and `stable-3_2_0`.

[2020-04-30 09:28] #5753 closed

[2020-04-30 12:39] salmanm2003 opened #5806 "Ability to add new columns to a grid and creating new tab forms"
Hi,

As part of my work on this issue: [https://github.com/pkp/pkp-lib/issues/5702](url)
I have two problems that block me to complete the plugin:

1. OJS doesn't give the ability to add new columns to Journals Sections grid, as there are no hooks available to do so.
this been discussed already here: [https://forum.pkp.sfu.ca/t/add-new-column-to-sections-grid/60148](url)

2. I could add a new tab

[2020-04-30 15:21] quartelmestre commented on #5588
It didn't work here (more details on PR #5805 ).

[2020-04-30 19:05] solojano commented on #5588
I am waiting for this bug to be resolved @quartelmestre

[2020-04-30 19:14] asmecher commented on #5588
@solojano, I'm working to fix the bug with the help of @quartelmestre's testing (they're a community member volunteering their efforts on this). There's active discussion at the PR -- see https://github.com/pkp/pkp-lib/pull/5805. If you're interested in testing, please read the conversation there and add details; that'll help keep the conversation from being split in two places.

[2020-04-30 19:22] quartelmestre commented on #5690
@NateWr , this patch worked here. Thank you!

[2020-04-30 19:45] quartelmestre opened #5807 "[OJS] E-mail message journal URL lacks protocol specification"
**Describe the bug**
Automatic e-mail messages for password recovery do not include the full URL. The protocol is omitted -- that is, instead of **https://journal/...**, the message shows **//journal/...**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login screen
2. Click on password recovery

**What application are you using?**
 OJS 3.2.0-2

**Additional information**

![Screenshot

[2020-04-30 19:50] asmecher commented on #5807
@quartelmestre, have a look at this forum thread:
https://forum.pkp.sfu.ca/t/ojs-3-2-0-ojs-generates-protocol-relative-urls-in-notification-e-mails/59688

The problem there turned out to be a local modification of OJS that extended the use of protocol-relative URLs to unintended parts of OJS, including emails. OJS should only be using protocol-relatives in compiled CSS. I suspect the modification

[2020-04-30 19:50] asmecher commented on #5807
Alternately, do you have protocol-relative URLs in any `base_url[...]` settings in `config.inc.php`?

[2020-04-30 20:12] quartelmestre commented on #5807
@asmecher , we don't use base_url in our config.

However, we do indeed use the patch to work behind a reverse proxy. When I first installed v3.2.0, one of the problems we had was that several components of the page would not load (circling icon). When I applied this patch, all components would load. I kept the patch when upgrading to -1 and -2.

After your comment above, I reversed the patch, but

[2020-04-30 20:15] asmecher commented on #5807
@quartelmestre, OK, I'll close this issue -- but is there a discussion e.g. in the forum of the loading issue where I can catch up on those details? If so, please drop the link here.

[2020-04-30 20:15] #5807 closed

[2020-04-30 20:22] asmecher commented on #5588
Fixed via https://github.com/pkp/pkp-lib/pull/5805. Thanks, all!

[2020-04-30 20:22] #5588 closed

[2020-04-30 21:20] israelcefrin opened #5808 "OJS 3.2 Error exporting issues to XML"
**Describe the bug**
Exporting issues is returning an error via GUI admin or CLI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard > Tools > Import /Export
2. Click on **Native XML Plugin** > Export Issues (tab)
3. Select an issue and click export
4. See error

OR
1. Via CLI go to web folder
2. Run `php tools/importExport.php NativeImportExportPlugin export ...`
3. See the err

[2020-04-30 21:34] asmecher commented on #5808
@defstat, could you take a look at this?

[2020-04-30 23:23] asmecher commented on #5722
Both merged -- thanks, @withanage and @NateWr!

[2020-04-30 23:23] #5722 closed

[2020-04-30 23:37] asmecher opened #5809 "Resolve SchemaDAO warnings"
The error log is full of
[code]
Track down & resolve.

[2020-04-30 23:41] #5809 closed

[2020-04-30 23:42] asmecher commented on #5809
The cause was the `lastModified` property / `last_modified` column in `PKPAuthorDAO`, which doesn't have a corresponding database column or schema entry. Removed from the DAO.

[2020-05-01 14:43] librariam opened #5811 "Tasks list drop-down not showing up in Arabic on OJS 3.2.0.2"
**Describe the bug**
Tasks list drop-down does not show up when the interface is set to Arabic. It works in English on the same journal. The instance is on OJS 3.2.0.2

**To Reproduce**
Set the language to Arabic and click on Tasks (assuming the task list has something in it). The drop-down does not expand:
![image](https://user-images.githubusercontent.com/45104797/80813608-5379c300-8b98-11ea-8b2

[2020-05-01 15:19] defstat commented on #5808
@israelcefrin I may need more data for that. I can't reproduce the issue on a clean OJS 3.2 installation. The exported file lacks a `<articles xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pkp.sfu.ca native.xsd"/>` element, but the code seems to add that when using the 3.2.0-1 stable branch (or the master branch)

Is that an export from a journal that was upgrade

[2020-05-01 15:51] israelcefrin commented on #5808
@defstat yes, it was upgraded to OJS 3.2 from OJS 3.1.2. It is from our Demo install actually.

[2020-05-01 16:01] defstat commented on #5794
@israelcefrin I confirm that the DOIs are exported but they are not imported unless the target journal has the DOI plugin enabled. Could that be the issue?

@asmecher That is true for v3.1.2 and v3.2.

[2020-05-01 16:14] defstat commented on #5808
@israelcefrin do you have access to the installation's DB? is yes could you share the result of
`SELECT * FROM filter_groups where symbolic like '%native-xml%'`

[2020-05-01 16:32] defstat commented on #5808
I think that the issue is that after upgrading to a version prior to 3.2.1, the `filter_groups` still have the `Article` class defined for the `article=>native-xml` filter, instead of the `Submission` class.

That is resolved by `https://github.com/pkp/ojs/blob/master/dbscripts/xml/upgrade/3.2.1_update.xml`

[2020-05-01 18:55] israelcefrin commented on #5808
@defstat this is the result from running
`SELECT * FROM filter_groups where symbolic like '%native-xml%'
`

![image](https://user-images.githubusercontent.com/4992902/80833029-c0528480-8bbb-11ea-8d61-8f5f28acd1b5.png)

Should I exclude or edit something?

[2020-05-01 18:57] israelcefrin commented on #5794
@defstat it is likely the DOI plugin was not enabled on the target installation.  I will add it as a note for future migrations. Tks!

[2020-05-01 19:42] israelcefrin commented on #5808
@defstat I've got to sort it out. I've replaced on DB and now it is working. Tks!

[2020-05-01 19:42] #5808 closed

[2020-05-01 20:36] israelcefrin commented on #5191
@NateWr it seems that voiceOver can manage `list-style: none`. However, the` li:before ` is still active.
I've made a test using your suggestion:
[code]
It works perfectly, announcing the total of list items and jumping correctly one by one as you press the VoiceOver and arrow keys.
I think that doing this adjustment is good enough to accomplish it.

[2020-05-02 12:03] drugurkocak commented on #4919
Hi. Unfortunately my trials were not successful. It is best to wait a little. I can wait even a year. This is not a problem that someone like me will solve. But I don't want to get stuck in OJS 3.1. The current mod_rewrite configuration works in OJS 3.1.2-4, it only gives errors when changing the date range in editorial statistics.

Since there are many people who use this feature like me, you sho

[2020-05-03 15:54] defstat commented on #5794
@asmecher @israelcefrin should I close that

[2020-05-03 16:20] defstat commented on #4836
@asmecher

**PR**
[PKP-LIB]: #5812

[2020-05-03 17:02] israelcefrin commented on #5794
No objection from me.

[2020-05-04 08:52] NateWr opened #5813 "Logged out users directed to site homepage instead of journal homepage when logo is present"
**Describe the bug**
When a logged out user visits the homepage of a journal, and that journal has a logo, clicking on the link will take them to the site homepage. It should take them to the journal homepage. This applies to multi-journal instances.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up more than one journal.
2. Go to Settings > Website > Appearance > Setup and add a logo t

[2020-05-04 09:32] NateWr commented on #5191
Thanks, moving this back into in progress. @thinkbulecount2 in addition to adding the `<span>` that Israel mentions above, you'll need to find and remove the CSS styles that use the `:before` attribute on these lists to add the icons.

(Side-note: that's used in a lot of places in the default theme to add icons, unfortunately. I don't think it's a high priority but good to document for later that

[2020-05-04 12:26] quartelmestre commented on #5807
@asmecher , an update. I installed v3.2.0-3 today, with no patches. Almost everything went well, except for the bug in my last comment, above. I then applied one patch from previous versions: added *$_SERVER['HTTPS'] = 'on';* to /index.php. All page elements are loading correctly, and the e-mail messages include their protocols in the URL fields.

[2020-05-04 14:27] fradeve commented on #5732
I am sure this is not needed, but we just tested this on OJS 3.2.0-3 and we can confirm that the fix works :+1: Thanks!

[2020-05-04 15:51] asmecher opened #5814 "Fatal error deleting issue"
See https://forum.pkp.sfu.ca/t/ojs-3-2-delete-issues/60250:
[code]

[2020-05-04 15:52] #5814 closed

[2020-05-04 17:03] sssoz opened #5815 "Journal ordering no longer works"
# Describe the bug

In a multi-journal installation’s administration tab: hosted journal ordering doesn’t save changes in the order. Clicking on _Done_ reloads the page without registering the chosen journal order. Seen on the OJS demo site.

---

# To Reproduce

Steps to reproduce the behavior:
1. Go to the _Administration_ section of a [multi-journal OJS installation](https://demo.publicknowledg

[2020-05-04 17:17] asmecher commented on #5807
@quartelmestre, I'd like to know more about this, but I think the support forum is a better place; could you post information about the problem, and how you solved it, over there? I'm not sure yet whether it'll be an opportunity for a code change that gets shipped with OJS.

[2020-05-04 17:55] quartelmestre commented on #5807
Sure, @asmecher . Here it is:  https://forum.pkp.sfu.ca/t/ojs-3-2-0-3-spinning-circle-https-problems-and-workaround/60281 . Thanks!

[2020-05-04 20:18] drboone opened #5816 "PHP errors post-upgrade from 3.1.2-1 to 3.2.0-3"
This setup was working fine at 3.1.2-1.  Upgraded code, ran upgrade.php without error.

Opening Administration - Site Settings produces an empty Site Setup tab and:

* ojs2: Unrecognized DAO SiteSettingsDAO!

From the submissions page, the "view your pending submissions" link leads to a 500 error and this in the logs:

* PHP Fatal error:  Uncaught Error: Call to a member function getData() on null

[2020-05-04 20:45] asmecher commented on #5816
@drboone, I think something happened during upgrade. The `SiteSettingsDAO` is not referenced in the 3.2.0-3 codebase, so there must be something introduced there that isn't compatible with 3.2.0-3 -- an incompatible plugin, or some older code mixed in with the 3.2.0-3 code.

If the system does not report the current release of OJS, it means the upgrade process did not succeed. Restore from pre-upg

[2020-05-04 21:21] ewhanson commented on #5647
Hi @NateWr, what are the next steps for getting this ready for the plugin gallery? Thanks.

[2020-05-04 21:40] pmangahis opened #5817 "[OMP] All Categories get selected/unselected when creating new series"
When trying to add a new series in **OMP 3.2.0.2** (on Test Drive site), when trying to select a category for the series all available series are being selected. When unselecting all are unselected.

To Reproduce
1. Setting> Press > Series
2. Add Series
3. Select 1 category, all get selected. Unselect, all get unselected.

![image](https://user-images.githubusercontent.com/50342731/81016177-cee7a8

[2020-05-05 04:57] fgnievinski commented on #5783
weblate is great, I've contributed already to pt-BR.

[2020-05-05 10:20] NateWr commented on #5647
I think the first step is to figure out where the plugin will live. I suspect that's `pkp/customLocale` but check with James or Michael about where they want it.

Then you can follow the steps in the Plugin Guide for releasing a plugin: https://docs.pkp.sfu.ca/dev/plugin-guide/en/release

[2020-05-05 12:53] alexxxmendonca opened #5818 "[OJS/OPS/OMP] "submission.metadataDescription" translation key needs to be different for each application"
**Describe the bug**
The translation key `submission.metadataDescription` needs to be different for each application.

Here's what the translation key shows for OJS:
These specifications are based on the Dublin Core metadata set, an international standard used to describe **journal** content.

Here's what the translation key shows for OPS:
These specifications are based on the Dublin Core metadata

[2020-05-05 17:04] drboone commented on #5816
Ok, I rebuilt the tree so that I could be _sure_ no files other than config and public were carried over.  I reverted to the pre-upgrade database and re-ran the upgrade script.  Here's the output from that:

[code]

"View your pending submissions" still produces a 500 and these errors:

[code]

Other things are better: the ##tokens## have gone.  I think all the tabs have proper titles and content

[2020-05-05 17:19] alexxxmendonca opened #5819 "[OPS] Unable to revert "Reject" decision"
**Describe the bug**
I am unable to revert a decision of a preprint that's been rejected.

While the option "Change decision" is there, when I click on it, only the "Decline submission" button appears and there is nothing else that can be done to revert the decision.

Also, even though the "Schedule for publication" is there, I am unable to publish the preprint since it is still rejected.

**To Re

[2020-05-05 17:31] asmecher commented on #5816
@drboone, the output of your upgrade process is still incomplete; you should see a confirmation at the end that the upgrade succeeded. I wonder if you don't have an execution time limit that's being encountered in your command-line PHP configuration. Your PHP error log may capture this.

[2020-05-05 17:32] asmecher commented on #5647
I'm content to have it live at `asmecher/customLocale` for now, and then transfer that to `pkp/customLocale` when it's ready for an "official" release. I'm OK to continue it as a fork of `langsci/customLocale` to reflect that this is its original source.

[2020-05-05 17:45] salmanm2003 opened #5820 "Cannot hide TinyMCE toolbar when adding textarea directly to a template"
Hi @asmecher ,

I have created a plugin that adds textarea field to submission metadata area.
I was trying to hide the texteditor _toobar_ to prevent any extra format except the new lines, but sounds like there is no option for that when the field is added directly to the template.
I have checked _TinyMCE_ options in __smartyFBVTextArea()_ function but nothing there related to _toolbar_ param.
Wou

[2020-05-05 17:56] drboone commented on #5816
Ah, I see there are errors from the upgrade in the log.  Good of it to emit a console message about failure.

[code]

[2020-05-05 18:13] defstat commented on #5664
@asmecher @NateWr

**PRs**
[PKP-LIB]: #5821
[OJS]: pkp/ojs#2734
[OMP]: pkp/omp#805

That can be applied to **orchidProfile** plugin and **pln** plugin as well.

[2020-05-05 18:18] asmecher commented on #5816
@drboone, I think most servers have separate `php.ini` files for the command-line and web-based PHP environments, and the command-line one can be (and generally is) configured with `display_errors` turned on.

The messages starting with `#0` are a stack trace, and the actual error message will be just above that; can you include that in the quote?

[2020-05-05 18:36] israelcefrin commented on #5312
@NateWr I think we've tested it today. I will keep it open and below paste my comments:

[2020-05-05 18:45] drboone commented on #5816
Ok, fiddled with php.ini, reloaded db, reran upgrade script.  Stdout/stderr look the same.  Here's the entire php log output:

[code]

[2020-05-05 18:46] asmecher commented on #5664
Looks good, @defstat, please go ahead and merge (and please port this to the PLN plugin -- I suppose this will justify the creation of a `stable-3_2_0` branch that does not include this change). @withanage, a heads-up about porting this to the ORCID plugin.

[2020-05-05 18:48] asmecher commented on #5816
The relevant message is this:
[code]
See https://forum.pkp.sfu.ca/t/error-when-updating-from-3-1-2-4-to-3-2-0-1-with-postgres/59661/2 for information on how to resolve the error.

[2020-05-05 20:18] asmecher commented on #5820
@salmanm2003, I'd suggest looking into adding some plugin-specific JS to override the current TinyMCE behaviour -- it would probably only be a few lines of code, and wouldn't require changes to the core app.

[2020-05-05 22:28] salmanm2003 commented on #5820
Perfect - Thanks @asmecher

[2020-05-05 22:29] #5820 closed

[2020-05-05 23:29] amandastevens opened #5822 "Dashboard menu links out of line"
In OJS 3.2.0-2, when you hover over some of the main links in the dashboard, the sub-links appear below the main link instead of in-line with it, so when you move your mouse over to click a sub-menu link, your mouse goes into blank space and the links disappear. This means you cannot visit some of the pages in the dashboard because you can't click on them to open them.

Please see the screenshot a

[2020-05-06 04:57] fgnievinski commented on #3675
concatTitleFields is already used in getLocalizedFullTitle:

https://github.com/pkp/pkp-lib/blob/4e3ffe04cc7991294b26d4a76279a16976b4951d/classes/publication/PKPPublication.inc.php#L63

which is already being used to push metadata with full title, as per #5066.

so it seems the same could be done here?

[2020-05-06 05:14] fgnievinski commented on #5418
indeed, in the quicksubmission plugin in OJS 2 there was no submission date field, only publication date:
![image](https://user-images.githubusercontent.com/5018500/81140229-0bafbe80-8f3f-11ea-835d-bcfd6b923e35.png)

now, earlier versions of OJS 3 had a minor bug in the data input form, which has already been fixed:
https://forum.pkp.sfu.ca/t/quicksubmit-plugin-publication-date/53341/4

in the for

[2020-05-06 05:23] fgnievinski opened #5823 "QuickSubmit plugin publication date picker unusable for very old years"
![image](https://user-images.githubusercontent.com/5018500/81140535-10c13d80-8f40-11ea-90bb-c6f6d1e612b5.png)

currently very old years (e.g., 1985) need to be typed in, because the datepicker only advances month by month.

this is in version OJS 3.1.2.0

[2020-05-06 05:40] fgnievinski commented on #5823
also in OJS 2.4.8.0:

![image](https://user-images.githubusercontent.com/5018500/81141291-90e8a280-8f42-11ea-8995-072ddee720a2.png)

this issue has been reported in the forum before:
https://forum.pkp.sfu.ca/t/how-to-add-date-published-before-2007/32777/4

[2020-05-06 08:27] NateWr commented on #5664
Does this need to be added to OMP as well?

[2020-05-06 08:31] NateWr commented on #3675
I think `getLocalizedFullTitle()` should be used in all cases except where metadata explicitly asks for the title/subtitle to be passed separately. If you spot somewhere it's not being used but should, it could probably be changed.

[2020-05-06 09:27] NateWr commented on #5817
Thanks for the report @pmangahis! I've found a fix for this and will merge once the tests pass.

PRs:
https://github.com/pkp/pkp-lib/pull/5824
https://github.com/pkp/pkp-lib/pull/5825 (stable)
https://github.com/pkp/omp/pull/806
https://github.com/pkp/omp/pull/807 (stable)

[2020-05-06 09:30] NateWr commented on #5822
On sites where this happens, does it happen all the time? Or if you reload does it go away? Can you send me (privately) access to a site where it is occurring?

[2020-05-06 09:32] NateWr commented on #5819
cc @ajnyga

[2020-05-06 09:33] eniocarboni opened #5826 "Fix locale it_IT (locale/it_IT/user.po)"
**Describe the bug**
In the stable  branch 3.2.0 on https://github.com/pkp/pkp-lib/blob/3cbc385fc8ebd07f6117810fe72fc7abfa8abf5a/locale/it_IT/user.po#L432 and in the master on https://github.com/pkp/pkp-lib/blob/e3d03713ecb558c1dad93dacbbe7e4d3bf87c72d/locale/it_IT/user.po#L432
the first word "Yes, dò il mio consenso ..." should be replaced with "Sì, dò il mio consenso ..."

**What application are

[2020-05-06 09:43] NateWr commented on #5811
Thanks!

PRs:
https://github.com/pkp/pkp-lib/pull/5828
https://github.com/pkp/pkp-lib/pull/5827 (stable)

Tests:
https://github.com/pkp/ojs/pull/2735 (stable)

[2020-05-06 09:52] NateWr commented on #5806
Hi @salmanm2003,

Sorry if there was some confusion, but I think the features described in #5702 should be added to the core application. You only need to use hooks if you are adding the feature through a plugin.

If that doesn't address your needs, let's continue the discussion over on #5702 so that all the conversation is centralized there. (Also, I'll get notifications on #5702 as soon as you p

[2020-05-06 09:52] #5806 closed

[2020-05-06 10:06] defstat commented on #5664
@NateWr There is a PR for OMP as well, having the configuration parameter added on config.template.

[2020-05-06 10:09] ajnyga commented on #5819
I do not think there has ever been a "revert declined submission" action in OJS?

We can add it, but we need to add it to all applications I think?

[2020-05-06 10:40] NateWr commented on #5819
I think the difference is that in other applications there are other editorial decisions that can be made in other stages, so this hasn't come up before. Basically, someone can take a submission in the review stage, decline it, then accept it and it _kind of_ works. (See #5798.)

This only crops up in OPS because there's only the production stage. Adding something in there should do the trick, and

[2020-05-06 10:41] NateWr commented on #5664
Sorry! Yes, I meant OPS. :joy: All these acronyms...

[2020-05-06 10:50] ajnyga commented on #5819
ok, so I would just implement a "Revert decline decision" action for OPS for now?

[2020-05-06 10:50] ajnyga commented on #5819
(happy to hear a good label name in English...)

[2020-05-06 12:23] fradeve commented on #5702
@NateWr in your comment on #5806 you suggested that it would make more sense to have the ability do disable submissions in pkp-lib rather than a plugin (as we realised in #5806, we would need changes to pkp-lib in any case in order to have this feature in a plugin).

Would everyone (I am thinking of @NateWr and @asmecher in particular) be happy if we open a pull request in pkp-lib / OJS to make th

[2020-05-06 12:25] alexxxmendonca commented on #5819
Maybe there is no need for a reword.

"Change decision" works fine, but as @NateWr said, there are no other decisions in OPS so perhaps by clicking on "Change decision" alone, that alone should un-reject the paper?

[2020-05-06 12:45] jnugent commented on #5134
@asmecher  Could we perhaps (temporarily?) solve this by either making files attached to notes unavailable for promotion, or perhaps make them available only if the user doing the promoting was involved in the original query?  The former is probably easy to do, by a quick check of the file's assoc_type.  We'd essentially be making the rest of the OJS privilege system enforce the original user acce

[2020-05-06 12:45] NateWr commented on #5702
Yep! If there are any disagreements we can't resolve about what should be in core then we can figure out what hooks are needed to separate that piece out into a plugin. But let's presume that disabling submissions and archiving sections will be core settings.

[2020-05-06 12:46] NateWr commented on #5817
Merged to `master` and `stable-3_2_0`.

[2020-05-06 12:46] #5817 closed

[2020-05-06 13:09] fradeve commented on #5702
Thanks @NateWr for the quick reply! We are happy with any solution you are comfortable with :smiley: since specs have been agreed above, we are happy to start the implementation and submit a PR for review. We might also submit the PR when it will be half-done in order to get some earlier feedback from you guys, just in case you have any preference on how things should be implemented (and we can st

[2020-05-06 13:13] NateWr opened #5829 "Can't edit user details without changing the password"
**Describe the bug**
When editing a user's details, the form returns an error message:

This happens even if you leave the field blank, in which case it should not make any changes. Because of this, it is not possible to edit a user without changing their password.

This has not been confirmed on latest `master` but needs to be investigated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2020-05-06 15:10] #5757 closed

[2020-05-06 15:23] asmecher commented on #5826
@eniocarboni, could you make this change through Weblate? See https://pkp.sfu.ca/2020/01/22/introducing-weblate-a-new-path-for-ojs-omp-translations/ for details.

[2020-05-06 15:26] asmecher commented on #5829
@NateWr, is this a duplicate of https://github.com/pkp/pkp-lib/issues/5666?

[2020-05-06 15:54] NateWr commented on #5829
Yes!

[2020-05-06 15:54] #5829 closed

[2020-05-06 16:27] alexxxmendonca commented on #5819
@ajnyga on that note, I think it could be related but preprint published is not considered as "accepted".

This is reflected on the "Editorial Activity" data too, more specifically on:

Submissions Accepted
Days to First Editorial Decision
Days to Accept

Given that a preprint never goes through "acceptance" stage (there is no editorial letter being sent), the system is not considering a posted/pu

[2020-05-06 17:38] eniocarboni commented on #5826
Ok done as suggestion.

[2020-05-06 18:06] halimfikri opened #5830 "Errors occurred during installation: OJS Version 3.2.0.3"
Hi,

I am upgrading the OJS v 3.1.1.2 to 3.2.03. However, an error occurred during installation:

Errors occurred during installation:

A database error has occurred: ERROR: relation "email_templates_data" does not exist LINE 1: UPDATE email_templates_data SET body=REPLACE(body, '{$submis... ^

![image](https://user-images.githubusercontent.com/23181336/81212319-4ed56480-9007-11ea-96ae-a86a221dc1b

[2020-05-06 18:09] asmecher commented on #5826
Accepted, thanks!

[2020-05-06 18:09] #5826 closed

[2020-05-06 19:47] asmecher opened #5831 "User profile API form is broken"
**Describe the bug**
The user profile API form does not work; changes do not stick.

**What application are you using?**
OJS 3.2.0-3

[2020-05-06 19:51] asmecher commented on #5831
There were several problems here:
- The call to `parent::execute` in `APIProfileForm` clobbered the newly-saved user settings (not stored in the DataObject) via `UserDAO::updateObject`
- The form, when a new API key is generated, does not immediately display it; the form must be reloaded to see the new key

[2020-05-06 20:01] defstat commented on #5664
@asmecher I added this PR for PLN, but I am sure I had to add the PR another way...

**PR**
[PLN Plugin]: defstat/pln#48

[2020-05-06 20:11] defstat commented on #5664
@asmecher @NateWr

**PR**
[OPS]: pkp/ops#19

[2020-05-06 20:31] asmecher commented on #5664
@defstat, could you create a `stable-3_2_0` branch on the PLN repo? If I merge defstat/pln#48 now, it'll break compatibility with 3.2.0-x.

[2020-05-06 20:46] asmecher commented on #5818
Would it be clearer if the OPS text was changed from...
[code]
...to...
[code]

[2020-05-06 22:00] kallewesterling opened #5832 "Article statistics aren't being generated?"
We are trying to keep track of our views on the articles on the website but the Statistics page on the admin interface display 0 article views ever since January 2019 despite log files on our FTP server showing other information.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to admin interface
2. Click on "Statistics" > "Articles"
3. See the following information in the admin interf

[2020-05-06 23:13] asmecher commented on #5794
Thanks, @defstat!

[2020-05-06 23:13] #5794 closed

[2020-05-06 23:16] asmecher commented on #4836
Merged and cherry-picked back to `stable-3_2_0`, thanks!

[2020-05-06 23:16] #4836 closed

[2020-05-07 01:04] asmecher opened #5833 "[OMP] Order catalog by series position leads to database error"
**Describe the bug**
From https://forum.pkp.sfu.ca/t/3-2-0-3-3-2-0-2-catalog-listing-error/60282/3:
When the catalog is configured to display by series position, viewing the catalog causes a fatal error.

**To Reproduce**
1. In Setup, configure the catalog to sort by series position.
2. View the catalog.
3. Encounter a fatal error.

**What application are you using?**
 OJS or OMP version 3.2.0

**

[2020-05-07 03:14] thinkbulecount2 commented on #5191
PRs:
[pkp-lib](https://github.com/pkp/pkp-lib/pull/5834)
[ojs](https://github.com/pkp/ojs/pull/2736)
[omp](https://github.com/pkp/omp/pull/808)
[ops](https://github.com/pkp/ops/pull/20)

cc: @NateWr

[2020-05-07 04:32] ajnyga commented on #3130
A small related issue.

If an editor sends in her own submission as an author, she will still get the "New submission needs an editor to be assigned" notification that contains a link to the editorial workflow of that submission. If the editor clicks that link, she will get an error because she can only access the author workflow.

For a smoother experience the editor, acting as an author in this

[2020-05-07 08:20] NateWr commented on #3898
Duplicate of https://github.com/pkp/pkp-lib/issues/3990

[2020-05-07 08:20] #3898 closed

[2020-05-07 08:47] NateWr opened #5835 "An editor submitting as author still receives notification to assign an editor"
A small related issue.

If an editor sends in her own submission as an author, she will still get the "New submission needs an editor to be assigned" notification that contains a link to the editorial workflow of that submission. If the editor clicks that link, she will get an error because she can only access the author workflow.

For a smoother experience the editor, acting as an author in this

[2020-05-07 08:49] NateWr commented on #5835
One potential danger: if the editor is the only `ROLE_ID_MANAGER`, there may be no one with permission to assign an editor.

[2020-05-07 09:01] NateWr commented on #5191
Great! I love that were you were able to do it with such surgical changes to the code. :+1: All merged.

[2020-05-07 09:01] #5191 closed

[2020-05-07 11:08] alexxxmendonca commented on #5818
Hi @asmecher
For now I think so!

There is ongoing conversation about metadata best practices for preprints. ASAPBio is coming up with a minimun metadata requirements list but it's not public yet. Once that is out, we should definitely take a look at it.

[2020-05-07 15:01] jnugent opened #5836 "Long filenames with no spaces push content off of editorial history modal"
![Screenshot from 2020-05-07 11-55-40](https://user-images.githubusercontent.com/218719/81310198-2dea2f00-905a-11ea-9011-3aa988bf7e3e.png)

If a user uploads a file with a very long file name with no spaces in it, the text content gets pushed off the modal.  @NateWr mentioned that `overflow-wrap: break-word` may help here.  Screenshot attached.

[2020-05-07 15:37] defstat opened #5837 "Publication and Submission State inconsistency"
**To Reproduce**
Steps to reproduce the behavior:
1. Assign a Submission's Publication to an Issue.
2. Schedule the Publication for Publish
2. Publish the assigned Issue
3. Unpublish the assigned Issue
4. Preview the unpublished Issue - The submission will not be displayed.

**What application are you using?**
 OJS version 3.2.x

**See also**
https://forum.pkp.sfu.ca/t/ojs-3-2-0-3-problem-with-unp

[2020-05-07 15:55] defstat commented on #5837
It seems that there is an inconsistency between the statuses of the Publication objects and their related Submission object. I am adding a state diagram describing what seems to be happening,

![image](https://user-images.githubusercontent.com/560456/81314621-01eaa000-9092-11ea-9fe1-fddb599d427b.png)

The action of `Issue::Publish` and `Issue::Unpublish` works differently for Publications and Subm

[2020-05-07 17:46] alexxxmendonca opened #5838 "[OJS] Configurable options not showing for journals that are not live"
**Describe the bug**
Some tabs in the settings area for journals that were once live but are no longer live are showing empty contents.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a journal that was once live in OJS 2.x, then changed to no longer live and imported to OJS 3
2. Click on 'Website' - > Settings
3. Navigate through its sub-tabs
4. Notice empty contents

If I try to turn

[2020-05-07 17:48] asmecher commented on #5838
This is likely a duplicate of https://github.com/pkp/pkp-lib/issues/5690.

[2020-05-07 18:26] tjmarpaung opened #5839 "Enter Metadata it can't be saved and continued (OJS 3.2.0.3)"
Hi. I have a problem after I upgraded my OJS 3.1 to 3.2.03.
When people want to submit an article at step 3. Enter Metadata it can't be saved and continued. It always stuck loading.  Nevertheless, the actual data entered in the form are saved. But can't go to step 4. Confirmation until finished submission. No errors in PHP logs. I used PHP 7.2. And I was read https://github.com/pkp/pkp-lib/issues/

[2020-05-07 18:51] defstat commented on #5664
@asmecher I think there is already a stable-3_2_0 branch at pkp/pln repository.

I added this PR for the issue
[PLN]: pkp/pln#5

[2020-05-07 19:00] pmangahis opened #5840 "Issue Preview not showing assigned articles"
In OJS 3.2.0-3, the issue preview function does not show the articles assigned to that issue, it only shows the full article pdf (if uploaded)

In previous versions of OJS 3 (tested on OJS 3.2.0, the articles are included in the article preview).

OJS 3.2.0 - Issue Preview

![image](https://user-images.githubusercontent.com/50342731/81334053-478b7680-905a-11ea-927a-95bebe34ad63.png)

OJS 3.2.0-3 -

[2020-05-07 21:04] asmecher commented on #5839
This appears to be https://github.com/marcj/jquery-selectBox/issues/180 (or similar); could you try the following:
- Edit `js/pkp.min.js`; search for `andSelf` and change it to `addBack` (similar to [this change](https://github.com/marcj/jquery-selectBox/pull/188/files))
- Make the same change to `lib/pkp/js/lib/jquery/plugins/jquery.selectBox.min.js`
- Reload the page and see if the same error me

[2020-05-07 21:14] asmecher commented on #5659
This got re-opened after https://github.com/pkp/pkp-lib/milestone/41 was closed -- moving up to https://github.com/pkp/pkp-lib/milestone/43 so it doesn't get forgotten.

[2020-05-07 22:33] asmecher commented on #5818
@alexxxmendonca, I've made that change in Weblate, thanks.

[2020-05-07 22:33] #5818 closed

[2020-05-07 22:48] amandastevens commented on #5822
You can see it if you log in to the [OJS 3.2 testdrive site](https://demo.publicknowledgeproject.org/ojs3/testdrive).  I will send you another example. It doesn't go away if I reload the page.  I accessed both of these sites the day I filed the issue and encountered the issue and today I'm seeing the same thing.  But I can't say if it happens all the time.

[2020-05-08 02:46] tjmarpaung commented on #5839
It still error..
But with different message error...

![Untitled](https://user-images.githubusercontent.com/64982204/81364720-94ca1f80-9110-11ea-8007-d0ae68873cd4.png)

[2020-05-08 04:44] asmecher commented on #5839
That's a 500 error; there will be a log entry on the server side that accompanies this.

[2020-05-08 08:37] tjmarpaung commented on #5839
So what should I do sir?

[2020-05-08 13:50] asmecher commented on #5839
@tjmarpaung Check your web server's error logs for details.

[2020-05-08 13:54] tjmarpaung commented on #5839
This is sir...

![new](https://user-images.githubusercontent.com/64982204/81412468-18fec000-916e-11ea-86b3-555e1f5d443c.png)

[2020-05-08 14:06] asmecher commented on #5839
There's nothing relevant there; try to find something with a datestamp that matches the time you saw a 500 error in the browser.

[2020-05-08 14:17] amandastevens opened #5841 "Edit sender of email template"
OJS has many different email templates with pre-programmed senders. When you go to Workflow Settings > Emails > Email Templates you can see who the sender is and you can edit the message content, but you can't edit the sender.

Being able to edit the sender could help accommodate varied journal workflows and how roles and role responsibilities may differ across journals.

It would be great if the

[2020-05-08 14:35] tjmarpaung commented on #5839
Just it sir...
Error in datestamp that matches the time I saw is the same...
And sometimes I submit another article again when step 3 I get a new error...
![new2](https://user-images.githubusercontent.com/64982204/81416140-83662f00-9173-11ea-8302-e1a3607611d6.png)

[2020-05-08 14:42] netsensei opened #5842 "Keywords go missing after submititng the metadata form"
**Describe the bug**

Editors can add metadata to submissions in the editorial workflow through the 'Submission and Publication metadata' pop-up form. When enabled, the 'additional refinements' field group contains a 'keywords' field.

When an editor submits the form with keywords, the keywords are missing when the form reloads. The field is just empty.

**To Reproduce**

Steps to reproduce the be

[2020-05-08 14:53] asmecher commented on #5839
This message...
![image](https://user-images.githubusercontent.com/200411/81417996-deab0980-9100-11ea-8a38-74aace4151a4.png)
...says that the server reported an error, but doesn't include that error. Somewhere in your server's logs, with a datestamp indicating the same time as you saw this message, there will be more details.

[2020-05-08 15:31] asmecher commented on #5842
@netsensei, I suspect you're missing an index on `controlled_vocabs`; the `build` function relies on an index collision to return the existing object. You should have something like
[code]

[2020-05-08 15:38] asmecher commented on #5841
@amandastevens, that's an informational field and specifies a typical role rather than the individual who actually sends the message. There are currently three ways the sender on email delivered from OJS is set...
- When a person triggers an email to be sent on their behalf via e.g. the workflow, they are listed as the sender. (This is the most common case.)
- When the system sends an email based

[2020-05-08 15:42] netsensei commented on #5842
@asmecher Thanks! I'm actually on PostgreSQL.  So, this is how it looks on my end:

[code]

[2020-05-08 15:49] asmecher commented on #5842
I don't see any indexes listed there; you should see two:
[code]

[2020-05-08 15:56] tjmarpaung commented on #5839
Hi sir, I get some message errir from error log

Stack trace:
#0 /home/indf6616/public_html/bulletin/lib/pkp/classes/plugins/HookRegistry.inc.php(107): OpenAIREPlugin->metadataExecute('submissionsubmi...', Array)
#1 /home/indf6616/public_html/bulletin/lib/pkp/classes/form/Form.inc.php(314): HookRegistry::call('submissionsubmi...', Array)
#2 /home/indf6616/public_html/bulletin/lib/pkp/classes/submi

[2020-05-08 15:58] tjmarpaung commented on #5839
Stack trace:
#0 /home/indf6616/public_html/bulletin/lib/pkp/classes/plugins/HookRegistry.inc.php(107): OpenAIREPlugin->metadataExecute('submissionsubmi...', Array)
#1 /home/indf6616/public_html/bulletin/lib/pkp/classes/form/Form.inc.php(314): HookRegistry::call('submissionsubmi...', Array)
#2 /home/indf6616/public_html/bulletin/lib/pkp/classes/submission/form/PKPSubmissionSubmitStep3Form.inc.php(1

[2020-05-08 15:58] asmecher commented on #5839
@tjmarpaung, that's closer -- what do you see in the log immediately above the `Stack trace:` line?

[2020-05-08 16:00] tjmarpaung commented on #5839
This is the log above stack trace sir...

[2020-05-08 16:00] tjmarpaung commented on #5839
[08-May-2020 08:36:53 UTC] PHP Fatal error:  Uncaught Error: Call to a member function setData() on null in /home/indf6616/public_html/bulletin/plugins/generic/openAIRE/OpenAIREPlugin.inc.php:125

[2020-05-08 16:03] asmecher commented on #5839
@tjmarpaung, it looks like you are using an old version of the OpenAIRE plugin that is not compatible with your release of OJS. Make sure your plugins are up to date.

[2020-05-08 16:10] ewhanson opened #5843 "User object in payment records for past users null"
Payments tab would not load when pulling up payment record linked to a nonexistent user.

`$user` can be null for payments if those users were deleted. Payment records for an old user were not properly being updated when their account was merged with a new user.

Fixes:
- [x] Catch nonexistent users in `PaymentGridCellProvider` and label them for JMs via new locale key.
- [x] Properly transfer ove

[2020-05-08 16:54] tjmarpaung commented on #5839
Thank you very much sir... I can continue my work...
But when I write abstract with long paragraph it was error message

An unexpected error occurred. You may have been logged out. Please reload the page and try again.

I was logged out but it still happened..

[2020-05-08 16:57] tjmarpaung commented on #5839
Failed to load resource: the server responded with a status of 403 ()

[2020-05-08 17:06] asmecher commented on #5839
@tjmarpaung, that's not related to this posting, and I suspect it's not a bug in the software; I'd suggest searching for that message on our support forum, https://forum.pkp.sfu.ca, and if you can't find a solution there, post a new topic (also on the forum).

[2020-05-08 17:06] #5839 closed

[2020-05-08 17:16] asmecher commented on #5840
@NateWr, is this a result of https://github.com/pkp/pkp-lib/issues/5636?

[2020-05-08 17:19] asmecher opened #5844 "Enable rich text in site-wide "About" field"
See https://forum.pkp.sfu.ca/t/enable-text-formatting-in-the-ojs-site-about-field/60278/3:

**Describe the solution you'd like**
- Add rich-text editing tools to the site-wide "About" field
- Make sure that the front end templates that use this field expect rich text
- If the format of this field goes from plain-text to HTML, ensure that existing contents are escaped upon upgrade.

[2020-05-08 18:21] willinsky commented on #857
I may not have understood the discussion  above  properly, but I would like to add my support for PKP adopting the CRediT standard. It does mean adding a metadata category "Author Role (CRediT)" selected for each author from the CRediT controlled vocabulary of 14 "roles," which would be in addition existing categories for authors such as "affiliation," but this does not impact OJS user roles or pe

[2020-05-08 18:25] lucasdiedrich commented on #5626
@asmecher i'm having this issue upgrading from 3.1.2.4 to 3.2.0.3.
Running your querie [did not find anything](https://github.com/pkp/pkp-lib/issues/5583#issuecomment-601397764):
![image](https://user-images.githubusercontent.com/817482/81436537-0a99af80-9140-11ea-9bc8-d265232d65a0.png)

Citations debug error:

[code]

How to proceed? thanks.

[2020-05-08 18:29] asmecher commented on #5626
@lucasdiedrich, another solution would be to execute the following SQL query before running the upgrade:
[code]
Then, after the upgrade completes, re-generate that table's contents using:
[code]

[2020-05-08 18:40] lucasdiedrich commented on #5626
YEP! it worked, thanks a lot!

![image](https://user-images.githubusercontent.com/817482/81437834-2ef68b80-9142-11ea-874c-d853010f92be.png)

[2020-05-08 21:47] ewhanson commented on #5843
Hi @asmecher, could you review these pull requests that address this issue? Thanks.

PRs:
#5845
#5846 (stable)
pkp/ojs#2737
pkp/ojs#2738 (stable)

[2020-05-08 22:22] amy-lyson commented on #5780
There also needs to be a mechanism for hosting client like me to **replace** the file. In the publisher library, I can delete the old version, but not replace the file. That's where the issue of the path changing comes in as far as the current system.

[2020-05-08 22:27] ewhanson opened #5847 "Journal order resets after reordering"
The journal order under the admin/journals page resets after the journals are reordered. Referenced on the [PKP community forum](https://forum.pkp.sfu.ca/t/ojs-3-2-0-2-problem-with-saving-reviewing-guidelines-and-journal-reordering/60322/2).

[2020-05-09 07:31] navotera opened #5848 "Some of the Tiny MCE Editor have limited feature"
**Describe the bug**
Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Site Settings' on multiple journal enviroments
2. Click on 'Appearance -> Setup'
3. Scroll down to 'Page Footer'
4. See error (no button to show any HTML code)

![image](https://user-images.githubusercontent.com/1

[2020-05-09 15:32] ahmedgad-it commented on #3525
It should be receiver-language based not sender language, i think!

[2020-05-09 17:50] #5664 closed

[2020-05-11 03:07] reaganch commented on #1873
I'm running OJS v3.1.2 but still can't see the comments to the editor in the submission page. Could you please let me know where exactly I should be seeing it?

[2020-05-11 09:16] NateWr commented on #5837
Thanks @defstat, good catch! It sounds like the only missing piece here is that when an issue is unpublished, it should reset the status of any published submissions and publications to scheduled (5). So there should be logic like this:

- Get all submissions in the issue.
- For each submission, get all the publications
- For each publication, if the status is published (3), set the status to sche

[2020-05-11 10:50] NateWr commented on #5811
Merged to `master` and `stable-3_2_0`.

[2020-05-11 10:50] #5811 closed

[2020-05-11 11:04] NateWr commented on #5840
I suspect that this is the result of the introduction of the `STATUS_QUEUED`/`STATUS_SCHEDULED` distinction. Perhaps the preview is not showing submissions that have been properly scheduled?

Either way it needs investigation so I will chuck it onto the next maintenance milestone to get sorted out.

[2020-05-11 11:09] NateWr commented on #3525
Yes, sending an email in the receiver's language is a good default. We have to be careful about situations where an email comes _from_ someone though. For example, when an editor assigns a reviewer, they need to be able to preview and modify the email that is sent to the reviewer.

In such cases, we need some flexibility since the editor may not be able to read an email in the preferred language o

[2020-05-11 11:13] NateWr commented on #1873
When an author adds comments to the editor during submission, these are converted into a "Discussion" and added to the Pre-Review Discussions. These can be found by opening the Submission stage in the submission's workflow and looking near the bottom. This page in the docs shows a screenshot of the section (but there are no comments to the editor in this example):

https://docs.pkp.sfu.ca/learning

[2020-05-11 11:15] reaganch commented on #1873
I can confirm that when logged in as the Editor, I cannot see the comments for the editor displayed as a pre-review discussion. The pre-review discussions box is empty.

[2020-05-11 11:20] NateWr commented on #1873
I was unable to reproduce the problem as you describe it in the latest `master` version, so it is possible that it has been fixed since 3.1.2.

[2020-05-11 11:24] alexxxmendonca commented on #5740
Hello!
Just want to report that there is now a case where this happened after creating a new version.

Version 1 was fine, no problem. The problem occurred when creating version 2.

This is how the public page looks like now (notice how the PDF appears duplicated): https://preprints.scielo.org/index.php/scielo/preprint/view/22

[2020-05-11 12:27] ahmedgad-it commented on #3525
So, email preview is in sender's language; an on sending, email is sent in receiver's language.

[2020-05-11 14:14] NateWr commented on #3525
If an editor is sending an email, they need to know what is being sent. Switching out the language would be an unwelcome surprise and would not work in cases where the editor has customized the email before sending.

This is a case where an automated decision should not be made, but tools should be built to help users make the most appropriate decision for their needs.

[2020-05-11 14:20] Vitaliy-1 opened #5849 "Problems when using multilingual FieldRadioInput form field"
OJS 3.2.0-3

When working with new forms, particularly, with radio input field (`FieldRadioInput` class), I've noticed several non-critical issues associated with this field being multilingual:
1. It's possible to pick only 1 value between languages per time. E.g., when selecting a value for another language the item from a prior locale becomes not selected. Thus a value for 1 language will always

[2020-05-11 15:42] NateWr opened #5850 "Audit forms for RTL language compatibility"
I noticed the following issue with multilingual text input fields when using a right-to-left (RTL) language like Arabic.

![rtl-forms](https://user-images.githubusercontent.com/2306629/81581198-5352a200-93a6-11ea-98a1-ca94500f4159.png)

The new forms system should be checked to see how it works when `dir="rtl"` is added to the `<body>` tag. If possible, the UI Library should be updated to allow to

[2020-05-11 16:32] ewhanson commented on #5847
Hi @asmecher, could you review these pull requests that address this issue? Thanks.

PRs:
#5854
#5855 (stable)

[2020-05-11 17:07] asmecher commented on #5847
That's one of those wonderful fixes that involves finding the right 5-byte change in a multi-megabyte codebase... Good spotting!

[2020-05-11 17:07] #5847 closed

[2020-05-11 18:32] asmecher commented on #5848
@navotera, which of our applications (I assume OJS) and what version are you using? (Please include this information when filing a bug entry/feature request.)

[2020-05-11 19:32] ctgraham commented on #5832
Can you share the message from your scheduledTaskLogs file that corresponds to this rejected log file?  It is probably "Usagestatisticsfileloadertask-*-20200419.log"

[2020-05-11 20:04] defstat opened #5856 "Review Form not getting the correct title and description"
**Describe the bug**
Check https://forum.pkp.sfu.ca/t/ojs-3-2-0-3-review-forms-not-displaying-title-and-description-instructions/60424 for a bug description

[2020-05-11 20:20] defstat commented on #5856
@asmecher

**PRs**
[PKP-LIB]: #5857
[OJS]: pkp/ojs#2740
[OMP]: pkp/omp#810
[OPS]: pkp/ops#21

[2020-05-11 21:04] kallewesterling commented on #5832
There are no such files available on our server. Perhaps that's where the problem lies...?

[2020-05-11 21:10] ctgraham commented on #5832
These should exist in a "scheduledTaskLogs" folder parallel to the "usageStats" folder where you found the "reject" folder containing the logs.  If this folder does not exist, create it and ensure it is writeable by your web process (or by your cron process, if you use a different user to run cron).  The message in the corresponding file(s) within scheduledTaskLogs should indicate why the usagesSt

[2020-05-11 21:15] kallewesterling commented on #5832
Nevermind, I found it. I don't know why but it wasn't showing up. Now, after restarting the Acron plugin (which I found in the manual as an instruction), it shows.

Here are the contents of `Usagestatisticsfileloadertask-5e9c7698653a5-20200419.log`:

[2020-05-11 21:16] kallewesterling commented on #5832
How can I find which "submission file" is causing this error...?

[2020-05-11 22:18] ctgraham commented on #5832
Yeah, that error is pretty worthless.  If you are OK with modifying the PHP code, you could output the `$submissionId` and `$assocId` in the error message here:
https://github.com/pkp/pkp-lib/blob/3bd3773e6b9414a317dc66de32c70e791936be02/classes/statistics/PKPMetricsDAO.inc.php#L365

Otherwise, if you can run a database query, we can try to come up with some SQL which will identify the missing dat

[2020-05-11 23:10] kallewesterling commented on #5832
Able to do either! I suspect that it's more than one, however, so perhaps an SQL query might be a better solution...

[2020-05-11 23:43] silasdb commented on #4939
On Thu, Apr 23, 2020 at 02:56:56PM -0700, Alec Smecher wrote:

You were right, the upgrade was failing because of a database encoding
issue, when I fixed that the migration script failed because it had
already made changes before.  I performed a rollback on the database and
fixed the encoding issue before running the migration and it worked
perfectly.  Thanks!

[2020-05-12 01:23] navotera commented on #5848
I am sorry I forget to tell the version.

I tested it on version 3.2.0-3 but I believe it happen for the version below 3.2.0-3 such as 3.2.0-1 and -2

Thank

[2020-05-12 05:48] ajnyga commented on #5740
@asmecher do you have ideas about this? The galley stuff is pretty much the same as you would have in OJS and I do not recall seeing this there.

[2020-05-12 10:45] netsensei commented on #5842
Thanks! Adding the indexes works for me.

Putting out how I did this for future reference / others who stumble upon this:

1/

Without the indexes present, controlled_vocabs will end up having duplicate entries. I had to remove those first. I used this query:
[code]
I also had a duplicate row with controlled_vocab_id = '1'. I had to do this:
[code]
Not sure how that ended up in controlled_vocabs.

[2020-05-12 11:09] reaganch commented on #1873
Thanks @NateWr. Will upgrade to v3.2 and check.

[2020-05-12 13:35] defstat commented on #5288
@asmecher

Following the [https://github.com/pkp/pkp-lib/issues/5288#issuecomment-601357665]

**PRs**
[pkp-lib]: #5859
[OJS]: pkp/ojs#2742
[OMP]: pkp/omp#811
[OPS]: /pkp/ops#22

[2020-05-12 14:16] NateWr opened #5860 "Multilingual form fields do not show primary locale on initial load"
**Describe the bug**
When loading a form that supports multilingual fields, the primary locale should always be shown. If the user has switched to a different locale, the form should show the primary locale and the secondary locale beside it.

However, when the user is working in a different locale, it shows the secondary locale but not the primary locale. This is probably due to the `activeLocale

[2020-05-12 15:30] asmecher commented on #5842
@netsensei, yes, this is a weird approach, which I arrived at due to the limits of ADODB and the need to support both PostgreSQL and MySQL/MariaDB. I'm currently working on [gradually removing the ADODB dependency](https://github.com/pkp/pkp-lib/issues/2493) in favour of Illuminate/Database, and perhaps it will have some better tools for DBMS-agnostic tasks like this.

Thanks for following up with

[2020-05-12 15:30] #5842 closed

[2020-05-12 15:34] asmecher commented on #5288
@defstat, thanks, I've merged all this. As part of https://github.com/pkp/pkp-lib/issues/2493 I'm refactoring all the schema descriptors, so this change will need to be reflected there, but I'll take care of that separately. All merged! I'll cherry-pick this back to `stable-3_2_0` as well.

[2020-05-12 15:34] #5288 closed

[2020-05-12 16:01] defstat commented on #5837
@NateWr, @asmecher

The PR changes the following:
- Development of the **Image 1** from the https://github.com/pkp/pkp-lib/issues/5837#issuecomment-625341494
- Fixes the "Preview Issue" problem by allowing the `STATUS_SCHEDULED` submissions to be displayed.
- Fixes the "Items count" problem - now the Issue "Items" column at the Issues Grid is set to the number of submissions that will be displayed

[2020-05-12 17:25] asmecher commented on #2493
**Proposed approach**
Introduce [Laravel (Illuminate/Database) Schema Builder toolset](https://laravel.com/docs/5.0/schema#adding-indexes) and Migrations to gradually replace [ADODB XMLSchema](https://adodb.org/dokuwiki/doku.php?id=v5:axmls:axmls_index) (which we've been using since OJS 2.0.0).

The main `install.xml` and `upgrade.xml` scripts will continue to be used to coordinate installs/upgrad

[2020-05-12 18:37] asmecher commented on #5837
Thanks for the attention to detail on this, @defstat and @NateWr!

I'm wary of batch-setting the status of previous publications; I tend to think of them as archived and invariant. However, I suppose the underlying problem is that the Publish/Unpublish button affects both Submissions and Publications at the same time. Do we need to consider breaking those two up into separate actions? That way the

[2020-05-12 19:08] asmecher commented on #5856
Merged for 3.2.1 -- thanks, @defstat!

[2020-05-12 19:08] #5856 closed

[2020-05-12 19:22] asmecher commented on #5848
@NateWr, what do you think about standardizing the vue.js-based TinyMCE options with the tools provided by the non-vue.js config? There are a few more tools in the non-vue.js stuff (see [SiteHandler.js](https://github.com/pkp/pkp-lib/blob/stable-3_2_0/js/controllers/SiteHandler.js#L160..L161)).

[2020-05-12 20:12] asmecher opened #5862 "Resolve double slash in file paths during upgrade"
See https://forum.pkp.sfu.ca/t/error-upgrading-from-2-4-8-0-to-3-2-0-3/60473:

The double slash has been noted before, but this is the first indication that it might actually cause problems on some systems.

[2020-05-12 20:59] israelcefrin opened #5863 "OJS 3.2 - Access alert for Submissions with Pre-review discussions of Editorial Team"
**Describe the bug**
When a submission is on the first stage of workflow and there are pre-review discussions among Editorial staff it shows a Javascript alert to the author when it loads the submission detail page. It occurs if the author also posts a pre-review discussion topic. At the end the page loads showing only the author's post for pre-review.

**To Reproduce**
Steps to reproduce the beha

[2020-05-12 22:02] asmecher commented on #5862
The problem turned out not to be the double-slash -- but the fix is trivial, and it's caused confusion before, so I've committed the patch to remove it.

[2020-05-12 22:02] #5862 closed

[2020-05-12 23:10] asmecher commented on #5740
@alexxxmendonca, would you be able to provide us (privately) with a database dump?

[2020-05-13 07:15] ajnyga commented on #5784
I will move most of the indexHandler and the Handler->getTargetContext() code to the shared library. All three applications will then handle one context / multiple contexts with the same logic as OJS does at the moment.

[2020-05-13 09:09] NateWr commented on #2493
This looks really great! I didn't see any upgrade migrations, just the install migration. Is that right? My understanding is that an upgrade would be added by adding a new line to the `upgrades.xml` file:

[code]

And then that migration class would just have an `up()` and a `down()` method:

[code]

Is that about right?

[2020-05-13 09:12] NateWr commented on #2493
Also, I noticed there is an ability to "back out" of an upgrade when an error occurs. This strikes me as a Very Good Thing. In terms of dropped data, will there be some way to keep dropped data around temporarily? It'd be great if in the `up()` I could say "keep this data around until the full upgrade process runs successfully" and then if there's an error the `down()` method could draw on that. B

[2020-05-13 09:39] defstat commented on #5061
It seems that the appropriate addition to the deposited XML for such cases is the http://data.crossref.org/reports/help/schema_doc/4.4.2/schema_4_4_2.html#alt-name tag.

I will propose a PR adding that to the authors tag, and try to validate that against Crossref's latest schema.

[2020-05-13 09:54] NateWr commented on #5837
I'm not sure this is a good idea. If we break them up, it would be possible for someone to end up in a situation where a submission was published but it had no published publications.

This works for publication formats because someone might want to publish a catalog entry without any formats. But a submission without a publication is a condition that we do not permit. Allowing this would provide

[2020-05-13 10:05] NateWr commented on #5848
You can use the TextEditorExtras plugin. It's available in the plugin gallery and allows you to configure the new TinyMCE editor to include support for tables, a code editor, and more.

(A longer discussion of why we've gone this route with the new controls is here: https://github.com/pkp/pkp-lib/issues/4890).

[2020-05-13 11:04] alexxxmendonca commented on #5740
@asmecher yes, I will send it to you by email.

[2020-05-13 11:58] smorello87 opened #5864 "Blank page when attempting step 1 of Peer Review process"
**Describe the bug**
After assigning a peer review, the reviewer is unable to accept it because the request gets processed as a blank page.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as user with a peer review assigned Go to 'My Queue --> My Assigned'
2. Click on 'Title of the essay..'
3. We're supposed to be able to accept/reject the assignment here, but the page just shows up a

[2020-05-13 15:21] NateWr opened #5865 "Refactor backend UI to improve accessibility and use Vue.js"
This issue describes work on the editorial and administrative backend that provides a new page architecture driven by Vue.js. A short summary of this work includes:

- Adds new page layout that increases focus on main content and removes the main navigation menu for users with only one navigation item. (See [screenshots](https://github.com/pkp/pkp-lib/issues/5865#issuecomment-628070632)).
- Migrat

[2020-05-13 15:33] NateWr commented on #5865
A new page layout that provides more breathing space.
![page-layout](https://user-images.githubusercontent.com/2306629/81833106-36010d80-9537-11ea-8acf-b2ed07d727bc.png)

Users that have only one navigation item (authors, reviewers, section editors, subscription managers) don't see a navigation menu.
![author-view](https://user-images.githubusercontent.com/2306629/81833200-55983600-9537-11ea-9795-

[2020-05-13 15:35] NateWr commented on #5865
The user nav has been tidied up.
![user-nav](https://user-images.githubusercontent.com/2306629/81833482-af98fb80-9537-11ea-9e4a-921731f1b5cb.png)

And includes a clear indication when logged in as another user.
![user-nav-logged-in-as](https://user-images.githubusercontent.com/2306629/81833513-b9bafa00-9537-11ea-8479-279a0aa9bf65.png)

[2020-05-13 15:36] NateWr commented on #5865
New toast-style notifications.
![toast-notifications](https://user-images.githubusercontent.com/2306629/81833672-e838d500-9537-11ea-8027-7f6afb7d2e05.gif)

[2020-05-13 15:37] NateWr commented on #5865
Forms now broadcast their Saving/Saved status messages in a more accessible way.
![save-form](https://user-images.githubusercontent.com/2306629/81833797-0dc5de80-9538-11ea-904f-8341de981fb7.gif)

[2020-05-13 15:41] alexxxmendonca commented on #5865
This all looks so beautiful 😍
👍 👍 👍 👍

[2020-05-13 15:44] Vitaliy-1 commented on #5801
PR to master: https://github.com/pkp/ojs/pull/2745

[2020-05-13 16:10] asmecher commented on #5865
Jeez, @NateWr, I'm practically blind to the UI I'm working with when I get so used to it -- but when improvements like these are proposed they seem so obvious in hindsight. :100:

[2020-05-13 16:28] asmecher commented on #2493
@NateWr, re: https://github.com/pkp/pkp-lib/issues/2493#issuecomment-627855559, yes, that's roughly how a migration would go into `upgrades.xml` -- it'll still typically get listed in a `<upgrade minversion="2.4.0.0" maxversion="3.0.0.9">` node (though it doesn't have to) just like our current `<code>` and `<data>` elements.

I'd like to do a little more reading about Laravel's structures here to

[2020-05-13 16:29] asmecher commented on #5848
:+1: Thanks, @NateWr!

[2020-05-13 16:29] #5848 closed

[2020-05-13 16:30] asmecher commented on #5864
@smorello87, check your PHP error log for details.

[2020-05-13 16:54] NateWr commented on #3595
Closing in favor of #5865.

[2020-05-13 16:54] #3595 closed

[2020-05-13 16:55] NateWr commented on #4639
Implemented in #5865.

[2020-05-13 16:55] #4639 closed

[2020-05-13 16:57] NateWr commented on #4379
A different direction has been taken in #5865 which requires PageHandlers to pass the constants they need to use to the UI. Closing in favor of that approach.

[2020-05-13 16:57] #4379 closed

[2020-05-13 16:57] NateWr commented on #4081
Implemented as part of #5865.

[2020-05-13 16:57] #4081 closed

[2020-05-13 16:59] NateWr commented on #4774
Implemented in #5865

[2020-05-13 16:59] #4774 closed

[2020-05-13 16:59] NateWr commented on #4716
Implemented in #5865.

[2020-05-13 16:59] #4716 closed

[2020-05-13 17:01] NateWr commented on #4640
Changes introduced in #5865 considerably simplify how components are previewed in the UI Library. Given Storybook's known issues with the Vue.js dev tools, I don't think it's a good idea to convert it to Storybook.

[2020-05-13 17:01] #4640 closed

[2020-05-13 17:01] NateWr commented on #5478
Implemented in #5685.

[2020-05-13 17:01] #5478 closed

[2020-05-13 17:33] asmecher commented on #5837
OK, thanks -- I'm content to go ahead with this as proposed. The submission/publication status is an opportunity for discrepancy but I don't have a better idea yet how to fix it.

[2020-05-13 17:38] asmecher commented on #5784
(Another forum thread: https://forum.pkp.sfu.ca/t/show-multiple-presses-on-omp/51253)

[2020-05-13 18:36] alexxxmendonca opened #5867 "[OPS] Restricted ability for creating new preprint versions"
**Describe the bug**
The way OPS is set currently, an author cannot create a new version for a preprint that's been previously accepted and posted, unless they have permission to publish content altogether (for example, via the "Returning Author" plugin).

Permission to publish content varies according to the server editorial policy and a server may make use of different plugins and criteria to de

[2020-05-13 19:32] alexdryden opened #5868 "Admin interface for Usage Event does not indicate status"
**Describe the bug**
From the site admin plugin page, unchecking the Usage Event box disables the plugin but does not toggle the state of the box. After which, it is impossible to enable the plugin through the admin interface and and the plugin appears enabled from the interface.

**To Reproduce**
1. Go to Setting>Website>Plugins
2. Scroll to Usage Event
3. Tick the box
4. Hit Okay
5. Box is still

[2020-05-14 00:00] asmecher opened #5869 "Clean up plugin installation error handling"
Plugin installation problems are frequent on the forum; users often have trouble with file permissions, `tar` tool configuration, the `exec` function being disabled, etc. The error messages OJS/OMP/OPS currently gives are inscrutable.

Clean up the error handling, adding messages as needed.

[2020-05-14 00:07] asmecher commented on #5869
Changes:
- Use exceptions for error handling
- Remove code treating `lib/` in plugin archive specially (an occasional gotcha)
- (Add a bit of similar error handling to the log file management code)
- Remove some of the convoluted use of `FileManager` et al
- Minor self-doc improvements

PRs:
- https://github.com/pkp/pkp-lib/pull/5870
- https://github.com/pkp/ojs/pull/2747 (tests only)

[2020-05-14 00:30] thinkbulecount2 commented on #5179
PR: https://github.com/pkp/ojs/pull/2748

cc: @NateWr

[2020-05-14 00:31] thinkbulecount2 commented on #5178
Bumping this because I've made changes, cc: @NateWr

[2020-05-14 00:37] thinkbulecount2 commented on #5176
Hi @asmecher and @NateWr is this enough or should I add more information? We are assuming that the `$heading` variable starts at `h2` in most cases.
[code]

We are doing the same for OMP.

[2020-05-14 00:41] thinkbulecount2 commented on #5176
Also the same logic exists for `templates/frontend/objects/announcement_summary.tpl`

`{if !$heading}
	{assign var="heading" value="h2"}
{/if}`

[2020-05-14 00:54] thinkbulecount2 commented on #5183
Hi @israelcefrin your message got cut off for `<fieldset class="review">` ?

[2020-05-14 00:59] thinkbulecount2 commented on #5182
Hi @NateWr, is our current to-do list for this one:

- [ ] fieldset, legend and label HTML markup errors in advanced form
- [ ] remove italics on labels in advanced form
- [ ] remove placeholder in main input field
- [ ] main input field label should be visible

[2020-05-14 01:36] asmecher opened #5871 "Remove JBImages plugin"
The Justboil.me TinyMCE plugin, included in some PKP products, is not safe; see: https://packetstormsecurity.com/files/151677/TinyMCE-JBimages-3.x-JustBoilMe-Arbitrary-File-Upload.html

**Unaffected releases**
The following releases *are not affected* by the insecure version of JBImages and do not require any changes:
- Open Journal Systems (OJS) 3.2.0 and newer
- Open Monograph Press (OMP) 3.2.0

[2020-05-14 09:39] NateWr commented on #2493
Yeah I agree. I think it would be great to implement if we can but it will be pretty challenging to do so -- especially in the complex migrations where it would matter most (eg - versioning in 3.2).

I'd lean towards introducing it in 3.3. I appreciate that it's more new stuff rather than modified stuff, which means it's less likely to introduce bugs. But I would also see it as something that requ

[2020-05-14 11:03] NateWr commented on #5178
Thanks, just took a look. Almost there just a couple more things. Can you apply this to OPS as well?

[2020-05-14 11:07] NateWr commented on #5176
Yes, that logic looks good. I see that it's documented at the top of `monographList.tpl`, like this:

[code]

As Alec suggested, we should also document it in `monograph_summary.tpl` and `article_summarty.tpl` (and `issue_toc.tpl` when added to that).

[2020-05-14 11:12] NateWr commented on #5182
Yes, I think so. Let's hold off on this for now, though. Once the In Progress tasks are done on the Accessibility project I'd like to shift you on to some Vue.js work.

[2020-05-14 11:38] NateWr commented on #1833
Does a decision on this need to be made for 3.2.1 or can this be deferred?

[2020-05-14 11:45] NateWr commented on #4695
Thank you, @bdmckay, for your clear explanation of why re-using existing numbers isn't satisfactory. I'd still like to see this question addressed, which I raised a while back:

What makes the following bibliographic reference:

More valuable than:

In other words, what is the article number adding to the discovery and identification articles?

cc @AhemNason on this.

[2020-05-14 11:48] NateWr commented on #4695
Also, @bdmckay, I should mention that in v3.2 we separated the Public URL Identifier and the Publisher ID. It is now possible to add a value to the Publisher ID without impacting the URL. This may or may not serve your needs, but it's worth mentioning.

[2020-05-14 11:53] NateWr commented on #5265
@ctgraham do you recall how we left this? Is there a particular plugin where we need to rewrite the register function or was there more to it? I'm afraid this will get deferred again if there is more investigation that needs to happen.

[2020-05-14 11:54] #5373 closed

[2020-05-14 11:57] NateWr commented on #5703
Looks like you've made progress here. Is there still more work to be done?

[2020-05-14 12:05] NateWr commented on #5620
The open-to-tab functionality is restored as part of #5865. Deferring this to 3.3 since that won't land until then.

[2020-05-14 12:21] NateWr commented on #5695
This is resolved as part of #5865 so I would prefer to close this and leave the fix for 3.3.

[2020-05-14 12:21] #5695 closed

[2020-05-14 12:56] AhemNason commented on #4695
I'd like to do a little bit of research on article numbers before I put in a more fully-formed response but I would lead just with this:

Please no stop-gap measures that modify DOI/Crossref metadata. This is a very bad idea that will get complicated both for Crossref members and our ability to support them. If we're going to do this, we need to do it right and without appropriating existing funct

[2020-05-14 13:39] israelcefrin commented on #5183
Hi @thinkbulecount2 , I've added the missing part, sorry for that.

[2020-05-14 13:43] AhemNason commented on #4695
So, the Crossref schema (which I usually turn to because of how many different types of publishers and publications they accommodate) includes two metadata fields for article identifiers.

https://data.crossref.org/reports/help/schema_doc/4.4.2/schema_4_4_2.html#identifier

So this field's use is _very specific_ to standards-based identifiers. PII, in this case, is: "_Publisher Item Identifier, a

[2020-05-14 13:50] NateWr commented on #4695
Thanks @AhemNason. I think that we already support a publisher ID for internal use. We call it the Publisher ID and it's available in the identifiers area (it used to be the URL path but we've separated them out in 3.2).

It doesn't seem, from what you've described, that there is any particular support for an article number as in the number of the item in an issue or volume. Is that right?

[2020-05-14 13:53] AhemNason commented on #4695
No the Crossref schema does have that.

[2020-05-14 13:55] fgnievinski commented on #4695
many citation styles, such as that of Science, do not include the article title in the list of references.

article number is an alternative to page numbers – no more, no less useful than that.

yes, doi makes both unnecessary, but it also makes volume number and issue number unnecessary.

finally, crossref already fully supports article numbers, which means recognition of the role and importance

[2020-05-14 14:03] AhemNason commented on #4695
Just for context, the reason we so strongly consider the additions of new metadata fields in OJS is because we know from UI/UX that a lot of the fields aren't used properly or can be confusing to use. So, the assertion here isn't that you don't need the field, but that the addition of the field needs to be carefully considered so that its use is clear-cut.

[2020-05-14 14:10] thinkbulecount2 commented on #5183
No problem, @israelcefrin !!

[2020-05-14 14:13] bdmckay commented on #4695
@NateWr (I started typing to your "Thank you..." question above).

Please note that you could ask the same question about (volume, issue, pagenumber). The title is not suitable as part of the primary article coordinates because it is long, may contain foreign characters, mathematical symbols, etc..  In practice it would be used with some pattern matching; i.e. it would not be precise at all.

As I

[2020-05-14 14:30] thinkbulecount2 commented on #5176
Made the change here: https://github.com/pkp/ojs/pull/2692/commits/54458a8dc68e352b43bd7d85b8f0661ee61c978c as part of https://github.com/pkp/ojs/pull/2692

To be done in OMP and OPS as well

[2020-05-14 15:04] NateWr commented on #4695
Just catching up and may not be able to reply today but wanted to pass @bdmckay this link which describes the changes to Publisher ID and Public URL Identifier in 3.2: https://github.com/pkp/pkp-lib/issues/5430#issuecomment-587093740

[2020-05-14 15:10] thinkbulecount2 commented on #5178
[PR for OPS](https://github.com/pkp/ops/pull/23)

cc @NateWr

[2020-05-14 15:11] thinkbulecount2 commented on #5178
Just put a [link](https://github.com/pkp/ops/pull/23) to the OPS PR in the original issue

[2020-05-14 15:13] NateWr opened #5872 "Update Cypress and vue-cli to address warnings"
Cypress and vue-cli have been updated to resolve some npm warnings. Doesn't seem to have caused any problems but I'm posting this issue to track the tests, since an update to Cypress might have caused problems in the full test suite.

[2020-05-14 15:18] NateWr commented on #5872
PRs:
https://github.com/pkp/ojs/pull/2749
https://github.com/pkp/ops/pull/24
https://github.com/pkp/omp/pull/813
https://github.com/pkp/ui-library/pull/89

[2020-05-14 15:22] SamiullahSarwar opened #5873 "DOI Plugin Deleted"
Hi,

I have mistakenly deleted the DOI plugin from Plugins > Public Identifier Plugins.
Please let me know how to retrieve it. Or is there any other appropriate solution for that.

Regards,
Samiullah Sarwar

[2020-05-14 15:32] mwestin-googlescholar commented on #5686
Hi, Monica Westin with Google Scholar here. It's completely fine to have multiple ISBN metatags.

Please let me know if I can be of help in creating this patch. The main thing would be to display the metadata for the monograph, along with a citation_pdf_url metatag to the full PDF of the book (for fulltext indexing).

[2020-05-14 15:42] defstat commented on #5061
The tags that can be used here are
- http://data.crossref.org/reports/help/schema_doc/4.4.2/schema_4_4_2.html#contributors
- http://data.crossref.org/reports/help/schema_doc/4.4.2/schema_4_4_2.html#person_name
- http://data.crossref.org/reports/help/schema_doc/4.4.2/schema_4_4_2.html#language.atts
- http://data.crossref.org/reports/help/schema_doc/4.4.2/schema_4_4_2.html#alt-name
- http://data.cro

[2020-05-14 15:47] asmecher commented on #5703
It's merged and I'll close it, but @israelcefrin and @jnugent, please let me know if this is helpful for upgrades to 3.2.0 as well. (You'll have to apply https://github.com/pkp/ojs/commit/bc1b4d95b171fe223f515696e537d4733911d2ab manually before running the upgrade -- this is only in `master`, not `stable-3_2_0`.)

[2020-05-14 15:47] #5703 closed

[2020-05-14 15:49] asmecher commented on #5873
@SamiullahSarwar, could you post this on our support forum at https://forum.pkp.sfu.ca? That's the best place to go for tech support.

[2020-05-14 15:49] #5873 closed

[2020-05-14 15:49] Vitaliy-1 commented on #5563
@NateWr If the article is in the unpublished state after being published, it still can be viewed without authorization in 3.2.0-3.

[2020-05-14 16:00] NateWr commented on #5178
All PRs ready for merge once the tests pass:
https://github.com/pkp/ojs/pull/2751
https://github.com/pkp/ops/pull/23
https://github.com/pkp/omp/pull/795

[2020-05-14 16:05] NateWr commented on #5563
Can you describe what you mean by "if the article is in the unpublished state after being published"? If it is published it should have `STATUS_PUBLISHED`.

[2020-05-14 16:22] Vitaliy-1 commented on #5563
Article that was once published but then unpublished by pressing unpublish button.

[2020-05-14 16:27] Vitaliy-1 commented on #5563
Submission:
[code]
Publication:
[code]
Or it should to be this way?

[2020-05-14 16:29] Vitaliy-1 commented on #5563
Ahh, by ID I see that the 4th version is unpublished which means that 3rd should be shown instead (publication with id 173), right?

[2020-05-14 16:33] Vitaliy-1 commented on #5563
(a bit confusing to me but looks like it works as it should, false alarm)

[2020-05-14 16:34] NateWr commented on #5563
:+1: Yeah you can unpublish a previously published version. But if another published version exists, the submission should remain available.

[2020-05-14 16:42] NateWr commented on #5179
These PRs are ready for merge once the tests pass:
https://github.com/pkp/pkp-lib/pull/5875
https://github.com/pkp/ojs/pull/2752
https://github.com/pkp/omp/pull/815
https://github.com/pkp/ops/pull/26

[2020-05-14 16:46] NateWr commented on #5176
The remaining parts of this are in #5178 so I'm closing this again in favor of discussing further there.

[2020-05-14 16:46] #5176 closed

[2020-05-14 16:57] NateWr commented on #5801
Looks like this got merged. Can we close this?

[2020-05-14 17:50] asmecher commented on #5801
Yup!

[2020-05-14 17:50] #5801 closed

[2020-05-14 18:19] israelcefrin opened #5876 "OJS3.2 Editorial activity stats counting submissions from removed journals"
**Describe the bug**
When a journal is deleted on OJS2 all submissions that didn't start the review stage are kept in the database. These lost submissions are counted on the Editorial activity stats chart of remaining journal  even though they have different context_id.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Statistics > Editorial Activity'
2. Check Submission number
3. Go to

[2020-05-14 19:42] defstat commented on #5796
@asmecher @NateWr

**PRs**
[pkp-lib]: #5877
[OJS]: pkp/ojs#2753
[OMP]: pkp/omp#816
[OPS]: pkp/ops#27

[2020-05-14 19:52] asmecher commented on #5869
@NateWr, could you have a look at this for potential inclusion into OJS 3.2.1? I know this is a fair-sized change, but [given](https://forum.pkp.sfu.ca/t/solved-custom-block-manager-didnt-save/41800) [the](https://forum.pkp.sfu.ca/t/after-upgrade-ojs-3-1-1-4-to-ojs-3-0-2-0-change-language-problem/59830/7) [sheer](https://forum.pkp.sfu.ca/t/ojs-3-2-0-0-files-of-this-type-can-not-be-uploaded/59381)

[2020-05-14 19:55] asmecher commented on #5869
(@quoideneuf, you might be interested in this too...)

[2020-05-14 20:22] asmecher opened #5878 "Review and improve PluginRegistry"
The PluginRegistry class has gone a long time without review/improvement. Minor issues:
- Object instantiation could use a review (the `instantiate` function in `functions.inc.php` and its use)
- Misplaced files lead to warnings (see e.g.: https://forum.pkp.sfu.ca/t/problems-after-upgrading-omp-3-2-0-3/60518)
- Could probably benefit from the use of Exceptions rather than unhandled `null` returns

[2020-05-14 20:30] asmecher commented on #5878
PR: https://github.com/pkp/pkp-lib/pull/5879

[2020-05-14 20:38] israelcefrin commented on #5876
Maybe could be a good ideia, during upgrade process, check whether the context_id of a submission does exist on journal database.

[2020-05-14 20:53] wujastyk opened #5880 "[OJS] "How to cite" has missing space between surname and first name"
**Describe the bug**

![image](https://user-images.githubusercontent.com/762246/81984739-783b5500-95f2-11ea-8374-9239881ef920.png)

There's no space between "Verdon" and "Noémi".  This is the case for all authors and all citation formats.  It should read "Verdon, Noémi and Michio Yano."

**What application are you using?**
 OJS version 3 point something.

[2020-05-14 20:54] asmecher commented on #1833
I think this can be deferred.

[2020-05-14 20:55] asmecher commented on #5880
@wujastyk, can you check the specific version of OJS? See https://forum.pkp.sfu.ca/t/how-do-i-determine-my-pkp-softwares-version/28534 for details.

[2020-05-14 21:43] asmecher commented on #2493
:+1: Yup, let's go with that, thanks.

[2020-05-14 21:48] asmecher commented on #5796
@defstat, looks good to me -- please merge, and cherry-pick back to `stable-3_1_2`!

[2020-05-14 21:53] #5838 closed

[2020-05-14 22:59] wujastyk commented on #5880
Sorry, I can't help.  I am a journal editor but not administrator. I'm using an installation that is managed by my university.  The OJS interface for journal editors bizarrely doesn't expose the OJS version number.  The instructions you pointed to do not solve this limitation.
In October last year I was told we were moving to OJS 3.1.2 "in a few weeks."  I will write to the administrators and ask,

[2020-05-14 23:27] asmecher commented on #5880
@wujastyk, if you right-click on the page and hit "View Page Info", you should see the version of OJS used.

[2020-05-15 00:37] wujastyk commented on #5880
That was easy!  Thank you :-)

Open Journal Systems 3.1.2.4

[2020-05-15 03:59] navotera commented on #5848
Thank you @NateWr for your explanation

[2020-05-15 06:02] bdmckay commented on #4695
@NateWr Thanks for the link.  We use a public URL Identifier that encodes (volume,issue,article). Such as v3i2a7 for vol 3, iss 2, article A7. This incidentally allowed us to install server rewriting rules that understand our old URLs from before we adopted OJS. Even URLs that were printed in the 1990s still work.

Here are some more journals that use public article numbers in place of page number

[2020-05-15 13:02] defstat commented on #5796
@asmecher everything merged except the OPS PR (for which I don't have permission to merge) (tagging @ajnyga for that merge)

[2020-05-15 13:25] defstat commented on #5796
For reference:

**PRs - 3.1.2**
[pkp-lib]: #5882
[OJS]: pkp/ojs#2754
[OMP]: pkp/omp#817

[2020-05-15 14:11] ajnyga commented on #5784
@asmecher if this looks ok, I can do a pr for OJS and OPS as well:
OMP: https://github.com/pkp/omp/pull/799
pkp-lib: https://github.com/pkp/pkp-lib/pull/5881

[2020-05-15 14:20] quoideneuf commented on #5869
Looks like a positive change to me...really hard to find the origin of those old errorMsg values if you aren't familiar with the code flow.

[2020-05-15 16:04] AdSuzs opened #5883 "[OPS] Can authors create a new version of their published submissions without the publish permission?"
Based on the [Returning Author Screening Plugin](https://github.com/pkp/returningAuthorScreening), we want to know if we can authorize authors to create versions of their published works with the rule that they still can't publish their submissions.

[Here](https://github.com/pkp/returningAuthorScreening/blob/master/ReturningAuthorScreeningPlugin.inc.php#L76) we see that is easy to give the permis

[2020-05-15 16:07] alexxxmendonca commented on #5883
Hi @AdSuzs !

I think your issue is similar to mine. Please check #5867.

[2020-05-15 16:29] alexxxmendonca opened #5884 "[OPS/OJS/OMP] Add ability to upload/select file on "Notify" dialogue"
**Describe the problem you would like to solve**
Provide more context to messages sent via Notify functionality that are related to submission files.

**Describe the solution you'd like**
Integrate “file upload/select file” function to the Notify dialogue.

**Who is asking for this feature?**
See https://forum.pkp.sfu.ca/t/sharing-files-in-the-notification-dialog-from-uploaded-files/58213

[2020-05-15 16:34] alexxxmendonca opened #5885 "[OJS/OMP] Ability to send review reminders prior to due date"
**Describe the problem you would like to solve**
Reviewers are informed only after the review deadline has reached, not before. If they are notified before, it could increase chances of getting reviews before the deadline and by extent shortening the overall manuscript evaluation time.

**Describe the solution you'd like**
Ability to send review reminders prior to the due date.

**Who is asking fo

[2020-05-15 18:48] ajnyga opened #5886 "OMP site wide search"
With https://github.com/pkp/pkp-lib/issues/5784 OMP will also need a site wide search.

In OMP the search is within the CatalogHandler. The only obstacle is the `ContextRequiredPolicy` in `PKPCatalogHandler`.
Possible routes:
a) move OMP search to a separate search handler or
b) loosen the PKPCatalogHandler authorization policies, ie. make `ContextRequiredPolicy` conditional.

Worth thinking is th

[2020-05-15 19:42] asmecher commented on #5886
There's potential for making `CatalogHandler` site-wide, but we don't have a user asking for it yet and I'd want to look into sharing aspects of the equivalent handlers across the app in order to do that. So I'd suggest tackling this by trying to align OMP's search handling closer to OJS/OPS, which would set the stage for a second phase if we need it.

[2020-05-15 20:24] #5871 closed

[2020-05-15 20:36] asmecher opened #5887 "Performance problem in "recommend by author" plugin"
The "Recommend By Author" plugin queries for an author across all journals in the installation. However, there is no index for that condition and large collections can get quite slow.

The issue was reported (by @ajnyga) in OJS 3.1.2; in OJS 3.2.0, the query appears to have been rewritten to be journal-constrained, which is probably not intentional.

[2020-05-15 21:05] rtwilson commented on #5871
When you say run the wget cmd in the install directory, do you mean the install dir of the specific plugin or general ojs install dir?

[2020-05-15 21:06] asmecher commented on #5740
We were able to determine steps to replicate this. It affects OJS as well, but hasn't been seen there before probably because editors travel through the system more predictably.

1. Start creating a galley. Give it a label and proceed.
2. Complete step 1 of the file upload wizard. Proceed to step 2.
3. Cancel the file upload wizard.

At this point, attempting to reload the galley list will leave a

[2020-05-15 21:07] asmecher commented on #5871
This is the OJS (or OMP or OCS) installation directory.

[2020-05-15 21:08] rtwilson commented on #5871
thanks!

[2020-05-15 23:34] asmecher commented on #5740
This only affects OJS, OMP, and OPS 3.2.0 builds (before this fix gets included). Here's what's happening...
- When a file upload gets cancelled, the front end [calls](https://github.com/pkp/pkp-lib/blob/34ce60c3fe2cef15b7e0e6154332b06d3648f064/templates/controllers/wizard/fileUpload/fileUploadWizard.tpl#L27) `ManageFileAPIHandler` to [delete the uploaded file](https://github.com/pkp/pkp-lib/blob/

[2020-05-16 00:48] navotera commented on #5848
I have activate this plugin
![image](https://user-images.githubusercontent.com/1424851/82106146-d6327e80-9751-11ea-85d4-484cc0829521.png)

But somehow, the code button on the main site setting on the Footer Text Editor is not appear
![image](https://user-images.githubusercontent.com/1424851/82106173-f82c0100-9751-11ea-99bf-2465761f9c80.png)

Any ideas or the HTML code is not supported on the main

[2020-05-16 00:51] navotera commented on #5871
This patch remove the upload button on the tiny mce.

![image](https://user-images.githubusercontent.com/1424851/82106247-5f49b580-9752-11ea-92b6-3dc929fcb0ee.png)

Is there any way we can upload any image on tiny mce as it used to be ?

[2020-05-16 01:50] asmecher commented on #5871
@navotera, that's intentional -- the JBimages plugin provided that feature.

If you upgrade to OJS 3.2, there is an upload feature that doesn't rely on JBimages.

We may back-port the replacement plugin, but haven't decided yet, and I consider it unlikely.

[2020-05-16 03:25] navotera commented on #5871
Thank for the reply.
I hope it would be compatible with OJS 3.1.2-X since there is still a lot of users who use that version.

[2020-05-18 04:38] carzamora commented on #5871
Hi @asmecher, why OJS 3.2 is not affected? Is it a different version of TinyMCE?

[2020-05-18 05:57] ajnyga commented on #5740
No objections, nice detective work.

[2020-05-18 10:15] NateWr commented on #5885
Probably what we want here is a tool for configuring reminders that lets the journal set up a reminder, define when it occurs (X days before/after due date), and configure the email that is sent.

[2020-05-18 11:14] NateWr commented on #4695
Thanks everyone for the discussion. Whatever the merits of an article number, it's clear that this is widely used in some disciplines.

I think that we can support article number in the core application. But like other metadata that is not commonly used (Type, Coverage) it should be added as an opt-in at the journal level, so that it is not presented unless a journal editor enables it. This should

[2020-05-18 11:17] NateWr commented on #5796
@asmecher just double checking but did you mean to backport to `stable-3_2_0`? Does it still need to be cherry-picked over?

[2020-05-18 11:22] NateWr commented on #5869
:+1: Yep, definitely a justified inclusion I think and a great improvement.

[2020-05-18 11:24] NateWr commented on #5886
Agreed, a base `/search` route with its own handler that can be shared across apps for everything except going and getting the results from the database seems best to me.

[2020-05-18 11:31] NateWr commented on #5848
Have you configured the plugin settings yet? You enable the fields you want for each field, as shown in this screenshot:

https://github.com/pkp/textEditorExtras

To get to settings go to Settings > Website > Plugins > Text Editor Extras > (Click the arrow to open options) > Settings.

If there is a field that's not included in the plugin, let us know and we can add it.

[2020-05-18 11:35] NateWr commented on #5517
[Intl.RelativeTimeFormat](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/RelativeTimeFormat) is a new JavaScript object that may help us with the `X days ago` part of this. It has very low browser support so would need to make sure Babel is polyfilling it.

[2020-05-18 11:51] NateWr commented on #5740
@asmecher No objections to this workaround and a good idea to leave the change to `setData()` for 3.3.

[2020-05-18 13:59] NateWr commented on #5871
@carzamora Yes, we removed the JBImages plugin in 3.2.

[2020-05-18 14:01] NateWr commented on #5871
The following PRs backport the new image upload features to 3.1.2. This means that the plugin with the vulnerability is removed but users can still upload images through TinyMCE.

I recommend you wait until these PRs are merged before applying them to your live sites.

PR:
https://github.com/pkp/pkp-lib/pull/5888
https://github.com/pkp/ojs/pull/2755
https://github.com/pkp/omp/pull/818

[2020-05-18 15:05] #5178 closed

[2020-05-18 15:10] NateWr commented on #5179
Merged!

[2020-05-18 15:10] #5179 closed

[2020-05-18 15:13] NateWr commented on #5872
Merged.

[2020-05-18 15:13] #5872 closed

[2020-05-18 16:00] NateWr commented on #5694
This looks good, @ajnyga, nice work! I had one comment about renaming the assigned editor selection list panels.

I'm sure we've discussed this, but what did we decide about subcategories inheriting category editors? If I have the following categories:

[code]

And I have assigned an editor, "Rachel", to the Red category. When a submission is made to the Purple or Pink category, no editor is assig

[2020-05-18 16:23] NateWr commented on #5533
PR:
https://github.com/pkp/pkp-lib/pull/5889

@israelcefrin not sure if you remember this, but it came up in the last round of UX testing. Here's the new description.

![edit-metadata](https://user-images.githubusercontent.com/2306629/82236619-4268da00-992c-11ea-9b0b-05097aa772e3.png)

Does that seem like a sufficient improvement?

[2020-05-18 16:34] alexxxmendonca opened #5890 "[OPS] New discussion notifications leads to 404"
**Describe the bug**
When an author adds a message to a discussion from a preprint that has been already posted, the link leads to a 404 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Post a preprint
2. As the preprint author, add a new comment to a discussion
3. As the moderator, see the notification in "Tasks" and attempt to access the submission
4. See error

**What application ar

[2020-05-18 17:00] israelcefrin commented on #5876
A quick note: It seems that for multi-journal installation the Editorial activity is counting all journals. When I have different journals it was supposed to show only stats for one journal per time.

See the screenshot bellow for  journal without any submission for the last 2 years and showing active submissions:
![image](https://user-images.githubusercontent.com/4992902/82239845-6fef5c80-9907-11

[2020-05-18 17:21] alexxxmendonca commented on #5890
Update: this issue is affecting non-posted preprints as well.

[2020-05-18 17:27] mbarros64 opened #5891 "[OJS] KeywordCloudPlugin to 3.2 Version of OJS _cache miss not working anymore"
Hello, we were adapting the KeywordCloudPlugin and the function _cacheMiss does not working anymore. Can someone help us to identify something has changed of OJS 3.1 in relation to 3.2 version?
Here the original code that works fine on version 3.1:
https://github.com/lepidus/ojs3-keywordcloud-plugin/blob/master/KeywordCloudBlockPlugin.inc.php#L76
And that is the code with our modifies, in this cas

[2020-05-18 17:37] mbarros64 commented on #5891
@asmecher

[2020-05-18 17:48] asmecher commented on #5887
Also reported on the forum: https://forum.pkp.sfu.ca/t/ojs-3-1-2-plugin-of-recommended-articles-of-the-author-makes-the-platform-slower/60628/2

[2020-05-19 01:04] navotera commented on #5848
Hi @NateWr
Thank for your respond
In the Site Settings (the main site of OJS) there is no setting for the TextEditorExtras as you have told me.
![image](https://user-images.githubusercontent.com/1424851/82273219-7b965e00-99af-11ea-878a-b553c4bbf1f9.png)

And when users (domain/index.php/index/admin/settings) access this URL to add footer on the main site of the OJS the button that should available

[2020-05-19 08:36] ajnyga commented on #5694
I am not sure we discussed this particular scenario. I think we discussed more a situation where several categories are selected.

I can see how inheritance you describe would make sense. But is it transparent enough for users? Is it more transparent that you only receive the submissions from the subcategory if you have a direct assignment?

[2020-05-19 09:09] NateWr commented on #5848
Ah I see, the settings are only available for each context (journal), not at the site-wide level. You'll need to configure it for each journal.

[2020-05-19 09:12] NateWr commented on #5694
Ok, let's leave it as-is for now. This way it can be manually configured to support either use case.

[2020-05-19 09:37] NateWr commented on #1096
Closing as obsolete. Use the [controlPublicFiles](https://github.com/pkp/controlPublicFiles) plugin from v3.2 on.

[2020-05-19 09:37] #1096 closed

[2020-05-19 10:31] Vitaliy-1 opened #5892 "Hooks aren't being called from block plugins"
Related to: https://forum.pkp.sfu.ca/t/add-a-css-to-block-plugin-in-3-2-0-1/59518/6

It seems impossible to hook in `TemplateManager:: display` with a Block Plugin, e.g., to add styling.

Steps to reproduce the behavior:
1. Create a block plugin
2. Register TemplateManager::display hook
3. Debugging shows that it's never been called.

Originally tested with OJS 3.2.0-1. I've reproduced with 3.2.0-

[2020-05-19 11:49] Vitaliy-1 commented on #5892
Starting from OJS 3.2.0 initialization of block plugins has moved from `PKPTemplateManager::initialize` to `PKPTemplateManager::displaySidebar` that is registered through `Templates::Common::Sidebar` hook, which is called after `TemplateManager::display` and other hooks.

[2020-05-19 15:02] thinkbulecount2 commented on #5601
Polyfill for multirange inputs for the slider: https://github.com/LeaVerou/multirange

[2020-05-19 15:20] NateWr commented on #5532
This required a little bit of technical hoop-jumping because we're juggling the old modals and the new form system. As a temporary solution I have gone with a two-step process where the user assigns a publication to an issue and is then presented with the publish confirmation UI.

This works from the main Schedule for Publication button.
![schedule-for-publication](https://user-images.githubuserco

[2020-05-19 15:21] NateWr commented on #5631
This is address in #5532. I was unable to reproduce the issue when unpublishing with a `datePublished` in the past. It may have been fixed by work on that issue or other recent related work.

[2020-05-19 15:21] #5631 closed

[2020-05-19 15:21] NateWr commented on #5630
I was unable to reproduce this after work done in #5532. This may have been fixed in work for that issue or other related work.

[2020-05-19 15:21] #5630 closed

[2020-05-19 15:35] NateWr commented on #5601
It's a good find! I did a bit of digging through its issues, though, and found this:

https://github.com/LeaVerou/multirange/issues/37

It looks like the polyfill was based on a `multiple` attribute that was once part of the range input spec but is no longer supported. For that reason, I'm hesitant to use it.

[2020-05-19 15:36] thinkbulecount2 commented on #5601
Ahhh that's too bad :< will keep doing some digging if I find anything else!

[2020-05-19 16:35] NateWr commented on #5791
Fixed in https://github.com/pkp/ui-library/commit/14da7d4127d52f7d3dd03e11be534914d8c1adb6

[2020-05-19 16:35] #5791 closed

[2020-05-19 17:24] asmecher commented on #5869
Merged, thanks!

[2020-05-19 17:24] #5869 closed

[2020-05-19 17:27] asmecher commented on #5061
Thanks, @defstat, I just added one minor comment but otherwise these are ready to go. Please go ahead when you're ready.

[2020-05-19 17:37] drboone commented on #5816
Ok, that improved things a lot.  We're still seeing:

* Users&Roles in the  sidebar menu has three items, but all three go to the users tab.

* There's a non-functional "open menu" button displayed on public-facing pages.

* There are double search objects on the right side of the top bar on public-facing pages, overlapping login or logged-in menu dropdown; clearing browser cache did not help, no

[2020-05-19 17:45] Vitaliy-1 commented on #5892
To make a behavior similar to OJS 3.1.2 (register block plugins earlier), it's possible to change this line: https://github.com/pkp/pkp-lib/blob/51bf8bf063fa4360f29c8748ba3bd4b4461baced/classes/template/PKPTemplateManager.inc.php#L442

to something like:
[code]
with correspondent changes in `displaySidebar` method.
@asmecher, what do you think?

[2020-05-19 19:39] asmecher commented on #5816
@drboone, could you post these on the support forum (https://forum.pkp.sfu.ca), including as much detail as possible, e.g. screenshots where you think they would be helpful? The git issues tool is more for bug fixes than technical support. If you hit on a bug, we can re-open this if need be.

[2020-05-19 19:39] #5816 closed

[2020-05-19 22:21] defstat commented on #5061
@asmecher I have merged [pkp-lib], [OJS] and [OMP].
Don't have permission to merge on OPS (tagging @NateWr @ajnyga)

[2020-05-19 22:27] asmecher commented on #5061
@defstat, I've just added core-team to the ops repository; please try again?

[2020-05-19 22:51] defstat commented on #5061
It complains:

![image](https://user-images.githubusercontent.com/560456/82386121-6a476300-9a3c-11ea-849c-599bcd7cc9ed.png)

[2020-05-19 23:05] defstat commented on #5061
@asmecher Everything merged.

[2020-05-19 23:07] asmecher commented on #5061
Great, closing this one, thanks!

[2020-05-19 23:07] #5061 closed

[2020-05-20 00:04] asmecher commented on #5740
Thanks, all -- merged!

[2020-05-20 01:46] mhvezina commented on #4429
Context : OJS 3.1.2-4; bilingual forms.

I observe the same problematic behavior on my side (at least for the first 6 steps described by pilasou; I didn't test more).

If the author change the file's name (2. Review details), some value must be entered in the other's language field (opening the door to different displayed names for the same file...). The "Continue" button remains grayed out and th

[2020-05-20 05:50] ajnyga commented on #5610
OPS: https://github.com/pkp/ops/pull/28

@asmecher the pr above changes the front end language. I think the only thing needing revision there was the Published > Posted change.

The pr also changes OPS towards a category centric default theme. The Section taxonomy is still available, but the theme now lists all main categories below the search field and shows the selected categories on the preprin

[2020-05-20 06:01] peter-parkerr opened #5893 "Group archive issues by year (as in OJS3)"
Hi @fgnievinski @NateWr
I want to show archives issues by year either in menu or in sidebar.
I have seen this & tried but it's not working .
https://forum.pkp.sfu.ca/t/ojs-3-archives-group-by-year/28848/17

Can you help me to resolve this issue. Looking forward.

**I am using**
OJS 3.2.0-3

Thanks & Regards

[2020-05-20 07:11] navotera commented on #5848
Yes it does not work on side wide level when we want to add footer on the side wide level.
Is it possible to do it on the side wide level ?

[2020-05-20 07:41] Vitaliy-1 commented on #5740
@asmecher, removing constructor from the `DataObject` also requires correspondent changes in classes that extend it, I mean removing parental constructor calls.

[2020-05-20 07:54] Vitaliy-1 commented on #5892
Before making a PR I need additional confirmation that changes in 3.2 weren't made deliberately to limit the functionality of block plugins.

[2020-05-20 09:07] NateWr commented on #5840
Perhaps this is a duplicate of https://github.com/pkp/pkp-lib/issues/5837? @pmangahis is it possible that this issue was published and then unpublished? In such cases #5837 identified that articles did not appear in the preview.

The other possibility is that the articles have not been properly scheduled. @pmangahis can you check to see if the articles that are not being previewed are showing the

[2020-05-20 09:16] NateWr commented on #5831
@asmecher can this one be closed?

[2020-05-20 09:27] NateWr commented on #5893
HI @peter-parkerr, we reserve the issues here on GitHub for bug fixes and feature requests. If you post in the forum thread we can try to help you there. You can tag me (@NateWr) if you want to make sure that I see it.

Also, you may have seen this, but we have a separate issue filed for this feature request here: https://github.com/pkp/pkp-lib/issues/4667.

[2020-05-20 09:27] #5893 closed

[2020-05-20 09:31] NateWr commented on #5848
I'd like to but I don't know if I will get to it soon. We would accept a pull request with this change at https://github.com/pkp/textEditorExtras.

[2020-05-20 09:33] NateWr commented on #5740
@Vitaliy-1 can you describe in more detail what you mean? I don't think that removing an empty `__construct()` method in a parent class will impact classes which extend it, but maybe I'm missing something. (I presume we're talking about [this](https://github.com/pkp/pkp-lib/commit/58cfc2a1ff4ac9a05d5c17fac129ff1b41386962#diff-5e92ecc3595af53e01da0651586fff1bL37-L42)).

[2020-05-20 09:52] Vitaliy-1 commented on #5740
It leads to an error, e.g.:
[code]

[2020-05-20 09:54] NateWr commented on #5740
Ah ok! Good to know. I'll re-open and let Alec sort it.

[2020-05-20 11:52] NateWr commented on #5892
I think I'd want to know what the use-case is for hooking into `TemplateManager::display` from a block plugin. These plugins are specifically designed to only support adding a block, so if something more is being done it may be worth considering whether it is appropriate for a block plugin.

(This is a common issue we've encountered with plugin categories. They were designed to support loading plu

[2020-05-20 11:54] NateWr commented on #5694
It looks like the OJS tests are all failing early on, during the install process:

https://travis-ci.org/github/pkp/ojs/jobs/689203316#L2383

[2020-05-20 12:12] ajnyga commented on #5694
yes saw, that not sure yet what it is about. It's an error in version.inc.php which of course has not been changed...

[2020-05-20 12:16] NateWr commented on #5740
Yeah this has broken `master` so I've gone ahead and restored the constructor to master in https://github.com/pkp/pkp-lib/commit/e38d9de1da14eecd3edb4b02d3bc9238a9860cec and we'll wait for Alec to make a final decision.

[2020-05-20 12:18] ajnyga commented on #5694
Guessing it's this https://github.com/pkp/pkp-lib/commit/51bf8bf063fa4360f29c8748ba3bd4b4461baced

[2020-05-20 12:19] NateWr commented on #5860
Fixed in https://github.com/pkp/pkp-lib/commit/cc57b98664bf2515ac9636332e1c87fac659e821

[2020-05-20 12:19] #5860 closed

[2020-05-20 12:58] Vitaliy-1 commented on #5892
According to the forum post, the use-case is to add styling to the block.

[2020-05-20 13:03] NateWr commented on #5659
PR:
https://github.com/pkp/ui-library/pull/91

Tests only:
https://github.com/pkp/ojs/pull/2759

[2020-05-20 13:12] NateWr commented on #5892
Ah, so to load a CSS stylesheet. That seems sensible. Someone might also want to load a JS file.

The problem with the following solution:

[code]

Is that it will lead to the block plugins getting loaded twice, which can lead to situations where hooks are registered and fired twice as well. We'll need to also make sure that this "double load" situation doesn't happen on the reader-facing frontend

[2020-05-20 14:07] mbarros64 opened #5894 "[OPS] Give author permissions"
Hello, we are developing a plug-in for anyone who can create and publish publicly and would like to have some idea of ​​how to get author permission to publish only one version that he created, and not that any submission has been published. The OPS dont have any hook to use for gives author permission only once he created a version of a submission. Anyone have a idea?

[2020-05-20 14:19] Vitaliy-1 commented on #4796
@NateWr, is the information about what workflow stage template is associated with stored somewhere? Cannot find it in `email_templates...` tables.

[2020-05-20 14:27] NateWr commented on #4796
No, this information doesn't exist in the application yet. A list was created at a sprint and now lives on the docs hub here: https://docs.pkp.sfu.ca/learning-ojs/en/settings-workflow#template-descriptions

Some discretion will probably need to be used to determine which stages identify there make sense, and then they'll need to be added to the email template xml files and an update script will ne

[2020-05-20 14:32] NateWr commented on #5833
The following diff does fix the fatal error. However, I found that books in the catalog were still not sorted correctly. So this issue is going to take a little bit more work to get sort-by-series working again.

I'm putting this aside for the moment.

[code]

[2020-05-20 14:42] alexxxmendonca commented on #5890
Could be related:

The email notification sent to inform new activities such as new discussion added no longer included the submission link.

Here's how the emails are coming:

Notice the blank after "Link"

[2020-05-20 14:44] NateWr commented on #5740
@asmecher I _think_ this is having a knock-on effect on the unit tests in `master`. https://travis-ci.org/github/pkp/ojs/jobs/689217597#L3833-L3890

[2020-05-20 14:58] Vitaliy-1 commented on #4796
Should those stages correspond to `WORKFLOW_STAGE_ID_...` constants? I see some differences in the number of stages, e.g., 2 review stages in the latter (internal and external), and semantics - published instead of postproduction.

Regarding templates XML file, it should look something like:
[code]
?

[2020-05-20 15:00] NateWr commented on #4796
Yeah, some work will need to be done to reconcile the list in the docs with technical requirements. I'd recommend `stage_id` instead of `workflow_stage_id`, but you've got the idea.

[2020-05-20 17:25] pmangahis commented on #1661
Another hosted client has also requested this feature.

[2020-05-20 17:59] asmecher commented on #5740
Whoops, sorry! I've adjusted the tests and am running a build: https://travis-ci.org/github/pkp/ojs/builds/689356306

[2020-05-20 18:01] asmecher commented on #5694
Sorry, @ajnyga, I broke `master`. It should be fixed now. (See https://github.com/pkp/pkp-lib/issues/5740#issuecomment-631437099 and down.)

[2020-05-20 18:19] defstat commented on #5640
@NateWr @asmecher

The proposed PR, allows the code to declare the SiteSettings form tabs that should be available to a single context site. (namely the Languages Tab for now).

Firstly I tried to add a `visible` attribute to `tabs` and `tab` Vue components, but did not succeed on that.

**PR**
[pkp-lib]: 5896

[2020-05-20 22:07] asmecher commented on #5740
Fixed.

[2020-05-20 22:38] asmecher commented on #5740
For users who are encountering this on OJS or OMP 3.2.0-0 through 3.2.0-3, you can fix it by...
1. Applying [this patch for OJS](https://github.com/pkp/ojs/commit/4a3f22c19673c62b9094bcaf9a0c5b34f9e08105) or [this patch for OMP](https://github.com/pkp/ops/commit/91a6f4b816e551702f945bcd4c2efb4dfd8e37a1) (both in the `lib/pkp` subdirectory)
2. Correct the database by executing:
[code]

**Take a com

[2020-05-20 23:55] mfelczak commented on #5887
For a multi-tenant install or an install with unrelated journals, it would be preferable to keep this plugin to be constrained by journal or to add a setting to retain this functionality.

[2020-05-21 00:25] asmecher commented on #5831
Yes, thanks!

[2020-05-21 00:25] #5831 closed

[2020-05-21 10:08] NateWr opened #5897 "FieldOptions don't work when when"
**Describe the bug**
If a property is defined in a schema as an array, and no value exists for it, responses to the REST API will return `null` instead of `[]` and this will prevent `FieldOptions` from working correctly.

This has escaped attention because in most cases where a form integrates the response of a REST API request, it has already sent data for those fields and the empty value has bee

[2020-05-21 10:12] Vitaliy-1 commented on #4796
If join by OJS's workflow stage id, it should be 1 (submission), 3 (external review), 4 (copyediting) and 5 (production) and null (other). I don't see that 0 (production) is used anywhere in the code. I'm not sure about (2) internal review as not familiar with other apps that use the shared library, is it safe to assume that we don't have associated templates? @NateWr, does it make sense?

[2020-05-21 10:25] NateWr commented on #4796
You'll need to implement this for OMP as well, which uses the internal review stage. You can get a list of all stages in an application with `Application::get()->getWorkflowStages()`. I think this is the only difference between OJS/OMP. OPS only has one stage, production.

I'm not aware of `0` (production) but I'm guessing it's deprecated code. Where does it appear?

Since you won't have the const

[2020-05-21 10:26] Vitaliy-1 commented on #5891
Hi @mbarros64,

Have you explored where it's failing? It may be related to [this issue](https://github.com/pkp/pkp-lib/issues/5892) related to block plugins

[2020-05-21 10:26] NateWr commented on #4796
Sorry missed this one:

I suspect there will be some custom templates for OMP and OPS. The best way to find these is probably to look in their email template registry and in the email templates list. If you have questions about which stage a particular template is used in, ask here and we can coordinate with Dulip and Antti-Jussi, who know those applications pretty well.

[2020-05-21 10:31] Vitaliy-1 commented on #4796
Sorry, I meant `WORKFLOW_STAGE_ID_PUBLISHED` that is defined in shared library (PKPAplication) but not used in OJS.

[2020-05-21 10:39] NateWr commented on #4796
I just did a search across all applications and it looks like this constant is dead code. It should be removed.

[2020-05-21 12:11] NateWr commented on #5744
Before:
![old-arabic](https://user-images.githubusercontent.com/2306629/82557856-66aefb80-9b64-11ea-8c7a-eb8b1ce76ef0.png)

After:
![arabic](https://user-images.githubusercontent.com/2306629/82557874-6dd60980-9b64-11ea-82f6-78b0a348d06b.png)

Before:
![old-arabic-x-height](https://user-images.githubusercontent.com/2306629/82557896-79293500-9b64-11ea-93f0-0e2a159b1136.png)
![old-arabic-issn](https:

[2020-05-21 13:29] Vitaliy-1 commented on #5892
Debugging shows that in this case if accessing front-end plugins are loaded once as TemplateManager is initialized only once.
But for the back-end, TemplateManager is initialized on every grid

[2020-05-21 13:33] Vitaliy-1 commented on #5892
Or you mean this call inside the hook: https://github.com/Vitaliy-1/pkp-lib/blob/32621e78650deb20b9ccc698784d6c1911402be8/classes/template/PKPTemplateManager.inc.php#L1013 ?

[2020-05-21 13:35] NateWr commented on #5533
Merged.

[2020-05-21 13:35] #5533 closed

[2020-05-21 13:50] israelcefrin commented on #5533
Hi @NateWr , apologize for not answering before. But just confirming, it seems suffice in deed.

[2020-05-21 14:16] israelcefrin commented on #5532
Hi @NateWr I think it manages our initial concern since it is setting a step-by-step process for scheduling. User will be presented with mandatory tasks in a friendly way.

[2020-05-21 14:20] NateWr commented on #5640
Looks good @defstat, can you add a PR for OJS to run the tests?

[2020-05-21 14:22] NateWr commented on #5892
I'm talking about `PluginRegistry::loadCategory('blocks', true)`. Calling that twice will lead to the `register()` method of the plugins being called twice. So we need to call that once, and from then on only call `PluginsRegistry::getPlugins('blocks')`.

[2020-05-21 14:36] defstat commented on #5640
@NateWr

**PRs**
[pkp-lib]: #5896
[OJS]: pkp/ojs#2761

[2020-05-21 14:38] NateWr commented on #5744
Merged.

[2020-05-21 14:38] #5744 closed

[2020-05-21 14:54] #5894 closed

[2020-05-21 15:07] NateWr commented on #5789
PR:
https://github.com/pkp/pkp-lib/pull/5899

Tests:
https://github.com/pkp/ojs/pull/2762

[2020-05-21 15:12] mbarros64 opened #5900 "[OPS] Give author permissions"
Hello, we are developing a plug-in for anyone who can create and publish publicly and would like to have some idea of ​​how to get author permission to publish only versions that  that he created, and not that any submission has been published. The OPS dont have any hook to use for gives author permission only once he created a version of a submission.
So, we have the ideia of modificate the permi

[2020-05-21 15:12] NateWr commented on #5532
Merged!

[2020-05-21 15:12] #5532 closed

[2020-05-21 15:16] NateWr commented on #5659
Merged!

[2020-05-21 15:16] #5659 closed

[2020-05-21 15:23] #5883 closed

[2020-05-21 15:33] NateWr commented on #5813
On investigation, I found it happened for logged-in users, but only when logged in as an author. I suspect this has something to do with `{$multipleContexts}` being available or not available in the template.

PR:
https://github.com/pkp/pkp-lib/pull/5901

Tests:
https://github.com/pkp/ojs/pull/2763

[2020-05-21 15:44] asmecher commented on #5900
@mbarros64, the support forum (https://forum.pkp.sfu.ca) is the best place for this kind of question; have you posted there? This is more for bug entries and feature requests that have been fully specified, not Q&A.

[2020-05-21 15:44] #5900 closed

[2020-05-21 16:00] asmecher commented on #5796
Good catch, @NateWr -- yes, this should be in 3.1.2 (since it's back-ported already), 3.2.0 *and* `master`. @defstat, could you cherry-pick into `stable-3_2_0` (and merge wherever needed)?

[2020-05-21 16:01] Vitaliy-1 commented on #5892
@NateWr, what about initiating block plugins in the `PKPTemplatemanager::display`, before the correspondent hook, and determine if it's front-end by template path?

[2020-05-21 16:18] NateWr commented on #5892
I don't want to determine it from the template path. The `/frontend` path is a convention not a requirement and someone could change a backend template into a frontend one if they wanted just by overwriting the template.

I think the best approach for now is to determine the best time to load the block plugins before the display hook, load them there, and refactor other places where they are loade

[2020-05-21 17:58] pmangahis commented on #5840
Hi Nate,

I think it's related to the other issue. In the test I did, I did not publish and unpublish the article or issue.

The articles are assigned to the issue as seen here.

![image](https://user-images.githubusercontent.com/50342731/82589852-9e607800-9b51-11ea-9979-e67402ea8b71.png)

And within the manuscript itself it does indicate that I assigned it to that issue.

![image](https://user-im

[2020-05-21 19:16] defstat commented on #5796
For reference:

**PRs - 3.2.0**
[pkp-lib]: #5902
[OJS]: pkp/ojs#2764
[OMP]: pkp/omp#819

[2020-05-21 21:18] kallewesterling commented on #5832
Any ideas on how I can try to resolve this?

[2020-05-21 21:28] ctgraham commented on #5832
Sorry, hijacked a bit here by local emergencies.  This forum [post](https://forum.pkp.sfu.ca/t/usage-statistics-file-loader-task-5904933971a42-error/30678/12?u=ctgraham) suggests the query would be:

[2020-05-22 05:25] ajnyga commented on #5890
But you can access the discussion if you go to the workflow of a submission?

[2020-05-22 05:37] ajnyga commented on #5867
Hi,

I have asked Alec to comment this.

Just to note that this issue was fixed some time ago and is available in the latest official release 3.2.0.3.

[2020-05-22 05:55] ajnyga opened #5903 "Reorder OPS archive/browse handlers"
After moving to a category centric OPS default theme, we also need to redesign the frontend handlers.

The new archive/browse paths are the following

`/preprint/ `- path to single preprint views
`/preprints/` - path to archive listings, by default show all preprints starting from the latest
`/preprints/category/name` - path to a category archive
`/preprints/section/name` - path to a section archi

[2020-05-22 06:08] ajnyga commented on #5903
ping @asmecher and @NateWr

pr of OPS master: https://github.com/pkp/ops/pull/29

[2020-05-22 08:18] Vitaliy-1 commented on #5892
You are right! All plugin categories are loaded twice when using Firefox. Google Chrome caches more data that's why I've missed it. Is it expected that TemplateManager initializes twice on the reader-facing front-end?

[2020-05-22 09:05] ajnyga commented on #5903
tests above are passing...

[2020-05-22 12:28] Vitaliy-1 commented on #5892
Ah, now I understand, all plugin categories are also loaded on every component request. Sorry, haven't explored this part of the code before.

[2020-05-22 13:24] alexxxmendonca commented on #5890
@ajnyga Yes.

I have to search for the submission by its title or author, given that the link doesn't work, but once I am there yes, I am able to open the discussion just fine.

[2020-05-22 13:26] alexxxmendonca commented on #5867
@ajnyga hi!

I see, thanks! We have v3.2.0.3 just now but by the time I opened the issue we didn't. I'll check now!

[2020-05-22 17:02] willinsky commented on #2676
I'd like to see this tracking on subscribers expanded so that it supports the **subscribe-to-open** (S2O) financial model for open access, in which existing subscribing institutions agree to renew their "subscriptions" with the journal then going open access. The participating libraries would still be interested in SUSHI/COUNTER reports in light of their support, and such figures, once the journal

[2020-05-22 17:06] Vitaliy-1 commented on #5892
Hmm, does anyone knows why plugin categories are loaded several times, e.g., I found that `PluginRegistry::loadCategory('blocks')` is mentioned 6 times in the code, why not check if it's loaded first?

While debugging `PluginRegistry::loadCategory` I see that categories are loaded suspiciously often per request per backend page. I'll need to take another look on this.

@NateWr, I see you already a

[2020-05-22 17:49] defstat commented on #5833
@asmecher @NateWr

**PR**
[OMP]: pkp/omp#820

[2020-05-22 18:07] asmecher commented on #3875
Also here: https://forum.pkp.sfu.ca/t/galley-of-the-whole-volume-at-a-separate-website/60704/2

[2020-05-22 19:28] asmecher commented on #5867
Hmm, this is definitely an area where we'll need to explore user expectations, and I'm fairly sure it'll look like screening, i.e. no single policy or even pre-defined set of options will be enough.

I'm 75% sure that we should consider "ability to self-publish" as strongly influencing "ability to add a version", i.e. if a user has the ability to self-publish, they will probably want/expect the ab

[2020-05-22 19:41] israelcefrin opened #5904 "OJS - removing all authors from workflow stage breaks "Payment received" feature"
**Describe the bug**
When editors charge a fee for publishing submission, they can't remove the author assigned from workflow stages otherwise the plugin for "Payment received" doesn't work. It seems that removing all assigned authors shouldn't be allowed since it can break any other funcionality that relyis on the author role during the worflow stages.

**To Reproduce**
Steps to reproduce the beh

[2020-05-23 14:52] alexxxmendonca commented on #5867
@asmecher the current scenario implies the use of the Returning Author plugin to allow authors create new versions and from my understanding, that is an optional plugin. The way it's currently set, you cannot allow an author to create new versions of an already approved preprint without **by extent** giving them privileges to post freely other contents, and those two things are not necessarily tie

[2020-05-23 14:54] Jirehnutrilife opened #5906 "Journal ordering no longer working? why?"
In a multi-journal installation’s administration tab: hosted journal ordering doesn’t save changes in the order. Clicking on Done reloads the page without registering the chosen [journa]([url]https://jirehnutrilifesport.com/(url))l order. Seen on the OJS demo site.

[2020-05-23 14:55] Jirehnutrilife commented on #5906
visit https://jirehnutrilifesport.com/

[2020-05-23 17:07] willinsky commented on #2676
Alec has added these comments to this item (to an earlier google doc):
[AS] The current model for this in OJS is:
The journal manager (or subscription manager) creates institutional subscriptions.
Institutional subscriptions can optionally have IP addresses associated with them.
COUNTER/SUSHI reports report by subscription; thus when a given subscription has IP addresses associated with it, IP-bas

[2020-05-23 17:56] ctgraham commented on #2676
^ yes.

^ yes.

^ not yet, to my knowledge.

[2020-05-23 18:08] asmecher commented on #5906
@Jirehnutrilife, see: https://github.com/pkp/pkp-lib/issues/5847

[2020-05-23 18:08] #5906 closed

[2020-05-23 18:41] defstat opened #5907 "CrossRefExportPlugin Article Search not filtering by `Status`"
**Describe the bug**
CrossRefExportPlugin Article Search not filtering by `Status`

**To Reproduce**
Steps to reproduce the behavior:
1. Enable CrossRef Plugin
2. Go to CrossRef XML Export Plugin
3. Go to Articles Tab
4. Click Search, and change the status DropDown list to `Marked active` for example (having some `Marked active` submissions on the grid.
5. Click Search - no submissions will be dis

[2020-05-23 18:58] defstat commented on #5907
At https://github.com/pkp/pkp-lib/blob/master/classes/submission/PKPSubmissionDAO.inc.php#L363
the query searches in the `publication_settings` table for `pubIdSettingName` and `pubIdSettingValue`, the "Mark active" button at `importexport/plugin/CrossRefExportPlugin#exportSubmissions-tab`, adds the `markedActive` indication to `submission_settings` table under the `crossref::status` setting_name

[2020-05-24 10:29] ajnyga commented on #5694
Hi @asmecher @NateWr

I have tried to rebase my branches for ojs/omp/ops but keep on running to failed tests.

In OJS some of the tests work, others fail with unclear reasons: https://github.com/pkp/ojs/pull/2704
In OPS all tests work: https://github.com/pkp/ops/pull/9
In OMP all tests fail after running for about 40 minutes, but I can not find any particular error: https://github.com/pkp/omp/pull

[2020-05-24 14:16] jonasraoni commented on #5876
**PRs:**
stable-3_2_0: #5908
master: #5909

[2020-05-25 09:48] NateWr commented on #5796
Thanks! Closing.

[2020-05-25 09:48] #5796 closed

[2020-05-25 10:06] NateWr commented on #5903
This looks good. So is the idea to roll this out for OPS in 3.2.1 and then for 3.3 to try to align all three apps?

[2020-05-25 10:08] NateWr commented on #5903
Also, just want to confirm: this only adjusts the collections (archive, section, category). Not the URL for a single preprint, right?

[2020-05-25 10:14] ajnyga commented on #5903
Yes, I think this should go to 3.2.1. For OJS and OMP I am happy to pr if the general concept is agreed on.

Yes, I have not touched the single preprint handlers.

[2020-05-25 10:16] NateWr commented on #5892
The first thing to check is that you're only identifying duplicate loads _in the same request_. Because a single request to the backend will often fire off five more ajax requests to components, the error log can make it seem like plugins are getting loaded several times. But it's actually only being loaded once per request.

To test this, you can add a `define('UNIQUE_ID', uniqid())` in `boostrap

[2020-05-25 10:28] NateWr commented on #5694
@ajnyga I've restarted the two failing OJS tests. It looks to me like the OMP tests are failing on a unit test and this may be related to the changes in how `DataObject::setData()` works:

https://travis-ci.org/github/pkp/omp/jobs/690274650#L3803-L3826

@asmecher can you take a look? I think maybe this unit test in OMP needs updating as well...

[2020-05-25 10:54] NateWr commented on #5903
Ok, so for 3.2.1 we'll just merge this to OPS and plan to align everything for 3.3. Let me bring @asmecher in on some of the conversations we've been having.

Alec, the goal is to further align how OJS/OMP/OPS handle their archive, category and preprints pages, share code across the three applications, and migrate to some nicer, more SEO-friendly URLs. In the long term we'd also seek to align this

[2020-05-25 11:06] NateWr commented on #5640
Merged, thanks!

[2020-05-25 11:10] ajnyga commented on #5694
Thanks, OJS tests passed now.

[2020-05-25 11:16] NateWr commented on #5813
Merged.

[2020-05-25 11:16] #5813 closed

[2020-05-25 12:13] ajnyga commented on #5784
@asmecher there was a conflict in pkp-lib now, so I rebased and started the tests again.000

If this looks ok, I can do a pr for OJS and OPS as well and we can maybe get this merged for 3.2.1?
OMP: pkp/omp#799
pkp-lib: #5881

[2020-05-25 12:35] NateWr commented on #4746
The following PRs add a new email template and use that when an announcement is sent. The email uses the announcement details in the subject of the email and the body:

It respects the opt-out setting in the user profile. And journal managers can customize the template to include the full announcement (use `{$announcement}`).

I take your point, @ctgraham, that making emails like this into a templ

[2020-05-25 14:56] defstat commented on #5095
@NateWr @asmecher

**PRs**
[pkp-lib]: #5911
[OJS]: pkp/ojs#2769

The change suppresses the Notification email if the respective user email succeeds.

After reviewing, I will make the PRs for OMP, OPS and backport to `stable-3.1.2`

[2020-05-25 15:31] paulvierkant opened #5912 "ROR Plugin for OJS"
**Describe the problem you would like to solve**
When submitting a manuscript, authors and contributors can indicate their affiliation in a free text field. A free-text field lends itself to many different ways of writing a name (e.g., UC Berkeley vs. University of California, Berkeley). A result of many different name variations is that searching/tracking research outputs by institutions is not a

[2020-05-25 15:39] NateWr commented on #5633
It looks like when an API key was generated it was saved to the database then immediately removed. The UI didn't reflect this since it always generated a token to display to the user regardless of whether one existed or not.

I've addressed that and updated the form so that it shows the correct API token after a new one is generated, and no token if there's no apiKey that's been saved yet.

PR:
ht

[2020-05-25 16:11] asmecher commented on #5784
The tests are failing, but it looks like it's not the pkp-lib conflict... I've added a `master` submodule update to check whether the problem is upstream of these changes.

[2020-05-25 16:22] NateWr commented on #5095
The code looks good to me, @defstat!

I looked back at the initial bug report and I'm not sure I understand it. Your code looks like it handles cases where an editor uses the "Notify" button in the participants list. The original report sounds like the problem is when a new participant is assigned to a submission.

I didn't see duplicate emails sent out in _either case_. Your code definitely looks

[2020-05-25 16:53] kallewesterling commented on #5832
I was just able to run the command, and it returns zero results...

[2020-05-25 16:53] defstat commented on #5095
@NateWr check if your database already has a notification attached for the particular reason, for the particular user. If the `Notifications` table is, let's say, empty, and you try to assign a user to a submission's stage, the user is getting 2 emails, one from https://github.com/pkp/pkp-lib/blob/master/controllers/grid/users/stageParticipant/form/PKPStageParticipantNotifyForm.inc.php#L183 and on

[2020-05-25 17:00] kallewesterling commented on #5832
In fact, the `submission_files` table does not look like it's correct at all.. I was not involved in the OJS upgrade to version 3, and I wonder if something went wrong in the transfer of the database to the upgraded version..?

![image](https://user-images.githubusercontent.com/7298727/82831802-6c1f8500-9e87-11ea-9d41-eb75fa3db084.png)

What's weird to me, is that the website is fully functioning.

[2020-05-25 18:36] israelcefrin opened #5914 "OJS 3.2 - Themes can be select while disabled on Plugin gallery"
**Describe the bug**
It is possible to select any theme from Appearance > Themes drop-down menu even they are disabled on the Plugins gallery.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dashboard > Appearance > Plugins'
2. Scroll down to 'Theme Plugins' and disable all themes but Default Theme.
3. Go to 'Dashboard > Appearance'
4. Click the "select theme" drop-down and select a t

[2020-05-25 22:59] asmecher commented on #5740
Reverted https://github.com/pkp/pkp-lib/commit/ef8636566c999a61693d59c3052ad88b07c9d46e -- this had deeper knock-on effects in the tests and I wasn't comfortable working it through so close to the 3.2.1 release. I've added the work-around to `master` and deferred the rest until 3.3. See
https://github.com/pkp/pkp-lib/issues/5740#issuecomment-629548502 for the quick summary of the solution that'll

[2020-05-26 07:23] defstat commented on #5833
@asmecher everything merged

[2020-05-26 09:34] #5833 closed

[2020-05-26 09:52] defstat commented on #5907
After discussing with @NateWr on that, the best way is to leave the `crossref::status` in the `submission_settings` (even though the `doi` data is in the `publication_settings` table)

@NateWr @asmecher

**PR**
[pkp-lib]: #5915
[OJS]: pkp/ojs#2771 (Submodule only)
[OMP]: pkp/omp#822 (Submodule only)

[2020-05-26 10:03] NateWr commented on #5095
Ah ok! I get it now. It only sends a duplicate email when you select one of those specific email templates. That was my confusion.

Ok, looks good. Just need to get that submodule commit for the tests and we're good to go. :+1:

[2020-05-26 10:18] ajnyga commented on #5841
We have received requests to change the sender of the automated review requestst. It would make more sense, if one of the assigned editors in a submission would act as the sender.

[2020-05-26 10:27] ajnyga commented on #5784
Restarted tests:
OMP: pkp/omp#799
pkp-lib: #5881

[2020-05-26 10:41] #5633 closed

[2020-05-26 10:58] defstat commented on #5095
@NateWr

**PRs**

**[master]**
[pkp-lib]: #5911
[OJS]: pkp/ojs#2769
[OMP]: pkp/omp#823
[OPS]: pkp/ops#31

**[3.1.2]**
[pkp-lib]: #5916
[OJS]: pkp/ojs#2772
[OMP]: pkp/omp#824

[2020-05-26 11:30] NateWr commented on #5840
Thanks @pmangahis! I've confirmed that this is distinct from #5837 and identified a couple of additional fixes with how issue sections are retrieved for unpublished issues and how the "Remove" button in the issue table of contents grid works.

PR:
https://github.com/pkp/ojs/pull/2773