[2020-05-26 13:04] NateWr commented on #5610
I notice the PR above has been merged. Can this issue be closed?

[2020-05-26 13:08] #5789 closed

[2020-05-26 13:12] ajnyga commented on #5610
It depends on how you want to track the requests concerning backend.

[2020-05-26 13:13] thinkbulecount2 commented on #5601
PR: https://github.com/pkp/ui-library/pull/93

[2020-05-26 13:15] NateWr opened #5917 "Simplify use of journal title and logo in theme header templates"
**Describe the problem you would like to solve**
The theme templates use a complex mix of variables, such as `displayPageHeaderLogo` and `displayPageHeaderTitle`, to determine when to display a logo or the journal title in the header. These variables refer to obsolete features from OJS 2.x and they are not consistently set between the site and context level, which led to #5789.

This is unnecessar

[2020-05-26 13:15] NateWr commented on #5789
I've filed the more substantial changes to how we do the header at https://github.com/pkp/pkp-lib/issues/5917.

[2020-05-26 13:41] defstat commented on #5815
@sssoz does this problem continue to show-up? I am asking because I can't reproduce the issue not on `master` branch nor on `stable-3_2_0`. (clean installs both)

[2020-05-26 13:45] sssoz commented on #5815
@defstat Tried it just now, I’m still having the issue on the demo install, which is on 3.2.0.0.  Here’s the exact link to it: https://demo.publicknowledgeproject.org/ojs3/demo/index.php/index/admin/contexts

[2020-05-26 14:17] defstat commented on #5815
I think that this is addressed here #5847

[2020-05-26 14:56] ewhanson commented on #5863
**Bug description**
If an author user doesn't have permissions for workflow stages assigned to their user group, the following happens: when loading the author dashboard to view a submission, a `fetchGrid` request from a `GridHandler` will result in an `AUTHORIZATION_DENY` decision from the `UserAccessibleWorkflowStagePolicy`.

Current offenders for access alerts in author submission workflow:

-

[2020-05-26 14:57] #5815 closed

[2020-05-26 14:59] NateWr commented on #5610
Can you recommend an action here? Shall we bump the remaining work to the 3.3 milestone or file a new issue or do you anticipate further work here for 3.2.1?

[2020-05-26 15:02] fgnievinski opened #5918 "landing page after login is crowded"
the landing page after login is crowded:

![Screenshot_20200526-115708](https://user-images.githubusercontent.com/5018500/82916622-a69d2680-9f48-11ea-8f79-9caba9fabceb.png)

maybe the font size could be reduced or the left hand menu folded by default?

this screenshot is from the test drive website.
 thanks

[2020-05-26 15:08] ajnyga commented on #5784
@asmecher the tests worked now.

[2020-05-26 15:09] ajnyga commented on #5784
So if the code above is ok, I can pr this for OPS and OJS as well.

[2020-05-26 15:11] ajnyga commented on #5610
I think it depends whether you (PKP) want to use the "Publication/Publish" related vocabulary in the backend also with OPS, or whether you want to change that. @asmecher ?

[2020-05-26 16:15] willinsky commented on #5610
If by "backend," Antti-Jussi, you are referring to the submissions dashboard and workflow, then yes, I think it important that we implement A, B, and C in the March 10th Comment above. If by "backend" you are referring to areas of code and database that managers and authors don't see, then I see no need to change. Although I see that thought is being given to the best ways to handle the exchange w

[2020-05-26 16:21] NateWr commented on #5871
@asmecher I have restarted the tests many times and OMP/OJS are failing on the mysql/7.2 test (passing others). Can you take a look and let me know if it's safe to merge this to the `stable_3_1_2` branch?

[2020-05-26 16:25] miguel-obando-s4e opened #5919 "I cant see my administrator site after update from 3.1 to 3.2.0-3"
I updated my OJS with the help of this fix: https://github.com/pkp/pkp-lib/issues/5626
 but now i am unable to see my administrator site. Can anyone help me? i also tried to delete the cache but i am unable to see the option for the same reason.  I attach an image about how the page stay

![Uploading js error.jpg…]()

**What application are you using?**
OJS 3.2.0-3

**Inspector logs**

[Interventi

[2020-05-26 16:26] miguel-obando-s4e commented on #5919
![js error](https://user-images.githubusercontent.com/65356742/82925675-0a751e80-9f4c-11ea-8c71-b397fb838222.jpg)

[2020-05-26 18:08] asmecher commented on #5833
Thanks, @defstat (& @NateWr)!

[2020-05-26 18:10] asmecher commented on #5784
Thanks, @ajnyga -- just one tiny comment and then it's all ready. This will be great to include -- a few people have asked about it recently (and it reconciles OJS/OPS/OMP behaviour).

[2020-05-26 18:17] asmecher commented on #5919
@miguel-obando-s4e, are you sure you're using OJS 3.2.0-4? That version hasn't been released yet.

[2020-05-26 18:21] miguel-obando-s4e commented on #5919
My bad 3.2.0-3

[2020-05-26 19:23] ctgraham commented on #5832
I think your `submission_files` table might be fine.  The `assoc_id` may be null.  It is a dynamic foreign key dependent on the `assoc_type`.  This allows the foreign key of `assoc_id` to point to different tables, perhaps representing articles, issues, galleys, etc.  An `assoc_type` of "521" indicates a 'ASSOC_TYPE_REPRESENTATION' (c.f. https://github.com/pkp/pkp-lib/blob/db87554563595bbd65fe4478

[2020-05-26 19:44] alexxxmendonca commented on #5867
Thanks to a plugin that we've been using, authors are now able to create and publish new versions.

Since then, we've had a few cases in which an author mistakenly created 7 versions (probably because they were not sure if the new version was indeed updated) and one where the author sent two PDFs (instead of replacing the existing PDF):

![image](https://user-images.githubusercontent.com/4059679/8

[2020-05-26 19:49] defstat opened #5920 "Native ImportExport Plugin: Importing a localized publication causes an error"
**Describe the bug**
Importing a localized publication causes a 500 server error: `getLocale` function undefined.

See also https://forum.pkp.sfu.ca/t/error-500-on-trying-to-import-issues-articles-native-xml-plugin/60797

[2020-05-26 19:54] defstat commented on #5920
@asmecher

**PR**
[pkp-lib]: #5921

[2020-05-26 19:54] asmecher commented on #5919
@miguel-obando-s4e, have you checked your PHP error log? (I only see your web server's access log attached to this issue.)

[2020-05-26 20:59] asmecher commented on #5920
Users encountering this problem in OJS 3.2.0-0 to OJS 3.2.0-3 can resolve the issue by applying this change in the `lib/pkp` subdirectory: https://github.com/pkp/pkp-lib/pull/5921/files

[2020-05-26 22:10] asmecher commented on #5871
@NateWr, Travis environment changed a while ago and unfortunately broke automated testing for 3.1.2 and older (and I didn't judge it worth investing time in rewriting, as that branch is receiving almost no new commits). I've reviewed the code (but not tested it) and it looks good and consistent with the 3.2 implementation; if you've tested it manually, I'm satisfied.

[2020-05-26 22:12] asmecher commented on #5907
I'll take @NateWr's word for it -- thanks, @defstat!

[2020-05-26 22:24] asmecher opened #5922 "citation_journal_abbrev header is not correctly set"
See https://forum.pkp.sfu.ca/t/meta-name-citation-journal-abbrev-content-1/60821 for details:

![image](https://user-images.githubusercontent.com/200411/82956072-dce89f00-9f64-11ea-97ca-f4c9347091df.png)

[2020-05-26 22:29] asmecher commented on #5922
This is already fixed in OJS 3.2.0: https://github.com/pkp/googleScholar/commit/8fb356ae7fce4147ec820557b6c80e3116483c68

[2020-05-26 22:29] #5922 closed

[2020-05-26 23:42] asmecher commented on #5867
@alexxxmendonca, does the plugin resolve the problem regarding the author's ability to create versions? If so, would it be a good addition to the plugin gallery?

[2020-05-26 23:48] asmecher commented on #5880
@wujastyk, I suspect this is a bug in the citeproc-php library we use to format citations. OJS 3.1.2-4 includes version 2.1.6 of that library, and 3.2.0-3 (the latest stable release) includes the newer version 2.2.0. I'd suggest upgrading to the latest OJS if that's feasible; alternately you may be able to update the citeproc-php library using Composer. See the `composer.json` / `composer.lock` fi

[2020-05-26 23:49] kallewesterling commented on #5832
Here's the row data for that `file_id`:

![image](https://user-images.githubusercontent.com/7298727/82960987-07991e80-9f8a-11ea-9bf2-aa246eaf8d62.png)

[2020-05-27 00:10] asmecher commented on #5876
Thanks, @jonasraoni! @israelcefrin, is this something you can try out without too much screaming?

[2020-05-27 00:23] israelcefrin commented on #5876
Hi @asmecher, I've already patched some installation and they are working smoothly.
Thank you @jonasraoni.

[2020-05-27 09:40] #5907 closed

[2020-05-27 09:51] NateWr commented on #5694
Hurrah! All the tests have finally passed! :joy: It looks like they just need a final rebase and then I can merge (no need to wait for tests).

[2020-05-27 09:54] NateWr commented on #5837
Thanks @defstat! I've merged this and moved it to the 3.3 milestone. The only task left is to write a test which covers this case.

[2020-05-27 10:02] defstat commented on #5837
@NateWr

**PR**
[stable 3.2.0]
[OJS]: pkp/ojs#2776

[2020-05-27 10:06] NateWr commented on #5871
Merged. The `stable_3_1_2` branch for OJS and OMP now supports image uploads. The `pkp.min.js` has been updated so no compilation is needed.

[2020-05-27 10:14] tgc opened #5923 "PostgreSQL 12 not properly supported"
**Describe the bug**
The bundled version of ADOdb has a bug which causes notices to be generated when the database is PostgreSQL 12.

**To Reproduce**
Do anything that touches the database, e.g. php tools/upgrade.php upgrade
The output will be full of errors like this:
[code]
**What application are you using?**
OJS 3.2.0-3

**Additional information**
The fix is to either upgrade ADOdb or cherry-pi

[2020-05-27 10:53] alexxxmendonca commented on #5867
@asmecher yes it does.
I think it would be a good addition if we're not considering making this a OPS default behavior.

[2020-05-27 15:03] NateWr commented on #5601
The PRs below change the last activity filter to a slider. @thinkbulecount2 converted our existing range input sliders over to a more accessible format that uses the native `<input type="range">` HTML element.

![filter-slider](https://user-images.githubusercontent.com/2306629/83036868-04a63880-a033-11ea-8623-b1a61e7415b6.gif)

Unfortunately, the native range inputs do not support multiple range v

[2020-05-27 15:15] NateWr commented on #5840
Merged to `master` and `stable-3_2_0`.

[2020-05-27 15:15] #5840 closed

[2020-05-27 15:20] NateWr commented on #4746
Merged for 3.2.1.

@amandastevens and @kaitlinnewson this adds a new email template in 3.2.1 for announcements. The template key is `ANNOUNCEMENT` and you will find a description and the default subject/body here: https://github.com/pkp/ojs/pull/2768/files#diff-040a96c2acc4dd1f5328de0cea2b8bd4. This should be added to the list of email templates in the docs hub.

[2020-05-27 15:20] #4746 closed

[2020-05-27 15:30] miguel-obando-s4e commented on #5919
How can i see or activate the php logs on OJS ? Or is this activated by default? if this is the case php didn't create any log error

[2020-05-27 16:25] ctgraham commented on #5832
Does your Exception line now read:
[code]
?

This would mean that the input to this function is to lookup `ASSOC_TYPE_SUBMISSION_FILE` id "25" or `ASSOC_TYPE_SUBMISSION_FILE_COUNTER_OTHER` id "25", and the result is Submission id "25".  But, when we look at Submission File id 25, there is no `assoc_type`.  It is null.

What do the production galleys look like for Submission #25 in your editorial w

[2020-05-27 16:40] asmecher commented on #5876
Thanks, @israelcefrin and @jonasraoni! Merged both.

[2020-05-27 16:40] #5876 closed

[2020-05-27 17:01] asmecher commented on #5837
If it's merged to `master`, it'll go out in 3.2.1; is that what you intended?

[2020-05-27 17:04] asmecher commented on #5867
@alexxxmendonca, is the plugin available on Github?

[2020-05-27 17:22] asmecher commented on #5919
@miguel-obando-s4e, see https://forum.pkp.sfu.ca/t/how-do-i-find-my-php-error-log/29374 for information on finding your PHP error log. Would you mind moving this question over to our support forum (https://forum.pkp.sfu.ca)? We use git issues for active development, and the support forum for general support.

[2020-05-27 17:22] #5919 closed

[2020-05-27 17:34] kallewesterling commented on #5832
When I login to the admin interface and look at the "back-end front-end" this is what shows up:

![image](https://user-images.githubusercontent.com/7298727/83053327-8f306d00-a01e-11ea-9d88-824c232e98fc.png)

Under "Review," "Copyediting," and "Production," all the information available is: `Stage not initiated.`

This does not look normal, I guess... Does it look like something got lost in the dat

[2020-05-27 17:53] asmecher commented on #5923
Thanks for reporting (and tracking down the solution) -- I'll see if we can bump ADODB from 5.20.14 to 5.20.17 (plus our modifications, managed in https://github.com/ADOdb/ADOdb/compare/v5.20.17...asmecher:v5.20.17-mods). Note that longer-term, we're moving away from ADODB; see https://github.com/pkp/pkp-lib/issues/2493.

[2020-05-27 18:24] ewhanson commented on #5863
Hi @NateWr, could you review the pull request that addresses this issue? Thanks.

PR:
#5926

[2020-05-27 18:56] ctgraham commented on #5832
So, from OJS's editorial perspective, this article has not been published.  It is fine to not have used the initial workflow stages, if the Production stage is active.  Can you confirm whether this article appears as published in the reader front-end?

Is seems like your usage statistics log is referencing access to this article, but with inconsistent (or unset?) publication status, the process is

[2020-05-27 18:57] asmecher commented on #5923
Tests passed; merged: https://github.com/pkp/pkp-lib/pull/5927

[2020-05-27 18:57] #5923 closed

[2020-05-27 19:24] asmecher opened #5928 "Citation style language "issued" date incorrect when article has no publication date"
See https://forum.pkp.sfu.ca/t/citation-style-plugin-publication-date-of-issue-not-used-ojs-3-1-2/60836:

(Citations Style Plugin). Instead, a “1” is added because the plugin uses getPublished() and not getDatePublished():

[2020-05-27 19:28] #5928 closed

[2020-05-27 20:16] ajnyga commented on #5912
Looks good! I think it would be important that besides saving the label (the name of the organisation) we would also save the unique identifier of the organisation to the OJS database.

[2020-05-27 20:48] asmecher commented on #5903
Yes, this is sensible, and a good stepping stone towards the distant goal of unifying the applications. Please go ahead!

[2020-05-27 20:58] kallewesterling commented on #5832
Right—I sort of gleaned that from the database... But yes, to all your questions:
- It [appears in the front-end](http://www.lambdanordica.org/index.php/lambdanordica/article/view/25) as accessible.
- My visit also registers in the usage statistics log (see image below)

![image](https://user-images.githubusercontent.com/7298727/83071506-38855c00-a03b-11ea-8221-f56c7d6a9d4e.png)

[2020-05-27 21:00] kallewesterling commented on #5832
So it seems to me that the `file_stage` and `assoc_type` just need to be fixed for each of these galley files, to be `file_stage`=`18` and `assoc_type`=`520`. Do you think I could make those manual changes to the database..?

[2020-05-27 21:04] kallewesterling commented on #5832
Quick update on that, to clarify: The galleys seem to exist in the `submission_galleys` for all of these wayward `submission_files`... Here's a screenshot:

![image](https://user-images.githubusercontent.com/7298727/83072065-1dffb280-a03c-11ea-9809-50c42bab3fcb.png)

[2020-05-27 21:13] ctgraham commented on #5832
If using an `assoc_type`, the `assoc_id` will be required.  This will presumably be your `submission_galley.galley_id`.

If making manual changes to the database, be sure to perform a full database backup beforehand, and test in a development copy of the installation when possible.

I don't think the `file_stage` of 'SUBMISSION_FILE_QUERY' (18) sounds right.

I would submit a new article with a ne

[2020-05-27 21:25] kallewesterling commented on #5832
It's a good question. I was not in charge of the import of the articles so I couldn't tell you...

I will try to set up a dev environment and transfer the whole thing over there and see how it works out.

[2020-05-27 22:57] diegoabadan commented on #5867
Hello, Alec.

We are taking care of the implementation of this plugin. It is in our internal gitlab, but we will put it on github so that you can review it. I'll let you know here.

If they consider it relevant, we can make any necessary adjustments so that this plugin can enter the gallery.

[2020-05-27 23:14] asmecher commented on #5867
That would be excellent -- thanks, @diegoabadan!

[2020-05-28 00:22] asmecher opened #5930 "Cancelled reviewers cannot be reinstated"
See https://forum.pkp.sfu.ca/t/editor-submission-reviewer-functionality-cancel-and-reinstate/60816/5 for details:

https://github.com/pkp/pkp-lib/blob/429182276547f0e8e2d855a835a6ed08961df9fc/controllers/grid/users/reviewer/ReviewerGridRow.inc.php#L125

[2020-05-28 08:26] NateWr commented on #5914
@israelcefrin this may just be an issue whereby the theme options don't update when a theme is disabled. Can you try refreshing the page after the themes are disabled and let me know if the problem persists?

[2020-05-28 08:33] NateWr commented on #5918
We don't yet support a mobile phone size on the editorial backend. We only support down to about a tablet size in portrait orientation.

However, it's good that you've reported this. To date, I have never seen a request for support on such small screens, and that's why we have not prioritized it. So filing this issue is a good way to start identifying how much interest there is in the community.

[2020-05-28 08:43] #5864 closed

[2020-05-28 08:49] jhagedoorn commented on #5912
This Plugin would be an significant improvement on the road to institutional identifier!!!

[2020-05-28 08:53] NateWr commented on #5914
I thought this sounded familiar! I think this has been addressed for 3.2.1: https://github.com/pkp/pkp-lib/issues/5617.

[2020-05-28 08:53] #5914 closed

[2020-05-28 09:22] TimBoxH commented on #5912
I can only support @paulvierkant 's  request and would like to add the need to specify more than one affiliation per author.

From my personal experience (as a scientist), authors can be employed at more than one institute at the same time, or authors would like to indicate two affiliations on the same publication as they were employed at institute (A) during data acquisition but have moved to ins

[2020-05-28 09:48] NateWr commented on #5837
Yeah sorry for the confusion. What's merged should go out in 3.2.1, but we also want to write a test case to cover this. Would you prefer that this stays in the 3.2.1 milestone and we file a new issue for the test?

[2020-05-28 10:06] NateWr commented on #5832
I just took a quick look at my local database to see what the connection is. For each galley I have a record in the `submission_galleys` table that looks like this:

[code]

The `submission_id` and `file_id` corresponds to a record in the `submission_files` table like this:

[code]

The only records in the `submission_files` table which include `assoc_type`/`assoc_id` values are `521` (galleys) an

[2020-05-28 10:18] NateWr opened #5932 "Align URL structure for browsing across all applications"
**Describe the problem you would like to solve**
OJS, OPS and OMP all have different URL structures when browsing all publications, sections and categories. This means that we duplicate a lot of work across the applications and leads to some weird cases where URL structures don't match (for example, a category in OJS uses the `/catalog` URL path which is only in OMP).

**Describe the solution you'

[2020-05-28 10:18] NateWr commented on #5903
Merged this for 3.2.1 and filed a new issue for the work in 3.3: https://github.com/pkp/pkp-lib/issues/5932

[2020-05-28 10:18] #5903 closed

[2020-05-28 10:20] NateWr commented on #4498
This will get implemented alongside #5932.

[2020-05-28 10:21] NateWr commented on #4436
This should get addressed in #5932.

[2020-05-28 11:51] ajnyga commented on #5694
Everything should be rebased and tests are running

https://github.com/pkp/ops/pull/9
https://github.com/pkp/omp/pull/796
https://github.com/pkp/ojs/pull/2704
https://github.com/pkp/pkp-lib/pull/5700

[2020-05-28 12:36] NateWr commented on #5694
Thanks, all merged!

[2020-05-28 12:36] #5694 closed

[2020-05-28 12:53] NateWr commented on #5601
All merged!

[2020-05-28 12:53] #5601 closed

[2020-05-28 13:03] NateWr commented on #5095
All merged! :sweat_smile:

[2020-05-28 13:03] #5095 closed

[2020-05-28 13:25] kallewesterling commented on #5832
Thank you so much @NateWr, this is exactly what I was trying to find in the documentation! I was surprised to not be able to find a database schema.

[2020-05-28 13:44] NateWr commented on #5890
@ajnyga can you double-check my fix here? It looks like a fallback to the parent method was missing, but maybe you removed it on purpose.

PR:
https://github.com/pkp/ops/pull/34

[2020-05-28 13:50] ajnyga commented on #5890
probably by mistake!

[2020-05-28 14:45] ajnyga commented on #5784
pkp-lib: https://github.com/pkp/pkp-lib/pull/5881
OMP: https://github.com/pkp/omp/pull/799
OPS: https://github.com/pkp/ops/pull/35
OJS: https://github.com/pkp/ojs/pull/2781

@asmecher

[2020-05-28 16:10] asmecher commented on #5694
Thanks, @ajnyga and @NateWr, this was a long-storied one!

[2020-05-28 16:19] asmecher commented on #5784
Thanks, @ajnyga -- all merged! After 3.2.1 is out, let's get rid of the app-specific `Handler` class entirely, and rename `PKPHandler` to `Handler` in `pkp-lib`. Three fewer files :+1:

[2020-05-28 16:19] #5784 closed

[2020-05-28 16:20] #5930 closed

[2020-05-28 16:38] primoz-svetek commented on #3646
Do you have any idea when this will be fixed? I hope that you have in mind also a fix for the OJS 3.1.x since not everybody is on the 3.2.x

[2020-05-28 16:52] asmecher commented on #5837
Yes, please -- I sometimes use the closed issue list when making the changelog, so that would help ensure it's captured.

[2020-05-28 17:04] Vitaliy-1 commented on #4796
This is mostly done. What I don't understand is how I can provide filter by `Other` category.
Even if I leave `null` intact here: https://github.com/Vitaliy-1/pkp-lib/blob/12c53e7a8128c9939cccf2b7fb0653d52fab262a/api/v1/emailTemplates/PKPEmailTemplateHandler.inc.php#L116
Search results are still empty as if DAO class retrieve method cannot accept null as a search parameter. @NateWr, do you have an

[2020-05-28 17:05] PeterfordUP commented on #5702
Hi @NateWr ,
Can you tell us a bit more about why it's important to have the disabling of submissions to a journal section be called 'archiving' the section? You mentioned in your post above, that

We would like to still refer to it as 'disabling submissions' if at all possible, partly because we expect journal sections to be prepared in advance as part of the use case (but kept as disabled until

[2020-05-28 17:50] Vitaliy-1 commented on #4796
The idea is to show all templates that have null value for `stage_id` in Other category

[2020-05-28 18:30] alexxxmendonca opened #5933 "[OPS] Editorial Statistics "Active Submissions" don't match actual number"
**Describe the bug**
I currently have 7 active preprints:

![Sem Título-1](https://user-images.githubusercontent.com/4059679/83179378-58c72080-a0f8-11ea-9eeb-02063201be94.png)

However, the number of "Active Submissions" in the Editorial Statistics section say 23:

![image](https://user-images.githubusercontent.com/4059679/83179173-0554d280-a0f8-11ea-885b-e6cad6016f5a.png)

**What application are

[2020-05-28 18:32] ewhanson commented on #5863
No fix for OPS as this bug does not affect OPS.

[2020-05-28 20:15] asmecher commented on #5890
Tested and merged! Closing.

[2020-05-28 20:15] #5890 closed

[2020-05-28 20:16] asmecher commented on #5890
(Also cherry-picked to `stable-3_2_0`.)

[2020-05-28 20:51] miguel-obando-s4e commented on #5919
Hello @asmecher here is the post, please check it out
https://forum.pkp.sfu.ca/t/i-cant-see-my-administrator-site-after-update-from-3-1-to-3-2-0-3/60865

[2020-05-28 21:26] asmecher commented on #5640
@defstat, I'm still not seeing language installation tools when logged in as Administrator in a single-journal installation... Where should I be seeing them?

[2020-05-28 22:31] asmecher commented on #5640
Found it (with @defstat's help) -- it's still in the Administration area, now exposed for single-journal installations.

[2020-05-28 22:31] #5640 closed

[2020-05-29 12:41] ajnyga commented on #5886
@asmecher tests for this one seem to be passing (one still running but all the rest are ok):

https://github.com/pkp/omp/pull/830

This moves the OMP search from the catalogHandler to an own searchHandler and allows site level searching.

[2020-05-29 14:00] Helyfoxer opened #5934 "OJS 3.2.0.3: Error when trying to view “Review Details”"
Greetings!
Since I updated the system to version 3.2.0.3, an error was detected in the workflow in the review section.
If open the menu under the name of the reviewer (in Workflow -> Review -> Reviewers) and try to open the review details, an error message occurs (looks like generated by alert() function):
Failed Ajax request or invalid JSON returned.
And in the pop-up layer, only the title is vis

[2020-05-29 14:07] Vitaliy-1 commented on #4796
Done. @NateWr, can you remind me how to make a PR to ojs and pkp-lib repo in this case?
1. Make PR from my pkp-lib branch
2. Make PR from my ojs branch (don't include changes in pkp-lib)
3. Make PR from my ojs branch that includes only changes in pkp-lib for tests.
Or I'm missing something?

[2020-05-29 14:45] Vitaliy-1 commented on #4796
PR to pkp-lib: https://github.com/pkp/pkp-lib/pull/5935

[2020-05-29 15:03] AhemNason opened #5936 "Custom DOI field forces user error in publishing workflow."
If a user has "custom DOI patterns" enabled in the DOI plugin (where you write in your DOI suffix on an article-by-article basis), the "identifiers step" in the publishing workflow will ask the user to include the whole prefix and suffix in the identifiers field.

The prefix will always be the same, even if your suffix field is custom. Users shouldn't be asked to provide anything from PR.EFIX/

Th

[2020-05-29 15:09] defstat commented on #5920
@asmecher  #5921 merged.

[2020-05-29 15:09] AhemNason commented on #5936
@ctgraham has indicated to me that adding the prefix for a custom DOI is a desired thing, so really the copy here should be clear that they need to insert the whole DOI. The issue with the required "period" remains, however.

[2020-05-29 15:15] ctgraham commented on #5936
Manually keying the prefix is most plausible with entering DOIs for backissues acquired from an earlier publisher.  If we drop the validation of the entered prefix against the prefix specified in the DOI plugin, we are still protected by the registration agency from registering a bad DOI.  It would be unfortunate, though, to defer all validation onto the registration authority, though.

[2020-05-29 15:54] AhemNason commented on #5936
I didn't describe what's happening quite right. I'm going to make a new ticket that's more clear.

[2020-05-29 15:54] #5936 closed

[2020-05-29 16:26] AhemNason opened #5937 "DOIs won't assign for articles that have been published and then unpublished"
If you've published something _without_ a DOI in OJS 3.1.0.3 but _need to add one after the fact_, your only option in the publishing workflow is to edit the identifier for the submission. The submission is locked after publication, so you need to unpublish, add the DOI, and re-publish.

Re-publishing, though, does not save the DOI. Reloading the field after the article has been republished will s

[2020-05-29 16:47] asmecher commented on #5886
Merged, thanks!

[2020-05-29 16:47] #5886 closed

[2020-05-29 17:05] defstat commented on #5265
This could be resolved if we added this line `AppLocale::requireComponents(LOCALE_COMPONENT_APP_MANAGER);` here https://github.com/pkp/ojs/blob/master/plugins/importexport/crossref/CrossrefInfoSender.inc.php#L33

We could also add the same code in the `register` function of the `PubObjectsExportPlugin` (resolving the same issue for `Medra`, `Datacite` and `Crossref` Plugins)

I am proposing a PR t

[2020-05-29 18:19] amandastevens commented on #4746
Thank you for adding this feature!  Will this new template be used when a notification is sent for a new issue published as well?

[2020-05-29 19:42] asmecher commented on #5265
@defstat, I'm leaning towards the simpler solution at the top of your last comment; there's very little overhead from duplicate calls to `AppLocale::requireComponents`, and eventually I'd like to look into relying more on the `gettext` toolset and removing our `AppLocale` and `PKPLocale` classes (at least the parts of them relating to locale file loading and translation). Ideally all locale conten

[2020-05-29 20:25] asmecher opened #5939 "DOAJ deposit action not working"
From https://forum.pkp.sfu.ca/t/error-500-on-doaj-register/60869:

[2020-05-29 20:27] #5939 closed

[2020-05-29 20:56] asmecher commented on #5920
Closing, thanks!

[2020-05-29 20:56] #5920 closed

[2020-05-29 21:10] jmacgreg opened #5940 "Add a language toggle option to the available Navigation Menus options"
If more than one language is enabled, the journal is provided with a sidebar block to permit switching back and forth. Some journals however would like to have this option available as a selectable navigation menu item. There are some hacky ways to semi-implement this, but not gracefully (see https://forum.pkp.sfu.ca/t/add-the-language-toggle-block-to-the-navigation-menus/52435). It would be great

[2020-05-29 22:18] Kolesar opened #5941 "Potential issue"
` $this->getCurrentPublication()` can be null and `$this->getCurrentPublication()->getData('urlPath')` will thrown error!

Quick solution is:
[code]

https://github.com/pkp/pkp-lib/blob/050afe9bb3a1e87157b8b2c7dccccd88d87aa2c0/classes/submission/PKPSubmission.inc.php#L54

[2020-05-29 22:31] Kolesar opened #5942 "Potential issue"
`$latestPublication` can be null and ` $latestPublication->getId()` will thrown error.

Atm, I have no idea for improving this code except to kindly ask you to run PHPStan on the whole project.

https://github.com/pkp/pkp-lib/blob/e9cc77c9f15b0fc6e13962a7dd9997571bdc28dd/pages/workflow/PKPWorkflowHandler.inc.php#L199

[2020-05-29 22:37] asmecher commented on #5942
@Kolesar, it's technically possible for `$latestPublication` to be null (if the database includes a `submissions` entry without any corresponding entries in `publications`) but in practice it should always be set. Do you have a practical case where `$latestPublication` is null?

[2020-05-29 22:37] asmecher commented on #5941
See https://github.com/pkp/pkp-lib/issues/5942#issuecomment-636222461.

[2020-05-29 22:42] Kolesar commented on #5942
Hi @asmecher,

Thanks for the quick reply. Actually yes. When I try to open directly URL, for example:  index.php/journal/workflow/index/102/3

Because my Subscription page is blank on the latest version. Actually I tried to upgrade from the 3.2.2.4 and now almost nothing works :/

In the log files, I can see an error for the place that I mention, when try directly to visit this link.

[2020-05-29 22:44] #5941 closed

[2020-05-29 22:44] asmecher commented on #5942
@Kolesar, what version did you try to upgrade to? Did the upgrade succeed? (I've closed https://github.com/pkp/pkp-lib/issues/5941, since I suspect the cause is the same.)

[2020-05-29 22:48] Kolesar commented on #5942
As I mention. I tried to upgrade from the 3.2.2.4 and look like upgrade works (have some problems with database, but finally works).

[2020-05-29 22:49] asmecher commented on #5942
(Also cross-posted [here](https://forum.pkp.sfu.ca/t/error-call-to-a-member-function-getdata-on-null-after-trying-to-import/59833/8))

@Kolesar, what do you get for the SQL query:
[code]

[2020-05-29 22:55] asmecher commented on #5942
Also, I see that you tried to upgrade from version 3.1.2-4, but what version did you try to upgrade to?

[2020-05-29 23:08] Kolesar commented on #5942
To latest one, of course

[2020-05-29 23:16] diegoabadan commented on #5867
Hi @asmecher ,

Follow the link for the plugin: https://github.com/lepidus/AuthorVersion

Your feedback will be appreciated. :)

Note: we will add the option of unpublishing and editing relations in the coming days.

[2020-05-29 23:23] asmecher commented on #5942
@Kolesar, that would be OJS 3.2.0-3 then? (Please confirm -- it's also helpful to have this specifically for someone who comes across this issue later.)

Did you try the SQL query above?

[2020-05-29 23:44] Kolesar commented on #5942
[code]

[2020-05-29 23:49] asmecher commented on #5942
@Kolesar, OK, that confirms 3.2.0-3, and that the upgrade process thinks it finished successfully.

Can you describe the database problems you had? In particular, did you have to work around anything related to `dbscripts/xml/upgrade/3.2.0_versioning.xml`?

[2020-05-30 05:40] narendra2018 opened #5943 "[OJS]"
when click on title of future issue preview it shows 404 Not Found
do resolve

[2020-05-30 06:33] asmecher commented on #5943
@narendra2018, @NateWr has already responded to your question at https://github.com/pkp/ojs/pull/2773#issuecomment-635273154. Please don't post the same content multiple times.

[2020-05-30 06:33] #5943 closed

[2020-05-31 01:44] navotera commented on #5871
Hi @NateWr
Thank you for your countless dedication to this.
Let us know how to get this version? Do we need to update using the composer or download the fresh new OJS 3.1.2-4 on the GitHub Releases tab?

Thank you

[2020-05-31 10:38] Helyfoxer commented on #5934
I did this a couple of days before writing here ( https://forum.pkp.sfu.ca/t/ojs-3-2-0-3-error-when-trying-to-view-review-details/60826 ).
Because there didn’t react, then I repeated my message here.

[2020-05-31 16:22] defstat commented on #5265
@asmecher

**PRs**
[OJS]: pkp/ojs#2783
[OPS]: pkp/ops#36

[2020-05-31 16:29] defstat opened #5944 "Publication object DOI data not getting loaded"
**Describe the bug**
When a process like `CrossRefAutomaticRegistrationTask` is being executed as a `ScheduledTask` the `Publication` object is not loaded with its `pub-id::doi` data. That results to a failure during export. That does not happen when exporting the same submission from the user interface.

**To Reproduce**
See also https://forum.pkp.sfu.ca/t/ojs-3-2-0-2-crossref-xml-validation-erro

[2020-05-31 17:03] Vitaliy-1 opened #5945 "PKPSubmissionService::getProperties default args parameter can't be null"
OJS master branch and 3.2 stable

Currently `$args` parameter in `PKPSubmissionService::getProperties` by default is set to null but in the method's body parameter is managed in the way that it's required, e.g.: https://github.com/pkp/pkp-lib/blob/e9cc77c9f15b0fc6e13962a7dd9997571bdc28dd/classes/services/PKPSubmissionService.inc.php#L172.
Thus, if the method is called with 2 parameters: `...->getP

[2020-05-31 23:39] muhammadhamdani opened #5946 "Static Page"
**Describe the bug**
After Upgrade OJS . static pages list is empty. before not empty

**To Reproduce**
Steps to reproduce the behavior:
1. After Upgrade OJS Version from 3.1.2.4 to 3.2.0.3
2. Click Settings -> Website
3. Click on Tabs Static Page
4. Static Page List empty
**What application are you using?**
 OJS 3.2.0.3

**Additional information**
Please add any screenshots, logs or other informa

[2020-06-01 10:41] NateWr commented on #5944
My first thought is that this is probably because the pub id plugins are not being loaded in the request. You will probably need to specially load them in the scheduled task.

[2020-06-01 11:08] drugurkocak commented on #3646
Hi, I made a special email and saved it into PUBLISH_NOTIFY template for the special issue of COVID-19. I would sent a special message to the users and then restore the email template. However, when I published the issue, I saw that users were sent the standard NOTIFICATION email. New notification from {$siteTitle}, A new issu was published. …
System is OJS 3.2.0-3, the situation still looks the s

[2020-06-01 11:38] NateWr commented on #5937
This is a UI/UX issue with the new publication forms and the publishing workflow. Changes to the forms are not saved until you click the Save button at the _bottom_ of the form. However, it is common for someone to make a change and click publish and forget to click save.

I encountered this a lot even though I built the UI myself. It looks like this hasn't made it into an issue, though I'm sure t

[2020-06-01 12:10] NateWr opened #5948 "Write integration tests for unpublishing an issue"
In #5837 @defstat identified cases where the submission, publication and issue status can fall out of sync. Integration tests should be written to ensure there are no future regressions in these cases.

Tests should be written to check:
- [ ] Correct submission and publication statuses when issue is unpublished.
- [x] Correct submission and publication statuses when an issue is published, unpublis

[2020-06-01 12:11] NateWr commented on #5837
:+1: Got it. I've put this back onto the 3.2.1 milestone and filed a new issue with the tests at https://github.com/pkp/pkp-lib/issues/5948.

[2020-06-01 12:11] #5837 closed

[2020-06-01 12:24] NateWr commented on #5702
Thanks Pete, that's useful feedback. I have in mind precisely the use-case of a section that has "ended". For example, a journal that once had a "Notes from the field" section but no longer publishes into it. Aside from disabling submissions they still want people to be able to search and browse it (when we support browsing by section).

I _think_ that this is going to be the most common use case.

[2020-06-01 12:37] AhemNason opened #5949 "Need for some form of metadata and/or DOI editing post-publication."
Conversation taken largely from the PKP Slack:

ahemnason  3 days ago
I understand why you have to “unpublish” to fix a metadata issue… especially a DOI one… but I do think editing metadata shouldn’t require pulling something down.

@ctgraham  3 days ago
...some journals which have taken over from a previous publisher and need to enter the legacy DOI for backissues.

ctgraham  3 days ago
The exist

[2020-06-01 12:44] NateWr commented on #4746
No, we would need different language and a different link. Please feel free to recommend some language in a new issue. We'll be doing lots of work on emails in 3.3/3.4 so now is a good time to file recommendations.

[2020-06-01 12:47] AhemNason commented on #5937
The other issue here is not just the _save_ piece, but that "Identifiers" comes before the issue information in the publishing workflow. If you are assigning DOIs based on a pattern that needs any of the issue information, it can't automatically assign that until _after_ the article has been scheduled to an issue. So, users might try to assign a DOI and not understand why they can't, get to the bo

[2020-06-01 12:53] NateWr commented on #5937
Have you tried this? The field should describe why it can not assign a DOI and in the case of issue assignment it should specifically say they must assign it to an issue before the DOI can be generated.

[2020-06-01 13:18] AhemNason commented on #5937
You are right!

https://www.dropbox.com/s/skgc6vqcj8s6rho/Screenshot%202020-06-01%2010.16.32.png?dl=0

I was wrong! Apologies!

[2020-06-01 14:12] NateWr commented on #5871
I don't think there is an official 3.1.2.x release that includes this yet so you would need to be running off of an install from git. If you're not already doing this it may prove tricky to migrate to that.

Instead, it may make sense to manually apply the changes described in https://github.com/pkp/pkp-lib/pull/5888 and https://github.com/pkp/ojs/pull/2755.

[2020-06-01 14:28] NateWr commented on #5863
Thanks @ewhanson! The OJS tests look good but the OMP ones are failing on installation. I think this is due to a typo introduced to OMP master and fixed a few days ago. So if you just rebase your PRs the tests will run again.

[2020-06-01 14:36] NateWr commented on #4796
Doing a code review now. The submodule commit looks good to me. What happens is that it displays _any_ changes to the submodule since the last time a submodule commit was merged.

Since we only use the submodule commits for testing, we don't merge them to `master` when they contain no changes in OJS/OMP. We often just close that PR without merging it. Then when you load up the next submodule commi

[2020-06-01 14:50] asmecher commented on #5265
All merged -- thanks, @defstat!

[2020-06-01 14:50] #5265 closed

[2020-06-01 14:57] asmecher commented on #3646
@drugurkocak, this issue is still open, thus the behaviour you describe is expected. Watch for this issue to be updated.

[2020-06-01 15:01] NateWr commented on #4796
Good work! I had just a few comments to consider. Do you know if these email template changes are applied automatically during the upgrade or do we need to write an upgrade script?

[2020-06-01 15:01] NateWr commented on #4796
(I also created an OJS PR to be able to review it: https://github.com/pkp/ojs/pull/2784. I guess we'll still need one for OMP too.)

[2020-06-01 15:11] drugurkocak commented on #3646
@asmecher Sorry for bothering you. I think the previous comment stating "not everybody is on the 3.2.x" confused me and expected that the situtation should be different. I will be watching all threads,
Regards,

[2020-06-01 16:15] Vitaliy-1 commented on #4796
Yeah, I'll need to review templates for OMP/OPS too.

`stage_id` column is created automatically during the upgrade but is populated with values only by the installation script. I guess it means to trigger the `installEmailTemplate` method during the upgrade, or not?

And if the PR contains a submodule update and commits to the app, you'll just merge those by IDs?

[2020-06-01 16:19] NateWr commented on #4796
@asmecher in this work Vitaliy has added an attribute `stage_id` to the email template XML definitions, which will go into a new table column. Will the upgrade script automatically apply that change or do we need to write an upgrade script?

[2020-06-01 16:19] NateWr commented on #4796
We'll merge the whole PR, including the submodule commit, in those cases.

[2020-06-01 16:24] Vitaliy-1 commented on #4796
In this case, should I update the submodule once again with new a commit?

[2020-06-01 17:43] ewhanson commented on #5863
Thanks @NateWr. It looks like all the test are passing now expect for PHP 7.4 with pgsql for OMP.

[2020-06-01 18:21] suporte-sbcm opened #5952 "Can't download ojs from site"
Hi, I've always download OJS from this page and never have problem with this, but the last 2 weeks I can't anymore.

I wanna download the last OJS version.

I've tried from another computer and from another connection. But the problem stays the same.

It starts and it goes well until you expects to finish the download.
In Google Chrome acuse fail after a minute. In Edge simplily doens't finish.

[2020-06-01 18:49] asmecher commented on #5952
@suporte-sbcm, where specifically are you trying to download OJS from?

[2020-06-01 18:49] ctgraham commented on #4746
In the near term, for sending the TOC with published issues, we recently wrote a plugin to embed this.  It needs a functional review, but should be nearly good to go:
https://github.com/ulsdevteam/pkp-emailIssueToc

[2020-06-01 18:57] asmecher commented on #5934
@Helyfoxer, let's continue on the forum -- I've responded to your post there. If you feel like a forum post has been forgotten, feel free to add a reminder reply. However, we aren't able to respond to all forum posts, and it might take us a while to get to the ones we are able to respond to; we're a small team with a lot of competing priorities.

[2020-06-01 18:58] asmecher commented on #5946
@muhammadhamdani, see https://forum.pkp.sfu.ca/t/static-pages-database-is-empty-after-upgrade-to-3-1-2-bug/53340 for details. In general, that support forum is the best place to post tech support questions.

[2020-06-01 18:58] #5946 closed

[2020-06-01 19:06] suporte-sbcm commented on #5952
@asmecher , from https://pkp.sfu.ca/ojs/ojs_download/

I sucessfully download one, but its 4 times bigger than the discribed on site.
Size: 163mb (but I'he expected 40mb)
Is this correct?

[2020-06-01 19:09] asmecher commented on #5952
@suporte-sbcm, your browser may have unzipped the `.tar.gz` file into a `.tar` file. What kind of file are you looking at?

[2020-06-01 19:20] suporte-sbcm commented on #5952
@asmecher , the last version of OJS. Thats what i want it.

The downloads that do not corrupted are with this extensions .tar.gz and .tar.gz.tar, but the two of them are 163mb.

[2020-06-01 19:24] asmecher commented on #5952
@suporte-sbcm, I've just retried the OJS 3.2.0-3 download and it's ~40MB as expected and compares as identical with the version I generated on my local machine as part of the release process.
[code]

[2020-06-01 19:57] suporte-sbcm commented on #5952
@asmecher , ok.
I will try to check what is happening.
I installed wget on my windows and tried with it.
The download connetion doesn't stay stable for all process, it loses stats of mb/s.
But completed with this size 39,62Mb (not corrupted).
Do you think it is ok to use it?

C:\Users\suporte\Downloads>wget "http://pkp.sfu.ca/ojs/download/ojs-3.2.0-3.tar.gz"
--2020-06-01 16:50:13--  http://pkp.sfu

[2020-06-01 20:03] asmecher commented on #5952
@suporte-sbcm, yes, it should be!

[2020-06-01 20:03] #5952 closed

[2020-06-01 20:07] suporte-sbcm commented on #5952
@asmecher ,great!
Thanks a lot!

[2020-06-01 22:16] kaitlinnewson commented on #5871
When trying these with `git apply --check ojs-3.1.2-1.patch` within an OJS install directory, I receive a lot of "No such file or directory errors", e.g.:

[code]

This was with the patch for OJS 3.1.2-1. Will these files work with `git apply`, or only with `patch`?

[2020-06-01 22:58] asmecher commented on #5871
@kaitlinnewson, I think you need to specify the `-p2` option (as with `patch`).

[2020-06-01 23:13] kaitlinnewson commented on #5871
@asmecher that did the trick - thanks!

[2020-06-02 08:35] NateWr opened #5953 "Issue published notification email should include table of contents"
**Describe the problem you would like to solve**
The notification email that can be sent when an issue is published is not as useful as it could be.

**Describe the solution you'd like**
The email should include full issue details including the table of contents, with links to each item in the issue.

**Who is asking for this feature?**
Community partners and publishing services passing on request

[2020-06-02 08:35] NateWr commented on #4746
Filed as an enhancement here: https://github.com/pkp/pkp-lib/issues/5953

[2020-06-02 10:48] NateWr commented on #5565
@asmecher here's some work in progress on the article preview access: https://github.com/NateWr/ojs/commit/381a0469d488cc51bd3ffdcae2812bec532e1e1d. Here's an overview of how it works and the challenges in getting this right.

The main challenge is re-using the existing authorization policies to determine when a user should have access to a preview. These policies require query params like `?submi

[2020-06-02 13:16] NateWr opened #5954 "Redirect fails when urlPath has been changed"
The redirect for old urls when an article's urlPath has changed does not work correctly. A url like the following:

[code]

Should redirect to the following:

[code]

But instead it drops the version part:

[code]

[2020-06-02 13:19] NateWr commented on #5954
PRs:
https://github.com/pkp/ojs/pull/2786
https://github.com/pkp/ojs/pull/2787 (`stable-3_2_1`)
https://github.com/pkp/ojs/pull/2788 (`stable-3_2_0`)

[2020-06-02 14:30] NateWr commented on #5565
Something to think about for the future: when we start migrating submission files, review assignments and other workflow concerns over to the REST API, we're going to run into a similar mismatch between information in the URL and what the authorization policies require.

Some of the REST API URLs will look like:

- `/api/v1/submissions/1/files/2`
- `/api/v1/submissions/1/discussions/2`
- `/api/v1/

[2020-06-02 14:35] CFanselow commented on #5912
Would also be interesting for us! Both for the user accounts (table "user_settings") and the article metadata (table "author_settings").

[2020-06-02 14:42] AhemNason opened #5955 ""Omit Author in Table of Contents" selection for sections no longer respected journal view"
In journal section metadata/options, there's a qualifier to omit the author's name from a journal section. This is, by and large, a workaround for journals publishing articles that don't have an "author". Stuff like errata or abstracts collections or any other number of things. These are usually uploaded by managing editors or other journal staff who are also authors of legitimate materials.

All

[2020-06-02 14:54] AhemNason opened #5956 "Possible to circumvent author requirement in UI"
In the publishing workflow, authors are required. However, if you:

1. unpublish an article
2. refresh your browser window
3. delete all authors from author metadata
4. save metadata and republish

It's possible to publish material without an author. This, in turn, breaks themes in a weird way. This is what it looks like in default.

![screenshot](https://www.dropbox.com/s/ozgbrybciz5f5l8/Screensh

[2020-06-02 16:06] NateWr commented on #5863
This has been merged to `master`. Erik is backporting to 3.2.1 and then we can close this. :+1:

[2020-06-02 16:30] PeterfordUP commented on #5702
Hi @NateWr, this works for us. We're going to implement this and then create a pull request for the feature. Thanks

[2020-06-02 16:30] alexxxmendonca opened #5957 "[OPS] Allow Authors to update "Relation" field"
**Describe the problem you would like to solve**
Currently, authors are not allowed to update the "Relation" field, which indicated whether a preprint has been already submitted to a journal or has been published elsewhere in a Version of Record (VoR).
This makes it harder for Admins, since it's not always clearly stated in the manuscript or in the "Comments to the Moderator" area whether this sub

[2020-06-02 17:50] ewhanson commented on #5863
Backport for `stable-3_2_1`.

PRs:
#5958
pkp/ojs#2789
pkp/omp#832

[2020-06-02 20:24] asmecher commented on #5955
@AhemNason, what's your take on authorless submissions in general from a librarian/metadata quality perspective? I'd worry about introducing the potential for downstream breakage with other formats that will require creator metadata.

I don't think "forcing" a single author by e.g. preventing someone from deleting the last author record would be a good UI/UX outcome, so if we deem at least one aut

[2020-06-03 09:39] NateWr commented on #5863
Thanks @ewhanson!

[2020-06-03 09:39] #5863 closed

[2020-06-03 11:37] NateWr commented on #5954
Merged and backported to two stable branches.

[2020-06-03 11:37] #5954 closed

[2020-06-03 16:47] defstat opened #5960 "Native Import/export: Unexpected error when importing"
**Describe the bug**
see also https://forum.pkp.sfu.ca/t/error-when-importing-using-native-xml-import-plugin-in-3-2-0-3/60948

**What application are you using?**
 OJS version 3.2.X

**Additional information**
That's an issue related to import filter execution failure. The failure is not getting handled, and a `null` `Submission` object is getting returned.

[2020-06-03 18:36] bricas opened #5961 "enabling crossrefReferenceLinking (even master branch) makes doi disappear"
OJS 3.2.0-3

I've been trying to track down why our DOIs weren't showing up in the templates. I found out that having the crossrefReferenceLinking plugin enabled makes them disappear.

I thought perhaps our plugin was just outdated, so i grabbed the master branch, but there was no change.

Found this note on the forum saying the same thing: https://forum.pkp.sfu.ca/t/doi-dissapear-after-installing

[2020-06-03 19:10] pmangahis opened #5962 "Journal Manager role/permission is unclear"
Feedback from a hosting client new to OJS 3 found that having the Journal Manager role/permission displayed with no roles enabled and greyed out to be confusing.

![image](https://user-images.githubusercontent.com/50342731/83678397-8bf32f00-a592-11ea-8381-6d7eaea450af.png)

To a new user, this could suggest that the JM doesn't have permission within those areas of the workflow. As well, having the

[2020-06-03 23:03] asmecher opened #5963 "Replace FileWrapper with 3rd-party implementation"
The FileWrapper class (and associated subclasses) provide homebrew HTTP and HTTPS clients, among other things. Remove them in favour of a third party library (recommended: guzzlephp.org).

[2020-06-03 23:38] diegoabadan opened #5964 "Notification when author creates a version"
**Describe the problem you would like to solve**
When an author creates a version of your preprint, there is no notification in "Tasks"

**Describe the solution you'd like**
A notification would be created, allowing the Editor / Moderator to click and view a new version of submission.

**Who is asking for this feature?**
Server Admins

**Additional information**
Scielo wants this feature on its pr

[2020-06-03 23:39] asmecher commented on #5964
Yes, I think a PR would be welcome on this, thanks!

[2020-06-04 14:10] NateWr commented on #2923
Obsolete.

[2020-06-04 14:10] #2923 closed

[2020-06-04 14:26] diegomejia071 commented on #5871
Hi, @NateWr
Apply the changes you mentioned for version 3.1.2.0, but when trying to upload an image I get the following error:

##api.publicFiles.413.noDirSpace##

![image](https://user-images.githubusercontent.com/21009904/83767705-93264580-a643-11ea-9d01-32e90a3967aa.png)

[2020-06-04 14:46] defstat commented on #5961
@asmecher @NateWr

**PRs**
[OJS]: pkp/ojs#2792
[OPS]: pkp/ops#39

[2020-06-04 15:13] diegomejia071 commented on #5871
Hi @NateWr,

Where is this api.po file located?

[2020-06-04 15:28] NateWr commented on #5871
They are not in 3.1.x. The translation files were converted to `.po` in 3.2.0. For 3.1.x you will want to look in the same location but under `api.xml`. You'll need to modify the format as well.

[2020-06-04 15:46] NateWr commented on #5871
It is set to 5mb by default. Try adding a parameter to our `config.inc.php` file with the number of kb you allow (default is 5000):

[code]

[2020-06-04 16:54] jmacgreg opened #5967 "SQL error on 3.2.0->3.2.1RC upgrade"
Attempting an upgrade from 3.2.0 to 3.2.1RC and I get the following error (@ajnyga, @asmecher thinks it may be due to a recent commit of yours, will let him elaborate if necessary):

[code]

[2020-06-04 17:00] ajnyga commented on #5967
Ah, a typo here: https://github.com/pkp/ojs/blob/master/dbscripts/xml/upgrade/3.2.1_preupdate_subeditor_categories.xml#L23

[2020-06-04 17:01] ajnyga commented on #5967
https://github.com/pkp/ojs/pull/2794

[2020-06-04 17:05] ajnyga commented on #5967
https://github.com/pkp/omp/pull/833

[2020-06-04 17:11] ajnyga commented on #5967
@asmecher was planning to do a pr for OPS as well, but forgot that I have write permissions to the repo, so by mistake I committed the change already. sorryyy...

[2020-06-04 17:43] jmacgreg commented on #5967
Confirming that this fixes the issue- thanks!

[2020-06-04 17:54] asmecher commented on #5967
Not a problem -- all committed, thanks!

[2020-06-04 17:54] #5967 closed

[2020-06-04 17:57] asmecher commented on #5967
All cherry-picked to `stable-3_2_1`.

[2020-06-04 18:13] diegomejia071 commented on #5871
@NateWr, thank you very much for the help.

[2020-06-04 19:48] asmecher commented on #5961
@defstat, can you check that this won't cause a regression in https://github.com/pkp/pkp-lib/issues/5474?

[2020-06-05 01:06] asmecher commented on #5867
@diegoabadan, https://github.com/lepidus/AuthorVersion/blob/master/VersaoDoAutorPlugin.inc.php doesn't look complete to me... maybe an unpushed commit?

[2020-06-05 01:08] asmecher commented on #4796
This will need adjustment after I merge https://github.com/pkp/pkp-lib/issues/2493. Is this one ready to be merged soon?

[2020-06-05 01:09] asmecher commented on #4796
This will need adjustment after I merge https://github.com/pkp/pkp-lib/issues/2493. Is this one ready to be merged soon?

[2020-06-05 03:27] diegoabadan commented on #5867
@asmecher ,

I'm going to ask our team to confirm.

I know they were not finding the granularity they needed in the OPS permissions to allow the creation of a version without allowing the submission of a new preprint, so they changed the template as an alternative:
https://github.com/lepidus/AuthorVersion/blob/master/templates/authorDashboard/authorDashboard.tpl

[2020-06-05 06:53] defstat commented on #5961
@asmecher, following the description of #5474, I tried to `Mark registered` a submission using the `CrossRefExportPlugin`. The submission is marked and the `crossref::registeredDoi` and `crossref::status` data are added to the `submission_settings` table.

I also tried the same for `medra` and `doaj` plugins.

Do I have to check anything else regarding #5474?

[2020-06-05 09:45] ChristianeE opened #5969 "[OJS] Error when loading the submission page"
**Describe the bug**

When looking at the Submission page we sometimes observe the following Problem:
The Page does not load and returns that an **unexpected error uccurred**.
This is what we get from the error log:

[Mon Apr 27 12:14:17.802109 2020] [php7:error] [pid 12976] [client 138.232.54.58:52152] PHP Fatal error:  Uncaught Error: Call to undefined function import() in /mnt/data/www/html/api

[2020-06-05 16:19] alexxxmendonca opened #5970 "[OJS] Misleading information for authors regarding review process"
Please see: https://forum.pkp.sfu.ca/t/clearer-information-about-review-status/56577

Needs to check what is in fact a bug and what may fall into better phrasing.

[2020-06-05 16:37] diegoabadan commented on #5867
Hi @asmecher ,

The return of our developer Ada:

Basically, we need to give the user access to make publications with the 'setAuthorCanPublishVersion' method and we deny by the template his permission to make another type of publication.

[2020-06-05 17:09] asmecher commented on #5970
@alexxxmendonca, that was posted in 2019, and doesn't specify what version of OJS they're using; can you confirm that it's still an issue in the 3.2.x line of releases?

[2020-06-05 17:19] alexxxmendonca commented on #5970
I was asked by Nate to file it as an issue.

I will check with the author of the original post.

[2020-06-05 18:32] asmecher commented on #5969
@ChristianeE, all requests into OJS are supposed to go through the main `index.php` wrapper script, which is in the OJS installation directory; however, it appears that this request is attempting to go through the `api/v1/_submissions/index.php` wrapper instead. I suspect the most likely cause is rewriting rules; I'd suggest double-checking these to see if they're at fault.

[2020-06-05 19:42] asmecher commented on #2493
Merged for `ojs`, `pkp-lib`, and `usageStats`. Working on the other apps, though backwards compatibility should be present in the meantime.

[2020-06-05 20:33] kallewesterling commented on #5832
Here's what I ended up doing, so far:

[code]

Not the prettiest code—sure! But it got the job done. I got it to spit out individual MySQL queries for all of the faulty rows in the database, tested it on a dev server that I had set up, and didn't notice any problems. I then made a backup of the production server, and implemented the changes there.

Everything seems to be running fine so far. But I

[2020-06-05 20:45] asmecher commented on #2493
Committed for OPS and OMP.

[2020-06-05 20:45] #2493 closed

[2020-06-05 21:03] testman57 opened #5971 "Medra Issue export does not validate against XSD"
**Describe the bug**
In the mEDRA Export/Registration Plugin, Issues tab, when trying to export the XML (or trying to register) with the Validation checkbox checked, the export/registration fails due to a bad sequence of RelatedWork vs RelatedProduct. Indeed, all RelatedWork should appear first, and then all RelatedProduct, but the generated XML alternates both...

**What application are you using

[2020-06-05 21:40] israelcefrin opened #5972 "OJS 3.2 returns an error when user switches "appear public on site" option and saves it"
**Describe the bug**
In a multi journal installation it is required that journals with own domain have the option "Enable this journal to appear publicly on the site" checked. Otherwise, they will always redirect users to the login screen.
OJS is always returning a "toaster" notification that an error has occurred and it is not possible save the option.

**To Reproduce**
Steps to reproduce the beh

[2020-06-06 02:53] asmecher commented on #3572
Done.

[2020-06-06 02:53] #3572 closed

[2020-06-08 09:26] NateWr commented on #5215
Special issues should be able to identify that issue's editors and provide this information to depositing services where appropriate (DC, OAI, DOI, coins, doaj, etc.). See [request on forum](https://forum.pkp.sfu.ca/t/name-editors-in-issues/47421).

[2020-06-08 10:04] NateWr commented on #5871
This suggests that your directory is already very full. You may need to increase the dir size substantially to make this work.

[2020-06-08 10:07] NateWr commented on #4796
Vitaliy is still working on OMP/OPS but an example of how to do this for OJS would be useful for me too.

[2020-06-08 10:14] NateWr commented on #5832
Great, glad you were able to sort that out. Ill close this for now but if it doesn't resolve your issue feel free to post again and we can open it back up.

[2020-06-08 10:14] #5832 closed

[2020-06-08 11:31] NateWr commented on #5702
Thanks for the PRs @salmanm2003! I'm having a little bit of trouble testing them against the latest `master` branch. It seems like maybe you have rebased/updated your OJS branch more recently than your pkp-lib branch.

In `SectionGridHandler` there's  a call to `SubEditorsDAO::getBySubmissionGroupId()`. This reflects some changes done recently, but it looks like the `SubEditorsDAO` class doesn't h

[2020-06-08 11:34] NateWr commented on #5702
(One particular hiccup you'll run into with the rebase is that we just merged some big changes to our database schema management: https://github.com/pkp/pkp-lib/issues/2493#issuecomment-627482515. Where you add the database column will need to change but don't worry about this for now. I can work around that for my test and we'll get it sorted before merge.)

[2020-06-08 13:42] alexxxmendonca commented on #5970
According to the original post's author, the problem seems to not be occuring anymore but another related problem was found and they will file it as a separate issue.

I will be closing this issue for the time being.

[2020-06-08 13:42] #5970 closed

[2020-06-08 14:27] Vitaliy-1 commented on #4796
I see only 1 conflict in pkp-lib and its regarding tools/schema/common.xml which is no longer present, @asmecher, should I define column name somewhere else or what is the current concept?

[2020-06-08 15:03] NateWr commented on #4991
Requested in the community forum at https://forum.pkp.sfu.ca/t/categories-on-article-landing-pages/59124/9.

[2020-06-08 15:55] NateWr opened #5973 "Site-wide stylesheet loads for every journal"
**Describe the bug**
When a stylesheet is uploaded at Administration > Site Settings, that stylesheet is loaded for every journal not just the site-wide index page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Administration > Site Settings > Appearance > Setup
2. Upload a stylesheet
3. Visit one of the site's journals and see that the stylesheet is loaded.

**What application are y

[2020-06-08 16:11] NateWr commented on #5973
Feedback from a community member:

[2020-06-08 16:15] Vitaliy-1 commented on #4796
@NateWr,

The only difference that I see in OMP is that it has internal and external review stages. If talking about email templates, it seems that there are those that can be assigned to both of these stages (e.g., reviewer assignment - REVIEW_REQUEST). Does it make sense to assign them to the external review stage just like in OJS?

[2020-06-08 16:20] NateWr commented on #4796
Hmm, good question. Are there any OMP templates that are only used in internal review? If not, then I suggest we just use external review as the `stageId` and in the UI hide the distinction (ie - call it "Review" not "External Review" in the filters list).

If there are OMP templates that are only used in internal review, but some are used in both, we may need to think about allowing more than one

[2020-06-08 17:36] mbarros64 commented on #5891
Hi @Vitaliy-1 , we found another way to make the plugin work, we verify if cache is empty, if is, we call the function that returns a list of kewords and put it on cache. And now, the code no more depends of _cacheMiss function.

[2020-06-08 17:36] #5891 closed

[2020-06-08 18:31] #5647 closed

[2020-06-08 20:27] asmecher commented on #5867
Got it! I just saw an unused variable and was confused. ([Filed for clean-up](https://github.com/lepidus/AuthorVersion/issues/1), but it doesn't cause any problems.)

This is nice and simple and would be great to get included in the Plugin Gallery for OPS! See https://docs.pkp.sfu.ca/dev/plugin-guide/en/release for details.

@alexxxmendonca, if that resolves this issue for you, can we close this?

[2020-06-08 21:47] asmecher commented on #4796
This is only going into OJS 3.3, correct? If so, you can add the new column to `lib/pkp/classes/migration/CommonMigration.inc.php` (for new installs), and to `lib/pkp/classes/migration/upgrade/v3_3_0UpgradeMigration.inc.php` (for upgrades). You'll also need to populate the new column on upgrade (not sure if you've worked through that yet).

[2020-06-08 23:02] diegoabadan commented on #5867
@asmecher ,

We will remove the unused variable and prepare the plugin for the gallery.

Thank you!

[2020-06-08 23:37] asmecher commented on #5967
Also rearranged the order of renames (column first, then table) to circumvent some kind of ADODB caching issue. (https://forum.pkp.sfu.ca/t/upgrade-from-ojs-2-8-4-1-to-3-2-1rc1/61045/3)

[2020-06-09 07:16] NateWr opened #5974 "TinyMCE can not be loaded in sr_RS@cyrillic locale"
**Describe the bug**
When the `sr_RS@cyrillic` locale is active in the UI, TinyMCE fields will not be loaded and the following error appears in the console:

[code]

It seems that TinyMCE will fail when asked to mount to an element with an `id` that includes `@`. When the `id` includes the locale, the `@` character should be sanitized.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Ad

[2020-06-09 08:37] NateWr commented on #5974
PRs:
https://github.com/pkp/ui-library/pull/96
https://github.com/pkp/ui-library/pull/97 (stable)

Tests:
https://github.com/pkp/ojs/pull/2797 (stable)

[2020-06-09 10:04] NateWr commented on #5974
Merged and backported to `stable-3_2_1`.

[2020-06-09 10:04] #5974 closed

[2020-06-09 11:09] alexxxmendonca commented on #5867
@asmecher yes, this resolves the issue. I'll be closing the it then.

Thanks!

[2020-06-09 11:09] #5867 closed

[2020-06-09 13:37] alexxxmendonca opened #5975 "[OPS] Notify Moderators when a new file has been uploaded"
**Describe the problem you would like to solve**
Often times a manuscript needs adjustments on the PDF before making it public.
The authors can take up to several days before uploading a new file and the platform doesn't have an easy way of finding out if an author has transferred a new file to a submission.
Some authors use the Discussions to inform the upload of a new file, but not all authors d

[2020-06-09 13:51] AhemNason commented on #5955
Alec, I've been asking for authorless submissions since 2008. It's actually the case that more things downstream accommodate "authorless" than not. _Requiring_ an author leads to way more issues with bad metadata.

For example, if I'm a journal manager named "jim john" and I've been uploading an item to my issues called "contributor" for 10 years, and I have ORCID, I'm sucking in ten years worth o

[2020-06-09 13:51] AhemNason commented on #5955
Just a note here too that the "omit section title from the table of contents" is also broken on the default theme.

[2020-06-09 15:14] r-a-c opened #5976 "RCE in index.php/xxxx/user/register"
Hello,

I have been researching one of my client's sites, wich uses OJS  3.1.1-2

An image was found such as: public/site/images/wis/hacked.jpg

I tracked down it until this POST in the form to register:

POST /index.php/xxxxx/user/register

A related user was created too

Maybe this issue?
https://forum.pkp.sfu.ca/t/jbimages-image-upload-vulnerability/61008

I do not have more info, sorry

[2020-06-09 15:43] asmecher commented on #5976
See e.g.: https://forum.pkp.sfu.ca/t/need-help-for-hacking-problem-in-ojs/60951

[2020-06-09 15:43] #5976 closed

[2020-06-09 16:42] asmecher commented on #5955
Sorry, I could've phrased that in a way that poked fewer bears. Also the author email requirement, when a record is appropriate (https://github.com/pkp/pkp-lib/issues/3561). Actually I think we're well situated to remove these requirements, having gradually moved away from conflating the first author with the corresponding user.

OK, good, likewise DC. Off the top of your head, do you know about M

[2020-06-09 17:52] AhemNason commented on #5955
I can look into it but I'd suggest ORCID won't matter if there's no author. Google Scholar might. I can look into those two. And get back to you.

[2020-06-09 18:33] asmecher opened #5977 "Fatal error viewing HTML publication format in OMP"
When viewing an HTML-based document in the OMP front end, there is a fatal error:
[code]
This appears to be caused by this change: https://github.com/pkp/omp/commit/0e66b99d9501680553da1643e137a7d79f6b6707

I'd recommend checking the PDF view as well for a similar problem.

[2020-06-09 18:34] asmecher commented on #5190
I've filed a new issue related to this in OMP that'll need to be fixed for version 3.2.1: https://github.com/pkp/pkp-lib/issues/5977

[2020-06-09 20:24] thinkbulecount2 commented on #4991
PR: https://github.com/pkp/ojs/pull/2798

cc @NateWr

[2020-06-09 20:29] salmanm2003 commented on #5702
Hi @NateWr,
Thanks for checking the PR.
As you mentioned above, the fork been synced with upstream/master for both OJS and pkp-lib.
Please let me know if any further changes needed to done.

[2020-06-09 23:12] asmecher commented on #5961
@defstat, thanks for checking -- that should do it -- and I like that we're landing on an existing pattern with `addToSchema`. Please go ahead and merge, and close the two related issues.

[2020-06-10 00:06] asmecher commented on #5963
PRs:
- https://github.com/pkp/pkp-lib/pull/5978
- https://github.com/pkp/ojs/pull/2799

Notes:
- We're entering shaky ground for Composer dependencies, now that both pkp-lib and the Paypal plugin require guzzle but their `composer.json` descriptors are unrelated: [stackoverflow.com](https://stackoverflow.com/questions/27150695/how-does-composer-handle-multiple-versions-of-the-same-package/27153452

[2020-06-10 11:34] NateWr opened #5980 "Journal-wide UI for tracking deposits and distribution"
**Describe the problem you would like to solve**
Journals deposit and distribute published material to many different third-party vendors, such as Crossref, DataCite, DOAJ and ORCID. In addition, journals provide data about their publications through an OAI endpoint and may in the future need to publish cross-journal metadata such as licensing details.

Where OJS supports automated deposits, it do

[2020-06-10 14:30] NateWr opened #5981 "PUT and DELETE requests don't work in certain server configurations"
Certain server configurations do not allow `PUT` and `DELETE` requests. This must be worked around with the `X-Http-Method-Override` header.

[2020-06-10 15:31] NateWr opened #5982 "Filter submissions by assigned editor"
**Describe the problem you would like to solve**
Journal managers would like to see how many submissions are assigned to an editor and track what they are working on.

**Describe the solution you'd like**
A filter in the submissions list to filter by assigned editor.

**Who is asking for this feature?**
See https://github.com/pkp/pkp-lib/issues/2612#issuecomment-328014371, https://github.com/pkp/p

[2020-06-10 16:28] #5981 closed, assigned to nobody

[2020-06-10 19:52] librariam opened #5984 "Suggested improvements for About this Publishing System page"
**Describe the problem you would like to solve**

A standard footer for all themes contains a "Platform & Workflow by OJS/PKP" logo that leads to the About this Publishing System page, e.g. https://demo.publicknowledgeproject.org/ojs3/testdrive/index.php/testdrive-journal/about/aboutThisPublishingSystem. The page contains a link to the PKP website and an image of OJS editorial workflow.

![image](

[2020-06-11 01:29] thinkbulecount2 commented on #5183
PRs:
[OJS](https://github.com/pkp/ojs/pull/2803)
[pkp-lib](https://github.com/pkp/pkp-lib/pull/5985)

@NateWr was wondering if the locale strings I created are okay or if need to amend. Let me know!

[2020-06-11 01:44] thinkbulecount2 commented on #5185
PR: https://github.com/pkp/pkp-lib/pull/5986

cc: @NateWr

[2020-06-11 08:07] NateWr commented on #5977
What causes this issue and how can I resolve it? Is it because I'm uploading a `.html` file that doesn't have a doctype declaration at the top?

[2020-06-11 08:35] NateWr commented on #4991
Merged!

[2020-06-11 08:35] #4991 closed

[2020-06-11 12:21] NateWr commented on #5702
:+1: Good work @salmanm2003! This is looking really nice. I've left comments on the pull requests with some changes -- mostly changes for language and coding conventions.

In addition to the line-by-line review, here are some additional comments:

1. You'll need to rebase again. Sorry about that, we've just begun merging some big things for 3.3 into the `master` branch so it's kind of a painful mo

[2020-06-11 16:37] asmecher commented on #5977
The underlying toolset smells strongly of UNIX. See the manpage for [`file`](https://linux.die.net/man/1/file):

) that can appear anywhere in the first few blocks of a file. For example, the keyword .br indicates that the file is most likely a troff(1) input file, just as the keyword struct indicates a C program. These tests are less reliable than the previous two groups, so they are performed la

[2020-06-11 17:18] PeterfordUP commented on #5702
Hi @NateWr and (@salmanm2003 ),

In response to the two mentions:
Point 4 - from a user perspective, it **should** be possible to create a new submission in an inactive section. However, this should be done by journal editors and managers only, i.e. only from within the dashboard, and with editor or manager permissions. Common examples would be adding a final editorial article to a closing section

[2020-06-11 17:34] pmangahis opened #5991 "Improve Arabic translation in Registration error message"
A hosting client has brought to our attention that the translation in the error message from English to Arabic is a bit confusing and has resulted in a number of users being unable to successfully register to their journal.

Our client mentioned that while it does mention alphanumeric in Arabic but is not translated as clearly. They've provided improve the translation for the username and password

[2020-06-11 17:44] asmecher commented on #5991
@pmangahis, could you ask them to submit that through Weblate?

[2020-06-11 19:01] defstat commented on #5961
@asmecher everything merged. Ported to 3.2.0 and 3.2.1 also (along with master branch)

Closing this and #5944 for now

[2020-06-11 19:01] #5961 closed

[2020-06-11 19:01] #5944 closed

[2020-06-11 19:29] asmecher commented on #5961
Excellent, thanks, @defstat!

[2020-06-11 19:33] jhennig opened #5992 "pkp-native.xsd problem, submission status attribute should be required"
During an xml import into OJS 3.2.0.3. When the status attribute on the article element is omitted the submission will import successfully however it will not be displayed anywhere.  It will be lost.
The submissions.status field is set to 0 in the DB.  I believe the  status attribute for article (submissions) element  should at least be a required field in the plugins/importexport/native/pkp-nativ

[2020-06-12 12:15] Vitaliy-1 commented on #4796
PR to master branch of
pkp-lib: https://github.com/pkp/pkp-lib/pull/5935
OJS: https://github.com/pkp/ojs/pull/2784
OMP: https://github.com/pkp/omp/pull/837
OPS: https://github.com/pkp/ops/pull/43

@NateWr, can you review those and merge if everything looks OK?

[2020-06-12 12:23] Vitaliy-1 commented on #4796
(I've squashed commits to pkp-lib for readability)

[2020-06-12 14:11] consultbelieve opened #5993 "[OJS] Can't change CDN for jquery etc."
It's come to our attention that googleapis.com hosted versions of JQuery are inaccessible from China, which renders most of the admin functionality useful to editors etc. accessing from China.

We've found the location that these are defined in the following file

lib/pkp/classes/template/PKPTemplateManager.inc.php

and have amended to pull from the jquery CDN instead

However, despite clearing th

[2020-06-12 16:48] asmecher commented on #5993
@consultbelieve, grepping through the code, I see several references to `googleapis.com`:
[code]
Your mileage may vary depending on what plugins you have installed and which are enabled, but the default theme plugin's reference to the CDN for fonts will probably affect you, for example.

You can turn off `enable_cdn` in `config.inc.php` to use local copies of JQuery.

At a glance, there are altern

[2020-06-12 19:03] imartin-UPC commented on #5971
In our case, we have the same problem, with the same version of OJS. The reported error is the following:

Element '{http://www.editeur.org/onix/DOIMetadata/2.0}RelatedWork': This element is not expected. Expected is ( {http://www.editeur.org/onix/DOIMetadata/2.0}RelatedProduct )

Is there any workaround we can apply?

[2020-06-13 20:37] galexioza opened #5994 "Native XML Import - Change bank Results page"
When importing XML files using the Native XML importer, the results page starts off blank and stays this way until the process has finished. Sometimes it is not clear if the process is working in the background or has crashed.

Three possible solutions in increasing difficulty:

1. A message such as 'Importing process underway...' that appears at first to indicate something is happening.
2. Some s

[2020-06-13 20:41] galexioza opened #5995 "[OJS 3.1.2.1] Native XML Import - More informative errors"
When importing large number of articles you get errors like this:

`The author does not have a given name in the submission's language, English. The submission can not be imported without this information.`

It would be great if these error messages could include some more information so that the problem can be more easily fixed, such as what the article name is that the error relates to.

[2020-06-14 01:52] epistemehealth opened #5996 "[OJS 3.2.1.0RC] Login doesn't work in firefox"
**Describe the bug**
When logging into a test instance of OJS 3.2.1.0 RC using firefox, logging in just refreshes the page.
However, the login page works in Chrome.

**To Reproduce**
Attempt to login using firefox.

**What application are you using?**
 OJS 3.2.1.0 RC
Windows 10, Firefox 77.0.1 vs Chrome

**Additional information**
Can't see any errors in server PHP logs. Console in Firefox is only

[2020-06-14 12:11] rajeevrnt opened #5997 "Upgrade OJS Version 3.2.0.3"
Dear Friends

I am new to Git hub. I am requesting you to please share step by step guide "How to upgrade OJS Version 3.2.0.3"

[2020-06-15 08:45] NateWr commented on #5702
Thanks, I'm happy for it to work that way in both cases. :+1:

[2020-06-15 09:27] NateWr opened #5998 "A stalled request to plugins.xml can block subsequent http requests"
**Describe the bug**
Today I ran into an issue where calls to https://pkp.sfu.ca/ojs/xml/plugins.xml are timing out. Looks like a server issue. The downside is that the single request plugins.xml for the plugin gallery blocked all other requests in OJS/OMP/OPS.

That means that it was not possible to save a setting under Settings > Website until this resolved, which took two minutes for me.

If po

[2020-06-15 10:03] NateWr commented on #4796
Thanks for squashing the commits! Very helpful. All PRs are merged. Nice work! :+1:

[2020-06-15 10:03] #4796 closed

[2020-06-15 10:05] NateWr commented on #4796
@amandastevens and @kaitlinnewson this may or may not effect documentation. The docs include a list of templates with the stage they are part of at https://docs.pkp.sfu.ca/learning-ojs/en/settings-workflow#template-descriptions. But the email templates list will support filters by the stages from 3.3.

![email-template-stages](https://user-images.githubusercontent.com/2306629/84645168-17a47e00-aef

[2020-06-15 11:52] heike-r commented on #5996
Hi,
we had similar problems (just refreshing of the page but no login and no error messages) in Firefox but with two identical instances of OJS3.1. For us, the problem was that both systems (on the same server and in the same domain) tried to place a cookie with the same name. Login worked for the first system that placed the cookie, but not for the second one. Firefox got confused. The problem wa

[2020-06-15 13:10] redukr commented on #5998
i can confirm, that this bug is present in 3.2.0.3
forum.pkp.sfu.ca/t/error-while-try-to-open-settings-journal/61177/2

`[Mon Jun 15 14:41:11.639751 2020] [php7:warn] [pid 13807] [client 192.168.2.111:54680] PHP Warning:  htmlspecialchars() expects parameter 1 to be string, array given in /home/uars/web/uars.info/public_html/lib/pkp/lib/vendor/smarty/smarty/libs/plugins/modifier.escape.php on line

[2020-06-15 13:12] redukr commented on #5997
if you need upgrade from OJS2 to OJS3 read this article  docs.pkp.sfu.ca/upgrading-ojs-2-to-3/en/upgrading-ojs

[2020-06-15 13:26] alexxxmendonca commented on #5957
An update to this: authors are mistakenly creating new versions of the preprint and replacing the PDF file for the version of record. This results in unnecessary new versions of the preprints while all they had to do was update the "Relations" field with the DOI of the Version of Record.

[2020-06-15 14:59] jnugent opened #5999 "embedded images with spaces in original names are broken in HTML galleys"
Reported in 3.1.2

If an editor uploads an HTML galley (not an XML galley using the conversion plugin), and they've included embedded images with spaces in their original filenames, such as e.g.  "Zichi HW Curfew Pass 2.jpg", the call to rawurlencode() here:

https://github.com/pkp/ojs/commit/a6633bcb6dd3da3bc54864aff4a3fd9f6f002f3c

converts the file name into: Zichi%20HW%20Curfew%20Pass%202\\.jp

[2020-06-15 15:46] asmecher commented on #5997
@rajeevrnt, if that doesn't help, I'd suggest posting on our support forum (https://forum.pkp.sfu.ca) with any further questions; that's the best place to get support.

[2020-06-15 15:46] #5997 closed

[2020-06-15 15:47] asmecher commented on #5996
Agreed, @heike-r probably has the solution. The specific setting to change is `session_cookie_name`. The session management code hasn't changed between 3.2.0 and 3.2.1. Please follow-up if that doesn't solve it and I'll re-open the issue.

[2020-06-15 15:47] #5996 closed

[2020-06-15 17:26] asmecher commented on #5998
The stack trace above suggests this is actually the OJS version descriptor that's stalling things, not the plugin gallery XML. I think it's [`MaintenanceForm::display`](https://github.com/pkp/pkp-lib/blob/3_2_0-3/classes/install/form/MaintenanceForm.inc.php#L37) that calls on this:
[code]
This is used to generate the "your OJS version is old" message. I think this server-side request could definit

[2020-06-15 19:34] asmecher commented on #5995
@galexioza, which of our applications are you using, and what version?

[2020-06-15 19:34] asmecher commented on #5994
@galexioza, what version of OJS are you working with?

[2020-06-15 20:14] asmecher commented on #5999
@jnugent, I'm not sure I'm on the right track, but wouldn't it be a solution to properly encode the filenames in the image URLs in the HTML? Spaces [technically shouldn't be allowed](https://stackoverflow.com/questions/497908/is-a-url-allowed-to-contain-a-space) in `href`s.

[2020-06-15 21:07] defstat commented on #5933
@alexxxmendonca can you run this

`select stage_id, count(*) from submissions a
where a.status = 1
group by stage_id`

on your db and share the result?

Also can you confirm the numbers that you see today on both the Dashboard and the Stats page?

[2020-06-15 21:16] galexioza commented on #5995
@asmecher That would help. I'll update the title.

[2020-06-15 21:17] galexioza commented on #5994
@asmecher Sorry, I'll update the title.

[2020-06-15 21:22] jnugent commented on #5999
@asmecher Sure, and I agree about spaces in URLs.  However, in this particular case we've got an installation that upgraded to OJS3 from 2.4.8, and they've got hundreds of HTML galleys with image URLs that would need changing, or manual intervention on our part (we can search and replace in the HTML, and then update the database original file names accordingly), but then also an educational compon

[2020-06-15 21:30] jnugent commented on #5999
And also, this isn't really about a malformed URL.  Yes, the original filename is not semantically correct in the original HTML, but we're replacing it with a standardized link to a handler, so the generated HTML is clean and correct.  We just need to be a bit more forgiving on how we get there.

[2020-06-15 23:10] asmecher commented on #5999
Did the old install get modified to remove the `rawurlencode` or something? Doing some archaeology, it looks like the `rawurlencode` was introduced to OJS 2.2 via [Bugzilla #2977](http://wayback.archive-it.org/7100/20180508114220/https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=2977) (https://github.com/pkp/ojs/commit/dc49839188aee2f6a1d9f9e5f538c39dbb8ca77a).

[2020-06-16 09:54] consultbelieve commented on #5993
Good point - hadn't considered the plugin side of things too

[2020-06-16 09:54] Vitaliy-1 opened #6000 "Undefined const SCHEMA_PUBLICATION during upgrade"
OJS 3.2.1 stable branch, didn't test master.
(according to forum posts appears earlier)
PHP 7.4.6
`installed` should be set to `off` during the upgrade

Tested with an upgrade from OJS 3.2.0-3. Cosmetic warning:
[code]
It doesn't affect upgrade directly but, apparently, it may be changed to the error in one of the next PHP major releases, probably 7.5
.
The problem is that when `PublicationDAO` is

[2020-06-16 12:07] alexxxmendonca commented on #5933
Hi @defstat

This was the result:

Bom dia,

Segue o resultado do comando:

[code]

_Also can you confirm the numbers that you see today on both the Dashboard and the Stats->Editorial page?_

Dashboard:

My Queue: 11
Active: 211

There is actually only **9** submissions active and on my queue if I count them manually.

Stats->Editorial page: 39

[2020-06-16 12:19] defstat commented on #5933
Thanks @alexxxmendonca .. To rule out a possible difference in interpretation, can you describe how are you counting the 9 active ones? I mean how are they tagged? Or is there another way that you consider them `Active`?

The result of the query and the `Stats->Editorial page` count seems to work, technically, as expected.

[2020-06-16 12:32] alexxxmendonca commented on #5933
Hi @defstat

I am counting them manually, one by one. There are only 9 in both tabs (My Queue and Active) so it's easy to count.

On the active tab, not only it shows 211 submissions but also multiple pages. But when I go to page 2, it's empty.

[2020-06-16 12:37] Vitaliy-1 opened #6001 "Redundant space under submission page's content"
OJS 3.2.1 stable branch. First appears in OJS 3.2.0.

Extra space occupies a part of the submissions page under the footer:
![screencapture-localhost-8000-index-php-psp-submissions-2020-06-16-15_25_02](https://user-images.githubusercontent.com/20665587/84773866-b2c75180-afe5-11ea-880f-49e59cfc43a7.png)

It's triggered by the styling applied to the element with class `.pkpListPanel__sidebar` here:

[2020-06-16 13:46] librariam opened #6002 "Category/series image upload has no "delete" option"
**Describe the bug**
Journal Categories added in OJS 3.1.2 have an option to upload a thumbnail. However, once uploaded, there is no way to remove it.

This also applies to the series cover image in OMP.

Related: [#4451](https://github.com/pkp/pkp-lib/issues/4451)

![image](https://user-images.githubusercontent.com/45104797/84782001-872c7300-afb5-11ea-873a-8f641e121ff4.png)

**To Reproduce**
Navi

[2020-06-16 13:53] jnugent commented on #5999
That's a good question.  This install was originally on one of the old lib-ojs servers, upgraded, and then moved to the new ones.  The old machines are decommissioned now so being able to find out is no longer possible unfortunately.

If you are at all uncomfortable about replacing the %20 with spaces, that's fine - we can track this as a local customization for the install.   Just trying to think

[2020-06-16 14:05] AhemNason commented on #5980
Just echoing James feedback here again. I think this is great. And I think "distribution" is definitely a better way to think about these things than import/export.

[2020-06-16 14:17] Vitaliy-1 opened #6010 "Without ordering child categories don't appear under their parents"
Tested with OJS 3.2.1 stable branch.

By default, if ordering of any sort isn't applied, child categories in the sidebar appear not under their parents but either by a sequence as they were added by a user:
![screencapture-localhost-8000-index-php-pft-index-2020-06-16-17_13_06](https://user-images.githubusercontent.com/20665587/84785898-b6160980-aff4-11ea-93c3-34df12afbb49.png)
Or before their par

[2020-06-16 16:16] asmecher commented on #6001
@Vitaliy-1, is this the same as https://forum.pkp.sfu.ca/t/a-problem-after-upgrading-the-ojs-3-2-01/59539/19?

[2020-06-16 16:18] asmecher commented on #5999
I suspect this was a customization before and should best be kept that way. If it's an issue with freshly-generated HTML, we can come back to it, but I think this is just old-data legacy.

[2020-06-16 16:18] #5999 closed

[2020-06-16 16:32] nwoodward opened #6003 "Editorial History shows Download link for certain submission files that journal managers don't have access to download"
**Describe the bug**
When journal managers view the Editorial History of submissions they see a Download link (1) for certain submissions files that they can't actually download. The reason for this seems to be that when the SubmissionFileDAO class calls the getWorkflowStageId() method (2) for submission files with a file stage of SUBMISSION_FILE_ATTACHMENT then the method returns null. And subseq

[2020-06-16 16:36] asmecher commented on #5995
@galexioza, that appears to have already been fixed in subsequent releases by this change: https://github.com/pkp/pkp-lib/commit/bdb830b0a9d1fe2288c0dbfb5f763d07b106abab#diff-5dd9630a81f2583c22107b46e5ce9966R480

I'd recommend upgrading -- we're planning to release OJS 3.2.1 late this Friday, if that helps.

[2020-06-16 16:36] #5995 closed

[2020-06-16 17:32] asmecher commented on #6000
@Vitaliy-1, were you able to identify where the constant was used but not imported (i.e. which line of code)? Unfortunately the warning message doesn't include it.

[2020-06-16 18:29] asmecher commented on #5994
@galexioza, thanks, I agree that this could be improved. If you're working with large imports, I'd recommend trying the import/export command line; it's generally more reliable than web-based for long operations (due to browser timeouts etc). Meanwhile, we're gradually changing our front-end toolset over to a vue.js-based rewrite, and when we get to the import/export toolset, this suggestion will

[2020-06-16 19:45] pmangahis commented on #743
+1 from PKP|PS to add a CC field on reviewer reminders (different from CC on editorial decision).

[2020-06-16 22:07] asmecher opened #6004 "Plugin Updates for OJS 3.2.1"
URL | Translations merged | Release (XML / submodule commit)
---|---|---
**Submodules**
https://github.com/pkp/browse | 2020-06-16 | OJS, OPS
https://github.com/pkp/makeSubmission | (no new) | (no new)
https://github.com/pkp/citationStyleLanguage | 2020-06-17 | OJS
https://github.com/pkp/customBlockManager | 2020-06-17 | OJS, OMP, OPS
https://github.com/pkp/googleAnalytics | 2020-06-17 | OJS, OMP,

[2020-06-17 07:13] defstat opened #6006 "DOI/Crossref Cypress Tests"
Add Cypress Tests for DOI/Crossref Functionality

Initially it covers
- [x] Enable the DOI plugin
- [x] Configure the DOI Plugin
- [x] Add doi to Issue
- [x] Check if DOI is shown for Issue
- [x] Add doi to Submission
- [x] Check if DOI is show for submission
- [x] Export Submission using Crossref export - Check if the export is valid.

[2020-06-17 07:56] NateWr opened #6007 "User roles can be passed to the browser as an object instead of array"
**Describe the bug**
The user roles are available globally in the browser as `pkp.currentUser.roles`. These should be an array, but in some cases can be an object. This leads to errors in JavaScript when it calls an array method.

![errors](https://user-images.githubusercontent.com/2306629/84871067-01bdc700-b078-11ea-817a-86bfcf819bc8.png)

The template manager calls `array_unique` on the roles wh

[2020-06-17 08:31] Vitaliy-1 commented on #6001
It looks like the same as in post 18 and appears as described in post 19 (appears despite the presence of queued submissions).
It's purely layout problem and removing `width: 0` from `.pkpListPanel__sidebar` in the browser resolves it. But I'm not sure about other implications. I'm working with yesterday's copy of the stable 3.2.1 branch (and referenced ui-library).

[2020-06-17 09:07] Vitaliy-1 commented on #6000
Yeah, it's not informative but putting something like:
[code]
before this return statement: https://github.com/pkp/ojs/blob/9cc0a567aecdaab0395277c4940ea0d6efdf0381/classes/plugins/PubObjectsExportPlugin.inc.php#L728
solves the issue.

[2020-06-17 10:57] defstat commented on #6006
@NateWr @asmecher

**PR**
[OJS]: pkp/ojs#2810

[2020-06-17 12:36] Vitaliy-1 opened #6008 "PHP Notice when compiling LESS from a theme plugin"
**Describe the bug**
I'm receiving multiple PHP Notices when any theme compiles LESS, with the content:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. In the website settings, appearance menu, choose the Default theme if isn't yet chosen.
2. Clear template cache from an administration form.
3. Visit index journal page, the second step ensures that LESS will be recompiled.
4. Notices

[2020-06-17 12:50] Vitaliy-1 commented on #6008
Not the OJS issue.
It looks like been fixed on the `wikimedia/less.php` master branch.

[2020-06-17 15:16] asmecher commented on #6001
@NateWr / @israelcefrin, pinging you on this one as you worked on https://github.com/pkp/ui-library/pull/83.

[2020-06-17 15:54] NateWr commented on #6001
This is fixed in `master` as part of the UI refactor and will go into 3.3. Israel's fix might work if we wanted to backport a fix, but I am a little hesitant because I've never seen that approach and would need to investigate the implications.

[2020-06-17 16:06] thinkbulecount2 commented on #5982
PR: https://github.com/pkp/ui-library/pull/101

cc: @NateWr

[2020-06-17 16:49] defstat commented on #5933
@asmecher @NateWr

**PRs**
[pkp-lib]: #6009
[OJS]:  pkp/ojs#2811
[OMP]: pkp/omp#839
[OPS]: pkp/ops#45

[2020-06-17 16:59] asmecher commented on #6001
Agreed! Closing this one -- thanks, all.

[2020-06-17 16:59] #6001 closed

[2020-06-17 18:50] jmacgreg commented on #3187
Reopening (see https://forum.pkp.sfu.ca/t/the-author-is-unable-to-see-the-editorial-decisions-recorded-at-submission-stage-on-ojs-3-2-0-3/61220/6). I misunderstood what the root problem was here - it wasn't that a desk reject option wasn't available, it's that the OJS interface included no information on that decision after the fact, so authors only have the decision notification email to go by -

[2020-06-17 19:34] asmecher commented on #6000
@Vitaliy-1, can you confirm whether https://github.com/pkp/pkp-lib/commit/5f0765fc8e41ffa8b6155e2121fe919c0643a42a resolves it for you?

[2020-06-17 22:05] eczheng commented on #1661
Another request for this feature, please.

[2020-06-18 01:56] librariam commented on #4457
+1 from PKP|PS re adding an option to assign JEs.

This would also help resolve confusion arising from this little known behaviour (OJS 3.1.2.0). If there is only one account in the JE role, the system will assign all submissions to that account by default. As soon as you add another account to the JE, submissions will no longer be assigned automatically. Quite confusing for someone who used to be

[2020-06-18 09:02] Vitaliy-1 commented on #6000
Yes, don't see this warning during a test upgrade anymore.

[2020-06-18 09:02] #6000 closed

[2020-06-18 13:51] NateWr opened #6011 "Imported submissions throw off editorial statistics"
**Describe the problem you would like to solve**
Imported submissions that are published directly cause problems for the editorial statistics. This is because they lack editorial decisions and typically do not include an accurate `date_submitted` value.

For example, there will be discrepencies between the number of submissions receives and the number of submissions accepted, declined or published

[2020-06-18 13:53] NateWr commented on #6011
This commit includes some code that would exclude such submissions from _all_ editorial stats. It probably needs to be reviewed for unintended consequences.

https://github.com/NateWr/pkp-lib/commit/cdfbd52c3976e91c55ac59cebae66a49f5593859

[2020-06-18 14:03] NateWr commented on #5275
The following PRs address a couple of issues that arose when testing with live data.

- Prevent averages of `-1/year` from appearing when no average can be calculated
- Adds a missing check to some stats to ensure averages aren't calculated on invalid date ranges
- Fix a floating point rounding issue.

PRs
https://github.com/pkp/pkp-lib/pull/6012 (`stable-3_2_1`)
https://github.com/pkp/ui-library/

[2020-06-18 14:45] israelcefrin opened #6013 "OJS 3.2 Tab "Help" overlapping top bar menu in the dashboard"
**Describe the bug**
The tab "help" of dashboard grid forms is overlapping visually the menu items of language top bar menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dashboard > Settings > Website > Appearance'
2. Scroll down to 'save' button
4. See error when the upper right tab stays over the language menu

**What application are you using?**
 OJS  3.2.0

**Additional informa

[2020-06-18 14:48] asmecher commented on #6000
Thanks, @Vitaliy-1!

[2020-06-18 14:55] RewindLife opened #6015 "Ability to upload/edit articles stylesheet through dashboard"
It would be great to be able to upload the HTML article view stylesheet used by Classic Theme through the dashboard, similar to the way the OJS website stylesheet is uploaded.

It seems currently the only way to update this stylsheet file is for a system admin to replace it directly on the server.

I am talking about the file located here:
.../plugins/themes/classic/templates/plugins/generic/htmlA

[2020-06-18 15:20] Azm9oth opened #6016 "[OJS] Upgrading from 2.4 to 3.2: Uncaught Error: Call to a member function getId()"
Hello everyone,

I am upgrading from OJS 2.4 to the latest version OJS 3.2.0-3.
When I click on upgrade, it works (upgrading icon circulates) for about one minute, then I get a blank page with the 500 error.

Checking the error logs, I have these warnings/errors:

[18-Jun-2020 06:33:07 UTC] WARNING: Unable to find a match for “146-392-1-RV.docx” in “/home/journal1/private/files/journals/1//article

[2020-06-18 15:44] sssoz opened #6017 "A lot of extra space at the bottom of Submissions page"
# Describe the bug

See screen capture below.

It seems to come from the Archive tab, the `pkpListPanel__filterSet`.

Seen on the demo installation: https://demo.publicknowledgeproject.org/ojs3/demo/index.php/pragma/submissions

# To Reproduce

1. Go to the OJS dashboard
2. Click Submissions
3. There’s a lot of white space at the bottom

# What application are you using?

 OJS 3.2.0.0 on MacOS Chr

[2020-06-18 16:00] Vitaliy-1 commented on #6017
Yeah, I filled it out for attention yesterday: https://github.com/pkp/pkp-lib/issues/6001

[2020-06-18 16:20] fgnievinski commented on #1054
related issue: #562

[2020-06-18 16:21] sssoz opened #6018 "Clarify prompt to unpublish a submission"
# Describe the problem you would like to solve

Wording around the button + prompt to unpublish a submission is a bit confusing.

The button says "Unpublish" (which is a clear action), but the question does not re-use the same vocabulary; the negative also doesn’t make it clear that by pressing "OK", we are unpublishing the submission.

The two options (OK / Cancel) do not really answer the prompt

[2020-06-18 16:23] #6017 closed

[2020-06-18 16:28] fgnievinski commented on #562
@asmecher: should pull request #2502, applied to branch ojs-stable-2_4_8, be applied to ojs-dev-2_4, too?

[2020-06-18 16:32] asmecher commented on #6016
@Azm9oth, your forum post is a better place to work on this -- closing in favour of https://forum.pkp.sfu.ca/t/upgrading-from-ojs-2-4-to-3-2-uncaught-error-call-to-a-member-function-getid/61246.

[2020-06-18 16:32] #6016 closed

[2020-06-18 16:48] fgnievinski opened #6019 "v2: REVIEW_REQUEST_REMIND_AUTO* should be different than REVIEW_REQUEST in translations too"
email reminders REVIEW_REQUEST_REMIND_AUTO (and *_ONECLICK) were split from REVIEW_REQUEST, as per issues #562 and #1054.

initially, the email content was simply copied as is.

later, it was adapted in English and for v3 only:
https://github.com/pkp/omp/commit/5f145844ec60f1c841caea8690004c9dd79d3dae

then I backported the adaptation in English from v3 to v2:
https://github.com/pkp/ojs/pull/2502

[2020-06-18 17:08] asmecher commented on #6006
Merged, thanks, @defstat!

[2020-06-18 17:10] asmecher commented on #5933
Thanks, @defstat -- just a couple of minor comments. This is ready for merge when you've had a look at those, plus I think this could be cherry-picked to `stable-3_2_1` for release in OJS/OMP/OPS 3.2.1.

[2020-06-18 22:27] asmecher commented on #5964
https://github.com/pkp/pkp-lib/pull/6020 is a patch for the `stable-3_2_1` branch -- I'll leave that open for the moment.

@JhonathanLepidus, reviewing this again, I think it might need tweaking around who receives the notifications. I would expect the users assigned to the submission to receive notifications, but it looks like all managerial users are currently coded to be notified. For large ins

[2020-06-18 22:38] AhemNason opened #6021 "Crossref plugin not receiving title metadata in most recent 3.2.1 testing."
Running a test on client data with Crossref test credentials and I'm running into a failure with this error on submission with the Crossref plugin...

[code]

If I check the XML export, title field looks like this:

[code]

The article _has a title_ and I've never seen this happen before, so I suspect it's a hiccup with the latest 3.2.1 build we're testing.

[2020-06-18 22:40] asmecher commented on #6021
@AhemNason, what is the language setup on that journal? Are you navigating the install in a language other than the journal's primary language?

[2020-06-18 22:42] AhemNason commented on #6021
primary only... bilingual metadata is enabled but this was all default and using existing metadata... and because it's live data, I also know that it successfully registered prior. The DOIs were marked "active" before I tried a test deposit using our test creds.

[2020-06-18 22:45] asmecher commented on #6021
And the journal was previously (seemingly) working fine with OJS 3.2.0-3?

[2020-06-18 22:48] AhemNason commented on #6021
They were previously on 3.1.2-4. Not sure when the update was applied for this test instance by @jmacgreg

[2020-06-18 22:50] asmecher commented on #6021
Thanks, @AhemNason! @defstat, could you take a look at this? It's possible that it affects 3.2.0 as well, since this upgrade went from 3.1.2-4 to pre-3.2.1.

[2020-06-18 23:19] AhemNason commented on #5955
So, Google scholar is reporting that it can't index something without an author. But almost always these things wouldn't really benefit from indexing anyway. They are almost always _not_ research articles but other things... like errata or other smaller pieces. But, more annoyingly, they are also reporting that:

and...

For what it's worth, I don't think this is reasonable. I'm not confident that

[2020-06-18 23:46] asmecher opened #6022 "PostgreSQL upgrade to 3.2.0 resets all submissions to unpublished"
Upgrading to OJS 3.2.0-x when using PostgreSQL sets all submission status to `1` (`STATUS_QUEUED`) for published content.

See https://forum.pkp.sfu.ca/t/loss-of-all-of-articles-upgrading-ojs-3-1-2-4-to-ojs-3-2-0-3/60526 for a description.

[2020-06-18 23:49] asmecher commented on #6022
Patch for OJS or OMP 3.2.0-x: https://github.com/pkp/ojs/commit/aa5610b5cebba353ac11dc66dc549a74166a208c

[2020-06-18 23:51] #6022 closed

[2020-06-19 07:54] defstat commented on #6006
Just to check @asmecher: this went only into the master branch - is that sufficient?

[2020-06-19 08:18] defstat commented on #5933
@asmecher

**PRs**
**[3.2.1]**
[pkp-lib]: #6023
[OPS]: pkp/ops#46

[2020-06-19 09:36] procky opened #6024 "Add reviewer modal expanding reviewer details javascript error"
In the modal when you click the expand arrow for more details on a reviewer nothing happens and an error appears in the console.

Javascript Error
`TypeError: "e is null" `
in build.js

I have found in the data given to the smarty template if the biography for a reviewer is null it will fail but if it is an empty string or array of locales it works.

Error reproducible on our journal (OJS 3.2.0.1)

[2020-06-19 12:04] defstat commented on #6003
@asmecher

The https://github.com/pkp/pkp-lib/blob/master/controllers/api/file/FileApiHandler.inc.php seems to manage authorization for 3 different cases:
- Multiple Files
- Library Files
- All other files.

The last, which is our case, is handled here: https://github.com/pkp/pkp-lib/blob/master/controllers/api/file/FileApiHandler.inc.php#L63 which defines the default policy to be the https://gith

[2020-06-19 12:18] Vitaliy-1 commented on #6004
Immersion:
[code]

Classic
[code]

Health Sciences:
[code]
As for the Pragma theme, Sophy is working on support for the catalog category page, which I would like to include in the release. Also, I don't see any breaking features in 3.2.1, so new themes are compatible with 3.2.0.

[2020-06-19 16:16] asmecher commented on #6006
Do the tests work on the 3.2.1 branch? I assumed the UI changes meant they would need some adaptation.

[2020-06-19 16:27] defstat commented on #6006
Yes you are right....

[2020-06-19 16:30] asmecher commented on #6006
Have you tested `stable-3_2_1` separately (manually)?

[2020-06-19 18:01] asmecher commented on #6004
@withanage, it looks like there is a validation problem in the Plugin Gallery XML related to lensGalleyBits:
[code]
Could you review http://pkp.sfu.ca/ojs/xml/plugins.xml against http://pkp.sfu.ca/ojs/xml/plugins.xsd and make sure the missing data (name, homepage, etc) is filled in?

[2020-06-19 18:02] asmecher commented on #6004
@Vitaliy-1, added the information above, thanks!

[2020-06-19 21:16] JhonathanLepidus commented on #5964
@asmecher , we added another commit that modifies the notification to be sent only to the users assigned to the submission. You could check it in the PR #6020

[2020-06-19 21:21] asmecher commented on #5964
Thanks, @JhonathanLepidus, could you send that change in as a PR against `master`?

[2020-06-19 21:33] JhonathanLepidus commented on #5964
I just sent it: #6025

You could merge only the last commit (that modifies the notification) because the other commits were already merged in a previous PR (#5983 )

[2020-06-19 21:51] asmecher opened #6026 "Submission deletion can delete author records in other submissions"
When deleting a submission, author information sometime disappears from other submissions.

This happens when another submission has a publication ID matching the deleted submission's ID, and is due to a typo in `PKPSubmissionService` (a submission ID being used as a publication ID): https://github.com/pkp/pkp-lib/commit/718ad72e597285d2899932efbd1d87635b90efe7#diff-b50ee1b27bad713bf3f7c39a4189ff3

[2020-06-19 21:54] asmecher commented on #6026
OJS, OPS, and OMP 3.2.0-x users can apply https://github.com/pkp/pkp-lib/commit/f54b9a66579befdfd9e89bf84bdadd86912b490a.diff in the `lib/pkp` subdirectory.

[2020-06-19 21:54] #6026 closed

[2020-06-19 22:14] asmecher commented on #6026
It should be possible to identify publications and submissions missing data with the following query:
[code]

[2020-06-19 22:20] asmecher commented on #5964
Thanks, I merged the last commit to `master`: https://github.com/pkp/pkp-lib/commit/df5d56b870b56e6d0ce0c8d88a6f413a67eba16b

[2020-06-19 22:21] asmecher commented on #5964
The `master` branch should now have all the relevant changes in, but `stable-3_2_1` does not (I'm just finishing the release of `3.2.1-0`). I'll leave https://github.com/pkp/pkp-lib/pull/6020 for `3.2.1-1` (and have moved this issue to that milestone). Thanks, @JhonathanLepidus!

[2020-06-19 22:47] asmecher commented on #5933
Thanks, all resolved!

[2020-06-19 22:47] #5933 closed

[2020-06-19 23:47] asmecher commented on #6004
@NateWr, do we need new releases of `bootstrap3` and `defaultManuscript`, or is 3.2.1 compatible with existing releases?

[2020-06-20 00:08] asmecher commented on #6021
(@defstat, a reminder about this)

[2020-06-20 00:09] asmecher commented on #6010
(This worked for me; closing)

[2020-06-20 00:10] asmecher commented on #6011
Merged https://github.com/NateWr/pkp-lib/commit/cdfbd52c3976e91c55ac59cebae66a49f5593859 after discussion/testing; closing.

[2020-06-20 00:10] #6011 closed

[2020-06-20 00:10] asmecher commented on #5275
All merged (submodules updated manually). Closing!

[2020-06-20 00:10] #5275 closed

[2020-06-20 05:33] defstat commented on #6021
**PR**
**[master]**
[OJS]: pkp/ojs#2816

**[3.2.1]**
[OJS]: pkp/ojs#2817

[2020-06-20 05:40] defstat opened #6027 "Crossref plugin does not validate export"
**Describe the bug**
Even if the "validate" is checked on the crossref export article page, invalid xml files get downloaded.

**What application are you using?**
 OJS version 3.2.x

**Additional information**
this has impact on https://github.com/pkp/pkp-lib/issues/6006 which, for its last test, depends on XML validation

[2020-06-21 02:24] zalamuia opened #6028 "OJS 3.2.1 not visible in download section"
OJS 3.2.1 not visible in download section. May I know whether it is available in download area.

Thanks.

Zahirul
![OJS-3 2 1-missing](https://user-images.githubusercontent.com/61810595/85215315-6004e580-b3a9-11ea-9763-4d275779d262.png)

[2020-06-22 03:36] fgnievinski commented on #3472
a quick & dirty solution would be simply offering a new field for carbon-copy recipients in the author notification dialog:
![image](https://user-images.githubusercontent.com/5018500/85246146-3509a880-b420-11ea-9a25-d82cb7387049.png)

[2020-06-22 03:45] fgnievinski commented on #3472
this issue seems a duplicate of #743

[2020-06-22 03:54] fgnievinski commented on #743
just for clarification: is the goal to offer empty cc/bcc fields where the editor can input arbitrary email addresses or are you intending to pull coauthors' or reviewers' email addresses from the database? The former would be much simpler and would meet most of the needs.

[2020-06-22 05:20] asmecher commented on #6021
Both merged -- thanks, @defstat.

[2020-06-22 05:20] #6021 closed

[2020-06-22 05:27] asmecher commented on #6028
@zalamuia, it'll be there soon!

[2020-06-22 05:27] #6028 closed

[2020-06-22 11:41] NateWr commented on #6004
I'm not aware of any changes that would break compatibility but I haven't tested yet.

[2020-06-22 12:03] NateWr commented on #3472
I'd like to keep this issue open separately from #743. Yes, we plan on adding support for CC (maybe BCC for some/all users) to emailing _as a general solution_. But we may also want to offer a way to contact all authors in the future -- for example it may be important to get sign-off from authors when we implement CReDIT.

[2020-06-22 12:04] NateWr commented on #743
I think initial work on the email workflow will seek to support arbitrary CC/BCC fields. Bringing in related email addresses for autocomplete will also be useful and may or may not be part of an initial implementation.

[2020-06-22 12:27] ronste opened #6029 "Report Generator doesn't return any results when custom range is selected with a single day"
**Describe the bug**
The OJS Report Generator doesn't return any results when a custom range is selected with the same day for "From" and "Until".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Statistics -> Report Generator -> Generate Custom Report"
2. Go to "Or select range by" and choose "Day"
3. Use the same day for "From" and "Until"
4. Click "Generate Custom Report"

**What ap

[2020-06-22 15:44] asmecher commented on #6029
@defstat, could you look this over? It might be a legacy issue (it's reported in 3.1.2).

[2020-06-22 17:18] PeterfordUP commented on #4172
![Screenshot 2020-06-19 at 17 12 29](https://user-images.githubusercontent.com/43379772/85313421-e99edb00-b4af-11ea-9e21-f852730ffac3.png)
@NateWr In our custom forked OJS2.x platform, we have developed a display that shows the sub-stages of the articles in the 'Review' stage (see image), and importantly, the number of days each article has been in that stage (both circled in green in this screens

[2020-06-22 17:21] PeterfordUP commented on #4103
I have presented a current solution that we at Ubiquity Press have developed for our custom forked version of the OJS2 platform in the thread linked below. We are very interested in contributing this functionality to OJS3:
https://github.com/pkp/pkp-lib/issues/4172#issuecomment-647662058

[2020-06-23 08:54] defstat commented on #6007
@asmecher @NateWr

**PRs**
**[master]**
[pkp-lib]: #6031
[OJS]: pkp/ojs#2819 (Submodule update)
[OMP]: pkp/omp#841 (Submodule update)
[OPS]: pkp/ops#47 (Submodule update)

[2020-06-23 09:02] zalamuia opened #6032 "OJS 3.2.1 Plugin Intall/Update - failed - Issue preview details failed to show"
OJS 3.2.1 updated recently from OJS 3.2.0.3

* Plugin Install/Update - failed - gives null error

* Issue preview details failed to show (Preview possible from OJS 3.2.0.3 but details are not visible. It is visible for 3.1.2.4 version
![OJS3 2 1_error](https://user-images.githubusercontent.com/61810595/85384055-54651a80-b573-11ea-85f3-5a70be77c5ee.png)

[2020-06-23 09:28] NateWr commented on #4172
Thanks @PeterfordUP! There's a whole bunch to unpack here -- I'm going to keep the comments here focused on improving the review stage data. But I'd like to have a broader conversation with you about the submission lists.

First, I want to review what we've got so far in the submissions lists and then discuss what we're missing and how best to add that in.

![review-submissions](https://user-image

[2020-06-23 11:25] NateWr commented on #6007
Thank you sir! The OMP tests failed but it looks like that's my mistake for committing directly to OMP yesterday. Everything else passed and looks good. :+1:

[2020-06-23 11:25] #6007 closed

[2020-06-23 14:12] NateWr opened #6033 "Announcements can be viewed even when disabled"
**Describe the bug**
Announcements can be viewed even if announcements have been disabled for the journal.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Website > Announcements and enable announcements.
2. Create an announcement and view it on the frontend.
1. Go to Settings > Website > Announcements and disable announcements.
4. Reload the announcement on the frontend. It

[2020-06-23 14:16] Vitaliy-1 commented on #6010
@asmecher, sorry that I haven't checked the fix earlier. Just installed public release with the fix and the issue remains
![screencapture-ojs-3-2-1-test-index-php-psp-issue-archive-2020-06-23-17_13_06](https://user-images.githubusercontent.com/20665587/85414685-1963e680-b575-11ea-9702-52b4b03f16da.png)
![screencapture-ojs-3-2-1-test-index-php-psp-management-settings-context-2020-06-23-17_13_35](ht

[2020-06-23 14:38] NateWr commented on #5865
An error during rebase led to a fatal error with announcements. The PR below fixes that and adds a test to catch further regressions.

PR:
https://github.com/pkp/pkp-lib/pull/6034

Tests:
https://github.com/pkp/ojs/pull/2820

[2020-06-23 14:55] NateWr commented on #6033
@asmecher is this ok or would you prefer I write up a `Policy` for this?

https://github.com/NateWr/pkp-lib/commit/ecdc612200530dbb1e0ba21474f562ed7b2f5eb0

[2020-06-23 15:20] asmecher commented on #6032
@zalamuia, could you start by posting these questions in our support forum (https://forum.pkp.sfu.ca)? That way we can help our git issues curated and it's generally the best place to go for support. The first issue is already addressed here: https://forum.pkp.sfu.ca/t/upgrade-plugin-not-working-in-web/61323

[2020-06-23 15:20] #6032 closed

[2020-06-23 15:21] asmecher commented on #6010
@Vitaliy-1, could you send me a dump of your `categories` and `category_settings` tables?

[2020-06-23 15:22] asmecher commented on #6033
@NateWr, I'm OK with it as is -- it's a single use case and will probably always be.

[2020-06-23 17:04] pmangahis commented on #3990
+ from PKP|PS. A client has inquired about email notification for this.

[2020-06-23 17:27] asmecher opened #6035 "Plugin install does not work across filesystems"
When installing a plugin on a system where the temporary file area is on a different filesystem than the `plugins` directory, the following error occurs:
[code]
This appears to be documented here:
https://www.php.net/manual/en/function.rename.php#113943

[2020-06-23 19:03] openacademia commented on #2615
Just wanted to add my agreement here! It is way too easy for editors to delete a submission without realizing it is lost forever. Some editors want to distinguish rejections from other types of removals (withdrawn papers for example), so it would be good if they could clear a submission from the active list without removing them from the face of the earth ;)

[2020-06-23 21:58] asmecher commented on #6035
PR: https://github.com/pkp/pkp-lib/pull/6036

[2020-06-24 00:37] asmecher commented on #6035
Confirmed working!

[2020-06-24 00:37] #6035 closed

[2020-06-24 08:23] NateWr commented on #6033
PR:
https://github.com/pkp/pkp-lib/pull/6037

Tests:
https://github.com/pkp/ojs/pull/2822

[2020-06-24 09:05] NateWr opened #6038 "Convert submission section filter to an autosuggest"
**Describe the problem you would like to solve**
Some journals have a lot of sections. This can lead to a large, unwieldy list in the submission filters.

**Describe the solution you'd like**
 When there are more than 5 sections, the section filters should use an autosuggest component.

[2020-06-24 09:07] NateWr commented on #6038
The following commit adds a new autosuggest component that accepts a preset list of options, rather than requiring an API request to get them. This can be used for cases where there is a finite set of options and a request to the server is unnecessary.

https://github.com/NateWr/ui-library/commit/a767c112ef287fc0d143aabd01592ff3281d276b

[2020-06-24 11:05] NateWr commented on #6004
Plugins.xml updated with new compatibility tag for defaultManuscript and new release for bootstrap3.

[2020-06-24 11:11] NateWr commented on #6033
Merged and cherry-picked to `stable-3_2_1`.

[2020-06-24 11:11] #6033 closed

[2020-06-24 13:29] NateWr commented on #6004
Plugins.xml was updated with a new release for `pragma` that's compatible with all 3.2+ releases.

[2020-06-24 13:53] alexxxmendonca opened #6039 "[OPS] Difficulty to edit fields in other languages"
**Describe the bug**
When I try to edit a field in a specific language other than English, the interface is always split in half, which makes it really difficult to edit the content, not to mention that the source HTML button is not visible:

![image](https://user-images.githubusercontent.com/4059679/85568049-be2f0400-b607-11ea-9344-c17cfd5047ad.png)

Even if I change the interface language at the

[2020-06-24 13:57] thinkbulecount2 commented on #5982
PR for pkp-lib: https://github.com/pkp/pkp-lib/pull/6040

cc @NateWr

[2020-06-24 14:00] thinkbulecount2 commented on #5982
PR for OJS: https://github.com/pkp/ojs/pull/2823

[2020-06-24 14:54] NateWr commented on #6039
This pattern was implemented to prevent the problems we had before, where translation fields would cover up other fields, and to ensure that the translator could always see the source language they are translating from.

It does seem to work best for smaller fields rather than large textarea fields. Did you have an alternate layout in mind?

[2020-06-24 15:56] alexxxmendonca commented on #6039
True that the layout itself is not an issue. The main issue is that the source HTML button is hidden this way.

It's right after the image button and that's the last button we see. Everything after the image button is hidden, including the source HTML button. This makes it really hard to format the text.

[2020-06-24 19:31] alexdryden opened #6041 "[OJS] License override formatting error"
Summary: When entering a license for a particular article that is not cc 3.0 or cc 4.0, the formatting on the article page does not list the copyright holder's name and includes the text 'Array' at the end of the link to the license.

OJS version: 3.2.1

Steps to reproduce:

1. Add an article and push up to publication stage
2. Under permissions and disclosures, enter override for copyright holder

[2020-06-24 19:38] willinsky commented on #5980
I agree with James and Mike on this being such a great addition for managing journals. I'd also like to consider whether it could be a part of our "journal integrity" initiative, which is intended to help journals do more to establish for authors, researcher-readers, and the public the steps they've taken to publish to the highest academic standards in preserving the journal's integrity as a sourc

[2020-06-25 07:57] NateWr commented on #6039
Ah ok, so the problem is not the amount of writing space that you have but the inability to access parts of the text editor toolbar. Got it. :+1:

[2020-06-25 08:24] NateWr opened #6042 "Provide display for distribution and journal integrity services"
A [comment](https://github.com/pkp/pkp-lib/issues/5980#issuecomment-649026346) from @willinksy on https://github.com/pkp/pkp-lib/issues/5980.

[2020-06-25 08:43] NateWr commented on #6042
I think this is a good idea. I'd like to keep the display decoupled from the plugins, because there are likely to be cases where journals deposit to Crossref and are part of DOAJ even if they don't use our plugins to do so. A decoupled approach gives them the flexibility to accurately describe their services.

That said, for the _integrity_ part, it is probably important that there is an automated

[2020-06-25 10:57] alexxxmendonca commented on #6039
Right! It is a little inconvenient to have a small edit area, but it's still _doable_, whereas editing the HTML is not.

[2020-06-25 11:05] NateWr opened #6043 "Notice about no section editors appears even when section editors exist"
**Describe the bug**
When a journal has no users with the section editors role, a message appears when adding or editing a section to inform them that they need to create a section editor before they can assign one.

This message appears even when section editors exist. The bug was introduced with refactoring in #5865 and so should only effect `master`.

[2020-06-25 11:06] NateWr commented on #6043
PR:
https://github.com/pkp/ojs/pull/2824

[2020-06-25 13:41] edersotto opened #6044 "Error on setting a editor recommendation in OJS 3.2.0.3"
Hello, I am getting the following error when setting a recommendation for an article that is under review. When saving the "request resend" recommendation, I am getting the following error: "
"There was a problem sending an email message". Please try again later, or contact your system administrator ". This error only appears when I check the option to send notification to the author. The error in

[2020-06-25 16:09] asmecher opened #6045 "Database error: Illegal mix of collations"
Depending on the server's database configuration, MySQL can sometimes report:
[code]

OJS/OMP/OPS does not (currently) specify a collation configuration on database creation, so it falls back on the DBMS default. However, `BaseQueryBuilder` specifies `utf8_general_ci`.

Solution: Move the hard-coded `utf8_general_ci` to `config.inc.php` as an optional configuration parameter.

Once [this change is

[2020-06-25 16:57] asmecher commented on #6004
AddThis needs a new release plus compatibility statement for OPS 3.2.1 after https://github.com/pkp/addThis/commit/4f1af46a2255f4e20eadc0720d9ad43081d0a00f!

[2020-06-25 17:17] gonzalognzl commented on #5871
@NateWr do you think PR #5888 pkp/ojs#2755 are safe to restore image upload functionality to OJS 3.1.1.0?

I'm not able to upload to 3.2 right now. Thanks!

[2020-06-25 18:00] alexxxmendonca opened #6047 "[OPS] EDITOR_ASSIGN e-mail not triggered"
**Describe the bug**
The e-mail `EDITOR_ASSIGN` is not being triggered when assigning an editor.

According to the e-mail's description:

_This email notifies a Series Editor that the Editor has assigned them the task of overseeing a submission through the editing process. It provides information about the submission and how to access the server site._

**To Reproduce**
Steps to reproduce the beha

[2020-06-25 19:16] asmecher commented on #6044
@edersotto, are there any editors assigned to the submission?

[2020-06-25 19:33] defstat commented on #6029
@asmecher

**PRs**
**[master]**
[pkp-lib]: #6049
[OJS]: pkp/ojs#2826 (Submodule update only)
[OMP]: pkp/omp#843 (Submodule update only)
[OPS]: pkp/ops#49 (Submodule update only)

[2020-06-25 19:34] asmecher commented on #6041
@alexdryden, here's a pull request that should resolve the problem: https://github.com/pkp/ojs/pull/2827

Can you confirm your success? If so, I'll get this added to a new build ASAP.

[2020-06-25 19:52] alexdryden commented on #6041
Awesome. Looks like that does the trick. Just to confirm to make sure this is the desired behavior:
1. All the text is a link which resolves to the license url entered into the form.
2. Text reads "Copyright (c) <year_from_form> <copyright_holder_from_form>"

Thanks for the quick turn around!

[2020-06-25 20:00] asmecher commented on #6004
@jonasraoni confirms that the registration notification plugin is working with 3.2.1 and ready for a compatibility statement!

[2020-06-25 20:25] asmecher commented on #6041
Great, I'll get this committed for the 3.2.1-1 line of releases (which should come out shortly). Thanks for the clear reporting!

[2020-06-25 20:25] #6041 closed

[2020-06-25 23:08] asmecher commented on #5865
@NateWr, I think this broke the Travis tests for OMP master. The log fills with:
[code]
...until Travis kills the job because of log length.

[2020-06-26 15:50] defstat commented on #5960
@asmecher This fixes some problems regarding possible general errors with publications imports.

**PRs**
**[master]**
[pkp-lib]: #6051
[OJS]: pkp/ojs#2829

[2020-06-26 16:33] asmecher commented on #5960
@defstat, does any of the publication import/export stuff in https://github.com/pkp/ojs/pull/2829 need porting to OMP?

[2020-06-26 21:20] asmecher commented on #6045
Was hoping for confirmation on this, but it's unobtrusive enough. Closing.

[2020-06-26 21:20] #6045 closed

[2020-06-26 22:55] asmecher commented on #6029
All merged -- but unfortunately I just released 3.2.1-1 without it! It'll be included in 3.2.1-2.

[2020-06-26 22:55] #6029 closed

[2020-06-27 03:19] asmecher commented on #562
@fgnievinski, I'd consider the `ojs-dev-2_4` branch to be abandoned; we have no plans to release anything more from it. We might revise `ojs-stable-2_4_8` with a particularly grievous security fix if something should arise, but that's not likely.

[2020-06-27 17:03] vinitkumargunjan commented on #5753
@NateWr @asmecher Could you please guide how to fix this issue, The files you highlighted in the fix are not available on the location templates/frontend/pages/ . I added them manually but problem is persisting. Could you help me with a fix for this issue. I am using ver 3.2.1.1

[2020-06-28 09:32] gopalkildoliya opened #6052 "File upload and Image upload fields are not working."
**File upload and Image upload fields are not working.**
Upload logo or custom style CSS file no longer working. This is related to UI Library

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Website Settings'
2. Click on 'Click Setup tab'
3. Now upload your logo
4. Now save
5. The logo doesn't change

**What application are you using?**
 OJS  master

**Additional information**
Issue i

[2020-06-29 07:06] ronste commented on #6029
Hi Alec and Dimitris,

thanks for handling this so quickly. Do you think that the patch would also be applicable to OJS 3.1.2? E.g. can I just cheery-pick this commit or are there any specifics to OJS 3.2 in there?

[2020-06-29 07:08] defstat commented on #6029
@ronste, please try, it should work.

[2020-06-29 08:39] #6043 closed

[2020-06-29 08:42] NateWr commented on #5871
@gonzalognzl I'm not sure and I don't have a good enough memory to know what changed between 3.1.1 and 3.1.2. I'd recommend creating a test instance and trying it out first.

[2020-06-29 11:46] NateWr commented on #5753
The files that you want to work with are probably in `lib/pkp`. Templates that are shared with our other applications are located in `/lib/pkp/templates/frontend/pages`.

[2020-06-29 11:51] edersotto commented on #6044
Hello @asmecher, my sections was with no an editor. After define, it was solved. Thank you so much. Sorry by confusion.

[2020-06-29 11:51] #6044 closed

[2020-06-29 12:11] thinkbulecount2 commented on #5982
@NateWr The rebase went south so I just created a new branch fresh off of master. PR: https://github.com/pkp/pkp-lib/pull/6053

[2020-06-29 14:28] NateWr opened #6054 "Add a filter by assigned issue to OJS submission lists"
**Describe the problem you would like to solve**
Editors and assistants would sometimes like to filter their submission lists by the issue a submission is assigned to. This can help them identify submissions that are urgent (ie - for the upcoming issue), or identify submissions planned for a special issue, or locate submissions from published issues (in the Archived submissions list).

**Describe

[2020-06-29 14:35] NateWr commented on #6054
@thinkbulecount2 you've already done most of the work for this by implementing the `FilterAutosuggest` component in #5982. Here are the steps I think you'll need to take to add a similar filter for issues.

1. Create a `FieldSelectIssues.vue` component based on `FieldSelectUsers.vue`. You can use the [api docs](https://docs.pkp.sfu.ca/dev/api/ojs/3.2) to see what a request to `/issues` will look l

[2020-06-29 16:48] NateWr commented on #5982
All the PRs in one place:
https://github.com/pkp/pkp-lib/pull/6053
https://github.com/pkp/ui-library/pull/101

Tests:
https://github.com/pkp/ojs/pull/2830

[2020-06-29 19:01] alexxxmendonca commented on #5673
Apparently this was fixed. It's no longer happening on OPS 3.2.1.

Can we close this issue?

[2020-06-29 19:02] alexxxmendonca commented on #5738
This has been fixed so I'm closing this issue.

[2020-06-29 19:02] #5738 closed

[2020-06-29 19:06] alexxxmendonca commented on #5747
@ajnyga I've been using `EDITOR_DECISION_INITIAL_DECLINE` since then and it's working.

Do you think this still needs some work?

Does it make sense having 2 templates for decline, given that one of them is never triggered?

[2020-06-30 07:47] NateWr commented on #5865
I think I fixed it in the commit above, but I can't actually find a build of OMP reflecting that. Is there a way in Travis to kick off a test on the latest master branch, short of raising a PR on it?

[2020-06-30 08:12] isgrim commented on #4235
Dear Alec @asmecher ,

I stumbled upon this issue because the German National Lilbrary is using our OJS OAI Interface for harvesting URNs for registration, we use an OAI Metadataformat Plugin for this, which was orignally developed by Bozana  (our fork here: https://github.com/UB-Heidelberg/epicur/) and adjusted for OJS3 by Phillip Franck from DAI.

The national library now uses a new harvester, w

[2020-06-30 08:21] KBodarwe commented on #3261
Hello,
I was wondering what the status of the project is? As of 3.2 the feature does not seem to have made it into the release.
Thanks!

[2020-06-30 08:37] NateWr commented on #4895
I think we've stalled on this because it's hard to choose one from all of the options. I suggest that we move forward with one of the options. We can always change it later.

I suggest we use Mutually Anonymous to replace Double-blind and Anonymous Reviewer/Disclosed Author to replace Blind. Does anyone feel we should choose one of the other options?

[2020-06-30 09:06] NateWr commented on #5982
All merged! :tada:

[2020-06-30 09:06] #5982 closed

[2020-06-30 09:08] NateWr commented on #5982
@amandastevens and @kaitlinnewson not sure if this is worth documenting but in v3.3 admins and journal managers will be able to filter the All Active list by the assigned editor.

(This is one of a few new filters that will be coming in v3.3.)

[2020-06-30 09:20] KBodarwe commented on #4919
Hello,
has there been any updates on this? Is there a known fix?
Thank you!

[2020-06-30 09:29] NateWr commented on #4919
Hi @KBodarwe, looking over the history, it looks like a fix for this was released as part of v3.2. Updating to 3.2 or later should resolve this issue.

[2020-06-30 09:37] NateWr commented on #6054
@thinkbulecount2 I have implemented the `searchPhrase` param for the `/issues` REST API endpoint in https://github.com/NateWr/ojs/commit/a829195b3d5c1b350841c83d58cb4f37ac3a67ff. You should be able to cherry-pick it in.

[2020-06-30 09:38] KBodarwe commented on #4919
Thanks @NateWr for the answer. I have 3.2.0-3 installed on two seperate installations which both show the problem in the statistics and submissions pages.
I need to shorten the URL by index.php/JOURNALNAME/ to keep DOI continuity.
Here's my .htaccess:

RewriteEngine On
RewriteBase /

RewriteRule ^submissions(.*)$ index.php/journal/submissions$1 [R,L]
RewriteRule ^stats(.*)$ index.php/journal/stats

[2020-06-30 09:43] NateWr commented on #4919
I'm afraid mod_rewrite is not one of my strengths, so you may need to wait for further help from Clinton or Alec. That said, it looks to me like these two lines do not actually manipulate the API urls:

[code]

The API urls in the application are prefixed with `api/v1` so they are `/api/v1/_submissions` and `/api/v1/stats`. Could that be the source of the discrepancy you're facing?

[2020-06-30 10:09] NateWr opened #6055 "Category selection not reloaded when submission step 1 form doesn't validate"
**Describe the bug**
If step 1 of the submission form does not pass validation, the form is reloaded but the category selection no longer appears.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have at least one category defined.
2. Go to Submissions and click New Submission.
3. Open the browser's dev tools and delete the submission checklist elements from the inspector. Then

[2020-06-30 11:03] alexxxmendonca commented on #4895
I'm fine with that.

[2020-06-30 11:24] NateWr commented on #5702
Thanks @salmanm2003! The changes following code review look great with a careful attention to detail. Much appreciated! :+1: Based on our Slack discussion and the points raised previously, I think we're almost there. The following is still outstanding:

1. Minor changes in recent code review comments.

2. In a previous comment I had suggested that you split the list of sections under Submission >

[2020-06-30 11:42] KBodarwe commented on #4919
Hm, I figured the API somehow called upon the context of the URI, so by changing that to show the correct URI I could circumvent that problem.

Maybe redirecting the api calls directly? Like:
`RewriteRule ^api/v1(.*)$ index.php/journal/api/v1$1 [R,L]`
could that help?

[2020-06-30 11:47] mfelczak commented on #4895
My vote would be for options that explicitly spell everything out so that there's no ambiguity in either role or access given that we're introducing new terminology, e.g. Anonymous Author/Anonymous Reviewer for Double-blind and Anonymous Reviewer/Disclosed Author for Blind.

[2020-06-30 12:40] NateWr commented on #4919
I can't say for certain but that looks more likely to re-route API calls.

[2020-06-30 13:12] NateWr commented on #6024
@procky I'm looking into this now but I'm unable to reproduce the issue. It looks like this was addressed as part of the 3.1.2-4 release: https://github.com/pkp/ui-library/commit/1d174448a805e038e0a7bbb9e1079e5681dc9b2d

Specifically, it is this line https://github.com/pkp/ui-library/blob/master/src/components/ListPanel/users/SelectReviewerListItem.vue#L175-L180 where the biography is loaded and t

[2020-06-30 13:13] ctgraham commented on #4919
@KBodarwe , how are you handling paths to your site index?  Does that also sit under this same DNS name?  Your re-write rule seems incomplete, since if you turn on `restful_urls`, you haven't covered all URLs with mod_rewrite and it will break, but if you leave `restful_urls` off, you are expecting OJS to respond to (and with) RESTful URLs just with one journal path.

If you are isolating just thi

[2020-06-30 13:32] NateWr commented on #6052
Thanks for reporting, @gopalkildoliya! I've located the issue and prepared a fix. This only effects the `master` branch so shouldn't need to be backported to any stable branch.

PR:
https://github.com/pkp/ui-library/pull/104

Tests:
https://github.com/pkp/ojs/pull/2832

[2020-06-30 13:45] NateWr commented on #6047
I was not able to reproduce this in a test with the latest `master` branch. When I assign a "Moderator" one of my email template choices is "Moderator Assignment", which is the subject of the `EDITOR_ASSIGN` email template in OPS.

Is it possible that this email template has been disabled under Settings > Workflow > Emails > Email Templates?

[2020-06-30 13:48] alexxxmendonca commented on #6047
I don't think so. This is how it appears to me:

![image](https://user-images.githubusercontent.com/4059679/86133796-2c1f7380-babf-11ea-9429-b4296503ef44.png)

[2020-06-30 13:53] NateWr commented on #6047
I just had a look at the code and it looks like which email templates are available depends on the stage. https://github.com/pkp/ops/blob/master/controllers/grid/users/stageParticipant/form/StageParticipantNotifyForm.inc.php#L34

Are you sure that this submission has been completed (ie - the author has fully submitted it) and it is in the Production stage?

[2020-06-30 13:54] NateWr commented on #6019
When you say v3 and v2 are you referring to OJS 3 and OJS 2?

[2020-06-30 13:57] NateWr commented on #6015
Is the goal to replace the default article CSS with a custom CSS stylesheet? Or to be able to add more CSS code to override the existing CSS?

[2020-06-30 13:58] NateWr commented on #6013
I _think_ this is no longer the case after #5865.

[2020-06-30 13:58] #6013 closed

[2020-06-30 14:00] KBodarwe commented on #4919
Thanks for the answer.
Site Index runs over the same DNS. This is an installation with a single journal, as we want to keep the userbases separate.
So as theres no reason to have the journalname in the URL I'm trying to strip it.

Probably will do that and and accept the journalname in the URL.

[2020-06-30 14:01] alexxxmendonca commented on #6047
Yes, positive!

[2020-06-30 14:03] NateWr commented on #6008
Hmm, I notice that we're on v1.* of the compiler. v2.0 was released in February and then v3.0 just a month later. It looks like v2.0 and v3.0 each have a higher PHP version requirement than us.

https://packagist.org/packages/wikimedia/less.php

@asmecher what do you think is the best course here? Should we stick with what we've got for now or bump our minimum version requirement and update this d

[2020-06-30 14:15] NateWr commented on #6003
Thanks for looking into it @defstat. So this pertains to files uploaded with queries (discussions)? What other places can a file be uploaded that causes this problem?

If possible I'd like to preserve these links so that editors don't have to go hunting for them. Is it possible for us to detect these files and present a link that does not route through that handler?

It looks like it may be possib

[2020-06-30 14:18] NateWr commented on #5993
I think the `enable_cdn` config setting should suffice here. If you want, you can add additional CSS assets using a generic plugin.

I'm going to go ahead and close this for now but feel free to reopen it if there is more you'd like to discuss.

[2020-06-30 14:18] #5993 closed

[2020-06-30 14:19] NateWr commented on #5991
Just following up on this. Any luck getting this through weblate? Otherwise @vormia has provided some Arabic translations for us in the past and may be able to make this happen.

[2020-06-30 14:22] NateWr commented on #5984
Agreed. It's time to deprecate this page. If we want to replace it that could go into the docs hub. @amandastevens and @kaitlinnewson what's your thoughts on this? Should we migrate this to the docs hub or just dump it in favour of better information that already exists?

[2020-06-30 14:25] NateWr commented on #5969
Closing due to inactivity but feel free to post with follow-up information if needed.

[2020-06-30 14:25] #5969 closed

[2020-06-30 14:31] NateWr commented on #5957
Confirmed that this is not available from the AuthorDashboard, even if the author has permission to self-publish.

[2020-06-30 14:35] #6052 closed

[2020-06-30 14:41] NateWr commented on #5956
It should not be possible to publish with no contributor records. That should be pretty easy to add as a pre-publish check. It's probably a good idea to backport this change to 3.2.0-x, so I've assigned it to that milestone.

[2020-06-30 14:47] NateWr commented on #5956
Ok, based on discussion in #5955 I'm pulling this off as a pre-publish requirement. I'd like to consolidate this issue with that one since the way we handle this will depend on our decision there.

[2020-06-30 14:47] #5956 closed

[2020-06-30 14:54] NateWr commented on #5955
Apologies for hijacking your issue, @AhemNason, but I've renamed it to better describe the need for author-less publications as you've described.

I think there's a valid case here for publications without a contributor as OJS understands it now. A couple of questions:

1. In such cases, shouldn't the journal be described as the contributor/author? This could be done with support for corporate nam

[2020-06-30 16:10] AhemNason commented on #5955
1. This is what Google Scholar would prefer. It's still making up metadata. It's placeholders for empty fields. Google recommended putting in "the editors", but it's worth asking if you want your citation generation for these saying "the editors" in it. Or, if you actually would cite these at all. I bet if you look in Google Scholar under author "the editors" you'll see a wild amount of stuff.

<i

[2020-06-30 16:14] AhemNason commented on #5955
I _do very much think_ that this doesn't have to be a journal wide option for all publications in a journal. But it should be ok to have an empty author field via section-by-section settings.

[2020-06-30 16:27] NateWr commented on #5942
Closing due to inactivity but feel free to reopen if there's more info to debug.

[2020-06-30 16:27] #5942 closed

[2020-06-30 17:16] alexxxmendonca opened #6056 "[OPS] Version number showing Publication ID for authors"
**Describe the bug**
Version numbers are showing the Publication ID (instead of actual version numbers) when viewing as an author.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as the author of a preprint that is already posted
2. Create a new version as an author
3. Notice how the version numbers are not showing as 1, 2, 3, but showing other numbers that match Publication ID

**What

[2020-06-30 22:01] willinsky commented on #4895
This goes beyond the wording for reviews but provided a way of working out the implications of using "anonymity."

[Untitled 2.pdf](https://github.com/pkp/pkp-lib/files/4854617/Untitled.2.pdf)

[2020-06-30 22:06] fgnievinski commented on #6019
sorry for the abbreviation.
yes, v2 and v3 refer to
OJS versions: OJS2, OJS3.

[2020-07-01 07:13] KBodarwe commented on #4919
Update: I tried this approach:

`RewriteEngine On
RewriteBase /

# Bugfix for OJS 3.2.0-3: submissions API doesnt work with shortened URLs
RewriteRule ^api/v1(.*)$ index.php/journal/api/v1$1 [R,L]

# Rewrite URL to look cleaner
RewriteCond %{SERVER_NAME} ^www.server.com
RewriteCond %{REQUEST_URI} !/journal/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/journal/$1 [L]`

and it wo

[2020-07-01 08:32] NateWr commented on #6047
Based on our Slack chat I think this is resolved, yeah? Closing for now.

[2020-07-01 08:32] #6047 closed

[2020-07-01 09:43] NateWr commented on #6019
I don't think there are any plans to backport translation changes to OJS 2. At this point it will only receive critical security updates.

[2020-07-01 09:43] #6019 closed

[2020-07-01 10:42] NateWr commented on #5955
I've kept that bug listed in the original issue description. My interest here is to resolve that _in line with our metadata recommendation_. If we decide that author-less submissions is the way to go, we should remove the option rather than fix it (for example).

I wasn't clear enough in my original question. I'm not proposing that we don't call _all_ publications in OJS articles. My question real

[2020-07-01 11:49] alexxxmendonca commented on #6047
Hi @NateWr

Thanks to your heplp, I think what may have happened is that I was in the Portuguese interface and given that there was no translation for that email template, it didn't came up as an option to choose. I got into the wrong conclusion that the email wasn't being triggered, but it was just a missing translation problem.

Indeed there was not a problem here. Sorry!

[2020-07-01 12:23] NateWr opened #6057 "Improve file upload during submission"
**Describe the problem you would like to solve**
Uploading files during submission involves lots of steps. It can be cumbersome and confusing, and authors are often asked to provide metadata that is not clear to them. In addition, the current UI is not accessible and will need to be revised before we can commission an audit of our submission process.

**Describe the solution you'd like**
A new UI

[2020-07-01 12:55] Vitaliy-1 opened #6058 "Unread notifications aren't being shown on the front-end"
OJS master branch.
Task count blob in the header is empty in the presence of unread tasks
`unreadNotificationCount` variable was removed from `TemplateManager` as part of backend UI refactoring in this commit: https://github.com/pkp/ojs/commit/842096987251d154cc6d3c0f7c3f010e091f8aef but it's used on the front-end part also.

[2020-07-01 13:07] NateWr commented on #6057
One of the questions I have is about the file metadata that we support.

![file-metadata](https://user-images.githubusercontent.com/2306629/86246578-20a57880-bba3-11ea-961b-7f5b798b3a89.png)

Does it make sense to request this information _during submission_? My feeling is that it doesn't, because...

- authors are unlikely to know the correct data and are unreliable providers of metadata
- many o

[2020-07-01 15:30] diegoabadan commented on #1661
Our customers have also requested this feature.

[2020-07-01 19:31] JhonathanLepidus commented on #6056
This problem also occurs for me. It's simple to solve, so, if approved, we could send a PR.

[2020-07-01 23:12] fgnievinski commented on #2564
CrossRef seems friendly to basic markup in the title -- bold, italic, underline, overline, superscript, subscript, small caps, and typewriter text:

https://www.crossref.org/education/content-registration/crossrefs-metadata-deposit-schema/face-markup/

[2020-07-02 00:12] fgnievinski commented on #2564
Just to note that superscript/subscript and some mathematics seems already supported via Unicode (typeset externally then pasted into OJS), see for example:

https://forum.pkp.sfu.ca/t/add-superscript-to-journal-title/30469/4

So it's mainly bold and italics that would seem to have no support so far.

[2020-07-02 06:29] MuhammadFahadMukhtar opened #6059 "Error message while uploading native xml file to ojs 3.2.1.0"
Element '{http://pkp.sfu.ca}title': This element is not expected. Expected is one of ( {http://pkp.sfu.ca}id, {http://pkp.sfu.ca}submission_file, {http://pkp.sfu.ca}artwork_file, {http://pkp.sfu.ca}supplementary_file, {http://pkp.sfu.ca}pkppublication, {http://pkp.sfu.ca}publication ).

can anyone help me with the above error? i face this issue while importing native xml file to ojs 3.2.1.0

[2020-07-02 07:40] awecancer commented on #6024
@NateWr thank you for looking at it. Helped point me in the right direction.

Disclosure: I am Procky but I am now using this GitHub account.

I can reproduce this error with fresh installs of OJS and can now see the problem. We have users created from registration and they do not get given a biography in the user_settings table. We upgrade our OJS journal using the tar.gz files and in the latest

[2020-07-02 07:56] ajnyga opened #6060 "[OJS] If a title prefix is given for a single locale, it is shown with all article title translations"
This applies to all versions of OJS 3, also the latest master branch.

Scenario: a journal publishes articles in Finnish but also gives an English title. The English title has a title prefix defined.

When the Finnish frontend is shown, the English prefix is shown before the Finnish article title.

This is because the title is shown with $publication->getLocalizedTitle() where the prefix is called

[2020-07-02 09:20] MuhammadFahadMukhtar opened #6061 "quicksubmit 1.0.5.3 unable to insta on ojs 3.2.1.0 it just says notification (null)"
whenever i try to install quicksubmit from plugins gallery a notifification pop up is there with null value

[2020-07-02 09:29] NateWr commented on #6024
:+1: Good detective work, @awecancer aka Procky. It looks like this has changed between `stable-3_2_0` and `master`, due to #5865.

This is the function as it appears in 3.2.0 and 3.2.1, with the `typeof` check rather than the `!multilingual`, which babel will compile down to include a `null` check: https://github.com/pkp/ui-library/blob/stable-3_2_0/src/mixins/global.js#L70.

I'll file this to be

[2020-07-02 09:46] NateWr commented on #6060
Would a short term solution here be to detect what locale has been returned for the title and only add that prefix?

[code]

[2020-07-02 09:54] NateWr commented on #6056
@JhonathanLepidus yes, please, we'd love to have a PR! I've confirmed it on my end.

[2020-07-02 10:03] NateWr commented on #6058
Ah good catch. I tried to separate out the backend template stuff so that the code wouldn't run for frontend pages, but I forgot about this one. I guess this needs to go into PKPTemplateManager somewhere.

I'll assign this one to you if that's alright but can reassign if you find your other assignments keep you busy.

[2020-07-02 10:04] NateWr commented on #6059
@defstat does this ring any bells for you?

[2020-07-02 10:07] NateWr commented on #6061
Hi @MuhammadFahadMukhtar, can you please provide the information requested below? In particular, identify the steps you're taking to install it in the Reproduction steps.

**Describe the bug**
Please tell us what happens, what you expected to happen, and why you think it is a bug in the software.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to

[2020-07-02 10:21] ajnyga commented on #6060
This is probably the best we can do. It does have a potential problem if the main title is the same for two languages but the prefix is different or missing from the other language.

Das Experiment
The Experiment

[2020-07-02 11:32] MuhammadFahadMukhtar commented on #6061
@NateWr thanx for your response, but I have rolled back my OJS from to 3.2.1.0 to 3.2.0 and it fixed my issue.
But this problem should be addressed that why "Quicksubmit" plugin being not installed in ojs3.2.1.0.

[2020-07-02 15:41] ewhanson opened #6062 "CrossRef and DOI UI/UX quality of life improvements"
Outline of changes to be made to the CrossRef and DOI plugins to improve the usability of the CrossRef plugin and DOI management workflows.

DOI Tasks
- [x] Restrict the availability of custom DOI suffixes
- [x] Remove "nuclear button" options to clear and/or reassign DOIs from web GUI
- [x] Provide a direct link to the DOI management page in Dashboard for managers
- [x] Remove  DOI management fun

[2020-07-02 15:51] amandastevens commented on #5984
I suppose we could add this flow chart to the start of the Editorial Workflow chapter in Learning OJS 3. I like the idea of having a visual representation of the workflow.

[2020-07-02 16:19] JhonathanLepidus commented on #6056
We sent two PRs, since it was necessary changes in *ops* and *pkp-lib*

You could check them: [#6063](https://github.com/pkp/pkp-lib/pull/6063), [#51 ](https://github.com/pkp/ops/pull/51)

[2020-07-02 16:22] JhonathanLepidus commented on #6056
We should also send these modifications to *stable-3_2_1* branchs?

[2020-07-02 17:17] alexdryden opened #6064 "[OJS] Text color does not respond to background color selection on mobile"
Issue: If you select a white color for the header, then the dropdown menu options are white-on-white on mobile or small screens. Same for low-contrast combinations.

Steps to reproduce:

1. From Setting>Website>Appearance>Theme go to color and select #FFFFFF
2. Visit the journal from mobile or shrink browser window till hamburger menu appears.
3. Tap/click on the hamburger menu

[2020-07-02 17:21] jnugent opened #6065 "Missing STATUS constants in IssueDAO class"
Can we please get the fix that Alec committed here:

https://github.com/pkp/ojs/commit/8411fb081e50428cef1efd22ec6a644c04033b61

Backported to stable-3_2_0 please?  The rest of the code for issue #5837 has been already, and perhaps this was just missed.

@NateWr asked for the assign.  Thanks!

[2020-07-02 20:23] amandastevens opened #6066 "Access error when you log in as an author"
On an OJS 3.2.0-2 site where authors have access to the submission and review stages of the workflow, if I log in as any author and try to access my submission in the submission or review stage, I get an error message that says "You don't currently have access to that stage of the workflow." If I click OK, the error message disappears and I get another one that says "undefined." If I click OK agai

[2020-07-02 22:06] willinsky commented on #5865
Let me leave my compliments, as well, Nate, for the clean, informative, tasteful UI design.

On this one design below, I wondered about the way that the article title lacks the white framing background and just sits in the background. I'd suggest keeping the pattern from the submissions list of author in bold over the title only set it in its own narrowly framed box of white (or very light gray) b

[2020-07-02 22:26] pmangahis commented on #5991
@NateWr they had a hard time navigating through Weblate. We ended up making the translation using the custom locale plugin for them on their installation.

[2020-07-02 22:32] willinsky commented on #6057
I like the idea of a pre-publication request for metadata, rather than submission request, as authors are more motivated given it is ready to be published. We currently ask for "abstract" on submission of a paper, which is easy for authors and expected and valuable in selecting reviewers (along with reading the paper). I'm not sure where the form displayed above is from, but would suggest that (a)

[2020-07-02 22:38] pmangahis opened #6067 "Submission Checklist - Reordering doesn't save"
**Version - OJS 3.2.0-1**

Based on the following forum thread - https://forum.pkp.sfu.ca/t/checkist-items-ordering/61458/3

Went to Workflow Setting >Submission >Checklist. Attempted to re-order the submission checklist by clicking order, and dragging around the order. After clicking done the order would revert back to the original. I tested this on 1 change and multiple as well as rearranging a

[2020-07-03 05:04] defstat commented on #6059
@MuhammadFahadMukhtar could you share the file that has the import issue? Is the import file created by the same ojs version that you are trying to import?

[2020-07-03 05:06] defstat commented on #6003
@NateWr it seems that those are the files that are attached to emails send during the review process - I wasn't able to produce one though. I will try the solution you propose.

[2020-07-03 06:37] MuhammadFahadMukhtar commented on #6059
@defstat that was a sample file downloaded from github for ojs3.2 which I have replaced now and also I have rolled back ojs3.2.1.0 to 3.2.0 to resolve the issues and now everything is going smooth.

[2020-07-03 08:22] aupress commented on #6015
I would say, to be able to overwrite the theme's default article classes and add new ones when needed.

[2020-07-03 11:09] alexxxmendonca commented on #6057
Should we also be discussing here integration with data repositories? Presumably and ideally these data have all been already filled in a data repository prior to the writing of the manuscrit itself therefore for the author to be able to simply transfer data + metadada from one place to another would make their life a lot easier.

[2020-07-03 22:02] amandastevens opened #6068 "Make revision files from round 1 available in round 2 of review"
A user contacted us to say they initiated round 2 of review before the authors uploaded revisions to round 1. Then the authors uploaded revisions to round 1 and the editor could not easily move the files from round 1 to round 2. Instead the editor had to download the revised files, save them, and upload them manually to round 2.

It would instead be ideal if in round 2 the editor could click on "U

[2020-07-05 08:48] ViRuSTriNiTy opened #6069 "package-lock.json contains wrong version number"
Hi there,

the file `package-lock.json` contains the version number `3.2.0` but I assume that it should be `3.2.1` as the branch name implies. So after running `npm install` the file contains `3.2.1` and it is listed as changed file. Most likely you guys forgot to update the file. I will provide a PR.

So lonG
Daniel

[2020-07-05 17:51] AhemNason commented on #5955
Hey Nate, I've been thinking about this a lot and I think it's worth pulling in some answers from hosting services. My gut feeling is _yes_, but my other gut feeling is that it's a great way to complicate a process that already feels too complex for some. I'd like to get some feedback from the hosting support folks. Chiefly, @jmacgreg @amandastevens and @mfelczak . James is on vacation until the 1

[2020-07-06 10:52] salmanm2003 commented on #5702
Hi @NateWr,
Thanks for checking and commenting this.
1. The new changes been made and ready to be reviewed.
2.  "Inactive" been added to the inactive sections in publication sections list.
3. "New Submissions" button has now the feature to be removed when 'disable submissions' is on (please check the PR for ui-library).
4. Had to change SettingsPage.vue to add space between the notification and th

[2020-07-06 11:16] NateWr commented on #6060
Perhaps what we need is a private method that gets the locale of a particular data property, and then uses that in `PKPSubmission::getLocalizedData()`. It could be re-used in the methods that concatenate the title so that it always concatenated the correct locale pieces.

[2020-07-06 11:16] #6061 closed

[2020-07-06 11:19] NateWr commented on #5984
I suppose this overlaps a bit between comms and DIG. I'll reach out to Marisa and see if she has any thoughts on what we want this link to do...

[2020-07-06 11:31] NateWr commented on #6056
Thanks @JhonathanLepidus! Yes, if you can create a PR to the `stable-3_2_1` branches as well that'd be great. If not we can cherry-pick it in for you but we prefer to have a PR.

I notice that there is a merge conflict with the OPS PR. This happens when your copy of the `master` branch is a little out of date and there are new commits that cause a conflict. You can resolve this by syncing your `ma

[2020-07-06 11:35] NateWr commented on #6065
Done in https://github.com/pkp/ojs/commit/c9b1bce881e616afaa574380d91ef8f08bc42d81.

[2020-07-06 11:35] #6065 closed

[2020-07-06 11:40] NateWr commented on #6015
Thanks @aupress. So it sounds like what you need is either a text field or a file upload field that would allow you to provide CSS code that is only loaded on the HTML article view page.

A text field is easier in that a theme could add that as an option right now without much work. Currently there's no support file theme options that support file uploads, but that may change in the future.

[2020-07-06 12:36] jonasraoni opened #6070 "XMLParser bug when parsing text nodes"
**Describe the bug**
The following structure, with texts nodes mixed with element nodes, will not be parsed right by the [XMLParser](https://github.com/pkp/pkp-lib/blob/master/classes/xml/XMLParser.inc.php): `<a>X<b>Y</b>Z</a>`, and will internally result in `<a>Z<b>Y</b></a>`.

I imagine that fixing it will do more harm than good, so I'm just documenting the issue... I've got it replaced by the n

[2020-07-06 12:43] zalamuia opened #6071 "OJS version : 3.2.1.1 - Crossref deposit /Export XML problem **Unrecognized DAO PublishedArticleDAO!**"
OJS version : 3.2.1.1 recently updated from 3.2.1.0

Causing Crossref Deposite/Export XMLproblem.However,I can deposit/export by choosing previous installation OJS 3.2.1.0 by changing the database of the new installation. However, DOAJ Export Plugin working fine.

I am using

v1.0.1.1 released on 2019-06-19
Maintenance release of the plugin for OJS 3.2.1.

Got Following error
**Unrecognized DAO Pu

[2020-07-06 14:30] NateWr commented on #5702
Thanks @salmanm2003, that looks really good! I only had a couple more very minor comments.

In addition, I'm getting an error when I edit a section to deactivate it and there is only one active section. Steps to reproduce:

1. Create three sections.
2. Deactivate two of them with the checkbox toggle.
3. Open the edit form of one of the deactivated sections and try to save it without any changes (t

[2020-07-06 14:39] NateWr commented on #6067
Confirmed.

[2020-07-06 14:44] NateWr commented on #6064
What version of OJS are you using? What theme are you using?

[2020-07-06 14:45] NateWr commented on #6071
I'm guessing that you need to update the version of your Crossref linking plugin. @defstat does that sound right?

[2020-07-06 14:47] NateWr commented on #6068
Related to https://github.com/pkp/pkp-lib/issues/3585

[2020-07-06 15:03] alexdryden commented on #6064
Here are the missing details @NateWr
Theme: Default
OJS Version: 3.2.1.0
example: https://scp.library.illinois.edu/journals/index.php/test2/index

[2020-07-06 15:51] NateWr commented on #6064
Thanks!

[2020-07-06 16:12] NateWr commented on #5865
OMP was missing some of the new code for announcements.

PR:
https://github.com/pkp/omp/pull/846

[2020-07-06 17:55] salmanm2003 commented on #5702
Thanks @NateWr for pointing out this issue.
- I have fixed the bug and should be working properly now.
- All minor changes been done and ready to be reviewed.
- I have notice an OJS error, not sure if you aware of.
`Type: Error
Message: Call to a member function getData() on null
File: /var/www/html/lib/pkp/classes/submission/PKPSubmission.inc.php
Line: 54`.
- and a warning in `PHP Warning:  array

[2020-07-06 17:57] aupress commented on #6015
That's exactly what we'd like to see! Thank you for looking into it.

[2020-07-07 01:52] amandastevens commented on #1660
Another +1 for this from a Publishing Services client.

[2020-07-07 08:26] NateWr commented on #5865
The OMP master branch should be fixed now.

[2020-07-07 08:26] #5865 closed

[2020-07-07 08:33] NateWr commented on #1660
@amandastevens is that a +1 for editable reviewer recommendations or editorial decisions or both?

[2020-07-07 08:45] NateWr commented on #6057
@willinsky this issue is specifically talking about file uploads, rather than the general submission metadata. But I think we'll get some good recommendations for submission metadata from the metadata working group soon, and implementing support for controlled vocabs like Crossref's Funder Registry should be pretty easy to do with the new metadata forms introduced in 3.2.

I think we'd need to dea

[2020-07-07 11:19] alexxxmendonca commented on #6057
Thanks!

The one I'm interested is already filed #1822 (I had forgotten)

[2020-07-07 12:53] AhemNason opened #6072 "Inconsistent behaviour in "required" fields for bi-/multi-lingual journals"
This might get a little meta (haha) but hang in there.

1. A journal is configured to allow, for example, English and French submissions. Users are prompted to choose the language of their submission at the top of the submission page.
2. They don't see this and leave it as the default (English, we'll say).
3. They put **French metadata** in the English field.
4. They finish their submission and go

[2020-07-07 14:06] amandastevens commented on #1660
Oops, didn't realize these were 2 separate things. It was reviewer recommendations - I edited my above comment.

[2020-07-07 17:27] asmecher commented on #5673
Happy to, thanks!

[2020-07-07 17:27] #5673 closed

[2020-07-07 17:31] asmecher commented on #3261
@KBodarwe, this will be a bit of a long-term project, and we're hoping to achieve it by aligning the import/export tools with the API rather than trying to maintain parallel implementations. Is there a particular entity you're interested in supporting in the import/export toolset?

[2020-07-07 20:31] JhonathanLepidus commented on #6056
I made a syncing in my OPS branchs and added the submodule commit. I made a new PR (https://github.com/pkp/ops/pull/52) that passed in the tests.

[2020-07-07 22:01] asmecher opened #6073 "Tag-It based submission metadata fields may collide with other multilingual metadata popovers"
From https://forum.pkp.sfu.ca/t/error-after-migratin-ojs-2-4-8-to-3-1-2-1/60665/13...

**Describe the bug**
When multilingual inputs based on tag-it appear in the submission metadata form (including Step 3 of the submission process), the multilingual drop-down is opened by default, e.g.:
![image](https://user-images.githubusercontent.com/200411/86847810-cf452f80-c061-11ea-9018-67fb21a56e9d.png)
(T

[2020-07-07 22:11] asmecher commented on #6070
@jonasraoni, you're right, and better to use DOMDocument + DOMXPath. The XMLParser code is very old and should be considered deprecated. I'll close this as a WONTFIX.

[2020-07-07 22:11] #6070 closed

[2020-07-07 22:13] asmecher commented on #6071
On second glance, it looks like the CrossRef reference linking plugin still contains references to `PublishedArticleDAO` and thus needs updating for OJS 3.2+.

[2020-07-07 22:36] asmecher commented on #6066
@amandastevens, I suspect the messages are related to parts of the workflow that appear on the Copyediting and Production stages, which are loaded when the page is loaded. Can you verify that that tab contains content that couldn't be loaded?

[2020-07-08 01:37] asmecher commented on #6060
Yes, this is similar logic to what we've used for getting full author/user names. See `lib/pkp/classes/identity/Identity.inc.php` in the `getFullName` function for the logic. Long story short, pick a "most important" piece of data (the title in the case of submission titles, and the given name in the case of names) and attach other content (family names, subtitles, prefixes) only when it agrees wi

[2020-07-08 01:42] asmecher commented on #6008
PHP 7.2.9 (released in August 2018) is the base requirement for less.php 3.0.0; that feels too recent for my tastes. However, less.php 2.0.0 requires PHP 7.1.x or newer, which is already met by our current baseline for OJS/OMP/OPS 3.2.1.x. Does less.php 2.0.0 include the fix we're interested in?

[2020-07-08 08:34] NateWr commented on #6073
This is probably a `z-index` issue. I think the best way to address this would be to override the `z-index` for the multilingual panel of the metadata fields in the submission form. Reducing the `z-index` _should_ address this.

[2020-07-08 08:45] NateWr opened #6074 "Allow the names of editorial decisions to be customized"
**Describe the problem you would like to solve**
In some cases a journal uses terminology to wants to use different names to describe its editorial decisions. For example they may want to change Request Revisions to Minor Revisions and Resubmit for Review to Major Revisions.

**Describe the solution you'd like**
Somewhere in the stats where the labels for these editorial decisions can be changed.

[2020-07-08 08:45] NateWr commented on #6074
My first question would be: which parts of this request can not already be done with the custom locale plugin?

[2020-07-08 08:55] NateWr commented on #1660
It seems like the more widespread community priority is reviewer recommendations. I have repurposed this issue to focus on reviewer recommendations and split the request for customizable editorial decisions out into its own issue: https://github.com/pkp/pkp-lib/issues/6074.

Before we move forward, I'd like to see a few more details provided to better understand the use-cases. What are some exampl

[2020-07-08 09:10] NateWr commented on #6056
Thanks @JhonathanLepidus! It looks like the `.gitmodules` got updated by mistake in the PR (https://github.com/pkp/ops/pull/52/files#diff-8903239df476d7401cf9e76af0252622R3). I've replaced that with a new one at https://github.com/pkp/ops/pull/53 which just applies the submodule commit against pkp/pkp-lib.

This can be a headache to get set up right for local dev, but usually I leave the `.gitmodu

[2020-07-08 09:33] unkej commented on #1660
One of our journals asked for these changes, if this is what your are looking for:
Accept Submission -> Accept (I think this needs no change)
Revisions Required -> Acceptable after minor revisions
Resubmit for Review -> Not acceptable without major revisions
Resubmit Elsewhere -> Reject
Decline Submission -> Reject

[2020-07-08 09:35] NateWr commented on #6008
I'm not sure if 2.0 addresses this, but I'd be curious to know why that version line was abandoned only a month after it was released. There's no 2.0.1 or anything. I've asked the question at https://github.com/wikimedia/less.php/issues/42.

[2020-07-08 10:05] NateWr commented on #6008
It looks like this is what 2.0 is for. I notice that 7.2 is losing security support in November. Should we aim to bump our requirement to 7.3 for our 3.3 release? In that case we could go to straight to less.php 3.0 in `master` and backport the 2.0 to our stable branches.

[2020-07-08 10:18] NateWr commented on #6056
Merged and backported to `stable-3_2_1`.

[2020-07-08 10:18] #6056 closed

[2020-07-08 10:27] NateWr commented on #1660
That's great, thanks @unkej!

[2020-07-08 12:25] JhonathanLepidus commented on #6056
Thank you very much!

[2020-07-08 13:03] NateWr opened #6075 "Layout gap missing in workflow discussions"
**Describe the bug**
There is not gap between the Revisions and Review Discussions grid in the workflow. This probably effects all discussions grids.

**What application are you using?**
3.3 pre-release (`master`)

**Additional information**
![discussions-ui](https://user-images.githubusercontent.com/2306629/86921935-d3d21c80-c123-11ea-80a5-f5aa4416292f.png)

[2020-07-08 13:05] dennmuel opened #6076 "Missing or strange affiliation values for newly registered users"
Hi everyone :)

I just noticed an unexpected behavior concerning affiliations in OJS 3.2.1-0 and I'd be glad about some help. Maybe I got something wrong, but it might also be a bug.

**Describe the bug**
I registered a new OJS user with information about institution/affiliation, but it did not show up at all in the user profile and it showed up as JSON (I guess?) in the metadata of a submission m

[2020-07-08 14:31] AhemNason commented on #5962
If you "edit" the journal manager roll and just save it, the checks will fill in. I just did this on our 3.2.1-1 install.

[2020-07-08 15:05] asmecher opened #6077 "Reduce dependency on `exec`"
Errors relating to `exec` are frequent on the forum:
- Confusion over how to configure the `tar` binary (used in the plugin installation toolset)
- Disabled `exec`, `open_basedir` warnings, etc

Currently `exec` is used in several cases, documented here: https://forum.pkp.sfu.ca/t/ojs-3-2-0-0-unable-to-upgrade-plugins-through-the-interface-500-open-basedir-restriction-manually-upgrade-plugins/6148

[2020-07-08 18:19] asmecher commented on #6076
@dennmuel, what theme are you using?

[2020-07-08 18:24] amandastevens commented on #1660
Sometimes editors want new options and sometimes they want to customize the wording on the existing options. The recent request was for this:
- Accept
- Require minor revisions
- Require major revisions and resubmitting
- Reject
- See notes

[2020-07-08 19:08] asmecher commented on #6008
Yes, I'm OK to bump `master` to a base of PHP 7.3.

[2020-07-08 19:39] asmecher commented on #6073
@NateWr, any objections to https://github.com/pkp/pkp-lib/pull/6078/files? I used `90` (the normal multilingual popover is `99`).

[2020-07-09 07:31] dennmuel commented on #6076
Hi @asmecher,
we're using a modified Bootstrap3-Theme. I could not reproduce the issue with the Default Theme, but with the unmodified [Bootstrap3-Theme](https://github.com/NateWr/bootstrap3). I guess I'll head over there to pursue this further then.
Thanks for the hint!

[2020-07-09 07:31] #6076 closed

[2020-07-09 09:01] NateWr commented on #1660
Do all the desired options we know of fit into three categories: accept, revise or reject? I'm thinking "see notes" would count as a revise recommendation. Or perhaps we need an "other" category as a catch-all for recommendations that don't fit.

This would allow us to provide editorial statistics about these three categories, while letting journals build whatever recommendation options they want

[2020-07-09 09:04] NateWr commented on #6073
Looks good to me!

[2020-07-09 11:08] NateWr opened #6079 "Refactor how submission file revisions are tracked and displayed"
The current handling of submission file revisions is some of our oldest code and can be a challenge to work with. This issue is for discussion about how to refactor this.

_This issue is not about the file storage mechanism itself, such as moving to a third-party library like [Flysystem](https://flysystem.thephpleague.com/v1/docs/). Decisions about that may impact this, though._

### The good part

[2020-07-09 11:09] NateWr commented on #6079
Here is an old mockup of a UI approach to showing file revisions. Notice how the file history shows the file's movement across all file stages.

![file-revisions](https://user-images.githubusercontent.com/2306629/87032758-fecc7700-c1dc-11ea-8a06-9147e87f50df.png)

[2020-07-09 11:27] NateWr commented on #6079
Here's a first draft idea on how we can preserve a lot of what we have. Two key changes:

1. The `fileId` stays with files throughout the entire lifecycle. A submission file promoted through review, copyediting and production would always the same ID. This would replace the `source_*` fields. Promoting a file from one stage to another would create a new revision of that file.
2. File uniqueness is

[2020-07-09 11:29] #1439 closed

[2020-07-09 13:37] librariam commented on #3646
+1 more from PKP|PS, thank you!

[2020-07-09 13:53] amandastevens commented on #6066
When I log in as the author, under the Copyediting and Production tabs it just says "Stage not initiated." I compared the site to another 3.2 OJS site and the tabs look the same. I don't know if I understand your question.

[2020-07-09 14:23] ctgraham opened #6080 "Ability to rename locales (removing/changing country names)"
**Describe the problem you would like to solve**
Journal Managers would like to remove or change the country designations from the locales as named in `registry/locales.xml`, but this is not configurable by the Journal Manager or Site Administrator.  Currently it can only be accomplished by a local code change.

**Describe the solution you'd like**
First preference: a plugin which can modify the l

[2020-07-09 17:14] Vitaliy-1 commented on #5540
@NateWr, I can't understand why there are 2 pairs of date and date-time formats and time format as a separate setting. Would it be simpler to diminish the number of settings by combining them? I mean, there are 5 settings: `date_format_short`, `date_format_long`, `datetime_format_short`, `datetime_format_long` and `time_format` but `datetime_format...` can be constructed just by combining date and

[2020-07-09 19:19] asmecher commented on #6073
Merged, thanks!

Users who encounter this in OJS/OMP/OPS 3.1.x, 3.2.0, 3.2.1-0, or 3.2.1-1 can apply https://github.com/pkp/pkp-lib/pull/6078/files in `lib/pkp`, and cause the CSS to be rebuilt by removing `cache/*.css`.

[2020-07-09 19:19] #6073 closed

[2020-07-09 19:29] alexdryden opened #6081 "[OMP] Catalog links to the wrong monograph and breaks format"
Version: OMP 3.2.0-3

Issue: Under particular circumstances, the catalog page formatting is broken and thumbnails link to the wrong book.

Example of broken formatting seen with the 'I just really like ham' book.
<img width="1440" alt="Screen Shot 2020-07-09 at 2 55 27 PM" src="https://user-images.githubusercontent.com/47127862/87079583-43174180-c1f4-11ea-8f6d-e5f7157a29b1.png">
Also, the "Constru

[2020-07-09 19:50] asmecher commented on #6080
@ctgraham, if it comes down to a `config.inc.php` adjustment, I'm not sure we've gained much beyond just modifying the `registry/locales.xml` file.

Off the top of my head, you should be able to edit the list of locales in memory, after the first load, by looking in the `Registry` for `allLocalesCache`.

[2020-07-09 19:53] alexdryden commented on #6081
Update: the links are actually being generated incorrectly by the php, what is happening is that the featured book is sitting on top of the non-featured book and the featured book's url extends across the whole content area. We did a quick fix by restyling the `#is_featured` class.

<img width="1176" alt="Screen Shot 2020-07-09 at 3 51 00 PM" src="https://user-images.githubusercontent.com/47127862

[2020-07-09 20:09] ctgraham commented on #6080
The benefit to the config.inc.php setting would be that we segment the code from data: that is, the modified data of the new locale.xml file can live in the `files_dir`, rather than in the code.  But in general I do loathe config.inc.php settings for anything that shouldn't be restricted to a OS-level administrator.

The trick with the cache in my mind is that we'd need to intercept every time it

[2020-07-09 20:14] asmecher opened #6082 "Support per-user time zones"
See https://forum.pkp.sfu.ca/t/per-user-timezone/59311.

Allow users to configure their time zone so that dates can be formatted more usably.

[2020-07-09 20:19] asmecher commented on #6081
@alexdryden, is the quick fix generally useful? If so, please consider opening a pull request!

[2020-07-09 20:21] asmecher commented on #1660
@NateWr, it might be possible to apply a similar approach to reviewer recommendations as we do to review forms: once a form (or in this case, reviewer recommendation) is used, it can never be modified. I don't *think* we need to know programmatically whether a piece of manager-configured text represents an accept or a reject, as long as we can group all cases where reviewers responded the same for

[2020-07-09 20:35] maifeld commented on #6082
The desired situation, in short:
The server running OJS is set to UTC as is the setting in config.inc.php:  "20:00 GMT"
Alice is in New York (UTC -4) and every current time she sees in OJS displays: "16:00 EDT"
Bob is in Los Angeles (UTC -7) and at the same instant every time he sees is displayed by OJS: "13:00 PDT"
Charlie is in Honolulu (UTC -10) and calls them to talk about a 10 am meeting whil

[2020-07-09 22:34] asmecher commented on #6079
@NateWr, where you tend to think in API, I tend to think in database. Maybe that's revealing...

An additional downside that would be good to solve: unnecessary copies of duplicate files (e.g. when promoting a file from one stage to another, the physical file is duplicated).

Here's how I'd propose adjusting our current database structure...

**Needs Doing**
- The `submission_files` table gets a f

[2020-07-10 10:04] Vitaliy-1 commented on #5540
After thinking about it for a while, my proposal is 3 mandatory fields: long date format, short date format and time format plus 2 optional fields: long and short date & time with 2 values - default, which simply consists of values from long or short date + time and custom field to allow user own input.

[2020-07-10 11:19] NateWr commented on #6079
Ah, interesting. That opens up a lot of potential. I like where this is going.  A couple questions:

1. Would you keep the directory structure that's used to store files now? Or do you imagine a flat directory with unique filenames used as the foreign key in `files`?

2. Do you see each revision of a file appearing in `submission_files`? Or is there only one submission file entry (and associated m

[2020-07-10 11:36] NateWr commented on #5540
We typically avoid concatenating two localised strings into one, because some languages may wish to change the order. For example, some languages may want `<date> <time>` and some may want `<time> <date>`.

I think that we can get to the same easy UX by automatically completing the datetime formats for people. If you are using the `FieldRadioInput`, you can create a custom `Form` component that au

[2020-07-10 13:20] Vitaliy-1 commented on #5849
@NateWr, my comments here while trying to resolve the issue:

- Shouldn't localized name for input field be used: https://github.com/pkp/ui-library/blob/680d529ff059837b94185fcbf4510006683b3f72/src/components/Form/fields/FieldRadioInput.vue#L59 and https://github.com/pkp/ui-library/blob/680d529ff059837b94185fcbf4510006683b3f72/src/components/Form/fields/FieldRadioInput.vue#L71. I mean something li

[2020-07-10 13:54] Vitaliy-1 commented on #5849
Something like in this PR: https://github.com/pkp/ui-library/pull/108

[2020-07-10 14:36] asmecher commented on #6079
On migration, we would need to scan through `submission_files` and create an entry in `files` for each, containing the path and filename and thus associating it with an ID.

When new files are uploaded, the path and filename get assigned by the creating code.

Thereafter file names/paths can be whatever we want, and we don't even need consistency. But I still think something like `{$contextId}/sub

[2020-07-10 16:17] jnugent opened #6083 "Consider using recaptcha.net URL for CAPTCHA"
We've had requests from hosted journals who have users in China that are unable to sign up due to google.com being unavailable in China.  Our workaround thus far has been to edit classes/form/validation/FormValidatorReCaptcha.inc.php and classes/template/PKPTemplateManager.inc.php and switch the www.google.com references to www.recaptcha.net which works in China.  If this was permanently added to

[2020-07-10 16:23] asmecher commented on #6083
@jnugent, this is a dupe of https://github.com/pkp/pkp-lib/issues/2993 -- can you add this proposal over there?

[2020-07-10 16:23] #6083 closed

[2020-07-10 16:26] jnugent commented on #2993
Hi folks,

We've had requests from hosted journals who have users in China that are unable to sign up due to google.com being unavailable in China. Our workaround thus far has been to edit classes/form/validation/FormValidatorReCaptcha.inc.php and classes/template/PKPTemplateManager.inc.php and switch the www.google.com references to www.recaptcha.net which works in China. If this was permanently

[2020-07-10 16:59] asmecher commented on #2993
@jnugent (and others), is there any downside in just using `www.recaptcha.net` as proposed above?

[2020-07-10 16:59] mfelczak commented on #2993
A couple notes here to add to Jason's summary above. Adding support for recaptcha.net via a new toggle in config.inc.php or even as the default to replace the existing google.com implementation would expand the anti-spam toolset available to OJS users. There will be journals who can't subscribe to Akismet or who still want a reCaptcha solution that works for all visitors. At the moment the only fr

[2020-07-10 18:52] asmecher opened #6084 "Announcement emails sent blank after upgrade"
**Describe the bug**
From https://forum.pkp.sfu.ca/t/error-with-announcement-notification-emails/61663:

We have generated an announcement for our readers but it sent empty emails to the journal readers. I tried it once more, but it again created an empty email without any subject and content in it. I got many emails from the readers about sending empty emails. I cannot generate any new announceme

[2020-07-10 18:55] asmecher commented on #6084
(The code appears present to take care of the upgrade -- this is potentially just a case of missing translations.)

[2020-07-10 20:11] israelcefrin opened #6085 "OJS - Editorial report email with wrong locale"
**Describe the bug**
The editorial report sent to editors is presenting wrong locale. It seems to be showing Arabic locale instead English.

**To Reproduce**
Steps to reproduce the behavior:
Activate the editorial report plugin and wait for the monthly email. They will show Arabic locale and the report with weird characters.

**What application are you using?**
 OJS 3.2.0

**Additional information

[2020-07-10 20:51] asmecher commented on #6084
The issue is likely caused by the upgrade script only installing the English (`en_US`) language template. The attached commits will add it upon upgrade in the other languages in which it's currently translated, and this will be included in the next release (3.2.1-3) for users who haven't upgraded to 3.2.1-x yet.

For users who have already upgraded to 3.2.1-x older than 3.2.1-2, there are several

[2020-07-10 20:51] #6084 closed

[2020-07-10 21:36] asmecher commented on #6085
Cross-linking to https://forum.pkp.sfu.ca/t/right-to-left-languages-improvement/61640 (and tagging @NateWr) as something similar was reported there.

[2020-07-10 22:35] alexdryden commented on #6081
@asmecher It wasn't before, but I just made the css selector a bit more restrictive so it only catches cases where the first child is not `.is_featured` and is followed by `.is_featured`. I **think** that won't have any side-effects and will catch all of the bad cases, but I'll do some testing on Monday and open the pull request if it is alright.

[2020-07-10 23:46] asmecher commented on #6081
That would be much appreciated, thanks!

[2020-07-11 00:04] asmecher commented on #4895
I second @mfelczak's proposal:

It's a little longer but unambiguous and we can probably count on clearer translations.

@NateWr, would you be OK with that?

[2020-07-11 00:24] willinsky commented on #4895
Given "anonymous author" has another point of reference in publishing, I'd make a last pitch (and then happily let it go) that it is preferable to describe our peer-review process as employing "author and reviewer anonymity" rather than an "Anonymous Author/Anonymous Reviewer" as well as a second option of "reviewer anonymity" over  "Anonymous Reviewer/Disclosed Author" (as per my description abov

[2020-07-11 01:01] asmecher commented on #4895
@willinsky, thanks, I can see how that might be taken in the wrong context. I'm OK with your suggestion too.

[2020-07-11 01:23] asmecher commented on #5702
(Just a note: there is currently a question & answer about this in the PKP FAQ that'll need updating once this is implemented. The new FAQ isn't published yet or I'd drop a link in -- but ping me if it's not findable.)

[2020-07-11 01:29] #6004 closed

[2020-07-12 11:05] gemusehandler opened #6086 "OMP could use a Series Index page"
When it comes to books (or monographs) then from an academic point of view, book series are essential. Books series provide a path to academic recognition. Books series can for instance be included in academic indexes such as Scopus, standalone books can't. Wouldn't it be a good idea when OMP allows presses to present series more prominently? We though it is! We developed a seriesindex page that p

[2020-07-12 16:48] jonasraoni commented on #6085
Hi @asmecher!

Here's a PR to fix it in stable-3_2_1: #6087
Once everything is ok (maybe @israelcefrin can help us with testing), let me know which branches, besides the /master, need the correction.

---

The code isn't taking into consideration the context's primary locale. I've applied some fixes, but let me just raise some minor points =]

1. I've checked fast and looks like there isn't a plac

[2020-07-13 10:37] NateWr commented on #1660
Yes, I guess that makes sense. We can add an active flag to allow people to deactivate recommendations without deleting them.

[2020-07-13 11:05] NateWr commented on #5849
I think that looks correct, @Vitaliy-1. What happens to the value that is emitted when you use it in multilingual field. When the value of the field changes, it should emit a `changed` event which you can track in the Vue.js dev tools. When the field is multilingual, that event should also pass the locale that is changed.

[2020-07-13 11:58] NateWr commented on #6079
That all makes good sense. I'm wondering about how we link rows in the `submission_files` table together across the editorial lifecycle. If a submission is uploaded during submission, passed through the many stages, how are these linked together?

Since revisions are handled by a `fileId` foreign key, could the `submission_file_id` live with the file throughout the editorial lifecycle? In this cas

[2020-07-13 12:51] amandastevens commented on #1660
Would it be possible to have a few review recommendation options that are used for statistics, but to allow the text of what they say to be customizeable (at any time)?  The exact wording seems to be important to editors, even if the recommendations are usually the same as the current options. Sometimes a new editorial team starts and wants to change the wording.

See Comments is used when a revie

[2020-07-13 14:07] NateWr commented on #2993
Is there a downside to just switching the hostname to recaptcha.net? Would any existing installs be effected? Perhaps if servers have whitelisted domains that are permitted to make external requests...

[2020-07-13 14:41] NateWr commented on #4895
Thanks everyone! I have not forgotten this and we will get the change into 3.3. :+1: At the moment I'm leaning towards spelling things out as explicitly as possible, as Michael suggested and especially with regards to translations, as Alec pointed out. John's point about anonymous authorship in publishing is a good one to consider. However, I think the context of these options -- and especially th

[2020-07-13 14:50] NateWr commented on #6085
Thanks @jonasraoni! Once we get confirmation on the fix I think we'll just need `master`, unless PS has a client on `stable-3_2_0` that particularly needs this. We may not do another 3.2.0.x release.

1. There is a `locales` column in the `users` table which stores a serialized array of working languages (one or more). These can be configured under the User Profile > Contact settings. I suspect th

[2020-07-13 15:07] NateWr commented on #1660
In the near term, I think the [customLocale](https://github.com/pkp/customLocale) plugin could take care of this? Or maybe I'm missing a requirement.

I've gone ahead and added this issue to our roadmap. I think it's a sufficient community priority and not too much work to undertake.

[2020-07-13 15:12] NateWr commented on #6081
@alexdryden would you be willing to share a database dump for your sandbox site so that I can reproduce what's happening here? You can share it with me privately by DM at our forum (https://forum.pkp.sfu.ca/ -- I'm @NateWr there too). Otherwise you can sanitize the user details and post it publicly.

[2020-07-13 15:22] NateWr commented on #6024
PR:
https://github.com/pkp/ui-library/pull/109 (`stable-3_2_1`)

Tests:
https://github.com/pkp/ojs/pull/2836 (`stable-3-2_1`)

[2020-07-13 15:54] alexdryden commented on #6081
@NateWr it is a fresh install with just dummy data, so I don't think there is too much to sanitize. But there were a few other people testing, so I'll send it as a DM just in case.

[2020-07-13 16:05] carzamora commented on #6057
Hi @NateWr, I can say that in my journals nobody fills the metadata for files that upload, even when some pictures have information and copyright they include the info inside the manuscript but not in the metadata.

And, some things you proposed are very interesting, and they will really improve the usability:

[2020-07-13 17:11] alexdryden opened #6088 "[OMP] Only one featured monograph is displayed"
Version: OMP3.2.0-3

Issue: Featured monographs share the same order index (1) by default unless they are explicitly reordered by the user. As a result only one featured monograph is displayed.

Steps to reproduce:

1. Start with a few books and make none of them featured.
2. Select checkboxes to make them all featured.
3. Select "View Site" and only one title is listed as featured

Here is a diff

[2020-07-13 18:10] mhvezina opened #6089 "OJS : email subject improvement when subject = Article Review Request"
_Context : OJS 3.x
(somehow related to closed issue https://github.com/pkp/pkp-lib/issues/6019)_

Just want to bring to your attention the actual suggestions in the PKP Weblate (made by [https://translate.pkp.sfu.ca/user/fgnievinski/](https://translate.pkp.sfu.ca/user/fgnievinski/)) @fgnievinski regarding email subjects :

[https://translate.pkp.sfu.ca/translate/ojs/emails/en_US/?type=suggestions]

[2020-07-13 18:29] kaitlinnewson commented on #5984
As an FYI, we do currently have this image in the Instructors guide here at the bottom of the page, but perhaps it should be added in Learning OJS as well: https://docs.pkp.sfu.ca/instructor-guide/en/setup-workflow

[2020-07-13 20:01] alexdryden commented on #6081
@NateWr you should have a link to the dbdump. And I think I found the root problem [here](https://github.com/pkp/omp/blob/e473815f8d4de18b58b8f0e14f134bd14cef656d/classes/services/queryBuilders/SubmissionQueryBuilder.inc.php#L98-L107)

`$assocIds = array(1); // OMP only supports a single press`

The issue won't reproduce on the other press that is set up on our sandbox. And it is fixed when just p

[2020-07-13 20:14] misilot commented on #5204
@librariam do you have an example of the Find and Replace line for EZproxy that you could share?

[2020-07-13 21:18] amandastevens commented on #1660
The wording can be edited with the Custom Locale plugin, but the plugin is difficult for an average user to use. I think it would be preferable if options could be edited within the configuration settings instead of by using the plugin.

[2020-07-13 22:03] mhvezina commented on #6072
I find myself constantly toggling between locale interfaces (en_US and fr_CA) that plus the fact that I often have to deal with bilingual journals (hence 2 languages for forms and submission). It can get confusing and sometimes I need a few seconds to figure out in what language is the content I have to enter...

As soon as more than 1 language (locale) is set for a Journal (for Forms), why not ha

[2020-07-14 02:05] thinkbulecount2 commented on #6054
pkp-lib PR: https://github.com/pkp/pkp-lib/pull/6090
ojs PR: https://github.com/pkp/ojs/pull/2837

[2020-07-14 07:53] awecancer commented on #6024
Thanks @jnugent. Also while improbable anyone will need this, the direct change to the build.js file would be:

`if("undefined"===typeof e || null===e) `

[2020-07-14 11:20] NateWr commented on #4895
When making this change, we can also apply [this recommendation](https://forum.pkp.sfu.ca/t/ensuring-a-blind-review-link-how-to-ensure-a-blind-review/61725) to change the "ensuring a blind review" links:

[2020-07-14 11:37] NateWr commented on #6057
Thanks @carzamora! After talking with a few people, it seems the file metadata is not widely used outside of OMP. And where it is used, it is only needed on publication rather than during submission. Some of the feedback I've gotten:

- No one knows of its use in OJS, but we would like to better support some fields, like licensing information, for supplementary files in the future.
- Part of OAI a

[2020-07-14 11:44] NateWr commented on #6024
Thanks everyone, that's been merged to the `stable-3_2_1` branch now.

[2020-07-14 11:44] #6024 closed

[2020-07-14 14:36] NateWr commented on #6054
Looks good! It was all working for me, just a few minor changes and getting this working for the right set of submission lists.

Can you change some styling in the `Badge.vue`? Where it says `padding: 0 1em;` and `line-height: 2em`, let's change that to `line-height: 1.5em` and `padding: 0.25em 1em`. This will make a two-line badge look a little better.

[2020-07-14 18:00] asmecher commented on #6085
And just a note about machine translation (e.g. Google Translate) -- Weblate does have support for this, but the services that are feasibly good (e.g. Google Translate and DeepL) require paid API access, and I would very definitely want to have everything that was proposed reviewed by a good translator. Many of our locale keys are short and very dependent on the context of scholarly publishing, so

[2020-07-14 18:14] asmecher commented on #4235
Hi @isgrim -- I can maybe help out here. The set spec is only formatted in a few places (decoded in `classes/oai/ojs/JournalOAI.inc.php` in `setSpecToSectionId` and encoded in `classes/oai/ojs/OAIDAO.inc.php`) and it's only stored in the tombstone DAO.

So correcting this would involve...
- Coming up with a good alternative to the `urlencode`/`urldecode` functions for encoding (I would suggest put