[2017-11-09 16:01] bozana commented on #2922
I'll check that too...

[2017-11-09 16:04] ajnyga commented on #2922
oh but, originally I had a htm file. I think I've seen a variable somewhere that is used to define if a file is regarded as a copy of the same file. In config.inc.php I think. But do not have a clue how it works.

[2017-11-09 16:43] bozana commented on #2922
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3034
ojs master: https://github.com/pkp/ojs/pull/1675

[2017-11-09 16:45] bozana commented on #2922
@ajnyga, these PRs solve my problem. It could be that this would solve your problem as well -- if for example the function deleteFile is called also in your case... Would it be possible for you to test? And I will continue to try to reproduce that case and to get that "possible duplication" modal... THANKS!!!

[2017-11-09 16:53] bozana commented on #2922
Ah, wait, I will have to do a correction...

[2017-11-09 17:34] ajnyga commented on #2922
Ok, let me know if there is something I can test.

[2017-11-09 17:35] lilients commented on #2575
I came across a problem upgrading the lucene plugin for OJS 3.

The hook [`SubmissionSearch::retrieveResults`](https://github.com/pkp/pkp-lib/blob/master/classes/search/SubmissionSearch.inc.php#L246) checks if a plugin returns the search results and afterwads [handles](https://github.com/pkp/pkp-lib/blob/master/classes/search/SubmissionSearch.inc.php#L291) [the result](https://github.com/pkp/pkp-l

[2017-11-09 17:46] bozana commented on #2922
OK, I think I figured it out: your case happens when there are already old files with the same file name in the DB associated with that galley, for some reason -- maybe because it was functioning wrong till now i.e. these cases found here were not considered.
In that case, first the new file is created and associated with the galley, but then, when one chooses the file to be the revision of the ex

[2017-11-09 17:48] bozana commented on #2922
I checked the galley files, but the review rounds should be also tested, s. function _attachEntities here: https://github.com/pkp/pkp-lib/blob/master/controllers/wizard/fileUpload/PKPFileUploadWizardHandler.inc.php#L322

[2017-11-09 18:35] defstat commented on #2987
@asmecher the OMP master branch had been updated along with the OJS master branch. [https://github.com/pkp/pkp-lib/issues/2987#issuecomment-340827963]. I rebased everything just now.

[2017-11-09 19:00] ajnyga commented on #2922
The pr's solve the original issue @bozana!

[2017-11-09 19:05] kaschioudi commented on #3014
https://github.com/pkp/pkp-lib/pull/3035
https://github.com/pkp/ojs/pull/1676

@asmecher @NateWr

Since a policy can return `AUTHORIZATION_DENY`under multiple circumstances, the idea here is to set an error code (`AUTHORIZATION_ERROR_BAD_REQUEST`, `AUTHORIZATION_ERROR_FORBIDDEN `, `AUTHORIZATION_ERROR_NOT_FOUND `) depending of the issue. I went through all policies and set error codes. I believe i

[2017-11-09 20:17] asmecher commented on #2987
All merged, thanks!

[2017-11-09 20:42] asmecher commented on #545
I see you've also noted this at https://forum.pkp.sfu.ca/t/error-ohs-2-3-2-pkplocale-inc-php-line-138/5400/4 -- I'll follow up there.

[2017-11-09 21:00] asmecher commented on #2575
Hooks should always return booleans; the return value defines how other registrants on the same hook will be handled. In brief...
- `false` means carry on, call other hook registrants and go about your normal business
- `true` means "I've handled this, don't do anything more"; later hook registrants won't get called, and often the hook calling code will stop doing its normal behavior (e.g. sending

[2017-11-09 21:47] asmecher commented on #2426
@NateWr, the `workType` used to define whether or not it was possible to create/assign chapters, but then we got feedback that divided-out chapters were useful for stand-alone monographs too, so we just kept it as a piece of metadata. This field is exposed via the native XML import/export, and the MODS34 schema, but otherwise it's not used anywhere. I'd suggest we consider removing it entirely, un

[2017-11-09 21:48] asmecher commented on #2426
As for editors of the whole volume: these would be the Volume Editors, which IIRC is an author role. There's also the per-chapter list of authors. Is the problem distinguishing programmatically between Author and Volume Editor roles?

[2017-11-09 22:38] asmecher commented on #2986
@ajnyga and @isgrim, thanks, those are some excellent ideas.

Two alternatives to the tables you propose, @isgrim, just for discussion's sake:

1. Don't introduce any new tables. Similar to the current ORCID implementation, use `author_settings` / `user_settings` to introduce other IDs:
[code]
    This would indicate that `author_id` 123 is `user_id` 45 (using internal IDs), and that both have ORC

[2017-11-10 07:16] ajnyga commented on #3016
Hi,

Just to make things more difficult, in our case there were both journals that had used supplementary files correctly and those that had not. In this regard I would think that having them on both by default would be a good option. But as I said above, in our part the problem has been solved already.

[2017-11-10 14:32] martibosch opened #3036 "[OJS] Untranslated label for default.groups.name.author and default.groups.name.translator"
Although the following label is correctly set as in:
[code]
it is not displayed in the browser in the `fr_FR` locale (see pic). I have already tried clearing the OJS and browser cache. The same happens for ` default.groups.name.translator' which makes me suspect that this is somehow related to the fact that both labels appear in the `registry/userGroups.xml` file.
![selection_040](https://user-ima

[2017-11-10 15:15] mfelczak opened #3038 "XML dependencies (e.g. images) not displayed in lens reader"
When an XML galley is uploaded in OJS 3.1 along with dependent files (images, figures, etc.) the references to the files need to be rewritten to OJS-specific file paths (similar to HTML galleys).

[2017-11-10 16:11] ajnyga commented on #3038
I think I have that here along with some other changes: https://github.com/ajnyga/lensGalley

[2017-11-10 16:15] bozana commented on #2922
@asmecher, could you review the PRs above?
Note that I removed the stageAssignments check for detaching the dependent files i.e. for deleteReviewRoundAssignment in deleteFile, because also the managers/editors/admins that are not assigned could delete a file. And that I then consider those 3 file stages for that: SUBMISSION_FILE_REVIEW_FILE, SUBMISSION_FILE_REVIEW_ATTACHMENT, SUBMISSION_FILE_REVIE

[2017-11-10 16:28] bozana opened #3039 "editor actions for all managers and sub-editors"
Since I have introduced the editor recommendationOnly, the editor decisions are only displayed for editors/managers that are assigned to that submission. Earlier all managers and sub-editors could do the decision. Shall this then be changed as it was -- so that all managers and sub-editors can make a decision?

[2017-11-10 16:44] asmecher commented on #3036
@martibosch, some locale keys, including these, are installed into the database when the journal is created. To change the translation, go to Settings > Users & Roles > Roles.

[2017-11-10 16:44] #3036 closed

[2017-11-10 17:26] bozana commented on #3016
Hmmm... So maybe to leave it then as it should be i.e. as galleys.
In that case, @asmecher, could you review the PR: https://github.com/pkp/ojs/pull/1667 ?

[2017-11-10 18:23] bozana commented on #3039
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3040
ojs master: https://github.com/pkp/ojs/pull/1677 (only submodule update)

[2017-11-10 18:25] bozana commented on #3039
This way, this could also happen: if an user has an editorial role that is recommendOnly and also a normal editorial role, and the user is not assigned to the submission, the user will see all action buttons, for recommendation and for decision making.

[2017-11-10 18:25] bozana commented on #3039
@NateWr, could you review this? THANKS!!!

[2017-11-10 21:15] mfelczak opened #3041 "Improve add discussion workflow for authors"
Currently authors need to manually add participants to the discussion when starting a new thread.

Based on client feedback with OJS 3.0.2 editors have reported that sometimes authors aren't aware that they need to manually add editors as participants to the discussion. As a result, the editors don't receive a task notification that a new discussion has been created and may not see the discussion

[2017-11-10 21:29] asmecher commented on #3041
Dupe: https://github.com/pkp/pkp-lib/issues/1619

[2017-11-10 21:29] #3041 closed

[2017-11-10 22:56] asmecher commented on #2538
Merged, thanks! We could argue about whether this access is overall the best policy, but it's better than a 404.

[2017-11-10 22:56] #2538 closed

[2017-11-10 23:09] asmecher commented on #2976
Hmm, this is an old can of worms and I'm trying to recall the decision-making.

Currently we have three separate "views" on the workflow, with different entry points: the "author dashboard", for authors; the "reviewer" view; and the "workflow" view, for everyone else (assistants, editors, etc).

Of these three views, the reviewer view is the only one that *doesn't* use stage assignments. This refl

[2017-11-10 23:26] asmecher commented on #2922
Looks good, @bozana, please go ahead!

[2017-11-11 00:13] asmecher commented on #3038
@mfelczak, try https://github.com/asmecher/lensGalley/commit/7a32cbc8a64d431949728a833c5a5a4fa11fb535 and let me know if that resolves the issue.

@ajnyga, I didn't use your branch because it introduces changes into the third-party code, and we're trying to avoid that; instead, I used the same approach as exists in the HTML galleys, and adapted it a little for XML instead.

[2017-11-11 00:21] asmecher commented on #2575
^ Merged that, much better!

[2017-11-11 08:25] ajnyga commented on #3038
Sure, no problem. I realized now that I have seen those changes of yours, but did not remember them anymore.

I agree that it is good to stick with unchanged third-party code. But I would like to point out that the current lensGalley plugin uses a version of lens that is made specifically for eLife articles. This means that there are different kinds of small parsers that only work with specific ki

[2017-11-11 08:51] ajnyga commented on #2976
Hi @asmecher and @NateWr

Thanks. Yes I agree that adding to the stage_assignments table could create unwanted results. Also the problem there are the multiple review rounds.

The places where we need to overcome this are probably just:
1. Showing the grid
2. Listing the possible discussion participants
3. Showing the files grid in the query form

For 1, right now I am thinking of doing a custom g

[2017-11-11 18:10] ronniebrito commented on #3007
thank you @NateWr ,

in our situation a remote galley (that don`t has a file) is always a primary galley, so just changing code as follow worked fine

[code]

[2017-11-12 10:32] #2922 closed

[2017-11-12 15:01] mtub opened #3044 "PKP bugzilla forum is dead - update old links to bugzilla issues"
* OJS: `plugins/importexport/pubmed/filter/ArticlePubMedXmlFilter.inc.php`
* `lib/pkp/classes/session/SessionManager.inc.php`
* `lib/pkp/classes/core/PKPApplication.inc.php`

these include references to issues in the old bugzilla forum, they should be removed or replaced

(Also, some locales (cs_CZ, tr_TR) refer to the bugzilla forum, maybe we should remove those lines.)

[2017-11-12 18:52] asmecher commented on #3044
@mtub, we're trying to archive Bugzilla so that the URLs stay active but having some trouble with the details.

[2017-11-13 06:55] martinpub opened #3045 "[OMP] User management blank and triggering warnings"
In a fresh install of OMP 3.1, I can't seem to be able to handle users for some reason. Visiting the user management page for a press gives an empty page (see screenshot).

![screenshot from 2017-11-13 07-47-50](https://user-images.githubusercontent.com/11042981/32713192-6e47c3dc-c848-11e7-85eb-0705fc92c3a6.png)

It also triggers the following warnings in the error log:
[code]
Any ideas?

OMP 3.1

[2017-11-13 09:52] bozana opened #3046 "getCustomTemplateKeys parameters"
the function EmailTemplateDAO::getCustomTemplateKeys is called with additional parameter Application::getContextAssocType(), but the function does not expects it and it is not necessary... Thus, fix the calls of the function, so that the custom e-mail templates can be provided in the stage participants grid notifications and reviewer form.

s. https://forum.pkp.sfu.ca/t/solved-questions-about-ojs-

[2017-11-13 10:01] bozana commented on #3046
PRs:
pkp-lib ojs-stable-3_1_0: https://github.com/pkp/pkp-lib/pull/3047
ojs ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1681 (only submodule update)

pkp-lib master: https://github.com/pkp/pkp-lib/pull/3048
ojs master: https://github.com/pkp/ojs/pull/1682 (only submodule update)

[2017-11-13 12:42] joschirr commented on #828
Sorry for my late reply.
OpenAIRE Guidelines v4 will support the DataCite fundingReference element node incl. the CrossRef funding data.
I'm not sure if it makes sense for e-journal platforms like OJS to follow these new guidelines (application profile based on DC and DataCite) or better should expose JATS by default.

[2017-11-13 12:46] joschirr commented on #828
Note that OpenAIRE already interprets funding and project grantIds / awardURIs also from other funders and funding programmes than FP7 and H2020. These two are of course most important for us but are not limited on them.

[2017-11-13 14:22] lilients commented on #2906
Thanks for the feedback and very useful ideas! @NateWr yes, I will work on this. Thank you very much for the documentation and the help offer! I will get back at you, when I am there. 👍

[2017-11-13 14:39] ctgraham opened #3049 "Backport page and op classing for body element"
3.x has some nice `body` classing to help style pages by operation:
https://github.com/pkp/pkp-lib/blob/ab606bc6ba1f4df369ee1fa046258c6c3e1a0a67/templates/frontend/components/header.tpl#L25

Backporting this into 2.4.x

[2017-11-13 15:02] #3046 closed

[2017-11-13 15:47] bozana opened #3051 "OAI record datestamp"
the datestamp of the OAI articles seems to be less than from parameter date...

s. also https://forum.pkp.sfu.ca/t/errors-validating-repository-in-openarchive/33185/9

[2017-11-13 15:52] bozana commented on #3051
PRs:
ojs master: https://github.com/pkp/ojs/pull/1684
ojs ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1685

[2017-11-13 16:13] bozana opened #3052 "consider URL encoding for oai identifiers"
The oai identifiers in OJS are formed something like this: oai:ojs-domain.net:article/1. The harvester and OAI validators could use the URL encoding for the identifiers, which would then look something like: oai%3Aojs-domain%2Enet%3Aarticle/1. In that case OJS will not recognize the identifier and return "badArgument: Identifier is not in a valid format".

s. also https://forum.pkp.sfu.ca/t/failed

[2017-11-13 16:31] bozana commented on #3052
PRs:
ojs master: https://github.com/pkp/ojs/pull/1686
ojs ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1687
omp master: https://github.com/pkp/omp/pull/467
omp omp-stable-3_1_0: https://github.com/pkp/omp/pull/468
ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1688
ojs ojs-dev-2_4: https://github.com/pkp/ojs/pull/1689

[2017-11-13 16:31] bozana commented on #3052
@asmecher, I wonder how haven't we encounter this before :-O Could you take a look, if this all make sense?

[2017-11-13 16:32] bozana commented on #3051
@asmecher, could you please double think if this is OK? THANKS!!!

[2017-11-13 16:53] ctgraham opened #3053 "OAI-PMH does not respect URLencoded identifiers as parameters"
Reported: https://forum.pkp.sfu.ca/t/failed-to-register-database-at-oai/35252

To reproduce, follow a normal OAI-PMH path, but replace an `identifier` parameter with a URLencoded version of the parameter.

The verb "ListMetadataFormats" returns:  `Error Code | idDoesNotExist | No matching identifier in this repository`.

The verb "GetRecord" returns: `Error Code | badArgument | Identifier is not i

[2017-11-13 23:28] bozana commented on #3053
@ctgraham, I believe this is a duplicate of this issue: https://github.com/pkp/pkp-lib/issues/3052, correct?

[2017-11-14 00:03] #3053 closed

[2017-11-14 04:09] t4x0n commented on #2564
Hi @asmecher,
in biology this is a very important issue because the scientific name of any species have to be write in italics each time! And now in titles appear like <em>name</em> except in TOC, as say @stranack. For resolve this is not necessary implement TinyMCE, for now is sufficient with display the title like TOC, similar to OJS 2.4

What do you think?

[2017-11-14 12:30] bozana commented on #1620
@stranack, do you mean that those should be the real checkboxes and not just icons, so that editors do not have to go to "Edit" grid row action to do that?

[2017-11-14 13:05] ctgraham commented on #3053
Yes, it is.  Good catch.

[2017-11-14 13:37] ctgraham commented on #3052
My testing of OJS 2.4.8-2 resolved fine with urlencoded identifiers.  Are you sure this is needed for 2.x?

[2017-11-14 14:01] ctgraham opened #3054 "Some test cases still reference String instead of PKPString"
In OJS 2.4.x, some test cases still reference String:: instead of PKPString:: classnames.

See:
https://github.com/pkp/pkp-lib/blob/655647849803c42ed4bbe795cf4c4e996db8b762/tests/classes/core/StringTest.php

https://github.com/pkp/ojs/blob/20a9ad5bd99486faba70a0648cfce3aa12f38a43/tests/functional/plugins/importexport/medra/FunctionalMedraExportTestCase.php

https://github.com/pkp/ojs/blob/20a9ad5b

[2017-11-14 15:17] bozana commented on #3052
Hmmm... Yes you are right @ctgraham. Strange...

[2017-11-14 15:29] pkel opened #3056 "Navigation Config vs Static Pages"
I'm testing OJS 3.1 checked out from git tag `ojs-3_1_0-0`. The navigation configuration at *Navigation Menus > Navigation Menu Items >  Add Item* under `/management/settings/website` provides the option *Custom Page*. One can configure a path `/navigationMenu/view/%PATH%` there and then link it to a menu menu button.

On the other hand, I have another tab called *Static Pages* where I can configu

[2017-11-14 15:42] bozana commented on #3052
Ah, I've figured it out -- the solution should be different. The PR changes are coming...

[2017-11-14 15:45] mfelczak commented on #3038
Thanks @asmecher, that looks to have fixed it.

[2017-11-14 16:01] NateWr commented on #3014
I just had a very quick glance. The status codes look good, but we're still replying with HTML code. Is there any way to allow the API to respond with JSON, and for us to be able to inject a useful error message with the API response?

[2017-11-14 16:07] NateWr commented on #2426
Yes. Both are just user groups with the `Author` role. I worked last week on a solution that would add a configurable option to a user group to display those users as editors of edited volumes. But it's more than a little confusing to have a user group "Volume Editor" and still have to select the display mode.

It also required a lot of new code because I had to split several classes and DAOs from

[2017-11-14 16:13] NateWr opened #3058 "Compile source maps with CSS files"
http://lessphp.typesettercms.com/#source-maps

[2017-11-14 16:23] bozana commented on #3052
@ctgraham, thanks a lot!!!

[2017-11-14 16:23] ctgraham opened #3060 "PKPOAIDAO.inc.php syntax error"
PKPOAIDAO.inc.php doesn't lint after:
https://github.com/pkp/pkp-lib/commit/795d977ae371b01bb5c90c962d204d1f53e28beb#diff-8f87d727a18d5be12270fbd8a41acb99
[code]

[2017-11-14 16:24] bozana commented on #3052
@asmecher, could you take a look at the PRs above?

[2017-11-14 16:28] NateWr commented on #2976
The only thing I can think of is the introduction of workflow tasks with due dates (ie - copyedit these files, due by X). This may make stage assignments a bit more similar to review assignments, but wouldn't require they be merged. So yeah just keep as-is I guess.

[2017-11-14 16:55] ajnyga commented on #2976
I will keep them separate and when it is closer being finished we can evaluate it again. I have some more additions coming tomorrow and will try to include the conditional discussion grid authentication as well. I am including #2717 as well.

[2017-11-14 17:07] bozana commented on #2571
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3061
ojs master: https://github.com/pkp/ojs/pull/1694

[2017-11-14 17:08] bozana commented on #2571
@NateWr, could you review the PRs? THANKS!!!

[2017-11-14 17:34] bozana opened #3062 "wrong element attributes in oai_marc"
The OAI format oai_marc changed in OJS 2.4.6: the XML formatting i.e. construction was excluded to the new template record.tpl (s. https://github.com/pkp/ojs/blob/ojs-stable-2_4_6/plugins/oaiMetadataFormats/marc/record.tpl). For some reason the new template contains wrong element attributes: `tag`, `ind1`, `ind2` instead of `id`, `i1` and `i2` (s. https://github.com/pkp/ojs/blob/ojs-stable-2_4_5/p

[2017-11-14 18:20] ctgraham commented on #3062
I think the `tag`, `ind1`, and `ind2` are transposed from the corresponding attributes from marcxml.

[2017-11-14 19:40] asmecher commented on #3062
@bozana, I think @ctgraham's interpretation is probably right.

[2017-11-14 19:48] asmecher commented on #3038
Thanks, closing!

[2017-11-14 19:48] #3038 closed

[2017-11-14 19:50] asmecher commented on #3054
Merged, thanks!

[2017-11-14 19:50] #3054 closed

[2017-11-14 20:11] ctgraham commented on #3060
Resolved courtesy of https://github.com/pkp/ojs/pull/1690

[2017-11-14 20:11] #3060 closed

[2017-11-14 20:12] asmecher commented on #3052
Good spotting, it looks like I removed a required reference thinking it wasn't necessary. I'll add a note in the code to help prevent this from happening again.

[2017-11-14 20:13] #3052 closed

[2017-11-14 21:12] bozana commented on #3062
OK, I can then turn it back... THANKS!!!

[2017-11-14 21:19] ctgraham commented on #3062
@bozana, do you mean revert to the code before the template?  I think we want to keep the template but change the attributes.  I made a [commit](https://github.com/ulsdevteam/ojs/commit/027dbf8b2f2e7cbf16bb07f34e6baed48635f044) to do that in 2.4.x, but got sidelined while trying to write the test case.

[2017-11-14 23:35] stranack opened #3063 "Allow authors to delete from revisions grid"
Currently, authors can upload to the revisions grid, but cannot delete.

They should have this ability, for cases when they accidentally upload the wrong file.

[2017-11-15 03:48] t4x0n opened #3064 "[OJS] TinyMCE can't upload an image"
Hi,
I found an issue in OJS 3.1, I can not upload an image to a Custom Block (edited: in all TinyMCE):

I'm here trying to upload a little 2 Kb image, but:
![image](https://user-images.githubusercontent.com/5422984/32817671-d026e2f8-c99d-11e7-8023-d841b06c01d2.png)

next, the message about some error:
![image](https://user-images.githubusercontent.com/5422984/32817676-dd29eec8-c99d-11e7-97a5-2d46d

[2017-11-15 05:21] t4x0n commented on #3064
really is in all TinyMCE textarea

[2017-11-15 08:06] kaschioudi commented on #3014
@NateWr @asmecher Here are links to new PRs.

https://github.com/pkp/pkp-lib/pull/3065
https://github.com/pkp/ojs/pull/1698

[2017-11-15 08:15] kaschioudi commented on #3014
looking into this.

[2017-11-15 08:16] bozana commented on #3062
Ah, yes, that is what I thought :-) Thanks @ctgraham! Maybe we can then first merge/fix that and then later write a test? One thing still to change: `varfield` should be used instead of that one `dataField` (dataField is not known in that schema)...

[2017-11-15 08:35] bozana commented on #3064
@t4x0n, could you try to clear/delete your cookies? -- Maybe it is related to this issue: https://github.com/pkp/pkp-lib/issues/1919, that is fixed, but before working the old/wrong cookies have to be removed... Maybe...

[2017-11-15 08:59] bozana opened #3066 "viewPlugin in the plugin gallery for journal managers"
If a journal manager would like to view a plugin info in the plugin gallery, the AJAX error is displayed, because the ActionLink is missing.
s. https://forum.pkp.sfu.ca/t/failed-ajax-request-or-invalid-json-returned-when-installing-plugin/34989/

[2017-11-15 09:10] bozana commented on #3066
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3067
ojs master: https://github.com/pkp/ojs/pull/1699 (only submodule update)

pkp-lib ojs-stable-3_1_0: https://github.com/pkp/pkp-lib/pull/3068
ojs ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1700 (only submodule update)

[2017-11-15 11:45] #3066 closed

[2017-11-15 14:05] NateWr commented on #3028
The PRs look good. Just a few minor comments. A couple additional thoughts:

1. I don't know how much we want to put into this, but I wondered if we could automatically link up URLs in the references? Particularly for DOIs.

2. I noticed that numbers get stripped from the beginning of a reference. Will this cause problems for journals that publish with numbered references (ie - Endnotes/Footnotes)

[2017-11-15 14:35] NateWr commented on #3039
I'm getting an error with this code. I've assigned a recommending editor as the only editor for a submission. When I visit as that editor, the decisions appear. When I visit as an admin or journal manager, the decision buttons fail to load with the following error:

[code]

Also, I wasn't able to reproduce the initial problem. In `master`, I can take a submission and assign only a recommending edi

[2017-11-15 14:58] bozana commented on #3039
Hmmm.... I will take a look at the error...

Hmmm.... If an editor was assigned to a submission, I did not see the review actions/decisions when logged in as another editor...

[2017-11-15 15:10] NateWr commented on #2571
👍

1. It only seems to check the primary locale. If I include a short abstract in the primary locale and a too-long abstract in a secondary locale, the form submits without an error.

2. It'd be great if we can show the current abstract length as they type. It looks like there's a [wordcount plugin](https://www.tinymce.com/docs/plugins/wordcount/) for tinymce. Maybe that will do the trick? If not,

[2017-11-15 15:17] bozana commented on #3028
Thanks a lot @NateWr! I'll go through the suggestions/comments...

I can try to do that.
After this is merged, I will work on Crossref reference linking: the extracted citations will be registered at Crossref and then the Crossref will search for the citations DOIs and return them back. Then we will have to add  the found DOIs at the end of the citations. I am not sure what to do in case where a c

[2017-11-15 15:20] bozana commented on #2571
Thanks a lot @NateWr! I'll take a look...

[2017-11-15 15:27] NateWr commented on #3028
Actually, it'd be good if we can replace the URLs in the reference text where they exist, instead of appending them, since everyone will have their own preferred citation style.

Sure, we can add more logic if it's actually a use-case.

[2017-11-15 15:39] t4x0n commented on #3064
@bozana I try with Firefox, Safari and Chrome in Mac but this is not the problem, even I try to change the permission folder to 777 but still not working

[2017-11-15 18:54] bozana commented on #2571
@NateWr, I considered all suggestions (except providing the wordCount parameter in the form validation message, because this is not possible at the moment). Could you take a look?
I tried to made the wordcount plugin generic for textareas, but I could also only consider the id^='abstract-'... if so wished...

[2017-11-15 22:13] asmecher commented on #3051
As noted [here](https://github.com/pkp/ojs/pull/1685#issuecomment-344745882), this is a parallel to a fix already committed elsewhere. Thanks, @bozana!

[2017-11-15 22:19] asmecher commented on #2564
@t4x0n, the problem comes when we provide data to 3rd-party services/tools, like Google Scholar, OAI-PMH, CrossRef, etc. Most of those will expect plaintext, not HTML, and most authors will expect to have to enter plaintext, not HTML. If we standardize on accepting HTML, then it'll be necessary to strip tags from the feeds that go to 3rd-party standards. But without a tool like TinyMCE to facilita

[2017-11-15 23:53] asmecher commented on #3016
@bozana, please go ahead. I'm still curious whether PKP hosting is maintaining a patch for different behavior when upgrading installs with supplementary files they don't want published -- @mfelczak, any idea?

[2017-11-16 00:03] asmecher commented on #3045
@martinpub, is there anything in your log beyond those warnings? You may have a separate PHP error and Apache error log -- make sure you're checking both.

[2017-11-16 00:07] asmecher commented on #3028
@bozana, sorry to be coming at this late, but I think that without the citation assistant the citations table etc. will never get populated. Citation data should still be available per the `submissions.citations` column, as filled in from the metadata form, but we don't have anything in OJS to replace the citation assistant in terms of parsing/using more fine-grained citation information. At a hig

[2017-11-16 00:46] asmecher commented on #3004
@t4x0n, easily done!

[2017-11-16 00:46] #3004 closed

[2017-11-16 00:59] asmecher commented on #3008
@MarHerUMR, could you point me to an example or two?

[2017-11-16 01:00] asmecher commented on #3011
Sorry, @MarHerUMR, I think I'm probably operating at lower-than-normal capacity :) but can you provide a motivating example?

[2017-11-16 01:56] asmecher commented on #2976
@ajnyga, your plan makes sense to me -- but I do worry about reviewers being confused about having both the review grid and the discussions tool. Is it worth considering *just* giving them access to the reviews area, and excluding them from the discussion tool? We might need to clarify the role of the discussion tool as post-review, i.e. an internal discussion to the journal/press.

Alternately, h

[2017-11-16 02:22] asmecher commented on #2976
(One way to avoid confusion could be for the discussions tool only to show up when a reviewer has been assigned to a discussion? Or when the review is closed?)

[2017-11-16 05:35] ajnyga commented on #2976
Hi @asmecher,

Once the discussions grid is displaying in the reviewer workflow without problems (almost there, I am maybe through the security policy jungle now) it should be fairly easy to place it anywhere we find suitable.

I agree that adding more features to the reviewer workflow is risky because we need it to be as clear as possible. I think that it is easier to discuss this once the grid i

[2017-11-16 08:27] kaschioudi commented on #3014
@NateWr See https://github.com/kaschioudi/pkp-lib/commit/17f3330238dd50efa26ba758e6797fe1396743b6

[2017-11-16 10:25] NateWr commented on #3014
🎉

[2017-11-16 10:26] NateWr commented on #3014
I think @asmecher will need to do the code review on this since I'm not great on the authorization stuff. But really happy to be able to deliver proper error messages with the REST API.

[2017-11-16 10:52] NateWr commented on #2571
Cool! Nice to be able to tack on the word count to any rich text area.

I was hoping the word count plugin would support a max-length setting so that it turned red or something when exceeded, but I think this will do the trick for now.

I'm running into an issue with the word count disappearing when the field is reloaded as part of an error.

![image](https://user-images.githubusercontent.com/2306

[2017-11-16 10:58] martinpub commented on #3045
@asmecher Hmm, the warnings are written to /var/log/apache2/error.log, and I have set the php.ini according to [your instructions here](https://github.com/pkp/pkp-lib/issues/904#issuecomment-340114893). I can't seem to get any more output in the logs than what's already posted.

[2017-11-16 12:00] NateWr commented on #2426
The following PRs:

1. Add an option when creating a user role to identify the role as an editor of edited volumes.
2. Expose the `workType` selection in submission metadata form.
3. When a contributor is added to an edited volume, they can be identified as an editor. Those assigned a role with the option (1) will automatically have that selected. But it can be overridden if desired.
4. Contributo

[2017-11-16 13:17] t4x0n commented on #2564
@asmecher I understand, but maybe an option can would whether for 3rd-party offer a XML file instead of HTML?  ...I don't know, I am thinking in SciELO system, here an example article: http://www.scielo.cl/scielo.php?script=sci_arttext&pid=S0717-66432017000100001&lng=es&nrm=iso&tlng=en

[2017-11-16 14:40] NateWr commented on #2872
@asmecher Ok I think I've got them all as we discussed in https://github.com/pkp/pkp-lib/pull/2985.

PRs:
https://github.com/pkp/pkp-lib/pull/2985
https://github.com/pkp/ojs/pull/1704
https://github.com/pkp/pdfJsViewer/pull/20
https://github.com/NateWr/browseBySection/pull/2
https://github.com/asmecher/lensGalley/pull/17
https://github.com/pkp/orcidProfile/pull/27
https://github.com/pkp/staticPage

[2017-11-16 14:46] bozana commented on #2571
Great catch @NateWr!!!
I had to add the wordCount as a form filed and to read it in readInputData. Two new commits came. It should work now :-)

But, I figured out something else: the problem was not visible in the submission metadata form, because this form is always reloaded anew, s. https://github.com/pkp/pkp-lib/blob/master/controllers/tab/publicationEntry/PublicationEntryTabHandler.inc.php#L1

[2017-11-16 14:57] NateWr opened #3070 "Author names can be exposed to some reviewers"
If a reviewer also has an author role, they will be shown the author's name in the submission list.

Reported: https://forum.pkp.sfu.ca/t/ojs-3-1-reviewer-can-see-author-name-after-review-complete/35344/10

[2017-11-16 14:58] MarHerUMR commented on #3008
@asmecher sure.

I'm working on a plug-in adding meta tags for Twitter Cards and the open graph protocol. One of the items for Twitter Cards is the _twitter:site_ property. On the settings form you should be able to state the Twitter handle the Twitter Card should be attributed to. So right now I have a _fbvElement_ of type _text_ with the label translating to "The Twitter username the card should

[2017-11-16 15:42] MarHerUMR commented on #3011
I have a form field where you can enter the url to your facebook profile / facebook page representing your journal. I've added two validators to the form field. One validating the url as a url and a regex validator to make shure it is a Facebook url. On either error I want to tell the user to use a valid Facebook url. With the data-msg-url it would be possible to present the user the hint about th

[2017-11-16 15:51] t4x0n opened #3071 "[OJS] forms counter doesn't change"
In review tab, exist two counter for determinate the current use of review forms, but the numbers don't change. The idea es great but always shows all as Completed and In Review, at the same time. This is important because if someone need disable a form (to change it) is important made it only if the reviews are finished.

![image](https://user-images.githubusercontent.com/5422984/32899033-93803ec

[2017-11-16 16:57] #2964 closed

[2017-11-16 18:24] asmecher opened #3072 "Prevent range requests"
See https://forum.pkp.sfu.ca/t/pdf-not-display/30369/14 for details.

[2017-11-16 18:25] asmecher commented on #3072
(There's also a suggested range-enabled readfile implementation at http://php.net/manual/en/function.readfile.php.)

[2017-11-16 19:43] asmecher commented on #2564
@t4x0n, I think the "proper" solution actually won't be so much work -- mostly it's just finding a configuration of TinyMCE that looks good when used to replace an `<input type="text">` element.

[2017-11-16 19:47] asmecher commented on #2872
@NateWr, are you sure this covers all the required cases? I think a lot more form classes will be affected:

[code]

[2017-11-16 19:48] asmecher commented on #3045
@martinpub, hmm, I'm not sure why a useful error message wouldn't show up there somewhere. Can you try inspecting the request/response using a browser-based developer toolset, such as Firebug for Firefox? (Most modern browsers have developer tools built in.) I'd be interested in the response for the request that's supposed to render that tab -- it should be pretty much the last one listed.

[2017-11-16 20:07] asmecher commented on #3014
@kaschioudi, did you run into the authorization framework's "advice" construct? I suspect it'll be possible to extend that rather than implementing another strategy. See e.g. the constructor in `lib/pkp/classes/security/authorization/internal/SubmissionRequiredPolicy.inc.php`.

[2017-11-16 20:43] t4x0n commented on #2564
mmm ok!  But @asmecher, that does not resolve the 3rd-party standards, right?

in OJS 2 we just put html tags for italics and was not a problem, but TinyMCE is probably a better solution, I am not familiar yet with the OJS code, so when I try for a similar solution to another issue I can’t was it :/  thanks for the reply!

[2017-11-16 20:50] asmecher commented on #2564
If we had TinyMCE support in the title fields...
- Authors would be able to naively type <, >, and & characters and they'd be HTML-encoded properly
- Authors could use the WYSIWYG tools to enter rich content without needing to know HTML, or paste them in from rich-capable sources
- OJS would predictably know all stored titles were in HTML, so
  - it could down-convert to plaintext when needed (the

[2017-11-16 20:55] vmozer77 opened #3073 "Sub-editor can skip the entire review process"
Hello, I have been playing around with the subeditor role and found out that if the person has access to the submission stage, they can skip the entire review process by clicking the Accept and skip review button there. In the review section they have available only the Make recommendation button.

I would suggest that the sub-editor level of permission can only make recommendations during all sta

[2017-11-16 20:56] t4x0n commented on #2564
Excellent! I did not know that the system can convert html to plain text!

[2017-11-16 21:01] asmecher commented on #3008
Sure, I think that's a good idea. Note that we're not especially happy with the form builder vocabulary toolset, and are liable to replace it down the road, but this is a minor change that could be accommodated in whatever replaces it.

[2017-11-16 21:02] asmecher commented on #3011
OK, that makes sense too. As I noted at https://github.com/pkp/pkp-lib/issues/3008 I'm hesitant to invest too much time in refining the form builder vocabulary toolset, but I'd be happy to review and merge a contribution that accomplished this.

[2017-11-16 21:12] asmecher commented on #2976
Sure, we can run some UI/UX tests on it.

[2017-11-16 21:47] asmecher commented on #2426
@NateWr, I'm sorry to say that your last proposal does sound a lot less complicated :( especially since this accentuates the differences between OJS and OMP. The less code that does that, the better.

[2017-11-16 21:54] asmecher commented on #2955
Yes, "sortable" appears to be dead code, and even going back to the first release of OMP (where this code was first introduced) it doesn't appear to be used. I'd suggest removing it throughout.

[2017-11-16 22:03] asmecher commented on #2714
Yep, that makes sense to me.

Is there a repo/PR with the code open? I don't see anything linked here.

[2017-11-16 22:06] asmecher commented on #2997
I think there are a couple things here that are potentially "out of spec"...
- Plugins without `en_US` locales. Some areas of the system (e.g. the translator plugin) expect English to be always available.
- Plugins overriding built-in locale keys. There was a recent discussion about this on the forum, but basically, whether or not locale keys can be overridden predictably will depend a lot on when

[2017-11-16 22:38] martinpub commented on #3045
I see @asmecher, I will check with Firebug or similar.
________________________________
Från: Alec Smecher <notifications@github.com>
Skickat: den 16 november 2017 20:48:59
Till: pkp/pkp-lib
Kopia: Martin Persson; Mention
Ämne: Re: [pkp/pkp-lib] [OMP] User management blank and triggering warnings (#3045)

@martinpub<https://github.com/martinpub>, hmm, I'm not sure why a useful error message wouldn

[2017-11-16 23:04] kaschioudi commented on #3014
@asmecher I have explored `setAdvice()` feature and did not use it because it's not granular in the sense that the call back function will get called whenever there's a denial. But it won't be possible to distinguish between 400, 403 and 404 errors.

[2017-11-17 06:55] GrazingScientist commented on #3072
Your solution worked perfect! Thanks! 👍

[2017-11-17 08:21] martinpub commented on #3045
OK, it seems there is a js error, which explains why the PHP error log doesn't give anything:

[2017-11-17 09:51] ajnyga commented on #2564
Hi,

Basically this should do it: https://github.com/pkp/pkp-lib/pull/3074

However, I noticed that there is a bug in the code that probably preventes the custom toolbar of being used.

For example the abstract field should use a special "rich" toolbar

It is called here:
https://github.com/pkp/pkp-lib/blob/master/templates/submission/submissionMetadataFormTitleFields.tpl#L23

And defined here:
ht

[2017-11-17 09:56] le-ti-ka commented on #2612
Hi, Nate

We prepared Russian context help for our editors and even switch it on for our OJS 3.1 installation. It works. If it'll be usefull for you, we'll be glad.

Elena Titova
Kazan National Research Technical University, Kazan, Russia

[2017-11-17 10:12] ajnyga commented on #2818
https://forum.pkp.sfu.ca/t/orcid-profile-plugin-setting-is-not-working-sitewide-in-ojs3-1/35410

[2017-11-17 10:31] NateWr commented on #2872
No, it only addresses frontend templates mentioned in the list [here](https://github.com/pkp/pkp-lib/pull/2985#issuecomment-341480181). I can work on covering every backend template as well, but I'll probably have a hard time testing most as I've never used them.

[2017-11-17 10:33] NateWr commented on #2426
👍 I'll work that up.

[2017-11-17 10:36] bozana commented on #2955
@asmecher, do you mean to totally totally remove it from OJS and OMP?

[2017-11-17 10:44] NateWr commented on #2564
It's been a long time since I fiddled with that so I don't have an idea off the top of my head. I'd check that the `$FBV_rich` variable is being set properly, and that the `bullist` and `numlist` buttons are the right names.

[2017-11-17 10:44] t4x0n commented on #2564
@ajnyga for me is the same, I am not seeing the bullist and numlist buttons in 3.1, and upload image is not working for me either #3064

Some days ago, I was trying to generate another toolbar for this issue #2979, a toolbar without JBImages, but I can't be made it... maybe is the bug as you say

[2017-11-17 10:48] NateWr commented on #2612
Hi @le-ti-ka, are you talking about the in-context help panel that slides out from the right in OJS? If so, you can contribute a translation to that repository here: https://github.com/pkp/ojs-user-guide

[2017-11-17 10:49] ajnyga commented on #2564
hmm, maybe it is missing plugins: https://community.tinymce.com/communityQuestion?id=90661000000If5QAAS

[2017-11-17 10:58] ajnyga commented on #2564
Ok, so the richToolbar is definitely loading, Just without those two buttons. I added them to the list of plugins, but it does not seem to make a difference.

It is the richToolbar because it includes the superscript button which the default toolbar does not have.

But something is wrong there anyway, but I do not have the time to look at it just now.

[2017-11-17 11:07] MarHerUMR commented on #3011
OK, I will have a look into it over the weekend. Hopefully I can contribute for both issues. Do you have, of the top of your head, a suggestion what documentation (besides the fbv wiki page) I should read before getting into it?

[2017-11-17 11:24] NateWr opened #3075 "Submissions with completed review assignments should move to reviewer's archive list"
The due dates go away, but there's no "complete" indicator. Also, a completed review assignment doesn't get moved to the archive for reviewers, even though their role is done.

[2017-11-17 11:41] NateWr commented on #3070
@asmecher PRS:
https://github.com/pkp/pkp-lib/pull/3076
https://github.com/pkp/ojs/pull/1705
https://github.com/pkp/omp/pull/471

The OJS/OMP PRs are just submodule updates.

[2017-11-17 12:15] NateWr commented on #2571
👍 Works well now. I left just a couple final comments on the PRs.

Yes, one of my big goals with Vue.js is to refactor our form handling to address some of these issues.

[2017-11-17 12:41] NateWr commented on #2571
Oh, I forgot to mention another issue I ran into: I could exceed the word count by a little bit. I found I could get the tinymce word count to read 120, and successfully submit the abstract, even though I had set the word limit to 100. Probably some discrepancy in how the count is being calculated.

[2017-11-17 12:43] bozana commented on #2571
Ah, yes, I've forgotten to check that... :-\ I'll take a look. Thanks a lot!!!

[2017-11-17 13:05] bozana commented on #3062
PRs:
ojs-dev-2_4: https://github.com/pkp/ojs/pull/1701
ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1707
ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1708
master: https://github.com/pkp/ojs/pull/1709

[2017-11-17 15:39] NateWr commented on #2872
Ok, I think I've got all of them except the PayPal plugin. I wasn't sure what is happening here:

https://github.com/pkp/ojs/blob/master/plugins/paymethod/paypal/PaypalPaymentForm.inc.php#L32

As far as I can tell, that `paymentForm.tpl` that's referenced is not in the plugin itself. I did find one under the OJS templates directory: https://github.com/pkp/ojs/blob/master/templates/payments/payment

[2017-11-17 15:41] mfelczak commented on #3016
Hi @asmecher and @bozana , yes it would be very helpful to have the option to not publish supp files during upgrade. Many OJS2 editors have been using these to collect additional submission files for internal use.

[2017-11-17 16:11] mfelczak opened #3078 "Published article title formatting tags escaped"
When an editor adds e.g. italics to an article title, these are correctly rendered when editing the submission but the tags are escaped when the article is published (screenshots attached).

Submission management:
![submission](https://user-images.githubusercontent.com/200793/32956807-e8baacf0-cb87-11e7-9dbe-94cefc6b7d00.png)

Article landing page:
![article](https://user-images.githubusercontent.

[2017-11-17 16:18] asmecher commented on #3078
Dupe! https://github.com/pkp/pkp-lib/issues/2564

[2017-11-17 16:18] #3078 closed

[2017-11-17 16:21] asmecher commented on #3072
Committed, thanks for confirming!

[2017-11-17 16:21] #3072 closed

[2017-11-17 16:21] ajnyga commented on #2976
Hi @asmecher (and @NateWr if you are still interested in sticking around)

The discussions grid is almost ready now.

The problem with the grid was https://github.com/pkp/pkp-lib/blob/ojs-stable-3_1_0/classes/security/authorization/WorkflowStageAccessPolicy.inc.php which gets called from several places.

I first tried to create a reviewer specific grid handler and actually got quite far with that

[2017-11-17 16:25] asmecher commented on #2955
I suspect this goes way back to the original OMP spec. I don't recall what Sortable was for -- perhaps @stranack or @willinsky? If neither can remember, I think we can safely remove it.

[2017-11-17 16:27] asmecher commented on #3011
No suggestions; I think the form builder vocab code is a little contorted but not especially deep.

[2017-11-17 16:39] mfelczak commented on #2564
Hi @asmecher, it also looks like we have inconsistent escaping of the article title, i.e. in the issue TOC we have `$article->getLocalizedTitle()|strip_unsafe_html` whereas in the article summary we have `$article->getLocalizedTitle()|escape`

[2017-11-17 17:40] asmecher commented on #3045
Is this an install from git, or from the .tar.gz file?

[2017-11-17 20:01] asmecher commented on #2564
@ajnyga, the reason the lists tools weren't being displayed was that the `lists` plugin was missing from TinyMCE's initialization. I've added it: https://github.com/pkp/pkp-lib/commit/0c3d3ecbb31b336bc9e116b8e3a81d72a0224ce6

[2017-11-17 20:05] ajnyga commented on #2564
Hi,
Yes, I tried that as well, but could not get it to work. Maybe it was a cache issue or something,

Anyway, I understood from the link above that advlist plugin is also needed. But is it workign without it as well?

[2017-11-17 20:10] asmecher commented on #2564
I got the tools to display with the changes I committed (on a control that was set to `rich="extended"`). You'll need to turn off minification (so your uncompiled Javascript is read instead of the compiled version) and flush the browser cache for changes to appear.

[2017-11-17 22:33] asmecher commented on #2863
I couldn't replicate the problem either, and from the thread it's possible that the user has resolved this through another means.

[2017-11-17 22:33] #2863 closed

[2017-11-18 03:34] t4x0n commented on #3064
update: now just OJS 3.1 upgrade from 2.8.4 is the unique with this issue. I don't know how, but others two installations were fixed themselves

[2017-11-18 04:48] t4x0n commented on #3073
I was going to say the same thing... in OJS 3.1 was incorporated recommend option #2433  but only for review stage, at Submission tab they could yet Accept the manuscript and skip the Editor in Chief decision.

what do you think @NateWr?

[2017-11-18 06:03] ajnyga commented on #2976
Note that I added a "login as" action to the reviewer grid, mentioned here: https://github.com/pkp/pkp-lib/issues/2508. Sorry, could not resist because while testing I was using it a lot.

[2017-11-18 12:40] martinpub commented on #3045
@asmecher It's a git install.

[2017-11-18 14:40] asmecher commented on #3045
Did you build the Node dependencies? I suspect they're missing.

[2017-11-18 14:56] martinpub commented on #3045
My bad, missed that part of the install instructions. It's working now, thanks for helping out @asmecher!

[2017-11-18 14:56] #3045 closed

[2017-11-18 15:00] t4x0n commented on #3064
Well, I finally can upload an image in OJS 3.1 upgraded from 2.8.4 version... I just needed to add the "site" folder inside "public" folder (for some reason, this was not automatic)

[2017-11-18 15:00] #3064 closed

[2017-11-18 17:04] ajnyga commented on #2976
With participant list in the query form I am now using the following logic:
- In open reviews: all users see eachother, including the reviewers, the see eachother (what do you think?)
- in blind reviews:  authors only sees the editors; reviewers see the editors; editors see everybody
- in mixed reviews (both blind and open): authors only see editors on open reviewers: blind reviewers only see edit

[2017-11-18 21:16] willinsky commented on #2955
I can imagine that there was an idea that in OMP files associated with a book chapter might end up being uploaded out of order and that such files would need to be grouped and sorted by chapter. If we have a drag and drop means of re-ordering files or if we upload to a chapter folder, then we're good.

[2017-11-19 16:55] defstat opened #3080 "NavigationMenus - Custom Page Error on Site level"
See https://forum.pkp.sfu.ca/t/upgrade-ojs2-to-ojs31-errors-occurred-in-the-backend

[2017-11-19 17:13] defstat commented on #3080
@asmecher

pkp-lib: #3081
ojs: pkp/ojs#1711
OMP: pkp/omp#472

[2017-11-19 17:48] defstat commented on #3080
@asmecher

pkp-lib: #3082
ojs: pkp/ojs#1712

[2017-11-20 08:49] #3062 closed

[2017-11-20 08:51] bozana commented on #3016
I will close the issue, but maybe @jmacgreg and @mfelczak can however write it here then. Eventually we could provide an explanation here what is to be done/changed a) if supp files should not be migrated, b) if they should be migrated only as submission files (and not galley files).

[2017-11-20 08:51] bozana commented on #3016
Oh, I see now the message from @mfelczak...

[2017-11-20 08:54] bozana commented on #3016
I will then provide an explanation, eventually a patch, how to change the code. The only thing that I cannot do is the general fix/explanation if the situation is journal specific, in an multi-journal installation...

[2017-11-20 09:09] bozana commented on #3073
Hmmm.... maybe then to disable that action for those roles/groups being recommendOnly?

[2017-11-20 11:38] NateWr commented on #3073
@bozana That sounds good. Was the recommendOnly option intended just for the review stage, or does it work on all stages?

[2017-11-20 11:52] vmozer77 commented on #3073
If possible, I would recommend having the recommend only option relevant to all stages / actions as this would make the entire process (from submission to publication) much more flexible. I understand that this means more work to address this issue, though.

[2017-11-20 16:05] NateWr commented on #2426
@asmecher Ok, I did it this way. I decided to put it into the catalog entry form, since it doesn't reflect metadata. What do we need to do for the upgrade scripts? We now display authors with a `isVolumeEditor` setting in the database. Should we add all authors to this automatically, or require people to set them manually on upgrade?

PR:
https://github.com/pkp/omp/pull/473

[2017-11-20 16:24] bozana commented on #3073
Yes, originally, the recommendOnly was meant to be just for review stage... I'll investigate what is needed for other stages...

[2017-11-20 16:25] NateWr commented on #2714
I haven't yet done any frontend styling, but it's all working fine off of this plugin, which I've just transferred to PKP control: https://github.com/pkp/browseBySection

If/when you're happy with the implementation, I can work up support in the default/manuscript/bootstrap themes.

[2017-11-20 16:57] NateWr commented on #2759
Here are some PRs incorporating @paflov's fixes:

https://github.com/pkp/pkp-lib/pull/3083
https://github.com/pkp/omp/pull/474

@bozana could you code review? (Thanks again @paflov!)

[2017-11-20 17:08] NateWr commented on #2662
Work was done on this in #2759

[2017-11-20 17:08] #2662 closed

[2017-11-20 17:10] NateWr commented on #2199
What could it be tied to? Should we instead defer the status change until the published date is reached?

[2017-11-20 17:14] t4x0n commented on #3073
thanks for consider it!

[2017-11-20 17:18] #2578 closed

[2017-11-20 19:15] ajnyga commented on #2976
I added the reviewer grid to the author dashboard. It only shows when open reviews exist.

@NateWr while testing I noticed that in the editor workflow the "Thank reviewer" linkaction is not working. I think that my changes here do not affect that so is there a bug in 3.1 there?

[2017-11-21 00:32] asmecher opened #3084 "Verify incomplete submissions behavior"
Currently incomplete submissions appear in the "All Active" list (e.g. for Editors).
In previous releases of OJS, incomplete submissions would only appear for the author who had started the submission.
If this was an intentional change, there will likely need to be some policy changes to permit access to incomplete submissions by users other than those who began submitting.
If it was an unintentio

[2017-11-21 03:11] t4x0n commented on #3084
Hello @asmecher, I want to tell you that I liked this way of seeing the incomplete submission, for the following reasons:

- A few days ago a user made three attempts to send and only one was actually sent or successfully, but two more were left as incomplete, that as Admin or Chief Editor I could delete them
- I was able to help a user to complete her submission because she had doubts about how t

[2017-11-21 06:43] vmozer77 commented on #3073
@bozana Thank you very much for considering it. Maybe for now a simple email notification of a higher-level editorial staff upon action of sub-editor would be sufficient and further tweaking can be done in the future.

[2017-11-21 09:09] bozana commented on #3051
That last change should probably go to the 3.1.0-1. I will make a PR...

[2017-11-21 09:13] bozana commented on #3015
One question maybe: I allow all characters for genre/component keys. Do you maybe see any problem in there? -- e.g. when I check that they are unique. @asmecher, @mfelczak ?

[2017-11-21 09:40] bozana commented on #3015
@asmecher, could you code review the PR above?

[2017-11-21 10:35] NateWr commented on #2976
Maybe.

[2017-11-21 11:01] NateWr commented on #3084
@asmecher Yes, this was part intention, part inertia. Intentional for the reasons that @t4x0n describes. Inertial because they have `STATUS_QUEUED` and are technically in the submission stage, and it makes the filtering much simpler to just include them.

They appear at the bottom of the All Active list, so shouldn't be "in the way". Only Admins and Journal Managers have access to this list. Both

[2017-11-21 11:31] NateWr commented on #3070
Thanks for the code review, @asmecher. Just the one query left on [when to consider something published](https://github.com/pkp/pkp-lib/pull/3076#discussion_r152238299).

[2017-11-21 12:25] NateWr commented on #2994
PRs:
https://github.com/pkp/pkp-lib/pull/3085

Tests:
https://github.com/pkp/ojs/pull/1713
https://github.com/pkp/omp/pull/475

@bozana can you code review?

[2017-11-21 12:33] NateWr commented on #2960
Tests  passed and I've refreshed the PR for this one. @bozana would you take a look at this one too?

[2017-11-21 12:46] bozana commented on #3051
PRs for using GRATEST for OAI until date:
ojs master: https://github.com/pkp/ojs/pull/1714
ojs ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1715

[2017-11-21 12:47] bozana commented on #3051
@asmecher, could you take a look at the PRs?

[2017-11-21 12:47] bozana commented on #2955
Yes, the files are assigned to chapters, so I will remove this unused "sortable" feature... THANKS!!!

[2017-11-21 12:49] NateWr commented on #3029
This is enforced by citeproc-php. We can't even detect a missing last name and pass an empty string, because it will still throw a fatal error.

Since we require a last name, and it seems a reasonable thing to require for a citation, I'll consider this not an issue and something to be fixed with the data.

@asmecher as a side note, this came up because the `admin` account has no last name. Should

[2017-11-21 12:49] #3029 closed

[2017-11-21 13:19] bozana commented on #2955
@NateWr, could you code review the PRs?

[2017-11-21 14:28] NateWr commented on #1627
Hmm, I can't make up my mind about this. At the moment, we organise downloads by pub format:

![selection_038](https://user-images.githubusercontent.com/2306629/33076680-4d01fa70-cec5-11e7-8e7f-931882b46e70.png)

In OJS, downloads only have a galley name, which is set by the user:

![selection_039](https://user-images.githubusercontent.com/2306629/33076816-bda50678-cec5-11e7-979b-a8f92f503911.png)

[2017-11-21 14:30] bozana opened #3087 "fix metrics assoc_type for supp files"
after this change: https://github.com/pkp/ojs/commit/49b66ccdac13b79976b841ef6d19d4c7c369d545#diff-5c9f571642dab36fb0ee06971ef6fe6c#diff-5c9f571642dab36fb0ee06971ef6fe6c
this next code should be adopted too: https://github.com/pkp/ojs/blob/master/dbscripts/xml/upgrade/3.0.0_postupgrade_metrics.xml#L22-L27, to consider that new assoc_type.

[2017-11-21 14:36] bozana commented on #3087
PRs:
ojs master: https://github.com/pkp/ojs/pull/1717

[2017-11-21 14:42] bozana commented on #3016
Here is the patch to migrate supp files from OJS 2.4.x to OJS 3.1 as submission files, and not as galleys: https://github.com/pkp/ojs/pull/1718/files

[2017-11-21 14:45] NateWr commented on #2955
@bozana Looks great! I found a couple more remnants to remove. The following locale keys don't appear to be used anymore:

[code]

And I couldn't find any reference to the constant `GENRE_SORTABLE_DESIGNATION` which is defined in `Genre.inc.php`.

:+1:

[2017-11-21 15:05] bozana commented on #3016
I believe that the other option, not to migrate supp files at all is actually not needed -- it would mean to remove them also from different DB tables (e.g. submission_files, submission_supplementary_files, metrics) and from the files folder. The patch to migrate them as submission files seems fine/enough for all cases to me. What do you think, @jmacgreg and @mfelczak ?

[2017-11-21 15:09] bozana commented on #2955
Wow @NateWr, great catch!!! :star:

[2017-11-21 15:50] mfelczak commented on #3016
Thanks @bozana, yes having the option to migrate the supp files as submissions files should be sufficient.

[2017-11-21 15:53] mfelczak commented on #3015
Hi @bozana, given that it's been possible to add new components with NULL keys up until now, allowing empty keys would follow that pattern. That being said we could always check that non-NULL keys are still unique so that lookup by non-NULL key will return a single result.

[2017-11-21 16:15] bozana commented on #3015
Yes, I see it the same way. Thanks @mfelczak!

[2017-11-21 16:49] kaschioudi opened #3088 "File deletion from revision grid is broken"
Even though the file gets removed, the request does not complete successfully causing the delete confirmation modal to remain on screen.
Under the hood, the following error is output to the logs `PHP Fatal error:  Call to a member function getStatus() on a non-object in /<path-to-ojs-install>/lib/pkp/classes/submission/reviewRound/ReviewRoundDAO.inc.php on line 264`

[2017-11-21 16:50] bozana commented on #2955
I removed those locale keys and the constant and will now wait for tests to pass and then merge...

[2017-11-21 16:56] kaschioudi commented on #3063
@asmecher I came across a bug while trying to fix this issue. It seems that the revision file deletion was also broken. see https://github.com/pkp/pkp-lib/issues/3088

[2017-11-21 17:00] bozana commented on #3088
Oh good catch! I think I inserted the bug... :-\

[2017-11-21 17:01] kaschioudi commented on #3088
https://github.com/pkp/pkp-lib/pull/3089

[2017-11-21 17:02] kaschioudi commented on #3088
@bozana I have a PR ready for you :)

[2017-11-21 17:07] bozana commented on #3088
Thanks @kaschioudi!!!

[2017-11-21 17:21] bozana commented on #2994
@NateWr, that looks good to me :wink: I do not know why you tests are failing :-O
I will merge it and then try to repair that JS linting error...

[2017-11-21 17:28] bozana commented on #2994
Can the issue be closed?

[2017-11-21 17:37] asmecher commented on #3063
Merged, thanks -- don't forget to back-port to `ojs-stable-3_1_0` as needed!

[2017-11-21 17:37] bozana commented on #2960
@NateWr, I believe you will have to rebase -- the pkp-lib changed -- but else, everything fine, please go ahead then...

[2017-11-21 17:37] asmecher commented on #3088
@bozana and @kaschioudi, does this need to be back-ported to `ojs-stable-3_1_0`?

[2017-11-21 17:42] bozana commented on #3088
Uh, @asmecher, you are right!!! I thought I only made the bug in master :-P Will cherry-pick... THANKS!!! :star:

[2017-11-21 18:04] kaschioudi commented on #3063
@asmecher here's the PR for ojs 3.1.0 back port
https://github.com/pkp/pkp-lib/pull/3093

[2017-11-21 19:52] asmecher commented on #3029
@NateWr, no harm in that, I suppose: edc2d3e

[2017-11-21 19:59] asmecher commented on #3063
Merged, thanks!

[2017-11-21 19:59] #3063 closed

[2017-11-21 21:04] #3087 closed

[2017-11-22 01:32] #2955 closed

[2017-11-22 01:32] #3088 closed

[2017-11-22 10:07] NateWr commented on #2994
Thx!

[2017-11-22 10:07] #2994 closed

[2017-11-22 10:54] NateWr commented on #2960
:+1:

[2017-11-22 10:54] #2960 closed

[2017-11-22 11:30] israelcefrin opened #3094 "[OJS] Default deadlines reviews "weeks" to "days""
There is an option in Settings > Workflow > Review Tab related to Default Review Deadlines.
The input fields is in "weeks" but to give people more flexibility it would great if this measure was turned to "days". If a Journal wants set it to 3 days, and not a week, today is not possible.
JM  has to change it manually to every submission when assigning reviewers.
This issue was noted in Community Fo

[2017-11-22 11:49] NateWr commented on #3070
Ok, I've updated the checks on whether a submission is published for OJS and OMP. Can you take another look at the PRs @asmecher? (There's some whitespace noise in the OMP one, but the relevant changes are in https://github.com/pkp/omp/pull/471/commits/d2ee53107ba4695de23d13f58a8edb5e223b8406).

[2017-11-22 16:15] bozana commented on #3028
@NateWr, I made the changes suggested in the code review (one commit) and tried to replace the URLs through the HTML links (another commit).
In order to display those HTML links I then use `strip_unsafe_html`. This only works, if really HTML links are used, s. the comment from Clinton here: https://github.com/pkp/pkp-lib/issues/2570#issuecomment-310472854. Currently the URLs are always replaced, s

[2017-11-22 16:19] NateWr commented on #1922
PR:
https://github.com/pkp/omp/pull/477

@asmecher can you code review?

[2017-11-22 16:32] NateWr commented on #3028
What happens with a reference that contains something like `<http://anything.com>`?

:+1:

I don't know anything about Crossref, but I think you're right that this is a display technique. I'd say save them "plain" in the database and make the conversion before passing to the template.

[2017-11-22 16:34] bozana commented on #3028
the example would be converted like this `<<a href="http://anything.com">http://anything.com</a>>`. OK?

[2017-11-22 16:59] bozana commented on #3028
@NateWr, I implemented a function in the class Citation that replaces URLs with HTML links and it is called for the display in OJS and OMP. The parsed/extracted citations are saved as they are in the DB... Could you please take hopefully the last look? :-)
THANKS!!!

[2017-11-22 17:07] NateWr commented on #3028
@bozana I took another pass at the code and it looks good. Just tested out your latest changes and they're working well, except the `href` of the links isn't coming out right. In my test it came out like:

[code]

This is the text file I'm using for citations. I just pulled them from an eLife article and did some basic formatting to put one per line.

[citations.txt](https://github.com/pkp/pkp-lib

[2017-11-22 17:15] bozana commented on #3028
Ah, I know where the problem is: you change the " to ' and forget not to escape the other "s and there is a problem... fix coming... sorry :-(

[2017-11-22 17:21] bozana commented on #3028
The fix committed: https://github.com/pkp/pkp-lib/pull/3033/commits/1b141570126c5d41b637d9d199efe7204a9e1bb4

[2017-11-22 17:27] bozana commented on #3028
Hmmm... To find out where the URL ends, I look after these characters:  `) [ ] { } , ; " ' : < >  .` and space. But in your example there is for example such an URL: `https://doi.org/10.1016/S0092-8674(00)81518-4` i.e. containing `)`. Hmmm... I do not know if there is any 100% way to deal with all this... ?

[2017-11-22 17:39] bozana commented on #3028
OK, I think I found even better solution -- those characters have to be followed by space...

[2017-11-22 17:39] NateWr commented on #3028
Yeah this is tough. I would maybe err on the side of caution and only seek out characters not allowed in the RFC, as specified here: https://stackoverflow.com/questions/1547899/which-characters-make-a-url-invalid.

(Just saw your comment. :+1:)

[2017-11-22 17:44] NateWr commented on #2759
Merged!

[2017-11-22 17:44] #2759 closed

[2017-11-22 17:47] bozana commented on #3028
This change improves the URL end detection a little bit better: https://github.com/pkp/pkp-lib/pull/3033/commits/8b1d8a76dd06a507f52415499a624ca1404ea549 -- it solves the problem from the example above...

[2017-11-22 17:48] NateWr commented on #3028
:+1: That was the last comment I had on the PRs. You can merge when you'd like.

[2017-11-22 17:54] bozana commented on #3028
Thanks a lot @NateWr! I'll wait for tests to pass and merge then... I believe I blocked Travis for the whole night with my 100000 pushes... :-(

[2017-11-22 18:03] kaschioudi commented on #2628
PR: https://github.com/pkp/pkp-lib/pull/3096

[2017-11-22 19:05] jmacgreg commented on #1881
I'd extend this idea as follows:

Replace the existing file uploading function within OJS/OMP with a plugin infrastructure that would allow for different document models in the submission process. A file upload model would be one option; so too could be a HTML-enabled TinyMCE field; Substance + commenting; even some sort of inline Google Drive function. These would be delivered as plugins.

I woul

[2017-11-22 20:20] asmecher opened #3097 "Sidebar blocks missing from search results"

[2017-11-22 20:22] asmecher commented on #3097
This was a tricky one. Basically:

- The search results page ends up invoking the metrics code
- The metrics code loads a set of report plugins with `context_id=0`
- This tricks subsequent plugin load code into thinking that future plugin loads should be done with `context_id=0`
- Thus the sidebar blocks don't show unless they're capable of displaying site-wide (which the language toggle is, thus

[2017-11-22 20:24] asmecher commented on #3097
@bozana, could you review this PR?
https://github.com/pkp/pkp-lib/pull/3098
Thanks!

[2017-11-22 20:55] NateWr commented on #1881
@jmacgreg One thing that strikes me from your description is that it is premised on the idea that there is a single file representing the primary document, and that the workflow would revolve around this document. What about other files, such as disclosure forms, review submissions, supplementary data, etc. Our existing workflow is largely built around the sharing and sorting of groups of files. W

[2017-11-22 21:44] jmacgreg commented on #1881
Hi @NateWr, good question, and I'm not entirely sure how I'd approach this. There will always be a need for uploaded files, probably most specifically: data sets, forms (PDF), and figures/tables (images). How about these scenarios:

- As a participant in a submission, I want to be able to edit or comment on a manuscript without downloading it.
- As a participant, I don't want to leave OJS to revie

[2017-11-22 21:57] jmacgreg opened #3099 "Encourage the use of consistent galley labels"
**Describe the problem you would like to solve**
Typically, galley labels are intended to be consistent across all articles in a journal. However, the free text input field makes it easy to introduce inconsistencies due to human error or misunderstanding.

**Describe the solution you'd like**
Two solutions have been proposed in the discussion below:

1. Auto-generate labels based on the uploaded f

[2017-11-22 22:10] jmacgreg opened #3100 "[OJS] Allow journal managers to mark individual component types "required""
For example, some journals may want to require a submission file to be uploaded during the submission process before the author can proceed with the submission. This should be an option at the "component" level.

[2017-11-22 23:02] asmecher opened #3101 "Clean up locale settings upon language deletion"
See https://forum.pkp.sfu.ca/t/how-to-get-rid-of-third-language-field-when-i-must-enter-some-info/29104/12 for details.

[2017-11-22 23:06] asmecher commented on #3101
PRs:
- https://github.com/pkp/pkp-lib/pull/3102
- https://github.com/pkp/ojs/pull/1721
- https://github.com/pkp/omp/pull/478

[2017-11-22 23:06] asmecher commented on #3101
@bozana, could you review this?

[2017-11-23 07:02] ajnyga commented on #3097
Wondering if this could be somehow related to https://github.com/pkp/pkp-lib/issues/2217

[2017-11-23 07:05] ajnyga commented on #3099
I totally agree, but I guess the problem here is that the file is uploaded after the label is given. But maybe that could be reversed.

[2017-11-23 07:57] #3028 closed

[2017-11-23 08:49] Hutchy68 opened #3103 "[OJS] 3.1.0 tar NOT production ready"
I was asked to install OJS for testing purposes and give my opinion of OJS being a viable solution.

Taking the lazy way, I just uploaded the .tar, decompressed to a /ojs/ directory and ran the installer. (**Note** disconcerting to see all the warnings outputting to the screen. Warnings and deprecated, no fatals but still a user shouldn't see them.)

- Scrolled down and installed.
- Install went o

[2017-11-23 14:16] doudou911 opened #3105 "Ojs3.1, how to set email"
I want to send email by ojs. (Not gmail) Can anybody help me where and how to set mail successful? I am a OJS novice. Please provide me more details about this. I’m looking forward to hearing from you. Thank you very much.

[2017-11-23 17:02] asmecher commented on #3103
@Hutchy68, OJS 3.1.0 is used in production from the tarball -- I don't think your experience is typical. But rather than debugging it here (where we deal with specific bugs and feature requests), I'd suggest posting at http://forum.pkp.sfu.ca/ where we typically support the community.

[2017-11-23 17:02] #3103 closed

[2017-11-23 17:10] asmecher commented on #3105
@doudou911, I see you've already asked this question on [our forum](https://forum.pkp.sfu.ca/t/ojs2-4-8-2-how-set-email/35427). That's the best place to get feedback.

[2017-11-23 17:10] #3105 closed

[2017-11-23 17:46] mfelczak commented on #3007
Just adding a "me too" to @ronniebrito's remarks, we also have a client who is using remote URLs as primary galleys.

[2017-11-23 18:19] Hutchy68 commented on #3103
Hmm, please point me to a production site that’s running 3.1.0. I can’t find one and even your demo is still on 3.0.2.  It is worth a look to see if you’re tarball was packed correctly perhaps some modules weren’t initialize properly before the tar was created. A JS error from cdn or local means something is missing.

[2017-11-23 18:34] asmecher commented on #3103
@Hutchy68, I'll be happy to help debug, but please post this in the forum to get started.

[2017-11-23 19:34] asmecher commented on #3097
At a glance, I'm not sure it is, @ajnyga -- but it wouldn't hurt to try the changes in those PRs to see?

[2017-11-23 19:36] asmecher commented on #3099
The order of entry (metadata first, then upload) is implemented as is so that the user can first identify whether the galley is a remote file or not, then if local, upload the file. It wouldn't be possible to reverse the order without considering this too.

[2017-11-23 19:37] asmecher commented on #3100
@jmacgreg, I'd suspect that journals might want to make this configuration section-specific.

[2017-11-23 19:57] asmecher commented on #1922
Reviewed, thanks, @NateWr -- pagination code is such a pain.

[2017-11-23 20:22] asmecher commented on #3070
Thanks, @NateWr, just a couple of comments -- please go ahead and merge when ready. Don't forget to back-port to `ojs-stable-3_1_0` as well.

[2017-11-23 20:24] asmecher commented on #3103
(Conversation moved to https://forum.pkp.sfu.ca/t/3-1-0-tar-not-production-ready/35634)

[2017-11-23 20:57] asmecher commented on #3051
Yes, I wasn't suggesting we change it to `LEAST` or something else, just connecting the two changes. Please go ahead, all looks good!

[2017-11-23 21:01] asmecher commented on #3015
I'd also suggest encouraging the same limitations on these keys that we use elsewhere for symbolic names, e.g. see the regexp in `ContextSiteSettingsForm.inc.php`.

[2017-11-23 21:05] asmecher commented on #3015
Thanks, just a few comments!

[2017-11-24 07:51] #3051 closed

[2017-11-24 09:29] bozana opened #3106 "choose e-mail template when selecting a reviewer"
The e-mail template body is not changed in the textarea field -- this is not implemented in the JS handler...

S. https://forum.pkp.sfu.ca/t/review-request-subsequent-mails-not-doing/32102

[2017-11-24 15:57] bozana commented on #3015
Thanks @asmecher! I made the changes you have suggested and will merge when the tests pass...

[2017-11-24 17:01] #3015 closed

[2017-11-24 17:27] marcbria opened #3108 "Duplicated literal"
Same literal in same file:

[code]
Code: https://github.com/pkp/pkp-lib/blob/61d894b4f7fa6865e5ccae3f6a34f058311acca9/locale/en_US/submission.xml#L604

[2017-11-24 18:18] asmecher commented on #3108
The one with the `{$title}` variable isn't used. I've removed it, thanks! (`master` and `ojs-stable-3_1_0`)

[2017-11-24 18:18] #3108 closed

[2017-11-24 20:29] asmecher commented on #1627
@NateWr, we've struggled with this for a long time and I think it's a situation where we could simply get more activist and enforce a decision with better results than trying to accommodate everyone.

We could get close to Heidelberg's presentation (and don't forget, they're using OMP for workflow, so have to wrestle with our data model) by listing first the data by chapter...

Chapter 1 PDF XML
C

[2017-11-24 20:41] stranack opened #3109 "Provide authors with opportunity to proofread/preview their HTML and other non-PDF formats"
Asking authors to proofread galleys before publication works well for PDFs (upload a copy in a production discussion).

However, allowing authors to see HTML or XML in the context of the journal isn't possible. Sharing the raw HTML file (it doesn't even include the CSS) is often useless for most authors.

It would be great to have a way to allow an author access to a preview of just their article

[2017-11-24 20:41] asmecher commented on #3084
OK, thanks. I just wasn't sure if it was intentional behavior or not. I'll do a quick check to see whether there are access problems.

[2017-11-24 20:51] asmecher commented on #3084
If a submission is on step 2 (file upload) and the Editor follows a link to complete it, the file upload wizard generates an "Invalid uploader roles!" error. The submission wizard expects authors to upload documents, but the editor may not have an author role.

Two thoughts:
- The "uploader user ID" is an old concept and I'm not sure how/were it's used. It may be possible to audit and remove it en

[2017-11-25 05:31] garyross opened #3110 "[OJS] disable_path_info = on not respected in AJAX requests"
Having logged in the AJAX requests don't respect disable_path_info = on with Version 3.1.0
with
`disable_path_info = on`

Expected request is this:
`/index.php?journal=FOO&endpoint=/FOO/api/v1/_submissions`

Actual request is this:
`/index.php/FOO/api/v1/_submissions?journal=FOO&endpoint=/FOO/api/v1/_submissions`

The erroneous `/FOO/api/v1/_submissions` after the `/index.php` in the latter breaks

[2017-11-27 10:51] forgive38 opened #3114 "Select precedent reviewer for a new round failed"
Hi
i'm using ojs 3.1
For a new review round for a submission, i use advancedSearchReviewerForm.
I'm doing a search for ' Reviewers from this submission previous review rounds'.
I select the corresponding reviewer and, next I validate the form 'Add Reviewer' with email and important date.
And then i have this error in my log :` ojs2: Invalid reviewer id.`
I do some debug, and see that in th ereques

[2017-11-27 12:55] forgive38 commented on #3114
Maybe this is a workaround :
[code]

[2017-11-27 15:34] NateWr commented on #1627
:+1: I'd be up for exploring other approaches. It doesn't strike me as something for 3.1.1, though. Should we defer?

[2017-11-27 15:38] mpbraendle commented on #2724
Hmm. As you see in the screenshot on https://github.com/pkp/pkp-lib/issues/2906, for most of the default templates, Sender and Receiver are set as "Subscription Manager", which is plain wrong. Neither sender nor receiver can be changed, or when a new template is added, configured.
For an editorial to set this up this might be disturbing. Either remove those columns (if not used anymore), or add an

[2017-11-27 15:50] bozana commented on #3106
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3115
ojs master: https://github.com/pkp/ojs/pull/1725 (only submodule update)

pkp-lib ojs-stable-3_1_0: https://github.com/pkp/pkp-lib/pull/3116
ojs ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1726 (only submodule update)

[2017-11-27 16:07] asmecher commented on #1627
I don't have a strong feeling about this. Deferring.

[2017-11-27 16:10] NateWr commented on #3070
Ok, just waiting on tests from PRs above to be fixed.

PRs for `ojs-stable-3_1_0`:
https://github.com/pkp/pkp-lib/pull/3117
https://github.com/pkp/ojs/pull/1727

[2017-11-27 16:29] bozana commented on #3039
Hmmm... @NateWr, could you please double check if you can reproduce the initial problem? -- If I assign an editor to a submission (no matter if recommend only or normal) but then visit the review stage of that submission as another editor, I see "Assign an editor to enable the editorial decisions for this stage. " :-(

[2017-11-27 17:32] bozana commented on #3039
@NateWr, I fixed the errors and also considered the issue https://github.com/pkp/pkp-lib/issues/3073 -- now no editor action is displayed if the user has a recommendOnly role. That user will however have all the other actions available, like uploading files, assigning participants and scheduling for publication -- because these actions do not consider recommendOnly... But this is maybe OK -- the m

[2017-11-27 17:56] stranack commented on #1627
My preference is for something along those lines, but with the links just below the chapter titles:

Preface
PDF HTML EPUB XML

Chapter 1
PDF HTML EPUB XML
...then supplementary content...

Prologue
PDF XML

Epilogue
PDF XML

Glossary
PDF

We're close to this already in this example, which I like: http://monographs.lib.sfu.ca/index.php/sfulibrary/catalog/book/1

[2017-11-27 19:13] asmecher commented on #3028
@bozana, regarding the CLI tool (https://github.com/pkp/pkp-lib/blob/master/tools/parseCitations.php) -- I don't see any harm in including it...

[2017-11-27 22:45] asmecher commented on #3097
@bozana, I fixed the issues you identified -- see https://github.com/pkp/pkp-lib/pull/3098/commits/11913b13e3fc8f9fdfd7f65ec6afc7537934893e -- mind taking another look? Thanks!

[2017-11-28 08:52] bozana commented on #3097
Good @asmecher, ready to be merged, please go ahead... :-)

[2017-11-28 11:14] NateWr commented on #3070
@asmecher All merged into `master` and `ojs-stable-3_1_0`.

[2017-11-28 11:15] #3070 closed

[2017-11-28 13:41] NateWr commented on #2714
Ok, I addressed some of the comments on your code review. Unless you think otherwise, I'm going to work on a service class for published items as part of #1922.

In addition to the plugin, there's one change that's needed in pkp-lib.

PR:
https://github.com/pkp/pkp-lib/pull/3118

[2017-11-28 13:51] bozana opened #3119 "DOAJ export in prefered language"
s. https://forum.pkp.sfu.ca/t/doaj-plugin-and-multi-language-articles/17210/12

[2017-11-28 13:56] bozana commented on #3119
@emanuil-tolev, sorry to bother you this way again :-( Are there maybe any plans at DOAJ to display and consider all languages the metadata are provided/registered with? -- Currently, DOAJ only considers/displays the first element i.e. the first language provided, I think.
The multilingual journals, having articles in different languages, or at least their metadata, would probably like to provide

[2017-11-28 15:13] bozana opened #3121 "Enable QuickSubmit plugin to save additional article metadata"
parent::execute is needed in the QuickSubmitForm::execute function...

s. https://forum.pkp.sfu.ca/t/ojs-3-custom-metadata-fields/28674/22

[2017-11-28 15:15] mfelczak opened #3122 "Add copyFile method to SubmissionFileManager"
To support import plugins that need to copy files from the file system.

[2017-11-28 15:19] #3121 closed

[2017-11-28 15:24] bozana opened #3124 "Enable OpenAIRE field for QuickSubmitForm"
consider the QuickSubmitForm in the OpenAIRE plugin

[2017-11-28 15:30] t4x0n opened #3125 "Author name in export plugins"
Hi, OJS team! a little issue: at the page of DOAJ export plugin, when I was looking for a paper, I can note a change in the author of an article, but when I look the metadata all is OK! The issue is on the page "DOAJ Export Plugin", here the first author that is showing is Primary Contact instead of the first one.

see the gif:
![2017-11-28 12_23_54](https://user-images.githubusercontent.com/54229

[2017-11-28 15:39] bozana commented on #3125
Thanks @t4x0n!
I would agree that the first author name should be there -- it is usually how also the authors are cited and the article remembered -- the primary contact has a different function in the system, I believe.
@asmecher, would you agree?

[2017-11-28 16:41] asmecher commented on #3070
Excellent, thanks!

[2017-11-28 16:45] NateWr commented on #3084
I decided to allow editors to upload files for any submission in the wizard. It was straightforward and seems like a quicker route in for editors.

I also had a look at the `uploaderGroupIds`. I couldn't find any use of them outside this one case. I think I've removed everything without bad side effects, but please give it a close look @asmecher.

PRs:
https://github.com/pkp/pkp-lib/pull/3126
http

[2017-11-28 16:51] NateWr opened #3127 "Assistants not allowed to download galley files"
In current `master`, I am getting an access error when logged in as a Layout Editor and trying to download a file that's been uploaded to a galley. This includes files the user has uploaded themselves.

The error returned is JSON but it loads it as the URL instead of an error modal:

[code]

[2017-11-28 18:12] stranack opened #3129 "Single place for journal-wide and/or issue-wide article CSS upload"
It is great that OJS (and OMP) allow editors to upload a CSS file for each HTML galley (articles or chapters). This provides a lot of flexibility and allows each article to potentially have a different look.

However, it would be additionally helpful to have **one** place to upload an article (or chapter) CSS file -- either journal-wide or issue-wide (or both).

In my experience, I'm uploading the

[2017-11-28 20:19] asmecher commented on #3129
You should be able to refer to the journal-wide stylesheet from within the HTML galleys... We don't currently have a place for issue-specific CSS.

[2017-11-28 20:51] asmecher commented on #3084
Excellent work, @NateWr -- knowing this concept was still in the code was a source of stress. I suspect there are other good candidates for a similar treatment when it comes to reviewing the file upload and management code.

Please go ahead and merge -- now that we're prioritizing `ojs-stable-3_1_0` for the next release, it's actually a good time to merge semi-invasive changes.

[2017-11-28 21:05] mfelczak opened #3130 "Authored submission cannot be easily accessed via Editor role"
There are times when an editor will author a submission and also see it through the editorial workflow, e.g. when publishing an editorial.

At the moment the submission always defaults to the Author view and it's not possible to view it as an Editor without manually altering the URL, e.g. http://somejournal.org/index.php/acronym/workflow/index/15/1

It would be helpful to have a toggle in the UI t

[2017-11-28 21:57] asmecher commented on #3125
Yes, agreed.

[2017-11-28 22:06] asmecher commented on #3084
Oops, I see some areas that might be affected. Did you dig into `SubmissionFile::[gs]etUserGroupId`? That's where the `uploaderUserGroup` stuff gets stored -- it's in the DB, and has tendrils out into a lot of other functions.

[2017-11-28 23:06] stranack opened #3133 "Task list enhancements"
When working with long task lists, a couple of changes would be helpful:

1. Include a Select All button to quickly check all tasks.

2. Include the date the task was posted

[2017-11-29 05:33] t4x0n opened #3134 "Section Policy is not shows on frontend"
Hello,

In Settings > Journal > Sections, in the popup for "Edit or add a Section" you can add a Section Policy. But this text really is not shown in any place on the website!

![policy](https://user-images.githubusercontent.com/5422984/33359469-a6587b6a-d4ad-11e7-97cb-0580ceb563ec.png)

[2017-11-29 05:36] t4x0n commented on #3134
I ask in the forum, but no one answer... (https://forum.pkp.sfu.ca/t/ojs-3-1-jornal-section-policy/35660)
 and I look again but I can't find one place where this text is shown.

[2017-11-29 08:25] jmvezic commented on #1919
Hi all,

I'm just found this thread and I can report that this issue apparently isn't fixed in OMP 3.1. Can we have a fix for OMP as well?

[2017-11-29 09:06] bozana commented on #1919
Hi @jmvezic, the fix came after the OMP 3.1 release, so could you maybe apply these changes https://github.com/pkp/tinymce/pull/22/files, clear the cookies, double check you have public/site/ folder, and see if it works?

[2017-11-29 09:10] bozana commented on #3124
PRs:
ojs master: https://github.com/pkp/ojs/pull/1729

[2017-11-29 09:10] #3124 closed

[2017-11-29 09:11] jmvezic commented on #1919
I'll certainly report back (I'll try to do it today, but maybe tomorrow). Thank you for the quick response.

[2017-11-29 10:32] bozana commented on #3125
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3139
ojs master: https://github.com/pkp/ojs/pull/1734

[2017-11-29 10:33] bozana commented on #3125
@NateWr, could you take a look at the PRs?

[2017-11-29 10:48] jmvezic commented on #1919
@bozana Works like a charm, thank you!

[2017-11-29 11:13] NateWr commented on #3106
@bozana the code looks good. I noticed that the Review Request Subsequent template is always used when adding a reviewer on the second round, even if the selected reviewer didn't participate in the first round.

Is that intentional? The language of the Review Request Subsequent template seems like it is only intended to be used when the same reviewer is added on the second round...

[2017-11-29 11:25] NateWr commented on #3039
@bozana That sounds good.

[2017-11-29 11:34] wundo commented on #1919
YAY! thanks @bozana  and everyone involved!

[2017-11-29 11:37] NateWr commented on #3125
@bozana I had a look at how we're using `getShortAuthorString()` and actually I think it should list the first named author, the same as `getAuthorString()`.

We used `getShortAuthorString()` in our old submission grids, and I can see why the primary corresponding author might have been useful there. But we're using full author(s) strings now, and it makes sense to me to standardize on the first n

[2017-11-29 12:52] dommitchell commented on #3119
Hi Bozana,

We have discussed the options of displaying more than one language for multilingual journals and it is something on our To Do list. We will know more later next year.

Let me know if you have any other questions,

Dom

[2017-11-29 15:28] bozana commented on #3039
Thanks a lot @NateWr! Will merge and cherry-pick as soon as the tests pass...

[2017-11-29 15:40] bozana commented on #3106
Hi @NateWr. Hmmm... It seems it is meant to be so, s. https://github.com/pkp/pkp-lib/issues/2655. But also, maybe I am reading/understanding it wrong, but the text of the email template REVIEW_REQUEST_SUBSEQUENT does not sound to me like it has to be the same reviewer. What part do you exactly mean? THANKS!!!

[2017-11-29 15:48] NateWr commented on #3084
Yep, that was a deep rabbit hole. :laughing: I've removed all references I can find to submission file user group IDs. I've updated the PRs above and added one for `lensGalley`. Some notes:

- We used the uploader user group in anonymized uploaded file names for review. I've switched that to use the file genre. So instead of the default name being something like `Author, <original_file_name.doc>`

[2017-11-29 16:07] NateWr commented on #3106
If it's intended behaviour, go ahead and merge. I was just checking.

The way that's phrased sounds to me like the recipient is expected to be familiar with the submission. Even changing the first "the" to "a" might make a difference. For example:

You might think it is a commit on a PR we've talked about before.

You'd assume I'm talking about something new.

I think? Now I want a second opinion.

[2017-11-29 16:13] bozana commented on #3106
Aaaaaaaaaa.... I see.... :-)
Maybe @stranack or @asmecher can better tell?
I will gladly fix it ;-)

[2017-11-29 16:17] NateWr commented on #3130
Would this include subeditors or just the editors, journal managers and admins?

[2017-11-29 16:25] NateWr commented on #3130
In my tests, admins, journal managers and editors could view the editorial workflow of their own submissions. Did you want this for section editors? Would most journals want their section editors to have this capability?

[2017-11-29 16:27] NateWr commented on #3122
Can this be closed?

[2017-11-29 16:39] bozana commented on #3125
ok, so I will then change it to only i.e. always use the first author name, right? THANKS!!!

[2017-11-29 16:40] NateWr commented on #3125
:+1:

[2017-11-29 16:40] bozana commented on #3106
I will then go ahead and merge the current changes and see what to do with that, OK?

[2017-11-29 16:40] NateWr commented on #3106
:+1:

[2017-11-29 17:05] ajnyga commented on #2888
@asmecher I probably found a solution to this issue.

It is this old code here (not a problem anymore in 3.1): https://github.com/pkp/ojs/blob/ojs-stable-3_0_2/controllers/grid/issues/form/IssueForm.inc.php#L223-L225

Basically everytime, after publishing the issue, you save the issue form in OJS3.0.2 it will change the accessStatus to open (1) and remove the openAccesDate. I did a small fix while

[2017-11-29 17:05] #2888 closed

[2017-11-29 17:05] bozana commented on #3007
@NateWr, what do you think about remote files? Maybe only for the representation files? At the moment I do not have an overview in my head what would then mean for other functions in the system, but... I will think about it more...

[2017-11-29 17:13] defstat commented on #2998
I have changed the wording. I think I have changed all occurrences of 'PLN' to 'PL', along with the above mentioned changes.

Regarding the 'PLN Enabled' check box shown even though the PLN Plugin is not installed, unfortunately i have tried to reproduce it, but I couldn't. I get

![pln](https://user-images.githubusercontent.com/560456/33388695-4fb775c2-d539-11e7-90b8-437371d5cf04.png)

After movi

[2017-11-29 17:26] mjordan commented on #2998
@defstat wording looks great. Running a `grep -r PLN` against the 3.x codebase should reveal any instances if there any left.

On the not installed issue, let me test again, paying attention to the plugins table. I'll try to do that today and will report back here.

[2017-11-29 17:31] mjordan commented on #2998
Woops, I just noticed in the "plugin in uninstalled" wording we have "PKP PLN plugin". That should be "PKP PN plugin".

[2017-11-29 17:41] asmecher commented on #3106
Dangerous business, asking for more opinions :)

I would change to...

Following the review of the previous version of a manuscript, the authors have now submitted a revised version.

...i.e. go woth "a manuscript", but I've also removed "...of their paper".

[2017-11-29 17:47] defstat commented on #2998
@mjordan Do you mean when you uninstall the PLN Plugin? If yes I have not made any changes on that in this PR.

[2017-11-29 17:52] mjordan commented on #2998
No, when I tested, I had never cloned it into the `plugins/generic` folder. But, I'll test that state, when it's installed but not enabled, and also after I've uninstalled the plugin and document what I see.

[2017-11-29 18:01] bozana commented on #3106
:-D I think this starts to be metaphysical for me... :-DDD

[2017-11-29 18:10] bozana commented on #3073
Hi all, this is considered together with this issue: https://github.com/pkp/pkp-lib/issues/3039, see the PRs there...

[2017-11-29 18:10] #3073 closed

[2017-11-29 19:01] asmecher commented on #2888
Ah, thanks for following up, @ajnyga! That makes sense.

[2017-11-29 19:22] asmecher commented on #3122
@NateWr, I left it open to remind myself to warn you about this affecting your near-simultaneous work on `uploaderFileIds` (bug #3184). Did this change get considered?

[2017-11-29 19:23] asmecher commented on #3125
^ Thanks for catching this, Nate -- I answered too quickly.

[2017-11-29 20:23] #3039 closed

[2017-11-29 21:57] asmecher commented on #3134
Hi @t4x0n -- I've posted a link from the forum to this github entry as well. (If you do post in multiple places, make sure they all link to each other -- otherwise the conversation can be divided into several places.)

[2017-11-29 22:12] bronwens commented on #2998
@defstat Thanks for updating the wording! Could you please add “The” before PKP Preservation Network at the beginning of both sentences (in the red boxes)?

[2017-11-29 22:16] #3097 closed

[2017-11-29 22:16] asmecher commented on #3097
Thanks, @bozana!

[2017-11-29 23:06] asmecher commented on #3114
Thanks for reporting and helping to narrow down the problem. I'd suggest this resolution:

- Patch https://github.com/pkp/pkp-lib/commit/767aadc7ea77a4f7d9f0a789a951757bec23c525 in `lib/pkp`
- If you're using minified JS, you may also have to patch https://github.com/pkp/ojs/commit/1a03e572226537b708ff7d16ad9f828bc5f25cea (in the application's installation directory)

[2017-11-29 23:06] #3114 closed

[2017-11-29 23:49] asmecher commented on #3011
Merged https://github.com/pkp/pkp-lib/pull/3079, thanks!

[2017-11-29 23:49] #3011 closed

[2017-11-30 01:49] t4x0n commented on #3134
Ok, thank you @asmecher

[2017-11-30 03:04] t4x0n opened #3141 "a string was missed in locale.xml"
The string "log.editor.submissionExpedited" is missing, even in English. I just find it only in Norway translation (locale/nb_NO/locale.xml). I think this is a string from the legacy of OJS 2, and so when we update to OJS 3 some texts are missing in the article history. I try to replicate this in the current process but I can't so I think this is just for old articles history.
![image](https://use

[2017-11-30 09:03] bozana commented on #3106
I will close the issue -- just to know that it is ready for release, but discussion about the e-mail template text can goo on... And I can then change it, if necessary...

[2017-11-30 09:03] #3106 closed

[2017-11-30 09:18] bozana commented on #3119
Thanks a lot @dommitchell!

[2017-11-30 09:53] MarHerUMR commented on #3008
Fixed by #3079

[2017-11-30 09:53] #3008 closed

[2017-11-30 10:04] NateWr commented on #3007
@bozana Do you mean a new subclass of `SubmissionFile`?

[2017-11-30 10:16] NateWr commented on #3122
Nope, I can work on this for #3084. But I wasn't able to find where `SubmissionFileManager::copySubmissionFile()` is used. Where can I find that to update it?

[2017-11-30 10:35] NateWr opened #3143 "Fix cyrillic support in citationStyleLanguage"
Just leaving a record of this change for the future. citeproc-php needs to be updated. See pkp/citationStyleLanguage#15.

[2017-11-30 10:40] NateWr commented on #3143
PRs:
https://github.com/pkp/ojs/pull/1738 (`master`)
https://github.com/pkp/ojs/pull/1739 (`ojs-stable-3_1_0`)

Tests running.

[2017-11-30 11:29] bozana commented on #3007
I mean to have that option/possibility for files -- to store it (remoteURL) for a file and not for a representaiton... I cannot think of consequences fully -- e.g. to have such an entry in the DB table submission_files, where there is actually no real file in the system there, because it is a remote file... Hmmm...

[2017-11-30 15:10] defstat commented on #2998
@bronwens I changed the wording.

[2017-11-30 17:10] asmecher commented on #3122
@mfelczak needed it for an import plugin. I'd suggest a quick convo on Slack.

[2017-11-30 17:10] asmecher commented on #3122
Meanwhile, yes, I'll close this!

[2017-11-30 17:10] #3122 closed

[2017-11-30 17:18] defstat opened #3144 "NavigationMenus - Warnings removed for custom menuItems"
See also #3056

[2017-11-30 17:41] defstat commented on #3144
@asmecher I erased the warnings displayed at custom MenuItems edit, separately from the changes for the StaticPages vs CustomNavigationMenuItems.

PRs
pkp-lib: #3145
OJS: pkp/ojs#1741
OMP: pkp/omp#480

[2017-11-30 18:04] defstat commented on #3144
@asmecher

**Stable**
PRs
pkp-lib: #3146
OJS: pkp/ojs#1742

[2017-11-30 18:14] asmecher commented on #3144
Merged all, thanks!

[2017-11-30 18:14] #3144 closed

[2017-11-30 18:19] stranack opened #3147 "Licensing info in OTS-generated galleys"
One of the application requirements for the DOAJ is for journals to include licensing information on each of their published PDFs, HTML, etc.

https://doaj.org/application/new#license_embedded-container

Most of our journals are not doing this, and we can't currently enforce it, as galleys are created outside of OJS.

Would galleys generated by OTS be able to pull the licensing information from OJ

[2017-11-30 18:52] vasylOstrovskyi opened #3148 "OAI 'dc:source' locale issue"
When using multilingual site, the 'dc:source' field of record is written wrong: the second part (vol, no, year, title) is always given in the primary locale. Like this:

`
<dc:source xml:lang="uk-UA">Праці Інституту математики НАН України; Том 12 № 1 (2015): Спектральна теорія операторів та наборів операторів; 6-7</dc:source>
<dc:source xml:lang="en-US">Proceedings of Institute of Mathematics, NAS

[2017-11-30 19:21] asmecher commented on #3141
Agreed, thanks -- I've committed your proposal.

[2017-11-30 19:21] #3141 closed

[2017-11-30 20:09] asmecher commented on #3148
@vasylOstrovskyi, I presume you're asking about OJS. What version are you using?

[2017-11-30 20:33] asmecher commented on #2998
@defstat, this looks good, but one big change is still needed -- many of the additions went into `pkp-lib`, which means they would also ship with OMP. I think pretty much everything here needs to apply only to OJS, correct?

[2017-11-30 20:37] #3101 closed

[2017-11-30 20:38] defstat commented on #2998
@asmecher yes I think so.

[2017-11-30 20:40] asmecher commented on #3101
Great -- merged, thanks!

[2017-11-30 21:42] asmecher commented on #2998
OK, the code needs to be ported into `ojs` rather than `pkp-lib` as much as possible.

[2017-11-30 21:53] #3080 closed

[2017-11-30 22:25] mjordan commented on #2998
@asmecher we haven't started talking about it in a formal way, but we might want to allow OMP content into the PN some time in the future. Would it make sense to leave it in the pkp-lib as long as it didn't interfere with OMP otherwise?

[2017-11-30 22:36] asmecher commented on #2958
@litvinovg, thanks for contributing! This will probably require another look, but some broad comments...

- This doesn't consider removal of the Western-centric First, Middle, Last name divisions. IMO we should tackle that at the same time as we add multilingual support, otherwise we'll have more name data models to consider (and these are a real maintenance headache).
- Upgrades aren't considered

[2017-11-30 22:48] asmecher commented on #2998
No objection, but I don't think these changes were written with release in OMP in mind. @defstat, how will these changes behave in OMP at the moment? Neither plugin is available for OMP, so there shouldn't be any visible reference to them OMP-side.

[2017-12-01 08:08] vasylOstrovskyi commented on #3148
@asmecher Yes, OJS version 3.1.0 official production version

[2017-12-01 14:34] defstat commented on #2998
@asmecher the changes in pkp-lib are in ArchivingForm.inc.php and its related code (archivingForm.tpl and ArchivingSettingsFormHandler.js), which are not referenced in OMP.

There has been a change in SettingsTabHandler.inc.php (https://github.com/pkp/pkp-lib/pull/2741/files#diff-d31c18ebfda449d7e1edc8db02eb121bR135), but I don't see someplace where that can effect OMP.

[2017-12-01 17:04] lilients opened #3149 "New hook in footer or move the existing one?"
Hi PKP (@NateWr I guess),

I adapted the [shariff plugin](https://github.com/ojsde/shariff/issues/4) for OJS 3 and OMP 3. The plugin adds buttons to the sidebar or to the footer. I am using [this hook](https://github.com/pkp/pkp-lib/blob/master/templates/frontend/components/footer.tpl#L50) for the footer: `Templates::Common::Footer::PageFooter`.
But because the hook is outside of the `<div class="

[2017-12-01 17:34] asmecher commented on #2958
See also https://forum.pkp.sfu.ca/t/dual-language-journal/13157

[2017-12-01 18:16] asmecher commented on #2998
@defstat, thanks, that makes sense; I forgot that OMP doesn't use the archiving form, even though it's in pkp-lib. I think we're ready to go.

Could you...
- Interactively rebase, and squash the commits into something shorter
- Change the commit messages to include the issue (e.g. `pkp/pkp-lib#1234 Some Description Here`)
- Commit and back-port to `ojs-stable-3_1_0`

Thanks!

[2017-12-01 18:54] defstat commented on #2998
@asmecher

New PRs

**Master**
pkp-lib: #3150
OJS: pkp/ojs#1744

[2017-12-01 19:10] defstat commented on #2998
@asmecher

**Stable**
pkp-lib: #3151
OJS: pkp/ojs#1745

[2017-12-01 19:26] mjordan commented on #2998
I won't get a chance to test this until the weekend (at a conference).

[2017-12-01 19:50] vasylOstrovskyi commented on #2958
@asmecher My modifications mentioned in the above forum discussion include 21 files with modification of classes and templates, and about 200 lines of code, providing quite usable (basic level is sufficient for my needs) installation. As above, it is based on putting names to author_settings and user_settings, but most critical issues are resolved. I really need this and plan to spent some more ti

[2017-12-01 20:49] asmecher commented on #2998
@mjordan, I'm hoping to release 3.1.0-1 today, or it'll have to wait at least a week.

[2017-12-02 04:22] asmecher commented on #2998
Executive decision :) All merged. OJS 3.1.0-1 is on its way out the door.

[2017-12-02 04:22] #2998 closed

[2017-12-02 07:01] asmecher commented on #3143
This one didn't make it into OJS 3.1.0-1 -- scheduling for OJS/OMP 3.1.1. (Of course, if we do put together a 3.1.0-2 for some reason, it could go there, so no harm in committing it to the `ojs-stable-3_1_0` branch whenever you're ready.)

[2017-12-02 23:23] mjordan commented on #2998
Just gave 3.1.0-1 (from tarball) a smoke test and everything looks good:

Plugin not present:

![pln_plugin_not_installed](https://user-images.githubusercontent.com/403918/33520676-88ebdaf8-d774-11e7-9ec0-975b663385f5.png)

Plugin present:

![pln_plugin_present](https://user-images.githubusercontent.com/403918/33520678-9202269c-d774-11e7-89cc-d56494beb75d.png)

Thanks!

[2017-12-03 12:38] tinde123 opened #3152 "Problems with version 3.0.0.0"
Hi, we just updated from version 2.4 something. I feel really stupid, but when I try to upload a new publication with Quick Submit Plugin, there's an error "At least one author must be added". The problem is that here's no fiekd for authors.

Other thing is that in the new version shows only the first page of the publiced papers with title, authors and abstract and a link to html-version. The link

[2017-12-03 17:24] alireza08 opened #3154 "Error checking email format in profile page"
Hello,
I found that correct email format in the contact tab of user profile page in (OJS3.1.0.1), is not checked. so, I added this line to the correct PHP file and it works.
`$this->addCheck(new FormValidatorEmail($this, 'email', 'required', 'user.profile.form.emailRequired'));`

However, a strange pop-up window occurs and I can' figure out where it comes from (attached screenshot)
![1](https://us

[2017-12-04 02:33] asmecher commented on #3152
@tinde123, if you're using OJS 3.0.0.0, I'd strongly suggest working with the latest release (currently OJS 3.1.0-1). There are tons of bug fixes and improvements since 3.0.0.0.

[2017-12-04 05:54] ajnyga commented on #2976
@NateWr I only have the notifications left here. The idea was to let the reviewer know if the review type is changed. However, it would probably make sense to have a similar notification for all the changes made after the request is sent and confirmed, meaning also the changes in the dates and the available files? What do you think?

[2017-12-04 07:04] tinde123 commented on #3152
thanks, I'll do that and let's see what will be fixed.

-tinde

[2017-12-04 12:55] tinde123 commented on #3152
I checked today and actually we're running on 3.1.0-0..

[2017-12-04 15:20] forgive38 opened #3156 "[OJS] Submission Requirements translation are not available"
Hi,
I checked this with a fresh install of OJS 3.1 : I do install with fr_FR as default language and en_US as additional language. When you post a new submission, the Submission Requirements are only  available in fr_FR, even interface is in en_US.
Same behavior in Settings -> Workflow -> Submission.

Thank you

[2017-12-04 17:34] NateWr commented on #3149
Hi @lilients! The `Templates::Common::Footer::PageFooter` is deliberately placed as the last thing on the page, just before the `</body>` tag. It was originally intended for plugins to load their JavaScript assets at the very bottom of the page.

This was before we added the `{load_scripts}` helper, and the ability to register JS assets for the frontend.

I'm tempted to keep the hook where it is i

[2017-12-04 17:44] NateWr commented on #2976
Yeah that makes sense.

[2017-12-04 18:41] bozana opened #3157 "required tagit metadata fields not validated"
Those metadata fields that use tagit are not validated correctly.
S. also https://forum.pkp.sfu.ca/t/disciplines-required-not-passing-although-field-is-completed-ojs-3-1/34747/3

[2017-12-04 19:09] bozana commented on #3152
Hi @tinde123, I think this question is better suited for the PKP user support forum: https://forum.pkp.sfu.ca/. Could you maybe post it there? Once we realized for sure that it is a bug/issue, the GitHub Issue can be created.
Maybe you can also give us some more information, e.g. if it is a clean installation or an update, how did you upload those HTML galley files, etc.
The authors should be inse

[2017-12-04 19:09] #3152 closed

[2017-12-04 19:13] bozana commented on #3156
Hi @forgive38,

Hmmm... I am not sure I understand it correctly.
How exactly do you try to add a new submission and what problem exactly occurs? What have you chosen as a submission language?
What exactly is the problem in Settings -> Workflow -> Submission?
Thanks!

[2017-12-04 22:16] crosfield commented on #3156
@bozana He means that by default there is no translation of submission requirements into English. I confirm this. In Russian/English interface it is the same. By default, the fields with English choices are empty.
@forgive38 It is necessary to make the translation into English manually in Settings -> Workflow -> Submission on your language first and then they will appear on the English interface.

[2017-12-04 23:01] bozana commented on #3157
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3158
ojs master: https://github.com/pkp/ojs/pull/1747 (only submodule update)

pkp-lib ojs-stable-3_1_0: https://github.com/pkp/pkp-lib/pull/3159
ojs ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1748 (only submodule update)

[2017-12-04 23:01] bozana commented on #3157
@NateWr, could you take a look at the PR above?

[2017-12-05 03:19] stranack opened #3160 "Unchecked Volume / Issue / Year info should not appear on Archives page"
When an issue is created that has not checked Volume, Issue, or Year in Issue Data, they should not appear as zeros on the Archives page.

For example:
Fall 2017
Vol 0 No 0 (0)

See: http://journals.sfu.ca/courses/index.php/pub371/issue/archive

If those elements are not checked, could they be suppressed entirely from public display?

[2017-12-05 05:17] alireza08 commented on #2958
Hello all,
Dear @vasylOstrovskyi , I am also working on this item. please guide me about the files that need to be modified; or if possible, share the modified codes with me. we can complete this together.
Best,

[2017-12-05 10:56] NateWr commented on #3122
@mfelczak I've got a PR pending that changes the params of this `copySubmissionFile` method:

https://github.com/pkp/pkp-lib/pull/3126/commits/0080b11785fb962da6bb7b8ba188f4ba0e7c382d

Once #3084 is merged, you may need to update your plugin where this method is called.

[2017-12-05 11:34] NateWr opened #3161 "nl2br causes extra line breaks in copyright notice"
`nl2br` is called on the copyright notice, on the frontend submissions page. It shouldn't need this since it is a tinymce field.

Reported: https://github.com/NateWr/bootstrap3/issues/70

[2017-12-05 11:44] NateWr commented on #3161
PRs:
https://github.com/pkp/pkp-lib/pull/3162
https://github.com/pkp/ojs/pull/1749
https://github.com/pkp/omp/pull/482

@bozana can you code review?

[2017-12-05 11:57] NateWr commented on #3157
I left one comment in the code, just trying to get my head around it.

I also ran into a couple of related issues. I've added disciplines and set it to required. I've added some items to the discipline tag it and saved it. Now if I go back and remove them and save it, the form saves successfully, but the tags are still t here.

Also, if I go to a submission without any disciplines and I submit the

[2017-12-05 12:08] bozana commented on #3156
Ah, OK, I see... :-)
When a journal is installed only the default settings for the currently used UI locale are installed, s. https://github.com/pkp/pkp-lib/blob/master/classes/db/SettingsDAO.inc.php#L171.
All siteSupportedLocales are also set to be supported (as UI locales) by the new journal, s. https://github.com/pkp/ojs/blob/master/controllers/grid/admin/journal/form/JournalSiteSettingsForm.in

[2017-12-05 12:57] bozana commented on #3156
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/3163
ojs master: https://github.com/pkp/ojs/pull/1750

[2017-12-05 13:51] NateWr commented on #3157
Oh I do see it. It looks like it is getting embedded into the body of the page instead of flying up the side. Looking at the response to the ajax request, it looks like it's returning an `inPlace` notification. Maybe there's some setting of the notification that's off?

![selection_059](https://user-images.githubusercontent.com/2306629/33610397-5893a39e-d9c3-11e7-991e-68a83765d1d2.png)

[2017-12-05 15:15] mfelczak commented on #3122
I've made the change in the plugin, thanks @NateWr!

[2017-12-05 15:50] bozana commented on #3156
@NateWr, could you take a look at these PRs?

[2017-12-05 22:30] bozana commented on #3157
@NateWr, I've added the appropriate form validation locale keys.
I still do not understand why the errors are displayed on the page :-P -- will take a further look tomorrow...

[2017-12-05 23:14] t4x0n commented on #3130
hi @NateWr, from my point of view, it's for section editors too!
It is common for section editors to publish from time to time in the same journal, even more than the editor in chief (journal editor role)

[2017-12-06 08:05] litvinovg commented on #2958
I have added some commits to use localized getters, moved user's fields first_name,last_name and middle_name to settings table too. It seems to work well now. I have definde constants to more easily change field name.

[2017-12-06 10:33] bozana commented on #3161
Merged and closing...

[2017-12-06 10:33] #3161 closed

[2017-12-06 10:40] MarHerUMR opened #3164 "[OJS] Adding methods to get width and height of the issue cover image"
Dear all,

right now the size of a issue cover is (no longer?) saved into the database. I tested reuploading issue covers with the latest code from github but no information for width and height get's saved. I had a look a the uploading code (and when I didn't overlook something) there's nothing in place to save the width and height.

The `SubmissionArtworkFile` actually provides `getWidth` and `g

[2017-12-06 11:50] NateWr commented on #3130
Giving section editors this capability over their own submissions will also mean that a section editor will always be able to see reviewers. It won't be possible for a section editor to make a "normal" submission that goes through blind peer review.

It feels like shaky ground but happy to hear from others on the upside/downside of this.

[2017-12-06 12:10] MarHerUMR opened #3165 "[OJS] announcementFeed got lost in download version of ojs"
I noticed today that the announcement feed plugin was missing in my test installation, that was installed from the tar.gz download.

Comparing the plugins/generic folders from the repo and the tar.gz there are more plugins missing in the tar.gz:

* announcementFeed
* backup
* browse
* externalFeed
* lucene
* phpMyVisites
* recommendBySimilarity
* translator

Is there a reason why those plugins are

[2017-12-06 12:57] dennmuel commented on #1451
Hello everyone,
are there any news for this feature request? Would be a really sweet one. =)
Kind regards and many thanks for all your great work!

[2017-12-06 15:06] ctgraham commented on #1451
I think this issue is now superseded by https://github.com/pkp/pkp-lib/issues/2818

[2017-12-06 15:12] dennmuel commented on #1451
Ah, I didn't see that one, sorry. Thanks for the quick response :)

[2017-12-06 17:12] #3125 closed

[2017-12-06 17:59] asmecher commented on #3165
@MarHerUMR, the package biuld tool (`tools/buildpkg.sh`) lists several directories that should be excluded from the `.tar.gz` -- including a number of plugins that are present in the github repo but not the release. There are two reasons for these being listed...

- The plugin needs attention, e.g. a rewrite from the 2.x codebase level to the 3.x level, and that work hasn't been done yet, or
- The

[2017-12-06 17:59] #3165 closed

[2017-12-06 19:18] bozana commented on #2571
@NateWr, I introduced a new PKP wordcount tinymce plugin -- to be able to use the same algorithm for word counting. Now the wordcount also turns red, if the limit is reached. The only thing I did not managed is to position the word count in the right corner :-P
I also removed the wordCount hidden field, changed the validation message and adopt the validation functions to be the same.
Could you ple

[2017-12-06 19:25] bozana commented on #1451
Maybe I will then close this one...

[2017-12-06 19:25] #1451 closed

[2017-12-06 21:21] pnault commented on #2724
Hi,
I'm totally with @mpbraendle on this: absence of information is better then wrong information. In 3.0.1 not all column were filled but those who were had wright information, see: https://forum.pkp.sfu.ca/t/prepared-emails-sender-recipient-has-subscription-manager/35967?u=pnault

[2017-12-07 07:04] ajnyga commented on #3147
Regarding this issue, I think it would be the easiest if the whole `front` section of JATS XML would always be structured from the OJS metadata AND every time you would edit the OJS metadata, also the `front` section of existing JATS XML galleys would be changed automatically.

This would mean that the Texture editor would only apply to the `body` and `back` sections of the document. No point of h

[2017-12-07 08:57] alireza08 commented on #2958
Hi @litvinovg ,
Thanks for the shared codes. it works great and saved me a lot of time. however, in the Users page , user first name and last names are not displayed in either languages. (attached screenshot)
please let me know about which files should be edited and I'll try to develop it.

Cheers,

![2](https://user-images.githubusercontent.com/7510737/33706638-fb40d31e-db49-11e7-85d4-1c7c0aeb4cc

[2017-12-07 09:40] litvinovg commented on #2958
You should enter names for authors and users again because in original code there is no information in what language you have entered old names. Another approach is to create a script to transfer first_name, last_name, middle_name from users and authors tables into user_settings and author_settings and specify your locale.

[2017-12-07 11:15] bozana commented on #3156
Thanks! I will then merge -- everything green :-) -- and will immediately add a new OMP commit/PR that removes that key...

[2017-12-07 12:53] NateWr commented on #2571
@bozana Really nice! The color change on the word count makes a big difference. I noticed a few lingering issues:

1. When the form is submitted with an abstract that's too long, it doesn't save any of the changes. This could be really annoying if you typed in a whole abstract. Maybe it makes sense to try and save the first 100 words? I imagine that will be difficult with the existing validation s

[2017-12-07 13:41] forgive38 opened #3167 "[OJS] New discussion canceled but still in discussion list"
Hi,
seems to be same issue as : #2794
there is no csrf with the delete request.

Thank you
OJS 3.1

[2017-12-07 14:25] alireza08 commented on #2958
Hello @litvinovg,
Yes, I was aware of that and filled user_settings and author_settings tables with the correct value based on locale. But, the names are not displayed.
Interestingly, if I search a name, correct values for first_name and last_name appear in the grid box.
Any ideas?

Best,

[2017-12-07 15:08] litvinovg commented on #2958
You must haven't applied all the commits from authors_multilanguage branches in ojs and pkp-lib.

[2017-12-07 16:37] litvinovg commented on #2958
alireza08, lets discuss this on PKP forum. This issue isn't the right place for this discussion.

[2017-12-07 16:54] lilients commented on #3149
@NateWr thanks for your reply. I see the problem with the hooks. I agree that a tool similar to the sidebar management - especially with the custom blocks plugin - would be very nice and useful. Unfortunatly I do have specified tasks in my project and currently no spare time for new ones. :(

[2017-12-07 16:58] defstat commented on #2987
@asmecher The ojs-stable-3_1_0 PRs did not got merged. So I am afraid that the 3.1.0-1 does not have the changes.

[2017-12-07 17:13] bozana commented on #2571
Yes, those two are those strange ones, that would need some special attention in general... :-) But your idea sounds great -- I will try to do that...
And I think I have forgotten the submit form i.e. number 3 above... :-P Will do...
Thanks a lot!!!

[2017-12-08 10:13] NateWr commented on #3149
I understand. I presume you're already running a fork of OJS/OMP for the versioning? If so, you can just add a new hook in your fork and the plugin just won't support sharing in the footer except on your fork.

Another temporary solution would be to hook into `ContextDAO::_fromRow` and prepend the footer content with that block straight out of the database. It's ugly but would do the trick until w

[2017-12-08 11:22] NateWr opened #3170 "Use vue-fontawesome in ui-library"
There's a useful npm module for integrating fontawesome with vue.js.

https://www.npmjs.com/package/@fortawesome/vue-fontawesome

It's compatible with the new fontawesome5 and allows us to subset the full package easily with a "library".

[2017-12-08 11:57] NateWr opened #3171 "[OMP] Navigation menu items for new releases, categories and series"
Navigation menu item types should be available for linking to the new releases page, and any category or series page.

An example of how I did this for the OJS `browseBySection` plugin can be seen [here](https://github.com/pkp/browseBySection/blob/master/BrowseBySectionPlugin.inc.php#L218-L243).

[2017-12-08 16:50] forgive38 commented on #3156
hi @bozana

Thanks a lot for this PR.
Just one thing, maybe it could be great if this reload is trigger when we "Reload defaults" (Settings > Website > Languages). I have to uncheck Forms checkbox and re check to have the translation for Submission Requirements reload

Thank you

[2017-12-08 18:06] asmecher commented on #3167
@forgive38, are you using OJS 3.1.0-0, or 3.1.0-1? Is it an option to test with 3.1.0-1, which has a number of minor fixes and tweaks?

[2017-12-08 18:09] asmecher commented on #2987
Yuck -- yes, it looks like I missed the `ojs-stable-3_1_0` PRs. Sorry, @defstat. Merged now.

[2017-12-08 18:09] #2987 closed

[2017-12-09 17:38] t4x0n opened #3172 "[OJS] enable_beacon and other little things"
In Template file for config file is setting enable_beacon = On, but when I do install process this "On" is changed by 1.

In the install, the instruction says to compare with TEMPLATE, so I change my olds installations to "On" but now, in a new installation OJS 3.1.0-1, the process change to 1 again... Probably some piece of code is not updated!

and, what is the right variable here? On or 1?

Oth

[2017-12-11 09:16] forgive38 commented on #3167
I tested with 3.1.0-1, there is the same behavior
thanks

[2017-12-11 13:47] bozana commented on #3156
Hmmm... Strange... I do not see the option "Reload defaults" on the page Settings > Website > Languages :-( Where do you see it?

[2017-12-11 17:22] NateWr commented on #1922
Ok, as we discussed (somewhere, I can't find it), I refactored a few different places where we're paginating results on the frontend to use a new overrideable template in pkp-lib. We're now using this template (and the service class functions) to paginate:

- Issue archives
- Catalog
- Catalog series
- Catalog categories
- Section archives (in browseBySection) archive

I introduced new IssueServic

[2017-12-11 17:41] carzamora opened #3176 "[OJS] Issues and improves for Announcements"
I have some proposals to improve the Announcements:

- **Delete the Expiry Date**: this is an issue, it is not possible to delete the Expiry Date of the announcement, it still exists in the database.
- **Allow changing the date**: There are ads that I would like to save to use later, for example an announcement for Scheduled Maintenance, but when is using it again the date that appears is the same

[2017-12-12 03:37] asmecher opened #3177 "Replace calls to deprecated "create_function""
PKP's `create_function` function is depreacated as of PHP7.2, and real lambda functions are supported going back to PHP5.3ish. Replace calls to `create_function` with real lambda functions.

[2017-12-12 08:03] forgive38 commented on #3156
This option is when you expand a language : a link named Reload Defaults appears
![image](https://user-images.githubusercontent.com/31130607/33873470-5a457976-df1b-11e7-96a7-9b93a74c5e79.png)

[2017-12-12 12:48] bozana commented on #2571
@NateWr, guess what! I managed to solve those first two points/issues correctly/actually :tada: :fireworks: :dancer: S. this commit: https://github.com/pkp/pkp-lib/pull/3061/commits/a70b4db1499bfce595df214d23869237126b26e4. Thus, also the same problem mentioned here https://github.com/pkp/pkp-lib/issues/3157 is solved :clap: :raised_hands:
I also considered the section word count in the submit ste

[2017-12-12 13:55] NateWr opened #3178 "Link on context logo/title in frontend incorrect"
In a multi-journal setup, the logo or title of a journal links back to the site-wide index page instead of the journal index page. The conditional check that delivers different URLs for a single-journal or multi-journal setup is inverted.

[2017-12-12 13:59] NateWr commented on #3178
PRs:
https://github.com/pkp/pkp-lib/pull/3179
https://github.com/pkp/ojs/pull/1756 (tests only)
https://github.com/NateWr/bootstrap3/pull/74

@bozana would you code review?

[2017-12-12 18:43] NateWr opened #3180 "Explore alternative solutions for searching"
The search functionality in OJS and OMP has not had much attention over the years. It may be worth exploring what third-party solutions we can integrate which would provide a better search experience, but which wouldn't have steep system requirements.

Also, the smarty functions for pagination are only used on search pages. If these pages are brought in line with the changes in #1922, those functi

[2017-12-12 19:04] asmecher commented on #3180
@lilients, just FYI, as I believe you're working on modernizing the Lucene plugin? We have no concrete goals here, just a sense that the built-in search engine could be improved, and that there may be good alternatives that we can integrate rather than maintaining our own.

[2017-12-13 08:00] ajnyga commented on #2894
Hi,

We got a related request. When you are adding a reviewer and select "Enroll an existing user", the system only shows a name. There is no way of telling if the person is the John Doe you are looking for. So maybe it could also show the email address and possible affiliation?

[2017-12-13 09:51] dastewo opened #3181 "[OJS 3.1] Add id attribute to TOC sections for styling"
Hello there,

as mentioned https://forum.pkp.sfu.ca/t/add-section-id-to-toc/36173 it would be a good feature to add section ids to the issue tocs, so people might be able to style every section in a different way and it might be a foundation for anchor links.

Here is the pull request: https://github.com/pkp/ojs/pull/1758

Kind regards
Daniela

[2017-12-13 12:24] budulinek commented on #3134
Hi, I also need Section Policies being displayed.
Thanks

[2017-12-13 16:00] jmacgreg opened #3182 "[OJS] Clarify in "Statistics" page what each report is to be used for"
We get a lot of questions and confusion around what each report is to be used for - eg. it is not clear that the Views report only reports pre-2.4.[?] data as a legacy report. This should be clarified directly in the UI, preferably via a small description for each report. If possible, it would also be useful to include possible dates for when the reports might be useful, based on version dates fro

[2017-12-13 21:12] asmecher commented on #3177
Pulls:
- https://github.com/pkp/pkp-lib/pull/3183
- https://github.com/pkp/ojs/pull/1760
- https://github.com/pkp/staticPages/pull/29

[2017-12-13 22:44] asmecher commented on #3177
@bozana, would you mind reviewing these PRs? Thanks!

[2017-12-13 23:11] asmecher opened #3184 "Subscription type currency resets upon editing"
See https://forum.pkp.sfu.ca/t/ojs-3-1-create-new-subscription-type-please-use-the-checkbox-provided-error/34552/9 for details.

[2017-12-13 23:11] #3184 closed

[2017-12-14 03:15] asmecher opened #3185 "Correct PHP7.2 incompatibilities"

[2017-12-14 05:05] #3185 closed

[2017-12-14 13:10] israelcefrin opened #3187 "[OJS] Author can not see Editor decision if article get declined without peer-review"
When a article gets declined without a peer-review there is not a notification section with reasons to such editorial decision. It would be  useful to author an editor record decision with reasons for future consult to them both.

Forum post:
https://forum.pkp.sfu.ca/t/author-can-not-see-editor-decision-if-article-get-declined-without-peer-review-ojs-3-1/36127

[2017-12-14 13:43] bozana commented on #3177
Great work @asmecher! Just a few minor comments...

[2017-12-14 13:50] NateWr commented on #3181
Hi @dastewo, thanks for the contribution! I've read through the thread on the forum. As I understand it, you'd like the ID to tailor the styling of specific sections as well as add anchor links.

I'm hesitant to use `id` attributes in the HTML elements because of the risk of naming collisions. However, I can see that they'll be important for anchor links. If we're implementing them, I'd like to se

[2017-12-14 13:58] NateWr commented on #2894
:+1: Added it to the list at the top

[2017-12-14 14:18] dastewo commented on #3181
Hi @NateWr,

I understand your concern regarding the naming schema, so I wouldn't mind, if it would be changed.

However, I am not so sure about using the section abbreviation. In the beginning I wanted to it with the abbreviation, but there are two aspects against it (in my opinion at least): The primary locale is in our case most likely German and there are some letters, which are not suitable f

[2017-12-14 14:42] NateWr commented on #2571
:tada: Woohoo! I tested it and did a nother pass on the code and it all looks great. Merge whenever you're ready.

[2017-12-14 16:56] #2571 closed

[2017-12-14 17:17] #3177 closed

[2017-12-14 17:20] asmecher commented on #3177
All merged. Thanks for the review, @bozana!

[2017-12-14 18:19] asmecher opened #3188 "DECLINE decision sends unexpected "Unsuitable" in subject"
See https://github.com/pkp/pkp-lib/pull/3186 for details.

[2017-12-14 18:36] #3188 closed

[2017-12-14 18:55] asmecher commented on #3176
@t4x0n, these all sounds like reasonable proposals to me! Is this something you intend to work on, or just a feature request for other devs?

[2017-12-14 19:12] bozana commented on #3178
@NateWr, great! You can then merge... THANKS!!!

[2017-12-14 19:14] mfelczak opened #3190 "Allow <script> tags in custom blocks"
By default new blocks created via the custom block manager strip out <script> tags. This prevents JMs from adding embed codes to custom blocks that rely on <script> tags to work, e.g. a Twitter timeline.

[2017-12-14 19:28] bozana commented on #3157
@NateWr, now that the submission metadata form validation messages are correctly displayed, I think this issue is finished. Could you take a final look? THANKS!!!

[2017-12-15 09:17] litvinovg commented on #2958
asmecher, In my opinion current West-centric name divisions could be elsewhere without any problem because: 1. first name could be used as Given, last name - as Family, middle name could be omitted.

[2017-12-15 11:01] rcgillis commented on #2166
Is it possible to get this assigned to a next release, especially if it is an easy fix? Have been talking to some folks who have been asking about it.

[2017-12-15 14:11] t4x0n commented on #3176
Hi @asmecher, I would like to, but my php skills are limited, and I do not know either bootstrap or smarty ... at this moment I am working more as a journal editor (that's why I can find more issues than solve them 😅 ), I would really appreciate it if some developer made those improvements 💪

[2017-12-15 19:06] jmacgreg opened #3193 "[OJS] Allow prepared email templates to be selectively available for discussions and participant assignment"
Editors would like to be able to create new prepared email templates, and have them available from the "Predefined message" dropdown when assigning a participant, and also generally when creating a Discussion thread. Something like the following for any newly-created prepared email template (eg. one that's not used somewhere in the system already):

Make this template available to the following Di

[2017-12-16 15:04] mczirfusz commented on #3130
We also experience this as a burden in a reviewer - editor double role, i.e. if an Editor is also a Reviewer of a submission. Also after completing the review, if clicking on the submission on the My assigned tab, the Review process comes up, and not the Editor view. An Editor cannot access the editor view from the frontend, we have to copy the index.php/TeT/workflow/index/ID_number url to access

[2017-12-17 10:00] vasylOstrovskyi commented on #2958
Dear @litvinovg, I did some work in parallel and also have a working installation. I am not yet comfortable with github, so I put my patch to [https://www.imath.kiev.ua/~vo/ojspatch/]. If there are some pieces of code which you could incorporate into your code, feel free to do that. Also I put there a database migration script.

[2017-12-18 09:26] ajnyga commented on #2976
It will now check whether review details are changed upon editing and if they are, a notification is send to the reviewer. The notification system is somewhat complex, so I am not sure whether this is the way to go.

[2017-12-18 12:17] NateWr commented on #3193
@jmacgreg Is it important that templates be restricted to stages, or is that assignment intended to be a way to more easily find the desired template? Is the user story like this:

If it is, I think there may be an alternative approach to get to the "so that". For instance, it could be:

If our end goal is just: make it easier to find the template I'm interested in, I think a search/selection UI m

[2017-12-18 13:45] NateWr opened #3195 "Fire form execute hooks in reviewer steps"
The reviewer step forms never actually fire the `*::execute` hooks because they don't call `parent::execute()`. This should be done to ensure the forms can be hooked into.

[2017-12-18 14:49] ajnyga commented on #1367
Hi @bozana
Is this missing from OJS3? I am digging into a case where a journal of ours registered DOIs for old articles they added with the quicksubmit plugin. The issue pubdate is set correctly in the Crossref database, but the article pubdate is showing 1970-01-01 and the article pubdate in OJS is empty meaning that the Crossref export has not used the issue pubdate as suggested above.

[2017-12-18 15:47] NateWr commented on #2976
I think that's good. It is hard to know what the right kind of notification is, and we don't have a good overview of notification behaviour, so firing off an email is good enough for now, I think.

[2017-12-18 17:33] mjordan opened #3196 "Spanish locale is missing for the PKP PLN plugin"
Looks like the PKP PLN plugin is missing a Spanish translation:

![Non-English journal's deposit status table](https://forum.pkp.sfu.ca/uploads/default/optimized/2X/3/302ea37bad0e2ed60322ece827b402ac51def321_1_690x404.png)

Other locale files are at https://github.com/pkp/ojs/tree/ojs-stable-2_4_8/plugins/generic/pln/locale.

[2017-12-18 17:39] jmacgreg commented on #3193
Hi Nate,

The parallel I was thinking of when I wrote this was with our ticket system, where we have a number of different queues, and can create templates and assign them to one or more of those queues. The result is that if you are responding to a queue, you have a short list of emails that you can review and choose from. You don't see unnecessary clutter, like eg. a copyediting request email in

[2017-12-18 17:50] asmecher commented on #2933
@defstat, now that OJS 3.1.0-1 is out, I think it's a good time to merge these into the `master` branch (for OJS and OMP). I suggest we don't merge into `ojs-stable-3-1_0`, at least until it's had some time to ripen in `master`.

[2017-12-18 17:51] asmecher commented on #3196
@mjordan, are you suggesting that we use the 2.4.x PLN plugin's locale files as a basis for the 3.x plugin? Do you know that they're similar enough not to cause problems? (I haven't looked at them.)

[2017-12-18 18:22] mjordan commented on #3196
I wasn't suggesting that (I was only pointing out that the Spanish translation is missing) but I don't see why we couldn't use the 2.x locales as the basis for the 3.x locales. @defstat has already pointed things in that direction, I believe (compare https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/generic/pln/locale/en_US/locale.xml and https://github.com/defstat/pln/blob/master/locale/en

[2017-12-18 18:59] mtub commented on #3196
This is the OJS 2.4.x PLN plugin which doesn't have a Spanish translation so far. I've already let @marcbria know and we will see if there will be a translation soon.

[2017-12-18 23:20] larsvilhuber commented on #3100
👍

[2017-12-18 23:23] larsvilhuber commented on #3099
Alternatively, allow for dropdown menu that pulls
- from pre-defined list (configurable per component or globally)
- from previous entries (allowing de-facto standardization)

My key concern would be consistency across entries over time, not necessarily consistency with mime-types.

[2017-12-18 23:23] larsvilhuber commented on #3099
👍

[2017-12-18 23:56] jalperin opened #3197 "make it easier to opt out of email notifications"
I am part of a journal, and every time there is a new article published they send a notification. I assume they are using the issue notification feature.

I cannot figure out how to opt out of receiving those. I've logged in, looked at my profile, gone to notifications and made sure none of the email boxes are checked.

There should be an unsubscribe link in the email itself, but, failing that, a

[2017-12-19 04:09] asmecher commented on #3184
Patches for OJS 3.1.0-1:
- https://github.com/pkp/ojs/commit/16ebabb28643941486a2316fa733f622e23ad5c5
- https://github.com/pkp/ojs/commit/75805616f22c2d32a4e7c25ebd01852fe6d0c5e0

[2017-12-19 15:26] bozana commented on #1367
Hi @ajnyga
Hmm... Was that article registered using OJS 3? -- I believe this feature is there from the Crossref beginnings in the OJS 3 i.e. since https://github.com/pkp/pkp-lib/issues/383.
According to the line https://github.com/pkp/ojs/blob/master/plugins/importexport/crossref/filter/ArticleCrossrefXmlFilter.inc.php#L126-L130 it should work correctly, right?
What date exactly is in your DB tabl

[2017-12-19 15:54] mfelczak opened #3199 "All authors should receive submission confirmation email"
Suggested by one of our hosted clients based on a recent experience where a lead author submitted a paper without the full consent of all listed authors.

It may be helpful to have two separate email templates here: a primary email that is sent to the primary author with links for accessing/managing the submission and a more generic email that is sent to non-primary authors confirming article subm

[2017-12-19 18:00] asmecher opened #3200 "PostgreSQL type error in OAI interface"
DB Error: ERROR: operator does not exist: text <> integer LINE 16: ...ished = 1 AND j.enabled = 1 AND jsl.setting_value <> 2 AND a... ^ HINT: No operator matches the given name and argument type(s). You might need to add explicit type casts.

[2017-12-19 18:02] #3200 closed

[2017-12-19 18:02] asmecher commented on #3200
(Not present in OJS 3.1.0-x -- just pre-release code)

[2017-12-19 19:34] asmecher commented on #3197
@jalperin, what version of OJS are they using?

[2017-12-19 19:35] asmecher commented on #3176
@t4x0n, thanks, just making sure we don't end up with two groups working on the same thing!

[2017-12-19 19:43] bozana commented on #3156
@asmecher, could you take a look at this PR: #3201? -- it reloads default localized context settings at locale reload... THANKS!

[2017-12-19 19:49] t4x0n commented on #3176
of course! you can assign this to any developer that you want!
thank you!

[2017-12-19 19:51] asmecher commented on #3156
Looks good, and good catch. Please go ahead!

[2017-12-19 23:01] jmacgreg opened #3202 "[OJS] legacy emails deleted from emailTemplates.xml may still appear in installs upgraded from 2.x"
This is a legacy upgrade issue, but it also ties in with Issue #3193. A number of emails that were in OJS 2 but deleted from OJS 3 are still in upgraded OJS 2->3 databases, and appear in some contexts. In some contexts, they are semi-broken. I'll use COPYEDIT_ACK as an example.

COPYEDIT_ACK was used in OJS 2.x to provide an acknowledgement email as part of the copyedit process. This discrete proc

[2017-12-20 01:41] jalperin commented on #3197
3.0.1.

It's the [Stanford install](http://web.stanford.edu/group/ojs3/cgi-bin/ojs/)

[2017-12-20 11:40] NateWr commented on #3178
Merged.

[2017-12-20 11:40] #3178 closed

[2017-12-20 11:48] NateWr commented on #3143
The changes got pulled into `master` with some translation updates and I merged the changes to `ojs-stable-3_1_0`. Closing.

[2017-12-20 11:48] #3143 closed

[2017-12-20 12:27] NateWr commented on #3195
PR:
https://github.com/pkp/pkp-lib/pull/3203

I self-merged this one.

[2017-12-20 12:27] #3195 closed

[2017-12-20 13:40] NateWr commented on #2816
PR:
https://github.com/pkp/omp/pull/487

@bozana can you code review?

[2017-12-20 13:45] ajnyga commented on #2508
I think this is not mentioned above: reactivating a reviewer that initially declined: https://forum.pkp.sfu.ca/t/reactivating-a-reviewer-who-initially-declined-a-review-in-ojs-3-1/36402

[2017-12-20 14:42] ctgraham opened #3204 "COUNTER bot list is outdated"
For both OJS 2.4.x and OJS 3.1.x, the Project COUNTER bot list is outdated.  Reported here:
https://forum.pkp.sfu.ca/t/bot-list-for-the-counter-metric/29018

Project COUNTER [references](https://www.projectcounter.org/appendices/850-2/) a [GitHub repo for this bot list](https://github.com/atmire/COUNTER-Robots).

Clarification is needed regarding [how this repo's text export will be maintained](ht

[2017-12-20 14:44] NateWr commented on #2426
Tests passed and now finally I got the JS to validate. :) @asmecher do you want to take another look or should I merge this?

[2017-12-20 14:46] NateWr commented on #3084
I merged the other pull requests, but @asmecher I don't have write access to merge this one: https://github.com/asmecher/lensGalley/pull/18  Can you merge that?

[2017-12-20 18:37] asmecher commented on #2426
Looks good (and Crockford is satisfied) -- please go ahead!

[2017-12-20 18:43] NateWr opened #3206 "Subscriptions page should not be accessible if payments are not enabled"
The frontend subscriptions page can be accessed when payments are not enabled under Settings > Distribution > Payments. This page should be disabled and a navigation menu item, if one exists, should not appear when payments are not enabled.

[2017-12-20 18:44] asmecher commented on #3084
Merged! If this one is ready to be closed, please go ahead.

[2017-12-20 18:55] NateWr opened #3208 "Add ability for editors to access editorial workflow when authoring a submission"
When a submission is created, a section editor (and maybe journal editor) is assigned as an Author if they have the role. When an author stage assignment is found, the submission lists link to the author dashboard ([here](https://github.com/pkp/pkp-lib/blob/master/classes/services/PKPSubmissionService.inc.php#L162-L167)). When choosing what to return, it should check to see if the user is _also_ a

[2017-12-20 18:57] asmecher commented on #3204
Merged both -- thanks, @ctgraham.

[2017-12-20 18:57] #3084 closed

[2017-12-20 18:58] #2426 closed

[2017-12-20 19:01] bozana commented on #2816
@NateWr, very nice! Just two minor comments/questions...

[2017-12-20 19:22] asmecher commented on #3202
@jmacgreg, are you sure `COPYEDIT_ACK` appears in the drop-down in the workflow? I can't see any reference to it (at least in 3.1.0-x).

I figured it was best not to flat-out remove those templates during upgrade, as managers might want to rescue some of the wording used in those if they've been customized.

[2017-12-20 19:33] #3156 closed

[2017-12-20 19:53] jmacgreg commented on #3202
@asmecher yep - see attached screenshots (and I can provide access if necessary, just DM me). The issue here is that this is a journal that's been upgraded from 2.x, so even though there isn't reference to it in 3.1.x it's still presumably being drawn from the DB.

This probably deserves a bit more discussion, but I'd personally prefer some strict pruning over potential for future confusion.

![im

[2017-12-20 20:27] diegoabadan commented on #3202
Maybe keep, but add a suffix like: [legacy - OJS 2.x]

[2017-12-20 20:45] ctgraham opened #3209 "Clarify bot identification"
We are maintaining two different "robots" UA listings:
https://github.com/pkp/pkp-lib/blob/784a07352087abb4128b56d94de688787c525ebc/registry/botAgents.txt
and
https://github.com/pkp/pkp-lib/blob/784a07352087abb4128b56d94de688787c525ebc/plugins/generic/usageStats/lib/counter/COUNTER_robot_txt_list_Jan_2011.txt
(now a reference to https://github.com/atmire/COUNTER-Robots)

These are processed/used b

[2017-12-20 20:54] ajnyga commented on #3208
Maybe also cover the case where the editor acts also as a reviewer? I mean could there be a way to access any of the three workflows (editor, author, reviewer) if a user has all these stage assignments? Many journals seem to do some sort of "internal" reviewing and editors assign themselves as peer reviewers.

[2017-12-20 21:23] asmecher commented on #2965
@NateWr, FYI, if you'd like to get this merged -- now isn't the worst time!

[2017-12-20 21:24] ctgraham commented on #3204
A fresh checkout of lib/pkp with a `git submodule update --init --recursive` doesn't seem to populate the `plugins/generic/usageStats/lib/counterBots`

[2017-12-20 21:24] asmecher commented on #3208
@NateWr, I think this is a duplicate of https://github.com/pkp/pkp-lib/issues/3130.

[2017-12-20 21:30] asmecher commented on #3172
@t4x0n, I've never seen a `1` get filled into the config file before -- is there anything unusual you're doing?

However, `On` (which `ConfigParser` maps to `true`) should work equivalently to `1`, as we're using tests like

    if (Config::getVar('general', 'enable_beacon', true)) { ... }

...which doesn't discriminate between `true` and `1`.

[2017-12-20 21:55] asmecher commented on #3167
Yes, I replicated this behavior myself. Try either of the two patches above -- they are equivalent -- applied in the `lib/pkp` subdirectory; they resolve it for me.

[2017-12-20 21:55] #3167 closed

[2017-12-21 00:56] asmecher commented on #3197
What's the subject of the email? (This might help me to confirm what template/notification you're running into.)

[2017-12-21 02:03] asmecher commented on #3154
Thanks, @alireza08, I've added your fix and another minor change that resolves the pop-up. Check the commits listed here (both are equivalent, just applied to different branches).

[2017-12-21 02:03] #3154 closed

[2017-12-21 02:05] asmecher commented on #3148
@vasylOstrovskyi, your suggestion makes sense -- it sounds like you have a potential solution already coded, too. Could you open a PR and link it back to this issue?

[2017-12-21 02:08] asmecher commented on #2199
Hmm, that's the only good contender I can think of. We could add a final decision, akin to "schedule for publication" in OJS and appearing in the same place, but as its only role would be to remove it from the active lists I suspect it would cause confusion.

[2017-12-21 06:03] jalperin commented on #3197
[abbrev] New Notification from...

On Dec 20, 2017 16:56, "Alec Smecher" <notifications@github.com> wrote:

[2017-12-21 10:46] NateWr commented on #3208
Arg I knew this sounded familiar.

[2017-12-21 10:46] #3208 closed

[2017-12-21 11:03] NateWr commented on #2199
Hmm, the data model could get pretty ugly here. Currently, the `status` column in the `submissions` table indicates if a submission is incomplete, in the workflow (queued), published or declined. I think we need to split this out into two columns: `status` and `published`.

`status` would track the submission's progress through the editorial process: in-progress, queued, declined, and archived (fo

[2017-12-21 11:19] NateWr opened #3210 "Unpublished books can still be accessed via their URL"
In OMP, if you add a book to the catalog, and then later remove it, it is removed from the catalog but still publicly accessible via direct URL. Removing the catalog entry should remove all public access to it and any galleys.

[2017-12-21 12:40] tsnzdmr opened #3211 "Correct typo of namespace in oai-nlm metadata plugin (OJS 2.4.8)"
The oai-nlm metadata plugin contains a typo:  http://td.nlm.nih.gov/publishing/2.3 (a "d" is missing in "dtd")

It should be: http://dtd.nlm.nih.gov/publishing/2.3

https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/oaiMetadataFormats/nlm/OAIMetadataFormatPlugin_NLM.inc.php#L50

Although it seems to be a minor issue, harvesting systems that use this metadata-format can get validation errors.

[2017-12-21 13:34] NateWr opened #3212 "CSL styles should receive DOI without URL"
The DOI plugin returns the full URL to the DOI when passing that data to the citation style language for generating a style. The CSL format expects the DOI without the URL, and some styles convert to URL while others don't. This should be changed on our end.

[2017-12-21 13:37] NateWr commented on #3212
Hey @bozana here's a quick one. Mind giving it a quick look for me?

https://github.com/pkp/ojs/pull/1767

[2017-12-21 15:23] NateWr commented on #1922
All tests have passed. @asmecher can you give this one last look?

[2017-12-21 16:09] NateWr commented on #2872
@asmecher A reminder on the question above.

[2017-12-21 17:10] stranack commented on #3160
Only "title" is checked on the Issue Data tab.

[2017-12-21 19:10] mtub commented on #3212
HI @NateWr, I know that your reasoning is correct and that we are merely serving data to the different citation styles that all have their own interpretation of how to format stuff. I just feel a little bad that with this change we enable violating the DOI display guidelines (https://www.crossref.org/display-guidelines/#full).

[2017-12-22 12:17] alexxxmendonca opened #3216 "Fix &nbsp; entity in Portuguese locale"
Blank space is showing as entity at the "Round 1" tab in the Portuguese interface:

![image](https://user-images.githubusercontent.com/4059679/34297773-41b52832-e701-11e7-8f67-461c7605cc9f.png)

[2017-12-22 12:17] alexxxmendonca commented on #3216
@mtub

[2017-12-22 15:42] NateWr commented on #3212
@mtub I felt the same, but I found this discussion about the issue in the CSL styles repo:

https://github.com/citation-style-language/styles/issues/2197

It sounds like the Zotero/Mendeley group have had a lot of backlash against that approach and have effectively put a hold on implementing it in every style. I'd prefer to stay aligned with them on this so we don't have to make our own decisions

[2017-12-22 20:32] #3204 closed

[2017-12-22 20:59] asmecher commented on #1922
Looks good, @NateWr, just a few minor comments -- please go ahead and merge once you're satisfied that they're addressed.

[2017-12-22 21:29] asmecher commented on #2965
It's whitespace; edit `lib/pkp/tests/data/PKPCreateUsersTest.inc.php` and find:

    $this->click('//label[text()=\'' . $role . '\']');

Wrap the `text()` fetch in `normalize-space` to get:

    $this->click('//label[normalize-space(text())=\'' . $role . '\']');

[2017-12-22 21:40] asmecher commented on #2872
Sorry, I missed that.

- `templates/payments/paymentForm.tpl` was dead code (I've [removed](https://github.com/pkp/ojs/commit/ba726387803e81f92197320d2cbaf7457d41f57c) it)
- Payment actions are implemented using `Form` classes, but rather than displaying form as per normal, the PayPal plugin's form class instead [redirects the user](https://github.com/pkp/ojs/blob/ojs-3_1_0-1/plugins/paymethod/pay

[2017-12-22 21:45] asmecher commented on #3211
Fixed, thanks for reporting!

[2017-12-22 21:45] #3211 closed

[2017-12-22 21:57] asmecher commented on #2199
We have an approval model for publication formats that might be useful here: "Complete" and "Available".

"Complete" is a workflow consideration, i.e. as the editor stewarding this through from rough draft into something ready for publication, is it complete?

"Available" is a marketing consideration, i.e. we want this to go out in January after the holiday rush has subsided, is it time yet?

I'm

[2017-12-22 21:57] asmecher commented on #2199
A screenshot of the above concept in action for publication formats:

![image](https://user-images.githubusercontent.com/200411/34313467-1c4f2506-e720-11e7-829d-d434d946e545.png)

[2017-12-22 21:59] asmecher commented on #3199
We already have that -- it's the `SUBMISSION_ACK_NOT_USER` email template. What version of OJS is this suggestion coming from?

[2017-12-23 13:58] mtub commented on #3216
This is pt_BR, I presume? Will have a look...

[2017-12-23 14:07] mtub commented on #3216
Fixed in OJS 2 and OJS 3, thanks for reporting!

[2017-12-23 14:07] #3216 closed

[2017-12-23 19:01] mtub commented on #3212
I understand. As I was very enthusiastic about supporting CSL, I guess I have to be happy with the bunch of autonomous styles that exist :smile:

[2017-12-24 00:36] marcbria commented on #1921
Just reporting one more case... in two quite old jornals migrating from ojs 2.4.5 to 3.1.0-1.

[2017-12-24 07:17] ducquang92 opened #3218 "[OJS] Upgrade failed: DB: Can't DROP 'user_group_id'; check that column/key exists"
Hi team,
I just performed an OJS upgrade from OJS 3.0.2 to 3.1.0.1 but the upgrade for database part failed with the error"
[code]
I then opened the file **3.1.1_update.xml** and saw that upgrade script tried to delete column user_group_id (line 38)
`<query>ALTER TABLE submission_files DROP COLUMN user_group_id</query>`

However, user_group_id column is not available in table submission_files of m

[2017-12-24 08:16] ducquang92 opened #3219 "[OJS 3.1.0.1] Upgrade gets stuck due to lack of MoveNext() in repairSuppFilesFilestage"
Hi there,
I just found a bug in upgrade process. Please find description and the fix below.

**Description:**
In upgrade process, function repairSuppFilesFilestage (in classes/install/Upgrade.inc.php) will be called. The codes to check if new file exists is at line 2561
[code]
If $newFileName really exists then the loop will continue without moving the SQL pointer to next element. That cause the c

[2017-12-24 09:18] bozana commented on #3219
Thanks @ducquang92!!! I will then make a PR with the fix...

[2017-12-24 09:25] bozana commented on #3218
Hmmm... That's interesting -- I do not get that error -- like my DB is not complaining about that. What DB and version do you use? -- just to know...

[2017-12-24 13:48] ducquang92 commented on #3218
Hi @bozana ,
It's Mysql 5.1.73 on Centos 6.7.

[2017-12-24 17:46] bozana opened #3220 "fix migrateTimedViewsUsageStatistics"
the insert function of UsageStatsTemporaryRecordDAO is missing an argument in the upgrade script.

S. https://forum.pkp.sfu.ca/t/upgrade-ojs-2-4-8-ojs-3-0-2-prevented-by-db-error/31472/

[2017-12-24 17:52] bozana commented on #3220
PRs:
ojs master: https://github.com/pkp/ojs/pull/1774
ojs ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1775

[2017-12-24 18:12] bozana commented on #3219
PRs:
ojs master: https://github.com/pkp/ojs/pull/1776
ojs ojs-stable-3_1_0: https://github.com/pkp/ojs/pull/1777

[2017-12-24 18:26] bozana commented on #3212
Merged, thus closing...

[2017-12-24 18:26] #3212 closed

[2017-12-24 18:34] bozana commented on #3160
Hmmm... For some reason I cannot reproduce it :-( -- When I only check "title", then I have to enter the title and then the title is also displayed on the archive page...
Do you maybe know exact steps how to reproduce it? THANKS!

[2017-12-24 20:26] #3220 closed

[2017-12-24 20:30] #3219 closed

[2017-12-24 20:31] bozana commented on #3218
Oh, I see... It is the same for me... Thanks!

[2017-12-24 21:05] bozana commented on #3218
PR:
ojs master: https://github.com/pkp/ojs/pull/1778

[2017-12-24 21:07] bozana commented on #3218
@NateWr, could you review the PR above -- if I understand it correctly that column will be removed when the lib/pkp/xml/submissionFiles.xml is applied, correct?

[2017-12-24 23:36] willinsky opened #3221 "[OJS] OJS/PKP logo sizing on 3.1"
New 3.1 version of OJS/PKP logo looks great, but appears too larger in footer. For examples, see https://scp.library.illinois.edu/journals/ and https://www.hlrcjournal.com/index.php/HLR
For a more appropriate size, see this one, showing some customization of its home page. http://fnr.openacademia.net/index.php/fnr  It does look sharper at the larger size, and maybe that is the size that it was pro

[2017-12-25 11:19] Ph-We opened #3222 "[OJS 3.1.0-1] Settings for “CSL” plugin not saved/displayed properly"
When you get there for the first time, none of them is neither marked, nor saved. Actually the default settings get erased in this case.
When you get there again and mark some of them, they are saved, when you close it.
When you open it again, they are still saved, but not marked.

https://forum.pkp.sfu.ca/t/settings-for-citation-style-language/34847

[2017-12-25 14:19] vasylOstrovskyi commented on #3148
@asmecher  Created PR #1780 with a fix

[2017-12-26 05:49] alireza08 opened #3223 "Role names not translated to Arabic in profile page in OJS3.1.0.1"
Hi,
I've installed a fresh dual language (French/Arabic) journal using OJS3.1.0.1.
The problem is that role names are not translated correctly in workflow tabs.
If I set French as the primary language, role names will always be shown in French even after I change journal's language and If I set Arabic as the primary language, role names are displayed in English!
The locale file for Arabic, contain

[2017-12-26 12:45] damatveev commented on #2958
Dear @vasylOstrovskyi, нow to apply your update?

[2017-12-26 17:30] bozana commented on #3223
Hi @alireza08

I think those settings are installed/inserted into DB table user_group_settings when a journal is installed. If those locale keys did not exist at that time they will be missing. Thus, they are probably missing in your DB table user_group_settings for that journal group IDs, correct? I.e. do they also miss on the Users & Roles > Roles page?

Thus, there should be a way to install/re

[2017-12-26 18:08] alireza08 commented on #3223
Hi @bozana ,
yes, you were correct. I manually edited `user_group_settings` table and role names are correctly displayed.
Also, in another journal which was upgraded from OJS2.4.8, I found that in `submission_file_settings` table. the name of the file includes role keys which are not translated in the interface. like this:
`publications, ##default.groups.name.manager##, 3-4386.pdf`

is it ok if I

[2017-12-26 18:20] vasylOstrovskyi commented on #2958
Dear @damatveev, the patch I mentioned is in the standard diff format. For Linux, use 'patch' utility, or ask Google 'how to apply patch'. However it seems that Georgiy Litvinov's work is much more complete, so it probably could be better to use his work instead. The database migration php script should be placed into tools/ directory and run from commandline.

[2017-12-26 18:33] bozana commented on #3223
@alireza08, I think you could use MySQL `update` command for that -- I currently cannot think of another/better way for that...

[2017-12-26 18:53] t4x0n commented on #3073
Hi, I have problems with Sub Editors now: in OJS 3.1.0-1 they have not permission to view the button "Send to Review" but they need it! The main idea was to remove permission for "Accept and skip review" button and for "Decline Submission" button, replacing both for one button for send a recommendation. In this moment, Subeditors are not able to Send to Review, and in my case now I had to disable

[2017-12-27 04:46] brueyd opened #3225 "##manager.masthead.title## not displayed properly"
When setting the properties of a new journal in the Settings Wizard, the heading on the masthead section appears as follows
##manager.masthead.title##
![image](https://user-images.githubusercontent.com/34877697/34370978-cd31d462-ea7d-11e7-9d33-a81e68c200e3.png)

[2017-12-27 06:11] brueyd opened #3226 "Unable to upload favicon in .ico format"
When trying to upload the favicon in the .ico format. The following error occurs:
File extension error.

![image](https://user-images.githubusercontent.com/34877697/34372450-a96bc40a-ea89-11e7-831b-702f3633141a.png)

[2017-12-28 14:19] mfelczak commented on #3199
Thanks @asmecher! This was for an OJS 2.4.x install. Closing.

[2017-12-28 14:19] #3199 closed

[2017-12-28 14:30] mfelczak commented on #3130
Hi @NateWr, I've followed-up with the editors on this issue and wanted to confirm that the original description was inaccurate: the Editor was assigned as a Reviewer on the submission and could only access the submission as a Reviewer via the submission lists. In order to access it as an Editor, he had to manually type the URL, as per @mczirfusz's comments.

[2017-12-28 17:45] asmecher commented on #3225
What version of OJS are you using?

[2017-12-28 18:13] brueyd commented on #3225
Hi Alec,

I just installed the latest package from the downloads page: OJS 3.1.0-1

I think I noticed a similar error in the setup wizard in a couple of other places, but accidentally closed the wizard before completing it. Is there a way to reinvoke the setup wizard for an existing journal?

Thanks!
Doug

On Dec 28, 2017 09:45, Alec Smecher <notifications@github.com> wrote:

What version of OJS a

[2017-12-28 18:29] mfelczak opened #3227 "Add submission ID to email subject for all submission-related emails"
Editors and section editors often track submissions by ID and would like to always see the submission ID in all email correspondence. We have now received this request from multiple hosted journals.

[2017-12-28 20:01] rcgillis opened #3228 "Non-anonymized reviewer files not able to be deleted"
We've run into an issue with an OJS 3 journal not being able to delete the an uploaded reviewers' file that was not initially anonymized. The editors were enable to upload an anonymized version, but despite this, the first, non-anonymized version remains

[2017-12-29 18:41] asmecher commented on #3228
Copied over from slack, my response:

[2017-12-29 18:41] asmecher commented on #3227
It should always be possible to add `{$submissionId}` to email subjects.

[2017-12-29 20:28] mfelczak commented on #3227
Thanks @asmecher. To clarify, are you suggesting that each JM should edit all of the existing editor/author/reviewer email templates and add `{$submissionId}` to the subject?

Related follow-up: are the email templates under Settings => Workflow => Email also used for system notifications related to submissions, e.g. email key 'NOTIFICATION'?

[2017-12-29 20:43] mfelczak commented on #2859
Hi @bozana, in a new OJS 3.1.0-1 install via git I'm still seeing the citation plugins on the main Plugins page (screenshot attached). Just wanted to confirm whether the plugins need to also be removed from the default set of plugins included with a git checkout?

![citation_plugins](https://user-images.githubusercontent.com/200793/34447120-03c6358a-ecaf-11e7-9d11-3bd0c15cd5ac.png)

[2017-12-30 18:27] bozana commented on #2859
Hi @mfelczak, the PRs were only for master branch -- because big changes -- and the 3.1.0-1 was made from the ojs-stable-3_1_0 branch, I think. Thus, they will be first removed with 3.2, I think....

[2017-12-30 18:30] bozana commented on #2859
Ah, sorry @mfelczak, this was the minimal removal -- only the citationOutput plugins, but the other are removed here: https://github.com/pkp/pkp-lib/issues/2874, only for master branch and for thus for 3.2.

[2017-12-30 18:34] bozana commented on #2859
Hmmm... I think I am confused now :-( It does seem to be considered for removal in 3.1.1 but the code is still there... :-P

[2017-12-30 18:39] bozana commented on #2859
Ah, OK, I see now, it is how I said before: this is the small change and the bigger change is still coming. Sorry! :-(

[2018-01-01 18:07] mfelczak commented on #2859
Ok, thanks @bozana!

[2018-01-02 07:50] brueyd opened #3229 "##plugins.categories.citationLookup## not displayed properly"
Installation Info:
![image](https://user-images.githubusercontent.com/34877697/34477361-7f800dee-ef4e-11e7-8a85-ca37ed6a0a06.png)

Repro steps:
1) Open Dashboard
2) Click Settings, Website
3) Click the Plugins tab
4) Under the Installed tab scroll down to the section containing the database connectors
5) Note the heading of that section: ##plugins.categories.citationLookup##

![image](https://user

[2018-01-02 07:53] brueyd opened #3230 "##plugins.categories.citationParser## not displayed properly"
Installation Info:
![image](https://user-images.githubusercontent.com/34877697/34477389-b92fa8b0-ef4e-11e7-811e-68d92bdded00.png)

Repro steps:
1) Open Dashboard
2) Click Settings, Website
3) Click the Plugins tab
4) Under the Installed tab scroll down to the section containing the citation extractors
5) Note the heading of that section: ##plugins.categories.citationParser##

![image](https://user

[2018-01-02 16:07] ajnyga opened #3231 "Change paymethod plugins to support multiple paymethods"
At the moment only one paymethod plugin can be activated at once. It would make sense to change the whole paymethod plugin structure to support multiple paymethods at once.

[2018-01-02 20:24] ajnyga opened #3232 "Manual payment plugin throws PHP Warning: Missing argument 2 for Form::setData()"
`[02-Jan-2018 21:21:46 Europe/Berlin] PHP Warning:  Missing argument 2 for Form::setData(), called in plugins\paymethod\manual\ManualPaymentPlugin.inc.php on line 87 and defined in lib\pkp\classes\form\Form.inc.php on line 224`

[2018-01-02 21:13] amandastevens commented on #1813
What about if the author still has to contact the editor to request that the submissions be withdrawn but there is an option for the editor to record the decision as "withdrawn" rather than "rejected."

[2018-01-02 21:28] stranack opened #3233 "Add ability to upload full width header images"
Could we reconsider the decision to remove the ability for journals to add full-width headers via the Website Settings? Some of the most attractive OJS 3 implementations are making use of this kind of header:

https://fennia.journal.fi/index

It would be great if we could make this easier for those wishing to do something similar.

[2018-01-03 00:26] asmecher commented on #3229
@brueyd, is this installation from github, or from the .tar.gz file?

[2018-01-03 00:26] asmecher commented on #3230
@brueyd, is this installation from github, or from the .tar.gz file?

[2018-01-03 02:53] brueyd commented on #3229
From the .tar.gz file

[2018-01-03 02:54] brueyd commented on #3230
From the .tar.gz file

[2018-01-03 10:23] alexxxmendonca commented on #1813
I agree with @t4x0n and @amandastevens.

I don't think the authors should have full liberty to withdrawn their own submissions. They should be able to request it and the ones to actually do it should be the journal.

[2018-01-03 10:30] alexxxmendonca commented on #3233
I would like to check the header for that website but it's asking for login and password.

[2018-01-03 11:31] ajnyga commented on #3233
We are upgrading to 3.1 ;) (but with poor success)

It will be open within two hours.

[2018-01-03 11:41] ajnyga opened #3234 "OJS 3.1.0-1 New submission listing not working after upgrade, error in slimphp and build.js"
Hi,

After upgrading our test server to latest OJS 3.1.0-1, we are getting this error in PHP error log:

`[Wed Jan 03 13:31:09.618628 2018] [:error] [pid 12279] [client 10.8.0.6:59131] PHP Parse error:  syntax error, unexpected '{' in /public_html/lib/pkp/lib/vendor/slim/slim/Slim/App.php on line 299, referer: https://site.fi/journal/submissions`

And this error in web console:

[code]

I used the

[2018-01-03 14:10] ctgraham opened #3235 "Creative Commons license buttons should be protocol relative"
In OCS, the Creative Commons license buttons are referenced in the locale files by http, raising https errors on page display.  Reported here:
https://forum.pkp.sfu.ca/t/ocs-google-chrome-warning-on-https-page/36592/3

[2018-01-03 16:27] asmecher commented on #3234
@ajnyga, what PHP version are you using?

[2018-01-03 16:31] ajnyga commented on #3234
The server has 5.4.16

[2018-01-03 17:35] asmecher commented on #3235
Merged, thanks!

[2018-01-03 17:35] #3235 closed

[2018-01-03 17:40] asmecher commented on #3229
That has already been resolved by https://github.com/pkp/pkp-lib/issues/2874 for the next release.

[2018-01-03 17:40] #3229 closed

[2018-01-03 17:40] asmecher commented on #3230
That has already been resolved by https://github.com/pkp/pkp-lib/issues/2874 for the next release.

[2018-01-03 17:40] #3230 closed

[2018-01-03 17:50] #3234 closed

[2018-01-03 20:12] asmecher commented on #3227
@mfelczak, yes, I'm hesitant to add this en masse to all email templates -- I think managers are going to want a mixture of things in email template subjects, e.g. journal initials, submission IDs, both, or neither, and perhaps want different things in different templates (e.g. IDs for internal users but not for external users like authors and reviewers).

It's not currently available for the `NOT

[2018-01-03 20:18] asmecher commented on #3233
@NateWr, assigning to you for consideration/discussion!

[2018-01-03 20:24] mfelczak commented on #3227
Thanks @asmecher! In that case, would it worth filing this as a separate issue to distinguish submission from non-submission notifications? We have clients that would like to have submission IDs for both email templates and system notifications for submissions.

[2018-01-03 20:59] asmecher commented on #3227
Are there notifications in particular they would like this information available for? If we do implement this, I'd like to ensure it's not invasive or a pain to maintain, and duplicating the email template for this purpose would be an iffy approach IMO.

[2018-01-03 21:02] asmecher commented on #3232
The warning is cosmetic and can be resolved with the attached patch. Thanks for reporting, @ajnyga!

[2018-01-03 21:02] #3232 closed

[2018-01-03 21:06] asmecher commented on #3231
@ajnyga, do you have a particular need for this? It sounds like a good thing to support but I wonder what the use case is in practice. I'd expect that journals might want to have all their records in one place (and hope we don't need to extend OJS with features that would be better in a financial suite), but I am aware that some regions don't support common payment methods.

[2018-01-03 21:18] ajnyga commented on #3231
I think that journals would like to have an option to use for example paypal and manual payment at the same time.

In our case I have created an own payment plugin that enables users to pay a subscription with a code. This is something that learned societies need while they want to give a free subscription for their members. But some journal could ask support for paypal as well. At the moment this

[2018-01-03 21:22] asmecher commented on #3231
For that case, it might be a tidier solution to allow the manual creation of payments while still allowing only a single payment method to be active at a time. IIRC there isn't a way to view the payment details of a completed payment, and creating a form to create/view/edit payment details would be useful for that too.

[2018-01-03 21:39] asmecher commented on #3190
I'm not enthusiastic about opening up TinyMCE controls for entering arbitrary JS; perhaps either a Twitter block (that isn't created via the custom block plugin), or a snippet of code that can be applied to allow `<script>` elements, but isn't part of the distributed software?

[2018-01-03 21:43] asmecher commented on #2849
Merged -- thanks, @ajnyga!

[2018-01-03 21:44] asmecher commented on #2931
@stranack, waiting for your feedback.

[2018-01-03 21:44] asmecher commented on #2557
Hmm, I'm still not sure there's anything we can do here.

[2018-01-03 21:45] asmecher commented on #1748
Closing -- I'm not sure anything here needs implementing, but it may be useful for historical notes.

[2018-01-03 21:45] #1748 closed

[2018-01-03 21:52] asmecher commented on #1620
@stranack, awaiting your feedback!

[2018-01-03 21:54] asmecher commented on #555
@jmacgreg, I'm deferring this as an apparently low priority, but let me know if that would make someone particularly unhappy.

[2018-01-03 21:56] ajnyga commented on #2557
No we cant unless some other pdf library magically appears. So depending on how you like to keep on tracking this issue go ahead and close it or just leave it open.

[2018-01-03 22:07] asmecher commented on #2557
@ajnyga, I suspect it'll either get fixed or it won't :)

To make that more helpful, what I mean is that we'll either see the problem go away with an upstream pdf.js update, or that particular version of Safari will become uncommon and we won't hear anything more about it.

Currently our version of pdf.js is manually maintained in the https://github.com/pkp/pdfJsViewer repo; dependencies in plugin

[2018-01-04 01:30] jmacgreg commented on #555
Totally cool by me!

[2018-01-04 03:30] asmecher commented on #2931
Thanks!

[2018-01-04 03:30] #2931 closed

[2018-01-04 06:36] defstat commented on #2933
@asmecher I think caching has already been merged to master branch

[2018-01-04 07:43] ajnyga commented on #2849
Thanks @asmecher
I think we still need some new sql to the upgrade that introduces this change, see https://github.com/pkp/pkp-lib/issues/2849#issuecomment-336726942

[2018-01-04 10:32] ajnyga commented on #3233
Just pointing out here that in our case the header image is added using a setting in a child theme with the structure coming from a parent theme.

I would (once again) see how Wordpress is doing this in their twenty-themes.

[2018-01-04 13:37] jmacgreg opened #3237 "[OJS] Crossref as-crawled URLs should only include PDF galley URLs (if multiple formats are published)"
If a journal publishes multiple galley types, and exports content out to Crossref, the current Crossref plugin includes an <item crawler="iParadigms"> link for each galley type. However it appears that Crossref/Turnitin requires a link to only the PDF galley, if it exists. From Crossref:

I'd really consider this a bug in the Turnitin system - we're simply providing links to all full-text content

[2018-01-04 15:45] alexxxmendonca opened #3238 "PayPal fields missing Portuguese translations (pt_BR)"
The PayPal fields are missing Portuguese translations (pt_BR):

![image](https://user-images.githubusercontent.com/4059679/34571361-7737b80e-f155-11e7-90f5-96fe4bc65587.png)

[2018-01-04 15:45] alexxxmendonca commented on #3238
@mtub

[2018-01-04 15:57] NateWr commented on #2199
One idea: we've already got "Schedule for Publication" in the production stage. Maybe when someone is scheduling for publication, we can have a pre-checked checkbox "Archive this submission". That way the workflow doesn't change for most people -- they schedule for publication and it gets placed into the archive.

In cases where someone un-checked the checkbox, a submission would be scheduled but

[2018-01-04 16:01] NateWr commented on #2816
Merged!

[2018-01-04 16:01] #2816 closed

[2018-01-04 16:08] NateWr commented on #3222
Just a quick comment but I think that this has been fixed as part of other work. If I recall, it was part of the listbuilders refactor, where some improvements were made to the SelectListPanel (https://github.com/pkp/pkp-lib/issues/2965#issuecomment-342225140).

That work is very near completion and should be merged soon. But I'll assign this to myself to check again once it's merged to ensure it'

[2018-01-04 16:11] NateWr commented on #3218
@bozana I'm actually not sure. Does it analyse the table and drop any columns that aren't mentioned? I trust you'd know better than me. Code looks fine so merge if you're happy with it.

[2018-01-04 16:17] asmecher commented on #3238
@alexxxmendonca, I think the Paypal plugin is known not to have a complete `pt_BR` translation; when the translator works on updates, this will be part of what they finish. I think a separate issue entry like won't be seen by the translator so there's no need to create it -- unless you're planning to add a pull request yourself. @mtub, is that right?

[2018-01-04 16:21] NateWr commented on #3130
Ok, let's presume that an Editor has been assigned to perform a Double Blind Review of a submission. Shouldn't they be blocked from viewing the editorial workflow for this submission during the review stage? If not, under what conditions should they be given access to that submission during the review stage, and how will that impact other journals which may expect a Double Blind Reviewer to _not_

[2018-01-04 16:27] alexxxmendonca commented on #3130
Ideally, an Editor shouldn't be able to see the peer review for his own article, to assure neutrality of the review process. So it shouldn't be possible to assign an Editor when he is the author or co-author of a given submission.

Alternatives are:

a) assigning a differing editor;
b) the editor should have a different account with Author-only role for submission purposes.

[2018-01-04 17:00] NateWr commented on #2557
We can use npm to pull it in. Looks like there's a distribution copy here:

https://www.npmjs.com/package/pdfjs-dist

But that would still require us to "build" it and load it, which might not be the worse thing in the world. I'll take a look.

[2018-01-04 17:04] NateWr commented on #3233
In Sophy's health sciences theme, we're using the Homepage Image to do this. I don't see any reason why this can't be used by anyone who wants to do so.

[2018-01-04 17:16] ajnyga commented on #3233
Maybe that setting/image could be then simply renamed to something more appropriate? Header Image etc.

And then you could edit the default indexJournal.tpl and move the additional content section https://github.com/pkp/ojs/blob/master/templates/frontend/pages/indexJournal.tpl#L77-L82 to the top of the page? This is something that is constantly requested on the forum I think. With the additional c

[2018-01-04 18:07] crism opened #3239 "[OMP] Remote galley links are not displayed unless there is a downloadable galley"
With OMP 3.1.0-0, we published a book that’s only available online. When only the one remote galley was available, the catalog page displayed no content access links at all. When we added a dummy download file, both the download and the remote galley were presented on the catalog page.

[2018-01-04 18:13] t4x0n commented on #1813
I agree with you @alexxxmendonca but, if this will be implemented, when the author's making the request is important to obligate the author to say WHY they are requesting withdraw their submission, like an obligated text area. In my experience, withdraw a manuscript is not a common choice and normally it is accompanied by a problem with an editor or excessive delays in the review process, but is i

[2018-01-04 18:18] alexxxmendonca commented on #1813
I fully agree, @t4x0n.

[2018-01-04 19:11] mczirfusz commented on #3130
To make the discussion more structured: we have two issues which perhaps will need a different workflow solution.

_- Author is also the Editor_
I am happy with @alexxxmendonca 's solution and his comments that if we take double blind peer review seriously, an Editor has never ever to be able to access the editor view if being an author of a submission. Workaround a) seems fine. Workaround b) does

[2018-01-04 23:18] crism commented on #3239
[This line in the template](https://github.com/pkp/omp/blob/master/templates/frontend/objects/monograph_full.tpl#L303) says make the `item files` section if there are files, but then [make a link for each format](https://github.com/pkp/omp/blob/master/templates/frontend/objects/monograph_full.tpl#L305). No files means no links, even if there are formats. What’s the right logic to replace that? Hmm

[2018-01-04 23:47] stranack commented on #3233
Having the ability to upload both a Header Image and a Home Page Image was a popular feature in OJS 2.

[2018-01-05 07:31] spapad opened #3240 "[OJS] Enable copying editor decision emails"
In OJS 2 there was an option available for copying (cc) the email sent from reviewers to authors about the editor decision. This is no longer available in OJS 3.

[2018-01-05 12:23] NateWr commented on #3130
Unfortunately, I think we're at a bit of an impasse between this:

And this:

I think my preference would be to respect the role(s) to which a user has been assigned on the particular submission, regardless of their general role, and to show them what's appropriate for the highest-level role they're assigned on the submission. If they have no role in the submission, we can default to the global ro

[2018-01-05 12:45] NateWr commented on #3233
The reason most of the best designs you've seen have used header images is because those have all been custom designed around particular content. I don't think adding an image into the header of the default theme will make sites that look bad look better, because those sites already lack artistic direction. The chances of them choosing a sensible image that looks good is low.

Instead, I think we'

[2018-01-05 12:47] alexxxmendonca commented on #3130
If I may add another layer to this, according to the Council of Science Editors (CSE), in their _CSE’s White Paper on Promoting Integrity in Scientific Journal Publications, 2012 Update_, in the section "2.1.3 Conflicts of Interest", they say:

Source: http://www.councilscienceeditors.org/wp-content/uploads/entire_whitepaper.pdf

[2018-01-05 13:47] NateWr commented on #3157
New PRs which I'll merge when the tests pass:
https://github.com/pkp/pkp-lib/pull/3241
https://github.com/pkp/ojs/pull/1781

[2018-01-05 14:59] mczirfusz commented on #3130
@NateWr

That is a good point and perhaps easily configurable in OJS and complies with the CSE guidelines @alexxxmendonca found

[2018-01-05 16:55] asmecher commented on #2933
Confirmed, thanks!

[2018-01-05 16:55] #2933 closed

[2018-01-05 17:40] asmecher commented on #2527
@Vitaliy-1, sorry for the lack of response -- is this still an issue?

The most likely cause, I think, is variable clobbering where references are used. For example...

    $templateMgr->assign_by_ref('article', $article);

...then sometime later...

    foreach ($articles as $article) {
        ...
    }

This will clobber the template's copy of the article. I suspect it's one plugin that's behav

[2018-01-05 17:43] asmecher opened #3242 "Upgrade Smarty to v3"

[2018-01-05 17:43] asmecher commented on #2289
CSL makes this unnecessary for citation formats in particular, and [Smarty3](https://github.com/pkp/pkp-lib/issues/3242) already uses mbstring functions for truncate. Closing.

[2018-01-05 17:43] #2289 closed

[2018-01-05 18:10] asmecher commented on #3240
This is a duplicate of https://github.com/pkp/pkp-lib/issues/743.

[2018-01-05 18:10] #3240 closed

[2018-01-05 20:14] asmecher commented on #3242
@NateWr, one of the changes required in preparation for the upgrade to Smarty3 is to stop using our own custom `|assign` modifier, e.g.:

    {translate|assign:"myVariableName key="some.locale.key.here"}

Instead, this needs to be wrapped in the standard `{capture}` function, e.g.:

    {capture assign="myVariableName"}{translate key="some.locale.key.here"}{/capture}

This syntax is a little clunk

[2018-01-05 20:52] asmecher commented on #2628
@kaschioudi, is this ready to be closed?

[2018-01-05 21:27] crism commented on #3239
@NateWr, I don’t think remote formats, or even formats _per se_, are attached to chapters, are they? Non-remote formats can have files, and some or all of those files might be associated with specific chapters, but a remote format is always whole-book and should always be presented, I think.

[2018-01-05 23:17] asmecher commented on #3242
Pulls:
- https://github.com/pkp/pkp-lib/pull/3243
- https://github.com/pkp/ojs/pull/1782
- https://github.com/pkp/omp/pull/489

[2018-01-05 23:19] asmecher commented on #3242
@NateWr, would you be able to look at the pulls in the [above comment](https://github.com/pkp/pkp-lib/issues/3242#issuecomment-355691439) and the [additional pull and comment](https://github.com/pkp/pkp-lib/issues/3242#issuecomment-355654225) (and additional necessary work in other themes/copies of templates)?

I'm leaning towards merging this ASAP, if you think that's wise. So far it's run quite

[2018-01-05 23:54] #3127 closed

[2018-01-06 00:01] asmecher commented on #1779
This is a duplicate of https://github.com/pkp/customBlockManager/issues/17.

[2018-01-06 00:01] #1779 closed

[2018-01-06 00:30] asmecher commented on #1922
@NateWr, it looks like this one got merged. Can it be closed, or is there still work outstanding?

[2018-01-06 00:33] asmecher commented on #3210
@NateWr, are you logged in as a priveleged (e.g. Press Manager) user? If so, then the monograph will be viewable by URL even though it's been unpublished.

[2018-01-06 01:04] asmecher commented on #1826
Closing. This isn't strictly tied to a release, as it can be added via the plugin gallery.

[2018-01-06 01:04] #1826 closed

[2018-01-06 01:32] asmecher commented on #1413
(Closing for lack of feedback)

[2018-01-06 01:32] #1413 closed

[2018-01-06 01:34] asmecher commented on #2665
See also https://forum.pkp.sfu.ca/t/notification-of-revision-upload/31676/10.

[2018-01-06 01:35] asmecher commented on #1150
Duplicate of https://github.com/pkp/pkp-lib/issues/2665.

[2018-01-06 01:35] #1150 closed

[2018-01-06 01:42] asmecher commented on #2618
See also https://github.com/pkp/pkp-lib/issues/2665

[2018-01-06 09:04] kaschioudi commented on #2628
Yes

[2018-01-06 09:04] #2628 closed

[2018-01-08 08:01] martinpub opened #3244 "[OJS] Journal's H1 links to site-wide index instead of journal index"
Hi,

After having upgraded from OJS 2.4.6 to 3.1.0-1, the header H1 element for all journals links to the site-wide index ([root]/index.php/index) instead of the journal's home page.

We would appreciate any help or pointers on how to fix.

Thanks!

[2018-01-08 09:54] NateWr commented on #3130
Based on the premise that we respect the role a user is assigned on a submission, I've drawn up the following flowchart outlining the access controls.

![workflow-access-chart](https://user-images.githubusercontent.com/2306629/34665800-888d7ef2-f459-11e7-9446-0da18c26fc85.png)

This would involve some changes to current behaviour which could disrupt existing workflows. And it doesn't address the o

[2018-01-08 10:02] NateWr commented on #3130
Also, while it's on my mind, here are some of the actual changes that could be made around this access if we go forward:

1. Ensure the access chart is followed. At the moment I think an editor can access the editorial workflow regardless of their assignment (by following the URL).
2. During submission, if an editor is making the submission, maybe we should ask them if they should be assigned as a

[2018-01-08 11:48] NateWr commented on #1922
Still working on the last of the tests. Relevant PRs are in [this comment](https://github.com/pkp/pkp-lib/issues/1922#issuecomment-350794209).

[2018-01-08 14:03] NateWr commented on #3239
That sounds right @crism. I think there's some talk of giving remote formats a dummy file in the system, for usage stats and other areas where remote formats introduce inconsistencies. So if that goes forward an additional check will be needed.

Your code looks good. Is there a PR somewhere? We may be able to get this into 3.1.1.

[2018-01-08 15:44] NateWr commented on #3242
Looks good. Did you come up with a regex for those `capture` changes? The bootstrap theme changes look good and I can prepare something similar for the new theme.

Looks like there's a few test issues to work out but otherwise looks good. I clicked around a bit and didn't notice any issues.

[2018-01-08 19:03] NateWr commented on #1922
Merged! Finally!

[2018-01-08 19:03] #1922 closed

[2018-01-08 19:36] asmecher commented on #3244
@martinpub, is the URL itself pointing to `[root]/index.php/index`, or are you redirected there upon clicking it? Is the installation online somewhere that you could share with me?

[2018-01-08 20:25] asmecher commented on #3242
Thanks, @NateWr, I've corrected the issues you identified, re-based, and pushed everything up. Hopefully that'll clear up the tests too.

I don't have a regexp -- I recorded a `vim` macro to help, and if you like, can use it to clean up any batch of templates you'd like to point me at. (I can open a PR as I did with the manuscript theme.)

Will you be ready for me to merge this a little later this

[2018-01-08 21:10] asmecher commented on #3130
@NateWr, I think the expectation that editors should be able to blind-review submissions is going to continue to dog us unless we address it. This is unfortunately a little convoluted, because we've had somewhat conflicting requests. Here's a thought that might satisfy all requirements, with a few noted caveats, specifically around users who are both editors and reviewers of a submission.

*The Si

[2018-01-08 21:23] asmecher commented on #3226
See https://forum.pkp.sfu.ca/t/ojs-3-cannot-upload-logo/28961 for another discussion. I'd suggest using a `.png` file instead of `.ico` -- relaxing this limitation is a low priority, as `.png` files will work wherever `.ico` files might be used.

[2018-01-08 21:25] asmecher commented on #3225
@brueyd, this has already been resolved by https://github.com/pkp/pkp-lib/issues/2441.

[2018-01-08 21:25] #3225 closed

[2018-01-09 01:03] asmecher opened #3246 "Update copyrights for 2018"

[2018-01-09 01:05] asmecher commented on #3246
Useful command lines:

    find . -type f -not -iwholename '*.git*' -exec sed -i -e "s/Copyright (c) \(....\)-.... John Willinsky/Copyright (c) \1-2018 John Willinsky/g" "{}" ";"
    find . -type f -not -iwholename '*.git*' -exec sed -i -e "s/Copyright (c) \(....\) John Willinsky/Copyright (c) \1-2018 John Willinsky/g" "{}" ";"
    find . -type f -not -iwholename '*.git*' -exec sed -i -e "s/Copyri

[2018-01-09 07:51] martinpub commented on #3244
Yes @asmecher, the URL itself is pointing to [root]/index.php/index. I have emailed you the URL of the installation.

[2018-01-09 08:50] mczirfusz commented on #3244
isn't it the same? #3178

[2018-01-09 09:13] martinpub commented on #3244
You are right, @mczirfusz, it seems like this is a duplicate of #3178, which has been fixed.

[2018-01-09 09:13] #3244 closed

[2018-01-09 11:27] NateWr commented on #3246
For the command lines, you might also want to exclude the `node_modules` directory (in app route and under `lib/ui-library`) since both of those will go very deep.

[2018-01-09 11:35] NateWr commented on #3130
I think your "complicated option" aligns with my approach of respecting the user role assigned to a submission. When an editor is assigned as a reviewer, they'll see the review workflow (regardless of double blind or whatever). When the review stage is complete, they'll regain access to the editorial workflow.

If a journal is assigning editors as reviewers, there's just no way to ensure blind rev

[2018-01-09 11:37] defstat commented on #2952
@NateWr

[2018-01-09 11:37] defstat commented on #2947
@NateWr

[2018-01-09 11:37] defstat commented on #2944
@NateWr

[2018-01-09 11:52] NateWr commented on #2965
Merged! :tada:

[2018-01-09 11:52] #2965 closed

[2018-01-09 11:59] NateWr commented on #3157
All merged.

[2018-01-09 11:59] #3157 closed

[2018-01-09 13:14] mczirfusz opened #3247 "[OJS] UI: reviewer page submission details - unnecessary information"
If the reviewer clicks on "View All Submission Details" under Review Step 1, the pop-up window contains misleading instructions which come from the submission form and have no relevancy for the Reviewer.
Such as:
- choose the primary language;
- "Add additional information for your submission. Press 'enter' after each term."

My suggestion (which is perhaps the easiest solution) would be not to in

[2018-01-09 13:25] alexxxmendonca commented on #2508
I second having a "Login As" link under the Reviewer's name, for convenience's sake:

![image](https://user-images.githubusercontent.com/4059679/34722816-8377ec82-f52f-11e7-8431-d1cea7f7a16b.png)

Even though there are ways to unassign, fill out the form and send attachments, often times you need to "see what the reviewer is seeing" for troubleshooting purposes.

It's much faster than going all th

[2018-01-09 14:41] NateWr commented on #3242
I've only got one left (https://github.com/pkp/pkp-lib/issues/2872) but there could be some conflicts there. The OJS tests are passing so I'm just preparing OMP now. If I don't have it merged by end of day then just go ahead. I've only got the one big one left.

[2018-01-09 16:23] NateWr commented on #3210
Hmm, you're right, I can't reproduce this, even logged in as a journal editor. Must have confused myself.

[2018-01-09 16:23] #3210 closed

[2018-01-09 16:37] NateWr commented on #3222
I was able to reproduce this after merging that commit so I'll need to take a deeper look.

[2018-01-09 16:50] asmecher commented on #2872
All merged -- thanks, @NateWr!

[2018-01-09 16:50] #2872 closed

[2018-01-09 16:58] Vitaliy-1 commented on #2527
Hi @asmecher
Hmm, didn't use recommended by author plugin from that time. It requires additional testing. But think this problem had disappeared after adding a possibility for establishing hook download priority.

[2018-01-09 17:02] asmecher commented on #2527
OK, thanks! I'll close this for now, but let me know if you see something similar again.

[2018-01-09 17:02] #2527 closed

[2018-01-09 17:14] jmacgreg opened #3248 "[OJS] submission emails: signature information is slightly duplicated"
With submission emails, the variable $editorialConactSignature pulls in the editor's full name, phone number and affiliation (see https://github.com/pkp/pkp-lib/blob/ojs-stable-3_1_0/classes/user/PKPUser.inc.php#L375). This can duplicate what's added to the editor's "Signature" field, which is appended to the email as well. I'm not sure the best course of action here, but I'd suggest making two va

[2018-01-09 17:17] alexxxmendonca commented on #3248
This is something that we always (and still do) have trouble with.

[2018-01-09 17:24] jmacgreg commented on #3248
@alexxxmendonca I'm really just getting familiar with the problem now. Do you have any thoughts on 1) which variables you would like to see in place; 2) what information those variables should contain; and 3) whether some information (eg. site signature) should override others (user signature)?

[2018-01-09 17:30] asmecher commented on #3248
Yes, this should definitely be changed -- we should rely entirely on the user's signature field, rather than assembling our own signature. The relevant function (which needs grepping/removal) is `getContactSignature` in `lib/pkp/classes/user/PKPUser.inc.php`.

[2018-01-09 17:32] jmacgreg commented on #3248
Thanks @asmecher! What about doing something like: if there's a user signature, use that; otherwise, assemble a signature. Or should we just avoid that entirely?

[2018-01-09 17:41] WaDelma opened #3249 "[OJS] Review form radio buttons filled by default."
In 2.x review form radio buttons weren't filled and in the review form test they aren't filled in 3.x, but when doing actual review they are.

This makes it easy for reviewer to miss choice making the data less reliable. It also makes required flag for radio button do nothing.

[2018-01-09 17:48] asmecher commented on #3248
On balance, I would rather we just let the user specify a signature if they want one.

[2018-01-09 20:25] jalperin opened #3250 "Add og:url metatag to help Facebook identify a canonical URL for each page"
The og:url tag should appear on all article pages, and should probably point to the abstract page for each. This way FB resolves all instances of an article the same way. Alternative, it could point to the same URL as the DOI (if that's different).  There are other og: tags that could accompany the articles.

[Some additional information on Facebook metatags](https://developers.facebook.com/docs/s

[2018-01-09 21:20] kaschioudi commented on #3110
@asmecher

https://github.com/pkp/pkp-lib/pull/3251

https://github.com/pkp/ojs/pull/1784

[2018-01-10 03:36] jmacgreg commented on #3237
A quick fix would be to just add an `if ($galley->isPdfGalley()` test to the code block that adds iParadigms content. Not super happy with the fix, but it would fix it.

[2018-01-10 12:43] alexxxmendonca commented on #3248
@jmacgreg I think it's valid having variables with First, Middle and Last names, as well as Full Name. Pretty much all fields from the User Profile form.

Some journals like to dive really deep into e-mail customization and being able to standardize them.

It would be extremely helpful to have a glossary of variables available. Right now, one has to look up in other e-mail templates to copy a vari

[2018-01-10 12:59] linah-kareem commented on #3190
how to add script tag to any custom block ?

[2018-01-10 13:06] NateWr commented on #3222
Oh ok, I see what's happening (sort of). There seems to be a delay in how long it takes to write the change to the database. If I reload the settings modal immediately, the changes don't appear to take place. But if you make changes, then wait a few seconds before opening the settings, it should appear correctly.

I'm not exactly sure what's causing the delay here, but I've noticed a similar thing

[2018-01-10 13:06] NateWr commented on #3222
(ps - I'm going to close this as the settings lists are working. if we can figure out the delay that's great but we can do it in a separate ticket.)

[2018-01-10 13:06] #3222 closed

[2018-01-10 13:12] NateWr commented on #2872
All merged (thanks Alec).

[2018-01-10 13:14] NateWr commented on #3246
All clear on my PRs if you want to go ahead with this.

[2018-01-10 13:38] Ph-We commented on #3222
@NateWr, thank you. But the problem was that the settings really got erased -- so that there was absolutely nothing in the "More citation formats" drop-down list. Regardless of the time passed.