[2017-01-04 18:39] bozana commented on #1919
I haven't looked at this yes -- so many other issues/priorities -- sorry! :-\ But soon, maybe tomorrow, I promise! :-)

[2017-01-04 18:49] RafaelMansilha commented on #1919
No problem, I totality understand, I'll be waiting, =D

[2017-01-04 19:23] bozana opened #2138 "Use %Y-%m-%d in strftime function"
s. http://forum.pkp.sfu.ca/t/native-xml-export/22772/12:

This should be considered everywhere in the code.

[2017-01-04 19:50] bozana commented on #2138
PRs:
pkp-lib ojs-stable-3_0_1: https://github.com/pkp/pkp-lib/pull/2139
ojs ojs-stable-3_0_1: https://github.com/pkp/ojs/pull/1166

[2017-01-04 20:15] asmecher commented on #2135
As I understand it, we're emailing only temporary passwords when a change is required upon use, which is equivalent (in my opinion) to sending out a hash. There's at least one thing we could probably improve upon, which is a limited window for credentials (whether hash or password) sent in this way.

[2017-01-04 20:34] asmecher commented on #2137
@almeidafilho, before filing an issue, I'd suggest checking for existing posts in the support forum: http://forum.pkp.sfu.ca/
If you're unable to locate a similar post, try posting there. If it turns out to be a bug, we'll take care of migrating it over here.

[2017-01-04 20:34] #2137 closed

[2017-01-04 20:49] asmecher commented on #2134
See https://github.com/pkp/pkp-lib/issues/2134 for a related forum discussion.

[2017-01-04 20:53] asmecher commented on #2134
@bozana, would you mind taking a look at this?

[2017-01-04 21:04] ctgraham commented on #2135
I prefer eliminating any use of a temporary password in favor of consistent use of a password reset hash.  The hash is a dedicated-use tool and is inherently time-sensitive.

[2017-01-04 21:11] asmecher commented on #2114
No strong feeling on whether this should be localized or not -- but in case it helps: this isn't really a "filename" in the normal sense. There are two of those that we track, the filename per the uploading system and the one that OJS assigns for server-side storage, and neither of course is localized. The name field that you're referring to is metadata, and could conceivably be useful localized.

[2017-01-04 21:48] asmecher commented on #2092
@bozana, that all makes sense to me. The use of `viewable` in Copyediting/Production probably partially stems from our previous workflow tools, and was likely made a little incoherent by our switch over to the discussion tools. Your proposal is OK with me.

[2017-01-04 22:26] pkel opened #2142 "Suggestions for Native XML Import"
I am writing a script to automatically import articles/galleys via Native XML after copyediting has been done externally. The following suggestions for improvement came up:

  * Make `filesize` attribute on `<revision>` optional and derive the information from content of `<embed>`.
  * Make `user_group_ref` and `uploader` attributes optional and default to the importing user.
  * In OJS2, I had th

[2017-01-04 22:59] asmecher opened #2143 "Remove restriction on email length"
See http://forum.pkp.sfu.ca/t/omp-field-for-email-address-is-too-short/27411

[2017-01-04 22:59] #2143 closed

[2017-01-04 23:05] asmecher commented on #2142
Thanks for the feedback, @pkel. Good suggestions.

[2017-01-04 23:25] asmecher opened #2144 "REVIEW_ACCEPT should be REVIEW_CONFIRM in upgrade script"
See http://forum.pkp.sfu.ca/t/problems-upgrading-omp/27427 for details.

[2017-01-04 23:27] #2144 closed

[2017-01-05 00:10] #2129 closed

[2017-01-05 00:41] asmecher opened #2145 "Correct SubmissionProofreaderHandler warning"
See http://forum.pkp.sfu.ca/t/ojs-language-identificator-in-url/957/4 for details.

[2017-01-05 00:42] #2145 closed

[2017-01-05 01:14] asmecher commented on #2131
@NateWr, mind taking a look?

[2017-01-05 04:29] jalperin opened #2146 "Offer option to suggest other reviewers when declining to review"
When declining a review, the potential reviewer should be asked to suggest others. Right now, this could be done in an email, but it might be nice if the system offered a few rows asking for (name, email, notes), and if the editor could then easily those into a new user.  #featureRequest

[2017-01-05 04:46] ajnyga commented on #2114
Thanks,

I realize this is not a actual filename, I just used it in lack of a better word.

A visual cue would of course help to spot the problem. However, it would still be very unclear for the average author to determine what kind of name should they write there.

Also, if the script would show the primary locale name instead of the locale the author is using, the author would then probably only

[2017-01-05 09:32] bozana commented on #2138
Everything merged, thus closing...

[2017-01-05 09:32] #2138 closed

[2017-01-05 09:47] bozana commented on #2092
PRs:
1) remove check if the file is viewable for reviewer access:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2147
pkp-lib ojs-stable-3_0_1: https://github.com/pkp/pkp-lib/pull/2148

[2017-01-05 12:13] bozana commented on #2134
@Vitaliy-1, hmmm... it is difficult to figure out what's going on like this... it seems that your scheduled task is not successfully completed:

It seems that `$result` here https://github.com/pkp/pkp-lib/blob/master/classes/scheduledTask/ScheduledTask.inc.php#L153 is `false`. I.e. that this line returns `false`: https://github.com/pkp/pkp-lib/blob/master/plugins/generic/usageStats/PKPUsageStatsLo

[2017-01-05 12:18] isgrim commented on #592
Hi everyone,

I found some weird behaviour that came up, while debugging a 404 Error with our OMP instance (using branch omp-stable-1_2_0). A press was accidentally disabled and that lead to 404 errors for requests to the login page of this press as a logged out user.
I traced the error to changes made for this issue, in the PKPPageRouter class:
https://github.com/pkp/pkp-lib/blob/70849ee5dd1e21c5

[2017-01-05 16:33] bozana commented on #2136
:-P Crazy situation...
The problem is that the necessary JS scripts are missing i.e. they are not inserted into the page. But I cannot figure out why is this happening :-\
They are correctly added here: https://github.com/pkp/pkp-lib/blob/master/classes/template/PKPTemplateManager.inc.php#L699 i.e. the `$this->_javaScripts` contains all necessary scripts, but they are then not loaded here: https:/

[2017-01-05 16:44] bozana commented on #2097
The one initial copyedited file that had `viewable = 0` and that was migrated to the Copyedited grid, but wasn't visible, should be visible in that grid now i.e. with the second PR from here: https://github.com/pkp/pkp-lib/issues/2092#issuecomment-270604156.

[2017-01-05 16:47] bozana commented on #2092
@jmacgreg, the first PR from above should solve the issue....

[2017-01-05 16:50] asmecher commented on #2136
I think the basic problem is the lifecycle of the `$_javaScripts` array vs. the lifecycle of plugin/page loading. The `$_javaScripts` array needs to be fully populated when the page's header is presented, but I suspect it's only being populated later when the sidebar is built (=block plugins loaded) in some cases. @NateWr, what do you think about consideration for later `$_javaScripts` additions?

[2017-01-05 16:53] bozana commented on #2136
Maybe just a comment for this case: this plugin populates JS when article page is loaded i.e. using the hook in the article_details.tpl file and the `$sripts` variable is there in the article_details.tpl but in the next included template file footer.tpl it is not there any more if there is no sidebar.

[2017-01-05 17:12] bozana commented on #2092
Concerning the migration of "viewable":
Now that also those not viewable files are visible in Draft Files and Copyedited grid, we could leave them as they are.
Now that the viewable is not considered for reviewer access, we can also leave the Review Files as they are.
Because the author access to the reviewer files i.e. viewable for the files in the stage = 5 (review attachment) is handled in OJS

[2017-01-05 17:14] asmecher commented on #2092
Yes, @bozana -- happy to have you on this one!

[2017-01-05 17:28] #2117 closed

[2017-01-05 17:29] bozana commented on #1669
This is still not the case, thus can I close the issue @asmecher?

[2017-01-05 17:31] bozana opened #2151 "viewable migration"
s. issuecomment-270700023

I think that we cannot repair the files in the file_stage = 6 (SUBMISSION_FILE_FINAL i.e. Draft Files) because there is the possibility there to deselect them and thus made them not viewable.
Also, I am not sure how the viewable works for file_stage = 18 (SUBMISSION_FILE_QUERY) thus I would also leave this as it as.

[2017-01-05 17:32] bozana commented on #2092
I moved the migration of "viewable" to a new issue: https://github.com/pkp/pkp-lib/issues/2151

Thus, @jmacgreg, when you apply the first PR above and that solves your issue, this issue can be closed...

[2017-01-05 17:56] jmacgreg commented on #2092
Thanks Bozana! I'll test, and re-open if I run into problems.

[2017-01-05 17:56] #2092 closed

[2017-01-05 18:28] asmecher commented on #1669
I'd suggest leaving it open. I'd like eventually to get rid of `getFileId` in favour of `getId` -- the current behavior is out of our normal practice and could be confusing.

[2017-01-05 18:50] asmecher commented on #1859
Thanks, @bozana and @NateWr!

[2017-01-05 19:17] asmecher commented on #2118
The change here permits uppercase letters to appear in paths.

[2017-01-05 19:17] #2118 closed

[2017-01-05 20:00] kardeiz opened #2152 "[OJS 3.0.1] Release for OJS 3.0.1 is broken"
The release for [OJS 3.0.1](https://github.com/pkp/ojs/releases/tag/ojs-3_0_1-0) is broken: it is missing the contents of `lib/pkp`.

[2017-01-05 20:24] kardeiz opened #2153 "[OJS 3.0.0] meta and link tags in wrong place"
`templates/frontend/pages/article.tpl` dumps a lot of `meta` and `link` tags inside the HTML `body` with `article_googleScholar.tpl` and `article_dublinCore.tpl`. I'm not sure whether Google can read these tags in this location&mdash;my guess is not.

`meta` tags can only be outside the `head` element under certain conditions that are not met here. For more discussion, see this SO question: http:/

[2017-01-05 20:37] asmecher commented on #2152
@kardeiz, where did you download the release from?

[2017-01-05 20:40] kardeiz commented on #2152
@asmecher from the link provided above: https://github.com/pkp/ojs/releases/tag/ojs-3_0_1-0.

[2017-01-05 20:46] asmecher commented on #2153
See https://github.com/pkp/pkp-lib/issues/1815.

[2017-01-05 20:46] #2153 closed

[2017-01-05 20:49] kardeiz commented on #2153
Whoops, sorry, didn't see that!

[2017-01-05 20:49] kardeiz commented on #2152
Also, wow, that is a ton of changes for a single patch-level update!

[2017-01-05 21:11] kardeiz commented on #2152
Okay, I found a full release on the PKP website.

However, it looks like not all of the `__construct` commands were replaced. I'm getting tons of errors like:

    Call to undefined method PKPUsageStatsPlugin::PKPUsageStatsPlugin()

I started working my way through these, but stopped after a while

    Call to undefined method GenericPlugin::GenericPlugin()
    Call to undefined method PKPOpenurl1

[2017-01-05 21:39] asmecher commented on #2152
OJS 3.0.0 contains a lot of new code and thus there were a lot of changes/improvements with 3.0.1. And the constructor change hit a lot of files, even though it doesn't represent a functionality change. Anyway, as you've noticed, there's an OJS download page where properly-built releases go; the github download page just gives the repo contents.

[2017-01-05 21:39] #2152 closed

[2017-01-05 21:55] kardeiz commented on #2152
Is there any point in having the GitHub releases, then? It seems unnecessarily confusing. I would suggest making the GH releases identical with the website releases, removing the GH releases page, or adding a note to each GH release that it cannot be used to run OJS. If I see a release page on a GitHub repo, I expect it to contain files that I can `make`/execute/use directly.

[2017-01-06 11:47] bozana opened #2154 "fix hard coded current year in the usage stats JS"
s. https://github.com/pkp/pkp-lib/blob/master/plugins/generic/usageStats/js/UsageStatsFrontendHandler.js#L127-L129 and http://forum.pkp.sfu.ca/t/usagestats-shows-empty-graphs/27435/6

[2017-01-06 12:24] bozana commented on #2154
PRs:
pkp-lib ojs-stable-3_0_1: https://github.com/pkp/pkp-lib/pull/2155
ojs ojs-stable-3_0_1: https://github.com/pkp/ojs/pull/1173 (submodule update)

[2017-01-06 14:01] NateWr commented on #2114
If we want this to be localized, this would be the route I'd go. It falls into the bucket of asking someone to localize something in a language they may not know, so better to just auto-fill it and leave it alone.

We already discourage people editing it anyway by hiding the input field until the user clicks the edit link.

[2017-01-06 14:02] ctgraham opened #2156 "OJS install/upgrade documentation is slightly inaccurate"
Specifically:

- In OJS3, the language of the Full Package upgrade starts with a non-sequitur
- In OJS2 and OJS3, there is reference to copying the download's "config.inc.php", which does not exist.
- In OJS2 and OJS3, there is no mention of the GeoCityLite datafile in the install documentation

C.f.:
http://forum.pkp.sfu.ca/t/i-do-not-understand-the-procedure-of-upgrading-to-ojs-3-0-0/27314/2
htt

[2017-01-06 14:04] NateWr commented on #2136
Hmm. :confused:

[2017-01-06 15:14] ctgraham commented on #2156
Pulls pkp/ojs#1174, pkp/ojs#1175, pkp/ojs#1176, pkp/ojs#1177 ready for review.

[2017-01-06 15:30] bozana commented on #2134
I figured it out, why is it not working for you @Vitaliy-1: a few of your log files contains download link of a file that is not a galley, e.g. CSS file. When processed, the error occurs here: https://github.com/pkp/pkp-lib/blob/master/classes/statistics/PKPMetricsDAO.inc.php#L362 and the processing stops at that place. I will have to take a deeper look how those files should be correctly handled

[2017-01-06 15:57] #2156 closed

[2017-01-06 15:58] asmecher commented on #2156
All merged, thanks!

[2017-01-06 16:21] NateWr commented on #1853
Just chiming in on this, particularly the list of issues @bozana identified. Some of these are just components that need an update trigger to fire, I think. But several of them are places where inter-widget communication is useful.

I'm going to take one of the really simple examples (like publishing an issue) and try to write up a global event router as a model for addressing these issues. If we

[2017-01-06 18:20] bozana commented on #2134
I am not sure what to do with images and CSS files, for example, belonging to an HTML file, if they should be counted according to COUNTER i.e. by our usage statistics plugin? -- Eventually, they could be separately addressed via their own URL -- @ctgraham, do you maybe have an idea?

[2017-01-06 19:04] ctgraham commented on #2134
No, the AR1 and JR1 reports for COUNTER are concerned with full-text accesses only.  Supplementary files such as CSS and images should not be counted.

[2017-01-06 19:13] asmecher commented on #2114
It shouldn't be necessary to fill in *all* values -- just the right one. But agreed, we should pre-fill the required locale, even if that introduces a potential language mismatch (consider primary locale != submission locale).

[2017-01-06 19:20] asmecher commented on #2091
Removed.

[2017-01-06 19:20] #2091 closed

[2017-01-06 20:27] Vitaliy-1 commented on #2134
I think I could try not to sync folders, but move files to stage folder with cron before processing. But I want to wait some time and not delete old logs. From 26 December metrics table is empty and maybe those logs  can be processed later.

It is strange, but in my case autostaging is not working.  When I try: php tools/runScheduledTasks.php lib/pkp/plugins/generic/usageStats/scheduledTasksAutoSt

[2017-01-06 20:33] bozana commented on #2134
@Vitaliy-1, the log files should be moved either to archive or reject folder after processing and stay there. The only strange thing is that your log files in archive folder, for example, differ from those in usageEventLogs -- they do not contain everything :-O Maybe also to run the cron job once per day? -- Because the plugin changes files and compares their names daily...
I will take a look at t

[2017-01-06 22:32] asmecher opened #2158 "Press/journal assistants cannot delete their own placeholder queries"

[2017-01-06 22:35] #2158 closed

[2017-01-07 00:41] asmecher commented on #1996
The attached patches should resolve both issues -- apply them in the `lib/pkp` submodule. All 3 are equivalent, just applied to different branches. Please confirm if this doesn't work for you! Thanks for reporting.

[2017-01-07 00:41] #1996 closed

[2017-01-07 00:51] asmecher commented on #1626
The plugin is available thanks to LangSci Press over at https://github.com/langsci/customLocale, and I've proposed some changes over on my fork (https://github.com/asmecher/customLocale) that permit it to work with OJS 3.0.1 too. It could use some improvements and I've already sent in a PR to LangSci Press. Feel free to file issues and send PRs to that repository instead. It's best maintained as a

[2017-01-07 00:51] #1626 closed

[2017-01-07 10:20] ajnyga commented on #2130
I still think that this is a fairly easy solution:

controllers/grid/files/SubmissionFilesGridDataProvider.inc.php => prepareSubmissionFileData function line 164:
[code]

controllers/grid/files/review/ReviewGridDataProvider.inc.php => loadData line 62:
`      $submissionFiles = $submissionFileDao->getRevisionsByReviewRound($reviewRound, $this->getFileStage());
`

[2017-01-07 12:34] ajnyga commented on #2114
Hi, thanks.

If only the filename for the primary locale would be auto-filled, what locale would show for the author using another locale? I mean, would there be a blank field in step 2 with only the pen icon visible?

Two other things with filenaming. I know that these are separate issues but still connected:

1. The filename now includes the file format. If that changes in a revision, the origin

[2017-01-07 15:35] ajnyga opened #2159 "[OJS] upgrading to OJS3: Revisions and Reviewer's Attachments panels not visible in Review tab for authors"
After upgrading from OJS2 to OJS3.0.1, the authors can not see the Revisions and Reviewer's Attachments panels when they go to the Review tab in their submissions. Only the discussion panel is visible. If there is a decision done with the submission, it is visible in the discussion panel with a title Editor Decision, but the two other panels are still missing.

If I make a new submission and inita

[2017-01-07 15:53] ajnyga commented on #2159
The reason seems to be that in edit_decisions table the migrated submissions do not have review_round_id or stage_id set:
![screenshot_49](https://cloud.githubusercontent.com/assets/16347527/21742975/1a3e0e8e-d502-11e6-8579-7c58b89c2c61.png)

After adding those, the two missing panels appear.

[2017-01-07 16:08] ajnyga commented on #2159
Another issue with these old submissions is that if the author tries to upload new files for example in the discussion section there is a "HTTP error". You do not get that error with new submissions. Also the fix mentioned aboce does not solve the upload issue - the panel for the revisions appears, but the author can not upload anything.

So there is other migration issues here as well.

[2017-01-07 16:41] ajnyga commented on #2097
Hi @bozana,

Thank you so much for the work you have done.
I can confirm that with these changes to the upgrade script I was able to migrate our 45 journals with all revisions visible. Also the fix in #2092 seems to be working as expected!

The only problem with many submissions is that in the journals have not uploaded a Layout version in OJS2 meaning that after migrating to OJS3 the links to pub

[2017-01-07 18:30] ajnyga commented on #2159
Actually setting the stage_id is enough.

[2017-01-07 19:28] ajnyga commented on #2159
Basically `showReviewAttachments` is not getting value "true" here: https://github.com/pkp/pkp-lib/blob/master/controllers/tab/authorDashboard/AuthorDashboardReviewRoundTabHandler.inc.php because `getEditorTakenActionInReviewRound` is not returning anything here: https://github.com/pkp/ojs/blob/master/classes/workflow/EditorDecisionActionsManager.inc.php

[2017-01-08 07:42] ajnyga opened #2160 "[OJS] Variable names visible in Editorial history"
Some of the variables do not get a value in editorial history in OjS 3.0.1.

For example:
Revision "{$name}" (file ID 61821-{$revision}) was uploaded (added in OJS3)
Anon has been assigned to review submission {$submissionId} for review round 1. (migrated from OJS2)
Anon has declined the round 1 review for submission {$submissionId} on behalf of Anon. (migrated from OJS2)
 ##submission.event.parti

[2017-01-08 10:07] ajnyga commented on #2130
I realized that for all the revisions added in OJS3 the old versions are available under More information => History.

![screenshot_51](https://cloud.githubusercontent.com/assets/16347527/21748942/fa661c34-d59a-11e6-955e-a07e4ee687b0.png)

So it is basically just a matter of getting the right entries to event_log and event_log_settings during the upgrade from OJS2 to OJS3.

[2017-01-09 11:22] #2154 closed

[2017-01-09 14:39] bozana commented on #2134
@ctgraham, then those URLs should not be logged at all, would you agree?
In OJS 2.4.x the HTML images had an URL something like ".../article/viewFile/<articleId>/<galleyId>/<fileId>" and are handled by the UsageEvent plugin here: https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/generic/usageEvent/UsageEventPlugin.inc.php#L219-L227, resulting in an entry in the log file with the URL like ".

[2017-01-09 14:47] ctgraham commented on #2134
To generate COUNTER compliant statistics (at least for JR1 and AR1 reports), the code should explicitly only consider URLs which are used for access to the full text of the article.

We shouldn't depend on the double click rule to filter these out - the code should be very particular in selecting only URL patterns which represent full text access from the very start.  `UsageEventPlugin::_buildUsag

[2017-01-09 14:51] bozana commented on #2134
OK, thanks @ctgraham! I will then try not to log those other files...
Also I think I will then have to take another look at OJS supplementary files (in OJS terminology) and how they are currently treated... :-\

[2017-01-09 15:06] bozana commented on #2134
PRs:
ojs ojs-stable-2_4_8: https://github.com/pkp/ojs/pull/1180

[2017-01-09 16:03] NateWr opened #2163 "Routing events between handlers in the JS framework"
This issue is a placeholder to track some work/experimentation to improve the way that our JS handlers can communicate between themselves. The suggested approach is to have a kind of global event router which is based on the [observer pattern](https://en.wikipedia.org/wiki/Observer_pattern) common in several JS frameworks.

I'd like to use this to document some of the lessons learned about how eve

[2017-01-09 16:30] NateWr commented on #1853
I was able to reproduce the initial issue. I can reproduce it when removing the last participant in a user group.

Probably something to do with the category grids updating properly.

[2017-01-09 16:34] bozana commented on #2134
In OJS 3.x the HTML files usage is not logged, because of the missing `FileManager::downloadFileFinished` hook in the HtmlArticleGalleyPlugin, when the plugin is used.
I wasn't sure if I would need something like this before calling that hook: https://github.com/pkp/pkp-lib/blob/master/classes/file/FileManager.inc.php#L269-273
@asmecher, could you take a look at this PR https://github.com/pkp/ojs/

[2017-01-09 16:47] NateWr commented on #1853
@bozana can you explain these in more detail? I'm trying to reproduce them but not having much luck. When you say "notifications", are you talking about the in-place notification at the top of the workflow area, the floating notifications or the Tasks?

When I unassign a reviewer, the notification correctly changes for me. I was unable to find any associated notifications for the other events you

[2017-01-09 16:55] bozana commented on #1853
Hi @NateWr :-) This was some time ago, but I hope I can explain: "notifications" are banners at the top of the page, that tells the user what is happening/to be done next, thus:
-- when an editor unassigns a reviewer, the banners should change, that a reviewer has to be assigned and therefore the page reload would be needed, if I can recall correctly.
-- if there is a banner that copyeditor or lay

[2017-01-09 16:57] NateWr commented on #1853
Hi @bozana, ah I just noticed your post is from November! Sorry, just came to my attention recently.

That's what I thought, but I was unable to reproduce the problems you mention. The only notification I see is the reviewers notification, and this updates properly when a review is added or removed for me. Maybe it's been fixed since then.

[2017-01-09 16:58] bozana commented on #1853
Aaaa... OK, I can test them again... to see if it is still actual... :-)

[2017-01-09 16:59] NateWr commented on #1853
Don't worry about it. I'm digging into the notifications so I'll test it out. Just wanted to make sure I understood you. :)

[2017-01-09 16:59] bozana commented on #1853
OK, thanks!!!

[2017-01-09 17:02] bozana commented on #1853
I've just taken a look at one: When an editor assigns a reviewer, this banner is displayed: "Awaiting responses from reviewers. " When he then immediately unassigns the reviewer, so that there is no reviewer assigned any more, the banner does not change for me immediately. First when I reload the page I see the correct banner "Waiting for reviewers to be selected. ". Is this not fore you?

[2017-01-09 17:05] NateWr commented on #1853
Interesting, that does work for me on latest master...

[2017-01-09 17:08] bozana commented on #1853
Hmmm... I was on ojs-stable-3_0_1 and will check it now with master...

[2017-01-09 17:12] bozana commented on #1853
Hmmm... strange... it works when adding the review -- the banner changes -- but when unassigning the reviewer is does not work for me... (And I thought it makes sense, because all those JS actions seem to be problematic...) :-O

[2017-01-09 17:15] NateWr commented on #1853
Hmm, it worked for me when unassigning a reviewer too (assuming it's the last reviewer and the grid is then empty).

But yes, all these JS events are messy. I'm trying to get to the bottom of it. :/

[2017-01-09 17:40] bozana commented on #2159
I will take a look...

[2017-01-09 17:47] asmecher commented on #2130
Agreed, the log access mechanism is already there if we can fix up the log entries/conditions -- something that already needs doing. Is accessing revisions via the log convenient for you, or is it too deeply buried?

[2017-01-09 18:35] ctgraham opened #2164 "Bad link in Crossref settings form after pkp/pkp-lib#1498"
See: http://forum.pkp.sfu.ca/t/2-4-8-1-crossref-unregistered-page-still-calls-for-all-tpl/27535

CrossRef settings form still references "all" as the unregistered articles link, but this has been removed.
Change: https://github.com/pkp/ojs/blob/f246c7ba70b0f808f31532ca33107cb1203da168/plugins/importexport/crossref/classes/form/CrossRefSettingsForm.inc.php#L46

[2017-01-09 18:46] ctgraham commented on #2164
Master does not exhibit this issue because it somewhat awkwardly truncates the message as: "OJS will deposit assigned DOIs automatically to CrossRef. Please note that this may take a short amount of time after publication to process. You can check for all unregistered DOIs."

[2017-01-09 18:53] ajnyga commented on #2130
It is a bit deeply buried. but this is a problem only during the transition from OJS2 to OJS3. With the new submissions the files grid is already working very well.

As I described in the other issue, many authors have submitted different kinds of files using the author revision function in OJS2. It is these files that our editors need to get access to after the upgrade.

I already wrote a small s

[2017-01-09 19:02] RDerler opened #2165 "radioButton.tpl: $FBV_label displays just "Array""
hi. i found an error with radio button answers in review forms:

![image](https://cloud.githubusercontent.com/assets/4673372/21778955/cd4a7f18-d6a5-11e6-8a5b-6300c52fd9e3.png)

i don't know if it's the tpl itself or somewhere in the php code, but the solution was to change this line:

**{$FBV_label|escape} --> {$FBV_label.content|escape}**

[2017-01-09 19:04] jmacgreg opened #2166 "[OJS] Users import/export plugin doesn't include notification functionality"
It appears that the user notification functionality in the users import/export plugin hasn't been ported over. This is problematic, as users can be imported, but won't be notified of their username/password.

[2017-01-09 19:06] bozana commented on #2164
Aaaa... this was my mistake... Sorry...
Yes, I left the sentence in the master branch without a link, in order not to change the locales so much... and it is just the next tab "Articles" on the same page...
Thanks a lot @ctgraham! Can the issue then be closed?

[2017-01-09 19:28] asmecher commented on #2165
@RDerler, is this the same as https://github.com/pkp/ojs/pull/1172?

[2017-01-09 19:36] #2164 closed

[2017-01-09 19:40] RDerler commented on #2165
this is highly possible. sorry for the repost. i did search for the bug itself without thinking it could be an update issue. i updated some days ago

[2017-01-09 22:32] asmecher commented on #1782
@ajnyga, many thanks for tracking this down! I've committed per your fix; it's in both `ojs-stable-3_0_1` and `master`.

[2017-01-09 22:32] #1782 closed

[2017-01-10 00:03] asmecher commented on #2166
This is implemented in OJS 2.x in...

https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/importexport/users/UserXMLParser.inc.php#L287..L297

It's _not_ implemented in OJS 3.x here: https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_1/plugins/importexport/users/filter/UserXmlPKPUserFilter.inc.php#L132

The "notify" flag would need to be added to the UI somewhere, but otherwise it would be a

[2017-01-10 00:06] asmecher commented on #2130
OK, thanks for the background! I'll file this against OJS 3.1, and we can at least improve the log entries if nothing more.

[2017-01-10 05:03] ajnyga commented on #1853
Great to see you working on this.

I think the clearest case of this happening is with the participants grid in the submissions.

Everytime you remove the last particapant of a certain group (for example the last editor) from the list of participants, the `fetch-grid` script is not running. If there are more than one in a group (for example two editors), the `fetch-grid` runs and clears the name.

[2017-01-10 05:04] ajnyga commented on #1782
Great, thanks!

[2017-01-10 11:41] bozana opened #2167 "fix getViews"
The assoc type here is wrong: https://github.com/pkp/ojs/blob/master/classes/article/ArticleGalley.inc.php#L39
It should be ASSOC_TYPE_SUBMISSION_FILE because the ASSOC_TYPE_GALLEY is not used any more in UsageStats in 3.x

[2017-01-10 11:49] bozana commented on #2167
PRs:
ojs ojs-stable-3_0_1: https://github.com/pkp/ojs/pull/1184

[2017-01-10 11:51] bozana commented on #2167
@NateWr, could you take a look at the PR above?
Also, what do you think: should we provide the getViews function also in the Article class, for article page views, if someone would like to use it?

[2017-01-10 12:09] ajnyga opened #2169 "[OJS] Mailing Address should not be required in settings"
Hi,

Some of our journals do not have an actual mailing address, but the field in Settings => Contact => Mailing Address is required. I suggest that this should be changed if there is no greater reasons for keeping it required.

[2017-01-10 14:45] NateWr opened #2171 "Merge user breaks tab content"
Choosing to merge a user under Users & Roles > Users causes the tab to be reloaded. When reloaded, it's "swallowed" it's parent element, and is no longer properly nested in the tab. Switching to the Roles tab causes the roles grid to appear underneath the users grid.

[2017-01-10 16:03] NateWr commented on #2167
Sorry I went down a rabbit hole today. Just noticed this now. Looks like a safe one to have merged. :+1:

[2017-01-10 17:55] ajnyga opened #2173 "[OJS] Upgrading to OJS3: multiple issues with ongoing reviews"
Described here: http://forum.pkp.sfu.ca/t/ojs3-upgrade-multiple-issues-with-ongoing-reviews/27563

OJS 3.0.1

[2017-01-10 17:58] NateWr opened #2174 "Display author biographical information in OJS"
The author bios aren't displayed on the frontend if they exist.

This is just a placeholder issue for tracking. PR inbound soon.

[2017-01-10 18:09] NateWr commented on #2174
PRs:
https://github.com/pkp/pkp-lib/pull/2175
https://github.com/pkp/ojs/pull/1186
https://github.com/pkp/omp/pull/379

[2017-01-10 19:08] asmecher commented on #2114
The way OJS treats multiple languages is as follows: there's always a "primary" locale (generally the journal's primary locale), and required fields are always required in that language. For all other languages the translation is purely optional. When a piece of data isn't available in the user's current language, the system falls back on the primary locale.

[2017-01-10 19:28] ajnyga commented on #2114
I realize this. I think that any solution here is good as long as the "Continue" button is not disabled in step 2 by default for the submitting author when adding a new file.

[2017-01-10 19:36] ajnyga commented on #2173
Our site upgraded from OJS2.4.8.1 to OJS3.0.1.

There are at least two issues our journals are seeing with the ongoing reviews.

    All the "Files To Be Reviewed" are unselected in all ongoing reviews. The file is there if I edit an active assignment, but it is not selected to be viewed to the reviewer.

    All the "Reviewer files" that the reviewers have sent are missing from the grid. (probabl

[2017-01-10 19:41] ajnyga commented on #2173
Concerning item 2:
The reviewer files are in submission_files table, but there are several problems
file_stage is 4, should be 5
assoc_id is missing, should be review_id from review_assignments
assoc_type is missing, should be 517

[2017-01-10 22:27] ajnyga commented on #2173
For item 4 the best solution I can think of is to set date_response_due to match the value of date_due.

[2017-01-11 00:08] RDerler opened #2176 "No Reviewers after upgrading from 2.4.8 to 3.0.1"
i don't know, if this is related to [https://github.com/pkp/pkp-lib/issues/2159](url), so i'm creating a new issue.

after upgrading (did the upgrade multiple times to make sure) not a single article had reviewers and their reviews attached. the problem is, that the review_round_id in the review_assignments table is missing.

editing 1000+ lines by hand to fix this would be super annoying, so is t

[2017-01-11 06:28] ajnyga commented on #2159
After chancing the stage_id the two panels are visible.

However, the file in the revision grid can not be accessed:
{"status":false,"content":"The current role does not have access to this operation.","elementId":"0"}

[2017-01-11 08:33] NateWr opened #2177 "Improve the how-to-cite content block on the article details page"
The citation formats content block takes up a lot of real-estate. Most journal managers want to de-emphasise this block.

In the future, there may be dozens or hundreds of formats provided by CSL (https://github.com/pkp/pkp-lib/issues/723), so plan for having an unlimited number of potential formats.

From UI/UX Testing Outcomes: https://docs.google.com/spreadsheets/d/1RkZ0avL3UIUU-hUScbM77lLCsGtk

[2017-01-11 08:34] NateWr commented on #989
Closing. If the remaining item is important it will re-surface in future tests.

[2017-01-11 08:34] #989 closed

[2017-01-11 08:39] NateWr opened #2178 "Add nav menu management and static pages features"
Implement a control in the website settings to configure the navigation menus.

- [ ] Nav menu items should be able to be re-ordered and nested up to one level.
- [ ] Default menu items should be available for the homepage, announcements, current issue, issue archive, submissions, login and registration.
- [ ] Custom menu items should be able to be created. The user should be able to define conten

[2017-01-11 08:43] NateWr commented on #2174
Tests passed! @bozana can you code review?

[2017-01-11 08:49] NateWr opened #2179 "Template variables appear in some email subjects"
Some cases were reported in which template variables (eg - `{$contextName}`) appear in prepared email subjects. An example:

Some of these may already have been fixed. Another round of testing is needed to see if any more remain.

From the UI/UX outcomes spreadsheet: https://docs.google.com/spreadsheets/d/1RkZ0avL3UIUU-hUScbM77lLCsGtk-T2_dL-FEx_vKcM/

[2017-01-11 08:51] NateWr opened #2180 "Prepared emails should display the value of variables like author name"
Prepared emails show placeholders like `NAME` for variables that will be injected to the email when it's sent. Users reported confusion about this and would prefer to see the actual name that will be used displayed.

From UI/UX testing outcomes: https://docs.google.com/spreadsheets/d/1RkZ0avL3UIUU-hUScbM77lLCsGtk-T2_dL-FEx_vKcM/

[2017-01-11 09:25] NateWr commented on #2136
This is happening because the resources are displayed using the `$scripts` variable passed to the template. When something hooks in in while a template is being rendered, it adds to `$templateMgr->_javaScripts`, but the `$scripts` variable isn't updated.

I think the solution is to remove the `$scripts` variable from the `{load_scripts}` and `{load_styles}` calls. These helper functions can pull d

[2017-01-11 09:43] NateWr commented on #2136
These PRs fix this issue by removing the `$scripts`, `$styles`, and `$headers` template variables. The smarty functions now fetch these assets from the template manager. This may be a breaking change in some cases, if anyone relied on access to these template variables. But I suspect not.

I also added something I did in the manuscript child theme: if no sidebar is present, the content panel is no

[2017-01-11 12:00] Ph-We commented on #2174
Just to remind, there is still no possibility to contact an author.

[2017-01-11 12:45] NateWr commented on #2174
I doubt we'll be exposing email addresses publicly, or implementing a publicly accessible form-to-email system. Those are big targets for spam bots.

[2017-01-11 15:15] NateWr commented on #2171
This issue is address in this commit: https://github.com/NateWr/pkp-lib/commit/6ed3c58bb6aaf0030fe1f7883b4e98ca9fee325f

However, it's part of some broader refactoring I'm doing in an attempt to implement an event observer (#2163). That may not get merged. If it doesn't, the fix can be cherry-picked over. But the user grid syncing will need to be accounted for in a different way (it currently uses

[2017-01-11 17:03] Ph-We commented on #2174
Of course, we cannot allow exposing authors' emails. But the "Email the author (Login required)" functionality was always normal for OJS2, as well as for any other publishing system.

[2017-01-11 17:21] asmecher commented on #2136
@NateWr, are these ready for someone to look at?

[2017-01-11 17:24] NateWr opened #2182 "CSRF check prevents notes from being deleted"
A note in the information center can't be deleted. The request fails to pass the CSRF check in `InformationCenterHandler::deleteNote()`, probably because it's missing a CSRF variable.

(Currently looking at it as part of #2163 so I'll report back when I find a solution. Just flagging this to ensure it doesn't get missed.)

[2017-01-11 17:27] NateWr commented on #2182
Yeah this was an easy one.

PR:
https://github.com/pkp/pkp-lib/pull/2183

@asmecher you mind code reviewing? I'm guessing this one is small enough it doesn't need tests but you know the CSRF stuff.

[2017-01-11 17:29] NateWr commented on #2136
Looks like the tests are failing. I'm kinda heads-down on something now but I'll try to fix the tests tomorrow.

[2017-01-11 17:39] asmecher commented on #2182
Got it, thanks!

[2017-01-11 17:39] #2182 closed

[2017-01-11 18:31] asmecher commented on #2177
At a glance, this appears to be a PHP-based CSL mapper, which would be graftable onto OJS using the filter framework without too much suffering: https://bitbucket.org/rjerome/citeproc-php

[2017-01-11 18:32] asmecher commented on #723
Or we could do this PHP-side, using https://bitbucket.org/rjerome/citeproc-php.

[2017-01-11 18:40] ajnyga commented on #2159
@bozana or @asmecher, is there logic there I can use to fill the missing stage_id fields? Is it always 3?

[2017-01-11 19:24] asmecher opened #2184 "User group settings only installed for primary locale upon context creation"
See http://forum.pkp.sfu.ca/t/new-translation-getting-default-values-for-email-templates-article-components-and-role-names-after-upgrade-to-ojs3/27438/3 and https://github.com/ajnyga/pkp-lib/commit/235b4c0aafdf13dfe53c32c60c853fc6044d57ec.

[2017-01-11 20:57] asmecher commented on #2176
@RDerler, you're right -- the upgrade queries for which we needed different SQL syntax to support both MySQL and PostgreSQL specified the `mysql` driver, not the `mysqli` driver. The attached patches (both are equivalent) should add `mysqli` queries that are equivalent to the `mysql` ones. I'd suggest re-running the upgrade with this patch in place. Can you confirm whether that solves the issue?

[2017-01-11 21:05] asmecher commented on #2136
The tests are failing because we updated the ISO countries list and United States became United States of America. I've updated the tests to suit and they're running now; by the time you read this you should be able to rebase to fix the issue on your PRs.

[2017-01-11 21:32] asmecher commented on #2169
Hmm, there's no academic affiliation the journal could use as a mailbox? That seems unusual to me.

[2017-01-11 21:37] ajnyga commented on #2169
This is what they told me. There are ways around this of course without chancing the code.

[2017-01-11 22:18] RDerler commented on #2176
it does solve the issue, yes. but there are other files, not changed, having no mysqli queriey:
- indexes.xml
- counter_monthly_log_1_1.xml
- data-sql.xml

don't know if they matter.

another issue i have is that the main admin is no admin after upgrade. the admin_group_id is set to 0, every time. solved it by setting it back to 1.

UPDATE `user_user_groups` SET `user_group_id` = '1' WHERE `user_u

[2017-01-11 22:26] asmecher commented on #2176
Ah, I grepped too narrowly. Changes were required to `dbscripts/xml/indexes.xml` and `plugins/generic/counter/counter_monthly_log_1_1.xml` as well, thanks.

[2017-01-11 22:36] asmecher commented on #2176
The issue with `user_group_id` in `user_user_groups` is interesting. The code responsible for populating that is `classes/install/Upgrade.inc.php` in `migrateUserRoles`:

    $userGroupDao->update('INSERT INTO user_groups (context_id, role_id, is_default) VALUES (?, ?, ?)', array(CONTEXT_SITE, ROLE_ID_SITE_ADMIN, 1));

...then a few lines lower...

    $userGroupDao->update('INSERT INTO user_user_

[2017-01-11 22:59] RDerler commented on #2176
yes, this does work. as far as i know it is generally recommended for mysql to grep die ID right after insert. i had this problem with the normal mysql driver too.

[2017-01-11 22:59] RDerler commented on #2176
next thing is, i need2fix the production DB, so im working on a script. basically i'm executing the missing queries now. so, if i am correcot, the only table i need to recreate from the old DB is articles_migration. script below:

CREATE INDEX issue_settings_name_value ON issue_settings (setting_name(50), setting_value(150));
CREATE INDEX submission_settings_name_value ON submission_settings (sett

[2017-01-11 23:52] asmecher commented on #2176
@RDerler, the `articles_migration` table is created during the upgrade process and doesn't exist outside the 3.x upgrade code. I'm not sure if that answers your question?

[2017-01-11 23:54] asmecher commented on #2176
Great, thanks for confirming. I've committed this to `master` and `ojs-stable-3_0_1` branches. Agreed that this is a good policy, but oddly, I've never had a problem with this code using the `mysql` driver and MySQL (5.5.53, FWIW).

[2017-01-11 23:57] asmecher commented on #2169
@stranack and @willinsky, any thoughts on this one?

[2017-01-12 01:21] asmecher commented on #2163
Thanks, @NateWr, good reading.

Do you remember when you first started working with the PKP JS code that you proposed a change to the handler lifecycle? IIRC you wanted static calling or something. Would that be a useful thing to revisit in mangling an observer pattern into our DOM usage?

[2017-01-12 01:41] asmecher commented on #1861
@kaschioudi, I have an OMP user who would like to run this -- how much do you have left to do?

[2017-01-12 02:24] asmecher opened #2185 "Make stage/review assignment joins in SubmissionDAO more selective"
Currently when searching by author name, *any* present review assignment will prevent a result from matching, not a review assignment for the current user.

[2017-01-12 02:25] #2185 closed

[2017-01-12 03:26] kaschioudi commented on #1861
@asmecher: I just pushed the remaining changes
https://github.com/kaschioudi/pkp-lib/commit/c2ff57ad7ba59f5d0466caa697994bdf2abc2f93
https://github.com/kaschioudi/ojs/commit/fd0076aa3362d58aba005d7880460024d2082bc5

Here's the PR for pkplib: https://github.com/pkp/pkp-lib/pull/2186

Oddly enough I am unable to create a PR for ojs (https://github.com/pkp/ojs/compare/master...kaschioudi:1861-fix?exp

[2017-01-12 05:24] ajnyga opened #2187 "[OJS] Upgrading to OJS3: authors can not download the revisions they have uploaded"
Authors can not access the uploaded files in the revisions grid: {"status":false,"content":"The current role does not have access to this operation.","elementId":"0"}

The reason is that the migration rewrites ownership of submission files. Chancing the file owner enables the author to open the files.

Should the logic in the grid be changed or would it be possible to preserve file ownership bette

[2017-01-12 05:25] ajnyga commented on #2159
I added a separate issue concerning the file access error in the uploaded files.

[2017-01-12 10:13] NateWr commented on #2136
Rebased and tests are running. I'll check back after lunch.

[2017-01-12 10:15] NateWr commented on #2047
I've just been digging into notes a bit. Whoever deals with this, the role assignment is here:

https://github.com/pkp/pkp-lib/blob/master/controllers/informationCenter/InformationCenterHandler.inc.php#L33-L41

There are child classes of `InformationCenter` you'll want to double-check for permissions too.

[2017-01-12 10:20] NateWr commented on #2174
Tests passed but a merge conflict arose. I've rebased again so should be ready for merge once it's passed code review.

[2017-01-12 10:50] NateWr commented on #2163
I dug up my old doc on that when I was looking into this. I'm not sure it would solve the problems we're facing in this case, although I think questions about how we initialize components will keep coming up if we start to introduce parts of an existing framework.

I've come up with an ad-hoc way to get a sort-of registry of handlers. Basically, we have every handler crawl up the DOM hierarchy and

[2017-01-12 11:41] bozana commented on #2174
@NateWr, looking all good :-) When OMP test is finish you can merge it... Thanks!!!

[2017-01-12 12:20] bozana commented on #2187
Hmmm... Theoretically, an editor could/should be able to upload a revision file as well, right? Thus, I would say that the author could access the revision files regardless who uploaded them, but I am not sure if I overlook something :-\ @asmecher, what do you think?

[2017-01-12 12:27] ajnyga commented on #2187
Maybe I am overlooking something.

Basically the authors sees the revision in the grid, but can not open it or push the edit button.

The only way I could fix that was by changing the owner.

[2017-01-12 12:38] ajnyga opened #2189 "[OJS] Tinymce in full screen mode problematic in multilingual journals"
In author guidelines selecting the full screen mode show the two other languages on top of the form:
![screenshot_62](https://cloud.githubusercontent.com/assets/16347527/21889968/24a807c8-d8d4-11e6-8440-56edd236023c.png)

This does not seem to happen for example with the competing interests field in the next tab.

[2017-01-12 12:50] NateWr commented on #2174
Thanks @bozana, all merged!

Closing because I think this is an added feature and so doesn't need to be cherry-picked.

[2017-01-12 12:50] #2174 closed

[2017-01-12 13:38] bozana commented on #2187
Yes, yes, but if we would maybe change the author access policy for the revisions files... so that the author could access those files regardless of the uploader...

[2017-01-12 13:56] NateWr commented on #2136
Looks like a couple of the tests timed out. There was a merge conflict anyway so I've rebased. Tests re-running.

[2017-01-12 14:20] bozana commented on #2159
Concerning the missing stage_id:
If I see it correctly, in the `editor_decisions` table in OJS 2.4.x there were only entries for the review stage, right @ajnyga? Thus, yes, for all submission_ids from the OJS 2.4.x you could add the `stage_id = 3` there. If you would like, you could send me the DB dump of that table and I could double check it...

[2017-01-12 14:25] bozana commented on #2159
@ajnyga, what does this mean:

Do you mean no entry for stage_id? Or do you mean no entries for other stages?

[2017-01-12 15:01] ajnyga commented on #2159
Thanks @bozana, I will check these in a few hours.

[2017-01-12 15:55] bozana commented on #2159
PRs:
ojs-stable-3_0_1: https://github.com/pkp/ojs/pull/1188

[2017-01-12 16:03] jmacgreg opened #2190 "[OJS] Issue Data -> Identification checkboxes are redundant"
On the Issue Data tab, editors can add volume/number/year/title information, and also toggle which elements are required via checkboxes. I think the checkboxes are a holdover from OJS 2, where JMs could indicate which elements are required by default. Given that there is no area where defaults can be indicated in the OJS 3 UI (as far as I can find), I think the checkboxes are redundant. Can we do

[2017-01-12 16:03] bozana commented on #2159
@asmecher, could you review the PR above?

Also, do you think we should insert the review_round_id where possible, with:
`UPDATE edit_decisions ed, review_rounds rr SET ed.review_round_id = rr.review_round_id WHERE rr.round = ed.round AND rr.submission_id = ed.submission_id
`

And also, do you think we should insert the extra rows for submission and editing stage for each submission, as it is alwa

[2017-01-12 17:23] bozana opened #2192 "consider and migrate remote supp files as remote galley files"
currently the migration from OJS 2.4.x to OJS 3.0 does not consider the remote supp files.

[2017-01-12 17:49] asmecher commented on #2190
@NateWr, I think you have a related/duplicate issue filed somewhere already?

[2017-01-12 17:57] NateWr commented on #2190
I've brought this up in the past. I'd like to get rid of the checkboxes.

But if I recall, I was told that the checkboxes are there for display purposes. It's so that someone can add something (Vol/Num/Year/Title) but not have it be displayed on the frontend.

Personally I think it's not an option worth having. So I'm all for removing it if possible. :)

(I don't remember filing an issue specifica

[2017-01-12 18:10] jmacgreg commented on #2190
Yeah, I did a search but couldn’t find anything either. I think it’s worth ditching. The OJS 2 paradigm wasn’t perfect either, and I think led to some minor but still irritating confusion over time. It should simply be an option of including/displaying this content if it’s included in the metadata itself.

Cheers,
James

[2017-01-12 18:16] asmecher commented on #2190
Before ditching this I think we should look at some example data from the wild.

[2017-01-12 18:27] jmacgreg commented on #2190
What kind of data are you looking for?

[2017-01-12 19:15] ajnyga commented on #2187
ah ok, I read you wrong, sorry.

I also noticed that when the author uploads a new file, in same cases the file uploader has both the author revision file and the review file in the dropdown menu where you can choose for which file you are submitting a revision.

Does the file upload list all files from the same uploader there? This would explain why I see the review file there as well.

[2017-01-12 19:24] asmecher commented on #2190
I think a few sample archive listings where journals have a few issue naming types at play would help -- e.g. something that uses VNY but occasionally throws in a special volume or oddly-numberd issue.

[2017-01-12 20:40] ajnyga commented on #2159
Thank you @bozana,

I checked the edit_decision table from the old OJS2 database and yes, there are only decisions 1, 2,  3, 4 there.

In the upgraded OJS3 table there are also other decisions, but those are there only after the upgrade.

Concerning the other case, I meant that whole rows are missing from the table in some cases where an article is in review. However, naturally I could not find a

[2017-01-13 00:17] aplatanado commented on #866
Hi. I have similar issue that could be related.

The URL `/index.php/<journal here>/notification/` never shows any notification and the loading image never goes away.

Javascript report an error:

Uncaught ReferenceError: $ is not defined(anonymous function)

and the code is this:

[code]

[2017-01-13 00:37] asmecher commented on #866
@aplatanado, this issue is somewhat different and has already been closed. Could you start by posting this in the forum at http://forum.pkp.sfu.ca/? Make sure to check your PHP error log and post your OJS version number.

[2017-01-13 00:45] aplatanado commented on #866
Yes, I can. I'm sorry. I don't see the issue has been closed. I though it could be related.

[2017-01-13 08:27] ajnyga opened #2195 "[OJS] Upgrading to OJS3: reviewers can see the names of the authors"
After upgrading to OJS3 the `review_method` variable in `review_assignments` is handled differently, but the old values in that field are not updated during the migration. When adding a new assignment in OJS2 the `review_method` is set to '0'. OJS3 only uses values '1', '2' and '3'.

To make things worse, if you edit an review assigment in OJS3 it shows as if the review would be double blind altho

[2017-01-13 09:52] bozana commented on #2195
I'll take a look...

[2017-01-13 10:54] ajnyga commented on #2195
Thanks!
Probably the value for double-blind reviews in OJS2 was '0'? In OJS3 that value does not exist anymore.

[2017-01-13 17:04] ajnyga commented on #2189
That's with Firefox 50 in Win7, in case it is a browser issue.

[2017-01-13 20:51] asmecher opened #2199 "Permit submissions to remain in workflow lists after addition to catalog"
From [SI row 12](https://docs.google.com/document/d/1R4Emgriw_7sLIhVziI6SSf8c-_tFIA2ckrV8e8FqTNM/edit):

Currently adding a submission to the catalog (IIRC) triggers the submission to change from `STATUS_QUEUED` to `STATUS_PUBLISHED`, which also removes the submission from active lists in the dashboard.

It's common for workflows to continue on books (more so than journal articles) after that stag

[2017-01-13 22:23] asmecher commented on #2163
@NateWr, thanks, that sounds like a decent short-term plan.

[2017-01-13 23:30] asmecher commented on #1861
It won't let you create another pull request while one is already open -- but the open one has your latest commits pushed to it, so that's OK.

[2017-01-13 23:32] #1861 closed

[2017-01-13 23:44] asmecher commented on #1861
Merged and ported over to OMP `master` and `omp-stable-1_2_0`, thanks!

[2017-01-15 10:25] ajnyga commented on #1853
@NateWr, would it be possible for you to check out this as well:
"Adding an editor or section editor in the submission stage works, but the buttons (Send to review, Send to copyediting, Decline submission) only appear if I refresh the page"

It is very common that an editor adds herself to the submission and at the moment she has to reload the the page manually or visit another page to get those b

[2017-01-15 20:25] ajnyga opened #2201 "[OJS 3.0.1] A reviewer has commented on "title" notifications should not go to other reviewers"
A journal contacted me that OJS is sending a notification to other reviewers, when one of them has returned their review. In a double-blind review only the editor should know the names of the reviewers and the authors. Now, the other reviewers can see the name of the reviewers from the notification, from the sender address. Furthermore, while the other reviewer can not access the link included in

[2017-01-16 09:51] defstat commented on #1953
I am on it!

[2017-01-16 13:52] mittinatten opened #2202 "[OJS 3.0.1] Automatic filename contains author name under double blind review"
When a user submits an article to OJS 3.0.1 the files are assigned automatic file names, of the format `<author last name>, <original filename>`. Under double blind review, if the author doesn't manually edit the filename afterwards the author's last name is then visible to the reviewer, since the same filename is used for the review.

[2017-01-16 15:11] ajnyga commented on #2202
At least with our journals the original format of the files is:
[Username], [Role], [Filename]

And when the editor takes the submission to the review stage, it is automatically saved as:
[Role], [Filename]

These two formats are defined here:
https://github.com/pkp/pkp-lib/blob/master/locale/en_US/common.xml#L148-L149

Is your `common.file.anonymousNamingPattern` correct?

If these problems are w

[2017-01-16 16:51] bozana commented on #2195
Yes, I think it would be best to set the value of the review_method to 2 (double-blind) when migrating, because, there was no such option in OJS 2.4.x, where a journal manager/editor could define the review method i.e. review method wasn't used. @asmecher, do you think this would be OK?

[2017-01-16 17:29] mittinatten commented on #2202
Now I see I did a silly mistake, sorry for bothering. I called my test author "Test Author" and thought that Author was the last name and not the role. This issue was started because an editor said they could see the last name, but now I can't reproduce it, so I'll close this issue for now.

[2017-01-16 17:29] #2202 closed

[2017-01-16 18:46] bozana commented on #2187
@ajnyga, as far as I can see, author (but also editor) gets there the list of the files that are uploaded in that stage i.e.  those files in the grids "Review Files" and "Revisions", no matter who is the uploader.

[2017-01-16 18:49] asmecher commented on #2101
See also the PMDM system, recently released: https://www.ncbi.nlm.nih.gov/pubmed/management

[2017-01-16 18:51] #2076 closed

[2017-01-16 19:00] bozana commented on #2195
Alec said yes, so I will soon make a PR with a fix...

[2017-01-16 19:25] bozana commented on #2195
PRs:
ojs-stable-3_0_1: https://github.com/pkp/ojs/pull/1194

[2017-01-16 19:25] bozana commented on #2195
@asmecher, could you take a look at the PR above?

[2017-01-16 19:29] asmecher commented on #2195
Just one minor comment, otherwise looks good, @bozana!

[2017-01-16 19:33] bozana commented on #2195
Thanks a lot @asmecher. I added the constant name and as soon as the tests are finished I will merge and cherry-pick...

[2017-01-16 19:52] bozana commented on #2134
@Vitaliy-1, after you have tested the patches, you can comment here if it worded and maybe close the issue...

[2017-01-16 20:23] asmecher opened #2203 "Notifications list in front end layout requires back-end JS tools"
See http://forum.pkp.sfu.ca/t/ojs-loading-eternally-when-trying-to-see-notifications/27601: the `notification` page attempts to to present a grid of notifications in a page using the front-end layout, which doesn't include JQuery. Thus a JS error occurs:

    Uncaught ReferenceError: $ is not defined(anonymous function)

[2017-01-16 20:24] asmecher commented on #2203
@NateWr, I suppose the simplest approach to fixing this would be to make that page use the back-end layout.

[2017-01-16 20:34] bozana commented on #2187
PRs:
pkp-lib ojs-stable-3_0_1: https://github.com/pkp/pkp-lib/pull/2204

[2017-01-16 20:34] bozana commented on #2187
@asmecher, could you take a look at the PR above?

[2017-01-16 20:38] ajnyga commented on #2187
@bozana, the fact that the author is seeign both the review file versions and her own revisions in the upload dialog has to be a migration issue.

If I add a new submission using OJS3 a similar situation does not occur.

I am only worried what happens if an author picks the review file from the pull down uploads a new version of that file?

[2017-01-16 20:40] bozana commented on #2187
OK, I''ll take a look on that too :-)

[2017-01-16 20:41] bozana commented on #2187
But maybe a question: what do you mean by "review file"? The files from the grid "Review Files"?

[2017-01-16 20:53] ajnyga commented on #2187
Yes exactly. The author does not see the review files in the revisions grid, only in the upload dialog in the pulldown menu.

[2017-01-16 22:05] bozana commented on #2195
Everything merged, thus the issue can be closed, I think.

[2017-01-17 11:29] bozana commented on #2187
@ajnyga, I believe this is intended to be so (the selection of the files from that stage) i.e. it is OK so: in that case a new revision file will be created (the original review file will not be overwritten) and in the DB table `submission_files` the new file will have `source_file_id` = the original file ID. I think this is how it is meant to be.

[2017-01-17 12:05] NateWr commented on #1853
There seem to be a lot of different things reported in this issue. @asmecher, since this has a Critical Issue flag for 3.0.2, can we identify which things are critical? I doubt we'll get them all fixed. Here's my list of things mentioned in this issue:

- When removing the last participant in a category, the participant is still shown.
- If an editor assigns themselves to a submission, editorial a

[2017-01-17 12:10] NateWr commented on #2189
I'll take a look, but my guess is that full-screen editing mode is just not going play nicely with our multi-language input pattern. Getting them to work together might be a pretty big task that requires rethinking how we handle multilingual tinymce fields.

[2017-01-17 12:26] ajnyga commented on #2189
Hi, I do not think that this is that important. I just wondered why the same problem does not appear to happen with the competing interests field?

[2017-01-17 12:27] NateWr commented on #2189
Thanks for the heads up! I'll check out that field when I take a look. Maybe there's some simple `z-index` stuff we can do to improve things.

[2017-01-17 12:31] NateWr commented on #2203
No. I thought I'd turned that into a backend tab on the user profile page, but maybe I'm just remembering something I _meant_ to do.

[2017-01-17 13:05] ajnyga commented on #2187
It's just that I can not reproduce this with a submission that I have started using OJS3. This only happens with the migrated submissions. The review file and the author revision file seem to have separete file_id's. Therefore it seems odd that the author would be able to upload a new version of the review file. That would mean that the new version would not be included in the revisions panel at a

[2017-01-17 13:07] bozana commented on #2201
@ajnyga, I am not sure that this is the place in the code where that happens: as far as I could test it, the variable `$stageAssignemnts` here https://github.com/pkp/pkp-lib/blob/master/classes/submission/reviewer/form/ReviewerReviewStep3Form.inc.php#L193 gets only the appropriate users from the "Participants" list, that are also in the DB table `stage_assignments`, and the reviewers are actually

[2017-01-17 13:11] bozana commented on #2187
I can reproduce it with my OJS 3 installation i.e. without migration.
The new file, based on the original review file, would be loaded in the revisions grid, where the author also tries to upload it.
I wonder why you cannot reproduce that with a submission started using OJS 3?

[2017-01-17 13:14] bozana commented on #2201
Oh, yes, that seems to be that e-mail...

[2017-01-17 13:16] ajnyga commented on #2201
As you can see, the sender is Reviewer A and the recipient is Reviewer B.

I asked the journal to check that B does not have other roles in the journal and according to them she does not have.

I was able to reproduce this and after applying the change above the issue was fixed. But I will double check this again with a fresh install of OJS3.

[2017-01-17 13:19] bozana commented on #2201
It must be then that place in the code. I just wonder, why it is not like that for me, in my local installation... I'll take another look...

[2017-01-17 13:25] bozana commented on #2201
Could it be that after the migration also reviewer are in the DB table `stage_assignemnts`?

[2017-01-17 13:28] bozana commented on #2201
Oh, I see, yes I think this is the case, the migration puts also the reviewer in the `stage_assignemnts` table. OK, then I think it would be best, to only get the editors at that place: `$editorStageAssignments = $stageAssignmentDao->getEditorsAssignedToStage($submission->getId(), $submission->getStageId());`
Because that e-mail should only go to the editors, right? This way we would be on the saf

[2017-01-17 13:57] bozana commented on #2201
PRs:
pkp-lib ojs-stable-3_0_1: https://github.com/pkp/pkp-lib/pull/2206

[2017-01-17 13:58] bozana commented on #2201
@asmecher, could you please also take a look at the PR above?

[2017-01-17 14:30] ctgraham commented on #2075
Also review [webFeed](https://github.com/pkp/ojs/blob/master/plugins/generic/webFeed/templates/rss.tpl#L103-L114) and [Google Scholar](https://github.com/pkp/ojs/blob/master/plugins/generic/googleScholar/GoogleScholarPlugin.inc.php#L86-L89).

[2017-01-17 15:05] bozana commented on #2173
OK, lets take a look at the issues here.. :-)

[2017-01-17 15:31] bozana commented on #2173
@ajnyga, regarding the issue no. 1: Do you then see the error message "No Files Selected. You have not selected any files for the reviewer to review."? Is the `file_id` in the DB table `review_assignments` for that review assignment the same as the listed file ID?

[2017-01-17 15:32] ajnyga commented on #2201
Thank you @bozana . I had a feeling this could be migration related. Your fix is definitely better than mine.

@asmecher, I wonder if having the reviewers in `stage_assignments` table affects something else?

[2017-01-17 15:38] NateWr commented on #2136
Tests passed. I've just rebased to resolve a merge conflict. @bozana do you mind doing code review?

[2017-01-17 15:40] ajnyga commented on #2173
Hi,

Yes, I see that error if I edit an assignment. This is not a critical issue, because the editor can fix this easily just by selecting the file, but maybe something that could be taken into account in the migration script.

[2017-01-17 15:42] ajnyga commented on #2173
Regarding issue 2, I fixed this with sql and a script I used to move and rename the files. I think the central problem there is the wrong file stage.

[2017-01-17 15:52] bozana commented on #2173
I think that there should be one entry for each review assignment from OJS 2.4.x in the new table `review_files`. -- There was always a review file in OJS 2.4.x, in table `articles`, column `review_file_id`. The stage_id for that file with id = review_file_id was migrated, but the entry in review_files table was not made/considered.

[2017-01-17 16:01] ajnyga commented on #2173
Issue 1: the file itself is available when I go to edit a review assignment, it just not selected.
So it seems that the selection of whether the editor want's to show the file to the reviewer is not migrated correctly. I can compare the preupdate OJS2 tables to the updated OJS3 ones.

[2017-01-17 16:07] bozana commented on #2173
This checkbox (file selection) looks if there is a file in the DB table `review_files`. In OJS 2.4.x there was no such mechanism -- there was always a file for the reviewer, saved in the articles table review_file_id column. This column should be migrated to the review_files table, I believe.

[2017-01-17 17:53] Vitaliy-1 commented on #2134
Hi @bozana,

Sorry for delay. I will apply fixes on this weekend and report the result here.

[2017-01-17 19:24] asmecher commented on #2201
@bozana, I can't remember how/why we decided whether to include reviewers in `stage_assignments`. Could you do a bit of a survey to see whether this is required, and how consistent it is?

[2017-01-17 21:25] ctgraham commented on #2075
* webFeed uses Prism, and [Prism explicitly notes](http://www.prismstandard.org/resources/mod_prism.html) that `prism:startingPage` and `prism:endingPage` must not be used for page counting, and should represent the beginning and end of the article's pagination, regardless of non-contiguous sections.
* Google Scholar uses Highwire Press tags.  I haven't seen clear documentation on this, but given

[2017-01-18 12:43] bozana commented on #2201
@asmecher, it is done here: https://github.com/pkp/ojs/blob/master/classes/install/Upgrade.inc.php#L361-L368, but in OJS 3 workflow they are not included in the `stage_assignments`, as far as I can see.

[2017-01-18 16:47] bozana commented on #2136
@NateWr, great! Everything works fine now -- the JS is there, also when there are no blocks in the sidebar :-) It can be merged and cherry-picked (if necessary)... :-)

[2017-01-18 19:16] bozana opened #2208 "PostgreSQL Update Statements"
PostgreSQL Update Statements must not contain the updated table in the FROM part of the statement and thus, that table name cannot have an alias used in WHERE part of the statement. An example of a correct UPDATE statement is here: https://github.com/pkp/ojs/blob/master/classes/install/Upgrade.inc.php#L1632-L1635
S. also http://forum.pkp.sfu.ca/t/upgrading-ojs-2-4-8-to-3-0-1-files-not-visible-unde

[2017-01-18 19:32] bozana commented on #2208
PRs:
ojs-stable-3_0_1: https://github.com/pkp/ojs/pull/1197

[2017-01-18 19:33] bozana commented on #2208
@mittinatten, could you please test the commit from the PR above and confirm if it works now? THANKS!!!

[2017-01-18 20:20] asmecher commented on #2201
It's intentional that reviewers don't get stage assignments in the workflow -- if that's not the case in the upgrade script, then yes, please remove it from there.

[2017-01-18 20:40] ajnyga commented on #2201
Hi, can you confirm whether there are any risks in having the reviewers in the stage_assignments?

[2017-01-18 22:44] asmecher commented on #2201
@ajnyga, I think this issue illustrates the risk -- that notifications can unintentionally be sent to reviewers.

[2017-01-19 01:16] stranack opened #2209 "Remove site wide harvester registration section"
In OJS 2, in Admin > Site Settings, the final section "Register Site for Indexing (Metadata Harvesting)" should be completely removed.

The PKP Harvester is no longer operational and the PKP Index does not support site-wide registration.

Is there any mention of the PKP Harvester on the installation page? If so, it should also be removed.

[2017-01-19 01:18] stranack opened #2210 "OCS: Remove site wide harvester registration section"
In OCS 2, in Admin > Site Settings, the final section "Register Site for Indexing (Metadata Harvesting)" should be completely removed.

The PKP Harvester is no longer operational and the PKP Index does not support site-wide registration.

Is there any mention of the PKP Harvester on the installation page? If so, it should also be removed.

[2017-01-19 01:20] stranack opened #2211 "OJS 3: Remove site wide harvester registration section"
In OJS 3, in Admin > Site Settings, the final section "Register Site for Indexing (Metadata Harvesting)" should be completely removed.

The PKP Harvester is no longer operational and the PKP Index does not support site-wide registration.

Is there any mention of the PKP Harvester on the installation page? If so, it should also be removed.

[2017-01-19 02:10] asmecher commented on #2075
Thanks, @ctgraham -- is this ready for review?

[2017-01-19 03:08] asmecher commented on #1853
The only truly critical one (IMO) is...

[2017-01-19 03:56] asmecher commented on #1953
Repo: https://github.com/defstat/coins

[2017-01-19 05:03] asmecher commented on #2159
Sorry, which rows?

[2017-01-19 08:52] bozana commented on #2159
@asmecher, I mean rows in the table edit_decisions for the next stage 4. They are not there after the upgrade. Also the rows for the stage = 1 are not there. I.e. only review stage rows are in the table edit_decisions, which makes it easy to fix the bug here :-)

[2017-01-19 08:57] mittinatten commented on #2208
Works like a charm! Thank you so much, this really saved my day!

[2017-01-19 10:35] bozana commented on #2201
@asmecher, shall we delete them, for those who already upgraded to 3.0.1, something like this:
`DELETE FROM sa USING stage_assignments sa INNER JOIN review_assignments ra ON (sa.submission_id = ra.submission_id AND sa.user_id = ra.reviewer_id) ` ?

[2017-01-19 11:03] NateWr opened #2212 "Editorial actions do not appear when an editor assigns themselves"
If an editor assigns themselves to a submission, editorial actions (Send to Review, Accept, etc) don't appear until the page is refreshed. (To replicate, editors should not be assigned automatically.)

This issue was split off from #1853.

[2017-01-19 11:05] NateWr commented on #1853
Ok, I spun the critical bit off to another issue, pegged that one to 3.0.2 and flagged it as critical.

I've removed Critical from this issue and assigned it to OJS 3.1. I'm hoping to address a bunch of these through a global event router #2163.

[2017-01-19 11:16] NateWr commented on #2136
Thanks @bozana! All merged. Closing without cherry pick because it seems like an uncommon scenario.

[2017-01-19 11:16] #2136 closed

[2017-01-19 11:27] bozana commented on #2201
@asmecher, I removed the insertion code from the Upgrade.inc.php + added SQL to remove those already inserted. Could you please take a look at both PRs above?

[2017-01-19 12:36] bozana commented on #1924
I took a look at this whole issue now -- and not only the PR...
Concerning problem 1:
For some reason, there are files like "2-2-1-SM.tar.gz" in your DB and file system -- I do not know how they came there, because in the recent OJS 2.4.8 such files are saved as for example "2-2-1-SM.gz" -- maybe from earlier OJS version... Thus, to be on the safe side, it would be best to use `file_name` of the `

[2017-01-19 12:42] pkel commented on #1924
Positive. Please notify as soon as the fixes are pushed.

[2017-01-19 13:03] ctgraham commented on #2075
@asmecher, yes, ready for review.

[2017-01-19 13:18] lilients commented on #2072
Hi @NateWr and everybody interested,

I implemented the tab view at the workflow tab production. It looks like this:

![img_0257](https://raw.githubusercontent.com/lilients/img/master/versioning_tab.png)

Now I have to add the functionality to create a new article version. I see different approaches at the GUI and would like your advice.

Open question 1: create new version by default or with a bu

[2017-01-19 13:25] mtub commented on #2072
Hi Svantje,

if published versions cannot be edited (Question 2 - Option 2), the button solution for creating new versions (Question 1 - Option 2) is fine, I think.

[2017-01-19 14:03] ctgraham commented on #2075
DOAJ is definitely a string datatype, but doesn't explicitly say what to do with non-contiguous ranges.  The last page of the last range is consistent with the prior interpretation.

PubMed is also a string datatype, and explicitly notes to use the same first page and last page for a single page, and to use the first and last page of the article, regardless of non-contiguous ranges.
https://www.nc

[2017-01-19 14:18] bozana commented on #1924
@pkel and @jprk, here is a new patch: https://github.com/bozana/ojs/commit/f9c4cabb0f70e9c163723d3b0eada12dc2a96cca, that solves No. 1 and 2a above.
Could you please test it, if that works for your upgrade from OJS 2.4.x to 3.0.1?
Please don't forget to make backups (of everything) before testing!!!

This patch is based on the current ojs-stable-3_0_1 branch, so please take that code first. You ca

[2017-01-19 15:27] bozana commented on #2208
@mittinatten, there are a few issues related to the upgrade/migration that are still not solved/merged fully -- maybe you would like to take a look at those -- maybe you would like to wait till they are solved:
https://github.com/pkp/pkp-lib/issues/2201
https://github.com/pkp/pkp-lib/issues/2187
https://github.com/pkp/pkp-lib/issues/2159
https://github.com/pkp/pkp-lib/issues/2192
https://github.co

[2017-01-19 15:27] bozana commented on #2208
Everything merged for this issue, thus closing...

[2017-01-19 15:27] #2208 closed

[2017-01-19 15:35] NateWr commented on #2163
I've managed to get a global event router working alongside our current JS system. I've issued a couple of dummy PRs in my own repos, to demonstrate more concretely some of the refactoring that's been involved. Although I suspect we'll go in a different direction with our JS framework, much of the refactoring that's been done will still be important.

The PRs with the code changes:
https://github.

[2017-01-19 16:42] bozana commented on #2159
@asmecher, there is one more thing I noticed: in OJS 2.4.x review_rounds table contain entries only if a review took place, while in OJS 3.0 there is always an entry in the review_rounds table, also when an editor just clicks "Send To Copyediting" (and do not involve any reviewers). This means that there could be entries with review_round_id = NULL in the table edit_decisions after the migration.

[2017-01-19 17:02] asmecher commented on #2159
Ah, I see. I'd suggest adding them -- it may not matter now but consistency is a good thing for 3 years from now :)

[2017-01-19 17:09] asmecher commented on #2201
@bozana, we're likely to run into cases where users are assigned as reviewers and other roles. OTOH you should be able to look at `stage_assignments.user_group_id` and then `user_groups.role_id` to determine more specifically which assignments are done for reviewer roles.

[2017-01-19 17:29] bozana commented on #2201
Ah, yes, you are right -- I'll do that check too....
I think I am going crazy from all those tables, columns, connections, if this than that, here like this but here like that... :-DDD

[2017-01-19 17:43] asmecher commented on #2201
<sub>We're all crazy here.</sub>

[2017-01-19 18:36] ctgraham commented on #2075
@asmecher, ready for review now.

[2017-01-19 19:14] asmecher commented on #2047
PRs:

- https://github.com/pkp/pkp-lib/pull/2213
- https://github.com/pkp/omp/pull/382
- https://github.com/pkp/ojs/pull/1200

[2017-01-20 08:33] mittinatten commented on #2208
We are a bit overdue with the upgrade already, so I would like to get it running as soon as possible. But as far as I could tell the issues mainly affected ongoing review processes? We only have a handful of those so I think we could be able to handle them manually, either by changing the database manually or by scripting some of the changes postupgrade, later.

[2017-01-20 10:31] bozana commented on #2097
@ajnyga, in this issue only the question of file names is left, right?

[2017-01-20 10:36] bozana commented on #2208
OK...

[2017-01-20 14:19] ajnyga commented on #2097
Yes I think so. The issue with the revisions is handled in #2130 and for me, the solution there is enough at this time.

Regarding the file names I guess it is mostly a matter of opinion. I noticed that you can actually modify it from the locale files. I ended up doing the name conversion shown above, but the new files are getting the default name format.

I still think that sticking with the orig

[2017-01-20 15:18] bozana commented on #2097
@asmecher, what do you think about those file names i.e. shall we do/change something there, now or later, or...? If we would like to do something maybe to create a new issue for that, to be able to close this one? :-)

[2017-01-20 17:31] bozana commented on #1792
I think, the milestone here can be changed -- it is ready for OJS 3.0.2, right? Maybe the next milestone would be OMP?

[2017-01-20 18:00] pkel commented on #1924
Actions:
 * copy files & database to new system
 * clone bozana/ojs -b 1924-stable
 * recursive init
 * php tools/upgrade.php

Result:
 * not a single error message (postupgrade_metrics still running)

Thanks for fixing the issue!

[2017-01-20 18:22] asmecher commented on #1924
Excellent, @pkel and @bozana! Thanks for confirming.

[2017-01-20 18:41] bozana commented on #1924
PRs:
ojs-stable-3_0_1: https://github.com/pkp/ojs/pull/1201

[2017-01-20 18:42] bozana commented on #1924
@asmecher, could you please take a look at the PR above?

[2017-01-20 20:02] bozana commented on #1805
I will then close this issue and if there is something else, we can reopen it i.e. open a new one...

[2017-01-20 20:02] #1805 closed

[2017-01-20 20:18] bozana commented on #850
PRs:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2214
ojs master: https://github.com/pkp/ojs/pull/1202

[2017-01-20 20:19] bozana commented on #850
@asmecher, could you code review this?

[2017-01-20 20:22] bozana commented on #1815
Isn't this issue finished for OJS? -- because of the milestone...

[2017-01-20 20:24] #2195 closed

[2017-01-20 20:26] asmecher commented on #1815
Yes, it's finished for OJS (the milestone is currently OMP 3.1).

[2017-01-20 20:37] bozana commented on #1815
Ah, sorry, I saw wrong... :-\

[2017-01-20 20:47] murilodbva commented on #1919
I believe I found the same error when I try to upload a image in my application:
[code]
So I discovered that this issue is from oficial version.

I made these steps to reproduce this error:
1. Download the last oficial version (3.0.1):
[http://pkp.sfu.ca/ojs/download/ojs-3.0.1.tar.gz](http://pkp.sfu.ca/ojs/download/ojs-3.0.1.tar.gz)
2. Run the application by php for install the application OJS, wi

[2017-01-20 21:24] asmecher commented on #2047
@bozana, mind taking a look at these PRs?

[2017-01-20 21:26] asmecher commented on #1903
Closing -- I think this was resolved. (Please correct me if not!)

[2017-01-20 21:26] #1903 closed

[2017-01-20 21:38] asmecher commented on #1924
@bozana, that is a HUGE and in retrospect obvious improvement over my original approach. Thanks! Please go ahead and commit/port!

[2017-01-20 22:02] asmecher commented on #850
Looks good, @bozana! Some comments -- I'm not sure how feasible the change from arrays to iterators will be, so if it looks like a large amount of work, feel free to defer it to a later bit of development.

[2017-01-20 22:15] asmecher commented on #2097
We've gotten some UI/UX testing feedback on filenames too -- tagging @stranack about the suggestion above -- but I think we should deal with it outside this entry.

[2017-01-20 22:31] #2075 closed

[2017-01-20 22:31] asmecher commented on #2075
Both PRs merged, thanks! @bozana -- this is the change I mentioned on your DOAJ PR regarding page numbering.

[2017-01-20 22:36] asmecher commented on #1792
I need to either add the plugin as a submodule or (better) add it to the plugin gallery; just leaving it open until then so I don't forget. I don't think we need this plugin for OMP, or at least not yet.

[2017-01-20 23:10] asmecher commented on #2131
Snarfed this one for myself.

[2017-01-20 23:10] #2131 closed

[2017-01-21 01:27] asmecher opened #2215 "Dropdown controls in review forms present the wrong options"
See http://forum.pkp.sfu.ca/t/download-and-review-dropdown-lists-are-empty-in-review-in-3-0-1/27577 and SI report.

[2017-01-21 01:32] #2215 closed

[2017-01-21 02:40] #1426 closed

[2017-01-21 02:42] asmecher commented on #1513
@henkela, what version of OJS were you working with?

[2017-01-21 13:16] Vitaliy-1 opened #2216 "OJS3: Display <head> element from html galley file"
add line:
`'htmlGalleyContents' => $this->_getHTMLContents(request, $galley),`
Into articleViewCallback function in HtmlArticleGalleyPlugin.inc.php for adding element into `<head>` from html galley file. Please revise this opportunity.

[2017-01-22 11:33] ajnyga commented on #1912
I have been thinking how hard it would be to make some of these listing dependent on users personal settings? I mean, making it possible for a single editor to change the order and the amount of items visible.

[2017-01-22 11:53] ajnyga commented on #1873
@asmecher and @bozana, here is a pull request I did regarding the issue: https://github.com/pkp/pkp-lib/pull/2200

Would be great to get a working solution to 3.0.2.

[2017-01-22 13:41] Vitaliy-1 commented on #2134
Log files are processed witout fatal error now. Thanks for the fix! Please keep in mind that autostaging still not work from terminal.

[2017-01-22 20:03] kaschioudi commented on #1911
I looked at the source code and the only place I found which actually tries to parse xx_YY locale is here (https://github.com/pkp/pkp-lib/blob/master/classes/i18n/PKPLocale.inc.php#L333).

Considering that syntax for locales is `lang[_territory][.encoding][@variant]`, we currently have the following mapping (cf config.inc.php):
lang[_territory] => i18n.locale
encoding => i18n.client_charset

I sug

[2017-01-22 21:29] ajnyga opened #2217 "[OJS] Childtheme enabled and Static page plugin turned off breaks the search page"
I know, the title does not make sense, but that is exactly what is happening.

I have created a new theme for our site and have prepared modified child themes for our journals based on that theme.

I noticed that entering the search page breaks the whole layout: CSS is not loading and neither are the modified templates in the theme folder. This is only happening in the search page, all other pages

[2017-01-23 07:59] Ph-We commented on #1807
Hi @bozana, @asmecher,

The "Publisher" field (in the Masthead) is not multilingual. Is there any reason for this?
It is important for it to be multilingual for journals to be indexed correctly.

[2017-01-23 08:06] Ph-We opened #2218 "OJS3: 'Phone' field 24-character limit"
Hi! The character limit for the 'Phone' field is 24. This may not be enough in some cases.
E.g. in our case it might be something like 1 (111) 111-11-11, *111111 or even longer.

[2017-01-23 09:51] Glottotopia opened #2219 "Too many clicks required to approve publication formats in OMP"
#- remove popup when approving a publication format saying
"Approve the metadata for this format. Metadata can be checked from the Catalog Entry panel."

- remove popup when approving a file saying "Approve this proof to indicate proofreading is complete and the file is ready to be published."

I have an edited volume with 28 chapters. I am happy with all chapters. I have to click 56 times on appr

[2017-01-23 10:00] bozana commented on #2047
@asmecher, it looks good -- it can be merged and cherry-picked (if necessary)...

[2017-01-23 12:31] bozana commented on #1924
everything merged, thus closing....

[2017-01-23 12:31] #1924 closed

[2017-01-23 15:12] bozana commented on #2134
Hi @Vitaliy-1, I've just tested this: `php tools/runScheduledTasks.php lib/pkp/plugins/generic/usageStats/scheduledTasksAutoStage.xml` and it worked for me: the log files were in the folder `usageEventLogs` and were then normally processed and archived. For some reason, here is the frequency = hourly, thus, if you have a scheduled task `plugins.generic.usageStats.UsageStatsLoader` in your DB table

[2017-01-23 15:20] ctgraham opened #2220 "[OJS 2.x] jbimages plugin appears on registration page"
The jbimages plugin appears in the TinyMCE tools on the registration page, but we expect that image uploading is restricted to logged in users only.  Reported:
http://forum.pkp.sfu.ca/t/tinymce-problem-with-user-registration-in-ojs/27738

[2017-01-23 15:21] bozana commented on #2134
Hmmm... I fond the explanation why there is frequency in scheduledTasksAutoStage.xml, s. https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8687:

But I am still not sure why does this matter :-\ @asmecher or @ctgraham, do you maybe know?

[2017-01-23 15:41] ctgraham commented on #2134
The autostage method avoids processing the current day's file:
2.x: https://github.com/pkp/ojs/blob/dbe779f2bd97e9a0f2842c4357fb56496b7179e4/plugins/generic/usageStats/UsageStatsLoader.inc.php#L275-L278/UsageStatsLoader.inc.php#L251-L282
3.x: https://github.com/pkp/pkp-lib/blob/4772e4afa3463d8ab0b7d8f3df03f70db0f90add/plugins/generic/usageStats/PKPUsageStatsLoader.inc.php#L287-L290

I think becaus

[2017-01-23 16:05] bozana commented on #2134
Ah, OK, thanks a lot @ctgraham! I'll leave it then...

[2017-01-23 16:54] NateWr commented on #1912
I try to avoid more settings and configuration whenever possible. It just redirects the UX problem from us onto the user.

Whenever possible, we should seek to solve problems that make it easier for people to accomplish their goals without having to find and configure settings. That's not always very easy to do, though.

[2017-01-23 16:56] NateWr commented on #1873
I haven't tested this but chucking them into a discussion sounds like a great idea. :+1:

[2017-01-23 17:21] bozana opened #2221 "Check if the iterator can be used instead of arrays in PubObjectsExportPlugin"
s. https://github.com/pkp/ojs/pull/1202#discussion_r97163214

[2017-01-23 17:24] bozana commented on #850
@asmecher, I added most of the changes you suggested, thanks a lot! I created a new issue for the check if I can use iterator instead of array, s. https://github.com/pkp/pkp-lib/issues/2221. And there is one more comment I am not sure about -- the filter display names... THANKS a lot!!!

[2017-01-23 18:51] bozana opened #2222 "Allow users to browse announcements by announcement type"
It would be nice to have kind of announcements categories one could browse by, for example. S.  http://forum.pkp.sfu.ca/t/menus-announcements-oj-3-0-1-0/27758.
The minimal solution would be to allow a page "announcementType" that would get the announcement type ID as parameter and build the page similar to the current "announcement" page i.e. list all announcements from that category.
In another s

[2017-01-23 20:29] asmecher commented on #1807
Hi @Ph-We -- see http://forum.pkp.sfu.ca/t/publisher-name-in-multilingual-journals/27557 for a discussion of this field.

[2017-01-23 20:37] #2047 closed

[2017-01-23 20:39] asmecher commented on #2047
Merged, thanks!

[2017-01-24 00:53] asmecher commented on #2218
@Ph-We, I've extended it to 32 in the master branch.

[2017-01-24 00:53] #2218 closed

[2017-01-24 00:59] asmecher commented on #2217
Mind taking a look, @NateWr?

[2017-01-24 01:00] asmecher commented on #2219
@stranack, worth considering.

[2017-01-24 01:36] asmecher commented on #1873
@bozana, would you mind reviewing the PR?

[2017-01-24 02:08] asmecher commented on #2216
@Vitaliy-1, could you open a pull request suggesting the change?

[2017-01-24 03:23] asmecher opened #2223 "Work around `false` returns from `glob` on some platforms during upgrade"
On some platforms `glob` returns false rather than an empty array. The upgrade script passes that result into `array_merge` to check a few potential locations for file matches. The `array_merge` function in turn balks on a `false` parameter and no matched files are returned.

[2017-01-24 03:24] #2223 closed

[2017-01-24 05:26] ajnyga commented on #2217
I can rule out first whether it is only a problem with my own child themes. I will test this by Wednesday.

[2017-01-24 10:16] Ph-We commented on #2218
@asmecher, thanks!

[2017-01-24 11:26] NateWr commented on #2217
Hi @ajnyga, can you provide me with one of the child themes that you're having trouble with? Or better yet a stripped down child theme where you can reproduce the problem?

[2017-01-24 11:32] bozana commented on #2187
Everything merged, so closing...

[2017-01-24 11:32] #2187 closed

[2017-01-24 11:55] NateWr commented on #2085
PRs (tests running):
https://github.com/pkp/ojs/pull/1206
https://github.com/pkp/omp/pull/383
(no `pkp-lib` PR)

[2017-01-24 12:21] NateWr commented on #2039
This was a bug introduced with #1847.

PR:
https://github.com/pkp/pkp-lib/pull/2225

TESTS ONLY:
https://github.com/pkp/ojs/pull/1207

[2017-01-24 12:34] bozana opened #2226 "book date_published should not change when uploading a cover"
Currently, the date_published in published_submissions is changed when a cover image is uploaded -- this should not be the case. S. http://forum.pkp.sfu.ca/t/monograph-publication-date-in-omp-1-2/27790

[2017-01-24 13:57] bozana commented on #850
Merged, thus closing...

[2017-01-24 13:57] #850 closed

[2017-01-24 13:58] Glottotopia opened #2228 "Custom Locale Plugin: ordering of fields"
I tried to change the locales at
http://langsci-press.org/management/settings/website > plugins > locales
"locale/en_US/locale.xml'

I am offered 16 pages. The locale fields are presented in a semi-ordered fashion. I give an excerpt:

page 1

- `monograph.task.addNote`
- `monograph.accessLogoOpen.altText 	Default Text`
- `monograph.publicationFormat.imprint`

...

page 9
- `common.listbuilder.item

[2017-01-24 15:04] NateWr commented on #2212
PRs (tests running):
https://github.com/pkp/pkp-lib/pull/2229
https://github.com/pkp/ojs/pull/1210
https://github.com/pkp/omp/pull/384

This just reaches out manually from the participant grid in a bit of a hacky fashion. This is another time the global event router would be useful. But it should do for OJS 3.0.2 and I'll note it down for a refactor later.

This also solves the issue whereby the p

[2017-01-24 15:24] NateWr commented on #2085
@bozana, mind doing a code review and merging?

Anyone willing to test this out on their mobile phone will be useful too. I imagine we'll find some devices here and there that still have trouble, but this should cover the majority of cases.

[2017-01-24 15:57] NateWr commented on #2100
PRs:
https://github.com/pkp/ojs/pull/1211
https://github.com/pkp/omp/pull/385

I went ahead and merged these myself. Just one-liner CSS fixes.

[2017-01-24 15:57] #2100 closed

[2017-01-24 16:00] asmecher commented on #2228
@Glottotopia, the Custom Locale plugin is something Carola wrote -- I'd suggest filing this issue at https://github.com/langsci/customLocale. An alternative to changing the sorting would be to either work on searching, or to rearrange the UI of that plugin based on user requirements ("I want to override a locale key that's called `a.b.c` or has English text `xyz`) rather than listing the files, wh

[2017-01-24 16:00] #2228 closed

[2017-01-24 16:28] NateWr commented on #2098
PR:
https://github.com/pkp/pkp-lib/pull/2230

TESTS ONLY:
https://github.com/pkp/ojs/pull/1213

The workaround for this is kinda hacky but I hope it will do for now anyway. Tests running.

[2017-01-24 16:49] ajnyga commented on #2217
Sure, I will send you one tomorrow.

[2017-01-24 17:26] ctgraham opened #2232 "[OJS 2.x] Smarty doesn't understand Validation::isLoggedIn() in if statements"
The usage of `Validations::isLoggedIn()` in the smarty `if` statement at:
https://github.com/pkp/ojs/blob/e964621ad19ed8a8f435da02e3fe44734bb87ed2/templates/user/register.tpl#L16
results in the error message:
`Message: USER ERROR: Smarty error: [in user/register.tpl line 16]: syntax error: unidentified token '::isLoggedIn()'`

And similar for additional usages in this file.

[2017-01-24 17:32] NateWr commented on #1808
Simple commit to add references to the frontend display of articles and monographs.

PRs:
https://github.com/pkp/ojs/pull/1215
https://github.com/pkp/omp/pull/386

No `pkp-lib` PR. Tests running.

[2017-01-24 17:34] NateWr commented on #2039
Tests passed. @asmecher I'll assign this one to you for code review.

[2017-01-24 17:53] asmecher commented on #2039
Looks good -- thanks, @NateWr.

[2017-01-24 17:53] #2039 closed

[2017-01-24 17:54] asmecher commented on #2039
Also cherry-picked to `ojs-stable-3_0_1`.

[2017-01-24 19:21] Vitaliy-1 commented on #2216
I have only done commits to own repository for now. Is this process different than downloading branch, changing the file, and pull changes back from console?

[2017-01-24 22:43] asmecher commented on #2216
Try following this: https://help.github.com/articles/creating-a-pull-request/

[2017-01-24 22:54] asmecher commented on #2232
Good spotting -- thanks, @ctgraham!

[2017-01-24 22:54] #2232 closed

[2017-01-24 23:02] asmecher commented on #1932
@bozana, assigning you because you were active on the referenced PR. Feel free to defer to OJS 3.1 if you're busy with other things.

[2017-01-24 23:03] asmecher commented on #2003
@bozana, did #1924 resolve this?

[2017-01-24 23:05] asmecher commented on #1886
Partially implemented -- but testing is not yet enabled for PHP7.

[2017-01-24 23:16] gemusehandler commented on #1842
Provide an option to include 'issue editors' in these, and a ISBN. Some serials are somewhere in between journals and books (bookazines) and do use isbn's to sell issues in hard copy on-line.

[2017-01-25 11:01] bozana commented on #2003
No this is a general problem, I think, that the file names are saved only with the last ending, e.g. .gz instead of .tar.gz, and thus, when downloading the suggested file name to save is with that 'wrong' ending.
I will have to take a deeper look to see what are the solution possibilities...

[2017-01-25 11:37] pkel commented on #2003
I came to the same conclusion, while patching the code. My solution was

Another suggestion is to change the pkp naming scheme to a prefix scheme. This would circumvent all problems with file endings. Currently `package-v1.tar.gz` is renamed to a weird looking concatenation of staging information `XY-11-foo-bar.gz`. If you rename to `XY-11-foo-bar.package-v1.tar.gz` instead, you can easily go back

[2017-01-25 13:49] ajnyga commented on #2217
Hi @NateWr

I am totally out of answers here. I tried removing all the alterations I had to our theme, but still the problem persisted.

Then I chose an alternative route. I made a new copy of the default theme and renamed it to default2

I only applied these changes:
[code]
[code]
https://drive.google.com/open?id=0B2-Fk_aieQXmYlBKYTFYU1NNREU

The problem is the same as above with this theme as we

[2017-01-25 15:06] bozana commented on #2003
I believe we cannot use the original name, especially not in the backend, because the users could use unanonymized names... Thus I will have to take a look...
and maybe @asmecher has immediately an idea how to best solve this?

[2017-01-25 15:08] bozana commented on #2085
@NateWr, this looks good to me. I couldn't test it because I have no server where I could install and then test it, but... I will ask James... Everything merged... THANKS!

[2017-01-25 15:22] bozana opened #2235 "File revision names"
File revision names are based on the first file revision name i.e. this is what is per default provided for the further revisions. The other file revisions could however have a different format: for example the first file could be a `.doc` but the next revision of the file could be a `.pdf`. The next revision would per default provide the name with `.doc`. This can still be edited, but maybe it wo

[2017-01-25 15:23] bozana commented on #2097
I opened a new issue for the file revision names here: https://github.com/pkp/pkp-lib/issues/2235
For another file names issue, see https://github.com/pkp/pkp-lib/issues/2003
Closing this issue...

[2017-01-25 15:24] #2097 closed

[2017-01-25 17:03] bozana commented on #2201
@asmecher, I also considered the check in the user_groups table. Could you please take a new look? THANKS!!!

[2017-01-25 17:19] bozana commented on #2085
@NateWr, thanks to @jmacgreg, I could test it now and it works great :-)))

[2017-01-25 17:39] Vitaliy-1 commented on #2216
We are using this modification to insert highwire press tags into html galley page. Also for linking custom css and js - we prefer not to add them from smarty. Maybe someone would find it useful.  My pull request is on ojs master branch.

[2017-01-25 17:39] #2216 closed

[2017-01-25 18:10] bozana commented on #2083
@asmecher, sorry for asking, I am not sure: how would it be better to solve this: to check if the form is read-only and depending on that to use the appropriate handler, either FileUploadFormHandler,js or AjaxFormHandler, e.g. https://gist.github.com/ajnyga/0f379d70000284ae19362e624e3080c0#L18
Or to provide a new parameter $readOnly to the FileUploadFormHandler,js, that already extends AjaxFormHan

[2017-01-25 18:32] kaschioudi commented on #2022
@asmecher : I went through your changes and everything seems fine to me.

[2017-01-25 21:42] mtub opened #2237 "[OJS] Remove unused locales"
There are (very old) locale folders that belonged to translations we no longer maintain and that are not mentioned in the registry. I suggest removing them. They have never been updated for OJS3, and removing them might reduce confusion. But be careful: among those is fr_FR, which probably people will want to re-create in the future, but I guess it will be better to then build upon fr_CA than to u

[2017-01-25 21:49] mtub commented on #2237
There are a few other locales that are part of the registry but are from OJS 10 years ago. I'd be willing to even remove some more locales… Someone updating a locale that old will probably only look for missing translation, so errors and outdated language will get carried on. A fresh start would probably better for these locales, too.

[2017-01-25 21:50] mtub commented on #2237
Maybe @jmacgreg has something to say about this, too…

[2017-01-25 21:52] asmecher commented on #2237
@mtub, I would recommend removing them from github, and agree that now is a good time to do it. If someone really does want to build on an old translation, it can always be dredged up.

[2017-01-25 21:53] jmacgreg commented on #2237
Yep, these can go as far as I'm concerned.

[2017-01-25 21:54] mtub commented on #2237
Thank you... please note that I might have tricked you by adding a second proposal in my first comment ;) - so do you also agree to remove some more really incomplete and outdated locales?

[2017-01-25 21:59] jmacgreg commented on #2237
Yep!

[2017-01-25 22:00] mtub commented on #2237
Ok, I will prepare a pull request (only for OJS3 at the moment)

[2017-01-25 22:09] mtub commented on #2237
These are my additional suggestions for removal from OJS3

* fa_IR
* gl_ES
* ja_JP
* ml_IN
* vi_VN
* zh_TW

Those have to be remove from the registry as well. Can maybe someone take care of a patch?

[2017-01-25 22:17] asmecher commented on #2022
Manually merged, thanks!

[2017-01-25 22:33] mtub commented on #2237
* el_GR
* ro_RO

[2017-01-25 23:06] mtub commented on #2237
Regarding lib/pkp: I can take care of it, but it will need some thoughts about the other applications. I will check if any of the removed languages are needed by OMP's master branch. OCS is a little more complicated because of the somewhat messy situation with the branches in OCS. New PR coming in tomorrow...

[2017-01-25 23:17] asmecher commented on #2237
Don't worry about OCS -- just have a look at the OMP locale list, which OTOH shouldn't contain any cruft (I don't think we listed locales there that weren't up to date as of OMP 1.0, so it's not nearly as bad as old OJS 2.x locales).

[2017-01-26 00:47] asmecher commented on #2003
It would be a mistake (I think) to alter server-side filenames in the general case -- though it might be good to correct incorrectly-suffixed double-barreled suffixes (e.g. `.tar.gz`) for server-side storage. (The server-side filename doesn't have to have any relevance to the download filename or make any sense at all.)

There seems to be general confusion about how to handle compound extensions.

[2017-01-26 00:58] asmecher commented on #2201
Excellent, thanks, @bozana! Please merge, and don't forget to forward-port to master.

[2017-01-26 00:59] asmecher commented on #2083
I think it's better to extend FileUploadFormHandler to support read-only operation.

[2017-01-26 01:12] asmecher commented on #1911
@kaschioudi, there are a few places that parse locale strings: `get3LetterIsoFromLocale`, `getIso3FromIso1`, `getIso1FromIso3`, `getIso3FromLocale`, and `getIso1FromLocale` (search `PKPLocale.inc.php` for `substr`). We're probably also reporting the `xx_YY` locales out to other places, like via the various OAI metadata formats, Dublin Core meta tags (`plugins/generic/dublinCoreMeta`), Google Schol

[2017-01-26 06:39] pkel commented on #2003
Is this the reason for building this complex workaround? Can't we assume that users who are able to avoid name leakage within a file also can set an anonymized filename?

What about the case, where non original filenames render the workflow into a nightmare? I talk about software packages, where (a) the filename is the name of the package or (b) a script for reproduction assumes specific filenames

[2017-01-26 11:55] ajnyga commented on #2235
Today we had first case where the user had uploaded a file with a name like "article 2016-10-5.docx" and could not figure out why she was not able to upload a new revision called "article 2017-1-25.docx" to the system.

Of course she could but the file name still included the original name of the file which was of course confusing. So this is not just a case of file formats in the file name.

[2017-01-26 13:27] bozana commented on #2201
Everything merged, thus closing...

[2017-01-26 13:27] #2201 closed

[2017-01-26 13:35] ajnyga commented on #2187
There is still a problem with what the author sees when uploading revision files and this happens only the migrated articles.

Here are screenshots of what happens with submission done in OJS3, this is what should happen:

First, a view from the editorial side. Two files visible 65003 (review file) and 65004 (author revision)
![screenshot_83](https://cloud.githubusercontent.com/assets/16347527/223

[2017-01-26 13:56] bozana commented on #2187
@ajnyga, when you in OJS 3 assign a reviewer with the review file 65003-1 above, than the author will get that file for selection too. Could you please check and confirm it?

[2017-01-26 13:57] bozana commented on #2187
Then, if the author select that file and uploads a revision based on that file, the original review file will not be changed i.e. just a new revision will be added, right?

[2017-01-26 14:10] ajnyga commented on #2187
No, assigning the review file 65003-1 does not change anything. The pull down is still only showing the author revision - not two files.

The original review file is visible in the pull down only when there are no earlier author revisions available. Once an author revision is added, the original review file is not there any more.

However, with the migrated files I can still see both the original

[2017-01-26 14:15] bozana commented on #2187
hmmm... I am currently on master branch and I can see both:
![bildschirmfoto von 2017-01-26 15 12 43](https://cloud.githubusercontent.com/assets/378421/22334206/23a71e5c-e3da-11e6-802b-28a19baa1ac9.png)

[2017-01-26 14:15] bozana commented on #2187
Can you then tell me what happens when you choose that review file? Or can you not test it because in production?

[2017-01-26 14:15] ajnyga commented on #2187
A new test submission started in OJS3. A started a review round, added a reviewer, made a request for changes and submitted a revision as the author. The end result:
![screenshot_88](https://cloud.githubusercontent.com/assets/16347527/22334087/010830f4-e3e2-11e6-84f3-24d761cbd524.png)

Only the author revision in the author's grid, as it should:
![Uploading Screenshot_89.png…]()

Only the revision

[2017-01-26 14:17] ajnyga commented on #2187
Ok, I am basically in OJS 3.0.1 stable. Could that make the difference?

[2017-01-26 14:19] bozana commented on #2187
I will try in OJS 3.0.1 stable too...

[2017-01-26 14:20] ajnyga commented on #2187
In OJS 3.0.1. I mean the version you provide in your webpage, not the Github version with the cherry picks

[2017-01-26 14:21] bozana commented on #2187
@asmecher, are review files (the files in Review Files grid) supposed to be provided for selection in the Revisions grid ("If you are uploading a revision of an existing file, please indicate which file.")?

[2017-01-26 14:21] bozana commented on #2187
Lets see what Alec says -- he will surely know if this should or should not be :-)

[2017-01-26 14:29] bozana commented on #2187
Also: if the editor uploads a file in Review Files grid, that file will also be provided for the selection in Revisions grid, but the author cannot then upload a file: "The current role does not have access to this operation.". -- probably because he/she was not the uploader...

[2017-01-26 14:31] ajnyga commented on #2187
I found a migrated submission where I could test this!

Basically what happens is that a new file is created with a new file id and now there are two separate files visible in the revisions grid.

Also after uploading the new file the original review file is no longer in the pull down menu. So some kind of linking is happening there that has not been migrated correctly.

But then again, I do not k

[2017-01-26 14:44] ajnyga commented on #2187
Just to make clear, the way this works now for me with 3.0.1 is that with no earlier author revisions in the round the author sees the original review file in the pull down. After uploading an author revision, the only file visible there is the revision file (except for the migrated submissions).

If the review file would be always available in the pull down menu, and choosing that file when uploa

[2017-01-26 15:04] bozana commented on #2187
@ajnyga, this is correct behavior: if someones uploads a revision of a file, then only that file i.e. the last revision will be provided for selection, s. https://github.com/pkp/pkp-lib/blob/master/controllers/wizard/fileUpload/form/PKPSubmissionFilesUploadBaseForm.inc.php#L234.
Thus, are maybe your revision files actually the revisions of the review file? -- There where you can select only the re

[2017-01-26 15:17] bozana commented on #2187
And if I understand this correctly: all the files from that review round are provided:
I think they are collected here: https://github.com/pkp/pkp-lib/blob/master/controllers/wizard/fileUpload/form/PKPSubmissionFilesUploadBaseForm.inc.php#L149 i.e. the function `getRevisionsByReviewRound` gets only `reviewRound` as parameter and not also the `fileStage`.

[2017-01-26 15:32] bozana commented on #2187
Maybe it does make sense: the Review Files are usually the files author submitted i.e. the editor prepared for review. Thus they are the last submission version to work with. I.e. if revisions are required, the author could say "This is the revision of that file". Except one thing: author does not see the Review Files grid and cannot download those files there.
Hmmm... lets see what Alec says...

[2017-01-26 18:33] ajnyga commented on #2187
So I installed a fresh 3.0.1 which I downloaded from PKP and it does not show two files in the pull down menu like your master branch does.

What happens is exactly what I described above:
- When sending the first revision, the pull down shows the original review file (file nr. 1)
- After uploading the first author revision, a new file_id is created (file nr. 2) and if the author goes on to add a

[2017-01-26 18:36] ajnyga commented on #2187
Ok, I think I know what is happening here:
@bozana, when you uploaded the first author revision, did you choose that it is a revision of the origianl review file (Author, 1-2-1-RV.doc) mentioned in the pull down menu? Or did you choose that it is a new file? I think it was the latter?

[2017-01-26 18:57] ajnyga commented on #2187
The linking factor here is the source_file_id field in submission_files.

For the migrated articles the author revision files do not have the source_file_id set, it is NULL.

For the submission started in OJS3, when the author uploads the first revision and chooses that it is a revision of the original review file, the source_file_id is set as the file_id of the review file. This apparently clears

[2017-01-26 21:44] mtub commented on #2237
Will remove all of the locales listed above, with the exception of `el_GR`, which is used by OMP.

That is:
- es_AR
- fa_IR
- fr_FR
- gl_ES
- ja_JP
- mk_MK
- ml_IN
- no_NO
- pl_PL
- ro_RO
- sk_SK
- vi_VN
- zh_TW

[2017-01-27 08:37] bozana commented on #2187
Yes, that is what I was also thinking and looking into the code this is meant to be so... but I'll double check with Alec...

[2017-01-27 09:39] bozana commented on #2083
PRs:
pkp-lib ojs-stable-3_0_1: https://github.com/pkp/pkp-lib/pull/2241
ojs ojs-stable-3_0_1: https://github.com/pkp/ojs/pull/1229

[2017-01-27 09:42] bozana commented on #2083
@NateWr, could yo please review the PRs above? I am not sure if there is a better way -- in case of readOnly forms (currently only one template) the AjaxFormHandler should be used i.e. the FileUploadFormHandler should just act as its parent...

[2017-01-27 10:33] NateWr commented on #2083
Hi @bozana,

Looks good! I just had one comment on variable naming, but otherwise it looks good. Go ahead and merge once that change is in place.

I'm not sure there is a better way to handle this. We could check for the existence of the `$uploader` element, but that just ties functionality to specific HTML in ways that are already confusing enough. And I like that the `readOnly` param is explicit

[2017-01-27 11:37] NateWr commented on #2217
Well this is a confusing one. Using your theme file, I tracked it down to a problem with `PluginRegistry.inc.php`. For some reason, only on the Search page, the `default2` plugin is just not getting registered here:

https://github.com/pkp/pkp-lib/blob/master/classes/plugins/PluginRegistry.inc.php#L141

If you inspect the `$plugins` variable after that call, the `default2` theme is not loaded on t

[2017-01-27 11:43] ajnyga commented on #2217
Thank you. Very weird. The theme I noticed this the first time is named "tsvJournal". I wonder if capital letters are a problem as well?

[2017-01-27 14:59] MarHerUMR opened #2242 "Add hex value entry for colour picker"
Right now the colour picker (e.g. on the Appearance tab of the Website Setting in OJS3) only supports choosing the colour by clicking. Therefore choosing exact colour values is quite hard.

The used colour picker comes with a option to enter rgb hex values when called with `showInput: true` as parameter.

Before:
![without](https://cloud.githubusercontent.com/assets/23074158/22374822/0d565dc4-e4a8

[2017-01-27 15:07] bozana commented on #2083
everything merged and cherry-picked, thus closing...

[2017-01-27 15:07] #2083 closed

[2017-01-27 16:16] asmecher commented on #2242
Please do, @MarHerUMR!

[2017-01-27 16:35] bozana commented on #2159
@asmecher, could we maybe split this issue and first do this fix and then the others: https://github.com/pkp/ojs/pull/1188 -- I need time to figure out how to fill the edit_decisions with missing rows, to consider all cases... If so, could you please review the PR again? -- I considered the changes for other OJS versions...

[2017-01-27 18:12] asmecher commented on #2242
Merged -- thanks, @MarHerUMR!

[2017-01-27 18:12] #2242 closed

[2017-01-27 20:11] asmecher opened #2245 "Update copyright dates for 2017"

[2017-01-27 23:21] Vitaliy-1 commented on #2134
Closed this issue to early. Yesterday we have published an article that became popular among over colleagues. So I had an opportunity to check plugin in real settings. Upon publication I have noticed 7 view counts. Apparently from author and editors, which looked on the publication before it was published (directly from link).

Today on apache logs I see that this article was intensively viewed. M

[2017-01-27 23:28] Vitaliy-1 commented on #2134
@bozana , how this logs are created? they are parsed from apache logs with regex? Can you briefly describe the process?

[2017-01-28 01:45] asmecher commented on #2237
Merged #2240 -- can this be closed, @mtub?

[2017-01-28 01:50] asmecher commented on #2217
Very weird, and not making much sense to me either. Just checking -- is it possible that at some point there was a mismatch between the entry for this plugin in `versions` (which gets installed based on the plugin's `version.xml`) and the name of the plugin (the directory it's installed in)? There is some plugin lifecycle voodoo that ties these together.

[2017-01-28 01:54] asmecher commented on #2159
Sure. The PR looks good, please go ahead and merge/forward-port!

[2017-01-28 01:55] asmecher commented on #2159
(The remaining piece might be one of those things that gets done in a PHP loop rather than a clever bit of SQL...)

[2017-01-28 02:47] #2211 closed

[2017-01-28 05:58] mtub commented on #2237
Yes :)

[2017-01-28 05:58] #2237 closed

[2017-01-28 08:58] ajnyga commented on #2217
Hi, I will try different things. Even if the reason is what you say, I can not figure out why why it would only apply in the search page and be resolved by turning on the static page plugin.

[2017-01-28 18:53] gemusehandler opened #2246 "Can't add existing author to an article"
Each journal builds up a database of authors. Some of these are returning (co-)authors. In the current OJS it is not possible to select an author from the database and add him or her to an article. This makes (quick submit-like) processes unnecessary complicated.

[2017-01-28 19:20] Vitaliy-1 commented on #2134
I have parsed with regex apache access.log. Changed the lines according to OJS , deleted logs from bots and my own. After successful parsing with stats plugin from metrics table I now can see near 200 views of our new article. So from apache logs all OK, and Stats OJS logs are not created normally.

Also in my stat logs I see mostly administrative (my own) clicks and bots.

[2017-01-29 08:38] ajnyga commented on #2092
Hi,

I do not think that any of the above fix this issue?
http://forum.pkp.sfu.ca/t/section-editors-cannot-download-file-submission-and-got-error-ojs3/25050

[2017-01-29 09:18] ajnyga opened #2247 "[OJS] Migrated submissions have a review round even when the submission is in stage 1"
OJS 3.0.1. upgraded from 2.4.8.1.

All submissions seem to have a review_round active in review_rounds table although the submission was in stage 1 during the upgrade.

Sending the submission to review thus creates round 2.

[2017-01-29 19:46] vvkorotkikh commented on #1793
I can't download last patch from the list. All browsers show Error: ERR_TOO_MANY_REDIRECTS.
How can I download this file?

[2017-01-30 07:40] ajnyga opened #2249 "[OJS] OJS 3.0.1 Add reviewer modal not loading"
Hi,

One of our journals has an submission that has been made using OJS 3.0.1. They have started the review stage, but can not assign reviewers because the add reviewer modal is not responding. Firefox asks if you want to continue loading the script, but that does not help.

There are no errors in php error_log on no errors in javascript log. It seems that the script is stuck here:
![screenshot_94

[2017-01-30 08:55] bozana commented on #2134
@Vitaliy-1, just to double check: Have you applied these fixes:
pkp-lib ojs-stable-3_0_1: #2170
ojs ojs-stable-3_0_1: pkp/ojs#1181

https://github.com/pkp/ojs/pull/1138
?

The logging in OJS uses UsageEventPlugin -- it creates an event. The UsageStatisticsPlugin is registered for the hook 'UsageEventPlugin::getUsageEvent' and when such an event from the UsageEventPlugin is triggered, the UsageStat

[2017-01-30 10:39] mittinatten commented on #1793
If it helps the same patch is available here https://github.com/ubbdst/pkp-lib/commit/b29444da6d1c2f130bcab17ac2edfac3129d6109

[2017-01-30 10:47] NateWr commented on #2217
Yeah maybe. I mean, I've just been changing the name as I go so could be some mismatch stuff. I can try it out on a fresh install and see if that helps.

[2017-01-30 11:08] NateWr commented on #2212
@asmecher Just a heads up that this should be ready to go if you're looking to clear the last Critical Issue from OJS 3.0.2. I've rebased and restarted tests due to some conflicts with DTD validation, so haven't been able to see results on JS tests. But hoping it's basically good to go.

[2017-01-30 11:14] ajnyga opened #2250 "[OJS] Journals with publishing mode set to "none" should not send notifications when publishing an issue"
OJS 3.0.1.

We have a few journals that only use OJS for editing submissions and do not publish issues in their OJS journal.

Many of them usually ask what is the right time to "take out" the articles from OJS. I have usually responded that for better internal archiving they should basically assign the articles to issues and when an issue is ready, they should publish it.

This, however, creates a

[2017-01-30 13:31] lilients commented on #2072
Hi @asmecher, @bozana, @NateWr , @mtub  and everybody interested,

as I mentioned before I think we need to add a versioning for galleys as well. Mainly because there are DOIs attached to galleys and statistics uses them. I would like to check my approach with you before implementing.

Currently there are versions of submission metadata stored in submission_settings like this:
`submission_id, subm

[2017-01-30 13:49] ctgraham commented on #2134
@bozana, when you say, "the URLs like this http://e-medjournal.com/index.php/psp/article/view/15/25 (i.e. without file ID at the end) should never be logged/considered", can you clarify your meaning here?  It certainly looks to me like this URL effects a view of the article fulltext, and should be captured.

[2017-01-30 13:56] bozana commented on #2134
@ctgraham, in OJS 3.0 this kind of URL only displays the galley file -- it is different than in OJS 2.4.x. Thus calling this URL, will call `download` function that contains 'ArticleHandler::download' that is then considered by UsageEventPlugin and that then creates the usage event. So only this file download is considered -- if we would also consider the URL (as above), the same file access would

[2017-01-30 14:06] ctgraham commented on #2134
But in the case of XML/HTML publishing, I suppose there isn't really a distinction between "viewing" the fulltext and "downloading" the fulltext.  The COUNTER standard is interested in this activity (the user engaging the fulltext) whether we call it a "download" or a "view".

[2017-01-30 14:09] bozana commented on #2134
Yes that is true. In OJS 3.x the HTML file access is counted, just the different URL is logged, something like "...article/download/1/3/20".

[2017-01-30 14:28] bozana commented on #2173
@ajnyga, concerning the problem 2 above: is is so that only those migrated reviewer files are in the table review_assignments, column reviewer_file_id? -- just to double check, that I can repair it looking at this column...

[2017-01-30 14:33] ajnyga commented on #2173
I have to see if I can find out somehow, because I already fixed this post upgrade with my own script...

[2017-01-30 14:35] ajnyga commented on #2249
It seems to be something in the submission abstract that is breaking the script, because removing the abstract solves the problem. I will test what string is the reason and let you know.

[2017-01-30 14:37] ajnyga commented on #2173
Ok, so sorry @bozana can you rephrase your question?

[2017-01-30 14:41] bozana commented on #2173
Do you have something in your column `review_file_id` in `review_assignments` table? If so, are those the migrated (from OJS 2.4.x) reviewer files ids?

[2017-01-30 14:50] ajnyga commented on #2249
Tagging @NateWr and @asmecher

Short story short: If you have a string like `<15` in the abstract the above problem with adding reviewers will emerge. This does not happen if you have `< 15`.

No idea why.

[2017-01-30 14:56] ajnyga commented on #2173
Yes I have and the values there seem to match the values of our old OJS2 database.

[2017-01-30 14:57] bozana commented on #2173
Thanks!!!

[2017-01-30 14:58] ajnyga commented on #2173
And the id there is at least in the three first cases the same as in the submission_files table.

[2017-01-30 15:04] ajnyga commented on #2249
This is maybe the same issue:
https://github.com/tinymce/tinymce/issues/2567

[2017-01-30 17:29] asmecher commented on #2249
@ajnyga, is this an abstract that was entered into the system via the TinyMCE GUI (and thus should be properly escaped) or came in some other way (thus might not be properly escaped)?

Check in the database to see whether that abstract has the `<` encoded as `<`, or as `&lt;`.

[2017-01-30 17:32] asmecher commented on #2212
Merged, thanks -- it looks like there are some unrelated issues with JS linting, and I'll take care of those.

[2017-01-30 17:32] #2212 closed

[2017-01-30 17:46] asmecher commented on #1723
@ctgraham, we're just preparing for the release of OJS 3.0.2 -- mind if I defer this to the next milestone?

[2017-01-30 17:49] asmecher commented on #2250
Thanks, @ajnyga!

[2017-01-30 17:49] #2250 closed

[2017-01-30 18:11] ajnyga commented on #2249
Hi,

This is an abstact that was sent among the first ones after we moved to OJS3.
If I look at the source with tinymce, I see "&lt;"

Spocke in the above tinymce thread writes that "Properly encode your content. &amp;lt; not &lt; I guess we need to add some docs somewhere about how to entity encode HTML this issue seems to be reported from time to time."

[2017-01-30 18:14] Vitaliy-1 commented on #2134
It seems there is no statics only for html galleys. And yes, I use html galley plugin, but I have modified display.tpl.  Can it somehow influence statistics?

I will check if I had applied all fixes and compare all my html galley plugin files with ojs-master branch in near time.

[2017-01-30 18:21] asmecher commented on #2064
@defstat, mind taking a look at this?

[2017-01-30 18:25] ajnyga commented on #2249
edit: I checked the generated source at the metadata page and it has "`&amp;lt;15`"

But as I said, although I have entered that using tinymce and it seems to be escaped correctly, it is still causing the script mentioned above to time out.

[2017-01-30 18:26] asmecher commented on #2133
Closing for lack of input.

[2017-01-30 18:26] #2133 closed

[2017-01-30 18:36] ajnyga commented on #2249
Another detail. If there is not much content after `<15` you do not get this problem. But if there is for example a full paragraph of text following that, the script times out.

I was able to replicate this will a clean install of 3.0.1.

[2017-01-30 18:36] ctgraham commented on #1723
@asmecher the current PR is actually best scheduled against 2.4.9.

[2017-01-30 18:42] ajnyga commented on #2249
@asmecher,
The html variable that the loop has contains the review request letter, which in turn contains the abstract. This is what is sent to that script:

`<span class="pkpTag mceNonEditable" data-symbolic="reviewerName">Name</span>:<br /><br />I believe that you would serve as an excellent reviewer of the manuscript, &quot; Kahden kierroksen artikkeli,&quot; which has been submitted to Scienti

[2017-01-30 18:46] asmecher commented on #1723
Thanks, @ctgraham!

[2017-01-30 19:04] ajnyga commented on #2249
I guess it comes down to this:
https://github.com/pkp/pkp-lib/blob/master/classes/mail/SubmissionMailTemplate.inc.php#L57
https://github.com/pkp/pkp-lib/blob/master/classes/core/PKPString.inc.php#L497

[2017-01-30 19:30] bozana commented on #2173
PRs:
1.
2.
ojs master: https://github.com/pkp/ojs/pull/1236

[2017-01-30 19:34] bozana commented on #2173
@asmecher, could you take a look at the PR above, that fixes the problem number 2 in this issue? At the end I remove the reviewer_file_ids from review_assignments, as it is in OJS 3. If they should stay -- to be on the safe side -- I will have to consider that so that the SQLs are not executed several times, every time when doing upgrade... Thanks!

[2017-01-30 20:02] ajnyga commented on #2173
Thanks, I will run  <query>UPDATE review_assignments SET reviewer_file_id = NULL WHERE reviewer_file_id IS NOT NULL</query> in our database to prepare for 3.1 upgrade. But do we need the whole `reviewer_file_id` field after this?

[2017-01-30 20:03] bozana commented on #2173
@ajnyga, please wait till Alec answers. I can then let you know... Do not change anything in you solution till this is merged... :-)

[2017-01-30 20:24] asmecher commented on #2249
Ah, I see -- now that we're supporting HTML in messages, I think the call to PKPString::html2text can be removed. Can you try that and see if it resolves the issue?

[2017-01-30 20:43] ajnyga commented on #2249
Hi,

Yes, removing html2text from https://github.com/pkp/pkp-lib/blob/master/classes/mail/SubmissionMailTemplate.inc.php#L57 solves this issue. I would do a pull request, but I have to get some sleep.

[2017-01-30 21:53] Vitaliy-1 commented on #2134
Greetings @bozana
I have double checked all fixes, I have missed some of them, but not crucial for  statistics (as i think). After revising the code checked once more, just in case - counts from html galleys are not recording into logs. Others galleys counts (xml, pdf) are logged  normal.

As I said. mine display.tpl from html galley is completely modified, but I doubt that this can influence stat

[2017-01-31 11:23] bozana commented on #1873
@asmecher, once the comments to editor are moved to discussions, we cannot export them any more in the native import/export plugin -- because we do not know what discussion is "Comments To Editor", right? Can we then remove that element from schema?

[2017-01-31 11:24] NateWr commented on #2098
@asmecher I think this one is pretty much ready to go, but I'm having some trouble with the tests. A couple of them are failing when trying to checkout a submodule:

https://travis-ci.org/pkp/ojs/jobs/194874523#L296
https://travis-ci.org/pkp/ojs/jobs/194874526#L282

It seems inconsistent:

https://travis-ci.org/pkp/ojs/builds/194874520

I've rebased and restarted again, but maybe you know more def

[2017-01-31 11:29] NateWr commented on #1808
OMP test passed. OJS tests timed out (https://travis-ci.org/pkp/ojs/builds/194897930).

I've rebased but I think this is good to go. @bozana can you code review and merge?

[2017-01-31 13:10] bozana commented on #1873
New PRs:
https://github.com/pkp/pkp-lib/pull/2252
https://github.com/pkp/ojs/pull/1237

[2017-01-31 13:10] bozana commented on #1873
@asmecher -- the PRs above migrate the comments for the editor in OJS. Could you take a look? I will adopt it now for OMP as well...

[2017-01-31 15:38] itssazzad opened #2253 "[OJS 3.0]: Google Analytics Plugin double text"
In OJS 3, the Settings text is doubled when clicking "OK" without putting "Account number" (mandatory field), and the user is returned to the Settings page.

![googleanalyticsplugin-settingsformissue](https://cloud.githubusercontent.com/assets/17194473/22476434/c983134e-e7b8-11e6-94ae-087a7932c76d.jpg)

[2017-01-31 16:18] bozana commented on #1808
Everything fine and merged...

[2017-01-31 16:32] #1808 closed

[2017-02-01 12:36] mittinatten opened #2254 "[OJS 3.0.1] Deleted locale lingers in some settings, causing form failure"
A journal I administer at some point had the locale `no_NO` active, probably as part of a test. When we upgraded to 3.0 I deleted it from the list of locales, after the upgrade, so that it wouldn't cause confusion, but mainly because there were errors clogging the log. When upgrading from OJS 2 to 3, the locale changes name from `no_NO` to `nb_NO`, which is correct, but apparently not everything i

[2017-02-01 17:33] bozana commented on #2134
I discovered one more issue: HtmlArticleGalleyPlugin uses ArticleHandler::download hook and returns true i.e. does not allow others, coming after, to use that hook. Because UsageEventPlugin also uses that hook, it will not get it, if HtmlArticleGalleyPlugin gets it first. Thus, HtmlArticleGalleyPlugin should provide such a hook for the other to be able to use it.
PRs:
ojs master: https://github.co

[2017-02-01 17:35] bozana commented on #2134
@Vitaliy-1, I am not sure if the last PR above will solve your issue -- you changed the display process a little bit, so that it seems that both hooks (for article download and for finished article download) are not provided -- I will test it and let you know...

[2017-02-01 18:11] bozana commented on #2134
Hi @Vitaliy-1, because you changed the HtmlArticleGalleyPlugin so that content display already happens in articleViewCallback, the download hooks will never be called, that UsageEventPlugin is using. I will send you the changes needed for it to work for you, additionally to the last PR above (when it is merged).

[2017-02-01 18:18] asmecher commented on #1873
Merged, thanks! Just one comment, not worth holding things up.

[2017-02-01 18:19] Vitaliy-1 commented on #2134
Many Thanks!

[2017-02-01 18:33] asmecher commented on #2098
Merged, thanks -- agreed, the test problem isn't related to your change.

[2017-02-01 18:33] #2098 closed

[2017-02-01 18:36] #2249 closed

[2017-02-01 19:46] asmecher commented on #2173
I think that field should be removed; I don't think it's relevant in OJS3.

[2017-02-01 19:54] bozana commented on #2134
@Vitaliy-1, once you tested it and if OK, you can close the issue -- everything merged...

[2017-02-01 20:09] asmecher commented on #2246
Agreed -- though simply providing autocomplete-style searching would potentially expose the author database for abuse. One viable approach might be to permit authors to include co-author ORCIDs, and to have an external confirmation process allow those co-authors to confirm before they're formally added.

[2017-02-01 20:13] asmecher commented on #2253
Fixed, thanks!

[2017-02-01 20:13] #2253 closed

[2017-02-01 23:17] #2245 closed

[2017-02-01 23:22] #2053 closed

[2017-02-01 23:22] #2052 closed

[2017-02-01 23:37] asmecher commented on #1827
@kaschioudi, I think this is still waiting on some work from you, correct?

[2017-02-02 00:12] bozana commented on #1873
This PR considers submission comments with no author assignments -- possible in OJS 3.x:
ojs master: https://github.com/pkp/ojs/pull/1242

[2017-02-02 01:03] asmecher commented on #2192
Deferred -- correct, @bozana?

[2017-02-02 01:04] asmecher commented on #1873
Closing -- correct, @bozana? Thanks, @ajnyga, @bozana, and everyone else who worked on this one!

[2017-02-02 01:07] bozana commented on #1873
I will port those last changes to OMP tomorrow, but the issue can stay closed...

[2017-02-02 01:10] asmecher commented on #1873
Or I can just shift it over to that milestone :) thanks!

[2017-02-02 03:08] asmecher commented on #1792
Added to plugin gallery!

[2017-02-02 03:08] #1792 closed

[2017-02-02 03:32] asmecher commented on #1953
Moving to 3.1, but only to close 3.0.2 off -- I can add this to the plugin gallery ASAP. (The QuickSubmit plugin is now there too.)

[2017-02-02 04:34] kaschioudi commented on #1827
@asmecher : I believe that the only thing left was to check piwikSiteId type.. which is integer instead of string. I just pushed a fix (https://github.com/kaschioudi/piwik/commit/e032e8d166078afd2ce74b3497e8202a32e8d7d8). I believe this is good to go.

[2017-02-02 05:12] asmecher commented on #1827
It looks like it still needs some adapting for OMP, though. I think (not having looked at it) that it should be pretty applicable to both apps if you use some generic terminology (e.g. `contextId` rather than `journalId` -- mind taking a look?

[2017-02-02 07:56] Vitaliy-1 commented on #2134
Yep, now all views of html galleys are successfully recorded into usage_events logs.  Thanks once more :)

[2017-02-02 07:56] #2134 closed

[2017-02-02 09:18] bozana commented on #2192
yes, that's OK -- I hope not so many uses supp file and even less remote supp file, so that it is not such a big issue...

[2017-02-02 09:22] bozana commented on #1792
Coooooool! :-)

[2017-02-02 14:42] bozana commented on #1873
everything merged, thus closing...

[2017-02-02 14:42] #1873 closed

[2017-02-02 15:11] ajnyga commented on #1873
@bozana, this did not make the cut for 3.0.2., right?

[2017-02-02 15:12] bozana commented on #1873
It is in 3.0.2...

[2017-02-02 16:29] itssazzad commented on #2253
Thanks @asmecher!

[2017-02-02 18:44] asmecher commented on #1953
It's released and placed in the plugin gallery for OJS 3.0.2! @defstat, can you remove your repo? I've forked it over to the pkp account (and made a few quick tweaks).

[2017-02-02 18:44] #1953 closed

[2017-02-02 18:50] defstat commented on #1953
@asmecher  Removed

[2017-02-03 14:22] bozana commented on #1896
(Mentioned also here: http://forum.pkp.sfu.ca/t/ojs-3-x-import-export-of-users/28357/4)

[2017-02-03 14:24] bozana commented on #2063
@alappe, can this issue then be closed?

[2017-02-03 14:26] bozana opened #2256 "Import of review_interests"
review_interests seem not to be imported by user import plugin. s. http://forum.pkp.sfu.ca/t/ojs-3-x-import-export-of-users/28357/4

[2017-02-03 15:47] asmecher opened #2257 "Correct UTF=8 typo in CrossRef issue export"
See http://forum.pkp.sfu.ca/t/ojs3-0-2-and-crossref-plugin-validation-error/28369

[2017-02-03 15:48] #2257 closed

[2017-02-03 17:37] bozana opened #2258 "Crossref 4.3.6 schema URL changed"
It seems that ULR for Crossref 4.3.6 schema changed. It is not http://www.crossref.org/schema/deposit/crossref4.3.6.xsd any more but http://www.crossref.org/schemas/crossref4.3.6.xsd. This should be fixed in OJS 2.4.8-1 and 3.0.2.

[2017-02-03 21:08] bozana commented on #2258
PRs:
ojs-stable-3_0_2: https://github.com/pkp/ojs/pull/1244

[2017-02-03 21:08] bozana commented on #2258
@asmecher, could you take a look? THANKS!!!

[2017-02-03 21:11] asmecher commented on #2258
Yup, looks good -- but I do still recommend asking CrossRef for a redirect.  Please commit & forward-port!

[2017-02-03 21:14] bozana commented on #2258
A OK I will then wait, to see what they will answer...

[2017-02-03 21:30] bozana commented on #1955
The option to disable validation would be also good if the `allow_url_fopen = Off` -- we use schemas URLs, so the `schemaValidate` uses `fopen` to get the schema. If `allow_url_fopen` is disabled, this will not work. S. http://forum.pkp.sfu.ca/t/ojs3-0-2-and-crossref-plugin-validation-error/28369/10.

[2017-02-04 21:07] zoran-grujic opened #2259 "[OCS] DB Error: Duplicate entry '1-1-1-256' for key 'roles_pkey'"
Hi,

When registered user wish to update its profile, on the bottom of the form there are three checkboxes:
 Reader,  Author, Reviewer
First bug is that those boxes aren't checked even user has all/some roles set.

Second bug appears when user decide to update its roles, check sole or all and submit - result is database error:
**DB Error: Duplicate entry '1-1-1-256' for key 'roles_pkey'**

Same er

[2017-02-06 11:38] bozana opened #2260 "DOAJ XML export: position multilingual elements with article locale on the first place"
s. http://forum.pkp.sfu.ca/t/doaj-plugin-and-multi-language-articles/17210
The DOAJ XML schema allows multiple languages for some elements, but DOAJ only consideres/displays the first found element. Thus, position the element in article locale on the first place.

[2017-02-06 12:11] NateWr commented on #2136
It looks like the CSS for centering content when no sidebar is present didn't get merged:

https://github.com/pkp/ojs/pull/1187

Since it's just CSS, I've gone ahead and cherry-picked in the OJS commit and pushed it straight to master:

https://github.com/pkp/ojs/commit/cbdc00247fa814dd685a8b2a9d58d9a75aea6b0e

Just recording this for the future, as it didn't make it into the 3.0.2 release. But it

[2017-02-06 13:34] bozana commented on #2260
PRs:
ojs-dev-2_4: https://github.com/pkp/ojs/pull/1246

[2017-02-06 13:36] bozana commented on #2260
@asmecher, could you take a look at the PR above? Do you think it is OK to add the multilinguality for the `keywords` element? Or is it maybe better not to change that? -- Unfortunately, I cannot test the XML upload... :-\

[2017-02-06 14:00] bozana commented on #632
This issue can be closed -- the public identifiers on the file level are implemented in OMP master...

[2017-02-06 14:01] #632 closed

[2017-02-06 14:31] lilients commented on #2072
Hi everybody,

I refined the database structure simultaneous to Felix versioning of submissions (storing info that needs to be versioned in settings):

**`submission_galleys`** (all information that will not be versioned):
* `galley_id`, `submission_id`, `locale`, `label`, `seq`, `is_approved` (leftover from OMP?) - moved: `file_id`, `remote_url`

**`submission_galley_settings`** (information that

[2017-02-06 15:45] NateWr commented on #2072
HI @lilients,

Sorry for the lack of feedback on my part. Your screenshot looks good, with the tabbed versions. I agree with @mtub that using a tab named "New Version" is better than just naming a new version. A couple thoughts:

- On all version pages except the first, can we change "Schedule for Publication" to "Publish Updated Version" or something like that?
- We have two areas where "Metadata

[2017-02-06 16:36] alappe commented on #2063
Yes, thanks…

[2017-02-06 16:36] #2063 closed

[2017-02-06 17:38] NateWr opened #2261 "Style the new plugin gallery"
Now that the plugin gallery is in operation, the plugin information could be presented a bit better.

This is a placeholder issue to stage PRs against.

[2017-02-06 17:42] NateWr commented on #2261
PR:
https://github.com/pkp/pkp-lib/pull/2262

TESTS ONLY:
https://github.com/pkp/ojs/pull/1247

The new plugin detail view:

![selection_119](https://cloud.githubusercontent.com/assets/2306629/22658891/9670e686-ec93-11e6-89cc-a2157d724e23.png)

![selection_120](https://cloud.githubusercontent.com/assets/2306629/22658890/966f0a00-ec93-11e6-8b6d-220fdda548b2.png)

[2017-02-06 20:29] bozana commented on #1955
PRs:
pkp-lib ojs-stable-3_0_2: https://github.com/pkp/pkp-lib/pull/2264
ojs ojs-stable-3_0_2: https://github.com/pkp/ojs/pull/1248

[2017-02-06 20:30] bozana commented on #1955
@asmecher, could you please take a look at the PRs above?

[2017-02-06 21:31] gemusehandler commented on #2246
Why auto-complete searching. In OJS 3 you can add a participant to the article, or a reviewer. Why not an author using the same procedure. The option would especially be useful in a quick submit like process for periodicals with returning authors.

[2017-02-06 21:34] asmecher commented on #2246
@gemusehandler, those functions are currently available to representatives of the journal, with whom a user creates a "contract" when registering. I'm assuming you'd want to add this process to the submission process, which is available to authors. Authors have no contract with other users of the site, so shouldn't be allowed to arbitrarily search/view information on other users of the system.

[2017-02-06 21:56] gemusehandler commented on #2246
@asmecher , maybe I haven't played enough with OJS3 yet, but as editor I seem to be able to add a 'contributor' to an article by filling in the usual form, but I can't select an author from the database. Or am I mistaken?

[2017-02-06 21:59] asmecher commented on #2246
@gemusehandler, OJS tracks "authors" (as in the scholarly metadata) separately from "users" (as in people who interact with the workflow). The "participants" grid allows you to add new users in order to grant them access to the workflow. The "authors" grid allows you to add new contributors to the submission who will be listed in the scholarly metadata.

[2017-02-07 00:52] asmecher opened #2265 "Review master branch for dead/crufty code"
- Unnecessary subclassing in application repos
- Context depth cruft
- ...etc

[2017-02-07 06:15] Ph-We commented on #2246
I would agree with @gemusehandler, that at least in the case with the Quick Submit that functionality would be both quite useful **and** safe in every respect (since authors/readers do not have access to it).

[2017-02-07 10:24] NateWr opened #2266 "Custom uploaded CSS files get loaded too early"
Their styles get overwritten by the main stylesheet. This is probably due to changes introduced to fix this issue:

https://github.com/pkp/pkp-lib/issues/2136#issuecomment-271819363

[2017-02-07 10:57] NateWr opened #2267 "No current issue when current issue is unpublished"
If the current issue is unpublished, but another issue exists, the current issue doesn't get set. Going to the Current Issue page displays nothing and the Current Issue isn't displayed on the homepage, even though issues exist in the archive.

[2017-02-07 16:51] NateWr commented on #2261
Tests passed. @asmecher can you code review?

[2017-02-07 17:07] NateWr commented on #2266
Looks like we were never respecting the asset priority values, we just never noticed before because we were assigning the priority keys in the right order by accident.

PRs
https://github.com/pkp/pkp-lib/pull/2268

TESTS ONLY
https://github.com/pkp/ojs/pull/1249

[2017-02-07 17:41] NateWr opened #2269 "Can't search all categories in plugin gallery"
The "All Categories" option of the search filter in the plugin gallery doesn't work. For instance, searching for `piwik` returns no results when All Categories is selected, but correctly finds a result when Generic Plugins is selected.

[2017-02-07 18:43] ctgraham commented on #1923
@asmecher, why is `getCurrentContextId()` implemented only in [`LazyLoadPlugin`](https://github.com/pkp/pkp-lib/blob/02891013ab62c62442a2c5ec1a6868309d1c9c8c/classes/plugins/LazyLoadPlugin.inc.php#L89-L96) and [`GatewayPlugin`](https://github.com/pkp/pkp-lib/blob/02891013ab62c62442a2c5ec1a6868309d1c9c8c/classes/plugins/GatewayPlugin.inc.php#L65-L72) instead of in Plugin?  Is there an architectural

[2017-02-07 18:46] asmecher opened #2270 "Sort submission lists by ID"
See: http://forum.pkp.sfu.ca/t/ojs-3-can-submissions-be-sorted/28304/3

[2017-02-07 18:50] asmecher commented on #1923
@ctgraham, hmm, I don't really like that function as it's currently written -- it makes static use of the PKPRequest object, which is deprecated behavior. I would rather see `getEnabled` take a `$contextId` parameter or something, which would uncouple the request handling from the plugin infrastructure, though that would probably take some refactoring.

[2017-02-07 18:53] asmecher commented on #2266
Thanks, @NateWr! Merged and cherry-picked over to `ojs-stable-3_0_2` as well.

[2017-02-07 18:53] #2266 closed

[2017-02-07 18:58] ctgraham commented on #1923
This is where I get a little lost in the new framework.  How does a GridCellProvider know its current context for a call to something like `$plugin->getEnabled()`?
https://github.com/pkp/pkp-lib/blob/02891013ab62c62442a2c5ec1a6868309d1c9c8c/controllers/grid/plugins/PluginGridCellProvider.inc.php#L50

[2017-02-07 19:24] itssazzad opened #2271 "[OJS 3.0] Disappearing Page Footer in the article page when "Recommend Similar Articles" plugin is enabled"
In OJS 3.0, the page footer (powered by OJS | ...) is disappeared in the article page when "Recommend Similar Articles" plugin is enabled.

![ojs3-page-footer-disappear](https://cloud.githubusercontent.com/assets/17194473/22707399/11eed43e-ed49-11e6-924f-126c2042ff96.jpg)

[2017-02-08 07:20] ajnyga commented on #2114
@asmecher, @NateWr I have started to get feedback on this issue. Most authors are clueless on how to get past the step 2 in file upload form. The reason is described in the forum post with screencaptures.

I would be happy to try and solve this, but what is the preferred solution here?

In my opinion, the filename should be automatically filled with all active form locales.

[2017-02-08 11:53] NateWr commented on #2261
Thanks @asmecher, I escaped the variable per your code review comment. I also tidied up the template a bit. Tests running again, but should be good to go.

[2017-02-08 15:59] lilients commented on #2072
Hi @NateWr ,

thanks for your feedback. Opt-in is already [implemented ](https://github.com/lilients/ojs/wiki/Article-versioning-in-OJS/94d9d650fe48103a07b4c2171f39743a4e9ecab5).
I think I can rename the button "Schedule for Publication" if versioning is enabled.
Currently the upper metadata window displays the metadata of the most recent version. The metadata of old versions can be viewed at the

[2017-02-08 16:52] bozana commented on #2271
Hi @itssazzad, I am using current ojs-stable-3_0_2 branch and the footer does not disappear for me. Is it possible for you to test it with the current version? -- It seems that the problem has already been solved...

[2017-02-08 18:15] asmecher commented on #2261
As usual, this is something it would've taken me way longer to make half as good. Thanks, @NateWr! Back-ported to `ojs-stable-3_0_2` as well.

[2017-02-08 18:15] #2261 closed

[2017-02-08 21:36] asmecher opened #2272 "Exclude content from disabled journals in search results"
See http://forum.pkp.sfu.ca/t/ojs-2-4-8-1-exclude-hidden-journals-and-their-articles-from-global-search/28469

[2017-02-08 21:45] asmecher commented on #1923
This is where some refactoring might get persnickety. In my opinion we should be providing the `$request` object more consistently to the controller classes, including `GridCellProviders` etc., perhaps by passing them in right when those classes are instantiated and having them save a reference. Right now access by those objects to the instantiated `$request` is spotty.

[2017-02-08 21:47] asmecher commented on #2267
We should make it possible to choose which issue is current. See e.g. http://forum.pkp.sfu.ca/t/order-of-publishing-issues-i-e-current-i-ojs-3x/28452.

[2017-02-08 22:07] asmecher commented on #2246
Ah, that would indeed be safe to add to QuickSubmit. @gemusehandler, is that what you're using?

[2017-02-08 22:55] asmecher commented on #1827
Done! https://github.com/pkp/piwik

[2017-02-08 22:55] #1827 closed

[2017-02-09 00:03] asmecher commented on #2114
@ajnyga, here's what I'd suggest:

- Ensure that the required fields are required in the *submission*'s locale (as opposed to the journal's locale).
- Have the default name fill in the submission's locale field to meet that requirement.

Does that make sense?

[2017-02-09 06:16] ajnyga commented on #2114
@asmecher I can not come up with any scenarios where that would not work.

Or is there a problem, if the users UI locale is not the same as the submission locale? French speaking author submitting a manuscript written in English using the French UI.

[2017-02-09 07:31] ajnyga opened #2274 "[OJS] Automated Submission Review Reminders are sent with the url and signature of another journal"
Hi,

Yesterday two submission review reminders were sent with the url and the signature of another journal.

The situation was this:

In journal A there were two overdue review assignments. Automatic reminders were turned off.
In juornal B there are no review assignments yet, but the automatic reminders are turned on.

Yesterday, the automatic reminders in journal B were triggered and the system w

[2017-02-09 09:25] NateWr commented on #2267
Do Issues have published dates? If so, can we use that? If not, should they?

[2017-02-09 10:18] ajnyga opened #2275 "[OJS] Review marked as (response) overdue even if reviewer has accepted the assignment"
In OJS 3.0.2. when you set a response due date and the reviewer **accepts** the assignment the status is still shown as " Overdue Response due: 2017-02-05".

If I edit the same accepted assignment and set the response date to a future date, the status message shows: "Request Accepted Review due: 2017-03-02".

So clearly there is something wrong there.

[2017-02-09 10:43] ajnyga commented on #2275
This is a pr I did https://github.com/pkp/pkp-lib/pull/2276
@bozana or @asmecher, could you look at this?

[2017-02-09 12:21] ajnyga commented on #2274
I guess that somehow the context used here https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_2/classes/task/ReviewReminder.inc.php#L55 is not the context of the review assignment but the current context that has triggered the Acron plugin?

Although the context should be set correctly here: https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_2/classes/task/ReviewReminder.inc.php#L156

I checked th

[2017-02-09 12:52] gemusehandler commented on #2246
That is exactly what I am asking for...

[2017-02-09 15:18] ajnyga commented on #2274
I checked from a database dump that `numDaysBeforeSubmitReminder` for journal A was set to `0`.
For journal B it is set to `1`

[2017-02-09 16:10] bozana commented on #2275
Thanks @ajnyga! Merged. I can cherry-pick it to ojs-stable-3_0_2, maybe even omp-stable-1_2...

[2017-02-09 16:29] asmecher commented on #2114
The system will first try to find metadata in the user's UI locale, then fall back on the submission's locale, for which the required metadata should always be available.

[2017-02-09 16:30] bozana commented on #2275
PRs in pkp-lib:
master: https://github.com/pkp/pkp-lib/pull/2276
ojs-stable-3_0_2: https://github.com/pkp/pkp-lib/pull/2277
omp-stable-1_2_0: https://github.com/pkp/pkp-lib/pull/2278

[2017-02-09 16:31] bozana commented on #2275
everything merged, thus the issue can be closed...

[2017-02-09 16:31] #2275 closed

[2017-02-09 17:56] asmecher commented on #2265
Pulls:
- https://github.com/pkp/omp/pull/390/files
- https://github.com/pkp/ojs/pull/1250
- https://github.com/pkp/pkp-lib/pull/2279

Some reverted stuff for later consideration:
- https://github.com/asmecher/pkp-lib/commit/8d489dbdb5d73bf61b1f2df6c0e7d94ed645f113
- https://github.com/asmecher/omp/commit/d0229e137ca901e33ef12266bab83a0c7c1099c4

[2017-02-09 19:16] #2265 closed

[2017-02-09 19:33] ctgraham commented on #1923
Well, @asmecher, I'm committed to adding new functionality for plugins to understand their instantiated context better.  I'm not going to refactor the whole controller framework, but could I start refactoring the pieces I touch (like the GridCellProvider).  Do you have a preference if I start into this piecemeal vs. someone else actually approaching this from a full-picture perspective?  If I left

[2017-02-09 19:48] mtub opened #2280 "[OJS] update citation plugins to refer to article version"
Once #2072 is completed (at least when the metadata structure has been agreed upon), we should look at plugins and UI functions using that metadata, especially all citation plugins.

This would require only minor changes in

a) the text of the citation (include a "Version X" string) and
b) the journal URL/DOI links

Tagging @lilients, @asmecher ...

[2017-02-09 20:26] mtub opened #2281 "Use DOI as the article link in citations"
When a persistent identifier, especially a DOI, is assigned to an article (or a particular galley), OJS should not give citation examples that include links to the journal website. This concerns citation plugins, especially "how to cite" and the BibTeX output.

(Random example from https://doi.org/10.5204/ssj.v7i2.336)

## BibTeX:

_What we have right now:_

	author = {Sally Kift},
	title = {The d

[2017-02-09 20:28] ajnyga commented on #2274
I can not figure out what has happened here. The only explanation I can think of is that for some reason this https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_2/classes/task/ReviewReminder.inc.php#L156 has returned the wrong context for some reason. But that just does not seem possible.

[2017-02-09 22:11] ctgraham opened #2282 "[OJS3] Single Journal install homepage is awkward"
In the event of a single journal site installation, we suppress the Site Settings option:
https://github.com/pkp/ojs/blob/011f4dd67839ebf896645994ff0a12f5451e2b68/templates/admin/index.tpl#L27-L29

But the Site Settings holds the option for the Site index to redirect to the Journal index.  This leaves the site index just listing a single Journal, when we probably want the Site index to redirect to

[2017-02-10 16:52] asmecher commented on #2265
Existing OMP databases will require these queries to keep the Series Editor role working (already handled upon upgrade):

    UPDATE email_templates_default SET from_role_id=17 WHERE from_role_id=513
    UPDATE email_templates_default SET to_role_id=17 WHERE to_role_id=513
    UPDATE user_groups SET role_id=17 WHERE role_id=513
    UPDATE submission_comments SET role_id=17 WHERE role_id=513

[2017-02-10 19:05] asmecher commented on #2282
The index page on a single-journal install should already redirect to the single journal, making the site settings page irrelevant. Do you have e.g. a second disabled journal or something?

[2017-02-10 19:06] ctgraham commented on #2282
No, this is a clean install of 3.0.2.  The only action taken post-install is to add the single journal.

[2017-02-10 19:55] ctgraham commented on #2282
I can replicate this on a box which doesn't have xdebug, and when I copy the install to a box with xdebug, it works as expected.  Grrrr.

[2017-02-10 20:43] ctgraham commented on #2282
Replicated this xdebug enabled.  The exact use case for me is `restful_urls` On, with mod_rewrite of:
[code]

With access to /ojs/ on the server, I get the following oddity:

- `$_SERVER['PATH_INFO']` = "/index.html"
- `$_SERVER['PATH_TRANSLATED']` = "/.../htdocs/index.html"
- `$_SERVER['PHP_SELF']` = "/ojs/index.html"

The result is that `PKPRequest::getRequestPath()` returns '/ojs/index.html', w

[2017-02-10 23:01] asmecher commented on #2160
- Shared `submission.event.participantRemoved` and `submission.event.participantAdded` in PKP lib (wasn't previously in OJS translation)
- Fixed the `{$revision}` / `{$fileRevision}` mismatch in `submission.event.fileUploaded` / `submission.event.fileRevised` (used preferred `{$fileRevision}`)
- The file's localized name was added for the missing `{$name}` variable to the above two keys
- Added up

[2017-02-10 23:01] #2160 closed

[2017-02-10 23:13] #2023 closed

[2017-02-10 23:41] asmecher commented on #1757
The "OMP" reference in `lib/pkp` has already been resolved.

The OJS locale files were pure duplicates; I've removed them.
Them OMP ones add a few locale keys; I've kept those files where the additional keys were translated and removed the files otherwise.

[2017-02-10 23:41] #1757 closed

[2017-02-11 10:23] Looted opened #2285 "[OJS 2.4.8.1] .gitignore bug"
In .gitignore we have this line:

`config.inc.php`

which not only ignores config.inc.php in root path, but also lib/pkp/classes/config/Config.inc.php (which broke my deployment, I couldn't run the upgrade tool). Changing it to:

`/config.inc.php`

fixes the issue. Should I make a PR for this?

[2017-02-13 10:51] NateWr opened #2286 "ORCID button needs to be styled on registration page"
![selection_131](https://cloud.githubusercontent.com/assets/2306629/22880524/6aa3b69a-f1da-11e6-9a82-60436da7fb48.png)

[2017-02-13 14:59] defstat commented on #2064
@asmecher The "Insert Tag" button of the editor adds the choices for the user, using the https://github.com/pkp/pkp-lib/blob/master/templates/form/textarea.tpl#L30 (among other lines of the same file) along with some javascript code that reads the "data-variable" attribute into a javascript object and displays it as a html list upon the "Insert Tag" button click.

I have 2 questions (lets say for

[2017-02-14 10:14] NateWr opened #2287 "Change Password page missing visual padding"
The page which requires you to reset an automatically generated password is missing the padding on the edges.

![ojs-change-password](https://cloud.githubusercontent.com/assets/2306629/22924759/44f16856-f29e-11e6-925a-468228a86398.png)

[2017-02-14 19:05] Ph-We opened #2288 "[OJS 3.0.2] Can't switch to APA or CBE Citation Formats"
If we try to switch to either APA or CBE the displayed format stays the same.
http://forum.pkp.sfu.ca/t/problem-with-first-name-displaying-in-citation/28641

[2017-02-14 20:06] asmecher opened #2289 "Add mbstring smarts to Smarty `truncate` (for APA citations and possibly others)"
See http://forum.pkp.sfu.ca/t/problem-with-first-name-displaying-in-citation/28641/5 for details.
If https://github.com/pkp/pkp-lib/issues/723 is easy to implement, perhaps it's better to solve it that way.

[2017-02-15 20:51] bozana commented on #1955
Everything merged, thus closing...

[2017-02-15 20:51] #1955 closed

[2017-02-15 21:22] vedranvucic opened #2291 "[OJS] Missing Site Title"
Maybe we should separate somehow function of that in two parts. One part should serve for naming tab in browser and the other one for the purpose we have at the moment.
So <message key="common.openJournalSystems">Open Journal Systems</message>
can be named differently for the purpose of naming tab in browser and be kept with this name for the purpose we have now.

[2017-02-15 22:13] bozana commented on #2260
Everything merged, thus closing...

[2017-02-15 22:13] #2260 closed

[2017-02-15 22:23] asmecher commented on #2291
See this forum discussion: http://forum.pkp.sfu.ca/t/how-to-change-title-in-browser-tabe-of-front-opage-of-multijournal-site-ojs-3-0-1-0/28649/5

[2017-02-15 22:37] asmecher commented on #2285
Please do!

[2017-02-16 00:20] asmecher commented on #772
Solved much more simply.

[2017-02-16 00:20] #772 closed

[2017-02-16 01:06] #1334 closed

[2017-02-16 13:27] bozana commented on #2258
@asmecher, now that they redirect the schema, we do not have to consider this change any more? If using some other validator (and not the PHP), the XML files could still be invalid, right?

[2017-02-16 13:36] bozana commented on #953
@asmecher, this issue seem to be solved: now there ist the step `4. Confirmation` with the button `Finish Submission` and the user does not have to click on it -- he/she can go back to one of the previous steps, if needed... Correct so?

[2017-02-16 17:48] bozana commented on #1709
PRs for b1), b2) and b3) above:
pkp-lib master: https://github.com/pkp/pkp-lib/pull/2293

[2017-02-16 17:49] bozana commented on #1709
@asmecher, could you code review the PR above?

[2017-02-17 07:17] ajnyga opened #2294 "[OJS] Returning to search from a search result leads to an expired document"
Hi,

In OJS3 when you do a search, the form uses POST. This leads to a situation where a user clicks an article title and then tries to return back (using the browser back button like they usually do) to the search results, but ends up in `Document Expired` page.

This could be easily fixed if the search would use GET instead of POST. Any reasons why it should not @asmecher?

[2017-02-17 11:27] bozana opened #2295 "statistics upgrade from 2.4.0, 2.4.1 and 2.4.2 to 3.x"
OJS 2.4.0, 2.4.1 and 2.4.2 didn't have usage statistics plugin, so that the metrics table didn't exist there, which should be considered in the upgrade to 3.x.
S. http://forum.pkp.sfu.ca/t/upgrade-database-from-ojs-2-4-2-0-to-ojs-3-0-2-0-error/28714

[2017-02-17 11:43] marcbria opened #2296 "[OJS] DevelopedByBlockPlugin error in a clean OJS 3.0.2 installation."
Installing a new OJS 3.0.2 from the tarball published here: https://pkp.sfu.ca/ojs/ojs_downloa

On first step, I get this error:
![image](https://cloud.githubusercontent.com/assets/2779168/23063895/445657c8-f50d-11e6-990b-629bd901df4c.png)

[code]

[2017-02-17 12:18] ajnyga opened #2297 "[OJS] The current role does not have access to this operation -message needs more details on how to acquire the needed role"
A typical problem in multi-journal installations is that a user has registered to journal A and later want's to submit something to journal B as well. However, usually this is not possible, because the user does not have the author role in journal B.

I made a feature request about how OJS should handle this situation. http://forum.pkp.sfu.ca/t/ojs3-missing-author-roles-in-multi-journal-installati

[2017-02-17 12:22] ajnyga commented on #2297
This is a translation related solution, so tagging @mtub here.

[2017-02-17 13:56] lilients commented on #2072
Hi @asmecher , @NateWr , @bozana and everybody else,

I added the galley versioning as descibed above and made some GUI changes ([Desciption](https://github.com/lilients/ojs/wiki/Article-versioning-in-OJS/fad450bf30eaac71277421ace6d0c9af2b6e6b80)). Works fine. :-D

Cleaning up I found another problem. For the article versioning the `date_published` has been moved from `published_submissions` to `s

[2017-02-17 14:19] Vitaliy-1 opened #2299 "OJS3: special characters in "keywords" metadata field in the dashboard"
![keywords](https://cloud.githubusercontent.com/assets/20665587/23068171/38f2beda-f52b-11e6-8acd-6a3938663caf.png)

The problem appears when trying to add cyrillic `б` symbol, which is situated at the` ,` on keyboard. So this is impossible to write all cyrillic words that have this letter. Only solution for now is copy-paste from text editor.

Another problem is not quite good behavior of this for

[2017-02-17 16:45] bozana commented on #2192
PRs:
ojs-stable-3_0_2: https://github.com/pkp/ojs/pull/1257

[2017-02-17 16:45] bozana commented on #2192
@asmecher, could you code review the PR above?

[2017-02-17 16:48] ajnyga commented on #2114
I first thought that what needs to be defined is `requiredLocale` in `SubmissionFilesMetadataForm`: https://github.com/pkp/pkp-lib/blob/master/classes/form/Form.inc.php#L89. However, that does not seem to affect anything, because `getRequiredLocale` function is not used anywhere in OJS or pkp-lib.  (Should it be used here? https://github.com/pkp/pkp-lib/blob/master/classes/form/Form.inc.php#L342)

[2017-02-17 17:26] asmecher commented on #2294
GET is fine with me -- IIRC we did this with OJS 2.x. Do you mind submitting a PR? Or I'd be happy to do it too :)

[2017-02-17 17:51] asmecher opened #2300 "Form method="GET" (default) does not work with `path_info_disabled` URLs."
With `path_info_disabled = On`, generated URLs will include parameters e.g.:

    http://.../index.php?journal=a&page=b&op=c

When inserting these URLs into form actions...

    <form action="http://.../index.php?journal=a&page=b&op=c" method="GET">

...then form (with `method="GET"` or no method specified) will munge the supplied URL parameters, effectively stripping them off.

As a result, when

[2017-02-17 17:52] asmecher commented on #2300
Suggested work-around: use `method="POST"` for search forms. This change will be needed in...

- plugins/blocks/navigation/block.tpl
- templates/search/search.tpl

[2017-02-17 17:53] asmecher commented on #2294
Beware of https://github.com/pkp/pkp-lib/issues/2300 in fixing this!

[2017-02-17 18:02] ajnyga commented on #2294
Ok, so #2300 prevents from switching to GET? Or?

[2017-02-17 18:21] ajnyga commented on #2114
Just to add that we could also fix only the original issue by doing a second setName here  https://github.com/pkp/pkp-lib/blob/master/classes/submission/SubmissionFileDAODelegate.inc.php#L99 using the value from `getUserVar('formLocale')`.

[2017-02-17 23:31] crism commented on #2060
As of today, OJS 3.0.0 still reports 2.4.8-1 as the latest available version.

[2017-02-18 02:44] asmecher commented on #2060
Hi @crism -- I may leave 2.4.x as current until we complete 3.1. OJS 3.x is stable, but doesn't yet support subscriptions, which might catch some users by surprise.

[2017-02-18 08:50] Ph-We commented on #2299
See here: https://github.com/pkp/pkp-lib/issues/1828

[2017-02-19 09:40] TeXnicker commented on #1919
Hi guys!

I'm joining to majority position on errors from JustBoil.Me plugin. Version OJS 3.0.2 still reproduces this error. I used to try out @murilodbva pathway and still get cycled error progress 😡.

May be OJS devs should drop this plugin? AFAIK it's development stopped in 2013. OJS has now been re-written. And this plugin works awfully. I have to make sidebar buttons in HTML instead of SVG ic

[2017-02-19 21:29] #2285 closed

[2017-02-19 21:47] asmecher commented on #2285
Thanks, @Looted!

[2017-02-20 00:35] asmecher commented on #1919
Agreed, @TeXnicker, this plugin has not served us well and I'd rather we removed it in favour of something better aligned with the rest of the codebase (e.g. not requiring CodeIgniter and an awkward shim to integrate it with PKP's software stack).

[2017-02-20 09:51] bozana commented on #2295
PRs:
ojs-stable-3_0_2: https://github.com/pkp/ojs/pull/1273

[2017-02-20 10:18] bozana commented on #2072
I think that for such kind or ordering we could consider the `date_published` of the first article version -- if I see it correctly those are functions like "get all published articles of a journal" -- I think that for these cases the date when the article is first published is 'asked'/'important' and not of the later article versions i.e. changes. Thus I would try to consider that in the SQL **if

[2017-02-20 10:32] NateWr commented on #2072
The frontend display of versions looks good. What about adding the version name to the date? I'm thinking about cases where someone might release two versions on the same day. It would be good to have:

Version 3 &mdash; 2016-02-03
Version 2 &mdash; 2016-02-03
Version 1 &mdash; 2016-01-02

[2017-02-20 10:50] Ph-We commented on #1709
Hi @bozana, I really need your help. We still get numerous errors of this sort:
`Rename section "Article and Book Reviews" to  "Article and Book Reviews 140027367_en"  [ 2014 => 4 ]`

Could you please tell, what might be wrong with such section names? And how we could handle this.
This renaming results in dubbing the sections:

![image](https://cloud.githubusercontent.com/assets/22288161/23121975/

[2017-02-20 10:59] lilients commented on #2072
Thanks for your brainpower!
@bozana: brilliant idea! Seams to work as well. 💃
@NateWr: also a very good idea. :) I will add the version number to the date.

[2017-02-20 11:02] bozana commented on #1709
@Ph-We, where do you see those error messages -- I cannot find them in the code... :-O
This happens when you import articles, right? How does your XML looks like i.e. the section information there? Are they totally the same as the sections already in the system -- for all languages?

[2017-02-20 13:02] #2295 closed

[2017-02-20 14:38] Ph-We commented on #1709
Hi @bozana, I'm really sorry for bothering you. The problem appeared to be on our side, and that was a part of our own log :o(
I'm deleting the previous message, sorry once more!

[2017-02-20 16:23] lilients commented on #2072
Done that https://github.com/lilients/ojs/commit/42b5fcea62969f9c7521a00407d0939d367fbcab and https://github.com/lilients/pkp-lib/commit/ee16e4ef07fb0294ddb5722849584a465dddc858 ... next topic to be discussed: URL structure.

We already discussed the principles via mail:

- URLs shouldn't be ambiguous (i.e. we shouldn't have to guess at whether a URL part is a revision number, custom file ID, etc)

[2017-02-20 16:29] bozana commented on #1709
@Ph-We, no problem!

[2017-02-20 16:36] NateWr commented on #2072
I like having the `version` in the URL. Is the current version always available at `/article/version/articleId]/[current-version-number]` as well? I think that would be good, though we should add a `canonical` tag to that page that points to the `article/view/[articleId]` location.

The benefit of having that is that, if I want, I can generate a link to the current version of an article that I can

[2017-02-20 16:43] bozana commented on #2072
I would agree with Nate... Maybe it would be good to always have the version in the URL: if a user reads an article and then cites it with the URL `article/view/[articleId]` the URL could be wrong a few month later, when the new article version appears under that URL i.e. the URL of that article changes. Also for DOIs/URNs -- the URL should not change with the version change, I think...

[2017-02-20 17:01] asmecher commented on #2296
@marcbria, you'll probably see several warnings like this -- they're cosmetic, and we'll gradually resolve them over the next few releases. I've fixed this one. I'd recommend directing error messages to a log file rather than the browser, as warnings in AJAX subrequests will cause the Javascript to fail in parsing responses.

[2017-02-20 17:07] asmecher commented on #2294
You can switch to GET, but you'll need to address the way the form action URL is generated. When `disable_path_info` is on, it'll attempt to use URL parameters, which get clobbered by the form parameters.

[2017-02-20 22:05] ajnyga commented on #2114
The above suggestion https://github.com/pkp/pkp-lib/issues/2114#issuecomment-280702916 as a pull request: https://github.com/pkp/pkp-lib/pull/2303

The only problem here is that the tinymce field is required only for the primary locale while the other fields are required for two locales.

Also, I do not know whether the "overrideLocale" approach is the one you want to use here @asmecher ?

[2017-02-20 23:32] asmecher commented on #2299
@Vitaliy-1, could you file this with the tag-it project over at https://github.com/aehlke/tag-it/issues? I don't think we have any control over that widget's key bindings.

[2017-02-20 23:32] #2299 closed

[2017-02-21 01:48] #2300 closed

[2017-02-21 01:49] asmecher commented on #2294
@ajnyga, I've just fixed https://github.com/pkp/pkp-lib/issues/2300 -- that change will need to be ported to the master branch in order to prevent that problem for recurring here when we move to GETs. Not the tidiest solution but plenty effective for the two cases we need it for.

[2017-02-21 09:05] lilients commented on #2072
Yes, the current version is available at the "default" URL and also at the URL with the version number.
I also think that the DOIs/URNs should be registered with the URL with the version number, so they do not need to be changed later. The "default" URL is the same as before in OJS (I think this is important for backward compatibility) and will always lead to the most recent version - this is the

[2017-02-21 11:58] NateWr commented on #2072
No, I think it's good the way you've got it @lilients. If someone really wants to surface the version URL before there are multiple versions, they can do that themselves.

:+1:

[2017-02-21 12:03] NateWr commented on #694
@asmecher Are you still unhappy about the affiliate field being monolingual during registration? I'm still in favor of keeping it that way, and ready to close this unless you still want to work at making it multi-lingual.

[2017-02-21 12:05] NateWr commented on #787
Punting.

[2017-02-21 12:15] NateWr commented on #1428
It's not clear to me what would be next steps for this issue. If there are additional improvements we want to make at this stage, let's put them in a new issue.

cc @stranack, did you have any specific requests for how to change the file display?

[2017-02-21 12:15] #1428 closed

[2017-02-21 12:19] NateWr commented on #1445
PR:
https://github.com/pkp/omp/pull/392

I went out on a limb here and just merged the PR. :ship: :cowboy_hat_face:

[2017-02-21 12:19] #1445 closed

[2017-02-21 12:30] NateWr commented on #1389
PR:
https://github.com/pkp/pkp-lib/pull/2305

Tests only:
https://github.com/pkp/omp/pull/393

[2017-02-21 12:42] NateWr commented on #381
PR:
https://github.com/pkp/omp/pull/394

Adds and styles ORCID id on the `monograph_full.tpl` template.

[2017-02-21 13:32] NateWr commented on #1740
@CFanselow I'm unable to reproduce this myself. I tested using a Win7 VM in IE9/10/11 and in the latest version of Chrome.

I see that there was an issue that Alec fixed on Dec 16, after you reported having problems:

https://github.com/pkp/pkp-lib/commit/9ab140b7342b436f1031b23beeeffae4eb3ea4b0#commitcomment-20220605

Maybe that fixed it? If you get a chance, would you be able to test again and s

[2017-02-21 15:03] NateWr commented on #1389
Tests passed so I went ahead and merged this one. It was just a tiny little change.

[2017-02-21 15:03] #1389 closed

[2017-02-21 15:04] NateWr commented on #381
Feeling merge-y today. Tests passed on this one. Also a tiny change, so just merged.

[2017-02-21 15:04] #381 closed

[2017-02-21 16:04] asmecher commented on #694
Let's go ahead with it as is unless we get vocal feedback.

[2017-02-21 16:04] #694 closed

[2017-02-21 17:50] ctgraham commented on #1923
@asmecher, can you comment on the direction of these pulls:
https://github.com/pkp/pkp-lib/issues/2283
https://github.com/pkp/ojs/issues/1251
?

[2017-02-21 18:12] asmecher commented on #1923
Rather than adding the `$request` object to so many calls, I was thinking it would be better to add `$request` as a parameter to the constructor of many of the component (grid) related classes. Since components are only used in responding to requests, I can't think of a case where that's not logical, and it would massively reduce the amount of parameter-chucking.

[2017-02-21 21:06] ctgraham commented on #1923
Ok.  There are a ton of empty constructors:
[code]
If I refactor this, I'm inclined to delete them rather than change every one to:
[code]

Let inheritance do its job, and only override the constructor when needed, as:
[code]

Thoughts?

[2017-02-22 03:05] asmecher opened #2306 "Permit searching by submission ID"
See http://forum.pkp.sfu.ca/t/ojs3-search-submissions-by-id/28860

[2017-02-22 13:05] Ph-We commented on #2299
Hi @asmecher,
Unfortunately, this issue was reported several times there 4 years ago, and still is not fixed :(
https://github.com/aehlke/tag-it/issues/262
https://github.com/aehlke/tag-it/issues/251

[2017-02-22 13:23] mtub commented on #2072
This looks so good now… @lilients, this is amazing stuff. And look at how well documented this discussion is, the whiteboard drawings are my favourite. Given that this is a huge step forward for OJS and that it brings a few changes to the Look&Feel, I really appreciate how openly the way it has developed is documented here. Congratulations!

[2017-02-22 13:52] mtub commented on #2072
Minor suggestion, @lilients: In journal settings, maybe be more clear about what the versioning option does. Rephrase to "Enable optional article and galley versioning for this journal."

And maybe add another .description string with more information on what this option does. @NateWr might have UI ideas ;)

[2017-02-22 16:03] Vitaliy-1 commented on #1828
Hi @asmecher ,
As for cyrillic letter `б`: https://github.com/pkp/pkp-lib/issues/2299
`Where widget`s code is situated inside ojs installation directory? I can take a look at it.

[2017-02-22 20:19] ctgraham commented on #1923
@asmecher, let me know what you think of these commits:
https://github.com/ulsdevteam/pkp-lib/commit/64e090d6fbe99af5b8861ccabb19827d7b19fb6e
https://github.com/ulsdevteam/ojs/commit/237da0179ef51280878fa079fa7f72d02ebe04f1

This drafts adding the `PKPRequest` to the constructor of `GridCellProvider` and subclasses.  Identifying how deep to go into [`GridHandler`](https://github.com/ulsdevteam/pkp

[2017-02-22 20:49] asmecher commented on #2299
Yes, switching to another widget might be the best approach. I'd suggest working on that over on #1828 -- and tagging @NateWr, as he might have a suggestion or two on what to use.

[2017-02-22 20:50] asmecher commented on #1828
@Vitaliy-1, it's in `lib/pkp/js/lib/jquery/plugins/jquery.tag-it.js`. Note that it might be best to switch to another widget rather than modifying this one, if another suitable candidate is available without the same flaw.

[2017-02-22 20:59] Ph-We commented on #1828
Hi @asmecher, Some people propose select2 instead of tag-it.
The "б" letter is quite frequent in many Slavic languages, so we would be quite happy if some workaround might be found :)

[2017-02-22 21:15] asmecher commented on #2297
I'll continue the forum conversation about the "ideal" solution in a sec, but one expedient option might be to have this specific case use a different (more useful) locale key. That way you wouldn't need to modify the general-purpose one in a way that would be misleading for roles that can't be self-registered.

[2017-02-22 21:54] ajnyga commented on #2297
Thanks, I will check `setAdvice`. I am using the above pr in our local installation and it seems to have stopped the quite frequent questions concerning the issue above. However, the hard coded url would have to change in any case like you noticed.

[2017-02-22 22:50] asmecher commented on #2192
Looks good, please go ahead!

[2017-02-22 22:51] asmecher commented on #2258
Do you know if the new URLs are their preferred ones? I suspect they are. If that's the case, better to use them, I think.

[2017-02-22 22:52] asmecher commented on #953
Yes, I think so!

[2017-02-22 22:52] #953 closed

[2017-02-22 23:03] asmecher commented on #2288
@Ph-We, I'm afraid I can't replicate this behavior -- both citation formats appear to work OK for me. Can you investigate further?

[2017-02-22 23:33] Ph-We commented on #2288
@asmecher, Yes, after some further investigation I've found that the issue is stably replicated only with Cyrillic entries. This might probably something akin to this:
http://forum.pkp.sfu.ca/t/problem-with-first-name-displaying-in-citation/28641/7

[2017-02-22 23:34] asmecher commented on #2267
Issues do have publication dates, but they're stamped when the issue is published in the workflow, and I suspect they won't reliably reflect the issue's _actual_ publication date for many users. See e.g. http://forum.pkp.sfu.ca/t/sorting-issues-by-year-ojs-3-0-2-0/28879.

[2017-02-23 00:02] asmecher commented on #2281
As with other citation-related tasks, it would be nice if we were able to tackle https://github.com/pkp/pkp-lib/issues/723 before refining these further.

[2017-02-23 07:26] Ph-We commented on #1828
As I've suspected, other languages are affected too: https://github.com/aehlke/tag-it/issues/349

[2017-02-23 10:19] NateWr commented on #1828
I've heard Select2 mentioned a lot. I know that neither it nor any other of these multi-select components are accessible. But I don't think that's a problem we can realistically solve ourselves.

[2017-02-23 10:35] mittinatten opened #2309 "Autocomplete for reviewer interests is case sensitive"
When I start typing a reviewer interest in OJS 3.0.2 I only get suggestions that match the case I'm using. If I type in the whole interest with the wrong case I still get the relevant hits, but no autocomplete suggestions.

[2017-02-23 15:17] jmacgreg commented on #459
I think this can be closed - @bozana, @AhemNason?

[2017-02-23 15:18] jmacgreg commented on #485
@AhemNason, @bricas, is this still an issue w/OJS 2.4.8?

[2017-02-23 15:19] jmacgreg commented on #500
I think this has since been resolved.

[2017-02-23 15:19] #500 closed

[2017-02-23 15:19] jmacgreg commented on #501
Resolved or no longer relevant as of 2.4.8.

[2017-02-23 15:19] #501 closed

[2017-02-23 15:20] jmacgreg commented on #502
Closing - documentation aplenty these days.

[2017-02-23 15:20] #502 closed

[2017-02-23 15:20] jmacgreg commented on #615
These have long since been resolved AFAIK.

[2017-02-23 15:20] #615 closed

[2017-02-23 15:21] #728 closed

[2017-02-23 15:26] marcbria commented on #2296
This first warining was the "tip of the iceberg". After this first page, you get a 500 error.

My testing server stack is:
- Ubuntu 16.04.1 (LTS) up to date.
- Apache 2.4.18 (mod_rewrite)
- PHP 7.0.13
- MySQL 14.14
- mod_ssl/2.4.18 (with let's encrypt)

1) Tarball downloaded from the OJS Download page (http://pkp.sfu.ca/ojs/download/ojs-3.0.2.tar.gz)
2) $ chmod www-data:www-data * -Rf
3) $ chown 7

[2017-02-23 16:25] asmecher opened #2310 "Move block plugins to unified sidebar upon upgrade"
See http://forum.pkp.sfu.ca/t/ojs-3-0-choose-language-search-at-the-index-page/20864/26

[2017-02-23 20:14] Ph-We commented on #2288
Here is an example: https://cmd-journal.hse.ru/article/view/2900

[2017-02-23 20:49] bozana commented on #459
Yes, I would say :-)

[2017-02-24 12:43] marcbria commented on #2296
Worked like a charm :-)

Now you pointed, this line become pretty obvious:

BTW, is it possible to catch this error and suggest mysqli instead of the default driver?

As far as I remember I'm installing this on an standard ubuntu, so I suspect some people will fall in the same hole.

Thanks!!

[2017-02-24 16:32] asmecher commented on #2296
@marcbria, glad to hear it's working. What I'd like to do is resolve all those strict-mode warnings so they're no longer an issue -- that way you'd get a single message that's to-the-point.

[2017-02-24 16:32] #2296 closed

[2017-02-24 17:18] jmacgreg commented on #459
closing!

[2017-02-24 17:18] #459 closed

[2017-02-24 21:31] asmecher commented on #1595
Last 4 already addressed in other issues.

[2017-02-24 21:31] #1595 closed

[2017-02-24 21:41] asmecher commented on #1709
@bozana, is there anything more on this one you'd like to include in OMP 3.1?

[2017-02-24 22:01] asmecher commented on #2288
@Ph-We, can you check your browser's console for a Javascript error?

[2017-02-24 22:13] #2309 closed

[2017-02-24 22:13] asmecher commented on #2309
Either patch should work -- they're identical, just posted to different branches of `lib/pkp`. Thanks!

[2017-02-24 23:44] asmecher commented on #1231
@NateWr, it looks like the two items that remain unchecked in the description have already been addressed -- is that correct?

[2017-02-24 23:52] asmecher commented on #2288
Using Firebug, I see that the response is blank; did anything show up in the PHP error log?

[2017-02-25 14:05] bozana commented on #1709
Yes, everything solved, I'll merge the last PR in a moment... Thanks!!!

[2017-02-25 15:55] #2192 closed

[2017-02-25 18:30] bozana commented on #1692
Hmmm... I am not sure if this can/should be considered for OMP 3.1. We haven't asked Crossref about that explicitly yet, I think. I found this page: https://support.crossref.org/hc/en-us/articles/213125186-Books-and-book-chapters. It says that there could be DOIs for chapters, but only if the book has a DOI too. It seems to be something similar to article and galleys? There is still no Crossref ex

[2017-02-25 20:06] bozana commented on #1709
everything merged, thus closing...

[2017-02-25 20:06] #1709 closed

[2017-02-27 15:44] asmecher opened #2312 "Review/fix edit links"
See http://forum.pkp.sfu.ca/t/wrong-edit-link-for-author-guidelines-ojs-3-0-2/28971

These edit links were (and probably still are) a good idea, but should probably be checked against our overall UI/UX plans, and applied more broadly so they're less of an aberration.

[2017-02-27 15:49] ctgraham commented on #1923
Bump: @asmecher

[2017-02-27 16:24] bozana commented on #2173
@asmecher, could you take a look at this PR that solves number 1) in this issue: pkp/ojs#1282 ?

[2017-02-27 16:38] asmecher opened #2313 "Prevent section editor auto-assignments outside section assignments"
See http://forum.pkp.sfu.ca/t/section-editor-is-assigned-automatically-in-ojs-3-0-2/28976/4 for details.

[2017-02-27 16:43] asmecher commented on #2313
PRs:

- https://github.com/pkp/ojs/pull/1283
- https://github.com/pkp/pkp-lib/pull/2314

[2017-02-27 16:43] asmecher commented on #2313
@bozana, could you take a look at these once the tests are finished? (No OMP PR -- just OJS and pkp-lib.)

[2017-02-27 17:56] bozana commented on #2313
@asmecher. looks good, please go ahead... :-)

[2017-02-27 17:59] bozana commented on #2313
Is this issue the same one: https://github.com/pkp/pkp-lib/issues/1962 ?

[2017-02-27 18:03] jmacgreg commented on #1692
Hi Bozana! Unless we have heard of many many requests for this in OMP (I haven't), or have someone volunteer to fund the work, I'd prioritize the OJS stuff first and push this to OMP 3.2.

[2017-02-27 19:23] asmecher commented on #1962
@ajnyga, I was just working on #2313 and @bozana noted that this issue relates to the same problem. Have a look at the PRs over there, if you like. I'll close this in favour of that entry.

[2017-02-27 19:23] #1962 closed

[2017-02-27 19:23] asmecher commented on #2313
I think so -- thanks, @bozana!

[2017-02-27 19:24] #2313 closed

[2017-02-27 19:39] ajnyga commented on #1962
Great thanks!

[2017-02-27 20:57] asmecher commented on #2064
Sorry for the delay on this, @defstat --

Generally the `common.url` locale key should be sufficient. (This reads "URL" in English.) If we have a case where that's ambiguous, e.g. if there are a couple of URLs, then we could create something more specific -- but I think "URL" is enough for the moment.

I think it makes sense for both to be the same, e.g. "URL" in both cases. Unless I misunderstand

[2017-02-27 20:58] asmecher commented on #2064
Also, where possible, I think it makes sense to replace the variables with their appropriate values *before* the email text is even displayed. That way the user can work with the text naturally and not see the variable replacements at all. However, that's not always possible or desirable, e.g. because the user needs to work with the email text on the same dialog where the user is chosen, so the na

[2017-02-27 21:12] asmecher commented on #2274
@ajnyga, are you using the acron plugin? If so, that might be worth investigating. That plugin piggy-backs onto normal user requests and performs scheduled tasks at the end of the request; since it's coming in on a user request, probably within a journal context, it's possible that the user's request is somehow getting used by the scheduled task e.g. to determine what journal to work with.

[2017-02-27 21:32] asmecher opened #2315 "Current issue redirect should use best ID"
The redirect from "current" to the current issue uses the numeric issue ID, when it should support custom identifiers (when specified).

[2017-02-27 21:42] #2315 closed

[2017-02-27 21:45] asmecher commented on #1923
I think breaking backwards compatibility is justified in this case, nasty as it is. An attempt to make this accept either behavior gracefully would be a cure worse than the disease.

Your take on `@copydoc` is fine.

Please nuke the unnecessary constructors, thanks -- they're worse than useless!

[2017-02-27 23:29] #1631 closed

[2017-02-28 09:41] paflov commented on #2265
Hi,
this commit breakes
`php tools/upgrade.php upgrade`
for me, since the script is missing the class roleDAO:

Best

[2017-02-28 10:56] bozana commented on #2114
Hmmm... I have a few comments/questions:
1)
Are we sure we want the submission locale to be required and thus automatically filled for file names? -- The other possibility would be to just require the UI locale, without automatically filling anything else. Those file names are just for the work within the system, in the workflow -- not provided publicly, right?
This function is used everywhere in

[2017-02-28 10:58] ajnyga commented on #2274
Hi @asmecher

Yes the situation described above occured while using Acron. However, even after multiple attempts I have not been able to reproduce this. I am currently testing this by logging the reminders to the error log instead of actually sending them. So far everything seems to work ok.

As I mention above, the only logical explanation is that this https://github.com/pkp/pkp-lib/blob/ojs-stab

[2017-02-28 11:45] ajnyga commented on #2114
Thanks @bozana

Regarding points 2 and 3:
That is true that in my pr the primary locale is required as well, or actually the current OJS3 code requires the primary locale to be filled always (basically in all forms).

For me it seems logical that only one locale is required and it is always the submission locale! It was actually hard to find a working solution with two required locales so this def

[2017-02-28 13:39] ajnyga commented on #2274
Ok, so yesterday my debugging script has caught a similar situation.

I will try to find out now what exactly happened, but the context from the submission and the context from context=>getId do not match!

[2017-02-28 13:49] ajnyga commented on #2274
Basically starting from https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_2/classes/task/ReviewReminder.inc.php#L141 I have this:

[code]

And yesterday in one case (there were several cases with no problems) that returned:

[Mon Feb 27 16:52:47 2017] [error] [client ] START submission:
[Mon Feb 27 16:52:47 2017] [error] [client ] 60075
[Mon Feb 27 16:52:47 2017] [error] [client ] Reminder: conte

[2017-02-28 14:27] ajnyga opened #2316 "[OJS] uBlock Origin browser plugin causing problems in OJS 3.0.2"
Hi,

One of our journal editors noticed that when he had the uBlock Origin browser plugin enabled some of the features in OJS 3.0.2. stopped working.

For example when trying to view the editorial history page for a submission the content of the modal window kept on loading. I was first convinced that some error was causing this, but it turned out that simply disabling the browser plugin the edito

[2017-02-28 14:43] ajnyga commented on #2274
A few details to this case.
- The submission 60075 is from journal 82.
- Journal 82 has both `numDaysBeforeSubmitReminder` and `numDaysBeforeInviteReminder` set to `0`
- Journal 71 has both `numDaysBeforeSubmitReminder` and `numDaysBeforeInviteReminder` set to `1`

- Submission 60075 is visible also in earlier debug logs but before yesterday `if ($submitReminderDays>=1 && $reviewAssignment->getDat

[2017-02-28 15:39] ajnyga commented on #2274
Ok, so I think that I know what is happening here, I will post the solution in a while.

[2017-02-28 15:52] bozana commented on #2114
Hi @ajnyga

I was thinking that the file names are slightly different than submission metadata: The submission metadata belong to the published submission and they will be exported and used elsewhere. Thus they have to be coherent and have all metadata in at least the submission language. The files are however used differently, I believe, and their name is only a metadata used internally between t

[2017-02-28 15:58] bozana commented on #2114
Hmmm... Now I see, that the solution not to consider the journal primary locale for file names leads for file names being displayed like "1-1-1-PB.pdf" if the name is missing in the current UI locale...

[2017-02-28 15:58] ajnyga commented on #2274
$reviewAssignmentDao->getIncompleteReviewAssignments() is returning these review assignment id's in this order:
[code]
With 3915 the loop ends here https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_2/classes/task/ReviewReminder.inc.php#L152
With 3903 the loop ends here https://github.com/pkp/pkp-lib/blob/ojs-stable-3_0_2/classes/task/ReviewReminder.inc.php#L143
With 3842 the loop ends here https:

[2017-02-28 16:25] ajnyga commented on #2274
There are probably several ways of dealing with this, but this is one working solution: https://github.com/pkp/pkp-lib/pull/2317

@asmecher @bozana what do you think? Is it a bad solution to reload the submission object for every reviewassignment?

[2017-02-28 16:28] bozana commented on #2114
OK, we could probably solve the file name display with the implementation of the getLocalizedData function for SubmissionFile.inc.php (e.g. to display the first found name)...
So the question is:
-- should the file names be required in the submission locale or UI locale, and
-- should the file name be always provided/copied for the journal primary locale (this would make the display slightly easie

[2017-02-28 16:38] ajnyga commented on #2114
Regarding https://github.com/pkp/pkp-lib/issues/2114#issuecomment-283077752
I see your point and that is exactly why I originally suggested that the file name should not be localised at all. I mean different language versions of the same file name could even confuse people.

So maybe:
- do not localise the file name (and reconsider the way it is created: no original file name or file type visible)

[2017-02-28 17:37] ajnyga commented on #2274
On second thought, this could be better than the solution in the pr:

https://gist.github.com/ajnyga/24964fb0a595a16917bd0e6bee66e42d

[2017-02-28 17:41] bozana commented on #2114
Yes, maybe...
I would like to find the solution to solve the problem here first, with the concept as it is now, then we could maybe consider making the file names not localized, because this means even more changes...
I'll try to test, how it would be if we would only use submission locale, without the copy for the journal primary locale...

[2017-02-28 17:55] ajnyga commented on #2114
As I mentioned above, regarding the problem with the file name  I am happy with any solution that prevents the problem I originally described from happening.

Regarding the use of submission locale as the only required locale for the submission metadata, this is definitely a good idea as well, but somewhat separate from the actual issue here.

[2017-02-28 17:56] asmecher commented on #2265
@paflov, which application are you using? Have you also pulled the master branch for the application repository?

[2017-02-28 18:17] bozana commented on #2114
Well, I think now I encountered another problem: if I want a key to be translated in other locale than UI, it does not work -- it seems that registry does not contain other locales, only the current UI locale... :-P

[2017-02-28 18:32] bozana commented on #2114
:-P Yes, I forgot `AppLocale::requireComponents(LOCALE_COMPONENT_PKP_COMMON, $submissionLocale);`

[2017-02-28 18:35] bozana commented on #2114
OK, I tested it, and it should work that we require only submission locale, and not also journal primary locale. Also, when getLocalizedData is used for submission files, the submission locale is first considered, if the UI locale is not there.
In the function _generateName, the keys are translated into the submission locale, to have the proposed file name in the submission locale.
Does all this m

[2017-02-28 19:04] bozana commented on #2114
Here the current changes: https://github.com/bozana/pkp-lib/commit/a64cfad959d5bdc5ff988c2ac6029c38820b9087

[2017-02-28 19:09] asmecher commented on #1815
Pull requests:

- https://github.com/pkp/pkp-lib/pull/2318
- https://github.com/pkp/omp/pull/395

@bozana, could you have a look at this? The pkp-lib change adds the ability of hook registrants to specify priority in calling hooks -- this was necessary because we need to ensure that e.g. the DC and GS metadata tag plugins have a chance to inject the metadata before the PDF viewer plugin displays t

[2017-02-28 19:19] asmecher commented on #1815
(This is a pretty big change to merge right before the release, so one option would be to release before merging and then merge it after. Still considering.)

[2017-02-28 19:43] ajnyga commented on #2114
Thank your, I will take a better look tomorrow, but was just wondering whether the old submissions are somehow affected by these changes. I mean whether there will be problems with all the submissions have used the old logic for the locales?

[2017-02-28 20:14] jmacgreg opened #2319 "PHP catchable error on issue import (OJS 3)"
I just tried to import some content that was exported out of one OJS instance into another OJS instance, but when I run

`php tools/importExport.php NativeImportExportPlugin import issues-1_2.xml journal username`

I get the following errors almost immediately:

`[28-Feb-2017 21:05:50 Europe/Berlin] PHP Strict Standards:  Declaration of PublishedArticleDAO::getBySetting() should be compatible with

[2017-02-28 20:17] ajnyga commented on #2316
The string that uBlock Origin is picking up is `/event-log/`

Basically the call to `http://domain.fi/journal/$$$call$$$/grid/event-log/submission-event-log-grid/fetch-grid?submissionId=60532&_=1488312791239` is blocked because of that string.

I can of course make an exception for a domain in the adblocker, but probably most of the users will not realize what the problem is.

[2017-02-28 20:43] bozana commented on #1815
@asmecher, I went through everything roughly. If we would have some more time I could also test it...