[2016-02-15 22:44] #1138 closed

[2016-02-15 22:46] asmecher commented on #1138
@NateWr, I created this issue for tracking purposes and prefixed all the PR titles with `pkp/pkp-lib#1138`. Otherwise the chaos of pull requests -- 6 in this case -- gets really hard to track. This way there's one definitive place to look for the bug's status.

[2016-02-15 22:48] crism opened #1139 "[OMP] Users offered inaccessible URLs"
From both #1122 and #1127, both against `HEAD`.

#1122: `SubmissionsListGridCellProvider::getUrlByUserRoles()` produces a URL which the user does not have access to, if the submission has moved on. The user should instead get the most recent stage to which they have permission.

#1127: When a review is begun, the author is notified that their submission has changed status. However, the notificatio

[2016-02-15 23:03] asmecher commented on #1122
Thanks, @crism, that sounds great -- is there a PR attached? I don't see a link here.

[2016-02-15 23:10] #1122 closed

[2016-02-15 23:50] asmecher commented on #1136
Definitely a good catch -- thanks, @selwyntcy! Will take a look, unless you're tinkering with it. We added the author name to the title post-1.1.1 and obviously overlooked this case. A general review is probably a good idea to make sure other areas aren't affected e.g. notifications.

[2016-02-16 02:35] selwyntcy commented on #1136
@asmecher Please proceed. I'm still new to the code, learning along :)

[2016-02-16 09:44] NateWr commented on #1138
:+1:

[2016-02-16 15:06] ajrbyers opened #1142 "[OJS] 2.4.3 Patch command picks wrong file"
When running

[code]
The patch tool picks up the wrong patch version for 2.4.3, it wants to download ojs-2.4.2_to_2.4.8 when it should get ojs-2.4.3_to_2.4.8.

[code]

[2016-02-16 16:40] asmecher commented on #1142
There's a typo in the version descriptor; applying the patch above will correct it. Thanks for reporting!

[2016-02-16 16:40] #1142 closed

[2016-02-16 20:16] crism opened #1143 "[OMP] Initial manuscript submission form is intimidating"
From #1127, against `HEAD`:

The initial submission form is intimidating. I believe that the form is the same as the one used for catalog information; it should be split apart, so the submission form can be separately configured per press preference.

[2016-02-16 20:19] crism opened #1144 "[OMP] review file selection is unclear"
From #1127, against `HEAD`:

It’s not obvious that review files have to be selected before the review process starts. A naïve user assumes that the submission files will be reviewed.

[2016-02-16 20:19] asmecher opened #1145 "Native import/export DTD tweaks"
Several tweaks may be necessary to correct minor discrepancies between the import/export DOM code and the DTD.

[2016-02-16 20:19] crism commented on #1144
I don’t have (yet) a proposed solution, however… will keep thinking about it.

[2016-02-16 20:20] crism opened #1146 "Reconsider language and flow around inviting new reviewers"
From #1127, against `HEAD`:

Assigning a reviewer is confusing; it’s not immediately obvious that the Search By Name searches among the listed reviewers, and that the “Create New Reviewer” and “Enroll Existing User” links should be used. (And even then, which is appropriate? Unless the user has memorized the list of users, it’s hard to know. A more linear or wizard-ish workflow would help.)

[2016-02-16 20:21] crism opened #1147 "[OMP] Enroll Existing User is confusing"
From #1127, against `HEAD`:

In the Enroll Existing User modal, it’s not obvious what the effect of the user group selection is, nor that the box populated with “Reviewer” is the place to type a name to search for.

[2016-02-16 20:23] crism opened #1148 "[OMP][OJS] only send one e-mail per user for event notification"
From #1127, against `HEAD`:

When a review is begun, the author is notified that their submission has changed status. However, the notification includes a link to the workflow (`.../index.php/workflow/access/4`), which the author does not have permission to see (“The current role does not have access to this operation”). (This separate issue is filed as #1139.)

A more useful notification typicall

[2016-02-16 20:33] asmecher commented on #1143
@NateWr and @stranack -- we talked about having the metadata form hidden by default, with a "More Fields" type control to show all the fields. Personally I think this will just decrease the amount of metadata provided, but perhaps that's a worthwhile trade-off. @stranack, I think this was raised in your UI/UX review; did it get filed elsewhere?

[2016-02-16 20:39] crism opened #1149 "[OMP] error when re-enrolling a user as a reviewer"
From #1127, against `HEAD` (but with more detail):

User 2 is a member of group 18 (external reviewers). User 2 participated in the first round of external reviews. In the second round, under “Locate a Reviewer,” User 2 is not listed. When “Enroll Existing User” is selected, User 2 can be found, but on attempting to add him as a reviewer, the notification dialog spins indefinitely, and an error me

[2016-02-16 20:48] crism opened #1150 "[OMP] author can’t indicate revisions are complete"
From #1127, against `HEAD`:

There does not seem to be a way for the author to indicate that revisions are complete. They can upload files… but how does the editor know they’re done?

[2016-02-16 20:50] crism opened #1151 "[OMP] editor should be able to acknowledge author revisions"
From #1127, against `HEAD`:

After an author submits revisions, in response to review, there’s no acknowledgment that the revisions have been received, until the editor actually accepts, declines, or sends the submission for additional review. There should be a way to acknowledge receipt and pending review.

[2016-02-16 20:51] crism opened #1152 "[OMP] author should not be able to replace reviewer files"
From #1127, against `HEAD`:

The author was given the opportunity to replace (or update) one of the reviewer’s files during their revision upload. That seems inappropriate.

[2016-02-16 20:52] crism opened #1153 "[OMP] can’t select revised submission for review"
From #1127, against `HEAD`:

In response to internal review, the author uploaded a revision of their initial manuscript (_i.e._, replaced a file with a new version); however, the editor was unable to select the internal review revision file for subsequent external review, nor a similar external review revision file for copyediting. The files appear in the database, but are not presented as an opti

[2016-02-16 20:54] crism opened #1154 "[OMP] revision acceptance message is unclear"
From #1127, against `HEAD`:

When the editor signs off on the submitted revisions, the message displayed is, “File Considered.” This is very unclear. A clearer message would be something like, “Revisions accepted.”

[2016-02-16 20:58] crism commented on #1150
This also applies to copy edits; how does the copyeditor signal completion?

[2016-02-16 21:00] crism opened #1155 "[OMP] half-entered production discussions look weird to other users"
From #1127, against `HEAD`:

When one user starts a Production Discussion, other users will see an odd, half-baked entry, until the first user finishes submitting it. It seems like the item should be invisible to other users until submission is complete. (The discussion is visible, with a name of just a dash and no other metadata. Presumably, a stub is made in the database; it should either be def

[2016-02-16 21:00] asmecher commented on #1150
The new "discussions" area is where communication about copyediting takes place. They would use that to compose a message to the editor.

[2016-02-16 21:08] crism opened #1156 "[OMP] process of listing an item in the catalog is confusing"
From #1127, against `HEAD`:

The process of actually listing an item in the catalog is confusing. The “Catalog Entry” link at the top is outside the workflow, visually, but each publication format needs to be added and approved within the Production tab. We’ve figured out the various things that need to be done, but the workflow is very nonlinear and never clear.

I don’t (yet) have a better sugge

[2016-02-16 21:11] crism opened #1157 "[OMP] catalog cover image edit interface is confusing"
From #1127, against `HEAD`:

In a catalog entry, an item without a cover image shows a “broken image” in the browser for its current cover. The system should be aware there is no image, and display something appropriate, rather than making users wonder. Also, multiple users attempt to click on the broken image in order to replace it, rather than using the file upload affordance beside it.

An entr

[2016-02-16 21:19] stranack commented on #1143
In addition to possibly hiding them, there is also a recommendation to
let JM's turn them off or on in the Setup -- see line 12:

Submission: Allow JM to remove any/all article metadata fields (as in OJS 2)

I'd suggest turning most of them OFF by default, except Keywords, and
let JM's enable any they need. I think this will be an important part of
making the submission process significantly more

[2016-02-16 21:20] crism opened #1158 "[OMP] PHP errors triggered by catalog editing"
From #1127, against `HEAD`:

At some point while editing a catalog entry, an error message was logged:
[code]
followed by a series of errors like:
[code]
Unsure yet what caused it.

[2016-02-16 21:20] #1127 closed

[2016-02-16 21:22] asmecher commented on #1127
Thanks, @crism -- FYI we did talk about this briefly on our Monday meeting and were planning to split this into smaller issues for easier management, so thanks for getting the jump on us. Once I've swallowed the inbox shock this will be a valuable contribution.

[2016-02-16 21:24] crism commented on #1127
LOL @ inbox shock, @asmecher. Thanks for the replies you’ve already sent; I hope to be able to help address some of these.

[2016-02-16 21:27] crism commented on #1150
Thanks, @asmecher. That was definitely not clear to our role-playing group; at a minimum, this needs to be addressed via the on-screen documentation. It does seem like a hand-off process to us, though.

[2016-02-16 21:27] asmecher commented on #1143
Making the fields optional was what we did in OJS 2.4.x, and we decided to remove that functionality for 3.0 ;) Not to say we can't revisit the decision...

[2016-02-16 21:31] stranack commented on #1143
I'd really like to revisit that decision. I wasn't involved so can't
know the reasons, but I don't think it is realistic to expect authors to
answer all of these non-required fields. But keeping them available to
turn ON allows the decision to rest with the JM/editor, not us.

On 2016-02-16 1:27 PM, Alec Smecher wrote:

[2016-02-17 08:05] nuest commented on #484
Thanks for the feedback and the pointer to the Vagrant configuration.

My plan is to build upon @arturluizbr 's Dockerfiles and the Vagrant configuration to build a docker image that downloads a numbered release (instead of the source) and uses a second docker container for the MySQL database and the files directory.

I am working on this on the side, but I'll report back as soon as I have somethi

[2016-02-17 11:43] NateWr commented on #1143
_tldr: Let's make an effort to educate on, and receive meaningful feedback about, the costs vs benefits of metadata collection during submission. Then let's commit to a best-practice default with flexible on-off toggles for customization._

I think this is a pretty important issue. From a user's perspective, the cost of all these metadata fields is very high. But I acknowledge that for editorial/a

[2016-02-17 14:58] NateWr opened #1159 "[OMP] Cover thumbnail size generates PHP Warning"
It looks like [the call to CatalogEntryCatalogMetadataForm::_buildSurrogateImage()](https://github.com/pkp/omp/blob/master/controllers/tab/catalogEntry/form/CatalogEntryCatalogMetadataForm.inc.php#L269) is missing [a couple of arguments](https://github.com/pkp/omp/blob/master/controllers/tab/catalogEntry/form/CatalogEntryCatalogMetadataForm.inc.php#L379).

I took a quick look and probably the argu

[2016-02-17 15:10] bozana commented on #1159
Thanks @NateWr! I think I introduced it :-P I'll take a look... :-)

[2016-02-17 15:14] bozana commented on #1159
@NateWr, could you maybe tell me what is the catalog image and what the thumbnail image i.e. I know the thumbnail image -- I changed that -- but I think I don't know what are those catalog images for :-\

[2016-02-17 15:15] bozana commented on #1159
If you don't know out of your head (or how do you say it :-D) no problem, I'll take a look...

[2016-02-17 15:22] NateWr commented on #1159
Yeah I don't know, sorry! But looking at the code it looks like there is a defined max size allowed that's used for the "catalog image".  But the thumbnail size is set by options under Settings > Website > Appearance.

My guess is that it's a larger image saved so that if the thumbnail size changes a new thumbnail can be generated from a higher-res copy.

[2016-02-17 15:30] bozana commented on #1159
Ah I think I know -- this was the image that was a little bit bigger than thumbnails, used on the book page -- they had always the same size. But I think we don't need that image any more, right? I think also on the book page we are displaying/using the thumbnail, right? There is then also the original cover image saved, so that new thumbnails can be calculated, if necessary...

[2016-02-17 15:32] NateWr commented on #1159
I don't know, probably best to check with @asmecher, but sounds logical to me.

[2016-02-17 15:39] bozana commented on #1159
OK, I'll wait for @asmecher :-)
But, concerning design: you are using the same image (size) for the catalog listing and the book page, right? I mean this is meant to be so?

[2016-02-17 15:42] NateWr commented on #1159
Yeah I am. Although I do think some people might want to change that in a theme.

[2016-02-17 15:50] bozana commented on #1159
OK, I think I could then either
-- implement the resizing option for those 'catalog' (the name feels a little bit wrong) images too, at the moment in the appearance settings, similar to the thumbnails, and we would then use them on the book page
or
-- remove them for now and eventually consider the change above later
:-)

[2016-02-17 15:53] NateWr commented on #1159
I don't think I'd ever want to add two sets of options for thumbnail sizes in core. Ideally, this kind of thing would eventually be handled by themes. See #787

I don't really have any use for the secondary size at the moment so I'd say whatever Alec thinks will work for now.

[2016-02-17 15:58] bozana commented on #1159
Yes, OK, then it would probably be best to remove it for now... lets see what Alec think... Thanks!

[2016-02-17 16:12] asmecher commented on #1159
I'm fine to remove it for now.

[2016-02-17 16:15] bozana commented on #1159
OK

[2016-02-17 17:13] asmecher commented on #1143
Thanks, @NateWr and @stranack. I agree that we have a problem that needs solving, but returning wholesale to the OJS 2.x approach won't solve it -- editors will either disable a bunch of fields and limit their indexing capabilities, or authors will continue to be overwhelmed and provide bad data. Some ideas:

- Put some effort into how the fields are presented. For example, hide most of them by de

[2016-02-17 17:54] crism commented on #1143
Splitting the forms between submission and elsewhere is key, I think. That allows publishers to configure them separately. In our case, we’d rather have our metadata librarians do it _correctly_, and not have the author’s bungled attempts at all, but we _do_ want to be able to add that information at the right time. Other publishers will want more information right from the start; configurability

[2016-02-17 18:15] asmecher commented on #562
Thanks, @bozana! I've merged the pkp-lib part. https://github.com/pkp/omp/pull/215 has a small typo that I've mentioned. Once that's fixed, please go ahead and merge. Then could you port it over to OJS master branch and test quickly?

[2016-02-17 23:55] asmecher commented on #562
Thanks, @bozana! I'm glad to see this one finished.

[2016-02-17 23:55] #562 closed

[2016-02-18 00:59] asmecher commented on #1136
Fixed -- this may need better optimization later, but it should work. Also prevents reviewers from searching by author name. Thanks for reporting, @selwyntcy!

[2016-02-18 00:59] #1136 closed

[2016-02-18 02:11] selwyntcy commented on #1136
Thanks, @asmecher!

[2016-02-18 10:39] hermannschwaerzlerUIBK opened #1161 "Sorting of announcements by date_posted"
Hi everybody,
this is about OJS 2.4.x. There is this rather oldish bug about allowing for sorting of announcements:
https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=4259
It is marked as fixed but the respective commit https://github.com/pkp/pkp-lib/commit/7d6ac60109271220f6808abf79f0e2ced49ba30e does only allow the **entering and changing** of the "Published" date (saved as "date_posted" to the DB).

T

[2016-02-18 15:38] nuest commented on #484
I've got OJS `2.x` running locally with a stack of three docker images. Feedback welcome!

https://github.com/nuest/docker-pkp-ojs (see `README.md` and files in https://github.com/nuest/docker-pkp-ojs/tree/master/2.x)

Some bumps still, started a discussion in the forum: http://forum.pkp.sfu.ca/t/creating-a-docker-image-to-easily-run-and-deploy-ojs-room-to-improve/8535

[2016-02-18 15:57] asmecher commented on #484
Thanks, @nuest! Tagging @jnugent on this update.

[2016-02-18 16:16] asmecher commented on #1161
It looks like you're right, @hermannschwaerzlerUIBK -- please try applying https://github.com/pkp/pkp-lib/commit/77a8e8e56226e100dc191b1f77f1a4f02a14ee96 in your lib/pkp subdirectory and let me know if that solves the issue.

[2016-02-18 20:18] asmecher commented on #1139
@crism, the attached patch should at least correct the problem of authors getting `workflow` URLs.

Do you have a set of reproduce steps for the other issue, where users can't access stages after the workflow has moved on?

[2016-02-18 20:20] stranack commented on #1143
In the interest of time (which we're running out of), could we go with
re-adding the ability to turn submission metadata fields on or off, and
revisit at a later point? From an author's perspective, this has been
identified as a significant UX hurdle, so I'd like to at least have a
temporary response for the production version.

Kevin

On 2016-02-17 9:54 AM, Chris Maden wrote:

[2016-02-18 20:32] crism commented on #1139
Interesting… I’ll test f17c3ee here, thanks.

As for reproduction… I’ll double-check, but I think a reviewer with no other role is locked out once the work is in production.

[2016-02-18 20:37] asmecher commented on #1139
Ah, I see that problem with reviewers. Looking now.

[2016-02-18 21:22] asmecher commented on #1139
OK, I think these have it covered. Closing for now -- but please test if you get the chance, @crism!

[2016-02-18 21:22] #1139 closed

[2016-02-18 21:30] crism commented on #1139
This looks pretty good to me. Nice work!

[2016-02-18 21:49] asmecher commented on #1143
If we can, let's avoid add setup options that are likely to change meaning later. How about...

1. Moving submission process metadata form elements into a spin-out "See More Metadata..." div, or
2. Adding setup options to selectively hide submission process metadata fields, or
3. Both

Note that I'm suggesting this only for the author's initial submission process, not the metadata modal available

[2016-02-18 22:06] stranack commented on #1143
I'd vote for 2, but will shut up about it now :)

We did also get feedback from an editor who was unhappy with the
overwhelming amount of metadata being presented in the workflow to her
("I'm not a librarian"). I think it is still a valid question as to how
absolutely necessary "Chronological or historical coverage",
"Geo-Spatial Coverage", and "Sample Coverage" are (it would be
fascinating to kno

[2016-02-19 08:53] hermannschwaerzlerUIBK commented on #1161
Hello Alec,
yes your patch does indeed solve the issue. Thanks a lot!
Greetings
Hermann

[2016-02-19 10:15] NateWr opened #1163 "[UI] Do not use <h1> on site title except on homepage"
This must of fallen off the back of a todo list somewhere months ago. :)

[2016-02-19 16:49] crism commented on #1149
The initial selection of candidates is in `PKPUserDAO::getFilteredReviewers()`. Scrutinizing the SQL query…

[2016-02-19 17:09] crism commented on #1149
[Aside: what is the point of `COALESCE(COUNT(...),0)`? `COUNT()` should always return an integer, never `NULL`.]

[2016-02-19 17:15] asmecher commented on #1149
Hmm, I can't spot any good reason to have `COUNT` wrapped in a `COALESCE`, and the git history points the finger at me. Suggest removing it.

[2016-02-19 17:19] crism commented on #1149
The problem seems to be:
[code]
… which is fine if there is only one round of reviews, but with multiple rounds, a reviewer may well participate again. I need to untangle this logic to put it back together…

[2016-02-19 17:20] crism commented on #1149
@asmecher: noted, thanks.

[2016-02-19 17:53] crism commented on #1149
I believe this fixes the initial selection. I’ll test it, then see if a fix for the second part is even needed.

[2016-02-19 17:58] crism commented on #1149
This does seem to work for selection. Assigning the round 1 reviewer to round 2 via the grid works. However, Enroll Existing User still causes the duplicate key error; adding a user to an already-relevant group should be fine to do.

[2016-02-19 18:21] crism commented on #1149
It does seem that `INSERT IGNORE` will do the trick. Testing, though I’m curious if there are security implications I’m not thinking of.

[2016-02-19 18:38] crism commented on #1158
The line in question is in `SubmissionKeywordDAO::getKeywords()`:
[code]
Presumably `$locales` is not being set correctly… tracing it down now.

[2016-02-19 18:45] asmecher commented on #1158
If this was on an old checkout, I may have already fixed it. Let me see if I can find the commit.

[2016-02-19 18:49] asmecher commented on #1158
Hmm, couldn't spot it, though I do recall fixing it.

[2016-02-19 18:58] crism commented on #1158
@asmecher, I haven’t seen the error in a little while, but I wasn’t sure what was causing it in the first place. Unfortunately, `getKeywords()` is a pretty popular method name, so it’s taking a while to figure out who called it.

[2016-02-19 19:06] crism commented on #1158
Possible calls:
 * `PKPSubmissionMetadataFormImplementation::initData()`
 * `ViewableFilePlugin::displaySubmissionFile()`

… and it looks like that’s it.

You did change the `ViewableFilePlugin` call in omp@b11ed902,  on 1 February, but `PKPSubmissionMetadataFormImplementation` hasn’t changed since 93ca8b57 in 2013.

[2016-02-19 19:39] asmecher commented on #1158
I couldn't spot anything that would cause the message in the current codebase, beyond something like an incompletely configured set of language settings. I'll keep an eye out for this, but I'd lean towards closing it unless you're able to reproduce the message with a fresh checkout.

[2016-02-19 19:42] asmecher commented on #1149
`INSERT IGNORE` would bump our MySQL requirements considerably; I haven't checked PostgreSQL. Have you looked at the ADODB `replace` function? That's what we've used elsewhere in OJS/OMP.

[2016-02-19 19:43] asmecher commented on #1161
Thanks for confirming!

[2016-02-19 19:43] #1161 closed

[2016-02-19 20:04] crism opened #1165 "[OJS] Article Component needs illustration"
When submitting to OJS, the article components are very heavily science-oriented; there is no option for an illustration or even a figure.

[2016-02-19 20:21] asmecher commented on #1165
The OJS default list is in https://github.com/pkp/ojs/blob/master/registry/genres.xml -- you might want to check out the defaults we have for OMP if you want to propose an addition that matches? https://github.com/pkp/omp/blob/master/registry/genres.xml

[2016-02-19 20:24] asmecher commented on #1143
@willinsky, if I could haul you in on Kevin's last point; I agree that the coverage fields are extremely specific and probably rarely used properly. Currently we have `DC.Coverage` (sample coverage), `DC.Coverage.spatial`, and `DC.Coverage.temporal`; would we be losing anything by just using `DC.Coverage`?

[2016-02-19 21:31] asmecher commented on #1118
Lots of warnings about function definitions not matching, but those are suppressable and will take some time to get through. Good enough while PHP7 is still nascent in the hosting world.

[2016-02-19 21:31] #1118 closed

[2016-02-19 22:23] beghelli commented on #1143
I like option 2 also. And thinking about it, why we don't hide everything that's not required for an initial submission process into "extra metatada" extras on demand controller? Along with that we can implement a quick listbuilder in the management so managers could list all the submission metadata required fileds. The ones that are not required will not even show up for the author at the first t

[2016-02-19 22:24] crism commented on #1165
Ah… multimedia, image, and style have been added since the 3.0α release, which we’re testing. I think the first two of those would suffice. `<emily_litella>`Never mind.`</emily_litella>`

[2016-02-19 22:24] #1165 closed

[2016-02-19 22:40] crism commented on #1149
With `replace()`, the error log says, “Invalid reviewer id.” Hm.

[2016-02-19 22:41] asmecher commented on #1121
@bozana and @selwyntcy, could you have a quick look at this PR? https://github.com/pkp/pkp-lib/pull/1166

I added a function (`MailTemplate::replaceParams`) to pre-assign variables to a message body before it's sent. This allows us to avoid ever presenting variable tags when it's not necessary, which is almost always the case. I added calls to this in the reviewer unassign and acknowledge (thank)

[2016-02-19 22:46] crism commented on #1149
Seems to be `ReviewerForm::execute()`. Not sure why…

[2016-02-19 22:59] crism opened #1167 "[OMP] reviewer elapsed time has wrong units"
Against `HEAD`: When looking at the list of reviewers, the average review time seemed far too large. Indeed, running the query directly shows:

`date_completed`|`date_notified`|`date_completed - date_notified`
----------------|---------------|--------------
`2016-02-03 15:15:27`|`2016-02-03 15:13:38`|`189`
`2016-02-08 12:01:35`|`2016-02-08 11:58:45`|`4290`
`2016-01-21 10:59:38`|`2016-01-20 14:54:5

[2016-02-19 23:04] crism commented on #1149
`ReviewerForm::_isValidReviewer()` uses `PKPUserDAO::getReviewersNotAssignedToSubmission()`, which also ignores round-wise assignment. So why did this work with `INSERT IGNORE` but doesn’t now? Hm.

[2016-02-19 23:06] crism commented on #1149
And why doesn’t the grid constructor use `getReviewersNotAssignedToSubmission()`?

[2016-02-19 23:44] asmecher commented on #1149
@bozana, can I throw you into this one? It'll take some investigation and I'm currently snowed under.

[2016-02-20 00:51] asmecher commented on #1167
@crism, this seems to work with both MySQL and PostgreSQL -- sadly no SQL standard solution seems available. Feedback welcome as always. Thanks for reporting!

[2016-02-20 00:51] #1167 closed

[2016-02-22 10:05] NateWr commented on #1143
I agree with @asmecher and @crism that separating the submission form from the catalog entry form will be a key part of this solution. I also think that having these things be toggle-able in the backend would be an easy task. Here's a quick mockup:

![metadata-enable](https://cloud.githubusercontent.com/assets/2306629/13215199/ac5c1fe4-d94b-11e5-9854-0db220a8d6d2.png)

I think this could/should be

[2016-02-22 12:24] NateWr opened #1169 "Unauthorized access to submission library file after upload"
When I upload a file to the submission library (not the overall document library but the submission-specific one), I am not able to access that file. I get the following error:

[code]

File uploaded as admin and attempted to access it as admin as well. Tested on latest OJS master but problem effects OMP too.

[2016-02-22 14:13] NateWr opened #1170 "[OJS] Issue galley grid retains `empty` class after a galley added"
If the grid in Edit Issue > Issue Galleys is empty, then you add a galley, the row is added but the `empty` class is still attached to the grid's `tbody`. As a result, the styling is off and the empty row indicator is visible.

[2016-02-22 14:46] NateWr commented on #988
PRs
https://github.com/pkp/pkp-lib/pull/1171
https://github.com/pkp/omp/pull/221
https://github.com/pkp/ojs/pull/756

[2016-02-22 15:03] NateWr commented on #1163
No it got done a while ago. Not sure what I was thinking.

[2016-02-22 15:03] #1163 closed

[2016-02-22 15:05] NateWr commented on #1109
If there are no objections here I can remove them. @asmecher anyone we should pull in here?

[2016-02-22 15:54] NateWr commented on #1170
Ok, found a place where this can be replicated in OMP: when adding a reviewer to the reviewers grid for the first time.

[2016-02-22 15:55] willinsky commented on #1143
@asmecher The standard that has emerged for the submission requirements for journals over the decade since we introduced "Coverage" is to request of authors "Keywords" (which is Dublin Core's Subject element) and abstract or what DC calls Description. This would also holds for books (although online submission is not yet the standard for books). With books, the request for more detailed catalog in

[2016-02-22 16:40] asmecher commented on #1109
No, @NateWr, I'm content with that.

[2016-02-22 17:17] asmecher commented on #988
The tests are complaining, both the validation and build phases. Did you want me to take a look at that, @NateWr? See e.g. https://travis-ci.org/pkp/omp/builds/110967289

[2016-02-22 18:55] asmecher opened #1172 "Section title is hidden"
The section title is in the mark-up but is hidden from presentation. See e.g.:
http://journals.sfu.ca/uiux/index.php/publicknowledge/issue/view/1

The `<h2>` element contains the section title, but it's never shown. All articles appear to be in an "Articles" section, rather than "Articles", "Reviews", etc.

[2016-02-22 18:59] asmecher commented on #1143
Decision for now:

- Consolidate the existing "Coverage" fields into a single field.
- Add a setup area where metadata fields can be separately enabled/disabled for the submission process, and elsewhere in the workflow.
- When that's ready, see about improving the visual presentation of the forms to reduce confusion.

[2016-02-22 19:05] bozana commented on #1121
@asmecher, I think this is good and it can me merged ;-)

[2016-02-22 19:21] #1121 closed

[2016-02-22 19:22] asmecher commented on #1121
Great! Closing.

[2016-02-22 19:26] crism commented on #1158
I’m unable to reproduce this now, so I’ll close it.

[2016-02-22 19:26] #1158 closed

[2016-02-22 19:31] crism commented on #1143
I like this plan, @asmecher. Thanks to everyone who weighed in.

[2016-02-22 19:54] ubermichael opened #1173 "[OJS] Add a block to the PLN plugin"
The PLN plugin needs a block to advertise that a journal is preserved in the PLN.

See pkp/ojs#742

/cc: @asmecher who requested the issue.

[2016-02-22 19:54] asmecher commented on #1173
I don't think that was me...

[2016-02-22 19:55] ubermichael commented on #1173
I think it was Alec: https://github.com/pkp/ojs/pull/742#issuecomment-183129068

[2016-02-22 19:56] asmecher commented on #1173
Ah, I thought you meant requesting the feature, not requesting the issue.

[2016-02-22 21:13] crism opened #1174 "[OJS] journal sections messed up in publication"
Against `HEAD`:

I renamed the Articles section of my toy journal, then added a second “Reviews” section. I submitted an article to each section, and published an issue with them. The dashboard shows the TOC for the issue as having one article in each section; however, the reader’s view of the journal puts both articles into “Reviews.”

[2016-02-22 21:14] asmecher commented on #1174
Beat you to it!
https://github.com/pkp/pkp-lib/issues/1172

[2016-02-22 21:14] #1174 closed

[2016-02-22 21:23] ctgraham opened #1175 "Dynamic loading of locale files breaks Translator plugin"
The new Counter plugin dynamically loads locale files to support drop-in addition of new COUNTER reports.
https://github.com/pkp/ojs/blob/ojs-stable-2_4_8/plugins/reports/counter/CounterReportPlugin.inc.php#L40-L51

The Translator plugin assumes that a call to a plugin's `getLocaleFilename()` will return an identically ordered array of locale files, regardless of which locale is selected.

As a re

[2016-02-23 02:10] selwyntcy commented on #1121
Thanks, @asmecher!

[2016-02-23 04:49] asmecher commented on #988
Everything merged, tests fixed. Thanks, @NateWr!

[2016-02-23 04:49] #988 closed

[2016-02-23 10:29] NateWr commented on #1172
Note for later: change `.obj_issue_toc .sections` --> `.obj_issue_toc .section`.

[2016-02-23 10:34] NateWr commented on #988
Thanks for the cleanup @asmecher!

[2016-02-23 13:00] NateWr commented on #758
PR https://github.com/pkp/pkp-lib/pull/1177

This pull request:
- Separates the status and actions and improves clarity of both
- Adds contextual data depending on status (due dates, recommendations)
- Touches up the formatting of the review display modal

Here's an example showing all the statuses in OMP. In OJS, the recommendation is shown when available (where the due dates appear otherwise).

[2016-02-23 13:05] NateWr opened #1178 "Issues with reviewer grid and associated modals"
While working on #758 I came across a few issues, some of which probably need to get solved for OMP 1.2.

- [x] A review can not be confirmed unless a file is uploaded.
- [x] ~~In the code there are references to a `declined` state, but this never actually gets used.~~
- [ ] Editors can not set or adjust the recommendation. It seems like this would be important in cases where an editor uploads a f

[2016-02-23 13:15] NateWr commented on #1178
The declined state was implemented in #1177

[2016-02-23 13:16] bozana commented on #1178
@NateWr, maybe just a comment on the first point above: either comments or file have to be there for the confirmation...

[2016-02-23 13:18] NateWr commented on #1178
@bozana In my tests having comments did not prevent the missing file notification from appearing and blocking confirmation.

[2016-02-23 13:18] NateWr commented on #1178
Example

![selection_161](https://cloud.githubusercontent.com/assets/2306629/13252668/fa1ffc34-da2f-11e5-90bf-675598389c1e.png)

[2016-02-23 13:21] bozana commented on #1178
@NateWr, oh, I'll have a look... :-)

[2016-02-23 13:22] NateWr commented on #1178
Thanks!

[2016-02-23 14:21] mfelczak opened #1179 "[OJS] Exclude bots from session management"
Unnecessary db updates and filling-up of the sessions table.

[2016-02-23 15:36] NateWr commented on #1109
https://github.com/pkp/pkp-lib/pull/1180
https://github.com/pkp/ojs/pull/759
https://github.com/pkp/omp/pull/225
https://github.com/pkp/pdfJsViewer/pull/8

[2016-02-23 17:44] NateWr commented on #1032
Pull requests to your branch on `asmecher`:
https://github.com/asmecher/pkp-lib/pull/13
https://github.com/asmecher/ojs/pull/3

I added links to each stage of the workflow.

The Issue chapter would be a great candidate for attaching a help link to a grid. That's the only good place I can see for the help link on the Dashboard > Issues pages.

[2016-02-23 18:20] asmecher commented on #758
Are there outstanding pieces of work on this issue now that https://github.com/pkp/pkp-lib/pull/1177 has been merged?

[2016-02-23 18:30] asmecher commented on #1109
All merged/cherry-picked -- thanks, @NateWr!

[2016-02-23 18:30] #1109 closed

[2016-02-23 18:33] NateWr commented on #758
I think not. All other issues are separated into #1178.

[2016-02-23 18:33] #758 closed

[2016-02-23 18:34] asmecher commented on #758
Woo! Down to 16 issues, with some big ones closed off.

[2016-02-23 18:54] asmecher commented on #1032
@NateWr, can you close those PRs and open new ones against the `gitbook` branch?

[2016-02-23 18:56] asmecher commented on #1144
@crism, I think all files are selected by default, and you can spin out the selection grid to limit them only if you need to; are you seeing something different?

[2016-02-23 19:37] bozana opened #1183 "make the proxy use for web serviece requests optional"
S. http://forum.pkp.sfu.ca/t/lucene-plugin-not-working/8338

a) make generally the proxy use for web service requests optional
b) add the option whether to use the proxy settings for Solr web service requests.

[2016-02-23 21:13] asmecher commented on #1183
Thanks, @bozana

Merged pulls:
- https://github.com/pkp/pkp-lib/pull/1184
- https://github.com/pkp/ojs/pull/761

Could you cherry-pick this to ojs-dev-2_4, and forward port to master?

[2016-02-23 21:48] bozana commented on #1183
Thanks @asmecher. Done... :-)

[2016-02-23 23:37] bozana opened #1187 "consider proxy settings for external feed plugin"
S. forum.pkp.sfu.ca/t/lucene-plugin-not-working/8338

[2016-02-24 00:08] asmecher commented on #1187
@bozana, I've kind of lost track of all the PRs for this. Go ahead and merge what's needed for the other branches/apps; no need to review this again. Thanks!

[2016-02-24 09:58] molavy opened #1188 "Fatal error: Call to undefined method SectionEditorSubmission::setCopyrightHolder() in /home/user/journal/classes/submission/form/MetadataForm.inc.php on line 451"
when i want edit article metadata from archive
on submit article edit form return this error
Fatal error: Call to undefined method SectionEditorSubmission::setCopyrightHolder() in /home/user/journal/classes/submission/form/MetadataForm.inc.php on line 451
ojs version  OJS 2.4.4.1

[2016-02-24 11:15] NateWr commented on #1032
Woops! New PRs:

https://github.com/asmecher/pkp-lib/pull/14
https://github.com/asmecher/ojs/pull/4

[2016-02-24 17:23] asmecher commented on #1188
@molavy, can you pursue this on the forum rather than filing an issue? http://forum.pkp.sfu.ca/

[2016-02-24 17:23] #1188 closed

[2016-02-24 20:35] ctgraham opened #1192 "Document Composer requirement for OJS 3.x"
The need to initialize third-party modules via Composer should be documented in the 3.x README.md.  Should it also be documented in the 3.x docs/README?  When OJS 3.0 is packaged, will it include third party modules in the download, or require that a `composer.phar update` be run?

[2016-02-25 00:06] asmecher commented on #1192
I've added the same snippet from the OMP README.md to the OJS README.md.

For the distribution, I'd imagine we'll continue to build and ship everything in the tarball.

For casual git checkouts, I've increasingly been recommending the Vagrant configuration:

https://github.com/pkp/vagrant

This allows a one-liner to spin up a reliable installation from git master without having to worry about syst

[2016-02-25 00:06] #1192 closed

[2016-02-25 00:34] asmecher commented on #862
@jnugent, this didn't get added to the release notes as a new config option; could you add it? Also to config.TEMPLATE.inc.php.

[2016-02-25 00:41] asmecher commented on #1175
Thanks, @ctgraham. Do you mind forward-porting this to the master branch? If that's more than you care to bite off, that's fine with me too.

[2016-02-25 11:49] #1183 closed

[2016-02-25 11:52] bozana commented on #1187
I'll wait a little bit with merging this PR, if the user in the forum could test the patch... then I will port it to other branches too...

[2016-02-25 13:01] bozana commented on #1149
@crism, don't you think that the external reviewer shouldn't be displayed/considered here (using the function Enroll Existing User) at all? Isn't the mistake already there? Why would I like to enroll an user that is already enrolled?

[2016-02-25 13:45] bozana commented on #1149
I think this SQL solves the problem:
`$result = $this->retrieve(
			'SELECT DISTINCT u.*
			FROM users u, user_groups ug, user_user_groups uug
			WHERE u.user_id NOT IN
				(SELECT DISTINCT u.user_id
				FROM users u, user_user_groups uug, user_groups ug
				WHERE u.user_id = uug.user_id AND ug.user_group_id = uug.user_group_id AND ug.role_id = ?)' .
				($contextId?' AND ug.context_id = ?':'') .

[2016-02-25 14:24] jnugent commented on #862
@asmecher I will add it to the release notes, but this is definitely already in config.TEMPLATE.inc.php with documentation.

[2016-02-25 14:36] bozana commented on #1159
@asmecher, I removed the code (s. above), but what would be best way to consider it for the upgrade? -- those old/earlier used "catalog.png" images should be deleted, I think. Should I then implement a function in the Upgrade.inc.php that does that?

[2016-02-25 14:43] jnugent commented on #862
Add to RELEASE notes in ojs-dev-2_4.

[2016-02-25 14:43] #862 closed

[2016-02-25 16:43] asmecher commented on #862
Right you are. Thanks, @jnugent.

[2016-02-25 16:44] asmecher commented on #1159
@bozana, I think users upgrading from 2.x to 3.x can expect to work on their presentation, perhaps more than any other element, so I don't mind if presentation-related settings don't migrate. I'd suggest leaving the old settings in the database if they aren't used in the new code. If the settings are used in the new code but have changed in meaning, then I'd suggest removing the old setting in the

[2016-02-25 16:46] bozana commented on #1159
@asmecher, this is for OMP 1.2 :-) And there are no settings, just files, the images, that were used on the book pages and are not going to be used any more.

[2016-02-25 16:54] asmecher commented on #1159
Ah, OK. Hmm... I would suggest not deleting the files. Better to potentially leave unused images around than to remove them without giving the site administrator a warning first.

[2016-02-25 16:56] bozana commented on #1159
Maybe then one more question :-) If one uploads a new cover page, the thumbnail will be replaced, but the old catalog.png stays. Should I then check in the code if there is catalog.png when uploading a cover, then remove it? Or just leave it, although it will in this case be different than the new thumbnail image?

[2016-02-25 17:14] asmecher commented on #1159
The `catalog.png` file will no longer be used, even if it's present, correct? If that's right, then I'd suggest just leaving it. I'm not fond of maintaining active code for the sake of legacy data; the chances of that code getting obsolete or buggy without detection are higher than the utility it provides.

[2016-02-25 17:16] bozana commented on #1159
OK, thanks a lot, everything clear now :-)

[2016-02-25 17:25] crism commented on #1144
@asmecher, I think you’re right. Maybe this was broken when we tested? I can’t reproduce it now, so I’ll close it.

[2016-02-25 18:10] asmecher opened #1193 "Accepted presentations list sorting is unhelpful for reordering"
See http://forum.pkp.sfu.ca/t/ordering-in-ocs-presentations-not-working/8567/2 for details.

The published presentations list is displayed by track, ordered by presentation sequence. The director's list of accepted presentations permits ordering, but does not display in the same ordering, making the ordering tools seem random.

We need to support sorting options within the "accepted" list, but mak

[2016-02-25 18:12] #1193 closed

[2016-02-25 18:24] asmecher commented on #1159
Merged, thanks!

[2016-02-25 18:24] #1159 closed

[2016-02-25 18:34] asmecher commented on #1032
Looking good so far, and starting to serve well for examples of help integration points. About help links on grids, I'd argue that the context is actually the tab rather than the grid -- though the distinction is a little thin when there's only a single grid within a tab. My previous solution was to have a tab open "set" the user's current help context, so that opening the help panel would result

[2016-02-25 18:43] asmecher commented on #1032
(One thought: I wonder if the "help" link will get lost so far down on the page. But some UI/UX testing will tell better than I whether that's an issue.)

After merging your PRs, I rebased off the master branch. Rather than force-pushing to my `gitbook` branch, which will cause you trouble if you've worked further on a fork from there, I created new `gitbook2` branches for both OJS and pkp-lib. Wh

[2016-02-25 18:45] asmecher commented on #1157
@bozana, this touches on something you were recently working on; has it been fixed in the bargain?

[2016-02-25 19:29] asmecher commented on #1032
(@NateWr, FYI, the linter caught a few JS complaints: https://travis-ci.org/asmecher/ojs/jobs/111820071)

[2016-02-25 21:02] crism commented on #1149
It can be further simplified:
[code]

[2016-02-25 21:09] crism commented on #1149
Oops, no it can’t. `d-:`

[2016-02-25 21:13] crism commented on #1149
There, I think that’ll do it. Seems to work here.

[2016-02-25 21:15] asmecher opened #1194 "Investigate categorizing chapter files listing by stage"
The chapter files listing (visible when editing a chapter) only presents file ID, revision, and title; there's no indication of stage. Every other presentation of files in the workflow provides some stage information, either directly (using category grids) or by context (file listing is within a particular stage). Consider ways of presenting stage information on the chapter listing as well, as tha

[2016-02-25 21:26] bozana commented on #1149
Great @crism! Thanks a lot! Do we then need those changes for the double group assignment? I would rather not consider them now i.e. just if they are needed...

[2016-02-25 21:28] bozana commented on #1157
@asmecher, hmmm... No I don't think this touches it and I think that this is already solved, right @crism?

[2016-02-25 21:29] crism commented on #1149
I’d prefer to keep it; it’s more robust. If the user does, somehow, happen to already be in the group—perhaps due to a race condition from having more than one administrative user—this will silently succeed, whereas without the change, it throws an error.

[2016-02-25 21:32] bozana commented on #1149
OK, I will then take a look at/test this too... :-)

[2016-02-25 21:48] crism opened #1195 "[OJS] article galley remains published and accessible after un-approval"
Against `HEAD`:

I have an issue already published, with two articles. I added a new galley to one of the articles, uploaded a file, and approved the file and galley. The file was then accessible through the published issue.

I changed my mind, and marked the galley as unapproved. The file was still visible and accessible through the front end. I unapproved the file itself, too; still accessible.

[2016-02-25 21:53] crism commented on #1157
No, not solved; go to the catalog entry editing tab for a newly-created book, and you’ll see, under “Cover Image,” the browser’s broken-image icon with the alt-text “Current Image.” The file uploader tool shows right below that. (This is with `HEAD` as of late this morning CST.)

[2016-02-25 22:01] bozana commented on #1157
Hmmm... This is what I see -- is this the right place to look at?

![coverimage](https://cloud.githubusercontent.com/assets/378421/13335886/9a24287e-dc13-11e5-8197-16d52409a168.png)

[2016-02-25 22:14] asmecher opened #1196 "Fix/remove GRID_ACTION_POSITION_ROW_LEFT grid behavior"
The GRID_ACTION_POSITION_ROW_LEFT is/was used to position grid actions to the left of the row, rather than in the spin-out tray. At some point in the grid clean-up it stopped working so some grids lost their actions (see e.g. https://github.com/pkp/omp/commit/a0be4b7d6576371cd345010a83db7a32239fae5c which removed the `GRID_ACTION_POSITION_ROW_LEFT` constant to return to default grid behavior).

OT

[2016-02-25 22:15] asmecher commented on #1196
@NateWr, just FYI, no action needed.

[2016-02-25 22:18] crism commented on #1157
Hrm, no… Chrome on Windows shows it most clearly:
![broken_cover_chrome](https://cloud.githubusercontent.com/assets/1933900/13336249/b448effc-dbda-11e5-92a4-3aee5feaed42.png)
Firefox on Linux just shows the alt text:
![broken_cover_firefox](https://cloud.githubusercontent.com/assets/1933900/13336250/b44bc9d4-dbda-11e5-9136-f0dfce4afca9.png)
I just tried this with a completely brand new submission,

[2016-02-25 22:24] crism commented on #1157
To add to that: on inspection, the code is:
[code]

[2016-02-25 22:50] bozana commented on #1157
@crism, do you have this file: templates/images/book-default-small.png? Can you access it with your BaseURL: ttp://pww-dev.library.illinois.edu/omp_dev/templates/images/book-default-small.png? This is the file that should be displayed...

[2016-02-25 22:59] crism commented on #1157
I have the file and can access it directly.

Oh! When I copy the image URL and open it in a new tab, I get a JSON message: “You have been denied access because you do not seem to be the author of this monograph.” Well, that explains it—while opening a couple of new questions.

[2016-02-25 23:05] bozana commented on #1157
Hm :-O Who are you? Hihihihi :-) You don't have to be the author... You don't have to have any role -- the reader should be able to see the image too... :-OOO

[2016-02-25 23:30] crism commented on #1157
I’m doing all this as the system administrator, journal manager, journal editor, and submitter… but in my experience, all users who can edit the catalog at all see this. Not sure why.

[2016-02-25 23:40] bozana commented on #1149
Phew this is getting more complicated :-P

I think that the function 'getReviewersNotAssignedToSubmission' can be removed from the PKPReviewerGridHandler -- as far as I can see it is not used anywhere. @asmecher, could you maybe think of a strange call of this function that I could not be able to find with grep? ;-)

And I think the function 'getReviewersNotAssignedToSubmission' in PKPUserDAO is n

[2016-02-25 23:42] bozana commented on #1157
hm... can you see the image when the book is published, on the catalog or book page?

[2016-02-25 23:45] bozana commented on #1157
Aaaaa.... I see. This happens to me too, when the book is not in the production state...

[2016-02-25 23:57] asmecher commented on #1169
The attached patch should fix it, @NateWr. The way we're doing access control in the file API handler is a little ugly but I'm content not to crack it open yet.

[2016-02-25 23:57] #1169 closed

[2016-02-26 00:01] asmecher commented on #1149
@bozana, I think grepping that function should catch any use of it; I suspect that function is a leftover from OJS 2.x.

[2016-02-26 00:07] bozana commented on #1157
Hmm... Only PublishedMonograph has the function getCoverImage. Thus, actually, this part (cover upload) shouldn't be there till the monograph is published or so... Actually audience part as well... Hmm...
@asmecher, any idea?

[2016-02-26 11:28] bozana commented on #1157
@asmecher, maybe to change the access policy for CoverHandler and move the get/setCoverImage to the Monograph class? -- So that the cover image can be handled at any time?

[2016-02-26 11:44] #1187 closed

[2016-02-26 11:45] #746 closed

[2016-02-26 12:04] bozana opened #1198 "File upload for reviewer"
I believe since recent changes on the file uploader, the file upload for reviewer is not working any more. This is what I see:
![fileuploadforreviewer](https://cloud.githubusercontent.com/assets/378421/13351794/800b2548-dc89-11e5-9a52-d8dc2c8f21c8.png)

Any idea?

[2016-02-26 12:26] bozana commented on #1149
@crism, could you please please please remove the getReviewersNotAssignedToSubmission from PKPReviewerGridHandler too?

I took a look at PKPUserDAO ::getReviewersNotAssignedToSubmission -- it works well, the only thing we could eventually consider: This function considers if there is an unfinished review of a reviewer. If so, the reviewer will not be considered/returned in the result i.e. he/she w

[2016-02-26 12:37] bozana commented on #1149
@asmecher, there are a few small things that could be changed -- the info texts do not seem to be totally right:
a) When choosing a user to enroll as a reviewer, "Reviewer" is displayed in the input field, but actually any other user that is currently not a review (but will be then enrolled as a reviewer) is meant to be here, s:
![infotext](https://cloud.githubusercontent.com/assets/378421/1335247

[2016-02-26 16:55] crism commented on #1149
Done, though it maybe should be orthogonal to this issue.

[2016-02-26 17:00] crism commented on #1157
I would definitely want to be able to set the cover image _before_ publishing the monograph. +1 to moving cover image accessors to `Monograph`.

[2016-02-26 19:31] crism commented on #1144
Here’s how to reproduce it:

1. Send a submission to internal review.
1. Don’t submit any revisions in response to the review.
1. Send the submission to external review.

The submission now has no review files. Selecting “Upload/Select Files” brings up an empty list; the user needs to check “Include all files…” to see useful things.

[2016-02-26 19:50] crism commented on #1148
All the action happens in `PKPEditorDecisionHandler::_saveEditorDecision()`, which calls `NotificationManager::updateNotification()` up to 3 times.

[2016-02-26 20:14] ctgraham commented on #1175
@asmecher, that would be a good excuse to slide into the master branch code... I'm unconvinced, however, of the soundness of my current strategy (`str_replace`) in general.  Right now, I'm mulling the getLocaleFilename() returning a hash instead of a simple array.  Or maybe there should be a different method to return all prospective locale filenames, regardless of whether they exist in the curren

[2016-02-26 20:29] asmecher commented on #1175
The translator plugin is special-purpose enough, and so rarely enabled, that I don't mind if we make an assumption here. If that makes you shudder, feel free to tinker around a little.

The `registry/locales.xml` descriptor (accessible via AppLocale/PKPLocale) describes all the necessary `xx_YY` codes; `Applicatoin::makeComponentMap` should give you all the filenames you need.

[2016-02-26 20:53] asmecher opened #1199 "Add profile image upload to user management form"
See http://forum.pkp.sfu.ca/t/profile-image-upload/8817

[2016-02-26 22:11] asmecher commented on #1143
Pulls:
- https://github.com/pkp/omp/pull/228
- https://github.com/pkp/pkp-lib/pull/1200

Here's a screenshot of the resulting grid, which is at the bottom of Settings > Workflow > Submission:

![grid](https://cloud.githubusercontent.com/assets/200411/13366864/d4aae260-dc92-11e5-85a6-4d531b98253c.png)

[2016-02-26 22:34] asmecher commented on #1144
That's expected behavior, @crism, the "Select Files" area should show files from the previous stage by default, with the checkbox permitting the additional listing of files from stages before that.

[2016-02-26 22:35] asmecher commented on #1148
@beghelli, is this something you touched on with your recent commits?

[2016-02-26 22:35] asmecher commented on #1157
Yes, that sounds like a good idea.

[2016-02-26 22:36] asmecher commented on #1198
@bozana, Nate replaced the file uploader with a better implementation. Make sure you're on a recent checkout of the app and pkp-lib, then...

    cd lib/pkp
    composer.phar update
    cd ../..
    rm cache/*.css cache/t_compile/*.php

Let me know if that doesn't do it.

[2016-02-26 22:44] asmecher commented on #1149
@bozana, to answer [your question](https://github.com/pkp/pkp-lib/issues/1149#issuecomment-189257204):

I don't know off the top of my head, so I'd err on the side of permissiveness. If the Editor wants to choose a reviewer who didn't finish a review in the last round, that's up to them IMO.

For [these questions](https://github.com/pkp/pkp-lib/issues/1149#issuecomment-189259001):

I'm not sure I

[2016-02-26 23:01] crism commented on #1144
Understood, @asmecher—but there’s a breakdown in the process here. I would expect at least one of these things to be possible:
* In “Internal Review,” select Review Files to promote to Revisions. (Currently, Revisions can only be populated by uploading files.)
* In “Send to External Review,” have the opportunity to select from among Review Files as well as Revisions. (Currently, the Revisions sect

[2016-02-26 23:02] crism commented on #1143
I like it.

[2016-02-27 00:38] willinsky commented on #1143
It may just be out of context and it may just be the two meanings of submission, but the submission column may make more sense to editors as “Entered on Submission” with the workflow column the “Complete Set,” with a note on how metadata will need to be added during the editorial process.

[2016-02-27 00:54] asmecher commented on #1143
Yes, we've struggled with this before ("submission" as a verb and as a noun). For now I'd suggest we cover it in Help, unless we can dig up another word for one of the two cases.

[2016-02-27 01:57] willinsky commented on #1143
I was hoping that entitling the columns “Entered on Submission” and the “Complete Set” would explain two things, both what metadata is wanted with the initial submission (could be "Entered with Submission") and what metadata is wanted in total.

[2016-02-27 03:03] stranack commented on #1143
What about "Entered by Author" or "Entered on Submission" and "Entered
by Editor" or "Entered in Workflow"? For me at least, "Complete Set"
isn't clear.

On 2016-02-26 5:57 PM, willinsky wrote:

--
--
Kevin Stranack, MLIS, MAEd
Learning and Development Consultant
Email: kevin@stranack.ca
Twitter: @stranack
Skype: kstranack
Web: http://stranack.ca

[2016-02-29 00:24] #1068 closed

[2016-02-29 08:28] alonsoj commented on #1054
Hi @asmecher,
since update to 2.4.8 my ojs is sending REVIEW_REQUEST_REMIND_AUTO_ONECLICK  mails empty. This happens when i activate in Setup -> Step 2 the options Reviewer Reminders and Enable one-click reviewer access.
I think REVIEW_REQUEST_REMIND_AUTO_ONECLICK entry should be on email_templates_default table. Now is only on email_templates_default_data.
Greetings

[2016-02-29 10:07] bozana commented on #1149
@asmecher, I will then change the function PKPUserDAO ::getFilteredReviewers so that it returns also reviewers that haven't finished a review. I will also change the label to "Search By Name" and file an issue for the review round text.
@crism, thanks a lot! The function "getReviewersNotAssignedToSubmission" is also listed in the _getReviewRoundOps but I can remove that, together with the change a

[2016-02-29 14:33] bozana commented on #1198
@asmecher, thanks!!! This unfortunately haven't solved the problem :-( I can upload a file for Revisions for example, but for Review Files or Reviewers I cannot :-( Is this possible for you?

[2016-02-29 15:05] bozana commented on #1054
Yes, apparently a wrong name sneaked into the registry/emailTemplates.xml: REVIEW_REQUEST_REMIND_ONECLICK instead of REVIEW_REQUEST_REMIND_AUTO_ONECLICK

[2016-02-29 15:08] bozana opened #1201 "improve the text for the new review round"

[2016-02-29 15:12] bozana commented on #1201
When creating a new review round (in OMP) the following text appears: "You are about to create a new review round for this submission. Files that have not been used in other review rounds are listed below. By default, the reviewers from the previous review round have been selected to participate in this new review round.".
The reviewers from the previous review round are not selected, thus at leas

[2016-02-29 17:06] asmecher commented on #1149
Thanks

[2016-02-29 17:08] mfelczak opened #1202 "[OJS] Limit author fees to submission stage and hide for declined/archived submissions"
Author fee options and links (e.g. fast-track review, publication fee) should not be visible/available to authors once a submission has been declined or archived.

[2016-02-29 17:17] asmecher commented on #1198
@NateWr, could you take a look?

[2016-02-29 18:52] bozana commented on #1149
Thanks @asmecher! I've made the last PR belonging to this issue... :-)

[2016-02-29 19:05] bozana commented on #1147
@crism, I think this is now solved in #1149 right?

[2016-02-29 19:10] crism commented on #1147
If we change the label in “Reviewer,” yes. Did that actually change?

[2016-02-29 19:12] bozana commented on #1147
Do you mean the label for the autocomplete field? If so, yes, I've just made a PR: https://github.com/bozana/pkp-lib/commit/ced7371b251cf4966eb41a0afb3ef98883a07f9d

[2016-02-29 19:15] crism commented on #1147
Yes, that seems to address it. (IMO, it would be appropriate for that commit to reference this issue, just for future reference.)

[2016-02-29 19:16] bozana commented on #1147
Yes, I've just seen this issue... :-\

[2016-02-29 19:28] bozana commented on #1152
@crism, how/when/where is this happening, could you explain it?

[2016-02-29 23:10] asmecher commented on #1147
@bozana, I merged https://github.com/pkp/pkp-lib/pull/1203 -- does that completely address this issue?

[2016-02-29 23:11] asmecher commented on #1149
Merged https://github.com/pkp/pkp-lib/pull/1203 -- thanks!

[2016-02-29 23:11] #1149 closed

[2016-03-01 08:23] bozana commented on #1147
Yes, closing... :-)

[2016-03-01 08:23] #1147 closed

[2016-03-01 15:13] alonsoj opened #1204 "[OJS] Empty mime magic on remote url galleys with CrossRef export plugin"
When exporting an issue or article with remote galleys to XML with the CrossRef Export plugin the mime type of these galleys is empty
`<resource mime_type=""> `

[2016-03-01 15:27] bozana commented on #1204
@alonsoj, thanks a lot!
@ctgraham and @jmacgreg, shall we then ignore the attribute mime_type for the remote galley?

[2016-03-01 15:57] alonsoj opened #1205 "Missing key admin.scheduledTask.downloadLog in several translations"
In pkp-lib/locale admin.xml the key admin.scheduledTask.downloadLog is missing in several languages. The same occurs with admin.scheduledTask.downloadLog, admin.scheduledTask.confirmClearLogs and admin.scheduledTask.clearLogs.

[2016-03-01 20:43] mfelczak opened #1206 "[OHS] "mdash" displayed in record summary"

[2016-03-01 21:46] mfelczak opened #1207 "[OHS] ##plugins.schemas.marc.fields..name## displayed on record view page"

[2016-03-02 10:20] NateWr opened #1208 "[UI] Revisions file grid needs improvements for clarity"
Icons and data are unclear in the revisions grid on the reviews page.

Related: #1154 #1144

[2016-03-02 10:24] NateWr commented on #1032
I think the problem with the Issue tab is exactly as you describe: when there's only one grid on a tab the grid and the tab are the same context. The tab has no space outside of the grid to slot in UI components.

These kinds of anomalies will crop up a lot, I think, as we continue to iterate with the help text. That's why I wanted the more flexible way of defining help topics straight in the temp

[2016-03-02 10:36] NateWr commented on #1196
This may have been part of the cleanup around the delete links in list-builders, though I can't quite remember what we did there. I do remember moving the position of a bunch of oddly situated link actions.

[2016-03-02 10:39] NateWr commented on #1032
And since help links attached to grids might depend on context, it'd be great to be able to pass in a topic for a grid straight in the template file. Perhaps in the grid controller's JSON options object? That way in theory we could have different topics depending on context for the same grid class.

[2016-03-02 11:13] NateWr commented on #1198
Hi @bozana, can you give any more details about the context when you get this problem?

I just tried to reproduce this but didn't have any problems. I'm probably not in the right place. Here's what I did:

1. Login as an internal reviewer and go to the Submissions page.
2. Click on Internal Review for a submission assigned to me.
3. Go to Step 3 (Download & Review), find the Reviewer Files grid at

[2016-03-02 11:22] bozana commented on #1198
Hi @NateWr. Ah, I do the same as you, but in the 4. step I don't see this place to upload a file :-O I see the upload file modal and the first tab "Upload Submission" there, but there is no file upload area or button :-(

[2016-03-02 11:34] bozana commented on #1198
Aaaa... For some reason has this div display: none; in my CSS...

[2016-03-02 11:52] #1054 closed

[2016-03-02 11:57] NateWr commented on #1198
@bozana Can you check the form controller options for the form and add them here?

![selection_166](https://cloud.githubusercontent.com/assets/2306629/13459664/33173334-e06d-11e5-80e7-9ab0ea6cfa63.png)

The `$.pkp.controllers.wizard.fileUpload.form.FileUploadFormHandle` hides the uploader by default, and then displays it when the genre or file ID selectors are set up properly (if none are present,

[2016-03-02 12:12] bozana commented on #1198
Ah, I build the JS (lib/pkp/tools/buildjs.sh) anew and now it is working :-) Thus this mean that the right/currant pkp.min.js was not committed or that I should do this alone however or ...?

[2016-03-02 12:32] NateWr commented on #1198
I don't know! I've never compiled the `pkp.min.js` file so never committed it. Maybe I should? @asmecher

[2016-03-02 12:38] bozana commented on #1198
I think it is both possible, to use minified and non-minified JS -- it is a config option -- and apparently I use the minified JS... :-)

[2016-03-02 13:58] bozana opened #1209 "increase the size of the URL database fields"
Currently the URL database fields are 255 long. They should be changed to 2047.

[2016-03-02 14:42] NateWr commented on #1032
PR: https://github.com/asmecher/pkp-lib/pull/15

This fixes some of the errors. However, I'm confused about the "Function requires 2 arguments" warning. I was under the impression this didn't really matter in JS:

https://travis-ci.org/asmecher/ojs/jobs/111820071#L936

Also, I'm not sure what it's asking me to do here to define `options.topic`:

https://travis-ci.org/asmecher/ojs/jobs/111820071#L9

[2016-03-02 14:53] NateWr commented on #1143
I agree the wording needs some work. My 2 cents: swap the column order and rename them to Enabled / Submission Form.

If that's not clear enough than I suggest we go with something more verbose, like: "Request during author submission"

[2016-03-02 15:01] NateWr commented on #1032
I think my role here is mostly done for now since it's just a matter of filling out the content. I'll unassign myself but of course re-assign me if you're waiting on me for any next steps.

[2016-03-02 15:04] NateWr opened #1212 "Check for outdated language"
A reminder to do a quick click-through scan for help text and other language which might need to be updated or removed.

Example:

![selection_147](https://cloud.githubusercontent.com/assets/2306629/13464217/f7e42c16-e087-11e5-8428-07cc1b169df2.png)

[2016-03-02 15:08] NateWr commented on #1146
Hi @crism, did you see this issue? https://github.com/pkp/pkp-lib/issues/983

It looks like it was merged Jan 27 so it's not clear if your comments related to the before or after, but a lot of improvements were made.

Can you double-check on current master and close if the problem has been resolved. If it's still there, can you provide a bit more detail?

[2016-03-02 15:13] NateWr commented on #1152
@asmecher does this need to be looked at more closely?

[2016-03-02 15:17] NateWr commented on #1154
@stranack Do you have any insight on this? I haven't yet worked with revisions but will be tinkering with the grid in #1208.

[2016-03-02 15:55] NateWr commented on #1156
@crism This is a really tricky problem. We've done battle with it in the past and revamped quite a bit to improve things. Mostly, we moved all the approvals down to the publication format grid.

Except the overall checkbox to actually create a catalog entry. We just didn't have a sensible place to put that in the publications grid, and many publishers create a catalog entry long before they get to

[2016-03-02 16:53] asmecher commented on #1198
Leave the minification turned off, and just prior to release I'll build a proper copy. I don't tend to maintain it during development phases.

[2016-03-02 16:59] bozana commented on #1198
OK :-)

[2016-03-02 17:01] #1198 closed

[2016-03-02 17:28] NateWr commented on #1144
I agree there's an issue here that probably needs sorting out. I see a few different issues:

1. It's not clear to the user what they're selecting the files for in the Request Revisions/Send to External Review/Resubmit for Review modals. It seems like these files are going to be emailed to the author, which doesn't seem appropriate (and I don't think that's what actually happens). There's no indic

[2016-03-02 17:29] crism commented on #1156
@NateWr, I hear you. Like I said, I don’t really know what would be better… it does seem that there need to be multiple entry points into the catalog editing tool. And it’s something that gets more familiar with use, and isn’t exposed to end-users or even submitters, so it’s not _that_ bad… but it could be better. I think.

[2016-03-02 17:34] NateWr commented on #1156
Maybe it would make sense, just for the Production tab, to add a primary button to open the catalog entry modal.

I'll dump this here for future reference, but we'll probably wait until we do user tests that handle this stage to learn more.

![selection_169](https://cloud.githubusercontent.com/assets/2306629/13468913/edbcf500-e09c-11e5-9c7c-dfe07fe80a7b.png)

[2016-03-02 17:37] NateWr opened #1213 "Verify that pnotify is built for distribution"
In master pnotify wants to write a compiled file to a directory on my system.

This is probably built for distribution and so only a minor annoyance for devs. But this needs to be double-checked.

[2016-03-02 17:39] asmecher commented on #1213
Thanks, @NateWr.

[2016-03-02 17:50] crism commented on #1146
@NateWr, this feedback was indeed after #983.

Part of the problem is that we did not have any users already in the reviewer group, so the empty list was confusing. That is a problem each press will only encounter once, I suppose.

I would suggest that “Create New Reviewer” is very system-centric terminology: while we are creating a new reviewer artifact within the data model, we are not, in fact,

[2016-03-02 18:23] willinsky commented on #1143
Yes, yes, yes to "swap the column order and rename them to Enabled / Submission Form."

[2016-03-02 18:32] beghelli commented on #1212
Just adding here to keep track: dashboard is not used anymore, so we should check for that also.

[2016-03-02 18:41] #1143 closed

[2016-03-02 18:44] beghelli commented on #1144
@NateWr We have this problem with all editorial decisions modals, I think. And I think that the problem is that we are mixing two tasks in one place: user communication and files management.

Maybe we could breakdown this modal into two steps? Something like two tabs, one for "Files selection" and another one for "User notification".

[2016-03-02 18:52] #985 closed

[2016-03-02 18:55] NateWr commented on #985
Noticed this today and it's awesome. Nice work!

[2016-03-02 19:49] crism commented on #1071
@NateWr, I’m trying to write this up for our accessibility SIG, and I’m having trouble coming up with simple, clear descriptions of the remaining questions and quibbles. Can you help me with that? If so, drop me an e-mail; it’s this same username at Illinois dot edu.

I’ll be talking with some of the folks who developed that browser plugin, so your feedback is really helpful, thanks.

[2016-03-02 19:51] crism commented on #1052
I think you’re right, @asmecher.

[2016-03-02 19:51] #1052 closed

[2016-03-02 21:35] alonsoj commented on #1205
Thank you, in which branch can I pull request?

[2016-03-02 22:22] beghelli commented on #1205
Hi @alonsoj , is this OJS 2.x line right? So ojs-dev-2_4 would be the branch to go. Thanks.

[2016-03-03 01:07] asmecher commented on #1209
@bozana, I merged 5 PRs for this -- I think that's all of them. (They're easier to track if you drop links in to the issue, BTW.)

[2016-03-03 01:07] #1209 closed

[2016-03-03 01:13] asmecher commented on #1032
Thanks, @NateWr -- I've merged your PR, fixed the JS linting problems and will give this a spin.

[2016-03-03 08:00] bozana commented on #1209
Thanks @asmecher! 5 is correct. OK, I will then always insert the links to PRs on issue pages! Sorry :-\

[2016-03-03 10:57] NateWr commented on #1146
What do you think of changing "Search by name" to "Search reviewers by name"? That might help a bit with the ambiguity. Ideally, if no reviewers were enrolled, it might just hide the grid altogether.

I'm not entirely convinced about the other wording changes you recommend. I think "Invite new reviewer" suffers from the same ambiguity of "Create new reviewer". I don't really have a better idea at

[2016-03-03 10:59] bozana commented on #1144
That is the place where both happens, the authors notification and forward to the next workflow step. Thus, the chosen files above should/are meant to be sent to the authors -- they can contain any kind of further instruction for the authors, but probably mostly they will contain the original text with the reviewer comments and could be the files the authors should further work with, I believe. An

[2016-03-03 11:14] NateWr commented on #1144
Ok, in that case then the modals do what the seem like they are going to do, so that's good! In that case, I've completely hijacked this issue for no good reason.

I think the only thing that needs to be actioned is @crism's initial complaint that the review files need to be selectable here too.

I suspect we'll see a certain amount of confusion here. I am partial to what @beghelli suggested about

[2016-03-03 12:58] beghelli commented on #1144
@bozana When you say files are sent, this doesn't mean via email. They are made visible to authors and other users, but inside the system. No email attachment is happening here, and that's the confusion.

That's why I suggest we break down these into two steps, to clear out this attachment confusion.

[2016-03-03 14:58] NateWr commented on #990
By sheer dumb luck I believe I finally stumbled on the cause of the offset tinymce tooltips.

PR: https://github.com/pkp/pkp-lib/pull/1218

[2016-03-03 16:30] beghelli opened #1219 "Make scheduled tasks settings clearer"
See discussion here: http://forum.pkp.sfu.ca/t/scheduled-tasks-deactivated-but-still-working/8972

[2016-03-03 16:31] crism commented on #1146
@NateWr, I like the “Search Reviewers by Name” wording and the checkbox. I agree that postponing the other stuff makes sense.

[2016-03-03 18:08] asmecher commented on #990
https://www.youtube.com/watch?v=p5cOqCjInYI

[2016-03-03 18:08] #990 closed

[2016-03-03 19:54] asmecher commented on #1213
Fixed! We're using so little of pnotify that there's no point building a custom package.

[2016-03-03 19:54] #1213 closed

[2016-03-03 21:03] crism opened #1220 "[OJS] article incorrectly shows subscription required notice"
Against `HEAD`:

A journal issue’s access status is set to Open access in the dashboard. Nonetheless, when viewing specific articles (with URLs like `.../index.php/test/article/view/1`), a lock icon is shown with the text “Requires Subscription.” (Article galleys are accessible anyway.)

[2016-03-03 21:13] asmecher commented on #1220
@crism, FYI, our current plan is to release OJS 3.0 without subscription support, then add that e.g. for OJS 3.1. But yes, this needs fixing for the 3.0 release.

[2016-03-03 22:09] #1152 closed

[2016-03-03 22:52] bozana commented on #1209
The travis test for ojs-dev-2_4 failed because of this DB error: "Specified key was too long; max key length is 767 bytes". The URL column in the table referrals is used for the index, thus apparently it cannot be 2047 long, thus I will undo the change. The new PR is coming...

[2016-03-04 01:12] asmecher commented on #1143
Tweaked per @NateWr and @willinsky.

[2016-03-04 08:51] NateWr commented on #1208
From alec:

So this can be reverted to a regular file grid.

[2016-03-04 22:06] asmecher commented on #1170
This should fix it.

[2016-03-05 00:44] asmecher opened #1222 "Assign sub editors by section/series"
Submissions should automatically be assigned to the Series/Section Editors configured in the section/series edit form.

This will also require editing the test data to remove manual assignments; previously they were not made automatically.

[2016-03-05 00:51] asmecher commented on #1222
PRs:

- https://github.com/pkp/pkp-lib/pull/1223
- https://github.com/pkp/ojs/pull/778

The logic here is not all that trivial. Basically, it goes, when a submission is completed:
1. It's assigned to every user group associated with the submission stage, that only has one person in it.
2. It's also assigned to the submitting user, with the first Author role it can connect them to.
3. It's also ass

[2016-03-05 01:02] asmecher commented on #1222
@stranack, does the above logic make sense to you? I wish there was a way of simplifying this -- any time we start building a long ruleset it tells me we're overcomplicating things in a way users will also be confused about.

[2016-03-05 01:40] stranack commented on #1222
I'm probably missing something, but can we not just follow the simple
OJS 2 logic?

New submissions are considered "unassigned" unless the author chose a
section that has one or more section editors assigned. In that case,
each section editor assigned to that section gets the new submission
added to his/her queue.

Can we start this way, and if we get feedback that this is insufficient,
revise for

[2016-03-05 18:14] #1222 closed

[2016-03-06 21:00] mtub opened #1225 "[OMP] add Catalan (ca_ES) locale"
Add a new locale to OMP: ca_ES (Català).

Files provided by @marcbria, credits: see https://pkp.sfu.ca/wiki/index.php?title=OMP:_Catalan_(ca_ES)

Update OMP repository and OMP plugins.

[2016-03-07 11:27] NateWr commented on #1170
The discussions grid is still broken.

![pkp-discussions-empty](https://cloud.githubusercontent.com/assets/2306629/13568106/0c2c9c6c-e457-11e5-865e-5d7d32804718.png)

With most grids, the empty placeholder is a separate `tbody`. But in the discussions grid, the empty placeholder and the grid rows appear to be within the same `tbody`.

![pkp-discussions-empty-tbody](https://cloud.githubusercontent.

[2016-03-07 12:40] NateWr commented on #1208
I've converted the revisions grid over to a basic `FileListGridHandler`.

PR: https://github.com/pkp/pkp-lib/pull/1227

However, I'm a bit confused about the permissions. I only added the author role to the `fetchGrid` and `fetchRow` operations:

https://github.com/NateWr/pkp-lib/commit/09abd92cbaca3bbc7ce9806086cd5742cb7d8bd5#diff-5406fc0068e2f121d56a19f1765f9545R32

But they can still add/edit/d

[2016-03-07 12:42] NateWr opened #1228 "Authors can not review history for revisions"
Authors can view the information center for revisions and can review notes. But when they click the History tab, they get an error saying their role does not have access.

I discovered this while working on #1208 but the problem exists in `master`.

[2016-03-07 14:49] NateWr commented on #1208
I added a couple commits to this PR which tidy up the style of the notification messages in the author dashboard.

- Style a list of notifications similar to the grid.
- Don't show a full message on the author dashboard (only available via click).

![pkp-review-author-notifications](https://cloud.githubusercontent.com/assets/2306629/13572722/afb32100-e473-11e5-911f-97f9f0461b7e.png)

- Clean up th

[2016-03-07 16:55] asmecher commented on #1208
Authors need to be able to upload files, but shouldn't be able to edit/delete files that aren't theirs. We'll talk about this in a sec, and I'll check before merging.

[2016-03-07 17:04] NateWr opened #1229 "Published date shown as soon as catalog entry created"
I toggled the Create Catalog Entry checkbox on for a submission that was still in the review stage, with no publication formats or anything. It appeared in the catalog as expected, but it shows a publication date, when it should probably show either nothing or a forthcoming date.

![published-date](https://cloud.githubusercontent.com/assets/2306629/13576641/98aacedc-e486-11e5-88f6-ac32b50c76ab.png

[2016-03-07 17:22] NateWr commented on #1212
I'm making some more sweeping changes to tidy up forms where I think we can nab some easy wins for clarity. Posting here for second-opinion if anything looks off.

![pkp-catalog-entry-monograph](https://cloud.githubusercontent.com/assets/2306629/13577148/f1fadb74-e488-11e5-8df2-c54ce0560f4d.png)

[2016-03-07 17:52] NateWr commented on #1212
I'm going to break it up into different PRs as I go to prevent lots of merge conflicts:

https://github.com/pkp/pkp-lib/pull/1230
https://github.com/pkp/omp/pull/230
https://github.com/pkp/ojs/pull/780

These PRs remove help text on the workflow stages and tidies up the catalog entry modal.

[2016-03-07 18:44] NateWr opened #1231 "Test frontend display logic"
Do a more comprehensive pass with the various display logic fron the frontend: what displays, when it displays, where it displays.

- [ ] Double-check that frontend accurately reflects test data.
- [ ] Check that monographs are exposed at the appropriate time.
- [ ] Check that publication formats are exposed at the appropriate time, with the appropriate access permissions.
- [ ] Check that downloa

[2016-03-07 19:20] crism commented on #1195
It looks like the query in `ArticleGalleyDAO::getGalleysBySetting()` is relevant here; my test installation has a completely empty `submission_galley_settings`, which seems odd.

[2016-03-07 20:45] asmecher commented on #1222
We discussed this today and decided that we're basically using the OJS 2.x approach, but with what seems to be some necessary complication due to the flexible role system and some design decisions made for OMP 1.0 based on discussions of problems with the OJS 2.x approach (hence the single-role-implies-assignment idea).

[2016-03-07 20:51] asmecher commented on #1222
Also ported to OMP.

[2016-03-07 20:59] mtub opened #1232 "[OMP] update es_ES locale"
Update OMP locale: es_ES (Español (España)).

Files provided by @marcbria, credits: see https://pkp.sfu.ca/wiki/index.php?title=OMP:_Spanish_(es_ES)

Update OMP repository and OMP plugins.

[2016-03-07 22:27] asmecher commented on #1212
Merged/cherry-picked the above 3, and will watch for Travis complaints.

[2016-03-07 22:32] crism opened #1234 "[OJS] silly code left from refactoring"
[code]

[2016-03-07 23:03] asmecher commented on #1234
I can't help but read 1234 as a sample issue number.

[2016-03-07 23:03] #1234 closed

[2016-03-07 23:26] crism commented on #1234
@asmecher, I know—I did a double-take after submitting. Then I figured I’d won some kind of prize. `(-:`

[2016-03-08 10:44] NateWr opened #1236 "Email template tags look like buttons"
The email template tags are confusing users because they look too much like buttons. Re-style them to not look clickable.

![email-template-tags](https://cloud.githubusercontent.com/assets/2306629/13599429/be9f97fa-e51a-11e5-90ae-66617eb31ae6.png)

[2016-03-08 10:51] NateWr commented on #1236
@asmecher Fixed the styles in https://github.com/pkp/tinymce/pull/7. Do you want PRs for OJS/OMP to update the submodule? Or just let you pick it up when you make the rest of the changes we discussed?

[2016-03-08 12:50] NateWr commented on #1212
Does anyone know what **Restricted** means here in the Series form:

![pkp-series-restricted](https://cloud.githubusercontent.com/assets/2306629/13602090/53bbb47a-e52c-11e5-8bd7-0b8c02159af7.png)

[2016-03-08 15:44] beghelli commented on #1229
I think you can still use the publication date field and set it to a future date. I would try to use that, it makes more sense than having another field. But I agree that the default should be to present "no publication date available" or something instead of the current day that the catalog entry was created and made available...

[2016-03-08 15:44] beghelli commented on #1231
It would be great if we could, while doing this check, write tests also...

[2016-03-08 15:47] jmacgreg opened #1238 "[OJS] Article publication date incorrectly set to "today""
Article publication dates (that is: published_articles.date_published) appear to be set incorrectly to "today" when scheduling an article for publication to an issue that has already been published. The article's publication date should be set to the issue's publication date (issue.date_publicatished) by default. The only time articles should receive a different publication date is if the article

[2016-03-08 16:00] mfelczak opened #1239 "[OHS] Dash instead of record title in browse listing"
Some records include incomplete multi-lingual metadata. When the title is present in one language, but not others, an empty value is sometimes used for the title in the browse listing (screenshots attached).

Modify the current default to always use a non-empty value instead.

![ohs_record_list](https://cloud.githubusercontent.com/assets/200793/13606986/46ebc222-e51c-11e5-831f-81b340033f1c.png)
![

[2016-03-08 16:04] NateWr commented on #1229
Do you know how to find this publication date field in OMP? Not seeing anything under Catalog Entry.

[2016-03-08 16:10] bozana commented on #1229
I think you cannot set that dayte -- the date that is displayed on the catalog page -- just the dates for the each publication format. S. https://pkp.sfu.ca/support/forum/viewtopic.php?f=25&t=13905 and https://pkp.sfu.ca/support/forum/viewtopic.php?f=40&t=13443 from earlier...

[2016-03-08 16:19] beghelli commented on #1229
Ok, so I was dreaming with that then, sorry.

2016-03-08 13:10 GMT-03:00 bozana <notifications@github.com>:

[2016-03-08 16:37] asmecher commented on #1212
@NateWr, when that's checked, the series will not be available during the submission process for new submissions. That's a less than perfectly clear label, I'd say.

[2016-03-08 16:39] asmecher commented on #1236
Thanks, @NateWr -- don't worry about the submodule commits.

[2016-03-08 16:39] #1236 closed

[2016-03-08 17:52] NateWr commented on #1212
Thanks @asmecher. Got that fixed along with a bunch of string changes for the Press > Settings page.

The following PRs tidy up the Press > Settings forms. With clever wording, I was able to merge a bunch of strings kept in `ojs` and `omp` into `pkp-lib` as well.

https://github.com/pkp/pkp-lib/pull/1241
https://github.com/pkp/ojs/pull/783
https://github.com/pkp/omp/pull/231

I haven't done a care

[2016-03-08 19:15] ubermichael opened #1242 "[OJS] Missing mime_content_type function prevents downloading deposits"
There's at least one OJS instance out there running without the mime_content_type function available. It's strange, that function should be available in the default PHP install that they're running (5.4.45).

The PLN plugin doesn't check for the function before calling it, causing a fatal error if it isn't available.

[2016-03-08 19:20] asmecher commented on #1242
That function is deprecated in favour of the finfo suite of functions; see String::mime_content_type for an OJS implementation that checks for 3 different options and uses what's available.

[2016-03-08 19:33] ubermichael commented on #1242
Interesting. There's no mention of it being deprecated on http://php.net/manual/en/function.mime-content-type.php.

Thanks Alec.

[2016-03-08 19:35] crism commented on #1195
Nope, I was wrong about the source of the problem. It’s much simpler. The template `article_details.tpl` asks for `$article->getGalleys()`, which simply returns all the galleys of an article.

I’m not sure the right design approach here (@asmecher?)—would a separate accessor `getApprovedGalleys()` be appropriate, or an optional parameter to `getGalleys()`?

[2016-03-08 19:46] ubermichael commented on #1242
The PR now uses the String::mime_content_type function.

[2016-03-08 20:06] asmecher commented on #1242
Looks good, thanks -- merged.

[2016-03-08 20:06] #1242 closed

[2016-03-08 20:42] bozana commented on #1178
@NateWr, regarding the remained issue here i.e. recommendation set up by an editor: do you think that an editor should be able to choose a recommendation instead of a reviewer (e.g. only if there is no reviewer recommendation) or should an editor also be able to change the existing reviewer recommendation?

[2016-03-08 20:43] mfelczak commented on #1239
fixed

[2016-03-08 20:43] #1239 closed

[2016-03-08 20:54] mfelczak opened #1244 "[OHS] Clean-up record titles and field values"
Currently these are escaped and displayed inline with text, e.g. `<p><strong>Resumen</strong></p>`

[2016-03-08 22:02] asmecher commented on #1212
Thanks, @NateWr, merged. I'll watch for Travis to see what happens -- it's having some weird (probably load-related) behavior today.

[2016-03-08 22:19] asmecher commented on #1212
(I'll leave this issue open in case you're still working on something for 1.2.)

[2016-03-09 00:38] asmecher commented on #1170
@beghelli, could you take a look at this? Best I can tell, the problem was introduced with grid features.

It seems to me that we need to create a `tbody` for the first row that's added to a grid, but currently the grid handler is adding the row to the `tbody.empty` placeholder. I'm a little lost in considering grid features, category grids, etc., which I suspect you're more conversant with.

With

[2016-03-09 13:09] bozana commented on #1178
@asmecher, I've just realized, that when I click on the "Go Back" button a new tab is opened, is there a possibility/a parameter, that I could use to tell the action to stay in the same window? THANKS!!!

[2016-03-09 13:14] beghelli commented on #1170
Sure, taking a look at it.

[2016-03-09 13:17] bozana commented on #975
When I am logged in as a reviewer, I can see the "New Submission" button on my submissions page. When I click on it, I get the page with the message "The current role does not have access to this operation.". Wouldn't it then maybe be better not to show that button at all?

[2016-03-09 13:39] bozana opened #1245 "About the Site description"
The field "About the Site description" in Administration > Settings cannot be saved -- the form field name in template is wrong.
PRs:
OMP master: https://github.com/pkp/omp/pull/233
OMP stable: https://github.com/pkp/omp/pull/234
OJS master: https://github.com/pkp/ojs/pull/786

[2016-03-09 13:54] beghelli commented on #975
Sure. I think we can check for the user roles before showing this button,
right on the template file. We have an object that's always accessible in
templates that stores the roles the current user has. An example:
https://github.com/pkp/pkp-lib/blob/master/templates/common/header.tpl#L73

2016-03-09 10:17 GMT-03:00 bozana <notifications@github.com>:

[2016-03-09 14:21] bozana commented on #989
@NateWr, I am not sure if these questions belong to this issue: Is there a possibility to see the site (index) page? How to switch the view from one press/journal to another and to the site page?

[2016-03-09 16:52] mfelczak opened #1246 "[OHS] fatal error for invalid OAI url when adding/editing archive"

[2016-03-09 17:06] NateWr commented on #1212
Yeah still got more to look over...

[2016-03-09 17:10] NateWr commented on #1178
@bozana I'm in favor of allowing the editor to do whatever (for instance, maybe they had a chat with the reviewer directly and the reviewer said "yeah ok switch my recommendation). But obviously it would be good if this change is logged somewhere. Do we have a reviewer history log anywhere that these decisions are recorded?

[2016-03-09 17:12] NateWr commented on #975
@bozana Would you create an issue for that against the OMP 1.2 milestone so it doesn't get forgotten? The rest of this issue will probably not get tackled until after 1.2 is out.

[2016-03-09 17:16] asmecher commented on #1245
Merged, thanks!

[2016-03-09 17:16] #1245 closed

[2016-03-09 17:17] NateWr commented on #989
@bozana We removed the frontend press/journal switcher because we (I?) felt it wasn't really of much interest for the majority of users on the frontend. I'd expect if a publisher wants a link back to the main site that they'll add it in the footer or have a customized header of some kind.

[2016-03-09 17:23] NateWr opened #1247 "[OJS] Custom stylesheet not loaded on frontend"
A custom stylesheet added via **Settings > Website > Appearance > Journal style sheet** is not actually linked on the frontend.

[2016-03-09 17:28] #1246 closed

[2016-03-09 17:34] asmecher commented on #1178
@bozana:

I think you'd probably need to do this yourself in a JS handler -- something like...
    $element.tabs({active: 1});

[2016-03-09 18:29] NateWr commented on #1212
What does it mean if the "Accept a Competing Interest Statement" checkbox is checked? Does checking this add a field to the submission form or something?

![accept-ci-statement](https://cloud.githubusercontent.com/assets/2306629/13645868/e1a38e54-e624-11e5-9f45-e8d616cc3f0d.png)

[2016-03-09 18:39] asmecher commented on #1212
When checked, Reviewers will be asked for a competing interest statement during the peer review.

[2016-03-09 19:39] bozana commented on #989
Yes, ok @NateWr :-) Do you maybe know how is the URL for the main site? 'index' is always redirecting me to the press page -- maybe this is a bug?

[2016-03-09 20:19] bozana opened #1248 "Consider user rights/role for the "New Submission" button display"
Display the "New Submission" button only if the user is allowed to make a submission. S. https://github.com/pkp/pkp-lib/issues/975#issuecomment-194306456.

[2016-03-09 21:34] bozana opened #1249 "implement the possibility to open the cancelUrl in the specific window"

[2016-03-09 21:42] crism commented on #1195
Or…we could ask each galley if it’s been approved, in the handler. I think that’s probably the best approach.

[2016-03-09 21:45] bozana commented on #1178
@NateWr, I'll take a look... THANKS!!!
@asmecher, I think it should be solved in another way ;-) -- I made PRs for that... THANKS!!!

[2016-03-09 21:56] crism commented on #1195
We need a combination. The templates make Boolean decisions based on `$article->getGalleys()`; it would be very useful to have a single method that returns an empty list if no galleys are approved, so I suggest `$article->getApprovedGalleys()`. That would (on `PublishedArticle`) call `getGalleys()`, then filter based on `getIsApproved()`.

The next question is, what if a galley is approved, but ha

[2016-03-09 23:07] crism commented on #1153
I can’t reproduce this. I think that perhaps the author uploaded a new Review File, rather than uploading a Revision; uploading a Revision, then revising that Revision, works just fine for sending to external review. Closing.

[2016-03-09 23:07] #1153 closed

[2016-03-10 00:02] asmecher commented on #1195
@NateWr, FYI, in case it's also relevant to your OMP 1.2 front-end review.

[2016-03-10 08:39] NateWr commented on #989
I think you need to have multiple presses set up under **Administration > Hosted Presses**.

[2016-03-10 08:44] bozana commented on #989
I have...

[2016-03-10 08:45] NateWr commented on #1212
:+1:

[2016-03-10 08:46] NateWr commented on #989
Check the press settings for something like a "default press" maybe? I'm not entirely sure.

[2016-03-10 08:46] bozana commented on #989
Ah... OK... When I am logged out then I can see it. When I am logged in then not :-O

[2016-03-10 09:25] NateWr commented on #1123
Sorry for arriving late to the party on this one. Looking at https://github.com/pkp/ojs/pull/787 was the first time I noticed the new support for remote files.

I have some UX concerns with how this is presented in the workflow and I'd like to at least have a discussion and set down a roadmap for working them out. The publication formats represent the most complex part of our workflow so we should

[2016-03-10 09:30] NateWr commented on #989
To be honest, I'm just not really sure about the overall site index pages and haven't spent much time on them. I think this is more common with OJS than OMP and so may be more neglected in OMP.

Perhaps we need to discuss this further with @asmecher. @bozana can you post a comment in #1231 since that's filed against OMP 1.2?

[2016-03-10 09:52] bozana commented on #1123
Yes, this is not easy... Here maybe some more points for consideration:
When I was reviewing/testing the changes I thought that maybe user/editor would like, for some reason, to have the publication file in the system (so that e.g. the editorial team can do something with it, e.g. to track the changes/revisions) but not to show it to the readers. Thus, I thought it is maybe good to leave this deci

[2016-03-10 09:54] NateWr commented on #1212
Took a quick look at the email template descriptions and they look good (didn't look at templates themselves). Questions about:

I was unable to find this **Notify Users** link. Any idea where I can find it to update the language?

![email-template-notify-users](https://cloud.githubusercontent.com/assets/2306629/13665765/ec82a540-e6a5-11e5-8bd7-623b94f6b7eb.png)

---

These two reference options i

[2016-03-10 10:02] NateWr commented on #1212
New round of PRs which cover the appearance and review settings pages:

https://github.com/pkp/pkp-lib/pull/1252
https://github.com/pkp/ojs/pull/788
https://github.com/pkp/omp/pull/236

(still more to do)

[2016-03-10 13:26] mtub commented on #1225
Phew. Completed for now.

[2016-03-10 13:26] #1225 closed

[2016-03-10 16:44] asmecher commented on #1212
Merged the above three, thanks.

The "Notify Users" link is an OJS 2.x feature permitting managers to send out mass emails. It's not implemented in OJS 3.0 yet, and may not make the 3.0 release, but best to leave that in place for the moment, I think. We can use the translation later, and upgrading users will continue to have existing email templates in place until we do revamp that feature.

The

[2016-03-10 17:08] crism commented on #1123
@NateWr, I’m completely down with changing the editing interface; I’m not terribly comfortable with AJAXy dynamic UIs, and did the minimum to get it working. IMO, that’s a separate issue, but I don’t have a strong opinion on that.

As for metadata—I wonder. From a discoverability perspective, a Scalar instance might do a good job of providing that, but a hand-crafted Web app or Flash animation mig

[2016-03-10 17:20] beghelli opened #1254 "Canceling closing a modal with changed form data doesn't work"
If you open a modal that presents a form, change something on that form, then press the X icon of the modal, the form will ask you if you really want to leave with unsaved changed data. If you say cancel, it will close the modal anyway.

[2016-03-10 17:37] crism opened #1255 "[OJS] File uploader UI appears broken"
In OJS 3 `HEAD`, the file upload interface has a notification: “The system file uploader is loading, …” followed by the unstyled drop zone and a button that says “Upload File Change File.”

The underlying HTML appears identical to the file upload space in OMP `HEAD`; some JavaScript isn’t firing correctly.

This is surprising, since the underlying `pkp-lib` should be identical (I update daily).

[2016-03-10 17:41] asmecher commented on #989
We decided not to implement a site-wide page for OMP, since presses seem not to brand themselves in groups the same way journals do. So OJS should have a site-wide index page listing all journals, and OMP should not for presses.

[2016-03-10 17:51] asmecher commented on #1255
Try...

    rm cache/*.css
    rm cache/*.php
    rm cache/t_compile/*.php
    cd lib/pkp
    php composer.phar update

[2016-03-10 17:55] crism commented on #1255
Sorry, @asmecher—you’re absolutely right. I’ve gotten in that habit with OMP, but not yet with OJS for some reason. `d-:`

[2016-03-10 17:55] #1255 closed

[2016-03-10 19:16] crism opened #1256 "[OJS] close button unresponsive in reviewer’s Submission Details modal"
Against `HEAD`:

As a reviewer, I receive an assignment. On the first page (`.../test/reviewer/submission/4`), there is a link, “View All Submission Details.” It brings up a modal dialog with a button at the bottom labeled “Close.” That button is unresponsive, as far as I can tell. The X at the top of the modal dialog works just fine.

[2016-03-10 20:02] crism opened #1257 "[OJS] include reviewers in review-round discussions"
Against `HEAD`:

While testing OJS with a journal editor, we drew his attention to the Review Discussions part of the Review stage tab. He immediately assumed that it could be used for discussions with the reviewers, as well as with the author. While individual reviewers can be contacted by e-mail, there’s no in-system way to have a group discussion between the editor and multiple reviewers.

It w

[2016-03-10 20:23] asmecher commented on #1257
@stranack raised something similar recently. Kevin, what do you think about the approach @crism is proposing? I worry it might muddy where the reviews live.

[2016-03-10 20:50] ctgraham commented on #1204
It turns out I don't have a journal with published remote galleys, but removing the attribute in this case makes sense to me.  Sorry I can't test it with some real data.

[2016-03-10 21:13] jmacgreg commented on #1204
Yep, agreed here.

[2016-03-10 21:27] crism commented on #1148
This behavior is evident in OJS `HEAD` as well. When an editor requests revisions, the author receives a nice e-mail with the request. He also receives a notification that there is a message within OJS; that message is the same one that was e-mailed.

[2016-03-10 21:54] crism opened #1258 "[OJS] “Resubmit for Review” button is unclear"
In `HEAD`, in the review stage of a submission, there are four buttons. Three of them are predicates of which the editor is the subject: “Request Revisions,” “Send to Copyediting,” “Decline Submission.” One has the author as the subject: “Resubmit for Review.” The intent is to ask the author to submit revisions which will be further reviewed, but this was unclear to a journal editor (and to us) wh

[2016-03-10 21:55] asmecher commented on #1258
@stranack, as a data point for your review-stage feedback.

[2016-03-10 22:11] crism opened #1259 "[OJS] author revision dashboard needs clearer instruction"
When an author is requested to submit revisions, the request includes a link to a URL like `.../test/authorDashboard/submission/4`. This displays the request, plus a grid for Revisions. In our testing, it was not immediately clear to the author that the desired action was to upload files in that grid. Either the default notice, or (better) some help text on that page, should instruct the author ho

[2016-03-10 22:13] asmecher commented on #1259
Likewise, @stranack, for your review stage feedback.

[2016-03-10 22:16] crism opened #1260 "[OJS] send to copyediting should select revisions by default"
In `HEAD`: After the author has submitted revisions, when the editor sends the submission to copyediting, the revision files are not selected by default. I can’t think of a good reason why not.

[2016-03-10 22:20] crism opened #1261 "[OJS] author gets inappropriate message in production stage"
Against `HEAD`: When an author’s submission is in production, and the link is followed from the submissions dashboard, the author gets the message, “Stage not initiated.” There is no reason to give the author access to the production dashboard, but the rejection message is false and confusing.

A trivial fix is to change the message to something more accurate. A better fix would be to give the aut

[2016-03-11 07:14] mtub commented on #1232
Closing… thanks @marcbria, @asmecher.

[2016-03-11 07:14] #1232 closed

[2016-03-11 12:57] mtub opened #1262 "[OMP] update de_DE locale from omp-dev-1_1 to master"
* de_DE locale needs updating
* port `omp-dev-1_1` locale to `master`
* update according to latest en_US locale updates (`master` branch)

Opened this issue to track necessary updates in omp and pkp-lib repositories.

[2016-03-11 17:40] bozana commented on #1178
@NateWr, maybe we can then change the milestone to OJS 3.0 because the remain issue about review recommendations is only relevant for OJS, right? -- There are no recommendations in OMP, right?

[2016-03-11 17:45] #1249 closed

[2016-03-11 17:56] bozana commented on #1123
One more point to consider: Is it imaginable to use the remote URLs for linking to books on amazon or book-on-demand/print-on-demand or another seller? Maybe in that case to leave the format list as it is but to add additional checkbox "Remotely-hosted content"...

[2016-03-11 18:30] bozana commented on #440
Hi @asmecher, 100 years later... :-) I do understand to remove the automatically assignment of a journal/press manager role to the admin user. But, where and how to allow/enable the role self-assignment for the admin? At the end of the settings wizard there is the users management page. Should there be just an info for the admin, that he/she can edit his/her user and assign himself/herself further

[2016-03-11 19:21] asmecher commented on #1032
Work proceeds. Some issues:

- [ ] @NateWr, Opening the help panel from within a modal results in the help panel expanding, but darkened.
- [ ] @NateWr, The next/previous navigation links might need styling. (Will demo on Monday.)
- [ ] "New Catalog Entry": need help for modal; also each tab. Will look cluttered. (Not linked yet; will demo on Monday.)
- [ ] Chapter 4 unlinked pending rewrite into

[2016-03-11 20:25] asmecher commented on #1032
I added a quick check tool to the Travis builds that tests the linkage between the system and the help files.

If a help file is missing, then it generates a test failure.

It also generates a list of files in the manual that are not linked from anywhere in the code. See e.g. the end of
https://travis-ci.org/asmecher/omp/jobs/115401654 (starting with "Unreferenced help files:").

[2016-03-11 21:51] bozana commented on #1157
@crism, could you please test the commit above? -- I think this solves the issue... :-)

[2016-03-11 23:21] bozana commented on #1157
Sorry @crism, I think now it should be fine -- could you please take a look at only this last commit?

[2016-03-12 02:24] asmecher commented on #1032
More little bits and pieces:
- [ ] @stranack, the setup form corresponding to `chapter6/website/navigation.md` has been removed so that file can too.
- [ ] @stranack, Chapter 6 doesn't appear to have any help areas for most of the Settings > Workflow area

[2016-03-14 08:41] NateWr commented on #1212
Thanks @asmecher. So is the "Notify Users" feature ever planned for OMP or could it be removed from there?

[2016-03-14 09:39] NateWr commented on #1123
Thanks @bozana and @crism. I suppose the metadata should stay then.

I still think we should disable file management for remotely-hosted formats. If editors want to track changes, this isn't really a great way to do that since we can't enforce any kind of 1-to-1 relationship between the files in the system and the remotely-hosted item.

The few who really want to store the file in OJS can use othe

[2016-03-14 09:59] NateWr commented on #1258
I'm not sure of the technical implications, but I think it could be good to roll the "Request Revisions" nad "Resubmit for review" into the same modal.

Perhaps there could be a radio button grouping with two options:

- Revisions will not require a new round of reviews
- Initiate a new review round for these revisions

[2016-03-14 10:03] NateWr commented on #1256
@crism, would you mind testing again against latest master? I remember that close button but can't remember if I actually fixed it or not.

[2016-03-14 10:22] NateWr commented on #1212
So I'll remove the email references for review actions in attachment mode. Can I also remove references to "one-click" mode?

[2016-03-14 11:16] NateWr commented on #1212
What's the difference between these two options in Settings > Distribution > Permissions?

![selection_005](https://cloud.githubusercontent.com/assets/2306629/13742844/2e71087e-e9d6-11e5-9f97-c9ffaa12cf5f.png)

[2016-03-14 13:13] NateWr opened #1263 "Native XML export doesn't work for OMP and OJS"
I get a mostly empty XML file when trying to run the Native XML export function for OMP and OJS.

[code]

Not sure if this is something that needs to be fixed for OMP 1.2...

[2016-03-14 13:20] NateWr opened #1264 "Some import/export pages don't work in OMP"
The **Tab Delimited Content Import Plugin** and **ONIX 3.0 Monograph Export Plugin** links under Tools > Import/Export both lead to broken pages.

Should they be fixed or removed for OMP 1.2?

[2016-03-14 13:34] NateWr opened #1265 "Broken reports pages"
The reports have a few issues:
- [x] In OJS, the custom report generator has a dynamically loaded container that fails to load and prints an error<sup>1</sup>.
- [x] In OJS, the Articles Report link causes a fatal error<sup>2</sup>, as does the Review Report<sup>3</sup>.
- [ ] The custom report generator could use some work in tidying up the form layout and styles for clarity.

The UX issues are i

[2016-03-14 13:43] beghelli commented on #1265
@NateWr, for the first error, can you check if you have the folder plugins/reports? Without it the reports plugin category will not initialize and the UsageStats plugin will have no chance to register its report plugin, the one that implements the default OJS metric type.

[2016-03-14 13:45] NateWr commented on #1265
Yeah I have `/plugins/reports/` in my OJS folder and it includes four directories: `articles`, `reviews`, `subscriptions` and `views`.

I do not have a `/lib/pkp/plugins/reports/` directory.

[2016-03-14 13:55] beghelli commented on #1265
Is your database old? I committed the stats work a few months ago, maybe you need to upgrade your database to make sure the UsageStats plugin is installed and enabled. My installation using OJS master opens the report generator with no problem.

[2016-03-14 14:10] NateWr commented on #1265
Could be the case. I haven't updated the db on my OJS installation for a while.

[2016-03-14 14:47] bozana commented on #1201
@asmecher, I've checked it in OJS 2.4.x and there the reviewers from the previous review round are automatically selected. The review request e-mail still has to be sent by the editor. I am not sure if we could/would like do this here in master too -- automatically selecting the reviewers from the previous round -- because the reviewer selection and the review request e-mail are both in one step i

[2016-03-14 14:50] bozana commented on #1248
@beghelli, is it so that only author role can use this button?

[2016-03-14 15:43] NateWr commented on #975
Dumping a quick thought on improving the clarity around file revisions.

![selection_007](https://cloud.githubusercontent.com/assets/2306629/13749986/833706ea-e9fb-11e5-94f4-e6038f72c0cc.png)

![selection_006](https://cloud.githubusercontent.com/assets/2306629/13749989/862d5408-e9fb-11e5-901f-7f8a1fd19bfe.png)

[2016-03-14 15:45] crism commented on #1123
I’d be fine with no files for remotely-hosted content. I can kind of see using that for revision tracking of that remote content, but that be done via other kinds of files, and @NateWr is right that some users will feel they ought to put something there if there’s a place for it.

[2016-03-14 15:47] bozana commented on #1123
I agree... :-)

[2016-03-14 16:43] NateWr opened #1267 "Discussions grid message styles need work"
![selection_008](https://cloud.githubusercontent.com/assets/2306629/13751834/e7802804-ea03-11e5-8ae9-a3233147544f.png)

[2016-03-14 16:51] NateWr commented on #1256
No need to re-test @crism. Just came across this is my own testing and it will be removed in some forthcoming commits connected to #1212.

[2016-03-14 16:52] NateWr commented on #1212
Should this be a tinymce field or should I remove the <br> tags from the default message?

![selection_009](https://cloud.githubusercontent.com/assets/2306629/13752102/114031d8-ea05-11e5-9955-42f8da8d80fd.png)

[2016-03-14 17:08] bozana commented on #1031
Do I understand it correctly:
Now we have the setting for the time zone in the config file. This setting is then applied to PHP in PKPLocale::initialize. It is not applied to the DB, but it should. Right?
Should this be applied to the DB in the PKPApplication constructor? Something like this: "$dbconn->Execute('SET time_zone = ...')"?

[2016-03-14 18:01] bozana commented on #411
Hi @asmecher and @beghelli, should I then orient myself on the reviewer assignment search and filter and try to implement it here too? Maybe just one thing to change: All reviewer are listed and it can be search within them. Because the list of persons here (e.g. authors) could be too long, maybe to have just a search with auto suggestion/completion? THANKS!!!

[2016-03-14 18:08] NateWr opened #1268 "Reviews ready notification displays in author review round"
When reviews are submitted, a notification appears in the author dashboard. This is good but could lead an author to think that they should be able to view the reviews.

![selection_010](https://cloud.githubusercontent.com/assets/2306629/13754646/ab4a3152-ea0f-11e5-8bd9-f2aad4160dc7.png)

The same notification message is used for editors and authors, but it would be nice if authors had a unique me

[2016-03-14 18:13] NateWr opened #1269 "OMP doesn't have a place for internal review stage guidelines"
There's a place to enter External Review Guidelines (Settings > Workflow > Review) but not Internal Review Guidelines. And the external guidelines are not re-used for the internal review.

As a result, there's a broken modal pop-up on step 3 for reviewers which tries to open guidelines.

[2016-03-14 18:18] NateWr opened #1270 "Empty editor decisions list for copywriter"
In some cases in the workflow an empty editor decisions list may be printed, for instance in the Copyediting tab when logged in as a copyeditor. This should be a quick fix, but check all tabs.

[2016-03-14 18:22] NateWr opened #1271 "Copyeditor can not initiate discussion with author"
When logged in as a copyeditor assigned to the copyedit stage, I'm having trouble initiating a discussion with the author.

I can select the author, and the discussion appears in my discussions table, but there's a PHP Warning in the error log and the discussion never appears in the author's discussions table.

[code]

[2016-03-14 18:34] NateWr commented on #1212
New round of PRs which cover final settings/tools/admin pages as well as the submission, review and author workflow.

https://github.com/pkp/pkp-lib/pull/1272
https://github.com/pkp/omp/pull/241
https://github.com/pkp/ojs/pull/790

The only thing left after this is the catalog page which I'll hit after Bruno's revamp.

[2016-03-14 18:34] NateWr commented on #1256
The PRs in [this issue comment](https://github.com/pkp/pkp-lib/issues/1212#issuecomment-196459844) should fix things. Once they're merged this can be closed.

[2016-03-14 18:43] asmecher commented on #1208
Pulls:

https://github.com/pkp/pkp-lib/pull/1266
https://github.com/pkp/omp/pull/240/files
https://github.com/pkp/ojs/pull/791

[2016-03-14 18:44] asmecher commented on #1208
Merged. Thanks, @NateWr -- several KLOCs removed.

[2016-03-14 18:44] #1208 closed

[2016-03-14 19:27] asmecher commented on #1256
Done!

[2016-03-14 19:27] #1256 closed

[2016-03-14 19:49] bozana opened #1273 "Check for installation test"
The last check for the installation test is: $this->waitForElementPresent('link=login');
In OJS 2.4.x there is always the "Login" link in the navigation bar, so that the test passes also if the installation was not successful -- for example if an error was displayed in the installation form. This is not the case for the current master branch -- the "Login" link comes first after the installation,

[2016-03-14 19:59] asmecher commented on #1273
Merged, thanks! Needs cherry-picking.

[2016-03-14 20:09] asmecher commented on #1271
I couldn't duplicate the behavior here, but the attached commit should fix it.

[2016-03-14 20:09] #1271 closed

[2016-03-14 22:40] crism commented on #1157
Sorry, @bozana—I wasted some time trying to test this against `HEAD`; didn’t realize you were on your own branch. I’ll play more with it tomorrow.

[2016-03-14 22:40] crism commented on #1256
Good to know, @NateWr—thanks.

[2016-03-14 22:58] bozana commented on #1123
@NateWr, I removed the "Upload File" and "Select Files" links, if the publication format has a remote URL. Would this be OK so:

![remotepubformats](https://cloud.githubusercontent.com/assets/378421/13762488/9c618872-ea3f-11e5-9717-cf321de943e5.png)

I've also taken a look how to remove the availability action, but it seems not to be that easy :-( The column has to stay, because of the other publi

[2016-03-14 23:00] bozana commented on #1157
Oh, sorry for that @crism :-( THANKS!!!

[2016-03-14 23:19] asmecher commented on #1032
Merged pulls:

https://github.com/pkp/ojs/pull/793
https://github.com/pkp/omp/pull/242
https://github.com/pkp/pkp-lib/pull/1276

OJS needs...

- [ ] its help docs re-forked and adapted from OMP when that's in a good state...
- [ ] the help test script added to its `.travis` (as per OMP)

Otherwise it should be good to go. We'll come back to it during the sprint.

[2016-03-14 23:31] asmecher commented on #411
@bozana, hmm -- you're right, the current reviewer selection page does present all users. That's going to be a performance problem.

I think there's a lot of benefit in having the same tool used in both places, for consistency and simplicity.

I'd suggest adjusting the reviewer search so that it supports endless scrolling (using Bruno's grid feature) -- that'll solve the performance problem there

[2016-03-15 00:15] asmecher commented on #1032
@NateWr, there are more parts of OMP to integrate with the help documentation, but this is probably a good point for me to pause if you want to experiment. @stranack, drop a note here if you change the structure and I'll make sure it stays synced.

[2016-03-15 00:32] stranack commented on #1032
OK, I've changed the structure just now.

It is very basic, and largely page-based. We will need to decide where to break some of these pages down into sub-pages. This could be a sprint activity.

[2016-03-15 08:29] #1273 closed

[2016-03-15 10:22] NateWr commented on #1271
Fix confirmed. :+1:

[2016-03-15 10:40] nddf opened #1277 "[OJS] version 2.4.8: No export of sponsor in NativeExportDom.inc.php"
Hello,

The plugin does not export sponsor information in plugins/importexport/native/NativeExportDom.inc.php.
The following added code helped me out:

![sponsorfix](https://cloud.githubusercontent.com/assets/12379318/13775028/9a4fbf5a-eaa2-11e5-8da3-9cf85d42e630.png)

[2016-03-15 13:45] #1277 closed

[2016-03-15 14:16] mfelczak commented on #1031
Hi @bozana, that's my understanding, although note that setting the DB timezone will need to work for both MySQL and PostgreSQL.

[2016-03-15 14:24] ctgraham commented on #1277
@nddf , did you close this issue on purpose?  Our current practice is to leave the issue open until the pull request has been merged in.  I see you've created a PR here: https://github.com/pkp/ojs/pull/795

[2016-03-15 15:29] crism commented on #1123
@bozana, I like having the “Available” checkbox there—if the remote resource is unavailable for some reason, it would be easy for a manager to disable it in the catalog.

I do wonder about the “No Items” listing… I worry that a user might spend some time trying to figure out how to add items.

[2016-03-15 16:16] NateWr commented on #1123
@bozana, looks great! I agree with @crism about that *No Items* text. Kind of fighting against grids at this point but it'd be great to get rid of that.

I know that the Participants grid does something special to hide things when no items are present. Maybe there's a trick there?

And yes, @crism is right after all. Having that Available link on the right might not be so bad.

[2016-03-15 16:54] bozana commented on #1123
OK @NateWr and @crism. I will then leave the Available column as it is and will try to figure out how to remove, hide or solve the "No Items" row/text.
I believe one more question is still left from this issue: what to do with the remote URL input field, so that it is more user friendly?
THANKS A LOT!!!

[2016-03-15 16:57] crism commented on #1157
That seems to work, @bozana. Thanks!

[2016-03-15 17:00] crism commented on #1123
I like an additional checkbox, next to “Physical format,” which says, “Remote content,” or something like that. The URL entry area would only be displayed if that box were checked.

[2016-03-15 17:44] NateWr commented on #1032
Ok, we talked a bit about the Help link getting lost on the workflow stage tabs. I'm hesitant to move it straight up to the top of the right sidebar, because the editorial action buttons really provide a solid anchor to the composition of the page. It's been tough to bring some order to these tabs and so I'd really like to hang on for dear life to those buttons staying slotted right in that corner

[2016-03-15 18:00] asmecher commented on #1032
"Help" is one of those things I would least expect to jump around -- it's like a panic button. The user is already lost and making them chase the link is insult to injury. What about the original option of moving it into the top menu? That's where I would naturally expect to see it, and it's logically anchored to the panel that slides out with help content. Currently we don't ever have more than o

[2016-03-15 18:41] stranack commented on #1032
What about adding it (for now, at least) to the left or right of the View Site button at the top of the page? It would be consistent, but not disrupt the flow of the pages themselves?

[2016-03-15 18:50] NateWr commented on #1032
Are you talking about adding a help link in the global context bar that goes across the top? I'm all for that.

But it doesn't really solve our need for context-specific help links. If we have a global help link in the top bar, it needs to stay global, dumping the user in the table of contents at all times.

It would be incredibly disruptive to the overlapping contexts model we have in the UI if t

[2016-03-15 19:37] NateWr commented on #1032
Ok, I couldn't let this go. Thanks for pressing me on this. I think I've come up with a good approach for tabs (workflow, settings, and other tabs) which also sets the stage for some further improvements we can make for OJS 3.0 that will allow us to make the help link consistent whether or not a page uses tabs.

Here's the approach I propose for OMP 1.2. That link looks a little bit too much like

[2016-03-15 19:39] stranack commented on #1032
I like it a lot.

[2016-03-15 23:56] asmecher commented on #1032
I like it too. Could we use a similar visual cue for the title bar of a modal?

[2016-03-16 00:15] asmecher commented on #1212
From [this comment](https://github.com/pkp/pkp-lib/issues/1212#issuecomment-196407919):

All emails should now be TinyMCE-enabled. Not sure what's happening there but it could use a look.

From [this comment](https://github.com/pkp/pkp-lib/issues/1212#issuecomment-196263730):

Not sure if this answers the question, but the Copyright is e.g. `Copyright (c) 2016 by Alec Smecher` and the license is e

[2016-03-16 00:21] asmecher commented on #1212
From [this comment](https://github.com/pkp/pkp-lib/issues/1212#issuecomment-196204815):

I suspect we'll eventually need a way to send email notifications to users, so leave it out of the interface for now, but don't worry about cleaning out locale keys for the moment.

From [this comment](https://github.com/pkp/pkp-lib/issues/1212#issuecomment-196242657):

No, please leave references to "one-clic

[2016-03-16 08:22] bozana commented on #1157
Thanks a lot @crism! I made the PR https://github.com/pkp/omp/pull/243

[2016-03-16 09:51] bozana commented on #1123
@NateWr, shall there maybe be another text instead of "No Items", e.g. "Remotely hosted content - no items". This would help keep the same height for this white row. Else, if no text is there, then the row height is much smaller. Or do you know another trick? :-) And the white row should be there, I believe -- for two gray rows not to glue with each other. THANKS!!!

[2016-03-16 10:10] NateWr commented on #1172
PR: https://github.com/pkp/ojs/pull/797

[2016-03-16 10:17] NateWr commented on #1032
@asmecher, yes I think so (modals), but it will require some tweaking along with the style changes I proposed for OJS 3.0.

I will put some time in on this next week as my biggest priority. I will:

- Implement the new help location for all tabs or tab-like interfaces.
- Remove help links from modals *just for OMP 1.2*
- Revise the structure and content of the help text in line with our email disc

[2016-03-16 10:25] NateWr commented on #1178
@bozana, I think you're right. I haven't seen recommendations in my OMP testing.

[2016-03-16 10:29] NateWr commented on #1123
@bozana What about adding text that links to the external source, like:

This item is [remotely hosted](http://example.com/where-the-file-is).

[2016-03-16 11:12] bozana commented on #1123
@NateWr, for that I would need to give the remoteURL as a parameter to the translation key and those grid empty row texts don't consider the parameters at the moment, so I would have to adapt them in general, for any kind of parameter. I am not sure if this is that much necessary, but If you say, no problem, I would try to do that :-) Maybe just to write "This item is remotely hosted", without the

[2016-03-16 13:55] bozana commented on #1123
I added the Javascript that takes care of hiding and showing the remote URL input field:

![hideremoteurl](https://cloud.githubusercontent.com/assets/378421/13814537/ef94fcd4-eb86-11e5-82fd-8fb007147135.png)

![showremoteurl](https://cloud.githubusercontent.com/assets/378421/13814543/f5bf0ece-eb86-11e5-80de-2a5e316c48f8.png)

If everything OK (also the solution for the grid above), I could make th

[2016-03-16 16:16] crism commented on #1123
@bozana, I’m OK with the grid and the checkbox thing.

[2016-03-16 16:33] asmecher commented on #1172
Thanks, @NateWr!

[2016-03-16 16:33] #1172 closed

[2016-03-16 17:25] asmecher commented on #1032
Sounds good. I merged the current help stuff into `master` -- the amount of rebasing I was doing on `gitbook2` was going to cause trouble for collaboration. Go ahead and work from `master`.

[2016-03-16 17:27] NateWr commented on #1032
@asmecher I actually meant the help content itself. Is that managed in the repository linked as a submodule, or in a separate gitbooks area?

[2016-03-16 17:27] asmecher commented on #1157
I've merged that PR -- closing this issue for now, though I'd love to hear your feedback, @crism.

[2016-03-16 17:27] #1157 closed

[2016-03-16 17:29] asmecher commented on #1032
Oh -- that's at https://github.com/pkp/omp-user-guide. We haven't experimented with simultaneously editing via gitbook.io and github, so I'd suggest creating PRs and assigning them to @stranack so he knows what's happening.

[2016-03-16 18:25] asmecher commented on #1244
@mfelczak, is this ready to be closed?

[2016-03-16 18:27] asmecher opened #1278 "Remove "comments to editor" field on file upload"
Remove "comments to editor" field on file upload. It's confusing (e.g. to Reviewers, who try to paste their reviews there) and its intended role is more than covered by Discussions (via Workflow) and Notes (via Information Centre).

[2016-03-16 18:32] #1278 closed

[2016-03-16 18:50] mfelczak commented on #1244
yep, thanks -- closing.

[2016-03-16 18:50] #1244 closed

[2016-03-16 18:50] mfelczak commented on #1207
fixed

[2016-03-16 18:50] #1207 closed

[2016-03-16 18:51] mfelczak commented on #1206
fixed

[2016-03-16 18:51] #1206 closed

[2016-03-16 18:52] mfelczak commented on #1006
Ported to OHS.

[2016-03-16 18:52] #1006 closed

[2016-03-16 18:52] mfelczak commented on #1003
Added to OHS.

[2016-03-16 18:52] #1003 closed

[2016-03-16 18:52] mfelczak commented on #946
fixed

[2016-03-16 18:52] #946 closed

[2016-03-16 18:55] crism commented on #1157
This seems to work for me. I confirmed it was broken against a very recent previous commit, then pulled this, and it looked fine.

[2016-03-16 19:24] asmecher commented on #1268
@NateWr, is this an old checkout? That locale key ("New reviews ready") no longer appears in the codebase by my grepping.

[2016-03-16 20:20] asmecher commented on #1228
Thanks, @NateWr, I missed this as part of #1208.

[2016-03-16 20:20] #1228 closed

[2016-03-16 21:05] asmecher commented on #1248
@bozana, the submitting user currently needs to be in a user group that's got an author role:
https://github.com/pkp/pkp-lib/blob/master/classes/submission/form/PKPSubmissionSubmitStep1Form.inc.php#L34

[2016-03-16 21:27] asmecher commented on #1269
Good catch. I've fixed the missing OMP extension of the review form, which was supposed to add the "internal review guidelines" field, and adjusted the presentation in the reviewer's interface to properly distinguish between the two.

[2016-03-16 21:27] #1269 closed

[2016-03-16 22:13] asmecher commented on #1264
Fixed both, for now. The ONIX plugin needed some setup fields filled in (fixed the note for this), and the CSV plugin is command-line-only (added a placeholder note for this for now, it'll eventually be extended to the web interface too).

[2016-03-16 22:13] #1264 closed

[2016-03-16 22:27] crism commented on #1148
Actually, after deeper tracing, I think the problem is within `PromoteForm::execute()`, which calls `EditorDecisionForm::_initiateReviewRound()`, which eventually leads to `PKPNotificationOperationMaager::sendNotificationEmail()`, and then calls `EditorDecisionWithEmailForm::_sendReviewMailToAuthor()`. That will result in two e-mails being sent.

[2016-03-17 00:21] asmecher opened #1279 "Assess and improve Google Scholar indexing data"

[2016-03-17 00:21] asmecher commented on #1229
The ONIX data set includes a wide variety of options for publication dates, but they're all associated with the publication format, not the monograph, and it's not clear which dates of those we'd list.

[2016-03-17 00:24] asmecher commented on #440
I suggest leaving the automatic assignment as it currently stands, for informational reasons (normally it's the way people want things). But we also need to adjust the policy set so that Site Administrators implicitly have access to anything the Editor does, without needing a role assignment. That'll be valuable e.g. for institutional hosts to explore the installation, without needing to assign a

[2016-03-17 00:25] asmecher commented on #975
+1 to that mock-up, @NateWr. That's much clearer and a totally obvious improvement in retrospect.

[2016-03-17 00:27] asmecher commented on #1201
I don't think we want to assign & notify reviewers from previous rounds automatically. What about adding a filter option to the reviewer search that lists reviewers assigned to previous rounds? That would make re-selection of existing reviewers easy.

[2016-03-17 00:27] asmecher commented on #1263
Could you send me a DB dump and an ID for the submission that's failing export? I'll have a look.

[2016-03-17 09:18] bozana commented on #1263
I've just found a 'bug' in OMP, related to the native export: The reviewer files have no genre. Is this meant to be so? However, this produces the "Assertion failed" for https://github.com/pkp/pkp-lib/blob/master/plugins/importexport/native/filter/SubmissionFileNativeXmlFilter.inc.php#L89 and error "Call to a member function getName() on null" for https://github.com/pkp/pkp-lib/blob/master/plugins

[2016-03-17 10:46] NateWr commented on #1268
Sorry I changed that string to something else since taking that screenshot. Looks like the related message key is [editor.submission.roundStatus.reviewsReady](https://github.com/pkp/pkp-lib/pull/1272/files#diff-f69e5caa980791d6835909656e9eace7L523).

[2016-03-17 10:49] bozana commented on #1123
Thanks a lot @crism! I will then still wait what @NateWr says, before making the PR.

[2016-03-17 10:55] NateWr commented on #1123
Although it's a bit clearer, all we've really done is add an extra field. We still have the original problem whereby the majority of users will be asked to tick or not tick a box for something they're not really sure about.

I'd still really like to see Remotely Hosted added as an option to the Publication Format select field if possible. That way it's clear that this is effectively a *different k

[2016-03-17 11:01] bozana commented on #1123
@NateWr, I am not 100% sure, but I think that we would need both, the current publication format (ONIX data) because of the metadata, that we want to maintain and whether it is a remotely hosted content.

[2016-03-17 11:09] NateWr commented on #1123
*/me raises fist in the air* **NOOOOOOOOOOOOOOOO**

Ok let's go with what you've got, but can you update the checkbox label to be a bit more descriptive, like "This format will be available at a separate website"

[2016-03-17 11:12] bozana commented on #1123
What does this first sentence from you mean? Hihihihi :-) Sorry for my English... :-\

[2016-03-17 11:30] NateWr commented on #1123
Sorry, that first sentence is just voicing frustration that a clean UI solution doesn't quite support the feature set required. :)

[2016-03-17 11:32] bozana commented on #1123
A OK :-) Sometimes I am not sure what exactly something means... :-P Thanks! OK, I''ll then change the  checkbox label as you said....

[2016-03-17 14:04] bozana commented on #1123
Here are the PRs:
pkp-lib: https://github.com/pkp/pkp-lib/pull/1280
omp: https://github.com/pkp/omp/pull/245

This feature could then also be migrated to OJS 3.0...

[2016-03-17 15:41] bozana commented on #1248
@asmecher, thanks for pointing to the place in the code -- that helps! So actually, it is all groups with author role (ROLE_ID_AUTHOR) and assigned to WORKFLOW_STAGE_ID_SUBMISSION + all groups with manager role (ROLE_ID_MANAGER), s. https://github.com/pkp/pkp-lib/blob/master/classes/submission/form/PKPSubmissionSubmitStep1Form.inc.php#L81-L104

[2016-03-17 15:49] bozana commented on #1248
Hmmm... If I only have translator role that is not assigned to WORKFLOW_STAGE_ID_SUBMISSION, I am able to enter the submit step 1 and then I get this warning: "Your account does not currently have a role permitting new submissions, such as Author. Please double-check your account; you may be able to add a suitable role yourself by editing your profile. ". Then I am able to give myself the author r

[2016-03-17 16:31] asmecher commented on #1248
Yes, you're right -- managers and authors should be able to start submissions. We may get feedback that requires changes to this later, but I think that'll be a good start.

[2016-03-17 16:32] asmecher commented on #1248
Merged, thanks!

[2016-03-17 16:32] #1248 closed

[2016-03-17 16:48] bozana commented on #975
@NateWr, the commit above is just a small fix, I believe. The "submit in my role as..." section was/is usually not visible, so maybe you haven't seen it yet -- when displayed, it was in the same line with the "submission type" section:
![step1-1](https://cloud.githubusercontent.com/assets/378421/13853597/b558cf32-ec67-11e5-9823-07416befd97e.png)

Now I change it so that the next section is below i

[2016-03-17 17:09] NateWr commented on #975
You're right. Never seen that! The fix looks good.

[2016-03-17 17:12] bozana commented on #975
@NateWr, thanks! I made the PR: https://github.com/pkp/pkp-lib/pull/1282

[2016-03-17 17:33] stranack opened #1283 "Simplify Sponsors Page"
Both OMP 1.2 and OJS 3 have complicated settings for the sponsors page (under Settings > Journal or Press) - inherited from OJS 2. Consider stripping this down to a text field, similar to how we simplified Masthead.

[2016-03-17 18:00] asmecher commented on #975
@bozana, is this ready to be closed?

[2016-03-17 18:09] NateWr commented on #975
@asmecher no, this is a long-term ticket collecting ideas for a future overhaul of the system. It's not pegged to any milestone.

[2016-03-17 23:05] asmecher commented on #975
Forgive me if I sound eager to get that bug count back under 20 :)

[2016-03-18 00:04] asmecher commented on #1123
Merged, thanks, everyone! I've moved the issue over to OJS 3.0 so it can be ported before closing.

[2016-03-18 00:16] asmecher commented on #1283
I think I'm going to move this to 3.0. The current structure works, but it's overprescriptive for no apparent reason.

[2016-03-18 00:46] stranack opened #1284 "Close button fails on Reviewer's View All Submission Details Modal"
In OJS 3, when the reviewer opens the View All Submission Details modal, it cannot be closed using the Close button.

http://journals.sfu.ca/uiux/index.php/publicknowledge/reviewer/submission/3

[2016-03-18 01:06] stranack opened #1285 "Notification to Author of Editor Decision Unstyled"
http://journals.sfu.ca/uiux/index.php/publicknowledge/authorDashboard/submission/3

The Notification bar doesn't appear to be styled like other notifications throughout the workflow.

Also, the modal containing the notification does not have a close button.

[2016-03-18 01:53] stranack opened #1286 "Copyeditor initiated discussion not recorded"
When a copyeditor uses the Add Discussion link and fills in the modal, the message is not being recorded in the Copyediting Discussions grid.

http://journals.sfu.ca/uiux/index.php/publicknowledge/workflow/index/3/4

[2016-03-18 01:57] stranack opened #1287 "Consider adding Login As option to Participants grid"
Providing Editors with a "Login As" link in the Participants grid (before Remove and Notify) would be a significant time saver.

[2016-03-18 02:26] stranack opened #1288 "Relabel button on Send to Production Modal"
When the Editor hits the Send to Production button in the Copyediting stage, the resulting modal's button is labelled "Record Editorial Decision". It should be "Send to Production".

[2016-03-18 03:29] stranack opened #1289 "Tools link leads to error"
In OJS 3, selecting the Tools link results in the following error:

Warning: Smarty error: unable to read resource: "management/tools/index.tpl" in /mnt/u1/var/www/journals/uiux/lib/pkp/lib/vendor/smarty/smarty/libs/Smarty.class.php on line 1094

The URL is:
http://journals.sfu.ca/uiux/index.php/publicknowledge/management/tools/index

[2016-03-18 05:14] asmecher commented on #1263
Maybe @jnugent remembers re: the DOI question above?

[2016-03-18 12:51] jnugent commented on #1263
Actually, we did add DOIs to Monographs in general, if I recall.  @asmecher remember our discussion about adding DOI support to Submissions in general?

Some code from OMP master:
https://github.com/pkp/omp/blob/master/plugins/pubIds/doi/DOIPubIdPlugin.inc.php#L84

[2016-03-18 12:54] jnugent commented on #1263
Actually, let me dig into this further. I thought we added the DOI foms to submission metadata as well.

[2016-03-18 17:53] asmecher opened #1290 "Fix paging on SWORD export plugin article list"
See http://forum.pkp.sfu.ca/t/moving-articles-to-dspace-via-sword-plugin-error-update-depositpoint/9833

[2016-03-18 19:32] crism commented on #1148
Ah… except that many of these notifications have no user associated with them, so `PKPNotificationOperationManager::sendNotificationEmail()` exits without actually sending e-mail. That makes sense, since there are 5 calls to `createNotification()`… now I just need to track down which ones actually result in e-mail being sent.

[2016-03-18 21:33] bozana commented on #1201
In the PR above I added the possibility to filter the reviewers from the submission's previous review rounds, and I removed the last sentence from the new review round text.
Here how the new filter option looks like:

![previousroundsfilter](https://cloud.githubusercontent.com/assets/378421/13892658/29076d02-ed59-11e5-9c84-a71129abc0c8.png)

[2016-03-18 22:46] asmecher commented on #1279
(Sent a brief sample set to Anurag.)

[2016-03-18 23:06] asmecher commented on #1201
This looks great -- that's a good solution to a slightly tricky problem. Just one small fix on the PR.

[2016-03-18 23:11] asmecher commented on #1285
Do you recall who you were logged in as, @stranack?

[2016-03-18 23:25] stranack commented on #1285
Logged in as: cmontgomerie
Title: Computer Skill Requirements for New and Existing Teachers: Implications for Policy and Practice
Author(s): Craig Montgomerie

[2016-03-18 23:27] stranack commented on #1285
![screen shot 2016-03-18 at 4 26 26 pm](https://cloud.githubusercontent.com/assets/11185765/13894542/30c03a84-ed26-11e5-9cdd-3f0c2dcf6918.png)

[2016-03-21 09:21] NateWr commented on #1229
Hmm, we're going to need some publication date for display, won't we? I looked at OpenSI and Langsci and both seem to have an "Added" date (?) and a "Publication date".

![selection_042](https://cloud.githubusercontent.com/assets/2306629/13914417/2e7ca204-ef46-11e5-87bd-b70988d59eb5.png)

![selection_041](https://cloud.githubusercontent.com/assets/2306629/13914418/2e7d13ce-ef46-11e5-8a71-8fd0e38bb

[2016-03-21 10:22] NateWr commented on #1286
Assigned to OMP 1.2 so that it's tested and replicated or ignored before the release.

[2016-03-21 10:24] NateWr commented on #1288
We use this language, "Record Editorial Decisions" for all editorial decisions throughout the workflow. If we're going to change it, we should change it across the board.

[2016-03-21 13:17] bozana commented on #1263
Apparent there was a requirement for reviewer files not to have a genre, s. https://pkp.sfu.ca/bugzilla/show_bug.cgi?id=8358 and https://github.com/pkp/pkp-lib/commit/9657dd599620ca9b688dc2a447c1789b7d83c0c4.
In submission_files tables, the genre_id column is defined so it could be null. Thus, the bug a) above should probably be repaired in the native import/export i.e. the genre_id = null for rev

[2016-03-21 15:34] NateWr commented on #1032
@asmecher I've noticed that anchor links render to incorrect URLs in the markdown files. For instance, the following markdown:

[code]

When that appears in the file at `en/chapter5/internal-review.md`, the resulting URL is:

[code]

I presume this is a bug of the markdown parser we're using, or a quirk of the way we're using it. But I wondered if maybe it was something you had a quick idea for so

[2016-03-21 15:40] NateWr commented on #1032
Hmm, it looks like it also tampers with external links:

[code]

Becomes:

[code]

Is this intentional?

[2016-03-21 17:54] asmecher commented on #1032
@NateWr, I hacked in a URL filter to preprocess URLs. That's probably what's causing the problem. I suspect a quick regexp match to conditionally apply the filter would solve it. See this LOC:
https://github.com/pkp/pkp-lib/blob/master/pages/help/HelpHandler.inc.php#L65

[2016-03-21 18:01] asmecher commented on #1263
Hmm, I suggest keeping the XML parallel to the database, i.e. not specifying a genre leads to a null genre ID. This may cause confusion for users crafting their own XML who exclude a genre, but I hate that less than hard-coding a special interpretation for the current null genre / reviewer file convention.

[2016-03-21 18:02] asmecher opened #1292 "Correct category deletion when child categories exist"
See http://forum.pkp.sfu.ca/t/omp-1-1-1-1-unable-to-delete-a-category/9529/6

[2016-03-21 18:08] jnugent commented on #1263
I'm okay with this idea.  I think it might be a good idea to add an assertion during Native Import that fails if there is no genre id and the submission file is not of type SUBMISSION_FILE_REVIEW_FILE.  I'm cool with folks crafting their own XML so long as it does not lead to a potentially corrupt database.

[2016-03-21 18:12] asmecher commented on #1263
Agreed, @jnugent, that's a very good idea.

[2016-03-21 18:31] #1292 closed

[2016-03-21 19:10] asmecher commented on #1229
That's on the publication format, correct, Nate? There's good-quality publication date data on the publication format, but not the monograph as a whole.

[2016-03-21 19:21] NateWr commented on #1032
@asmecher What's the benefit you see in filtering the URLs? Are there use-cases where relative URLs are causing problems?

[2016-03-21 19:25] NateWr commented on #1229
I don't know where the data comes from, but the UI in the screenshots presents it as data pertaining to the monograph. It's not displayed as though it's attached to specific formats.

I do think we'll want to display a publication date that pertains to the book as a whole. As a reader that's what I generally expect. But that doesn't mean we need to have a new field for that piece of data. If we do

[2016-03-21 19:27] NateWr commented on #1229
(btw, we can punt this to after OMP 1.2, but if so we'll want to *remove* the display of the publication date from the frontend)

[2016-03-21 19:35] bozana commented on #1263
OK, I'll change it like you say -- The omitted genre is possible only for SUBMISSION_FILE_REVIEW_FILE and SUBMISSION_FILE_REVIEW_ATTACHMENT else there will be an assertion. I thought that the reviewer files can be send to copyediting as well, but this is apparently not the case, only for example from internal to external review. THANKS!!!

[2016-03-21 20:15] bozana commented on #1263
Hmmm I have a NULL for some SUBMISSION_FILE_REVIEW_REVISION files in my DB, but I cannot reproduce it... :-(

[2016-03-21 20:22] bozana commented on #1263
Oh sorry, I managed it: if a (internal) reviewer file is send to the external review, it appears in the list "Review Files" on top of that page, and it has genre = null. When I then upload a revision file, I can choose that file as source and in that case the genre is also null.

[2016-03-22 00:13] stranack commented on #1288
An "Editorial Decision" generally means the decision to accept or decline a submission ( or request revisions, etc.). Decisions made throughout the editorial process, such as sending to copyediting or to production are considered something different. I'd still vote for changing this, but am happy to leave it as is for now.

[2016-03-22 11:15] NateWr opened #1293 "Misleading notification in publication format metadata form"
![selection_045](https://cloud.githubusercontent.com/assets/2306629/13949829/457a0f08-f01f-11e5-88ef-6c812d314e6e.png)

1. It's the Catalog tab where they check the box to create a catalog entry.
2. The conditions for that notification need to be checked. In addition to the catalog entry checkbox, publication formats need to be approved one-by-one in the Publication Formats grid. The notification

[2016-03-22 11:35] NateWr opened #1294 "[OMP] Publication formats appear on frontend even if removed from catalog entry"
The following publication format appears on the frontend.

![selection_046](https://cloud.githubusercontent.com/assets/2306629/13950306/0abd6d30-f022-11e5-984c-0d0fd37cda71.png)

As far as I can tell, the Catalog Entry option is just a cosmetic "sign off", and doesn't actually do anything. Is this a bug or intentional? If intentional we need to re-think the wording on this.

[2016-03-22 13:35] NateWr commented on #1288
That's helpful @stranack, thanks. I've called each of the main buttons in the workflow an "Editorial Decision" in the docs, so I'll need to re-word that.

[2016-03-22 14:17] bozana opened #1295 "Native XML import should be improved for OMP and OJS"
I am testing the native import in OMP and found the following things that could/should be improved:
- [x] c) what about assoc_type ad assoc_id -- I have to see what is this and how is this handled -- at the moment they are = null. This seems to be the way how representations and files are connected, so at least this should be considered for the import. It is also the way how reviewer assignments a

[2016-03-22 15:26] asmecher commented on #1263
I don't know of anything that'll break with a `genre IS NULL`, but I'd rather we don't encourage it. I'd suggest we require it for the import, except for the reviewer file case, unless we run into a reason to change that.

[2016-03-22 15:45] bozana commented on #1263
@asmecher, OK. I just oriented myself on the export i.e. if someone is using OMP export XML file to import it into another OMP installation. I.e. the genre in the export XML file (and in the DB) could be null also for other files (e.g. in copyediting).

[2016-03-22 15:48] asmecher commented on #1263
@bozana, ah, of course. Hmm. Well, perhaps if we're going to support null `genre_id`s, then we should jump in with both feet. OK -- relax the requirement and we'll have to watch and see what happens.

[2016-03-22 15:51] bozana commented on #1263
@asmecher, OK, I will relax the requirement for now. We could eventually see if we want to somehow restrict the reviewer files for sending them to other workflow stages i.e. external review...

[2016-03-22 16:18] bozana commented on #1263
@asmecher or @jnugent, could you please take a look at the changes above, especially changes for the element "remote". If OK so I would make a PR.
From this issue then only the DOI for monographs question is left at the moment. For this I will wait for Jason to tell me how is it meant to be... :-)
Also, do you have an idea how to best inform the user to fill in the settings > workflow > production

[2016-03-22 16:21] crism commented on #1148
OK, it’s down to this:
[code]
Now, the question is what is the better thing to do…

[2016-03-22 16:25] asmecher opened #1296 "Clean up notification emails in participants grid assignment/notification"
- [x] Variables need replacement before presentation
- [x] Template variables should be reconciled to reduce logic forks
- [x] Needs overall testing

[2016-03-22 16:36] crism opened #1297 "[OJS] “does not have access” error loading additional submissions"
Against OJS `HEAD`, I’m logged in as the administrator, looking at the submissions dashboard. There are many unassigned submissions, enough that the “Load More” affordance is active. When I scroll down the list or click “Load More,” I get a pop-up message: “The current role does not have access to this operation.” This happens even if I move the mouse too close to the list of submissions.

The Adm

[2016-03-22 16:38] crism commented on #1297
This happens if I’m logged in as the user who submitted all the submissions, too; looks like just a general bug with the list expansion.

[2016-03-22 16:39] bozana commented on #1229
Hi @NateWr, for LangSci the "Added" date is the one when the book is added to the catalog and the "Publication date" is the (ONIX) date defined for a publication format on the Catalog Entry modal. One can apparently influence the "Added" date a little bit: you can remove and add the book to the catalog again, and the date will change.

[2016-03-22 16:45] crism opened #1298 "[OJS][OMP] Interrupted submission ends up in Incomplete state with no way to advance"
On both platforms, against `HEAD`, something has gone wrong with a submission. (We didn’t note the details at the time, as the problem wasn’t immediately apparent.) Returning to the system, the user’s dashboard shows, under “My Authored,” a submission with the status “Incomplete.” Following the link brings the user to the Submission tab. However, there’s no evident way to take any action on the it

[2016-03-22 16:55] crism commented on #1298
The interrupted submission has `status` of 1 (as do other new submissions), but a `submission_progress` of 4 (whereas others are 0).

[2016-03-22 17:00] asmecher commented on #1297
@beghelli, any idea what might be happening here?

[2016-03-22 17:07] beghelli commented on #1297
I think that it has to do with the operation to fetch rows, 'fetchRows', not being strictly assigned to any user roles in the grid handler authorization method... strange, but I will check.

[2016-03-22 17:20] asmecher commented on #1298
@crism, the `submission_progress` <> 0 indicates that OMP doesn't think the submission has been completed fully. The "Incomplete" link should bring you back to the submission process at the stage where the user stopped. I've tested it locally and it looks OK; can you double-check that you've got a fresh checkout of both app and pkp-lib? Also try `rm cache/t_compile/*.php`.

[2016-03-22 17:20] bozana commented on #440
Hmmm... I am not sure if I understand it correctly :-\
So, we will leave the automatic manager assignment to the admin user, as till now, right?
As far as I could see, the admin user is able to access all workflow stages, but I surely don't have a complete overview :-\ The admin user can probably access all this because it automatically has the manger role -- manager role seems to be considered 'e

[2016-03-22 17:24] bozana commented on #1031
Thanks @mfelczak! I will then try to solve it after OMP 1.2 is released, because this issue is apparently not so crucial for that release...

[2016-03-22 17:37] asmecher commented on #440
For most installations, it's OK for the admin to be assigned as a manager. That's currently working well. However -- in cases like our own hosting operations, we'll want to have a site admin role as well, but not to require a manager role to be explicitly assigned. For example, consider two site admin accounts: "clientadmin" and "hostadmin" -- one that the client uses to create/delete journals etc

[2016-03-22 17:50] bozana commented on #440
Aaaaaaaaaa... I was thinking only on one admin. So would the solution be to consider the admin role similar the manager role is considered in those access and workflow stages policies?

[2016-03-22 18:28] crism commented on #1298
@asmecher, the link does bring us back to that stage… but then there’s nothing apparent to do. What should we be expecting to see?

[2016-03-22 18:30] crism commented on #1298
Maybe it’s because the submitter is also a journal editor? I get the Submission tab; Submission files (with one file listed); Pre-Review Discussions (with no items). I can upload additional files; I can add participants; I can add a discussion. I can edit the metadata and schedule the article (in OJS) for publication, but I can’t complete the submission.

[2016-03-22 18:39] jnugent commented on #1263
@bozana the only place I can see getRemoteURL being used is ArticleGalley specifically, when we redirect people to them when viewed.  It's an actual redirection performed in ArticleHandler, and possibly not quite the same thing as embedding a remote URL in a page href element.   So, I agree with you that it should be Representation only.

[2016-03-22 18:40] jnugent commented on #1263
I'm still digging around for the DOI issue.

[2016-03-22 19:01] crism commented on #1220
The `accessLegend.tpl` file assumes access is restricted; it only considers whether per-article access can be purchased (`$purchaseArticleEnabled`). I think the right thing to do here is consider, in `article.tpl`, whether or not to include `accessLegend.tpl`. Now I just need to find the right variable to query to make that decision…

[2016-03-22 19:25] crism commented on #1220
No, the access legend is supposed to include an OA legend if appropriate. So… where’s that stored?

[2016-03-22 20:08] crism commented on #1220
Well, that didn’t work… why not?

[2016-03-22 20:10] crism commented on #1220
Oh… duh. Parentheses matter, but it also helps to check out the correct branch on the server. `d-:`

[2016-03-22 20:13] crism commented on #1220
Now it’s a question of styling. The current stylesheets have handling for restricted access, but no Open Access. Font Awesome doesn’t have an Open Access icon to go with the lock. We could use one of the icons from [Wikimedia Commons](https://commons.wikimedia.org/wiki/Open_Access), or from somewhere else? @asmecher, anyone else, thoughts?

[2016-03-22 20:55] crism commented on #1151
This is related to #1150; currently, it seems that the message board for the stage is the way to communicate this kind of information. It still seems inadequate to me, but it works…

[2016-03-22 21:48] crism commented on #1261
I think that, just as in the Copyediting stage, the author ought to be able to see the relevant discussions, and nothing else. It seems entirely possible that the author might be involved in a conversation even at the production stage, or at least I see no reason to rule it out.

[2016-03-22 21:52] crism commented on #1261
In fact, the author can be selected to receive a discussion message at the Production stage, but cannot get in to read it! Will try to look at how the Copyediting tab is built and build something parallel in Production.

[2016-03-22 22:06] crism commented on #1261
Ah… the template includes this logic:
[code]
The submission in question has no galleys as yet… Is there any good reason not to just chop that last clause? If the submission is in production, why claim it’s not? @NateWr, @asmecher?

[2016-03-23 11:01] bozana commented on #1263
Here the PRs:
a), f), g) from above: https://github.com/pkp/pkp-lib/pull/1299
c), d) from above: https://github.com/pkp/omp/pull/246

[2016-03-23 11:37] NateWr commented on #1261
Not that I know of...

[2016-03-23 13:51] NateWr opened #1300 "[OMP] Check exposure of Reviewer's Attachments in Author Dashboard"
There's a Reviewer's Attachments grid in the author dashboard. I noticed that no files appeared here until the editor selected Send to External Review, and selected the files from the Reviewer's Attachments grid in the editorial workflow.

My understanding is that the selection of files in Send to External Review is for the editor to forward files onto the next stage. Should these files get expose

[2016-03-23 14:37] crism commented on #1261
OK, the author can now see the production tab… but there’s nothing there. Need to add access to the discussion, à la Copyediting.

[2016-03-23 15:28] bozana commented on #1300
There was the requirement from SI to allow editors to upload an anonymized review file and to be able to send that file to the authors, s. https://github.com/pkp/pkp-lib/issues/788. I.e. the editor should always take care about the blindness of those files send to the author. I am not sure if External Review should be treated in the same way as the other editor's decisions, but I believe it could.

[2016-03-23 16:20] asmecher commented on #1263
Thanks, merged the above!

On e), I recently added a warning at the top of the ONIX plugin's export page. Could certainly be improved, but enough for OMP 1.2.

[2016-03-23 16:35] bozana commented on #440
Hmmm... I think I am a little bit lost with this problem :-(
The ROLE_ID_MANAGER is considered everywhere. So it seems the ROLE_ID_SITE_ADMIN should be in the same/similar way considered everywhere :-P
I don't see a good possibility to appropriately assign ROLE_ID_MANAGER to the admin, at the appropriate place/call in the system, depending where we are/what to do.
I think, that it always is looked

[2016-03-23 16:36] #1261 closed

[2016-03-23 16:36] asmecher commented on #1261
Thanks for tracking this down, @crism!

[2016-03-23 16:43] asmecher commented on #440
Maybe we could consider some other approaches that would suit hosting providers... The "log in as" feature comes to mind. That would permit a Site Admin to easily get into press/journal content without needing to have a Manager role. Could you double-check that Site Admins always have access to that feature? I don't recall OTOH.

[2016-03-23 16:48] bozana commented on #1263
Thanks @asmecher! Apparently the ONIX export is also used in the native export, for some parts of the native XML export file, so that the warning is also happening here. I will take a look on your solution, where and how you have added the warning, and if we could do something similar here...

[2016-03-23 16:50] jnugent commented on #1263
@bozana yes, the ONIX filter is used in part of the Native XML, in order to prevent having to duplicate a lot of the ONIX fields in the other filter.

[2016-03-23 16:55] asmecher commented on #1263
@bozana, grep for `plugins.importexport.onix30.pressMissingFields`; it should be easy enough just to re-use that, though maybe the actual settings check could be moved into PHP so it can be re-used.

[2016-03-23 17:10] bozana commented on #1201
@asmecher, I've fixed the typo and SQL so this can be merged too, I believe.

[2016-03-23 17:11] asmecher commented on #1032
Because the help content is popping up over the workflow, relative URLs would be relative to the workflow, not the help area.

[2016-03-23 17:13] asmecher commented on #1201
Great -- merged, thanks!

[2016-03-23 17:13] #1201 closed

[2016-03-23 17:15] asmecher commented on #1220
Thanks, @crism -- I've merged that fix. Styling-wise, I suspect @NateWr is the best person to ask -- he'll probably want to change things -- but he may need to defer considering this until after OMP 1.2 is out.

[2016-03-23 17:19] asmecher commented on #1298
What stage do you get returned to? Is there now "submit" / "continue" button at the bottom?

[2016-03-23 17:20] crism commented on #1220
Thanks, @asmecher. Looking forward to the styled changes when there’s time.

[2016-03-23 17:26] crism commented on #1298
When the submitter/editor clicks on the “Incomplete” link, he is taken to the editor’s workflow, in the Submission stage. There are files, but no apparent way to advance.
![incomplete_submission](https://cloud.githubusercontent.com/assets/1933900/13994344/52ce4a92-f0f2-11e5-91f5-8fe3289d6693.png)

[2016-03-23 17:27] asmecher commented on #1298
Ah, they should be taken back to the author's submission area instead. That's something that should always happen when `submission_progress <> 0`.

[2016-03-23 17:29] crism commented on #1298
@asmecher, exactly. I haven’t delved into the code yet, though.

[2016-03-23 17:43] bozana commented on #1263
@asmecher and @jnugent, I am just not sure if I should provide the export also if the data is missing or not. I believe it is only used for the "Product" part of the publication_format element. Maybe we can make it optional?

[2016-03-23 17:46] asmecher commented on #1263
@jnugent, I remember we did something vaguely similar that involved pre-processing the ONIX spec using an XSL or something like that, to permit supporting a more relaxed behavior but without actually duplicating and modifying the spec. Do you remember where that was?

[2016-03-23 17:59] asmecher commented on #1295
Hmm, that `submission_file_ref` thing is a pretty big oversight -- probably on my part -- so thanks for catching it! I tend to test without paying much attention to files, which is probably how it was overlooked.

I do like the overall approach we're using -- submission files in a pool, referred to from specific uses -- but of course we'll have to consider how to map IDs, which shouldn't be preser

[2016-03-23 18:36] asmecher commented on #1298
OK, I'll take a look.

[2016-03-23 18:41] asmecher commented on #1298
@crism, could you verify that the above commit (now in pkp-lib) resolves this for your example?

[2016-03-23 19:32] ctgraham opened #1303 "Reload Default Email Templates misses deleted templates and deletes plugin data"
The function `reloadDefaultEmailTemplates()` is intended to pull the email templates back in from XML to the database.
https://github.com/pkp/ojs/blob/ojs-dev-2_4/pages/admin/AdminLanguagesHandler.inc.php#L189-L213

It incorrectly clears template default data from `email_templates_default_data` for plugin-installed emails which is is not prepared to restore.

It also does not reload the names of d

[2016-03-23 19:45] asmecher commented on #1279
Closing for 1.2 barring feedback.

[2016-03-23 19:46] asmecher commented on #1296
Closing for now.

[2016-03-23 19:46] #1296 closed

[2016-03-23 20:05] asmecher commented on #1300
It's currently implemented that way on purpose, and editors will have the chance to revisit their decisions before editors are assigned and notified and thus get access to files. And editors can also limit review assignment files to a specific subset. I'd suggest leaving this as is for OMP 1.2, but watching out for feedback in case it is a problem. (FYI, @stranack.)

[2016-03-23 20:05] #1300 closed

[2016-03-23 20:08] asmecher commented on #1148
@beghelli, do you have a preference?

[2016-03-23 20:50] crism commented on #1298
@asmecher, that seemed to work. Fast work, thanks!

[2016-03-23 21:07] mfelczak opened #1305 "[OHS] Fatal error when managing archive with no available sets"

[2016-03-23 21:37] asmecher commented on #1298
Great, thanks!

[2016-03-23 21:37] #1298 closed

[2016-03-23 21:57] asmecher commented on #1293
Wording adjusted.

[2016-03-23 22:12] asmecher commented on #1293
The notification used to be relevant to the publication format's metadata modal because there was an approval checkbox there, but we moved that into the Publication Formats grid.

It's intended to alleviate confusion caused by publication formats potentially being complete, but the monograph's listing in the catalog being held up because the monograph itself needs approval.

For 1.2, I've moved th

[2016-03-23 22:43] asmecher commented on #1286
I think this was fixed by https://github.com/pkp/pkp-lib/commit/94bcc5c2089e770c9a85a4f7894d7fa2decc85ce a while ago. Anyway, it checks out for me now.

[2016-03-23 22:43] #1286 closed

[2016-03-23 22:54] asmecher commented on #1144
Deferring to post-1.2, barring outcry. Everything is currently working as intended, though there's definite room for improvement. In "promote" boxes (e.g. "send to external review"; "send to copyediting", etc) the file lists only show what's available in the stage you're leaving, though it's possible to use the Select modal in the new stage to pull files from further back. The motivation for this

[2016-03-23 22:56] crism commented on #1144
@asmecher: understood. We can educate our users on the intended approach, I think.

[2016-03-23 22:56] asmecher commented on #1294
The "Complete" flag is to indicate that whoever is in charge of the academic aspect of approvals is finished their work. It's just cosmetic. The "No Catalog Entry" language definitely needs changing.

[2016-03-23 23:03] asmecher commented on #1294
I've adjusted the wording to "Complete" / "Not Complete". But I'm leaving this issue open -- any feedback, @stranack?

[2016-03-24 00:02] #1254 closed

[2016-03-24 12:09] bozana commented on #1295
Hi @asmecher, maybe you mean the PKPImportExportDeployment class? There, some information is saved and passed between different levels of the filter. We could also save the information about the relation between the XML file and DB IDs there, e.g. to have something like fileIds[fileId][revisionId] = DBFileId or fileIds[fileId-revisionId] = DBFileId. This would probably work for the relation betwee

[2016-03-24 13:35] ctgraham opened #1307 "Notification emails are generally Journal specific, but sent from the Site level."
See http://forum.pkp.sfu.ca/t/notification-emails-reply-to-principal-contact-of-site-administrator-but-not-principal-contact-of-the-journal/9455

In OJS 2.4, It is confusing for readers (and for journal managers) to have the reply-to field set to the Site Admin, when the messaging is typically journal related and initiated by the journal manager.

Using the `$notifcation`'s `$context` to get the J

[2016-03-24 16:20] mfelczak opened #1308 "[OJS] Highlight overdue reviews even if email reminders enabled"
Also mark as overdue immediately, eliminate 2-week grace period.

[2016-03-24 16:30] crism commented on #1148
The second notification is the less useful one. If we could pass a flag saying that the e-mail is redundant, that would do it… the problem I immediately see is that we’d have to pass that flag all the way from `updateNotification()` on down. It might be possible to decide whether or not to send e-mail lower down that chain, based on the state of the world, but the don’t-send-email checkbox complic

[2016-03-24 16:47] crism commented on #1148
Ah-hah! We already _have_ '$suppressEmail'—we’re just not using it!

[2016-03-24 16:51] #1308 closed

[2016-03-24 16:55] asmecher commented on #1148
;) The trials and tribulations of working with a large codebase.

[2016-03-24 16:58] asmecher commented on #1295
@bozana, yes, sorry -- I meant the Deployment, not the Context. We've pretty much ransacked the English language for all the similar words -- Context, Deployment, Type, Collection, Delegate, ...

You're asking about the `source_file_id` and `source_revision`, correct? I think we don't need to include those for now; they're more informational and deeper in the workflow than we currently have gone i

[2016-03-24 17:16] crism commented on #1148
Gah. The problem is that my listing above is oversimplified; `PKPNotificationManager::updateNotification()` actually iterates through multiple notification types, and calls `updateNotification()` on the appropriate handler for each one. We need to be able to figure out how to suppress e-mail on `EditorDecisionNotificationManager` _if_ e-mail has been sent directly (_i.e._, the user did not check t

[2016-03-24 17:18] asmecher commented on #1229
Two proposals:

1. Call it "date added", not "date published". Have publication dates only under the publication formats per ONIX data.
2. Find the earliest "date published" from all publication formats, and if one can be found, use that.

I'm leaning towards option 1; it's simple and clear to the reader, and presents data only where it's most appropriate.

[2016-03-24 17:22] asmecher commented on #1148
The "do not send email" checkbox is intended for situations where the editor (etc) has communicated directly with the reviewer (etc). I'd suggest suppressing the notification email regardless of whether the box was checked.

[2016-03-24 17:25] crism commented on #1148
Hmm… I don’t know. I think there’s merit to the author knowing that something has changed within the OMP system, even if the editor advised them separately that the manuscript was being sent for review. _E.g._, the editor may actually _do_ it immediately, or take a week to get around to it… So if the personal message e-mail isn’t sent, then I do think it’s worth sending a notification update to th

[2016-03-24 17:27] asmecher commented on #1148
Do you have other use cases for the "do not send email" checkbox? I'd expect editors to check it only if they've already spoken with the recipient. If they want the recipient to receive an email, they won't check the box.

[2016-03-24 17:29] crism commented on #1148
That’s a good point… and it does make the coding easier. I think we can just always suppress e-mail from `EditorDecisionNotificationManager` in that case; I’ll have to trace it through to be sure.

[2016-03-24 17:38] asmecher commented on #1229
(Implemented option 1, because it's quick, but leaving open for feedback for a little while in case there are agitators)

[2016-03-24 18:07] crism commented on #1148
- [x] PR #1309 addresses only author notification of editor decisions.
- [ ] I’ll look at revision requests next; after that, I’ll file specific issues for other instances of redundant e-mail. (When I filed this, I hoped there was a general solution…)

[2016-03-24 18:39] crism commented on #1070
This is related to #1148.

[2016-03-25 19:42] ctgraham opened #1310 "PKPMailTemplate populates misleading "From" field in template display"
In OJS 2.4.x, the "From" field in the Notify Users form and the Editor Decision form was never updated after SPF enhancements.  We are now setting the From address to the Journal Manager or Site Administrator, so the "From" in these forms really should represent the Reply-To address as the "sender".

To reproduce, login as Editor and select "Notify Users".
Expected result: uneditable "From" repres

[2016-03-25 19:58] ctgraham opened #1311 "Email log reflects misleading "From" address"
In OJS 2.4.x, after SPF enhancements, the emails are still logged in `email_log.from_address` with the actual "From" address.

This causes the log to lose a level of specificity, as all emails will be sent from the same sender now.

Either we should add the reply_to to the `email_log` and log the reply-to address, or the `from_address` field should reflect the reply-to instead of the actual SMTP F

[2016-03-28 09:18] NateWr commented on #1144
I'm fine pushing this to after OMP 1.2 since the way it works is already in existing versions. But I'm definitely nervous about the UI being a source of unintentional information leak in the blind review process. See #1300, which caught me off guard even though we discussed this exact interaction just a few weeks ago.

I don't think the file selection is an issue, so much as clarity over where tho

[2016-03-28 09:27] NateWr commented on #1032
I'm tempted to get rid of this if you don't mind. We're [hijacking links](https://github.com/pkp/pkp-lib/blob/master/js/controllers/HelpPanelHandler.js#L236-L243) within the content anyway. It would be nice to be able to use relative links as they're traditionally used in HTML. And appending `en/` to links causes some knock-on issues, such as jumping back to the server to re-fetch content even if

[2016-03-28 09:36] NateWr commented on #1220
I'll revisit this once we're back on OJS 3.0. But I think my intention was to display _no_ access legend unless access was restricted. If the default is open, then we don't really need to add anything, unless there's a particular need within the community to wear the OA status as a badge of honor.

I'm tempted to leave it out in the default theme, but open to alternative ideas.

[2016-03-28 09:47] NateWr commented on #1293
Thanks @asmecher. I made a small tweak to the language, so that it uses the same terminology displayed in the UI.

https://github.com/pkp/omp/pull/249

[2016-03-28 10:00] NateWr commented on #1294
Thanks for the clarification @asmecher. This is disheartening, since we spent so much time going over the approvals process. But I think it makes sense. I have a couple of language tweaks I want to do (help docs, approve confirm modal, awaiting approval) so I'll assign this to me.

[2016-03-28 10:18] NateWr commented on #1294
Ok I've updated the language in the checkboxes to say "Awaiting Approval" and "Approved", just like the format checkboxes. I've also adjusted the language in the confirmation modals to indicate more clearly the task that is meant to be "approved".

https://github.com/pkp/pkp-lib/issues/1294

![selection_033](https://cloud.githubusercontent.com/assets/2306629/14076119/cd318eba-f4d6-11e5-9e7b-f4c35b

[2016-03-28 10:44] NateWr commented on #1270
The following PRs don't fix this issue, but they do remove some unneeded code discovered while looking into this issue:

https://github.com/pkp/pkp-lib/pull/1312
https://github.com/pkp/ojs/pull/805
https://github.com/pkp/omp/pull/251

Actually fixing this issue requires modifying the editorial actions so that they don't use the `load_url_in_div` pattern, which results in an empty element.

https:/

[2016-03-28 12:59] NateWr commented on #1032
Ok, I've got some come just about ready to go once the changes in the doc repo are merged (that PR is here: https://github.com/pkp/omp-user-guide/pulls ).

That code is in the `i1032_help_panel` branches of my OMP/pkp-lib repos:

https://github.com/NateWr/omp/tree/i1032_help_panel
https://github.com/NateWr/pkp-lib/tree/i1032_help_panel

I suspect there will be some merge conflicts so going to hold

[2016-03-28 13:30] NateWr commented on #1267
PR: https://github.com/pkp/pkp-lib/pull/1313

Screenshot:

![discussion-grid](https://cloud.githubusercontent.com/assets/2306629/14078920/8fcf8818-f4f1-11e5-8aa0-a348b3f1103b.png)

[2016-03-28 14:20] crism commented on #1220
@NateWr, no message would work fine, too.

[2016-03-28 18:24] crism opened #1314 "[OMP][OJS] remote galleys are not tracked or logged"
A revisit, it seems, to #339…

The new remote content capability (#1123) just creates a link to the remote content; the Web browser never visits the OMP/OJS server to indicate whether that link was followed.

Instead, the link should be back to the server, like any other galley link, but if remote, the server should log it, then send a 302 response to send the browser off in the right direction.

[2016-03-28 20:34] mtub opened #1317 "[OMP] Update pt_BR locale of OMP"
* provide updated translation
* complete translation (`master` branch)

see https://pkp.sfu.ca/wiki/index.php?title=OMP:_Portuguese_(pt_BR)

[2016-03-29 12:48] ctgraham opened #1318 "smartyPageLinks() function is duplicated"
See: http://forum.pkp.sfu.ca/t/help-with-styling-page-info-and-pagination-links/10319

In OJS 2.4.x, `TemplateManager::smartyPageLinks()`'s override of `PKPTemplateManager::smartyPageLinks()` only differs by:

[code]

[2016-03-29 15:38] #1318 closed

[2016-03-29 16:12] asmecher commented on #1270
The above PRs broke the tests, but this selector change should fix them:
https://github.com/pkp/pkp-lib/commit/13b01e9d5423459934231d9be21d40923a4a2018
I'll verify and merge if it looks OK.

[2016-03-29 16:34] asmecher commented on #1270
Merged the above. This entry still needs work per https://github.com/pkp/pkp-lib/issues/1270#issuecomment-202338650

[2016-03-29 16:45] asmecher commented on #1310
@jnugent, could you take a look at this one?

[2016-03-29 16:45] asmecher commented on #1307
@jnugent, this one too.

[2016-03-29 16:48] asmecher commented on #1317
@mtub, does merging the above PR make this ready to close?

[2016-03-29 16:53] asmecher commented on #1293
Great -- I've merged that.

[2016-03-29 16:53] #1293 closed

[2016-03-29 16:58] asmecher commented on #1267
Merged, thanks!

[2016-03-29 16:58] #1267 closed

[2016-03-29 21:14] stranack commented on #1257
This is an interesting point and worth further consideration. At this point though, I'd be tempted to leave it as is until we get further feedback. Let's get a sense of how the discussions are working overall, and then dig into details like this a little later.

[2016-03-30 06:41] mtub commented on #1317
No, there's more coming soon (pkp-lib + maybe missing keys).

[2016-03-30 14:40] jnugent commented on #1310
@ctgraham is correct.  Due to recent changes, we need to leave the From: alone.  However, Clinton -- many journals were complaining about having a From: address from the editor or the administrator,  because it is mixing the name of the actual person sending email and the email address of the administrator.  This ended up being really confusing to some journals because although the reply-to is cor

[2016-03-30 14:44] ctgraham commented on #1310
I'm not quite following the "mixing the name of the actual person sending email and the email address of the administrator".  Isn't the From header consistently the name and email of the Principal Contact, and the Reply to the name and email of the "actual sender"?

Note that this PR doesn't affect any SMTP headers.  It just clarifies the form display.

[2016-03-30 14:55] jnugent commented on #1310
The From header should not be the principal contact.  It's become a problem for a lot of journals - when you scan your email inbox all of the messages are from the principal contact.   We had to back out of this fix for a Nordic installation, and now we leave the From header alone in all cases, and just set the return-path to the principal contact if the config directives are turned on.

If you lo

[2016-03-30 15:30] NateWr commented on #1267
Tiny PRs addressing your comment at https://github.com/pkp/pkp-lib/pull/1313#discussion_r57758898

https://github.com/pkp/pkp-lib/pull/1319
https://github.com/pkp/omp/pull/253

[2016-03-30 15:39] ctgraham commented on #1310
Is the problem just with the `force_default_envelope_sender` option, or with our SPF strategy of using the "From" as the SPF-validated address generally?  Per your [fix](https://github.com/pkp/pkp-lib/commit/7af3bf24a2e24f8e2f4afcde4750d7b16d9b80f7), does the 'return-path' header trump the 'from' header from an SPF perspective?

[2016-03-30 15:43] jnugent commented on #1310
Yes, it's with the force_default_envelope_sender option.  The return-path is the only thing that truly matters for SPF.   If you leave the From: header alone and set the return-path, you get the correct person@otherdomain.com via some@address.com where some@address.com is what's specified in the config file. If everything is left turned off in the config file, then OJS should leave everything alon

[2016-03-30 16:15] asmecher commented on #1267
Merged those, thanks!

[2016-03-30 16:29] asmecher opened #1320 "Reviewer grid "email reviewer" action should not use UserGridHandler for sending"
- Series editors who are not able to access UserGridHandler will get a permission denied message
- Resulting emails are not logged in the submission email log
- {$contextName} apparently isn't getting replaced.

[2016-03-30 16:30] asmecher opened #1321 "Reply-to headers appear to be missing a closing brace"

[2016-03-30 17:22] NateWr opened #1323 "Issues with direct purchase terms"
Production > Publication Format > File > Set Terms

1. When Direct Purchase is selected, the save button is disabled. It should become enabled as soon as you enter a value into the field, but you have to click the radio buttons to get it to re-enable.

2. It's possible to enter `$25`  but this breaks with PayPal. It needs to be an int or float, eg `25`, without any currency indicated.

[2016-03-30 17:23] NateWr opened #1324 "Fee payment interstitial shows the backend UI, not the frontend UI"
When you jump to a payment page for a monograph, it loads this page with the backend headers/footers instead of the frontend ones.

[2016-03-30 17:36] NateWr commented on #1324
PR: https://github.com/pkp/omp/pull/255

[2016-03-30 18:07] asmecher commented on #986
Pulls:
https://github.com/pkp/pkp-lib/pull/1322
https://github.com/pkp/omp/pull/254

The second half of the OMP pull was especially satisfying to review, @beghelli, with all those removals! Just a few minor comments.

[2016-03-30 18:12] asmecher commented on #1324
Merged, thanks!

[2016-03-30 18:12] #1324 closed

[2016-03-30 18:45] stranack opened #1325 "Footer image broken on static pages"
Using the new static pages plugin, I can create a new page, but the image in the footer is broken. See: [http://omp.sfu.ca/uiux/index.php/publicknowledge/advertising](http://omp.sfu.ca/uiux/index.php/publicknowledge/advertising)

[2016-03-30 20:28] asmecher commented on #1325
Fixed, thanks!

[2016-03-30 20:28] #1325 closed

[2016-03-30 21:25] crism commented on #1155
Ooh, fun. Try this, from two computers, with two logins:
 1. From computer A, logged in as user A, click Add discussion.
 1. From computer B, logged in as user B, refresh the relevant page (say, external review).
 1. From computer B, find the stub discussion. Select the expand arrow.
 1. From computer B, delete the discussion.
 1. From computer A, fill in the subject and message for the new (and n

[2016-03-30 21:32] crism commented on #1155
This is not something inherent to grids; file and reviewer grids do not write to the database upon starting to add items. This appears to be unique to discussions (via `QueriesGridHandler`).

[2016-03-30 21:38] crism commented on #1155
The problem appears to stem from the `Que,ryForm` constructor, which calls `QueryDAO::insertObject()` at line 57 and `NoteDAO::insertObject()` at line 70.

Either this needs not to happen (and I can see a bunch of reasons why that might not work), or others’ views need to filter out transient stubs.

[2016-03-30 21:57] asmecher commented on #1155
Filtering out the stubs seems like a logical solution.

[2016-03-30 22:26] asmecher commented on #1311
Good spotting. Yes, I think the log should record reply-to/on-behalf-of (depending on what shakes out for best SPF practices in the next release). @jnugent, let me know if you weren't expecting to own the subject!

[2016-03-30 22:34] asmecher commented on #1321
Couldn't track this down; it appears to be a quirk of Mailinator. Mail was delivered OK anyway.

[2016-03-30 22:34] #1321 closed

[2016-03-30 23:55] #1320 closed

[2016-03-31 14:21] ctgraham opened #1326 "Counter plugin throws error for old PHP version"
http://forum.pkp.sfu.ca/t/blank-page-on-manager-plugins-ojs-2-4-8/10448/2

User reports a "blank page" when running under PHP 5.2.9.  I replicated at least the warning messages, though not a PHP fatal.

[2016-03-31 14:51] ctgraham commented on #1310
When you say "OJS should leave everything alone", you still mean that OJS is setting the SMTP From address to either the Journal Principal Contact or the Site Principal Contact (depending on context), and the SMTP Reply-To to the OJS user, correct?

[2016-03-31 14:53] jnugent commented on #1310
Yes, but it shouldn't do that.

[2016-03-31 14:55] ctgraham commented on #1310
So are you saying the way it should work is the following?
Always set the SMTP From to the OJS user, and to set the SMTP Return-Path to the config.inc.php setting or the Site Principal Contact, or the Journal Principal Contact (depending on context)

[2016-03-31 15:10] jnugent commented on #1310
The return-path is what SPF is going to look at.  Ideally, it is an address that is represented within the SPF for the domain.  Take Github, for example.  Email notifications that are coming to me, from you, look like this:

From: Clinton Graham <notifications@github.com>
Reply-To: pkp/pkp-lib <reply+0003565f57387d51d1eab375b4702cd6cdbc36786fc1868492cf000000011314fc7692a169ce088eda03@reply.github.

[2016-03-31 15:30] asmecher opened #1327 "Update ReCAPTCHA support for API v2"
See https://github.com/google/recaptcha and http://forum.pkp.sfu.ca/t/recaptcha-v2-for-ojs

[2016-03-31 15:47] asmecher opened #1328 "Press contact receiving "able to review" confirmations"
These should go to assigned series editors and/or editors.

[2016-03-31 16:26] #1328 closed

[2016-03-31 17:39] asmecher commented on #1279
Received feedback; will refine.

[2016-03-31 17:45] asmecher commented on #1148
Merged -- thanks, @crism.

[2016-03-31 17:45] #1148 closed

[2016-03-31 18:00] asmecher commented on #1229
Arright, hearing nothing...

[2016-03-31 18:00] #1229 closed

[2016-03-31 19:03] crism commented on #1155
That pull request can be acted on, but doesn’t quite close the issue—there remains the problem that, in a discussion with a non-null message, any other null messages are then displayed within the discussion widget.

[2016-03-31 20:45] jnugent commented on #1307
This looks great!  @asmecher please merge. Unless I should :)

[2016-03-31 20:47] asmecher commented on #1307
All yours, @jnugent!

[2016-03-31 20:49] jnugent commented on #1311
I think the reply to address would be fine. Regardless of what we do for SPF, we have been including a reply-to for the contact that spawned the mail.   We don't munge reply-to, ever, AFAIK.  If we use it, we're safe from configuration setting switches that may alter other fields.  We'd at least be consistent.

[2016-03-31 20:50] jnugent commented on #1307
merged with great justice.

[2016-03-31 20:50] #1307 closed

[2016-03-31 20:50] asmecher commented on #1155
@crism, I'm not sure if I'm getting the issue right, but the goal here is to hide stub queries, and the PR looks like it'll do that. We don't use stubs for comments except the initial one, so I don't think we'll see issues beyond that. Unless I'm missing a case?

[2016-03-31 20:52] asmecher commented on #1307
http://old.he-man.org/cartoon/cmotu-pop/powerpose1.jpg

[2016-03-31 21:03] crism commented on #1155
Yeah, @asmecher—if user A starts to add a message to an existing conversation, and user B looks at the conversation before user A saves changes, user B will see a null message from user A in the thread. That should likewise be suppressed.

[2016-03-31 21:06] asmecher commented on #1155
Ah, yes, IIRC we're using stub notes too so that we can upload files to them. I'll merge this and leave the other to a separate PR, thanks!

[2016-04-01 02:26] beghelli opened #1330 "Autocomplete doesn't work well with categories"
It's not possible to have something like an opt group for the autocomplete suggestions. See spotlight form, typing for something that matches a series and a monograph name, for example. You will be able to select what should be the category name.

Actually there is a way to extend the jQuery autocomplete plugin and implement something like that, see here: https://jqueryui.com/autocomplete/#categor

[2016-04-01 13:36] beghelli commented on #1170
It has nothing to do with grid features. It happens when the grid handler in PHP returns a changed data event with the specific element id that has changed. If the grid is empty, then it will fetch only that specific row, and will try to find a tbody to add it. Since there is no other tbody for the grid to add the element, it gets the empty one.

I think that the solution is to always render the t

[2016-04-01 13:50] beghelli commented on #1170
found the problem: https://github.com/pkp/pkp-lib/commit/1b6e1acabff538643eb24ba79ea54fe4123b151b#diff-9284b2d34e4b30f44ea3c568d97ee8c3L78

Sorry @NateWr, I think I reviewed this but I didn't see this issue. Is there any specific reason you removed the empty tbody?

[2016-04-01 14:25] beghelli commented on #1170
I see now the problem, the extra tbody is making the x scroll bar visible if the grid has a scrollable div. I think the right way to handle this is to show only one tbody.

[2016-04-01 19:06] #1170 closed

[2016-04-01 19:08] asmecher commented on #1170
Good stuff, @beghelli!

[2016-04-01 20:01] asmecher commented on #1070
(moving over to @beghelli for a look at https://github.com/pkp/pkp-lib/issues/1070#issuecomment-182043507)

[2016-04-01 20:02] asmecher commented on #440
Deferring to OJS 3.0.

[2016-04-01 20:10] asmecher commented on #632
Closing; I didn't get anything specific, so I'll assume it's OK.

[2016-04-01 23:55] #1323 closed

[2016-04-03 07:25] mtub opened #1332 "Application-specific language in pkp-lib"
There are still locale keys in the shared library, pkp-lib, containing language specific to PKP applications. In most cases, it's OJS language that has slipped into the library. Opening this issue to track these keys. Will update the list, feel free to add.

Some of these might need an application-agnostic update, other keys might better be placed in an application's repository.

[2016-04-03 07:25] mtub commented on #1332
- admin.scheduledTask.downloadLog

[2016-04-04 09:52] NateWr commented on #1032
@stranack and @asmecher

Just a reminder that this pull request https://github.com/pkp/omp-user-guide/pull/1 is sitting in the `omp-user-guide` repository.

I need that merged as soon as possible because it will take me a decent chunk of work to properly stage the commits for `pkp-lib` to go along with those changes.

[2016-04-04 10:18] bozana commented on #1263
Here is the PR for e) above: https://github.com/pkp/omp/pull/258, OK so?

[2016-04-04 10:57] bozana commented on #1263
In the commit/PR above I just solved the assertion failure from b), till we figure out, if the DOI plug-in should consider monographs at all...

[2016-04-04 12:24] bozana commented on #440
@asmecher, if an user is only admin and not also manager, the user does not have access to the "log in as" feature. It also doesn't have access to the "Settings wizard" feature in the presses grid. Thus, maybe to have "User Management" feature also somewhere else (e.g. instead of "Setting wizard" feature), granted for the admin role, for this case?

[2016-04-04 12:41] NateWr commented on #1231
One series is showing as "current" on every page.

![selection_063](https://cloud.githubusercontent.com/assets/2306629/14248170/f58821dc-fa6a-11e5-9ed2-31aeddba04c8.png)

[2016-04-04 13:21] NateWr commented on #986
I'm having trouble getting the **New Catalog Entry** modal working. What's the status on this part?

When I click on **New Catalog Entry** in the Catalog modal, there's a dropdown list that says "Select a submission" but there are no submissions available to select. I've moved a submission through to Production stage.

What are the pre-requisites for getting a submission into this list? What's the

[2016-04-04 14:39] NateWr opened #1333 "Catalog grids need some UX work"
The new catalog grids (Catalog, Categories, Series, Spotlights) are great and a huge improvement over what we had before.

Playing around with them today I had a few UX issues that I'd like to sort out for future releases (after OMP 1.2).
- [ ] The layout of the search filters and submit button could be improved for clarity. I'd like to see the text search field on the left and, where it exists, t

[2016-04-04 15:08] NateWr commented on #1212
I've had a once-over of the Catalog page now and no language changes were needed. Closing this one out.

[2016-04-04 15:08] #1212 closed

[2016-04-04 15:24] NateWr opened #1334 "Series can be saved without a path"
When creating or editing a series, the Path field is shown as required but can be saved without it. This plays havoc with the Browse plugin and probably should be disallowed.

[2016-04-04 15:39] bozana commented on #1295
@asmecher, I've considered the submission_file_ref, that is only used for representations at the moment. I'll wait with the PR till the other native export PR is merged.

And yes, I was asking about source_file_id and source_revision i.e. the source attribute of the revision XML element. So, for example, the following revision (a part of the current native export) will be inserted by the current n

[2016-04-04 15:47] beghelli commented on #1333
Hi @NateWr , thanks for the review. :)
Item two is already happening, but the spinner is next to the search button, which might be overlooked.
Last item is easy to do, I can try to implement that after finishing my last bug.

[2016-04-04 16:03] NateWr commented on #1231
@asmecher or @beghelli or @bozana, could one of you take a look at the fix in this commit:

https://github.com/NateWr/omp/commit/994d94ccd80b834611116d5614486baa17a2eb7c

The problem was that there was no `$request->getUserVar('type')` or any user vars when I looked. So I replaced that check with the best data that I could find. But I'm not sure how reliable the data I've pulled in is, particularl

[2016-04-04 16:06] NateWr commented on #1333
Hey @beghelli, thanks! I probably just didn't notice the loading spinner in my local dev cause it's loading so quick.

To be honest, I think this none of this is critical and it can probably be postponed to after OMP 1.2. I don't want to derail you from more important work you may have ahead. I just wanted to log it while I was looking at it.

[2016-04-04 16:15] bozana commented on #1231
I can take a look... :-)

[2016-04-04 16:58] asmecher commented on #440
Yes, I think that's a perfect solution.

[2016-04-04 17:02] asmecher commented on #411
(If this isn't active, I'm considering deferring to OJS 3.0)

[2016-04-04 17:34] beghelli commented on #986
The modal is supposed to be a shortcut to bring submissions into the catalog. If it's listing nothing, then all your submissions are published already. But I will double check that.

[2016-04-04 17:34] asmecher commented on #411
Deferred.

[2016-04-04 17:50] bozana opened #1335 "Consider Browse Plugin Settings"
If the user chooses to have no browsing by categories or series, there is PHP Fatal error:  Call to a member function getCount() on null.
PR is coming...

[2016-04-04 18:11] NateWr commented on #1231
Vertical alignment of file names needs to be fixed. There's a clearfix issue with the file `li` elements.
![selection_068](https://cloud.githubusercontent.com/assets/2306629/14258151/081e1cc4-fa99-11e5-8616-7c687f50daad.png)

[2016-04-04 18:19] crism opened #1336 "[OJS] issue cover settings save inappropriate null-locale values, causing PHP scalar errors"
With `HEAD` of OJS, I get frequent error log messages of the sort:
[code]
With additional debugging messages added, this appears to happen from a variety of subclasses of `DataObject`, including `Issue`, `Journal`, and `User`.

Looking at the code, it seems possible that `$this->_data[$key]` is not initialized before attempting to set `$this->_data[$key][$locale]`. The whole method looks a bit off

[2016-04-04 18:38] asmecher commented on #1336
That code is as old as the hills, which means both 1) I'm unsure why it would suddenly start complaining (perhaps PHP's error/warning reporting got stricter, which does happen sometimes) and 2) it probably is due for a review. I'll take a peek sometime soon.

[2016-04-04 18:41] asmecher commented on #1335
Merged, thanks!

[2016-04-04 18:41] #1335 closed

[2016-04-04 18:53] crism commented on #1336
@asmecher, I suspect that something in OJS initializes itself differently than OMP stuff does, since OMP has no problems in this respect. The code tries to set `$this->_data[$key][$locale]` naïvely; that suggests that it expects someone else to have set `$this->_data[$key]` at some point. I’m trying to figure out where the difference lies between classes that work and ones that don’t.

[2016-04-04 19:45] asmecher commented on #1336
Hmm, there was another comment you made on this or a very similar issue within the last few days, that used error_log to figure out the index being used -- but I can't spot it now. Do you have it handy?

[2016-04-04 19:54] crism commented on #1336
Yes, sorry, I should have referenced http://forum.pkp.sfu.ca/t/cannot-use-a-scalar-as-an-array/10488/5 in the initial report.

[2016-04-04 20:04] asmecher commented on #1336
@crism, can you dump out the DB entries for one of the badly-behaved settings?

[2016-04-04 20:22] asmecher commented on #1263
Thanks, @bozana! What of the above remains for the 1.2 release?

[2016-04-04 20:44] asmecher commented on #632
(Reopening per today's conversation so this doesn't get lost)

[2016-04-04 20:52] asmecher commented on #1295
Yes, I think that's OK for now (no source_file_id/source_revision_id).

[2016-04-04 21:46] crism commented on #1336
The `issues` table:
[code]
The `issue_settings` table:
[code]

[2016-04-04 21:52] asmecher commented on #1336
That `null` value for `hideCoverPageArchives` is a problem -- it should be a localized setting. I suspect that's going to be a typical cause of these types of messages.

[2016-04-04 21:56] crism commented on #1336
OK—are there not supposed to be non-localized default values for localizable settings?

[2016-04-04 21:58] asmecher commented on #1336
No, if there's a default it'll be specified in localized form (see `registry/journalSettings.xml` for examples), or the setting will be empty (no DB entry) until the settings form is saved.

[2016-04-04 22:00] asmecher commented on #1332
@mtub, would you like me to tackle these and summarize the resolution for each?

[2016-04-04 22:00] crism commented on #1336
And in any case, `hideCoverPageArchives` has been localized since pkp/ojs@5c8da1bf3c1f85337ca4e165d85267cc42a6f766… So how did the null values get in there?

[2016-04-04 22:01] crism commented on #1336
Looks like a problem with installation/configuration, then, not with operation. I’ll poke in that direction…

[2016-04-05 08:23] bozana commented on #1263
@asmecher, this issue can be closed -- all of the points above are solved. We can maybe just open a new issue for the DOI plugin monograph option?

[2016-04-05 10:44] NateWr commented on #1231
Publication dates have code in title.

![selection_069](https://cloud.githubusercontent.com/assets/2306629/14279184/b425730c-fb23-11e5-8a40-add69e6dd5f7.png)

[2016-04-05 10:46] NateWr commented on #1231
@asmecher After all the back-and-forth in https://github.com/pkp/pkp-lib/issues/1229, I'm thinking maybe we should just remove the Added date. I suspect it's prone to confusion, especially with it sitting up top like that...

Maybe later we can implement a proper "initial publication" date by looking at the pub format dates. But for OMP 1.2 maybe just get rid of it so we don't create false expecta

[2016-04-05 11:06] luandro opened #1339 "Can't get OJS to install"
A few months ago I got the OJS system to successfully install on my stack (PHP 5.6, MariaDB, Nginx, Ubuntu 14.04). But it suddenly stopped working, and now I can't re-install it, not even a fresh install.

I get to the install page: `example.com/index.php?journal=index&page=install`. But when clicking the "Install Open Journal Systems" button, and get redirected to `example.com/index.php?journal=i