[2015-12-11 09:16] NateWr commented on #955
Yes, not all grids are necessarily the same height now (the Active grid, for instance). That's why I suggested that we need to scan all grids.

I think a "Load more items" or "View more items" button would kill two birds with one stone: it would be a fallback so we don't have to worry so much about grid height and would also improve awareness and keyboard accessibility.

[2015-12-11 09:59] NateWr commented on #960
I never really understood the problem with Discussions, but since everyone who has looked at it has wanted something different I'm clearly wrong here. I suspect the problem is that people recognize fairly quickly that the discussions tool is going to be where they do a lot of the work.

@willinsky's suggestion makes the most sense to me.

Surely there's some fairly trivial way for people to change

[2015-12-11 10:10] beghelli commented on #955
I've made a comment where the change was introduced and the scrolling stopped working. I explained why I did it that way, will wait for your opinion @NateWr. Thanks.

[2015-12-11 10:35] NateWr commented on #955
@beghelli I'm ok if you want to restore the `max-height` setting and set grid height programmatically in JavaScript.

I'm a little nervous about relying on the height calculation. For instance, if people resize the browser and this changes the height of rows, it can cause problems. We can recalculate with the `.onresize` event (be sure to throttle though!) and do other things to fix the problem, i

[2015-12-11 11:00] beghelli commented on #955
Done, I a gree with the more items link. Adding that now.

[2015-12-11 13:03] withanage commented on #960
Thanks @asmecher  for inclusion:

In the scientific advisory board, we were even asked , if we could even have the "discussions" section  without the other  omp backend ui elements.  So  e.g. professors, who want to  give an opinion on the book, can direclty log into the discussions sections.

I agree completely with @NateWr
"discussions tool is going to be where they do a lot of the work."
Even t

[2015-12-11 13:57] beghelli commented on #955
@NateWr , please, take a look, see if that's what you were thinking...

[2015-12-11 16:35] asmecher commented on #960
For per-site customization I'll be forward-porting the "custom locales" plugin, which allows targeted overrides to locale file strings without requiring filesystem changes (e.g. to XML files).

[2015-12-11 22:04] crism commented on #312
This really needs to be put into production; the [recommended download](http://pkp.sfu.ca/omp/download/omp-1.1.1-1.tar.gz) still has this bug.

[2015-12-12 15:53] beghelli commented on #844
@NateWr , if you did nothing related to this, I can fix it. Just let me know.

[2015-12-12 15:55] NateWr commented on #844
@beghelli Go for it! I won't be looking at stuff again until Monday and this probably won't be near the top of my list. Thanks!

[2015-12-12 23:36] asmecher commented on #312
We decided to release OMP 1.2 rather than 1.1.2 but it's taken longer than expected.

[2015-12-14 11:32] NateWr commented on #954
:+1:

[2015-12-14 11:36] NateWr commented on #950
Ok sounds good. I can see the utility of an "all journals/presses" view for administrators or copyeditors. But we can explore that again down the road. It's not mission-critical and I suspect we'll get lots of useful feedback on the dashboard after releases that may help us better design these processes.

Are tasks "global"?

[2015-12-14 11:56] NateWr opened #961 "[UI] OMP Administration > Hosted Presses needs styling"
Put content into white background container. Use title which matches navigation links. Order icon in grid seems off.

[2015-12-14 13:08] NateWr commented on #941
Ok, so this touches on something that's been nagging me for a while. @willinsky and @asmecher, you're both right, I think, that there is some ambiguity around the "Dashboard". WordPress has the same ambiguity, where "dashboard" is commonly used to refer to the entire backend, but also represents a specific navigation item within the backend.

The difference for us, I think, is that our navigation

[2015-12-14 14:04] beghelli commented on #950
@NateWr yes, tasks are global.

[2015-12-14 14:20] beghelli commented on #941
@NateWr I like the suggestion you've made: move everything to the top. We tried to do like that previously, as you remember, but the way you did now it's much cleaner.

Do you think we have the need for a side bar menu? The problem you pointed (the menu is not much useful to users, since they will almost click in one item only) is true, I agree. And it's much worst when that's always on the sideba

[2015-12-14 14:35] NateWr commented on #941
@beghelli Those are exactly the kind of ideas that have been bouncing around in my head since I mocked that up a couple hours ago. It's quite a drastic change, but it's definitely worth thinking about when we have some time after 3.0...

[2015-12-14 17:00] NateWr opened #965 "[UI] Grid row-actions misplaced"
The commit where I [reworked grid carets](https://github.com/pkp/pkp-lib/commit/99beb0ca3807232042dfeb23e1a8d899ccb51dbe) led to a regression with icons in `row-actions`. These include some elements that should be right-aligned (like trash icons) and others that probably should be left-aligned (like the ordering).

Some examples.

![icon-placement-1](https://cloud.githubusercontent.com/assets/2306

[2015-12-14 17:37] NateWr opened #966 "[UI] [Submission] Indicate role is required when adding contributor"
During submission you can add a contributor. When doing so, the role is required, but it's not indicated in the form.

[2015-12-14 17:38] NateWr commented on #966
When the form reloads with the error, there are duplicate "* Denotes Required Field" elements in the modal.

[2015-12-14 17:47] #961 closed

[2015-12-14 17:47] #933 closed

[2015-12-14 17:49] asmecher commented on #966
The duplicate required field warning can be fixed by moving the message div into the form element, IIRC.

[2015-12-14 20:08] beghelli opened #967 "Dashboard is not linked anywhere when in admin page in single context scenario"

[2015-12-14 21:05] asmecher opened #968 "Fix setspec issue with special characters"
See http://forum.pkp.sfu.ca/t/ohs-oai-patch-needed/5671/7

[2015-12-14 22:07] NateWr commented on #830
@asmecher I've updated the markup to adopt the same pattern as the main workflow, but I've noticed another bug. The Internal Review tab isn't loading in the Author Dashboard.

It looks like [the requested template file](https://github.com/pkp/pkp-lib/blob/master/controllers/tab/authorDashboard/AuthorDashboardTabHandler.inc.php#L103) doesn't exist. I tried debugging this but only got more confused

[2015-12-14 22:13] beghelli commented on #844
This bug was happening because of feature class error, in PHP land, fixed. Also discovered that the ordering was not working due to the removal of the 'element' class in the grid rows, fixed. And finally implemented what Nate suggested.

[2015-12-14 22:38] asmecher commented on #830
@NateWr, thanks for the heads-up -- I've put a bit of time into this and gotten it going again. Check out my branches:
https://github.com/asmecher/pkp-lib/tree/i830-pre-fix
https://github.com/asmecher/omp/tree/i830-pre-fix

If those look OK, let me know and I'll merge them into master. Or you can base your work on those, and then send a PR to include that and some styling -- up to you.

[2015-12-15 08:55] NateWr commented on #830
[PR](https://github.com/pkp/pkp-lib/pull/970).

[2015-12-15 08:59] NateWr commented on #694
@asmecher Should we clear the 1.2 milestone from this Issue or close it and create a new issue to discuss the FBV?

[2015-12-15 10:52] NateWr commented on #955
@beghelli Thanks! I'm getting a permissions error when I try to load more items in the Dashboard > Active grid:

`The current role does not have access to this operation.`

Can you reproduce the problem?

Also, I was having some issues with the loading row triggering the scroll event over and over again. I thought it would be better to take the loading element out of the row list:

![load-more](ht

[2015-12-15 10:57] NateWr commented on #941
@willinsky Bruno and I are taking another pass at the grids where you can scroll to load more items, to see if we can improve the problem you identified where it's not clear how to get more items. If you get a chance, can you take a look at the animated image in [this comment](https://github.com/pkp/pkp-lib/issues/955#issuecomment-164725499) and let us know if you think the new "Load more" link so

[2015-12-15 10:59] NateWr commented on #950
@asmecher The grid in [this comment](https://github.com/pkp/pkp-lib/issues/955#issuecomment-164725499) has a "Presses" column that throws the grid alignment off. I'm guessing this is the "global dashboard" thing that you talked about removing.

Do you want me to flag these up where I see them or is it already on your radar?

[2015-12-15 11:54] beghelli commented on #955
@NateWr I've tested your work here an everything works fine. I have no problems with authorization, can you send me your database dump? BTW, great improvement. :)

[2015-12-15 12:41] beghelli commented on #955
@NateWr the grid row error is probably related to the press name. That will be fixed when we remove that column. The authorization is also related to getting submissions from another context that you don't have access to, I think. I will remove that column and will make this list context specific and check if this solves both problems. Thanks for your dump. :)

[2015-12-15 12:55] NateWr commented on #941
@willinsky PRs [here](https://github.com/pkp/pkp-lib/pull/971) and [here](https://github.com/pkp/omp/pull/182) address a few of the problems you identified:

- Submission grid column title switched from "Book Title" to "Author; Book Title".
- My Submissions moved to bottom of dashboard
- "Active" tab now called "All Active"

I'd like some more feedback before switching "Submissions" to "My Submiss

[2015-12-15 12:56] NateWr commented on #955
:+1:

[2015-12-15 13:07] beghelli opened #972 "Make sure submission lists are context specific"

[2015-12-15 14:12] bozana commented on #788
@asmecher, I think that there are these two requirements, above all:
a) to be able to upload the original reviewer's file as editor -- in case when reviewer are not able to use the system, when the review takes place via e-mails and in order for these files to be in the system.
b) to be able to upload the anonymized reviewer's files

This issue mentions only the requirement b). Thus, maybe we don'

[2015-12-15 14:15] NateWr opened #975 "[UI] Improve submission process"
This is a general ticket to track improvements we can make to the submission process. It's incomplete but it can be a central place for tracking stuff that occurs in discussions or ideas we don't want to lose.
- [ ] [Improve file component type](https://github.com/pkp/pkp-lib/issues/975#issuecomment-164777350) (Deprecated in favor of https://github.com/pkp/pkp-lib/issues/1528#issuecomment-30738894

[2015-12-15 14:16] NateWr commented on #975
We could make primary or common file component types easier to select. The list is long and sorted alphabetically so you have to go digging for the "main file".

![submission-component-list](https://cloud.githubusercontent.com/assets/2306629/11812895/779ef7cc-a336-11e5-9c69-3b3beaf90fd6.png)

[2015-12-15 14:41] NateWr commented on #805
The TinyMCE route is probably best. Are you still hoping to get this change in place for 1.2?

[2015-12-15 15:09] #965 closed

[2015-12-15 15:17] beghelli commented on #975
I like this idea. I've already used optgroup labels in the UserUserGroupListbuilderHandler.inc.php, but I didn't implemented in the select.tpl file. I did it in JS, but if we are going to use it anywhere else, I think it's better to implement it in the FBV and let the UserUserGroupListbuilderHandler.inc.php use it that way also. Just a note to not forget.

[2015-12-15 15:28] NateWr commented on #975
:+1:

[2015-12-15 17:53] willinsky commented on #941
Agreed that My Submissions is ambiguous and like queue because it allows for "my authored" and for "unassigned."  Consider if only for a moment that if the page was designated the Editorial Dashboard or the Submissions Dashboard, then we could go with the tab: My Queue - All Active - Archive - Catalog Management. Catalog is a bit out of place, admittedly but it is the submissions catalog. (On the

[2015-12-15 18:27] NateWr commented on #941
Actually, I really like your idea of using the word Submissions. What if we dropped "Dashboard" altogether, since it seems to be the source of confusion?

You're right that everything in the current dashboard reflects submissions, except for Catalog in OMP and Issues in OJS. Let's take a look at those tabs:

![ojs-subtabs](https://cloud.githubusercontent.com/assets/2306629/11819475/ed6c5ed8-a357-1

[2015-12-15 18:52] beghelli commented on #941
@NateWr Issue management was already like you propose here, outside the dashboard and having it's own menu entry. But I think we decided to move them to the dashboard trying to centralize all editorial information there, so editors could use that as an start point to everything.

Tabs inside tabs is a problem spread throughout the system, but worst than having this is the feeling that we are tryin

[2015-12-15 18:53] willinsky commented on #941
Agreed with @NateWr and @beghelli. Drop dashboard by all means as I believe we're not using it consistently (re: users, for example). And while Catalog and Issues are all about the management of submissions, I do like the setting off of Submissions and Issues, as different levels of operation. The only thing is that journals are moving away from quarterly Issues (Numbers), and publishing articles

[2015-12-15 19:11] #972 closed

[2015-12-15 19:41] asmecher commented on #788
How about making the "read review" link more general -- i.e. just call it "Review"? And making it always present, not just when the review has been completed.

Then, when open, it could present general information on the review's status; if the review is completed, then it'll behave as it currently does, showing the review. If not, it can (eventually) satisfy requirement a) as well, by allowing th

[2015-12-15 20:28] asmecher commented on #955
(I'm leaving this up to the two of you, BTW -- if you want my intervention you'll have to ask for it :)

[2015-12-15 20:30] asmecher commented on #941
Scheduling this for OMP 1.2 while the discussion is so active. @NateWr, I'll let you take the lead on this, with @willinsky's guidance; let me know if you want me to jump in.

[2015-12-15 20:31] asmecher commented on #950
That's correct, I'll be removing that shortly. It's supposed to display only when you're viewing the dashboard site-wide. But of course it won't do that once I've removed it :)

[2015-12-15 22:05] asmecher commented on #955
^ The above commits remove a bunch of support for the multi-context dashboard.

[2015-12-15 22:05] asmecher commented on #950
I removed support for multi-context dashboards in issue #955.

[2015-12-15 22:16] beghelli commented on #955
Tested again with the more recent changes, and the scrolling and the submission lists are working. @asmecher Are you going to remove the leftover from OJS also?

[2015-12-15 22:18] asmecher commented on #955
The changes were pretty much all in pkp-lib, @beghelli -- do you see something I missed?

[2015-12-15 22:28] asmecher commented on #975
We actually have three types of files:

- Submission files (what you've called "primary files", though it's possible that presses will want to use this for files that don't neatly fall under that heading)
- Supplementary files
- Artwork files

The difference between these is in the indexing metadata available to each. Submission files get a title only, and presumably inherit the rest of their desc

[2015-12-15 22:33] asmecher commented on #830
Merged, thanks!

[2015-12-15 22:33] #830 closed

[2015-12-15 22:50] beghelli commented on #955
No, but you needed to stop using PKPContext naming in OMP land also, here: https://github.com/pkp/omp/commit/8fca1d741e3948c82a5ae63870ca0e3a7e58303d I thought it would be necessary to do something like that in OJS...

[2015-12-15 23:26] asmecher commented on #955
Already done: https://github.com/pkp/ojs/commit/1110e154cd7f5232c1b792518cba0c119670436c

[2015-12-16 00:41] asmecher opened #978 "Consider file naming"
Automatic file naming has long been a source of confusion and requests for modifications. SI has also flagged this:

"Give publisher permission to overrule OMP’s automatic filenaming convention. Couldn’t these totally non-intuitive number-string filenames be hidden?"

Need to discuss with UI/UX group.

[2015-12-16 00:42] asmecher commented on #554
Also from SI: "Add wildcard for ISSN, so SISP may automate DOI assignment. SISP’s DOI pattern is “prefix + ISSN + vol/issue no."

[2015-12-16 19:20] bozana commented on #744
Yes, that could be the way to correct the values, if necessary, but maybe we doesn't have ti do this -- if the browsing by series position is enabled, then the editors will see if there is a mismatch/mistake and can repair it manually? Also, having "Book 2" or "Vol. 2" displayed to the user would indicate more information, what it is meant to be?

[2015-12-16 19:27] bozana commented on #744
I was wondering how would be best to display the series positions for browsing. Maybe as they are (i.e. using the same string entered in the form field and saved in the database) on the series content page, between the series description and the monograph list:

![seriespage](https://cloud.githubusercontent.com/assets/378421/11851405/d8b4f1ea-a432-11e5-8556-95464c03b800.png)

When clicking on a se

[2015-12-16 20:05] bozana commented on #788
Thus, we can assume that there will always be a reviewer in the system and added in the 'Reviewers' grid, also if the review is done via e-mail?
Concerning the last part/sentence: By making a decision, the editor has the possibility to select the review attachments for the author to see. Thus, maybe we can provide just a normal file upload for the editor and let him/her decide if it is a revision?

[2015-12-16 20:23] bozana commented on #744
Maybe to see here, what everything could be the series Position: http://www.editeur.org/files/ONIX%203/ONIX_Books_Sets_and_Series_3.pdf. Search for "PartNumber" -- I think this is the ONIX element where the seriesPosition field is delivered into. It could be just a number e.g. "2", but also something like: "#2", "II", "2-4", "Set 2", "Series 2", "Volume 2", "Book 2", "Part II"... :-)

[2015-12-17 18:07] sebastienlhaire opened #979 "ojs 2.4.7 problem with passwords"
Hi

I have tried to upgrade from ojs 2.4.5 to 2.4.7, b oth using the tar file and a git repository. The Journal I work for has some custom files that have nothing to do with user management.
I have run "php tools/update.php update" but still have problems with loging users to the database:

Here is the structure:

mysql> describe users;
+----------------------+--------------+------+-----+---------

[2015-12-17 18:32] ctgraham commented on #979
The password field in 2.4.7 is 255 characters in length, not 40.
https://github.com/pkp/pkp-lib/blob/ojs-stable-2_4_7/xml/schema/common.xml#L161

This would indicate a problem when you ran `php tools/update.php update`.

Please try the update again, capture any error messages, and post this to the support forum if you continue to have trouble:
http://forum.pkp.sfu.ca/

[2015-12-17 20:47] asmecher commented on #805
Hoping, yes, but replacing suboptimal bits of OMP is a lower priority than missing functionality and high-priority bugs. Call it second-tier.

[2015-12-17 21:11] asmecher opened #980 "Category item ordering not working"
Category item ordering isn't working. Try e.g. the chapters grid; arranging authors within a chapter won't stick.

(Suspected to be related: look at the post data. "Category" appears to have been vivisected down to "gory".)

[2015-12-17 21:13] asmecher opened #981 "Add support for category ordering"
See http://forum.pkp.sfu.ca/t/manage-categories-omp/5718

Should work once https://github.com/pkp/pkp-lib/issues/980 is fixed.

[2015-12-18 00:29] asmecher commented on #979
(Conversation continues here: http://forum.pkp.sfu.ca/t/ojs-broken-database-users-unable-to-connect)

[2015-12-18 00:29] #979 closed

[2015-12-18 00:38] asmecher commented on #694
The affiliation field issue needs to get fixed for OMP 1.2 (see the link to the comment in the original posting).

[2015-12-18 22:39] asmecher commented on #744
Agreed, ONIX is the driver of this.

I think what we're trying to do is guide consistency, not specifically to parse a number out for other (e.g. metadata) uses. Frankly, I lean towards just letting the user enter whatever they want rather than working too hard on this, but something like an autocomplete field might be a useful way to hint what they've used in the past.

[2015-12-18 22:42] asmecher commented on #788
I mean that the "Review" link would appear as a row action for each reviewer in the reviewers grid. The Editor would be able to enter the review on the reviewer's behalf if it hasn't already been done.

Yes, I think your proposal for file uploads makes sense.

[2015-12-18 23:13] asmecher opened #983 "Reviewer search roadblock"
From UI/UX testing:

[2015-12-18 23:23] asmecher commented on #983
Renamed "Advanced Search" to "Find Reviewer". @NateWr, the major feature of that interface is the search filter form, but that (like all filter forms) is collapsed by default. Any opinion on expanding the filter by default for that one form? It would break consistency, but it would make that interface clearer, I think. We might consider this elsewhere in cases where the filter form should be promi

[2015-12-18 23:36] #981 closed

[2015-12-18 23:44] asmecher commented on #960
I've renamed the discussion tools to (depending on workflow stage)...

- Pre-Review Discussions (on the submission stage, before it's sent to review)
- Copyediting Discussions (where copyediting happens)
- Production Discussions (where layout editing happens)

Objections?

[2015-12-18 23:57] asmecher commented on #943
I've moved "Replies" after "Last Reply" per your suggestion.

[2015-12-18 23:58] asmecher commented on #943
Renaming of "Discussions" is covered in https://github.com/pkp/pkp-lib/issues/960

[2015-12-18 23:59] asmecher commented on #943
@stranack, do you recall what our decision was re: renaming the "Editorial" stage to "Copyediting"?

[2015-12-19 00:01] asmecher commented on #943
@willinsky, regarding the placement of the Catalog Entry; Submission History; etc. tools, these appear inline with the author list only if screen real-estate permits. If not, they get bumped onto a subsequent line. It's not dependent on how many authors there are, just screen real-estate. Are you suggesting these should always appear on their own line?

[2015-12-19 00:09] asmecher commented on #942
Moved "Advanced Search, Create New Reviewer, Enroll Existing Reviewer" links up. The renaming of the "Advanced Search" is handled in https://github.com/pkp/pkp-lib/issues/983

[2015-12-19 00:12] asmecher commented on #942
“Do not send Reviewer email” could better worded as “Do not send email to reviewer.” -- implemented.

[2015-12-19 00:41] asmecher commented on #942
Fixed doubled line breaks in email templates.

[2015-12-19 01:18] asmecher commented on #966
@NateWr, is this ready to be closed?

[2015-12-19 01:19] asmecher commented on #955
@NateWr and @beghelli, are you satisfied with what's been done on this issue?

[2015-12-19 01:21] #950 closed

[2015-12-19 01:30] asmecher commented on #924
@NateWr, can this one be closed?

[2015-12-19 01:31] asmecher commented on #844
@beghelli, is this ready to be closed?

[2015-12-19 01:34] asmecher commented on #764
(@bozana, just a reminder that this needs forward-porting -- thanks!)

[2015-12-19 03:19] willinsky commented on #943
I'm wondering about the slight distraction of having these linked terms (Catalog Entry; Submission History; etc)  in a different place on every page depending on how many authors and how long their names are. I am wondering about creating a space for them as a right-justified set of four terms -- to set them off from the five tab terms (as they are the same size as the tab terms, if underlined). T

[2015-12-21 09:19] NateWr commented on #966
Yep! [merged PR](https://github.com/pkp/pkp-lib/pull/976)

[2015-12-21 09:19] #966 closed

[2015-12-21 09:30] NateWr commented on #975
Sounds good @asmecher. My main priority is to raise the profile of the primary files, so that users can find the one they're most likely to use in most cases quickly. We don't need to replicate the under-the-hood file distinction. But having "submission files" separated out visually might make it easier -- particularly for that first file upload when they're most uncertain of what they're doing.

[2015-12-21 09:32] #952 closed

[2015-12-21 09:32] #934 closed

[2015-12-21 09:35] #924 closed

[2015-12-21 09:37] NateWr commented on #787
@asmecher I might punt this to OMP 3.0's milestone since we're still a ways off from having a multi-theme environment where this would be really useful. What do you think?

[2015-12-21 09:54] knjigor commented on #947
I have changed code in CrossRef plugin (/plugins/importexport/crossref/CrossRefExportPlugin.inc.php)
Added lines that define proxy and port at top (around line 260):
[code]

This is my work around for now, I think that it should be implemented in different way using config file.

[2015-12-21 10:06] NateWr commented on #744
I'm still not sure where we're going with the "browse by issue number" thing. Smithsonian asked for it in relation to the old navigation paradigm of dropdown menus. They wanted an additional dropdown menu on the left which would be a quick-jump to a book number because most of their users locate monographs by a book or volumn number that they assign:

![series-number](https://cloud.githubuserconte

[2015-12-21 10:11] NateWr opened #985 "[UI] Split Issues and Catalogs into their own page"
Move the Issues and Catalogs tabs from the dashboard into their own page. Make the sub-tabs on those pages top-tier tabs.

[Previous discussion](https://github.com/pkp/pkp-lib/issues/941#issuecomment-164848546)

[2015-12-21 10:12] NateWr opened #986 "[UI] Make the catalog page work"
- [ ] Several of the tabs don't load monograph details
- [ ] The feature/new releases designation is broken
- [ ] Probably lots more...

The catalog page position is getting reworked. See #985.

[2015-12-21 10:17] NateWr opened #987 "[UI] Create top logged-in bar"
Everyone in user testing has expected to find logout details at the top right. Let's go ahead and implement a top admin bar for our secondary navigation menu.

![context-view-3](https://cloud.githubusercontent.com/assets/2306629/11928455/97c5ab88-a7cb-11e5-9eb5-3261ca6daf8c.png)

How far we'll go for OMP 1.2 is still up in the air, but here's a list of things to consider in vague order of importan

[2015-12-21 10:26] NateWr commented on #694
I thought that you fixed the affiliation field starting from [this comment](https://github.com/pkp/pkp-lib/issues/694#issuecomment-144489569)...

[2015-12-21 10:34] NateWr opened #988 "[UI] Single-file upload component"
Our upload component is large and geared towards multiple file uploads. But it's only ever used for uploading one file at a time. Using the `plupload` API it should be fairly easy to create an upload component that is more intuitive for single-file uploads.

This will only be a first step towards improvement of the submission process (see #975).

[2015-12-21 10:40] NateWr opened #989 "[UI] Improve frontend navigation dropdown menus"
User tests showed people overwhelmingly fail to click on the top-level item of a dropdown menu (eg - About in the About dropdown). They struggled to find some of the details in the about page too, so let's consider the following:
- [x] Repeat the About link within the submenu
- [x] Consider more descriptive labels in the submenu. "About the Journal/Press"
- [ ] Consider splitting contact into its

[2015-12-21 10:42] NateWr commented on #983
The name change will be a big help. You're right that search should be expanded by default. I'd also like to maybe show the grid by default. I think this is worth a bit more looking at for 1.2 so I'll assign to myself if that's alright.

[2015-12-21 10:54] NateWr opened #990 "[UI] Improve TinyMCE fields"
We can adjust the formatting of text and things in TinyMCE fields. Right now the text is tiny and at odds with the rest of the UI.

I'm filing this against OMP 1.2 in the hopes I can get it in, but it's not absolutely vital.

[2015-12-21 10:56] NateWr commented on #942
I swapped out the dark blue for the pale blue in the primary button style. https://github.com/pkp/pkp-lib/commit/aeb259f456e98928bf73c7b21ef195b64abf7c79

[2015-12-21 11:14] NateWr commented on #955
@asmecher Looks great. Thanks Bruno. I just issued my PR with the style adjustments.

@beghelli Is there an easy way to give a grid a larger default height? Particularly on the pages where there's just one grid (Active/Archived submissions) I think it makes sense to show 20-30 rows before needing to load more.

[2015-12-21 12:00] NateWr commented on #877
I'm going to chuck this under OMP 1.2 because, at the very least, we need to solve the focus bug. If you click Add Participant and the modal pops up, when closing the focus remains on the participants list which leaves the main content panel mostly out of view.

[2015-12-21 14:33] NateWr commented on #975
The initial submission flow is disorienting because users have to first learn that they have to register and then once registered they get dumped in a very different-looking backend display. This could use a pretty big makeover. Some ideas:
- Add a prominent Make Submission button on the frontend, perhaps next to Search, that links to the Submissions Page.
- Add a prominent Start Submission button

[2015-12-21 14:35] NateWr commented on #988
Note for later: it might be nice to remove the "is this a revision" selection option in file upload during submission. It's only relevant later anyway.

[2015-12-21 15:17] NateWr opened #992 "Database error when loading block plugins"
I've started getting a database error that kills execution on my own test site.

![db-error](https://cloud.githubusercontent.com/assets/2306629/11933766/b707b958-a7f5-11e5-878d-d65821d32774.png)

I tracked it down to `PluginRegistry::loadCategory('blocks',true);` in the [PKPTemplateManager.inc.php](https://github.com/pkp/pkp-lib/blob/master/classes/template/PKPTemplateManager.inc.php#L227).

Anyon

[2015-12-21 15:50] beghelli commented on #992
Yes, I can. Fixing it.

2015-12-21 13:17 GMT-02:00 Nate Wright <notifications@github.com>:

[2015-12-21 16:22] NateWr opened #993 "[UI] Fix the notifications page on the frontend"
@asmecher I've just discovered this page for the first time. Is it still a thing? Do we need to talk about what goes in and how it's managed?

If so, I'll need to fix it up and make sure it's accessible somehow from the frontend and backend.

It can be accessed at `/notification`.

- [x] LInk to modify notifications is broken
- [x] Markup and styling out-of-date
- [x] Notifications of new announce

[2015-12-21 16:35] beghelli commented on #993
Hi @NateWr,

If I am not wrong, the modify notification you're talking about is related to select the ones you want to receive and/or receive emails about or not. This is already moved to the user profile page, under a notification tab.

I think we only want the list of the notifications on this page. The tasks is already showing notifications that have to do with something that the user needs to

[2015-12-21 16:45] NateWr commented on #993
Ok, here's what it looks like at the moment.

![notification](https://cloud.githubusercontent.com/assets/2306629/11935869/323eab16-a802-11e5-942b-78697b2dddba.png)

I guess we'll just need to discuss what to do with it and then do it. Just recording it for now so I don't forget.

[2015-12-21 17:06] beghelli commented on #992
No bug, just need to upgrade your database, due to this change: https://github.com/pkp/omp/commit/afa755bf49e869359122f6a8f98231dee977904d

[2015-12-21 17:07] #992 closed

[2015-12-21 17:18] beghelli commented on #975
@NateWr I like the idea of the Start Submission next to the search bar... I would appear even if the user is not logged in? I think that it could be the case, and if the user is not logged in, then it could lead to the login page, where he could login or register...

[2015-12-21 17:20] beghelli commented on #955
@NateWr Yes, you can define in the grid php class how many rows you want it to show at once. Just implement the getItemsNumber() method.

[2015-12-21 17:22] NateWr commented on #993
It's public too. If you log out you get all notifications, like this one:

Is that intentional?

[2015-12-21 17:23] beghelli commented on #993
No, I don't think so.

[2015-12-21 17:27] NateWr opened #994 "OJS 3.0: searching doesn't search article titles"
Searching an author's name will bring up a result but not searching a word in the title of that result.

[2015-12-21 17:57] beghelli commented on #844
yes, closing it now.

[2015-12-21 17:57] #844 closed

[2015-12-21 18:02] NateWr opened #996 "[UI] Style forgotten frontend pages"
- frontend/pages/userRegisterSite.tpl (multi-context registration landing page)
- frontend/pages/notification.tpl #993
- frontend/pages/error.tpl
- frontend/pages/message.tpl

[2015-12-21 18:13] NateWr commented on #955
Thanks @beghelli. I've upped the count on Active and Archived grids to 20. https://github.com/pkp/pkp-lib/pull/997

I'm a bit worried about the double-scroll bar with tall grids, though. What can happen is that the user ends up trying to scroll down but scrolls the outer window (and can't access the hidden items) or tries to scroll the grid area but a chunk of the grid is out of the viewport.

Tak

[2015-12-21 18:20] beghelli commented on #955
yes, that seems a little bit confusing. I like the idea of removing the scroll for some grids. Maybe I can try to trigger the load more items event using the page scroll for grids that are likely to be the only thing at the page. What do you think?

[2015-12-21 18:42] NateWr commented on #955
Yeah if you think you can pull it off. I presume you'll just check the scroll position against the bottom of the grid and, if it's scrolled into view, fire it off? Sounds like a good idea.

[2015-12-21 18:45] #980 closed

[2015-12-22 10:50] NateWr commented on #989
I suspect we won't need to add a specific menu item for Contact but just in case I'll leave this open until we get our second round of UX tests in  January.

[2015-12-22 12:24] NateWr commented on #986
@asmecher @beghelli

As part of #985 I've started looking at the catalog page. It's going to take some work to get it going. There are three problems:

1. It's broken. No big deal just going to take some work to get the functionality back in.
2. The category and series selection technique needs to change. Jumping from a select dropdown doesn't work for keyboard users.
3. The featuring technique ne

[2015-12-22 21:19] asmecher commented on #989
Merged what you sent PRs for, @NateWr, and designating the rest for OMP 1.2.1 unless testing suggests we push it up the list.

[2015-12-22 21:33] asmecher commented on #911
Moving to OMP 1.2.1 for consideration/UI/UX testing.

[2015-12-22 21:40] asmecher commented on #983
Sure, thanks!

[2015-12-22 22:29] stranack commented on #943
We decided to rename the stage to "Copyediting".

On 2015-12-18 3:59 PM, Alec Smecher wrote:

--
--
Kevin Stranack, MLIS, MAEd
Learning and Development Consultant
Email: kevin@stranack.ca
Twitter: @stranack
Skype: kstranack
Web: http://stranack.ca

[2015-12-23 00:28] asmecher commented on #960
None heard!

[2015-12-23 00:28] #960 closed

[2015-12-23 00:39] asmecher commented on #947
@knjigor, can you try the patch linked above? That will tell OJS to use the proxy configuration in the `[proxy]` section of `config.inc.php`. I haven't tested it, so would love to get your confirmation.

[2015-12-23 01:10] asmecher commented on #994
@NateWr, the attached patch should fix the problem for expedited submissions. Note that search results by keyword are cached at the PHP level. To clear the cache, either use the "clear data cache" tool in site administration, or...

    rm -rf cache/_db/??

Otherwise, can you clarify how you created/published the submission?

[2015-12-23 07:30] knjigor commented on #947
I have applied provided patch and crossref plugin is working as expected.

Is there a way to implement a patch for citation plugins that also doesn't use proxy settings [forum.pkp.sfu.ca](http://forum.pkp.sfu.ca/t/problem-with-processing-references-with-citation-markup-assistant/5417)?

[2015-12-23 07:35] NateWr commented on #994
That's probably it. I'll test when I'm back in action after Christmas.

[2015-12-23 11:24] beghelli commented on #955
Done @NateWr

Now the active grid is responding to the page scroll down. I will let this open until you take a look and see if that's ok.

[2015-12-23 11:44] NateWr commented on #955
Great! I probably won't look until after Christmas though.

[2015-12-23 11:54] beghelli commented on #955
No problem, have fun! :)

[2015-12-23 19:38] beghelli opened #999 "Stats processing is missing log entries that have pub ids"
See here: http://forum.pkp.sfu.ca/t/is-there-a-download-counter-of-the-pdfs-in-ojs/1159/35

[2015-12-24 14:20] #999 closed

[2015-12-24 19:22] asmecher commented on #694
I'm still not totally satisfied that the field is monolingual during registration, but multilingual thereafter. But not so dissatisfied that I won't defer this to OMP 1.2.1.

[2015-12-24 19:50] beghelli opened #1000 "Port stats fixes to master"

[2015-12-24 20:47] asmecher commented on #1000
Lucky #1000!

[2015-12-24 23:15] asmecher commented on #947
@knjigor, I attached some similar fixes to other uses of cURL; does that address your question re: citation plugins?

[2015-12-25 11:34] knjigor commented on #947
I have patched all suggested files but processing citations with Citation Markup Assistant is still not working.

Also, I can't find folder 'webservice' in classes actually in OJS 2.4.7.1. last folder in classes is 'user'

[2015-12-25 21:50] asmecher commented on #947
See my response to your comment on that commit; I think it'll resolve this.

[2015-12-26 13:27] beghelli opened #1001 "Usage event plugin should not use public ids"
Currently it is passing to any plugin registered against its hook the usage event with the url containing the public id, if the accessed object has one. To make sure that the log files can be processed any time, we should only use OJS internal ids, so if the public ids are changed, the old log files will still be enough to retrieve the object.

[2015-12-26 17:49] beghelli opened #1002 "OMP is not loading DOI plugin"
The problem is that version.xml is setting lazy load to true when actually this is not a lazy load plugin.

[2015-12-26 17:52] beghelli commented on #1002
The commit fixes the problem for fresh installs or when upgrading. A quicker fix:
UPDATE versions SET lazy_load = 0 WHERE product = 'doi';

[2015-12-26 17:52] #1002 closed

[2015-12-27 02:28] beghelli commented on #1001
Will implement a quick fix, but if the chances to have a public id that might direct to an internal id is high, we can implement this more complex solution:
1 - use the unique site id to identify the usage logs created by the system;
2 - make sure that the usage stats loader knows when it's processing an OJS usage event log file;
3 - avoid retrieving objects using public ids on that case;
4 - crea

[2015-12-27 03:00] beghelli commented on #843
@ctgraham
Actually I didn't thought about that. I add the settings to keep everything as it was before the upgrade, and then users can disable those dimensions after that. Thanks

[2015-12-27 05:49] knjigor commented on #947
I have applied all provided patches and services are using proxy now, only one that still doesn't work is Crossref DOI lookup, I still get error:

```The CrossRef's web service call has returned an error when called with the following URL: http://www.crossref.org/openurl/?pid=crossref@ff.uns.ac.rs&noredirect=true&format=unixref&url_ver=Z39.88-2004&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&rft.aufir

[2015-12-27 08:19] mtub commented on #959
Yes, this seems to be copied from another context, it's clearly not correct here. Since this is the task name, it's probably not much of an issue to just remove the translated line. @marcbria, if you want to suggest a new translation or if you know of someone working on the translation of that plugin, please let me know.

[2015-12-27 08:43] #959 closed

[2015-12-27 13:03] beghelli commented on #623
Already merged fix in pkp/ojs#551

[2015-12-27 13:03] #623 closed

[2015-12-27 13:05] beghelli commented on #622
Already fixed with pkp/ojs#551 merge

[2015-12-27 13:05] #622 closed

[2015-12-27 17:06] beghelli commented on #890
Thanks Clinton! Lots of improvements, as usual.

[2015-12-27 17:06] #890 closed

[2015-12-28 09:02] mtub commented on #936
@asmecher, these are lots of changes - what's the source of the translated versions? Just curious, but when we refer to the ISO list it might be a could idea to have more or less authoritative lists in other languages as well (the ISO list is only available in English and French). My suggestion: the respective lists on Wikipedia, e.g. https://ca.wikipedia.org/wiki/ISO_3166-1

[2015-12-28 09:02] mtub commented on #936
I think we should agree on one way of sorting these files - the languages are sorted by code, the countries are sorted, well, mostly by (translated) name. I am tempted to reorder the countries.xml files (because it makes comparing them easier), but people might prefer a list alphabetically sorted by translated name of that country.

[2015-12-28 09:12] mtub commented on #804
Checked and merged. Sorry for the delay.

[2015-12-28 09:12] #804 closed

[2015-12-28 15:06] beghelli commented on #1000
Finished for OMP, will track down the OJS master branch changes in another issue. Closing.

[2015-12-28 15:06] #1000 closed

[2015-12-28 19:47] mfelczak opened #1003 "[OHS] Add custom block manager"
Port from OJS

[2015-12-29 19:57] mtub opened #1004 "[OJS] remove unused locale files/non-existent plugins"
OJS contains locale code for three plugins that haven't been published. Translators have translated the en_US files. Having locale files for non-existent plugins is not good, and this situation could be resolved by:

* removing the three plugin folders from the ojs-dev-2_4 branch or by
* releasing the three plugins

The missing plugins are
* `plugins/blocks/recentArticles`
* `plugins/generic/relat

[2015-12-29 22:22] beghelli opened #1005 "Adapt/create OJS application classes for the stats framework"

[2015-12-30 17:43] mfelczak opened #1006 "[OHS] Add static pages plugin"
Port from OJS

[2015-12-30 23:40] asmecher commented on #936
@mtub, I had a hard time finding a machine-actionable resource that was available in most languages, and ended up using the source of the Debian iso-codes package:
https://packages.debian.org/sid/iso-codes
I recommend that we don't do any local maintenance of these files at all -- simply refresh them from upstream sometimes. If we need sorting, it should be added to the conversion script (`tools/p

[2015-12-31 09:22] mtub commented on #936
Agreed, @asmecher. May I suggest that we include a reference to the source (Debian) and a warning? Maybe something like "Please don't edit or translate. This file is automatically generated using the ISO 3166 files of Debian's iso-codes package (https://packages.debian.org/sid/all/iso-codes)."

[2016-01-04 13:30] bozana commented on #744
Sorry for late response because of the holidays :-\

I think that the different sorting and filtering options on all book listing pages (catalog, series and categories) would be helpful for everybody -- i.e. something like @NateWr suggests: "Order/filter by: series, categories, title, author, date, series position, ...". -- I've already heard of the similar requirements from LangSci and Edition Ro

[2016-01-04 16:32] ctgraham opened #1007 "Custom report generator leaves Issue Galleys untranslated"
Steps to reproduce:
* OJS 2.4.7, with published and accessed Issue Galleys
 * User Home -> Journal Manager -> Stats and Reports
 * Generate Custom Report
 * Change Report Template to "Issue File Galleys"
 * "Generate custom report"

Expected Result:
* "Type" column values are translated.

Actual Result:
* "Type" column values are "##editor.issues.galley##"

[2016-01-04 19:14] asmecher opened #1009 "Remove OpenAds plugin"
It's not recommended and basically unmaintained.

[2016-01-04 19:20] #1009 closed

[2016-01-04 20:16] beghelli commented on #1007
Already merged, checking if needs porting to master. Closing.

[2016-01-04 20:16] #1007 closed

[2016-01-04 20:23] beghelli opened #1010 "Time filters options in custom report generator are not working"
Current day stats are not processed yet, so we can't retrieve any report from current day stats. Should change to yesterday instead.

[2016-01-04 20:55] asmecher opened #1011 "Types in submission.citations.filter.unsupportedPublicationType should not be translated"
The symbolic names `book`, `journal`, `conf-proc`, and `thesis`, specified as options in the English-language version of the `submission.citations.filter.unsupportedPublicationType` locale key, appear to have been translated (at least in the case of the Spanish locale). These are symbolic names; ensure that they aren't translated.

See http://forum.pkp.sfu.ca/t/problem-with-publication-type-field-

[2016-01-04 21:22] asmecher commented on #947
@knjigor, I missed a case; try this patch (in lib/pkp) in addition:
https://github.com/pkp/pkp-lib/commit/e8b34155c9ce37ac21e67681d8a0c479a38f1b59

[2016-01-04 21:28] beghelli commented on #1010
beside the first problem, the time range filter is not working. Needs to back port to stable.

[2016-01-04 22:13] asmecher commented on #936
Also, a snippet to convert the English-language version of the XML file from the iso-codes package:

    $f = simplexml_load_file('/path/to/iso_3166.xml');
    foreach ($f->children() as $c) {
            if ($c->attributes()->date_withdrawn) continue;
            echo "\t<country name=\"" . $c->attributes()->name . '" code="' . $c->attributes()->alpha_2_code . "\"/>\n";
    }

[2016-01-04 23:11] asmecher commented on #936
@mtub, I've updated the PR, adding "do-not-edit" warnings among other things. Mind taking another look? If it's OK, I'll then move the poToCountries.php tool to the shared library so that everything will be shared between OJS and OMP, and then back-port to OJS stable for the 2.4.8 release.

[2016-01-05 00:14] asmecher commented on #744
@bozana, I think your proposal is a nice synthesis of the various requests we've seen. And it sounds like it's general-purpose enough that it would be better built into OMP rather than written as a plugin. @NateWr, do we have quorum?

[2016-01-05 08:32] mtub commented on #936
This looks good and ready to merge as far as I can tell, @asmecher. Will be a relieve to have that list automatically compiled for all locales.

[2016-01-05 09:07] #872 closed

[2016-01-05 10:10] bozana commented on #744
@NateWr, if you agree, what would you recommend, how the sorting possibility could look like on those book listing pages?

[2016-01-05 12:26] beghelli commented on #1010
Backported. Closing.

[2016-01-05 12:26] #1010 closed

[2016-01-05 12:31] mtub commented on #1011
I'll take care of this. Almost every locale but de_DE and ru_RU has this. We've had similar cases when translators translated code examples, symbolic names, etc. At some point, we might think about not having these static kinds of strings in the locale strings, but reading them from another file would make the code much less readable, so that's probably not an option.

[2016-01-05 12:42] beghelli opened #1013 "Ajax form submit controls doesn't get enabled after form submission"
This was fixed in master, needs backporting.

[2016-01-05 12:47] #1013 closed

[2016-01-05 12:54] mtub commented on #1011
When checked and merged, I can cherry-pick this for master and omp-dev-1_1 branches.

[2016-01-05 12:59] beghelli opened #1015 "Let custom report generator knows about optional dimensions"
Plugins that implement metric types have the option to define optional dimensions. The custom report should know and warn users about that.

[2016-01-05 14:01] ctgraham commented on #739
@beghelli, I removed the unused method for multiple releases that you pointed out, and I changed this plugin to no longer be a site-level plugin.  With the new structure, it can be useful to Journal Managers as well.

[2016-01-05 14:13] NateWr commented on #996
Some notes on the `frontend/pages/userRegisterSite.tpl` template from Alec:

- Create at least two journals
- Navigate to the site-wide homepage, where you should see a list of journals.
- Click "Register".

[2016-01-05 16:24] NateWr commented on #955
Finally took a look at this. Looks good to me! Can you do the same with the Archive grid?

[2016-01-05 16:59] NateWr opened #1016 "Right sidebar needs to be removed"
Right now the sidebar will still appear if blocks are added to it, and it isn't laid out properly on the page. We still need to discuss where we want to go with the sidebars, but at least for OMP 1.2 we'll need to remove it from the frontend and should remove the ability to add blocks to it in the settings panel.

[2016-01-05 17:50] asmecher commented on #1011
@mtub, one approach that would prevent this, if you think it's useful:

In the code...

   $translatedKey = __('submission.citations.filter.unsupportedPublicationType', array('book' => 'book', 'journal' => 'journal', 'conf-proc' => 'conf-proc', 'thesis' => 'thesis'));

In the locale XML file...

    <message key="submission.citations.filter.unsupportedPublicationType">Unsupported or missing public

[2016-01-05 17:57] mtub commented on #1011
I think it's too much. We are now having a closer look at translations. I will try to include a note on "Watch out for code, variables, etc. when translating" in the translation documentation.

[2016-01-05 18:00] asmecher commented on #1011
Sounds good to me, thanks.

[2016-01-05 19:10] #936 closed

[2016-01-05 19:12] asmecher commented on #936
Done! Thanks, @mtub.

[2016-01-05 20:12] beghelli commented on #955
No :)

[2016-01-05 20:37] asmecher commented on #1004
I suppose these are maintained outside of the official git repository? If that's the case, and they're 3rd-party plugins, we should direct the translators to send those back to the respective repositories. If it's our own repos, we could facilitate. But in any case, those locale files should be removed from the OJS repo.

[2016-01-05 21:17] asmecher commented on #943
"Editorial" stage renamed to "Copyediting".

[2016-01-05 21:29] asmecher commented on #787
Yes, that's OK with me. Moving over to OJS 3.0.

[2016-01-05 21:51] asmecher commented on #1016
Removed.

[2016-01-06 00:18] asmecher commented on #944
@willinsky, regarding:

I disagree -- "status" is one of those words I'm trying to avoid because it doesn't really say anything about the content that appears there. Maybe another option?

[2016-01-06 06:01] knjigor commented on #947
I have applied patch and citation markup assistant is working as expected.

[2016-01-06 11:15] NateWr commented on #1016
Just re-opening so I remember to remove the code from the templates (unless you've already done that -- didn't see it).

[2016-01-06 13:01] beghelli commented on #1015
ported to master, closing.

[2016-01-06 13:01] #1015 closed

[2016-01-06 13:04] beghelli commented on #739
Great. Is there a pull request to look at? Thanks.

[2016-01-06 13:20] ctgraham commented on #739
Same PR as above: https://github.com/pkp/ojs/pull/535

[2016-01-06 16:26] beghelli commented on #955
I think this is ready, @NateWr can we close it?

[2016-01-06 17:32] asmecher commented on #947
@knjigor, I'll have to look into that a little -- but can you post it as a question on our support forum?

[2016-01-06 17:32] #947 closed

[2016-01-06 17:51] willinsky commented on #944
I beg to agree -- "status" applies to both degree of completion and availability. This suggests that perhaps the two parallel terms Completion and Availability might be the better titles for the two columns. Another option is Approval and Availability.
Now that I've stared at it for a while I can see how the empty check boxes might raise a question about what to do, that is, whether to try to chec

[2016-01-06 20:03] NateWr commented on #987
I'm going to go ahead and call this done. If we want to do more with the top bar (and I think there's much we could do) let's deal with it separately.

I'll leave it open until the PRs are successfully tested and merged.

[2016-01-06 23:09] beghelli commented on #987
@NateWr There are some problems with the tests, are you able to look at it? If you prefer, I can take a look here, I can run the tests locally, it's easier to fix them. Just let me know.

[2016-01-06 23:36] NateWr commented on #987
@beghelli Thanks, I'll be working again some tomorrow so I'll take a look. I'll let you know if I have any trouble.

[2016-01-07 13:16] NateWr commented on #955
Lovely!

[2016-01-07 13:16] #955 closed

[2016-01-07 14:35] NateWr commented on #1016
Ok, [PR[(https://github.com/pkp/pkp-lib/pull/1021) for the remaining right sidebar stuff.

Also, the custom block manager and web feed plugins look like they still have some references:

[code]

[2016-01-07 15:21] NateWr opened #1022 "[UI] TinyMCE tooltips have wrong offset"
I've found this is sporadically reproducible on the Add Reviewer modal and happens with all TinyMCE tooltips.

![tinymce_tags](https://cloud.githubusercontent.com/assets/2306629/12174061/4e9c46ee-b552-11e5-895e-03455e0f9022.png)

![tinymce_tooltip](https://cloud.githubusercontent.com/assets/2306629/12174062/4eb2182a-b552-11e5-847b-abc35104a599.png)

[2016-01-07 15:28] bozana commented on #876
This issue could be closed, right?

[2016-01-07 15:32] #855 closed

[2016-01-07 15:37] #917 closed

[2016-01-07 16:37] NateWr commented on #990
Some basic style improvements are done in [this PR](https://github.com/pkp/tinymce/pull/5).

This raised two more issues I'd like to get resolved as part of this ticket.

- [ ] The TinyMCE button tooltips often appear misplaced. This especially happens in the modal when adding a reviewer.
- [ ] TinyMCE fields get a fixed height of `140px` added to their `iframe`'s `style` attribute. It'd be great

[2016-01-07 17:04] NateWr commented on #1022
Consolidating into #990

[2016-01-07 17:04] #1022 closed

[2016-01-07 17:17] NateWr commented on #805
When viewing frontend pages without a context, eg `/index/login/`, the footer area is missing. Whenever we work out what we're doing with the footer, we should probably have a better fallback if no content is specified.

[2016-01-07 17:21] NateWr opened #1024 "Possible to reach broken dashboard without context"
It's possible to get to a dashboard without a context at this URL:

`http://192.168.0.8/omp/index.php/index/dashboard`

You can land on it by going to `/index/login` while logged out. Then log in from anther tab. Then go back and reload `index/login` and it will kick you to the index dashboard.

The grids fail to load.

[2016-01-07 17:49] NateWr commented on #996
@asmecher or @beghelli Do you know under what conditions the following page templates might be displayed?

[code]

[2016-01-07 18:12] beghelli commented on #996
@NateWr It seems that error.tpl is used by the PKPLoginHandler when there's a problem resetting the user password or an user is trying to login as an user and it has no authorization to do that. It's also used by the RegistrationHandler to show any reason for a failing registration operation.

And the message.tpl is a generic template that's used to show a message to the user. It's mainly used by

[2016-01-07 18:14] asmecher commented on #996
frontend/pages/error.tpl:

- If a user tries to self-register, but the journal/press doesn't allow it (`lib/pkp/pages/user/RegistrationHandler.inc.php::validate`)
- If a user tries to login at the end of the registration process but their account has been disabled (`lib/pkp/pages/user/RegistrationHandler.inc.php::validate`)
- If a user tries to sign in as another user, but doesn't have sufficient

[2016-01-07 18:43] asmecher commented on #1024
Replicated with an admin account.

[2016-01-07 18:43] #1024 closed

[2016-01-07 19:05] beghelli opened #1025 "Press name setting is spread across 3 different places"
Currently it can be managed at:
- admin context setting form
- context masthead setting form
- context appearance setting form

The first two are using the same setting, and it makes sense to keep them. We should get rid of the third one and make sure that every place in the system that uses it starts to use the setting handled by the first two places.

[2016-01-07 19:27] asmecher commented on #876
Yes, I think so... Closing.

[2016-01-07 19:27] #876 closed

[2016-01-07 19:35] asmecher commented on #1016
Ah -- forgot to commit the submodule repo. I fixed the custom block manager plugin but don't see anything in the web feed plugin; I think that's already corrected.

[2016-01-07 20:09] asmecher commented on #1016
@NateWr, I've merged your PR; is this ready to close from your perspective?

[2016-01-07 20:18] asmecher commented on #942
@willinsky, regarding:

We already have support for multiple authors to be active in the workflow with OJS 3, and if there are remaining restrictions on only a single author participating, we need to remove those. So I'd suggest we stick with "Authors" rather than assuming there will be a single contact author.

[2016-01-07 20:20] asmecher commented on #764
Closing. Thanks, @bozana!

[2016-01-07 20:20] #764 closed

[2016-01-07 22:58] crism opened #1026 "[OMP] test files missing from repository"
`README.md` gives instructions to set up unit testing:
[code]
The source tree does not include `testserver.sql` nor `config.TRAVIS.inc.php`.

[2016-01-08 16:27] crism commented on #1026
[code]
It looks, then, like the problem is just that `README.md` is out of date regarding testing. What’s the recommended way to test, locally, then?

[2016-01-08 16:54] asmecher commented on #1026
@crism, there's some documentation here that's a little more up to date:
https://pkp.sfu.ca/wiki/index.php?title=Unit_Tests

We've been finding the dev-side documentation a little brittle since we adopted some continuous-integration approaches. These days I tend to let Travis run the testing. The Travis scripts also serve as a rough and ready guide to configuring a test environment; see .travis.ym

[2016-01-08 17:04] crism commented on #1026
Thanks, @asmecher. Most of the motivation for this is that I get a lot of minor warnings and a few serious bugs running OMP with PHP 5.6, and I’d like to rigorously clean those up.

I’ll work through those guidelines and try to correct the `README.md` accordingly.

[2016-01-08 18:00] asmecher commented on #1026
@crism, thanks -- I'm using PHP 5.6.14 and it's running well. Could you describe the errors?

[2016-01-08 18:15] crism commented on #1026
@asmecher, the log has lots of time zone warnings for `mktime()` and and `strftime()`. Additionally, with OMP 1.1.1, there were errors of the sort: `Cannot redeclare class SignoffNotificationManager`; I want to check if those persist in `HEAD` before reporting those.

[2016-01-08 18:32] crism commented on #1026
The unit tests all pass, BTW, except the “incomplete, risky, or skipped” ones.

[2016-01-08 18:38] asmecher commented on #1026
The timezone warnings can be addressed by setting a time zone in php.ini (for OMP 1.1 or master) or config.inc.php (for OMP master only). I'll check the other.

[2016-01-08 19:03] crism commented on #1026
Thanks, @asmecher. I’d overlooked the `php.ini` timezone settings; the ones in `config.inc.php` had fixed most of the problems, but there were still errors coming out of `adodb-time.inc.php`, which the `php.ini` settings seem to have fixed.

If I confirm any of the other errors in `HEAD`, I’ll report them separately.

[2016-01-08 19:03] #1026 closed

[2016-01-08 19:11] asmecher commented on #1026
OK, thanks!

[2016-01-08 20:13] crism opened #1027 "[OMP] undefined constant in WebFeedBlockPlugin"
[code]

[2016-01-08 20:16] crism commented on #1027
Could be defined in that file, or in `lib/pkp/classes/plugins/BlockPlugin.inc.php`—will think about which seems more appropriate.

[2016-01-08 20:17] beghelli commented on #1027
This is a leftover, we are getting rid of the right sidebar for OMP 1.2. See: https://github.com/pkp/pkp-lib/issues/1016

[2016-01-08 20:17] crism commented on #1027
Yes, just noticed that commit, @beghelli. Thanks; never mind this.

[2016-01-08 20:17] #1027 closed

[2016-01-08 21:33] asmecher opened #1028 "Pre-select reader roles on registration"
Per today's UI/UX discussion with NW and KS:

User role selection during registration was a point of confusion for users during UI/UX testing. We discussed ways to simplify the process. One specific proposal was to hide and pre-select the "Reader" role on the registration form.

IMO that approach creates a new source of confusion: on multi-journal/press sites, there is a spin-out "Show Other Journ

[2016-01-08 21:34] asmecher commented on #1028
(Will review with UI/UX on Monday, but closing for now.)

[2016-01-08 21:34] #1028 closed

[2016-01-08 21:44] asmecher opened #1029 "Hide reviewing interests on registration form from non-reviewers"
Hide reviewing interests on registration form from non-reviewers. Only make it visible when the reviewer checkbox is checked.

[2016-01-08 21:45] asmecher commented on #1029
As with https://github.com/pkp/pkp-lib/issues/1028, this becomes ambiguous when multiple contexts are available. For now, I'll adjust behavior only for single-context sites. For multi-context sites, the field will always be visible.

[2016-01-08 21:55] asmecher opened #1030 "Fix listbuilder delete action"
The "Delete" action for listbuilder rows is formatted to the right of the first column, instead of to the left.
In the pictured example, this is the "Edit User" action in the Journal Manager's users grid.

![actions](https://cloud.githubusercontent.com/assets/200411/12210498/4e441934-b60f-11e5-8f31-fa5f0695948f.png)

[2016-01-08 22:41] jmacgreg commented on #1004
Hey guys,

Apologies, this was my bad, committing code by mistake; they should be deleted outright.

J

[2016-01-08 23:30] mfelczak opened #1031 "[OMP] Apply timezone setting to DB connection"
The new timezone setting should be applied to both PHP and the DB to ensure that saved dates work correctly with DB date functions, e.g. date_posted < CURRENT_DATE.

[2016-01-09 01:12] asmecher commented on #1029
Screencap shows...
- Reader role on current context checked by default (issue #1028)
- Reviewer interests field only shown when *any* reviewer role checked
- Roles available for other contexts via extras-on-demand (these need styling!)

![Screencap here](https://cloud.githubusercontent.com/assets/200411/12213276/47c4480c-b62a-11e5-9b1d-b764d32b3f55.gif)

[2016-01-09 01:16] asmecher opened #1032 "Integrate context-sensitive help"
Per Nate's work, e.g. https://github.com/pkp/pkp-lib/compare/master...NateWr:help_panel_scaffold
...and Alec's work on markdown help integration...
...integrate context-sensitive gitbook-based help using a flyout panel and a PHP-land Markdown parser.

[2016-01-09 01:17] asmecher commented on #1032
WIP:
https://github.com/asmecher/ojs/tree/gitbook
https://github.com/asmecher/pkp-lib/tree/gitbook

[2016-01-09 01:30] asmecher commented on #1032
Forgive the horrible colours and cropping; this is state-of-the-art animated GIF.

Illustrates:
- Panel open/close
- Basic Markdown rendering (from https://www.gitbook.com/book/pkp/ojs3/details as a submodule)
- "Sticky" state of help on leaving/re-opening without navigating in OJS
- Context sensitivity assignment for a page load per code: https://github.com/pkp/pkp-lib/compare/master...asmecher:g

[2016-01-09 08:52] mtub commented on #1032
Mind if I join the discussion? Alec, I think this looks good and promising. Hard-coding the md file names would force us to update code at many places when something in the structure of the documentation changes. Maybe some kind of simple mapping of topics and markdown files in one file? This could reduce necessary updates when renaming, splitting, adding help files.

[2016-01-09 11:24] beghelli commented on #1025
Fixed in OJS. OMP is already launched and users might be using the 'pageHeaderTitle' setting I removed in favour of the context 'name' setting.

@asmecher Should we consider doing something to handle this in upgrade? At least checking if it's used, and if it's different than the press name, warning the user that the setting was removed...

[2016-01-09 15:29] mtub commented on #1004
ok. I will take care of it.

[2016-01-09 23:02] asmecher commented on #1032
@mtub, thoughts absolutely welcome.

I'm not confident about the wisdom of including hard-coded filenames either. My criteria are...

- It should be something that doesn't give translators extra work
- We should be able to automatically search the code for broken connections between the software and the help content
- It should be manageable hopefully without introducing additional tools (if possi

[2016-01-10 12:25] beghelli commented on #1001
@asmecher Do you think that we need to worry about the chances to have a public id that might direct to an internal id?

[2016-01-10 12:26] beghelli commented on #880
Ported to master, closing.

[2016-01-10 12:26] #880 closed

[2016-01-10 12:26] beghelli commented on #813
Fixed.

[2016-01-10 12:26] #813 closed

[2016-01-10 12:27] beghelli commented on #772
@asmecher is this still relevant?

[2016-01-10 12:36] #760 closed

[2016-01-10 12:37] beghelli commented on #685
This is already integrated in both stable and master.

[2016-01-10 12:37] #685 closed

[2016-01-10 12:41] beghelli commented on #339
Closing, since master branches doesn't implement remote galleys.

[2016-01-10 12:41] #339 closed

[2016-01-10 12:42] beghelli commented on #463
Duplicated #1000. Closing.

[2016-01-10 12:42] #463 closed

[2016-01-10 12:44] beghelli commented on #537
I think this can be closed, right @NateWr . Feel free to reopen if needed.

[2016-01-10 12:44] #537 closed

[2016-01-10 12:45] beghelli commented on #556
@ubermichael Not sure if you're still looking into this, but just for the record, the number means the specific hour in the day. So you can't define anything outside the 0 to 23 range.

[2016-01-10 12:45] #556 closed

[2016-01-10 12:46] beghelli commented on #563
@jmacgreg @jalperin Is this still relevant? I am closing now, please, reopen if needed. Thanks.

[2016-01-10 12:46] #563 closed

[2016-01-10 16:12] NateWr commented on #537
Kind of a historic moment in commit history here! Thanks for kicking it all off at the beginning. :)

[2016-01-10 16:42] bozana commented on #788
I solved it this way:

I leaved the link "Read New Review/Read Review" in the first row as it is -- because there could be also other actions like SendReminderLinkAction and it is useful to have it on the first glance. Additionally there is not the "Review" row action in the second row.
Example of a completed review by the reviewer and a not yet completed/started review:
![readnewreview_review](ht

[2016-01-11 09:44] NateWr commented on #990
@beghelli Do you handle the TinyMCE code at all? I'm trying to track down the code which adds a fixed height of `140px` to the TinyMCE iframe but not having much success. If you've dealt with that, you have any pointers?

[2016-01-11 09:45] NateWr commented on #1016
Yep! Closing.

[2016-01-11 09:49] NateWr commented on #1030
Hmm, if I recall, other listbuilder components work better with the actions on the right. Might need a grid-specific CSS override here.

[2016-01-11 10:10] NateWr commented on #1028
Ok, I don't really have any good ideas for resolving this. I agree with your approach. Let's leave it closed.

[2016-01-11 10:18] NateWr commented on #1029
Making progress. I'll work on the styles. A couple thoughts:

1. What happens if someone unclicks Reader for all contexts?

2. A short description text for the Roles field might be useful. Is there anything we can tell a user about the Reader role? Does it give them access to anything? Are they likely to receive email notifications or anything like that?

3. Maybe change "Show Other Journals" to "

[2016-01-11 10:43] NateWr commented on #1032
@mtub and @asmecher: just some input on where we'll get with the final implementation (hopefully) in case that impacts on design now.

For this prototype, we've just chucked in a link on the workflow page. But ideally, I'd like to be able to add very specific help links and attach them directly to grids, form labels, etc. These would then be able to open to very specific sections of the help docum

[2016-01-11 11:16] beghelli commented on #537
It's been refreshing and motivating seeing you working @NateWr :) Thanks.

[2016-01-11 11:22] bozana commented on #1029
What about the possibility for each journal/press to define the roles an user can register for? -- This was the case in OJS 2.4.x and demand of some presses (e.g. LangSci). -- Then those options for "Register with other journals" wouldn't work well. Or can we assume that those are the minimal/default set each journal/press will provide?

[2016-01-11 12:21] bozana commented on #788
One more thing: when an editor uploads a review file instead of the reviewer and presses "Confirm" button, the review assignment would be marked as completed i.e. dateCompleted is set. @asmecher, do you think this could be a problem on another place in the system, because dateConfirmed is missing?

[2016-01-11 12:48] NateWr commented on #1030
Should be good to go here.

[2016-01-11 13:34] beghelli commented on #1025
I added a release note about this. I am closing this for now, if we think we need a different communication to users for OMP upgrade, we can reopen.

[2016-01-11 13:34] #1025 closed

[2016-01-11 15:51] NateWr commented on #1029
![show-other-presses](https://cloud.githubusercontent.com/assets/2306629/12238289/2c9ee912-b87b-11e5-81c8-3baafbc18622.gif)

[2016-01-11 16:27] NateWr commented on #990
Thanks to some help from @beghelli, [this PR](https://github.com/pkp/pkp-lib/pull/1035) makes sure that TinyMCE controls will respond appropriately to the `rows` attribute of its target textarea.

[2016-01-11 17:18] asmecher commented on #1030
PR was: https://github.com/pkp/pkp-lib/pull/1033

[2016-01-11 17:36] beghelli commented on #986
I like the idea of using existing components and getting rid of the ones we just implemented for this part of the system. I like the all monographs tab. But I feel that the categories one is confusing. I expected to see categories listed there, and not submissions. Also, it took me some time to figure it out that the controllers on the right would load the grid with a filter, showing only the subm

[2016-01-11 17:41] gpieri opened #1036 "[OJS] Merging users messes up signoffs table"
When merging users the user_id in the signoffs table are updated incorrectly.

Suppose there are two users A and B. And A is merged into B (A will be removed).

Instead of updating the user_id of A into the user_id of B, the user_id of B is changed into the user_id of A.

This leads to inconsistencies in the database, and in certain cases breaks the Editing tab of the article.

[2016-01-11 18:27] ubermichael opened #1038 "[OJS] MySQL 5.7.5 and Group By/Having"
MySQL 5.7.5 introduced a new SQL mode which is on by default, [ONLY_FULL_GROUP_BY](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_only_full_group_by). This change trips up one SQL query in the PLN plugin. In the SQL to [check for updated issues](https://github.com/pkp/ojs/blob/ojs-dev-2_4/plugins/generic/pln/classes/DepositObjectDAO.inc.php#L115) the last column (`a.last_modified as

[2016-01-11 18:33] lepidus opened #1039 "[OJS] Announcements are not visible at the published date"
Announcements are not visible at the published date. They only become visible the day after.

Announcement should be visible at the published date.

[2016-01-11 18:45] asmecher commented on #1029
@bozana, in the user group editing form, the manager can decide which roles are available for self-registration. Does that suit e.g. LangSci?

@NateWr:

It's possible to be enrolled in the system but not associated with any journal. That's typically a boundary case that causes some confusion, but I'm not sure how better to handle it.

We can't hard-code much about the roles because they can be cre

[2016-01-11 18:51] asmecher commented on #1029
@NateWr, pull OMP master again -- I've merged the changes. But the styling needs porting to OJS master.

[2016-01-11 18:53] ubermichael opened #1042 "[OJS] PLN Plugin updates deposits too frequently"
The PLN plugin updates a deposit regardless of the deposit's status. Deposits that are being processed by the staging software, LOCKSSOMatic, or LOCKSS should not be changed before LOCKSS has reached agreement. Changing the deposits while they are being processed can cause the deposit package to be overwritten before it has been processed, which may cause a checksum mismatch.

[2016-01-11 19:10] NateWr commented on #1029
There should be a PRs with styles waiting for pkp-lib, omp and ojs..

[2016-01-11 19:13] asmecher commented on #1029
OK, thanks -- could you drop the URLs here? Unfortunately Github doesn't seem to link automatically.

[2016-01-11 19:18] NateWr commented on #1029
I forgot to update the PR titles to include proper linking.

[pkp-lib](https://github.com/pkp/pkp-lib/pull/1034)
[omp](https://github.com/pkp/omp/pull/190)
[ojs](https://github.com/pkp/ojs/pull/702)

Looks like there's a linting error I can fix tomorrow or just go ahead and do it if you want to tick this issue off.

Can we avoid it by giving the reader role input for the current context a `disable

[2016-01-11 20:00] asmecher commented on #1042
Merged, thanks!

[2016-01-11 20:00] #1042 closed

[2016-01-11 20:01] asmecher commented on #1029
@beghelli, I assigned those PRs to you as you'd begun revewing. OK to leave on your plate?

[2016-01-11 20:08] ubermichael opened #1043 "[OJS] PLN Host URL is too confusing"
Remove the PLN Host URL in the config pages for the PLN plugin. It's causing confusion with the users. Leave it as a config.inc.php setting, with enough documentation around it to be useful.

[2016-01-11 20:38] crism commented on #1016
This is still present in one OMP-specific file.

[2016-01-11 20:54] asmecher commented on #1038
Merged, thanks.

[2016-01-11 20:54] #1038 closed

[2016-01-11 21:04] bozana commented on #744
What sorting options would you prefer:

As links, where number indicates the sorting direction (asc or desc) and should maybe be exchanged with the up and down arrows:
![sortby_1](https://cloud.githubusercontent.com/assets/378421/12246464/e97dfd60-b8ae-11e5-9167-bd68c1a46992.png)

or
As drop-down:
![soprtby_2](https://cloud.githubusercontent.com/assets/378421/12246470/f0a6719e-b8ae-11e5-9180-61b42

[2016-01-11 21:05] bozana commented on #744
Any idea how to sort by author when multiple authors exist? -- I leave it out for now...

[2016-01-11 21:08] asmecher commented on #744
@bozana, my first thought was "by primary author", but I don't think it'll be a very useful approach. A separate author profile area would cover the same requirement but do a much better job. Leave author sorting out of here, I think.

[2016-01-11 21:09] asmecher commented on #744
As for presentation, I prefer the drop-down (less real estate), but @NateWr's opinion trumps mine here :)

[2016-01-11 21:50] bozana commented on #744
Maybe another question, if it should be drop-down: should then be also another drop-down for the sort direction (asc and desc)?

[2016-01-11 23:26] asmecher commented on #1032
I added anchor support exactly as @NateWr described. You can, in PHP land...

    $this->setHelpFilePage($templateMgr, 'chapter_1_introduction.md#secondBit');

...and in the referenced Markdown document...

    ### <a name="secondBit"></a>The Second Part Of The Introduction

Gitbook permits anchors to be entered this way but presents them just as they're written above. Least worst for now?

[2016-01-11 23:52] asmecher commented on #986
@beghelli, feel like tackling the implementation of this one? (@NateWr, if I'm poaching something in progress, please let me know!)

[2016-01-11 23:53] asmecher commented on #772
@beghelli, I haven't had time to look at it for a while. Do you feel like taking it over? Feel free to discard my approach if you don't think it makes sense; on the plus side I did feel like it removed a lot of duplicated concepts.

[2016-01-11 23:58] asmecher commented on #1036
Cherry-picked also to ojs-dev-2_4 and omp-stable-1_1_1, thanks!

[2016-01-11 23:58] #1036 closed

[2016-01-12 00:03] asmecher commented on #1039
Master branch port:
https://github.com/pkp/pkp-lib/commit/3d6029a40d060141375530aab2c68cf09bd7c2a8
(Typo: Commit message includes wrong bug number)

Thanks, @lepidus!

[2016-01-12 00:03] #1039 closed

[2016-01-12 00:08] asmecher commented on #1043
Merged, thanks!

[2016-01-12 00:08] #1043 closed

[2016-01-12 00:12] gpieri commented on #1039
You're welcome, @asmecher.

(Regarding the typo... I spotted it after submitting the PR, I thought had fixed it, sorry. We're using the issue number on the commit message, in this case 1039. Should we start using the PR number as in the master branch port?)

[2016-01-12 00:13] asmecher commented on #1039
No, that was my typo, not yours! Sorry, I wasn't clear.

[2016-01-12 00:15] gpieri commented on #1039
I see. I misinterpreted it. :-)

[2016-01-12 00:25] beghelli commented on #1029
@asmecher Sure.

[2016-01-12 00:45] beghelli commented on #879
That's already completed by #1000. Thanks @asmecher

[2016-01-12 00:45] #879 closed

[2016-01-12 17:39] gpieri commented on #1039
Hi, @mfelczak. I updated the PR with the suggested changes. Let us know if there is any additional improvement.

[2016-01-12 18:37] asmecher commented on #562
A common request to consider here: use different templates for request reminders and review reminders.
http://forum.pkp.sfu.ca/t/different-templates-for-automated-review-request-reminder-and-automated-review-reminder/4540

[2016-01-12 19:41] asmecher commented on #1039
Merged the revised commit; will port around.

[2016-01-12 20:16] asmecher commented on #788
I'd suggest forcing the dateConfirmed to the date of upload, but also ensuring that the event log is clear about the Editor having uploaded the review.

[2016-01-12 20:25] asmecher commented on #805
@NateWr, I don't see the same behavior you do (missing footer). Maybe you're hitting a Smarty error or something?

[2016-01-12 21:38] asmecher commented on #788
Walk us through this during next week's UI/UX call; @NateWr will probably have some quick thoughts on formatting the grid actions!

[2016-01-12 22:24] asmecher commented on #1001
@beghelli, do you mean a numeric public identifier?

[2016-01-12 22:43] asmecher commented on #944
Regarding the approval/availability discussion, see also... https://github.com/UB-Heidelberg/omp/issues/29

[2016-01-12 22:52] asmecher commented on #941
@willinsky and @NateWr, just summarizing what's already been covered:

- Pretty much all the specifics are implemented in the original entry.
- There's some good dashboard revamping discussion but no conclusions yet.

Any objections if I file a new entry against OJS 3.0 (for now) to consider a dashboard revamp, referring to the conversation here, and close this issue?

[2016-01-12 22:55] beghelli commented on #1001
@asmecher Yes, someone could use a numeric one that clashes with internal ones right? I mean, it's something we should worry?

[2016-01-12 22:58] asmecher commented on #1001
I think we should actually prevent users from entering purely numeric custom IDs. It would be an easy enough test and IMO there's no good reason to break our necks trying to come up with rules for handling that kind of ambiguity.

[2016-01-12 23:04] beghelli commented on #1001
nice, I can implement that then :) thanks.

[2016-01-12 23:47] #919 closed

[2016-01-12 23:56] asmecher commented on #883
Meh. The current docs are nice and brief and refer to the wiki for more details where needed.

[2016-01-12 23:56] #883 closed

[2016-01-12 23:58] asmecher commented on #564
James, is this something that's likely to get into OJS 2.4.8, or should I defer?

[2016-01-13 00:55] asmecher commented on #625
Done.

[2016-01-13 00:55] #625 closed

[2016-01-13 01:17] jmacgreg commented on #564
Defer!

J
On 12 Jan 2016 3:58 p.m., "Alec Smecher" <notifications@github.com> wrote:

[2016-01-13 05:55] willinsky commented on #944
Consulted discussion, and while points differ, I also think my proposal (modified in light of H.'s comments) addresses points about catalog vs. catalog entry, as well, as in the use of (checked) checkboxes, although I may not fully understand the comments.

[2016-01-13 09:28] bozana commented on #788
@asmecher, OK, thanks a lot! :-)

[2016-01-13 14:49] NateWr commented on #1016
Thanks @crism. Can you open a pull request?

[2016-01-13 14:55] NateWr commented on #944
I think @willinsky's more action-oriented language (Complete X, Add to X) is a bit clearer. @asmecher, should I split the text changes into an issue and assign to OMP 1.2 milestone?

[2016-01-13 15:34] NateWr commented on #744
I am a little sceptical of putting the sorting options on every page as a UI control on the frontend. What I suggested earlier was having it be a backend option that editors can set for the catalog as well as per-series and per-category.

This would mean that each series or category could have its own preferred sort order, but not necessarily that the visitor would re-sort according to their prefe

[2016-01-13 15:36] NateWr commented on #744
And either way, dropdowns are out because they're not keyboard accessible. If we do go with a sorting option, just leave the links in and let me know and I'll handle the markup and styling as needed.

[2016-01-13 15:39] NateWr commented on #1032
Just a potential sticking point (I don't know how GitBooks works): will it be possible/easy for translators to accidentally or intentionally change or remove the anchor element?

[2016-01-13 15:43] NateWr commented on #986
Would love it if @beghelli took it off my hands. :) Maybe throw #985 in to kill two birds with one stone?

[2016-01-13 15:55] NateWr commented on #986
The only thing I don't like about a category grid is the lack of focus. I guess that usually when people are visiting the page they don't want to see all of the monographs for all of the categories. In a very large library, the grid list could be pretty long, right?

I think you're right about the links on the right being not very clear. I'm not sure precisely what the best way to organise this is

[2016-01-13 15:56] NateWr commented on #986
Ahh yes, we do need submission searching/listing in order to flag as featured or new release...

[2016-01-13 16:02] NateWr commented on #788
@bozana If you want to catch me during sane European hours to walk through this just let me know.

[2016-01-13 16:07] beghelli commented on #986
@NateWr I agree, people should have the possibility to hide monographs they don't want to see. Even better, they should have the option to show the ones they want. That's why I suggested that we used that grid feature, so the monographs would be collapsible. We can define the initial state to collapsed, so they would only see the categories names.

[2016-01-13 16:14] NateWr commented on #986
Ok let's give it a shot.

[2016-01-13 16:27] beghelli commented on #1029
@NateWr do you need to update the last pull requests? I just managed to get your changes working when I fetched directly your branches. But maybe I did something wrong getting the commits in those pull requests...

[2016-01-13 16:30] beghelli commented on #1029
Also, the extras on demand controller is used elsewhere in the system. Pages like management/tools/reportGenerator need a little bit more of styling, I think... Or maybe the template is wrong. We can open a new issue if we just need to adapt the controller usage...

[2016-01-13 16:31] asmecher commented on #1032
@mtub is looking at options for including anchors in Gitbook, with exactly that issue in mind. My suspicion is that translators won't have too bad a time of it, and some automated checking tools in with the normal Travis toolkit will help prevent rot.

[2016-01-13 16:33] NateWr commented on #1029
@beghelli There was a [linting error](https://travis-ci.org/pkp/ojs/jobs/101615092) that I was going to fix, but otherwise the PRs should be good.

Thanks for pointing out the `reportGenerator`. I've just had a look myself. As far as I can tell, the existing styling should work. Each `extrasOnDemand` should be supplied with an active title and inactive title. It probably just needs an inactive tit

[2016-01-13 16:34] NateWr commented on #1032
:+1: If I want to take a look at this some time, what's the best way? Just check out your branch?

[2016-01-13 16:35] beghelli commented on #1029
If you can, it would help :) Thanks.

[2016-01-13 16:46] asmecher commented on #1032
Yes -- currently for OJS only -- check out `gitbooks` both for the app and for pkp-lib. You'll also have to do a submodule init to check out the gitbooks repo (which contains the markdown).

[2016-01-13 16:50] asmecher commented on #1029
(One more place to check extras on demand styling: when creating a reviewer, there's a spinout to select files for review.)

[2016-01-13 17:06] asmecher commented on #1011
@mtub, is this ready to be closed?

[2016-01-13 17:06] NateWr commented on #1029
That one appears to not be an `extrasOnDemand` component. It's got a custom accordian action on it in `ReviewerFormFooterHandler.js`. Shall I convert it to an `extrasOnDemand` component?

[2016-01-13 17:08] asmecher commented on #1029
Ah -- yes, please, if just for the sake of standardization.

[2016-01-13 17:23] NateWr commented on #1029
It required a bit of extra text for the toggle + grid titles. Quick ok on the language?

![control-shared-files](https://cloud.githubusercontent.com/assets/2306629/12301907/669f4760-ba1a-11e5-8973-eff449af7dc0.png)

[2016-01-13 17:25] #739 closed

[2016-01-13 17:27] asmecher commented on #1029
IMO that's a little redundant -- rather than both "Control Shared Files" and "Files To Be Reviewed", why not just use one heading that's clickable?

[2016-01-13 17:31] NateWr commented on #1029
Because it's a grid and grids have titles. Even when they don't have titles they have a big gaping hole where a title would be which throws off the visual hierarchy and pulls your eye over to the search icon on the right rather than keeping it running down the left vertically.

![control-shared-files](https://cloud.githubusercontent.com/assets/2306629/12302076/48acffbc-ba1b-11e5-8ab0-35bc59992e63.

[2016-01-13 17:36] asmecher commented on #1029
I sense frustration :) Fair enough, though maybe we can resolve the problem more broadly. Thinking out loud (@beghelli): what about a grid feature that makes the title into a clickable way of collapsing the whole grid?

[2016-01-13 17:37] beghelli commented on #1029
@NateWr I still prefer the last one, it makes me feel less confused trying to understand why two titles so similar are so close...

@asmecher It seems like a good idea and an easy one to implement. I can try that...

[2016-01-13 17:39] asmecher commented on #1029
@beghelli, watch out for one detail: that grid is also presented in the "Edit Review" modal, where it should not be collapsed by default. IIRC I recently added conditional code to selectively present the grid title; that ought to be usable in selectively adding the grid feature.

[2016-01-13 17:40] NateWr commented on #1029
Please no more grid features that effect the UI. It's already incredibly difficult to come up with a design that accounts for all the existing variations in display, interaction and content.

The fact that grids are visually off-balance without a title is a good example of this problem. The more use cases you pack into one system the more impossible it becomes to really design the UI.

I'd much ra

[2016-01-13 17:42] NateWr commented on #1029
I'd even rather let you guys have the grid without a title than have to support click-to-expand grids as a rule. :)

[2016-01-13 17:49] asmecher commented on #1029
@NateWr, the bad news is that we already have title-less grids, and click-to-expand grids, just not consistently written. Moving it to a feature doesn't change that, it just makes it cleaner and more consistent, and resolves the immediate layout problem.

Is an ideal solution part of the bigger conversation about grids?

[2016-01-13 17:54] NateWr commented on #1029
@asmecher Which grids are click-to-expand? I'm less concerned about title-less grids. They're a visual annoyance but no big deal (at least what I've seen). I don't know what to think about click-to-expand grids unless I see them. It kind of depends on context, but in an ideal world a grid shouldn't care about the context in which it is displayed or not displayed.

[2016-01-13 17:57] asmecher commented on #1029
@NateWr, I mean the one we're already looking at. Grids don't currently support click-to-expand, so in this case the title is pulled out of the grid, then wrapped in an accordion. That's de facto a click-to-expand grid, just hacked together out of the available local masonry.

Beyond that, we've also spoken about making the dashboard submission lists click-to-expand, though I don't think we've com

[2016-01-13 18:08] NateWr commented on #1029
In this case I think the `extrasOnDemand` is the better option. How I would present a click-to-expand link is very different to how I would present a grid title. Trying to come up with a way to bridge the two would be difficult and I don't think the result would be significantly better.

I think the downsides of embedding a grid in a click-to-expand link are small and the upsides large: easier mai

[2016-01-13 18:11] asmecher commented on #1029
@NateWr, I also take your point about not binding the behavior of a grid to the behavior of an extras-on-demand control. The permutations do get bad.

I'm OK to go ahead with what you've mocked up.

[2016-01-13 18:11] NateWr commented on #1029
Or maybe this language is more clear and with less potential for confusion:

![close-file-selection](https://cloud.githubusercontent.com/assets/2306629/12303232/181f8f6c-ba21-11e5-88d3-d408555e3cc9.png)

[2016-01-13 18:14] asmecher commented on #1029
Yes, better still.

[2016-01-13 18:45] mjordan opened #1045 "UI improvements PKP PLN plugin's status page"
Currently the PLN plugin's status page presents a somewhat cryptic matrix of 'Y' and 'N's, and determining a given deposit's status is somewhat difficult. We should make this page easier to understand, and provide some information about what each of the status indicators means. @ubermichael has some mockups that do a much better job of conveying status information.

[2016-01-13 18:53] NateWr commented on #1029
New PRs for [ojs](https://github.com/pkp/ojs/pull/707) and [omp](https://github.com/pkp/omp/pull/192).

[2016-01-13 19:52] beghelli commented on #744
I can think of some categories of sorting that people would benefit from, like by author, or most popular ones. But those can be achieved in a more efficient way by searching or via block plugins, in the case of most popular ones.

I agree with @NateWr that unless we have another specific use case, we can hold the sorting implementation for now.

[2016-01-13 23:56] asmecher commented on #944
@NateWr, yes, please do.

[2016-01-14 00:24] asmecher opened #1046 "Add ability to save submission step 3 without submitting document"
From SI:

[2016-01-14 12:30] NateWr commented on #805
This is what the `/index.php/index/login` looks like to me currently in OMP. Aside from the missing footer, the logo is all messed up too.

![selection_038](https://cloud.githubusercontent.com/assets/2306629/12324425/609a666a-baba-11e5-8b26-43bb07af3fb8.png)

I'll take a look at some point. But I think it's not a Smarty error. If you look at the [footer.tpl](https://github.com/pkp/pkp-lib/blob/mas

[2016-01-14 12:33] NateWr commented on #941
@asmecher I think we've already got the dashboard change filed at #985. Further considerations are in place with #987 and #986.

[2016-01-14 12:49] beghelli commented on #805
I also don't see any problem, neither with footer or the logos. Can you make sure you clean up your complied cache folder (cache/t_compile)?

[2016-01-14 13:42] NateWr commented on #805
Yeah I've cleared the cache. Are you sure you're looking at the index login page (ie - no Press selected)?

[2016-01-14 13:45] beghelli commented on #805
yes, index.php/index/login

[2016-01-14 13:53] NateWr opened #1047 "[UI] Help on-off toggle"
It doesn't actually work at the moment. I believe we used a class name to just `display:none;` the help content, but I may have removed this class unwittingly while refactoring. At least it doesn't appear around the grid description text.

What's the likelihood that we'll be able to replace inline help with the contextual help panel in #1032 in time for OMP 1.2? If so that would be great and we ca

[2016-01-14 13:55] NateWr commented on #987
Merged.

[2016-01-14 13:55] #987 closed

[2016-01-14 13:59] NateWr commented on #805
Can you post a screenshot? Looking at the code, the main footer panel on the right should not appear without a context, as footer categories can only be specified per-press.

[2016-01-14 14:10] beghelli commented on #805
![omp-index](https://cloud.githubusercontent.com/assets/593977/12326413/d08e9a0c-bab7-11e5-809c-52a9821172ff.jpeg)

[2016-01-14 14:12] NateWr commented on #805
Ah ok, so just a bit of miscommunication. The missing footer bit is the large white panel below the main content, to the right of the logo. Ideally we'll have something in there, even if it's just a large white space.

I'm guessing the logo issue might be related to the fact that I have uploaded an image in admin settings. Working on debugging a few things from the top logged in bar merge so I'll

[2016-01-14 14:36] NateWr commented on #805
Ok I fixed the issue with Array appearing where the logo/title should be. That leaves just the footer stuff again.

[2016-01-14 15:53] asmecher commented on #1047
The code is easily merged in time for OMP 1.2, the problem is content. It'll be tough to write up much in Markdown before OMP 1.2 is released. Maybe we can talk basics with @stranack sometime soon?

[2016-01-14 15:54] asmecher commented on #1047
(I don't think the current built-in help is useful enough to maintain and would rather see it removed.)

[2016-01-14 16:07] mfelczak opened #1050 "[OCS] Add review form responses to reviews report"
Currently only free-form comments are included. Port to OJS as well.

[2016-01-14 16:13] bozana commented on #744
@NateWr, ah, sorry, I didn't understand that you were suggesting to have the sorting options in the backend :-\
I think that both features are good to have, but maybe, as @NateWr said, maybe not now, as long the presses don't have so much books. LangSci plans to have 20 books per year and Edition Romiosini would like to import 200 digitized books ... thus I do believe that more sorting and filteri

[2016-01-14 17:05] bozana commented on #744
For series and categories there could be a new form element "orderBy" in their editor form. (The setting would be saved in the series/category_settings table, and the classes would get the appropriate get/set methods). OK?
@NateWr, should the new form element "orderBy" be radio buttons? Or something else?
Where to put the new form element for the catalog page? Somewhere on the dashboard > catalog

[2016-01-14 17:58] crism opened #1051 "[OMP] redirection gives PHP error when visiting dashboard"
This is against `HEAD` of OMP. Initial visit to the site’s sole press does not create errors, but when a logged-in user goes to the dashboard, this shows up in the error log:
[code]

[2016-01-14 18:00] asmecher commented on #1051
Fixed -- I thought I already did but it must've gone into an unmerged branch.

[2016-01-14 18:06] crism commented on #1051
Seems to have done it—thanks, @asmecher!

[2016-01-14 18:06] #1051 closed

[2016-01-14 18:14] crism opened #1052 "[OJS] OJS3b1 assertion error"
[code]
In `updateDataObjectSettings()`, some field’s data is not an array… not sure which field(s) is/are triggering this, though.

[2016-01-14 18:19] asmecher commented on #1052
I think that's a duplicate of https://github.com/pkp/pkp-lib/issues/694.

[2016-01-14 19:31] asmecher commented on #987
+1, this looks very sharp.

[2016-01-14 21:31] asmecher commented on #941
Great, thanks -- closing this one.

[2016-01-14 21:31] #941 closed

[2016-01-14 22:03] asmecher commented on #1046
I decided to add a 4th step as a "landing pad" rather than add 2 buttons to the bottom of the step 3 form ("save" and "complete submission") because I thought that would be less confusing.

Pulls:
https://github.com/pkp/pkp-lib/pull/1053
https://github.com/pkp/omp/pull/194

@beghelli, could you review this? Thanks!

[2016-01-14 22:19] asmecher commented on #758
SI has requested that we add the review due date, when one is set, to the grid view. Worth considering, no decision made yet.

[2016-01-14 22:24] beghelli commented on #1046
Done, just two comments.

[2016-01-14 22:36] asmecher commented on #1046
Thanks!

[2016-01-14 23:58] asmecher commented on #1046
OJS pull: https://github.com/pkp/ojs/pull/708

[2016-01-15 00:21] asmecher commented on #562
And also see the implementation of the above comment:
https://github.com/pkp/ojs/pull/701

[2016-01-15 00:26] asmecher opened #1054 "Split review reminder emails to separate request and review reminders"
See http://forum.pkp.sfu.ca/t/different-templates-for-automated-review-request-reminder-and-automated-review-reminder/4540
Pull request: https://github.com/pkp/ojs/pull/701

[2016-01-15 01:26] asmecher commented on #1047
@NateWr, if you think this is a good approach, I've got a PR that removes the grid "description" fields (that were previously shown/hidden by the help toggle) entirely. And the help toggle. This will (slightly) reduce the complexity of grids, and prep us for markdown-based help, and clean out the broken help toggle. Downsides: the content that used to be there will be chucked, and we may not have

[2016-01-15 01:39] stranack commented on #1047
Yes, even if we just start with some placeholder text. Friday next week?

On 2016-01-14 7:53 AM, Alec Smecher wrote:

--
--
Kevin Stranack, MLIS, MAEd
Learning and Development Consultant
Email: kevin@stranack.ca
Twitter: @stranack
Skype: kstranack
Web: http://stranack.ca

[2016-01-15 13:50] bozana commented on #744
The sorting possibility for series and categories look like this now:
Series and categories edit form:
![seriescatalogeditform](https://cloud.githubusercontent.com/assets/378421/12354564/2e8ef4aa-bb97-11e5-9838-6e7e088d5d13.png)

Series and categories book listing page:
![seriescatalogsortby](https://cloud.githubusercontent.com/assets/378421/12354570/35619ac6-bb97-11e5-82a2-b3b576018f38.png)

OK s

[2016-01-15 14:27] NateWr commented on #744
That's looking good @bozana. A couple of thoughts:

1. Go ahead and make the form field full width by removing the size restriction on the form section.

2. Try to get the form label ("Sort By") above the description. I think if you  use a "label" value instead of a  "title" it might work, but I can't quite remember. Might take some tinkering. Let me know if you can't get it going and I can play w

[2016-01-15 14:38] NateWr commented on #1047
I suspect we'll hit a number of places where users will get stuck. But if we have Kevin on the user testing we'll be able to surface and address those in time for OJS 3.0. And OMP 1.2 users will by-and-large have a familiar set of controls, so I'm in favor.

@asmecher would you like me to check out your PRs and test them myself first? Or just take a look after you've merged the changes? I suspect

[2016-01-15 14:39] bozana commented on #744
@NateWr, cool, I think everything you mention is possible for me ;-) I will change it...

[2016-01-15 14:41] NateWr commented on #758
Sounds sensible.

[2016-01-15 15:13] NateWr commented on #788
This is just a note to myself with a list of tasks to complete after Bozana's pull request is in:

- [ ] Style the notified/completed date that appears when viewing a review modal.
- [ ] Make the unassign reviewer the offset color
- [ ] Try out the usage of icons for new/completed reviews and sending emails to overdue reviews.

[2016-01-15 16:16] NateWr commented on #983
Doing some work on this. Quick question: what happens if the user enters a review interest that doesn't exist in the database? Will that result in 0 matches? Any way we can restrict one of these tag-it fields to valid entries?

[2016-01-15 16:33] beghelli opened #1056 "Uploaded images in TinyMCE fields sometimes doesn't show up"

[2016-01-15 16:37] beghelli commented on #345
Thanks @ctgraham , merged. Porting to master.

[2016-01-15 16:58] marcbria commented on #959
Sorry for the delay.

In English:
  <message key="plugins.generic.usageStats.removeUrlError">The line number {$lineNumber} from the file {$file} contains an url that the system can't remove the base url from.</message>
Literally, in spanish need to be:
  <message key="plugins.generic.usageStats.removeUrlError">La linea {$lineNumber} del fichero {$file} contiene una url que no se puede eliminar de

[2016-01-15 16:59] mjordan opened #1057 "Add journal's copyright/licencing terms to each deposit"
We intended to do this in the original version of the plugin but it appears that it was never implemented. The data we need to include is setup section 4.1 Access and Security Settings.  Not a large development task.

Tagging @ubermichael.

[2016-01-15 17:09] beghelli commented on #345
Done

[2016-01-15 17:09] #345 closed

[2016-01-15 17:13] asmecher commented on #345
Thanks, Bruno & Clinton!

[2016-01-15 17:44] ubermichael commented on #1057
Right now, the BagIt metadata file for each zipped bag looks like this:

The OJS export XML includes an `<open_access/>` tag in the `<issue>` tag, as well as something like this in each section.

Each article in the export contains a similar stanza.

Do you want to include the information from setup section 4.1 in addition to the licensing in the export XML? It seems easy enough to include it with

[2016-01-15 18:11] mjordan commented on #1057
The journal-specific information we need to get is in secion 4.1 of the jurnal setup:

![ojs_setup_4_1](https://cloud.githubusercontent.com/assets/403918/12360598/c54b6358-bb6d-11e5-90d6-27d969233793.png)

I'll deffer to @jmacgreg to confirm that this is the only location where journal-level licensing/copyright information is managed. I think it would be sufficient  to bundle with each deposit 1)

[2016-01-15 18:19] ctgraham commented on #959
@marcbria , in my original link, I referenced the dev-24 branch instead of a particular commit, so the link changed when @mtub removed the line.  (I've updated the original link now.)

The [removed line](https://github.com/pkp/ojs/pull/690/files) specified the "usageStatsLoaderName" as "La tarea no ha generado ningún registro."

For the "removeUrlError" message you mention, the context is:
During

[2016-01-15 18:24] jmacgreg commented on #1057
Confirmed!

[2016-01-15 18:29] ubermichael commented on #1057
Great, thanks to both of you.

@jmacgreg can you also confirm that these are the only journal settings involved? `openAccessPolicy`, `licenseURL`, and `publishingMode`?

[2016-01-15 18:33] mjordan commented on #1057
@jmacgreg and @ubermichael you will have seen the email I just sent regarding how to handle "OJS will not be used to publish the journal's contents online." @asmecher you want to see a copy?

[2016-01-15 18:34] asmecher commented on #1057
@mjordan I won't know whether I wanted it until I've read it :)

[2016-01-15 18:34] mjordan commented on #1057
Ha. Expect to see it shortly.

[2016-01-15 18:38] mjordan commented on #1057
Where is `licenseURL` set (I don't see a config option for it)? If we can grab that, we may want to add that URL to the Bag's `fetch.txt`.

[2016-01-15 18:40] jmacgreg commented on #1057
@ubermichael, that is correct I think, so long as you don't need any of the copyright stuff. If you need copyright stuff, you'll also want:

`copyrightNotice` (that's the text blurb, and that's all that OJS instances previous to OJS 2.4.x had, so it may be populated while other fields may not);

`copyrightYearBasis` (whether to use the article or issue publication date to set copyright year)

`cop

[2016-01-15 18:41] ubermichael commented on #1057
Thanks James. I think we'll definitely need those bits as well.

[2016-01-15 18:43] mjordan commented on #1057
:+1:  So maybe it's better to bundle it up in an XML file be add to the Bag? That's a lot of extra bag-info.txt fields.

[2016-01-15 18:52] ubermichael commented on #1057
There's no limit to the number of bag-info.txt fields, and the bagit library should handle the 79 character limit, so I think we're OK there.

Seems like the easiest thing to do is add the copyright and licensing info to the Atom XML that OJS sends for the deposit, store it in the staging server's database, and then add it to the bag as it's being reserialized in the staging server.

[2016-01-15 18:57] mjordan commented on #1057
Sounds good. I just want to make sure that the packages that are stored in LOCKSS contain everything. If it's easier to put everything in those Bags' bag-info.txt, let's do that.

[2016-01-15 19:09] asmecher commented on #983
Tag-It doesn't appear to have an option to limit tags only to the existing set, but this could be accomplished pretty quickly by using the beforeTagAdded callback to check for nonexistent tags and cancel their addition, OTOH: https://github.com/aehlke/tag-it/blob/master/README.markdown

[2016-01-15 19:44] asmecher commented on #1047
@stranack, Friday next week is perfect.

@NateWr, don't worry, just double-checking that it's not just me who's OK with nuking the existing stuff. Will merge, thanks.

[2016-01-15 19:54] #1047 closed

[2016-01-15 23:51] ubermichael commented on #1057
Ok. I'm ready to add this info to the deposit XML. Is there anything else to add?

[code]

[2016-01-15 23:57] mjordan commented on #1057
Looks good. What's `mode="0"`? Also, if the journal is not OA, we should probably not include the `<pkp:openAccessPolicy>` element.

[2016-01-15 23:59] ubermichael commented on #1057
The mode attribute is the number stored in the database. It should be 0, 1, or 2. The content of the element is the human readable equivalent.

[2016-01-16 00:02] mjordan commented on #1057
Ah, thanks. @asmecher what do those numbers mean?

[2016-01-16 00:04] ubermichael commented on #1057
Those numbers are defined here: https://github.com/pkp/ojs/blob/master/classes/journal/Journal.inc.php#L24

[code]

[2016-01-16 00:06] mjordan commented on #1057
Thanks @ubermichael.

[2016-01-16 01:14] asmecher commented on #1050
Merged for OCS 2.3.7; needs porting to OJS 2.4.x (and beyond?)

[2016-01-16 02:04] mfelczak commented on #1050
Thanks @asmecher.

Would you like me to cherry-pick this over to OCS master in addition to porting it over to ojs-dev-2_4?

[2016-01-16 20:35] ubermichael commented on #1057
Just ran some tests, and this is the resulting bag-info.txt file from a deposit from OJS and full processing from the staging server.

[code]

[2016-01-16 20:44] mjordan commented on #1057
Looks good. So to summarize, the data we want is added to the bag-info.txt file generated by OJS, then on the staging server is converted into the XML illustrated above, which is added to the deposit's Bag that ends up preserved by LOCKSS. Is that correct?

[2016-01-16 21:06] ubermichael commented on #1057
Almost. When the plugin creates the atom XML deposit, it adds the licensing to the XML. My changes don't affect the bag's bag-info.txt file at all. The staging server receives the deposit XML with the licensing information in it, and adds it to the row in the database on the staging server. The final processing step is to reserialize the bag file after everything has been validated. The licensing

[2016-01-17 22:09] mjordan commented on #1057
OK, thanks!

[2016-01-18 11:05] NateWr commented on #1047
:+1:

[2016-01-18 11:29] bozana opened #1062 "localized article cover images"
If there is an article cover image in the primary language and no article cover image in other languages, the cover image in the primary language should be displayed. This is not the case now and I think that this is a bug:
If the cover image should be displayed will be determined in this way: https://github.com/pkp/ojs/blob/ojs-stable-2_4_7/templates/issue/issue.tpl#L18-L19 i.e. it will checked i

[2016-01-18 11:59] NateWr commented on #758
@bozana I just realized that we have this issue which covers similar terrain to what we discussed the other day. I'd say let's go with whatever we settled on after talking and ignore this issue.

Does that sound good? Where's the issue you're working on which impacted the reviewer grid?

[2016-01-18 12:32] bozana commented on #758
@NateWr, I think that this issue builds upon my changes i.e. there is no conflict between them: I only added the new action in the second, expended raw and these are changes for the first row. The "Reviewer" and "Available action" column from above are already there. You said you would style them i.e. the "Available action" column. The column "Current status" with the due date should be added. I t

[2016-01-18 12:44] bozana commented on #758
Ah, on the second glance, maybe the second and third column above are interconnected -- depending on the status the appropriate action is displayed...

[2016-01-18 12:45] bozana commented on #758
Hihihihi :-) And on the third glance, you already mentioned it above @NateWr

[2016-01-18 13:39] beghelli opened #1063 "Native import plugin isn't working"
Both in omp stable and omp master, can't import a monograph. See: http://forum.pkp.sfu.ca/t/remove-press-manager-from-omp-publication/7042/7

[2016-01-18 16:25] marcbria commented on #959
Thanks @ctgraham,

Then this string:
[code]
In es_ES need to be:

[code]

Cheers,
m.

[2016-01-18 16:40] NateWr commented on #983
Ok I've done a bunch of work on this now and submitted a couple of PRs:

[omp](https://github.com/pkp/omp/pull/196)
[pkp-lib](https://github.com/pkp/pkp-lib/pull/1064)

This involved changing some things which I haven't really touched before so I suspect we'll get some broken tests or comments during code review that need to be addressed. Once the PR is ok'd I'll send a PR over for OJS.

Here's a

[2016-01-18 17:54] #1005 closed

[2016-01-18 18:23] beghelli commented on #1029
@NateWr Can this be closed?

[2016-01-18 20:45] ubermichael commented on #1045
This is where I'm at right now. It's working and I'm mostly happy with it. I'm not ready to send a PR yet, but you can [preview the changes](https://github.com/pkp/ojs/compare/ojs-dev-2_4...ubermichael:pln-status-page?expand=1).

![status-page](https://cloud.githubusercontent.com/assets/1328893/12402323/f674d3e0-bde0-11e5-89c8-205dfdced617.png)

[2016-01-18 21:02] mtub commented on #959
it's updated. https://github.com/pkp/ojs/pull/712

[2016-01-18 21:05] mjordan commented on #1045
Very nice.

[2016-01-19 05:45] jalperin opened #1066 "Revisit OAI PMH in PKP suite to explore exposing additional metadata and full text"
I think the OAI-PMH actually allows for more metadata to be exposed than we currently provide, including the full text. I wonder if we could investigate the possibilities. I don't think we've looked at the OAI implementation in a long time.

This could have implications for the PKP Index.

[2016-01-19 05:46] jalperin commented on #1066
tagging @jmacgreg. and is Kevin not on github?

[2016-01-19 05:48] asmecher commented on #1066
@jalperin, OAI-PMH is a container format. It mandates that OAI-DC must be among the supported formats but otherwise you can do whatever you want. What do you have in mind?

[2016-01-19 05:59] jalperin commented on #1066
It is a general request, but thinking of a few things (and maybe others can think of more)
a) year of publication, volume, and issue numbers (currently only exposed as a string that needs parsing in "dc:source") in their own fields (this would make the stats gathering more accurate)
b) full text, if it can be extracted (i.e., from whatever does the search). Even if only the text, and no formatting

[2016-01-19 06:11] asmecher commented on #1066
Some of that is already in the NLM OAI format, written for OJS to support Synergies, and doubtlessly NLM will have elements for the data we haven't included yet. But without a specific use case it's hard to prioritize this.

[2016-01-19 06:12] jalperin commented on #1066
does the NLM format include full text? and, if so, are we using it for the PKP index?

[2016-01-19 06:13] asmecher commented on #1066
It includes such full text as can be extracted from PDFs and HTML using the text indexing tools. As far as I know we aren't using it for the index.

[2016-01-19 06:14] jalperin commented on #1066
OK. good to know. Will close.

[2016-01-19 06:14] #1066 closed

[2016-01-19 10:11] NateWr commented on #983
Another issue that could cause frustration is that the name search only returns full matches with individual columns (first name, last name, username, etc) in the user database. As a result, a search for "Gonzalo" will return "Gonzalo Favio". But a search for "Gonzalo Favio" will not return that user.

This problem also exists in the autocomplete field in the enroll form.

We could split the searc

[2016-01-19 12:11] NateWr opened #1067 "[UI] Style accordians in information center"
![selection_051](https://cloud.githubusercontent.com/assets/2306629/12418195/aa59916a-bea5-11e5-916b-4573d3ad6da7.png)

Also, what's the difference between Current and Earlier notes? Are notes stage-specific?

[2016-01-19 12:40] NateWr opened #1068 "Add listbuilder items can show empty rows"
Here's a gif showing the problem:

![add-recipients](https://cloud.githubusercontent.com/assets/2306629/12418821/a25411b2-bea9-11e5-8494-1d697c6d299d.gif)

Is the potential recipient list ever going to get very long? Is there any reason we shouldn't just use a list of possible recipients with checkboxes for selecting them?

If that's not an option, I'll look into figuring out the styling issues th

[2016-01-19 12:58] NateWr commented on #1016
It looks like this change has already made it into OMP master. Closing.

[2016-01-19 12:58] #1016 closed

[2016-01-19 13:09] beghelli commented on #1067
I think this is coming from the file notes, where earlier notes were related to older file revisions, and current to the current revision. But it doesn't make sense to reproduce that in the submission level.

[2016-01-19 13:13] beghelli commented on #1068
I think we use the listbuilder to keep consistent. We tried to use it anywhere we need to build a list, and I can imagine that this list could get bigger, with copyeditor, multiple authors, editor.

Even if we don't use this listbuilder here anymore, we have to fix this behavior, which I think it's more a JS thing than just styling. I can take a look. I will rename this to a more generic title.

[2016-01-19 15:01] #1029 closed

[2016-01-19 15:22] NateWr opened #1070 "Improve confirmation notices when skipping the email is an option"
From user testing conclusions:

A confirmation note already existed, but was covered up by the modal screen. This was fixed in a separate commit.

The review history does seem to log two events when a reviewer is added, including a **Notified** event:

![selection_052](https://cloud.githubusercontent.com/assets/2306629/12422690/15a42826-bec0-11e5-990b-68176757f30a.png)

However, the **Notified** e

[2016-01-19 18:12] asmecher commented on #746
@beghelli, FYI, this is a priority for OpenSI for OMP 1.2.

[2016-01-19 18:15] NateWr commented on #1070
The commit above adjusts the confirmation notice when adding a reviewer. However, this "skip email" pattern is used for unassigning reviewers as well as several other places in the system.

Notifications should be updated across the board as part of this issue.

[2016-01-19 20:22] crism opened #1071 "[OMP] multiple accessiblity issues"
Using the [AInspector plugin](https://addons.mozilla.org/en-US/firefox/addon/ainspector-sidebar/) for Firefox, multiple issues are reported against the OMP default home page (and subsidiary pages).

The most critical violations are:
1. content outside landmarks
2. no `main` landmark
3. insufficient color contrast in text
4. form controls without labels
5. forms without submit buttons

On the dashb

[2016-01-19 21:05] asmecher commented on #1070
Mind including the PR links?

[2016-01-19 21:09] asmecher commented on #1062
Merged, thanks!

[2016-01-19 22:08] crism opened #1072 "[OMP] press logo alt text is ignored"
When uploading a press logo, the user is exhorted to provide alt text for accessibility. However, all that is served out is `alt="Page Header Logo"`, regardless of user-provided text.

[2016-01-19 22:35] asmecher commented on #1071
@crism, what version of OMP are you using? Master branch, or latest stable?

[2016-01-19 22:36] asmecher commented on #1072
(Version number?)

[2016-01-19 23:11] crism commented on #1071
This is against `HEAD`, sorry.

[2016-01-19 23:11] crism commented on #1072
This is against `HEAD`, sorry.

[2016-01-20 00:20] asmecher commented on #983
@NateWr, neither SQL nor ADODB are very helpful in this regard. Searching a concatenation of field could also work, but it's likely to be horribly slow.

[2016-01-20 00:29] asmecher commented on #1071
@NateWr, quick thoughts?

[2016-01-20 00:35] asmecher commented on #840
I've reviewed the current list and don't see anything critical for OMP 1.2. @withanage, tagging you in case you'd like to take a look.

[2016-01-20 00:35] #840 closed

[2016-01-20 00:39] asmecher commented on #1063
@beghelli, the quoted sample XML at the forum link doesn't validate. Have you checked whether that's the problem?

[2016-01-20 01:04] asmecher commented on #1050
No, OCS master is abandoned. Any further work on a futuristic OCS will mean a rewrite rather than resumption of development there.

[2016-01-20 10:07] NateWr commented on #1070
No PR yet. This last comment was mostly a note to myself since I won't work on it again until next week, but also a notice to others to comment if it sounded like a bad idea.

[2016-01-20 10:31] NateWr commented on #1071
I'd need to look at the specific recommendations. I'll install the addon and take a look next week. Quick thoughts:

- Landmarks are an easy win I've been meaning to do for a bit (at least the basic roles)
- Color contrast: I suspect it's the block titles in the sidebar. They're just below AA. I was able to ask an accessibility expert specifically about this kind of thing and I was told that the A

[2016-01-20 16:25] asmecher commented on #1070
Ah, sure.

[2016-01-20 17:49] asmecher commented on #990
@NateWr, if the rest of this entry is not crucial for OMP 1.2, can you file a new issue for 1.2.1 with the remaining elements and close this one?

[2016-01-20 17:52] asmecher commented on #746
Note to self (etc): To direct all notification emails (not mailing list emails!) to a single account, edit `lib/pkp/classes/notification/PKPNotificationOperationManager.inc.php`, find `function sendNotificationEmail`, and change...

    $mail->addRecipient($user->getEmail(), $user->getFullName());

[2016-01-20 18:04] beghelli commented on #746
@asmecher Thanks Alec, I will take care of this.

[2016-01-20 18:31] asmecher commented on #746
Thanks, @beghelli -- I'm not sure if this is part of the back-porting work that needs doing, but all the notification emails I'm getting are showing empty contents (getNotificationContents returns an empty string, apparently falling back on the `lib/pkp/classes/notification/NotificationManagerDelegate.inc.php` default implementation).

[2016-01-20 18:46] asmecher commented on #1067
^ That is the case: this shows only for file notes, not submission notes.

[2016-01-20 19:19] crism commented on #1072
The text currently comes from `lib/pkp/locale/en_US/common.xml`, key `common.pageHeaderLogo.altText`.

In `lib/pkp/controllers/tab/settings/appearance/form/PKPAppearanceForm.inc.php`, that token is used in `getImagesSettingsName()`… where else is that used? I think this only affects configuration settings, and is less important (though should still be fixed).

In three templates:

* `lib/pkp/templ

[2016-01-20 19:39] crism commented on #1072
The page logo file is set in `classes/template/TemplateManager.inc.php` by `$context->getPageHeaderLogo()` (which calls a method in `classes/press/Press.inc.php`)… the equivalent incantation is needed for the alt text.

The question, then, is this: Should `getPageHeaderLogo()` be changed to return an array with the image URL and the alt text, or should a second method `getPageHeaderLogoAltText()`

[2016-01-20 20:08] crism commented on #1072
I think I have a fix… just need to figure out how to properly manage submodule contributions.

[2016-01-20 21:17] crism commented on #1072
The bit in `PKPAppearanceForm.inc.php` is only used as alt text when displaying the image just uploaded, and I think it’s fine there. This issue should be closed after the pull request is acted on.

[2016-01-20 22:17] mfelczak opened #1074 "[OJS] Disallow numeric public issue and article ids"
Currently editors can enter numeric public ids that may overlap with internal ids, leading to lookup clashes for issue and article data.

For example, an internal issue id used for a lookup via IssueDAO::getIssueByBestIssueId will incorrectly match a public issue id for another issue.

[2016-01-20 22:20] mfelczak commented on #1050
Ok, thanks -- I'll port this to ojs-dev-2_4.

[2016-01-20 23:11] crism opened #1075 "[OMP] copying files from one stage to another fails"
Using OMP `HEAD`. I have a submission in external review, with submission and internal review files, but no external review files.

I visit a URL like `.../omp/index.php/test/workflow/access/2` and select “Upload/Select Files,” which brings up a modal dialog. I check “Include all files from all accessible workflow stages,” select files from the internal review stage, and select OK. The busy icon s

[2016-01-20 23:41] crism commented on #1075
Looks like bad copy-and-paste code from `ManageSubmissionFilesForm::importFile()`. Not sure how to properly populate those variables, though…

[2016-01-20 23:45] crism commented on #1075
That diagnosis might be correct, but it’s been thus ever since the function was first created in de5c0f418b5e6987322ede5047eed8830c9e284b. Hrm.

[2016-01-20 23:46] crism commented on #1075
@asmecher, any insights on this one?

[2016-01-21 00:02] asmecher commented on #1075
@crism, thanks for reporting -- try the commit above?

[2016-01-21 00:37] asmecher commented on #1072
Did you send a PR? Mind posting the link here?

[2016-01-21 02:21] jmacgreg opened #1076 "[OJS] Implement responsive tweaks for 2.x reader front-end"
Make changes as necessary so that OJS' reader front end (viewing About pages, main page, article pages, etc.) is responsive. No need to worry about editorial/management interface. The author submission, and reviewer review pages could conceivably be included.

We should also consider testing using https://www.google.ca/webmasters/tools/mobile-friendly/.

[2016-01-21 06:01] crism commented on #1072
I believe it’s https://github.com/pkp/pkp-lib/pull/1073.

[2016-01-21 11:01] bozana commented on #1074
@mfelczak, @mtub and me came up against this problem in the journal querelles-net, s. http://www.querelles-net.de/index.php/qn/issue/archive. They are using something like this for the public ids: "16-4" (i.e. volumeNo-No.) When the public ids option in setup 4 is enabled (like now) everything is fine. But, when the journal manager disables the public ids option in setup 4, then the issues cannot

[2016-01-21 11:30] bozana commented on #554
@asmecher: if I understand it correctly, not all books will have an ISSN. If someone chooses a DOI suffix pattern that contain the ISSN, there could be a problem for the books that don't have it. Is there a way i.e. rule we could use to solve it? Or shall I ignore it at the moment and just consider the additional wildcard?

[2016-01-21 13:01] beghelli commented on #1074
@mfelczak This is also a problem for stats processing. I discussed this a little bit with Alec here https://github.com/pkp/pkp-lib/issues/1001 (last comments). The idea to solve this is the same that you describe here: avoid purely numeric public ids.

[2016-01-21 14:34] mfelczak commented on #1074
Thanks @bozana and @beghelli for the additional use cases, that's helpful.

[2016-01-21 16:30] crism commented on #1075
@asmecher Works for me!

[2016-01-21 16:30] #1075 closed

[2016-01-21 16:31] asmecher commented on #1075
Thanks for confirming!

[2016-01-21 16:51] asmecher commented on #1072
Thanks, @crism. @NateWr, mind taking a look? This fits in with some front-end changes of yours.

[2016-01-21 17:00] asmecher commented on #554
Given that we're hitting a number of possible exceptions where information isn't entirely present, I think we'll probably have to make the DOI attachment/deposit process smart enough to know what to do when it's asked to assign a DOI when information is missing. The most logical behavior, I think, is to skip that item, continue with the rest of the batch, and notify somebody.

[2016-01-21 18:57] asmecher commented on #1076
(I do think it's important to start by assessing the 3rd-party work contributed in this area, both as good FOSS citizens and to build on that effort.)

[2016-01-21 19:37] asmecher commented on #1045
Merged, thanks, @ubermichael -- though I didn't test it, I only read the code.

[2016-01-21 20:42] asmecher commented on #891
No feedback, presuming fixed.

[2016-01-21 20:42] #891 closed

[2016-01-21 20:44] #1062 closed

[2016-01-21 20:45] asmecher commented on #697
@mfelczak, do you think you'll have a chance to work on this soon, or should I defer to OJS 2.4.9?

[2016-01-21 20:45] asmecher commented on #1011
Presuming a yes -- correct me if I'm wrong, @mtub.

[2016-01-21 20:45] #1011 closed

[2016-01-21 20:59] asmecher commented on #1056
@beghelli, do you have more information this? Maybe a forum post or something?

[2016-01-21 22:24] mfelczak commented on #697
Let's just defer for now.

[2016-01-21 22:32] asmecher commented on #697
Thanks, done!

[2016-01-21 22:41] asmecher commented on #1046
Another PR required for this issue to correct a URL generation problem:
https://github.com/pkp/pkp-lib/pull/1077

[2016-01-21 22:58] asmecher commented on #816
@martinpub, sorry for the delay -- this turned out to be a very small fix. Please try out the attached commit and confirm whether it's working. Meanwhile my local tests seem to be OK so I'm closing the issue; the fix will be included in OJS 2.4.8 (to be released soon).

[2016-01-21 22:58] #816 closed

[2016-01-21 23:23] asmecher commented on #742
Added a partial fix adding the field to the editor's form -- but I'm not committing it because of unresolved quirks with form validation:

- Create a submission in an English-language journal, with an English primary locale.
- Change the submission's primary locale to French. The change will stick, even though no French abstract or title have been entered.
- Try to change it back to English. Now i

[2016-01-21 23:23] asmecher commented on #824
@jmacgreg, you're the assignee for this; any plans for OJS 2.4.8 or should I defer it?

[2016-01-21 23:25] crism opened #1078 "[OMP] dashboard action buttons have spurious list bullets"
As seen below, dashboard actions have these weird circles next to them in the latest OMP `HEAD`.

This is due to the button being a doubly-nested `ul/li`… the apparent fix is to change the style in `styles/structure/body.less`, but I want to make sure that won’t interfere with other intended use or styling. Are there strong opinions about that?

![screen shot 2016-01-20 at 2 14 38 pm](https://clou

[2016-01-21 23:26] asmecher commented on #1078
@crism, I think your compiled CSS is probably out of date. Try deleting `cache/*.css` and reloading.

[2016-01-21 23:31] crism commented on #1078
You were right, @asmecher. I guess this is what I get for playing on the bleeding edge.

[2016-01-21 23:31] #1078 closed

[2016-01-21 23:56] jmacgreg commented on #824
Man, I have no idea why I assigned this to myself, but OJS 2.4.9 has a good ring to it.

[2016-01-21 23:56] jmacgreg commented on #824
I will try and prioritize this, but I'm wondering if it would be better to send @bozana 's way. Bozana, would you mind?

[2016-01-22 13:06] bozana commented on #788
Shall all this be considered also in OJS master?

[2016-01-22 14:01] bozana commented on #824
Hi all,
Yes, I can do it, but I don't know what :-DDD I am not sure what is then the preferred/best way to go:
a) to support the only issue DOI deposit or
b) to improve the naming/usability of the current articles batch (issue-by-issue) DOI deposit?
If a): what would then be the best way to make the batch article DOI deposit (e.g. issue-by-issue) easier? Or would there then be none such?
If b): I

[2016-01-22 15:21] bozana commented on #744
Maybe one more thing left to do: autocomplete for series position field.

[2016-01-22 16:41] asmecher commented on #788
Yes, OJS master should get the same functionality.

[2016-01-22 17:11] mjordan commented on #1045
I don't think the links out to explanations of the various statuses were in this PR. @ubermichael we can do finish these on Monday.

[2016-01-22 17:52] crism opened #1079 "[OMP] pkpModalConfirmButton is inactive"
For instance, at `.../index.php/test/reviewer/submission/2`, a reviewer sees a link, “About Due Dates.” This pops up a modal dialog with an “OK” button. Clicking the button does nothing, though the X in the corner works to dismiss the dialog (as `pkpModalCloseButton`).

Something seems to go wrong with setting the handler in `ButtonConfirmModalHandler.js`; the Firefox inspector shows that the OK b

[2016-01-22 18:48] asmecher commented on #1079
Confirmed -- I'll take a look.

[2016-01-22 19:08] asmecher commented on #1079
The above commit is a partial fix -- but see https://github.com/pkp/pkp-lib/commit/9d2c254da951af4ccbc8080d20c58cd802c53020#commitcomment-15620509

[2016-01-22 19:42] asmecher commented on #1032
@NateWr, Kevin and I had a brief meeting about help and he's going to start cracking on some content for OMP 1.2. Hopefully the basics can make it into that release. We could use some of your layout magic:

- The help link needs placement (probably in the top or left-hand sidebars). Kevin and I didn't think it was appropriate to put it in the front end -- just the back end.
- If you have some thou

[2016-01-22 20:26] asmecher commented on #1032
Additional requirement: should be able to add a help icon to modal titles to permit users to open the help panel from within a modal.

[2016-01-22 20:41] asmecher commented on #619
Found this, which may be relevant: http://dspace.2283337.n4.nabble.com/OJS-SWORD-submission-to-DSpace-demo-not-working-td4676330.html

[2016-01-22 20:46] asmecher commented on #877
Quirk with the current layout: when the workflow page is short, the participants grid gets crunched.
![scrunked](https://cloud.githubusercontent.com/assets/200411/12522545/304326e4-c106-11e5-9b18-47e70c7aab3b.png)

[2016-01-22 20:52] asmecher commented on #619
Changed per the above email. I can't get it depositing into the demo dspace install due to a Tomcat error that I don't think is on our side, but at least this is a step closer.

[2016-01-22 20:52] #619 closed

[2016-01-22 21:58] mtub opened #1080 "[OJS] Show status of site-wide plugins for journal managers"
Journal managers manage plugins in OJS installations. Some plugins are site-wide and can only be activated/deactivated by site admins. The text presented to journal managers is

[code]

with no indication of the status. It might help journal managers to know if a particular plugin is enabled or not.

[2016-01-22 21:59] #1004 closed

[2016-01-22 22:24] mtub commented on #408
I think that (number of people knowing that deleting a journal might be bad) >> (number of people knowing that reassigning already registered DOI is probably bad).

And to push this a little further: The language used around this option is misleading. The text reads:

So what happens is that existing (already registered) DOI are deleted (but only within OJS's db?) in order to be able to re-generat

[2016-01-22 23:56] asmecher commented on #1032
To consider: how will plugins include help content? Can they augment built-in content? (Thinking e.g. of the DOI plugin, which will alter the appearance of existing forms.)

[2016-01-23 00:57] asmecher commented on #1063
(FWIW I fixed a couple of small glitches in the master branch, and OMP master now imports its own XML sample.)

[2016-01-24 18:31] mtub opened #1081 "[OJS] update locales before OJS 2.4.8 release"
Update `ojs-dev-2_4` branches with files received outside of GitHub.

[2016-01-25 09:25] NateWr commented on #990
@asmecher There's still the misplaced tooltip issue that needs to be solved.

[2016-01-25 09:27] NateWr commented on #1067
Thanks guys. Any objection to calling them "Current Revision Notes" and "Earlier Revision Notes"?

[2016-01-25 10:42] NateWr commented on #1079
@asmecher I issued a PR with a fix almost identical to yours. I'd like to keep the event handler registration out of `modalBuild`, so that that function does nothing but construct the modal's HTML. Just to keep it's scope small.

Instead I added the event registration to the constructor function in ConformationModalHandler, which is where it should have been.

I don't think the user of `outerHTML(

[2016-01-25 10:47] NateWr commented on #1032
Just to clarify: are you thinking at this stage about just one global help button? Are we at a stage yet where we can think about adding help buttons to grids and modals that jump to specific sections related to those items?

[2016-01-25 10:49] NateWr commented on #877
Yeah this will be resolved when I get it chucked into a right-hand panel rather than using all the fancy positioning and slide-in stuff.

[2016-01-25 16:11] asmecher commented on #1067
Sure, that seems clearer.

[2016-01-25 16:33] NateWr commented on #1071
Ok I've spent some time with that browser plugin today. It's much more useful than others I've seen. Thanks for pointing it out @crism.

I've made a number of changes detailed in PRs:

https://github.com/pkp/pkp-lib/pull/1084
https://github.com/pkp/omp/pull/199
https://github.com/pkp/ojs/pull/721

Broadly speaking, these commits do the following:

- Add aria landmark roles in backend and frontend

[2016-01-25 16:41] asmecher commented on #1071
@NateWr, good to have you on this. Watch out for JSLint's very inflexible rules on whitespace -- they're breaking the validation phase of the builds.

[2016-01-25 16:43] asmecher commented on #1046
Re-opening for https://github.com/pkp/pkp-lib/pull/1077 (@beghelli to review)

[2016-01-25 16:49] asmecher commented on #1072
Thanks!

[2016-01-25 16:49] #1072 closed

[2016-01-25 16:54] asmecher commented on #1079
You're right, @NateWr, that seems to resolve it. Thanks!

[2016-01-25 16:54] #1079 closed

[2016-01-25 16:57] asmecher commented on #1032
@NateWr, we'll need help to be available in at least a couple of places/contexts, I think:
- On the page itself somewhere
- Within modals (e.g. on the modal title bar?) as the page area behind it will be obscured

I'm not sure we'll need help controls on the grids themselves, and that might also complicate things, as grids might span roles. IMO it makes sense to write help based on the page and/or

[2016-01-25 17:06] asmecher commented on #990
@NateWr -- ah, OK.

[2016-01-25 18:32] asmecher opened #1085 "Update copyright dates to 2016"

[2016-01-25 20:07] NateWr commented on #1046
Um, what happened here? It says I closed this issue today but I don't recall doing so...

[2016-01-25 20:10] NateWr commented on #1032
Ok. I think my initial thought was to have more specific help texts but let's start with what we get and iterate based on user tests.

[2016-01-25 20:40] NateWr commented on #1071
Woops. WordPress code style is very white-space-happy so I'm always struggling to switch contexts at the start of the week. Tests running again.

I looked at the file running the linting to see if I could easily run it as a grunt task locally, but lots of stuff in there I didn't really understand...

[2016-01-25 20:45] asmecher commented on #1046
I'm not sure either; I know github does parse comments for verbs like "closes"...? but I didn't see anything go past either.

[2016-01-25 20:47] asmecher commented on #1071
It's a PITA to set up, fairly version-sensitive, and takes more than a moment to run locally as well. Frankly I've been happy to have Travis work on it while I go and do something else for 20 minutes.

[2016-01-25 22:33] asmecher commented on #1085
Done for OJS master, git master, and ojs-dev-2_4 (and respective pkp-lib and plugin branches included as submodules).

[2016-01-25 22:33] #1085 closed

[2016-01-25 23:18] crism commented on #1079
Confirmed the fix. Thanks @NateWr and @asmecher.

[2016-01-26 00:04] asmecher opened #1086 "Introduce article metadata versioning"
Pulls (just for review, for the moment):
https://github.com/pkp/ojs/pull/651
https://github.com/pkp/pkp-lib/pull/849

[2016-01-26 08:15] martinpub commented on #816
Thanks for the fix @asmecher, it's working.

[2016-01-26 10:42] NateWr commented on #983
I've added an enable/disable toggle to the reviewer search filters after [some discussion](https://github.com/pkp/omp/pull/196#issuecomment-173405863). Here's what that looks like:

![disable-reviewer-filters](https://cloud.githubusercontent.com/assets/2306629/12578477/1135c9c6-c419-11e5-9358-9bc9f3b3be68.gif)

I also fixed the reviewer interests search as that was apparently broken. Could someone

[2016-01-26 13:32] ctgraham opened #1087 "Crossref plugin doesn't support newer content-types"
OJS 2.4.7 uses Crossref schema 4.3.3, but later versions have been updated to support additional content-types, such as text/rtf.

[2016-01-26 14:13] NateWr commented on #1070
I've now adjusted the notification messages when assigning and unassigning a reviewer (still no PR). However, I've run into problems with the other `skipEmail` options.

One is connected to thanking a reviewer. I couldn't actually figure out how to thank a reviewer. How do I do this?

The others are all attached to editorial decisions. I believe there may be a bug with multiple emails being sent o

[2016-01-26 14:40] NateWr commented on #1032
I tried to get this up and running today to work on it, but couldn't get the new gitbook submodule going. I can see the submodule in my `.gitmodules` file:

[code]

I've tried running `git submodule update --init --recursive`, but it's not fetching the submodule (no output to the console). When I run `git submodule status` it's not listed:

[code]

Any idea what I'm missing here?

[2016-01-26 14:58] bozana opened #1088 "Not all issues displayed for the DOI export/registration"
The pager is not working on the page Crossref/DataCite/mEDRA > Export issues.

[2016-01-26 15:41] NateWr commented on #1071
The OJS tests passed but the [OMP tests failed](https://github.com/pkp/omp/pull/199). Looks unrelated to me as I'm pretty sure I didn't touch anything relating to grids in these commits.

While investigating it raised a couple other issues that I will report in #983.

[2016-01-26 15:45] NateWr commented on #983
I've stumbled on a couple more issues related to reviewers:

__Missing in "My Assigned"__
Even though I have assigned a user as a reviewer, the review doesn't appear in their "my assigned" queue. Is it possible that this is because the submission is already at the production stage? Can anyone else reproduce this problem?

![reviewer-assigned](https://cloud.githubusercontent.com/assets/2306629/1258

[2016-01-26 15:53] NateWr commented on #983
Oh and to clarify these issues exist in `master` so weren't introduced with the recent changes.

[2016-01-26 16:13] bozana commented on #1088
@asmecher,  @ctgraham, I think I would need your help here :-\ For export/registration only issues are displyed that can be exported, i.e.
-- for DataCite and mEDRA: only issues that could have a DOI -- this is not that critical
-- for Crossref: only issues that contain an article that could have a DOI -- this mean a looooooot of computation: to go through each issue and through each article...
Th

[2016-01-26 16:29] ctgraham commented on #1088
I think this is tied to https://github.com/pkp/pkp-lib/issues/824.  My (under-researched) opinion is that all issues should be listed.  If the DOI plugin specifies a DOI format for issues and for articles/galleys, registration here will do both.  If the DOI plugin specifies only a DOI format for articles/galleys, registration here will register articles by issue.  If the DOI plugin specifies only

[2016-01-26 16:43] bozana commented on #1088
What should be displayed if the DOI plugin specifies only a DOI format for articles/galleys, but excludes all articles of an issue, ile. if an issue doesn't have anything to export/register? Hmmm... Maybe, as you said, to display all issues but in this case to disable register and export function? This will still be less computation, than as it is now.

[2016-01-26 16:53] asmecher commented on #1071
@NateWr, it looks like one of the two integration tests had a hiccough (the other passed). I've restarted the failed test and expect it'll probably complete just fine.

[2016-01-26 16:58] asmecher commented on #1071
@NateWr, I've merged/cherry-picked your PRs above. Leaving the issue open as there's still unaddressed items.

[2016-01-26 17:18] asmecher commented on #983
Looks great, Nate -- just a couple of comments. Can you file the problems you encountered as a separate issue? Agreed that this probably doesn't have anything to do with it.

[2016-01-26 17:20] asmecher commented on #983
Most recent PRs -- @NateWr, make sure you add links when you open these, otherwise it gets tricky to keep track.

https://github.com/pkp/ojs/pull/723
https://github.com/pkp/omp/pull/200
https://github.com/pkp/pkp-lib/pull/1064

[2016-01-26 17:24] asmecher commented on #1070
That's an error; I think the cleanest approach would be for the handler (or form) class to pass a flag into the deeper business logic to send or not send the email, rather than having the business logic get the $request object and work with request parameters directly.

[2016-01-26 17:30] crism commented on #1071
This is great progress. Thanks, @NateWr! I’ll bring up some of your questions and quibbles with our local accessibility SIG, and see what their opinions are.

[2016-01-26 17:57] asmecher commented on #1087
@bozana, would you mind looking at this? It's a short one.

[2016-01-26 18:51] ctgraham commented on #1087
Short, but note the changelog(s) from Crossref:

crossref4.3.6.xsd:

   4.3.5  10/31/14 added rel:program to support deposit of relationships
   4.3.5 (PDF) updated standard_designator and child elements, moved mml:math to xrefFaces to fix problem with depositing mathML and other markup, restricted CrossMark update types to an enumerated list, removed cm_update_label
   4.3.5 (PDF) added <relation

[2016-01-26 18:55] ctgraham commented on #1088
I vote to display the issue with "0" articles listed, and the Register and Export function disabled, if the DOI plugin is not configured to register Issues and no Articles pass the criteria.

[2016-01-26 19:10] bozana commented on #1087
Thanks @ctgraham! I was just and still am researching the changes... :-)

[2016-01-26 19:14] NateWr commented on #877
Once the OMP PR tests pass I'll issue one for OJS.

https://github.com/pkp/omp/pull/201
https://github.com/pkp/omp/pull/202

Here's what it looks like now:

![participants-grid](https://cloud.githubusercontent.com/assets/2306629/12591691/f48c2caa-c460-11e5-8f36-3ecbfba1e42f.png)

[2016-01-26 19:38] NateWr opened #1090 "Reviews don't appear in My Assigned"
Even though I have assigned a user as a reviewer, the review doesn't appear in their "my assigned" queue. Is it possible that this is because the submission is already at the production stage? Can anyone else reproduce this problem?

![reviewer-assigned](https://cloud.githubusercontent.com/assets/2306629/12585315/6d290642-c443-11e5-9cc5-271d793268e9.png)

![reviewer-no-my-assigned](https://cloud.g

[2016-01-26 19:38] NateWr opened #1091 "Create new reviewer: user created but doesn't appear in user grid"
When I use the option to create a new reviewer when assigning a reviewer, the user gets created and can be found in the reviewer selection grid. But the user can not be located in the standard users grid.

![create-reviewer](https://cloud.githubusercontent.com/assets/2306629/12585364/acb9436c-c443-11e5-9caa-6cade1b83d3c.png)

![create-reviewer-not-found](https://cloud.githubusercontent.com/assets/

[2016-01-26 19:39] NateWr commented on #983
Ok the two issues are filed elsewhere now:

#1091 and #1090

[2016-01-26 20:15] bozana commented on #1087
@asmecher , @ctgraham I went though all of the changes and as far as I could see, it is OK. I also tested an issue export.

[2016-01-26 20:54] ctgraham opened #1092 "OAI-PMH interface strips HTML, but leaves HTML entities"
To display record content, OAI-PMH strips the HTML tags via `stripAssocArray()`:
https://github.com/pkp/pkp-lib/blob/a39b1328db9ec06d2902e67b337dc5a63c60a496/includes/functions.inc.php#L331

This, however, just calls strip_tags, and so HTML entities are left intact.  These HTML entities are then (appropriately) escaped for XML output and passed to the client.

If plaintext output is intended for s

[2016-01-26 21:21] asmecher commented on #1087
Thanks, @ctgraham and @bozana -- merged.

@bozana, I don't think this needs to be forward-ported because the CrossRef plugin hasn't been re-adapted to the master branch, correct?

[2016-01-26 22:03] bozana commented on #1087
@asmecher yes, the master branch contains just a very old version... thus, no re-adapting necessary... thanks!!!

[2016-01-26 22:05] asmecher commented on #1087
Thanks, closing!

[2016-01-26 22:05] #1087 closed

[2016-01-26 22:25] asmecher commented on #877
Looks good, Nate. Tweaked a few things (JS linting, etc) and superseded your pulls with...

https://github.com/pkp/pkp-lib/pull/1094
https://github.com/pkp/omp/pull/203
https://github.com/pkp/ojs/pull/724

Tests are ticking along so far (jinx) so will merge.

[2016-01-26 23:09] asmecher commented on #877
All OK. Closing!

[2016-01-26 23:14] asmecher commented on #1057
@ubermichael and @mjordan, does that last PR resolve this issue completely?

[2016-01-27 00:36] asmecher commented on #983
New PRs:

https://github.com/pkp/pkp-lib/pull/1095
https://github.com/pkp/ojs/pull/725
https://github.com/pkp/omp/pull/204

[2016-01-27 00:51] asmecher commented on #983
Merged; closing!

[2016-01-27 00:51] #983 closed

[2016-01-27 00:57] asmecher commented on #1090
@NateWr, can you email me a DB dump so I can look at the exact situation?

[2016-01-27 07:36] bozana commented on #788
Hmmm... The test StaticPagesFunctionalTest::testStaticPages failed but I didn't change that :-O

[2016-01-27 16:20] bozana commented on #1088
@ctgraham, I agree. @asmecher, @jmacgreg: Do you have any concerns regarding this? If not I would solve it this way... :-)

[2016-01-27 16:45] jmacgreg commented on #1088
Sounds good to me!

[2016-01-27 16:50] jmacgreg opened #1096 "JBImages plugin artificially constrains directory upload parameter"
See the "max_upload_dir_size" parameter in the jbimages plugin config.php file (eg. https://github.com/pkp/pkp-lib/blob/ojs-stable-2_4_7/lib/tinymce/jscripts/tiny_mce/plugins/jbimages/config.php#L140). This artificially constrains the amount of space a particular user has to upload images. Should this restriction be in place at all? Or, if it is, maybe remove it for editorial/management staff who

[2016-01-27 17:05] asmecher commented on #788
That one seems to be prone to race conditions. Don't worry about it. If it stays broken for more than a short time I'll look into it.

[2016-01-27 17:06] asmecher commented on #1088
Likewise, @bozana -- you and @ctgraham know this better than I do and your approach sounds logical.

[2016-01-27 17:29] asmecher commented on #788
(When you're ready for review/merge, post the PR URLs here, please! I wish github did this automatically, but...)

[2016-01-27 17:41] asmecher commented on #1096
Some kind of constraint is required because otherwise anyone will be able to register (e.g. as Reader) and then use the JBImages tool to upload arbitrary image content.

[2016-01-27 17:44] jmacgreg commented on #1096
Gotcha - but can the constraint be lifted for editors/JMs?

[2016-01-27 17:52] asmecher commented on #1096
You should be able to edit lib/pkp/lib/tinymce/jscripts/tiny_mce/plugins/jbimages/config.php and change...

    $config['max_upload_dir_size'] = 25000;

...to...

    $config['max_upload_dir_size'] = (Validation::isEditor() || Validation::isJournalManager())?0:25000;

That will mean Editors and Journal Managers will be unlimited; everyone else will get 25MB. (That's totally untested but smells OK

[2016-01-27 18:20] asmecher commented on #1090
@NateWr, when the monograph is published any outstanding reviews will disappear from the reviewer's active queue. Turning off the checkbox...

- [ ] Create a catalog entry for this book based on the metadata below.

...will cause the submission to reapear in the active list.

[2016-01-27 19:20] ctgraham opened #1097 "Escaped HTML is slipping into Crossref exports"
In OJS 2.x, the journal article abstract is being provided as-is in the Crossref export via the jats:abstract/jats:p field.  The result is that escaped HTML is inappropriately being included.  The actual intent of the jats p tag is described here: http://jats.nlm.nih.gov/archiving/tag-library/1.1d1/n-7xd0.html

Proposal: strip the HTML and decode the HTML entities until such time as a robust trans

[2016-01-27 19:23] ctgraham opened #1098 "Crossref / PubMed exports: transform abstract HTML to JATS"
Feature request as exports are being re-written for OJS 3.x: we should be able to transform relevant HTML tags in the abstract to JATS tags for XML exports like Crossref and PubMed Central.

See also: https://github.com/pkp/pkp-lib/issues/1097

[2016-01-27 19:25] ctgraham commented on #1097
Also affects in part the PubMed XML export, so my PR will include that as well.  (PubMed export strips the HTML, but leaves HTML entities double-encoded.)

[2016-01-27 20:42] crism opened #1099 "[OMP] some emails have placeholders unreplaced"
For example, when thanking a reviewer, the reviewer receives this email:
[code]
It appears that `ThankReviewerForm\execute()` never performs substitution on the body of the email. I’m not sure whether `execute()` should be changed, or if the call should be replaced by `send()`.

[2016-01-28 05:20] asmecher opened #1100 "Fix reviewer display of session type"
See http://forum.pkp.sfu.ca/t/how-to-show-submission-type-to-reviewers-in-ocs

[2016-01-28 05:23] #1100 closed

[2016-01-28 12:42] bozana commented on #1088
Hi all ( @ctgraham, @asmecher, @jmacgreg )

I changed the issues display just for the Crossref plug-in for now. Could you please take a look (the commit above and the explanation and images below)?
If OK so, I would change it for DataCite and mEDRA as well.

Now all issues are displayed, but if an issue contains only articles that don't have DOIs, then the actions/functions are not displayed for t

[2016-01-28 14:36] bozana commented on #440
@asmecher when a press is created, admin gets the Press Manager role/group, s.
https://github.com/pkp/omp/blob/master/controllers/grid/admin/press/form/PressSiteSettingsForm.inc.php#L91
https://github.com/pkp/pkp-lib/blob/master/controllers/grid/admin/context/form/ContextSiteSettingsForm.inc.php#l102-L115

Do you maybe think that admin should also get the other managerial roles/groups i.e. Press E

[2016-01-28 15:53] asmecher commented on #1088
If this addresses the original problem with the pager not working, then I'm happy -- I'd rather we didn't invest too much time in 2.4.x changes unless they're clearly bugs.

[2016-01-28 16:12] asmecher commented on #440
I'm nervous about making assumptions about roles and user groups, because these can be customized and if there are several suitable roles we'll have to pick one.

If we made Manager access implicit for Admins, we would be able to remove the current user group assignment. That would decrease ambiguity but would probably lead users to continue operating as Administrator when they actually did want t

[2016-01-28 16:54] asmecher commented on #744
Thanks, @bozana! Merged.

[2016-01-28 16:54] #744 closed

[2016-01-28 17:17] asmecher commented on #1097
Merged; thanks, @ctgraham.

[2016-01-28 17:17] #1097 closed

[2016-01-28 17:19] asmecher commented on #1092
Thanks, @ctgraham!

[2016-01-28 17:19] #1092 closed

[2016-01-28 17:36] asmecher commented on #1090
(I'm OK with the current behavior, at least for 1.2, so closing.)

[2016-01-28 17:36] #1090 closed

[2016-01-28 17:52] asmecher commented on #1063
I'm pretty sure the issue was XML validation. I've fixed a validation problem with the sample XML in OMP master, omp-stable-1_1_1, omp-dev-1_1, and OJS master.

[2016-01-28 17:52] #1063 closed

[2016-01-28 18:18] asmecher commented on #1091
@NateWr, [this stanza](https://github.com/pkp/pkp-lib/blob/master/templates/controllers/grid/users/reviewer/form/createReviewerForm.tpl#L36-L44) should either present a drop-down of potential user groups, or if there's just one, auto-select it via a hidden field. Can you check if that field is appearing, or if the hidden field is instead, on the "create reviewer" form?

[2016-01-28 19:01] asmecher commented on #758
Assigning to @bozana -- I think she and @NateWr were going to hash out a solution here.

[2016-01-29 16:59] #1088 closed

[2016-01-29 16:59] asmecher commented on #1088
Thanks, @bozana & @ctgraham!

[2016-01-29 23:20] #476 closed

[2016-01-29 23:34] asmecher commented on #877
@NateWr, one minor glitch: the dashboard now shows a bullet beside the "New Submission" button.

[2016-01-29 23:50] asmecher commented on #476
![book](https://cloud.githubusercontent.com/assets/200411/12691335/e0c9abac-c69f-11e5-93d8-a35fd3f37a53.png)
@NateWr, let's talk a little about front-end presentation for chapter-based content on Monday. As part of this issue I built out a test to include approvals for a multi-chapter book.

[2016-01-30 00:07] asmecher commented on #1030
@NateWr, can you take a quick look at aaebcfe? Listbuilders that only had one column were missing their delete actions after this PR was merged, so this makes sure that case is handled.

Try out the Chapter edit modal, available from the Monograph tab of the Catalog Entry tool; it has two single-column listbuilders. OTOH a little tweaking is needed for the case where the row is an active dropdown,

[2016-02-01 16:46] NateWr commented on #1090
Yeah of course that makes sense.

[2016-02-01 16:53] NateWr commented on #1091
Yep it's just the hidden field.

![hidden-user-group](https://cloud.githubusercontent.com/assets/2306629/12724002/c6d0cd32-c903-11e5-884e-cb5d5318b8ca.png)

It does look like `nwright` is getting assigned to the External Reviewer group (user group id: 18) in the database. But that's as far as I've looked.

[2016-02-01 16:56] NateWr commented on #758
Just cross-referencing bozana's related PR: https://github.com/pkp/pkp-lib/pull/1065

[2016-02-01 17:16] NateWr commented on #877
Good catch! https://github.com/pkp/pkp-lib/pull/1103

[2016-02-01 17:18] asmecher commented on #1091
Hmm, so the new user does have the user group, but they aren't showing up in the Users grid... Sounds to me like the problem is the users grid, then, not the reviewer creation process. Mind sending me another DB dump?

[2016-02-01 17:19] #877 closed

[2016-02-01 17:37] #1045 closed

[2016-02-01 17:43] NateWr commented on #1030
Good catch. Did some touch-ups in https://github.com/pkp/pkp-lib/pull/1104

Related but not really: https://github.com/pkp/omp/pull/206

[2016-02-01 18:02] #1030 closed

[2016-02-01 19:54] asmecher commented on #1091
The problem was the behavior of SQL `COALESCE(...)` -- when any parameter is `NULL` (as commonly in the case of a result of a `LEFT JOIN`), the returned result is `NULL`. Used `COALESCE(...)` to coerce `NULL` results into empty strings.

[2016-02-01 19:54] #1091 closed

[2016-02-01 19:59] ubermichael commented on #1057
Yes, this issue can be closed. We have one more issue to file for 2.4.8, discovered this morning.

[2016-02-01 20:01] asmecher commented on #1057
Thanks! Awaiting the new one before doing anything rash.

[2016-02-01 20:01] #1057 closed

[2016-02-01 20:09] ubermichael opened #1105 "[OJS] PLN Plugin should check prerequisites on the settings page"
The PLN plugin doesn't report missing prerequisites (like Archive_Tar) to the journal manager anywhere. They're sent to a log file, but it's difficult for some to find.

As of 2.4.8 (or maybe 2.4.7.1), journals won't to enable the plugin if a prerequisite isn't met. But journals before then could have the plugin enabled without the prerequisites. If they upgrade to 2.4.8, the plugin will remain en

[2016-02-01 20:31] ubermichael commented on #1105
I have a patch in the works. The end result looks like this, for missing prereqs.

![missing-at](https://cloud.githubusercontent.com/assets/1328893/12730196/b0f49cd8-c8df-11e5-83ad-3cb2a57646ba.png)

[2016-02-01 22:38] crism opened #1106 "[OMP] Can’t edit contributors to a book"
Against `HEAD`: in the Catalog Entry modal pop-up, on the Monograph tab, contributors can be added and reordered, but there seems to be no way to edit their names, e-mail addresses, roles, or status as primary contact or browse-list presence.

[2016-02-01 22:39] crism commented on #1106
This may be due to badly-constructed HTML; the check-boxes, for instance, have:
[code]
The multiple `div` elements with the same `id` are not valid, nor is the use of `href` on a `div`. This may lead to JavaScript events misfiring… I’m investigating.

[2016-02-01 22:59] asmecher commented on #1106
(Note that this may also be affecting the Chapters grid -- I recently noticed that the category row actions aren't showing.)

[2016-02-01 23:37] asmecher commented on #476
@NateWr, I've cleaned up the Scholar tags; before I send this to Anurag for a quick review it'd be nice to get the PDF display basically cleaned up. I think it's just a matter of porting over a few template details from OJS master.

[2016-02-02 00:31] asmecher commented on #1105
Merged, thanks!

[2016-02-02 00:31] #1105 closed

[2016-02-02 00:31] asmecher commented on #1056
@beghelli, do you have any info on this? It's almost the only thing pending for the 2.4.8 release.

[2016-02-02 11:29] NateWr opened #1108 "DOI suffix required?"
Just flagging this up for someone familiar with DOIs to take a look. I'm getting a required field error on the suffix, but there's no required indicator. And if it's required, I'm not really sure why that radio button is there. The text seems to indicate it's not required.

![doi-suffix-required](https://cloud.githubusercontent.com/assets/2306629/12748137/3e3707b4-c9a0-11e5-9e66-66ecd4824649.png)

[2016-02-02 11:43] NateWr commented on #958
The main blocker for me is that I don't really understand how the data is loaded into the template file and, therefore, how I'm meant to access and retrieve it. I copied over the pub formats data in the templates but doubt their accuracy:

https://github.com/pkp/omp/blob/master/templates/frontend/objects/monograph_full.tpl#L262-L355

This is the main issue in #958. So these are some of the questio

[2016-02-02 12:07] bozana commented on #1108
Hi @NateWr,

The form validation seems not to work quite correctly there: The DOI Suffix setting is required and the press manager can choose one of the 3 radio button options for that. If the first radio button is chosen than the input field from your image should be required i.e. not empty. I think that this validation is happening in the javascript -- not sure if it's possible to solve it diffe

[2016-02-02 12:29] NateWr commented on #1108
Ah, I didn't even realize these were all part of the same field:

![selection_081](https://cloud.githubusercontent.com/assets/2306629/12749298/8cc457f4-c9a7-11e5-9c7f-d94a215e6985.png)

I think you're right that our form validation isn't that smart. I'd suggest that instead of requiring the field, we just use the default syntax if it's empty.

The actual form layout needs some work. It's a real wo

[2016-02-02 12:32] bozana commented on #958
Hi @NateWr,

I can speak for DOI i.e. pub id plugins, the other part I don't know: The code addressing pub ids is https://github.com/pkp/omp/blob/master/templates/frontend/objects/monograph_full.tpl#L324-L339
I.e. the template gets the types of the enabled pub id plugins (at the moment only DOI, but there could be others as well, e.g. URN) and then it looks if the publication format has a pub id a

[2016-02-02 12:53] bozana commented on #1108
OK, I'll try... :-)

[2016-02-02 14:06] NateWr commented on #958
Thanks @bozana. I was able to find the ONIX settings and set an ISBN-13 value. So to summarise:

1. ONIX available but DOI doesn't appear to be shown in OMP yet.

2. Only pub formats in OMP 1.2.

3. ONIX = identifier coders. DOI and other plugins = pub id types.

The existing display is not too bad actually:

![pub-format-identifiers](https://cloud.githubusercontent.com/assets/2306629/12751573/d16

[2016-02-02 14:18] bozana commented on #958
Yes :-)
I believe ISBN and DOI are pretty common and both could exist, s. for example the Complete Book drop-down here http://langsci-press.org/catalog/book/18 or the data under the book cover here http://heiup.uni-heidelberg.de/catalog/book/43. For the others I don't know :-\

[2016-02-02 15:07] NateWr commented on #476
Question regarding SEO on this stuff: should the `viewFile.tpl` template be indexed by Google?

The main issue is duplicate content. We'll somehow need to come up with a title that is unique to every viewed file if the content is indexed. This could end up looking strange, eg: "HTML galley view of This Book Title Is Great".

It would seem to make more sense to me for us to add a `NOINDEX` header t

[2016-02-02 15:45] NateWr commented on #476
I see now you've added the Google Scholar tags to the PDF view, so a `NOINDEX` tag isn't an option there... what if someone doesn't have a PDF view? Are there no Google Scholar tags for them?

[2016-02-02 16:52] asmecher commented on #476
This is the "landing page" requirement that Google has. For an item to be indexed in Google Scholar, it needs its own landing page on which the Google Scholar tags can live. The file contains the content and thus needs to be the indexable unit, so for content to be indexed in Google Scholar it'll need something like the PDF viewer plugin to present it alongside its meta tags. I'll be asking GS to

[2016-02-02 16:57] asmecher commented on #958
This is the ONIX weirdness we were speaking about on Monday. Eventually we'll need to be able to attach identifiers to files, publication formats, submissions, and series -- and maybe more entities too. Limiting the set to less than that is guaranteed to make someone unhappy. But we're not planning to port Bozana's identifier work to OMP until after 1.2, so for now, the current identifier assignme

[2016-02-02 17:02] NateWr commented on #476
Presumably we're not satisfying this requirement for ePub or other formats?

[2016-02-02 17:06] NateWr commented on #476
ok I spent some time with this today and there's a PR:

https://github.com/pkp/omp/pull/207

[2016-02-02 17:07] asmecher commented on #476
Not for downloadable files -- that's something I want to ask Anurag about. But generally I think a solution will be to introduce plugins for other formats too, providing web-based reading interfaces along with a download link.

[2016-02-02 17:10] NateWr commented on #476
Woops, early submit there.

There are a couple of things to consider in that commit:

- I set it up so that a plugin can add a download URL to the template variables, and the default template should provide a link to that.
- There's a JavaScript error in the console now because the theme's stylesheet is loaded with the `Templates::Common::Footer::PageFooter` hook. But the header doesn't load jQuer

[2016-02-02 17:24] asmecher commented on #476
I'd suggest adding jQuery to the file view template. The page size savings will be almost nonexistent (it'll be locally cached from other parts of the system unless they've come directly to the file view from e.g. Google Scholar) and there will likely be utility in having it around.

The viewable file plugins behave a little differently -- we may rationalize them eventually but it's not a huge pri

[2016-02-02 17:25] NateWr opened #1109 "Review SEO-implications of meta tags"
We're currently setting meta tags for `keywords` and `description` in the header of every page on the frontend.

https://github.com/pkp/pkp-lib/blob/master/templates/frontend/components/headerHead.tpl#L16-L17

The `keywords` tag should be removed. It is not used by Google and may be treated as malicious by other search engines, due it's frequent abuse. Here is Matt Cutts from Google explaining:

h

[2016-02-02 17:29] NateWr commented on #476
Ah of course, that makes sense. Pushed one more commit to the PR now to add jQuery in.

[2016-02-02 18:28] crism commented on #1106
The chapters grid has its own handler, but curiously, has an `id` of `authorsGridContainer-...`.

What they may have in common is that the grids are getting set to read-only, which disables a bunch of controls… but I’m still tracing the code, so that’s just a gut guess right now.

[2016-02-02 18:36] asmecher commented on #1106
Just let me know if you want a hand, @crism.

[2016-02-02 19:21] asmecher commented on #1099
Thanks, @crism -- did you see this with any other emails? I suspect it's a one-off.

[2016-02-02 20:10] crism commented on #1106
Why does `PKPAuthorGridHandler` have `editAuthor()` _and_ `updateAuthor()`? That looks suspicious.

Overall, @asmecher, this section of code looks like it wasn’t finished. There are what looks like cut-and-paste errors in both the PHP and the Smarty templates. It might benefit from a review from you.

[2016-02-02 20:14] crism commented on #1099
That was the only one that jumped to our attention… haven’t done a thorough audit, though.

[2016-02-02 20:16] asmecher commented on #1106
@crism, I just ran a quick test and I'm able to edit authors as I'd expect. Maybe something specific to your setup -- would you be able to send me a DB dump along with a few notes on duplicating the problem (e.g. what account you're logged in with, and what submission ID you're looking at)?

[2016-02-02 20:17] asmecher commented on #1099
OK! We'll be testing emails over the next couple of weeks, too -- they haven't received much attention. Please file anything else you spot separately. Thanks for contributing!

[2016-02-02 20:17] #1099 closed

[2016-02-02 20:52] crism commented on #1106
Hm. I thought it might have something to do with the published status of the submission in question, but a different, unpublished submission has the same problem, in both Chrome for Windows and Firefox for Linux. Will try to prepare a database snapshot for you.

[2016-02-02 21:48] asmecher commented on #1106
Thanks, @crism. What's happening is that the grid is deciding you don't have permission to edit authors because you're not assigned to the submission, but in doing a little bit of related clean-up I'm down a rabbit-hole. I'll post a fix once I dig out.

[2016-02-02 22:08] bozana commented on #1108
Hi @NateWr

This is what I've managed:
A) Every radio button is in a form section i.e. with a little bit more space between them:

![doisettingsformbiggerspaces](https://cloud.githubusercontent.com/assets/378421/12765637/dc00ce80-c9ff-11e5-8da8-42ae1de96ece.png)

B) The radio buttons are in one form section and input field in another. The input field has to be in a separate section because also ev

[2016-02-02 22:46] mtub commented on #1081
Done for this release…

[2016-02-02 22:46] #1081 closed

[2016-02-02 22:46] asmecher commented on #1081
Woo! Thanks, Marco.

[2016-02-02 22:49] asmecher commented on #1056
Deferred to 2.4.9.

[2016-02-02 23:31] asmecher commented on #1106
Pulls:
https://github.com/pkp/omp/pull/208
https://github.com/pkp/pkp-lib/pull/1110

This shares a bunch of code that was previously duplicated in OJS and OMP. There were slight differences -- OJS and OMP differed in when they permitted various roles to edit and add authors -- but I don't think those differences were the result of design so much as nearly-parallel evolution.

Bruno, could you have

[2016-02-03 00:02] asmecher commented on #805
Merged/cherry-picked. This removes the footer links and social media code; the footer can be managed through TinyMCE.

@NateWr, I copy/pasted the existing OpenSI footer into the footer field to check that div/ul/li combos are properly supported, and they are, complete with class names for styling. All that would be needed for SI to retain their existing lists in the footer would be to copy them in

[2016-02-03 11:38] NateWr commented on #1070
@asmecher Sorry I'm not entirely clear on your recommendation. Should `SendReviewsForm::_sendReviewMailToAuthor` be removed? Am I meant to be modifying the `saveSendReviews` args [here](https://github.com/pkp/pkp-lib/blob/master/classes/controllers/modals/editorDecision/PKPEditorDecisionHandler.inc.php#L133)? I can't actually find where that function is called. It seems to be set to `EditorDecisio

[2016-02-03 12:53] NateWr commented on #1108
Good work @bozana. The FBV can be a nightmare to work with for things like this. I'd say C is probably best. What do you think?

[2016-02-03 13:54] NateWr commented on #958
Thanks @bozana, armed with that info I've made a couple of adjustments to downloads and pub format information. From the commit message:

format details depending on the number or formats and files. If
a format has only one file, it will display a large download
link with the format named in the link. If a format has multiple
files, it will present an itemized download presentation.

such as pub i

[2016-02-03 13:54] NateWr commented on #958
PR here: https://github.com/pkp/omp/pull/209

[2016-02-03 14:40] NateWr commented on #1067
Ok, I just did a quick pass on the styling and updated the language but it should be good enough for now.

PR: https://github.com/pkp/pkp-lib/pull/1111

[2016-02-03 15:39] NateWr commented on #996
PRs:

https://github.com/pkp/pkp-lib/pull/1112
https://github.com/pkp/ojs/pull/736
https://github.com/pkp/omp/pull/210

These dont' deal with the notifications page, but that's handled in a separate ticket #993.

[2016-02-03 16:10] NateWr commented on #805
Nice to have this stuff gone. I've touched up the styles a bit, removing some cruft, making it look a bit better with no footer, and fixing the `pageFooter` var in OJS. PRs:

https://github.com/pkp/pkp-lib/pull/1113
https://github.com/pkp/ojs/pull/737
https://github.com/pkp/omp/pull/211

[2016-02-03 17:07] NateWr commented on #1032
Ok, I tried again with the docbooks files you sent me, but I'm still getting a 404 error when it tries to load the content.

![help-handler](https://cloud.githubusercontent.com/assets/2306629/12789995/22d7d2d4-ca98-11e5-8bb7-9cc2e37579f4.png)

Here's what I did, maybe you can spot the error:

1. Unpack the gitbook into `/docs/`. So I've got `/docs/manual/en/*.md`.
2. Check out `asmecher/gitbook` f

[2016-02-03 17:27] asmecher commented on #805
Merged, thanks!

[2016-02-03 17:27] #805 closed

[2016-02-03 17:48] MorganGarvin opened #1114 "Changing the maximum upload size - 3.0b"
Hello,

I'm having an issue changing the maximum allowed upload size in the OJS 3.0b. I have the php.ini file set up with post_max_size = 0 (unlimited), upload_max_filesize = 1024M , and memory_limit = 1128M.I have also removed the htaccess file from the tinymce folder.

Files up to about 100MB work however anything over that produces the HTTP error "Upload URL might be wrong or doesn't exist"

Am

[2016-02-03 18:07] asmecher commented on #1032
Hmm, do you have `pages/help/index.php` in your checkout?

[2016-02-03 18:09] asmecher commented on #1114
@MorganGarvin, check your Apache post limit and watch for messages in your error log. Next time, could you post questions like this in our [support forum](http://forum.pkp.sfu.ca/)?

[2016-02-03 18:13] asmecher commented on #1032
BTW, I checked with gitbook and it looks like anonymous checkouts aren't supported. They recommend that we use the github integration to host the manuals repo on github instead.

[2016-02-03 18:42] #1067 closed

[2016-02-03 18:42] #996 closed

[2016-02-03 18:42] #958 closed

[2016-02-03 19:08] MorganGarvin commented on #1114
@asmecher Terribly sorry, I'll move this conversation there!

[2016-02-03 19:38] #1114 closed

[2016-02-04 09:58] NateWr commented on #1032
No, I don't have `pages/help/index.php`. It doesn't appear to be in your `gitbooks` branch either: https://github.com/asmecher/ojs/tree/gitbook/pages

[2016-02-04 11:55] bozana commented on #1108
@NateWr, agree and made a pull request... :-)

[2016-02-04 12:35] bozana commented on #788
@asmecher, ready to merge...
S. https://github.com/pkp/pkp-lib/pull/1065
and
https://github.com/pkp/omp/pull/197

[2016-02-04 14:05] bozana commented on #554
@asmecher, if OK, I would separate this issue into two steps:
1. add ISSNs fields for series + display
2. ISSN wildcard for pub id plugins
?

@NateWr, I added the online and print ISSN fields for the series and I currently display them on the catalog series page just behind the series description, in separate div elements, s:
![seriesissns](https://cloud.githubusercontent.com/assets/378421/1281707

[2016-02-04 14:13] NateWr commented on #554
That's a good place for them @bozana. Can you ping me once the PR goes in and I can test it out and adjust as needed.

On the book page, I'd expect them to be listed alongside other pubIds or identifiers. Are the ISSN's included alongside the other stuff shown in the screenshots on this comment?

https://github.com/pkp/pkp-lib/issues/958#issuecomment-179246777

[2016-02-04 14:17] bozana commented on #554
Hi @NateWr, they belong to a series i.e. would maybe be displayed where the series link is?

[2016-02-04 15:11] ctgraham opened #1116 "setLocale ignores source parameter if HTTP_REFERER exists"
See: http://forum.pkp.sfu.ca/t/ojs-may-be-rejecting-url-from-an-outside-website/7721

OJS 2.x prefers an HTTP_REFERER over the passed in source parameter when switching locales.  If a user specifies the source parameter as a redirect target, it should be honored.

Blindly trusting the HTTP_REFERER is risky.  If the referrer was this OJS system, it makes sense to send the user back to the referring

[2016-02-04 15:28] ctgraham commented on #935
Resolved.

[2016-02-04 15:28] #935 closed

[2016-02-04 17:15] NateWr commented on #554
Ah ok I've had a read over the ticket now. Is it right to hard-code an "online" and "print" ISSN? Shouldn't they instead be attached to pub formats if that's how they are assigned?

Seems like one more edge case for which we're adding very specific and inflexible code. What happens when someone comes along and says they have series ISSNs for PDF, ePub and hardback?

[2016-02-04 17:32] asmecher commented on #554
@NateWr, these ISSNs are for series, not pub formats or submissions. For OMP, someone would normally assign an ISBN (B=book) to the book/chapter/etc., and an ISSN (S=serial) to the series.

[2016-02-04 17:42] mtub commented on #554
Great, a lengthy ISSN discussion :).

IMHO, there are two things to consider:

1. a series that is published in printed form and electronically needs (as in 'required') two ISSNs
2. a series published in different electronic formats (HTML, EPUB...) does not need (as in 'should refrain from doing so') different ISSNs for those publication formats

So having a print and an electronic ISSN sound abou

[2016-02-04 17:57] NateWr commented on #554
Thanks @mtub! That clears up my confusion. If print and electronic are the only two formats ISSN requests then it makes sense to have them this way.

[2016-02-04 18:38] asmecher commented on #1116
@ctgraham, I can't think OTOH of a way to abuse this. It's intended to have the "set locale" operation bounce back to the OJS page it was invoked from.

[2016-02-04 18:40] ctgraham commented on #1116
I don't mean risky in a sense of security.  I mean risky in a sense of unexpected consequences.

I don't think it's an abuse vector... just a WTF vector.

[2016-02-04 18:41] asmecher commented on #1116
Ah, OK. Thanks for the fix!

[2016-02-04 19:08] asmecher commented on #1108
Merged; thanks, @bozana.

[2016-02-04 19:08] #1108 closed

[2016-02-04 19:56] beghelli commented on #1046
Merged #1077

[2016-02-04 19:58] asmecher commented on #1046
Thanks, @beghelli!

[2016-02-04 19:58] #1046 closed

[2016-02-04 20:11] beghelli commented on #1106
Nice clean up! Good to go, I think.

[2016-02-04 20:15] asmecher commented on #1106
OK, thanks.

[2016-02-04 20:17] #1106 closed

[2016-02-04 20:25] asmecher opened #1118 "Ensure PHP7 compatibility"
There's at least 1 compatibility problem: the String class is now a reserved name. Test and ensure compatibility.

[2016-02-04 21:06] bozana commented on #1054
@asmecher, I think you should also add those two email templates into registry/emailTemplates.xml

[2016-02-04 21:09] asmecher commented on #1054
Oh -- let me take a look.

[2016-02-04 21:39] bozana commented on #562
@asmecher, is there a reason why these two select fields start with different numbers:
https://github.com/pkp/pkp-lib/blob/master/controllers/tab/settings/reviewStage/form/PKPReviewStageForm.inc.php#L77-L78
Does "0" make sense?
Shall I make them equal and starting from "1"?
THANKS!!!

[2016-02-04 21:46] asmecher commented on #1118
Things needing doing:

**String class renaming:**
- `find . -type f -name \*.inc.php -exec sed -i -e "s/String::/PKPString::/g" "{}" ";"`
- Edit imports in:
 - lib/pkp/classes/search/SearchHTMLParser.inc.php
 - lib/pkp/classes/core/PKPApplication.inc.php
- Rename lib/pkp/classes/core/String.inc.php and adjust class header etc.

New-by-reference is now a syntax error, even if it's in a conditional

[2016-02-04 22:05] nschloe opened #1119 "REST API"
I would like to be able to retrieve meta data of articles (and possibly their PDF URL) via a REST API in OJS. Does such a thing exist?

[2016-02-04 23:07] asmecher commented on #1119
Hi @nschloe. Could you post this sort of question on our forum at http://forum.pkp.sfu.ca/?

[2016-02-04 23:07] #1119 closed

[2016-02-04 23:34] bozana commented on #562
@asmecher, sorry, one more question :-) The reviewer reminders seem to be different in master and in OJS stable -- in master the manager can define the number of weeks (for the response as well as for the review) and the response due date is immediately calculated and inserted into database. Thus, should the automatic reminder happen X days after this due date? Namely, in OJS stable it happens X d

[2016-02-05 00:03] asmecher commented on #1054
Added. Thanks, @bozana.

[2016-02-05 00:08] bozana commented on #562
@asmecher, sorry, one more question: In OMP master, when I execute runScheduledTasks.php from command line, I get 'strange' URLs in email body, e.g. like: http://localhosttools/index.php/press1/reviewer/submission... i.e. the baseUrl is not correct. In OJS stable I don't have this problem. Any tip/idea where to look...?
THANKS!!!

[2016-02-05 00:12] asmecher commented on #1032
...aaaaaand you're absolutely right. I forgot to add that file. Added now.

[2016-02-05 00:20] asmecher commented on #562
For the reminder ranges: I don't think those defaults had too much thought put into them. Does that form have a way to disable the reminders? If not, there should be one -- probably a checkbox.

For the # of weeks vs. # of days: I don't remember well. Maybe the # of weeks sets the default for the due date, which is presented to the Editor for fine-tuning before it's inserted into the database?

I'

[2016-02-05 00:30] bozana commented on #562
@asmecher, thanks!
1)
-- There is "Never Remind" select option that leads to not sending the emails
-- I will then change those ranges...

2) I decided for reminders in master to be sent after the due date i.e. response due date ;-)

3) I will then ignore this URL issue, make a pull request tomorrow and you could then see if you see something...

OK? :-)

[2016-02-05 00:42] asmecher commented on #562
OK, thanks!

[2016-02-05 04:25] selwyntcy commented on #1099
@asmecher May I ask for direction in email variable handling?

For the above commit 81f4522 on `ThankReviewerForm`, the email variables are resolved just before sending, but not passed to TinyMCE as `FBV_variables`.

But for `EditorDecisionWithEmailForm`, the variable `contextName` got resolved and passed to TinyMCE, while the others are passed as locale strings as placeholders.

Yet, for `Reviewe

[2016-02-05 11:57] bozana commented on #562
@asmecher, guess what! :-) I have one more question :-) I don't have to copy email templates in other languages, in order to provide them, because there will be a translation round for OMP 1.2. and OS 3.0, right?

[2016-02-05 13:48] bozana opened #1121 "Email parameters missing when selecting and unassigning a reviewer"
Some variables in e-mails REVIEW_REQUEST and REVIEW_CANCEL, i.e. when selecting and unassigning a reviewer, are not resolved because the parameters are missing.

[2016-02-05 14:21] bozana commented on #554
@NateWr, I inserted the ISSNs below the series link on the book page, s.:
![bookpageissns](https://cloud.githubusercontent.com/assets/378421/12848697/bc52a9c8-cc1b-11e5-902c-c3b11c6a5fc2.png)

If I can improve/change something, just tell me. Else, I've made a PR and you will maybe style it then differently... :-)

[2016-02-05 14:49] mtub commented on #554
Hi @bozana, what do you think about displaying a warning to the user if the two ISSN numbers are the same?

[2016-02-05 14:49] bozana commented on #554
@asmecher, do you maybe have an idea how to best proceed with the wildcards for the pub id plugins -- the intuitive letters are running out :-) I.e. what to take for ISSNs? %i would work for OMP, but maybe to take something that could be used in OJS too (%i stands there for issues)? Just to randomly take the next letter?
Should there be two place holders, one for the online and one for the print I

[2016-02-05 14:53] bozana commented on #1121
Ah, now I see that there is a similar issue already: https://github.com/pkp/pkp-lib/issues/1099

[2016-02-05 15:05] bozana commented on #554
@mtub, OK :-)

[2016-02-05 15:21] mtub commented on #554
If you adapt this issue to talk about pub id plugins, I might as well continue to add comments to this issue ;) - I am quite skeptical of all these attempts to enable people to put some presumed meaning into their DOI generation. I understand that there are users' demands to have this, but let's not forget that the one important requirement for DOI generation is that it creates unique DOIs. It's i

[2016-02-05 15:33] bozana commented on #554
@mtub, I see, there is no ISSN wildcard need for OJS, but then for OMP, I suppose...

[2016-02-05 15:42] mtub commented on #554
Ok, you got me. OMP is a different case. I tend to stand by my "I don't think it's necessary", but who am I to say sth like that ;)

[2016-02-05 15:51] bozana commented on #554
Of course you can say that! ;-) I am also not sure, but Alec will surely know! :-)))

[2016-02-05 18:47] crism opened #1122 "[OMP] reviewer status is too sticky"
[Using `HEAD` of OMP.] When a user looks at their assignments in the dashboard, if they have ever been a reviewer on a submission, then the action URL is to the reviewer action (_e.g._ `.../reviewer/submission/2`). There is no way (aside from knowing the correct URL) to get to the submission’s actual current state.

[2016-02-05 18:50] crism commented on #1122
This problem appears to trace to `SubmissionsListGridCellProvider::getCellActions()`, specifically:
[code]
Either `$reviewAssignment` should be `null` if the review is finished (which seems inappropriate), or there needs to be additional logic to see if the user has some subsequent role to play with respect to this submission.

[2016-02-05 20:45] crism opened #1123 "[OMP] add support for Web-hosted publication formats"
Currently, an OMP catalog entry lists electronic versions downloadable through OMP, and physical objects that can be sent by other means. We would like to add a third distribution channel: content hosted on the Web, not within OMP. For example, a multimedia Web-native version of a book, or just the HTML edition but hosted by the publisher.

[2016-02-05 20:49] crism commented on #1123
Currently, the distinction between downloadable and physical formats is determined by the `physicalFormat` property of `PublicationFormat`, a Boolean.

One possibility would be to change that to an enumerated property (downloadable, physical, Web-native). This is obviously disruptive, but future-looking.

The other possibility would be to add another Boolean; much less disruptive, but sets a patte

[2016-02-05 20:54] asmecher commented on #1123
There's a similar concept in OJS 2.4.x called "remote galleys"; @bozana can probably point you to some of the OJS 2.x codebase pretty easily if that helps.

[2016-02-05 20:55] crism commented on #1123
@asmecher, that sounds like a pretty good start. Thanks.

[2016-02-06 00:07] asmecher opened #1124 "Add citations to native XML import/export"
See http://forum.pkp.sfu.ca/t/how-to-import-references-by-using-xml/7971 for details.

[2016-02-06 00:16] asmecher commented on #562
Pulls (just to keep things organized):
https://github.com/pkp/omp/pull/215
https://github.com/pkp/pkp-lib/pull/1120

[2016-02-06 00:28] asmecher commented on #554
We could also standardize the variables we're using that they are {$variableName} (as we do in email templates etc.) rather than the %x syntax, which isn't used anywhere else as far as I know.

[2016-02-06 00:38] asmecher commented on #1099
@selwyntcy, the ability to add tags that TinyMCE can work with is relatively new so it hasn't been rolled out everywhere. There's currently a mix of approaches.

Many email variables can be replaced before the email template is presented to the user, as we already know what's going to go into them. I'm ambivalent about whether that's better than exposing them through FBV_variables so that TinyMCE

[2016-02-06 01:09] asmecher commented on #1118
It looks like market share for PHP 7 is currently around 1%, so I'm considering this a non-issue for OJS 2.4.8. Rescheduling for OMP 1.2, and of course for OJS 3.0.

[2016-02-06 19:17] bozana commented on #758
Just to add a note here for the requirement on reviewer recommendation in OJS :-)

[2016-02-08 12:56] bozana commented on #1123
@crism, I found my older post on this topic, maybe it could help: https://pkp.sfu.ca/support/forum/viewtopic.php?f=40&t=10847&hilit=remote+galley+omp

If you would like to see it in OJS 2.4.x, you could take a look at the following:

1. option for the editor:
The new form filed for editors to create a remote galley is in the editing > layout part of an article, s. templates/sectionEditor/submissio

[2016-02-08 13:17] NateWr commented on #554
@bozana Looks good. There is an HTML markup pattern for including sub-sets of label/value pairs in the book details area:

https://github.com/pkp/omp/blob/master/templates/frontend/objects/monograph_full.tpl#L29-L39

If you use that pattern with `sub_item`, you should get the appropriate spacing in place for ISSN's.

I don't put them on the same line because labels can be very different lengths in

[2016-02-08 17:02] NateWr commented on #1032
OK, I've been able to get this up and running now. Just starting to take a look.

There's an issue with locales in the URLs that I wanted to note before forgetting about it. My test installation had `en` and `fr`, resulting in a URL like this:

[code]

The `/` is getting converted to `%2F` [here](https://github.com/asmecher/pkp-lib/blob/gitbook/templates/common/footer.tpl#L35). If I swap out the `

[2016-02-08 18:03] NateWr commented on #1032
I want to raise some concerns around the way that `helpContext` is getting treated as a page-wide attribute. I know that you and Kevin are talking about just having one help doc for each page/workflow stage at this time. I see this as a useful MVP for the help panel, but I think we will want more granular integration so that help topics can be attached to grids and form elements.

I know we've tal

[2016-02-08 19:03] NateWr commented on #1032
@asmecher I went ahead and did a quick conversion over to the technique I suggested, and issued a PR to your repo:

https://github.com/asmecher/pkp-lib/pull/12

Let me know what you think about going this route.

[2016-02-08 22:06] crism opened #1127 "[OMP] Usability testing results"
We role-played a complete publication process, using the latest `HEAD` of OMP, from initial author submission through to publication of a downloadable PDF. This is a list of problems and glitches we found.

I’m filing this one long issue, with the intention of filing separate, smaller issues as I get a better handle on them.

* author submission
 - [x] The initial submission form is intimidating.

[2016-02-08 22:56] crism commented on #1123
Thanks, @bozana; this is helpful. I’m not looking at adding this to OJS 2.4.x, though; rather to the latest-and-greatest OMP (not-yet-1.2), which shares code with OJS 3.0.

[2016-02-09 11:37] nuest commented on #484
I think this is a great idea to make OJS easy to use for newcomers.

Are you aware of any other activities in this area? @asmecher Are there plans to provide an "offical" Dockerfile for OJS?

[2016-02-09 15:14] mfelczak opened #1128 "[OJS] Add highlighting to author's active submissions list"
Provide additional details to authors re: the state of their submission while it's under review. This should reduce the number of emails authors send to editors to ask about their submission.

We can re-use the states and highlighting available to editors in their submission listing, i.e.
- A Reviewer has been assigned but not notified by email
- All Reviewers have returned with their comments, bu

[2016-02-09 17:19] asmecher commented on #484
Hi @nuest! I'm not aware of any Docker work yet, but we do have a Vagrant configuration:
https://github.com/pkp/ojs-vagrant

I'll pass this around the team and see what they think. Meanwhile, I'll leave this open. Thanks for contributing!

[2016-02-09 17:20] asmecher commented on #484
Sorry, hi also to @arturluizbr, and sorry if we missed this entry before @nuest's comment.

[2016-02-09 17:49] asmecher commented on #1032
Thanks, @NateWr -- I'll give this a review after the call.

[2016-02-09 19:31] asmecher commented on #1070
BTW, thanking a reviewer used to be accessed directly from the reviewer grid by clicking the envelope icon. (These icons are long gone but you should have a text action in their place, under the Acknowledged column, once the review has been received and read.)

[2016-02-09 20:14] asmecher commented on #1070
Nate, looking into [your comment](https://github.com/pkp/pkp-lib/issues/1070#issuecomment-175034126):

There are two processes happening here:
- Email sending with an email template (in `EditorDecisionWithEmailForm::_sendReviewMailToAuthor`, invoked from `SendReviewsForm::execute`)
- Notification creation (which sometimes triggers emails) via the saveFormOperation mechanism. The saveFormOperation

[2016-02-09 21:13] asmecher commented on #1050
Thanks, @mfelczak!

[2016-02-09 21:13] #1050 closed

[2016-02-09 21:37] asmecher commented on #1032
@NateWr, your proposed solution is clean and more flexible. Please go for it, per my comment on https://github.com/asmecher/pkp-lib/pull/12.

[2016-02-09 22:23] mfelczak commented on #1128
This may be a good candidate for inclusion into OJS 3.0 as well.

@NateWr, any thoughts on status-based highlighting for the author's submission listing?

[2016-02-10 10:15] bozana commented on #788
S. PR https://github.com/pkp/pkp-lib/pull/1065 and
https://github.com/pkp/omp/pull/197

[2016-02-10 10:36] bozana commented on #554
@NateWr, I changed it, now it looks like this:
![bookpageissns2](https://cloud.githubusercontent.com/assets/378421/12944902/74fa576a-cfea-11e5-9925-cd02d7431274.png)

If it is better now, I will make a new PR... :-)
THANKS!!!

[2016-02-10 12:26] NateWr commented on #1128
@mfelczak I'm in favor of providing status information in the submission grid. I'm not a fan of coloring the background of a row to do this, because:

1. Not accessible to the fully or partially color blind.
2. It's really difficult to find a good set of light colors that are distinct enough.

Also, we have too many states for a coded system of colors or icons. A novice user will need to cross-ref

[2016-02-10 12:36] NateWr commented on #554
Looks great. :+1:

[2016-02-10 15:16] bricas opened #1129 "[OJS] .git file in ojs 2.4.8 patch (plugins/reports/counter/classes/COUNTER)"
Just downloaded the patch from 2.4.7.1 to 2.4.8 and tried to commit the changes to our git repo and hit an issue with the "plugins/reports/counter/classes/COUNTER" directory, and I believe this is why:

[code]

[2016-02-10 16:51] AhemNason opened #1130 "[OJS] Typo in Google Analytics Plugin"
Typo on Google Analytics plugin.

"Leave the site hompage settings as-is"

<img width="832" alt="screenshot 2016-02-10 12 48 43" src="https://cloud.githubusercontent.com/assets/504276/12954425/e7892c20-cff4-11e5-9420-e92fd6f89df3.png">

[2016-02-10 17:32] asmecher commented on #1130
Fixed! Ahem yourself.

[2016-02-10 17:32] #1130 closed

[2016-02-10 18:26] asmecher commented on #788
Excellent -- merged for OJS master, OMP master, and pkp-lib. Thanks, @bozana.

[2016-02-10 18:26] #788 closed

[2016-02-10 18:31] asmecher commented on #1129
@bricas, I've added an exclusion to our build script for that .git file, which is showing up because we're managing that piece of code as a submodule. But generally speaking, why not manage your git repository as a fork of our repositories, so you can use the normal rebase tools rather than applying the patch?

[2016-02-10 18:31] #1129 closed

[2016-02-10 19:01] bricas commented on #1129
@asmecher Thanks for fixing that up.

If i ever get the round tuits required, i'll definitely switch to a straight-up fork.

[2016-02-10 23:41] judgej opened #1131 "[OJS] GET used for changing state of the system"
HTTP GET should *never* change state of the system, because GET URLs can be cached, and fed to administrators who may happen to be logged in using all sorts of hidden techniques.

GET is used throughout this application to change state - to update, delete, add, move items etc. No CSRF tokens are used to prevent these actions from taking place if presented to the browser of an administrator who hap

[2016-02-11 15:58] asmecher commented on #1131
We're aware of this need for strengthening but haven't gotten to it yet. There is a small first step in place to mitigate problems with forms in that we check to ensure that they're submitted via POST, but that doesn't resolve URL-based actions like (most commonly in OJS) re-ordering or deleting items.

We're better positioned to address this systematically in the OMP / OJS 3.0 generation of code,

[2016-02-11 16:02] asmecher commented on #554
Thanks, @bozana! All merged.

[2016-02-11 16:02] #554 closed

[2016-02-11 16:22] asmecher commented on #1127
Thanks, @crism. This will take a little while for us to run through, but I'll pass it by our UI/UX subgroup as a start.

[2016-02-12 13:09] bozana commented on #1121
S. https://github.com/pkp/pkp-lib/pull/1134 for REVIEW_REQUEST

[2016-02-12 20:43] crism commented on #1122
Indeed, it looks like someone started down this road… `$userGroupDao` is created at [`controllers/grid/submissions/SubmissionsListGridCellProvider.inc.php:97`](https://github.com/pkp/pkp-lib/blob/master/controllers/grid/submissions/SubmissionsListGridCellProvider.inc.php#L97), but then never used.

[2016-02-13 00:47] asmecher opened #1135 "Fix Lens reader"
I think the front-end templates have broken it, and the test appears not to test it.

[2016-02-15 08:33] selwyntcy opened #1136 "Author Exposed in Reviewer Dashboard Grid for Double-blind Review"
The last name of a submission's author is exposed in the reviewer dashboard grid for a double-blind review in OJS.

From the screen cap below, the author's last name "ojs3" is shown in front of the submission title.

![author_exposed](https://cloud.githubusercontent.com/assets/13673787/13043150/5719ff46-d401-11e5-8312-891fe16ddbac.png)

[2016-02-15 09:09] selwyntcy commented on #1136
The assigned submission is of the class `Article` instead of `ReviewerSubmission`, and thus it escapes the test for review method in https://github.com/pkp/pkp-lib/blob/cb6fa16ad663618fe2133dc6dec556bb0e8535fa/controllers/grid/submissions/SubmissionsListGridCellProvider.inc.php#L152

[2016-02-15 21:39] crism commented on #1122
Though I think the thing is to look at the round associated with the review; if the round is over, then use `getUrlByUserRoles()`… I’ll try that and see what it does.

[2016-02-15 22:35] crism commented on #1122
That resolves the problem for the multi-role reviewer, but now the reviewer-only gets, “You don’t currently have access to that stage of the workflow.” What’s the correct logic to determine the last stage to which a user had access?

[2016-02-15 22:41] asmecher commented on #1122
I'm not sure if this adequately answers your question, but you should be able to use `$reviewAssignment->getStageId()` to determine what stage the review assignment applies to.

[2016-02-15 22:43] crism commented on #1122
Ah… yes, I’m going to claim that this is fixed; the resulting problem is related to a problem found in #1127, which I’ll file separately.

[2016-02-15 22:43] asmecher opened #1138 "Remove expedited submission process"
Nate's pulls:

https://github.com/pkp/ojs/pull/749
https://github.com/pkp/pkp-lib/pull/1115
https://github.com/pkp/omp/pull/212

My rebases:

https://github.com/pkp/ojs/pull/751
https://github.com/pkp/pkp-lib/pull/1137
https://github.com/pkp/omp/pull/219